[2016-01-23 00:25] ericchiang commented on #19828
Yep. Next steps would be to create a .proto defines a message matching [authorizer.Attributes](https://github.com/kubernetes/kubernetes/blob/6397b781ac68d1e857f379802ba0fcf3ea83cc66/pkg/auth/authorizer/interfaces.go#L25-L60)

[code]

and a service that matches [authorizer.Authorizer](https://github.com/kubernetes/kubernetes/blob/6397b781ac68d1e857f379802ba0fcf3ea83cc66/pkg/auth/authorizer/interfac

[2016-01-23 00:25] thockin commented on #20021
I was going to add better logs, but the only place I can see that might
have produced this log already has good logs, but they are not included in
this issue.

On Fri, Jan 22, 2016 at 4:21 PM, Tim Hockin <thockin@google.com> wrote:

[2016-01-23 00:26] lavalamp commented on #19467
Should be fixed now that #20007 has merged.

[2016-01-23 00:26] #19467 closed

[2016-01-23 00:27] lavalamp commented on #20031
I'm pretty sure this is a dup, let me find the one it's a dup of...

[2016-01-23 00:28] philips commented on #19828
This seems straightforward enough to just start building the proof of concept PR. I assume this would just rely on TLS auth between the services?

[2016-01-23 00:28] lavalamp commented on #20031
Oh, I was thinking of #19466, but this seems to be different.

[2016-01-23 00:29] cjcullen commented on #19986
Ok. So we think we have the heapster flakes, versioning stuff, and kube-proxy stuff all taken care of elsewhere?

I'm fine with targeting this issue at the "node doesn't come back after reboot" case. Is that what you were recommending?

[2016-01-23 00:33] lavalamp commented on #20031
Even though this is a different test, it's a very similar test. I'd bet it has the same root cause. @ncdc, what do you think?

Here's a more complete stack trace:

[code]

[2016-01-23 00:36] dchen1107 commented on #19986
Yes.
1) heapster in crashloop if backend is not ready is a known issue for a while, and fix is merged to heapster repositry for a while. We just need to upgrade our heapster after more testing (PR: #20029)

2) influxdb one requires more information, but we can handle them through #19189

3) version screw is handled by test-infra through #8705. @ihmccreery already added test/flake label for it

4)

[2016-01-23 00:36] ixdy commented on #19252
@lavalamp those two are older builds, using `gcr.io/google_containers/kubekins-test:0.5`, which didn't have netcat yet.

[2016-01-23 00:37] dchen1107 commented on #20021
I prioritize this as P1 for triage. Thanks for taking care of this.

[2016-01-23 00:37] erictune commented on #18549
Okay, after talking to an OIDC expert at my company, I feel much better about this plan.

The token checking cost can be reduced by caching approved encoded tokens at the RP; the cost of putting the JWT in the header every time is not too bad, and can be reduced in the (distant) future via HPACK header compression; it is only hitting the IdP hourly per user -- the validation cost paid by the the R

[2016-01-23 00:39] lavalamp commented on #19252
@ixdy ah thanks!

[2016-01-23 00:41] lavalamp commented on #18914
I'll remove the test.

[2016-01-23 00:43] gopinatht commented on #11684
@chuckbutler Thanks :)...

[2016-01-23 00:47] yujuhong commented on #20021
There is a possibility that node controller changed the pod to be not ready and kubelet never recovers (corrects the status) from that. In that case, it will have nothing to do with the kube-proxy test.

The lack of useful kubelet.log makes it hard to debug. We should increase the log level of a gke cluster.

[2016-01-23 00:48] philips commented on #18549
@erictune To be 100% explicit the plan that you are LGTM'ing is the original plan here: https://github.com/kubernetes/kubernetes/issues/18549#issuecomment-164538118

[2016-01-23 00:49] cjcullen commented on #19986
@dchen1107, where else should I be looking for hints on why that VM didn't come back to life until I kicked it? Or did I destroy any evidence we might have had?

[2016-01-23 00:52] cjcullen commented on #12179
#19314 will address this (no more 6-minute drops).

[2016-01-23 00:53] zmerlynn commented on #19986
Fun fact: I thought this might be related the timing of when I made the ContainerVM change on the GKE side, but I made that change for all releases > 1.1.4. That picks up this test suite, too, because it's at `1.1.5-beta`, and it's green: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-1.1/

So this is a divergence from master to 1.1, or between projects.

[2016-01-23 00:56] cjcullen commented on #19986
That test does not run any reboot tests...

[2016-01-23 00:57] hongchaodeng commented on #20011
I tried reverting it and then ran Kubemark density test. The system still gets stuck at 5k pods.

[2016-01-23 00:57] hyperbolic2346 commented on #19937
Thank you both for your help. I'll look over these guides and head to stack overflow if I still have issues.

[2016-01-23 00:57] zmerlynn commented on #19986
Dammit, I thought I scanned for that. Good call. We need to fix that.

[2016-01-23 01:00] cjcullen commented on #19986
Here's the set of suites that run the reboot tests (thanks @spxtr):
kubernetes-e2e-gce
kubernetes-e2e-gce-reboot
kubernetes-e2e-gke-ci
kubernetes-e2e-gke-ci-reboot

[2016-01-23 01:01] liggitt commented on #18549
I'm still unsure of making a CLI login command assume a browser-only login flow. I'd like to do it such a way that other auth methods (basic or negotiate challenges) could be used as well. I'd also want to reach agreement on the question of how the token gets from the browser back to the CLI

[2016-01-23 01:02] dchen1107 commented on #19986
Shouldn't we decided only X-reboot test suites run those reboot tests since they are disruptive?

[2016-01-23 01:05] zmerlynn commented on #19986
Hm. `kubernetes-e2e-gke-ci-reboot` builds 6478-6480 are all green and all after the ContainerVM change, so we're looking for something else.

[2016-01-23 01:06] philips commented on #18549
@liggitt I assumed that `kubectl login` would do the browser login flow based on configuration. Not that it would be the only option ever.

[2016-01-23 01:07] bobbyrullo commented on #18549
Maybe for this proposal we can put aside the question of how the refresh token gets into kubectl. That's a very nice-to-have convenience, but for the moment I'm ok with the user placing them in the file themselves.

[2016-01-23 01:07] cjcullen commented on #19986
The container-vm change was merged at [10:05PM PST](https://github.com/kubernetes/kubernetes/pull/19957#event-522591801), which lines up with kubernetes-e2e-gke-ci-reboot 6481 (the beginning of the failures).

[2016-01-23 01:08] yujuhong commented on #19986
6481 http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci-reboot/6481/ is the one with the new containervm change. It includes kubernetes-build/7822, which has the change.

[2016-01-23 01:09] zmerlynn commented on #19986
@cjcullen / @yujuhong: That's the OSS side change, which is irrelevant. GKE flipped at 19:45:55.

[2016-01-23 01:14] ihmccreery opened #20047 "Make #19061 backward-compatible"
When running the new `release/build-official-release.sh` against `release-1.1`, I get:

[code]

The `build` make target didn't exist in `v1.1`, so that's a problem:

- [ ] Add a comment that `make release` is the *de facto* way to build a release, and one shouldn't add anything else
- [ ] Figure out a good workaround

xref #19061.

[2016-01-23 01:16] erictune commented on #18549
@philips yes, ok to the original plan, assuming we can agree on a way for this approach to coexist with the Openshift approach.

The Openshift solution is pretty general purpose, and I hope you've taken a close look at it.  But, I get that there is a desire to try multiple auth approaches.

[2016-01-23 01:17] freehan commented on #20021
@yujuhong  I have a PR to test that case. Some of the Reboot tests will cause pods to be marked as notready. Based on my observation, the recovery usually takes around 1 minute after node comes back.

[2016-01-23 01:18] ericchiang commented on #19828
:+1: will do

Yes. An authz service seems sensitive enough to want to restrict access to it. The API server will load a TLS cert from disk and perform client auth for the gRPC request.

[2016-01-23 01:18] cjcullen commented on #19986
Ahhh. Fair enough.

[2016-01-23 01:24] bprashanth opened #20048 "Nodecontroller reassigns CIDR of first node on restart"
If the node controller ever restarts (like we do periodically in the daemon restart test, https://github.com/kubernetes/kubernetes/issues/19023) it will reassign the CIDR of the first node. This can cause all sorts of problems like docker and container restart, pod phase changing etc.

This code seems to be at fault:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecont

[2016-01-23 01:24] pmoncadaisla commented on #19457
@thockin nice!

I did the annotation mode:

[code]

and restarted kube-proxy.

How do I make sure that it is running on iptables mode?

[2016-01-23 01:28] erictune commented on #19049
@davidopp : does kubelet have to run a shell script to determine the number of units of the resource that are free?  Or can it do resource math across all the containers it sees scheduled to it?

@Hui-Zhi As I understand it, GPUs (or at least most) do not support preemptive multitasking.  So, I don't see the benefit of the weight approach.

[2016-01-23 01:29] bobbyrullo commented on #18549
@erictune: I've looked at #17440 and the also the OpenShift UAA docs, but it's not clear to me from #17440 which stuff is getting upstreamed; from what I can see here the main that happens is that a bunch of integration points are added to core k8s, and OpenShift UAA is added as a sort of reference implementation. Is that correct, @liggitt?

[2016-01-23 01:34] zmerlynn commented on #19986
Actually, @cjcullen and I just determined that the GKE-side change didn't make it out until 01:45:44, it looks like, so indeed nothing to do with ContainerVM.

[2016-01-23 01:43] pmoncadaisla commented on #19457
I saw this in the log:

[code]

It tried to start on iptables mode, then some error came one, and I don't know if it continued on iptables mode or not.

[2016-01-23 01:47] bprashanth commented on #19254
Just happened on:
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/9a75794fd6ecb3a0df037c17a8d74d2a2b8af6ad/kubernetes-pull-test-unit-integration/10583/

[code]

[2016-01-23 01:56] cjcullen commented on #20048
This also confused me. #17754 added this (which I was looking at because it broke node CIDR allocation on GKE).

It looks like #17754 was trying to get rid of the old behavior where we recalculated all possible node CIDR ranges every time a new node showed up. I think the new code just made things unnecessarily complicated. We should be able to generate a list of CIDRs at startup (whether 1st star

[2016-01-23 01:58] davidopp commented on #19049
I don't see how to avoid something that's fully general like a shell script. You can't get usage out of the container description; you need to pull it out of the kernel somehow. For reporting capacity, you always need something fully general. At least I do not have a better idea.

[2016-01-23 02:13] justinsb commented on #17059
I think so @brendandburns :-)

I believe that #15675 tracks the idea that we should prefer to connect to a pod on the same node or same zone (we now have label information for zones, so it's much more practical but this was deliberately out of scope for Ubernetes-Lite at least in 1.2); it sounds like #14484 is the right place to discuss RC affinity.

On Ubernetes-Lite itself, the last PR is #19995

[2016-01-23 02:14] magicwang-cn commented on #18266
@lavalamp i mean if the resource version is [setted](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/reflector.go#L236), even though the watch() [failed with too old resource version](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L251-L254), the list() still [reads data from cache](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/c

[2016-01-23 02:40] dalanlan commented on #17753
Oddly it happened to me every time i tried to reproduce.
This is how it goes early this morning. Nothing changed though.
[code]

[2016-01-23 02:41] bprashanth commented on #19497
I think the safest way to proceed would be to ditch ports for now. How about?
[code]
Serving insecurely/bocking/redirecting :80 and frontend port are conveyed via annotation. This gives the loadbalancer controller freedom to apply its default policy in the absense of the annotation and/or a tls section.

[2016-01-23 02:50] dalanlan commented on #17558
@bgrant0607 Liveness probes would not fit in after i dug it up. The best thing we could ask for is to look up by ip. Since it's not gonna supported as i can foresee, we finally decided to cache pod/ip pair in etcd and turns to it for help everytime before we tried to make an api call (which might not be a good solution, i' ll admit).

[2016-01-23 03:16] pmorie commented on #20017
+1 to this, do we want to have separate tag and sha fields?

[2016-01-23 03:43] AdoHe commented on #19775
I am happy to do this if possible.

[2016-01-23 04:04] derekwaynecarr opened #20051 "Explore ability to improve namespace deletion performance"
The `Namespace` deletion process is complex and requires orchestration.
- `DELETE` `Namespace` marks it as `Terminating`
- controller observes `Terminating` `Namespace`
  - for each `Kind`
  - LIST `Kind`
  - DELETE `Kind` item by item

For `Event` objects we added support for `DELETE_COLLECTION`.  This operation does not reduce the number of operations to `etcd`, but it can reduce the number of r

[2016-01-23 04:38] #20008 closed

[2016-01-23 04:52] #14484 closed

[2016-01-23 04:52] davidopp commented on #17059
actually #18265

[2016-01-23 04:55] zmerlynn commented on #19986
I took a more careful look at the serial output @cjcullen pasted, and this is interesting:
[code]

We're actually in the middle of a clean shutdown, trying to unmount `aufs` and failing. This same stacktrace repeats every 120s.

[2016-01-23 04:59] davidopp commented on #19999
I got what I believe is a different flake in hack/test-cmd.sh
[code]

[2016-01-23 05:36] bgrant0607 commented on #18450
In general, we should do rolling update by the failure domains pods are spread by.

To clarify: these pods are communicating via shared memory? How? Why not put all the containers in the same pod? I don't see how this would work without hard affinity #18265.

[2016-01-23 05:37] bgrant0607 commented on #18751
cc @kubernetes/kubectl

[2016-01-23 05:40] bgrant0607 commented on #19279
Thanks @AdoHe. Closing in favor of #12231.

[2016-01-23 05:40] #19279 closed

[2016-01-23 05:42] bgrant0607 commented on #19859
Yes, our intent is to make them consistent, except for maybe ReplicationController, which has backward-compatibility constraints.

cc @janetkuo @madhusudancs @mikedanese @erictune

[2016-01-23 05:43] bgrant0607 commented on #19781
Of course, it can't be bigger than what etcd supports, so I'm fine with putting that hard limit in.

[2016-01-23 05:51] bgrant0607 commented on #19575
The stringData proposal is different from how anything works today.

What's the problem with the subresource? That seems analogous to server-side template substitution.

[2016-01-23 05:57] bgrant0607 commented on #18428
I believe that an empty status section is added when the Node object is created. The other information is filled in asynchronously. In the case that Kubelet self-registers, much of the information may be there, but there are so many cluster configurations that I hesitate to claim that will always be the case.

Anyway, what Nikhil wrote is correct. Since we use the same schema for all operations, w

[2016-01-23 05:57] #18428 closed

[2016-01-23 05:58] bgrant0607 commented on #18009
cc @ncdc

[2016-01-23 05:59] bgrant0607 commented on #18009
Yes, we intend to deprecate top-level prefixes like /proxy, /watch, etc.

[2016-01-23 06:00] bgrant0607 commented on #17859
Ref #8190

[2016-01-23 06:01] bgrant0607 commented on #17484
cc @derekwaynecarr

[2016-01-23 06:03] bgrant0607 commented on #17705
We don't need a new phase for this. It sounds like the information is already available, but not displayed.

[2016-01-23 06:06] magicwang-cn commented on #20015
/cc @magicwang-cn

[2016-01-23 06:06] bgrant0607 commented on #16976
SGTM

[2016-01-23 06:09] #16218 closed

[2016-01-23 06:09] davidopp commented on #20048
@gmarek is out for a week. Let's just revert #17754.

[2016-01-23 06:27] magicwang-cn commented on #19989
/cc @kevin-wangzefeng @Hardy Simple

[2016-01-23 06:41] bgrant0607 commented on #19639
Sounds like a bug. Are you interested in taking a look @AdoHe?

[2016-01-23 06:43] bgrant0607 commented on #18937
cc @zmerlynn

[2016-01-23 06:47] bgrant0607 commented on #17631
See also #17632

[2016-01-23 06:55] bgrant0607 commented on #17447
Service catalog is vaguely related: #17543

[2016-01-23 07:16] davidopp commented on #20011
OK I'll close #18452; thanks for testing. It would be great if you guys can try to track down what caused the regression. Marek and Wojtekt are out all next week.

[2016-01-23 07:17] davidopp commented on #20011
Oops, I forgot I had manually merged 18452. I'll un-revert later.

[2016-01-23 07:33] hongchaodeng commented on #20011
Hi @davidopp ,
Sure. I will dig into Kubemark and figure out what stuck.

[2016-01-23 07:47] roberthbailey commented on #19845
@danielschonfeld I'll take a look on Monday when I'm back in the office.

[2016-01-23 08:05] erictune commented on #19049
We only need to report usage if we want to overcommit a resource.  If the resource can only be used in a guaranteed fashion, then I guess a script is not needed?  I think gpu and all the other use cases i can think of fit the guaranteed only model.

[2016-01-23 08:11] thockin commented on #11204
#19389 is a partial fix, but not complete (should be a list eventually)

[2016-01-23 08:13] thockin commented on #17084
I don't think kubelet should add that rule, I think the AWS provisioning should.  In fact, the MASQUERADE rule in question, probably should be, too.  It's just so specific to a particular installation.

[2016-01-23 08:18] thockin commented on #19457
Looks like iptables to me :)

[2016-01-23 13:00] AdoHe commented on #19639
@bgrant0607 sure I will take a look during this weekend.

[2016-01-23 13:17] sebplorenz commented on #17911
Same problem.
@AXGKl thx for sharing your solution.

[2016-01-23 13:22] ramonrue commented on #19989
Can I somehow use an alpha-version of the hyperkube-container?
Tried with gcr.io/google_containers/hyperkube:v1.2.0-alpha.1 to alpha.6, but I always got "Tag not found".
Also I'm wondering;
#18628 says that the commit got merged into kubernetes:master, but I can't find it. I also can't find it in all alpha-versions, just in Tree a09d85b the feature seems to be implemented.
And that's why I'm wonde

[2016-01-23 13:34] mqliang opened #20056 "update-codecgen.sh generate nest api folder"
[code]

***/pkg/api/api/api/v1/types.generated.go*** should be `/pkg/api/v1/types.generated.go`, and
***/pkg/api/api/api/types.generated.go*** should be `./pkg/api/types.generated.go`

[2016-01-23 15:12] zmerlynn commented on #18937
This example has been completely rewritten in `master` (1.2), see https://github.com/kubernetes/kubernetes/tree/master/examples/spark, and the Docker image sources have been moved to https://github.com/kubernetes/application-images/tree/master/spark as well.

[2016-01-23 15:13] ArtfulCoder commented on #20048
Even in the old code, is the CIDR allocation actually stable ?
When a node is added/deleted, existing nodes should not have their CIDR ranges changed.

Sent from my iPhone

[2016-01-23 15:32] #19552 closed

[2016-01-23 15:32] #19908 closed

[2016-01-23 15:34] #18914 closed

[2016-01-23 15:38] ArtfulCoder commented on #20048
yeah, i read the code, and reverting should keep the cidr allocations stable..

[2016-01-23 17:06] ramonrue commented on #19989
Okay I think I did it.
First I downloaded the source code of the Tree a09d85b on a CentOS System.
With ```make``` I created the packages and then copied the ```"kube-apiserver"``` under ```./_output/local/bin/linux/amd64/``` to the CoreOS-Master-Servers (the apiservers).
I started the kubelet normally (with the v1.1.2 Containers) and copied the kube-apiserver executable to the root-directory of th

[2016-01-23 17:06] #19989 closed

[2016-01-23 17:55] zmerlynn commented on #19986
I spun up an e2e cluster and with minimal testing have a node in the state of https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174141729. It's the same kernel hang on shutdown.

[2016-01-23 18:38] zmerlynn commented on #19986
Okay, so I've confirmed that at the build level at http://kubekins.dls.corp.google.com/job/kubernetes-build/7822/, I can spin up a GKE cluster and reboot tests fail. I'm going to peel back to http://kubekins.dls.corp.google.com/job/kubernetes-build/7819 and see if they pass (because that matches http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10420/).

[2016-01-23 19:33] zmerlynn commented on #19986
Okay, I was able to get one pass at 7819, and one fail at 7822. I'm retrying at 7819 in case my method (which only runs two tests) is flakey, and now examining those builds with more gusto.

[2016-01-23 19:50] zmerlynn commented on #19986
For my next test, I'm peeling back to v1.1.4. We have no test coverage on reboots on the release branch of GKE right now, and I just want to guarantee this isn't some weird GCE hypervisor issue.

[2016-01-23 20:31] MikaelCluseau commented on #19766
I need to check which part is responsible of what, but what if the hairpin package was just a utility package that should be called the plugin if it needs to set this up? As long as it is single and simple function call, doing so would avoid adding extra logic here and fix the issue. This is valid only if the aim is to have a "linux bridge plugin", an "OVS plugin", etc.

[2016-01-23 20:38] MikaelCluseau commented on #13375
@AdoHe Thank for letting me know, I put my thoughts where they apply :-)

[2016-01-23 21:27] zmerlynn commented on #19986
This failed quickly on v1.1.5. Hrm. I'm wondering if my v1.1.4 test was a fluke, peeling back to try it there again. v1.1.5 only differs by ContainerVM, but all of our other timelines show that not being directly related. (Alternately, it's a lot easier on the newer kernel.)

[2016-01-23 21:35] pwais commented on #19765
I tried k8s 1.1.4 and the problem remains.   @alex-mohr where exactly is socat being called? how can I fix this?

[2016-01-23 21:44] cpwais commented on #19071
also seeing this issue

[2016-01-23 21:45] pwais commented on #19071
also seeing this issue

[2016-01-23 21:49] pwais commented on #19098
The example also mentions v6 while the pod confs use v7.  @fabianofranz could you please have somebody at Google figure out maintenance for this example? See also #19071 .  I've tried this example at various times over the past few months and you are consistently shipping broken software here.

[2016-01-23 22:41] zmerlynn commented on #19986
`v1.1.4` was very solid. I'm now trying `v1.1.5-beta.0` on GKE test. This is a GKE unique thing, because after Friday morning at 1am, anything >= `v1.1.4` will get deployed using the new ContainerVM. So I'm ret-conning a way to effectively try `v1.1.4` with the new ContainerVM, just to see if it's a contributing factor. It doesn't look like it *should* be.

One of the other commits in the `v1.1.4.

[2016-01-23 22:58] PAStheLoD opened #20058 "single-node restart: setup-files.sh generates new cert, breaking containers with "the old" ca.crt files"
Hello,

This might be rather unimportant, especially if single-node deployments are not meant to be durable at all, but I think fixing it is easy, and it'd help with developing things for/on a local node. (Especially with a containerized hyperkube, which is very easy to "turn up".)

If my assessment is correct, the problem is that killing all docker containers and then restarting the kubelet conta

[2016-01-23 23:11] davidopp commented on #12744
@mikedanese did you do the copy paste yet? If not I can probably do it. Let me know.

[2016-01-23 23:51] zmerlynn commented on #19986
Bad news bears: `v1.1.5-beta.0` failed reboot tests. I'm having trouble rectifying this information with what we know about the timeline. But it does suggest there's a problem with ContainerVM at the very least, so there might be *two* problems here, so I'm rolling one back on GKE and we'll see what happens.

[2016-01-24 00:01] eliaslevy commented on #17084
@thockin it can be done in a provisioning step, which is I do right now.  But one could also argue that it should be within a networking plugin, which is executed by kubelet to initialize the node.  This is only necessary if you are using AWS native networking, so it could be reasonably included in an AWS native networking plugin.

[2016-01-24 01:45] krancour commented on #9718
@justinsb, thanks for the info!  Got it.

[2016-01-24 01:56] zmerlynn commented on #19986
I've manually confirmed that by reverting deployment of `container-vm-v20160121` on GKE, I can run reboot tests at `v1.1.5-beta.0` and a latest `master` build. Using a special build of latest `master` that will still trigger deployment of `container-vm-v20160121`, reboot tests fail.

Well, damn.

[2016-01-24 01:57] zmerlynn commented on #19986
GKE has been repushed and should, in theory, go back green soon. There's a lot I don't understand about this bug, and it's effectively going to stop us shipping `v1.1.5` and `container-vm-v20160121` until we can figure it out.

[2016-01-24 02:18] AdoHe commented on #13375
@MikaelCluseau Ok, I will take a look and try to find a better solution.

[2016-01-24 03:12] mqliang commented on #18140
https://github.com/kubernetes/kubernetes/pull/18820 has been merged. This could be closed.

[2016-01-24 03:12] #18140 closed

[2016-01-24 03:26] mqliang opened #20060 "Delete() methods in some client of resource have DeleteOptions parameter, but some have not"
I notice that `Delete()` methods in some client of resource have a `DeleteOptions` parameter, but some have not

resource client which has a  `Delete()` methods with a `DeleteOptions` parameter
* Deployment
* HorizontalPodAutoscaler
* Job
* Ingress
* Event
* PodTemplates

resource client which has a  `Delete()` methods ***without*** a `DeleteOptions` parameter

* Deamonset
* Endpoint
* LimitRange

[2016-01-24 04:38] macropin commented on #19980
@kelseyhightower

You're right, it was not bootstrapped with `--service-account-private-key-file=` I followed  http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html and ran the three docker commands there. As far as I can see that spawns a "controller-manager" container automatically, but the entry point does not have that set.

[code]

So where exactly should I be setting `--service-a

[2016-01-24 04:47] mikedanese commented on #12744
@davidopp I did this last week but still need to performance test and write tests. Just sent out a WIP pr #20061

[2016-01-24 04:49] pmoncadaisla commented on #19457
I have to say that after restarting kube-proxy in iptables mode, CPU is stable:

![seleccion_292](https://cloud.githubusercontent.com/assets/1449482/12534539/2f5d3018-c25e-11e5-8203-343fc6a7a6b4.png)

This feature is a must!

Thanks team!

[2016-01-24 05:08] mqliang commented on #20060
BTW, I think we should add `DeleteCollection()` in all client, which could use to delete all the source in a namespace, it's very helpful in NamespaceController. Currently, NamespaceController will list all the source in a namespace and delete one by one, which is very inefficiency.

[2016-01-24 05:40] zmerlynn commented on #19986
Okay, that was I think that reverting `container-vm-v20160121` was not all that's necessary. We unfortunately haven't managed to collect a green on `kubernetes-e2e-gke-ci-reboot` yet. That gives me some comfort, because it means that the timeline-discomfort I had previously was founded.

[2016-01-24 05:43] zmerlynn commented on #19986
Heh, I lied and right right writing that we collected our first one. Woo. I suspect `gke-ci` will follow soon.

[2016-01-24 07:23] nicluo commented on #8019
@rmohr Thanks! Worked for me

[2016-01-24 08:25] luxas commented on #19980
@macropin This is fixed on `master`, and `hyperkube-amd64:v1.2.0-alpha.6` includes these commands (for the `docker` guide). Try to upgrade your version.

[2016-01-24 10:11] davidopp opened #20064 "Make it easier for users to understand the reason for scheduling decisions and pending pods"
I was debating whether to file separate issues, but they're similar enough that one issue is probably better.

(1) Make it easier for users to understand the reason for scheduling decisions. For example, when a pod is scheduled, attach an annotation to it with something like this (suggested by @brendandburns )

[code]

Also possibly add a kubectl porcelain command to easily fetch this information

[2016-01-24 11:15] gmarek commented on #19986
Haven't we updated go to 1.5 on Friday as well? I don't know if we use the same version of go for GKE as we do in GKE, but in general we know it causes trouble.
cc @mwielgus @piosz for Heapster thing.

[2016-01-24 15:08] zmerlynn commented on #19986
@gmarek: The timeline there is off, too. The golang1.5.3 PR went in at http://kubekins.dls.corp.google.com/job/kubernetes-build/7830/, which is well after the trouble started.

[2016-01-24 15:14] zmerlynn commented on #19986
Morning status: Looks like we made `kubernetes-e2e-gke-ci-reboot` a little greener, and didn't touch `kubernetes-e2e-gke-ci`, so the patient had two viruses.

[2016-01-24 15:16] rvrignaud commented on #18502
I just deleted all the problematic services and recreated them with loadBalancerIP specified in the service definition.
This seems to fix my problem (no events anymore).

[2016-01-24 15:33] danielschonfeld commented on #19845
thanks @roberthbailey

[2016-01-24 15:48] justinsb opened #20068 "Test results "Slow Test" not meaningful?"
Is the "slow test" result for e2e tests meaningful?  It seems it fires even for tests which take < 10 seconds, which doesn't seem particularly slow for integration tests.

Alternatively, I'm running the tests on AWS; are the tests really that much faster on GCE? :-)

[2016-01-24 16:59] rvrignaud commented on #19904
Hi @yujuhong,

I'm the user who created the GKE support ticket. I increased probe timeout and I didn't got the issue anymore.
So except the misleading error message this seems to work correctly.

Thanks for your help.
Regards

[2016-01-24 17:36] bgrant0607 commented on #20060
cc @smarterclayton @lavalamp

[2016-01-24 17:38] smarterclayton commented on #19575
Primarily we have no way to express a subresource in the cli or in
config files.  I think this is something we want in config files.  We
could simply support a virtual resource that fronts the secret (a new
top level resource like StringSecret) which is saved as secret, but I
don't know that is a pattern I'd want to start now.

[2016-01-24 17:40] bgrant0607 commented on #20060
AFAIK, the only resource that actually uses DeleteOptions currently is Pod, which isn't in either of your lists. The others are either cargo-culting or future-proofing.

[2016-01-24 17:45] bgrant0607 commented on #19475
I'm against MAGIC_NAME. The whole point of using field paths was to use something principled and not completely ad hoc, creating another, undiscoverable API surface.

[2016-01-24 18:04] thockin commented on #19475
We have magic names now, they just happen to be field paths, but only a
select few hand-chosen field paths.

We should either generalize or stop pretending otherwise, was my point.
On Jan 24, 2016 9:45 AM, "Brian Grant" <notifications@github.com> wrote:

[2016-01-24 18:19] pmorie commented on #13690
@dchen1107 No progress to report, I'm looking at it now, though.

[2016-01-24 18:49] mikedanese commented on #20006
#20024 is merged but we can leave open for a day or two to make sure.

[2016-01-24 18:57] smarterclayton commented on #20060
DeleteOptions per type doesn't scale (or make for an easy to use API).
I think we just need to have the correct pattern for specialized types
(we have everything we need today to support this, except the actual
accept multiple types).  After all, most of these parameters are
likely "advanced" and with well chosen defaults PodDeleteOptions
simplifies to DeleteOptions.

[2016-01-24 20:19] zmerlynn commented on #19986
Okay, this is my suspicion, but I can't quite piece together what's going on: For some reason, something in http://kubekins.dls.corp.google.com/job/kubernetes-build/7820/ (#19963? but that busted the Heapster config, so it's confusing me as to *why*), caused this. I'm basing this on:
* the timeline of http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/
* the timeline of http://kubekins.

[2016-01-24 20:35] luxas opened #20070 "apiserver proxy: no endpoints available error if Service.spec.ports[*].name is specified"
Hello everyone!
I noticed this strange behaviour today when I was trying to connect to my service via the `apiserver proxy`:
[code]
[code]

But when I deleted the `Service.spec.ports[*].name` field, it worked as it should:
[code]
[code]

Is this a known bug? Or is it made this way "by design"?
This also makes services with two or more ports inaccessible via apiserver proxy
@ArtfulCoder @thockin

[2016-01-24 21:35] therc commented on #14713
As a Django-specific workaround, you can use the downward API to get your pod's IP into a variable (https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/downward-api.md), then at runtime add that to ALLOWED_HOSTS.

What does it take to get this fixed? It's an API change: do we need a sacrifical lamb for the API gods, on top of any PRs? Is it too late for 1.2?

[2016-01-24 22:01] therc commented on #13226
This should at least be better documented. The [guide](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/liveness/README.md) mentions `host` just briefly, with some very contorted syntax. And it also talks about setting it to `127.0.0.1`, which only makes sense for pods with `hostNetwork = true` — right?

If you took away the ability to manually set the Host: header from the int

[2016-01-24 22:31] davidopp commented on #20058
@fgrzadkowski

[2016-01-24 22:32] davidopp commented on #20056
I believe this was fixed by #19768. Please reopen this issue if you disagree.

[2016-01-24 22:32] #20056 closed

[2016-01-24 22:51] davidopp commented on #17456
@zmerlynn

[2016-01-24 23:34] davidopp commented on #19729
cc/ @thockin

[2016-01-24 23:40] davidopp commented on #19525
So is the idea that #19970 will fix this?

[2016-01-25 00:11] davidopp commented on #19345
@robszumski @aaronlevy @bcwaldon any thoughts?

[2016-01-25 00:12] davidopp commented on #19095
@kubernetes/autoscaling

[2016-01-25 00:13] davidopp commented on #19095
This is labeled as v1.2 -- is there actually something to do for 1.2 here?

[2016-01-25 00:19] macropin commented on #19980
So following the guide for master/1.2.0-alpha.6, I've run the following:

[code]
 NB: the guide calls for running `gcr.io/google_containers/hyperkube:v${K8S_VERSION}` so the docs might need an update.

After waiting a minute or two.. I've found that setup failed:
[code]

And API server dies due to `basic_auth.csv` issue...

[code]

etcd also dies with a permissions error
[code]
And then `controlle

[2016-01-25 00:24] macropin commented on #19980
Looks like most of the errors above were caused by `selinux` being enabled. I've disabled and now the only failure is the api server

[code]

[2016-01-25 00:42] davidopp commented on #18955
@brendandburns

[2016-01-25 00:43] davidopp commented on #18955
#16593 ?

[2016-01-25 00:44] davidopp commented on #19124
cc/ @gmarek

[2016-01-25 00:48] bprashanth commented on #19525
Yes

[2016-01-25 01:06] zmerlynn commented on #19986
Oh. It *is* Heapster. I spun up a 7819 cluster and a 7820 cluster, and the difference is that even though #19963 still had slightly busted Salt syntax, it was functional enough to bring the RC back, whereas on 7819, there's no Heapster *at all*.

So I think the Heapster flapping is entirely the cause of the remaining issues, so we really need to get #20029 in ASAP.

[2016-01-25 01:21] macropin commented on #19980
I've manually generated `/srv/kubernetes/server.key` and `/srv/kubernetes/server.crt` on the host. And now the API server runs (eventually). On the first start it dies with an error variously about either `ca.crt` or `basic_auth.csv`. I'm not sure what's going on here, but for sure `selinux` is an issue. At a guess I'd say there's a race condition with the autogeneration of credentials.

[2016-01-25 01:22] thockin commented on #19729
Like many of these reports - there is not enough log here to do anything with.  Error messages in this area have already been improved this week.  Can wee get a re-run?

[2016-01-25 01:22] mdaniel opened #20073 "sed -i in build/common.sh fails on OSX"
The change in #19990 caused `make quick-release` to fail on OSX because the [sed](https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/sed.1.html) on OSX mandates a value, even if zero length, for the `-i` option - unlike [sed](http://manpages.ubuntu.com/manpages/trusty/en/man1/sed.1.html) on Linux.

[code]

There seems to be precedent for requiring `gsed` in `build

[2016-01-25 01:32] xinxiaogang opened #20075 "Why upstream choose Salt as the configuration management tool?"
I can see that upstream uses Salt as the configuration manager for installing and configuring k8s cluster. Just want to know more on the decision making story:
- What's the major factor for choosing Salt?
- Is there any other tool such as fleet considered? If so, who not use fleet or some else?
- Is Salt scalability tested in k8s' scenario? Say, 500 ~ 1000+ nodes?

[2016-01-25 02:00] xinxiaogang commented on #19831
Is `ConfigMap` a open source config management tool? Can you provide more information about `ConfigMap` ?

[2016-01-25 02:01] magicwang-cn commented on #20064
@HardySimpson

[2016-01-25 02:37] therc commented on #19049
https://github.com/NVIDIA/nvidia-docker/wiki has two ways of running containers, using either a wrapper around the docker command or by running a Docker plugin (which exposes both devices and volumes).

I'm assuming the latter is more relevant to us. It exposes [a lot of device specs and status information, including affinity](https://github.com/NVIDIA/nvidia-docker/blob/master/tools/src/nvidia-do

[2016-01-25 03:48] thockin commented on #20075
Why?  It was what someone on the team knew how to do and we needed it done
ASAP.  It has grown a little out of hand since then.
On Jan 24, 2016 5:32 PM, "Xiaogang Xin" <notifications@github.com> wrote:

[2016-01-25 04:33] AdoHe commented on #19639
@bgrant0607 @ghodss I think the root cause is [here](https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.5/pkg/util/strategicpatch/patch.go#L479-L482), the `dataStruct` actually is `info.VersionedObject`, in the origin `FileVisitor.StreamVisitor`, `VersionedObject` is not `nil`, but after the `FlattenListVisitor`, this object is nil. Would you like to double check this?

[2016-01-25 04:35] AdoHe commented on #19873
@erictune Ok, I will add this feature first, then add suggest next command feature.

[2016-01-25 04:36] AdoHe commented on #19775
@bgrant0607 should we add this feature?

[2016-01-25 04:49] hongchaodeng commented on #20011
I have done the following and found some evidence:

- First of all, it's not only the scheduler that "look" stuck. Scheduler stuck at scheduling, meanwhile scheduled pods also stuck in being run.
- When Kubemark got stuck, I checked api server metrics. Both rest request and scheduler metrics look normal.
- Finally, I checked in the scheduler log. I found the following:
[code]
- Then I print out ho

[2016-01-25 04:59] AdoHe commented on #19766
@MikaelCluseau actually kubelet will call `hairpin.SetUpContainer` after `networkPlugin.SetUpPod` get called, I think to make the network plugin can call hairpin package is not that easy, of course, I agree that network plugin should setup hairpin mode if it really needs, kubelet should not set hairpin mode unilaterally. Besides, kubelet is not going to provide an "linux bridge plugin" or "OVS plu

[2016-01-25 05:03] hongchaodeng commented on #20011
More info:
The scheduler gets node info from [here](https://github.com/kubernetes/kubernetes/blob/080cb60dab7dcdddf22bd658b8f443b2fd2af1b9/plugin/pkg/scheduler/factory/factory.go#L215).
It's basically a cache store that uses reflector to watch and update changes.

[2016-01-25 05:06] MikaelCluseau commented on #19766
@AdoHe then the validity conditions of my comment are not met, so I see any simpler way. Thanks for checking! :)

[2016-01-25 05:07] AdoHe commented on #19766
@MikaelCluseau still what do you think about disable hairpin completely and leave this to network plugin?

[2016-01-25 05:11] AdoHe commented on #19766
@MikaelCluseau or if there is a custom network plugin, we don't setup hairpin mode, only do this in default.

[2016-01-25 05:11] MikaelCluseau commented on #19766
Completely? It will break my use case (and anyone using Apache Kafka).

[2016-01-25 05:13] AdoHe commented on #18868
@vishh kindly ping.

[2016-01-25 05:15] MikaelCluseau commented on #19766
Only by default is what I understood from the previous comments, and LGTM.

[2016-01-25 05:16] AdoHe commented on #19766
@MikaelCluseau Really sorry about that, but I really want to know are you using a kubelet network plugin in your use case? If no, I think we will still setup hairpin, as in default we will do this.

[2016-01-25 05:23] erictune commented on #19873
sounds good.

On Sun, Jan 24, 2016 at 8:36 PM, TonyAdo <notifications@github.com> wrote:

[2016-01-25 05:41] MikaelCluseau commented on #19766
I don't use any plugin, so it is ok if hairpin is set up by default.

[2016-01-25 05:56] thockin commented on #19831
ConfigMap is a new structure in our API that can be watched or can be
projected into files via a volume.

On Sun, Jan 24, 2016 at 6:00 PM, Xiaogang Xin <notifications@github.com>
wrote:

[2016-01-25 06:01] thockin commented on #14713
I would endorse a patch to add a `hostHeader string` field or a more
generic `httpHeaders map[string]string` field.  This is a great opportunity
for a community contribution.  If you hurry it could even make it into 1.2
release

On Sun, Jan 24, 2016 at 1:35 PM, Rudi C <notifications@github.com> wrote:

[2016-01-25 06:02] thockin commented on #13226
Yeah, the semantic of host is "obvious" to non-web people, and surprising
to web people.  I don't think we can change this behavior, but we can add
new behavior.

#14713

On Sun, Jan 24, 2016 at 2:02 PM, Rudi C <notifications@github.com> wrote:

[2016-01-25 06:02] thockin commented on #13226
We could also try to deprecate the existing implementation - it seems very marginally useful...

[2016-01-25 06:03] thockin commented on #13226
Closing in favor of #14713

[2016-01-25 06:03] #13226 closed

[2016-01-25 06:04] thockin commented on #20070
When you name a port in the API, you have to name it on the proxy.

`curl -sSL localhost:8080/api/v1/proxy/namespaces/default/services/foobar:foo`

I would accept a patch to default to the first port if only one port is defined.

[2016-01-25 06:04] #20070 closed

[2016-01-25 06:07] thockin commented on #17084
If there were an AWS-specific plugin, sure, but that feels like the wrong
granularity for a plugin.

On Sat, Jan 23, 2016 at 4:01 PM, Elias Levy <notifications@github.com>
wrote:

[2016-01-25 06:19] thockin commented on #19497
If I understand correctly, SGTM.  Move forward now, evolve later

On Fri, Jan 22, 2016 at 6:42 PM, Prashanth B <notifications@github.com>
wrote:

[2016-01-25 06:24] thockin commented on #17753
Earlier you proved that the container image has an sh, but not that the
running container does.  If you `docker exec` into the running container
(that you just got logs from), what do you get (`docker run
-ti k8s_healthz.c07114d4_kube-dns-v10-561kw_kube-system_efff8e1e-c178-11e5-b497-f8bc1298bf7c_47d0a499
sh` in this example).

If you just `docker kill` that container, does it come back as working

[2016-01-25 06:31] bgrant0607 commented on #8476
I'm leaning towards NAME, for its conciseness and for uniformity.

[2016-01-25 06:31] bgrant0607 commented on #19775
@AdoHe I do agree that it makes sense to move containers, images, and selector to `-o wide`.

We should make other controllers similar. Job, for instance.

At the same time, we might as well change the handful of non-conforming column headers to NAME -- #8476.

cc @janetkuo @erictune @madhusudancs

[2016-01-25 06:32] dalanlan commented on #17753
[code]

[2016-01-25 06:34] dalanlan commented on #17753
The image is fine, yet the container built on it fails to enclose `sh` -- this doesn't make sense to me:-/
And restarting the container doesn't help.

[2016-01-25 06:40] bgrant0607 commented on #9057
Dupe of #7483

[2016-01-25 06:40] #9057 closed

[2016-01-25 06:40] bgrant0607 commented on #7483
Adding this to Deployment - #20009

[2016-01-25 06:45] thockin commented on #17753
Try to `docker rmi` the image and force a re-pull?

or try `docker diff` on it?

On Sun, Jan 24, 2016 at 10:35 PM, Emma He <notifications@github.com> wrote:

[2016-01-25 06:59] thockin opened #20077 "kubectl edit comment has a golang printf error"
`%!s(func(runtime.Object) (string, error)=0x4ab560) hostnames was not valid:`

%s should be %v, I guess.

[2016-01-25 07:00] AdoHe commented on #19766
@MikaelCluseau ok, I think this will not break your use case.

[2016-01-25 07:01] thockin opened #20078 "Can't abort kubectl edit"
I am running `kubectl edit` against an object.  I make a mistake, and it reopens (nice) with comments (nice).  I decide I don't want to edit, after all.  How do I abort?  In most scenarios, exiting without save or deleting all contents would trigger the process to abort.  Not so in kubectl.

[2016-01-25 07:08] luxas commented on #20070
Thanks. I'll see if I'll submit a patch that defaults to the first named port if there's only one in the future.

But the [documentation](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/accessing-the-cluster.md#manually-constructing-apiserver-proxy-urls) should be updated. I'll send a patch for that soon.

[2016-01-25 07:08] dalanlan commented on #17753
I've re-pulled the image several times and got the same result every time. Something might go wrong though.
And i suspected that i might get it wrong to believe there exists an `sh` in the $PATH of exec-healthz image.
This is the dir for a running healthz container which apparently doesn't enclose an `sh`
[code]
Since it's expected to be built on the base of [busybox](https://github.com/kubernetes

[2016-01-25 07:09] Hui-Zhi commented on #19049
nvidia-smi tool can get all the information we want, but if you run nvidia-smi inside container and container only be assigned 1 GPU, the tool could only show 1 GPU's information.

"the weight" I think may could let scheduler knows how many containers we could assign to 1 GPU.

[2016-01-25 07:09] mateeyow opened #20079 "--add-host support"
Is it possible to have a command adding host to a kubernetes pod the same as docker's `docker run --add-host host.local:122.125.51.1`?

[2016-01-25 07:18] thockin commented on #20070
Thanks!

On Sun, Jan 24, 2016 at 11:08 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-01-25 07:20] magicwang-cn commented on #19637
@timothysc yes. I am happy to do this work. any suggestion?

[2016-01-25 07:24] thockin commented on #17753
That is VERRRRRY odd.  If you delete the pod (and maybe repeat until it
lands on a new node) and check the new node, is it better?

On Sun, Jan 24, 2016 at 11:08 PM, Emma He <notifications@github.com> wrote:

[2016-01-25 07:54] dalanlan commented on #17753
The image is compromised without doubt, which has nothing to do with k8s.
What bothers me is that docker doesn't take care of this:-/
Thank you soooo much for your time, and i'm closing it.

[2016-01-25 07:54] #17753 closed

[2016-01-25 09:18] haizaar opened #20082 "Add Kubernetes cluster name to instance metadata and the container environment"
Good day.

It would be beneficial to have Kubernetes cluster name available through instance metadata (when running on GKE), as an environment variable, or both.

The use case: In case of multiple instances of an application are running, each in it's own (development) cluster, the application needs to pull developer-specific configuration according to it's cluster name. For example, it my applicat

[2016-01-25 09:37] piosz opened #20084 "Fix and re-enable cluster autoscaling e2e"
disabled in #20083

[2016-01-25 09:58] AdoHe commented on #19873
@erictune guess `kubectl get pods -l run=myrunname` should be `kubectl logs pods -l run=myrunname`, the pods is really necessary here?

[2016-01-25 11:22] piosz commented on #19896
The suite started failing. I'm investigating the problem.

[2016-01-25 11:29] piosz commented on #19095
Closing as dupe of #18528

[2016-01-25 11:58] madhavij opened #20086 "kubectl get nodes : the server could not find the requested resource"
Got the following error while running Kubernetes locally via Docker on the following step:
kubectl get nodes

[2016-01-25 12:10] xied75 commented on #13776
:100: Since kubectl aligns subcommands with docker, a 'cp' is definitely needed for everyday life, so that DevOps can still have some hair left. With 'cp' ability lots of problems can be solved with it, e.g. a gitrepo volume mount is no longer needed as many people use it to just get hold of some conf file, also the genius usage of k8s Secret for the same purpose.

Given we can do "kubectl exec <c

[2016-01-25 12:35] #19095 closed

[2016-01-25 12:52] danwinship commented on #19766
It's not really the network plugin that needs hairpin_mode though, it's the pure-iptables-based kube-proxy code. It's possible the proxying code could change again in the future in such a way that hairpin_mode wouldn't be needed any more. So it seems wrong to put that code into the plugin. #19490 makes it so that we set hairpin_mode on the veth if it's attached to a bridge, but just silently do no

[2016-01-25 13:32] piosz commented on #18826
The list of work items:
- [ ] support for new client in Heapster
- [ ] bump Heapster and Influxdb version
- [ ] update godeps
- [ ] migrate InitialResources to use new client (and initial_resources e2e)
- [ ] migrate monitoring e2e test

[2016-01-25 13:37] harobed opened #20088 "ERROR: Failed to run install_fedora_deps()!!! with Vagrant Quick Start method"
Hi,

I try Kubernetes with [« Getting started with Vagrant »](http://kubernetes.io/v1.1/docs/getting-started-guides/vagrant.html) but I've this error after

[code]

[code]

I've did a mistake ?

[2016-01-25 13:45] fuggersbergerdavid commented on #20088
i get the same error! Made a post on stackoverflow just a few min ago :) http://stackoverflow.com/questions/34993716/failed-to-run-install-fedora-deps-when-starting-up-local-kubernetes-cluster

[2016-01-25 13:50] johanhaleby commented on #13776
I would also be interested in this. My use case is that I've created/edited a file locally I and want to copy it to a pod that has a Google Persistent Disk attached to it.

[2016-01-25 13:57] #14816 closed

[2016-01-25 14:05] fabianofranz commented on #19098
This should be @mwielgus or @brendandburns. ^^

[2016-01-25 14:06] jsravn commented on #19619
We noticed this as well. However it is worse than just a warning, it can lead to load balancers failing to create at all.

`isEqualIPPermission` looks broken to me. How can this line ever pass when you have more than one load balancer/service?

[code]

This is used in `updateInstanceSecurityGroupsForLoadBalancer`, which tries to add a single security group to the nodes' security group. It creates

[2016-01-25 14:13] jsravn commented on #19619
To be more specific, when retrieving `IpPermission` objects on the instances, aws seems to group all of the k8s elb security groups into a single IpPermission with an array of `UserIdGroupPairs`. If I'm reading the code right, it seems to assume that there will only be a single group pair.

[code]

[2016-01-25 14:31] timothysc commented on #20012
Ideally I would like to execute ~=density on a single node to measure memory.

/cc @kubernetes/sig-scalability

[2016-01-25 14:34] piosz commented on #18528
To summarize the discussion here:
 1. HPA requires two changes
  - `spec.cpuUtilization.targetPercentage` to `spec.targetCPUUtilizationPercentage` #18527
  - `scaleRef` -> `scaleTargetRef`
 1. HPA with mentioned changes will be ready for GA
 1. SubresourceReference will include `apiVersion`, `kind` and `name`
 1. SubresourceReference will be ready for GA
 1. SubresourceReference should be renamed

[2016-01-25 14:34] liggitt commented on #15592
@smarterclayton we're picking this up in a rebase now... I'm not super-happy about letting skydns be an open resolver... were you ok with this change?

[2016-01-25 14:38] jsravn commented on #19619
So `isEqualIPPermission` causes it to fail to revoke the SG as well, which leads to the dangling SGs.

[2016-01-25 14:39] liggitt commented on #18528
I'm -1 on multi-stage nested paths... differentiating between subresources which use those (e.g. scale), subresources which do not (e.g. all others), and subresources with additional subpaths (e.g. proxy) will be extremely difficult, especially at the outer boundaries for things like authorization which happen outside the web service routes set up by api_installer.go

[2016-01-25 14:42] timothysc commented on #19655
I'll leave this open until patches are merged, I think @ingvagabund is on the right track.

[2016-01-25 14:46] willmore commented on #20088
We encountered same issue on `1.1.4`.

[2016-01-25 14:50] ae6rt commented on #15592
I've lost track of what the conclusion has been here, but I rely on skydns calling on other nameservers in resolv.conf to resolve a name skydns cannot natively resolve.  iow, skydns acts like a recursive nameserver, providing answers for which it is authoritative when it can, and otherwise querying the other nameservers in resolv.conf when it cannot.  Is that changing?

[2016-01-25 14:54] liggitt commented on #15592
Which resolv.conf? If I understand https://github.com/kubernetes/kubernetes/pull/18089 correctly, the resolv.conf on the nodes is now ignored, and it assumes skydns is running in open resolver mode.

[2016-01-25 14:55] willmore commented on #18955
Yes - I strongly believe this is the same issue as #16593.
The fix appears to be in #16641.

Closing as a duplicate.

[2016-01-25 14:55] #18955 closed

[2016-01-25 15:08] liggitt opened #20090 "clusterDNS broken with DNS servers without recursive lookup"
https://github.com/kubernetes/kubernetes/pull/18089 changed the behavior of resolv.conf inside containers to not append the node's host nameservers when clusterDNS is specified. That assumes the nameserver pointed to by clusterDNS does recursive lookups for domains outside the cluster (e.g. github.com, google.com). That is not a valid assumption to make, and should be guarded by a config option.

[2016-01-25 15:09] ae6rt commented on #15592
The "which resolv.conf" is the resolv.conf in the container, which up to now-ish been including not only the skydns IP but also nameservers in resolv.conf from the node.

I have apps I'm deploying into Kubernetes that conventionally do lookups on dependencies with names like a.b.example.com.  skydns does not know how to solve those names, but the node nameservers do.  My experience is that I canno

[2016-01-25 15:13] errordeveloper commented on #19309
@AdoHe I am already using these, but that doesn't resolve the bug as it stands.

[2016-01-25 15:13] pmorie commented on #19622
Just a recap of what's been done to debug this:

1.  Verify the secret e2e fails on the affected system
2.  Recreate container bind-mounting a tmpfs from host, we could see files present in the tmpfs mount in the container
3.  Checked the docker metadata, verified the bind-mounts are to/from the correct location
4.  Checked the kubelet log - no problems with the mount.

[2016-01-25 15:15] liggitt commented on #15592
Right, I think https://github.com/kubernetes/kubernetes/pull/18089 removed the node's nameservers from the container's resolv.conf. Opened https://github.com/kubernetes/kubernetes/issues/20090 to fix the issue.

Yes, it attempts to answer for all domains by contacting other nameservers for domains it doesn't know about.

[2016-01-25 15:17] sosiouxme commented on #15592
An open resolver is any DNS server on the internet that returns answers for
domains for which it isn't authoritative. If SkyDNS is recursively asking
upstream nameservers for answers to queries about domains outside
.cluster.local and passing them on, and doing so within reach of the
internet, it's an open resolver.

On Mon, Jan 25, 2016 at 10:10 AM, Mark Petrovic <notifications@github.com>
wrote:

[2016-01-25 15:27] derekwaynecarr commented on #17484
This use case would be solved via:
https://github.com/kubernetes/kubernetes/pull/19761

That proposal adds a `FieldSelector` that can scope a quota.  In this case, you would write a quota document that targets services with a specific `spec.type`.  I will add this as a use case to that proposal.

[2016-01-25 15:29] jsravn opened #20091 "Fix 1.1.4 release notes"
Hello, can you guys update the 1.1.3 release notes so it's the same as all prior release notes? That is, each fix has a link to the PR/issue and the contributor name. Not sure why it was skipped on 1.1.3.

Cheers

[2016-01-25 15:34] erictune commented on #19873
Correct, thanks.  Fixed my comment above.

[2016-01-25 15:36] zmerlynn commented on #19986
So yesterday afternoon I was wondering why build 7820 triggered such a large regression when, say, the bump to heapster in #19649 didn't regress us at all. Build 7820 finally let the the fix in #19535, which was actually important because GKE at HEAD wasn't deploying `NUM_NODES` (until last night), it was deploying only `NUM_MINIONS`, so the pillar wasn't configured. I'm still not exactly sure wha

[2016-01-25 15:40] erictune commented on #19775
+1

[2016-01-25 15:49] deads2k commented on #18528
If you eliminate `subresource` as a field (which I'm fine with), does this become any different than `ObjectReference`?

I'd also prefer to have just `resource/scale` as opposed to an additional sub-api path.

[2016-01-25 15:50] jdef commented on #489
cherry-picked into https://github.com/mesosphere/kubernetes/pull/55

[2016-01-25 16:08] timothysc commented on #13690
@pmorie latest results can be viewed here: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/  - you would probably want to grok the last 10 to gleen meaningful info.

[2016-01-25 16:13] matthiasr opened #20092 "NodePort allocation conflates TCP and UDP"
Consider a service like

[code]

The API refuses to accept this service, stating

It works fine without `nodePort`. It works when using _different_ ports. The iptables rules installed (in `--proxy-mode=iptables` mode) are TCP/UDP specific.

I'm not sure if this is deliberate but not well documented, or a bug? I don't see a reason not to allow a UDP and TCP node port to have the same number.

[2016-01-25 16:15] matthiasr commented on #20092
For context, I am trying to make the cluster DNS available to legacy systems with a bit of forwarding, and DNS really really wants to have UDP _and_ TCP on the _same_ port number.

[2016-01-25 16:17] liggitt commented on #18528
Will conversions handle taking the v1beta1 version to the renamed v1 fields?

[2016-01-25 16:25] AdoHe commented on #19309
@errordeveloper can you past your apiserver options here? I will check this as soon as I can.

[2016-01-25 16:28] AdoHe commented on #19873
@erictune clearly, I will add this feature implementation.

[2016-01-25 16:29] erictune commented on #15985
Closed by #18876

[2016-01-25 16:37] pmorie commented on #13690
@dchen1107 I wasn't able to reproduce this in my own GCE cluster and it doesn't look like it's failed in the last 10 runs -- do you have a suggestion for what the decision plane should be before we close this?  15 runs? 20 runs?

[2016-01-25 16:40] erictune commented on #19873
Sounds good.  You own this issue.  I'll assign to myself for tracking purposes.

[2016-01-25 16:43] AdoHe commented on #20092
@matthiasr what is your kubernetes version?

[2016-01-25 16:44] AdoHe commented on #20086
no context, please provide more detailed information.

[2016-01-25 16:45] AdoHe commented on #20090
I think so, this should be guarded by a config option.

[2016-01-25 16:54] zmerlynn commented on #19986
Er, correction to my last comment. My `NUM_NODES` change didn't make it out last night and won't be relevant until http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10449/ . The green is a fluke. Sad panda.

[2016-01-25 17:00] matthiasr commented on #20092
This is on 1.1.4. From a quick reading of the code [in master](https://github.com/kubernetes/kubernetes/tree/99f301d0b7e8a4c1cbf5c787d412970acb245695/pkg/registry/service/) this hasn't changed though.

[2016-01-25 17:21] kargakis commented on #17168
rollout pause/resume PR: https://github.com/kubernetes/kubernetes/pull/20087

[2016-01-25 17:23] piosz commented on #19986
PR #19535 introduced syntax error, PR #19963 fixed the error although it introduced another syntax issue which was finally fixed in #19984. @zmerlynn if you are testing anything make sure you are using version with #19984 merged.

I agree with https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174079481
https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-174079921
th

[2016-01-25 17:27] bgrant0607 commented on #19299
I didn't see any failures over the weekend.

[2016-01-25 17:29] dchen1107 commented on #19898
@erictune Can you take a look at this one? Looks like it is an expected failure since ConfigureCBR0 is not done yet. But the node is up for a while, and reboot tests are not included in parallel build. Could be some kernel panic, then the node rebooted?

[2016-01-25 17:39] lavalamp commented on #19779
@roberthbailey to delegate-- who owns route controller? Is it @cjcullen?

...but if the leak is because e.g. the suite timed out and the cluster was unceremoniously destroyed, that seems like a test infra problem. @ixdy

[2016-01-25 17:40] lavalamp commented on #20028
@thockin to delegate

[2016-01-25 17:41] lavalamp commented on #20027
@thockin to delegate. Possibly same root cause as #20028?

[2016-01-25 17:42] lavalamp commented on #20026
@thockin to delegate. Possibly same root cause as #20028?

[2016-01-25 17:42] lavalamp commented on #19924
@ixdy?

[2016-01-25 17:48] zmerlynn commented on #19986
@piosz: Yes, I understand that #19984 fixed the issue fully, but at build 7820 the cluster that's created actually spins up a cluster with a replication controller .yaml with `300mi` resources. At build 7819, it doesn't. The syntax in #19963 is busted, but it's apparently not *so* busted. Previous to #19963, in build 7819 (and builds previous), there was no controller .yaml at all, so there was a

[2016-01-25 17:48] robszumski commented on #19345
The guides that we (CoreOS) are maintaining are under this heading https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos.md#official-coreos-guides.

I'm not sure that the UI add on is installed by default with that guide, however. Can you start this pod via kubectl, @bitsofinfo?

[2016-01-25 17:50] ihmccreery commented on #19924
Closing at duplicate of #18980, feel free to reopen if that's wrong.

[2016-01-25 17:50] #19924 closed

[2016-01-25 17:52] bgrant0607 commented on #19854
(d) SGTM

[2016-01-25 17:56] roberthbailey commented on #19779
Thanks @lavalamp -- I just wanted to make sure that this wasn't a duplicate of https://github.com/kubernetes/kubernetes/issues/13515 before diving in. I'll take a look at the script to make sure it works properly against GKE clusters.

[2016-01-25 17:57] dchen1107 opened #20096 "Mitigate impact of unregister_netdevice kernel race"
kubernetes-soak-continuous-e2e-gce-1.1 is timeout since Jan 18:

[code]

[2016-01-25 18:01] ihmccreery commented on #15176
#16236 is closed.  @saad-ali can you drive this?

[2016-01-25 18:05] piosz commented on #19986
The syntax in #19963 is correct from Salt point of view, although the generated file has empty line in the begging and was not accepted by Api Server, so the RC is not created.

[2016-01-25 18:06] thockin commented on #19466
Any chance to get some love on test flakes this week?  The 1.2 release is going to block on test flakiness.

[2016-01-25 18:08] thockin commented on #19953
Saad, how deep is your queue?

[2016-01-25 18:08] yujuhong commented on #20096
Similar to #19118, the node is in a bad state, potentially due to https://github.com/docker/docker/issues/5618
[code]

[2016-01-25 18:11] quinton-hoole commented on #13690
There are no failures in our CI history, which goes back only 50 runs, unfortunately.
So it's definitely much, much better than when this issue was reported.
I'm happy closing this.

[2016-01-25 18:11] #13690 closed

[2016-01-25 18:14] zmerlynn commented on #19986
@piosz: That's inconsistent with the fact that Heapster is starting on a 7820 cluster.

[2016-01-25 18:14] yujuhong commented on #20096
Most tests failed at checking if all nodes are ready, during test teardown.

[2016-01-25 18:15] ihmccreery commented on #18928
Reassigning to @davidopp based on #19458.

[2016-01-25 18:20] lakhindr commented on #19071
I am curious, what kind of setup(s) Google has, that a code checkin does not flag such basic issues as seen here?!

Unfortunately, contacting some google developers directly by email just hasn't evoked any response. Perhaps there is a relevant mailing list? Thanks.

[2016-01-25 18:24] zmerlynn commented on #19986
I have a new theory, which is that Heapster hasn't been running on GKE in 1.2 since #17601, until #19535.

[2016-01-25 18:25] ncdc commented on #19466
I had to take PTO today because of Snowzilla. Hopefully I can look at this
tomorrow.

On Monday, January 25, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-01-25 18:28] thockin commented on #20092
This was intentionally omitted due to laziness and complexity.  We hoped
nobody would need it, since NodePorts are generally allocated
automatically.  It's mostly going to be a matter of adding a switch to look
at 2 different saved allocation maps and figuring out how to transition.

On Mon, Jan 25, 2016 at 9:00 AM, Matthias Rampke <notifications@github.com>
wrote:

[2016-01-25 18:29] bprashanth commented on #19779
I don't think it is a dupe because the resources listed in https://github.com/kubernetes/kubernetes/issues/13515 match those required for L4 loadbalancing. I think this is more likely something to do with improper cluster termination.

[2016-01-25 18:29] thockin commented on #19466
LOL, thanks.  Don't mean to be a pest, we're just doing daily updates at
this point.

On Mon, Jan 25, 2016 at 10:26 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-25 18:32] ihmccreery opened #20097 "Help build cops track flakes better, especially in the PR builder"
We need to help the build cops track & file issues about flakes, especially in the PR builder.  We heard this morning in war room that folks are worried that flakes are coming up and issues aren't being filed.

[2016-01-25 18:33] yujuhong commented on #19986
It's not clear to me that upgrading heapster will solve this issue, since heapster doesn't rely on any backend on gke.

Instead of asking kubelet to do that, it makes more sense for the test itself to get the logs through the apiserver. I think we should add that to the e2e test.

[2016-01-25 18:35] thockin commented on #20090
If cluster DNS is not recursive you will run into resolvers that are
broken.  There is no specification for what recolv.conf really means, and
therefore implementations vary.  Some resolvers (e.g. musl libc) will try
all nameservers in parallel, taking the first response - even if that is a
NAK.  Busybox does something else (forget the details).  Glibc does
something else.

We made this change aft

[2016-01-25 18:35] dchen1107 commented on #20096
@yujuhong Thanks for quick triage on this one. We need to detect such failures, and ignore them. I don't mean kubelet itself. Re-assign it back me. cc/ @kubernetes/goog-gke @cjcullen

[2016-01-25 18:37] quinton-hoole commented on #16192
Oops! This one was missing a kind/flake label. Fixed that now.

[2016-01-25 18:37] davidopp commented on #19036
Since @gmarek is out, reassinging to @fgrzadkowski who I believe is back from leave today. We're trying to close all the flake issues so we need someone to work on this ASAP.

[2016-01-25 18:38] davidopp commented on #16192
@quinton-hoole Thanks for adding the label. Can you recommend a course of action for fixing this?

[2016-01-25 18:39] davidopp commented on #16192
(#13515 might help but I'm not sure)

[2016-01-25 18:39] ihmccreery commented on #20097
Assigning to @spxtr for discussion, brainstorming, and work estimate.

[2016-01-25 18:41] davidopp commented on #17765
Who is going to implement that?

[2016-01-25 18:41] a-robinson commented on #15203
cc @brendandburns

[2016-01-25 18:41] quinton-hoole commented on #16192
Yes, this is more than likely a duplicate of #13515.  I'll double check now that this particular test job is still leaking.  Pretty sure it is, probably for the same reason as #13515.

[2016-01-25 18:41] davidopp commented on #18334
@gmarek is out for the week, reassigning to @fgrzadkowski

[2016-01-25 18:43] davidopp commented on #18334
Oh actually I see @gmarek has a PR out, which was not LGTMd yet. I'll ping the reviewer.

[2016-01-25 18:44] spxtr commented on #20097
I think it might be as simple as trying to make a policy of, "Never say @ k8s-bot test this again, instead say @ k8s-bot test this again #ISSUE", and if there is no open issue then open it right away.

It's what I've been doing, at least.

[2016-01-25 18:44] ihmccreery commented on #20097
Great idea; want to implement that?

[2016-01-25 18:45] spxtr commented on #17765
I'm testing it out right now.

[2016-01-25 18:46] bprashanth commented on #19953
I had volunteered on friday to de-flake https://github.com/kubernetes/kubernetes/issues/19574 today, unless @saad-ali has other plans for that one by now

[2016-01-25 18:47] saad-ali commented on #19953
@bprashanth Ya, feel free to take #19574

[2016-01-25 18:48] bprashanth commented on #19574
I'll deflake and report back

[2016-01-25 18:48] ihmccreery commented on #20097
@ixdy Can you please explore implementing this?

[2016-01-25 18:49] janetkuo commented on #19299
Looks like these deployment e2e test flakes become stable: #19732 #19299 #19064 #18996. Closing them.

[2016-01-25 18:49] zmerlynn commented on #19986
I spun up a cluster from just prior to #19535 and this is the set of RCs I see:
[code]

So basically, when #19535 went in, Heapster was enabled for the first time in GKE **in months** and we started flipping out.

This is a serious test coverage issue, obviously.

[2016-01-25 18:50] janetkuo commented on #19732
Looks like these deployment e2e test flakes become stable: #19732 #19299 #19064 #18996. Closing them.

[2016-01-25 18:50] janetkuo commented on #19064
Looks like these deployment e2e test flakes become stable: #19732 #19299 #19064 #18996. Closing them.

[2016-01-25 18:50] #19064 closed

[2016-01-25 18:50] janetkuo commented on #18996
Looks like these deployment e2e test flakes become stable: #19732 #19299 #19064 #18996. Closing them.

[2016-01-25 18:50] #18996 closed

[2016-01-25 18:51] zmerlynn commented on #19986
I edited the above comment, but we would obviously catch this in the release branches because we have monitoring tied to Heapster related things. We need to be better here for CI.

[2016-01-25 18:53] roberthbailey commented on #19779
Yeah, that was the same conclusion that we came to.

[2016-01-25 18:57] lavalamp commented on #18980
Mysterious timestamp gap in this:

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/24774/consoleFull

[code]

[2016-01-25 19:06] lavalamp commented on #18266
@magicwang-cn I still don't think I understand what you're saying. Note that the list handler returns a different resource version than it gets-- if you send "0", it sends back `readResourceVersion`, which should be the resource version the cache is actually at. If you then do a watch from `readResourceVersion`, you should be in the window.

The charts with a huge spike in lists tells me that ther

[2016-01-25 19:07] dchen1107 opened #20099 "Collect logs of failed containers in kube-system namespace"
We are running heapster, dns server, kube-proxy etc. in kube-system namespace. Some e2e tests try to make sure all those kube-system pods are at ready state before firing the real tests, others just simply ingore them. But both cases might cause e2e flakiness when some of those kube-system containers are in crashloop, for example, https://github.com/kubernetes/kubernetes/issues/19986#issuecomment-

[2016-01-25 19:08] lavalamp commented on #19902
I agree that we need this knob and I'd be happy to accept a PR adding it.

[2016-01-25 19:11] ihmccreery commented on #15176
@fabioy to drive this home.

[2016-01-25 19:12] alex-mohr opened #20100 "e2e missing: verify heapster running and not flapping"
We've had issues with crashlooping heapster (#19986) and indirect test failures of HPA due to broken heapster (?).  It appears we have insufficient coverage of heapster?  That is, a test that verifies heapster is running and not crashlooping would have made such issues much easier to debug and point directly to root cause?

[2016-01-25 19:19] liggitt commented on #20090
Hmm... thanks for the explanation

[2016-01-25 19:19] kargakis commented on #10628
@bgrant0607 this is fixed now

[2016-01-25 19:20] lavalamp commented on #20060
@caesarxuchao is very close to having client generators working; when that is done, the clients will all be made consistent.

[2016-01-25 19:22] ihmccreery commented on #20099
@spxtr is this related enough to #19964 and #18432 that you can bundle it in?

[2016-01-25 19:25] pmorie opened #20101 "Should ConfigMapKeySelector and SecretKeySelector be the same type?"
I probably would have made them the same type to begin with if I hadn't been doing the PRs at the same time.  They both have the structure:

[code]

Should we just make them the same object?  They're differentiated in EnvVarSource by field, so there's really no need to to make them separate types.

@thockin @bgrant0607 @erictune @smarterclayton

[2016-01-25 19:26] hongchaodeng commented on #20011
@yifan-gu and I have fixed the problem.

The root cause happened in inconsistent change in fake docker client. In Kubemark, Docker client kept failing and showed following errors in logs:
[code]
It came from [DockerManager#Version()](https://github.com/kubernetes/kubernetes/blob/2ad642d37004b575654a0de7917fb205da8670c5/pkg/kubelet/dockertools/manager.go#L986-L986). The version couldn't be parsed b

[2016-01-25 19:28] caesarxuchao commented on #20060
In the generated clients, DeleteOptions and DeleteColloctions() are added to all clients. They are under pkg/clients/types/generated/..

[2016-01-25 19:32] timothysc commented on #20011
xref: https://github.com/kubernetes/kubernetes/pull/20020

[2016-01-25 19:44] zmerlynn opened #20104 "Write a test for a flapping container then reboot"
See #19986. My suspicion for why the `container-vm` change is holding stable on GCE but NOT on GKE is that on GKE, Heapster is flapping. I'd like to see a new test on GCE that essentially flaps a container and then reboots. I think it'll show the same kernel shutdown issue.

[2016-01-25 19:45] zmerlynn commented on #20104
(FWIW, this is a realistic customer scenario of "Agggghhh! Something wrong! Reboot!")

[2016-01-25 19:46] thockin commented on #20090
Same discussion happening in parallel about rkt...

On Mon, Jan 25, 2016 at 11:19 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-01-25 19:46] yujuhong commented on #20099
The logs from the pods should be retrieved via the api server. This is different from the kubelet logs. I'll upload a PR for this.

[2016-01-25 19:47] piosz commented on #19986
I made some investigation. The problem with crashlooping Heapster is due to:
[code]

The issue was fixed in https://github.com/kubernetes/heapster/pull/693. I'll create a patch release and bump the version.

[2016-01-25 19:54] skevy commented on #18934
@ArtfulCoder yah I was able to get it working using iptables.

[2016-01-25 20:00] vishh opened #20105 "Re-use fake clock in the kube repo for kubelet unit tests"
Specifically, "github.com/ssoroka/ttime", should be repalced with "k8s.io/pkg/util".FakeClock

This should also invalidate the godep issue of missing LICENCE file for  "github.com/ssoroka/ttime" package.

[2016-01-25 20:01] vishh commented on #20105
@mqliang: Can you fix this issue?

[2016-01-25 20:01] vishh commented on #20105
xref: https://github.com/kubernetes/kubernetes/pull/18820/files#r50745948 https://github.com/kubernetes/kubernetes/pull/18820#issuecomment-174619555

[2016-01-25 20:04] davidopp commented on #18334
Reassigning to @fgrzadkowski as Marek is on vacation and this needs to be fixed ASAP. See PR for additional comments.

[2016-01-25 20:05] loshkovskyi commented on #19264
@freshfrmthehood, I've been using the OpenStack cloud provider for some time. The minimum working configuration should look like this (based on your config):
[code]
Replace `username` with `user-id` or `password` with `api-key` and you will get the same nil pointer dereference error. You can use API keys as value for `password`.

[2016-01-25 20:06] davidopp commented on #16192
OK thanks much. Please report back your results as soon as you know.

[2016-01-25 20:08] bgrant0607 commented on #10628
Thanks

[2016-01-25 20:08] #10628 closed

[2016-01-25 20:12] timothysc commented on #18928
iirc the long term fix is in etcd proper.

[2016-01-25 20:13] alex-mohr commented on #20028
FWIW, I hear Tim is looking at this and the 2 other referenced issues himself, so no need to delegate.

[2016-01-25 20:14] kevin-wangzefeng commented on #20011
/cc @HardySimpson @magicwang-cn

[2016-01-25 20:14] timothysc commented on #19637
@magicwang-cn

Step 1: introduce a storage that stubs and implements as much of the interface as possible.
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/interfaces.go

[2016-01-25 20:15] ihmccreery commented on #18809
@krousey can you please take a look?

[2016-01-25 20:21] davidopp commented on #19254
This is etcd stuff, not control-plane, so reassigning to @lavalamp .

[2016-01-25 20:30] vishh commented on #20100
We have a monitoring-e2e test that has been verifying the availability of heapster. I guess that tests is not run on GKE clusters.
It is possible to add a test that will validate heapster as a standalone entity. Heapster repo runs that test currently against HEAD and all PRs in the repo. We can repurpose that test to run on kube e2e as well.
But, @piosz and @mwielgus are working on a new version o

[2016-01-25 20:31] lavalamp commented on #20011
Awesome, thanks!

[2016-01-25 20:31] timothysc commented on #18266
@magicwang-cn what objects are you failing on in the cache?  Is it consistent?

xref: https://github.com/kubernetes/kubernetes/pull/19970

[2016-01-25 20:37] nikhiljindal commented on #19053
That could be it. The test hasnt failed at all since that PR was merged.
I am going to keep this open for another day and close it tomorrow, if we do not see any failures today.

Reducing the priority.

[2016-01-25 20:44] therc commented on #14713
Uh, http.Header is map[string][]string...

[2016-01-25 20:54] lavalamp commented on #18809
Non-expired links: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/6b32f1a26c6b118955170e422f6721543f3b1cb0/kubernetes-pull-test-unit-integration/7100/

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/6b32f1a26c6b118955170e422f6721543f3b1cb0/kubernetes-pull-test-unit-integration/7102/

[2016-01-25 20:55] therc commented on #20048
If you revert #17754, you also need to revert #19580. #19242 is a better change, as it also comes with tests.

[2016-01-25 20:57] lavalamp commented on #18809
Scratch that, those links do not work as much as I thought, hold on...

[2016-01-25 20:58] vishh commented on #18868
Stats are exposed via http on port 10255. I checked HEAD and kubelet does not dump a stack trace for successful `/stats` queries.

If kubelet cannot identify a container, it will fail the `/stats` query and the http handler is configured to dump a stack trace whenever any http query fails.

I don't see any issue with the kubelet and the next release `v1.2` should contain all the fixes on HEAD. I'm

[2016-01-25 20:58] #18868 closed

[2016-01-25 20:59] lavalamp commented on #18809
I guess it's really not easy to figure out which folder the actual logs are in: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/

@spxtr We need to paste durable links-- jenkins results expire after a while.

[2016-01-25 21:16] lavalamp commented on #18809
(I added text to #20040 on making durable links :) )

[2016-01-25 21:18] ixdy commented on #18980
@lavalamp that one is for an e2e test run, so #13485. This issue is for timeouts on the unit/integration runs. :(

[2016-01-25 21:19] davidopp commented on #18857
I'm going to close this, please reopen when it recurs and we can look at the additional logging info.

[2016-01-25 21:19] #18857 closed

[2016-01-25 21:19] ixdy commented on #18980
... though actually, that's entirely separate from either of these issues. The switch to go 1.5 has made builds weird and slow.

[2016-01-25 21:23] mml commented on #16627
While I understand that static pods are useful, I don't understand the value of having mirror pods at all.  The special cases will only continue.  The kubelet can know about static pods (perhaps we should stop calling them "pods" and then the desire for a mirror will fade) and report them via a monitoring interface, but no other components should need to know about them, since they're by design no

[2016-01-25 21:23] davidopp commented on #20048
@ArtfulCoder @cjcullen Can you guys make a call on whether we should revert #17754/#19580, or merge #19242? (And verify that if we merge #19242, it will fix the problem in this issue?)

[2016-01-25 21:27] ixdy commented on #18980
I think because builds are slower in 1.5 (and expected to be), we probably need to increase the # of Jenkins slaves and run fewer builds per slave.

[2016-01-25 21:28] ixdy commented on #17524
Given that go 1.5.3 doesn't seem to have the same sort of regression, do we care to investigate what's broken in 1.4.3?

[2016-01-25 21:34] lavalamp commented on #13485
Happened here: https://github.com/kubernetes/kubernetes/issues/18980#issuecomment-174621206

[2016-01-25 21:34] timothysc commented on #17524
I would vote no, b/c there are other reasons why we want 1.5.3.

[2016-01-25 21:37] smarterclayton commented on #20090
The problem is that we still have end users who won't allow an open DNS proxy in their environments, full stop.  And they only use glibc (which we test and certify against) to solve this problem.  Unfortunately that leaves us in a spot where we have to fork the Kube DNS implementation because it's not practical for non-cloud environments that have IT policies place.

[2016-01-25 21:38] smarterclayton commented on #20090
So musl vs glibc is not relevant in their environments

[2016-01-25 21:51] quinton-hoole commented on #16192
I don't see any leaked target pools in the past 4 months (there are a bunch of old ones created in September last year though).  Specifically, since @bprashanth deleted leaked target pools 2 weeks ago, I see no evidence of leaked target pools.

[code]

[2016-01-25 21:54] #19304 closed

[2016-01-25 21:54] quinton-hoole commented on #16192
Similar result for routes.  Only those created in the current run today, and some from September last year:

[code]

[2016-01-25 21:56] quinton-hoole commented on #16192
Same for addresses:

[code]

[2016-01-25 21:58] quinton-hoole commented on #16192
Same for instance templates.  I think that we can close this issue as resolved.

[code]

[2016-01-25 21:58] #16192 closed

[2016-01-25 21:59] quinton-hoole commented on #16192
I'll delete all of the very old stuff that leaked last year.

[2016-01-25 22:01] krousey commented on #18809
Is this only happening on Jenkins? Or has anyone seen this locally? After 65 local runs, I haven't seen this.

[2016-01-25 22:06] caesarxuchao commented on #13772
Do we need to reserve the name `core` for a future group? If so, I'll vote for `pkg/apis/legacy`, otherwise `pkg/apis/core`.

[2016-01-25 22:09] ihmccreery commented on #18980
@ixdy Can you own that and/or file a bug with `kind/flake` so we can track that as an action item?

[2016-01-25 22:11] MikaelCluseau commented on #19766
IMHO...

The proxy has the responsibility of service objects, while the kubelet is responsible of pod objects, including their networking. Also, the responsibility of hairpin must be at the same place as the code that creates the network interface, otherwise you have code managing a single object (the pod interface) spread over multiple programs, which will eventually lead to complex problems and

[2016-01-25 22:12] liggitt commented on #20090
an option to enable clusterDNS+node host with appropriate caveats would be sufficient, imo

[2016-01-25 22:19] nikhiljindal commented on #19273
Another name which we can use instead of apimachinery: apiframework (suggested by @bgrant0607  at https://github.com/kubernetes/kubernetes/issues/4851#issuecomment-132052036).

[2016-01-25 22:24] quinton-hoole commented on #16192
It's worth noting that none of the Services e2e tests (which are the likely source of these leaks) are currently running in this slow test suite.  So it makes sense that there are no leaks.

[2016-01-25 22:27] #19986 closed

[2016-01-25 22:37] lavalamp commented on #18174
@bgrant0607 @thockin @dchen1107 we should just make a decision on this.

Every client right now (except kube-proxy and kubelet) use the service IP, which kube-proxy round-robins over actual apiserver endpoints.

Obviously that mechanism won't work for kube-proxy itself. We need a turtle at the bottom of the stack to do some work.

My proposal would be to let kube-proxy take a list of apiserver end

[2016-01-25 22:38] timstclair commented on #19904
https://github.com/kubernetes/kubernetes/issues/18704 might be related to this? /cc @vishh

[2016-01-25 22:40] lavalamp commented on #17905
It's worth noting that some of those types are meant to be extendable and so we shouldn't just blanket start rejecting unknown enum values.

@thockin may be interested

[2016-01-25 22:43] dchen1107 commented on #20096
After a while Kubelet node with docker daemon ran into a known kernel issue a lot:
[code]
Once the node ran into such state, docker will be hung, which is documented at docker/docker#5618. The Kubelet detects the NodeNotReady and container runtime is down. The only way to recover from such state is reboot the node. Once we run into such situation with some nodes lost, all tests are expected to be

[2016-01-25 22:44] lavalamp commented on #18622
Machine pluralization is hard, we shouldn't do it, we DEFINITELY shouldn't make clients do it. If our discovery is adequate, then it seems like the easiest thing to do is just require pluralized and non-pluralized versions of the word when you register a type.

Harder but better is to stop serving at the pluralized path.

[2016-01-25 22:49] lavalamp commented on #18649
Is this blocking anything we actually want to send over the query params?

[2016-01-25 22:50] vishh commented on #19904
Thanks for the tip @timstclair. Indeed this is the same error that the e2e is catching. Given that we have already upgraded our build scripts to go1.5, I hope that the e2e flakes will no longer happen.

[2016-01-25 22:53] thockin opened #20112 "v2 API Proposal: Endpoints as subresources"
The link between a Service and its Endpoints object is very weak (same name).  It might be interesting in v2 API to manifest this as a subresource of Service.  We will one day need to paginate Endpoints, but I think that still applies in both cases.  Not sure if watch on sub-resources would work, but we could still have an Endpoints object, and carry the subresource as a reference to a more random

[2016-01-25 22:55] yujuhong commented on #19904
The test will still fail since the liveness probe will fail due to probe timeout. To eliminate the flake, we should increase the timeout for the probe.

[2016-01-25 22:56] lavalamp commented on #18679
Is there any action items for this? Is the point of this issue to debate whether it should be possible to make types of scope "both"?

[2016-01-25 22:57] smarterclayton commented on #19273
I'm ok with either for now, assuming that when we split them out of the
codebase we can think longer on a name (since a number of packages will go
with it - runtime, conversion, etc)

On Mon, Jan 25, 2016 at 5:19 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-01-25 22:58] smarterclayton commented on #18649
We had several use cases in OpenShift but for now just punted.  I'm
hesitant to define a query param syntax without defining field selectors.

On Mon, Jan 25, 2016 at 5:49 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-25 22:58] thockin commented on #20090
I'm OK with a flag, but it has to be very well documented and sufficiently
scary that mere mortals will not set it.

--make-bad-assumptions-for-redhat-customers-only or something

On Mon, Jan 25, 2016 at 2:12 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-01-25 22:59] smarterclayton commented on #18622
We can always serve at both for v1 and drop pluralized for v2.

On Mon, Jan 25, 2016 at 5:44 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-25 22:59] smarterclayton commented on #18622
* Once discovery is adequate

On Mon, Jan 25, 2016 at 5:59 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-01-25 23:00] smarterclayton commented on #20090
Ouch.

--use-dns-the-way-that-every-it-department-in-the-world-does-it

also works :)

On Mon, Jan 25, 2016 at 5:58 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-01-25 23:00] lavalamp commented on #18924
Unfortunately, this is a lot harder than it sounds, as things are turned off long before the paths that go into go-restful are generated.

[2016-01-25 23:01] vishh commented on #19904
@yujuhong: The current timeout (15s) is sufficient for 99 out of 100 runs. Do you think it's an issue with the timeout?

[2016-01-25 23:05] thockin commented on #18174
if kube-proxy ever becomes a daemonset this becomes circular.  Kubelet
needs kube-proxy to find master, but doesn't have kube-proxy until the
master says to run it.

On Mon, Jan 25, 2016 at 2:38 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-25 23:09] thockin commented on #20090
Is it really sane policy to disallow (maybe caching) DNS proxies?  Why?
There is no spec on what resolv.conf really means.  we started this way
(obviously) and decided the pain outweighed the benefits.

--spec-what-spec-dns-behavior

On Mon, Jan 25, 2016 at 3:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-25 23:14] yujuhong commented on #19904
*If* the frequency of the flake is not acceptable, we'll need to change the timeout. If it's okay for now, the test can stay as it is :)

[2016-01-25 23:15] bprashanth opened #20117 "Kubelet fails to distinguish failure in running container from a quickly exiting container"
My (partly unfounded) theory is that we should refactor `ApplyOOMScoreAdjContainer` out of `runContainerInPod` because if the container exited real quick it won't have an entry in `/proc/pid/cgroup` (https://github.com/kubernetes/kubernetes/blob/d3b869ae14db522e5fca91a295b8bc870713013f/pkg/kubelet/dockertools/manager.go#L1537), and we confuse this for an error in running the container.

This is ba

[2016-01-25 23:16] liggitt commented on #20090
Or allow clusterDNS to take multiple values, which lets whoever is invoking the kubelet decide which name servers they want injected into pods.

[2016-01-25 23:16] lavalamp commented on #18927
Apologies for the slow response, I was OOO for a while and am just now triaging CSI issues.

The curl command in the debugging info is misleading-- we don't actually use curl, I would guess it's just there to (in theory) let you copy-paste and execute in curl if you want to debug the api without kubectl. @krousey seems to have last touched the [toCurl](https://github.com/kubernetes/kubernetes/blob

[2016-01-25 23:19] mikedanese opened #20119 "Run all types of controllers in gce scalability tests"
We should run DaemonSets, Deployments, Ingresses etc. in the scalability/performance tests, not just replication controllers especially since many of these are graduating to beta.

cc @davidopp @kubernetes/goog-control-plane @kubernetes/sig-scalability

[2016-01-25 23:20] bprashanth commented on #20117
Oh, kubelet logs for the trace above https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce-parallel/14712/artifacts/104.197.47.216%3A22-kubelet.log

[2016-01-25 23:21] lavalamp commented on #19018
I agree with making a `common` group with types intended for reuse.

I think "unversioned" should not be taken too literally-- what it really means is "we'll support these forever and we haven't made a second version yet".

[2016-01-25 23:22] nikhiljindal commented on #19254
I havent been able to reproduce this in more than 250 runs locally.

Is there a way to see how many times has this failed on Jenkins?
Based on reported failures, it seems like this has failed twice (once for @yujuhong and once for @bprashanth) in the last week.

[2016-01-25 23:23] streamnsight commented on #18927
sorry I didn't update this. I solved the problem.
I can't remember exactly how but I think it was a permission issue on the certs indeed.

[2016-01-25 23:23] #18927 closed

[2016-01-25 23:24] yujuhong commented on #20104
I am not entirely sure that there is a clear connection between flapping containers and the kernel shutdown issue. This seems like a very specific (and slow) test. Can we try reproducing the issue first to confirm the connection? Also, if flapping containers *can* cause kernel shutdown issues, testing this repeatedly in our builds won't actually help.

[2016-01-25 23:24] dchen1107 commented on #20117
https://github.com/docker/docker/pull/16277 was merged and targeted for docker 1.10 release. Once we moved to docker 1.10 and above release, we won't handle ApplyOOMScoreAdjContainer at Kubelet level anyway. Without proper support at container runtime which is doing process management in certain degree, there are always some races.

[2016-01-25 23:27] bprashanth commented on #20117
I'd expect correct reporting of the status as failed/succeeded though right? since we know that the container did finish from the finish timestamp, and it has restart=never, so the test was waiting till timeout for the Succeeded status.

[2016-01-25 23:27] dchen1107 opened #20121 "Use OomScoreAdj from docker 1.10.X release"
https://github.com/docker/docker/pull/16277 was merged and is targeted for docker 1.10 release. Kubelet should stop ApplyOomScoreAdj to container, instead of using docker's libcontainer config directly.

[2016-01-25 23:28] quinton-hoole commented on #19254
It has not failed in the last 200 runs on the non-PR Jenkins:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/6956/testReport/junit/%28root%29/storage/TestList/history/

[2016-01-25 23:30] quinton-hoole commented on #19254
@nikhiljindal The test history on the per-PR Jenkins is here:

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/10821/testReport/(root)/storage/TestList/history/

[2016-01-25 23:31] pwittrock opened #20122 "Move StartGarbageCollection from app/server.go to kubelet.go"
@vishh

kubelet.go should be responsible for initializing all the modules required by the kubelet

[2016-01-25 23:32] jayunit100 commented on #18924
hmmm.... maybe, at least,
- there could be a set of fields that could be shipped somewhere so that debug info for apiserver was returned alongside a 404 that happens.
- but maybe that might be too indirect to be useful ...

[2016-01-25 23:33] quinton-hoole commented on #19254
@nikhiljindal The last failure there was about 250 runs ago, on Jan 22:

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/10583/testReport/

[2016-01-25 23:33] zmerlynn commented on #20104
I'm actually fairly sure the `container-vm` issue is https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=812207

However, that leaves the question of why GKE is seeing it and GCE isn't. Do you have a better theory besides the flap?

[2016-01-25 23:36] brendandburns commented on #18928
I'm taking this due to #20123 having the fix.

[2016-01-25 23:37] cjcullen commented on #20048
#19242 needs some work before it can be merged. As it is, I don't think it handles nodeController restarts at all. It will be a nice step forward once it is fixed up.

We should revert #17754/#19580 for now to get back to a known good state.

[2016-01-25 23:37] bprashanth commented on #19574
Failures after https://github.com/kubernetes/kubernetes/issues/19574#issuecomment-171121238  appear to be related to the race described https://github.com/kubernetes/kubernetes/issues/20117, closing since the tunnel issue if fixed, and the latter failure mode doesn't have anything to do with the emptydir test per se.

[2016-01-25 23:37] #19574 closed

[2016-01-25 23:39] roberthbailey commented on #19779
The script doesn't work at all for GKE since it has an incorrect value for the `INSTANCE_PREFIX` variable. Working on a fix for that issue first.

[2016-01-25 23:40] xiang90 commented on #18928
@timothysc etcd/client does not really manage the transport layer. We generate and pass in the transport in k8s and k8s has full management of the shutdown. We need to change that part.

[2016-01-25 23:45] nikhiljindal commented on #19254
Thanks for those links @quinton-hoole!

Looks like the flake is not happening any more. I can leave this open for some time. Will close it if it doesnt fail for another day

[2016-01-25 23:45] ixdy commented on #17595
This is being covered in #20036, right?

[2016-01-25 23:46] vjsamuel opened #20125 "kube-addons identifies monitoring-grafana and monitoring-influxdb as the same RC spec"
kube-addons today identifies RC specs by only matching the prefix assuming that suffix will always be a version number ex:monitoring-grafana-v1. Ideally we should just check if the entire string matches both in server and on file and delete/create RCs as and when needed.

By placing two RC specs monitoring-grafana and monitoring-influxdb as a cluster addon, what happens is that monitoring-influxdb

[2016-01-25 23:46] ixdy commented on #14074
@spxtr do we think this has been fixed now?

[2016-01-25 23:47] ixdy commented on #12218
Closing as obsolete.

[2016-01-25 23:47] #12218 closed

[2016-01-25 23:48] ihmccreery commented on #17595
Yup; good call.

[2016-01-25 23:51] lavalamp commented on #19254
@nikhiljindal was the relevant http test server's .Close commented out? It makes me uncomfortable to close this without figuring out why it was flaking.

[2016-01-25 23:52] spxtr commented on #14074
#18960

Should be fixed now.

[2016-01-25 23:53] ixdy commented on #14074
Great, going to close this then.

[2016-01-25 23:53] #14074 closed

[2016-01-25 23:58] lavalamp commented on #19085
I recall making an optimization like this to fix []byte getting copied one at a time... But that was before the generators existed.

[2016-01-25 23:58] dchen1107 commented on #20096
@ixdy I rebooted all affected nodes, killed kubernetes-soak-continuous-e2e-gce-1.1/929/, and started build 930. Thanks!

[2016-01-26 00:00] smarterclayton commented on #19085
Yup, but the generators actually delegate to the function today (we don't bulk operate on all primitive types).

[2016-01-26 00:03] smarterclayton commented on #19018
Yeah, I'd prefer to just tag them with a version in the package and then it
becomes clear - "common/v1", which are imported into other versions as
necessary.

On Mon, Jan 25, 2016 at 6:21 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-26 00:07] #8705 closed

[2016-01-26 00:09] lavalamp commented on #19125
@dchen1107 Would you expect kubelet to be able to retrieve logs on a systemd system?

[2016-01-26 00:12] lavalamp commented on #19309
That seems unfortunate. Thanks for the report. The bug is the overwrite, I changed the title.

[2016-01-26 00:13] lavalamp commented on #19310
That is a super cryptic message

[2016-01-26 00:14] smarterclayton commented on #19434
Was going to remove this, but we can't because ThirdPartyResourceVersion depends on it.

[2016-01-26 00:15] bgrant0607 commented on #19273
Or restserver and restclient.

[2016-01-26 00:15] lavalamp commented on #19317
Smells like different components have different ideas about the finalizer list? Does rebooting controller-manager change anything?

[2016-01-26 00:17] lavalamp commented on #19504
Adding services/status SGTM, thanks.

[2016-01-26 00:19] lavalamp commented on #19596
Maybe @janetkuo? P1 since it's super easy and appears to be a user-seen error message.

[2016-01-26 00:19] bprashanth commented on #19504
We already have a fix pr, I just ignored it because of the test heads down. I'll look at it now, I already did a couple of passes so it should be fine.

[2016-01-26 00:21] lavalamp commented on #19637
Yeah, listing 100k events is going to be painful no matter the storage backend, because we don't have paging.

[2016-01-26 00:22] lavalamp commented on #19637
I'd be very happy to take a PR adding an alternative storage destination.

[2016-01-26 00:23] lavalamp commented on #19662
Should we have any errors for which that's a relevant distinction?

[2016-01-26 00:24] thockin commented on #19574
I'mn going to add/augment some logs through this code path

[2016-01-26 00:24] ericchiang commented on #19828
The current vendored versions of golang/protobuf or gogo/protobuf can't generate gRPC services.

golang/protobuf at [7f079254](https://github.com/golang/protobuf/tree/7f07925444bb51fa4cf9dfe6f7661876f8852275) doesn't implement a `grpc` plugin.

gogo/protobuf at [9dc51091](https://github.com/gogo/protobuf/tree/9dc510915846dd5a05607d3b5bf41f5ca5cce972) generates code incompatible with the vendored v

[2016-01-26 00:25] lavalamp commented on #19865
I think as a follow-up the resource printer stuff should be made a subpackage under kubectl.

[2016-01-26 00:25] #18293 closed

[2016-01-26 00:26] smarterclayton commented on #19662
It makes client code uglier, because the client can't assume nil means
no status details and instead has to check all fields empty.  We might
as well make it a non pointer field so people don't accidentally try
to use nil to mean something.

[2016-01-26 00:29] liggitt commented on #19865
That could be good… making the kubectl commands a consumer of the exported functions and structs ensures they have the right cross package visibility.

[2016-01-26 00:30] bgrant0607 opened #20130 "Deployment graduation requirements to v1/GA"
Forked from beta requirements #15313.

Placeholder for things that didn't make beta/1.2.

Known issues so far:
- [x] From #18901: Paused disables scaling behavior, but shouldn't, since it's hostile to horizontal pod auto-scaling (HPA).

cc @janetkuo @kargakis @ironcladlou

[2016-01-26 00:34] thockin commented on #17181
New logs are in.  Closing this.  Reopen if/when it reoccurs.

[2016-01-26 00:49] yujuhong commented on #20104
Thanks for the pointer! I don't have better theories, but "flapping container" sounds too vague/broad to test.

In this particular case, (docker+aufs), our node conformance tests will be able to catch this in the future. /cc @pwittrock

[2016-01-26 00:53] brendandburns commented on #18928
I'm going to close this issue, since I beleive that #20123 fixes the original issue in the title.

@wojtek-t @xiang90 if you want to open a separate issue related to what you are seeing in etcd, please file a separate issue.

[2016-01-26 00:53] #18928 closed

[2016-01-26 00:53] bgrant0607 commented on #18528
@deads2k {apiVersion, kind, name} is a subset of ObjectReference, similar to LocalObjectReference. Arguably, we should use a type containing only the supported subset of ObjectReference fields everywhere we use ObjectReference today.

[2016-01-26 00:54] ixdy opened #20133 "mitigate slowness of Go 1.5 builds"
Per https://github.com/kubernetes/kubernetes/pull/19985#issuecomment-174053620 (and the [Go 1.5 release doc](https://golang.org/doc/go1.5#performance)) build performance is expected to be at least twice as slow compared to 1.4:

We started seeing some slowdown in PR builds when we started using Go 1.5 for unit/integration tests in December, but moving all builds to Go 1.5 last week have pushed thi

[2016-01-26 00:55] #19230 closed

[2016-01-26 00:57] bgrant0607 commented on #18528
As for what to name the ObjectReference subset type, something like CrossVersionObjectReference would be accurate.

The Go type names aren't part of the API, so we can change them later if necessary.

[2016-01-26 00:58] davidopp commented on #20119
Assigning to @wojtek-t for now, though he's on leave for a while longer.

[2016-01-26 01:01] bgrant0607 commented on #18528
Do we need to continue to support the current Scale subresource schema in 1.2?

[2016-01-26 01:03] ixdy commented on #20133
cc @zmerlynn too

[2016-01-26 01:04] dchen1107 commented on #19953
We have a new failure at: kubernetes-soak-continuous-e2e-gce/4396/, and related output from failure tests:

[code]

[2016-01-26 01:06] davidopp commented on #18809
Sorry, this fell off my radar because it was assigned to test-infra team not control-plane team. Sounds like @krousey is looking into it anyway.

BTW inability to local repro has proven a poor signal for the unit/integration tests. I'd suggest looking at the test history, and adding any logging you think will help with future debugging when it recurs.

[2016-01-26 01:07] dchen1107 commented on #19953
Another failure instance for PD test: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gce/4397/ , but different test case:

Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession [Slow]

/go/src/k8s.io/kubernetes/_output/dockeriz

[2016-01-26 01:07] vishh commented on #20117
The kubelet should handle quick exits. Even if we switch to docker v1.10, we might have to be backwards compatible for the next few releases. Good catch @bprashanth!

[2016-01-26 01:11] ixdy commented on #20133
Running `ps ax | grep "go/pkg/too[l]" | wc -l` on one of the slaves right now which is running 2 instances of unit/integration tests and 2 instances of e2e tests, and there are often in excess of 200 processes, with load averages to match:
`01:09:54 up 32 min,  1 user,  load average: 267.98, 246.18, 160.89`

We might just be thrashing a lot? Since `/var/lib/jenkins/` is backed by a GCE PD, we migh

[2016-01-26 01:13] ixdy commented on #20133
Looking at the GCE dashboard, I don't think we're being limited by disk iops or throughput. CPU usage is pegged at 100% pretty consistently, though.

[2016-01-26 01:17] mqliang commented on #20105
@vishh Ok, I will send a PR to fix this ASAP. Sorry to introduced a Godep w/o a LICENSE file.

[2016-01-26 01:18] vishh commented on #18704
This test is failing ~1% of the time due to delays in the container startup. I opened #20134 to increase the wait before running the liveness checks.
The misleading event reasons are due #19904. What happens in reality is that the liveness probe times out in 1 second (default value).

If the test flakes again, we will have to look at the test image that is being used - `gcr.io/google_containers/ne

[2016-01-26 01:18] dchen1107 commented on #8705
FYI: kubernetes-e2e-gce-reboot/10974 has one reboot test failed due to kube-proxy image change. But that build doesn't include pr #20036 yet.

[2016-01-26 01:20] vishh commented on #20105
No worries. Thanks for working on this.

On Mon, Jan 25, 2016 at 5:18 PM, Liang Mingqiang <notifications@github.com>
wrote:

[2016-01-26 01:20] ixdy commented on #18980
Created https://github.com/kubernetes/kubernetes/issues/20133 regarding build slowness.

Until we can figure out how to deal with it, e2e and unit/integration tests are regularly going to time out, I'm afraid.

[2016-01-26 01:23] vishh commented on #19904
The ideal goal is no flakes :) So I updated the initial delay for now.

On Mon, Jan 25, 2016 at 3:14 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-01-26 01:26] gbraxton opened #20135 "Ansible Task Monitoring - Update regex for pillar vars"
In **kubernetes/kubernetes/cluster/addons/cluster-monitoring/google/heapster-controller.yaml**, commit: ```3da8d80187b12db4e505bd2be5ef41dc819f0506```, the pillar variables were changed from the format ```pillar['num_nodes']```, to the format ```pillar.get('num_nodes', -1)```. The ansible task in **contrib/ansible/roles/kubernetes-addons/tasks/cluster-monitoring.yml**, *Monitoring | Convert pillar

[2016-01-26 01:33] #20099 closed

[2016-01-26 01:38] yujuhong commented on #16627
@bgrant0607, how is the resource usage related to mirror pods? Wrong issue?

[2016-01-26 01:38] bgrant0607 commented on #18528
As for non-path-based version negotiation:

Most examples I see for custom content types look like `application/vnd.kubernetes.something-v2+json`. This is a [vendor mime type](http://tools.ietf.org/html/rfc4288#section-3.2). Or `x.kubernetes.something` if we don't want to register the type. The ones that append the version look like `application/x.kubernetes.something+json; version=2`.  I'm not su

[2016-01-26 01:40] bgrant0607 commented on #18528
BTW, if we decide not to put Scale's API version in the path, then I think we can punt on version negotiation itself for 1.2. We just need to settle on the path for now, since I expect to only support one API version at a given path.

[2016-01-26 01:49] paralin commented on #19317
kubectl get ns openshift -o json

[code]

Interestingly the finalizer is set to openshift.io/origin.

I tried deleting the finalizer out of the namespace using kubectl edit, but it still remains in another get operation.

[2016-01-26 01:50] paralin commented on #19317
This also happens with the one other namespace I manually created in OpenShift with the projects system:

[code]

I'm not actually using OpenShift anymore so these namespaces are pretty much stuck in my prod cluster until I can figure out how to get past this.

[2016-01-26 01:50] yujuhong commented on #19291
A question, @ihmccreery: kubernetes-e2e-gke-ci also runs all the reboot tests. This seems undesirable. Should they be moved out from the suite now that we test reboot tests in gke-ci-reboot?

[2016-01-26 01:53] paralin commented on #19317
Deleted the controller-manager pod and the associated pause pod and restarted kubelet on the master. The containers were re-created, `kubectl get cs` shows everything as healthy, but the namespaces remain.

[2016-01-26 02:04] zmerlynn commented on #19986
It looks like `gke-ci-reboot` is green. I'm hoping that http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10452/, which is the first `gke-ci` build past #20109, will go green as well. (The cycle time on that build is waaaaay too long.)

[2016-01-26 02:06] magicwang-cn opened #20136 "bugs in unversioned request"
- i think [this judgment](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request.go#L649-L654) should close the response's body.
- also its [UT test here](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request_test.go#L482) is not a formal http response, it should has a response body.
- [this judgment](https://github.com/kubernetes/kubernet

[2016-01-26 02:06] magicwang-cn commented on #20136
@davidopp @lavalamp

[2016-01-26 02:43] timothysc commented on #20119
/cc @jayunit100 please add this to our backlog as well.

[2016-01-26 02:58] magicwang-cn commented on #19637
@lavalamp you mean you will do this work?

[2016-01-26 04:43] pmorie commented on #19953
@kubernetes/rh-storage

[2016-01-26 04:47] nikhiljindal commented on #19254
testServer.Close() was commented out in pkg/storage/etcd/util/etcd_util_test.go in https://github.com/kubernetes/kubernetes/pull/19458

[2016-01-26 05:33] AdoHe commented on #19309
@lavalamp I can help fix this bug if possible.

[2016-01-26 05:37] kevin-wangzefeng commented on #20064
/cc @kevin-wangzefeng @alfred-huangjian

[2016-01-26 05:54] davidopp commented on #19254
#19458 was merged on Jan 12 and @quinton-hoole said the last failure was on Jan 22, so it seems like the cause is different.

[2016-01-26 06:07] roberthbailey commented on #19845
@danielschonfeld -- I just read through your issue and this seems to be a problem specific to the AWS configuration. On other platforms (e.g. GCE / GKE) we use masterless salt (e.g. there is no salt master and no communication between nodes as part of the salt configuration). Instead, we generate certificates on the developer machine and push them out to all of the nodes.

I'm going to assign to @

[2016-01-26 06:19] thockin commented on #17905
We should make a list and consider them one by one.  I think that, for most
of them, validation is appropriate.  If the APIServer doesn't know then it
can't DTRT.  Some will be looser, I bet, but most not.

On Mon, Jan 25, 2016 at 2:40 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-26 06:50] drngsl opened #20146 "Kubernetes uses Openstack cloud provider"
Hi!
I want to use openstack to provide storage for kubernetes pod, but when I run kubelet --cloud-provider=openstack --cloud-config=/etc/cloud.conf. It causes some errors.

kubernetes version:

[code]

/etc/cloud.conf

[code]

And Errors like this:

[code]

[2016-01-26 07:23] mfanjie commented on #20073
Specifying backup extension for sed -i is required on MAC, which is incompatible with on Linux. The sed -i code in build/common.sh is Linux compatible format and backup extension is not specified, this breaks MAC build.

I modified the checking by calling existing function kube::build::is_osx, if it is true, then add "" as backup extension, which is no backup.

[2016-01-26 07:31] bgrant0607 commented on #16627
@mml The main value in mirror pods over just accounting for the resources is in being able to see their status (container health, restarts, etc.) and events via normal means. The mirror pods are actual pods that we'd otherwise like to behave normally.

If not for the case of debugging the cluster control-plane components, option 2 would be appealing. DaemonSet could be used for daemons on cluster

[2016-01-26 07:41] saad-ali commented on #19953
Thanks @dchen1107. Confirmed that both those continuous E2E builds hit the same issue.

`kubernetes-soak-continuous-e2e-gce/4396`:
[code]

Basically this bug exposes the house of cards that is the current state of the attach/detach logic in kubelet. In the existing code there is a race condition between the asynchronous pod creation loop and the orphaned pods clean up loop. Although there is some

[2016-01-26 08:16] jetsanix opened #20150 "where can I found kubelet config file's format?"

[2016-01-26 08:43] jsafrane commented on #19953
@saad-ali, this looks very similar to #19602. I fixed it for Cinder, #19953, I guess a hotfix for GCE would look the same. Proper attach/detach controller will hopefuly fix it for all.

[2016-01-26 08:48] piosz commented on #19896
#20109 fixed the issue - the suite hasn't been flaky for 15+ runs.

[2016-01-26 08:48] #19896 closed

[2016-01-26 09:04] piosz commented on #20099
Great job @yujuhong! It will be very helpful for debugging.

[2016-01-26 09:12] fgrzadkowski commented on #19036
I checked last 7 failures that spans ~4 days:

* 5 failed due to long pod POST
* 1 failed due to long pod POST and long nodes LIST
* 1 failed due to long nodes LIST

I'll focus on understanding long pod POSTs.

[2016-01-26 09:18] jean0313 commented on #6888
@yxy12a It works for me. thanks.

[2016-01-26 09:44] pupapaik commented on #20088
This is the issue https://github.com/saltstack/salt-bootstrap/issues/737

[2016-01-26 09:52] piosz commented on #20100
HPA e2e tests should catch crashlooping Heapster. Together with #19986 we had a regression in autoscaling suite #19896. I think we don't need any extra tests for crashlooping Heapster.

[2016-01-26 09:59] piosz commented on #20100
I checked and HPA e2e tests don't run for GKE. How about enabling them (there are 2 tests, each of them last for 15-20 minutes, once the new version of Heapster is deployed should be less)?

cc @ihmccreery

[2016-01-26 10:06] AdoHe commented on #20146
@drngsl maybe you can check this #19264

[2016-01-26 10:12] ibotty opened #20151 "make it possible to unmount secrets"
Many applications have a setup phase where they need credentials and don't afterwards. It would be great not to retain the secrets in case of an application vulnerability.

It might also be nice to do that automatically (e.g. after a readiness probe succeeds). I think it ought to be an attribute of the container's volume mount (and not the volume).

[2016-01-26 10:16] feiskyer commented on #19854
+1 to (d)

[2016-01-26 10:23] kargakis commented on #20130
I really don't know how I feel about this issue. In order to fix it we need to allow another entrypoint for scaling the deployment's latest state. Which means races.

Both autoscalers and [manual scaling](https://github.com/kubernetes/kubernetes/blob/3f40fb7d0af552b44dadc68dfb78e62bcb2819a6/pkg/kubectl/scale.go#L282-L283) hit the deployment /scale [endpoint](https://github.com/kubernetes/kubernete

[2016-01-26 10:45] #18167 closed

[2016-01-26 10:59] #20150 closed

[2016-01-26 11:36] resouer commented on #20121
cc @resouer

[2016-01-26 11:57] luxas commented on #20133
I'll look into knobs to tune #19769
For instance, splitting up client targets into client target (`kubectl`) and test targets.
Then we can easily specify for which platforms it's worth it to build test targets.

@zmerlynn and I have come to the conclusion that the `kube-build:cross` image speeds up the compilation a bit, especially now when `protoc` is included.

[2016-01-26 12:43] drngsl commented on #20146
@AdoHe , I checked that, but kubelet service on the minion nodes still can not restart.
kubelet conf on minion nodes
/etc/default/kubelet
# Kubelet Upstart and SysVinit configuration file

# Customize kubelet binary location
# KUBELET="/opt/bin/kubelet"

# Use KUBELET_OPTS to modify the start/restart options
KUBELET_OPTS="--address=0.0.0.0 \
  --port=10250 \
  --hostname_override=10.0.0.13 \
  --a

[2016-01-26 12:51] drngsl commented on #19264
@loshkovskyi , I also meet the same problem.
And my kubelet config on the minion nodes like:
/etc/default/kubelet

KUBELET_OPTS="--address=0.0.0.0 \
--port=10250 \
--hostname_override=10.0.0.13 \
--api_servers=10.0.0.15:8080 \
--logtostderr=false \
--log_dir=/var/log/kubernetes
--cloud-provider=openstack\
--cloud-config=/etc/cloud.conf\
--v=5"

/etc/cloud.conf
[Global]
auth-url=https://162.3.132.5

[2016-01-26 13:11] magicwang-cn commented on #18266
@lavalamp @hongchaodeng @timothysc
today i have found the potential clients that send the List() request without set (`resourceVersion=0`), mainly in density test itself(`especial DeleteRC, this will list pods from etcd with a long time `), for example:
[DeleteRC](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L1921)
[start](https://github.com/kubernetes/kubernetes/blob/mast

[2016-01-26 13:32] jtblin commented on #11543
@moserke no I don't use public ip addresses. Looking at the code, I see this function is called by the api-server and kubelet so I was surprised I was not getting the error but it looks this code is different in v1.1.3 not v1.1.4 which I am running and take care of the case where the public ip is missing, hence why I am not getting it.

[code]

BTW `local-ipv4` will always be present (it's the int

[2016-01-26 14:00] willmore commented on #20088
Have a temporary fix:

As pointed out in https://github.com/kubernetes/kubernetes/issues/20088#issuecomment-174930620, the root issue is a change in URL for an underlying dependency reference by `saltstack-bootstrap`.

This is fixed in https://github.com/saltstack/salt-bootstrap/pull/738, but the fix has not made it to `saltstack-bootstrap` stable.

We can use the `develop` version:
[code]

Tested

[2016-01-26 14:09] ncdc commented on #19367
+1 to not blocking. I agree w/Tim's suggestion - if we want to allow automatic restarts on change, the user can opt in to that behavior explicitly.

[2016-01-26 14:15] zmerlynn commented on #19986
It looks like we're good! `gke-ci` is green now!

[2016-01-26 14:30] ncdc commented on #18009
cc @kubernetes/rh-cluster-infra

[2016-01-26 15:12] kpatryk commented on #8042
Hi,

I'm facing the same issue with most recent version of Kubernetes v1.1.2:
[code]

while DNS seems to work inside Kubernetes cluster as expected SkyDns  container is killed every 30 seconds:
[code]

Kube2Sky version: 1.11
[code]

Exited containers logs contain the same messages:
[code]

I have 3 minions deployed on AWS. Problem exists in all of them. Kube-proxy is flooding /var/log/syslog with

[2016-01-26 15:13] ArtfulCoder commented on #20090
Having more than one NS has other problems beyond parallel v/s serial queries.
check out https://github.com/kubernetes/kubernetes/issues/15592#issue-111306439

If we still want more than one NS, we can go the flag approach, but its going to come at the cost of potentially incorrect DNS responses.

[2016-01-26 15:27] bgrant0607 opened #20154 "test-cmd flake: first kubectl command (get nodes) fails"
Encountered on #18901

[code]

cc @kargakis

[2016-01-26 16:07] kargakis commented on #20154
kubectl is running with --match-server-version and versions between the client and the server fail to match
[code]
[code]

[2016-01-26 16:28] fgrzadkowski commented on #19036
I carefully checked logs of 3 last failures. It seems that all long POSTs occurred in exactly the same time. Looking at the trace information it seems that writing to the database is long:

[code]

However metrics for etcd requests latency are normal:

[code]

I'm adding more tracing information that might shed more light.

[2016-01-26 16:31] wojtek-t commented on #20119
Sure - I completely agree. This was also our plan, but we didn't get to it yet.

@gmarek

[2016-01-26 17:02] thockin commented on #20151
Could you instead put them into env vars (PRs are in or in flight, look for it in v1.2) and unset the env var when you are done?  The idea as described is not very exciting to me (readiness can change back and forth) and tricky to implement (crossing mount namespaces).

[2016-01-26 17:04] smarterclayton commented on #20090
DNS is one of the most tightly controlled infrastructure pieces in
real organizations today, after networks.  Just because there are
trade offs and disadvantages (and all of those are things to document)
doesn't negate the fact that we can't dictate the terms of deployment.
The real world is an ugly place :)

[2016-01-26 17:21] ihmccreery opened #20161 "Create alias test.k8s.io/kubernetes-e2e/12345 for GCS artifacts?"
I think it might be worth creating some kind of alias for people to easily find test results.  @thockin and I have discussed how Jenkins links are non-permanent, and of course they are also not public.  It would be easy to print out a statement at the top of a Jenkins run that says something like:

[code]

and that second line could be what people could post to issues, etc.

cc @kubernetes/goog-te

[2016-01-26 17:29] aveshagarwal opened #20162 "hack/test-cmd.sh is failing due to https://github.com/kubernetes/kubernetes/pull/19447"
[code]

[2016-01-26 17:30] ihmccreery commented on #20100
Yes, this is why I filed #19542: to standardize what tests we're running where.  If you need more information to finish that, please let me know.

[2016-01-26 17:30] cameronbrunner commented on #19079
Thanks for the pointer to that openshift issue; that does provide some insight.  I have been following #13925 as well since it does have a big part of what I am looking for.  A little background on why I am looking for this; we are working on integrating our scheduler (Grid Engine) in kubernetes and from our past experience user ownership of compute tasks is important when organizations implement

[2016-01-26 17:31] aveshagarwal commented on #20162
This PR https://github.com/kubernetes/kubernetes/pull/20129 (not yet merged) seems to be fixing this.

[2016-01-26 17:33] ncdc commented on #20101
:+1: to same type

[2016-01-26 17:34] ncdc commented on #20031
This trace looks like the same root cause as #19466. Can we close this @lavalamp?

[2016-01-26 17:35] bgrant0607 commented on #20154
Thanks @kargakis.

Log:
https://00e9e64bac1987e009866fe0f2ff646b8f768a1861e5d901d6-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Ff3ca6064a59a00fc767f38216625ae1d0376e86c%2Fkubernetes-pull-test-unit-integration%2F10958%2Fbuild-log.txt?qk=AD5uMEsQggOGbuvt7hDBeqrpnKNODJ-3iNwAKdogdgNXgwojbU9dKWDBIFN0rtgdn5wwIZ9D_G5WT5g16Vw-YIe9YGjfJ2qSEzfxlbcBT_Oo_ZemhjuvT

[2016-01-26 17:39] bgrant0607 commented on #20154
Looks like it might be a problem with #18901 rather than a flake.

[2016-01-26 17:41] dchen1107 commented on #19189
Ok,

* Crashloop heapster was upgraded to a new version.
* #20099 was merged, which can help us to understand more which kube-system pods are not ready and why.
* Version screw fix was merged too.
* Reboot test suite passed since yesterday late afternoon.

Close the issue.

[2016-01-26 17:41] #19189 closed

[2016-01-26 17:43] kargakis commented on #20154
Most probably the tmp file. Let's close this on green tests from 18901 and we can revisit it if we see that failure again

[2016-01-26 17:54] thockin commented on #20161
I can do this after some meetings today.  If you can give me teh transform
to apply I'll drop it into the redirector

On Tue, Jan 26, 2016 at 9:22 AM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-01-26 17:55] spxtr commented on #20161
It currently says this at the very bottom of the test logs.

[code]

[2016-01-26 17:58] quinton-hoole commented on #20096
@dchen1107 I think that it's a good idea to remotely monitor nodes and have a set of well-defined node states in which we remotely reboot the node to remedy the situation.  But I don't think it's very useful to implement these for the soak tests only. On the contrary, the soak tests now give us a reasonable measure of how reliable our customers experience their nodes and clusters to be.

For GCE a

[2016-01-26 18:00] dchen1107 commented on #20021
After all flakiness fix for reboot test, I never see the issue reported here. I am closing this one for now. If we found a new incident, please feel free to reopen it. Thanks!

[2016-01-26 18:00] #20021 closed

[2016-01-26 18:03] ihmccreery commented on #20096
This seems dubious to me; Kubernetes is supposed to be a self-healing system, and tests should (kind of) mirror real-world production usage, especially in the "soak" side of things.

I agree that Kubelet shouldn't be a MachineDoctor or SoftwareDoctor, but it's good for us to know that Kubernetes, (our *product*) is relying on a system that isn't stable enough for us to have soak tests passing.  Re

[2016-01-26 18:05] davidopp commented on #18334
@mwielgus can you please update the status on this?

[2016-01-26 18:05] davidopp commented on #20006
Please reopen if the problem returns.

[2016-01-26 18:05] #20006 closed

[2016-01-26 18:07] davidopp commented on #17765
Closing, please reopen when we see the problem again and we'll look at the new debug info that @spxtr added.

[2016-01-26 18:07] #17765 closed

[2016-01-26 18:07] alex-mohr commented on #16803
@ihmccreery Obsolete?

[2016-01-26 18:11] deads2k commented on #18679
Yes.  It was to demonstrate the need and to demonstrate a workaround that doesn't involve a "special" namespace.

I would like to be able to create a resource that is both cluster-scoped and namespace-scoped.  I think that it is reasonably achievable and that a first step would be narrowing the meaning of `namespace=""`

[2016-01-26 18:12] quinton-hoole commented on #20096
@ihmccreery I think that my proposal above addresses your (very valid) concerns?

[2016-01-26 18:14] #19026 closed

[2016-01-26 18:17] bittrance commented on #13776
@xied75 I have a python script in container that allows this:

tar cf - . | kubectl exec shinken -i -- catcher /configdir

See https://github.com/bittrance/docker-shinken/blob/master/catcher.py

[2016-01-26 18:22] derekwaynecarr commented on #18679
Long ago, when I was looking at this problem, I had evaluated moving namespace out of `ObjectMeta` and instead have objects that belonged to a namespace embed `NamespaceMeta`.  Does that help?

[2016-01-26 18:23] derekwaynecarr commented on #18679
Never mind, I see that you want to have it both ways.

[2016-01-26 18:23] #20162 closed

[2016-01-26 18:26] lavalamp commented on #20136
1. agree
2. it should be tested both ways, the client should live with error code and no body, even though I agree that's not what a server should send
3. I think it's OK the way it is

[2016-01-26 18:27] lavalamp commented on #19637
No, I mean I'd be happy to review such a pr-- I don't have time to make one personally unfortunately.

[2016-01-26 18:27] lavalamp commented on #19309
@AdoHe That would be great, thanks!

[2016-01-26 18:29] davidopp commented on #18334
Ah never mind, I see #20158 now.

[2016-01-26 18:30] lavalamp commented on #18266
It would be useful to log the client there so we can get a list of which
components need to be updated.

I think only clients on every node really matter-- I don't think the e2e
tests themselves will make enough traffic to harm the server, but I still
think it'd be good to fix them.

On Tue, Jan 26, 2016 at 5:11 AM, wangbo <notifications@github.com> wrote:

[2016-01-26 18:30] lavalamp commented on #20031
OK, we'll call this a dup of #19466.

[2016-01-26 18:30] #20031 closed

[2016-01-26 18:32] bgrant0607 commented on #20154
Green

[2016-01-26 18:32] #20154 closed

[2016-01-26 18:46] lavalamp commented on #19999
@davidopp that looks like it might be #19403?

[2016-01-26 18:49] lavalamp commented on #18528
Let's try to make a decision on header vs path at tomorrow's API machinery
SIG. I added it to the agenda.

On Mon, Jan 25, 2016 at 5:41 PM, Brian Grant <notifications@github.com>
wrote:

[2016-01-26 18:59] roberthbailey commented on #16779
@erictune Are you still working on this?

[2016-01-26 19:02] pmorie commented on #19367
Spent a fair amount of time thinking about the question of whether to restart pods due to env changes recently, and I feel like that is going to be a losing game.  I think users of environment variables are usually well-aware of the non-existent update semantics, and I suspect that if we try to make pods restart because something that goes into an env var changed, that we'll be playing a losing ga

[2016-01-26 19:05] ihmccreery commented on #16803
Oops, yes, I fixed this a while ago.

[2016-01-26 19:05] #16803 closed

[2016-01-26 19:06] ncdc commented on #19367
:+1: After thinking about this more, I assume that most application developers are aware that executables must be restarted when env vars change (and they need to perform the restart themselves), and they can either decide to reread config files periodically or via inotify if they want to react to changes in files.

[2016-01-26 19:06] erictune opened #20165 "Service Account Key Rotation"
A user asked how to rotate service account keys.
[discussion thread](https://groups.google.com/forum/#!msg/google-containers/qSo2Q5kGI6I/use7PIYuCAAJ)

Currently, user restarts controller manager with new keypair and then restarts all pods.
User pointed out problems with that procedure:

1. you cannot restart pod instantly
2.  until a pod is restarted, it is basically broken when assuming it requi

[2016-01-26 19:07] erictune commented on #20165
@liggitt since it is about service accounts

[2016-01-26 19:07] erictune commented on #20165
@mml since it is about restarting all the pods.

[2016-01-26 19:08] ihmccreery commented on #20096
Yup, SGTM.  I had written that before I saw your post; looks like we were thinking along similar lines.

[2016-01-26 19:14] erictune commented on #16779
yes

[2016-01-26 19:17] ihmccreery commented on #19291
Kubernetes should be expected to survive on reboot, so I've been thinking of the reboot tests as something we should run along with all of our other serial tests, and if it's flaky it should be deflaked.

They do take a long time to run, but once we move to only running serial jobs in serial and running parallelize-able tests in parallel (hopefully soon), the time lag should be alleviated.

I thin

[2016-01-26 19:23] liggitt commented on #18622
The current impl (changed in November, I think) now pluralizes ListOptions as listoptionses, PodLogOptions as podlogoptionses, etc. I'm as big a LotR fan as anyone, but...

[2016-01-26 19:23] ihmccreery commented on #19960
Reopening.  We hash based on port (among other things), which perhaps we should be rotating.  Assigning to @krousey for further investigation.

[2016-01-26 19:25] bgrant0607 commented on #20101
One advantage of separate types is context-sensitive documentation, which we autogenerate from the type comments.

We reuse types in many cases today where we shouldn't, which causes documentation to be wrong, required/optional info to be wrong, fields that aren't actually supported to appear in types where they don't belong, etc.

Is there any real advantage to using the same types?

[2016-01-26 19:26] brendandburns commented on #18210
@thockin this just re-occurred, here's the log:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/15000

[code]

[2016-01-26 19:29] ihmccreery commented on #20096
I'm removing this from the flake list and adding it as P0 for v1.2 per our discussion this morning.

[2016-01-26 19:30] therc commented on #20162
Avesh, can you confirm that it works for you? Thanks!

[2016-01-26 19:30] freehan commented on #19033
A few docs for extending kube-registry
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry#more-extensions

[2016-01-26 19:34] liggitt commented on #20165
yeah, the token generation/validation tolerates rotation... plumbing a list of keys (newest to oldest) should be sufficient from the authenticator's perspective.

[2016-01-26 19:37] aveshagarwal commented on #20162
@therc Yes It worked for me.

[2016-01-26 19:42] quinton-hoole commented on #20096
@ihmccreery I wasn't in that discussion, but just to be clear, is the plan to improve soak test infra (as per the title of this issue), or improve remote monitoring and rebooting of nodes (as per [my comment above](https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-175143914) ?  If the latter, I'd suggest changing the title accordingly.

[2016-01-26 19:47] smarterclayton commented on #18622
My.... presccccciiiooouuuussssss.....

On Tue, Jan 26, 2016 at 2:23 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-01-26 19:47] bprashanth commented on #19665
This is actually pretty stable now, I went through gke-ci results and the times it's flaked a lot of other tests have also failed indicating a deeper issue. It failed in gce-slow recently (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-slow/1572/consoleFull) but that's because a node didn't come up, and that's probably being handled via reboot test.

@kubernetes/goog-cluster closing fo

[2016-01-26 19:47] #19665 closed

[2016-01-26 19:49] nikhiljindal opened #20168 "calling client.deployment.Update() without any change causes deployment to change"
From https://groups.google.com/forum/#!topic/google-containers/ieYkPamnaw8

[code]

cc @krmayankk @janetkuo @caesarxuchao @kargakis @ironcladlou

[2016-01-26 19:51] dchen1107 commented on #20096
@quinton-hoole I mentioned both 1) improve the soak test infra in short time and 2) improve remote monitoring and remedy in relatively longer time this morning. This issue is denote to test infra. We should talk about more for 2), especially for GKE / GCE nodes.

[2016-01-26 19:52] erictune commented on #20165
Edited procedure above to add missing step: need to delete old secrets and add new secrets to each service account prior to restarting pods.

[2016-01-26 19:56] #20048 closed

[2016-01-26 20:06] piosz commented on #20100
@ihmccreery #19542 is about tests that are disabled as for now due to various reasons and are not related to this issue. [horizontal_pod_autoscaling](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/horizontal_pod_autoscaling.go#L51) e2e tagged as [Feature:Autoscaling] is running in autoscaling e2e suite and should be run also in some GKE suite. The question is which GKE suite is appr

[2016-01-26 20:20] bprashanth commented on #19774
@thockin who was asking about ingress and openstack recently

[2016-01-26 20:25] piosz commented on #18528
@lavalamp good idea
cc @fgrzadkowski

[2016-01-26 20:41] thockin commented on #20161
Ike,

Can you summarize the various discussions?  Given a PR #, what URL should I
redirect to?

On Tue, Jan 26, 2016 at 11:29 AM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-01-26 20:43] thockin commented on #18622
On Tue, Jan 26, 2016 at 11:48 AM, Clayton Coleman
<notifications@github.com> wrote:

FTFY: presccccciiiooouuuusssssses

[2016-01-26 20:52] thockin commented on #18210
@ArtfulCoder Can you take a look, with prio, please.  Of note:

[2016-01-26 20:54] davidopp commented on #19023
IIUC #19973 is supposed to fix this, so closing the issue, of course we can re-open if the problem recurs.

Thanks @bprashanth  !

[2016-01-26 20:57] brendandburns opened #20171 "generate api reference needs to be resilient against github failures"
[code]

Full log:
[code]

[2016-01-26 20:57] saad-ali commented on #19953
Ya, same issue. There is similar logic on the GCE PD side to prevent the attach/detach operations from interrupting each other, but that does nothing to guarantee the order of operations--which is the key issue here. That will be addressed by unifying the loops.

[2016-01-26 20:58] linsun commented on #18723
I am also interested in exposing the two params Mike described.   Q:  Can I pass them as part of scheduler-config similar as how we pass "--cadvisor-port" value to the executor (e.g. from Scheduler Config and adding them to ci.Arguments (in scheduler service.go)?  Thanks?

[2016-01-26 21:10] krousey commented on #19960
@ihmccreery We do rotate source ports because the OS chooses a random one for us. Someone else asked this question just yesterday, and I even went so far as to do a 30-minute packet capture to prove it. Did I miss something today that makes us think this is the issue?

[2016-01-26 21:12] ixdy commented on #20161
FYI kubernetes/contrib/pull/404 just merged, which will link the SQ status page to the correct GCS storage browser urls.

[2016-01-26 21:12] caesarxuchao commented on #19403
The root cause is that the node controller and kubelet delete the pods using their names (they should use UID instead):
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L349
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/manager.go#L384
(this is not an exhaustive list)

In test-cmd.sh, we create and delete the same pod multiple tim

[2016-01-26 21:16] mikedanese commented on #19403
Why is it not okay to delete by name?

[2016-01-26 21:20] caesarxuchao commented on #19403
namespace+name pair is not an unique identifier across time.

[2016-01-26 21:22] caesarxuchao commented on #19403
@lavalamp, the client library and the API server don't support deletion by UID, I think we should support.

[2016-01-26 21:28] lavalamp commented on #19403
Thanks!! My thoughts:

1. Why does node controller care about these pods? I'm pretty sure the original author wasn't expecting that.
2. As a temporary fix, is it hard to just use new names for every incarnation of these pods?

[2016-01-26 21:30] lavalamp commented on #19403
Deleting by UID is probably a bigger can of worms than we want to open right now, although it will eventually be important.

Thinking out loud here, but maybe it'd be possible to add a resource version to the delete command. I.e., "delete only if it hasn't changed since rv=xxxxx".

But I still think it's probably ideal to turn off the node controller for this test.

[2016-01-26 21:33] erictune commented on #19898
I reviewed the kubelet log of the bad kubelet (e2e-test-parallel-minion-prtl).

Log available via
[code]

I assume that the jenkins machine is using pacific time and the nodes use UCT, so `14:26:59.034` in jenkins logs is `22:26:59.034` in kubelet log.

Very near that time in the kubelet log, it looks like kubelet gives a 500 to a healthz check:
[code]

I think the kubelet crashed as a result of t

[2016-01-26 21:36] caesarxuchao commented on #19403
I'm also thinking if we can centralize all the pod deletion logic into kubelet, but it seems some of the logic need to stay in the node controller, e.g, [this one](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L325), because only the node controller knows if the node exists.

[This](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nod

[2016-01-26 21:37] bgrant0607 commented on #16737
@ernestoalejo pointed out a serious issue with rollback: It needs to be possible to rollback when pods are unavailable, since that's likely when one wants to rollback. The user should be able to do this without changing maxUnavailable or maxSurge.

The deployment controller currently just checks whether we've hit maxUnavailable in order to decide whether it can scale down:
https://github.com/kuber

[2016-01-26 21:39] mikedanese commented on #19403
Looks like node controller is getting an update of the pod where DeleteionTimestamp is set, which seems like a bug if --grace-period is set to 0. My understanding is that if grace period is zero, the pod should get immediately deleted.

That deletion will never make it to the kubelet because it hasn't been scheduled yet. I'm pretty sure none of those deletions can be handled in the kubelet.

[2016-01-26 21:40] erictune opened #20173 "Kubelet crashes with 500 response to health check during e2e"
In this e2e log:

[code]

The kubelet crashes three times while handling a healthz check:
1)

[code]

2)

[code]

3)

[code]

[2016-01-26 21:40] erictune commented on #20173
This caused at least 1 test flake: #19898

[2016-01-26 21:41] bprashanth commented on #19023
Oh, hmm, i was going to wait for the nodecontroller reverts and the pod sync fix, and they rerun in a loop overnight. I'll do that anyway and re-open if anything else breaks.

[2016-01-26 21:41] bgrant0607 commented on #16737
@johanhaleby

kubectl apply + Deployment will support "createOrUpdate":
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deployment.md
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_apply.md

We're also working on automatically reverting a rollback that doesn't make progress: #19343

The intent of Deployment is for it to facilitate CI/CD. It

[2016-01-26 21:44] bgrant0607 commented on #16737
@knownasilya kubectl rolling-update now takes into account pod readiness when deciding whether it should continue, so it doesn't blindly kill all the replicas of the application.

[2016-01-26 21:44] erictune commented on #19898
I filed issue for the kubelet failures. #20173

Although extending the wait from 1m to say 2m would have avoided this flake, I think that the first fix is to remove the kubelet crash, and only consider extending the timeout if it proves impossible to avoid all crashes.

[2016-01-26 21:44] #19898 closed

[2016-01-26 21:45] jdef commented on #18723
Yes, passing them using a similar code path is fine. Heads up: Tim St.
Clair has indicated that these flags may change down the road (they may not
even be exposed by the kubelet at somepoint).

On Tue, Jan 26, 2016 at 3:59 PM, Lin Sun <notifications@github.com> wrote:

[2016-01-26 21:46] bgrant0607 commented on #16737
The rollback problem was previously discovered in kubectl rolling-update as well:
https://github.com/kubernetes/kubernetes/issues/18530#issuecomment-163990803

[2016-01-26 21:47] caesarxuchao commented on #19403
Btw, when running hack/test-cmd.sh ([sample log](https://00e9e64baca2815b82403596dc2ecd7bfd2467925931af290a-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fd3d4bdf34319c8ad2903c415a93e776b177776c2%2Fkubernetes-pull-test-unit-integration%2F8354%2Fbuild-log.txt?qk=AD5uMEvY566tJnz5QAuEvy11JnnwNNQyE6lyq4Onn-6mqnFXl1hvhvm5sgeyeNpe3sCNUbi2rXbKWxjJHEe6eo88-pcCf

[2016-01-26 21:47] davidopp commented on #19023
Can you link to " the nodecontroller reverts and the pod sync fix, " ? I closed this because I didn't see any other outstanding PRs mentioned here.

[2016-01-26 21:49] caesarxuchao commented on #19403
I think kubelet will delete such pods immediately, so it's not a bug. The node controller will try to delete such pods again but will fail.

[2016-01-26 21:49] bprashanth commented on #19023
Just the 2 above, namely: https://github.com/kubernetes/kubernetes/issues/20048, https://github.com/kubernetes/kubernetes/issues/19973

[2016-01-26 21:50] erictune commented on #20173
All 3 stack traces are the same functions and files.

[2016-01-26 21:50] gbraxton commented on #20135
Resolved by #402 commit 10f6a220278905392c3966b2e8d07e8b7475b402

[2016-01-26 21:50] #20135 closed

[2016-01-26 21:52] erictune commented on #20173
Another nodes from the same test build also shows this crash, so I think it is unlikely to be a single bad node.

[2016-01-26 21:58] erictune commented on #19898
Supervisord log confirms kubelet restarts.

[2016-01-26 22:01] erictune commented on #20173
I see that the code of handleRootHealthz in pkg/healthz/healthz.go is trying to return a verbose message about what check failed.  But I cannot see how to find this string in either the kubelet or supervisord logs.

I can't tell if (1) the http response does include the verbose error message but supervisord needs to be taught to log it, or (2) the http response never gets sent because the default

[2016-01-26 22:02] erictune commented on #20173
I'm done with this issue.  Letting node team decide how to proceed.

[2016-01-26 22:03] erictune commented on #20173
So, 2 problems need to be fixed:

- kubelet failed healthz a bunch
- you can't tell which check failed from test logs.

[2016-01-26 22:04] erictune commented on #20173
@kubernetes/goog-node

[2016-01-26 22:06] davidopp commented on #19023
Oh yeah, I was watching those before I closed this -- both of those were already merged.

[2016-01-26 22:20] ihmccreery commented on #20161
**For CI**: we should redirect `http://ci-test.k8s.io/some-kind-of-test-suite/12345` to `https://storage.cloud.google.com/kubernetes-jenkins/logs/some-kind-of-test-suite/12345`; (that's run `12345` of `some-kind-of-test-suite`, e.g. `kubernetes-e2e-gce`).

**For PRs**: per https://github.com/kubernetes/kubernetes/pull/20166, given a PR number, maybe we can redirect `http://pr-test.k8s.io/12345` to

[2016-01-26 22:24] ixdy commented on #20161
Yep, sounds correct.

[2016-01-26 22:25] ixdy commented on #20161
That's basically correct, but we should probably be consistent with the base URL - e.g. either `https://storage.cloud.google.com/` or `https://console.developers.google.com/storage/browser/`. The former seems to redirect to the latter.

[2016-01-26 22:29] bgrant0607 commented on #18568
I view this as similar to #2529. The system should degrade gracefully in the presence of failures.

We're not continuing to work on kubectl rolling-update, but we are working to address this type of thing in Deployment.

Currently we stop progressing the rollout when we hit maxUnavailable. That allows the user to configure the desired amount of parallelism and risk.

If a container/pod simply fail

[2016-01-26 22:31] ihmccreery commented on #20161
Fewer redirects seems reasonable to me; let's stick with `console.developers....`?

[2016-01-26 22:38] ihmccreery commented on #20100
Ah, okay, so HPA falls into the "this is a feature that can't be tested in our core suites, so it needs to be a special snowflake".  What are the requirements for it, besides that it takes a long time?  Extra quota?  Let me know, and I can create a job for it in GKE.

[2016-01-26 22:39] ihmccreery commented on #20096
@dchen1107 What test infra changes do you want to see?  I'm skeptical that putting engineering hours toward soak test infra is time well-worth spent; I'd rather put that time into making the the production system acts as we expect.

[2016-01-26 22:42] bprashanth opened #20176 "kubectl create secret tls"
Since we're getting basic tls support in ingress (https://github.com/kubernetes/kubernetes/issues/19497), it would be nice if kubectl created the right secret for you given a key/cert pair. Additionally it could verify that the key and cert match, and warn if there are missing intermediate certificates. I imagine this would work something like:
`kubectl create secret tls NAME --key=path to private

[2016-01-26 22:44] derekwaynecarr commented on #18272
This was indirectly fixed with the change made in https://github.com/kubernetes/kubernetes/pull/19481

[2016-01-26 22:44] #18272 closed

[2016-01-26 22:48] vishh commented on #20173
FYI: Kubelet is configured to dump stack traces for all failing REST API calls.

The fact that the root cause is not visible/evident is an issue. I can look into it.

[2016-01-26 22:58] yujuhong commented on #20122
This will affect the behavior of --runonce, but I don't think garbage collection is expected for this mode.

[2016-01-26 23:03] lavalamp commented on #19403
That's my expectation, too (that grace period being zero should bypass all graceful deletion code and just immediately delete the pod).

[2016-01-26 23:03] mikedanese opened #20177 "Kubelet reported capacity should take into account the size of pod CIDR"
My kubernetes master in gce kube-up is using `10.123.45.1/30` which is enough ip addresses for 3 pods max yet the kubelet is reporting allocatable capacity for 40 pods.

cc @kubernetes/goog-node

[2016-01-26 23:06] dchen1107 opened #20179 "Reboot tests fail for kubernetes-e2e-gke-ci (reason: Nodes refuse to reboot)"
After all known issues which cause reboot test failure, we have a new incident: kubernetes-e2e-gke-ci/10456/

[code]

I triaged the issue, and ruled out the follow causes which are tracked by separated issues:

1) version screw which causes kube-proxy image being updated during the test.
2) heapster / influxdb crashloop: kube-system pods are ready on all nodes
3) aufs issue, which cause node canno

[2016-01-26 23:11] ihmccreery commented on #19291
I'm closing this as obsolete and will instead put effort toward #10548.

[2016-01-26 23:11] #19291 closed

[2016-01-26 23:12] ihmccreery commented on #10548
I'm bumping this to P0 as part of the test reliability surge: we need to know where tests are running, and we need to speed up our signal, especially going from failing/flake to passing.

[2016-01-26 23:14] caesarxuchao commented on #19403
When the grace period is zero, api server update the storage(https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L384), and then delete the pod from the storage (https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L419). The check of if grace period is 0 is after the update(https://github.com/kubernetes/kubernetes/blob/master/pk

[2016-01-26 23:14] nikhiljindal commented on #20168
I am unable to reproduce the problem.

I tried both `kubectl replace` (which uses unversioned.Client.Put()) and `curl PUT` directly.

The commands I ran are:
[code]

@krmayankk can you please show the code that you are using?

[2016-01-26 23:18] ihmccreery commented on #19548
Ping on this; @wojtek-t what do you want to do with this?  We shouldn't just be keeping dead code around, as it confuses what tests are running where.

[2016-01-26 23:23] #19053 closed

[2016-01-26 23:30] ixdy commented on #20133
@luxas any help is appreciated. :)

I'm actually gonna lower this to P1. It seems like adding some additional Jenkins nodes and spreading the load has brought things under control today.

[2016-01-26 23:35] yujuhong commented on #18834
The code mentioned is from the scheduler: https://github.com/kubernetes/kubernetes/blob/080cb60dab7dcdddf22bd658b8f443b2fd2af1b9/plugin/pkg/scheduler/factory/factory.go#L453

[2016-01-26 23:35] lavalamp commented on #19403
@smarterclayton Do you agree that the above is a bug?

[2016-01-26 23:37] lavalamp commented on #19403
Hm, is the problem a missing or incorrect BeforeDelete handler?

[2016-01-26 23:47] ghodss commented on #19622
We've found and fixed the issue. It happened because we switched to using the official Docker init script in our latest Docker RPM build (instead of using the EPEL init script).

For those who are interested, the [official RedHat init script](https://github.com/docker/docker/blob/master/contrib/init/sysvinit-redhat/docker) runs "unshare" before starting up Docker in an attempt to fix an issue wher

[2016-01-26 23:47] #19622 closed

[2016-01-26 23:47] ihmccreery commented on #19546
@thockin?

[2016-01-26 23:51] caesarxuchao commented on #19403
I think we are dealing with two problems here:
1. if grace-period=0, the registry shouldn't do an update.
2. the client library should provide a Delete() method that takes an unique identifier, the "name+namespace" pair is ambiguous across time.

[2016-01-26 23:52] a-robinson commented on #19405
Many thanks for the help providing log dumps, @ernestoalejo @johanhaleby! The problem you guys have hit appears to be due to the confluence of a few different issues.

First, our buffer chunks are somewhat small (only 512KB), and only one chunk can be flushed at a time, which with a high enough rate of logs, could cause the buffers to fill up.

Second, we didn't configure fluentd not to pipe its o

[2016-01-26 23:52] ixdy commented on #20161
OK, I just found one subtle difference between these two, mostly when linking to an object in the bucket (rather than a path):
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20143/kubernetes-pull-build-test-e2e-gce/25287/build-log.txt works.
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20143/kubernetes-pull-build-test-e2e-gce/25287/build-l

[2016-01-26 23:52] yujuhong commented on #18515
@jfchevrette, I am closing this issue due to inactivity. Please follow #16943 for the progress of reducing kubelet/docker cpu usage for v1.2. Also, we've found issues with docker 1.9 that have kept us from upgrading. We are planning to support docker v1.10 directly.

Feel free to reopen the issue if you have any more information.

[2016-01-26 23:52] #18515 closed

[2016-01-26 23:52] ihmccreery commented on #19546
I created #20183 as a proposed classification.

[2016-01-27 00:03] elfchief commented on #19622
Er, to be slightly more correct, we removed the unshare bit from the line, we didn't remove the entire line. ;)

[2016-01-27 00:07] ihmccreery commented on #19542
@gmarek What can we do with:

- "Load capacity [Skipped]": "can take a long time to run"; should this be [Slow]
- "Density [Skipped]": "can take a long time to run"; should this be [Slow]?

I'm pushing hard on  #10548 as part of our test reliability surge.

[2016-01-27 00:09] lavalamp commented on #19403
Thinking about this more, I wonder if the update is intentional. If so, we need some coordination so that both apiserver and kublet don't try to delete.

[2016-01-27 00:09] ihmccreery commented on #19542
Ah, didn't read that close enough; I will send a PR.

[2016-01-27 00:25] david-mcmahon commented on #20047
The immediate issue will be fixed when #19935 lands on the branch.
This is a general interface issue between release/* and build/*.  Lowering priority.

[2016-01-27 00:32] a-robinson commented on #19405
And for further improvement in 1.2, @mr-salty and I plan to adopt either buffering to disk instead of memory or the new fluentd feature to block reading from input files while the buffers are full. He's going to figure out whether the blocking one is available to build a release with yet and which will work better for us.

[2016-01-27 00:40] ernestoalejo commented on #19405
Thank you for the update to this issue and the solution

[2016-01-27 00:42] freehan commented on #20028
I am able to reproduce the failure by manually filling /tmp and run the test, of course on a test box... Not sure why it gets into this state in Jenkins.

Basically these 3 unit tests assumes there is available space under /tmp. One also tries to create a helloworld file to check if the du metrics reflects it.

[2016-01-27 00:54] smarterclayton commented on #19403
Grace period 0 is intentional, but may not be required for correct
behavior.  If the user signals delete immediately, we record that
intent so it shows up in watch and can be a signal kubelet to
terminate immediately (although we don't actually do that today, so we
could walk back the behavior).  We definitely need a precondition
delete on uid.

[2016-01-27 00:56] smarterclayton commented on #19403
There will never be a single owner of pod lifecycle because pods are bound to nodes, and so all components have to deal with races to delete.

[2016-01-27 00:59] smarterclayton commented on #19403
I chose to err on the side of being explicit about user intent with the update to zero out termination.  But technically explicit deletion can be the same signal.

[2016-01-27 00:59] caesarxuchao commented on #19403
intent so it shows up in watch and can be a signal kubelet to
terminate immediately

A delete operation will also trigger a watch event, so kubelet will be signaled even if we skip the update right?

[2016-01-27 01:01] a-robinson commented on #19405
If you don't want to wait for 1.1.6 to be available and want to patch your existing nodes to see whether it's enough of an improvement to resolve your specific case, you can edit the `/etc/kubernetes/manifests/fluentd-gcp.yaml` file on the node to change the image from `gcr.io/google_containers/fluentd-gcp:1.14` to `gcr.io/google_containers/fluentd-gcp:1.15`. If you do try this, let me know how it

[2016-01-27 01:01] erictune commented on #20173
@vishh it dumps stacks for all 500s.  For things like `/stats`, it appears to recover.  But it does not appear to recover from a 500 on the `/healthz` endpoint.  So I think that is a second issue.

[2016-01-27 01:02] ihmccreery opened #20188 "Figure out what to do with [Feature:Latency] tests"
Per #19548, we should figure out what to do with the Latency tests.

[2016-01-27 01:02] ihmccreery commented on #19548
Based on the conversation above, I'm going to move this to `[Feature:Latency]` and opened #20188 to figure out if you all want to delete this test or run it somewhere (where?).

[2016-01-27 01:03] erictune commented on #20173
Or maybe it does recover but then gets killed by `supervisord`.  Anyhow, thanks for offering to look at this.

[2016-01-27 01:05] prashantchitta commented on #13382
Once we setup cluster, Minion goes to NotReady state after 2 or 3 days with the following error.
Error updating node status, error getting node "{node-name}": Get https://{ip}:6443/api/v1/nodes/{node-name}: dial tcp {ip}:6443: network is unreachable

To see if its a network connectivity issue, i ssh'ed  into the minon and did a curl of the exact url above and it works. So network connectivity is r

[2016-01-27 01:26] lavalamp commented on #19254
@nikhiljindal any more thoughts considering that whatever this was, #19458 didn't fix it?

[2016-01-27 01:27] lavalamp commented on #19252
@brendandburns are you still working on this? Would you like me to take it?

[2016-01-27 01:29] yujuhong commented on #20173
I think that's what happened.

[code]
`pkg/healthz` will return 500 in this case, and as @vishh says, kubelet will dump stack trace in this case.

The stack trace here is not helpful at all for identifying problems though. I think our handler should also log an error message for introspection.

[2016-01-27 01:48] lavalamp commented on #19403
It should be, yes.

In the interest of fixing this test in the short term, I think the easiest thing to do might be to turn off the node controller for this section of the test. (Is it needed by anything in the test?)

But we should file at least two issues:
* "kubectl delete can race with graceful deletion"-- Things have to handle races, but there shouldn't be a race where you delete something an

[2016-01-27 01:51] #15916 closed

[2016-01-27 02:15] magicwang-cn commented on #19637
@lavalamp ok. :)

[2016-01-27 02:20] smarterclayton opened #20193 "Steps to enable REST server components and client components to use versioned code, rather than the "__internal" APIs"
### Goal

Most operations conducted by clients against the server are done using the primary API of the server (today, `v1`).  Internally, we must maintain a version of code that can be converted to all other API versions - we call this the `internal` version and it is denoted in the scheme as `__internal`.  All API operations start in a serialized form (either from a client or from etcd), are rea

[2016-01-27 02:21] smarterclayton commented on #20193
@kubernetes/sig-api-machinery taking notes here for tomorrow's meeting

[2016-01-27 02:27] smarterclayton commented on #19033
Our use cases are slightly different in OpenShift - we hollow the guts of the registry out and have it store its manifest and tag data in etcd (behind a Kube like API) and offer additional features like referential images (tag an image into foo:bar that comes from other image repositories or from other repositories), pull-through (fetch manifest from local repository but actually pull content from

[2016-01-27 02:33] derekwaynecarr commented on #19834
I marked #19841 as lgtm, so its basically blocked by the submit queue being fixed.

[2016-01-27 02:40] pmorie commented on #19546
@ihmccreery apologies, I have just now seen this.  My bad.

[2016-01-27 02:41] pmorie commented on #19546
@ihmccreery Will go back over these tomorrow morning, should be easy to sort out.

[2016-01-27 02:45] #19834 closed

[2016-01-27 03:05] derekwaynecarr commented on #14765
I am going to take another sweep of the code to see if everything I need is there to support this feature, and will report back if there are gaps.  The goal as I understand it is for deleteAllContent() we will no look maintain a map between the resource names and the handler functions, and instead, we will be able to dynamically via a client make calls to `DELETE /namespace/foo/{kind}` to remove a

[2016-01-27 03:43] markturansky opened #20196 "New claim with same name as old keeps bound volume"
This is the bug:

1.  User creates a claim and it binds to a volume.
2.  User deletes the claim. Expectation is for the volume to be Released.
3.  User creates a new claim with the same name/namespace before the PV controller's sync period can release the volume.
4.  Old volume is bound to the new claim.

@saad-ali @thockin @kubernetes/rh-storage

[2016-01-27 04:08] thockin commented on #14765
Awesome!  Thanks.

On Tue, Jan 26, 2016 at 7:05 PM, Derek Carr <notifications@github.com>
wrote:

[2016-01-27 04:09] thockin commented on #19546
Thanks Paul

On Tue, Jan 26, 2016 at 6:41 PM, Paul Morie <notifications@github.com>
wrote:

[2016-01-27 04:20] bgrant0607 commented on #19403
+1 to resourceVersion and uid preconditions on delete.

Yes, maybe we shouldn't update the grace period before deletion in the case that the grace period is 0.

Why can't we use unique pod names in the test? Turning off node controller seems like a bad idea.

Index by uid is #4817.

[2016-01-27 05:08] pmorie opened #20199 "ActiveDeadlineSeconds max value"
While working on #20170, I realized there is no max value for `PodSpec.ActiveDeadlineSeconds`.  Obviously the max value of an int64 is not a reasonable number of seconds to request with this field.  What maximum value should we allow, if any?

@bgrant0607 @derekwaynecarr

[2016-01-27 05:33] davidopp commented on #20064
cc/ @mml

[2016-01-27 05:37] thockin commented on #20161
Done.  PTAL and close this issue.

On Tue, Jan 26, 2016 at 3:52 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-01-27 05:44] davidopp commented on #19082
cc/ @madhusudancs

This issue was originally about "non-consumable" resources but seems like we should be able to use a similar mechanism for adding new consumable resources, as long as the consumption model is simple (e.g. capacity is an integer, and it gets consumed in integer units by pods). #19049 has some discussion of using it for consumable resources.

[2016-01-27 05:52] therc opened #20200 "Canarying mechanism for ConfigMap"
A bad configuration file can take down a whole service. Is the expectation that problematic ConfigMaps will get caught by the dev/staging/production promotion process? They're namespaced, i think. I can come up with the example of a very spectacular postmortem from 2007 where even that was not enough.

Would there be merit in a canarying mechanism? I'm assuming that currently configurations are pu

[2016-01-27 05:54] therc commented on #19620
I suspect #20200 will not become a real feature anytime soon, but it would be nice for the documentation to talk about the bad config issue and possible approaches.

[2016-01-27 06:01] thockin commented on #20200
I asked for something here too, but it was deferred at the time.  I proposed that the ConfigMap hold 2 maps, an indicator of which map is current and which one is "new", and an int field with values 0-100000, representing mili-percents (or maybe use a real power of 2 for easier clients).  Consumers who want to canary can generate a random number in this range.  If their number is < the milli-perce

[2016-01-27 06:16] roberthbailey commented on #13382
@prashantchitta - If you restart the kubelet process (but not the VM) does it start working again or do you keep seeing the network unreachable errors?

[2016-01-27 06:24] prashantchitta commented on #13382
@roberthbailey If I restart the kubelet, it works perfectly fine. But, after 2 or 3 days of continuously running, again it goes back to NotReady state.

I am guessing its something related to connection pool issue somewhere. Any thoughts?

[2016-01-27 06:27] HardySimpson commented on #20064
Should be some kind of log, but more simple

Fail Predict-Not Enough Source[34] : node1, node2, ......
Fail Predict-Port conflict[28]: node12, node13 .....

Top 10 Priority
Node 17:  Priority =  1234 [1000 (zonal spreading) + 200 (machine spreading) + 30 (balanced resources) + 4 (image affinity)]
Node 23:  Priority =  1200 [1000 (zonal spreading) + 200 (machine spreading) + 0 (balanced resources)

[2016-01-27 06:45] caesarxuchao commented on #19403
I don't see any flag option to turn of node controller.

Pod's name is specified in the config file, is there any clean way to change the pod's name each time `kubectl create -f` is called?

Anyway, I'll try to make a PR to skip update if grace period is 0. That should alleviate this flake.

[2016-01-27 07:31] bgrant0607 commented on #20199
Why do we need a maximum? Is the presence of the feature expensive in Kubelet? Ideally we'd use some underlying OS timer mechanism.

I could imagine an admin wanting to set a configurable max, similar to LimitRange, so that batch jobs couldn't squat on resources indefinitely.

[2016-01-27 07:38] magicwang-cn commented on #20136
@lavalamp
the second point, so why the [Stream test](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request_test.go#L572) has't the [response](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request_test.go#L482)? If so, [this code](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request.go#L712) will be failed wi

[2016-01-27 08:03] piosz commented on #20100
No special requirements besides running Heapster, which is default for GKE. It should work out of the box.

[2016-01-27 08:42] AdoHe commented on #19309
@lavalamp I add a quick fix to this, now api-server will only generate self signed certs if and only if one of `TLSCertFile` and `TLSPrivateKeyFile` doesn't exists or neither exists. Should I open a PR?

[2016-01-27 08:43] AdoHe commented on #19309
@errordeveloper you can use `--tls-cert-file` and `--tls-private-key-file` to avoid the bug, even this can not resolve the bug.

[2016-01-27 09:24] devvesa opened #20206 "libvirt box with vagrant provider does not have the `wget` package installed"
I'm trying Kubernetes for the first time. I want to run it in my host with Vagrant and I prefer libvirt much more than VirtualBox. So I have the following env vars:

[code]

When I run the `cluster/kube-up.sh` script I get the following:

[code]

I assume the image used with the libvirt provider:

[code]

Does not have the `wget` binary.

[2016-01-27 09:51] AdoHe commented on #20146
@drngsl are you using systemd? can you past `systemctl status kubelet` or `journalctl /usr/bin/kubelet` result here?

[2016-01-27 11:06] fgrzadkowski commented on #19036
Adding more logs didn't help. It seems that it's not related to etcd itself. It seems something slows us down on the generic registry level (registry/generic/etcd). I'm trying to trace this locally now. Will update later today.

[2016-01-27 11:37] drngsl commented on #20146
@AdoHe, No. My cluster host system is Ubuntu.
On ubuntu, which command can replace it?

[2016-01-27 12:03] pires commented on #19754
One needs to be extra careful when it comes to use cloud-providers LB solutions in front of Kubernetes since it can change the client remote IP addresses, e.g. [AWS ELB](http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/enable-proxy-protocol.html#enable-proxy-protocol-cli).

[2016-01-27 13:14] #14516 closed

[2016-01-27 13:34] liggitt opened #20208 "strategicpatch.CreateTwoWayMergePatch cannot handle RawExtension fields"
Extracted from https://github.com/kubernetes/kubernetes/pull/20093#issuecomment-175490502

The RawExtension type allows an API object to inline arbitrary JSON. strategicpatch.CreateTwoWayMergePatch returns an error trying to map that inlined JSON to struct fields. It should be able to compute a patch for an object containing a field of that type.

[2016-01-27 13:34] liggitt commented on #20208
cc @jackgr

[2016-01-27 13:55] fgrzadkowski commented on #19036
Ok. After more debugging I believe I understand what's the problem. I narrowed down this to genering new UIDs [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/uuid.go#L35). There are two steps which might be slow under heavy load:

* starting go routine may be blocked if there are no free threads
* coming back from sleep might be delayed

Each of those can add even 100ms under

[2016-01-27 14:12] scotloach commented on #19904
Increasing the probe timeout to 15 seconds solved this for me, thanks for the suggestion.

[2016-01-27 14:50] xied75 commented on #13776
Interesting enough I found similar solution yesterday, looks like "cp" can be done like this:

[code]

[2016-01-27 14:50] derekwaynecarr commented on #20199
I see no need to have a maximum.  The feature is not expensive to support on the Kubelet.

[2016-01-27 14:52] pencilcheck commented on #10537
I'm getting the same error with the name 'backend-demo-test'

I just updated kubectl and it still gives me the same error

[2016-01-27 15:28] therc opened #20211 "crash with kubectl get -o=custom-columns"
I followed  the instructions and all I got was this lousy t-sh...  I mean, panic. Same happens with a configmap, etc.

[code]

[2016-01-27 15:33] therc commented on #20211
The [line where the crash happens](https://github.com/kubernetes/kubernetes/blame/master/pkg/kubectl/custom_column_printer.go#L195) is from a recent change by @smarterclayton:

https://github.com/kubernetes/kubernetes/commit/2fd38a7dc022c28f05403355061d521d8f124da3

[2016-01-27 16:21] goltermann commented on #20028
Does #20111 look like a fix for this?  @fabioy

[2016-01-27 16:23] therc commented on #18455
The issue numbers for "Move to main API" and "Documentation" are the same; is that intended? I wanted to point out that https://github.com/kubernetes/kubernetes/blob/master/docs/design/configmap.md still talks about [valueFrom: configMap: configMapName:], while it should be [valueFrom: configMapKeyRef: name:]. It's not clear where to report that, though.

[2016-01-27 16:28] timothysc commented on #18266
+1 , also I wouldn't mind a V(4) log on above to diagnose.

[2016-01-27 16:34] piosz commented on #18528
@liggitt yes (see also https://github.com/kubernetes/kubernetes/issues/18527#issuecomment-171978591)

[2016-01-27 16:36] piosz commented on #18528
@bgrant0607

Since it's implementation details we don't want to graduate it to GA and provide backward compatibility.

I like this option.

[2016-01-27 16:38] therc commented on #20200
While it kinda solves the other need I was going to mention (rate limiting how fast new values are propagated to pods), that approach has the drawback that it is not very deterministic. It might take a while before any instance canaries the new setup. It's hard to tell who is using it and who isn't. Service health needs to be correlated with the milli-percent. What's worse, if a new configuration

[2016-01-27 16:41] glerchundi opened #20217 "ECDSA not supported for CA"
Hi,

I tried to do this PKI configuration and didn't worked until I switch CA cert algorithm to RSA.

* This doesn't work:
[code]

* This works instead:
[code]

Is ECDSA unsupported?

Thanks,

[2016-01-27 16:44] piosz commented on #18528
Also I'd like to propose to not graduate Scale subresource to GA. Any objections?

If not we should take into account this once making the decision on "header vs. path". AFAIU with this assumption the decision don't have to be final.

[2016-01-27 16:51] liggitt commented on #18527
to be clear, you mean copy the related objects from v1beta1 to v1 and add conversions?

[2016-01-27 16:55] binarybana commented on #8001
@jimmidyson I just tried out 0.15 of your fabric8io/fluent-plugin-kubernetes_metadata_filter (by rebuilding the latest head of fabric8io/docker-fluentd-kubernetes (v1.9 had v0.13 and didn't bring in labels)) using DaemonSets and I'm successfully seeing pod labels in Kibana! Thanks so much for your hard work on this.

[2016-01-27 17:03] jimmidyson commented on #8001
@binarybana That's great to hear - thanks for the feedback.

[2016-01-27 17:06] jchauncey commented on #8001
Yes the deis team is using the fluentd kubernetes plugin as part of our logging stack and it works really well.

[2016-01-27 17:08] jimmidyson commented on #8001
:grinning:

[2016-01-27 17:11] ncdc commented on #18528
Will extensions/v1beta1 continue to function for HPA?

[2016-01-27 17:13] mward29 commented on #13414
Hey folks, Any progress or workarounds on this? Before knowing of this issue, we attempted to create a python library with codegen and ran into the same issue.

[2016-01-27 17:17] casualjim commented on #13414
This issue links a valid swagger 2.0 spec for kubernetes, I think it was generated with lucy.

https://github.com/go-swagger/go-swagger/issues/239

[2016-01-27 17:21] bgrant0607 commented on #20112
Ref #8190

[2016-01-27 17:22] janetkuo commented on #19732
Now it keeps failing, #19382 is the possible cause.

[2016-01-27 17:27] smarterclayton commented on #13414
Good to see that this is progressing - I'd like to see how it was done as well as I was poking around with generate on go-swagger last night to get a feel for the current remaining steps.

[2016-01-27 17:27] gopinatht commented on #17657
+1 on the importance of this bug. It looks like the only way around this (apart from the secrets approach) is to place config.json in the root folder. i.e., /config.json. It looks like kubelet is not looking in $HOME/.docker

[2016-01-27 17:32] fluxrad commented on #19634
Is there a target release for that code? I'm unclear how removing the secondary DNS server from `/etc/resolv.conf` across my containers will fix load/connectivity issues on the DNS pods themselves.

[2016-01-27 17:36] smarterclayton commented on #20211
Decoder wasn't passed in, and tests don't validate custom columns path.

[2016-01-27 17:41] erictune commented on #19780
Are you actually trying to limit the amount f apiserver/etc memory used?  And indirectly doing that using object-count-quota * maximum-object-size (1MB).

If so, how about explicitly tracking bytes?  Add a new resource called configmap-bytes or object-bytes.
On created, increment by length of serialized object.  On delete request, get it, compute length, and decrement.  On update, compute length b

[2016-01-27 17:43] dcbw commented on #19854
I also vote for (d).

Currently, the only cases that are acceptable handled appear to be "" -> valid CIDR, and the existing cbr0 code will blow away the bridge entirely on PodCIDR change which will leave all the existing pods dangling.  So it doesn't work now either.

[2016-01-27 17:54] petermd opened #20219 "kube-addon-update fails badly if api server is unavailable"
`kube-addon-update.sh` does not check the status of the `get-addon-nsnames-from-server` call to fetch the list of installed addons.

if apiserver is unavailable (or if the request times out) this causes it to think the error message is the list of services and enter a loop of trying to remove imaginary services and re-create existing ones.

i assume all of these just error out quickly but the retr

[2016-01-27 17:58] ihmccreery commented on #10548
Remaining action items:

- [ ] get #19667 in to remove provider skip lists
- [ ] remove all `[Skipped]` labels from the suite, and remove docs/filters for it.
- [ ] audit `[Feature:...]` tests and make sure they're all running where they should be

[2016-01-27 18:00] jchauncey commented on #8001
Btw if you need an example of deploying fluentd onto kubernetes with their plugin you can look here - https://github.com/deis/fluentd

[2016-01-27 18:00] petermd commented on #18975
found a problem (#20219) that causes `kube-addon-update` to get stuck in retry death-spin if it runs when apiserver is slow responding, temporarily fixing that and changing the salt-master `worker.threads` to 2 seems to be enough to keep the master node mostly available.

it's still burning down its `CPUCreditBalance` slightly though so it will be too sluggish for anything other then test usage, b

[2016-01-27 18:08] ihmccreery commented on #18432
@spxtr Can we close this?

[2016-01-27 18:09] matthewdupre commented on #19983
I'm going to start on this now, aiming to get it into the 1.2 release.

The configurable mark/mask option with a non-full default sounds like a good option: I'll go with that for now; any comments welcome.

[2016-01-27 18:14] spxtr commented on #18432
We can. The infrastructure is in place so that if we add or delete nodes in a test they can just call CoreDump as needed.

It's really not ideal, though. Might be worth opening a less-urgent issue to deal with this properly.

[2016-01-27 18:15] piosz commented on #18527
exactly

[2016-01-27 18:19] jackgr commented on #19639
I'll take a look.

[2016-01-27 18:22] lavalamp commented on #20136
@liggitt That Stream() function mentioned seems to lack clear semantics about when it is the caller's responsibility to close?

@magicwang-cn Any response going through the go http code will have a non-nil Body, so I'm not too worried about that. When I say "no body" I mean zero bytes, not literally nil Body pointer.

[2016-01-27 18:24] ihmccreery commented on #18980
@ixdy Can we close this now that we have more Jenkins resources?

[2016-01-27 18:30] ihmccreery commented on #18432
cc @kubernetes/goog-control-plane @kubernetes/goog-node See above for test infra you can put in place.  I'm removing this from `kind/flake` and reducing priority for a "better" solution.

[2016-01-27 18:33] kargakis commented on #20130
After thinking about this more, I believe it will be fairly easy to have a separate path in the controller just for paused deployments where we can allow scaling. Will submit a PR tomorrow.

[2016-01-27 18:35] brendandburns commented on #19252
@lavalamp I'm not right now, sorry, feel free to take it.

[2016-01-27 18:42] smarterclayton commented on #20211
Also, #17922 broke ExtractList for RawExtension objects.  Fixing that now

[2016-01-27 18:47] jackgr commented on #15493
The desired behavior that we settled on previously is to detect version mismatches at the client and error. User can force replacement using --force. See #16543, #16569 and #17237.

[2016-01-27 18:54] piosz commented on #18528
@ncdc it is the plan.

[2016-01-27 18:54] smarterclayton opened #20223 "KUBE_COVER=y doesn't work on Mac"
Haven't had time to debug, but just recording here.

[code]

[2016-01-27 18:59] brendandburns opened #20224 "Kubectl client Kubectl logs should be able to retrieve and filter logs is flaky"
Message:

[code]

Details:
[code]

[2016-01-27 18:59] bprashanth commented on #18210
I just randomly started debugging this because it caused a PR I was reviewing to fail e2es. I think the problem is the test is unaware that kube-proxies can fall behind each other. This is very likely because the "relist timeout" imposed on the watch is randomized server side, also one node could be low on cpu etc.

Take a single failing case: http://kubekins.dls.corp.google.com:8081/job/kubernete

[2016-01-27 19:01] nikhiljindal commented on #19254
No. Maybe @wojtek-t has a guess on any recent change that could have affected this.

[2016-01-27 19:08] roberthbailey commented on #20217
@liggitt

[2016-01-27 19:10] casualjim commented on #13414
The reporter of that bug shared this:

Converter tool: https://github.com/lucybot/api-spec-converter

[code]

v1.HTTPGet - Port types etc have the wrong type.

[2016-01-27 19:16] mdaniel opened #20225 "prefer kubectl output global flags on top of specific ones"
This is kind of like #4142 except my suggestion would be to place the global ones at the top of the output and the more specific ones at the bottom.

The reasoning is that in an 80x35 terminal, typing `kubectl port-forward --help` causes the 24 lines of global help to occupy almost the entire window, necessitating that one scroll back to see the content that the user _specifically_ requested: that

[2016-01-27 19:19] ArtfulCoder commented on #19634
I was just trying to understand your setup, so that I understood what issue you could be facing.
Updating the etc/resolv.con won't help with load issues.

[2016-01-27 19:23] smarterclayton commented on #13414
Oh, ok, so that's not what we need - we want to generate new kube 2.0 specs
directly from the codebase.  I thought this was from reading the source
code directly.

On Wed, Jan 27, 2016 at 2:10 PM, Ivan Porto Carrero <
notifications@github.com> wrote:

[2016-01-27 19:23] dchen1107 commented on #20096
cc/ @timothysc

[2016-01-27 19:23] jdef commented on #20096
related? http://www.spinics.net/lists/netdev/msg345205.html

[2016-01-27 19:23] smarterclayton commented on #13414
* we want to generate kube 2.0 specs directly from the code base
eventually.  In the short term running the converter is a good bridge
solution.

On Wed, Jan 27, 2016 at 2:23 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-01-27 19:24] mdaniel opened #20227 "kubectl port-forward container listener to local port"
It would be great if `kubectl port-forward` offered the equivalent of `ssh -R`, such that it would open a _listening_ port on the container that forwards to a port on the local machine. I would be perfectly content if that port were only available to the container (i.e. just the 3-tuple `-R` flavor, without `bind_address`; no need to have other containers be able to connect to the port)

Since the

[2016-01-27 19:32] davidopp commented on #19036
Nice debugging! Thanks!

[2016-01-27 19:32] davidopp commented on #19896
Awesome -- thanks!

[2016-01-27 19:38] liggitt commented on #20217
The cert pool is parsed with https://golang.org/pkg/crypto/x509/#CertPool.AppendCertsFromPEM

I don't see anything explicit limiting that to RSA, but I'm not sure

[2016-01-27 19:38] sjpotter opened #20228 "kube-up scripts and GCE/gcloud create root owned directories"
every day gcloud creates a new $USER_DIR/.config/gcloud/logs/<date> directory.

kube-up runs gcloud under sudo w/ root permissions so if the first time you run it in a day, the directory gets created with root permissions and hence can't be used without root.

my hack fix is to run a gcloud compute instances list every day at the begnning to get the directory created as me.

A better Q might be wh

[2016-01-27 19:39] sjpotter commented on #20228
@mikedanese signode meeting said you might know about this.

[2016-01-27 19:40] nikhiljindal opened #20229 "federated api servers: Implement a discovery merger"
Subtask from https://github.com/kubernetes/kubernetes/pull/17191

A go program that will fetch discovery info from all federated servers and provide a summarized view.

In addition to the discovery information that apiservers currently surface, we need to add a server URL.

Open questions:
- Extend the existing APIGroupList (https://github.com/kubernetes/kubernetes/blob/e108a32b082f2c91d853c898f51

[2016-01-27 19:41] timothysc commented on #20096
@dchen1107 looks like we may have fixed it a while back https://bugzilla.redhat.com/show_bug.cgi?id=880394

/cc @jeremyeder

[2016-01-27 19:46] smarterclayton commented on #20193
Discussion in meeting today:

1. The removal of __internal is effectively a rip and replace - find every "pkg/api" and turn it into "pkg/api/v1", remove code that depends on having internal representations.  This is a big refactor over the entire codebase, but is basically mechanical.
2. Protobuf is the first big win, so in 1.3 we'll try to get the core support in place, before we tackle the big r

[2016-01-27 19:47] ihmccreery opened #20230 "Some [Serial] tests are flaky"
As part of #10548 I'm trying to run only `[Serial]` tests in serial and run the rest in parallel to speed up recovery time of the submit queue.  However, when doing so, the following arise:

- [ ] Etcd failure [Disruptive] should recover from SIGKILL (Failed 2 times in the last 30 runs. Stability: 93 %) No flake or failure
- [ ] Etcd failure [Disruptive] should recover from network partition with

[2016-01-27 19:53] ihmccreery commented on #20230
Ah, hm.  So, the "Kubelet [Serial] [Slow] ... resource usage tracking" tests aren't running in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-slow/, and they're flaking/failing there too.  Filing a separate issue about that.

[2016-01-27 19:55] ihmccreery opened #20231 "Kubelet resource usage tracking tests flaking"
E.g.

- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/1587
- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/338
- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/311

[2016-01-27 19:56] ihmccreery commented on #20230
Filed (#20231) for resource usage tracking issues.

[2016-01-27 20:14] roberthbailey commented on #13382
That makes it sound like a kubelet networking issue.

/cc @dchen1107 @thockin @krousey

[2016-01-27 20:20] #19618 closed

[2016-01-27 20:36] derekwaynecarr commented on #14765
Talked about this at today's kube-machinery-sig, I am waiting to implement this until the generic client implementation is in place, which per @lavalamp is _soon_.

[2016-01-27 20:38] derekwaynecarr commented on #14765
Also recording here so I don't forget, the namespace controller will cache its view of API server resources from discovery for a configured period of time.  By default, it would be ~1hr.

[2016-01-27 20:50] jbowen93 commented on #19033
Our use cases are similar to @christopherhein. We need to have a good local development environment for k8s that preferably doesn't require us to call out to dockerhub/gcr/quay. Currently we're using a single node configuration with an insecure registry that we push/pull to at localhost:5000. However, it would be nice if there was an easy way of running a registry on a multi-node vagrant cluster.

[2016-01-27 20:52] errordeveloper commented on #19309
Sure, I am happy with using explicit flags. I opened this ticket just for
the sake of getting this fixed, I've worked around this issue right away.

On Wed, 27 Jan 2016 08:43 TonyAdo <notifications@github.com> wrote:

[2016-01-27 20:59] yujuhong commented on #20231
https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/1587

The docker cpu usage is abnormally high for running only 10 addon pods on one node (`e2e-slow-minion-z57z`).

[code]
[code]

Nothing abnormal in `kubelet.log` during the two minutes of measurement. Note that another resource usage tracking (35 pods) also failed on this node later. This means either something was

[2016-01-27 21:01] satnam6502 commented on #8001
+1 to @jimmidyson 's great work. :+1:

[2016-01-27 21:02] liggitt commented on #20136
It's the caller's responsibility whenever it gets a non-error response, right? The only time the Stream() func does a resp.Body.Close() is in the case where it is going to return a `nil, err`, so the caller would not be able to close it.

[2016-01-27 21:08] luxas opened #20235 "All hyperkube and hyperkube-amd64 images should be pushed"
There's an issue in https://github.com/kubernetes/kubernetes/pull/19061/files#r50636543, that makes `push-official-release.sh` only push `hyperkube-amd64`, not `hyperkube`.
We should also push v1.0.1 and higher images as `hyperkube-amd64`.
This is a blocker for: #19929 and using the `docker.md` and `docker-multinode.md` guides.

Could you bump this up to P1, because this have to be solved before `

[2016-01-27 21:09] glerchundi commented on #20217
Umm, I have two clusters (deployed using the same settings) one with ECDSA-521 and the other one with RSA-4096 for the Root/Int CAs and the former doesn't work. Doesn't work means that everything is working:
* can deploy rc/pods/, which means kubectl has valid client certificate & api server has a valid server certificate
* it can connect to etcd (which is outside) using a certificate issued by th

[2016-01-27 21:10] luxas commented on #20235
/cc @david-mcmahon @ihmccreery

[2016-01-27 21:10] dchen1107 commented on #20230
I quickly scanned through all failures, and I highly suspected all failures are caused by heapster crashloop introduced by #20156

kubernetes-e2e-gce-serial/312 is the current build, and pick up the revert pr https://github.com/kubernetes/kubernetes/pull/20215. We will see the result.

[2016-01-27 21:11] yujuhong commented on #20231
It seems all the failures coincided with the heapster version bump and the gce-slow suite is back to normal after the revert #20215 landed.

I'll start a cluster with the newer version of heapster to verify and also to check why the docker cpu usage is so high even with container restart backoff.

Lowering the priority since the revert should've already fixed the builds.

[2016-01-27 21:14] fabioy commented on #20028
It may help with this test, since it'd isolate each test's temp directory (and away from "/tmp").

[2016-01-27 21:14] ihmccreery commented on #20047
#19935 didn't work; the release process is still broken.

[code]

Bumping this back to P0.

[2016-01-27 21:15] MikaelCluseau commented on #19754
I think in this case there should be something to react to the change and update the publicIP in the Kubernetes service object.

[2016-01-27 21:21] mikedanese commented on #18776
How do the api types need to change to support mount propagation? Is it and extra field in host volume?

[2016-01-27 21:25] pmorie commented on #18776
@mikedanese in my mind it's an extra field in the security context.  Not sure if it should be pod, container, or both, though.  I think there's a strong case for container-level, less strong for pod-level.  It might be appropriate to limit shared mode to privileged containers.

[2016-01-27 21:30] liggitt commented on #20217
are you setting `--service-account-key-file` explicitly, or relying on it using `--tls-private-key-file`? Right now, only RSA keys are supported for generating service account tokens

[2016-01-27 21:33] glerchundi commented on #20217
Setting `--service-account-key-file` explicitly:

https://github.com/glerchundi/infrastructure-kubernetes/blob/master/files/kube-master.yml#L174

But take into account that API Server itself is a RSA-2048.

[2016-01-27 21:36] liggitt commented on #20217
Are you setting the same key in the controller manager as `--service-account-private-key-file`?

[2016-01-27 21:38] glerchundi commented on #20217
@liggitt yep: https://github.com/glerchundi/infrastructure-kubernetes/blob/master/files/kube-master.yml#L318

[2016-01-27 21:38] dchen1107 commented on #20230
Ok kubernetes-e2e-gce-serial/312 is finished with one failure:

Reboot [Disruptive] each node by dropping all inbound packets for a while and ensure they function afterwards

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/reboot.go:116 Jan 27 12:31:24.793: Test failed; at least one node failed to reboot in the time given.

Still looking into why?

[2016-01-27 21:39] liggitt commented on #20217
Have you redeployed with different keys against old etcd data? Is it possible you have service account tokens that were created with a previous key still sitting in etcd?

[2016-01-27 21:43] glerchundi commented on #20217
Yes! Can you explain me why is that an issue? And how should I solve it?

[2016-01-27 21:45] glerchundi commented on #20217
As you can see I have two different repositories to deploy both in different stages:
* https://github.com/glerchundi/infrastructure-etcd2
* https://github.com/glerchundi/infrastructure-kubernetes

[2016-01-27 21:45] krmayankk opened #20237 "Kubernetes local setup using vagrant doesnt work"
I am using the 1.1.4 release. I built it locally.With Vagrant as the provider, i get the following

cluster "vagrant" set.
user "vagrant" set.
context "vagrant" set.
switched to context "vagrant".
Wrote config for vagrant to /home/mayank.kumar/.kube/config
Each machine instance has been created/updated.
  Now waiting for the Salt provisioning process to complete on each machine.
  This can take so

[2016-01-27 21:51] liggitt commented on #20217
The controller manager generates service account tokens for every service account using the private key it is given. Those tokens live in secrets in namespaces, and are injected into pods. If you restart the controller manager with a new service account key, new tokens it generates will use the new key, but old ones still exist until they are deleted.

Right now, only a single key at a time is sup

[2016-01-27 21:52] david-mcmahon commented on #20047
The release tooling should not have any specific dependencies on granular build targets.
As Ike said, the release tooling should hit a single high level target like "make release" (with any modifiers as needed.  I see a quick-release).

"make -C cluster/images/hyperkube/ build" and its related dependencies should be pulled into build/release.sh.

[2016-01-27 21:57] goltermann commented on #17181
Assuming @thockin meant to actually close this one.

[2016-01-27 21:57] #17181 closed

[2016-01-27 22:00] bgrant0607 commented on #19767
Since this isn't the current behavior, we'll need to make it optional via a flag.

[2016-01-27 22:00] ArtfulCoder commented on #18210
chatted with Prashanth. He is investigating this.

[2016-01-27 22:15] pmorie commented on #18372
I spent some time today combing through old github comments, attempting to unearth our prior discussion, and was unsuccessful.  Does anyone have a reason not to do this?  I do seem to remember as @thockin does that @erictune had some concerns about updating secrets but wasn't able to find them in the github issues I looked through.  Eric, do you happen to remember any of those, or even better, hav

[2016-01-27 22:17] philips commented on #19828
@ericchiang is this blocking a prototype? Do you have a prototype?

[2016-01-27 22:19] yujuhong commented on #20231
Hepaster's "eventer" container was dumping a ridiculous number of messages in the log ~7 min after starting. I can reliably reproduce this with the new heapseter (`gcr.io/google_containers/heapster:v0.20.0-alpha1`).

[code]

[2016-01-27 22:20] krmayankk opened #20240 "running hack/local-up-cluster.sh fails because api-server cannot come up"
it fails because of the following error:-
Waiting for apiserver to come up
!!! [0127 14:15:03] Timed out waiting for apiserver:  to answer at http://127.0.0.1:8080/api/v1/pods; tried 10 waiting 1 between each
Cleaning up...

When i look at the api-server log in /tmp/kube-apiserver.log, is see the following:-

mayank.kumar@mkumar-wsl:~/src/go/src/k8s.io/kubernetes$ cat /tmp/kube-apiserver.log
usage

[2016-01-27 22:21] timothysc opened #20242 "make test consistently fails on `plugin/pkg/auth/authenticator/token/oidc`"
This issue has existed for some time now on my f23 env.

https://paste.fedoraproject.org/315507/14539328/
go1.5.3

/cc @yifan-gu @liggitt (also seen on latest origin rebase as well)

[2016-01-27 22:36] krousey commented on #18809
I currently have a PR out that adds a little more logging, but it will be of little use unless this happens again. I currently have a hacked up local client running the integration test in the kubekins' docker image so I can stress it and run 40 at a time. Maybe this will yield something.

[2016-01-27 22:38] brendandburns commented on #18969
This happened again:

[2016-01-27 22:38] brendandburns commented on #18969
We should at least try to grab kubelet and dmesg of the nodes that are failing...

[2016-01-27 22:38] fabioy opened #20243 "Move pkg/volume/testing.go to separate testing package"
That file contains a number of fake/mock objects used for testing, and it should really be moved to a separate package. Currently, all that code ends up in the production binaries.

As an aside, if doing this work, please change the "FindEmptyDirectoryUsageOnTmpfs" method to use the "MkTmpDir" call in "pkg/util/testing" package.