[2015-05-08 10:46] Hikariii commented on #7618
Is it possible to include this in a new pre-release, since it fixes a bug in health checking?
I see it merged in master and I'm wondering what the policy is of releasing new code in a separate (0.16.*) release.

[2015-05-08 11:58] hurf commented on #7884
@nikhiljindal - I missed the container name in the patch command, now I can update it with patch.

I also tried to export the pod to file, then modify it to update the pod. It works. But it seems the exported file can only be modified and used for only once because it contains version number of old resource. I think it prevents the template to be portable.

[2015-05-08 12:06] soltysh commented on #7925
I'll link #4789 as this is related, per comments from #7908.

[2015-05-08 12:42] markturansky commented on #7438
@smarterclayton It currently works nearly exactly like you describe, except that the PVC is deleted instead of being flagged unused.  The PV retains ClaimRef as the binding reference and the absence of the PVC indicates the volume was released, advancing pv.Status.Phase.

In another thread @bgrant0607 (and I think @thockin) were keen to make sure ClaimRef was not deleted by the binder on release b

[2015-05-08 13:16] timothysc commented on #6087
seconded.
+1 to leave open + docs.

[2015-05-08 14:02] #7317 closed

[2015-05-08 14:17] MCyprien commented on #7953
Ok the problem came from me I forgot a port in my security group, no problem now

[2015-05-08 14:17] #7953 closed

[2015-05-08 14:29] hobti01 commented on #7954
I think you are looking for what will result from  https://github.com/GoogleCloudPlatform/kubernetes/issues/499 We are also looking forward to a solution to this.

In the meantime, the presented work-around seems to be pulling manually on each node.

[2015-05-08 14:37] #7906 closed

[2015-05-08 15:15] eparis commented on #7925
Random thoughts by eparis....

docker has z/Z options to the -v argument. This means that docker will actually SELinux relabel all of the files on a volume to make them accessable. Think of this as docker doing the SELinux equivalent of `chown -R $USER:$GROUP $MNT`.

And something that we MAY wish to support. But a security policy would want to be enforced, somehow. Some sort of check between a la

[2015-05-08 15:23] eparis commented on #7925
I have to agree with @erictune. We NEED a clean separation of policy and enforcement. I come from SELinux where we had such a thing and it was hard enough for people to figure out how to set their security policies correctly. But scattering policy like statements across many areas is even harder for users.

[2015-05-08 15:26] justinsb commented on #7828
Thanks for clarifying @madis.   Seems like if we can find a workable solution for #7888 that'll be best.

[2015-05-08 15:29] smarterclayton commented on #7925
----- Original Message -----

Whether we call it SecurityConstraint, SecurityContextConstraint, SecurityContextPolicy, or a subset of policy, it should be clearly defined and expressible in terms of maximizing understanding of the admin to what it means.  Part of my concern with generic policy is that it does not preserve that guarantee.

I'm fine with SecurityContextPolicy being treated as an opa

[2015-05-08 15:47] smarterclayton commented on #7801
Doesn't the kube proxy need `--net=host`?

[2015-05-08 15:47] justinsb commented on #7698
This was recently broken, but I should have fixed it in #7678.  Do you know if the version you're running includes that patch?

[2015-05-08 15:48] justinsb commented on #7698
Note that you have to use a bearer token now for auth (which you can get from a secrets volume whose name I can track down for you if you're not already doing this!)

[2015-05-08 15:57] vmarmol commented on #3764
@vishh rkt has it's own store of data. Most of the pod's data is offloaded to it.

[2015-05-08 16:00] opaugam commented on #7698
mh ok thanks for heads up ! I'll retry over the weekend - is the secrets volume goodness described somewhere in the docs ? I can hunt for it..

[2015-05-08 16:10] guoshimin commented on #7913
This issue is about master.yaml
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml.
The guide says to do the substitution only for node.yaml.

On Fri, May 8, 2015 at 1:12 AM, MCyprien <notifications@github.com> wrote:

[2015-05-08 16:18] stephenR opened #7957 "Verify apiserver certificate on kube-up"
At the moment, kube-up will call curl --insecure to check if the master is reachable, e.g. in cluster/gce/util.sh:597:
[code]
This will leak the bearer token to any man-in-the-middle attacker.

[2015-05-08 16:21] asautins opened #7958 "Secrets not surviving server reboot..."
I believe I'm seeing an issue where secrets are not available after server reboot.

The steps to reproduce are below.  Note that the following steps have been run on v.0.16.2:

Create the following simple secret:

[code]

Then create the following pod:

[code]

After starting the pod you can see that it is correctly slowing the data-1 value from the secret

[code]

Now reboot the server running th

[2015-05-08 16:25] quinton-hoole commented on #3137
We now have a test in our Google-internal continuous integration environment which does the following:

1. Build a test k8s cluster
2. Continuously run our standard e2e battery of tests against the same test cluster for 1 week (configurable), reporting full results ever ~20 minutes.
3. After 1 week, goto 1.

Closing this 1.0 issue \o/

[2015-05-08 16:26] #3137 closed

[2015-05-08 16:27] aronchick opened #7960 "Pod should not be pending if there is a fundamental error (e.g. Image cannot be found)"
Repro:
- Create an RC.yml with an unknown image
- Attempt to create RC with Kubectl

Expected:
- Error/alert that image cannot be found

Actual:
- Indicates "pending"

Generally speaking, it's best to not have a term overloaded in this way - "pending" means things are going on properly, and all will be right soon. "error" means nothing is going to happen unless you fix it.

[2015-05-08 16:34] stephenR opened #7961 "Run services as non-privileged users"
At the moment most services in kubernetes run as root. This includes (from glancing at ps aux on a minion):
* etcd
* kube2sky
* td-agent
* skydns
* elasticsearch
* heapster
It's best practice to use non-root user accounts for services that don't need them. E.g. elasticsearch had remote code execution vulnerabilities in the past.
Even though docker's root has a capability bounding set applied so it

[2015-05-08 16:35] quinton-hoole commented on #4783
We're still looking for a volunteer for this. Any takers?
cc: @marekbiskup who might be interested.

[2015-05-08 16:37] aronchick commented on #7551
Yep, it's something with the gcloud wrapper - going straight against the kubernetes cluster with ```cluster/kubectl.sh exec -p node_name -ti bash``` is instantaneous

[2015-05-08 16:39] ncdc commented on #6342
@thockin bump, any comment on https://github.com/GoogleCloudPlatform/kubernetes/issues/6342#issuecomment-97549977? Our repo is here https://github.com/openshift/dockerexec

[2015-05-08 16:42] ncdc commented on #7770
If we can get consensus, we'd like to move from `nsenter` to a custom executable that is similar to `nsinit` in that it does the equivalent to `docker exec` without requiring the daemon. Please see the comments starting here and going down: https://github.com/GoogleCloudPlatform/kubernetes/issues/6342#issuecomment-97549977

[2015-05-08 16:42] iterion opened #7962 "AWS: Cannot kube-up in us-east-1 region."
I was successfully able to get a cluster to start up in us-west-2, the default region for kube-up, but for some reason I'm not successfully able to start up a cluster in us-east-1.

I'm not seeing anything in the logs that seems to be a huge problem, so I'm not really sure how to resolve this.

Kubelet log here:
[code]

I'm not really sure what else to look at, I'm happy to do more investigation,

[2015-05-08 16:46] stephenR opened #7963 "The apiserver read-only API leaks bearer tokens"
From a minion:
  curl http://kubernetes-master:7080/api/v1beta3/secrets
will return the bearer tokens for all service accounts.

I'm not sure if this is already taken care of as part of #5921.

[2015-05-08 16:54] stephenR opened #7964 "Enable certificate verification for all services"
In a few places, certificate verification is still disabled:
* docker is started with --insecure-registry 10.0.0.0/8
* /var/lib/kubelet/kubernetes_auth includes "Insecure": true
* /var/lib/kube-proxy/kubeconfig sets "insecure-skip-tls-verify: true"

For reference: secure node -> master communication #3168

[2015-05-08 16:58] stephenR opened #7965 "Secure kubelet port 10250"
The kubelet exposes an unauthenticated endpoint on port 10250. The issues with this:
* there are the debug handlers /exec/ and /run/ that run code in any container on the host
* these debug handlers are enabled by default
* the code run in the container runs with full root capabilities (compared to docker's root with a capability bounding set)

[2015-05-08 17:16] roberthbailey commented on #7963
The read-only port is only available within the cluster, which is currently assumed to be a secured, trusted network.

We are working on removing the read-only port from the apiserver (e.g. #5921) which should take care of this.

[2015-05-08 17:16] aronchick opened #7968 "Pod should not say "pending" when a fundamental failure has occured"
Repro:
- Create an RC.yml with an unknown image
- Attempt to create RC

Expected:
- Reported error in status (rather than "Pending")

Actual:
- Reports Pending indefinitely

Generally, we should have a different message/state when it's a known bad issue. Here's the Kubelet.log:

[code]

[2015-05-08 17:18] roberthbailey commented on #7964
That's fewer places than I thought were were skipping cert validation. :)

[2015-05-08 17:20] roberthbailey commented on #7965
This is covered as part of https://github.com/GoogleCloudPlatform/kubernetes/issues/3168#issuecomment-74781577

[2015-05-08 17:24] roberthbailey commented on #7957
I tinkered with curl a bit #7307 and couldn't find an easy way to pass it root CAs to trust. Let me know if you know any tricks otherwise I'll keep poking at it.

[2015-05-08 17:26] ArtfulCoder commented on #7472
We might also want to disallow more namespace names for future use e.g. "endpoints" etc..

[2015-05-08 17:26] satnam6502 commented on #7777
@liggitt : are you saying that I should not adjust our bring up scripts to add a secret in the default namespace containing auth information but instead use service accounts somehow? I want to update the Elasticsearch pod that is run as part of the GCE cluster bring-up process but the new version of my pod needs to speak to the apiserver and I don't want to use the soon to be deprecated read only

[2015-05-08 17:26] quinton-hoole commented on #7968
I tend to agree. However we have the general philosophy of continually trying to get reality to move towards desired state.  So for example, were you to create the missing image in your example, the system would (in theory) retry the fetch, succeed, and all would be rosy. (If the system doesn't actually do that, then that's a bug, IMO).

I believe that we have the "Message" field in the status of

[2015-05-08 17:28] liggitt commented on #7777
@satnam6502 bootstrap tokens in bring-up scripts seem reasonable to me... I just couldn't see a kubectl command accomplishing that

[2015-05-08 17:29] satnam6502 commented on #7777
Right, I was proposing to add one :-)
Or I could do it by just defining the secret YAML file and using it with `kubectl create`.

[2015-05-08 17:33] lavalamp commented on #7943
Or just report the parsing error in addition to "couldn't get version/kind".

[2015-05-08 17:34] aronchick commented on #7968
If the "event" field was visible in 'get po', that'd be a perfect solution.

On Fri, May 8, 2015 at 10:27 AM, Quinton Hoole <notifications@github.com>
wrote:

[2015-05-08 17:37] roberthbailey commented on #7961
/cc @satnam6502

[2015-05-08 17:38] marekbiskup commented on #6020
e2e test for multiport services is in #7970
Repacking test (integration) still missing.

[2015-05-08 17:44] quinton-hoole commented on #4783
@marekbiskup has accepted

[2015-05-08 17:48] philips commented on #7203
I agree with @thockin's suggestion here.

[2015-05-08 17:49] roberthbailey commented on #7551
/cc @jlowdermilk

[2015-05-08 17:50] quinton-hoole opened #7972 "Persistent Disk mount tests start failing a few hours after a cluster is created"
After running the standard e2e tests repeatedly against a long-living standard e2e test cluster, the following tests started to fail consistently.  Before starting to fail, they succeeded 4 times.  I'm busy gathering the cluster logs and debugging.  I assume that one or both of the nodes in the test cluster got into a state where they were unable to schedule pods, or perhaps mount the required per

[2015-05-08 17:50] lavalamp commented on #7968
Use 'describe pod' instead of 'get pod' and you will be pleasantly
surprised.

On Fri, May 8, 2015 at 10:34 AM, David Aronchick <notifications@github.com>
wrote:

[2015-05-08 17:51] ArtfulCoder commented on #7472
Tasks would be:
1. APIServer can immediately prevent new services with "svc" namespace from being created.
2. Kubelet can add a new search subdomain with svc.
3. We can enable kube-push to push kube2sky changes.
4. we can update kube2sky to support new style and old style.

Tasks 1,2,3 can be done in parallel immediately without breaking anyone.

[2015-05-08 17:56] yifan-gu commented on #7788
I found the better solution is to create a fake pod worker to sync in serial. Working on this.

[2015-05-08 17:58] vishh commented on #7472
This plan SGTM. One thing to keep in mind is that not everyone out there uses 'kube_push'. We can either switch to 'dns' being a required component or document our future releases to include DNS specific compatibility issues.
For services with namespace 'service' should be done from the api-server or kube2sky, because, kube_push is not the primary deployment mechanism.

[2015-05-08 17:58] dchen1107 commented on #7801
Close this as dup of #5419

[2015-05-08 17:58] #7801 closed

[2015-05-08 17:59] ArtfulCoder commented on #5419
https://github.com/GoogleCloudPlatform/kubernetes/compare/master...ArtfulCoder:proxypod

[2015-05-08 18:01] yujuhong commented on #7788
@yifan-gu, thanks for taking on this!

[2015-05-08 18:01] quinton-hoole commented on #7972
On the bright side, it's worth noting that these are the only two tests that have failed against the long-living cluster thus far, after 24 runs of 36 e2e tests each (i.e. >800 tests).  So this failure is very specific to persistent disks.  In other respects the long-living "soak" test cluster still seems perfectly healthy.

[2015-05-08 18:01] yujuhong commented on #7924
This is a dup of #7788.

[2015-05-08 18:01] #7924 closed

[2015-05-08 18:02] pweil- commented on #7925
What I've been batting around is https://github.com/GoogleCloudPlatform/kubernetes/commit/51f4ea321664ef37ddeecbb3eae5ab5f320e0a08 which defines a set of constraints (or policy, if you'd like) that are used for the validation/enforcement.

My expectation is, like @erictune says, that a SecurityContext is the end result of the enforcement and becomes what the container runs with.  The definition of

[2015-05-08 18:10] timothysc commented on #7739
@thockin, @smarterclayton -
Isn't this kind of a 1st step into configuration language space here?

[2015-05-08 18:18] mbforbes commented on #6084
@lavalamp I know close to nothing about volumes, so it could be that "persistent volume" is the right term to use here?

The requirement I'm trying to hit is that tearing down all the nodes doesn't destroy data that the user wants and expects to persist.

Any clarification of exactly the mechanism that should be used is hugely appreciated, and I welcome edits to this issue (also happy to edit myse

[2015-05-08 18:18] quinton-hoole commented on #7972
Aah yes.  Found this in kubelet.log:

I0508 05:40:54.709496    2993 event.go:203] Event(api.ObjectReference{Kind:"Pod", Namespace:"default", Name:"pd-test-b972ba0f-f544-11e4-9f96-42010af01555", UID:"c56bbef3-f544-11e4-ac4f-42010af0727d", APIVersion:"v1beta3", ResourceVersion:"2789", FieldPath:""}): reason: 'failedMount' Unable to mount volumes for pod "pd-test-b972ba0f-f544-11e4-9f96-42010af01555_

[2015-05-08 18:19] pweil- commented on #7957
@roberthbailey is this what you're looking for RE: giving curl a ca to trust?

[code]

[2015-05-08 18:20] roberthbailey commented on #7957
It looks like this wasn't working because I'm running it from my Mac: http://curl.haxx.se/mail/archive-2013-10/0036.html

Apparently Apple just ignores the --cacert option passed to curl. :/

[2015-05-08 18:20] pweil- commented on #7957
:-1: blech

[2015-05-08 18:23] roberthbailey commented on #7957
At least now I know why it wasn't working.

[2015-05-08 18:29] quinton-hoole commented on #7972
Here's where the failure is happening:

https://github.com/GoogleCloudPlatform/kubernetes/blob/4a6ab7fd3698c5cc7172c5bd63efab320d1f2d17/pkg/volume/gce_pd/gce_util.go#L61

[2015-05-08 18:31] pweil- commented on #7957
Very true.  Actually, maybe it's just an upgrade away.  Looks like it was added back in 10.10?  http://curl.haxx.se/mail/archive-2014-10/0053.html

[2015-05-08 18:32] markturansky commented on #6084
@mbforbes A Persistent Volume should tear down cleanly and be able to be mounted again elsewhere when a pod comes back into the cluster.  It should follow the pod from node to node.  There are no local persistent volumes (only "network volumes" like GCEPD, AWSEBS, NFS, etc), so no data should be expected to remain on the node.

Regular volumes have no promise of persistence, so I would not expect

[2015-05-08 18:32] BenTheElder opened #7978 "Vagrant test cluster is not torn down and Minions are missed when doing so manually."
We should call kube-down in e2e when running teardown. Currently we just `echo "Vagrant ignores tear-down"`.

In doing so we also need to ensure that minion-2 is torn down. When calling cluster/kube-down.sh manually master and minion-1 are torn down correctly while minion-2 is missed.

/cc @derekwaynecarr

[2015-05-08 18:33] satnam6502 opened #7979 "Automatically create a secret in the default namespace that contains cluster access auth info"
When a cluster is created automatically make a `kubernetes-auth` secret that contains the basic auth, bearer token auth and certs to allow applications running inside pods to access the apiserver etc.

[2015-05-08 18:33] satnam6502 commented on #7979
@roberthbailey @zmerlynn

[2015-05-08 18:34] roberthbailey commented on #7957
I haven't tried it since I upgraded to 10.10 last week. Maybe I'll have better luck now.

[2015-05-08 18:34] smarterclayton commented on #7739
Technically having ENV vars is probably that step.  This is the next logical step.  I'm happy to draw this line hard, because we already have tools for describing the structural relationships (selectors, objects, etc).  I'd argue more about this is purely to bring workloads into Kube and stop people from creating wrapper layers.  But that's a line in my head, and I'm sure everyone has said that be

[2015-05-08 18:35] BenTheElder commented on #7978
I think sorting this out should resolve any issues from https://github.com/GoogleCloudPlatform/kubernetes/issues/7719 and https://github.com/GoogleCloudPlatform/kubernetes/pull/7032#issuecomment-100319199.

[2015-05-08 18:36] bgrant0607 commented on #7968
More later, but see also #7856 and #2529

[2015-05-08 18:38] roberthbailey commented on #7979
Will #7101 do this for us automatically? @liggitt

[2015-05-08 18:54] satnam6502 commented on #7979
I see that we already have:
[code]

[2015-05-08 18:54] jlowdermilk commented on #7551
There are a few issues like this where the wrapper causes problems. We're actually deprecating the gcloud wrapper and making standalone kubectl work automatically with GKE clusters. So the flow would be use gcloud to create cluster, then just use kubectl (the cloudsdk includes kubectl and makes it available on your PATH) directly. In the meantime, [`gcloud alpha container kubectl --help`](https://

[2015-05-08 18:56] bcbroussard commented on #7739
I agree with @smarterclayton and @pmorie that finding an easy solution for automatic ENV variable resolution is something good for v1. I've worked with a number of clients who are just starting out with k8s and almost every one of them has hit an issue around this.

Sometimes it involves confusion around the k8s command/args to docker cmd/entrypoint mappings, but that is another topic.

IMHO, this

[2015-05-08 18:57] roberthbailey commented on #7979
For GCE/GKE we do (@erictune added them to [cluster/gce/configure-vm.sh](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L312-L316)).

[2015-05-08 18:58] roberthbailey commented on #7979
Note that these are all just bearer tokens and they don't contain the CA root cert which we need to distribute for #7964.

[2015-05-08 19:01] #7978 closed

[2015-05-08 19:20] thockin commented on #7739
It's also muddled by Docker's bizarre "sometimes it is a shell, sometimes
not" semantics.  I agree it is pretty obvious, the question I have is
mostly timeframe.

On Fri, May 8, 2015 at 11:57 AM, BC Broussard <notifications@github.com>
wrote:

[2015-05-08 19:26] thockin commented on #7203
Sadly, we do not have currently Go infrastructure for decoding JSON this
way, unless you guys have some tricks you want to share...  We have a
sketch of an idea of autogenerating unmarshalling code.  Nothing further.

On Fri, May 8, 2015 at 10:49 AM, Brandon Philips <notifications@github.com>
wrote:

[2015-05-08 19:28] thockin commented on #6342
I punt to @vmarmol - as a libcontainer maintainer, he'll be front line on
this when it blows up :)

Still, it seems superior to random half-supported binaries like nsenter

On Fri, May 8, 2015 at 9:40 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-05-08 19:40] bgrant0607 commented on #3764
Agree.

[2015-05-08 19:45] pmorie opened #7986 "There should be a busybox-like volume plugin"
To support scratch images (or just images that don't have a tool you want), the should be a volume plugin that provides a shell and busybox-like functionality.  Of course, it must have selinux compiled in, not like the mainline 'busybox' image.

@vmarmol @thockin

[2015-05-08 19:45] vishh commented on #3764
@jimmidyson: Agreed. Labels are necessary. We don't have a way to tag logs with labels yet. Can you provide pointers to your custom fluentd plugins?

[2015-05-08 19:49] thockin commented on #6342
I'l double punt to @vmarmol and @vishh

Remind me why docker exec was not viable?  I feel like there was a good
reason but I can't recall it.

On Fri, May 8, 2015 at 12:27 PM, Tim Hockin <thockin@google.com> wrote:

[2015-05-08 19:50] ncdc commented on #6342
@thockin `docker exec` requires all traffic into/out of the container go through the Docker daemon, adding an extra hop and potential bottleneck.

[2015-05-08 19:52] thockin commented on #6342
Is that *really* a problem?  It feels like that should be the fallback
mode, anyway

On Fri, May 8, 2015 at 12:50 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-05-08 19:54] ncdc commented on #6342
I know @smarterclayton wanted to avoid `docker exec` if possible. I know there are some issues with the `nsenter` approach, so it would be nice to use our dockerexec code as option 1, falling back to `docker exec` if necessary.

[2015-05-08 19:54] jimmidyson commented on #3764
@vishh - see https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter & https://github.com/fabric8io/fluent-plugin-docker_metadata_filter, including [config examples](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter#configuration) & [filtered output](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter#example-inputoutput).

[2015-05-08 19:55] liggitt commented on #7979
#7101 will get automatically get you bearer tokens for service accounts, but that's it. There was discussion about following that with adding a kubeconfig key to the secret which bundled the ca cert and the token together

[2015-05-08 20:08] deads2k commented on #3800
Because `AuthPath` references an external file and because it affects both the user stanza and an unknown(!) cluster stanza, we can't build a reasonable conversion.  On the openshift side, I think we'd be ok with the break (we've never generated or used that file).  How do you feel about that?

Either way, I'll start by pulling the flags from the commands.

[2015-05-08 20:11] jlowdermilk commented on #3800
I as I know, nothing should be using it now that master and kubelet use kubeconfig for auth, but removing flags sounds like good start.

[2015-05-08 20:19] yifan-gu commented on #7203
@thockin Doe RawMessage help ?

[2015-05-08 20:20] erictune commented on #7958
I am out of office and won't get to this for a week or more.  Consider
reassignment.  Fyi @pmorie
On May 8, 2015 1:15 PM, "Abhi Shah" <notifications@github.com> wrote:

[2015-05-08 20:21] dchen1107 commented on #7958
Are you running one node cluster here? We have an issue on re-joining a node back to cluster after reboot (#6949 and other related issues for detail).

[2015-05-08 20:22] dchen1107 commented on #7962
cc/ @justinsb Could you please help us with this?

[2015-05-08 20:23] erictune commented on #7979
Let's not use the admin account for pods.  Secrets are for pods.  So let's
not put the admin secrets in secret resources.
 On May 8, 2015 12:56 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2015-05-08 20:28] justinsb commented on #7962
Sure ... this sounds like a name problem - as I recall the name is supposed to be ip-172-20-0-9.amazonaws.com (or similar), not just ip-172-20-0-9.

I'll try in us-east-1.  What revision of the software is this @iterion ?

[2015-05-08 20:29] vmarmol commented on #6342
@vishh brought up the good point that maintaining our dockerexec will be a cost of its own in the long term (we shouldn't even be using `nsenter` if we want to isolate the user's command). `docker exec` should probably be the default and have the `nsinit`/`nsenter` as a possible route the user can setup.

[2015-05-08 20:31] deads2k commented on #3800
It lives! https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubelet/app/server.go#L195

[2015-05-08 20:31] asautins commented on #7958
I am experiencing the issue on a 3 node cluster.

[2015-05-08 20:34] dchen1107 commented on #7968
I am re-assigning it to myself. @aronchick have you tried kubectl describe pod like @lavalamp suggested above? Is that meet your expectation? If not, please give us more details here, I will take a look at it. Thanks!

[2015-05-08 20:34] jlowdermilk commented on #7286
From your last comment, seems this is resolved. If you are still having trouble, lmk and I will reopen.

[2015-05-08 20:36] mrunalp commented on #6342
@vmarmol @vishh  nsinit doesn't work for docker 1.6+ and so we will need something like dockerexec to replace it unless this PR https://github.com/docker/libcontainer/pull/510 gets merged.

[2015-05-08 20:39] vmarmol commented on #6342
@mrunalp good point, I think that reinforces the argument for using `docker exec` instead of our own :)

[2015-05-08 20:40] iterion commented on #7962
I built from the latest master, but I have seen the same issue on recent releases.

[2015-05-08 20:52] calvinmetcalf commented on #7286
still not fixed because I can't do

[code]

[2015-05-08 20:54] satnam6502 commented on #7979
@erictune : have I done the wrong thing in PR ##7988 ?

[2015-05-08 20:57] vishh commented on #6342
Having `docker exec` as the default/fallback option is highly desirable for
providing better user experience. I assume there are no objections to this
approach. We have quite a few open issues around `kubectl exec ` not
working for users.

On Fri, May 8, 2015 at 1:39 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-05-08 20:57] vishh commented on #3764
cc @satnam6502 @a-robinson

[2015-05-08 21:01] justinsb commented on #7962
Testing now...  I wonder if this is related to #7910 and #7967

[2015-05-08 21:03] jayunit100 opened #7989 "E2E: Audit density.go iterator and other timeout iterators"
In my last PR @brendanburns duly noted  that you can do declarative style of timeout iteration, which is an important part of the e2e's, rather than a for loop.

- lets use the style of iteration in `soak_k8petstore.go` (pending merge now) with switch -> case statements in `density.go` as well, and possibly other places.    There are also other examples of this online, (i.e.  https://code.google.c

[2015-05-08 21:09] timothysc commented on #7962
@justinsb @iterion if you entries in etcd were the fqdn of the machines then you would have been bit by the same issue as us.

[2015-05-08 21:12] quinton-hoole commented on #7972
In summary we try to attach the GCE PD here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/06c2f4e3d50d35e50ecb4a7909bec62d5d366875/pkg/cloudprovider/gce/gce.go#L636

If that fails, we do a somewhat optimistic check here to see whether the PD is already attached to this node/instance (according to GCE's "Get Node"):

https://github.com/GoogleCloudPlatform/kubernetes/blob/06c2f4e3d50d35e5

[2015-05-08 21:17] jlowdermilk commented on #7286
I'm pretty sure that's a piping issue with the wrapper command that likely doesn't occur if you use kubectl directly. Try

1. `export KUBECONFIG=$HOME/.config/gcloud/kubernetes/kubeconfig`
2. `kubectl use-context "gke_$project_$zone_$clustername"`
3. `./createConfig.sh | gcloud alpha container kubectl rolling-update $PREV_VERSION -f -`

Note that steps 1,2 will be unnecessary with the next gcloud

[2015-05-08 21:19] satnam6502 commented on #7517
Closed via #7950

[2015-05-08 21:19] #7517 closed

[2015-05-08 21:21] quinton-hoole commented on #7972
It's worth noting that the above does not completely explain away why all subsequent attempts to attach and mount a PD on this node are failing. I would suggest addressing the requirement for retries mentioned above, and at the same time improving the logging so that we can see exactly what is failing and how.

Superficially it looks like all of the functions in the call stack to attach and mount

[2015-05-08 21:22] marekbiskup commented on #4783
I discussed the test scenario with @lavalamp. We came up with the following:

1. set up a few pods, so that the system has something to do.
1. wait a bit, so that they are initialized
3. set up 100 watches on the API server (to simulate a large system)
  * if possible, use NewEndpointController (from endpoints_controller.go - which is supposed to be used by all controllers) to simulate real client

[2015-05-08 21:25] smarterclayton commented on #6342
I don't object.  We'll probably only ship Openshift with the direct exec option, and probably aggressively move to improve the security of the execution path (fork a process  into the container that has a one time token, redirect the exec request to that binary) in the long run.

[2015-05-08 21:26] iterion commented on #7962
@justinsb I was skeptical about https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/templates/salt-minion.sh#L37

Running that curl returns "ip-172-20-0-9" and not "ip-172-20-0-9.ec2.internal" as we might expect?

[2015-05-08 21:28] smarterclayton commented on #6342
You mean, what if I exec in and run "tar cvzf - /mydb" and pipe that back through the daemon's user space goroutine?  :). Or run ten of them?

Most of our exec cases are log streaming, backup, or network based (proxy / port forward) so I just don't want the daemon in the loop at all.  It's fine as a simple default for test/dev setups.

Rocket will have this by default with rkt enter, but that stil

[2015-05-08 21:30] timothysc commented on #7790
@fgrzadkowski @wojtek-t

It's been a while since we had our test day and we've noticed a fairly large drop in overall throughput.

[2015-05-08 21:30] timothysc commented on #7566
@kelseyhightower perhaps the coreos folks who are working on k8s could lend a hand here.

[2015-05-08 21:33] satnam6502 commented on #3764
@jimmidyson : how do you set up the auth information for speaking to the api server?
This looks great -- I hope I can use it for Kubernetes logging to Elasticsearch and Cloud Logging.

[2015-05-08 21:35] quinton-hoole commented on #7972
cc: @thockin who wrote the original code by the looks of things, in case he has any suggestions.

[2015-05-08 21:36] satnam6502 commented on #3764
@mr-salty : the Fluentd plugin looks like what we wanted to write.

[2015-05-08 21:36] philips commented on #7203
@thockin We have manual marshaling code in the appc spec to do this stuff :( https://github.com/appc/spec/blob/master/schema/types/volume.go#L13

[2015-05-08 21:36] nikhiljindal commented on #7884
Yes you need to do a get each time before updating.

Re: patch. Can you please post the command that works for you. The following command gives me the same error:
```kubectl update pods www --patch={"apiVersion": "v1beta3", "spec": {"containers": [{"name": "www", "image": "my/nginx"}]}}```

[2015-05-08 21:38] iterion commented on #7962
Nvm, I tried just appending ".ec2.internal" to no avail.

[2015-05-08 21:38] thockin commented on #7203
Manual.  Puke.

On Fri, May 8, 2015 at 2:36 PM, Brandon Philips <notifications@github.com>
wrote:

[2015-05-08 21:42] bgrant0607 commented on #7203
2 things to keep in mind:
1. For performance reasons, we're almost certainly going to have to change our json parser #3338
2. We can't break [strategic merge patch](https://github.com/GoogleCloudPlatform/kubernetes/blob/f8569dc5d3c27db4d800cf07e6d5e64490955746/docs/api-conventions.md#strategic-merge-patch), which is needed for config reconciliation #1702

[2015-05-08 21:47] quinton-hoole commented on #4783
May I suggest a perhaps simpler first step, which does most of the above with minimal effort...

- Clone an existing e2e test (guestbook and rc are good candidates)
- Tweak it slightly such that:
  -- At the point where success would usually be declared, instead of declaring success, ssh into the etcd machine and render etcd temporarily uncontactable (more on how to do that below).
  -- Now kill a

[2015-05-08 21:52] quinton-hoole commented on #4783
Oh, and regarding how to make etcd uncontactable for a while, two suggestions:

1. ssh into the node (use the new ssh utility in test/e2e/utils) and schedule a simple cron job to insert an iptables DROP rule to block all incoming traffic to etcd, sleep for a while (I think it will have to be >5 minutes to trigger stuff), and then remove the iptables rule to allow traffic to flow again.

alternativ

[2015-05-08 22:01] lavalamp commented on #4783
@marekbiskup I think your step 1/2 is not really necessary-- there are pods running in the cluster by default.

@quinton-hoole black holeing traffic to etcd seems like a good thing to try too, but I think we should also test killing/restarting it.

[2015-05-08 22:04] cvallance opened #7996 "Can't ping services or pods"
I have followed the most recent instructions (updated 7th May '15) to setup a cluster in ubuntu** with etcd and flanneld. But I'm having trouble with the network... it seems to be in some kind of broken state.

**Note: I updated the config script so that it installed 0.16.2. Also a `kubectl get minions` returned nothing to start but after a `sudo service kube-controller-manager restart` they appea

[2015-05-08 22:07] brendandburns opened #7997 "Make get-kube.sh not download and upload for known binaries..."
We should skip the download to local -> push to storage part of the installation for release binaries.

[2015-05-08 22:07] cvallance commented on #7996
I have viewed ticket #5261 and it might have something to do with my `etcd` setup...

On master:
[code]

[2015-05-08 22:17] jimmidyson commented on #3764
@satnam6502 - currently requires cert/key files so using secrets. This is working nicely but we can tweak as required, service accounts when they land.

Configuration options in the fluent.conf are detailed in the readme. How about I put in a pr to update the existing fluentd image in kubernetes repo?

[2015-05-08 22:17] quinton-hoole commented on #4783
@lavalamp, agreed.  Change "alternatively" to "in addition" above :-)

[2015-05-08 22:19] justinsb commented on #7962
I just tried it, and I was able to bring up a cluster in us-east with the latest code.

I checked on my kubelet on the master, and did see your error:
[code]

So I think that error is a red herring.  Of course we should fix it, though I don't know if the problem is that it is missing the .ec2.internal suffix or whether the problem is that we're not registering the master as a node at all.

Do you

[2015-05-08 22:20] satnam6502 commented on #3764
Well there are two images to update: one for Fluentd to Elasticsearch and the other for Fluentd to Cloud Logging. I did read the README.md but I did not see any mention of a `flentd.conf` file?
I'm keen to do this myself (and learn) unless you have a burning desire to do it (I am sure you know better than me about how to make this change) in which case -- go for it!

[2015-05-08 22:22] marekbiskup commented on #4783
Ok, how about the guestbook test, with just killing etcd *before* creating all the objects (maybe several times during 5 minutes).

Then I'll add more complicated scenarios.

I suggest being careful about modifying the environment (like iptables or cron). If the test crashes in the middle, all following tests will fail.

Do we have a cleanup/healthcheck executed procedure before each test? I could

[2015-05-08 22:27] satnam6502 commented on #3764
@jimmidyson : why not use a bearer token to authenticate to the apiserver?

[2015-05-08 22:27] quinton-hoole commented on #4783
Yes, just killing etcd before the test will also work.

Regarding modifying, yes, that's why I suggested cron (on the etcd machine), so that the cleanup will happen even if the test code itself fails.  I think that's good enough.

[2015-05-08 22:28] satnam6502 commented on #3764
@jimmidyson : Regarding the cache, what if a label gets removed/updated from a container, but a log line is emitted after that point -- but the label is in the cache -- so then the log line gets associated with the wrong label and/or value?

[2015-05-08 22:33] ArtfulCoder commented on #7996
can you ping any pod on minion1 from another pod on minion2 using the flannel ip ?

[2015-05-08 22:37] jimmidyson commented on #3764
Can we open an issue or add to existing to track the logging as we've kind of hijacked this one!

The configuration options in the readme are options to add in to the fluent.conf filters. How would you feel about building a base image with required gems & creating the es/gcl images on top of that, only differing in configuration files?

[2015-05-08 22:40] cvallance commented on #7996
Ok, given this...
[code]
On auth-dev-ctl-9c8be (172.16.81.4)
[code]

[2015-05-08 22:42] mbforbes commented on #6084
@markturansky OK, thanks for the clarification!

So, it looks like from my reading of the [PD test](https://github.com/mbforbes/kubernetes/blob/master/test/e2e/pd.go), we don't quite have something yet that exercises the "dramatically tear nodes down" case... or really anything that actually verifies whether the data on the PD survives between pod shuffling. I have no idea if, given the implementa

[2015-05-08 22:42] satnam6502 opened #8001 "Update Fluentd Configurations to extract labels and other metadata"
Continuing discussion from #3764
@a-robinson @mr-salty
CC: @dchen1107 @roberthbailey

[2015-05-08 22:43] satnam6502 commented on #3764
@jimmidyson let's continue the discussion on #8001

[2015-05-08 22:44] jimmidyson commented on #3764
@satnam6502 - I have the same concern about the cache but it's required to reduce unnecessary calls to api server. Options are putting a TTL on cached info (easy but how long TTL?) or using watches on pod info to update cache (slightly trickier but should be doable).

Bearer tokens would also have to handle refreshes, certs seem easier for now, but we can change if needed.

[2015-05-08 22:45] jimmidyson commented on #8001
@satnam6502 - I have the same concern about the cache but it's required to reduce unnecessary calls to api server. Options are putting a TTL on cached info (easy but how long TTL?) or using watches on pod info to update cache (slightly trickier but should be doable).

Bearer tokens would also have to handle refreshes, certs seem easier for now, but we can change if needed.

[2015-05-08 22:45] cvallance commented on #7996
Also, I don't know if this helps... but I thought I'd share it. This is from a node / minion:
[code]

[2015-05-08 22:45] satnam6502 commented on #8001
I'm keen for us to keep building the base images as I do -- I try to use common blocks (ubutu:14.04, jre-7 etc.) amongst the Elasticsearch, Logging and other images to try and factorized out layers to reduce load time etc.

[2015-05-08 22:46] smarterclayton commented on #8001
Once we have per node controllers we can deliver fluentd as a privileged pod with a service account secret which means rotation would be handled automatically.

[2015-05-08 22:48] satnam6502 commented on #8001
@jimmidyson I've been told by @roberthbailey that currently bearer tokens have an indefinite lifetime.

[2015-05-08 22:49] markturansky commented on #6084
There was a recent bug that accidentally deleted the contents of the volume before unmounting it, so a test that verifies data persists would probably be a good thing.

Each plugin is only as good as its provider.  The GCEPD plugin is only as reliable as GCE Persistent Disks, so long as we don't delete the data or the PD by ID using the API (until we want to).

[2015-05-08 22:49] jimmidyson commented on #8001
@smarterclayton - Service account secret would be file containing bearer token or something else? Would need to re-read a file at some point to pick up secret changes?

[2015-05-08 22:52] cvallance commented on #7996
In the `config-default.sh` I see this:
[code]

But it hasn't created the skydns stuff... maybe I need to do that manually?

[2015-05-08 22:52] jimmidyson commented on #8001
@satnam6502 @roberthbailey but I assume that will change to require refreshes at some point?

[2015-05-08 22:54] jimmidyson commented on #8001
@satnam6502 - other than the base os image I don't see the fluentd (ruby) image containing any layers in common with say an elasticsearch image (java)

[2015-05-08 22:54] Symmetric opened #8003 "Guestbook php get/set very slow -- Predis doing AAAA lookups before A lookup"
When running the guestbook app, gets and sets are very slow on my Vagrant install.

Tracing the DNS requests made after submitting a message on the page:

[code]

Looks like predis is recursing through the whole list of dns-search and dns servers with AAAA lookups, before falling back to an A lookup.

Minor issue, but it does give the impression that the demo isn't working...

I couldn't spot any

[2015-05-08 22:55] satnam6502 commented on #8001
@jimmidyson how about for now using the `token-admin` secret (as it is done in #7988 to speak to the api sever) and I can add a gem-install step and update the Fluentd config in the two Fluentd images?
Once we have a better solution for accessing the apiserver from the master we can switch to that. @erictune

I am very keen to propagate labels so what's you've written is very useful (and I had int

[2015-05-08 22:57] roberthbailey commented on #8001
@jimmidyson You are correct that at some point we will need a credential refresh story.

[2015-05-08 22:59] smarterclayton commented on #8001
Containing signed jwt assertion that can be invalidated on the server and rotated.  Restart or redeploy would pick up newest.  Eventually we would expand the reach of it if necessary.  That will land in the next week probably.

[2015-05-08 22:59] mbforbes commented on #6084
Ack, great to hear. I'll keep this open, then. Once node reboot & re-reate get in, this shouldn't be hard, and I can hop on it then if no one else has.

[2015-05-08 23:04] elibixby opened #8006 "Find namespace of current pod."
If I am running within a pod I have no way currently to find the namespace of the pod, which means I have no way to retrieve additional metadata about the pod I might need (e.g. labels).

Something like an environment variable would be nice.

[2015-05-08 23:06] satnam6502 commented on #8001
@jimmidyson -- why don't you go ahead and make the PR to update the images? I'll assign the PR to you. Thanks!

[2015-05-08 23:07] jimmidyson commented on #8001
@satnam6502 - let me add in the option to use bearer token too when I get a chance.

[2015-05-08 23:10] jimmidyson commented on #8001
@satnam6502 - Happy to! I'll look at updating the images & plugin config early next week.

[2015-05-08 23:29] pravisankar opened #8007 "Make pod.Spec.Host unambiguous"
AFAIK, general principle is user desired intent is specified in the object spec and k8s platform will try to satisfy this intent.
  User can restrict pod creation on a specific node with pod.Spec.Host=[node] and if this is empty, scheduler will choose the best node based on predicates/priorityfunctions.
Scheduler explicitly modifies pod.Spec.Host = best-fit-node (scheduleOne() in plugin/pkg/schedu

[2015-05-08 23:29] roberthbailey commented on #7965
We can't get rid of port 10250 since the proxy functionality of the master connects to this port. What we need instead is to authenticate that we trust incoming requests (because the request presents a client SSL cert that is signed by a root CA that is trusted by the kubelet).

[2015-05-08 23:31] vmarmol commented on #7815
After more tests, this is a combination of CPU and memory isolation. @dchen1107 is working on some of the memory aspects:
- Protecting Docker from OOM
- Lowering number of dead containers we track
- Default limits for jobs so we don't get overwhelmed

I'm working on the CPU isolation issues:
- Put Docker in a container so we more equally share with the Kubelet
- Push stats for monitoring purposes

[2015-05-08 23:33] davidopp opened #8008 "Preference/optional form of PodSpec.NodeSelector"
Borg has preferences a.k.a. "soft constraints." We should have the same thing in Kubernetes. (Try to place this pod on a node that satisfies this selector, but if you can't, schedule it anywhere else.) We could call it PodSpec.PreferredNodeSelector or something like that.

Sorry if this issue is already filed but I didn't immediately see it.

[2015-05-08 23:40] vishh opened #8010 "kube2sky silently fails dns entry creation"
Since namespaces can be DNS names, it is possible to create services with different names and namespaces, that ends up colliding when it comes to dns entry creation. This is a limitation of skydns.
Example:
[code]

Our users have no clue about this failure now since kube2sky failures are not surfaced as of now.

[2015-05-08 23:40] vishh commented on #8010
cc @thockin @ArtfulCoder

[2015-05-08 23:49] #7937 closed

[2015-05-08 23:50] dchen1107 commented on #7815
@vmarmol nice summary from our discussion. :-)

[2015-05-09 00:07] vishh commented on #8010
Question: Can namespaces and names have be DNS labels? Is there a real immediate necessity for them to be DNS sub domains? @bgrant0607 @derekwaynecarr

[2015-05-09 00:08] bkeroackdsc opened #8012 "Failure to pull private images from Docker Hub"
Pods containing public container images (eg: "redis:latest") work normally however when I try to use private images on Docker Hub I get messages like this in the journal:

[code]

I've put valid credentials in ``/home/core/.dockercfg`` per the documentation. If I do a manual ``docker pull`` on the command line on the nodes it works fine. In fact, after manually pulling the images the pod will then

[2015-05-09 00:09] pmorie commented on #7958
I think I know the issue. The plugin writes a file that is used as a marker
to guarantee idempotency of setup. The marker file is written to the host's
disk while the secrets are written to tmpfs. I will work on a fix for this.
On Fri, May 8, 2015 at 4:31 PM asautins <notifications@github.com> wrote:

[2015-05-09 00:10] #490 closed

[2015-05-09 00:17] asautins commented on #7958
That's awesome.  Thank you.  Please let me know if you'd like me to run any
tests or provide any more data.

On Fri, May 8, 2015 at 6:10 PM, Paul Morie <notifications@github.com> wrote:

[2015-05-09 00:18] cvallance commented on #7996
Ok, I managed to get the skydns stuff installed. Hasn't helped.

[2015-05-09 00:21] dchen1107 commented on #490
@ArtfulCoder We need resource container for docker no matter what. @vmarmol is doing that. We can put kube-proxy into a pod, but not kubelet itself. Kubelet can run as a container, but not as pod today. There is a chicken egg issue anyway.

[2015-05-09 00:26] cvallance commented on #8012
So just to be sure, `sudo ls -ld /proc/$(pidof kubelet)/cwd` returned `/home/core`?

[2015-05-09 00:28] bgrant0607 commented on #8007
Spec is not just user intent, but the desired state, in general:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#spec-and-status

Pods cannot be rescheduled. They must be replaced.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pods.md#durability-of-pods-or-lack-thereof

[2015-05-09 00:30] bgrant0607 commented on #8007
See also #3949.

[2015-05-09 00:30] bkeroackdsc commented on #8012
Hmm. Appears not:

[code]

[2015-05-09 00:41] bgrant0607 commented on #7438
This didn't get mentioned during the hangout. :-(  The API churn right now is impossible to keep up with. Expect latency to be high on any API changes. We may just need to stack-rank them and resolve them in order.

I'd be happy with bi-directional. We're going to need something similar in order to support sole tenancy of users' pods on nodes. That's somehow going to need to be represented on the

[2015-05-09 00:43] bgrant0607 commented on #7438
A PV should have a way to "fail" a PVC that's not allowed, similar to how kubelet now can reject pods.

[2015-05-09 00:43] goltermann opened #8013 "Output of "kubectl get" not helpful"
When you run a gcloud command and don't specify it fully, it will at least give you the options for that command.  I got used to this, and just ran "kubectl get" and expected it to at least let me know the kinds of things I can get (po, rc, mi, ev, cs, svc).

Once I saw it didn't allow that, I had trouble finding the "-h" command to get help.  We should probably let people know what the "help" com

[2015-05-09 00:48] pmorie commented on #7958
@asautins will do
On Fri, May 8, 2015 at 8:18 PM asautins <notifications@github.com> wrote:

[2015-05-09 00:48] iterion commented on #7962
Nothing seems to be running:

[code]

[code]

[2015-05-09 00:55] saad-ali opened #8014 "Make template Deletion/Creation more robust"
'kubernetes-soak-weekly-deploy' sometimes fails to deploy because the clean-up cluster `down` step fails to delete the template:
[code]

Then the subsequent cluster `up` step fails to create the template, because it already exists:
[code]

It keeps retrying and failing, because the template already exists, until it times out and the deployment fails.

Suggested fixes:
* Cluster down should try har

[2015-05-09 01:00] markturansky commented on #7438
So we're clear, is the existing implementation correct, then?  The single bind from which I can build all other objects and status is pv.Spec.ClaimRef from which I derive pvc.Status.VolumeRef.

I'm working through the recycler implementation and the bind as described above is a natural fit for the volume's lifecycle.

If this is correct, I need to just remove the gate and this feature will be enab

[2015-05-09 01:14] bgrant0607 commented on #8007
And #6393

[2015-05-09 01:16] bgrant0607 commented on #7203
And we want a strict parsing mode for validation purposes.

[2015-05-09 01:22] bgrant0607 commented on #7203
I agree that discriminated inline unions look better when writing/reading them. When trying to understand the schema, such as during unmarshaling, they are pretty painful. They require data-dependent parsing that's not representable in Swagger AFAIK.  Embedded/inline OneOf isn't sufficient because one can't determine which case it is without understanding the correspondence between the value of th

[2015-05-09 01:35] justinsb commented on #7962
That is odd... here is my output:

[code]

Note no `sudo: unable to resolve host ip-172-20-0-9`

[code]

Note that I have arguments to kubelet (a lot of them!)  The lack of arguments matches with the " No api server defined - no node status update will be sent." message in your kubelet log (which I don't have)

On the "unable to resolve host ip-172-20-0-9" error, I can `ping ip-172-20-0-9`.  It is

[2015-05-09 01:42] justinsb commented on #7698
I found some docs here: https://github.com/GoogleCloudPlatform/kubernetes/issues/7979

It does sound like maybe this isn't the _official_ way to get a bearer token!

[2015-05-09 01:44] bgrant0607 commented on #8010
Please comment on #6666.

[2015-05-09 01:45] bgrant0607 commented on #8010
DNS labels for namespaces seems reasonable to me, though.

[2015-05-09 01:47] bgrant0607 commented on #8010
Could you please describe the problem in more detail, with an example conflict?

[2015-05-09 02:01] markturansky commented on #7438
If we want the bind on pvc.Spec.VolumeName, then please review #7529.  Either way, please let me know how to proceed and I'm happy to follow up.

[2015-05-09 02:25] thockin-cc commented on #8010
Create a service s1 in namespace n. Now create a service s2 in namespace
s1.n. This will break skydns in particular and any wildcard DNS *.s1.n

I think it is reasonable to move namespaces to be DNS labels.
On May 8, 2015 6:47 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-05-09 02:27] bgrant0607 commented on #7777
@satnam6502 Are you aware of headless services? You could create a service with PortalIP = None for your pods and then just query the endpoint API. Soon you should be able to get the addresses from DNS also (#6666).

[2015-05-09 02:28] thockin commented on #7203
Maybe not short term, but it seems bass-ackward to let the current tooling
dictate our API.
On May 8, 2015 6:23 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-05-09 02:32] bgrant0607 commented on #7203
Not worth the cost, IMO

[2015-05-09 02:34] thockin commented on #7203
For now. Expect to me to bother you about this for v2 API.
On May 8, 2015 7:33 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-05-09 02:38] thockin-cc commented on #7996
2 things (on a phone so not very helpful)

1) pinging a service IP is meaningless and will never work :)

2) All that matters is pods on 2 nodes being able to ping each other. Focus
on that issue.
On May 8, 2015 5:19 PM, "Charles Vallance" <notifications@github.com> wrote:

[2015-05-09 02:39] satnam6502 commented on #6666
/sub

[2015-05-09 02:39] satnam6502 commented on #7777
Yes, and I see that others have used a headless service for finding the endpoints to compose with. Once #6666 is in then I hope to use it instead.

[2015-05-09 02:39] bgrant0607 commented on #6979
Discussion on custom unmarshaling moved to #7203.

But for ContainerState, there's no good reason, IMO. Different info isn't required for different "states". Furthermore, we're planning to eliminate Phase #7856.

[2015-05-09 02:40] thockin-cc commented on #8006
@pmorie please enlighten us on the downward API for this!

@erictune do I recall a discussion of dropping a kubeconfg into pod secrets
that has their current namespace preset?
On May 8, 2015 4:05 PM, "elibixby" <notifications@github.com> wrote:

[2015-05-09 02:42] bgrant0607 commented on #7203
Inline unions would also make it impossible to diff objects without the schema.

[2015-05-09 02:44] bgrant0607 commented on #7203
The fact that we're using keyed lists rather than maps is already a big enough PITA. I'm reluctant to add more such quirks.

[2015-05-09 02:46] bgrant0607 commented on #7203
If we did want discriminated inline unions, we should treat them exactly how we'd treat embedded plugin subobjects, with a kind and version.

[2015-05-09 02:56] thockin commented on #6666
On May 6, 2015 10:14 AM, "Clayton Coleman" <notifications@github.com> wrote:

for the service). It's really there to let an app easily support
wildcarding for purposes of their own - security (cookie hoisting and
isolation), vanity urls (myfoo.service.bar.local), and routing (I can set
up a security router at *.foo.bar.service.local that proxies to other
services via a mapping of * to service back

[2015-05-09 02:57] iterion commented on #7962
VPC was created by the script and dns support and dns hostnames are both turned on.

Interestingly, I'm unable to ping ip-172-20-0-9 and my resolv.conf is missing the search line:

[code]

`cat /var/log/salt/minion` looks pretty close, but noticed some extra lines re: Jinja:
[code]

[2015-05-09 03:10] iterion commented on #7962
I think it might be the DHCP Options Set. I have another VPC in east that already had a DHCP Option Set and it appears that the kubernetes cluster is using that same set.

When I looked in west I found that the set was configured as such:
[code]

Whereas in east, my DHCP option set just looked like this:
[code]

Perhaps we should be explicitly creating a new DHCP option set to avoid conflicts with

[2015-05-09 03:11] pmorie commented on #8006
@elibixby check out
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md
On Fri, May 8, 2015 at 10:40 PM thockin-cc <notifications@github.com> wrote:

[2015-05-09 03:20] pmorie commented on #8006
@thockin, @liggit's work is going to generate a kubeconfig secret for a
service account that is injected into the pod in a volume
On Fri, May 8, 2015 at 11:11 PM Paul Morie <pmorie@gmail.com> wrote:

[2015-05-09 03:23] justinsb commented on #7962
@iterion That is almost certainly it - nice find!  I don't fully understand how this actually happened (I guess a new VPC defaults to whatever DHCP option set already exists, although that isn't what the docs say), but I would welcome a patch that created a working DHCP option set when creating a new VPC, and/or warned if a VPC had a DHCP option set which didn't include a domain-name.

[2015-05-09 03:24] liggitt commented on #8006
Kubeconfig was a question/follow-up for #7101, not part of the PR currently

[2015-05-09 03:55] iterion commented on #7962
Yep, cluster in us-east-1 is up and running! Thanks for all of the troubleshooting help!

Another option might be to set the DHCP option set to default, which should be configured correctly. It doesn't seem like you can modify the default, so it might be a safe choice. Plus, we don't have to set up the option set, we can just assign it through the [aws cli](http://docs.aws.amazon.com/cli/latest/re

[2015-05-09 03:56] smarterclayton commented on #6666
I think there's an advantage to "full name looks like any old completely isolated sandbox" but don't feel strongly.  I'm ok with ".k8s.local" or the longer "kubernetes.local" or "cluster.local"

[2015-05-09 05:19] philips commented on #7203
On Fri, May 8, 2015 at 7:47 PM, Brian Grant <notifications@github.com>
wrote:

I am having a hard time finding what you mean by this, could you provide a
link?

[2015-05-09 05:43] hurf commented on #7884
@nikhiljindal - Actually in my office there're 2 enviroments for testing k8s, one standalone hosted on my pc and another one with multi minions on a cloud enviroment. When I want to update something and keep them synchronized in two enviroments, I had to export the file and modify it twice. That's why I say it prevents the template to be portable. I think maybe we can make some improvement on this

[2015-05-09 07:11] mikedanese commented on #8012
Are you running HEAD or a release version? There is a bit of logging around selecting a .dockercfg at the v4 logging level [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/credentialprovider/config.go#L66-L90). To verify it is an issue with kubelet not picking up the .dockercfg, can you start restart the kubelet with `--v=4` and grep the logs for `dockercfg` and share the r

[2015-05-09 10:00] davidopp commented on #3124
This is very related to #3139 so I'm assigning to @piosz

/cc @fgrzadkowski @wojtek-t

[2015-05-09 13:28] opaugam commented on #7698
looks purr-fect to me - giving it a try.. thanks !

[2015-05-09 15:17] jimmidyson commented on #8001
I've added in option to use `bearer_token_file` in addition to client certs, released in [0.2.0](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/tree/v0.2.0).

@smarterclayton - can you expand on what is required to use the jwt assertion? Exchange the jwt for an access token? Can't see details at https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/servic

[2015-05-09 16:28] cvallance commented on #7996
Thanks @thockin I ended up looking back at the network setup for flannel and found the issue. Posting steps I took to hopefully help others.

 So I noticed that the flannel configuration (`/run/flannel/subnet.env`) was different to what docker was starting up with (wouldn't have a clue how they got out of sync).
[code]

Note that the docker `--bip=172.16.85.1/24` was different to the flannel subne

[2015-05-09 16:28] #7996 closed

[2015-05-09 17:50] vishh commented on #6666
Moving the discussion in #8010 to over here:

Currently namespaces are DNS names which are incompatible with the skydns' storage schema. While we are at re-working out current DNS design, I would like to understand if it is necessary for namespaces to be DNS names. Can we switch namespaces to be labels?
Example: A service with namespace `kubernetes.default` and name `foo` will result in our dns fr

[2015-05-09 18:03] ddysher commented on #1319
Sorry, I've been distracted quite a bit last month.

Making it an add-on is ideal and preferrable, but I think we need support from various components to make it work.  Suppose we created pods running a stock docker/registry image, and a service `kube-registry` for this registry addon.  To push/pull a user image `registry.default.kubernetes.local/user/image:tag`, we need:

1. A way to push the ima

[2015-05-09 18:09] BenTheElder commented on #7719
Looks like I can close this one for now #7978 seems to have solved it.

[2015-05-09 18:09] #7719 closed

[2015-05-09 18:33] BenTheElder opened #8019 "Vagrant saltstack failing to provision."
Running `make test_e2e` was working fine just last night, but now appears to be failing to provision.

[code]
Basically it runs through every mirror for repomd.xml failing on each one. I've run it a few times on two machines both with working internet access and each time it appears to try every mirror before giving:

[code]

I'm not familiar with saltstack so if anyone could point me in the right

[2015-05-09 18:48] caesarxuchao opened #8020 "docs/downward API： empty value for created environment variable"
I tried the json file in docs/downward API. After the pod is created, the environment variables are created but have empty value:
[code]

The json file in the doc has a few grammar issues, so I modified it a bit:
[code]

@lavalamp @dchen1107 @pmorie

[2015-05-09 18:49] pires commented on #7949
Same happens to `hazelcast` example.

[code]

[2015-05-09 18:50] pires commented on #7949
Question, what do I/we need to do?

[2015-05-09 19:05] caesarxuchao commented on #7949
Hi @pires, in v1beta3, the URL becomes

[code]

Could you give it a try? Thanks.

#7731

[2015-05-09 19:13] pires commented on #7949
@caesarxuchao I have fixed it, but had to revert to `v1beta1` in the URL. Now I get it, thanks. Want me to PR a fix for this as well?

[2015-05-09 19:19] pires commented on #7949
The `Endpoints` class no longer fits the API so need to fix that as well.

[2015-05-09 19:21] caesarxuchao commented on #7949
Do you mean for the Cassandra example? I'm writing the PR now. Thank you : )

On Saturday, May 9, 2015, Paulo Pires <notifications@github.com> wrote:

--
Regards,
Chao Xu

[2015-05-09 19:24] pires commented on #7949
@caesarxuchao are you on irc.freenode.net? Let's talk. `ppires` here.

[2015-05-09 20:14] caesarxuchao commented on #7949
Sorry, just saw your message. I sent you several messages on irc. Not sure if I used the correct command. "/msg ppires blahblah"

[2015-05-09 20:32] derekwaynecarr commented on #8019
I saw this too.  Not sure the cause yet.  Have you checked if you can ssh into the box and just run a yum update to see if it can find any repo?  Basically, the salt stuff in its early steps is just trying to invoke yum

Sent from my iPhone

[2015-05-09 20:35] BenTheElder commented on #8019
ssh'ing and running `sudo yum update` gives the same issue with failing to find repomd.xml.

[2015-05-09 21:13] smarterclayton commented on #1319
We use the service ip in Openshift - the hosts have access to it.  We don't wire the nodes to use the cluster DNS yet but it's a small step to that and it will give you the IP you wantz

For disk, that's the default we use in the Openshift registry setup - runs the image on local disk first, then you switch to object store or gluster or NFS or gce disk when ready.

We'll probably move DNS to the K

[2015-05-09 21:18] smarterclayton commented on #6666
The new plan for DNS should fix this - in Openshift (where I did most of the prototyping for the DNS backed by the service API) I believe we don't have this problem due to the way we introduce names.  So temporary problem at worst.

There may be advantages to leaving namespaces capable of themselves being sub domains, although I don't have a concrete use case right now

I would prefer if other clu

[2015-05-09 21:25] thockin commented on #7438
I may be on the wrong side of this battle, but i'll try anyway.

else.

Technically, you can rediscover status by scanning all PVClaims and seeing
if any of them point back to a give PV.  Granted, that's somewhat less than
pleasant, but it fits the requirement in principle.  To maintain the
crumbling analogy, we bind a pod to a node, where pod.spec holds the
authoritative assignment.  A node disco

[2015-05-09 21:52] pmorie commented on #8006
@elibixby Let us know if that works for you

[2015-05-09 22:01] BenTheElder commented on #8019
This: (https://github.com/GoogleCloudPlatform/kubernetes/issues/1085) seems to suggest that it may be an issue with the Fedora mirrors.
Specifically this comment: https://github.com/GoogleCloudPlatform/kubernetes/issues/1085#issuecomment-53791984

[2015-05-09 22:15] pires commented on #7731
PR is up, please review.

[2015-05-09 22:33] caesarxuchao commented on #7731
aha, endpoints contain a list of subsets...that's why my fix to cassandra is not working yet

[2015-05-09 23:55] derekwaynecarr commented on #8019
@puiterwijk is there a problem with Fedora infrastructure?  We are having problems doing yum update on Fedora 20 VM in Kubernetes.  #1085 makes me think you may know how to help.

Sent from my iPhone

[2015-05-09 23:58] derekwaynecarr commented on #8019
This makes me want to move to Fedora 21 this week.  I know we have OpenShift running on Fedora 21 now in Vagrant as an option so Kubernetes should be fine there, quicker to pick up Docker changes as well.

Sent from my iPhone

[2015-05-10 00:06] smarterclayton commented on #8001
It would be passed as a bearer token, the authorized would simply handle it differently than "normal" tokens.

[2015-05-10 00:25] ddysher commented on #1319
On Sat, May 9, 2015 at 5:14 PM Clayton Coleman <notifications@github.com>
wrote:

Being able to access the service IP in all hosts is essential to distribute
images across k8s; kubelet can just pull from that IP for images.  l'm
trying to figure out the best way to upload an image.  There is no cluster
'build service', so client needs to push an image to the registry.  I'm not
sure if new service

[2015-05-10 01:18] smarterclayton commented on #1319
You can make an outside registry internally available if you want, but I don't know that you *have* to have the registry in the cluster. If you have the registry CA on every node, the docker daemon can query the internal DNS you're set.  It should be easier to get CAs into nodes but that's something that can be solved outside of Kube for now.

Well... Openshift has one of those that's designed to

[2015-05-10 03:23] thockin commented on #6666
The problem with namespace names being more than just DNS labels is
fundamentally that it gets ambiguous.  Services happen to be a DNS label
also (though I hoped to move that back to full subdomains).

Given a namespace "quux" hosting a service (or any other DNS-able entity -
pods?) named "foo.bar" and another namespace "bar.quux" hosting a service
named "foo", what does a DNS lookup for foo.bar.q

[2015-05-10 07:26] dkorn opened #8038 "Inconsistency in api terminology between pods and nodes conditions"
While nodes returns the "conditions" key in api requests, pods returns "Condition". From the TODO comment in types.go one can assume that the general intention is to match NodeCondition api:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L751

Also, in pods states docs it seems that the right terminology should be "conditions": https://github.com/GoogleCloudPlatform

[2015-05-10 07:33] dkorn commented on #8038
![inconsistency in api terminology between pods and nodes conditions](https://cloud.githubusercontent.com/assets/6347577/7553412/091398e0-f700-11e4-9972-c84c5be96483.png)

[2015-05-10 08:07] alml commented on #6666
Given that one of the design goals of namespaces is policy enforcement on per-namespace basis, it might be handy to setup access policy for "foo" project, and then each instance of this project (foo/prod, foo/test, foo/staging, etc) can land in its own namespace, but still inherit the policy.

[2015-05-10 09:10] jimmidyson commented on #8001
@smarterclayton That's easy then! Does a service account bearer token expire? If so, how should this be handled? Exit process & let container be recreated with new service account token allocated?

[2015-05-10 09:16] jimmidyson commented on #8001
@satnam6502 Adding in cache TTL option. What do you think is a sane default? I'll add in pod watch option soon too.

[2015-05-10 10:52] pires commented on #7731
@caesarxuchao yeah, tried to discuss that with you over IRC, but you don't seem to have received my messages.

[2015-05-10 13:18] jsdir commented on #6162
@justinsb: You can continue porting the cloudprovider to `aws-sdk-go`. There have been many additions since my last changes and you would probably be more familiar with their use.

[2015-05-10 13:32] BenTheElder commented on #8019
I hopped on #fedora on freenode last night, didn't find any solution but found two users with out of date fedora 20 installs with the same issue. Looks like it probably is the mirrors acting up. I'm going to be out for a bit this morning but I'll check if the situation has changed later.

[2015-05-10 14:24] erictune commented on #7265
TODO(erictune): document this.

[2015-05-10 14:49] erictune commented on #7964
/sub

[2015-05-10 14:54] erictune commented on #7961
@thockin I think you have given this issue some thought.  What did you want to do about low numbered ports? Run stuff as non root and make it easy to get CAP_NET_BIND?

@pweil- @pmorie what does OpenShift do about CAP_NET_BIND and default Capabilities for SecurityContexts?

[2015-05-10 15:41] thockin-cc commented on #7961
More or less, yeah. I think we have a responsibility as thought leaders to
push this direction. There's no reason to do a allow low-ports for non-priv
pods (namespaces) or for privileged net=host pods.
On May 10, 2015 7:54 AM, "Eric Tune" <notifications@github.com> wrote:

[2015-05-10 16:08] erictune commented on #7961
I don't understand "there's no reason to do a allow low-ports for non-priv
pods (namespaces) or for privileged net=host pods."

[2015-05-10 16:18] erictune commented on #7961
I agree we don't want CAP_NET_BIND for net-host pods.

I thought we would want to allow CAP_NET_BIND for all other containers, but your words seem to contradict that.

[2015-05-10 16:31] thockin commented on #7961
Sorry, typing on a phone. I see no reason to disallow low ports on normal
containers or privileged containers with net=host. That covers the vast
majority of containers. I don't know if that alone is sufficient to get
people off UID 0, but it's certainly part of the solution.

Tim
On May 10, 2015 9:18 AM, "Eric Tune" <notifications@github.com> wrote:

[2015-05-10 16:39] smarterclayton commented on #8001
Right now it doesn't expire but can be rotated at any time.  In the event of a rotation, you'd want to trigger a rolling update or rollout (we don't have a good word for rolling out changes to a per node controller yet, although I would hope the deployment object could handle it eventually).

Our secret redistribution guarantee today is "when a new pod is created" which has some nice properties.

[2015-05-10 16:39] smarterclayton commented on #6666
I have no concrete argument at the present.  If we do it, let's do it now.

[2015-05-10 16:42] thockin commented on #6666
We don't have (and I don't think we will any time soon) sub-namespaces. We
could do this through convention, though. I agree it would be better if we
could have subdomains for namespace. Is it worth making everything else be
labels instead? Something has to bend here. What's more useful. A namespace
"foo.bar" or a pod/service "foo.bar"?

I suppose that, if namespace are sufficiently descriptive ev

[2015-05-10 17:19] biswars opened #8042 "skydns container exits repeatedly and new one gets created"
Kubernetes version used: 0.16.2
skydns image: gcr.io/google_containers/skydns:2015-03-11-001
kube2sky image: gcr.io/google_containers/kube2sky:1.4

I am running this set up locally and able to run pods, services, replicationcontrollers. When I set up the dns by running the rc and service as available in the skydns-rc.yaml.yaml and skydns-svc.yaml, observed that skydns exits repeatedly and gets cre

[2015-05-10 17:32] daniel-middleton commented on #6862
LXC/LXD support in Kubernetes would be awesome. Forming containers around a single process (hey Docker) is obviously the ideal in terms of a micro-service infrastructure, but a lot of us don't yet have this pleasure (e.g, those of us tasked with moving an organisation in to 'DevOps' but with legacy services to support in the meantime). This is obviously not a trivial to implement, but it shouldn't

[2015-05-10 17:40] satnam6502 commented on #8001
@jimmidyson if the purpose of the TTL is to limit how much data we store in the plug-in plus limit the rate of API calls to apiserver then how about 1 hour?

[2015-05-10 18:06] yoanisgil commented on #8019
I was trying to setup a cluster to play around with kubernetes but I ran into this very same issue.

[2015-05-10 18:14] smarterclayton commented on #6666
So one perspective on namespaces we may want to discuss in this context (as Brian has noted in other threads) is that a namespace is a viewport through which you view a set of resources that are uniquely identified in that space by a name.

The set of namespaces you can view (across clusters) is your working set - those namespaces might be in different datacenters, different cloud providers, be ru

[2015-05-10 18:21] BenTheElder commented on #8019
From #fedora today in a conversation by yoanis and Zord:

https://bugzilla.redhat.com/show_bug.cgi?id=1220056

[2015-05-10 18:34] ddysher commented on #1319
Isn't the pain point now is that people have to have an external registry to deploy their application?  How much difference does it make between using dockerhub vs registry+CAs?   BTW, I haven't really dug into securities in k8s, so probably miss some background.

Yeah, thinking more, I also think pusing images makes more sense.  That's the deploy process that docker tries to enforce (or maybe oth

[2015-05-10 19:59] rimusz opened #8043 "WWW / UI does not work"
WWW/UI does not open on port 8001.
Any there any options need to be enabled on API Server?

[2015-05-10 20:18] preillyme commented on #8043
@rimusz I'm able to get it working with the following command: ```hack/local-up-cluster.sh``` then visiting ```http://127.0.0.1:8080/static/app/#/dashboard/``` in my web browser. I just tried it again as of commit a442918d314f4ab3de98a45512d2ef60e7939f94

What seems to be the issue that you're facing?

[2015-05-10 20:20] rimusz commented on #8043
I use CoreOS+Kubernetes, let me check via that link

[2015-05-10 20:24] rimusz commented on #8043
@preillyme cool, that works.
I think the www doc should be more clear how to use it.

[2015-05-10 20:28] yoanisgil commented on #8019
@BenTheElder I tried switching from fed20 to fed21 but that does not seem to be a one shot operation:

[code]
Looks like we're stuck until the fedora guys fix their repo.

[2015-05-10 20:29] preillyme commented on #8043
@rimusz yeah I completely agree. I'm working to make the documentation cleaner. Thanks for reporting your issue.

[2015-05-10 20:33] rimusz commented on #8043
@preillyme no worries. I will update my App https://github.com/rimusz/coreos-osx-gui-kubernetes-cluster with the new UI link, will stop using docker container for UI.

[2015-05-10 20:36] rimusz commented on #8043
so we can close this one I think

[2015-05-10 21:24] smarterclayton commented on #8007
Yes, migration has no meaning in our model. If a user wants a pod to remain on a specific node regardless of the state of the node, they either create a replication controller that sets the pod to a host, or they would tune a forgiveness policy on the pod to indicate that the pod prefers to remain on a node for a period of time after a node is unreachable.  The node controller would take that poli

[2015-05-10 22:02] BenTheElder commented on #8019
@yoanisgil Alright. I wound up kind of busy today. If someone else doesn't get to it first (I imagine they will though) I'll take a stab at getting vagrant working before tomorrow night.

[2015-05-10 23:19] preillyme commented on #8043
@rimusz Okay sounds good.

[2015-05-10 23:30] wshearn commented on #8019
My fix is this: Save the contents of this gist as ~/fedora-updates.repo https://gist.github.com/wshearn/ad2d5e133297ab3ece70

Then in ~/kubernetes/Vagrantfile on line 118 add
[code]

Then you should be able to do ./cluster/kube-up.sh

[2015-05-10 23:35] pmorie commented on #1319
@ncdc
On Sun, May 10, 2015 at 2:34 PM Deyuan Deng <notifications@github.com>
wrote:

[2015-05-10 23:44] yoanisgil commented on #8019
@wshearn Thanks! Going to give it a try and let you know.

[2015-05-10 23:59] yoanisgil commented on #8019
@wshearn after applying your fix I'm able to run ./cluster/kube-up.sh, so this will do until F20 repo is fixed.

[2015-05-11 03:23] thockin commented on #8042
Did you make your domain "foobar" ?  I think skydns expects it to have 2
tokens..

On Sun, May 10, 2015 at 10:19 AM, biswars <notifications@github.com> wrote:

[2015-05-11 06:06] arunoda opened #8048 "kube-init: Easiest way to deploy a cluster for learning"
Hi,

I recently did a [lesson](https://bulletproofmeteor.com/architecture/deploying-meteor-apps-into-a-kubernetes-cluster) on kubernetes for BulletProof Meteor. I want my users to play around with Kubernetes and learn about Kubernetes. Frankly, deploying a cluster your own is not yet easy. GKE is nice, but I want them to try using any cloud.

So, I built kube init: https://github.com/meteorhacks/k

[2015-05-11 06:29] biswars commented on #8042
The domain that I have specified is "kubernetes.local" and have removed the secret block (as it was complaining about missing tokens) in the skydns yaml file for rc. Would it cause the problem ?

[2015-05-11 07:20] a-robinson commented on #8001
@satnam6502 an hour seems really high if the point of refreshing is to pick up changes to the pod metadata. Once every 30 seconds or minute seem like more reasonable response times to changes.

[2015-05-11 07:25] jimmidyson commented on #8001
@a-robinson @satnam6502 once I get pod watching working properly it will make the TTL less (un?) important.

[2015-05-11 07:33] davidopp commented on #7051
@jszczepkowski have you had a chance to look into this yet?

[2015-05-11 07:36] davidopp commented on #7001
Should we close this issue?

[2015-05-11 08:04] davidopp commented on #4783
/subscribe

[2015-05-11 08:15] davidopp commented on #4567
#7444 and #5921 are vaguely related and both marked for 1.0

[2015-05-11 08:59] wojtek-t commented on #7561
Thanks @bprashanth - will take a look into it.

[2015-05-11 09:03] kbeecher commented on #3476
If the earlier comments of @pires and @erictune are a guide to this task (https://github.com/GoogleCloudPlatform/kubernetes/issues/3476#issuecomment-70735984 and https://github.com/GoogleCloudPlatform/kubernetes/issues/3476#issuecomment-70366955), it looks as though the only part of this task now remaining is to support multiple clusters via a `cluster_id` as part of the etcd prefix, correct?

[2015-05-11 09:10] gmarek commented on #5774
@hurf - ping?

[2015-05-11 09:15] hurf commented on #5774
@gmarek - alive, code finished and will submit soon. The change is loosen the validation as bgrant pointed out and changed a test.

[2015-05-11 09:37] pires commented on #3476
@kbeecher it seems so.

[2015-05-11 09:56] jszczepkowski commented on #7051
I'm currently working on the test which re-sizes mig for nodes (adds and removes nodes) and checks if pods are rescheduled. I should be finishing this test soon.

[2015-05-11 10:02] kbeecher commented on #3476
If so, then I guess we need to start discussing how a cluster_id is worked into the etcd prefix.

Some questions as I understand them are:

1. Is the cluster_id automatically generated or manually specified?
    1. If automatic, how to guarantee uniqueness?
1. How does the user manage clusters? (I.e. assign nodes to clusters, define new clusters etc.)

[2015-05-11 10:35] wojtek-t commented on #7815
/subscribe

[2015-05-11 11:35] pires commented on #3476
I'd go with a manual approach so that cluster IDs make sense. Any devops can script their way onwards and guarantee uniqueness.

Proposal: `kubelet --cluster_id <cluster id>`. The `kubelet` is now responsible for registering the node (right @roberthbailey?) so this would be the desirable place to put it. It also makes it easy for devops to automate it.

[2015-05-11 11:47] #7922 closed

[2015-05-11 12:24] gmarek commented on #4787
I'm looking for something not too complex to work on - is this still an issue?

[2015-05-11 12:26] gmarek commented on #5921
How it relates to #4567?

[2015-05-11 12:32] wojtek-t commented on #3338
@wojtek-t If you have data re. amount of time spent in (un)marshaling, separate from other parts of decoding/encoding (conversion, etc.), please post it here.

The example profile where json unmarshaling plays significant role is pasted below.
In this particular profile unmarshaling is ~26% of CPU usage (cpu was saturated at that time). Usually I'm observing json-marshaling consuming 15-30% of CPU

[2015-05-11 13:08] engine07 commented on #8042
example on how to deploy dns token secret withouth any secret so that service doesn't hang: https://github.com/GoogleCloudPlatform/kubernetes/issues/7359

[2015-05-11 13:36] timothysc commented on #4783
fwiw we regularly do this, but have chosen not to make it an e2e due to sec-keys and our etcd cluster resides on a different loc from our master.  We could use etcd-discovery service to make it more dynamic, but we would still have the issue of keys.

[2015-05-11 13:43] markturansky commented on #7438
@thockin I'm ready to put this to bed.  Hangout Tuesday to discuss works.  How do we best schedule it?  I think some of you have more demands on your time than I do.

[2015-05-11 13:51] markturansky commented on #7438
if any of them point back to a give PV.

Except for a PVClaim that is deleted.  volume.Status.ClaimRef might still be set on the PV, but that status is not observable by itself and cannot be rebuilt because there would be no corresponding claim.  The volume wouldn't know it requires recycling.

Perhaps this is why @smarterclayton suggested keeping PVClaim around until after the PV is recycled.  Th

[2015-05-11 14:41] derekwaynecarr commented on #8019
The Fedora repo issues appear to be resolved.  I was able to kube-up the vagrant based cluster.

[2015-05-11 14:41] #8019 closed

[2015-05-11 14:48] wojtek-t opened #8054 "SecurityContext is not copied correctly"
DeepCopy doesn't work correctly for SecurityContext - after some debugging it seems that "privileged" field is not copied correctly.

To replicate this issue:
1. patch:
https://github.com/GoogleCloudPlatform/kubernetes/compare/master...wojtek-t:deep_copy_generator
2. run:
GOPATH=$(pwd)/Godeps/_workspace:$GOPATH go test ./pkg/conversion -test.run=XXXXX -bench=Copy

DeepCopy mechanism is extremely g

[2015-05-11 14:52] Kangmo commented on #7428
I have the same problem. I followed instructions on examples/meteor/README.md on master branch, but deployed my k8s cluster with v0.16.2 tag.

[2015-05-11 15:04] fgrzadkowski commented on #7790
@timothysc We have also noticed, but couldn't find the reason. I plan to look more into it today.

[2015-05-11 15:05] fgrzadkowski commented on #3124
We already have some metrics, e.g.:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/apiserver.go#L59
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/apiserver.go#L68

And code to verify them in e2e tests:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L780

[2015-05-11 15:11] timothysc commented on #7739
fwiw I was planning on looking into https://github.com/hashicorp/hcl & https://www.terraform.io/docs/configuration/syntax.html in the post 1.0 timeframe to address some other orthogonal issues, but they related to these set of problems.

However,  I think I'm in agreement with @thockin on timeframe, because it would be difficult if we put something out-there only to deprecate it shortly after.

[2015-05-11 15:15] vmarmol commented on #4787
I believe this is complete. The restarting only happens when the pod needs to be restarted and we only restart the pod container when we actually need to. @dchen1107 is there anything you think is still missing?

[2015-05-11 15:15] thockin commented on #7922
we should not be using a generic label like "name" for this.  The "name" label has been a source of confusion for many users.  It should, at least, be "kubernetes.io/name" or soemthing more obvious.  I removed this because I had no idea it was being used, I thought it was vestigial.

[2015-05-11 15:19] pmorie commented on #7739
semantics.

IMO this is one of the worst pieces of the docker API.

On Mon, May 11, 2015 at 11:11 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2015-05-11 15:22] thockin commented on #8042
The token might cause a problem for kube2sky, but not for skydns.  Does
'docker inspect' show anything for that container?

On Sun, May 10, 2015 at 11:30 PM, biswars <notifications@github.com> wrote:

[2015-05-11 15:24] vmarmol commented on #4404
Closing this as the runtime has been introduced and is used by rkt. Some of the open questions (like image format) have other open issues.

[2015-05-11 15:24] #4404 closed

[2015-05-11 15:26] wojtek-t commented on #6800
This is mostly done - (at least at the v1.0 scope).
The only remaining thing is to update the documentation.
I will send a separate PR to fix it and close this issue later this week.

[2015-05-11 15:36] thockin commented on #3338
Am I reading this wrong, or is this indicating that 23 of that 26% is in
etcd's Unmarshalling?

On Mon, May 11, 2015 at 5:33 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-05-11 15:49] satnam6502 commented on #8001
@a-robinson OK.

[2015-05-11 15:55] vmarmol commented on #6862
The runtime abstraction is complete and rkt is using it today. A similar thing could be done with LXC.

[2015-05-11 15:56] dchen1107 commented on #4787
Yes, this is fixed due to recent refactory.

[2015-05-11 15:56] #4787 closed

[2015-05-11 16:00] thockin commented on #7438
On Mon, May 11, 2015 at 6:51 AM, Mark Turansky <notifications@github.com> wrote:

Of course.  Not sure how I let that escape.  Shame.  PV/PVC is
different from Node/Pod in this regard.

[2015-05-11 16:15] markturansky commented on #7438
@thockin does that mean the current implementation w/ bind on PV.Spec.ClaimRef is correct?  If so, I can submit a PR to remove the gate.

[2015-05-11 16:16] bgrant0607 commented on #8007
Forgiveness: #1574

[2015-05-11 16:17] #7731 closed

[2015-05-11 16:32] pmorie commented on #7958
@thockin @erictune I think there are two options here:

1.  Make separate tmpfs mounts for the pod volume dirs and pod plugin dir for secret volumes.  The pod plugin dir is what stores the files that signify that a volume has been set up.
2.  Make a single tmpfs mount for the pod, symlink the volume dirs and pod plugin dirs into this.

I'm leaning towards (1) because it's a lot simpler.  We can al

[2015-05-11 16:34] smarterclayton opened #8060 "Flake in service IP allocation test"
[code]

Introduced by #7704

[2015-05-11 16:57] #6812 closed

[2015-05-11 17:04] quinton-hoole commented on #7051
@jszczepkowski note the distinction in my comment above between "unplanned disappearance" and "planned/orderly shutdown".  I think what you're suggesting with Managed Instance Groups will test orderly shutdown"?  What we're looking for in this particular issue is "unplanned disappearance".

[2015-05-11 17:12] #8020 closed

[2015-05-11 17:14] smarterclayton commented on #3338
Deep copy is also 20.  Can we fix deep copy before we bring in the JSON parser?

[2015-05-11 17:16] guoshimin commented on #7913
Fixed in https://github.com/GoogleCloudPlatform/kubernetes/pull/8015

[2015-05-11 17:16] #7913 closed

[2015-05-11 17:24] thockin commented on #7958
option 3: make the check for ready be more than just a flag file - e.g.
test for a mountpoint and/or stat the secret file(s) ?

On Mon, May 11, 2015 at 9:32 AM, Paul Morie <notifications@github.com>
wrote:

[2015-05-11 17:35] timothysc commented on #3338
@wojtek-t post 1.0, can't we defer the unmarshaling to a protobuf shift?

[2015-05-11 17:50] mbforbes opened #8068 "kubelet can't "get" node from apiserver for up to ~2 minutes"
This makes cluster startup pretty painful and have wide variance, causing problems for monitoring and testing cluster turnup. After the kubelet can first talk to the apiserver, in can be from ~0 seconds to ~2 minutes until the kubelet can "get" its own node. Only then can it start pulling images to get pods running.

We see repeating errors for up to 2 minutes that look like:

[code]

this has, I

[2015-05-11 17:53] zmerlynn commented on #8068
When I've seen it, it's actually been fairly bimodal. Either the kubelet gets stuck for 2m doing this, or it doesn't. I actually have a dataset of cluster-up timings on GKE that show a weird pile of "fast" up timing (1:30-ish) and "slow" up timing (3:30-ish), and when I stopped and debugged one of the slow ones, it was this bug.

[2015-05-11 17:56] vishh commented on #5880
cc @dchen1107

[2015-05-11 18:02] roberthbailey commented on #8068
Self registration should help here, since the kubelet won't be waiting for the master to list nodes with the cloud provider -- it will just add itself directly. There will still be a delay before it can do anything useful, because it will need to wait for the master to assign it a CIDR and then reconfigure the local docker bridge, but that should be fairly quick and (hopefully) have low variance.

[2015-05-11 18:10] nikhiljindal commented on #8048
cc @bgrant0607 @brendandburns

[2015-05-11 18:12] dchen1107 commented on #8068
@zmerlynn When you mentioned this bug, which bug are you referring to? Literally #8068?

Agreed with @roberthbailey that self registration should help here.

[2015-05-11 18:14] aronchick commented on #7968
Description actually did work great - i just wasn't aware of it. The
biggest problem is that my term is too narrow and wrapped the error message
so i didn't see it. Obviously PEBCAK, but it might be interesting to
explore a more compact default status layout so that people don't miss the
important stuff.

On Fri, May 8, 2015 at 1:34 PM, Dawn Chen <notifications@github.com> wrote:

[2015-05-11 18:15] zmerlynn commented on #8068
Yeah, I mean this one. It just look like it sat there for 2m waiting in "not found".

FWIW, my data was "anecdotally bimodal". It's probably a little more skewed than just 2m or not. But this is actually now the largest variance in cluster creation time. (And that's taking into account everything in GCE, startup scripts, etc.)

[2015-05-11 18:17] timothysc commented on #3124
+1 to @fgrzadkowski , we're already gathering and plotting.

Are there other metrics that folks are interested in?

[2015-05-11 18:22] caesarxuchao opened #8070 "need help with examples/iscsi"
Hi @rootfs, I'm trying to update the examples/iscsi to v1beta3. I'm having trouble install iscsitarget-dkms on Debian node of my kubernetes cluster. I've tried various versions of iscsitarget-dkms but none of them works. Could you let me know if there is any workaround, or could you validate the iscsi.json in the v1beta3 folder on your cluster so that we can merge it? Thank you.

@nikhiljindal

[2015-05-11 18:26] sym3tri commented on #7018
- More filtering options for Events (e.g. by start & end timestamps, by resource id, by event type)
- Ability to Watch more than one resource type (https://github.com/GoogleCloudPlatform/kubernetes/issues/1685)
- Swagger Sepc: Fix all descriptions (specifically incorrect enum names), erroneous `required` param values, etc.
- Allow deep field selectors, e.g. for events: `source.host=xxx` (this may

[2015-05-11 18:27] rootfs commented on #8070
what was the error you got on the node? you probably needs to install iscsi initiator on your node (not iscsi target, which lives out of kube). A reference can be found here http://www.server-world.info/en/note?os=Debian_7.0&p=iscsi&f=2

I haven't tried debian, my test was on fedora 21.

[2015-05-11 18:29] bgrant0607 commented on #7018
Field selectors is #1362

[2015-05-11 18:30] rootfs commented on #8070
@jsafrane

[2015-05-11 18:30] wojtek-t commented on #3338
Am I reading this wrong, or is this indicating that 23 of that 26% is in
etcd's Unmarshalling?

It seems to be.

Deep copy is also 20. Can we fix deep copy before we bring in the JSON parser?

Sure - I already started looking into - I hope to have something working later this week.

@wojtek-t post 1.0, can't we defer the unmarshaling to a protobuf shift?

I'm fine with that. As I wrote above, I wi

[2015-05-11 18:39] caesarxuchao commented on #8070
Thank you @rootfs. I am following the server-world reference. I have tried to install several versions of iscsitarget:
[code]
None of them can be made successfully. The error I got for iscsitarget-dkms_1.4.20.3+svn499-0ubuntu2_all.deb is
[code]

This is the 'uname -a' of my node:
[code]

[2015-05-11 18:54] ArtfulCoder commented on #7001
@derekwaynecarr did you see this issue again ?
If not, maybe we should close it and reopen if required ?
I could not reproduce this.

[2015-05-11 18:57] rootfs commented on #8070
This error looks a kernel mismatch. Debian site suggests latest is [svn502](https://packages.debian.org/stable/kernel/iscsitarget-dkms).

I personally haven't tested this iscsi target, I used [Linux SCSI target](http://linux-iscsi.org/wiki/Targetcli), but debian doesn't seem to support it.

Back to my first question, do you have to install iscsi target (instead of initiator) on your debian node? S

[2015-05-11 18:59] rootfs commented on #8070
there is yet another iscsi target you can try on debian
https://packages.debian.org/jessie/tgt

[2015-05-11 19:16] daniel-middleton commented on #6862
Brilliant, good work. For anyone following up on LXC/LXD support, please head over here: https://groups.google.com/forum/#!topic/google-containers/aWZ0U_SIA6A

[2015-05-11 19:45] brendandburns commented on #7598
@bgrant0607 I believe that this specific issue is fixed by #7919 I'm going to close it, we can discuss the defaulting elsewhere.

fwiw, making it optional for parsing requests is useful too in case you have skew between client version and server version.

Also, we should likely have a send the raw data we read, rather than re-encoding the object for transmittal, option.

[2015-05-11 19:45] #7598 closed

[2015-05-11 19:54] caesarxuchao commented on #8070
Thanks. I see. I guess I can create another node running Fedora and run iscsi target there, then I only need iscsi initiator on the debian node, right?

[2015-05-11 20:02] rootfs commented on #8070
yes, that'll make life easier

[2015-05-11 20:04] pmorie commented on #7958
that works @thockin

[2015-05-11 20:11] bgrant0607 commented on #8054
cc @smarterclayton @pweil-

[2015-05-11 20:12] yujuhong commented on #7250
@TomasTomecek, were you able to verify the fix?

[2015-05-11 20:13] yujuhong commented on #7807
We've decided to let individual container runtime implements image management and container GC due to the drastic difference of abstraction in rkt and docker. Closing this issue.

[2015-05-11 20:13] #7807 closed

[2015-05-11 20:15] pweil- commented on #8054
will debug.  Thanks for the patch to help

[2015-05-11 20:16] lavalamp commented on #8054
The problem (and it's not isolated to SecurityContext, I think) is that we actually use *bool as a ternary field (not present, true, false) and gob encode/decode doesn't differentiate between nil and false (likewise 0 and nil for the *int64).

Kris, would you like to take this? Look at the blame history on the deep_copy.go file to see the history (summary: we're using gob for performance reasons).

[2015-05-11 20:17] lavalamp commented on #8054
Or @pweil- if you want to take this, that's fine too.

[2015-05-11 20:25] yujuhong commented on #7968
@aronchick, kubelet does the best effort reporting of failure reasons at a glance. The recent change in #7981 added support for surfacing image pulling failures.
E.g.,
[code]
Would this help you notice the failure?

[2015-05-11 20:26] lavalamp commented on #7222
#7668 was merged, this should be fixed.

[2015-05-11 20:26] #7222 closed

[2015-05-11 20:29] davidopp commented on #7001
Please reopen if still an issue.

[2015-05-11 20:29] #7001 closed

[2015-05-11 20:40] smarterclayton commented on #8054
Also be aware @wojtek-t was looking at generating deep copy correctly.  A quick workaround would probably be acceptable.

----- Original Message -----

[2015-05-11 20:41] timothysc commented on #7790
@fgrzadkowski just as a note of color, but we used the same technique outlined in https://github.com/GoogleCloudPlatform/kubernetes/pull/7573 to track and uncover the regression.

[2015-05-11 20:41] davidopp commented on #3135
@roberthbailey and @zmerlynn will file more detailed issues for this (and mark them as 1.0).

[2015-05-11 20:44] davidopp commented on #5475
@bgrant0607 says this can be subdivided and farmed out.

[2015-05-11 20:47] davidopp commented on #4135
@dchen1107 will update the status.

[2015-05-11 20:48] davidopp commented on #3936
No specific work items left, so closing this issue.

[2015-05-11 20:48] #3936 closed

[2015-05-11 20:52] roberthbailey opened #8074 "Remove compute-rw scope from GCE nodes"
AFAIK this is currently necessary only for mounting GCE PDs onto a kubelet. If we moved the PD mounting from the kubelet to the master then we could drop this scope from the node VMs.

[2015-05-11 20:56] rjnagal commented on #4135
status: I have a working PR. During testing, we found an issue with free capacity being used in kubelet. I'll send out the OOD PR and the capacity fix today.

[2015-05-11 20:56] bkeroackdsc commented on #8012
@mikedanese I am running release version 0.15.0

I modified the kube-kublet unit as specified, restarted and at first did not get any dockercfg messages in the logs. I then manually removed and deleted all containers and images with the docker client locally on the minion and restarted kublet--I saw a msg saying something to the effect of "new credentials registered from .dockercfg".

Now image pu

[2015-05-11 20:56] #8012 closed

[2015-05-11 21:01] timothysc commented on #7856
+1

[2015-05-11 21:05] yujuhong commented on #7960
@aronchick, "pending" means that kubelet is still trying to achieve the desired state -- it's retrying repeatedly to pull the image. In the cases where kubelet is certain that it's *not* going to be able run the pod, it would outright set the state of the pod to "failed". Examples are host port conflict or insufficient capacity.

I agree that "pending" may be a bit confusing at times, but unless k

[2015-05-11 21:09] #7788 closed

[2015-05-11 21:16] saad-ali commented on #5638
Closing with PR #7751 - Enable GCM and GCL instead of InfluxDB on GCE

[2015-05-11 21:16] #5638 closed

[2015-05-11 21:21] davidopp commented on #6981
@dchen1107 says it's not possible to export Prometheus metrics from master components to Heapster because master is not registered as a node. (for example, the metrics discussed in #1625)

Dawn, can you give more details of what the problem is?

[2015-05-11 21:28] bprashanth opened #8075 "Allow clean restart of event broadcaster"
Would be nice if we could send a stop signal down the watch interface (eg: while restarting a controller) and have the event broadcaster/event handler shutdown as well. This doesn't currently happen because the event handler keeps retrying:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/record/event.go#L106

We only restart controllers (without restarting the entire proce

[2015-05-11 21:29] saad-ali commented on #8014
Looks like `kubernetes-e2e-gce` ran in to this on Monday, May 11, 2015 around 1:00 PM PST.

I'll assign this to my self and take a crack at fixing it.

[2015-05-11 21:58] caesarxuchao commented on #8070
Hi @rootfs, I'm able to start the iscsitarget on a node running ubuntu 12.04. I can log in to the target and show the session using iscsiadm. But when I try to create the pod, it's never deployed, I got a "Image: kubernetes/pause is not ready on the node" message.

Here is some information may help the dubugging.
* I noticed that after I created the pod, the iscsiadm on the initiator node did crea

[2015-05-11 22:05] aronchick commented on #7968
This is perfect, but my biggest issue is that I'm on a 80 character screen, and stuff gets wrapped and is tough to read. Not sure what the solution there is, but maybe intelligent wrapping? Here's how it looks on my screen - why are there two lines for one container?
[code]

[2015-05-11 22:15] lavalamp commented on #5921
@gmarek this is a prereq for #4567.

[2015-05-11 22:20] krousey commented on #8054
It is definitely gob not differentiating between nil and false. This is unfortunate. The "quick" workaround might have to be writing a custom encoder/decoder for SecurityContext.

[2015-05-11 22:24] dchen1107 commented on #7968
@aronchick The first line is for pod, and the following lines with empty first two columns are for containers. We are talking about what is the best way to represent those information to the end users.
cc/ @brendandburns and @bgrant0607

Besides output layout, any other improvements we could do for you? Thanks!

[2015-05-11 22:26] lavalamp commented on #7777
I think this issue is subsumed by #5921.

[2015-05-11 22:26] #7777 closed

[2015-05-11 22:31] yujuhong commented on #6641
Somewhat related to this issue: #7301 filtered out terminated pods in SyncPods so that kubelet doesn't try to sync them, which involves examining dead containers. Kubelet would still watching all pods (including the terminated ones) though.

[2015-05-11 22:32] brendandburns commented on #7444
So this issue mentions #7343, but I think it actually requires https://github.com/GoogleCloudPlatform/kubernetes/pull/7101 to be merged...

[2015-05-11 22:34] yujuhong commented on #7968
As @dchen1107 said, the first line is the pod, and the subsequent lines (without pod names) are containers. We format it this way so that the container lines can reuse the columns (e.g. STATUS, CREATED, MESSAGE).

FYI, the "kubectl output is too wide" issue is #7843.

[2015-05-11 22:35] liggitt commented on #7444
7101 is in (final?) review, and comments are slowing down. I may have just worn people down, but I'm optimistic the first pass is getting close

[2015-05-11 22:50] roberthbailey opened #8081 "Master upgrade test harness"
Forked from #3135.

For testing master upgrades, we will need a test harness that:

1. Launches a cluster at some known version (e.g. latest release)
1. Runs some amount of work on the cluster
  * Running e2es would be ok, but e2e tests tend to try and clean up after themselves and therefore a test that is better suited would be one that keeps running during the upgrade
1. Upgrade the master to a

[2015-05-11 22:54] roberthbailey opened #8082 "Master upgrade cluster test"
Forked from #3135.

Step 2 of #8081 is to "Run some amount of work on the cluster". We need a test driver that exercises the cluster before (and possibly during and after) an upgrade.

#3139 may be sufficient and @satnam6502 had some ideas of how to stress out a cluster as well.

[2015-05-11 22:55] roberthbailey commented on #3135
Split into #80801 and #8082.

[2015-05-11 22:55] #3135 closed

[2015-05-11 22:55] dchen1107 commented on #6981
Because master node is not registered to the cluster (the blocker issue is GKE ...) as part of nodelist... We have an issue open for this.

[2015-05-11 22:56] thockin commented on #6666
A couple things to keep this moving forward.

1) I propose to convert namespaces to DNS labels (no dots) while we sort
out what to do

2) Re-evaluate namespaces as subdomains when ready

3) Evaluate feasibility of changing all top-level objects to DNS labels
before 1.0 (may not fly)

4) I am not concinved that embedding cluster into the namespace name (if I
understand) is the right way to handle m

[2015-05-11 22:57] satnam6502 commented on #8081
I volunteer a workload based on Elasticsearch.

[2015-05-11 23:04] roberthbailey commented on #8081
I forked #8082 to discuss the workload part. This one is for the harness (Jenkins?) itself. Feel free to assign #8082 to yourself.

[2015-05-11 23:04] opaugam commented on #7698
Mh i think i'm going to wait for #7101 to land instead. Sounds more like the way it should be.

[2015-05-11 23:10] smarterclayton commented on #6666
----- Original Message -----

Agreed

Agreed

Pods being the risky one

I'm not convinced either.

[2015-05-11 23:13] lavalamp commented on #7698
You should be using the env vars KUBERNETES_RO_SERVICE_HOST and KUBERNETES_RO_SERVICE_PORT, not the ip address directly-- IP address is not guaranteed to be that in every cluster.

But we're deprecating that, anyway-- you already found #7101; also see #5921.

(closing because the other issues mentioned cover this)

[2015-05-11 23:13] #7698 closed

[2015-05-11 23:15] caesarxuchao commented on #7843
Hi @smarterclayton , could you elaborate on the issues with the width detection? Dynamic width sounds decent to me.

[2015-05-11 23:19] yujuhong commented on #6651
The PR above disables the static pod test temporarily so that we can track down the root cause without spamming people with the failures. Note that other tests in the same file (integration.go) may still trigger the flaky failure, though less frequently.

[2015-05-11 23:21] bprashanth opened #8086 "Spec out expected list latencies for density test"
This appears to be the main cause of failure in our scalability tests:

[code]

Claiming that 16 and 23s respectively are too long to list 3000 pods from 100 nodes. I don't think this is cause for alarm:
* The test shouldn't fail based on tail latency
* 20ish seconds is normal for the kubelet list, it can be improved to ~14 ish, but that shouldn't effect the stability of the cluster

I wrote a ben

[2015-05-11 23:21] krousey opened #8087 "Remove v1beta1 and v1beta2 api from the codebase, docs, and gh_pages"
As part of migrating everything to an official v1 api, we should remove the earlier versions from the code base and documentation on kubernetes.io

As part of this, I'm going to remove all the v1beta1 and v1beta2 specific code and test cases. I'm also going to update the scripts to stop generating swagger specs for them.

@bgrant0607 @nikhiljindal, any other tasks that I most likely missed?

[2015-05-11 23:22] dchen1107 commented on #6981
#6428 it is ...

[2015-05-11 23:31] bprashanth commented on #7561
The main cause of failure remains the slow list. See: https://github.com/GoogleCloudPlatform/kubernetes/issues/8086.

@fgrzadkowski do you think listing is the bottleneck right now? (I'm not 100% convinced, but you have more experience in this area). If so, there might be 2 things we can do:

1. I got the latency down from 20ish -> 13ish for the 3000x100 case (raw etcd list was 11ish) by not doing

[2015-05-11 23:38] bgrant0607 commented on #6666
I'm fine with changing namespaces to DNS labels. Not as many users are using namespaces, and there's a strong reason for the change.

Cluster shouldn't go in the namespace names.

I'm much less convinced we should change all other objects. That would definitely break some users, and I believe some of our own examples/configs. I'm concerned about the length restriction as much as dots.

[2015-05-11 23:39] krousey commented on #8054
So I've looked at all the uses of the Privileged field in 875e83a7415a8fff5d3fa4645b93551f96b12c89, and it seems the only trickiness comes in when dealing/validating with the deprecated Privileged field on the container.

SecurityContext itself is already optional (a pointer). Is there any reason that this bool should also be a pointer? If we could change it to not be one, that would both fix this

[2015-05-11 23:39] lavalamp commented on #8086
Our scalability issue actually is phrased in terms of tail latency, and requires 99% return < 1 second IIRC.

These lists should really be paged/indexed. I was hoping we could defer that until after 1.0.

[2015-05-11 23:41] bgrant0607 commented on #8087
Delete LegacyHostIP

[2015-05-11 23:42] bgrant0607 commented on #8087
Stop running v1beta1 tests on shippable/travis

[2015-05-11 23:56] vishh commented on #6666
Summary: Namespaces will no longer be allowed to have "." characters. The next release of kubernetes will disallow creating namespaces with '.' characters. This change will be communicated to users via 'kubernetes-announce@' and 'kubernetes-dev@' shortly.

[2015-05-11 23:59] bprashanth commented on #8086
yeah, that doesn't care about the 99% right? so why is the test failing? I get your point though, so essentially you're saying we should not only keep this in, but lower the threshold to 1s. We have work to do :)

since we know list is slow, can we get density to focus on cluster stability at 3000 pods? It would be nice to have it break and tell me something I don't know.

[2015-05-12 00:03] lavalamp commented on #7444
@brendanburns This overlaps a lot with #5921-- I'm working on the ```Add a "readonly-user"``` step, so chat at me before you start working on it.

[2015-05-12 00:08] #4640 closed

[2015-05-12 00:12] sym3tri commented on #7018
Also in the watch APIs...

A *resourceVersion* can be provided to watch from, which is great. Each object in the stream has a *resourceVersion*, but with lists of resources there's no way to know what version the list watcher is currently on. So if my websocket gets disconnected I may want to auto-reconnect and watch from the last received *resourceVersion* (of the list itself, not the objects wit

[2015-05-12 00:14] lavalamp commented on #8087
@nikhiljindal has a change in progress for this-- he needed it for the upgrade script.

[2015-05-12 00:18] davidopp commented on #8087
/subscribe

[2015-05-12 00:22] lavalamp commented on #8086
Right, but if you do < 100 requests, even a single slow one violates.

But yeah it's totally reasonable to make it print the histogram or something and not fail until we believe we're actually hitting the goals.

[2015-05-12 00:24] smarterclayton commented on #7843
Mostly around windows, as well as ensuring automatic tools on a wide variety of platforms aren't impacted (detecting a tty, which we have code for, plus getting terminal width in a sane way).

If we can prioritize our columns anyway, it makes dynamic width useful without being required (you still want your most important columns in the first 100chars).  We can also exec a pager if necessary for la

[2015-05-12 00:40] derekwaynecarr commented on #7018
Given the TTL limits on events, do we need to promote as much in the Api for filtering for v1?  Is the filtering to support a specific describer?

Sent from my iPhone

[2015-05-12 01:04] derekwaynecarr commented on #6666
I am good with a namespace name being a DNS label as well.

Sent from my iPhone

[2015-05-12 01:06] bprashanth commented on #8086
Ah, so it looks like giving etcd as many cores as it needs definitely helps which clears out my confusion, so I'm closing this as WAI, because that 99%ile failure looks like actual cause for concern now.

[2015-05-12 01:06] #8086 closed

[2015-05-12 01:09] quinton-hoole commented on #8014
This is causing most of our e2e tests to fail in continuous integration as well as users private e2e test clusters.  Bumping to priority/p0 and v1.0 milestone.

Saad thinks he's figured it out, and is working on a fix as we speak.

[2015-05-12 01:10] quinton-hoole commented on #8014
In essence...

Saad: "I think what's happening is the previous clean up step to delete the managed instance group happens asynchronously, therefore, and there is a race condition to delete the template.  Working on a fix".

[2015-05-12 01:20] ixdy opened #8091 "k8petstore e2e test consistently timing out on GCE Jenkins"
The k8petstore test appears to be consistently timing out on our GCE Jenkins build.

It just went in today with #7639. We may want to revert it.
cc @quinton-hoole @jayunit100 @brendandburns

[code]

[2015-05-12 01:21] quinton-hoole commented on #7843
Somehow my email response to this got lost, so here it is again:

========

For what it's worth I agree with @smarterclayton, and we should perhaps start simple with e.g. just two options

--short  which fits in ~100 characters, and is the default
--long which outputs "everything" (a.k.a. what we do today)

Q

[2015-05-12 01:23] jayunit100 commented on #8091
hi ! Just saw this.   Any idea why its timing out ?

[2015-05-12 01:26] ixdy commented on #8091
Where does the `165.201.92.15` address come from? That isn't a private IP block, so it seems unsuitable for use in tests...

[2015-05-12 01:27] jayunit100 commented on #8091
What would be the best way to implement the PublicIP  so that it passes  E2Es on these clusters ?

[2015-05-12 01:28] bprashanth commented on #7860
Fixed with the pr

[2015-05-12 01:28] #7860 closed

[2015-05-12 01:30] ddysher commented on #4958
@nikhiljindal Is proxy still supported in v1beta3?  I vaguely remember that we wanted to remove it.

I tried this: `https://ip/api/v1beta3/proxy/namespace/default/services/monitoring-grafana/` but got NotFound error.

[2015-05-12 01:37] satnam6502 commented on #4958
Access to cluster-level logging components depends on the proxy so avoid making ELBs.
Elasticsearch and Kibana are accessed via the v1beta3 service proxy.

[2015-05-12 01:38] satnam6502 commented on #4958
Although the trailing slashes are no longer required.
[code]

[2015-05-12 01:38] #4958 closed

[2015-05-12 01:38] rljohnsn opened #8094 "download of kube-register producing empty file"
https://github.com/kelseyhightower/kube-register/issues/19

[2015-05-12 02:11] smarterclayton commented on #6666
On the topic of default suffix, I think "*.cluster.local" is strictly superior to kubernetes.local.  It properly identifies scope (a cluster), is generally descriptive (the local clusters DNS scope). We may not make it required, but it's a nice generic domain, and it has the advantage of separating remote DNS entries injected into the local environment in the future (which one is my cluster?  Oh,

[2015-05-12 02:24] pweil- commented on #8054
@krousey - that's exactly what I was thinking and probably the best route.   We lose the ability to know which way to merge if someone submits both Container.SecurityContext.Privileged and Container.Privileged in defaults.go but I think in that case if either are true then we should set both to true and let the validation and kubelet's check kill the request if privileged containers are not allowe

[2015-05-12 02:37] andrew-jones commented on #6570
@tanmaybinaykiya how did you fix this?  I have a similar issue.

[2015-05-12 03:00] smarterclayton opened #8100 "Disable timestamps by default from Docker logs, or make them opt-in"
Timestamps in docker logs are nice... except when containers are running in a way that already outputs log timestamps.

It would be better to make timestamps opt in.  Need to get the rocket container interface aligned as well - I don't believe the journal will output in the same format as docker logs, so even if timestamps are optional we should probably still see if we can align them.

[2015-05-12 03:59] bgrant0607 commented on #8054
Do other pointers have the same problem? For example, what about TerminationGracePeriodSeconds?

[2015-05-12 04:33] #4824 closed

[2015-05-12 04:54] lavalamp commented on #8054
I would expect all of the pointers of (simple) types to have this problem and I'm surprised by @pweil-'s post above that the int64 works.

[2015-05-12 05:08] caesarxuchao commented on #7843
Thanks for the inputs. I think it is a consensus that we need two output modes: the human readable mode and the full mode (a.k.a. what we do today). The human readable shall be the default.

One open question: for the human readable mode, shall we use multiline output or use truncation (e.g., use '...' replace middle secion as @quinton-hoole suggested)?

[2015-05-12 05:16] onorua opened #8102 "kubelet --docker key doesn't have effect on all requests to docker"
When I've changed the docker socket for kubelet, it seem to be working from the glance view, but it actually opens /var/run/docker.sock for most of requests.
The only way to make it working properly was to change docker socket to /var/run/real_docker.sock and put my wrapper into /var/run/docker.sock.
Following strace output (download that 'image' and rename to txt or just open with plaintext edito

[2015-05-12 05:21] roberthbailey commented on #8091
@jayunit100 You can use the external load balancer to ask the gce cloud provider for a public ip. That is what we do in the existing e2e tests (e.g. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/service.go#L285).

[2015-05-12 05:26] roberthbailey opened #8103 "Show output while validating the cluster (in kube-up)"
Since #8005 was merged, running `./cluster/kube-up.sh` is really quiet while calling validate-cluster (previously you could see each time it called kubectl to check the master components or get the nodes). It would be nice to print some output (like the dots you see while waiting for the API to be reachable) so that you know the script is still doing something and isn't stuck.

/cc @lavalamp

[2015-05-12 05:49] davidopp commented on #8082
@piosz do you think your workload generator would be suitable for this?

[2015-05-12 06:03] thockin commented on #6666
Do you envision *.xy.cluster.local, where xy is a cluster name or do you
think .cluster.local is a fill-in for .xy.local?

I'm fine with s/kubernetes/cluster - since we'll be eventually breaking
people who use full-name queries anyway by introducing a level of nesting,
we might as well break things now.

On Mon, May 11, 2015 at 7:11 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-05-12 06:09] thockin commented on #7438
Spoke with Brian, he agreed with my feeling.  Binding should be posted to
the less-durable object, referencing the more-durable object (bind pod to
node, bind PVC to PV).  The fact that PV's ClaimRef needs to be more
durable than Status allows just means that it should be in Spec.  Yes, the
bi-di refs are both in spec on their respective objects.

Workable?  Or did I miss something?

On Mon, May 1

[2015-05-12 06:12] thockin commented on #7986
I am not understanding what busybox has to do with volume plugins.  What am
I missing?

On Fri, May 8, 2015 at 12:45 PM, Paul Morie <notifications@github.com>
wrote:

[2015-05-12 06:14] thockin commented on #7972
I am guilty of no such crime :)  I just moved it around, so my fingerprints
are on it.

And I have no insight to offer except to debug harder.

On Fri, May 8, 2015 at 2:36 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-05-12 06:59] erictune commented on #5921
@lavalamp @cjcullen

"Readonly" isn't actually a particularly useful protection since you can read a secret that contains a credential for accessing in a readwrite fashion.

So, I suggest that we deprecate the readonly port, and just use the per-namespace default service account (#7101) as the way to access the apiserver in all examples and contribs.   We can leave it unspecified what permissions

[2015-05-12 07:06] jsafrane commented on #8070
Kubernetes expect that there is a filesystem on the device. It won't create one for you. You should call mkfs.ext4 on the device either on the iscsi target or the initatior.

[2015-05-12 07:07] piosz commented on #8082
I think so. Once I'll finish load test I'll try to extract load generating part from it.

[2015-05-12 07:11] roberthbailey opened #8107 "Make cluster add-ons work when upgrading the master"
Define who owns cluster add-ons (the actor updating the master or the cluster admin, assuming they are different) and what should happen to them when the master is upgraded:

Should we replace the DNS pods with new ones? Leave the old ones running and document for users how to update them?

We certainly don't want 2 sets of them running (or to ignore an error trying to start a second set if our in

[2015-05-12 07:15] davidopp commented on #8082
Great. Assigning this issue to you.

(Satnam, feel free to also contribute your workload generator to this.)

[2015-05-12 07:17] erictune commented on #7979
I created `token-system-logging` with the hope that it would be used for elasticsearch.   So I am a little sad that #7988 used `token-admin`.  :crying_cat_face:

[2015-05-12 07:20] davidopp commented on #8107
@satnam6502 would you be interested in working on this?

[2015-05-12 07:21] caesarxuchao commented on #8070
@jsafrane Thanks. That makes sense.

[2015-05-12 07:27] erictune commented on #7954
try copying the dockercfg to `/.dockercfg`.

On Fri, May 8, 2015 at 7:30 AM, Tim H <notifications@github.com> wrote:

[2015-05-12 07:45] WIZARD-CXY commented on #6704
@thockin I am the maintainer of k8s deployment of ubuntu.I have already include dns deployment with v0.15.0.Once this pr is merged https://github.com/GoogleCloudPlatform/kubernetes/pull/8047, the dns should work well with v0.15.0 k8s. Since the higher k8s version need dns token to successfully deploy dns service,and as far as I know only gce/gke can use saltstack to do this now, I am working on it

[2015-05-12 08:37] jimmidyson commented on #7647
Having separate secret entries for token, CA cert, etc rather than a kubeconfig file would be easier to use without having to create kubeconfig parsers in multiple languages, etc.

[2015-05-12 08:48] kjiwa commented on #6900
You can resolve this issue on Fedora 21 by installing the "vagrant-libvirt" package.

[2015-05-12 10:55] biswars commented on #8042
Docker inspect for the exited containers is as follows. It shows the exit error code as "2".
Note: I don't get any issue in kube2sky container.

core@core-02 ~ $ sudo docker inspect d70f4ee6e480
[{
    "AppArmorProfile": "",
    "Args": [
        "-machines=http://localhost:4001",
        "-addr=0.0.0.0:53",
        "-domain=kubernetes.local"
    ],
    "Config": {
        "AttachStderr": false,

[2015-05-12 11:08] kazegusuri opened #8109 "examples for RC with PodTemplate ref"
PodTemplate is now available as a resource type, and [it seems to be able to use in RC](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L895-L896). But there are no examples, and [Template is validated as required field](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L1097). Still need more work?

[2015-05-12 12:30] smarterclayton commented on #8054
Is it an interaction with omitempty or is that json only?

[2015-05-12 12:30] markturansky commented on #7438
Workable and requires rework of #7529.

The change from two weeks ago is to keep pv.Spec.ClaimRef as opposed to changing it to pv.Status.ClaimRef.

I'll work through #7529 today.

[2015-05-12 12:43] ghostshark commented on #6570
@tanmaybinaykiya @andrew-jones Same problem.

[2015-05-12 13:10] pamatteo commented on #7954
I tried to copy `.dockercfg` in the root directoy but the `kubelet` still does not use any credential when pulling images.
I looked at the logs of the `kubelet` and it seems that it uses as root directory `/var/lib/kubelet` so I guess it would look there for a possible `.dockercfg` file.

[2015-05-12 13:29] pweil- commented on #8054
Actually, yes, I believe so.  I was writing a test case to double check my assertion above which I now retract.  It appears to not handle default values for the pointer types nicely:

[code]

which fails on the defaults test case with

[code]

[2015-05-12 13:56] jayunit100 commented on #8091
Hi @roberthbailey .  Well - in this case, I actually *want* to test PublicIP *without* GCE, i.e. i want to ensure PublicIPs work on their own so that the test is cross platform.   Any good non-gce  ways to do this ?

One hackish way is to use the system to get the IP address of the host that the test is running on.  But that seems very ugly.

[2015-05-12 14:11] deads2k opened #8112 "pods/exec should not be a "get""
"pods/exec" should not use a "get" verb, it should use a "post".  That would more effectively communicate what it's doing (I'm creating an exec on a pod) and it eliminates weirdness with policy granting permission to perform "readonly" operations allowing "pods/exec"

[2015-05-12 14:12] ae6rt commented on #7018
Sorry if this observation is too small for inclusion here, or if this is by design, but should the name of the JSON node for the field Conditions in PodStatus here

https://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/api/v1beta3#PodStatus

be named "condition" and not "Condition".   I found the uppercase Condition to be surprising, as other nodes tend to have lowercase names.

[2015-05-12 14:22] smarterclayton commented on #6758
@pweil- does the absence of this feature make liveness probes unpredictable to end users in a way that makes them unusable? Or is it merely the cause of some flakiness?

[2015-05-12 14:30] eparis commented on #8091
So a completely randomly picked publicIP should function INSIDE the cluster. If the source of your traffic is running the kube-proxy and the proxy has network connectivity to the pods in question. Inside the kube cluster it is IRRELEVANT if the publicIP exists. (It is handled in the code exactly the same as the portal_net IP)

Is there some way to reproduce this problem outside of e2e to debug?

I

[2015-05-12 14:32] eparis commented on #8091
(obviously randomly picking a publicIP which is not assigned to a real computer running the kube-proxy and with network access to your pods will not just magically make it work from outside of the cluster, but that's not the case here)

[2015-05-12 14:35] pweil- commented on #6758
@smarterclayton - just flaky IMO.  The delay setting can be used to work around it for now.

[2015-05-12 14:36] smarterclayton commented on #8112
@ncdc may know if we *can't* use POST, but the initial problems we considered were that some proxies may not be able to handle HTTP connection upgrade for non GET requests.  According to the HTTP spec upgrade is in theory allowed on any method, but it's likely proxy implementors may have made mistakes.

We should test with HAProxy and other connection-upgrade aware proxies and verify we can POST.

[2015-05-12 14:38] zmerlynn opened #8113 ""Events should be sent by kubelets and the scheduler about pods scheduling and running" flaky on GKE 0.17.0"
Still early in diagnosis, but soon after cutting 0.17.0, our early internal testing show this test as flaking. It's pretty bizarre, though, given the test isn't flaking on GCE, or even the continuous integration runs on GKE.

[2015-05-12 14:40] zmerlynn commented on #8113
cc @roberthbailey @a-robinson @quinton-hoole

[2015-05-12 14:49] timothysc commented on #8091
The PublicIP is slightly orthogonal to the original goal of network saturation.  Also, one might argue that the network load should be slightly worse when routed through the apiserver.

I don't really have strong opinions on the matter, but I wouldn't block progress on this test for PublicIP. As we can, and probably should have a separate test for it.

[2015-05-12 14:50] justinsb opened #8114 "Salt error (AWS?): container_bridge.ensure was not found"
I saw this error in `/var/log/salt/minion` on the master after a failed cluster start:

[code]

I'm looking into this, but I want to create a tracking issue as I think some other people may be hitting this.

[2015-05-12 15:02] justinsb commented on #6570
If the master is not starting on AWS, I think it would probably be easiest if you opened a new issue with the output.  Unless the output is actually exactly the same!

I think the original problem here was that your local SSH key must match the key named "kubernetes" in AWS.  We don't check they are the same - I probably should, but I don't yet, but if there are lots of people hitting the problem

[2015-05-12 15:07] jayunit100 commented on #8091
Happy to use service endpoint directly.
fyi all load is generated by service anyways.
external ip is just for polling .
I'll move to use service endpoint if that works thanks for the feedback.

Meanwhile we can work on a public ip e2e which verifies eparis thoughts on this matter which I also was expecting to be the case and have observed

[2015-05-12 15:23] abonas opened #8115 "REST api - plural form for endpoint entity kind"
This is inconsistent with other entities which use a singular form for the kind field.
Please see here:
https://github.com/abonas/kubeclient/issues/81

Can this be fixed on server side so all clients won't have to do special case handling?

[2015-05-12 15:25] thockin commented on #8115
Yes, Endpoints objects are a set of individual IP endpoints.  It's perhaps
an unfortunate name in the hidden double-pluralness - technically the REST
path should be "endpointses" I guess, but I don't think we're going to do
that.

I'd MAYBE be open to a better name, but that is a post-1.0 change, at
earliest.

As for defining endpoints for external services, we toyed with embedding an
Endpoints in

[2015-05-12 15:27] jimmidyson opened #8116 "Add validation constraints to API struct tags"
Right now the validation constraints on API resources are in comments. Adding these into tags would make validation more generic in code, but also would allow easier generation & publication of a JSON schema for comsumption in other languages.

A bit of background, we produce a JSON schema & Java POJOs in fabric8 at https://github.com/fabric8io/origin-schema-generator/. Right now adding in validat

[2015-05-12 15:37] zmerlynn commented on #8114
It's trying to bring up `cbr0` and failing: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L39

The weird thing is that neither that file nor the `_states` file have been modified that recently: https://github.com/GoogleCloudPlatform/kubernetes/commits/master/cluster/saltbase/salt/_states/container_bridge.py

[2015-05-12 15:40] zmerlynn commented on #8113
So far, I've tried reproing this on a bare cluster 100 times, no joy. Now I'm trying up/test/down, no immediate joy (but it's a flake). If I get to the point of testing up/e2e/down, I might as well call it "Jenkins" and be done with it, but I guess it's time to start looking through logs instead.

(As for the P0, trying to figure out if we need a cherry-pick, or if we let the flake proceed on in t

[2015-05-12 15:42] justinsb commented on #8114
Yes, to me it looks like salt just isn't finding the plugin.  The last change did add `/usr/bin/env python`, but I've seen this succeed recently as well (http://kubernetes-dashboard.meteor.com/).

I'm going to try this a few times, to try to figure out whether it is failing every time or not.  My guess is that it is failing semi-randomly, so it isn't related to the changes since last-fail.

[2015-05-12 15:51] madis commented on #7954
The ```.dockercfg``` should be placed in ```$HOME/.dockercfg``` not in the root.

[2015-05-12 15:57] jlowdermilk commented on #7843
My vote for truncation. Keeping 1 line per output is still useful.

[2015-05-12 16:01] mbforbes commented on #7714
Woohoo! This was fixed by #8004 (Jenkins was red for a while so it was hard to confirm).

[2015-05-12 16:01] #7714 closed

[2015-05-12 16:09] thockin opened #8117 "Scary warnings spinning up e2e on GCE"
This happens over and over.  Scary messages.

WARNING: Lists should be separated by commas, try "--allow=tcp,udp,icmp,esp,ah,sctp". If you intend to use udp, icmp, esp, ah, sctp for positional arguments, put them before the flag.
WARNING: Lists should be separated by commas, try "--scopes=storage-ro,compute-rw". If you intend to use compute-rw for positional arguments, put them before the flag.
WA

[2015-05-12 16:18] justinsb commented on #8114
Aha... this is logged at debug level in `salt-minion -l debug`

[code]

I'm guessing it's a salt version mismatch... investigating.

[2015-05-12 16:21] justinsb commented on #8114
I guess AWS needs to lock salt versions like GCE does:

[code]

[2015-05-12 16:26] justinsb commented on #8114
Confirmed that this is because of upstream salt breakage:

salt.utils.ipaddr -> salt.ext.ipaddr https://github.com/saltstack/salt/pull/18245
salt.ext.ipaddr deprecated (?) https://github.com/saltstack/salt/pull/23253

Not sure what we should do here.  I can lock to the same version as GCE, but if we find a bug in that version of salt then we can't update without breaking this script.

[2015-05-12 16:27] krousey commented on #8054
So it seems that this needs to be fixed generically.

@wojtek-t are you still working on generating a proper deep copy? Is this code generation? Or something else?

In the meantime, I could work on a slow but correct reflection based solution. Does that sound ok?

[2015-05-12 16:27] thockin commented on #8042
I'm afraid I have no clue why it would be exiting.  Maybe you can edit the
pod spec to add -verbose=true to the skydns container?

On Tue, May 12, 2015 at 3:56 AM, biswars <notifications@github.com> wrote:

[2015-05-12 16:29] zmerlynn commented on #8114
We don't write bugs.

On Tue, May 12, 2015 at 9:27 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-05-12 16:34] zmerlynn commented on #8117
That's a new one. gcloud started getting a little more anal here. Exciting.

cc @jlowdermilk

[2015-05-12 16:38] mbforbes commented on #8113
+1 to ironing out a flake; v0.16.0 had a flake (or maybe even a consistently-failing test) which made us turn off tests that would run against it for weeks. This is especially important now that we're doing soak tests.

[2015-05-12 16:38] timothysc opened #8119 "Large throughput performance regression"
**Test:**
Running a very simple wide guestbook (1000 pods) on a 23 node bare metal cluster, with a side script continually calling 'kubectl get pods' once a second to parse the state.

Note: This is similar to many other tests we've ran in the past, and the model we would like to add to the e2e data dumping.

---
**Environment:**
Atomic 7.1.1 bare metal cluster with 23-nodes.
GitVersion:"v0.16.2-6

[2015-05-12 16:46] wojtek-t commented on #8054
@krousey yes - I will be working on deep-copy based on code generation.

In the meantime, I could work on a slow but correct reflection based solution. Does that sound ok?

SGTM

[2015-05-12 16:48] krousey commented on #8054
This also only seems to happen to basic types. The 0 values for structs are not omitted in encoding. I think going forward, it might be a good idea to avoid pointers to basic types in anything we want to encode/decode. At the very least avoid putting semantics on them.

Proto 3 did this in fact and it has greatly simplified it's API in a lot of languages.

[2015-05-12 16:48] zmerlynn commented on #8114
Can you just put this in an AWS-specific block? It seems like that should work.

[2015-05-12 16:49] zmerlynn commented on #8114
(And by "this" I mean "future Salt variable gunk")

[2015-05-12 16:50] satnam6502 commented on #8082
If @piosz is on it then I shall save my energy for other things.

[2015-05-12 16:50] satnam6502 commented on #7979
Let me look into this and see if I can switch to `token-system-logging`

[2015-05-12 16:53] satnam6502 commented on #8107
@davidopp Yes.

[2015-05-12 17:00] justinsb commented on #8114
I think I'm going to try to lock AWS to the same version as GCE, and then think more about a long-term plan once AWS is working again!

[2015-05-12 17:14] a-robinson commented on #1625
I'd definitely be interested in scheduling latency as well as more visibility into etcd, such as errors broken down by type and number of open watches, but after thinking a little more I'm not convinced anything more is absolutely needed for 1.0.

[2015-05-12 17:17] bprashanth commented on #8119
So previously you had 1000 pods go from 0->running in a minute? Did you bump up the rate limit restrictions on your rest clients?

Currently it will take us roughly that long to even create 1000 pods through the default client, so that red line capping at ~60s is expected IIUC. The kubelets use a 5qps connection, so to start 40 pods/node you're probably looking at another 1/2 minute in pure reques

[2015-05-12 17:22] timothysc commented on #8119
The added b4 graph shows the actual results before regression.

[2015-05-12 17:30] bgrant0607 commented on #8054
We need to be able to distinguish unset by client.

[2015-05-12 17:39] lavalamp commented on #5921
@erictune SGTM-- and since #7101 has merged I can get right to it.

[2015-05-12 17:40] nikhiljindal commented on #8116
We have "omitempty" tags to indicate whether the field is required or optional.
What other tags do you have in mind?

cc @bgrant0607

[2015-05-12 17:42] lavalamp commented on #8103
As long as it doesn't cause ./cluster/kubectl.sh to print out junk every time I do anything (bad for using it from scripts!), I'll be happy. :)

[2015-05-12 17:45] roberthbailey commented on #1625
Thanks @a-robinson. Moving this to the v1.0-post milestone so that we can follow up with all of the great ideas for metrics discussed herein.

[2015-05-12 17:46] nikhiljindal commented on #8109
@smarterclayton @bgrant0607

[2015-05-12 17:52] nikhiljindal commented on #8087
@dchen1107 Was going to generate a new container VM image with v1beta3 support, which was required before we can start deleting v1beta1.

[2015-05-12 17:55] bgrant0607 commented on #7843
We have at least 4 output commands:
* get list of resources
* get single resource
* describe list of resources
* describe single resource

We also have multiple output modes: template, json, yaml, etc.

Use cases:
* read by human
  * useful to bound total width to viewable area: if fixed default, a flag to override it would be useful; it's lame to not have automatic width discovery, though
  * wan

[2015-05-12 17:56] bgrant0607 commented on #7843
Another use case:
* produce config file
  * json/yaml output
  * want to strip out readonly fields, such as status, metadata.uid, etc.

[2015-05-12 17:59] bgrant0607 commented on #8109
Yes, it needs more work. It isn't fully implemented. We either should finish it, or remove the field from the API for now.

[2015-05-12 18:02] bgrant0607 commented on #7018
@ae6rt See #8052

[2015-05-12 18:02] bgrant0607 commented on #7018
Finish standalone pod templates or remove them for now: #170, #8109.

[2015-05-12 18:03] #8038 closed

[2015-05-12 18:08] bgrant0607 commented on #8116
See also https://github.com/emicklei/go-restful/pull/198

[2015-05-12 18:08] quinton-hoole commented on #7843
For the most part, I'm totally +1 to what Brian says, except as noted below:

On Tue, May 12, 2015 at 10:55 AM, Brian Grant <notifications@github.com>
wrote:

object, because it works so much better with the fantastic family of *nix
command line tools which are designed that way (grep, sort, uniq, awk,
cut....).  For bonus points it should be possible to pipe lists of resource
identifiers to kubec

[2015-05-12 18:11] childsb opened #8124 "Volumes require filesystem clients and utilities on host"
The various filesystem plugins currently work by mounting a filesystem on the host then passing that mounted dir to the pod for access.  This requires that the host system has the filesystems client & utils installed and configured.

I would like to containerize the filesystem client pieces and run it as a sidecar to the POD requesting the volume.

This is currently impossible as a PODs mount isn'

[2015-05-12 18:14] krousey commented on #8054
@bgrant0607 Pointers to structs seem to be fine in Go's encoding/decoding ecosystem. It's only pointers to primitives that cause this issue. Also, the use of pointers to primitives make complex struct literals impossible without helper functions, auxiliary variables, or additional assignment after the fact.

[code]

If you really need optionally specified primitives, you could wrap them in a struc

[2015-05-12 18:18] bgrant0607 commented on #7843
Piping into command-line tools is a different use case than read by human.

[2015-05-12 18:18] #8060 closed

[2015-05-12 18:23] roberthbailey commented on #8113
@lavalamp (since it's related to events)

[2015-05-12 18:28] jlowdermilk commented on #8117
They changed list argument syntax a while back, but the warnings are new. Time to update startup scripts I guess.

[2015-05-12 18:32] lavalamp commented on #8113
The test itself looks racy; there's nothing to guarantee that the events will have made it through the system by the time the pod is running. Generally one would expect that, but there's no guarantee.

[2015-05-12 18:35] lavalamp commented on #8113
@zmerlynn Can you paste some sample failures here?

[2015-05-12 18:37] davidopp commented on #8107
@zmerlynn do you have cycles for this?

[2015-05-12 18:40] lavalamp commented on #8054
@krousey Is that observation limited to gob (which we don't care about except instrumentally) or is it valid for json? Really our API is defined in terms of json; if we have to do contortions in go to make that work as desired, it's unfortunate but we'll do it.

(Also note that there's an outstanding issue for switching to a different json parser)

[2015-05-12 18:40] kylelemons opened #8126 "Disk fills up on GCE minion and renders VM unreachable and cluster unusable"
Apologies in advance for how scant this bug report is.  My attempts to resuscitate the minion wound up wiping its disk and travel has lost my screen scrollback.

I had a kubernetes 0.12.0 cluster running in GCE with 1 f1-micro master and 1 n1-standard-1 minion.  I got an alert that the website served by my cluster was down, so I went to investigate.  Sure enough, the pods were all pending.  The ev

[2015-05-12 18:41] davidopp commented on #8119
@lavalamp

[2015-05-12 18:45] roberthbailey commented on #8126
@rjnagal

[2015-05-12 18:46] lavalamp commented on #8119
... But if I do math on your chart, the total scheduling took 4'30" in the "regression" case but 5'30" in the "good" case... how exactly is this a regression? why do you care about the slope?

[2015-05-12 18:47] lavalamp commented on #8119
Wait, nvm... I'm doing math on the wrong parts of the chart.

[2015-05-12 18:48] lavalamp commented on #8119
So it went from 4'15" to 4'30", if I read the labels correctly this time.

[2015-05-12 18:48] jimmidyson commented on #8116
Yeah we're using the `omitempty` stuff to drive the json schema for required, but I'm interested in adding in validation constraints to the json schema like pattern, min, max, etc. You can see our current generated schema at http://repo1.maven.org/maven2/io/fabric8/schemagenerator/kubernetes-model/0.0.27/kubernetes-model-0.0.27-schema.json including pattern validation such as:

[code]

for `name`

[2015-05-12 18:48] zmerlynn commented on #8113
go/k8s-test/job/kubernetes-e2e-gke-test/4534/console

[code]

[2015-05-12 18:49] lavalamp commented on #8119
@timothysc Can you label the axes on the "bad distribution" chart? I have no idea what that is.

[2015-05-12 18:53] justinsb commented on #8114
@derekwaynecarr from the looks of things I think vagrant will have the same problem (?)

(Note that I am in the process of developing / testing the branch above, so I don't think you can just copy-and-paste the fix - yet!)

[2015-05-12 18:55] bgrant0607 commented on #8116
PRs welcome.

See also #4210 and #6487

[2015-05-12 18:55] lavalamp commented on #8119
This is a 6% slowdown... does that really warrant the "large" moniker and P0 tag?

[2015-05-12 18:56] bprashanth commented on #8119
Hmm, the time to get a 1000 running pods roughly went from 2m -> 4m right? In the first one it took 45s to create all the pods, in the second, it took 1.20. This is expected (rc ratelimiting, also explains the tiny blip @11.30 in the second one), and we can speed it up at the cost of random things acting funny in the cluster.

so the only unexplained blip to me is at 11:20:57 in the second graph,

[2015-05-12 18:58] davidopp commented on #8119
I interpreted it as going from ~2.5m to ~4m to get the tasks scheduled (i.e. out of pending) while end-to-end the amount of time to get them running remained around ~4m.

[2015-05-12 18:58] bprashanth commented on #8119
It would also help to know which ones are pending+assigned vs just pending

[2015-05-12 18:58] lavalamp commented on #8119
Yeah you guys are right, I cannot interpret charts today.

[2015-05-12 19:01] quinton-hoole commented on #8113
@zmerlynn Actually this test is flaky across the board, and has been for some time. If you look at kubernetes-e2e-gce Test Results Analyser in Jenkins, you'll see about 8 failures in the past few hundred runs.  I think lavalamp is correct - the test needs to retry/wait for the events to get through.  Specifically, this code needs to be wrapped in a util.Poll():

https://github.com/GoogleCloudPlatf

[2015-05-12 19:01] lavalamp commented on #8119
@timothysc

Garbage collection? Like from the go runtime? I don't think that changed?

What apiserver changes?

My first suspicion was the changes to rc manager; however, as @bprashanth points out, that seems to have been a net improvement, now creating pods only slightly faster than the system can start them, at least for the first minute or so.

[2015-05-12 19:03] rjnagal commented on #8126
I am trying to fix this with #8108. Kubelet will try to keep a minimum disk space free on the machine. When diskspace gets low, it will start rejecting new pods.

This addresses only one part of the problem. Existing pods and workloads can still eat up all the disk space. We have some image and container GC to at least clean up stale stuff.

#4135 is the main issue to handle all out of disk scenar

[2015-05-12 19:05] lavalamp commented on #8119
@timothysc since it's a cheap experiment, can you set [BurstReplicas](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/controller/replication_controller.go#L69) to something >= 1000 and try again? This will rule out or implicate recent changes to RC manager.

[2015-05-12 19:05] rrati commented on #8119
In the pre-regression case, pods start running at about 15:54:58 and all are running at about 15:57:04, which is a total start time of about 2 minutes.

In the regression case, pods start running at about 11:19:22 and all are running at about 11:23:27, which is a total start time of about 4 minutes.

[2015-05-12 19:06] lavalamp commented on #8119
Yeah I will go get lunch and ponder how I can possibly be so bad at reading charts now.

[2015-05-12 19:08] yujuhong commented on #5869
[code]

Your client is older than your server version, which means that the binary was not re-built with the new commit.
You can see the client and server versions by running
[code]

e2e test requires the client and the server versions to match in order to run. It enforces this by setting the flag in kubectl (`kubectl --match-server-version`). In your case, your new commit probably didn't touch th

[2015-05-12 19:08] thockin commented on #8124
Not sure what to do with this.  You're correct that mounting from withing a container to be visible outside that container is tricky.  Are you filing a bug so that we are aware (we are aware)?  Or is this something you intend to pursue and are looking for guidance?

@pmorie did a lot of this same work

[2015-05-12 19:09] lavalamp commented on #8113
Yeah if the kubelet event shows up less often than the scheduler event, that would make sense, since there'll have been less time.

[2015-05-12 19:11] bgrant0607 commented on #8054
As much as I hate myself for suggesting it, does a pointer to an embedded struct work?
[code]

I'm ok with struct wrapping so long as it doesn't change the json representation.

[2015-05-12 19:11] jimmidyson commented on #8116
@bgrant0607 Would you be happy with a PR just for v1 API?

[2015-05-12 19:13] quinton-hoole commented on #8113
I can whip up a quick fix now.

[2015-05-12 19:24] zmerlynn commented on #8113
If it's a known flake, it's not going to block us. We should get a fix in soon for the next release, though.

[2015-05-12 19:24] bgrant0607 commented on #8116
@jimmidyson

I'd want the properties to appear in our generated Swagger schema, so the support needs to be added to go-restful.

We also need to think about how to keep the information up to date and accurate. I think the only practical way to do that is to drive validation off the tags, in which case it would need to be implemented for all API versions. We're in the process of getting rid of v1be

[2015-05-12 19:24] eparis commented on #8124
So I think this can be fixed in a couple of steps...

In docker 1.6 they defaulted to making volume mounts slave of the init mount namespace. We need a new flag where we can make volume mounts shared with the init mount namespace.  aka, mounts that happen inside the container show up outside the container in the host namespace.

The second step would be to write a new kubernetes mounter (possibly

[2015-05-12 19:27] jimmidyson commented on #8116
@bgrant0607 Well that complicates stuff then :) But completely understandable. I'm thinking a go generator for JSON validation driven by tags sounds like a pretty useful tool anyway in general.

[2015-05-12 19:35] krousey commented on #8054
@lavalamp I think this observation doesn't apply to the standard library JSON parser. If we don't use gob or something that behaves similarly, then my suggestion is purely style.

[2015-05-12 19:36] vardaofthevalier commented on #3965
I'm currently experiencing this problem as well.  I've tried "kubectl stop ... " and "kubectl delete ..." and had all of my persistent data erased when the pod that mounted it was stopped using either command.  Here is the output of "gcloud alpha container kubectl version" on my local system:

    Client Version: version.Info{Major:"0", Minor:"15", GitVersion:"v0.15.0", GitCommit:"831f3e60d7cd64c6

[2015-05-12 19:42] bgrant0607 commented on #7438
We will eventually need to support sole tenancy for pods. I want to follow the same model in that case: the pod has /binding, as in the non-exclusive case, and the exclusive reservation is then confirmed/recorded by writing the spec of the node. An async. process can determine when the exclusive reservation is valid to remove.

[2015-05-12 19:52] thockin commented on #7438
Brian,

I think what we have here is compatible with that goal.

On Tue, May 12, 2015 at 12:42 PM, Brian Grant <notifications@github.com>
wrote:

[2015-05-12 19:56] bgrant0607 commented on #5475
Elimination of v1beta1 and v1beta2: #8087

[2015-05-12 19:59] rjnagal commented on #8126
closing it as a dup of #4135 .
@kylelemons we would still like to know why the disk got full. If you do run into this again, please capture events from master.

[2015-05-12 19:59] #8126 closed

[2015-05-12 20:10] bgrant0607 commented on #7968
Yes, let's discuss output format on #7843

[2015-05-12 20:11] bgrant0607 commented on #7843
Good point about multi-row: we'd want to ensure we had sufficient sorting and filtering capabilities since it wouldn't be friendly to post-processing.

One option: make describe multi-row (see #7968) and keep get single-row.

I was also thinking of controlling this via auto-detection and flag, much like `ls`.

[2015-05-12 20:15] quinton-hoole commented on #7843
I like the idea of get being single-row, describe multi-row.

[2015-05-12 20:18] smarterclayton commented on #8109
It's not terrible to implement.  What's the cutoff date in your mind brian to implement it?

[2015-05-12 20:18] bgrant0607 commented on #3338
@timothysc If you're interested in protobuf, please file a separate issue for that.

[2015-05-12 20:18] roberthbailey commented on #8107
@zmerlynn told me yesterday that he doesn't currently have cycles.

@satnam6502 once you investigate please loop @zmerlynn in on the proposed solution since he has thought about this a bit.

[2015-05-12 20:20] davidopp commented on #8082
This is basically a test for #6427

[2015-05-12 20:24] bgrant0607 commented on #3338
The apiserver should be a dumb CRUDy server, so it should be spending all its time on unmarshaling/marshaling, defaulting, validation, conversion, reading/writing from/to etcd, and memory allocation/GC.

[2015-05-12 20:33] satnam6502 opened #8130 "Service proxy addresses require trailing slash"
[code]

[2015-05-12 20:35] timothysc opened #8132 "Protobuf communications"
re: #3338

Post 1.0 and etcd v3.
It would be worth while to investigate the tradeoffs for using protobuf for internal communication whose external representation is json for performance and scale out reasons.

[2015-05-12 20:35] satnam6502 commented on #8130
#4958

[2015-05-12 20:36] satnam6502 commented on #8130
[code]

[2015-05-12 20:38] rhohan commented on #8114
As a short term fix, using 2015.05 (ubuntu trusty salt ppa), was to change container_bridge.py:20

from:
import salt.util.ipaddr as ipaddr
to:
import salt.ext.ipaddr as ipaddr

this actually seems to be working. salt.ext.ipaddr might be deprecated. but not in 2015.05.

why is there a container_bridge custom state at all btw? why not use network.managed and iptables.insert?

[2015-05-12 20:44] justinsb commented on #8114
@rhohan - I'm not sure we can just change the import, because I think we have to be compatible with GCE's version of salt also.

I'm not sure of why we did it this way vs other ways of doing things in salt

[2015-05-12 20:53] quinton-hoole commented on #8113
Nearly done.

[2015-05-12 20:54] bgrant0607 commented on #7203
Mostly we've discussed making whole objects pluggable (#991, #3201, #1744, #703, ...), and have some code for that:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/runtime/scheme.go#L109

We've discussed that subobject plugins would be similar -- they would have a kind and apiVersion (and prefix, etc. if we added them).

[2015-05-12 21:02] zmerlynn commented on #8107
And feel free to loop me in on what's going to happen when the master is actually upgraded anyways. Currently, the master bits are going to be upgraded pretty forcibly, leaving the Salted templates changed, but the `kube-addons` script isn't going to do the right thing with that.

[2015-05-12 21:11] davidopp commented on #8081
@ixdy are you available to work on this?

[2015-05-12 21:19] smarterclayton commented on #8087
This change should not remove the legacy scope behavior.  It can remove the tests and any Kube specific stuff, but we need to leave legacy in for a bit longer.

[2015-05-12 21:22] davidopp commented on #7914
Just to be sure, this issue is about upgrading API version, whereas #8082 is about upgrading binary version?

[2015-05-12 21:24] lavalamp commented on #8074
Agree with goal, but not with proposed solution. My preferred solution here is to declare that the cloud provider library is responsible for getting auth tokens for any operations it needs to perform, and write that logic there. Reasoning:

* There's no convenient master component to stick this logic into.
* Counting on the default scopes that come with VM creation is a non-solution anyway, since

[2015-05-12 21:27] bgrant0607 commented on #8087
@smarterclayton What do you mean by "legacy scope"?

[2015-05-12 21:29] mbforbes commented on #7914
I was thinking this was about upgrading the binary version of the full cluster. That includes:

0. upgrade the master
0. then upgrade the nodes &larr; the focus of this issue

My impression was that #8082 was about the "master" specifically, whereas this is about the "nodes" because we want to make sure normal workloads / e2es pass. But, because the master is upgraded first before node upgrades ha

[2015-05-12 21:35] smarterclayton commented on #8087
The pkg/apiserver and pkg/api/meta concepts for RESTScopeNamespaceLegacy and the support in api_installer.go for the legacy paths.  We'll need those for a few more weeks in OpenShift.

----- Original Message -----

[2015-05-12 21:38] lavalamp commented on #7963
The read-only port is going away in days; that should take care of this specific problem but not necessarily the general case.

@erictune the intention is to solve this with permissions?

[2015-05-12 21:39] bgrant0607 commented on #2156
Also worth a look: https://github.com/mesos/chronos

[2015-05-12 21:51] caesarxuchao commented on #8070
I can successfully repeat the example/iscsi. But the first several times of creating the pods always fail.
[code]

and the dmesg on the node shows this repeatedly:
[code]

After creating/deleting the pod many times, then I can always create the pod without any problem. When I check dmesg, it still records the "dirperm1 breaks the protection by the permission bits on the lower branch", but only onc

[2015-05-12 21:53] krousey commented on #8054
My reflection solution only has to work for API types right? I'm trying to see if I can be lazy and ignore stuff like functions, interfaces, unsafe pointers, ...

Right now I'm handling numeric types, bool, strings, structs, maps, pointers, and slices (where the composite types only include these types as well).

[2015-05-12 22:04] satnam6502 commented on #8107
/cc @erictune

[2015-05-12 22:04] bgrant0607 commented on #8109
End of May.

If we missed that, we'd just remove ReplicationControllerSpec.TemplateRef, and add it back later with the full implementation.

[2015-05-12 22:06] caesarxuchao commented on #7843
Why do we need to make describe multi-row? It's a list not a table, so the wrapping perfomred by the terminal doesn't hurt the readability, does it? e.g.,
[code]

[2015-05-12 22:07] caesarxuchao commented on #7843
I don't think "describe list of resources" is there right now. Are we going to support it in v1.0?

[2015-05-12 22:18] bgrant0607 commented on #7843
We should support describe of multiple objects: #7467

[2015-05-12 22:19] bgrant0607 commented on #7843
Describe is already multi-row.

[2015-05-12 22:24] roberthbailey commented on #8074
Would that be the cloud provider library that is part of the kubelet? If so, how does that allow us to remove the overly broad scopes? Or are you saying that something on the master would get the auth token and pass it to the kubelet (maybe as part of the pod spec)?

[2015-05-12 22:24] thockin opened #8139 "Reduce scope of Service.Spec.PublicIPs"
The Service.Spec.PublicIPs field is VERY broad and I don't think we can reasonably go to 1.0 with it as-is.  Now that we understand better what most people do with it, I think we must find a better API that enables correct usage and eliminates dangerous and incorrect usage.

I will draft such a change and stick it here.

[2015-05-12 22:26] roberthbailey commented on #7914
I concur with @mbforbes's assessment: We want to be able to test node upgrades. To do this, we either need to first upgrade the master, or somehow start with a cluster that has skew (there isn't currently a way to do this). So I'd consider #8082 to either be blocking this issue, or that they can be combined into a single test.

[2015-05-12 22:28] roberthbailey commented on #7963
At least that will mean that you need cluster admin access (read/write) to see the cluster secrets (right now anyone who can reach the read-only endpoint can escalate to having read-write access to the cluster). Until we have a permissions model in the master, I think that's the best we can do.

[2015-05-12 22:34] krousey commented on #8054
So I've got a simple reflection solution. It needs cleaning up, which I can probably do tonight/early tomorrow. Here's before (gob) and after (reflection) benchmarks:

Gob
[code]

Reflect
[code]

It seems reflection is faster. Now I just have to find out what I did wrong.

[2015-05-12 22:36] davidopp commented on #1625
We did an experiment today and discovered that it actually is possible to access the /metrics endpoint on the master components (previously we had thought not, because the master node does not register as a cluster node).

One way to do this (for apiserver; same should work for other master components, but you need to know their port number, instead of 8080 -- see pkg/master/ports/ports.go for por

[2015-05-12 22:37] justinsb commented on #6981
(I'm not sure whether this overlaps with my dashboard work, but I don't think either should block the other.  The more the merrier, and we can consolidate later if it makes sense)

[2015-05-12 22:48] satnam6502 opened #8142 "Can't create an e2e cluster"
[code]

[2015-05-12 22:50] bgrant0607 commented on #8132
There's wire format (json, proto, [bson](http://bsonspec.org/), ...), IDL (tagged Go, proto, ...), server framework (go-restful, grpc, ...), and client generation (hand-written, Swagger codegen, grpc, ...).

Some issues with proto/grpc to consider:
* Select schema based on apiVersion and kind (and prefix, etc., if we add those)
* Mapping to CRUD/OO API
* Auto-generated support for JSON/REST (and Y

[2015-05-12 22:57] roberthbailey commented on #1625
I think that is because today the master kubelet is registered with the cluster. It'll be interesting to see if this still works after I explicitly detach them in #6949.

[2015-05-12 23:04] pmorie commented on #7986
@thockin The idea is mount a shell into a container.  I can't think of a great way to do this as a sidecar.  Open to suggestions.

[2015-05-12 23:07] thockin commented on #7986
oh, you want a container as a volume?  #831 ish?

On Tue, May 12, 2015 at 4:05 PM, Paul Morie <notifications@github.com>
wrote:

[2015-05-12 23:22] mbforbes opened #8144 "DNS is broken after node reboot"
This is blocking #7580 (test reboot).

I originally ran into this trying to run the guestbook test after the nodes had all rebooted; here is the [log for the failed guestbook test](https://gist.github.com/mbforbes/ff74c87346f724b0fc8e).

I added more logging to help understand what is happening. I added the following logging [after this line](https://github.com/GoogleCloudPlatform/kubernetes/blob/

[2015-05-12 23:26] goltermann commented on #7965
This is in fact covered by #3168

[2015-05-12 23:26] #7965 closed

[2015-05-12 23:31] dchen1107 commented on #7914
/sub

[2015-05-12 23:34] mbforbes commented on #7914
I'm happy to work on this, but we had explicitly split this off in case I'm holed up doing other upgrade work because it's pretty separable. (In other words, if you're reading this, it's unblocked, I haven't written another comment that I'm actively working on this, and you want to work on it, please feel free to self-assign.)

[2015-05-12 23:39] linfan opened #8147 "Repo cannot alone via ssh"
In the step 1) of docs https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

Clone repo kubernetes via ssh would fail:

[code]

Better to change it to the [https one](https://github.com/GoogleCloudPlatform/kubernetes.git).

[2015-05-12 23:39] satnam6502 opened #8148 "kubectl get pods output looks wrong"
Some items seem to be confusingly split across two lines.

[code]

[2015-05-12 23:39] satnam6502 commented on #8148
And I no longer see the node level logging pods e.g. `fluentd-elasticsearch`

[2015-05-12 23:45] yujuhong commented on #8148
The output was changed to span multiple lines to expose individual container status (which was requested to help discover strange/unexpected failures).
For each pod, the first line corresponds to the pod status, and the subsequent lines below (without POD names) correspond to individual containers. It'd be clearer if you have multiple containers in a pod.

As for the fluentd pods, I can see them f

[2015-05-12 23:48] satnam6502 commented on #8148
[code]

[2015-05-12 23:48] #8148 closed

[2015-05-12 23:51] pmorie commented on #7986
@thockin yes, that is what I want.  I'll close this out and document the need there.

[2015-05-12 23:51] #7986 closed

[2015-05-12 23:52] pmorie commented on #831
I want to be able to mount the busybox binary from a busybox image into a container with an image that doesn't have a shell.

[2015-05-12 23:58] nikhiljindal commented on #8043
@preillyme : Do you have a separate issue for updating the documentation or do you want to use this one?

[2015-05-13 00:03] quinton-hoole commented on #6084
As far as I can determine, the test that you're proposing boils down to ensuring that the data written to a persistent disk by one pod, should be be visible when the persistent disk is attached to another pod. As you say, this will be pretty easy to implement.  I don't think that it's a v1.0 blocker though.  Marking as such.

[2015-05-13 00:05] #8014 closed

[2015-05-13 00:08] mbforbes commented on #6084
If we don't test this, we can't claim it's true. If this isn't true, upgrades don't work. (These statements are both modulo whether we care about tests and whether we care if users' data get destroyed.) I'm not arguing against v1.0-post, but do want to make clear what (I think) the implications are if this isn't supported at 1.0.

[2015-05-13 00:13] roberthbailey commented on #8144
@piosz (since he originally ported this test from shell to go and may have some ideas)

[2015-05-13 00:16] satnam6502 commented on #8107
**Proposal 1**

As a first very basic step:
* Make it the responsibility of the cluster admin to keep track of any changes made to cluster add-ons relative to their default values. For example, a change to how much memory Kibana is allocated. It is then the cluster-admin's responsibility to re-apply that change after a cluster add-on component is updated.
* Provide command line option to the clust

[2015-05-13 00:18] thockin commented on #831
I think that's a great goal.  I'm not sure we have bandwidth to hit this
before 1.0 - especially considering therer are a bunch of issues to iron
out around data containers and containers as volumes.

On Tue, May 12, 2015 at 4:53 PM, Paul Morie <notifications@github.com>
wrote:

[2015-05-13 00:20] roberthbailey opened #8151 "In place binary upgrades for the master"
#6075 describes how we plan to do master upgrades on GCE and GKE where we can rely on having a persistent disk to store cluster configuration and etcd data. We should also have a way to upgrade masters in place (flip the master binaries) without blowing away the whole node.

The tentative proposal is to follow the kube-push model and write a new manifest file so that the kubelet will launch new ve

[2015-05-13 00:24] bgrant0607 commented on #7018
@sym3tri Previous discussion of watch versioning was #6480. Agree that current solution has issues. If an object is actually modified, the resourceVersion will be contained in the object's metadata. The bigger problem is the case where it isn't modified, in which case the client isn't notified that the sequence has advanced.

[2015-05-13 00:39] quinton-hoole commented on #6084
Sounds good Max. Given that we already have tests to verify that we can write to and read from a PD, I think that the chances of the proposed test failing are pretty slim, but definitely worth having.  If you have spare cycles, go for it, but I'd suggest prioritising it lower than explicit v1.0 blockers.

[2015-05-13 00:39] mbforbes commented on #6084
Ack!

[2015-05-13 00:55] ddysher commented on #1319
@ncdc Maybe your experience from working on streaming library can help here?

[2015-05-13 01:29] smarterclayton commented on #1319
He's out on PTO and will be back on Monday.

[2015-05-13 01:31] pmorie commented on #831
No doubt @thockin, just wanted to record it
On Tue, May 12, 2015 at 8:18 PM Tim Hockin <notifications@github.com> wrote:

[2015-05-13 01:36] jlowdermilk commented on #4428
I think we can close this out. #6680 made the kubeconfig loading chain *much* simpler. Default loading behavior sources a single file without merging. Merging is still supported by loading multiple kubeconfig locations specified via envvar.

There was a proposal to separate current-context from kubeconfig, but the current setup actually works quite well, and requiring more than one file would comp

[2015-05-13 01:39] smarterclayton commented on #8054
I'm not surprised - gob has to copy strings to bytes, while your version does not.  So ironically reflect is probably faster because reflect allocation is dominated by gobs format shifting.

[2015-05-13 01:41] satnam6502 commented on #4428
Fine by me.

[2015-05-13 01:54] bgrant0607 commented on #7018
We've also discussed per-object sequence numbers for RAW and WAW consistency: #7328

[2015-05-13 02:03] smarterclayton commented on #4428
SGTM

[2015-05-13 02:10] WIZARD-CXY commented on #8147
hello, I am not the owner of k8s, but I can clone vis ssh. Maybe it's your github key issue.

[2015-05-13 02:22] liggitt commented on #4428
But then what can I blame for my frustration and anger?

[2015-05-13 02:24] justinsb opened #8156 "The instructions for how to regenerate the conversion functions need an example"
The instructions for how to regenerate the conversion functions (in docs/devel/api_changes.md) should just include the command lines to run.  It isn't obvious what to run, and I think the whole document could probably be replaced by "run hack/update-api.sh"

[2015-05-13 02:30] ddysher commented on #1319
Ah, ok, thanks for the heads up.

On Tue, May 12, 2015 at 9:30 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-05-13 02:33] smarterclayton commented on #4428
Definitely the width of kubectl get pods

[2015-05-13 02:37] liggitt commented on #4428
Excellent. Feel free to close

[2015-05-13 02:48] hurf commented on #5774
@gmarek - Sorry for the delay for I'm also working on other issues. Please review the patch, if it's not working as what's in your mind, please tell me and I'll modify the patch.

[2015-05-13 03:55] davidopp commented on #8151
I guess the key point here is that this would enable master upgrade for platforms without PDs, for example bare metal. (And, if AWS/Azure if we store the etcd data locally on those platforms, but maybe it would be better to just have etcd write to their equivalent of persistent disks if that's the case?)

[2015-05-13 04:49] lavalamp commented on #8139
Isn't it enough to document that only IPs routed to your nodes or allocated by the cloud provider (or other service) are legal, and other IPs should be expected to stop paying validation without warning?

[2015-05-13 04:54] lavalamp commented on #8074
We already have a mechanism to pass a configuration file to the cloud
provider; we could use that. Master could make a secret for kubelets with
an auth token. Or we could do that at start up time.
On May 12, 2015 3:24 PM, "Robert Bailey" <notifications@github.com> wrote:

[2015-05-13 04:57] colemickens commented on #7879
For #1, the answer is to run a ssh tunnel to expose the master's 8080 locally. (I also noticed that just port fowarding 8080 to the Internet allowed at least the `/` path to be hit without auth. That seems scary to me -- I thought apiserver only listened for connections from localhost on the insecure port).

For #2, the answer seems to be that this can't really be done in Azure properly at the mom

[2015-05-13 05:01] colemickens opened #8159 "CoreOS + Azure + Weave Getting Started Guide Doesn't Work"
The CoreOS/Azure cluster I brought up six days ago was affected by  #3853 with etcd unresponsive, so I tore down the cluster and created a new one.

Something has changed. `install-weave.service` fails on the master AND minions. It requires you to restart the `install-weave.service` along with other units that have failed or failed a condition and thus weren't started. (This includes apiserver, do

[2015-05-13 05:03] #4428 closed

[2015-05-13 05:23] thockin opened #8160 "hack/verify-gendocs.sh is slow"
The slowest part of every commit is waiting for hooks.  I added some printouts to find the culprit - see $SUBJECT.  Can we not run this test on every commit and rebase?

If we switched to using pre-commit instead of prepare-commit-msg we could force-override it (--no-verify) if needed.

@lavalamp

[2015-05-13 06:03] thockin commented on #8139
That's the bare minimum, I guess.  I think we can do a bit better.

On Tue, May 12, 2015 at 9:49 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-05-13 06:08] davidopp commented on #5475
Any other pieces you think this can be divided into? Or the remaining work is reasonable for one person (namely @nikhiljindal )?

[2015-05-13 06:09] davidopp commented on #8119
ping @timothysc -- did you have a chance to do what @lavalamp suggested here?
https://github.com/GoogleCloudPlatform/kubernetes/issues/8119#issuecomment-101389859

[2015-05-13 06:12] bgrant0607 commented on #831
I think that people will want to separately manage several distinct file sets:
* base image
* debugging tools (like sh)
* general language runtime / environment / prerequisites
* other app dependencies
* app
* app static data
* app configuration
* various secrets (SSL, ssh, ...)

[2015-05-13 06:12] piosz commented on #8144
It looks like a problem with DNS. Is DNS working after node reboot? Could you provide some details how can I reproduce the bug?

[2015-05-13 06:29] bgrant0607 commented on #5475
I'm sure this, #5799, #6584, and #8087 could each be broken up more. There are still 150 references to v1beta1 in the repo.

I don't think there's an issue for porting e2e, but @brendandburns is working on it.

[2015-05-13 06:31] bgrant0607 commented on #6584
still v1beta1:
* examples/guestbook-go
* examples/storage
* examples/glusterfs
* examples/gce-pd
* examples/liveness
* contrib/git-sync

[2015-05-13 06:37] biswars commented on #8042
I have started a fresh cluster manually and just created the dns rc with verbose=true in skydns. Note, I am running the cluster locally and not on GCE.

The followings are the logs:
core@core-02 ~ $ ./kubectl log -f kube-dns-lvdd5 skydns
2015-05-13T06:34:15.397362691Z 2015/05/13 06:34:15 skydns: falling back to default configuration, could not read from etcd: 100: Key not found (/skydns/config) [6

[2015-05-13 06:39] mbforbes commented on #8144
Hey @piosz, thanks for jumping in. No, DNS isn't working after reboot—here's [a log of the DNS test](https://gist.github.com/mbforbes/1135339f4a5e2beda85e).

This is actually fairly easy to reproduce:
- create a testing cluster with `go run hack/e2e.go --v --up`
- ssh into each node and run `sudo reboot`, then waiting for all nodes/pods to be Running & ready
- run the test of your choice; for exam

[2015-05-13 06:42] cjcullen commented on #8074
On GCE, we have to end up with a Google trusted (not just k8s master trusted), compute-rw scoped access token at the point where we make the AttachDisk call.
If we want this call to happen in the kubelet (as it does today), I see three options:

1. Node VM has compute-rw scope (status quo). Google client libraries know how to get access token from metadata server.
  * This means that everything ru

[2015-05-13 06:43] bgrant0607 commented on #8087
Note that examples and docs are covered by #6584. See also #5475.

@nikhiljindal @caesarxuchao @krousey

[2015-05-13 06:48] roberthbailey commented on #8144
@thockin FYI

Should we just rename this issue "DNS is broken after reboot"?

[2015-05-13 06:53] thockin opened #8163 "DNS healthcheck broken by new exec semantics"
#8011 went in, so I think the DNS healthcheck is broken now.

@vishh should be an easy fix.

[2015-05-13 06:57] thockin commented on #8042
Aha.  foobar is the name that the healthcheck uses to see if DNS is alive.
If you deployed TODAY you might see it broken as you describe (I just filed
a bug on it).

But that doesn't explain why it was failing yesterday.  Can you look in
that node's kubelet log for any clues about healthcheck failing?

On Tue, May 12, 2015 at 11:37 PM, biswars <notifications@github.com> wrote:

[2015-05-13 07:00] thockin commented on #8144
What does reboot have to do with DNS?  That's bizarre.  Trying to repro

On Tue, May 12, 2015 at 11:48 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-13 07:02] bgrant0607 commented on #8087
There are still 150 references to v1beta1:
https://github.com/GoogleCloudPlatform/kubernetes/search?p=9&q=v1beta1&utf8=%E2%9C%93

I suggest dividing them up among multiple people. Possible categories:
* UI javascript
* /cluster
* docs
* getting-started guides
* examples
* contrib
* Kubelet and its client
* kubectl
* API validation tests
* misc. tests

[2015-05-13 07:18] thockin commented on #8144
From controller-manager logs:

I0513 07:13:10.186807       7 defaults.go:179] upward merge of
container.Capabilities.Add for container skydns
I0513 07:13:10.186848       7 defaults.go:183] upward merge of
container.Capabilities.Drop for container skydns
I0513 07:13:10.186873       7 defaults.go:189] downward merge of
container.Privileged for container skydns
I0513 07:13:10.189282       7 controlle

[2015-05-13 07:31] roberthbailey commented on #8163
Was this caught by an e2e test? If not, why not?

[2015-05-13 07:33] piosz commented on #8144
Thanks @mbforbes for details. The problem with guestbook should be figured out once DNS starts working. I'll also take a look into the problem with DNS.

cc @satnam6502 who may have an idea why elasticsearch doesn't work

[2015-05-13 07:35] satnam6502 commented on #8144
The elasticsearch test needs DNS to be working. So if DNS if busted, the elasticsearch e2e test will fail.

[2015-05-13 07:36] satnam6502 commented on #8144
Although note that I did update the Elasticsearch logging setup on Tuesday and I did slightly adjust the elasticsearch logging e2e test.

[2015-05-13 09:40] brendandburns commented on #8163
No, e2e (on GCE at least) is green.  Do we e2e the DNS healthcheck?

[2015-05-13 09:48] brendandburns opened #8167 "Rolling update doesn't print useful messages when validation fails"
Thanks Jeff for the tip - I tried the rollingupdate with a v1beta3 controller and got "ERROR: Error: kubernetes/specs/controller-v6.yaml does not specify a valid ReplicationController". Here's my replicationcontroller in full:

[code]

[2015-05-13 11:55] piosz commented on #8144
kube2sky is crashlooping with the following error:
[code]

Crashloop logs:
[code]

[2015-05-13 12:00] wojtek-t commented on #3338
The apiserver should be a dumb CRUDy server, so it should be spending all its time on unmarshaling/marshaling, defaulting, validation, conversion, reading/writing from/to etcd, and memory allocation/GC.

I think noone disagrees with that, but currently there are either too many of these operations or they are to slow. That's why we're trying to speed up some of them.

[2015-05-13 12:05] wojtek-t commented on #7561
I got the latency down from 20ish seconds-> 13s for the 3000x100 case (raw etcd list was 11s, with a single core) by not doing a deep copy when we pull objects out of the cache. For the specific case of list, a deep copy shouldn't be necessary. There are however other callers of that decoding routine that might need the copy. And of course the go race detector.

I will be working on optimizing Dee

[2015-05-13 12:14] wojtek-t commented on #8054
That's interesting - I think that relfection is extremely slow, but it seems there are things that are slower :) That's generally good since we're going into generating code direction which will be even faster.

@lavalamp I think this observation doesn't apply to the standard library JSON parser. If we don't use gob or something that behaves similarly, then my suggestion is purely style.

So I thi

[2015-05-13 12:53] rootfs commented on #8070
about that annoying message, it seems a [reported docker problem](https://github.com/dockerimages/docker-systemd/issues/1)

[2015-05-13 12:56] zmerlynn opened #8171 "Monit does not monitor Kubelet/Kube-proxy on master"
Noticed on internal tight cluster-up/down loop, one of our clusters failed to come up. I logged into the failed cluster, and none of the master components were running. (`docker ps` is empty). Checked docker logs, and it's clear we started them all .. and then knocked Docker over. Looked at monit logs, and yup:

[code]

What's supposed to restart the master components? Clearly kubelet doesn't seem

[2015-05-13 12:57] zmerlynn commented on #8171
cc @ArtfulCoder as well, of course

[2015-05-13 13:00] zmerlynn commented on #8171
Hrm, kubelet thinks it recovered the containers:
[code]

[2015-05-13 13:55] #8114 closed

[2015-05-13 14:10] pamatteo commented on #7954
this is the case when you use `sudo docker` from command-line, kubelet looks in the kubelet home which may vary as said [here] (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/images.md).

[2015-05-13 14:15] adarell opened #8176 "Flannel doesnt Start"
Hi,

i tried to deploy a kubernetes Cluster with the "getting started" guide for ubuntu with the kube-up.sh.
The deployment stop at "validating root@<ip>" and paint dot every 3 seconds. i checked the log files on the minions and in the flanneld.log i found this:
E0513 15:01:06.825805 05843 main.go:171] Failed to create SubnetManager: 100: Key not found (/coreos.com) [14]
E0513 15:01:07.827145 0584

[2015-05-13 14:18] justinsb commented on #8114
Does this mean that the official k8s distribution is broken on AWS, BTW?  When is the next point release (and where are these discussed)?

[2015-05-13 14:24] #8113 closed

[2015-05-13 14:26] zmerlynn commented on #8114
We cherry-pick into point releases as necessary, and it's been pretty informal and usually initiated by us (Google). I'd actually be happy to have a discussion about how to initiate it externally (we're going to need a policy for requesting such things). cc @goltermann

[2015-05-13 14:29] zmerlynn commented on #8114
FWIW, policy aside, I'm happy to cut a point release for this once you think #8131 is tested well enough.

[2015-05-13 14:39] justinsb commented on #8114
That would be great, thanks.  I'll be testing it pretty hard today, I think.

It has occurred to me that other clouds may also be broken.  By grepping, it looks like vagrant and vsphere use bootstrap.saltstack.com.  I am utterly unfamiliar with the vsphere implementation, and I think vagrant sidesteps the issue because on Redhat is skips the call to container_bridge.ensure.  It might be good to ge

[2015-05-13 14:43] derekwaynecarr commented on #8114
I will test out the Vagrant setup today, but I think we should be good because we do not use the same networking setup.

[2015-05-13 14:47] zmerlynn commented on #8114
@justinsb File a bug for a 0.17.1 to get this cherry-picked and assign it to me, as a reminder?

[2015-05-13 15:12] abonas commented on #6979
@bgrant0607
Does this change go just into v1 and not the other api versions?
Does v1beta3/2/1 require conversion for this or can it be done without the conversion?

[2015-05-13 15:17] soltysh opened #8178 "Missing secret loops endlessly"
I've created a pod with a non-existent secret, in return the pod hangs in `Pending` state and  keep trying to mount that secret endlessly, the repeating error from log is:
[code]
I'd expect it fail after some time.
@pmorie @smarterclayton thoughts?

[2015-05-13 15:27] satnam6502 commented on #8144
So it looks like it is not finding the dns_token secret?

[2015-05-13 15:31] vmarmol commented on #8171
@zmerlynn that line is from cAdvisor, it shouldn't affect Kubelet's work. I'd be interested to take a look at the cluster and Kubelet's log. I wonder if we're unable to make a connection to Docker (we never retry).

[2015-05-13 15:32] erictune commented on #7963
After #5921 is done, then we won't have anything called readonly.  All
accounts (admin, default service account, etc) will be equally powerful.

Once we merge REST Policy, we will have differentiated permissions for
different roles.

On Tue, May 12, 2015 at 3:29 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-13 15:39] thockin opened #8179 "Liveness probe failures should be logged by default"
It seems that the default v=2 logging does not include the fact that liveness probes failed or their output.  It should - this is significant.

Also all exec probes say "health check", even if it is a readiness check, I think.

[2015-05-13 15:40] thockin commented on #8163
It looks like the DNS healthcheck might never have worked as intended.

[2015-05-13 15:40] thockin commented on #8163
Specifically, it always emits "OK" and exits 0, as far as I can tell.

[2015-05-13 15:46] thockin opened #8180 "Kubelet log: error creating mirror pod"
Failed creating a mirror pod "fluentd-elasticsearch-kubernetes-minion-jrlj_default": Pod "fluentd-elasticsearch-kubernetes-minion-jrlj" is forbidden: A mirror pod may not reference secrets

@yujuhong for prio and team assignment

[2015-05-13 15:48] vishh commented on #8163
Looking into this issue now.

On Wed, May 13, 2015 at 8:41 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-05-13 15:48] BenTheElder commented on #8147
In any case, the docs generally tell us to use https or https://get.k8s.io so I've opened a PR to change it to https.

[2015-05-13 15:49] antmanler commented on #8144
+1 the same issue, cannot find dns_token

[2015-05-13 16:08] dchen1107 commented on #8171
@zmerlynn From what you posted above, looks like monit restarted docker properly, and kubelet is running normally. Since I don't have kubelet log, I just randomly guessed several possibilities:

1) Some thing failed to generate proper master components manifest. Can you check /etc/kubernetes/manifests?
2) what is the output of 'ps -ef | grep kubelet'?

[2015-05-13 16:10] BenTheElder commented on #8147
Hmm so I've just tested this from a computer that has not previously interacted with github (a little debian server). It fails similarly.

[2015-05-13 16:14] venkatramachandran opened #8183 "hack/local-up-cluster.sh complains of missing dependencies"
I cloned kubernetes, ran `make release-skip-tests` and then ran `hack/local-up-cluster.sh`. This gives me the following error, majorly complaining about missing dependencies.

===============================
[code]
===============================

What am I missing here?

[2015-05-13 16:18] erictune commented on #8074
From a security standpoint, I like the idea of a PersistentDiskController
which runs wherever its runs (let's try not to use the word master), and
which has a GCE token to let it mount disks.

Need to analyze what happens in bootstrapping and failure situation.

Also, wonder how many other types of cluster filesystems support a remote
attachment approach.  If it is just GCE, maybe not worthwhile.

[2015-05-13 16:19] bakins commented on #7203
What can we do to push this forward? Would like to get something in before 1.0. the `kind` field on the image seems reasonable if we can figure out the json piece.

[2015-05-13 16:27] zmerlynn opened #8184 "Services failing to get a public IP on GKE 0.17.0"
Also came up in our private testing of 0.17.0, I presume it may be showing up in GCE but haven't scoured the results analyzer yet. We have two tests flaking on on GKE jobs `Services should correctly serve identically named services in different namespaces on different external IP addresses` and `Services should be able to create a functioning external load balancer`. Both fail in the same way:

[c

[2015-05-13 16:28] zmerlynn commented on #8171
I gave @vmarmol the access info.

[2015-05-13 16:29] zmerlynn commented on #8171
... but you already have access to our project, too, if you want to login. Forwarding you the email.

[2015-05-13 16:30] cjcullen commented on #8074
And if we move to a reconciler-style controller for attaching the disk, we'd decouple that from the local mounting that kubelet has to do, hopefully preventing issues like #7972.

[2015-05-13 16:33] thockin opened #8185 "Need e2e test for DNS"
Test the various levels of resolution, test killing the DNS server, test SIGSTOPing DNS server etc.

[2015-05-13 16:34] rjnagal commented on #8159
@colemickens can you get the logs for service start failure.

@errordeveloper can you help verify weave setup? Thanks!

[2015-05-13 16:37] vmarmol commented on #8171
It appears the Kubelet is not running on the machine. Investigating...

[2015-05-13 16:39] thockin commented on #8163
The fix is easy but we have no DNS e2e test (yet, Vish and I talked about it).  I'm inclined to push the fix for this even without e2e coverage, since it's legit busted right now.

[2015-05-13 16:42] yujuhong commented on #8180
The relevant secret account code was added in #7101. It prevents mirror pods from accessing secrets or service accounts.

@satnam6502, I think this is why you didn't see your fluentd pods yesterday.

[2015-05-13 16:46] thockin opened #8186 "Pod-level liveness probes"
All of our health checks are currently on containers.  If a check fails, we restart the single container.  I'm looking at the DNS pod, which runs etcd and kube2sky and skydns.  We have a healthcheck for skydns - do a DNS lookup.  But sometimes it fails because there's an etcd failure or a kube2sky bug.  what I really want is to restart the whole pod when the healthcheck fails.

[2015-05-13 16:48] vmarmol commented on #8171
Looks like we don't register the Kubelet (and Kube-proxy) with monit on the master. Oops :-\ the Kubelet went down 10h ago and nothing restarted it.

Monit on the master is tracking (verified on a clean cluster I have):
- Docker

Monit on the nodes is tracking:
- Kubelet
- Kube-proxy
- Docker

Looks like we only set up monit for nodes:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master

[2015-05-13 16:48] dchen1107 commented on #8171
On master node, monit only watch docker, not kubelet and kube-proxy. I will send fix soon.

[2015-05-13 16:50] errordeveloper commented on #8159
@colemickens, thank you for reporting this! Could you please provide the output of `systemctl status install-weave.service` from all of the nodes please?

[2015-05-13 16:50] bprashanth commented on #8119
Fyi depending on the value you increase it by, you will also want to tweak the expiration on the cache  per the comment above it describing expected qps/latencies
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/controller/replication_controller.go#L61

It sounds like all you're doing is measuring the time it takes to push 1000 pods, 40 per node, into running.   I plan to run some

[2015-05-13 16:51] roberthbailey commented on #8144
This appears to be caused by #7958.

[2015-05-13 16:52] thockin commented on #7958
@pmorie - this is now affecting DNS, moved to P0.  Status?

[2015-05-13 16:53] thockin commented on #8144
I was just writing the same response.  Yes,

On Wed, May 13, 2015 at 9:51 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-05-13 16:53] pmorie commented on #7958
@thockin i'll have a fix today.
On Wed, May 13, 2015 at 12:52 PM Tim Hockin <notifications@github.com>
wrote:

[2015-05-13 16:54] kbeecher commented on #3476
OK. I want to get a better impression of how this might work. Could you elaborate a little more on the kind of management commands you envision using; perhaps an excerpt from a mock CLI history where you create a couple of clusters, assign various resources among them and so on?

[2015-05-13 16:59] yujuhong commented on #8180
Add more people who participated in #7101 to see if secret should be used my mirror pods, and what the alternatives are: @erictune, @liggitt

@satnam6502, I assigned the issue to you since you practically own fluentd & elasticsearch. Feel free to reassign.

[2015-05-13 17:02] mbforbes commented on #7958
Quick naive question: we encountered this (as well) doing reboot e2e tests. The next e2e test we'll do is a full "blow away the nodes" test (delete each and recreate it). Will the secrete implementations (writing on the host's disk, to tmpfs) persist, or be expected to, after the node gets blown away and recreated?

[2015-05-13 17:04] zmerlynn commented on #8171
Thanks! FWIW, we're pushing 0.17.0 anyways, so unless there's a dot release soon (which I may do for a different change), it's not an emergency.

[2015-05-13 17:07] satnam6502 commented on #8180
I am happy to take on this issue -- but I would like to talk to someone who can explain to me why the node level logging agents are not allowed to access the logging secrets that were created specifically for their use? Until then I can remove their use of secrets since I had not added yet the reason for their use (a refinement for getting label metadata that required apiserver access).

[2015-05-13 17:09] rjnagal commented on #8176
Looks like flannel didn't like the etcd keys in your configuration

@WIZARD-CXY can possibly help.

[2015-05-13 17:16] #6800 closed

[2015-05-13 17:18] liggitt commented on #8180
If I understand correctly, mirror pods come from a manifest file given directly to a kubelet, and they should not assume the kubelet has a connection to the API at all (which it would need to resolve service account or secret references from the pod spec). If the goal is to run a pod on every node, I'm wondering if what is described in #1518 is a better path there.

The ServiceAccount admission co

[2015-05-13 17:19] caesarxuchao commented on #8087
I will first work on

   - contrib
   - docs

On Wed, May 13, 2015 at 12:02 AM, Brian Grant <notifications@github.com>
wrote:

--
Regards,
Chao Xu

[2015-05-13 17:20] smarterclayton commented on #8180
If mirror pods can ask for arbitrary secrets that means any one who can take control of a node can get all secrets from a namespace.  Seems dangerous

[2015-05-13 17:21] roberthbailey commented on #8184
@a-robinson was looking into a low % failure rate for the creating external load balancer test.

[2015-05-13 17:21] rjnagal commented on #8183
It looks like your GOROOT setting is wrong.
Can you verify that you have the right path and all the go libs under /usr/local/go?

[2015-05-13 17:26] rjnagal commented on #8186
Shouldn't a probe for kube2sky/etcd catch this and restart those? It sounds more like a e2e probe. If the problem is, say a kube2sky bug, how would restart help?

[2015-05-13 17:26] krousey commented on #8087
I will take a look at /cluster

[2015-05-13 17:31] lavalamp commented on #8160
I'm OK with only running verify-gendocs.sh in travis/shippable. Honestly it only ever produces noise for me locally (when you switch branches and fail to `make clean`, it fails you for no reason). But maybe it's different if you work on the cli a lot?

[2015-05-13 17:34] lavalamp commented on #8119
If it turns out scheduler is a bottleneck, I have at least one planned
optimization that I haven't been prioritizing.

On Wed, May 13, 2015 at 9:51 AM, Prashanth B <notifications@github.com>
wrote:

[2015-05-13 17:34] dchen1107 commented on #8087
@nikhiljindal We already cut one image: container-vm-v20150505 which includes kubernetes 0.16.2 and docker 1.6.0. Next one can include kubernetes 0.17.X and docker 1.6.2. So that we have two image releases include both APIs. You can drop v1beta1 now.

cc/ @zmerlynn

[2015-05-13 17:38] lavalamp commented on #8144
Yeah, the crashloop explains why endpoints controller isn't making any endpoints (I *am* getting nervous because there's been NO BUGS in my rewrite of endpoints controller, so there's probably a really awful one waiting to bite us, but this is not it.). This is clearly #7958. Let's just close this as a dup?

[2015-05-13 17:39] piosz commented on #8144
duplicate of #7958

[2015-05-13 17:39] #8144 closed

[2015-05-13 17:42] pmorie commented on #7958
@mbforbes If you delete a node and recreate it, the secrets volume plugin will set up everything again.

[2015-05-13 17:43] quinton-hoole commented on #8184
For what it's worth, the flake rate for "Services should be able to create a functioning external load balancer" on our kubernetes-e2e-gce continuous integration is 7 failures out of the past 313 runs ~2.2%

[2015-05-13 17:45] quinton-hoole commented on #8184
For "Services should correctly serve identically named services in different namespaces on different external IP addresses" the flake rate is about 1% over the past 313 runs.

[2015-05-13 17:50] sym3tri commented on #7018
I guess I lack some of the context around the event TTLs and the future plans. Mostly what I want to do is list events only for specific pods, nodes, label queries etc.

[2015-05-13 17:50] quinton-hoole commented on #8184
The flake rates for the above two tests on kubernetes-e2e-gke-test are not statistically different from kubernetes-e2e-gce.

[2015-05-13 17:51] quinton-hoole commented on #8184
@zmerlynn What flake rates are you referring to in the original issue report above.  Significantly higher than 1%?

[2015-05-13 17:52] pmorie commented on #7958
@thockin Is there an e2e I can use to repro this?

[2015-05-13 17:56] fgrzadkowski commented on #8119
What do you mean by garbage collection?

-- sent from a mobile device
12 maj 2015 18:39 "Timothy St. Clair" <notifications@github.com> napisał(a):

[2015-05-13 18:01] bgrant0607 commented on #7203
We're going to decide what's in/out of the v1 API in the next few days.

It doesn't look like we're going to have time to design/develop the plugin mechanism and move all the volume sources to it, so we needn't block on that mechanism for this, either.

We mainly need to decide whether OneOf is really necessary for the image format or not.

Once we support more diverse runtimes, such as Fabric8 or

[2015-05-13 18:01] thockin commented on #8178
Dup of #7958 ?

[2015-05-13 18:11] zmerlynn commented on #8184
I could believe it's a 2% flake. They each flaked twice on both gke-test and gke-staging in the 0.17.0 window (which is a pain in the ass to figure out), for a total of 2/~50 runs on each test (roughly). So we saw an above average window, similar to the situation with #8113.

It made for a rather noisy release analysis.