[2020-01-13 02:49] gitbeyond commented on #85422
my environment is as follows
[code]

[2020-01-13 03:02] zhangguanzhang commented on #76146
/remove-lifecycle stale

[2020-01-13 03:05] snowplayfire commented on #82773
@junjieyjj   The two new nodes' cidrs are allocated by controller-manager or by hand?

[2020-01-13 03:12] avalonzst commented on #29330
problem still occurs for kubenetes1.6.0 with etcd 3.3.8
[root@umsk8s-master kubernetes]# etcdctl --version
etcdctl version: 3.3.8
API version: 2
[root@umsk8s-master kubernetes]# kube-apiserver --version
Kubernetes v1.6.0
[root@umsk8s-master kubernetes]# kubectl get cs
NAME                 STATUS      MESSAGE                                                                       ERROR
controller-man

[2020-01-13 03:15] mmpei commented on #87070
thank you. but our scenarios are different. we use multiple deployment when upgrading using canary strategy, and our process like,
1. scale down the primary deployment and scale up the canary deployment.
2. do testing.
3. adjust the rest of the replicas after all of the tests pass
it will make the metrics highly unstable, and the replicas of deployment changes multi-times. so the best way is to di

[2020-01-13 03:25] mmpei commented on #87070
i read the issue you mentioned and agree the point `HPA is incompatible with any action to replicas`. so it is better to eliminate HPA but not try to reduce the affect of HPA when you want to adjust replicas. @hprateek43

[2020-01-13 03:39] snowplayfire commented on #86986
It's my understanding:

`nodes's pod info by docker ps are consistent with kubectl describe nodes` means datas in etcd are correct,  `kubelet logs are different` means kubelet's cache isn't consistent with etcd. `The problem can be solved after restart kubelet` means the kubelet re-lists all from etcd and re-establish a correct cache.

[2020-01-13 03:53] manukoli1986 commented on #86846
Any update for release v1.17.1..

[2020-01-13 04:27] prksu commented on #87110
/remove-sig network
/sig testing

[2020-01-13 04:36] alexcpn commented on #60538
This is marked as closed, but I could fix the problem by the solution /workaround provided here in v1.17

`
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:20:10Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:

[2020-01-13 04:46] liggitt commented on #60538
no, this was fixed by https://github.com/kubernetes/kubernetes/pull/60542

[2020-01-13 05:20] fedebongio commented on #86888
Looks like someone was faster than me and this was fixed as part of: #86854

[2020-01-13 05:20] fedebongio commented on #86888
/close

[2020-01-13 05:20] #86888 closed

[2020-01-13 05:24] liggitt commented on #86846
1.17.1 is targeted for 1/14 - https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#117

[2020-01-13 05:27] hex108 commented on #86803
I have done most of the work for this issue. Howerver there is a problem I have not solved.

When [`predicates.GeneralPredicates`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/lifecycle/predicate.go#L92) fails because of insufficient resources, kubelet will try to recover from it.

https://github.com/kubernetes/kubernetes/blob/36e40fb850293076b415ae3d376f5f81dc897105/pkg/kubele

[2020-01-13 05:30] qqshfox commented on #81636
We have not yet experienced this issue since we deployed the modified KCM into our production cluster 3 weeks ago. We upgraded our cluster from 1.11 to 1.13. For each minor version we upgraded to, we deployed a patched KCM and running for a whole week.

However, we haven't tested and haven't inspected the later version, e.g. 1.14, which rewrote this part from https://github.com/kubernetes/kubernet

[2020-01-13 05:41] OPSTime commented on #86864
**$ kubeadm alpha certs renew apiserver-kubelet-client --config=/etc/kubernetes/kubeadm.conf --v=5**
[code]

**$ kubeadm alpha certs renew controller-manager.conf --config=/etc/kubernetes/kubeadm.conf --v=5**
[code]
**$ kubeadm alpha certs renew front-proxy-client --config=/etc/kubernetes/kubeadm.conf --v=5**
[code]
**$ kubeadm alpha certs renew scheduler.conf  --config=/etc/kubernetes/kubeadm.con

[2020-01-13 05:43] vllry opened #87123 "Remove {ipv4, ipv6} tuple conventions in kube-proxy"
Followup of non-blocking comments on #82462

Replace the ipv4 and ipv6 proxier tuples in kube-proxy with maps.

[2020-01-13 05:44] vllry commented on #87123
/sig network
/assign

[2020-01-13 05:44] vllry commented on #87123
/kind cleanup

[2020-01-13 06:30] krmayankk commented on #9043
@bgrant0607 @davidopp  @kow3ns is this still in the plans ?

[2020-01-13 06:30] skilxn-go commented on #87108
How can you say the latency when this runtime remote call is not finished? Accroding the code piece you show, the PLEGRelistDuration will be update after this runtime remote call finished or timeout

[2020-01-13 06:48] OPSTime opened #87126 "Kube API server logging is trace mode, which results in a large amount of logs. How to close?"
**Version：**
[code]

**Kube API server logging is trace mode, which results in a large amount of logs. How to close?**

[code]

[code]

[2020-01-13 07:10] zhouya0 commented on #86984
In brief, `--log-file-max-size` can only be useful for a specific file which is set by `--log-file`.

This logic in `klog` is :
[code]
Which means, if there is not a `log-file` specified, then use the default max bytes: 1800M.

[2020-01-13 07:22] fseldow opened #87127 "Azure - PIP dns label will be default deleted when there is no service dns annotation"
**What happened**:
After issue https://github.com/kubernetes/kubernetes/issues/67813 is fixed. Cloud provider will automatically reconcile the Azure Public Ip DNS record same as the service annotation.
As a result, user finds their DNS record will be deleted if the annotation `service.beta.kubernetes.io/azure-dns-label-name` is not set.
Such a change is a block to users who have set the DNS record

[2020-01-13 07:23] fseldow commented on #87127
/sig Azure

[2020-01-13 07:23] fseldow commented on #87127
/sig cloud-provider

[2020-01-13 07:25] fseldow commented on #87127
/area provider/azure

[2020-01-13 07:36] brancz commented on #83782
/remove-lifecycle stale

[2020-01-13 08:17] prksu opened #87131 "[Failing Test] integration-master (ci-kubernetes-integration-master)"
**Which jobs are flaking**:

[code]

**Which test(s) are flaking**:

[code]

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for failure**:

[code]

**Anything else we need to know**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=dynamic_client_test.go%3A88%3A%20unexpected%20pod%20in%20list.&job=ci-kubernetes-integr

[2020-01-13 08:24] droslean commented on #87131
This flake started to appear after #87044
@jennybuckley Is this related?

[2020-01-13 08:41] xieyanker opened #87133 "What is ListKind's usefulness in CRD?"
Hello, I would like to know what is ListKind's usefulness in CRD?

[code]

I found this parameter in CRD.spec.names. However, I didn't find any other info about it, anyone can help me?

[2020-01-13 08:42] xieyanker commented on #87133
/sig cli

[2020-01-13 08:54] pohly commented on #74352
Marius Grigoriu <notifications@github.com> writes:

What particular issue do you see when importing
k8s.io/kubernetes/test/e2e? Technically it's not that different from
importing a future k8s.io/test-e2e, so I suspect that whatever
challenges you currently encounter will not go away.

In particular, "go get replace" is necessary to ensure that all
Kubernetes components are from the same release. H

[2020-01-13 09:09] libnux opened #87135 "kube-apiserver panic caused by etcd-cient trying to close a closed channel"
**What happened**:
kube-apiserver crashed due to etcd-cient trying to close a closed channel
**What you expected to happen**:
kube-apiserver keep running instead of crashing
**How to reproduce it (as minimally and precisely as possible)**:
Not easy to reproduce
**Anything else we need to know?**:
## apiserver logs
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):  k8s v1.10.5,

[2020-01-13 09:10] libnux commented on #87135
/sig api-machinery

[2020-01-13 09:11] libnux commented on #87135
Is this problem related to or fixed by this PR of etcd? https://github.com/etcd-io/etcd/pull/8471

[2020-01-13 09:21] mxey commented on #82889
Why was this closed? As I understand the issue, kubeadm fails to upgrade without additional options because of a configuration that was created by a previous kubeadm?

[2020-01-13 09:33] andy-wolf168 opened #87136 "high priority pods be evicted when diskPressure in k8s 1.15"
My k8s version is 1.15.6.
I want my  high priority pods won't be evicted when diskPressure.
I found that PR: https://github.com/kubernetes/kubernetes/pull/87144 , high priority pods should not be evicted when diskPressure.
I won't update to 1.17 temporarily.
 so can patch this PR to k8s 1.15?

**What happened**:
high priority pods won't be evicted when diskPressure

**What you expected to happen**

[2020-01-13 09:48] msvticket commented on #80207
/remove-lifecycle stale

[2020-01-13 09:49] aojea commented on #87123
/remove-triage unresolved

[2020-01-13 09:59] bysnupy commented on #87108
@skilxn-go  You mean, how can we check the latency while the runtime remote call is not finished ?
This issue is, PLEGRelistDuration depends on runtime remote call response. So we check the relist latency using other goroutine, such as Heathy check which is called from syncLoop() additionally.

My thought is as follows.
e.g.>
relist latency is updated two path.
1. every relist process
2. Healthy c

[2020-01-13 10:17] sylr opened #87137 "kubectl missing rollout restart completion"
**What would you like to be added**:

kubectl is missing completion for rollout restart command.

**Why is this needed**:

[2020-01-13 10:18] sylr commented on #87137
/sig cli

[2020-01-13 10:28] mhprowler commented on #67440
Which k8s release will this be in? Thanks

[2020-01-13 10:31] skilxn-go commented on #87108
I think latency is a request-level value. If it's designed like what you want, when people say latency=100ms, how can we figure out whether it means the last request finished in 100ms, or it's just a real time value when request is pending?
Instead of adding this confusing update of latency, why don't you use metrics.PLEGLastSeen to caculate 'how long does this request lasts for' ?

[2020-01-13 10:32] ijunbin commented on #79024
@a-hat
do you fix out this?  i get the same problem when use grok
`ConfigError error="Unknown parser plugin 'grok'`

[2020-01-13 10:55] mindw commented on #26895
Still there in v1.16.x :(

[2020-01-13 11:04] tdihp commented on #86944
Hi @yuzhiquan Any chance you have a way to reproduce this? We are struggling to make a lab reproduction.

[2020-01-13 11:20] droslean commented on #86788
@Random-Liu Any news?

[2020-01-13 11:28] droslean opened #87141 "[Failing Test] post-release-push-image-deb-builder (post-release-push-image-deb-builder)"
**Which jobs are failing**:
`post-release-push-image-deb-builder (post-release-push-image-deb-builder)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#post-release-push-image-deb-builder

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/cc @kubernetes/release-managers
/sig release
/milestone v1.18

This is a postsubmit job for

[2020-01-13 11:32] droslean opened #87142 "[Flaky Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are failing**:
`[sig-network] Networking Granular Checks: Services should update nodePort: udp [Slow]`

**Since when has it been failing**:
`01-12 04:02 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure*

[2020-01-13 11:33] droslean commented on #87142
/milestone v1.18

[2020-01-13 11:37] droslean opened #87143 "Single prober not discovered via Prometheus cause scalability tests failures"
**Which jobs are failing**:
`gce-master-scale-performance (ci-kubernetes-e2e-gce-scale-performance)`

**Since when has it been failing**:
`12th Jan 09:02 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig scalability
/cc @kubernetes/ci-signal
/priority critical-urgent
/m

[2020-01-13 11:42] andy-wolf168 commented on #87136
/sig apps
/sig usability
/sig cluster-lifecycle
/sig node

[2020-01-13 11:47] systm32 opened #87145 "Kube-scheduler doesn't retry rescheduling the pod"
**What happened**: Pod remains in a Pending state. In the kubernetes yaml file we have one daemonSet, one PV and one PVC to be created. Daemonset pods are using the PVC. Deleting and recreating these resources in a loop creates this issue intermittently. Even in success case in the events section I do see few initial warning messages "pod has unbound immediate PersistentVolumeClaims" where schedul

[2020-01-13 11:50] droslean commented on #85814
/cc @childsb @saad-ali

[2020-01-13 11:59] OlegLoewen opened #87146 "[Flaky Test] HostPath should give a volume the correct mode"
**Which jobs are flaking**:
None

**Which test(s) are flaking**:
- [sig-storage] HostPath should give a volume the correct mode [LinuxOnly] [NodeConformance] [Conformance]

**Testgrid link**:
N/A

**Reason for failure**:
[code]

**Anything else we need to know**:
[build-log.txt](https://github.com/kubernetes/kubernetes/files/4053387/build-log.txt)

[2020-01-13 12:00] OlegLoewen commented on #87146
/sig storage

[2020-01-13 12:10] zhengqisong opened #87147 "volumes serviceAccountToken mountVolume.SetUp failed"
**error message:**
  Warning  FailedMount  9m54s (x31 over 77m)  kubelet, 192.168.0.2  Unable to mount volumes for pod "sa-token-test_zhen
gqs1(22b45b06-bfca-44cd-96f1-00d8b780f246)": timeout expired waiting for volumes to attach or mount for pod "zhengqs1"/"sa-token-test". list of unm
ounted volumes=[token-vol]. list of unattached volumes=[token-vol default-token-88fzk]
  Warning  FailedMount  4m

[2020-01-13 12:35] SkySonR commented on #74340
The same issue with:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.4", GitCommit:"224be7bdce5a9dd0c2fd0d46b83865648e2fe0ba", GitTreeState:"clean", BuildDate:"2019-12-11T12:47:40Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.4", GitCommit:"224be7bdce5a9dd0c2fd0d46b83865648e2fe0ba", GitTr

[2020-01-13 12:38] blurpy commented on #77182
Based on #77611 it looks like the apiserver will remove the /logs/ endpoint, but what about the kubelet? As the original rancher issue discusses, the kubelet is affected by the same issue.

[2020-01-13 12:41] oxddr commented on #87143
/assign

[2020-01-13 13:04] hasheddan opened #87148 "[Failing Test] integration-master (ci-kubernetes-integration-master)"
**Which jobs are failing**:
`integration-master (ci-kubernetes-integration-master)`

**Which test(s) are failing**:
`k8s.io/kubernetes/test/integration/client.TestDynamicClient`

**Since when has it been failing**:
First Failure: `Jan 12, 15:10 PST`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#integration-master

**Reason for failure**:

[code]

**Anything else

[2020-01-13 13:06] hasheddan commented on #87148
Looks like an issue has already been opened for this, closing in favor of #87131

[2020-01-13 13:06] #87148 closed

[2020-01-13 13:16] ervinb commented on #51096
Try doubling your CPU requests to see if that helps. I saw readiness probes failing due to lack of resources.

[2020-01-13 13:18] jsafrane commented on #82340
Checked in 1.17, `SetupDevice` now calls only `NodeStageVolume`
https://github.com/kubernetes/kubernetes/blob/4578c6c8ce85ea89c055b6be7a51b7c8e573e809/pkg/volume/csi/csi_block.go#L300

`NodePublishVolume` is called only by `MapPodDevice`.

/close

[2020-01-13 13:19] #82340 closed

[2020-01-13 13:23] OliverCole opened #87149 "Default scheduler human-friendly warning ordering"
While working on pod affinity, I got a typical warning from the `default-scheduler`:

`0/6 nodes are available: 3 Insufficient memory, 6 node(s) didn’t match node selector`

Now the problem here is I messed up my affinity labelling. But by putting the memory error first, the error message can (and did, in the case of my colleagues) mislead people into trying to diagnose the memory issue.

In langu

[2020-01-13 13:24] liggitt commented on #79384
As of Kubernetes v1.17.0+, it is even easier to find the corresponding tags for these repositories. Simply use v0.x.y to correspond to any v1.x.y Kubernetes release over v1.17.0 (note the v0 instead of v1…).

For example, for Kubernetes v1.17.0, the published staging repositories are all tagged with v0.17.0.

See https://github.com/kubernetes/client-go/blob/master/INSTALL.md#add-client-go-as-a-dep

[2020-01-13 13:30] neolit123 commented on #82889
i don't believe this part is true.

the "hosts" plugin is not part of the kubeadm 1.16 manifests, so it's user added:
https://github.com/kubernetes/kubernetes/blob/release-1.16/cmd/kubeadm/app/phases/addons/dns/manifests.go#L313-L329

[2020-01-13 13:33] mxey commented on #82889
@neolit123 hosts is, but proxy was in the default: https://github.com/kubernetes/kubernetes/commit/c346ae1e49883852bda88bd429f2dcd42063548d#diff-81c5511bc26ac9a2e5cdf87b9d5da921

[2020-01-13 13:40] itsecforu opened #87150 "how to change PODcidr on specifiec nodes Kubernetes"
Hello Folks!

I have setup a kubernete cluster with kubeadm in baremetal.

the cluster works well.

Next I connected some workers nodes.

But for some reason other IP addresses of Pods were assigned.

now when you deploy a service, if it is installed on one of these new nodes, errors appear.

Error - "NetworkPlugin cni failed to set up pod"

I don’t want to do init (kubeadm init --pod-network-cidr

[2020-01-13 13:41] neolit123 commented on #82889
the proxy plugin is mentioned as deprecated:
https://github.com/kubernetes/kubernetes/issues/82889#issuecomment-533256854

[2020-01-13 13:44] max-rocket-internet commented on #79365
That's great but it's still a bug for people who only have a single container in their pods.

I've asked for reviews on https://github.com/kubernetes/kubernetes/pull/86044

[2020-01-13 13:50] joelsmith commented on #81145
/remove-lifecycle stale

[2020-01-13 13:51] OliverCole commented on #87149
/sig scheduling

[2020-01-13 13:54] max-rocket-internet commented on #78761
Do the other people who have hit this issue also have other pods that might have a the same labels as the pods from the deployment of the HPA? For example, created from cronjobs/jobs?

[2020-01-13 14:36] mxey commented on #82889
@neolit123 I know, but ignoring the preflight warning makes the upgrade go through just fine, including migration the ConfigMap. So what is the point of the warning?

[2020-01-13 14:36] chrisohaver commented on #82889
I think the migration logic in kubeadm checks the supportability of the current config in all versions from the starting point to the destination - hence kubeadm was alerting incorrectly about _proxy_, which would have been valid in the current version, but then deprecated/removed by the destination version.  It should instead check only the starting point - ensuring that there are no unsupported

[2020-01-13 14:43] ahg-g commented on #87086
/cc @alculquicondor

[2020-01-13 14:55] neolit123 commented on #82889
@chrisohaver @rajansandeep please reopen this issue if you think there are PRs that we should sent.

[2020-01-13 15:02] justaugustus commented on #87141
(deb counterpart to https://github.com/kubernetes/kubernetes/issues/86965)

https://github.com/kubernetes/release/pull/1011 removed the `build/` dir to consolidate the `kubepkg` assets in one dir.
This should be fixed once kubernetes/test-infra#15871 merges.

/assign
/priority important-soon

[2020-01-13 15:11] chrisohaver commented on #82889
Yes after looking at the related code, it looks like kubeadm uses a "dry run" call to `migrate.Migrate()` in the preflight check to see if there are any unsupported plugins.  It should probably instead call `migrate.Unsupported()`, for the starting version only.

/reopen

[2020-01-13 15:11] ahg-g commented on #87033
Thanks @losipiuk, will your implementation be ready in 1.18? can we proceed with Aldo's plans now?

[2020-01-13 15:13] losipiuk commented on #87033
That is the plan. Go with a change.

At worst we can alway copy implementation of `SharedLister` from scheduler codebase and still only depend on the interaface.

[2020-01-13 15:26] chrisohaver commented on #82889
Something didn't seem right about my explanation above so I took a second look - looks like there are _two_ preflight checks.  One dry run call to `Migrate()`, _which is OK as is._  There is another preflight check, that calls `Unsupported()`. It is called with both the starting version and destination version, which checks if the existing config contains any plugins that are unsupported in any ve

[2020-01-13 15:35] bysnupy commented on #87108
Thank you for your update @skilxn-go , and it makes more sense. I've also checked the PLEGLastSeen metrics is added recently, and the metrics can be auxiliary metrics whether the relist has latency or not.
You can close this issue. Thank you again for your review :)

[2020-01-13 15:37] jpreese commented on #86956
@droslean it looks like this job was labeled as flaky in a previous release as well.

https://github.com/kubernetes/kubernetes/issues/78901

[2020-01-13 15:39] alculquicondor commented on #87086
/sig-remove cli
/needs-help

[2020-01-13 15:41] alculquicondor commented on #87086
/good-first-issue

[2020-01-13 16:04] jpreese opened #87154 "[Failing Test] gce-windows-master (ci-kubernetes-e2e-windows-gce)"
**Which jobs are failing**:
gce-windows-master (ci-kubernetes-e2e-windows-gce)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-master

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1216713982044278786

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/milestone v1.18
/sig windows

[2020-01-13 16:09] #85896 closed

[2020-01-13 16:09] andrewsykim commented on #85422
Hmmm both v1.11 and v1.12 have been out of support for about a year and I'm sure there's been a lot of fixes since then, can we validate if this is reproducible in newer versions?

[2020-01-13 16:10] droslean commented on #87154
We track this problem in #80534
Closing...

/close

[2020-01-13 16:10] #87154 closed

[2020-01-13 16:16] howardjohn commented on #79384
@liggitt thanks, we switched to 1.17 libraries recently and it works great

[2020-01-13 16:17] ahg-g opened #87157 "Move the current pod binding logic into a default Bind plugin [Migration Phase 2]"
The current bind logic is currently placed in generic_scheduler.go, it should move to run as Bind plugin that gets configured to execute by default.

Part of #85822
/sig scheduling
/assign @alculquicondor

[2020-01-13 16:20] ahg-g commented on #87033
sounds good, thanks.

[2020-01-13 16:23] oxddr commented on #87143
What happened: two probers pods were started correctly (according to kubelet logs), but were not visible via Prometheus (we use it to detect whether probes have started correctly).

Two things:
1. Shall we wait for all pods to start? At 5k we could allow some small number or percentage of probes' pod to not start.
2. If there are any errors from a measurement at start phase they should fail the te

[2020-01-13 16:23] oxddr commented on #87143
/priority important-soon

This doesn't seem critical.

[2020-01-13 16:34] marosset commented on #86984
I see - let me try that out.

[2020-01-13 18:01] sethp-nr commented on #82302
The ability to set extended resource capacity via the kubelet without requiring a device driver is still desirable to us, as our current daemonset-based workaround has a few usability rough edges we'd like to address.

[2020-01-13 18:03] alculquicondor commented on #87157
Should we name it `DefaultBinding` or just `Binding`?

[2020-01-13 18:04] ahg-g commented on #87157
Prefixing with ```Default``` is reasonable in this case I think.

[2020-01-13 18:15] Huang-Wei commented on #87083
Problem 2 is an outstanding issue for non-HA environment.

The issue I observed is different, I will create another issue.

[2020-01-13 18:22] ahg-g commented on #86630
/cc @alculquicondor

Aldo has another use case for changing the post filter extension point to act as a second filtering phase, perhaps it is worth doing. We could preserve the current semantics of PostFilter and rename it  to PreScore, and add a new PostFilter with the semantics suggested here (or something similar).

[2020-01-13 18:23] ahg-g commented on #86630
/cc @Huang-Wei

[2020-01-13 18:40] vinaykul commented on #9043
Yes. @thockin reviewed and approved the KEP, and I'm working on resolving a couple of changes requested from KubeCon API review session, and fleshing out the test plans and GA criteria sections in order to get the KEP into implementable stage before Jan 28 date for 1.18 release.

[2020-01-13 18:40] alculquicondor opened #87159 "[Scheduler] Make extenders processing a plugin on its own"
Part of #85822
This plugin would implement the following extension points:

- *PostFilter*: Needs a change of semantics to be able to return a new filtered list (as it's being discussed in #86630).
- *Score*
- *Bind*
- *Preempt*. This needs progress kubernetes/enhancements#1398

/hold

/sig scheduling

/kind cleanup

[2020-01-13 18:41] ahg-g opened #87160 "Move the default queue sort logic to a QueueSort framework plugin [Migration Phase 2]"
/sig scheduling
/assign @Huang-Wei
Ref #85822

[2020-01-13 18:49] #86965 closed

[2020-01-13 18:54] justaugustus commented on #87141
Closed via https://github.com/kubernetes/test-infra/pull/15871.
/close

[2020-01-13 18:54] #87141 closed

[2020-01-13 18:59] damemi opened #87161 "Promote TaintBasedEvictions to GA in 1.18"
/kind feature
/sig scheduling

TaintBasedEvictions has been in beta since 1.13 (see https://github.com/kubernetes/enhancements/issues/166) and should be ready to be promoted to GA for 1.18

**Tasks**
- [x] need a merged KEP, in an implementable state and with test plans and graduation criteria. (https://github.com/kubernetes/enhancements/pull/1450)
- [x] ensure test coverage is complete and up-to-

[2020-01-13 18:59] damemi commented on #87161
/cc @Huang-Wei @ahg-g

[2020-01-13 19:00] neolit123 commented on #87150
the kubelet allows you to pass `--pod-cidr`

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

on the workers you can have a look at the file `/etc/default/kubelet` (for debian) and add this extra flag there.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

/triage support
/sig cluster-lifecy

[2020-01-13 19:01] neolit123 commented on #87147
/sig auth storage
/remove-kind failing-test
/triage unresolved

[2020-01-13 19:03] PatrickLang commented on #64801
/reopen
/remove-lifecycle rotten

[2020-01-13 19:03] neolit123 commented on #87145
/remove-kind bug
/triage unresolved

/sig storage scheduling

[2020-01-13 19:05] lavalamp commented on #22024
@smiklosovic

Yeah, we have lots of log messages in general so you needed to do that. It's not related to this particular message.

Unless you see gobs of these they really are working as intended. If you do see gobs of them, maybe your cluster is more loaded than you think.

[2020-01-13 19:07] liggitt commented on #87147
that means the kube-apiserver you are running against has not configured the signing keys to enable bound service account tokens

/close

[2020-01-13 19:07] #87147 closed

[2020-01-13 19:08] alculquicondor commented on #86630
My thoughts on the algorithmic implications (not implementation details).

I can see 2 benefits of introducing random choices:

- Increased performance of scoring.
- Reduced over-fitting, which we do by scoring a big number of nodes and only selecting the absolute maximum.

Now, if we aim for even better performance, a random shuffle **before filtering** might be an interesting thing to explore. F

[2020-01-13 19:09] liggitt commented on #87133
it controls the Kind returned by the API server for a list request, e.g.
[code]

/close

[2020-01-13 19:09] #87133 closed

[2020-01-13 19:22] tedyu commented on #71714
@caesarxuchao
If you're not working on this, can I work on it ?

[2020-01-13 19:30] judexzhu commented on #50375
+1

[2020-01-13 20:18] ReillyProcentive commented on #57250
/remove-lifecycle stale

[2020-01-13 20:37] RobertKrawitz commented on #81523
/reopen
/remove-lifecycle rotten

[2020-01-13 20:45] rikatz commented on #86132
Hi @suvl,

The Ingress API is being rewritten into Services API and can be tracked here: https://github.com/kubernetes-sigs/service-apis

My suggestion is to follow this development and maybe put your user story/user case in here (https://docs.google.com/document/d/1OAzVO0HfmF4qD8AW41_eeUY0KP6xjqghusUVwhp4BNg/edit#) as this is being tracked as the feature proposal for the new Ingresses. Something

[2020-01-13 20:45] rikatz commented on #86132
/assign @rikatz
/remove-triage unresolved

[2020-01-13 20:50] jiahuif opened #87163 "Topology translation test case fails randomly due to assumed ordering"
**What happened**:
Received the following test failure during unit test execution
[code]
**What you expected to happen**:
aforementioned test case passes consistently.
**How to reproduce it (as minimally and precisely as possible)**:
Run the affected test case multiple times locally. I am still reporting this as a bug because it involves functionality of implementation code.
**Anything else we nee

[2020-01-13 20:50] rikatz commented on #85552
Not enough time to deal with this, but will keep the issue open until I can start developing this and see if the case is applicable to other users

[2020-01-13 20:54] jennybuckley commented on #87131
I think it probably started flaking because of #87044, but the real issue seems to be that the test is using reflect.DeepEqual instead of semantic.DeepEqual, since when I marshal the actual and expected objects in a failure case, they are identical. I'll make a PR to fix it now

[2020-01-13 20:56] rikatz commented on #56440
@kfox1111 As Service Topology reached [alpha](https://kubernetes.io/docs/concepts/services-networking/service-topology/) had you got some chance to test it and see if this deals with the required feature?

Also it would be nice to test and provide some feedback :)

[2020-01-13 21:10] jennybuckley commented on #82042
/reopen
It looks like this issue still occurs under certain conditions, might be the cause of https://github.com/kubernetes/kubernetes/issues/87131

[2020-01-13 21:16] aojea commented on #73157
/assign

[2020-01-13 21:22] #87108 closed

[2020-01-13 21:59] #87075 closed

[2020-01-13 22:00] liggitt commented on #87135
cc @jpbetz

[2020-01-13 22:11] kfox1111 commented on #56440
I have not yet. I'll try and make some time in the next few days. Thanks for the reminder.

[2020-01-13 22:32] rtheis commented on #87087
@neolit123 The static distroless image installs `ca-certificates` per https://github.com/GoogleContainerTools/distroless/blob/master/base/README.md.  We could mount `ca-certificates` via a read-only host path, but that requires us to patch all hosts when `ca-certificates` are updated rather than simply updating the container ... doable but an operational pain.

[2020-01-13 22:58] hbagdi commented on #86889
@aojea Already tested that but no luck.

[2020-01-13 23:15] Bessonov commented on #52218
/remove-lifecycle stale

[2020-01-13 23:24] neolit123 commented on #87087
i did not know that distroless has `ca-certificates`.

one problem with that is that if the component image includes outdated ca-certificates how would one update them? they either have to force a component image upgrade or mount a newer ca-certificates from the host.

in general this is a space that sig-release are responsible for, so leaving the discussion to them.
you can also get feedback on t

[2020-01-14 00:33] msau42 commented on #85814
/assign @ahg-g
Based on @jingxu97 's analysis earlier, the test failures are due to a scheduler test not cleaning up properly. I believe that scheduler test needs to be cherry-picked. Assigning to sig-scheduler to track it.

/remove-sig storage

[2020-01-14 00:33] msau42 commented on #85814
/unassign @jingxu97

[2020-01-14 01:30] mariusgrigoriu commented on #74352
Ok, I think I misunderstood the intention of this issue. Having to perform a replace, like with the above script, is what I mean by complicating the build. In our case, we use Bazel and import the kubernetes repo with `http_archive`. The kubernetes repo references staging and vendor directories, which need to be replaced (or we need to replace our references to use staging and the kubernetes vendo

[2020-01-14 02:10] Ruilkyu opened #87170 "What are the system parameters for binary deployment of 2000 nodes on centos7"
Now that I've deployed 2000 nodes, I'm stuck with the kubectl command. Sir, where do I need to optimize

[2020-01-14 02:16] oomichi commented on #87131
According to https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestDynamicClient this seems to start since 01/11/2020

/cc @oomichi

[2020-01-14 02:33] hase1128 commented on #86597
I will pick up hack/verify-imports.sh

[2020-01-14 02:46] gitbeyond commented on #85422
I'm gradually upgrading the cluster to the latest version, and then I'll see if there is still this problem。 thank  you for your reply。

[2020-01-14 02:51] liggitt commented on #86312
looks like runc rc10 is blocked on a fix for https://github.com/opencontainers/runc/issues/2197 (which should have a PR open tomorrow per https://github.com/opencontainers/runc/issues/2197#issuecomment-573830382)

[2020-01-14 02:55] hase1128 commented on #86597
I will pick up hack/verify-XXXX.sh (all of verify scripts).
But there are large number of scripts(over 40), I want to split it into two or three PRs.

[2020-01-14 02:58] tanjunchen commented on #86597
I will pick up hack/update-XXXX.sh

[2020-01-14 03:25] ricardo-rod opened #87174 "Creating an IPv6 cluster multinode hangs when Joining worker nodes"
**What happened**:
When I am trying to run a multinode or multinode HA cluster with IPv6 it just hangs in there for so many minutes that I have stopped counting,

**What you expected to happen**:
The nodes should join the cluster after less than 2 minutes and I have wait 45 minutes and nothing.

**How to reproduce it (as minimally and precisely as possible)**:
cat <<EOF >./kind_multinode_ipv6.yaml

[2020-01-14 03:30] non7top commented on #82958
Still an issue with 1.17.0
In this case I have a kubeadm setup of 6 nodes (3 masters + 3 workers). For testing I have only 2 master nodes powered on, others powered off. But after about 1h I see all pods as being in `Running` state (including one of the coredns pods), though the nodes are showing NotReady as expected.

[code]

[2020-01-14 03:49] SataQiu commented on #87161
/cc

[2020-01-14 04:01] SataQiu commented on #87159
/cc

[2020-01-14 04:10] YuikoTakada commented on #81657
@palnabarun thanks!

[2020-01-14 04:18] palnabarun commented on #81657
@YuikoTakada Welcome!

[2020-01-14 04:32] notpad commented on #87161
/cc

[2020-01-14 05:03] skilxn-go opened #87177 "How to follow a closed kep which is proposed by others?"
I want to follow a kep, which is proposed by others. Howerver this kep is not updated so long that robot close this one automatically before merge. What should I do if I want to follow and take responsibility of this kep? Do I need to re-propose it with the same content?

[2020-01-14 05:05] skilxn-go commented on #87177
/sig contributor-experience

[2020-01-14 05:14] awprice commented on #78416
/remove-lifecycle stale

[2020-01-14 05:57] zhouya0 opened #87180 "No restrictions for verbs when creating Role"
**What would you like to be added**:
Add restrictions for verbs with Role creating. Like error reporting or something else.
**Why is this needed**:
When creating a role like:
[code]
The verb `error` is obviously a bad verb but this Role can correctly been created. And you will find the verb through `selfsubjectaccessreview`(`kubectl auth can-i`):
[code]
Meanwhile, when `resourceName` is set in Rol

[2020-01-14 06:17] tanjunchen commented on #75601
I'm interested in this. laughing
/assign @tanjunchen

[2020-01-14 06:21] frittentheke commented on #61486
/remove-lifecycle stale

[2020-01-14 06:25] uablrek commented on #86517
`--hostname-override` does not work that way. Read the docs.
[code]

[2020-01-14 06:43] anphn commented on #75409
I had the same problem. Anyone can fix this?

[2020-01-14 07:26] starizard commented on #87086
/assign starizard

[2020-01-14 08:26] aliencrash commented on #50375
+1

[2020-01-14 08:38] skilxn-go commented on #87180
I think verb checker  may be useful.
But why do you think

?

[2020-01-14 08:40] zhangguanzhang commented on #75443
thanks @chenqiangzhishen
`scope global secondary eth0` ---> `scope global eth0`, It will be ok

[2020-01-14 08:40] #75443 closed

[2020-01-14 08:44] zhouya0 commented on #87180
@skilxn-go  Thanks for you apply.  See this Issue: https://github.com/kubernetes/kubectl/issues/779

[2020-01-14 08:49] skilxn-go commented on #87180
Got it~

[2020-01-14 08:50] tanjunchen opened #87184 "TODO and the comment is Inconsistent with RandomSuffix"
ref:https://github.com/kubernetes/kubernetes/issues/86763
[code]
[code]
Will return a fixed value instead of a random string.
TODO and the comment is Inconsistent with RandomSuffix.
This pr refer to change https://github.com/kubernetes/kubernetes/pull/71170/files#diff-eb7b79470992813ea1905e96c298b47bL2056

[2020-01-14 08:51] tanjunchen commented on #87184
see https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L578
/sig testing
/assign

[2020-01-14 09:01] tanjunchen commented on #87184
/cc  @neolit123
/cc @ash2k

[2020-01-14 09:03] tanjunchen commented on #86763
/helped

[2020-01-14 09:05] tanjunchen commented on #86763
/help
/assign @tanjunchen

[2020-01-14 09:31] #76075 closed

[2020-01-14 09:40] snowplayfire commented on #86626
@wojtek-t  @praseodym  Sorry to find that our scheduler version includes #73845, but still has the problem.

[2020-01-14 09:40] snowplayfire commented on #86626
@wojtek-t  @praseodym  Sorry to find that our scheduler version includes #73845, but still has the problem.

[2020-01-14 09:47] airadier opened #87185 "DNS-1123 being enforced on path componentes for auditsink & admission webhook service configuration"
**What happened**:

According to https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#service-reference, I can configure the auditsink webhook to use a service, inside clientConfig spec. The service.path attribute allows to specify the URL path for the service, as:

[code]

However, if any of the path segments is not a valid DNS-1123 name, the validation will fail, as it is being chec

[2020-01-14 09:49] airadier commented on #87185
/sig api-machinery

[2020-01-14 09:52] zhangguanzhang commented on #75443
You can also configure kube-proxy to solve
https://github.com/kubernetes/kube-proxy/blob/master/config/v1alpha1/types.go#L158

[2020-01-14 10:31] droslean commented on #86878
/remove-kind failing-test
/kind flaky-test

[2020-01-14 10:32] droslean commented on #86878
/kind flake

[2020-01-14 10:34] droslean commented on #87143
/remove-kind failing-test
/kind flake

[2020-01-14 10:34] droslean commented on #87142
/remove-kind failing-test
/kind flake

[2020-01-14 10:35] tedyu commented on #87185
Is the underscore the only character to be allowed ?

[2020-01-14 10:48] aojea commented on #73157
@jacksontj I've sent a PR #87117 to fix the problem and it works for me locally,
will be great if you can confirm it works for you too :smile:

[2020-01-14 10:52] rikatz commented on #77493
/remove-lifecycle stale

Em ter, 14 de jan de 2020 às 07:32, fejta-bot <notifications@github.com>
escreveu:

[2020-01-14 10:54] towolf commented on #72216
/remove-lifecycle stale

[2020-01-14 11:14] nrvnrvn commented on #79034
/remove-lifecycle rotten

[2020-01-14 11:20] bmcstdio commented on #87086
Can I get an idea of what this would involve? I might be able to put some work on it.

[2020-01-14 11:34] jsafrane commented on #74914
Checked with in-tree iSCSI, all devices are removed after reboot and volumes are cleaned up. Did not check with CSI (no iSCSI there) nor in-tree Fibre Channel (no HW).

[2020-01-14 12:00] suvl commented on #86132
Tks @rikatz

Submited [here](https://github.com/kubernetes-sigs/service-apis/issues/37).

[2020-01-14 12:00] #86132 closed

[2020-01-14 12:01] dims commented on #26895
@tedyu can you please take a look at this?

/reopen

[2020-01-14 12:02] iahmad-khan commented on #19317
same issue on 1.15 , nothing worked in my case.

[code]

[2020-01-14 12:03] jeffdesc commented on #69213
Any update here? If I set the sysctls value it's still not working:
[code]

Of course my kubelet allows `net.ipv4.ip_forward` and the PSP is configured for this.

However yet ip_forward is still 0:
[code]

What's going wrong here?

[2020-01-14 12:07] Slutzky commented on #19317
did you try to delete it using the following script ?

[code]

[2020-01-14 12:15] ingvagabund opened #87191 "SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run - possibly invalid test"
**What happened**:

I am questioning validity of the test. Comments under `test/e2e/scheduling/predicates.go` of `validates resource limits of pods that are allowed to run` say:
[code]

The test scenario described as it is sounds reasonable. The only nitpick I have is the very first sentence saying "`This test verifies we don't allow scheduling of pods in a way that sum of limits of pods is greate

[2020-01-14 12:16] ingvagabund commented on #87191
cc @kubernetes/sig-scheduling-test-failures

[2020-01-14 12:16] rtheis commented on #87087
Outdated `ca-certificates` is always a potential problem and either option (container update or host update with mount) could be used to resolve.

[2020-01-14 12:18] ingvagabund commented on #87191
@bsalamat I have noticed you refactored the test in https://github.com/kubernetes/kubernetes/pull/53169. Can you still recall the original intent of the test? I can't grasp how the limits are actually taken into account.

[2020-01-14 12:29] airadier commented on #87185
For this specific use case, it is failing because we are using the underscore. But I think path segments should not have the limitations of DNS-1123. According to:

https://tools.ietf.org/html/rfc3986#section-3.3

and

https://stackoverflow.com/questions/4669692/valid-characters-for-directory-part-of-a-url-for-short-links/4669755#4669755:

So the set of characters that are allowed for a path compo

[2020-01-14 13:00] prksu opened #87194 "[Flaky Test] [sig-apps] DisruptionController evictions: too few pods, replicaSet, percentage => should not allow an eviction"
**Which jobs are flaking**:

[code]

**Which test(s) are flaking**:

[code]

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce

**Reason for failure**:

[code]

**Anything else we need to know**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=%5C%5Bsig%5C-apps%5C%5D%5C%20DisruptionController%5C%20evictions%3A%5C%20too%5C

[2020-01-14 13:03] droslean commented on #87194
/cc @spiffxp FYI

[2020-01-14 13:19] ahg-g commented on #87191
I agree, I think the test is wrong, the scheduler doesn't make fit decisions on resource limits. In the test, [the pod that gets created at the end](https://github.com/kubernetes/kubernetes/blob/be26fbc638ff5ed952ccae70e68baa712b3c60c8/test/e2e/scheduling/predicates.go#L297) should have ```Requests``` set.

do you mind fixing the test and the update the comment please?

[2020-01-14 13:32] neolit123 commented on #87184
/sig network

the function can use:
`k8s.io/apimachinery/pkg/util/uuid`

but you should ask #sig-network if this is OK.

[2020-01-14 13:33] rikatz commented on #86132
@suvl  no problem. As an opportunity to have some depth knowledge of Kubernetes, Controllers, etc (and also if this is a non accepted feature for this Service APIs release) an idea is to write a controller that reads your statefulsets and create ingress objects for them, using some sort of pattern, etc.

 This might be helpful also for other users, and would work regardless of which Ingress Contro

[2020-01-14 13:35] prksu commented on #87131
this job become failing today

/remove-kind flake
/kind failing-test
fyi @droslean
@jennybuckley any idea about this?

[2020-01-14 13:37] liggitt commented on #87131
yes, being fixed in https://github.com/kubernetes-sigs/structured-merge-diff/pull/145

@jennybuckley, can we rollback the enablement of managed field persistence until this is resolved?

[2020-01-14 13:51] liggitt commented on #87131
/assign @jennybuckley

[2020-01-14 14:04] liggitt commented on #87131
opened revert in https://github.com/kubernetes/kubernetes/pull/87196 to clean up CI signal. Can reintroduce once the serialization issue is resolved

[2020-01-14 14:05] cheeye opened #87197 "kube-proxy:1.17 for s390x image is broken?"
**What happened**:
When I tried to use kubernetes 1.17 for s390x with kubeadm, I got below messages in the kube-proxy pod. It ended up failure of installing cni like flannel. But if I switch back to kubernetes 1.15, everything works fine without these messages. Checked it with `sig-network` in the k8s slack, there could be something broken in the image kube-proxy:1.17 for s390x.

[code]

**What yo

[2020-01-14 14:14] cheeye commented on #87197
/sig network

Please let me know if I put the improper sig group name. Thanks!

[2020-01-14 14:16] cheeye commented on #87197
Please let me know if I put the improper sig group name. Thanks.

[2020-01-14 14:25] jeffdesc opened #87198 "Kubernetes securityContext sysctl settings not applied in pod"
**What happened**:
When configuring all components to use sysctl override configuration, the pod is not being configured properly. The settings are configured per deployment (even tried a single pod) but the specific '/proc' is still not what I was needed. **This is a rootless pod, we're running a custom user in this container.**

The configured deployment, Pod Security Policy and Kubelet config i

[2020-01-14 14:26] hallgeirl opened #87199 "HPA scales up deployment to max replicas if using custom metrics that are exposed by the application and the pods fail to deploy with rolling update"
**What happened**:
We're trying to use Prometheus+Prometheus Adapter+windows performance counters to expose the number of HTTP requests to IIS for use in autoscaling of our Windows-based application in Kubernetes. When the containers start up properly, everything is fine - our application is scaled according to the config we have set. However, if we perform a rolling update, and the updated deploy

[2020-01-14 14:32] hallgeirl commented on #87199
/sig autoscaling

[2020-01-14 14:38] oxddr commented on #87143
The same problem has occurred in gce100 test on 1.16 https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/1216872794164301829

[2020-01-14 14:52] ahg-g commented on #86373
Let me also try to summarize their use case in a few bullet points:
1. They create multi-tenant clusters, tenants are teams in the same org
2. Each tenant gets their own dedicated group of nodes (think node pool)
3. Each tenant can create high or low priority pods
4. High priority pods can only be scheduled on a tenant's dedicated node pool (using taints and tolerations)
5. To improve utilization,

[2020-01-14 14:56] ahg-g commented on #86373
I am trying to find out if there are other similar use cases that could inform what solution we go for so that it is generic enough.

[2020-01-14 14:59] jeffdesc commented on #87198
/sig node

[2020-01-14 15:03] alculquicondor commented on #86373
/cc

[2020-01-14 15:05] mm4tt commented on #86373
/cc

[2020-01-14 15:06] liggitt commented on #87180
Verbs other than API verbs are allowed in authorization policy, and are honored when evaluating SubjectAccessReview checks. For example, [verbs like "bind", "use", and "escalate" are used by various aspects of the Kubernetes server](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb), and custom verbs can be used by other consumers of the authorizatio

[2020-01-14 15:06] #87180 closed

[2020-01-14 15:15] jeffdesc commented on #69213
Created #87198 for my bug

[2020-01-14 15:15] tedyu commented on #26895
@rhcarvalho
Do you want to continue your work in the WIP which was closed ?

[2020-01-14 15:21] rhcarvalho commented on #26895
@tedyu feel free to take it over

[2020-01-14 15:27] wgabsi88 commented on #86064
The issue is caused by the linux_mount.go finding an atari partition table on the volume.
[code]
blkid found an atari partition which fails the code by returning a special non-empty string as filesystem type, then the loop continues and kubelet will never format the disk.
[code]

[2020-01-14 15:29] itsecforu commented on #87150
Thx for feedback!

First link:

The CIDR to use for pod IP addresses, only used in standalone mode. In cluster mode, this is obtained from the master.  I got cluster in my case.

2-nd link:

Im on Centos 7. And my /etc/default contains only : grub, nss, useradd

[2020-01-14 15:29] ipuustin commented on #85764
It seems to me that the `cpuset` cgroup of the pid 8870 you mention is just `/` instead of `/system.slice`:

[code]

The `cpuset` cgroup controls the "integer" cpus on which the process executes.

[2020-01-14 15:31] ingvagabund commented on #87191
On it
/assign

[2020-01-14 15:35] neolit123 commented on #87150
i forgot about this detail. then i don't think there is a way to set this per node.

/remove-sig cluster-lifecycle
/sig node network

[2020-01-14 15:36] alculquicondor commented on #87086
I assume @starizard is taking this already.
The error message is produced in `pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go`
We probably also require changes in `pkg/apis/core/v1/helper/helpers.go` to get the name of the missing toleration.

[2020-01-14 15:41] liggitt commented on #86358
/priority critical-urgent
top 10 flake according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-01-14 16:01] oxddr commented on #87143
/retitle Single prober not discovered via Prometheus cause scalability tests failures

[2020-01-14 16:02] gavinfish commented on #87184
Quoted from https://gobyexample.com/random-numbers:

Go playground: https://play.golang.org/p/WdOMBLOOu9k

[2020-01-14 16:05] tedyu commented on #26895
pkg/kubelet/dockertools/exec.go has moved.
The change in WIP PR doesn't apply to pkg/kubelet/dockershim/exec.go

Let me read through the comments and try to figure out what to do.

[2020-01-14 16:09] liggitt commented on #87184
it produces the same *sequence*, not the same number

https://play.golang.org/p/2ibUPSy5v5X

[2020-01-14 16:17] alculquicondor commented on #86373
@yqwang-ms, could you try to explore this question a bit more? I want to understand if (at least for your use case) is the 60s flush what is causing the problem or some other events (like new nodes registering to the cluster)

That said, we probably want a more general solution. I simple solution I can think of is the following:
We introduce a  "meta" priority internal to the scheduler. This prior

[2020-01-14 16:19] tedyu commented on #70082
@ArchiFleKs
Do you have a chance to try etcd 3.4 ?

[2020-01-14 16:20] ahg-g commented on #86373
We introduce a "meta" priority internal to the scheduler. This priority would include the actual priority, creation timestamp and number of retries, having a weight for each of them.

Yeah, that is one way to implement queue re-ordering, here is another issue proposing to de-prioritizing pods: https://github.com/kubernetes/kubernetes/issues/85792

[2020-01-14 16:40] droslean commented on #87143
Thanks @oxddr

[2020-01-14 16:47] ahg-g commented on #86373
Once https://github.com/kubernetes/kubernetes/issues/87160 is addressed, we can try different sort plugins to test different heuristics.

[2020-01-14 16:49] jacksontj commented on #73157
That patch looks like it should work, here is the one I'm running for comparison -- https://github.com/kubernetes/kubernetes/compare/release-1.15...jacksontj:release-1.15_ipv6

[2020-01-14 16:49] jkaniuk opened #87200 "ci-kubernetes-kubemark-500-gce failing on 1.14 & 1.15"
**Which jobs are failing**:
ci-kubernetes-kubemark-500-gce-stable2
ci-kubernetes-kubemark-500-gce-stable3

**Which test(s) are failing**:
setting up the tests

**Since when has it been failing**:
since change to using per release perf-tests repository branches

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-1.15-500
https://k8s-testgrid.appspot.com/sig-scalab

[2020-01-14 16:55] jkaniuk commented on #87200
/assign

[2020-01-14 16:55] jkaniuk commented on #87200
/sig scalability

[2020-01-14 17:26] 9us7av0 commented on #47862
Indeed this is a very important feature. How can we get this rolling?

[2020-01-14 17:39] #79995 closed

[2020-01-14 19:06] #84256 closed

[2020-01-14 19:42] #81459 closed

[2020-01-14 20:51] ryanmahan commented on #48245
@thiagoalves did you ever find out what was causing those logs? I have the same problem on my k8s instance with a mongo helm chart.

[2020-01-14 20:52] hh commented on #87120
Bad to list all secrets without a label selector... look at label usage in secret test.
Approved for work on 14th January Meeting.

[2020-01-14 20:55] hh commented on #86087
/assign @spiffxp
Let's update the conformance docs to help clarify.

[2020-01-14 20:57] hh commented on #86141
We decided not to deprecate. We can link to that, but otherwise this is OK to write / promote.

[2020-01-14 21:08] tpepper commented on #86787
Probably related to https://github.com/kubernetes/kubernetes/pull/85962

[2020-01-14 21:12] tpepper commented on #86787
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-12-16&job=ci-kubernetes-e2e-gci-gce-reboot shows the #85962 merge
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-10-23&job=ci-kubernetes-e2e-gci-gce-reboot shows the errant merge that inadvertantly disabled the test

This test was probably failing since forever.

[2020-01-14 21:20] fedebongio commented on #87040
/assign @jpbetz

[2020-01-14 21:23] fedebongio commented on #87135
/assign @wenjiaswe

[2020-01-14 21:25] fedebongio commented on #87185
/assign @tallclair
Could you take a look Tim please? Thank you

[2020-01-14 21:27] ash2k commented on #87184
That is exactly what is done in `main()`. If not, it's a bug. When I made #71170 I checked that it's the case.

[2020-01-14 21:31] #87131 closed

[2020-01-14 21:43] lavalamp opened #87211 "kube-apiserver: limit request handling before apiserver is healthy"
**What would you like to be added**:

The idea is to 429 or 500 certain requests until apiserver becomes healthy for the first time.

Requests which would not be blocked:
* self-requests (required for apiserver to become healthy)
* healthz / livez / readyz
* componentstatuses (maybe)

**Why is this needed**:

We've observed on startup cases where apiserver is deluged with list requests, and it spe

[2020-01-14 21:43] lavalamp commented on #87211
/sig api-machinery

[2020-01-14 21:47] gnufied commented on #86610
What is being put in annotation that we need to pass to flexvolume driver?

[2020-01-14 21:57] hasheddan commented on #87040
@fedebongio I opened a fix for this but CC'ed both you and @jpbetz. Let me know if any additional effort is required. Thanks!

[2020-01-14 22:11] hasheddan opened #87214 "[Flaky Test] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest )"
**Which jobs are failing**:
`Conformance - GCE - master (ci-kubernetes-gce-conformance-latest )`

**Which test(s) are failing**:
`Up`

**Since when has it been failing**:
`01-14 11:32 PST`

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master

**Reason for failure**:
[code]

**Anything else we need to know**:

/sig release
/cc @kubernet

[2020-01-14 22:14] jwm commented on #82595
/remove-lifecycle rotten

[2020-01-14 22:14] jwm commented on #82595
I experienced this recently with 1.14.9 on EKS. A newly created NLB ignored `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled`.

[2020-01-14 22:39] riking commented on #86610
I think that a KEP for adding scratch SSD support is the right direction here, instead of jumping straight into code.

Another way to think about this is "hardware-backed emptyDir with a resource request", correct? One of the big design points of emptyDir is the assumption that the data you're writing will probably fit in RAM and can be charged against your memory allocation.

[2020-01-14 22:51] savitharaghunathan opened #87216 "Failing test: ci-kubernetes-integration-master"
**Which jobs are failing**:
ci-kubernetes-integration-master

**Which test(s) are failing**:
Overall stage is failing

**Since when has it been failing**:
01/12

**Testgrid link**:
https://testgrid.k8s.io/sig-cli-master#integration-cmd&width=20

**Reason for failure**:

**Anything else we need to know**:
link to error: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-

[2020-01-14 22:51] savitharaghunathan commented on #87216
/sig cli

[2020-01-14 23:14] aojea commented on #87174
@ricardo-rod do you mind closing this bug and open a new one in the KIND project  https://github.com/kubernetes-sigs/kind ? 😄

I'll follow up there.

Also, check that you are using the right config
https://kind.sigs.k8s.io/docs/user/quick-start/#ipv6-clusters

[2020-01-14 23:22] spiffxp commented on #86087
/close
We don't want to move forward for this test, I've opened https://github.com/kubernetes/community/pull/4404 to clarify the requirements

[2020-01-14 23:22] #86087 closed

[2020-01-14 23:24] spiffxp commented on #86141
ref: https://github.com/kubernetes/kubernetes/issues/82435 for the decision not to deprecate

[2020-01-14 23:46] spiffxp commented on #67718
pinging for signs of life, has any progress been made here?

[2020-01-14 23:51] spiffxp commented on #82313
https://github.com/kubernetes/kubernetes/issues/75355 there is a test out there already that exercise this, but it's one of our top ten flakes at the moment

[2020-01-14 23:53] spiffxp commented on #82313
/remove-lifecycle stale

[2020-01-14 23:57] rsparulek opened #87218 "Kubeadm install fails for IPV6 dual stack feature with 1.17.0"
**What happened**:
Kubeadm 1.17.0 install fails for IPV6 dual stack

**What you expected to happen**:
Want to successfully install a K8S 1.17.0 cluster with dual stack support

**How to reproduce it (as minimally and precisely as possible)**:

Install using kubeadm as follows:
kubeadm init --config kubeadm-config.yaml --ignore-preflight-errors=all --v=5

My kubeadm-config.yaml looks as follows:

[

[2020-01-14 23:59] spiffxp commented on #86182
Looks like this is still happening, the 1.17.1 release was just cut and we now have `v1.17.1-1` instead of the expected `v1.17.2-beta.0+...`
[code]

[2020-01-14 23:59] rsparulek commented on #87218
apiVersion: kubeadm.k8s.io/v1beta2
featureGates:
  IPv6DualStack: true
kind: ClusterConfiguration
kubernetesVersion: K8S_VERSION
apiServer:
  timeoutForControlPlane: 4m0s
  extraArgs:
    advertise-address: "APISERVER_IP"
    bind-address: "BIND_IP"
    feature-gates: VolumeSnapshotDataSource=true
    encryption-provider-config: /etc/kubernetes/pki/secrets.conf
controllerManager:
  extraArgs:

[2020-01-15 00:21] tedyu commented on #87218
The 1.17.1 release was just cut.

Do you mind giving it a try ?

[2020-01-15 00:24] tpepper commented on #86182
Semi-expected as 1.17.1 was built with un-modified anago, plus modified openapi swagger.json in k/k.  This triggered yet another unexpected behavior around tags versus committed content.  We're building 1.16.5 with modified anago.  Between these two runs we may have enough info to better debug anago, which likely still needs more changes.

And then CI is still dependent on git describe not having

[2020-01-15 00:25] rsparulek commented on #87218
@tedyu I plan to use 1.17.0 for now. Could you verify if my kubeadm config looks correct?

[2020-01-15 00:30] droslean commented on #87214
/retitle  [Flaky Test] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest )

[2020-01-15 00:30] skilxn-go commented on #86610
@gnufied when there aremulti disks on a node. I want to pass which one should be used by this scheduled pod. It will be write to annotation in scheduler and pass to flexvolume

[2020-01-15 00:30] droslean commented on #87214
/remove-kind failing-test
/kind flake

[2020-01-15 00:31] botjaeger opened #87220 "PV assigned to wrong PVC (or other way around)"
**What happened**:
I deployed a project using helm to an EKS cluster, this project has a subcharts and those subcharts has their own PVC and PV.

after deployement, I checked the PV using this command,

`kubectl -n namespace get pv`

and this is what I saw,

[code]

**What you expected to happen**:
PersistentVolume must be assigned to its specific PVC

**How to reproduce it (as minimally and preci

[2020-01-15 00:31] Huang-Wei commented on #86373
My 2 cents:

One solution is to add support for multiple-queues, but it's complex and inevitably involves other parts like how to make a strategy to pop pods from different queues, and probably we need to define new API objects. Also, preemption needs to be re-considered.

The other solution I can think of is to leverage some existing algorithm/research to _properly_ (re)place the Pods, e.g., rewa

[2020-01-15 00:32] droslean commented on #87214
This error started to appear after https://github.com/kubernetes/kubernetes/compare/c9003a268...dd7728342

[2020-01-15 00:38] rsparulek commented on #87218
I got past the error with kubeadm but now my kube-controller-manager pod keeps exiting as follows:

[code]

I see following errors in docker logs:

[code]

[2020-01-15 00:43] skilxn-go commented on #86610
@riking Thanks, I would consider a KEP, and IMO it's not just about the emptydir. The core problem is now we cant bind a local disk to a volume claim (I am not saying pvc) dynamicly, which can only be decided by scheduler.

[2020-01-15 00:58] spiffxp commented on #86370
I opened https://github.com/kubernetes/kubernetes/pull/87222 to tag as [Flaky], I know these are hard to track down but they've been in the top 10 flakes for about a month now

[2020-01-15 01:05] feiskyer commented on #87127
/assign @nilo19

[2020-01-15 01:08] oomichi commented on #87216
/kind flake

[2020-01-15 01:21] #86712 closed

[2020-01-15 01:24] hh commented on #82313
This should probably be left in Backlog, I think Caleb may have moved it by mistake.
I'd like to focus on increasing Endpoints, as it's the only agreed metric we are measuring right now.

[2020-01-15 01:46] neolit123 commented on #87218
/area kubeadm
/sig network cluster-lifecycle

to enable higher verbosity for components you can do this (same for the apiserver):

[code]

+

the components are failing as if kubeadm is not propagating the dual-stack feature gate to the api-server and controller-manager.

[code]

^ this part should be responsible for that.

without looking at the source, i think the cause for that is the following

[2020-01-15 01:51] neolit123 commented on #87197
to enable higher verbosity try adding e.g. `--v=5` to the kube-proxy Pod template in the DaemonSet.

do you have the binary?

[2020-01-15 01:54] tanjunchen commented on #87184
i see from https://github.com/kubernetes/kubernetes/pull/71170#discussion_r299240472

[2020-01-15 01:56] TJM commented on #53023
We are still experiencing this in 1.16.3. It would be nice if there was an easy way to see which pod the daemonset was unhappy with, perhaps that would help in troubleshooting? I can only seem to find summary information in `k get daemonset xxxx` ?

[2020-01-15 02:00] cheeye commented on #87197
@neolit123 I don't have that binary in the system.

[2020-01-15 02:01] #86711 closed

[2020-01-15 02:03] neolit123 commented on #87185
xref https://github.com/kubernetes/kubernetes/pull/54145

[2020-01-15 02:04] neolit123 commented on #87197
please try installing it:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#ensure-iptables-tooling-does-not-use-the-nftables-backend

as long as RHEL for s390x has it, that is.

[2020-01-15 02:13] neolit123 commented on #87214
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1217167501364826113/build-log.txt

W0114 19:34:50.125]  - The resource 'projects/k8s-jkns-gce-reboot-1-4/regions/us-central1/subnetworks/bootstrap-e2e' already exists

I0114 19:34:52.820] Master not detected. Is the cluster up?
I0114 19:34:52.820] Dumping logs from nodes locally to '/workspace/_artifacts

t

[2020-01-15 02:14] cheeye commented on #87197
Are you referring to `update-alternatives --set iptables /usr/sbin/iptables-legacy` in the doc link you sent?  Is it supposed to be done in the kube-proxy pod/container or in the host?  There is no iptables-legacy binary in the host or available package for RHEL. So I guess it won't work with command `update-alternatives`.  Please let me know if I understand it incorrectly. Thanks!

[2020-01-15 02:16] neolit123 commented on #87197
should be done on the host.

[2020-01-15 02:22] neolit123 commented on #87197
or you can try kube-proxy in IPVS mode.

[code]

[2020-01-15 02:40] RainbowMango opened #87224 "Treat empty cloud provider as external for kube-controller-manager"
**What would you like to be added**:
If cloud provider flag of kube-controller-manager is  `--cloud-provider=""`, we can treat it as an `external` scenario.

[code]

**Why is this needed**:
According to [Running cloud-controller-manager](https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager), we **MUST NOT specify the --cloud-provider flag**

[2020-01-15 02:40] hh commented on #80997
/close
I think this kind of umbrella issue we can close.... the referenced PRs are on the board or closed.

[2020-01-15 02:40] #80997 closed

[2020-01-15 02:42] RainbowMango commented on #87224
/assign @RainbowMango

[2020-01-15 02:43] yqwang-ms commented on #86373
@ahg-g and @Huang-Wei
Thanks for your summary and proposal!
One more thing to add:
Even though this issue is more serious in a multiple tenant cluster, it also impacts other kind of scenarios.

To me, this issue can be splited to 2 different issues to solve (with different work item priority):
1. Avoid **inter-tenant impacts** (including HOLB) caused by queuing, or make a fair queuing policy for a

[2020-01-15 02:45] OPSTime opened #87225 "volume exists，create pod，Error: cannot find volume "default-token-454c5" to mount into container"
**version：**
[code]

**$ cat n7.yml**
[code]

**$ kubectl apply -f n7.yml**
[code]
**$ kubelet get events**
[code]

**$ kubectl get secrets**
[code]

**$ cat n7.yml.new**
[code]
**$ diff n7.yml n7.yml.new**
[code]

`$ kubectl apply -f n7.yml.new`
[code]
**$ kubelet get events**
[code]

**$ cat n7.yml.new.new**
[code]

**diff n7.yml n7.yml.new.new**
[code]
**$ kubectl delete pods nginx7
$ kubectl a

[2020-01-15 02:50] denkensk commented on #87086
/remove-help

[2020-01-15 02:56] yqwang-ms commented on #86373
@alculquicondor For my case, it is the 60s flush, but I am not sure if we increase the 60s to longer enough can solve my case, so I used **multiple default scheulder** to serve as multiple queues to solve the **1. inter-tenant impacts**.

Check this log, we did not see MoveAllToActiveQueue (event trigger), but we see frequent movePodsToActiveQueue (flush trigger):
[code]

[2020-01-15 02:59] OPSTime commented on #87225
/sig cli

[2020-01-15 03:03] #87225 closed

[2020-01-15 03:18] biello opened #87227 "unable to modify StatefulSet's podManagementPolicy to Parallel?"
it seems that I cannot change StatefulSet's podManagementPolicy to Parallel by kubectl edit, is this an expected behavior?

[2020-01-15 03:20] biello commented on #87227
my k8s version is 1.12，'podManagementPolicy: Parallel' should be supported above 1.7

[2020-01-15 03:31] denkensk commented on #86373
/cc

[2020-01-15 03:34] huchengze opened #87228 "How to push CNI plugins to https://storage.googleapis.com/kubernetes-release/network-plugins?"
To fix the step 4 of this [issue](https://github.com/kubernetes/kubernetes/issues/87056), I need to push the mips64le CNI plugins to
https:// storage.googleapis.com/kubernetes-release/network-plugins/cni-plugins-mips64le-v0.8.4.tgz.

I see that the mips64le CNI plugins are already released in
https://github.com/containernetworking/plugins/releases/download/v0.8.4/cni-plugins-linux-mips64le-v0.8.4.

[2020-01-15 03:34] huchengze commented on #87228
/sig release

[2020-01-15 03:35] OPSTime commented on #87126
/sig apps

[2020-01-15 03:41] #87040 closed

[2020-01-15 03:51] liggitt commented on #87216
resolved by https://github.com/kubernetes/kubernetes/pull/87196

/close

[2020-01-15 03:51] #87216 closed

[2020-01-15 03:53] hh commented on #82547
@caleb  / @jefftree if this test is non-flakey, let's look at promotion now

[2020-01-15 04:12] ricardo-rod commented on #87174
Sorry my bad, I will be closing this :)

[2020-01-15 04:12] #87174 closed

[2020-01-15 04:13] brancz commented on #49746
/remove-lifecycle stale

[2020-01-15 04:15] edwardstudy commented on #85681
Hi, @liggitt. When I used Kube v1.15.3, it' worked with apiVersion `admission.k8s.io/v1beta1`. But it failed in kube v1.16.3(Because it needs `admission.k8s.io/v1`). Currently, I had to spin my version on v1.15.3 for workaround.

Could you have any idea about this incompatibility for the future? Thx.

[2020-01-15 04:18] liggitt commented on #85681
How are you registering your webhook (specifically, what admissionReviewVersions are you providing)?

[2020-01-15 04:26] edwardstudy commented on #85681
Yes, you hit the reason. Thx.

[code]

So I guessed it still happened of `the server could not find the requested resource` if I specified `v1` only on kube 1.15.3.

[2020-01-15 04:28] liggitt commented on #85681
You cannot specify "v1" only on kube 1.15 or 1.16, webhooks must still support "v1beta1" for compatibility with 1.15. Starting in 1.17, you can register webhooks that only speak "v1" AdmissionReviews.

A webhook must respond in the same AdmissionReview version that was sent to it, and will only be sent AdmissionReview versions that it has indicated it can receive.

[2020-01-15 05:47] willzhang opened #87229 "can not mix '--config' with arguments [certificate-key]"
**What happened**:
[code]
**What you expected to happen**:
i hope init success
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
[root@master01 kubernetes]# kubectl version --short
Client Version: v1.17.0
Unable to connect to the server: EOF

[2020-01-15 06:16] ydcool commented on #86763
Nice work. A small tip: use task list to track the progress will make this issue looks better ; )

[2020-01-15 06:21] #87028 closed

[2020-01-15 06:25] jenting opened #87231 "CRD conversion v1beta1 to v1 backup and restore"
**What happened**:

Apply CRD apiVersion `apiextensions.k8s.io/v1beta1` with the non-structural schema to k8s 1.16+, the CRD conversion from v1beta1 to v1.

Then, back up the CRD with yaml manifest, delete CRD and apply backup CRD yaml manifest, the CRD cannot be applied successfully and with validation failed:
[code]

**What you expected to happen**:

The CRD could recover from the backup CRD yam

[2020-01-15 06:27] jenting commented on #87231
/sig cluster-lifecycle

[2020-01-15 06:43] justaugustus commented on #86182
I have a fix in the works for the out of order issue: https://github.com/kubernetes/release/pull/1015
Testing pending...

[2020-01-15 07:15] tanjunchen commented on #87184
it also can see from https://github.com/kubernetes/kubernetes/pull/71170/files#diff-6413e1dbafd6dd63b5d907ea3ae6f6f9R99
so i will remove
[code]

[2020-01-15 07:16] tanjunchen commented on #87184
now , can we consider UUID?

[2020-01-15 07:23] oba11 commented on #79365
Encountered the same issue and was able to resolve it by making sure that the pod `labels` from the job should not be different from the deployment `matchLabels`.

In @max-rocket-internet's case
deployment pod matchlabels
[code]

cronjob pod labels
[code]

[2020-01-15 07:27] NicholusMuwonge commented on #28149
https://config9.com/apps/kubernetes/the-object-has-been-modified-please-apply-your-changes-to-the-latest-version-and-try-again/

[2020-01-15 08:28] feiskyer opened #87232 "Unable to switch to VM LIST because of dataDisk.createOption issues"
**What happened**:

PR #86817 switched to list vm instead of get when getting virtual machine, which would help to mitigate the throttling issues when there're a lot of VMs in the cluster.

However, it introduced some weird issues when running pull-kubernetes-e2e-azure-disk tests (refer https://github.com/kubernetes/kubernetes/pull/87122#issuecomment-573921532 for more details). The error message

[2020-01-15 08:31] feiskyer commented on #87232
/sig cloud-provider

[2020-01-15 08:50] fengye87 opened #87233 "Super slow access to service IP from host (& host-networked pods) with Flannel CNI"
**What happened**:

I was PoC-ing the latest KubeVirt with K8s v1.17.0 (with Flannel CNI). After installed KubeVirt operator and KubeVirt CR (thus KubeVirt components), when I was trying to create a new VM with `kubectl apply -f https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master/labs/manifests/vm.yaml`, the command failed with:

[code]

**What you expected to happen**:

The comma

[2020-01-15 08:52] fengye87 commented on #87233
/sig network

[2020-01-15 08:55] k2huang opened #87235 "kubelet will print csi-plugin register error logs forever even if csi-plugin works well"
**What happened**:
After we updated our k8s cluster from v1.14.3 to v1.16.3, I noticed that kubelet print below error logs forever, but there was only one same log in v1.14.3.

[code]

**What you expected to happen**:
kubelet don't print above error logs if csi-plugin has worked well as before.

**How to reproduce it (as minimally and precisely as possible)**:
deploy csi node plugin with [below si

[2020-01-15 08:57] k2huang commented on #87235
/sig sig-node

[2020-01-15 09:05] bastienbc commented on #78761
I have this issue with an nginx ingress controller deployed with helm.
At first HPA did not even compute metrics because it also retrieved the resources from the default backend, which had no resource definition. I "repaired" it by putting requests and limits for the default backend (different deployment but overlapping labelSelector), and now HPA is setting replicas to the max for no reason (60%/

[2020-01-15 09:15] tanjunchen commented on #86763
// TODO: Make it work for all providers   still keep now

[2020-01-15 09:19] spuny commented on #73347
Yea, please let us know how did you fixed this problem.

Thanks

[2020-01-15 09:28] oxddr commented on #85683
/retitle Not enough capacity to schedule Prometheus in kubemark5000

[2020-01-15 09:37] andy-wolf168 opened #87236 "Kube proxy v1.15.6 cannot delete the NAT entries of IPv6, but why can kubectl delete pod be deleted contntrack in /pro/net/nf_contntrack"
**What happened**:
kube-proxy v1.15.6 fails to delete nat entries with IPv6 (https://github.com/kubernetes/kubernetes/issues/81729).
Error in kube-proxy:
kube-proxy: [1579049064.427996, {"log":"E0115 00:44:24.427840       1 proxier.go:633] Failed to delete kube-system/kube-dns:dns endpoint connections, error: error deleting conntrack entries for UDP peer {fd00:10:96::a, fd00:177:177::680a}, error:

[2020-01-15 10:05] #86992 closed

[2020-01-15 11:08] yuzhiquan commented on #86944
we use sr-iov cni and self-build ipam to allocate ip, ip leak is easy to reproduce, we are not find the cause yet.
k8s version: 1.16.0

[2020-01-15 11:26] justaugustus commented on #86182
Reporting back on the out of order releases. It seems the fixes I added in https://github.com/kubernetes/release/pull/1015 allow the releases to run in the right order.

I've run mock stage/release steps for 1.16.5 and 1.15.8.

Below are links to the GCB for those with access to view:

## [1.16.5](https://github.com/kubernetes/sig-release/issues/949)

| Step | Command | Link | Start | Duration | S

[2020-01-15 11:35] antoniocascais commented on #54491
Totally agree with @rohitkhatana !

[2020-01-15 12:02] soltysh commented on #82659
/remove-lifecycle stale

[2020-01-15 12:03] oxddr commented on #86562
/assign

I'll try to have a look this week.

[2020-01-15 12:06] oxddr opened #87240 "pull-kubernetes-e2e-gce is flaky"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
various

**Testgrid link**:

**Reason for failure**:
unknown

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass appreciated

pull-kubernetes-e2e-gce failed at least 4 times on my PR (https://github.com/kubernetes/kubernetes/pull/87013) for various re

[2020-01-15 12:06] oxddr commented on #87240
/sig testing

[2020-01-15 12:45] ingvagabund commented on #86972
In order to complete this task, https://github.com/kubernetes/kubernetes/pull/85861 needs to be merged and the jenkins job responsible for running the perf tests needs to be run a couple of times to produces artifacts the perf dashboard can consume.

[2020-01-15 12:45] #81270 closed

[2020-01-15 12:45] #85357 closed

[2020-01-15 12:57] #73169 closed

[2020-01-15 12:57] #81492 closed

[2020-01-15 12:57] #81564 closed

[2020-01-15 13:00] robwithhair commented on #54542
@awesomemayank007 OMG thank you!!! You saved my bacon.  Now why on earth would swap cause kubelet not to start?

[2020-01-15 13:03] k-vishwa commented on #81270
/remove-lifecycle stale

[2020-01-15 13:09] sciffer commented on #78761
I might have few labels that are common on the HPA and the pods of that
deployment, why?

On Mon, Jan 13, 2020 at 8:54 AM Max Williams <notifications@github.com>
wrote:

[2020-01-15 13:11] max-rocket-internet commented on #78761
It's not this. It's labels that are common with the deployment that the HPA is looking at, and pods that are NOT part of that deployment.

[2020-01-15 13:24] cscetbon commented on #28969
@vadalikrishna @krmayankk any information on the workaround would be much appreciated

[2020-01-15 13:28] sbueringer commented on #79610
Is there a new status or known workarounds for this issue? We also have the problem and it spams about one message per second into kube-controller-manager and audit logs.

[2020-01-15 13:35] cheeye commented on #87197
Maybe I didn't do it correctly. The ipvs mode is not working.

[code]

I have the ipset package installed.

[code]

[2020-01-15 13:39] cheeye commented on #87197
And I checked the release info of the rhel7.  It says the nftables is supported officially starting from rhel7.6. But it's not enabled by default.. I have to install nftables related package explicitly, which means the default iptables in rhel7 is still the "legacy" one.

[2020-01-15 13:51] neolit123 commented on #87197
looking at the logs above, for IPVS you seem to be missing critical kernel modules and the `ipset` binary. so you either have to find them for the platform or rebuild from source.

if that is the case, the kube-proxy maintainers should confirm, but my guess is that this new version of kube-proxy assumes that it needs the `/usr/sbin/iptables-legacy` binary on newer distros and RHEL 7.7 as a relativ

[2020-01-15 13:53] jsafrane commented on #86064
That rings a bell. Your volume is encrypted, right? AWS has a nasty bug that created encrypted volumes are sometimes *not* empty. I would recommend to raise a ticket against AWS, more tickets = more attention.

There is only very little we can do on Kubernetes side. From safety reasons, Kubernetes won't reformat a volume that already has some data. A simple typo in PV's fsType could erase somethin

[2020-01-15 13:53] jsafrane commented on #86064
cc @gnufied

[2020-01-15 13:59] cheeye commented on #87197
Thanks, @neolit123 . Actually, the #sig-network channel asked me to open an issue here as they think something is broken in the kube-proxy 1.17.. So what am I supposed to do report this issue/bug?

[2020-01-15 14:00] neolit123 commented on #87197
someone from SIG Network needs to find this issue and investigate if it's an actual bug.

try this still.

[2020-01-15 14:24] yp28 opened #87244 "Ability to specify internal interface and external interface in Kubeadm"
It seems like by default kubeadm tries to figure out the internal-ip by looking at what the hostname resolves to in `/etc/hosts`. However, this is not ideal since it resolves to the public ip on some cloud providers.

**What would you like to be added**:
I'd like the ability in kubeadm/KubeletConfiguration to specify what it should use as the internal-ip and what it should use as the external-ip.

[2020-01-15 14:25] yp28 commented on #87244
/sig node
/sig cluster-lifecycle

[2020-01-15 14:26] cheeye commented on #87197
OK. I will contact the sig-network.

As for creating a symbolic link from /usr/sbin/iptables-legacy, it still doesn't work.

[code]

[2020-01-15 14:29] dims commented on #87235
/sig node

[2020-01-15 14:33] franznemeth commented on #87197
I have the exact same problem on ubuntu 18.04.3 on s390x (4.15.0-74-generic #84-Ubuntu SMP Thu Dec 19 08:05:42 UTC 2019 s390x s390x s390x GNU/Linux).
Also using v1.17 via kubeadm.

[2020-01-15 14:38] aojea commented on #87197
The image used in kube-proxy is created from https://github.com/kubernetes/kubernetes/tree/master/build/debian-iptables
based in a debian-buster image with all the binaries included.

Is is possible for any of you with the s390x to try to build the image locally and find out if the problem is that the base images don't include the `/usr/sbin/iptables-legacy` binary?

[2020-01-15 14:47] ipuustin commented on #85764
I looked a bit further and it seems that the 10-core request is converted into cpu shares:

[code]

Especially https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/types.go#L25, which is used to set the cgroup limit, doesn't have a field for integer CPU requests. Also, container manager only knows that "10" cpus are reserved, but it's not told which ones those are.

[2020-01-15 14:48] #80227 closed

[2020-01-15 14:55] 928234269 commented on #81657
@palnabarun  I want to fix this static check. I'll assign pkg/volume/hostpath to myself.

[2020-01-15 14:55] neolit123 commented on #87197
the symlink workaround is for iptables, not IPVS. so don't pass `mode: ipvs` in that case.

[2020-01-15 14:59] #81566 closed

[2020-01-15 15:11] stgleb commented on #87244
When you do `kubeadm join` in JoinConfig you can configure nodeRegistration

[code]

Does it help in your case?

[2020-01-15 15:15] wzhx78 commented on #61937
I think this issue can use build tag GOFLAGS="-tags=nokmem" to forbid use kernel memory when container running on  kernel-3.10.0-xxx version.

[2020-01-15 15:15] franznemeth commented on #87197
I've built from master with `make sub-build-s390x`:

iptables v1.8.3 (legacy): no command specified
Try `iptables -h' or 'iptables --help' for more information.

The binary is definitly in the base image

[2020-01-15 15:18] aojea commented on #87197
can you run the wrapper script `/usr/sbin/iptables-wrapper`?

[2020-01-15 15:21] vfrans opened #87247 "Creating multiple Local Persistent Volumes on the same node with the same path unexceptedly works"
Hi everybody,

While doing setup testing on a 2 worker node Kubernetes cluster using kind (https://kind.sigs.k8s.io/docs/user/quick-start), i came up with this and cannot find info elsewhere.

I've created a folder on all of my worker nodes in /var/testpv and created the following PV:
[code]
It worked fine so i created a second one:
[code]

(Same, just different name)

Then i created 2 PVC using t

[2020-01-15 15:23] vfrans commented on #87247
/sig storage

[2020-01-15 15:24] tedyu commented on #79610
@liggitt @deads2k
Please comment on proposal
https://github.com/kubernetes/kubernetes/issues/79610#issuecomment-547489548

[2020-01-15 15:27] oxddr commented on #86562
Flakes are related to (already fixed) problem with new measurement in scalability tests around scheduling throughput

/close

[2020-01-15 15:27] #86562 closed

[2020-01-15 15:28] franznemeth commented on #87197
It's running with no output

[2020-01-15 15:28] ahg-g commented on #86373
@yqwang-ms to clarify, I am not saying that tinkering with the queue order will address complex multi-tenant scheduling problems. The default scheduler is by design simple, but at the same time fits the needs of a significant number of use cases.

In my opinion, re-implementing the YARN scheduler is a significant task that I am not sure it can reasonably be done by refactoring the default schedule

[2020-01-15 15:39] pperiyasamy opened #87249 "cpuset.cpu_exclusive flag not set for Guaranteed Qos Pod Container"
**What happened**:

I've deployed K8s cluster with kubelet's CPU Manager set to static policy.
While creating Guaranteed QoS POD with dedicated CPUs for the container, it assigns the dedicated CPUs, but without exclusive flag set in the container's cgroup file system (/sys/fs/cgroup/cpuset/cpuset.cpu_exclusive)

_worker_

[code]
_pod container_

[code]

**What you expected to happen**:

The CPU co

[2020-01-15 15:40] pperiyasamy commented on #87249
/sig node

[2020-01-15 15:45] alculquicondor commented on #86373
About short term solution:
Sounds like we are in the same line about using an internal priority that penalizes scheduling retries. As stated earlier, this should be easy to do after #87160. @Huang-Wei, do you know of any specific papers for this problem?

About long term solution:
The problem about multi-tenancy is that it is not very well defined in k8s terms. We can choose to use namespaces, but

[2020-01-15 15:49] oxddr commented on #79711
/close

[2020-01-15 15:49] #79711 closed

[2020-01-15 15:57] aojea commented on #87197
Can you obtain a shell int the container and try to run iptables -L directly?

this is my output in x64
[code]

[2020-01-15 15:59] MSSedusch commented on #82781
/remove-lifecycle rotten
it would still be great to support Write Accelerator in K8s on Azure

[2020-01-15 16:10] liggitt commented on #87231
You will need to back up and restore via the v1beta1 API if you want to create CRDs that do not meet v1 requirements. You can do that by indicating what version you want to capture:

[code]

/close

[2020-01-15 16:10] #87231 closed

[2020-01-15 16:10] tedyu commented on #87240
The following two tests frequently failed (in various test runs):

[sig-storage] PersistentVolumes-local [Volume type: dir-bindmounted] One pod requesting one prebound PVC should be able to mount volume and write from pod1 expand_more	2m32s

[sig-storage] PersistentVolumes-local [Volume type: dir-link] One pod requesting one prebound PVC should be able to mount volume and read from pod1 expand_mor

[2020-01-15 16:12] palnabarun commented on #81657
Sure! Please go ahead.

[2020-01-15 16:12] liggitt commented on #87240
Thanks for opening the issue. Flaking tests are being tracked in individual issues per test. Many of the failing tests already have an open issue tracking them, but feel free to open specific issues for any that are missing. See the list of open issues at https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Fflake

As a point of reference, test flakes have been part

[2020-01-15 16:12] #87240 closed

[2020-01-15 16:15] ptrovatelli commented on #24669
@SARAN-thala @kplimack sorry i'm confused: this issue is closed but still it doesn't seem obvious how to create a secret based on a full trust chain and it's still not documented either. I try when possible to include the full trust chain in servers so that client need only to trust the root CA.
My trust chain is generated in PEM format, with my own server first and the root CA last (which is the

[2020-01-15 16:15] liggitt commented on #87240
For reference:
* Stage failures were due to an infrastructure failure that is resolved -
* "In-tree volumes" and "Variable Expansion should allow substituting values" failures are due to https://github.com/kubernetes/kubernetes/issues/86312
* The "Pod should support readiness gates" test failure is tracked in https://github.com/kubernetes/kubernetes/issues/75355

[2020-01-15 16:17] ptrovatelli commented on #24669
/reopen

[2020-01-15 16:17] ashafer01 commented on #24669
@ptrovatelli The subject and issuer lines are not valid.

[2020-01-15 16:20] oxddr commented on #87240
Thanks for pointers.

 wasn't aware we track flakes per-test. I'll open a separate, per-test issues in the future.

[2020-01-15 16:25] #49487 closed

[2020-01-15 16:29] gnufied commented on #86064
Yeah this indeed looks like encrypted volume bug, we noticed in OCP. cc @leakingtapan @wongma7

[2020-01-15 16:33] gnufied commented on #86064
/sig aws

[2020-01-15 16:42] php-coder commented on #86465
Could you elaborate more on this? What do you mean by "create a condition"?

Based on the [docs](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate):

my understanding is that you have to interact with kubernetes API from your own code.

[2020-01-15 17:01] #79670 closed

[2020-01-15 17:10] wongma7 commented on #86064
/area provider/aws

[2020-01-15 17:58] yp28 commented on #87244
Although that does help for the representation of the internal-ip, the external-ip then gets lost in the overview of nodes using the Kubernetes API. On top of that, it'd mean that you'd have to have a different JoinConfiguration for every node in the cluster, whereas with defining an interface there's generally only a single configuration file.

[2020-01-15 17:59] wongma7 commented on #86064
Yes, please engage AWS, it is a known EBS issue and it should give them another data point.

Agree that there is little or nothing that kubernetes can do to mitigate the EBS issue.

Even in case kubernetes controller-manager is the one creating the EBS volume and in theory it would be safe for the first kubelet mounting the volume to format it...any sort of 0'ing, wiping, formatting, etc. is dange

[2020-01-15 18:22] numbsafari commented on #69687
Is there an issue tracking for getting this out of Alpha? I'm using GKE and would like to use this capability for pubsub/mq-based workloads as well, but cannot do so since this is gated with a feature flag?

I would love to track whatever issues are blocking this from going GA.

[2020-01-15 18:25] BenTheElder opened #87251 "test images push-build is broken"
/sig release
cc @claudiubelu @justaugustus @spiffxp
filing this to track before I forget in this wall of meetings >.>

the push-all target appears to have broken shell currently which means it's probably not only broken in CI but locally ...

[2020-01-15 18:28] SaranBalaji90 opened #87252 "Add support to enable/disable kubelet "/logs/" endpoint"
What would you like to be added:

One can access all logs located under /var/log on a worker node through kubelet "/logs" endpoint. This includes log files like auditd, secure logs, etc. Similar to "--enable-debugging-handler" or "--profiling" adding support for enabling/disabling "/logs" endpoint would facilitate cluster administrator to restrict access to /var/log folder.

Why is this needed:

A

[2020-01-15 18:31] rsparulek commented on #87218
I see that my calico-kube-controller and calico node pods are not in running state after my deployment came up fine as seen below:

[code]

[2020-01-15 19:01] stgleb commented on #87244
Okay, but I am not sure how would you differentiate between internal/external ip throught kubeadm configuration. I agree that is inconvenient from user prospective.

[2020-01-15 19:46] IAXES commented on #64623
This would be a helpful feature. In my use case, I use a CLI tool that extracts various parameters from the node in order to generate a (large) set of taints on all the nodes/masters in the cluster. The taints are applied via a simple Python microservice that imports the `kubernetes` package, and basically iterates over all nodes/masters and applying the equivalent of `kubectl taint...`. The servi

[2020-01-15 20:04] #79939 closed

[2020-01-15 20:07] claudiubelu commented on #87251
Hi. I've commented on slack about this, so reposting here:

Looking at [1], it looks like that function was not defined. ``kubernetes/test/images/image-util.sh`` sources the file ``${KUBE_ROOT}/hack/lib/util.sh`` where that error originates from. The function ``kube::log::error`` is defined in ``${KUBE_ROOT}/hack/lib/logging.sh``. ``logging.sh`` is not sourced by either ``util.sh`` or ``image-util

[2020-01-15 20:17] egernst opened #87259 "PodOverhead: add metrics for improved monitoring/observability"
**What would you like to be added**:

Improved observability for PodOverhead usage. In particular, it would be good to have metrics in place for the number of pods running which utilize an overhead.

Further, it would be good to breakdown these metrics by pod status.

**Why is this needed**:

Users will then easily be able to determine if pod overhead is being utilized in the system, and relative

[2020-01-15 20:17] egernst commented on #87259
/assign egernst

[2020-01-15 20:26] aojea commented on #87236
I can't understand this errors, the IPs there are IPv6 but it fails to match the address family

is kube-proxy working in IPv6 mode? you should be able to see that at the beginning of the kube-proxy log

[2020-01-15 20:42] dims commented on #87252
@SaranBalaji90 we are trying to get away from adding more command line params i think - so better to add stuff to Kubelet Configuration file - https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#create-the-config-file

[2020-01-15 20:43] dims commented on #87252
Do you want to try a proof of concept to see if folks like it?

[2020-01-15 20:56] hbagdi commented on #86889
It seems like this is a bigger problem.
I ran into this exact same issue in a GKE cluster (`v1.15.4-gke.22`).
`Cluster` policy somehow breaks kube-proxy but `Local` works fine.
The primary motivation of using `Cluster` is to preserve the client IP address.

[2020-01-15 20:58] adamcooke opened #87263 "Issue accessing LB service from pods on same node as the service's pod"
**What happened**:

I've identified a problem with accessing external Load Balancer IPs from within the cluster - specifically those provided by MetalLB. I believe this should work (as implemented in #77523).

I have a service (ingress-nginx in this case but it should apply to any service) set up as `type: LoadBalancer` and `externalTrafficPolicy: Local`. MetalLB has announced the IP from one of o

[2020-01-15 20:59] adamcooke commented on #87263
/sig network

[2020-01-15 21:45] claudiubelu commented on #87251
Got it. Basically, that function is called when ``kube::util::ensure-gnu-sed`` fails. This function basically checks if ``sed`` exists, and if it's GNU based or not. Unfortunately, it greps after GNU, but the ``sed`` that exists in the ``gcr.io/k8s-testimages/gcb-docker-gcloud:v20190906-745fed4`` image used by the Image Promoter, it's busybox: https://paste.ubuntu.com/p/4Cjd5HPrRv/

TLDR: So, beca

[2020-01-15 21:58] BenTheElder commented on #87251
maybe we should use a different image?
we check for gnu sed because of compatibility issues?

[2020-01-15 21:59] ptrovatelli commented on #24669
OK thanks but the rest can be left as is? multi-lines base64 content + non base64 characters like "-----BEGIN CERTIFICATE--"?

[2020-01-15 22:03] ashafer01 commented on #24669
@ptrovatelli that's correct. I suggest researching the PEM format if you have any further questions or issues. This issue covers any k8s-specific problems well.

[2020-01-15 22:13] matihost commented on #66067
Update:  After updating  cri-o from 1.15 to 1.16 the problem vanished.

[2020-01-15 22:17] oomichi commented on #85193
@danielqsj
Sorry for my late comment.
This issue is duplicated with https://github.com/kubernetes/kubernetes/issues/81245
With https://github.com/kubernetes/kubernetes/issues/81245 we manage what files should be fixed actually.
So how about concentrating on the above issue instead of this?

[2020-01-15 22:24] davidB commented on #17512
@omerfsen can you try the new version kubectl-view-allocations and comment into the ticket [version `GLIBC_2.25' not found #14](https://github.com/davidB/kubectl-view-allocations/issues/14).

[2020-01-15 22:33] oomichi opened #87264 "Enable verify-import-boss check for e2e framework"
**What happened**:

There is `test/e2e/framework/.import-restrictions` to manage import ways under `test/e2e/framework/` but that doesn't work at our upstream CI.
We can enable it by https://github.com/kubernetes/kubernetes/pull/81246#issuecomment-523510399
But if doing that, we will face the following error with `./hack/verify-import-boss.sh`
[code]

**What you expected to happen**:

I hope the c

[2020-01-15 22:33] oomichi commented on #87264
/sig testing
/area e2e-test-framework

[2020-01-15 23:22] linki commented on #87028
@liggitt Thank you!

[2020-01-15 23:38] neolit123 commented on #87244
@yp28

external IPs in kubernetes are managed by cloud provider integration and this is something that kubeadm does not handle. internal-ip has a slightly misleading meaning in k8s - it's the IP of the node, no matter if picked from external or internal interface.

it's unlikely that kubeadm will allow passing interface by name from `InitConfiguration` to be able to determine where to pick an IP f

[2020-01-15 23:42] neolit123 commented on #87233
can you confirm the same problem with another CNI plugin like Calico?

[2020-01-15 23:43] #87218 closed

[2020-01-15 23:45] neolit123 commented on #87233
/close

[2020-01-15 23:45] #87233 closed

[2020-01-15 23:46] neolit123 commented on #87229
/close

this is by design.
you need to pass the cert key in the kubeadm configuration:

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

[2020-01-15 23:46] #87229 closed

[2020-01-15 23:47] neolit123 commented on #87244
/priority awaiting-more-evidence

[2020-01-16 00:29] cheeye commented on #87197
From the official image, I got below:
[code]

[2020-01-16 00:39] cheeye commented on #87197
I tried to build my local image in s390x and run a container. Below is the result.

[code]

[2020-01-16 00:42] claudiubelu commented on #87251
Looking through the commit history, there are only 4 cases in which the GNU sed thing was mentioned / ensured, and the reason was pretty much so the scripts can run on Mac. From what I've read online, Macs have the FreeBSD version of sed, which behaves a bit differently.

``image-util.sh`` only uses sed to replace a few strings in some Dockerfile files, which is pretty standard, so I don't think t

[2020-01-16 01:03] PatrickLang commented on #75752
ok, currently reproducing problem with this:

1. Create a deployment for 15 pods with high CPU load

[code]

2. Look at metrics-server logs `kubectl logs -n kube-system metrics-server-...`

[code]

3. `kubectl top node` fails because it can't get the stats from the metrics-server

[2020-01-16 01:40] dims commented on #87252
+1 to file a PR and request eyes from sig-node folks

[2020-01-16 01:47] dimm0 commented on #86281
CSI volumes are taking from 10 minutes to never to attach after upgrading to 1.17.1

[2020-01-16 01:49] danielqsj commented on #85193
@oomichi Thanks, that's great. I missed this issue before.
I will close this one.

[2020-01-16 01:49] #85193 closed

[2020-01-16 01:59] dimm0 commented on #86281
rook cephFS driver

[2020-01-16 01:59] SataQiu commented on #86052
It looks like we've checked all the folders listed in this issue.
Thank you all for your help!
/close

[2020-01-16 01:59] #86052 closed

[2020-01-16 02:06] lincoln6delta commented on #85761
same issue

[2020-01-16 02:17] andy-wolf168 commented on #87236
thanks @aojea .
my kube-proxy.log:
kube-proxy: [1578964890.538095, {"log":"I0114 01:21:30.537858       1 server_others.go:76] IPv6 bind address (::), assume IPv6 operation\n","stream":"stderr"}]
kube-proxy: [1578964890.567879, {"log":"W0114 01:21:30.567665       1 proxier.go:513] Failed to load kernel module ip_vs with modprobe. You can ignore this message when kube-proxy is running inside contain

[2020-01-16 02:17] dimm0 commented on #86281
workqueue_adds_total volumes metric for controller in prometheus shows 85 ops for "volumes", highest of all. What does it mean?

[2020-01-16 02:30] wybaron opened #87268 "The connection to the server <$ MASTER>: 6443 was refused-did you specify the right host or?"
I encountered the following problems during the kubernetes single node test. I tried to solve the problem in a general way. Looking forward to getting everyone's help.
cause:
    Perform a forced shutdown test of the kubernetes host (single node) without shutting down kubernetes related services.
Current situation:
    After starting the server, I cannot access the kubernetes dashboard, use the co

[2020-01-16 02:32] i542873057 commented on #85560
do you resoloved the problem?I have the same case

[2020-01-16 02:54] yqwang-ms commented on #86373
@ahg-g Thanks for the clarification, seems we do not plan to **first class** support multi-tenant in default scheduler at least in short term.

Anyway, as @alculquicondor said, even in short term, we at least need to make the default scheduler
 (and the whole K8S) **more extensible**, so that scheduling plugin and/or scheduler extender is **able to easily** support multi-tenant by themselves. (Thi

[2020-01-16 03:04] #86068 closed

[2020-01-16 03:04] #86926 closed

[2020-01-16 03:18] RainbowMango commented on #85560
/sig instrumentation
/cc @serathius

[2020-01-16 03:28] jenting commented on #87231
Thanks, @liggitt.

The next question is how do we know the CRD meet v1 requirements or not?
Is there any API or kubectl command to known this?

[2020-01-16 03:59] liggitt commented on #87268
That message means the kubernetes API server is not running. Ensure you have configured it to start on machine startup, or manually restart the API server.

[2020-01-16 03:59] #87268 closed

[2020-01-16 04:12] #80035 closed

[2020-01-16 04:28] mikehuston commented on #26895
@tedyu thanks for fixing! I also ran into this :(

For anyone looking for a workaround, I used the [timeout](https://ss64.com/bash/timeout.html) command and it seems to have the intended effect.

That is, something like..
[code]

[2020-01-16 05:32] yqwang-ms commented on #83826
/remove-lifecycle stale for temp

[2020-01-16 05:32] yqwang-ms commented on #83826
/remove-lifecycle stale

[2020-01-16 05:50] yustoris commented on #79224
So, how do I set common parameters using reference.
Is it boilerplate container setting such following ones ugly, isn't it ?

[code]

[2020-01-16 06:07] fengzixu commented on #87161
/cc

[2020-01-16 06:15] PaulFurtado commented on #83336
/remove-lifecycle stale

[2020-01-16 06:28] vaibhav-kaushal commented on #33618
@mwtzzz That solution worked, but now I am seeing multiple pods, running on different nodes with the same IP address. What might be wrong here?

Output of `kubectl get pods -A -o wide`:

[code]

[2020-01-16 06:42] madireddyr commented on #28969
@krmayankk  @vadalikrishna  chrislovecnm : any info how you resolved this issue

[2020-01-16 06:49] hpandeycodeit commented on #82950
/remove-lifecycle stale

[2020-01-16 06:51] fengzixu commented on #87249
/cc

[2020-01-16 06:58] biello commented on #87227
/triage/support

[2020-01-16 06:59] biello commented on #87227
/triage support

[2020-01-16 07:01] biello commented on #87227
/sig Docs

[2020-01-16 07:04] biello commented on #87227
I suppose that the docs should point out this behavior if podManagementPolicy of StatefulSet cannot be modify after creation.

[2020-01-16 07:21] fengzixu commented on #87211
/cc

[2020-01-16 07:24] aojea commented on #87197
so it seems that the cross-compiling toolchain of the image/s is not working, right?

[2020-01-16 08:12] andy-wolf168 opened #87276 "can this PR https://github.com/kubernetes/kubernetes/pull/82966 merge to k8s 1.15"
My k8s version is 1.15.6.
I have meet the same problem：kube-proxy fails to delete nat entries with IPv6（https://github.com/kubernetes/kubernetes/issues/81729）
I found this bug fixed  in PR: https://github.com/kubernetes/kubernetes/pull/82966
but i won't update k8s 1.15 temporarily.
so can fix this  this bug in k8s 1.15?

What happened:

What you expected to happen:

How to reproduce it (as minimal

[2020-01-16 08:16] #62900 closed

[2020-01-16 08:35] ipuustin commented on #87249
The other containers in guaranteed pods with integer cpu requests will get other full cpus assigned to them while the default cpu pool shrinks, so there should be no overlap when the system . However, it's not guaranteed to be true outside of the kubernetes domain: there might be other "cousin" cpusets belonging to the system. I just tried setting the `cpuset.cpu_exclusive` flag on a container in

[2020-01-16 08:36] ptrovatelli commented on #24669
@ashafer01 great thanks! I wasn't sure that pem format was fully supported as in most procedures it's asked to strip \n from the base64 string before using it in the secrets; and it's usually supposed to be base64 only.

[2020-01-16 08:44] ipuustin commented on #86539
@fujitatomoya: have you seen this issue: https://github.com/kubernetes/kubernetes/issues/59110 ?

[2020-01-16 08:44] 372046933 opened #87277 "Request by Service IP is two or three times slower than by pod IP"
**What happened**:
I have a deployed a service with two pods.
[code]
and
[code]
are test cases. Access via service IP takes about 2~3 seconds per request, while pod Ip takes about 500 ms.

**What you expected to happen**:
Since Service is backed by two pods. It should have better response time

**How to reproduce it (as minimally and precisely as possible)**:
The service is TensorFlow serving. I u

[2020-01-16 08:53] yqwang-ms opened #87278 "Container stuck in Waiting even for permanent errors (e.g. image not found) and restartPolicy=Never"
**What happened**:
Container **stuck** in Waiting even for **permanent** errors (e.g. image not found) and **restartPolicy=Never**

Event:
`      "message": "Failed to pull image \"nginx:notag132\": rpc error: code = Unknown desc = Error response from daemon: manifest for nginx:notag132 not found",
`

Pod Status:
[code]

**What you expected to happen**:
If we can make sure that the container meet

[2020-01-16 09:01] yqwang-ms commented on #87278
/sig node
/sig apps
@dims @bgrant0607 @nikhiljindal  @smarterclayton PTAL

[2020-01-16 09:02] yxxhero commented on #40157
Does anyone have a solution？thanks

[2020-01-16 09:12] yqwang-ms commented on #87278
/cc @liggitt

[2020-01-16 10:11] gajus commented on #40157
^

[2020-01-16 10:14] muscovitebob commented on #51096
I have encountered this with a resource-limited namespace that was close to capacity (unsure if this was causative). Setting the timeout as suggested here fixed it.

[2020-01-16 10:17] JamesMurkin commented on #87278
Hi,

Just to add another example to this that I hope is relevant.
If you make an pod with an invalid image name. For example as simple as having a capital letter in the image name. The pod will forever be stuck in Pending with InvalidImageName.

This will never recover, the image is invalid. So I think it should fail the pod/container.

An example of this:

[code]

[2020-01-16 10:18] #72915 closed

[2020-01-16 10:19] luisdavim commented on #64623
This implements a type of job that runs to completion on every node:
https://github.com/AmitKumarDas/metac/tree/master/examples/daemonjob
@IAXES for your use case, have you looked into static pods?

[2020-01-16 10:26] x3nb63 opened #87280 "join master fails with: error decoding certificate key: encoding/hex: invalid byte: U+006D 'm'"
**What happened**:

joining a master to the cluster fails.

**What you expected to happen**:

it to succeed or tell me an error I can understand.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
Tell me if you need that stack trace.

**Anything else we need to know?**:

this `encoding/hex: invalid byte: U+006D 'm'` part of the error looks as its coming from the X509 parse

[2020-01-16 10:49] ZhengZhenyu commented on #85267
Very interesting proposal, looking forward to see some progress on this issue

[2020-01-16 11:07] JanScheurich commented on #87249
@ipuustin This was a misunderstanding of the function of the cpuset.cpu_exclusive flag on our side. I thought it would automatically "disable" the CPUs in the current cpuset in other non-ancestor cpusets. But it seems it will only prevent that new overlapping cpusets can be created, and as your trial showed, you can't set the flag if there are already overlapping cpusets.

So the cpumanager approa

[2020-01-16 11:21] subrnath commented on #85764
Thanks.

Can you please let me know how to specified this? From https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/, --system-reserved=cpu is to be a total number of cores and not the cpu numbers like 1-10. Do you see any issue in "--system-reserved=cpu=10 param we have given". I can see another param ---reserved-cpus. this option is added in k8s 1.17 only.  Also from docu

[2020-01-16 11:22] franznemeth commented on #87197
Looks like it, sadly I can't get the full dockerized build to work. The build container is x86 for some reason

[2020-01-16 11:54] izakp commented on #40157
@yxxhero we are using https://github.com/artsy/docker-preoomkiller in production to soft-restart some image resizing background task containers that tend to bloat in memory - it's working quite well

[2020-01-16 11:59] joakimr-axis commented on #72956
What is the current status of these? The first two of those files are still found in hack/.shellcheck_failures, but perhaps there are fixes coming in? Or would you like a wingman on this?

[2020-01-16 12:21] droslean commented on #86787
@neolit123 Any news?

[2020-01-16 12:31] IAXES commented on #64623
@luisdavim Thanks for the link. Also, yes, I had considered using static pods, but I'm aiming to go with a long-term solution (ideally part of K8S itself so it gets ample test/use coverage) that operates in a one-shot manner (i.e. in the case of static pods, when they're done, there's no need for them to be running anymore, even if they're just idling in a sleep-loop).

[2020-01-16 12:59] cscetbon commented on #28969
It's definitely a problem when both nodes are getting IPs of each other. Cassandra complains that an existing node already holds the tokens the current node is trying to get and refuses to start.

That's why if someone like @chrislovecnm has a workaround it would be much appreciated to know it.

as you know, the issue is we can't assign different annotations to nodes belonging to a StatefulSet

[2020-01-16 13:02] k2huang opened #87282 "kubelet can't unregister csiplugin after csiplugin pod is deleted from node"
**What happened**:
[code]

Before deleting csiplugin pod, we will firstly remove register unix domain socket </var/lib/kubelet/plugins_registry/xxx-reg.sock>, which will trigger kubelet unregister csiplugin.
After we update our k8s cluster from v1.14.3 to v1.16.3, I noticed that above error logs, meanwhile `kubectl get csinode node-xxx`, I can see old plugin in spec.drivers list but it should not(

[2020-01-16 13:03] k2huang commented on #87282
/sig node

[2020-01-16 13:19] liggitt commented on #87278
ImageNotFound is not necessarily a permanent error. Deployment pipelines can start a deployment at the same time the required image is being pushed, and the pod startup waits for the image to become available.

[2020-01-16 13:45] yqwang-ms commented on #87278
@liggitt So, why if other Pod dependent missing are treated as permanent error, such as we will receives forbidden (404) if the Pod's PriorityClass cannot be found.

Another example is:
kubelet will just fail Pod if the resource predicate check failed, such as InsufficientResourceError: OutOfcpu, etc
https://github.com/kubernetes/kubernetes/blob/b82a1d46003bf38f13cab864c0be09feefd27c4f/pkg/kubelet

[2020-01-16 14:02] neolit123 commented on #86787
this one is on cloud provider GCP.

[2020-01-16 14:10] fengzixu commented on #87104
@droslean I would like to handle this failing test.

[2020-01-16 14:12] fengzixu commented on #87104
/assign @fengzixu

[2020-01-16 14:12] #86651 closed

[2020-01-16 14:13] droslean commented on #87104
@fengzixu All help is welcome.

[2020-01-16 14:19] liggitt commented on #87282
/assign @davidz627

[2020-01-16 14:21] liggitt commented on #87276
Given that PR is marked as a feature, I would not expect it to be picked to older releases. As noted in the PR:

/close

[2020-01-16 14:21] #87276 closed

[2020-01-16 14:23] liggitt commented on #87247
This is working as intended. If it is not desired for multiple persistent volumes to address the same storage, the person defining the persistent volume object is responsible for ensuring the host paths do not overlap. The local persistent volume type can either be used to provision distinct storage (by specifying non-overlapping paths in the PV objects), or to share storage when on the same node

[2020-01-16 14:24] #87247 closed

[2020-01-16 14:25] ipuustin commented on #87249
Well, I guess the manual approach for this is to use kubelet's `--system-reserved` flag limiting the amount of cores available to cpu manager. Then see which cores cpu manager has taken to itself in the default cpuset. After this is done, create a new cpuset cgroup and add set the `cpuset.cpus` there to be exactly the reserved cpus and move all the system processes there. You might already have a

[2020-01-16 14:31] liggitt commented on #87231
You have a few options... to see validation errors you would get from deleting/recreating in v1, you can do this (ignoring the "AlreadyExists" errors):
[code]

If you have another cluster, you can dry-run the create against it:
[code]

[2020-01-16 14:32] #82828 closed

[2020-01-16 14:33] yqwang-ms commented on #87278
From another aspect, for long running service (replicaset, statefulset, etc), we can consider all/most errors can be fixed on the fly later (by human or machine), so there is no permanent error. This is the common case for service.

However, for batch job, usually user will not try to fix the bad job on the fly, they just want fail the bad job, release resource, get failure notification, revise th

[2020-01-16 14:34] tedyu commented on #87282
Maybe we can establish a map from socketPath to (handler, infoResp.Name) so that within unregisterPluginFunc, we don't need to call dial().

I can send out a PR if the above is adopted.

[2020-01-16 14:51] yqwang-ms commented on #87278
And even if for the Deployment case, ImageNotFound cause the Pod failed, then the Pod is still controlled by the restartPolicy=Always, so it will be still retried.

Furthermore, now user have choice to configure it, by restartPolicy, and it is desired support more user scenario as I mentioned above.

[2020-01-16 14:55] ahg-g commented on #86373
Preemption is an extension point we discussed multiple times in the past, in the last sig meeting we agreed to pursue this once the migration of predicates/priorities is done and settled.

I think adding extensions points to alter more the queue behaviour beyond sorting is certainly valid, but I feel a standalone KEP is warranted.

Regarding adding an Object API to identify tenants, this needs to

[2020-01-16 15:00] DeySouvik commented on #84601
Found one more issue that even if the NIC port are attached to NUMA 1 in case of userspace CNI, the cpu allocated/pinned for the container is coming from numa 0. This will effect the performance as the network packets needs to traverse the QPI/UPI link to move from one NUMA to the other.

Host side
[root@node3 ~]# ovs-vsctl show
94adf6db-4a8d-41fc-a5e0-5b1ee35b9b4a
    Bridge "br-4"
        datapa

[2020-01-16 15:25] life1347 opened #87284 "Informer invokes XXXFunc multiple times when adding/updating/deleting CRD"
**What happened**:

I used the informer code generated by `code-generator` and notice that informer invokes XXXFunc multiple times when adding/updating/deleting CRD.

[code]

If `N` informers are created and get started like

[code]

If a CRD is added/updated/deleted, each informer invokes it's own XXXFunc `N` times.
For example, if a CRD is updated, then each informer will call UpdateFunc `N` tim

[2020-01-16 15:31] mikeparker commented on #76714
/remove-lifecycle stale

[2020-01-16 15:38] ptrovatelli commented on #24669
@ashafer01 thanks a lot it works!
To sum up, in order to serve a a full trustchain during the handshake:
- place the server certificate first and the root CA last
- strip off extra lines in the file to keep only `-----BEGIN CERTIFICATE-----`, `-----END CERTIFICATE-----`, and those multi-lines base64 certificate data (do not remove \n there)
  - for example if converted from p7b format, remove `sub

[2020-01-16 15:41] life1347 commented on #87284
/sig api-machinery

[2020-01-16 15:43] joakimr-axis commented on #72956
Suggestion for fixing ./build/lib/release.sh found in https://github.com/kubernetes/kubernetes/pull/87285

[2020-01-16 15:48] #81824 closed

[2020-01-16 15:51] Trackhe commented on #85560
@i542873057 yes i have. but i m not sure what was the solution.

metrixserver deployment yml.

            - '--kubelet-insecure-tls'
            - '--kubelet-preferred-address-types=InternalIP'

i think

[2020-01-16 15:52] neolit123 commented on #76714
/lifecycle frozen

did you confirm that this can happen naturally?

i think the logic there is pretty sane and i doubt changes will be accepted to it, by the owners of client-go.

if you want to get feedback on this the forums for that are the SIG API machinery meeting or slack channel (#sig-api-machinery).

[2020-01-16 16:02] skilxn-go commented on #84353
Can you assign this to me? I'm glad to contribute this, if it's still necessary.

[2020-01-16 16:07] tedyu commented on #87282
/assign

[2020-01-16 16:14] yqwang-ms commented on #86373
Thanks @ahg-g for the info, totally agree! :)

[2020-01-16 16:17] yqwang-ms commented on #86373
And this issue can be a driver which helps us to figure out which plugin/featue we should support in future.

[2020-01-16 16:24] #81597 closed

[2020-01-16 16:25] thockin commented on #65013
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-01-16 16:29] thockin commented on #69811
Can you use type=LoadBalancer and set the `status.loadBalancer.ingress.ip`
instead?  Normally that is filled in by a cloud provider.  You are,
effectively, your own cloud provider.

On Wed, Jan 8, 2020 at 3:23 AM Bence Szikora <notifications@github.com>
wrote:

[2020-01-16 16:30] neolit123 commented on #87280
/area kubeadm
/sig cluster-lifecycle
/triage support

your certificate key is not valid - it should be a 64 character long HEX string.
when you create a "init" node with the `--upload-certs` extra flags it should give you this key.

you can execute the upload on demand, using:
`kubeadm init phase upload-certs --upload-certs`
this will give you a new key.

please reopen if you have further question

[2020-01-16 16:30] #87280 closed

[2020-01-16 16:31] uablrek commented on #69811
If needed please see; https://github.com/Nordix/assign-lb-ip

[2020-01-16 16:48] alculquicondor commented on #86373
I would say let's just stay with the Queue endpoint. I believe it alone should suffice to solve starvation. My take would be to start from there. If it isn't enough, a KEP is the way to go.

Let's open a separate issue for this. I also agree we have to engage with multi-tenancy wg before deciding anything.

[2020-01-16 16:59] tedyu commented on #87284
bq. use the same informer to add event handlers

+1

[2020-01-16 17:07] inoam opened #87288 "Automatically remove labels from node on restart"
**What would you like to be added**:

Ability to automatically remove label from node after reboot.

**Why is this needed**:
Consider the following scenario:
I want to schedule pods on node only after some initiation action is done (in this case, mounting shared volume).
The method I use is having some "nodeman" daemonset, that label the node with "application_ready" after performing the operation

[2020-01-16 17:08] inoam commented on #87288
/sig/node
/sig/scheduling

[2020-01-16 17:18] mikeparker commented on #76714
Yes, users are getting the bug simply with day to day usage, they aren't manually changing their computer clock.

I'm unsure whats sane about it. Not accepting our own certificate because we're setting a NotBefore time based on the current value of the system clock which is known to be unreliable and then rejecting the certificate we just created due to a minor clock adjustment, does not seem sane

[2020-01-16 17:21] neolit123 commented on #76714
i'm surprised there are systems that do that. possibly other bad things can happen next to certificates being rejected.

[2020-01-16 17:22] claudiubelu commented on #87251
Update: I can currently build and push images from inside the ``gcr.io/k8s-testimages/gcb-docker-gcloud:v20190906-745fed4`` container, which is the same one used by the promoter. I've used the following command:

    docker run -t --privileged -v /var/run/docker.sock:/var/run/docker.sock \
        -v /workspace/kubernetes/:/workspace/kubernetes \
        -v /home/ubuntu/.docker:/root/.docker \

[2020-01-16 17:25] liggitt commented on #76714
padding NotBefore to backdate it a small amount (e.g. an hour) seems reasonable to me

[2020-01-16 17:30] cbf123 commented on #84601
@DeySouvik in your example given above, were you using the "restricted" or "single-numa-node" policy for the Topology Manager?

[2020-01-16 17:57] hickeng opened #87290 "Support SNI style behaviour for IP access from behind a NAT LB."
PR kubernetes/kubernetes#85308 introduced an ability to apply an SNI style mechanism for serving specific certificates based on the _IP_ used to access the apiserver. This mechanism is only effective if the apiserver isn't fronted by a NAT LB as it uses the destination IP to select certificates.

This issue is opened to follow up on an expanded capability to allow differentiated certs from behind

[2020-01-16 18:01] hickeng commented on #87290
/sig api-machinery

[2020-01-16 18:10] dimm0 commented on #86281
Mine suddenly started working

[2020-01-16 18:11] liggitt commented on #87290
/assign @deads2k

[2020-01-16 18:13] liggitt commented on #87284
I believe that is the case. @deads2k, can you confirm?

[2020-01-16 18:20] klihub commented on #87249
I think this is not possible with stock Kubernetes alone at the moment. That's why people are trying to use various kinds of workarounds, for instance for K8s-hosted NFV/DPDK applications: see [CPU-Pooler](https://github.com/nokia/CPU-Pooler), [CMK](https://github.com/intel/CPU-Manager-for-Kubernetes) or [CRI Resource Manager](https://github.com/intel/cri-resource-manager). All of these workaround

[2020-01-16 18:24] gnufied commented on #86281
What does the metric for attach and detach look like?

[2020-01-16 18:24] neolit123 commented on #87259
/sig ndoe

[2020-01-16 18:30] shyamjvs opened #87292 "Apiserver<->etcd watches broken for infrequently changing types"
As promised on sig-scale sync today, I'm filing an issue regarding the problem I recently saw on one of our production clusters. Summary:

- we triggered a rolling upgrade of our etcd cluster
- as soon as the first etcd instance was replaced, the master instance which was holding watches with that instance had to to re-establish those watches
- around the time when it tried doing so, I saw multipl

[2020-01-16 18:43] dimm0 commented on #86281
Controller manager "volumes" and "claims" add rate is still at 86 ops
work queue latency shows 9s for "disruption"

Scheduler latency still shows 17 minutes for volume, I'm surprised! Maybe haven't reset yet

[2020-01-16 18:53] gnufied commented on #86281
ack. I am interested in attach_detach operation metrics from controller-manager. They should tell us more accurately if it is indeed attach and detach operation that is taking long time.

[2020-01-16 18:54] dimm0 commented on #86281
https://grafana.nautilus.optiputer.net/d/72e0e05bef5099e5f049b05fdc429ed4/kubernetes-controller-manager?orgId=1
See it here?

[2020-01-16 18:55] NicholusMuwonge commented on #78617
How would you do this for windows

[2020-01-16 19:18] liggitt commented on #87292
/remove-kind bug

A watch terminating on a rarely changed resource is expected, and is not a bug. Clients are expected to relist and obtain a fresh resourceVersion when they encounter this scenario. See https://github.com/kubernetes/website/blob/master/content/en/docs/reference/using-api/api-concepts.md#efficient-detection-of-changes:

The question about whether etcd progress would make this happe

[2020-01-16 20:14] spiffxp commented on #87214
/close
This isn't really failing enough (2 times in the last 2 weeks) to be on our radar, please reopen if this error persists

[2020-01-16 20:14] #87214 closed

[2020-01-16 20:27] bowei commented on #87142
/assign

[2020-01-16 20:35] dlisin opened #87294 "v1.15.8 hyperkube docker image reports v1.15.9-beta0 version"
**What happened**:
`hyperkube kubelet --version` executed inside `k8s.gcr.io/hyperkube-amd64:v1.15.8` container reports version `v1.15.9-beta.0`

**What you expected to happen**:
Version `v1.15.8` should be reported

**How to reproduce it (as minimally and precisely as possible)**:
Execute:
[code]

[2020-01-16 20:36] dlisin commented on #87294
/sig release

[2020-01-16 20:39] ialidzhikov commented on #72757
/remove-lifecycle stale

[2020-01-16 20:50] neolit123 commented on #87294
related to https://github.com/kubernetes/release/issues/1020

actually let's consolidate these.
please add a comment to the above issue that hyperkube is also affected.

thanks
/close

[2020-01-16 20:50] #87294 closed

[2020-01-16 21:01] mwtzzz commented on #33618
Hi Vaibhav,

Unfortunately it has been a few months since I was in that job. I'm now at
a different company where we use Openshift on a large scale. I wouldn't
know what to tell you about your issue.

Michael

On Wed, Jan 15, 2020, 10:28 PM Vaibhav Kaushal <notifications@github.com>
wrote:

[2020-01-16 21:02] uthark opened #87295 "kubectl 1.15.8. and 1.16.5 reports incorrect version."
**What happened**:
Download wget https://storage.googleapis.com/kubernetes-release/release/v1.16.5/bin/darwin/amd64/kubectl

and run
[code]

**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.

[2020-01-16 21:07] uthark commented on #87295
Looks like a dupe of https://github.com/kubernetes/release/issues/1020

[2020-01-16 21:07] #87295 closed

[2020-01-16 21:31] dimm0 commented on #86281
Seems like it's not scaling with the number of volumes...
With 300 volumes back, it's slow again

[2020-01-16 21:54] binboum commented on #36847
Good news, it is now possible.

https://docs.pingidentity.com/fr-FR/bundle/pingfederate-100/page/ojz1568310087399.html

[2020-01-16 22:31] BenTheElder commented on #72956
Hi, most of these have some attempts to patch them in flight but they've been tricky to land (between some awkward failures, and getting review :/) and tend to be somewhat stalled ... :disappointed:
I can't approve some of the changes yet, but I will happily find time to review PRs.

[2020-01-16 22:33] dpreetam commented on #36847
Have to upgrade to PF 10.  Glad Ping listened to us(customer).

[2020-01-16 22:38] #87127 closed

[2020-01-16 22:53] lukeschlather commented on #66563
Seems like there ought to be a way to get the expected behavior with kubectl wait (although it seems like something built in to Job would make sense.)

[2020-01-16 22:57] andrewsav-datacom commented on #63371
We've just had a case of a job triggered from cronjob on apply, even when cronjob schedule has not changed.

[2020-01-16 23:01] multi-io opened #87296 "kubectl taint --help example doesn't work"
**What happened**:

`kubectl taint --help` says:

[code]

That doesn't work:

[code]

It doesn't matter whether there is a node "foo" or not. It doesn't seem to contact the API at all.

**What you expected to happen**:

Examples form the help texts should work.

**Anything else we need to know?**:

Looking at https://github.com/kubernetes/kubernetes/blob/7d15d41eb87f8e6977a8947efe3edf7a75c1d01d/pk

[2020-01-16 23:19] bowei commented on #87142
cc: @robscott this is related to endpoints

[2020-01-16 23:25] andrewsykim commented on #85422
/remove-triage unresolved

[2020-01-16 23:40] neolit123 commented on #87296
i believe there were updates about this at some point.
a PR is welcome

/remove-kind bug
/kind documentation
/sig cli

side note:

Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.7", GitCommit:"6c143d35bb11d74970e7bc0b6c45b6bfdffc0bd4", GitTreeState:"clean", BuildDate:"2019-12-11T12:34:17Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}

always make sure the c

[2020-01-16 23:43] bukowa opened #87300 "extend EnvVarSource to use data from CRD / ability to extend Secrets in CRD"
**What would you like to be added**:
Currently [EnvVarSource](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#envvarsource-v1-core) accepts only:
[code]
We could load that data from a CRD.
[code]
Another idea is to be able to extend `secrets` resource in CRD (so we could define custom Secret definition that will re-use existing `secrets` logic.
[code]
[code]
**Why is this need

[2020-01-16 23:43] thockin commented on #56440
The argument I heard for this was "my service is down, handle it better
than black-hole".

I am not 100% convinced but it was plausible ..

On Mon, Jan 13, 2020, 2:11 PM kfox1111 <notifications@github.com> wrote:

[2020-01-16 23:48] bukowa commented on #87300
/sig area/custom-resources
/sig area/security
/sig aera/secret-api

[2020-01-17 00:21] Huang-Wei commented on #86909
We should revisit this. My 2 cents: https://github.com/kubernetes/kubernetes/pull/87134#issuecomment-575408639

[2020-01-17 00:32] Huang-Wei commented on #87161
One gentle reminder/tip :)

If you only want to be subscribed without giving any **real** comments, please restrain of leaving `/cc` because it would generate useless (email) notifications. There is a **"Subscribe" button** to ensure you get subscribed without triggering (email) notifications to others.

[2020-01-17 01:31] tallclair opened #87301 "Client version skew and immutable field updates"
**What happened**:

1. Suppose a new feature is added in version 1.55 that adds an immutable field to the PodSpec, "FooBar".
2. An old client (version 1.54) attempts to update a pod with a FooBar
3. The old client gets the pod, but drops the unknown field FooBar
4. The client makes its change, and then sends an update request (w/o FooBar)
5. The apiserver rejects the update as invalid for attempti

[2020-01-17 01:58] lavalamp commented on #68514
I think that hasn't been true since 1.11?

On Thu, Jan 16, 2020, 5:27 PM Julian V. Modesto <notifications@github.com>
wrote:

[2020-01-17 02:00] robscott commented on #87142
@droslean Has this been failing elsewhere? I'm only seeing the 1 failure for that job in the Prow history for gce-master-scale-correctness going back to November. From what I can tell, 1/10 endpoints weren't created within the timeout window on this failure. This seems like it may not be a critical/urgent bug. For now I'm reprioritizing this to a lower level, but definitely let me know if we need

[2020-01-17 02:01] robscott commented on #87142
/remove-priority critical-urgent
/remove-triage unresolved

[2020-01-17 02:04] neolit123 commented on #80596
/lifecycle frozen

[2020-01-17 02:04] neolit123 commented on #80596
/remove-lifecycle frozen

[2020-01-17 02:45] bharaththiruveedula commented on #87296
/assign bharaththiruveedula

[2020-01-17 02:58] Colstuwjx commented on #83608
As far as I known, we are moving to disk quota rather than du to monitor, how about enable the `LocalStorageCapacityIsolationFSQuotaMonitoring=true` for testing whether fixes this issue?

See document [here](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#monitoring-ephemeral-storage-consumption) .

[2020-01-17 03:22] yqwang-ms commented on #87278
And at least we should **refine the container waiting reason** when ImageNotFound.
Such as change existing:
[code]
To be:
[code]

So that controller or user of the pod can take actions based on the more specific reason.

[2020-01-17 03:26] mengjinmm opened #87304 "New pods expanded using hpa cannot be allocated traffic"
What happened:

The deployment is probably like this:
One svc deploys NGINX, then one svc deploys fpm, and then NGINX proxyes to fpm through svcname, so that the PHP project is accessed using nginx. The problem is: I use hpa to expand the fpm pod Half, but found that the request did not come to this new pod, why is this? If it is a ready pod, traffic can be distributed normally.
I used the ab tool

[2020-01-17 03:34] Colstuwjx commented on #54384
I have been checked the [document](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#monitoring-ephemeral-storage-consumption), and I think, for now, it's focusing on monitoring, not enforcement of quota limit.

From my sight, there is some considerations:

1. it should limit pod storage space, to avoid abusing of storage consuming in multi-tenant case, monitor

[2020-01-17 03:38] neolit123 commented on #87304
/sig autoscaling

[2020-01-17 03:38] neolit123 commented on #87304
this version is long out of support. 1.15 will be out of support with the release of 1.18 in March.

[2020-01-17 03:39] DeySouvik commented on #84601
I do have added the --cpu-manager-policy=static in the kubelet_args so the kubelet will have the cpu guarantee policy enabled but I dont have the --topology-manager-policy set to restricted or single-numa-node. I will set that and give a try.

[2020-01-17 03:59] Mishra-Akash opened #87305 "NetworkPolicy not working with SCTP protocol."
**What happened**:

I am trying to setup a Network Policy for my Pods. I need to only  allow Port 3301(on SCTP) & 443(TCP) as ingress.  But Once NP is created , rule is not working.

NP.yaml==>
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: custom-networkpolicy
  namespace: alpha
spec:
  podSelector:
    matchLabels:
     role: web
  policyTypes:
  - Ingress
  ingress:

[2020-01-17 04:02] bg-chun commented on #84601
@DeySouvik
BTW, The restricted policy doesn't guarantee resource allocation from a single NUMA node.
If you want to guarantee single numa resource isolation for a container, use single-numa policy :)

[2020-01-17 04:47] thockin commented on #56440
But those backup pods need to be in the same namespace, which makes me
question the utility of this overall.

On Thu, Jan 16, 2020, 5:18 PM kfox1111 <notifications@github.com> wrote:

[2020-01-17 05:50] mengjinmm commented on #87304
Same problem with Kubernetes version 1.1.5

[2020-01-17 06:07] mengjinmm commented on #87304
The stress test command using ab is
`ab -n 5000 -c 10 -p "test.json" -T "application/json; charset=UTF-8" -k -r -v4 "http://…"`

The returned value is
`LOG: header received:
HTTP/1.1 200 OK
Date: Fri, 17 Jan 2020 06:01:59 GMT
Content-Type: application/json; charset=UTF-8
Content-Length: 202
Connection: keep-alive
App-Code: 0
Orig-Content-Length: 202
Orig-Content-Type: application/json
Orig-Date: F

[2020-01-17 06:16] feisuzhu commented on #19475
/reopen

Need this!

[2020-01-17 06:44] hochan222 commented on #86735
Hi!
Have you ever checked the calico version?
Google top link & kubernetes sites link the old version, check it out.

Here is latest version site!

[2020-01-17 07:25] zhouya0 commented on #87296
@bharaththiruveedula Do you mind if I submmit a PR on this because I met this issue before?

[2020-01-17 07:38] #81258 closed

[2020-01-17 07:49] bharaththiruveedula commented on #87296
@zhouya0 I assigned the issue today itself and already started working on it. I will send the PR by end of today. But thanks for showing the interest.

[2020-01-17 09:24] odinuge commented on #86960
Looks like this got solved, so ill just close this.

#87003 will now help discover what the real solution is, since the 404 error on instance delete is not the root cause to the issue. If this happens again, I think it is better to create a new issue.

/close

[2020-01-17 09:24] #86960 closed

[2020-01-17 09:34] qalinn commented on #26275
+1

[2020-01-17 09:36] duylong opened #87318 "Incorrect IPVS table when I modify a deployment with a service unchanged"
**What happened**:

I use a service kind in order to expose my application.  When I applied a change in a existing deployment, no problem, the current Pod is destroy and a new begin to start. Howewer, the old IP is not delete from IPVS table, I have two IP which are present.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
[code]

**Environment**:
- Kubernetes version (us

[2020-01-17 09:39] sbrs3 commented on #87249
Trying to implement CPU isolation by moving system processes to `system-reserved` but kubelet fails to find the system cgroup I manually create and refer to with the `--system-reserved-cgroup` parameter.

I first create the /systemreserved cgroup like this: `cset set -c 0 -s /systemreserved`

In kubeadm-flags.env I have `--system-reserved=cpu=1 --system-reserved-cgroup=/systemreserved --enforce-no

[2020-01-17 09:40] #81644 closed

[2020-01-17 09:40] #81639 closed

[2020-01-17 09:40] #87160 closed

[2020-01-17 09:42] verb commented on #84353
@skilxn-go Fantastic! I think it'd still be welcome and no one has started working on it yet. The first step will be getting agreement on the semantics. A great way to start would be to send a PR for [the ephemeral containers KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190212-ephemeral-containers.md) proposing how you'd like to solve this.

/assign @skilxn-go

[2020-01-17 09:58] lbernail commented on #78733
/remove-lifecycle stale

[2020-01-17 09:59] FabianSperrle commented on #43633
This feature would be great to have for users of traefik who are also using the automated Let's Encrypt feature. Here, traefik expects a comma-separated list of domains as the Host (https://docs.traefik.io/v1.7/configuration/acme/#onhostrule), where the first domain will become the main domain of the certificate and all others will be  `SAN`s.

[2020-01-17 10:15] tcolgate commented on #60140
Same error here copying a db backup. Obviously we can work around this, but this seems like a pretty obvious use case for kubectl cp

[2020-01-17 10:22] multi-io commented on #87296
Are we updating the documentation or the code now? Right now `kubectl taint nodes foo bar:NoSchedule` fails but `kubectl taint nodes foo bar:NoSchedule-` works (because of the "-"), which isn't very consistent at all, so I'd suggest to actually fix kubectl itself do do what the help page says.

[2020-01-17 10:42] ffilippopoulos commented on #66762
We have tried the same experiment as described in the description on kube `v1.16.2` and looks like it works fine now.

So after creating an `google_compute_address` of type `INTERNAL` via terraform we can apply a service like the following:
[code]
and kube was able to create the load balancer and use the specified ip.

As a result I am closing this issue as fixed with version 1.16.2 (at least)

[2020-01-17 10:42] #66762 closed

[2020-01-17 11:06] mm4tt commented on #87292
I think the progress notify may help here, IIUC it could be configured so etcd would send progress notifications on a regular interval even if no changes for a given resource type happened. That should help avoid the case you described where apiserver falls out of the etcd revision history

Leaving for @jpbetz to confirm :)

[2020-01-17 11:11] ialidzhikov commented on #86666
I would like to specify that v1.16, v1.17 and the current master are affected from this issue.
Aggregated APIs without protobufs will likely hit that.

[2020-01-17 11:37] hasheddan opened #87321 "[Flaky Test] skew-cluster-latest-kubectl-beta-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew-beta)"
**Which jobs are flaking**:
`sig-release-1.17-blocking/skew-cluster-latest-kubectl-beta-gce`

**Which test(s) are flaking**:
`listResources After`
`listResources Before`
`diffResources`

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-1.17-blocking#skew-cluster-latest-kubectl-beta-gce

**Reason for failure**:
[code]

**Anything else we need to know**:
https://storage.googleapis.com

[2020-01-17 11:39] ipuustin commented on #87249
@sbrs3: Last time I created cgroups I did it something like this:

    $ sudo cgcreate -g blkio,cpu,cpuset,memory:systemreserved/
    # Initialize cpus and mems, otherwise can't exec in the cgroup
    $ sudo sh -c "cat /sys/fs/cgroup/cpuset/cpuset.cpus > /sys/fs/cgroup/cpuset/systemreserved/cpuset.cpus"
    $ sudo sh -c "cat /sys/fs/cgroup/cpuset/cpuset.mems > /sys/fs/cgroup/cpuset/systemreserved/

[2020-01-17 11:52] #77493 closed

[2020-01-17 12:02] klihub commented on #87249
@ipuustin Hmm... are you sure that would work as intended above ? Wouldn't that keep only the Guaranteed QoS Pods with full CPU requests off the reserved CPUs, with the best effort and burstable still running there ?

[2020-01-17 12:11] linki commented on #70679
We recently started experimenting with expiring BoundServiceAccountTokens and reported https://github.com/kubernetes/kubernetes/issues/87028. Thanks for providing a fix so quickly!

We're now thinking of how we'd roll this out to our clusters in a safe manner knowing that there's probably applications that rely on the fact that ServiceAccount tokens didn't expire in the past. A common pattern we s

[2020-01-17 12:33] cheeye commented on #87197
Look like.. Which group can we contact and report?

[2020-01-17 12:35] neolit123 commented on #87197
/sig release

the owners of the build are sig-release, but ideally sig-network should help with sending PRs for this.

[2020-01-17 12:48] advorto-robin-day commented on #37218
I came here for a use case I have which is that I want to have two liveness checks running at different intervals.

I have a combined health check as suggested, it performs a number of tests and if they all pass it returns 200. However, the tests it needs to perform are intensive and therefore I only want it to run every 10-15 minutes as an example.

I am therefore also wanting to do a simpler hea

[2020-01-17 13:04] danwinship commented on #85416
/remove-triage unresolved
discussion is continuing on the PR

[2020-01-17 13:12] ipuustin commented on #87249
@klihub Yes, it's only for guaranteed pods; I understood from the question that the idea was to get the guaranteed pods to run without inference. The burstable and besteffort pods are running on the "default" cpuset. The default cpuset only has the guaranteed pods deducted from it, but not the ` [system,kube]-reserved` cpus.

It could actually be that if you will do the cgroup manually you might b

[2020-01-17 13:30] seh commented on #86784
More fallout in last night's testing: I introduced a bug into my driver that caused it to panic during [step 3 above](https://github.com/kubernetes/kubernetes/issues/86784#issue-544614580) ("Writing that data to a set of files in the mounted filesystem"). My `NodePublishVolume` handler function is set up to unmount a successfully mounted volume via `defer` if it doesn't complete steps 2 and 3 abov

[2020-01-17 13:59] sbrs3 commented on #87249
@ipuustin Same result when I create the cgroup with cgcreate as you suggested.
I can run processes in the newly created cgroup; I can even move most of the existing ones into there.

[code]
But kubelet continues to insist that `/systemreserved` does not exist. Kernel is 4.9 (Debian Stretch).

[2020-01-17 14:01] tallongsun opened #87322 "custom metrics not work(Client.Timeout & OpenAPI spec does not exist)"
I'm running the DirectXMan12/k8s-prometheus-adapter as custom metric server, and i can retrieve metrics by accessing the pod endpoint directly. But  if i run with `kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1`, i can only get one correct result every three times, others are ServiceUnavailable error.

So i checked the  api server log.
api-server1 has the error below, seems this is the serv

[2020-01-17 14:10] skilxn-go commented on #84353
Thanks, I will give this proposal pr in two days.

[2020-01-17 14:31] oxddr opened #87324 "[Failing Test] gce-master-scale-performance: single CoreDNS pod doesn't pass readiness check"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
ClusterLoaderV2

**Since when has it been failing**:
01/16

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:
Single coredns doesn't pass readiness probe. Prometheus times out waiting for all coredns pods to be up and running.

[2020-01-17 14:41] vrothberg opened #87325 "k8s.gcr.io/pause:3.1 non-amd64 images claim to be for amd64"
**What happened**:

Non-amd64 images of k8s.gcr.io/pause:3.1 claim to be for amd64. Obviously, those images are executing just fine but the image configs claim to be for the amd64 architecture. We just started noticing the issue as the github.com/containers/image library has some more rigorous checks now.

**What you expected to happen**:

Each image config should contain the correct architecture.

[2020-01-17 15:07] oxddr commented on #87324
We don't collect logs from CoreDNS so I am not able to tell, why exactly it failed readiness probe. There were at least tens of them scheduled in the cluster, so if there is a bug in CoreDNS it's not deterministic. I had a look at there no 5** returned to any API call from CoreDNS.

[2020-01-17 15:26] seh commented on #86784
Studying my code more, I see that my `defer` function only unmounted the mounted directory when the containing `NodePublishVolume` handler function was returning an error. When unwinding due to a panic, the named return value of type `error` I was inspecting was still nil. Revising the criteria in that `defer` function covers both failure reasons (returning an `error` and unwinding due to a panic)

[2020-01-17 15:45] cbf123 commented on #84601
@bg-chun
If I set the single-numa policy it breaks the multus and sriov-cni pods in the kube-system namespace...they fail with a topology error.  I haven't bottomed it out, but my guess is that they're trying to access devices from multiple NUMA nodes on the host.

[2020-01-17 15:48] andrewsykim commented on #87263
@adamcooke can you share your entire iptables rule set please?

/assign

[2020-01-17 16:06] rphillips commented on #87325
cc @ixdy  @kubernetes/release-engineering

[2020-01-17 16:11] DeySouvik commented on #84601
Though I am yet to try this option out, but with the above comments does this not put us back to square one where the cpu and memory can come from different numa?

[2020-01-17 16:34] thockin commented on #37218
You can run a periodic intensive test every 10 minutes and cache the result.  If the most recent result is success, server HTTP 200 on a port.  Serve the simpler healthcheck on a different port.  Offer a thrid port as the AND of the two.

[2020-01-17 16:45] saschagrunert commented on #87325
/sig release

[2020-01-17 16:46] chrisohaver commented on #87324
If it failed to respond to a readiness probe, then its a problem with CoreDNS starting up.
If it returned a not ready response to the readiness probe, then it's probably due to coredns being unable to establish a connection to the API.

[2020-01-17 16:55] rikatz commented on #86507
@ghhenry I'm installing the environment here and some questions came:

* When bootstrapping kubeadm, as you're going to use flannel have you issued ``kubeadm init --pod-network-cidr=10.244.0.0/16``?

* Have you also issued ``sysctl net.bridge.bridge-nf-call-iptables=1`` (and persisted this for the next reboot) in all nodes?

* Are you using the docker from Ubuntu repo or the community one?

I'll f

[2020-01-17 17:07] kfox1111 commented on #56440
Why would being in the same namespace be a problem?

[2020-01-17 17:11] cbf123 commented on #84601
*If* there are sufficient resources available on one NUMA node of the chosen worker node, then setting the topology manager policy to "single-numa policy" should result in the pod using CPU and memory from the same NUMA node.  You may get lucky and not have issues with multus/cni pods.

[2020-01-17 17:12] rikatz commented on #86507
@ghhenry I couldn't reproduce this behavior. Installed kubernetes 1.17 using kubeadm 1.17, flannel as the CNI (the same manifest that you've sent) in an Ubuntu 18.04.03 LTS and everything worked fine.

The tests:

* Created an NGINX deployment, exposing its port 80
* Created a NodePort Service for this nginx:
[code]

Have tested curl'ing from master and node as the following and everything worked

[2020-01-17 17:17] bartelsb opened #87327 "AWS cloud provider doesn't seem to work in v1.17"
**What happened**:
Kube-controller-manager is unable to start. It gets stuck in a crash loop, and the logs contain this error:
[code]

We had kube-controller-manager working on k8s 1.15, and we're using the same IAM roles, so I don't think it has anything to do with permissions. I don't see anywhere to configure an x509 cert for AWS though, so my suspicion is that something is broken with the in-t

[2020-01-17 17:19] bartelsb commented on #87327
/sig cloud-provider

[2020-01-17 17:20] apelisse commented on #68514
Correct, https://github.com/kubernetes/kubernetes/commit/98613924ea282ef70a6f9a14dda11e854fe02c28.

It's two year old, and I don't think we do support these versions anymore (security patch etc, AFAIK).

[2020-01-17 17:20] rikatz commented on #86587
FYI I've just installed a new cluster with k8s 1.17.0 and flannel without any change and it worked fine.

Could you figure out if there's some networking issue in the communication of your cluster? And also could you figure the install method you've used?

Thanks!

[2020-01-17 17:36] Huang-Wei opened #87328 "Cleanup scheduler test to instantiate plugins dynamically"
In our scheduler tests, we rely on a hard-coded instantiation of empty `pluginSet` for necessary `extensionPoint`. It'd be good to handle the instantiation dynamically, so every time we add a test, the author doesn't need to worry about whether the `pluginSet` for an extension point has been instantiated or not.

Here are some occurrences, but it would be good to search thoroughly:

[code]

/sig s

[2020-01-17 17:38] Huang-Wei commented on #87328
Can't assign to @fengzixu, but you're free to take it if you're still interested.

/good-first-issue

[2020-01-17 18:13] claudiubelu commented on #87251
Addressed the last issue as well. Seems to be fine now, didn't encounter that flake anymore, and I've rebuilt all the conformance images 5-6 times already. Please review the PR, and let's try to find some answers to the points I've raised above.

[2020-01-17 18:28] WarheadsSE commented on #27308
@peterloron have a look at https://github.com/ahmetb/kubectx

[2020-01-17 18:32] kfox1111 commented on #27308
kubectx does not allow for multiple environments. For example:

Terminal A in context A, Terminal B in context B.

When working with a lot of clusters or namespaces, this can cause issues where commands are accidentally ran in the wrong place.

[2020-01-17 18:37] sbueringer commented on #27308
@kfox1111 Yup, that's exactly why I've written my own version of it which does that :)
https://github.com/sbueringer/kubectx

[2020-01-17 19:13] liggitt commented on #86773
Clients must currently handle nil values in this field, especially in services of type ExternalName

[2020-01-17 19:21] Goeldeepesh opened #87330 "kube proxy certificates are not set-up correctly"
I'm setting up kubernetes HA with external etcd cluster and a HA proxy as load balancer on bare metal. After applying kubeadm init, i m getting errors being printed in kube-proxy pod logs.

`E0117 18:33:58.827088 1 reflector.go:153] k8s.io/client-go/informers/factory.go:135: Failed to list *v1.Endpoints: Get https://dockers.airtel.com:6443/api/v1/endpoints?labelSelector=%21service.kubernetes.io%2F

[2020-01-17 19:25] tallclair commented on #87185
/assign @deads2k
/unassign

From the original PR (#54145) description:

What are "the url rules for groups"? Does this logic still apply?

[2020-01-17 19:29] Goeldeepesh commented on #87330
/wg K8s Infra

[2020-01-17 19:30] Goeldeepesh commented on #87330
/sig K8s Infra

[2020-01-17 19:30] #87330 closed

[2020-01-17 19:52] Goeldeepesh opened #87331 "kube proxy certificate error"
**What happened**:
So I was setting up a Kubernetes HA with external ETCD cluster and an HA proxy as a load balancer on bare metal. After running kubeadm init successfully, kube proxy pod continuously printing certificate error. Due to this Im unable to apply Calico CNI into the cluster.

**What you expected to happen**:
 Kube-proxy should work properly without any certificate error.

**How to rep

[2020-01-17 19:58] Goeldeepesh commented on #87331
/sig artitecture

[2020-01-17 20:13] thockin commented on #56440
I guess only because it makes this N-ary -- every namespace that wants such behavior has to define their own pods.  Thinking through failure modes, I guess that is reasonable.

I do not think topology is a great fit for this any more, but we would want a KEP to think it through

[2020-01-17 20:17] krancour commented on #26923
This issue is relevant for me. I use fluentd to get logs from pods and send them elsewhere, but two conditions can make me lose valuable logs:

1. Due to volume, agent falls behind and pod (for whatever reason) is deleted before it catches up. With the log file ripped out from under us, logs go missing.

2. If a pod's total lifetime is very small, the log files may be deleted before the agent even

[2020-01-17 20:17] krancour commented on #26923
/reopen

[2020-01-17 20:36] tallclair commented on #84248
Yes, definitely - only node & pods scheduled to the node. I would be totally fine with scoping this to ONLY pods & node, but if we did extend it to other resources I would expect the supported resources to be similar to the graph that the node authorizer maintains.

[2020-01-17 20:41] ialidzhikov opened #87336 "go-to-protobuf: type FooSpec has both field and method named Size"
**What happened**:
go-to-protobuf generates `Size()` func which breaks the compilation when the type has `Size` field.

**What you expected to happen**:
go-to-protobuf generation to do not break the compilation.

**How to reproduce it (as minimally and precisely as possible)**:
1. Assume that your type has a field named `Size`. I simple add this type to the `k8s.io/sample-apiserver` types.go.
[cod

[2020-01-17 20:45] ialidzhikov commented on #87336
/area code-generation
/sig api-machinery

/cc @fedebongio @sttts @nikhita @liggitt @deads2k

[2020-01-17 20:46] rikatz commented on #56440
So being in this same way, there's another issue that deals with similar situation: https://github.com/kubernetes/kubernetes/issues/85395

In my opinion they try to solve the same problem: effectively allowing kube-proxy, ingress and others to do weighted load balance.

As I see, issue #85395 would help in situations where you have two deployments, with different labels and want them to answer in

[2020-01-17 20:59] liggitt commented on #87336
Given that's part of the protobuf serializer interface, it's unclear what could be done to work around this. Type aliasing seems super invasive.

[2020-01-17 21:00] kfox1111 commented on #56440
+1 to a joint kep. It does sound similar and could maybe be solved with some/all of the same pluming.

@thockin 's use case from above could also maybe be handled as a third use case with the same kep. Maybe the kep would allow both selector's and an external endpoints with very low weight to be specified so that traffic could be redirected to some other site if no local options are available.

[2020-01-17 21:06] ialidzhikov commented on #87336
@liggitt , see https://github.com/gogo/protobuf/pull/140.
From what I see, there is an option `protosizer_all`  and when enabled, it will generate `ProtoSize()` func, not `Size()`.
I would like to specify this option to go-to-protobuf.

I think it currently has hard-coded `"option (gogoproto.sizer_all) = true;",` - https://github.com/kubernetes/code-generator/blob/ff19ea5b1bbd993e2a16b8b3be4595923

[2020-01-17 21:20] alexklibisz commented on #78761
Seeing similar behavior on 1.15. First the HPA warns that it can't read metrics, then it quickly scales up to the max replicas, then about five minutes later it scales back down to the minimum replicas. All while there is zero load/traffic to the pods.

[2020-01-17 21:35] vanhaxl commented on #51096
hi everyone. I wonder how can we know the root cause is the resource?
This issue is happening to our software currently. I check CPU usage is only 40%, memory is 36%.
is this the situation of thread starvation

[2020-01-17 22:00] PatrickLang opened #87339 "Update Windows pause image to support 1909"
mcr.microsoft.com/k8s/core/pause needs to be updated to support our tests running on Windows Server 1909. This is handled from a MS server, run by my team.

/sig windows
/assign @marosset

[code]

[2020-01-17 22:24] tallclair commented on #70816
/remove-lifecycle rotten

[2020-01-17 22:26] tallclair commented on #81128
/lifecycle frozen

[2020-01-17 22:27] tallclair commented on #81115
/lifecycle frozen

[2020-01-17 22:45] tallclair commented on #86340
/cc @dominikh

[2020-01-17 22:46] neolit123 commented on #87331
i'm not sure why you are getting this error, but our e2e tests don't have the problem:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-17

the tests run a 1.17 HA cluster with Calico and kube-proxy.

[2020-01-17 22:47] neolit123 commented on #87322
/sig instrumentation

[2020-01-17 22:52] vanhaxl commented on #51096
Add more info: the service is still available when I make a REST call from my postman. But in Kubernetes ecosystem, when other services call it, the unhealthy pods takes a long time to response => causes a time out exception

[2020-01-17 22:53] kazimsarikaya opened #87341 "zfs cannot handled properly: mistifyio/go-zfs not up to date"
**What happened**:
kubelet cannot handle zfs properly because of old mistifyio/go-zfs

[code]
**What you expected to happen**:
zfs works as expected at kubelet.

**How to reproduce it (as minimally and precisely as possible)**:
using folders kubelet, containerd  and docker folders under /var/lib as zfs dataset

**Anything else we need to know?**:
I delete content at vendor/github.com/mistifyio/go-

[2020-01-17 23:01] kazimsarikaya commented on #87341
/sig architecture

[2020-01-17 23:40] thiagoalves commented on #48245
@ryanmahan Unfortunately it's been 1.5 years since I posted the logs and I don't remember the details :(

[2020-01-18 00:05] dominikh commented on #86340
If this is sporadic then it's probably https://github.com/dominikh/go-tools/issues/642 -- there's a fix for that on master (https://github.com/dominikh/go-tools/commit/a9480a3ec3bcedcf32d00a67bb464c058ba03281) but it's not part of a release yet.

[2020-01-18 00:11] apelisse commented on #6284
Correct, but we still should document that none-the-less. Thanks for the interest.

[2020-01-18 00:17] apelisse opened #87343 "`kubectl diff` fails with unclear error when binary is not in PATH"
Reported by someone here:
https://stackoverflow.com/questions/58390269/kubectl-diff-on-windows-returns-an-error-executable-file-not-found-in-path

Three things that are problematic with this:
1. The error is super unclear, and doesn't tell you what binary it's failing to find,
2. if you're using `KUBECTL_EXTERNAL_DIFF`, the problem happens too, and again it's not telling you what binary it's looki

[2020-01-18 00:17] apelisse commented on #87343
/cc @apelisse @julianvmodesto @zhouya0

[2020-01-18 00:17] apelisse commented on #87343
/sig cli

[2020-01-18 00:23] dhawal55 commented on #76146
I'm running into the same issue. I'm able to run `kubeadm init` on an ubuntu box and it works but on Centos, I get the following error on kube-apiserver static pod and it restart:
```E0118 00:18:48.836318       1 controller.go:151] Unable to remove old endpoints from kubernetes service: StorageError: key not found, Code: 1, Key: /registry/masterleases/10.22.128.4, ResourceVersion: 0, AdditionalErr

[2020-01-18 00:24] apelisse commented on #87343
The error is addressed by #87344, we have to fix the documentation.

[2020-01-18 00:51] WestonThayer commented on #44559
Yowza, I got this too. The Service can't have the same name as the Container, at least not for Node.js.

[2020-01-18 00:51] tedyu commented on #76146
@dhawal55
Was there some clue from the log prior to 'Unable to remove old endpoints' ?

thanks

[2020-01-18 00:54] savitharaghunathan opened #87345 "Failing test - ci-kubernetes-e2e-gci-gce-ingress"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-ingress

**Which test(s) are failing**:
Stages: listResources After
             listResources Before
             Overall

**Since when has it been failing**:
Overall stage has been failing since  1/17 1:44 PST

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:
Multiple occurrences

[2020-01-18 00:54] fengzixu commented on #87328
/assign @fengzixu

[2020-01-18 01:02] Huang-Wei commented on #80143
1 is still valid, we should come with validation against the CC (ComponentConfig), but only on in-tree plugins. For example, it doens't make sense to enable both MostRequested and LeastRequested score plugins at the same time. We can open an issue later.

2, 3, 4 are resolved due to the refactoring in 1.18. Now we don't have global predicate/priority keys, and plugins are managed by the framework

[2020-01-18 01:02] #80143 closed

[2020-01-18 01:04] savitharaghunathan opened #87346 "Failing test - ci-kubernetes-e2e-gci-gce-scalability"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-scalability

**Which test(s) are failing**:
Stages: Overall
              listResources After
              listResources Before

**Since when has it been failing**:
1/16

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

**Reason for failure**:
Multiple occurrences of the following error mes

[2020-01-18 01:14] #87033 closed

[2020-01-18 02:16] nrshrivatsan commented on #22368
https://stackoverflow.com/a/53527231 was an interesting tool.

[2020-01-18 03:34] MikeSpreitzer commented on #86765
It just happened again.

[kubelet.log](https://github.com/kubernetes/kubernetes/files/4079932/kubelet.log)

[code]

[2020-01-18 05:27] zhouya0 commented on #87343
For my understanding, wo should add info in doc about `kubectl diff` is using `diff` binary by default?
Where to put? https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#diff as this already have.

[2020-01-18 06:19] MikeSpreitzer opened #87349 "kubectl cannot get flowschemas"
**What happened**:
I am testing API Priority and Fairness.  I launched it like this:
[code]

After the logging said the cluster is running and told me how to set KUBECONFIG, I did so in another shell and went looking for FlowSchema objects.  But kubectl erroneously told me there is no such thing.

[code]

However, looking in the kube-apiserver log shows flowschemas and prioritylevelconfigurations

[2020-01-18 06:19] MikeSpreitzer commented on #87349
/sig api-machinery

[2020-01-18 06:19] MikeSpreitzer commented on #87349
/cc @yue9944882
/cc @lavalamp
/cc @deads2k
/cc @jktomer

[2020-01-18 06:21] MikeSpreitzer commented on #87349
/assign @yue9944882

[2020-01-18 06:49] #86803 closed

[2020-01-18 08:00] ghhenry commented on #86507
@rikatz to answer your questions:

- have you issued kubeadm init --pod-network-cidr=10.244.0.0/16? yes
- Have you also issued sysctl net.bridge.bridge-nf-call-iptables=1 (and persisted this for the next reboot) in all nodes? yes
- Are you using the docker from Ubuntu repo or the community one? I am using the community one.

Maybe your setup is still not slow enough to see it happen. My setup is a

[2020-01-18 09:03] tamalsaha opened #87352 "kubectl wait should wait for resources to be available"
**What happened**:
I am installing a Kubernetes operator using Helm. The operator itself registers CRDs. Then I run
[code]

**What you expected to happen**:

I expected `kubectl wait` to wait for the resources to be available until timeout.

When I am using --for != delete, as an user, I know the resource will become available and meet the for condition. I would expect `kubectl wait` to first wait

[2020-01-18 09:03] tamalsaha commented on #87352
/sig cli

[2020-01-18 09:30] skilxn-go commented on #84353
I think I shoud get aggrement with you first before I send PR. Can we taint pods with labels? I think maybe it's better to use labels for people can filter them out with Label Selector.

[2020-01-18 09:54] #87177 closed

[2020-01-18 10:27] praseodym commented on #6284
https://github.com/kubernetes/kubectl/issues/707 was created to improve the exit code behaviour, hopefully this will result in some documentation as well.

[2020-01-18 11:16] fanux opened #87354 "Wrong release version"
release pages kubelet version is wrong.

wget https://dl.k8s.io/v1.16.5/kubernetes-server-linux-amd64.tar.gz

[code]
kubelet version should be v1.16.5 not v1.16.6-beta.0

v1.15.8 also wrong

apiserver and other bin files too.

[2020-01-18 11:20] fanux commented on #87354
/sig release

[2020-01-18 12:40] olvesh commented on #65013
@daenney  - As I mentioned in https://github.com/kubernetes/kubernetes/issues/65013#issuecomment-455222929 I set up a script that first taints all nodes in the old node pool and then cordon+taint one by one node. If your ingress services are redundant this should work well.

[2020-01-18 12:49] borissnd commented on #72663
it is worth mentioning that if you wish to remove multiple elements in one go, you can only do so by index and in reverse order, because as elements are removed, the indices change.

example:
suppose we have the following [indices] and ports:
[0] 30000
[1] 30001
[2] 30002
[3] 30003
and we want to remove ports 30000 and 30002.

if you run this command:
`kubectl patch deploy/some-deployment --type=j

[2020-01-18 14:19] stawii commented on #52266
Why tho? It should handle any valid DNS names, not only host names. The external service name could be CNAME too so it does not have to comply to RFC-1123.
I believe `ExternalName` should be RFC-2181 valid (if my google-foo is right), or there should be an option to do-what-i-say and ignore checking, if possible.

[2020-01-18 14:20] Goeldeepesh commented on #87331
@neolit123 ... can you suggest something to look for which will help in resolving this. I'm really stuck with this for some time now and going now where.

[2020-01-18 14:26] neolit123 commented on #87331
what are the logs from the apiserver pod?

[2020-01-18 14:34] Goeldeepesh commented on #87331
**kubectl logs kube-apiserver-n4tenl-depa0598 -n kube-system**

`I0118 14:30:53.433260       1 log.go:172] http: TLS handshake error from 10.5.29.110:53542: remote error: tls: bad certificate
I0118 14:30:54.460973       1 log.go:172] http: TLS handshake error from 10.5.29.110:53546: remote error: tls: bad certificate
I0118 14:30:54.462273       1 log.go:172] http: TLS handshake error from 10.5.29.

[2020-01-18 14:36] neolit123 commented on #87331
did you let kubeadm generate the ca.key and ca.crt or do did you provide them?

[2020-01-18 14:40] Goeldeepesh commented on #87331
i did not provide any certificates just executed the kubeadm init --confir kubeadm.yaml --upload-certs

**Kubeadm.yaml**

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
apiServer:
  certSANs:
  - "docker.airtel.com"

networking:
  podSubnet: 192.168.0.0/16
kubernetesVersion: stable
controlPlaneEndpoint: "dockers.airtel.com:6443"
etcd:
    external:
        endpoints:
        - http:

[2020-01-18 14:46] bg-chun commented on #84601
@cbf123
Hm.., It sounds a little bit weird to me.
I think there is no reason that multus and sriov-cni(do you mean a sriov-dp pod?) pod fail with topology error.

I've used a dual-socket server with one DPDK compatible NIC(on the NUMA node 0) and tested DPDK TestPMD with multus, sriov(CNI&DP), and single-numa policy.
With this configuration, I didnt face any issue.

I will try to configure my dual

[2020-01-18 15:04] liggitt commented on #87354
Thanks for the report. This is a duplicate of https://github.com/kubernetes/release/issues/1020 and new corrected releases are in progress. See https://groups.google.com/g/kubernetes-sig-release/c/7TFJWFucLUU/m/0AQsBNryCwAJ for details.

/close

[2020-01-18 15:04] #87354 closed

[2020-01-18 15:06] liggitt commented on #87349
the flowservice API group is not included in the list of known groups to register at startup:
https://github.com/kubernetes/kubernetes/blob/37d9c22abe5921da1d9c61bc92d054eebfb01515/cmd/kube-apiserver/app/aggregator.go#L248-L294

That means they will not appear in discovery, and clients like kubectl will not know how to find them.

[2020-01-18 15:06] liggitt commented on #87349
You can see all resources visible via discovery by running `kubectl api-resources`

[2020-01-18 15:08] #80807 closed

[2020-01-18 15:08] jpreese commented on #87345
https://testgrid.k8s.io/sig-release-job-config-errors#gke-1.12-1.13-gci-kubectl-skew

Is also failing due to invalid zone values

[2020-01-18 15:10] liggitt commented on #87352
duplicate of https://github.com/kubernetes/kubernetes/issues/83094 and https://github.com/kubernetes/kubernetes/issues/83242

/close

[2020-01-18 15:10] #87352 closed

[2020-01-18 15:16] neolit123 commented on #87331
what happens if you add the following to your ClusterConfiguration?
[code]

[2020-01-18 15:40] Goeldeepesh commented on #87331
i modified the config file as per the suggestion but still getting below issue.  Although my pods are running but  i think due to this error i'm not being able to up my calico-kube-controller pod and coredns pods.

I0118 15:37:12.523633       1 shared_informer.go:197] Waiting for caches to sync for crd-autoregister
I0118 15:37:12.523875       1 cluster_authentication_trust_controller.go:440] Start

[2020-01-18 15:46] yue9944882 commented on #87349
just as @liggitt said, for now we have to manually create an apiservice into the cluster to get kubectl work. i dont think we're adding this to the list until the beta stage, can we make an exception for the case? @kubernetes/sig-api-machinery-misc

[code]

[2020-01-18 15:47] liggitt commented on #87349
It is fine to add alpha things to the list I linked. They only get registered if the relevant runtime-config is enabled.

[2020-01-18 15:53] neolit123 commented on #87331
this seems like a HA proxy misconfiguration.

please have a look here:
https://github.com/kubernetes-sigs/kind/blob/4c7854c1347860ef04a7a8caef625ac4491afa4b/pkg/cluster/internal/loadbalancer/config.go#L34-L62

note the `check check-ssl verify none` line.
http://cbonte.github.io/haproxy-dconv/1.7/configuration.html#check-ssl

try to base your config on the above one.

[2020-01-18 16:18] Goeldeepesh commented on #87331
okay! let me try to sort HA proxy and will update you.

[2020-01-18 17:41] mattjmcnaughton commented on #86843
@savitharaghunathan mind tagging me in the proof of concept diff - I'd love to stay involved on the kubelet side :)

[2020-01-18 17:53] savitharaghunathan commented on #86843
@mattjmcnaughton definitely. Please feel free to add your inputs :)

[2020-01-18 18:02] couloum commented on #82889
Totally agree with that.
When I got the error, I did not know what to do. I had to go on google and hopefully found this post. I removed "proxy" module myself in configuration file, but the issue persisted. I had to look at the code to understand why I got this error. This is not something I should need to do.
Providing the list of unsuported modules would be a good starting point, because we woul

[2020-01-18 20:13] #81362 closed

[2020-01-18 21:14] #78579 closed

[2020-01-18 22:28] fennellgb23 commented on #22368
I may be missing the issue here but when I change my configmaps I just do

kubectl rollout restart deploy/{deploymentname}

[2020-01-18 22:36] scottrobertson commented on #22368
I am guessing you are running that manually?

Most people here will be doing deployments automatically via CI.

Scott

On Sat, 18 Jan 2020 at 22:28, Greg Fennell <notifications@github.com> wrote:

[2020-01-18 23:37] justaugustus commented on #86182
@lachie83 opened https://github.com/kubernetes/release/issues/1020 to track the misversioned releases.

The Patch Release Team will be releasing new versions of Kubernetes (1.17.2, 1.16.6, 1.15.9) next week to fix this.
We're tentatively planning for Tuesday, January 21st, by EOD US PT, but given this week's debugging of our build tools, it's possible that this date may shift.

As of today, the bu

[2020-01-19 01:14] ofan commented on #56934
Hit the same problem with k3s today. A daemonset on hostNetwork: true is unable to reach any ClusterIP services(10.43.0.0/16), it can access pod network(10.42.0.0/16).
Using `ip a` to check interfaces, i see no sign of service network, only pod network. K3S uses flannel by default, is it the problem?

[2020-01-19 02:31] denkensk commented on #87328
/remove-help

[2020-01-19 02:33] yqwang-ms commented on #87278
@liggitt As I mentioned above, is it reasonable to **just provide an option** to fail fast ImageNotFound? PTAL Thanks

[2020-01-19 03:24] justaugustus commented on #86182
Releases have been staged in advance of Tuesday.

The following release tracking issues have been opened:
- 1.17.2: https://github.com/kubernetes/sig-release/issues/964
- 1.16.6: https://github.com/kubernetes/sig-release/issues/958
- 1.15.9: https://github.com/kubernetes/sig-release/issues/957

Links to GCB runs have been attached to each of these issues.
(Note that viewing logs is restricted to R

[2020-01-19 04:01] snowplayfire commented on #86986
I meet a similar problem:  pod has been scheduled into a new node, but the old node also has the corresponding container. If I try to delete the container on the old node,  the container is recreated on the old container.   If I restart the old node's kubelet, the problem can be solved.

[2020-01-19 04:02] snowplayfire commented on #86626
https://github.com/kubernetes/kubernetes/issues/86986  Kubelet may have the similar problem.

[2020-01-19 04:21] #81676 closed

[2020-01-19 06:49] tallongsun commented on #87322
fixed. seems like k8s v1.17.0 is not compatible with flannel v0.11.0
i have two solutions.
1. downgrade k8s v1.17.0 to v.1.16.5
2. replace flannel with calico

[2020-01-19 07:24] eas75034 commented on #85454
@valumar Your reply was supper helpful. I ran into this issue, and your workaround did the trick

[2020-01-19 07:29] guanyuding commented on #49852
https://patchwork.kernel.org/patch/8034121/raw/ has not found. could you please apply for another one?  @danisla

[2020-01-19 07:46] tamalsaha commented on #76794
/remove-lifecycle stale

[2020-01-19 07:52] zh168654 commented on #85422
@gitbeyond the problem has been solved, it turns out to be caused by the incompatibility of ipvs and hostport, see #66103. which is:
my ingress is using hostport with port 80 and 443, cni plugin will attach an iptables NAT chain named CNI-HOSTPORT-DNAT. When node reboot the chain order CNI-HOSTPORT-DNAT and chain KUBE-SERVICES generated by kube-proxy is uncertain. If CNI-HOSTPORT-DNAT first, all s

[2020-01-19 08:26] zhucan commented on #69980
@liggitt Is it possible to add a cli "kubectl  reset" to reset the status of pvc when we accidentally delete pvc ?

[2020-01-19 09:04] denysvitali commented on #58512
/remove-lifecycle-rotten

[2020-01-19 09:10] skilxn-go opened #87364 "Merge extender to scheduler framework"
**What would you like to be added**:
Merge scheduler extender to plugins in shceduler framework.

**Why is this needed**:
Now, most scheduler policy has been implemented with scheduler framework, but extender is still out of it.

As post-filter plugin can be used to do filter work now, we are available to merge extender to scheduler framwork as bellow:
extender.Filter -> scheduler framework.PostFi

[2020-01-19 09:10] skilxn-go commented on #87364
/sig scheduling
/assign

[2020-01-19 09:26] #79351 closed

[2020-01-19 09:32] ysjjovo opened #87365 "Resource 'Request & Limit' support in individual Pod"
**What would you like to be added**:
Resource configuration is container level so far.
for example,'spec.containers[].resources.limits.memory'.
but what i want is pod level limits,i.e.'spec.resources.limits.memory'.

**Why is this needed**:
for some test cases,we want to limit resources in one pod with a group of containers.

[2020-01-19 09:48] ysjjovo commented on #87365
/sig Node

[2020-01-19 10:01] ppmathis commented on #87318
I am experiencing a similar issue running the exact same Kubernetes version (1.17) with Calico v3.11.2 on a dual-stack enabled cluster and can confirm that changing a deployment without changing the service ends up leaving the old pod IP addresses in place.

In my specific case, the cluster prefers IPv4 per default and the issue you are facing only appears when running a ClusterIP service with `ip

[2020-01-19 10:09] tamalsaha commented on #76789
/remove-lifecycle rotten

[2020-01-19 10:24] dudicoco opened #87366 "Service discovery via environment variables should be available for all namespaces"
**What would you like to be added**:
Environment variables for services in all namespaces within the cluster should be available within a container.
This can be achieved by adding the namespace to the environment variables:
MYAPP_KUBE-SYSTEM_SERVICE_PORT_HTTP=8080

**Why is this needed**:
Currently service discovery for ports using environment variables is available only for the services within th

[2020-01-19 10:32] dudicoco commented on #87366
/sig network

[2020-01-19 11:34] tamalsaha opened #87367 "Is Unstructured.ToList() correct?"
**What happened**:
https://github.com/kubernetes/apimachinery/blob/b615468efe0478fcdf43e7ce5ae63d76d205ef50/pkg/apis/meta/v1/unstructured/unstructured.go#L62-L66

[code]

Does this look correct? If the unstructured object is not a List(), shouldn't ToList() return a list with the original object as an item?

I am trying to read objects from a YAML file. I was using the api like below:

[code]

It

[2020-01-19 11:35] tamalsaha commented on #87367
cc: @deads2k

[2020-01-19 12:01] george-angel commented on #73269
/remove-lifecycle stale

[2020-01-19 12:29] #81737 closed

[2020-01-19 13:19] rata commented on #22368
You can't rollback, in case of an error in the configmap (syntax error,
config error, whatever), with that. I think that is the main point.

Am I missing something?

On Sat, Jan 18, 2020 at 11:28 PM Greg Fennell <notifications@github.com>
wrote:

--
Rodrigo Campos
---
Kinvolk GmbH | Adalbertstr.6a, 10999 Berlin | tel: +491755589364
Geschäftsführer/Directors: Alban Crequy, Chris Kühl, Iago López Ga

[2020-01-19 13:44] anderseknert opened #87369 "kubecetl client-go exec credentials plugin should use new valid token as soon as stored rather than old expired"
**What happened**:

With the exec credentials plugin configured in my kubeconf, *and* a stale/expired token present in the same file issuing e.g. `kubectl get pod` triggers the authentication flow as handled by the plugin - once the flow is returned to kubectl (by printing the ExecCredential object) the new token is stored to the kubeconfig *but* not immediately used to resolve the `kubectl get po

[2020-01-19 13:46] anderseknert commented on #87369
/sig-auth
/sig-cli

[2020-01-19 13:47] anderseknert commented on #87369
/sig auth
/sig cli

[2020-01-19 14:31] #80190 closed

[2020-01-19 15:03] chadlwilson commented on #82768
/remove-lifecycle rotten

To my knowledge this issue is still ongoing - at least we are still seeing it on 1.14 with EKS with dead connections; see https://github.com/istio/istio/issues/13840 for an example with a specific webhook (istio-sidecar-injector). After a 15 minute or so timeout, the webhooks can be contacted again.

Perhaps it's the issue @liggitt refers to above with the "general client

[2020-01-19 15:05] chadlwilson commented on #82768
Sorry, perhaps found it at https://github.com/kubernetes/client-go/issues/374

[2020-01-19 15:10] 1hanymhajna commented on #74527
Our solution was to create two subnets in every AZ, one is private, and one is public with Nat gateway then it worked as expected

[2020-01-19 15:10] #74527 closed

[2020-01-19 15:20] jhgoodwin commented on #22368
As useful as configmaps seem like they should be, this is why I just inline all the configs into the deployment, now.

[2020-01-19 15:20] fengzixu commented on #87328
@Huang-Wei I am not sure if I misunderstand the `instantiate plugins dynamically`.

First of all, after I searched the comments `TODO: instantiate the plugins dynamically` in the code base, I found different tests required different default and empty plugins.

Do you mean instantiating all the plugins? Use global variables and then share them across all tests.

[2020-01-19 16:12] harbdog commented on #24873
FYI, this appears to need a decent amount of RAM for large deployments, my 2GB RAM CLI jumpbox VM can't handle it (probably need 4 or 8 I'd imagine):
[code]

[2020-01-19 16:46] droslean commented on #87345
There were some infrastructure problems. The issue seems to be resolved. The jobs are green now.
Closing
/close

[2020-01-19 16:46] #87345 closed

[2020-01-19 16:47] droslean commented on #87346
/close

The job is green now. The infrastructure problems seemed to be resolved.

[2020-01-19 16:47] #87346 closed

[2020-01-19 16:48] droslean commented on #87104
/remove-kind failing-test
/kind flake

[2020-01-19 18:09] scottrobertson commented on #22368
As a workaround for this, I store a md5 of the configmap on the deployment as an annotation.

This only works because I generate all my configs via code though.

[2020-01-19 18:28] dims commented on #87341
@kazimsarikaya in PR 86975, we are doing a bump to go-zfs. Could you check if that is enough for you?

https://github.com/kubernetes/kubernetes/pull/86975/files#diff-37aff102a57d3d7b797f152915a6dc16R410

[2020-01-19 19:03] wstrange commented on #22368
Kustomize's configmap generator largely solves this problem for us.

[2020-01-19 20:08] kazimsarikaya commented on #87341
i reviewed. yes it is enough.

[2020-01-19 20:25] dpratt commented on #50977
I suspect this is an *extremely* common usecase - we can't switch to using a local externalTrafficPolicy until this gets addressed. Without a fix or workaround for this issue, any recreation of a backend pod causes between 1-5 minutes of timeouts and outages for our external facing applications and APIs, which is unacceptable.

I like the option of having a mode in which kube-proxy doesn't blackho

[2020-01-19 20:37] #79776 closed

[2020-01-19 20:41] rikatz commented on #56440
Well, will wait @thockin feedback on this.

If this is good enough count me in to contribute in this KEP :)

[2020-01-19 21:38] #81533 closed

[2020-01-19 21:40] Bessonov commented on #62078
/remove-lifecycle stale

[2020-01-19 23:51] liggitt commented on #87366
There is a lot of overlap/duplication with the discussion in https://github.com/kubernetes/kubernetes/issues/1768

Injecting all service info from all namespaces is not scalable. Use of DNS largely eliminates the need to know specific IPs of services in other namespaces.

/priority awaiting-more-evidence

[2020-01-19 23:51] dims commented on #87325
cc @mkumatag

[2020-01-19 23:54] yurilaaziz commented on #24725
hope this comes true. I would like to avoid seeing failed deployment with 200x pod restarts,
Okay to keep restartPolicy to Always as default.
but forcing Never will help.

[2020-01-20 00:02] dims commented on #86312
We will have to request containerd folks bump opencontainers/runc here - https://github.com/containerd/containerd/blame/master/vendor.conf#L32-L36 this is a nasty bug, hope we get a runc release quickly

(cc @estesp @crosbymichael)

[2020-01-20 00:09] dims commented on #87228
/sig network

@dcbw @thockin who has access to https:// storage.googleapis.com/kubernetes-release/network-plugins ?

[2020-01-20 00:36] dims commented on #86312
and then request docker folks after that - https://github.com/moby/moby/blob/master/vendor.conf#L83-L86

[2020-01-20 00:38] ydcool commented on #87228
/help

[2020-01-20 01:07] #87349 closed

[2020-01-20 01:10] reubit commented on #85963
I'm also very keen for this feature. I'm actually very surprised that there hasn't been more noise around this since RBAC was released. I've run into countless situations with RBAC rules where the ability to deny would have made things much easier. It's common place in other RBAC systems to provide deny rules (E.g. AWS IAM Policies).  I find it frustratingly unacceptable that the K8S docs simply s

[2020-01-20 01:58] kimxogus commented on #86182
I just updated `1.15.8` and `kubectl get node` shows `v1.15.9-beta.0`.
I checked manifests target tag `1.15.8`. Is this related to this issue?

[2020-01-20 02:06] justaugustus commented on #86182
Yes. Details above: https://github.com/kubernetes/kubernetes/issues/86182#issuecomment-575948401
We've also opened a [separate tracking issue](https://github.com/kubernetes/release/issues/1020) for that and I will be providing updates in both places.

[2020-01-20 02:55] celiawa opened #87374 "A volume doesn't add in volumesAttached while the volume is attached to the node."
Hi Experts:

We're doing cinder volume attach/detach performance test with the in-tree cloud provider.
The volumes attach/detach to a node in every 10 minutes.  After dozens of success, one one the volume failed with mount.

A pod stuck in ContainerCreating status with:

  Warning  FailedMount  3m15s (x2143 over 3d8h)  kubelet, a2113-wrkr-03  Unable to mount volumes for pod "alpine-c-4_default(cc6

[2020-01-20 03:05] ikogan commented on #87198
I just happened to run into this issue as well, also a deployment, same sysctl:

[code]

[code]

[code]

Environment:

- Install tools: Rancher deployed, Rancher 2.2.4
- Cloud provider or hardware configuration: CentOS VMs on Proxmox
- Network plugin and version: Calico 3.4.0

[code]

[code]

[code]

[2020-01-20 03:12] celiawa commented on #87374
/sig storage
/sig cloud-provider

[2020-01-20 03:13] jfoy commented on #72533
/remove-lifecycle rotten

[2020-01-20 04:43] draveness commented on #86909
I revisited the comments on https://github.com/kubernetes/community/pull/3082 and didn't find the debate on the disable of the scheduling plugin, and maybe it is a lazy consensus, or I missed some vital info?

[2020-01-20 04:45] #79883 closed

[2020-01-20 04:46] draveness commented on #86909
I agree with what @Huang-Wei mentioned in https://github.com/kubernetes/kubernetes/pull/87134#issuecomment-575408639

This could make things much easier.

[2020-01-20 05:46] #78436 closed

[2020-01-20 05:53] droslean opened #87376 "[Failing Test] Failing Generated Jobs (sig-release-generated)"
**Which jobs are failing**:
Testgrid Dashboard `sig-release-generated`

[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-generated

**Anything else we need to know**:
/cc @justaugustus
/cc @kubernetes/ci-signal
/priority important-soon
/sig release

[2020-01-20 05:53] droslean commented on #87376
/milestone v1.18

[2020-01-20 05:55] droslean commented on #87376
Related work [kubernetes/test-infra/pull/15564](https://github.com/kubernetes/test-infra/pull/15564) and [kubernetes/test-infra/pull/15875](https://github.com/kubernetes/test-infra/pull/15875)

[2020-01-20 05:58] justaugustus commented on #87376
@kubernetes/ci-signal -- No action required here until the above referenced PRs are merged. They may clean up some of these.

[2020-01-20 06:04] danielqsj commented on #87322
it seems not an issue for metrics and already has the solution.
/close

[2020-01-20 06:04] #87322 closed

[2020-01-20 06:07] gavinfish commented on #81657
@palnabarun  I will pick up `pkg/util/netsh` and `vendor/k8s.io/kubectl/*`, thanks.

[2020-01-20 06:16] palnabarun commented on #81657
@gavinfish Awesome!

[2020-01-20 06:21] mkumatag commented on #87325
I think this is happening because we cross-build these docker images x86 architecture and inspect shows am64 for that particular image it is trying to pull:

[code]

[2020-01-20 06:28] mkumatag commented on #87325
Will have to figure out a way to tag the appropriate architecture while building docker image, I see an experimental flag `--platform` flag been introduced which can be used to fix this issue but unfortunately it is not working properly when we build it `FROM scratch` image

[2020-01-20 06:37] MikeSpreitzer opened #87378 "string instead of XXXConditionType for constants in API Priority and Fairness API"
**What happened**:
I wrote some client code of k8s.io/kubernetes/pkg/apis/flowcontrol that compared `FlowSchemaConditionDangling` with the `Type` field of `FlowSchemaCondition` and got a compiler complaint about comparing a string with a `FlowSchemaConditionType`.

**What you expected to happen**:
I expected to be able to compare a field with constants declared to hold interesting values for that

[2020-01-20 06:37] MikeSpreitzer commented on #87378
/sig api-machinery

[2020-01-20 06:37] MikeSpreitzer commented on #87378
/cc @yue9944882
/cc @lavalamp
/cc @deads2k

[2020-01-20 06:38] MikeSpreitzer commented on #87378
@jktomer
@bjrara

[2020-01-20 06:40] MikeSpreitzer commented on #87378
Sorry, I mis-interpreted a different complaint.

[2020-01-20 06:40] #87378 closed

[2020-01-20 06:46] uablrek commented on #87318
Related? https://github.com/docker/libnetwork/pull/2416 (from #65006)

[2020-01-20 06:53] uablrek commented on #87305
Please note that K8s is not involved in ensuring NetworkPolicies, it is the CNI-plugin that does that.

You should probably raise an issue also to Calico.

[2020-01-20 06:58] ppmathis commented on #87318
@uablrek I don't know if my issue is the same that @duylong is facing, but in my instance it is related to that PR. In fact the first of the two commits I mentioned originated from said PR. Given that this leads to stale IPv6 endpoints in IPVS due to incorrect handling, I'd say that #65006 should probably be reopened/reanalyzed.

[2020-01-20 07:11] Goeldeepesh commented on #87331
Hey neolit123,
So the issue has been resolved as of now. I think i had an issue with the external etcd. After resetting the etcd cluster the issues with the Kube-proxy have gone.
Please accept my sincere thanks for your support and guidance.
Cheers!!

[2020-01-20 07:11] #87331 closed

[2020-01-20 08:06] yiyang5055 commented on #81657
Before change code, when i run hack/verify-staticcheck.sh at master, have errors:
[code]
@palnabarun

[2020-01-20 08:22] Dhatchana commented on #79365
@hyprnick It worked. Thanks!

[2020-01-20 08:24] duylong commented on #87318
I use also a dual stack and I have set also a ipfamily to IPv6 in my service deployment. The behaviour that @ppmathis reported seems be the same that my issue. Sorry for my lack of information originally.

[2020-01-20 08:27] warmchang commented on #66533
FYI: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2020-01-20 08:41] tomershukhman commented on #36222
Please reopen.
This issue still remains.
This format makes eks aws-auth configmap very hard to maintain.
Once the file is applied with trailing whitespaces the whole thing gets lots of \n and \.

As a temporary measurement is there a way to reformat the configmap in the "readable" way? after the \n are created?
@Nurza way didn't reformat the file for me.

[2020-01-20 08:46] wdoekes commented on #36222
Nurza's method works. But you may have a space before EOF as well: `...last-line<SPACE>"`
Or you may have CR's in there `...\r\n...`, in which case you should remove the CRs.
Or you may have a TAB, which you should replace with one or more spaces.

[2020-01-20 08:49] #79212 closed

[2020-01-20 09:05] dudicoco commented on #87366
@liggitt there is indeed an overlap in the discussion.
DNS for IP resolution does not solve this issue, as I am referring specifically to ports discovery, which can not be used without modifying the application

[2020-01-20 09:20] tomershukhman commented on #36222
@wdoekes  No CR/TAB/new lines.
I have a "clean" file that after I apply it all works great. (display as expected)
After I add one trailing white space to it, it gets those \n.
I tried to run Nurza's method but it didn't work.
Any other Ideas why Nurza's method is not working for me ?

This a part of the output I'm getting with` kubectl edit`

[code]

[2020-01-20 09:29] wdoekes commented on #36222
` - system:bootstrappers` has a space after it, although you don't see it.

[code]
Because the LF is on the next line, there must be a space before it.

[2020-01-20 09:33] benceszikora commented on #69811
I gave that a go, but unfortunately I can't access our ingress at all with that setup. I'll need to do a bit more digging to figure out what's missing exactly.

[2020-01-20 09:34] skilxn-go commented on #87364
/cc @Huang-Wei As we talked in slack, how about this issue?

[2020-01-20 09:34] skilxn-go commented on #87364
/cc @Huang-Wei

[2020-01-20 09:34] tomershukhman commented on #36222
Correct but if I run Nurza's method the \n are still there.
Am I still missing anything?
This is what I run
`kubectl get -n kube-system -o yaml cm aws-auth | sed -E 's/[[:space:]]+\\n/\\n/g' | kubectl apply -f -`

[2020-01-20 09:38] wdoekes commented on #36222
Nobody said that sed expression was perfect. Once you know this is your doing -- and you know how to fix it -- you're not bothered by this behaviour anymore.

[2020-01-20 10:05] ialidzhikov commented on #87336
With some hacks, I made code-generator to use `"option (gogoproto.protosizer_all) = true;"` and it generated `ProtoSize()` funcs. The issue is that the generated code now also tries to invoke `ProtoSize()` for the kubernetes types such as `metav1.LabelSelector`, `metav1.ListMeta`, `metav1.ObjectMeta` and etc. where the used extension is `gogoproto.sizer_all` but the already generated funcs are `Si

[2020-01-20 10:16] krzysied opened #87383 "Agnhost webhook being able to inject sidecar"
**What would you like to be added**:
There is the Agnhost image used for e2e test purposes. It supports webhook that can mutate pods adding init container. It would be useful to have functionality for adding containers.

**Why is this needed**:
I'm planing to add e2e test for k8s vertical pod autoscaler. It requires sidecars.

[2020-01-20 10:17] krzysied commented on #87383
/sig testing

[2020-01-20 10:38] ialidzhikov commented on #87336
What is your proposal for workaround?

The only option I see is to get a new version of the API group where these `Size` fields are renamed to something else. Even in this case the new API group (for example  `wardle.example.com/v1beta2`) will support protobufs, but the old API group (for example `wardle.example.com/v1beta1`) - it won't.

[2020-01-20 10:42] fujitatomoya commented on #86539
@ipuustin

appreciate for pointing that out, i've been though the https://github.com/kubernetes/kubernetes/issues/59110.

it seems that there was an important discussion on slack based on  https://github.com/kubernetes/kubernetes/issues/59110#issuecomment-379273420 or maybe not, it is 1.5 years ago, so i am not sure how it ended up. it looks to me that it just phased away.

how do we need to proce

[2020-01-20 11:42] saschagrunert commented on #87325
Hey @mkumatag :wave:, I'm currently working on setting the arch/OS for a container image during image build (see https://github.com/containers/buildah/pull/2097). We could think about building our images with buildah/podman if the feature gets accepted and fits our needs. WDYT?

[2020-01-20 11:55] stephen-dexda commented on #80435
/remove-lifecycle stale

[2020-01-20 12:24] sedwards commented on #3949
This page has some useful information on the subject.

https://kubernetes.io/blog/2015/07/how-did-quake-demo-from-dockercon-work/

[2020-01-20 12:35] SomtochiAma commented on #80272
Hi, New contributor here, Has this issue been totally resolved, or can I pick it up?

[2020-01-20 12:44] ahg-g commented on #86909
Ok, so we agree we shouldn't do anything for plugins, but still add those two predicates for Policy-based configurations to maintain backward compatibility

[2020-01-20 13:18] pdhung commented on #83679
@simonswine: we have just updated our cluster to 1.16.5, and even 1.16.6-beta.0, but the secret volume is still labeled as tmpfs:

`drwxrwxrwt. root root system_u:object_r:tmpfs_t:s0     .
drwxr-xr-x. root root system_u:object_r:container_file_t:s0 ..
drwxr-xr-x. root root system_u:object_r:tmpfs_t:s0     ..2020_01_20_12_09_56.186229293
lrwxrwxrwx. root root system_u:object_r:tmpfs_t:s0     ca.crt

[2020-01-20 13:42] liggitt commented on #70679
That is similar to an approach we discussed in sig-auth, and I think I'm in favor of it. I would actually go further and make the "stale token used" metric trigger when a token older than the minimum bound token age (10 minutes) is used, since that means it is a client that would have problems with the default injected configuration.

Offhand, the specific pieces we need for this would probably be

[2020-01-20 13:45] liggitt commented on #70679
@linki - for 1.18, I'm focusing on getting the CSR API positioned to graduate to v1, but if you wanted to work with @mikedanese to update the bound service account token KEP with a description of this rollout, and help to get these additions in place, that could help accelerate progress here

[2020-01-20 13:50] liggitt commented on #87336
cc @smarterclayton for feedback on generated proto methods

[2020-01-20 14:08] fduthilleul commented on #81146
@cji the status gives the impression that the #81111 issue is closed but the duplicate #18982 is still open. Since it is an issue tracker, it might be confusing for some readers. The issue is still "to be solved" but is tracked by #18982. Same for #81136. Was just wondering if there was a need to indicate that some issues reported by the audit are closed but still not solved.