[2015-03-03 06:53] satnam6502 opened #4975 "Cluster creation timing out"
On GCE.

[code]
Trying again:
[code]

[2015-03-03 07:02] roberthbailey commented on #4975
@a-robinson has also been looking into this.

[2015-03-03 07:12] a-robinson commented on #4975
I believe this is external to Kubernetes.

[2015-03-03 07:12] #4975 closed

[2015-03-03 07:14] a-robinson commented on #4975
Sorry if that's a bit cryptic -- to be more specific, GCS has been a bit flaky tonight. If it's still a problem in the morning, reopen.

[2015-03-03 07:21] Fandekasp commented on #4892
The doc [kubeconfig doc](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubeconfig-file.md#example-kubeconfig-file) seems outdated, example shows *blue-user* setup with token only, when v0.11 now forces to use client-certificate and client-key in addition to token

[2015-03-03 07:38] davidopp commented on #1629
Could someone explain the resize verb concept a little more? What object is the target? From some of the examples above it seemed the target was a pod (for example), but I don't understand what it means to horizontally resize a pod (wouldn't you just create a copy of it, or delete it)? Or maybe the target is some kind of meata-object?

[2015-03-03 07:53] roberthbailey commented on #4333
We've been removing these over the last week and a half and I think that https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/rc.go#L89 may be the only one left remaining.

[2015-03-03 08:00] bgrant0607 commented on #4971
Falling back to spreading using the full set of labels on a pod (which would also likely be the labels specified by a replication controller's selector) is a reasonable thing to do in absence of a service. Services are useful even when load balancing is not required, however -- see #1607.

I disagree that one wouldn't want multiple deployments to all be spread uniformly rather than spreading each

[2015-03-03 08:01] bgrant0607 commented on #4934
@derekwaynecarr

[2015-03-03 08:04] bgrant0607 commented on #4940
v1beta3 isn't enabled by default yet. Did you enable it?

Instructions are here:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook/v1beta3

[2015-03-03 08:07] Fandekasp commented on #4892
Getting error:

[code]

The doc is correct after all, and since I'm using token, I shouldn't need any cert & key files.

[2015-03-03 08:15] davidopp commented on #1629
Sorry for being dense, I just figured out that the replication controller is the object with a resize verb. That makes sense.

[2015-03-03 08:21] bgrant0607 commented on #4942
What are you trying to do with celery? That docker image appears to be designed to be a base image upon which other layers are expected to be added. The default command is "bash" -- it doesn't actually do anything on its own.

[2015-03-03 08:23] satnam6502 opened #4977 "Proxy endpoint for services does not appear to be working for client library"
I am trying to access the Elasticsearch service via the proxy in our e2e tests:
[code]
However, this fails although there is mention of a 200 status code:
[code]
If I curl against the URL directly everything seems fine:
[code]

I assume I am either doing something wrong with the client library... or there is a bug somewhere in how the client is set up?

[2015-03-03 09:42] abonas commented on #4940
@bgrant0607
GET requests work on v1beta3, so it seems like it's enabled.
If it's disabled, wasn't I supposed to get 404 on any url starting with v1beta3?
Is it supposed to be disabled when running from source too? (hack/local cluster) why?

[2015-03-03 09:59] gmarek commented on #4731
I think killing is easy, figuring out if it needs to be started is harder. The way I understand the flow, it starts in syncLoop, which calls GetBoundPods, getting all the pods bound to the given Kubelet, no matter the status. Afterwards SyncPods is called on them. In SyncPods we go through each pod, and add all of them to workers which in turn run syncPod in parallel.

The whole logic of figuring

[2015-03-03 10:13] kbeecher commented on #4942
Yes, this was confusion on my part over the lifecycle of a docker container. I didn't realise that the container would be automatically rescheduled after the container stops without doing anything. This can be closed.

[2015-03-03 10:13] #4942 closed

[2015-03-03 11:31] pires commented on #4841
As it is, the service is only accessible from inside the cluster, which IMHO doesn't make sense. You want to monitor it remotely. I've set a ```publicIPs``` entry for ```grafana``` and it wasn't working. This way, it works both internally and from the outside, if you access IP or DNS instead of calling the proxy through the API - which for me doesn't make sense either.
Most probably, this is what'

[2015-03-03 12:05] abonas commented on #4932
cc @itamarh @simon3z

[2015-03-03 13:08] fgrzadkowski commented on #4908
I looked into this with @rsokolowski and it seems that test-cmd.sh may fail locally depending on the kubeconfig. Some commands are using defaults for kubectl and thus sometimes they contact another cluster. I'll send a PR to fix this.

[2015-03-03 13:43] smarterclayton commented on #4949
Then you should fill out the namespace.  But secrets are the last thing you want a user to be accessing across namespaces.  And remember, secrets are subordinate to the service account, which means that an initializer still has to do that mapping.  It may be that secrets are *forced* to be a lookup to the namespace of the pod (not a default).

Then the pod namespace should be made available to the

[2015-03-03 14:27] danmcp commented on #4971
@bgrant0607

Is that for every case Abhishek listed?

I would certainly want a rolling deployment to schedule independent of any existing replication controllers.  Because what matters to me there is that the deployment when it's done is scheduled to the best fit location.  I don't care much about the deployment overlapping with the existing deployment for some period of time.

Really in every cas

[2015-03-03 14:47] smarterclayton commented on #4954
I think the pod (and it's annotations) should be visible to volume plugins

[2015-03-03 14:50] smarterclayton opened #4982 "Pod update doesn't check for resource version"
The use of AtomicUpdate by genericetcd doesn't handle conflicting writes by rejecting that to a user.  It should.

Eventually, we may want to hide write conflicts to /pods when status has changed, and to spec when /pods/status changes, but that requires us to have two version counters and that's not worth the effort.

Fix incoming.

[2015-03-03 14:52] smarterclayton commented on #4982
Also we need a unit/integration test for this.

[2015-03-03 15:03] liggitt commented on #4954
do we want to limit this to the pod ObjectMeta at first? pod name, namespace, labels, and annotations  seem reasonable. I wonder what hacks access to the entire pod will lead to (volumes that do different things depending on what other volumes are configured in the pods, etc)

[2015-03-03 15:03] liggitt commented on #4954
also want to make sure volume builders don't mutate anything in the pod object

[2015-03-03 15:12] smarterclayton commented on #4954
A volume in theory has root access to the pod at runtime anyway (the same way in Linux creating bind mounts effectively is root) because you can put untrusted code into the execution path.  Also, a volume plugin runs as root today.

Agree it shouldn't be able to mutate the pod, and there are reasonable limits on what should be visible.  However, at some point the volume will want to see resource l

[2015-03-03 15:25] bgrant0607 commented on #3453
Added quotes so the underscores wouldn't be eaten.

@davidopp The plan is to post all pods to the apiserver, so all locally created pods will come back to Kubelet as if they were created on apiserver originally.

[2015-03-03 15:28] bgrant0607 commented on #3453
Name generation in Kubelet needs to be deterministic, so that it can easily evaluate whether the pods in files have already been created or not. It's just a matter of how we want to express that.

GenerateName should have no effect in apiserver if Name is already initialized by Kubelet.

[2015-03-03 15:31] erictune commented on #4090
This issue is a good candidate for summarizing, closing, and filing finer-grained work items.

[2015-03-03 15:31] rsokolowski commented on #4855
Hi @zmerlynn , do you need any help with this issue ? If yes, which work items could I work on ? Thanks !

[2015-03-03 15:38] pmorie commented on #4954
Agree @smarterclayton re: changing interface. Also agree re: mutation.

On Tue, Mar 3, 2015 at 10:12 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-03 15:39] erictune commented on #4090
I don't buy that we should get rid of file based pods.  If you only have http, then people have to run a local http server in order to have non-network-dependent pods created at startup.  That seems annoying.

[2015-03-03 15:42] erictune commented on #4090
why would the scheduler need another field to detect readonly pods?  If the kubelet fills in the Host field, then the scheduler would know it does not need to schedule the pod.

[2015-03-03 16:03] erictune commented on #4879
I disagree with this Issue.
  - To me, a namespace is just a mechanism that permits non-cooperating groups to chose names for object independent of each other.
  - nodes do not require namespacing.  Nodes already have an IP address (and usually a DNS name), which is unique among the set of nodes that the apiserver knows about.
  - we should avoid attaching too many additional "behaviors" to namesp

[2015-03-03 16:06] erictune commented on #4879
To me, "default" namespace should mean only one thing: *the default value for Namespace when one is not provided, when making a REST call on a resource that is namespaced*.

It should **not** mean *the namespace into which we toss any crap that is in some way special*.

If a resource type is namespaced, then it should not have an empty namespace.

[2015-03-03 16:09] roberthbailey commented on #4977
I was going to do this same trick to get rid of the host port in the replication controller test (#4333). I'll give it a try today and see if I run into the same problem.

[2015-03-03 16:10] erictune commented on #4879
I don't think we will find that it is easy to categorize objects as requiring cluster root or not.
Every component in the system will have different capabilities, with no object that has capabilites which are a superset of all the others.

[2015-03-03 16:11] erictune commented on #4879
I don't understand the statement *only things that REQUIRE cluster root should not be namespaced.*

[2015-03-03 16:13] satnam6502 commented on #4977
Thanks. I am 99% I simply don't understand something about how our client library works and one glance by @lavalamp will neutralize this issue. At some point when I learn enough about the client library I may even be driven to writing some documentation and examples :-)

[2015-03-03 16:21] erictune commented on #2483
agree with everything @bgrant0607 just said

[2015-03-03 16:31] erictune commented on #147
@bgrant0607 @derekwaynecarr  would there be quota at each tier?

[2015-03-03 16:42] vmarmol commented on #4731
@gmarek +1 to separating analysis from action in syncLoop(). You should also sync with @dchen1107 who is taking a look at #4787. I suspect changes for both of these issues are very related.

[2015-03-03 16:46] eparis commented on #2967
I'd have to go back and look, but as I recall:

kubectl doesn't take --master= it takes --server
kubelet doesn't take --master= it takes --api_servers=

so this would be limited to the proxy, scheduler, and controller-manager.  Which all take --master, although I don't remember if that is shared code...

[2015-03-03 16:56] smarterclayton commented on #4731
One more related case - I was starting to look at graceful delete and the kubelet would need to know whether to restart based on the metadata persisted with the pod (a pod in graceful termination should not restart on exit).  So having separate analysis will be important there.

[2015-03-03 16:58] smarterclayton commented on #4879
Agree - no "special" namespaces.

Agree.

[2015-03-03 17:10] bgrant0607 commented on #4977
What happens if you leave off the namespace?

[2015-03-03 17:12] bgrant0607 commented on #4977
Also, what status code was returned?

[2015-03-03 17:16] bgrant0607 commented on #4090
I was thinking we'd allow pods to be posted directly to kubelet via a local socket.

I agree that no additional field is necessary.

[2015-03-03 17:17] markturansky commented on #4879
Can someone provide a good example showing the difference between "no namespace" and "empty namespace"?  I can't think of one where "" is meaningful.

+1 for Eric's definition of "default namespace"

[2015-03-03 17:19] bgrant0607 commented on #3372
#4090 is the issue to sync local pods back to apiserver.

[2015-03-03 17:19] erictune commented on #4879
@markturansky if a resource type is not namespaced, then its resource URLs have no `.../ns/foo/...` path component.  Otherwise, they do.  No object ever has an URL with `.../ns//...` in it.  The rest is implementation details.

[2015-03-03 17:20] vishh commented on #4841
We are considering monitoring as a cluster service and the intention is to
have a common auth model for the master and all cluster services.
Controlling access to cluster services via the API proxy is convenient for
achieving that goal.

On Tue, Mar 3, 2015 at 3:32 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-03-03 17:21] bgrant0607 commented on #4968
What does the kibana html look like? Are the URLs being rewritten? Was it a relative or absolute URL? Was it pulling the image via https or http?

[2015-03-03 17:23] markturansky commented on #4879
thanks, @erictune, but is there a good example of something in an empty ("") namespace?  What is the point of an empty namespace?

The distinction between non-namespaced objects and namespaced ones is crystal clear.  The empty one is throwing me off.

[2015-03-03 17:23] satnam6502 commented on #4968
I'll revert to the previous setup and work the answer to these questions by observing what is going on in my Chrome console. I guess we re-write URLs and we are now using HTTPS (before it was HTTP).

[2015-03-03 17:32] pmorie commented on #4789
@liggitt fyi

[2015-03-03 17:33] bgrant0607 commented on #3622
Sorry for the delay. Hold off on this a bit longer. Debate is ongoing. I recommend choosing something else to work on in the short term.

[2015-03-03 17:36] erictune commented on #4879
@markturansky
The only use case I can think of is it might be convenient in some places in the code to pass an empty string to a Namespace argument of a generic function that handles both namespaced and non-namespaced resources.

[2015-03-03 17:42] #4908 closed

[2015-03-03 17:44] gmarek commented on #4731
I started working on a PR today, but I didn't manage to finish it. I got stuck under multiple different 'Container' structs and translating ones into others.

@dchen1107 are you working on #4787 now? It'll be probably much easier with my change.

[2015-03-03 17:56] yujuhong commented on #4090
@erictune, if the kubelet fills in the `Host` filed in the pod status, it'd be sufficient. Currently, we don't allow pod creation through the apiserver to set the pod status. It was also discussed in the previous comments https://github.com/GoogleCloudPlatform/kubernetes/issues/4090#issuecomment-76448384

[2015-03-03 17:56] derekwaynecarr opened #4989 "Node status is stuck as Unknown"
I see the following in the kube-controller-manager log:

[code]

@dchen1107 - This is happening to me on HEAD and is the reason why pod status is always showing unknown even when they are scheduled and running.

[2015-03-03 18:05] #4713 closed

[2015-03-03 18:15] yujuhong commented on #4623
@erictune and I discussed offline, and we decided to create a map to store the rejected pod->status, so that the failed status will be correctly reports when polling happens. By doing this, this issue is no longer blocked by any other issues.

I will write up a PR to implement this.

[2015-03-03 18:17] derekwaynecarr commented on #4989
This is with the vagrant cloud provider.

It looks like the delta between the new and old minion is the Node.Spec.ExternalID is being set on the incoming minion but is not set in the originally created minion.

[2015-03-03 18:31] derekwaynecarr commented on #4989
I am not sure how this is not affecting other cloud providers.

It looks to me that NodeController populated the node ExternalID here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L273

It looks like the Kubelet provided value is missing the ExternalID

[2015-03-03 18:34] derekwaynecarr commented on #4989
Actually, I am now confused on what the NodeController may or may not be doing here that is causing the status to not get updated.

[2015-03-03 18:35] derekwaynecarr commented on #4989
It looks like the client is passing an ExternalID on the incoming request, but the original value that is in etcd does not have an ExternalID set.  Not sure what changed that would have caused this issue to appear.

[2015-03-03 18:39] derekwaynecarr commented on #4989
I think this causes problems:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L175

The memory is re-used in a for-loop by Go so referring to a pointer value in a map here will cause problems I think.

[2015-03-03 18:42] smarterclayton commented on #4879
Which we explicitly disallow in client/request.go now because it causes problems - if you invoke Namespace and the value is empty it will yell at you.

[2015-03-03 18:55] derekwaynecarr commented on #4989
Ok, the referenced line is the problem.  Sending a PR.

[2015-03-03 18:58] derekwaynecarr commented on #4989
Well, I go back on that now.

A simple way to reproduce this is to delete all the minions in your cluster, and verify the node controller is able to add them back.  For me, this is causing the node controller to add them back in an unknown status, and then all updates to the node fail.  The update fails because the node controller is not setting an ExternalID on the original object.

[2015-03-03 19:08] erictune commented on #2030
I will document secrets and then close this with a link to that doc.

[2015-03-03 19:09] derekwaynecarr opened #4992 "Little to no validation occurs on a Minion on create"
Looking at the current code:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L826

we do no validation on a minion.Spec value, therefore any initial capacity or external ids avoid validation.

this can also result in our node controller when paired with a cloud provider to create invalid nodes.

[2015-03-03 19:09] dchen1107 commented on #4989
I am looking into this now. cc/ @ddysher too

[2015-03-03 19:12] derekwaynecarr commented on #4989
Related issue opened while debugging this: #4992

[2015-03-03 19:13] erictune commented on #4922
did you mean `*-file-*` or `*-http-*`?
I don't think we'd want to change the name for apiserver-source pods.

[2015-03-03 19:23] derekwaynecarr commented on #4989
Debugged through here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L142

I can via manual fmt see that the object has an ExternalID set prior to the call Create.

When I look at etcd, I end up with this persisted:

[code]

Note: it is missing an ExternalID somehow ;-)

[2015-03-03 19:29] piosz commented on #3622
No problem. Sure, I'm working also on other issues. Please let me know the decision will be made.

[2015-03-03 19:30] derekwaynecarr commented on #4989
Ok, I think I see the issue

Nodes returned from here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L407

Do not have an ExternalID

Which can make Nodes created from here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L181

End up without an External ID.

Having two diffe

[2015-03-03 19:34] dchen1107 commented on #4989
Yeah, this is bug we should fix. Thanks for looking into this. If you already have a potential fix, please feel free to grab the issue from me.

[2015-03-03 19:35] derekwaynecarr commented on #4989
I think I have a PR that should fix.  Testing that now.  Will cc you on the PR.

[2015-03-03 19:36] lavalamp commented on #4977
I'm not sure why your example is not working (maybe the Namespace() call is messing it up?), but there is a working example here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/networking.go#L142

[2015-03-03 19:46] satnam6502 commented on #4977
Removing the namespace does not seem to make a difference:
[code]

[2015-03-03 19:51] satnam6502 commented on #4977
@lavalamp changing to:
[code]

does not seem to improve things:

[code]

[2015-03-03 20:01] lavalamp commented on #4977
Ohhh I think I see what's going on... the clue is that you are getting ```"status" : 200,``` in the body and that is causing it think it successfully parsed as an api.Status, which it's then returning to you as an error. Wow, that is insidious. I have to run to a meeting but I will think about what to do for this.

[2015-03-03 20:05] jlowdermilk commented on #4892
That appears to directly contradict testing in [kubectl](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/config/config_test.go#L185).

Also, I can't see how that error output could ever happen. `clientCert` is not one of the validation methods specified in [validation.go](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/clientcmd/validation.go#

[2015-03-03 20:10] deads2k commented on #4957
Just to be sure I'm caught up, the story breaks down like this.

Inside of the `hammer` namespace, I have two secrets: `SecretOne` and `SecretTwo`.  `david` can see `SecretOne` and `jordan` can see `SecretTwo`.  We want to allow `david` to create a pod that references `SecretOne`, but we want to prevent `david` from creating a pod that can see `SecretTwo`.  So far this is pretty easy to do with th

[2015-03-03 20:11] lavalamp commented on #4785
@dchen1107 Is this the same thing that happened to you yesterday?

[2015-03-03 20:20] deads2k commented on #4892
It's orthogonal now, but for a long time we restricted you to either/or.  It changed here: https://github.com/GoogleCloudPlatform/kubernetes/commit/abb38cf7932c72ba3cce0c4cdd2b821d069531f0#diff-fbd622d8ea20a063301bb500db6290b2L143 as part of https://github.com/GoogleCloudPlatform/kubernetes/pull/4517.

I think that 0.11 was cut before both were allowed.  0.12 should allow both token and client cer

[2015-03-03 20:26] lavalamp commented on #4119
Is there more work to be done on this?

[2015-03-03 20:28] lavalamp commented on #2794
Can we close this issue? Kubelet watches apiserver for pods now, correct?

[2015-03-03 20:35] mikedanese opened #4995 "Unit tests in pkg/cloudprovider/controller take 90 seconds when not connected to network"
It seems like this depends on the network condition as I first noticed this while on a plane, and it happens to me every so often but never on travis. Offenders are TestSyncNodeStatusDeletePods and TestSyncNodeStatusTransitionTime. This may be reproducible by disconnecting network connection but also happens sometimes while connected.
[code]

nodecontroller.go:285 is a call to net.LookupIP(), I'll

[2015-03-03 20:36] bgrant0607 commented on #2794
Yes, the solution is to nuke boundPods, and there is another issue for that.

[2015-03-03 20:36] #2794 closed

[2015-03-03 20:41] lavalamp commented on #4777
This is a pretty simple change if someone wants to get their feet wet. :)

[2015-03-03 20:42] lavalamp commented on #4536
Subsumed by #4521, will soon be fixed by #4751

[2015-03-03 20:48] lavalamp commented on #4196
This would be good to add to our metrics for #4521

[2015-03-03 20:49] jlowdermilk commented on #4892
Ok, so looking at the validation rules at 0.11, token auth with `insecure-skip-tls-verify` is broken, since you can't specify both certs and token, and kubectl will not create a tls transport unless you provide a cluster CA and/or client cert/key for the user. The correct config (which should work with 0.12) is to specify `insecure-skip-tls-verify` on the cluster, but provide client key/cert on th

[2015-03-03 20:49] markturansky commented on #4995
This also occurs on OSX over a VPN (at least, for my VPN it does).

Each call to net.LookupIP(name) takes 30s and fails correctly.   As a result, the entire unit test times out.

That same function call fails fast on Linux.

[2015-03-03 20:51] lavalamp commented on #3952
We need to reevaluate this now that kubelet should be writing these values without the PodCache.

[2015-03-03 20:53] lavalamp commented on #3823
This is a good easy one.

[2015-03-03 21:10] jlowdermilk opened #4996 "kubectl.go tests failing with timeouts, panic"
Almost certainly due to #4963. It's at least passing some of the time so I don't think we're leaking proxy jobs any more, but it looks like at least one of the 3 tests is failing on every run.

[2015-03-03 21:21] derekwaynecarr opened #4997 "Example running OpenShift Origin on Kubernetes was prematurely merged"
This PR was prematurely merged:
https://github.com/GoogleCloudPlatform/kubernetes/pull/4591

Need to update the PR based on the actual steps that were needed to get what was demonstrated at the public Kubernetes meet-up last week.

[2015-03-03 21:26] erictune commented on #4997
Any chance you can get rid of the hostPort from the example?

[2015-03-03 21:33] derekwaynecarr commented on #4997
@erictune - depending on the Kubernetes provider, yes.

For Vagrant based provider, I think I still need the hostPort because I do not have routes.
For the GCE provider, I should be able to get rid of it because I have routes.

In both providers, there were a number of setup steps that did not make the merged PR.

For those that are tracking this issue (which I know folks have pinged me on separat

[2015-03-03 21:35] derekwaynecarr commented on #4997
Note: I will resolve this issue in 2 phases.

1. Fix Vagrant (which was demonstrated)
2. Augment to document using GCE (which has some additional steps on firewall rules)

[2015-03-03 21:41] derekwaynecarr commented on #3655
This issue should be closed.  It was resolved.

[2015-03-03 21:47] derekwaynecarr commented on #3326
I am unable to reproduce the issue where /etc/hosts is not showing a mapping.

This should be handled by vagrant automatically inserting the entry in /etc/hosts based on the configured minion host name.

If I ssh into a box I see:

[code]

We add entries for each minion in the provision shell scripts, but the host name entry should be based on the vagrant plug-in itself.

Can you let me know what

[2015-03-03 21:56] #4989 closed

[2015-03-03 22:02] roberthbailey commented on #3655
Thanks!

[2015-03-03 22:02] #3655 closed

[2015-03-03 22:05] satnam6502 commented on #4977
I am debugging this now. I can see that the request gets the correct response from the `Do` but then things go bad I think in `transformResponse` in `request.go`

[2015-03-03 22:22] erictune commented on #1266
Closing for now to keep our open issue count manageable.

[2015-03-03 22:22] #1266 closed

[2015-03-03 22:34] bgrant0607 commented on #4879
@erictune and I discussed this topic this morning. I think we agreed to the following:
1. Empty ("") namespaces should be disallowed, if they aren't already.
2. The default namespace should be made explicit. No duplicate paths in the API. It could be defaulted by the kubeconfig magic or something else in the client, and the default namespace object could be created at cluster birth time somehow.
3

[2015-03-03 22:35] satnam6502 commented on #4977
I guess the root of the problem is this for a regular requesting expecting "200" vs. an API call expecting "Success"
[code]

[2015-03-03 22:40] dchen1107 commented on #4785
Yes, once a while, I will run into this issue. Also our users reported several failure cases due to the same cause.

[2015-03-03 22:41] lavalamp commented on #2726
@bgrant0607 can we change this title to "Add subresource types (/status etc)"?

[2015-03-03 22:44] bgrant0607 commented on #2726
@lavalamp We should probably file other issues re. the other subresources.

[2015-03-03 22:46] bgrant0607 opened #5000 "Change /bindings to /binding pod subresource"
Forked from #2726.

@smarterclayton @lavalamp

[2015-03-03 22:47] smarterclayton commented on #2726
I'm currently working on clone/instantiate and getting status cleaned up for other resources.

[2015-03-03 22:48] bgrant0607 commented on #2726
Filed #5000 for /binding. There are already issues for /size and stop, and this issue is about /status. If we want to do something similar for /events and /endpoints, those would be 2 new issues.

[2015-03-03 22:48] bgrant0607 commented on #2726
Cool. Clone/instantiate is covered by #170.

[2015-03-03 22:52] smarterclayton commented on #4879
They are in both client and server for namespace scoped resources.  Passing a namespace for a cluster scoped resource is also forbidden.

I believe it is today

It is, during master startup.

...

[2015-03-03 22:57] smarterclayton commented on #4957
The kubelet is authorized to read secrets associated with the service account of pods it is running.

If you can run code (create a pod of your own devising) under a service account, you can see the secret.  If you can't create a custom pod (can only clone from existing) then you can't see secrets.

[2015-03-03 22:58] satnam6502 commented on #4977
I've proposed #5002 as a fix.

[2015-03-03 23:10] dchen1107 commented on #3607
@yujuhong is working on #4623, and there might be some overlaps between two issues.

[2015-03-03 23:13] jlowdermilk commented on #4961
This is happening the trap for cleanup is getting skipped somehow; guestbook creates an external load balancer for the frontend service, which isn't torn down with the cluster (unless service is explicitly deleted). Porting this to a ginkgo test should help with that.

[2015-03-03 23:15] vmarmol commented on #4787
There is some discussion in Docker docker/docker#10462 but no conclusion. Seems to be leaning towards keeping the applications like Kubelet doing the work. Worth keeping an eye on if it reverses.

[2015-03-03 23:16] bgrant0607 commented on #147
@erictune Yes.

[2015-03-03 23:20] ixdy commented on #4961
This failed again today in the same way.

[code]

Did something change recently that might be causing these timeouts?

[2015-03-03 23:21] bprashanth commented on #4785
@jonlangemak @dchen1107 do either of you have steps to a reproducible scenario? Is there a particular integration test more prone to this?

[2015-03-03 23:21] thockin commented on #4602
On Fri, Feb 20, 2015 at 11:57 AM, Eric Tune <notifications@github.com> wrote:

Actually, I believe this is not true.  AFAIK traditional quota does
not apply to tmpfs - the only way to limit a tmpfs is to pass a mount
flag.  I'm assuming that this will eventually matter, but maybe not.
As long as you only write to this tmpfs from within your pod it should
be charged to the pod.  Oh, but we don't ha

[2015-03-03 23:23] erictune commented on #147
We will need to name the tiers/priorities so they can be referred to in the quota file.

[2015-03-03 23:24] thockin commented on #4602
I'm really torn.  I'm not sure we want kubelet to be in the business of
refreshing your secrets on semi-arbitrary timescales, but I am not sure
it's wrong either.  I can handle it doing a one-time prep, for sure.

If we can formalize side-car containers such that they run BEFORE app
containers, is that really so bad of an approach?

On Fri, Feb 20, 2015 at 1:41 PM, Paul Morie <notifications@github

[2015-03-03 23:28] smarterclayton commented on #4602
Eric and I spent some time talking about this at the f2f but I don't remember the outcome.  I think we said that secrets should propagate as part of rolling update, and that volume status should convey the uid and last resource version of the secret used.  That fits into the broad swath of other behaviors that depend on a roll, and is predictable and consistent.

When per node controllers need to

[2015-03-03 23:33] erictune commented on #4602
Yes.  I not longer think there should be changes to the secrets after volume setup time.   I explained why when I closed #4673

[2015-03-03 23:36] lavalamp commented on #3914
The manifest/boundpod transformations need to stick around as long as the containerVM.

[2015-03-03 23:38] davidopp commented on #3124
@saad-ali This has some good ideas for the workload generator.

[2015-03-03 23:41] a-robinson opened #5006 "Emit more debugging info in our start-up scripts"
It can be a pain digging into clusters that have failed to start up properly. If we make it easier to debug such events, we make it easier to improve the scripts to make future failures less frequent.

[2015-03-03 23:41] jlowdermilk commented on #4996
I take it back, this doesn't seem to be caused by #4963. After digging into logs a bit, the timeouts are caused by slow docker image pulls. I'm seeing > 1min to pull `kubernetes/update-demo:nautilus`, which exceeds the 60s timeout. I don't know if increasing the timeout is what we actually want, as it's likely the image pull is getting stuck in the queue.

Still looking into what's causing panics.

[2015-03-03 23:45] erictune commented on #4602
@thockin I didn't realize quota won't work on tmpfs, so that is good to know.

For the general case of specifying arbitrary media types for arbitrary volumes, I see now that tmpfs per pod helps.

But, for the narrower and more immediate problem of keeping secrets off disk, would it be alright if @pmorie implemented the simpler single tmpfs approach?

[2015-03-03 23:47] bgrant0607 commented on #3914
It makes no sense to me for those transformations to be in api/conversion.go.

[2015-03-03 23:48] erictune commented on #4602
@pmorie will it work if the secret volume directory is mounted readonly in the container?  That way, kubelet knows the the pod's memory usage is equal to the sum of it's secret sizes.

[2015-03-03 23:57] jlowdermilk commented on #4961
@ixdy, those timeout failures are a distinct issue from the target pool leakage.

[2015-03-04 00:03] bgrant0607 commented on #4995
cc @ddysher

[2015-03-04 00:09] goltermann commented on #4620
Can you close this one once it's completed.

[2015-03-04 00:11] ddysher commented on #4995
For other runtime, we can just mock out net, time.  I'd really like to know how to do mocking in go.  Using interface seems overkill.

[2015-03-04 00:11] #4620 closed

[2015-03-04 00:16] alex-mohr commented on #4783
As context, this came up at the conference last week.  In particular, if etcd crashes or goes unavailable, then recovers, it was reported that some cluster components do not recover gracefully.

[2015-03-04 00:19] jlowdermilk opened #5007 "Use gcr.io private docker registry for e2e tests"
The majority e2e test flakes have had slow docker pulls as a root or contributing cause. The sooner we can move to a private docker registry the better.

[2015-03-04 00:42] zmerlynn commented on #4562
Will the NodeController need the static list of nodes configured by salt after this change? I have a change that I'm about to land that makes the GCE config for that a lot more static (I'm turning salt standalone on GCE), but this looks like the missing link.

[2015-03-04 00:49] thockin commented on #4602
I am very much OK doing a less-than-full implementation.  I'm filing an
issue to capture some of this dicussion

On Tue, Mar 3, 2015 at 3:48 PM, Eric Tune <notifications@github.com> wrote:

[2015-03-04 00:51] thockin commented on #4673
I'm fine closing this for now - it's a much larger design issue and not priortiy

[2015-03-04 00:55] thockin opened #5009 "Need a general design for varying storage media and volumes"
From #4602

I do want to offer a tmpfs EmptyDir.  The obvious thing to do is to add a
tmpfs plugin.  But WAIT.  It's identical to EmptyDir in pretty much every
way except a call to mount() instead of mkdir().  I expect that eventually
I will want a local SSD EmptyDir too - do I again fork it and just hardcode
the concept?  What about when phase change and NVM and whatever new space
age storage tec

[2015-03-04 01:08] thockin commented on #4710
I didn't follow this whole thread in enough detail, but I want to throw out
a few things.

1) I am against most or all forms of command wrapping.  There's precious
little you can assume about user containers - may not have a shell, may not
be a shell you like, etc.

2) Every tmpfs mount has a cost to the kernel ( a few 10s of KB if I
recall) and real impact on other things - for example kubelet sc

[2015-03-04 01:09] smarterclayton commented on #5000
We fine with supporting both and deprecating /bindings in v1beta3?

[2015-03-04 01:09] smarterclayton commented on #4992
Should be fixed to use new genericetcd! :)

[2015-03-04 01:13] bgrant0607 commented on #5000
Yes. I don't think this is gating for v1beta3, anyway. It's more in the "nice-to-have" category.

[2015-03-04 01:14] thockin commented on #4950
Where will kubelet stash all this info?  It's not carried in the
in-filesystem state, so you'll have to hold on to it somewhere..

On Mon, Mar 2, 2015 at 11:46 AM, Eric Tune <notifications@github.com> wrote:

[2015-03-04 01:14] pires commented on #4841
I understand your considerations and honestly don't want to pick a fight with this, but your instructions do not work for me.
If it's ok by you, I'll just close my two PRs and maintain my own images and pod descriptors.

[2015-03-04 02:03] dchen1107 opened #5011 "Design: Build docker images for master components for dev cluster on the fly"
@ArtfulCoder has pending PR to run etcd_server in a pod, which is pretty much ready to go any minutes.

Now we want to have other master components running inside a pod / pods. For GKE, this should be easy since it only upgrades to a proper release, from which we could build docker image and push to some repository. But there are the issues for dev cluster. @ArtfulCoder and I discussed this, and n

[2015-03-04 03:12] Fandekasp commented on #4892
I upgraded to v0.12, and `insecure-tls-verify` still didn't work.

I went on the server and generated my CaFile, CertFile and KeyFile, as follow:
[code]
Moved those files to `/srv/kubernetes/`, and copied them on my client, with **certificate-authority** in my kubeconfig cluster part, the **auth-path** in the user part, and CertFile/KeyFile in my kubernetes_auth.

It fails with error:
[code]

Any

[2015-03-04 04:17] bgrant0607 commented on #5011
Run a registry? #1319

[2015-03-04 04:23] smarterclayton commented on #170
I started with pod templates as a separate resource.  My reasoning was mostly short term:

* Dividing pod templates into a separate resource right now is much easier to explain to end users (it's a template for a pod)
* To properly handle inert pods, a good client would ideally present them differently (sorted, separated).  Most clients that want to show a runtime view would filter them.  They ten

[2015-03-04 04:58] davidopp commented on #5011
Option 1 seems pretty reasonable. (BTW I think we've given up on getting rid of salt for the time being.)

IIUC running a local registry would obviate the need for salt, but you'd still need a way to tag which image version to load. So it does seem like a good idea, but still requires other aspects of @dchen1107 's proposal.

[2015-03-04 05:08] thockin commented on #4288
status?

[2015-03-04 05:09] thockin commented on #3604
Is this issue still open?

[2015-03-04 05:10] thockin commented on #3188
Closing for lack of response

[2015-03-04 05:12] thockin commented on #1836
@jszczepkowski is this issue resolved now?

[2015-03-04 05:32] thockin commented on #4823
If we layer this on the work that Paul is doing for secrets, we could simply do something like:

`os.Mkdir(kubelet.getTmpfsRootDir() + "/shm")`

And then just pass that in via docker.   The real problem is garbage collection - we need to clean it up when a pod goes away, and simply rm -rf is not good enough

[2015-03-04 05:52] roberthbailey commented on #4996
As a temporary work-around, can we bump the timeout up to 10 minutes? In the normal case the test will still pass quickly and when the image pull is slow we won't give up before giving docker a chance to do its thing. We can reduce it to a 30 second timeout once #4566 is implemented.

[2015-03-04 05:55] bgrant0607 commented on #4823
@thockin Why aren't you keen on a volume source? (Not that we need to do this at all for 1.0.)

[2015-03-04 05:58] thockin commented on #4823
If we offer a volume for tmpfs I don't want to see a tmpfs volume, I want
to see a way of speccing an emptydir that is backed by volatile media.  I
want to talk in terms of QoS not in terms of implementation technology.  or
at least I think we do.

That is a bigger issue and not urgent.  This scaled-down form, however,
could get done before 1.0 fairly easily.

On Tue, Mar 3, 2015 at 9:55 PM, Brian

[2015-03-04 05:58] roberthbailey commented on #4537
The kubectl tests seem to be a bit flaky. @jlowdermilk has opened #4996 to track fixing them and since this issue was about the shell test (which has been removed) I'm going to close it.

[2015-03-04 05:58] #4537 closed

[2015-03-04 06:47] hTrap commented on #4926
Hello,
I am a prospective gsoc2015 applicant and would really like to contribute to this community, I chose this project as it would help me understand the code base of the project and also its use-cases and limitations, which would help me in future contributions.
Could you assign me a small task of creating a small example, that would help me get to speed more effectively.

[2015-03-04 06:53] dchen1107 commented on #5011
Option 1 is pretty much what I suggested to the user a while back at: https://github.com/GoogleCloudPlatform/kubernetes/issues/1317#issuecomment-55704491

@bgrant0607 thanks for the link to local registry issue. I tried to find that one earlier, but failed. For GKE use case, it is going to use gcr.io the private docker registry. But for dev cluster, like what @davidopp pointed out, to upgrade a cl

[2015-03-04 07:13] davidopp commented on #3340
Closing this in favor of #3924 which is more general; that is to say, fixing #3924 will fix this, and there's no real advantage to fixing this without examining the broader issue.

[2015-03-04 07:13] #3340 closed

[2015-03-04 07:35] jszczepkowski commented on #1836
Yes, issues with update (1) are solved by #4484.

[2015-03-04 07:35] #1836 closed

[2015-03-04 07:39] bgrant0607 opened #5017 "Example: Kafka/Zookeeper"
Forked from #1675.

Users have been asking how to run Zookeeper and Kafka.

One of the recent threads:
https://groups.google.com/forum/#!topic/google-containers/7e1x1r92SV0

Once multi-port services land, we should use them in an example.

[2015-03-04 08:03] jszczepkowski commented on #2984
This is related to #4630 and I'm working on it.

[2015-03-04 10:15] piosz commented on #4961
cc @jszczepkowski who is working on #4630

[2015-03-04 10:37] piosz commented on #4961
Merge of my PR #4588 should help. In the current version cleanup isn't properly called in case of failure. I added a function "teardown" which is called on every exit of the test - no matter if succeed or failed.

[2015-03-04 12:34] rsokolowski commented on #3712
@brendandburns, sorry for naive question but why would I care as an user that wants to run its existing workload on Kubernetes about kubernetes-ro ? If I write an application that uses kubernetes-ro then I'm locked into Kubernetes.
I understand the need for kubernetes-ro being accessible by cluster level services such as monitoring, logging. I also can imagine that a power user might want to start

[2015-03-04 12:50] deads2k commented on #4957
Ok, so that makes my number 2 less important and my number 3 more important.  If being able to use a secret does not imply the ability to read that secret, we probably want a way to express those two concepts in authorization rules.

[2015-03-04 13:01] rsokolowski commented on #3712
I will update service.md file to explain why one would have service without a selector.

[2015-03-04 13:16] smarterclayton commented on #4957
The user can't use a secret, but the kubelet is using the secret on their behalf.  The only notch we have to support is "can't read secrets, but can clone a pod template / existing pod".  And that's not a very important story.  I'm not sure most users would be able to set a volumesecretsource - that's an initializer or admission controller making that decision.

[2015-03-04 13:29] brendandburns commented on #3712
Right now, every service goes everywhere for simplicity.  Name spacing and
filtering probably make sense in the long run, but it's not a high priority
for v1.0

Brendan
On Mar 4, 2015 5:02 AM, "Rafał Sokołowski" <notifications@github.com> wrote:

[2015-03-04 14:01] pires commented on #4947
Whenever you do this, please update CoreOS docs. Thanks.

[2015-03-04 14:23] rrati opened #5020 "Pods running on a system that kubernetes doesn't know about after replication controller delete"
If I create a replication controller with a thousand pods and wait for all those pods to start and use this defer:

defer func () {
 By("Cleaning up the replication controller")
 rc.Spec.Replicas = 0
 if _, err := c.ReplicationControllers(ns).Update(rc); err != nil {
 Failf("Failed to resize replication controller %s to zero: %v", name, err)
 }

// Delete the replication controller.
 if err := c.R

[2015-03-04 15:01] justinsb commented on #5007
Agree with the idea.  But I'm working on AWS, and I don't know how to auth to the gcr.io images.  Does gcr.io allow public images?

[2015-03-04 15:03] justinsb commented on #4064
I am happy to add AWS bindings to the GKE cluster creation code if that will help it get open-sourced :-)

[2015-03-04 15:11] bgrant0607 commented on #4926
Hi, @hTrap. Thanks for your interest. Please give me a couple days to scope this project properly.

[2015-03-04 15:13] erictune commented on #4851
grep works fine for me regardless of the directory structure.

On Thu, Feb 26, 2015 at 9:01 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-03-04 15:17] zmerlynn commented on #5007
It does now.
On Mar 4, 2015 7:02 AM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2015-03-04 15:21] justinsb commented on #5007
Hooray!  Now we just need to make unqualified docker image names default to gcr.io ;-)

[2015-03-04 15:22] hTrap commented on #4926
@bgrant0607 sure, till then ill go through the docs and set it up locally .

[2015-03-04 15:52] timcash commented on #3595
For our project we would use both "few" and "many". The lower limit would be for our worker containers (sateless) and the high limit would be for our storage containers (stateful)

[2015-03-04 15:52] erictune opened #5028 "Should cadvisor API be protected"
IRC user dagon_ was concerned that the cadvisor API is exposed and unprotected on his minions.  Should this API be protected?
- it appears to only be readonly and only have resource usage information
- however, exposing an unnecessary API without auth could still go against principle
- could it run on localhost?  It is in a pod, and there doesn't appear to be a way to have a pod use a port only on

[2015-03-04 15:52] erictune commented on #5028
@vmarmol

[2015-03-04 15:55] erictune commented on #5028
@vishh

[2015-03-04 15:58] pmorie commented on #4877
@lavalamp Can you add a little more detail about this?

[2015-03-04 16:14] vmarmol commented on #5028
cAdvisor does support basic auth although we don't set it up by default on cluster startup today. I'm working on running cAdvisor inside of Kubelet #4798 . We can secure it alongside the Kubelet in that case. Do we protect the Kubelet API today?

[2015-03-04 16:25] derekwaynecarr commented on #4879
Is an accurate summary of this issue the following:

1. A Kind is either associated with a ```Namespace`` or not
2. The ```Namespace``` Kind is not associated with a namespace (no nesting)
3. A Kind associated with a ```Namespace``` will have the namespace in its URL path
4. A Kind not associated with a ```Namespace``` will not have the namespace in its URL path
5. Our client code needs to have me

[2015-03-04 16:59] dchen1107 commented on #4785
I observed the same failure in both test against the real cluster and integration test.

[2015-03-04 17:06] justinsb commented on #4989
Thanks for fixing - it did end up affecting AWS as well (AWS isn't in a fully working state just yet, particularly with node discovery).

[2015-03-04 17:24] #4996 closed

[2015-03-04 17:35] thockin commented on #4926
I'll give you the same advice I give every prospective newcomer to the
project:

1) Learn go.  Just doing to golang tour should be sufficient.

2) Learn git and GitHub.  GitHub has a walk-through that is pretty easy.

3) Set up a kubernetes cluster from the docs - GCE or Vagrant are most
likely to work on any given version.  Anything that does not work EXACTLY
as the docs say should either have a

[2015-03-04 17:40] smarterclayton commented on #4851
The great organizers vs searchers debate - let it begin.  I have a folder with every file I've ever used in it and do a search/find whenever I need something :)

----- Original Message -----

[2015-03-04 17:50] #3858 closed

[2015-03-04 17:52] satnam6502 commented on #4851
One of the things I miss from my tenure at Microsoft (and many years beforehand) is Visual Studio which let me easily navigate vast swathes of C++ and have some clue about what was going on. I switched to vim yesterday with go-vim and YCM and tagbar but I still feel like a caveman.

[2015-03-04 17:54] hTrap commented on #4926
@thockin Thanks a lot for the heads up, i was already working on the first 3 points, the fourth one is really helpful. Though a couple of months back i went through the docs and fixed a few minor typos in the docs as and when they were coming up ,  i never went through the code base. I guess now i will. Thanks a lot for your help, i'll keep you guys posted.

[2015-03-04 17:56] erictune commented on #4914
@brendanburns
there was a request on IRC for the Dockerfile for kubernetes/redis-proxy.  I think you probably have that file.  It doesn't appear to be in github.

[2015-03-04 18:02] AntonioMeireles commented on #4914
@brendanburns

(for context) was me who made the request above :smile:. i'm mostly curious about where the *proxy* blob comes from (according to [this](https://gist.github.com/AntonioMeireles/1c74cf978909b9ef611f))

[2015-03-04 18:09] smarterclayton commented on #3005
This is fixed

[2015-03-04 18:09] #3005 closed

[2015-03-04 18:11] smarterclayton commented on #2977
This is now possible, when people switch to genericetcd they must implement a strategy (which hides this)

[2015-03-04 18:11] #3712 closed

[2015-03-04 18:15] yujuhong commented on #4561
@fgrzadkowski, FYI, my PR #5019 modifies kubelet to reject (set pod status to fail) pods that have port conflict. The status is stored in a map and gets reported back later via status polling.

[2015-03-04 18:16] vmarmol commented on #4112
@marvell have you seen this issue since #4080?

[2015-03-04 18:19] satnam6502 commented on #3996
I have decided to assign this bug to myself for the doc fixit.
How should I work out what `/redirect` and `/proxy` are for and what they are meant to do?
Is there someone I could bug over IM etc?

[2015-03-04 18:19] thockin commented on #2738
I will doc this as part of the fixit.

[2015-03-04 18:20] smarterclayton commented on #3652
Thinking about bindings, ideally you name the last segment of the path the resource type you are posting.  In this case a pod can have only a single binding, so you are `POST /pods/foo/binding`.  You can clone, restart, stop, start many times, so that's `POST /pods/foo/method/clone` or `POST /pods/foo/op/clone`

[2015-03-04 18:21] ArtfulCoder commented on #3671
I can convert redis example to v1beta3

[2015-03-04 18:31] bgrant0607 commented on #3671
@sub-mod: Which examples are you working on? We're starting on this as well.

Done: cassandra, guestbook-go, guestbook, hazelcast, liveness

[2015-03-04 18:49] jlowdermilk commented on #4892
The master already generates ([via salt](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/saltbase/salt/generate-cert)) a CaFile, CertFile and KeyFile when you turn up the cluster, and copies them to `/srv/kubernetes`. You don't need to generate them yourself, and afaik, doing so doesn't replace the ones used by the apiserver. You'll want to copy down the salt-generated ones f

[2015-03-04 18:59] #4995 closed

[2015-03-04 19:06] lavalamp commented on #3671
I will do the update-demo.

[2015-03-04 19:08] #3290 closed

[2015-03-04 19:11] bgrant0607 opened #5039 "Convert api/examples to real documented examples in /examples or delete them"
api/examples predates real examples and documentation, and is in a weird place in the tree. We should nuke them or convert them to real documented application examples in /examples.

[2015-03-04 19:15] satnam6502 opened #5040 "kube-down.sh should remove entries from ./kube/..."
When a cluster is torn down the corresponding cluster information under ./kube/... should be removed.

[2015-03-04 19:15] ghodss commented on #2146
As the Go newb who created this function :smile:, the reason for its creation was that the Run function for Cobra commands does not let you return an error, like a main() function. So if you need to check an error several times in a Run function ([as we do](https://github.com/GoogleCloudPlatform/kubernetes/blob/35cc1b0c15fed3cdaf818e37b2589f37f5c650b5/pkg/kubectl/cmd/update.go#L52)), it helps to a

[2015-03-04 19:19] dchen1107 commented on #3671
I am starting with  example/gce-pd

[2015-03-04 19:22] yujuhong commented on #2970
Disclaimer: for the doc-fix it day, I will be adding the read-only information into the description. This partially resolves this issue, but not entirely. I will unassign myself after description is done.

[2015-03-04 19:33] satnam6502 commented on #5040
@jlowdermilk if you like you can re-assign this to me and I can do it for GCE.

[2015-03-04 19:35] jlowdermilk commented on #5040
If you have cycles to work on it now, have at it. Otherwise I can get to it later this afternoon.

[2015-03-04 19:36] satnam6502 commented on #5040
Oh, not today, I am totally focused on the doc fixit.

[2015-03-04 19:42] sub-mod commented on #3671
@bgrant0607
I am working on the ones in addons
under examples folder :cassandra, guestbook-go, guestbook, hazelcast, liveness

[2015-03-04 19:50] timothysc opened #5042 "ulimit support from docker."
re: https://github.com/docker/docker/pull/9437 we'll likely need to expose through to the pod definition.

[2015-03-04 19:57] #2411 closed

[2015-03-04 20:13] fabioy opened #5043 "Vagrant minion setup never completes"
On latest pull, the Vagrant kube-up.sh scripts completes successfully, but the Salt setup in the minion keeps going forever. End result is a cluster that is not useable. Looking at '/var/log/salt/minion' on the minion box, see lots of entries like:

2015-03-04 20:09:11,952 [salt.minion      ][INFO    ] Starting a new job with PID 18901
2015-03-04 20:09:11,954 [salt.minion      ][INFO    ] Returnin

[2015-03-04 20:20] jlowdermilk commented on #3894
Since the purpose of this issue was to decide what messages go to stdout/stderr, I think we can close this out and open separate bugs for specific output that isn't doing the right thing. Summary of decisions:

* Only errors, (log.fatal, log.error) go to stderr
* Anything the user requested goes to stdout. This includes table headers (they can be turned off via `--no-headers`), periodic updates ('

[2015-03-04 20:20] #3894 closed

[2015-03-04 20:21] bgrant0607 commented on #3671
Thanks to @lavalamp, we now have a conversion utility (which needs documentation!): #5041.

[2015-03-04 20:23] multilinear opened #5044 "upgrade: Rolling system updates via delete/re-create nodes"
I'm looking for a way to make kubernetes to do rolling system updates of node machines. I'm targetting the kernel and operating system levels, though kublet would come along for the ride.

My thought is that do an "update" of a node you simply turn up a new node, and then tear down the old one. This model is simple and easy to reason about, much easier than in-place update. We want kubernetes to k

[2015-03-04 20:24] jlowdermilk opened #5045 "Port guestbook.sh to ginkgo"
Implement guestbook test as a kubectl-driven test in `test/e2e/kubectl.go`. @piosz, this should be a fairly straightforward follow up from #4588, if you are interested/have cycles.

[2015-03-04 20:26] jlowdermilk commented on #4389
We now have `test/e2e/kubectl.go` which inherited the update test. Once the guestbook test is ported in as well (#5045) we can close this.

[2015-03-04 20:28] dchen1107 opened #5046 "Enable streaming remote command execution and port forwarding on GCE nodes"
Forked from #3253 and more discussion in pr #3763:

1) nsenter is not in the kubelet's PATH by default. It's installed in /usr/local/bin but the path is /sbin:/usr/sbin:/bin:/usr/bin

2) the minions don't have socat. We should install it to containerVM image by default.

cc/ @filbranden Filipe, can you have socat installed in this release of containervm.

[2015-03-04 20:30] vishh commented on #4640
This should be fixed on HEAD

[2015-03-04 20:31] filbranden commented on #5046
Trying to add socat.

You still using nsenter? Shouldn't you use `docker exec` instead?

If nsenter is really needed, I can create a symlink in `/usr/bin` so that you'll find it without tweaking the path...

Cheers,
Filipe

[2015-03-04 20:32] jlowdermilk commented on #4870
Going to close this, since there hasn't been an update in a week, and that bug was fixed in v0.11.0. @uruddarraju, please reopen if you are still encountering this with an up-to-date cluster/client.

[2015-03-04 20:32] #4870 closed

[2015-03-04 20:36] timothysc commented on #260
So I know this is a long-old thread, but it hits a topic near and dear to me ;-)

Provided the system can push forward+reverse records for non-nat'd "nominal-services" to skydns and use names as the ENV injection into the pods that use that service, are there other limitations?

It may look a little weird in the case of ZK where every element in the quorum would use the other elements, eg:
zk1 use

[2015-03-04 20:43] erictune commented on #5044
related issues:
#3333
#2524
#1573

[2015-03-04 20:44] erictune commented on #5044
@zmerlynn

[2015-03-04 20:59] erictune commented on #5044
good to see a familiar face, @multilinear

Contribs are always welcome.  Things change rapidly, so the best approach is to break it up and contribute incrementally.

We've been assuming that we have to respect an SLA for pods to do node upgrades.  If for your cluster this is not necessary then you could script this yourself without any changes to the kubernetes code.

I don't think you need to add

[2015-03-04 21:03] erictune commented on #5042
Dupe of #3595

[2015-03-04 21:03] #5042 closed

[2015-03-04 21:05] dchen1107 commented on #3671
Converting examples/limitrange now

[2015-03-04 21:06] satnam6502 commented on #4746
Fixed.

[2015-03-04 21:06] #4746 closed

[2015-03-04 21:07] erictune commented on #5020
Deleting a replication controller does not delete its pods.  This is by design.

The way to do this is the Stop() method  of ReplicationController in pkg/kubectl/stop.go.

[2015-03-04 21:07] erictune commented on #5020
Please feel free to reopen if necessary.

[2015-03-04 21:10] erictune commented on #5043
Is this repeatable for you if kube-down and kube-up?

[2015-03-04 21:17] zmerlynn commented on #5044
Let's definitely sync. @maxforbes on our side has already started looking at how to do rolling updates for GKE, and it's similar to what you're saying. We were thinking of starting with simple drain and re-provision as well.

I'm considering more grandiose plans to possibly rewrite kube-up.sh and friends to take a yaml specification so we can be a lot more precise for provisioning and update. I ex

[2015-03-04 21:17] fabioy commented on #5043
Yes, this is reproducible on my laptop. But, I was able to get it up by
doing a kube-push after the failed kube-up.

On Wed, Mar 4, 2015 at 1:11 PM, Eric Tune <notifications@github.com> wrote:

--
*-- Fabio Yeon*

[2015-03-04 21:20] zmerlynn commented on #5044
Silly mobile client. I meant @mbforbes

[2015-03-04 21:22] #2970 closed

[2015-03-04 21:24] yujuhong commented on #2970
Note: users can set the node status when creating a node. This is a bug and should be fixed. After fixing that bug, the corresponding description should be updated.

[2015-03-04 21:30] dchen1107 commented on #3671
doing examples/resourcequota/resource-quota.json

[2015-03-04 21:35] ghodss commented on #1581
@lavalamp Do you mind reopening for now?

[2015-03-04 21:36] pmorie commented on #4710
@thockin responses below:

1.  Re: command wrapping, good point re: shell.
2.  Re: per-pod tmpfs mounts, I would say that plugins should share a single per-pod mount amongst all volumes
3.  But is it nature or nurture?

[2015-03-04 21:38] timothysc commented on #4866
In the case of replication, are there limitations on why we can't just add a replica(s) field to the Pod type.

So 'create pod' ... yadda yadda replica=1000 ?

[2015-03-04 21:39] smarterclayton commented on #1629
#5054 contains some fixes required to allow sub resources like /resize to work, as well as an example with /binding.  I made "Binding" generic to type, (it's a name, target, and an object reference to be bound to).

[2015-03-04 21:41] timothysc commented on #3595
+1 to toggle, but what exactly does few and many mean?
Also what are the implications to scheduling?

[2015-03-04 21:47] dchen1107 commented on #5046
Here is the reason answered by @thockin in #3763

Regarding nsenter - I forgot that the process eunning in the container is literally a child of docker's daemon.

[2015-03-04 21:50] vmarmol commented on #3606
Assigning to @vishh who is working on #3628 which should tackle this one as well.

[2015-03-04 21:53] vishh commented on #5046
By going with `nsenter` will have to re-implement any bug fixes and features being added to `docker exec`. The features that are currently being planned are sub cgroups for exec jobs, improved exec process cleanup, permissions, etc.

[2015-03-04 21:55] smarterclayton commented on #2306
@thockin given your previous complaints about boilerplate, here's the rough "add a new type using the new model" code - https://github.com/smarterclayton/kubernetes/commit/6e4ba792727861e69d5ec4b643b878ee6c5de9fa

[2015-03-04 21:57] jlowdermilk commented on #3800
kubeconfig now supports username/password user entries, so we are partially unblocked on pulling `auth-path` out of kubectl. Basic auth will be in use for some time, and the current kubeconfig loading rules are hopelessly complex until we remove auth-path loading. So here is what needs to be done to deprecate `auth-path` from kubectl:
1. Make `kube-up.sh` generate a standalone kubeconfig that incl

[2015-03-04 21:58] jlowdermilk commented on #4956
Duplicate of #3800

[2015-03-04 21:58] #4956 closed

[2015-03-04 21:58] smarterclayton commented on #3894
glog prefixing

----- Original Message -----

[2015-03-04 22:10] multilinear commented on #5044
I see, so you can do this via "kubectl create" and "kubectl delete". Then indeed manual management would definitely work for now. There's a bit more already there than I realized... I'll have to give that a try. Thanks!

It sounds like zmerlynn has more thoughts though, and I'm still interested in solutions that build a bit more into the kubernetes framework as well (be it shell scripts or otherwi

[2015-03-04 22:15] erictune opened #5057 "Document default restart policy in description tag"
Neither the docs/ nor swaggerui document what the default `restartPolicy` is.

`pkg/api/types.go` does state that the default is Always.

I get why this is the default: replication controllers aren't supposed to work with anything but "Always".  But, that is also a default which may not be obvious to users.  *Why would you want to restart something that exited with success* they may rightly ask.

[2015-03-04 22:30] dchen1107 commented on #3671
Doing examples/rethinkdb now

[2015-03-04 22:33] bgrant0607 commented on #3671
If you are using the conversion tool, please prune the set of fields to those relevant to the example. In particular, no config should contain status.

[2015-03-04 22:38] roberthbailey opened #5059 "Panic running kubectl e2e test"
From the jenkins logs (run #3005):

kubectl
  should do a rolling update of a replication controller

...

[code]

[2015-03-04 22:47] erictune commented on #5044
@multilinear can you report back and let us know if the manual strategy worked and/or if you hit any bumps?

[2015-03-04 22:49] #4982 closed

[2015-03-04 23:28] erictune commented on #4879
Does /api/v1beta3/pods still work?  If so, then 3 is not done.

The other issue is whether events is a kind that has a namespace, and if it does, what is the namespace for events that contain objrefs to kinds that don't have a namespace.

[2015-03-04 23:29] rajatchopra commented on #3350
Proposing the most basic needs/changes.

 - Init : Register the network provider through the apiserver. This config should be read-only accessible.
 - API to watch minions (and namespaces?) through the apiserver.
 - Annotations (extensible fields) on the pod object and APIs to read/write.
 - Two southbound hooks from kubelet, after infra container creation, and before delete (implemented in #5069)

[2015-03-04 23:30] erictune commented on #4879
cluster-id-namespace events seems fine in the short-term.
longer term, we talked about getting rid of events as a first-class resource, and having them only be a subresource of other resources.

[2015-03-04 23:31] Fandekasp commented on #4892
As said [here](https://github.com/GoogleCloudPlatform/kubernetes/issues/4892#issuecomment-76671932), I'm creating my cluster via an aws cloudformation template, and it's not using salt. This is [one of the recommended ways](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws-coreos.md) to create a cluster on aws, and I've been using kubernetes this way for

[2015-03-04 23:35] a-robinson opened #5074 "Panic in kubectl running `kubectl label`"
Reported [on the google-containers@ mailing list](https://groups.google.com/forum/#!topic/google-containers/vtfCcANGyCQ):

[code]

[2015-03-04 23:36] erictune commented on #3350
the cloud provider is compiled into the apiserver and set via a flag on the apiserver (`--cloud_provider`).  Should network provider follow the same pattern?

I think minions are watchable, but if they aren't, agree that they should be.  minions aren't in namespaces, so maybe you don't need to watch namespaces?

annotations are already on the pod.  should work.

Not following logic of why network

[2015-03-04 23:42] a-robinson commented on #5074
Looks like this was a bug in 0.11.0, but should be fixed in 0.12.0 due to #4311.

[2015-03-04 23:42] #5074 closed

[2015-03-04 23:44] smarterclayton commented on #4879
It's the "everything" query, not the "no namespace" query.  I.e. show me all pods across all namespaces.

----- Original Message -----

[2015-03-04 23:45] erictune commented on #5028
No, but we should.

[2015-03-04 23:46] davidopp commented on #2752
I think the best way to do this would be to create a glossary page and then link to it as appropriate, rather than try to define these terms inline (there's no fixed order in which people will read our docs, so we'd  have to define everything every time we use it).

BTW does anyone know how to link into the middle of a doc in Markdown? For example if I create a glossary, how do I link to one entry

[2015-03-04 23:56] erictune commented on #5044
Also, once #4548 merges, which should be soon, there will be an explicit unschedulable-but-not-deleted state for nodes.  That will give you as much time as you want to drain the node.

[2015-03-04 23:59] #5059 closed

[2015-03-05 00:01] jlowdermilk commented on #4892
I missed that you're using cloudformation. To verify you have the right cert files copied down, can you try hitting the apiserver manually?
[code]
Should return `401 Authorization Required`.

[2015-03-05 00:01] bgrant0607 commented on #3173
Could we get a summary of this discussion into the namespaces doc?

[2015-03-05 00:05] jlowdermilk commented on #4892
replace <server-ip> with example.com, since you are using a signed dns.

[2015-03-05 00:09] uruddarraju commented on #4870
My bad, I should have closed this. Thanks for taking care of this. I don't see this anymore.

[2015-03-05 00:10] bgrant0607 commented on #3153
Let's use #1728 for which fields can be updated and which ones can't.

#3112 is for documenting PUT semantics.

#3086 is for documenting use of resourceVersion in PUT and /watch.

This issue should be for providing high-level guidance about what flavor of update to use in what situation. Also, since most users will use kubectl, we should start with docs in terms of kubectl. When to use kubectl upd

[2015-03-05 00:10] rajatchopra commented on #3350
Yes. Thanks for the pointer.

Yes. They are watchable, I was looking at a really old checkout. Namespaces are a separate thing, and apparently the watch api exists there also. Some network providers may be acting on namespaces appearing/disappearing.

By services, I just meant separate processes/daemons. None of the 'network provider' daemons will be invoked by any of the kube processes. The alter

[2015-03-05 00:19] vmarmol opened #5078 "Don't run CI on PRs that don't need them"
Travis runs our PRs serially which is part of the reason it takes so long to run them during the day. There are many PRs that don't need to run the full suite of integration changes. We should quit early when those occur. In the Travis hooks we'll need to detect the no-op change and short-circuit the rest of the execution.

We need to figure out the cases where the tests don't need to be run. One

[2015-03-05 00:24] erictune commented on #3350
That is what I thought you meant by services.

A cloud provider in kubernetes is a compiled-in bit of go code.  It may in turn talk to a web service like GCE.

I'm wondering if/why network providers are different.

[2015-03-05 00:25] jainvipin commented on #3350
Separate binary for two southbound hooks from kubelet mentioned above, will require kubelet to do active-wait, unless state transitions are asynchronously handled i.e. more code for async handling.

[2015-03-05 00:32] derekwaynecarr commented on #3350
Assuming a network provider watches Nodes, what is the relationship between a Node being in a Ready status and the network actually being setup?

Today a NodeController inserts a Node, and once the Kubelet reports an ok health check, the node is considered Ready.

Should a Node really be ready if it's network is not yet setup?  If I understand what is proposed how will the Kubelet know its ready?

[2015-03-05 00:37] derekwaynecarr commented on #3173
Yes.  Working on documentation updates

[2015-03-05 00:49] #4723 closed

[2015-03-05 00:56] Fandekasp commented on #4892
hmm I think I'm not running apiserver properly. I mistakenly used the `--kubelet_certificate_authority` for the CAFile.
Looking in the apiserver help, I can see:

[code]

So I did just that, concatenated my cafile content after the cert content in the CertFile file, and restarted apiserver.

When trying to curl it:

[code]

I'm wondering if another problem isn't the fact that the request goes thro

[2015-03-05 01:12] jlowdermilk commented on #4892
Possibly. All the examples we have sign the ip of the master, not a dns. @brendandburns can probably answer that better.

[2015-03-05 01:37] bgrant0607 commented on #2752
On links to anchors, short answer is use html anchors:
http://stackoverflow.com/questions/5319754/cross-reference-named-anchor-in-markdown

[2015-03-05 02:20] roberthbailey opened #5084 "kubectl proxy fails during kubectl e2e test"
From http://jenkins.kubernetes.io//job/kubernetes-e2e-gce/3014/console I can see that the ```kubectl should scale a replication controller``` test failed because it was never able to verify the image that was running on the scheduled pods.

The tests waits a while for the pod to be scheduled and running, but then proceeds to get 404 responses from the kubectl proxy when trying to fetch the ```data

[2015-03-05 02:20] roberthbailey commented on #5084
/cc @jlowdermilk

[2015-03-05 02:45] derekwaynecarr commented on #5043
Self assigning and will try to reproduce.

Sent from my iPhone

[2015-03-05 03:14] derekwaynecarr commented on #147
Is this post 1.0?  Want to know if I need to reserve time to handle quota related fallout?

[2015-03-05 03:35] smarterclayton commented on #1535
Have started implementing this in #5085

[2015-03-05 03:37] bprashanth opened #5086 "Replication controller doesn't reject updates with a modified resourceVersion"
Setting the resource version to something arbitrary will fail the CAS, but doing something like:
[code]

Will work if the latest version is < 100. Fix:
1. Teach `ValidateObjectMeta` to overwrite the resource version like it does creation timestamp
2. Modify the rc's Update method to call `ValidateReplicationControllerUpdate` with the current version of the object (it currently calls `ValidateRepli

[2015-03-05 04:08] lavalamp commented on #5000
Yeah I think subresources will be cool but let's cut 1.0 before we go crazy with them.

[2015-03-05 04:16] lavalamp commented on #4866
@timothysc the pod object represents a single running pod in the system. When you ask for N pods, what you're providing is a pod template, not a pod. Our current replication controller design is basically that.

[2015-03-05 04:16] roberthbailey commented on #5084
One option would be to replace the use of kubectl in proxy mode with direct api calls to the master's proxy service. This might make the test more reliable but we would lose test coverage of the proxying code in kubectl.

[2015-03-05 04:22] lavalamp commented on #5086
I don't understand-- that code should fail until it overtakes the current version, then it will succeed every time?

2 is a valid bug though.

[2015-03-05 04:25] lavalamp commented on #1581
Sure. @goltermann the fix that was merged was for the specific problem, but this bug is about the general class of problems.

[2015-03-05 04:35] lavalamp commented on #4562
Wait why is kubelet posting the node status? What if kubelet goes down? Seems like something else should post the node status (node manager?)

[2015-03-05 04:38] smarterclayton commented on #5000
Even if we don't introduce subresources, we need to get the common fixes in.  I'll split those if we don't want to do bindings pre 1.0z

[2015-03-05 04:40] bgrant0607 commented on #147
Yes, post-1.0.

[2015-03-05 05:00] roberthbailey commented on #3693
guestbook.sh has not passed on gce or gke-ci since around 11am this morning (around when this PR was merged).

@piosz Can you look at the Jenkins logs and try to figure out what is going wrong?

[2015-03-05 05:20] rgolg commented on #3604
You can close it.

Thanks

On Tue, Mar 3, 2015 at 10:10 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-03-05 05:49] smarterclayton commented on #5000
Actually, the subresources and client code are a small part of the pull.  I'll disable those, but I think we should make the change to binding for v1 so we can use it for other types.

[2015-03-05 05:50] bprashanth commented on #5086
I feel like having a field that will mess with database consistency if modified, and not having a way to check if it's been modified, is generally brittle. I guess I did a bad job of explaining that with my example. If I have a resource version set to the future, it could clobber all the updates that occurred while it was in flight. Allowing that update right till the CAS phase sounds like a bad i

[2015-03-05 06:13] bprashanth commented on #5086
Hrm, I can create an rc through the update method by specifying a ResourceVersion of 0, which is slightly confusing because they now have the same selectors. This case is a little far fetched though, since I actually have to change the name of the rc (so less likely that someone did so by accident).

[2015-03-05 06:24] #3604 closed

[2015-03-05 07:36] bgrant0607 commented on #2210
cc @davidopp

[2015-03-05 07:38] bgrant0607 commented on #5086
See #2210

[2015-03-05 07:40] yangtao309 commented on #3185
[code]

minons config >> /etc/kubernetes/kubelet
[code]

[2015-03-05 07:49] inovout opened #5090 "Cannot link container"
os:coreos 557.2
cloud config :https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/standalone.yaml

core@lab11 /opt/bin $ kubectl get pods
POD                 IP                  CONTAINER(S)        IMAGE(S)            HOST                  LABELS              STATUS
tomcat-server-pid   10.244.68.28        tomcat-server-cid   tomcat

[2015-03-05 08:42] piosz opened #5091 "Frontend cannot connect to redis data-base in guestbook example."
It comes up in the new guestbook.sh e2e test (#3693). I'll try to reproduce manually.

[code]

[2015-03-05 08:43] piosz commented on #3693
The problem is with guestbook itself not with the test. The frontend cannot connect to redis data base so it returns error response to the user. I created issue #5091 for that

[2015-03-05 08:55] satnam6502 commented on #3693
I have been 100% absorbed for weeks with my own e2e test so I've not paid much attention to this. Does the test connect to the service via a load balancer?

[2015-03-05 09:03] piosz commented on #3693
Nope. It's using proxy. For example:
```curl ${FRONTEND_ADDR}/index.php?cmd=get\&key=messages --insecure --user ${KUBE_USER}:${KUBE_PASSWORD}```

[2015-03-05 09:07] satnam6502 commented on #3693
Is this a reasonable use of the proxy service? Today @bgrant0607 told me that the proxy service is fine for contacting cluster-level services (note the dash Brian) but for regular applications we should use some other mechanism (e.g. external load balancer). @bgrant0607 ?

[2015-03-05 10:13] piosz commented on #3693
My first idea was to use ELB but it requires to create also firewall-rules using. I'm not sure if we want to do it.

[2015-03-05 10:24] roberthbailey opened #5092 "kubelet initialization error"
I launched a cluster that was unhealthy and was trying to diagnose why when I ran across an interesting kubelet error.

On the master, The validate endpoint is showing that the single node in the cluster cannot be reached:

[code]

From ```/var/log/kubelet.log``` on the node I see:
[code]
and the kubelet appears to keep running but never recovers.

[2015-03-05 10:24] roberthbailey commented on #5092
/cc @dchen1107

[2015-03-05 10:40] roberthbailey commented on #5092
If I manually kill the kubelet (```sudo kill -TERM <pid>```) and then run ```salt '*' state.highstate``` on the master (to restart it) then it runs without re-printing the above error and the master's validate endpoint shows that the node is healthy.

It would be much nicer if the kubelet could recover on its own without needing me to manually intervene.

[2015-03-05 11:07] roberthbailey commented on #5092
I encountered this a second time this evening but with a slightly different error in the kubelet.log file

[code]

The symptoms and remediation were the same.

[2015-03-05 12:57] rrati commented on #5020
@erictune Deleting a replication controller and having its pods still in kube is expected, but that's is not what is happening here.  The code sets the replication count to 0 then deletes the controller.  The result of that is that there is no replication controller in kubernetes, nor do any of its pods show up via kubectl.  However, if you inspect the physical systems (via docker) you find numero

[2015-03-05 14:28] piosz commented on #3693
PR #4588 has been reverted by @roberthbailey

The test is passing for me locally. I'll updated #5091. Is there any change that using proxy instead of ELB can cause the problem?

[2015-03-05 14:32] piosz commented on #5091
Reproduced in my own cluster:

[code]

Am I doing anthing wrong?

[2015-03-05 14:34] piosz commented on #5091
Also the same stuff from browser. While I'm clicking Submit I can see:

![screen shot 2015-03-05 at 3 25 07 pm](https://cloud.githubusercontent.com/assets/10819974/6506681/18f0a686-c34d-11e4-8fde-eaad0023ada0.png)

[2015-03-05 15:05] derekwaynecarr commented on #5043
I was able to reproduce.

It appears that the Kubelet fails to start properly on first start:

[code]

[2015-03-05 15:05] sdminonne commented on #560
Just add  https://github.com/GoogleCloudPlatform/kubernetes/pull/5093 as a possible implementation.

[2015-03-05 15:06] derekwaynecarr commented on #5043
The push basically caused the Kubelet to restart, and then it does work.

Without the push, systemd would have eventually restarted the Kubelet.

We need more investigation as to what was causing the Kubelet to fail on initial startup.

[2015-03-05 15:11] bgrant0607 commented on #5020
These are failed pods/containers, or are they running?

Lack of GC of dead containers is a known issue: #157.

@dchen1107

[2015-03-05 15:17] rrati commented on #5020
@bgrant0607 The pods are running on the hosts.

[2015-03-05 16:11] erictune commented on #5090
You should not need to explicitly use `docker run` with kubernetes.  And, in particular, you should not need to use `--link`.  A properly setup kubernetes cluster has network connections between all the containers. See https://github.com/thockin/kubernetes/blob/docs2/docs/cluster/networking.md

[2015-03-05 16:21] satnam6502 commented on #3693
Personally, I think -- for now -- using an ELB is fine -- by setting the use external load balancer field in the System specification. I am working on a PR to fix an issue relating to the use of application endpoints using the proxy server (to address issue #4977 -- which can bite you if one of the fields of a JSON response contains a field called `status`).

[2015-03-05 16:52] erictune opened #5095 "Allow setting some "safe" per-container sysctls"
A GCE ContainerVM used on IRC asked how to set SOMAXCONN within his container.
That is not possible in an unprivileged container because `/proc/sys` is not writeable.

If the user tries to set `containerManifest.containers[i].privileged=true` then a validation error occurs.
I can't tell if that validation error is occuring only at the kubelet or also at some layer of the containerVM system.  At an

[2015-03-05 17:15] bgrant0607 commented on #5095
This (and similar) is a system-wide setting, no? A quick search shows that several applications (e.g., riak, php, mysql) advise tuning /proc/sys parameters. We'll likely need a model for setting these parameters based on pod/container requirements (e.g., black-box configuration vs. semantic awareness of the knobs), and will need to decide what to do when different applications request different va

[2015-03-05 17:20] bgrant0607 commented on #3693
It sounds to me like there are 2 issues:

1. How should the guestbook example make the guestbook app accessible to users?
2. How should the guestbook.sh test test correctness?

I think these are 2 totally different things. The right answer to (1) is clearly external IPs. That's what we want to teach users to do.

(2) likely doesn't have the same requirements.

Conflating the 2 cases might not be h

[2015-03-05 17:32] dchen1107 commented on #5020
@bgrant0607 I think the issue is not related to GC of dead containers.

It looks like the pods are running on the node all the time; but after rc set the count to zero, then is removed, pods are still running, and there is no way to view the pods' status from kubectl. Couple of possibilities here:

1) When rc set the count to zero, the pod is not removed. Bug in ReplicaController.
2) ReplicaContro

[2015-03-05 17:38] rrati commented on #5020
@dchen1107 We are always running against a nightly snapshot of master and we have seen this across multiple versions.  The last test I ran was against this sha:

6f6218cc1edc1d89e582691c5a2f47467f444e3a

[2015-03-05 17:42] timothysc commented on #4861
@zmerlynn | @roberthbailey | @satnam6502
Who can we assign for review on this one?

[2015-03-05 17:57] mrunalp commented on #4823
@thockin @bgrant0607 Thanks for your comments. So, IIUC in the scaled down version it will be a matter of requesting tmpfs storage in the kubelet and then just mounting it into pods. We need to make sure the clean up happens correctly.

There is the question of tmpfs size, though. Do we add a field to allow pods to request the size of /dev/shm?

[2015-03-05 17:57] dchen1107 commented on #5020
I quickly test it, and everything looks fine. Please note that my test didn't stretch the system as mush as your density_test here. I have a cluster with 4 nodes, and start a rc, then resize it to 20, later resize it back to 0. Kubectl shows 0 count of such pods, and I ssh into the node, all containers including POD infrastructure ones are terminated properly.

[2015-03-05 17:58] mbruzek opened #5098 "make all fails to build kube-scheduler"
I am trying to build kubernetes from source and I get an error building kube-scheduler for more recent releases (v0.11.0 and HEAD).  When I try the same procedure on an earlier release (v0.8.1) the same steps, and the same machine compiles kube-scheduler.

Here are the recreate steps:

    $ git clone https://github.com/GoogleCloudPlatform/kubernetes.git
    $ cd kubernetes
    $ make all WHAT='pl

[2015-03-05 17:59] dchen1107 commented on #5020
@rrati what is the node status of kubectl get nodes? Are all of them at Ready or NotReady?

[2015-03-05 18:07] mbruzek commented on #5098
On the same system, I can build kube-scheduler version 0.8.1

[code]

What changed in kube-scheduler to make this not work?

[2015-03-05 18:08] mrunalp commented on #3350
@erictune said:

We could create interfaces and compile in network provider implementations, but from the discussions we have had so far it seemed like there was more inclination towards keeping the network providers independent.

It could certainly be changed if we feel that is the wrong direction.

[2015-03-05 18:08] rrati commented on #5020
I saw this running 100 pods/node on 13 minions (so 1300 pods total).  When the delete returns, all pods have been removed from the systems except for a few.  In my last test 8 containers + 8 pause containers (16 total containers) were left running across 2 systems.  I believe this issue gets worse the more systems and pods are involved.

[2015-03-05 18:09] pmorie commented on #4823
@mrunalp I believe you could use the new method I added to the `volume.Host` interface, `GetTmpfsPodVolumeDir`, in #4625

[2015-03-05 18:22] satnam6502 commented on #3693
Yes, I am torn about this too. Another thing to consider is that a test that uses an external load balancer is going to take longer because it takes much longer to create a service with an external load balancer (almost instant with ELB vs. perhaps up to a minute with a load balancer) and then there is a teardown step as well when you delete the service (which deletes the forwarding rules etc.).

[2015-03-05 18:22] vishh commented on #4841
Thanks for the PRs. I will pick it up from here and try to get it to work
in both the modes.

On Tue, Mar 3, 2015 at 5:15 PM, Paulo Pires <notifications@github.com>
wrote:

[2015-03-05 18:26] lavalamp commented on #5000
@smarterclayton if you're doing the work I have no objections :)

[2015-03-05 18:26] satnam6502 commented on #4861
@zmerlynn | @roberthbailey : feel free to take this over if you want to.

[2015-03-05 18:26] bgrant0607 commented on #2789
One issue that's come up lately: Nothing GCs terminated pods. We could use this issue for that, or file a new one.

[2015-03-05 18:28] bgrant0607 commented on #5000
Sorry, I ran a doc fixit yesterday and am behind on PR reviews. Will try to get to this soon.

I would actually like to experiment with some subresources in v1beta3, so we can get experience with them. /binding should be pretty easy.

[2015-03-05 18:31] bgrant0607 commented on #5020
Do you see the bound pods in etcd? You could use etcdctl to look, or could get /boundpods from apiserver.

[2015-03-05 18:31] lavalamp commented on #5086
Oh, I think I see the misunderstanding. ResourceVersion field is not actually writable. It is not stored in etcd; instead, it is generated from etcd's "EtcdIndex", which should monotonically increase every time you write to the object. It's part of the metadata that *etcd* keeps about the object. Look inside the etcd_tools.Helper object to see how that happens.

To update (PUT), you set ResourceVe

[2015-03-05 18:32] roberthbailey commented on #5098
It looks like you aren't using a very recent version of the Go compiler
(1.2). The build is failing because it doesn't recognize the http.Client's
Timeout field, which was added in Go 1.3 (see
https://golang.org/doc/go1.3#minor_library_changes). Try upgrading your Go
install to 1.3 (or better yet, 1.4) and see if that helps.

Robby

On Thu, Mar 5, 2015 at 10:08 AM, Matt Bruzek <notifications@githu

[2015-03-05 18:32] dchen1107 commented on #5020
@rrati, you are right.

Could you run etcdctl to check if those pods are still bound to that particular node? command should be:
[code]
If those pods are still bound to those two nodes, I think there is an issue in replicaController. Of course, etcd itself could be problem. @saad-ali is running some tests to generate some benchmark for us: #4432

[2015-03-05 18:32] lavalamp commented on #5086
Yeah, it should actually return HTTP status 201 indicating that you created something when you do that.

[2015-03-05 18:32] #3112 closed

[2015-03-05 18:33] bprashanth opened #5100 "Kubectls sometimes fails to set-context causes cryptic e2e failures"
I did a make clean, followed by a ./hack/e2e-test.sh and found that even though my cluster seemed to be running (per `gcloud compute instance list` and ssh), the actual test suite didn't even start. `go run hack/e2e.go -isup` also returned false. From what I could tell from the logs, my e2e cluster was trying to contact 127.0.0.1 for validation. This immediately got me thinking about the .kubeconf

[2015-03-05 18:34] lavalamp commented on #5086
Another way to say this: we use the ResourceVersion to implement optimistic concurrency. http://en.wikipedia.org/wiki/Optimistic_concurrency_control

[2015-03-05 18:38] dchen1107 commented on #5020
With a little bit load: 4 nodes and 400 pods, I could reproduce the issue. Those removed pods are running on the system, but kubectl get pods shows nothing. I checked etcd, and found those pods are still bound to the nodes. This is a serious bug in the system

[2015-03-05 18:40] timothysc commented on #4866
So maybe it's me, but the api always seems to always deal in one of the following:

1. Single Items
2. Arrays

In reality what I want in almost all cases for groups of PODs is a map.  For example, in this case we send the same POD 1000 times, when in reality I would like to send a PodList that contained

map[Pod]int .

[2015-03-05 18:44] bgrant0607 commented on #5020
We closed #2794 not because it was fixed, but because the plan is to nuke boundpods #2483.

[2015-03-05 18:47] dchen1107 commented on #5020
Yes, this is known issue. Basically it is due to boundPods can get out of sync, and we decided to nuke boundPods completely for v1.0.

[2015-03-05 18:56] lavalamp commented on #4866
@timothysc I think you're asking for bulk creation; it's a desired thing but not urgent yet.

The PodTemplate object will also enable something similar, when we start using it.

[2015-03-05 18:56] alex-mohr commented on #5011
Re: registry usage, fwiw, I think if we're relying on manually pushing a version of the docker image to the machine for the dev flow, we could potentially skip publishing to a registry?

But if our image is ~10MB static go binary, not clear how much it matters whether we push via registry or not -- gcr.io seems comparable to scp to me.  Start simple and optimize if the flow is slow?

And having ju

[2015-03-05 18:57] lavalamp commented on #4866
(Assuming you're talking about the replicationController <-> apiserver communication path; you really *don't* want to start 1000 pods without something actively babysitting them...)

[2015-03-05 19:02] mbruzek commented on #5098
Thanks for taking a look @roberthbailey

That is the version of go that is installed using the Ubuntu package repository for trusty.  I will follow the instructions at https://golang.org/doc/install to get a more current version.

[2015-03-05 19:05] bprashanth commented on #1795
I can hack away at this as I touch related code, I'm guessing it isn't for 1.0 since it's a p3

[2015-03-05 19:08] bprashanth commented on #5086
IRL we decided to reject non-matching resourceVersions in validateUpdate instead of waiting for a CAS failure

[2015-03-05 19:08] derekwaynecarr commented on #4866
I vote for keeping it simple and remove all concurrent calls and just increment 1 by 1.  When a quota is applied to a Namespace, the concurrent calls here compete incrementing the quota.  I think we should do something fancier when we have bulk support so quota could also do the right thing.

[2015-03-05 19:09] derekwaynecarr commented on #4866
At least do 1x1 on the size up case.  I am fine doing all at once on the size down case.

[2015-03-05 19:15] roberthbailey commented on #5092
This was on the 0.12.0 release.

[2015-03-05 19:16] rajatchopra commented on #3350
@erictune  It will be difficult to standardize on the interface, if we were to choose a compile-in option. There are just too many possible aspects about the network (L2/L3/firewall/encap etc) and different solutions may have completely non-overlapping needs. It will be difficult to get a minimum viable set e.g. vxlan vs sriov vs ipvlan.

@derekwaynecarr We may want a sync mechanism in the future,

[2015-03-05 19:28] dchen1107 commented on #2411
This is required by running etcd server as pod with flannel on gce nodes. @ArtfulCoder Please sync your cluster with this fix.

[2015-03-05 19:31] lavalamp commented on #5086
I thought we decided that it didn't really matter either way. :)

[2015-03-05 19:35] dchen1107 commented on #5092
Ok, the initial error reported above is due to docker is not running. The issue here is not kubelet is not running, instead of docker is shutdown. Why docker is shutdown here? because we upgrade to 1.5 docker?

[2015-03-05 19:35] piosz commented on #3693
So there is agreement to use ELB. What about firewall rule? Port 8000 should be opened, I can do it by using gcloud, however it's not provider agnostic operation. Is there any other option for that?

[2015-03-05 19:40] satnam6502 commented on #3693
Sadly not:
[code]
I suggest just using gcloud / making the API calls for the firewall and keep this as a GCE specific test. Which is indeed a shame.

[2015-03-05 19:43] piosz commented on #3693
Reopening since the PR was reverted in #5088

[2015-03-05 19:46] dchen1107 commented on #5092
I lowered the priority to P1.

@roberthbailey We recently added monit to babysitting both docker and kubelet. Monit will check both docker and kubelet if running every 5 mins (#2884). In your failure case, docker should be restart by monit. We can discuss the interval here. Maybe reduce it to 1 min.

[2015-03-05 19:52] #2738 closed

[2015-03-05 20:00] a-robinson opened #5102 "Work around issue of docker often not restarting cleanly"
For context, see [the issue I opened against docker](https://github.com/docker/docker/issues/11181) about restarting docker being flaky.

I've personally observed this a handful of times, and it looks like it may be behind #5092 as well. We could work around docker's slow termination in at least a couple different simple ways:
1. Kill docker immediately when the VM starts, such that when salt trie

[2015-03-05 20:00] a-robinson commented on #5102
cc @dchen1107

[2015-03-05 20:12] dchen1107 commented on #5102
Here is my understanding related to the issues / questions you listed above:

We all observed sometimes docker daemon failed to start before. But #5092 reported is different one. Current version of containerVM image is running docker 1.4.1, and OSS one is configured with 1.5 for testing. Please note that I asked Filipe to build a new one with 1.5 now. In this case, when you initially bringing up a

[2015-03-05 20:24] bgrant0607 commented on #5092
Reducing the monitoring period SGTM.

[2015-03-05 20:25] piosz commented on #5091
This may be related to #4914

[2015-03-05 20:26] bgrant0607 commented on #5102
Is the problem that we aren't waiting for Docker to shut down cleanly before attempting to restart it?

[2015-03-05 20:26] dchen1107 commented on #5092
@roberthbailey How long you have wait when you query /validate? If it takes too long for a cluster being initialized, that is a separate issue and we should fix.

[2015-03-05 20:28] smarterclayton commented on #4957
@liggitt has an incoming brain dump of the entire flow to put here - we had quite a few recommendations.

[2015-03-05 20:29] pmorie commented on #3705
@smarterclayton @lavalamp This can be closed now, resolved by #4974

[2015-03-05 20:32] dchen1107 commented on #5092
Ok, #4592 introduced DockerCache in kubelet, which makes thing worse. Basically it constructs a DockerCache at kubelet initialization time. If docker is not running, kubelet bailed out too.

@wojtek-t I am assigning this to you. I think we shouldn't fail kubelet initialization here just because of docker is shutdown. Kubelet should report NodeStatus including docker's status.

[2015-03-05 20:33] dchen1107 commented on #5092
I will address the monit' s period issue in #5102

[2015-03-05 20:33] smarterclayton commented on #3481
We have started discussing this (@liggitt has incoming recommendations to the securing the kubelet) and have some recommendations.  Concrete proposal:

* A master can be a bastion while still functioning as a master
  * It should be possible to run the master as a bastion but without any other logic (until the masters are stateless or have leaders)
  * A bastion authenticates requests the same way

[2015-03-05 20:34] dchen1107 commented on #5102
There is a file lock for docker process, attempting restarts during shutdown will fail.

[2015-03-05 20:35] dchen1107 commented on #5102
I will reduce monit's period to 1 min here.

[2015-03-05 20:35] lavalamp commented on #5086
(And it's important that a mismatch in ResourceVersion returns a Conflict error as opposed to an invalid field error or whatever.)

[2015-03-05 20:37] smarterclayton commented on #2098
In order to properly secure the kubelet, we'll want to reuse the same authentication / authorization interfaces we have in the master.  We also want to have a consistently structured API.  The initial work here would be to replace the Kubelet server with a true apiserver object, with a versioned beta, and begin evolving that API.

[2015-03-05 20:38] smarterclayton commented on #1053
@liggitt this should be added to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/security.md once you make your proposal on securing the kubelet.

[2015-03-05 20:39] smarterclayton commented on #3168
@liggitt I *think* this is the best place to describe the things we were talking about w.r.t. securing the kubelet.

[2015-03-05 20:40] thockin commented on #5095
It's not clear whether this one in particular is inherited from the system
or re-initialized for each netns

On Thu, Mar 5, 2015 at 9:16 AM, Brian Grant <notifications@github.com>
wrote:

[2015-03-05 20:52] roberthbailey commented on #5092
Trying to address your questions in order:

We have intermitent issues with docker not starting. @a-robinson is working on tracking it down (see #5102).

On these nodes docker was running as was the kubelet, but the kubelet wasn't reachable by the master because it wasn't listening on the expected port. What does monit check? That the process is alive? Can it be configured to make sure it is "heal

[2015-03-05 21:05] timothysc commented on #4562
IMHO Status updates should have TTL set so etcd can self clean.

[2015-03-05 21:06] timothysc commented on #5020
@dchen1107 do you have details here as to what the root case is?

[2015-03-05 21:07] a-robinson commented on #5102
Great, I expect monit will alleviate this - these were clusters running 0.11.0, which was cut before we were using monit to keep docker running.

[2015-03-05 21:08] #3629 closed

[2015-03-05 21:34] liggitt commented on #3168
`NewMainKubelet()`/`Kubelet` already take a `client.Client` used to call the master API. That already provides a way to give the kubelet the master CA, and credentials to use against the API (cert, token, etc).

I'd like to start by plumbing the TLS, cert, and key options from the `Kubelet` options down to the server start. First stab at that is here: https://github.com/GoogleCloudPlatform/kuberne

[2015-03-05 21:39] liggitt commented on #3168
Before doing `the kubelet will pass its public key and location to the master`, could we update the Node API object to keep track of the location (scheme, host, port)? That seems like a much smaller change that would prereq what is described in #2, but would enable manually registering nodes using https or alternate ports (and would also let us fix `minion.ResourceLocation`)

[2015-03-05 21:42] roberthbailey commented on #5092
Another data point: I just looked at a cluster that was launched at 8:23 this morning (5 hours ago) using version 0.12.0 and it has this same problem. I killed the kubelet and waited a couple of minutes, after which it was restarted and running happily (as reported by the master's /validate endpoint).

[2015-03-05 21:44] roberthbailey commented on #5092
@dchen1107: @wojtek-t appears to be out of office the rest of this week and this is causing a significant number of cluster creation failures. Is there someone else who can own this and drive it to completion sooner?

[2015-03-05 21:53] dchen1107 commented on #5092
cc/ @vmarmol Can you take a quick look at this?

[2015-03-05 22:01] smarterclayton commented on #4561
#5085 is quasi blocked on this - in that if we do graceful deletion with TTL (the optimal way) then we won't be able to clear the binding at the point the pod is actually deleted.  We could still delete the binding at the point the TTL starts, which is somewhat reasonable (since you can't stop or delay a deletion as I've implemented it so far) because it will trigger the kubelet to remove the pod

[2015-03-05 22:03] dchen1107 commented on #5092
@roberthbailey what do you mean cluster creation failure? How big your cluster is?

If you run 0.11 release, we should upgrade docker. also @wojtek-t 's pr ((#4592) is not in 0.11 release. But 0.11 release doesn't have monit yet. We all observed sometimes docker daemon couldn't restart. With 0.11 that node is gone when docker failed to restart.

For 0.12 release, monit is installed and configured

[2015-03-05 22:06] roberthbailey commented on #5092
After 10 minutes the master's /validate endpoint is not reporting that all components are healthy

1 master, 1 node.

I have only observed this on the 0.12.0 release.

My question about monit is whether is does anything more than keep the process running. I have observed that it will restart the kubelet if the process exists (restoring it to working order) but it seems content to leave a broken ku

[2015-03-05 22:12] smarterclayton commented on #1535
Ok, here's the rough design I'm going with (with various caveats):

1. Allow a Storage object to implement graceful deletion by implementing a new method `Delete(ctx api.Context, name string, options *api.DeleteOptions)`
2. DeleteOptions is a "simple" resource that has a single *int64 `GracePeriod` that is an optional time to delete the resource.  If GracePeriod is nil, the default value is used (

[2015-03-05 22:13] smarterclayton commented on #1535
All naming is on the table, this is just a first pass to get a rough code flow down so I know what needs to be fixed still.

[2015-03-05 22:15] smarterclayton commented on #2789
This is addressed by #5085, and copying the discussion from #1535:

Ok, here's the rough design I'm going with (with various caveats):

1. Allow a Storage object to implement graceful deletion by implementing a new method `Delete(ctx api.Context, name string, options *api.DeleteOptions)` - i.e. `DELETE /pods/foo {"kind":"DeleteOptions","gracePeriod":10}`
2. DeleteOptions is a "simple" resource tha

[2015-03-05 22:17] smarterclayton commented on #2789
DeleteOptions should also support "reason" as described by #1535

[2015-03-05 22:24] vmarmol opened #5107 "Unhealthy Kubelet should be restarted"
We've run into issues like #5092 where the Kubelet was up but not healthy. The monit monitoring for Kubelet should ensure it is "healthy" rather than just alive. We need to define what healthy means in this context and monitor it based on that. An alternate option is for the Kubelet to exit when it gets into a situation it can't serve from. This may lead to crashloops so we'd need to be careful go

[2015-03-05 22:24] vmarmol commented on #5092
I will take a look and send a fix, assigning to myself.

@roberthbailey I believe that it only checks whether the PID is alive. I will file a separate issue for using /healthz or an alternative (#5107).

[2015-03-05 22:26] bgrant0607 commented on #5092
It looks like monit is capable of health checking:
http://mmonit.com/wiki/Monit/ConfigurationExamples#zope

[2015-03-05 22:26] dchen1107 commented on #5092
Monit just detects if process is running or not today, but we could config it to do so.

[2015-03-05 22:28] dchen1107 commented on #5092
Please just handle issue introduced by DockerCache here. We are going to handle healthcheck and interval in separate issue.

[2015-03-05 22:29] vmarmol commented on #5107
Courtesy of @bgrant0607, healthchecking with monit: http://mmonit.com/wiki/Monit/ConfigurationExamples#zope

[2015-03-05 22:29] vmarmol commented on #5092
+1 @dchen1107  :)

[2015-03-05 22:30] dchen1107 commented on #5107
Health check is under this umbrella issue: #2884

[2015-03-05 22:31] Symmetric opened #5108 "kubelet --docker_endpoint argument ignored"
I'm trying to get my kubelet to talk to Docker through Powerstrip, and to do that I need kubelet to send all docker API requests to a specific tcp port on localhost.

Digging through the code, I've found the --docker_endpoint option on the kubelet binary. I've tried setting that, but kubelet is ignoring it when creating pods; requests still hit the default unix:// socket. (I'm verifying this by ru

[2015-03-05 22:58] vmarmol commented on #5108
This sounds like a bug in that the flag is not being respected.

[2015-03-05 23:01] lavalamp commented on #4877
@pmorie @ironcladlou I did a little more work on this. Not ready for a PR yet but maybe you want to look: https://github.com/GoogleCloudPlatform/kubernetes/compare/master...lavalamp:fix7?expand=1

@pmorie Suppose you have a sequence of changes {Add foo, Update foo', Update foo'', Delete foo''}. Is that equivalent to {Add foo'', Delete foo''}, or {}, or {Add foo, Update foo'', Delete foo''}? I can

[2015-03-05 23:24] pmorie commented on #4877
@lavalamp that's what I thought you meant.  I've been thinking about it.  I
think there are probably use-cases that want different compression
strategies - perhaps we should start without compression and then add it in
a pluggable way later?

On Thu, Mar 5, 2015 at 6:01 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-03-05 23:35] vishh commented on #4640
Kubelet does not track the last failed container instance and so this issue isn't fully resolved. Re-opening it.

[2015-03-05 23:44] dchen1107 commented on #5011
We are going to option1 for dev cluster for now since it goes along with private register later in first several steps. We can change it later.

[2015-03-05 23:54] lavalamp commented on #4877
@pmorie yeah that's what my change I linked above is doing.

[2015-03-05 23:55] lavalamp commented on #3928
OK I am now sufficiently worried about this. Fixes incoming.

[2015-03-05 23:57] zmerlynn opened #5112 "Change GCE to use standalone SaltStack configuration on each node"
For GKE, we have a goal of securing the node -> master communication completely, and eliminating it where we can. Rather than head down the rathole of making sure Salt is secure, I decided to look and see how hard it would be just to convert each VM to a standalone SaltStack configuration, ala: http://docs.saltstack.com/en/latest/topics/tutorials/quickstart.html

It turns out, this that isn't hard

[2015-03-06 00:09] pmorie commented on #4877
@lavalamp so it is!

On Thu, Mar 5, 2015 at 6:55 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-03-06 00:11] bgrant0607 commented on #4889
Sorry for the delay, @ghodss.

Ignoring the IP list at the moment, which we're not even sure we'll need to merge...

These lists are effectively maps, maps are commonly used by other systems (e.g., Docker Compose), and a number of users have asked for the env. vars. and containers lists in particular to be converted to maps. Maps also have the benefit of making the merge behavior obvious, since it

[2015-03-06 00:20] bgrant0607 commented on #5086
Would switching to the generic etcd implementation solve this problem?

[2015-03-06 00:28] bprashanth commented on #5100
This is surely related to cross-cluster kubectl.

[code]

-isup run output:
[code]

Getting rid of .kubeconfig
[code]

isup output:
[code]

Note that the first time isup did a GET on `localhost` and the second time it was on `104.197.12.100`, and the only difference between the runs was me mv'ing the .kubeconfig to /tmp.

[2015-03-06 00:33] ArtfulCoder commented on #5011
I brainstormed with @thockin who suggested using the md5sum of the binary as the tag for the corresponding image that has the binary.
I think that is a good way to go about it.

[2015-03-06 00:41] yujuhong commented on #5100
If I understand correctly, when you run `kubectl config set-context foo` (without the --global flag), it creates a `.kubeconfig` locally in the directory, which overrides the global config in `~/.kube/kubeconfig`.

If you run `kubectl config unset contexts.foo` in the same directory, it unsets the context stored in `.kubeconfig` in the current directory. It would have the same effect as deleting t

[2015-03-06 00:51] dchen1107 commented on #5011
that is a good optimization here to avoid unnecessary restart for each push.

[2015-03-06 00:53] bprashanth commented on #5086
Generic/etcd will enforce the pattern of calling `BeforeUpdate->strategy.ValidateUpdate(update, obj)` on update, but currently the rcStrategy doesn't know how to validate an update. I'm planning to teach the rcStrategy how to validate an update, invoke it by hand like we do today from `controller/rest`, and figure out the generic/etcd migration piecemeal.

As far as the actual validation, I'm just

[2015-03-06 01:04] #5092 closed

[2015-03-06 01:05] dchen1107 commented on #5107
Will send a PR shortly.

[2015-03-06 01:16] jlowdermilk commented on #5100
Sorry, I thought I had responded a few hours ago, but I only hit preview...

@yujuhong is correct, `kubectl config set-context foo` creates an empty local context; `kubectl config use-context foo` is the command to switch active contexts.

The reason that `hack/e2e.go -isup` returned false in the first place is because you had an existing local `.kubeconfig` file containing a `local` current-conte

[2015-03-06 01:21] bprashanth commented on #5100
alright, we can close this out i guess

[2015-03-06 01:21] #5100 closed

[2015-03-06 01:39] #5107 closed

[2015-03-06 01:39] bgrant0607 commented on #5020
Lack of atomic multi-object deletion and lack of a reconciliation loop (or even a retry loop) to deal with cases where the pod was deleted but the boundPod was not.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/pod/etcd/etcd.go#L228

[2015-03-06 01:49] yujuhong opened #5121 "Test fixtures to generate valid objects for testing"
TL;DR, We need test fixtures that can generate valid objects for testing.

In #3854, we migrated the defaulting logic from the validation code to the decoder. As a result of that, many tests broke because they didn't expect the result object would be populated with default values.

These test follow such a pattern:
1. Define an "expected" object
2. Do the actual testing and produce an "actual" obj

[2015-03-06 02:11] bgrant0607 commented on #4889
Others have also pointed out that maps work better with off-the-shelf json tools, such as [jq](http://stedolan.github.io/jq/), that we need to be able to canonicalize order of the lists/maps generically, and that most tools/systems need to build maps to actually do anything with the information, anyway.

Coming back to the IP lists: I'm not convinced that we want to merge them, but we probably nee

[2015-03-06 02:13] bgrant0607 commented on #4889
Furthermore, lists should have the requirement that order actually matters, as in commands, and/or that duplicates are allowed (i.e., no keys).

[2015-03-06 02:23] bgrant0607 commented on #4889
The inability to null a list value, as mentioned in https://github.com/GoogleCloudPlatform/kubernetes/issues/4889#issuecomment-76652046, also adds to the list of problems with lists.

[2015-03-06 02:27] bgrant0607 commented on #4889
srvexpand example using map:
https://github.com/GoogleCloudPlatform/kubernetes/pull/1980#issuecomment-60457567

[2015-03-06 02:30] bgrant0607 commented on #4889
Maps work better for specifying paths: https://github.com/GoogleCloudPlatform/kubernetes/pull/1980#issuecomment-60484425

[2015-03-06 02:42] bgrant0607 commented on #4889
Fig vs. k8s: https://gist.github.com/proppy/8e714bf41b6b0978ab0e#fig2kube

[2015-03-06 02:57] smarterclayton commented on #4889
Not having an order on containers makes it harder for naive clients to introspect them and determine relative importance (the first one is overwhelmingly more likely to be important).  That's the biggest disadvantage to Go's random map order.  Same for ports.  Not the case for volumes or env vars.

[2015-03-06 03:29] bgrant0607 commented on #4889
As for specifying merge vs. replace, we'll probably need that, regardless of the representation.

I think the 3-way diff should properly address most cases of removal, such as a previously configured container that was removed.

[2015-03-06 03:31] derekwaynecarr commented on #1535
So I think this works for resources within a Namespace, but will not work for the Namespace itself.  I think that still requires a /stop style request to change the phase of a Namespace, a controller to use the support described here to graceful terminate content managed in the namespace, ability for other finalizers to report back they have completed their own clean-up, and then finally purge the

[2015-03-06 03:31] bgrant0607 commented on #4889
@smarterclayton We're eliminating service port defaulting. In what other situations do you need to determine the "most important" container? It seems like explicit information about that would be better.

There will be multiple ways to infer importance, however, such as which containers have readiness probes, which ones are higher quality of service, etc.

[2015-03-06 03:48] derekwaynecarr commented on #3350
FYI: I am trying to fix terminology.

Initializers deal with making something ready.

Finalizers deal with doing what is needed before an object is allowed to be deleted.

Sent from my iPhone

[2015-03-06 04:11] smarterclayton commented on #4889
Most of the cases are around offering intelligent upgrade or introspection suggestions from a UI based on a pod (you probably want to create a service by exposing the first containers first port).  Regardless of whether it's a map or list, the users ordering is significant.  Even though we in our code don't make decisions based on that, it's still a reasonable inference to draw in many simple scen

[2015-03-06 04:39] bgrant0607 commented on #4889
Thanks for the examples @smarterclayton. So, we're faced with re-deriving order/importance, or re-deriving correspondence (i.e., the map key). Order for a UI totally seems like something that could be automatically annotated without understanding the full object schema. For material importance, I'd imagine quality-of-service specifications, not unlike those provided by lmctfy:
https://github.com/g

[2015-03-06 05:08] smarterclayton commented on #2156
@soltysh please link your proposal here once it's more complete

[2015-03-06 05:54] bgrant0607 commented on #5121
Text fixtures would likely be useful -- they'd be like "config generators" similar to kubectl run-container.

However, I think the first thing we should do is use the versioned representation of objects.

[2015-03-06 06:11] bgrant0607 commented on #3595
I don't think few and many are useful categorizations. I also disagree with the stateless vs. storage distinction. Many frontends need lots of fds for sockets.

[2015-03-06 06:14] bgrant0607 commented on #1629
Note that the current proposal is `/size`. See https://github.com/GoogleCloudPlatform/kubernetes/issues/2726#issuecomment-73177753

[2015-03-06 06:38] bgrant0607 commented on #3481
/logs and /exec are extremely common, so specialized API subresources seem fine for those.

Internally, it's also very common for app admins/ops and devs (when debugging problems in production) to access status, stats, profiling, etc. URLs on application instances. Some apps also have control interfaces accessible via HTTP. Those ports/paths shouldn't be available via the normal public/external IP

[2015-03-06 06:44] bgrant0607 commented on #4851
Re. searching vs. organizing: People new to the project don't know what to search for, and some search terms get hits everywhere.

As the project grows, we'll need to pay attention to both -- neither will be sufficient on its own.

[2015-03-06 07:02] #4411 closed

[2015-03-06 07:16] bgrant0607 commented on #170
I'm fine with pod templates.

[2015-03-06 07:25] inovout commented on #5090
in production,should not need to explicitly use docker run.
but, I want to enter the Container,so i know the details, in order to better learning

[2015-03-06 07:45] bgrant0607 commented on #4971
@danmcp

Of course, in the case that there is just 1 replication controller, spreading by controller labels is reasonable. However, the controller/service decoupling enables multiple replication controllers to exist indefinitely, which is typical for applications with multiple release tracks (e.g., daily and weekly), which is common for ["high-functioning" DevOps teams](https://puppetlabs.com/blog

[2015-03-06 07:52] bgrant0607 commented on #4932
@dchen1107 @thockin I'm fine with banning this for now. The use cases where it would be useful (e.g., reserving resources, staging deployment, prefetching images, ...) aren't currently well supported. When we add the features that could take advantage of this (e.g., pod-level resources, additional of containers during update, container volumes, pod/volume init hooks), then we can make it legal aga

[2015-03-06 08:02] bgrant0607 commented on #4940
How are you generating/sending the requests? Some of our clients do auto-magic conversions.

Yes, it's disabled by default. The reason is that we're still developing the API and we don't want anyone to depend on it yet. Hopefully it will be enabled by default in a couple weeks.

[2015-03-06 08:15] abonas commented on #4932
@bgrant0607 in that case, a clear error message coming from REST would be in place when a pod with no containers is recieved by the server :)

[2015-03-06 08:17] abonas commented on #4940
@bgrant0607 plain http, REST client browser addon. no magic conversions. just json in the request body. and again, it does work with GET, and it works with POST to v1 from the same client.

[2015-03-06 08:54] gmarek commented on #4628
As @thockin suggested, we're changing regexp for label values. Tim suggested to have the same rules for values and qualified names (i.e. '.' should not be correct label value), with the difference that we allow empty values. Are everyone OK, with the new regexp:
[code]

[2015-03-06 09:18] fgrzadkowski commented on #4562
@lavalamp What good is a node if kubelet is not running? Also node controller checked nodes by querying kubelet's /healthz.

@timothysc I don't think there should be any logic in etcd. IMO such cleanups should be done by an external controller such as node controller.

[2015-03-06 10:48] pires commented on #4841
OK @vishh feel free to merge this into your code then :-)

[2015-03-06 10:56] gmarek commented on #4628
Sorry, two mistakes; 'qualified name pieces' not 'qualified names' and regexp should be:
[code]

[2015-03-06 11:19] #4814 closed

[2015-03-06 12:33] soltysh commented on #2156
@smarterclayton will do so as soon as I gather some more feedback around that.

In the meantime I have a question for @jeefy. Given what @smarterclayton proposed with the ability to run in-container commands (eg. using https://github.com/GoogleCloudPlatform/kubernetes/pull/3763) are you convinced on having just one job type which will, similarly to RCs, specify which image to run and the schedule?

[2015-03-06 13:18] Jerry-HQG opened #5128 "etcd: listen tcp XX.XX.XX.XX:2380: bind: cannot assign requested address"
Hi,
I use Kubernetes deployed on multiple ubuntu nodes, when i run "sudo service etcd start", appears the below issue:
`2015/03/06 21:08:39 no data-dir provided, using default data-dir ./infra1.etcd
2015/03/06 21:08:39 etcd: listen tcp XX.XX.XX.XX:2380: bind: cannot assign requested address
`
and when I try to verify if the network setting is correct with running:
`/opt/bin/etcdctl mk /coreos.com/

[2015-03-06 14:13] justinsb opened #5129 "PersistentDisk: one per cloud, or one for all clouds?"
Currently we have "GCEPersistentDisk", and this name is exposed via the API.  I am working on adding support for AWS EBS, which is very similar to GCEPersistentDisk.

Should I add another type AWSPersistentDisk, or should we try to make GCEPersistentDisk work for any PD/EBS/Cinder style cloud-block device?  (And presumably rename GCEPersistentDisk to CloudPersistentDisk or something similar)

On E

[2015-03-06 14:21] #3928 closed

[2015-03-06 14:28] markturansky commented on #5129
Even if you had one PD type for all clouds, you would then need an interface (to work with clouds generically) and implementation (to work with AWS specifically).  IMHO, this is a net gain in complexity, not reduction.

Common mounting utilities recently moved to pkg/util/mount to reduce some of the duplication we saw after introducing NFS and iSCSCI plugins.  Surely there will be other common cod

[2015-03-06 14:40] #3869 closed

[2015-03-06 15:05] bgrant0607 commented on #5129
I don't want cloud-specific objects (including GCEPersistentDisk) in the API.

@thockin

[2015-03-06 15:12] danmcp commented on #4971
@bgrant0607

I am not saying ignore service.  Just that it isn't the best first priority.  If you spread with replication controller as the first priority and service after, you still get the service spreading, without the edge cases.

I will mention too it isn't just 1 replication controller cases that are broken only spreading by service.  One example would be:

Start with:

Node1: P1_RC1_S1, P2

[2015-03-06 15:13] ironcladlou commented on #4877
@lavalamp

Looks pretty interesting so far- I put a couple of small comments on the commits.

[2015-03-06 15:15] markturansky commented on #5129
@bgrant0607 agreed and understood.  See #5105.

[2015-03-06 15:31] simon3z opened #5130 "Single watch endpoint for events and entities changes"
As discussed with @bgrant0607 my plan for analyzing the kubernetes cluster is to fetch all the entities (pods, services, enpoints, etc.) and then keep in sync watching the entities/events.

It would be great if instead of watching each entity separately:

[code]

I could watch just a single endpoint and receive all the updates, e.g.:

[code]

(I have the feeling that I have mentioned this idea to

[2015-03-06 15:44] derekwaynecarr commented on #5130
We had some discussion in the past about the ability to support watching multiple resource types in a single call.  See: https://github.com/GoogleCloudPlatform/kubernetes/issues/1685

I think we need to internally do a single watch on etcd in apiserver, and use that watch to handle all consumers in order to actually make this work in the long-run.

----- Original Message -----
From: "Federico Simo

[2015-03-06 16:25] simon3z commented on #5130
Yes I think I saw a comment related to that in the code. The /pods, /services, etc... endpoints should be just filters applied on the single flow of updates (of all kinds).

[2015-03-06 16:32] ddysher commented on #4562
@fgrzadkowski I think the change made there is to not have node controller query kubelet's /healthz.  But agreed etcd does not involve in the logic, something else needs to do the cleanup.

[2015-03-06 17:21] derekwaynecarr commented on #4997
Turns out OpenShift Origin is too secure now ;-)

This is blocked until OpenShift Origin allows you to mint certs on the client, and then supply the certs on startup as a secret to the pod.

This feature is coming soon.

/cc @deads2k

[2015-03-06 17:32] brenton opened #5133 "Question about portal nat'ing"
It seems that if something drops the kubernetes nat'ing rules nothing will trigger it to be automatically rebuilt.  Is that true?

If so, is there a way to tell the kube proxy to rebuild the nat rules?

[2015-03-06 17:36] bgrant0607 commented on #2789
Actually, reason parameter issue is #1462.

[2015-03-06 17:47] bgrant0607 commented on #2789
I see a couple issues:

1. Wait while entities are shutdown gracefully. This requires a change to the desired state that indicates the object is in cleanup mode so that the responsible controller continues to work on shutting it down until it's done. For a pod, it would be executing pre- and (eventually) post-stop hooks and/or sending SIGTERM and waiting for the container to exit. For a replicatio

[2015-03-06 17:48] fabioy commented on #3311
Updated Vagrant docs via PR #5077 to help Mac OS X users.

[2015-03-06 17:48] #3311 closed

[2015-03-06 18:21] rjnagal commented on #3595
I would assume that we would at best only do minimal checks in scheduler as these resources would be highly overcommitted. We can have an admission check on the node side to reject pod requests or inform scheduler when its running low - more of an out-of-resource model.

For large and few values, we can start with typical linux max for the resource as large, and typical default as few.

@bgrant060

[2015-03-06 18:27] derekwaynecarr commented on #3580
Closing this because the issue is fixed.

[2015-03-06 18:27] #3580 closed

[2015-03-06 18:34] roberthbailey commented on #5084
The kubectl go tests have not failed since the above PR was merged yesterday. Closing as fixed.

[2015-03-06 18:34] #5084 closed

[2015-03-06 18:38] roberthbailey opened #5136 "Add e2e test coverage of kubectl proxy"
After converting the update demo tests to Go and making them mimic the README as closely as possible, we found that [running the kubectl proxy was unreliable](https://github.com/GoogleCloudPlatform/kubernetes/issues/5084) and switched to making calls directly to the kubernetes apiserver instead. This significantly increased the reliability of the e2e tests but we lost test coverage of the kubectl

[2015-03-06 18:45] roberthbailey commented on #4535
I looked at all of our jenkins projects and this test hasn't flaked any time recently (last 30 runs) on any of them. Marking as fixed.

[2015-03-06 18:45] #4535 closed

[2015-03-06 18:47] lavalamp commented on #4562
@fgrzadkowski if kubelet is not running, it cannot phone home to tell apiserver it is not running. Therefore, something other than kubelet must report node status.

[2015-03-06 18:54] lavalamp commented on #4562
Actually scratch that...

I just chatted with @erictune and the request here is that kubelet phones home with statuses, and node controller checks the timestamp of the last phone-home and sets it to unreachable if it's been too long; the goal being that nothing has to be a client of kubelet (desirable for reasons). So my apologies for not understanding what was being asked here.

[2015-03-06 19:10] pmorie commented on #4954
@derekwaynecarr what say you?

[2015-03-06 19:11] derekwaynecarr commented on #4954
I think a pod should not be allowed to reference a secret not in its namespace.

[2015-03-06 19:16] smarterclayton commented on #4954
Jordan's notes cover a lot of this, but essentially cross namespace references are not required for the vast majority of solutions right now, and we should default to not allowing them for features until we have a concrete need to allow them.

Ie pod templates will not be cross namespace.

[2015-03-06 19:17] derekwaynecarr commented on #4954
agree with @erictune that ability to reference a secret in the same namespace should be resolved in a separate issue and discussion.

[2015-03-06 19:21] smarterclayton commented on #2789
Graceful delete period seems to me to be "the time I wait before I hard kill everything". At least in what you described in 1, I don't see the difference for pods / rc / services between the use of ttl (hard kill when ttl exceeded) and use of the grace period.  Namespace I agree is slightly special.

[2015-03-06 19:21] markturansky commented on #4954
@derekwaynecarr have you seen #5122?  @pmorie and I both need to access things in the same namespace from within our volumes.

[2015-03-06 19:25] smarterclayton commented on #3481
/pods/foo/proxy?port=80

Proxy as a subresources for pods is strictly better than the global verb I think.

[2015-03-06 19:26] smarterclayton commented on #4889
Yeah, we've identified another area where the golang json parser limits us.

[2015-03-06 19:34] iano123 commented on #4896
Im having the same issue

[2015-03-06 19:37] derekwaynecarr commented on #4971
@danmcp - If a replication controller could 'infect' a pod with a unique label, do you need any other feature to reach your desired case?  Right now, the replication controller takes all the labels on a pod and clones them.  It seems to me that if you allowed a replication controller to infect a pod with a unique label value, you could spread based on that value without baking any additional knowl

[2015-03-06 19:42] #4623 closed

[2015-03-06 19:47] mikedanese commented on #5133
The proxy sync loop should ensure that the portals rules are open every five seconds. Deleteing and recreating a service, or restarting kube-proxy would trigger a rsync of the rules. Are you observing that this is not the case?

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/proxy/proxier.go#L363

[2015-03-06 20:10] brenton commented on #5133
Something defintely appears to be wrong with my OpenShift environment (we embed a fairly recent version of kubernetes).

Anyway, thanks for pointing me to the code.  I see the "Periodic sync" log messages firing in my environment roughly every 30 seconds.  I'll probably add some more debugging in my environment to make sure it's functioning the same as standalone kubernetes.

[2015-03-06 20:10] #5133 closed

[2015-03-06 20:21] jayunit100 commented on #4548
By definition of *chaos monkey* i think this sort of test should support killing anything, and should maybe default to something as simple as just killing containers.

[2015-03-06 20:23] jayunit100 commented on #4548
Actually - take that back - maybe this test should simply cause chaos which is only possible by launching a kubernetes workflow.  its outside the scope of kubernetes to build a generic chaos monkey.

[2015-03-06 20:57] fgrzadkowski commented on #4561
I have almost ready PR for this (some tests are failing). Will send it on Monday.

[2015-03-06 21:58] lavalamp commented on #3954
I just did 100 pods, it was 4.5 minutes for all of them to schedule. HOWEVER, it is unclear if this is due to the scheduler being slow or apiserver being slow; I expect if I profile scheduler I will find that it is spending most of its time waiting.

[2015-03-06 22:02] vipulnayyar commented on #246
Hello everyone,

I would like to work on this project during GSoC '15. I've gone through setting up the base dev environment and starting a local cluster. I'm going through the kubelet and apiserver code right now.

Which of the future points suggested by @bgrant0607 and others do you think are critical and should be pursued for this project? The bootstrapping part definitely seems interesting, bu

[2015-03-06 22:14] dchen1107 commented on #5090
You can use docker exec -i to enter a container

[2015-03-06 22:22] mrunalp commented on #4823
I think ideally we would want separate mounts per pod for this scenario and allow pods to specify what size they want for their instance.

[2015-03-06 22:57] vishh commented on #3628
This issue is not fully resolved yet.

[2015-03-06 23:06] derekwaynecarr opened #5149 "Add README.md to limit range and resource quota examples"
Since #5142 will enable the plug-ins on all salt based providers, I need to author a README to document how each example is used.

Open issue to track

[2015-03-06 23:31] erictune commented on #4562
We don't have NodeUnreachable NodeConditionType, but we could add that and do as lavalamp says.

[2015-03-07 00:04] yujuhong commented on #3954
Out of curiosity, I ran a simple test using a local cluster, where the only node is localhost. With 4 threads each creating 25 pods (i.e. 100 pods), the total pod creation time + scheduling time (i.e., the host field is set) is ~1 minute.

@davidopp, what machine/cluster setup should we use for the 1.0 requirement?

[2015-03-07 00:08] bgrant0607 commented on #246
@vipulnayyar Thanks for your interest! Early next week I plan to flesh out more of the details of projects that GSoC candidates express interest in. I'll update this issue.

My current thinking is that this project would focus on running the master components (apiserver, controller-manager, etc.) in pods. A necessary first step is to properly containerize them. We have made previous attempts at th

[2015-03-07 00:13] davidopp commented on #3954
The setup we had decided on earlier was "100 node, 3000 pod clusters"
So I think doing it on one node is cheating. :)

[2015-03-07 00:20] yujuhong commented on #3954
Yes, it is cheating, but it's still a good reference point :)

@lavalamp, did you create a 100-node cluster for your test? It'd be a pain to wait for the cluster bring-up/tear-down with so many nodes. Or did you mock-out the nodes...?

[2015-03-07 00:22] davidopp commented on #3954
@yujuhong Yes I agree, and in fact trying the same number of pods at different cluster sizes is helpful to try to pinpoint where the slowdowns are coming from.

[2015-03-07 00:27] lavalamp commented on #3954
This was on a two node (+ master VM) cluster (so 100 pods per node, using the kubernetes/pause image).

[2015-03-07 00:49] danmcp commented on #4971
@derekwaynecarr The only additional requirement would be that label spreading had a higher priority than service spreading.

[2015-03-07 01:17] thompsonja opened #5156 "kubectl create -f service almost always times out"
I'm trying to bring up a service and pod (https://github.com/youtube/vitess/examples/kubernetes/vtctld-up.sh).  The service has createExternalLoadBalancer: true.  The call nearly always returns:
ERROR: F0306 15:59:47.443762   17632 create.go:81] Timeout: request did not complete within allowed duration.

I then proceed to create a firewall rule (created successfully) and access the service, which

[2015-03-07 03:13] vipulnayyar commented on #246
@bgrant0607 Related to this topic, based on my past experience as a GSoC student, you also need to figure out the application template that students need to follow while submitting their GSoC application for Kubernetes.

[2015-03-07 03:34] bgrant0607 commented on #4971
@derekwaynecarr Early on, replication controller did add a label. I had it removed. As @danmcp points out, it's redundant with user labels.

@danmcp Feel free to submit a PR or ask @abhgupta to make the change.

[2015-03-07 04:41] roberthbailey commented on #4861
I won't have a chance to look at this in the next week.

[2015-03-07 05:12] bgrant0607 commented on #3595
I don't know that we need to track these values in the scheduler. They are more for DoS prevention than allocating a finite resource.

I'm skeptical that "large" and "few" are adequate, because the lack of numerical values would make it difficult for users to predict what category they should request, and the choice might not even be portable and/or stable over time. Do you think users wouldn't kn

[2015-03-07 05:25] thockin commented on #3595
small and large feels clunky, but I like the ability for site-admins to
define a few grades of service and then to let users choose.  I think it
works pretty well internally - at least most users survive with the default
of "small"

On Fri, Mar 6, 2015 at 9:13 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-07 05:40] thockin commented on #3599
Trying to repro this as simply as possible.

1) Make a container.  Dockerfile:
[code]

2) Build that as thockin/busybox-with-vol

3) Run it:
[code]

Note that Volumes shows /vol as a volume.

3) Run it with an overlap on /vol:
[code]

Note that /vol is overlayed with /tmp, which can be verified with `docker
run -ti -v /tmp:/vol thockin/busybox-with-vol sh -c "ls /vol"`

How can I repro this?

On T

[2015-03-07 11:28] mainframe commented on #1957
+1 for consul

[2015-03-07 17:48] smarterclayton commented on #5156
More evidence why we need to separate portalIP and external load balancer allocation from synchronous create.

[2015-03-07 18:01] thockin opened #5161 "after 1.0: remove "legacy mode" from volume plugins"
Most of the volume plugins have "legacy" names.  at some point we should remove those and the supporting logic.

[2015-03-07 18:42] satnam6502 commented on #5156
I can't follow https://github.com/youtube/vitess/examples/kubernetes/vtctld-up.sh
I assume this is for GCE?

[2015-03-07 20:14] smarterclayton opened #5164 "Allow admins to implement controller loops from the CLI (IFTTT)"
It should be possible to script Kube from the cli via simple commands in kubectl that implement the list-and-watch pattern and pass those objects to scripts.  Examples

I want to watch all services and and tweak the external load balancer settings when it runs:

[code]

Needs something that makes it easy to exec a process per change, and potentially filter based on event type.

[2015-03-07 20:15] smarterclayton commented on #5164
In effect, it should be possible to create a real controller loop in bash only with a reasonably simple loop.  Maybe an --exec option that runs based on the item.

[2015-03-07 21:51] thompsonja commented on #5156
Apologies, yes this is for GCE.  I've been automating the steps outlined here:
https://github.com/youtube/vitess/blob/master/examples/kubernetes/README.md

[2015-03-07 22:19] bgrant0607 commented on #5156
@smarterclayton I agree. They need to be moved to the async model, similar to scheduling. The Service would start in Pending. ServiceStatus needs a ServicePhase.

[2015-03-08 00:22] bgrant0607 commented on #5164
Good idea. Related to #1899, as well as to scriptability discussed in cli-roadmap.md.

[2015-03-08 02:19] smarterclayton commented on #5164
In theory you then implement a controller in a pod by providing a bash script, and then you can guarantee it's always running on your cluster with an rc.

[2015-03-08 02:31] bgrant0607 commented on #4877
@lavalamp Scheduler will need to process deleted items. #1517

[2015-03-08 04:22] bgrant0607 commented on #4940
`GET /api` returns what?

[2015-03-08 04:24] bgrant0607 commented on #4940
Also, did you use a v1beta3 schema?

See:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook/v1beta3

[2015-03-08 04:56] bgrant0607 commented on #260
@timothysc What you propose would work if zk1, zk2, and zk3 were services, at least once multi-port services are supported.

[2015-03-08 07:01] kazegusuri opened #5168 "Apiserver receives unsupported field label"
Apiserver continuously logs following errors in current HEAD.
[code]

This is caused by receiving a request like `/api/v1beta1/pods?fields=Status.Host%3D172.17.8.102&namespace=` from kubelet. And it is fixed by just adding `Status.Host` case [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/conversion.go#L1336), but I'm not sure that's right.

[2015-03-08 10:51] abonas commented on #4940
@bgrant0607 (as the initial comment in this PR says):
a. I used a v1beta3 example from this repo:
The json used is from here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/v1beta3/redis-master-service.json

b. GET on /services under v1beta3 returns the services correctly.

[2015-03-08 14:37] sdminonne commented on #341
@bgrant0607 we discussed here about the `fields` and `labels` syntax difference. I've just submimtted https://github.com/GoogleCloudPlatform/kubernetes/pull/5171 thanks to have a look  if you've time.

[2015-03-08 15:06] thockin commented on #260
Yeah, there's an ugly here, though.

A running pod doesn't know what services "front" it.  E.g. given a service
of one backend instance, the VIP used to access the service is not known by
the backend (unless it seeks that information by knowing the service
name).  In a nominal service(N), you would have N backends and N VIPs (and
presumably N DNS names or an N-address name), but the backends would

[2015-03-08 15:17] xudifsd opened #5172 "namespace design seems out of date"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/namespaces.md haven't update for a long time, and it even using `kubecfg`, the usage of `kubectl`, shows namespace is SUPERCEDED. Maybe you should update the doc.

[2015-03-08 15:38] derekwaynecarr commented on #5172
I am working on updated docs

[2015-03-08 15:38] xudifsd commented on #4926
Hi, I'm also interested in gsco2015, I have a cluster seted up, and currently digging the source code. I'm wondering if there are any idea page or guidelines or something like that, so we can read code more targetedly and more efficiently.
For example, I think idea page from [clojure community](http://dev.clojure.org/display/community/Project+Ideas) is much easier to understand for a student.

[2015-03-08 16:19] bgrant0607 commented on #260
(5) sounds like this proposal.

[2015-03-08 16:30] bgrant0607 commented on #4931
Yes, they are ANDed together, just like the selectors in the API.

@sdminonne Please clarify this when you update labels.md.

[2015-03-08 16:32] bgrant0607 commented on #4761
Ok, good. Re-closing.

[2015-03-08 16:32] #4761 closed

[2015-03-08 16:38] bgrant0607 commented on #4825
The object name is a management handle and ensures idempotence and uniqueness.

The hostname is used for network identity.

Conflating object name and hostname goes against our entire design, with decoupled services and replication controllers, ephemeral pods, etc. Setting hostname using podID was a mistake, and it should be fixed.

[2015-03-08 16:41] #1910 closed

[2015-03-08 16:42] #442 closed

[2015-03-08 16:44] #2353 closed

[2015-03-08 17:06] smarterclayton commented on #4825
The hostname identifies a unique instance of a machine in external systems.  I assume from what you're saying is not against a hostname being stable to network identity or presence on a host?  It seems reasonable that the hostname value should be stable on a given node for a pod as long as it is not replaced / moved / gets a different ip?

[2015-03-08 17:25] smarterclayton commented on #260
I'm a huge fan of 5 - the pods knowing their role is step one, the pods having a unique having DNS identify or using endpoints to get others ip and reacting to it is two.  Being able to look up the pod ip in endpoints by a stable role id would be third.

[2015-03-08 18:07] thockin commented on #260
I'll have to make some time to write up this idea a bit more, then.

On Sun, Mar 8, 2015 at 10:25 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-08 18:09] thockin commented on #5172
We need to make a policy - do we update design docs, or are they historical
artifacts that should be replaced by "real" docs that are kept up to date?

On Sun, Mar 8, 2015 at 8:38 AM, Derek Carr <notifications@github.com> wrote:

[2015-03-08 18:19] jonlangemak commented on #4785
Apologies for the delay - Yes this is reproducible in my lab setup.  I should likely rebuild the lab using the new code and ensure that Im still seeing this.  The code Im currently running is a month old at this point.  Was there any other debug related data you wanted before I rebuild?

[2015-03-08 20:06] derekwaynecarr commented on #5172
Agree, but in this case, I have updates to the design doc to capture delete semantics.

Sent from my iPhone

[2015-03-09 01:51] Jerry-HQG commented on #5128
issued by GFW

[2015-03-09 01:51] #5128 closed

[2015-03-09 02:57] wnegus commented on #2144
I am trying to do a very important demo of Kubernetes using a tutorial on Google.com  - but the issue is the tutorial uses the deprecated kubecfg.sh, and the instructions on the tutorial have not been updated to reflect the new kubectl.sh commands.  Can someone please look at the below and advise the equivalent command line entries to do the same thing using kubectl.sh?   Need help on this urgentl

[2015-03-09 04:48] lavalamp commented on #1517
The current scheduler uses a watch to see all changes to pods it's interested in, which currently is the set of pods with no host field set. It uses this data as a queue of pods waiting to be scheduled.

I can imagine much more complex schedulers that do things like ask for resources to be allocated. I can also imagine components that free up resources when pods are deleted (but it's not at all cl

[2015-03-09 04:50] smarterclayton commented on #1517
We should do a quick pass and maybe add an example of a variant scheduler and how to run it (would be a good example for our docs, and would highlight any issues or roadblocks in the tweak code -> build -> running image workflow).

[2015-03-09 04:52] smarterclayton commented on #5172
The audience for a design doc and regular doc may not be the same.  Agree we should be transforming proposals into more concrete documents that describe the underlying intent, the targeted use cases, alternatives considered, etc.  That's "historical" but still relevant.

[2015-03-09 04:54] lavalamp commented on #4877
@bgrant0607 I don't really see how that follows, but if so, then this component will be usable for that.

[2015-03-09 05:05] lavalamp commented on #2144
"list pods" -> "get pods"
" -f <file> create <type>" -> "create -f <file>" (type automatically deduced)
"resize foo 0" -> "stop foo"
"delete pods/foo" -> "delete pod foo"

(All from memory and unchecked, YMMV)

I filed a bug report internally to get this page updated.

[2015-03-09 05:08] smarterclayton commented on #1004
We should remove YAML checking as part of the core runtime.Decode since the client now handles it via resource.Builder

[2015-03-09 05:36] nikhiljindal commented on #4940
As per the swagger spec (http://kubernetes.io/third_party/swagger-ui/), POST on /api/v1beta3/services is not allowed, while GET is.
You need to POST on: /api/v1beta3/namespaces/{namespaces}/services

Seems Working as intended.

[2015-03-09 05:38] inovout commented on #5090
thank you!

[2015-03-09 05:38] #5090 closed

[2015-03-09 05:43] nikhiljindal commented on #5168
This is because the v1beta1 version of Pod (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/types.go#L510) does not have a Status field.
You should use DesiredState.Host instead of using Status.Host in the URL.

[2015-03-09 06:17] smarterclayton commented on #170
I'd like templates to be marked as immutable, which allows a client to communicate that a particular template should not be modified at runtime.  The server would reject updates to that template if set.  This would allow (for instance) an automated deployment tool to create an rc that cannot be tweaked, and force other clients to either delete and recreate the template (forcing uid to change) or t

[2015-03-09 06:17] smarterclayton commented on #170
"To be able"

[2015-03-09 06:31] imesh commented on #4711
Hi @bgrant0607,

Thanks for your quick response! I went through #2804 and #3692, yes they are much similar to this requirement. By "client" what I meant is a client of the Kubernetes API, in this use-case client would be Stratos Cloud Controller.

The exact requirement we have here is to avoid overlapping of pod healing functionality in Stratos and Kubernetes. Stratos Autoscaler component has this

[2015-03-09 06:54] imesh opened #5176 "Kubernetes Services are not exposing Host Ports on EC2"
In Apache Straots, we are experiencing a problem when running Kubernetes 0.9.x on Amazon EC2 where it does not expose host ports for Kubernetes Services. Stratos first create the Kubernetes Service and then creates the Pod with proper labels to be able to identify the port mapping.

Is there any known problem around this? This works fine on Vagrant/VirtualBox with Kubernetes 0.11.0, CoreOS 593.0.0

[2015-03-09 08:31] abhgupta commented on #4971
@danmcp @bgrant0607 @derekwaynecarr If we are addressing this, we might as well address another key issue.

Q. How do we identify the group of pods when there are multiple replication controllers (that form a conceptual 'service') but no service resource created, since the routing/load-balancing is done by a custom middleware?

Option 1) Here the pod labels cannot be used since each pod (or a set

[2015-03-09 08:38] jszczepkowski commented on #4777
I'll work on it.

[2015-03-09 11:16] wojtek-t commented on #5092
Thanks a lot for taking this issue @vmarmol and sorry for introducing the problem.

[2015-03-09 13:33] thockin commented on #5176
Can you explain what you mean by host ports?  No service should be exposed
as host ports since several months ago.
On Mar 9, 2015 2:54 AM, "Imesh Guaratne" <notifications@github.com> wrote:

[2015-03-09 13:35] piosz commented on #5091
The problem is that when frontend pods are created, information about redis services may not be propagated yet. I'll change guestbook example to use SkyDNS instead of host:port.

[2015-03-09 13:39] piosz opened #5178 ""kubectl stop" doesn't support specifying resources by label"
The other commands do support it.

[code]

[2015-03-09 13:54] wojtek-t commented on #4119
Yes - at least I need to add a unit test for podworkers which I didn't manage to do before my vacation. Will work on it this week.

[2015-03-09 14:21] wnegus commented on #2144
Awesome !  Thanks for the quick response :)

On Sunday, March 8, 2015, Daniel Smith <notifications@github.com> wrote:

[2015-03-09 14:31] #3908 closed

[2015-03-09 14:32] smarterclayton opened #5180 "External load balancer creation should be a post-creation "initializer", not inline"
As discussed https://github.com/GoogleCloudPlatform/kubernetes/issues/5156 and in other places, the load balancer creation should not be synchronous with resource creation (goes against the "dumb resources" model) but instead be applied by a controller both before and after creation.

[2015-03-09 14:38] Suvitruf commented on #5098
Have same error on CoreOS stable (557.2.0) with this instruction https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-kubernetes-on-top-of-a-coreos-cluster

[2015-03-09 14:38] jdef commented on #1517
kubernetes-mesos builds a different scheduler binary, but extends the base scheduler plugin:
* https://github.com/mesosphere/kubernetes-mesos/blob/master/pkg/scheduler/plugin.go

This scheduler implementation can free up mesos resources by killing tasks. It also has the responsibility of watching for deleted pods and communicating kill messages to the kubelet/executor (we use a customized kubelet

[2015-03-09 14:40] derekwaynecarr commented on #5180
+1

[2015-03-09 15:03] piosz opened #5181 "SkyDNS doesn't retry to connect to etcd if it failed during startup"
It seems that SkyDNS doesn't try to reconnect to etcd if the client is broken (for example when etcd came up after SkyDNS).

There was a similar problem with kube2sky (#4814).

[2015-03-09 15:17] kbeecher commented on #3476
I'd be interested in looking into this. Could someone please point me to a suitable starting point in the code? I suppose the startup code of the apiserver and wherever it receives flags would be good.

[2015-03-09 15:40] smarterclayton opened #5183 "Daylight savings time change broke node controller"
After the DST change:

[code]

We should be ignoring creationTimestamp on update.

[2015-03-09 15:47] piosz opened #5184 "Missing service environment variables while starting pod"
While debugging #5091 I noticed that when I'm creating guestbook application by running `./cluster/kubectl.sh create -f examples/guestbook` there is a chance that frontend pods come up before information about environment variables of redis is propagated. In such case frontend can't connect to database during its whole life.

It's actually more general problem, since most of complex application mi

[2015-03-09 16:05] timothysc commented on #260
@thockin re: reverse DNS, let's just wave our hands about and consider it a requirement.

ZK will break without it, as will many other distributed systems.

[2015-03-09 16:37] pmorie commented on #4877
@lavalamp I added a couple comments to commits.

[2015-03-09 16:57] vishh commented on #2852
The network container now has a lower oom score, thanks to recent changes by @vmarmol.
I am closing this issue. We can open a separate issue for supporting OOM priority for user containers.

[2015-03-09 16:57] #2852 closed

[2015-03-09 17:32] bprashanth commented on #4785
Thanks for responding. While you have a reproducible setup there are some log hanging fruit we can tick off. It's very possible the issue will disappear with a rebase but I'd recommend scraping this information before doing so, because, why not:

1. Please upload your kube* logs (apiserver, controller, let, scheduler)

2. Are your kubelets health?
`http://$minion:10250/healthz`

3. Do they consist

[2015-03-09 17:34] lavalamp commented on #4877
@pmorie @ironcladlou thanks for the early feedback, I will tag you again when I get this ready for another pass.

[2015-03-09 17:35] bgrant0607 commented on #170
We have some immutable templates internally. Some considerations:
* As with rolling updates themselves, declarative updates to such templates will require special handling, since the objects will need to be re-created rather than updated. We'll want a way to specify the default update approach declaratively, with some default config in kubectl that maps kinds to update strategies.
* A new name nee

[2015-03-09 17:38] bprashanth opened #5188 "Validate ips of a node"
Since we append hostips to the list on every node controller run invocation which happens at 10s intervals, this list grows pretty large pretty soon: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L111

Maybe:
[code]

would still satisfy the requirements?
@ddysher

[2015-03-09 18:16] yujuhong commented on #4920
This is fixed by #5103

[2015-03-09 18:16] #4920 closed

[2015-03-09 18:17] yujuhong commented on #1728
This is fixed by #5073

[2015-03-09 18:27] bgrant0607 commented on #5183
@smarterclayton Could you please explain the cause of the failure in more detail? Do we not normalize the timezone in the representation used in the API?

[2015-03-09 18:31] smarterclayton commented on #5183
When we serialize to JSON we are using a value that has a timezone embedded in it (time.Time).  As a result the representation changed.  We should normalize it as well during serialization, but in general creationTimestamp should not prevent an update since it can safely be ignored.

[2015-03-09 18:38] #3628 closed

[2015-03-09 18:40] ixdy commented on #4961
This is still leaking target pools on Jenkins occasionally.

[2015-03-09 18:45] bprashanth opened #5190 "Replicate cluster health and configuration outside etcd"
Since we store both pod data (rc, services, events etcd) and node ip/hostnames in the same etcd instance, sysadmins might go blind because of too many user pods. I feel like hand reviving a cluster should never be necessary, but it's a safety net that people would like to have. Hand revivial might look something like:
- Log into the master and try to bring etcd back up manually
- If etcd is comple

[2015-03-09 18:46] smarterclayton commented on #170
----- Original Message -----

Ugh, hadn't thought about that.  Yuck :)

[2015-03-09 18:47] ddysher commented on #5188
Fix is here #5116

I think we generally use list instead of map

[2015-03-09 18:47] vmarmol commented on #4896
This flag already exists on the Kubelet: `--pod_infra_container_image`. You can set this flag on the Kubelet to the private registry and that image will be used instead.

Closing this, feel free to open another issue if you run into any troubles with this :)

[2015-03-09 18:47] #4896 closed

[2015-03-09 18:51] jlowdermilk commented on #4961
#5045 should help make cleanup consistent in the event of test failures.

[2015-03-09 18:55] lavalamp commented on #5086
I think the title on this bug is inaccurate. Downgrading priority. @bprashanth can you put a TL;DR here and/or change the title?

[2015-03-09 18:59] piosz commented on #5045
As I wrote in the email the plan is:
1. Fix problem w guestbook example (#5091).
2. Make guestbook.sh test becomes actual test (#3693).
3. Port it do ginkgo.

Should be done this week, but it depends on how fast 1. can be done.

[2015-03-09 19:00] erictune opened #5191 "CoreOS instructions for GCE don't say how to connect to master"
Tried out
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md
with GCE.
It doesn't say how you should connect to your master with kubectl.

For AWS, it appears that one would run kubectl on one's desktop and it would be able to communicate  to the master over the VPC because of the VPC rules.  There is no equivalent instructi

[2015-03-09 19:02] lavalamp commented on #5188
This could have been P1, but I just merged a fix so I'll leave at P2.

Remaining work to do:
* Add to validation something that limits the number of IP addresses. (and maybe checks dups?)

[2015-03-09 19:03] lavalamp commented on #5086
Is this redundant with #4973?

[2015-03-09 19:05] abhgupta commented on #4971
@smarterclayton any thoughts on my comments above?

[2015-03-09 19:10] bprashanth commented on #3853
I debugged the memory problem when I had some free time, because it was annoying to have my cluster going down every few days. Somes notes:
- etcd OOM: fwiw I filed https://github.com/coreos/etcd/issues/2465
- etcd fails to restart: It seems to need roughly 20-30% overhead in restoring/taking a snapshot ([json overhead] (https://github.com/goraft/raft/blob/73f9c4439b79819178fffa968f13729b101bb02d/

[2015-03-09 19:15] bprashanth commented on #5086
yes I think we can just dupe validation bugs to https://github.com/GoogleCloudPlatform/kubernetes/issues/4973 so I'm closing this one

[2015-03-09 19:15] #5086 closed

[2015-03-09 19:24] bgrant0607 commented on #4971
@abhgupta Specifying a single label to use for spreading is not the right way to think about it. It needs to be a label selector.

That said, I'd like to make services useful even for scenarios where our naming, VIPs, and load balancing  aren't needed -- see #1607.

[2015-03-09 19:28] smarterclayton commented on #4971
For #1607 if the replication controller added a unique label to the pod (and maybe parameterized it via a downward API) that would achieve both spreading and role assignment.

[2015-03-09 19:29] smarterclayton commented on #4971
I think headless services are strictly better than not having headless services and letting RC's carry the load.  There's a "thing" there, and it's a service, it's just not a "port forwarding" service.

[2015-03-09 19:29] #3937 closed

[2015-03-09 19:33] jlowdermilk commented on #2146
Picking this up to use [proposed pattern](https://github.com/GoogleCloudPlatform/kubernetes/pull/5016#discussion_r25817768) for error handling as followup from #5016.

[2015-03-09 19:48] smarterclayton commented on #260
RC that applied a unique label (members=#) to each pod it creates, and tries to create a sequence up to N replicas, and then a headless service that created an A and CNAME name for each value of "member" label (#.service.namespace.local), where the root served all of those service.namespace.local -> round robin -> 1.service.namespace.local, 2.service.namespace.local seems local.

We *could* use st

[2015-03-09 19:52] piosz commented on #4961
#5177 fixed it.

[2015-03-09 19:58] ncdc commented on #5046
The problem with `docker exec` is that all input and output is proxied through the Docker daemon. There is more discussion about it in #3763, such as https://github.com/GoogleCloudPlatform/kubernetes/pull/3763#issuecomment-73633990.

I should also mention that using tooling such as `nsenter` and `socat` potentially can be abstracted to support multiple methods, so if `nsenter` isn't available, `do

[2015-03-09 20:03] abhgupta commented on #4971
@bgrant0607 Aah, wasn't careful enough in my comment above - I did mean a LabelSelector on the pod for idenfying the peer pods.

[2015-03-09 20:05] smarterclayton commented on #5046
Ultimately proxying through the daemon is not a scalable solution.  I agree with @ncdc that we should support exec as a target mode, but it's not something we'd advocate at scale.  My preference is that we investigate the equivalent of nsinit but upstreamed with docker for exactly these sorts of scenarios.

[2015-03-09 20:12] dchen1107 commented on #5046
With latest containervm image for gce, socat is included and proper symlink to nsenter is created.

Close the issue.

[2015-03-09 20:12] #5046 closed

[2015-03-09 20:17] bgrant0607 commented on #2839
Another take on audiences, in order of decreasing population size:
* Casual browser who wants to know what Kubernetes is and what it's good for
* People kicking the tires, including turning up a cluster, but also running an example
* End users trying to run their own workloads
  * app developers
  * app ops
* Cluster admins: cluster turn up, upgrades, troubleshooting, etc.
* Someone porting Kubern

[2015-03-09 20:18] bgrant0607 commented on #2839
See also #2633 and other doc. issues (reorgs of getting-started guides, etc.).

[2015-03-09 20:25] bgrant0607 commented on #5183
I think we should allow creationTimestamp to be empty and also convert time to UTC() before marshaling.

[2015-03-09 20:27] abhgupta commented on #4971
I would myself prefer a service that did not do proxying to solve this use case. While both options (label selector on pod vs non-proxying service) are explicitly specified by a user, decoupling it from the pod does sound more patalable.

@bgrant0607 @smarterclayton Is a non-proxying service your preferred option as well? If so, what needs to be done to get things moving for this? #1607 hasn't see

[2015-03-09 20:35] bgrant0607 commented on #5183
More specifically:

We'd also want to change:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/util/time.go#L92
to
[code]
and
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/util/time.go#L81
to
[code]

[2015-03-09 20:38] smarterclayton commented on #4971
Tim mentioned in an issue he's looking into it.

----- Original Message -----

[2015-03-09 20:42] abhgupta commented on #4971
@thockin Refer @smarterclayton 's comments above. Could you point me to any ongoing work on this (issue/PR) that I could follow?

[2015-03-09 20:56] abhgupta commented on #4303
Closing this issue since the implementation PR #4674 has been merged.

[2015-03-09 20:56] #4303 closed

[2015-03-09 21:18] ddysher commented on #5188
Yeah, I'll add validation later.

[2015-03-09 21:20] derekwaynecarr commented on #5172
Updates to design are here: https://github.com/GoogleCloudPlatform/kubernetes/pull/5195

[2015-03-09 21:20] bgrant0607 commented on #5190
FYI, it's possible to use etcdctl to list all the nodes in the registry.

[2015-03-09 21:23] bgrant0607 commented on #5178
Similar issue as #4343 -- both should be handled together. Need to convert stop to use the standard builder pattern.

[2015-03-09 21:24] bprashanth commented on #5190
I'm confused by the suggestion, I need to know the healthy minions when etcd is dead but the apiserver is up.

[2015-03-09 21:33] bgrant0607 commented on #4852
Why is this attached to 1.0 if it's P3? One of those is wrong.

[2015-03-09 21:41] bgrant0607 commented on #4825
I agree hostname should be stable. It just shouldn't be tied to the object's identity, since we know we'll want to be able to reuse the same hostname across objects in the future.

[2015-03-09 21:42] smarterclayton commented on #5183
Makes sense to me - clients should always control their timezone and with distributed masters you might see different values.

----- Original Message -----

[2015-03-09 21:42] smarterclayton commented on #5183
I'll own the follow up on this.

----- Original Message -----

[2015-03-09 21:45] bgrant0607 commented on #4825
Proposal: set hostname to hash of uid (and name, creationTimestamp, whatever), and record it in a pod spec field. It should not be updatable.

[2015-03-09 21:56] brendandburns opened #5202 "Heapster is sending the wrong field selector."
[code]

@nikhiljindal

[2015-03-09 21:59] bgrant0607 commented on #4095
@nikhiljindal Could you please see if you can reproduce this issue?

[2015-03-09 22:03] nikhiljindal commented on #5202
We now require users to specify versioned fields in field selectors.
There is no Status field in v1beta1 pods struct (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/types.go#L510).

`GET /api/v1beta1/pods?fields=Status.Host%21%3D&namespace=:` needs to be changed to
`GET /api/v1beta1/pods?fields=DesiredState.Host%21%3D&namespace=:`

[2015-03-09 22:06] brendandburns opened #5203 "Set different client agents for all components and log client agent."
To help differentiate between requests from different pieces of the system.

[2015-03-09 22:07] brendandburns commented on #5202
ok, well then we need to update the Scheduler.  I'm 99% certain that's where it is coming from.

[2015-03-09 22:11] nikhiljindal commented on #5202
I did update the scheduler (https://github.com/GoogleCloudPlatform/kubernetes/pull/4575/) to make e2e tests pass.
Let me have another look.

Can you please provide steps to repro?

[2015-03-09 22:17] nikhiljindal opened #5206 "Be consistent with the case for field selectors"
We use capitals for Pod fields (ex: Status.Host) and camelCase for Event fields (ex: involvedObject.resourceVersion).

We should be consistent.
Should it be capitals? camelCase? Or should we be case insensitive?

@lavalamp @bgrant0607

[2015-03-09 22:21] fgrzadkowski commented on #4932
I'll look into this.

@bgrant0607 AFAIU we want to return meaningful error if user specifies pod with no containers. Is my understanding correct?

[2015-03-09 22:24] nikhiljindal opened #5207 "Field selector for finding unscheduled pods: "DesiredState.Host=" or "CurrentState.Host="?"
Whats the correct field selector for finding unscheduled pods?
We support "DesiredState.Host=" currently, but if I understand correctly, it should be "CurrentState.Host=".

@lavalamp ?

[2015-03-09 22:35] bprashanth commented on #4691
This should be fixed

[2015-03-09 22:35] #4691 closed

[2015-03-09 22:44] lavalamp commented on #5207
@bgrant0607 has a strong opinion, IIRC, the scheduler should look at & set only desired state. probably not worth changing this for v1beta1/2 apis.

[2015-03-09 22:44] ixdy commented on #4881
pkg/api is another - it takes 6s+ without coverage enabled, and significantly more time with coverage enabled.

[2015-03-09 22:46] smarterclayton commented on #4881
We can turn the fuzzing iterations down again, although I wouldn't want to go below 10 iterations.

[2015-03-09 22:48] ixdy commented on #4881
On Travis/Shippable (where we have coverage enabled) pkg/api regularly takes 30-40s, and sometimes times out at 60s. We can increase the timeout, or we can figure out how to make this test run more quickly.

[2015-03-09 22:48] thockin commented on #4881
Fast tests that don't test well are not so useful.  I am all for fast tests
but that alone is not a goal.
On Mar 9, 2015 6:47 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-03-09 22:52] zmerlynn opened #5209 "Rate limit "found a container with the "k8s" prefix, but too few fields" spam in kubelet logs"
This is super spammy and distracting, on the order of about a screen of text a minute:

[code]

[2015-03-09 22:56] sdminonne commented on #3338
@smarterclayton @lavalamp landing here from https://github.com/openshift/origin/issues/1243
Our issue is with kubectl: basically reported errors are not human readable. Not sure if we need to replace the whole json marshalling... We may just need to validate json and schema before unmarshalling eventually only for CLI.  Eventually returning line number in case of missing comma or similar.

[2015-03-09 23:22] #5040 closed

[2015-03-09 23:31] bgrant0607 commented on #3338
@sdminonne Have you tried the swagger validation in kubectl (--validate)? Does it suffer from this problem?

cc @nikhiljindal

[2015-03-09 23:34] smarterclayton commented on #4881
The nice thing about fuzzing is we do it across both builds, and usually multiple times per pull.  So it's a low risk to drop.

[2015-03-09 23:35] smarterclayton commented on #4881
Also, improving conversion performance would help this test and overall cpu use (it dominates most workloads we've profiled).  Some targeting optimization is warranted and would pay big dividends.

[2015-03-09 23:35] bgrant0607 commented on #5207
It should be PodSpec in v1beta3, but we need to actually set that field when we bind the pod. Fixing it for v1beta3 should fix it for v1beta1/2.

[2015-03-09 23:38] lavalamp commented on #5207
(Yes--my "set" referred to writing a binding, of course.)

[2015-03-09 23:40] lavalamp commented on #5206
IMO, we should use camelCase for pod fields, to match the way it's serialized in JSON.

[2015-03-09 23:41] #5000 closed

[2015-03-09 23:47] sdminonne commented on #3338
@bgrant0607  I was not aware of. I'll do a test tomorrow. Thanks

[2015-03-09 23:53] bgrant0607 commented on #5207
More complete list of steps:
* Write PodSpec.Host when binding
* Run fit predicates wherever PodSpec.Host can be set: create, update, binding
* Kubelet watches PodSpec.Host (rather than boundPods)
* Scheduler watches PodSpec.Host

[2015-03-09 23:59] brendandburns commented on #5202
Ok, I dug down deeper.  These errors are surfacing from Heapster, which is old and now doing the wrong thing.

@vishh we need to fix this.

Also, why is the monitoring e2e test still passing?

[2015-03-10 00:00] brendandburns opened #5212 "Monitoring.sh appears to not test everything..."
Due to changes in field selectors (see https://github.com/GoogleCloudPlatform/kubernetes/issues/5202) heapster was almost certainly busted, but monitoring.sh continues to pass.

This seems incorrect.

[2015-03-10 00:01] bgrant0607 commented on #5206
I agree with @lavalamp. The goal here is to be consistent with the API, not with the internal Go representation.

[2015-03-10 00:02] bgrant0607 commented on #5206
I'd like to fix this before v1beta3 is cast in stone.

[2015-03-10 00:03] brendandburns commented on #5203
We appear to actually mostly set client user agent correctly.  #5214 adds logging, I will double-check that we set it correctly in all binaries and then close this.

[2015-03-10 00:08] bgrant0607 commented on #4932
@fgrzadkowski Correct.

We should do it in validateContainers:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L533

[2015-03-10 00:16] vishh commented on #5202
Ack. I will fix this and make a new release soon. I will probe into the e2e test behavior as well.

[2015-03-10 00:17] bgrant0607 commented on #5190
That's even easier: apiserver should be caching all the state in memory, always.

[2015-03-10 00:20] bprashanth commented on #5190
That would work if the apiserver directly pinged the kubelets as a fallback if etcd goes down, since I want realtime node health

[2015-03-10 00:24] nikhiljindal commented on #5207
There are 2 things:
The field that we check internally and the field selector specified by the user.
Right now, the field that we check internally is pod.Status.Host.
The field selector specified by the user is "DesiredState.Host" in v1beta1,2 and Status.Host in v1beta3.

Based on the replies here, it seems that we want the scheduler to look at the spec and not the status.
Hence, the scheduler sho

[2015-03-10 00:27] bgrant0607 commented on #5207
Yes, but the other steps I mentioned are prerequisites for this change.

[2015-03-10 00:27] nikhiljindal commented on #5206
ok. Event field selectors are correct then.
I will update the selectors for pods to make them camelCase.

[2015-03-10 00:29] bprashanth commented on #5190
I take that back, it would work if the kubelets periodically sent their health and the apiserver had a write through cache. so I guess this will just fix itself when that happens.

[2015-03-10 00:29] bgrant0607 commented on #5190
The plan is for kubelets to post back to apiserver, so apiserver would need to accept status posts in the event that etcd was down. I'm not sure that's a good idea.

Why not focus on getting etcd back up?

[2015-03-10 00:30] nikhiljindal commented on #5202
FYI, there might be a few more changes coming to field selectors: https://github.com/GoogleCloudPlatform/kubernetes/issues/5206 and https://github.com/GoogleCloudPlatform/kubernetes/issues/5207

[2015-03-10 00:33] bprashanth commented on #5190
concurrency!

In the current state of things, etcd gets into a crash loop where it's sometimes not possible to recover it fast enough (i.e it needs say 1G memory for state, + 20% memory to decompress a snapshot, but the machine has only 1G so it keeps crashing after the first OOM). I also don't expect sysadmins to understand the inner workings of etcd, i.e, they'd probably try `sudo /etc/init.d/et

[2015-03-10 00:35] bprashanth commented on #5190
also in a world where etcd might not run on the master I need to know where etcd is somehow to try and recover it, ideally that would be stored in some cluster configuration not in etcd.

[2015-03-10 00:45] nikhiljindal commented on #5206
I am wondering if I should change this only for v1beta3 or for 1 and 2 as well?
This will be a breaking change for beta1 and 2 if we decide to do that.

[2015-03-10 00:46] erictune commented on #4330
What was the resolution on this issue, if any?

FWIW, I definitely endorse the Store with reprocessing approach.  The requeue seems subject to subtle errors.

[2015-03-10 00:55] ghodss commented on #4889
This is the crux of the whole matter. Merge vs. replace should not be determined by the data type of the collection, it should be determined by the nature of the field or the PATCH action itself. The [Selector example above](https://github.com/GoogleCloudPlatform/kubernetes/issues/4889#issuecomment-76633699) is a good example of when a merging behavior conflicts with the natural data type.

I was

[2015-03-10 01:10] nikhiljindal commented on #5207
ok. Thanks for the explanation.
@bgrant0607 : Can you assign this an appropriate priority?

[2015-03-10 01:34] bgrant0607 commented on #5207
This is confusing enough, an important enough API (e.g., for integration with Mesos and YARN), and closely enough related to other goals (v1beta3, elimination of bound pods, elimination of pod cache) that I think it's P1.

[2015-03-10 01:55] bgrant0607 commented on #4330
Presumably should be addressed in @lavalamp's controller framework.

All controllers and async. initializers, including schedulers, must be level-based. Edge-based approaches, such as watch/queuing, must be reducible to performance optimizations -- effectively notification of what state has changed and when to re-check level-based reconciliation of desired state and current state.

I agree that th

[2015-03-10 01:59] bgrant0607 commented on #5206
v1beta3 only, though that's hard, we should reconsider. We're contemplating another "breakage day", and I doubt this is widely used.

[2015-03-10 02:07] smarterclayton commented on #4330
Necessary support is in the core objects. Here's the Openshift side code:
https://github.com/openshift/origin/blob/master/pkg/controller/controller.go

And an example: https://github.com/openshift/origin/blob/master/pkg/deploy/controller/deploymentconfig/controller.go

Controller is suitable for reuse.  Scheduler is protected by the fact it periodically reprocesses every pod.

[2015-03-10 02:11] bprashanth opened #5222 "e2e.go should tear down forwarding rules and target-pools"
[code]

Leads to confusing failures on subsequent runs, because things like guestbook.sh try to setup external load balancers.

[2015-03-10 02:14] vishh commented on #5202
Thanks for the pointers @nikhiljindal. This issue has been fixed on heapster. Tested with a cluster build from HEAD and I don't see the stack traces on api server.

[2015-03-10 02:14] #5202 closed

[2015-03-10 02:14] bprashanth commented on #5222
My report is confusing because elasticsearch and kibana are ok. I'd already removed the other forwarding rules by hand; I've seen e2e leak both rules and pools making it hard to debug failures in guestbook.sh though.

[2015-03-10 02:32] bprashanth commented on #5222
nvm, looks like this was fixed https://github.com/GoogleCloudPlatform/kubernetes/pull/5196

[2015-03-10 02:32] #5222 closed

[2015-03-10 02:32] justinsb opened #5224 "AWS ELB uses DNS names, can't return an IP from CreateTCPLoadBalancer"
AWS ELB produces an external endpoint which is not an IP address, but is instead a DNS name (e.g. myLB-1234567890.us-east-1.elb.amazonaws.com); more info here http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/using-domain-names-with-elb.html

This is because (under the covers) ELB assigns multiple IP addresses, and it changes the IP addresses dynamically (e.g. in response to lo

[2015-03-10 02:52] jonlangemak commented on #4785
For sure - Lets try and sort this out before I rebase.  To be clear, I noticed this issue when I was troubleshooting an issue with Heapster with one of the Heapster developers.  It had no impact on the cluster before I tried to implement the most recent Heapster code.

1 - Can you specify which logs in specific you want?  You want like the journalctl entries for each service from each host both mi

[2015-03-10 03:35] thockin commented on #5108
I think this is something we should fix for 1.0 - without it, people can not customize their nodes fully (e.g. power strip).

[2015-03-10 04:16] bprashanth commented on #4785
Thanks, that eliminates several possibilities.

1. The logs should be under /var/log/kube-controller-manager.log (and kube-apiserver, kubelet, kube-scheduler), or depending on how you bootstrapped your local cluster, they might be on tmpfs.

Yep, can you apply the logging statements and give me your logs as it's happening? The node cache is literally just an in memory cache of the status of a node

[2015-03-10 04:46] nikhiljindal commented on #5168
Dup of https://github.com/GoogleCloudPlatform/kubernetes/issues/5202

[2015-03-10 04:46] #5168 closed

[2015-03-10 05:09] thockin commented on #4852
@rsokolowski

[2015-03-10 05:14] thockin commented on #5181
Rafal just fixed something like this - @rsokolowski , did you cut a new kube2sky?

I just realized you said skydns.  Is it skydns that dies or kube2sky?

@bketelsen

[2015-03-10 05:22] bgrant0607 commented on #4852
Health checks I can believe. We're in the process of doing that for everything else -- @dchen1107.

Nothing else is HA, so I don't buy N=2 for DNS but not for other components.

[2015-03-10 05:38] thockin commented on #4852
Other components are somewhat harder to make HA.  DNS is trivially
HA-able.  But not too important, it's available after the fact, too.

On Mon, Mar 9, 2015 at 10:23 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-10 06:03] rashmimargani commented on #4926
Hi,

I'm GSOC  2015 applicant,  I like to contribute this community.. previously i have been assigned on docker container  live migration with vmware project in institution............ but, i never went through code  base, i and my team spent lot time in understanding constraints in docker. Anyone please suggest me with few things, so that i can trace the code fast enough.... and understand whole

[2015-03-10 06:22] scuxiayiqian commented on #4464
I got the same fail message "requested an external service, but no cloud provider supplied" when I try to create the front end service. And I really expect to see an example that will not require external load balancer too.

[2015-03-10 06:33] bgrant0607 commented on #4259
Started a wiki: https://github.com/GoogleCloudPlatform/kubernetes/wiki/Google-Summer-of-Code-(GSoC)

[2015-03-10 06:42] bprashanth commented on #4464
It should still work, you just don't have the load balancer. You should be able to `./cluster/kubectl.sh get pods` and curl the IP of one of your frontend pods (wait till they go from `Pending` to `Running`) to see the guestbook html; `kubectl.sh get rc` and `kubectl.sh get servcies` should work too. I believe there's language in the README regarding the GCE loadbalancer: https://github.com/Google

[2015-03-10 07:17] bgrant0607 commented on #4926
Thanks for the pointer @xudifsd.

I created a wiki re. participation: https://github.com/GoogleCloudPlatform/kubernetes/wiki/Google-Summer-of-Code-(GSoC)

GSoC project ideas are labeled kind/gsoc:
https://github.com/GoogleCloudPlatform/kubernetes/labels/kind%2Fgsoc

"Starter project" ideas are labeled help-wanted (note that not all are necessarily small/easy):
https://github.com/GoogleCloudPlatfor

[2015-03-10 07:19] bgrant0607 commented on #4259
Galaxy listed Kubernetes integration as a project: https://wiki.galaxyproject.org/Develop/GSOC/2015Ideas

[2015-03-10 07:38] gmarek commented on #5209
Yeah. I find that annoying as well. I believe that in the docker.go:722 there should be 5 instead of 6, judging from the comment. I'm sending a PR.

[2015-03-10 07:54] bgrant0607 commented on #246
I created a wiki re. participation: https://github.com/GoogleCloudPlatform/kubernetes/wiki/Google-Summer-of-Code-(GSoC)

GSoC project ideas are labeled kind/gsoc:
https://github.com/GoogleCloudPlatform/kubernetes/labels/kind%2Fgsoc

"Starter project" ideas are labeled help-wanted (note that not all are necessarily small/easy):
https://github.com/GoogleCloudPlatform/kubernetes/labels/status%2Fhelp-

[2015-03-10 08:18] scuxiayiqian commented on #4464
@bprashanth , I ran the ``curl <pod IP>`` on my slave host, it returned me the guestbook html. I am also able to get ``kubectl get pods``, ``kubectl get rc`` and ``kubectl get services`` work, following the [Guestbook guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md). Thank you very much!

[2015-03-10 10:08] liggitt commented on #5183
+1 for UTC serialization

[2015-03-10 12:18] piosz commented on #5181
The was a problem with SkyDNS. I was looking together with @rsokolowski and it seemed to be similar to the one with kube2sky that he fixed.

However as for now I can't reproduce the problem and everything looks good (I started skydns pod 100 times). So leaving this issue open for some time in case someone would have the same problem.

[2015-03-10 12:28] kbeecher commented on #3476
@erictune When you suggesting adding flags in the comment above, could you tell me whereabouts in the code you meant?

[2015-03-10 12:36] piosz commented on #4343
I think it was fixed in #4492

[2015-03-10 13:05] jszczepkowski commented on #5207
I'll work on it.

[2015-03-10 13:42] jonlangemak commented on #4785
Ah ok - It looks like I need to figure out why Im not getting log files.  I built the cluster by scratch but Im trying to move towards using salt.  My service files dont specify a log_dir but I cant find the log file for any of the services.  I set the logging directory to /var/log and the service starts but it's still not generating a log file.  Here's an example of the api-server service file th

[2015-03-10 14:23] thockin commented on #260
@timothysc re: reverse DNS - what is it reverse DNSing?  The source-IP of
connections?  None of that works in kube.  Connections through services are
proxied, so source-ip doesn't work in the first place (could be fixed).

I don't know ZK - can you explain what they are trying to get by reverse
DNS?  It seems like a very fragile assumption.

On Mon, Mar 9, 2015 at 9:05 AM, Timothy St. Clair <notif

[2015-03-10 14:29] tkulczynski opened #5241 "Proposal: use constant number of GCE TargetPools per cluster"
Currently, there's a Target Pool created per service, but they only potentially differ in affinity type and there's few options available for it. Instead there could be a Target Pool per affinity type created at cluster creation and the right one chosen and reused for each of the services.

I believe this is both easier and more efficient (currently there's O(cluster size) redundant work being don

[2015-03-10 14:30] pires commented on #3476
@kbeecher `cmd/kube-apiserver/apiserver.go`?

[2015-03-10 14:35] ssergiienko opened #5243 "Kubelet: More robust determination of hostname"
Kubelet service can't correctly determine hostname and fail to start.

Example (Clean CentOS 7)

Trace:
[code]

But:
[code]

If we additionally set hostname by hand in /etc/hosts with something like this:
[code]
...then all works.

Expected that /etc/hostname (and/or hostnamectl) should be sufficient.

[2015-03-10 14:41] eparis commented on #5243
I thought kubernetes used hostname -f.  What does that return?

[2015-03-10 14:44] pythonpowerd commented on #5243
May be you are right )
[code]

[2015-03-10 14:54] pythonpowerd commented on #5243
But hostname was set with default CentOS 7 graphical installer, isn't this enough for kubernetes?) If not, then maybe a little more sophisticated algorithm to determine hostname would be appropriate?

[2015-03-10 14:59] smarterclayton commented on #260
I think my experience (and maybe Tim's) is that the majority of clustered software today expects the following:

* each node has a stable identity
* that identity is a DNS name
* the IP of the underlying identity does not have to be stable
* the node expects to identify itself to other nodes either by its stable identity (DNS) or its public IP
* some of the clustered software expects the IP of the

[2015-03-10 15:01] liggitt commented on #4957
Sorry for the delay... sorting out my thoughts here piecemill before I get distracted.

First, there seems to be two main divisions of secrets:

1. Secrets that will apply to the pod, but not be readable by the containers running in the pod. The pod doesn't need to know anything about the content/manifestation of these secrets. Examples:
  * .dockercfg with credentials used by the node to `docker

[2015-03-10 15:04] gmarek commented on #4910
I'm looking for the next thing to work on. Do you think this one is OK? I haven't looked at the resources closely yet, but IIUC they are defined in types.go as ResourceList, with ResourceName being defined there as well and having the quantity. So the whole generic machinery is there, what's needed is to defined 'ip_addresses' (or sth) resource name and plug it to all interested parties (Node and

[2015-03-10 15:06] smarterclayton commented on #4957
Subtype of 2 - Secrets that can be generically injected into /run/secrets for the container to use (i.e., pod doesn't need to know how the secrets manifest)

----- Original Message -----

[2015-03-10 15:07] kbeecher commented on #3476
@pires Yes, that's what I'm assuming... looks like the flags are in `cmd/kube-apiserver/app/server.go`

[2015-03-10 15:15] erictune opened #5247 "Not all clusters support the same security model"
There are two cluster security models in use today in getting started guides
  1. Auth-based:
    - nginx proxy is exposed to the internet.
    - nginx proxy does basic auth of users.
    - kube-apiserver does authentication and authorization of users
    - kubelets/kube-proxy use tokens to auth to apiserver
    - the salt-based distros use this model
  1. Network-based:
    - if you can reach the

[2015-03-10 15:19] erictune commented on #5095
The reporter made it sound like it was a per-interface setting.

[2015-03-10 15:28] #5043 closed

[2015-03-10 15:33] thockin commented on #260
On Mon, Mar 9, 2015 at 12:49 PM, Clayton Coleman
<notifications@github.com> wrote:

The idea that Brendan and I were bouncing around was basically a pool
of tokens, perhaps part of RC, perhaps not, that each element of an RC
would get assigned.  Given that token, other things could be assigned
- VIPs, PDs, generic indices, etc.  What's nice is that when a pod
dies, the token is returned to the poo

[2015-03-10 15:33] erictune commented on #4334
All the salt-based providers are converted.
PRs are sent out for all remaining providers which have their flags in our repo.
I will not endeavor to fix distros which keep their flags elsewhere (e.g in an rpm).
This includes JuJu (@whitmo), Fedora (@eparis),  Centos (@coolsvap).

[2015-03-10 15:33] #4334 closed

[2015-03-10 15:37] erictune commented on #3566
This work is done.  See #4334 for summary.

[2015-03-10 15:37] #3566 closed

[2015-03-10 15:38] thockin commented on #260
Far be it from me to swim upstream - if enough apps really expect DNS to
work this way, we can make it work this way.

Sketch:

Creating a replication controller R creates a DNS name "$R.rc" which is the
pool of pod IPs that are "under" that RC.  Each pod P gets a DNS name
"$P.$R.rc".  BUt what is P?  It could be simple indices, but that has
bitten us hard internally.  It could be random strings l

[2015-03-10 15:38] jdef commented on #5207
xref https://github.com/mesosphere/kubernetes-mesos/issues/168

[2015-03-10 15:39] erictune commented on #2497
Looking at the code, it appears this is fixed.

[2015-03-10 15:39] #2497 closed

[2015-03-10 15:41] pythonpowerd commented on #5243
Found that problem was in CentOS installer that writes /etc/nsswitch.conf with:
[code]
expected:
[code]

So, to avoid such problems kubernetes should consider to use more sophisticated algorithm to determine hostname? What do you think about this?

[2015-03-10 15:42] erictune commented on #2445
This should be fixed eventually, but for now, I am accepting that some cloud providers may reasonably rely on a looser security model.  Closing this specific issue and tracking the overall issue of differences in security models in #5247

[2015-03-10 15:42] #2445 closed

[2015-03-10 15:43] erictune commented on #2443
This should be fixed eventually, but for now, I am accepting that some cloud providers may reasonably rely on a looser security model. Closing this specific issue and tracking the overall issue of differences in security models in #5247

[2015-03-10 15:43] #2443 closed

[2015-03-10 15:47] erictune commented on #2441
This is now fixed

[2015-03-10 15:47] #2441 closed

[2015-03-10 15:47] erictune commented on #2440
looks fixed

[2015-03-10 15:47] #2440 closed

[2015-03-10 15:52] smarterclayton commented on #260
I kind of like DNS being attached to nominal services rather than RC.

What was the pain point with simple indices internally?  P > 5000?

----- Original Message -----

[2015-03-10 15:54] erictune commented on #2439
For all platforms whose config lives in our repo, this is done or a PR is under review.

[2015-03-10 15:54] #2439 closed

[2015-03-10 15:56] erictune commented on #4334
Related PRs: #5245 #5249 #5215 #5221
Probably lots others I could not find easily.

[2015-03-10 15:57] sdodson opened #5250 "Nodes showing ready despite SSL errors"
A node shows as ready as long as /healthz returns a 200, however if I've done something like rebuild my certificate store and I haven't propagated the new CA to the node it cannot reach the API and should not be marked as ready.

I imagine /healthz should not return a 200 if a node is unable to reach the master.

[2015-03-10 16:12] bgrant0607 commented on #3476
@kbeecher Yes, cmd/kube-apiserver/app/server.go is the right place.

[2015-03-10 16:17] bgrant0607 commented on #4910
Yes, this is a fine thing to work on.

The node should report how many pods and/or addresses it could handle in NodeStatus.Capacity (#5030).

[2015-03-10 16:30] erictune commented on #3413
#5252 removes pkg/proxy/config/etcd.go

[2015-03-10 16:32] abonas commented on #4940
@nikhiljindal if that's the case, it's breaking backwards comp, and it worked couple of weeks ago...

[2015-03-10 16:32] bgrant0607 commented on #4343
Yep.

[2015-03-10 16:32] #4343 closed

[2015-03-10 16:35] #5206 closed

[2015-03-10 16:59] kbeecher commented on #3476
What would be the preferred approach to handling the addition of the prefix to the key?

Maybe the prefix becomes a property of the EtcdHelper and so the prefix (if specified) is prepended to the key within each create/delete/extract/set operation?

Or maybe the prefix should be stored by the registries, passed to them by the master during its init method, so it is already prepended to the keys be

[2015-03-10 17:04] timothysc commented on #5020
@rrati  - We should re-eval after: https://github.com/GoogleCloudPlatform/kubernetes/pull/5252 is in.

[2015-03-10 17:07] #4882 closed

[2015-03-10 17:12] bprashanth commented on #4785
Just pipe it :)
https://github.com/GoogleCloudPlatform/kubernetes/blob/a862c37b293fc1325667d728750d718a93aed4b8/cluster/saltbase/salt/kube-apiserver/initd#L52

How did you register your minions with the master?

[2015-03-10 17:16] #2111 closed

[2015-03-10 17:16] vmarmol commented on #5209
Re-purposing this bug and will change title, stay tuned...

[2015-03-10 17:29] #5112 closed

[2015-03-10 17:42] vmarmol commented on #5209
Spoke too soon I think :) We should rate limit this log. Sorry to close the PR @gmarek, we should change it to a rate-limit instead.

After #5103 the Kubelet has changed the naming convention of the containers. If there are any old containers this gets logged very often. The fix is to upgrade your containers. It is a bit hard to do with the GCE setup today, but work is in progress to improve that.

[2015-03-10 17:59] bgrant0607 commented on #4889
Thanks for the analysis, @ghodss, and for the jq/jsonpath examples.

FWIW, we're getting rid of port names. :-) I agree the port is really the key in that case.

How big is your custom patch implementation?

Thoughts on how to encode mergeability and the merge key in the swagger?

I do agree we should implement patch in the server, and we should support a "dry run" mode that just returns the patch

[2015-03-10 18:01] bgrant0607 commented on #3622
Ok, decision is lists: #4889.

Sorry for the delay.

[2015-03-10 18:06] piosz commented on #3622
Thanks for the info.

[2015-03-10 18:11] nikhiljindal commented on #4940
Apologies for that abonas.
We are still making changes to v1beta3 and it is possible that it might have been working a few weeks ago but is not allowed now.
It should get stable soon.

[2015-03-10 18:11] #4940 closed

[2015-03-10 18:38] #4578 closed

[2015-03-10 18:39] dchen1107 commented on #5250
cc/ @ddysher

[2015-03-10 18:44] dchen1107 commented on #5243
we could extend our logic eventually on how to determine hostname, but for now, you can try to use --hostname_override to if you don't want to update /etc/nsswitch.

[2015-03-10 18:48] mikedanese commented on #4889
If we do want to support custom patching server side, I'd still like to support standard patches. I'd want to inject the merge function depending on the MIME type. `"application/merge-patch+json"` should apply the patch per  RFC7386, `"application/json-patch+json"` should apply the patch per RFC6902, and maybe `"application/k8s-merge-patch+json"` can apply the custom merge patch required by kubect

[2015-03-10 18:55] pythonpowerd commented on #5243
Thanks anyway. We fixed our nsswitch, and now all works fine, but information about such kind of bugs caused by too simple algorithm of determining hostname may be helpful for future, and helps someone.
Close this issue if needed.

[2015-03-10 18:57] pmorie commented on #4954
@erictune @derekwaynecarr @liggitt Once #5122 goes in we can resolve this.  I suggest:

We change the `SecretVolumeSource` to:

[code]

[2015-03-10 18:59] #4777 closed

[2015-03-10 19:01] derekwaynecarr opened #5258 "GCE kube-up.sh reports error if missing python yaml"
I tried to spin up GCE kube environment using kube-up and got the following error:

[code]

The script would then hang on a subsequent command.

The verify-prereqs for kube-up should require yaml support for python and fail early.

To rectify, I had to do the following:

[code]

[2015-03-10 19:06] bgrant0607 commented on #4889
Using content type to differentiate is a good idea.

[2015-03-10 19:07] vmarmol commented on #5243
Thanks @pythonpowerd! Will keep around for tracking purposes.

[2015-03-10 19:12] piosz commented on #5091
@brendandburns what do you think about using kube-dns instead of host:port in guestbook example. Please notice that kube-dns is not yet reliable #5181

[2015-03-10 19:16] dchen1107 commented on #5011
cc/ @bgrant0607

[2015-03-10 19:18] bgrant0607 commented on #19
See also #5011.

[2015-03-10 19:19] bgrant0607 commented on #246
See also #5011.

Sorry, @vipulnayyar. Someone has started working on this one, so I'm going to remove it from the GSoC list.

[2015-03-10 19:22] timothysc commented on #473
Are there any known limitations with baby stepping here?  For example load-balancing the api-servers?

We're finding the api-server to be the bottleneck and can be cpu-bound even on steady state...

[2015-03-10 19:23] piosz commented on #5181
Successfully reproduced:
[code]

Can anyone confirm that kube-dns is working correctly (not just after start but generally)? Is it used by anything or as for now is it just running on kubernetes idly?

[2015-03-10 19:32] smarterclayton commented on #473
I have a set of changes for service ip allocation that would allow us to move that to a control loop.  I think we could try everything else there.

Do you guys have profiles yet?  My recent stuff was showing conversion and serialization dominating, but it's not at your workloads.