[2015-02-06 03:36] smarterclayton commented on #2726
One question is whether we intend to allow the actions to vary among a single resource type, which I assume we do not, so the /! endpoint is purely informational, and could be at a higher level.  However, people may assume /! Is available or not based on whether the named resource exists, and make assumptions (incorrectly) the wrong way. If it's a discovery endpoint that clients cache or query, it

[2015-02-06 04:05] bgrant0607 commented on #2726
Yeah, GCE (not that it's the best API model) also doesn't put methods into a collection. For example:
https://cloud.google.com/compute/docs/reference/latest/instances/attachDisk

I suppose I could live with that. We also have the swagger docs for the paths.

I'm fine with status, binding, and size. Clone is a noun as well as a verb, so that could slide. Stop perhaps could be `end`. Or we could gen

[2015-02-06 05:47] brendandburns commented on #4166
Re-opening this, because I reverted the relevant code in the replication controller with #4208

[2015-02-06 06:53] bgrant0607 commented on #1451
We should address #2457 when this is done.

[2015-02-06 06:57] Fandekasp commented on #2918
@thockin since I upgraded to 0.10, the manifests issue has been resolved, but all my pods are constantly showing status Unknown:

[code]

Could it be due to skydns still being wrongly setup ? The logs look good to me though: http://sprunge.us/jOKC

[2015-02-06 07:21] bgrant0607 commented on #148
I believe this to be done.

[2015-02-06 07:21] #148 closed

[2015-02-06 07:55] satnam6502 commented on #4188
Totally consistent observation based on my personal experience. I just
assumed we were shooting for some kind of Hesinberg Uncertainty Principle.

S

On Thu, Feb 5, 2015 at 2:11 PM, Tim Hockin <notifications@github.com> wrote:

[2015-02-06 08:53] jstrachan opened #4210 "add Description and validation properties to EnvVar in the REST API so that environment variables can have better tooling"
Environment variables  are one of the main configuration mechanisms in docker & kubernetes. It would be nice if we could export a little more metadata about the environment variables so that its easier for folks working across all kubernetes pods to be able to understand the configuration and for tools to be able to better visualise the configuration and allow editing in nicer forms with richer co

[2015-02-06 09:00] davidopp commented on #1625
+1 to a-robinson's suggestion

[2015-02-06 14:55] bgrant0607 commented on #148
For reference:

Name-based creation idempotence was done long ago, as described here: https://github.com/GoogleCloudPlatform/kubernetes/issues/148#issuecomment-58224130

Facilitating non-idempotent creation and providing user-friendly generated names (instead of just uids) was completed recently.

[2015-02-06 15:17] bgrant0607 commented on #4210
@jstrachan I understand why you'd want this, but we don't have a suitable object in the Kubernetes API on which to hang this information. Our objects are fully concrete. What you want is a parameterized template. This info more properly belongs here:
https://github.com/openshift/origin/blob/master/pkg/template/api/v1beta1/types.go

[2015-02-06 16:07] marvell opened #4212 "Support adding/removing containers from a pod"
[code]

kubernetes v0.10.0

[2015-02-06 16:41] thockin commented on #1625
To be clear: instrumenting the code and exporting the results are two
different problems.  Ideally instrumentation and data gathering can emit
results in different formats.  Not sure how much effort that is worth, but
we know how painful such a changeover was/is internally :)

On Fri, Feb 6, 2015 at 1:01 AM, David Oppenheimer <notifications@github.com>
wrote:

[2015-02-06 17:14] thockin commented on #4073
We should convert this doc into something we can actually check in to the codebase under docs/design - doesn't have to be long, but should explain and be actually current.

[2015-02-06 17:42] dchen1107 commented on #4212
Like output of " may not add or remove containers" indicates currently our validation doesn't allow change container number in an existing pod.

[2015-02-06 17:49] bgrant0607 commented on #4212
Changed the title. We plan to support this eventually, but do not support it at the moment.

[2015-02-06 17:50] jlowdermilk commented on #4100
This is now fixed. `kubectl config view` now takes `--output=json|yaml|template` (#4147). The inline python in cluster/gce/util.sh that triggered this pyyaml dependency was replaced with `kubectl config view --o template` (#4205)

[2015-02-06 17:50] #4100 closed

[2015-02-06 17:50] derekwaynecarr commented on #3864
Fixed in #3931

[2015-02-06 17:50] #3864 closed

[2015-02-06 17:53] jlowdermilk commented on #4111
Error is gone now, I believe fixed by #4205.

[2015-02-06 17:53] #4111 closed

[2015-02-06 17:55] bgrant0607 commented on #4212
BTW, I would normally recommend that you just create a new pod, but I see it contains your DB. So, you'd need durable local storage #598 that outlived the pod in order to do that.

You might consider splitting this into multiple pods.

[2015-02-06 18:10] cjcullen opened #4216 ""kubernetes" service is pointing to the wrong port."
Trying to hit the read-write kubernetes service from inside a cluster does not work.

[code]

tailing the kube-proxy logs shows:
[code]
And sure enough, kube-apiserver is not listening on the NIC on that port. 8080 is only for the localhost HTTP communications between master components (and nginx redirect after HTTPS termination).
[code]
The "kubernetes" master service needs to get created with Po

[2015-02-06 18:14] pires commented on #4216
+1

[2015-02-06 18:52] justinsb opened #4218 "kube-proxy sometimes incorrectly chooses a veth as the host interface"
This is on Ubuntu 14.04 (on AWS, though I think that doesn't matter).

Log output from kube-proxy (with -v2):

[code]

I am pretty sure it should be choosing eth0 or similar.  veth29028d0 is a particularly bad choice because it only has an IPv6 address which then breaks the iptables logic.

[2015-02-06 19:17] justinsb commented on #4218
Hmmm... not really sure how to fix this one.  Here is the output from a test program:

[code]

[code]

[2015-02-06 19:22] justinsb commented on #4218
Including addresses this time.... we could eliminate anything without an IPv4 address, but that still leaves an arbitrary choice between cbr0 and eth0:

[code]

[2015-02-06 19:23] saad-ali commented on #4073
Great point, will do.

[2015-02-06 19:37] erictune commented on #4216
This needs to be port 6443 the auth_port
On Feb 6, 2015 10:14 AM, "Paulo Pires" <notifications@github.com> wrote:

[2015-02-06 19:49] roberthbailey commented on #3130
This has become the roll-up bug. And, as you mentioned, there are a couple of loose ends to track down even after we have go version of each of the e2e tests.

Assigning this to you for now so that once the tests are migrated we verify that the appropriate clean up has been done.

[2015-02-06 19:51] justinsb commented on #4218
One last comment: this happens when we restart kube-proxy with pods/docker instances running.  (It doesn't happen in the more normal scenario when kube-proxy is started before any pods).

[2015-02-06 20:09] davidopp commented on #3954
At the 1.0 roadmap meeting the following requirement was decided for 1.0: "99% of scheduling decisions made in less than 1s on 100 node, 3000 pod clusters; linear time to number of pods and nodes"

[2015-02-06 20:19] rrati opened #4220 "Create the events test suite"
Create the ginkgo based events test suite and put the following test in it:

TestKubeletSendsEvent

[2015-02-06 20:20] a-robinson commented on #1625
I looked into actually using expvar for basics like request and error counters, and given the way our REST handler is structured to be agnostic to resource types, using statically created counters without additional fields doesn't really work.

For example, if we want to monitor the response and error counts returned on a per-resource basis, we could create a metric for each HTTP request method (g

[2015-02-06 20:22] rrati commented on #4220
Part of the ginko-ization of the e2e tests
https://github.com/GoogleCloudPlatform/kubernetes/issues/3837

[2015-02-06 20:29] #4189 closed

[2015-02-06 20:42] vmarmol commented on #1625
I'm with you @a-robinson, I like the Prometheus model and I like that we can use it for all the metrics we need. Only concern is any support we'd lose from third party tools. I didn't find too many that had support so maybe that's less of a worry. Anybody else know of more?

At least for the Kubernetes components the primary consumers would be cluster services which we can build support for this f

[2015-02-06 20:42] thockin commented on #175
I am closing this - I think it is unlikely to be something we really want to do.  HostPorts are dangerous enough - this is heading in the wrong direction, and I think we can achieve the goals without this limitation.

[2015-02-06 20:50] brendandburns commented on #3532
#3593 is merged.  Closing.

[2015-02-06 20:50] #3532 closed

[2015-02-06 20:54] brendandburns commented on #4180
We can't find your .dockercfg for some reason.  The kubelet looks in the following locations:

```${HOME}/.dockercfg```
```/.dockercfg```
```${PWD}/.dockercfg```

Since you said it is in ``/home/core/.dockercfg``` is your location, but the kubelet runs as the root user, so you either need to copy it to ```/``` or the root user's ```${HOME}```

[2015-02-06 20:54] #4180 closed

[2015-02-06 20:58] vishh commented on #1625
+1 for the Prometheus model. I looked into it as well and that seems like a
good fit for most of our use cases. It supports a push model in addition to
pull based which is useful.

+1 to everything @vmarmol mentioned. We can use Prometheus client library
for all the core components and build support for other HTTP based client
libraries for applications that run on kubernetes.

On Fri, Feb 6, 2015

[2015-02-06 21:06] heytrav commented on #4180
Sorry, I should have indicated that I was following [these instructions](https://coreos.com/docs/launching-containers/building/registry-authentication/).

[2015-02-06 21:08] bgrant0607 commented on #170
Continuing from https://github.com/GoogleCloudPlatform/kubernetes/issues/2726#issuecomment-73144617:

Using [Content-Location](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) is an interesting idea. Would we need an explicit `clone` resource, then? One could just POST with Content-Location pointed at an existing object. I guess if we want to be able to override any fields (which is tricky

[2015-02-06 21:13] bgrant0607 commented on #2726
Moved clone discussion back to #170.

Another round on the other paths:
[code]

One thing mentioned this morning is whether the status path should also contain the spec: I'd like the status path to use a different object type so that we could label the status field as readonly in the user-oriented type, so I'm thinking status would contain metadata and status, but not spec. I'd expect the componen

[2015-02-06 21:13] smarterclayton commented on #170
Yeah - I think that's interesting.  I like that better than needing a resource in the short term - at worst we come along later and create a resource.  Will have to think about how we apply abac to that.

[2015-02-06 21:15] smarterclayton commented on #2726
Agree - will look at implementation early next week.

[2015-02-06 21:19] bgrant0607 commented on #2726
Awesome, thanks.

[2015-02-06 21:24] thockin commented on #4101
I'm not sure we should generate events - I expect this to happen fairly frequently in a fully loaded cluster.  If every client of every service can cause events to be generated, that's a huge number of events.  It would be nice to detect services with endpoints that do not answer at all, but I am not sure how to do that safely and reliably.

I get the sentiment here, but I think eventing from each

[2015-02-06 21:49] bgrant0607 commented on #170
More concretely, I think this would work by allowing creation of inert objects using either a metadata or spec field, which would default to enabled (that is, normal, active objects). This bit would be flippable via the control subresource discussed in #2726. The object would have to set generateName. The replication controller would then create new pods by POSTing to /pods with Content-Location,

[2015-02-06 21:51] roberthbailey commented on #3567
Closing now that we've switched from TAP output to junit output for Jenkins.

[2015-02-06 21:51] #3567 closed

[2015-02-06 21:53] roberthbailey commented on #3490
@zmerlynn @satnam6502 @filbranden

Closing as obsolete.

[2015-02-06 21:53] #3490 closed

[2015-02-06 21:58] ddysher commented on #4188
Agree with @alex-mohr, #4169 clears node status only.  One possibility is that we hit transient network problem in between the calls that fails health check, so controller set node condition to not reachable, hence unknown pods.  I'll make this more robust anyway.  Other than that, it's hard to think of a reason that node status results in the flakiness.

[2015-02-06 22:03] ddysher commented on #4166
@bgrant0607 I'll comment on the other thread later.  Sorry I was out yesterday.  I'm a bit free this weekend and should be able to work on the problem for at least one day.

[2015-02-06 22:06] bgrant0607 commented on #4188
In the absence of node information, the pod status defaults to Unknown.

Maybe there's another source of this specific problem, but the pod cache is a source of continuous problems, partly because it's not just a cache, but is implementing or duplicating a significant chunk of system logic in a half-baked manner. My goal is to eliminate it -- see #2726. Short of that, we need to at least implement

[2015-02-06 22:07] smarterclayton commented on #170
----- Original Message -----

Let me think about the ABAC implications more.  The inert bit makes a lot of sense in general.

We should be setting the location header, but we don't necessarily have to do the redirect.  Most people end up returning the result body of the POST because they have the object handy (the round trip to the DB or store usually returns the right state), so it's just a defau

[2015-02-06 22:16] zmerlynn opened #4225 "hack/e2e.go --ctl broken by #4198"
#4198 broke the way Jenkins was logging the client/server version, which was:

[code]

2015/02/06 21:57:42 Error running 'kubectl version --match-server-version=false': exit status 1
I think you need another wrapper here.

[2015-02-06 22:19] bgrant0607 commented on #2306
Thanks for the writeup @smarterclayton. Will try to digest and reconcile with previous discussion in #1451.

I don't yet understand the division between pkg/conversion and pkg/runtime, which contain marshaling/unmarshaling, conversion, defaulting, some generic metadata accessors, some registry-like functionality (per-kind functionality, collections of kinds), support for extensions, and probably s

[2015-02-06 22:23] filbranden commented on #4225
Thanks for catching it, let me have a look.

[2015-02-06 22:30] davidopp commented on #4188
I can look into this. Repro info from Tim, who said he was running on a one-node cluster but has seen the problem with multi-node clusters also:

./cluster/kubectl.sh run-container hostnames --image=kubernetes/serve_hostname --replicas=1 --port=9376 --labels=app=hostnames
./cluster/kubectl.sh expose hostnames --port=80 --container-port=9376 --selector="app=hostnames"
./cluster/kubectl.sh resize --

[2015-02-06 22:39] brendandburns commented on #4180
Yeah, I guess this is a delta between vanilla docker on CoreOS and Kubernetes on CoreOS, we don't use the docker client, we talk the docker API directly to the docker daemon, so we don't use the same paths apparently.

That said, someone (@kelseyhightower ?) should probably update the CoreOS config to make /home/core/.dockercfg work with kubernetes on CoreOS...

[2015-02-06 22:56] dchen1107 commented on #3500
cc/ @jszczepkowski   @piosz

They are going to help with this issue. Thanks!

[2015-02-06 23:08] rsokolowski opened #4228 "Existing forwarding rule not updated on service creation"
Environment: GCE.
I've created a service with createExternalLoadBalancer set to true. This has automatically added forwarding rule for "port" specified in the service.
Later, I've destroyed the cluster using kube-down.sh (I guess). The forwarding rule was not removed (probably it would be nice to have it removed automatically).
Later, I've create new cluster and wanted to start the service again,

[2015-02-06 23:51] thockin commented on #4218
This issue has popped up in a few contexts and I am really stumped on it.
I don't really know how to crack this nut.  Maybe we can do the `hostname
-i` trick and try to do a DNS lookup of $(hostname) ?

On Fri, Feb 6, 2015 at 11:51 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-02-06 23:54] justinsb commented on #4218
It's not a perfect solution, but we could also just skip anything that doesn't have an IPv4 address, and anything that starts with "lo", "veth", "br" or "cbr".

We should also probably not early-exit from the loop, but instead collect all the candidates.  If there is more than one candidate, we should log them all and then make an arbitrary choice.

I can put together a strawman patch if that woul

[2015-02-06 23:59] thockin commented on #4218
I'm fine with collecting them all and logging the arbitrary choice.  I'm
less happy about a whitelist of prefixes (to which you also have to add
"docker" and "kbr").  Do you see problems with doing a DNS lookup of your
own hostname?  I *think* that should be a reasonable foundation to depend
on.

On Fri, Feb 6, 2015 at 3:54 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-02-07 00:17] thockin commented on #4216
The code says 8443, but then a flag changes to 6443.  Will fix.

On Fri, Feb 6, 2015 at 11:38 AM, Eric Tune <notifications@github.com> wrote:

[2015-02-07 00:19] justinsb commented on #4218
Would `hostname -i` just mean that kube-proxy takes a command-line argument to get this IP?  That seems reasonable to me.

[2015-02-07 00:23] thockin commented on #4216
Holy macaroni this is a mess.

On Fri, Feb 6, 2015 at 4:17 PM, Tim Hockin <thockin@google.com> wrote:

[2015-02-07 00:39] rsokolowski opened #4231 "Idea: don't show cluster internal resources by default"
There are quite few cluster internal resources (pods, services) that are not very interesting from kubctl user point of view. I think it would be good to not list them by default while using kubectl get command and add an optional flag that would also list them.
An alternative is to use namespaces for user resources and limit the scope of get command with --namespace flag.

[2015-02-07 00:40] justinsb commented on #4218
On second thoughts, I have read more about why we actually need hostIP.  It is only used in iptablesHostPortalArgs, and only as a workaround for some weirdness around listening on 0.0.0.0 vs DNAT.  Based on that comment, it sounds like any IPv4 that isn't loopback would be fine.

So I think a good patch for now might be: filter out IPv6 addresses along with loopbacks (they cause an immediate probl

[2015-02-07 01:04] bgrant0607 commented on #3578
Sounds fine. Ideally there wouldn't be much to do with respect to cluster setup in the getting started guides, but fixing that is a bigger problem.

[2015-02-07 01:04] davidopp commented on #4188
I can verify that the situation is rather bad. Lots of fluctuation in the numbers of Pending, Running, and Unknown. serve_hostname containers on the node are exiting; I'm not sure why, or if the pod itself is terminating or just the container. Lots of the following in the log (not sure what this means yet):

Sat, 07 Feb 2015 00:06:22 +0000   hostnames-ecd2r                                    Pod

[2015-02-07 01:12] davidopp commented on #4188
The pause container is also exiting, so I'm guessing that means the whole pod is exiting, not just serve_hostname...

[2015-02-07 01:52] jlowdermilk commented on #4228
IIRC there was a thread about adding shutdown hooks to the master so it can clean up any cloudprovider-specific resources it's using. cc @bgrant0607, @brendandburns

[2015-02-07 01:55] jlowdermilk commented on #4231
I think putting them in a kubernetes.something namespace is what we planned to do. cc @satnam6502

[2015-02-07 01:57] thockin commented on #4188
Ugh, there is an etcd size limit you might be hitting too, I forgot.  If
you are seeing the fluctuations, maybe you got far enough, though.
On Feb 6, 2015 5:13 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2015-02-07 02:26] zmerlynn commented on #4228
I think this is a dupe of #2984

[2015-02-07 03:07] thockin commented on #4231
I feel the opposite way - if you dont want to see them, you should make
your own namespace.
On Feb 6, 2015 5:55 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-02-07 04:08] brendandburns commented on #4052
https://github.com/GoogleCloudPlatform/kubernetes/pull/4221 is merged, closing.

[2015-02-07 04:08] #4052 closed

[2015-02-07 05:18] thockin commented on #4218
I was suggesting doing the equivalent of hostname -i -- is it unreasonable
to expect a machine to be able to nslookup its own name?  Maybe we could
start with that and then add this filter list as the last resort?

On Fri, Feb 6, 2015 at 4:40 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-02-07 05:33] zmerlynn commented on #4218
I've seen nslookup of self fail in a variety of misconfigured (especially
on-prem) environments, but it's the most reliable/sane way.

On Fri, Feb 6, 2015, 21:18 Tim Hockin <notifications@github.com> wrote:

[2015-02-07 05:41] fgrzadkowski opened #4235 "Kubernetes should support cross-zone cluster"
Most applications should be running in multiple zones to increase availability. Kubernetes should support it. I imagine this to work in the following way:

1. User sets up cluster in a region in a way that minions are spread evenly across all available zones
2. User creates replication controller for the application with size > 1
3. Scheduler spreads pods within the same replication controller acr

[2015-02-07 05:43] zmerlynn commented on #4218
Actually, couldn't it also scour the route table for the default gateway
network's interface and camp on that?

On Fri, Feb 6, 2015, 21:32 Zachary Loafman <zml@google.com> wrote:

[2015-02-07 05:48] fgrzadkowski opened #4236 "kubectl get has random output order"
If one lists all objects using "kubectl get" the output is random each time. This makes it very hard to read output if user is listing objects repeatedly (e.g. waiting until pod is running).

I think it'd be better UX if the order is deterministic (e.g. alphabetically by pod id).

[2015-02-07 06:37] davidopp commented on #4235
It might be better to build something on top of Kubernetes that that aggregates clusters and provides a unified interface (a smart proxy of sorts), rather than try to make a single Kubernetes cluster span zones. (I'm assuming "zones" are separate failure domains with inter-zone network latency higher than intra-zone.) Keeping clusters autonomous, with all their management components (master compon

[2015-02-07 07:00] davidopp commented on #4228
I agree... (And #4013, which was a dupe of #2984... We should probably fix this :-)

[2015-02-07 07:00] #4228 closed

[2015-02-07 08:17] bgrant0607 commented on #4235
Aka "multiple resource pools". Some people are also interested in hybrid cloud (on prem and cloud).

Spreading pods across zones is the wrong model in many cases. Multiple tiers/micro-services comprising a service, including backend data, need to be co-deployed and multi-homed, with regional load balancing -- see also #3683 and https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/ava

[2015-02-07 08:24] bgrant0607 commented on #4236
Hmm. We sort some things. For instance, describe sorts:
https://github.com/GoogleCloudPlatform/kubernetes/blob/8eeb2d1358d952004606f5b166d15d733780c10a/pkg/kubectl/describe.go#L133

I agree that sorting is more user friendly. PR would be welcome. :-)

[2015-02-07 09:29] kazegusuri opened #4239 "Service is not exported after updating Pod's container image"
I'm trying to update Pod to upgrade a container image to the newer one, but it seems Service environment variables are not exported into the new container. I use kubernetes `v0.10.0`.

[code]

Updating Pod.

[code]

[2015-02-07 10:30] erictune commented on #4235
See and possibly expand docs/availability.md
On Feb 7, 2015 12:17 AM, "Brian Grant" <notifications@github.com> wrote:

[2015-02-07 15:22] ddysher commented on #4236
dup of #3772, and fixed in #3812

Which version are you using?

[2015-02-07 16:36] thockin commented on #4218
Ooh, that's good, I like that one.
On Feb 6, 2015 9:44 PM, "Zach Loafman" <notifications@github.com> wrote:

[2015-02-07 16:37] smarterclayton commented on #170
One problem with using inert pods as templates is that they disappear into the press (if I'm using pods at scale I might have 10k pods and 2 inert pods), and to separate them for consumers you need to select a small subset of the pods (the 2).  I think "what pod templates do I have" is not an uncommon question.

I'm not arguing inert or clone shouldn't exist, but if we do believe the data structur

[2015-02-07 17:42] bgrant0607 commented on #170
I think that the signal vs. noise problem could be mitigated pretty easily with either field filtering (we'd need to introduce a new PodPhase, such as Inert or Disabled or somesuch) and/or label selection (using a by-convention `template` label).

If we wanted to clearly differentiate cloning and activation, we could create a custom operation to do that regardless of whether the object was a pod o

[2015-02-07 18:57] bgrant0607 commented on #3585
For comparison: https://github.com/ClusterHQ/powerstrip

[2015-02-07 19:06] smarterclayton commented on #170
Do you see inert as generic to all resources (part of metadata, metadata.inert) or specific to some resources that expose it generically (part of spec, spec.inert)?

I have a hard time imagining that every resource can be inert, but it certainly seems common to all of the current Kube resources, and also to most of the Openshift resources I can think of (deployments, routes, policies).

Is inert o

[2015-02-07 19:56] ddysher commented on #1366
I planned to make node lifecycle work before fixing this, but for rudimentary solution, we can start with node status.  All the probe will be NodeReady for now.

One problem with @bgrant0607's proposal is that we have to keep an extra field "last probe time", which node controller will update periodically to api server.  It occurs to me this will put a lot burden on api server.

We can degrade a l

[2015-02-07 20:23] smarterclayton commented on #170
To summarize the set of "copy a resource" use cases:

* copy a resource to the local file system to recreate later
  1. GET
  2. POST (later)
* revert an existing object to its older state
  1. GET
  2. copy resource version in client, overwrite spec
  3. PUT
* copy a resource across namespaces
  1. GET
  2. change namespace field in client
  3. POST
* copy a resource within a namespace
  1. GET

[2015-02-07 21:38] soatman commented on #4068
Output for #1:
Nothing

Output for #2:
./kubectl.sh describe pods aceb844a-abdc-11e4-9a0a-000d3a302484
Running: ./../cluster/azure/../../platforms/linux/amd64/kubectl describe pods aceb844a-abdc-11e4-9a0a-000d3a302484
Name:				aceb844a-abdc-11e4-9a0a-000d3a302484
Image(s):			soatman/dmc-web:0.1.8,soatman/dmc-nginx:0.1.2
Host:				kubernetes-minion-1.slodock.d2.internal.cloudapp.net/
Labels:				envi

[2015-02-07 23:52] davidopp commented on #3585
The powerstrip thing is interesting; the tl;dr is that you can configure docker to call out to arbitrary POST endpoints to modify the client request on create/start/stop/kill, and multiple of these hooks can be chained. This might be a reasonable model for us to use. (Obviously this would be taking the synchronous call-out approach, not the controllers-that-watch-and-call-in-in-the-background).

[2015-02-08 01:25] erictune commented on #1366
Alternate proposal:

Node controller does not touch pods.  Apiserver terminates pods that have
not seen an update from kubelet in more than N seconds.  Kubelet
periodically tells apiserver that its pods are okay.

Advantages:

Keeps pod concept out of node controller.

If kubelet is multithreaded or even multiprocess, a blockage in one pod
handling thread only needs to terminate that pod not all.

[2015-02-08 01:40] davidopp commented on #862
Can we close this?

[2015-02-08 01:45] smarterclayton commented on #862
I believe it's fixed

[2015-02-08 01:45] #862 closed

[2015-02-08 02:05] derekwaynecarr commented on #1366
This sounds interesting.

How is the holder of a lease represented on the object?  Is it a service account?

Does retaining a lease come with a state flag to describe why the lease is being held?

Is there a controller expiring leases and changing the lease status?

Sent from my iPhone

[2015-02-08 02:07] bgrant0607 commented on #170
I do see inert as being generic, common to all objects. It facilitates use of the system as a configuration store and message bus, as well as facilitating finalizers.

I do see it as an initial or indefinite (for templates) state only.

[2015-02-08 02:21] bgrant0607 commented on #170
The list of "copy" scenarios is useful.

I see the main value of `clone` as having special-case authorization rules, as opposed to an open-ended creation operation. Limited mutations, such as enabling the object, would be for convenience.

As for conversion/typecasting, the primary examples we have are:
1. Replication controller from pod. Useful for kick-the-tires and bootstrapping.
2. Service fro

[2015-02-08 05:15] thockin commented on #2306
I think I like 99% of what's written here.  The part I want clarity on is how widespread knowledge of etcd needs to be?  I was expecting to see something along the lines of #2594 wherein the kernel of the API server knows that etcd is how we implement the generic Storage interface.  All other REST object code simply uses the generic Storage.

More succinctly - the word "etcd" should not appear in

[2015-02-08 05:35] davidopp commented on #2306
FWIW I think this would be a great topic for the contributors meeting--describe the current partitioning of this functionality and the proposal.

[2015-02-08 06:08] smarterclayton opened #4242 "Endpoints should be namespace scoped"
Missed this when we landed the scope changes.

[2015-02-08 06:39] thockin commented on #4218
Can folks sanity check this?

http://play.golang.org/p/kzib_NygC6

We could have a cascade of modes, if we're not confident in this.

First try the default gateway, then DNS lookup os.Hostname(), finally fall
back on the first interface that passes the propose filters?  Of course, I
would say to start with one mode and see if that fails for anyone...

On Sat, Feb 7, 2015 at 8:36 AM, Tim Hockin <th

[2015-02-08 07:20] bgrant0607 commented on #1366
I'm trying to make the apiserver a generic, dumb, reactive CRUD server. SOME controller will need to do this. I'm not 100% set on the node controller, but it seems like the best place at the moment.

The main problem I'm trying to solve here is doing something reliably when a node dies. I'm less concerned with Kubelet timeouts unless/until they show up as a problem. In that case, we may switch to

[2015-02-08 07:29] thockin commented on #1366
I don't find the simple form (node controller does it) to be too
objectionable, but I find the proposal appealing as a more principled
approach.  I'm not sure what the implications of it would be for
implementation timeline - we have an oozing wound here right now.  I'd
really like to get it bandaged up...

On Sat, Feb 7, 2015 at 11:21 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-08 07:38] bgrant0607 commented on #1366
#4048 is adding Pod Conditions, readiness in particular. That would be a logical place to add a node heartbeat to Pod. The logical controller, then, to take action would be ReplicationController. Pods not supervised by any controller are out of luck in the case of node failure, anyway; maybe staying on a possibly dead node indefinitely is ok in that case.

[2015-02-08 21:47] mbforbes commented on #4225
Closing assuming #4226 fixed this.

[2015-02-08 21:49] #4225 closed

[2015-02-08 22:00] derekwaynecarr commented on #4242
Should or should not?

[2015-02-08 22:11] smarterclayton commented on #4242
Should, just like services

[2015-02-08 22:15] mbforbes commented on #4239
Forgive me as I'm new to debugging these things: could you please post the `redis.yml` file that you used (before and after, if it changed) so I can repro?

[2015-02-08 22:19] mbforbes commented on #3130
Assigning this and sub-issues to cluster lifecycle team as @roberthbailey and @zmerlynn seem to be owning; feel free to undo if I'm being too pedantic about adding `team/` labels here.

[2015-02-08 22:31] derekwaynecarr commented on #4242
I'm confused how they are not namespaced already but code review on phone is less than ideal.  We can synch tomorrow.

Sent from my iPhone

[2015-02-08 22:57] davidopp commented on #4188
Just a few more observations:

This is reproducible (and a little less chaotic) with one node and 100 pods (but not with 50 pods, so it's definitely load-dependent). You can get to 100 Running pods (0 Pending or Unknown), and then a minute later a dozen or so will become Unknown, and then later go back to Running, etc. As mentioned earlier, the containers continue running on the node all this time

[2015-02-08 23:06] smarterclayton commented on #4242
They're showing up in the api docs as cluster scoped - maybe they're not in the list of kinds with cluster scope

[2015-02-09 00:02] thockin commented on #4188
Almost certainly the restart is just kubelet retrying after some time.
On Feb 8, 2015 2:57 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2015-02-09 04:37] brendandburns opened #4246 "Events e2e test can run forever..."
[code]

We should time out after a time, and mark the test failed.

[2015-02-09 04:37] satnam6502 commented on #3130
+1 to what @smarterclayton says although I understand I should defer to the appropriate `team/`.

[2015-02-09 05:10] zmerlynn commented on #4246
This (and other tests that call this utility) are what #4243 is for.

[2015-02-09 05:19] brendandburns commented on #4246
Closing as dup...

[2015-02-09 05:19] #4246 closed

[2015-02-09 07:52] davidopp commented on #4188
I found that if I comment out the line with the arrow next to it (see below) in pod_cache.cc, the Pods stop oscillating between Running and Unknown. Commenting out this line changes the logic from "if get an error from Kubelet, change pod status to Unknown" to "if get an error from Kubelet, keep pod status unchanged."

	result, err := p.containerInfo.GetPodStatus(pod.Status.Host, pod.Namespace, po

[2015-02-09 08:12] bgrant0607 commented on #2306
Ok, I think I understand this now. However, I second @thockin's question about etcd.

There is currently business logic in pkg/registry/etcd/etcd.go that doesn't belong there, such as status field initialization upon create or update. It's horrible that the business logic is spread between individual registry objects (e.g., pkg/registry/pod/rest.go), etcd.go, pod_cache.go, and the responsible comp

[2015-02-09 08:19] Fandekasp commented on #2918
Unknown status issue is related to #4068

[2015-02-09 10:53] HackToday commented on #1328
@eparis, I hit same issue when following the ansible fedora guide.

Redirecting to /bin/systemctl start  kubelet.service
Failed to issue method call: Unit docker.socket failed to load: No such file or directory.

I checked your comment said:

 change it from enabling docker.socket to docker.service

But how to change that ? I am not clear about that.

is it systemctl start docker.service ? I tried

[2015-02-09 12:22] josselin-c commented on #3401
With HEAD I couldn't reproduce the problem. Will re-open if needed.

[2015-02-09 12:22] #3401 closed

[2015-02-09 13:56] smarterclayton commented on #2306
Yes - binding etcd storage to object mutation logic will be the only place someone should see etcd (in master.go where we instantiate it, and in the actual types that do the binding).  Those types should be small - a few lines per method at most.

[2015-02-09 14:13] kbeecher opened #4247 "Kubectl - Unkown flag: --image"
Hi,

I'm working my way through the vagrant guide (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md), but I've hit a problem in the "Running Containers" section. I have Kubernetes v0.9.3

When I try to run this command:
    $ cluster/kubectl.sh run-container my-nginx --image=dockerfile/nginx --replicas=3 --port=80

I get this error:
[code]

[2015-02-09 14:49] smarterclayton commented on #3005
#4248 is the first bit of allowing PUT /status

[2015-02-09 14:51] smarterclayton commented on #2726
#4248 is where I'm going to do this.  To properly handle a sub resource collection, I'm going to strip away some layers of RESTHandler that are no longer needed (now that nikhil has added api_installer, and Derek brought in proper path handling).  That "unwrapping" will also be necessary for authz to identify the resources.

@deads2k we need to chat today about how to represent sub resource mutati

[2015-02-09 16:45] pmorie opened #4250 "test-cmd.sh should test resizing replication controller"
The `test-cmd` script currently does not test resizing replication controllers; this is a central use-case and should have coverage in that script.

[2015-02-09 16:47] kargakis opened #4251 "Declutter history logs"
[Following our off-topic conversation with @brendanburns [here](https://github.com/GoogleCloudPlatform/kubernetes/pull/4065#issuecomment-72930871)]

@brendanburns there is a way but both the author of the commit and the guy who merges the commit into the tree (commiter) have to use `git` a bit more and not just the Github UI.

The author has to:
* work on a `feature_branch`

[code]

* rebase chang

[2015-02-09 16:59] davecgh commented on #4251
I'd always use the `--ff-only` flag if that is your intention.  Otherwise, you'll end up with a merge commit when it's not capable of being fast-forwarded.  The flag intentionally prevents the merge from happening when it's not a fast forward.

[2015-02-09 17:28] rsokolowski commented on #4231
Tim, I agree with you that user should make their own namespace and I'm
happy to update some examples to expose that.
However, for getting started experience where one has a simple project with
few services and doesn't really need to use namespaces present of internal
resources is disturbing, especially when combined with the fact that
results come in random order, plus new internal resources are

[2015-02-09 17:31] uruddarraju commented on #3946
I am facing the same issue as well. Any update on this ?

[2015-02-09 17:33] brendandburns commented on #4188
Thanks for investigating this!  Pods _really_ shouldn't flip between
Running and Pending, as I believe that the _only_ way that they go Pending
is if Pod.Status.Host is empty, and this _really_ shouldn't happen post
scheduling, unless we are somehow dropping information.  Maybe we need to
make sure that we don't wipe out status on the error case?

--brendan

On Sun, Feb 8, 2015 at 11:53 PM, David

[2015-02-09 17:55] brendandburns commented on #4247
I believe that this should work (and that it is in the 0.9.x release series)

Can you run ```kubectl -version``` and see what version of the client you have?

Also what does ```kubectl help run-container``` and see what it prints...

--brendan

[2015-02-09 17:56] derekwaynecarr commented on #3946
PR ##4204 will have the fix.

[2015-02-09 17:56] jlowdermilk commented on #4231
cc @bgrant0607

[2015-02-09 18:27] sub-mod commented on #4218
hostname -i  is kinda unreliable.
Just for my clarity why are we favoring the nic with gateway ? This can be the Public IP of the node.
We can end up exposing the services to outside world.I think we need to to have a consistent parameter across all daemons to define the network it needs to use. #4115

[2015-02-09 18:27] mbforbes commented on #4247
I _think_ the command you want is `kubectl version -c` to get just the client version.

[2015-02-09 18:29] kbeecher commented on #4247
Ran the command from @mbforbes:
[code]

[2015-02-09 18:29] satnam6502 commented on #4143
Any progress on this? This is preventing me from deleting a cluster.
I built from HEAD this morning and tried again.
Again, the cluster tear down code finds minions in a **different GCE project**. It should be using the default GCE project **kubernetes-satnam** which has a `config-default.sh` file that specifies 4 minions (and that is what is running in that project). Instead, during the minion de

[2015-02-09 18:51] mbforbes commented on #4247
...and just so we're sure, what does `$ platforms/linux/amd64/kubectl help run-container` give?

[2015-02-09 18:55] kbeecher commented on #4247
[code]

[2015-02-09 19:01] thockin commented on #4218
I agree we need a consistent parameter across daemons.  But I don't think
we want to force most users to use the override - I think we need some
discovery heuristic that works in most cases.

On Mon, Feb 9, 2015 at 10:27 AM, sub-mod <notifications@github.com> wrote:

[2015-02-09 19:27] #4179 closed

[2015-02-09 19:27] #4220 closed

[2015-02-09 19:28] rrati opened #4253 "Move liveness tests to the pods suite"
Park of ginkgo-ization
https://github.com/GoogleCloudPlatform/kubernetes/issues/3837

[2015-02-09 19:40] kargakis commented on #4251
So you always use `--ff-only` and in case it fails, you fall back to normal `git merge`. Great, thanks again @davecgh !

[2015-02-09 20:33] yujuhong commented on #3950
Here is an update with some more information but much progress:

 * I reproduced the issue on the GCE cluster and changed the logging level to 7.
 * As mentioned in #3939, `kube-apiserver.log` encounters etcd errors periodically when creating pods `E0209 18:40:45.937988    4964 errors.go:52] apiserver received an error that is not an api.Status: 501: All the given peers are not reachable (Tried to

[2015-02-09 20:39] a-robinson opened #4255 "Fluentd logging agents should attach kubernetes labels to the logs they collect"
All of the labels attached to the container whose logs are being collected should be added on to the logs. For example, if logs are being collected for container foo with the labels env=prod and service=backend, those labels (env=prod, service=backend) should be attached such that someone querying logs later can ask for all logs with those labels to easily aggregate across containers.

IIRC both e

[2015-02-09 20:47] zmerlynn commented on #4253
Per IRC, @rrati is working on this

[2015-02-09 21:09] brendandburns commented on #4160
I believe that this was fixed with #4169.  Please re-open if it re-occurs.

[2015-02-09 21:09] #4160 closed

[2015-02-09 21:09] brendandburns commented on #3965
Closing this for now, as user reports it fixed, please re-open if it re-occurs, and I will try to incorporate data read/write into a more extensive e2e test.

[2015-02-09 21:09] #3965 closed

[2015-02-09 21:17] ddysher commented on #4075
@dchen1107 The kubelet birth cry is reported as a reference to its host, which should be included in the event list from kubectl describe node host.  But i don't see it, is this a known issue?

[2015-02-09 21:28] derekwaynecarr commented on #3946
#4204 was merged and this issue should be fixed.

Please clean out your current vagrant setup:

$ vagrant destroy -f
$ rm -fr .vagrant
$ make release
$ cluster/kube-up.sh

The purge of the .vagrant may or may not be needed depending on your host OS

Closing this issue, but re-open if you still see problems.

[2015-02-09 21:44] zmerlynn opened #4258 "Pull #4204 broke GCE"
We could no longer create clusters on GCE after #4204. I suspect the Salt config was broken? Reverted in #4257.

[2015-02-09 21:53] pires opened #4259 "Apply for GSoC 2015"
Could you apply for [Google Summer of Code 2015](https://www.google-melange.com/gsoc/homepage/google/gsoc2015)? I've seen some students over at IRC looking for hints on how to contribute. @thockin replied to a guy who was speaking in his name and of two others, so there should be interest in this.

I'd be more than willing to pass on the word :-)

[2015-02-09 22:18] bgrant0607 commented on #4259
Good idea.

[2015-02-09 22:26] mbforbes commented on #4259
FYI the "Org Application Deadline" is February 20 at 19:00 UTC (11am PT).

[2015-02-09 22:39] davecgh commented on #4251
No, if it fails, the user need to pull the latest master, rebase their branch on top of it, and force push the branch back to github so the PR is updated.  Then it won't fail.

[2015-02-09 22:42] zmerlynn opened #4261 "Port basic/private e2e test to new replication suite"
Part of #3837.

[2015-02-09 22:44] zmerlynn commented on #4261
cc @rrati @filbranden @satnam6502

[2015-02-09 22:57] mbforbes commented on #4259
Unsure exactly how to triage this. If anyone would like to claim it would simplify.

[2015-02-09 23:12] dchen1107 commented on #4188
I also investigated the same issue last Friday. I observed exact the same as what @davidopp described above, except the related kubelet log should be:

[code]

Meanwhile, I observed master is trying to query pod / and failed all the time:

[code]

Talked to @davidopp offline, he is going to look into why running pods go back to Pending; meanwhile, I am going to figure out Unknown cases here.

[2015-02-09 23:14] satnam6502 commented on #4188
That would be great. It is very hard for me to make sense of any of the scalability experiments that I am doing while the pod status is in hysteresis.

[2015-02-09 23:50] davidopp commented on #4188
Just to summarize:

(1) the Running<->Unknown flapping is caused by the line of code I mentioned earlier;

(2) the reason that line of code is being hit on the master is due to two errors on the kubelet (the one I identified earlier was wrong; Dawn found these):

I0209 06:42:09.303799    4704 server.go:351] GET /api/v1beta1/podInfo?podID=hostnames-v5drx&podNamespace=default: (8.82543048s) 500

E02

[2015-02-09 23:50] davidopp commented on #4188
(and Dawn is looking into why we're hitting those two errors on Kubelet)

[2015-02-09 23:58] satnam6502 opened #4264 "kubectl.sh crashes unhelpfully"
When run in a Makefile an error exit status is reported (not no more information). When run on the command shell the command returns no output and does not report an error.

[code]

[2015-02-09 23:58] satnam6502 commented on #4264
I've reported this before.

[2015-02-10 00:03] satnam6502 commented on #4264
This happened when I had the wrong zone in my `config-default.sh` file (my fault).
However, we should give a better error message.

[2015-02-10 00:20] satnam6502 opened #4266 "Elasticsearch cluster level logging still broken"
This has been broken (as far as I can tell) since we moved to add-ons.

The service:
[code]

The pods:
[code]

ssh-ing into a container shows Elasticsearch within the cluster seems to be collecting logs fine:
[code]

However, external access fails.
[code]
The curl times out. Cluster level logging with Elasticsearch is broken.
Likewise, Kibana is also not externally reachable.
Is something still br

[2015-02-10 00:24] zmerlynn commented on #4266
Hey, I got you the objects, and there's no test, what more do you want? ;)

[2015-02-10 00:26] satnam6502 commented on #4266
I know... I know... I think I have the bug to write the e2e test assigned to me. However, I have an idea for someone else that could write the test...

[2015-02-10 00:27] satnam6502 commented on #4266
It's probably something wrong I have done with setting up the firewall rules.

[2015-02-10 00:58] satnam6502 commented on #4266
I am also failing to connect to a port on my `serve_hostnames` service so I imagine this might be a wider issue -- or I am doing something wrong setting up external access.

[2015-02-10 01:01] zmerlynn commented on #4266
Did you go through `hack/e2e.go -up`? It still calls `test-setup` to add firewalls for :80 and :8080, which is necessary for things like `TestBasic` / `TestPrivate` (which I'm about to throw a PR for ... but I was using a kube-up.sh to try to test and ran into this as well)

[2015-02-10 01:08] dchen1107 commented on #4068
@soatman, From what your latest updates, it proves my initial hyperthesis since both kubelet and docker never see such boundPods, but master thought it should be scheduled to such node.

We do have some pod status flip between Unknown and Running (4188) with 0.10, but that one only happens when the node with heavy load, and also the status flipping, not stucking. Also kubelet reports code 500, not

[2015-02-10 01:13] satnam6502 commented on #4266
No. Those ports are not used by the ES logging stuff (which uses 9200, 9300, 5601) or serve_hostnames (which uses 9500).

[2015-02-10 01:16] bgrant0607 commented on #4264
What version of kubectl.sh are you running? Do you have pull #4175?

@wojtek-t

[2015-02-10 01:21] wojtek-t commented on #4264
hmm - it worked for me with #4175. If not can you please write how to replicate this issue - I'm happy to work on it.

[2015-02-10 01:24] #4216 closed

[2015-02-10 01:32] satnam6502 commented on #4266
I think the issue could be related to target pools.

[2015-02-10 01:35] satnam6502 commented on #4264
Create a cluster.
Change the zone in config-default.sh to some other zone.
Run kubectl.sh get pods

Thanks

On Mon, Feb 9, 2015 at 5:21 PM, wojtek-t <notifications@github.com> wrote:

[2015-02-10 01:37] satnam6502 opened #4270 "kubectl.sh create service crashes unhelpfully"
I've reported this before.

[code]

[2015-02-10 01:39] satnam6502 commented on #4270
From a Makefile I get exit status 255.
[code]

[2015-02-10 01:41] bgrant0607 commented on #4188
Are we serving requests concurrently in Kubelet? (Is it possible not to when using go's servemux?) I don't see any locking around the pod map accesses.

[2015-02-10 01:53] wojtek-t commented on #4264
That's strange - it works for me. What I've done is:
1. run kubernetes in us-central1-b
2. change cluster/gce/config-default.sh to point to us-central1-a
3. ran ./cluster/kubectl.sh get pods

Here is the output:
wojtekt@wojtekt-work:~/kubernetes$ ./cluster/kubectl.sh get pods
Project: groovy-sentry-504
Zone: us-central1-a
ERROR: (gcloud.compute.instances.describe) Could not fetch resource:
 - The

[2015-02-10 01:55] yujuhong commented on #3950
I suspect this is an etcd issue. As mentioned in the previous comment, pod was still being scheduled after the pod has supposedly been deleted. Here is a snippet of such a pod:

[code]

Note that the delete request returned OK (200).
```DELETE /api/v1beta1/pods/pause-pod-1616b21?namespace=default: (168.413613ms) 200```
However, the key lives and scheduler even attempted to schedule it again (while

[2015-02-10 01:59] satnam6502 commented on #4264
I build from head < 30 minutes ago.
Never mind. I will close this and re-open if it happens again. Thanks for your help.
[code]

[2015-02-10 01:59] #4264 closed

[2015-02-10 02:19] satnam6502 commented on #4266
I think what we need to do is to delete any existing firewall rule first before creating a new firewall rule.

[2015-02-10 03:43] mbforbes commented on #4270
Just to be clear (sorry for the basic question), are you saying that when the service `.yaml` file is malformed the crash is unhelpful for debugging? Or that creating any/all services using `kubectl.sh` is currently broken?

[2015-02-10 04:33] satnam6502 commented on #4270
The YAML file is not malformed. I think there was something perhaps not quite right about firewalls/rules etc. and this caused kubctl.sh to crash unhelpfully.

[2015-02-10 05:02] brendandburns commented on #4143
With the kubectl config stuff, the host is now stored in the ~/.kube directory (I'm pretty sure) so that might not play nice with the kubectl.sh auto-detection.  We should probably tear out the kubectl.sh auto detection, unless there isn't a pre-configured kubectl cluster.

Satnam, can you try moving your ~/.kube directory and see what happens?

[2015-02-10 06:06] HackToday commented on #1328
I have solved it by myself, it need manual change systemed files, and also need restart host, or else that change can not work correctly, maybe fedora bug.

[2015-02-10 06:23] satnam6502 commented on #4266
I think I know what the issue is and it occurs when you use clusters with different prefix names. I use clusters with prefix names like `k100` and `k200` and I use multiple projects. The way the firewall etc. rules are named is a problem and it is going to cause problems with the way the target pools are identified. Our names for such resources are not unique enough. They should be qualified by th

[2015-02-10 06:41] satnam6502 commented on #4143
Yes, indeed, thanks, I think that's the root of the confusion. I wiped everything, blew away my clusters, and created one anew and all was fine. Let's see what happens when I create more clusters in the same project, in the different projects and with different prefixes :-)
Closing.

[2015-02-10 06:41] #4143 closed

[2015-02-10 11:18] zmerlynn commented on #4266
One of the things I fixed in the add-on PR was actually to create firewall
rules instanced to the instance prefix. We shouldn't need to name based on
the project (that's in the REST URL already).

So it's possible I broke target tag, yes. Or there's a multiple cluster
lifecycle issue?

Open an issue and get it triaged before you use Wednesday to fix it. :)
On Feb 9, 2015 10:24 PM, "Satnam Singh" <

[2015-02-10 11:19] zmerlynn commented on #4266
(Oh, and I mean just get this issue triaged in, rather.)
On Feb 10, 2015 3:18 AM, "Zachary Loafman" <zml@google.com> wrote:

[2015-02-10 12:05] abonas commented on #3669
@bgrant0607, any news on resources api? design? ETA? thanks

[2015-02-10 12:20] pires opened #4277 "0.9.3 Linux binaries not released"
When trying to update to 0.9.3 I noticed there's no build in the usual place. For instance, [kube-apiserver 0.9.3](https://storage.googleapis.com/kubernetes-release/release/v0.9.3/bin/linux/amd64/kube-apiserver) is not available.

0.10.1 is, though.

[2015-02-10 12:47] i0n commented on #3207
I have also ran into this problem.

Using:

Boot2Docker-cli version: v1.4.1
Git commit: 43241cb

Kubernetes at: e27d534b87253f2c7ebb60fd6274ff864bc98e9c
or tag 0.10.1

[2015-02-10 13:19] kazegusuri commented on #4239
Before:
[code]

After:

[code]

[2015-02-10 13:30] brendandburns commented on #4277
Oops... I guess that slipped through the cracks.  (we need to automate this whole thing better, it's still pretty manual.)

You can download the full release here: https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.9.3

Given that 0.10.1 is out, I'm not planning on pushing out 0.9.3 unless there is a strong need.

Closing this issue, if you need the 0.9.3 binaries pushed, please re-

[2015-02-10 13:30] #4277 closed

[2015-02-10 13:37] pires commented on #4277
Just moved to 0.10.1 and am happy with it, so far ;-) thanks

[2015-02-10 14:03] i0n commented on #3207
Problem was with boot2docker not mounting the /Users folder correctly. Personally I would like to see the build process for Kubernetes decoupled from boot2docker. Any viable docker host would do, just check for the features required.

[2015-02-10 14:50] brendandburns commented on #4247
Ok, there is something messed up in the way that pflag is doing error generation.

The actual flag that is undefined is ```--port``` but for some reason pflag is printing ```--image``` as the offending flag.  *sigh*

```--port``` wasn't added until the v0.10.x series.

You can use the following command in 0.9.3:
```cluster/kubectl.sh run-container --image=dockerfile/nginx --replicas=3 my-nginx```

[2015-02-10 14:54] #4247 closed

[2015-02-10 15:01] brendandburns commented on #4114
If the update timed out, but actually succeeded behind the scenes, this is what I'd expect to see.

Not sure what the correct behavior in an http timeout case should be.  (I'm surprised that we didn't get a clean error print out of the error, though...)

[2015-02-10 15:03] cnaize opened #4282 "Pod init hooks"
Hello!

I'm looking for `restart policy` for `pod`'s `containers`.
Something like this:
https://github.com/GoogleCloudPlatform/kubernetes/pull/1147
https://github.com/GoogleCloudPlatform/kubernetes/issues/127
but for `containers` in `pods`.

Is it possible? Is it in plans?

[2015-02-10 15:14] bgrant0607 commented on #4282
The restart policy applies to all containers within the pod.

Are you asking for the ability to specify a different restart policy for each container? If so, what is your use case?

We aren't currently planning to support that directly, in a general form, but will likely support a specialized form, such as for volume initialization (#831).

This is something we debated early in the project -- see

[2015-02-10 15:23] pythonpowerd commented on #4282
bgrant0607, we need this for easily specify run-once containers, not only for db or volume initialization but for run-once in general.
P.S. cnaize from our team too)

[2015-02-10 15:28] brendandburns commented on #4086
I believe this is now fixed (though pd.sh is still somewhat flaky _sigh_)

[2015-02-10 15:28] #4086 closed

[2015-02-10 15:28] derekwaynecarr commented on #4242
I enabled v1beta3 and looked at swagger output and see endpoints in namespace scope as expected.

I see following endpoints as expected:

GET /v1beta3/endpoints
GET, POST /v1beta3/namespaces/{namespace}/endpoints
GET, PUT, DELETE /v1beta3/namespaces/{namespace}/endpoints/{name}

[2015-02-10 15:50] smarterclayton commented on #4242
Ah, that's "all endpoints"

[2015-02-10 15:56] bgrant0607 commented on #4282
Specify `"restartPolicy": { "never": {} }` in your pod manifest.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pod-states.md

We should create an example, such as:
http://georgkunz.com/blog/2014/11/18/one-off-tasks-with-kubernetes/

cc @dchen1107

[2015-02-10 16:09] derekwaynecarr commented on #4242
right ;-)

[2015-02-10 16:29] smarterclayton commented on #4242
It's so clean I thought it was wrong.  Good job refactoring that.

[2015-02-10 16:29] #4242 closed

[2015-02-10 16:32] rrati commented on #4253
@zmerlynn

[2015-02-10 17:34] pythonpowerd commented on #4282
We considered about this, but restart policy = Never  means that all other containers will not be auto-restartable too. In our case we need one or more container with policy = never and other with policy = always.
For example, I create pod with db, myapp, redis, and one container that makes some garbage collection for my containers or gather statistics, never mind, it must run-once, and after some

[2015-02-10 17:42] pweil- opened #4288 "Proxier and LB are not namespace aware"
Currently, the proxier and loadbalancer code is not namespace aware.  They use an internal caching structure that is keyed based on the service name.

For example:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/proxy/proxier.go#L466
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/proxy/config/config.go#L225
https://github.com/GoogleCloudPlatform/kubernetes/blob

[2015-02-10 17:48] pmorie commented on #4288
I don't think there's an appropriate reflector store yet to be used here, since the store has to deliver deletes (or allow you to infer them).  I suppose we could use `UndeltaStore`, but I personally would rather implement the concept that @erictune and I discussed in #3521 (not my port of the origin `EventQueue`, but Eric's proposed store).

Any thoughts, @erictune?

[2015-02-10 18:07] vmarmol opened #4290 "HTTPS fails within containers"
I've been trying to send a GET to an HTTPS endpoint in Kubernetes and it fails with the following error:

[code]

Sample Go program that has this, along with its Docker file in this [gist](https://gist.github.com/vmarmol/2610a64f2777fb58dfe9).

This isn't just a Kubernetes issue, it happens on any Docker image. @kelseyhightower has a nice explanation [here](https://medium.com/@kelseyhightower/opti

[2015-02-10 18:20] thockin commented on #4282
Would it be sufficient to have it go to sleep instead of exit?  It could
even listen for signals when to re - run, rather than someone using docker
start directly.
On Feb 10, 2015 9:35 AM, "pythonpowerd" <notifications@github.com> wrote:

[2015-02-10 18:37] pythonpowerd commented on #4282
@thockin Listening to signals it's a nice idea anyway(thanks for it!), but that containers belongs to our customers so we don't have any access to them and even don't know what exactly they do, we just need to provide functionality to our users to make in pod some containers that "run and exit" and "run on demand in this pod".

[2015-02-10 18:38] dchen1107 commented on #4075
Yes, it is known issue since all events have 2day TTL. It is possible all events are deleted after 2 days. I am filing an issue to take care of this.

[2015-02-10 19:01] roberthbailey opened #4292 "Standardize/cleanup timeouts in Go e2e tests"
From @zmerlynn in #4269

We now have three timeout mechanisms that I know of in the system

- There's this one, which is actually nice because it's "true".
- There's this one: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L43 (which uses the "sleep and add up the sleeps" method).
- And then when I was porting Brendan's endpoints test, I gutted his goroutine based i

[2015-02-10 19:19] kargakis commented on #4251
:+1:

[2015-02-10 19:22] #4270 closed

[2015-02-10 19:23] mwuertinger opened #4293 "Public service IPv4 collides despite using namespaces"
# Summary
- **Use case:** Create two or more publicly reachable services with the same id in different k8s namespaces.
- **Outcome:** The two services end up with the same public IPv4 address.
- **Expected behavior:** Each service gets its own public IPv4 address.

# Detailed description
When creating a service with load balancer in different k8s namespaces I end up with the same public IPv4 addre

[2015-02-10 19:31] #4261 closed

[2015-02-10 19:50] roberthbailey commented on #4290
Kelsey's post says that it fails using the scratch image because that image doesn't have certs bundled. Since you are using the ubuntu image, it seems like you should have a valid certificate file in your container that can be used by your Go program.

If you open a shell inside your container does /etc/ssl/certs/ca-certificates.crt exist?

[2015-02-10 20:02] roberthbailey commented on #4293
Dupe of #4288?

[2015-02-10 20:43] vmarmol commented on #4290
Nope, even on the Ubuntu image it's not there (which one can argue is an omission on their part). It doesn't seem like this is something most images have.

[code]

[2015-02-10 21:19] mwuertinger commented on #4293
Yep. Sorry, didn't find that one.

[2015-02-10 21:26] vishh commented on #3669
@abonas: API has been [extended](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L364) to include diverse set of resources. By API I assume you are referring to the Spec part and not the usage.
When it comes to usage, are you looking for instantaneous data or distributions? I find the latter to be more useful as a user. If you can provide a few use cases for

[2015-02-10 21:36] arun-gupta opened #4297 ""failed to parse certificate PEM data" when getting list of pods using Vagrant"
- Checked out the latest repo
- Built it using `make release`
- Started the cluster as:
[code]
The last log lines are:
[code]
- Accessing the list of pods gives the following error:
[code]

[2015-02-10 21:40] roberthbailey commented on #4288
There's a great detailed description of this problem in #4293 (which I've closed as a dupe).

[2015-02-10 21:40] roberthbailey commented on #4293
Thanks. Closing this as a dupe.

[2015-02-10 21:40] #4293 closed

[2015-02-10 21:43] roberthbailey commented on #4297
/cc @derekwaynecarr (for vagrant)

What info is in your .kubernetes_vagrant_auth file? Does it have a link to any cert files, and if so do they exist?

[2015-02-10 21:46] arun-gupta commented on #4297
[code]

All the files do exist.

[2015-02-10 21:46] arun-gupta commented on #4297
[code]

[2015-02-10 21:51] roberthbailey commented on #4297
//cc @mbforbes (who was working on getting a vagrant cluster set up yesterday)

[2015-02-10 21:56] roberthbailey commented on #4297
Are any of {.kubernetes.vagrant.ca.crt, .kubecfg.vagrant.crt, .kubecfg.vagrant.key} empty? I've seen that error from the crypto/tls package before when passing it an empty file to parse.

[2015-02-10 21:57] arun-gupta commented on #4297
Nope, they all have some content.

[2015-02-10 22:08] gmarek commented on #4196
I run some experiments and I kind-of reproduced this problem. I run in one terminal
```for i in `seq N`; do cluster/kubectl.sh run-container pause$i --image=kubernetes/pause --port=1234 & done```
and
```time cluster/kubectl.sh get pods```
in a second

for N-s from 10 to 100. It was the case that get pods was running for 6-7 seconds on average, but it wasn't noticeably increasing with N (which I gu

[2015-02-10 22:23] arun-gupta commented on #4297
Moved {.kubernetes.vagrant.ca.crt, .kubecfg.vagrant.crt, .kubecfg.vagrant.key} to a tmp directory, `vagrant destroy`, and `./cluster/kube-up.sh` again. Now its stuck at:

[code]

Seems like a different behavior every time.

[2015-02-10 22:29] satnam6502 opened #4298 "kubectl.sh reports pods from wrong cluster"
`kubectl.sh get pods` reports pods from the wrong project. I have no way of listing the pods in the `kubernetes-scale` project because `kubectl.sh` now only wants to show me pods in the `kubernetes-satnam` project. The `PROJECT` environment variable is not set. The banner information from `kubectl` reports the detection of the project being set to `kubernetes-scale`. But look at the minions: they

[2015-02-10 22:34] roberthbailey commented on #4298
/cc @jlowdermilk

[2015-02-10 22:40] arun-gupta commented on #4297
`vagrant destroy` and `cluster/kube-up.sh` all over again seems to have work and shows:

[code]

[2015-02-10 22:45] jlowdermilk commented on #4298
Can you run `kubectl.sh config view` and paste output?

[2015-02-10 22:47] satnam6502 commented on #4298
[code]

[2015-02-10 22:52] jlowdermilk commented on #4298
It's not a bug. `kube-up.sh` for gce sets the current context on successful cluster creation so it can validate cluster health using kubectl. You can switch the context to another cluster by running `kubectl config use-context <context>`, where in this case <context> = k100.

If that doesn't fix for you, please reopen.

[2015-02-10 22:56] satnam6502 commented on #4298
So to use a different cluster I need to have `cluster/gce/config-default.sh` have the right information, perhaps make sure `PROJECT` etc. are properly set **and** run `kubectl config use-context`?

[2015-02-10 22:58] satnam6502 commented on #4298
And after I do all that, I still get the wrong response?
[code]

[2015-02-10 22:59] satnam6502 commented on #4298
It's also highly confusing the have `kubectl.sh` report:
[code]
and then work on an entirely different cluster.

[2015-02-10 22:59] roberthbailey commented on #4297
It sounds like we can close this specific issue now that you have a working cluster. We may want to open a new issue to make vagrant cluster creation more reliable.

[2015-02-10 22:59] #4297 closed

[2015-02-10 23:02] satnam6502 commented on #4298
You might enjoy this and what is reported as the current context:

[code]

[2015-02-10 23:02] arun-gupta commented on #4297
+1 on making Vagrant cluster creation more reliable and predictable. Please refer to this issue so that it can be tracked.

[2015-02-10 23:07] yujuhong commented on #3950
Okay, I think I've narrowed it down to a race condition between deleting and scheduling a pod. The series of events happened in the following order according to the timestamps in the logs.

1. The script sends a request to create Pod X
2. Pod X is created, scheduled, and run on one of the minions.
3. The script sends a request to delete Pod X
4. The pod entry (registry/pods/default/X) in the etcd

[2015-02-10 23:07] jameskyle commented on #3207
@i0n changes in the referenced merge (#2692) were motivated by a desire to decouple OS X development from boot2docker. They probably provide the use case you're looking for.

[2015-02-10 23:08] derekwaynecarr commented on #4297
For the case where you showed Attempt 1-3, did you wait for it to complete?  How did you determine that it had failed?

You may see more attempts because we now block the kubelet reporting being available until openvswitch is installed and ready for use.

If you have further issues, it would help if you can get the salt-minion log on each node in the cluster to aid in better debugging.

[2015-02-10 23:09] yujuhong commented on #3950
cc @dchen1107

[2015-02-10 23:09] jlowdermilk commented on #4298
OK, that output/behavior is confusing and unhelpful. I'll fix it.

In the meantime, try `cluster/kubectl.sh config use-context k100 --global` to switch context.

[2015-02-10 23:16] arun-gupta commented on #4297
The script waited for ~20 mins and I hit Ctrl+C after that. Is 20 mins wait normal?

[2015-02-10 23:24] dchen1107 commented on #3950
Cool, thanks for investigation, and result confirms the hyperthesis we had yesterday. cc/ @davidopp about the scheduler.

[2015-02-10 23:41] abhgupta opened #4301 "Scheduler input should be taken when reducing replicas"
When the replica count is increased, the new pod(s) are assigned to hosts by the scheduler based on policies defined by the selected predicates/priorities. However, during scale-down (reducing the replica count), the scheduler does not come into the picture potentially resulting in a violation of the scheduling policies. It is irrelevant whether the scale-down is automatic or manual.

Consider the

[2015-02-10 23:44] abhgupta commented on #4301
/cc @bgrant0607 @davidopp @mikedanese @smarterclayton

[2015-02-10 23:45] roberthbailey opened #4302 "Make the Vagrant cluster creation more reliable and predictable"
@arun-gupta  reported a variety of failure modes in #4297.

[2015-02-11 00:05] abhgupta opened #4303 "Scheduler configuration via config file"
A series of enhancements have been made to the scheduler to make it easily extensible. Admins can select/specify the algorithm provider, thereby selecting a predefined list of predicates/priorities/weights. Additionally, admins can also customize the scheduler by selecting a custom set of predicates/priorities/weights.

The former (specifying an algorithm provider) is something that can be done us

[2015-02-11 00:06] abhgupta commented on #4303
/cc @bgrant0607 @davidopp @mikedanese @smarterclayton

[2015-02-11 00:12] smarterclayton commented on #4301
The replication controller should probably delete pods that are doubled up first.  Anything else really needed?

[2015-02-11 00:13] enisoc opened #4304 "apiserver proxy stopped accepting namespaces"
The apiserver proxy rewrites links to the form "/proxy/ns/default/...":

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/proxy.go#L162

But this form stopped working recently, seemingly around https://github.com/GoogleCloudPlatform/kubernetes/commit/18609e17062ad4a56c3533f80014299815bfee76. The "/proxy/ns/default/..." form always returns "404: Page Not Found", similar t

[2015-02-11 00:16] abhgupta commented on #4301
@smarterclayton The example that I gave was a very simple one. Typically, you'd see the "duplicate" pods on separate minions within the same zone. So, in my example above, replace the term "machine" with "zone". If there are multiple minions within each zone, such that there is no duplication at the minon level, then it becomes increasingly more complex for the replication controller to build in t

[2015-02-11 00:19] derekwaynecarr commented on #4297
No.  That is why the salt log is useful.

[2015-02-11 00:21] roberthbailey commented on #4304
/cc @davidopp @nikhiljindal

[2015-02-11 00:26] arun-gupta commented on #4297
Where can I find salt log

[2015-02-11 00:26] vmarmol opened #4305 "kubectl.sh run-container with no ports fails"
This is an image with no exposed ports. The command expects ports even though the description says otherwise.

[code]

[2015-02-11 00:33] smarterclayton commented on #4301
I think id recommend the scheduler bind with an annnotation that uniquely identifies the spreading group, and the replication controller can use that to self balance among the groups.  Ie calculate a unique identifier from the minimal spreading subset (zone or lower) and set it on the bound pod.

[2015-02-11 00:54] jameskyle commented on #2741
I'm going to get this done. I got distracted by a new :baby: for a couple of weeks.

[2015-02-11 01:00] yujuhong commented on #3950
It is strange that the scheduler wanted to schedule the pod again. The pod had been running for a while at that time and the pod entry couldn't be that stale (?). I am going to make a wild guess and say that this may be related to #4188, in which the comments suggest that a running pod may flip to pending intermittently. I am ready to be struck down again though... :|

[2015-02-11 01:12] davidopp commented on #4188
This was marked for the fixit but Dawn and I are working on it. Assigned to myself.

[2015-02-11 01:25] satnam6502 commented on #4188
I am also investing time writing code to try and report what is going on
with unstable cluster status. It would be good to know what you and Dawn
are doing in case I am wasting my time. Thanks.

On Tue, Feb 10, 2015 at 5:13 PM, David Oppenheimer <notifications@github.com

[2015-02-11 01:35] yujuhong commented on #3950
At the least, the binding should not happen if the pod entry does not exist. I will write up a PR for that.

[2015-02-11 01:57] mikedanese commented on #4301
Discussion in #4235 is relevant. I like the idea of a replication controller intelligently removing pods from nodes on a downsize operation. I think this would be beneficial when used with an autoscaler. I'm not sure the heuristic needs to come directly from the scheduler (aka. require understanding of the complete, current cluster state). Binding annotations would work for details about placement

[2015-02-11 02:17] derekwaynecarr commented on #4297
Ssh into master, minion-1, etc.

$ journalctl -ru salt-minion

On the master, it's good to also get

$ journalctl -ru salt-master

[2015-02-11 02:18] derekwaynecarr commented on #4304
I can investigate this as well.

[2015-02-11 02:22] derekwaynecarr commented on #4304
I see the issue, sending a PR.

[2015-02-11 02:29] derekwaynecarr commented on #4304
The proxy path needs to be built with knowledge of the apiversion of the incoming proxy request, and it needs to be updated to use the knowledge from the restmapper.  This is a little trickier than I have time for right now, but it should definitely not be hardcode appending the /ns form.

Not clear why this is not also caught by our test case.  I can try and look at this more in the AM unless som

[2015-02-11 04:02] arun-gupta commented on #4297
I already vagrant destroyed, but will remember to keep Salt logs next time.

[2015-02-11 04:58] bwahn commented on #3326
I have same problem.
[vagrant@kubernetes-master ~]$ sudo systemctl status kube-apiserver
kube-apiserver.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)
and there are no kube of service in vagrant.

[2015-02-11 05:07] arun-gupta commented on #3326
Vagrant has been working more often for me now. Latest blog at http://blog.arungupta.me/mysql-kubernetes-service-access-wildfly-pod-techtip72/ provide more details.

[2015-02-11 05:23] derekwaynecarr commented on #3326
Arun - nice blog post.  Wanted to make sure you knew that you can view the log for a container using kubectl log instead of docker exec.

[2015-02-11 05:31] satnam6502 commented on #2918
Hello. What's the most recent status here? Are you still unable to get logging to work? Is DNS the issue for you rather than the logging setup? It would be good to more accurately categorize this problem, thanks.

[2015-02-11 05:33] satnam6502 commented on #4266
So things work if you only have a single cluster in a project. Perhaps that is good enough for now. Closing.

[2015-02-11 05:33] #4266 closed

[2015-02-11 05:34] satnam6502 commented on #4028
`pd.sh` has not been the source of a failure for a while. Closing.

[2015-02-11 05:35] arun-gupta commented on #3326
That would only work with Kubernetes though, ot in a pure Docker environment, right?

Every day is a new learning :)

[2015-02-11 07:04] chanezon opened #4309 "Flannel not starting on master on Azure"
When following docs https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md
On Azure.
Using CoreOS alpha (584.0.0)

Flannel fails to start on master node, initialized with cloud-init https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/master.yaml
Which version of CoreOS,

[2015-02-11 07:19] bprashanth opened #4310 "Kubectl refuses to respect KUBERNETES_PROVIDER when gce cluster is running"
I ran into this issue attempting to run 2 kubernetes clusters simultaneously, one on localhost and another on gce. With a little debugging I was able to piece together the following stack trace:

[code]
At this point it was obvious to me that the issue was related to running 2 clusters. Very similar to https://github.com/GoogleCloudPlatform/kubernetes/issues/4298, however I can't solve this unless

[2015-02-11 09:44] satnam6502 commented on #4176
@dchen1107 : any update on this? It would be good to know where we stand for this item for the fixit. Thanks.

[2015-02-11 09:47] satnam6502 commented on #3402
29 days since the last comment... has anyone made any progress on this issue? It is marked for attention for the fixit.

[2015-02-11 09:48] satnam6502 commented on #3391
@dchen1107  : any progress?

[2015-02-11 09:49] satnam6502 commented on #2862
Is this not because we have switched to a different flag library?

[2015-02-11 10:57] Fandekasp commented on #2918
For the Unknown issue, restarting the apiserver fixes the status. I still haven't figured why.

For the logging stack, I'm still unable to run it properly.
When trying to connect remotely through my cluster's nginx with htpasswd auth, I get a `/#/connectionFailed`, I think I need to set the route /elasticsearch/_nodes available without auth, and/or add a site to connect to the elasticsearch servic

[2015-02-11 16:59] smarterclayton commented on #3950
I found a huge bug in update and delete pods, where bindings of same named pods in different namespaces have the wrong bound pod update applied.  That may overlap with this fix, I'm going to send that in after lunch.

[2015-02-11 17:02] brendandburns commented on #2862
Jbeda has committer rights on pflag, so we should just fix these things...

Brendan
On Feb 11, 2015 1:50 AM, "Satnam Singh" <notifications@github.com> wrote:

[2015-02-11 17:27] davidopp commented on #4188
This particular problem is easily reproduced manually using the instructions Tim listed, so I'm not sure it's necessary to write anything sophisticated to drive the cluster into this state.

Anyway, maybe give me and Dawn a couple of days and if we can't figure this out by then we can call in the cavalry.

[2015-02-11 17:41] filbranden commented on #2862
I can look into it. In my experience I saw `-t <argument>` work in another context so I'm not sure why it's failing here... I also have commit rights to `spf13/pflag` so if it's a bug there I can report it and try to fix it upstream.

[2015-02-11 17:47] jlowdermilk commented on #4310
I think the right fix is to create config for the local cluster in [hack/local-up-cluster](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/local-up-cluster.sh).

The title brings up a broader issue, which is that kubectl doesn't respect KUBERNETES_PROVIDER anyway. We need to update `kubectl.sh` and other scripts/getting started guides to account for the fact that `kubectl` now a

[2015-02-11 17:48] zmerlynn commented on #4188
Am I wrong, or are these instructions also within bounds of an e2e test? Just because our existing e2es only do one or two things doesn't mean we can't do more within O(minutes), assuming you're dealing with the same image.

[2015-02-11 17:59] dchen1107 commented on #4127
cc/ @bprashanth who wants to help with this one, but I couldn't assign it to him somehow.

[2015-02-11 18:02] roberthbailey commented on #4309
/cc @jeffmendoza

[2015-02-11 18:04] davidopp commented on #4188
The "flips back to pending" problem appears to be because updatePodStatus() writes to the cache but not back to the Pod's status. computePodStatus() initializes newStatus based on pod.Status, not based on the cached value of status. This second behavior seems wrong in light of the first behavior. However, I believe this only causes a problem in combination with my fix described earlier, which as a

[2015-02-11 18:17] jlowdermilk commented on #4310
Going to close this as a dupe of #4298. Will update that one and fix there.

[2015-02-11 18:18] #4310 closed

[2015-02-11 18:18] a-robinson commented on #4192
I'll look into this.

[2015-02-11 18:38] zmerlynn commented on #3323
Obsolete.
[code]

[2015-02-11 18:38] #3323 closed

[2015-02-11 18:50] justinsb opened #4324 "Instances::IPAddress - internal or external IP?"
I'm not entirely clear whether Instances::IPAddress should return the internal IP or the external IP for an instance (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L61).

On GCE, it is `res.NetworkInterfaces[0].AccessConfigs[0].NatIP`, which is the external IP (right?) https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/gce/gce

[2015-02-11 18:57] a-robinson commented on #4192
So two things:
1. I unfortunately haven't been able to repro any errors in the "github.com/GoogleCloudPlatform/kubernetes/pkg/util" test yet, despite having four tight loops running the test on my laptop and 24 replicas of the flake controller running it on a 4 node cluster in GCE for half an hour.
2. The TimeCache code isn't actually used anywhere anymore.

I could believe that maybe it's just an

[2015-02-11 18:58] rrati commented on #4253
Pushed an update yesterday to address comments.

@zmerlynn

[2015-02-11 19:11] yujuhong commented on #3950
PR #4326 is supposed to fix the main symptom -- phantom/dangling pods, which are placeholder pod keys created after the pod has been deleted. The flipping between pending/running status is discussed and to be fixed in #4188.

The BoundPod update failure needs more investigation. In my tests, all pods use the same namespace, so they should not be affected by the bug @smarterclayton posted above.

[2015-02-11 19:18] #2144 closed

[2015-02-11 19:31] abonas opened #4328 "clarification needed on event object"
example here:
https://github.com/abonas/kubeclient/blob/master/test/json/event_list_b3.json

this event says "kind": "BoundPod", but from the message is regarding docker id, and it's not
clear which exact entity (pod? container?) does the event refer to.
why the "kind" property reflect the same entities as  in the regular REST api?

[2015-02-11 19:36] dchen1107 commented on #4188
Assign the issue to me ...

I didn't see the flips between Pending and Running anymore. Don't know why. I consistently see flips between Unknown and Running on those heavily loaded nodes. The root issue is once a while docker inspect API call returns us EAGAIN. Please note that on my test nodes, I already increase NOFILE limit for docker daemon process.

[code]

The proposed solution is that kubel

[2015-02-11 19:36] smarterclayton commented on #3950
https://github.com/GoogleCloudPlatform/kubernetes/pull/4329 fixes the cross namespace issue.

----- Original Message -----

[2015-02-11 19:42] ironcladlou opened #4330 "Retry handling in queue-based controllers is flawed"
## Fee-FIFO-fum

The Kubernetes `plugin/scheduler` follows a pattern which has become canonical downstream in OpenShift. The pattern employes the `api/cache` package thusly:

1. Combine a `Reflector` with a `FIFO` to drive a state reconciling controller
2. Handle a single unit of work in the controller, where the work unit is a single resource returned from the `FIFO`
3. Defer errors to a handler

[2015-02-11 19:43] ironcladlou commented on #4330
Downstream effects: https://github.com/openshift/origin/issues/824

[2015-02-11 19:43] ironcladlou commented on #4330
cc @smarterclayton @pmorie @pweil- @derekwaynecarr @lavalamp

[2015-02-11 19:45] smarterclayton commented on #4330
Does this have an impact on scheduling today?

[2015-02-11 19:48] ironcladlou commented on #4330
@smarterclayton

I need to write a test, and surely somebody can correct me on this offhand, but my reading of the code suggests that if a pod fails to be scheduled due to an apiserver connectivity issue, and then fails on the retry due to a connectivity, no further attempts will be made to schedule the pod until the controller is restarted (triggering a `ListWatcher` list call to seed the queue).

[2015-02-11 19:49] abhgupta opened #4331 "High Availability for the scheduler and other K8s master components"
We need to have HA for the various Kubernetes master components. To allow the Kubernetes master to scale horizontally, we'll have to ensure that the various components that run on the master like the scheduler, deployment controller, replication controller, endpoints controller, etc can all work well in a scaled environment. Essentially,
1. they should be able to spread the work among themselves a

[2015-02-11 19:49] abhgupta commented on #4331
/cc @smarterclayton @brendanburns @bgrant0607

[2015-02-11 19:50] abhgupta commented on #4331
I couldn't readily find an existing issue that dealt with this. If one exists already, please let me know.

[2015-02-11 19:53] abonas opened #4332 "what is the purpose of specifying containerPort in Service entity?"
Since service is supposed to serve as a sort of proxy/redirect for clients/users/containers, it is important to configure on which port it's available.
But what is the meaning of allowing to specify container port property? User is not customizing its underlying conf, no container is specified, etc.

[2015-02-11 19:54] #4192 closed

[2015-02-11 19:55] rrati opened #4333 "Remove HostPort from e2e pod configurations"
Some of the e2e tests specify HostPort in their pod configurations.  This can cause issues running those tests if the port is already in use.

[2015-02-11 19:55] erictune opened #4334 "Tracking conversion of "Getting Started Guides" to use apiserver for kubelet and kube-proxy."

[2015-02-11 19:57] abonas opened #4335 "Is there a way to understand which containers "talk" to a service?"
There might be several containers that talk to other containers through a service, and while it is possible to calculate via selector/labels the relationship between service to pod and its containers, it is not clear how can the users/consumers of a service be linked to it ?
It is clear that some of the service callers are not part of the same kube deployment, but how can someone understand the re

[2015-02-11 20:01] brendandburns commented on #4330
I don't think this is true.  The scheduler constantly re-polls the state of
pods, and schedules things that have an empty Host field.  I'll re-check
the code when I get back to my laptop.

Brendan
On Feb 11, 2015 11:48 AM, "Dan Mace" <notifications@github.com> wrote:

[2015-02-11 20:23] roberthbailey commented on #4331
Parts of this have been discussed in #473.

[2015-02-11 20:37] zmerlynn opened #4340 "hack/e2e.go no longer printing events correctly"
This one is actually obvious. `hack/e2e.go` is calling `hack/e2e-internal/e2e-watch-events.sh` both for `validate cluster size` and for `watchEvents`, which is a pretty clear bug from #4198 / #4225 / #4226.

[2015-02-11 20:48] jlowdermilk commented on #4298
To summarize offline discussion for how to fix creating/deleting/interacting with multiple clusters

Problems:
- Cluster creation/teardown gets cluster info from cluster/KUBERNETES_PROVIDER/util.sh, but interacting with a running cluster (`kubectl *`) gets cluster info from a `.kubeconfig` file only.
- `cluster/kubectl.sh` is misleading about what cluster `kubectl` will talk to.
- The fact `cluste

[2015-02-11 20:49] erictune commented on #4334
Email sent to kubernetes-announce:

We will soon commit some changes which may cause subsequently-built Kubernetes binaries to not work with some of the Cluster Setup Scripts.  "Cluster Setup Scripts" means the saltstack files, cloud-config files, cloudformation files, Vagrantfiles, and/or other files referenced by a "Getting Started Guide".

The following Getting Started Guides should work fine f

[2015-02-11 20:57] a-robinson opened #4343 "kubectl: should you be able to specify a file with -f for more commands?"
The core set  of the kubectl commands (create, update, rollingupdate, and delete) allow you to use `-f <file>` to specify which resource you want to operate on. This is fantastic. So fantastic that when I run the other commands that don't support the -f flag I wish I could use it.

The most obvious one of these that I hit today was the stop command. Sure, it's just a composition of resize and dele

[2015-02-11 21:00] #4340 closed

[2015-02-11 21:02] jlowdermilk commented on #4343
I don't know about adding -f for get/describe, but for stop I agree.

[2015-02-11 21:13] i0n commented on #3207
Awesome @jameskyle. Thanks for the info!

[2015-02-11 21:21] #4177 closed

[2015-02-11 21:24] yujuhong commented on #4127
The backtrace appears frequently in my kubelet.log after the http 500 error.

[code]

[2015-02-11 21:36] liggitt opened #4347 "go-restful is emitting less helpful errors than resthandler"
If go-restful detects a particular method is not allowed, it will return this error:
[code]

That is preventing useful methods that resthandler would generate from making it to the client. Expected response:
[code]

[2015-02-11 21:36] erictune opened #4348 "Revisit kubectl template language"
`kubectl -h config view` says
[code]
but it doesn't say what the template language is.

[2015-02-11 21:38] erictune commented on #4348
I think it is go package "text/template" but that is not going to be obvious to everyone.

[2015-02-11 21:41] erictune opened #4349 "get-password doesn't work if you don't have a current-context"
cluster/gce/util.sh contains function get-password.
This uses a template which gets the current context.
But a user who has not yet used the kubectl contexts feature has no context set.
This causes a nil pointer deref while evaluating the template.

@jlowdermilk

[2015-02-11 21:42] liggitt commented on #4347
triggered with `curl -X PUT $HOST/api/v1beta3/events/foo`

[2015-02-11 21:54] erictune commented on #4349
I think kube-up creates the needed entries in the .kubeconfig file.  But it calls get-password before it does that.  Need to allow the kubectl config view command to fail.

[2015-02-11 21:58] vmarmol commented on #4142
There is a PR out for this upstream spf13/cobra#48

Lets wait on that to be merged and we can update our dep.

[2015-02-11 22:02] erictune commented on #4349
okay, I have a fix.

[2015-02-11 22:04] brendandburns commented on #4348
Yeah, template is the go template language, which is decidedly hard to use.

We should definitely document this lineage and add some examples (and
consider using something more intuitive as well...)

Brendan
On Feb 11, 2015 1:38 PM, "Eric Tune" <notifications@github.com> wrote:

[2015-02-11 22:17] vmarmol commented on #4142
Upstream patch merged (just needed a +1 :) ), will update the deps in a PR.

[2015-02-11 22:35] thockin commented on #4127
Is this the backtrace that comes from kubelet/server.go func (s *Server)
ServeHTTP()?

Maybe we need better log messages indicating WHY it is stack dumping and
maybe a better filter when when it should?

On Wed, Feb 11, 2015 at 1:24 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-02-11 22:38] davidopp commented on #4188
Dawn, my suggestion is that computePodStatus() should return the cached value whenever it gets an error from Kubelet. I can implement this if you want.

[2015-02-11 22:49] satnam6502 commented on #3760
Is this a P2? Might it be worth making it a P3 for now?

[2015-02-11 22:54] roberthbailey commented on #3123
With Ginkgo and the JUnit output we are now getting timing for individual specs. What remains to be done is to track the test durations over time to look for trends that point to performance degradations.

[2015-02-11 22:58] roberthbailey commented on #1277
Also see #3760 for a performance optimization of the kube proxy.

[2015-02-11 22:59] roberthbailey commented on #415
Monitoring of the master is covered by #1625.

[2015-02-11 23:00] roberthbailey commented on #297
@thockin @dchen1107 Is this still relevant?

[2015-02-11 23:06] dchen1107 commented on #297
This should be closed.

[2015-02-11 23:06] #297 closed

[2015-02-11 23:07] #4305 closed

[2015-02-11 23:10] zmerlynn opened #4357 "kube-addons may run before salt finishes writing templates"
I thought I had worked this out during development, but from an IRC report from @chromakode off a 0.10 GKE cluster, SkyDNS isn't starting. A bit of log trawling:

[code]

Maybe I closed #3323 too early?

[2015-02-11 23:12] yujuhong commented on #4188
@davidopp , why shouldn't updatePodStatus simply write through to the pod's status? I'd think either we always read the cached value first, or we always write through to the pod and read from there. Only reading the cached value upon an error seems counter-intuitive to me...

[2015-02-11 23:15] zmerlynn commented on #4357
@chromakode's gist with additional info: https://gist.github.com/chromakode/5896de3fde0ea5362be0

[2015-02-11 23:20] roberthbailey commented on #4348
+1 for something better than forcing text/template on our users.

[2015-02-11 23:21] a-robinson commented on #4239
I'm completely unable to reproduce this on version 0.10.0. Do you know which version of kubernetes you're running? You can find out by running`kubectl version`

[2015-02-11 23:25] #4349 closed

[2015-02-11 23:26] a-robinson commented on #4239
And this is less likely, but while you're at it can you double check that you're inspecting the correct container?

[2015-02-11 23:31] zmerlynn commented on #4357
(FWIW, this came up the next time, and we test this setup all the time using "Services should provide DNS for the cluster" https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/service.go#L41) but even if this is a low grade flake, I take a bit of a personal affront.)

[2015-02-11 23:34] chromakode commented on #4357
The cluster where SkyDNS didn't come up was created via the console at https://console.developers.google.com/project/weeby-challenge/kubernetes/add. It was a cluster size of 2 on us-central1-b.

[2015-02-11 23:34] zmerlynn commented on #4340
cc @brendanburns, since you were complaining about this yesterday.

[2015-02-11 23:43] erictune commented on #4334
When #4359 merges, users on the lagging platforms will no longer get service env vars in their pods.

[2015-02-11 23:44] erictune commented on #4176
When #4359 merges, boundPods won't have service env vars, which will reduce the size of boundPods.  Subsequent PRs will remove boundPods code entirely.

[2015-02-11 23:49] thockin commented on #3760
I'm hoping to make it work, but we may yet demote it

On Wed, Feb 11, 2015 at 2:49 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-02-11 23:51] roberthbailey commented on #4335
/cc @thockin

[2015-02-11 23:54] roberthbailey commented on #4324
That part of the interface was added by @brendandburns so he might be able to provide more insight than the comment that is on the function.

[2015-02-11 23:55] bgrant0607 commented on #4335
Please comment on #1768.

[2015-02-11 23:56] #4142 closed

[2015-02-11 23:59] ironcladlou commented on #4330
@brendanburns

pods, and schedules things that have an empty Host field.  I'll re-check
the code when I get back to my laptop.

I poured back over `plugin/pkg/scheduler` and couldn't see any supplementary polling, but I assume I'm just missing something. I'll follow up tomorrow. Thanks!

[2015-02-12 00:04] erictune commented on #3578
basically implemented in the new docs/getting-started-guides/README.md

[2015-02-12 00:04] #3578 closed

[2015-02-12 00:05] smarterclayton commented on #4330
I think we were only polling status, but we don't translate that into FIFO events.

----- Original Message -----

[2015-02-12 00:05] bgrant0607 commented on #4347
/cc @nikhiljindal

[2015-02-12 00:05] smarterclayton commented on #4330
The replication controller is resynchronizing everything every <time> in order to avoid this problem as well.

----- Original Message -----

[2015-02-12 00:08] roberthbailey commented on #3760
Doesn't "hope" equate to a P3 that we'll get to if we can?

[2015-02-12 00:12] kazegusuri commented on #4239
Hmm, I tried this again on other environment with a build of a current master branch, then I could reproduce it.
I tested with CoreOS on Vagrant and Ubuntu on bare-metal.

[2015-02-12 00:14] dchen1107 commented on #4188
@davidopp why do you computePodStatus returns a cached value here? The only place calls computePodStatus is updatePodStatus, which triggered by two operations: 1) periodically update all containers 2) the client asks for PodStatus, and there is no cached one, instead calling computePodStatus to retrieve one. I think a cleaner way is

1) Kubelet handles all the errors except this transient one. Of

[2015-02-12 00:14] bgrant0607 commented on #4330
@davidopp

[2015-02-12 00:15] bgrant0607 commented on #4331
Yes, let's use #473

[2015-02-12 00:18] chanezon commented on #4309
https://github.com/GoogleCloudPlatform/kubernetes/pull/4362 seems to fix it. It was an issue on AWS as well: if you reboot, flannel does not start because the StartPre task creating the etcd key is not idempotent.

[2015-02-12 00:19] vmarmol commented on #3425
The options are:

1. Detect the port from `/etc/kubernetes/apiserver`
2. Detect the port by trying `:8080` if none is specified
3. Add a `--port` flag
4. Clarify the documentation

I think (4) is the way to go (I'm not lazy I swear). (1) requires access to the API server's filesystem which is off-limits. (2) seems like it'll work for some configs and is a default that may change. (3) is more verbo

[2015-02-12 00:19] roberthbailey commented on #4331
Closing as a dupe.

[2015-02-12 00:19] #4331 closed

[2015-02-12 00:22] ghodss commented on #3894
So are we in fact saying that glog going to stderr is fine, and therefore this issue can be closed? Or should we parse out some glog messages (like info) to go to stdout? Just not clear on what actually needs to be changed here given the above thread.

[2015-02-12 00:27] mbforbes commented on #4009
@jasonkuhrt I can't seem to reproduce this, but I might not be taking the exact same steps you are.

Given that you first create a replication controller with an older version, then create a replication controller pointing to a newer version (I'm thinking specifically of your `0.2.16` vs `0.2.12` example above), how are you getting rid of the first one? Scheduling the same replication controller a

[2015-02-12 00:30] a-robinson commented on #4008
I haven't looked into the full context of where we're using mergo.Merge() yet, but json unmarshalling in Go appears to do exactly what we want. If you unmarshal json into a struct that already has some values filled in, the values will be overwritten where appropriate: http://play.golang.org/p/THl1k4eNrB

Is there anything not handled properly by that example?

[2015-02-12 00:33] satnam6502 opened #4365 "Multi-cluster setup in tension with fordwarding rules"
I have one cluster called `kubernetes` where I create a cluster which will create Kubernetes services like `elasticsearhc-logging` and `kibana-logging` with forwarding rules of the same name. Now I create another cluster `k20` in the same project but it also creates services for `elasticsearhc-logging` and `kibana-logging` and forwarding rules (in the same project) of the same name (as before). Is

[2015-02-12 00:35] roberthbailey commented on #4328
This event looks like it was from creating the nginx container in your pod named php because the "fieldPath" identifies a specific container from the pod spec ("spec.containers{nginx}").

From https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1071:

	// Optional. If referring to a piece of an object instead of an entire object, this string
	// should contain i

[2015-02-12 00:39] roberthbailey commented on #4365
I recall this being a known issue, but I'm failing to find the github location where this is documented...

[2015-02-12 00:45] davidopp commented on #4188
@dchen1107 I didn't understand "if there is an error from kubelet, it should be transient; and if there is a cached one, simply return cached one upon request; if no cached one, it should be generated by computePodStatus in next round." If you're talking about the caching in the podCache on the master, then what you wrote is exactly what I was suggesting. (If you're talking about some kind of cach

[2015-02-12 00:47] roberthbailey commented on #4335
Redirecting you to #1768.

[2015-02-12 00:47] #4335 closed

[2015-02-12 00:49] roberthbailey commented on #4019
Is this still a problem? @smarterclayton has made some fixes to the local-up-cluster.sh recently.

[2015-02-12 00:49] yujuhong commented on #4188
@dchen1107 and @davidopp, here is my understanding. Correct me if I am wrong.

UpdateAllContainers periodically updates all containers, but it gets the initial pods from etcd through this line `pods, err := p.pods.ListPods(ctx, labels.Everything()) `.

1. For each `pod` from `pods`,  UpdateAllContainers calls `updatePodStatus`
2. `updatePodStatus` passes `pod` to `computePodStatus`.
3. `computePod

[2015-02-12 00:50] vmarmol opened #4366 "kubectl run should support run-once commands"
When I run the simplest form of `run-container`:

[code]

I expected this to be a one-time pod (it is a command I was running to test HTTPS connections and exits quickly). However, in reality it created a replicaController pod. According to the examples in kubectl.sh:

[code]

I was expecting to need to use the `--replicas` flag in order to get that behavior. Is this intended? The implementation c

[2015-02-12 00:53] mikedanese commented on #4008
@a-robinson I played around with that idea when I submitted this and I got my failing tests to pass here https://github.com/mikedanese/kubernetes/commit/3f44440d9a3a6bf309c08e13d35306f53a99e9e8. I wasn't convinced that this was a final solution because it still does not allow us to update fields to default values e.g. `false` or `0` or `""`. This is because the patch went form `v1beta* json -> api

[2015-02-12 00:54] jlowdermilk commented on #4365
In order to have 2 working clusters in the same gce project, you either need to manually specify distinct MINION_IP_RANGES, or else put them in different networks. This is the workaround that allows a kubernetes and e2e cluster to coexist within one project (kubernetes cluster runs on 'default' network, e2e cluster on 'e2e' network). If the clusters are in different networks they can have identica

[2015-02-12 00:54] roberthbailey commented on #4366
/cc @jlowdermilk @brendanburns

[2015-02-12 00:56] smarterclayton commented on #4019
Memory nuke is very common.  We can limit the build parallelism by an env var if necessary.

[2015-02-12 00:59] roberthbailey commented on #2284
Hi Allen, I'm going to close this issue as obsolete (partly because we don't use kubecfg any longer -- it's been replaced by kubectl) and because it hasn't been updated in a couple of months.

[2015-02-12 00:59] #2284 closed

[2015-02-12 00:59] vmarmol commented on #4231
There was some discussion about having a "cluster-services" namespace to run this under. Do we consider that a good solution for this?

[2015-02-12 01:08] jlowdermilk commented on #4365
That wasn't really an answer. In answer form:

Yes, if the forwarding rules need to be distinct if the clusters are in the same network. However, putting 2 clusters in the same network breaks anyway, unless you manually assign distinct MINION_IP_RANGES for them.

That being said, it's probably still worth qualifying forwarding rules with the cluster prefix if it's not too hard.

[2015-02-12 01:09] brendandburns commented on #4366
It is intentional.  Without a replication controller, a machine failure
would permanently kill the pod.  I believe the replication controller more
closely matches the user's expectations.  (And is consistent with the
--replicas=n behavior)

Brendan
On Feb 11, 2015 4:55 PM, "roberthbailey" <notifications@github.com> wrote:

[2015-02-12 01:11] jlowdermilk commented on #4366
IMO, that behavior is intentional and desired. `kubectl run-container` is supposed to provide a friendly default. Creating a pod that disappears if e.g., the node goes away, is not a friendly default.

I would be open to adding a flag to make run-container create a single-use pod though; `--no-restart` as a strawman.

[2015-02-12 01:12] satnam6502 commented on #4365
Well then we should document "only instantiate one Kubernetes cluster in
one GCE project" or do special things yourself at your own risk. Or make
these special things easier to do and supported (and then things like e2e
can benefit from them).

For me, it's annoying not being able to run multiple clusters in one
project. I have one specific project with large negotiated quota and it is
the only pr

[2015-02-12 01:13] roberthbailey commented on #3188
Brendan, did you follow up with Brayden and if so what was the resolution?

[2015-02-12 01:14] vmarmol commented on #4098
Sorry, didn't realize it was assigned until after I had the PR ready :P

[2015-02-12 01:14] roberthbailey commented on #3218
Paulo, is this still an issue or can we close it (since it's a month old and there have been no comments)?

[2015-02-12 01:20] roberthbailey commented on #3946
Derek said he was closing this issue but apparently forgot to close it. :)

To reiterate, please reopen if you still see problems.

[2015-02-12 01:20] #3946 closed

[2015-02-12 01:23] roberthbailey commented on #4332
Reading through the documentation (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L737) I don't find the purpose of this field clear.

Assigning to @thockin to clarify (and possibly update the docs).

[2015-02-12 01:26] a-robinson commented on #4332
ContainerPort is used to decide which of the container's ports should be used by the service in case a container has multiple ports. For example, in our Cassandra example, the [cassandra container](https://github.com/GoogleCloudPlatform/kubernetes/blob/180108b5f927327c309ed67ae9050648ad71d5d7/examples/cassandra/cassandra.yaml) opens up two different ports. The [service config](https://github.com/G

[2015-02-12 01:26] bprashanth commented on #4127
I've actually witnessed something that looks a little more invidious, with a similar stack trace.

[code]

The kubelet goroutine will crash if asked for the status of a ghost pod (i.e /api/v1beta1/podInfo?podID=&podNamespace=). I can reproduce it with the following test (it's fairly hacky): https://gist.github.com/bprashanth/8a49d750b1a867e6f65e

When it happens kubectl displays several (typically

[2015-02-12 01:31] vmarmol commented on #4366
Intended usecase SGTM. I will send a PR to specify a "single-replica instance" in the example.

+1 to a single-use pod. The intended usecase was that the single-use pod "finish" and I could use its output, in my case to verify the behavior. By default we'd restart pods that "finish" so this may not work as I expected anyways.

I'm fine with closing this issue or re-purposing it for the single-use

[2015-02-12 01:33] fabioy commented on #3402
Issue doesn't repro. Stood up a new GKE instance and did a describe on all the services. No OOM error. Closing issue.

[2015-02-12 01:33] #3402 closed

[2015-02-12 01:34] jasonkuhrt commented on #4009
@mbforbes Yes I was just deleting like you say, `kubectl delete rc cloud-api-stream`.

[2015-02-12 01:52] jlowdermilk commented on #4298
After some experimentation, I have to retract the above proposal. .kubeconfig extensions can't be used to store arbitrary values, at least not using `kubectl config set`.

So the first bullet is to implement something like what was proposed in #3525. I do still intend to make cluster/kubectl.sh report the current context and cluster; also need to update all providers to set config in their kube-up

[2015-02-12 01:55] jlowdermilk commented on #4365
I agree. It's an issue we solved for GKE, but we should make it easier on GCE, even if just for dev purposes.

[2015-02-12 01:57] yujuhong commented on #4127
The ghost pods you observed may be from the race condition between pod scheduling and deletion (see #3950). I have a PR #4326 that should stop the ghost pods from being created. The root cause of the race condition, should be addressed in another issue #4188.

I think this bug is about when to dump the stack trace and add more clarity, like @thockin suggested.

[2015-02-12 02:01] smarterclayton commented on #3894
The glog prefixes on CLIs are terrible.  Unless you're at --v=3 or higher writing the standard glog gorp to the screen is abusive to new users.

[2015-02-12 02:07] cjcullen commented on #4083
After learning about swagger for a day...

It looks like we should probably make basePath = "http://kubernetes.io/swagger-spec"
If that is the right way to go, we could just replace the localhost apiserver URL with the kubernetes.io one in the swagger generation script.

I can't find anything wrong with how publicIPs are defined, and it is especially confusing that it is complaining about using on

[2015-02-12 02:41] kazegusuri commented on #4239
Investigated a little, I found environment variables of the BoundPod  in etcd were cleared after updating a pod.
Service envs are set by `boundPodFactory.MakeBoundPod` via `assignPod` at first creation, but those are not set on updating pod [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/f9a4471ecae87f0f8928ad4e1243397ade871094/pkg/registry/etcd/etcd.go#L265-L271).
Maybe related to #

[2015-02-12 02:42] liggitt commented on #4347
/cc @mnagy

[2015-02-12 03:11] Fandekasp commented on #4046
Got some progress on this issue:

[code]

The https handshake fails, but querying on port 443 directly works.

[2015-02-12 03:28] derekwaynecarr commented on #4347
Is the right fix to update the client to generate the message versus changing the server to allow the method and report the error?  My bias is to improve the client and not change the server as it makes reading our swagger doc easier to not see a bunch of verb unsupported entries.

Sent from my iPhone

[2015-02-12 03:49] satnam6502 commented on #4365
Using a separate network for each cluster might be the least worst of all
the evils.

S

On Wed, Feb 11, 2015 at 5:55 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-02-12 03:58] derekwaynecarr commented on #3946
I did not have permission to close it. And adding fixes after a PR merges doesn't do the trick either.  Either way, this is fixed.

Sent from my iPhone

[2015-02-12 04:35] satnam6502 commented on #4298
Power to you. Let me know how I can help. Although I am working on a P1 fixit bug for the next week.

[2015-02-12 04:45] satnam6502 commented on #4231
The agony that @jlowdermilk and I are discussing at #4298 is perhaps relevant.
How about for each cluster:
* A distinct network for the "system" cluster level services like monitoring and logging? This would allow us to instantiate multiple clusters in the same GCE project (perhaps similar arguments for other providers?).
* A separate namespace for cluster "system" services?

S

[2015-02-12 05:11] nikhiljindal commented on #4347
My bias is also towards not changing the server to keep swagger spec
correct.

By changing the client, do you mean changing kubectl?

@Jordan: can you please clarify how is the json useful to client? It does
not contain any useful extra information.
On Feb 11, 2015 7:28 PM, "Derek Carr" <notifications@github.com> wrote:

[2015-02-12 05:18] jdef commented on #4103
Any objection to a PR implementing my proposal? I'm happy to do the work.

[2015-02-12 05:25] pietern commented on #4334
Thanks for the heads up, I'll check this out for vSphere before Monday.

[2015-02-12 05:50] erictune commented on #4046
Wonder if this is similar to #4290

[2015-02-12 06:09] smarterclayton commented on #4103
You'll probably want to do it on top of #4248 (or after it lands) since that code path is changing significantly.

[2015-02-12 06:33] roberthbailey commented on #4365
It's certainly the least work, as you can see from how little had to change to get the e2e cluster isolated.

[2015-02-12 06:50] chromakode commented on #3965
I'm seeing this behavior on two clusters I created today on Google Container Enginer. Deleting a pod manually does not detach the disk and deletes the files.

Blew away all of my data -- I was migrating from a persistentDisk in an older cluster. :scream: Luckily I had a backup.

[code]

[2015-02-12 07:29] a-robinson commented on #4218
Using the default gateway as in @thockin's playground code with fallbacks as needed sounds good to me, for what it's worth. The majority of users (particularly cloud users) shouldn't need to worry about configuring this stuff.

The only caveat I'd have is that it'd be nice to verify it works on standard AWS and Azure instances before running with it.

[2015-02-12 07:29] a-robinson commented on #4239
@erictune, have any thoughts on what's going on here?

[2015-02-12 07:31] pires commented on #3218
Never got back to it. So yeah, go ahead.
On Feb 12, 2015 1:15 AM, "roberthbailey" <notifications@github.com> wrote:

[2015-02-12 07:36] brendandburns commented on #3965
Ugh!  Sorry about that!  Is this on 10.1?

I'll take another splunk through the code.  I was fairly certain we now
guard the remove call sites...

Brendan
On Feb 11, 2015 10:51 PM, "Max Goodman" <notifications@github.com> wrote:

[2015-02-12 07:39] HackToday commented on #4019
I just enlarge my memory, and it worked. I did not try  @smarterclayton fix, is it for this issue ?

[2015-02-12 07:50] chromakode commented on #3965
The server is running 71e26cbeb9c0bf1b6cc4c29b1f9d930e53513911 (which is what Google Container Engine created this evening), which appears to be after #3967 but doesn't include the fixes in #4093 and #4076. This is affecting my new clusters in production on GCE.

[2015-02-12 10:10] abonas commented on #4332
@a-robinson thank you for the clarification and the fix.

So the container port is actually the port on the "target" part, and not of the service itself, right?

[2015-02-12 13:46] ddysher opened #4379 "Unable to publisth event from node"
[code]

event namespace is different than node namespace, even though event namespace is set to node namespace.  We are still having problems with node namespace.  I'll take a look.

[2015-02-12 15:05] sdminonne opened #4380 "kubectl delete <resouce> remove all resource types blindly"
Hi, running
kubectl delete pods remove immediatly all the pods. My understanding is that the behavior of builder/visitor is good for kubectl get <resource> but not for delete command.
If no label selector is supplied all the resources (via Everything() func) will match.

See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/resource/builder.go#L218

I wrote a PR that I'm go

[2015-02-12 15:06] sdminonne commented on #4380
Please have a look at this https://github.com/GoogleCloudPlatform/kubernetes/pull/4381

[2015-02-12 15:18] smarterclayton commented on #4019
My fix was not for memory, no.  I think this can be marked as closed then?

We can reopen if our memory use starts to creep up to 4GB (which is the travis limit)

[2015-02-12 15:18] brendandburns commented on #3965
Ok, yeah we are in the process of getting 10.1 rolled out to GKE.  I hope
it will be out today.

Brendan
On Feb 11, 2015 11:50 PM, "Max Goodman" <notifications@github.com> wrote:

[2015-02-12 15:33] brendandburns commented on #4028
I'm going to re-open this.  It's still only 81% successful in 100 runs according to Jenkins.

That's below my acceptable threshold for flakiness...

[2015-02-12 15:48] #4098 closed

[2015-02-12 15:49] simon3z opened #4384 "IPAddresses reported by the Cloud Providers are ignored"
Currently nodecontroller uses the node name to check the health:

    // checkNodeReady checks raw node ready condition, without transition timestamp set.
    func (s *NodeController) checkNodeReady(node *api.Node) *api.NodeCondition {
            switch status, err := s.kubeletClient.HealthCheck(node.Name); {

is this by design? How many other parts of kubernetes are making this assumption?

This

[2015-02-12 15:53] saad-ali commented on #3391
Closing with PR #4373 -- adds more detailedlogging

[2015-02-12 15:54] #3425 closed

[2015-02-12 15:56] satnam6502 commented on #4028
Indeed, 19 failures in the last 100 runs makes it the least stable e2e test although TestPrivate is not far behind (flakiness due to pod status).

[2015-02-12 16:22] zmerlynn commented on #4028
TestPrivate doesn't exist anymore. That test is now "ReplicationController blah blah blah private repo". The stability plugin may be screwing up reporting when a test falls off, something we'll have to check.

[2015-02-12 16:34] vishh commented on #3391
I think this issue is not fully resolved. I only fixed the logging part. I haven't looked at other parts of kubelet yet.

[2015-02-12 16:36] ddysher commented on #4379
The problem is actually multi-level.

tr;dr  We need to fix event namespace to handle NamespaceNone

In apiserver, when a resource is created without namespace in path or in query param, we set it to api.NamespaceDefault.  This happens at URL parse time, before touching RESTStorage.  It is then passed down using context object.

When control goes to node RESTStorage, the create stategy says node s

[2015-02-12 16:38] ddysher commented on #4379
We can also fix it by equiping event rest with create strategy.

[2015-02-12 16:58] smarterclayton commented on #4384
In the long run, I would assume node names would ideally be a bit more stable than hostname - maybe we should add an optional spec field to Node which is a string or set of strings representing the address it's reachable on.  Or maybe we should just add Node health checks (liveness probes) like Pods do, and force the code to do that probe.

[2015-02-12 17:12] #3218 closed

[2015-02-12 17:46] satnam6502 commented on #4028
Yes, I know, I just used the name that I know it by. I look at the console logs. I see pods failing to schedule.

[2015-02-12 17:47] a-robinson commented on #4332
Yes, precisely.

[2015-02-12 17:49] a-robinson commented on #4019
Agreed. Closing.

[2015-02-12 17:49] #4019 closed

[2015-02-12 18:04] liggitt commented on #4347
Returning an API response would allow clients that expect API status to get nice messages for free, instead of spitting this out:
[code]

We can certainly put the burden of interpreting 405 errors on all clients, just seemed nice not to.

Also, since the resthandler code expected to be returning API status responses when the method wasn't supported, I wanted to make sure having go-restful intercep

[2015-02-12 18:07] zmerlynn commented on #3694
I was just glancing at this test to see how crunchy it was to port. One of the sad things would be abandoning `kubectl rollingupdate`, so if we do port this, I think we should definitely go through the `RollingUpdater` to make sure it stays tested.

[2015-02-12 18:10] derekwaynecarr commented on #4347
This was an unintended side effect, but I think the old behavior was an unexpected luxury?

I agree from the end-user perspective, the old message was nice, and it's great that the client was politely told that a given verb was not supported on the resource, but I don't agree that a server should appear to accept a method to only report that its not allowed.

----- Original Message -----
From: "Jo

[2015-02-12 18:17] roberthbailey opened #4388 "Question about ResourceQuota objects"
Question from Frank on google-containers@googlegroups.com:

Hi all,

Consider the file below, I feel confused about the 'resourcequotas' filed in resource-quota.json file.

{
  "id": "quota",
  "kind": "ResourceQuota",
  "apiVersion": "v1beta1",
  "spec": {
    "hard": {
      "memory": "1073741824",
      "cpu": "20",
      "pods": "10",
      "services": "5",
      "replicationcontrollers":"20",

[2015-02-12 18:19] roberthbailey commented on #3694
That reminds me... @jlowdermilk Do we have an issue yet to add an e2e test to specifically test kubectl?

[2015-02-12 18:23] jlowdermilk opened #4389 "Write an e2e test that specifically tests kubectl functionality"
As #3130 nears completion, we want to make sure that kubectl coverage isn't lost by moving to go tests.

[2015-02-12 18:23] jlowdermilk commented on #3694
We do now: #4389

[2015-02-12 18:25] liggitt commented on #4347
If we want to leave go-restful returning that as an intended and considered side-effect, that's fine. Is the consensus that this issue should change to update kubectl to show a nicer message for that error?

[2015-02-12 18:28] roberthbailey commented on #3694
Thanks.

[2015-02-12 18:34] derekwaynecarr commented on #4388
For some background on this, see the design document here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/admission_control_resource_quota.md

I will pull the pertinent piece here for review:

A ```ResourceQuota``` is intended to support the ability to cap the total amount of compute resources (cpu/memory) that is consumed by pods in a ```Namespace```.  In addition, it

[2015-02-12 18:36] derekwaynecarr commented on #4347
I think so, this is only going to get worse when we support specific types of verbs on specific resources.  In practice, it seems fine for kubectl to give a better error specific to the method not allowed response.

----- Original Message -----
From: "Jordan Liggitt" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>

[2015-02-12 18:40] satnam6502 commented on #3694
I am unassigning myself from this for now. I expect to be working on the fixit for cluster level logging for several days so I'd rather not have this assigned to me while I can't give it attention. If it is still open later then I may try to take a crack at it.

[2015-02-12 18:48] bprashanth commented on #4127
I agree that this shouldn't be conflated with the ghost pod issue. So tldr sounds like there might be several scenarios leading to (possible malformed) urls causing kubelete goroutine stack traces, and we want clarity.

[2015-02-12 18:50] jasonkuhrt commented on #3431
I don't know if this is related but I just ran into something similar:

[code]

[2015-02-12 19:20] filbranden commented on #2862
This is awful...

`kubectl -s https://w.x.y.z version` doesn't work but `kubectl version -s https://w.x.y.z` does.

The problem seems to be that spf13/cobra is trying to find the command (`version` in this case) before parsing flags, so in effect it has code to "guess" what the flags are (anything starting with a `-`) and "skip" them to find the command. In this case, it's not skipping the `https:

[2015-02-12 19:22] erictune commented on #4176
still more work to do on cleaning up boundpods, but the specific target of this bug is fixed.

[2015-02-12 19:22] #4176 closed

[2015-02-12 19:46] #4332 closed

[2015-02-12 19:57] yujuhong opened #4394 "Docker version requirement is wrong"
The docker version requirement for starting a local cluster is documented [here] (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/locally.md) as `1.0.0+`.

I had docker 1.0.x installed on my machine and couldn't start a cluster. After examining the log, the health check sent to the nodes all failed. Manually sending the check showed that the docker version

[2015-02-12 20:00] cjcullen commented on #4083
If I'm understanding it correctly, that online validator only validates against the 2.0 schema, which would explain why it thinks we have several missing properties at the base level.

[2015-02-12 20:01] mbforbes commented on #4009
+cc @jlowdermilk

OK @jasonkuhrt stick with me here, I have a hypothesis for what might have happened. Let me know if any of this doesn't check out. Let's use `v1` as an old tag and `v2` as a new tag in this scenario.

0. `docker build --tag gcr.io/littlebits_electronics/cloud-api-stream:v1 .`
   `gcloud preview docker push gcr.io/littlebits_electronics/cloud-api-stream:v1`

   We build `v1`, tag

[2015-02-12 21:16] #4188 closed

[2015-02-12 21:24] dchen1107 commented on #4188
I have tested #4376 since last night. The flaps between Running, Pending and Unknown are gone for about 10 hour running 300 pods on 4 nodes except two scenario:

1) etcd issue:
cat kube-apiserver.log | grep "status to unknown"

I0212 20:18:30.119078   31254 pod_cache.go:175] node doesn't exist: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0] <nil>, s

[2015-02-12 21:42] brendandburns commented on #4394
We should update docs.  We require Docker 1.3.

The docker version requirement for starting a local cluster is documented
here
<https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/locally.md>
as 1.0.0+.

I had docker 1.0.x installed on my machine and couldn't start a cluster.
After examining the log, the health check sent to the nodes all failed.
Manually send

[2015-02-12 21:44] erictune opened #4397 "Automagic kubectl config merging causes hair loss"
I've been pulling my hair out trying get kubectl talk to my local cluster.
It seems that kubectl merges the local `.kubeconfig` file with values pulled down from the cloud.

I've done the following:
[code]
The `current-context` I just set is silently overridden.

Questions:
  - is this documented anywhere?
  - should kubectl merge in my GCE cluster when I set my cloud-provider to something else?

[2015-02-12 21:48] erictune commented on #4397
workaround is to use `--context=` flag to override the config file value.

[2015-02-12 21:48] erictune commented on #4397
but not a goot UX long term

[2015-02-12 21:49] erictune commented on #4397
@jlowdermilk

[2015-02-12 21:58] jlowdermilk commented on #4397
Someone else hit this as well: #4310. Better fix is to have the local-up script set a context, which I will try to add today. As for the overwriting behavior, it's documented in [docs/kubeconfig-file.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubeconfig-file.md), but based on what you describe, the intended load order is not working; local .kubeconfig should overwrite g

[2015-02-12 21:58] a-robinson commented on #4008
That makes sense. Any technique that passes data through one of the API structs is going to lose information about whether fields are set. Extra bookkeeping will be needed to track that.

In the meantime though, using json unmarshalling rather than mergo.Merge would at least be a simple fix for the case you brought up in the initial issue.

[2015-02-12 22:09] zmerlynn commented on #4389
This is probably a P1 after all the shell tests are ported.

[2015-02-12 22:14] saad-ali commented on #4394
Closed with #4398

[2015-02-12 22:14] #4394 closed

[2015-02-12 22:38] mikedanese commented on #4008
I can submit this as a partial fix if you think it's reasonable. If there is no objection, what I'd like to do is internalize struct merging responsibility to kubernetes, possibly pkg/util or pkg/util/merge and remove the dependency on Mergo since the embedded struct bug is very nasty and encoding/json will have much better test coverage. As far as `--patch` I think a satisfying final solution wou

[2015-02-12 23:28] pravisankar commented on #3885
I think ability to mark the node as deactived/decommissioned using kubectl gives flexibility to the user/admin to do node upgrades(security patches, software upgrades), node evacuation/custom pod migration.
To support this use case, may be we can add a new condition on the node, say 'NodeDeactivate'. When 'NodeDeactivate' status is set(Full), irrespective of NodeReady/NodeReachable condition statu

[2015-02-12 23:39] gmarek commented on #4196
I'm not sure if I correctly understood the code, so please correct me if I'm wrong. My take is that this kind of behaviour is inherent for current implementation. IIUC the workflow for 'get pods' calls List method from pod/rest.go consists roughly of two steps: getting the list of the pods from etcd in the form of running ListPodsPredicate(..) and then running GetPodStatus on PodCache for each pod

[2015-02-13 00:12] simon3z commented on #4384
+1 for reporting a set of strings representing the addresses

[2015-02-13 00:25] erictune commented on #4188
@dchen1107 up to you whether to reopen this issue or file new ones for new issues.

[2015-02-13 01:12] bgrant0607 commented on #4343
Yes, the goal is to support this for all commands.

[2015-02-13 01:17] bgrant0607 commented on #4008
Yeah, we really shouldn't be converting to the internal type in the client (#3955).

[2015-02-13 01:32] yifan-gu opened #4404 "Introduce container runtime abstraction"
In order to support other container runtime implementations like Rocket, we need to introduce a layer of abstraction for ```ContainerRuntime```.

Currently we have the ```DockerInterface``` as an abstraction for the Docker runtime. But the input/output parameters are very Docker specific.

IMO, we can refactor the ```DockerInterface``` to change its input/output, making them docker-unrelated. And

[2015-02-13 01:38] zmerlynn opened #4406 "Liveness probes busted"
`Pods should be restarted with a /healthz http liveness probe (Failed 5 times in the last 9 runs. Stability: 44 %)`
`Pods should be restarted with a docker exec "cat /tmp/health" liveness probe (Failed 3 times in the last 9 runs. Stability: 66 %)`

This test was ported in #4280. However, as much as I wanted to blame that hunk of code (because the stability of `TestLivenessExec` and `TestLivenessHt

[2015-02-13 02:08] ghodss commented on #1702
I've been looking at implementing this and have a question on step 4, "Diff the specified object with an existing object in apiserver." I am at the point where I have two `runtime.Object`s, one sourced from a local file and the second retrieved from the server. What is the best way to generically perform this diff between any two objects (e.g. both kube native objects and custom API objects)?

The

[2015-02-13 02:28] ddysher commented on #4384
The IPAddress right now is used to set Pod.HostIP.  (Feel like this is the only usage for now).

+1 for a set of addresses.  Also see #4324, which points out we need clarify different IPs.

[2015-02-13 02:59] bgrant0607 commented on #4282
@pythonpowerd This kind of sometimes-running, sometimes-not scenario doesn't fit well with our declarative model, unless there are well-defined trigger criteria, in which case we could potentially create a hook to invoke it. We've talked about doing that for initialization containers #831, for instance, and for pod-local cron #2156.

If you're going to run the container by hand, you might be inter

[2015-02-13 03:01] jasonkuhrt commented on #4009
@mbforbes thanks for trying to work through this! I believe my error may have been that the `pod` was never getting removed in the first place. Its a bit hard to tell from my previous comments and now I can't remember. Unless there is an obvious reproduction that someone can make I would understand if we close this for lack of clarity.

[2015-02-13 03:18] justinsb commented on #4384
This is indeed problematic: the e2e tests match pods by name (e.g. instanceprefix-minion-1...), but those names aren't resolvable on EC2 (where only ip-nnn-nnn-nnn-nnn works).  So the minion health checks fail.

I think we definitely need the internal IP (for the health check).  I'm pretty sure we also need the external IP: both for the e2e tests, and also because GCE uses the external IP.  The Na

[2015-02-13 03:22] bgrant0607 commented on #4135
NodeStatus should be collected from Kubelet or it should report it proactively -- whatever we do for PodStatus.

The scheduler should be resilient to rejections, in general, and choose a different node.

If we want the scheduler to respond to out-of-disk specifically, we should really plumb resource usage into the scheduler.

[2015-02-13 03:23] bgrant0607 commented on #4406
cc @mikedanese

[2015-02-13 03:29] bgrant0607 commented on #4332
v1beta3 hasn't had field descriptions added yet. That's another issue.

The v1beta1 description is:
`number or name of the port to access on the containers belonging to pods targeted by the service; defaults to the container's first open port`

What's not clear about that?

[2015-02-13 03:47] bgrant0607 commented on #4384
I agree that it makes sense to use Node.HostIP for the node controller to contact Kubelet.

With respect to #4324: We can add fields to v1beta1/2, and we can fix the field in v1beta3, in the internal representation, and in the internal cloudprovider interface.  A list of structs containing address and addressKind ("internal" or "external") SGTM. That would allow for multiple of each (e.g., v4 and

[2015-02-13 04:19] ddysher commented on #4384
Node.HostIP on gce is external IP right now.  I'd like to defer the change to health check a little bit.  It might increase latency and request count.

I'll start a PR to fix our ip data model.  Hopefully start on tmr if things work well with my project at work.

Related issues #4324, #2462, #3985

[2015-02-13 04:31] brendandburns commented on #4406
I noticed that in at least one of the failed runs, we tried to join the
network container of the pod that we had just killed.  There's something
weird going on, as we shouldn't even be killing the network container in
the first place.  I'm going to dig in a little more on this...

(And yes, the readiness refactor is a potential cause, will dig more...)
On Feb 12, 2015 7:24 PM, "Brian Grant" <notif

[2015-02-13 04:42] thockin commented on #4404
SGTM

On Thu, Feb 12, 2015 at 5:32 PM, Yifan Gu <notifications@github.com> wrote:

[2015-02-13 04:52] davidopp commented on #4135
Let's focus on what we need for 1.0, as there are various long-term debates we could get into here that aren't worth having right now. Making the scheduler resilient to rejections is not a 1.0 feature IMO. Nor is plumbing resource usage into the scheduler. I think we should go with what Dawn suggested for now, and then as soon as we have time change it to plumbing resource usage into the scheduler

[2015-02-13 04:59] ddysher commented on #4135
So the plan is to have Kubelet *patch* NodeStatus for out-of-disk condition? Or just report via some sort of metrics for other component to detect the problem?

I feel like the second approach is more in line with our current structure.  Kubelet is the authoritive place for pod status, not node status.  It is not the place to calculate reportable_free.  But practially, we'll have less letency if k

[2015-02-13 05:04] bgrant0607 commented on #3885
@pravisankar Discussion on #1535, #2315, and #2726 is relevant.

Status must be completely reconstructable based on observations. In order to express that the desired state is "deactivated", there would need to be a field in NodeSpec that indicates this. There can additionally be a NodeCondition that reflects the status.

I imagine we'll eventually want several flavors of this:
* stop: gracefully

[2015-02-13 05:09] bgrant0607 commented on #4103
Though it is also represented in PodStatus, Host is properly a field in the PodSpec.

Status must be completely reconstructable based on observations. The proposed Pod.Status.Annotations would not be. Furthermore, I don't think we should introduce another annotations field to Pod. I'd prefer to add a podAnnotations field to Binding, and then merge them into the pod. As for clearing the annotations

[2015-02-13 05:17] bgrant0607 commented on #4135
@davidopp I'm fine with a NodeCondition for now.

@ddysher Kubelet is absolutely the place to compute reportable_free.

Let's not introduce a new PodPhase. If a pod gets rejected, it can just be marked as Failed, with a more specific reason and message.

Let's not change healthz -- that's a generic probing mechanism used in multiple places. Any data reported back should be via an API handler.

[2015-02-13 05:32] davidopp commented on #4188
@dchen1107 I've also seen the "All the given peers are not reachable" message (see my second entry in this issue). I *think* that was what @thockin was referring to when he said "there is an etcd size limit you might be hitting too" but I may be mis-interpreting.

[2015-02-13 05:36] fgrzadkowski opened #4411 "Bringing down the cluster doesn't delete forwarding rules and load balancer for default services"
Bringing down the cluster doesn't delete forwarding rules and load balancer for default services running on GCE.

[2015-02-13 05:37] bprashanth commented on #4127
The stacktrace with `serveStats` is happening because we find the pod and not the container (i.e the application container in the pod either dies or hasn't started yet between `kubelet.GetPodByName` and `cadvisor.GetContainerInfo`, so we only find the pause container, not the application). In either case I think it's appropriate to return `http.StatusNotFound` (404) directly from the handler and s

[2015-02-13 05:52] satnam6502 opened #4412 "Commit fails on gendocs error"
This keeps happening to me.

[code]

[2015-02-13 06:12] roberthbailey commented on #4411
We've informally talked about adding some sort of cluster shutdown hooks to the master and having the teardown code notify the master that is going to be destroyed.

[2015-02-13 06:34] satnam6502 commented on #4412
After synching to HEAD, doing a make clean and then a rebuild I get:
[code]

[2015-02-13 06:35] satnam6502 commented on #4412
I'll just tgz the files on my MBP an email them to myself and unpack them on my work machine and check them in there. But it would be good to know how to become less of a caveman.

[2015-02-13 06:44] bgrant0607 commented on #4166
Fixed by #4241. Re-open if not fixed.

[2015-02-13 06:44] #4166 closed

[2015-02-13 06:46] bgrant0607 commented on #1366
#4241 made the node controller delete pods. Reducing priority of the fancier solution.

[2015-02-13 06:49] davidopp commented on #4166
Brian said this issue is fixed, though I didn't see any direct comment to that effect after Brendan's re-opening (and I haven't had a chance to test it).

[2015-02-13 06:52] m1093782566 commented on #4388
Hi Derek,

Thanks for your explanation, I have got my answers. However, why `kubectl describe quota` doesn't show the `Used` and `Hard` information of `resourcequota` like `pods` below?
[code]

--
Frank

[2015-02-13 06:53] bgrant0607 commented on #4404
SGTM, too.

We should also discuss API changes necessary to accommodate multiple container formats. We're about to finalize v1beta3.

[2015-02-13 06:55] bgrant0607 commented on #4166
#4241 was merged a few days ago. It referenced #1366, but not this issue.

[2015-02-13 07:04] bgrant0607 commented on #1535
Not directly related, but of interest may be Aurora's approach to graceful shutdown notification to the actual process:
http://aurora.incubator.apache.org/documentation/latest/user-guide/#user-content-http-health-checking-and-graceful-shutdown

We should document what we do, also (pre-stop hook, then docker stop).

[2015-02-13 07:31] nelcy opened #4413 "Successfully ran containers restarting after purging oldest containers"
Successfully ran containers with "onFailure" restartPolicy are restarting after purging oldest docker containers.

Kubelet purges/removes oldest containers periodically from docker.  After purging, we loose the exit code and history of previously ran containers and restart containers as if they were never run.

[2015-02-13 08:43] simon3z commented on #4384
@smarterclayton  @bgrant0607 using ip addresses to contact kubelet instead of the hostname could be problematic for the certificate validation? (which specifies the hostname)

[2015-02-13 10:59] kbeecher opened #4414 "Pods cycling endlessly through Pending and Running in Guestbook example"
I am trying to get the guestbook example (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md) working on a local vagrant cluster using Kubernetes v.0.10.1.

If you follow the guestbook tutorial, you initialise a cluster with one minion. In this case, when you create the two redis-slaves, only one gets attached to the minion and the others are unassigned. The

[2015-02-13 11:11] pires opened #4415 "0.10.1 and a lot of pods in Unknown state"
One of my best test-cases for each Kubernetes release is to assemble and query an [Elasticsearch cluster](https://github.com/pires/kubernetes-elasticsearch-cluster). Right now, with ```0.10.1``` I see a lot of pods in ```Unknown``` state but assigned to minions. Curiously enough, I ssh into minions and look for Docker logs and I see some containers that ran once but shouldn't have run in the first

[2015-02-13 11:12] pires commented on #4414
I'm having all sorts of strange behavior with 0.10.1 as well in #4415. Can you try with ```0.9.2``` instead?

[2015-02-13 11:14] kbeecher commented on #4414
@pires The versions I've already tried with are: 0.9.3, 0.9.2 and 0.10.1.

[2015-02-13 12:45] mbforbes commented on #4009
No worries at all! Please reopen post haste if you can repro and I'm happy to help more.

[2015-02-13 12:45] #4009 closed

[2015-02-13 12:45] deads2k commented on #4397
That sounds infuriating.  I'll take a look this morning.

[2015-02-13 12:53] derekwaynecarr commented on #4388
Which provider are you using?

[2015-02-13 15:19] brendandburns commented on #4414
Karl,
Chances are that your pod containers are crashing.  Can you try kubectl log
<pod> <container-name>

And see what it prints?

Join us on irc #google-containers for more interactive debugging.

@pires, can you file issues on the problems you're seeing with 0.10.1?

Thanks!
Brendan
On Feb 13, 2015 3:15 AM, "Karl Beecher" <notifications@github.com> wrote:

[2015-02-13 15:21] brendandburns commented on #4415
Will dig into this and try to repro.  0.10.1 passes our e2e tests...
Though we have found and fixed some bugs in pod status recently.

If you want the 0.9.3 binaries, I can def. push them today, let me know.

Brendan
On Feb 13, 2015 3:12 AM, "Paulo Pires" <notifications@github.com> wrote:

[2015-02-13 15:27] pires commented on #4414
@brendanburns you just saw it but #4415.

[2015-02-13 15:28] pires commented on #4415
@brendanburns just for the sake of testing with 0.9.3 and limit the changelog window for future debugging, yeah do it, please.

[2015-02-13 15:46] smarterclayton commented on #4384
Fair point - communication to the kubelet from the master should be able to respect properly signed certs.  Ultimately it may be that the masters need to know what cert to validate the kubelets with, but that wouldn't be configured on the node unless we wanted that to be end user configurable.

----- Original Message -----

[2015-02-13 17:08] #4006 closed

[2015-02-13 17:11] #4397 closed

[2015-02-13 17:13] bgrant0607 commented on #4384
More weight behind #156.

[2015-02-13 17:18] smarterclayton commented on #156
David is going to open an issue on the security of the kubelet in general with a proposal to restrict the kubelet via TLS client certs.  We may also need to let the kubelet ask the master whether certain things are allowed which would be covered under his SubjectAccessReview proposal

[2015-02-13 17:24] thockin commented on #4127
Yeah, I don't think backtrace is useful for "real" conditions like not
found.

On Thu, Feb 12, 2015 at 9:37 PM, Prashanth B <notifications@github.com>
wrote:

[2015-02-13 17:32] thockin commented on #4188
That error is the etcd client's catch-all for "something went wrong" - it's
actually really bad that it obscures errors.

On Thu, Feb 12, 2015 at 9:32 PM, David Oppenheimer <notifications@github.com

[2015-02-13 17:36] thockin commented on #4188
https://github.com/coreos/go-etcd/issues/185

On Fri, Feb 13, 2015 at 9:32 AM, Tim Hockin <thockin@google.com> wrote:

[2015-02-13 17:38] brendandburns commented on #2178
Closing this as #4273 is merged.

[2015-02-13 17:38] #2178 closed

[2015-02-13 17:39] thockin commented on #1838
Now that docker 1.3 is our baseline, we should remove this from our configs.

[2015-02-13 17:45] nelcy commented on #4413
Thanks @dchen1107 & @vmarmol.

I can help fix this. Let me know. Thanks

[2015-02-13 17:47] bgrant0607 commented on #656
Proposal: apiserver should use the resourceVersion from the JSON only.

The client should automatically populate Etag and If-match from the resourceVersion for the benefit of intermediate HTTP components, such as caching reverse proxies.

The only actual storage-layer precondition we need to support is one based on resourceVersion.

We should also support operations based on UID, once we have a UI

[2015-02-13 18:10] bgrant0607 commented on #156
cc @erictune

[2015-02-13 18:18] thockin commented on #3894
This - all glog stuff < ERROR should be silent unless -v is set, though we
can debate the -v level impact

On Wed, Feb 11, 2015 at 6:02 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-13 18:22] vmarmol commented on #4413
Thanks for reporting @nelcy! Just to make sure I understand the issue:

You ran some containers with an "onFailure" restartPolicy. When the Kubelet purged old containers the container was restarted (unexpectedly).

[2015-02-13 18:23] alex-mohr commented on #156
@roberthbailey @cjcullen Robby and CJ have also been looking into securing the kubelet <-> master communication with TLS certs.  We definitely need to harden that path, but I think that's a separate issue than this one?

[2015-02-13 18:24] vmarmol commented on #4413
Ah, after reading again I think the issue is that after the containers are purged, when the container exits successfully it get restarted although it shouldn't. Is that correct?

[2015-02-13 18:29] smarterclayton commented on #156
@deads2k

----- Original Message -----

[2015-02-13 18:29] smarterclayton commented on #3894
Yeah, i just picked 3 randomly cause we said 2 is "normal" operation

----- Original Message -----

[2015-02-13 18:33] ghodss commented on #3894
Seems like the specific info message mentioned at the top of this ticket was removed in #3921. Combined with the fact that we don't plan on changing the current stdout/stderr split seems means we can close this issue. If we want to change glog prefixes we can probably make a new issue for that.

[2015-02-13 18:43] bgrant0607 commented on #156
This proposal was to change to unidirectional communication from kubelet to apiserver. If we replicated apiserver #473, I think that could work reasonably well, and would be inline with the approach used by other components, such as controller-manager and scheduler.

[2015-02-13 18:48] yujuhong commented on #3950
I am going to close this issue for now, since the main symptom is gone as far as I know. Please re-open it if you can reproduce the issue.

[2015-02-13 18:48] #3950 closed

[2015-02-13 18:49] brendandburns commented on #4415
v0.9.3 is pushed to the usual locations.

[2015-02-13 18:50] pires commented on #4415
Thanks. Will try and let you know.
On Feb 13, 2015 6:50 PM, "Brendan Burns" <notifications@github.com> wrote:

[2015-02-13 18:57] bgrant0607 commented on #2031
Fixed by #4263.

[2015-02-13 18:57] #2031 closed

[2015-02-13 19:05] satnam6502 opened #4426 ".kubeconfig is utterly confusing and we should stop using it"
This is "working as intended" as long as the intent is "utter confusion".

[code]

[2015-02-13 19:11] vmarmol commented on #4413
After reading through the code I found a bug in the implementation that is most likely causing this error. Should have a PR soon.

[2015-02-13 19:19] satnam6502 commented on #4426
@zmerlynn @filbranden

[2015-02-13 19:41] jlowdermilk opened #4428 "Merging .kubeconfig from multiple locations causes frustration and anger"
The fact that kubectl merges config from multiple .kubeconfig locations was neat in theory, but in practice it's surprising, confusing, and occasionally infuriating. See #4426, #4397. If it causes this much pain for k8s devs, it's likely unusable by average kubernetes users.

Proposal: get rid of kubectl loading from a local .kubeconfig, `--kubeconfig` flag, and `$KUBECONFIG` env var . If a user n

[2015-02-13 19:42] bprashanth opened #4429 "Sync status of replication controller via api server"
As part of #2726, everytime we create or delete a pod in the replication controller we should sync with the api server. Currently the api server recomputes this information, ideally it should just read and serve from memory.

@smarterclayton @bgrant0607

[2015-02-13 19:43] nelcy commented on #4413
Yes. Correct. After initial container run, it should never be run again, since it already ran to completion.
Will wait for your PR.

[2015-02-13 19:44] satnam6502 commented on #4428
I'd love to know what the profile of an "average Kubernetes user" is.

[2015-02-13 19:48] satnam6502 opened #4430 "Forwarding rules for services need to be qualified within project"
Now that I am working on an end to end test for cluster level logging we can easily get into the situation where there is a `elasticsearch-logging` service (and forwarding rule) for a regular user cluster *and* then one also is (attempted to be) created for the e2e cluster. Since the names are the sames this then causes a breakage and users end up taking to the wrong cluster. We need to agree on a

[2015-02-13 19:54] ghodss commented on #4041
Yes - this isn't a problem with the YAML library. This is a problem with trying to render a number larger than 32 bits (4026531840) as a 32-bit integer (IntOrString), which instead ends up rendering as a floating point. #2264 (or something that keeps this value as a 64-bit integer the whole time) is the right fix.

[2015-02-13 19:54] bgrant0607 commented on #4429
Depends on #4248.

[2015-02-13 20:02] bgrant0607 commented on #4366
Feel free to repurpose this issue.

When we add a controller for restart-on-failure pods #1624, run-container should create that controller as appropriate, as well.

[2015-02-13 20:07] yifan-gu commented on #4404
@bgrant0607 So I just added a container runtime interface in kubelet/container. By now it is same to DockerInterface. I think we can inspect each of the them to design the API we need.

[2015-02-13 20:11] bgrant0607 commented on #1996
General inter-container dependencies don't have well-defined semantics on updates and restarts, and would require checkpoints in Kubelet to implement correctly across Kubelet restarts, which we've so far avoided. Additionally, in my experience, this is a very slippery slope with a potentially very wide feature set for things like conditional triggers and error handling. I don't want BPEL in the Po

[2015-02-13 20:12] deads2k commented on #4428
#4397 was a straight up bug.  That was confusing because it didn't work right.

#4426 isn't quite as clear to me.  Is it just the fact that viewing a config shows a merged set of items whose provenance isn't made clear and so to figure out where any individual piece of configuration is coming from requires checking each of the four potential locations?  (By the way, that sounded a lot more reasona

[2015-02-13 20:14] bgrant0607 commented on #2726
We should ensure that watching status works once we've switched to this new mechanism.

[2015-02-13 20:15] bgrant0607 commented on #4113
Dupe of #2726 and #3692 .

[2015-02-13 20:15] #4113 closed

[2015-02-13 20:16] bgrant0607 commented on #4113
@jimmidyson Not yet, but working on it.

[2015-02-13 20:17] pires commented on #4415
0.9.3 works as well.

[2015-02-13 20:19] bgrant0607 commented on #4101
I agree with @thockin. Our internal RPC library logs in this case, and it's extremely spammy.

[2015-02-13 20:25] jlowdermilk commented on #4428
The problem with #4426 was that a previous command created a local .kubeconfig that did nothing but set current-context. The merge rules resulted in a behavior where you set an entry, and than view config and see that entry is not set (because the merging happens silently).

I think the merging is really what causes confusion, because it's a mystery where a particular config entry is saved and whe

[2015-02-13 20:38] bgrant0607 commented on #156
@yujuhong

[2015-02-13 20:49] yujuhong commented on #4135
I spoke to @bgrant0607 and @dchen1107. I will be looking at the master's side of code (scheduler, etc) and how kublet is going to convey the status to the master/nodeController.

[2015-02-13 20:54] bgrant0607 opened #4432 "Consider moving events out of etcd"
We've discussed this in person a few times.

Events account for the overwhelming majority of our etcd write volume, which is causing a variety of performance and stability problems (#3853, #3329, #2298, #3521, #4073).

Since we GC events, they can't be relied upon as a messaging mechanism. Distributed control components should be watching status instead. Also, we support hooks to facilitate user e

[2015-02-13 21:04] bgrant0607 commented on #3168
#156 is a proposal to make apiserver and controllers not contact kubelet. I am now in favor of that proposal.

[2015-02-13 21:07] bgrant0607 commented on #156
Related: #3168, #2435, #2303. All issues predicted by @jjhuff.

[2015-02-13 21:08] saad-ali commented on #4432
cc @dchen1107

[2015-02-13 21:12] vmarmol commented on #4413
@nelcy PR #4433 is out. This should fix the issue. Feel free to test if you can :)

[2015-02-13 21:13] vishh commented on #4041
@ghodss: The yaml library converts an `int64` into a `float64` as part of Marshal. Isn't that an issue with the yaml library? I agree that the kubernetes API has another issue which is that of not being able to represent resources greater than MaxInt. But to me these are two separate issues.

[2015-02-13 21:16] bgrant0607 commented on #4426
Could we please consolidate all the issues that gripe about .kubeconfig behavior?

this one
#4428
#4298
any others?

[2015-02-13 21:19] vishh commented on #4041
@ghodss: Even an int32 gets marshaled into a floating point number. I don't see how that is valid. The underlying golang `json` package has separate APIs to address this behavior and the YAML library will also have to do that.

[2015-02-13 21:19] pires commented on #4415
Once again, tried 0.10.1 and the issue is present.

[2015-02-13 21:21] markturansky commented on #1996
no need for this issue, then.  I'll close it.

[2015-02-13 21:21] #1996 closed

[2015-02-13 21:28] lavalamp commented on #4041
IntOrString stores things as "int", which is 32 or 64 bits depending on the platform. We should explicitly use int32 or int64 in our api objects.

These values should be stored as a Quantity in v1beta3, and converted to a string in v1beta1 & 2.

[2015-02-13 21:31] jlowdermilk commented on #3168
I think we still need a secure channel from apiserver to kubelet to do things like exec in a container and stream container logs.

[2015-02-13 21:32] vishh commented on #4041
@dbsmith: Ack

On Fri, Feb 13, 2015 at 1:29 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-02-13 21:34] lavalamp commented on #4432
To solve the short-term problem, we could just make a specific etcd cluster for events. We've talked about sharding the etcd key space like this before.

[2015-02-13 21:38] dchen1107 commented on #4188
@davidopp and @thockin Yes, that error message is cache-all error message, which need to investigation. In my particular case, it shouldn't be etcd size limits at all since we have that cluster built and upgraded more tha

[2015-02-13 21:39] jlowdermilk commented on #4412
I've encountered this once myself, and I think @roberthbailey had it happen as well. The time I've seen it happen is when I was running `hack/build-go.sh` in a screen session, which makes me think it's caused by brittle assumptions about gopath/env variables in either our build script or the go linker. It seems like you have a consistent repro though; what sort of dev environment do you hit this e

[2015-02-13 21:42] derekwaynecarr commented on #4432
@smarterclayton and I have discussed sharding on key type as well as a future solution to this type of issue.

[2015-02-13 21:43] bgrant0607 commented on #341
Things that remain to be done:
1. Introduce this into API objects that use selectors, using the proposal cited above
2. Extend labels.Parse to be backwards compatible with the exact-match syntax (k1=v1,k2!=v2)
3. Replace all calls to labels.ParseSelector with labels.Parse, by renaming the latter to the former, in List and Watch, in kubectl, and everywhere else.

[2015-02-13 21:44] satnam6502 commented on #4412
This is working directly on my MacBook Pro.

Satnam

On Fri, Feb 13, 2015 at 1:40 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-02-13 21:44] derekwaynecarr commented on #4432
I guess what I am curious on is if sharding events into a separate etcd cluster helps minimize etcd memory pressures, or is it just minimizing the issues around the etcd watch window?  I guess what I am wondering is if there is something unique about the write rate of events that makes etcd a bad fit.

And if that is the case, do we see any other resources with similar write rates?

[2015-02-13 21:45] brendandburns commented on #4415
If I send you a release tarball at head, can you test that?

Brendan
On Feb 13, 2015 1:19 PM, "Paulo Pires" <notifications@github.com> wrote:

[2015-02-13 21:46] bgrant0607 commented on #3168
Proxy/bastion cases. Fair enough.

[2015-02-13 21:49] bgrant0607 commented on #4426
And #4397

[2015-02-13 21:49] lavalamp commented on #4304
Let me steal this one from you, I think I can fix it.

[2015-02-13 21:50] derekwaynecarr commented on #3168
/cc @liggitt @deads2k

[2015-02-13 21:52] liggitt commented on #341
fyi @jwforres

[2015-02-13 21:52] derekwaynecarr commented on #4304
Have at it.  /cc me on your PR

[2015-02-13 21:55] bgrant0607 commented on #4231
@erictune

This has been discussed before, with respect to the kubernetes service: #3293

[2015-02-13 21:55] dchen1107 commented on #4432
I agreed that etcd causes a lot of issues to our stability, and agreed that events generates a lot of volume being written to etcd. I also agreed that sharding on key type might be the right approach to go.

But moving events out of etcd doesn't really solve our performance and reliability issues. See #4188 my last comment. I built a cluster last Friday, and scheduled 300 pods to 4 nodes. After a

[2015-02-13 21:55] lavalamp commented on #4304
Sorry, I see you've already got a PR out!

[2015-02-13 21:56] bgrant0607 commented on #341
This is not blocking v1beta3 finalization, but if someone completed it in the next couple weeks, I'd be very happy.

[2015-02-13 22:00] derekwaynecarr commented on #4231
The API now has a Namespace object.  The server currently mandates the existence of the "default" namespace.  We could mandate the existence of two namespaces "cluster-services" and "default".  I see no issue there.  I actually tend to agree with @thockin that if you just don't want to see it, create a different one.  If we create that different one by default, sure, no big deal.

One thing I woul

[2015-02-13 22:01] pires commented on #4415
I could build my own but for the sake of Friday laziness, please do.

On Fri, Feb 13, 2015 at 9:46 PM, Brendan Burns <notifications@github.com>
wrote:

--
Paulo Pires

[2015-02-13 22:04] derekwaynecarr commented on #4304
No problem.

I would be happy if you finished my PR relative to the commit I started.  It will be a few days before I can go back to looking at this issue.

I think v1beta1/v1beta2 proxy urls in go-restful need to always but the namespace scope in the path as the ultimate fix.

I do want the proxy to have access to the restmapper per my PR.

----- Original Message -----
From: "Daniel Smith" <notif

[2015-02-13 22:05] derekwaynecarr commented on #4432
@dchen1107 - I am curious to know what you find in this area.

/cc @danmcp

[2015-02-13 22:06] brendandburns commented on #4415
http://storage.googleapis.com/kubernetes-release/ci/v0.10.0-506-gb23230e/kubernetes.tar.gz

[2015-02-13 22:08] thockin commented on #4231
I think the idea that cluster stuff is in "default" is a ship that has set sail, left the harbor, and is probably well over the horizon.

[2015-02-13 22:09] thockin commented on #4041
If someone changed IntOrString to use int64 I would approve.

On Fri, Feb 13, 2015 at 1:32 PM, Vish Kannan <notifications@github.com>
wrote:

[2015-02-13 22:10] derekwaynecarr commented on #4231
@thockin - I am ok with that.  I do think if we update our examples to use a different namespace, that we need to turn on provisioning the namespace prior to usage requirement.

[2015-02-13 22:16] satnam6502 commented on #4430
I propose that I change the API server to use `INSTANCE_PREFIX` to qualify the name of the generated forwarding rule for the GCE platfrom.

[2015-02-13 22:16] vishh commented on #4041
@thockin: Assigned #2264 to myself.

[2015-02-13 22:18] thockin commented on #4430
Maybe pass it in to API server as --cluster-name or something?  Also
consider s/INSTANCE_PREFIX/CLUSTER_NAME/g

On Fri, Feb 13, 2015 at 2:16 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-02-13 22:20] bgrant0607 commented on #3476
I'd also like a configurable etcd prefix. I can't recommend putting data from multiple k8s clusters into a single etcd, but I could see other trusted components sharing the etcd cluster.

[2015-02-13 22:30] smarterclayton commented on #4432
I definitely would like to help resolve stability issues.  I think the watch window should really be solved upstream, and that we could (at worst) design a fix for it.

----- Original Message -----

[2015-02-13 22:30] bgrant0607 commented on #4103
See also #4375.

[2015-02-13 22:31] #4413 closed

[2015-02-13 22:38] bgrant0607 commented on #4347
We could consider submitting a PR to go-restful to allow us to provide an error-generation function or interface implementation.

[2015-02-13 22:43] smarterclayton commented on #4347
Yeah, that seems reasonable.

[2015-02-13 22:49] a-robinson commented on #2264
cc @fabioy

[2015-02-13 23:29] bgrant0607 commented on #4429
Even more motivation to do this: The etcd watch code is wrong. I missed it when I updated GET:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/etcd/etcd.go#L362

[2015-02-13 23:31] ixdy opened #4439 "hack/e2e.go -build hangs with older versions of docker"
When running hack/e2e.go -build with docker 1.0.1 installed, the calls to "docker run" hang waiting for stdin to be closed. Pressing enter or ^D will allow the scripts to continue. It seems this hang started occurring after #4226.

After upgrading to docker 1.5.0, the scripts no longer hang.

Should there be a version check in hack/e2e.go (or somewhere else reasonable, maybe build/common.sh) to ve

[2015-02-13 23:34] bgrant0607 commented on #2581
Closing in favor of #3476.

[2015-02-13 23:34] #2581 closed

[2015-02-13 23:40] dchen1107 commented on #4432
@derekwaynecarr and @smarterclayton will definitely sync-up with you on the status.

cc/ @lavalamp

[2015-02-13 23:42] quinton-hoole-google commented on #4288
@erictune Your thoughts about pmorle's suggestion above, before I dive in and try to fix this bug?  In summary which of the following approaches would you prefer?

1. Use the existing UndeltaStore?
2. Implement the Store proposed by you in #3521?
3. Do some other simplistic adjustment to the caching to incorporate the namespace into the cache key.

Note that I'm very new to the code base, so the a

[2015-02-13 23:49] thockin commented on #4288
I think the simplest fix is to just extend "name" to be "namespace/name" in
those keys?  I *think* that should suffice, no?

On Fri, Feb 13, 2015 at 3:42 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-02-13 23:52] pravisankar opened #4441 "Kubelet should report available resources for node"
Currently Node 'resources' field is optional. We may have few issues here:

1. When resources field is omitted for some nodes and not for others during node creation, nodes with empty resources is not preferred by the scheduler. So the pods are unevenly distributed. (One of my team member ran into this issue while testing the release)
2. When resources field is omitted for all nodes in the cluster

[2015-02-13 23:53] quinton-hoole-google commented on #4288
Yes, I was hoping that someone would confirm that.  I'll get going on the
basis of that assumption.

On Fri, Feb 13, 2015 at 3:50 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-02-13 23:53] lavalamp commented on #4288
I think we need, in a very general, obvious place, something like:

[code]

Which can be used for things like keys to maps. Appending stuff with slashes in a string is asking for bugs in the future.

[2015-02-13 23:56] derekwaynecarr commented on #4441
I would vote for 2.

I also want to get to a state where a pod will always let me know the resources it could consume or always apply same defaults.

Sent from my iPhone

[2015-02-13 23:56] thockin commented on #4288
https://github.com/GoogleCloudPlatform/kubernetes/issues/3731

On Fri, Feb 13, 2015 at 3:54 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-02-13 23:58] derekwaynecarr commented on #4288
I am fine with the key func approach in cache store

Sent from my iPhone

[2015-02-14 00:03] quinton-hoole-google commented on #4288
@lavalamp, agreed, except that "Identifier" is probably not right, as it's ambiguous with UID, which is a different thing entirely.

https://github.com/GoogleCloudPlatform/kubernetes/blob/556e59b5127ba5b3eef7a6c4a3f0d34db8924d9c/docs/identifiers.md

Perhaps FullyQualifiedName rather than Identifier?  QualifiedName?

[2015-02-14 00:04] lavalamp commented on #4288
QualifiedName works for me.

[2015-02-14 00:05] quinton-hoole-google commented on #4288
QualifiedName it is, unless someone objects soon.

[2015-02-14 00:14] pires commented on #4415
With this build the error doesn't show up *but* now I have no env vars in my containers. I'm probably needing some sleep and am messing up... but all I did was to recreate the cluster with the provided binaries.

[2015-02-14 00:17] thockin commented on #4288
We have a concept of qualified name already which does not QUITE match this.

Qualified name is:

 [ DNS_SUBDOMAIN "/" ] DNS_LABEL

This would be DNS_SUBDOMAIN "/" DNS_SUBDOMAIN - no optional prefix.

We have another half-deprecated concept of "fullname" which is
name.namespace, which is also not what we want here.

We could prefactor to s/FullName/JoinedName/g and then claim "FullName".

Or we co

[2015-02-14 00:20] pires commented on #4415
[code]

[code]

[2015-02-14 00:20] bgrant0607 commented on #2313
The initial version of this is done, and there's a separate issue for configurability.

[2015-02-14 00:20] #2313 closed

[2015-02-14 00:21] bgrant0607 commented on #1965
I believe this is done.

[2015-02-14 00:21] #1965 closed

[2015-02-14 00:27] dchen1107 opened #4443 "Integration test is flaky due to time out and pods not started"
Once a while, I saw the failure as the below, and re-run works

F0214 00:24:10.780696     700 integration.go:297] FAILED: pods never started running timed out waiting for the condition
!!! Error in hack/test-integration.sh:47
  '"${KUBE_OUTPUT_HOSTBIN}/integration" --v=2' exited with status 255
Call stack:
  1: hack/test-integration.sh:47 main(...)
Exiting with status 1
+++ Integration test cleanu

[2015-02-14 00:58] quinton-hoole-google commented on #4288
NamespacedName works for me.  It's explicit and unambiguous.

[2015-02-14 01:42] bgrant0607 commented on #4301
With respect to "annotations", as in the metadata field, we shouldn't use it for core functionality, such as this.

Note that multiple services may target a pod, though the likely scenario for that currently is either multiple ports or multiple addresses targeting the same set of pods.

@abhgupta As @mikedanese pointed out, see #4235 and https://github.com/GoogleCloudPlatform/kubernetes/blob/maste

[2015-02-14 01:47] brendandburns commented on #4443
Should we try upgrading e2e clusters to n1-standard-1?
On Feb 13, 2015 4:27 PM, "Dawn Chen" <notifications@github.com> wrote:

[2015-02-14 05:39] bgrant0607 commented on #1702
Fantastic!

We shouldn't be converting objects to the internal representation in kubectl #3955.

We need to record the set of fields we want to merge in an annotation #1201. Lots of things will be setting spec fields, not to mention metadata and status fields, so we just need to keep track of what the user cares about specifying declaratively.

Ideally we'd record the fields after applying general

[2015-02-14 05:41] bgrant0607 commented on #1702
BTW, I put a list of things that may mutate object fields here: https://github.com/GoogleCloudPlatform/kubernetes/issues/1502#issuecomment-70217263 .

[2015-02-14 05:42] bgrant0607 commented on #1502
This is mostly done. I did find a stray default:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/service/rest.go#L133

[2015-02-14 05:43] bgrant0607 commented on #1502
We should also document the approach in docs/api-conventions.md.

[2015-02-14 05:45] sdminonne commented on #341
@bgrant0607 I may submit relatively quickly a PR for the point 2 (extending labels.Parse) and I'm ready to finalize the point 3.

But I need more info for the point 1 (introducing in API objects): might you supply some pointers for this? Where is this actually handled with the current implementation of the selectors?

[2015-02-14 05:47] bgrant0607 commented on #1702
BTW, @ghodss, in case you missed it, I created a CLI roadmap: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md

Let me know if you have any questions or feedback.

[2015-02-14 05:58] erictune commented on #4288
Fine with fixing it the expedient way and later refactoring to a common library.  The bug that covers the latter is https://github.com/GoogleCloudPlatform/kubernetes/issues/3412.

[2015-02-14 06:01] erictune commented on #4288
@pmorie agree that you could use Reflector and UndeltaStore here, or the pattern discussed in #3521

[2015-02-14 06:06] bgrant0607 commented on #1702
On rolllingupdate:

It should be possible to indicate declaratively that the user wants a rollingupdate instead of an in-place update for a replication controller. The user would change the name of the replication controller, update the uniquifying deployment-specific label, and change whatever else they wanted to be updated (e.g., a container's image tag).

A rolling-update annotation on the new

[2015-02-14 06:21] erictune commented on #3168
Let's continue discussion of "exec in container and stream container logs" on #156

[2015-02-14 06:33] bgrant0607 commented on #341
Thanks, @sdminonne.

Re. the API: Copying my proposal from #2585:
[code]

These types would be defined in pkg/api/types.go and pkg/api/v1beta3/types.go. All selectors in v1beta3 (currently, NodeSelector in PodSpec, Selector in ReplicationControllerSpec, and Selector in ServiceSpec) would then use these types rather than map[string]string:
https://github.com/GoogleCloudPlatform/kubernetes/blob/mast

[2015-02-14 06:37] bgrant0607 commented on #341
@sdminonne I recommend doing (2), then (3), then (1). (2) and (3) would unblock #4417.

[2015-02-14 06:38] erictune commented on #156
On #3168,  @jlowdermilk said
*I think we still need a secure channel from apiserver to kubelet to do things like exec in a container and stream container logs.*

[2015-02-14 06:41] thockin commented on #156
Did the thundering herd suddenly stop being a problem?
On Feb 13, 2015 10:38 PM, "Eric Tune" <notifications@github.com> wrote:

[2015-02-14 06:44] erictune commented on #156
@thockin hold that thought...

[2015-02-14 06:53] bgrant0607 commented on #4441
In general, Kubelet should report node status. See #4135 for more discussion.

I'm happy with Kubelet reporting total/nominally available resources in status, also. If you want to implement this soon, we can discuss what the API should be exactly.

As discussed in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md, usage data should not be in node status, however. We'r

[2015-02-14 06:56] bgrant0607 commented on #4441
@derekwaynecarr Please file a separate issue if you want to discuss defaulting and/or auto-sizing pod resource requests/limits.

[2015-02-14 06:57] erictune commented on #156
We could still maintain unidirectional kubelet -> apiserver communication if we introduce a third server, a bastion for logs streaming and command execution and ssh sessions.

So, then the flow would be:
[code]
where `A --> B` means A is a client of B.

This has a couple of nice properties:
  -  maintains unidirectional kubelet -> apiserver comms.
    - helps with some things for Hosted kubernetes

[2015-02-14 07:04] bgrant0607 commented on #156
I like the proposal, @erictune.

@thockin Yes, I'm now convinced thundering herd is a manageable problem, because:
a) We could replicate apiserver, load balance, and maintain session affinity (kubelet->apiserver and perhaps apiserver->etcd), if necessary.
b) We could fuzz communication initiation times upon kubelet restarts.
c) Beyond a certain scale, we should shard into multiple clusters.

[2015-02-14 07:14] bgrant0607 commented on #4231
Will we have a mechanism for cross-namespace operations once authorization is enforced? If not, then cluster services will be out of luck, regardless which namespace they are in.

[2015-02-14 07:16] erictune commented on #156
Regarding @smarterclayton 's comment above about kubelet needing to "ask the master whether certain things are allowed".  The alternative to having the kubelet check for permission is to have users first explicitly enable an action they intend to do, by changing a special field on the Pod spec.    That could have some nice properties.

Here is how it might work:
  - User creates pod.  By default,

[2015-02-14 07:17] erictune commented on #156
What I haven't thought through in the last post is how to say "which user is authorized to SSH to this pod".

[2015-02-14 07:32] erictune commented on #4141
I'll either fix the CoreOS scripts so that the kubelets don't use etcd, or talk someone into doing it.  That will indirectly fix this issue  So, I'll pick up this issue.

[2015-02-14 07:52] M13Kd commented on #156
Let's merge repositories in UX DEVELOPMENT thanks. 

Sent from my MetroPCS 4G Android device

-------- Original message --------
From: Eric Tune <notifications@github.com>
Date: 02/14/2015  2:18 AM  (GMT-05:00)
To: GoogleCloudPlatform/kubernetes <kubernetes@noreply.github.com>
Cc: Michael Duggan <m13kd@aol.com>
Subject: Re: [kubernetes] Remove need for the apiserver to contact kubelet for current

[2015-02-14 08:18] sdminonne commented on #341
@bgrant0607 I'll do in this order thanks

[2015-02-14 09:23] bgrant0607 commented on #620
Readiness has been implemented. Yeah! Kudos to @mikedanese.

[2015-02-14 09:23] #620 closed

[2015-02-14 09:41] pires commented on #4404
Looking forward for this one, since as an user I'm getting really sick & tired about [Dockers direction](https://github.com/docker/docker/pull/10776#issuecomment-74346219).

[2015-02-14 09:42] pires commented on #2725
Awesome! Can't wait for this, especially after https://github.com/docker/docker/pull/10776#issuecomment-74346219

[2015-02-14 10:08] bgrant0607 commented on #3312
Thanks for the thorough proposals.

We have added readiness probes: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L367

We plan to create cgroups for pods, as described here: https://github.com/docker/docker/issues/8551#issuecomment-67422817

As for "priorities", possibly you want differentiated quality of service? #147

I'm not enthusiastic about supportin

[2015-02-14 10:16] bgrant0607 commented on #4404
@pires I appreciate the support, but please keep the discussion technical.

[2015-02-14 10:45] pires commented on #4259
Just a reminder, 6 days to go.

[2015-02-14 16:26] smarterclayton commented on #156
The direction I had been thinking was preferably with delegated trust (macaroons) or simply to let the kubelet call subjectaccessreview.  Both keep the primary part of the logic on the masters, even though the latter requires asking the master for something it's part of a clear APi call pattern.  Ssh as an admin would be managed by another pattern.

[2015-02-14 16:28] smarterclayton commented on #156
Andys proposal for remote exec essentially lays out the pieces for the bastion as described by Eric.  Right now it goes through the apiserver proxy, but that code is loosely coupled with the rest of the apiserver and high volume traffic can be easily split.

Agree with the other points Eric makes below

[2015-02-14 16:34] smarterclayton commented on #156
Also, the bastions need to authorize calls as well so in my head the bastion proxy and the kubelet can check auth exactly the same way (to start), and then in the future we could get more sophisticated - ie:

User contacts bastion with their token, bastion combines its authority to talk to kubelets (granted by its client cert, etc) to mint a macaroon that allows the user to access host x, pod y, a

[2015-02-14 20:30] smarterclayton commented on #4432
Also keep in mind that as soon as we switch to writing pod status to etcd, we are going to increase the pod write load by a factor of 5 or more.  So just moving events out won't solve the problem - events just exposes it first.

[2015-02-14 21:59] davidopp commented on #4301
I think some kind of generic scheduling policy object is inevitable if we don't want every user to have to write their own scheduler. But I think initially the hard-coded-but-parameterized policies you suggested (eviction cost, anti-affinity, etc.) might be sufficient. Certainly eviction cost is sufficient for the use case described in the first entry in this issue.

BTW we already have a form of

[2015-02-14 22:11] thockin opened #4447 "API: analyze all "IP" fields and decide if hostname is valid"
In some places we expect an IP where a hostname might suffice.  We should make a pass over the API and decide for each case and document/test it properly.  As per #1300 the "must be IP" fields can self-document as net.IP.  The hostname-or-IP fields we can think about decoding tricks.

[2015-02-15 00:04] davidopp commented on #4301
I agree with Brian that a design doc would be good, to try to pull together all the ideas floating around related to scheduling (including replication controllers and auto-scaling). I can try to write something in the next week or so.

[2015-02-15 00:52] mikedanese commented on #4008
It could also make sense to make this a feature of the apiserver and support HTTP PATCH Method on resources. These are relevant: [RFC6902 JSON Patch](https://tools.ietf.org/html/rfc6902) and [RFC7386 JSON Merge Patch](https://tools.ietf.org/html/rfc7386).

[2015-02-15 11:06] m1093782566 commented on #4388
kubernetes version 0.9

In fact, you can see kubectl does not provide info about 'resourcequota' [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/admission_control_resource_quota.md#kubectl)

[2015-02-15 18:13] pmorie commented on #560
After some thought and discussion with @sdminonne, @EricMountain-1A, and @smarterclayton, I had some thoughts on this:

1.  We know different users will want this information both as volumes and environment variables
2.  There are other sources of data users want in this manner (secrets, service metadata)
3.  The `VolumeSource` / kubelet volume plugin abstraction is a good one (my opinion) for exp

[2015-02-15 18:27] smarterclayton commented on #560
That's a lot of things to add to a pod.  I don't know that genericizing the source of the info is the solution though, because it adds more abstractions in a common path.  If you can dynamically mutate env prior to create, that's enough for basic adaptation / exposing downward api info into pods. If you want to do more sophisticated calculation, do it in your pod.

I haven't had time to write up d

[2015-02-15 19:14] bcwaldon commented on #4141
@erictune There's clearly something wrong here, so I'm more than happy to dig into it and get the real fix together if you prefer.

[2015-02-15 20:24] davidopp commented on #4259
I don't understand -- what would we need to do here?

[2015-02-15 20:34] pmorie commented on #560
@smarterclayton It seems heavy to me too.

[2015-02-16 11:09] fgrzadkowski opened #4455 "Influxdb is using 1 core on 4 core cluster"
For a clean, empty cluster with 4 1-core nodes, 1 core (i.e. 1 machine cpu-wise) is used by influxdb. This is really high! It is particularly bad if a container is scheduled on that node.

[2015-02-16 11:14] wojtek-t commented on #4119
I will start looking into it.

[2015-02-16 13:21] mfojtik opened #4457 "Add confirmation for bulk delete operations in kubectl"
Right now, if I do:

[code]

the kubectl will remove all pods, without confirmation. I can imagine situations where this might be potentially dangerous. The kubectl should warn you when you are going to execute operations like this and there should be `--force` option to bypass the confirmation.

@smarterclayton fyi^

[2015-02-16 13:23] soltysh commented on #4457
:+1: Generally I think it make sense to ask user for confirmation (either interactively or using some sort of flag) when doing sensitive operations such as delete.

[2015-02-16 13:49] sdminonne commented on #4457
@mfojtik is going to be fixed once https://github.com/GoogleCloudPlatform/kubernetes/pull/4381 will be integrated

[2015-02-16 14:22] EricMountain-1A commented on #560
@pmorie I'm tempted to not have kubernetes inject environment variables into containers, and limit the proposal to making labels and other metadata available simply through volumes - then it's up to containers to decide how they want to use this data.  This would simplify your proposal, and if the volume abstraction is later extended to allow for dynamic updates of this data - as mentionned above

[2015-02-16 14:25] smarterclayton commented on #4457
There's a --dry-run proposal somewhere.  Delete is a very low level command, like 'rm'.

----- Original Message -----

[2015-02-16 14:34] pweil- commented on #4288
@quinton-hoole-google - If it helps in your fix, I actually hacked up the keys locally to add a namespace to validate the issue but didn't submit it so there could be a design discussion: https://github.com/pweil-/origin/pull/16/files  I can't guarantee that I hit all the spots but I was able to test multiple services manually afterwards.

[2015-02-16 14:59] piosz commented on #3290
It's blocked by #341. See discussion in #4417.

[2015-02-16 15:30] wojtek-t commented on #4119
As a quick update - I was experimenting with resizing ReplicationController from 0 to 50 today. My experiments show that the whole operation takes ~2 minutes, but after <10 seconds all the pods are reported as pending (i.e. scheduled). So I will continue investigating (tomorrow) what exactly takes time to start them on the node.

[2015-02-16 16:04] deads2k commented on #4428
I'll start working on this.

[2015-02-16 16:16] smarterclayton commented on #4428
Should retitle this issue "Kube developer hulk smash inherited config".  Agree we should preserve explicit config on filename and env, and unless Sam remembers something, ditch multiple files.  Who else at the last f2f was involved in the discussion?

[2015-02-16 16:17] liggitt commented on #4428
@derekwaynecarr and Sam talked through this, I think

[2015-02-16 16:49] thockin commented on #4119
See the other "status is flaky" thread for 2 leads on docker problems. Note
that our explicit goal is 30 - 50 pods per machine, for now.  More than
that is a waste of time - file bugs and move on.
On Feb 16, 2015 7:30 AM, "wojtek-t" <notifications@github.com> wrote:

[2015-02-16 16:56] wojtek-t commented on #4119
Sure - I'm not going to experiment with more than 50 pods. But even with 50 pods, the current results aren't satisfying, I believe...

[2015-02-16 16:59] liggitt commented on #4347
Opened https://github.com/emicklei/go-restful/pull/181

[2015-02-16 17:16] thockin commented on #4119
Sure, I believe that, I just wanted to level-set :)
On Feb 16, 2015 8:56 AM, "wojtek-t" <notifications@github.com> wrote:

[2015-02-16 17:42] bgrant0607 commented on #4457
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md

[2015-02-16 18:03] mrunalp commented on #3350
How about a community hangout next Friday (20th Feb) to discuss networking plugins?

[2015-02-16 18:05] satnam6502 commented on #4119
@wojtek-t : I was also looking at scaling until I got deflected with a P1 Fixit (I hope to emerge from the Fixit this week sometime). It might be a good idea to synchronize about experiments etc. and avoid duplicating work?

[2015-02-16 18:12] mrunalp commented on #3350
I have scheduled a public hangout https://plus.google.com/events/cfgii4a4qgu5lhpptlgs1ll23o8
for Feb 20th at 1 P.M. PST

Does that work?

[2015-02-16 18:55] errordeveloper commented on #4414
I am also seeing this.

There are many entries like this:
[code]

So let's look at just that last one...
[code]

It looks like `kubernetes/pause:go` dies, while we still are trying to use his namespace...

[2015-02-16 19:00] errordeveloper commented on #4414
Looks like #2252 might be related.

[2015-02-16 19:09] jainvipin commented on #3350
@mrunalp - thanks, works for me.

[2015-02-16 19:41] smarterclayton opened #4462 "Kubelet is not synchronizing access to the "pods" member, which is bad"
The member `pods` on the kubelet needs to be synchronized, because server.go can access it from other threads and there is no memory barrier in place.  Probably manifests as unrecreatable problems in production.

"pods" needs to be behind an accessor that guarantees thread safety, and the sync loop should be the only writer.

[2015-02-16 21:28] abonas opened #4464 ""requested an external service, but no cloud provider supplied" error when creating a guestbook service"
Using a local dev setup (hack local cluster), creating a guestbook service from this json:
https://github.com/GoogleCloudPlatform/kubernetes/blob/b01126322b826a15db06f6eeefeeb56dc06db7af/examples/guestbook-go/guestbook-service.json

it fails with "requested an external service, but no cloud provider supplied"
it will be better if:
1. basic examples will work in dev setup
2. the message will explai

[2015-02-16 21:34] ghodss commented on #2970
Are there any known obstacles with upgrading to 2.0?

[2015-02-16 21:57] smarterclayton commented on #4406
Also be aware of #4462 which can lead to instability due to read races in the Kubelet, even if #4410 was the proximate cause.

[2015-02-16 22:13] thockin commented on #4455
@vishh

On Mon, Feb 16, 2015 at 3:10 AM, fgrzadkowski <notifications@github.com>
wrote:

[2015-02-16 23:44] vishh commented on #4455
To mitigate this issue, you can place resource restriction on InfluxDB
container or disable monitoring. The reason why default limits don't exist
is because, InfluxDB's performance is very poor when it is restricted to
less than a core and the default machine size for Kubernetes on GCE is 1
core VM.
Let me know if I can help you place resource restrictions or disable
monitoring.

On Mon, Feb 16, 2

[2015-02-16 23:58] ghodss commented on #1502
@bgrant0607 Can you summarize the approach taken for how defaults are handled?

[2015-02-17 00:09] thockin commented on #4455
It burns a whole core continuously?  Yikes.
On Feb 16, 2015 3:44 PM, "Vish Kannan" <notifications@github.com> wrote:

[2015-02-17 00:36] ghodss commented on #1702
The original reason I wanted to indicate which fields were diff'able were due to the mutability problem, but that seems well-handled by #2970. There seems to be another idea here (stemming primarily from #1178) which involves using annotations to indicate which fields should be considered in a merge to accommodate fields that may be changed outside of the tooling that's doing the diff.

But instea

[2015-02-17 01:49] smarterclayton opened #4470 "Remove cmd from kubectl/cmd/factory arguments"
@jlowdermilk I think the need for this argument to the factory methods has passed - it means that callers who want to provide configurable behavior have to do it through the factory itself, which is acceptable.

We can remove it whenever.

[2015-02-17 02:51] smarterclayton opened #4471 "Describers should be able to print objects from somewhere besides the server"
Generation and templating (and user review) both benefit from being able to describe objects on disk.  Our describer implementations should probably expose a method DescribeObject(...) that can be invoked to display a single item of that type (with or without making API calls to the server, but probably without).

[2015-02-17 03:28] mikedanese opened #4472 "Integration test panics in dockertools.ParseDockerName"
I've seen various panics in integration tests over the past few days caused by `runtime error: index out of range` in  dockertools.ParseDockerName.
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/50980094
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/50971293
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/50903684

[2015-02-17 03:32] mikedanese commented on #4472
#4433 might be related

[2015-02-17 04:14] thockin commented on #4471
Is "describe" actually useful without the server to make related joins?

On Mon, Feb 16, 2015 at 6:52 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-17 04:16] thockin commented on #1502
@ghodss Defaulting is now done in a separate per-version pass during conversion from versioned APIs to internal structs.

[2015-02-17 05:23] thockin commented on #560
I could get behind a volume plugin to expose some of these things, I
guess.  The only real difference between a volume plugin and a container
that writes to disk is the startup ordering.

But again, if you ever want this info updated dynamically, I don't think
you want a volume, you want a container.  For now, any change to the pod
structure (e.g. labels) should trigger a restart, but it should ev

[2015-02-17 05:33] smarterclayton opened #4475 "Kubectl should allow `kubectl delete service,rc <name>`"
For when you have service / rc / other things with the same name.

[2015-02-17 05:37] xiang90 commented on #4432
@bgrant0607 I would like to help on this. But I need to know a rough idea of the current/future use case of etcd. We would like to take time to discuss and help to improve in the following months.

@smarterclayton I can do a quick "improvement" for watching index advance notification. But after looking at the etcd helper function in k8s and how kubelet is using it, I think it might not be a big is

[2015-02-17 06:14] bgrant0607 commented on #1502
@ghodss An example is here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/defaults.go#L27

[2015-02-17 06:17] smarterclayton commented on #560
That's a good straw man.  I have a large enough set of use cases for simple env composition that I don't think it's wasted effort, but it does need to focus on the simplest possible expression and use case (it's ok to limit the scope of expressiveness). It's a 20-30% tool

[2015-02-17 07:07] wojtek-t commented on #4119
@satnam6502 SGTM

[2015-02-17 07:22] satnam6502 commented on #4119
Excellent! I've been wondering about setting up some kind of page/doc for tracking how performance evolves as we make changes and it would be good to have some kind of baseline to compare to. I think several of us have done some ad hoc experiments but it would be good to devise a systematic set of experiments/measurements and then track them (e.g. like what you report in this thread about the time

[2015-02-17 07:26] wojtek-t commented on #4119
Yes - i think it would be useful. I will setup a meeting.

[2015-02-17 07:30] satnam6502 commented on #4119
Or we can start working on a doc and check it in somewhere in the repo so everyone else can follow along and offer suggestions?

[2015-02-17 08:21] errordeveloper commented on #4414
For me this only happens with 0.10.1, and the 0.9.3 is perfectly fine.

[2015-02-17 09:19] TomasTomecek opened #4476 "Filtering resources by structured data (e.g., annotations, fields)"
As I'm looking at implementation of labels right now, it is just a [plain key-value store](https://github.com/GoogleCloudPlatform/kubernetes/blob/b3b092b41a95994e5f93bca80652567ce63fa41b/pkg/api/meta/meta.go#L276). Would it be possible to extend labels so the values could contain any structured data (slices, maps,...)? This kind of structured data could then be easily queried by some [json query f

[2015-02-17 12:33] gmarek-google commented on #4196
Get pods generally have a HUGE variance in a running time (easily from 1.5 to 6 sec) on the same cluster state, so I don't think create/get interaction is to blame, but the get itself is problematic.

Profiling APIserver does not show anything interesting, as roughly all the CPU time is used by JSON handling.

I analyzed logs with additional debug info added, and now, contrary to my previous comme

[2015-02-17 14:36] rsokolowski commented on #4414
I'm investigating the issue and can confirm reproducibility of the bug using the guestbook example.
From looking at kubelet logs it seems that all deaths start with following log:
I0217 14:09:11.265717    4900 kubelet.go:1089] pod "frontend-controller-jzjpe.default.api" container "php-redis" hash changed (3923444835 vs 3989308515). Container will be killed and re-created.

[2015-02-17 15:27] rsokolowski commented on #4414
I've added some logging to the code that compute hash of a container (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1049):
		expectedHash := dockertools.HashContainer(&container)
		glog.Warningf("Expected hash is %d for container %#v", expectedHash, container)

and I get weird results. Basically the printed content of container is the same, but the hash is d

[2015-02-17 15:31] sdminonne commented on #560
@smarterclayton @thockin (if I'm understanding correctly)
so an EmptyDir for modifiable metadata (as far as I know only label) and ENV vars for static ones.
Using a new block to define these new behaviors.
@smarterclayton do you think what reported by @EricMountain-1A
[code]
is enough in term of expressiveness or do you think we need something more complex?

[2015-02-17 15:35] rsokolowski commented on #4414
I wonder whether it might be related to #4462 reported by @smarterclayton since the container in question comes from Kubelet.pods member.

[2015-02-17 15:43] wojtek-t commented on #4119
I've spent significant amount of time looking into the performance problem today and already have some findings. Basically, I continued investigating where the time is spent with the experiment of resizing ReplicationController from 0 to 50.
It seems that the majority of walltime (more than 90%) at the Kubelet side is spend in:
GetKubeletDockerContainers
function (which means it is spend on gettin

[2015-02-17 15:48] vmarmol commented on #4119
An option to improve the latency of GetKubeletDockerContainers is to query cAdvisor instead of Docker for the containers. It should have the containers within milliseconds of the container being created by Docker. I'm not sure it will matter that it is not the "authoritative" source since even today there is a race between listing and the world changing under us.

[2015-02-17 15:50] pmorie commented on #560
@sdminonne I imagined the following:

1.  Static values exposed as environment vars or with a new volume plugin
2.  For dynamic values:
    1.  Create an `EmptyDir` volume in your pod
    2.  Make a container that uses the downward API to project information from the master into the volume (the sidecar container)
    3.  Watch the files in the volume from your 'main' container

Does that match you

[2015-02-17 15:52] sdminonne commented on #560
@pmorie  it does.
Thanks

[2015-02-17 15:52] jszczepkowski commented on #4411
There are two separate problem here:
(1) update for service does not update external load balancer (not implemented yet, marked as TODO),
(2) when cluster is shut down by kube-down.sh external load balancer are not removed.

To solve (2), I suggest just to delete all cluster's services in kube-down.sh, before shutting down master and minions. I'm not sure if services should be removed by a special

[2015-02-17 15:59] pmorie commented on #560
@sdminonne @smarterclayton @thockin Are there enough commonalities about the dynamic data from the downward API that it can be a shared component, ie `kubernetes/pod-info-sidecar` ?

[2015-02-17 16:02] pires commented on #4415
Related to #4462?

[2015-02-17 16:08] pmorie commented on #560
@sdminonne Expanding a little bit, I was referring to an image for the proposed sidecar container that would handle populating a shared volume with dynamic data about the pod, and whether that image would have enough common utility that it should be a system component.  Put another way, is this a common enough use-case (get a volume with dynamic info about the pod projected into it by another cont

[2015-02-17 16:15] sdminonne commented on #341
@bgrant0607 @smarterclayton @thockin just submitted the first PR https://github.com/GoogleCloudPlatform/kubernetes/pull/4486 for the step 2.

[2015-02-17 16:27] satnam6502 commented on #4119
Interesting @vmarmol : so basically we can view cAdvisor as being a cache for such information? We could then use it for rapid access to lots of information?

[2015-02-17 16:28] sdminonne commented on #560
@pmorie thanks for the explanation.
So we may end up with: a set of env variables injected in the POD, and  a `system` docker container where info can be found about PODs and those info are available via a shared filesystem?

[2015-02-17 16:30] vmarmol commented on #4119
That's what I had in mind @satnam6502. I need to experiment whether the "staleness" of the data affects us much, but I don't think it will.

[2015-02-17 16:30] vmarmol commented on #4119
I'll try to experiment with this today.

[2015-02-17 16:39] pmorie commented on #560
@sdminonne correct. The sidecar container would need auth to access the master, either via a secret consumed in the volume or something like the [LOAS Daemon](https://github.com/GoogleCloudPlatform/kubernetes/issues/2209).