[2021-08-27 21:42] robisoh88 opened #104638 "Kubernetes Service Document Update for AWS"
#### What happened:
Details here: https://github.com/kubernetes/kubernetes/issues/98278

#### What you expected to happen:
NLB should not delete SG rules added manually during LB reconcile.

#### How to reproduce it (as minimally and precisely as possible):
Details here: https://github.com/kubernetes/kubernetes/issues/98278

#### Anything else we need to know?:
This is replicable.

https://kuberne

[2021-08-27 21:43] ottoyiu opened #104639 "Node Lifecycle RateLimitedQueue QPS issue"
#### What happened:
RateLimitedQueue fails to proceed when `RateLimitedQueue.SwapLimiter` is called with a QPS value of `0.0`, followed up with a value of `1.0`.

When the NodeLifecycleController enters a zone into partial disruption and the function
`func (nc *Controller) ReducedQPSFunc(nodeNum int) float32` returns 0.
(https://github.com/kubernetes/kubernetes/blob/fca3175df7a453c24eec3c11b632090

[2021-08-28 02:11] cbandy opened #104641 "Incorrect initContainers order when using server-side apply"
#### What happened:

The order of `initContainers` is significant, but when using `kubectl apply --server-side` to change this field, the intended order is not preserved.

#### What you expected to happen:

I expected the order of `initContainers` to match my submitted intent.

#### How to reproduce it (as minimally and precisely as possible):

Files:

[code]

[code]

---

Create the StatefulSet a

[2021-08-28 04:39] kql250520 opened #104643 "after restart network nodeport cannot access,or telnet ip:nodeport failure"
#### Which jobs are failing:
after restart network  nodeport cannot access,or telnet ip:nodeport failure

CentOS Linux release 7.5.1804 (Core),GitVersion:"v1.13.3
claas/kube-proxy:v1.13.3

![image](https://user-images.githubusercontent.com/30395964/131206305-380ebfbb-3659-43d5-9337-359432c7ada1.png)

Three-Way Handshake， the latest ack failure

#### Testgrid link:

#### Reason for failure:

#### A

[2021-08-28 05:50] krahil commented on #104626
Thank you so much @ahg-g for such a quick response and relating this to valid accepted issue in v1.22 release version. I have gone through the related issue #104560 and it matches the scenario I have been observing. Seems the fix is still in progress.

Thanks again!

[2021-08-28 06:44] yuchen-sun commented on #104335
Maybe we can use ElasticQuota to solve this case.It is support for priority preemption.
https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/9-capacity-scheduling#motivation

[2021-08-28 06:57] seyoongit opened #104644 "Kubernetes 'Indexed-Job' does not works"
my problem is summarized [here](https://stackoverflow.com/questions/68958322/how-to-use-kubernetes-indexed-job).

I have no idea why this doesn't works.

[2021-08-28 07:08] seyoongit commented on #104644
/sig apps

[2021-08-28 07:10] Slyke opened #104645 "Pod DNS failure"
#### What happened:
Pod DNS look ups fail

#### What you expected to happen:
DNS lookups work

#### How to reproduce it (as minimally and precisely as possible):
There are 3 nodes (IPs in brackets): k-m-001 (10.7.50.11), k-w-001 (10.7.60.11), k-w-001 (10.7.60.12). This is a /16 network.
I installed Kubernetes on a Fresh Ubuntu 21 install on each node using this bash script: https://pastebin.com/ps

[2021-08-28 07:47] zoroyihan commented on #65973
Since this feature is not available now, anybody has an admission webhook implementation example?

[2021-08-28 08:43] luyou86 commented on #104554
@caesarxuchao @dramich @deads2k @liggitt

1. is it possible to set maxWaitingTime for BucketRateLimiter?  when r.Limiter.Reserve().Delay() > maxWaitingTime, the return of BucketRateLimiter When()  is maxWaitingTime.

2. maxWaitingTime defined is 1000ms / r.limit * MAXQPS(5000)

3. in this issue example (r.tokens = 100, r.limit = 10), if call When() 10000 times,  the tail end of the object is enque

[2021-08-28 09:30] Slyke commented on #104645
After some more investigation, it looks like Flannel is causing the issue. I reset up the cluster again, but this time only rebooted one of the workers. The worker that was rebooted cannot make dns queries to coredns, but the one that wasn't rebooted can. Checking the events in the dnsutils and flannel pods:

[code]

[2021-08-28 10:48] YuraHrunyk commented on #104521
@ahg-g Yes, those pods exist because if we restart kube-scheduler(change the leader) the new leader is probably checking the status of all of pods, and the Pending pods that might be in this status for 1-2 days get scheduled to suitable nodes.

Unfortunately, there are no specific repro steps, we just run a lot of deployments, most of them get scheduled without any issues(99%), but a few are stuck

[2021-08-28 13:54] yxxhero commented on #104644
Note that completion mode is an alpha feature in the 1.21 release. To be able to use it in your cluster, make sure to enable the IndexedJob feature gate on the API server and the controller manager. @seyoongit

[2021-08-28 13:54] alitoufighi commented on #47202
It seems strange, but for me (v1.21), this accidental feature doesn't exist.

If I set `CRON_TZ=Asia/Tehran 0 0 * * *` as `.spec.schedule` value, it complains:

```spec.schedule: Invalid value: "CRON_TZ=Asia/Tehran 0 0 * * *": Expected exactly 5 fields, found 6: CRON_TZ=Asia/Tehran 0 0 * * *```

P.S. On the website, it's said that `CRON_TZ` is available since K8s v1.21, but [this PR](https://githu

[2021-08-28 13:57] cndoit18 commented on #47202
I'm sure I updated this section and it should be v1.22. might have been changed back?

[2021-08-28 14:50] yxxhero commented on #104629
@konstantin-tkachuk
A Pod can have multiple containers running apps within it, but it can also have one or more init containers, which are run before the app containers are started.

Init containers are exactly like regular containers, except:

Init containers always run to completion.
Each init container must complete successfully before the next one starts.
If a Pod's init container fails, the k

[2021-08-28 15:44] #93018 closed

[2021-08-28 16:55] seyoongit commented on #104644
[code]
works well. thanks!

[2021-08-28 16:55] #104644 closed

[2021-08-28 18:05] potulabe commented on #97994
Thank you very much!!!

[2021-08-28 19:08] mnaser opened #104647 "High cardinality on container_network_* metrics with hostNetwork"
#### What happened:

The metrics for container network information (i.e. `container_network_transmit_packets_total`) have high cardinality when using hostNetwork for pods, it results in traffic from all interfaces being listed.

If you have 30 pods on a system, and they're all using `hostNetwork`, then you'll end up with 30*30 records because it's grabbing the metrics for host interfaces for all t

[2021-08-28 19:44] #99551 closed

[2021-08-28 20:09] seh commented on #91299
See #69642.

[2021-08-28 20:44] #94776 closed

[2021-08-28 20:44] #97660 closed

[2021-08-28 20:44] #98173 closed

[2021-08-28 20:44] #99552 closed

[2021-08-28 20:56] sfxworks commented on #102676
For some reason, even with the latest versions of runc or crun, I ended up having to upgrade kubelet to 1.22.1 to get things to work. This is alongside my previous fixes, such as removing cpu_manager_state.

[2021-08-28 22:44] #97553 closed

[2021-08-28 23:45] #96760 closed

[2021-08-29 01:22] liggitt commented on #104628
in a v1 CRD, you can add the following to the top-level of the schema to preserve unknown fields for that level:

[code]

See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#controlling-pruning for details.

Questions about the kube-builder annotations would be better to ask in the [kube-builder repo](https://github.com/kubernetes-sigs/kubebuilder)

[2021-08-29 01:22] #104628 closed

[2021-08-29 01:23] liggitt commented on #104628
It only preserves unknown fields (and subtrees of those unknown fields) for that level

[2021-08-29 01:26] liggitt commented on #104532
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/93474

kubectl only uses in-cluster configuration if there is *no* client configuration specified. `--as` populates the impersonation user, which overrides the automatic fallback to in-cluster configuration.

[2021-08-29 01:26] liggitt commented on #104532
/close

will clarify in that issue it applies to any client configuration override flag

[2021-08-29 01:26] #104532 closed

[2021-08-29 01:27] liggitt commented on #93474
also reported in https://github.com/kubernetes/kubernetes/issues/104532, `--as` prevents use of in-cluster config

[2021-08-29 01:28] liggitt commented on #104419
This is working as intended, though it should probably be better documented as a consequence of using preserveUnknownFields

[2021-08-29 01:34] liggitt opened #104648 "1.22 regression: removing and recreating static pod manifest leaves pod in error state"
#### What happened:

* Started a 1.22 cluster
* Added a static pod manifest
* Observed the pod run successfully
* Removed and recreated the pod manifest
* Observed the pod enter an error state and never restart successfully

#### What you expected to happen:

For the pod to be re-run successfully (as in previous releases)

#### How to reproduce it (as minimally and precisely as possible):

[code]

[2021-08-29 01:35] liggitt commented on #104648
I also verified the pending PR fixing the pod admission regression in https://github.com/kubernetes/kubernetes/issues/104560 (https://github.com/kubernetes/kubernetes/pull/104611) does not fix this issue

[2021-08-29 01:41] liggitt commented on #104641
cc @apelisse

[2021-08-29 01:46] liggitt commented on #104637
that message does not appear in the kubernetes codebase... are you using teleport? I see that error message at https://github.com/gravitational/teleport/blob/master/lib/kube/proxy/forwarder.go#L1146

[2021-08-29 01:47] liggitt commented on #104545
/close

[2021-08-29 01:47] #104545 closed

[2021-08-29 01:48] yxxhero commented on #104454
/assgin

[2021-08-29 01:49] yxxhero commented on #104454
/assign

[2021-08-29 01:57] liggitt commented on #104648
kubelet log

<details>

[code]

</details>

kubelet's view of the pod (/pods kubelet endpoint)

<details>

[code]

</details>

[2021-08-29 03:01] liggitt commented on #104648
this seems likely to be caused by the pod cleanup being keyed by uid and not handling an overlapping delete operation and recreate operation for a pod with the same uid

the calculated uid for static pods consists of:
* node name
* file name
* pod content

https://github.com/kubernetes/kubernetes/blob/edb0a72cff0e43bab72a02cada8486d562ee1cd5/pkg/kubelet/config/common.go#L57-L70

Removing and then

[2021-08-29 05:59] whatwewant commented on #43805
same in kubeadm v1.22.1, this is caused by orignal docker (show docker cgroup driver: `docker info | grep "Cgroup Driver"`)

change

[code]

to

[code]

[2021-08-29 15:21] Spareo commented on #60140
I kept consistently having this same issue so I decided to try to cp into a local path that was much shorter than what I was originally trying and it worked....seems related to the path lengths

[2021-08-29 17:56] liggitt commented on #104648
I can imagine schemes for including a generation var for static manifest files, where every time the kubelet observes a deletion of a manifest file, it bumps the generation of that file, and generations above 0 are included in the computed pod uid.

Is it important for the kubelet's calculated uid for a static pod to remain stable over kubelet restarts (e.g. does it get baked into a persistent att

[2021-08-29 17:56] liggitt commented on #104415
/close

[2021-08-29 17:56] #104415 closed

[2021-08-29 19:22] aojea commented on #104612
/remove kind-bug
/remove kind-failing-test

The test is correct, apiserver must generates both endpoint and enpointslices with the special name "kubernetes" , that are the backends for the "kubernetes.default" service with the IP addresses of the apiservers. This special service "kubernetes.default" and its endpoints are used by clients with In-Cluster auto discovery.

I think that whatever cluste

[2021-08-29 20:00] jsturtevant commented on #99170
/remove-lifecycle stale

[2021-08-29 21:23] ThomasSteinbach commented on #48180
I agree it would be really helpful having an easy to use possibility, defining cluster wide ENV variables for all pods/jobs. For examples when all pods within the cluster should use the TZ timezon env. This is a real pain maintaining such configuration for all applications.

[2021-08-30 01:23] weiwenli97 commented on #104428
Design on workload nodes Reboot tests:
1. Using host process pod to reboot the windows node(s)
2. After 5 minutes, checking whether the node(s) is ready or re-created. The workers should only reboot not re-create.

[2021-08-30 03:15] RyanAoh commented on #104618
Is the service's `metadata.finalizers` field empty? Refer to [this](https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/)

[2021-08-30 04:46] MadhavJivrajani commented on #104643
/sig network
/remove-kind failing-test
/kind support
/priority awaiting-more-evidence

[2021-08-30 04:54] MadhavJivrajani commented on #104643
/remove-priority awaiting-more-evidence

[2021-08-30 06:12] pacoxu commented on #104645
/sig network
/area dns
It's mostly a flannel issue.
/kind support

To workaround the flannel issue, I think setting the coredns pod hostNetwork=true would workaround it.

[2021-08-30 06:25] novahe commented on #89898
@alex-kovshovik  thanks for sharing slution,

according to the above conclusion, have you tried to modify kubelet's reserved resources?  kubelet  `--kube-reserved=[cpu=100m][,][memory=100Mi]`

[2021-08-30 07:08] LabMenV commented on #89898
@novahe
I have tried this setting. `--kube-reserved=[cpu=1000m][,][memory=1024Mi]`
And I also set the `--system-reserved=[cpu=1000m][,][memory=1024Mi] `
Still hit the same issue.

[2021-08-30 07:39] konstantin-tkachuk commented on #104629
@yxxhero Uh, thank you for posting a copy of the official k8s documentation? Could you please also explain the relevance?

[2021-08-30 07:53] aheng-ch commented on #67761
When we delete pods, the resource_quota_controller will recalculate the quota and try to update it. When we create pods, the admission_control_plugin (ResourceQuota) will calculate the incoming request and update the observed usage based on the previously read ResourceQuota.ResourceVersion.
If we delete and create pods at the same time, the resource_quota_controller may update the quota unsuccessf

[2021-08-30 07:56] jnummelin commented on #104612
Yes, I do understand this. And in our case this is true, there is a svc called `kubernetes` as there is also endpoints object called `kubernetes`. This makes the in-cluster discovery work. Otherwise we'd get much more errors in the conformance instead of this only one... :)

In our case we're relying on the endpointslice mirroring to take care of creating the endpointslice object, which makes this

[2021-08-30 08:00] aojea commented on #104612
oh, this seems interesting then ... who is creating the corresponding endpoint? can you paste a kubectl get endpoints -o yaml?

[2021-08-30 08:07] aojea commented on #104612
this is how it looks like in my cluster
[code]

[2021-08-30 08:17] jnummelin commented on #104612
In our case (k0s distro) it's our custom controller that is triggered when the controlplane is configured in HA mode. So this basically sets the api to mode `--endpoint-reconciler-type=none`. When our controller runs it has a configured LB address which it resolves to IP address(es) and created the corresponding EP object. We do NOT create the endpointslice as we rely on the mirroring functionalit

[2021-08-30 08:35] amine250 commented on #85418
/reopen

[2021-08-30 09:17] jupblb opened #104657 "gce-master-scale-performance is failing"
#### Which jobs are flaking:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance
#### Which test(s) are flaking:
`gce-master-scale-performance` 08/29
#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance
#### Reason for failure:
There has been a single (third, considering SlowCount) slow request.
#### Anything else we ne

[2021-08-30 11:34] Nish0808 opened #104659 "sessionAffinity based on ClientIP, is not maintained for a new UDP request followed by TCP request from same client"
#### What happened:

sessionAffinity based on ClientIP, is not maintained for a new UDP request followed by TCP request coming from same client.

Lets take two independent Kubernetes clusters **Cluster 1 & Cluster 2** , Each of them has two replicas of same application Pod. Like
**Cluster 1 : Pod A & Pod B**
**Cluster 2 : Pod C & Pod D**.
Application code in Pod A(client) wants to connect to any P

[2021-08-30 11:58] pacoxu commented on #104659
/sig network

[2021-08-30 12:00] aojea commented on #104195
I see, so the pod name is validated against DNS subdomain, however, the `hostname` is validated against DNS label as @RyanAoh shows in his PR

https://github.com/kubernetes/kubernetes/blob/edb0a72cff0e43bab72a02cada8486d562ee1cd5/pkg/apis/core/validation/validation.go#L3451-L3453

It seems wrong, because pods can actually have hostnames with dots without specifying the `hostname` field

[code]

Ju

[2021-08-30 12:17] pacoxu commented on #104647
/sig instrumentation

[2021-08-30 12:24] neolit123 commented on #104638
/kind documentation
/sig cloud-provider
/are provider/aws

[2021-08-30 12:24] neolit123 commented on #104638
/aree provider/aws

[2021-08-30 12:24] neolit123 commented on #104638
/area provider/aws

[2021-08-30 12:32] denkensk commented on #104335
As @yuchen-sun said, ElasticQuota maybe able to solve your issue. You can set Max in ElasticQuota. And the max is the upper bound of the resource consumption of the namespace during scheduling, so it supports priority preemption. High priority jobs will give priority to consume resources, but the total amount of resources cannot exceed max.  @gageffroy
/cc @ahg-g

[2021-08-30 12:49] eliecer2323 commented on #104618
@RyanAoh yes it is empty so it should be using its default value, what do you recommend to put it in?

[2021-08-30 13:18] liggitt commented on #104648
/assign @smarterclayton @rphillips

[2021-08-30 13:28] aojea commented on #104195
hmm , it seems that the `pod.Spec.Hostname`field is used by the Endpoints and EndpointSlices controller

https://github.com/kubernetes/kubernetes/blob/7282c2002e00028c30bf1afe35a9e88174b1f0c8/pkg/controller/endpoint/endpoints_controller.go#L467-L468

https://github.com/kubernetes/kubernetes/blob/7282c2002e00028c30bf1afe35a9e88174b1f0c8/pkg/controller/endpointslice/utils.go#L78-L80

but Endpoints a

[2021-08-30 13:44] luxas opened #104661 "Disallowing unknown fields doesn't work when decoding into an object in the JSON serializer"
#### What happened: Although the `Strict` mode (i.e. what should disallow unknown and duplicate fields) is enabled in the `json.Serializer`; unknown fields in serialized data doesn't yield any error when specifying the `into` parameter of the `Decode(` function.

#### What you expected to happen: Disallowing unknown fields should yield errors when there are fields in serialized data that do not ma

[2021-08-30 13:44] luxas commented on #104661
/sig api-machinery

[2021-08-30 13:46] luxas commented on #104661
/assign

[2021-08-30 14:09] RyanAoh commented on #104195
@aojea  Uh, this seems to be a chain reaction. But if we tighten validate on Pods' name,  it will introduce a user-facing change.
Perhaps, just for this one issue, we can delete the following line so that the `Spec.HostName` is not automatically set for the pod controlled by the StatefulSet. But I am not sure if this is a better way.
https://github.com/kubernetes/kubernetes/blob/7282c2002e00028c30

[2021-08-30 14:11] GrumpyRainbow commented on #86499
Seeing same issue here too

[code]

[code]

[code]

[2021-08-30 14:15] liggitt commented on #104612
I agree the conformance test should not be looking up endpointslice by name. It should be using a label selector of `kubernetes.io/service-name=kubernetes` to locate the endpointslices.

[2021-08-30 14:31] dims commented on #104661
cc @liggitt

[2021-08-30 14:34] ankeesler commented on #104165
Reproducer script: https://gist.github.com/ankeesler/d1369b0d96c2a071432e617d5eb5f56b
WIP PR (not currently working, just posting status): https://github.com/kubernetes/kubernetes/pull/104662

[2021-08-30 14:56] aojea commented on #104612
Fair enough, on the good side this also will simplify the KEP from @danwinship https://github.com/kubernetes/enhancements/pull/2622/ to dual-stack the apiserver

@robscott you are the expert in this area, can you PTAL at this discussion?

/kind failing-test

[2021-08-30 14:57] trotro commented on #101340
Hi @gnufied & @zhanghe9702 any news on this issue ? The related PR seems stalled.

[2021-08-30 14:59] gnufied commented on #101340
@trotro https://github.com/kubernetes/kubernetes/pull/102886 merged. So this is fixed now.

[2021-08-30 15:01] aojea commented on #104612
hmm @liggitt
https://github.com/kubernetes/kubernetes/blob/9c1f9c3962717c6078fa166eeb76242a4cc1d751/test/e2e/network/endpointslice.go#L55-L60

the test description explicitly says the name of the object has to be "kubernetes", if the name is mandatory the test is correct, otherwise we need to rewrite the test description and talk with conformance people
/area conformance

[2021-08-30 15:04] liggitt commented on #104612
the description should be rewritten... the test is enforcing stricter requirements on endpointslices than required/expected

[2021-08-30 15:13] trotro commented on #101340
Oh right ! I didn't look close enough and thought it was only for directory based volumes.
Thank you.

[2021-08-30 15:17] #99981 closed

[2021-08-30 15:35] liggitt commented on #104195
I don't think relaxing validation on the pod hostname field is correct here... in what release did statefulsets start setting the hostname field?

[2021-08-30 15:56] RyanAoh commented on #104195
@liggitt I found that it was added by https://github.com/kubernetes/kubernetes/pull/51149. In release-1.7.

[2021-08-30 16:16] ritazh commented on #101969
/remove-lifecycle stale

[2021-08-30 16:16] ritazh commented on #101969
/triage accepted

[2021-08-30 16:17] ritazh commented on #101969
/priority awaiting-more-evidence

[2021-08-30 16:30] ritazh commented on #101321
Based on the August 18th, 2021 sig auth meeting, next step is to update doc to describe this behavior.

/triage accepted

[2021-08-30 16:39] jsturtevant commented on #100388
/remove-lifecycle stale

[2021-08-30 16:43] skorobogatydmitry commented on #43867
In my case, all resources in a given namespace was managed by helm + TF.
Keep your IaaC ;)

[2021-08-30 16:50] rtheis commented on #104276
@mengjiao-liu to ensure I understand your comment correct, should https://github.com/kubernetes/kubernetes/issues/104276 fix this issue?

[2021-08-30 17:21] ptnapoleon commented on #104107
I'll do my best to figure that out. Where is the best place to look for the reason behind a ContainerRemoved event, containerd or kubelet?

[2021-08-30 17:51] yongxiu commented on #104137
Any updates on this issue?

[2021-08-30 18:02] jayunit100 commented on #104648
maybe another hostPRocess test for this to generate this scenario ?
/sig windows

[2021-08-30 18:05] waypoint100 commented on #92067
Any chance this will be fixed?
Every time you restart the node - there is a bunch of pods stuck forever in "NodeAffinity" state

[2021-08-30 18:42] kolyshkin commented on #102676
This is not about runc or crun as a binary, this is about runc libraries (libcontainer) imported/used by kubelet.

[2021-08-30 18:45] Jefftree commented on #104137
Thanks for following up. AFAIK this is the intended behavior, you would need to specify specific fields and their types to pass the validation or set `x-kubernetes-preserve-unknown-fields` to true.

According to the [documentation](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/):

A structural schema is an OpenAPI v3.0 validation schema which:

[2021-08-30 18:55] bobbypage commented on #104648
/cc

[2021-08-30 19:03] Jefftree commented on #104001
if the CRD is already applied to the cluster, kubectl supports retrieving the CRD in either yaml or json format. (Eg: `kubectl get crd <crd-name> -o json`). CRDs are also aggregated and their schema published at the `/openapi/v2` endpoint. For purposes of documentation I think there are a couple of third party tools for generating the JSON, but I don't recall anything built in for CRDs.

[2021-08-30 19:11] ahg-g commented on #92143
Actually, instead of creating a new KEP (which I am not sure what we will put in it on its own), how about we piggyback on the CC KEP and v1beta3 graduation? The idea is to have a KEP that references the deprecation and allows us to update the docs.

[2021-08-30 19:42] sfxworks commented on #102676
Oooh I see. Thanks for clarifying.

[2021-08-30 19:53] khenidak commented on #104195
hmm if we convert the `.` to `_` in pod names this should work keeping api validation as is, pod names will still be deterministically identifiable. But if the user decided to use . in the stateful set names they need to understand the conversion.

[2021-08-30 20:17] #104560 closed

[2021-08-30 21:16] damemi commented on #92143
Yeah this could be added to the CC deprecation KEP under the section describing v1beta3 https://github.com/kubernetes/enhancements/pull/2850/files#diff-535abc4c1be084f369a0b7a4951db2258d840f1657e331d0c4c6c13d537cc949R100

[2021-08-30 21:30] apelisse commented on #104641
Here's the code, if I'm reading it correctly.

We first add and merge all items in the order provided by LHS (the current, live object):
https://github.com/kubernetes-sigs/structured-merge-diff/blob/master/typed/merge.go#L202-L231

And then we collect/append all remaining items from RHS (the applied object):
https://github.com/kubernetes-sigs/structured-merge-diff/blob/master/typed/merge.go#L233-L

[2021-08-30 22:49] Jefftree commented on #101755
/remove-lifecycle stale

My suspicions were around the openapi aggregation as well but after digging into it a bit deeper, the bulk of the memory allocation comes from `k8s.io/kubernetes/vendor/k8s.io/kube-openapi/pkg/handler.(*OpenAPIService).UpdateSpec` as apelisse mentioned, and this is a step after the aggregation.  Within the UpdateSpec function, `k8s.io/kubernetes/vendor/github.com/json-iter

[2021-08-31 01:34] arekkusu commented on #104517
Was able to confirm the right download location (`gke-release` GCS bucket) to download GKE source release.
Submitted separate PR #104669 to fix the URL.

[2021-08-31 01:39] 249043822 commented on #104454
/triage accepted

[2021-08-31 01:57] mengjiao-liu commented on #104276
Yes, I've tested it. https://github.com/kubernetes/kubernetes/pull/104172 can resolve it.
[code]
The bug is the line:

https://github.com/kubernetes/kubernetes/blob/bb9e89d430138725def3463b7f607e8dd52aed72/staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go#L135-L136

[2021-08-31 01:57] mengjiao-liu commented on #104276
Yes, I've tested it. https://github.com/kubernetes/kubernetes/pull/104172 can resolve it.
[code]
The bug is in this line:

https://github.com/kubernetes/kubernetes/blob/bb9e89d430138725def3463b7f607e8dd52aed72/staging/src/k8s.io/client-go/util/jsonpath/jsonpath.go#L135-L136

[2021-08-31 02:55] ibabou commented on #88153
I've been testing recently with containerd to see if the issue still replicates. It seems based on the testing, the errors are different, but we still face the same problem of high throughput not being possible on windows nodes.

Here is a recent test on latest 1.23 alpha and containerd 1.5.4 (gce provider):
[code]

Kernel Version: 10.0 17763 (17763.1.amd64fre.rs5_release.180914-1434

[code]

I cr

[2021-08-31 02:56] ibabou commented on #88153
/reopen

[2021-08-31 03:01] ibabou commented on #88153
+@jsturtevant +@immuzz

[2021-08-31 03:18] RyanAoh commented on #104618
It's correct that this filed is empty. Perhaps more detailed info such as events or logs about the service might be helpful.

[2021-08-31 05:54] pacoxu commented on #104643
You may provide more details about how to reproduce it if this indicates to be a kube-proxy bug.

[code]

I tried your steps but it can work in my cluster.

BTW, the official troubleshooting guide is in https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2021-08-31 05:59] uablrek commented on #104659
Related https://github.com/kubernetes/kubernetes/issues/103000

[2021-08-31 06:50] kerthcet commented on #92143
yes, it's also convinced, since it's part of the lifecycle of a new feature. However, I'll still work on this kep, on the one hand to walk through a completely cycle of kep, on the other hand, if we open our arms again, I think it will play a role.

[2021-08-31 06:59] kerthcet commented on #92143
If reopen the former kep is accepted, I'll keep these two keps in sync. And after I finished, I'll close the new one. maybe I will need a help from @damemi  to review my kep and give me some advice.

[2021-08-31 07:38] jupblb commented on #104657
The next run is passing.

[2021-08-31 07:38] adisky commented on #104625
cc @DangerOnTheRanger

[2021-08-31 08:26] gaocegege commented on #17244
@pacoxu Hi Paco, I think we still need this feature. I am trying to use jobs to run distributed deep learning training jobs. In such a use case, we need to know if the failure can be fixed by retrying.

[2021-08-31 08:35] dcantah commented on #104443
The win32 filesystem semantics do seem to treat no drive letter to mean "assume the current drive". I think the issue is that the service account mounts might always get mounted to the c drive... Is there anything in k8s that appends C: if there's no drive letter? Otherwise I'll have to look if HCS has any logic surrounding this

[2021-08-31 08:38] dcantah commented on #104443
The win32 filesystem semantics do seem to treat no drive letter to mean "assume the current drive". Honestly, to me it seems like the in cluster config should search for C:\var\run\secrets\kubernetes.io\serviceaccount\* on Windows unless someone can think of a downside to this.

[2021-08-31 08:58] Nish0808 commented on #103000
I am also facing this issue which is mentioned here:
sessionAffinity based on ClientIP, is not maintained for a new UDP request followed by TCP request from same client #104659
Do we have any workaround  at Kubernetes level ?

[2021-08-31 09:03] perithompson commented on #98102
@jsturtevant i havent tried reproducing this in a while but I guess it's still there?

[2021-08-31 09:05] aojea commented on #103000
can you explain the use case better?
what type of application and deployment are you using that requires UDP and TCP session affinity?

[2021-08-31 09:12] uablrek commented on #104659
You may experiment with `proxy-mode=ipvs` and `--ipvs-scheduler=sh` (source hashing). While that will solve this problem it may well cause a whole bunch of new ones since `ipvs-scheduler` is global (default round-robin, "rr").

[2021-08-31 09:30] TBBle commented on #69608
At this point the two CSI examples from the original ticket have gone away (see https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/521 and https://github.com/ceph/ceph-csi/pull/414 which replaced the StatefulSet singletons with Deployments using leader-election).

Are there any practical/current use-cases for StatefulSet without a backing Service? The ticket's approachi

[2021-08-31 09:39] kevpar commented on #104443
It looks like the drive is currently hardcoded to be C: in the kubelet.

When the container request is being created, this check is performed for each mount:

https://github.com/kubernetes/kubernetes/blob/b0bc8adbc2178e15872f9ef040355c51c45d04bb/pkg/kubelet/kubelet_pods.go#L251-L254

Because on Windows a path starting with a slash is not considered absolute, it then calls into `volumeutil.MakeAbso

[2021-08-31 10:11] Nish0808 commented on #104659
Use-case:
There is a proprietary transfer protocol where a client performs TCP handshake with server and server sends a UDP port in the response. Client receives the response, fetch the port and initiate a new UDP socket on that port for data transfer.
Here, both TCP and UDP calls needs to go on same server which is not happening if there are multiple replicas of server running behind a Kubernetes

[2021-08-31 10:11] Nish0808 commented on #103000
@aojea Updated my ticket with use case.

[2021-08-31 10:14] Nish0808 commented on #104659
@uablrek I am not sure if I am allowed to do such change on a managed K8s cluster or on RedHat OpenShift platform.

[2021-08-31 10:21] uablrek commented on #104659
If this is cluster internal traffic, use a headless service. I little bit of extra work for load-balancing but it will work for sure since it is pod-pod without any service-ip.

[2021-08-31 10:24] Nish0808 commented on #104659
@uablrek , it's actually inter k8s cluster communication. Client and Server resides on different Kubernetes clusters.

[2021-08-31 10:24] LIL-Raps opened #104678 "Secrets bug"
#### What happened:

When I created a secret with data values as "true" without encoding and apply to the cluster, it doesn't send an error.

#### What you expected to happen:

I expected that my apply doesn't work.

#### How to reproduce it (as minimally and precisely as possible):

For reproducing you should deploy secrets with value as "true".

#### Anything else we need to know?:

There is a s

[2021-08-31 10:26] aojea commented on #104659
From my reading, I think that this is a problem of using stateless deployments for workloads that are not stateless.
It this not a stateful application, that everything that goes to PodA has to go to PodA always?

I wonder if statefulset can help here https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ :thinking:

[2021-08-31 10:27] LIL-Raps commented on #104678
/sig security

[2021-08-31 10:31] mjkota opened #104679 "Nodes become NotReady after adding ExternalIPs in ClusterIP or NodePort service"
#### What happened:
Nodes went in NotReady state after creating a service type ClusterIP or NodePort with ExternalIPs set to worker nodes. The issue is observed with Kube-Proxy is running in IPVS mode. Even the nodes added as ExternalIPs become non-routable from other nodes in the cluster.
[code]
[code]
The same work fines if the Kube-Proxy is running in iptable mode.

#### What you expected to ha

[2021-08-31 10:35] Nish0808 commented on #104659
Even if I use statefulset, this problem still persists as to perform a data transfer, somehow I need to route the request to same pod which served the TCP request. On service spec, setting sessionAffinity to ClientIP is not helping as the client is same but the protocol (endpoints) are different, isn't it?

[2021-08-31 11:00] aojea commented on #104659
yeah, agree with the problem, I'm trying to understand if there is a pattern that current APIs are not covering and that we should generalize, there was several issues of people asking to change Services behavior for active/passive deployments, those workloads are stateful too ... maybe current API is not handling well this scenarios? or is just an implementation problem? if we change the implemen

[2021-08-31 11:32] aojea commented on #18174
I think that this should be  easier to implement in client-go if golang implement these features :
* net: allow custom Resolver https://github.com/golang/go/issues/12503 , so we can resolve the kubernetes.default Service directly to the endpoint (you always need a boostrap IP to get the endpoints)
* net/http: make Transport's idle connection management https://github.com/golang/go/issues/23427, so

[2021-08-31 11:35] ravisantoshgudimetla commented on #104428
+1 on testing reboots. They may resurface underlying OS specific problems too.

[2021-08-31 12:30] saschagrunert opened #104681 "Add `runtime/pprof` support to binaries like the kubelet"
#### What would you like to be added:

The idea is to support CPU and memory profile creation via `runtime/pprof` for binaries like the kubelet. This allows to collect profiles over the complete lifetime of a binary, for example when running them in test suites or for debugging purposes.

#### Why is this needed:

Right now, we only support the `debug/pprof/*` HTTP endpoints, which accept a durati

[2021-08-31 12:31] mrniranjan opened #104682 "Memory Manager allows Guaranteed QoS Pod with hugepages requested is exactly equal to the left over Hugepages"
#### What happened:
Setup:
1. 3 Master nodes and 2 Worker Nodes.
2. Kubernetes Version: v1.22.0-rc.0+5c2f7cd
3. Configuring Memory Manager on Kubernetes Version (v1.22.0-rc.0+5c2f7cd)  and Nodes configured with Hugepages of size 2M on 2 Worker nodes.
4. Each Worker node having 2 Numa Nodes (numa node0 and numa node1)
5. Number of Hugepages of size 2M are 10 on each Numa node

sh-4.4# cat /sys/devi

[2021-08-31 12:49] adelina-t opened #104683 "RunAsUsername Windows test fails with containerD master"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-windows-networking#ltsc2019-containerd-flannel-sdnoverlay-master

#### Which test(s) are failing:

[Feature:Windows] SecurityContext should not be able to create pods with unknown usernames"

#### Reason for failure:

This job uses containerd built from master. Recently, containerd introduced this commit ( https://github.com/containerd/cont

[2021-08-31 12:50] adelina-t commented on #104683
/assign @adelina-t

[2021-08-31 12:50] adelina-t commented on #104683
/sig windows

[2021-08-31 12:58] lianghao208 opened #104684 "Default Scheduler Enhancement: add pods scheduling tracker metrics as a feature gate to track a pod scheduling lifecycle"
#### What would you like to be added:
In the latest version of default scheduler, it's difficult to track a pod scheduling process unless setting up a high log level.
Can we record pods scheduling process in metrics(e.g. whether a node pass the filter plugins and the score for this node)?
The metrics could be like:
[code]

#### Why is this needed:
To make the pods scheduling process easier to trac

[2021-08-31 12:58] lianghao208 commented on #104684
/sig scheduling
/cc @Huang-Wei

[2021-08-31 13:14] TBBle commented on #69608
/remove-lifecycle stale

[2021-08-31 13:32] hui-maker commented on #101371
/remove-lifecycle rotten

[2021-08-31 13:36] hui-maker commented on #101371
Is there have a way to check recommendations? I want to check the logic since we are still facing the flapping issue when using following kubernetes version. And if this problem is fixed future, how could I apply the fixes?
[code]

Thanks!

[2021-08-31 13:38] spadgett commented on #83961
/remove-lifecycle stale

[2021-08-31 13:50] hui-maker commented on #101371
/assign josephburnett

[2021-08-31 13:51] johnSchnake opened #104685 "E2E test output should provide more useful stack traces"
*Disclaimer:* This is something that seems highly useful for users and simple to implement. I intend to complete this myself.

#### What would you like to be added:
When looking at the e2e test results you see stack traces like:
[code]
That's useful, but not directly so since that is not a file or URL you can jump to since it is relative to the dockerized binary in the image.

Instead, we should j

[2021-08-31 13:59] johnSchnake commented on #104685
I would also consider changing the raw output too since, tbh, that is more readable. Now that I think of it, the junit output isnt normally what you scroll through since it just encodes things like new lines as `\n` so its hard to read.

[2021-08-31 14:15] gavinfish commented on #89267
/remove-lifecycle stale

[2021-08-31 14:16] YYashwanth commented on #88097
I had this issue today on AWS EKS 1.16. All the pods in the kube-system namespace were deleted. This is what I see in the controller manager logs

![image](https://user-images.githubusercontent.com/24538941/131518690-a3babecf-3092-4287-88d2-187d82464c05.png)

This is the same event for every pod in the kube-system namespace.

Any idea why this happens?

[2021-08-31 14:26] alculquicondor commented on #102136
We probably need to solve this before graduating to GA kubernetes/enhancements#1258

@gaorong I noticed you still have a PR open. Are you still working on it?

[2021-08-31 14:41] #104276 closed

[2021-08-31 14:42] cynepco3hahue commented on #104682
/triage accepted
/priority important-longterm
/sig node
/area kubelet

[2021-08-31 14:42] cynepco3hahue commented on #104682
/assign @cynepco3hahue

[2021-08-31 15:16] dprotaso commented on #102810
My ask is to only set it once if the UID isn't present. So it could work with `kubectl apply`

This pattern of setting owner references to help tie things together and clean up (GC) seems pretty common. The Application CRD from https://github.com/kubernetes-sigs/application does just that

[2021-08-31 15:16] gjkim42 commented on #104648
/triage accepted

[2021-08-31 15:25] damemi commented on #92143
I think @kerthcet can update the KEP, I don't want to take that.

@kerthcet what you need to do is open a PR in github.com/kubernetes/enhancements updating `keps/sig-scheduling/785-scheduler-component-config-api/README.md` to note:
* Policy config is deprecated
* `v1beta1` is deprecated
These will be under the `v1beta3` section I linked to above. Does that sound good? If not, I can do it

[2021-08-31 15:41] jsturtevant commented on #104683
xref: https://github.com/kubernetes/kubernetes/issues/104635

[2021-08-31 16:01] jayunit100 commented on #104428
@weiwenli97 can you post the code you have in a PR ? would like to start discussing this even if its not ready yet :)

[2021-08-31 16:22] sttts commented on #104419
+1 for better documentation. I am very hestitant encouraging use of `x-kubernetes-preserve-unknown-fields: true` by enabling advanced features. This was meant as a last chance to move into structured schema world after sins of bad API design in the past.

[2021-08-31 16:33] sguidos commented on #99504
When  I moved from Kubernetes v1.19 to v1.22 I received the error message:
```no matches for kind "CertificateSigningRequest" in version "certificates.k8s.io/v1beta1"```

The obvious fix is to change the apiVerison of my CertificateSigningRequest yaml from "certificates.k8s.io/v1beta1" to just "certificates.k8s.io/v1".  After that change, I received the error message:
```error validating data: Val

[2021-08-31 16:34] apelisse commented on #104419
I think we can solve this with OpenAPI v3, no?

[2021-08-31 16:38] rphillips commented on #104648
I tested this with latest master [d1da6d47dd9dc8eeee9b96bffa9523e4c91f32b8] and cannot reproduce this issue. Can anyone else?

[2021-08-31 16:41] DangerOnTheRanger commented on #104625
This looks like a case of #86245 to me, though this is with k3s, not OpenShift. Going off the comments on that issue, I think adding a timeout or retry limit to `runWithBackoff` might be risky/have unintended consequences. Changing the way `onGCEVM` works is also a potential solution, though I think similar logic applies there.

With the other issue, OpenShift was blocking the `metadata.google.int

[2021-08-31 16:55] brandond commented on #104625
Are you saying that any code using using go-containerregistry in a container is expected to mount the host's /etc/hosts into the container? That seems like an odd thing to expect users to know, especially since it's not documented anywhere.

[2021-08-31 17:07] TimShilov commented on #91652
/remove-lifecycle stale

[2021-08-31 17:23] yongxiu commented on #104137
I added XPreserveUnknownFields as you mentioned: https://github.com/yongxiu/apiextensions-apiserver/blob/b3c97b674f0286ab34d4044c27d83f59e0f60bdf/pkg/apiserver/validation/validation_test.go#L150
But it's still failing with same error, anything else I'm missing?

[2021-08-31 19:06] neolit123 commented on #104679
/sig network

[2021-08-31 19:09] DangerOnTheRanger commented on #104625
Sorry, I think I misunderstood the issue - I thought the issue was during fetching a container image for k3s for some reason, as opposed to the issue in reality coming from trying to use `pkg/credentialprovider` from inside a container on a k3s-hosted pod.

I think the problem here if I'm understanding it correctly now stems from using/depending on `pkg/credentialprovider` for Docker image-related

[2021-08-31 19:53] alculquicondor opened #104692 "Data race in TestApfExecuteWatchRequestsWithInitializationSignal"
#### Which jobs are flaking:

`pull-kubernetes-unit`

#### Which test(s) are flaking:

`TestApfExecuteWatchRequestsWithInitializationSignal`

#### Testgrid link:

Testgrid doesn't load kubernetes/test-infra#23425

#### Reason for failure:

From: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104666/pull-kubernetes-unit/1432426000020410368

[code]

/sig api-machinery

[2021-08-31 20:11] karunasagark opened #104694 "Invalid value: "null" when field is empty in configuration and SSA is used to apply"
#### What happened:

We are developing a new k8s controller and decided to use SSA completely. We ran into an issue when I marked a field empty in the configuration for an existing object. I have a custom resource with field called 'prop1' and it is not a required field (see snippet below).

Scenario 1:
Using SSA, I created a new object of this CR kind with 'prop1' specified and this was successfu

[2021-08-31 20:11] karunasagark commented on #104694
/wg api-expression

[2021-08-31 20:12] karunasagark commented on #104694
/sig api-machinery

[2021-08-31 20:14] karunasagark commented on #103011
To close out, I couldn't repro the bug using the repro steps mentioned above on 1.20.7

[2021-08-31 20:18] fedebongio commented on #104623
/triage accepted

[2021-08-31 20:19] fedebongio commented on #104641
/triage accepted

[2021-08-31 20:19] fedebongio commented on #104641
/assign @apelisse

[2021-08-31 20:20] fedebongio commented on #104661
Thank you @luxas for taking this one!
/triage accepted

[2021-08-31 20:22] fedebongio commented on #104692
/assign @MikeSpreitzer @tkashem
/triage accepted

[2021-08-31 20:22] fedebongio commented on #104694
/assign @jpbetz
/triage accepted

[2021-08-31 20:23] fedebongio commented on #104628
/triage accepted

[2021-08-31 20:23] mjpieters commented on #47202
Yes, it was changed back: https://github.com/kubernetes/website/commit/a53275819774e4cdc276481e64c25727c2af663e#diff-2b4bde5a24cfe521ee83aaf17bafe6cbf3b69c513dd06c720ca14000ac7e8dd4

[2021-08-31 21:03] MikeSpreitzer commented on #104692
Yes.  It looks like a bug.  There are many calls to `firstRunning.Wait()`, and they are not all guaranteed to happen before the second `firstRunning.Add(concurrentRequests)`.  I will revise.

[2021-08-31 21:05] rphillips commented on #104648
I tested https://github.com/kubernetes/kubernetes/pull/104031 and it does not fix this issue.

[2021-08-31 23:42] weiwenli97 commented on #104428
I have made a draft PR for it https://github.com/kubernetes/kubernetes/pull/104698/files. Could you please help review it? Thank you!

[2021-09-01 00:19] gjkim42 commented on #104648
How about including file modification time when calculating the static pod's uid.
It would prevent this issue, and calculated uid would be stable over kubelet restarts.

However, we still need to solve #97722 too.

[2021-09-01 01:10] dmitry-mightydevops commented on #104637
Yes correct using teleport.

[2021-09-01 02:04] robinshine opened #104702 "Pod running on windows node with containerd runtime stuck at PodInitializing"
#### What happened:

I have a pod containing an init container and main container running on Windows node with containerd runtime. The init container completes successfully, while the main container stuck at PodInitializing.

#### What you expected to happen:

The main container should start to run when init container completes successfully, just like what happens when using the docker runtime.

#

[2021-09-01 02:06] pacoxu commented on #101820
/triage accepted

[2021-09-01 02:10] robinshine commented on #104702
/sig Windows

[2021-09-01 02:28] kerthcet commented on #92143
sounds good. I'll close the kep.

[2021-09-01 02:28] kerthcet commented on #92143
yeah, I'm glad to, thanks @damemi

[2021-09-01 02:34] #96252 closed

[2021-09-01 05:46] pacoxu commented on #101829
As I know, some node agent uses `docker inspect` to get container information and sometimes want to retrieve pod labels.

I would suggest to use `crictl inspect`  instead to get pod info directly.

[2021-09-01 05:53] pratikpatil024 commented on #74551
Hi @leontastic , can you please explain what you did?

Let's say I am running the following command to forward the port:
[code]

How can I use `ulimit` here to achieve the same goal?

Thanks!

[2021-09-01 07:04] pacoxu commented on #92674
@SaNsK11 #99606 is the PR to fix this issue.

[2021-09-01 07:13] juzhao opened #104707 "no explanation for metadata filed of NodeMetrics/PodMetrics"
#### What happened:
no explanation for metadata filed of NodeMetrics/PodMetrics,  code:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/metrics/pkg/apis/metrics/v1beta1/types.go#L33
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/metrics/pkg/apis/metrics/v1beta1/types.go#L65
should be like
https://github.com/kubernetes/kubernetes/blob/master/staging/

[2021-09-01 07:43] palnabarun commented on #103998
I can take a dig at this.

/assign

[2021-09-01 07:59] shanmukha511 commented on #60140
we are using some backups like copying one pod path data to other pod using kubectl cp command .
During the copying process we are getting some errors.
**ERROR:** tar: removing leading '/' from member names. error: unexpected EOF

**Kubectl version** : v1.21.0

Any resolution for this error?

[2021-09-01 08:16] kerthcet commented on #104678
/assign

[2021-09-01 08:18] kerthcet commented on #104678
it works as expected, if you want to encode the secret, you may work like this:
[code]

[2021-09-01 08:49] LIL-Raps commented on #104678
I do not understand why this opportunity exists. For what purposes can it be used?

[2021-09-01 08:56] luxas commented on #104661
Cool, I'll send a PR is a couple of days :smile:

[2021-09-01 09:11] pacoxu commented on #104707
/sig instrumentation

[2021-09-01 09:11] SimoneLazzaris commented on #104625
Maybe I can explain what is our use case.

Our application is monitoring other pods, to monitor if untrusted containers are running on the k8s installation. In order to do that, it fetches container checksums from their original repository. So it uses package `go-containerregistry` to manage authentication. It retrieves auth informations from the pod metadata and use them to download container che

[2021-09-01 09:25] brandond commented on #104625
Have you tried building your application with the build tags to disable the various credential providers? https://github.com/google/go-containerregistry/pull/630

[2021-09-01 09:35] khiav223577 commented on #57853
Similar to https://github.com/kubernetes/kubernetes/issues/63371

[2021-09-01 10:33] aojea commented on #95515
/reopen
/assign @khenidak

This will fixed by https://github.com/kubernetes/kubernetes/pull/104691/

[2021-09-01 10:47] uablrek commented on #104679
So, the ExternalIPs `10.128.149.177,10.128.149.199` are actual node addresses?

If so, that is an invalid configuration, and further for a `NodePort` service it is unnecessary. Traffic to any `node-ip:nodePort` will be handled anyway.

What are you trying to accomplish?

[2021-09-01 10:49] mohammaddawoodshaik opened #104709 "PV and PVC exists for POD but Scheduler still complains volume/node affinity"
#### What happened:
In a three-node cluster, we have Statefulset with replica-3. Each node in the cluster has a PV/PVC created in order to make sure one statefulset-pod to schedule on each node.

Initially all things are working good. But as part of our testing, we have hard-rebooted all three boxes with a ~60sec gap. After the nodes comes back up, we saw that one pod in statefulset is stuck in pe

[2021-09-01 10:52] CSimpiFoN commented on #65502
Hello, another use case, that could benefit from if this gets implemented. Our microservices get their configuration and BE credentials from Hashicorp Vault through a sidecar, that manages the communication with Vault. It would be great if we can ensure that this sidecar starts up before the main application does, so it can get the necessary secrets right after startup.

[2021-09-01 11:05] JamesBalazs commented on #102056
We're running into this issue with the Stackdriver adapter, and it seems a bunch of other people have had the same problem over the years: https://github.com/kubernetes/kubernetes/issues/81976 is one other example.
This makes it impossible to autoscale a deployment solely on the request rate that matches its load balancer, which is quite a big issue for us.

From skimming through the code, I _thin

[2021-09-01 11:12] anoopnm182 opened #104710 "issue while installing Kubernetes cluster:"
<img width="350" alt="1" src="https://user-images.githubusercontent.com/89909933/131661632-4660f2fc-7d34-42a2-a144-a3ec03f46c27.PNG">
<img width="525" alt="2" src="https://user-images.githubusercontent.com/89909933/131661638-7c9bc799-6f66-4d53-bfc5-8aeeab3f301e.PNG">
<img width="550" alt="3" src="https://user-images.githubusercontent.com/89909933/131661641-d4bd7402-0132-401b-987f-07fd86f5e2f4.PNG"

[2021-09-01 11:19] anoopnm182 commented on #104710
/sig Architecture

[2021-09-01 12:27] MikeSpreitzer commented on #104173
This may be a duplicate of #104057

[2021-09-01 12:31] liggitt commented on #104637
Thanks for confirming, sounds like an issue on the teleport side

[2021-09-01 12:31] #104637 closed

[2021-09-01 12:39] debu99 commented on #72811
Another use case,  java application -XX:MaxRAMPercentag is based on the limit memory resource, so which means if the gap between request resource and limit resource is large like 1:1.5, then the HPA is useless as that HPA will scale to maximum easily due to heap size

[2021-09-01 12:55] rata commented on #65502
@CSimpiFoN Please see [this message][link] with links on how to add the use case to the use cases doc.

[link]: https://github.com/kubernetes/kubernetes/issues/65502#issuecomment-889158054

[2021-09-01 13:23] SimoneLazzaris commented on #104625
@brandond disabling the credentials seems to also be a viable workaround/solution.
Our container is not stuck in init phase anymore.

[2021-09-01 13:44] sanposhiho commented on #102231
/sig api-machinery
/sig cloud-provider
/sig network
/sig cli
/sig node
/sig scalability

[2021-09-01 14:18] lauchokyip commented on #104336
This will be changed for the upcoming `kubectl`

Same issue:
https://github.com/kubernetes/kubernetes/pull/103458

[2021-09-01 14:25] sanposhiho commented on #94404
/remove-lifecycle stale

[2021-09-01 14:29] rphillips commented on #104648
@gjkim42 That is a good idea. I do worry about some controllers not being aware of the modified time which would cause restarts of the static pods, but I've PRed the patch to test it in CI: https://github.com/kubernetes/kubernetes/pull/104712.

[2021-09-01 14:44] sr2ds commented on #89898
Thank you so much for help! My problem did solved with simple exec curl, fantastic!!
Thanks for all and especial for @alex-kovshovik @pskrzyns

[2021-09-01 14:51] Debanitrkl commented on #104595
I have updated the documentation, if anyone here could please review the opened PR

[2021-09-01 14:51] jpbetz commented on #104694
I suspect this will also be fixed by https://github.com/kubernetes-sigs/structured-merge-diff/pull/184 (xref https://github.com/kubernetes/kubernetes/issues/103011#issuecomment-866332473), but it would be good to validate that before closing this.

[2021-09-01 14:52] ahg-g opened #104714 "Make NodeAffinity mutable for Jobs"
#### What would you like to be added:

Make NodeAffinity constraints mutable for suspended Jobs.

#### Why is this needed:

In https://github.com/kubernetes/kubernetes/issues/97170 we added a new flag to allow suspending jobs to control when the Pods of a Job get created by controller-manager. We proposed this as a primitive that higher-level controllers can use to support job queuing,

Allowing t

[2021-09-01 14:56] ahg-g commented on #104714
/cc @soltysh @liggitt @wojtek-t

[2021-09-01 16:37] jsturtevant commented on #104683
closing this as duplicate. see https://github.com/kubernetes/kubernetes/issues/104635#issuecomment-910415666 for discussion at sig-node

[2021-09-01 16:37] jsturtevant commented on #104683
/close

[2021-09-01 16:37] #104683 closed

[2021-09-01 16:44] lauchokyip commented on #104336
/kind duplicate

[2021-09-01 16:49] karunasagark commented on #104694
@jpbetz from this [comment](https://github.com/kubernetes/kubernetes/issues/103011#issuecomment-866332473), it seems that fix is included in 1.20.7. However, the above repro steps were performed on 1.20.7, so there seems to be something missing?

[2021-09-01 17:21] Huang-Wei commented on #104714
Two questions:

1. By "nodeAffinity", I suppose it means `pod.spec.affinity.nodeAffinity` - with volume affinity excluded. Given it's a pod field, this would allow arbitrary workload (not only Job) to mutate it, is it intentional, or you want to restrict to Job API only?
2. You mentioned it's intended for suspended Job, so are you going to limit the scope to pending Pods (with empty `.spec.nodeNam

[2021-09-01 17:23] SergeyKanzhelev commented on #104556
@mmiranda96 do you know whether we run these same tests in different job? If so we can just remove this job.

[2021-09-01 17:25] SergeyKanzhelev commented on #104567
Started failing between:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv2-node-e2e-conformance/1428526241794756608 and https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv2-node-e2e-conformance/1428541341452734464

[2021-09-01 17:25] ahg-g commented on #104714
Yeah, I am referring to nodeAffinity constraints in the pod template of the job. It is restricted to the job api only at this point.

The proposal is not to allow mutating nodeAffinity of pods, only the pod template of a suspended job. So when the job is unsuspended, the pods that will be created will already be carrying the modified constraints.

[2021-09-01 17:27] SergeyKanzhelev commented on #104567
Also failing here: https://github.com/kubernetes/kubernetes/issues/103759

[2021-09-01 17:27] SergeyKanzhelev commented on #104567
/triage accepted

[2021-09-01 17:27] SergeyKanzhelev commented on #104567
/assign @Dragoncell

[2021-09-01 17:28] SergeyKanzhelev commented on #104567
/cc @endocrimes

[2021-09-01 17:28] SergeyKanzhelev commented on #103759
/cc @endocrimes

[2021-09-01 17:34] Huang-Wei commented on #104714
Thanks for the clarification. The limited scope is fine with me. I will leave technical feasibility and to API experts.

I suppose this is based on the current semantics of "suspended job" - when a Job is suspended, it deletes all pods it always spawns. So what if the semantics change in the future to "literally only spawn new pods and keep created pods intact"?

[2021-09-01 17:35] SergeyKanzhelev commented on #100844
/remove-kind bug
/kind feature

feels like a feature request. If it will be on Node, it needs a KEP.

[2021-09-01 17:36] SergeyKanzhelev commented on #101829
/remove-kind bug
/kind support

workaround is to use `crictl`. Closing, please re-open if needed

[2021-09-01 17:36] SergeyKanzhelev commented on #101829
/close

[2021-09-01 17:37] #101829 closed

[2021-09-01 17:37] ahg-g commented on #104714
I don't think this is an acceptable change of existing behavior of the `suspended` feature; if that to happen, it will need to be done using a new API field.

[2021-09-01 17:43] #93347 closed

[2021-09-01 17:43] #100682 closed

[2021-09-01 17:43] SergeyKanzhelev commented on #100277
/remove-kind bug
/kind feature

I don't think we can do it.

/assign @ehashman

[2021-09-01 17:45] SergeyKanzhelev commented on #80968
/assign @endocrimes

[2021-09-01 17:46] SergeyKanzhelev commented on #80968
/triage accepted

(maybe even fixed, @endocrimes to check)

[2021-09-01 17:47] ehashman commented on #80968
/remove-triage accepted
/triage needs-information

[2021-09-01 17:48] SergeyKanzhelev commented on #72320
/triage accepted

[2021-09-01 17:51] SergeyKanzhelev commented on #60140
/triage accepted
/assign @matthyx

Let's try to reproduce

[2021-09-01 17:53] ehashman commented on #100277
It is not safe to do this, and would introduce a regression if we started assuming that containers were ready until proven otherwise rather than notready on kubelet start.

It's not an interruption of the healthy container. Nothing happens to the running container. Rather, the control plane will remove it from a load balancer pool until it's proven to be working. This is how high-availability depl

[2021-09-01 17:54] SergeyKanzhelev commented on #27264
/triage needs-information

[2021-09-01 17:54] SergeyKanzhelev commented on #35521
/triage needs-information

need repro on the latest versions of confirmation from somebody experiencing it

[2021-09-01 17:55] SergeyKanzhelev commented on #74151
/remove-kind bug

[2021-09-01 17:57] leontastic commented on #74551
I ran `ulimit -n 65536` as-is. You might need `sudo` on your system. This increases the file descriptor limit of the local shell where you're running `kubectl port-forward`.

My hypothesis is that `kubectl port-forward` doesn't clean up its sockets properly so the local shell runs into the file descriptor limit after some time under high load (or maybe after terminating a few times). This seemed t

[2021-09-01 18:35] jpbetz commented on #104694
Thanks for checking. I'll look more closely at this.

[2021-09-01 19:24] gnufied opened #104717 "Rename volume_fsgroup_recursive_apply labe for volume operations to volume_fsgroup_apply"
This came from discussions in - https://github.com/kubernetes/enhancements/pull/2914

And we should consider renaming the label to something more meaningful and a current proposed alternative is `volume_fsgroup_apply`.

/sig storage

[2021-09-01 19:27] neolit123 commented on #104709
versions < 1.20 are out of support in upstream k8s, so you might have to contact the support of your provider first.
please confirm, if you or them can reproduce this with version 1.20 or newer.

thanks

/sig storage
/triage needs-information

[2021-09-01 19:43] #98414 closed

[2021-09-01 19:43] #98498 closed

[2021-09-01 19:43] #100796 closed

[2021-09-01 20:18] micahhausler opened #104720 "TITLE: PLACEHOLDER ISSUE"
/triage accepted
/lifecycle frozen
/area security
/kind bug
/committee security-response

[2021-09-01 20:24] ahg-g commented on #104684
We can't do that using metrics, this will generate high cardinality.

[2021-09-01 20:33] liggitt commented on #104419
I agree. Any CRD using `x-kubernetes-preserve-unknown-fields` is opting into persisting potentially problematic data (problematic in size or in schema/type/structure) and is *usually* questionable.

we should include all schema information available when we start publishing openapi v3, but for openapi v2 purposes, this is working as intended

[2021-09-01 20:38] cheftako commented on #99451
/assign Look to move to cloud-provider-gcp

[2021-09-01 20:38] cheftako commented on #99451
/triage accepted

[2021-09-01 20:39] cheftako commented on #102231
/assign

[2021-09-01 20:40] cheftako commented on #104383
/triage accepted

[2021-09-01 20:40] cheftako commented on #104383
/assign @kishorj

[2021-09-01 20:42] cheftako commented on #104517
/assign @jpbetz
/triage accepted

[2021-09-01 20:42] cheftako commented on #104524
/assign @nckturner @kishorj
/triage accepted

[2021-09-01 20:44] cheftako commented on #104625
/triage accepted

[2021-09-01 20:44] cheftako commented on #104638
/assign @kishorj
/triage accepted

[2021-09-01 20:46] marosset commented on #104584
@jingxu97 it looks like people are seeing this issue on Windows Server 2019 (AKS only supports WS2019 at this time) and I thought the os.Stat() issue is only seen on 20H2 not on 2019.

@aramase can you confirm this is happening consistently on Windows Server 2019?

[2021-09-01 20:49] kishorj commented on #104524
@wcurry, if you update the `loadBalancerSourceRanges` attribute to contain fewer entries, does the controller recovers, or it is forever stuck with the error? This issue is similar to #98097.

[2021-09-01 21:07] m-yosefpor commented on #69699
/remove-lifecycle stale

[2021-09-01 21:16] aramase commented on #104584
The issue is happening with Windows Server 2019. The failure rates are high with Kubernetes v1.21+. After a couple of restarts of the `node-driver-registrar` container, the registration eventually succeeds.

tl;dr: For < 1.21 this does happen in 1 out of 20 runs. For >= 1.21 this happens in almost every test run and needs to be restarted multiple times.

[2021-09-01 21:30] liggitt commented on #104648
@deads2k, thoughts on the modified time approach?

note that this won't help for static pods which explicitly set a uid

[2021-09-01 21:31] jpbetz commented on #104517
This is an related to the GKE product. I've filed this to the public [List open Google Kubernetes Engine issues](https://b.corp.google.com/savedsearches/559746?pli=1)

[2021-09-01 21:40] damemi commented on #89930
/remove-lifecycle rotten

[2021-09-01 22:14] MikeSpreitzer opened #104721 "TestWatchBookmarksWithCorrectResourceVersion uses `*testing.T` in forked goroutine"
#### What happened:
While working on another PR that requires updating `apiserver/pkg/storage/tests/cacher_test.go`, my IDE gave me a few warnings about TestWatchBookmarksWithCorrectResourceVersion.
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl

[2021-09-01 23:29] msau42 commented on #69699
https://github.com/kubernetes/enhancements/issues/695 is beta in 1.20 and targeting GA in 1.23.  I think we can close this issue and track progress through the enhancement issue.
/close

[2021-09-01 23:29] #69699 closed

[2021-09-01 23:47] balan2010 commented on #104678
I was expecting below code will throw an error because data value of the secret default is not base64 encoded.  According to secrets documentation secret has to be base64 encoded.  here is the type definition for secret https://github.com/kubernetes/kubernetes/blob/67fa7b278249f12dd29d5b749fe7f973e8f3e0e1/staging/src/k8s.io/api/core/v1/types.go#L5856

`apiVersion: v1
kind: Secret
metadata:
  name:

[2021-09-02 00:03] gjkim42 commented on #104648
https://kubernetes.slack.com/archives/C0BP8PW9G/p1625072555009600

I remember there was a discussion about whether we would support explicitly set uid in static pods.
And maybe we decided to not support that.

---

One concern is that if we calculate a uid for a static pod including file modification time,
including pod content(previous approach) may be meaningless.
We may remove the property that

[2021-09-02 00:37] Huang-Wei commented on #93591
I think the requirement is still valid - the `Less()` function is implicitly called during internal heap sorting, which is not the right place to perform business logic.

Sorting between individual Pods is easy. Today we just sort by their queued timestamp to achieve both prioritization and fairness. However, some business usecases use a CRD to represent a number of pods, and want the CRD (backing

[2021-09-02 00:58] neolit123 commented on #104648
It would prevent this issue, and calculated uid would be stable over kubelet restarts.

when moving a file away from a directory and moving it back in after some time (which is effectively a static pod restart) or when renaming it, the modification time would remain the same. thus modification time would not contribute to the uniqueness of the UUID. this is consistent on Linux and Windows.

"chang

[2021-09-02 01:33] lianghao208 commented on #104684
@ahg-g
I agree, using metrics to record every pod's scheduling process could generate high cardinality. I'm wondering if there is a better way to track a pod's  scheduling process without analyzing scheduler's log?

[2021-09-02 01:35] kerthcet commented on #104678
/assign

[2021-09-02 01:42] m-yosefpor commented on #69699
@msau42 thanks for your clarification. However https://github.com/kubernetes/enhancements/issues/695  only fixes kubelet recursive walk, but the recursive `chcon` applied by container runtime is still an issue (see https://github.com/kubernetes/kubernetes/issues/69699#issuecomment-430589694). As @jsafrane also mentioned, we need some sort of way to tell runtime not to apply those `chcon` (via a ch

[2021-09-02 02:37] hchenc commented on #96701
for kubelet v1.14 or later, try to rebuild kubelet to disable kmem accounting by adding Build Tags like:
`make BUILDTAGS=“nokmem” `

[2021-09-02 02:41] wcurry commented on #104524
@kishorj It does not recover. We had to replace two LBs with new ones to get around this.

[2021-09-02 02:42] pacoxu commented on #104721
It would be part of #92402.
As https://github.com/kubernetes/kubernetes/issues/92402#issuecomment-864575253
[code]

#103023 will fix this issue.

[2021-09-02 02:46] Royal0302 opened #104724 "close pod's FQDN"
how can i closed pod's FQDN when i was created pod  by statefulset

[2021-09-02 02:51] pacoxu commented on #104721
/sig api-machinery

[2021-09-02 02:54] everpeace commented on #93591
Thanks for heading up the issue!! Let me share our internal use-case to explain a need for _impure `Less()` functions_ (aka non-referential transparent).

We have a multi-tenant on-premise kubernetes cluster. Most workloads are machine-learning large batch jobs. Each tenant has some _Credit_  CR that is controlled by multiple policies and maintained by cluster administrators (e.g. pay-as-you-go, i

[2021-09-02 03:03] pacoxu commented on #104724
Please try https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md for questions and support.

/kind support
/sig network

You may refer to https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#hostname-and-name-resolution and https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-hostname-and-subdomain-fields.

[2021-09-02 03:19] zouyee commented on #101189
/assign

[2021-09-02 04:01] pacoxu commented on #104131
/sig cloud-provider
/cc @brendandburns

#14804 add the clean-up script to https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/delete-stranded-load-balancers.sh#L24-L33.

[2021-09-02 05:10] Huang-Wei commented on #93591
I suppose by "impure functions", you meant the proposal in https://github.com/kubernetes/kubernetes/issues/93591#issuecomment-671913732. If so, I don't think it's feasible because it'd change the nature property of a heap - as you mentioned, it's no longer a heap.

What I'm thinking is just proper enqueue/popping extension semantics. With that, in your use case, what we can achieve is:

- suppose

[2021-09-02 06:26] cheftako commented on #99451
/assign
Look to move to cloud-provider-gcp

[2021-09-02 06:33] sanposhiho commented on #94285
/remove-lifecycle rotten

I'm assined to most of issues listed here. So, I take this issue over.

/assign

[2021-09-02 06:43] sanposhiho commented on #94285
Now, there are 4 PRs for scheduler_perf

- [ ] https://github.com/kubernetes/kubernetes/pull/104716
- [ ] https://github.com/kubernetes/kubernetes/pull/101854
- [ ] https://github.com/kubernetes/kubernetes/pull/101835
- [ ] https://github.com/kubernetes/kubernetes/pull/101799

[2021-09-02 07:35] ernie18a commented on #23864
pr

[2021-09-02 07:38] zhxjdwh commented on #104533
Any news for this?

[2021-09-02 09:20] yuanhuaiwang commented on #8180
it happend when version is 1.18.3
My environment:
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-20T12:52:00Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73

[2021-09-02 09:24] zhangguanzhang commented on #8180
你的staticPod里使用了`imagePullSecret`或者`serviceaccount`了

[2021-09-02 09:55] tongpu commented on #86944
@aojea We seem to be running into a similar issues on a kubespray based environment running containerd. Running the command from another issue (see https://github.com/kubernetes/kubernetes/issues/34278#issuecomment-832815653). Show us that we have a lot of IPs in `/var/lib/cni/networks/cbr0` that do not map to a running pod.

[2021-09-02 10:02] aojea commented on #86944
we should open a new bug and explain the issue in detail, there are multiple components here that can show the same outcome, kubelet, cni, ...

[2021-09-02 10:37] pacoxu opened #104730 "pull-kubernetes-unit flake TestEnsurePIPTagged"
#### Which jobs are flaking:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit

#### Which test(s) are flaking:
      "k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/azure TestEnsurePIPTagged/ensurePIPTagged_should_ensure_the_pip_is_tagged_as_configured": 8,
      "k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/azure TestEnsurePIPTagged":

[2021-09-02 10:58] chymy opened #104731 "kube-apiserver: Liveness probe failed: HTTP probe failed with statuscode: 401"
#### What happened:
My `kube-apiserver.yaml` probe is configured as follows(I exclude `etcd` health check):
[code]

but liveness probe  is failed.

single quotation `'/livez?exclude=etcd'` is also failed.

#### What you expected to happen:
 liveness probe  is successful.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- K

[2021-09-02 10:59] chymy commented on #104731
/sig api-machinery

[2021-09-02 11:00] shanmukha511 commented on #60140
Hi @matthyx

I believe it's not about size of file because we copy 100's GB data from one pod to other pod.And even in few case less than 500MB we copy in both cases we facing the error. And the issue is intermittent not every time it occurs.

[2021-09-02 13:13] liggitt commented on #104730
flaking badly since the merged update - https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestEnsurePIPTagged

[2021-09-02 15:00] pacoxu commented on #103247
/sig security architecture
? for triage

[2021-09-02 15:03] pacoxu commented on #103849
Pending on https://github.com/kubernetes/enhancements/issues/2221

[2021-09-02 15:24] gavinfish commented on #104730
/assign

[2021-09-02 15:27] serathius commented on #102439
We would like to have static analysis setup before we start migrating logs in 1.23. @umangachapagain will you be able to work on it this week? Do you need any help?

[2021-09-02 15:30] Domodan commented on #75803
Anyone who will come across this error later, here is the solution....
At least I know it worked for me

Create this file "daemon.json" in the directory "/etc/docker" and add the following

{
    "exec-opts": ["native.cgroupdriver=systemd"]
}

Restart your docker service: systemctl restart docker

Reset kubeadm initializations: kubeadm reset

Initialize your network: kubeadm init ..........

[2021-09-02 15:33] serathius commented on #100748
It would be great if we had e2e setup for all components before we start structured migration next week. @pchan @rahulii will you be able to work on it this week? Please let me know if there is anything I can help with.

[2021-09-02 15:40] EricWvi commented on #27264
FYI @SergeyKanzhelev
Minimal reproduction:
[code]
It will print messages like `line 0/1/2.....`
My case:
[code]

The loss happens between start container and attach container. It's a little tricky. Since if we don't start the container, we can't attach the standard streams, and the attach request is not finished instantly. This way, stdout/stderr is doomed to miss some lines. It's not like `docker

[2021-09-02 16:08] Debanitrkl commented on #104595
@liggitt added a new PR as suggested by you.

[2021-09-02 16:12] khenidak commented on #102698
Yes, this is how it was and i think this is the correct way.

The behavior of one node misconfigured is indeterministic from user pov (some traffic will work, some won't etc). Halting CM and asking user to manually fix the misconfiguration IMO is the best the approach.

[2021-09-02 16:28] jpbetz commented on #104517
/close

[2021-09-02 16:28] #104517 closed

[2021-09-02 16:48] aojea commented on #96066
/reopen
/cc

[2021-09-02 17:15] umangachapagain commented on #102439
@serathius Yes, I can. PR kubernetes/kubernetes/pull/103293 is up for enabling static analysis.  It has some unresolved conversations. It'd be helpful if I could get another round of review on that PR.

Before we merge that we'd need to fix existing logging issues which are listed here: https://github.com/kubernetes/kubernetes/pull/103293#issuecomment-885028839. If I could get help fixing those it

[2021-09-02 17:55] #104329 closed

[2021-09-02 18:12] thyn opened #104737 "pod updates:how to change the fields of spec.containers[].resources.request.cpu(memory)"
Is it possible to change request only without pod restart? I know about #24913. But  requests  seems to me to be safe to change

Example of usage:
We have blue green deployment. When new pods are starting they need few resources. When they switched to production poods need more resources (request only). After deployment all old pods would be active for some time with lower requests. To be sure eve

[2021-09-02 18:15] thyn commented on #104737
/sig scheduling

[2021-09-02 18:50] pradeepgoldfields commented on #68737
steps that worked for me
PVC in statefulset is immutable through helm or terraform so it needs deletion of stateful set for data nodes.
	1.  Increase PVC
            kubectl edit pvc <name> for each PVC in the StatefulSet, to increase its capacity.

	2. Delete Stateful set
            kubectl delete sts --cascade=orphan <name> to delete the StatefulSet and leave its pods.

	3. Modify persistance v

[2021-09-02 18:58] Flou21 opened #104738 "Problem initializing cluster, "User "system:kube-controller-manager" cannot get resource "leases" in API group "coordination.k8s.io" in the namespace "kube-system"""
#### What happened:
I can't create a multi master kubernetes 1.22 cluster.
When I join the second and third control-plane I get an RBAC error.

This is the log in the kube-controller-xxx pods from the second and third node:
[code]

networking does not work afterwards

#### What you expected to happen:
no errors in the logs and working networking

#### How to reproduce it (as minimally and precisel

[2021-09-02 19:13] rphillips commented on #104648
@neolit123 Thank you for that information. I changed the PR to mix in a timestamp, but this isn't going to work either.

[2021-09-02 19:59] caiohasouza commented on #89903
Hi,

On [EKS](https://aws.amazon.com/eks/) to don't generate a new issues with anothers components that use the `/run/dockershim.sock` and not use deprecated parameters (`--containerd`) on kubelet i created a symlink, basically:

1.Create a symlink (ln -sf /run/dockershim.sock /run/containerd/containerd.sock) **before** the kubelet daemon starts.

I'm using [terraform-eks-module](https://github.co

[2021-09-02 20:07] smarterclayton commented on #104648
Note that we need exclusion by name/namespace for static pods AND regular pods in force deletion - we shouldn't start the new pod with the same name and different UID when there is an old one terminating (and force deleted).  So changing the UID to be generated isn't sufficient, but it's additional.

[2021-09-02 20:14] fedebongio commented on #102231
thank you Walter for taking this one!
/triage accepted

[2021-09-02 20:18] fedebongio commented on #104721
pinged @lavalamp in the corresponding PR. Thank you.
/triage accepted

[2021-09-02 20:20] fedebongio commented on #104731
Could you provide the api-server logs so we can see if there is any additional information? Thank you!
/help

[2021-09-02 20:20] fedebongio commented on #104731
/assign @yliaog
/triage accepted

[2021-09-02 20:25] Flou21 commented on #104738
/sig network

[2021-09-02 20:26] Flou21 commented on #104738
I hope this sig from me was ok, please change if something is wrong

[2021-09-02 20:30] khenidak commented on #103184
Quick update. I am starting a PR on this one. Should see a WIP PR soon.

[2021-09-02 20:31] thockin commented on #104724
What does it mean to close the FQDN?

[2021-09-02 20:39] thockin commented on #104679
Likely this causes iptables rules which block anything except the service port on that IP.  I don't think this is what you want. I echo Lars - What are you trying to accomplish?

[2021-09-02 20:40] thockin commented on #104659
Can we merge this with https://github.com/kubernetes/kubernetes/issues/103000 ?

[2021-09-02 20:44] thockin commented on #104643
What does "restart network" mean here?  This is clearly not a systemic issue - we'd be drowning in bug reports.

[2021-09-02 20:44] thockin commented on #104612
/triage accepted

[2021-09-02 20:47] thockin commented on #104544
/triage accepted

[2021-09-02 20:47] thockin commented on #104388
Anything more we can do here?

[2021-09-02 20:48] thockin commented on #104234
I'm going to re-purpose this as a feature :)

[2021-09-02 20:50] #104110 closed

[2021-09-02 20:50] thockin commented on #91072
Should we accept this one, Rob?

[2021-09-02 20:50] thockin commented on #90838
/triage accepted

[2021-09-02 20:52] robscott commented on #91072
I think this is likely worth fixing, I'm not sure I'll have the time to take it on in the short term at least, but that shouldn't prevent accepting for triage.

/triage accepted

[2021-09-02 21:27] skorobogatydmitry commented on #67250
+1

[2021-09-02 21:47] smarterclayton commented on #104648
Thinking through this problem, I think the fundamental gap is that desired config is not being properly translated into "desired running" and proper exclusion isn't being provided.  I *think* that there should be an exclusion rule which is:

1. two pods with same uid cannot be running at the same time (pod config enforces this today except for force deleted pods)
2. two pods with the same source (

[2021-09-02 21:52] aojea commented on #104544
I think that the comment is related to the e2e framework skipper, that only skips by cloud provider,  but yeah, it is about CNIs

[2021-09-02 22:10] henro001 commented on #104169
Looks like this is known, upgraded 1.20.7 to 1.20.10 and that resolved the issue
https://github.com/kubernetes/kubernetes/pull/101737

[2021-09-02 22:10] #104169 closed

[2021-09-02 22:26] HcgRandon commented on #3312
Why is this closed? It is a vital issue for many applications and needs to be solved???

[2021-09-02 22:41] marosset commented on #95735
/reopen
I don't think this was ever fully addressed

[2021-09-02 22:57] gjkim42 commented on #104648
Right, we can't solve this bug by generating UID.

I think there can't be a static pod that could change the name without uid changing. Am I misunderstood?

[2021-09-02 23:43] jsturtevant commented on #95735
also related to https://github.com/kubernetes/kubernetes/issues/104283

[2021-09-03 00:48] juniorgasparotto commented on #62036
Same problema here

[2021-09-03 01:43] #104612 closed

[2021-09-03 01:49] neolit123 commented on #104738
/remove-kind bug
(until a bug is confirmed)
/kind support

we have 1.21 -> 1.22 upgrade and 1.22 creation tests jobs for kubeadm that are passing here:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

these could be temporary.

what is the actual failure that you get?
is the kube-controller-manager crashlooping, if yes then there must be a fatal error in the logs?
is kubeadm init an

[2021-09-03 01:51] kerthcet commented on #104678
I'll add some validation before successfully create secrets. I'll keep up with my progress.

[2021-09-03 01:57] #100248 closed

[2021-09-03 02:44] dprotaso commented on #104329
@khenidak @thockin to confirm does the merge PR _allow_ you to now change the type from `ClusterIP` to `ExternalName`? Or does it still produce an error with the difference it is reported properly vs. INTERNAL_ERROR?

If it's the former can we cherry pick this PR back to supported K8s versions?

[2021-09-03 03:23] nilo19 commented on #104730
https://github.com/kubernetes/kubernetes/pull/104705 to fix

[2021-09-03 03:26] bhumijgupta commented on #104234
Hi, I would like to pick this up. Can someone give me some code pointers on where to start?

[2021-09-03 03:34] pacoxu commented on #104737
/sig apps node
for traige
/kind feature

The current updateable fields:
https://github.com/kubernetes/kubernetes/blob/b0bc8adbc2178e15872f9ef040355c51c45d04bb/pkg/apis/core/validation/validation.go#L4057-L4061

And there is #102884 to fix this, the primary goal is `allow to change container resource requests & limits without necessarily restarting the container.` Would you check if kubernetes/enha

[2021-09-03 03:55] cheftako commented on #104131
/sig network
/cc @bowei

[2021-09-03 04:17] verult commented on #98667
/reopen

[2021-09-03 05:15] hellolittlewei commented on #74382
我也出现了这个问题
unable to ensure pod container exists: failed to create container for [kubepods burstable pod0bd6fb3b-b5c6-41c6-a846-0c7843b27ee7] : mkdir /sys/fs/cgroup/memory/kubepods/burstable/pod0bd6fb3b-b5c6-41c6-a846-0c7843b27ee7: cannot allocate memory

[2021-09-03 05:16] hellolittlewei commented on #74382
我运行nginx-ingress-controller

[2021-09-03 05:25] MadhavJivrajani commented on #104731
/remove-help
@fedebongio I'm removing the `help-wanted` label mainly because it does not satisfy the requirements stated [here](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md). `help-wanted` issues are meant to be low barrier to entry tasks and for contributors who are relatively new to the community.

That said, please re-apply the label if more information

[2021-09-03 06:34] chymy commented on #104731
There is no relevant health check log print in apiserver. I use `kubectl describe ` apiserver pod, show the following events:
[code]

[2021-09-03 06:35] fangsean opened #104745 "helm uninstall chart , but ReplicaSet and Pod is exists on k8s"
#### What happened:

    (1) helm uninstall chart at namespace
    (2) not found deployment and service
    (3) but ReplicaSet is exists，on time pod is exists.

#### What you expected to happen:
     (1) ReplicaSet and pod is not exists.
#### How to reproduce it (as minimally and precisely as possible):
     (1) Restart k8s, But unable to reproduce the problem
#### Anything else we need to know?:

[2021-09-03 06:44] lixiaoyuner opened #104746 "kubemark cluster can't work normally"
#### What happened:
I set up a kubemark cluster manually. It seems normal.
[code]
I made a camp deployment. So there is a pod called camp-d8945f8cc-v44cn. It works normally.
[code]
But when I try to look log and dive into the pod. Errors happened. Like this.
[code]
#### What you expected to happen:
I can get camp pod's log and can dive into the pod.

#### Anything else we need to know?:
The kubema

[2021-09-03 07:15] #104730 closed

[2021-09-03 07:45] chymy commented on #104731
o, sorrry, my mistake, httGet no permission.
/close

[2021-09-03 07:45] #104731 closed

[2021-09-03 07:56] slaskawi commented on #95966
Dear Sig Auth,

I'm a newcomer to the Kubernetes codebase and I would be more than happy to work on this as my first contribution.

I hope this issue is not time-critical as it might take some time until I learn the codebase.

Thanks!

/assign

[2021-09-03 08:06] humblec commented on #103819
The project should not know the details about the CSI drivers and storage cluster IDs or capacity. For a static volume I should be sufficient to define the storageClassName and the volumeHandle to define the storage image uniquely.

What did you think about this?

The `PV` object  and `SC` objects are considered `admin` objects and `PVC` is a `user` object . With that in mind, the details of the u

[2021-09-03 08:22] pacoxu commented on #104746
/sig scalability

[2021-09-03 08:32] kerthcet commented on #104746
@lixiaoyuner can you replace `ReplicationController` with `deployment` for experiment?

[2021-09-03 08:43] Flou21 commented on #104738
The errors happen shortly after joining the second and third master node.

No Pods are crashlooping everything is running and looking good.
But pods can't communicate with each other, when I deploy argocd to deploy my other stuff the argocd pods are starting and running but can't communicate with each other.

the kubeadm init command runs fine without any problem.
I only tried creating a new clust

[2021-09-03 08:43] pacoxu commented on #104745
As you cannot reproduce it consistently, it's hard to figure out what happened.

You should check the `ownerReferences` of your orphaned replicaset next time.
https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/
[code]

If you delete something with  `--cascade='orphan'`, the pod/rs may still exists.
[code]

Some docs that you may refer to
https://kubernetes.io/docs/

[2021-09-03 08:44] pacoxu commented on #104745
/sig apps

[2021-09-03 08:57] #91983 closed

[2021-09-03 09:41] rsoika commented on #103819
just to give one more thought from my side. I am running a small self hosted kubernetes cluster. We are a small company. So I am the admin and the user of a project in one person.

I run many projects on my cluster. And using ceph I need to setup the Ceph cluster details in every PV. I agree that the project user should not deal with the CSI details (even in my case it's the same person). And the

[2021-09-03 09:53] lixiaoyuner commented on #104746
@kerthcet Thank you for your advice. But still the same error.

In the hollow node, I find some other errors. This is from support cluster which the hollow-node really run on.
[code]
Is there any other solution that I can try?

[2021-09-03 10:51] colearendt commented on #49937
@SEJeff any chance you want to type `/reopen`? It'd be nice to give this issue another shot at life 😄

[2021-09-03 11:34] neolit123 commented on #104738
Hm, if kubeadm finished without errors and nothing is crashlooping, it has
done its job. Looks like you can also deploy objects which means you have
connectivity to the server.

I wonder if this is related to the fact that the server and KCM no longer
allow unsecure port connections.

Logs might help. Do you mean KCM cannot connect to server too? That might
be host specific e.g. firewalls.

[2021-09-03 13:55] neolit123 commented on #104746
/kind support

[2021-09-03 14:07] suhas316380 commented on #55397
Has anyone come across any solution for this issue ?

[2021-09-03 14:12] neolit123 commented on #104710
try the updated steps here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

/remove-sig architecture
/sig release

[2021-09-03 14:13] johnchesser commented on #79224
I could use this feature with what I am doing now.  I have a few grafana datasources that have a password in them.  I am going to try the environment variable workaround.

It looks like Grafana has been modified to handle this :

https://grafana.com/docs/grafana/latest/administration/provisioning/#using-environment-variables

Instead of giving Grafana a clean config, I am at the mercy of the chang

[2021-09-03 14:19] #104596 closed

[2021-09-03 14:23] neolit123 opened #104754 "Flaky test: node-kubelet-serial-containerd"
#### Which jobs are flaking:
https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-serial-containerd

Summary:
2 of 9 (22.2%) recent columns passed

#### Which test(s) are flaking:
kubetest.Node Tests

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#node-kubelet-serial-containerd

#### Reason for failure:
unclear

#### Anything else we need to know:
please clos

[2021-09-03 15:08] tnqn opened #104755 "ipvs mode doesn't preserve client IP for NodePort Service with protocol SCTP and ExternalTrafficPolicy Local"
#### What happened:
ipvs mode didn't preserve client IP for NodePort Service with protocol SCTP and ExternalTrafficPolicy Local.

iptables mode works fine.
ipvs mode with TCP and UDP protocol works fine.

#### What you expected to happen:
Client IP for NodePort Service should be preseved when ExternalTrafficPolicy is Local regardless of the mode and the protocol.

#### How to reproduce it (as mini

[2021-09-03 15:12] tnqn commented on #104755
/sig network
/assign @tnqn

[2021-09-03 15:18] liggitt commented on #104714
Letting the scheduling portions of the pod template (node selector, node affinity, anti-affinity, tolerations) be mutable until the job is unsuspended could make sense for late-binding scheduling purposes.

Could the mutation be limited only be allowed before *the* job is unsuspended? Ideally we could avoid this scenario:

1. create an unsuspended job
2. controller starts creating pods
3. suspend

[2021-09-03 15:34] ahg-g commented on #104714
Perhaps we can avoid the scenario by accepting the mutation only if the the job is suspended and the number of [active pods](https://github.com/kubernetes/kubernetes/blob/7997805f339923451d069ba12470bbc79059cf36/pkg/apis/batch/types.go#L248) is 0?

[2021-09-03 15:35] #104692 closed

[2021-09-03 15:40] liggitt commented on #104714
does the controller set active pods *before* creating new pods and after deleting pods for a suspended job? if not, there's a race

[2021-09-03 15:44] Flou21 commented on #104738
Here are some logs

kube controller manager 1:
[code]

kube-controller-manager 2:
[code]

kube controller manager 3:
[code]

[code]

If there is more you want to see just ask.
I don't want to write 10000 lines of logs in here.

I have not configured a firewall.
In my cloud provider I can create a firewall but disabled it.

[2021-09-03 15:52] ahg-g commented on #104714
I believe so, @alculquicondor can you confirm?

[2021-09-03 15:57] neolit123 commented on #104738
the errors on 2 of the 3 KCM components are expected. possibly a bit unclear.
in an HA scenario 1 would be elected as leader and 2 would remain on stand by.

that might be an issue with the container networking plugin that you are installing (CNI).
i see that you have both flannel and calico mentioned in the OP. calico should work fine, can't confirm about flannel.

/remove-sig cluster-lifecycle

[2021-09-03 15:57] neolit123 commented on #104738
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

might have more ideas for you.

[2021-09-03 16:16] ahg-g commented on #104714
Actually it seems that in both creating and deleting the status is updated after. But I think the create part isn't really related to our case, we only care about the delete case.

[2021-09-03 16:19] alculquicondor commented on #104714
Yes, first the pods are created/deleted, and then the status field is updated if there were no errors.

@liggitt why do we need to restrict the change to suspended jobs? If the user changes the node affinity in a way that the job stops working, that's user error. But generally, the job would continue working. The pods just might start going to different zones.

In fact, I can imagine a use case be

[2021-09-03 16:32] ehashman commented on #104459
/assign

[2021-09-03 16:32] ehashman commented on #104459
/cc @bobbypage

[2021-09-03 17:11] dlipovetsky commented on #32220
The origin of `CheckGeneratedNameError`: https://github.com/kubernetes/kubernetes/pull/3789/files#diff-b8d20421db500250643d4433451d1c3862f3cc6732aad1b47c025b09c95e96cbR70-R87

[2021-09-03 17:21] karuppiah7890 commented on #103835
Can we use some sort of tasks in this issue's first comment to track the different commands / subcommands and their flags that get shadowed by the global flags? This way it's easier to track it, also, we could create sub issues in GitHub. Or else PRs will refer to this issue which seems to be an umbrella issue and this issue would get closed once PRs are merged. For example this issue will get clo

[2021-09-03 17:21] Huang-Wei commented on #104714
@alculquicondor if you don't restrict it to suspended jobs, in your case (updating an **unsuspended** job's template), isn't the running pods' spec gets updated and then kubelet may reject them? (by kubelet's regular admission check)

[2021-09-03 17:22] karuppiah7890 commented on #103835
cc @jyz0309 @mccricardo @GauravKakoti @kerthcet

[2021-09-03 17:29] karuppiah7890 commented on #103835
Sub issues will also help us to assign contributors separately to each of those issues and it will be easy to track who is working on fixing which issue. Or else we would have to maintain that list too in this issue in the first comment or in the contributor's comments to mention - which issue they are working on and also assign themselves to this issue, and others who are trying to contribute wil

[2021-09-03 17:35] ahg-g commented on #104714
No, pods that have already been created isn't impacted by the change.

I don't have a strong opinion whether or not we restrict the change to suspended jobs.

[2021-09-03 17:54] Jiawei0227 commented on #102357
Sounds like from the discussion from https://github.com/kubernetes/kubernetes/pull/104597 is to keep it alpha until all plugins moves to GA and remove it completely. Will close this issue.

[2021-09-03 17:54] Jiawei0227 commented on #102357
/close

[2021-09-03 17:54] #102357 closed

[2021-09-03 17:57] Jiawei0227 opened #104760 "Remove beta volume storage-provisioner annotation"
GA volume storage-provisioner annotation is added in this PR: https://github.com/kubernetes/kubernetes/pull/104590

At the same time, beta annotation is deprecated. This issue is to track the beta annotation removal after the deprecation period.

/sig storage
/cc @jsafrane @msau42
/triage accepted

[2021-09-03 17:57] Jiawei0227 commented on #102357
Create https://github.com/kubernetes/kubernetes/issues/104760 for tracking the beta annotation removal.

[2021-09-03 18:06] mkimuram commented on #104531
@bobbypage @wzshiming @smarterclayton

As I tested in both 1.21 and 1.22, the big difference was whether pod's `Status` is `Running` or `Failed` (Please see details below).

I'm suspecting that [this commit](https://github.com/kubernetes/kubernetes/commit/3eadd1a9ead7a009a9abfbd603a5efd0560473cc#diff-d0efebc6b30989428cd9bc3f04bb15cd75134e38ad38ce21a648fed69389c7aeR272)  doesn't change phase to `v1

[2021-09-03 18:30] robszy commented on #99183
What about https://github.com/kubernetes/enhancements/pull/1921 because it seams next incarnation of options to disable or enable selected metrics where today configurable options is just none.

[2021-09-03 19:05] #93945 closed

[2021-09-03 19:10] jsturtevant commented on #96996
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-09-03 19:47] bertinatto commented on #84585
/remove-lifecycle rotten

[2021-09-03 20:03] makusu2 commented on #60295
/remove-lifecycle stale

[2021-09-03 20:05] #100789 closed

[2021-09-03 20:15] lauchokyip commented on #103835
@karuppiah7890 , from what I have seen, we have not yet decided what solutions are acceptable yet. Until then, I think would remove the good-first-issues's tags first

[2021-09-03 21:33] mkimuram commented on #104531
Note that Graceful Node Shutdown in k8s 1.21 seems to work well even with Statefulset with persistent volumes (Please also see the details below for the console log).

It may be out of the scope of this issue, but sharing here just for your information.

<details>

- Deploy statefulset with persistent volumes

[code]

- Rebooting node1

[code]

</details>

[2021-09-03 21:39] robscott commented on #100313
@nicolehanjing If I'm remembering this correctly, it's more complicated than it seems on the surface. The fundamental problem here is that topology endpoints may not always include node-local endpoints. To illustrate that, consider the following example:

- 3 equal zones - A, B, and C.
- 2 pods deployed in zone A, 1 pod deployed in zone B
- Hints will allocate one of the "extra" pods in zone A to

[2021-09-03 21:41] aojea commented on #104755
/triage accepted

[2021-09-03 22:53] yongxiu commented on #104137
Any updates on this? Is this by design?

[2021-09-03 22:55] mkimuram commented on #104531
Also, sharing additional test results for "Statefulset with persistent volume" case with k8s 1.21.

`shutdown -h now` didn't work well, but `systemctl poweroff` worked well (Please also see the details below).
Tested with ShutdownGracePeriod=30s, and ShutdownGracePeriodCriticalPods=10s, as described in the blog. And all the nodes are running on CentOS 8.

<details>

[With `shutdown -h now`]

[code

[2021-09-03 23:09] simanwangSC opened #104764 "Failed to mount PVC to pods in GKE cluster: timed out waiting for the condition"
#### What happened:

I tried to mount a Google Filestore instance using PV and PVC to a deployment in a GKE cluster. With the same configs, I can get it working in some clusters, but will got mounting failure in some other clusters. The error message looks like this:
[code]
I'm very puzzled about why this only happens to some clusters. Any insights of how I can fix the issues are appreciated. Than

[2021-09-03 23:59] mkimuram commented on #104531
Also sharing the results with [this patch](https://github.com/mkimuram/kubernetes/commit/9a2a1a043435806f7cd88765184d7701af264b9b) to the current master branch. I just replaced the kubelet to the patched version on the nodes of k8s 1.22 environment that is previously used. Some of the Pods still remain `Completed`, but the situation seems improving (Not working perfectly and not patched to the k8s

[2021-09-04 00:10] xing-yang commented on #104531
@mkimuram Have you run the same tests (that you ran on 1.21) on k8s 1.22 without the patch?

[2021-09-04 00:42] msau42 commented on #103819
Handling references to another object become complex when that object disappears or mutates.

It sounds like what you're interested in is a way to template a PV. Would something like kustomize or some other templating tool help with your use case?

[2021-09-04 00:50] gjkim42 commented on #104648
@smarterclayton

If kubelet does not allow two pods from apiserver with the same full name, I think force deleting statefulset pods might not work as before. I am not sure it is ok.

[2021-09-04 00:51] #104525 closed

[2021-09-04 02:16] andrewsykim commented on #100313
/milestone v1.23

We probably want to address this before we GA the interna ltraffic policy feature

[2021-09-04 02:27] feilengcui008 commented on #67250
+1, any update or plan for this problem?

[2021-09-04 04:11] karuppiah7890 commented on #103835
Ah. Okay. Makes sense. I did notice two kinds of PRs - one breaking backwards compatibility of the CLI API, another not breaking backwards compatibility of the CLI API but planning to break it in a future release by having both shadowed and non-shadowed flag

But I'm wondering how it's a breaking change if it's shadowed - because if someone uses the flag, it would still be passing the value to the

[2021-09-04 04:11] mikebell90 commented on #104480
I think the point of the requester is that sidecars in their sum usage over many containers may be prone to “slack” and reusing the same one is “good”. Maybe I am wrong about this interpretation?

In general it seems better to just tune your sidecar so it doesn’t have much wasted memory snd cpu. That can be difficult with widely varying load and hence I am guessing that is what the poster points o

[2021-09-04 04:11] karuppiah7890 commented on #103835
/remove-good-first-issue

[2021-09-04 04:52] rjk2147 opened #104766 "Kubernetes Problems Creating Pods in Out of Network Nodes"
#### What happened:
When a node attempts to connect to the kubernetes cluster from outside of the local network of the control panel the network plugin is market as running for a short time (~60-120s) sometimes reverting to CrashLoopBackOff. Even while the node is marked as "Running" other pods cannot run instead returning an error as if the network plugin has not started. e.g. with flannel:

`Sep

[2021-09-04 06:28] matti commented on #69696
/remove-lifecycle rotten

[2021-09-04 08:52] luxas commented on #104661
Argh, didn't get to it this week, and I'm on vacation next week, but I'll get to it after that.

[2021-09-04 09:13] Flou21 commented on #104738
Ok than sorry for creating a bug ticket.

i will have a look on the support links you posted

[2021-09-04 09:13] #104738 closed

[2021-09-04 09:30] kerthcet commented on #104678
after some investigating, i found it's not possible to verify whether the value if `base64` decoded, only we can do is to confirm whether the value is an candidate of base64 encoded, for `true` is actually `base64` format. But I can add some verifications, e.g. the length of the value should be `a multiple of 4 characters` and the characters is a set of `A-Z, a-z, 0-9, +, /` as well as padding `=`

[2021-09-04 10:21] rsoika commented on #103819
But isn't a storageClass exactly the object to handle the storage details for a PV?
I wonder why the ceph-csi team moves the question in your direction. See the discussion [here](https://github.com/ceph/ceph-csi/issues/2299).

Or to ask in another way: Why should StorageClasses  not be used for static persistence volumes? The longhorn project does it exactly in this way.

[2021-09-04 11:14] SahilPatidar opened #104768 "openAPIConfig.GetDefinitions"
#### Which jobs are failing:

#### Which test(s) are failing:

#### Since when has it been failing:

#### Testgrid link:

#### Reason for failure:

#### Anything else we need to know:

[2021-09-04 11:15] #104768 closed

[2021-09-04 11:54] pacoxu commented on #104764
/sig storage node

[2021-09-04 12:13] MadhavJivrajani commented on #104766
/sig network

[2021-09-04 12:41] yuchengwu opened #104769 "Servcie cluster ip leaks"
#### What happened:
Service cluster ip leaks(no more than 9 minutes) if the service under deleting(e.g. lb svc waiting on cloud provider controller to finish a clean up job) when the ip repair worker works.

#### What you expected to happen:
Servcie cluster ip should be released once service has been deleted.

#### How to reproduce it (as minimally and precisely as possible):
[code]
step 1: kubect

[2021-09-04 12:45] yuchengwu commented on #104769
/sig network

[2021-09-04 12:48] yuchengwu commented on #104769
/cc @wojtek-t @deads2k @caesarxuchao

[2021-09-04 14:51] #103540 closed

[2021-09-04 15:36] vikramcse opened #104771 "Automate code generated by mockery using hack/update-mocks.sh and hack/verify-mocks.sh scripts"
There are a few mock files [1] in the codebase today that are generated by mockery. However, these files are not autogenerated by any scripts today. This should be fixed by phasing out `mockery` then re implement the mock files using `mockgen` and `go:generate`,  also the newly generated files using `mockgen` should be compatible with automation by using `hack/update-mocks.sh` and `hack/verify-moc

[2021-09-04 15:37] vikramcse commented on #104771
remove /kind feature

[2021-09-04 15:43] vikramcse commented on #104771
/assign

[2021-09-04 20:11] #85677 closed

[2021-09-04 22:54] sanposhiho commented on #93793
/remove-lifecycle rotten

[2021-09-05 04:15] rajibmitra commented on #103760
I would like to work on this.

[2021-09-05 04:43] rajibmitra commented on #103032
as discussed with @jsturtevant , I would like to work on this.

[2021-09-05 04:44] rajibmitra commented on #104234
Let me know if I can help in anyway. @thockin

[2021-09-05 08:22] pacoxu commented on #104754
Is it related to #104041 ?

https://github.com/kubernetes/kubernetes/blob/f119536ab17778cd0cce42f8c7d58db3434538d1/test/e2e_node/dynamic_kubelet_config_test.go#L1171-L1192

[code]

[2021-09-05 08:52] rajibmitra commented on #104234
/assign

[2021-09-05 08:52] rajibmitra commented on #103032
/assign

[2021-09-05 09:00] pacoxu commented on #104769
#87603 is a similar one.  Some logic details in https://github.com/kubernetes/kubernetes/issues/87603#issuecomment-579443444.

[2021-09-05 10:49] rajibmitra commented on #103150
/assign

[2021-09-05 11:19] #100445 closed

[2021-09-05 16:46] thyn commented on #104737
Thank you. It's what I need. Is any information about next version which will contain that changes?

[2021-09-05 16:47] mohit1795 commented on #103998
@palnabarun are you doing this? If not can i give it a shot?

[2021-09-05 17:11] Riaankl commented on #95966
/remove-lifecycle stale
Thank you @slaskawi

[2021-09-05 17:36] hh commented on #95966
You can take your time, it's been open for a long while.

It'll definitely be a good deep dive into the pool!

Once you wrap your head around what's happening, I'm sure you'll find an excellent solution.

Let us know if you need help.

[2021-09-05 19:16] aojea commented on #94227
/help wanted

[2021-09-05 19:32] aojea commented on #90838
@thockin @chendotjs this only affects to the experimental implementation in the kubenet/dockershim, that was already deprecated
any special reasons to reopen this?

[2021-09-05 20:26] aojea commented on #102698
I disagree this is the correct way just because nodeipam is a functional feature, not required, and this breaks all the other controller that are required.

[2021-09-05 20:51] aojea commented on #104681
I have doubts if this feature can scale well, seems overkill to debug e2e tests, those are randomly executed and you'll end with min 3 kubelets full profiles, that you have to correlate gainst the timing on the tests

[2021-09-05 20:56] aojea commented on #104647
/sig node
/cc @ehashman

[2021-09-05 21:04] aojea commented on #85418
dockershim has been deprecated so this issue is not likely to be reopen, if you have another issue then please open a new issue with all the details

[2021-09-05 21:12] aojea commented on #104645
/close
let's track it only in one place https://github.com/flannel-io/flannel/issues/1474

We can reopen if this turns out to be a kubernetes issue

[2021-09-05 21:12] #104645 closed

[2021-09-05 21:19] #96957 closed

[2021-09-05 21:36] aojea commented on #102013
/cc

[2021-09-05 22:07] YuviGold commented on #102975
/assign

[2021-09-05 23:07] thockin commented on #104769
Dup of 87603 - fix is pending, but is not easily separable from the rest of the PR, so not likely to backport.  Closign as dup.

[2021-09-05 23:07] #104769 closed

[2021-09-05 23:10] thockin commented on #104766
/assign @caseydavenport

[2021-09-05 23:12] thockin commented on #104745
This sounds like a helm bug more than a k8s bug

[2021-09-05 23:13] thockin commented on #104737
https://github.com/kubernetes/enhancements/issues/1287

[2021-09-05 23:13] #104737 closed

[2021-09-05 23:19] thockin commented on #104659
Closing as dup - see #103000

[2021-09-05 23:19] #104659 closed

[2021-09-05 23:22] thockin commented on #104618
apiserver logs for that delete would be needed, or some repro case?

[2021-09-05 23:30] thockin commented on #104480
Thanks fir the interp @mikebell90.  If this is  what you describe, it's more like a "middle proxy" or "service chain".
 It's not really a sidecar if it's not in the pod. :)

Aside from that, a sidecar is a VERY broad term it could be a log-saver (needs some shared FS) or a network proxy (needs some shared network) or a debugger (needs shared PID).

So we need moire details - this issue is very und

[2021-09-05 23:32] thockin commented on #104424
How are you shutting down the node?  All pods should be terminated and removed from endpoints.

[2021-09-06 00:00] thockin commented on #104234
I'd start with pkg/util/iptables/iptables.go - `restoreInternal()`

It's worth thinking about the cleanest solution here, but maybe something like:

[code]

When you get an error from exec, parse the error for `line %d failed` and if it matches, return a `parseError`.  Then let the callers check for a `ParseError` by interface assertion, extract the Line(), extract their input's data at -3 and +3

[2021-09-06 00:04] thockin commented on #103260
Anyone actually on this?  It seems like a good fix to have for 23 and maybe backport

[2021-09-06 02:06] pipijiev12 opened #104784 "This is a error on the kube-apiserver"
![12f6554e78e07abb34f24c15773a49b](https://user-images.githubusercontent.com/75164118/132150331-c64ac66b-cfa3-4102-8bbf-fed827cdfa3c.png)
How to solve the problem that the old endpoint cannot be deleted from the kubernetes service

[2021-09-06 02:07] fcddk opened #104785 "rbd: unmap failed: (16) Device or resource busy"
#### What happened
     kubelet log:
`nestedpendingoperations.go:301] Operation for "{volumeName:kubernetes.io/rbd/k8s-data:kubernetes-dynamic-pvc-b3e3f5a1-6a72-4c1b-b491-21879df40d07 podName: nodeName:}" failed. No retries permitted until 2021-09-06 06:24:03.085198835 +0800 CST m=+4045740.475184549 (durationBeforeRetry 2m2s). Error: "UnmountDevice failed for volume \"pvc-7597f603-8ccd-4c42-b54a-b

[2021-09-06 02:18] chendave commented on #96354
/close

see: https://github.com/kubernetes/kubernetes/pull/104391 and https://github.com/kubernetes/kubernetes/pull/99228

[2021-09-06 02:18] #96354 closed

[2021-09-06 02:30] fcddk commented on #104785
/kind bug
/sig storage

[2021-09-06 02:36] chymy opened #104786 "kube-apiserver pod livenessProbe: why is kube-apiserver pod still `running` status when etcd healthz check failed"
#### What happened:
The livenessProbe method used is `exec`.
[code]
When etcd is  down, apiserver detects that etcd health check failed, but apiserver pod  still running status.

 `httpGet` is ok. but `--anonymous-auth` must be set `true`, I don't want to set `--anonymous-auth`  to true when I use `HTTPS`.
[code]

apiserver log:
[code]

apiserver status:
[code]

#### What you expected to happen:

[2021-09-06 02:37] chymy commented on #104786
/sig api-machinery

[2021-09-06 03:08] chenyw1990 commented on #100849
@liggitt

Hi @liggitt, if rotate-certificates=false kubelet customizes the dialer to provide a closeAllConns to close the connection when the connection is dead but not been closed.

In #78016, there is a discuss about another solution

after #96778 client-go has HTTP 2.0 health check, so we don't need this change.

So we can solve the current problem by reverting #78016.

I have submitted #103149

[2021-09-06 03:15] pacoxu commented on #104784
dup with #76146
/close

[2021-09-06 03:15] #104784 closed

[2021-09-06 03:33] amitkatyal commented on #104424
@thockin, I'm shutting down the node with the shutdown command. The issue is the daemonset POD running on that node. Since that POD remains in the running state, the headless service for the daemonset returns the IP address of the unreachable POD as well.

[2021-09-06 03:50] pacoxu commented on #104786
It sounds like #43784.

[2021-09-06 04:29] manugupt1 opened #104787 "Improve tests for ReleaseControllerRevision"
#### What happened:
When testing for `TestRealHistory_ReleaseControllerRevision` https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/controller/history/controller_history_test.go#L1191

adopted is always nil in this case:
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/controller/history/controller_history_test.go#L1

[2021-09-06 05:15] pacoxu commented on #104787
/sig apps

[2021-09-06 06:11] Shubham2900 commented on #102787
Hey @dbgoytia, Are you still working on this, I would like to do pair-programming if possible.

[2021-09-06 06:15] phsys opened #104789 "Dockerd process leaking handles in K8s Windows worker nodes"
#### What happened:
The dockerd process is leaking handles (~2M) in Kubernetes Windows worker nodes, leading to huge (lot more than usual) memory and cpu consumption.

#### What you expected to happen:
The process is not expected to open so many handles as it is doing now. It's usual inter-process communication is probably expected to open lot less than 2 million handles.

#### How to reproduce it

[2021-09-06 06:19] phsys commented on #104789
[dockerd-handle_2.zip](https://github.com/kubernetes/kubernetes/files/7113739/dockerd-handle_2.zip)

The leaking handles are in the file attached. Command (PowerShell) used:
`handle -a -p dockerd`

Dockerd process details:

`PS C:\> get-process -Name dockerd | fl *

Name                       : dockerd
Id                         : 2980
PriorityClass              : Normal
FileVersion

[2021-09-06 06:20] phsys commented on #104789
/sig sig-windows

[2021-09-06 06:22] harshanarayana commented on #104709
@neolit123 This is a little customised version of kubernetes we build and manage internally in our own team. We have had a few changes done to the way `kubeadm` works + allow the link local range of IPs to be consumed for creating the cluster.

We are working on getting a custom patched v1.21.2 to run the test to see if we can reproduce the same.

[2021-09-06 07:27] chymy commented on #104786
If #43784 cannot be resolved, I think `-w %{http_code}` should be added to determine the HTTP status code for `exec` livenessProbe when using `curl` command.
Although the `exec` exit code is 0, the HTTP status code may be other error code, such as 500.

[2021-09-06 07:34] rubin55 commented on #99948
/remove-lifecycle stale

[2021-09-06 07:35] neolit123 commented on #104754
not sure, it seems to fail only sometimes.

[2021-09-06 07:36] neolit123 commented on #104789
/sig windows node

[2021-09-06 07:40] neolit123 commented on #104710
closing. if this still doesn't work for you please re-open the issue and provide more details where does it fail in:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

/close

[2021-09-06 07:41] #104710 closed

[2021-09-06 08:15] matthyx commented on #60140
Hi folks, I need some testers here... could you try to build `kubectl` from my [branch](https://github.com/matthyx/kubernetes/tree/60140) and try some transfers?
I would like to validate the approach before doing a proper PR, thanks!

[2021-09-06 08:23] visit1985 commented on #103182
@janetkuo do you have a suggestion? Thanks!

[2021-09-06 08:38] frapposelli commented on #76506
/remove-lifecycle stale
/lifecycle frozen

[2021-09-06 09:06] anoopnm182 commented on #104710
i tried run "kubeadm init", but stuck below error. Swap is off. would you please help me.

root@Kube-Master:~# kubeadm init --pod-network-cidr=192.168.0.0/16 --ignore-preflight-errors=
[init] Using Kubernetes version: v1.22.1
[preflight] Running pre-flight checks......
...................................................

[control-plane] Creating static Pod manifest for "kube-controller-manager"
[c

[2021-09-06 09:19] discordianfish commented on #78854
/reopen

[2021-09-06 09:21] LIL-Raps commented on #104678
@kerthcet Hi sounds like it might be possible to implement verifications as you provided, but I don't understand why you said that "true" will not be detected as an invalid base64 value if you will verify value within the verifications rules, "true" will be detected as an invalid base64 value.

[2021-09-06 09:36] mengjiao-liu commented on #86843
I want to try to work on：
[code]

Remove kubelet flags:

- [ ] #104732

[2021-09-06 09:48] aojea commented on #96066
/close

[2021-09-06 09:48] #96066 closed

[2021-09-06 09:48] aojea commented on #101078
This seems to be this way by design, see this duplicate https://github.com/kubernetes/kubernetes/issues/96066#issuecomment-721836316

[2021-09-06 10:03] kerthcet commented on #104678
because 'true' met all the needs `base64` encoded code required, a set of `A-Z, a-z, 0-9, +, /`, and containing 4 characters.  I can't find the way to  distinguish between them.

[2021-09-06 10:21] wzshiming commented on #104531
Hi @mkimuram

It seems that the node status is not synchronized in time

https://github.com/kubernetes/kubernetes/blob/eb729620c522753bc7ae61fc2c7b7ea19d4aad2f/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go#L222

Could you remove the `go` and try again to see if it can be avoided

[2021-09-06 10:23] wzshiming commented on #104531
/assign

[2021-09-06 11:37] amirschw commented on #102633
/close

[2021-09-06 11:37] #102633 closed

[2021-09-06 13:05] slaskawi commented on #95966
Hey @hh @liggitt @Riaankl,

Here's a proposed solution to enhance the audit logs https://github.com/kubernetes/kubernetes/pull/104795

I skimmed through the testsuite and I think it should be fine. If there are any test failures caused by this chance, I'll fix it right away.

[2021-09-06 13:15] wojtek-t commented on #104714
It is related, imagine:
- we unsuspend the job
- we create the pod (but they job is not yet updated)
- we suspend again
- we change the node-affinity

And we have pods with different affinities.

I think that if we can prevent the race, I would be fine with it, but if not I agree with what Jordan suggested.

[2021-09-06 13:21] dgrisonnet commented on #102051
Closing as a duplicate of https://github.com/kubernetes/kubectl/issues/830.

[2021-09-06 13:21] #102051 closed

[2021-09-06 13:41] LIL-Raps commented on #104678
Oh yeah sorry. Well if make 'true' as an exception?

[2021-09-06 13:48] gavinfish commented on #95047
/reopen
/remove-lifecycle rotten

[2021-09-06 13:51] shawon100 commented on #75704
I accidentally deleted the apiservice and restored it by applying the api-server yml in bare metal kubernetes cluster
`sudo kubectl apply -f /etc/kubernetes/manifests/kube-apiserver.yaml`

[2021-09-06 14:24] matthyx commented on #81129
/assign @thockin

[2021-09-06 14:55] kerthcet commented on #104678
this is a special case, as `true` has a special meaning however this is not a general solution, let's hear from someone else. I'm fine to add `true verification`.

[2021-09-06 15:27] #100898 closed

[2021-09-06 16:50] mmiranda96 commented on #104556
Job `ci-kubernetes-node-kubelet-alpha` has a very similar configuration (see [ci-kubernetes-node-kubelet-alpha](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L43) vs. [pull-kubernetes-node-e2e-alpha](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml#L216)). They both run the same tes

[2021-09-06 17:13] artb1sh commented on #104480
@thockin @mikaelh . one filebeats, syslog, gatekeeper or any one sidecar for all pods

[2021-09-06 17:41] ahg-g commented on #104714
Can you elaborate? The condition is suspended + zero active pods, and so changing affinity will only be allowed after all existing pods are deleted (active = 0)

[2021-09-06 18:22] mkimuram commented on #104531
@wzshiming  Thank you for your comment.

Tested with [this](https://github.com/mkimuram/kubernetes/commits/issue/104531) and confirmed that pods constantly become `Completed`. As all the pods don't become `Failed`, they remained in the nodes.

<details>

[code]

- After `systemctl reboot` on node1

[code]

- After node1 is back, again

[code]

</details>

[2021-09-06 18:27] #100661 closed

[2021-09-06 21:23] simonspg commented on #48180
Obviously allowing anything cluster-wide is a Big Deal.  I found this issue while searching for the same answer as @ThomasSteinbach.  Four years is a long time.  How about baby steps rather than a general solution that could be subverted?  Start by allowing the time zone to be defined as an argument to something, validate the string, and implement it by defining the TZ environment variable for eve

[2021-09-06 22:27] #55006 closed

[2021-09-07 00:55] ahg-g commented on #104714
I updated the issue to include tolerations. I feel that both node affinity and tolerations are node related scheduling directives, while pod affinity and topology spread are more workload specific that ideally should be declared by the workload itself.

[2021-09-07 01:57] wzshiming commented on #104531
@mkimuram
My suspicion is that the graceful shutdown duration of the Pod is the same as that of NodeShutdown. Node shuts down first and the Pod data is not synchronized to ApiServer. Caused the container status not to be updated.

Could you try this patch #104798

[2021-09-07 02:39] slomo28 opened #104804 "The pod of another node cannot be accessed"
#### What happened:
An Nginx service was created in the cluster. The pod was successfully scheduled to node1, but could not be accessed on the master node using curl+ virtual IP
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):1.19.3
- Cloud pro

[2021-09-07 04:45] MadhavJivrajani commented on #102648
/remove-lifecycle stale
/lifecycle frozen

[2021-09-07 05:35] mjkota commented on #104679
@uablrek and @thockin Actually this is my customer set up and they are using NFS CSI. In order to do so there are 3 storage nodes that act as NFS storage providers but at the same time, they are attached as worker nodes in the cluster.
Now customer has their application which creates a NodePort and ClusterIP type service with NFS node IP set as externalIPs.
I know this is not the correct usage for

[2021-09-07 05:50] uablrek commented on #104679
So, the externalIP setting is for convenient read from some other application? It has not anything to do with traffic?

That it happens to work for iptables out of luck. If any app uses a port that is also used in main netns it will likely fail.

For ipvs the addresses are actually assigned to another interface (ipvs-kube0) creating a conflict.

And no, I will not make extensive work and test to a

[2021-09-07 05:50] #104679 closed

[2021-09-07 06:01] matthyx commented on #60140
For those who cannot build it, here is a downloadable binary for linux amd64 (30 days valid): https://www.swisstransfer.com/d/1dfcbf1e-098b-4a85-9f6b-ec7142211019

[2021-09-07 06:20] EricWvi commented on #104804
I have some suggestions:
- describe the service and check the endpoints carefully. Is the endpoints in place?
- get the service with output in yaml. Is the targetPort exactly the same as the pod's containerPort?

[2021-09-07 06:38] rhuss commented on #82942
/remove-lifecycle stale

Would it make sense to add an exception to k8s-triage-bot for issues labeled with `triage/accepted`? Although I really would love to work on this feature, my current work priorities are unfortunately bound to a different area (knative), but I (and as I see from the comments, others too) would LOVE to see this idea to move forward. Happy to provide any support that I can gi

[2021-09-07 06:50] slomo28 commented on #104804
Thank you very much for your advice!
I have checked the address and port and there is no problem, I suspect that the internal network of the cluster is disconnected. I am a three-node cluster built by virtual machine, and I found that the nginx on Node1 cannot be pinged on the master. I just learned K8S and don't know how to debug it.

[2021-09-07 07:55] EricWvi commented on #104804
The service can't be pinged, thus the name Virtual IP. There are rules configed in iptables by kube-proxy. The packet headers will be re-written so that the request is redirected to a particular Pod. The communication is based on TCP/UDP. Unfortunately, ping is based on ICMP.

The debugging concerned about network is kind of complex and time-consuming sometimes. There can be errors during every st

[2021-09-07 07:55] EricWvi commented on #104804
/remove-kind bug
/kind support

[2021-09-07 08:01] slomo28 commented on #104804
Thank you for your patient reply. I will try to check again according to your idea.

[2021-09-07 08:22] mborsz opened #104809 "Scalability tests are using exempt priority levels for all calls"
#### What happened:
In the last 5k test run I noticed that the tests are using exempt priority level:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1432025635122843648

[code]

This is a bug, there is no good reason for cluster loader to use exempt + it limits our ability to validate APF behavior for very spammy client (like clusterloader).

#### What

[2021-09-07 08:47] mborsz opened #104811 "ci-kubernetes-e2e-gce-scale-performance flakes with slow POST/PATCH jobs requests"
#### Which jobs are flaking:
Two flakes recently:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1434924831014391808
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1432025635122843648

They fail with error like:
[code]

or

[code]

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#g

[2021-09-07 08:47] mborsz commented on #104811
/sig scalability

[2021-09-07 08:50] mborsz commented on #104811
In https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1434924831014391808 logs I have found the following slow calls:

[code]
* It's a bug that we use exempt priority level for clusterloader: I created https://github.com/kubernetes/kubernetes/issues/104809
* It's quite worrisome that APF handler takes 1s for exempt request.

[2021-09-07 09:04] pacoxu opened #104813 "ci-cgroup-systemd-containerd-node-e2e failed for golang version"
#### Which jobs are failing:
ci-cgroup-systemd-containerd-node-e2e

#### Which test(s) are failing:

- e2e.go: Node Tests expand_more

#### Since when has it been failing:
since  #103692

#### Testgrid link:

https://testgrid.k8s.io/sig-node-containerd#cgroup-systemd-containerd-node-e2e

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cgroup-systemd-containerd-node-e2e/1435077560919658496

[2021-09-07 09:06] mborsz commented on #104811
I checked a APF code and I think the flow for exempt requests is:
* genericfilters.WithPriorityAndFairness()
   * workEstimate := workEstimator.EstimateWork(r)
   *  fcIfc.Handle()
       * cfgCtlr.startRequest()
          * cfgCtlr.lock.Lock()
          * looks for matching flowschemas in cfgCtrl.flowSchemas
          * returns for exempt
       * req.Finish
          * updates metrics

[2021-09-07 09:14] mborsz commented on #104809
The issue is that the test is using kubeconfig with KUBE_BEARER_TOKEN which points to the admin user (system:masters group member)

[2021-09-07 09:16] mborsz commented on #104811
/assign @wojtek-t

[2021-09-07 10:07] wojtek-t commented on #104811
I think the lock-contention is even worse than what you wrote, as e.g.:
https://github.com/kubernetes/kubernetes/blob/ef754331c453d3b5fdc31edf62da3d90771d5acd/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go#L823
is happening under this lock (which is also dispatching requests).

I will take a deeper look later this week, but I think that switching to RWLock might do the job wit

[2021-09-07 10:53] EricWvi commented on #103260
I'll have a try.

[2021-09-07 11:01] aojea commented on #103260
There is a reproducer here https://github.com/kubernetes/kubernetes/pull/103287

[2021-09-07 11:50] tavolodobela opened #104815 "Random "interrupted system call" issues"
We have the following environment:

kubernetes 1.22.0
containerd: 1.5.2-0ubuntu1~20.04.2
calico: v3.19.1
OS: ubuntu 20.04

The problem is that when pods are running, we experience random "interrupted system call" issues. What could be the problem? What additional data is needed to figure out what's wrong?

One example is when the app in the pod tried to create a 16 MB shared memory, and during the

[2021-09-07 12:33] #104184 closed

[2021-09-07 13:15] EricWvi commented on #103260
Oops, I just peeked at the time of the pull request and not realized that you've got such deep conversation.

[2021-09-07 13:38] damemi commented on #91633
/remove-lifecycle stale

[2021-09-07 13:44] liggitt commented on #104714
I guess it depends on the user's expectations... if we let them change scheduling bits on the pod template, will it surprise them if there are pending unschedulable pods for the job with the old scheduling bits?

Makes sense to me. I'd also include nodeSelector in the set of node-related scheduling directives that should be mutable.

[2021-09-07 13:47] alculquicondor commented on #104714
You can't prevent the race condition. Elaborating on @wojtek-t's scenario:

- we unsuspend the job
- the job controller creates the pod, but the job status update fails (so active remains at zero).
- we suspend again
- we change the node-affinity (note that this needs to happen in apiserver, were we wouldn't be listing pods during the update validation)

I think it's better to not restrict the cha

[2021-09-07 13:54] wojtek-t commented on #90833
/remove-lifecycle stale

[2021-09-07 13:56] wojtek-t commented on #104714
Aldo pointed one race. But even without failing job status there is a race.

Creation of a pod and Job status update aren't synchronous, and creation of a pod happens first.

So you can in theory always put:
"suspend job + change node selector + unsuspend"
API calls in the middle.

[2021-09-07 13:56] liggitt commented on #100849
are we guaranteed kubelets always speak to kube-apiserver over http/2? if they use a load-balancer that is not http/2 capable, isn't the "close all connections" fix still required as a backstop?

[2021-09-07 13:56] wojtek-t commented on #104714
It's a cleaner semantic, but it might be surprising/confusing to users, I'm afraid.

[2021-09-07 14:13] liggitt commented on #103213
hmm... I don't feel super-strongly either way, but that wouldn't necessarily point you at the object you'd actually need to edit to fix the issue... in the case of a deployment, you'd want to edit the deployment, but the pod ownerRefs would be pointing at the intermediate replicaset.

[2021-09-07 14:20] liggitt commented on #104678
/remove-sig security
/sig api-machinery

The values in the data map of a Secret object must be base-64 encoded, as noted in the [API documentation](https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/secret-v1/) and [examples](https://kubernetes.io/docs/concepts/configuration/secret/). Special-casing and forbidding the base-64 value `true` is not backwards-compatible.

[2021-09-07 14:20] #104678 closed

[2021-09-07 14:42] TheDiveO commented on #77142
/remove-lifecycle stale

[2021-09-07 15:07] ialidzhikov commented on #87336
/remove-lifecycle stale

[2021-09-07 15:07] ialidzhikov commented on #94590
/remove-lifecycle stale

[2021-09-07 15:08] ahg-g commented on #104714
I guess the only way to ensure no surprises is if we allow mutating affinity only if the job started as suspended and was never unsuspended when making the update, I don't think we have something in the job status indicating that though. But that also might be too restrictive.

@wojtek-t @liggitt are we ok then with suspended+active=0 condition while acknowledging the potential race? I am also on

[2021-09-07 15:17] MikeSpreitzer commented on #104811
`plState.queues.StartRequest` may trigger the execution of some requests that were waiting, but they are not executed in the same goroutine.

Yes, I think changing that Mutex to a RWMutex would be an easy way to greatly reduce contention.

[2021-09-07 15:27] neolit123 commented on #104815
hi, can you show relevant logs from the kubelet and containerd.

/triage needs-information
/sig node

[2021-09-07 15:27] neolit123 commented on #104813
/sig node

[2021-09-07 15:29] neolit123 commented on #104804
discussions like this are better suited for the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

i'm going to close this, but continue the discussion here if you like.

/close

[2021-09-07 15:29] #104804 closed

[2021-09-07 15:32] neolit123 commented on #104492
this is the cause.

with dockershim moving outside of the kubelet, kubeadm removed it's autodetection for the docker cgroup driver.
guide to configure your container runtime and driver is here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

/close

[2021-09-07 15:32] #104492 closed

[2021-09-07 15:46] lavalamp commented on #104811
I agree switching to RWMutex is likely to help a lot, if that's not enough I think with a little work we could e.g. switch to `atomic.Value`s.

[2021-09-07 16:03] rnwhitehead commented on #89100
It appears to me that if you create a pod with containers with the imagePullPolicy "always", this seems to stick: setting it to IfNotPresent has no effect, even if you delete and recreate the pod.

[2021-09-07 16:17] wojtek-t commented on #104714
I personally prefer "no restrictions", than a racy one of "suspended + active=0"

[2021-09-07 16:19] liggitt commented on #104714
I agree. I don't think we should make the spec API consumer poll for status before allowing them to set spec fields... if we want to allow scheduling fields to be mutable throughout the job lifetime, I think the controller should be made to deal with that.

The clearest scenario is the `suspended job → targeted job → unsuspended job` progression. I don't have a good sense for how common retargetin

[2021-09-07 16:47] aaqaishtyaq commented on #104661
Hey @luxasm, I would like to contribute to Kubernetes. Let me know if I can take this up.

[2021-09-07 16:52] ahg-g commented on #104714
Right, and that would be the best practice we could highlight in the docs.

Sounds good then, I will update the KEP to remove the restriction and add node selector.

[2021-09-07 16:58] mkimuram commented on #104531
Commented the test result for the patch in https://github.com/kubernetes/kubernetes/pull/104798#issuecomment-914468415 .

[2021-09-07 17:13] ahg-g commented on #104714
hmm, @liggitt I misread your comment, it seems you still prefer we check for suspended+active=0, correct?

[2021-09-07 17:28] inteon opened #104820 "Wrong strategic ThreeWayMergePatch because of "creationTimestamp":null"
#### What happened:
Calling `strategicpatch.CreateThreeWayMergePatch` results in `{"metadata":{"creationTimestamp":null}}`, but expected `{}` instead.

code example:
[code]

This is caused by a wrong encoding of `metav1.ObjectMeta{}`:
[code]

#### Environment:
[code]

[2021-09-07 17:30] justinsb opened #104821 "Use go-cmp/cmp only in tests"
I propose that we try to limit the use of go-cmp/cmp primarily to tests.

The comparisons themselves are less efficient, and referencing the cmp package may allocate some static structures.

Where we can't easily avoid calling cmp, I propose we limit its usage.  If we are calling it from a V(4) log statement (for example), we should first check whether the log level is active.

[2021-09-07 17:30] inteon commented on #104820
/sig api-machinery

[2021-09-07 17:52] smarterclayton opened #104824 "Pods that are terminating but force deleted must still be accounted for in admission"
A pod can be created, allocated unique resources on a node (such as a volume, an isolated CPU, or a device), and then force deleted.  Force deletion however happens independent of the state of the Kubelet - the pod could still be running or not have completed termination (termination takes a non-zero amount of time from request to completion).  A pod that is force deleted should still be visible t

[2021-09-07 17:53] smarterclayton commented on #104824
/sig node
/assign

[2021-09-07 18:00] Bessonov commented on #37471
/remove-lifecycle stale

[2021-09-07 18:15] liggitt commented on #104714
not quite... I think we should either:
1. only allow mutation for jobs which have never been unsuspended
2. allow mutation in all cases and make the job controller handle mutated scheduling fields in the template in the least surprising way possible, and make the guaranteed behavior super clear in the API docs (*I'd* be surprised if I changed scheduling fields in the template and my job got stuck

[2021-09-07 18:34] jamesSampica commented on #41568
Viewing the next schedule would help when verifying the cron expression.

[2021-09-07 18:39] henrik-m commented on #96428
/remove-lifecycle rotten

[2021-09-07 19:09] ahg-g commented on #104714
This feels too restrictive. I still want to support the case of preempting jobs and send them somewhere else.

The least surprising way with guaranteed behavior is one of two options:
1) the job-controller re-creates all pods, so basically a change to the template is implicitly a suspend. If we do this, then we are not enabling the re-targeting use case while allowing existing pods to complete.
2)

[2021-09-07 19:30] MikeSpreitzer commented on #104811
/triage accepted
/priority important-soon
I will work on the fix.

[2021-09-07 19:30] MikeSpreitzer commented on #104811
/sig api-machinery

[2021-09-07 19:41] soltysh commented on #104714
When I was initially thinking about it I didn't consider the race (pods with different scheduling directives) being a problem, although now I question my assumption. I guess it will depend on the particular use-case, the job's pod will do whatever it's told no matter where it lands, or in the worst case it'll fail and will be re-created (if specialized hardware was required and no such scheduling

[2021-09-07 19:54] vedarths commented on #74099
Please, are there any updates on this issue? It would be kindly appreciated.

[2021-09-07 19:56] simanwangSC commented on #104764
Resolved the issue by checking with GKE staff. If anyone else encounters the same issue, it might worth checking whether the FileStore instance is using the same VPC network as the GKE cluster.

[2021-09-07 19:56] #104764 closed

[2021-09-07 20:19] caesarxuchao commented on #104786
/assign @logicalhan

Han, it seems to be related to what you were working on. Can you help take a look? Thanks.

/triage accepted

[2021-09-07 20:20] caesarxuchao commented on #104820
cc @apelisse

could you help triage?

/triage accepted

[2021-09-07 20:33] matthias50 commented on #104521
@ahg-g, I work on the same team as @YuraHrunyk. I just wanted to clarify a bit the work-around we use to recover from this situation. All we do is kill the kube-scheduler process which is currently the leader. Then, one of the other redundant schedulers acquires the leader  lease and the pod gets scheduled right away.

We have thousands of pods getting scheduled across hundreds of nodes and this h

[2021-09-07 21:14] lavalamp commented on #84530
/lifecycle frozen

Bot, these issues don't magically fix themselves and closing them doesn't make them go away...

[2021-09-07 21:33] liggitt commented on #90692
do you have more details about the objects involved, the sequence of operations you're seeing, and the end state?

[2021-09-07 21:35] grosser commented on #90692
no, this was a long time ago ... can add more docs when I see it again
... but chances are I won't see it again since we added a "delete if this is too old" check now :(

[2021-09-07 21:38] ahg-g commented on #104521
This is interesting, the issue is that the scheduler thinks that the pod doesn't exist anymore because it can't find it in the informer cache, and so it is ignoring it completely.

In https://github.com/kubernetes/kubernetes/pull/90660, we removed some retry logic that perhaps mask the issue you are facing.

@liggitt If have a couple of questions:
1) If a pod used to exist in the informer cache, i

[2021-09-07 21:39] liggitt commented on #90692
fwiw, the unit tests added in 1.20 let us do completely deterministic checking of async scenarios that are normally hard to reproduce ... I added one for deletion of a pod with a foreground finalizer at HEAD and wasn't able to reproduce the simplistic version of the scenario - https://github.com/liggitt/kubernetes/commits/gc-foreground

[2021-09-07 21:42] Jiawei0227 commented on #101153
The length limit should be fixed in 1.22 in OSS. if you are using GKE, it is also back ported till 1.18
/close

[2021-09-07 21:42] #101153 closed

[2021-09-07 22:02] liggitt commented on #104521
Not that I know of. The client state (the store used by the pod lister) handled updated and relists by replacing existing content, it doesn't remove and re-add objects (_and_ it do so under lock)

Not that I know of... the store is updated before the event handler is called

https://github.com/kubernetes/kubernetes/blob/34fb61beba52d9e1ab3f044a7be8b9f49d99534e/staging/src/k8s.io/client-go/tools/ca

[2021-09-07 22:27] Huang-Wei commented on #104521
The error message was logged here:

https://github.com/kubernetes/kubernetes/blob/34fb61beba52d9e1ab3f044a7be8b9f49d99534e/pkg/scheduler/factory.go#L400-L405

and it was introduced in 1.19.

Regarding the root cause, one thing to note is: the podLister used here is "filtered" (`status.phase!=Succeeded,status.phase!=Failed`) - all the way from scheduler's instantiation:

https://github.com/kubernet

[2021-09-07 22:52] aojea commented on #100849
I thought http1.1 wasn't affected because it will always try to connect a new connection
https://github.com/kubernetes/client-go/issues/374#issuecomment-485423115

[2021-09-07 22:57] nonylene commented on #102537
@CaoDonghui123 Could you triage this issue?

[2021-09-07 22:57] Huang-Wei commented on #104521
@YuraHrunyk could you verify what's the eventual `status.phase` of the pending pods, and if by any chance, the _interim_ `status.phase` when the "xxx doesn't exist in informer cache" log was firstly spotted?

BTW: in 1.18, the pod was obtained from [a live API query](https://github.com/kubernetes/kubernetes/blob/1f3e19b7beb1cc0110255668c4238ed63dadb7ad/pkg/scheduler/factory.go#L498) instead of "fi

[2021-09-07 22:58] Huang-Wei commented on #104521
/triage accepted

[2021-09-07 23:15] ahg-g commented on #104521
@Huang-Wei notice they mentioned that the pod did get eventually scheduled when switching the leader.

@YuraHrunyk  can you also please verify that the same pod, not a replacement one, was eventually scheduled?

[2021-09-07 23:26] aojea commented on #102698
I'm not saying to modify current behavior, it is what it is :shrug: , but  the new KEP will replace and hopefully deprecate current nodeipam and we can revisit in more detail this problem during the reviews of the new implementation
/cc @rahulkjoshi

[2021-09-07 23:30] mikebell90 commented on #104480
@artb1sh yes, but define "one". one sidecar total as in one single container shared by all pods? That doesn't really make sense. You'll need more than that to spread the load. CNI is probably the way to go for network level type sidecars. In that you have a DaemonSet (many, since you have load no matter what), and use the CNI to rewrite the tables.

Or are you just trying to template (which saves

[2021-09-07 23:33] dcantah opened #104827 ""Input contains a loop" on vendoring new dependencies that depend on staging projects"
#### What happened:
If you try and vendor in a dependency into kubernetes/kubernetes that depends on a select few of the projects that get published out of /staging (api or apimachinery that also happen to depend on each other), it seems the update-vendor.sh script whines that the input contains a loop:

[code]

The error is that a certain package doesn't exist in the tag I was using but did local

[2021-09-08 00:41] #32220 closed

[2021-09-08 01:18] liggitt commented on #104521
is it the informer cache / lister the pods are missing from, or the caches maintained by these:

https://github.com/kubernetes/kubernetes/blob/ebb9fafac620dac6e632b7b2607d575cc1df926f/pkg/scheduler/eventhandlers.go#L280-L329

if so, is it possible the filtering is dropping events needed to maintain those caches accurately, or could something like  https://github.com/kubernetes/kubernetes/blob/ebb9

[2021-09-08 01:26] MikeSpreitzer opened #104831 "Potential loss of precision in progress meter in queueSet"
#### What happened:
This is nothing new, just something we have not yet gotten around to being fully careful about.  In the regular QueueSet implementation for API Priority and Fairness there is a progress meter called "virtual time" in most of the code, `R(t)` in the original fair queuing paper.  The current code represents this using a `float64` with units of seat-seconds.  There is a potential

[2021-09-08 01:47] qixiaobo commented on #65500
Same issue without pvc

[2021-09-08 01:50] qixiaobo commented on #65500
![image](https://user-images.githubusercontent.com/2881751/132433094-f4716cc0-a5b7-4ad3-b5c5-2cb66f2036d4.png)

[2021-09-08 01:52] ahg-g commented on #104521
It is not missing from the scheduler's maintained cache, it is missing from the pod informer cache, here is the failed lookup: https://github.com/kubernetes/kubernetes/blob/44a3aa90a777aa05e997cb827744597c06b70803/pkg/scheduler/factory.go#L469)

this pod informer is configured to exclude pods that ran to completion: https://github.com/kubernetes/kubernetes/blob/44a3aa90a777aa05e997cb827744597c06b7

[2021-09-08 03:32] MikeSpreitzer commented on #104342
@caesarxuchao : remember there are multiple processes that can restart here.  I have not studied the GC code myself, but colleagues reported to me that they had done root cause analysis on some incorrect deletions of child objects.  If I understood and recall correctly, they said to me that the failure scenario is a restart of a kube-apiserver and the parent object (as well as the falsely orphaned

[2021-09-08 03:45] palnabarun commented on #104827
/area code-organization
/sig architecture

[2021-09-08 03:57] ahg-g commented on #104714
At scale such races surely will manifest itself. My worry is that to prevent this race condition and guarantee that the job is suspended we will not only need to complicate the job controller, but also very likely incur at least one additional API call per job, which I would very much like to avoid for such a feature that may not be used frequently.

I expect the most common use case is indeed to

[2021-09-08 03:59] palnabarun commented on #104821
/area code-organization
/sig architecture

[2021-09-08 03:59] palnabarun commented on #104771
/triage accepted

[2021-09-08 04:15] adisky commented on #104813
@pacoxu passing now https://testgrid.k8s.io/sig-node-containerd#cgroup-systemd-containerd-node-e2e, I didn't update go version as there was already a PR by boat k8s-ci-robot
shall we close this?

[2021-09-08 04:38] manjeetsinghcodz opened #104834 "Mixed content issue , http content loaded over https"
Hello all,

I'm have a website running on k8s below is architecture with issue of mixed content  http loaded on https :

[code]

`Client -----> Cloudflare SSL -----> Traefik SSL (letsencrypt) ---> Nginx Pods (No SSL) `

it will be impossible to install SSL certs on the Nginx pods and convert the http url to https .

I heard about the **x-forwarded-proto** header.

i configured my httpsingressroute

[2021-09-08 05:20] liggitt commented on #104827
Components that have a transitive dependency to anything in k8s.io/kubernetes, including the staging components, can not be added as a dependency. The detection and prevention of this in the dependency management scripts is intentional.

The reason is that it introduces a gridlock/chicken-and-egg scenario that couples the staging components to their dependencies in a way that makes it impossible t

[2021-09-08 05:22] liggitt commented on #104827
That is indeed the solution

[2021-09-08 05:23] #104827 closed

[2021-09-08 05:29] pacoxu commented on #104813
Thanks for the info @adisky
/close
since the CI is green now.

[2021-09-08 05:29] #104813 closed

[2021-09-08 05:44] uthark commented on #98213
@BenTheElder I started some work, could you please provide feedback / ideas on the approach? Thank you!

[2021-09-08 05:47] pacoxu commented on #104820
/assign @EricWvi
to do some research on this

[2021-09-08 05:55] Shanduur commented on #93188
What's the status of this? PoC done by @knight42 was accepted, so at this point, it just needs to be rebased and extended to cover all cases, am I right? If so, I can work on this.

[2021-09-08 06:02] pacoxu commented on #104834
/sig network

[2021-09-08 06:14] pacoxu commented on #101820
/reopen

Some problems that were mentioned by  @Huang-Wei  are not fixed yet.

/cc @kerthcet @muma378

[2021-09-08 06:16] kylinxiang70 commented on #65903
"The PersistentVolume "data" is invalid: spec: Required value: must specify a volume type"

This error happened because pv configuration is not valid, there is a validation rule in k8s: the PersistentVolumeSource MUST have one XXXPersistentVolumeSource resource object.

YOU can find the validation source code in ./pkg/core/apis/validation/validation.go, search "must specify a volume type".

[2021-09-08 06:22] wojtek-t commented on #104714
I like this - let's do that and figure out later if we really need more.

[2021-09-08 06:47] tavolodobela commented on #104815
hello, @neolit123 please find them linked. I've searched for both the container name and the container id in syslog. Let me know if you need more data.

https://pastebin.com/ycxDhRxw
https://pastebin.com/FrQcA806

Note that when the 'accident' happens (20:50:38) there's nothing in the logs for that time. The only thing I found is that the gpu operator provided these entries (we use nvidia gpu's in

[2021-09-08 06:59] EricWvi commented on #104820
/assign

[2021-09-08 07:04] Jyny commented on #70732
Having same issue, can we reopen this?
/reopen

[2021-09-08 07:18] LiamStorkey commented on #99813
Hey @kishorj Thank you for picking up this issue. is there anything that you would like help with/I can try work on?

[2021-09-08 07:58] kumari23anjali opened #104838 "Cluster Service name is not responding"
#### What happened: I am using K8s for POC. I created one master and one worker node. Having 4 pods (1. nfs-client-provisioner 2. nginx-deploy 3. api 4. deployment )  and 4 clusters with the same name listed above. The issue is, trying to run the curl command with the cluster service name from another pod, is not responding but using the cluster IP (Private IP) it is working.

 `/sig multicluster`

[2021-09-08 08:16] mohit1795 commented on #103998
/assign

[2021-09-08 08:26] soltysh commented on #104714
:+1: I totally agree with simpler approach and I'm similarly worried about additional complication of the controller. Thank you very much @ahg-g!

[2021-09-08 08:27] krzysiekg commented on #104197
@serathius I started from k8s.io/kubernetes/cmd/<component_name> and followed imports, counting unstructured klog calls along the way.

Components ranked by number of klog calls (unique to this component or shared with at least one other component):

[code]

Components kube-proxy and kube-scheduler have similar number of calls, we also talked with their respective sigs.

Packages imported by kube-

[2021-09-08 08:28] kumari23anjali opened #104839 "Cluster Service name is not responding sig/multicluster"
#### What happened: I am using K8s for POC. I created one master and one worker node. Having 4 pods (1. nfs-client-provisioner 2. nginx-deploy 3. api 4. deployment ) and 4 clusters with the same name listed above. The issue is, trying to run the curl command with the cluster service name from another pod, is not responding but using the cluster IP (Private IP) it is working. sig/Multicluster wg/Na

[2021-09-08 08:29] #104839 closed

[2021-09-08 08:29] kumari23anjali commented on #104839
Wrongly raised

[2021-09-08 08:31] kumari23anjali commented on #104838
How to add the sig labels on the issue ?

[2021-09-08 08:55] prashanth26 commented on #96992
Is there a plan to fix this issue via https://github.com/kubernetes/kubernetes/pull/97021? As we are running into this issue on our cluster.

[2021-09-08 09:11] sathieu commented on #67500
Workaround: Restart `kubelet` on the node, and wait a few seconds:

[code]

[2021-09-08 09:21] mborsz commented on #104811
Wow! Thanks a lot for rapid help here! Let's wait for the next test run to see if it helped.
/reopen

[2021-09-08 09:44] MadhavJivrajani commented on #104838
/remove-kind bug
/sig network

You might also want to join the Kubernetes slack (https://slack.k8s.io) and ask this. A few channels where you could ask this is: #kubernetes-users, #kubernetes-novice, #sig-network.

[2021-09-08 09:44] MadhavJivrajani commented on #104838
/kind support

[2021-09-08 09:46] Shubham82 commented on #104073
Hi @enj @vpnachev

IMO We can do two things here either we will mention the supported signing algorithm [link](https://github.com/kubernetes/kubernetes/blob/5be21c50c269fc1d28e0bd31ab9dcb572ae7fac5/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L225-L237) for oidc instead of [RFC document](https://tools.ietf.org/html/rfc7518#section-3.1)  or explicitly mention the support

[2021-09-08 09:49] discordianfish commented on #55397
This has been fixed in recent versions. At least on all clusters I'm running.

[2021-09-08 10:26] wojtek-t commented on #104831
I personally think we need both:
- switching to from float64, to int64 (measured in nanosecond)
- adding to adjust `R(t)`

Regarding the second one - I'm wondering how big problem it actually is. Maybe the first thing to do is to actually just expose the metric of where we are [after switching to int64 it would be overflow, not lack of precision anymore]?

[2021-09-08 10:35] mengjiao-liu commented on #104197
I can help if needed.

[2021-09-08 10:41] palnabarun commented on #101695
cc: @RinkiyaKeDad

[2021-09-08 10:43] RinkiyaKeDad commented on #101695
I can also help with this 🙂

/assign

[2021-09-08 10:51] neolit123 commented on #104815
Thanks for the additional info.
Hoping that the issue triage folks will find these useful.

/remove-triage needs-information
/kind bug
Until confirmed otherwise.

[2021-09-08 10:57] Sadiquedeveloper commented on #103764
@KuberDriver  are you still activately working on this.

[2021-09-08 11:07] KuberDriver commented on #103764
@Sadiquedeveloper actually no due to this PR☝️

[2021-09-08 11:14] serathius commented on #104197
@mengjiao-liu We plan to create an stack-rank based on number of log calls, this way we migrate one component at the time, one by one and decide where to stop after whole component is migrated.

 Great work @krzysiekg, let's start from kube-proxy and kube-scheduler. We already got approval from @Huang-Wei to migrate scheduler.

 Can you reach out to SIG Networking about kube-proxy?

[2021-09-08 11:21] serathius commented on #104197
@shivanshu1333 Can you take a look into organizing work for migration of kube-proxy?

[2021-09-08 11:25] jyz0309 commented on #104197
I can help if needed too.
Just wait for this moment:)

[2021-09-08 11:38] dcantah commented on #104827
@liggitt Ok, I appreciate the prompt response on this! Looks like we'll need to start trimming at the hcsshim/containerd layers.

[2021-09-08 12:22] serathius commented on #104197
@mengjiao-liu @jyz0309 Thanks for offering, we are still preparing and organizing the migration. If you want to help please help @krzysiekg and @shivanshu1333 with:
* Reaching out to SIG Network to confirm that their TL/Chair approves starting migration of kube-proxy
* Propose how to split work by creating list of kube-proxy subdirectories based on number of log lines to migrated (available in com

[2021-09-08 12:30] serathius commented on #104197
Pinged SIG Networking leads https://kubernetes.slack.com/archives/C09QYUH5W/p1631104207110000?thread_ts=1629901727.262200&cid=C09QYUH5W

[2021-09-08 12:33] vfiset commented on #85643
/remove-lifecycle stale

[2021-09-08 12:46] bydga commented on #104155
Hi, long time no see 🙂  We managed to upgrade the cluster to `v1.21.2-eks-0389ca3`. And since this is the last kube release supporting docker as a container runtime, we also switched to containerd runtime (we were kinda hoping that the this error happens somewhere in the docker-shim and it will vanish with this shift 🙂 ). However no, it is still there. :/

Anyways, after upgrading, we still see th

[2021-09-08 12:46] tkashem commented on #104342
@caesarxuchao yes, i guess there is an inherent race between the CRD being available in discovery and serving the CR. I am not very  familiar with the CRD logic, @p0lyn0mial is working on a PR #104748 to fix this race.

[2021-09-08 13:13] MikeSpreitzer commented on #104831
The dimension of R is not time, it is seats X time.

If we go with fixed point, we might admit that we don't need so many bits of fraction.

We _did_ recently add some metrics that carry R values.

[2021-09-08 13:15] MikeSpreitzer commented on #104811
Yes, can you please report the filter latency regardless of whether it is bad or good?  I would like to know _how much_ of a difference that PR made.

[2021-09-08 13:18] serathius commented on #100748
@pchan @rahulii  Thanks for help with control plane components, for 1.23 we are planning to migrate kube-proxy to structured logging. Could you also try to enable JSON logging on kube-proxy?

[2021-09-08 13:52] mborsz commented on #104811
Sure, will report the latency change in both cases.

[2021-09-08 14:00] liggitt commented on #100849
I'm not confident in that. The original issue dated back to before client-go defaulted to http/2, and we definitely saw issues with stuck TCP connections then.

[2021-09-08 14:26] tkashem opened #104842 "flowschemas resource is currently skipped by TestApplyResetFields test."
#### What happened:
`flowschemas` resource is currently skipped by `TestApplyResetFields` test.

https://github.com/kubernetes/kubernetes/blob/master/test/integration/apiserver/apply/reset_fields_test.go#L70-L74
[code]

When it flakes, it fails with the following error
[code]

this is the test result:
[code]

#### What you expected to happen:

We need to identify the root case of why it flakes and

[2021-09-08 14:27] tkashem commented on #104842
/sig api-machinery

cc @wojtek-t @MikeSpreitzer

[2021-09-08 14:27] serathius commented on #100748
/reopen

[2021-09-08 15:02] wojtek-t commented on #104831
I know. But conceptually we can think about seats as scalar.

I'm suggesting a unit being "nanosecond (x seat)" - so we don't need fraction at least. Just switch to int64.

[2021-09-08 15:43] gavahi commented on #65863
In some cases, there is no solution to fix this issue.
So, as @liggitt suggested, a new installs is the best option.
Remove Docker-CE:
`sudo yum remove -y docker-ce`
Remove all Kubernetes tools:
`sudo yum remove -y kubelet kubeadm kubectl`
reboot the machine (recommended)
`sudo reboot`

Then re-install all:
`yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo`
`su

[2021-09-08 15:44] alculquicondor commented on #104521
@YuraHrunyk can you provide all the logs referring to the pod that "disappears"? I would like to know if we tried to schedule it at other points. That might help us narrow down the possible race conditions.

[2021-09-08 15:44] #100928 closed

[2021-09-08 15:46] alculquicondor commented on #104521
Logs from the apiserver would help too.

[2021-09-08 15:47] chuangxinyuan commented on #101674
@bsctl I have encountered the same situation as you, according to below NOTE, k8s cannot add taint very quickly, i guess, partially because the noexcute taint will evict pod, and the process will consume lots of resources and be error prone, to avoid chaos, k8s add  an hidden limit rate. if you shutdown the node one by one, and only shutdown next node until the privious pod eviction finished （ if

[2021-09-08 15:47] fxdgear opened #104843 "kubectl create job --image can't create job from private image"
tl;dr I want to run a 1 off job from a cronjob or an image that allows me to override the command (specifically a parameter in the command specified in the cronjob)

the two ways to create a job are

1. from an image using the `--image` flag but this doesn't allow for using private images.
2. from a cronjob using the `--from` flag but this doesn't allow for overriding the command.

I can see that

[2021-09-08 15:51] fxdgear commented on #104843
/sig cli

[2021-09-08 16:26] aojea commented on #100849
yeah, I could reproduce it with http1.1, however, it can be solved using the transport CloseIdleConnections method

@liggitt please take a look https://github.com/kubernetes/kubernetes/pull/104844, the last commit needs more work, but I think that the 2 first commits exposeing the CloseIdleConnections() are useful

[2021-09-08 17:07] pmanno commented on #101743
bump

[2021-09-08 17:08] Huang-Wei commented on #104197
@serathius thanks for the coordination. For scheduler, we can divide the migration work by the number of lines of change needed, 20~30 may be a reasonable number.

[2021-09-08 17:20] Huang-Wei commented on #104684
That sounds like a conflicting requirement :) Metrics are aimed to show a scheduler's overall scheduling health, in an aggregated and high level. While for an individual pod, I think analyzing the log is the right way - the work will be easier once we finish the structured logging migration.

[2021-09-08 17:34] shivanshu1333 commented on #104197
Yes @serathius I'm working on organising the migration work related to kube-proxy, will come up with the required list of directories belonging to kube-proxy by tomorrow, hopefully by that time we also get the required approvals from SIG Networking leads.

[2021-09-08 18:07] MikeSpreitzer commented on #104831
I find that keeping track of the dimensions is a helpful way to avoid mistakes.

Regardless of whether you think of it as fractions of a second or as whole nanoseconds, that may be more precision than we need.  I'm not sure we want to spend 50 bits just to handle one seat occupied for 12 days.

[2021-09-08 18:23] eddiezane commented on #104843
/transfer kubectl

[2021-09-08 18:33] ehashman commented on #104648
/remove-priority important-soon
/priority critical-urgent

Rationale: this is a critical regression in the lifecycle of static pods in 1.22. Once fixed, this should be backported as soon as we determine the patch is stable.

[2021-09-08 18:49] matthias50 commented on #104521
@ahg-g @YuraHrunyk I can verify that it is the same pod, not a replacement one.

[2021-09-08 18:55] matthias50 commented on #104521
@ahg-g, we are deploying k8s using home grown automation on AWS. All our clusters have three master nodes (AWS instances), each with static pods for the k8s control plane components (kube-scheduler, kube-apiserver, kube-controller-manager).

[2021-09-08 20:29] alculquicondor commented on #98860
/close

As this seems to be about scale down.

[2021-09-08 20:29] #98860 closed

[2021-09-08 20:32] huangjiasingle commented on #61117
PLEG not healthy's real reason is not runc lead to，not healthy because last succeeded list container's time to now more than 3minute， PLEG list container from docker daemon by labels: all=1&filters={"label":{"io.kubernetes.docker.type=container":true},"status":{"running":true}},  and the docker damon first query containers from  containerd, and containerd read go-memdb(memory db)  and return conta

[2021-09-08 20:42] huangjiasingle commented on #61117
the list api server of dockerd call link:
github.com/docker/docker/api/server/router/container/container.go   initRoutes()  >    getContainersJSOJ()
github.com/docker/docker/api/server/router/container/container_routes.go   getContainersJSOJ() > Containers()
github.com/docker/docker/daemon/list.go    Containers()  >reduceContainers()  >reducePsContainer()  > refreshImage()

[2021-09-08 20:52] collinjlesko commented on #87603
Thought I would add to this,

Having the exact same issue with v1.18.16 on EKS. Initially, namespaces would be stuck in a "Terminating" state. Further research would lead you to find that services (loadbalancers) in Kubernetes were hanging or would persist for 10+ minutes. If you left it alone for a while, it would go away... eventually. However, this is typically instantly deleted. When running d

[2021-09-08 21:19] liggitt commented on #104461
hoisting comments from @RinkiyaKeDad in slack:

Tried out this approach [here](https://github.com/RinkiyaKeDad/gomodgraph-sixteen/blob/master/cmd/root.go#L75-L140). Ran into some issues.

I was testing this on a small project where the main module was `github.com/go-modules-test` and the only two direct dependencies were `github.com/julienschmidt/httprouter` and `go.uber.org/zap`.

For the Deps of

[2021-09-08 21:20] liggitt commented on #104461
I think that's because those are only deps via the tools build tag

https://github.com/uber-go/zap/blob/v1.16.0/tools_test.go

it looks like `go list` doesn't give you a way to say "show me all deps via all build tags"

[2021-09-08 22:26] LiamStorkey commented on #99813
Also, I have begun to run into the same issue while using the was load balancer controller for alb's as well.

[2021-09-08 23:02] kishorj commented on #99813
@LiamStorkey, I'm targeting the ALB fix for the upcoming v2.3.0 release. As for the NLB, the plan is to use similar optimization when support for security group is available.

[2021-09-08 23:04] kishorj commented on #99813
In case of NLB, using IP targets might help due to higher likelihood of multiple target groups can share the SG rules if the target port value is the same.

[2021-09-08 23:47] thockin commented on #102367
I understand why we set it, but I am saying it's not helpful.  What bad thing is being avoided by marking the node not ready?  If the workloads are still running (kubelet just restarted) then it doesn't matter that it costs a lot of time - the workloads are fine.

[2021-09-08 23:50] #102127 closed

[2021-09-08 23:51] #102013 closed

[2021-09-08 23:54] #101680 closed

[2021-09-08 23:59] thockin commented on #99751
Did this get done?

[2021-09-09 00:00] thockin commented on #99824
@robscott Updates?

[2021-09-09 00:00] thockin commented on #100313
+1

[2021-09-09 00:01] #99005 closed

[2021-09-09 00:11] pacoxu commented on #99751
Yes I think

[2021-09-09 00:11] #99751 closed

[2021-09-09 00:33] robscott commented on #99824
@thockin Unfortunately this lost steam. We explored some options for Gateway API but unfortunately none of them really panned out as well as we'd hoped. Unfortunately I'm not sure how much time I'll have to push this forward in the next few months.

[2021-09-09 00:34] #102314 closed

[2021-09-09 02:07] pacoxu commented on #101820
Since #104849 is merged to revert the change, https://github.com/kubernetes/kubernetes/pull/103515#issuecomment-915548963

[2021-09-09 02:16] calvin0327 commented on #66844
If only the error message is not specific, I would like to work in this. Can I?

[2021-09-09 02:22] krmayankk commented on #68397
@soltysh  for marking it for a release

[2021-09-09 02:24] calvin0327 commented on #66844
/assign

[2021-09-09 02:37] Kartik494 commented on #104785
Hi @fcddk Could you explain  this issue in some details, that would be easier to understand

[2021-09-09 03:26] Kartik494 commented on #104357
Hi @amitbhatia1987 Could you provide some information on number of volume mounts are bound when kubelet is in running state? and which volume mount is not been cleared by kubelet

[2021-09-09 03:41] Kartik494 commented on #102482
Hi @venkatsc  are you applying corresponding crd's for snapshots?Could you describe here in more details

[2021-09-09 03:43] 249043822 commented on #104648
Before v1.22, while a static pod is removed, it's podworker will be removed right now, although it's worker go-rountine may has not finished. just while the same static pod manifest comes back, the new podworker could be created, there may a slot time， old and new podworker coexist.
After v1.22, rescontructed the podworker, while the old static pod has not terminated completely, the come backed ne

[2021-09-09 04:49] Kartik494 commented on #102482
You can find the crd [here](https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd) and apply correspondingly

[2021-09-09 04:55] Kartik494 commented on #101743
You have tried this issue on EKS only or you try on hardware setup also?

[2021-09-09 05:11] Kartik494 commented on #104357
I am trying to reproduce this in my environment, could you share or reference pod yaml  for the same.

[2021-09-09 05:22] uablrek commented on #104838
First you must check if this is a DNS problem (which I think it is). Please provide some additional info;

* The exact curl command you use from within the pod, and the (error) output
* The `/etc/resolv.conf` in the pod
* Output from `kubectl describe svc (your-service-name)`
* If possible try `nslookup`, `dig` or `host` or some other dns-query tool with your service name

If this is not a DNS pro

[2021-09-09 05:38] RinkiyaKeDad commented on #104461
Minor update I forgot to mention, this won't be a problem

[code]

since we have access to the [Indirect](https://github.com/RinkiyaKeDad/gomodgraph-sixteen/blob/master/cmd/root.go#L41) field which lets us know that `go.uber.org/atomic` is an indirect dependency and hence we can skip adding the `github.com/go-modules-test -> go.uber.org/atomic` edge.

But the rest of what Jordan posted is still a

[2021-09-09 05:38] uablrek commented on #104834
Um, what is the problem exactly? Must the backends (nginx) know the original protocol? Or does traffic not work at all?

Anyway, this does not seem like a bug in K8s.

/kind support
/remove-kind bug

[2021-09-09 06:27] pohly commented on #79980
To work around this bug here, volume life cycle checking was disabled for *all* tests, not just the subpath test:
https://github.com/kubernetes/kubernetes/commit/f1e1f3a416b70bafadf961518c330ce3b1b5459a#r56140970

This check is useful and should be enabled again.

[2021-09-09 07:09] bespanto commented on #60140
I tried to copy a folder from a pod with a total of approx. 2.1 GB of data to my local computer. Here is the output from that process:

`~/Downloads/kubectl cp infrastructure/nifi-0:/opt/nifi/nifi-current/conf/ /tmp/nifi-config`
Defaulted container "nifi" out of: nifi, copy-config (init)
tar: Removing leading `/' from member names
Resuming transfer at 2179862528 bytes after EOF
Defaulted container

[2021-09-09 07:15] manjeetsinghcodz commented on #104834
@uablrek when i load my website in wordpress , it is displaying a lot of mixed contents issues thus break the site. The thing is the nginx pods are in http listening on port 80 and the website has urls hardcoded in http. SSL decryption is at Traefik ingress.

Solution would be maybe  If i convert the hardcoded urls http to https, i'll have to install SSL certs at pod level nginx.

How can i solve

[2021-09-09 07:19] mborsz commented on #104811
I compared
* (the one where we saw issue) https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1434924831014391808
* (first with the lock improvements) https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1435649583614005248

I tried to find requests that:
* use exempt PL (so shouldn't be throttled)
* has fl_priorityandf

[2021-09-09 07:20] #104811 closed

[2021-09-09 07:41] wuchuxiong opened #104855 "Recycler pod status keep on ContainerCreating forever"
I created a pv with nfs storage and next created a pvc bound to this pv. The pv reclaim policy is recycle. I noticed that the NFS path was set with a nonexistent volume by mistake. Then I deleted the pvc and pv.  I found that a recycler pod was launched for recycling data in this pv. This was expected. But this pod was always on ContainerCreating status. The reason is that the recycler pod try to

[2021-09-09 07:51] wuchuxiong commented on #104855
/sig storage

[2021-09-09 07:53] manjeetsinghcodz commented on #104834
solved damn it :

Had to add this on nginx

`add_header 'Content-Security-Policy' 'upgrade-insecure-requests';`

[2021-09-09 07:53] #104834 closed

[2021-09-09 08:08] EricWvi commented on #104820
I've created a pull request.
Marshal of empty ObjectMeta do have null creationTimestamp field.
But I think ThreeWayMergePatch behaves correctly. In your case:
[code]
originalData is the same with currentData. And the delta change of targetData is from `"creationTimestamp":"2021-09-06T20:09:23Z"` to `"creationTimestamp":null`. Apply ThreeWayMergePatch, and we get patch `{"metadata":{"creationTimest

[2021-09-09 08:24] pacoxu opened #104860 "TestDifferentWidths flakes"
#### Which jobs are flaking:
pull-kubernetes-unit

#### Which test(s) are flaking:
TestDifferentWidths

#### Testgrid link:
 https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104801/pull-kubernetes-unit/1435825901991366656

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit

#### Reason for failure:
[code]

#### Anything else we need to know:
- l

[2021-09-09 08:24] pacoxu commented on #104860
/sig api-machinery

[2021-09-09 08:33] pacoxu commented on #104855
If the crashed recycle pods are deleted, it would make troubleshooting more complex.
If add validation before launching it, there should be an error message or warning event for failing to start the recycler pod.

Per https://kubernetes.io/docs/concepts/storage/persistent-volumes/#recycle, the recycle policy is deprecated. I'm afraid that your request on behavior changes with this deprecated featu

[2021-09-09 08:36] george-angel commented on #64616
/remove-lifecycle stale

[2021-09-09 08:45] uablrek opened #104861 "Support CNI v1.0.0"
#### What happened:

I trier to use cni v1.0.0 and cni-plugins v1.0.1 (bridge), but `kubelet` rejects with;
[code]

#### What you expected to happen:

The first official cni release shall be supported.

#### How to reproduce it (as minimally and precisely as possible):

Use cni v1.0.0. I am using the `bridge` cni-plugin with this config;
[code]

#### Anything else we need to know?:

Same config wi

[2021-09-09 08:48] uablrek commented on #104861
I tried this;
[code]
Everything builds without problem but for some reason `kubelet` gives the same error as before.

[2021-09-09 08:55] pohly opened #104862 "local-up-cluster.sh: core-dns fails with "loop detected""
#### What happened:

https://github.com/kubernetes/kubernetes/pull/100706 changed from "kube-dns" to "core-dns". "core-dns" is failing for me on Debian Buster:
[code]

`local-up-cluster.sh` works when I use `DNS_ADDON=kube-dns`.

#### What you expected to happen:

"core-dns" should work.

#### Anything else we need to know?:

Perhaps related to this? https://github.com/coredns/coredns/issues/2087

[2021-09-09 08:55] uablrek commented on #104861
/cc @dcbw

[2021-09-09 08:58] aojea commented on #104861
/assign @squeed
maybe is related to this https://www.cni.dev/docs/spec-upgrades/#libcni-changes-in-cni-v10 ?

[2021-09-09 09:04] uablrek commented on #104861
`github.com/containernetworking/cni` seems to be in "dockershim" only which makes sense since the CRI-plugin will handle this (I use `crio`);
[code]

[2021-09-09 09:05] uablrek commented on #104861
Perhaps this is a check that "dockershim" that is unnecessary when a CRI-plugin+CNI-plugin is used?

[2021-09-09 09:07] uablrek commented on #104861
But I must of course check "crio"! Prehaps that's what you meant all along @aojea :smile:

[2021-09-09 09:32] wuchuxiong commented on #104855
Thanks Pacoxu for your comments.

[2021-09-09 09:56] ylmcr7 opened #104864 "kubectl get pod appear NAME pod"
i use kubectl to get pod list,then appear a pod name is NAME
![image](https://user-images.githubusercontent.com/63889450/132665080-b380ec13-472e-4179-b255-d1b703f84de5.png)

i want to deal with,but i dont know
![image](https://user-images.githubusercontent.com/63889450/132665331-cfa67fc5-1ebc-480b-8b10-031da60fbf70.png)

[2021-09-09 09:57] serathius commented on #100748
Confirmed that in last CI run https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging/1435884240037220352

Logs from kubelet and control plane components are written in JSON:
* [kubelet](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-json-logging/1435884240037220352/artifacts/logs/kind-control-plane/kubelet.log)
* [scheduler](https://s

[2021-09-09 10:20] aojea commented on #104861
I did the previous bump for cni dependencies on crio and containerd, I think containerd changed the structure of the repo, but this may serve as guide if someone want to help

https://github.com/cri-o/ocicni/pull/79
https://github.com/containerd/cri/pull/1556

[2021-09-09 10:45] pchan commented on #100748
I will work on getting JSON logging for kube-proxy.

[2021-09-09 10:46] MadhavJivrajani commented on #104864
/sig cli
/priority awaiting-more-evidence
@ylmcr7 it'd be helpful if you could provide more context and steps to help reproduce this.

[2021-09-09 10:51] pacoxu commented on #104864
/sig cli

[2021-09-09 11:34] wojtek-t commented on #104831
Fair. Given that generally our requests take at least hundreds of microseconds, tracking it at the microsecond-seat level seems sufficient. Which reduces that to 40 bytes, which seems fine.

[2021-09-09 11:36] ylmcr7 commented on #104864
`$ kubectl get pod -n sys
NAME                                           READY   STATUS    RESTARTS   AGE
aaa-pages-667c7c8676-mvcdz                1/1     Running   0          175d
aaa-pages-667c7c8676-vczs6                1/1     Running   0          175d
NAME                                           READY   STATUS    RESTARTS   AGE
bbb-cargo-5d99ff89f4-wvgtz                     1/1     Running

[2021-09-09 11:52] lianghao208 commented on #104684
Thank you for the reply, I agree.

 I noticed the structured logging migration is in progress. Do you think it needs a dynamic mechanism( could be a signal or a http request send to the scheduler without modifying the args or restarting the process) to level up the log level?
Because the default log level for scheduler is not high enough to cover the details, and modifying the log level args is in

[2021-09-09 11:52] #104684 closed

[2021-09-09 11:53] lianghao208 commented on #104684
@Huang-Wei @ahg-g
Thank you for the reply!

[2021-09-09 12:44] damemi opened #104868 "Scheduler logged config prints without line breaks"
#### What happened:
When running the scheduler at `v=2` or greater, the processed component config may be logged as a single line with newline characters inserted, like so:
[code]

#### What you expected to happen:
config should always be readable and formatted to an easily copied/parsed format, like:
[code]

#### How to reproduce it (as minimally and precisely as possible):
Not sure how often thi

[2021-09-09 12:51] matthyx commented on #60140
Thanks for the feedback @bespanto the output with the error is just some debugging I've added to gather some real-world data.
It looks like your transfer went almost to the end before it had to resume... by any chance did you run some md5sum to check for file integrity?

[2021-09-09 13:10] 249043822 commented on #104648
@smarterclayton @liggitt @ehashman

Can we fix this by making the new static pod start to create after the old one with same uid  terminated completely?  and the pseudo code may like below:

1. dispatchWork check the static pod create and waits for notification
[code]
2. removeTerminatedWorker close the ch to notify new static pod creating
[code]

if this thought can be approved, I can do this wor

[2021-09-09 13:47] SureshUppelli opened #104869 "attachdetach-controller AttachVolume.NewAttacher failed for volume "pv" :Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead"
Warning  FailedMount  23m (x55 over 3h)    kubelet, ip-172-31-3-191.us-east-2.compute.internal  Unable to attach or mount volumes: unmounted volumes=[mysql-persistent-storage], unattached volumes=[mysql-persistent-storage default-token-6vkr2]: timed out waiting for the condition
  Warning  FailedMount  4m (x105 over 3h7m)  kubelet, ip-172-31-3-191.us-east-2.compute.internal  (combined from similar

[2021-09-09 13:50] uablrek commented on #104861
This is a cri-plugin problem. I filed an issue on `cri-o` https://github.com/cri-o/cri-o/issues/5287.

I am unsure of the status of `dockershim`, if it should be updated or removed. I leave this issue open, please close it if it is not relevant.

[2021-09-09 13:52] smarterclayton commented on #104648
The rough structure you described is similar to #104847, except we need to do this for non static pods as well.  There are a couple of problems related to a change like this though because the rest of the Kubelet ONLY references a pod by UID.  So if you were to rapidly delete a pod and create a new one with the same UID AND completely change volumes or devices, it's very likely that other parts of

[2021-09-09 13:55] bespanto commented on #60140
Hi @matthyx
My first test wasn't right. The pod was still active and apparently changed the data during the copying process.
I tried again on the inactive pod and it looks better now.

Output:
_Defaulted container "nifi" out of: nifi, copy-config (init)
tar: Removing leading `/ 'from member names_

md5sum local and remote match!

[2021-09-09 14:00] smarterclayton commented on #104648
https://docs.google.com/document/d/1NJKYNgoXZKGS5la4MvGrB42-DNQSFf4JQkEcZRnrDzA/edit# is the doc that captures all of the implications here.

[2021-09-09 14:02] aojea commented on #104861
/assign

[2021-09-09 14:02] matthyx commented on #60140
Yeah, looks like you don't have connection issues... I wonder if that's the case for @shanmukha511 @Spareo @smb-h and @akoeb-dkb

But thanks to your tests @bespanto, we realized if the file gets modified in the middle of the transfer, it confuses `tar` which is consistent with @aojea [comment](https://github.com/kubernetes/kubernetes/pull/104792#discussion_r703906549).

[2021-09-09 14:03] matthyx commented on #60140
Maybe I should run some tests with chaosmesh or something similar...

[2021-09-09 14:10] EvgenyPrikhodko opened #104871 "k8s Container runtimes"
Hi.
What environment do the images run in?
Docker? If so, how can you run images in Podman?

[2021-09-09 14:10] chrisohaver commented on #104862
https://coredns.io/plugins/loop#troubleshooting provides a description of the error, causes, and workarounds.  Typically this is due to a local dns resolver installed on the host. Solution is to configure kubelet to use a different `resolv.conf` (more detail in link).

[2021-09-09 14:29] shivanshu1333 opened #104872 "Kube-proxy migration to structured logs"
For Structured Logging Migration: [kubernetes/enhancements#1602](https://github.com/kubernetes/enhancements/issues/1602)

[Beta graduation criteria:](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging#beta)

- Migration of Kube-proxy to structured logging

#### What would you like to be added:

Authors: What to include in your PR

- Subject: "Mi

[2021-09-09 14:32] serathius commented on #104872
/cc @thockin
For official approval to migrate kube-proxy

[2021-09-09 14:35] serathius commented on #104872
@shivanshu1333 Can you add a list of kube-proxy subdirectories in first comment? This should allow us to avoid duplicating work by having people volunteer for specific directory and us marking it as reserved.

[2021-09-09 14:39] mcbenjemaa commented on #104871
/triage needs-information

[2021-09-09 14:40] shivanshu1333 commented on #104872
Yes, @serathius working on creating a list, will update in some time (~ 30 mins), I see some of the subdirectories have been migrated previously, will update with the remaining ones.

[2021-09-09 14:49] #96540 closed

[2021-09-09 14:50] smarterclayton commented on #104648
https://github.com/kubernetes/kubernetes/pull/104847 is now updated with what I believe is a more complete fix for this issue, but I'm still testing the assumptions in the Kubelet.

[2021-09-09 14:55] uablrek commented on #104871
Read about https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[cri-o](https://cri-o.io/) is _very_ close related to podman, I think they use the same libs.

At kubernetes.slack.com there is a #crio channel that handles so many `podman` questions that I left it (i use cri-o only). I think that is the place you should go for more information.

I close this issue if you don'

[2021-09-09 14:55] #104871 closed

[2021-09-09 15:00] EvgenyPrikhodko commented on #104871
Thanks for the answer, how to run k8s with podman?

[2021-09-09 15:03] sunnoy opened #104875 "why kube-proxy LISTEN nodeport?"
I observe in node this:

[code]

svc mode is ipvs,no externalTrafficPolicy=local,I have some questions:
Access from the outside of node needs to be MASQUERADE through iptables, why does kube-proxy need to LISTEN the nodeport port?

[2021-09-09 15:04] sunnoy commented on #104875
/network

[2021-09-09 15:05] sunnoy commented on #104875
/sig network

[2021-09-09 15:08] uablrek commented on #104871
`podman` is a tool and as such not directly called by cri-o, but cri-o creates pods and containers with the same libs as podman does, but verify that in the #crio slack channel. But I suggest you present your problem in a more generic way, like "I can do this with podman, how can I do the same in K8s" (with cri-o most likely).

[2021-09-09 15:11] sunnoy commented on #104875
https://github.com/kubernetes/kubernetes/blob/7de3f938c82a7c0538bdfac5bb9b3cad50c30eae/pkg/proxy/iptables/proxier.go#L1638

get it !

[2021-09-09 15:11] #104875 closed

[2021-09-09 15:17] EvgenyPrikhodko commented on #104871
but cri-o creates pods and containers with the same libs as podman does

Can you share a link to the documentation?

[2021-09-09 15:18] SergeyKanzhelev commented on #36621
this http://node-perf-dash.k8s.io/ doesn't exists any longer

[2021-09-09 15:18] MikeSpreitzer commented on #104811
@mborsz : thanks for reporting!

[2021-09-09 15:22] #103748 closed

[2021-09-09 15:23] uablrek commented on #104871
No, sorry I am not a cri-o maintainer myself, just a cri-o user. But ask in the slack channel. I took a peek just now and there seem to be more podman questions than cri-o. Same as before :smiley:

[2021-09-09 15:39] EvgenyPrikhodko commented on #104871
)))

[2021-09-09 16:00] pmanno commented on #101743
Just eks

[2021-09-09 16:14] paltaa commented on #68737
For those trying to resize in aws, resize for the desired volume size the first time or you will reach this error:

 status code: 400, request id: 360c927a-e440-4362-a8c3-bb219f6253b9
  Warning    VolumeResizeFailed  47s (x9 over 11m)  volume_expand  (combined from similar events): error expanding volume "default/redis-data-redis-node-0" of plugin "kubernetes.io/aws-ebs": AWS modifyVolume failed f

[2021-09-09 16:16] timstoop commented on #104107
I'm not sure how relevant this is, but it might help reproduce the error: We see this issue almost exclusively with Pods running MongoDB. I have no explanation or further indication about what might cause it. These are Pods with either a MongoDB container by itself, or sometimes sidecars with backup tooling (as created by the Percona Server for MongoDB operator). That sidecar experiences an OOMKil

[2021-09-09 16:26] dimitriosstander commented on #81045
/reopen

same here

[2021-09-09 16:35] logicalhan commented on #104872
/assign @serathius
/triage accepted

[2021-09-09 16:35] logicalhan commented on #104872
/wg structured-logging

[2021-09-09 16:36] YuraHrunyk commented on #104521
@alculquicondor Adding k8s logs.
`               !!!!!!!KUBE-SCHEDULER !!!

   log: W0819 07:44:24.714335       1 factory.go:471] Pod here-walle-lane-group-storage-sit/sit2-walle-lane-group-storage-event-publisher-deployment-8r5rkl doesn't exist in informer cache: pod "sit2-walle-lane-group-storage-event-publisher-deployment-8r5rkl" not found
   log_time: 2021-08-19T07:44:24.714347580+00:00

   lo

[2021-09-09 16:37] logicalhan commented on #104707
/kind documentation
/assign @serathius
/triage accepted

[2021-09-09 16:38] logicalhan commented on #104647
/triage accepted
/cc @bobbypage

[2021-09-09 17:52] #96909 closed

[2021-09-09 18:03] shivanshu1333 commented on #104872
Here's the line by line breakdown of things that need PRs:

| file     | number of lines |
|:---     |  :---:      |
| cmd/kube-proxy/app/server_others.go | 2 |
| pkg/proxy/metaproxier/meta_proxier.go | 7 |
| pkg/proxy/service.go | 10 |
| pkg/proxy/util/utils.go | 10 |
| pkg/proxy/util/iptables/traffic.go | 3 |
| pkg/proxy/util/endpoints.go | 5 |
| pkg/proxy/config/config.go | 21 |
| pkg/proxy/hea

[2021-09-09 18:05] shivanshu1333 commented on #104872
/assign

[2021-09-09 18:09] JasonShenk commented on #102881
Anyone else have an idea?

[2021-09-09 18:39] pohly commented on #104862
That mirrors what I found through the issue. Needs to be fixed in `local-up-cluster.sh` then.

[2021-09-09 18:47] alculquicondor commented on #104521
`07:44:24.758464495`: we have a confirmation event that the pod was just created.

`07:44:24.693034560`: we see that the scheduler already tried to schedule it at and failed.

`07:44:24.693069991`: The scheduler fails to see the pod in the informer cache.

So it seems to be the case that the scheduler got the "Add Pod" event, but the pod was not added to the informer cache.

Unfortunately, 1.19 is

[2021-09-09 19:43] nickgerace commented on #102749
@javiku it was:
[code]

[2021-09-09 20:11] jtslear commented on #99513
I'm seeing the same running a cluster 1.20.8 inside of GKE.

The issue I'm linking is fully of cruft from and exploration that has taken me on a journey, however, going down, specifically to the thread I'm linking too outlines that a replicaset is being modified PRIOR to the new replicaset being created.  Something tells the old replicaset to scale back up while the deploy progresses.  This introd

[2021-09-09 20:14] fedebongio commented on #104678
/triage accepted

[2021-09-09 20:15] fedebongio commented on #104831
/triage accepted

[2021-09-09 20:16] fedebongio commented on #104842
@tkashem is someone going to look at this one or you need help from the broader sig? (we saw this one during triage)

[2021-09-09 20:17] fedebongio commented on #104860
/assign @ehashman
/cc @MikeSpreitzer
/triage accepted

[2021-09-09 20:23] dims opened #104878 "Document and announce migration guide for Dockershim"
In the `KEP-2221: Removing dockershim from kubelet` KEP:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2221-remove-dockershim/README.md

we have a line item that says:
- Document and announce migration guide

We need to have this ready by 1.24, so we should start earlier in 1.23 itself.

There are a bunch of things we can draw inspiration from:
- https://kubernetes.io/blog/2

[2021-09-09 20:23] dims commented on #104878
/sig node
/sig docs

[2021-09-09 20:34] CIPHERTron commented on #104872
A better way of approach can be:
We can make multiple groups from the above and assign them to multiple people. That would make this issue easier to track and less complicated to deal with.

Reference: https://github.com/kubernetes-sigs/scheduler-plugins/issues/120

[2021-09-09 20:58] matthias50 commented on #104521
@alculquicondor, https://kubernetes.io/releases/ says the end of life for 1.19 is 2021-10-28. I get that we are close to that date, but we haven't passed it yet. So it seems like 1.19 should still be supported.

[2021-09-09 20:58] MikeSpreitzer commented on #104860
Yes, a couple of the unit tests have too stringent evaluations.
See https://github.com/kubernetes/kubernetes/pull/104856#issuecomment-916430271

[2021-09-09 21:03] alculquicondor commented on #104521
Oops, sorry about that. I was going by the high level rule of thumb: 3 latest releases are supported.

Maybe this could be reproduced at integration level. Anyone willing to setup a test?

[2021-09-09 21:04] mattcary opened #104879 "VolumeSourceEnabled should not be used to dynamically skip tests"
/sig-storage
/assign

[VolumeSourceEnabled](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/ephemeral.go#L427) checks for volume sources by creating a pod and seeing if the API server reports the source as valid, and skipping tests if not.

This is an anti-pattern as it could hide failures.

It also isn't totally effective, for example it doesn't work at least for

[2021-09-09 21:06] mattcary commented on #104879
/sig storage

[2021-09-09 21:06] mattcary commented on #104879
/triage accepted

[2021-09-09 21:07] tkashem commented on #104842
@fedebongio I have limited knowledge on how the test `TestApplyResetFields` works. Yes, i would appreciate some help from the broader sig.

[2021-09-09 21:15] mattcary commented on #104879
/cc @leiyiz
/cc @msau42

[2021-09-09 21:28] #104097 closed

[2021-09-09 21:53] cici37 opened #104885 "1.23 Release Notes: Known Issues"
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.23 Release Notes([example from 1.22 release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#known-issues)). If you know of issues or API changes that are going out in 1.23, please comment here so that we can coordinate incorporating information about these changes

[2021-09-09 21:54] cici37 commented on #104885
/triage accepted

[2021-09-09 22:10] ahg-g commented on #104521
and there is reason to think it was transitory because in 1.18 we had a retry loop that was removed in https://github.com/kubernetes/kubernetes/pull/90660 that likely masked this failed lookup

[2021-09-09 22:34] #104755 closed

[2021-09-09 23:53] lavalamp commented on #104831
There is a technique that involves using unsigned integers and always computing differences from some advancing point in time. The difference math gives the right answer even if it wraps around (if you're careful). I doubt we need to use it, but it's possible.

[2021-09-10 00:38] mattcary commented on #104879
After discussion we've decided that actually automatically detecting feature gates and dynamically deciding when to run a test is an antipattern.

I've renamed this issue thusly.

[2021-09-10 00:42] jyz0309 commented on #104872
I am willing to help migrate `cmd/kube-proxy/app/server_others.go` and `pkg/proxy/metaproxier/meta_proxier.go` @shivanshu1333 and I think you can add a column to show that this file have been assigned by someone.

[2021-09-10 00:51] jared-maguire commented on #43916
Hi folks -- I was suffering from this problem too, and I think I have a workaround. Main problem is I didn't really know the nuts and bolts of cgroups, and so k8s' behavior was super non-intuitive to me in this case. The answer came from something @bitglue said on this thread way back in 2018: *"Perhaps it's just a matter of documenting the consequences of not having a limit set."*

**TL;DR:** Set

[2021-09-10 00:58] Debanitrkl commented on #104878
I can work on this
/assign

[2021-09-10 01:47] Tejeev commented on #95942
@ehashman Did you have any thoughts?

[2021-09-10 02:49] #104860 closed

[2021-09-10 03:07] k402xxxcenxxx commented on #92460
Same issue on 1.20.9.
Also I believe it was caused by cluster DB is not healthy. For my environment, I deploy it using `microk8s` `1.20/stable` with 1 master node and 1 worker node.
It can be verified by `sudo journalctl -r -u snap.microk8s.daemon-apiserver`
It shows
[code]
it spent 33 seconds to update.
it will make most of the cluster's `scheduler` and `controller` dead due to it meets their tim

[2021-09-10 03:16] denkensk commented on #76772
/reopen

[2021-09-10 04:06] oneiro-naut opened #104888 "kubectl get pods command shows status AppArmor for pod on k8s v1.22"
#### What happened:
I recently upgraded to k8s version 1.22 and made the following observations. I deployed hello-apparmor.yaml example from the kubernetes tutorial on [securing pods with AppArmor](https://kubernetes.io/docs/tutorials/clusters/apparmor/).
hello-apparmor.yaml
[code]
Since I had not loaded corresponding apparmor profile yet I got this output using `kubectl describe pods`:
[code]
And