[2018-10-16 02:14] m1093782566 commented on #68703
I assume it's already fixed?

[2018-10-16 02:15] vishal49naik49 opened #69841 "kubectl port-forward command fails with error "incompatible key usage""
Hi,

I have generated my own certs for my kubernetes cluster. All components (apiserver, controller, scheduler, kubelet, etcd, docker) run as system-md service on linux.

kubectl get pods, get svc, create, apply commands work just fine

kubectl port-forward command fails with error "error: error upgrading connection: unable to upgrade connection: Unauthorized".
My kubelet log says " server.go:226]

[2018-10-16 02:31] ixdy commented on #68703
/close

This should be fixed in the next 1.10 release (v1.10.9).

[2018-10-16 02:31] #68703 closed

[2018-10-16 02:33] wgliang commented on #69840
_Then it can be changed dynamically._
@wenlxie It may not be a good idea to dynamically change the scheduling policy directly through the default scheduler, which is highly complex. I would recommend using the extended scheduler to do it.

[2018-10-16 02:34] m1093782566 commented on #68703
@caseydavenport FYI!

[2018-10-16 02:38] wgliang commented on #69768
@Violet-Guo
Cool, welcome Dr. Guo. Have any questions, please comment here.:)

[2018-10-16 02:52] #57975 closed

[2018-10-16 02:57] sarjeet2013 opened #69843 "CSI: `readOnly` field is not passed to CSI NodePublish RPC call"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

As per the CSI spec, `readOnly`is passed to ControllerPublishVolumeRequest that should be passed to NodePublish as well..

Ref: https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/v0/csi.pb.go#L1761

For CSI driver that do not support Controller Publish/Unpublish, the `readOnly` flag is missing fr

[2018-10-16 03:00] msau42 commented on #69843
@kubernetes/sig-storage-bugs

[2018-10-16 03:14] shawnhankim commented on #69833
@kubernetes/sig-Network

[2018-10-16 03:17] shawnhankim commented on #69833
/sig-network

[2018-10-16 03:26] frankbacn opened #69844 "kubedns can not start with “Failed to list *v1.Endpoints: Unauthorized” and “Failed to list *v1.Service: Unauthorized”"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
   The problem described in Stack Overflow [here](https://stackoverflow.com/questions/52567266/kubedns-can-not-start-with-failed-to-list-v1-endpoints-unauthorized-and-fai).
**What you expected to happen**:
   I read the issue #50799 and I create the correct service account and kubeconfig file.
  And I try to add a new test container

[2018-10-16 03:26] berlinsaint opened #69845 "Make it possible for LoadBalancer type Service to not allocate a NodePort?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
 /sig network

**What happened**:

When we use the Service type LoadBalancer, it will automatically use nodePort?
[when i use the metalb layer2 mode](https://github.com/google/metallb/issues/328) , i found this, dose the LoadBalancer really need nodePort?
shall we remove this feature?
the nodePort  will cause the port limited, and the numbe

[2018-10-16 03:36] AishSundar commented on #69786
/cc @yujuhong

adding @yujuhong from sig-node

[2018-10-16 03:46] berlinsaint commented on #69845
/sig network

[2018-10-16 03:50] berlinsaint commented on #69844
/sig network

[2018-10-16 04:05] anlem12 opened #69847 "Two application pods were created, changed every time the sessionid was refreshed while accessing the application on the client side"
**Two application pods were created, changed every time the sessionid was refreshed while accessing the application on the client side, and the service's sessionAffinity:clientip was set up, but did not work**

[2018-10-16 04:11] anlem12 commented on #69847
/sig session sessionid

[2018-10-16 04:48] dreadnautxbuddha commented on #23726
Running on Mac OS High Sierra, I solved this by enabling Kubernetes built into Docker itself.

![screen shot 2018-10-16 at 12 48 10 pm](https://user-images.githubusercontent.com/24476736/46993433-c6038900-d141-11e8-831c-d32d95d08bb9.png)

[2018-10-16 05:05] shivamchandra3 commented on #59959
Hi @rdrgporto ,
Thanks for replying to my query.
I tried the above mentioned steps by you.

These 2 worked properly:
**sudo apt-get update
sudo apt-get install vim**

But when I tried : sudo vi /etc/apt/sources.list.d/kubernetes.list , I got the page stating "deb http://apt.kubernetes.io/ kubernetes-xenial main

"/etc/apt/sources.list.d/kubernetes.list" 1L, 53C "

I was not sure what to do over he

[2018-10-16 05:11] windoze commented on #51835
Can you help to confirm if the pod will be deleted immediately?
Did that mean the warning message is actually inaccurate?

[2018-10-16 05:54] #67941 closed

[2018-10-16 05:55] koooge commented on #60140
Same here

[code]

filesize
[code]

/remove-lifecycle rotten

[2018-10-16 06:05] mikedanese commented on #69471
This regression is a frequent flyer. I'd love to see an integration that would catch this (but that shouldn't block a fix).

[2018-10-16 06:10] wpc009 opened #69849 "Service's endpoint is missing."
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: some of running services's endpoint is missing.

**What you expected to happen**: service with correct endpoints.

**How to reproduce it (as minimally and precisely as possible)**:
Not sure. Something that just happened.

**Anything else we need to know?**:
Before the endpoint missing, there is a kubernetes api

[2018-10-16 06:12] WanLinghao commented on #69686
/assign @Chenditang

[2018-10-16 06:12] wpc009 commented on #69849
/sig network

[2018-10-16 06:16] bsalamat commented on #69743
This is certainly not new, but I am still in favor of lowering it verbosity unless there is a good reason for having it in tests by default.

[2018-10-16 06:36] pohly commented on #69819
Michelle Au <notifications@github.com> writes:

Yes, sorry for the typo. Here's the meeting document:
https://docs.google.com/document/d/1z8MQpr_jTwhmjLMUaqQyBk1EYG_Y_3D4y4YdMJ7V1Kk/edit#heading=h.ordpxvv8yiv3

[2018-10-16 07:04] anlem12 opened #69850 "Error unprotecting the session cookie"
Microsoft.AspNetCore.Session.SessionMiddleware[7]
      Error unprotecting the session cookie.
System.Security.Cryptography.CryptographicException: The key {d13b9581-1fee-45c2-ad1b-e89680402540} was not found in the key ring.
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& s

[2018-10-16 07:05] anlem12 commented on #69850
/sig session cookie

[2018-10-16 07:05] anlem12 commented on #69850
/sig session

[2018-10-16 07:12] nikhita commented on #46822
/remove-lifecycle stale

[2018-10-16 07:44] chinglinwen opened #69851 "pod delete too long"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

try delete a pod, it took 42 second

[code]

**What you expected to happen**:

delete as fast as about in 3 seconds maximum ( expect 1 second )

**How to reproduce it (as minimally and precisely as possible)**:

Don't know how, in my environment, it can reproduce by delete again

**Anything else we need to know?**:

**E

[2018-10-16 07:45] chocolat2000 opened #69852 "vsphere cloud provider should avoir using Windows nodes for pvc provisionning"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cloud-provider

**What happened**:
When k8s cluster contains windows nodes, pvc provisionning is trying to use one of them to provision pvc

**What you expected to happen**:
Pvc provisionning should use Linux nodes only

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment

[2018-10-16 07:54] chinglinwen commented on #69851
/sig node

[2018-10-16 07:57] andyzhangx opened #69853 "change default azure file permission to 0777"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Default azure file permission `0755` is not suitable for most users, dozens of users complain about this, set as `0777` is the best choice here, if users don't want `0777`, then they could use mountOptions to override `dir_mode` and `file_mode`.

**What you expected to happen**:

**How to reproduce it (as minimally and pre

[2018-10-16 07:58] chinglinwen commented on #69851
/sig cli

[2018-10-16 08:00] thomasjungblut commented on #52757
@lcwxz1989 if you're into more nasty hacks, you can run the device plugin as privileged and read `/usr/proc/<pid>/environ`, which contains a variable called `HOSTNAME`. That is the pod id, I did not find the namespace though, so be careful! You can get the PIDs that are used by the GPU from `nvmlDevice.Status()`.

[2018-10-16 08:08] Lynzabo opened #69855 "The data returned by kubelet's "/stats/container/" interface is inconsistent with executing "docker ps -s" command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Execute the `docker ps -s` command to get the container information as follows:
[code]

Execute the `/stats/container/` interface of the kubelet, where the obtained container occupies the disk size and the `docker ps -s` command does not correspond.

[code]
What is the reason for this?

/sig node

[2018-10-16 08:08] jsafrane commented on #69819
While I agree that it should be possible for storage vendors to run any e2e tests with Kubernetes and their driver easily, at the same time we need to ensure Kubernetes API compatibility. When we move volume plugins from in-tree to CSI, we must test that existing API works and is translated to CSI in a seamless way.

Whether it is in kubernetes/kubernetes or e.g. kubernetes-sigs/gcp-compute-persis

[2018-10-16 08:28] drigz opened #69856 "`kubectl get` loads kubeconfig once per resource"
/kind bug

**What happened**:

`kubectl get mycrds` takes ~11 seconds when there are thousands of CRDs and ~/.kube/config is around 28KiB. `kubectl -v9 get mycrds` logs the following message once per resource:

[code]

Removing unnecessary entries from ~/.kube/config reduces the runtime by around ten seconds.

**What you expected to happen**:

`kubectl get mycrds` only parses ~/.kube/config once,

[2018-10-16 08:32] fejta-bot opened #69857 "pr:pull-kubernetes-integration flaked 86 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
 Flakes in the past week: **86**
 Consistency: **85.40%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| test-cmd run_rs_tests | 65 |
| k8s.io/kubernetes/test/integration/evictions TestTerminalPodEviction | 20 |
| k8s.io/kubernetes/test/integration/scheduler TestVolumeProvision | 16 |

#### Previously closed issues for this

[2018-10-16 08:36] drigz commented on #69856
/sig cli

[2018-10-16 08:44] dixudx commented on #69856
/assign

[2018-10-16 09:14] Nilesh20 commented on #69521
/kind bug

[2018-10-16 09:17] nikopen commented on #69857
closing as it's tracked under https://github.com/kubernetes/kubernetes/issues/69376

/close

[2018-10-16 09:17] #69857 closed

[2018-10-16 10:02] kargakis opened #69864 "Override bootstrap policy"
We want to disallow regular users from creating PDBs but unfortunately the bootstrap policy is hardcoded in the API server and we cannot really override it. Is there a way to achieve this currently? If not, we probably want the ability to be able to configure it.

@deads2k @sttts @smarterclayton @mfojtik @jim-minter @pweil-

[2018-10-16 10:03] kargakis commented on #69864
/sig api-machinery

[2018-10-16 10:03] kargakis commented on #69864
@kubernetes/sig-api-machinery-feature-requests

[2018-10-16 10:45] Pingan2017 commented on #69248
/assign

[2018-10-16 11:01] WanLinghao commented on #69855
/assign

[2018-10-16 11:03] WanLinghao commented on #69804
/assign

[2018-10-16 11:04] WanLinghao commented on #69785
@Chenditang

[2018-10-16 11:29] bjhaid commented on #68211
this seems related to:

https://github.com/moby/moby/issues/37083

[2018-10-16 11:54] bertinatto opened #69869 "Kubetlet not creating node label"
/kind bug

**What happened**:

Kubelet does't add the CSI driver label to the node if `CSIDriverInfo` alpha feature is disabled, which is the default behaviour.

[code]

This causes the a pod that uses a CSI volume (created with EBS CSI driver) to failed with:

[code]

**What you expected to happen**:

I expect Kubelet to label the node accordingly, even though `CSIDriverInfo` alpha feature is dis

[2018-10-16 11:57] vovkanaz commented on #69805
https://github.com/kubernetes/kubernetes/issues/66108
As we saw, we'll need to execute sudo kubeadm token create --print-join-command before setup... but in official docs no any word about this https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/#before-you-begin

[2018-10-16 11:59] soukron commented on #13136
Bump this issue.

Any chance to get it done?

[2018-10-16 12:19] bclau opened #69871 "Windows incompatible tests should be skippable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig testing
/sig windows

**What happened**:

There are plenty of tests which cannot pass using Windows nodes due to various reasons. Those are some of them:

- seLinuxOptions are not supported on Windows.
- Running as an UID / GID is not supported on Windows.
- file permissions work differently on Windows, and they cannot be set in
  the

[2018-10-16 12:24] lliknart opened #69873 "[Logging] no event generated when namespaces are created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig logging

**What happened**:
kube-controller-manager generates an event when a namespace is deleted (via kubectl)
`Namespace has been deleted <namespace_name>`

However, nothing happen when a namespace is created

**What you expected to happen**:
I expect the same kind of event when a namespace is created (via kubectl)
for example:
`

[2018-10-16 12:34] liggitt commented on #69864
/sig auth
/remove-sig api-machinery

You can modify default roles and disable reconciliation by setting the `rbac.authorization.kubernetes.io/autoupdate` annotation to `false`

[2018-10-16 12:42] kargakis commented on #69864
Awesome, thanks @liggitt !

[2018-10-16 12:42] #69864 closed

[2018-10-16 12:50] brancz commented on #69510
Which version of the metrics-server is this? Looking at [default address priority](https://github.com/kubernetes-incubator/metrics-server/blob/6cd52610db69d662b3b7890b73df82b3b3601ab3/pkg/sources/summary/addrs.go#L28:2) and the [address resolver](https://github.com/kubernetes-incubator/metrics-server/blob/6cd52610db69d662b3b7890b73df82b3b3601ab3/pkg/sources/summary/addrs.go#L56) which is used to [

[2018-10-16 12:53] aleksandra-malinowska commented on #69510
cc @x13n

[2018-10-16 12:58] feiskyer commented on #69336
/assign

[2018-10-16 13:00] feiskyer commented on #67827
dup of ##69336, I will try to fix this

[2018-10-16 13:06] vimalkrishna commented on #62594
May be you have some server.context-path set up in application.properties file.
Try adjusting that in the path: of the liveness/readinessProbe as httpGet:path:  The spring.application.name is overridden by the server context-path if specified in the application.properties. I was thinking that in service discovery mechanism the spring.application.name is applicable.

[2018-10-16 13:17] bradhoekstra commented on #69445
For background/context, the choice between enable/disable was initially discussed here:
https://github.com/kubernetes/community/pull/1249

[2018-10-16 13:46] jberkus commented on #69475
These tests are still failing, increasing the timeout appears not to have helped at all.

See https://github.com/kubernetes/test-infra/issues/9802

What now?

[2018-10-16 13:58] kashline commented on #36222
Please reopen this ticket, it's incredibly frustrating to have to deal with this even on small configmaps

[2018-10-16 14:02] jberkus commented on #68704
I'm not able to find any test fails with this text.  Is this still failing?

[2018-10-16 14:06] vryzhenkin opened #69879 "kubectl apply --prune=true can not delete resources if such in conflict"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a cluster running on version 1.11.3 and using kube-addon-manager to reconcile addons.
I faced an issue while I quickly removing kibe-dns addon which binds ClusterIP: 10.254.0.10 and adding CoreDNS addon which is going to bing same address.
So, I did it and got this message from kube-addon-manager:
[code]
**What you

[2018-10-16 14:13] vryzhenkin commented on #69879
cc @kubernetes/sig-cli-bugs

[2018-10-16 14:30] rajansandeep opened #69880 "Push the CoreDNS 1.2.3 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.2.3 image is available in docker coredns/coredns:1.2.3

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/cc @BenTheElder
/cc @timothysc
/assign @thockin

@fturib

/sig network
/sig cluster-lifecycle
/sig release

[2018-10-16 14:49] rajansandeep commented on #69880
/cc @AishSundar

[2018-10-16 14:50] leblancd opened #69882 "Have kubelet pass pod annotations directly to CNI plugins"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently, if a CNI network plugin needs access to [annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/) that are configured on a pod, it needs to do a GET/read of the pod manifest from the Kubernetes API server, based on the pod's name.

**What you expected to happen**:
With the

[2018-10-16 14:50] leblancd commented on #69882
area /network

[2018-10-16 14:50] leblancd commented on #69882
sig /network

[2018-10-16 14:51] leblancd commented on #69882
/sig network

[2018-10-16 14:53] clickyotomy commented on #69804
Hi, @WanLinghao - sorry, I didn't notice that this was assigned to you. Would you like me to close my PR?

[2018-10-16 14:54] msau42 commented on #69819
To clarify, existing in-tree tests still remain.  The ultimate test for migration is if those tests still pass without any changes needed.

[2018-10-16 14:54] fturib commented on #69880
This release CoreDNS 1.2.3 includes optimization for the scale tests.
We need it to be pushed to gcr.io in order to run CoreDNS in Kubernetes and be able to finish validating that 5k nodes scale test is now good.

[2018-10-16 14:58] admoriarty commented on #68050
Would love to see this issue resolved, it just caused us to starting losing a node intermittently due to a DiskPressure threshold being hit, because of months old logs of this type, the largest being 7G!

[2018-10-16 15:00] dims commented on #69880
cc @ixdy @fejta (since Erick is on call)

[2018-10-16 15:08] neolit123 commented on #69804
/sig cli

[2018-10-16 15:11] DanielJonesEB commented on #69721
It'd be nice if this worked, I suspect it would help the folks over at Knative Build implement support for passing HTTP_PROXY env vars and CA cert secrets to build steps.

[2018-10-16 15:11] ChrisTerBeke commented on #59117
/remove-lifecycle stale

:(

[2018-10-16 15:13] liggitt commented on #69841
make sure the certificate given to the apiserver with `--kubelet-client-certificate` has the correct client auth usage. if that checks out, can you provide the output of the following:

[code]

[2018-10-16 15:13] DanielJonesEB commented on #55410
It'd be nice if this worked, I suspect it would help the folks over at Knative Build implement support for passing HTTP_PROXY env vars and CA cert secrets to build steps.

[2018-10-16 15:37] jbernardis opened #69887 "get pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-16 15:38] msau42 commented on #69585
@mcrute this pr is related to the mount pkg work: https://github.com/kubernetes/kubernetes/pull/68513

[2018-10-16 15:46] andrewsykim commented on #69585
FYI @mcrute will be doing vendor updates for `k8s.io/utils`

[2018-10-16 16:01] chrisxaustin commented on #42649
This makes developing within minikube a bit painful if your laptop sleeps overnight.

I have a job that's scheduled to run every 5 minutes to change the state of other pods if their configuration changed, and I don't care if there are any missed jobs, just that it runs roughly on that schedule. Having the job never run again because the laptop was sleeping overnight isn't desirable.

[2018-10-16 16:09] thockin commented on #69880
I will kick this off.
On Tue, Oct 16, 2018 at 7:32 AM Sandeep Rajan <notifications@github.com> wrote:

[2018-10-16 16:17] oskapt commented on #69563
@rossigee I see that you're running Rancher. Is this Rancher 1.6 or 2.0? Have you opened an issue under `rancher/rancher` to get their input?

[2018-10-16 16:18] hoegaarden commented on #69374
@msau42

We had a go on removing the global state [over here](https://github.com/kubernetes/kubernetes/pull/69462/commits/e4be764a1495e3d24e94f94964a8dbbb66947f5b). Two things we are a bit worried about:
- The `CSIPlugin` needs to be exported
- In [kubelet.go](https://github.com/kubernetes/kubernetes/pull/69462/commits/e4be764a1495e3d24e94f94964a8dbbb66947f5b#diff-bf28da68f62a8df6e99e447c4351122dR

[2018-10-16 16:21] chrischdi commented on #68026
I also found a problem fixing `pkg/utils/labels`.
A test fails because the directory is marked as readonly (see tests @ [PR #69761](https://github.com/kubernetes/kubernetes/pull/69761#issuecomment-429618839)

[2018-10-16 16:41] vishal49naik49 commented on #69841
Here are my results for the two commands:

openssl x509 -in /path/to/user/cert -text  | grep "Extended Key Usage" -A 1

            X509v3 Extended Key Usage:
                TLS Web Client Authentication

openssl x509 -in /path/to/kubelet-client-certificate -text  | grep "Extended Key Usage" -A 1

            X509v3 Extended Key Usage:
                TLS Web Server Authentication

Thanks!

[2018-10-16 16:49] liggitt commented on #69841
the kubelet-client-certificate is the issue... it must be a client certificate

/close

[2018-10-16 16:49] #69841 closed

[2018-10-16 16:59] timothysc commented on #69836
/cc @kubernetes/sig-architecture-feature-requests @kubernetes/cncf-conformance-wg
/sig testing
/sig architecture
/kind feature

[2018-10-16 16:59] timothysc commented on #69836
/assign @spiffxp

[2018-10-16 17:04] timothysc commented on #69786
/assign @roberthbailey

[2018-10-16 17:18] benmoss commented on #69374
I think he meant to link to [this commit](https://github.com/pivotal-k8s/kubernetes/commit/4383737cf072266720d97a34d2cab5bdb259bbcd)

[2018-10-16 17:19] mrsrilanka opened #69889 "t"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-10-16 17:22] oomichi commented on #68704
Maybe many people don't run e2e tests on private environments and nobody is interested in.

[2018-10-16 17:22] #68704 closed

[2018-10-16 17:28] rdrgporto commented on #59959
Hi @shivamchandra3,

You have to run **kubeadm**:

`sudo kubeadm init `

Regards :vulcan_salute:

[2018-10-16 17:37] ksemaev commented on #26726
Discusting - all logs except kubelet stayed at /var/log so now I have to have 2 different approaches to get logs from nodes. Maybe you at least give us some possibility to get logs from /var/log from kubelet too?

[2018-10-16 17:48] timothysc commented on #69743
I'm ok with changing the verbosity but the code now lives in the api-machinery land.

[2018-10-16 17:59] rchicoli commented on #45419
I had the same issue which two Kubernetes nodes were flapping between Ready and Not Ready. Believe or not, the solution was to remove an exited docker container and the related pods.

[code]
Afterwards the cluster was stable again, without other intervention.
Furthermore, this was the log message found in syslog:

[code]

[2018-10-16 18:04] justinsb commented on #69889
Looks like this was opened by github keyboard shortcuts being overly helpful... closing :-)

[2018-10-16 18:04] #69889 closed

[2018-10-16 18:05] justinsb commented on #69887
I think this was opened by github keyboard shortcuts and maybe typing in the wrong window?  Closing :-)

[2018-10-16 18:05] #69887 closed

[2018-10-16 18:30] wking commented on #25625
I'm happy to help with anything in this direction.  My extracted, library-ized drain code is now living over in https://github.com/openshift/kubernetes-drain if folks want to use it in the meantime.

[2018-10-16 18:40] jingxu97 commented on #51835
@windoze , if you --force --grace-period=0 option, it means that the pod API object will deleted from API server immediately. Node kubelet is responsible to clean up volume mount and kill containers. If kubelet is not running or has issues during cleaning up the pod, the container might be still running. But Kubelet should keep trying to clean up the pods whenever possible.

[2018-10-16 19:19] fbcbarbosa commented on #25456
Realized I never gave a follow up on my issue above. In the end the problem manifested only when running Istio with the canal CNI. When we switched canal for calico, the problem was gone.

[2018-10-16 19:52] mortent opened #69891 "GKE tests timeout"
Tests are timing out on GKE

Dashboards: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-cos-master-serial
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-master
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster

Sample failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/lo

[2018-10-16 19:59] PatrickLang opened #69892 "Conformance tests should be able to pass for mixed OS clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The Kubernetes components running on Windows (kubelet, kube-proxy) should be testable and pass conformance tests. SIG-Windows is working to fix the last known conformance test bugs for tests that make sense on Windows and get results up on testgrid.

In order to make the right tests pass on Windows nodes, we need to:

-

[2018-10-16 19:59] PatrickLang commented on #69892
/sig windows
cc @lachie83

[2018-10-16 19:59] mikedanese opened #69893 "Update authenticators to handle audience semantics"
Semantics are going to vary. We need to cross of these authenticators:

* [ ] plugin/pkg/auth/authenticator/token/bootstrap/bootstrap.go
* [ ] pkg/serviceaccount/jwt.go
* [ ] staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook.go
* [ ] staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go
* [ ] staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/t

[2018-10-16 20:01] #57518 closed

[2018-10-16 20:20] kkimdev opened #69894 "Inconsistent default ports for `kubectl` and `kubectl --server 127.0.0.1`"
When there is no configuration, kubectl's default port changes depending on --server argument

[code]

[code]

I think just specifying ip with --server shouldn't change the default port.  Or make the port required for --server option

[2018-10-16 20:21] kkimdev commented on #69894
/sig cli

[2018-10-16 20:42] spiffxp commented on #69892
/area conformance

[2018-10-16 20:42] spiffxp commented on #69892
/sig architecture

[2018-10-16 20:57] ixdy opened #69896 "Deprecate hyperkube short aliases"
Hyperkube supports a number of short aliases for commands, such as `apiserver`, `controller-manager`, `proxy`, `scheduler`, etc, rather than the longer `kube-apiserver`, `kube-controller-manager`, `kube-proxy`, `kube-scheduler` etc.

There are comments indicating this is "unfortunate"
https://github.com/kubernetes/kubernetes/blob/ef195428a0c5b16e3f3621b7fe59fa151ca28929/cmd/hyperkube/main.go#L90-L

[2018-10-16 20:57] yujuhong commented on #69786
The node controller doesn't seem to be working at all as it wasn't marking the nodes not ready.

@msau42 suggested that the api group may not have been whitelisted in GKE, so I checked and that seemed to be true. We can whitelist it, but for an alpha feature, it should not be properly gated and not affect production.

We can revert PR #69241 to unblock release, and wait for @wangzhen127 to re-subm

[2018-10-16 20:58] ixdy commented on #69896
interestingly, the `hyperkube --make-symlink` command doesn't create the short aliases, though we also don't really use `hyperkube --make-symlink` anywhere either.

[2018-10-16 21:15] n-rook commented on #33193
/remove-lifecycle rotten

I congratulate this bug on reaching its second birthday 🍾

[2018-10-16 21:30] msau42 commented on #64953
/remove-lifecycle stale

[2018-10-16 21:31] wangzhen127 commented on #69786
Thanks for debugging this! Just got time to take a quick look. Does it mean [creating the lease lister](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L390) should also be put behind the feature gate?

[2018-10-16 21:36] spiffxp commented on #69836
/area conformance

[2018-10-16 21:48] liggitt commented on #69894
--server is parsed as a url, with default port semantics per protocol (http defaults to port 80, https to port 443). We don't merge in parts of the default address (protocol, host, or port)

/close

[2018-10-16 21:48] #69894 closed

[2018-10-16 21:52] liggitt commented on #69851
Deleting a pod waits for the kubelet to terminate the process and remove the pod object. If you don't want to wait for the api object to be removed, you can pass --wait=false

[2018-10-16 21:53] msau42 commented on #69891
The slowest test I see is:
[code]

Although 12 minutes out of a total test timeout of 8 hours is not terrible...

[2018-10-16 21:56] benmoss opened #69901 "Can't start pods in Windows Server 2019"
/kind bug

**What happened**:
Scheduling a container on Windows 2019 results in "Error: failed to start container".

**What you expected to happen**:
Pod should start, ping localhost

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy [this](https://gist.github.com/benmoss/abd68923acaccb2ca10388ff69f9908b) deployment
- Pod should report as failing

**Anything else we need t

[2018-10-16 22:03] msau42 commented on #69891
I think i found the issue.

This test case is stopping kubelet:
[code]

But because of https://github.com/kubernetes/kubernetes/issues/69786, the Node lifecycle controller never updated the node ready status, so the test failed.  However, the test doesn't seem to have gone through it's recovery procedure to restart kubelet.

So all the subsequent tests that have pods scheduled to this node will fa

[2018-10-16 22:06] msau42 commented on #69891
/assign @jingxu97

[2018-10-16 22:18] ddebroy commented on #69901
Since you are trying to run on Windows Server 2019, your base images should point to 2019 as well. In the linked yaml, it shows:

[code]

To get above to run on Windows Server 2019, I think you either need to point the base image to `mcr.microsoft.com/windows/nanoserver:ltsc2019` or specify hyper-v isolation annotation as mentioned in https://kubernetes.io/docs/getting-started-guides/windows/#hype

[2018-10-16 22:37] ukd1 commented on #50375
Would love this! Would a PR be accepted based on @Nodraak's suggestion?

[2018-10-16 22:39] aksgithub commented on #47733
I am testing StatefulSet with AWS provider enabled and hitting this issue.

[2018-10-16 23:10] saad-ali commented on #68688
Considering Kubernetes v1.12 is already out, and we planned to deprecate the old call in CSI 1.0/Kubernetes 1.13 anyway, we'll pull of the bandaid and deprecate it now.

If you are running Kubernetes 1.13, make sure your CSI driver implements the [`NodeGetInfo` call](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetinfo).

[2018-10-16 23:10] #68688 closed

[2018-10-16 23:10] saad-ali commented on #68688
@wnxn looks like you might be running in to a different issue: Kubernetes v1.13 also enables Kubelet device plugin registration by default. Before upgrading to v1.13, ensure the `driver-registrar` CSI sidecar container for your CSI driver is configured to handle plugin registration (set the `--kubelet-registration-path` parameter on `driver-registrar` to expose a new unix domain socket to handle K

[2018-10-16 23:40] hoegaarden commented on #69374
Thanks, Ben. I updated the links in the [comment above](https://github.com/kubernetes/kubernetes/issues/69374#issuecomment-430301632).

[2018-10-16 23:42] PatrickLang commented on #69901
/assign @feiskyer

[2018-10-16 23:45] janetkuo commented on #65010
Closing as this is expected behavior because the Jobs never `Failed` (its Pods terminated with error doesn't mean the Jobs has `Failed`), see https://github.com/kubernetes/kubernetes/issues/65010#issuecomment-428685223.

[2018-10-16 23:45] #65010 closed

[2018-10-16 23:55] adamdecaf commented on #60724
Totally forgot about this. I never got the commit hooks and setup working.

Is the current description, so I can try to get setup and issue a PR.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#endpointaddress-v1-core

[2018-10-17 00:23] PatrickLang opened #69904 "Add volume test cases for Windows"
We need test cases for Windows volume mapping permissions (read-only / read-write) instead of Linux permissions. They should only run with the ginkgo focus `--node-os-distro=windows` set.

The test cases needed are:
1. Create a pod with a host mapped volume mapped read-only. Files should be able to be read, but not written
2. Same test case with emptydir
3. Create a pod with one host volume but di

[2018-10-17 00:29] PatrickLang opened #69905 "Add WindowsContainerSecurityContext.run_as_username node test cases for Windows"
We need test cases that cover running as Windows users in containers. Windows uses a different field WindowsContainerSecurityContext.run_as_username (https://github.com/kubernetes/kubernetes/pull/64009)
 They should only run with the ginkgo focus `--node-os-distro=windows` set.

This will replace the similar test cases on Linux:

[code]

/kind test
/sig windows

[2018-10-17 00:51] feiskyer commented on #69901
1809 is actually the same with ltsc2019, but both of them are not available temporarily. They will be pushed again when Windows Server 2019 starts its new rollout.

[2018-10-17 01:08] spiffxp commented on #54297
/milestone v1.13

[2018-10-17 01:12] WanLinghao commented on #69804
@clickyotomy never mind

[2018-10-17 01:32] frankbacn commented on #69844
This is my kube-dns YAML config file:
`---
apiVersion: v1
kind: Service
metadata:
  name: kube-dns
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "KubeDNS"
spec:
  selector:
    k8s-app: kube-dns
  clusterIP: 10.254.0.10
  ports:
  - name: dns
    port: 53
    protocol: UDP

[2018-10-17 01:39] ddebroy commented on #69901
My bad .. I misread 1809 as 1803. Please ignore the suggestion for hyper-v isolation above.

[2018-10-17 01:51] gnufied commented on #19969
btw - why do we only measure value lengths when measuring total size? I know serialized size still could be different but at very minimum we should be summing up both key and values whenever applicable? cc @pmorie

[2018-10-17 02:04] rossigee commented on #69563
@oskapt - issue already copied across to `rancher/rancher` (linked above)...

https://github.com/rancher/rancher/issues/16052

I think you're probably right. From what we've been able to gather so far, this smells very much like something related to Rancher2 that's not doing what it should related to ingress/service provisioning. So far, I haven't been able to reproduce it on minikube, or on a str

[2018-10-17 02:04] #69563 closed

[2018-10-17 02:07] MarcPow commented on #69165
Closing out as non-actionable.
1) There have been so many fixes here in newer versions of the CNI that it's not worth tracking this here.
2) Any issues at this layer should be tracked against the relevant CNI, not this project.

[2018-10-17 02:07] #69165 closed

[2018-10-17 02:11] MarcPow commented on #69740
Closing out as non-actionable.

This is likely an issue in Docker EE 17.06.2.   I'll try upgrading before re-opening.

[2018-10-17 02:11] #69740 closed

[2018-10-17 02:23] slecrenski opened #69909 "LDAP User Accounts, UID Mappings and automatically run certain deployments as the uid of user who created the deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There does not seem to be a mechanism besides maybe using OIDC to do User Authentication.  Which honestly I have yet to try out.  Service Accounts seem to be the main way to do security.

**What you expected to happen**:

I would like to allow users to login to the kubectl with say "kubectl login userid" and run kube

[2018-10-17 02:30] msau42 opened #69911 "Add more projected volume e2e test cases"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig-storage-feature-requests

**What happened**:
While refactoring the e2e tests as part of https://github.com/kubernetes/kubernetes/pull/68910#discussion_r223863346 , there were a few more test cases identified that can be added for projected volumes:
* non-optional for secrets
* non-optional should fail for secrets when key doesn't exist

[2018-10-17 02:30] msau42 commented on #69911
@spiffxp would you be able to help find someone to work on this?

[2018-10-17 03:01] D-PENG commented on #69510
@brancz
k8s v1.12.0/v1.12.1
coredns v1.2.2
metrics-server v0.3.1
addon-resizer v1.8.3

[root@kube-master]# kubectl get --raw "/apis/metrics.k8s.io/v1beta1" | jq .

  "kind": "APIResourceList",
  "apiVersion": "v1",
  "groupVersion": "metrics.k8s.io/v1beta1",
  "resources": [
    {
      "name": "nodes",
      "singularName": "",
      "namespaced": false,
      "kind": "NodeMetrics",
      "verbs"

[2018-10-17 03:04] chinglinwen commented on #69851
Thanks, it's good to know.

[2018-10-17 03:18] Jarch09 opened #69915 "Etcd-server-events memory leak?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
**BUG REPORT**

/kind bug
/sig area/etcd

**What happened**:
I recently built a HA kube cluster using KOPS on AWS and seem to be having a memory leak. The working set & memory usage for the `etcd-server-events` pods have been increasing linearly since the cluster was created.

**What you expected to happen**:
Not to have a memory leak.

**How to reprod

[2018-10-17 04:04] knightXun opened #69917 "schedule pod by sysctl configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
maybe /kind bug
/sig scheduling
/sig node

**What happened**:
sysctl withelist and blanklist is not appear in Node Information.
**What you expected to happen**:
sysctl withelist and blacklist should appear in Node Information.
**How to reproduce it (as minimally and precisely as possible)**:
anytime.

**Anything else we need to know?**:
@

[2018-10-17 04:06] knightXun commented on #69917
/sig node

[2018-10-17 04:10] knightXun commented on #69917
we want present nodes sysctl information for scheduler, so that we can schedule pod to proper nodes as early as we can.We should just let node to judge the pod can run on this node.This will definitely increase scheduler cost.

[2018-10-17 04:52] warmchang commented on #68050
@admoriarty That's why @houjun41544 submitted this issure, and the [PR #68814](https://github.com/kubernetes/kubernetes/pull/68814) try to solve it.

[2018-10-17 05:01] helloworlde commented on #50295
I tried by this solution on Ubuntu 18.04, but it still not work. At last I found it caused by Swap! So I fixed by disable swap like this:
[code]

[2018-10-17 06:07] anandsinghkunwar commented on #56523
What about `/metrics/cadvisor` endpoint in kubelet, is that going away as well, since cAdvisor is to be replaced by CRI metrics?

[2018-10-17 06:19] wojtek-t commented on #69786
I think reverting is a good option to unblock stuff.

@wangzhen127 - creating listed may not be necessary, but setting HasSynced is (so if we have to put it after feature gate, we should put both).

[2018-10-17 06:35] tossmilestone commented on #68962
@misterikkit Got it, thanks!

[2018-10-17 06:46] hugochinchilla commented on #66961
I've found that kubelet is running with `/var/lib/kubelet` as root dir, I think it should be using `/var/vcap/data/kubelet` instead.

[2018-10-17 06:50] narendraj9 commented on #18226
Does the HTTPS scheme verify server signature? If so, how does one provide trusted CA bundle to the probe executor?

[2018-10-17 07:19] tsuna commented on #54189
How come with kops 1.10.0 I still see all kube-dns pods on the same node because the kube-dns deployment doesn't specify any anti-affinity rule?

[2018-10-17 08:07] wgliang commented on #66366
/close

[2018-10-17 08:07] #66366 closed

[2018-10-17 08:12] filipre commented on #65797
This issue shouldn't go stale before receiving at least some feedback.
/remove-lifecycle stale

[2018-10-17 08:12] 185866519 opened #69923 "sign in pod automatically quit"
kubectl --request-timeout=10m  exec -it XXX    bash --namespace=dev-name

Sign in pod,it happen tomatically quit.

[2018-10-17 08:13] venkataratnamteki opened #69924 "MemoryReservation is not being honoured"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Specifying "Memory reservation" limit to kubernetes yaml is not being honoured.

**What you expected to happen**:
Memory reservation resource constraint should be honoured.

**How to reproduce it (as minimally and precisely as possible)**:
Have the replicaset yml file like below:

[code]

And, run the below command to see

[2018-10-17 08:18] Pingan2017 commented on #69248
it seems  fixed in master
[code]

[2018-10-17 08:19] ngocson2vn commented on #63900
Same issue,
I also had to redeploy the `coredns` deployment:
[code]

[code]

[code]

[2018-10-17 08:20] knightXun commented on #69917
currently kubernetes users may taint node and pod to schedule pod which need sysctl priviledge.I think it is not a good way. Because:
1. we may change kubelet sysctl configuration but forget to change node's taint tag
2. we may change pods sysctl configuration but the pods will still exist on the improper nodes.We should evict these pods.

[2018-10-17 08:51] styk-tv commented on #60134
[code]

[2018-10-17 08:54] Pingan2017 opened #69925 "when the sandbox's IP lost, k8s cannot perceive this."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug ?
/sig node

**What happened**:
in my cluster, the sandbox lost it's ip (eth0), but if you check the pod's status , using `kubectl get pod -o wide` , you can see the ip exist.

[code]

**What you expected to happen**:
when ip lost  , kubelet can recreate sandbox
**How to reproduce it (as minimally and precisely as possible)**:
1.create  a dep

[2018-10-17 09:00] Pingan2017 commented on #69925
cc @yujuhong  @derekwaynecarr @vishh

[2018-10-17 09:02] ningning54321 commented on #67457
Hit same issue in my lab.
Is there solution or workaround for this issue?
"Calling exec interactively" seems works fine.

[2018-10-17 09:06] verb commented on #10834
@kfox1111 I think this will be solved by debug containers, but if you disagree let me know and I'll unassign.

[2018-10-17 09:08] verb commented on #53189
Note that this is no longer an issue with the new design so this issue can remain closed.

[2018-10-17 09:08] Pingan2017 commented on #69925
cc @kubernetes/sig-node-bug

[2018-10-17 09:10] warmchang commented on #69925
ref: https://github.com/kubernetes/kubernetes/issues/48585 , https://github.com/kubernetes/kubernetes/issues/69723

[2018-10-17 09:11] warmchang commented on #69925
cc @xiangpengzhao Have an idea?

[2018-10-17 09:13] Pingan2017 commented on #69925
cc @kubernetes/sig-node-bugs

[2018-10-17 09:28] venkataratnamteki commented on #69924
/sig Scheduling

[2018-10-17 09:30] knightXun commented on #69925
for: #48585, I think kubelet should detect sandbox container restart.So this is may some part of docker problem. Maybe cadvisor can detect container restart by docker events. At this time both of docker and cadvisor have nothing to do this problem.

[2018-10-17 09:36] jimmy-zh opened #69926 "Scheduler fails to schedule pods due to "Insufficient CPU" while nodes have enough resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We create and delete  a large number of pods in our k8s cluster every day. Every time after a few hours, some new pods stay in `Pending` state and can't be created correctly. Describing these pods shows `FailedScheduling` due to `Insufficient cpu`, while describing nodes shows that there are still enough computing resource

[2018-10-17 09:37] ningning54321 commented on #67457
found a workaround: add request timeout, not sure if it is a proper solution.
[code]

[2018-10-17 09:41] jimmy-zh commented on #69926
/sig scheduling

[2018-10-17 09:54] Armax commented on #44540
Same problem here, using kubernetes 1.11 on digitalocean

[2018-10-17 10:09] soltysh commented on #69248
/close

[2018-10-17 10:09] #69248 closed

[2018-10-17 10:33] miry commented on #55854
@m1093782566  I have similar problem for kubernetes v1.11.3 Do you know what the best way to debug it?

My situation:

On one node I see the service and pod interfaces:

[code]

and in same time I don't get it from another node neither service or pod.

[code]

How can I debug the issue?

[2018-10-17 12:18] discordianfish commented on #14040
I use `replace` instead of `apply` when updating large configmaps to get around the annotation size limitation, so in this case a replace-or-create would be still useful..

[2018-10-17 12:23] bertinatto opened #69928 "Pod scheduled in node without considering PV requirements"
**What happened**:

1. Started a single-node Kubernetes cluster with the `CSINodeInfo` feature gate disabled (default)
2. Tried to create a pod that uses a claim that uses a storage class with `volumeBindingMode: WaitForFirstConsumer`
3. Got this message (`kubectl describe pod/mypod`):

[code]

The `MountVolume.NodeAffinity` check failed because of a missing label in the node (i.e., `com.amazon.aw

[2018-10-17 12:34] shubheksha commented on #69928
/sig storage

[2018-10-17 12:46] antoineco commented on #69262
k8s 1.10.4, Azure (deployed via ACS-engine)

This is hitting us quite hard.

---

`kubelet` logs:
[code]

---

`kube-controller-manager` logs:

[code]

The last Attach operation reports success, yet we enter the same error loop over and over again.

[2018-10-17 12:55] andyzhangx commented on #69262
@antoineco thanks for reporting, I am fixing this issue, code should be ready in this week.

[2018-10-17 13:00] jsafrane commented on #69928
I have some suspicion what happened:

* Scheduler found a node and asked provisioner to create a PV accessible from the node.
* Because of #69869, the provisioner created a PV with node affinity.
* Scheduler did not check that the created PV is rally accessible from the and scheduled the pod.
* Kubelet got the pod and complained that it can't run the pod.

IMO, scheduler could double-check that th

[2018-10-17 13:01] wgliang commented on #69926
FROM
https://github.com/kubernetes/kubernetes/issues/33777#issuecomment-426487268

[2018-10-17 13:35] misterikkit commented on #54189
I think you are correct. you can double-check with the `-o yaml` option to `kubectl get pods`. I have a v1.9 cluster in front of me, and kube-dns has no affinity rules. (I didn't use kops though)

[2018-10-17 14:11] denis111 commented on #39792
+1 Besides of valid certificates issues this would be useful to avoid any external traffic between services for traffic speed and saving on external traffic. I think services should support some cluster-level dns aliases for that without need to edit any CoreDNS...

[2018-10-17 14:36] spiffxp commented on #69376
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=integration#3e7dba9374ac0dbc9c11 @kow3ns so flakes are definitely down now that we're working around this (thanks @mortent!), but do we have an issue for the "proper" fix @lavalamp proposed?

[2018-10-17 14:38] cedricroijakkers commented on #69503
I understand that the feature Node-specific Volume Limits has now reached beta in 1.12, but for those of us running Kubernetes on-premises, this log error is pretty useless. In fact, I would even want to disable this plugin alltogether, since it will never be used on-prem. Is there a way to stop the plugin from loading, or in the very least make sure the log does not appear? Right now, it is pollu

[2018-10-17 14:44] msau42 commented on #69928
It could rerun the logic that validates node affinity and fail the bind phase.  But it won't be able to undo/revert. The pod will just stay pending forever.

I guess that is preferable to deleting the PV and retry provisioning forever.

But is there much of a difference between pod pending forever in scheduler or kubelet?

[2018-10-17 14:45] vladikr opened #69932 "cpumanager: Mixing workloads with pinned and non-pinned CPUs lead to unexpected results."
/kind bug

**What happened**:

I wanted to point out some issues that I've encountered with the cpu-manager.

When starting a pod with pinned CPUs, makes the cpu-manager to pin it's container to specific CPUs.

`/sys/fs/cgroup/cpuset/cpuset.cpus: 1,2`

However, if one starts another pod with a non-pinned CPUs, the cpu-manager doesn't exclude the already assigned CPU and lets the pod run on __all__

[2018-10-17 14:51] navi86 commented on #69483
_what command or manifest did you use to grant permission to list namespaces?_
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: view-list-namespaces
rules:
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["get", "list", "watch"]

_role for AD user to access namespace:_
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
#  namespace: mynamespace
  name:

[2018-10-17 14:56] liggitt commented on #69483
sorry, just read the description in more detail. this is working as intended. logging into the dashboard lets you access the API with your own permissions, not get the dashboard service account's permissions.

/close

[2018-10-17 14:56] #69483 closed

[2018-10-17 14:58] jsafrane commented on #69928
I'd prefer if the pod is Pending forever and not scheduled. With appropriate event. Now scheduler schedules something that it should not and that looks odd.

[2018-10-17 15:00] kiefersmith commented on #47862
Would be nice to have this!

[2018-10-17 15:16] wangzhen127 commented on #69786
Is there any guideline on how to revert my original PR #69241? I haven't done it before. Just revert in my fork and submit a new PR?

I also just put up a fix PR #69933. I am fine with either submitting the fix PR or revert my original PR first.

[2018-10-17 15:27] yaseenhamdulay commented on #69771
Hi, I'd like to pick this up. Could I do that?

[2018-10-17 15:32] jberkus commented on #60463
Hey, this test does not appear to be flaking anymore can we close this issue?

[2018-10-17 15:35] jberkus commented on #58696
As far as I can tell, this test doesn't even exist anymore and the umbrella issue was closed.

So, closing

/close

[2018-10-17 15:35] #58696 closed

[2018-10-17 15:38] jberkus commented on #56138
Is this e2e test still broken?

[2018-10-17 15:43] jimethn commented on #8876
/remove-lifecycle stale

[2018-10-17 15:47] liggitt commented on #69923
make sure your --namespace arg comes before the command passed to exec or it will get sent to the pod as part of the command

beyond that, there's not a lot of information provided here. can you provide pod logs, or info about the pod, or trace output of the exec command (add --v=9, remove any credentials from trace output)?

[2018-10-17 15:51] spiffxp commented on #69911
Sure, these look like they can flesh out conformance coverage for us

/area conformance
/assign @mgdevstack

FYI @pontiyaraja

[2018-10-17 15:53] splnanthakumar opened #69934 "Environment variable is not getting inside container code"
i have deployment.yaml file which as below

[code]

i have deployed this (kubectl apply -f deployment.yaml). and i am using circus to manage process.
after entering into the container i am able to see the env variable .

[code]

inside container i have python web application . i have tried to get the same environmental variable but it is not getting.

`app_context = os.environ.get('APP_CONTEXT')`

[2018-10-17 16:13] RenaudWasTaken commented on #64637
I believe this was fixed by kubernetes/pull/64621

[2018-10-17 16:57] dashpole commented on #56523
@anandsinghkunwar
That isn't covered by this issue, but probably falls under https://github.com/kubernetes/kubernetes/issues/68522.  That isn't happening for at least another couple releases, but probably longer.

[2018-10-17 16:59] yliaog commented on #53777
@nikhita given that the dynamic informers, listers have been added, what k8s release should the 'crd object count resourcequota' target at?

[2018-10-17 16:59] fedebongio commented on #69815
PR is merged, test looks good.

[2018-10-17 17:05] MrHohn commented on #56138
@jberkus Sorry for the confusion here. Currently this e2e test is disabled on extra large cluster due to some scalability issues with the load balancer related components. At the moment the issues haven't been completely resolved yet.

[2018-10-17 17:08] Sieabah commented on #23404
So I bashed my head against this for a few minutes trying to figure out how I'm introducing a newline. Here is a way to always ensure the newlines are stripped before piping to base64.

`echo "$SOMETHING_SECRET" | tr -d \\n | base64`

Obviously you can replace echo with cat or whatever process you want to retrieve the secret.

[2018-10-17 17:28] hd-deman commented on #64002
same problem with istio 1.0.2

[2018-10-17 17:28] thockin commented on #69880
Promoter will run shortly

[2018-10-17 17:28] #69880 closed

[2018-10-17 17:59] PatrickLang opened #69938 "enforce-node-allocatable=kube-reserved/system-reserved don't work on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After running some tests, we're seeing that the combined usage of kubelet + docker can be around 2Gi. We need to be able to account for this in scheduling to avoid crashing these services. The first step towards this is using kube-reserved and system-reserved to avoid oversubscribing the virtual memory space available on

[2018-10-17 18:12] saad-ali commented on #65246
We should find the root cause and fix for 1.13

[2018-10-17 18:14] saad-ali commented on #65246
/assign @pohly
Patrick can you PTAL at what is causing flakiness in this test.

[2018-10-17 18:20] dims commented on #69880
Dang! problem with 1.2.3 version, details:
- https://github.com/kubernetes/kubernetes/pull/69883#issuecomment-430730416
- https://github.com/coredns/coredns/issues/2204

[2018-10-17 18:27] fturib commented on #69880
Yes, unfortunately, we will have to fix, re-validate and release another version of CoreDNS.
(and extend our CI as this issue went through it)

For the [coreDNS 1.2.3 image in gcr.io](gcr.io/google-containers/coredns@sha256:12f3cab301c826978fac736fd40aca21ac023102fd7f4aa6b4341ae9ba89e90e), I am not sure what is usual behavior.
Is it safer to delete it ? (sorry about that)

[2018-10-17 18:32] thockin commented on #69880
How can we get moe confidence in releases in staging before being promoted?

On Wed, Oct 17, 2018, 11:29 AM Francois Tur <notifications@github.com wrote:

[2018-10-17 18:36] chrisohaver commented on #69880
We are adding tests to the CoreDNS CI for this case.

[2018-10-17 18:42] chrisohaver commented on #69880
Actually, we could run coredns build candidates through the K8s e2e test infra, in a test PR that points to docker-hub coredns build.  We should start doing this _before_ pushing the build to staging.

Will do that before requesting push of next build.

[2018-10-17 18:56] #65493 closed

[2018-10-17 19:07] AishSundar commented on #69880
do we need to do anything to undo the buggy image that was pushed? @fturib and @chrisohaver should we expect any blip in the CI signal?

[2018-10-17 19:12] christensen143 commented on #53059
This happening to me on AWS as well. I have a pod right now that has been stuck in "ContainerCreating" for 15 minutes. Any ideas what to do?

[2018-10-17 19:14] christensen143 commented on #53059
`Warning  FailedMount            7s (x7 over 13m)  kubelet, ip-x-x-x-x.x-x-x.compute.internal  Unable to mount volumes for pod "gitlab02-runner-678ffc74f4-m2w8m_build(7a473b7f-d23e-11e8-8cfe-0688ae24c2fe)": timeout expired waiting for volumes to attach/mount for pod "build"/"gitlab02-runner-678ffc74f4-m2w8m". list of unattached/unmounted volumes=[data-volume]`

[2018-10-17 19:33] rdzimmer commented on #43916
I wanted to add my observations with respect to containers and caching and confirm they are correct and what is intended.
I'm running Cassandra in a docker `18.03.1-ce` container, 8GB Xmx, so  around 10GB JVM RSS usage.  I'm running on a 20GB VM.  If I set the kubernetes limit for the pod to 12GB, the system wide (file) cached usage never gets above 2GB.  However, if I set the kubernetes limit to

[2018-10-17 19:49] kevincox commented on #66393
/remove-lifecycle stale

[2018-10-17 19:54] dims commented on #69892
/sig node
/sig storage

[2018-10-17 21:00] Sieabah commented on #23404
Didn't realize echo added an arbitrary newline.

[2018-10-17 21:02] wangzhen127 commented on #69786
/reopen
/assign @wangzhen127
I will manually close this after verifying the bots.

[2018-10-17 21:13] chrisohaver commented on #69880
@AishSundar, Nothing in the tests uses the new image yet.  So I don't think tests would be affected.

[2018-10-17 21:33] #64071 closed

[2018-10-17 22:12] gnufied opened #69945 "Robust handling of more than 3600 nodes in uuid cache for vSphere"
Currently when number of VMs goes higher than 3600 then - we run into limits of how many nodes cacn be cached in configmap. We should try and make that handling more robust.

/sig vmware

[2018-10-17 22:17] thockin commented on #69445
@kow3ns Are you saying that the issue is that default value is not the same as the Go "zero value" ?

The concept of zero value is interesting but it forces APIs to bend into unnatural shapes to respect it.  Since forever Kubernetes has explicitly said that we have version-specific default values which ARE NOT governed by zero values, but instead are governed by the API version.  It is safe to ass

[2018-10-17 22:54] dims commented on #30603
@wu105 - `somehow has to pass the information to docker` ... do you see support in Docker public API to do this sort of stuff?

[2018-10-17 22:55] dims commented on #30603
long-term-issue (note to self)

[2018-10-17 22:59] fedebongio commented on #58682
/cc

[2018-10-17 23:01] AishSundar commented on #69891
@jingxu97 any update on this issue?

[2018-10-17 23:02] AishSundar commented on #69786
This is passing in the latest test run. Thanks @wangzhen127 for the quick turnaround

[2018-10-17 23:06] AishSundar commented on #69891
@wangzhen127 @msau42 now that https://github.com/kubernetes/kubernetes/issues/69786 is fixed, will this help this timeout as well?

[2018-10-17 23:10] msau42 commented on #69891
Yes, #69786 will not trigger the condition that is causing this test to fail and not properly cleanup.

https://github.com/kubernetes/kubernetes/pull/69944 is fixing the test cleanup

[2018-10-17 23:12] wangzhen127 commented on #69786
Nice! Closing this now.
/close

[2018-10-17 23:12] #69786 closed

[2018-10-17 23:42] wgliang commented on #69771
Of course, thank you very much! Any questions, please comment here, we will help you.

[2018-10-18 01:02] davidhao3300 opened #69953 "Incompatibility between AppArmor and PodSecurityPolicy in MutatingWebhookAdmission"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report
/kind bug

**What happened**:
PodSecurityPolicy is enabled, and allows everything, but has the `apparmor.security.beta.kubernetes.io/allowedProfileNames` and `apparmor.security.beta.kubernetes.io/defaultProfileName` annotations set.
Installed the Istio sidecar injector, and the injector attempts to inject a sidecar container. The error:
`rep

[2018-10-18 01:07] kow3ns commented on #69445
So the underlying issue is that we are defaulting into the PodSpec [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/defaults.go#L185) which gets adopted into all of the PodTemplateSpecs of every object. That sort of defaults the users declared intent.

Why not just default the value into the Pod itself [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis

[2018-10-18 01:08] davidhao3300 commented on #69953
Based on the OWNERS files in pkg/admission/security and pkg/security/podsecuritypolicy , I think this is for @kubernetes/sig-api-machinery-bugs and @kubernetes/sig-auth-bugs

[2018-10-18 01:11] bitglue commented on #43916
Kubernetes resource limits are implemented with cgroups. It is intended for cgroups to limit all RAM, including cache. If you want to use available RAM as cache, you must set a bigger limit, or no limit.

Ostensibly, if Cassandra could run fine on 10 GB but it could be faster with up to 100 GB if it happened to be available, then you could set the RAM request to 10 GB and the limit to 100 GB.

The

[2018-10-18 01:13] turchanov commented on #69503
I second that. That was the key message of my bug report. That is we must not even instantiate cloud-specific plugins if no cloud provider is configured.

[2018-10-18 01:36] liggitt commented on #69953
anything modifying pods via a mutating admission webhook must produce a pod that the validation phase of admission will accept as-is. this sounds like a similar ordering issue as described in https://github.com/kubernetes/kubernetes/issues/64333

One possibile scenario:
* there are multiple PSPs your pod could be admitted under
* one of the PSPs does not specify a default/allowed apparmor profile,

[2018-10-18 01:37] #64070 closed

[2018-10-18 02:00] wgliang commented on #69771
@yaseenhamdulay
NOTE: This may be a long-term job, you can write a part and submit it, so we can help you modify it at the same time. In other words, you do not need to complete before submitting your PR.

[2018-10-18 02:08] liggitt commented on #69467
can you also provide the patch you are returning from your webhook?

[2018-10-18 02:13] liggitt commented on #48408
tracked in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/svcacct-token-volume-source.md and https://github.com/kubernetes/features/issues/542

/close

[2018-10-18 02:33] #48408 closed

[2018-10-18 02:55] AishSundar commented on #69445
/milestone v1.13

[2018-10-18 03:06] windoze commented on #51835
So that still means the deletion could take forever because kubelet could be malfunctioning?
Is there any way to make sure the pod is deleted?
I'm asking the question because I've some huge pods running in the cluster and there is no enough memory on every node to run 2 instances of them.
If the deletion failed the node becomes unusable, and if this issue happening multiple times, the service will

[2018-10-18 03:22] 420691301 opened #69957 "the unit of rate which passed to bandwidth cni plugin are not bps"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

According to the [code](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/network/cni/cni.go#L379)，the units of rate parameter which passed to bandwidth cni are Kbps，not bps , but bandwidth cni plugin need rate parameter in [bps](https://github.com/containernetworking/plugins/blob/master/plugin

[2018-10-18 03:34] davidhao3300 commented on #69953
Yeah, I saw the other issues caused by the fix ordering introduced by the 1.9->1.10 upgrade (we were on 1.9 before, and this was working then).

The information requested:
We only bind one PodSecurityPolicy to `system:serviceaccounts`. The contents of the PodSecurityPolicy is as follows:
[code]
I've made sure that the error was from the apparmor annotation only - relaxing/removing the other restri

[2018-10-18 03:35] wu105 commented on #30603
@dims Is "support in Docker public API" a kubernetes feature?  At this moment, I am looking for how to configure kuibernetes nodes (statically) so that they will  verify docker images when starting containers.

[2018-10-18 03:36] davidhao3300 commented on #69953
this is a shortened version of the original pod that's created if i remove the AppArmor annotations:
[code]

[2018-10-18 04:05] prudhvigodithi commented on #23211
Hey so automated rollbacks through kubernetes is done currently with only "undo" command with kubectl.
1) Is there is way kubernetes identifies the failed deployment and rollbacks automatically to previous running deployment by itself rather than passing the command kubectl rollout undo deploy/<deploy-name>

2) Also with the command  "kubectl patch deployment/nginx-deployment -p '{"spec":{"progres

[2018-10-18 04:08] prudhvigodithi commented on #49637
Hey so automated rollbacks through kubernetes is done currently with only "undo" command with kubectl.

Is there is way kubernetes identifies the failed deployment and rollbacks automatically to previous running deployment by itself rather than passing the command kubectl rollout undo deploy/

Also with the command "kubectl patch deployment/nginx-deployment -p '{"spec":{"progressDeadlineSeconds":1

[2018-10-18 04:15] AishSundar commented on #63622
/reopen

I would like to see the test pass with the https://github.com/kubernetes/kubernetes/pull/68300 fix before closing this issue out. thanks

[2018-10-18 04:28] jmikon7 commented on #47862
We're really need this feature.

[2018-10-18 04:31] liggitt commented on #69953
@tallclair do you know of plans to graduate apparmor support to fields, and whether a pod-wide default was considered?

[2018-10-18 04:54] Yaxian commented on #56148
hello,
I record a resolution to [run minikube](https://github.com/Yaxian/run-minikube) for macOS, you can try it for free.

[2018-10-18 05:37] vsxen commented on #69934
I don't find any problem.
[code]

[2018-10-18 05:40] fedebongio commented on #63622
Hi @AishSundar, please notice the test was renamed to: [sig-api-machinery] Aggregator Should be able to support the 1.10 Sample API Server using the current Aggregator, and has been passing since merged?
https://k8s-testgrid.appspot.com/sig-api-machinery-gce-gke#gce

[2018-10-18 05:42] jberkus commented on #60097
@shyamjvs @nikopen is this test still flaky?  Is there any plan to de-flake it?

[2018-10-18 05:44] jberkus commented on #59838
Assigning appropriate priority based on description

@roycaihw have you made any progress on this issue?

/priority important-longterm

[2018-10-18 05:53] splnanthakumar commented on #69934
i think you have tried like simple python console.
[code]

this is working fine in my case too. i have written a web application . i started web application using circus configurations.

while running web app. i have accessed environment variable at runtime inside web app. at that time it is giving as none.

webapp structure:
  app
      - view
      - frontend
      - controller
      - webapp_si

[2018-10-18 06:02] Fak3 commented on #7203
any progress on this?

[2018-10-18 06:12] wojtek-t commented on #60097
Yes - it still happens. Yes - there is plan to deflake it this quarter.

[2018-10-18 06:14] huaixichen opened #69961 "container is exited with code '137' (kill -9) when node label is changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug ?
/sig node

**What happened**:
1. create a pod (say podA) with node selector 'status=online'
2. podA is scheudled to nodeA which has label status=online
3. update nodeA's label with status=offline
4. restart kubelet on nodeA

podA is terminated with "kill -9".

**What you expected to happen**:

pod should be terminated gracefully, with the p

[2018-10-18 06:24] kwkimg3100 opened #69962 "I can't get a shell using ssh from localhost to Pod"
**Environment**:
- Kubernetes version (use `kubectl version`): v1.12.1
- OS (e.g. from /etc/os-release): centos 7
- Kernel (e.g. `uname -a`): 3.10.0-862.14.4.el7.x86_64
- Install tools: yum

I made hadoop image based on centos7 using dockerfile. And I need to configure cluster now using `ssh-copy-id`.
But an error has occured.

`[root@master object]# kubectl get pods -o wide`
<pre>NAME

[2018-10-18 06:31] frankbacn commented on #69844
I solved my problem by reading the source code of `dns/cmd/kube-dns/app/server.go`.

There is a common:
`func newKubeClient(dnsConfig *options.KubeDNSConfig) (kubernetes.Interface, error) {
	var config *rest.Config
	var err error

	**// If both kubeconfig and master URL are empty, use service account**
	if dnsConfig.KubeConfigFile == "" && dnsConfig.KubeMasterURL == "" {
		config, err = rest.InClu

[2018-10-18 06:38] aga20 opened #69963 "Kuberneter v1.12.1 can't mount glusterfs volume with older gluster client"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We try to integrate v1.12.1. When we try to use glusterfs volume the kubelet can't able to mount it.
Gluster client version:  glusterfs 3.10.12

I tried to investigate the problem and I think the problem is next:
[Here](https://github.com/kubernetes/kubernetes/blob/release-1.12/pkg/volume/glusterfs/glusterfs.go#L365) you

[2018-10-18 06:38] aga20 commented on #69963
/sig storage

[2018-10-18 06:39] davidhao3300 commented on #69953
Agreed, making the Istio sidecar injector support custom annotations is an option, but I think this is something that should be addressed eventually.
And yeah, we wanted to make the controllers use those PSPs on purpose.

[2018-10-18 07:11] humblec commented on #69963
@aga20 Can you update your client, I mean can you update glusterfs-fuse and client packages to available latest version ?

[2018-10-18 07:12] humblec commented on #69963
/assign @humblec

[2018-10-18 07:56] tsmetana commented on #69699
@jsafrane yes... I've tried to propose something similar in the past but it was turned down since it was not a complete solution (SELinux...).

I have only vague knowledge of CRI, but quickly scanning the API shows some SELinux boolean in the Mount message: https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/kubelet/api/v1alpha1/runtime/api.proto#L139

I will try to find out how is this

[2018-10-18 08:41] aga20 commented on #69963
@humblec thank you! I tried out with 3.12.15 and as I see it can work in our system. I close the issue but just note: I can upgrade but if someone can't maybe this issue will be important.
Thank you!

[2018-10-18 08:41] #69963 closed

[2018-10-18 09:32] neolit123 commented on #69962
this is a tracker for bug and feature requests.
please try on stackoverflow, slack or our support channels.
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/#help-my-question-isn-t-covered-i-need-help-now

thanks.
/triage support
/close

[2018-10-18 09:32] #69962 closed

[2018-10-18 09:32] DylanBLE opened #69967 "Pods owned by Statefulset keep circling among Pending, Creating and Terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods owned by Statefulset keep Creating and Terminating repeatedly.
Take pod **apacheds-master-wngmw-0** for example,
[code]

Related controller-manager logs shows:
[code]
Related apiserver log shows:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Uncertain.

**

[2018-10-18 09:34] neolit123 commented on #69934
better try something like stackoverflow:
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/#help-my-question-isn-t-covered-i-need-help-now

this tracker is for bugs and features.
if this is a confirmed bug, please re-open.

/sig cli
/triage support
/close

[2018-10-18 09:34] #69934 closed

[2018-10-18 09:34] DylanBLE commented on #69967
/sig api-machinery
/sig scalability

[2018-10-18 09:35] neolit123 commented on #69915
/sig api-machinery

[2018-10-18 09:36] neolit123 commented on #69909
/sig auth

[2018-10-18 09:40] mrIncompetent commented on #69364
We're running into this problem as well. This happened so far across multiple pods (not specific to a application).
We use the same versions as above, though we have normal instances and network policies enabled.

[2018-10-18 09:45] #64037 closed

[2018-10-18 09:54] dims commented on #30603
@unullmass which of these steps was a code change in the kubernetes repository? looks like the changes were mainly around how/what you configure docker daemon with. peeking at [1]

Right?

[1] https://github.com/unullmass/img-authz-plugin

[2018-10-18 10:37] JohannesRudolph opened #69970 "Delete namespace does not return proper v1.Status object"
/kind bug

**What happened**:

I tried to delete a namespace via https://github.com/kubernetes-client/java and was hit by a gnarly error when the lib tried to deserialize the returned body

[code]

So I dug into the API repsonses and found out that indeed something appears to be wrong in the swagger spec + official API documentation. According to [DELETE namespace docs](https://kubernetes.io/docs/

[2018-10-18 10:39] JohannesRudolph commented on #69970
@kubernetes/sig-api-machinery

[2018-10-18 10:41] JohannesRudolph commented on #69970
@kubernetes/sig-api-machinery-bugs

[2018-10-18 10:55] ping2kalesh opened #69971 "internal elb created under EKS is being launched under random AZ"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: While exposing a deployment with service type load balancer (internal), the load balancer is not considering one of the AZs.

**What you expected to happen**: The internal load balancer should be launched into all the availability zones. But it randomly selecting only one AZ.

**How to reproduce it (as minimally and precisely as pos

[2018-10-18 10:59] ping2kalesh commented on #69971
/sig cloud-provider

[2018-10-18 11:00] ping2kalesh commented on #69971
@kubernetes/sig-cloud-provider

[2018-10-18 11:10] bertinatto commented on #69869
Fixed by https://github.com/kubernetes-csi/external-provisioner/pull/148

[2018-10-18 11:10] #69869 closed

[2018-10-18 11:19] sungjunyoung commented on #61927
I have same issue too 😞 attach call-out is never executed..

[2018-10-18 11:27] xiangpengzhao commented on #44270
/joke

[2018-10-18 11:28] xiangpengzhao commented on #44270
/shrug

[2018-10-18 11:30] xiangpengzhao commented on #44270
/meow

[2018-10-18 11:32] xiangpengzhao commented on #44270
/woof

[2018-10-18 11:33] xiangpengzhao commented on #44270
/woof

[2018-10-18 11:34] DylanBLE commented on #69967
Statefulset status's **updateRevision** changes among **apacheds-master-wngmw-78c894955b**, **apacheds-master-wngmw-78c894955c**, **apacheds-master-wngmw-78c894955d**
[code]
[code]
[code]

[2018-10-18 11:34] xiangpengzhao commented on #44270
/this-is-fine

[2018-10-18 11:39] shay-berman commented on #65392
Hi @jingxu97 , I understood from @saad-ali  that you going to handle this PR for 1.13 release.
I would like also to raise your attention for complementary issues -> https://github.com/kubernetes/kubernetes/issues/68086 and https://github.com/kubernetes/kubernetes/issues/69168 which in same way related to the subject.

[2018-10-18 11:47] #64088 closed

[2018-10-18 11:51] Pingan2017 commented on #69925
IMO, kubelet should detect the lose of Pod's IP . because IP is a part of Pod state.
If pod has no ip .the pod is unhealthy.

[2018-10-18 12:07] myvker opened #69972 "undefined: "k8s.io/kubernetes/pkg/generated/openapi".GetOpenAPIDefinitions"
root@user:~/go/src/k8s.io/kubernetes/cmd/kube-apiserver # go build -v
k8s.io/kubernetes/cmd/kube-apiserver/app
# k8s.io/kubernetes/cmd/kube-apiserver/app
app/server.go:461:70: undefined: "k8s.io/kubernetes/pkg/generated/openapi".GetOpenAPIDefinitions

[2018-10-18 12:09] k82cn commented on #69917
We need kubelet report such info, and let node_lifecycle_controller to taint nodes; no changes to the scheduler, IMO :)

[2018-10-18 12:10] cmoulliard commented on #54498
Will this issue closed then ?

[2018-10-18 12:11] Reamer commented on #66437
/remove-lifecycle stale

[2018-10-18 12:18] wooyanger opened #69973 "Kubelet can’t access apisever"
When add the “rotateCertificates” in kubelet config file,the kubelet can’t access apiserver.

[2018-10-18 12:18] #69265 closed

[2018-10-18 12:27] myvker opened #69974 "openapi GetOpenAPIDefinitions"
root@user:~/go/src/k8s.io/kubernetes/cmd/hyperkube # go build -v
k8s.io/kubernetes/cmd/kube-apiserver/app
k8s.io/kubernetes/vendor/github.com/godbus/dbus
# k8s.io/kubernetes/cmd/kube-apiserver/app
../kube-apiserver/app/server.go:461:70: undefined: "k8s.io/kubernetes/pkg/generated/openapi".GetOpenAPIDefinitions

**Environment**:
- Kubernetes version (use `kubectl version`):1.12.1
- Cloud provider o

[2018-10-18 12:37] DylanBLE commented on #69967
I know... there is a bug with sort function. I will open a PR.

[2018-10-18 12:40] wieslaw-gat commented on #60535
+1 as well

[2018-10-18 12:41] fabiand commented on #38606
The remaining core issue is that this proposal would leak the storage connection informations to the pod - which is a risk.

[2018-10-18 12:43] luksa commented on #57198
/reopen

[2018-10-18 12:44] knightXun commented on #69917
ok, I will send a pr to fix it.

[2018-10-18 12:46] YitongFeng commented on #33714
How to config apiserver and controller-manager? The docs are not clear. @liggitt

[2018-10-18 12:48] luksa commented on #57198
Hmm, @michidk are you sure? I've just tried it with v1.12.1 and can't reproduce it anymore. Can you provide steps to reproduce the error?

[2018-10-18 12:49] knightXun commented on #69925
ping @Random-Liu

[2018-10-18 12:52] dims commented on #7203
long-term-issue (note to self)

[2018-10-18 12:57] AishSundar commented on #63622
Ah cool thanks @fedebongio that explains it :) I was looking at [this dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-master-scale-correctness) in release-master-blocking and looks like it hasn't picked by the latest test since its 10/13 run.

Closing this issue now based on the api-machinery dashboard now. Will reopen if the release job doesnt turn green the next run.

[2018-10-18 12:57] #63622 closed

[2018-10-18 12:59] michidk commented on #57198
Not sure if this is a different issue, but I tried it with `kubectl get pod`
After wasting time debugging because I thought kubectl was already connected to that node but some resource didn't exist, I found this thread and looked into things that could prevent the kubectl from connection to the cluster. I then completely reconfigured kubectl.
Sadly I can't reproduce it right now, because I don't k

[2018-10-18 13:01] AishSundar commented on #69891
#69944 is merged and from the looks of it the gke jobs seem to be passing (atleast in master which had a recent run). Thanks @jingxu97 and @msau42 for the investigation and fix.

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-cos-master-serial

@jberkus or @mortent to close this issue once upgrade jobs turn green as well

[2018-10-18 13:01] knightXun commented on #69925
if need any help, I will be happy send a pr to fix it.

[2018-10-18 13:07] luksa commented on #57198
ok, then I'll re-close this.

[2018-10-18 13:07] #57198 closed

[2018-10-18 13:08] DylanBLE commented on #69967
/sig apps

[2018-10-18 13:35] jberkus commented on #69891
Now that we're not timing out, we're seeing some other failures. I'll wait for one more consistent run, and then close this and open a new issue for the new failures.

[2018-10-18 14:01] slpcat commented on #69213
in my test 1.11.3 and 1.12.0 can‘t work， I don’t have v1.13.0-alpha

[2018-10-18 14:06] pohly commented on #65246
I will have a look. Right now the log output of the sidecar containers and the CSI driver are not captured, which makes debugging a bit hard. In PR #69868 I am adding code which includes those message in the test log. Let me finish that PR and once it is merged, debugging the next test flake might provide some better insight into what went wrong.

[2018-10-18 14:13] calind opened #69980 "Undelete/lazy delete resources"
Is is possible to undelete a resource?

We have an use case, where we scale down a database statefulset, but we want to keep around PVC for some grace period so that if you need to scale it back up old/stable data to be available. We need this because it's very expensive to create a new replica from scratch.

I've tried but seams I cannot just set the meta.deletionTimestamp to nil.

/kind feature

[2018-10-18 14:15] calind commented on #69980
/sig storage

[2018-10-18 14:16] calind commented on #69458
/sig network

[2018-10-18 14:40] liggitt commented on #69980
deletion is not reversible. once deletionTimestamp is set, the object will be deleted eventually (the presence of a finalizer can delay that deletion indefinitely, but not "undo" the deletion)

/close

[2018-10-18 14:40] #69980 closed

[2018-10-18 14:41] liggitt commented on #69974
the openapi definitions are generated by the makefile. you can find the instructions to build the project at https://github.com/kubernetes/kubernetes/#to-start-developing-kubernetes

/close

[2018-10-18 14:41] #69974 closed

[2018-10-18 14:42] liggitt commented on #69973
please include the versions of the apiserver and kubelet you are running, the full invocations of the apiserver, controller manager, and kubelet, and the relevant kubelet logs

[2018-10-18 14:43] liggitt commented on #69972
duplicate of https://github.com/kubernetes/kubernetes/issues/69974

/close

[2018-10-18 14:43] #69972 closed

[2018-10-18 14:46] liggitt commented on #69970
The bug is in the generated openapi spec. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/59501

The behavior is intentional, configured here:
https://github.com/kubernetes/kubernetes/blob/d42525853217ef9df2d4ebee7219e4aae4966bb7/pkg/registry/core/namespace/storage/storage.go#L70

/close

[2018-10-18 14:46] #69970 closed

[2018-10-18 14:48] liggitt commented on #69945
if we don't anticipate the configmap solution making it into master (c.f. https://github.com/kubernetes/kubernetes/pull/69691#issuecomment-430741403), do we need this issue?

[2018-10-18 14:50] myvker commented on #69974
this is freebsd platform,i can not gen pkg/generated/openapi code

[2018-10-18 14:53] myvker opened #69981 "this is freebsd platform,i can not gen pkg/generated/openapi code"
how can i gen pkg/generated/openapi code

[2018-10-18 14:53] liggitt commented on #69909
xref https://github.com/kubernetes/kubernetes/issues/31517 for previous LDAP discussion

xref https://github.com/kubernetes/kubernetes/issues/13306 for recording/propagating creating user

[2018-10-18 15:16] myvker opened #69982 "generatedopenapi.GetOpenAPIDefinitions"
genericConfig.OpenAPIConfig = genericapiserver.DefaultOpenAPIConfig(generatedopenapi.GetOpenAPIDefinitions, openapinamer.NewDefinitionNamer(legacyscheme.Scheme, extensionsapiserver.Scheme, aggregatorscheme.Scheme))

what about this?

[2018-10-18 15:19] spiffxp commented on #26205
/sig docs
/sig release
/remove-area test-infra
/area build-release
/area kubeadm
/area kubectl

All of the following dirs/files have the following content.  Do we need them?

- docs/admin: .md files for kube components and kubeadm commands
- man/man1: .1 files for same
- user-guide/kubectl: .md files for kubectl commands
- yaml/kubectl: .yaml files for kubectl commands

[2018-10-18 15:20] spiffxp commented on #26205
/help
Now that we have /good-first-issue, I think this _does_ meet the criteria for help wanted.  Probably need to talk to someone from sig-docs and figure out if/how these are used.

[2018-10-18 15:24] bradhoekstra commented on #69445
@kow3ns I can't speak to the ideology of whether to default the field in all PodSpecs or just the Pod, but your suggestion makes sense to me. I'm not sure of the past reasoning for adding other defaulted fields, most recently SchedulerName in Jan. 2017 (https://github.com/kubernetes/kubernetes/pull/38871/files#diff-14b477f6f8ca5978c702f4d21641e43f), to all PodSpecs instead of just to the Pod objec

[2018-10-18 15:24] spiffxp commented on #26205
/remove-priority important-soon
/priority important-longterm
This hasn't been committed to for any release cycle in a while. I hope someone does commit to it, but I personally cannot, so I'm bumping down to the "hopefully next time" priority.

/kind cleanup
in addition to docs

This impacts merge velocity of any kubectl/kubeadm changes because the docs/OWNERS file is small.  We're going to work ar

[2018-10-18 15:37] bertinatto commented on #69928
/assign

I'm looking into this.

[2018-10-18 15:42] jbartosik commented on #69444
I was busy this week but I think I'll be able to prepare a fix for this tomorrow.

[2018-10-18 15:45] rajansandeep opened #69983 "Push the CoreDNS 1.2.4 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.2.4 image is available in docker coredns/coredns:1.2.4

The bug in CoreDNS release 1.2.3 has been fixed and coredns/coredns:1.2.4 image has been tested in https://github.com/kubernetes/kubernetes/pull/69883 with all presubmit tests passing.

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/cc @BenTheElder
/cc @timothysc

[2018-10-18 15:50] thockin commented on #69983
Pushing to staging now.  Can we do tests against staging before promotion?
I know we're just figuring out the patterns here.

On Thu, Oct 18, 2018 at 8:45 AM k8s-ci-robot <notifications@github.com>
wrote:

[2018-10-18 16:03] chrisohaver commented on #69983
@thockin, We already did k8s e2e tests against `coredns/coredns:1.2.4`, and they passed.
We can run the tests again, against the staging copy of the build too if you like - to see if the push script is working correctly.

If so let us know what the image name on staging is (`staging.gcr.io/coredns:1.2.4` ?), and we can run the test once it is there.

[2018-10-18 16:13] justinsb commented on #69475
We've got signal :-)

Splitting into parallel tests & serial/disruptive tests gives us signal on each:

---
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-new-parallel

That's broadly green except for the occasional flake on `[sig-network] Services should have session affinity work for LoadBalancer service with ESIPP on [Slow] [DisabledForLargeCl

[2018-10-18 16:14] opatroll commented on #59117
With v1.12 it works without a server for me, with v1.11 it doesn't.

[2018-10-18 16:20] ChrisTerBeke commented on #59117
Haven't tried 1.12, but good to know a patch might be in place. Any k8s contributors that can update the status here?

[2018-10-18 16:38] lachie83 commented on #69892
@spiffxp @dims what is the best forum to make decisions regarding the "Options for test selection" section of this issue?

[2018-10-18 16:49] liggitt commented on #69953
I'm going to close this as a duplicate of #64333, and will track it there, since the issue is the same (per-container fields required by admission getting injected after in-tree admission has a chance to make changes automatically)

/close

[2018-10-18 16:49] #69953 closed

[2018-10-18 16:53] AishSundar commented on #69475
This is cool. thanks @justinsb. May be we should split the tests out similarly for the [gce-new-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new) as well?

[2018-10-18 16:56] dims commented on #69892
hey @lachie83 this is queued up for the sig-arch call in about an hour - http://bit.ly/sig-architecture

please join the call :)

[2018-10-18 17:10] bradhoekstra commented on #69356
This is also being discussed in this issue: #69445

[2018-10-18 17:33] lachie83 commented on #69892
Great thanks! I'll be there

[2018-10-18 17:41] thockin commented on #69983
Seems to be pushed to staging now

On Thu, Oct 18, 2018 at 9:27 AM Tim Hockin <notifications@github.com> wrote:

[2018-10-18 17:48] voidcenter commented on #62594
Same issue here. I can get the service running continuously by disabling the readiness probe. This indicated that it's the probe failure and the subsequent shutting down that caused the connection refusal instead of the other way around.

Things I have tried that doesn't work:
- Increasing probe timeout
- Fiddling with ports, `containerPort`, `targetPort`

[2018-10-18 17:49] davidhao3300 commented on #69953
okay, sounds good

[2018-10-18 17:51] trishankatdatadog commented on #30603
I agree 100%: it would be nice to have k8s at least pass the relevant information to docker to support DCT. It's fairly surprising that this cannot be easily done right now.

[2018-10-18 17:51] jingxu97 commented on #51835
@windoze do you know why your pod deletion often failed? It is because kubelet is not running, or kubelet was trying to kill the container but failed with some errors?

[2018-10-18 17:53] #64101 closed

[2018-10-18 17:57] thockin commented on #69983
Promoter will run momentarily.

On Thu, Oct 18, 2018 at 10:46 AM chrisohaver <notifications@github.com>
wrote:

[2018-10-18 18:01] mortent opened #69989 "Failing test: [sig-scheduling] SchedulerPriorities [Serial] Pod should be preferably scheduled to nodes which satisfy its limits"
Testgrid: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-cos-master-serial

Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/2362

This seems to be related to #69437

/sig scheduling
/kind fail

[2018-10-18 18:08] unullmass commented on #30603
@dims You are right. No changes to K8s codebase. As part of our efforts, we were not allowed to modify the K8s codebase, so this was the only possible solution.

FWIW, I recall looking into options of add-ons to K8s. Would changes in [this](https://kubernetes.io/docs/concepts/extend-kubernetes/extend-cluster/#api-access-extensions) scope help fulfil this requirement?

[2018-10-18 18:09] AishSundar commented on #69989
/assign RaviSantosh Gudimetla

[2018-10-18 18:09] windoze commented on #51835
Such situation happened several times on my cluster several months ago, kubelet was running but docker daemon seemed to have some trouble and got stuck with no error log.
My solution was to log in to the node and force kill the container process and restart the docker daemon.
After some upgradings the issue was gone and I never had it again.

[2018-10-18 18:09] AishSundar commented on #69989
/assign @ravisantoshgudimetla

[2018-10-18 18:13] mortent commented on #69815
This seems to be a duplicate of #63622 and the test is passing in the api-machinery dashboard now. Closing this one.

/close

[2018-10-18 18:13] #69815 closed

[2018-10-18 18:20] AishSundar commented on #69475
Ah I jus saw relevant discussion in https://github.com/kubernetes/test-infra/issues/9802#issuecomment-431111574

[2018-10-18 18:39] pmichali opened #69990 "kubadm version skew when trying v1.13.0-alpha.1"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
Built Kubernetes from tag v1.13.0-alpha.1 and installed kubeadm, kubectl, and kubelet. Had a kubeadm.conf config file without `kubernetesVersion:` specified.

When running `kubeadm init`, it says that kubelet is running 1.13.0-alpha.1-dirty (expected), but control plane is 1.12.1 and fails due to a version skew

[2018-10-18 18:41] pmichali commented on #69990
/area kubeadm

[2018-10-18 18:41] mattmceuen commented on #62861
I hit the same issue trying to use `EventRateLimit` with the `--runtime-config` flag; leaving `admissionregistration.k8s.io/v1alpha1` off of that seems to get the admission controller working fine.

I think this is a documentation bug, since the admission controller doc is what's telling us to use `--runtime-config` for this.
https://kubernetes.io/docs/reference/access-authn-authz/admission-contro

[2018-10-18 18:42] chrisohaver commented on #69983
@thockin, looks like access to staging-k8s.gcr.io requires authentication that the e2e test nodes do not have.  Will run tests in k8s.gcr.io now, as it appears the 1.2.4 images are already present there.

[2018-10-18 18:43] pmichali commented on #69990
/sig cluster-lifecycle Hopefully this is right?

[2018-10-18 18:52] vladimirvivien commented on #64637
So this was implemented.  Should this be closed?

[2018-10-18 18:58] vladimirvivien commented on #69015
@RenaudWasTaken let me know if you open a PR for this as discussed.

[2018-10-18 19:12] yrral86 commented on #65969
https://docs.storageos.com/docs/prerequisites/mountpropagation

[2018-10-18 19:16] agunnerson-ibm commented on #69471
@liggitt Thanks for the comments! Now that I have the CLA signed, I'll address those and submit a PR.

[2018-10-18 19:38] dims commented on #69585
@andrewsykim please put me down for `pkg/util/keymutex` && `pkg/util/strings `

[2018-10-18 19:45] agunnerson-ibm commented on #69471
Just submitted the PR: https://github.com/kubernetes/kubernetes/pull/69991

[2018-10-18 19:47] #68991 closed

[2018-10-18 19:55] #62389 closed

[2018-10-18 20:03] mattsmithdatera opened #69992 "CSI plugin_watcher does not report missing socket, gives opaque error message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig storage

**What happened**:
I received this error when starting my CSI driver without correctly setting up the socket with kubelet
[code]
**What you expected to happen**:
I expected the error to tell me that the socket was not found.  Instead it tells me that GetNodeInfo's NodeId attribute is empty.  I see in the logs that GetNodeId is

[2018-10-18 20:39] RenaudWasTaken commented on #64637
/close
Is this the right command?

[2018-10-18 20:39] #64637 closed

[2018-10-18 20:53] falberto89 commented on #40027
Hi! I am working with a HA Kubernetes cluster deployed via Kops on AWS. I have snapshots of every EBS. I have tried to simulate a disaster of every AZ, for example setting to 0 the desiderd field of ASG, detaching the old volumes. However, when I try to recover the cluster attaching the new volumes obtained via snapshots (setting correctly the tags of the new volumes) I am not able to recover the

[2018-10-18 20:55] fedebongio commented on #69915
/assign @jpbetz
/cc @jingyih

[2018-10-18 20:56] #50110 closed

[2018-10-18 20:56] fedebongio commented on #69967
/remove-sig api-machinery

[2018-10-18 20:59] wu105 commented on #30603
@unullmass Would you please share your implementation of the Image Authorization Plugin?  It would be a good start point for us to get some experience with kubernetes under DCT.

[2018-10-18 21:07] andrewsykim commented on #69585
@mcrute assigned `pkg/api/service`, `pkg/api/v1/service` and `pkg/util/net/sets` to you as per our discussion earlier :)

[2018-10-18 21:09] andrewsykim commented on #69585
For anyone else who has assigned dependencies and have not opened PRs yet, can you provide an estimate for when you can get around to those? If you have a lot on your plate we can reassign to others who have cycles right now

[2018-10-18 21:31] mcrute commented on #69585
`pkg/util/mount` is blocked on kubernetes/utils#51 but provided that's shipped early next week ETA for that is also next week (w/e Oct. 22).

The remainder I'm anticipating having PR-ready by next week (w/e Oct 22).

[2018-10-18 21:33] verult commented on #65126
/remove-lifecycle rotten

[2018-10-18 21:40] Pradip-Khakurel commented on #34059
I've also raised a PR (#69993) to improve error messages in some e2e auth related tests. I tried to follow #67619.

I am new to Go/Kubernetes so all feedback are welcome.

[2018-10-18 21:43] #69572 closed

[2018-10-18 22:03] jingxu97 commented on #48968
@pv93, sorry to reply late. Could you please let us know more details about your issue? You mentioned -you deleted old pod and PVC. Did you use "--forcedelete" and "--grace-period=0" option? Otherwise, the new pod or PVC (if using the same name as the old one) could not be created without the old one being cleaned up and deleted. For PVC, unless you change the Reclaim policy, by default, if PVC is

[2018-10-18 22:17] nogoegst commented on #47862
hey there!
is there an option to unrot an issue by a github reaction? having endless and useless comments like '+1'  is a bit of annoying.

[2018-10-18 22:23] PatrickLang opened #69996 "Kubelet failing to start with error `client version 1.38 is too new` with Docker EE-basic 18.03"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

After upgrading to Docker EE-basic 18.03, the kubelet won't start :

[code]

**What you expected to happen**:

No crashes, and kubelet should restart normally.

**How to reproduce it (as minimally and precisely as possible)**:

1. Install Docker EE-basic 17.06
2. Start kubelet
3. `Install-Package -Name Docker -ProviderNam

[2018-10-18 22:43] dims commented on #47862
/remove-lifecycle rotten

[2018-10-18 22:43] dims commented on #47862
long-term-issue (note to self)

[2018-10-18 22:53] dims commented on #30603
@wu105 see the URL in the previous comment? :)

[2018-10-18 23:17] jpbetz commented on #69915
Doesn't appear to be an api-machinery issue, and the issue already opened against kops should be sufficient, any reason why there should be a kubernetes issue at all?

/remove-sig api-machinery

[2018-10-18 23:30] PatrickLang commented on #69996
Here's the tests that failed for reference. I cancelled the test pass.

[cancelled pass of windows conformance on docker 1803.txt](https://github.com/kubernetes/kubernetes/files/2493894/cancelled.pass.of.windows.conformance.on.docker.1803.txt)

[2018-10-18 23:41] Jarch09 commented on #69915
I made issues on both, because I didn't know the best location... would this be an issue with kops? Seems like kind of a fundamental kube thing if `etcd-server-events` is leaking - but maybe misunderstanding

[2018-10-18 23:50] rezroo commented on #68717
Question: is this not getting assigned to anyone?
Can we have a determination if handling this belongs to calico developers, or if k8s release is at fault here? I also have this reported to [projectcalico ](https://github.com/projectcalico/calico/issues/2190) so I can follow up with them if this can/should be fixed by adding a PSP. Is that the solution? It just seems unreasonable that the all-migh

[2018-10-18 23:59] #59911 closed

[2018-10-19 00:00] ravisantoshgudimetla commented on #69989
Looked at the kube-scheduler logs for GCE, seems the feature_gate was enabled.

`Creating scheduler with fit predicates 'map[MaxCSIVolumeCountPred:{} GeneralPredicates:{} NoVolumeZoneConflict:{} MatchInterPodAffinity:{} CheckVolumeBinding:{} MaxAzureDiskVolumeCount:{} NoDiskConflict:{} CheckNodeUnschedulable:{} MaxEBSVolumeCount:{} MaxGCEPDVolumeCount:{} PodToleratesNodeTaints:{}]' and priority fu

[2018-10-19 01:02] akutz commented on #42599
Hi @llofberg,

Thank you for the comment. I too just tried with 3GiB, then 4. It wasn't until I set Docker to 8GiB that it worked for me as well.

[2018-10-19 01:44] elatt commented on #61937
I wonder if it will even be possible for RedHat to fix their kernel. https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-414550261 noted that rebuilding the kernel with `CONFIG_MEMCG_KMEM` turned off is an ABI change which RedHat *promises not to do* for the full lifetime of their kernel. Further more, the reason that `CONFIG_MEMCG_KMEM` leaks memory in 3.10 was a *known issue* for

[2018-10-19 01:48] MarcPow commented on #69787
Closing as non-actionable.

I suspect this is likely a bug in Docker EE 17.06 that I was using under Windows 1803.   But - in the absence of more data, it can't be fixed.  Closing it out so as not to clutter the queue.

[2018-10-19 01:48] #69787 closed

[2018-10-19 01:52] wooyanger commented on #69973
**This is my version of apiserver and kubelet**

*  the apiserver version is v1.11.3
*  the kubelet version is v1.11.3

**static pod file of kube-apiserver is below**

	apiVersion: v1
	kind: Pod
	metadata:
	  annotations:
	    scheduler.alpha.kubernetes.io/critical-pod: ""
	  creationTimestamp: null
	  labels:
	    component: kube-apiserver
	    tier: control-plane
	  name: kube-apiserver
	  names

[2018-10-19 01:58] wu105 commented on #30603
@dims (also @unullmass) I did check https://github.com/unullmass/img-authz-plugin, its master branch is "even with cpdevws/img-authz-plugin" and I see no other branches, tags.  I found no reference in the code/doc on the registry/notary mapping, or the environment variables DOCKER_CONTENT_TRUST and DOCKER_CONTENT_TRUST_SERVER.

[2018-10-19 02:36] #69973 closed

[2018-10-19 02:51] changyaowei opened #69999 "When kubelet started, can't get valid node ephemeral-storage in update node status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When kubelet started, kubelet update node status to apiserver through  func syncNodeStatus(). In func  setNodeStatusMachineInfo() which is included by func syncNodeStatus() , we update  node.Capacity, node.Capacity contains ephemeral-storage, but we update ephemeral-storage value in func updateRuntimeUp which is started after syncNo

[2018-10-19 03:09] cizixs commented on #69999
/sig node

[2018-10-19 03:10] cizixs commented on #69999
/kind bug

[2018-10-19 03:50] ist0ne commented on #61937
@pires It can't help me, any other solution?

#cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)
#uname -r
3.10.0-862.14.4.el7.x86_64

[2018-10-19 04:37] mandarjog opened #70000 "Horizontal Pod Autoscalar does not scale when CPU exceeds target"
/kind bug

**What happened**:
horizontal pod autoscalar did not kick in when expected.
Target is set at 80% with maxpods=5, but only 3 replicas have started.

[code]

**What you expected to happen**:
Expect to go all the way up to 5 is resources are available.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Environment**:
[code]

[2018-10-19 04:38] mandarjog commented on #70000
/sig autoscaling

[2018-10-19 05:31] krmayankk commented on #66230
/lifecycle frozen

[2018-10-19 05:32] krmayankk commented on #66230
/assign @krmayankk

[2018-10-19 05:57] #52444 closed

[2018-10-19 06:10] marciopuga commented on #69503
I'm having exactly the same problem, doing an installation from scratch on DigitalOcean

`kubelet[14662]: E1019 05:38:51.569290   14662 azure_dd.go:147] failed to get azure cloud in GetVolumeLimits, plugin.host: 9master`

[code]

[2018-10-19 07:06] #62907 closed

[2018-10-19 07:10] #69409 closed

[2018-10-19 07:10] japzio commented on #13488
one use-case also on our side is that we use spring-cloud-config-server for our spring-boot app, backed by and scm, when we change a configuration property, the the spring-boot app needs to be restarted to be able to fetch the new config change so we also need this kind grace restart trigger without having to do a redeployment.

[2018-10-19 07:30] dkulchenko commented on #57402
/reopen
/remove-lifecycle rotten

[2018-10-19 07:31] mmack commented on #63128
@mgxian you wrote "the apiserver-kubelet-client.crt must have the right permission (group **_like_** system:masters)" above. If i use a cert with system:masters everything works fine.

Can anybody explain me how to know which role would be the best to use? Which one is kublet actually checking for? system:mastes is a bit to much access or?

Thanks,
Max

[2018-10-19 07:38] pjfanning commented on #57402
/reopen
/remove-lifecycle rotten

[2018-10-19 07:40] pjfanning commented on #57402
/lifecycle/frozen

[2018-10-19 07:55] mgxian commented on #63128
@mmack I deploy a cluster use kubeadm just now and I find that kubeadm give the apiserver-kubelet-client.crt 'system:masters' group so I think the permission might be ok.
![tim 20181019154452](https://user-images.githubusercontent.com/10857630/47204909-0e77ac80-d3b7-11e8-99f2-9e55d4600699.png)

[2018-10-19 08:00] mgxian commented on #63128
@mmack I find this doc [Kubelet authorization](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/#kubelet-authentication), It seems nodes permission is ok, but I not test it, you can try it

[2018-10-19 08:01] corest commented on #66819
Happened the same with 1.11

**Environment:**

Kubernetes version (use kubectl version): v1.11.1
Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release): coreos 1745.7.0
Kernel (e.g. uname -a): 4.14.48
Install tools:
Others:

[2018-10-19 08:05] marcosanfilippo opened #70009 "Errors after installation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug report

**What happened**:
After install kubectl, I have this errors when I open my terminal.
[code]

**What you expected to happen**:
No errors

**How to reproduce it (as minimally and precisely as possible)**:
Install kubectl on OSX
Open a terminal

**Environment**:
- Kubernetes version (use `kubectl version`): last
- Cloud provider or hardware

[2018-10-19 08:12] cheyang opened #70010 "Suggest to make kubelet retry UnexpectedAdmissionError with an exponential delay"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind question

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install

[2018-10-19 08:13] cheyang commented on #70010
/sig node

[2018-10-19 08:14] andyzhangx opened #70011 "add more logging for azure disk diagnostics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Current logging is not enough for azure disk diagnostics, change some log level from 4 to 2

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware c

[2018-10-19 09:05] nikopen commented on #65392
Hey @jingxu97 @saad-ali @msau42 ,

as I'm keeping track of issues for the release team of 1.13,

is there an estimate whether this and #68086 , #69168 make it into v1.13?

[2018-10-19 09:16] jsafrane opened #70013 "No easy way how to update CSI driver that uses fuse"
We recommend to use DaemonSet to run CSI drivers on node. If a driver runs fuse daemon, it's almost impossible to update it, as killing a pod with the driver kills the fuse daemons too and it will kill all mounts, possibly corrupting application data.

We need a documented and supported way how to update such CSI drivers. Note that the update process can be manual or the code can live somewhere el

[2018-10-19 09:52] neolit123 commented on #61664
/lifecycle frozen

[2018-10-19 09:52] liuxu623 opened #70014 "bandwidth limit doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
**What happened**:
bandwidth limit doesn't work
**What you expected to happen**:
bandwidth limit work
**How to reproduce it (as minimally and precisely as possible)**:
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#support-traffic-shaping
[code]
[code]

**Anything else we need to know?**:
https://gi

[2018-10-19 09:54] liuxu623 commented on #70014
/sig network

[2018-10-19 10:17] nikopen commented on #58010
@mtaufen ping, is this WIP for 1.13 ? any other prerequisites?

[2018-10-19 10:18] nikopen commented on #64164
@juanvallejo @ellenkorbes ping, is this on track for 1.13? any related PR?

[2018-10-19 10:19] nikopen commented on #65494
@juanvallejo @soltysh ping, is this WIP for 1.13? any related PR?

[2018-10-19 10:38] nikopen commented on #68524
@hoegaarden anyone working on this? it's marked for v1.13

[2018-10-19 10:45] mslga commented on #69665
I have found correct configuration:

[code]

[2018-10-19 10:45] #69665 closed

[2018-10-19 10:47] soltysh commented on #64164
Yes, this is still open and in-progress, but not something that we will actually finish for 1.13, it'll take us some more time.

[2018-10-19 10:47] soltysh commented on #65494
Yes, this is still open and in-progress, but not something that we will actually finish for 1.13, it'll take us some more time.

[2018-10-19 10:50] nikopen commented on #64164
thanks!
/milestone v1.14

[2018-10-19 10:50] nikopen commented on #64164
not there yet,

/milestone clear

[2018-10-19 10:53] nikopen commented on #65494
/milestone clear

[2018-10-19 10:56] kongsys commented on #65080
The PR is not merged. when is it merge ?

[2018-10-19 11:07] gtie commented on #67342
We see the same issue, in particular, when the same volume is repeatedly mounted/dismounted on the same node. Here are some logs showing successful mount, dismount, and then a failed mount with empty device path:
[code]

[2018-10-19 11:12] fntlnz commented on #67342
@gtie - What's your kubernetes version?
I stopped seeing this after upgrading to 1.11.2 and I don't see it now on 1.12.1

[2018-10-19 11:17] nikopen commented on #65494
/milestone v1.14

[2018-10-19 11:18] nikopen commented on #64164
/milestone v1.14

[2018-10-19 11:38] gtie commented on #67342
@fntlnz, thanks for the input! I have this issue on K8s v.1.10.7. Upgrade should be coming in the next few weeks, we'll see if it appears again afterwards.

[2018-10-19 11:43] hoegaarden commented on #68524
I am not working on that. Maybe @saad-ali or @lavalamp have more input?

[2018-10-19 12:36] nak3 opened #70017 "Pod/Container can steal cpu/memory resources if cluster admin did not set "minimum" (not maximum) limitrange"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Even though we set follwing limitrange, users can use cpu/memory larther than 1 cpu or 1Gi memory by setting `0` for the pod limits.

[code]

**What you expected to happen**:

- kubernetes should not allow users to create pods with cpu/memory of `0` limit.

**How to reproduce it (as minimally and precisely as possible)**

[2018-10-19 12:44] neolit123 commented on #70017
/sig api-machinery

[2018-10-19 12:52] KomorkinMikhail opened #70020 "Conntrack entities for SCTP are not flushed for deleted Service endpoints"
/kind bug
/sig network

I have the K8s 1.12.1 deployment with SCTP support implementation from #64973. I have faced an issue while running SCTP traffic and it’s the same issue as #19029 with UPD protocol. SCTP conntrack doesn’t flush entries for deleted pods. Thus associations which were established on that deleted pod can not be reestablished since conntrack still tries to route all the SCTP pack

[2018-10-19 12:59] KomorkinMikhail commented on #70020
Hi @janosi
Please check this out. Do you agree this is a bug in kube-proxy?

[2018-10-19 13:14] janosi commented on #70020
Hi @KomorkinMikhail
Definitely, unfortunately, this is a bug :(

[2018-10-19 13:46] soltysh commented on #45418
@jdalegonzalez in which version you're experiencing the issue? Provide me with the necessary details and if it's still the case I'll reopen as needed.

[2018-10-19 13:47] soltysh commented on #45418
Preferably provide a sample output with `-v=9`.

[2018-10-19 13:57] jodok commented on #69503
+1

[2018-10-19 14:18] #70011 closed

[2018-10-19 14:42] mcrute commented on #69585
@dims yeah I saw that after I had submitted the PRs to move file, io, and nsenter over. I think in all that PR is too big and includes a bunch of things that are already merged into utils. Also the last comment ~4 months ago is that the mount interface needs restructured; the PR wasn't touched since then. I think our best bet is to finish merging the prerequisites and then take another look at mov

[2018-10-19 14:59] justinsb commented on #69475
Yes - thanks @AishSundar - splitting gce-new-master-upgrade-cluster-new also in https://github.com/kubernetes/test-infra/pull/9864  (I thought there were more, but haven't found one yet)

Generally looking into why particular tests are failing.  A lot of them seem to be failing because of the daemonset issue, being tracked in #69356

[2018-10-19 15:09] AishSundar commented on #69475
Thanks so much @justinsb for following through on this.

[2018-10-19 15:17] dims commented on #69585
sounds good @mcrute

[2018-10-19 15:21] gsf commented on #13488
@japzio As [suggested by Helm](https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change), a checksum of the configmap in the annotations is a good way to handle that case.

[2018-10-19 15:21] danbeaulieu commented on #49387
Is this supposed to work on status.phase? I terminated a node and all of the pods display as Unknown or NodeLost but they aren't filtered by the field-selector:

[code]

I wouldn't expect those the non-Running pods to be listed with this query...

[2018-10-19 15:31] YuqingLethe commented on #66159
I have same issue with the Tiller-deploy pod. Restart docker in the worker node will fix it temporarily but it came back after 2 days.

[2018-10-19 15:41] pmichali commented on #69990
I'm really stuck on the port 10250 issue as well. Kubelet is running and listening on port 10250, and `kubeadm init` throws an error saying port is in use.  If I try `--ignore-preflight-errors=all`, it gets past that check, but fails waiting for kubelet to start up control plane, saying kubelet may not be running (it is running). Any ideas on this?

[2018-10-19 16:15] #60843 closed

[2018-10-19 16:28] jeremyeder commented on #69932
@balajismaniam have you seen something like this?  I cannot repro

[2018-10-19 17:17] balajismaniam commented on #69932
@jeremyeder I haven't seen this before. @vladikr which version of Kubernetes is being used?

[2018-10-19 17:35] cpuguy83 opened #70029 "Tarball packaging broken when supplying KUBE_BUILD_PLATFORMS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Supplying `KUBE_BUILD_PLATFORMS` to `make release` causes the `KUBE_SERVER_PLATFORMS` (and other similar vars) to be populated with whatever was in `KUBE_BUILD_PLATFORMS`.

This causes an issue with windows as a platform.
For "node" and "client" build targets, the binary names are stored as "<binary>.exe".
However the "s

[2018-10-19 17:49] cpuguy83 commented on #70029
Just guessing here...

/sig release

[2018-10-19 18:07] mikebryant opened #70030 "`ownerReferences` not correctly applied for `ResouceQuota` objects"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

The `ownerReferences` section for my `ResourceQuota` was stripped, but left for all other resource types

**What you expected to happen**:

`kubectl apply` should put my changes into the cluster as requested

**How to reproduce it (as minimally and precisely as possible)**:

Here are the resources (Note you will need to c

[2018-10-19 18:08] mikebryant commented on #70030
@kubernetes/sig-cli-bugs

[2018-10-19 18:40] harsh-px opened #70033 "Portworx volumes cannot be mounted if 9001 port is already in use on the host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
On certain clusters, port 9001 is already in use on the hosts. The portworx native driver is hardcoded is use 9001 as the target for mount, unmount, attach and requests. This fails since the Portworx daemon cannot listen on 9001

**What you expected to happen**:

End users should be able to configure the port the portworx native dri

[2018-10-19 18:46] mikebryant commented on #70030
Turns out, shutting down `kube-controller-manager` stops this from happening. After creating the object, it has the right ownerReference. On starting `kube-controller-manager`, it immediately removed the `ownerReference`

[2018-10-19 18:53] harsh-px commented on #70033
/sig storage

[2018-10-19 18:54] liggitt commented on #70030
/assign

[2018-10-19 18:55] liggitt commented on #70030
fixed in https://github.com/kubernetes/kubernetes/pull/70035

[2018-10-19 18:58] ncdc commented on #69990
@rdodev @timothysc

[2018-10-19 19:04] mikebryant commented on #70030
@liggitt That was impressively fast! Thanks for the fix :)

[2018-10-19 19:05] PatrickLang commented on #69996
I reverted back to Docker EE-basic 17.06.02-ee-16 and now it starts up

[code]

[2018-10-19 19:06] PatrickLang commented on #69996
@ddebroy can you help direct this? We need 18.03 working to fix the file mount parsing issues.

[2018-10-19 19:31] bradhoekstra commented on #69356
Any opinions on whether the suggestion by @kow3ns [here](https://github.com/kubernetes/kubernetes/issues/69445#issuecomment-430840508) is the correct approach for fixing this?

[2018-10-19 19:32] #66649 closed

[2018-10-19 19:36] ashleyschuett opened #70037 "GCP CCM does not work without route table"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a GCP cluster with a separate binary for the CCM. On the kubelet I specified `--cloud-provider=external`, and did not specify the `--cloud-proivder` flag on the api or kube-controler-manager. On the CCM I specified `--configure-cloud-routes=false` since I am running calico, and I do not want to use GCP routes.

[2018-10-19 19:38] ashleyschuett commented on #70037
@kubernetes/sig-gcp

[2018-10-19 19:39] ashleyschuett commented on #70037
@kubernetes/sig-gcp-bugs

[2018-10-19 19:46] vladikr commented on #69932
@balajismaniam I tried to reproduce the same with 1.11.0

```Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:17:28Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}```

 I can't reproduce it now...

[code]

[2018-10-19 20:31] fche commented on #27140
/remove-lifecycle stale

[2018-10-19 20:38] schoukri commented on #45418
I am currently seeing the same issue. I am using a Google Kubernetes Engine from macOS Mojave 10.14.

[code]

Listing all cronjobs works just fine:

[code]
But trying to describe a specific cronjob does not work:

[code]

Here is the output with `-v=9`

I've redacted most of the response body showing the actual spec for the cronjob because it contains confidential information.

[code]

[2018-10-19 20:41] jpbetz commented on #69915
Humm. `etcd-server-events` is not a pod I'm familiar with, which is what made me think it must be some kops thing.  But after searching around a bit, the only pod manifest I can find for it is this one for kubemark testing:

https://github.com/kubernetes/kubernetes/blob/8b36038b413dbb17cfef750d1b02e371903846cd/test/kubemark/resources/manifests/etcd-events.yaml#L1-L4

Do you know where the pod mani

[2018-10-19 20:43] dashpole commented on #68416
I haven't looked deeper into this yet.  Ill keep this on my list for 1.13

[2018-10-19 20:51] jingxu97 commented on #61336
cc @yujuhong

[2018-10-19 21:01] msau42 commented on #69819
Work to make in-tree and CSI drivers run the same tests: https://github.com/kubernetes/kubernetes/issues/68024

[2018-10-19 21:03] verult commented on #69602
/cc

[2018-10-19 21:03] verult commented on #69819
/cc

[2018-10-19 21:47] mandrean commented on #44273
Same. GKE v1.10.6-gke.2 with n1-standard-1 preemtible nodes running COS.

[code]

[2018-10-19 22:44] PatrickLang commented on #69996
Looks like https://github.com/kubernetes/kubernetes/pull/64283 bumped the default client version to 1.38

[2018-10-19 22:45] thockin commented on #61006
I'd love to see us move to something like https://github.com/go-logr/logr (planned to rename to lager, maybe?) and I am willing to help strategize how.

Starting at leaf packages and working backwards, we should be able to replace the `glog` calls with methods on the abstract interface implemented in terms of glog.  This forces us to think through how to plumb it around into libraries and across i

[2018-10-19 22:56] lavalamp commented on #68743
I'd also call this a bug that we could back port if there's a strong demand for it.

[2018-10-19 23:39] mariantalla commented on #67903
Hey y'all, just checking in on this as it's blocking [master-upgrade](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster) tests.

It seems there is a PR open for an issue that's related. Is there more that needs to happen after that?

[2018-10-19 23:43] tallclair commented on #61006
I guess there are 2 different approaches here with the same end goal:
1. (the approach in this PR) Adopt a new logging backend (library), and then gradually migrate logging calls to the new interface. By forking glog, it means we could flip the fork over to keep it's interface and flip the implementation over to the new library.
2. (@thockin's proposal) Gradually migrate logging calls to a new int

[2018-10-20 00:10] mariantalla commented on #63622
@AishSundar  @fedebongio Is it worth removing the copy of this test that lives in [sig-release-master-blocking#gce-master-scale-correctness](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-master-scale-correctness)? Or is it still a release-blocking test?

[2018-10-20 02:10] smartdu opened #70043 "Can hostport be dynamically assigned?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I want k8s to dynamically allocate a hostport and tell the container through the environment variable.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware c

[2018-10-20 02:24] hyperbolic2346 opened #70044 "Pods stuck terminating (MountVolume.SetUp failed)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Updating ingress and deleted service, daemon set, service account, cluster role binding, and config map in that order. I then deployed the ingress pods into a new namespace. The new pods never could start because the old pods got stuck in terminating and have been for hours now.
**What you expected to happen**:
Old pods t

[2018-10-20 02:28] hyperbolic2346 commented on #70044
I'm not sure what sig to label on this issue. The sig list is a helpful link, but it doesn't give any information about who would be responsible for what. Further, I'm not even sure where the problem lies so if there were good descriptions of the types of bugs each sig took, I wouldn't be able to classify it. Might I suggest the bot give some more information and add "if unsure, reply with /sig fi

[2018-10-20 05:28] #64124 closed

[2018-10-20 05:28] #64178 closed

[2018-10-20 08:31] #58577 closed

[2018-10-20 10:11] #68935 closed

[2018-10-20 11:00] gucki opened #70047 "Allow updating rbd monitors of persisted volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Probably a bit of both.

/kind bug
/kind feature

**What happened**:
We needed to move our ceph cluster which in turn gave the ceph monitors new ips. In k8s the ips are stored in the storageclass and in each pv. We updated the storageclass successfully but trying to update a pv it fails:

[code]

**What you expected to happen**:
It should be possible t

[2018-10-20 12:35] #64192 closed

[2018-10-20 12:35] fntlnz commented on #70044
/sig node

[2018-10-20 12:40] neolit123 commented on #26205
as discovered today this would not work as OWNERS in sub-folders do not solve the problem with the /docs/.generated_docs file which is in the parent folder.

i've been looking into a solution to remove the placeholders completely and make verify-docs only consist  of kube::util::gen-docs. this will:
- ensure that godoc errors and such still block presubmits
- the contributors are not blocked havin

[2018-10-20 13:50] ruiaraujo commented on #65097
/remove-lifecycle stale

[2018-10-20 15:13] hyperbolic2346 commented on #70044
Thanks for the help, @fntlnz!

[2018-10-20 15:31] sebastiansirch commented on #65089
/remove-lifecycle stale

[2018-10-20 15:38] #64108 closed

[2018-10-20 15:45] fntlnz commented on #70044
This is happening in CI too.
See: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/66211/pull-kubernetes-local-e2e-containerized/3108/

[code]

[2018-10-20 15:49] fntlnz commented on #70044
I'm investigating to fix this, the error is being reported here: https://github.com/kubernetes/kubernetes/blob/a6e273214b99d25a3261b3c59573055e4cda7c4d/pkg/kubelet/util/manager/watch_based_manager.go#L169

[2018-10-20 16:35] deitch commented on #65272
/remove-lifecycle rotten

[2018-10-20 16:45] marcosanfilippo commented on #70009
/sig bugs

[2018-10-20 16:45] marcosanfilippo commented on #70009
@kubernetes/sig-contributor-experience-bugs

[2018-10-20 17:01] marcstreeter commented on #58988
I believe it has to do with what @Rishi0405 said about swap not being disabled. It also shows in this thread  https://discuss.kubernetes.io/t/the-connection-to-the-server-host-6443-was-refused-did-you-specify-the-right-host-or-port/552/4

[2018-10-20 17:40] #64205 closed

[2018-10-20 17:47] MarkusTeufelberger commented on #65089
https://github.com/kubernetes/kubernetes/pull/68495 seems related too.

[2018-10-20 19:05] jcassee commented on #57916
/remove-lifecycle stale

[2018-10-20 20:43] #63117 closed

[2018-10-20 20:48] ffledgling commented on #40214
/reopen
/remote-lifecycle rotten

[2018-10-20 23:07] tamalsaha commented on #66362
We have implemented the driver here: https://github.com/kubevault/csi-driver

It uses 1.12 to enforce authz using pods's s/a. We are going to cut a release in a few weeks.

/remove-lifecycle stale

[2018-10-20 23:35] nilebox commented on #64136
@sttts @mbohlool CRD versioning is still no-op (no webhook support) AFAIK? Should this issue be un-rotten?

[2018-10-21 01:48] #64237 closed

[2018-10-21 03:42] mlmhl commented on #69999
This does not seem like a big problem as all these methods(`syncNodeStatus` and `updateRuntimeUp`) are invoked periodically. Actually, we can't be sure that `updateRuntimeUp` is exactly started after `syncNodeStatus` as they are both running in an independent goroutine.

[2018-10-21 04:51] #63050 closed

[2018-10-21 06:53] #56276 closed

[2018-10-21 07:12] TheDiveO opened #70054 "Docker shim container naming schema parsing in case of randomized container name infering wrong fields?"
When randomizeName() is used, it returns a new container name that adds an intermediate field using the delemiter "_". If I understand the mechanics correctly, this causes all further fields (pod name, namespace name, etc) to shift down. So, when seeing 7 instead of 6 fields, wouldn't the building of the (pod) metadata use the shifted field indices instead of the original, unshifted ones? Such as

[2018-10-21 08:40] yuxiaoba commented on #60884
I have faced this problem too,may be you can try
$ ps -aux | grep "kube"
check the kube-apiserver 　
if the kube-apiserver not exit
you can
$systemctl restart kube-apiserver
$systemctl restart kube-controller-manager
$systemctl restart kube-scheduler

[2018-10-21 08:42] Karthickarumugam commented on #44033
You save lot of my time.

[2018-10-21 09:49] jberkus opened #70058 "Failing Kubeadm Test: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-master/524"
Testgrid; https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-master

Sample Failure:

The problem seems to be that Kube-anywhere isn't working since commit  aae438e82

[code]

/sig cluster-lifecycle
/kind failing-test
/priority important-soon

cc: @timothysc
@kubernetes/sig-cluster-lifecycle

[2018-10-21 09:49] jberkus commented on #70058
/milestone v1.13

[2018-10-21 10:11] jberkus commented on #56138
ok, adding priority so that I know it's not a 1.13 blocker.

/priority important-longterm

[2018-10-21 10:57] #59460 closed

[2018-10-21 10:57] #64067 closed

[2018-10-21 11:02] neolit123 commented on #70058
sent possible fix PR:
https://github.com/kubernetes/kubernetes/pull/70059

[2018-10-21 14:57] khacminh commented on #65820
I use:
- Kops version: 1.11.0-alpha.1
- K8s version: 1.11.2
- Settings:

[code]

And the result is: Websocket and TCP connections are not stable. It really hard to create the TCP connection and the disconnection occurs so frequently.

[2018-10-21 15:01] #39441 closed

[2018-10-21 15:01] #58744 closed

[2018-10-21 15:15] jcassee commented on #66430
/remove-lifecycle stale

[2018-10-21 15:31] neolit123 commented on #70054
/sig node
/kind bug

[2018-10-21 15:32] neolit123 commented on #70054
/cc @feiskyer

[2018-10-21 15:33] neolit123 commented on #70043
hi, for questions you might get a better response in stackoverflow or slack:
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

/close

[2018-10-21 15:33] #70043 closed

[2018-10-21 15:34] neolit123 commented on #69982
/close
please re-open once you provide a better description for the issue.
for questions also try the support channels: https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

[2018-10-21 15:34] #69982 closed

[2018-10-21 15:41] neolit123 commented on #69981
please try `make generated_files` in the kubernetes source folder.
/close

[2018-10-21 15:41] #69981 closed

[2018-10-21 16:02] #63208 closed

[2018-10-21 16:02] #49287 closed

[2018-10-21 17:09] jethrogb commented on #40973
/remove-lifecycle stale

[2018-10-21 18:46] AishSundar commented on #69475
After all the splitting I see [gce-new-master-upgrade-cluster-new-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new-parallel), which runs slow tests in parallel, timeout similar to before after 15hrs. The others are all failing on misc tests as @jberkus indicated

[2018-10-21 18:58] TheDiveO commented on #70054
I was mistaken on how `randomizeName()` is used in that it is in fact used on the Docker container name, not the Kubernetes container name in a Pod. Thus, there is no field shifting taking place, but the random number is appended as the 7th element, not the 3rd. Sorry for the noise.

[2018-10-21 18:58] #70054 closed

[2018-10-21 19:58] everflux opened #70062 "Build breaks when using GOFLAGS="-p=1""
**What happened**:
When building kubernetes from source for 1.10 it was possible to limit the parallel linker calls using GOFLAGS="-p 1". (I understand that the new format is GOFLAGS="-p=1" so I am using that)
With kubernetes 1.11 the build aborts:

[code]

**What you expected to happen**:
The build should complete, using just one process for linking.

**How to reproduce it (as minimally and preci

[2018-10-21 20:17] apelisse commented on #15345
@roycaihw is this fixed? Can we close it? Thanks

[2018-10-21 20:37] everflux commented on #70062
@kubernetes/sig-release-bugs

[2018-10-21 22:08] #64141 closed

[2018-10-21 22:08] #63982 closed

[2018-10-21 23:22] vishal49naik49 opened #70063 "kubectl port-forward fails with incompatible key usage"
kubectl port-forward fails with below error:

error: error upgrading connection: error dialing backend: x509: certificate specifies an incompatible key usage

The kubelet client cert supplied to api service has below auth:

            X509v3 Extended Key Usage:
                TLS Web Client Authentication

User cert has below auth:

            X509v3 Extended Key Usage:
                TLS Web

[2018-10-22 02:00] chenchun commented on #57073
/remove-lifecycle stale

[2018-10-22 02:24] chenchun commented on #57073
/remove-lifecycle stale

[2018-10-22 02:42] Suozz opened #70065 "unable to sync kubernetes service: Endpoints "kubernetes" is invalid"
I deployment k8s on local VMs, but when I start apiserver, the log show this item
 ` unable to sync kubernetes service: Endpoints "kubernetes" is invalid: subsets[0].addresses[0].ip: Invalid value: "169.254.6.1": may not be in the link-local range (169.254.0.0/16)`

[2018-10-22 03:36] changyaowei commented on #69999
Kubelet get node status from apiserver and use it in  predicateAdmitHandler, once ephemeral-storage is zero , we will evict all pods.

![image](https://user-images.githubusercontent.com/12136478/47277048-9b587b00-d5ee-11e8-875a-279aa547c515.png)

[2018-10-22 03:39] changyaowei commented on #69999
Kubelet get node status from apiserver and use it in  predicateAdmitHandler, once ephemeral-storage is zero , we will evict all pods.

![image](https://user-images.githubusercontent.com/12136478/47277048-9b587b00-d5ee-11e8-875a-279aa547c515.png)

[2018-10-22 03:41] changyaowei commented on #69999
Kubelet get node status from apiserver and use it in  predicateAdmitHandler, once ephemeral-storage is zero , kubelet will evict all pods，so ephemeral-storage  can't be zero at any time

![image](https://user-images.githubusercontent.com/12136478/47277110-67318a00-d5ef-11e8-90d9-f91d641b1562.png)

[2018-10-22 03:42] lichuqiang opened #70069 "data lost after update on CRD resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have a CRD resource named ClusterIngress in knative, which is quite similar to Ingress in k8s:
[code]

[code]

[code]

[code]

During an update, I specify an `Ingress` item in the `LoadBalancer`, whose `DomainInternal` field is specified. After update, there is still an item in the `Ingress` array, but value of `Domain

[2018-10-22 03:45] changyaowei commented on #69999
Kubelet get node status from apiserver and use it in  predicateAdmitHandler, once ephemeral-storage is zero , kubelet will evict all pods, so ephemeral-storage can't be zero at any time

[2018-10-22 03:46] changyaowei commented on #69999
Kubelet get node status from apiserver and use it in  predicateAdmitHandler, once ephemeral-storage is zero , kubelet will evict all pods, so ephemeral-storage can't be zero at any time

[2018-10-22 05:06] soggiest commented on #65942
I'm seeing the same thing on Kubeadm v1.11.3 HA on AWS with the `kubernetes.io/aws-ebs` storageClass

[2018-10-22 05:48] xmudrii commented on #66448
/remove-lifecycle stale

[2018-10-22 05:57] chenchun commented on #57073
/remove-lifecycle stale

[2018-10-22 06:18] xmudrii commented on #66448
/remove-lifecycle stale

[2018-10-22 07:41] feiskyer commented on #69996
It's weird that docker doesn't report such error for 17.06 (whose API version is even older). I think the issue is because of version validation inside docker EE: older docker versions only validate minimum version, but 18.03 also validates maximum version.

[2018-10-22 08:06] seunghunee commented on #69743
Can I take this?

[2018-10-22 08:08] mindw commented on #58614
@brancz @astub , We are monitoring ETCD using the k8s proxy (this needs some TLSing though):
[code]

[2018-10-22 08:53] sttts commented on #70069
Can you produce a CRD yaml and an example CR to demonstrate the issue?

[2018-10-22 09:03] MaximProshin commented on #70020
Hi,

The timer will not help in general as
- firstly you must guarantee that the timer is not short enough to not remove connections mistakenly which requires SCTPs send DATA/HB at lest once per that timer
- secondly you must guarantee that the timer is not long enough so that when SCTP pod is lost, the peer doesn't have enough time to send a new INIT because in that case the INIT will keep the co

[2018-10-22 09:04] KomorkinMikhail commented on #70020
@janosi I didn't have any experience with TCP in k8s but I agree that there might be the same issue with TCP as well and it needs to be enhanced as well. I beleive that timeout configuration should not be a common solution.

[2018-10-22 10:07] surajssd opened #70077 "Pods created even when PSP is not defined for the user"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Pods are created even when psp is not defined for the user, but the user ends up creating pods.

**What you expected to happen**:

Pods should not come up with error saying that no PSP found that allows your request.

**How to reproduce it (as minimally and precisely as possible)**:

The user I have created is using foll

[2018-10-22 10:07] surajssd commented on #70077
/sig security

[2018-10-22 10:27] chortels opened #70078 "Is it possible to pass the route of a pod in a yaml file?"
Hi,

Is it possible to insert the route of a pod in a yaml file, so another service knows and could make use of it? I've been looking for examples where this is done but I haven't been able to find them.

Regards.

[2018-10-22 10:28] #44145 closed

[2018-10-22 10:37] zhangxiaoyu-zidif opened #70079 "PV phase varies when execute get PV and edit PV"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

but when edit this PV:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.10
- Cloud provider or hardware configuration:  bare metal
- OS (e.g. from /etc/o

[2018-10-22 10:38] zhangxiaoyu-zidif commented on #70079
/kind bug
/sig cli

[2018-10-22 10:41] zhangxiaoyu-zidif commented on #70079
/kind bug

[2018-10-22 10:45] lichuqiang commented on #70069
Sorry I didn't describe the scenario clearly.
When updating the resource with kubectl manually (i.e. with the patch method), it behaviors well.
And we met the issue when updating resources in controller code, with the `Update` interface of generated kube client (c.ServingClientSet.NetworkingV1alpha1().ClusterIngresses().Update(existing)).

input crd looks like this:
[code]

and CR input looks like

[2018-10-22 11:38] Analyse4 commented on #60884
same with v1.10.0

[2018-10-22 11:59] alcohol commented on #53125
@tallclair does that mean there is no way to have a container exit (with a success state / exit code 0) and be restarted without ending up in the crash loop back-off?

At my current employer we have a range of queue consumers that due to language implementation limitations and other assorted reasons, we gracefully exit after a minute of idle time and restart. While trying to migrate these processe

[2018-10-22 12:01] realrill commented on #60134
Still failing, had to disable gpgcheck as a workaround.
Is there any chance for a fix? I ask it as the issue is close to 1 year old.

[2018-10-22 12:17] surajssd commented on #70077
Update:

[code]

Trying to create a pod fails as expected.

[2018-10-22 12:19] ArchiFleKs opened #70082 "etcdserver: read-only range request took too long with etcd 3.2.24"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When deploying a brand new cluster with either t2.medium (with 4Go RAM) instances or even t3.large (with 8Go RAM) I get errors in ETCD logs :

[code]

**What you expected to happen**:

I expect the logs to be exempt of errors.

**How to reproduce it (as minimally and precisely as possible)**:

Launch a kubeadm cluster wi

[2018-10-22 12:19] ArchiFleKs commented on #70082
/kind bug

[2018-10-22 12:19] ArchiFleKs commented on #70082
/sig api-machinery

[2018-10-22 12:37] janosi commented on #70020
Hello,

I did not mean a k8s specific new timer. I mean the conntrack timers in the kernel: https://github.com/torvalds/linux/blob/84df9525b0c27f3ebc2ebb1864fa62a97fdedb7d/net/netfilter/nf_conntrack_proto_sctp.c#L56
As we can see, conntrack itself has its own timers to supervise SCTP conntrack entries - already now. This is very similar to TCP.
In case of UDP the k8s mechanism was required because

[2018-10-22 12:40] ArchiFleKs commented on #70082
https://github.com/kubernetes/kubeadm/issues/1181

[2018-10-22 12:44] anannaya opened #70083 "Set POD own IP and new hostname to hostaliases"
apiVersion: v1
kind: Pod
metadata:
  name: hostaliases-pod
spec:
  restartPolicy: Never
 hostAliases:
  - ip:
    fieldRef:
      fieldPath: status.podIP
    hostnames:
    fieldRef:
      fieldPath: metadata.name

Is there any way i can do this?

[2018-10-22 12:45] rmohr opened #70084 "Allow modifying CR metadata on status update via modifying webhook"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We want to make use of the `status` subresource for CRs in https://github.com/kubevirt/kubevirt. Since CRs don't allow `fieldSelectors`, we are also setting node names on labels in order to select a subset of existing objects for our daemons, so that the node-daemons do not have to listen on all our CRs of the whole

[2018-10-22 13:04] munnerz commented on #70017
I think this is by design - you should use a ResourceQuota in combination with your LimitRange in order to enforce requests/limits are set: https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-memory-cpu-namespace/#create-a-resourcequota

[2018-10-22 13:09] dims commented on #69983
https://console.cloud.google.com/gcr/images/google_containers/GLOBAL/coredns?gcrImageListsize=50

Looks like this is done :)

/close

[2018-10-22 13:11] KomorkinMikhail commented on #70020
I understand that you are talking about conntrack timers. Regarding SCTP endpoint failure detection: it's not a problem for a remote SCTP to detect failure, but if this remote SCTP doesn't close the connection explicitly (sending ABORT/CLOSE) then conntrack will still contain the entry towards not existing pod. Remote SCTP will send INIT chunk, and conntrack will DNAT it to that pod (conntrack han

[2018-10-22 13:43] mwielgus commented on #10782
VPA is in alpha in https://github.com/kubernetes/autoscaler

[2018-10-22 13:43] #10782 closed

[2018-10-22 13:45] mwielgus commented on #51188
Docs are available here:

https://cloud.google.com/kubernetes-engine/docs/tutorials/custom-metrics-autoscaling

[2018-10-22 13:45] #51188 closed

[2018-10-22 13:53] champashankar opened #70086 "Unable to build peer-finder for all the archs as mentioned in BASEIMAGE file, getting "Temporary failure resolving 'deb.debian.org'""
Repo used- https://github.com/kubernetes/kubernetes/tree/master/test/images/pets/peer-finder

root@platicp1:~/kubernetes/test/images# make all WHAT=pets/peer-finder
./image-util.sh build pets/peer-finder
Building image for pets/peer-finder ARCH: amd64...
make[1]: Entering directory '/root/kubernetes/test/images/pets/peer-finder'
../../image-util.sh bin peer-finder
make[1]: Leaving directory '/root

[2018-10-22 13:54] liggitt commented on #68197
This seems really odd once webhook conversion is introduced. Do you agree that the object sent to and received from the webhook convertor should not serialize `apiVersion: .../__internal`?

Would you envision the convertor for the v1beta1 handler asking the webhook to convert to version v1beta1, then stomping the apiVersion of the object the webhook returned to ".../__internal"? I'd rather identif

[2018-10-22 14:03] gnufied commented on #62917
/lifecycle frozen

[2018-10-22 14:04] gnufied commented on #62917
/remove-lifecycle stale
/lifecycle frozen

[2018-10-22 14:28] deads2k commented on #68197
This seems like a good idea.

[2018-10-22 14:37] jbartosik commented on #69444
On Friday I verified that CPU usage generated by resource consumer stays really close to the target value but oscillates slightly. To fix this I:

- Increase CPU usage in the test (resource consumer is implemented in a way that makes me think that deviation fro target are of a fixed size so higher target would make deviation a smaller percent of the target).
- Lower generated load (the test right

[2018-10-22 14:54] jbartosik commented on #69428
How long did the network outage last?

If it was short I recommend increasing `--horizontal-pod-autoscaler-downscale-stabilization` (the replacement for `--horizontal-pod-autoscaler-upscale-delay`).

If you're worried about long outages I would recommend setting up a [custom metric](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-custom-metrics) (1 if network

[2018-10-22 15:39] lichuqiang commented on #70069
I'm soooooo sorry, it has nothing to do with CRD function.
We had a typo in the annotation of API definition, which leads to the issue.

[2018-10-22 15:39] #70069 closed

[2018-10-22 15:42] nikhita commented on #70069
@lichuqiang no problem, thanks for updating the issue! :)

[2018-10-22 15:53] aanm opened #70088 "Ubuntu kubeadm package has broken dependency on kubernetes-cni (>= 0.6.0), can't be installed"
/kind bug

[code]

It seems to be related with: https://github.com/kubernetes/kubernetes/issues/69489

[2018-10-22 15:59] AishSundar commented on #70088
/cc @tpepper @jpbetz
/sig release

[2018-10-22 16:16] simonferquel opened #70089 "SharedInformer: When a Watch breaks, it should automatically resume"
/kind bug
**What happened**:
Whenever a listener receives an error from its unerlying Watch interface, it stops receiving events, even if the root cause is an intermitent network issue

**What you expected to happen**:
When a watcher reports an error and stops, just recreate one (reusing the latest received resourceRevision). This is doable as to build a shared informer, you don't give an existing

[2018-10-22 16:38] aaronmell opened #70090 "AWS Duplicate Security Group checks failing."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Added loadBalancerSourceRanges configuration. Logs are being spammed with “errorMessage”: “the specified rule \“peer: CIDR, TCP, from port: 443, to port: 443, ALLOW\” already exists”

**What you expected to happen**:
Not to see the logs being spammed with errors trying to add duplicate security groups

**How to reproduce

[2018-10-22 16:38] aaronmell commented on #70090
/kind bug

[2018-10-22 16:41] soltysh commented on #69445
As an example of where we don't default the template we have a CronJob that embeds JobTemplate, we never default that template, only an actual Job gets defaulting. I agree with @kow3ns that not defaulting any templates does make sense.

[2018-10-22 16:49] ruizhipeng opened #70091 "About the statefulset use the same pvc (with subpath)"
/kind feature
/sig storage
If i have a ReadWriteMany pvc in the cluster ,maybe I wanna to mount the same pvc on all of the pods which are controlled by the statefulset. And In the same time I must make the name of pods obey some rules.

[2018-10-22 16:52] daschott commented on #66947
@rkttu @rkttu-devsisters We are ready to distribute the hotfix privately only at this time; the official hotfix is scheduled to come out on 11C (November 27th) under KB4467682 on Windows Server, version 1803. We can give you a private hotfix if you can contact Microsoft or Azure Support and request this hotfix!

[2018-10-22 17:34] mindw commented on #58614
We are successfully monitoring ETCD via the k8s proxy:
[code]
Prometheus RBAC:
[code]

[2018-10-22 17:43] AishSundar commented on #70088
/cc @calebamiles

[2018-10-22 17:56] AishSundar commented on #70088
it seems the deb repo is broken for kubernetes 1.8. Kubernetes `1.8.14` depends on `cni-0.5.1` but `1.8.15` looks like it depends on cni-0.6.0. As per @neolit123 this is a known problem and the solution is to pin the CNI deb version.

@calebamiles is 1.8 too old for a backport fix?

[2018-10-22 18:09] mwwolters opened #70093 "Allow Master Components to Run as Non-Root User"
/kind cleanup
/sig auth
/sig gcp

By default, many of the master component [containers](https://kubernetes.io/docs/concepts/overview/components/) are run as root while only requiring minimal permissions.

- kube-addon-manager ([manifest](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/kube-addon-manager.yaml))
  - reads addon manifests from /etc/kubernetes
  - writes log

[2018-10-22 18:13] HaveFun83 commented on #69048
We see the same issue:
Node IP is 10.6.10.5 from eth2 but the liveness and readiness probes use the ip from eth1 10.5.10.5 which can not reach the pod ip
k8s 1.10.2 with calico as network plugin

[2018-10-22 18:21] surajssd opened #70095 "Group binding `system:serviceaccounts:kube-system` binds to all serviceaccounts clusterwide"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I am creating a ClusterRoleBinding which binds to all the namespaces across cluster.

**What you expected to happen**:

It should only bind to ServiceAccount in `kube-system` namespace.

**How to reproduce it (as minimally and precisely as possible)**:

- Start cluster with admission plugin `PodSecurityPolicy`

- Create

[2018-10-22 18:38] #62053 closed

[2018-10-22 18:38] jek-a opened #70096 "'kubeadm init --config <file>' does not apply 'mode: "ipvs"'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
creates configmap for 'kube-proxy' with **mode: " "** instead of **mode: "ipvs"** when you include this flag in config file.

[code]
**What you expected to happen**:
Create configmap for 'kube-proxy' with **mode: "ipvs"** when you include this flag in config file.

**How to reproduce it (as minimally and precisely as possible

[2018-10-22 18:45] janosi commented on #70020
According to the Linux kernel the kernel level SCTP implementation aborts the association when the number of max retransmissions reaches the max threshold. It is like that since 3.8, the relevant patch: https://patchwork.ozlabs.org/patch/200493/

A discussion about it from a later time: http://lkml.iu.edu/hypermail/linux/kernel/1501.2/05029.html
According to this e.g. BSD also follows this behavio

[2018-10-22 18:48] #69983 closed

[2018-10-22 18:50] davidhao3300 commented on #58793
this was addressed in https://github.com/kubernetes/kubernetes/pull/59284

[2018-10-22 18:50] #58793 closed

[2018-10-22 18:52] davidhao3300 commented on #69953
Would be great to have a pod-wide default if possible. In the mean time, I'm opening an issue with istio to customize annotations of the sidecar container as a workaround

[2018-10-22 18:55] jek-a commented on #70095
Shouldn't you use 'Role' instead of 'ClusterRole'?
Here is the difference:
A Role can only be used to grant access to resources within a single namespace.
A ClusterRole can be used to grant the same permissions as a Role, but because they are cluster-scoped, they can also be used to grant access to:

cluster-scoped resources (like nodes)
non-resource endpoints (like “/healthz”)
namespaced resource

[2018-10-22 18:56] tallclair commented on #69953
Yeah, agreed. I think that is blocked on migrating the annotations to fields, which we should prioritize soon.

[2018-10-22 19:34] neolit123 commented on #70088
pinning the version of kubernetes-cni during install can fix this.
@aanm does that work for you?
https://github.com/kubernetes/kubernetes/issues/69489#issuecomment-427585842

questioning if we should address a patch release due to this bug - i.e. definitely messy, but not a security  issue.

[2018-10-22 19:45] pablojmarti commented on #44273
I am also running into this same issue

[2018-10-22 19:45] lavalamp commented on #64333
Followup to my comment above (https://github.com/kubernetes/kubernetes/issues/64333#issuecomment-392934983):

As part of apply, we've developed the concept of "field sets"; we will be using this to track which fields the user deliberately set (and implicitly, which were defaulted). We *probably* will use this to indicate in the object which fields each mutating webhook set--we haven't written that

[2018-10-22 19:46] simonferquel commented on #70089
/sig api-machinery

[2018-10-22 20:21] jek-a commented on #70096
Closing this bug, cause it should be submitted to https://github.com/kubernetes/kubeadm

[2018-10-22 20:21] #70096 closed

[2018-10-22 20:31] neolit123 commented on #70088
@aanm
yes, the experiment is to try pinning the required version.

[2018-10-22 20:34] vladimirvivien commented on #65773
@RenaudWasTaken can you clarify here which of the followings will make it to 1.13 and thus graduate to GA ?

  [ ] Design a mechanism that protect against a device plugin flooding the API [owner: TBD]
  [ ] Design and gather Security/authentication requirements [owner: TBD]

As we discussed #2 an #3 will come later right ?

[2018-10-22 21:01] neolit123 commented on #70058
sent new PR https://github.com/kubernetes/test-infra/pull/9884
might get merged once github is back on track.

[2018-10-22 21:16] #51422 closed

[2018-10-22 21:32] jingxu97 commented on #53059
@christensen143, looks like your data-volume is not attached. if you can access the kube-controller-manager log on the master, it should print out the detained message related to why it failed to attach the volume.

[2018-10-22 21:35] PatrickLang commented on #69996
@madhanrm @daschott @dineshgovindasamy  - what do you think about setting the requested Docker API to v1.30 (used in Docker EE-basic 17.06)? Do any of the networking changes require a higher Docker API version?

[2018-10-22 21:38] smarterclayton commented on #69445
Agree to only default this in pods.  Agree to adding the comment.

Most important defaulting happens in pods to keep higher level pod specs simpler.  We may need to raise the general pattern in a discussion with api review in general, since this is a change from previous strategy, but the previous strategy was not explicitly chosen (to my recollection at least)

[2018-10-22 21:39] Jarch09 commented on #69915
Thanks for the reply - appreciate the help.

Here's the container:
[code]

The manifest is from `KOPS`

The memory for the offending pods is now ~1.4GiB (still linear increase). Your suggestion that maybe it's just a steady increase in events sounds plausible, and I'll look into this. Does etcd purge stored events at any point, or is this just going to continue building up forever?

[2018-10-22 22:32] #64336 closed

[2018-10-22 22:34] shubb30 commented on #66757
I am seeing this same problem in 1.12.0.

@gucki, what is the format of the Secret supposed to be?  I created the client key using the same command as the example from https://kubernetes.io/docs/concepts/storage/storage-classes/#ceph-rbd and I am getting the same error.  The pvc is getting created, so it looks like the admin secret is working, but the client bind does not work.

The pvc details

[

[2018-10-22 22:44] AishSundar commented on #69445
Hi all do we have an agreed path forward for fixing this issue in 1.13? if so can we have an ETA for the fix to land? the release team would like for the tests to get passing in the blocking suites in an effort to unmask any other failures that might show up once these are fixed.

/assign @kow3ns

[2018-10-22 22:47] mortent commented on #69445
We have a PR with a fix that will hopefully merge today or tomorrow. I will keep an eye on the dashboard to make sure it fixes the failing daemonset tests.

[2018-10-22 23:48] vladimirvivien opened #70103 "CSI - kubelet plugin watcher DeRegister method implementation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When the Kubelet plugin watcher invokes `RegistrationHandler.Deregister(<plugin_name)` method, right now the CSI code does nothing (method is not implemented).

**What you expected to happen**:
When the Kubelet plugin watcher no longer detects the socket file for a given driver, it invokes the `DeRegister` method on the C

[2018-10-22 23:48] vladimirvivien commented on #70103
/assign

[2018-10-23 00:10] mikedanese opened #70104 "Remove configurability of --service-account-api-audiences"
Should we remove the configurability of `--service-account-api-audiences` and use a const such as `https://kubernetes.default.svc`?

This allows us to easily extend TokenReview to support validation of arbitrary audiences and would provide a portable name kube API name across clusters to use as part of authentication. However, it would restrict the flexibility of deployments where the service acco

[2018-10-23 00:31] jberkus commented on #69356
I'm escalating this issue to critical-urgent.

At this point, not resolving this is keeping us from verifying the upgrade tests.  Because the Daemonsets have been failing for weeks, at this point we don't know what other upgrade test job failures that may be masking, and whether any of the other test flakes are related to the Daemonset failure.  This needs to be resolved, ASAP.

/priority critical

[2018-10-23 00:34] #64345 closed

[2018-10-23 00:39] jberkus commented on #69356
/remove-priority important-soon

[2018-10-23 00:39] jberkus commented on #70058
Reopening, because the test isn't passing *yet*.

/reopen

[2018-10-23 01:06] neolit123 commented on #70058
true, i was almost sure that the solution in that last PR won't be sufficient...

[2018-10-23 01:10] ticpu commented on #37450
I could not find where in the doc this is expected; https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-readiness-probes

I was also expecting the behaviour you mentioned in your original issue.

That is what I understood from the name (and documentation) of the probes.
Readyness probe starts after initialDelaySeconds, tries again each periodSeconds

[2018-10-23 01:13] ticpu commented on #70078
What kind of route?  If it is an IP route, it feels like that should go into your router or network plugin.

[2018-10-23 01:28] #69219 closed

[2018-10-23 01:35] dims commented on #68322
This is a piece of code used during testing.

/close

[2018-10-23 01:35] #68322 closed

[2018-10-23 01:37] dims commented on #22121
closing since kubernetes/website#6259 has merged

/close

[2018-10-23 01:37] #22121 closed

[2018-10-23 01:40] dims commented on #63704
Also see https://github.com/kubernetes/kubernetes/issues/30603

[2018-10-23 01:40] dims commented on #30603
Also see https://github.com/kubernetes/kubernetes/issues/63704

[2018-10-23 01:42] dims commented on #69523
/close

@liukaii please reopen when you are ready

[2018-10-23 01:42] #69523 closed

[2018-10-23 01:43] dims commented on #69216
/close

this should have been fixed in 1.12.1

[2018-10-23 01:43] #69216 closed

[2018-10-23 01:45] dims commented on #68840
time to close this since we already released 1.12.1

/close

[2018-10-23 01:45] #68840 closed

[2018-10-23 01:47] dims commented on #68325
/sig cli
/remove-sig release

[2018-10-23 01:48] mojo-zd opened #70108 "how to label the custom labels to container of kubernetes pods"
**kubernete version**
`
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:"clean", BuildDate:"2017-12-21T06:34:11Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeS

[2018-10-23 01:48] dims commented on #68326
/sig network
/remove-sig release

[2018-10-23 01:49] surajssd commented on #70095
/sig auth

[2018-10-23 01:49] dims commented on #68328
cc @resouer
/remove-sig release
/sig node

[2018-10-23 01:50] dims commented on #68332
/sig node
/sig scheduler
/sig storage
/remove-sig release

[2018-10-23 02:03] feiskyer commented on #69892
/milestone v1.13

[2018-10-23 02:03] feiskyer commented on #51540
/milestone v1.13

[2018-10-23 02:04] feiskyer commented on #65016
/milestone v1.13

[2018-10-23 02:04] feiskyer commented on #69938
/milestone v1.13

[2018-10-23 02:43] AishSundar commented on #69445
Thanks @mortent. Can we link the PR here plz.

/cc @jberkus

[2018-10-23 02:48] jberkus commented on #69445
Reopening, because of the auto-close.  Tests are not passing yet.

/reopen

[2018-10-23 02:48] AishSundar commented on #69356
@jberkus https://github.com/kubernetes/kubernetes/pull/69988 which just merged claims to fix this issue. lets watch for the next run.

[2018-10-23 02:49] AishSundar commented on #67903
https://github.com/kubernetes/kubernetes/pull/69988 just merged and it claims to fix this issue,. lets watch for the next run

[2018-10-23 02:54] mortent commented on #69445
PR that should (hopefully) close this issue is here: https://github.com/kubernetes/kubernetes/pull/69988

[2018-10-23 02:56] wgliang commented on #69769
/remove-help

[2018-10-23 02:56] wgliang commented on #69769
/assign

[2018-10-23 03:11] gnufied commented on #69502
So as I understand - same driver running on same node can have different total capacity depending on storageclass? So, we want total capacity on node and storage class granularity. I think, there is a desire to make capacity reporting (including volume limits) more fluid rather than string based API of key/value that exists today.

I think, we need to talk to scheduler folks about as well about ho

[2018-10-23 03:11] gnufied commented on #69502
/sig scheduler

[2018-10-23 04:14] andrewsykim commented on #69341
/assign @aoxn

(already discussed with Nishi about assigning this to someone else)

[2018-10-23 04:33] dghubble opened #70113 "kube-proxy IPVS spurious logs removing IPv6 address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area ipvs
/area ipv6

**What happened**:

`kube-proxy` with IPVS mode creates a `kube-ipvs0` interface for binding service IPs.

[code]

kube-proxy periodically [tries to unbind](https://github.com/kubernetes/kubernetes/blob/v1.12.1/pkg/proxy/ipvs/proxier.go#L1583) addresses it doesn't know about from the interface. It tries to

[2018-10-23 04:34] dghubble commented on #70113
The error message from `ip` is a little vague. Hop on a node to help out `kube-proxy` with its deletion.

[code]

This gives a clue about where `kube-proxy` goes wrong. With IPv4 addresses, leaving off the `/N` is permitted (though with a scary warning).

[code]

With more verbose logging, we see the mask was stripped before calling  [netlink](github.com/vishvananda/netlink)'s [AddrDel](https://go

[2018-10-23 04:37] mikedanese opened #70115 "stress ServiceAccountProjectedVolume in kubemark"
/sig auth
/kind cleanup

[2018-10-23 04:38] #64295 closed

[2018-10-23 04:39] yue9944882 commented on #70089
it is designed. but once the listerwatcher exits (with an error or rv confliction or whatever..), the reflector will try another list-watch within 1 sec. and we only recreate a watch on `connection refused` return code.

[https://github.com/kubernetes/kubernetes/blob/dbdcb7e053e13b59538a5317b3ccddbfe06ba5e3/staging/src/k8s.io/client-go/tools/cache/reflector.go#L132-L136](https://github.com/kuberne

[2018-10-23 04:58] krmayankk opened #70116 "When Node is out of Extended Resource, the Pod still gets scheduled on that Node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Specified an extended resource on node A as follows:-
[code]
 Created a Deployment requesting the resource as follows:-
[code]
Pod gets scheduled on Node A but fails with the following error:-

[code]

**What you expected to happen**:
 I expected the pod to remain Pending when the node was out of extend resource.

**How to reproduce

[2018-10-23 04:59] krmayankk commented on #70116
/sig scheduling

[2018-10-23 04:59] krmayankk commented on #70116
@kubernetes/sig-scheduling-bugs

[2018-10-23 05:30] xnike opened #70118 "k8s.gcr.io/fluentd-elasticsearch:v2.2.1 does not exist."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig scheduling

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):

[2018-10-23 06:18] lostz commented on #69503
+1

[2018-10-23 06:35] heinrichbeukes commented on #23273
Had the same error, couldn't see why the code yaml was broken, so I added the --validate=false flag, and the script executed normally.

it's not a fix but it helps 2AM in the morning

[2018-10-23 06:35] idealhack commented on #70083
This looks like a user support question.

Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address

[2018-10-23 06:35] #70083 closed

[2018-10-23 06:43] MaximProshin commented on #70020
Sending of ABORT is not a guarantee either. RFC4960 doesn't require to send ABORT. Even if all SCTP implementations support it, ABORT might be lost in the network.

[2018-10-23 06:53] surajnarwade commented on #58640
@rramkumar1, @nikhita  , can you point me to the manifests related to GCE, I am little bit confused which one are the GCE related.

I would like to work on this :smile:

[2018-10-23 07:02] rmohr commented on #70084
/sig api-machinery
/area custom-resources

[2018-10-23 07:10] damozhiying opened #70120 "how to enable cAdvisor in kubernetes"
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:53:20Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", Build

[2018-10-23 07:36] cben commented on #58414
https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility says for strategic-merge-patch / CRDs column: "No, but similar functionality planned".  Should this be updated to "No" or "Not planned"?

[2018-10-23 07:40] andyzhangx commented on #69904
volume on windows does not support `read-only` now, it's all mounted as readwrite

[2018-10-23 08:01] surajssd commented on #70095
If I create a RoleBinding `privileged-psp-cluster-admins` then the permission is contained to that namespace and does not go beyond that.

[code]

But ClusterRoleBinding should also have worked, technically.

[2018-10-23 08:29] simonferquel commented on #70089
After careful analysis of logs against known workloads, it seems we are seing this particular AKS bug: https://github.com/kubernetes/kubernetes/issues/66153

The "funny" part is that their proxy bug seems very tricky: it seems to break the connection from the proxy to the API server, but not from the client to the proxy. So when the timeout happens, from the client side, you have a time window of

[2018-10-23 08:41] justlooks opened #70122 "Error: client: etcd cluster is unavailable or misconfigured"
i use k8s 1.11.3 ,and i find i can not use etcdctl ,when i login in the pod of etcd

[code]

[2018-10-23 08:59] Simonot commented on #69158
Hello,

I have a little more time to work on this, so I will try to make working the tests on my machine, then add a tests describing my issue (with a failed attach) and make a pull request with the test that should (for my understanding) pass.

Regards

[2018-10-23 09:04] haf commented on #58238
/remove-lifecycle stale

But I can't keep doing this, against a computer, so I'm closing this issue even though the premise; "what kubectl container to use?" is still unanswered. Here are options:

 - https://github.com/GoogleCloudPlatform/cloud-builders (see kubectl folder)
 - https://github.com/wernight/docker-kubectl

[2018-10-23 09:04] #58238 closed

[2018-10-23 09:50] mlmhl commented on #69502
Are these capacities (including volume limits) still reported by kubelet? If so, I think we also need to talk to sig-node folks to determine the exactly format of these capacities.

[2018-10-23 10:03] yue9944882 commented on #70089
that shouldn't happen. the disconnection between server/proxy should propagate to client/proxy. what proxy are you using exactly?

[2018-10-23 11:03] qinzhao168 commented on #21022
I got same problem

kubrnetes v1.7.6
Oct 23 16:46:13 proxy-20-85 kubelet: ERROR:1023 16:46:13.368356 20189 fsHandler.go:121] failed to collect filesystem stats - rootDiskErr: du command failed on /var/lib/docker/overlay/d51547060ed033432b622fffdaf6f5bca0dd042e4e37334b61b9fcea9e3c2837 with output stdout: , stderr: du: cannot access ‘/var/lib/docker/overlay/d51547060ed033432b622fffdaf6f5bca0dd042e4e

[2018-10-23 11:29] neolit123 commented on #70120
hi, please try our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2018-10-23 11:29] #70120 closed

[2018-10-23 11:29] neolit123 commented on #70108
hi, please try our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2018-10-23 11:29] #70108 closed

[2018-10-23 11:30] neolit123 commented on #70086
/sig release
/kind bug

[2018-10-23 11:31] neolit123 commented on #70078
hi, please try our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2018-10-23 11:31] #70078 closed

[2018-10-23 11:34] mcortinas commented on #7890
no plans if we can avoid gcsfuse in order to mount volumes GCS?

I think should be very useful for the customers if we can use GCS such as these other kind of volumes https://kubernetes.io/docs/concepts/storage/volumes/#types-of-volumes

[2018-10-23 11:42] Multiply commented on #42649
We're also very interested in getting something going on this issue.
It has hit us in various production environments already. The hard limit on 100 schedules is super frustrating, and I'd love for that to be configurable.

Let me know if we can do something, to get some traction on the issue. I'd also love to contribute code if need be.

[2018-10-23 11:46] neolit123 commented on #70065
169.254.6.1 is in the link-local range and it's not allowed as en endpoint.
[code]
https://en.wikipedia.org/wiki/Link-local_address

for further questions please try the support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2018-10-23 11:46] #70065 closed

[2018-10-23 11:47] neolit123 commented on #70063
you might not get a response here, because this is the bug and feature tracker.

please try the support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

thanks
/close

[2018-10-23 11:47] #70063 closed

[2018-10-23 12:05] dims commented on #69776
The following are covered in #69976
[code]

[2018-10-23 12:52] nikopen commented on #69938
/priority important-soon

[2018-10-23 12:57] nikopen commented on #65016
/priority important-soon

[2018-10-23 12:57] nikopen commented on #69367
/priority important-soon

[2018-10-23 12:58] dims commented on #23273
long-term-issue (note to self)

[2018-10-23 13:05] skynardo commented on #42649
I ended up changing the schedule for our cronjobs that run in the environments that get shut down nightly so that they only run from 7am to 5pm M-F. This keeps the cronjob from getting into this state where it must be recreated.
Example:
schedule: '*/5 12-22 * * 1-5'

[2018-10-23 13:12] marc-sensenich opened #70126 "Cloud Controller Manager Unable to Split Provider ID for VM in Availability Set in Azure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a Kubernetes 1.12.1 cluster in Azure with Availability Set backed masters and VMSS backed agents, the cloud-controller-manager is unable to parse the ProviderID returned by the Azure SDK.

[code]

**What you expected to happen**:

The providerID should be split and the cloud-controller-manager should be able

[2018-10-23 13:12] marc-sensenich commented on #70126
/sig azure

[2018-10-23 13:15] uditalias commented on #39261
@ZPerling did you managed to find out?

[2018-10-23 13:45] k82cn commented on #70116
Did you test 1.10 + ? AFAIK, we do not support 1.9 anymore.

[2018-10-23 14:28] pohly commented on #69367
@jsafrane A different implementation for making SkipAttach parallel is in https://github.com/kubernetes/kubernetes/pull/69868 - the main focus there was on deployment on drivers from manifests, but because it does that with renaming, the SkipAttach tests no longer has to run sequentially without changing anything in the test itself.

[2018-10-23 14:28] dims commented on #70118
Latest is 2.3.1
- https://console.cloud.google.com/gcr/images/google_containers/GLOBAL/fluentd-elasticsearch?gcrImageListsize=50
- https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/Makefile#L19

Thanks,
Dims

/close

[2018-10-23 14:28] #70118 closed

[2018-10-23 14:36] dims commented on #70082
/area etcd

[2018-10-23 14:57] dims opened #70130 "deprecate / remove md5 signatures for shipped binaries"
_From @dims on September 21, 2018 18:41_

in https://github.com/kubernetes/release/pull/630 we are adding sha512, during review we asked if we really needed both md5 and sha1 or if we just drop say md5?

_Copied from original issue: kubernetes/release#635_

[2018-10-23 14:57] dims commented on #70130
_From @tpepper on September 21, 2018 18:58_

There really shouldn't be anything depending on either of md5 or sha1 anymore.  We should make this change early in the 1.13 cycle (like day 1) and fix up anything that breaks.

Already identified is https://github.com/kubernetes/repo-infra/blob/84d52408a061e87d45aebf5a0867246bdf66d180/defs/build.bzl#L99-L104

[2018-10-23 14:58] dims opened #70131 "Reproducible builds"
_From @dims on September 21, 2018 21:4_

Please see https://reproducible-builds.org/ specifically https://reproducible-builds.org/docs/ on ideas about how to do deterministic builds. When we get a chance, we should try to examine how far away we are from this goal and what our blockers are.

Thanks,
Dims

_Copied from original issue: kubernetes/release#637_

[2018-10-23 14:58] dims commented on #70131
_From @bmwiedemann on September 22, 2018 5:44_

Latest state can be seen in
http://rb.zq1.de/compare.factory/kubernetes-compare.out for openSUSE
https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/kubernetes.html

[2018-10-23 14:58] dims commented on #70131
@bmwiedemann i can't seem to tell if the results are from the latest k8s releases. if not is there a way to trigger these for say the v1.12-rc1 please?

[2018-10-23 14:58] dims commented on #70131
_From @bmwiedemann on September 22, 2018 20:2_

openSUSE's diff is from 1.11.1 (and we do have SOURCE_DATE_EPOCH set)

Going to 1.12 is not that easy, because my reproducibility-test tools are designed around building of packages and there are usually so many changes and build is so slow (~20 minutes per try) that it can take hours to get right.

However, IMHO it would be a good start to find out

[2018-10-23 14:58] dims commented on #70131
gotcha thanks @bmwiedemann

[2018-10-23 14:58] dims commented on #70131
@bmwiedemann please see https://github.com/kubernetes/kubernetes/pull/68983 to see if it fixes the man page issue

[2018-10-23 14:58] dims commented on #70131
On the buildid problem, looks like we may have to wait for next versions of golang:
https://github.com/golang/go/issues/16860

See for example how others are trying to think about the same problem:
- https://github.com/status-im/status-go/issues/1185
- https://blog.filippo.io/reproducing-go-binaries-byte-by-byte/

[2018-10-23 14:58] dims commented on #70131
We need to update k/release anago scripts to set `SOURCE_DATE_EPOCH` and save the information somewhere (in generated tarballs? release notes?)

[2018-10-23 14:58] dims commented on #70131
_From @bmwiedemann on September 26, 2018 4:30_

regarding random build-ids:
https://blog.filippo.io/reproducing-go-binaries-byte-by-byte/ seems to imply that it is already possible to generate reproducible go binaries and indeed our openSUSE "docker" package is already reproducible (we always build in the same path)

strace showed me

execve("/usr/lib64/go/1.10/pkg/tool/linux_amd64/compile", ["/us

[2018-10-23 14:58] dims commented on #70131
@bmwiedemann i could get reproducible builds with latest master. PR is here. here's what i had to do.
- `make quick-release` builds stuff inside a docker container, so we control a lot of the things including go version, paths etc.

But that was not enough. then i had to add `trimpath`
- https://github.com/kubernetes/kubernetes/pull/69003/commits/1f74a33790ce5112e4eac622e10be56819058dff#diff-dac3f

[2018-10-23 14:58] dims opened #70132 "Signing releases with GPG keys"
_From @dims on September 21, 2018 20:58_

I'd like us to sign release artifacts using GPG keys. Here's how other foundations do it:

- https://www.apache.org/dev/release-signing.html
- https://docs.openstack.org/infra/system-config/signing.html
- https://wiki.openstack.org/wiki/OpenPGP_Web_of_Trust
- https://releases.openstack.org/#cryptographic-signatures

Ideally we would build a web of trust in

[2018-10-23 14:58] dims commented on #70132
_From @philips on October 3, 2018 21:56_

Also related @ajeddeloh has been working on a YubiKey HSM backed signing server: https://github.com/coreos/fero

[2018-10-23 14:58] dims commented on #70132
_From @ajeddeloh on October 3, 2018 22:7_

Credit where it's due: @csssuf did the implementation, I just got it set up and deployed. It requires a pair of servers with a yubiHSM loaded with the secrets. If there's interest in using it, I can help with setup. It allows for setting thresholds such that you can specify "You need 100 points of signatures" where different users can have different weigh

[2018-10-23 14:58] dims commented on #70132
_From @philips on October 4, 2018 23:7_

@dims what is signing the apt package releases? https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl

[2018-10-23 14:58] dims commented on #70132
@philips

The Google Cloud Packages Automatic Signing Key id  is`ba07f4fb` and belongs to email id (gc-team@google.com), So i think it's setup in the Anago/GCB release harness that we cannot see. (part of the stuff we need to bring out from behind the screen when we move to CNCF)

Thanks,
Dims

[2018-10-23 15:08] nikopen commented on #69892
/priority important-soon

[2018-10-23 15:09] slpcat commented on #69213
it can work now , this is the yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-web
  namespace: default
  labels:
    app: example-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example-web
  template:
    metadata:
      labels:
        app: example-web
    spec:
      securityContext:
        sysctls:
        - name: net.ipv4.tcp_syncookies
          value: "0

[2018-10-23 15:09] #69213 closed

[2018-10-23 15:14] mati865 commented on #59078
/remove-lifecycle rotten

Still valid with version 1.12.1.

[2018-10-23 15:22] jberkus commented on #69891
/close

[2018-10-23 15:22] #69891 closed

[2018-10-23 15:33] ashleyschuett commented on #70037
Hey I'm curious if anyone has gotten a chance to look at this ticket? I would love to take a stab at making a PR with a bug fix. But before doing that I wanted to confirm that it is in fact a bug, and not that GCP now expects clusters to be using route tables.

@kubernetes/sig-gcp-bugs

[2018-10-23 15:34] jberkus opened #70133 "All GKE tests failing staring with 4d182cec0"
Starting with merge 4d182cec0, all GKE-releated blocking tests started failing.

Example failures: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/18413
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/33151

Changes here: https://github.com/kubernetes/kubernetes/compare/46ec13cf7...4d182cec0

Given that th

[2018-10-23 15:49] dims commented on #70037
@cheftako please take a peek at this issue

[2018-10-23 15:50] mikedanese commented on #70133
I just brought up master in a few days old version of GKE so I suspect it wasn't anything in opensource that broke GKE. I'll continue to investigate and maybe hand off.

[2018-10-23 15:53] Simonot opened #70134 "Unable to test scenario when Mount call on FakeVolume fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This issue is related to https://github.com/kubernetes/kubernetes/issues/69158
When trying to add a test scenario that should fail to confirm my assumption of something not being correctly done, I cannot make the Attach call fail, because the retry is made with a new FakeVolume instead of the same one.
https://github.com

[2018-10-23 16:08] franck102 commented on #64586
Has anyone any further troubleshooting steps for this?
My DNS pod is healthy and other pods reach it fine, I can resolved external names but nothing under svc.cluster.local.
The 2nd command mentioned above fails for me:

[code]
This only happens intermittently, typically after restarting minikube. Restarting the kube-dns pod doesn't help.

[2018-10-23 16:17] dims commented on #70132
/sig release

[2018-10-23 16:17] dims commented on #70131
/sig release

[2018-10-23 16:17] dims commented on #70130
/sig release

[2018-10-23 16:33] #69570 closed

[2018-10-23 16:33] marc-sensenich commented on #70126
When switching over to vmType `standard` the following was encountered; `I1023 16:31:33.198066       1 azure_instances.go:122] NodeAddressesByProviderID: omitting unmanaged node "azure:///subscriptions/***/resourceGroups/***/providers/Microsoft.Compute/virtualMachines/master-0`

[2018-10-23 16:35] mcrute commented on #69585
@yastij are you still working on `pkg/crednetialprovider/aws`? Mind if I take that?

[2018-10-23 17:05] bmcstdio commented on #69776
The following are covered in #70136:

[code]

[2018-10-23 17:08] franck102 commented on #64586
Solved... my pods were pointing at the DNS server running on the Minikube VM, not at kube-dns, so this is a minikube problem on restart.

As a side note in case that helps someone, changing the "-v=2" arguments in the kube-dns deployment spec is all it takes to see kube-dns actually creating its records as it detects services and pods.

[2018-10-23 17:38] dims opened #70137 "Decide what to do with conformance tests that need privileged mode"
Based on findings in:
- https://github.com/kubernetes/kubernetes/issues/59978
- https://github.com/kubernetes/kubernetes/pull/69935#issuecomment-432340200

We have SIG-Storage tests that have been coded to use `privileged` mode when they do not really need the `privileged` mode. These tests only fail under SELinux *if* `privileged` mode is set to false. So what can we do now?

- Option 1 : Nudge S

[2018-10-23 17:48] sbeckwithiii commented on #64586
Update on our story. It seems we were partially overload Kube-DNS plus there was a bug in the GKE provided DNS server. So updating our Kube-DNS configmap alleviated the issue, then the GKE team supplied a new DNS configuration for their managed services which likely would resolve the issue for us without making the kube-dns changes.

However, I realize this is the Kubernetes repo and anyone who is

[2018-10-23 17:53] liggitt commented on #69590
opened https://github.com/kubernetes/kubernetes/pull/70138 to fix the optional indicator and added a test to make sure the transport created from that config uses default rootca bundle and is not made insecure

[2018-10-23 18:11] foxish opened #70139 "Release-1.11 kubeadm tests failing"
This is blocking 1.11.4 from being released.

http://k8s-testgrid.appspot.com/sig-release-1.11-blocking#kubeadm-gce-1.11
http://k8s-testgrid.appspot.com/sig-release-1.11-blocking#kubeadm-gce-1.10-on-1.11

cc @kubernetes/sig-cluster-lifecycle @kubernetes/sig-release-bugs

[2018-10-23 18:28] tsunamireversal commented on #55232
I have same issue, I'm trying to understand...
Are you saying that we should manually label nodes as "master" if we want them to behave as master nodes after joining? That they won't do that by themselves?

[2018-10-23 18:44] omarvsoft opened #70142 "The status of Pods from a single node is inconsistent. The value of the fields can change in a few seconds."
**Is this a BUG REPORT or FEATURE REQUEST?:**

 /kind feature

**What happened**:

Hi team!

One of my worker nodes shows inconsistency in pod status. I'm using kubectl to do the query, some pods are shown in "Running" status and a few minutes later in status "ImagePullBackOff" or "Pending", also the Ip can be "10.47.0.18" in the first query and soon after it changes to **"10.44.0.25"** then a few

[2018-10-23 18:46] neolit123 commented on #70139
/assign @neolit123

[2018-10-23 18:47] neolit123 commented on #70139
related PRs:
https://github.com/kubernetes/kubernetes/pull/70141
https://github.com/kubernetes/test-infra/pull/9897

[2018-10-23 18:49] neolit123 commented on #70058
/assign

[2018-10-23 19:08] jberkus commented on #69444
Re-opening because we just had another flake last night:

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial

/reopen

[2018-10-23 19:10] morenoh149 commented on #10735
/remove-lifecycle stale

[2018-10-23 19:32] #66474 closed

[2018-10-23 19:37] yastij commented on #69585
Didn’t start yet, feel free if you can send a PR before the end of the week

[2018-10-23 19:44] liggitt commented on #70095
Granting permission to all service accounts in the kube-system namespace means you granted permission to all of the serviceaccounts used to run controller manager loops.

If the pod's service account *or* the API user creating the pod has the ability to use a PodSecurityPolicy, the pod is allowed.

See https://kubernetes.io/docs/concepts/policy/pod-security-policy/#authorizing-policies for details

[2018-10-23 19:44] liggitt commented on #70095
/close

[2018-10-23 19:44] #70095 closed

[2018-10-23 20:00] chiefy commented on #57691
adding on to @yjimk said, I had to use `1.8.x` of kubernetes + apimachinery to work w/ client-go `5.0.1`

[2018-10-23 20:43] wenjiaswe opened #70143 "Lack of mTLS between kube-apiserver and etcd-client on GCE master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
On GCE, the communication between etcd-client port and apiserver is NOT encrypted by mTLS by default.

**What you expected to happen**:
Enable mTLS between etcd client and kube-apiserver on GCE.

**How to reproduce it (as minimally and precisely as possible)**:
cluster/kube-up.sh, kube-apiserver does not have "etcd-ca

[2018-10-23 20:48] wenjiaswe commented on #70143
/assign

[2018-10-23 20:52] #69590 closed

[2018-10-23 20:58] dims opened #70145 "Some commands do not show glog flags"
[code]

Same problem with the non hyperkube binaries too:
[code]

[2018-10-23 20:58] dims commented on #70145
/sig cli

[2018-10-23 21:00] GregSilverman commented on #63900
Thanks! This problem was driving me nuts! I had to redeploy coredns three times before it started working. Also had to upgrade kubeadm on my master node. Insanity!

[2018-10-23 21:14] wenjiaswe commented on #63316
@jhoch-palantir So sorry for the late reply. I think this PR #65027 might have fixed the issue. It's in release-1.12. Please let me know. If it's still an issue I will get back and work on it. Thanks!

[2018-10-23 21:18] dims commented on #70145
/good-first-issue

[2018-10-23 21:23] mdaniel opened #70146 "scheduler 1.12.1 sigsegv with nil pointer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig scheduling

**What happened**:

[code]

**What you expected to happen**:

If the scheduler was expecting something to happen that did not, it should emit a log message rather than a nil pointer that doesn't help anyone know any kind of corrective action to take

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2018-10-23 21:44] redhatromero commented on #29540
Trying aforementioned suggestions.... please do not close yet.

[2018-10-23 22:00] sheerun opened #70147 "Introduce ClusterSecret for (among others) wildcard certificates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Details**

In cert managers developers are [struggling to deploy](https://github.com/jetstack/cert-manager/issues/494) wildcard certificates that can be shared among applications in different namespaces. A natural solution to this would be introduction of `ClusterSecret` in similar spirit to `ClusterIssuer` or `ClusterRole`.

This is

[2018-10-23 22:13] sheerun commented on #57325
Referencing alternative solution: https://github.com/kubernetes/kubernetes/issues/70147

[2018-10-23 22:31] frankgu968 commented on #34583
Are there any workaround for Amazon EKS to address the above issue?

I am trying to make a multi-az JupyterHub deployment and changing zones causes the "no available volume zone" error...

[2018-10-23 22:31] #69011 closed

[2018-10-23 22:38] sheerun commented on #70147
I guess valid question about `matchLabels` and `matchExpression` would be: How to prevent owners of namespaces from changing namespace labels to gain access to gain access to ClusterSecret they are not allowed to access.

And I guess the answer is: `matchLabels` and `matchExpressions` should be used mainly for exposing ClusterSecret to some subset of namespaces without security guaranees in non-rb

[2018-10-23 22:55] jberkus commented on #69989
@ravisantoshgudimetla  hey, any progress on this?  It's still broken in the test.

[2018-10-23 22:57] jberkus commented on #69989
@ravisantoshgudimetla have you been able to look into this?  These tests are broken right now for unrelated reasons, but once they get fixed I expect to keep seeing the scheduler failure.

[2018-10-23 23:04] jberkus commented on #64450
Adding priority:

/priority important-longterm

this issue is not a blocker for 1.13

[2018-10-23 23:06] jberkus commented on #60463
Closing based on non-response.

/close

[2018-10-23 23:07] mortent opened #70151 "Flaky test: [sig-cluster-lifecycle] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"
Testgrid: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

Examples: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2570
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2560

The error message differs, but all seems to be around problems with

[2018-10-23 23:11] jberkus commented on #69600
This test has been pretty consistent for the last week.  Did y'all fix it?

[2018-10-23 23:15] linericyang commented on #69658
Both k8s and cri-o version 1.11 and 1.12 works as expected in my local environment, with the exactly same kubelet configurations. Cannot reproduce this issue.

[2018-10-23 23:59] wgliang commented on #70146
It seems that VolumeBinder is a nil value.

[2018-10-24 00:38] AishSundar commented on #69989
/milestone v1.13

[2018-10-24 00:41] PatrickLang commented on #65016
@bclau - can you update this? We should actually be tracking two separate issues here as the fixes are different:

**Issue 1** - "Windows containers do not use DNS suffix search lists"
That is addressed in #67435, along with related changes to the CNI plugins out of tree

**Issue 2** -  "Windows containers do not have entries in the hosts file"
Can you open a separate issue for that? It can be fix

[2018-10-24 01:07] khenidak commented on #69352
ack! CC: @feiskyer

Something does not add up. Initially i thought we defer deleting the IP. But i found that deleting the ip is the last step in the execution process. We don't respond back until the ip is deleted. Can you please provide `controller manager logs`?

[2018-10-24 01:17] damozhiying opened #70153 "how to enable cAdvisor in kubernetes"
/kind bug
/sig area/cadvisor

Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:53:20Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a

[2018-10-24 01:19] damozhiying commented on #70153
/sig cadvisor

[2018-10-24 02:00] dims commented on #60066
long-term-issue (note to self)

[2018-10-24 02:07] rakyll commented on #52162
@igorpeshansky

Will there be a final say on this issue? It might impact some of the Kubernetes-specific instrumentation work in the near future.

[2018-10-24 02:40] aoxn opened #70159 "Propose an extra field `Service.Status.LoadBalancer.Ingress[0].ProviderID` in Service object."
/kind feature

## What we want to do

We need to add an extra field `Service.Status.LoadBalancer.Ingress[0].ProviderID` in Service object to identify the CloudProvider SLB id , like what we did in Node object.
This would benefit cloudprovider for supporting rename SLB.

## Reason
Cloud Provider createed a LoadBalancer for service with Type equals LoadBalancer.  However, Service object does not pro

[2018-10-24 02:40] Pingan2017 commented on #70146
It won't construct the VolumeBinder when the volumeScheduling=false
https://github.com/kubernetes/kubernetes/blob/3905fb6696c80483825ed8b8e5b268fe9559cfa2/pkg/scheduler/factory/factory.go#L388-L398
/assign

[2018-10-24 02:40] hmtai opened #70160 "Kubernetes URL has Cross Site Scripting (Reflected) vulnerability"
/kind bug
**Description**
Cross-Site Scripting (XSS) attacks occur when data enters a Web application through an untrusted source, most frequently a web request and the data is included in dynamic content that is sent to a web user without being validated for malicious content. The malicious content sent to the web browser often takes the form of a segment of JavaScript, but may also include HTML,

[2018-10-24 02:41] aoxn commented on #70159
/cc @andrewsykim   /sig-api

[2018-10-24 02:43] #69336 closed

[2018-10-24 02:53] ndesh26 opened #70161 "cpumanager: kubelet won't start with static policy when using minikube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet does not start when the cpumanager policy is set to static

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
I am using minikube to run a single node cluster.

**Anything else we need to know?**:
The error in kubelet logs:
Oct 24 02:14:39 minikube kubelet[8371]: I

[2018-10-24 02:54] ndesh26 commented on #70161
/sig node

[2018-10-24 03:03] igorpeshansky commented on #52162
/remove-lifecycle rotten

@rakyll, I was one of the people pushing for this, not a decision maker. I believe @smarterclayton was involved in the earlier discussion. Perhaps @kashomon would also be interested in participating?
@jkohen @bmoyles0117 @quentinmit FYI.

[2018-10-24 03:04] Pingan2017 commented on #70146
I wanna take this , if no one assign

[2018-10-24 03:17] cody1996 commented on #63214
Is this feature not available now? I saw a flag named "filename" in the [Reference](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run), but it doesn't seem to work. The version I am using is 1.12.1.

[2018-10-24 03:56] mkumatag opened #70165 "Create doc for building test/images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Need a documentation for build/update kubernetes test images - https://github.com/kubernetes/kubernetes/tree/master/test/images

Forked from - https://github.com/kubernetes/kubernetes/pull/69593#issuecomment-432455315
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2018-10-24 03:57] mkumatag commented on #70165
/assign
/sig testing

[2018-10-24 04:37] dadux commented on #69409
@zetaab - can we make sure this gets cherry picked for 1.12 releases ? I think we already missed the cut for 1.12.2

[2018-10-24 05:09] stewart-yu commented on #70145
/assign

[2018-10-24 05:31] zetaab commented on #69409
@dadux https://github.com/kubernetes/kubernetes/pull/70166

[2018-10-24 05:47] wgliang commented on #69776
The following are covered in #70136:

[code]

[2018-10-24 05:51] JerryChaox commented on #69725
/open

[2018-10-24 05:52] shadowpriest opened #70169 "What is the order of execution of livenessProbe and readinessProbe?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

What is the order of execution of livenessProbe and readinessProbe?
Or They execute simultaneously？

I can't find it from the offical website

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2018-10-24 05:54] shadowpriest commented on #70169
/sig Node

[2018-10-24 06:07] maazghani commented on #45746
+1

[2018-10-24 06:49] qinzhao168 commented on #52242
I got the name bug

this is log

Oct 24 14:45:27 node-23-40 kubelet[14309]: /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go:139
Oct 24 14:45:27 node-23-40 kubelet[14309]: /usr/local/go/src/runtime/asm_amd64.s:2361
Oct 24 14:45:27 node-23-40 kubelet[14309]: E1024 14:45:27.235639   14309 runtime.go:66] Obse

[2018-10-24 06:53] feiskyer commented on #69352
@weinong Thanks. I'm trying to reproduce it...

[2018-10-24 06:54] ygqygq2 opened #70175 "How to restore the data in released pv?"
/sig Storage

**Environment**:
- Kubernetes version : 1.12.1
- StorageClass: ceph-rbd
- OS: CentOS7

The PVC bound withe pv had deleted, but the pv was retain. So, can restore the data in released pv?

[code]

[2018-10-24 06:59] ndesh26 commented on #70161
Hi Connor,

It is working now. Though I am still seeing some errors with kubelet but they are not that critical. The docs mention it clearly that static should only be used with kube-reserved so no changes are required there. I am not about the error string though. We can add a line that --kube-reserved was not specified. What do you think?

Thanks

[2018-10-24 07:32] wojtek-t commented on #69600
I don't think everything is fixed (we were at least a bit lucky).

/assign @mborsz

[2018-10-24 07:43] remster commented on #20255
Trying to parse "Generally speaking the restart policy is applied to a pod not to a job, as you might understood initially. k8s role is to actually run a pod to successful completion, it cannot judge based on the exit code whether that failure was expected and should re-run or it was not and should stop re-trying. It's user job to do that distinction based on the output from k8s." @soltysh

Does r

[2018-10-24 08:01] synthesisdickie commented on #60066
Thanks @jeremysf. I found the command that patches the pod's finalizers after a force deletion. For anyone still struggling, the command looks something like this: "kubectl patch pod [podname] -n [namespace] -p '{"metadata":{"finalizers":null}}'"

[2018-10-24 08:05] nikopen commented on #69445
DaemonSet tests passed on run 1842, seems to have been fixed: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

if it doesn't pop up again -

/close

[2018-10-24 08:05] #69445 closed

[2018-10-24 08:06] nikopen commented on #69356
DaemonSet tests passed on run 1842, seems to have been fixed: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

if it doesn't pop up again -

/close

[2018-10-24 08:06] #69356 closed