[2021-11-14 06:37] NikhilSharmaWe commented on #106405
@SergeyKanzhelev I am looking forward to contribute for this cleanup, could you please give me some direction about in which files and how can I proceed to work on this.

[2021-11-14 06:41] NikhilSharmaWe commented on #106405
@SergeyKanzhelev Are you talking about changing Derprecated. descrpition in types.go file to Deprecated:.
If you confirm I can continue to add this.

[2021-11-14 06:41] NikhilSharmaWe commented on #106405
/assign

[2021-11-14 06:57] allenjol commented on #106403
I want to only use containerd, do not to use docker as my CRI，but when I start kubelet,It seems to have gone to find docker service

[2021-11-14 08:41] jiangxiaobin96 commented on #74262
I have the same problem. Have you solved this error?

[2021-11-14 09:34] jiangxiaobin96 opened #106407 "etcd running but rejected connection from "192.168.7.175:53382" (error "remote error: tls: bad certificate", ServerName "")"
### What happened?

- etcd
etcd is running successfully.
[code]
- kube-apiserver
kube-apiserver can not start normally.
[code]

I'm following the course "Kubernetes The Hard Way" to deploy the k8s and met the above error when deploy kube-apiserver.
All my binary files build from source code.
I think there may be something lost when deployment. But I can not identify the error.

### What did you ex

[2021-11-14 10:36] 5279314 commented on #101212
I also have this problem！！
[code]
Excuse me, how did you solve it？

[2021-11-14 10:45] 5279314 opened #106409 "Error getting volume limit for plugin kubernetes.io/<name>"
### What happened?

kubelet logs misleading error when volume limits
[code]
`/kind bug`
`/kind storage`
`/label kubelet`
### What did you expect to happen?

Is this a `warning` or an `error`

### How can we reproduce it (as minimally and precisely as possible)?

The k8s running is normal

### Anything else we need to know?

The k8s running is normal
[root@k8s-master1 ~]# kubectl get pod -A
NAMESPA

[2021-11-14 11:26] Elbehery commented on #101212
Which version do you use .. This was fixed here https://github.com/kubernetes/kubernetes/pull/101213

Check k8s version you use please

[2021-11-14 12:23] pacoxu commented on #106409
/sig storage node

[2021-11-14 13:58] sysnasri commented on #93390
I have got exactly similar issue, I have to delete NLB manually from aws console.

[2021-11-14 14:19] Shuanglu opened #106410 "Whether pod deletion should enqueue the deployment again when there is only evicted pod left"
### What happened?

For example, there is one deployment with below configuration.
[code]
Due to resource exhaustion on the node, the node evicted pods of this deployment. The running pod is owned by the rs 'nginx-deployment-dfbd8fcd5'
Around 13:46, the deployment is patched and due to the "recreate" strategy, the old pod started to be deleted. The deployment status is updated but nothing new whic

[2021-11-14 14:21] Shuanglu commented on #106410
/sig apps

[2021-11-14 15:49] ArangoGutierrez commented on #105287
++

[2021-11-14 16:31] 0904-mansi commented on #106405
/assign

[2021-11-14 16:44] NikhilSharmaWe commented on #106405
@0904-mansi Actually I am already working on this.

[2021-11-14 16:44] NikhilSharmaWe commented on #106405
/assign

[2021-11-14 20:04] JohnRusk commented on #65954
@wojtek-t , you mentioned that this would help " SelectorIndex in watchache feature".  We're testing with K8s 1.21, so that will be enabled by default, and I'm still seeing this problem.  Do you have any info on how much that feature helped?  E.g. did it make this problem half as bad, or did it only make a small difference?

[2021-11-14 21:28] cbandy commented on #104318
/remove-lifecycle stale

[2021-11-14 21:39] #102732 closed

[2021-11-14 21:39] #102907 closed

[2021-11-14 21:39] #102958 closed

[2021-11-14 22:24] ahg-g commented on #106361
I sent #106412 to increase the timeout to 15min. We should backport this.

[2021-11-14 22:41] MikeSpreitzer commented on #105804
As another aside, the REAMDE for kubetest says that it is deprecated in favor of https://github.com/kubernetes-sigs/kubetest2 .

[2021-11-14 22:43] MikeSpreitzer commented on #105804
I also tried the pull-kubernetes-kubemark-e2e-gce-scale job on an easier PR (#106325), one that should not have failures, but it failed anyway.  See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106325/pull-kubernetes-kubemark-e2e-gce-scale/1459459749048225792 .

[2021-11-14 22:49] MikeSpreitzer commented on #105804
pull-kubernetes-kubemark-e2e-gce-scale also ran recently on #105768 , and again timed out and failed to gather much stuff, erring out of `log-dump.sh` as well as `run-e2e.sh`.

[2021-11-14 22:57] MikeSpreitzer commented on #105804
Interestingly, #106085 also had pull-kubernetes-kubemark-e2e-gce-scale complete recently, and this one did NOT timeout after 20 hours!  It got some other error after 12h51m .  The `log-dump.sh` got more stuff than for those other PRs, mostly a bunch of pprof files.  Still no apiserver logs.  And it still erred out somehow.

[2021-11-15 00:39] #102948 closed

[2021-11-15 01:38] Dingshujie commented on #100241
- cadvisor has memory leak: cadvisor watch all cgroup director.  when file or directory delete, inotify will recevie IN_DELETE event, when cadvisor recevie IN_DELETE, cadvisor will call inotify RemoveWatch to remove watch descriptor. When watch descriptor delete before function called, function will return EINVAL, may lead this path remain in watches and paths map, and also not delete path in cont

[2021-11-15 02:01] SergeyKanzhelev commented on #106405
@NikhilSharmaWe @0904-mansi important thing here is to either fix or wait to be fixed the problem that generated files are being static checked. WIth the change to real deprecated field, they start failing the static check.

[2021-11-15 02:06] pacoxu commented on #105686
I see this failure in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106408/pull-kubernetes-node-kubelet-serial/1459822195130765312/.

[2021-11-15 03:45] zerkms commented on #78007
/remove-lifecycle stale

[2021-11-15 03:48] ganga1980 commented on #106080
/track

[2021-11-15 03:54] RyanAoh commented on #104195
@aojea Yes, a statefulset with dots will always fail to create pods. But if we are not allowed to add dots to the statefulset name, what about other controllers (Deployment, Daemonset etc.)? Although these pods can be created well,  problem mentioned in https://github.com/kubernetes/kubernetes/issues/104195#issuecomment-908282093  is still exists.

[2021-11-15 04:22] MikeSpreitzer commented on #105804
@wojtek-t, regarding https://github.com/kubernetes/kubernetes/issues/105804#issuecomment-961682024 : you said you set the width cap to 5 seats, but then talked about a request occpying 10 seats; I am confused.  Github is still willing to show me https://github.com/wojtek-t/kubernetes/commit/43709a962e3980c68c638c4b9f5083c6c2f18e16 ; I see no change to the width cap there.

[2021-11-15 04:47] JohnRusk commented on #65954
In my testing, none of things meantioned above solve the problem: not P&F and not SelectorIndex in watch cache.  The root cause IMHO, is inappropriately small Retry-After values being returned in response to the kubelet list calls that happen after an API server restart. https://github.com/kubernetes/kubernetes/pull/97430#issuecomment-968532397 and https://github.com/kubernetes/kubernetes/issues/7

[2021-11-15 04:48] JohnRusk commented on #79805
See comment here https://github.com/kubernetes/kubernetes/pull/97430#issuecomment-968532397

[2021-11-15 04:52] MikeSpreitzer commented on #105804
I did some looking into the 500 node prometheus metrics from #106085, starting at https://github.com/kubernetes/kubernetes/pull/106085#issuecomment-968483422 .

[2021-11-15 05:09] MikeSpreitzer commented on #106302
We have been in the business of watermarking since before I got involved.  The max-in-flight filter was already doing watermarking.

The simplest thing to do is to use a gauge.  Consider a scenario where scrapes happen once per minute (and yes, I know some real scenarios like that).  In that case the admin can only see situations that are very stable.

[2021-11-15 05:58] MikeSpreitzer commented on #105804
I also opened https://github.com/kubernetes/test-infra/issues/24349 about the continuing failure to collect information.

[2021-11-15 06:26] 249043822 commented on #105686
so this problem should have been fixed by https://github.com/kubernetes/kubernetes/pull/106371

[2021-11-15 06:46] 1998729 commented on #106378
sorry kube-api config etcd cert write error, todo close issue

[2021-11-15 06:51] MadhavJivrajani commented on #106407
/sig api-machinery

[2021-11-15 06:53] MadhavJivrajani commented on #106328
Fixed by https://github.com/kubernetes/kubernetes/pull/106329, closing
/close

[2021-11-15 06:54] #106328 closed

[2021-11-15 07:01] steinmb commented on #72501
Also notice this.

[code]

[2021-11-15 07:19] cyclinder commented on #106267
/assign

[2021-11-15 07:59] cyclinder commented on #106267
can I have this？

editing only the first address(Address[0]) in Endpoint.Address to be used. The use of an array in this field is based on historical reasons. Isn't that right ？

[2021-11-15 08:27] jiangxiaobin96 commented on #106407
I add more information.
Verification of etcd:
[code]
and the network port is
[code]

[2021-11-15 08:29] cpxPratik commented on #87634
/remove-lifecycle rotten

[2021-11-15 08:29] jiangxiaobin96 commented on #106407
However `journalctl -u etcd`  seems have some problems.
[code]

[2021-11-15 08:52] wojtek-t commented on #105804
Yeah - should be 5 everywhere (or 10 everywhere). I was first playing with 10, then with 5 and it's a bit messed up in the description.
But the bottom line is that I can't explain it even with cap 10...

[2021-11-15 08:56] kerthcet opened #106416 "We should raise a error instead of change the default weight of resource weight"
### What would you like to be added?

Refer to [SetDefaults_NodeResourcesFitArgs()](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/v1beta3/defaults.go#L252-L256), we'll change the default behavior by altering the resource weight, however, we should raise an error instead to tell the user the truth .
What's more, we have already catched the error [here](https://githu

[2021-11-15 08:57] kerthcet commented on #106416
/sig scheduling
/assign

[2021-11-15 09:31] mysunshine92 opened #106417 "we should reject HostPort use in daemonset when maxSurge is non-zero"
### What happened?

when  use hostport and set maxSurge =2，k8s create daemonset successfullly.
but DaemonSet rolling update is stuck， due to the failure of pod scheduling.
Events：
Warning  FailedScheduling  34s   default-scheduler  0/2 nodes are available: 1 node(s) didn't have free ports for the requested pod ports, 1 node(s) didn't match Pod's node affinity/selector.

### What did you expect to

[2021-11-15 09:32] mysunshine92 commented on #106417
/sig apps

[2021-11-15 09:55] kerthcet commented on #106416
close this as user may only set the resource name other than the weight, in this situation, we should set the default weight to 1.

[2021-11-15 09:55] #106416 closed

[2021-11-15 09:57] wojtek-t commented on #106302
Is the watermark really what gives us value?
I absolutely buy the need for some over-time aggregation (sorry - that wasn't clear from the initial issue report), but is watermark really what gives me any actionable information?

Let's say that we're aggregating over 5m even (yes - I'm aware of per-minute scraping usecases too).
And let's say that my watermark is saturated. Is that a useful informat

[2021-11-15 10:12] sebltm commented on #42433
/reopen

[2021-11-15 10:17] sebltm commented on #42433
<img width="877" alt="image" src="https://user-images.githubusercontent.com/26392528/141764059-ab603b92-9bca-475a-b5f3-e8bce6c37ab6.png">
Seeing the same problem here on K8s version 1.21.5
Scheduler puts the same pod hundreds of time on the same node, even though it is OutOfCpu

[2021-11-15 10:47] aojea commented on #104195
this seems to be a problem only for statefulsets,

https://github.com/kubernetes/kubernetes/issues/104195#issuecomment-908374877

but at this point I think this has to be discussed deeper by the SIG, is a complex compatibility problem to solve

[2021-11-15 11:34] sebltm opened #106419 "Pod created many times when node is OutOfcpu"
### What happened?

Not exactly sure on the sequence of events but the result is:
A pod is scheduled on a single node many hundreds of times (some nodes end up having > 1000 pods), which are almost all failing due to the same ```OutOfcpu``` error.
<img width="1739" alt="image" src="https://user-images.githubusercontent.com/26392528/141774260-30922348-ef1d-4933-8ac3-907c435adbc7.png">

The pod in q

[2021-11-15 11:35] sebltm commented on #106419
/sig scheduling

[2021-11-15 11:49] andiolsi commented on #79224
Since I ran into this issue with my gitops environment.
I decided to write an operator that handles a new CRD "SecretTemplate" and reads a configmap as template, a secret as source for credentials and thus generates a new secret that basically the configmap enriched with data from the secret.

It does what its supposed to do, needs some work though. (First TypeScript I ever wrote, first operator I

[2021-11-15 12:00] prasus commented on #105395
Thanks for the update, @RyanAoh 👍🏿

[2021-11-15 12:07] wojtek-t commented on #65954
Yes - P&F in already release versions certainly isn't ready. In master we have support for LIST requests, but still not tuned they way it should be to be really protective. But eventually it should do the job.

Regarding retry-after - yes, this is suboptimal too at this point. And it's something that we're looking at too (e.g. https://github.com/kubernetes/kubernetes/pull/106272) and I agree it wo

[2021-11-15 12:43] adisky commented on #106204
The test https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/pre_stop.go#L170 verifies that pod is not terminated before `terminationGracePeriodSeconds` even the pre stop hook is under execution.

Sometimes it failed to verify the pod is phase running before `terminationGracePeriodSeconds` ends
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/pre_stop.go#L194

the

[2021-11-15 13:48] furkatgofurov7 opened #106420 "[WARNING] InvalidDiskCapacity warning thrown in node events by Kubelet"
### What happened?

Kubelet keeps throwing `InvalidDiskCapacity` kubelet invalid capacity 0 on image filesystem in the nodes status

[code]

### What did you expect to happen?

No warnings thrown in output of node events

### How can we reproduce it (as minimally and precisely as possible)?

n/a

### Anything else we need to know?

I have checked couple of reported issues open/closed ones in the r

[2021-11-15 13:51] furkatgofurov7 commented on #106420
/cc @feiskyer

[2021-11-15 14:07] MadhavJivrajani commented on #106420
/sig node

[2021-11-15 14:30] pacoxu commented on #106420
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/stats/cadvisor_stats_provider.go#L246-L271

It is most likely a cadvisor related issue on `SLES 15 SP2`.
/area cadvisor

[2021-11-15 14:55] serathius commented on #106229
I think the reason was incorrect promotion in https://github.com/kubernetes/k8s.io/pull/2236
It selected `sha256:9ce33ba33d8e738a5b85ed50b5080ac746deceed4a7496c550927a7a19ca3b6d` that was result of `docker pull`
![image](https://user-images.githubusercontent.com/5873433/141802927-e47cc8fa-316a-49a5-ac23-05e63721ce3f.png)

Instead of `sha256:9aeb407e6e534cdc82317a6f435b34e64d9c2bb60af945fae4f4204e4

[2021-11-15 15:19] mattfarina opened #106422 "Move from archived jwt-go dependency to supported one"
### What would you like to be added?

The jwt-go dependency used at github.com/form3tech-oss/jwt-go/ is archived and no longer maintained. This was set to be used Kubernetes wide in #100401. That location is archived an no longer supported. It directs people to use https://github.com/golang-jwt/jwt instead.

The request is to move to the v3 branch of the new location which should be a drop in repl

[2021-11-15 15:38] dobsonj commented on #100474
/reopen
/remove-lifecycle rotten

[2021-11-15 15:40] mattfarina opened #106423 "Fixing CVE in supported version patch releases"
### What happened?

The jwt-go (a dependency) handling had a CVE that was fixed on master (see #100401 and #102755). This fixed the issue on master but not on the supported version release branches.

### What did you expect to happen?

I expected the issue to be fixed on master and on other supported versions of Kubernetes (1.22, 1.21, and 1.20)

### How can we reproduce it (as minimally and preci

[2021-11-15 16:01] MikeSpreitzer commented on #106302
What do you mean by "current"?  When would `Observe` be called for such a histogram?  If that happens when the variable of primary interest changes then we are not getting time-weighted data.  Consider two scenarios.  In scenario A, the variable jumps up at time T0 and back down at time T0+1ms.  In scenario B, the variable jumps up at time T0 and back down at time T0+10s.  Those both produce the s

[2021-11-15 16:03] mkumatag commented on #106229
I find the following tool very handy but unfortunately, you can't promote the same version if I'm not wrong.
[code]

[2021-11-15 16:10] jainpratik163 opened #106424 "How to restart PODs in batches"
Hi,

we have around 200+ MS and we are created customresourcebinding and once we apply this binding it will restart all the pod together .
Now we don't want this happen, we want to restart the pod in batches.
is this possible?

Thanks

[2021-11-15 17:04] #106101 closed

[2021-11-15 17:33] damemi opened #106426 "Move scheduler Score plugin weight defaulting to API"
The scheduler framework instantiation currently handles defaulting the weights of Score plugins, as well as checking that the total weight is not more than the maximum:

https://github.com/kubernetes/kubernetes/blob/9dc0489/pkg/scheduler/framework/runtime/framework.go#L292-L306

this should be moved to the API defaulting itself to catch this earlier and be more secure
/sig scheduling
/kind feature

[2021-11-15 17:42] al-pa commented on #55046
/remove-lifecycle stale

[2021-11-15 18:03] varshaprasad96 commented on #105047
Hi @endocrimes
Thanks for the update! Looks like both the PRs (https://github.com/kubernetes/test-infra/pull/24284 and https://github.com/kubernetes/kubernetes/pull/106263) are merged. Can we close this issue?

[2021-11-15 18:04] #105393 closed

[2021-11-15 18:07] varshaprasad96 commented on #105353
Hi (@uhari03 @jpbetz),
k8s 1.23 bug triage here 👋,
Just wanted to follow up and check if it would be possible to get this into k8s 1.23. If not, any objections if we move this to the next milestone?

[2021-11-15 18:33] pohly opened #106428 "structured logging text output: handle arbitrary values"
### What happened?

The `klog.InfoS` output was meant to machine readable. In particular it should be possible to split the log output into individual messages.

The argument in https://github.com/kubernetes/klog/pull/268#discussion_r749298770 was that the klog header can be used to split the output, the same way as current log parsers already do it (backwards compatibility).

That approach does n

[2021-11-15 18:34] pohly commented on #106428
/sig instrumentation
/wg structured-logging

[2021-11-15 18:57] gnufied opened #106429 "Moving recovery from expansion failure feature from alpha to beta"
### What would you like to be added?

Moving Recovery from expansion failure from alpha to beta requires careful consideration of version skews between kubelet, resizer and api-server.

- [ ] Handle the case where external-resizer is older but kubelet is newer. In this case, if `ResizeStatus` is not set, kubelet will refuse to expand the volume on the node by default.
- [ ] Handle the case where k

[2021-11-15 18:57] gnufied commented on #106429
/sig storage

[2021-11-15 19:02] wojtek-t commented on #106302
Sure - the question is how big problem that is in practice. In practice we will be having some request finishing pretty frequently, so it shouldn't be that big deal.

That said - as discussed during our weekly sync - I think we have more urgent stuff to focus on now that simplifying this.
So let's close now - we can get back to it in the future.

[2021-11-15 19:02] #106302 closed

[2021-11-15 19:11] nannancy commented on #94900
Hey there (@enj @dims), Bug-Triage here 👋 ,
There hasn't been any activity on this issue, is the issue still on track for v1.23?

[2021-11-15 19:14] nannancy commented on #95279
Hey there (@liggitt ), Bug-Triage here 👋 ,
There hasn't been any activity on this issue. Just want to make sure this issue is still on track for the 1.23?

[2021-11-15 19:18] nannancy commented on #100152
Hey there (@rphillips, @serathius, @pacoxu), Bug-Triage here 👋 , Just want to make sure this issue is still on track for the 1.23?

[2021-11-15 19:24] liggitt commented on #95279
I'm not tracking this issue, I just routed it to the correct sig

[2021-11-15 19:26] #93858 closed

[2021-11-15 19:27] #106377 closed

[2021-11-15 19:29] uhari03 commented on #105353
@varshaprasad96 Trying to get someone to review and merge: https://github.com/kubernetes/kubernetes/pull/105415

[2021-11-15 19:32] ahg-g commented on #106396
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/106127

[2021-11-15 19:33] ahg-g commented on #106396
/close

[2021-11-15 19:33] #106396 closed

[2021-11-15 19:37] ahg-g commented on #106046
The scheduler issues delete when preempting pods to fit higher priority ones.

[2021-11-15 19:37] ahg-g commented on #106046
/close

[2021-11-15 19:37] #106046 closed

[2021-11-15 19:46] SergeyKanzhelev commented on #105047
/close

the only mentions of DynamicKubeletConfig in test-infra are now "skip" lists

[2021-11-15 19:46] #105047 closed

[2021-11-15 19:48] ahg-g commented on #106419
The issue is that kubelet and the scheduler disagree on how much cpu is available on the node.

Since the first pod was rejected by kubelet, the replicaset controller will create a replacement and the scheduler will make the same decision, kubelet as well. So it is a vicious cycle.

Are you able to determine whether the pod should actually fit the node or not?

[2021-11-15 19:51] ahg-g commented on #106246
please provide more info: can you share the exact panic message and the k8s version you are working with?

[2021-11-15 20:14] ritpanjw commented on #103853
/milestone clear

clearing the milestone based on Huang's comment

[2021-11-15 20:16] ritpanjw commented on #102430
Hi @krzysiekg , following back, this is bug triage shadow here 👋
There hasn't been any activity on this issue for a couple of months now, Just want to make sure this issue is still on track for the 1.23?

[2021-11-15 20:22] ritpanjw commented on #100313
Hi @andrewsykim , this is bug triage shadow here 👋
I'd like to check what's the status. The code freeze is starting tomorrow and since PR is not merged
As the PR is tagged for 1.23, is it still planned for this release?

[2021-11-15 21:05] #106341 closed

[2021-11-15 21:23] mlnj commented on #79365
Faced this same issue. In my case my pod container had limits set, but my Dapr injected sidecar container didn't.

[2021-11-15 21:40] SergeyKanzhelev commented on #106405
this is now can be worked on.

Ideally all deprecations (`grep -R --include="types.go" deprecated`) needs to be unified to use `Deprecated:` syntax

[2021-11-15 21:42] ehashman commented on #105686
From gubernator:

### Failure cluster [f3393094bdefc50e4d1f](https://go.k8s.io/triage#f3393094bdefc50e4d1f)

##### Error text:
[code]
#### Recent failures:
[11/14/2021, 6:36:14 AM ci-kubernetes-node-kubelet-serial](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1459892921477107712)
[11/13/2021, 6:35:14 AM ci-kubernetes-node-kubelet-serial](https://prow.k8s.io

[2021-11-15 21:45] SergeyKanzhelev commented on #79432
/reopen
/remove-lifecycle rotten

this still needs to happen

[2021-11-15 23:42] gnufied commented on #106429
/triage accepted

[2021-11-16 00:26] yxxhero commented on #106246
@ahg-g k8s v1.18.9.
no more error message. do you mean goroutine errors? Thanks very much.

[2021-11-16 01:12] shevelevs commented on #98876
Can this issue be looked into? Is there some documentation that clearly says this is by design and is not a bug. From the code here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/security_context.go#L138 it doesn't look like this is necessarily intentional.

[2021-11-16 01:16] shevelevs commented on #98876
/reopen

[2021-11-16 01:19] jiahuif opened #106437 "Make quoting of constants consistent in comments"
### What would you like to be added?

Currently, referencing constants in our go docs is inconsistent around our code base.
For example, somethings we use double-quotes
[code]

Sometimes no quotes
[code]

Sometimes back-qoutes
[code]

... and sometimes a mixture of double- and single- qoutes.
[code]

We should have a community guidance on how to refer to constants in the comments.

### Why is this

[2021-11-16 01:22] jiahuif commented on #106437
/sig api-machinery

[2021-11-16 01:22] jiahuif commented on #106437
/assign
/cc @apelisse @thockin

[2021-11-16 01:28] JohnRusk commented on #65954
@wojtek-t , I don't see how P&F will eventually solve this, even with the planned enhancements, because API server must still terminate the SSL conn and authenticate the user before rejecting a request, and its those things that become unbearably expensive (unless we start sending back better Retry-Afters)

[2021-11-16 01:51] #104454 closed

[2021-11-16 01:51] #106111 closed

[2021-11-16 01:52] jpbetz opened #106438 "Benchmark cel.UnstructuredToVal and optimize away repeated wrapper object construction"
### What would you like to be added?

We need to benchmark and then optimize cel.UnstructuredToVal. This is a pre-condition to beta for the Validation Rules feature.

xref: [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2876-crd-validation-expression-language)
xref: https://github.com/kubernetes/kubernetes/pull/106051#pullrequestreview-806638323
xref: https://g

[2021-11-16 01:52] jpbetz commented on #106438
/assign
/sig-apimachinery
/triage accepted
/priority important-soon

[2021-11-16 01:53] jpbetz commented on #106438
/sig api-machinery

[2021-11-16 02:05] msau42 opened #106439 "Remove gce dependency from generic controller unit tests"
### What happened?

As discovered in https://github.com/kubernetes/kubernetes/pull/104722#discussion_r749752524, we have generic controller tests that are depending on a provider-specific API. We should remove this dependency and instead use a generic volume type like CSI instead.

We did a workaround for 1.23 but we need to fix this before we GA CSIMigrationGCE in 1.24.

### What did you expect t

[2021-11-16 02:05] andyxning commented on #106127
/cc

[2021-11-16 02:05] msau42 commented on #106439
@kubernetes/sig-storage-bugs
/triage accepted

[2021-11-16 02:07] jpbetz opened #106440 "Reduce noise of invalid data messages reported from cel.UnstructuredToVal"
### What happened?

"Invalid value" errors reported by cel.UnstructuredToVal (which include the telltale "evaluating rule: {rule}" at the end) are repeats of the errors already reported by openapi schema validation.

Fixing this is a beta pre-condition for the Validation Rules feature.

See @liggitt's reproduction case https://gist.github.com/liggitt/5bb0ece637e560ec906ee6a0786eb3bdhttps://gist.gi

[2021-11-16 02:08] jpbetz commented on #106440
/assign
/priority important-soon
/triage accepted
/sig api-machinery

[2021-11-16 02:17] msau42 commented on #106429
One more item is to evaluate if we can shrink all the way back to original size.

[2021-11-16 02:22] gnufied commented on #106429
@msau42 thanks updated.

[2021-11-16 02:29] yjjy0921 commented on #105953
yes, please help to review the following PR

[2021-11-16 02:51] #104283 closed

[2021-11-16 03:36] ahg-g commented on #106246
yeah, the panic message itself, it should tell where exactly the panic happened. We did fix a related issue when accessing the cycleState, see https://github.com/kubernetes/kubernetes/issues/95887, so we need to understand if it is the same issue.

v1.18 is out of support, the fix above was applied all the way back to v1.19

[2021-11-16 04:13] SataQiu commented on #106422
Related Issue: #104007

[2021-11-16 07:21] B8kingS0ga commented on #63465
/reopen

[2021-11-16 07:25] Pingan2017 commented on #106403
Remove docker.service dep
[code]

[2021-11-16 07:31] wojtek-t commented on #65954
OK - so if your clients are not reusing connections them I agree it will cause problems. Clients are generally supposed to reuse connections and if they are, then handshakes etc cost. are amortizing across requests. I suggest to try reusing connections as a generic optimization...

[2021-11-16 07:35] #83094 closed

[2021-11-16 07:45] K1ngram4 commented on #83225
restart docker service

[2021-11-16 08:17] serathius commented on #106229
Ok, I think we have two options:
* Release new revision for 3.5 called `3.5.0-1` or
* [recommended] Finish release of `3.5.1-0`

In both cases we cannot do much about `3.5.0-0`, tags are immutable and we cannot prevent users from fetching wrong image. In both cases we also should backport the change to previous k8s release. That's why I recommend finishing release of `3.5.1-0` as it will take same

[2021-11-16 08:29] jiangxiaobin96 commented on #106407
[#2669](https://github.com/rancher/rke/issues/2669) it seems the same question.

[2021-11-16 08:35] JohnRusk commented on #65954
The client that I'm observing these problems with is kubelet.

[2021-11-16 08:39] sebltm commented on #106419
The pod should be on the node. It seems one is able to start, I'd expect the others not to get scheduled on the node, or at least get gc'd and trigger an autoscale to be scheduled on other nodes

[2021-11-16 08:43] aojea commented on #65954
hmm, maybe you are hitting this bug
https://github.com/kubernetes/kubernetes/issues/100849
I have fix for it here looking for an approver @wojtek-t
https://github.com/kubernetes/kubernetes/pull/104844

[2021-11-16 08:44] Efrat19 commented on #39178
still happens on EKS 1.21

[2021-11-16 08:47] serathius commented on #100152
Hey @pohly, what's the current status of init logs after your recent improvements? Is there anything left to do here?

[2021-11-16 08:49] wojtek-t commented on #65954
@aojea - please assign to me - I will take a look later today

[2021-11-16 08:56] verb commented on #106341
FYI, I spot checked several of the recent failures and so far none of them include the fix commit. Will keep an eye on it.

[2021-11-16 08:57] jiangxiaobin96 commented on #106407
I searched other solution and shown that it may be caused by  certificate time conflict. But I just have one machine as a master node. The certificate time is similar to the server time.

[2021-11-16 09:08] kerthcet commented on #106419
yeah, that's what the kubernetes should behave as. I think we should figure out whether it's caused by the scheduler or the kubelet. e.g., if the node is out of resources, and the pod is still scheduled to the node , then scheduler may be the possible criminal.

[2021-11-16 09:16] pohly commented on #100152
No, this is not fixed. `k8s.io/component-base/cli/flag.PrintFlags` is still being called before `k8s.io/component-base/logs.(*Options).apply`.

The behavior is a bit different, though: while previously it used the wrong default log format, now it uses the wrong default log level and therefore those `FLAG` messages are not printed.

I'd also like to clarify one thing: the "Flag ... has been depreca

[2021-11-16 09:17] pohly commented on #100152
The fix is easy. Whether there's anyone willing to approve a PR is a different question...

[2021-11-16 09:22] nannancy commented on #94900
/close

[2021-11-16 09:22] #94900 closed

[2021-11-16 11:17] nandakumar-sre commented on #16910
This might be helpful https://stackoverflow.com/a/33488076

[2021-11-16 12:04] MadhavJivrajani commented on #103788
/remove-lifecycle stale
/lifecycle frozen

[2021-11-16 14:25] hexfusion commented on #106229
+1 The bump to 3.5.1 makes a lot of sense as it patches at least one critical bug.

[2021-11-16 14:41] #106277 closed

[2021-11-16 14:43] NeckBeardPrince commented on #89898
@alex-kovshovik did you have any luck after updating to `1.21`?

[2021-11-16 14:54] sd2020bs opened #106456 "Often restarting kube-scheduler, kube-api"
### What happened?

my k8s version is 1.20.7, etcd version 3.4.13-0. O created it with kubeadm. First all was ok, but theni started to get 10-20 times per day alerts about etcd, like this:
alertname: etcdHighNumberOfFailedGRPCRequests
grpc_method: Watch
grpc_service: etcdserverpb.Watch
instance: x.x.x.x:2379
job: kube-etcd
prometheus: monitoring/kube-prometheus
severity: critical
message: etcd clu

[2021-11-16 15:03] mkumatag commented on #106229
make sense to me

[2021-11-16 15:53] nannancy commented on #94900
/milestone clear

[2021-11-16 16:19] SergeyKanzhelev commented on #106341
Yes, thank you. Looks very green now https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-features-master&include-filter-by-regex=NodeFeature%3AEphemeralContainers

[2021-11-16 16:42] rajula96reddy opened #106459 "[Failing test][sig-scalability] gce-master-scale-correctness"
### Which jobs are failing?

gce-master-scale-correctness

### Which tests are failing?

- Kubernetes e2e suite: [sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Inline-volume (xfs)][Slow] volumes should allow exec of files on the volume
- Kubernetes e2e suite: [sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (xfs)][Slow] volumes should store data

### Since when h

[2021-11-16 16:45] #100849 closed

[2021-11-16 17:31] eddiezane commented on #106326
I think this is a different failure for the same test?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103526/pull-kubernetes-unit/1460651350793654272

/reopen

[2021-11-16 17:47] cici37 commented on #105745
Update the issue to address the changes in 1.23 and added criteria for graduating to beta.

[2021-11-16 18:01] sjmiller609 opened #106460 "Releases repository missing content?"
### What happened?

curl -L -s https://dl.k8s.io/release/stable.txt

404

### What did you expect to happen?

curl -L -s https://dl.k8s.io/release/stable.txt

show stable version

### How can we reproduce it (as minimally and precisely as possible)?

curl -L -s https://dl.k8s.io/release/stable.txt

or just navigate in browser

### Anything else we need to know?

referenced in this doc https://kube

[2021-11-16 18:10] sjmiller609 commented on #106460
Ok I think someone fixed it. I thought I saw a commit disappear from [release](https://github.com/kubernetes/release) repository, but I didn't get a chance to confirm that.

[2021-11-16 18:10] #106460 closed

[2021-11-16 18:22] swetharepakula commented on #106402
All tests are failing with the same message: ` configmaps "ingress-uid" not found which usually is the error if the glbc/ingress-gce controller is not running.

The ingress-gce/glbc logs are also empty.

[2021-11-16 18:25] swetharepakula commented on #106402
Kubelet log shows failures to pull the glbc image:
[code]

[2021-11-16 18:40] SergeyKanzhelev commented on #106157
cc: @kad

Discussed during the SIG Node meeting. It would be great to start collect use cases and specific requirements on how this will look like from end user perspective. @mrunalp suggested we can start a document on this, or we can use this issue to keep the discussion going.

/triage needs-information

[2021-11-16 19:40] jcpuzic opened #106464 "Kubeadm 1.22.x fails to stand up master node"
### What happened?

I've installed K8S 1.20.0 on these boxes previous, but when I re-imaged and tried installing 1.22.0, it leaves me in a constant crashing state of the K8S services.  The command I'm running to install is just the "kubeadm init" command; no special switches or anything.

Here is a sample from system logs after I've used kubeadm:

[code]

The kube-proxy will just Error out:

[code

[2021-11-16 20:15] jpbetz commented on #105745
I think we can close this one and open a new issue for beta.

[2021-11-16 20:18] ehashman commented on #106222
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/remove-kind bug
/kind support
/close

[2021-11-16 20:18] cici37 opened #106465 "CRD Validation Expression Language to beta"
### What would you like to be added?

Promote Expression Language validation for CRD to beta.

KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2876-crd-validation-expression-language

Expression Language validation for CRD is available in alpha in 1.23 release(https://github.com/kubernetes/kubernetes/issues/105745). In order to promote it to beta, the required wo

[2021-11-16 20:19] cici37 commented on #105745
/close
Close this one since the feature made to alpha.
Open https://github.com/kubernetes/kubernetes/issues/106465 to track for beta release.

[2021-11-16 20:19] #106222 closed

[2021-11-16 20:19] #105745 closed

[2021-11-16 20:20] cici37 commented on #106465
/triage accepted

[2021-11-16 20:26] mrunalp commented on #106157
Do we have to care about integration with the Intel Thread Director on Alder Lake on Linux?

[2021-11-16 20:28] onerandomdude commented on #105750
Hi @abg-g, apologize for the radio silence, some quick updates on my side:

1. applying the same optimization (without populating `TpKeyToCriticalPaths` map) which defers `TpPairToMatchNum` calculation to "Filter" stage for "Hostname" topology key does yield very good performance (pod creation rate == pod binding rate)
2. however, the tricky bit is to calculate the "global min" in the `TpKeyToCrit

[2021-11-16 20:32] bobbypage opened #106466 "NVIDIA GPU Device Plugin sig-node serial tests failing"
### Which jobs are failing?

ci-kubernetes-node-kubelet-serial

### Which tests are failing?

[code]

### Since when has it been failing?

Last passing run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1460315712001150976
First failing run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1460376110792445952

### Testgri

[2021-11-16 20:34] bobbypage commented on #106466
The tests are failing because there was an image bump.

Last passing run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1460315712001150976
Used image `cos-93-16623-39-16-1d5a92df`

First failing run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1460376110792445952
Used image: `cos-93-16623-39-21-1c63d218`

From the n

[2021-11-16 20:34] bobbypage commented on #106466
/cc @endocrimes @SergeyKanzhelev

[2021-11-16 21:04] jsturtevant opened #106467 "Windows Node restarted during e2e test causing test to fail and node report not ready"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-1.21

### Which tests are flaking?

Container Lifecycle Hook when create a pod with lifecycle hook should execute poststart exec hook properly [NodeConformance] [Conformance]

### Since when has it been flaking?

saw failure on 11/14

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenki

[2021-11-16 21:08] jsturtevant commented on #106467
kubelet logs for node do have kublet restarting at that time

[code]

The previous log before the node went offline was at 15:56:48.579054

[code]

[2021-11-16 21:09] jpbetz commented on #106437
/triage accepted

[2021-11-16 21:11] jpbetz commented on #106407
/assign @fedebongio
/triage accepted

[2021-11-16 21:11] jpbetz commented on #106405
/triage accepted

[2021-11-16 21:12] jpbetz commented on #106401
/triage accepted

[2021-11-16 21:20] bsdnet commented on #106466
/cc: @kewu1992  from COS

[2021-11-16 21:21] #106218 closed

[2021-11-16 21:28] jsturtevant commented on #106467
not sure if it is related but right before the restart there is some issues with deleting pods:

[code]

Where it was previously started:

[code]

Then after the restart we see it no longer exists, when kubelet starts up

[code]

[2021-11-16 21:31] AndrewSav commented on #47202
The current implementation is clarified to be [unsupported](https://github.com/kubernetes/kubernetes/pull/106455). According to the wording on the linked PR, and ability to use `CRON_TZ` is a side effect of the library that Kubernetes uses and there was no conscious decision to support this.

[2021-11-16 21:31] swetharepakula commented on #106402
This job still uses the old image registry. The ingress-gce repo already pushes to a different registry (gcr.io/k8s-ingress-image-push) and most of the jobs have already been converted to use those images. I will send a PR to update the remaining two ingress-gce jobs to use images from the newer registry.

[2021-11-16 21:48] justaugustus commented on #82531
/milestone v1.24

[2021-11-16 21:50] yuvaldolev commented on #105798
@mauriciopoppe do you have an idea about why this happens?

[2021-11-16 21:51] justaugustus commented on #95279
I'm closing this out, as Kubernetes v1.19 is no longer supported: https://kubernetes.io/releases/patch-releases/#non-active-branch-history

Please feel free to reopen this (with logs), if you're still encountering the issue on a supported version of Kubernetes.
/close

[2021-11-16 21:52] #95279 closed

[2021-11-16 21:54] justaugustus commented on #97026
@spiffxp -- I haven't been actively tracking this lately... do you know if anyone has done work here recently?
/milestone v1.24

[2021-11-16 21:55] jsturtevant commented on #106467
found evidence of a crash at the time:

[code]

[2021-11-16 21:57] swetharepakula commented on #106402
/assign @swetharepakula

[2021-11-16 21:58] jsturtevant commented on #106467
Prior to the reboot it looks like there was some issues loading volumes:

[code]

[2021-11-16 22:04] swetharepakula commented on #106402
/triage accepted

[2021-11-16 22:25] swetharepakula commented on #106402
I will close this bug out, once ci is green.

[2021-11-17 00:33] jsturtevant opened #106468 "[Flake] [Feature:Windows] Memory Limits [Serial] [Slow] Allocatable node memory"
### Which jobs are flaking?

ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd-serial-slow

### Which tests are flaking?

Kubernetes e2e suite: [sig-windows] [Feature:Windows] Memory Limits [Serial] [Slow] Allocatable node memory should be equal to a calculated allocatable memory value expand_more

### Since when has it been flaking?

this month

### Testgrid link

https://prow.k8s.io/v

[2021-11-17 00:33] jsturtevant commented on #106468
/assign

[2021-11-17 00:34] jsturtevant commented on #106468
/triage accepted
/priority important-soon

[2021-11-17 00:36] #104940 closed

[2021-11-17 00:49] mmiranda96 commented on #106204
I couldn't find any recent failure for test "Kubernetes e2e suite.[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should mutate pod and apply defaults after mutation [Conformance]". I did notice some failures previously, but they are now gone.

[2021-11-17 01:14] mmiranda96 opened #106469 "[Flaky test] [sig-node] containerd-NodeConformance"
### Which jobs are flaking?

containerd-NodeConformance

### Which tests are flaking?

[sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api [cos-stable]

### Since when has it been flaking?

11/16/2021 13:23 PST ([first failed run link](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-node-e2e/1460720200839073792)

[2021-11-17 01:44] #102303 closed

[2021-11-17 02:41] Mainintowhile commented on #56903
similar with this issue.
my solution is:
version:1.19.0
1 use the k8s coredns model(sed -f transforms2sed.sed coredns.yaml.base > coredns.yaml)
2 simplefy the config such as
  .:53 {
            errors
            health {
                lameduck 5s
            }
            ready
            kubernetes cluster.local {
                ttl 0
            }
            loop
            reload

[2021-11-17 03:49] NikhilSharmaWe commented on #106405
@SergeyKanzhelev what we want here is to change `deprecated` to `deprecated:`. But do we want to change every time we see  `deprecated` in a types.go file comments like for example do `staging/src/k8s.io/api/apps/v1/types.go:        DeprecatedTemplateGeneration   = "deprecated.daemonset.template.generation"
`  and if don't want to add `:` in this case, how can I add `:` at reasonable place in the

[2021-11-17 05:00] hellobiek opened #106474 "Service Externel IP does not become pending after uninstall metallb"
### What happened?

I had deployed a istio-ingressgateway service using metallb, which allocated a EXTERNAL-IP for istio-ingressgateway. Now I decided to using NodePort for service. So I uninstalled metallb and using NodePort.

However, When I change the service type from NodePort back to LoadBalancer, the EXTERNAL-IP is still using the old hostname but not becoming Pending.

The service is now as

[2021-11-17 05:00] #102941 closed

[2021-11-17 05:20] wking commented on #106054
External disruption isn't that rare, although unrecoverable external disruption may be.  For example, if you are keeping up with the tip of an OpenShift distribution channel, you are draining and rebooting every node in your cluster every week.

[2021-11-17 05:26] wking commented on #106054
That's a pretty thin race, where the disruption occurred within one polling period of the successful rollout.  But sure, I'm open to alternatives.  If there's no fixing `Progressing`'s current overloading of "I previously leveled the current target" and "I'm currently working to level the current target", can we mint a new condition type pair to decouple?  Because saying "meh, I guess we can never

[2021-11-17 06:43] MadhavJivrajani commented on #103260
/remove-good-first-issue
/unassign @yashikabadaya

[2021-11-17 06:49] SergeyKanzhelev commented on #106405
Yes, don't add it here.

Yes, there are a lot of matches, but those are easily filtereable. I think it is reasonable to rephrase things like "// This field is deprecated in favor of setting" into "//Deprecated: This field is deprecated..." (add Deprecated:) and "// Deprecated in v1.21: It isn't being" to "Deprecated: It isn't being..." (remove version)

[2021-11-17 06:54] yuzhiquan commented on #100052
All pr merged
Thanks very much to everyone!

/close

[2021-11-17 06:54] #100052 closed

[2021-11-17 07:04] PPadi commented on #103260
/assign

[2021-11-17 07:15] uablrek commented on #106474
/sig network

[2021-11-17 07:20] fromanirh commented on #106157
/cc

[2021-11-17 07:22] uablrek commented on #106474
This is not a K8s bug. Metallb has updated the `status.loadBalancer.ingress[0]` field in the service object, a field K8s does not set (or unsets). It is Metallb that has to unset it when it is uninstalled.

/remove-kind bug
/kind support

[2021-11-17 07:39] uablrek commented on #106474
If you change the type of the service, LoadBalancer -> NodePort, the external ip will become "<none>". This is the appropriate action in this case IMO.

[2021-11-17 07:57] uablrek commented on #106474
I have updated https://github.com/Nordix/assign-lb-ip/ with a `-clear` option. You can use it to clear status.loadBalancer.ingress.
Bus as mentioned, since you don't use the loadBalancer type you should switch to NodePort.

I close this issue. You may open another on metallb and refer to this one.

/close

[2021-11-17 07:57] #106474 closed

[2021-11-17 08:03] jiangxiaobin96 commented on #106407
the [#10608](https://github.com/etcd-io/etcd/issues/10608) is similar, so i changed my etcd.service as followed.
[code]

[2021-11-17 08:03] jiangxiaobin96 commented on #106407
the [#10608](https://github.com/etcd-io/etcd/issues/10608) is similar, so i changed my etcd.service as followed.
[code]

[2021-11-17 08:06] aimuz opened #106475 "Kubectl cannot get the node event created by the controller"
### What happened?

https://github.com/kubernetes/kubernetes/issues/100236

Kubectl can only get events with uid of nodeName

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L3524

You can view the implementation details

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L839

###

[2021-11-17 08:08] aimuz commented on #106475
/sig cli

[2021-11-17 08:09] nirnanaaa opened #106476 "Pod Termination handling kicks in before the load balancer has had time to remove target"
### What happened?

When a pod is entering its Terminating state, it will receive a signal, asking it kindly to finish up work after which kubernetes will proceed deleting the pod.

At the same time that the pod starts terminating, an ingress controller will receive the updated endpoints object, which will start removing the pod from the list of targets in the load balancer, that traffic could be

[2021-11-17 08:12] nirnanaaa commented on #106476
/sig provider-aws
/sig network

[2021-11-17 08:13] nirnanaaa commented on #106476
/sig cloud-provider

[2021-11-17 08:27] jyotimahapatra commented on #94626
Since we're in 1.23 code freeze, I'm moving this to milestone 1.24. @liggitt Let me know if this is an error.

/milestone v1.24

[2021-11-17 08:33] jyotimahapatra commented on #105841
Hi 👋 Im the bug triage shadow. Since we're in code freeze for 1.23, i wanted to check if we can move this issue to milestone 1.24.

[2021-11-17 08:35] jyotimahapatra commented on #68397
@krmayankk @soltysh I'm the bug triage shadow 👋 . We're in 1.23 code freeze. I wanted to check if this issue can be moved to milestone 1.24.

[2021-11-17 08:38] jyotimahapatra commented on #104041
Hi, 👋 Im the bug triage shadow. Since we're in 1.23 milestone code freeze, could we move this issue to milestone 1.24?

[2021-11-17 08:51] pohly commented on #106428
Log ingestion written for the traditional klog output format will not handle this correctly, for example https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml#L234

When using `klog.Infof`, the code which formats the log message can avoid this problem.

We need a similar solution for `klog.InfoS`.

[2021-11-17 08:54] serathius commented on #105841
@jyotimahapatra I think that this issue is just blocked on https://github.com/kubernetes/kubernetes/pull/106305

[2021-11-17 09:02] rajula96reddy opened #106478 "[Failing test][sig-node] node-kubelet-master-kubetest2"
### Which jobs are failing?

- node-kubelet-master-kubetest2

### Which tests are failing?

- kubetest2.Test

### Since when has it been failing?

2021-11-17 06:17 CET

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master-kubetest2

### Reason for failure (if possible)

From build log:
[code]

### Anything else we need to know?

This needs to be resolved for 1

[2021-11-17 09:10] encodeflush commented on #106478
/priority important-soon

[2021-11-17 09:11] encodeflush commented on #106478
/priority critical-urgent

[2021-11-17 09:42] aojea commented on #106478
this job was added 5 hours ago and it seems it never worked, so it should not be blocking but we should be careful adding jobs to the blocking tab to avoid false positives

https://github.com/kubernetes/test-infra/pull/24308

/assign @amwat @SergeyKanzhelev @Namanl2001

[2021-11-17 09:46] dilyanpalauzov opened #106480 "add option to delete the iptables, created by kubelet"
### What happened?

`kubeadm reset` does not delete the iptables/ipvs/ipset entries, created by `kubeadm init`. Part of the entries are created by kube-proxy and can be cleaned by kube-proxy --cleanup. Others are created by kubelet. See also kubernetes/kubeadm#2587 .

 * add a method to kubelet to delete all iptables/ipvs/ipset entries created by it, so that `kubeadm reset` can revert the effect o

[2021-11-17 09:53] dilyanpalauzov opened #106481 "typo in `kubelet --help`"
### What happened?

kubelet --help prints

*an* PodSpec → *a* PodSpec

This is copy of https://github.com/kubernetes/kubelet/issues/30.

### What did you expect to happen?

.

### How can we reproduce it (as minimally and precisely as possible)?

.

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]
</details>

### Cloud provider

Me

### OS version

<deta

[2021-11-17 10:09] Rkapoor1707 commented on #53331
I am facing the same issue, the cronjob pod errors out into crashloopbackoff due to some issue, and the following pods just go into pending state.
I was able to resolve the issue with crashloopbackoff but have to manually delete all cron jobs to terminate the pods stuck in pending state. It would be good to have these pods either not created in the first place because the previous jobs are not fai

[2021-11-17 10:14] cyclinder commented on #106481
/sig node

[2021-11-17 10:29] Kartik494 commented on #104717
Hi , is there anyone working on it? if not i would like to work on this.

[2021-11-17 10:29] cyclinder opened #106484 "kube-proxy: move "proxier.deleteEndpointConnections" to util"
### What happened?

https://github.com/kubernetes/kubernetes/blob/6c357f9996070fd015e08eec24f07c82b4b8b4a6/pkg/proxy/iptables/proxier.go#L727-L731
we should move `deleteEndpointConnections` to util?  This function is almost the same as:  https://github.com/kubernetes/kubernetes/blob/6c357f9996070fd015e08eec24f07c82b4b8b4a6/pkg/proxy/ipvs/proxier.go#L1942

### What did you expect to happen?

Should

[2021-11-17 10:29] cyclinder commented on #106484
/sig network

[2021-11-17 10:31] nannancy commented on #100152
/milestone v1.24

[2021-11-17 11:22] pohly commented on #105841
But even if that PR gets merged, the conversion will still not be complete?

We need to track:
- [ ] https://github.com/kubernetes/kubernetes/pull/106305
- [ ] https://github.com/kubernetes/kubernetes/issues/106276
- [ ] https://github.com/kubernetes/kubernetes/issues/106262

[2021-11-17 11:26] NikhilSharmaWe commented on #106422
@mattfarina Can you confirm, what our focus here is to reverse the changes made in PR's ([1](https://github.com/etcd-io/etcd/pull/13256), [2](https://github.com/heketi/heketi/issues/1871), [3](https://github.com/heketi/heketi/pull/1872)) which were merged to
use golang-jwt/jwt instead of form3tech-oss/jwt-go.

[2021-11-17 11:29] weibeld commented on #74848
I ran into this issue as well. The expectation was that when a Pod in a Job has `restartPolicy: OnFailure`, a container that fails is restarted indefinitely, independently of any settings in the Job. However, the restarts of a container seem to count against the `backoffLimit` of the Job. So, the actual behaviour is:

1. A container in the Pod fails and is restarted
1. The Job Controller registers

[2021-11-17 11:35] Kartik494 commented on #105129
/assign

[2021-11-17 11:36] Kartik494 commented on #105129
I am working on this

[2021-11-17 11:54] serathius commented on #105841
Ok, only https://github.com/kubernetes/kubernetes/pull/106305 will go in 1.23 as we just need approval.
/milestone v1.24

[2021-11-17 12:05] gnufied commented on #104717
The metrics was renamed in - https://github.com/kubernetes/kubernetes/pull/105885/files .

/close

[2021-11-17 12:06] #104717 closed

[2021-11-17 12:06] Namanl2001 commented on #106478
The failure seems to be kind of new and might need a few iterations to fix it. But as this needs to be resolved for 1.23.0-beta.0 release scheduled on 17/11/2021, we can move this job from blocking tabs to a non-blocking one, may be to `sig-node-kubelet` ?

[2021-11-17 12:27] swatisehgal commented on #106157
/cc

[2021-11-17 12:50] palnabarun commented on #106478
+1 on moving this job to informing boards instead of blocking. I'm not sure if this job should even be a `release-informing` job given that it is pretty new and tracks the sanity of migration from kubetest to kubetest2.

What do you think?

[2021-11-17 13:08] palnabarun commented on #106478
Refer to the Slack thread on context behind the above PR ☝🏽

https://kubernetes.slack.com/archives/C0BP8PW9G/p1637142313194000

[2021-11-17 13:12] dims commented on #106478
@Verolop once it goes green please (to add it to informing, right now it's broken and @Namanl2001 is working on it)

[2021-11-17 13:26] cndoit18 commented on #106481
/kind cleanup

[2021-11-17 13:27] cndoit18 commented on #106481
/remove kind bug

[2021-11-17 13:29] cndoit18 commented on #106481
/remove-kind bug

[2021-11-17 13:52] lbernick opened #106491 "Go Client: RESTClient.Get returns error: "etcdserver: leader changed""
### What happened?

Tekton, the project I work on, uses knative/pkg's generated reconcilers that rely on the go RESTClient. A user reported to us in #tektoncd/pipeline/issues/4116 an error: "etcdserver: leader changed" which appears to have bubbled up from a call to RESTClient.Get. We also see in our webhook logs "leaderelection.go:325] error retrieving resource lock tekton-pipelines/tekton-pipeli

[2021-11-17 13:56] lbernick commented on #106491
/sig api-machinery

Please feel free to reassign if this is better handled by another group.

[2021-11-17 14:11] randywatson1979 commented on #49387
In my case I have rolling update deployment in which the new replicaset is marked as `Running` and the old replicaset `Terminating` after `kubectl rollout` returned success.

[code]
However, I have randomly encountered that the `-o json` output shows both replicasets are running with spec: `.items[0].status.phase: "Running"` and `.items[0].status.containerStatuses[0].state.running`
`.items[1].stat

[2021-11-17 14:50] richard-9000 commented on #106464
I am experiencing the same issue with Debian Bullseye.

[2021-11-17 15:40] Cryptophobia commented on #104453
Thank you for the information. It was very helpful.

/close

[2021-11-17 15:40] Cryptophobia commented on #104453
/close

[2021-11-17 16:00] benlangfeld commented on #47202
See also https://github.com/kubernetes/website/pull/30509

[2021-11-17 16:17] furkanmustafa commented on #47202
Oh noes.. we have accidentally delivered a really important and wanted functionality. revert it, quick. deprecate it, do something. God forbid, what if it helps someone.

[2021-11-17 16:40] benlangfeld commented on #47202
@furkanmustafa The way it was "implemented" was completely wrong. It must be exposed in the schema explicitly.

[2021-11-17 16:48] tcolgate commented on #47202
To be fair... cron strings are not in any way idiomatic to k8s either, you'd have a structure with a field per duration. Probably each with elements that could expose ranges. But it'd be hideous to use. It's a compromise.
  Having the TZ in the schedule doesn't look great in kube, but it is idiomatic to a lot of cron implementations, so isn't utterly alien to people that are used to cron string sc

[2021-11-17 17:04] RobinMcCorkell opened #106496 "CronJob loses track of Jobs after label update"
### What happened?

Changing the label on a job template in a CronJob causes any Jobs held by the successful/failed history parameters to stop being tracked, so they never get cleaned up.

### What did you expect to happen?

Jobs with labels that don't match the (upgraded) CronJob, but still have an owner reference, should be subject to the history limit.

### How can we reproduce it (as minimally

[2021-11-17 17:05] apelisse commented on #100024
/reopen
/life-cycle frozen

[2021-11-17 17:06] apelisse commented on #100024
/remove-lifecycle rotten

[2021-11-17 17:06] apelisse commented on #100024
We have a fix for that but it didn't make it to code-freeze, we'll back-port in many releases later.

[2021-11-17 17:07] RobinMcCorkell commented on #106496
/sig apps

[2021-11-17 17:25] #103721 closed

[2021-11-17 17:34] SergeyKanzhelev commented on #106466
/triage accepted

@kewu1992 tests rely on latest image of COS and corresponding GPU plugin. Is there any way to guarantee that both will be available at the same time always?

Alternative is to fix the test to skip if driver is not available. @bobbypage since you looked into it, any idea how to do it easily?

[2021-11-17 17:42] kad commented on #106157
@mrunalp checked with kernel team: thread director for Linux is still under development, and right now it is not easily forecastable on when it will be merged into mainline kernel. However, even if that is going to be implemented, it will not solve the overall issue that is brought in this issue: the ability to user to specify which kind of cores user would like to use for particular workload.

Th

[2021-11-17 17:55] SergeyKanzhelev commented on #106478
/triage accepted
/priority important-soon
/kind cleanup
/remove-kind

Fixing issue priority. New link to the test: https://testgrid.k8s.io/sig-node-release-blocking#node-kubelet-master-kubetest2

[2021-11-17 17:56] ratheeshtv opened #106499 "Certificates shown as expired even after refresh"
### What happened?

Docker  Version:           18.06.1-ce
OS NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
PRETTY_NAME="Ubuntu 18.04.3 LTS"

Issue:

    kubernetes nodes becomes Notready with message - Kubelet stopped posting node status.
kube-apiserver logs shows :

{"log":"E1103 18:28:07.208359       1 authentication.go:65] Unable to authenticate the request due to an error: x509: certific

[2021-11-17 18:03] mauriciopoppe commented on #105798
hey @yuvaldolev, sorry for the late response and thanks for the reminder, I always run my tests with `hack/ginkgo.sh` and with a GCE cluster (not a kind cluster) for example following [this guide](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#debugging-an-e2e-test-with-a-debugger-delve).

The VolumeSnapshot feature requires a CSI Driver, in our e2e

[2021-11-17 18:05] mauriciopoppe commented on #106008
/assign

[2021-11-17 18:09] ritpanjw commented on #102430
Hi 👋 I'm the bug triage shadow. There hasn't been activity for couple of months. We're in code freeze for 1.23 milestone. I wanted to check if we're targeting to get this issue merged in time for 1.23 release(7/12)

[2021-11-17 18:19] SergeyKanzhelev commented on #106469
/area test
/triage accepted

We may need to spend some time looking into it

/assign @bobbypage

[2021-11-17 18:23] amwat commented on #106478
Ahh yes, it was always intended to be introduced as non-blocking. Thanks for catching this

[2021-11-17 18:31] rtheis commented on #103675
Hi folks, I followed the instructions in the security advisory after upgrading my cluster from Kubernetes v1.21 to v1.22 and I'm left with the following difference which I suspect is due to https://github.com/kubernetes/kubernetes/pull/102858.  End result is that I think the `aggregate_to_edit.yaml` file attached to https://groups.google.com/g/kubernetes-security-announce/c/WYE9ptrhSLE/m/EODhNR9yA

[2021-11-17 18:41] ehashman commented on #106393
/sig node
/area cadvisor

[2021-11-17 18:42] ehashman commented on #106403
/sig node

[2021-11-17 18:42] ehashman commented on #106424
/sig apps

[2021-11-17 18:43] ehashman commented on #106464
/sig cluster-lifecycle

[2021-11-17 18:43] mmiranda96 commented on #106469
It appears that this is a duplicate of https://github.com/kubernetes/kubernetes/issues/104292. Closing.
/close

[2021-11-17 18:43] ehashman commented on #106480
/sig node

[2021-11-17 18:43] ehashman commented on #106499
/sig node

[2021-11-17 18:43] #106469 closed

[2021-11-17 18:46] SergeyKanzhelev commented on #106480
/remove-kind bug
/kind feature

[2021-11-17 18:46] ehashman commented on #106378
/triage needs-information

Can you please provide the missing required information on your cloud provider and installation tools?

[2021-11-17 18:47] SergeyKanzhelev commented on #106393
/triage accepted
/assign @bobbypage

[2021-11-17 18:49] SergeyKanzhelev commented on #106403
/remove-kind bug
/kind support

/close

it looks like solution is provided

[2021-11-17 18:49] #106403 closed

[2021-11-17 18:50] SergeyKanzhelev commented on #106270
/triage accepted

as per @fromanirh this is legitimate request, but more like a feature

/remove-kind bug
/kind feature

[2021-11-17 18:53] SergeyKanzhelev commented on #106499
/triage needs-information

please try on supported version, 1.18 is out of support. Also please provide more informaiton on how k8s was installed/configured.

[2021-11-17 18:53] fromanirh commented on #106270
yup. As mentioned in the PR linked to this issue, I'll have a deep look ASAP.

[2021-11-17 18:56] SergeyKanzhelev commented on #106227
@fhke can you please collect kubelet logs on shutdown so it will be easier to troubleshoot?

/assign @bobbypage
/triage needs-information

[2021-11-17 18:56] SergeyKanzhelev commented on #106409
/remove-sig node

let's storage sig investigate first

[2021-11-17 18:58] SergeyKanzhelev commented on #106420
/triage accepted
/cc @jackfrancis
/assign @ehashman

[2021-11-17 19:01] jackfrancis commented on #106420
@pacoxu do you think that https://github.com/kubernetes/kubernetes/pull/101882 will help?

Upon first glance, I don't think this is related

[2021-11-17 19:04] msau42 commented on #100897
/reopen
/remove-lifecycle rotten

[2021-11-17 19:27] mauriciopoppe commented on #106008
There are a few more recent failures in that job related with turning on the CSIMigrationGCE feature flag in https://github.com/kubernetes/kubernetes/pull/104722,@leiyiz is fixing them in https://github.com/kubernetes/kubernetes/pull/106503

[2021-11-17 19:45] charleszheng44 commented on #72196
The major problem is there is a cache/indexer in the apiserver that helps to accelerate the operation with `field-selector`. if we allow regex filter for `field-selector` and users submit a very generic regex then the cache will be bloated.

[2021-11-17 19:47] ehashman commented on #104041
@jyotimahapatra this is critical for 1.23 and I think it just got forgotten... we need to get this fixed before test freeze

[2021-11-17 19:47] ehashman commented on #104041
/priority important-soon

[2021-11-17 19:52] deads2k commented on #72196
Constraining future choice there is part of the problem.

The first concern is about the resource cost to the apiserver to run regular expressions across all items in a list.  The prediction is that it is possible to write regexes that are extremely expensive.  If there is a belief that this cost is not excessively expensive, a benchmark test where it's easy to demonstrate pathological regexes wou

[2021-11-17 19:56] ehashman commented on #104038
/remove-lifecycle stale

This appears to have been fixed as of 11/08 in testgrid -- bravo team!

/close

[2021-11-17 19:56] #104038 closed

[2021-11-17 19:57] ehashman commented on #102430
@ritpanjw I don't believe we are. This is not a blocker.

/milestone clear

[2021-11-17 20:21] pohly commented on #102430
Another relevant aspect is log ingestion.

We would need to be careful about apple/orange comparisons (text import: just split into log messages vs json: full semantic), but to get the full picture we need to consider it.

About variance: I suspect that logging is not causing enough overhead during normal kubelet operation to make measuring small changes in the overhead statistically relevant when

[2021-11-17 20:52] fedebongio commented on #72196
We discussed this topic extensively in the SIG API Machinery meeting today, here is the recording: https://youtu.be/ObnzlnvADSk

[2021-11-17 21:42] swetharepakula commented on #106402
Closing since both testgrids are now green.

/close

[2021-11-17 21:42] #106402 closed

[2021-11-17 22:00] ehashman opened #106506 "[Flaky test] [pull-kubernetes-conformance-kind-ga-only-parallel] [sig-node] Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance]"
Appears related to https://github.com/kubernetes/kubernetes/issues/94414

I don't see this flaking in the [periodic](https://testgrid.k8s.io/sig-testing-kind#conformance-ga-only) but it appears to be quite flaky in presubmit CI, where this is the only test on the job that fails.

/sig testing node
/kind flake

### Failure cluster [7500f5d0daa5138aea9c](https://go.k8s.io/triage#7500f5d0daa5138aea9c

[2021-11-17 22:00] ehashman commented on #106506
/cc @BenTheElder

[2021-11-17 22:00] ehashman commented on #106506
/remove-kind failing-test

[2021-11-17 22:04] ehashman commented on #103856
/remove-lifecycle stale
/remove-kind failing-test
/kind flake

back to flaking: https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance&width=20&exclude-non-failed-tests=

[code]

[2021-11-17 22:16] aojea commented on #106506
I was debugging this test this morning

the apiserver logs shows the kubelet events come too late, the test times out, is like they are queued in the kubelet

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106448/pull-kubernetes-conformance-kind-ga-only-parallel/1460909846491566080

[code]

but kubelet times doesn't add up
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull

[2021-11-17 22:31] BenTheElder commented on #106506
I could've sworn we'd like banned conformance tests from depending on event delivery because it's not guaranteed to be reliable?

[2021-11-17 22:32] aojea commented on #106506
@liggitt right now the test waits 60 seconds for the event
https://github.com/kubernetes/kubernetes/blob/7f756417ff13f4d3a67862da4fa8f2a74f4887e3/test/e2e/node/events.go#L117-L118

since events are not synchronous, should we have a more reasonable period?

[2021-11-17 22:38] spiffxp commented on #106506
@BenTheElder I'm not familiar with this test, but you're right that Events and Reason aren't things that a Conformance test can depend upon

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md

[2021-11-17 22:54] ehashman commented on #106506
/milestone v1.23

[2021-11-17 22:56] spiffxp commented on #106506
Did some digging.  It looks like this has been tagged as Conformance since at least 1.2 https://github.com/kubernetes/kubernetes/pull/15228 (sometime prior to 2015-10-07)

So this appears to be a case where we missed going back through the existing corpus of conformance tests when we wrote the above doc.  https://github.com/kubernetes/community/pull/2459 is where the rule originated (merged 2018-1

[2021-11-17 22:57] ehashman commented on #106506
Code itself for corresponding test says 1.9: https://github.com/kubernetes/kubernetes/blob/7f756417ff13f4d3a67862da4fa8f2a74f4887e3/test/e2e/node/events.go#L39-L44

Git history shows the test basically hasn't changed in >1y: https://github.com/kubernetes/kubernetes/commits/master/test/e2e/node/events.go

[2021-11-17 23:00] ehashman commented on #106422
/sig architecture
/area code-organization

[2021-11-17 23:00] ehashman commented on #106423
/sig architecture
/area code-organization

[2021-11-17 23:00] spiffxp commented on #106506
I'll split out demotion into a separate PR, don't want to tangle this issue up

[2021-11-17 23:01] #106456 closed

[2021-11-17 23:02] ehashman commented on #106428
/triage accepted

[2021-11-17 23:03] ehashman commented on #106424
/kind feature

[2021-11-17 23:24] #106468 closed

[2021-11-17 23:31] ehashman commented on #106506
The first single instance of a timeout failure I see is on https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106448/pull-kubernetes-conformance-kind-ga-only-parallel/1460880476934770688

I'm going to see if I can try to bisect from there, probably merged recently.

[2021-11-17 23:33] BenTheElder commented on #106506
to be clear: the test has been around and we should look at fixing it, I was just surprised to see the test name with `[Conformance]`, we should open a different thread/issue on that topic 😅

I am working on the kubernetes deb/RPM releases for the day or else I'd be taking a look.

[2021-11-17 23:33] IlyaBiryukov opened #106509 "failed calling webhook - connection reset by peer"
### What happened?

Our Azure AKS cluster had ingress object admission validating web hook configured for nginx. Nginx webhook was exposed as a K8S service in `default` namespace, with a self-signed cert. The  `ValidatingWebhookConfiguration` had appropriate `caBundle` and the webhook worked fine.
[code]

Recently we changed the  namespace of the K8S service that webhook configuration uses and it

[2021-11-17 23:36] IlyaBiryukov commented on #106509
/sig network

[2021-11-17 23:55] BenTheElder commented on #106506
https://testgrid.k8s.io/conformance-kind#conformance,%20master%20(dev)%20[non-serial]&width=5
https://testgrid.k8s.io/conformance-kind#kind%20(IPv6),%20master%20(dev)%20%5Bnon-serial%5D&width=5

[2021-11-18 00:08] spiffxp opened #106512 "Test should be demoted from Conformance: [sig-node] Events should be sent by kubelets and the scheduler about pods scheduling and running"
Related:
- Noticed this as part of https://github.com/kubernetes/kubernetes/issues/106506
- Opened in response to: https://github.com/kubernetes/kubernetes/issues/106506#issuecomment-972164628

According to our [rules for Conformance tests](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md), the `[sig-node] Events should be sent by kubelet

[2021-11-18 00:09] mauriciopoppe commented on #106008
gce-cos-master-serial should be all green after https://github.com/kubernetes/kubernetes/pull/106503 is merged and it's because it's skipping the test that are failing, please don't close this issue yet, I'll post a comment once the fix for these failures is ready, the hope in the future is that the skipped tests will run with `kubernetes/cloud-provider-gcp` bringing up the e2e cluster instead of

[2021-11-18 00:16] spiffxp commented on #106512
/assign @johnbelamaric @smarterclayton
Opened https://github.com/kubernetes/kubernetes/pull/106511 to address

FYI @ehashman @aojea @BenTheElder
Since y'all were commenting on https://github.com/kubernetes/kubernetes/issues/106506

[2021-11-18 00:16] spiffxp commented on #106506
Opened https://github.com/kubernetes/kubernetes/issues/106512 to cover the conformance demotion

[2021-11-18 00:37] ehashman commented on #106506
/priority critical-urgent

I am proceeding as though we have a perf regression with kubelet events until proven otherwise. Others feel free to also TAL.

[2021-11-18 00:40] spiffxp commented on #97026
Last I recall @hh had discussed the idea of setting up an in-cluster private registry with SIG Node (thus making the tests in question more portable) but I don't know if that ever went anywhere

[2021-11-18 00:55] #104041 closed

[2021-11-18 00:55] ehashman commented on #106506
[code]

😒️ I can't reproduce locally on its own, I either will need to stress test it in parallel with some other stuff or I need a slower machine.

[2021-11-18 01:00] grosser opened #106513 "Debugging high controller-manager workqueue_retries_total"
We are seeing 1-1 workqueue_adds_total to workqueue_retries_total in our clusters, that seems bad (why would everything need to be retried) so I tried looking into debugging this but could not get anything useful even with `-v 4`.

Found https://www.jaegertracing.io/docs/1.27/operator/ which suggests 10% being bad.

- How would I start debugging this ?
- What is an unhealthy amount of retries comp

[2021-11-18 01:01] ehashman commented on #106506
/reopen

I don't want to just close this because the timeout was bumped if there's a possible regression

[2021-11-18 01:06] ehashman commented on #106506
Staring at @aojea's notes:

Looking at the journal logs I'm seeing some (mild, not unexpected) client-side throttling:

[code]

So that looks to me like the kubelet thinks it successfully got the event out by 10:23:18 which is well within our 1m timeout.

The timestamps in Antonio's post only look at POST, let me see if I can find the PATCH logs from apiserver

[2021-11-18 01:10] ehashman commented on #106506
From https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/106448/pull-kubernetes-conformance-kind-ga-only-parallel/1460909846491566080/artifacts/logs/kind-control-plane/pods/kube-system_kube-apiserver-kind-control-plane_d4f67f6be2fb429d5c53506800d50ddf/kube-apiserver/0.log.20211117-102458

[code]

That PATCH was received when the kubelet sent it so the event should have been updated and

[2021-11-18 01:11] jackfrancis commented on #106506
Possible repro on a just-rebased PR:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103069/pull-kubernetes-conformance-kind-ga-only-parallel/1461114630502879232

[2021-11-18 01:13] ehashman commented on #106506
I see another PATCH at

[code]

but I think that's just from the pod getting torn down, it matches the Kubelet logs

[2021-11-18 02:24] zhhuabj opened #106514 "Extract containerID from system.slice/containerd.service style cgroupPath"
### What happened?

kubeadm + containerd based cluster only "workingSetBytes" is reported for containers in a pod.

"memory": {
"time": "2021-10-04T12:06:58Z",
"workingSetBytes": 63426560
}

### What did you expect to happen?

but we would expect more memory metrics to be reported.

"memory": {
"time": "2021-10-04T12:16:27Z",
"availableBytes": 16431185920,
"usageBytes": 20508672,
"workingSetBytes"

[2021-11-18 02:25] zhhuabj commented on #106514
/assign @zhhuabj

[2021-11-18 02:25] zhhuabj commented on #106514
/sig node

[2021-11-18 03:10] xaque208 commented on #106175
How did you get flannel up?  I've been running a single node for a week or so and now I want to add a second.  I believe I'm seeing this issue also.

[2021-11-18 03:21] pacoxu commented on #106420
Maybe.
I need to do some deep digging.

[2021-11-18 03:32] denkensk commented on #106419
@sebltm I can think of the following clues for now, which I hope will help you troubleshoot.
1. What is your current cluster size and load profile? Are there any operations that may cause an elevated load on the ApiServer, such as "global list pods".
2. Do you use multi-scheduler? This is the most likely scenario to encounter this problem.
3. Have you custom implemented your own scheduling plugin

[2021-11-18 03:39] wangyysde commented on #106480
/cc @wangyysde

[2021-11-18 03:53] pacoxu commented on #106464
The apiserver is restarting.
Would you check the apiserver log or metrics? Does the etcd work normally(etcd with the slow disk?)?

[2021-11-18 03:53] cyclinder commented on #106484
/cc @aojea @uablrek

[2021-11-18 03:57] #106512 closed

[2021-11-18 04:06] Shabirmean commented on #104137
Following!

[2021-11-18 04:18] yxxhero commented on #106246
@ahg-g Thanks very much.

[2021-11-18 04:21] MikeSpreitzer opened #106517 "pull-kubernetes-kubemark-e2e-gce-scale fails"
### Which jobs are failing?

pull-kubernetes-kubemark-e2e-gce-scale

### Which tests are failing?

ClusterLoaderV2: load

### Since when has it been failing?

Not sure, we just got past failures to gather enough information.

### Testgrid link

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-kubemark-e2e-gce-scale

### Reason for failure (if possible)

First

[2021-11-18 05:23] MadhavJivrajani commented on #106513
/kind support

[2021-11-18 06:41] zhanghuidinah opened #106519 "pod containerStatuses image information is inconsistent with the deployment"
### What happened?

**pod image information is inconsistent with the deployment**

### What did you expect to happen?

[code]

### How can we reproduce it (as minimally and precisely as possible)?

find a same hash image,  update application

### Anything else we need to know?

_No response_

### Kubernetes version

[code]

### Cloud provider

**Private Cloud**

### OS version

<details>

[code]

[2021-11-18 06:58] pohly commented on #100152
We can still fix this in 1.23. PR is here: https://github.com/kubernetes/kubernetes/pull/106520

[2021-11-18 07:09] pohly commented on #102430
"collect ... for different log levels" - this isn't really needed. We now have `"v":1` to indicate the verbosity of a log message, so we can do one run and collect at, say, `-v9`, and then during benchmarking only consider log messages below the log level we are interested in.

[2021-11-18 07:24] aojea commented on #106506
this is patching the pod status, probably setting the IPs or something like that, check the URI format is a patch on the pod objetct

AFAIK those POST are creating the events , the URI format /api/v1/namespace/<namespace>/events ,

[2021-11-18 07:27] aojea commented on #106506
latest failure 1:45 am CET

https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&test=should%20be%20sent%20by%20kubelets%20and%20the%20scheduler

fix https://github.com/kubernetes/kubernetes/pull/106508 merged 1:55 AM CET,

let's keep it open one day more

[2021-11-18 07:27] aojea commented on #106512
+1

[2021-11-18 07:32] aojea commented on #106480
/sig network

Long history here https://github.com/kubernetes/kubernetes/issues/82125

[2021-11-18 07:55] aojea commented on #106509
This is a complicated setup, so you are using an ExternalName service to redirect the traffic and keep the SNI authentication working. Just as a note, ExternalName service only generates a CNAME dns record, doesn't perform any traffic load balancing, so is the client resolver that has to do the recursive resolving to find the IP of the service.

So far so good, the error seems to be related to the

[2021-11-18 08:35] ZQHcode opened #106521 "Why use both vendor and go mod"
Why use both vendor and go mod

[2021-11-18 09:04] RichardoC commented on #104252
/remove-lifecycle stale

[2021-11-18 09:15] marquiz commented on #106157
I agree with @kad here. We should aim at a future proof solution in the sense that try to avoid painting us in the corner in the face of new hardware generations. Also, trying to find a generic kubelet-only one-size-fits-all solution feels like a futile effort.

[2021-11-18 09:23] vpnachev commented on #100182
Hello,

I see this issue is fixed in 1.22 but are there any plans to fix it also in 1.20 and 1.21?

[2021-11-18 09:48] shanemcd commented on #28369
Who do we need to bribe to get this reopened?

![](https://media.giphy.com/media/l2Jef4AQ4KXJTvdde/giphy.gif)

[2021-11-18 09:53] #100152 closed

[2021-11-18 11:14] SebDanielsson commented on #56402
/remove-lifecycle stale

[2021-11-18 11:42] berlinsaint commented on #65797
Emmm.can you understand me？

[2021-11-18 13:34] osheratias commented on #79224
please reopen

[2021-11-18 13:34] osheratias commented on #79224
please re-open

[2021-11-18 13:37] #106521 closed

[2021-11-18 13:45] smira opened #106529 "Kubernetes Go modules are not tagged for v1.23.0-beta.0"
### What happened?

New releases is not tagged.

### What did you expect to happen?

Tag should be there.

### How can we reproduce it (as minimally and precisely as possible)?

https://pkg.go.dev/k8s.io/api?tab=versions

[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS version

<deta

[2021-11-18 13:45] smira commented on #106529
/sig release

[2021-11-18 14:33] haircommander commented on #103856
it looks like the major page fault value is a bit off. I've opened https://github.com/kubernetes/kubernetes/pull/106533 to fix

[2021-11-18 14:42] astraw99 opened #106534 "Klog panic lead to controller `WaitForNamedCacheSync` never returned"
### What happened?

In our K8s cluster, we provided the `klog.SetLogger(selfLogger)`, then observed our controller pod running, but its log is `Waiting for caches to sync for...`, and never returned.
After debug, we found that it is the klog Error(impl by our logger) func panic, lead the logr `mutex` waiting to unlock.
`https://github.com/kubernetes/kubernetes/blob/b8af116327cd5d8e5411cbac04e7d4d1

[2021-11-18 15:25] fromanirh commented on #91633
/cc

[2021-11-18 15:47] #106032 closed

[2021-11-18 15:47] mx-psi opened #106536 "Use of outdated OpenTelemetry Go package"
### What happened?

Importing Kubernetes' `k8s.io/apiserver` module together with the latest version of `go.opentelemetry.io/otel` results in a failed build due to breaking changes in the OpenTelemetry Go library. This also happens with `k8s.io/component-base`.

The solution is to bump the opentelemetry dependencies to a stable version.

### What did you expect to happen?

`k8s.io/apiserver` shoul

[2021-11-18 15:49] mx-psi commented on #106536
/sig instrumentation

[2021-11-18 15:53] jurschel opened #106537 "After upgrading from 1.19 to 1.21.3 deployments now require massive resource limit increases."
### What happened?

- Cluster was upgraded from 1.19 to 1.20 and finally to 1.21.3
- During this deployments were restarted
- Noticed several were not starting and investigated
- Some deployments with startup probes were failing and thus could not start
- Some deployments with liveness and readiness probes were failing and thus could not start
- Logged into an example of one of these deployments a

[2021-11-18 15:56] mx-psi commented on #106536
/area dependency

[2021-11-18 15:59] jurschel commented on #106537
/sig node

[2021-11-18 16:15] #102993 closed

[2021-11-18 16:18] mx-psi commented on #106536
This needs etcd to be bumped to a version that includes etcd-io/etcd#13361 (funnily enough, this issue was mentioned on https://github.com/etcd-io/etcd/pull/13361#issuecomment-927672373).

[2021-11-18 16:37] jcpuzic commented on #106464
I just tried it on more powerful hardware (VMs with 4 cores, Intel(R) Xeon(R) CPU E3-1220 v5 @ 3.00GHz).  All the restarting services in the cluster have the "Pod sandbox changed, it will be killed and re-created." message.  I think this might be tied with the Debian Bullseye release.

[code]

[2021-11-18 16:42] MadhavJivrajani commented on #94738
@wojtek-t how does this sound to you wrt unblocking the migration?

[2021-11-18 17:00] ahg-g commented on #106127
/retitle Take taints/tolerations into consideration when calculating PodTopologySpread skew

[2021-11-18 17:17] ehashman commented on #106506
I really don't think waiting from 1 -> 5m is an acceptable fix. This may be catching a performance regression.

It has stopped the bleeding but I think the problem remains...

[2021-11-18 17:20] kfox1111 commented on #75482
Still an issue. :/
/remove-lifecycle stale

[2021-11-18 17:27] MikeSpreitzer commented on #106517
It looks like #106413 also showed the same symptom.  See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106413/pull-kubernetes-kubemark-e2e-gce-scale/1461164903535480832

[2021-11-18 17:33] ehashman commented on #106536
/area code-organization
/sig architecture
/assign @dashpole

I believe this is by design due to API incompatibilities and limitations; we cannot use the latest version of the package.

[2021-11-18 17:39] marosset commented on #98574
/triage accepted

[2021-11-18 17:47] aojea commented on #106506
the events , by design, may take 6 mins , so it is completely legit that an event can take 5 mins, you cant' fail if take less (actually, by definition they are unreliable so it should be fine also to not receive it)

Performance can not be tested this way, there has to be an explicit test for that, and that test can not use events of course

[2021-11-18 17:53] bstrdsmkr commented on #81089
Please /remove-lifecycle stale

[2021-11-18 17:55] Rajalakshmi-Girish commented on #106264
Yes seems to be an issue with Calico v3.21.0.
Have raised https://github.com/projectcalico/calico/issues/5089
@mkumatag ^^

[2021-11-18 17:55] #106264 closed

[2021-11-18 17:56] jackfrancis commented on #106506
@aojea If the prior "median event lifecycle time" (in the context of this test) was previously < 1 min (and thus test flakes were rare) and now the "median event lifecycle time" has increased so as to trigger regular test flakes, that does seem like something interesting and worthy of prioritization.

It just seems probable that there's some "there" there.

This could also be explained by environm

[2021-11-18 17:57] Rajalakshmi-Girish commented on #106347
Have raised a Calico issue for this https://github.com/projectcalico/calico/issues/5089

[2021-11-18 18:00] ehashman commented on #106506
We previously had issues where presubmits were failing when periodics were not, see https://github.com/kubernetes/kubernetes/issues/97025

[2021-11-18 18:02] ehashman commented on #106506
If the test was newly introduced and was flaking, I'd agree with you, but we've had this test at 100% green since like the 1.2 release, and it only started flaking in the past 48h. This suggests to me that we merged a regression, but since it landed during code freeze, it's very difficult to determine which of the dozens of PRs it was.

[2021-11-18 18:10] dgrisonnet opened #106538 "Cardinality explosions in kubelet rest client latency metrics"
### What happened?

Issue originating from: https://github.com/prometheus-operator/kube-prometheus/pull/1499

The label seems to be unused, but it can cause issues with high cardinality. On k3s this label has unbound cardinality due to the inclusion of url param like timeout. Examples from my small k3s cluster:

![image](https://user-images.githubusercontent.com/22327577/142471231-28188da6-21f6-4e

[2021-11-18 18:10] dgrisonnet commented on #106538
/sig instrumentation
/sig node
/cc @ehashman

[2021-11-18 18:12] ehashman commented on #106537
/triage needs-information

We need a reproducer case with an actual workload and examples of the limit increases in order to be able to assist. How are you installing Kubernetes? Your version string suggests that you are using a custom build from a cloud platform; you should probably reach out to them first.

[2021-11-18 18:13] ehashman commented on #106538
/triage accepted

What timeseries is this coming from?

[2021-11-18 18:14] dgrisonnet commented on #106538
Updated the issue. It should be:
[code]

[2021-11-18 18:19] dgrisonnet commented on #106538
Since these metrics are coming from component-base, I guess we could remove sig-node, wdyt @ehashman?
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go#L34-L50

/assign

[2021-11-18 18:25] BenTheElder commented on #106506
Fairly confident there have not been substantial changes to the infra in the past week.
For blocking presubmits the infra is moved to public infra owned by the CNCF / SIG K8s infra and the configs are all in https://github.com/kubernetes/k8s.io

https://github.com/kubernetes/k8s.io/commits/main/infra/gcp shows the CI code being updated regularly, but not the build/test cluster that executes agains

[2021-11-18 18:31] ehashman commented on #106538
These metrics appear to have existed for 2 years, suggesting that this bug has been present for many, many releases... is this k3s specific?

Edit: rate_limiter metrics weren't registered before 1.22: https://github.com/kubernetes/kubernetes/pull/100311

[2021-11-18 18:31] ehashman commented on #106538
/assign @logicalhan
FYI

[2021-11-18 18:35] ehashman commented on #106538
I think these metrics are broken for all components, not just kubelet, so I'd prefer that we try to fix the cardinality issue rather than just deregister from kubelet. I'd suggest we fix them by paring down the URL to something that's actually aggregatable, e.g.

`https://127.0.0.1:6444/api/v1/namespaces/%7Bnamespace%7D/configmaps?allowWatchBookmarks=%7Bvalue%7D&fieldSelector=%7Bvalue%7D&resourceV

[2021-11-18 18:41] jurschel commented on #106537
Added the deployment you can use.  Also the limit increases are something your going to have to figure out troubleshooting.  The deployment on 1.19 started with 100m and 128Mi as the resource limit after upgrading I had to push it all the way to 1000m and 2Gi to get it to reliably start without failing.  After it gets started now it's using 5m CPU and 400Mi+ just idling...  Whereas before it would

[2021-11-18 18:50] dgrisonnet commented on #106538
/remove-sig node

[2021-11-18 18:50] parvaths1118 opened #106540 "issue with spinning up pods for cron jobs in production"
Hello, we have  cronjobs running in production , occasionally we are having issues with spinning up pods for cron jobs .when i describe the pod , we are having the following logs (Copied below)

Please can you help if you see anything from the logs below ? (This cronjob has 3 containers to be deployed to perform the  business logic.)

Please let me know if any information is needed.

Events:

  Ty

[2021-11-18 18:55] wenjiaswe commented on #102078
cc @wojtek-t

[2021-11-18 18:57] alimoosavi commented on #103764
I am new to kubernetes project and this issue seems attractive to me , please assign this issue to me.

[2021-11-18 19:27] BenTheElder commented on #106534
This issue probably belongs in https://github.com/kubernetes/klog/ instead

[2021-11-18 19:40] wojtek-t commented on #94738
This sounds good to me.
Given that we migrated everything finally, I think this is ok.

[2021-11-18 19:52] svoruga opened #106543 "Unable to create PVC in ARO using NFS CSI - error parameter=client.SubscriptionID constraint=MinLength value="""
### What happened?

We are trying to use the new NFS/Azurefiles preview:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-how-to-create-nfs-shares?tabs=azure-cli
Use Container Storage Interface (CSI) drivers for Azure Files on Azure Kubernetes Service (AKS) - Azure Kubernetes Service

We are using the following to create the storage class:
apiVersion: storage.k8s.io/v1
kind: Stor

[2021-11-18 21:34] leilajal commented on #106491
/assign
/triage accepted

[2021-11-18 21:35] leilajal commented on #106491
@ibabou  can you confirm their set-up is right? we would suggest you to
-check you own environment
-update etcd version
It is most likely that there is some problem with your network setup.

[2021-11-18 21:37] mattcary commented on #55045
fyi, https://github.com/kubernetes/kubernetes/pull/99728 :-)

It will be alpha in 1.23 and I'm already thinking about improvements. Watch for a kubernetes.io blogpost with details on how to use it.

[2021-11-18 21:47] leilajal commented on #106509
/assign @aojea thanks for your comment. please let us know if you need further help.
//triage accepted

[2021-11-18 21:54] leilajal commented on #106513
/assign @ jiahuif would you please take a look and add more people if needed. Thanks!
/triage accepted

[2021-11-18 21:54] leilajal commented on #106513
/assign @jiahuif would you please take a look and add more people if needed. Thanks!
/triage accepted

[2021-11-18 22:06] aojea commented on #106506
indeed, check my analysis, https://github.com/kubernetes/kubernetes/issues/106506#issuecomment-972140283 a failing job has 429 FailedMount events, a job passing the test only 277, the rest of the events are the same

Is not the first time that we have a performance regression or an env problem that causes similar effects, I remember one because of runc, one issue with the DNS on CI that elana link

[2021-11-18 22:49] aojea commented on #106347
I really prefer to not track these things here if you don't mind, this is Calico and/or CAPG, and both projects have their own repos, it is clear that it has nothing to do with Kubernetes

Thanks for following up and investigating

/close

[2021-11-18 22:49] #106347 closed

[2021-11-18 22:51] mnpenner commented on #49387
You can do something like this to find pods that have a not-ready container:

[code]

Doesn't work so well on crons and one-off jobs but that's just to give you an idea if you're looking for a more powerful query selector.

`yq` being https://github.com/mikefarah/yq. Alternatively you can use `-ojson` with `jq` instead.

[2021-11-18 23:02] ehashman commented on #105686
/reopen

still flaking

[2021-11-18 23:04] ehashman commented on #105686
Luckily the kubelet log is clear as to what's going on. From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1461404704922669056/artifacts/n1-standard-2-cos-93-16623-39-21-991516df/kubelet.log (flake https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1461404704922669056)

[code]

[code]

The test should work fine if we dro

[2021-11-18 23:04] ehashman commented on #105686
/milestone v1.23

need to fix this before test freeze

[2021-11-18 23:21] ehashman commented on #100241
/reopen

[2021-11-18 23:27] ehashman commented on #100241
not actually fixed in k8s, the PR above should not have closed this bug

[2021-11-18 23:36] gjkim42 commented on #100241
cc

[2021-11-19 01:15] jonyhy96 commented on #100241
Can u provide `proc/[pid]/statm` info of kubelet?

[2021-11-19 01:53] tschirmer commented on #60964
I've found the same issue on kubernetes 1.19 (EKS). Has this been fixed?

[2021-11-19 02:02] pacoxu commented on #106464
As the Warning event says, `Startup probe failed` is the reason for restart.

[2021-11-19 02:15] tanjing2020 opened #106545 "kube-scheduler has race conditions during cache refresh"
### What happened?
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/eventhandlers.go#L212
if oldPod.UID != newPod.UID {
		sched.deletePodFromCache(oldObj)
		sched.addPodToCache(newObj)
		return
	}
Both deletePodFromCache and addPodToCache operate on the internal cache of the scheduler, and will grab and release the lock respectively.
Here should be the scenario where the POD is d

[2021-11-19 02:16] tanjing2020 commented on #106545
/sig scheduling

[2021-11-19 02:30] jingxu97 commented on #99827
/remove-lifecycle stale

[2021-11-19 02:30] jingxu97 commented on #99827
what is the status of this?

[2021-11-19 02:33] jonyhy96 commented on #106545
IMO, pod is insert into `SchedulingQueue` before it really been scheduled(running the node resource plug-in), it is a sequence behavior so it won't cause mis calculation of node resource allocable. IIRC

[2021-11-19 02:43] astraw99 commented on #106534
Got it, new PR: https://github.com/kubernetes/klog/pull/272

[2021-11-19 02:57] lianghao208 opened #106546 "low priority pods stuck in pending without any scheduling events"
### What happened?

My cluster already has high priority pending pods(lack of resources). Now I try to create a low priority pods, but it seems those pods won't be handled by the kube-scheduler(no scheduling event at all). And then I modify the low priority pods to high priority, it can be scheduled successfully. Is it normal?

### What did you expect to happen?

Low priority pods can also be hand

[2021-11-19 02:57] lianghao208 commented on #106546
/sig scheduling

[2021-11-19 04:30] iamejboy opened #106548 "kube-apiserver crashes after updating from v1.19.12 to v1.20.12"
### What happened?

After updating from this version v1.19.12 to this v1.20.12 version, we noticed that kube-apiserver started to crash continuously with seeing it having high CPU.

CPU Stats
`acae24d2a0cb        k8s_kube-apiserver_kube-apiserver-jpe1-caas1-alpha1-master-000001.caas.jpe1z.dcnw.foobar_kube-system_0753542ea02b4690137d79ceed9983a7_2                     0.00%               94.45MiB /

[2021-11-19 04:41] iamejboy commented on #106548
/sig api-machinery

[2021-11-19 05:22] kerthcet commented on #65797
Sorry for the delayed response, IIRC, if you set `cleanPodPolicy: None` and `backoffLimit: 3` at the same time, whatever the  result, pods are still there, and you can see the logs even if they are failed.

What confused me is that you said `the controller doesn't clean a restart policy pod , an it restarts infinitely and take up many resources`, if we have configured the `backoffLimit`, why this

[2021-11-19 05:41] MadhavJivrajani commented on #94738
Thanks @wojtek-t!
Based on the above, I tested out how the migration would look locally by making `k8s.io/util/clock` point to my local clone which has `WithTickerAndDelayedExecution` and it looks as follows: https://github.com/MadhavJivrajani/kubernetes/commit/2757c5783441a408260bff8b41390f69c986764c
Could you take a look whenever you get a chance and confirm if this is how we want to proceed? I

[2021-11-19 06:09] saintwang007 commented on #81508
Has it been supported ？

[2021-11-19 06:24] bsdnet commented on #106466
One way is to fix GPU device plug-in testing using not latest LTS;
The other way is to bypass the test when GPU driver is not available.

We are also actively fixing the gap between COS image and GPU driver

[2021-11-19 07:03] MinvenX opened #106549 "Pod with one container executed startcontainer twice and allocated cpu twice. (cpu manager static policy)"
### What happened?

A pod with one container creates two containers and exist at the same time. This pod was in crashloopbackoff state at that time. But it is difficult to understand is why it allocates cpu twice, which causes other pods to have not enough cpu to satisfy request.

### There are kubelet log below.

[code]

From the log above we could find that, Pod oms-admin-live-ar-green-5d78868cb

[2021-11-19 07:19] RookiesBoy commented on #106549
/sig node

[2021-11-19 07:29] zmeggyesi commented on #55045
@mattcary Thank you so much, this is going to help my systems tremendously!

[2021-11-19 08:09] offSwitch commented on #106464
after change runtime to containerd, i have same issue
kubenetes version v1.22.4
containerd version 1.4.12
containerd config
[code]

cluster init
 kubeadm init --kubernetes-version v1.22.4 --apiserver-advertise-address 192.168.137.15  --pod-network-cidr=10.244.0.0/16 --apiserver-cert-extra-sans=192.168.137.15 --cri-socket=/run/containerd/containerd.sock

[code]

[2021-11-19 08:12] prprasad2020 commented on #60538
I was having issue with AgroCD's "applications.argoproj.io" crd. I accidently deleted the namespace and now this CRD is not getting deleted. This work around worked like a charm. Thank you !

`kubectl patch crd/applications.argoproj.io -p '{"metadata":{"finalizers":[]}}' --type=merge`

[2021-11-19 08:32] simonpasquier commented on #106538
Maybe I misunderstood your point but IIUC the actual namespace value is replaced by the generic `{namespace}` value to avoid excessive cardinality.

https://github.com/kubernetes/kubernetes/blob/9b180d8913d7d08f0f2c0a4d60289560d4fdd7e7/staging/src/k8s.io/client-go/rest/request.go#L499-L503

[2021-11-19 08:42] pohly commented on #106534
If the logger panicked, why did that not kill the process?

IMHO a logger implementation should never panic and if it does, that's so fatal that the code using it doesn't need to handle that gracefully.

[2021-11-19 08:53] pohly commented on #99827
/reopen

Someone needs to implement https://github.com/kubernetes/kubernetes/issues/99827#issuecomment-848094780

[2021-11-19 08:59] offSwitch commented on #106464
after uninstalling docker and reinstalling containerd, everything is fine

[2021-11-19 09:07] ejderdal commented on #106509
We have this issue also in one of our AKS clusters. But our Ingress controller was already running in a separate namespace from `kube-system`. The issue seem to have started when they replaced the `tunnelfront` proxy with the `konnectivity` agent.

Besides Nginx, other admission controller webhooks fail with the same error.

2 days ago, they upgraded konnectivity agent from
`mcr.microsoft.com/oss/

[2021-11-19 09:19] aojea commented on #106509
That is an important detail, I'm not very familiar with that component, let me ping @cheftako maybe he can redirect us to the right person
/unassign

[2021-11-19 09:58] sanderdescamps commented on #17512
Without counting the lines

`kubectl describe nodes | awk '/Allocated resources/,/Events/' | head -n-1`

[2021-11-19 10:13] berlinsaint commented on #65797
i will take a look of Job backoffLimit implement. i have read the training-operator job implement , i find that the backoffLimit can't prevent the pod restart.

[2021-11-19 10:21] berlinsaint commented on #65797
as you can see, i just wan't we can preserve the error pods, meanwhile, don't consume resource allocations, just like a never restart pod..（now , the pod restart policy is immutable...）

[2021-11-19 10:26] nu007a commented on #48701
mark

[2021-11-19 11:19] kerthcet commented on #65797
I think it was a different feature you need comparing to the implementation of max retry times we discussed in this issue, right?

If so, I'd like to open another issue and we can discuss about it there for I think it was a good improvement of resource ultilization, but I need to think about it seriously.

[2021-11-19 11:30] Letme commented on #55386
problem still existing in 1.21.7

[2021-11-19 11:41] pere3 commented on #103607
seeing the same thing on GKE 1.21.5-gke.1302

[2021-11-19 11:47] Ahmed-Aghadi commented on #105678
@pohly can I work for the section :- test/e2e/scheduling ?
And there was only one changes needed for test/e2e/node which I did but my PR was closed as it only contains trivial edits. That was my first PR, so can you please guide me further?

[2021-11-19 11:54] encodeflush commented on #106459
/milestone v1.23
/priority important-soon

[2021-11-19 12:51] pohly commented on #105678
/assign

I'll try to coordinate the work, but won't create PRs myself. I ticked of line items which had no remaining work.

@Ahmed-Aghadi: feel free to start working on `test/e2e/scheduling`.

[2021-11-19 12:54] pjbgf commented on #82647
/remove-lifecycle stale

[2021-11-19 13:05] pohly commented on #105678
I replied there and also suggested an improvement. For those following this issue: try to include more information than before in the error message when the assertion fails. Then it is more obvious to the reviewer that the change is useful without having to read this issue.

Examples:
- https://github.com/kubernetes/kubernetes/pull/106486/files#r753169583
- https://github.com/kubernetes/kubernetes

[2021-11-19 13:19] NandoTheessen commented on #88153
Is there currently a way to limit the new pods per minute/second?

[2021-11-19 13:35] pohly commented on #105678
Another tip: don't just reference this issue as explanation for the PR. Reviewers are busy, they won't necessarily invest the time and follow the link to understand what the PR is about.

Instead, take the first sentence from this issue and adapt it as needed to the specific changes in the code.

[2021-11-19 13:43] jkl92 opened #106556 "kubelet.service fails to start on Fedora 35 Server (also on Fedora CoreOS stable and next)"
### What happened?

kubelet.service fails to start on Fedora 35 (also on Fedora CoreOS stable and next)

Install kubelet, kubeadm, and kubectl on Fedora 35 Server
[code]

start kubelet.service
[code]

Check status of kubelet.service
[code]

Check kubelet unit logs
[code]

/var/lib/kubelet/ does not exist
[code]

cri-o.service is running though
[code]

### What did you expect to happen?

kubelet.se

[2021-11-19 15:08] liggitt commented on #60538
Manually removing the finalizer from the CRD is *strongly* discouraged, since it can leave orphaned custom resource data in etcd. Were you unable to remove the finalizers from the custom resources without short-circuiting the CRD cleanup? Do you have any logs or captured output of the attempts to do that?

[2021-11-19 15:18] jcpuzic commented on #106464
@offSwitch Which distro are you using?

For my CRI, I'm running straight containerd.  I don't install Docker as it's deprecated for running K8S.

[2021-11-19 15:31] #94416 closed

[2021-11-19 15:51] jkl92 commented on #106556
Ok, I see my mistake I think. I did not realize that I needed to `kubeadm init` a cluster to create the files

[2021-11-19 15:51] #106556 closed

[2021-11-19 15:58] tosi3k commented on #106459
/cc @leiyiz

[2021-11-19 16:45] marceloboeira commented on #94416
/reopen

[2021-11-19 16:46] lbernick commented on #106491
Hi @leilajal, thanks for your response! Looping in @tibcoplord who originally reported the issue. I think there are two problems here:
1. there may be something wrong with their network setup
2. we can't handle the error returned without string comparison (and don't have a good sense of what to do about it). I would expect a REST client to return one of the typical REST error codes rather than an

[2021-11-19 16:53] tibcoplord commented on #106491
FYI, I think this can happen when the cluster auto scales ( add or remove new node ), rather than a generic network issue.

I expect tekton needs to re-try ... or at least not completely stop the pipeline.

[2021-11-19 17:18] jpbetz commented on #81508
No, AFAIK there has been no activity on this. But the question comes up every once and a while so I think it's appropriate to keep this open.

/reopen
/remove-lifecycle rotten

[2021-11-19 17:24] aojea commented on #94416
this seems more like an aws feature, not a kubernetes one

[2021-11-19 17:25] jpbetz commented on #81508
Looks like the main roadblocks here are:
- Changing the flag is dangerous: https://github.com/kubernetes/kubernetes/issues/81508#issuecomment-590595569
- CLI flags are defined at api-server start up but custom resources are dynamic, so they don't pair well: https://github.com/kubernetes/kubernetes/issues/81508#issuecomment-590595212

[2021-11-19 17:33] MikeSpreitzer commented on #81508
Yes, I agree.  I think the right approach to this would be through API objects rather than command line flags.

[2021-11-19 17:44] raulsaeztapia commented on #105733
@Eugenevml are you able of editing the `configmaps` of **prometheus-server**?

Maybe I have not understood well you issue. To the best of my knowledge you can configure Prometheus server (`prometheus.yml`)  adding something like this:  (I have installed **Prometheus** with a **helm chart** so I can edit the **configmap** `$ kubectl edit configmaps --namespace monitoring prometheus-server`)

[code]

[2021-11-19 18:21] kevindelgado opened #106558 "Look into strict handling of nested object decoding"
### What
Look into strict handling of nested objects for beta release of server-side field validation

### Why
With ServerSideFieldValidation merged, we have modified decoding such that it is possible to successfully decode an object _and_ return a special type of error know as a strict decoding error for when the data being decoded from has unknown or duplicate fields that would have otherwise ju

[2021-11-19 18:22] kevindelgado commented on #106558
/assign

[2021-11-19 18:22] kevindelgado commented on #106558
/sig api-machinery

[2021-11-19 18:32] leiyiz commented on #106459
all `In-tree Volumes [Driver: gcepd]` are failing, likely due to https://github.com/kubernetes/kubernetes/pull/104722, will add a skip to test-config

[2021-11-19 18:47] mirekphd commented on #99630
I have encountered the same problem bug in our settings (2 data centers in one multi-node Openshift (k8s v1.11) cluster), weighed 100 for Primary and 1 Secondary center. The problem is that with as little as 6 pod replicas the Secondary center always gets at least 1 pod running. Being forced to set a positive weight (of at least 1 percent) to Secondary center was an obvious hint at how the affinit

[2021-11-19 19:52] Enough7 commented on #41075
Guys try using `kubectl create configmap env-production --from-env-file=.env.production` don't use '--from-file='

[2021-11-19 20:00] robscott commented on #106267
@cyclinder thanks for volunteering to help with this one! I know @danwinship has some big kube-proxy changes/fixes in flight right now, so it would be good to be sure you don't conflict with him. Otherwise, as long as @danwinship isn't already working on this, I think you're free to have it.

[2021-11-19 20:10] sturfee-petrl commented on #68083
/remove-lifecycle rotten

[2021-11-19 21:11] danwinship commented on #106267
I don't think we agreed that the array is for historical reasons only. We aren't _currently_ using it, but we aren't ready to say that we won't use it in the future at this point.

So, the docs should warn that kube-proxy currently ignores additional addresses, but it shouldn't imply that it's actually _wrong_ to have additional addresses

I'm not

[2021-11-19 21:20] judexzhu commented on #106393
May I know if the cAdvisor 0.43 will be backported to the 1.19+ kubernetes? For v1.19 is the first version to support cgroup v2

[2021-11-19 21:20] ahg-g commented on #102136
/open

for backporting

[2021-11-19 21:21] tallclair opened #106561 "[Pod Security] Document Pod Security code structure & extension points"
The Pod Security admission controller was designed to be extensible. We should add a markdown file to the k8s.io/pod-security-admission repo that documents the recommended extension points and gives an overview of the code structure.

/sig auth
/kind documentation

[2021-11-19 21:37] tallclair commented on #101695
IMO this should apply to all arbitrary strings output to a terminal by command line tools. It's probably simpler to just put a catch-all around kubectl output to escape control characters, but I'm not sure if kubectl intentionally uses control characters anywhere. I am neutral on whether the escaping should still be applied when the kubectl output is piped to another command.

I do NOT think the e

[2021-11-19 21:46] BenTheElder commented on #101695
kubectl uses ansi escape codes (color, bold ...) when printing warnings since https://github.com/kubernetes/kubernetes/pull/73032

[2021-11-19 23:23] ehashman commented on #100788
/reopen

This appears to be flaking a lot per triage, I'm also seeing it on PRs

[2021-11-20 00:04] SergeyKanzhelev commented on #106393
We typically only cherry critical issues, see: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md#what-kind-of-prs-are-good-for-cherry-picks Also 1.19 is out of support in upstream. Also updating dependencies may not be possible on earlier versions, so unlikely 0.43 can be backported to 1.20, for example, as is. So if cAdvisor fix is needed, it will

[2021-11-20 00:29] ymmt2005 commented on #106393
As a workaround for older releases, we can deploy cAdvisor as a DaemonSet.
https://github.com/google/cadvisor/tree/master/deploy/kubernetes

[2021-11-20 04:25] astraw99 commented on #106534
Yes, updated with aborting the process.
Problem here is that the goroutine is waiting to unlock, so we need to unlock it safely.

[2021-11-20 04:36] #102490 closed

[2021-11-20 08:05] #105686 closed

[2021-11-20 08:21] offSwitch commented on #106464
![image](https://user-images.githubusercontent.com/11695496/142719564-4d90ebf3-facb-485c-aa01-cc8e9269df7b.png)
Maybe you can check if it's a problem with containerd.io, at first I also wanted to use the containerd that comes with docker, but then I realized that I couldn't initialize k8s properly using the containerd that is automatically installed when installing docker

[2021-11-20 08:23] offSwitch commented on #106464
@jcpuzic
![image](https://user-images.githubusercontent.com/11695496/142719696-24b7a0e0-9a41-4f22-bc82-14dde86741de.png)

[2021-11-20 08:57] offSwitch commented on #106464
Maybe you can try to initialize k8s with docker as runtime, and that will eliminate some problems.

[2021-11-20 10:36] #97119 closed

[2021-11-20 13:08] 0xc0000007b commented on #60140
This issue is hilarious. It's the exact reason I tested k8s personally before recommending it to any client for production use.

[2021-11-20 14:19] 0xc0000007b commented on #60140
Tried running a script to copy files individually. Tried hacking it with `cat`. Tried downgrading kubectl to `v1.19.5` then `v1.19.0`. In the end what worked was... Not sure yet give me a few more hours of wasting my time on a 4 year old bug.

[2021-11-20 14:27] timthelion commented on #60140
I probably wont invest the time to reproduce this locally, because I don't know if this is possible. This bug is triggered by high throughput, perhaps I'd spend a lot of time and just not get a reproduction. However, this bug can be reproduced %100 of the time on my k8s cluster. I'm on DigitalOcean. I'd be curious to know if this is happening to anyone NOT on DigitalOcean...

[2021-11-20 14:28] timthelion commented on #60140
Also, is there some way to simplify the test case. Is there something similar, but simpler than `kubectl exec` that we could try to see if this still reproduces with fewer moving parts?

[2021-11-20 15:36] #74375 closed

[2021-11-20 16:02] leonardpahlke opened #106566 "[Flaky test][sig-node] Probing container should not be restarted with a exec "cat /tmp/health""
### Which jobs are flaking?

master-informing gce-ubuntu-master-default

### Which tests are flaking?

- kubetest.Test
- Kubernetes e2e suite.[sig-node] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [NodeConformance] [Conformance]

### Since when has it been flaking?

- probing test: 11/18/2021
- kubetest: 11/16/2021

### Testgrid link

https://testgrid.k

[2021-11-20 17:17] sftim opened #106567 "ControllerRevision incorrectly marked as beta"
### What happened?

I ran `kubectl explain ControllerRevision` and saw docs inconsistent with [API groups and versioning](https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups-and-versioning):
[code]

Given that the API version is `v1`, either that's wrong, or there's a problem with the text

### What did you expect to happen?

The docs for ControllerRevision didn't (appear to) c

[2021-11-20 17:17] sftim commented on #106567
/sig apps
/sig docs

[2021-11-20 17:20] sftim commented on #106567
https://github.com/kubernetes/kubernetes/blob/ed07515ee012207e79816b4641ad5d3be238468b/pkg/apis/apps/types.go suggests this might have been fixed. I'll check.

[2021-11-20 17:31] sftim commented on #106567
I was able to replicate this with:
[code]
Haven't tried anything more recent.

[2021-11-20 17:40] sftim commented on #106567
I might be misunderstanding but `pkg/apis/apps/types.go` and `staging/src/k8s.io/api/apps/v1/types.go` seem to be out of sync on this.

[2021-11-20 17:41] sftim commented on #106424
What's a customresourcebinding?

[2021-11-20 17:41] sftim commented on #106437
/sig docs

[2021-11-20 17:45] sftim commented on #106437
(this idea might need a KEP)

I wonder if we could have the generated code look like:
[code]

and the primary code look like Markdown:
[code]

[2021-11-20 17:47] sftim commented on #88282
@riking would you be willing to revise the issue description based on https://github.com/kubernetes/kubernetes/issues/88282#issuecomment-689213634 ?

[2021-11-20 17:47] sftim commented on #88282
/transfer website

[2021-11-20 17:50] sftim commented on #11815
Is it OK to transfer this to [k/website](https://github.com/kubernetes/website/)?
If so: `/transfer website` will do that (for org members).

[2021-11-20 17:52] sftim commented on #25379
/reopen

[2021-11-20 17:53] sftim commented on #25379
/transfer website

[2021-11-20 17:53] sftim commented on #80435
I think this should be in [k/website](https://github.com/kubernetes/website/)

/transfer website

[2021-11-20 17:54] sftim commented on #78759
I think this is also
/sig api-machinery

[2021-11-20 17:56] sftim commented on #87634
(on behalf of SIG Docs)
/lifecycle frozen

[2021-11-20 18:02] sftim commented on #102537
The _Service_ concept / API implementation appears to treat a Pod that is marked for termination as not ready. I'm not sure that this extends to all of Kubernetes, though perhaps it should.

@nonylene would you be willing to open a bug report in https://github.com/kubernetes/website about making the documentation match the current behavior (link it back to this one), and leave _this_ issue to trac

[2021-11-20 18:02] sftim commented on #103609
/transfer website

[2021-11-20 18:03] sftim commented on #104878
/triage accepted
for SIG Docs

[2021-11-20 18:06] odinuge commented on #106514
Hi,

From your reproduction steps, it looks like you are running using different cgroup drivers for containerd and for kubelet. This is not supported, and things will not work. It looks like you explicitly configure systemd cgroup driver for kubelet, while the default value for containerd is cgroupfs/not use systemd.

Can you please try using the same value on both kubelet and containerd, and see

[2021-11-20 18:15] sftim commented on #106374
I'm not sure how SIG Docs might help here. What's needed?

[2021-11-20 18:18] sftim commented on #106561
/sig docs

[2021-11-20 18:23] sftim commented on #20165
Is there a linked issue against k/website to document the rotation process as a task? (if not, I recommend opening one)

[2021-11-20 18:24] 0xc0000007b commented on #60140
Lucky for me I'm in the process of moving off DigitalOcean as we speak. In my case I need to copy some umpty squillion files out of a PVC and the following script seems to doing the job, though slow enough I might timeout of the script doesn't first:

[code]

[2021-11-20 18:24] sftim commented on #94625
For information: documenting cloud-provider-specific steps is typically out of scope for SIG Docs.

[2021-11-20 18:25] 0xc0000007b commented on #60140
Lucky for me I'm in the process of moving off DigitalOcean as we speak. In my case I need to copy some umpty squillion files out of a PVC and the following script seems to doing the job, though slow enough I might timeout if the script doesn't first:

[code]

[2021-11-20 18:25] sftim commented on #89940
We should document this in https://kubernetes.io/docs/reference/labels-annotations-taints/
/transfer website

[2021-11-20 18:25] 0xc0000007b commented on #60140
Lucky for me I'm in the process of moving off DigitalOcean as we speak. In my case I need to copy some umpty squillion files out of a PVC and the following script seems be to doing the job, though slow enough I might timeout if the script doesn't first:

[code]

[2021-11-20 18:26] 0xc0000007b commented on #60140
Lucky for me I'm in the process of moving off DigitalOcean as we speak. In my case I need to copy some umpty squillion files out of a PVC and the following script is doing the job, though slowly enough I might timeout if the script doesn't first:

[code]

[2021-11-20 18:36] #91220 closed

[2021-11-20 18:37] sftim commented on #104414
Let's log a docs feature request to explain how to turn off anonymous access. Some future page within https://kubernetes.io/docs/concepts/security/ might want to link there.

[2021-11-20 18:47] judexzhu commented on #106393
It just makes `kubectl top node` output with <unknown> instead of real values, the others, Prometheus and `kubectl top pod` work fine. Our current in-production version is 1.19.xx, it might take us over 1 year to upgrade to 1.23. so if these can be backport to ealier version, it would just be perfect.

Thanks for the help

[2021-11-20 18:47] judexzhu commented on #106393
@ymmt2005 thank you, will this fix `kubectl top node` issue?

[2021-11-20 19:16] Rajalakshmi-Girish opened #106569 "[Flaky Test][sig-node] kubernetes-unit-test TestHTTP1DoNotReuseRequestAfterTimeout is being Flaky"
### Which jobs are flaking?

periodic-kubernetes-unit-test-ppc64le

### Which tests are flaking?

1. vendor/k8s.io/client-go/rest.TestHTTP1DoNotReuseRequestAfterTimeout
2. vendor/k8s.io/client-go/rest.TestHTTP1DoNotReuseRequestAfterTimeout/HTTP1
3. vendor/k8s.io/client-go/rest.TestHTTP1DoNotReuseRequestAfterTimeout/HTTP2

### Since when has it been flaking?

16th November 2021

### Testgrid link

[2021-11-20 19:19] Rajalakshmi-Girish commented on #106569
Proof of Flakiness:
![image](https://user-images.githubusercontent.com/63038004/142738477-ef2d5dda-ee60-4532-9260-31357ed1fc9e.png)

[2021-11-20 19:46] Rajalakshmi-Girish opened #106571 "[Flaky Test][sig-node] kubernetes-unit-test TestTakeByTopologyNUMADistributed is being Flaky"
### Which jobs are flaking?

periodic-kubernetes-unit-test-ppc64le

### Which tests are flaking?

1. pkg/kubelet/cm/cpumanager.TestTakeByTopologyNUMADistributed
2. pkg/kubelet/cm/cpumanager.TestTakeByTopologyNUMADistributed/allocate_24_full_cores_with_8_distributed_across_the_first_3_NUMA_nodes_(filling_the_first_NUMA_node)

### Since when has it been flaking?

Not sure about the exact date. But i

[2021-11-20 19:48] Rajalakshmi-Girish commented on #106571
@klueska ^^

[2021-11-20 19:50] Rajalakshmi-Girish commented on #106569
@aojea ^^

[2021-11-20 19:51] aojea commented on #106569
/assign

[2021-11-20 20:00] Rajalakshmi-Girish commented on #106571
Screenshot of tests flaking:
![image](https://user-images.githubusercontent.com/63038004/142739448-3e93a741-9010-4415-a9b9-7164b727df91.png)

[2021-11-20 20:03] aojea commented on #106569
interesting, it doesn't have any failure in all the other jobs it seems it's only flake in ppc64le

https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestHTTP

maybe a golang issue?

https://github.com/golang/go/issues/49680
https://github.com/golang/go/issues/44304

[2021-11-20 20:03] cglong opened #106572 "in '/usr/local/lib/libxar.1.dylib', file was built for unsupported file format"
### What happened?

I'm trying to build kubectl on macOS 10.13 [using Homebrew](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/kubernetes-cli.rb). I'm getting this error:

[code]

The whole log is available here: [01.log](https://github.com/kubernetes/kubernetes/files/7575150/01.log). I apologize for the lack of detail (I'm very new to Kubernetes), but will do whatever I can to help g

[2021-11-20 20:06] cglong commented on #106572
/sig cli

[2021-11-20 20:09] aojea commented on #106569
I don't have access to a ppc64le system, but it would be good to run the test with the `stress` tool
[code]

[2021-11-20 21:38] #99232 closed

[2021-11-20 21:38] #99404 closed

[2021-11-20 23:39] #98214 closed

[2021-11-21 01:26] leonardpahlke opened #106573 "[Failing test] integration-master"
### Which jobs are failing?

integration-master

### Which tests are failing?

- ci-kubernetes-integration-master.OverallChanges
- k8s.io/kubernetes/test/integration/apiserver.TestMaxResourceSizeChanges
- k8s.io/kubernetes/test/integration/apiserver.TestMaxResourceSize/MergePatchType_should_handle_a_patch_just_under_the_max_limitChanges
- k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/tes

[2021-11-21 01:36] dharmab commented on #77310
I hit this bug when trying to upload some gamedev related files from my dev box to the game's server. I was running kubectl from a working directory on my C:\, and trying to upload a file from the D:\. As a workaround, I was able to write a script to copy the file temporarily to the working directory on the C:\, then `kubectl cp` using the relative path from the C:\. This worked well in my case be

[2021-11-21 01:39] leonardpahlke opened #106574 "[Failing test][sig-api-machinery] aks-engine-windows-containerd-master"
### Which jobs are failing?

aks-engine-windows-containerd-master

### Which tests are failing?

- ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd.OverallChanges
- Kubernetes e2e suite.[sig-api-machinery] Aggregator Should be able to support the 1.17 Sample API Server using the current Aggregator [Conformance]Changes
- kubetest.TestChanges

### Since when has it been failing?

11/20/2

[2021-11-21 01:41] #98520 closed

[2021-11-21 03:43] #102779 closed

[2021-11-21 04:32] NikhilSharmaWe commented on #105595
@leiyiz I would like to collaborate. Could you please give me some direction on how can I proceed in solving this issue.

[2021-11-21 04:37] NikhilSharmaWe commented on #105581
@leiyiz I would like to collaborate. Do we need to add an import statement here, could please give me some direction on how can I proceed to solve this issue.

[2021-11-21 05:13] jainpratik163 commented on #106424
we are adding labels in all our MS and once we add such it will restart all MS and we want to avoid this.

[code]

[2021-11-21 06:46] #94970 closed

[2021-11-21 07:24] 0xc0000007b commented on #60140
A few hours have passed. The approach I settled on uses `rsync` and a script [shared by](https://serverfault.com/a/887402) @karlbunch on ServerFault. It's robust, resumable and provides progress indication. I'm using it like so:

[code]

To get at the data in my `PersistentVolume` I create a Pod with the PV attached [as described here](https://stackoverflow.com/a/50381178). In addition to download

[2021-11-21 07:31] yxxhero commented on #106549
v1.16 is out of support, please try to upgrade your k8s version. @MinvenX

[2021-11-21 07:46] #101715 closed

[2021-11-21 08:46] #99673 closed

[2021-11-21 08:46] #100710 closed

[2021-11-21 09:18] aojea commented on #106574
I think we should verify that the test doesn't fail in the supported jobs, blocking is a good candidate for correlation
https://testgrid.k8s.io/sig-release-master-blocking

If the test only fail in this job it should be assigned to the job owner,

[2021-11-21 09:25] aojea commented on #106573
great catch @leonardpahlke
/sig api-machinery
/priority critical-urgent

@liggitt it seems all tests fail with

how can this fail consistently only in periodics and not in presubmits? is an external dependency?

https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestMaxResourceSize

[2021-11-21 09:37] pohly opened #106575 "E2E tests: avoid generic poll functions"
### What would you like to be added?

Tests that use `wait.PollImmediate` (directly or indirectly, as in https://github.com/kubernetes/kubernetes/blob/ed07515ee012207e79816b4641ad5d3be238468b/test/e2e/framework/pod/wait.go#L386-L426) with a custom test function fail poorly when polling times out. Example:

[code]

This is actually one of the better examples. In other cases the only failure message

[2021-11-21 09:37] pohly commented on #106575
/sig testing

[2021-11-21 09:38] aojea commented on #106573
I would say this is the origin https://github.com/kubernetes/kubernetes/pull/105916

[2021-11-21 09:52] ash2k commented on #105830
/kind bug

[2021-11-21 10:29] ash2k commented on #89163
@mlbiam Hi! Could you share the work you've done so far please? Someone (maybe I) could pick it up and finish.

/remove-lifecycle stale

[2021-11-21 10:34] matthyx commented on #105988
/assign
Let me look at this in the next few days.

[2021-11-21 11:46] #100336 closed

[2021-11-21 11:46] #102170 closed

[2021-11-21 12:46] #102052 closed

[2021-11-21 13:11] NikhilSharmaWe commented on #106575
@pohly I would like to contribute to add this enhancement. Will the addition will be similar to [this](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/density.go#L114) case in which the function inside will change accordingly.
If I am reasonable till now, then what should be the output.

[2021-11-21 13:14] thannaske commented on #56582
I stumbled across this while attempting to limit a ServiceAccount to manage SSL certificates which are stored as Secrets alongside with application specific-secrets the SA should not be able to read. In my opinion this is a valid use case for this feature request without violating the principle of resource separation by Namespaces.

[2021-11-21 13:46] #103155 closed

[2021-11-21 14:04] liggitt commented on #106573
presubmits only run short tests, periodics run all long ones... looking if there's a long test that needs fixup

[2021-11-21 14:18] liggitt commented on #106573
fix in https://github.com/kubernetes/kubernetes/pull/106576

[2021-11-21 14:30] SataQiu commented on #106464
@jcpuzic Have you solved your problem?
Can you post a more detailed startup log of kube-apiserver?

[2021-11-21 15:32] mlbiam commented on #89163
@ash2k here's my latest - it's really old but i had it to the point where exec and cp worked.  i was starting on port-forward when i ran out of steam - https://github.com/mlbiam/kubernetes/tree/kubectl-websocket

[2021-11-21 16:33] dbmathis commented on #98215
The following might be of interest to those in this thread.

My cluster and topology is:
`master/449d1d0f-8e51-49d0-8759-41dcd8d64450:~$ k get nodes -o wide --show-labels | grep  windows | awk -F' |=' '{print $1 " " $17 " " $48}'
3ebcdcd1-d647-4814-a14d-66ca3bd85313 172.42.129.8 az2
41300042-c376-42e9-b7bb-d40f2330f18e 172.42.129.7 az2
92db06e7-1258-417f-9bd7-e8644059aa7b 172.42.129.6 az1
9cd0d589

[2021-11-21 16:54] jsturtevant commented on #106574
This is failing due to a change in ETCD image https://github.com/kubernetes/kubernetes/commit/c82a0f8ddcae7b53b72adca8e492feca20396e44 , I was looking at https://github.com/kubernetes/kubernetes/commit/c4fc9bba6c292970f7f8e82b8033afbe31f07c9a which should have added windows support but I think it is missing parts. It should have made this automatic. I don't see where the base windows images are lo

[2021-11-21 17:47] liggitt opened #106579 "[Flaky] TestDifferentWidths"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestDifferentWidths

### Since when has it been flaking?

As far back as triage board history shows

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

https://prow.k8s.io/view/gs/kuber

[2021-11-21 19:46] #102392 closed

[2021-11-21 20:29] knabben opened #106580 "Windows Kube-Proxy metrics are not registered"
### What happened?

`RegisterMetrics` function on `pkg/winkernel/metrics.go` is not being used, and kproxy metrics are not showing on endpoint.

### What did you expect to happen?

[code]

See kube-proxy related metrics.

### How can we reproduce it (as minimally and precisely as possible)?

Access kube-proxy on `http://localhost:10249/metrics` and search for kube-proxy specific metrics.

### Anyt

[2021-11-21 20:29] knabben commented on #106580
/sig windows

[2021-11-21 20:38] pohly commented on #106575
This is harder then the other issue. I cannot provide detailed guidance, so whoever tackles this will have to be able to come up with a solution himself and run tests to try out his changes before suggesting a PR.

[2021-11-21 21:05] #106573 closed

[2021-11-21 21:46] #101042 closed

[2021-11-21 22:37] Kanshiroron commented on #96614
/reopen

[2021-11-21 22:46] #98719 closed

[2021-11-21 22:51] rahulkjoshi commented on #90922
/remove-lifecycle stale

The PR mentioned above should handle the use-case where the flag value gets changed. Code is targeted to be merged in 1.24

[2021-11-22 00:31] AntonOfTheWoods commented on #60140
As frustrating as it might be to have fully integrated, standard features that don't work robustly, my guess is that this is the way we should move forward. I can understand why it's hard to do something like this properly and why external solutions are preferable. What I don't understand is why Google-associated engineers refuse to have proper documentation for stuff like this. Ego probably. Just

[2021-11-22 01:09] qixiaobo commented on #41075
Yeah
Exactly

[2021-11-22 01:16] MinvenX commented on #106549
Thank you for your reply, yxxhero.  But this production environment problem has bothered me for a long time, but this env can't be upgrade within a few days. So I had to ask the k8s community node sig for help.

[2021-11-22 01:30] yxxhero commented on #106549
ok. I will try to see it. Thanks very much. @MinvenX

[2021-11-22 01:47] #36400 closed

[2021-11-22 02:07] jonyhy96 commented on #101927
Since the test is still failed, pick up at #106584 /cc @andrewsykim

[2021-11-22 02:25] zhubby commented on #83224
https://gitlab.bangdao-tech.com/kubeease/doc/docs/blob/develop/redis-operator/Redis%20Operator%209a152342dffb4d5d8f210445b04dbf5f.md

[2021-11-22 03:21] lazybetrayer commented on #89898
I have the same problem with a v1.21.6 cluster.

Both probes are set to the same port and path:

[code]

From kubelet logs, both probes sent at about the same time, but liveness probe succeeded, readiness probe failed.

[code]

[2021-11-22 03:22] kerthcet commented on #106546
The lower priority pods should be scheduled successfully as you described, maybe you can attach your yaml template?

[2021-11-22 03:22] cyclinder commented on #106267
thanks @danwinship @robscott

i will work on this

[2021-11-22 03:27] lianghao208 commented on #106546
@kerthcet

This is the lower priorityClassName `medium` pod that stucks in pending
[code]

After I modified the priorityClassName to `high`, the pod can be scheduled successfully.

This is my priorityClass:

[code]

[2021-11-22 03:29] armstrongli opened #106587 "make max retries of serviceaccount token controller configurable through command line options"
### What would you like to be added?

max retries is supported in service account token controller, but it is not configurable in controller manager.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/serviceaccount/tokens_controller.go#L70
[code]

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/serviceaccount/config/types.go
[code]

### Why is this needed?

th

[2021-11-22 03:38] krmayankk commented on #68397
yes please @jyotimahapatra

[2021-11-22 03:40] tanjing2020 commented on #106545
/cc @Huang-Wei

[2021-11-22 03:51] tanjing2020 commented on #106545
![image](https://user-images.githubusercontent.com/73930840/142798343-d4422633-0073-4852-a597-07f544bdcd59.png)

[2021-11-22 04:03] kerthcet commented on #106546
I guess:
1. when you change the priorityClassName to high, we are now process with preemption, so the pod can be scheduled.
2. Your cluster is lack of resources so when you create a low priority pod, it will not be scheduled successfully.

Correct me if not.

[2021-11-22 04:05] kerthcet commented on #106546
Can you try to deploy a low priority pod with no resources required, let's see whether it can be scheduled successfully.

[2021-11-22 04:25] armstrongli commented on #106587
/sig auth

[2021-11-22 04:30] NikhilSharmaWe commented on #106390
@ehashman I would like to work on adding this new e2e test. I have not worked on adding an e2e test before, so could you please guide me a little and inform me about how can I collaborate.

[2021-11-22 04:37] ammarzuberi commented on #85443
/remove-lifecycle rotten

[2021-11-22 04:37] ammarzuberi commented on #85443
/reopen

[2021-11-22 06:05] jinxuan-LY commented on #75870
java + logback 日志框架也遇到相同的问题，减小归档数量缓解了这个问题。

[2021-11-22 06:12] ahrtr opened #106589 "[etcd] Bump etcd 3.5.1"
### What would you like to be added?

When upgrading etcd from an old version to 3.5.0, then some zombie members may be displayed. Users can't even remove the zombie members using command `etcdctl member remove <id>`. Please see the discussion in [etcd/issues/13196](https://github.com/etcd-io/etcd/issues/13196).

A fix for this issue has already been included in etcd 3.5.1. So it'd be better to bu

[2021-11-22 06:14] ahrtr commented on #106589
/sig etcd

[2021-11-22 06:34] ahrtr commented on #106589
I see that PR [pull/105706](https://github.com/kubernetes/kubernetes/pull/105706) fixed this, but the all the go.mod files are still referencing to etcd 3.5.0.

[2021-11-22 06:40] ratheeshtv commented on #106499
Issue is resolved after manually generating the kubelet.conf and restarting kubelet.

RCA is in the auto refreshed client certificate (kubelet-client-current.pem)   CN was updated as hostname instead of ip address

[2021-11-22 06:43] #106378 closed

[2021-11-22 06:52] #101599 closed

[2021-11-22 06:56] novahe commented on #89898
@lazybetrayer did your problem solved with simple exec curl？

When the problem has occurred, was there a high load on the node where the pod  `ingress-nginx/internal-ingress-nginx-controller-zxqnw` is located? (the same as above)

[2021-11-22 07:29] pere3 commented on #103607
@RyanAoh hi! any news on that PR? it seems there is a need for rebase

[2021-11-22 07:38] ZongqiangZhang commented on #95440
how's the issue going on now. I cannot find a patchUpdate method to remove a nodeSelector filter from deployment.

[2021-11-22 07:54] #5774 closed

[2021-11-22 07:54] sbocinec commented on #95440
@ZongqiangZhang have you tried setting the nodeSelector label value to `null` as I mentioned in the issue description?

`kubectl patch deployment nginx -p '{ "spec": { "template": { "spec": { "nodeSelector": { "cloud.google.com/gke-nodepool": null } } } } }'`

[2021-11-22 08:03] wojtek-t commented on #94738
Commented there

[2021-11-22 08:05] wojtek-t commented on #86484
/remove-lifecycle stale

[2021-11-22 08:20] wojtek-t commented on #106517
Will be fixed by https://github.com/kubernetes/test-infra/pull/24432

[2021-11-22 08:24] zhhuabj commented on #106514
Hi odinuge,

Thanks for your review, I found an issue 4900 [1] on google, so I added 'SystemdCgroup = true' into /etc/containerd/config.toml and created a new test env, it works.

root@juju-67651a-case320434-2-0:/home/ubuntu# ls /sys/fs/cgroup/systemd/kubepods.slice/
cgroup.clone_children  cgroup.procs  kubepods-besteffort.slice  kubepods-burstable.slice  notify_on_release  tasks
root@juju-67651a-

[2021-11-22 08:27] zhhuabj commented on #106514
/close

[2021-11-22 08:27] #106514 closed

[2021-11-22 08:55] #102553 closed

[2021-11-22 08:55] #88406 closed

[2021-11-22 08:55] #101167 closed

[2021-11-22 09:02] aojea commented on #89898
I can't reproduce that failure with the following manifest, check previous comment

[code]

[2021-11-22 09:12] pere3 commented on #103607
The whole thing with JobAlreadyActive is that it prevents next schedules of a Job, since we have `Concurrency Policy:            Forbid` as our main mechanism to prevent overlapping.

[2021-11-22 09:18] RyanAoh commented on #103607
@pere3  Thanks for reminding me. I've updated the PR.

[2021-11-22 09:23] pere3 commented on #103607
can you please confirm, that this bug is what causing CronJobs to stuck on JobAlreadyActive reason?

[2021-11-22 09:35] Kartik494 commented on #106589
Hi @ahrtr i am looking into this. Please let  me know if  [105706](https://github.com/kubernetes/kubernetes/pull/105706) also needs to be backported in v1.22

[2021-11-22 09:43] fromanirh commented on #106571
/cc

[2021-11-22 09:52] RyanAoh commented on #103607
I‘m not sure whether it is also a result of this bug since I didn't reproduce that as you described. But according to the code and logs, they seem to be related. Maybe you can retest it when this fixed.

[2021-11-22 09:56] Kartik494 commented on #106589
/assign

[2021-11-22 10:03] RyanAoh commented on #103607
I'll try to take a closer look at it when I have time.

[2021-11-22 10:05] RyanAoh commented on #103607
OK, I'll try to take a closer look at it recently.

[2021-11-22 10:41] MayeulC commented on #89271
Has anyone attempted this yet? It would be interesting to have a low-power server, and a high-power backup sitting in S3, available at <1s notice.

The cluster-autoscale approach sounds interesting.

[2021-11-22 10:55] #99761 closed

[2021-11-22 11:17] Warxcell commented on #70496
+1 - would be useful for example main container is generating some files - and deinit container - can upload these files somewhere. That way we can split responsibilities and remove some binaries from main container - responsible only for uploading the generated files.

[2021-11-22 11:38] Kartik494 commented on #103355
/remove-lifecycle stale

[2021-11-22 11:41] hadrien-toma commented on #2630
I am afraid it is still an issue on my side 😬

[2021-11-22 11:46] prprasad2020 commented on #60538
When I accidently deleted the namespace, I tried to find finalizers in the crd, but there was no such parameter in the crd. So I executed the patch command, then it got deleted. Then again I deployed this crd, and could not delete it again. Then I tried to edit it and was able to find the finalizer and I edited it. Now all are working fine. I'm not sure which logs I can provide you, if you can exp

[2021-11-22 12:05] rdxmb commented on #96284
/remove-lifecycle stale

[2021-11-22 12:48] claudiubelu commented on #106467
Seems that a ``MEMORY.DMP`` has been generated, but we're not collecting those. It can be a pretty big file, but I think it might be worth collecting it too since they are only created when such a crash occurs. We can then check it as well, which might give us more insight about what caused the error.

[2021-11-22 12:50] claudiubelu commented on #106574
@jsturtevant is right. Somehow, the Windows image building bits were lost on rebase in the PR. I have sent a PR with the missing bits: https://github.com/kubernetes/kubernetes/pull/106593

[2021-11-22 12:55] #101723 closed

[2021-11-22 14:35] neolit123 commented on #106464
You need a modern two core CPU. Providing clock speeds is pointless in our docs as  performance can vary between CPUs with the same clock speed.

I think you are facing multiple issues here and you need to look at all logs.

/kind support
Keeping this issue open in case we find a core bug but this seems like a support request.

[2021-11-22 14:55] alculquicondor commented on #102136
/reopen

[2021-11-22 15:03] ahg-g commented on #102136
we need to backport this

[2021-11-22 15:45] willdeuschle commented on #101078
This is problematic for our environments as well. Unstable user-defined conversion webhooks break GC for unrelated resources, those unrelated resources eventually hit quota limits and render the environment unusable.

Is there a recommended approach to this from the community? One naive solution that comes to mind is a config option for marking a CRD as non-blocking for GC. Then GC would only resp

[2021-11-22 15:48] liggitt commented on #101078
I think I'd push to make gc stop blocking on discovery or informer sync at all, and make blockOwnerDeletion even more best effort.

[2021-11-22 15:55] #102472 closed

[2021-11-22 16:18] dlipofsky commented on #60140
It happens for me with AWS EKS.

[2021-11-22 16:29] eddiezane commented on #106572
Cheers @cglong,

I think your version of macOS is [EOL as of Dec 2020](https://endoflife.date/macos). Your system libraries are probably not compatible with new build toolchains.

Is there something specific you're trying to do by building from source?

[2021-11-22 16:34] neolit123 commented on #106589
we are in code freeze for 1.23 so this must happen for 1.24.

/milestone v1.24
/sig cluster-lifecycle release
/area etcd

[2021-11-22 16:34] eddiezane commented on #106572
I'm going to close this because I think that's the issue but feel free to respond here or reach out to me on the Kubernetes Slack and we can dig in more.

/triage support
/close

[2021-11-22 16:34] #106572 closed

[2021-11-22 16:37] neolit123 commented on #106589
unless this considered a critical bug without workarounds?

[2021-11-22 16:40] neolit123 commented on #106566
this also started flaking in the kubeadm 1.22->1.23(latest) upgrade job:
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-22-latest

the first flake i see is on 11-18.

/milestone v1.23

[2021-11-22 16:42] fromanirh commented on #106571
Looking at https://prow.k8s.io/view/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le/1462024602518556672
We see the failure looks like:
[code]
We have this distribution of cpus across NUMA nodes:
[code]
While the NUMA/socket mapping looks like:
Socket 0: nodes 0, 1
Socket 1: nodes 2, 3

So it's interesting. The test is still demonstrating a correct allocation on numa nodes 0, 1 and

[2021-11-22 16:45] neolit123 commented on #106566
I1119 20:10:00.293] Nov 19 20:05:50.749: INFO: Started pod busybox-e59f9c20-65fd-4879-900a-3e5cfcfb43da in namespace container-probe-6479
I1119 20:10:00.293] STEP: checking the pods current state and verifying that restartCount is present
I1119 20:10:00.293] Nov 19 20:05:50.789: INFO: Initial restart count of pod busybox-e59f9c20-65fd-4879-900a-3e5cfcfb43da is 0
I1119 20:10:00.293] Nov 19 20:08:15

[2021-11-22 16:45] deads2k commented on #101078
I'd like to stop honoring blockOwnerDeletion. :)

[2021-11-22 16:46] neolit123 commented on #106566
/retitle [Flaky test][sig-node] Probing container should not be restarted with a exec "cat /tmp/health"

[2021-11-22 16:46] chibbert commented on #60140
And to me on GKE

On Mon, 22 Nov 2021, 16:18 Dan Lipofsky, ***@***.***> wrote:

[2021-11-22 16:50] neolit123 commented on #106543
you might have to first contact azure support or the CSI driver maintainers for feedback of the problem.
i don't immediately see why this is a core k8s problem.

/sig storage cloud-provider
/area provider/azure

[2021-11-22 16:51] neolit123 commented on #106540
/sig apps

[2021-11-22 16:52] neolit123 commented on #106534
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.4-tke.3", GitCommit:"f8797eb035aca9c928af02ea9a74d232cfd41bc6", GitTreeState:"clean", BuildDate:"2020-10-12T03:32:01Z", GoVersion:"go1.14.8", Compiler:"gc", Platform:"linux/amd64"}
WARNING: version difference between client (1.21) and server (1.18) exceeds the supported minor version skew of +/-1

side note, as the warning abov

[2021-11-22 16:52] svoruga commented on #106543
We are trying this on ARO

[2021-11-22 16:53] neolit123 commented on #106519
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:00:57Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

this version has been in support in years.
please try 1.20+ and reopen if the issue is still present.

/sig apps
/close

[2021-11-22 16:53] #106519 closed

[2021-11-22 16:57] tcnghia commented on #102472
Hello! Apologies that this was buried in my email.

The HasPrefix check predated my PR. I only pulled the logic into its own function when  I added glob.

https://github.com/kubernetes/kubernetes/pull/8438/files#diff-13fbddb28f17a15bee09157d3f10ccaeffe900f97c7463957fc1d5f394968100L130

[2021-11-22 17:04] aojea commented on #106566
that is a different test

[2021-11-22 17:11] aojea commented on #106566
This test has an interesting history https://github.com/kubernetes/kubernetes/pull/100036 , since previously an timeout on exec was considered ok, since the bug was clear but it changed the current behaviour, the fix was added behind a feature gate.

If someone wants to dig, first we should check if the feature gate for the exec probe timeout is set or unset

[2021-11-22 17:19] mtrmac commented on #102472
This looks to have been there since the very start of the code: https://github.com/tcnghia/kubernetes/commit/2f87857b0fc0e00e72bd8ece5bb96d9c95296d21

Sigh.

I guess now that this is a documented behavior, this bug can remain closed. But I’m going to strongly object to spreading this semantics (e.g. to the CRI, where we have tentatively discussed passing more credentials to allow authenticated mir

[2021-11-22 17:20] neolit123 commented on #106589
right, we updated the server to 3.5.1 recently (i forgot).
but the go.mod files are indeed out of date, which would mean we are still using the 3.5.0 client.
matching server/client seems reasonable for 1.23.

tagging for release triage.

/triage accepted
/milestone v1.23
/priority important-soon

[2021-11-22 17:23] neolit123 commented on #106589
/retitle [etcd] Bump etcd client to 3.5.1

[2021-11-22 17:24] neolit123 commented on #106589
@ahrtr if we have a 3.5.0 client and a 3.5.1 server is this still a problem?

[2021-11-22 17:43] lazybetrayer commented on #89898
I think I found the problem of my case. I run tcpdump and captured the failed probe.

![image](https://user-images.githubusercontent.com/4188244/142907662-0d6db2e1-035c-4e03-b165-b2ac15811a05.png)

`172.16.0.75` is the pod ip. `169.254.25.10` is the ip of an interface created by nodelocal dns cache.

[code]

The host didn't reply to the SYN+ACK of the 3-way handsake.

I checked iptable rules of th

[2021-11-22 17:47] claudiubelu commented on #102100
We've merged the PR for optionally prepulling the images. From what I've tested on my env, it works as intended. We could enable image prepulling for a few jobs, and if things improve, I think we can apply it to other jobs as well.

Image prepull is enabled with the flag: ``--prepull-images="true"``

[2021-11-22 18:18] aojea commented on #89898
wow, impressive, so the nodelocal dns cache are interferring with the probes traffic and calico is dropping it since the conntrack entry is invalid

@lazybetrayer can you confirm that kubelet is using 169.254.25.10 as origin ip for the probe connections?

[2021-11-22 18:37] neolit123 commented on #106529
looks like this is being discussed on Slack for potential fixes:
https://kubernetes.slack.com/archives/CJH2GBF7Y/p1637586055203100

[2021-11-22 18:37] neolit123 commented on #106529
/milestone v1.23

[2021-11-22 18:47] cpanato commented on #60140
Hello, we understand that you're frustrated but we don't speak to each other like that here.

There's 1.7k issues in this repository and not as many maintainers as you think.

We can't help you unless the issue is nailed down enough that we can reproduce it.

on behalf of the CoCC

[2021-11-22 18:48] prameshj commented on #89898
That's what `-A OUTPUT -d 169.254.25.10/32 -p tcp -m tcp --dport 8080 -j NOTRACK` is supposed to do, but these rules are only for traffic that are sent/received by 169.254.25.10. As Antionio asked in the previous comment, can you confirm that kubelet uses "169.254.25.10" to send out healthcheck requests?

[2021-11-22 18:48] neolit123 commented on #106575
there was an old issue here that all poll calls errors should be annotated.
so e.g. this here:
https://github.com/kubernetes/kubernetes/blob/5fedad59b3cb61ec9d47002b4695f563a1fce4a3/test/e2e/storage/utils/utils.go#L179-L182
seems annotated with the ""Expected pod to be not found." at least, but that's not enough given the poll/wait function just returns "timeout waiting ..." sometimes.

these poll

[2021-11-22 18:49] neolit123 commented on #106575
/area e2e-test-framework

[2021-11-22 18:51] justaugustus commented on #106529
Establishing some ownership here:

1.23 Branch Managers:
/assign @Verolop @palnabarun

/area release-eng
/triage accepted
/priority critical-urgent
cc: @kubernetes/release-engineering @kubernetes/publishing-bot-reviewers
xref: https://github.com/kubernetes/sig-release/pull/1504#pullrequestreview-810342941

[2021-11-22 18:52] timthelion commented on #60140
I understand that there are very few maintainers and that this is an extremely tricky bug. I would personally chip in money to get this fixed, indeed I looked into how to do that today. Unfortunately, the only service I found was bountysource.com and their business model is that they take your money upfront rather than after the bug is fixed which didn't seem reasonable, I don't know if this will

[2021-11-22 18:55] lazybetrayer commented on #89898
Yes I can confirm. Below is the packets captured from the pod
[code]

[code]

[2021-11-22 18:58] ehashman commented on #106506
Latest in triage: https://storage.googleapis.com/k8s-triage/index.html?test=Events%20should%20be%20sent%20by%20kubelets%20and%20the%20scheduler%20about%20pods%20scheduling%20and%20running

It does appear that we had a bunch of CI flakes start showing up as well before increasing the timeouts in the test, so maybe not just a presubmit thing.

[2021-11-22 19:07] ehashman commented on #106566
/triage accepted

confirmed flakes

[2021-11-22 19:09] matthyx commented on #60140
@timthelion the PR merged in time for 1.23 should really help you if your files are not growing in size during the transport.
However it only fixes the consequences of what I think is a bad network connection that drops the http2 flow... this is why I won't try haeder on this I less someone can make a reliable reproducer using kind locally.

For the file streaming I think there's something to do i

[2021-11-22 19:11] timthelion commented on #60140
@matthyx One thing I worry about, is if high though put file transfer connections are getting dropped, how do I know that high throughput connections between my container and DB aren't getting dropped? This bug kind of has the smell of smoke coming from it.

[2021-11-22 19:12] matthyx commented on #60140
And I'm not working for Google (maybe one day dear recruiters?) and do this for fun during my free time.

[2021-11-22 19:15] matthyx commented on #60140
There are tools dedicated for network stress testing better suited than kubectl cp.

[2021-11-22 19:39] timthelion commented on #60140
What kind of moving parts does `kubectl exec` have that make it a bad choice for stress testing? Can we eliminate those moving parts to figure out where on the stack this bug occurs? Right now, I can't reproduce this for whatever reason, but I had an idea. Can someone try:

[code]

And

[code]

On a misbehaving client, to entirely eliminate the filesystem and test against sheer network throughput?

[2021-11-22 19:46] cglong commented on #106572
Yeah that's what I was afraid of 😕 BTW that's a really cool site; I'm definitely going to use it going forward!

No, nothing specific. Homebrew only provides binaries for OSes supported by Apple, so building from source is usually my only option.

Thank you, I appreciate that! I think probably the first step would be to try successively older versions until I find one that builds; let me know if y

[2021-11-22 19:55] #103077 closed

[2021-11-22 20:06] xhejtman opened #106602 "util.HasMountRefs typo"
### What happened?

There seems to be an obvious typo on `util.HasMountRefs` function:
[code]

it does not make sense to negate `strings.Contains`.

Because of this, I'm getting an error:
[code]

which clearly does not make sense.

### What did you expect to happen?

Clean unmount of released volume.

### How can we reproduce it (as minimally and precisely as possible)?

If democratic-csi driver i

[2021-11-22 20:08] xhejtman commented on #106602
/sig node

[2021-11-22 20:13] jsturtevant commented on #106574
I used #106593 to build the images for sig-windows k8sprow.azurecr.io.  The next set of tests should pass now that the `k8sprow.azurecr.io/kubernetes-e2e-test-images/etcd:3.5.1-0` image is available.

Longer term solution is to merge #106593 and image promotion will have the windows images.

[2021-11-22 20:13] msau42 commented on #96852
/reopen
/remove-lifecycle rotten

CSI migration is still in progress.

[2021-11-22 20:18] pohly commented on #106575
I know. I raised this issue with a different proposal because even with an annotation, the resulting failure still isn't that helpful for debugging the issue. We can do better.

The timeout occurs because the poll function never gets an error, just always `false` for "we are not done yet". At least that's how I remember it, I haven't checked again.

[2021-11-22 20:23] ehashman commented on #106569
This testgrid tab is slated for removal as the job is not maintained: https://github.com/kubernetes/test-infra/pull/23249

Conformance tests are required to pass on ppc64le which are tracked here: https://testgrid.k8s.io/conformance-ppc64le#Periodic%20ppc64le%20conformance%20test%20on%20local%20cluster

But I don't think we necessarily have support for unit tests.

[2021-11-22 20:24] ehashman commented on #106571
This testgrid tab is slated for removal as the job is not maintained: https://github.com/kubernetes/test-infra/pull/23249

Conformance tests are required to pass on ppc64le which are tracked here: https://testgrid.k8s.io/conformance-ppc64le#Periodic%20ppc64le%20conformance%20test%20on%20local%20cluster

But I don't think we necessarily have support for unit tests.

[2021-11-22 20:37] collimarco opened #106603 "Standard for Type=LoadBalancer Service TLS configuration"
### What would you like to be added?

A standard (spec) to define the SSL certificate and private key for an external LoadBalancer.

### Why is this needed?

When you use an **external LoadBalancer** you usually need SSL / TLS / HTTPS (this is a requirement for most applications nowadays).

Currently you can specify [SSL for an Ingress](https://kubernetes.io/docs/concepts/services-networking/ingre

[2021-11-22 20:55] #102479 closed

[2021-11-22 21:16] zhan849 opened #106606 "ephemeral-storage based pod eviction should include more volume types"
### What happened?

Currently kubelet's default eviction manager uses only image fs disk size and log (default place for console log) size to decide eviction threshold: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L527

however a common use case of ephemeral disk is to leverage EmptyDir for scratch space, where pod can write a lot of data, without i

[2021-11-22 21:18] zhan849 commented on #106606
/sig storage
/sig node

[2021-11-22 21:32] alculquicondor commented on #102136
Opened: #106604, #106605, #106607

[2021-11-22 22:02] eddiezane commented on #106364
This is a reasonable ask but would be a pain to implement because of the way the command and printers currently work. We can consider it if there is enough demand from the community.

@collimarco would something like `kubectl wait --for...... && echo "done deleting web pod"` help you for now?

/triage needs-information

[2021-11-22 22:07] lemongarbage commented on #81071
Yeah this did it for me. Thanks!!

[2021-11-22 22:08] eddiezane commented on #106312
There is an effort in progress to normalize the exit codes across the board.

It might need a new champion to take over from @rikatz.

https://github.com/kubernetes/enhancements/pull/2574

[2021-11-22 22:12] rikatz commented on #106312
yes please!
I really want to work on this, but I'm almost out of time :/

Anybody wants to jump into it? I can help on the KEP thing + implementation ideas, just cannot shepherd too much :/

[2021-11-22 22:26] ehashman commented on #60140
I'd suggest that you please raise a support ticket with your cloud provider. If you are curious, this is the list of active companies within the project and in the kubernetes/kubernetes repo in the past two years: https://k8s.devstats.cncf.io/d/8/company-statistics-by-repository-group?orgId=1

For more context, this SIG Node's current bug backlog: https://github.com/orgs/kubernetes/projects/59/

W

[2021-11-22 22:33] seeker commented on #79606
@javajon You mentioned me by mistake, instead of @seeker25

[2021-11-22 22:33] jsturtevant opened #106608 "Update Sig-windows Memory Limits tests to not assume all nodes are the same"
### What happened?

The test `[sig-windows] [Feature:Windows] Memory Limits [Serial] [Slow] attempt to deploy past allocatable memory limits should fail deployments of pods once there isn't enough memory`: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-staging-windows-serial-slow/1461874338100678656 is failing because it assumes the memory is the same

[2021-11-22 22:34] eddiezane commented on #106284
This does seem like a bug.

cc @apelisse

[2021-11-22 22:38] jsturtevant commented on #106608
/triage accepted
/priority important-long-term

[2021-11-22 22:43] ahrtr commented on #106589
@neolit123  There is a important fix (see below) being included in etcd 3.5.1 on v3 client,
[client: Use first endpoint as http2 authority header](https://github.com/etcd-io/etcd/commit/79f9a4557461783f467679e869bd143228d9d406)
[Cherry pick "Fix http2 authority header in single endpoint scenario" to release-3.5](https://github.com/etcd-io/etcd/commit/edb3b5a7946d8be38588f8071ef8c92a4bde3300)

I th

[2021-11-22 22:49] erismaster commented on #101167
This is fine to leave closed. The docs around this issue have since been updated and clarified the behavior around this situation.

[2021-11-22 22:56] apelisse commented on #106437
I'm not sure what "generated code" you're referring to?

[2021-11-22 23:56] #103141 closed

[2021-11-23 00:05] eddiezane commented on #105732
This might be https://github.com/kubernetes/kubectl/issues/598.

Please take a look and if not open a new issue and follow the bug issue template. Please make sure to include a simple way to reproduce.

/close

[2021-11-23 00:05] #105732 closed

[2021-11-23 00:17] eddiezane commented on #105587
Please open over on the cobra repo if you'd like to get this fixed there.

/close

[2021-11-23 00:18] #105587 closed

[2021-11-23 00:26] prameshj commented on #89898
What does the routing table on the host look like? I would expect the default route to use eth0 ip and the nodelocaldns interface to NOT show up in the routing table at all. That's one reason we add it as a dummy device - https://github.com/kubernetes/dns/blob/8b6b5388533790e2082dd2fc6fd443410223c8dc/pkg/netif/netif.go#L45

[2021-11-23 01:23] manugupt1 commented on #106602
/sig storage
as they are the owners

/remove-sig node

[2021-11-23 01:33] knabben opened #106613 "[sig-storage] Projected downwardAPI should update annotations on modification - flaking"
### Which jobs are flaking?

Random failure on `ci-kubernetes-e2e-aks-engine-azure-master-staging-windows`

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-staging-windows/1462891652401074176

### Which tests are flaking?

[code]

### Since when has it been flaking?

2021-11-22 21:14:06 +0000 UTC

### Testgrid link

https://prow.k8s.io/view/gs/kubernet

[2021-11-23 01:43] lazybetrayer commented on #89898
The CNI plugin we use is [Canal](https://docs.projectcalico.org/getting-started/kubernetes/flannel/flannel), and the routing table on the host looks like:
[code]
[code]

[2021-11-23 02:03] knabben commented on #106613
Logs for a failing pod - the container has died:
[code]

Logs for another pod working:
[code]

[2021-11-23 02:11] lubinszARM commented on #86337
I think it's a bug in kernel side. And it was already fixed in kernel: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=9066e5cfb73cdbcdbb49e87999482ab615e9fc76

[2021-11-23 04:58] mattcary opened #106615 "StatefulSet PVC tests failing"
### Which jobs are failing?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/106568/pull-kubernetes-unit/1462136832413143040

### Which tests are failing?

StatefulSet control tests

### Since when has it been failing?

The delete PVC unit tests started flaking when https://github.com/kubernetes/kubernetes/pull/99728 was merged

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes

[2021-11-23 04:59] mattcary commented on #106615
/cc @liggitt

[2021-11-23 04:59] mattcary commented on #106615
/triage accepted

[2021-11-23 05:10] lazybetrayer commented on #89898
I checked all the nodes of our cluster, and found that when accessing pod, some use `nodeloaldns` ip as the source, some use `kube-ipvs0`.

We manually deleted `bond0` interface and recreated it before, so the index of `bond0` was bigger than `kube-ipvs0` and `nodelocaldns`.

[code]

`172.26.67.31` is service ip of `kube-ipvs0`

After reboot, the index of `bond0` became smaller.
[code]

`10.200.76

[2021-11-23 05:12] MadhavJivrajani commented on #106603
/sig network
/sig auth

[2021-11-23 05:54] Spongman commented on #32865
this seems broken. if you have multiple sections in a `.yaml` file and only one of the is a pod, then `kubectl set ... | kubectl apply -f -` doesn't work.

[2021-11-23 06:02] Rajalakshmi-Girish commented on #106569
Yes the dashboard [`conformance`](https://testgrid.k8s.io/sig-node-ppc64le#conformance) under test-grid tab `sig-node-ppc64le` can be removed as there is a duplication of this at tab [`conformance-ppc64le`](https://k8s-testgrid.appspot.com/conformance-ppc64le#Periodic%20ppc64le%20conformance%20test%20on%20local%20cluster).

But we need to find a better place for dashboard [`unittests`](https://tes

[2021-11-23 06:05] Namanl2001 commented on #106478
This issue can be closed now 😄  ref: https://github.com/kubernetes/test-infra/pull/24409#issuecomment-976175083

[2021-11-23 06:06] Spongman opened #106617 ""kubectl set" fails to output yaml sections that don't match."
### What happened?

`foo.yaml`:

[code]

this works:
[code]

as does this:

[code]

but this doesn't:

[code]

because it doesn't pass through the second section. instead it dumps
[code]

### What did you expect to happen?

i'd expect it to just pipe the section regardless of whether or not the resource type matched, like`sed`.

### How can we reproduce it (as minimally and precisely as possible)?

[2021-11-23 06:09] Spongman commented on #106617
/sig cli

[2021-11-23 06:33] AlyssaBetty opened #106618 "node "k8s-master1" not found"
### What happened?

I was install kubernetes 1.19.0，when I start kubelet,the log had some error told me that node "k8s-master1" not found.

[code]

[code]
my /etc/hosts
[code]
when I telnet master1.ayunw.cn 6443 and ping master1.ayunw.cn，It's all working

when i use `kubectl get csr` ,there is nothing :
[code]

### What did you expect to happen?

It will connect to Kube-Apiserver normally

### How

[2021-11-23 06:45] yuswift commented on #42125
/cc

[2021-11-23 07:15] furkanmustafa commented on #42125
Dear `area/kubelet`,

Would it be accepted if we work on a spec by discussing here, and create a Pull Request for this? Based on the suggestion below,

For covering use cases where poeple do not have a "Cloud Provider".

[2021-11-23 07:31] aojea commented on #42125
Why do you need to define the external IP in the kubelet?
Is not valid to set the node internal IP only?

[2021-11-23 07:33] aojea commented on #106478
Awesome, great job
/close

[2021-11-23 07:33] #106478 closed

[2021-11-23 07:36] aojea commented on #106569
Is not only being able to have a job, there has to be resources, this case is a good example, the test works perfectly in x86 :/ https://github.com/kubernetes/kubernetes/issues/106569#issuecomment-974705089

[2021-11-23 07:58] aojea commented on #106506
Last failure 18/11 , no failure since the timeout bump merged, am I looking.in the wrong place?

[2021-11-23 08:18] furkanmustafa commented on #42125
Usual use-cases that External IP is there for, like for routing, auto-configuring DNS, etc.
Most of the time, we don't use public IPs as "Internal IP". Most of our nodes do not have a public IP (but have an Internal IP that is accessible from all other nodes), but some nodes do have an External(/Public) IP as well, on top of having an Internal IP.

[2021-11-23 08:18] oz123 commented on #76928
This is PR is practically ready, all it needs is a loving review.
@kubernetes/sig-api-machinery ?

[2021-11-23 08:26] AlyssaBetty commented on #106618
kubelet-bootstrap.kubeconfig
[code]

[2021-11-23 08:34] aojea commented on #42125
Although at first sight looks simple, the node addresses topic has a lot of caveats,  I remember to discuss them extensively during the dual-stack feature, https://github.com/kubernetes/enhancements/pull/1665#issuecomment-706146957and https://github.com/kubernetes/kubernetes/pull/95768

@danwinship you went through all the node addresses code, what do you think?

[2021-11-23 09:08] nictownsend commented on #106312
Closing as captured in the enhancement issue above

[2021-11-23 09:08] #106312 closed

[2021-11-23 09:17] sanposhiho commented on #99953
/reopen
/remove-lifecycle rotten

[2021-11-23 09:22] aojea commented on #89898
this is explained here http://linux-ip.net/html/routing-saddr-selection.html

you confirmed your system has that src parameter

[code]

interestingly, your host doesn't have an IP on that subnet, 172.16.0.128 is not a valid address, is the network address http://jodies.de/ipcalc?host=172.16.0.128&mask1=25&mask2=

[code]

I'm assuming that the kernel choose another algorithm that ends picking the 1

[2021-11-23 09:44] cglong commented on #106572
Hi @eddiezane, after trying to build old versions, it looks like the LKG for me is v1.20.4 and that the issue started occurring between then and v1.21.0.

I see now that v1.20 is still receiving bug fixes for three more months. Would you recommend I try to switch to a more recent patch release there, or do you think we can try to get a fix into v1.22?

[2021-11-23 10:00] sachithmuhandiram opened #106622 "Kubernetes deployments are failed with coredns 10.233.0.1:443: connect: connection refused"
### What happened?

Our K8 cluster was working for more than a year, recently it got some strange behavior and now when we deploy an app using `kubectl apply -f deployment-manifest.yaml`, it doesnt show in `kubectl get pods`. But shows in `kubectl get deployments` with `0/3` state.

### What did you expect to happen?

`kubeclt get pods` shows running pods and can connect to services.

### How can

[2021-11-23 10:01] lazybetrayer commented on #89898
Actually the route rule added by canal has no src param, as `ip r` shows

[code]

I now just reboot the nodes to workaroud this.

[2021-11-23 10:13] mkumatag commented on #106569
Well, these tests we are running for years and helping them to fix(found a few generic flaky tests as well), just that existing in the wrong group but will find a new home soon :)

I feel unit tests do give us a lot of confidence in the code, it's worth identifying the issues.

[2021-11-23 10:16] mkumatag commented on #106569
Completely agree, need resources to debug/identify the issues.

[2021-11-23 10:24] exxsebastian commented on #60140
I get the described failure for `kubectl cp` pretty consistently (copying database dumps it usually fails between 330 and 350 MB). Both of these commands ran for several minutes without failing, producing >400 MB files.

I can add that colleagues have no troubles with `kubectl cp` in similar setups, the only difference being that I'm using OpenVPN while they are on premise.

[2021-11-23 10:30] serathius commented on #106589
v3.5.1 client includes fix for authority header in HA cluster. Without the fix, client will send invalid authority header when configured with multiple endpoints. This is not a problem when client communicates directly to etcd server, however will not work at all if there is any proxy before etcd. If there is a proxy before etcd there is a high chance that, invalid authority header will result in

[2021-11-23 10:31] matthyx commented on #60140
Ok, good news is that the official (beta) binaries include the `--retries` flag so you could try it for your transfers (since database dumps are not appended during transfer):
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#client-binaries

[2021-11-23 10:40] matthyx commented on #60140
@soltysh if I want to propose a new command, say `kubectl stream pod:{logfile}` to retrieve a file being appended... do I need a KEP or an issue is sufficient?

It would basically be a `tail -f -n +1 {logfile}` with the retry mechanism I did in `kubectl cp` and after ctrl+C the command closes both the transfer and the file.

[2021-11-23 10:43] YanzhaoLi commented on #66421
Hitting the same problem on k8s 1.12.2

[2021-11-23 10:44] timthelion commented on #60140
@matthyx What advantage would their be over `kubectl exec -i`?

[2021-11-23 10:51] matthyx commented on #60140
1. ease of use
2. retry feature will know how much data was retrieved and reconnect automatically to resume the transfer

Of course you could do the same yourself calling `tail -f -c +{num bytes transferred} {logfile}`...

[2021-11-23 11:06] cglong commented on #106572
I was just able to successfully build v1.20.13, so yeah there's definitely been a change in the v1.21 branch causing this.

[2021-11-23 11:20] Rajalakshmi-Girish commented on #106569
@aojea When I run using the stress tool the test is flaking in both ppc64le and x86_64.
- on ppc64le:
[code]
- on x86_64:
[code]
@aojea the golang version was
[code]

[2021-11-23 11:43] adisky commented on #106566
Since Liveness probe is timing out here, container is restarted and we are not getting expected timeout
Also the feature gate is default enabled https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L553
The timeout for probe is 5 secs, maybe we should increase it to 10?

[code]

[2021-11-23 12:08] exxsebastian commented on #60140
It works :) Thanks!

[2021-11-23 12:29] aojea commented on #106569
yeah, that is the thing, we have this situation:

 same test , same golang version and it only flakes in ppc64le.

It is legit to think that the architecture can be the problem here, now, who can discard that the architecture is the problem?

BTW, seems golang has some reported that may be related https://github.com/kubernetes/kubernetes/issues/106569#issuecomment-974704197

[2021-11-23 12:31] jsafrane commented on #94929
/remove-lifecycle rotten

[2021-11-23 12:39] Ahmed-Aghadi commented on #105678
@pohly can I start working on test/e2e/common/storage ?

[2021-11-23 12:49] aojea commented on #106569
there were some http changes in golang https://github.com/golang/go/commit/f9cb33c7c9d48fd0c38d17a659d5e968de648d40

however, I can't reproduce it in my host :/

[code]

[code]

[2021-11-23 13:07] pohly commented on #105678
Okay.

[2021-11-23 13:29] pierluigilenoci commented on #69676
/remove-lifecycle stale

[2021-11-23 13:40] neolit123 commented on #106589
Thanks for the explanation.
/priority critical-urgent

I guess this means we need to backport the client bump to 1.22.

[2021-11-23 13:41] matthyx commented on #106506
/assign @ehashman @aojea

[2021-11-23 13:43] matthyx commented on #106566
@adisky are you taking care of it?

[2021-11-23 13:44] rtheis commented on #92664
/remove-lifecycle stale

[2021-11-23 13:45] bhechinger commented on #74551
@anthcor's workaround won't work for me sadly so I'd really like to see this addressed. The weird thing is I have less trouble when I use `kubectl port-forward` than when I use `k8s.io/client-go/tools/portforward` directly.

[2021-11-23 14:14] sanposhiho commented on #101849
/remove-lifecycle stale

[2021-11-23 14:16] matthyx commented on #99608
/assign @odinuge

[2021-11-23 14:20] adisky commented on #106566
I'll take care of it, but it hasn't flaked recently and wanted to be more sure increasing timeout
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default

[2021-11-23 14:24] matthyx commented on #106566
/assign @adisky

[2021-11-23 14:30] eddiezane commented on #106572
The jump from 1.20 to 1.21 added support for macOS ARM64 so I imagine there were changes to Go's toolchain. Probably something to do with the linker.

That version should be fine for most clusters. If you run into compatibility issues I'd recommend using a container/vm/cloudshell.

You can also try to build it manually without the makefile. Looks like 10.13 is still support in [go1.17](https://go.

[2021-11-23 14:34] astraw99 opened #106625 "kubectl get CRD list with dirty data, but can not edit/delete"
### What happened?

In our K8s cluster, we used the `extension-apiserver` manner to self-define CRD, to set the name `my-crd`.
1. We set the `NamespaceScoped = true`, then created some resources, like this:
[code]
2. Then set the `NamespaceScoped = false`, then created some resources again, like this:
[code]
Problem is: we can only edit/delete the later 2 resources (i.e. my-crd-3, my-crd-4), but c

[2021-11-23 14:34] adisky opened #106626 "[Failing tests] cos-cgroupv2-containerd-e2e"
### Which jobs are failing?

ci-cos-cgroupv2-containerd-e2e-gce

### Which tests are failing?

Most tests of Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd]

### Since when has it been failing?

17 Nov 2021

### Testgrid link

https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv2-containerd-e2e

### Reason for failure (if possible)

[code]

### Anything else we need to know?

[2021-11-23 14:36] matthyx commented on #84298
/assign @wzshiming

[2021-11-23 14:52] eddiezane commented on #105638
These are declared in the storage registries. https://cs.k8s.io/?q=ShortNames&i=nope&files=%5Epkg%2Fregistry%2F.*%2Fstorage.go%24&excludeFiles=&repos=kubernetes/kubernetes

Tab completion is pretty complete now and will be getting better now that we've switch to Go powered completion.

Looks like closest thing to a policy is this https://github.com/kubernetes/kubernetes/issues/86138#issuecomment-5

[2021-11-23 14:56] Airblader commented on #95460
@apelisse I don't mean to bug you, but is there another update on this?

[2021-11-23 15:26] encodeflush opened #106627 "Create a custom josn exporter to convert Testgrid rest API to Prometheus metrics"

[2021-11-23 15:28] encodeflush commented on #106627
/close

[2021-11-23 15:29] #106627 closed

[2021-11-23 15:30] neolit123 commented on #106618
hi, if you want to get help with deploying k8s with a custom setup better try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also 1.19 is out of support, so it might be a good idea to use 1.21+.
/kind support
/close

[2021-11-23 15:30] #106618 closed

[2021-11-23 15:45] pawelpabich commented on #105962
Sorry for the delay.

I might be missing something here but 10 x ( 5 + 30)  ~ 6 minutes.   How did you arrive at 18minutes?

Based on my configuration I expect the probe to fail after  (10 * 5 + 9 * 30) ~6 minutes.  This roughly but not exactly aligns with the second screenshot where the timeout is enforced by `curl`.

My assumption here, possibly incorrect, is that `Linvess Probe Failed ` event r

[2021-11-23 16:17] jsturtevant commented on #106613
Looking at https://storage.googleapis.com/k8s-triage/index.html?test=Projected%20downwardAPI%20should%20update%20annotations%20on%20modification#e110086f520d1e180ef0 this happens in more than just windows jobs though it happens more often there.  Some of the other jobs are:

- ci-cri-containerd-e2e-ubuntu-gce
- ci-kubernetes-e2e-ubuntu-gce
- ci-kubernetes-kind-ipv6-e2e-parallel

[2021-11-23 16:18] Ahmed-Aghadi commented on #105678
@pohly for test/e2e/network/netpol , there are already message associated with all of the cases, for example :-
`network/netpol/network_legacy.go:2249:                  framework.ExpectEqual(found, true, fmt.Sprintf("expected networking API group/version, got %#v", discoveryGroups.Groups))`
So should I just change all of them to `if (<failure check>) framework.Failf(<informative message>)` ?

[2021-11-23 16:50] jsturtevant commented on #106574
latest tests are passing with the new image, closing this with #106593 for the long term fix.

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1463158371048755200

/close

[2021-11-23 16:51] #106574 closed

[2021-11-23 16:59] jyotimahapatra commented on #68397
/milestone v1.24

[2021-11-23 17:12] jyotimahapatra commented on #98499
@sbangari , 👋 I'm the bug triage shadow. Since we're in code freeze, i wanted to check if this issue is still in works or resolved. Please do let us know.

[2021-11-23 17:15] apelisse commented on #95460
This will be fixed by #106388 which we're planning on cherry-picking as far back as possible! Thanks for the reminder :-)

[2021-11-23 17:39] spiffxp commented on #74375
/remove-lifecycle rotten
I re-ran the query listed in the description, which shows duration for the CI job
![ci-kubernetes-e2e-gci-gce duration (seconds) vs  day](https://user-images.githubusercontent.com/49258/143075791-092a8cf4-1842-42be-9673-f4fe2c32a531.png)

It looks like we might need to reconsider this in a year but it's probably fine as closed for now

[2021-11-23 17:41] mattcary commented on #106615
Additional flakes found using stress:

[code]

[2021-11-23 17:43] klinakuf commented on #105204
I started to receive the same error for a job that was running fine

[code]

[2021-11-23 17:48] eddiezane commented on #105638
/triage needs-information
/priority awaiting-more-evidence

[2021-11-23 18:01] liggitt commented on #104641
/reopen

The modified behavior in #105983 still does not match my expectations.

Hoisting from https://github.com/kubernetes/kubernetes/pull/106191#discussion_r755383454:

This is what happens now:
* apply `a,b,c` as fieldManager `x`
* apply `c,d,e,f` as fieldManager `y`
* final order is `c,d,e,f,a,b`

That discards the order expressed by fieldManager `x`, which is unexpected

[2021-11-23 18:02] liggitt commented on #104641
milestoning and upgrading priority so we ensure the behavior we ship in 1.23 is intentional

[2021-11-23 18:05] jiahuif commented on #104641
Thanks for the counter example. Working on that.

[2021-11-23 19:19] pohly commented on #105678
Yes.

[2021-11-23 19:55] neolit123 commented on #106566
this kubeadm test job has it consistently failing for the last 8 runs:
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-kubelet-1-21-on-latest

if the infra is getting a lot of pressure for a period of time (e.g. tests in these jobs are concurrent) increasing the timeout would make sense.

oddly these tests use 2 second ticks:
https://github.com/kubernetes/kubernetes/blob/f572e

[2021-11-23 20:42] danwinship commented on #42125
:man_shrugging:

See also #73760

[2021-11-23 21:06] dannysauer commented on #94722
This was seemingly deferred

by @liggitt , but then seemingly dropped on the floor.  Was the problem solved elsewhere without linking to this issue?  I stumbled across this as a way to avoid having to add tolerations to every daemonset I create, instead preferring to just put them in a common namespace.  I'm leaving knowing little more than I knew before about good solutions to my problem. :)

[2021-11-23 21:09] leilajal commented on #106558
/triage accepted

[2021-11-23 21:10] leilajal commented on #106509
/triage accepted

[2021-11-23 21:11] leilajal commented on #81508
/assign @jpbetz
/triage accepted

[2021-11-23 21:13] leilajal commented on #106579
/cc @kevindelgado @apelisse
/triage accepted

[2021-11-23 21:32] ehashman commented on #100788
Since this is against milestone v1.22, let me close this and potentially open a new issue as the current failures don't match.

/close

[2021-11-23 21:32] #100788 closed

[2021-11-23 21:41] jiahuif commented on #104641
How about this. We add each item in LHS until hitting an item in RHS (not inclusive), then we do our current algorithm with the rest

a,b,c MEREG c,d,e,f
1. each in LHS not in RHS: a b
2. prefer RHS order a b | c d e f

[2021-11-23 21:43] ehashman opened #106635 "[Failing tests] Device Plugin [Feature:DevicePluginProbe][NodeFeature:DevicePluginProbe][Serial] DevicePlugin"
### Jobs failing

- ci-kubernetes-node-kubelet-serial-containerd: https://testgrid.k8s.io/sig-node-release-blocking#node-kubelet-serial-containerd
- ci-kubernetes-node-kubelet-serial: https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

### Failure cluster [3a34bcc9bd92468974b8](https://go.k8s.io/triage#3a34bcc9bd92468974b8)

##### Error text:
[code]

(This is just an example, most of the

[2021-11-23 21:45] daschott opened #106636 "Windows - Linux interop issues for services of type LoadBalancer with local traffic policy"
### What happened?

 Windows client pods in the cluster see intermittent connection failures when attempting to access a Linux service of type load balancer using its external VIP under the following conditions:
  * Linux service has externalTrafficPolicy: Local set.
  * The backend pods are distributed across >1 Linux nodes.

### What did you expect to happen?

In kube-proxy Linux, it appears the

[2021-11-23 22:04] msau42 opened #106637 "PVC resource limits not validated"
### What happened?

PVC never supported setting capacity limits. However, it looks like in validation, we never enforced it: https://github.com/kubernetes/kubernetes/blob/a5622f3f6e1f5d5ffd066d799204ea0c6d1a49e2/pkg/apis/core/validation/validation.go#L2124

This means that it's possible PVC.spce.resource.limits could have garbage values in them.

### What did you expect to happen?

Validation shou

[2021-11-23 22:04] ehashman commented on #106506
No, it hasn't failed since the timeout bump merged, but the bump suppressing the symptom and hence is making this much more difficult to root cause. I'd suggest looking at some runs before the timeout was bumped?

[2021-11-23 22:07] ehashman commented on #106566
Flaked again on https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1463205935039123456

Some large failure clusters available on gubernator:

- https://storage.googleapis.com/k8s-triage/index.html?test=be%20restarted%20with%20a%20exec%20%22cat%20%2Ftmp%2Fhealth%22%20liveness%20probe#d3ae206a5b81a3a07b20
- https://storage.googleapis.com/k8s-triage/index.html?test=be%20

[2021-11-23 22:13] ehashman commented on #106566
[code]

from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1463205935039123456/artifacts/bootstrap-e2e-minion-group-89xb/kubelet.log

Liveness probes are timing out which is causing the container restarts.

Looking at the timing of the flakes, is it possible that we're seeing a performance regression on containerd because it does not yet support the v1 CRI? I'

[2021-11-23 22:17] ehashman commented on #106506
Per https://github.com/kubernetes/kubernetes/issues/106566#issuecomment-977217697 I'm wondering if some of the timing regressions we're seeing could be due to a perf regression having switched to CRI v1 with containerd. I can't find any corresponding failures on CRI-O.

/remove-priority critical-urgent
since test is no longer flaking

[2021-11-23 22:19] ehashman commented on #106125
/milestone v1.23

[2021-11-23 22:20] ehashman commented on #106031
/close
dupe of https://github.com/kubernetes/kubernetes/issues/106125 which has more detail

[2021-11-23 22:21] #106031 closed

[2021-11-23 22:31] endocrimes commented on #106635
/triage accepted

These failures look weird - I don't understand why dockershim is sometimes failing after restarting the kubelet. I guess we should double check that timings match the old GPU test (I think I might've tightened them a bit, bc they were passing when I ran the device suite on the same nodes).

What's weirder is that they passed on my PR and all of a sudden broke after merging

[2021-11-23 22:43] liggitt commented on #104641
I think reading from HEAD of LHS until we hit a shared item is a good start, but I think this should be iterative so that we preserve both LHS and RHS in non-conflicting cases, while still honoring RHS when there's a conflict

I was thinking something along these lines: https://gist.github.com/liggitt/1e5f40f92235d4440724af24f803f17e

[2021-11-23 22:45] BenTheElder commented on #106566
Is the fallback in kubelet expensive? Naively I wouldn't expect this to be an issue, and it seems like that would be problematic for folks upgrading?

We can move KIND (and other CI) up to a containerd 1.6 beta release with https://github.com/containerd/containerd/pull/5619/commits/a5c417ac060f29dad343573674f879d59fc0b9ef but it's not clear to me if we should be doing that or fixing missing v1 cos

[2021-11-23 22:46] msau42 commented on #106637
/triage accepted

[2021-11-23 22:51] msau42 commented on #106637
/sig storage

[2021-11-23 23:09] #103856 closed

[2021-11-23 23:15] justaugustus commented on #70249
Still needs a review of docs; will work on this during some intercycle downtime
/remove-lifecycle rotten
/lifecycle frozen
/milestone v1.24

[2021-11-23 23:39] aojea commented on #106636
/sig windows

[2021-11-24 00:24] PushkarJ opened #106639 "[CVE-2021-41190] Pull fixes from cadvisor->containerd"
### What happened?

[Build time dependency scanning](https://testgrid.k8s.io/sig-security-snyk-scan#ci-kubernetes-snyk-master) detected CVE-2021-41190: https://github.com/advisories/GHSA-mc8v-mgrf-8f4m (low severity)

Fix is available here in v1.0.2: https://github.com/opencontainers/image-spec/releases/tag/v1.0.2 and pulled by containerd in v1.4.12: https://github.com/containerd/containerd/securi

[2021-11-24 00:32] Rajalakshmi-Girish commented on #106569
@aojea Is this somehow related https://github.com/golang/go/issues/49741?

[2021-11-24 01:00] Jiawei0227 commented on #100900
/remove-lifecycle stale
The plugin support is already deprecated. Will be removed in a later release.

[2021-11-24 01:15] ahrtr commented on #106589
The PR [pull/105706](https://github.com/kubernetes/kubernetes/pull/105706) is not included in 1.22, so we need to backport it to 1.22, and also bump etcd client to 3.5.1 for both 1.23 and 1.22.

[2021-11-24 01:18] weiwenli97 opened #106640 "e2e test host_processs.go failed when the hostname is greater then 15 characters."
### What happened?

I want to run the host_process.go e2e test but it failed.

Reason:
Node name and hostname is longer than 15 characters.
But the ComputerName only used the first 15 characters.
So they don't equal and the test failed.

### What did you expect to happen?

The e2etest should pass regardless of the hostname length.

### How can we reproduce it (as minimally and precisely as possibl

[2021-11-24 02:12] astraw99 commented on #106625
/sig cli
/sig api-machinery

[2021-11-24 02:42] adisky commented on #106566
Shouldn't there be more flakes if containerd V1 CRI is the reason? Also this job runs on dockershim https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default

And also not failed in containerd node conformance
https://testgrid.k8s.io/sig-node-critical#containerd-NodeConformance&include-filter-by-regex=%2Ftmp%2Fhealth&width=5
https://testgrid.k8s.io/sig-node-containerd#node-e2e

[2021-11-24 03:18] siwang2011 opened #106642 "The kubectl cmd doesn't work after update the k8s Certificate"
### What happened?

today i find my k8s cluster cert is expired.
i use the kubectl cmd  and it return Unable to connect to the server: x509: certificate has expired or is not yet valid
i check the cert and find it is expired in yesterday
so i just update the cert in master node with cmd  kubeadm alpha certs renew all
and happily i find the kubectl cmd is available.
after a moment i use the kubectl

[2021-11-24 03:34] Goend commented on #106545
pod should be in SchedulingQueue when parpare its node,in fact ,It get one pod from activeQ and decides which node to  scheduled

[2021-11-24 03:35] cyclinder commented on #106640
/sig testing

[2021-11-24 03:39] cyclinder commented on #106640
Can you show the error message?

[2021-11-24 03:41] weiwenli97 commented on #106640
STEP: Destroying namespace "host-process-test-windows-2574" for this suite.

• Failure [6.334 seconds]
[sig-windows] [Feature:WindowsHostProcessContainers] [Excluded:WindowsDocker] [MinimumKubeletVersion:1.22] HostProcess containers
/workspace/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/windows/framework.go:27
  should run as a process on the host/node [It]
  /worksp

[2021-11-24 03:55] adisky commented on #106566
@BenTheElder can we try to bump containerd version to 1.6 beta in one CI job just to be sure about the reason? If api  conversion is the reason for flakes i think we should fix it

[2021-11-24 05:01] Ahmed-Aghadi commented on #105678
Okay then I will be working on `test/e2e/network/netpol` and `test/e2e/network/`

[2021-11-24 05:13] adisky commented on #106566
This job is flaking with kubelet 1.22 and kubelet 1.21 as well, so i doubt if CRI api conversion is the reason
https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=Probing%20container

[2021-11-24 05:19] Kartik494 commented on #106589
@neolit123 should we wait for #106591 to land this to master or  should we raise backport PR now on immediate basis?

[2021-11-24 05:42] cglong commented on #106572
Thank you @eddiezane; yeah that makes total sense that this would happen as part of that work 🙁

That's great to hear honestly! I'm mostly using `kubectl` on this machine for just learning Kubernetes, so it should be fine for my needs 😄

Just verified that it builds and runs successfully both with and without cgo!

Yeah, just tried and verified the binary itself works too 🎉

[2021-11-24 05:46] MadhavJivrajani commented on #106642
/kind support
/sig cli
@siwang2011 thanks for opening this issue!
Unfortunately, `1.17.3` is no longer supported. You can find more info on that [here](https://kubernetes.io/releases/).

I'll be closing this issue but if you are able to reproduce this in a version that is currently supported, please feel free to reopen this issue and ping me. You can reopen this issue by commenting `/reopen`.

In

[2021-11-24 05:46] #106642 closed

[2021-11-24 05:46] NikhilSharmaWe commented on #106608
@jsturtevant Please inform that Am I reasonable here or not.
We need to update the `vmsize` in all the cases inside the (`kubernetes_release_staging_serial.json`, `kubernetes_release_staging.json` and `kubernetes_containerd_nightly.json`) similar to what was done in this [this](https://github.com/kubernetes-sigs/windows-testing/pull/293) but in all cases.

[2021-11-24 05:48] NikhilSharmaWe commented on #106608
/assign

[2021-11-24 06:44] cglong commented on #106572
Out of curiosity, I just tried running `make WHAT=cmd/kubectl` from outside Homebrew and that built successfully too. So I guess this is actually being caused by something in the shims that Homebrew adds 😕

[2021-11-24 07:07] adisky commented on #106204
same as https://github.com/kubernetes/kubernetes/issues/106204

[2021-11-24 07:47] pohly commented on #105678
It might make sense to combine them in a single PR, depending on how many changes there are - just use common sense.

[2021-11-24 08:02] mkumatag commented on #106571
I just ran the bunch of tests on golang sort module on ppc64le environment and don't see any issues as such,

[code]

[code]

[2021-11-24 08:08] pohly commented on #95497
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-24 08:31] nu007a commented on #92287
Unstale pls

[2021-11-24 08:47] aojea commented on #106640
/sig windows

@claudiubelu @jsturtevant  does this hostname error ring a bell?

[2021-11-24 09:03] jordiprats commented on #79224
please re-open

[2021-11-24 09:07] klueska commented on #106571
I found a number of bugs in the logic of this algorithm,  including the sets of numbers the standard deviation code was running over. It could very well be that a small difference in floating point calculations results in this flakiness because the values produced by the standard deviation code were very very close (even when they shouldn't have been).

I have a PR out to fix each of the bugs I fo

[2021-11-24 09:33] vsxen opened #106649 "why coredns oom score is -997?"
### What happened?

why  burstable pod oom score is -997?
[code]

### What did you expect to happen?

oom socre is 998 ?

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>
none
</details>

### OS version

<details>

[code]

</details>

[2021-11-24 09:52] Rajalakshmi-Girish commented on #106569
I compiled the test binary using the `-race` flag enabled.
We see this flaky only when the race is enabled. @aojea Can you please try passing -race while compiling the binary for the stress tool.

I followed https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/flaky-tests.md#deflaking-unit-tests

[2021-11-24 09:59] klinakuf commented on #105204
Check whether the issue is happening for other pods in the same namespace. In my case the problem was a bad pod, the container was exiting for other reasons.

[2021-11-24 10:18] behos commented on #96218
/remove-lifecycle stale

[2021-11-24 10:26] pohly commented on #106262
We have the same problem as in kube-scheduler also in kubelet, it's just that no-one has seen and/or complained about the multi-line strings. With the benchmark + log analysis tool from https://github.com/kubernetes/kubernetes/pull/106594 I found the following multi-line string parameters in a kubelet log:

<details>

[code]

</details>