[2016-04-16 16:45] bgrant0607 commented on #21267
In the manifest, so someone making a change would see it. Thanks

[2016-04-16 17:26] polvi opened #24380 "controller manager not starting due to empty preferred version in third party resource"
https://github.com/kubernetes/kubernetes/issues/23799#issuecomment-206735608 shows that the third party resource controller is creating API groups with empty preferred versions:

#23985 fixes this returning error when the dynamic client finds an empty group version:

https://github.com/kubernetes/kubernetes/pull/23985/files#diff-eeb7b9143db6fd30f0968ba5024cc056R128

As far as I can tell, controlle

[2016-04-16 19:46] #23637 closed

[2016-04-16 20:28] bprashanth commented on #24375
My immediate concern is that we end up sending out of order updates and the controllers need to compare resource versions etc. Maybe there's an easy solution that allows us to resync only those RCs that haven't synced in a while.

[2016-04-16 20:38] mbrevoort commented on #23004
My upgrade just failed in a similar fashion:

[code]

I'm now stuck with a cluster with no master node. 😭

[2016-04-16 20:44] smarterclayton opened #24381 "Default reflection conversion does not handle bool -> *bool"
Only the generated conversions handle it properly, which fails if we run conversions outside of generation.

Moderately low priority.

[2016-04-16 21:04] smarterclayton commented on #24375
Can we process relist more effectively inside the controller?  Whats the breakdown of that 20s - calling our to the pod cache?

[2016-04-16 21:15] bprashanth commented on #24375
We don't need to process 10,000 different RCs from the workqueue serially, you should be able to bump up https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L211 through https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L195

[2016-04-16 21:41] smarterclayton commented on #24125
Fixed in https://github.com/kubernetes/kubernetes/pull/24382

[2016-04-16 21:58] smarterclayton commented on #24343
+1 to this being healthy.

On Sat, Apr 16, 2016 at 2:36 AM, Brian Grant <notifications@github.com>
wrote:

[2016-04-16 23:41] bprashanth commented on #24357
Also of interest:

1. Why did it exit with 1? This should be clear from the iptables commands it executed before the commit, which are hopefully in the logs (can you post them). If it's something like a non-exist chain, we should fix that.
2. Did we retry on exit 1? Handwaving without looking at code: I'd expect something to get requeued, and to reinvoke syncProxyRules once again, in a time frame

[2016-04-17 00:08] anzhsoft commented on #24326
i didn't create or start the service  kube-addons, and it didn't run too. How should I do to run it ? thank you.

[2016-04-17 00:08] #23679 closed

[2016-04-17 00:18] zhouhaibing089 commented on #24326
@anzhsoft see here: https://github.com/kubernetes/kubernetes/tree/master/cluster/saltbase/salt/kube-addons

basically, the kube-addons service will take care of the foler `/etc/kubernetes/addons`, and use `kubectl` to create them.

[2016-04-17 00:19] mqliang commented on #24375
@bprashanth

Also think about it. Since we actually insert the ***key*** of RC into workqueue(see [enqueue controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L379-L393) ), even we process RCs out of order, it still ensure correctness.

yeah, setting the "--concurrentRCSyncs" flag as a larger value could make replica management more

[2016-04-17 00:32] mqliang commented on #24375
@smarterclayton

Yeah, we can try process relist more effectively inside the controller, but even we have the [lookup cache](https://github.com/kubernetes/kubernetes/pull/19043), there is still a 20s breakdown when relist/resync if we have 10,000 RCs(at the same time, we may have some Jobs/DaemonSets/Deployments, etc, and we have QPS in client side and "max-requests-inflight" limit in API server).

[2016-04-17 00:51] bprashanth commented on #24375
I was ratholed by your pr that made modifications in the informer, yeah adding a new type of queue that respects priority and only using it in the RC should be safe.

Obviously it's not safe to reorder things if we weren't enqueuing a simple string that is the ns/name of the object, so if we do this I'd want to make it really clear to any users of the queue that they must not enqueue stateful obje

[2016-04-17 00:58] smarterclayton commented on #24375
Why not break relist up into tranches then?  Priority doesn't seem to
be the real issue, just saturation.  I don't think at 100k RC we want
to be running them all naively anyway, and a work queue that is order
independent can be sliced and diced in lots of ways.  If we're trying
to avoid saturation then relist is already broken.

[2016-04-17 01:39] davidopp commented on #21947
Yes, I'll assign it to myself for now...

[2016-04-17 01:41] davidopp commented on #23531
Fixed in #23689

[2016-04-17 01:41] #23531 closed

[2016-04-17 02:49] gmarek commented on #21947
We probably should have a laundry list of such stuff somewhere...

[2016-04-17 02:55] nelcy commented on #23728
The fix is merged. The secrets are passed as options to the flex volume in the following format.
[code]

[2016-04-17 03:22] #23897 closed

[2016-04-17 04:48] surajssd opened #24383 "README.md media page link broken"
When I click [Media Page](http://kubernetes.io/media/) link in [Are you ready to add to the discussion?](https://github.com/kubernetes/kubernetes#are-you-ready-to-add-to-the-discussion) in `README.md` I am taken to non-existent http://kubernetes.io/media/

[2016-04-17 04:56] zhouhaibing089 commented on #23497
/cc @jlowdermilk

@srcspider thanks for this long explanation, it make sense to me.

[2016-04-17 05:54] sporkmonger commented on #13382
I started hitting this after I accidentally set up two services / two deployments that mistakenly had the same label selector. The scheduler dutifully saw that there were too many containers for that selector and kept terminating and relaunching both. Forever. This would lead to TLS handshake errors after about 10-15 minutes. If you want a quick way to repro, that may be it.

[2016-04-17 08:00] davidopp commented on #24246
Please don't merge any PR for this until #22985 has gone in. That PR is a beast, and I'd rather get that in first, then modify its priority function to fit the "map-reduce" model (I like Marek's terminology :-) )

[2016-04-17 08:12] #15663 closed

[2016-04-17 08:31] innovia commented on #24249
the nfs image is messed up - bring up your own nfs-server and it works fine

if you need to tweak the mount points other than exports look at any entrypoint for any nfs-server docker file out there
[code]

[code]

[2016-04-17 08:54] wojtek-t commented on #24298
This is happening quite frequently - increasing priority to P0.

[2016-04-17 09:30] wojtek-t commented on #24246
@davidopp - sure;
In fact on Friday I was doing some experiments and I found that we have some periods of time (in orders of 10-30ms), when scheduler is not doing any useful work. Since it's Go 1.6, it's shouldn't be "stop-theworld" GC, so I'm doing to investigate it first.
Anyway, my goal for now is to how long every single phase of scheduling takes (predicates, priorities, binding, choosing pod

[2016-04-17 09:30] xied75 commented on #19598
Related thought: shouldn't we use Azure Resource Management template as the deployment vehicle and come up with a tool similar to this:
https://github.com/coreos/coreos-kubernetes/tree/master/multi-node/aws

[2016-04-17 11:48] #24298 closed

[2016-04-17 11:58] wojtek-t commented on #24265
@gmarek @kubernetes/goog-node

[2016-04-17 12:13] wojtek-t commented on #24265
Unfortunately, we again don't have logs from components from runs where we didn't started tests.
@spxtr @fejta - can we do something about it?

[2016-04-17 13:23] surajssd commented on #24383
This is how it looked before migration https://web.archive.org/web/20150923035335/http://kubernetes.io/media

[2016-04-17 13:31] JeanMertz commented on #24330
I think @JorritSalverda specifically means that old RS' are kept _running_, instead of downscaled once a new version is deployed.

This seems to be "working as intended", as you change the `selector`, and thus the old pods no longer match to this RS, and can't be downscaled.

From what I understand, a RS is "updated" when its "hash" differs, ie: when anything in the config is changed. So, instead

[2016-04-17 14:42] rakeshm commented on #22623
I guess we'll learn more next week on what MSFT would recommend but IMO, having a short term (if indeed it is short term) limitation on Windows that 1 pod = 1 container is better than having a host of materially important caveats on Windows when you have 1 pod = n containers if that's what it ends up coming down to.

Clear statements of limitations - and we know there will be limitations in a vari

[2016-04-17 15:53] smarterclayton commented on #22623
I'm not against making progress, but limitations of a container
runtime don't invalidate the intent of the pod to be a scheduling
unit.  Colocated work in pods is the core Kube abstraction, and so we
wouldn't lightly propagate a restriction like that up the stack (to
the APIs, validations, or clients).

I'd want a much deeper discussion of the trade offs due to long term
technical gaps (as this wo

[2016-04-17 16:13] rakeshm commented on #22623
Agreed.

Just for clarification though - we'd be talking about deciding on the composition of a pod, not the fact that a pod is the unit of scheduling right? I'm certainly not suggesting we even consider the latter.

[2016-04-17 16:40] smarterclayton commented on #22623
If you want to achieve scheduling colocation onto a node for two
service endpoints you place them in a pod (even if you don't need
volume or network sharing).  Using other constructs to achieve that
would be discouraged / not supported / "a bad idea".  So in the worst
possible case (no way to technically implement network IP sharing) we
very well may want multiple containers per pod on Windows.

[2016-04-17 16:52] rakeshm commented on #22623
Got it. Looks like it will come down to what can actually be shared across containers within a pod and which life cycle operations can be mutually guaranteed before this becomes a tougher call.

[2016-04-17 18:18] JorritSalverda commented on #24330
Thanks, by removing the version from `.spec.selector` but keeping it in `.metadata.labels` it makes everything work as expected. The old replicaset has it's replica number set to 0 after running the deployment, so it's no longer actively keeping pods alive and indeed the old pod is gone. The rollout history is now correct as well.

I already set the `.spec.revisionHistoryLimit` to 25 so it doesn't

[2016-04-17 18:18] #24330 closed

[2016-04-17 20:12] #23973 closed

[2016-04-17 23:00] lenadroid opened #24388 "Kubernetes replication controller from fsharp docker image is in CrashLoopBackOff state"
Hello,

I performed the following steps.

Created the replication controller with the following config file:
[code]

Run the command:

`kubectl create -f fsharp-controller.json`

Here is the output:

[code]

What is  wrong?

How can I find out the reason why the controller won't start correctly?

[2016-04-17 23:27] gmarek commented on #24265
I think it may be indeed a control plan thing - my experience with such failures is that it's caused by an OOM in some addon. We should come up with limits that actually work for big clusters.

[2016-04-18 01:13] idvoretskyi commented on #24383
@surajssd please, submit this issue here (kubernetes.io website repo) - https://github.com/kubernetes/kubernetes.github.io/issues

[2016-04-18 01:19] smarterclayton opened #24389 "ConvertToVersion to same version should not be using reflection conversion"
Invoking ConvertToVersion when the object is already in the destination version should be a no-op.  Right now it's going into the default conversion path (and doing a bunch of useless work).

Also, ConvertToVersion needs to switch to take an array of desired versions so that we can convert nested runtime.Objects.  It's possible that we want to have the behavior that if you try to do:

     scheme.

[2016-04-18 01:26] bprashanth commented on #23663
With https://github.com/kubernetes/kubernetes/pull/24391 and https://github.com/kubernetes/contrib/pull/791 it should be trivial to run the controller as a static pod on the master instead of an addon.

Before we do so we need some way to turn it off after users have updated their clusters. I know people who want advanced nginx features are currently running the nginx controller on gce by sizing t

[2016-04-18 01:48] polvi opened #24392 "kubectl third party resource race"
When registering more than one ThirdPartyResource, there appears to be a race in kubectl for the ability to read the APIs. Note that all these commands are executed sequentially, and an empty response on the `get` is due to no objects being registered (this is an expected behavior). This is using kubectl at e81663c8242b54eafa9c97d947339a02b0d23780, which is after #18835 landed.

[code]

I believe

[2016-04-18 01:55] bprashanth commented on #24392
@kubernetes/kubectl

[2016-04-18 02:10] bprashanth opened #24393 "Allow different ingress controllers to coexist"
We need to be able to run cloud and non-cloud ingress controllers simultaneously, in the same cluster. Current they will fight it out. It's also difficult to turn off the cluster addon ingress controller and deploy one of your own on something like GKE, even though the api encourages extensibility.

A couple of options:

1. User create a claim which translates 1:1 to an lb, Ingresses join claims.

[2016-04-18 02:11] polvi opened #24394 "Should be able to have more than one ThirdPartyResource per domain"
If this is the intended design, feel free to close. I could not tell if it was a bug or "feature".

If you add two ThirdPartyResources on the same domain, only one will be registered with the API. Consider this example:

[code]

[2016-04-18 02:40] liangchenye commented on #24341
I also saw this issue in my developing. In my case, it turned out that there is no container. (len() == 0)
I think we need to wait for a moment after a pod has been created, or there will not be enough time for the related container to be created.

[2016-04-18 03:13] hongchaodeng opened #24396 "[flake] Node e2e: privileged pod operation not permitted"
A recent flake happen on node e2e test.

Even though the tests still have a result of success:
[code]

It showed the following error and exited non-zero:
[code]

See log [here](https://00e9e64bac3c04dfeee05f0ac6919138c3f3b624ee3a18abaf-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F23694%2Fnode-pull-build-e2e-test%2F1909%2Fbuild-log.txt?qk=AD5uMEulrvai-nQ

[2016-04-18 03:27] mqliang commented on #24188
@wojtek-t trace log is as follows:

[code]

Seems that etcd response time is slow. @xiang90 Could please take a look? Our etcd version is v2.2.5. kubernetes version is v1.0, our cluster has about 3500 nodes, each has one pod.

[2016-04-18 03:37] xiang90 commented on #24188
@mqliang How do you calculate the time? How large is the response from etcd? How many nodes does the response contain from etcd?

[2016-04-18 03:49] mqliang commented on #24188
There are actually 4 request in the log I post. The first 2 request is LIST request, the latter 2 is GET request. Even for List request, usually we have less than 5 pods in a namespace.

[code]

[code]

[code]

[2016-04-18 03:53] mqliang commented on #24188
@xiang90 The following is the code writing the trace log
[code]

[2016-04-18 04:17] roberthbailey commented on #23663
For GCE, you should be able to set [ENABLE_L7_LOADBALANCING](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L66) to empty string to disable the L7 addon during cluster creation. For GKE, we have an API option to turn it on/off for a cluster at creation time or afterwords. We should be able to provide some pretty straightforward documentation for how to disable i

[2016-04-18 04:40] bprashanth commented on #23663
No I mean if someone is running today, with the l7 controller --replicas=0 and the nginx controller, they will no longer be able to turn it off once they upgrade. I don't think the cluster startup time config is sufficient.

If we can't toggle it on/off on a running cluster I can teach it to ignore ingresses with a certain annotation, and ask everyone to apply the annotation ingress=nginx or somet

[2016-04-18 04:45] roberthbailey commented on #23663
We don't currently have an API in k8s core to toggle static pods on/off after cluster creation (e.g. fluentd on the nodes or any of the master components on the master). I don't think we should gate moving this functionality onto the master on designing and adding such a capability, when you can do it via an ssh command.

[2016-04-18 04:47] xiang90 commented on #24188
@mqliang

It is still not clear to me how do you calculate the request-response latency from etcd. I am not sure the how many requests you sent to etcd in one storage call, how many data you got back from etcd, etc..

Try to do
[code]

I cannot really help you until you provid the information I asked for etcd side.

[2016-04-18 04:51] bprashanth commented on #23663
On GKE I want to move manifest files out of /etc/kubernetes/manifests, that's the equivalent of scaling an RC down to 0.

I think it's ok to do the annotation thing I mentioned and say it's a fallout of the feature still being in beta, wdyt?

[2016-04-18 04:52] bprashanth commented on #23663
I think the difference here is that we're moving something that *was* toggle-able to something static, and I know some advanced users have toggled it off.

[2016-04-18 04:53] Random-Liu commented on #23772
[code]
https://00e9e64bac9a04dc9c488f0e0d278cec9b53350544f65446d8-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F23907%2Fnode-pull-build-e2e-test%2F1923%2Fbuild-log.txt?qk=AD5uMEsxS3fe0yKzPLLt95zSrAeFMErF7zhFh4LvKaGZK3FODhYM5dB-Sm04aRQBXmlCSl8lAk00e7o4o-EjEILx8_BZltoA7PR-wCCAPI79yma05R0R4epiU337u8-U5pgh3LchpPqLesH7knB8K8G7jL7WC-nObTMXYVeBoBaHcmCKPe0HUFgUQ

[2016-04-18 04:54] thockin commented on #24357
Yeah, what was line 139 in the restore output?

On Sat, Apr 16, 2016 at 4:41 PM, Prashanth B <notifications@github.com>
wrote:

[2016-04-18 04:58] roberthbailey commented on #23663
We don't have an API in k8s core to toggle L7 on/off, but we **do** have such an API for GKE. So advanced users will still be able to turn it off in GKE clusters (at cluster creation or after the fact). Users that have turned it off should not get it enabled when their cluster gets upgraded (because we should suppress the static pod from running on the master if you've requested no L7 addon).

[2016-04-18 05:00] bprashanth commented on #23663
Ah, thanks for the clarification. As long as people can toggle it off on GKE we should be fine with the ssh workaround everywhere else.

[2016-04-18 05:14] thockin commented on #24363
I'm going to close this for now.  Please reopen if you think there's a bug in code or docs.

[2016-04-18 05:14] #24363 closed

[2016-04-18 05:26] mqliang commented on #24188
@xiang90

[code]

[code]

As the "trace" log and code demonstrate, function `e.Helper.ExtractObj(key, obj, false)` takes about 15m, right? Function basically do two thing:

* [h.Client.Get()](https://github.com/kubernetes/kubernetes/blob/release-1.0/pkg/tools/etcd_helper.go#L350)
* [Decode](https://github.com/kubernetes/kubernetes/blob/release-1.0/pkg/tools/etcd_helper.go#L356)

But, unfortunately

[2016-04-18 05:27] chaolou commented on #24188
@AdoHe  @wojtek-t

because we use k8s restful api directly and set timeout 1minute in http lib instead of using the inner  timeout parameter of kubernets api

[2016-04-18 05:36] thockin commented on #24343
I agree it's healthy long term, but we do need to think hard about the chunks.  Having all of the binaries be built and versioned together is pretty important, I think.  In fact, I'd love for us only to build one binary - hyperkube.  Breaking out client utils and libs is pretty obvious.  Gabe from Deis said it hurt a lot but was worth doing...

[2016-04-18 05:39] xiang90 commented on #24188
@mqliang

Here is the thing:

If you want me or @hongchaodeng to debug etcd, you have to provide etcd related log as I asked.

Personally, I have no interest to debug kubernetes 1.0 codebase. As @wojtek-t mentioned, k8s changed a lot since 1.0. If you can reproduce in k8s 1.2 or later, I can give it a more careful look.

[2016-04-18 05:43] thockin opened #24397 "Idea: something like Linux kernel's 'make config' for cluster config"
One of the issues we face right now is that the various addons and cluster components have flags and parameters.  It's not at all clear which params apply to all settings, and which just apply to some, or what all the valid options are.  It strikes me as awfully similar to Linux's kconfig.

Imagine if things like network integrations and addons just registered themselves by existing in specific di

[2016-04-18 06:04] thockin commented on #24130
This is not strictly correct though, because a pod can cease to be "ready" but not die.  We've intentionally NOT drawn this as a state-machine because conditions are really orthogonal concepts.  We report a singular status as part of kubectl, so maybe we should document THAT, but it's more complicated than this diagram captures.

@dchen1107 @yujuhong since the kubelet drives most of this.

[2016-04-18 06:06] #24040 closed

[2016-04-18 06:16] thockin commented on #24092
This is a little stale (will update) but most of http://docs.k8s.io/user-guide/debugging-services is useful here.

What you're not showing is the Endpoints config, though from iptables I can see that it looks right.

Do I understand correctly that if you kill nginx then it starts working?

We do not do reverse lookups, but we never did so that is not a change.  Could a conntrack entry exist that i

[2016-04-18 06:19] #24100 closed

[2016-04-18 06:37] mqliang commented on #24188
@xiang90 Yeah. I definitely understand that I should provide more information, but unfortunately I have no more log. And the statistical information in prometheus helps little for this problem:

[code]

[code]

For "etcd_request", we only have “latencies_summary” information, I'd suggest add "latencies_bucke" information. And the "le="8e+06" limit in "latencies_bucket" seems not enough, may be add

[2016-04-18 06:41] mqliang commented on #24188
Will add more log, but this problem cold only be reproduced when we have a large cluster and running for a long time. Close this and may open a new one with more information when we meet this problem again.

Will file an issue for my suggestion about "etcd_request_latencies_bucket"

[2016-04-18 06:53] thockin commented on #24322
That is a valid workaround for now. Or you can use Ingress to set up an L7
balancer directly

On Fri, Apr 15, 2016 at 9:49 PM, Gao Zheng <notifications@github.com> wrote:

[2016-04-18 06:54] mqliang opened #24399 "add "latencies_bucket" for etcd request"
Notice this when debug https://github.com/kubernetes/kubernetes/issues/24188#issuecomment-211227204

We only have "latencies_summary" for etcd request, I'd suggest add "latencies_bucket" also. @lavalamp @wojtek-t

[2016-04-18 06:54] cheld commented on #22687
In a DevOps team you will find a person that setup the cluster (the op guy) and the developers. In this sense I think the grouping should reflect these roles, e.g. I think security context and secret should not be in the same group as well as persistent volume and claims.  I would rather group the resources to reflect the high level use cases "manage cluster" and "manage workloads" somehow.

[2016-04-18 06:54] cheld commented on #22687
CC @fwalker, @gertipoppel

[2016-04-18 06:56] mqliang commented on #24188
Reopen to here @wojtek-t 's feedback about the trace log, if he has no ideas, will close this.

[2016-04-18 06:58] xiaoheihero opened #24400 "Question:how to schedule a pod into a specified node in k8s?"

[2016-04-18 06:59] yifan-gu commented on #23889
Close for now as we are going to stick with the systemd service approach.

[2016-04-18 06:59] #23889 closed

[2016-04-18 07:08] #24018 closed

[2016-04-18 07:17] wojtek-t commented on #24188
I'm not sure we can get anything useful from that logs.

Also, as we mentioned earlier, you shouldn't run 3.5k nodes on 1.0 release - this is a configuration that we officially do not support on any release yet, especially on 1.0. So we shouldn't spend time on it.
If you can reproduce the same problems with 1.2 release, then we will definitely spend more time trying to understand it.

[2016-04-18 07:19] thockin commented on #19854
You can delete the node and recreate it, I think.  This should force pods
on the node to be evicted (not sure if it does).

On Fri, Apr 15, 2016 at 10:57 AM, Alexandre Fiori <notifications@github.com>
wrote:

[2016-04-18 07:20] #24188 closed

[2016-04-18 07:21] thockin commented on #23920
GCE, underlay networking, Debian

We pass HostPort thru to Docker, so maybe start with docker inspect?

On Fri, Apr 15, 2016 at 10:54 AM, Adam Duncan <notifications@github.com>
wrote:

[2016-04-18 07:22] wojtek-t commented on #24265
I think we need logs to confirm this hypothesis (but I agree that sounds reasonable).

[2016-04-18 07:38] thockin commented on #24317
@davidopp re: opaque resource scheduling.

Jan,  I think the right answer is an opaque counted-resource type.  We must learn to query nodes or cloud-providers to learn how many slots are available and we must learn that a volume or persistent-volume which resolves to a PD counts as "1 pd attachment" for scheduling feasibility.

Obviously we don't want to hardcode PD gunk, so I describe it as an op

[2016-04-18 07:39] thockin commented on #13299
Thanks.  I'm relieved because I can not see how this would be happening.  Please reopen if needed.

[2016-04-18 07:39] #13299 closed

[2016-04-18 07:42] thockin commented on #24156
everything in util should be isolated from core kube.  If it is not, we should fix THAT

[2016-04-18 07:42] #24156 closed

[2016-04-18 07:45] thockin commented on #24224
CJ - is this something you're going to have time to do, or are you looking at me while I look at you?

[2016-04-18 07:52] thockin commented on #23438
Can we just make a shortest-prefix rule?

On Fri, Apr 8, 2016 at 10:02 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-18 07:53] thockin commented on #23553
Dup of https://github.com/kubernetes/kubernetes/pull/24180

[2016-04-18 07:53] #23553 closed

[2016-04-18 07:57] thockin commented on #23326
I still don't think that's what you want.  Can you just md5 the projected file and set an inotify on it so that any inotify update you can checksum it yourself?  That said, if the contents of the file don't change we don't even write the new file, so simply using inotify should be enough.

I don't think resourceVersion is what we want to do here,

[2016-04-18 07:57] #23326 closed

[2016-04-18 08:51] tbrox opened #24401 "Question: Direction for kube-up on AWS"
I've been trying to make the cluster deployment scripts work properly for existing VPC's, and I've created a patch that will solve the following issues:
- kube-up can't use existing security groups
- kube-up can't create master without public IP (This prevents the cluster from working on private subnets with a corporate VPN tunnel)

I was going to propose to merge these changes, but the more I thi

[2016-04-18 09:13] MrChaos1993 commented on #19235
+1

[2016-04-18 10:09] timbunce commented on #13585
I see @ncdc's #16451 has been merged. I'm hoping @maclof can get to this soon. Just getting the initial size right would be a big help.

[2016-04-18 10:21] alex-mohr commented on #23663
Is L7 enabled but RC scaled to 0 pods a valid (== works today) GKE config?  If so, we need an upgrade strategy that keeps that working.

Also, does L7 enabled set to false perform admission control and/or disable ability to create Ingress objects?  If so, need some way of keeping Ingress objects but subbing their own controller.

[2016-04-18 10:32] wernight commented on #24130
Yes it'd be useful. Reason is especially until wait conditions are implemented, it's difficult to wait for example until a pod is "at least" started, or "at least" running (i.e. may be terminated already).

[2016-04-18 11:19] munnerz commented on #831
We've also got a need for this, specifically for running nginx & php-fpm. A git repository is not an acceptable solution for us due to permissions on repositories, and we'd rather the actual files be built into an image that can be distributed to save external dependencies on git servers etc.

For now, the copy-on-launch to an emptyDir is acceptable, however not at all ideal as it incurs a start u

[2016-04-18 12:15] anzhsoft commented on #24326
thank you Haibing. I tried as your comments, but now I failed to start the "heapster pod, the logs listed below:
I0418 20:02:47.925293   24534 manager.go:1679] Found pod infra container for "heapster-v1.1.0.beta1-3608176707-edbv4_kube-system(9efc4773-054b-11e6-9624-6c92bf139d06)"
I0418 20:02:47.925327   24534 manager.go:1692] Pod infra container looks good, keep it "heapster-v1.1.0.beta1-360817670

[2016-04-18 12:17] anzhsoft commented on #24326
kc get deployment --all-namespaces=true
NAMESPACE     NAME                    DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
kube-system   heapster-v1.1.0.beta1   1         1         1            0           2h

the other services appears to work ok.

[2016-04-18 12:24] anzhsoft commented on #24326
more info:
kc get pods --all-namespaces=true -o wide
NAMESPACE     NAME                                     READY     STATUS             RESTARTS   AGE       NODE
kube-system   heapster-v1.1.0.beta1-3608176707-edbv4   0/4       CrashLoopBackOff   132        2h        test.kube-cluster.host1

the yaml:
cat heapster-controller.yaml
#{% set 200Mi = 200Mi -%}
#{% set 200Mi = 200Mi -%}
#{% set 4 = 4 -%

[2016-04-18 12:25] fgrzadkowski opened #24404 "Improve cluster autoscaling"
Current hacky version has number of drawbacks:
- works only on GCE
- doesn't support number of cases and we may still have pending pods
- very cloud provider specific
- very hard to update configuration
- UX is very poor

We'd like to improve it to:
- support all cases for pending pods
- provide a reference implementation that could be ported to other cloud providers.

It should support both scali

[2016-04-18 12:30] hlamer commented on #24092
Yes. Restarted pod works fine. Other pods running on the same node work fine.

The bug what stable reproducible, but I can't reproduce it now. kubernetes and CoreOS version is still the same, all nodes in the cluster has been rebooted.
What information can I collect when I see the bug next time?
`cat /proc/net/nf_conntrack` ?
Something else?

[2016-04-18 12:43] hongchaodeng opened #24405 "Provide flags to use etcd3 backed storage"
ref: #22448

### Description

- We want to have a flag in apiserver to switch to different storage backends. The default should remain as "etcd2", and user can choose a different storage backend e.g. etcd3 by setting the flag.
  - ~~What should the flag look like?~~ We will add a flag "--storage-backend". By default it's "etcd2"; we can set "etcd3" to switch over.
- We need to pass configs specifi

[2016-04-18 12:43] hongchaodeng commented on #24405
/cc @wojtek-t @lavalamp  @timothysc @smarterclayton @xiang90

[2016-04-18 12:47] sbadia commented on #24224
For the record,

Using the pure iptables kube-proxy, with the option `--masquerade-all=true` it seems to work well. I just tested this on GCE (Container clusters v1.2.1).
##### Create a bastion route on any node of the cluster
[code]
##### On cluster nodes, enable `masquerade-all=true`
[code]

[2016-04-18 12:49] anzhsoft commented on #24326
@zhouhaibing089

[2016-04-18 12:49] fgrzadkowski commented on #24404
@davidopp @roberthbailey @piosz @aronchick

[2016-04-18 12:50] wojtek-t commented on #24405
We want to have a flag in apiserver to switch to different storage backends. The default should remain as "etcd2", and user can choose a different storage backend e.g. etcd3 by setting the flag.

In my opinion it should be something like "--storage-backend" with possible values "etcd2", "etcd3" (and potentially in the future other values if/when we support other storage backends).

We need to pass

[2016-04-18 13:27] soltysh commented on #24312
Big fat :+1: on no. 8 I've stumbled upon just now wasting some time to find out the codegen wasn't run. I'd suggest tweaking the script order in such a way that one doesn't have to think about stuff like that.

[2016-04-18 13:28] batikanu commented on #4869
I was experimenting the docker provisioning and encountered a problem with heapster. The heapster works properly and collects the metrics for pods with --containerized flag solution. Without containerized flag it has only node metrics but not pod metrics. I tested the both options on the same environment. Is there anyone who has already checked heapster without --containerized flag (shared volumes

[2016-04-18 13:39] wojtek-t commented on #13775
I already migrated to conversion-generator to the framework.
Closing as fixed.

[2016-04-18 13:39] #13775 closed

[2016-04-18 13:48] goblain commented on #24400
you can use nodeSelector as described in http://kubernetes.io/docs/user-guide/node-selection/

among available labels you should find `kubernetes.io/hostname` which you can use to schedule to particular node.

[2016-04-18 13:54] ncdc commented on #24352
cc @kubernetes/rh-cluster-infra

[2016-04-18 13:54] wojtek-t commented on #24320
Hmm - it seems that we already have auto-retry incorporate into client:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L813

This means that:
- either it doesn't work
- or we got the "429" response 10 times in the row.

@lavalamp - any thoughts?

[2016-04-18 13:55] zhouhaibing089 commented on #24326
@anzhsoft maybe you would get more luck there: https://github.com/kubernetes/heapster. if you could use code block to format your logs and specs, it would help a lot.

[2016-04-18 13:58] zhouhaibing089 commented on #24224
+1 for `--masquerade-all=true`.

my question maybe a little bit off-topic, not sure why it is not default to be `true`? in our environment, it has to be true.

if there is no snat, the packet could be received correctly, but the source ip is still being pod ip.

[2016-04-18 14:05] #24101 closed

[2016-04-18 14:08] goblain commented on #24224
@zhouhaibing089 in case you are using networking which goes via plain routing (ie. via cloud provider routing) then --masquerade-all is not the best idea. Even though the traffic goes via "external" router, this router knows how to route CLUSTER_CIDR subnets hence you want to keep source pod IP unaltered. The SNAT in such case has to happen either when trafic leaves your cluster via gateway that w

[2016-04-18 14:21] zhouhaibing089 commented on #24394
looks like this one: https://github.com/kubernetes/kubernetes/issues/23831

[2016-04-18 14:22] gmarek commented on #24320
Do we have an exact 429 response? I.e. do we know how long did API server asked client to wait?

[2016-04-18 14:29] ingvagabund commented on #24239
We did some analysis of the code with @hodovska. There are some points:

1. every objects has its own describe method: ``Describe(namespace, name string)``
2. ``kubectl describe`` command call factory to provide mapping of objects to describers [1]
3. kubectl then calls describe.Describe over requested object.
4. factory calls ``describerMap`` method that provides the object-to-describe mapping [2

[2016-04-18 14:30] ingvagabund commented on #24239
@kubernetes/rh-ux @kubernetes/kubectl

[2016-04-18 14:33] ncdc commented on #13585
I've actually started working on SIGWINCH support. I hope to have something submitted for review later this week.

[2016-04-18 14:35] wojtek-t commented on #24265
Sorry, it seems that from some runs we have logs.

So I took a look into the logs:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/6136/artifacts

And basically the reason from both v3g1 and llq3 nodes is that Kubelet hung on "pulling image for fluentd" - it started pulling and it never finished.

@yujuhong @dchen1107 - do we have any timeout

[2016-04-18 14:37] jgraettinger commented on #24200
@roberthbailey et al, did the master logs confirm the hypothesis? Thanks

[2016-04-18 14:45] cjcullen commented on #24224
@thockin I'll take a look today.

[2016-04-18 14:56] tmrts commented on #23300
Fixed in #23381

[2016-04-18 15:14] wojtek-t commented on #24320
To be honest, I also don't see any corresponding log in apiserver log file (i.e. there aren't any 429 logs there). And there aren't any "rc-821" error logs in apiserver around the time when it happened.

[2016-04-18 15:16] roberthbailey commented on #23663
No. But an end user could scale their RC to 0 instead of using the GKE API to disable L7.

No. It just turns off the gclb ingress controller.

[2016-04-18 15:22] smarterclayton commented on #24239
I'm ok with the proposed Describer behavior - but we should pass DescriberSetting all the way into the `kubectl.Describe` method.

[2016-04-18 15:24] smarterclayton commented on #23438
What's that rule?

On Mon, Apr 18, 2016 at 3:52 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-04-18 15:48] kgelinas opened #24407 "provider vsphere dashboard not created"
configured with kupe-up.sh
# ~/kubernetes//cluster/vsphere/config-default.sh

...
# Optional: Install Kubernetes UI

ENABLE_CLUSTER_UI="${KUBE_ENABLE_CLUSTER_UI:-true}"
...

$ kubectl get po --namespace=kube-system
NAME                    READY     STATUS             RESTARTS   AGE
kube-dns-v11-9wm87      3/4       CrashLoopBackOff   1507       3d
kube-proxy-10.0.0.112   1/1       Running

[2016-04-18 16:10] wojtek-t opened #24408 "Understand periods of scheduler doing nothing"
I'm running some experiments on scheduler code.
In particular what I'm running is:
- I'm starting 1000-node Kubemark cluster
- Killing scheduler job
- starting density test and wait until enough pods are created (and waiting for scheduling)
- I'm restarting scheduler (with increased qps limit)

I added some logs to understand what is expensive in scheduler and should be optimized - see:
https://gi

[2016-04-18 16:10] wojtek-t commented on #24408
If anyone has any thoughs about it - let me know.

[2016-04-18 16:15] wojtek-t commented on #24408
And one more important point - master components are running on 32-core machine. Utilization is at the level of 50%, so I'm pretty sure it's not the effect of cpu-starvation.

[2016-04-18 16:34] paralin commented on #24401
@tbrox please discuss this here: https://github.com/kubernetes/kubernetes/issues/23478

[2016-04-18 16:39] paralin commented on #22004
@supershal https://github.com/kubernetes/kubernetes/issues/23478

I like that you're using terraform. I think the only problem here is that Kubernetes expects some things to be constant about the environment you're under, like tagged subnets. It might be good to document this and maybe make an official Terraform repo for setting up Kubernetes?

[2016-04-18 16:42] roman-shuhov commented on #24276
@yujuhong Did you have a change to check it? Do you need any other input from me? Overall it was 10 pods which were restarted about 1K times each

[2016-04-18 16:51] Random-Liu commented on #24265
@wojtek-t That's why we decided to switching to the official docker client #23563.
After #23800 is merged, we can add timeout for `PullImage` and report image pulling progress in a following PR soon. I think that will help us avoid or at least better surface the reason of this issue.

[2016-04-18 16:57] yifan-gu commented on #24019
Fixed by #24107

[2016-04-18 16:57] #24019 closed

[2016-04-18 17:07] xiang90 commented on #24408
@wojtek-t Have you tried to play with https://github.com/kubernetes/kubernetes/tree/master/test/component/scheduler/perf? I found this issue too when I was playing around with scheduler. And I also found increasing the parallelism does not really help. The CPU utilization just stop at somewhere. I feel there is a contention somewhere. We can start to look into scheduler again if you want. But do y

[2016-04-18 17:08] roberthbailey commented on #24404
/cc @erictune since this is effectively a "feature issue" and might be a good use case for the new feature issue proposal.

[2016-04-18 17:10] kokhang commented on #23291
Hi bprashanth, I am looking at ingress/ingressContoller to provide access to multiple non-http(s) apps from the outside. How would you provide access to many apps which expose the same port? For example, if i want to provide access to two different mysql deployments, in which both expose 3306. How can i do this without having to use random ports for each?  Are you thinking of supplying a vip for e

[2016-04-18 17:16] thockin commented on #20552
@ArtfulCoder This is a P0 because of recurrence - any thoughts on next steps to root this out?

[2016-04-18 17:16] dchen1107 commented on #23342
This is not a flaky. One of kernel worker thread (kworker/u4:2:141) is hung on cleanup_net. This is known kernel issue since 2007, and the only workaround I know is rebooting the node. Please note that the process which is hung here is not docker process, so I am not sure if the not_ready state of the node is caused by docker, thus not sure if https://github.com/kubernetes/kubernetes/issues/23342#

[2016-04-18 17:16] #23342 closed

[2016-04-18 17:16] ingvagabund commented on #24239
@smarterclayton all the way into the ``kubectl.Describe`` method as introduce argument to each ``Describe`` method or by injecting the ``DescriberSetting`` into each object Describer struct?

a)
[code]

or b)
[code]

[2016-04-18 17:20] bprashanth commented on #20552
Has it actually happened since the one time 20 days ago? (if no, I'd suggest looking through the logs of that one run and making sure it isn't something totally unrealted).

The times I've seen it recently, it's been a manifestation of  https://github.com/kubernetes/kubernetes/issues/20552#issuecomment-190317859 which is closer to https://github.com/kubernetes/kubernetes/issues/20550

[2016-04-18 17:24] gmarek commented on #24265
@Random-Liu - that's great. I'm removing flake and priority labels, as it seems to be a known issue with a fix on a way.

[2016-04-18 17:24] thockin commented on #22655
I'm probably not the right assignee - I have almost no context on this area.  It looks like it is flaking once a month?

Who has most context on kube-up?  Names from `git blame`

@zmerlynn @gmarek

This is a pretty nefarious failure mode, can either of you shake loose a little time to estimate it and see what would have to push to fix this?

[2016-04-18 17:24] dchen1107 commented on #21475
The issue was fixed and obsolete now.

[2016-04-18 17:24] #21475 closed

[2016-04-18 17:24] bgrant0607 opened #24411 "Clarify `kubectl get service` output"
Someone reported:
[code]

The empty output is caused by:
[code]

Note the last case doesn't check for an empty list.

We should settle on a term for values that are currently empty but we expect to be populated asynchronously. I don't like "requesting". Elsewhere we use "pending", such as for unscheduled pods, so let's go with that.

And, let's ensure that all the non-literal values are bracketed

[2016-04-18 17:28] maclof commented on #22698
@thockin do you have any thoughts as to what might be causing this issue? It's a huge problem for me and I'd love to get it fixed.

[2016-04-18 17:31] thockin commented on #23438
You only need to type as many letters as are needed to uniquely identify a
resource Kind.  Obviously, don't do this is scripts because of future
ambiguity.

The flattening on apiversion and kind here also seems to imply that we can
never have the same Kind used in2 different apigroups, right?

On Mon, Apr 18, 2016 at 8:25 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-18 17:31] gmarek commented on #24125
Thanks @smarterclayton

[2016-04-18 17:33] smarterclayton commented on #24239
Pass argument to describe - a).  There's really no need to put it it on the struct.

[2016-04-18 17:34] smarterclayton commented on #24125
Needs to merge first :)

[2016-04-18 17:34] erictune opened #24412 "Junit.xml for integration test"
tests in `test/integration/...` do not emit a `junit.xml`, so we can't see details of their failures in Jenkins.

Either run a post-processor like https://github.com/jstemmer/go-junit-report, or convert tests to use Ginkgo/Gomega, which will emit junit.xml.  The former seems easier.

[2016-04-18 17:38] smarterclayton commented on #23438
Technically we can already do that with our bash completions - I would
argue that we don't even need to implement that.

Flattening of shortcuts is resource expansion, then it goes to the mapping
phase to find api groups, which then has the user resolve ambiguity.

On Mon, Apr 18, 2016 at 1:31 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-04-18 17:40] Random-Liu commented on #23028
Ref #23028

[2016-04-18 17:41] spxtr commented on #24285
All of our kubernetes-build and kubernetes-test-go jobs are running on a single n1-highmem-32 instance, which is hitting 100% CPU usage fairly often. This is most likely why our test-go times are so inconsistent lately.

[2016-04-18 17:42] dchen1107 commented on #23329
The test has passed for last 100 runs at kubernetes-e2e-gce-serial jenkins job, no flaky at all. Close this one.

[2016-04-18 17:42] #23329 closed

[2016-04-18 17:44] luxas commented on #24285
Is there anything I may help with? (Not having access to your servers)

[2016-04-18 17:53] gmarek commented on #2210
@mml are you working on it, or can I take it over?

[2016-04-18 17:53] spxtr commented on #24285
@luxas I think I can handle the test-go problems. Feel free to work on your other suggestions, I think they're good.

[2016-04-18 17:56] bgrant0607 commented on #24343
Request to break out service discovery / DNS: https://twitter.com/jbeda/status/711585271221866496

[2016-04-18 17:56] gmarek commented on #24412
cc @kubernetes/sig-testing

[2016-04-18 17:57] ihmccreery opened #24414 "Experimental upgrade tests leaking resources"
Leaking:

- instance groups
- target pools
- forwarding rules
- firewall rules
- health checks

[2016-04-18 17:57] gmarek opened #24415 "When Kubemark tests fail JUnit_XX files are not filled correctly."
Even when some test fails contents are:
[code]

cc @kubernetes/sig-testing @wojtek-t

[2016-04-18 17:57] fabianofranz commented on #24239
I'm good with the proposal. Not every resource kind prints events but I can foresee other `DescriberSetting` values we could add in future. Making the settings an argument to `kubectl.Describe` will force every object describer to have it.

[2016-04-18 18:00] erictune commented on #24412
Or https://github.com/tebeka/go2xunit

[2016-04-18 18:02] spxtr commented on #24412
I think `test/integration` tests do output JUnit, but `cmd/integration` tests do not. Related: #21420

[2016-04-18 18:07] spxtr commented on #24415
Could you add some more info, such as an example run's GCS bucket?

[2016-04-18 18:08] janetkuo commented on #22687
cc @pwittrock

[2016-04-18 18:18] cjcullen commented on #24224
@goblain: I'm not familiar with how this would work on flannel. Maybe @thockin knows more.

The problem I'm trying to fix is traffic from off-cluster. If we only DNAT (serviceIP->podIP), then the response to the client will come from the podIP, when it is expecting a response from serviceIP.

[2016-04-18 18:19] gmarek commented on #24415
Pretty much any failure: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/2964/artifacts/?project=kubernetes-jenkins

[2016-04-18 18:25] yujuhong opened #24417 "docker-proxy processes may or may not have been charged to the docker-daemon cgroup on containerVM"
Docker runs a userland proxy (`docker-proxy`) process for pods using host ports. E.g., one of the the add-on pods (`monitoring-influxdb-grafana`) uses host ports.

[code]

In the containerVM, kubelet moves the docker process to the docker-daemon cgroup. If the `docker-proxy` processes was created _before_ that, they wouldn't have been moved along with the docker daemon. This seems to be the case f

[2016-04-18 18:26] thockin commented on #24224
For flannel we need the bastion to be on the flannel network or to route
packets to a machine configured for bridging, which i think flannel does by
default.

On Mon, Apr 18, 2016 at 11:19 AM, CJ Cullen <notifications@github.com>
wrote:

[2016-04-18 18:26] spxtr commented on #24415
Ginkgo didn't actually run any tests on that run, so there aren't any test failures. For some reason that gets marked as a failure overall.

[2016-04-18 18:29] david-mcmahon commented on #24262
kubernetes-e2e-gce-serial hasn't passed in several days.  This is a gating job for this week's release.

[2016-04-18 18:29] dchen1107 commented on #24343
+1 on this as a long term goal.

But I don't think we are ready to do this, especially the top 4 areas listed above: Kubelet, Generic API infrastructure, Client libraries, and Misc. utilities. Taking Kubelet as an example, for a long term, I really want to run Kubelet as a standalone project, so that itself can be packaged as a product to manage a single KNode without API server. But to really ach

[2016-04-18 18:35] gmarek commented on #24415
If you look into test it failed. Maybe it's related to https://github.com/kubernetes/kubernetes/pull/21302

[2016-04-18 18:38] freehan commented on #24357
[code]

[2016-04-18 18:39] wojtek-t commented on #24408
@xiang90 - I'm going. But this issue is not about lock contention - especially for the first one there are no lock in between these 5ms. It has to be something different.

We would like to taget 100pods/s (not necessarily for 1.3, but we would like to go as high as possible).

[2016-04-18 18:39] bprashanth opened #24418 "Newrelic should work on GCE/GKE"
alanhartless [1:27 PM]

beeps [4:42 PM]

alanhartless [7:45 PM]

alanhartless [9:19 AM]

@kubernetes/sig-node to comment on "Google Container Engine's implementation of Docker", maybe there's an easy workaround?

[2016-04-18 18:41] andyzheng0831 commented on #24417
cc/ @andyzheng0831 @wonderfly

[2016-04-18 18:41] vishh commented on #24417
This is a known issue. Ideally, we should have our supervisord scripts setup cgroups for docker.

[2016-04-18 18:42] vishh commented on #24417
Why don't we fix the issue rather than hacking the test?

[2016-04-18 18:42] spxtr commented on #24415
Oh, for some reason ginkgo ran twice, and the second run skipped all tests and overwrote `junit_01.xml`.

[code]

[2016-04-18 18:44] vishh commented on #24418
kubelet manages cgroups independently of docker daemon. I will not recommend relying on cgroups API for monitoring kubelet managed pods/containers.

[2016-04-18 18:45] cdpb opened #24419 "kube-proxy nat strange behavior with v1.2.2"
Hi folks,

I am running a 3 node v1.2.2 kubernetes cluster on latest stable coreos 899.15.0.
I observe strange behavior regarding nat with hyperkube proxy v1.2.2.

Some traffic within a pod gets natted, the rest sends the flannel / docker bridge ip as source.

[code]

10.2.0.3 is the coreos host
172.16.100.3 is the container

Didn't change my service, rc, docker and iptables settings recently.

an

[2016-04-18 18:45] luxas commented on #4869
Kubernetes on ARM (https://github.com/luxas/kubernetes-on-arm) is using shared volumes, and heapster does collect stats for pods.
I think you should change `--source=kubernetes.summary_api:''` to `--source=kubernetes`.
Maybe it's summary api that isn't working?

[2016-04-18 18:46] ixdy commented on #24415
[This](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e-runner.sh#L340-L345) is why ginkgo runs twice:
[code]

[2016-04-18 18:47] ixdy commented on #24415
(We should just replace that with a call to `cluster/log-dump.sh`. I don't think it existed when this bit was originally written.)

[2016-04-18 18:47] freehan commented on #24357
FYI
Jenkins job: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-kubenet/335/

[2016-04-18 18:50] bprashanth commented on #24418
I think tools like newrelic expose container stats and expect to find them at a location that differs from the one on our GCE nodes, because of the reparenting. So IMO we should either:

1. Tell newrelic how to monitor pods instead
2. Tell people newrelic monitoring of containers just won't work
3. Provide some workaround so cpu.stats etc show up where the tools expect to find them

[2016-04-18 18:50] saad-ali commented on #21498
.

Thinking about this some more, the user **should not** specify the UID, and, in fact, if one is specified, it is ignored (thanks to @thockin for pointing that out). The existing code allows you to prebind a PV to PVC that doesn't exist yet by creating the PV with a claimRef including just the unique namespace/name. Then as long as a PVC with the same namespace/name is created pre-binding should

[2016-04-18 18:50] bprashanth commented on #24418
To me this is like saying ps and atop won't work because fedora decided to move /proc

[2016-04-18 18:51] ixdy commented on #24412
Yup, @spxtr is correct. Though `go-junit-report` is basically a ball of hacks and I wish go had a better way.

[2016-04-18 18:52] thockin commented on #24357
That iptables restore is 139 lines long, so it's unhappy about the last
line?  can you hunt ths?

On Mon, Apr 18, 2016 at 11:48 AM, Minhan Xia <notifications@github.com>
wrote:

[2016-04-18 18:53] spxtr commented on #24412
Related, and somewhat sad: https://github.com/golang/go/issues/2981

[2016-04-18 18:54] #24412 closed

[2016-04-18 18:55] erictune commented on #24412
cmd/integration does not have junit, but I don't want to encourage putting more tests in there.

[2016-04-18 18:56] bprashanth commented on #24357
The next sync is whenver the next service/endpoint changes right? Errors during the sync should cause an immediate retry of sync, preferably with backoff. If a service or endpoint never changes we should still recover.

line?  can you hunt ths?

Yes we should hunt down the bad line, but it's not the last one right? COMMIT will fail if eg:
[code]
Even though it's obviously not commit but the tcp/up

[2016-04-18 18:56] vishh commented on #24418
I don't get this. Kubelet intends to keep cgroups as an implementation detail. Components in kubernetes ecosystem should rely on stable APIs and not implementation details.

I'm happy to work with the NewRelic folks on getting their agent working on a kube cluster. Can you include/mention someone from their team in this issue?

[2016-04-18 18:57] xiang90 commented on #24408
@wojtek-t OK, great! for 100 pods/s rate, what kind of schedule load should we target at? the density test workload?

[2016-04-18 18:58] yujuhong commented on #24276
@roman-shuhov, the `mayday` tarball doesn't include information of memory usage per process, or kernel logs, so it doesn't seem that useful to me. I think it's necessary to nail down which process is using up all the memory though.

cc more folks @kubernetes/sig-node to see if anyone has better idea or more insights..

[2016-04-18 18:59] bprashanth commented on #24418
I can try and find out who'd be interested but it sounds like a stretch to expect everyone to reimplement to support kube, it's probably not just newrelic.

[2016-04-18 19:00] wojtek-t commented on #24408
@xiang90 - we can start with that. It's pretty simple, but it's a good starting point.

[2016-04-18 19:03] thockin commented on #24357
iptables resyncs every 30s, not ideal but in this case I don't expect that
to fix the error

I meant that we need to root cause it :)

On Mon, Apr 18, 2016 at 11:57 AM, Prashanth B <notifications@github.com>
wrote:

[2016-04-18 19:03] gmarek commented on #24415
Yeah - I guess it was just a hack to get logs uploaded.

[2016-04-18 19:05] dchen1107 commented on #24262
I took a quick look at failed builds of kubernetes-e2e-gce-serial this morning, and all are caused by this very test. I quickly checked why and noticed that most of them are failed due to fluentd.

23:12:53 Apr 17 23:12:53.746: INFO: fluentd-elasticsearch-jenkins-e2e-minion-8ukz started at <nil> (0 container statuses recorded)

[2016-04-18 19:09] #23728 closed

[2016-04-18 19:09] freehan commented on #24357
But in this case, iptables-restore is going to complain `line 1 failed`. Not line 2

[2016-04-18 19:16] rwillard commented on #23881
Pretty sure this was the daemonset that bugged out.

[code]

[2016-04-18 19:21] bprashanth commented on #24357
Hmm
[code]

[2016-04-18 19:22] ncdc commented on #13585
Here's my WIP: https://github.com/ncdc/kubernetes/pull/7

[2016-04-18 19:27] markturansky commented on #21498
@saad-ali I agree name/namespace is likely sufficient to pre-bind to a PVC.  The UID was added to solve a corner case, though.

Consider:

1. Create PV named "foo"
2. Create PVC named "bar" that matches "foo". Let it bind.
3. Delete the PVC.  Now we race.
3. Create a new PVC named "bar".

The volume should be released of its first claim.  Without the UID check, the PV can incorrectly bind to the 2

[2016-04-18 19:35] bgrant0607 opened #24420 "Improve default kubectl behavior when it doesn't know what cluster to talk to"
At minimum, we need to improve the error message:
`The connection to the server localhost:8080 was refused - did you specify the right host or port?`

We might also want to consider not using localhost as the default, though we want to keep it aligned with our single-node dev cluster plans. #24106

cc @kubernetes/kubectl @dlorenc @vishh

[2016-04-18 19:36] alanhartless commented on #24418
Here's the link to the New Relic forum conversation where the quote came. Should I cross link this issue there to see if they bite? https://discuss.newrelic.com/t/docker-metrics-not-report-correctly-for-google-container-engine/36127/7

[2016-04-18 19:41] vishh commented on #24418
Yeah. Cross-linking might help with making progress.

On Mon, Apr 18, 2016 at 12:37 PM, Alan Hartless <notifications@github.com>
wrote:

[2016-04-18 19:41] yujuhong commented on #24417
@vishh, what's the desired behavior -- `docker-proxy` be charged per pod or to the docker daemon? If it's the latter, the test has to accommodate the potentially higher usage and/or should not be run with addon pods. If it's the former, do you have any suggestions on how to fix it?

[2016-04-18 19:44] thockin commented on #21498
The UID is (will be) applied when the binding is actually made by the
controller.  The user is requesting a binding, but the controller needs to
ACK it.

On Mon, Apr 18, 2016 at 12:28 PM, Mark Turansky <notifications@github.com>
wrote:

[2016-04-18 19:46] thockin commented on #24357
I manually restored the 139 lines above it worked fine - no errors.  Even
more curious.

On Mon, Apr 18, 2016 at 12:22 PM, Prashanth B <notifications@github.com>
wrote:

[2016-04-18 19:47] luxas commented on #24420
I think it should default to `localhost`, but I agree the message could be way more user-friendly

[2016-04-18 19:51] thockin commented on #24419
Can you actually explain what the traffic is, and what you expected to
see?  It's a little hard to discern from a tcpdump snippet :)

Also your `iptables-save` would help

On Mon, Apr 18, 2016 at 11:46 AM, cdpb <notifications@github.com> wrote:

[2016-04-18 20:02] gtank commented on #24272
Resolved in my case by https://github.com/kubernetes/kubernetes/pull/24273.

[2016-04-18 20:02] vishh commented on #24417
Ideally our init service should move docker daemon. That is not a viable option on ContainerVM as of now.
For now, I'd say we should have the kubelet move the proxy process as well.

[2016-04-18 20:03] vishh commented on #24417
My desired policy would be to move the proxy to a pod/container level
cgroup. But that is not possible today.

[2016-04-18 20:10] philips commented on #18549
For people following along the discussion has moved to the PR: https://github.com/kubernetes/kubernetes/pull/23566

[2016-04-18 20:16] dchen1107 commented on #24388
Looks like your fsharp-service container has a crashloop, and its restart is throttled by Backoff. Can you check why your container is crashing? You can run command:

kubectl logs fsharp-service-7lrq8 --previous to retrieve the previous terminated container's log.

[2016-04-18 20:18] pwittrock opened #24422 "kubelet ssh / ginkgo exists 255 after successful tests"
The ssh command to run the ginkgo tests is failing with passing tests sometimes.

Command [ssh -i /home/jenkins/.ssh/google_compute_engine -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o CheckHostIP=no -o StrictHostKeyChecking=no tmp-node-e2e-1b6d7625-e2e-node-coreos-stable20160218-image -- sh -c 'cd /tmp/gcloud-e2e-1395811329 && tar -xzvf ./e2e_node_test.tar.gz && ./e2e_node.test --logto

[2016-04-18 20:20] #23918 closed

[2016-04-18 20:22] timothysc commented on #24348
This would be a long-term goal, which I'm hoping will be viable for 1.3.

[2016-04-18 20:24] timothysc commented on #23682
@yujuhong is there a bisected root to this flake?

[2016-04-18 20:27] pwittrock opened #24423 "kubelet test flake - coreos killed ssh connection mid test"
17:20:21 • [SLOW TEST:11.682 seconds]
17:20:21 PrivilegedPod
17:20:21 /var/lib/jenkins/workspace/kubelet-gce-e2e-ci/go/src/k8s.io/kubernetes/test/e2e_node/privileged_test.go:84
17:20:21   should test privileged pod
17:20:21   /var/lib/jenkins/workspace/kubelet-gce-e2e-ci/go/src/k8s.io/kubernetes/test/e2e_node/privileged_test.go:83
17:20:21 ------------------------------
17:20:21 I0418 00:19:33.350

[2016-04-18 20:32] goblain commented on #22698
@maclof : as far as I remember alternative routing tables do not get populated with routes based on local interfaces by default. Can you show / compare output of `ip ro show` and `ip ro show table 125` ? It's possible that packets that fall into your custom rule for 164.132.217.81 get DNATed but have no idea where they should actually hop to.

[2016-04-18 20:35] freehan commented on #24357
I also tried to execute the same sequence of iptables-restore. It worked. No errors.

[2016-04-18 20:37] maclof commented on #22698
@goblain thanks, here is the output of both commands:
[code]

[code]

[2016-04-18 20:39] nikhiljindal commented on #23497
I agree with https://github.com/kubernetes/kubernetes/pull/15908#issuecomment-149382483 comment by @jlowdermilk.
Users running kubectl rolling-update will expect that new containers will come up with the new image (which might not happen). We should first ensure that that happens and then we can allow this.

@srcspider If i understand correctly, you just want to restart your pods with the same ima

[2016-04-18 20:41] maisem commented on #24309
This seems to have broken backwards compat.
1.2.2 kubectl cannot validate responses from the server.
If you don't have the **labels** fields set, it works fine.

I0418 13:30:58.159142   18784 loader.go:229] Config loaded from file ~/.kube/config
I0418 13:30:58.266280   18784 round_trippers.go:264] GET https://<Redacted>/api
I0418 13:30:58.266303   18784 round_trippers.go:271] Request Headers:
I041

[2016-04-18 20:41] ericchiang commented on #23396
@erictune noticed in the #sig-auth channel that this is a _maybe_ for 1.3.

Is there active work for this issue and is the milestone correct? Would love to help out if it's just developer time blocking this.

[2016-04-18 20:41] thockin commented on #22698
It's REALLY hard to diagnose this remotely.  You're also a little beyond my
knowledge with policy routing.  My first question would how some of the
iptables logic responds to this config.  Specifically:

is this IP considered "local" ?  Is it considered "physdev-is-in" ?

Can you try something like:

[code]

On Mon, Apr 18, 2016 at 10:29 AM, Marc Lough <notifications@github.com>
wrote:

[2016-04-18 20:43] thockin commented on #24357
Was this a one-time thing?  Were there any other changes in your git repo?

On Mon, Apr 18, 2016 at 1:35 PM, Minhan Xia <notifications@github.com>
wrote:

[2016-04-18 20:44] pwittrock opened #24424 "./hack/build-go.sh can take 35 minutes on jenkins"
kubelet ci test hit 45 minute timeout of after spendint 35 minutes building the go binaries

[full log](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/1632)

[2016-04-18 20:51] maclof commented on #22698
@thockin unfortunately this is the way these IPs are routed with my hosting provider so that I can do IP failover. Here is the kern.log output when hitting that IP on port 80:
[code]

[2016-04-18 20:54] goblain commented on #22698
I'd start with adding appropriate routes to 125 table as now it simply has no idea how to handle traffic that it is supposed to handle. If I understood your setup well, something like :
[code]

[2016-04-18 20:56] nikhiljindal commented on #24309
Yes that should be fixed once we release 1.2.3 with https://github.com/kubernetes/kubernetes/pull/24104.
cc @roberthbailey

Do you want us to rollback the change on HEAD until 1.2.3 is rolled out?

[2016-04-18 20:59] thockin commented on #22698
That's what I expected.  Note the rule `-A KUBE-SERVICES -d
164.132.217.81/32 -p tcp -m comment --comment
"default/standard-sites-public: external IP" -m tcp --dport 80 -m physdev !
--physdev-is-in -m addrtype ! --src-type LOCAL -j KUBE-SVC-35S3EZIG46QF2FDR`

it explicitly checks for `! physdev-is-in`, but your setup considers
traffic to that IP to be `phsydev-is-in`, which means it will not be
co

[2016-04-18 21:01] davidopp commented on #2210
@mml isn't working on this.

[2016-04-18 21:02] lavalamp commented on #24375
Like Clayton, I *really* don't want to add a priority concept. Add more workers, or split resyncs into smaller batches.

[2016-04-18 21:03] freehan commented on #24357
This happened in kubenet suite. Only difference is `NETWORK_PROVIDER=kubenet`.

I looked at a few runs where `service nodeport` e2e failed. This happened 3-4 times over the whole test. But not consecutively. In the all-passed runs I saw, this never happened (Maybe I am lucky).

[2016-04-18 21:19] janetkuo commented on #22687
We also have a proposal for restructuring kubernetes docs. In the proposal we categorize concepts similar to your proposal, and we named "workloads" as "running workloads", "exposing workloads" as "discovering and load balancing", "config" as "configuring data".

Other categories include "obejct metadata" (label and selectors, annotations, namespaces, names), "infrastructure" (nodes, PV and PVC),

[2016-04-18 21:21] janetkuo commented on #22687
The naming of the categories is temporary now and should be either verb+ing or noun.

[2016-04-18 21:22] jayunit100 opened #24427 "Create logging soak"
Problem

Various logging frameworks and the ELK stack need to be rapidly validated for survivability over time.

Solution

Create an E2E that soaks the container-space with logs at a well defined rate, so users can verify that logging holds up to TB, PB, etc. scale.

cc @kubernetes/sig-scalability  @kubernetes/sig-testing  (@timothysc)

[2016-04-18 21:25] lavalamp commented on #24405
Note that we already have the storage override mechanism. Whatever you do should be a natural extension of that. @deads2k is refactoring that code at the moment so you might want to wait for his PR to merge first.

[2016-04-18 21:26] lavalamp commented on #24320
We should write an integration test to verify that 429 behavior works as expected if there's any question about this.

[2016-04-18 21:27] jayunit100 commented on #24427
This PR will reuse ` +func (f *Framework) CreateServiceWithPods(contPort int, svcPort int, appName string, podSpec func(n api.Node) api.PodSpec, count int) { ` from 22869.

[2016-04-18 21:28] maclof commented on #22698
@thockin I'm not really sure on other configurations to try, this seems to be the way my provider expects it to be setup. I can also set it up as follows:

[code]

[2016-04-18 21:36] maclof commented on #22698
@thockin I'd be more than happy to set this server up as a single node cluster and provide root access to it, it's currently unused due to this issue and I can easily format it after, if that helps? I'm pretty lost here and will eventually look at another provider if it isn't fixable (would rather not of course).

[2016-04-18 21:37] smarterclayton commented on #24420
An example of what we do in OpenShift: https://github.com/openshift/origin/blob/master/pkg/cmd/util/clientcmd/factory.go#L112

It belongs in the factory (since not all client tools will want / need that error) rather than in a more generic spot like cmdutil.CheckErr

[2016-04-18 21:43] thockin commented on #22698
I'd love to help you, it's personally interesting, but I can only spend a
little time on it today and not again until Wednesday, and then not for
much time.

If you email me at my google email (same names as github) I can send you a
key, or you can just enable password access and send me an IP and user/pass
(or call me if you prefer to not email a password :)

On Mon, Apr 18, 2016 at 2:37 PM, Marc

[2016-04-18 21:49] dchen1107 commented on #24265
We are introducing timeout to all docker related operations for 1.3 release, including PullImage. On another hand, we are talking to our image team, who is building Container Registry Mirror. Hope that integration will make image pulling performance much better and much predictable.

[2016-04-18 21:49] thockin commented on #24357
Of course...sigh

On Mon, Apr 18, 2016 at 2:04 PM, Minhan Xia <notifications@github.com>
wrote:

[2016-04-18 21:52] maclof commented on #22698
@thockin thank you, I really appreciate it. I will setup a test cluster on that server and send you the details. No problem on time frame you can take as long as you need with it.

[2016-04-18 21:57] yujuhong commented on #23682
@timothysc I have no idea whether this is still happening or not. #21954 may also be related, but it's even older.

[2016-04-18 22:00] yujuhong commented on #24417
Then the test still have to deal with the weird memory usage spike on one node, and I don't see why we can *just fix the issue* without touching the test.

On the other hand, why does monitoring-influxdb-grafana need to use host port? @vishh do you know if it's safe to remove that?

[2016-04-18 22:09] bgrant0607 commented on #24420
Ref #23726

[2016-04-18 22:11] bgrant0607 commented on #23726
@xificurC @jankoprowski Have you checked whether the apiserver is running?

Please take a look at our troubleshooting guide:
http://kubernetes.io/docs/troubleshooting/

If you still need help, please ask on stackoverflow.

[2016-04-18 22:11] #23726 closed

[2016-04-18 22:13] yifan-gu opened #24430 "rkt: Support dynamic pod."
Today, rkt's pod is immutable, which means once started, all the changes made to the pod or the containers within the pod will require the pod to be restarted.

As we are moving towards mutable pods in the future, rkt should support container level interfaces, which can also benefit us from making the container runtime interface more generic and runtime agnostic https://github.com/kubernetes/kuber

[2016-04-18 22:32] davidopp commented on #24317
Agree with @thockin , the solution here is the not-yet-implemented "opaque integer resource."

I'll add some comments to #19082, which was confusingly named and I've re-titled.

[2016-04-18 22:33] bgrant0607 commented on #22687
It's long, but "exposing workloads" is most commonly described as:
"Service Discovery & Load Balancing"

[2016-04-18 22:33] davidopp commented on #19082
ref/ #24317
ref/ https://github.com/kubernetes/kubernetes/issues/19049#issuecomment-170292193

[2016-04-18 22:35] vishh commented on #24417
It is safe to remove hostports from influxdb-grafana pod.

node, and I don't see why we can *just fix the issue* without touching the
test.

I see your point. What I meant was that we should not fix the test alone,
but also update kubelet to do what it can do reliably today.

[2016-04-18 22:40] timothysc commented on #24375
/cc @rrati

[2016-04-18 22:46] bgrant0607 commented on #22687
I'm not keen on the -ing convention.

Volume and Container are details of pods, not APIs unto themselves. Image and SecurityContext are details of a container. PodSecurityPolicy would be a policy object.

Scale and Binding are subresource APIs that won't appear in the UI, nor in user-facing docs. (They should be in developer-facing docs.) There may be a "scale" knob on some other resources, though

[2016-04-18 22:48] bgrant0607 commented on #22687
Maybe @erictune has a suggest about how to categorize ServiceAccount.

[2016-04-18 22:49] davidopp commented on #24317
@saad-ali Can you say more about "When a pod referencing a GCE PD is deleted the scheduler immediately discounts it even though the volume may still be attached to the node." ?

[2016-04-18 22:50] timothysc commented on #24375
In our experiments the re-list was unnecessary in *most* cases except restart, and watch failure.  @rrati is working on a patch to clean up and separate.

[2016-04-18 22:58] timothysc commented on #24405
@lavalamp do you have a PR for reference?

@hongchaodeng I would assume you would only need a single switch to kick a factory on key.  imo, we should mundge all other parameters to be equivalent, so consistency is maintainer.

[2016-04-18 23:02] hongchaodeng commented on #24405
@timothysc
Are you talking about server list. It wouldn't be hard to keep the same.

[2016-04-18 23:03] xiang90 commented on #24405
@hongchaodeng We can drop the http:// scheme in the lib and hide it from the user.

[2016-04-18 23:05] timothysc commented on #24405
@hongchaodeng yes.

[2016-04-18 23:09] bgrant0607 commented on #22687
@thockin says he prefers to think of PVC as storage, which would suggest Secret and ConfigMap would go into a separate Configuration category.

Or, maybe we could choose to not surface Secret and ConfigMap through the top-level menu. They are auxiliary resources.

[2016-04-18 23:10] bgrant0607 commented on #22687
We still need to put Secret and ConfigMap somewhere in docs, though.

[2016-04-18 23:12] lavalamp opened #24433 "Fighting controllers should not destabilize apiserver"
For example, if you start a deployment for a workload and have a preexisting replicationController using the same selector in the system, the controllers fight and generate enough traffic to cause apiserver to OOM.

Action items:
- Why does apiserver OOM as its failure mode?
- Should we catch & prevent this in admission?
- Should we catch & stop this post-hoc?
- ControllerRef might fix this. @gmar

[2016-04-18 23:16] davidopp commented on #19082
My suggestion is that the Kubelet config (eventually will be in ConfigMap -- hopefully soon) defines for each opaque resource
   1. a name (TODO: how to prevent conflicts)
   2. a mechanism to determine the capacity of the resource on that node (this is the tricky part -- we don't want Kubelet executing arbitrary shell commands specified by users)
   3. (eventually) a mechanism to determine the "u

[2016-04-18 23:22] erictune commented on #22687
These categories are pretty abstract, without any description how how they are used.

I think serviceAccount is both a description (like a label or name) and a kind of config (it is a collection of secrets).  I'd be fine with categorizing it as config.

[2016-04-18 23:22] saad-ali commented on #24317
When a pod is deleted, as far as the scheduler is concerned so are its resources (i.e. volumes). But the reality is that it takes some time after the controller is deleted for the volume to actually be detached from the node (basically the scheduler is inferring resource count in a roundabout way, existence of a pod object rather than the actual number of disks attached to a node, which means it c

[2016-04-18 23:25] vishh opened #24436 "Improve/fix kubelet perf dashboard"
http://perf-dash.k8s.io/ now includes kubelet cpu and memory usage distributions. This is great! Thanks @Random-Liu!
There are some issues with it and some enhancements that can be made to make the dashboard useful.
1. Cpu usage can be in cores instead of a percentage
2. The graph currently plots a distribution of average usage. Having at-least max in addition to average will be useful with making

[2016-04-18 23:26] erictune commented on #22687
Some upcoming objects and tentative categorization:

- ScheduledJob: creates jobs at a certain time.  Sort of a periodic replication controller, so call it Workload?
- Workflow: creates jobs one after another?  Workload?
- Authorization policy: (Roles, RoleBindings, ClusterRole and ClusterRoleBindings).  Policy.
- PodSecurityPolicy: duh, policy.
- JobTemplate: ?

[2016-04-18 23:36] davidopp commented on #24317
Thanks for the clarification. That's pretty unfortunate. Which component(s) know(s) when the PD has been successfully detached? If Kubelet, then we could have Kubelet report capacity and available (rather than just capacity), but this obviously makes things more complicated.

[2016-04-18 23:36] Random-Liu commented on #24436
It would be easy to update the perfdash if we have the data exposed in kubelet perf e2e test.

[2016-04-18 23:37] janetkuo commented on #24198
cc @AdoHe

[2016-04-18 23:42] yujuhong commented on #24417
Got it. I agree that we should fix the root cause regardless. @dchen1107 will probably know whether we're in the process of handling the root cause.

As far as the test goes, I'll try removing the host port usage from influxdb-granfana pod as the first step. #24437

[2016-04-18 23:43] yujuhong commented on #24436
Are these exposed via the kubelet summary metrics API? If so, we can add them to the test.

[2016-04-18 23:46] mwhooker commented on #20391
we're hitting this, too. Does anyone have a workaround? Tried `iptables -t nat -I FLANNEL -s 10.2.0.0/16 -d 10.2.0.0/16 -j MASQUERADE` without any luck.

I think we could get by setting `--proxy-mode=userspace`, but according to the invocation that's qualitatively worse than iptables

[2016-04-18 23:47] saad-ali commented on #24317
Yes at the moment kubelet should know. Once the attach/detach controller is complete, the new controller will. But the real source of truth would be the storage providers, which could be directly queried by any component to ask "is volume X attached to node A?", everything else is just inferring (i.e. I did an attach operation that succeeded, if so it should be in this state).

[2016-04-18 23:49] davidopp commented on #24317
For the first version of however we handle this, is it OK if the scheduler assigns the pod to the node even if insufficient PDs are available, and then the Kubelet waits to start the container until sufficient PDs are available? (On the assumption that scheduler would only do this when a pod was recently terminated, so the PD will be released shortly.) This would mean some containers would have to

[2016-04-18 23:51] #22028 closed

[2016-04-18 23:56] hongchaodeng commented on #24405
@lavalamp
IMO #23208 is orthogonal.
We will parse the flag and other config parameters when calling etcdConfig.NewStorage(), which is transparently done.

[2016-04-18 23:58] saad-ali commented on #24317
Yep, I think that would fine. The current code retries if attach fails (which it would if the node was overcommitted), and if all the attach retries fail, the pod creation loop retries the whole thing. Basically the pod sits in pending state until attach succeeds (not sure if there is an eventual timeout).

[2016-04-19 00:02] #24272 closed

[2016-04-19 00:10] nikhiljindal commented on #24233
Sent https://github.com/kubernetes/kubernetes/pull/24439 to fix this

[2016-04-19 00:14] yujuhong opened #24440 "RFC: Deprecate cmd/integration/integration.go"
The integration test is hard to debug -- it runs tests concurrently with interspersed logs. I doubt that it's catching any bug that neither unit test nor a e2e test can catch, and both unit and e2e tests are easier to debug.
I'd vote for deprecating this file and remove/move all the tests. Any objections?

Here is a list of tests that it curretnly runs:
https://github.com/kubernetes/kubernetes/blo

[2016-04-19 00:35] bgrant0607 commented on #16938
@johndmulhausen Is this done?

[2016-04-19 00:40] colhom commented on #21582
@bgrant0607 I have put together a [document]( https://github.com/colhom/coreos-docs/blob/cluster-dump-restore/kubernetes/cluster-dump-restore.md) which describes how we're migrating deployments today across clusters using `bash` and `jq`.

I'm hoping that this functionality can eventually be implemented in `kubectl` somehow. It would be really nice from an operators standpoint to be able to dump a

[2016-04-19 01:04] janetkuo commented on #24424
+1

[2016-04-19 01:06] janetkuo commented on #24424
Ref #24285

[2016-04-19 01:27] smarterclayton opened #24441 "No e2e or integration tests for third party watch"
We had a bug introduced by streaming serialization and we didn't catch it in tests.

[2016-04-19 01:27] smarterclayton commented on #24441
@kubernetes/sig-api-machinery not sure who is tracking third party resource completion right now.

[2016-04-19 01:30] saad-ali commented on #20262
We'll handle it separately from this design (See https://github.com/kubernetes/kubernetes/issues/24317).

Summarizing the discussion @thockin and I had offline:

This was an optional part of the design: "To prevent this cached state of the world (which volumes are attached to which nodes) from becoming stale or out-of-sync with the true state of the world, the controller could, optionally, periodi

[2016-04-19 01:37] #24400 closed

[2016-04-19 01:55] yujuhong opened #24444 "Need tests for PostStart lifecycle hooks"
There are e2e tests for PreStop hooks, but no tests at all for PostStart hooks. We should add one to the node e2e suite.

By the way, there are also no examples using PostStart hooks.

[2016-04-19 02:00] zhouhaibing089 commented on #23497
@nikhiljindal I am thinking what @srcspider want is to use the same tagged image(the image may still be different).

we could guarantee by setting imagePullPolicy accordingly.

[2016-04-19 03:02] bgrant0607 commented on #24433
controllerRef should fix this.

[2016-04-19 03:02] bgrant0607 commented on #24433
Ref #14961, #2210

[2016-04-19 03:05] bgrant0607 commented on #24433
I assume the replica counts of the fighting controllers must have been different.

Re. OOM, my wild guess would be events.

[2016-04-19 03:07] bgrant0607 commented on #24401
cc @kubernetes/sig-aws

[2016-04-19 03:10] bgrant0607 commented on #24373
cc @kubernetes/docs

[2016-04-19 03:10] bgrant0607 commented on #24373
Result of the doc move.

[2016-04-19 03:11] bgrant0607 commented on #24383
cc @kubernetes/docs

[2016-04-19 03:11] bgrant0607 commented on #24383
We should remove this link from the main repo.

[2016-04-19 03:12] bgrant0607 commented on #24380
cc @caesarxuchao @lavalamp

[2016-04-19 03:13] bgrant0607 commented on #24353
@mikedanese @madhusudancs

[2016-04-19 03:14] bgrant0607 commented on #24353
This sounds like a bug that has been fixed -- filtering out terminated pods.

[2016-04-19 03:21] bgrant0607 commented on #24350
cc @kubernetes/sig-network

[2016-04-19 03:21] caesarxuchao commented on #24380
@polvi, thanks for reporting the problem. I think https://github.com/kubernetes/kubernetes/pull/24006 should fix this, could you update your API server?

[2016-04-19 03:23] bgrant0607 commented on #24314
cc @jayunit100

[2016-04-19 03:24] bprashanth commented on #24350
Usual suspects are https://github.com/kubernetes/kubernetes/issues/20391,  https://github.com/kubernetes/kubernetes/issues/20475#issuecomment-203516597 and https://github.com/kubernetes/kubernetes/issues/20475#issuecomment-203521719

Can you report that information?

[2016-04-19 03:25] bgrant0607 commented on #24290
cc @kubernetes/examples

[2016-04-19 03:27] bgrant0607 commented on #24259
cc @derekwaynecarr @dlorenc @vishh

[2016-04-19 03:29] bgrant0607 commented on #24259
@mikebrow Did you see the "This file has moved to..." message?

[2016-04-19 03:34] k82 commented on #24314
@bgrant0607 / @jayunit100 , I can continue to work on this one :).

[2016-04-19 03:36] bgrant0607 commented on #24225
Related #8884

[2016-04-19 03:42] thockin commented on #20391
Can flannel maybe ONLY install this rule if the policy for POSTROUTING is DROP ?  @steveej what do you think?  We need to coordinate a bit...

[2016-04-19 03:47] bgrant0607 commented on #24152
See also #24433, #2210.

My guess is that this is due to pod relabeling.

cc @janetkuo

[2016-04-19 03:49] matthewrudy opened #24446 "Support AWS ap-northeast-2 (Seoul,Korea)"
The new AWS region for Seoul, Korea (ap-northeast-2)
was launched in January 2016
https://aws.amazon.com/blogs/aws/now-open-aws-asia-pacific-seoul-region/

But it requires a few changes.

In particular `isRegionValid` returns an error

https://github.com/kubernetes/kubernetes/blob/5abbc24a868b392dfe3dc8be02fe070435f5a462/pkg/cloudprovider/providers/aws/aws.go#L568-L588

But also, the default `MAST

[2016-04-19 03:53] bgrant0607 commented on #24130
There's a bounty on diagrams: https://github.com/kubernetes/kubernetes.github.io/issues/84

[2016-04-19 03:56] thockin commented on #23651
I think `expose svc` would be inconsistent and special if it meant anything but what it does.

`replace` is a full replacement and always has been.  As weird as it feels, it doesn't work for Services.  I argued that we should handle it specially, Brian feels differently and I don't feel strongly enough to argue it further.

[2016-04-19 03:59] thockin commented on #23781
Dup of #22212

[2016-04-19 03:59] #23781 closed

[2016-04-19 04:00] bgrant0607 commented on #24083
Dupe of lots of issues.

[2016-04-19 04:00] #24083 closed

[2016-04-19 04:06] bgrant0607 commented on #24078
cc @smarterclayton @lavalamp

[2016-04-19 04:07] bgrant0607 commented on #24078
@bprashanth @zhouhaibing089 @luxas @therc What is the scenario you're trying to simplify? You often need to use resources from multiple namespaces on the same command line?

[2016-04-19 04:07] bgrant0607 commented on #24078
cc @kubernetes/kubectl

[2016-04-19 04:08] thockin commented on #17557
I don't understand this.  If you just `make clean all` does it build?

[2016-04-19 04:11] thockin commented on #3920
I really don't think this is something kubectl can do for people - pathologically, kubelet and apiserver may be running in containers, so even doing SSH over our API probably won't land you on a real node.

[2016-04-19 04:11] #3920 closed

[2016-04-19 04:17] #8042 closed

[2016-04-19 04:17] thockin commented on #8042
You should not need the master URL flag unless service accounts are not
configured.

https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-117267504

On Tue, Mar 29, 2016 at 12:28 AM, liuyue2656 <notifications@github.com>
wrote:

[2016-04-19 04:19] nikhiljindal commented on #23361
Flaked again in https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23959/kubernetes-pull-test-unit-integration/21778/

[2016-04-19 04:24] a-robinson opened #24447 "GCE PDs aren't labeled by zone and can't be deleted in ubernetes lite"
The "DynamicProvisioner should create and delete persistent volumes" test is failing because the volume is being provisioned in a different zone than the node that the pod is being placed onto. Attempting to mount the disk on the pod's node fails with:
[code]

It's a known issue that dynamically provisioned PVs are created in the master's zone (#23330), but unexpected that the pod created with the

[2016-04-19 04:30] smarterclayton commented on #24078
ns:name is not a valid name for namespaces and our core resources, but it can be a valid name for extension resources in the Kube ecosystem, like users, roles, authorizations.  We'd have to add more slashes

[2016-04-19 04:32] matthewrudy commented on #24446
ok, so I think that line is no longer used by default, so ignore me

;)

[2016-04-19 04:36] saad-ali commented on #21931
Summarizing offline discussions:

Same issue as the previous item, updated and added.

The key words here are "as long as it doesn’t violate volume plugin’s AccessModes policy". Which means we won't have to do anything special for it. Basically a partition will be treated the same as a volume. For example, if pod A and pod B reference two different partitions on the same volume, if the pods are sc

[2016-04-19 04:44] bgrant0607 commented on #24037
@andrejvanderzee The message indicates you are using the wrong API version. DaemonSet is in extensions/v1beta1. It is enabled by default in 1.2.x, so that's not the problem.

[2016-04-19 04:44] #24037 closed

[2016-04-19 04:46] saad-ali commented on #21931
Only if your in-memory cache identifies the RO RW requests for the volume as two different things (which if it does, you'll want to persist it to disk to handle crashes). If you don't differentiate between the two modes, consider the rapid delete recreate scenario: Volume X is mounted in RW gets deleted and immediately recreated as RO. If the logic does not differentiating between the two, it just

[2016-04-19 04:47] michmike commented on #22623
hi everyone, members from Apprenda and Red Hat have created the first version of a technical investigations document on how to bring the kubelet to Windows.
Comments and feedback is welcome from everyone (everyone has the ability to add comments) - if you want edit/write access, let me know through the Slack messaging system.

https://docs.google.com/document/d/1qhbxqkKBF8ycbXQgXlwMJs7QBReiSxp_Pds

[2016-04-19 04:47] bgrant0607 commented on #23993
Some of these retries may be in the client library.

[2016-04-19 04:53] saad-ali commented on #24447
The PD does not appear to getting zone labels (`failure-domain.beta.kubernetes.io/zone`, etc.) applied to it. Description field from a GCE PD provisioned by the test:
[code]

CC @justinsb

[2016-04-19 04:57] justinsb commented on #24401
kube-up is not perfect, but it actually works very well in practice, mostly because of the restriction of installing by default to a new VPC.  kube-down also works very well because it only deletes tagged resources.  Honestly kube-up's biggest problem is probably a PR problem, and I spend a lot more time helping people troubleshoot clusters installed with something other than kube-up than I do whe

[2016-04-19 05:16] a-robinson commented on #24447
The controller-manager failed to uniquely find the disk:

[code]

It *might* be because there are a ton of leaked disks around in the project. I'll delete them, but @saad-ali is there an existing issue around PD leaks from this test?

[2016-04-19 05:19] a-robinson commented on #24447
Ah, the leak is caused by the same underlying issue -- `getDiskByNameUnknownZone` thinking that it's finding the disk in multiple zones. So the issue is why `getDiskByNameUnknownZone` is finding it in multiple zones.

[2016-04-19 05:22] brendandburns opened #24449 "Require all PRs that add YAML/JSON to also update examples_test.go"
#16014 added a YAML example of a `DaemonSet` (which happens to be the top result when you search 'kubernetes daemonset example'  that has a syntax error in it.

Normally, our test infrastructure should catch this sort of thing, but it only works if people update examples_test.go.

We should require that for all PRs (and add a munge-bot to ensure this is true)

[2016-04-19 05:27] nikhiljindal opened #24450 "Unused apiserver param: MasterServiceNamespace"
Defined at https://github.com/kubernetes/kubernetes/blob/62fd60565a4bcc9afed79bc5384f1cd54125aa39/cmd/kube-apiserver/app/options/options.go#L70.

Doesnt seem to be used anywhere.

cc @deads2k @smarterclayton Does redhat use it?

Or can we delete it?
cc @kubernetes/sig-api-machinery

[2016-04-19 05:30] andrejvanderzee commented on #24037
@bgrant0607 That is what I expected too, but it is not enabled by default in V1.2.2:

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.2", GitCommit:"528f879e7d3790ea4287687ef0ab3f2a01cc2718", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.2", GitCommit:"528f879e7d3790ea4287687ef0ab3f2a01cc2718", GitTreeState:"clean"}

[2016-04-19 05:31] smarterclayton commented on #24450
We put it in to allow folks to to change which namespace we created
"kubernetes" in (and there was corresponding kubelet flag).  Some folks
hardcoded "kubernetes.default" and that's where we are today.

I think we want to move "kubernetes" to "kube-system" (or someplace
similar) as "api" over the long term, but that has migration / back compat
implications.

On Tue, Apr 19, 2016 at 1:27 AM, Nikhil

[2016-04-19 05:32] smarterclayton commented on #24450
We don't change it today in OpenShift, so the disposition probably rests as
a general "kube ecosystem migration" issues.

The use of "default" is a depressing reminder we should have been more
careful about names :)

On Tue, Apr 19, 2016 at 1:31 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-04-19 05:34] smarterclayton commented on #23993
I would be ok with transport request level retries (we do special handling
of certain classes already, and the client library in Go is better at
distinguishing those now).

On Tue, Apr 19, 2016 at 12:48 AM, Brian Grant <notifications@github.com>
wrote:

[2016-04-19 05:40] a-robinson commented on #24447
And there it is: [gce.findDiskByName returns (nil, nil) if the disk is not found](https://github.com/kubernetes/kubernetes/blob/7436fc6261968443f6e86069bb86934b7b8b1343/pkg/cloudprovider/providers/gce/gce.go#L2217), but [gce.getDiskByNameUnknownZone considers the disk to be found if the error returned by gce.FindDiskByName is nil](https://github.com/kubernetes/kubernetes/blob/7436fc6261968443f6e86

[2016-04-19 05:41] andrejvanderzee commented on #24037
@bgrant0607 This is what CentOS Atmoic Host offers via the apiserver:

[centos@love-master-01 ~]$ curl localhost:8080/
{
  "paths": [
    "/api",
    "/api/v1",
    "/apis",
    "/healthz",
    "/healthz/ping",
    "/logs/",
    "/metrics",
    "/resetMetrics",
    "/swaggerapi/",
    "/version"
  ]
}

Are there any plans to move the DaemonSets out of the extensions into groupVersion v1?

[2016-04-19 05:41] bprashanth opened #24451 "Node e2e logs confusing error messages"
Clarity problem at best, though I'm actually not sure why this run failed:
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24315/node-pull-build-e2e-test/2037/build-log.txt

Is it because we failed to stop apiserver, failed to stop kubelet, RTNETLINK exited with 2 or we got an empty map? Every status on that page has `0 Failed`, so maybe build timeout?

[code]

[2016-04-19 05:45] a-robinson commented on #24447
I'm not sure how this test has been passing for the ubernetes-lite on GCE test suite so consistently, given that the same issue would appear at first glance to apply there as well.

[2016-04-19 05:50] a-robinson commented on #24447
Ah, it's one hell of a coincidence that it's been passing for the ubernetes-lite suite, but it does make sense.

It looks like GCE always returns the list of zones in a consistent order; this one, to be precise:

[code]

The disk gets successfully found in the ubernetes-lite suite because the `found = disk` assignment in gce.getDiskByNameUnknownZone is harmless for the first three zones, because d

[2016-04-19 06:02] mikedanese opened #24453 "Flake in ./hack/test-cmd.sh, too few cassandra labels"
[code]
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/11039/

[2016-04-19 06:13] bgrant0607 commented on #24037
@andrejvanderzee DaemonSet is going to be in extensions/v1beta1 for at least 1.2 and 1.3.

What is the problem? The output you show confirms that DaemonSet is present and enabled.

[2016-04-19 06:22] wojtek-t commented on #24433
Regarding OOM - is it really apiserver OOMing or is it possible that etcd is OOMing?
If this is etcd, I agree those may be events, if this is apiserver, events shouldn't matter.

[2016-04-19 06:23] bryk commented on #22687
@janetkuo

Is it on GitHub somewhere? From what you've described, it looks like very similar to what we've proposed here, so we could merge them.

[2016-04-19 06:27] bryk commented on #22687
@janetkuo

I think this is what we've decided in the UI team talks, but decided that those objects do not deserve separate menu items or global listing. They are just properties of a pod/container/controller. CC @maciaszczykm

[2016-04-19 06:31] wojtek-t commented on #24375
Agree with the above posts. I don't think priority concept is necessary - we can workaround it in other ways (e.g. what @smarterclayton described above).

And note that we will be removing periodic relists - it should happen soon and will help a lot with that too.

[2016-04-19 06:32] andrejvanderzee commented on #24037
@bgrant0607 On CentOS Atomic Host the /apis/extensions endpoint is removed, like shown in my comment above, so we are unfortunately unable to use it (for at least 1.2 and 1.3).

[2016-04-19 06:34] a-robinson commented on #24433
The kube-apiserver process was using 12GB of resident memory (according to
top) when I looked at it.

[2016-04-19 06:43] martinmjk commented on #16836
Hi ,

I am also struggling to get skydns working. It doesn't  resolve the domian name kubernetes.default
Follwoing is the error log from kube2ksy and skydns containers. Please help.
[root@rptltckm05 ~]# kubectl log kube-dns-v11-yzd4i kube2sky --namespace=kube-system
I0418 14:36:11.111696       1 kube2sky.go:462] Etcd server found: http://127.0.0.1:4001
I0418 14:36:12.114112       1 kube2sky.go:529

[2016-04-19 06:44] fejta commented on #24285
The timeout is too aggressive:

http://kubekins.dls.corp.google.com/job/kubernetes-test-go/buildTimeTrend shows a passing run in 75 minutes (11026) and the average passing run time is in the mid 50m. We need at least a 100m timeout (2x average 50m runtime) rather than 80.

Or to put it another way: in order to run this job reliably I want the timeout to be twice the average runtime, rather than a

[2016-04-19 06:47] bgrant0607 commented on #24037
@andrejvanderzee I suggest asking on stackoverflow.

[2016-04-19 07:05] microadam commented on #23920
@thockin sorry, I am not familiar with underlay networking (or GCE for that matter). It it a GCE specific thing? I can't see anything about underlaying networking in the k8s documentation.

With regards to docker inspect. The output of the networking section is as follows:
[code]
 Would I be right in assuming that I should be seeing port 80 in the "Ports" property that is currently null?

Thanks f

[2016-04-19 07:10] tobad357 commented on #21306
@saad-ali do you have any preference for the following change
It is quite crucial for us to prevent our pods to go down if the primary portal ip becomes unavailable so I would like to work on this asap

[2016-04-19 07:13] fgrzadkowski commented on #4869
@luxas I'd be surprised if one API works and the other doesn't as they are using exactly the same solution underneath. @timstclair

[2016-04-19 07:19] bryk commented on #22687
@janetkuo

1. "Object metadata": this is a category we omitted, because it is little useful from the UI perspective. In docs, it is needed though, so I agree we need it.
1. Namespaces in "Object metadata": why namespaces are here? We've put it in the "Cluster" category, since this is a global resource that you can do CRUD on.
1. "Infrastructure": how about having Nodes, PVCs here? And possibly nam

[2016-04-19 07:20] spxtr commented on #24285
@fejta I'm wary of a 100 minute timeout. Last time this came up the job was taking ~35 minutes (#23127) so an 80 minute timeout was fine. Some time last week it started taking 60-80 minutes and occasionally timing out. I'd like to know why. In the meantime, to fix the submit queue lets bump the timeout.

I'm also starting to think we should run verify-*.sh, unit/integration tests, and test-cmd.sh

[2016-04-19 07:21] hongchaodeng commented on #24405
Submitted a POC in #24455

[2016-04-19 07:21] #24326 closed

[2016-04-19 07:38] maciaszczykm commented on #22687
@bryk Yes, it's true. We decided to put links to/information about some of the objects into details pages of another objects. We can access image details from controller page, but we do not list all images in the cluster and do not want to create separate menu entry for them.

[2016-04-19 07:43] bryk commented on #22687
@bgrant0607

Yeah, makes sense. We've been thinking similar.

Agreed. I think we should move Volume/Container/Image/SContext to categories of their owner objects.

I like the grouping you propose, but I'm not fully satisfied with the name. "Storage" is bad for secrets and config maps, "Data" is acceptable, but generic enough to mean anything. We'll brainstorm in the UI team about other proposals.

[2016-04-19 07:44] janetkuo commented on #22687
@bryk the docs structure proposal is in Google Docs and I've cc'ed you. That was written before this UI proposal so the categories are different as expected, for example:

This is because we don't have "Cluster" category in docs. I plan to have the same categories in docs concept and UI (once we have a consensus). I like "Cluster"; I'll change "Infrastructure" to "Cluster" and have Nodes and names

[2016-04-19 07:49] maciaszczykm commented on #22687
1. Namespaces in "Object metadata": why namespaces are here? We've put it in the "Cluster" category, since this is a global resource that you can do CRUD on.
1. "Infrastructure": how about having Nodes, PVCs here? And possibly namespaces, if we change the name? Move PV to, tentatively, "storage"

1. Documentation is needed for "object metadata", but in my opinion we should avoid displaying it in t

[2016-04-19 08:21] matthewrudy commented on #24446
I ran into another issue, as AWS KR doesn't have any m3 instances

so you need to set

[code]

[2016-04-19 09:10] matthewrudy commented on #24446
Getting an error on the master server now

[code]

[2016-04-19 09:27] aknuds1 opened #24462 "Link to L7 load balancer controller dead in GLBC addon README"
The [GLBC cluster addon README](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-loadbalancing/glbc) has [a dead link](https://github.com/kubernetes/contrib/tree/master/Ingress/controllers/gce) to the Google L7 load balancer controller.

[2016-04-19 09:42] batikanu commented on #4869
I'm using this https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/standalone
I removed http part of the parameter like --source=kubernetes still doesn't work with shared volumes but works with --containerized. I can only see cluster metrics but not for pods. If it is the api , then I shouldn't see any metrics at all right? Perhaps, kubelet just doesn't receive or send  pod metri

[2016-04-19 10:03] matthewrudy commented on #24446
I tried to fix this with my PR.
https://github.com/kubernetes/kubernetes/pull/24464

[2016-04-19 10:37] maciaszczykm commented on #22687
So, let's assume that we'll have following categories in the dashboard:

- __Cluster__ - node, namespace and persistent volume.
- __Workloads__ - pod, replica set, replication controller, job, deployment, daemon set, pet set, _workflow_ and _scheduled job_.
- __Service discovery and load balancing__ - service and ingress.
- __Data__ - persistent volume claim, secret and config map.
- __Policies__

[2016-04-19 10:40] dalanlan commented on #3760
This could be way too naive, yet I was wondering what's the difference between userspace mode and iptables? I cannot really tell from the [user doc](http://kubernetes.io/docs/user-guide/services/).

[2016-04-19 10:51] bryk commented on #22687
@maciaszczykm

There's many stakeholders in this conversation, so I expect we'll be making changes to our initial proposal to come with something that is widely accepted.

CC @jwforres

[2016-04-19 10:53] arjunm183 commented on #24241
Hello Team,

I am unable to reach find anything in stackoverflow. As per your last update i am able to pull the image from gce named pause. and now i am getting a new error.

 34m           14s             159     {kubelet <ip address>}                 Warning         FailedSync              Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "runContainer: AP

[2016-04-19 11:17] maciaszczykm commented on #22687
@bryk Of course, I rather wanted to ask if it's okay for you and for rest of stakeholders.

[2016-04-19 11:23] MikaelCluseau commented on #3760
Userland mode means kube-proxy handles the connections itself by receiving the connection request from the client and opening a socket to the server, which (1) consume much more CPU and memory and (2) is limited to the number of ports a single can open (<65k). The iptables mode works at a lower level, in the kernel, and uses connection tracking instead, so it's much lighter and handles a lot more

[2016-04-19 11:29] wojtek-t commented on #24433
This is strange - we are not caching events in apiserver, so it shouldn't be a result of events.

Also, we have QPS limits for controllers currently set to 20, which means that a controller cannot send more than 20 updates per second. That said, if we have two controllers fighting, there shouldn't be more than 40 updates (pod creation/update/deletes) per second, which we should be able to easily h

[2016-04-19 11:50] dalanlan commented on #3760
@MikaelCluseau
meaning kube-proxy is only responsible for setting up and maintaining iptables and we no longer get a random local port for each service in iptables mode, right?

[2016-04-19 11:56] fabxc commented on #18372
Do I see it correctly that there's currently no way to check whether/when a configmap volume update happened?
It's great that the configmap volumes resfresh. But it seems difficult to make reliable use of it right now aside from manually and periodically sending SIGHUP as the refreshing takes some time to propagate.

@erictune's suggestion seems very reasonable from my perspective. How's the gener

[2016-04-19 11:56] deads2k commented on #24078
Attaching the namespace to the "name" part won't work well because then you have to chose whether `kubectl get resource/token` is "list all resources in namespace token" or "get the resource named token in the current namespace".  To allow both cases, you must attach the information as a discretely tokenized part or as part of the "resource" part.

I think that `kubectl get resource.group:namespac

[2016-04-19 12:00] mikebrow commented on #24259
@bgrant0607 Yes, I did.  Both versions of the vagrant doc that are in the kubernetes fork point to the new location. That's not the issue.  There are currently three different versions of vagrant.md. (1) Two of the three different versions are in the kubernetes fork.  getting-started-guides/vagrant.md is empty pointing to it's new location (good)...  devel/developer-guides/vagrant.md is not empty,

[2016-04-19 12:06] srcspider commented on #23497
From reading the comment linked by @nikhiljindal if I'm understanding correctly is the restriction meant to prevent misuse of the special `:latest` tag? (for the record I've never used that one) Personally I have all images assigned actual exact versions, and rc tags. So if I'm deploying 1.2.3-rc7 it's pretty cut and dry. There is only ever one 1.2.3-rc7. The QA servers also just get the 1.2.3-rc7

[2016-04-19 12:57] mikebrow commented on #24259
NVM... I just saw that Vish recently deleted vagrant.md (the latest version of the doc) from the kubernetes.github.io/docs/getting-started-guides directory.  https://github.com/kubernetes/kubernetes.github.io/pull/294

Closing this issue.

[2016-04-19 12:57] #24259 closed

[2016-04-19 13:00] MikaelCluseau commented on #3760
On 04/19/2016 10:51 PM, Emma He wrote:

Yes.

[2016-04-19 13:03] wojtek-t commented on #24408
@xiang90 - after some fixes:
https://github.com/kubernetes/kubernetes/pull/24466

I'm trying to understand why the throughput is so different than on real cluster there.

One difference is that there are no ReplicationControllers there (in real density tests we have) - I will fix that. But it seems there are other differences too, that I'm trying to understand.

[2016-04-19 13:28] ncdc commented on #24450
We're looking to add a similar flag to the controller manager: https://github.com/kubernetes/kubernetes/pull/20975/files#diff-7a68ae865340a73c760157dcc8f31bc0R152

[2016-04-19 13:29] gmarek opened #24467 "CIDR management and Node health monitoring should be done by separate controllers"
Currently those two, completely independent things are done by the NodeController.

cc @kubernetes/goog-control-plane

[2016-04-19 14:11] ArtfulCoder commented on #16836
Can you resolve the fully qualified name ?
kubernetes.default.svc.cluster.local.

Sent from my iPhone

[2016-04-19 14:20] surajssd commented on #24383
@idvoretskyi should I create a parallel issue closing this?

[2016-04-19 14:27] xiang90 commented on #24408
@wojtek-t There is no spreading if I remember correctly.

[2016-04-19 14:29] owenhaynes opened #24469 "Load Balanced NFS Volume"
At the moment the NFS Volume only take a single IP as the NFS server, this does not play well with systems such as Avere which acts as a cache on top of NFS, and multiple servers addresses are offered.

Maybe something similar should be done to the NFS volume like we have on the Glusterfs volume, and use endpoints to locate the NFS server address from a pool?

[2016-04-19 14:30] roberthbailey commented on #24200
@jgraettinger -- @gmarek is looking into them.

[2016-04-19 14:30] wojtek-t commented on #24408
I checked it - there is spreading, but if there aren't any RCs and Services, it just immediately exists.

[2016-04-19 14:31] xiang90 commented on #24408
@wojtek-t You are more accurate. Sorry for the confusion.

[2016-04-19 14:32] wojtek-t commented on #24408
That said - it has no effect. So what we should do is to actually add RC to the test. I will add it tomorrow, potentially with other fixes when I find something (I mean there has to be something, because there is 35 vs 120 throughput difference :P)

[2016-04-19 14:33] xiang90 commented on #24408
@wojtek-t How did you get the 35? Density test without any rate limiting?

[2016-04-19 14:38] wojtek-t commented on #24408
@xiang90 - see the beginning of my first post:
https://github.com/kubernetes/kubernetes/issues/24408#issue-149197044

It is something between 35 and 40 at the beginning. But it's 3-4x smaller than what we get from benchmark. we would like to have this roughly equal to make the benchmark representative.

[2016-04-19 14:39] xiang90 commented on #24408
@wojtek-t From our kubemark result, currently the bottleneck is not scheduling for default setting. The scheduling rate matches the creating rate and there is almost no waiting pods. So we need to create faster.

https://00e9e64bacbe98e31d883d9617394a6b645bb38bc598d956c1-apidata.googleusercontent.com/download/storage/v1_internal/b/metrics-kscale/o/results%2F2016-04-19%2Fkubemark%2Fdensity-test-1kn

[2016-04-19 14:39] xiang90 commented on #24408
@wojtek-t This is when scheduling is the bottleneck: https://coreos.com/assets/images/media/scale-02.png

[2016-04-19 14:42] wojtek-t commented on #24408
@xiang90 - yes that's correct. And I would like to increase QPS limits in replication controller as soon as we have support for protobufs. And then it would become a problem.
So yes - it's solving the problem that is not yet uncovered in our tests :)

[2016-04-19 14:43] wojtek-t commented on #24408
@xiang90 - so yes, you are right. It's not an issue for now in 1000-node cluster, but it's getting worse also if we increase the number of nodes.

[2016-04-19 14:47] xiang90 commented on #24408
@wojtek-t

I agree.

I was trying to think of the reason for the difference you saw in the benchmark and kubemark density test.

For the benchmark test, I "feel" we should make it 200 pods/second sustainably to achieve 100 pods/second actual rate to be safe. And I think there is still a lot of improvement space. The scheduler cannot use all the CPU resource as you observed (actually not even close

[2016-04-19 14:54] jayunit100 opened #24471 "Add --verbose option to test/e2e/"
_Problem_
There are a few issues in the e2e tests which are very verbose at +10 node scale.  This can make it hard to interpret and read through the results of a test run, esp. when there are multiple failures.  The two things i've seen in the past.
- hanging at large scale.
- (failures) dumping all data for 100s of nodes to stdout.

_Proposed Solution (4/18/2016)_

When developing e2es at small (

[2016-04-19 14:57] justinsb opened #24472 "AWS: Support spot fleet"
It would be nice to support Spot Fleet on AWS, for the nodes.  The challenge is that Spot Fleet does not support tags (AFAIK), and we rely on our nodes being tagged in the k8s AWS cloudprovider.

[2016-04-19 15:02] derekwaynecarr opened #24473 "hack/update-codecgen.sh is creating codecs that fail verification"
As an example, see the change in the following PR:

https://github.com/kubernetes/kubernetes/pull/24347#issuecomment-211959855

/cc @kubernetes/rh-cluster-infra @kubernetes/sig-api-machinery

[2016-04-19 15:08] gmarek commented on #24200
From controller-manager logs:
- Incident started around 2016-04-12T02:10 when NodeController started noticing that it don't see updates on Node heartbeats. It correctly waited until 02:15 before doing anything
- at 02:15 it started evicting Pods from Nodes giving them grace period as promised
- shortly after ReplicationController started noticing that some RCs lacks a number of replicas and create

[2016-04-19 15:11] gmarek commented on #24200
For DaemonSet I believe @mikedanese should be able to explain why they survived.

[2016-04-19 15:14] mikedanese commented on #24200
Daemonsets are not evictable by the node controller. That's by design.

[2016-04-19 15:19] innovia commented on #24472
Here's a working solution for SPOT Fleet:

1) create an IAM role for the spot fleet
[code]

2) place everything below (except the deploy.js) in a folder called k8-minion-spot

3) Create the base config for your fleet (with the role arn)
[code]

4) set the launch config specification as follow:
* note the ami number for your matching selected distro
* note the subnet you need the instance to be on

[2016-04-19 15:41] bprashanth commented on #24078
I can assign short names to namespaces and end up with a small kubectl get line, --namespace= just feels unnecessary. I guess it would feel more natural if I could also do `kubectl get po --node=foo`. This isn't a huge deal for me personally because I just bash alias my way out of typing.

[2016-04-19 15:48] therc commented on #24078
In my case, I work with multiple namespaces, not on the same command line (I use --all-namespaces frequently, too). I guess I could create bash aliases, but I also tend to reinstall the machines I run kubectl from on a regular basis.

[2016-04-19 15:49] gmarek commented on #24408
Actually the throughput of the scheduler in benchmark should be close to the real one, especially as we're not starved on CPU on master machines.

[2016-04-19 15:52] gmarek commented on #24415
@ixdy @spxtr can one of you fix this, as you know how it works exactly?

[2016-04-19 15:59] timothysc commented on #23682
@k8s-oncall - are we still seeing this?  There have were some quick-turn merges on Friday, but I have not seen traffic since then.

[2016-04-19 16:02] mikedanese commented on #24453
And again http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/11052/

cc @caesarxuchao @kuberentes/kubectl

[2016-04-19 16:09] mikedanese opened #24476 "Flake: gcloud crash (connection refused) causes cluster to fail to come up or resource leak"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15066/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15063/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15062/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15057/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15056/

gcloud fails API request and either the cluster fails to come up or w

[2016-04-19 16:11] bgrant0607 commented on #22687
@bryk The doc was sent to kubernetes-dev, though I see you've found it:

https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#

[2016-04-19 16:13] bgrant0607 commented on #22687
@erictune We're trying to figure out how to organize and categorize system concepts/APIs, for our documentation, UI, maybe kubectl. This isn't the only dimension along which we'll organize content, but is one of them, as opposed to, say, just an alphabetized list of 30 APIs.

[2016-04-19 16:19] a-robinson commented on #24433
Given how easy it should be to reproduce, I suggest we try that rather than
only guessing at the cause :)
On Apr 19, 2016 4:30 AM, "Wojciech Tyczynski" <notifications@github.com>
wrote:

This is strange - we are not caching events in apiserver, so it shouldn't
be a result of events.

Also, we have QPS limits for controllers currently set to 20, which means
that a controller cannot send more than 2

[2016-04-19 16:22] cdpb commented on #24419
I expected to see traffic from the node ip and not a ip from the docker bridge subnet.

this is traffic generated from within the container via curl to a random google.com ip - NAT works
[code]

this is traffic from the container pid 1 itself, it's from the tool `syncthing` - an advertisement to a central server - NAT didn't work
[code]

iptables default settings:

https://gist.github.com/cdpb/ec2

[2016-04-19 16:28] bgrant0607 commented on #22687
Let's split Data back into Storage and Config. I think that probably would be more obvious to users.

Though users won't create PVs, we could also surface PV details on the page for the PVC bound to it.

[2016-04-19 16:29] bgrant0607 commented on #22687
PodTemplate, JobTemplate, Template, etc. would make more sense as Config, also.

[2016-04-19 16:42] bgrant0607 commented on #22687
This is also related to how we partition APIs into API groups (#20120, #8190).

[2016-04-19 16:49] a-robinson opened #24479 "node e2e test flake: problems deleting/creating instances"
[Build log](https://00e9e64bacdc179f68b2acf0d56ea51eebab0458687ca75cb4-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24452%2Fnode-pull-build-e2e-test%2F2101%2Fbuild-log.txt?qk=AD5uMEsWKO99oTjyywaIqC256Mpr1TVKBp0Ywpw6et4lB7p650YNlzbGmVDZ5qx0Y-V_6_Ec698mlBHxrCIAZQ1ezBSSyxiYzIIHUdZ3UIfEIQv6nmodI9v9J1VeR2s1ABMmixDkLiFvJnsV9MV_h7jZX1CkaQdqwMH4c_8UZDP8Z6mdJZOq

[2016-04-19 16:53] jlowdermilk commented on #23497
@srcspider the primary reason for disallowing rolling-update with the same image tag is that its behavior is not reliable without `imagePullPolicy:Always` on the container spec. Kubelet caches images locally and has no way of knowing if the image it has is the same as the one requested in the case of re-using image tags (e.g. `:latest`). It sounds like you never reuse image tags, so I'm guessing y

[2016-04-19 16:58] bgrant0607 commented on #22687
#20120 enumerates more current and future APIs, such as ThirdPartyResource and metrics.

[2016-04-19 17:04] caesarxuchao commented on #24453
Last time this test was reported as flaky is #22128, but they seem to be irrelevant.

[2016-04-19 17:05] #24263 closed

[2016-04-19 17:07] pwittrock commented on #22687
#20120 Puts daemonset under the cluster api group.  I can see the logic behind either location (workloads vs cluster).

[2016-04-19 17:08] bgrant0607 commented on #23497
@jlowdermilk Deployment does not have explicit support for :latest. It is declarative, so a user would need to make another change to their pod template in order to cause a rollout.

We're going to advocate against use of :latest.
https://github.com/kubernetes/kubernetes.github.io/pull/395

[2016-04-19 17:11] caesarxuchao opened #24481 "Client-gen: "unversioned" and "__internal" are mixed"
Client-gen should stop using "unversioned" and use "__internal" instead.

[2016-04-19 17:12] vishh commented on #24436
Not yet. cAdvisor does [provide](https://github.com/google/cadvisor/blob/master/info/v2/container.go#L188) those stats though.

We can address `1` right away.

[2016-04-19 17:13] spxtr commented on #24325
We were exceeding disk write IOPs, which is why untarring took so long. Now that we've switched to using multiple Jenkins machines, untarring takes just a few seconds.

Let me know if you think the problem isn't fixed.

[2016-04-19 17:13] #24325 closed

[2016-04-19 17:17] spxtr commented on #24368
Should be fixed. I left the kubemark tests running on the Jenkins master as they were before.

[2016-04-19 17:17] #24368 closed

[2016-04-19 17:22] bgrant0607 commented on #23497
Deployment issue is https://github.com/kubernetes/kubernetes.github.io/issues/316

[2016-04-19 17:26] spxtr commented on #24267
I'm a little confused by this. The unit/integration tests don't spin up a cluster, they only use what's in your source tree.

As for Jenkins timeouts, our unit/integration runs have been getting a little slower for various reasons, so I bumped the timeout to keep them 2x their current average time.

I don't think so, since it's on PR Jenkins where we more carefully control how many jobs can be run

[2016-04-19 17:26] #24267 closed

[2016-04-19 17:34] lavalamp commented on #24441
@brendandburns You were working on a test for this at one point, did it exercise watch?

[2016-04-19 17:39] bgrant0607 commented on #21582
cc @kubernetes/kubectl

[2016-04-19 17:43] 0x777 opened #24482 "Does apiserver support websockets when watching for events?"
The documentation [here](https://github.com/kubernetes/kubernetes/blob/release-1.2/docs/api.md) suggests that it does.

However, I can't get this working, in the websocket library I'm using, when I try to make open a ws connection to `127.0.0.1:8001/api/v1/pods?watch=true`, it fails with a message `Wrong response status or message`. So, I tried using curl to inspect the headers sent by the server

[2016-04-19 17:46] bgrant0607 commented on #21582
@colhom Export is supported by the API and the intent was much as you describe: #17483. Where does it differ from the behavior you expect?

cc @smarterclayton

[2016-04-19 17:48] bgrant0607 commented on #21582
I think creationTimestamp is present because it's not specified to be optional and status is present because it's not a pointer in our internal structs.

[2016-04-19 17:48] bgrant0607 commented on #21582
Hmm. creationTimestamp is supposed to be optional.

[2016-04-19 17:51] bgrant0607 commented on #21582
One tricky thing about exporting all resources in bulk is that it should not export automatically generated resources, such as pods created by controllers, ReplicaSets created by Deployment, Endpoints, etc.

That has come up in deletion cases also: #19805.

[2016-04-19 17:58] quinton-hoole commented on #24447
Nice sleuthing Alex!  What an embarassing bug.  Thanks for fixing.  I will review your fix in detail now to confirm.

[2016-04-19 18:05] goltermann opened #24483 "Heapster pod not started in 600s flake"
In a GCE e2e test the submit queue ran for me, heapster never started.

The containers that are scheduled as part of the pod never come up ready.  I see the pod scheduled, the image pull start, but nothing comes up and the suite times out.

Selected log lines:
[code]

Events:
[code]
Apr 18 23:25:32.350: INFO:
Logging pods the kubelet thinks is on node e2e-gce-master-0-minion-55ql
<snip>
[code]

[2016-04-19 18:10] paralin opened #24484 "Update NewRelic DaemonSet example"
The NewRelic DaemonSet example needs a best-practices pass and cleanup.

See #16014, comments at the end.

@brendandburns

[2016-04-19 18:12] bgrant0607 commented on #9473
In case someone didn't notice it, the proposal is #24051

[2016-04-19 18:13] paralin commented on #24462
+1

[2016-04-19 18:14] vishh commented on #23307
Aren't these metrics being exposed by the prometheus client library linked into the controller-manager binary? Are we seeing this failure only on `rkt` clusters?

[2016-04-19 18:16] spxtr commented on #22978
Should be fixed, let me know if you see it again.

[2016-04-19 18:16] #22978 closed

[2016-04-19 18:18] paralin commented on #24418
I'm going to update the NewRelic example, so I should probably pay attention to thi

#24484

[2016-04-19 18:23] colhom commented on #21582
This is what I have in the "cluster migration" doc that I'm drafting.

[2016-04-19 18:24] a-robinson opened #24486 "Write unit tests for the gce cloud provider package"
Its lack of coverage is quite sad, given how much logic it contains. It shouldn't be that much work to mock out the GCE service object and get significantly more coverage than what we currently have.

[2016-04-19 18:25] lavalamp commented on #24433
It was definitely *not* etcd OOMing. etcd was using 10% of RAM, apiserver was up to 80%+ before it got OOMkilled. Events etcd didn't even register.

[2016-04-19 18:26] lavalamp commented on #24433
Also, pods were *not* accumulating, there were like 80 pods in the relevant namespace.

[2016-04-19 18:27] lavalamp commented on #24433
Yes, we should also add an e2e or integration test for this situation.

[2016-04-19 18:28] yujuhong commented on #24451
Yes, the logs are not clear.

Based on what @pwittrock told me last time, the easiest approach right now is to scan for "Failure Finished". The passed suite show "Success Finished" instead.

[code]

[2016-04-19 18:28] cjcullen commented on #24279
Changed the title to reflect the source of the leak.

[2016-04-19 18:30] lavalamp commented on #24433
Not necessarily. I didn't check and it's gone now, but just being off temporally could cause this, too. (both create, both delete, rinse & repeat.)

[2016-04-19 18:31] aaronlevy commented on #23944
To add a bit more detail to this request:

__From a selfish "I want this" perspective:__

This comes from the need to be able to run a kubelet pod using specific rkt runtime options (in this case, using a different stage1-image). This would currently be necessary for running a self-hosted kubelet with rkt as the container runtime.

For example:

Starting from a self-hosted kubelet proposal: https:

[2016-04-19 18:33] yujuhong commented on #24451
The actual failure is #24479. Keeping this issue for improving the clarity.

[2016-04-19 18:35] bprashanth commented on #24479
Build log link doesn't work but you should probably file an internal bug for the 500 (actually if it's "BackendError" but the operation actually succeeded, it's b/27367941)

[2016-04-19 18:51] rijuk opened #24488 "kubectl create secret generic does not support values with '=' character when --from-literal option is used"
When a value that contains the character '=' is used, "kubectl create secret" currently fails with the following error

$ kubectl create secret generic mysecret --from-literal=key=foo= --dry-run
error: invalid literal source key=foo=, expected key=value

'=' is a common character for base64 encoded values. So, this pretty much prevents passing any base64 encoded value.

The issue seems to be happe

[2016-04-19 18:53] colhom commented on #21582
@bgrant0607 to make a postgres/mysql analogy: in the same way you can specify dumping all data tables in a database, I'd like to have kubectl dump all portable resources in a namespace.

Whatever we're calling this feature, it should (at least) omit service tokens and pods, and strip any fields that won't pass kubectl's create validation.

[2016-04-19 18:54] luxas commented on #24349
@trinitronx Why do you need this container?
I'm asking because you may easily do
`docker run -it gcr.io/google_containers/hyperkube-${ARCH}:${VERSION} /hyperkube kubectl`

where `${ARCH}` is some of `amd64|arm|arm64|ppc64le` and
where `${VERSION}` is a released version of Kubernetes.
(`arm` requires `v1.3.0-alpha.2` and higher and `arm64|ppc64le` `v1.3.0-alpha.3` and higher)

[2016-04-19 18:57] pwittrock commented on #21582
Should persistent volumes / state-full workloads should be omitted as well?

[2016-04-19 18:58] #24447 closed

[2016-04-19 18:58] wojtek-t commented on #24408
Yes - the first point is to actually understand the difference. If we don't understand it, it is mostly useless.

[2016-04-19 19:00] spxtr opened #24489 "TestWatch and TestWatchList are flaky"
[code]
[code]

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/11057/
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/11032/

[2016-04-19 19:03] mml commented on #20064
I believe we have a basic approach sketched out.  For starters, we can implement only the "why pending" part of this problem.  It's simpler and it has a very clear use case: users who wonder why their pod isn't scheduled.

The basic idea is to add a summary to the bottom of `kubectl describe pods` based on the existing `FailedScheduling` events.

- [ ] Currently we only know one reason why a pod f

[2016-04-19 19:03] fejta commented on #21015
What is left here?

[2016-04-19 19:08] janetkuo commented on #22687
2. Do you agree with category names? What about _data_ category?
3. Do you agree with their contents?
4. Do you notice any missing resource, that should be taken into consideration here?
5. Should we display items written with _italic_ font? Are they assigned to correct categories?
6. What should be done with authorization policies (role, role binding, cluster role and cluster role binding)? Shoul

[2016-04-19 19:10] fejta commented on #24476
@spxtr @ixdy are there cleanup script problems with the jenkins slaves?

Seems odd that we try to delete the jenkins-e2e-master-https firewall?

However these are all errno 111

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15062/console
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15063/console
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15057/console
htt

[2016-04-19 19:11] colhom commented on #21582
I think there should be a standard annotation which marks a resource as "non-portable."

As far as persistent volumes go, the definition of "what's portable" depends on the source and target clusters both having access to that volume pointer. It will be the operator's responsibility either to ensure this is true, or to annotate the offending controller resource as "non-portable."

Stateful workloa

[2016-04-19 19:19] a-robinson commented on #24479
Sigh, sorry, the file seems to be gone now since the tests got rerun. Closing since we don't have much to go off of.

[2016-04-19 19:23] alanhartless commented on #24484
Will the update include resolving

[code]

? :-)

[2016-04-19 19:30] bgrant0607 commented on #22687
@pwittrock I'm torn about DaemonSet. I view it as a cluster admin tool and one needs to think about Nodes in order to use it, but users rightfully see it as similar to the other controllers, which I don't think we want to fight. For now, I think it makes sense to keep it under Workloads.

[2016-04-19 19:30] kostasp commented on #19221
The line  -listen-client-urls ` -listen-client-urls http://127.0.0.1:4001,http://${1}:4001\` in `util.sh` is problematic and should be changed to `-listen-client-urls http://${1}:4001\` .  it is  causing the configuration in `/etc/default/etcd` configuration to have duplicate  etc client url entry.

[2016-04-19 19:35] alanhartless commented on #24484
For GCE, I just removed hostIPC: true and it works now.

[2016-04-19 19:54] smarterclayton commented on #24078
--all-namespaces is so long anyway that it makes me cringe.

On Tue, Apr 19, 2016 at 11:48 AM, Rudi C <notifications@github.com> wrote:

[2016-04-19 19:56] smarterclayton commented on #21582
We have a few use cases where export needs more options - for instance, do you want to export a config object that contains its own mutation logic (deployment) or the actual replicaset?

For import, since there are so many forms of import, I've been leaning to doing a two step command:

    kubectl import <THING> <THING SPECIFIC FLAGS>

since importing from "docker compose" vs "mesos" or "kube 1.0

[2016-04-19 20:03] #24285 closed

[2016-04-19 20:07] spxtr commented on #24067
Fixed by deleting the 1.1 soak cluster.

[2016-04-19 20:07] #24067 closed

[2016-04-19 20:10] chrislovecnm opened #24493 "Cassandra on Kubernetes - Update Docker Image"
Hey all

So a few observations 😄 I recommend some TLC for the docker example image.  We probably want to look at using the docker image from here:

https://hub.docker.com/_/cassandra/

This we lessen a lot of the pain points.  For instance:

- version wise we are way behind
- we need to compile the snitch with the same version of C*
- the jdk that is being used is like "NOT RECOMMENDED", as it giv

[2016-04-19 20:13] chrislovecnm commented on #20961
We got another one :)

https://github.com/kubernetes/kubernetes/issues/24493

@amygdala @bgrant0607 I am going to start to work as soon as I get the rest of the example working, but we need to upgrade

[2016-04-19 20:14] huang195 opened #24494 "Quota not fully enforced in a HA setup?"
Reflectors are used extensively in Kubernetes to reduce the load on the etcd backend. In a non-HA setup, where there's only 1 apiserver, inconsistencies between what's in the local cache vs. what's actually in etcd probably doesn't matter as there's only 1 apiserver that's touching this data. However, in a non-HA setup, there's a higher chance of inconsistencies between local cache and etcd as mul

[2016-04-19 20:21] derekwaynecarr commented on #24418
Agree with @vishh that no one should assume a particular location for a
container cgroup.  Especially if they plan to target multiple distributions.

On Tuesday, April 19, 2016, Christian Stewart <notifications@github.com>
wrote:

[2016-04-19 20:26] a-robinson commented on #24447
I've confirmed that the tests are passing now that the fix is in.

[2016-04-19 20:28] spxtr commented on #21015
Few things I plan on getting to soon™

[2016-04-19 20:30] bgrant0607 commented on #24493
Thanks, @chrislovecnm.

One challenge we have is that we run tests against some of our examples, including cassandra, to try to ensure they stay working. However, we've found Docker Hub to be too unreliable to test against. #13288

Also, what would we do about the custom seed provider?

[2016-04-19 20:30] bgrant0607 commented on #24493
cc @kubernetes/examples

[2016-04-19 20:32] spxtr commented on #24476
This is almost certainly related to the build slaves I set up. I'll take a look.

[2016-04-19 20:37] spxtr commented on #24476
I wouldn't be surprised if the problem is that we're starting up the next job before the cluster has finished tearing down. We recently switched to constantly running this job, not just running it every half an hour. On top of that, I set up the build slaves, which means that we no longer take several minutes to untar kubernetes before starting up the cluster.

[2016-04-19 20:37] lavalamp commented on #24380
I think #24006 should fix this-- please leave a note here if not and we'll reopen.

[2016-04-19 20:37] #24380 closed

[2016-04-19 20:40] ixdy commented on #24476
We need to figure out what is causing the gcloud crashes. We'd theorized that it was due to either the metadata server issues, or due to the Jenkins VM being overloaded, but we've addressed both of those and are still seeing crashses.

[2016-04-19 21:00] chrislovecnm commented on #24493
@bgrant0607 I understand about the reliability ... grrr.  We probably want to appropriate how the build the docker :)  Let me start on that. You have any problem with running it off of alpine?  I am guessing that google has a gcr.io alpine or jre8 image.

The custom seed provider is still under review.  I am talking with peeps from Datastax (commercial cassandra) this week.  I would like to get th

[2016-04-19 21:35] mikedanese commented on #24476
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/15084/console

[2016-04-19 21:42] smarterclayton opened #24501 "Discussion: Content type for watch serialization in protobuf"
Currently, we have two serialization protocols in Kube:

1. JSON encoded runtime.Objects - a single JSON object `{...}` on disk or on the wire - GET/LIST/.../error cases.
     This is clearly content type `application/json`

2. JSON encoded stream of watch.Events separated by whitespace, returned by watch.
    This, according to all formal definitions, is not JSON (because it's > 1 object) but sin

[2016-04-19 21:42] smarterclayton commented on #24501
@wojtek-t regarding streaming serialization and what we have to do with content type.

[2016-04-19 21:45] lavalamp commented on #24433
In terms of mitigating this before 1.3, the only thing that comes to mind is to make kubectl do a client-side lookup and warn the user when multiple controllers will try to claim the output pods of the thing they're trying to create. I think this is way too much work to be worth it in the short term.

Whatever is causing apiserver to OOM may be worth looking into and fixing in the short term, thou

[2016-04-19 21:46] smarterclayton commented on #24501
@liggitt

[2016-04-19 21:52] saad-ali commented on #21306
Sounds good to me. Only thing to keep in mind is backwards compatability. That means leave the existing field as is, just add a optional `backup_portals` field that can be used to list alternate servers to try if `portals` is unavailable.

[2016-04-19 21:53] hsaputra commented on #19049
Should this issue be renamed to indicate it will be primarily support for NVDIA GPUs?

[2016-04-19 22:00] Random-Liu commented on #23772
Close this one since log missing again. :(

[2016-04-19 22:00] #23772 closed

[2016-04-19 22:01] chrislovecnm commented on #20961
@amygdala @bgrant0607 so how about some good news 😄

All the examples are working on the master branch, as long as you create the service.  We need to say why you need the service, in regards to the SeedProvider.  I also ran a quick smoke test:

`kubectl --kubeconfig="./kubeconfig" describe svc cassandra` to get the cql port
`kubectl --kubeconfig="./kubeconfig" exec -ti cassandra-szdkn -- bash` st

[2016-04-19 22:04] yifan-gu commented on #23084
So I revisited the [pleg workflow
](https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/docs/proposals/pod-lifecycle-event-generator.md) and made [some attempts](https://github.com/yifan-gu/kubernetes/commit/25cae5a41d604e753d016d0be9daf056184a9dab) to make pod workers to handle events.

The workflow can be described as this:

(1) pleg generates events, and feed

[2016-04-19 22:07] #24233 closed

[2016-04-19 22:07] bgrant0607 commented on #15244
Adding more color, since we have a doc overhaul under way.

The primary doc doesn't say anything about how to actually use pods:
http://kubernetes.io/docs/user-guide/pods/

Try to find out to configure the command line and environment variables for your container.

You might go back to Guides (Horizontal Nav), then User Guide (Vertical Nav), then Quick Walkthrough (in page), Pods (from TOC). Nope,

[2016-04-19 22:18] mikedanese commented on #24396
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/1745/consoleFull

[2016-04-19 22:20] therc commented on #19049
@hsaputra are you one of those mythical non-NVIDIA GPU users?

Jokes aside, we have been wondering about other use cases. Can you tell us more about what you'd use  GPUs for, under Kubernetes?

[2016-04-19 22:21] hongchaodeng commented on #24408
xref: https://github.com/kubernetes/kubernetes/issues/23263

Hope the info from above issue could help. I will submit a fix shortly.

[2016-04-19 22:23] yujuhong commented on #24396
The log message is misleading. "operation not permitted" is the expected output and the logging level is INFO. There is a PR to remove this line.

For https://github.com/kubernetes/kubernetes/issues/24396#issuecomment-212151586, the failure is
[code]
This is a dup of #24422

[2016-04-19 22:23] #24396 closed

[2016-04-19 22:26] hsaputra commented on #19049
LOL, no we also use NVIDIA. I just wanted to make sure that the issue reflect the right problem and potential solution to solve it.

Will be using it to run ML type of programs in containers managed by (hopefully) Kubernetes.

[2016-04-19 22:27] spxtr commented on #24476
[code]
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/4643/console

[2016-04-19 22:32] lavalamp commented on #24089
I tried to reproduce this in a test, but it passes. I will try actually running kubectl on this file next.

[2016-04-19 22:34] lavalamp commented on #24089
@ghodss what kubectl version are you using?

[2016-04-19 22:38] ixdy commented on #24476
Can we figure out which server gcloud is connecting to when it gets connection refused?

[2016-04-19 22:40] ghodss commented on #24089
@lavalamp 1.2.0

[2016-04-19 22:42] bprashanth commented on #24476
Maybe we can
[code]
?

And not clobber the log when there's a failure?

[2016-04-19 22:46] erinboyd commented on #21498
but I think the argument exists if the user can create a UID of their own...Seems like something you would then have to prevalidate that it doesn't already exist. So the expense of this operation alone, I think outweighs the use of doing this. Especially if the UID isn't populated until the bind is successful.

[2016-04-19 22:48] erinboyd commented on #23615
@kubernetes/sig-storage where are we with this? I know it will be fixed in the next version but are we going to provide a patch in the mean time?

[2016-04-19 22:49] lavalamp commented on #24089
OK, now I understand the issue -- I thought it was more than just the validation problem :)

The problem is that when [create gets a validator](https://github.com/kubernetes/kubernetes/blob/v1.3.0-alpha.2/pkg/kubectl/cmd/create.go#L97) the version for the schema is set in stone at that time. What needs to change is that [the factory](https://github.com/kubernetes/kubernetes/blob/v1.3.0-alpha.2/pkg

[2016-04-19 22:50] lavalamp commented on #24089
@nikhiljindal to see if he agrees with my suggested solution.

[2016-04-19 22:51] thockin commented on #24469
Could you make a Service from your Avere endpoints and then use the Service
IP?  I have not used Avere so I don't know how well it would work...

On Tue, Apr 19, 2016 at 7:30 AM, Owen Haynes <notifications@github.com>
wrote:

[2016-04-19 22:52] pwittrock commented on #24423
Adding ssh keep alive in #24426 to see if this fixes the issue

[2016-04-19 22:53] pwittrock commented on #24422
No longer stopping processes in #24426 to see if this helps

[2016-04-19 22:58] dchen1107 commented on #22964
cc/ @kelseyhightower

[2016-04-19 23:08] pwittrock commented on #22687
If users see it as similar to other controllers, then IMHO Workloads is where it should go.

[2016-04-19 23:40] chrislovecnm commented on #24493
Couple of notes

1. see if google/debian:jessie has openjdk 8
2. the way we have cassandra.yaml setup the cluster name is not configurable
3. get the SeedProvider building against 3.3

[2016-04-19 23:42] Random-Liu opened #24507 "Unit test flake: k8s.io/kubernetes/pkg/registry/configmap/etcd TestWatch flake"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24504/kubernetes-pull-test-unit-integration/21925/

[2016-04-19 23:46] thockin commented on #18372
I'd be fine with adding a notifier concept - I bet it comes up in other
contexts eventually, so we should describe it generically.  something like

[code]

On Tue, Apr 19, 2016 at 4:57 AM, Fabian Reinartz <notifications@github.com>
wrote:

[2016-04-19 23:53] thockin commented on #23920
Sorry, docker would call it "bridge" mode.

You need to look at `docker inspect` on the "pause" container for your pod.

You can also run `netstat -nap` and look for your port (on the host)

On Tue, Apr 19, 2016 at 12:06 AM, Adam Duncan <notifications@github.com>
wrote:

[2016-04-19 23:56] #6591 closed

[2016-04-20 00:02] nikhiljindal commented on #24089
If i understand correctly, [clientSwaggerSchema](https://github.com/kubernetes/kubernetes/blob/v1.3.0-alpha.2/pkg/kubectl/cmd/util/factory.go#L758) that the factory is returning is generic (it is not tied to a particular api group version).
[clientSwaggerShema.ValidateBytes](https://github.com/kubernetes/kubernetes/blob/v1.3.0-alpha.2/pkg/kubectl/cmd/util/factory.go#L911) creates and returns a new

[2016-04-20 00:05] nikhiljindal commented on #24089
There is another way to specify multiple resources without using List: https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/multi-resource-yaml.yaml (Just specify all the resources separated by `---`).

@ghodss Does that work for you?

[2016-04-20 00:06] pwittrock opened #24508 "e2e_node/privileged_test gets Unexpected Error executing in Docker Container: 7"
15:40:09 STEP: Creating a privileged pod
15:40:09 STEP: Executing privileged command on privileged container
15:40:09 STEP: Exec-ing into container over http. Running command: curl -q 'http://172.17.0.2:8080/shell?shellCommand=ip+link+add+dummy1+type+dummy'
15:40:09
15:40:09 ------------------------------
15:40:09 • Failure [10.173 seconds]
15:40:09 PrivilegedPod
15:40:09 /var/lib/jenkins/workspac

[2016-04-20 00:06] pwittrock commented on #24508
@yujuhong Let me know if you are the right person to assign to

[2016-04-20 00:23] yujuhong commented on #24508
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24429/node-pull-build-e2e-test/2152

[code]

The error code is from `curl`: cURL Error (7): couldn't connect to host

/cc the original test author @ArtfulCoder

[2016-04-20 00:23] pwittrock commented on #24420
I like the OpenShift error messaging more than what we have now.  Does it make sense to point the user towards solutions for populating the config for turnkey solutions?  Perhaps as an entry under `kubectl config --help`?

[2016-04-20 00:26] pbx0 opened #24510 "Propose kubelet symlink in hyperkube image"
I would like to propose adding a symlink `/kubelet` pointing to `/hyperkube` in the kubelet image. This is useful because it allows the hyperkube image to work as a drop in replacement for something that expects a kubelet image instead.

Our use case is with the kubelet-wrapper script we ship with CoreOS: https://github.com/coreos/coreos-overlay/blob/master/app-admin/kubelet-wrapper/files/kubelet-

[2016-04-20 00:29] smarterclayton commented on #24420
kubectl config would be a good place (until Brian gets someone to move
it) - I expect users to look there first.

[2016-04-20 00:31] mikedanese commented on #24476
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/15092/console

[2016-04-20 01:02] ghodss commented on #24089
@nikhiljindal We're using jsonnet to produce valid JSON. It looks like we can theoretically apply a temporary hack where we transform a kube JSON list into JSON objects separated by "---", but that would ideally only be temporary since it complicates our build tooling.

[2016-04-20 01:06] spxtr commented on #24476
Okay, I think I just fixed this, and I hate bash even more than I used to. When I set up the slaves, I started @fejta's metadata cache, added it to `/etc/hosts`, and verified that it was working by pinging it (to make sure it was pointing to the VM's IP) and querying it. Unfortunately, when we made this work with containerized e2e, we [assumed](https://github.com/kubernetes/kubernetes/pull/24281/c

[2016-04-20 01:55] HackToday commented on #24510
It seems not a docker issue , just image requirements?

[2016-04-20 02:03] nebirhos commented on #22799
Solved by rolling back commit 9c5d82d.
Why this is not reverted on release-1.2 branch?

[2016-04-20 02:25] arjunm183 opened #24513 "Pod Creation shows Status as Container Creating"
Hello Team,

I would humbly request you to help me with this in reference to the below link which i have already submitted.

https://github.com/kubernetes/kubernetes/issues/24241

Hello Team,

I am unable to reach find anything in stackoverflow. As per your last update i am able to pull the image from gcr named pause and pushed to my local registry. and now i am getting a new error when creating p

[2016-04-20 02:39] zjmchn commented on #18990
@derekwaynecarr Any comments for my PR?

[2016-04-20 02:57] AdoHe commented on #24089
I agree with what @nikhiljindal suggested, we need to update SwaggerSchema to be able to create another SwaggerSchema when handling list case.

[2016-04-20 02:58] dalanlan commented on #3760
Sorry but I absolutely missed this earlier.

@MikaelCluseau I was thinking iptables adopts SNAT and DNAT, which is not the case according to you. Could you please clarify this for me?

[2016-04-20 03:14] bprashanth commented on #24440
Yeah the rc and services tests are redundant, I think we exercise them enough in e2es.

Don't know about: https://github.com/kubernetes/kubernetes/blob/f0c33d65b6fea84d791059d96c93a15e4b3de4ec/cmd/integration/integration.go#L1086
It quicky creates/deletes pods with the same hostport that get scheduled onto a single node. Don't see a reason why we can't move it to an e2e, but I don't think it's bee

[2016-04-20 03:19] MikaelCluseau commented on #3760
On 04/20/2016 01:59 PM, Emma He wrote:

It's the tricky part.

(1) Using service/external IPs requires DNAT.
(2) If you are sure reply packets will go through the same conntrack
rule (ie, the same network stack or a replicated conntrack table), you
can skip the SNAT part (ie, MASQUERADE rules).

The condition of (2) is usually ok in routed access network designs
(which is the simplest design I can

[2016-04-20 03:24] saad-ali commented on #18333
In-tree volumes give us the most flexibility at the moment while the volume model is still under development. Longer term we'd like to be able offer a stronger API that would make out-of-tree development the default, but we want to do that in a careful manner making sure the API encompsses all the requiments we will have (around deployment, API guarantees, etc.). In the meantime, the Flex volume p

[2016-04-20 03:29] #24288 closed

[2016-04-20 03:54] derekwaynecarr commented on #18990
Looking

On Tuesday, April 19, 2016, JM Zhang <notifications@github.com> wrote:

[2016-04-20 04:06] #19029 closed

[2016-04-20 04:19] mikedanese commented on #24510
We should do this for all binaries linked into hyperkube

[2016-04-20 04:28] thockin commented on #24510
+1

even better would be if the components all were registered so you could
call hyperkube --make-symlinks and it would do all the work...

On Tue, Apr 19, 2016 at 9:20 PM, Mike Danese <notifications@github.com>
wrote:

[2016-04-20 04:31] fejta commented on #24476
I'm updating the scripts so we can configure slaves with a single command.

[2016-04-20 04:34] fejta opened #24516 "e2e flake: Kubernetes e2e suite.BeforeSuite failed on mesosphere"
https://teamcity.mesosphere.io/viewLog.html?buildId=218311&buildTypeId=Oss_KubernetesMesos_5SmokeTestsDockerMesos&guest=1

[code]

This happend during https://github.com/kubernetes/kubernetes/pull/24370

[2016-04-20 04:41] #3907 closed

[2016-04-20 04:41] #4529 closed

[2016-04-20 04:41] #4871 closed

[2016-04-20 04:41] #5734 closed

[2016-04-20 04:41] #7507 closed

[2016-04-20 04:41] #9002 closed

[2016-04-20 04:41] #9725 closed

[2016-04-20 04:41] #10389 closed

[2016-04-20 04:41] #11375 closed

[2016-04-20 04:41] #12307 closed

[2016-04-20 04:41] thockin commented on #3760
@MikaelCluseau - drop me an email at my github name at google.com - I have
something for you

On Tue, Apr 19, 2016 at 8:20 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-04-20 04:46] fejta commented on #24148
Thanks Joe, closing this one out.

[2016-04-20 04:46] #24148 closed

[2016-04-20 05:24] quinton-hoole commented on #6605
Reason for closing?

[2016-04-20 06:26] thockin commented on #21498
Erin,

I don't follow.  Users can not create a UID of their own.  Never could,
never will.

On Tue, Apr 19, 2016 at 3:46 PM, Erin A Boyd <notifications@github.com>
wrote:

[2016-04-20 06:34] thockin commented on #9125
I think it's just some procfiles and formatting.  Not worried about it.
Just need someone to DO it.

On Fri, Apr 8, 2016 at 10:03 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-20 06:36] thockin commented on #20870
Any better conclusions here?  I hate disabling it, but without an escape
hatch it's bound to break someone.  And it is probably too late to enable
an escape hatch as a point release under 1.2 :(

On Thu, Apr 7, 2016 at 5:26 PM, Jess Frazelle <notifications@github.com>
wrote:

[2016-04-20 06:41] maclof commented on #22698
hey @thockin I have sent the email to you, so hopefully you have received it. I appreciate any help you can give me :)

[2016-04-20 06:45] fgrzadkowski commented on #4869
@batikanu Please call summary/cadvisor API directly from the command line and check what is being reported there. If you see something wrong there, let's continue the discussion here. Otherwise please file a separate issue as it'd be a heapster bug.

[2016-04-20 07:22] microadam commented on #23920
@thockin Ah yes of course. I forget about the `pause` container. Looking at this there are a couple of interesting things. Not sure which is most relevant:

[code]

and

[code]

Guessing `Bridge` should not be an empty string?

Nothing about anything listening on port 80 when I run `netstat` either.

[2016-04-20 07:23] fejta commented on #23538
http://kubekins.dls.corp.google.com/job/heapster-gce-e2e-ci/1104/ has not passed in over a month. I'm going to send out a PR to disable it

[2016-04-20 07:23] thockin opened #24518 "Build slowness from `go test -c`"
A big part of a do-nothing build being slow is the calls to `go test -c` in `hack/lib/golang.sh` - about 28 of the 32 seconds it takes on my laptop.  This is a note to fix that.  If someone who knows the go tools well gets time - great way to make a lot of people happy :)

@madhusudancs @mikedanese

[2016-04-20 07:30] #23602 closed

[2016-04-20 07:35] Hui-Zhi commented on #19049
@hsaputra so far it only about the Nvidia GPU. So, yes.

[2016-04-20 07:41] ixdy commented on #4871
Aren't we still trying to do this?

[2016-04-20 07:53] HaiyangDING commented on #20064
This sounds like a good plan. I will send a PR to implement this. @mml  @davidopp

[2016-04-20 07:56] #1277 closed

[2016-04-20 08:01] fejta opened #24520 "kubernetes-e2e-gce-flannel has not passed in two months"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flannel/ and http://kubekins.dls.corp.google.com/ show that we run this job every few minutes, but it never passes.

I'm going to send out a PR to disable this job until someone has the time to investigate and resolve.

[2016-04-20 08:06] wojtek-t commented on #24473
This is super strange - it's changing codecs for types that didn't change in that PR.

[2016-04-20 08:15] owenhaynes commented on #24469
On the font of it it just acts like a normal NFS server, but provides 1-n IPs for each of the caches in the Avere cluster.

Will try using the service IP, but there must of been a reason why the gluster volume did not take this approach?

[2016-04-20 08:28] piosz commented on #23538
As I wrote in #24519 the job has passed only once during its first run and then it failed 1000+ times. Was it supposed to work anytime?

[2016-04-20 09:04] magicwang-cn commented on #23709
+1 too.
and there are also a lot of duplicate list-watch request with the same resource in the same component.

++1

A3.1: We've known this for a long time, and there are a series of issues around protobuf and gRPC to address. @wojtek-t has an issue list.

[2016-04-20 09:29] hongchaodeng commented on #24408
I have made it work with replication controller. The RC is simple, but basically we need to start controller manager which wasn't added before. Need some cleanup.

I need to deal with other stuff and hopefully get this done no later than tomorrow.

[2016-04-20 09:30] srcspider commented on #23497
@jlowdermilk

Correct. I expect rolling-update to handle everything exactly the same for all cases.

This may be a bad habbit from being an early adopter of kubernetes, but, I assume the nodes will only ever pull the image once and every other time it's probably cached. For all intents and purposes I ignore the `imagePullPolicy`. I design abstractions to work regardless of what it does.

The reaso

[2016-04-20 09:31] maciaszczykm commented on #22687
Current state:

- __Cluster__ - nodes, namespaces and persistent volumes.
- __Workloads__ - pods, replica sets, replication controllers, jobs, deployments, daemon sets, pet sets, workflows and scheduled jobs.
- __Service discovery and load balancing__ - services and ingresses.
- __Storage__ - persistent volume claims.
- __Config__ - secrets and config maps.
- __Policies__ - resource quotas, limit

[2016-04-20 09:32] wojtek-t commented on #24408
@hongchaodeng - I don't want to start controller manager - introducing more dependencies makes it no longer a benchmark.

What I would like to have is to just create "ReplicationController" object.

Please don't do it - I already wrote I will do it and have it almost working now.

[2016-04-20 11:22] hongchaodeng commented on #24408
@wojtek-t Sounds good :)

[2016-04-20 12:18] 0x777 commented on #24482
This is happening because of an [issue](https://github.com/golang/go/issues/6361) in golang's net package (the Haskell library I was using wasn't sending the `Origin` header).

However, websockets do not work with `kubectl proxy`, which is the [recommended method](http://kubernetes.io/docs/user-guide/accessing-the-cluster/#accessing-the-api-from-a-pod) for accessing the API from inside a pod.

[2016-04-20 12:26] wojtek-t commented on #24408
It seems that the original issue is cause by contention on logging. When I removed logs that I added and changed them to a single trace log at the end, the throughput was increased by ~25%.

[2016-04-20 12:29] wojtek-t commented on #24473
@derekwaynecarr - I'm not able to reproduce this issue.

When I ran hack/update-codecgen.sh at the changes from first commit of #24347 the only changes that were generated for me are those in pkg/api/v1/types.generated.go
Then running hack/verify-codecgen.sh works fine.

I have no idea how your changes from:
cmd/libs/go2idl/client-gen/testdata/apis/testgroup.k8s.io/types.generated.go
were generate

[2016-04-20 12:46] soltysh opened #24526 "hack/test-cmd.sh referencing gcr.io/google-containers/perl which cannot be docker pull-ed"
[hack/test-cmd.sh](https://github.com/kubernetes/kubernetes/blob/bfc953cd4b0e1e1d0b0f4d341baa5b5537920f09/hack/test-cmd.sh#L142) is referencing `gcr.io/google-containers/perl` which cannot be found atm.

@erictune fyi

[2016-04-20 12:54] yujuhong commented on #24513
Please post your question to stackoverflow, as suggested in https://github.com/kubernetes/kubernetes/issues/24241#issuecomment-210185736

[2016-04-20 12:55] apatil commented on #831
We have a use case for this as well. We have about a dozen images with a shared dependency, and we want to be able to upgrade that dependency without rebuilding all of the images. The dependency consists of many small files in deeply nested folders totaling several hundred MB. ConfigMap would not be ergonomic for our case even if the size restriction were removed. A zip volume or init container wo

[2016-04-20 13:12] erinboyd commented on #21498
@thockin Yes, I am aware. Mark was suggesting it above and I was saying I didn't think we should consider it

[2016-04-20 13:20] smarterclayton commented on #24473
Same version of go?

[2016-04-20 13:21] wojtek-t commented on #24473
I'm using 1.6

[2016-04-20 13:31] markturansky commented on #21498
@erinboyd I said that the UID is required on the ClaimRef to be a valid bind, not that the user will supply a UID.

[2016-04-20 13:34] deads2k opened #24527 "Improve quota replenishment"
Quota replenishment can be slow and irksome in the case of rejected requests.  One common example: create with a conflicting name.  Quota charges you, but doesn't "uncharge" until it refreshes again.

If we don't need quota to be perfectly, this would be heuristically resolved by registering a time-based recheck on create against a cache of the resource to see if it exists in the store/index based

[2016-04-20 13:43] timothysc commented on #10934
@ingvagabund is this done?

[2016-04-20 13:43] erinboyd commented on #21498
@markturansky my bad. ;)

[2016-04-20 13:49] smessmer commented on #24350
Flannel is running with

    flanneld -alsologtostderr=true -ip-masq=true -public-ip=10.1.0.2 -iface=10.1.0.2

and docker with

     docker daemon -H unix:///var/run/docker.sock --storage-driver=overlay -p /var/run/docker.pid --ip-masq=false --iptables=true --bip=10.2.94.1/24 --mtu=1472

Here the routing information

    $ sudo ip route
    default via [some public ip] dev eth0
    10.1.0.0/16 dev

[2016-04-20 13:51] ncdc commented on #20870
I think we're probably going to have to defer a real solution until 1.3. I know @pmorie is planning on writing up a proposal.

[2016-04-20 14:03] gmarek opened #24528 "unit flake: k8s.io/kubernetes/pkg/storage/etcd3"
It failed in https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24291/kubernetes-pull-test-unit-integration/22014/

[code]

cc @wojtek-t @xiang90

[2016-04-20 14:17] tweakmy opened #24529 "nodeport not all nodes is proxying into the same service"
as per documented on http://kubernetes.io/docs/user-guide/services/#type-nodeport

From testing with
[code]

Below is the defintion of my service:
[code]
And the pod description and there is only 1 pod in this instance:
[code]

As you can see there are 2 nodes:
[code]

But only node 192.168.122.242 is proxying to the service. Should 192.168.122.194 also proxy to the same node as per the documentat

[2016-04-20 14:18] #23263 closed

[2016-04-20 14:26] pwittrock commented on #23971
Looks like this is related:

[logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/1747)

15:52:25 • Failure [60.001 seconds]
15:52:25 Kubelet Container Manager
15:52:25 /var/lib/jenkins/workspace/kubelet-gce-e2e-ci/go/src/k8s.io/kubernetes/test/e2e_node/container_manager_test.go:92
15:52:25   oom score adjusting
15:52:25   /var/lib/jenkins/workspace/ku

[2016-04-20 14:28] tweakmy commented on #24529
Not sure is related to iptables

iptables on node 192.168.122.242

[code]

[2016-04-20 14:30] tweakmy commented on #24529
And on the node 192.168.122.194

[code]

[2016-04-20 14:31] tweakmy commented on #24529
Sorry for the long winded clipboard.

[2016-04-20 14:39] johscheuer opened #24530 "Vagrant - Error start up cluster"
When I try to start the vagrant setup from master I get the following errors and Kubernetes does't start (I'm on OSX)

[code]

Docker allready loaded the image but it doesn't get started:
[code]

And Kubernetes of course isn't available:
[code]

I built my own binaries and wanted to test them (build ran successfully) but the cluster doesn't come up. Do you know what the problem is? Running `./clus

[2016-04-20 15:01] yissachar commented on #24139
Looks like something was messed up with my bash-completion. I reinstalled it using homebrew, and configured my .bash_profile to use it, and now `kubectl` works properly with file directory completion.

[2016-04-20 15:01] #24139 closed

[2016-04-20 15:14] jfrazelle commented on #20870
I think it would be a good idea to not include it in say a .1 or patch
release because it is kinda changing behavior and is better for a .0, if
feel bad breaking semver

On Wednesday, April 20, 2016, Andy Goldstein <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022

[2016-04-20 15:16] ingvagabund commented on #10934
@timothysc not yet, integrating storage tests into the Job

[2016-04-20 15:24] DongyiYang commented on #9125
We actually have done something similar here at VMTurbo. We are working on a full-stack control solution for K8s, to assure the performance of application as well as utilize the underlying infrastructure as much as possible. In order to do that, we need to get some application QoS attributes, like number of transaction, from k8s proxy. And here is what we have so far : we use syscall connect to Ne

[2016-04-20 15:30] bprashanth commented on #24350
can you grep kubelet logs for hairpin, and give me ps aux | grep kubelet, and output of netstat -i?

[2016-04-20 15:37] philips commented on #23944
@aaronlevy What is an example of runtime configuration?

[2016-04-20 15:47] ScyDev commented on #23403
@derekwaynecarr Thanks. Yes, I can see the requests and limits with `kubectl describe node mynode`, but how can I see what is actually, really used? In order to make the requests and limits better fits?

[2016-04-20 15:51] thockin opened #24533 "`kubectl run --restart=Never` restarts (creates a Job)"
What do we think should happen here:
[code]

I would expect this to run once and then never retry.  What happens is that we create a Job with a PodTemplate that says `restartPolicy: Never` and then the Job itself happily restarts the Pod (well, recreates it).  So it appears we no longer have a way to express "really, just run once" through `kubectl run`?  That doesn't seem right - I feel like I am

[2016-04-20 15:55] pditommaso commented on #24533
I can include the full command line and the reported pods:

	$ kubectl run nxf-126 --image=busybox --restart=Never -- exit 1
	$ kubectl get pods -a
	NAME                   READY     STATUS               RESTARTS   AGE
	k8s-etcd-127.0.0.1     1/1       Running              0          1h
	k8s-master-127.0.0.1   4/4       Running              1          1h
	k8s-proxy-127.0.0.1    1/1       Running

[2016-04-20 16:02] bprashanth commented on #24520
It's failing before tests even start:
[code]

[2016-04-20 16:03] luxas opened #24534 "v1.3.0-alpha.2 binaries not pushed"
It seems like `v1.3.0-alpha.2` binaries are not pushed.
[code]
@david-mcmahon @bgrant0607 @ixdy

[2016-04-20 16:03] bprashanth commented on #24520
At this point I don't think it's a flake, we needed flannel for a release and it's less important now so I'm not investigating why the cluster isn't coming up soon. I do believe if the cluster comes up a majority if not all of the tests will pass, and the ones that don't will flake for known reasons.

[2016-04-20 16:07] smarterclayton commented on #24089
We need Lists to work - I think they're fundamental to stuff going forward
(like templates, which are a variant of lists)

On Tue, Apr 19, 2016 at 10:58 PM, TonyAdo <notifications@github.com> wrote:

[2016-04-20 16:14] ihmccreery opened #24535 "Release versions are getting parsed wrong"
[code]

Perhaps a bug in https://github.com/kubernetes/release/pull/1?

[2016-04-20 16:20] vaikas-google commented on #22881
Can you point to a better bug to follow (since it's a dupe?)

[2016-04-20 16:22] bprashanth commented on #24533
I use this often:
[code]
I'd asked on the brainstorming doc that we handle this better, a bug probably makes more sense, but there is a version that does what I (both of us?) want.

[2016-04-20 16:26] jessesanford commented on #17620
Thanks @pdbogen I am using the coreos kube-aws command line utility to generate most of my configs. Where do I put the annotation you mention?

[2016-04-20 16:27] erictune commented on #23396
@deads2k

I see you have some big PRs out, like  #20573 to add subjectaccessreviews resource, and #23208 to make it easier to work with storage.  Are those changes prerequisites for upstreaming openshift authz, or just general improvements.

[2016-04-20 16:27] wojtek-t commented on #24408
@hongchaodeng @xiang90 @gmarek - I have a strong hypothesis, that differences between benchmark and real cluster are because of lack of nodes & pods updates done by other components. In particular we are missing node update for every node once per 10s, and 2 updates of pod status done by kubelet when starting the pods.
If any of you can add this, it would be super useful, as tose can cause lock co

[2016-04-20 16:33] xiang90 commented on #24408
@wojtek-t

Can you give me the output of the density test on kubemark? I would like to see if I can find anything.

[2016-04-20 16:37] thockin commented on #20870
You *could* argue it was an oversight, but it's a stretch.  I was hoping
someone would convince me, but ...

On Wed, Apr 20, 2016 at 8:15 AM, Jess Frazelle <notifications@github.com>
wrote:

[2016-04-20 16:40] pwittrock commented on #22687
Workloads are getting a bit thick, but I am not sure there is a better option available.

[2016-04-20 16:43] wojtek-t commented on #24408
@xiang90  I don't have access to it now - can send you tomorrow

[2016-04-20 16:43] errordeveloper commented on #15
@thockin this is a very old issue, is it still meant to be open?

[2016-04-20 16:45] pdbogen commented on #17620
You'd annotate a *server* that has Type: LoadBalancer, in the metadata, a lá:
[code]

...but YMMV, the code is not _super_ easy to read for this, and it's not documented yet, as you might guess from the "beta" smack in the middle of the annotation name. It'll probably also break when the feature leaves beta, though _maybe_ they'll check the old annotation too. There are also some other limitations

[2016-04-20 16:47] #24462 closed

[2016-04-20 16:47] mikedanese commented on #24462
LGTM'd the pr

[2016-04-20 16:48] zhouhaibing089 commented on #24530
@johscheuer it looks like a docker issue, could you please tell the docker version that you used?

[code]

To reproduce, you could run `docker pull gcr.io/google_containers/pause:2.0` on the node and see whether there is any error message.

[2016-04-20 16:54] thockin commented on #24533
to clarify, there IS actually an error in the commandline - "exit" is not an executable, but a shell builtin.

[code]

Now instead of `ContainerCannotRun` you get `Error`, but the overall same behavior

[2016-04-20 17:02] xiang90 commented on #24408
@wojtek-t np. thanks.

[2016-04-20 17:03] spxtr commented on #24476
Much better.

[2016-04-20 17:05] chrislovecnm commented on #24290
@bgrant0607 so good news ... This is a non-issue 👍   We do need unit testing, logging, more documentation, and a possible refactor ...

But the design is stable!!

[2016-04-20 17:05] chrislovecnm commented on #24290
@bgrant0607 please close, as I will open a ticket for all the other stuff!!

[2016-04-20 17:06] spxtr commented on #23361
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/11082/

[2016-04-20 17:11] chrislovecnm commented on #24030
@bprashanth  et all.  Good news the SeedProvider is a good design.  The reason that you don't want to have every node a seed is purely operational maint.  I will double check with a couple of other gurus, but initial review is good.

The SeedProvider only exists for initial bootstrap of a new node, and declaring the topography of a cluster.  The Snitch is the next fun item.

The main thing that I

[2016-04-20 17:13] bprashanth commented on #24290
This can happen, assuming it's a non issue somehow:

You get:
node1 - 10.10.0.1
node2 - 10.10.0.2

Node2 dies and comes up with 10.10.0.6
Node7 form another c* cluster comes up with 10.10.0.2

you still continue to talk to Node7 thinking it's node2

Some time laters you see a new list:
node1 - 10.10.0.1
node2 - 10.10.0.7

[2016-04-20 17:34] pwittrock opened #24538 "Jenkins GitHub Plugin hangs"
Receiving objects:  93% (236874/254255), 149.66 MiB | 264 KiB/s
Receiving objects:  93% (236943/254255), 149.96 MiB | 224 KiB/s
Receiving objects:  93% (236943/254255), 150.09 MiB | 224 KiB/s
Receiving objects:  93% (236943/254255), 150.31 MiB | 219 KiB/s
Receiving objects:  93% (236943/254255), 150.57 MiB | 222 KiB/s
Receiving objects:  93% (236943/254255), 150.76 MiB | 222 KiB/s
Receiving object

[2016-04-20 17:46] yujuhong commented on #24436
@Random-Liu, I just noticed that the kubelet's RSS memory is higher than the working set, which doesn't seem right. I checked the build logs and they are correct. Is it possible that those two are revered by accident?

[2016-04-20 17:51] Random-Liu commented on #24436
@vishh Will send a PR addressing `1` right away.

@yujuhong May be something wrong when calculating the node average, I'll check it.

[2016-04-20 18:07] chrislovecnm commented on #24290
So talking to a node is gossip 😄   not seeds ...  So when a node starts it needs a valid list of seeds.  If gossip starts to FREAK out, it will fall back to seeds.

The seeds changing is ok.  As long as it is a valid ip address.  We need to look at the Snitch / Gossip soon.

[2016-04-20 18:08] derekwaynecarr commented on #24527
I am aware of the conflicting name problem we hit with deployments, we also just have this problem generally when you attempt to create invalid objects that fail validation.  Per our chat, I am in favor of a RESTHandler post-hook to support refunding quota in this case of a POST that failed validation.

The post-hook cannot depend on look-up of a resource by name since name generation happens afte

[2016-04-20 18:12] chrislovecnm commented on #24290
Let me eat my words a bit. We'd need to cap it at 20 ... Say we have 1k c* nodes ... How much load will that put on the API server? I know of rings that have 3k c* nodes.

Cal we just ask the API for 3 servers?

[2016-04-20 18:13] alph486 commented on #21604
Also seeing this. We are using 1.1, kube-proxy is in userspace currently, we used kube-up.sh to bring up the cluster.

[2016-04-20 18:15] janetkuo commented on #24309
cc @mikedanese

[2016-04-20 18:16] thockin commented on #21604
Please try the iptables proxy?

On Wed, Apr 20, 2016 at 11:14 AM, Kevin Kuhl <notifications@github.com>
wrote:

[2016-04-20 18:20] alph486 commented on #21604
Am planning on spinning up a new cluster to try... My time to first byte from a browser --> ELB --> Node --> Service is about 30s... I have heard userspace is slow... having trouble believing it could be THAT slow though?

[2016-04-20 18:24] thockin commented on #21604
oh, no, that's not right...something else is timing out...

On Wed, Apr 20, 2016 at 11:20 AM, Kevin Kuhl <notifications@github.com>
wrote:

[2016-04-20 18:24] #23182 closed

[2016-04-20 18:26] david-mcmahon commented on #24535
Thanks for catching this!  I'm surprised it wasn't noticed earlier.  It's an off by 1 (s) error.
We pushed to gs://kubernetes-releases vs gs://kubernetes-release.  The offending s has been removed.  I'll clean up the release itself.

[2016-04-20 18:29] thockin commented on #24469
I am not sure why we didn't do this for gluster, and I am not saying no to
making this a list, but let's try Services first :)

@rootfs

On Wed, Apr 20, 2016 at 1:15 AM, Owen Haynes <notifications@github.com>
wrote:

[2016-04-20 18:43] lavalamp opened #24546 "Re-enable http test server Close() calls."
https://github.com/golang/go/issues/12262 is fixed in go1.6.

It should now be safe to search the code base for "Uncomment when fix #19254" and uncomment the .Close() calls.

[2016-04-20 18:47] zmerlynn opened #24547 "Don't allow node controller to allocate into service CIDR range"
If the `SERVICE_CLUSTER_IP_RANGE` is part of the `CLUSTER_IP_RANGE` (which is how GKE is configured), the node controller should respect that and not hand out node IP ranges within the `CLUSTER_IP_RANGE`.

cc @cjcullen @gmarek

c.f. https://github.com/kubernetes/kubernetes/blob/7d7ca5ab72231c783ad52fb530876aceca9cd16d/pkg/controller/node/nodecontroller.go#L562 and https://github.com/kubernetes/kub

[2016-04-20 18:51] aaronlevy commented on #23944
I think the pod/container [securityContexts](https://github.com/kubernetes/kubernetes/blob/master/docs/design/security_context.md) are a good example of pod-based runtime configuration.

[2016-04-20 18:51] gmarek commented on #24547
cc @fgrzadkowski @wojtek-t

[2016-04-20 18:51] rootfs commented on #24469
glusterfs is a symmetric scale-out filesystem, while generic NFS is not. NFS HA implementations vary among rather vendors. In your case, making a service IP (or use round robin DNS) looks the good solution.

[2016-04-20 18:57] rata commented on #13748
@smarterclayton @thockin @bgrant0607: ping? Sorry to bother again :-)

[2016-04-20 19:03] owenhaynes commented on #24469
I agree service IP is most likely the best option after some thought.

[2016-04-20 19:03] #24469 closed

[2016-04-20 19:10] fejta commented on #23361
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24284/kubernetes-pull-test-unit-integration/21759/artifacts/

[2016-04-20 19:29] chrislovecnm commented on #24290
@bgrant0607 @bprashanth so this is the challenge.  We don't want this code to make an http call to get 1000's of ip addresses.  Who is an api guru that can give some advice?

Much thanks!!

[2016-04-20 19:36] chrislovecnm opened #24550 "Cassandra on Kubernetes - javadocs and unit tests"
Custom [SeedProvider ](https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java) needs some TLC.

1. Javadocs in code
2. Junit unit test
3. Look at refactor for only getting a few seeds

[2016-04-20 19:39] yujuhong commented on #24440
@lavalamp, since you are the original author of `runSchedulerNoPhantomPodsTest`, do you have any suggestions/preferences about this test?

[2016-04-20 19:48] david-mcmahon commented on #24534
See also #24535

[2016-04-20 19:59] bgrant0607 commented on #24198
It's not a bug in apply as much as a shortcoming. apply merges changes by the user with the live state. There's no way for apply to know that those 2 fields are related. The rollingUpdate field would need to be explicitly nulled.

[2016-04-20 20:00] matthiasr opened #24552 "Endpoints performance is O(n) in the number of IP:port pairs"
When stress-testing an unrelated component, I scaled up 5000 pods covered by the same service. The latency of the verb=PUT,resource=endpoint requests, as reported by kube-apiserver, went through the roof with a peculiar curve:

![grafana_-_k8s___overview](https://cloud.githubusercontent.com/assets/131590/14688384/dd29c61c-0731-11e6-96be-efb09d5bc015.png)

I think the problem is that Endpoint is on

[2016-04-20 20:05] matthiasr opened #24553 "kube-controller-manager should batch Endpoint updates"
As laid out in #24552, updating the Endpoint object is O(n) in the number of pods covered by the corresponding service.

Additionally, as far as I can tell, kube-controller-manager adds IP:port pairs to the Endpoint list one by one, leading to the curve observed there. Since there are n updates, overall updating the endpoint list for a service is O(n^2) in the number of pods.

By the time the firs

[2016-04-20 20:07] matthiasr commented on #24552
The cluster version is 1.2.0:

[code]

Of course, this is a highly artificial setup. With more realistic pod counts (hundreds) this is not a big issue.

[2016-04-20 20:07] matthiasr commented on #24553
The cluster version is 1.2.0:

[code]

Of course, this is a highly artificial setup. With more realistic pod counts (hundreds) this is not a big issue.

[2016-04-20 20:07] bgrant0607 commented on #24550
cc @kubernetes/examples

[2016-04-20 20:09] zmerlynn commented on #24207
I saw this again on `release-1.2`, in a different test (`k8s.io/kubernetes/pkg/storage`)
[code]

[2016-04-20 20:11] timothysc commented on #10934
re-opening per: @ingvagabund 's comments.

[2016-04-20 20:11] bgrant0607 commented on #24488
cc @pmorie @derekwaynecarr

[2016-04-20 20:11] bgrant0607 commented on #24488
cc @kubernetes/kubectl

[2016-04-20 20:14] ingvagabund commented on #24239
DescriberSetting integrated, about to finish unit-tests. Thanks @hodovska for the heads-up. Will attach PR soon.

[2016-04-20 20:16] derekwaynecarr commented on #24488
I assume you need to send base64 because you consume base64?  Agree we should fix.

[2016-04-20 20:18] MHBauer commented on #24546
How difficult do you estimate this to be? I want to get into the code and start helping.

Besides uncommenting the `defer`s that follow the comment, is there a removal of manual calls to `close()` that needs to be done? I see this pattern all in test files. Is doing the close necessary, or is it done so that the tests are strictly correct?

I see:
[code]

[2016-04-20 20:19] bgrant0607 opened #24555 "Automatic issue triage"
Our build cop looks at issues, attempts to categorize them, and labels them accordingly:
* support, bug, feature, etc.
* team/component

Labels don't appear as notifications, however, so people interested in a particular type of issue need to poll issues with that label.

Also, issues are often miscategorized.

This seems like a job for a machine.

We could have manually written pattern-matching o

[2016-04-20 20:23] jayunit100 commented on #24471
[code]
runnning this on the test output from the CI, I get these culprits for scaleout overlogging...

[code]

[2016-04-20 20:25] derekwaynecarr commented on #24488
The simple fix is to split on the first '=' only, I will send a PR this week.

@pmorie - ack as config map i think calls the same underlying code.

[2016-04-20 20:26] jayunit100 commented on #24471
fyi @timothysc "scale killers" overlogging.

[2016-04-20 20:27] fejta commented on #10934
Thanks for reopening!

[2016-04-20 20:31] yujuhong opened #24558 "kubelet may start syncing pods before syncing network status (i.e., get pod CIDR)"
This is based on what @freehan observed in his cluster.

`syncNetworkStatus` calls `kl.runtimeState.setNetworkState()` to set an error if anything fails (i.e., no pod CIDR). However, [kubelet runs `syncNetworkStatus` in a goroutine](https://github.com/kubernetes/kubernetes/blob/bf69b2a8629b0ba35b5d9986a808477eb069d2a4/pkg/kubelet/kubelet.go#L1028). This means that kubelet could start syncing the p

[2016-04-20 20:32] derekwaynecarr commented on #24473
I am using 1.6.

[2016-04-20 20:32] pmorie commented on #24488
@derekwaynecarr it does

[2016-04-20 20:35] deads2k commented on #18549
@erictune Based on the sig-auth call, will you be able to ask your contact about whether its reasonable for a server to attach its own client secret to a refresh token submitted to it so that the token submitter can get back an access token without having the client secret required to use his refresh token?  This seems to do an end-run around the two pieces of knowledge that the oauth spec lays ou

[2016-04-20 20:37] sgrimee commented on #23799
What would be a workaround for this before the release, how can one specify the preferredVersion?

[2016-04-20 20:38] alph486 commented on #21604
@thockin My problems seem to be related to this: https://github.com/kubernetes/kubernetes/issues/11632#issuecomment-125732094 . Early simple tests are showing the problem is resolved, but time and reports of the issue over the next few days will tell.

[2016-04-20 20:50] bgrant0607 opened #24560 "Represent strategic merge patch policy + merge key in swagger"
Right now, this information is only available via Go field tags, but that doesn't work for non-Go clients, nor for version-skewed clients.

Clearly we'll need some sort of swagger extension for this.

cc @nikhiljindal @lavalamp @ghodss

[2016-04-20 20:51] pbx0 commented on #24510
@thockin I'll work on updating the PR to include a `hyperkube --make-symlinks` flag that just makes symlinks to hyperkube for each server in the current directory.  Does this sound OK?

[2016-04-20 20:52] vishh commented on #24558
In the past, networking used to be setup synchronously and kubelet used a
container runtime health check as a barrier in the initialization path.

On Wed, Apr 20, 2016 at 1:31 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-04-20 20:53] bgrant0607 opened #24562 "Represent API "enums" in swagger"
Currently they are just strings.

Example: pod restart policy.

[2016-04-20 20:57] timothysc commented on #24471
Then fix them ;-)

[2016-04-20 20:58] euank opened #24563 "rktnetes - e2e/dns test failures"
The DNS tests fail on our rktnetes e2e right now for two reasons:

1) `metadata` not resolving due to `google.internal` not in the host's search path - On the CoreOS alpha image we're running on, the dhcp search domains we receive are not populated on the host, so they similarly don't end up in the container. When they're on the host this part of the test passes.

Resolution: It's very likely a ne

[2016-04-20 21:00] yujuhong commented on #24558
There are a few paths to update pod CIDR in the runtimeState, which are quite confusing. It seems to be that it's possible that kubelet will move on to the sync loop when pod CIDR is an empty string.

[2016-04-20 21:00] euank commented on #23232
I investigated the DNS tests a bit more, and it looks like the failure is not due to them being coded to debian, but rather due to some behavioural differences (well, probably bugs) in CoreOS/rkt. See https://github.com/kubernetes/kubernetes/issues/24563 re the dns tests.

[2016-04-20 21:06] bprashanth commented on #24558
Won't the syncLoop hang on errors() and you always start with an error?

[2016-04-20 21:09] sjpotter commented on #24563
Re #2 in docker/kubernetes the /etc/hosts file is managed by k8s.  We fail that test and have been ignoring it as of course our version isny managed by the current code path.  Perhaps we need to say no we have to be compatible with it, perhaps even abstracting/sharing the current code to generate the/etc/hosts file that we mount/copy into the file system?

[2016-04-20 21:14] zmerlynn commented on #24207
And again, in the same run on the rerun of that same `release-1.2` cherrypick:
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24543/kubernetes-pull-test-unit-integration/22073/

[2016-04-20 21:16] pmorie commented on #17281
We designed out of this approach, see #18521

[2016-04-20 21:16] #17281 closed

[2016-04-20 21:16] bobbyrullo commented on #18549
@liggitt , @deads2k : would your respective concerns be alleviated if I did the following the refresh token PR:

* put refresh tokens behind a flag (eg. --oidc-enable-refresh-tokens)

* in whatever documentation comes out of this, make clear the security implications. Something like:

[2016-04-20 21:18] pmorie opened #24568 "AWS EBS mkfs and mount failures are difficult to debug"
I helped a user troubleshoot an issue with EBS volumes not being formatted correctly today and found that there is almost no logging to help determine what happened when mkfs or mount fails.  In my particular case, it's not even clear whether `mkfs` was ever run.  So, we should:

1.  Ensure that the shared `SafeFormatAndMount` code has appropriate logging
2.  Ensure that the EBS volume code has ap

[2016-04-20 21:23] bobbyrullo commented on #18549
The way I look at it the core issue is:

Is it ok let an end user (eg. Resource Owner) have a refresh token?

[2016-04-20 21:23] spiffxp commented on #24563
/cc @kubernetes/sig-testing

[2016-04-20 21:25] spxtr commented on #24489
Looks like a dupe of #24207

[2016-04-20 21:25] #24489 closed

[2016-04-20 21:26] bgrant0607 commented on #15244
Another issue:

Most users should create controllers rather than creating pods directly. We need to make the pod feature documentation discoverable from the controller documentation.

The pod template documentation should be substantially the same as pod documentation, except for update policy (most fields in pods can't be updated but most fields in templates can) and the operations.

Users will i

[2016-04-20 21:26] bgrant0607 commented on #15244
cc @kubernetes/docs

[2016-04-20 21:31] wstrange commented on #17088
This would be a nice feature to have.  For example, someone who wants to offer  a pseudo multi-tenant solution - with each tenant running in a separate namespace.  The ingress could do hostname based routing to the right backend namespace.   ${tenant}.example.com  ->  service "foo" in namespace ${tenant}

I suppose one can do this today on GKE, but I gather you end up with one HTTP load balancer p

[2016-04-20 21:33] erictune commented on #23396
yes, you can help @ericchiang.  @dead2k said he will help consult on how best to upstream.

[2016-04-20 21:35] ssergiienko commented on #14940
It looks like something similar happens in my https://github.com/kubernetes/kubernetes/issues/18967 but for exec network plugin. Just leave it here

[2016-04-20 21:42] bgrant0607 commented on #22687
We could subdivide workloads into continuous and batch.

[2016-04-20 21:43] derekwaynecarr commented on #24473
If I do the following:

[code]

[2016-04-20 21:44] derekwaynecarr commented on #24473
So even with no code change, the tool is trying to changing something.

[2016-04-20 21:54] derekwaynecarr commented on #24473
Hmm, let me go back to go 1.6.0 and try that out... maybe there is a diff between go 1.6.0 and go 1.6.1

[2016-04-20 21:56] jayunit100 commented on #24471
On it yup

[2016-04-20 21:56] caesarxuchao commented on #23799
AFAIK, there is no workaround. There is no way to specify the preferredVersion for the thirdPartyResource.

[2016-04-20 22:02] smessmer commented on #24350
Kubelet is running in a docker container if that helps. Here's the ps line:

    root      1061  1.0  0.5 1151220 65988 ?       Ssl  Apr13 115:24 /hyperkube kubelet --api-servers=127.0.0.1:8080 --v=2 --containerized --address=10.1.0.2 --enable-server --hostname-override=[public hostname] --allow-privileged=true --config=/etc/kubernetes/manifests --cadvisor-port=0 --cluster-dns=10.3.0.2 --cluster-d

[2016-04-20 22:04] bgrant0607 commented on #23944
Ref #17064

[2016-04-20 22:10] bprashanth commented on #24350
So that's it then
[code]
Why is /sys ro in the kubelet container?
There is unfortunately not much documentation on hairpin mode in the linux kernel out there on the internet, or i haven't been able to find much of it. You'll have to read source, or take my word for it :)

Can you just set it to 1 (instead of cat just echo 1 with the last command) and see if that fixes things? You can also make doc

[2016-04-20 22:14] goltermann commented on #22524
Fixed via #24234.

[2016-04-20 22:14] #22524 closed

[2016-04-20 22:15] #24534 closed

[2016-04-20 22:24] pwittrock commented on #24209
Increased timeout to 90 minutes in #24426

[2016-04-20 22:25] #24209 closed

[2016-04-20 22:26] lavalamp commented on #24440
That test is important, it has caught regressions two or three times. It
should be movable to the other integration test section.

On Wed, Apr 20, 2016 at 12:39 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-04-20 22:27] spiffxp commented on #24228
/cc @kubernetes/sig-testing

[2016-04-20 22:41] hongchaodeng commented on #24528
I have some hypothesis. But I need to verify it. I will submit something to print more info in the test.

[2016-04-20 22:45] fejta commented on #24538
@ixdy ever seen this before?

[2016-04-20 22:50] smessmer commented on #24350
I followed the tutorial at http://kubernetes.io/docs/getting-started-guides/docker/

Giving kubelet rw access to /sys solves the problem. Thank you :)

[2016-04-20 22:51] ixdy commented on #24538
Relevant line is
[code]

Per quick google searching, 143 seems to mean "timed out". Not sure why the checkout took 10 minutes.

[2016-04-20 23:06] charleschen commented on #4869
im using the kubernetes configuration above and i get this error when the pod is trying to mount

[2016-04-20 23:07] charleschen commented on #4869
im using the kubernetes configuration above and i get this error when the node is trying to mount a volume for the pod:

  4s	4s	1	{kubelet cdg}		Warning	FailedSync	Error syncing pod, skipping: Mount failed: exit status 127
Mounting arguments: 172.16.1.3:/scratch/kubernetes/redis /var/lib/kubelet/pods/58bf6b90-074c-11e6-851b-80ee73a91f54/volumes/kubernetes.io~nfs/nfs nfs []
Output: /sbin/mount.nfs

[2016-04-20 23:18] pwittrock commented on #22687
That might be better.  Something like:

##### Need a home???
- pods

##### Continuous Workloads
- deployments
- replica sets
- replication controllers
- daemon sets
- pet sets

##### Run To Completion Workloads
- jobs
- scheduled jobs
- workflows

[2016-04-20 23:18] bprashanth commented on #24350
So apparently that doc needs updating, @kubernetes/docs

[2016-04-20 23:23] bprashanth commented on #24350
But if it was ro that sounds like a bug in the first place, why was it ro? the command to start kubelet does so with --priviledged=true.

@vishh since you're working on our getting started locally experience.

[2016-04-20 23:26] mikedanese opened #24572 "test issue please ignore"
@k8s-oncall do you get this or what? Last test

[2016-04-20 23:27] mikedanese commented on #24572
testing tester test test test

[2016-04-20 23:28] MHBauer commented on #23563
I'd like to help with this effort. It looks like most of the work is done for the various endpoints, but I will look at the PRs and help review them.

[2016-04-20 23:28] mikelorant opened #24573 "AWS master IP range not automatically added to route table"
Minion nodes have their route added to the subnets routing table when they register with the controller manager. This is not the case for the master node and requires manually adding master IP range externally (kube-up.sh).

If the master node can register with the controller manager, this would no longer be an issue. For the API server to be set for the master, the salt template for the /etc/sysc

[2016-04-20 23:30] krousey commented on #24572
Yes I did.

[2016-04-20 23:30] #24572 closed

[2016-04-20 23:33] bgrant0607 commented on #21437
We should update our contributing guidelines, split it into issues vs. PRs, inline the critical content into the templates, and link to the rest:
https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

[2016-04-20 23:35] nebirhos commented on #24002
Hi guys!

I'm getting the same error with a fresh installation on bare-metal Ubuntu machines.

I'm following [this guide](http://kubernetes.io/docs/getting-started-guides/ubuntu/) with Kubernetes v1.2.2, etcd v2.2.5 and flannel v0.5.5.

Kubernetes 1.1.8 used to run smoothly with the same configurations.

[2016-04-20 23:36] bgrant0607 commented on #23944
cc @dchen1107

[2016-04-20 23:37] Random-Liu commented on #23563
@MHBauer Thanks a lot! Really appreciate your help~ :)

[2016-04-20 23:39] screeley44 commented on #24568
@pmorie - I can look into this, can the user or you supply any other steps or notes on how to reproduce... thanks!

[2016-04-20 23:43] bgrant0607 commented on #23944
@yifan-gu @philips For now, experimental runtime-specific options could be passed via annotations on the pod. Something like `rkt.alpha.kubernetes.io/image-stage: stage1`. It would be non-portable, though, and might be subsumed by future first-class API features. #17064 is a good place to discuss that issue.

[2016-04-20 23:46] fejta commented on #24538
@spxtr any idea if we're hitting our disk quota?

[2016-04-20 23:52] ihmccreery commented on #23189
#24014 should provide a lot of the infrastructure necessary for this kind of thing.  However, @bgrant0607, your list above isn't entirely clear to me:

We already test this.

We recreate every VM during an upgrade, so all containers will get restarted at least once.

Pods should *not* be terminating, right?

[2016-04-20 23:55] bgrant0607 commented on #20605
Ref #23492

[2016-04-21 00:02] yifan-gu opened #24576 "When using host network, the pod IP is always empty in downward API"
Turns our that when running a container in host network, its `podStatus *kubecontainer.PodStatus` that is passed to dockertools.SyncPod() will always contain empty IP, as a result, the `PodIP` environment becomes empty.

Maybe we want to use the `apiPodStatus` instead of `podStatus` in this case to [determine the pod IP](https://github.com/kubernetes/kubernetes/blob/v1.3.0-alpha.2/pkg/kubelet/dock

[2016-04-21 00:07] colhom commented on #24229
Similar to #21582

[2016-04-21 00:09] Random-Liu commented on #24576
Why not just set the apiPodStatus.IP to podStatus.IP before `SyncPod`?

[2016-04-21 00:10] charleschen commented on #4869
so if i install nfs-common from apt-get in container running kublete, the mount will go through.  This isn't ideal, am i doing something wrong in the setup?

im using K8S_VERSION="1.2.2"

[2016-04-21 00:23] bgrant0607 commented on #24392
cc @caesarxuchao

[2016-04-21 00:28] bgrant0607 commented on #24411
See also #22702

[2016-04-21 00:35] quinton-hoole commented on #24229
The approach suggested by @goblain in https://github.com/kubernetes/kubernetes/issues/24229#issuecomment-209899231 is a sound one right now.

The ubernetes project docs/proposals/federation.md will help you in the future. We're busy working on that right now.

[2016-04-21 00:36] spxtr commented on #24538
I don't think we're hitting disk quota, the Jenkins machine was well below its limit.

[2016-04-21 00:38] bgrant0607 commented on #20304
An --explicit option (name TBD) to not use any defaults might be useful, also.

[2016-04-21 00:43] smarterclayton commented on #24552
We may also be over allocating memory as well, the algo may be creating a lot of garbage since we do a set of transformations

[2016-04-21 00:45] quinton-hoole commented on #20228
@sjpotter please try http://stackoverflow.com/questions/tagged/kubernetes.

[2016-04-21 00:47] quinton-hoole commented on #21413
Closing as resolved.  Re-open if not.

[2016-04-21 00:47] #21413 closed

[2016-04-21 00:49] quinton-hoole commented on #21668
Closing assuming resolved.  Please try http://stackoverflow.com/questions/tagged/kubernetes or re-open as necessary.

[2016-04-21 00:49] #21668 closed

[2016-04-21 00:49] #23361 closed

[2016-04-21 00:51] timstclair commented on #23397
Almost all tests passing, yay! Remaining failures are:
[code]

3 of those are expected increases in memory usage (as described [here](https://github.com/kubernetes/kubernetes/issues/23397#issuecomment-209583923)). I think the other issue is just that my test cluster has insufficient disk quota (fails on master as well).

[2016-04-21 01:05] AdoHe commented on #24198
I did try to explicitly set the rollingUpdate field to null, but still failed. I will take a deep a look today.

[2016-04-21 01:12] sjpotter commented on #20228
?

[2016-04-21 01:14] derekwaynecarr commented on #24473
I switched to run go 1.6 and have the same problem.

[code]

This is now blocking multiple PRs I need to get merged so if anyone else can assist its much appreciated.

[2016-04-21 01:18] hongchaodeng opened #24577 "[node e2e flake] Failed waiting for pod "privileged-pods/privileged-pod""
Have run into a flake of node e2e. Error message:
[code]

See the [log](https://00e9e64bacbab1afad9a0b529c1cef0c84e4ccd921003c773b-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24570%2Fnode-pull-build-e2e-test%2F2338%2Fbuild-log.txt?qk=AD5uMEtN7I23sVP1IZtsudMG9jO-N5KwDyDzThVhAawP9O5QsnhWUz1dg3ztsdCw5gCiRG7VuJi_oFArAZDWJs1-Opl_yVtR4LMNOnKDSYuJP0FlnFNj3hkR