[2019-03-14 16:47] liggitt commented on #75370
deflake in #75374

[2019-03-14 16:52] #75338 closed

[2019-03-14 17:10] dvlato commented on #69699
Has anyone else experienced the same problem?

[2019-03-14 17:16] vllry commented on #75274
I probably can't take on a lot, but I'll volunteer to help.

[2019-03-14 17:22] brahmaroutu commented on #62778
/open
Metrics is missing for NFS driver.

[2019-03-14 17:22] brahmaroutu commented on #62778
/reopen

[2019-03-14 17:22] brahmaroutu commented on #62778
/remove-lifecycle rotten

[2019-03-14 17:33] MrHohn commented on #74887
The workaround for #74890 seems to have worked and this test started passing. Will wait for it to become stable.

[2019-03-14 17:38] gnufied commented on #69699
Do you have selinux enabled?

[2019-03-14 17:41] andrewsykim commented on #75360
Possibly a bug in the proxy. It flushes iptabes if the proxier is able to use IPVS which seems like the wrong behavior me if there are shared tables/chains between the IPVS and iptables proxier. One workaround I can think of right now is to unload the ipvs kernel module to skip this check.

[2019-03-14 17:46] andrewsykim commented on #75360
/assign

[2019-03-14 17:48] lorenz commented on #60987
Everybody reporting that it happens to them too is not really helping. The cause is known, and I've PRed a fix (https://github.com/kubernetes/kubernetes/pull/73799) over a month ago, but nobody seems to review it. I'd appreciate people testing my branch or getting it to the attention of sig-storage/sig-node members.

[2019-03-14 17:49] andrewsykim commented on #75236
/assign @frapposelli

[2019-03-14 17:49] andrewsykim commented on #75236
/area cloudprovider

[2019-03-14 17:55] andpol commented on #67250
To add a bit more information to this discussion, it's worth noting that the issue described in the original post is not present if you specify `podManagementPolicy: Parallel` in the StatefulSet spec. From what I can tell, this is because the value of `monotonic` is true in the code quoted [above](https://github.com/kubernetes/kubernetes/issues/67250#issuecomment-414754525). I guess this is somewh

[2019-03-14 17:55] PaulFurtado commented on #75360
@andrewsykim oh, that's an interesting workaround, I'll give that a shot, thanks!

[2019-03-14 18:00] frapposelli commented on #75236
Opened a PR to fix this: #75375

[2019-03-14 18:03] andrewsykim commented on #75360
np, I'll try to work on the bug fix in the meantime!

[2019-03-14 18:04] rdxmb commented on #60987
Thanks for that information - I think for non-developers in Go the PR was just overlooked. At least from my side. Hoping this will be fixed/merged soon.

[2019-03-14 18:12] dashpole commented on #75355
It looks like updating the status after the patch to the readiness gate takes longer than expected.

Looking at this failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/9858

From the test logs:
[It] should support pod readiness gates [NodeFeature:PodReadinessGate]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/c

[2019-03-14 18:39] bsalamat commented on #75274
@denkensk @vllry Thank you both! Please read this comment and let me know which part of this effort you would like to work on.

This project has two mostly independent part:
1. Build a priority function for the scheduler.
1. Build an admission webhook to call some API (vSphere, etc) to get physical host information and add the label to the nodes at the time of node creation. Admission webhook is o

[2019-03-14 18:45] ixdy commented on #75372
@jayconrod is pretty good about publishing new `rules_go` releases as soon as a new upstream go version is released, but it's pretty much up to us to update our workspace dependencies.

[2019-03-14 18:45] adampl opened #75378 "emptyDir persistent volumes"
**What would you like to be added**:
I need a volume accessible from different pods on each node, serving as a **shared file cache**. In my case it should be a `tmpfs` volume to provide maximum speed, so I'd use `emptyDir` with `medium: Memory`.

Therefore I'd like `emptyDir` to be available in `PersistentVolumeSpec` just like all other volume sources.

**Why is this needed**:
Currently (AFAIK) th

[2019-03-14 18:48] adampl commented on #75378
@kubernetes/sig-storage-feature-requests

[2019-03-14 18:50] andrewsykim commented on #74894
Seems like we should re-open this issue in kubernetes/cloud-provider-openstack then!

/close

[2019-03-14 18:50] #74894 closed

[2019-03-14 18:53] andrewsykim commented on #75360
/triage unresolved

[2019-03-14 18:54] ddebrecenijr opened #75379 "Unable to authenticate private repository"
**What happened**:
Attempting to use secrets to authenticate for my deployments on a local cluster does not work correctly.
Using imagePullSecrets does not appear to do anything, whether creating it directly from docker/config.json or inputting credentials manually.

**What you expected to happen**:
Secrets should authenticate private repositories as described in documentation.

**How to reproduce

[2019-03-14 18:59] #69792 closed

[2019-03-14 19:33] edgan opened #75380 "The max label value length is too low."
I want to have a AWS instance with a fqdn like the name below, but the current label value limit seems arbitrarily low. I should be able to set a FQDN as a label. As I feel like I should be able to set a subdomain as a label. I am aware of the design URL below. But I see no reason why labels should be limited to hostnames, and not allow things like subdomains or fqdns.

I would understand the rest

[2019-03-14 19:35] mattsmithdatera opened #75382 "Pass Kubernetes Namespace Attribute (or generalized version) To CSI Storage Plugins With Every RPC"
**What would you like to be added**:
I would like for Kubernetes namespaces to be passed in some form to the CSI storage plugin with every CSI RPC.

**Why is this needed**:
Our storage backend has a tenancy model that aligns very well with Kubernetes namespaces.  We've created a CSI plugin to provide storage for Kubernetes-hosted applications, but we are currently unable to sync the Kubernetes PVC

[2019-03-14 19:36] mradmila commented on #23564
Same here. How was this fixed and in what version of K8s?

[2019-03-14 19:50] davidmatson commented on #31424
/remove-lifecycle stale
/lifecycle frozen

[2019-03-14 20:00] #66829 closed

[2019-03-14 20:00] #69107 closed

[2019-03-14 20:22] enisoc commented on #67250
@andpol Thanks, that's a good point. I made sure to mention it in my PR documenting this known issue: https://github.com/kubernetes/website/pull/13190

[2019-03-14 20:28] timuthy opened #75383 "Add TTL for DeferredDiscoveryRESTMapper"
**What would you like to be added**:
The `DeferredDiscoveryRESTMapper` holds some sort of cache for once discovered Resource / Kind objects via its `delegate` instance.
Unfortunately this cache must be invalidates explicitly by its user by calling the `Reset()` method.

It would be nice to make the `DeferredDiscoveryRESTMapper` aware of a TTL mechanism which invalidates the cache or calls `Reset()

[2019-03-14 20:30] timuthy commented on #75383
/sig api-machinery

[2019-03-14 20:31] timuthy commented on #75383
/cc @caesarxuchao @mborsz

[2019-03-14 20:54] axsuul commented on #34314
@viveksinghggits Sorry I ended up moving to Docker Swarm and I don't remember the details anymore, sorry

[2019-03-14 20:54] tburow commented on #74679
bump

[2019-03-14 20:55] tburow commented on #74679
/sig contributor-experience-feature-requests

[2019-03-14 20:56] tburow commented on #74679
@kubernetes/sig-contributor-experience-feature-requests

[2019-03-14 22:06] leblancd commented on #75337
@liggitt,
My request probably wasn't clear enough. I'm not saying that the trust bundles should be combined, they definitely need to be kept distinct. I'm suggesting that a new field be added to the secret used for the default service-account token, e.g. something like the "cluster-signing-ca.crt" here, so that the cluster-signing CA can be retrieved:
[code]

[2019-03-14 22:27] jayconrod commented on #75372
bazelbuild/rules_go#1994 will add support for the new Go releases. I'll cherry-pick that back to the 0.18, 0.17, and 0.16 branches when CI is happy and tag new releases after that. Should be ready tomorrow.

[2019-03-14 22:44] alejandrox1 opened #75388 "[Flaky test] UpgradeTest in master-upgrade"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-new-master-upgrade-master` ([testgrid](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master&width=20)) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce-new-master-upgrade-master&test=UpgradeTest))

**Which test(s) are failing**:
`UpgradeTest`
See [ci-kubernetes-e2e-gce-

[2019-03-14 22:47] alejandrox1 commented on #75388
/remove-sig cluster-lifecycle

[2019-03-14 23:04] wulftone commented on #62788
I would love an answer to this question.  Someone must know!

[2019-03-14 23:12] bgrant0607 commented on #16508
More extreme version: https://k3s.io/

Anyway, this old issue is no longer relevant. We need to rethink what to do in this area.

[2019-03-14 23:12] #16508 closed

[2019-03-14 23:14] bradfitz commented on #75372
Go 1.12.1 is out: https://golang.org/dl/

(And a Go 1.11.x update.)

[2019-03-14 23:14] bradfitz commented on #74890
Go 1.12.1 is out: https://golang.org/dl/

(And a Go 1.11.x update.)

[2019-03-14 23:47] denkensk commented on #75274
@bsalamat @vllry  let me take part 2.  And  I think I can work with vally to write a document  for the whole issue firstly.

[2019-03-14 23:49] jayconrod commented on #75372
rules_go [0.18.1](https://github.com/bazelbuild/rules_go/releases/tag/0.18.1), [0.17.2](https://github.com/bazelbuild/rules_go/releases/tag/0.17.2), and [0.16.8](https://github.com/bazelbuild/rules_go/releases/tag/0.16.8) are now out with support for the new Go versions.

[2019-03-15 00:07] wgliang commented on #75274
@denkensk This is great! It is also necessary, we are missing too much documentation for feature changes.

[2019-03-15 00:10] liggitt commented on #75372
opened https://github.com/kubernetes/kubernetes/pull/75390 with the same set of changes made in https://github.com/kubernetes/kubernetes/pull/74632

build-cross needs to be built/pushed

[2019-03-15 01:10] #62204 closed

[2019-03-15 01:10] #62489 closed

[2019-03-15 01:25] PaulFurtado commented on #75360
@andrewsykim note that unloading the ip_vs module is not actually enough of a workaround because kube-proxy will load the kernel module if it sees that it is available. If I unload the ip_vs module and then rename ip_vs.ko to something else in `/lib/modules` then it does the right thing.

Dug slightly further: the way it probes for modules is by actually running modprobe. So the simplest hack that

[2019-03-15 01:49] EronWright commented on #73760
This is looking like the main tracking issue for enhancing the Downward API to expose the external IP.   May I suggest a revised issue title to reflect that?

[2019-03-15 02:03] leuvataral commented on #73760
Yes, please go ahead. Thanks.

[2019-03-15 02:06] neolit123 commented on #75372
revert for the workaround is on hold here:
https://github.com/kubernetes/kubernetes/pull/75393

[2019-03-15 02:13] xujihui1985 commented on #75357
@kubernetes/sig-api-machinery-proposals

[2019-03-15 02:32] mkornacker opened #75394 "Can't remove ports with patch_namespaced_service"
**What happened**:

A call to (Python CoreV1Api) patch_namespaced_service() did not remove a specific port that was dropped from the V1ServiceSpec.

Using patch_namespaced_service() to *add* a port works fine.

**What you expected to happen**:

For the Service to be updated and the port removed.

**How to reproduce it (as minimally and precisely as possible)**:
svc = client.read_namespaced_service

[2019-03-15 02:32] mkornacker commented on #75394
/sig api-machinery

[2019-03-15 03:18] khteh opened #75395 "`kubectl get pv -n namespace` does not filter output by namespace"
**What happened**:
`kubectl get pv -n namespace` does not filter output by namespace. Instead it returns pv in all namespaces.

**What you expected to happen**:
`kubectl get pv -n namespace` filter output by namespace. Returns pv from the provided namespace.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes versio

[2019-03-15 03:28] neolit123 commented on #75395
/sig cli

[2019-03-15 03:28] danielqsj commented on #75395
Low-level resources, such as nodes and persistentVolumes, are not in any namespace: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#not-all-objects-are-in-a-namespace

[2019-03-15 03:28] idealhack commented on #74679
@kubernetes/sig-network-feature-requests

/sig network
/remove-sig contributor-experience

[2019-03-15 03:28] neolit123 commented on #75350
/remove-kind bug
/kind feature
/sig cli

[2019-03-15 03:29] danielqsj commented on #75395
/close

[2019-03-15 03:29] #75395 closed

[2019-03-15 03:29] neolit123 commented on #75380
/sig aws

[2019-03-15 03:32] danielqsj commented on #75394
@mkornacker I recommend that you can file an issue in https://github.com/kubernetes-client/python.

[2019-03-15 03:39] liggitt commented on #75372
looks like the golang:1.12.1 docker image isn't available yet. once that's available, we'll need to rebuild our cross-build image, then https://github.com/kubernetes/kubernetes/pull/75390 can proceed

[2019-03-15 04:48] yue9944882 commented on #75357
/remove-sig api-machinery
/sig node

[2019-03-15 06:18] andyzhangx commented on #69823
/reopen

[2019-03-15 06:25] andyzhangx opened #75396 "should not remove SMB mapping if original mapping is correct on Windows"
**What happened**:
Following code will remove the original SMB mapping on Windows in the second SMB mount action on the same SMB path:
https://github.com/kubernetes/kubernetes/blob/d5a3db003916b1d33b503ccd2e4897e094d8af77/pkg/util/mount/mount_windows.go#L87-L94

While if there are a few replicas mounting the same SMB file on the same node, the second smb mount would remove the original SMB mount t

[2019-03-15 07:09] feiskyer commented on #75356
@yastij Thanks

[2019-03-15 08:57] mmack commented on #2630
Same here.

[2019-03-15 09:00] tongchao199 commented on #73505
kube-scheduler is [staic pods](https://kubernetes.io/docs/tasks/administer-cluster/static-pod/)，you should ensure where is kubelet --pod-manifest-path flag config。

 If your Kubernetes default scheduler is deployed as static pod, don't edit the yaml file inside /etc/kubernetes/manifest. You need to edit the yaml file outside the /etc/kubernetes/manifest directory.

And systemctl restart kubelet，re

[2019-03-15 09:13] #69852 closed

[2019-03-15 09:19] hex108 commented on #72039
/close

[2019-03-15 09:38] hex108 commented on #72039
/reopen

[2019-03-15 09:52] bertinatto commented on #75275
This job from March 11:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/2312/build-log.txt

This is where it fails:

[code]

Around 10 minutes earlier, it runs this test:

[code]

Which was [removed in January 2019](https://github.com/kubernetes/kubernetes/pull/72617/files#diff-f87246d95872c9c1ea417fd6419dc6e1L417).

So I think this job is ru

[2019-03-15 10:19] zq-david-wang commented on #75394
It seems that when patch a service port, the behaviour is only "add" , I am not sure whether this is apiserver bug.  but the behaviour is inconsistent with other resources (I do know some other resources of type list which can be delete by just "replacing" its parent element., e.g. delete some ingress paths.) My guess is that the parent element for ports is spec, which can only be updated, but not

[2019-03-15 11:20] gyliu513 commented on #74947
Hi @kow3ns , what I was looking for is that I want to statefulset pods can be evicted automatically like other stateless pods, so that the statefulset pods can be recovered on other nodes automatically. Comments?

[2019-03-15 11:25] mmalex commented on #67342
we are also seeing this in EKS 1.11.5, and would also appreciate a backport. thanks

[2019-03-15 11:40] leo1971 commented on #63005
Hi, I got this problem too, how do you fix it ?

[2019-03-15 12:15] #69785 closed

[2019-03-15 12:31] ksandermann commented on #75342
@yastij I see, thanks for the reference!
Is there any estimated time for this to actually get through?
I see that the PR has been stale for 10 days now

[2019-03-15 12:42] panatl commented on #37833
@BruceZu did you find any update on this? I am facing similar issue, after sometime (days) everything stop resolving name and throw unknowhostexception. it works after restarting docker process.

[2019-03-15 12:46] yastij commented on #75342
The design is still in discussion, this will be landing on 1.15

[2019-03-15 12:47] nickychow commented on #66103
#3892

[2019-03-15 13:02] leblancd commented on #75337
@liggitt - Would it at least make sense to clarify the ["Trusting TLS in a Cluster"](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#trusting-tls-in-a-cluster) section for this case? This section talks about trusting the root CA, but this is the wrong CA to add whenever `--cluster-signing-cert-file` is configured.

[2019-03-15 13:03] jeffdyoung commented on #67721
@dims Just an update...

I've been able to secure 2 - fedora 29 s390x  machines for this testing. Unfortunately, I will only be able to test one day a week (probably Sunday nights) because I'm borrowing this HW from our kernel dev team. I'm hoping to have our own HW for middleware test/dev by the end of the year.

That said, I have had success running conformance tests with 1.14.0-beta.1 (running

[2019-03-15 13:09] tghartland commented on #75285
There are no initializeNode calls that take more than a few seconds. I added the time taken from the start of initializeNode to the end of initializeNode to it's log line to check this. The raw logs (grepped for this line) are here https://gist.github.com/tghartland/6a1d5dc1d6664008ff45242fa8a6ccc7.

The red line in the second plot shows the time at which the last new name was observed. So the clu

[2019-03-15 13:13] dims commented on #67721
@jeffdyoung you can try the artifacts from the ci-cross job:
https://gcsweb.k8s.io/gcs/kubernetes-release-dev/ci-cross/

Look for the folder name in `latest-1.15.txt` and stack that to the end of the url above to get the artifacts from the master branch.

Same goes for `latest-1.14.txt` if you want to use the release-1.14 branch.

[2019-03-15 13:13] dims commented on #67721
Thanks for the good news!

[2019-03-15 13:20] rgembalik opened #75401 "Multiplicated mount points for configmap"
EDIT:
Update for anyone who sees this error: About one week ago we've updated straight to kubernetes 1.14. Since then we haven't seen the error occuring, nor did cron detected duplicated mount paths.

**What happened**:
At some point, during the day I discovered, that one of the nodes had ~75k mounts. The node was struggling heavily and overloaded.

`mount | wc -l` returned `74517` while `mount |

[2019-03-15 13:27] rgembalik commented on #75401
@kubernetes/sig-api-machinery-bugs

[2019-03-15 13:31] dims commented on #74890
Thanks @bradfitz !

[2019-03-15 13:50] matthyx commented on #27114
Proposal accepted, see you in Barcelona!

In the meantime, could someone merge my KEP (https://github.com/kubernetes/enhancements/pull/860)?

[2019-03-15 14:08] #72681 closed

[2019-03-15 14:11] anuragprafulla commented on #68026
I'm looking at the pkg/registry/*, all those which are left. I expect to give an update on what all is fixed in the next 24-48 hours.

[2019-03-15 14:25] cofyc commented on #72031
/assign

[2019-03-15 14:47] fcappi opened #75402 "Kubernetes is not scaling up when volume node affinity requires a node in specific AZ (AWS)"
**What happened**:

**K8s cluster:**
- 1 master (us-west-2a) not schedulable
- 1 node (us-west-2c)

**Node labels**
[code]
**volume node affinity (us-west-2a)**
[code]

**Issue restoring volume (us-west-2a)**
[code]

As we can see the volume node affinity requires a node running on us-west-2a AZ, but there is only one node running on us-west-2c.

The cluster auto-scaler is not creating a new node

[2019-03-15 14:48] msau42 commented on #74947
Related discussion: https://github.com/kubernetes/enhancements/pull/719

[2019-03-15 14:49] jonfriesen commented on #68026
hi @anuragprafulla

there is a google sheet that is a bit outdated, maybe you can update that? https://docs.google.com/spreadsheets/d/1VhU6zCk-vaAnbu_XkgsIq5I7jVnezUquWBMhcIN6AJM/edit#gid=0

[2019-03-15 14:49] pohly opened #75403 "k8s.io/component-base should not call klog.InitFlags"
**What happened**:

When updating the dependencies of an E2E test suite that uses test/e2e/framework outside of Kubernetes, the test suite started to fail during startup with an error about `-log-dir` being defined twice.

That's because both the test suite and `k8s.component-base/logs` were calling `klog.InitFlags`. The later gets pulled in via `test/e2e/framework` -> `k8s.io/apiserver` -> `k8s.c

[2019-03-15 14:52] pohly commented on #75403
/sig cluster-lifecycle
/sig api-machinery

[2019-03-15 15:03] mariantalla commented on #75355
Thanks, good to know.

@freehan if it could be worked on, it would really help stabilize CI - which would be super appreciated, especially for release-blocking jobs.

[2019-03-15 15:08] mariantalla opened #75404 "[Flaky test] GenericPersistentVolume[Disruptive] When kubelet restarts Should test that a volume mounted to a pod that is deleted while the kubelet is down unmounts when the kubelet returns"
**Which jobs are flaking**:
* `ci-kubernetes-e2e-gce-cos-k8sbeta-serial` ([testgrid](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-serial&width=20)) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce-cos-k8sbeta-serial%24&test=GenericPersistentVolume))
* `ci-kubernetes-e2e-gce-new-master-upgrade-master$` ([testgrid](https://testgrid

[2019-03-15 15:14] smarterclayton commented on #74947
If you detect a machine fails, and isn't coming back, you delete the node API object.  The linked issue describes a way of simplifying how a higher level component could use this.  No proposal at this point exists to add "non-cloud provider node failure detection" but I would be open to sponsoring that since it is commonly requested.

However, the use of such a system has to be done within the fol

[2019-03-15 15:21] gyliu513 commented on #74947
Thanks @msau42 and @smarterclayton , this really helps and glad to see a enhancement was under discussion. Will go through kubernetes/enhancements#719 and check the detail soon.

[2019-03-15 15:28] andrewsykim commented on #75360
Good to know, thanks for sharing!

[2019-03-15 15:43] mkornacker commented on #75394
Great, thanks for pointing out that workaround.

Please let me know if this is *not* an apiserver bug but a Python SDK bug, in which case I will refile the issue over there.

[2019-03-15 15:53] mariantalla commented on #74890
https://github.com/kubernetes/kubernetes/issues/75372 is expected to resolve this issue.

[2019-03-15 15:57] liggitt commented on #75372
golang:1.12.1 image publish is pending at https://github.com/docker-library/official-images/pull/5550

[2019-03-15 16:04] bclau opened #75406 "Tolerations are doubled when the same toleration key is set twice"
**What happened**:

When creating a pod with the same toleration key (but different operators and values), the resulting pod will have double the number of tolerations expected.

For example, spawning the pod [1] will result in the pod having the following tolerations [2]:

    Tolerations:     node-role.kubernetes.io/master:NoSchedule
                     node-role.kubernetes.io/master=true:NoSch

[2019-03-15 16:04] liggitt commented on #75337
the content of the service account token secret is oriented around communication with the kube-apiserver. it's not a generic mechanism for injecting arbitrary trust bundles into pods

The "trusting TLS in a cluster" should clarify that it is referring to communication with the kube-apiserver

It could make sense to populate a configmap containing a bundle of CSR-signing certs, but that would be di

[2019-03-15 16:11] cmluciano commented on #73158
related: https://github.com/kubernetes/kubernetes/issues/73157

[2019-03-15 16:45] mariantalla commented on #75372
List of related issues that we believe will be unblocked:
* https://github.com/kubernetes/kubernetes/issues/74890
* https://github.com/kubernetes/kubernetes/issues/75039
* https://github.com/kubernetes/kubernetes/issues/74887

[2019-03-15 16:49] liggitt commented on #71807
a lot of controllers got switched to use apps/v1 in 1.14, so there are now no controllers calling Delete on the indicated versions

/close

[2019-03-15 16:49] #71807 closed

[2019-03-15 16:52] andrewsykim opened #75408 "Remove kube-proxy's automatic clean up logic"
**What would you like to be added**:
Remove any logic in kube-proxy that tries to automatically clean up proxy rules based on the proxy mode. Only attempt to clean up if `--cleanup` is set.

**Why is this needed**:
This is a continuation of a discussion from https://github.com/kubernetes/kubernetes/pull/75377. There's a lot of complexity that comes with switching the proxy mode on kube-proxy becau

[2019-03-15 16:52] andrewsykim commented on #75408
/sig network

[2019-03-15 16:53] clkao commented on #74609
from the [gc docs](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents): `Cluster-scoped dependents can only specify cluster-scoped owners, but not namespace-scoped owners.`

Since there's no way to specify namespace in ownerReferences, gc will find the owner dangling and decide to remove the orphan child resources.

[2019-03-15 16:57] etrikp opened #75409 "ScaleIO - SDC nodes never found"
**What happened**:
ScaleIO Storage driver never finds any ScaleIO SDC nodes when attempting to mount a volume. All kubelets that can be SDC nodes are tagged with label.sdcGuid and a *capitalized* GUID of the sdc node. The issue appears to be using the attribute name SdcGUID instead of sdcGuid when parsing the response from the ScaleIO gateway.

**What you expected to happen**:
SDC nodes can be pro

[2019-03-15 17:03] vllry commented on #75408
I can take this on - does this issue have/need a KEP?

[2019-03-15 17:07] andrewsykim commented on #75408
I think not but will defer to @thockin @bowei

[2019-03-15 17:25] etrikp commented on #75409
/sig storage

[2019-03-15 17:29] ddebroy commented on #74594
/assign

[2019-03-15 17:34] PierreF opened #75412 "Kubeadm v1.14 enable insecure-port by default"
**What happened**:

Since kubeadm 1.14 (#72241 is likely the change), the Kubernetes API server created with kubeadm init listen on 127.0.0.1:8080, which allow full access unauthenticated.

**What you expected to happen**:

Like with kubeadm 1.13, Kubernetes API server should NOT listen on port 8080.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we nee

[2019-03-15 17:37] yuwenma commented on #70249
@tallclair Sounds good to me. I'll do that.

[2019-03-15 17:38] PierreF commented on #75412
I guess /sig cluster-lifecycle

[2019-03-15 17:43] dims commented on #75372
Plan of record after the sig-release burndown meeting:
- The 1.12.1 golang image is not yet ready (we are waiting on https://github.com/docker-library/official-images/pull/5550)
- We can't wait till Monday for the 1.12.1 image
- So, let's try hack up kube-cross build to download the 1.12.1 binaries while leaving `FROM golang:1.12.0` as-is
- @BenTheElder has the pen the hack and @dims to review
- @

[2019-03-15 17:51] anuragprafulla commented on #68026
hi @jonfriesen
I seem to only have view access for the sheet. Can't edit.

[2019-03-15 17:59] PierreF opened #75414 "[1.14-beta2] coredns imediatelly crash if Kubernetes API is unavailable"
**What happened**:

In Kubernetes 1.14 beta2, if kube-apiserver is shortly unavailable (e.g. restart), all CoreDNS pod will crash which cause a short DNS outage

**What you expected to happen**:

Like in Kubernetes 1.13, if kube-apiserver is down, CoreDNS continue to run and provide DNS service.

**How to reproduce it (as minimally and precisely as possible)**:

* Create cluster with kubeadm & cal

[2019-03-15 18:05] bart0sh commented on #59109
/reopen

[2019-03-15 18:14] phillipao commented on #74609
I tried changing from a ConfigMap to another ClusterRole and was still able to repro.

I'm aware of GC issues with namespaced objects having cluster-scoped owners (and that's actually what I was originally trying to repro), but I don't think that's coming into play here.

[2019-03-15 18:19] valarauca commented on #30617
This is a guide to resolving the issue. **DO NOT BUILD AUTOMATION AROUND IT**. Handle your keys securely.

If you are new to K8's and don't know WTF is going on this is for you.

1. Login to your google compute engine dashboard go to IAM account settings.
2. Locate the correct account tied to your project, download a `keyfile.json` for that account.
3. Add this to your environment (`~/.bashrc` fil

[2019-03-15 18:19] hoegaarden commented on #75372
I couldn't find any reference to a specific version of go in anago/gcb/gcbmgr.

[2019-03-15 18:20] phillipao commented on #74609
edited the original comment to replace ConfigMap with ClusterRole

[2019-03-15 18:30] klarose commented on #68369
this behavior is not possible to change and remain backward compatible

I don't quite understand how it is impossible to change this. The existing behaviour is that you cannot go from "allocated" to "unallocated" on an update. Rather than asserting on the existence of the field, why not just assert on the change in the value? How does that break compatibility? Are users relying on this case being

[2019-03-15 18:35] BenTheElder commented on #75372
Upgrade to go1.12.1 is almost ready to go, just waiting on the kube-cross image to get promoted https://github.com/kubernetes/kubernetes/pull/75413

[2019-03-15 18:36] kmova commented on #63475
cc: @humblec

[2019-03-15 18:37] imkin commented on #75372
/cc @imkin @taragu @munnerz

[2019-03-15 18:38] tallclair commented on #73172
After some offline discussions, our proposal is:
1. If the redirect is relative, or to the same hostname (different port is OK), it should be followed.
2. If the redirect is to a different hostname, then it should be treated as a success (the documented behavior). However, we will also generate an event in this case to ease debugging.

[2019-03-15 18:48] dims commented on #75372
Here's the test-infra change from @amwat https://github.com/kubernetes/test-infra/pull/11804

[2019-03-15 19:40] #73367 closed

[2019-03-15 19:52] dims commented on #75372
docker-library/official-images#5550 has merged, but @amwat @BenTheElder and i are going ahead with what we had planned earlier.

@BenTheElder is in the middle of a CL request for kube-cross with a hacked Dockerfile in https://github.com/kubernetes/kubernetes/pull/75413

@amwat has a kubekins-test image, but that's under control (different GCS bucket)

[2019-03-15 20:01] caravansary83 opened #75417 "failed to start sandbox container due to CNI failed and containerd-shim not installed on system"
**What happened**: The pod was failed while deploying (stuck at ContainerCreating state).

**What you expected to happen**: The pods should be successfully deployed and work normally (this bug seems to be on and off for a few days).

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2019-03-15 20:12] dims commented on #75372
https://github.com/kubernetes/test-infra/pull/11804 has merged ...

still waiting for kube-cross to reach gcr repo - https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-cross?gcrImageListsize=30

[2019-03-15 20:20] yujuhong commented on #75293
Sounds good to me. Let's put the requirements in a KEP as everyone suggested.

Are we skipping beta to GA? :-)

[2019-03-15 20:32] dims commented on #75372
we have the image now - https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-cross@sha256:f89b510d690188ffbbff18e1268e88d33642d8c95de8b589f6320085a954ad0c/details?tab=info

[2019-03-15 20:40] dims commented on #75372
`docker pull gcr.io/google-containers/kube-cross:v1.12.1-1` works ..
`docker pull k8s.gcr.io/kube-cross:v1.12.1-1` does not work yet ... probably need to wait for some more time

`docker pull k8s.gcr.io/kube-cross:v1.12.0-1` works for sure (that's the existing image that we use)

[2019-03-15 21:03] janetkuo commented on #67250
This works as intended, and is documented here:

https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#updating-statefulsets

[2019-03-15 21:05] dims commented on #75372
looks like the image made it all the way now

[2019-03-15 21:23] thockin commented on #75408
I think a micro-KEP is appropriate.

Specifically to talk about compatibility with regards to flags and to talk about docs (not sure which, but we have to write this down :)

[2019-03-15 21:25] thockin commented on #75408
also to talk about --cleanup (I think it should probably clean up its own mode, not the others)

[2019-03-15 21:37] toruksmakto commented on #69845
How to disable nodeport-binding on LoadBalancer Type Service?

[2019-03-15 21:54] yujuhong commented on #75396
Is there a test for SMB?

[2019-03-15 22:07] mariantalla commented on #75373
@kubernetes/sig-apps-test-failures

[2019-03-15 22:08] mariantalla commented on #75404
@kubernetes/sig-storage-test-failures

[2019-03-15 22:11] mariantalla commented on #75345
Hey @jingxu97, just checking in - any updates on this one?

[2019-03-15 22:36] praseodym opened #75418 "kube-proxy does not work on Debian Buster"
**What happened**:
Installed a new node (joining existing cluster) with Kubernetes v1.13.4 using kubeadm and containerd v1.2.4 as the container runtime. kube-proxy starts but is just repeatedly trying and failing to set up iptables rules. It seems like generated rules are incorrect, see logs down below.

**What you expected to happen**:
kube-proxy starts normally.

**How to reproduce it (as minima

[2019-03-15 22:42] dims commented on #75372
unholding https://github.com/kubernetes/kubernetes/pull/75393 so that can merge

[2019-03-15 22:43] dims commented on #75372
waiting on pull-kubernetes-kubemark-e2e-gce-big to go green in https://github.com/kubernetes/kubernetes/pull/75413

[2019-03-15 22:54] dims commented on #75372
@liggitt can you please approve https://github.com/kubernetes/kubernetes/pull/75413 ?

[2019-03-15 22:58] bsalamat opened #75419 "Integrate backoff mechanism into the scheduling queue and remove the Backoff util"
**What would you like to be added**:
Kubernetes scheduling queue is comprised of three sub-queues:
1. unschedulableQ: is used to hold pods that are unschedulable
2. activeQ: is used to hold pods that should be attempted by the scheduler. This is a heap. A pod with the highest priority is at the head of this queue. Ties are broken by last schedule timestamp.
3. podBackoffQ: similar to activeQ, this

[2019-03-15 23:03] msau42 commented on #75275
The test only upgrades the master, and runs the 1.13 version of the test:

I0311 15:08:44.679] Mar 11 15:08:44.679: INFO: e2e test version: v1.13.5-beta.0.7+6c1e64b94a3e11

[2019-03-15 23:04] msau42 commented on #75275
Are we sure that no other tests were running at the same time?  If you search pv controller logs, do you see other pvs being created within the time of this test?

[2019-03-15 23:10] sachinmsft commented on #75319
@yujuhong does kubelet and kube-proxy has provison to register as service.
I could not find the code to register/unregister kubelet and kube-proxy as windows service here https://github.com/kubernetes/kubernetes

[2019-03-15 23:13] dims commented on #75372
please see discussion at https://kubernetes.slack.com/archives/C2C40FMNF/p1552690316531000 to approve #75413

[2019-03-15 23:15] yujuhong commented on #75319
@sachinmsft it's controlled by a flag, and the relevant code is here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/init_windows.go

[2019-03-15 23:23] dturn commented on #56335
Are the "scale-up" & "scale-down" waiting time ideas still being discussed in this issue? If not can someone suggest a pointer of where to look, the google doc seems to have gone quiet. I'd be happy to open a new issue / doc, I have an app that I'd like to scale via HPA, but is rather sensitive to thrashing.

[2019-03-16 00:03] bradleybluebean commented on #73172
@tallclair, I would suggest not following redirects for a couple reasons:

- Accepting 301/302 as success and stopping there can provide a lightweight way to test the liveness of 3rd party software where you can't control the endpoints available

- From what I can tell, with redirects enabled, the probe does not ultimately succeed until it gets a non-redirected success status. This means each requ

[2019-03-16 00:07] thockin commented on #73172
In general I would argue that redirecting from a health probe is a bad
idea.  I sort of wish we never supported it at all.  For the 0.001% of
people who legit need it, I think this compromise is plausible.

On Fri, Mar 15, 2019 at 5:04 PM Tim <notifications@github.com> wrote:

[2019-03-16 00:09] msau42 commented on #75404
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/75328

[2019-03-16 00:40] yujuhong opened #75421 "GCE/Windows: error while ProvisionEndpoint(): Element not found"
On GCE, we have been seeing occasional flakes caused by failing the create the podsandbox. The error message usually shows "Element not found"

Example:
[code]

I believe we are using a patched win-bridge CNI plugin from https://github.com/nagiesek/plugins/tree/k8sDnsFix/plugins/main/windows/win-bridge
@pjh please correct me if I'm wrong.

- OS: Windows 1809
- Docker: 18.09.2

This is the cause of

[2019-03-16 00:52] andyzhangx commented on #75396
@yujuhong no

[2019-03-16 01:15] pjh commented on #75421
CC @daschott @PatrickLang @nagiesek @madhanrm for this HNS issue. @benmoss @bclau might also be interested; this "element not found" error seems different than other recently-reported HNS issues.

Our win-bridge CNI plugin was built from https://github.com/containernetworking/plugins/pull/271. That particular PR doesn't seem to be the root cause though, we also saw this problem in test runs using

[2019-03-16 01:18] pjh commented on #75421
Does anyone know if there's a hook in the test framework where we could invoke https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/debug/collectlogs.ps1 after failed tests to try to get some debug info?

[2019-03-16 01:22] Sajmani commented on #74890
Thanks for the quick work, all.
On Fri, Mar 15, 2019 at 11:56 AM Maria Ntalla <notifications@github.com>
wrote:

[2019-03-16 03:38] neolit123 commented on #75372
@spiffxp @dims

the SIGABRT is back after using 1.12.1:
[code]

https://prow.k8s.io/log?id=2847&job=ci-kubernetes-e2e-gce-new-master-upgrade-cluster
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

see my comment from here:
https://github.com/kubernetes/kubernetes/pull/75305#issuecomment-472426749

for now, my suggesting is to apply our fix:
https://githu

[2019-03-16 03:47] justinsb commented on #75372
I'd hope we haven't had enough time yet @neolit123 but I'm trying to figure it out....

[2019-03-16 04:15] danderson commented on #67250
I think we're talking about different things. The case I hit seemed to be a straightforward logic bug: if you create a StatefulSet with a broken template (in my case, resource requests such that all pods remain pending for ever), the sts controller will ignore any changes to the StatefulSet from there on. I applied a corrected template that could definitely schedule, deleted all pods... And the St

[2019-03-16 04:37] tpepper commented on #75372
We've finally got #75413 (updates to 1.12.1) and #75393 (revert workaround) merged.

The revert merged first and was caught in a CI run, which in a way nicely failed:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2847
"fatal error: inconsistent mutex state"
This is nice because it is expected and again gives us a feeling the problem is common

[2019-03-16 04:43] hzxuzhonghu commented on #75383
I think it is resonable.

[2019-03-16 05:12] neolit123 commented on #75372
ok, looks like https://prow.k8s.io/log?id=2848&job=ci-kubernetes-e2e-gce-new-master-upgrade-cluster
doesn't have the problem with go 1.12.1.

[2019-03-16 05:18] mpursley commented on #44665
@kopollo

http://localhost:8080/ -> http://localhost.support/:8080  ???

This looks like spam/fishing?  Can someone remove this comment?

[2019-03-16 05:35] mattmoor commented on #22368
We're discussing a similar topic in [Knative](https://github.com/knative/serving) now, and I threw together this proof-of-concept today that freezes the ConfigMap at the point of deployment: https://github.com/mattmoor/boo-maps#kubernetes-mutablemap-and-immutablemap-crds

You can think about it as freezing a Deployment at a particular _generation_ of a ConfigMap.  To pick up updates to the ConfigM

[2019-03-16 07:47] fntlnz commented on #75418
@praseodym as you pointed out this is related to #71305 the only differences are the kubernetes version and container runtime, here you are using containerd while the other is using docker.

I think that this can be closed and the new findings contributed to that issue.

[2019-03-16 07:57] fntlnz commented on #75417
@caravansary83 this seems related to #43967 can you check if the discussion there applies to your configuration and confirm that ?

[2019-03-16 08:01] leakingtapan commented on #68026
@anuragprafulla I fixed the permission. try it again

[2019-03-16 08:10] redbaron commented on #73172
If redirects are always local (which is good), what following them gives
us? Whatever redirect destination is it can be set in a probe directly.

On Sat, 16 Mar 2019, 01:08 Tim Hockin, <notifications@github.com> wrote:

[2019-03-16 09:00] fntlnz commented on #67342
@drewhemm @mmalex the fix in https://github.com/kubernetes/kubernetes/pull/71074 had been backported to the 1.11.x release branch but didn't reach 1.11.5, the first release that has it in the 1.11 series is **1.11.7**. I see that `eks.2` is on 1.11.8 so the only way to get this fixed for the two of you is to upgrade to that.

[2019-03-16 10:28] dims commented on #75372
Whew!!

[2019-03-16 10:37] #69924 closed

[2019-03-16 11:53] dims commented on #75372
filed follow ups for monday
- https://github.com/kubernetes/test-infra/pull/11810
- https://github.com/kubernetes/kubernetes/pull/75422/

cc @spiffxp @BenTheElder @amwat @tpepper @neolit123 @ixdy

[2019-03-16 12:42] mm4tt commented on #74213
Looks like kubemark-500 has some issue. Tests fails often with

[code]

Will disable Prometheus in kubemark, will work on fixing it when I'm back from my vacation.

[2019-03-16 12:46] mariantalla commented on #75186
`should be able to switch between HTTPS and HTTP2 modes` and `diffResources` are still failing consistently, nearly all other `Loadbalancing: L7 GCE` are flaking frequently at the moment.

/reopen

[2019-03-16 12:47] bertinatto commented on #75275
None of the logs I saw had other tests running at the same timeframe, but I'll check again.

[2019-03-16 13:06] bertinatto commented on #75275
This flake indeed seems to be caused by a failing upgrade. From the logs:

[code]

It hasn't happened in almost 3 days, so I I think [this workaround](https://github.com/kubernetes/kubernetes/pull/75305), [later reverted](https://github.com/kubernetes/kubernetes/pull/75393), worked. The proper fix would be the [go 1.12.1 update](https://github.com/kubernetes/kubernetes/issues/75372), which happene

[2019-03-16 13:14] praseodym commented on #75418
Closing in favour of #71305.

[2019-03-16 13:14] #75418 closed

[2019-03-16 14:31] kfox1111 commented on #22368
@mattmoor Thats a very interesting prototype. Thanks for sharing. Thats similar to what I was thinking but it does the snapshot right away, and only once per change. Thats cool in that if multiple deployments were referencing the same configmap version, there would not be duplicates. That would make garbage collection of older versions a bit harder. But I think that could be made to work ok too.

[2019-03-16 14:43] woxiaomaa commented on #37922
兄弟们，因为我们连不到谷歌啊，搭个ss就行了...

[2019-03-16 14:45] hughsaunders commented on #64333
I came across this issue when attempting to use the k8s api from a container injected via a mutating webhook. It failed because the service account token volume mount doesn't exist. I think the reason for this is that the service account admission controller runs before the MAWH.

@runyontr mentioned the idea of dividing MAWH into two categories, how about early and late? Early MAWHs run early and

[2019-03-16 15:16] kfox1111 commented on #22368
I wonder... could the prototype be made to use a configmap directly? lets say an annotation to configmaps was added to have it be treated as a MutableMap. The webhook can then create the immutable configmaps based on the configmap annotated as a mutablemap being created/updated? No crd's would be needed then.

[2019-03-16 15:44] spursy opened #75424 "HINFO: unreachable backend: read udp 10.200.0.9:46159->183.60.83.19:53: i/o timeout"
**I use kubernetes v12, my system is ubuntu 16.**

**I use the followed command to create DNS resource.**

[code]

After created coredns resource: I check the resources status.

1. check coredns service
[code]

2. check code DNS pod endpoints
[code]

3. My DNS config:

[code]

4. Check CoreDNS pod logs

[code]

I found **CoreDNS pod ip** cannot connected to **node DNS server ip address**.

[2019-03-16 15:50] osebelin commented on #24225
Had the same problem. Updating kubectl resolved the issue for me.

[2019-03-16 15:55] mattmoor commented on #22368
@kfox1111 I think the answer to all of your questions is "yes".  IDK what goes into a KEP, or if I have bandwidth (cc @dprotaso is interested in this space, he's the one actually presenting on this problem).

I think if you did this strictly based on ConfigMaps you'd want:
1. An annotation (label?) to indicate that references to a ConfigMap should be snapshotted (this would govern the controller p

[2019-03-16 16:14] #73172 closed

[2019-03-16 16:44] #68731 closed

[2019-03-16 17:02] lewisgcm commented on #28167
@smarterclayton is there any documentation regarding the logs websocket endpoint and getting separate streams?

I found this https://gitlab.cncf.ci/kubernetes/kubernetes/commit/363b61690839b5af92c846c632e7afb0771353bb although using the `channel.k8s.io` WebSocket protocol with the logs endpoint returns a 403, the default `binary.k8s.io` does work but stdout/stderr are merged.

[2019-03-16 17:43] mheese commented on #2630
@jingxu97 I haven't given it a try yet because I don't really feel that there is a consensus that this is what should be done.

Let me come up with a detailed proposal and post it here when ready.

[2019-03-16 18:04] spiffxp commented on #75372
Checking in now that https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2848 has completed.  The "inconsistent mutex state" failure didn't crop up. One flake that appears unrelated (has happened prior to go1.12 migration)

Agree we are clear to move to go1.12.1 the "correct" way.

[2019-03-16 18:09] spiffxp commented on #74960
@mariantalla our ability to cut a release when we want to is impacted by this issue, agree this should remain milestoned to v1.14 until we cut v1.14.0

[2019-03-16 18:12] symonsoft commented on #24725
I'm experiencing the same problem. Uh three years since ticked opened. I think the worst decision in my life is the decision to use fkn Kubernetes at all. The worst product ever.

[2019-03-16 18:13] spiffxp commented on #74984
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=context%20deadline%20exceeded&job=gce
<img width="1099" alt="Screen Shot 2019-03-16 at 11 13 14 AM" src="https://user-images.githubusercontent.com/49258/54479677-87e7bf80-47dc-11e9-968f-917130dd171a.png">

Think we're done here

[2019-03-16 18:15] spiffxp commented on #74978
(from the triage link above)
<img width="1097" alt="Screen Shot 2019-03-16 at 11 15 07 AM" src="https://user-images.githubusercontent.com/49258/54479692-c5e4e380-47dc-11e9-9c11-0f63ae3925c7.png">
calling this resolved

[2019-03-16 18:24] spiffxp commented on #74701
My gut is telling me this enhancement is flaky.  Occurrences seem to have stopped in the past day, but it's unclear to me whether that's because we're not running the test, disabled the feature, not running the test, or something else (go 1.12.1?)

GCE: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gce&test=NodeLease
<img width="1086" alt="Screen Shot 2019-03-16 at 11 20 29 A

[2019-03-16 18:29] spiffxp commented on #75068
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gce&test=EmptyDir.*shared
<img width="1098" alt="Screen Shot 2019-03-16 at 11 29 20 AM" src="https://user-images.githubusercontent.com/49258/54479855-c8483d00-47de-11e9-9a78-193db7a25a93.png">

calling this done

[2019-03-16 18:31] spiffxp commented on #74814
@mariantalla what's the separate issue? this just happened again in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2848 (ref: https://github.com/kubernetes/kubernetes/issues/75239)

[2019-03-16 18:34] spiffxp commented on #74814
At a glance it doesn't appear that there's one underlying failure (29 clusters)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=subPath%20should%20unmount%20if%20pod%20is%20gracefully%20deleted
<img width="1100" alt="Screen Shot 2019-03-16 at 11 33 44 AM" src="https://user-images.githubusercontent.com/49258/54479907-64724400-47df-11e9-9d7d-4c1012163c70.png">

[2019-03-16 18:41] spiffxp commented on #74745
If we focus on gci-gce jobs it looks like it's become _less_ flaky but hasn't gone away entirely

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=e2e-gci-gce&test=Advanced%20Audit
<img width="1104" alt="Screen Shot 2019-03-16 at 11 38 02 AM" src="https://user-images.githubusercontent.com/49258/54479950-0abe4980-47e0-11e9-8831-50d34e177cb4.png">

Definitely not happy as far as k

[2019-03-16 18:44] spiffxp commented on #75370
I think we finally got it with #75374

GCE: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gce&test=NodeLease
<img width="1086" alt="Screen Shot 2019-03-16 at 11 20 29 AM" src="https://user-images.githubusercontent.com/49258/54479751-85d23080-47dd-11e9-9efc-3fd64d5e8841.png">

[2019-03-16 18:46] #66533 closed

[2019-03-16 18:47] spiffxp commented on #75205
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=shorter%20than%20lease%20duration
<img width="1095" alt="Screen Shot 2019-03-16 at 11 47 05 AM" src="https://user-images.githubusercontent.com/49258/54480049-40affd80-47e1-11e9-9fd6-b379aa74ec97.png">

Think this is done

[2019-03-16 18:47] liggitt commented on #75370
agreed, I was watching the same query

[2019-03-16 18:48] spiffxp commented on #75370
/close

[2019-03-16 18:48] #75370 closed

[2019-03-16 18:54] spiffxp commented on #74701
/area platform/gke
/remove priority/important-soon
/priority important-longterm
/remove-kind failing-test
/milestone clear
v1.14 release lead here, I'm clearing from the milestone and dropping this off of the CI Signal board, because it's GKE-specific.

/reopen
It's worth noting GKE unhappiness with NodeLeases in general has returned, but we're not going to be blocking the release on this.
https:/

[2019-03-16 18:58] spiffxp commented on #74890
It's looking like we've addressed this, will wait and see what further runs over the weekend bring in
ref: https://github.com/kubernetes/kubernetes/issues/75372#issuecomment-473498951
ref: https://github.com/kubernetes/kubernetes/issues/75372#issuecomment-473570787

[2019-03-16 19:01] spiffxp commented on #75145
/area platform/gke
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gke&test=Up%24
<img width="1106" alt="Screen Shot 2019-03-16 at 12 00 52 PM" src="https://user-images.githubusercontent.com/49258/54480231-2f67f080-47e3-11e9-9783-8532eecc3894.png">

Think we're done here

[2019-03-16 19:08] spiffxp commented on #75095
We had four green runs, and then the most recent run timed out again (unrelated to NPD).  We may want to understand whether it was due to the CSI flakes/failures that occurred or if something else is going on
<img width="1560" alt="Screen Shot 2019-03-16 at 12 07 35 PM" src="https://user-images.githubusercontent.com/49258/54480326-2297cc80-47e4-11e9-9823-709eb95173fb.png">

[2019-03-16 19:13] spiffxp commented on #71423
1.14: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=k8sbeta&test=Services%20should%20have%20session%20affinity%20work%20for%20LoadBalancer%20service%20with%20ESIPP
<img width="1110" alt="Screen Shot 2019-03-16 at 12 11 07 PM" src="https://user-images.githubusercontent.com/49258/54480353-a356c880-47e4-11e9-95be-ba1f52f9f40c.png">

1.13: https://storage.googleapis.com/k8s-guber

[2019-03-16 19:35] spiffxp commented on #75196
Kicking this back to under investigation, flakes appear to have reduced slightly? maybe? but it's difficult to tell
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=grep%20stdout&job=gce&test=subPath
<img width="1117" alt="Screen Shot 2019-03-16 at 12 33 06 PM" src="https://user-images.githubusercontent.com/49258/54480624-d189d780-47e7-11e9-80b5-f193c9370925.png">

[2019-03-16 19:45] spiffxp commented on #75039
/remove-kind failing-test
/kind flake
At present this doesn't appear to be continuously failing on the jobs listed in the description:
- https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster
- https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new

Overall quantity of failures seems to be increasing
https://storage.googleapis.com/k8s-guber

[2019-03-16 19:48] spiffxp commented on #74887
It appears go1.12.1 may have fixed this as well, moving to observation

[2019-03-16 19:51] spiffxp commented on #75275
Yeah this seems like it has been addressed by the move to go 1.12.1, moving to observation

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Volume%20metrics%20PVController%20should%20create%20bound%20pv%2Fpvc%20count%20metrics%20for%20pvc%20controller%20after%20creating%20both%20pv%20and%20pvc
<img width="1101" alt="Screen Shot 2019-03-16 at 12 50 33 PM" src="https://user-imag

[2019-03-16 19:54] spiffxp commented on #73105
Encountered this a lot while trying to merge PR's related to https://github.com/kubernetes/kubernetes/issues/75372

[2019-03-16 19:56] spiffxp commented on #73105
It's thought this was due to https://github.com/kubernetes/perf-tests/pull/447 so https://github.com/kubernetes/test-infra/pull/11811 has disabled Prometheus

[2019-03-16 20:10] spiffxp commented on #75373
Looking back a week ago, it seems like at least one major cluster started happening around March 1st, so possibly related to go 1.12
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-03-09&test=DaemonRestart#24a9e90c86eb2ad855a0

This may be worth keeping an eye on now that go 1.12.1 has been introduced https://github.com/kubernetes/kubernetes/issues/74890

[2019-03-16 20:13] liggitt commented on #75412
/milestone v1.14
/priority critical-urgent

5b64a9868931f294df242f88fbf3d20d352f3bdd should be reverted and the insecure port explicitly disabled

[2019-03-16 20:16] liggitt commented on #75327
this means the client attempting to contact the kubernetes API was not provided the correct CA bundle

/close

[2019-03-16 20:16] #75327 closed

[2019-03-16 20:17] liggitt commented on #75268
you can override the path kubectl uses to locate its kubeconfig by setting the $KUBECONFIG environment variable. you can also specify multiple paths in the $KUBECONFIG envvar (separated by the path separator character, e.g. `:` on linux)

/close

[2019-03-16 20:17] #75268 closed

[2019-03-16 20:22] spiffxp commented on #75045
I believe this to be unrelated to the go 1.12 issue that was preventing upgrades.  It doesn't immediately appear as though go 1.12.1 is helping here.  I also can't really tell whether the introduction of go 1.12 made things notably worse (after other causes of flakes were fixed)

At this point I'm sortof lumping all of the subpath flakes together in my head, but I'm not sure that's fair.

eg: the

[2019-03-16 20:24] liggitt commented on #75412
reverted in https://github.com/kubernetes/kubernetes/pull/75425

[2019-03-16 21:39] mtaufen commented on #72480
Regarding (1) yes :)
Regarding (2) you should be able to do a rolling update of a deployment or daemonset that switches it to a new configmap reference, rather than updating a configmap in place. It's best to treat configmaps as immutable. `kubectl create configmap` has the `--append-hash` option to help with unique naming.

[2019-03-16 22:46] mtaufen opened #75426 "Tracking issue for WG Component Standard Work"
This issue is to track the broad areas of work being performed by wg-component-standard.
We may want to move it to another location, e.g. component-base repo (but for now can't create issues there).

Overall enhancement issue: https://github.com/kubernetes/enhancements/issues/783

# Flags and ComponentConfig

## Serializers
- [x] Implement a dedicated serializer package for ComponentConfigs
  - ht

[2019-03-16 23:10] msau42 commented on #75196
The fix is waiting for cherry pick to 1.13 in order to fix downgrade job flakes.

There are 3 different bugs open for this test case that are all open due to waiting for 1.13 cherrypick.  Can we consolidate them all?

[2019-03-16 23:10] msau42 commented on #75045
The most recent flakes are on test jobs where the node versions are 1.13, where the fix has not been cherry picked yet.  All flakes on jobs that test against master should be fixed by now.

There are 3 different bugs open for this test case that are all open due to waiting for 1.13 cherrypick.  Can we consolidate them all?

[2019-03-17 00:24] anguslees commented on #74947
Intuitively, this is more about the PV than the node, since pods are always temporary and persistent state is stored externally.  So provided the PV is still available (ie: mount succeeds), why should we care about the original node?

I assume the concern is that the original node might not actually be dead (might be isolated-but-up or down-but-coming-back-sometime), and so we could possibly end u

[2019-03-17 00:24] #75412 closed

[2019-03-17 00:39] Foritus opened #75427 "etcd writing ~4MByte/sec in small multi-master cluster"
**What happened**:

I set up a Kubernetes multi-master cluster in some VMs on my home network by following this guide: https://kubernetes.io/docs/setup/independent/high-availability/ it works great! Except for the part where etcd is writing 4MB/second to disk on a cluster that has 2 masters and 1 worker at the moment. This seems deeply wrong (and likely to burn out an SSD given long enough :) ).

[2019-03-17 00:41] Foritus commented on #75427
/sig scalability

[2019-03-17 00:57] msau42 commented on #74947
I wouldn't draw the line at PV.  Your pods could be using object storage, and may not be able to handle concurrent writers.

[2019-03-17 02:35] michmike commented on #75319
/remove-sig network
sig-network is not needed for this issue

[2019-03-17 02:36] michmike commented on #75319
/sig network

[2019-03-17 02:51] sundaravijeyan commented on #74849
Hi,

Where can i find slack channel

On Wed, Mar 13, 2019 at 1:13 AM Francois Tur <notifications@github.com>
wrote:

[2019-03-17 03:59] neolit123 commented on #75412
thanks for the report @PierreF and for the revert @liggitt
looks like i was missing the context of https://github.com/kubernetes/kubernetes/issues/43784
and was misled by the https://github.com/kubernetes/kubeadm/issues/1283 ticket.

[2019-03-17 04:26] grayluck commented on #71423
Thanks for the nice graph. Look like the fix works. I'll create cherrypick PRs for 1.11 and 1.12 right away.

[2019-03-17 04:59] 8427003 commented on #13488
@realfresh you are the best practices. add `annotation:{creatTime: 12312312} ` in rancher!

[2019-03-17 05:39] Novex commented on #5774
/remove-lifecycle stale

[2019-03-17 06:03] neolit123 commented on #75414
/sig cluster-lifecycle
@PierreF thanks for the ticket.
cc @johnbelamaric

on the kubeadm side, CoreDNS was updated from 1.2.6 to 1.3.1 between 1.13 and 1.14.

and at this point the CoreDNS pods need a restart too?

[2019-03-17 06:06] neolit123 commented on #75379
kubeadm is not supported on Windows ATM.
can you provide feedback of how are you setting this up using kubeadm?

the client is way outdated compared to the server. try upgrading to 1.13.

[2019-03-17 09:04] redbaron commented on #72480
Regarding (2), it is not about how to workaround, it is about Kubernetes
team offering like for like replacement for previous practices.

Before it was enough to have bunch of yaml files and apply them and
everything would sort itself out. Unless kube-proxy is changed to reread
configmap, I can't do it anymore, I am now forced to drop to bash to do
immutable configmap and retemplating, that is wha

[2019-03-17 10:09] k82cn commented on #75108
`TaintNodesByCondition` is used to taint node by node's conditions which are defined by kubernetes. For customized taint, it should be handled by your controller or admission out of tree.

[2019-03-17 10:31] wojtek-t commented on #75171
This https://github.com/kubernetes/kubernetes/pull/74781 should hopefully get it back to where we were previously.

[2019-03-17 10:41] k82cn commented on #75274
node controller may be another option to update the "label"; and it's better to avoid duplicated request to the VM provider for every nodes.

Regarding the race condition, it's acceptable for priorities compared to predicates :).

[2019-03-17 11:01] #66153 closed

[2019-03-17 11:29] khteh commented on #75250
Appears to be a bottleneck with single-pod Elasticsearch. Performance is back to normal after upgrading Elasticsearch to a full-fledged cluster.

[2019-03-17 11:29] #75250 closed

[2019-03-17 11:43] corneliusweig commented on #74179
@juanvallejo Thanks for clarifying this! I think if third-party clients can use the server-side printing tools to get the standard look&feel, this is exactly what I am looking for.

[2019-03-17 12:02] #69961 closed

[2019-03-17 12:20] draveness commented on #68578
It seems like this issue needs to be closed, it was already solved in https://github.com/kubernetes/kubernetes/pull/73713

[2019-03-17 13:47] ojizero commented on #68578
@draveness I saw that PR before and as far as I can tell it didn't address this particular issue, correct me if I'm wrong but it only seems to have updated the dependencies as well as adding logic regarding `JSONPatchMaxCopyBytes`, but negative indices are still allowed (as they are enabled by default in [json-patch](https://github.com/evanphx/json-patch/blob/master/patch.go#L21)) 🤔

Its preceding

[2019-03-17 14:04] #69917 closed

[2019-03-17 14:53] draveness commented on #68578
@ojizero maybe we need @caesarxuchao to help us clarify why #73713 superceded #73553

[2019-03-17 15:02] stszap commented on #28746
@jeff1985 I use [rollout status](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-status-em-) when update deployments and want to wait until the new version is up (e.g `kubectl rollout status --timeout=5m deploy/mydeployment`). There is also [wait](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#wait) command (e.g. `kubectl wait --for=condition=Re

[2019-03-17 15:07] fturib commented on #74849
You may want to go to http://slack.k8s.io/ on channel `kubernetes-users`
for CoreDNS I would suggest : https://slack.cncf.io/

[2019-03-17 16:06] #69909 closed

[2019-03-17 19:09] benmoss commented on #75263
/remove-sig vmware

[2019-03-17 20:32] cr1st1p commented on #65204
If I may - adding some notes - it might be helpful for others, until I get the time to do some more detailed tests and report a bug.

I still had issues with kubelet not starting, with the same error - (version 1.13.4)
My btrfs setup is that btrfs root  is mounted at /, then I have also a subvolume /var and in it a subvolume  /var/lib.
The issue for me I think comes from the fact that I do not hav

[2019-03-17 21:31] amygdala commented on #71908
ditto -- thanks @taegyunum and @pires.

[2019-03-17 22:12] #69992 closed

[2019-03-17 22:12] #69967 closed

[2019-03-18 01:19] fcappi commented on #75402
@kubernetes/sig-autoscaling-bug

[2019-03-18 01:30] anguslees commented on #74947
Sigh, yes you're correct - we can have StatefulSets where the state is somewhere unknown to k8s :(

In this case we have no choice but to trust the state machine - which requires a human to indicate that the original node is appropriately fenced (ie: pods have been killed and any relevant attached PVs have been unmounted/detached.), and we can reschedule just like a "clean" pod eviction.

Note tha

[2019-03-18 01:59] #75108 closed

[2019-03-18 03:12] #70321 closed

[2019-03-18 03:17] denkensk commented on #75274
+1

[2019-03-18 03:20] yue9944882 commented on #70657
/remove-lifecycle stale

[2019-03-18 03:20] yue9944882 commented on #70657
/remove-lifecycle rotten

[2019-03-18 03:21] vllry commented on #75274
I can take 1. @denkensk do you have a KEP started?

[2019-03-18 03:38] denkensk commented on #75274
Yes I just started. I will share the KEP with you later.

[2019-03-18 04:19] vllry commented on #75424
/sig network

[2019-03-18 04:20] vllry commented on #75408
/assign @vllry

(Yay, I can do this now!)

[2019-03-18 04:33] r4j4h commented on #23581
@k , also track https://github.com/crossplaneio/crossplane it is attempting to use CRDs to control many resource types

[2019-03-18 05:13] otakumike commented on #27308
@sbueringer is right and this works even better because it turns out the function doesn't support kubectl's autocompletions. Here's what I'm using now and it seems quite successful:

`alias k="kubectl --namespace=\${KUBECTL_NAMESPACE}" --context=\${KUBECTL_CONTEXT}"`

Hopefully that's helpful to others, too.

[2019-03-18 05:23] wubigo opened #75433 "kubectl can't started the container but docker can"
/sig Node

**What happened**:

docker start the container successfully but  kubectl report  "no such file or directory" error
[code]

**What you expected to happen**:
kubectl start the container without report file not found error

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

docker inspect fluent/fluentd-kubernetes-daemonset:v0.12-debian-

[2019-03-18 05:30] hossainemruz commented on #60164
Experiencing same issue with Kubernetes 1.13.3. Any progress here?

[2019-03-18 06:20] zq-david-wang commented on #75394
Just check with k8s.io/api, the patch strategy for ports in service is merge:
`// ServiceSpec describes the attributes that a user creates on a service.
type ServiceSpec struct {
	// The list of ports that are exposed by this service.
	// More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies
	// +patchMergeKey=port
	// +patchStrategy=merge
	Por

[2019-03-18 06:20] #70000 closed

[2019-03-18 06:23] saiyan86 opened #75435 "Network policies should be distributed on the order of creation"
**What would you like to be added**:

Network policies should be distributed on the order of creation. With this change, Kubernetes will remember the order of network policy events and distribute them to clients in a FIFO order.

**Why is this needed**:

On restart events, network policies will be distributed to informers on a random order. This is unfavorable behavior for network policy clients,

[2019-03-18 06:24] saiyan86 commented on #75435
@kubernetes/sig-network

[2019-03-18 06:29] saiyan86 commented on #75132
@benmoss Cool! Thanks for the heads up 👍

[2019-03-18 06:35] krmayankk commented on #39824
/remove-lifecycle stale

[2019-03-18 06:44] krmayankk commented on #39824
i see that documentation has been fixed to make it clearer that kubectl delete pods wont respect pdb, but is there more needed ?
- should we add kubectl delete pod --respect-pdb like thing
- do we need kubectl evict
- what about kubectl delete deployments/statefulsets ?

[2019-03-18 06:53] WanLinghao commented on #48787
OOM event is not a rare thing in a well-organized cluster, tenants' apps could exceed quota and trigger
 it at any time. When it comes to a busy cluster which got lots of containers and lots of tenants, it
is a big burden for admin to organize and distribute coredump file. In our case, tenant wants to access
their coredump files as soon as possible, so cluster admin would be ready all the time to

[2019-03-18 06:58] Hardy2015 commented on #67895
same for me

[2019-03-18 07:04] zq-david-wang commented on #75394
/sig api

[2019-03-18 07:15] kc004 commented on #18307
Still getting an error in Rancher v2.1.7 Kubernetes v1.13.4 after update cluster from custom/none to Cloud provider Amazon.

[2019-03-18 07:32] WanLinghao commented on #48787
@tallclair @deads2k   Hi,what's your view about this proposal

[2019-03-18 08:15] PierreF commented on #75414
To be sure we all talk about the same issue: when kube-apiserver is restarted, coredns crash (so no DNS in whole cluster, which likely cause application outage) and when kube-apiserver is back, CoreDNS are restarted.

My issue is not that DNS never came back, but that with 1.14 CoreDNS no longer continue to run without kube-apiserver and immediately stop running (e.g. they can't tolerate short res

[2019-03-18 09:45] phanisowjanyavutukuri commented on #72392
I have deployed a sample nginx application and created the kubernetes service with nodeport then with the private ip of the machine am able to curl but am unable to curl with the public ip
Could any one please help me in this
Thanks in advance

[2019-03-18 10:05] toyota790 commented on #73111
I have also got the similar issue when I execute the kubectl create or apply command on version 1.14.0-beta.1 of K8S cluster.
It showed

error: SchemaError(io.k8s.api.autoscaling.v2beta1.PodsMetricSource): invalid object doesn't have additional properties

[2019-03-18 10:10] neolit123 commented on #75414
you try kube-dns instead of CoreDNS with kubeadm:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-addon
so that we can make sure it's a CoreDNS problem.

[2019-03-18 10:15] krzysied commented on #75171
![configmaps_normal](https://user-images.githubusercontent.com/25119199/54523138-168c4600-496f-11e9-8fc1-1b10b042755f.png)
I looks like it is fixed.

[2019-03-18 10:15] #75171 closed

[2019-03-18 10:26] Zvikan commented on #44815
it doesn't exist, it's a suggestion. a good one for the use case.

[2019-03-18 10:31] azze1337 opened #75436 "Kubernetes pull images from private registry fails --> unknown field "imagePullPolicy" in io.k8s.api.core.v1.LocalObjectReference"
Hello!

I'm trying to pull an image from my priavte harbor registry. In Kubernetes I created a secret first as explained in this documentation:

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

Then I tried to implement that into my deployment.yaml:

[code]

When I try to create the deployment I get the following error message:

error: error validating "deploy

[2019-03-18 10:45] #75236 closed

[2019-03-18 10:55] MartinForReal opened #75438 "failed to watch componentstatuses because "watch" is not allowed which differ from docs"
**What happened**:
"Watch" method is not supported on resource "componentstatuses".
**What you expected to happen**:
watch componentstatuses resource without error
**How to reproduce it (as minimally and precisely as possible)**:
[code]
got

[code]

**Anything else we need to know?**:
"watch" is supported as documented  [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#li

[2019-03-18 11:00] MartinForReal commented on #75438
/sig api-machinery

[2019-03-18 11:14] nandiabhishek1 commented on #64309
@subrnath, Can you please tell me how did you allocate huge page to nodes before doing "kudeadm join". I am also having the same problem -

->  I have created single node K8s setup where both master and client are running on host machine. Below is the output of the node -

Capacity:
 cpu:                16
 ephemeral-storage:  486210936Ki
 **hugepages-1Gi:      0
 hugepages-2Mi:      0**
 memory:

[2019-03-18 11:24] zq-david-wang commented on #75394
Maybe the reason that some list resources  do not have specific  merge strategy is that they do not have a proper primary key for its element, hence cannot be merged, and the patch would always replace it... it makes sense to "merge" list with identifiable elements, and "replace" the while list otherwise. Just some guess....

And maybe this is not an issue, just by design

[2019-03-18 11:41] ShuYingya opened #75439 "[sig-storage]failed to mount RBD volume because of "rbd map" hung"
**What happened**:
StatefulSet Pod can't mount **RBD** volume when "rbd map" hung.

Pod in "ContainerCreating" status and the reason is:

[code]

We can find the RBD device has mapped with "lsblk" without mounted.
[code]

From the /var/log/message, we found volumeManager.reconciler were going to Attach volume but method got stuck in executing "rbd map" command.

[code]

**What you expected to happ

[2019-03-18 11:46] mingfang commented on #72051
confirm fixed in v1.14-beta.2
[code]

[code]

[2019-03-18 11:56] ShuYingya commented on #75439
I think add a timeout [in rbd map command](https://github.com/kubernetes/kubernetes/blob/364b18cb9ef1e8da2cf09f33d0fd8042de6b327e/pkg/volume/rbd/rbd_util.go#L219) would be helpful.

To avoid "rbd image" being attach many times when rbd map failed, we can add a cleanup action when timeout exit (exit status code is 124).

@gnufied @saad-ali  Can you help to verify whether it is harmful to the "attac

[2019-03-18 12:16] ShuYingya commented on #72604
@jingxu97 The PR addressed your suggestion, would you PTAL. Thanks

[2019-03-18 12:30] liucimin commented on #75433
Maybe your kubelet is not use docker as runtime。
But it use cri-o?

[2019-03-18 12:31] neolit123 commented on #75406
/sig scheduling

[2019-03-18 12:42] ddebrecenijr commented on #75379
The versioning is my bad, the master and all nodes are on v1.13.4.  The client was my kubectl version that I was using for cli commands.
As for kubeadm, I followed the guidelines outlined [here](https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows.md) by Microsoft Docs, I am using a host-gw flannel ne

[2019-03-18 12:53] neolit123 commented on #75379
thanks for the details,

it was mentioned to me  recently that kubeadm no longer works correctly on Windows nodes, but  i have no means to test this ATM.

...it used to work a couple of years ago.

here is the tracking issue for kubeadm to get this working correctly again in 1.15 (hopefully):
https://github.com/kubernetes/kubeadm/issues/1393

if you find kubeadm / windows problems, please report t

[2019-03-18 12:59] lewandom commented on #66819
Seeing that too on both v1.13.0 and v1.13.4. Trying to clean up iptables rules after `kubeadm reset`:
[code]

I'm willing to debug it further, but don't know what to do as a next step.

[2019-03-18 13:14] liggitt commented on #67895
the option is removed in 1.14 (https://github.com/kubernetes/kubernetes/pull/69255)

[2019-03-18 13:14] #67895 closed

[2019-03-18 13:15] PierreF commented on #75414
There is no restart with kube-dns, the DNS service continue to answer while kube-apiserver is down.

[code]

the DNS service continue to respond while kube-apiserver is down:

[code]

[2019-03-18 13:18] liggitt commented on #39824
`delete` is a generic method... I don't think overloading one specific resource to use a different API is a good idea

doesn't `kubectl drain` use the eviction endpoint already? what would the behavior of an `evict` command be? if eviction was rejected, would the command succeed or fail?

Deletion of a pod-creating controller is intended to remove all pods owned by that controller by default. Prev

[2019-03-18 13:19] frost1990 opened #75441 "An extra sandbox container created after job pod succeed"
/sig node
/area kubelet

@dchen1107
@derekwaynecarr

**What happened**:

I created a cronjob in a kubernetes cluster(version 1.13.1),  the configuration is shown  below:
[code]
Every  minute kubernetes will create a job pod. But  when a job pod completes, sometimes I can find an extra sandbox container which runs the pause program. Here is an example,  job pod hello-1552914120-qvkpr created anothe

[2019-03-18 13:26] MaciekPytel commented on #75402
Seems like you're using a multi-AZ ASG? Those are not supported - Cluster Autoscaler assumes each node in NodeGroup (ASG on AWS) is _exactly_ identical for scheduling purposes (which includes being in the same zone).
If you want to use CA in multi-AZ setup you need to set your cluster so that you have a separate ASG for each AZ.

Also for future reference - https://github.com/kubernetes/autoscaler

[2019-03-18 13:32] patilarpith commented on #40908
AWS ECS Fargate addresses this behaviour by marking a container inside the Pod (aka Task in Fargate) as "essential".

[code]

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html

[2019-03-18 13:32] mariantalla commented on #75373
No failures since March 15th in master-blocking:
![image](https://user-images.githubusercontent.com/5007973/54533446-0d58a480-4982-11e9-83a0-3940332e3329.png)

or 1.14-blocking
![image](https://user-images.githubusercontent.com/5007973/54533479-2feabd80-4982-11e9-8270-2bf0ef7dc32a.png)

Let's keep an eye on it for a couple more days.

[2019-03-18 13:41] mariantalla commented on #75345
/remove-sig node

[2019-03-18 13:42] mcanevet commented on #65274
/remove-lifecycle stale

[2019-03-18 13:48] mariantalla commented on #75404
Yep I think so too; sorry about that.

/close

[2019-03-18 13:48] #75404 closed

[2019-03-18 13:49] mariantalla commented on #75328
/remove-sig node

[2019-03-18 13:54] wojtek-t commented on #75365
@msau42 @saad-ali @kubernetes/sig-storage-bugs - can you please take a look?

[2019-03-18 14:47] liggitt commented on #75438
the component status resource is a non-standard resource, and will not support watch.

API discovery indicates it only supports get/list:

[code]

the linked API documentation indicates that only read (get) and list are supported. contrast with pod documentation (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#read-pod-v1-core) which calls out read (get), list, and watch as di

[2019-03-18 14:47] #75438 closed

[2019-03-18 14:48] liggitt commented on #75436
it looks like your imagePullSecrets list is mis-indented. imagePullPolicy is an attribute of the container, not the image pull secret:

[code]

/close

[2019-03-18 14:48] #75436 closed

[2019-03-18 14:49] deitch commented on #47733
This remains an issue, at least on aws. Anything I can do to help?

[2019-03-18 15:24] zhangguanzhang opened #75443 "cannot use the vip to access the nodeport"
[code]

[2019-03-18 15:25] zhangguanzhang commented on #75443
version: v1.13.4
docker: 18.06.03
os: centos 7.6
kernel: Linux k8s-m3 5.0.2-1.el7.elrepo.x86_64 #1 SMP Wed Mar 13 18:41:45 EDT 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-03-18 15:53] kow3ns commented on #75136
https://github.com/kubernetes/enhancements

[2019-03-18 15:54] johnbelamaric commented on #75414
This is fixed in newer CoreDNS releases: https://github.com/coredns/coredns/issues/2629

The problem was with the K8s client libraries using klog, which crashes if /tmp doesn't exist.

[2019-03-18 15:54] jsafrane commented on #75191
/good-first-issue
/help

[2019-03-18 15:56] jsafrane commented on #75191
Yeah, we just miss a volunteer that would implement this feature. It should be relatively easy and straightforward, following iscsi as an example.

[2019-03-18 15:58] johnbelamaric commented on #75414
@chrisohaver @rajansandeep can we bump to 1.4.0 in k8s? Or will the Corefile changes be an issue?

[2019-03-18 16:07] aojea commented on #74685
Despite it's possible to have domains with trailing periods in the `search` field of the `resolv.conf`,  I
I agree with [ this answer ](https://unix.stackexchange.com/a/437616) about this topic and FQDN and ` search` domains are different topics and enforcing this in kubernetes is not a bad idea since the resolver seems to ignore the trailing dots.

[2019-03-18 16:07] mariantalla commented on #75186
master-blocking runs are clearing out, but 1.14-blocking seem to still include the http2 test ([run #6430](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/6430) is the first that includes https://github.com/kubernetes/kubernetes/pull/75411 in `v1.14`)

[2019-03-18 16:20] spiffxp commented on #74375
/milestone v1.15
This isn't getting fixed this release cycle.  However I strongly suspect we're going to want to address this (maintain our velocity by sticking to a threshold rather than increasing the timeout) in the v1.15 cycle.

[2019-03-18 16:20] spiffxp commented on #71579
/milestone clear
This won't be happening

[2019-03-18 16:21] spiffxp commented on #50752
The description is really misleading given that it says nothing about v1.14.0 in it?

[2019-03-18 16:29] aguilarm opened #75446 "Trailing whitespace in configmaps causes formatting issue"
**What happened**:
- I create a new configmap, where there are no trailing whitespaces on lines, using `|` to make a multil-ine string in yaml.
ex:
[code]
- I edit my configmap with `kubectl edit` or output it as yaml with `kubectl get -oyaml` and the value is human readable or pretty.
- If I later edit that configmap to have a trailing whitespace on one of the lines, `kubectl edit` or `kubectl ge

[2019-03-18 16:39] cmluciano commented on #75361
Seeing this passing for the last three days. I believe this was a flake.

[2019-03-18 16:39] cmluciano commented on #75361
/close

[2019-03-18 16:39] #75361 closed

[2019-03-18 16:40] mariantalla commented on #74375
Yep - it dropped in my backlog unfortunately in favour of other test failures/flakes. Will pick it up once things are more stable, and will work with the 1.15 Ci signal team to move it forward.

cc @alejandrox1

[2019-03-18 16:41] yujuhong commented on #75396
The SMB code is in-tree and not feature gated at all. Is it possible to add a test?

[2019-03-18 17:05] sathish-thangaraj commented on #75191
@jsafrane I would like to work on it! As this my first issue I would like to get some help.

[2019-03-18 17:16] aguilarm commented on #36222
Created a new issue when I hit this again and was able to repro using the trailing whitespace

[2019-03-18 17:17] mariantalla commented on #75345
Hi @jingxu97 / @msau42 - any news on this one? https://github.com/kubernetes/kubernetes/issues/75328 is currently flaking about 15% of the time in release-blocking boards.

[2019-03-18 17:31] bsalamat commented on #72039
PR #74974 implements this feature. We are currently in code freeze for 1.14. The feature will be in 1.15.

[2019-03-18 17:32] liggitt commented on #75446
pretty-printing in more circumstances would be an enhancement to the yaml marshaler. the data is preserved correctly, so the current state is not a bug

[2019-03-18 17:36] oomichi commented on #74432
/cc @oomichi

[2019-03-18 17:37] oomichi commented on #74352
/cc @oomichi

[2019-03-18 17:42] jingxu97 commented on #75345
@mariantalla sorry for the delay. I will work on a fix today.

[2019-03-18 17:45] leakingtapan commented on #69620
/remove-lifecycle stale

You might be hitting the nvme issue: https://github.com/coreos/bugs/issues/2371

1.10 is pretty old now. @cohadar Do you still experience the issue with latest k8s version?

[2019-03-18 17:45] liggitt commented on #75427
a few questions:
* is anything other than kube-apiserver configured to speak to the etcd instances?
* does the kube-apiserver log indicate there are hot-looping API clients (might need to run at --v=4)?
* can you determine which etcd keys are being written frequently?

[2019-03-18 17:46] liggitt commented on #75401
/remove-sig api-machinery
/sig storage

[2019-03-18 17:54] MrHohn commented on #75186
Took a quick look, turned out job "ci-kubernetes-e2e-gce-cos-k8sbeta-ingress" doesn't skip test with the `[Unreleased]` tag.

The job config is auto-generated: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/generated/generated.yaml

@krzyzacy or @yguo0905, how can we add flag `--ginkgo.skip=\[Unreleased\]` to that job?

[2019-03-18 18:00] krzyzacy commented on #75186
hummmmmmm when did that tag becomes a thing?!

[2019-03-18 18:02] rramkumar1 commented on #75186
@MrHohn I think it is here

https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml

[2019-03-18 18:08] MrHohn commented on #75186
Thanks both, let me send a PR to update that.

[2019-03-18 18:15] krzyzacy commented on #75186
Why not use the feature tag? Introduce a new tag that need to be skipped by default will presumably break everything :-)

[2019-03-18 18:16] krzyzacy commented on #75186
[feature:unreleased], instead of [unreleased]

[2019-03-18 18:21] krmayankk commented on #60164
@kow3ns  FYI

[2019-03-18 18:23] spiffxp commented on #73723
/priority important-longterm
remaining work not destined to land in this release

[2019-03-18 18:26] neolit123 commented on #75414
@johnbelamaric @chrisohaver @rajansandeep we are separating the 1.14 branch tomorrow EOD PST (code thaw).
so if we want to push this change, it has to happen before that, otherwise we need to backport it to 1.14 at this point.

[2019-03-18 18:26] spiffxp commented on #43214
This is the only remaining thing I care about from a v1.14 perspective.  Has this landed yet? (FYI @dstrebel @onyiny-ang @jeefy for release notes)

[2019-03-18 18:26] mikebrow commented on #75293
I would split CRI out first then GA, just in case we need breaking change for splitting docker shim out.. but oh heck yeah good to see these discussions happening for the CRI space.

[2019-03-18 18:26] spiffxp commented on #74425
/kind documentation

[2019-03-18 18:29] MrHohn commented on #75186
@krzyzacy That sounds like a reasonable approach, but it means we will need to update most of the ingress tests & jobs (more on-going PRs).

Could we update that job to skip `Unreleased` for now and file an issue to cleanup the tag after code freeze? ( Or maybe https://github.com/kubernetes/ingress-gce/issues/667 will happen first:) )

[2019-03-18 18:32] neolit123 commented on #75414
as per the sig-release slack, SIG Network needs to mention this problem in the "known issues" section https://github.com/kubernetes/kubernetes/issues/74425

[2019-03-18 18:34] spiffxp commented on #75414
v1.14 release lead here, I am FWIW in favor of you attempting to get this change in prior to v1.14.0, even if it doesn't land prior to code thaw and requires a cherry pick or PR directly to `release-1.14`

[2019-03-18 18:34] spiffxp commented on #75414
/milestone v1.14
(to keep an eye on this)

[2019-03-18 18:38] fturib commented on #75414
@johnbelamaric , @neolit123: we did not plan to move to CoreDNS v1.4.0.
due to deprecation without notice (for k8s user. The notice exist for CoreDNS users)
There is [some bug](https://github.com/coredns/coredns/issues/2654) in v1.4.0, that is fixed but not released.
I would rather stick with v1.3.1

[2019-03-18 18:38] krzyzacy commented on #75186
I have a feeling this unrelease tag is running in other jobs.. which branch has this tag?

[2019-03-18 18:44] MrHohn commented on #75186
@krzyzacy The unrelease tag always co-presents with `[Feature:Ingress]` tag. So as long as we patch those ingress jobs it should be fine. https://github.com/kubernetes/test-infra/pull/11820 is updating the remaining jobs:
- k8s-stable3
- k8s-stable2
- k8s-stable1
- k8s-beta

[2019-03-18 18:45] rramkumar1 commented on #75186
+1 to MrHhn

We have the filter on every job config. Each individual test (e. has the unreleased tag based on what branch it needs to be tested on. So if none of the actual tests have "Unreleased" nothing gets skipped.

Ref: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/ingress.go#L431

[2019-03-18 18:48] liggitt commented on #74745
the methodology the test is using is inherently flaky in the face of server-side log rotation

spoke with @tallclair about this, and I think we should do the following:
* now: mark the existing e2e tests as `[flaky]` while we resolve issues
* short-term: take detailed specific-request-to-specific-audit-event tests and make sure we have integration tests covering that
* medium-term: change e2e test

[2019-03-18 18:49] neolit123 commented on #75414
@fturib thanks, noted.
we rather not bump this last minute anyhow.

can someone from the CoreDNS team post a comment here: https://github.com/kubernetes/kubernetes/issues/74425
about https://github.com/coredns/coredns/issues/2629

as you have better understanding of the problem details.
thank you.

[2019-03-18 18:50] krzyzacy commented on #75186
:+1:

[2019-03-18 19:01] liggitt commented on #74745
marking flaky in https://github.com/kubernetes/kubernetes/pull/75447

[2019-03-18 19:01] fturib commented on #74425
@chrisohaver : can you add here a comment about the known issue https://github.com/coredns/coredns/issues/2629 ? Thanks!

[2019-03-18 19:03] shay-berman opened #75448 "Prevent storage class deletion if there are PVC(PV) related - finalizer"
**What would you like to be added**:
Finalizer on the storage class that will prevent storage class deletion if there are PVCs from the subjected storage class.

**Why is this needed**:
Following the new CSI practice, where [CSI secrets](https://kubernetes-csi.github.io/docs/secrets-and-credentials.html) keys defined inside the storage class per CSI operations (controller create\delete\publish\unp

[2019-03-18 19:12] shay-berman commented on #75448
/sig storage

[2019-03-18 19:22] jingxu97 commented on #75448
cc @saad-ali @msau42

[2019-03-18 19:26] vllry commented on #67671
I'd like to suggest switching the name of the field to Preempting (default true), rather than NonPreempting (default false). It's more clear to users.

The API docs indicate that we can tell the difference between unset and false values, so we don't need the default boolean to be false. https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md

[2019-03-18 19:36] chrisohaver commented on #74425
There is a known [issue](coredns/coredns#2629) in CoreDNS 1.3.1, wherein if the Kubernetes API shuts down while CoreDNS is connected, CoreDNS will crash. The issue is [fixed](coredns/coredns#2529) in CoreDNS 1.4.0.

Let me know if more detail is needed.

[2019-03-18 19:52] johnbelamaric commented on #75414
@fturib have you included a relnote for 1.14 regarding the deprecations in the Corefile configuration options? We should get that in for things that were deprecated in 1.3.1 and 1.4.0 now.

[2019-03-18 19:58] rajansandeep commented on #75414
@johnbelamaric I have included release notes in https://github.com/kubernetes/kubernetes/pull/73610 when CoreDNS was bumped to 1.3.1.
Is there another place we might need to add?

[2019-03-18 20:08] caesarxuchao commented on #75383
/assign @caesarxuchao @jpbetz

[2019-03-18 20:08] caesarxuchao commented on #75394
/assign @roycaihw

[2019-03-18 20:08] caesarxuchao commented on #75403
/assign @yliaog

[2019-03-18 20:11] enisoc commented on #67250
@danderson Ah that's different. Can you give some more details to help me understand and reproduce the form of the bug you hit?

I tried the following steps with k8s v1.12.1:

1. I created a StatefulSet apps/v1 with a memory request of `100Gi`.
2. StatefulSet created pod-0 which was stuck Pending due to resource request.
3. I edited the StatefulSet to remove the memory request from the Pod templat

[2019-03-18 20:12] oomichi commented on #71579
Some NOTE here:
- "eks" is set as KUBERNETES_CONFORMANCE_PROVIDER in k/test-infra
- "gke" is set ..
- "aws" is set ..
- "azure" is set as KUBERNETES_CONFORMANCE_PROVIDER in k/cloud-provider-azure
- "skeleton" is used if  KUBERNETES_CONFORMANCE_PROVIDER is not set in k/k
- KUBERNETES_CONFORMANCE_PROVIDER was introduced since https://github.com/kubernetes/kubernetes/pull/36005 for making cloud provi

[2019-03-18 20:17] oomichi commented on #71579
/cc @oomichi

[2019-03-18 20:26] GOVYANSONG commented on #72696
I am hitting the same The object already exits issue on Azure VM windows server 1809 with container.

[2019-03-18 20:30] msau42 commented on #75448
@kubernetes/sig-storage-feature-requests
cc @gnufied

So the way that we deal with this issue today, is that we copy all secrets specified in the storageclass to the PV object.  So theoretically, all information needed should be in the PV object, and these controllers should not be looking at StorageClass for the secrets. Now, we don't have a field for storing snapshot secrets today (nor for resiz

[2019-03-18 20:30] liggitt commented on #75446
trailing space prevents pretty printing here:

https://github.com/kubernetes/kubernetes/blob/52bb829b20ee6729c09215d1d9c8ab94358c8ca5/vendor/gopkg.in/yaml.v2/emitterc.go#L1105-L1107

sourced from here:

https://github.com/go-yaml/yaml/blob/v2/emitterc.go#L1105-L1107

supporting more of the varieties of yaml string wrapping could be opened as a feature request against that component

/close

[2019-03-18 20:30] #75446 closed

[2019-03-18 20:32] liggitt commented on #75435
a common pattern is to wait until the informer is synced before processing any events. depending on a specific event arrival order from existing objects is not recommended

[2019-03-18 20:35] spiffxp commented on #74890
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gce.*upgrade&test=diffResources

Here we can see occurrences of `diffResources` for `/gce.*upgrade/` jobs increased after March 1st when golang 1.12 was introduced
![Screen Shot 2019-03-18 at 1 32 52 PM](https://user-images.githubusercontent.com/49258/54561647-5a3c7b00-4982-11e9-92b1-e8844c8e2018.png)

Here we can see the occurren

[2019-03-18 20:38] spiffxp commented on #74890
/close

[2019-03-18 20:38] #74890 closed

[2019-03-18 20:40] #75180 closed

[2019-03-18 20:40] spiffxp commented on #75275
/close
Situation unchanged, calling this resolved

[2019-03-18 20:40] #75275 closed

[2019-03-18 20:43] spiffxp commented on #75095
/close
Calling this resolved, attributing the previous failures to flakes
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness&show-stale-tests=
![Screen Shot 2019-03-18 at 1 42 31 PM](https://user-images.githubusercontent.com/49258/54562181-b358de80-4983-11e9-85da-b06832169dd0.png)

[2019-03-18 20:45] spiffxp commented on #74887
/close
Calling this resolved
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=gce&test=should%20create%20valid%20firewall%20rules%20for%20LoadBalancer%20type%20service
![Screen Shot 2019-03-18 at 1 44 34 PM](https://user-images.githubusercontent.com/49258/54562306-016de200-4984-11e9-82f0-28bf715e4941.png)

[2019-03-18 20:45] #74887 closed

[2019-03-18 20:46] spiffxp commented on #74813
/remove-kind failing-test
This seems to be primarily a flake

[2019-03-18 20:46] falmar commented on #60164
Everything points that this may be an intended behaviour.

My use case is a node going down or becomes unreachable, not sure if the scheduler is unable to determine the cause of the pod status and making the right decision, becuase evicting the pod to schedule it somewhere else could be a problem in case your pod's state depend on that node's file system.

Although my pods state is backed by block

[2019-03-18 20:47] mariusgrigoriu opened #75449 "bindata in external bazel repository"
e2e tests cannot be linked as an external bazel respository without some patching because bindata is generated with a prefix such as `external/io_k8s_kubernetes`.

We internally patch as follows, but I'm hoping we can upstream something more robust:
[code]

Has anyone considered using the bindata rules from rules_go? https://github.com/bazelbuild/rules_go/blob/master/extras/bindata.bzl

[2019-03-18 20:49] mariusgrigoriu commented on #75449
@kubernetes/sig-testing-proposals

[2019-03-18 20:57] gnufied commented on #75448
Was the decision to copy snapshot and resizing secrets too to PV was mainly because we needed to persist secrets somewhere in-case SC is deleted or was there any other reason?

Isn't it cheaper to have a finalizer on SC than to create new fields in PV specs?

[2019-03-18 21:05] liggitt commented on #75448
storage class is used to inform PV creation and deletion. I wouldn't expect to require a storage class to exist to snapshot a PV

[2019-03-18 21:14] chris-brace commented on #73480
I'm seeing this too but in a totally different situation. Im getting strange results trying to add and remove `nginx-ingress` helm chart via terraform. Terraform hangs when deleting:

```0s    Warning   DeletingLoadBalancerFailed   Service   Error deleting load balancer (will retry): timed out deleting ELB: nginx-ingress-singleton-controller. Could not delete security groups sg-0deb0d409fe5f1c99``

[2019-03-18 21:19] liggitt opened #75450 "kubectl --username/--password no longer work"
`kubectl --username=... --password=...` have worked since 1.0 as a way to pass basic auth credentials to the API server.

In 1.11, these flags were unintentionally removed in https://github.com/kubernetes/kubernetes/commit/3ca222b2d951b95deb825c7f62f6c1a446acf908#diff-d1745d70bc28d1ce59e3f8df9512084fR271

**Environment**:
- Kubernetes version (use `kubectl version`): kubectl 1.11+

/sig cli
/sig a

[2019-03-18 21:20] liggitt commented on #75450
/assign

[2019-03-18 21:33] spiffxp commented on #75345
/milestone v1.14

[2019-03-18 21:33] liggitt commented on #73389
this is likely the availability check:

https://github.com/kubernetes/kubernetes/blob/a4f2590bd8400ca43e2cf09882f493611a3ce289/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go#L238-L250

[2019-03-18 21:35] bsalamat commented on #75274
Regarding the race condition, it's acceptable for priorities compared to predicates :).

Node controller is indeed an option and I agree that the bar for priority functions is lower and the race condition may be accepted in most scenarios, but given that the scheduler could schedule hundreds of pods per second, it might schedule many replicas of a collection on a set of newly added nodes on the sa

[2019-03-18 21:41] spiffxp commented on #75345
/priority important-soon

[2019-03-18 21:43] spiffxp commented on #74419
/close
closing as resolved
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance
![Screen Shot 2019-03-18 at 2 42 42 PM](https://user-images.githubusercontent.com/49258/54565669-1f3f4500-498c-11e9-922a-a7bf91b7bbe8.png)

[2019-03-18 21:43] #74419 closed

[2019-03-18 21:46] athornton commented on #60729
This is biting me as well; in my case I'd like to specify local locks, but generally having a way to pass options, or a clear statement that if I need non-default options on my NFS mounts, I need to create PVs and PVCs and then mount the volumes to my pod with PersistentVolumeClaims, would be good.

[2019-03-18 21:49] corest commented on #43516
This is happening with Azure clusters on k8s `1.13.3/4`. We didn't experience that with `1.11`. However we also skiped `1.12` and now have these random issues where kubelet stops posting updates. Really no issues on api/controller-manager/kubelet. Setting higher values as mentioned here https://github.com/kubernetes/kubernetes/issues/43516#issuecomment-410298676 works, but that's not a solution

[2019-03-18 22:16] frolickingferret445 commented on #71907
/remove-lifecycle stale

[2019-03-18 22:26] pikrzysztof commented on #71975
I'm affected by the same issue as @pehlert on v1.13.3.

The latest pods (where the job still exist) have their `ownerReference` set, but once the job is garbage collected the `ownerReference` is gone.

[2019-03-18 22:27] Boojs commented on #60140
If anyone is in AWS, check this out: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/network_mtu.html#path_mtu_discovery

Need to ensure you have inbound ICMP on your loadbalancers to your instances. This meant that requests to fragment large packets were not getting back to the ELB. Because of that, the packet was never re-sent by the ELB, which meant it was lost. This breaks the TCP session

[2019-03-18 22:40] pehlert commented on #71975
@pikrzysztof Can you run a `kubectl version` and make sure that the "Server Version" is 1.13.3 as well? The problem for me was that I had upgraded the kubelets, but not the API server.

[2019-03-18 23:10] mariantalla commented on #75186
👍 that explains a lot of things 😅
1.14-blocking is now starting to pass; with the https/http2 test removed:
![image](https://user-images.githubusercontent.com/5007973/54569484-f2fae700-49d2-11e9-8d8a-104ebc63a875.png)

[2019-03-18 23:13] Foritus commented on #75427
Nothing else is talking to the etcd instances, they're dedicated to the kube cluster. I'll dig into the logs and see what's going on.

Is there a good way for me to audit etcd activity? Apologies for the newbie questions :)

[2019-03-18 23:29] yliaog commented on #75403
agreed, and as the comment says, it is temporary. It should be fixed.

// TODO(thockin): This is temporary until we agree on log dirs and put those into each cmd.

[2019-03-18 23:34] dcvtruong commented on #74741
I will get the log when the next curator job cycle.  Thanks.

[2019-03-18 23:37] bsalamat opened #75456 "Update existing scheduling framework extension points according to the latest design"
**What would you like to be added**:
We [added the plugin interface and a couple of extension points](https://github.com/kubernetes/kubernetes/pull/70227) for the scheduling framework a few months ago. We improved the scheduling framework design later and made [the interface](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#plugin-api) bet

[2019-03-18 23:45] johnbelamaric commented on #75414
Based on the [deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/) , it should be an "action required" release note indicating that the deprecation has happened and the functionality will be removed in a future Kubernetes release. Those should be documented with "action required:" in front of them as described in the [release notes guide](https://github.com/kuber

[2019-03-18 23:57] bsalamat commented on #67671
I agree. Thanks for the suggestion.

[2019-03-19 00:03] bsalamat commented on #75419
Yes, thank you, @goodluckbot! I cannot officially assign it to you since you are not a member yet, but I remove the help wanted label.

[2019-03-19 00:14] ozankabak opened #75457 "Incompatibility between kubelet and kubeadm and kubectl on which label prefix to use"
**What happened**:

I am seeing the following warnings in `kubelet` logs:
[code]

**What you expected to happen**:

The `kubelet` seems to think that that the label prefix `node-role.kubernetes.io` is not allowed, suggesting `node.kubernetes.io` instead. However, `kubeadm` uses the former prefix to label and taint control plane nodes. Furthermore, `kubectl` displays node labels based on the former

[2019-03-19 00:18] nomcopter commented on #38532
Without this I cannot setup alerts for when arbitrary pods crash. I definitely want those alerts.

[2019-03-19 00:22] ozankabak commented on #75457
@kubernetes/sig-cli-bugs @kubernetes/sig-node-bugs @kubernetes/sig-cluster-lifecycle-bugs

[2019-03-19 00:33] roycaihw commented on #75394
this is by design, but it's missing documentation/example in python client

patch_namespaced_service uses strategic merge patch by default. To remove a key from a list, you could do one of the following:
1. use strategic merge patch
[code]
2. use json patch as @zq-david-wang suggested https://github.com/kubernetes/kubernetes/issues/75394#issuecomment-473232331
3. use update
[code]

ref https://git

[2019-03-19 00:36] yastij commented on #75356
@feiskyer - The problem here seems that when we want to call `EnsureLoadBalancerDeleted` (when processing a delete event) it reconciles the loadbalancer which in turn tries to get the idleTimeout, resulting in an error.

one of the strategies is to still construct our diff in case of a delete and exercise the `dirtyLb` code path at the end. This basically translate into ignoring the error when get

[2019-03-19 00:40] sathish-thangaraj commented on #75191
/assign sathish-thangaraj

[2019-03-19 00:57] andrewsykim commented on #75356
cc @justaugustus

[2019-03-19 01:06] hex108 commented on #72039
Thanks @bsalamat for it. It is similar with a little difference, the PR #74974 aims to select a node, and this issue aims to pick a pod whose StartTime is latter after the node has been selected.

[2019-03-19 01:53] jingxu97 commented on #75345
open a PR #75458 to fix it

[2019-03-19 01:54] leeivan opened #75460 "i < --ginkgo.focus=[Feature:Performance]: syntax error"
/kubemark/run-e2e-tests.sh

Kubemark master name: kubernetes-kubemark-master
Project: microservice-e2e-benchmark
Network Project: microservice-e2e-benchmark
Zone: us-central1-b
Trying to find master named 'kubernetes-kubemark-master'
Looking for address 'kubernetes-kubemark-master-ip'
Using master: kubernetes-kubemark-master (external IP: 35.202.65.239)
**./test/kubemark/run-e2e-tests.sh: line 50:

[2019-03-19 01:55] leeivan commented on #75460
/sig testing

[2019-03-19 01:59] Starnop commented on #69793
No feedback for now. Close it firstly.

[2019-03-19 01:59] #69793 closed

[2019-03-19 02:11] mingfang commented on #71159
This is sometimes still a problem when the CRD does not have openAPIV3Schema then the kind, apiVersion, and metadata.
For example, if crd.yaml looks like this
[code]
Then this shows the problem
[code]

However this works
[code]
[code]

[2019-03-19 02:13] liggitt commented on #71159
That is a distinct issue, and is intentionally done to preserve compatibility with existing schema less CRDs.

[2019-03-19 02:20] mingfang commented on #71159
are there known compatibility issues?
I really always need to get the same metadata information.
Many CRDs like the Istio CRD do not include a schema so that's a big problem for me.

[2019-03-19 02:25] liggitt commented on #71159
If a CRD does not include a schema, and we publish an openapi v2 schema containing only metadata and apiVersion, kubectl will refuse to create instances of the object containing other fields, complaining about "unknown fields"

[2019-03-19 02:28] tossmilestone commented on #68466
/assign
I will take this issue.

[2019-03-19 02:32] mingfang commented on #71159
That sounds like a problem inside kubectl and this is the wrong way to solve it.
I waited for months for this #71192  and it turns out to be useless for me.
This issue was a lot of work so hopefully somebody else can benefit from it.
Thanks

[2019-03-19 02:52] roycaihw commented on #71159
this is to be compatible with old/current kubectl client-side validation, which doesn't honor additionalProperties (and has other [wrong assumptions](https://github.com/kubernetes/kube-openapi/pull/143)). We need to fix kubectl before publishing these fields

[2019-03-19 02:54] wgliang commented on #75406
It seems that it has nothing to do with the scheduler. We should start with the generation and display of the tolerations.

[2019-03-19 02:59] andyzhangx commented on #75396
@yujuhong It should be an e2e test since it requires setting up SMB server first, there is already smb e2e test on windows by running azure file PVC test since azure file is also a SMB service:
https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/workloads/iis-azurefile.yaml
While that test is not in upstream. Not sure whether there is a SMB service on aws or gce.

[2019-03-19 03:00] xing-yang commented on #75448
For snapshot, we have a VolumeSnapshotClass, similar to StorageClass for PV/PVC.  It gets copied to VolumeSnapshotContent and it is used when deleting a VolumeSnapshotContent.  This is similar to how StorageClass gets coped to PV and then used when deleting a PV (https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L656).

[2019-03-19 03:00] danielqsj commented on #75457
@liggitt How about this label prefix `node-role.kubernetes.io` which used across projects ?
Could you give some guideline about whether add it to allowed list or change it to `node.kubernetes.io` ?

I can work on this ticket with your guideline, thanks.
/assign

Ref: https://github.com/kubernetes/kubernetes/pull/68267

[2019-03-19 03:06] liggitt commented on #75457
Or the node role labels should be added by the control plane initialization process, not self-added by the kubelet via --node-labels

[2019-03-19 03:11] mingfang commented on #71159
This reason why this is critical for me is I'm building a new Terraform Provider for Kubernetes here https://github.com/mingfang/terraform-provider-k8s.
It uses the openapi to perform CRUD operations, not unlike kubectl.
Much of the code is driven by the Visitor pattern, which is driven by the kube-openapi proto schemas.
It works really except for CRD based resources because they were missing from

[2019-03-19 03:21] ozankabak commented on #75457
@liggitt: Question about the third option: If `--node-labels` functionality is not there, how would one label their nodes at setup time (not after join) via `kubeadm`? Today, the most convenient way I know of is to use `node-labels` in `kubeletExtraArgs` when using `kubeadm`.

[2019-03-19 03:25] liggitt commented on #75457
I'll let someone more familiar with kubeadm answer that. You can still use --node-labels to self-assign labels (within specific prefixes designated for self-assignment, or with non-k8s labels), but self assignment is not appropriate for labels that let a node self-claim to be a master node.

[2019-03-19 03:27] saiyan86 commented on #75435
@liggitt Could you please explain a little bit why this is not recommended? Is it because k8s is only responsible for maintaining final state but not user's intentions? But in networkpolicy's case, I think subsequent state depends on prior state.

[2019-03-19 03:31] danielqsj commented on #75457
Let kubeadm masters to answer this issue.
/cc @kubernetes/sig-cluster-lifecycle
/unassign

[2019-03-19 03:48] liggitt commented on #75435
Creation order is not part of the documented network policy API for interpreting final policy state.

All individual policies taken together form the effective policy.

Trying to sort existing policies based on creation time so that they can be streamed into place on startup is not a good approach, because it means you can't recreate a policy with the same semantics at a later time. Waiting until

[2019-03-19 04:57] gouki777 opened #75461 "Can't change kube-controller-manager cluster cidr"
**What happened**:

Node k8s-m1 has CIDR 10.244.2.0/24, occupying it in CIDR map
controllermanager.go:496] Error starting "nodeipam"
 controllermanager.go:206] error starting controllers: failed to mark cidr as occupied: cidr
 10.244.2.0/24 is out the range o/16

**What you expected to happen**:
my change kube-controller-manager.config --cluster-cidr 10.247.0.0/16.
but , kube-controller-manager no

[2019-03-19 05:48] mourya007 commented on #73838
Hi, Still working on it ?

[2019-03-19 06:06] sundaravijeyan commented on #74849
Thank you Francois.
 will the support team be online for 24/7?

--
Sundara

On Sun, Mar 17, 2019 at 8:38 PM Francois Tur <notifications@github.com>
wrote:

[2019-03-19 06:14] shiywang commented on #75350
I don't think it's a bug of cli

when you use `kubectl top pods` the `Available v1.ResourceList` from server seems missing.

[code]

@DirectXMan12 @kubernetes/sig-cli-misc
/sig sig-autoscaling-bugs

[2019-03-19 06:30] timuthy commented on #75383
I'm willing to file a PR for this but just wanted to know if you have any concerns.

[2019-03-19 06:37] neolit123 commented on #75414
@johnbelamaric
i'm not sure i understand.
to my understanding, the reason for the coredns crashing problem was a klog related bug: https://github.com/coredns/coredns/pull/2529

why add this under "action required" instead of "known issues" (for 1.3.1)?

[2019-03-19 06:40] neolit123 commented on #75414
@rajansandeep

@neolit123 Is there another place we might need to add?

these PR release notes will not be picked by the release note tool at this point, because the editing has already started.

@chrisohaver 's comment here should suffice...
https://github.com/kubernetes/kubernetes/issues/74425#issuecomment-474069189

[2019-03-19 06:44] #75450 closed

[2019-03-19 06:45] MartinForReal commented on #75438
Thank you!

[2019-03-19 07:01] danielqsj commented on #75406
I cannot reproduce this in master branch. The describe output is
[code]

[2019-03-19 07:08] denkensk opened #75465 "Plugin "DefaultProvider" needs to be registered in BenchmarkScheduling"
**What happened**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Maybe this error is introduced in by one commit (I haven't yet found it).  And we need init DefaultProvider when we setup Scheduler in `scheduler_perf`.

/sig scheduling
/kind bug
/assign
/cc @bsalamat

[2019-03-19 07:33] quakelee commented on #74262
I got a similar issue on CentOS 7 and Kubernetes 1.13.4. Trying to downgrade to 1.13.2 now

[2019-03-19 07:45] neolit123 commented on #75457
kubeadm labels your CP nodes with `node-role.kubernetes.io/master` using an API client, not by using the kubelet `--node-labels` flag. see: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go#L57

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L266-L268
the incompatibility is technically on the ku

[2019-03-19 07:45] neolit123 commented on #75457
/remove-kind bug
/kind design

[2019-03-19 07:46] shay-berman commented on #75448
@msau42 \ @saad-ali
So according to your comment, the CSI secret keys are copied during the PVC provisioning into the PV object, which mean that PVC can function even if storage class was deleted.

Follow up questions:
1. Are all the CSI secret keys copied into the PV object?
    According to the PV k8s [doc](https://kubernetes.io/docs/concepts/storage/volumes/#csi), only the controllerPublish, no

[2019-03-19 07:57] denkensk commented on #67671
Thanks for the suggestion. I will update the code soon.

[2019-03-19 08:05] qiaozhi58 opened #75467 "How can I connect to the port in pod in outside network(port-forward?)"
The Istio which is based on Kubernetes, its official document said:
We can access the Jaeger UI by the following action:
kubectl port-forward -n istio-system $(kubectl get pod -n istio-system -l app=jaeger -o jsonpath=’{.items[0].metadata.name}’) 16686:16686 &

Then can use http://localhost:16686.
But the localhost is a Linux machine, there haven’t a browser.
I must open the browser on a remote ma

[2019-03-19 08:11] qiaozhi58 commented on #75467
/sig service

[2019-03-19 08:25] ozankabak commented on #75457
Yes, there are indeed many places where the `node-role` prefix is used. It seems like a pragmatic solution could be to add this prefix to the allowed list (hence not breaking anyone), but disallowing certain label(s) when self-labeling so that one won't be able to arbitrarily label itself as a master node.

[2019-03-19 09:00] feiskyer commented on #75356
lgtm. the delete operation should continue to do cleanup job even some wrong options are provided from users.

[2019-03-19 09:04] pohly commented on #75403
Just for fun I looked at the history: that comment dates back all the way to 2014 (https://github.com/kubernetes/kubernetes/commit/a570b81220331b7182561643faf556fd4ce5cddb) and has been copied two times already since then, without getting fixed.

That's a long time for something "temporary" :grin:

Please fix it now, it's time.

[2019-03-19 09:05] feiskyer commented on #50752
@spiffxp Thanks for tip, let me add the items for v1.14.

[2019-03-19 09:10] Joseph-Irving commented on #25908
FYI, the tracking issue for this feature is over here https://github.com/kubernetes/enhancements/issues/753 if people want to follow along

[2019-03-19 09:14] humblec commented on #73019
For general use case, if we populate the mounter metrics interface for intree CSI driver, it should populate the metrics via existing PV metric controller, Isnt it ?

[2019-03-19 09:25] aermakov-zalando commented on #72155
/remove-lifecycle stale

[2019-03-19 10:08] liucimin commented on #75441
yes，we also meet this problem.
I will try to fix this problem.
/assign

[2019-03-19 10:28] shreeshailgumgeri commented on #48371
I too had same problem.
Below command solved my issues. Just try out this
systemctl enable kubelet && systemctl start kubelet

[2019-03-19 10:34] neolit123 commented on #75461
/sig api-machinery
/sig network

[2019-03-19 10:35] neolit123 commented on #75443
/sig network
/triage support
/remove-kind bug

[2019-03-19 10:36] neolit123 commented on #75467
/remove-kind feature
/triage support
/sig network

[2019-03-19 10:38] neolit123 commented on #75402
/sig aws
/sig scalability

[2019-03-19 10:47] MaciekPytel commented on #75402
/sig autoscaling
This has nothing to do with scalability. Is there a bot command to unassign sig?

[2019-03-19 10:49] MaciekPytel commented on #75402
Also, as I described above - I think this is WAI. The issue happens because the cluster uses configuration that is not supported. @fcappi Do you think we can close this issue?

[2019-03-19 11:51] errordeveloper commented on #61647
I think that `--register-with-taints` and `--node-labels` would be two candidates to solve first. These are commonly used for identifying groups of nodes (like InstanceGroups in kops, or NodeGroups in eksctl, and (I guess) GKE node pools).

Labels as well as taints can be set on individual nodes via the API, but one needs to know what nodes they want to apply these two. It's hard to determine with

[2019-03-19 12:02] #71016 closed

[2019-03-19 12:03] errordeveloper commented on #61659
xref https://github.com/kubernetes/kubernetes/issues/61647#issuecomment-474330457

[2019-03-19 12:03] errordeveloper commented on #61655
xref https://github.com/kubernetes/kubernetes/issues/61647#issuecomment-474330457

[2019-03-19 12:23] rdxmb commented on #4789
Is there a solution for that?

[2019-03-19 12:24] kivagant-ba commented on #33777
I know that it won't solve all the problems mentioned on the page but it my case it was a typo caused by copy-n-paste.

As you can see [in the documentation](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-cpu):

But some people including me can accidentally copy values of **cpu** limits from **memory** limits and just use wrong syntax.

So the solu

[2019-03-19 12:37] jsravn commented on #43516
I've investigated this in another. The problem I found had to do with using ELBs to load balance apiservers. go-client (the apiserver client library that kubectl uses) doesn't seem to properly detect when the ELB drops the connection. When this happens, the connection goes into a zombie state where kubectl just sends no data. The solution I used was to swap to DNS round robin and have kubectl conn

[2019-03-19 12:41] wsxiaozhang commented on #52757
@rafmonteiro basically, the solution has 2 parts, one for extending K8S scheduling logic, the other one for extending nvidia gpu device plugin. The 1st one is to extend K8S default scheduler with a gpushare-scheduler-extender, which is a separate running service executing gpu sharing specific scheduling logic. The install guide step 1 is to create this gpushare-scheduler-extender service first. St

[2019-03-19 12:43] Mnbill opened #75476 "resizing dynamic pvc"
Hello,

I have a saturated pvc, i want to resize it (from 20GB to 30GB)
My kubernetes version V1.9.3
my pvc in an AWS EBS

I tried this methode  https://github.com/kubernetes/kubernetes/issues/35941#issuecomment-328028093

i resize my ebs, pv

but when i try to apply my pvc file i have this erreor:
The PersistentVolumeClaim "pvc-claim1" is invalid: spec: Forbidden: field is immutable after creatio

[2019-03-19 12:43] cizixs commented on #72593
Pardon me if I'm asking the obvious thing: why can't replicaSet controller just delete failed pods it created? Or when creating new pods, considering the failed pods, and **DO NOT** create new one when there is failed pods?

[2019-03-19 12:44] alewitt2 commented on #71042
/close

[2019-03-19 12:44] #71042 closed

[2019-03-19 12:58] fturib commented on #75414
@neolit123 : There are two kinds of information to put in the release note:
1- the "known issue" - which is now in [Chris comment of #74425](https://github.com/kubernetes/kubernetes/issues/74425#issuecomment-474069189)
2- the CoreDNS configuration's deprecation when you move to last version:
   - deprecation tied to v1.3.1 (which is delivered with k8s 1.14) are documented here  in #73610
   - @joh

[2019-03-19 13:02] mariantalla commented on #75298
Hey @dashpole - is there anything else we can do to figure out where the other pods are coming from? It's a bit weird as these jobs are serial (I think at least). 🤔

fwiw it's also flaking about 15% of the time in `ci-kubernetes-e2e-gce-new-master-upgrade-cluster`

[2019-03-19 13:02] akarasik opened #75477 "Restarting the pause container fails"
**What happened**:
I run the kube-api server as a pod from a yaml file the kubelet manifests directory.
I configured it to run on the bridge network by setting `hostNetwork: false`, and I have port mapping from host's 6443 to containers 6443.
When updating this file, the pod could not be recreated.
In fact I can see many pause containers created, and being removed for that pod.
In the kubelet logs

[2019-03-19 13:04] neolit123 commented on #75414
you can propose changes to the release notes directly here:
https://docs.google.com/document/d/1PAbK3D6-GorRf_Fi1U_q-Vvt9wM4MMh-qQfiq-dtOTE/edit

[2019-03-19 13:04] liggitt commented on #75448
The PV API should remain coherent even in the absence of StorageClass. StorageClass drives creation and deletion of PV objects, but a storage class is not required to drive behavior of an existing PV.

[2019-03-19 13:04] suker200 opened #75478 "Persistence Volume Azure Virtual Machine Scale Sets mount failed"
**What happened**:
Controller Manager can't request to attach the Disk (PV) to Virtual Machine from VMSS

I0319 12:50:40.197498       1 event.go:221] Event(v1.ObjectReference{Kind:"Pod", Namespace:"u001", Name:"u001-cassandra-csb-0", UID:"900a6abd-4a45-11e9-a32f-000d3a6cc167", APIVersion:"v1", ResourceVersion:"2242297", FieldPath:""}): type: 'Warning' reason: 'FailedAttachVolume' AttachVolume.Atta

[2019-03-19 13:09] frost1990 commented on #75441
@@derekwaynecarr

[2019-03-19 13:15] akarasik commented on #75477
/sig cluster-lifecycle
/sig scheduling

[2019-03-19 13:19] jgsqware commented on #75414
We are currently facing this issue (with the `klog` issue) and it affect us pretty badly. do you know if there is a way to mitigate it?

[2019-03-19 13:37] mariantalla commented on #74814
By `separate issue` I meant: https://github.com/kubernetes/kubernetes/issues/75326 (i.e. graceful shutdown, for the pd.csi.storage.gke.io driver in specific).

[2019-03-19 13:44] humblec commented on #75248
/assign @humblec

[2019-03-19 13:45] mariantalla commented on #75328
Expected fix: https://github.com/kubernetes/kubernetes/pull/75458

[2019-03-19 13:49] pikrzysztof commented on #71975
@pehlert indeed that was the issue, thanks for help!

[2019-03-19 13:57] bclau commented on #75406
It seems that it might have been caused by using an older kubectl client. Tried this again on a v1.13.1 (both client and server) and couldn't reproduce.

[2019-03-19 13:57] #75406 closed

[2019-03-19 14:28] saiyan86 commented on #75435
@liggitt Thanks for replying! But I do have a question on this:
[code]

For example, if we have two conflicting network policies, the first one is to deny all ingress traffic and the second one is to allow ingress traffic from some CIDR block. If we apply the deny all policy first and apply allow CIDR policy later, then the user's intent is to deny all ingress except for some CIDR block. If we rev

[2019-03-19 14:42] liggitt commented on #75435
network policies don't conflict, they are additive. they are evaluated like this:

* if no policies select a pod, the pod is unrestricted
* if policies select a pod, the pod is restricted to what is allowed by the union of those policies' ingress/egress rules

that means that order of evaluation is not important

[2019-03-19 14:50] fturib commented on #75414
@jgsqware: I think mitigation will be to use another version of CoreDNS in your deployment. I would prefer @chrisohaver reply/advice on this. (he should be available later today)

[2019-03-19 14:52] corest commented on #43516
After filtering all other logs I can see this for kubelet:

[code]

So for 15min there are no calls for updating status. But also no errors which can cause this

[2019-03-19 15:02] liucimin commented on #75441
finnally, I have found why this happen.
But it will take me sometime to fix it.
So if you are hurry。Maybe you can first fix the cni plugin(which i have fix our cniplugin to support  quick job to
avoid ip leak).
It because the gc will teardown the second sandbox,so  kubelet call the cni to teardown two times.

[2019-03-19 15:04] saiyan86 commented on #75435
This is clear now. Thanks!

[2019-03-19 15:04] #75435 closed

[2019-03-19 15:18] chrisohaver commented on #75414
@jgsqware, Upgrade to CoreDNS 1.4.0.

[2019-03-19 15:22] liggitt commented on #75372
we're now on 1.12.1 official images

/close

[2019-03-19 15:22] #75372 closed

[2019-03-19 15:23] bclau commented on #75421
Oh, I think I encountered this as well when using flannel. I got this: https://paste.ubuntu.com/p/QY237dvzJv/

Apparently, from what I could see in the kubelet logs, the nodes no longer have allocatable IPs, meaning that flannel fails to cleanup the IP allocations after a pod is deleted.

[2019-03-19 15:34] chrisohaver commented on #75414
@jgsqware, If upgrading to CoreDNS 1.4.0, you _may_ want to disable the reload plugin, as there is a bug in that version that causes CoreDNS to crash when the configuration changes (although, it would crash and get restarted, thus reloading the new config).  If you disable reload, you'll need to restart CoreDNS instances manually to reload config changes.

[2019-03-19 15:55] neolit123 commented on #75460
/remove-sig testing
/sig scalability

[2019-03-19 15:56] neolit123 commented on #75460
@kubernetes/sig-scalability-bugs

[2019-03-19 15:58] neolit123 commented on #75476
/remove-help
/sig aws

[2019-03-19 16:09] bclau commented on #75421
If that is the case, then in the folder: ``C:\var\lib\cni\networks\vxlan0`` or ``C:\var\lib\cni\networks\cbr0``, you should see a lot of files, for each allocated IP. Normally, those should have been deleted on deallocation.

According to @dineshgovindasamy, this issue should have been fixed this week in flanneld.

[2019-03-19 16:15] neolit123 commented on #75477
hello, 1.11 is going out of support later this month when 1.14 is released.
you are going to have to upgrade.

to do that you just have to change the config file and wait.
the kubelet should re-create the Pod automatically.

plus

kubeadm

are you using kubeadm or manually managing your kube-apiserver?

[2019-03-19 16:16] neolit123 commented on #75477
/priority awaiting-more-evidence

[2019-03-19 16:20] neolit123 commented on #75417
hello,

sorry. but 1.6 is no longer in the support skew.
you need to upgrade to 1.12.

please re-open if you find the same problem with the new version.

/close

[2019-03-19 16:20] #75417 closed

[2019-03-19 16:25] dashpole commented on #75298
Those pods are from other tests.  For example, the "ds1" pod is from the [daemonset upgrade test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/upgrades/apps/daemonsets.go#L43).  Reading through the test, it looks like it is intentionally being run in parallel with the serial test.  I.E. The daemonset upgrade test creates a daemonset, runs a bunch of other tests, and then verifies

[2019-03-19 16:45] kfox1111 opened #75482 "drain daemonsets"
**What would you like to be added**:
a flag to drain to support draining daemonset managed pods too.

**Why is this needed**:
I needed to blow out container runtime images completely to fix an issue. daemonsets tried to keep pods running.

[2019-03-19 17:11] wangzhen127 commented on #73304
/cc @wangzhen127

[2019-03-19 17:21] metral commented on #64251
/reopen

[2019-03-19 17:23] kfox1111 commented on #75482
Taking a guess here...
@kubernetes/sig-node

[2019-03-19 17:37] hanqiulun commented on #12964
The correct explanation should be When the cluster starts Endpoint-Controller Will check all
 Endpoint list Then put Endpoint name in work_queue, worker get value from work_queue, Found Endpoint no corresponding Service,Just delete Endpoint.

[2019-03-19 17:41] kfox1111 commented on #22368
@dprotaso are you interested? We should come up with some next steps. Who wants to start the KEP? @dprotaso do you want to lead the KEP or should one of us?

[2019-03-19 17:45] corest commented on #48638
I'm experiencing this again with k8s 1.13 and azure only (filtered with `kubelet_node_status.go`):
[code]
For 15 minutes node doesn't update status. There are no issues on network level and node actually is fully operational. Adjusting `--node-monitor-grace-period=` on controller-manager helps, but that is not a solution

[2019-03-19 17:50] liggitt commented on #57354
etcd2 support was dropped in 1.13

/close

[2019-03-19 17:50] #57354 closed

[2019-03-19 18:18] liggitt commented on #69040
/close

resolved in golang

[2019-03-19 18:18] #69040 closed

[2019-03-19 18:25] jcodybaker commented on #66607
We're also seeing this as an issue at DigitalOcean.  It's a concern not just for load-balancer TLS termination, but also for supporting proxy protocol as encouraged in ( https://kubernetes.io/docs/tutorials/services/source-ip/ ).  Traffic addressed to the LB ip from within the cluster never reaches the load-balancer, and the required proxy header isn't applied, causing a protocol violation.

The i

[2019-03-19 18:30] saad-ali opened #75484 "Simplify Kubelet Volume Reconstruction"
**What would you like to be added**:

To simplify the reconstruction code we should either 1) add checkpointing logic to the volume manager so that the entire state of the volume manager is persisted across restarted or 2) with each volume mount, store enough information (maybe as a JSON file) to recreate the entire volume object during reconstruction.

**Why is this needed**:

Kubernetes Kubelet

[2019-03-19 18:47] bizzelicious commented on #64251
/reopen

[2019-03-19 18:59] benmoss commented on #74218
@neolit123 is this something we should be defaulting in kubelet? https://github.com/kubernetes/kubernetes/blob/aa5fda22f23c3bb0a1b5c2853171b7fbd11900b8/cmd/kubelet/app/options/container_runtime.go#L28-L32

[2019-03-19 19:02] philips opened #75485 "CNI version sprawl throughout codebase"
**What would you like to be added**:

Today bumping the CNI version requires touching a bunch of disparate files. [See this PR](https://github.com/kubernetes/kubernetes/pull/75455)

**Why is this needed**:

- centralize this for everyone's sanity
- decrease mistakes in backports

/cc @kubernetes/sig-network-feature-requests

[2019-03-19 19:02] philips commented on #75485
/cc @dcbw @thockin @bboreham @squeed

[2019-03-19 19:06] bertoost commented on #70147
I just dive into this, but it feels pretty weird to define secrets for every namespace. This is causing problems in the future if things get updated.
Maybe a `ClusterSecret` isn't the right approach, but you should be able to get authorized to the private registry globably in your cluster somehow.

[2019-03-19 19:08] liggitt commented on #70147
you can distribute private registry credentials to nodes and all pods can make use of those to pull private images (https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry)

[2019-03-19 19:10] apelisse commented on #68526
/lifecycle frozen

[2019-03-19 19:17] neolit123 commented on #74218
i would say, yes.
these are the defaults for the kubelet `--pod-infra-container-image` flag.

[2019-03-19 19:23] mbohlool commented on #72876
@SFHfeihong There is a PR for this sent by @liggitt #72919

[2019-03-19 19:26] mbohlool commented on #72876
I see your request is timed-out not failed. In HA, I expect the request to fail in the first seconds of the CRD creation, but after that it should go through. I need more logs during this timeout or a consistent way to reproduce it.

[2019-03-19 19:31] rtheis commented on #75414
Can we please get the fix cherry-picked to the next CoreDNS 1.3.x release?

[2019-03-19 19:36] bertoost commented on #70147
thanks @liggitt .. tried couple of things, but can't get it working.. think for now the `imagePullSecrets` is the only solution to go

[2019-03-19 19:47] mtaufen commented on #72480
I think dealing with immutable configmaps is one of the use-cases that kustomize is designed to help with. You're right that it's not necessarily as easy as "just applying" once the name needs to change, so this is something that ought to be solved, either in kustomize or elsewhere.

/cc @monopole

[2019-03-19 20:08] chrisohaver commented on #75414
FWIW, Historically, the coredns project has maintained a single release track.

[2019-03-19 20:13] bertoost commented on #57801
facing the same issue.. I have added the docker-registry secret to the right namespace, values are correct, but it looks like the `Deployment` is not reading it. I have the `imagePullSecrets` on the same level as `containers` (within the `spec`). But no luck.

Kubernetes dashboard shows this error message;
[code]

[2019-03-19 20:21] rtheis commented on #75414
@chrisohaver well that certainly presents support problems for Kubernetes' default cluster DNS.  Is the CoreDNS project considering increasing its support window?

[2019-03-19 20:26] kesterriley commented on #57801
I fixed this by adding the file created by docker login to the home directory
________________________________
From: Bert Oost <notifications@github.com>
Sent: Tuesday, March 19, 2019 8:15:09 PM
To: kubernetes/kubernetes
Cc: kesterriley; Comment
Subject: Re: [kubernetes/kubernetes] imagePullSecrets on a Deployment not been propagated to pods (#57801)

facing the same issue.. I have added the docke

[2019-03-19 20:27] jgsqware commented on #75414
I mitigate the klog issue by mounting an EmptyDir volume to /tmp.

Le mar. 19 mars 2019 à 21:22, Richard Theis <notifications@github.com> a
écrit :

[2019-03-19 20:51] nareshku commented on #74382
I was not able to reproduce this issue with `docker version: 18.06.3`.

[2019-03-19 20:51] DirectXMan12 commented on #75350
it's not an autoscaling or metrics bug -- I think this is purely in the SIG CLI realm -- that `Available` field doesn't come from the metrics API (plus, metrics is SIG Instrumentation)

[2019-03-19 20:52] chrisohaver commented on #75414
I agree.  Just letting you know project's history. While the _history_ cannot change, things could change going forward if there is demand.  IMO, the best place to help create demand for this would be to open an issue in CoreDNS.

[2019-03-19 21:00] bertoost commented on #57801
Yeah I tried that too.. but that also doesn't seem to work for me

[2019-03-19 21:09] tpstaples commented on #68190
getting this as well with my dd-agent and sumologic pods.. still trying to find a solution or what's causing it.   any help would be greatly appreciated if you figured this out

[2019-03-19 21:22] nagiesek commented on #75421
@yujuhong  @pjh I want to clarify, you see this infrequently and seemingly random across test cases? Is there anything like a node restarting or a large number of containers being created that seem to be common?

[2019-03-19 21:29] Foritus commented on #75427
So after bringing the 2nd master back up etcd just completely failed and got stuck in an infinite loop of "elect master -> have election -> repeat". So I'm going to assume things were just pretty screwed and that I should just wait for kubeadm multi-master stuff to not be experimental :).

[2019-03-19 21:29] #75427 closed

[2019-03-19 22:20] JunSun17 opened #75488 "Enable kubectl port forward/exec to set tcp keep alive"
**What would you like to be added**:
This is part of work that relates to https://github.com/kubernetes/kubernetes/issues/63727

Actually also need for other long time session from kubectl, for example:
kubectl rollout status

@kubernetes/sig-cli-feature-requests

**Why is this needed**:

[2019-03-19 22:21] yujuhong commented on #75421
We saw this happening maybe a couple of times per test run on average. Those tests do not trigger node restarts, and I've checked the serial console log to verify that.

Those are mainly conformance tests and do not include stress tests. At most, I'd say ~10 pods are on a node at any time, with each pod containing 2~3 containers, including pause.

We are now trying to trigger collectlogs.ps1 after

[2019-03-19 22:24] yujuhong commented on #75421
@bclau we don't use flannel, and our error message is less verbose with no indication that IP allocation was the issue. Will still check the cni directories to see if there are any problems.  Thanks!

[2019-03-19 22:43] michmike commented on #74218
in our instuctions, we are telling folks to use it like this as well.
[code]

[2019-03-19 22:50] pjh commented on #75421
I just finished a run of the e2e tests in my cluster on GCE where two tests failed with the "element not found" error. I've uploaded the test artifacts from the node with these failures at https://github.com/pjh/kubernetes/tree/75421-element-not-found/e2e-artifacts-hns-endpoint-collectlogs/e2e-test-peterhornyack-windows-node-group-7n03. We [instrumented](https://github.com/kubernetes/kubernetes/co

[2019-03-19 22:53] nagiesek commented on #75421
Thanks a lot @pjh I'll take a look later and update

[2019-03-19 23:31] cheftako commented on #74379
/assign

[2019-03-20 00:05] freehan commented on #75355
When this tests was added (2 or 3 release back), I remember the 10 second waiting timeout  [maxReadyStatusUpdateTolerance](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/pods.go#L56) is enough for kubelet to react and update the pod ready condition.

There might be a bug here.

[2019-03-20 00:31] M00nF1sh commented on #74948
@rajivreddy
Hi, did all endpoint fails health check or just part of them?
Since you used `externalTrafficPolicy: Local`, only nodes with pods scheduled will succeed healthcheck, which is the currect behavior. (otherwise, traffic sent to these nodes will be droped silently).

If you want all nodes receive traffic, you can either schedule pods to all nodes or change to `externalTrafficPolicy: Cluste

[2019-03-20 01:00] dims opened #75491 "Remove make-symlink parameter in hyperkube in 1.16"
Follow up for the deprecation we did in 1.14:
https://github.com/kubernetes/kubernetes/pull/74975

[2019-03-20 01:12] andyzhangx commented on #75478
@suker200 does the attach disk to that instance operation still failed? I think it will retry for attach disk operation.

[2019-03-20 01:35] qiaozhi58 commented on #75467
@neolit123 thanks.

[2019-03-20 02:00] #72876 closed

[2019-03-20 02:09] tossmilestone commented on #75419
@bsalamat I could try on this also, If @goodluckbot have not working on this.

[2019-03-20 02:14] rtheis commented on #75414
@chrisohaver thanks for the suggestion.  I've opened https://github.com/coredns/coredns/issues/2708.

[2019-03-20 02:15] cyrus-mc commented on #51135
I know this issue has been dormant for a while but I did ran into this issue and my research led me here. Having spent some time reading through all the comments I want to try and summarize my understanding and some gaps that I still have.

Using an example of a container with a limit of 10% CPU. This results in a cpu.quota of 10 when period is set to 100. If this application is scheduled, uses up

[2019-03-20 02:23] tossmilestone commented on #68466
@nikhita Hi, do you have any plan to work on this?

[2019-03-20 02:49] chen3961 opened #75492 "Pod mount Ceph RDB volumn failed due to timeout. "timeout expired waiting for volumes to attach or mount for pod""
**What happened**:
Create a pvc by ceph rbd. Mount the pvc to a pod, the pod always in "ContainerCreating" status and events show "Unable to mount volumes for pod "pod-pvc-test_default(d518775c-4a81-11e9-8992-fa163e12865f)": timeout expired waiting for volumes to attach or mount for pod "default"/"pod-pvc-test". list of unmounted volumes=[vol1]. list of unattached volumes=[vol1 default-token-dldl5

[2019-03-20 03:15] #74685 closed

[2019-03-20 03:20] vladimirvivien opened #75494 "Check plugin.CanAttach when VolumeManager.FindAttachablePluginByName is used"
**What would you like to be added**:
Right now there are several places in the volume controller where FindAttachablePluginBySpec is used to determine if a spec is attachable.  That test take into account plugin.CanAttach() to determine attachability.  However, places where FindAttachablePluginByName may may not have that check.

**Why is this needed**:
This is to update volume manager where recon

[2019-03-20 03:20] vladimirvivien commented on #75494
/sig storage

[2019-03-20 03:26] vladimirvivien commented on #74810
/assign

[2019-03-20 03:36] hormes commented on #73958
I suggest splitting the add() to nonblockingAdd() and add() methods, then dispatch events in nonblocking way firstly to make faster watchers not be blocked by slower ones.

The pipeline of updates: store updates ->  incoming buffer of cacher -> input buffer of cacheWatcher. But the incoming buffer size of cacher is 100, which is smaller than the input buffer size of cacheWatcher (1000). When one o

[2019-03-20 03:48] likakuli opened #75495 "statefulset controller create pod too slowly"
/area controller-manager
**What would you like to be added**:
Don't resync statefulset in statefulset controller.
**Why is this needed**:
There are 2000+ sts in my k8s cluster, thus when i create a new sts, it takes a lot of time to create it's pod, i found that every sts will cost 40ms to sync it, then 2000 sts will cost 80s, and there is also a statefulSetResyncPeriod to resync all sts, I don't

[2019-03-20 03:49] likakuli commented on #75495
/sig controller-manager

[2019-03-20 03:54] likakuli commented on #75495
/area controller-manager

[2019-03-20 03:55] daixiang0 commented on #74801
@liggitt any update?

[2019-03-20 03:56] likakuli commented on #75495
@kubernetes/sig-controller-manager-feature-requests

[2019-03-20 04:06] saiyan86 commented on #75172
@schrodit ICMP is dropped by Azure for security reasons. This is intended. Can use curl as a replacement. I will fix the corresponding test.

[2019-03-20 04:27] #71750 closed

[2019-03-20 04:31] snowplayfire commented on #74707
What you understood is exact.

But I think what is printed out is misplaced.  If I want to know the duration of a step,  I can get it from the following line, rather than the current line. That is,  step name and duration are not relevant in every line.

What I want is not to print out one more line, I want to adjust the misplaced logs printed out to make step name and duration in every line relev

[2019-03-20 05:00] vllry commented on #75482
/sig node

[2019-03-20 05:03] vllry commented on #75467
@qiaozhi58 you can run that kubectl command from any authenticated system, EG a desktop computer with a GUI.

[2019-03-20 05:23] likakuli commented on #75495
sig/api-machinery

[2019-03-20 06:15] feiskyer commented on #58034
We're not making any progress yet in this release. Still seeking the possible solutions for non-MSI cases, secret is one option for this.

/milestone v1.15

Related https://github.com/kubernetes/cloud-provider/issues/13 and https://github.com/kubernetes/kubernetes/issues/74379.

[2019-03-20 06:25] hormes commented on #73958
CC @xiang90 @resouer

[2019-03-20 06:43] suker200 commented on #75478
@andyzhangx  the attach disk still be failed. The retry still fail with same error "the VM instance is not provisioned yet" . The node provisioned successfully and join to the cluster (from azure console and kubectl get node )

[2019-03-20 06:46] zhouhaibing089 commented on #74685
@aoje

[2019-03-20 06:47] andyzhangx commented on #75478
@suker200 could you go to azure portal to check whether that vmss instance is in `Running` state? The error comes from azure vmss RP, I doubt there is sth wrong with the vmss instance state.

[2019-03-20 06:58] suker200 commented on #75478
@andyzhangx  thank you for fastly answer, I can sure that the server is running state from Azure Portal without any error. I'm thinking about Azure VMSS Response because it just happened yesterday after 2 weeks ran fine. What can I do to debug this case?

[2019-03-20 07:18] feiskyer commented on #71018
@andrewsykim I think this is true today? CSI is the only solution for this?

[2019-03-20 07:25] szuecs commented on #51135
@cyrus-mc I think we could have been hit a kernel bug or node over provisioning changed scheduling time.
You can now use an alpha gate to set per node different cfs_period to make it smaller than 100ms, which could solve your problem. Use node pools to separate in case you need different cfs_period settings for different workloads.

[2019-03-20 07:55] #75159 closed

[2019-03-20 07:58] uablrek opened #75502 "Specify lb-scheduler for proxy-mode=ipvs with annotations"
**What would you like to be added**:

Possibility to define the scheduling algorithm for a specific service by annotations when using proxy-mode=ipvs.

In the [blog post](https://kubernetes.io/blog/2018/07/09/ipvs-based-in-cluster-load-balancing-deep-dive/) about kube-proxy in ipvs mode this is mentioned;

**Why is this needed**:

This is a useful feature for some applications and can be implement

[2019-03-20 07:59] uablrek commented on #75502
/sig network
/area ipvs

[2019-03-20 08:12] neolit123 commented on #74246
could you please move this to the k/kubeadm repository?
kubeadm tracks it's issues there.

thank you.

[2019-03-20 08:19] ethinx opened #75503 "incorrect container memory metrics"
**What happened**:
Just upgrade cluster to `v1.13.4`. Memory relevant metrics seems incorrect. In Pod spec, set limit to about **4Gi**

[code]

but the metrics `container_spec_memory_limit_bytes` query from cadvisor/promethues, result is about **8.56GB** . As a result, the OOM behavior is incorrect. Beside `container_spec_memory_limit_bytes` the `container_memory_working_set_bytes` or `container_m

[2019-03-20 08:42] captainjack0x7C8 commented on #17088
I tried,but i got error like this
`Error resolving host "serviceB.namespaceB.svc.cluster.local": lookupserviceB.namespaceB.svc.cluster.local on 114.114.114.114:53: no such host`
It seems like ingress controller use public dns to resolve this hostname.
And k8s doc says
"ExternalNames that resemble IPv4 addresses are not resolved by CoreDNS or ingress-nginx because ExternalName is intended to specif

[2019-03-20 08:53] akarasik commented on #75477
@neolit123

the kubelet should re-create the Pod automatically.

Thats the issue. When I change the config file, kubelet tries to recreate it.
It removed the old container, but fails on creating the new pause container, and therefore the new apiserver container itself doesn' created at all.

I use kubeadm to install the cluster (which creates the manifests files).
After I have a running cluster, I

[2019-03-20 09:22] ethinx commented on #75503
@kubernetes/sig-instrumentation-bugs

[2019-03-20 09:31] neolit123 commented on #75477
@akarasik

i'm sorry but i cannot reproduce the problem with 1.12.6.
you can also try removing all your containers and images from this node and try again.

here is what i did:

1) obtained the kubeadm and kubelet from 1.12.6.
2) created a single node control-plane cluster using kubeadm
`sudo kubeadm init --ignore-preflight-errors=all --kubernetes-version=stable-1.12`
3) all pods started fine
4) m

[2019-03-20 09:31] #75477 closed

[2019-03-20 09:37] akarasik commented on #75477
@neolit123 The issue happens only when running in bridge mode, with port mapping.
Try to adding this to the kube-apiserver container:
[code]
and setting this in the spec:
[code]

[2019-03-20 09:41] captainjack0x7C8 commented on #17088
My solution
Target: using ingress in namespaceB to access serviceA in namespaceA
Solution: create endpoint in namespaceB point to the clusterIP of serviceA
like this
`
kind:Service
apiVersion: v1
metadata:
  name: serviceB
specs:
  ports:
  - protocol: TCP
  - port: <port of serviceA>
  - targetPort: <port of serviceA>
---
kind: Endpoints
apiVersion: v1
metadata:
  name: serviceB
subsets:
- addres

[2019-03-20 09:45] neolit123 commented on #75477
still works for me:
[code]

[code]

[2019-03-20 09:49] akarasik commented on #75477
That's strange.
So you can update the yaml successfuly after adding thos settings?

[2019-03-20 09:51] redbaron commented on #60601
/remove-lifecycle stale

On Wed, 20 Mar 2019, 01:04 fejta-bot, <notifications@github.com> wrote:

[2019-03-20 09:56] neolit123 commented on #75477
So you can update the yaml successfuly after adding thos settings?

yes, tried a couple of times.

for me Docker is at 17.09 and the host is a Ubuntu 17.10.
i'd suggest you try on a fresh node e.g. fresh VM.

[2019-03-20 09:59] andyzhangx commented on #75478
@suker200 get the details from the log activity of that vmss and then file a ticket

[2019-03-20 10:18] kongsys commented on #65080
/reopen

[2019-03-20 10:22] suker200 commented on #75478
@andyzhangx  can you point me the code which controller uses to query the vmss node info for this checking ? I will reproduce the query to test it

[2019-03-20 10:23] hugoperis commented on #66560
/reopen

[2019-03-20 10:33] andyzhangx commented on #75478
https://github.com/kubernetes/kubernetes/blob/c27b913fddd1a6c480c229191a087698aa92f0b1/pkg/cloudprovider/providers/azure/azure_controller_vmss.go#L90

I see your cluster is based on centos, have you ever attached a disk to a vmss instance by k8s successfully before? could you provide the controller manager logs?

[2019-03-20 10:37] ethinx commented on #75503
check in kubectl describe <node>

[code]

differ to docker stats

[code]

[2019-03-20 10:40] globervinodhn opened #75508 "Wrong test names for E2E tests needs to be corrected"
**What would you like to be added**: It has been noticed that few E2E tests have wrong test names. The tests validate a scenario which is not in line with the test name.

**Why is this needed**: This clean-up is necessary so that the uniformity is maintained with respect to test names and the test scenario.

/kind cleanup

Tests which require correction: (Filename - Test Name - Requested correctio

[2019-03-20 10:53] boosty commented on #38532
My team uses a custom controller to publish OOM events:
https://github.com/xing/kubernetes-oom-event-generator

It works by listening to Pod change events, checks the status of every container and searches for those claiming they were OOMKilled previously.

The same idea could be applied to look for other previous states, but OOM was the most important for us to tackle.

That being said, I would p

[2019-03-20 10:56] mcortinas commented on #66560
/reopen

[2019-03-20 10:59] hokiegeek2 commented on #38532
@boosty cool, thanks for providing the link! That is definitely along the lines of what I am interested in. Agreed, I'd like to see this general capability baked into k8s.

[2019-03-20 11:07] kousu commented on #16085
/reopen
/remove-lifecycle rotten

[2019-03-20 11:07] kousu commented on #16085
shucks

[2019-03-20 11:21] aojea commented on #74685
@zhouhaibing089 what I'm trying to point out is that my understanding is that the [linux resolver  always query for the FQDN](http://man7.org/linux/man-pages/man3/resolver.3.html)

and doesn't matter if you add a trailing dot or not to the domain used in the `search` field, thus server A in your example is always going to receive a query to an FQDN and not going to do a recursive search.

If you d

[2019-03-20 11:28] mariantalla commented on #75355
Thanks @freehan - do you have time to take a look? 🙏It would help to know (especially if we need to include something in known issues).

[2019-03-20 11:32] pontiyaraja commented on #75022
facing some blocks, ref : [https://groups.google.com/forum/#!topic/kubernetes-sig-node/9e93aO0D2C8](https://groups.google.com/forum/#!topic/kubernetes-sig-node/9e93aO0D2C8)

[2019-03-20 11:42] skonto commented on #74415
Any response to this?

[2019-03-20 12:34] vbatts commented on #75293
* is there criteria for the CRI version to become beta?
* is there a tag or specific channel to open CRI specific questions/requests? (i.e. RFC pause/unpause for RuntimeService; RFC load mechanism for ImageService)

[2019-03-20 12:35] nikhita commented on #68466
I noticed that you've created the PR upstream, so if you'd like, feel free to take it up! :)

[2019-03-20 12:42] krzysied opened #75509 "GCE 100 scalability test flakes"
**Which jobs are failing**:
gci-gce-scalability

**Which test(s) are failing**:
Density test

**Since when has it been failing**:
Run 23995

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gci-gce-scalability

**Reason for failure**:
Api server cpu usage is over 2.2cpu limit.

**Anything else we need to know**:

[2019-03-20 12:42] krzysied commented on #75509
/sig scalability

[2019-03-20 12:43] krzysied commented on #75509
Based on changes between run 23994 and 23995, it looks like the issue can be caused by the https://github.com/kubernetes/kubernetes/commit/6f9bf5fe98bcc3b436fea4d6dd345a1502d20778.

[2019-03-20 12:45] krzysied commented on #75509
/assign

[2019-03-20 12:46] shiywang commented on #75350
okay, I'll take a look

[2019-03-20 12:48] krzysied commented on #75509
/cc @wojtek-t

As a short term fix, I will increased the cpu limit for density tests. This will prevent test from flaking.

I think it will be good to also verify if  cpu usage increased in gce 5000 test.

[2019-03-20 13:05] nikhita commented on #57667
/area github-management

[2019-03-20 13:18] hex108 commented on #72039
@bsalamat I just sent a PR for it. PTAL :)

[2019-03-20 13:23] jsafrane commented on #75191
@sathish-thangaraj that's great!

I was going to write detailed info how to fix this, however, I found out that mount options *should* work, at least in Kubernetes 1.13, see this commit: https://github.com/kubernetes/kubernetes/commit/6eda6d1a06dba54c65c8a4073edd40046155bbe5

So there is a simple bug somewhere. Looking around the code, this code smells fishy:

https://github.com/kubernetes/kuberne

[2019-03-20 13:32] vsavinkov commented on #36222
I've removed all the trailing whitespaces and tabs. The problem is gone.

[2019-03-20 13:51] max-rocket-internet commented on #67342
We ran into this in EKS, also like @mmalex

A workaround for us was to scale the deployment to 0 replicas, wait for EBS volume to unmount in EC2 console, then scale deployment back to original replicas and it mounted successfully.

[2019-03-20 13:54] shinytang6 commented on #71863
Hey @misterikkit @mysunshine92 , what's the status of this issue? Can l take this up as a beginning contribution to k8s?

[2019-03-20 14:41] #75209 closed

[2019-03-20 14:41] #73154 closed

[2019-03-20 14:41] #71555 closed

[2019-03-20 14:41] #72779 closed

[2019-03-20 15:08] rhockenbury opened #75511 "vSphere Cloud Provider does not support SAML auth tokens for tag-based node labeling"
**What happened**:
The in-tree vpshere cloud provider does not support SAML auth tokens for the tag-based node labeling.   The provider relies on the [`withTagsClient` function](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L1435) to authenticate with the vapi rest endpoints.  This function assumes that the `username` and `password` fields are

[2019-03-20 15:09] rhockenbury commented on #75511
/sig vmware

[2019-03-20 15:10] rhockenbury commented on #75511
@kubernetes/cloud-provider-vsphere-maintainers

[2019-03-20 15:13] aguilarm commented on #75446
@liggitt thanks for taking a look at this, that's closure enough for me!

[2019-03-20 15:25] Zauxst commented on #10421
Running Ubuntu16.04 with k8s v1.13.3.
This issue started on 1 node out of 7.

Fixed with `fs.inotify.max_user_watches=1048576`. Not sure if this is actually normal at this point. Should we make this change on all k8s servers?

[2019-03-20 15:25] dcbw commented on #75485
Also this PR from kubernetes/release is required for the release images (?): https://github.com/kubernetes/release/pull/683

[2019-03-20 15:46] msau42 commented on #71018
I'm not sure I understand why mount/unmount would be dependent on cloud provider.  @gnufied can you clarify?

[2019-03-20 16:03] cwdsuzhou opened #75512 "Kubectl describe does not support inline csi volume"
**What happened**:

kubectl describe pod  xxx  not show csi inline volume, it shows <unknow>

![image](https://user-images.githubusercontent.com/12230714/54699583-43597c80-4b6c-11e9-8ff6-c2196166a0aa.png)

**What you expected to happen**:
show csi inline volume normally like this

![image](https://user-images.githubusercontent.com/12230714/54699770-a3502300-4b6c-11e9-8a78-2098f0af8cc1.png)

**How

[2019-03-20 16:03] cwdsuzhou commented on #75512
/assign

[2019-03-20 16:08] cwdsuzhou commented on #75512
/sig cli

[2019-03-20 16:12] andreas-wolf commented on #57801
I had the same problem and besides I had the wrong indent for imagePullSecrets the next problem was that the docs were a bit misleading. They have examples like that:

[code]
but actually if you have your docker image prefixed with something like privateRepository:5000/imageName and you use the example

make sure that  &lt;your-registry-server&gt; equals privateRepository:5000 and **not** somethin

[2019-03-20 16:13] wolkjesmaker commented on #69687
I could also benefit to scale down to 0.
No need to have anything running unless there's some custom metric that enabled HPA.

[2019-03-20 16:25] mariantalla commented on #75186
All clear, closing.

/close

[2019-03-20 16:25] #75186 closed

[2019-03-20 16:30] dfiduk commented on #36222
Check any possible special chars. It solve my problem some time ago

ср, 20 мар. 2019 г., 16:34 Viacheslav Savinkov <notifications@github.com>:

[2019-03-20 16:32] dprotaso commented on #22368
Hey @kfox1111 I don't have the time to drive forward a KEP at this time. I can offer my commentary when/if one does surface.

[2019-03-20 16:35] wojtek-t commented on #73958
This won't solve the problem of lock contention - this will help only for individual event (the next event (at least in the current design) is blocked in adding the previous one for all watchers).

We may consider that, but in my experiments when I bumped it by 10x it doesn't make any difference.

[2019-03-20 16:47] JunSun17 commented on #75488
@kubernetes/sig-cli-feature-requests

[2019-03-20 16:54] dougm commented on #75511
SAML auth support came to govmomi a bit after Zone support came to vSphere Cloud Provider.  I can take care of fixing this in VCP.

/assign

[2019-03-20 17:06] bsalamat commented on #75465
This is an interesting issue! I also see it on my machine, but as you pointed out, there is no recent change that could possibly cause this. In fact, we were in code freeze and no PR got merged into the schedule code base in the past ~couple of weeks. I wonder if a change in our build tools are made recently that introduced this.

[2019-03-20 17:10] fabianvf commented on #54498
/remove-lifecycle rotten

[2019-03-20 17:15] nikopen commented on #75414
As 1.14.0 ships with Coredns 1.3.1, moving this to be properly bumped and resolved in v1.15

/milestone v1.15

@chrisohaver @fturib When the 1.4.0 bug is fixed is it reasonable to ship a 1.14 patch release with the update?

[2019-03-20 17:16] nikopen commented on #73723
Alpha / 1.14 seems to be complete^^

moving on....

/milestone v1.15

[2019-03-20 17:19] suker200 commented on #75478
@andyzhangx  the attached disk still work correctly (about 2weeks) until yesterday it just failed after the old node is replaced by a new node.

Firstly I thought it maybe relate to Sensitive Naming of Resource Group, I try to create with lowercase and it still failed. Checking from Azure Portal, it is `running` state.

[kube-controller.log](https://github.com/kubernetes/kubernetes/files/2989337/k

[2019-03-20 17:20] kfox1111 commented on #22368
Ok. Thanks. I may make a stab at it in a few weeks if no one gets to it first. :)

If anyone does want to start it, go for it.

[2019-03-20 17:25] chrisohaver commented on #75414
The reload bug fix will be included in CoreDNS 1.4.1 release.  But I think the 1.4.1 release also removes an option that is used in the default CoreDNS configuration (which would render it invalid).  So we need to be careful there.  Probably not where we want to go in a patch release.

We'll see where the discussion in coredns/coredns#2708 goes.  Breaking new ground by releasing a 1.3.2 with the [

[2019-03-20 17:35] abassanini commented on #63702
In ubuntu/debian family, use the `/etc/default/kubelet` file, to append the IP of the node/worker

[code]

[2019-03-20 17:38] liggitt commented on #68577
I'm writing up a KEP for the 1.15 release for this here: https://github.com/kubernetes/enhancements/pull/908

I also have a WIP PR that uses `go mod vendor` to rebuild the vendor dir, populates go.mod files for each staging repo as a module.

The biggest unresolved question is what versioning strategy to use for the modules. Options are described in the KEP

[2019-03-20 17:49] mikedanese commented on #74565
@valentin2105 Sorry for the slow response. Clients need to re-read the token periodically from disk. k8s.io/client-go has already been updated to do this since version 10.0.0 (kubernetes version 1.13). Can you point me towards the failing helm chart?

[2019-03-20 17:55] neolit123 commented on #75485
@dcbw

the package tooling is planned to be moved in k/k, which falls under sig-release and cluster-lifecycle.

issue:
https://github.com/kubernetes/kubernetes/issues/71677
kep:
https://github.com/kubernetes/enhancements/pull/858

the rest from https://github.com/kubernetes/kubernetes/pull/75455 seems to fall under a different problem where we don't have a centralized, machine readable location fo

[2019-03-20 18:05] rendhalver commented on #38532
That looks handy @boosty! Thanks!

[2019-03-20 18:08] #73969 closed

[2019-03-20 18:23] msau42 commented on #75365
The latest runs are looking good now.  I haven't had a chance to look into the failures.

[2019-03-20 18:24] immutableT commented on #73838
Yes, still working on this.

[2019-03-20 19:00] freehan commented on #75355
I just did a few manual tests. Kubelet reacted very quickly. Not able to reproduce the update latency more than 10s.

[2019-03-20 19:15] Perdjesk commented on #64616
/remove-lifecycle stale

[2019-03-20 19:16] jibsonline commented on #45234
Is it implemented yet? It's a much needed feature

[2019-03-20 19:18] fturib commented on #74425
workaround for this issue would be to use another version of CoreDNS : 1.3.0, or 1.4.0.
Another possible solution is to mount an EmptyDir volume to /tmp.

[2019-03-20 19:22] fturib commented on #75414
@johnbelamaric , @neolit123 : I added a section for CoreDNS in the [section "Deprecation"](https://docs.google.com/document/d/1PAbK3D6-GorRf_Fi1U_q-Vvt9wM4MMh-qQfiq-dtOTE/edit).

The text is:
[code]

let me know if further action is needed. Thanks!

[2019-03-20 19:27] neolit123 commented on #75414
@fturib
SGTM, optionally use quotes around the keywords + uppercase Kubernetes.

[2019-03-20 19:32] chrissnell commented on #45234
@jkemp101 would you re-open this?  I agree with @jibsonline -- this is important.   I am still dealing with a lot of 503s on my large+busy clusters because of this.

[2019-03-20 20:16] carlosonunez commented on #66844
/remove-lifecycle stale

[2019-03-20 20:16] gocoolcat commented on #71887
Seeing the same messages:

Docker Version: 17.12.1-ce
Kernel: 3.10.0-693.43.1.el7.x86_64 #‌1 SMP Thu Oct 11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
k8s: v1.10.0

I am wondering what the consequence of this is. Is it just message flooding (harmless) or can it cause any problems ?

[2019-03-20 20:16] carlosonunez commented on #66844
I think this is still a problem.

[2019-03-20 20:31] #75465 closed

[2019-03-20 20:45] jkemp101 commented on #45234
/reopen

[2019-03-20 21:02] metral commented on #56770
/remove-lifecycle stale

[2019-03-20 21:08] fcappi commented on #75402
Hi guys,

Yes, what @MaciekPytel said makes sense. We can close the ticket.

[2019-03-20 21:08] #75402 closed

[2019-03-20 21:12] johnbelamaric commented on #75414
yes, looks good to me too

[2019-03-20 21:28] BenTheElder commented on #74425
FYI a working CoreDNS issue link is at https://github.com/coredns/coredns/issues/2629 and fix link at https://github.com/coredns/coredns/pull/2529

[2019-03-20 22:03] cpuguy83 opened #75526 "go-inotify leaks file descriptors"
**What happened**:

There are a couple of places where github.com/sigma/go-inotify is being used.
Unfortunately this package can leak file descriptors since `inotify_init` is called without `IN_CLOEXEC`.

This package seems to be a fork from an old golang.org/x package (which was removed) and hasn't been updated at all except for the fork itself.
(ping @sigma, maybe you would take a patch for this

[2019-03-20 22:18] slack opened #75527 "Unable to configure Azure load balancer idle timeout with annotation"
**What happened**:

Created a Service, type LoadBalancer with the following spec:
[code]

The load balancer was provisioned but the idle timeout was still configured as the default of 4 minutes.

**What you expected to happen**:

Idle timeout for the provisioned load balancer should match the annotation of 20.

**How to reproduce it (as minimally and precisely as possible)**:

Service gist + basic

[2019-03-20 22:19] slack commented on #75527
/cc @cpuguy83

[2019-03-20 22:26] erks commented on #67662
/remove-lifecycle stale

[2019-03-20 22:59] jingxu97 commented on #72252
/remove-lifecycle stale

cc @davidz627

[2019-03-20 23:44] sigma commented on #75526
`github.com/sigma/go-notify` was really meant as a pure clone of the part of `golang.org/x/exp` that was preventing us from upgrading that particular dependency.
If we want to have patches to this code base, I think the right thing to do would be to have a proper fork under the `kubernetes-sigs` organization ?

[2019-03-21 00:10] freehan commented on #75355
I ran the test in a loop more than 50 times now. Not a single failure.

Is it because there are many tests running in parallel causing high load on kubelet, hence longer update latency?

[2019-03-21 00:26] tsuna commented on #57250
Things mostly work when I enable PROXY protocol on the target group and configure it on the nginx ingress, the only thing that seems broken is that the healthchecks don't work.  When I `tcpdump` I see a weird packet that precedes the `GET` for the healthcheck. Here's the `tcpdump` output immediately following the 3-way handshake:
[code]
This can be seen also when `strace`ing `kube-proxy`:
[code]
T

[2019-03-21 00:48] tsuna commented on #57250
Looking at the [PROXY protocol spec](https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt), this makes more sense now:

Which is consistent with that first packet:
[code]

and the AWS [documentation](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#proxy-protocol) says:

So it seems that `kube-proxy` simply doesn't expect the healthcheck itsel

[2019-03-21 01:42] captainjack0x7C8 commented on #17088
My solution
[code]

[2019-03-21 01:55] clkao commented on #74425
kubelet might fail to restart if an existing flexvolume mounted pvc contains large number of directories, or is full. #75019

[2019-03-21 02:12] feiskyer commented on #75527
Please use `service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout: "20"`, wrap 20 with string quota.

You can verify the real result by getting the service back, e.g. by kubectl get svc <name> -o yaml

[2019-03-21 02:29] valentin2105 commented on #74565
Thanks, I think I need to use latest release of my deployments apps (helm / nginx-ingress / coreDNS).

[2019-03-21 02:29] #74565 closed

[2019-03-21 03:15] raotkind commented on #2630
Ok

[2019-03-21 03:18] feiskyer commented on #75293
I don't think we have the criteria yet, we should create the criteria first before moving to beta/GA.

@mikebrow you mean split CRI out as beta? Do you think CRI GA is required before splitting docker shim out?

[2019-03-21 03:21] wenlaizhou commented on #2856
uneffect

[2019-03-21 03:24] feiskyer commented on #75293
@vbatts sig-node is the place.

[2019-03-21 03:24] andyzhangx commented on #75478
@suker200 there is one way worth to try:
[code]

The above command will reset vmss instance state, in the before I obeserved that sometimes vm is in broken state while it still shows healthy in azure portal, and the above command could fix that issue, anyway it's worth a try.

[2019-03-21 03:50] yue9944882 commented on #75495
/remove-sig api-machinery
/sig apps
/sig scalability

[2019-03-21 03:55] Imr0219 commented on #72881
[code]
This can work well

[2019-03-21 04:06] suker200 commented on #75478
@andyzhangx  I tried your command, still not work, I use `az vmss disk attach` to attach manually but still failed. Create new vmss doesn't help.

[2019-03-21 04:06] lovejoy commented on #69562
same issue with tfjobs
```E0321 12:02:44.346445  324154 resource_quota_controller.go:448] failed to sync resource monitors: couldn't start monitor for resource {"kubeflow.org" "v1alpha2" "tfjobs"}: unable to monitor quota for resource "kubeflow.org/v1alpha2, Resource=tfjobs"```

[2019-03-21 04:18] #75478 closed

[2019-03-21 04:24] andyzhangx commented on #75478
@suker200 then it's an azure vmss issue, not a k8s issue.

[2019-03-21 05:01] marccarre commented on #74246
Looks like I cannot "[move](https://help.github.com/en/articles/transferring-an-issue-to-another-repository)" it per-se, but I cloned it here: kubernetes/kubeadm/issues/1460

[2019-03-21 06:04] daschott commented on #62046
DSR Mode should be possible on Windows Server, version 1903 and v1.14 with `WinDSR` feature gate passed in

[2019-03-21 06:21] hormes commented on #73958
I am willing to submit a PR for that later in this week

[2019-03-21 06:22] Tushar120120 commented on #49804
Do you mean we should change this in /etc/kubernetes/manifests/kube-apiserver.yaml
enable-admission-plugins=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,Resourc
eQuota

[2019-03-21 06:26] eloyekunle commented on #66311
I will start working on this issue.

[2019-03-21 06:32] stealthybox commented on #74148
I like this suggestion to simplify the mechanism while retaining the packaging and runtime benefits of the container image.

@andrewrynhard, I'm curious what we're doing in talos if we're not using the `--containerized` flag and how what we're doing solves the use-case of running kubelet inside a container.

[2019-03-21 06:41] lovejoy commented on #43168
same problem  with v1.10.2

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:22:21Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335",

[2019-03-21 07:01] ChrisCooney commented on #66450
Anyone got any thoughts on this?

[2019-03-21 07:25] tossmilestone commented on #68466
Hi, @nikhita, after fix the bug in `go-openapi`, I can't find where the k8s validate the openapischema? Could you help to point out where is the validation code?
Thanks very much! 😄

[2019-03-21 07:27] #75356 closed

[2019-03-21 07:46] neolit123 commented on #74246
that's what i meant, sorry.
/close

[2019-03-21 07:46] #74246 closed

[2019-03-21 07:53] pohly opened #75535 "kubelet: NodePublishVolumeRequest.target_path handling not CSI compliant"
**What happened**:

When mounting a filesystem volume with a CSI driver, kubelet creates the `NodePublishVolumeRequest.target_path` directory where the volume is to be mounted.

**What you expected to happen**:

According to the CSI 1.0 spec, kubelet must *not* create that directory, only its parent:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): Kubernetes 1.13.x and 1.14.

[2019-03-21 07:53] Blue-Skies-firststar opened #75536 "kubelet can't create pod Error adding network"
**What happened**:   kubelet can't create pod

**What you expected to happen**:  kubelet create pod

**How to reproduce it (as minimally and precisely as possible)**:  I don't know ,my test *Environment can't  reproduce it

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", Gi

[2019-03-21 08:01] aojea commented on #62822
Update with the new KEP reference https://github.com/kubernetes/enhancements/pull/808

[2019-03-21 08:07] mitpwd opened #75537 "kubectl get pods on non-existing namespaces does say anything that the namespace does not exist"
Command:
kubectl get pods -n non-existing-namespace

Actual response:
No resources found.

Expected message:
Namespace not found.

**What would you like to be added**:
Exception message to be capturing the issue of a non-existing namespace.
"Namespace not found."

**Why is this needed**:
Address issues when users mistype a namespace. Assumption is there are no pods and wrong decision can be taken.

[2019-03-21 08:11] Blue-Skies-firststar commented on #75536
master:
 Etcd：3.2.24
 Kubernetes v1.12.3

node
kubelet   Kubernetes v1.12.3
docker  Server Version: 17.03.2
kube-router v0.2.3  , cni  plugins v0.7.4

[2019-03-21 08:12] Nowaker commented on #36304
Any update?

[2019-03-21 08:14] mitpwd opened #75538 "Introduce wildcards in kubectl"
**What would you like to be added**:
Support for wildcards where applicable. Examples below:

a. List all pods where 'prod' occurs anywhere in the namespace
`kubectl get pods -n *prod*`

b. Delete all pods where namespace starts with 'frontend'
`kubectl delete pods -n frontend* `

c. Delete all network policies within all namespaces
`kubectl delete netpol -n *`

**Why is this needed**:
More effect

[2019-03-21 08:30] aakarshg commented on #1899
Most of what was mentioned above seemed to have been accomplished, the only thing that I'm still finding myself using grep is for checking pod's phase. Not sure how it can be done purely using kubectl without the need for grep.

[2019-03-21 08:53] rdxmb commented on #51475
This is what I think, too. Maybe there could be an additional command
`kubectl validate`
to validate without server-connection

[2019-03-21 08:53] rdxmb commented on #51475
/remove-lifecycle rotten

[2019-03-21 09:05] rdxmb opened #75540 "kubectl apply --dry-run should check for allocated NodePorts"
**What would you like to be added**:
Check for pre-allocated NodePorts when running `kubectl apply --dry-run`

**Why is this needed**:
The `dry-run` should be as "real" as possible.

Actually, the behaviour is like this:

[code]

[2019-03-21 09:07] rdxmb commented on #75540
@kubernetes/sig-cli

[2019-03-21 09:11] rdxmb commented on #75540
@kubernetes/sig-cli-feature-request

[2019-03-21 09:11] rdxmb commented on #75540
/sig cli

[2019-03-21 09:11] walwong commented on #72713
same as me, I set the - --minClusterSize={{ metrics_server_min_cluster_size }}
to - --minClusterSize=16, it throw another error as above:
panic: cannot parse '{{ base_metrics_server_cpu }}': quantities must match the regular expression '^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$'
any comments?

[2019-03-21 09:19] kvaps commented on #63390
@ylhyh you can specify `.spec.podCIDR` during creation new node, example:
[code]
In case if you want to change`.spec.podCIDR` for existing node, you need to delete and create it again, example:
[code]
Open `/tmp/mynode.yaml` and edit `.spec.podCIDR` there, then recreate:
[code]
Of course your node shouldn't have any workload.

[2019-03-21 09:35] tuminoid commented on #61557
This appears to be fixed in 1.13.x, but it wasn't mentioned in any changelog. Can someone link the PR this was fixed in?

[2019-03-21 09:38] pohly commented on #72242
/close

I think this was sufficiently addressed in https://github.com/kubernetes/kubernetes/pull/72434

[2019-03-21 09:38] #72242 closed

[2019-03-21 09:41] defaulteg commented on #75173
@chrisohaver Tried different versions, including the latest (1.4.0)

@pacoxu Yes, I have tried, the result is the same. Basically, the resolv.conf wasn't changed during the upgrade of Kubernetes, so don't think it is related.

@neolit123 Unfortunately, we do not have a possibility to upgrade the cluster right now

Tried to use ipvs mode for kube-proxy, no luck.
The only suspect is the coredns righ

[2019-03-21 09:52] oxddr opened #75541 "Creating Kubemark cluster on GCE requires exporting environmental variables to work"
**What happened**:
Some environmental variables are not propagated, so creating a kubemark-based cluster on GCE requires exporting e.g. `KUBE_GCE_NETWORK` and `INSTANCE_PREFIX`.

I suspect the problem is because of actual propagation (there are multiple layers of sourcing defaults when running `go run hack/e2e.go`) or there are some assumptions backed in..

**What you expected to happen**:
Default

[2019-03-21 09:53] oxddr commented on #75541
@krzysied @mm4tt

[2019-03-21 10:07] stewart-yu commented on #75426
/assign

[2019-03-21 10:12] krzysied commented on #75509
@smarterclayton There is a problem with increased cpu usage. It looks https://github.com/kubernetes/kubernetes/commit/6f9bf5fe98bcc3b436fea4d6dd345a1502d20778 could be the reason for this. Is this PR expected to increase apiserver cpu usage?

[2019-03-21 10:28] walwong commented on #72713
solved, change the configuration in the  metrics-server-deployment.yaml file "- --cpu={{ base_metrics_server_cpu }} to - --cpu=4"  #your cpu quantity
then two container in pod are running well .

[2019-03-21 10:29] Joseph-Irving commented on #74848
So I believe this is intended behaviour. The reason being that `backoffLimit` on a Job is not something the Pod knows about, so once your Pod has restarted 6 times (default) the job is failed but the Pod doesn't know to stop restarting its containers and would therefore continue on crashlooping forever, the Job controller deletes the pod to prevent it from doing this.

Specifically the Job control

[2019-03-21 10:46] pohly commented on #75535
Related fix in csi-test: https://github.com/kubernetes-csi/csi-test/pull/182

[2019-03-21 11:03] snowmansora opened #75542 "New pod stuck at PodInitializing and does not restart on rebooted node in K8s 1.13"
**What happened**:
Rebooted a K8s 1.13 node (it is also a master node).
A new pod is started on the rebooted node and stuck at PodInitializing.
kubectl describe pod shows:
[code]
kubelet on the rebooted node keeps on printing:
[code]
But it never start a new one, hence pod stuck at PodInitializing.

**What you expected to happen**:
Pod not to stuck at PodInitializing.

**How to reproduce it (as mi

[2019-03-21 11:14] snowmansora commented on #75542
@kubernetes/sig-scheduling-bugs

[2019-03-21 11:24] cwdsuzhou opened #75545 "Issues may exist in csi inline volume implementation"
**What happened**:

When I use inline csi volume, I  there may exist some issues in the current Implementation. Though I use a inline csi volume,  kubelet actually would get the volumeUniqueName of pv
![image](https://user-images.githubusercontent.com/12230714/54742098-667f3d00-4bfb-11e9-940b-b90c10734127.png)

I find kubelet may panic when I use  inline csi volume due to some functions need pv bu

[2019-03-21 11:32] cwdsuzhou commented on #75545
/sig storage
/assign @vladimirvivien
 Many bugs may exist in the current implementation version, some functions only think about pv, not volume, e.g.  If I use an inline csi volume,  it would return err, because this function could only be used for pv.
![image](https://user-images.githubusercontent.com/12230714/54749458-8de00500-4c0f-11e9-9cc8-b379aa82963c.png)

[2019-03-21 12:17] Byron101 opened #75548 "Persistent Volume failing to mount - timeout - AKS"
@andyzhangx

**What happened**:
We  observe that mounting a persistent volume claim times out for volumes of 1TB or larger

**What you expected to happen**:
That the volume mounts immediately or atleast within the timeout window

**How to reproduce it (as minimally and precisely as possible)**:
Create new stateful set and PV with 1tb

**Anything else we need to know?**:
Tried it with different ins

[2019-03-21 12:20] sashayakovtseva opened #75549 "Unknown container runtime version"
**What happened**:
I am running k8s cluster with Singularity container runtime via [Singularity-CRI](https://github.com/sylabs/singularity-cri). After configuring `kubectl` and running `kubectl get no` & `kubectl describe no <node-name>` I have the following:

[code]

even though in kubelet logs I can see the line with correct version:
[code]

**What you expected to happen**:

Expected to have

[c

[2019-03-21 12:22] Byron101 commented on #75548
/sig storage

[2019-03-21 12:23] sashayakovtseva commented on #75549
/sig kubelet

[2019-03-21 12:25] sashayakovtseva commented on #75549
/sig node

[2019-03-21 12:26] andyzhangx commented on #75548
/assign

[2019-03-21 12:31] andyzhangx commented on #75548
hi @Byron101 could you get the  detailed error message of  `OperationNotAllowed` from azure portal in `Activity log` under that vmss? What about attach disk size less than 1TB, will it succeed?

[2019-03-21 12:33] Byron101 commented on #75548
Disk size under 1TB are working fine, getting the error message

[2019-03-21 12:35] andyzhangx commented on #75548
@Byron101 thanks, let me check that, I am never aware of such issue.

[2019-03-21 12:38] whs-dot-hk commented on #45779
Hi, the environment variable HOSTNAME is the pod name e.g. nifi-0

makes it impossible to resolve similarly pods of the same statefulset with just the HOSTNAME e.g. nifi-1 can't access nifi-0 pod by it's HOSTNAME nifi-1

It would be more helpful to make the HOSTNAME nifi-0.nifi-headless and nifi-1.nifi-headless

where nifi-headless is their common headless service name

[2019-03-21 12:48] ncdc commented on #71277
/remove-lifecycle rotten

[2019-03-21 12:51] andyzhangx commented on #75548
@Byron101 can you run following command to get the exact error message?
[code]
I could not repro on my vmss cluster on v1.12.4, tried to attach a 1500GB size Standard_LRS size, it succeeded.

[2019-03-21 13:04] chrisohaver commented on #75173
As a troubleshooting step, you could temporarily move to use kube-dns to see if the problems persist.
If they do persist then it's probably a networking issue.  If they go away, then it's probably an issue with CoreDNS.

This would help determine if the issue is caused by CoreDNS (as the title of your issue suggests), or if the issue is caused by an underlying network problem perhaps more broadly

[2019-03-21 13:22] chrisohaver commented on #75173
In your Corefile,  could try using `forward` instead of `proxy`.  These both do the same thing more or less: they forward requests upstream.  But `forward` has an improved upstream health monitoring algorithm.  `Proxy` may be failing to identify one of the upstream dns servers as unhealthy (if one is).  I suggest giving this a try before moving to kube-dns, since it's simpler to try.

Perhaps the

[2019-03-21 14:08] dixudx commented on #66450
I think @nikhita has already solved this in #67385. It should works for kubectl version >= v1.12.0.

[2019-03-21 14:40] Joseph-Irving commented on #65502
/remove-lifecycle rotten

[2019-03-21 14:56] kmcgrath commented on #75548
Hello @andyzhangx.  I am working with @Byron101 on this.

Here is the log I've removed some auth and claims:
[code]

And here is the attach:
[code]

[2019-03-21 15:01] kmcgrath commented on #75548
Also. Here is the storage profile of the VM:

[code]

[2019-03-21 15:01] andyzhangx commented on #75548
@kmcgrath could you file an azure ticket to vmss? It's a vmss disk attach issue, you could loop me in the thread: xiazhang@microsoft.com, thanks.

[2019-03-21 15:04] nikopen commented on #75345
/milestone clear

the PR can merge to master and can be cherry picked to 1.14.1 if it doesnt make 1.14.0

[2019-03-21 15:11] kmcgrath commented on #75548
Will do. We will mention this issue in the azure ticket.

[2019-03-21 15:12] kumar-shantanu commented on #74298
Most of the times it is able to recover from this error and finally pods can schedule themselves on the particular node. However sometimes it never recovers.

[2019-03-21 15:34] dims commented on #75549
Do you see `Get remote runtime version failed` in the logs?

[2019-03-21 16:05] msau42 opened #75551 "Projected service account token: make sure all system components have updated client-go"
**What happened**:
As an example, metrics server hasn't been updated: https://github.com/kubernetes-incubator/metrics-server/issues/232

For me, this caused namespace deletion to fail after the token got rotated.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an alpha cluster (mine was 1.14)
2. Let it sit for a while (mine was a few hours but it could take less)
3. Cr

[2019-03-21 16:05] msau42 commented on #75551
@kubernetes/sig-auth-bugs

cc @mikedanese @liggitt

[2019-03-21 16:11] randyrue opened #75552 "kubectl config set-cluster forces relative path for certificate-authority entry"
**What happened**:
Ran:
kubectl config set-cluster $1 --server=$cluster_address --certificate-authority=$HOME/.kube/certs/ca-$1.crt

**What you expected to happen**:
An entry created in $HOME/.kube/config with the full path to the ca-$1.crt file for the certificate-authority line e.g.
certificate-authority: /home/rgrue/.kube/certs/ca-prod.crt
or even
certificate-authority: $HOME/.kube/certs/ca-pro

[2019-03-21 16:12] msau42 commented on #75535
I'm not sure how we can fix this without potentially breaking drivers that were dependent on the old mechanism.  Maybe we can put out a deprecation notice and then fix it after the deprecation period?

[2019-03-21 16:21] sashayakovtseva commented on #75549
No, instead I have this in the beginning of kubelet logs:
[code]

[2019-03-21 16:21] vladimirvivien commented on #75545
@cwdsuzhou Thanks for the issue.  There is already a PR out to fix outstanding bugs - https://github.com/kubernetes/kubernetes/pull/75354

[2019-03-21 16:22] wouterhund commented on #75488
Please also consider `kubectl logs`

[2019-03-21 16:25] dElogics commented on #23349
Just to add some valuable information, running many many pods per node results in #45419. As a fix, delete the docker directory and restart docker and kubelet together.

[2019-03-21 16:28] kfox1111 commented on #831
The recent ephemeral csi volume support along with https://github.com/kubernetes-csi/csi-driver-image-populator should make this possible. :)

[2019-03-21 16:36] yue9944882 commented on #71925
/remove-lifecycle stale

[2019-03-21 16:42] humblec commented on #73019
@gnufied yeah, we have to fill metricsprovider interface to get something useful. however, I wondering  about the need of CSI rpc call here or trying to understand the requirement. That said, I believe, by rpc call you are referring to make use of `NodeGetVolumeStats` service. But, the question I have here is, once the (intree) csi driver issued nodepublish call to third party CSI driver, we actua

[2019-03-21 16:43] mikebrow commented on #75293
No, I think it's ok to split out the CRI api now before it has been promoted from alpha2 to beta. I would think that is preferable.

Not a requirement, just a suggestion.

[2019-03-21 16:46] jaredallard commented on #52184
/remove-lifecycle stale

[2019-03-21 17:25] whereisaaron commented on #15478
Thanks for your experience @roffe. fluent/fluentd#1680 was an issue back about k8s 1.5 and we didn't use 'in_tail' back then for that reason. Since k8s moved to `containerd` logging it doesn't seem to be still a thing? We haven't seen any detectable impact from fluent/fluentd#1126.

You recommended against `fluentd`. What would you recommend instead? What do you personally use instead of `fluentd`

[2019-03-21 17:37] usernkey commented on #51835
I am using version 1.10 and I experienced this issue today and I think my problem is related  with the issue  of mounting secret volume which might have left some task pending and left the pod in termination status forever.

I had to use the --grace-period=0 --force option to terminate the pods.

`root@ip-10-31-16-222:/var/log# journalctl -u kubelet | grep dp-tag-change-ingestion-com-depl-5bd59f74

[2019-03-21 17:44] benmoss commented on #74218
Is there a reason we're hosting this on mcr.microsoft.com? We're talking about adding to the pause image in #75479 for enabling port forwarding, but we (the k8s community) doesn't have access to the Dockerfile or to push new versions of it right now.

[2019-03-21 17:51] ficcaglia opened #75554 "Docs need to be updated for recent change to default Secret and ConfigMap strategy"
**What happened**:
PR #74755 made the default TTL vs Watch, but docs in https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod still say:

**What you expected to happen**:
The docs should reflect the default is ttl-based as such:

It can be either propagated via watch, ttl-based (default), or simply redirecting all requests to directly kube-apiserver.

[2019-03-21 17:52] ficcaglia commented on #75554
@kubernetes/sig-docs

[2019-03-21 17:53] thockin opened #75555 "Downward API for individual annotations does not work"
Specced in https://github.com/kubernetes/community/pull/147

Supposedly implemented in https://github.com/kubernetes/kubernetes/pull/55902

A manual test shows that it does not seem to work:

[code]

@yguo0905 you wrote the PR in question -- am I doing something wrong?

[code]

Both the env and the volume were accepted but both are empty.

[2019-03-21 17:58] neolit123 commented on #74218
@benmoss apparently the layers of the original images are licensed in such a way that we cannot host them in another registry. we can only create manifests that reference them.

[2019-03-21 18:12] chris-brace commented on #29789
There needs to be a way to specify ELB/ALB/NLB names because AWS (of course) violates its standard here and doesn't respect the `Name` tag. So, right now, in order to manage a stack in Terraform where you installed nginx-ingress, then automatically create a route 53 record, you have to do the following:

[code]

All someone needs to do is expose this as an annotation: 30 x [a-z, A-Z, 0-9,-] and se

[2019-03-21 18:14] yguo0905 commented on #75555
The annotation should be specified at the pod template metadata level instead of Deployment metadata level.

[2019-03-21 18:17] astrieanna commented on #74218
@neolit123 That's true of all windows images because you can't host the nanoserver/servercore base images. My impression is that this pause image is nanoserver + a default executable, which would mean that the very minimal additional layer (setting a default executable) could be hosted anywhere, right?

[2019-03-21 18:18] yguo0905 commented on #75555
(This is easy to get wrong; I've encountered it more than once.)

[2019-03-21 18:22] thockin commented on #75555
OMG.  How embarrasing

[2019-03-21 18:24] #75555 closed

[2019-03-21 18:24] thockin commented on #75555
Thanks @yguo0905

[2019-03-21 18:28] shay-berman commented on #75448
@liggitt, please clarify - is it mandatory to have the storage class of a PV in order to delete the PV?  (it looks like the csi.storage.k8s.io/provisioner-secret-name is not copied to the PV object. Does it mean that delete PVC is depend on the storage class?)

[2019-03-21 18:35] msau42 commented on #75326
I think I figured out the root cause for the CSI hostpath flakiness (not the pd driver flakiness though).  It is the same issue as https://github.com/kubernetes/kubernetes/issues/72346#issuecomment-466347067.  Pod deletion uses IsLikelyNotMountPoint to check if there are no more mounted pod directories, but it doesn't work for hostpath csi driver since it is just a directory in the container rootf

[2019-03-21 18:38] msau42 commented on #72346
I think we should consider option c).  I don't think we require CSI volumes to be mounted (especially for ephemeral volume types).  The main consequence is that we may expose bugs volume plugins that didn't cleanup properly (user's pods will fail to get deleted).

cc @gnufied @jsafrane

[2019-03-21 18:41] neolit123 commented on #74218
yes, the additional layer can be hosted in a community maintained location.

[2019-03-21 18:47] chris-brace commented on #60807
just figured i should leave my experience of this here:

i was doing `terraform apply` with the following resource:

[code]

but i am a helm newb and had a template that had a template in it that created a namespace called `servicer`. This caused terraform and k8s to get in this bad state where terraform would fail, then k8s would leave the `servicer` namespace permanently in the `Terminating` sta

[2019-03-21 18:47] bertoost commented on #57801
@andreas-wolf that makes sense, but I have configured my registry behind Traefik (proxy) on a `registry.mydomain.com` .. so I also used that in creating the secrets. I also can connect from external devices, but now I have to the same from the kubernetes deployments too

[2019-03-21 19:31] deads2k commented on #75403
This is biting me.  I'm trying to work on top of kube 1.13 and I cannot import k8s.io/apiserver/pkg/server and anything that uses glog like google/certificate-transparency, mesos, grpc-ecosystem, and others.

[2019-03-21 19:34] deads2k commented on #75403
@pohly fancy meeting you here.  This problem you're having here is the same kind of one I'm fighting downstream because of https://github.com/kubernetes/kubernetes/pull/69105

[2019-03-21 19:45] #69048 closed

[2019-03-21 19:47] pohly commented on #75403
@deads2k yes, I see the irony :grin:. But here a global flag got added recently, so in that sense it is a regression. As I said in that PR, importing tests and the framework has always defined global flags, so I don't see that as a regression, only as a missing feature. But let's continue the discussion there.

[2019-03-21 19:51] pohly commented on #75535
@msau42 that sounds like a reasonable approach.

[2019-03-21 20:15] reddysainathn opened #75557 "pods naming convention"
The current naming convention is
|--- Deployment: < name >
│-----└─ Replica Set: < name >-< rs >
│--------└─ Pod: < name >-< rs>-< RandomString >

Instead of <RandomSting>, is there a way to have an incremented number value or some custom way of labeling?

something like : sample-app-5tydcggg-1

Reference : https://stackoverflow.com/questions/46204504/kubernetes-pod-naming-convention

Thanks.

[2019-03-21 20:15] bgrant0607 commented on #73352
For posterity: https://github.com/knative/serving/issues/412#issuecomment-475322374

[2019-03-21 20:17] thockin commented on #75467
@qiaozhi58 as @vllry points out, this can run from a desktop, as lomg as you have `kubectl` that can reach the cluster.

[2019-03-21 20:17] #75467 closed

[2019-03-21 20:20] vllry commented on #75537
/sig cli

[2019-03-21 20:20] thockin commented on #75461
In general we don't support changing the cluster CIDR - you might be able to expand it into adjacent spaces, but it has to be contiguous and we don't have a way to change nodes assignments on the fly.  You might be able to make it work by deleting all of your nodes and then changing that flag everywhere.

We have ideas on how to fix this but it's not really even at the design stage yet.

[2019-03-21 20:20] #75461 closed

[2019-03-21 20:22] smarterclayton commented on #75509
Investigating, I wouldn’t expect it to impact flows that the scalability test hits.  It’s possible that we increased the amount of code on watch paths which caused a small increase in cpu, but anything detectable is not expected.

[2019-03-21 20:22] thockin commented on #75424
@fturib is this the same message we saw fro other users?  Is there something systemic going on?

[2019-03-21 20:24] vllry commented on #75557
Incrementing pod names would create a scalability issue. The tracking counter would need a lock to prevent concurrent changes. This introduces scalability issues by itself (pods must "wait their turn") to get an ID, and goes against how the database for Kubernetes works.

Kubernetes uses an "AP" database (etcd) according to the CAP theorem, which means by design it doesn't allow users to gain excl

[2019-03-21 20:24] #75557 closed

[2019-03-21 20:26] thockin commented on #75319
I don't think this is just a Windows think - logging in kube-proxy, at least is not ideal.

[2019-03-21 20:29] vllry commented on #75319
Worth splitting into tickets?

[2019-03-21 20:29] thockin commented on #75172
SGTM

[2019-03-21 20:30] reddysainathn commented on #75557
Thank you @vllry

[2019-03-21 20:31] smarterclayton commented on #75509
[code]

Yes, looks like we allocate 100 times, more, looking at (it may have a very quick fix).

[2019-03-21 20:31] vllry commented on #74679
This will be happening in the not-distant future, but I'm not personally aware of a timeline. We don't want to rush the change in status, as there are still legitimately many uncertainties about the future of Ingress, and making it prematurely GA would vastly complicate future work.

[2019-03-21 20:32] bgrant0607 commented on #831
@kfox1111 Cool, thanks!

BTW, Google's internal composable "package" mechanism is described in this talk:
https://www.usenix.org/sites/default/files/conference/protected-files/lisa_2014_talk.pdf
which is mentioned in the SRE book:
https://landing.google.com/sre/sre-book/chapters/release-engineering/