[2017-05-29 09:56] crassirostris commented on #44976
@cyphar What I meant is user space level behavior, [like in c++](http://en.cppreference.com/w/cpp/io/cerr) when stdout is flushed before writing to stderr and there's no concurrency on write. I agree though that it's not generic enough for all possible applications.

What I worry about is the consumption step. Interleaving messages will force the log consumer (say, logging agent exporting logs to

[2017-05-29 10:07] crassirostris commented on #40212
@igorpeshansky Thanks!

[2017-05-29 10:12] jsafrane commented on #46540
I think that adding SupportedAcessModes to StorageClass could work.

[2017-05-29 10:36] antoineco commented on #11710
@vishh it's not 100% clear to me whether or not #12483 made it safe to use `--cadvisor-port=0`, could you please clarify? On a fresh k8s 1.6.4 cluster `kubelet` still exposes cAdvisor to the world:

[code]

@philips:
* the file you referenced was deleted as part of coreos/coreos-overlay@fa290a8f
* the documentation @ [Kubelet Wrapper Script](https://coreos.com/kubernetes/docs/1.6.1/kubelet-wrapper

[2017-05-29 10:37] xiangpengzhao commented on #28227
Since this was fixed in #28363 by Mike yourself, we can close this.

@thockin

[2017-05-29 11:06] shimizuf commented on #19953
We're also seeing this on a 1.6.4 GKE cluster. When a pod with a PD is destroyed, the re-created one fails with "The disk resource [...] is already being used by [...]".

[2017-05-29 11:11] crassirostris commented on #46574
@dlsniper Unfortunately, fluentd is resource-hungry and that's a known problem. Some steps have been taken already to reduce the memory consumption, some steps are yet to be done, but overall we expect the situation to brighten over the course of this year, e.g. there's a fluent-bit project to replace fluentd when resources are constrained.

For now, there's nothing that can be done to reduce the

[2017-05-29 11:11] #46574 closed

[2017-05-29 11:31] fgimenez commented on #45934
@thockin great thx, on it

[2017-05-29 12:11] #24399 closed

[2017-05-29 12:26] harshal-shah commented on #10297
@DreadPirateShawn Thanks so much for writing this. I was trying to create an token auth based k8s cluster for a peculiar use case and these steps helped me a lot.

[2017-05-29 13:37] xiangpengzhao commented on #28113
@justinsb any thoughts?

[2017-05-29 13:56] dlsniper commented on #46574
Thanks for the reply.

One other question, how will clusters like GKE support this? For example the workload I'm currently running on that screenshot sits on top of a 3 x f1.micro instances, which are good enough for the said workload, but looking at it from another angle, the instances have about 450MB used out of which 80MB (or about 20%) of the resource usages go into it.

Thank you.

[2017-05-29 14:10] dkerwin opened #46595 "Containers started by kubelet are missing the image tag"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian Jessie
- **Kernel** (e.g. `uname -a`): Linux ip-172-31-xx-xx 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07) x86_64 GNU/Linux

**What happened**:

[2017-05-29 14:30] xiangpengzhao commented on #46595
What's the output of `docker ps` if you `docker run` flannel directly?

/sig node

[2017-05-29 14:35] crassirostris commented on #46574
@dlsniper I'm not saying it's not a problem, I agree that it's far from perfect and we're working on it :)

Alternative might be to disable cloud logging in GKE and send logs to Stackdriver from your application directly, take a look at [Stackdriver client libraries](https://cloud.google.com/logging/docs/reference/libraries)

[2017-05-29 14:37] zoidbergwill commented on #24745
@jdconley our issue is that websocket connections die after 30 seconds over a GCE HTTP(S) LB.

[2017-05-29 14:38] dkerwin commented on #46595
Sure. Here's a example with kube-proxy (easier to reproduce as flannel). Started a shell with `kubectl run` with the same image as defined in the manifest.

[code]

[2017-05-29 14:42] dlsniper commented on #46574
I'm a bit confused now as this issue was closed (I believe it should be opened until fixed) and the solution to not use the logger but log directly to Stackdriver (which might not be a solution for people not wanting to change their apps).

I've checked out fluent-bit, and it does look like it will solve the memory problem but to be clear, I'm not expecting a on the spot solution, on the other han

[2017-05-29 14:45] xiangpengzhao commented on #46595
No, Daniel, I didn't mean `kubectl run` but `docker run`.

[2017-05-29 14:49] dkerwin commented on #46595
Sorry. Misread your request. Here's the output after a `docker run`:

[code]

[2017-05-29 14:58] crassirostris commented on #46574
@dlsniper Well, I closed the issue mainly b/c it's not an issue of the core kubernetes, which this repo is about.

Just to clarify, logging directly to Stackdriver is not an encouraged solution to the resource consumption problem, it's a temporary work-around in case fluentd consumes intolerable amount of resources in the current deployment.

To the core Kubernetes, fluentd DaemonSet is just anoth

[2017-05-29 15:20] dlsniper commented on #46574
Thanks for the reply and the patience. Indeed it makes sense and I agree with the logic behind this. Thank you.

[2017-05-29 15:23] crassirostris commented on #46574
@dlsniper Np, thanks for raising this issue anyway, your feedback is extremely useful for us!

[2017-05-29 15:31] luxas commented on #46184
cc @mml for the etcd upgrade failure and @kubernetes/sig-storage-bugs for the volume mounting conformance flakes
PTAL, have you seen these before?

[2017-05-29 15:33] xiangpengzhao commented on #46595
/cc @Random-Liu @yujuhong

[2017-05-29 15:43] luxas commented on #45581
@23doors Please see https://github.com/luxas/kubeadm-workshop for a demo.
@DirectXMan12 et al. are working on making it even better and easily usable in v1.7

@DirectXMan12 we can close this issue right as https://github.com/kubernetes/kubernetes/pull/45384 was merged?

[2017-05-29 15:46] luxas commented on #41025
Closing this as it's a non-fatal issue and it's easily solvable.
If you reopen, do that in the kubeadm repo.

[2017-05-29 15:46] #41025 closed

[2017-05-29 15:47] xiangpengzhao commented on #35354
#46190 is a dup of this. PR #46197 is just a quick try. Will spend more time on it to cover all cases.

[2017-05-29 15:50] eicnix commented on #28786
No longer needed.

[2017-05-29 15:50] #28786 closed

[2017-05-29 15:54] wlan0 commented on #46564
@jeremyeder @luxas The CCM will not host any volume specific controllers at this point. This is the reason ebs volumes are not getting attached/mounted.

We are waiting for CSI, and that will provide the plugin mechanisms for attaching/mounting volumes. In the interim, we decided not to add volume controllers because of its complexity, and because it adds unnecessary tech debt since the old contro

[2017-05-29 16:02] luxas commented on #46564
@wlan0 So in the meantime one can run a new (separate) controller-manager instance with `--cloud-provider aws --controllers attachdetach`?

[2017-05-29 16:15] wlan0 commented on #46564
@luxas in the meantime, one can run a separate kube-controller-manager instance with `--cloud-provider aws --controllers attachdetach,persistentvolume`

[2017-05-29 16:21] luxas commented on #46564
@wlan0 Cool, could you document that at the kubernetes site?

[2017-05-29 16:21] wlan0 commented on #46564
of course.

[2017-05-29 16:23] 23doors commented on #45581
@luxas thanks. I guess I'll have to hold on until 1.7 then. Especially considering current API is not really stable and whole process is kind of cumbersome right now.

My ideal scenario would be to make it so that:
* on each node, there is a process that based on pod spec - periodically gathers custom metrics from sources we defined. E.g. from file or http response (jsonpath).
* HPA gathers all of

[2017-05-29 16:33] luxas commented on #45581
It actually is very simple. The only thing you must do is to create an API endpoint that serves these requests: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/custom-metrics-api.md

Be it whatever. One YAML object for telling k8s where your service is, nothing more (in v1.7)

[2017-05-29 16:46] 23doors commented on #45581
That sounds exactly what I am looking for. Thanks! I'll just make a workaround until 1.7 is released.

[2017-05-29 16:58] luxas commented on #45581
Yes, the Prometheus thing is just a reference implementation. The YAML file to tell kube about your service requires [API Aggregation](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/aggregated-api-servers.md) which is available in v1.7.0-alpha.3+ or so.

The YAML file can look like this: https://github.com/luxas/kubeadm-workshop/blob/master/demos/monitoring/custo

[2017-05-29 17:24] shyamjvs opened #46601 "kubemark-scale timing out in few runs due to master-pd failing to mount"
This happened recently in runs 443 and 445. The apiserver failed to start due to not being able to find its certificate:
[code]

even though all the required auth files were copied to the master:
[code]

cc @kubernetes/sig-scalability-bugs @wojtek-t @gmarek

[2017-05-29 17:29] shyamjvs commented on #46601
The error seems to be in the master-pd mounting step and it is seen in both the runs:

[code]

And once it fails, it fails subsequent attempts again. The script is continuing even if the mount failed and this should be changed.

[2017-05-29 17:30] edevil commented on #46340
This seems related to https://github.com/kubernetes/kubernetes/issues/43516. I think the Azure API sometimes does not respond, or takes a long time to do it, and all hell breaks loose. For example, here is a recent log:

[code]

I've been trying to add extra logging to the Azure cloud provider, #45540, but no one has answered yet.

[2017-05-29 17:51] edevil opened #46602 "Azure API problems cause cloud provider to fail and delete all pods"
**Is this a request for help?**:
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

azure cloudprovider api nodestatus

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware

[2017-05-29 18:19] cblecker commented on #46391
All known instances of go in k/k have been updated to a patched version (go1.7.6 or go1.8.3). 🎉

[2017-05-29 18:19] #46391 closed

[2017-05-29 18:27] shyamjvs commented on #46601
Interestingly, there's something else that also happened, probably a side-effect of the failed mount. A symbolic link got created inside a directory under the etcd mountpoint that points to itself:
[code]

[2017-05-29 18:33] shyamjvs commented on #46601
I'll send out a fix for this issue, making the kubemark scripts fail fast in case of an error (which of course includes the mount step too).

Btw, I tried doing a reboot on the kubemark-scale master during run 445 after experimenting with some changes, and the start-kubemark script failed and the run terminated as a result. But anyway, there was no point waiting for the timeout to happen.

[2017-05-29 18:39] jcbsmpsn opened #46603 "Add a kubelet flag to enable certificate rotation"
Before the kubelet features covered by feature flags:

- RotateKubeletServerCertificate
- RotateKubeletClientCertificate

reach GA, there should be a kubelet flag to enable (or disable as the case may be) certificate rotation so that a cluster configured without a working signer will not attempt certificate rotation.

[2017-05-29 18:40] jcbsmpsn commented on #46603
/assign @jcbsmpsn

[2017-05-29 18:41] jcbsmpsn commented on #46603
@mikedanese Under what conditions does a cluster not have a working signer?

[2017-05-29 18:42] justinsb commented on #45457
@lavalamp  Perhaps this is a separate issue, but this is contrary to what I was told when I proposed having a command that could dump from etcd into our API format.  Did this change?   Why?  This seems not-entirely-real-world-realistic, and likely to push people towards bigger user apiservers than we would otherwise want...

[2017-05-29 18:45] justinsb commented on #43340
So on kops we do office hours every other week.  Can I suggest sig-test does the same thing, and we can record it and get up to speed with how test infrastructure is supposed to work.  I suggest we fix this issue together - it should be simple from the AWS perspective.   And I'm sure from the sig-test perspective, it is simple also, but there's a lot of tribal knowledge that I think needs dissemin

[2017-05-29 18:56] xiangpengzhao commented on #46603
/sig auth
/sig node

[2017-05-29 19:03] xiangpengzhao commented on #46602
/area cloudprovider
/area platform/azure

/cc @brendandburns

[2017-05-29 21:00] shyamjvs opened #46607 "Kubemark apiserver metrics not showing any 'LIST secrets' calls"
For reference, https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/2974/artifacts/APIResponsiveness_load_2017-05-29T04:46:11-07:00.json does not show any 'list secrets' calls.
However, there clearly are some of those calls as seen from the apiserver logs:

[code]

cc @wojtek-t @gmarek

[2017-05-29 21:04] hongchaodeng commented on #34788
This happened again on k8s 1.6.2 .
Can we re-open it?
@pwittrock

[2017-05-29 21:10] tgraf commented on #31813
I'll be working on this for 1.7.

[2017-05-29 22:13] metal3d commented on #13358
I don't know why this issue is closed. It's not the same as #13748 because the title is about Endpoints.

I've got a situation where Endpoints object with IP addresses is not suffisent and the need of dns resolution is important: glusterfs-endpoint

In my case, my servers ore behind routers that use NAT. So my endpoint to gluster are private ips (10.0.0.0/8) but after a restart, some server can ch

[2017-05-29 22:19] smarterclayton commented on #13358
@metal3d this is probably a different bug then - it sounds like you need a way to control how gluster resolves those endpoints by having gluster look at the service, rather than just the endpoints?  Or do you need gluster to refresh endpoints more frequently?

[2017-05-29 22:35] metal3d commented on #13358
@smarterclayton I don't know if it's a bug :) I only find one way to assign gluster endpoints to persistent volumes: using endpoint object, and the only examples that I see are using IP addresses.
I sometime need to reboot gluster nodes (for different reasons) and ip are changing frequently. So at this time, I need to launch a Ansible playbook that removes every gluster enfpoints (because kubernet

[2017-05-29 22:44] metal3d commented on #13358
PS: I'm checking how to use storageclass that should resolve my problem

[2017-05-29 23:07] paralin commented on #13358
Why not just point everything at a clusterip on the service?

[2017-05-29 23:11] metal3d commented on #13358
@paralin because persistent volume want a endpoint reference, and gluster is not installed via kubernetes/openshift, it's on different servers. Or I didn't understand what you mean

[2017-05-29 23:35] xiangpengzhao commented on #27572
There was below info from your log:
`+++ [0616 17:45:01] Multiple platforms requested, but available 0G < threshold 11G, building platforms in serial`

[code]

It seems like that the compiler was OOM killed due to memory pressure. AFAIK, `make release` consumes a lot of memory. I used to encounter `cannot allocate memory` when running it.

We're going to close this issue. Feel free to file a new i

[2017-05-30 00:21] edsiper commented on #46574
For the record: found a user who did a GKE plugin (golang) for Fluent Bit:

http://qiita.com/apstndb/items/78482a26b13b10eded0e

It's not an official plugin good to give it a try

[2017-05-30 00:23] davidopp commented on #46231
ref/ #25625

@kubernetes/sig-cluster-lifecycle-feature-requests
@kubernetes/sig-scheduling-feature-requests

[2017-05-30 00:32] foxish commented on #46472
Possibly jumped the gun on this one, and conflated "required" as per the spec with "required" by the validation we enforce.
The field was marked optional and omit-empty even in its [previous incarnation](https://github.com/kubernetes/kubernetes/commit/2b0de599a7ed8ea9448e120b38e592f62f8eb699#diff-734794908caa07fde135601356d6c916L30).

On an aside, I've tested the manual cluster downgrade scenario

[2017-05-30 01:04] abhinavdahiya opened #46610 "Expose vendorCNIDirPrefix for cni plugins"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): YES

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cni vendor, vendordirprefix

---

**Is this a BUG R

[2017-05-30 01:23] xiangpengzhao commented on #27476
This should have been fixed in #30577. We're going to close this.

@thockin

[2017-05-30 02:30] yasassri opened #46611 "Unable to call services through the nodeport from different nodes"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** NodePort

---

**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPOR

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): CoreOS
- **Kernel** (e.g. `uname -a`): Linux

[2017-05-30 02:59] #31128 closed

[2017-05-30 03:01] xiangpengzhao commented on #27464
Yeah this is a dup of #27140. The proposal is https://github.com/kubernetes/community/pull/649. @verb is working on it. The related WIP PRs are #45442, #46243, #46256, #46261.

I suggest we close this issue and follow @verb 's work.

@thockin

[2017-05-30 03:17] pineking commented on #44438
@cmluciano I found the reason.
The status of pod is failed with the reason of `OutOfalpha.kubernetes.io/nvidia-gpu` if there is a `nodeName: xxxx` in YAML file when there is not free GPU left on this node, which means that there are not enough GPUs to running the pod on node xxxx.
The status of pod is pending as expected if we remove the line `nodeName: xxxx` from the yaml file.
so, this issue can

[2017-05-30 03:17] #44438 closed

[2017-05-30 03:31] yasassri commented on #46611
This is possibly a DNS issue, I follwed  https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ but could not get following to work
`kubectl exec -ti busybox -- nslookup kubernetes.default
`
I also did everything listed in the above link to debug the issue, but everything seems to work properly.

[2017-05-30 03:43] #27464 closed

[2017-05-30 03:56] #28227 closed

[2017-05-30 03:56] #28273 closed

[2017-05-30 03:56] #28419 closed

[2017-05-30 03:58] #27476 closed

[2017-05-30 03:58] #27572 closed

[2017-05-30 03:59] thockin commented on #13358
Endpoints can not hold hostnames.  The spillover of complexity is not viable.

[2017-05-30 04:20] thockin commented on #30073
--resolv-conf should *only* change where we get the initial resolve info.
Beyond that, the semantic should be exactly the same as the default path -
e.g. merge `search` lines

On Sun, May 28, 2017 at 2:51 AM, tacy <notifications@github.com> wrote:

[2017-05-30 04:26] #30726 closed

[2017-05-30 04:30] shashidharatd commented on #45963
Yes currently we support only LoadBalancer type of services for federation(cross-cluster) service discovery.

[2017-05-30 04:42] suyogbarve commented on #46361
@xingzhou I have sent #46612 can you please review.

[2017-05-30 05:14] mikkeloscar commented on #34934
This seems to not be relevant anymore.

[2017-05-30 05:14] #34934 closed

[2017-05-30 05:21] thockin commented on #46190
Dup of #35354

[2017-05-30 05:21] #46190 closed

[2017-05-30 05:29] thockin commented on #30584
Were any files actually in DOS format?

On Sat, May 27, 2017 at 1:48 AM, Yan <notifications@github.com> wrote:

[2017-05-30 05:34] thockin commented on #31435
Fixed in 1.7

[2017-05-30 05:34] #31435 closed

[2017-05-30 05:45] wojtek-t commented on #46607
This is working as intended.
Note that:
- we are resetting metrics at the beginning of the test
- grabbing them at some point in time.
In case of this particular test we had:
[code]

There were no "list secret" calls in the meantime.

[2017-05-30 05:45] #46607 closed

[2017-05-30 05:50] csandanov commented on #45368
I have a similar issue but on a custom single-node cluster, random reboots happen on jesse 3.16 with k8s 1.6.4 and 1.5.4, docker 1.12.6, etcd 2.3.7.
[code]

[2017-05-30 05:52] wojtek-t commented on #3119
After pushing those data here and there, we decided to store them in separate dedicated files in json format. As long as this is not ideal, but finally we have a unified method for doing this and that serves our purpose (e.g. dashboard can easily use this data).
I'm marking as fixed - we ca revisit it at some point, but that doesn't seem to be needed.

[2017-05-30 05:52] #3119 closed

[2017-05-30 05:54] wojtek-t commented on #15078
This is obsolete now.

[2017-05-30 05:54] #15078 closed

[2017-05-30 05:57] luxas commented on #45668
Closing as @huangjiasingle will reopen this in the kubernetes/kubeadm repo

[2017-05-30 05:57] #45668 closed

[2017-05-30 05:59] luxas commented on #45632
@arunmk Please open an issue in the kubeadm repo instead of here.
To quickly answer your question, there were some authorization concerns which keeping that behavior very hard. For now, you should just run `kubectl drain <node> [flags]` before running `kubeadm reset`

[2017-05-30 05:59] #45632 closed

[2017-05-30 06:02] luxas commented on #45459
@ZachGoldberg If you think this issue is specific to kubeadm, please reopen in kubernetes/kubeadm. If this is a flannel issue, please move the issue there...
Also this might be related to https://github.com/kubernetes/kubeadm/issues/273?

[2017-05-30 06:04] luxas commented on #44551
@rachit1arora Please reopen in the kubeadm repo, closing for now

[2017-05-30 06:04] #44551 closed

[2017-05-30 06:06] luxas commented on #44205
/sig cluster-lifecycle

[2017-05-30 06:06] luxas commented on #44205
@klinakuf Please reopen in the kubeadm repo, closing this now...

[2017-05-30 06:06] #44205 closed

[2017-05-30 06:08] luxas commented on #44201
@dorry-terryli It's correct that you can't spin up a v1.5 master with v1.6 kubeadm. You may be able to downgrade kubeadm to do that though.

Anyway, it's working as expected. If you still think it's an issue, please reopen in the kubeadm repo...

[2017-05-30 06:08] #44201 closed

[2017-05-30 06:10] luxas commented on #43869
/sig cluster-lifecycle

@TapasBhattacharjee kubeadm v1.6.4 works well. You should run the same version of kubeadm and kubelet (v1.6).

If you still experience this issue, please reopen this issue in the kubeadm repo https://github.com/kubernetes/kubeadm/issues

[2017-05-30 06:10] #43869 closed

[2017-05-30 06:11] luxas commented on #43857
This has been fixed, duplicate of https://github.com/kubernetes/kubernetes/issues/43815

[2017-05-30 06:11] #43857 closed

[2017-05-30 06:13] luxas commented on #43849
@Scukerman That's because the `etcdctl` tool defaults to using the V2 API. kubeadm v1.6+ uses the v3 API. Set `ETCDCTL_API=3` when using `etcdctl`.

@scottxusayhi The cluster/ubuntu kube-up.sh solution has been removed. Please use Canonical's Juju Charms solution or kubeadm instead

[2017-05-30 06:13] #43849 closed

[2017-05-30 06:14] luxas commented on #43759
kubeadm should work well for this task.
Also see @ivan4th's project: https://github.com/Mirantis/kubeadm-dind-cluster

I think we discussed this in an other thread, closing as a duplicate

[2017-05-30 06:14] #43759 closed

[2017-05-30 06:16] luxas commented on #43743
/sig cluster-lifecycle

@kubernetes/sig-cluster-lifecycle-feature-requests We should indeed document the differences between these solutions better.

@jeroenjacobs1205 I think kubeadm should be pretty secure with v1.6. You might be interested in reading https://github.com/kubernetes/kubeadm/pull/156 as well

[2017-05-30 06:17] luxas commented on #43743
cc @kubernetes/sig-auth-feature-requests as well

[2017-05-30 06:19] luxas commented on #42791
Agree with @sfloresk, that's probably the issue.

@jicki If that doesn't fix your problem, reopen the issue in the kubeadm repo: https://github.com/kubernetes/kubeadm/issues

[2017-05-30 06:19] #42791 closed

[2017-05-30 06:19] luxas commented on #41024
This has been fixed since the bug was filed :+1:

[2017-05-30 06:19] #41024 closed

[2017-05-30 06:20] luxas commented on #41317
This has been fixed with the v1.6 release

[2017-05-30 06:20] #41317 closed

[2017-05-30 06:20] mengqiy commented on #46543
/sig cli

[2017-05-30 06:20] luxas commented on #41945
kubeadm v1.6.4 stable is available now

[2017-05-30 06:20] #41945 closed

[2017-05-30 06:22] yasassri commented on #46611
Update: This happens when using calico. The issue is not there when using flannel.

[2017-05-30 06:23] luxas commented on #41377
This issue is more related to CNI networking implementations than Kubernetes itself. I believe that flannel/calico et al. have fixed issues related to this now as well.

If there still is an issue and you're using kubeadm, please reopen the issue in the kubeadm repo: https://github.com/kubernetes/kubeadm/issues

[2017-05-30 06:23] #41377 closed

[2017-05-30 06:25] luxas commented on #40988
This is the expected behavior. You should install a networking solution like Weave to finish the set up of your cluster:
[code]

[2017-05-30 06:25] #40988 closed

[2017-05-30 06:26] luxas commented on #40987
This issue is now obsolete. The issues here have been fixed with newer releases.

[2017-05-30 06:26] #40987 closed

[2017-05-30 06:27] luxas commented on #39701
This is a flannel issue not a Kubernetes one. Please reopen this in the flannel or kubeadm repo if you can reproduce this anymore.

[2017-05-30 06:27] #39701 closed

[2017-05-30 06:29] luxas commented on #39592
This seems more like a proxy issue in your env than a Kubernetes issue.
I'm hesitant against turning of CA verification though...

[2017-05-30 06:29] #39592 closed

[2017-05-30 06:30] #39586 closed

[2017-05-30 06:32] wojtek-t commented on #43088
Removing milestone - this isn't critical and noone really has capacity for it.

[2017-05-30 06:32] luxas commented on #38923
cc @kubernetes/sig-storage-bugs

I guess and think this is out of scope to include rbd, but very unfortunate bug indeed.

[2017-05-30 06:33] luxas commented on #38752
Please reopen this issue in the kubeadm repo in case you can reproduce this error: https://github.com/kubernetes/kubeadm/issues

[2017-05-30 06:33] #38752 closed

[2017-05-30 06:35] wojtek-t commented on #38263
@gmarek - can you please take a look if the underslying problem was fixed?

[2017-05-30 06:37] luxas commented on #38369
Please reopen this issue in the kubeadm repo in case you can reproduce this error: https://github.com/kubernetes/kubeadm/issues

Please try to use kubeadm v1.6

@kachkaev It's an environment variable. Maybe try `unset HTTP_PROXY`...

[2017-05-30 06:37] #38369 closed

[2017-05-30 06:40] wojtek-t commented on #33693
During 1.7 we significantly improved iptables. In particular:
1. introduced throttling on how often we run iptables-restore and iptables-save commands
2. changed the model of how watches are handled (this is now really event-based)
3 reduced number of allocations in kube-proxy by ~10-12x

In particular we fixed all issues mentioned in https://github.com/kubernetes/kubernetes/issues/33693#issuecomm

[2017-05-30 06:40] #33693 closed

[2017-05-30 06:42] luxas commented on #37922
Seems like folks have found their way to work around these proxy issues. I think declaring proxy env vars in /etc/environment is probably best practice.
Turning off gpg verification could work but isn't encouraged

If you still think this is a problem, please reopen this issue in https://github.com/kubernetes/kubeadm/issues

[2017-05-30 06:42] #37922 closed

[2017-05-30 06:44] wojtek-t commented on #39017
Patch is no longer a problem after all those changes. Closing.

[2017-05-30 06:44] #39017 closed

[2017-05-30 06:44] luxas commented on #37063
I think we can/should move the conversation to https://github.com/kubernetes/kubeadm/issues/262 in case this problem still exists.

[2017-05-30 06:44] #37063 closed

[2017-05-30 06:44] cheld commented on #43759
Thanks for closing.

[2017-05-30 06:46] wojtek-t commented on #41379
@shyamjvs

[2017-05-30 06:49] luxas commented on #36575
@rothgar @everett-toews Arriving late but I have to pushback on `kubeadm uses weave by default`.
That isn't the case or have never been. kubeadm doesn't care about networking nor set it fully up, it's out of scope.
That's left to third-party solutions like Weave and Flannel.

You can choose to deploy whatever networking solution you want as long as it satisfies CNI.

At one moment in time, Weave w

[2017-05-30 06:49] #36575 closed

[2017-05-30 06:50] luxas commented on #36460
Please reopen in the kubeadm repo (https://github.com/kubernetes/kubeadm/issues) if you can reproduce with kubeadm v1.6. Thanks!

[2017-05-30 06:50] #36460 closed

[2017-05-30 06:52] luxas commented on #36420
Closing as this CSR issue has probably been fixed in more recent versions, haven't seen that again

[2017-05-30 06:52] #36420 closed

[2017-05-30 06:54] luxas commented on #36382
@tonyclam Please try kubeadm v1.6 out and see if it fixes this issue.
If the issue still exists, please reopen this issue in the kubeadm repo: https://github.com/kubernetes/kubeadm/issues

[2017-05-30 06:54] #36382 closed

[2017-05-30 06:56] luxas commented on #36213
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider-refactoring.md will probably fix this.

Until then, you must use the drop-in file like that. We won't touch KUBELET_EXTRA_ARGS

[2017-05-30 06:56] #36213 closed

[2017-05-30 06:57] luxas commented on #36000
Closing this as seems outdated and fixed.
@saad-ali reopen if not.

[2017-05-30 06:57] #36000 closed

[2017-05-30 06:57] davd33 commented on #30518
+1

[2017-05-30 06:58] luxas commented on #35996
Thanks @mellotron these docs fixes have been merged a long time ago thanks to your suggestions :+1:
We just forgot to close the issue.

[2017-05-30 06:58] #35996 closed

[2017-05-30 06:59] luxas commented on #35684
If this issue exists with kubeadm v1.6 as well, please reopen an issue in the https://github.com/kubernetes/kubeadm/issues repo

[2017-05-30 06:59] #35684 closed

[2017-05-30 07:00] luxas commented on #35682
This issue is now outdated, kubeadm phases and upgrades are coming for v1.8 and have their respective issues in the kubeadm repo...

[2017-05-30 07:00] #35682 closed

[2017-05-30 07:00] wojtek-t commented on #43728
We have switched off image prepulling completely in scalability tests this is doing the final cleanup: https://github.com/kubernetes/test-infra/pull/2872

Regarding the other issue, it seems we are in much better shape now, so closing this issue.

[2017-05-30 07:00] #43728 closed

[2017-05-30 07:01] luxas commented on #35517
@jayunit100 @wojtek-t has this been fixed now?
Can we close this?

[2017-05-30 07:02] luxas commented on #35026
Closing in favor for: https://github.com/kubernetes/kubeadm/issues/190

[2017-05-30 07:02] #35026 closed

[2017-05-30 07:02] luxas commented on #35025
Has been implemented very much thanks to @dmmcquay ;)

[2017-05-30 07:02] #35025 closed

[2017-05-30 07:04] luxas commented on #34448
@gmarek @jbeda I guess this is fixed now, right?
I think we can close this and open new issues in case something of this still occurs.

[2017-05-30 07:04] #34136 closed

[2017-05-30 07:05] luxas commented on #33881
@kfox1111 Please reopen this in the kubeadm repo in case it still occurs with kubeadm v1.6: https://github.com/kubernetes/kubeadm/issues

(Or there might be issues filed for this there already)

[2017-05-30 07:05] #33881 closed

[2017-05-30 07:06] luxas commented on #28631
Is this issue relevant anymore @david-mcmahon?
Can we close it as fixed?

[2017-05-30 07:08] luxas commented on #21729
This issue is more than a year old and hasn't been updated.
Don't think this happens anymore so closing...

[2017-05-30 07:08] #21729 closed

[2017-05-30 07:09] wojtek-t commented on #43843
@HardySimpson - I'm not sure which release you were running your experiments on, but it was actually already fixed (not the way you suggested, but in more generic way).
It's more-or-less this PR that fixed it: https://github.com/kubernetes/kubernetes/pull/36889

To clarify, all the watches in the system (for a given resource) are served from apiserver watchcache. That said, with that PR we are com

[2017-05-30 07:09] #43843 closed

[2017-05-30 07:10] #34448 closed

[2017-05-30 07:10] luxas commented on #11816
@kubernetes/sig-api-machinery-feature-requests is this done now with v1.6?
kubeadm uses secure communication in v1.6 and I know many others do.
Are there any important solutions yet to patch?

[2017-05-30 07:10] wojtek-t commented on #44707
@gmarek - is this fixed now? Can we close this? If not what is remaining?

[2017-05-30 07:11] wojtek-t commented on #45288
I guess the problem is that we shouldn't run tests in kubemark the way you were running.
@shyamjvs - can you please take a quick look and if I'm right provide the correct commads?

[2017-05-30 07:12] luxas commented on #33530
@justinsb @philips @jbeda Anything more to do here?

[2017-05-30 07:15] wojtek-t commented on #31345
Do we want to do something with this soon-ish?

[2017-05-30 07:17] luxas commented on #46103
@thockin Waiting for https://github.com/kubernetes/kubernetes/issues/46372 I guess... (which I'm reviewing now)

[2017-05-30 07:18] xiangpengzhao commented on #46610
/sig network

[2017-05-30 07:19] xiangpengzhao commented on #46611
/sig network

[2017-05-30 07:49] #46433 closed

[2017-05-30 08:03] jsafrane commented on #38923
I am working on https://github.com/kubernetes/features/issues/278 - /usr/bin/rbd (and similar tools) could run in containers. On GKE you would run a daemonset with all Ceph utilities and you won't need anything on the nodes nor master(s).

[2017-05-30 08:12] msvechla commented on #38192
How can it be that this is not implemented yet. Seems to be a basic task to change the default reclaim policy for automatically provisioned volumes.

[2017-05-30 08:12] rgomesf commented on #43516
We have the same problem in Azure,

After setting Node Controller logs to V4, this messages start showing up on logs:

Reason:NodeStatusUnknown Message:Kubelet stopped posting node status.

All our pods are being killed,sometimes several times a day...

[2017-05-30 08:15] gmarek commented on #38263
Nope, it's not. We have a backoff implemented, but we never give up. I'll send a PR is few minutes.

[2017-05-30 08:23] luxas commented on #38923
@jsafrane Would that incorporate dynamic storage provisioning for the controller manager as well?

[2017-05-30 08:32] yastij commented on #46330
@gmarek to give you more information :

`PatchNodeTaints` is used only by `RemoveTaintOffNode` and `AddOrUpdateTaintOnNode`. These functions uses respectively `RemoveTaint` and `AddOrUpdateTaint`  helper functions located on the imported `helper.go` and both returns a modified copy of the node.

so i think that we can avoid deepCopy on `PatchNodeTaints`.

[2017-05-30 08:36] luxas commented on #46168
cc @roberthbailey @mikedanese @pipejakob @gmarek @wojtek-t @dchen1107

[2017-05-30 08:36] gmarek commented on #44707
I think it's done.

[2017-05-30 08:36] #44707 closed

[2017-05-30 08:39] rgomesf commented on #46602
Hi.

We also have the same problem. Hoping for a fix for this. Our clusters area really unstable because of this :(

[2017-05-30 08:39] jsafrane commented on #38923
@luxas, probably not in alpha, but in the end yes, no /usr/bin/rbd on controller-manager host.

[2017-05-30 09:05] devent opened #46618 "Tolerations are not applied to Heapster"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

**What happened**:

Try to apply the manifest with `kubectl apply -f FILE`. The tolerations are not set.

[code]

**What you expected to happen**:

The tolerations are set.

[2017-05-30 09:20] crassirostris commented on #46574
@edsiper That sounds cool! 10MB is a number I'm looking forward to

@igorpeshansky FYI

[2017-05-30 10:14] akostadinov commented on #44538
The question is how does one know which `ReplicaSets` are owned by a particular `Deployment`. Sure one can generate pod template hash but seems like hashing function can change over time.

Given a `Deployment` how would I find out the last/current ReplicaSet associated with it?

[2017-05-30 10:39] gyliu513 commented on #46618
@devent how did you check the `tolerations` are not set? Did you set related `taint` on the host?

[2017-05-30 10:47] #38263 closed

[2017-05-30 11:27] pmichali commented on #43340
@justinsb +1

@hubt indicated that he can help from the AWS side some.

Is there a sig-testing person who can help as well?

[2017-05-30 12:19] mshytikov commented on #8876
Yet another variation of a workaround
[code]

[2017-05-30 12:29] crassirostris commented on #44976
@Random-Liu If we have to escape special symbols anyway, mb it doesn't make sense to introduce a new format, but rather stick with json? Not the most efficient format, but widely-used, extensible and doesn't have problems mentioned in this issue

[2017-05-30 12:35] shyamjvs commented on #45288
@xiechengsheng There seem to be at least 2 things wrong with the way you are running the test:
- You have set the `KUBERNETES_PROVIDER=local` which would break things inside hack/ginkgo-e2e.sh (which is called from kubetest, which is called from hack/e2e.go) that uses it for sourcing the right config files for kubemark. So it is expected to be set as `kubemark` instead. The recommended way of runn

[2017-05-30 12:39] deads2k commented on #45170
I haven't looked lately.

[2017-05-30 12:41] deads2k opened #46622 "kubectl --validate should use openapi"
We've had openapi available for several releases.  We should switch `kubectl --validate` to use openapi instead of swagger and then retire swagger.  This allows the CLI to use the same information used to generate our clients (good for  @kubernetes/sig-cli-misc ) and reduces the maintenance load for the apiserver (good for @kubernetes/sig-api-machinery-misc)

[2017-05-30 12:49] shyamjvs commented on #45288
FYI, there's an ongoing PR (https://github.com/kubernetes/kubernetes/pull/44394) for this use case, of being able to run e2e tests on an on-prem kubemark cluster. It also enables creating/deleting a kubemark cluster given a pre-existing kubemark master, but you can use it for just running e2e tests.

[2017-05-30 13:13] antoineco commented on #44990
It's not fixed (v1.6.4):
[code]

[2017-05-30 13:14] justinsb commented on #33530
I think we're done :-)  Would be nice if the annotations were in the more discoverable place, but that is quite literally another issue!

[2017-05-30 13:21] luxas commented on #45717
Ah, this is even worse than I thought...

@timothysc

See: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L658
[code]
I took for granted without even looking deeper at it that **NetworkReady** actually was a **Kubernetes Node** condition, but it isn't. It's a _CRI Condition_, which can't be used for scheduling.
What we have now is a blob in the **KubeletNot

[2017-05-30 13:23] #33530 closed

[2017-05-30 14:03] shyamjvs commented on #46607
Sorry I missed that. Thanks a lot for the info :)

[2017-05-30 14:12] luxas commented on #45594
ping @bowei

[2017-05-30 14:23] smarterclayton commented on #31345
It seems like we want a client aware watcher abstraction that is basically a lightweight, low cost informer.

[2017-05-30 14:27] chandanmad commented on #45147
Hi @adohe , how to go about writing e2e test cases for this. My development is mostly complete.

[2017-05-30 14:36] justinsb commented on #43340
(I'm also happy to help from the AWS side - I wrote the equivalent lines for kube-up :-) )

[2017-05-30 14:38] danwinship opened #46625 "Update NetworkPolicy e2e test for v1 API/semantics"
`test/e2e/network_policy.go` needs some updates:

- [x] Use `networking.NetworkPolicy` rather than `extensions.NetworkPolicy`
- [x] Assume v1 semantics rather than the v1beta1 DefaultDeny annotation
- Add missing v1beta1-era tests:
  - [x] Named ports
  - [ ] NetworkPolicyPort with Protocol but not Ports means "any port with that protocol"
- Add additional v1 semantics tests:
  - [x] A policy with

[2017-05-30 14:39] danwinship commented on #46625
I'm working on at least the first two
/assign

[2017-05-30 14:43] danwinship opened #46626 "Drop extensions.NetworkPolicy"
After #39164 we now have two separate "internal" NetworkPolicy objects: extensions.NetworkPolicy, and networking.NetworkPolicy. Additionally, there are two separate packages under pkg/registry (pkg/registry/extensions/networkpolicy and pkg/registry/network/networkpolicy), two sets of kubectl printers/describers, and some handwritten conversions in pkg/apis/extensions/v1beta1 and pkg/apis/networkin

[2017-05-30 15:05] xiangpengzhao commented on #46618
@devent  I don't understand what happened and what you expected to happen, either. I can see tolerations in both the manifest and the applied configuration. Could you please explain and provide more info?

might be /sig scheduling ?

[2017-05-30 15:22] dnardo commented on #46474
/assign

[2017-05-30 15:37] tacy commented on #30073
Beyond that, the semantic should be exactly the same as the default path -
e.g. merge `search` lines

See: https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet#L1215

GetClusterDNS  would read resolv.conf and merge cluster.domain to `search` line , I think that it is same with your comment,  Or have I missed something?

[2017-05-30 15:37] tacy commented on #30073
/cc @thockin

[2017-05-30 15:42] #46601 closed

[2017-05-30 15:46] gyliu513 opened #46629 "Validating expected Event numbers for damoncontroller test"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-05-30 15:48] spzala commented on #16909
@jdoliner hi Joe, seems like we can close this issue. Did you have chance to try the doc link provided above? Also minikube is now a recommended way to set up local cluster. For any support/help questions, I would recommend to ask it here, https://stackoverflow.com/questions/tagged/kubernetes
Thanks!

/cc @thockin

[2017-05-30 15:52] mbohlool commented on #46622
dup https://github.com/kubernetes/kubernetes/issues/38637

[2017-05-30 15:52] #46622 closed

[2017-05-30 15:59] spzala commented on #16934
@ihmccreery hi Issac, is this still an issue? or do we have a desired review process available now, and we can close it? If not, we probably need to poke related SIG :-) I am helping closing open issues and since this is a very old issue, thought good idea to touch base with you. Thanks!!

[2017-05-30 16:00] luxas commented on #45147
@chandanmad I wouldn't mind if you posted the PR now and then we'd see what e2e test makes sense to have. In order to move forward...

[2017-05-30 16:01] spzala commented on #16936
@david-mcmahon @ihmccreery , is this still an issue or can we close it? Since it's around for long time thought good idea to touch base with you. Thanks!

[2017-05-30 16:04] spzala commented on #16878
@ihmccreery hi Isaac, this one seems obsolete by now. Can we close it unless it's still an issue with the latest release. Thanks!

/cc @thockin

[2017-05-30 16:07] ericchiang opened #46631 "[flake] pkg/kubeapiserver/admission/configuration TestConfiguration"
Found in https://github.com/kubernetes/kubernetes/pull/46489

[code]

I can reproduce locally using golang.org/x/tools/cmd/stress

[code]

[2017-05-30 16:09] ericchiang commented on #46631
/assign @caesarxuchao

(via git blame)

[2017-05-30 16:13] #46570 closed

[2017-05-30 16:20] yujuhong commented on #44650
Could this be the by-product of moving to using inotify? If that's the case, #44495 should help this by *always* listing once before subscribing to the inotify events.

[2017-05-30 16:22] rjtsdl opened #46632 "[Issue or Feature Request] Azure: don't using control plane to retrieve nodes status"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
No

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-05-30 16:29] ericchiang commented on #46631
cc @kubernetes/sig-api-machinery-bugs

[2017-05-30 16:42] bgrant0607 commented on #20870
Feature issue: https://github.com/kubernetes/features/issues/135

[2017-05-30 16:50] kfox1111 commented on #25066
We need to figure out how authz with openstack's going to work. I still think it should use rbac and be tenant aware, not just have policy/tenancy crammed into groups. Can't be done outside of process though.

The two approaches suggested in this issue isn't a good way to solve it IMO. The server should never get a username/password to give to keystone. only a keystone token.

[2017-05-30 16:56] mtaufen commented on #45917
[code]
shows up 39 times at the end of the Kubelet log on `gke-bootstrap-e2e-default-pool-50e8a0eb-xbrm` (from the [example](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-ci-master/7117/artifacts/gke-bootstrap-e2e-default-pool-50e8a0eb-xbrm/kubelet.log) @msau42  linked), so I'd definitely suspect that docker crashed.

[2017-05-30 17:00] roberthbailey commented on #44975
@wlan0 is this going to make it for 1.7 or should we bump the milestone to 1.8?

[2017-05-30 17:02] roberthbailey commented on #43716
Is anyone driving this for 1.7?

[2017-05-30 17:06] luxas opened #46634 "Write e2e tests for the BootstrapSigner, TokenCleaner and BootstrapTokenAuthenticator"
The title says it all. @jbeda knows what to do :smile:
Required for graduating [Bootstrap Tokens](https://github.com/kubernetes/community/pull/628) to beta in v1.8

[2017-05-30 17:14] timothysc commented on #33188
It still doesn't describe the tuning knobs and how they affect behavior.

[2017-05-30 17:15] #43845 closed

[2017-05-30 17:23] msau42 commented on #46184
From what I understand about this suite, it does a 1.5->1.6 upgrade and then after the upgrade, it runs a bunch of normal tests.

A bunch of tests failed to pull the image after the upgrade:

[code]

[2017-05-30 17:28] msau42 commented on #46184
Can someone from @kubernetes/sig-node-bugs investigate the image pull failure?

[2017-05-30 17:29] cjcullen commented on #39990
We couldn't do this for GKE because of the upgrade story: We support old nodes, who only have certificates identifying them as "kubelet", so we have to keep around a binding from "kubelet" to the "system:nodes" role.

This is done. By default, ABAC policy is preserved on an upgrade. You can call `gcloud container clusters update --no-enable-legacy-authorization my-cluster` to disable the old ABAC

[2017-05-30 17:31] yujuhong commented on #45717
Reporting unready network plugins as part of the node ready condition predated CRI. In fact, the logic was there at least on or before kubernetes 1.2, before taints/toleration was introduced.

I do think we should clarify/re-define the conditions and interactions with the control plane.

[2017-05-30 17:32] viprat opened #46636 "FUSE client support for K8s CephFS"
The goal of this issue is to design a CephFS driver using FUSE client for Kubernetes.</br>
Existing Ceph kernel client has the following drawbacks:</br>
•	Kernel client does not support client-enforced quotas.
•	Kernel CephFS doesn't support quota or capacity, capacity requested by PVC is not enforced or validated.
•	Kernel CephFS doesn't work with SELinux, setting SELinux label in Pod's security

[2017-05-30 17:42] timothysc commented on #45717
I think this is bad, but I don't think it's release blocker bad.

I do agree it's feature blocker bad for both "self-hosted" and daemonsets->scheduler.

Does anyone have cycles to investigate?

[2017-05-30 17:46] fieryvova commented on #22981
In my case, I'd like to run a part of an [Akka cluster](http://akka.io/) in Kubernetes and to have a random host port for every pod. The other part is running somewhere else.
That would allow me to have a unique IP:Port pair for each component of the cluster, which is a requirement to connect them together.
Currently, I don't see any other way to have an external IP:Port combination for every pod

[2017-05-30 17:48] spzala commented on #16863
@johanhaleby @thockin I tested with minikube and see the issue with "-" is still there except that with a modified error message "The Pod "containers" is invalid: spec.containers[0].env[0].name: Invalid value: "x-y": must match the regex [A-Za-z_][A-Za-z0-9_]* (e.g. 'my_name' or 'MY_NAME' or 'MyName')"
I am wondering, can we close this issue as "working as designed"? Did we expect any other docume

[2017-05-30 17:49] strigazi commented on #46636
Just a detail. Since we will rely on ceph-fuse, we will need the ceph-fuse client to be available on all kubernetes nodes.

We can add a parameter to allow the use of the kernel client as well. I would say better make the fuse client opt-in and keep the kernel one as the  default option. The kernel client might support quotas in the future.

Thanks

[2017-05-30 17:53] pmichali commented on #43340
@justinsb Thanks!

[2017-05-30 17:56] spzala commented on #16104
@zmerlynn hi, this issue is around for long time and seems like not an a real k8s issue and it can be closed? If needed, we can document it and then close? Thanks!
/cc @thockin

[2017-05-30 18:00] wlan0 commented on #44975
Hey @roberthbailey Sorry, I don't have the bandwidth right now, it has to be bumped up to 1.8

[2017-05-30 18:09] chakri-nelluri commented on #45887
@paalkr This typically happens when the plugin is not echoing valid output. Please check your plugin output.
Ping me on slack @nelcyguy if you are still facing issues.

[2017-05-30 18:10] luxas commented on #44975
ok @wlan0 thanks for confirming

[2017-05-30 18:11] dgpc commented on #46526
Updated to 1.6.4 and confirmed both clusters get mode=rate, max_rps=1.

I'll open a separate issue about increasing max RPS.

[2017-05-30 18:11] #46526 closed

[2017-05-30 18:13] luxas commented on #45717
@timothysc Totally agree. Won't affect the release since the behavior has existed a couple of releases already.

I might have some time, let's see how things turn out

@yujuhong Where should we have this conversation?

[2017-05-30 18:24] cmluciano commented on #44107
Moved to next candidate for now

[2017-05-30 18:29] wojtek-t commented on #17125
@jayunit100 - is this still an issue?

[2017-05-30 18:31] nathanwelch commented on #30617
Similarly to kylejm, I also spent a chunk of time on this and I'm running Jenkins in GKE based entirely on the GCP docs. I agree that the context of this issue helped me understand what was going on so I would recommend you read it as well. That said, I followed @cjcullen 's advice above  (https://github.com/kubernetes/kubernetes/issues/30617#issuecomment-250594453) and added a key and role to the

[2017-05-30 18:38] wojtek-t commented on #26896
@smarterclayton - I think this one is obsolete. Can we close it?

[2017-05-30 18:42] caneraydinbey commented on #7370
I restarted docker and it worked
`sudo service docker stop`
then
`sudo service docker start`

[2017-05-30 18:43] smarterclayton commented on #26896
Yup

[2017-05-30 18:43] #26896 closed

[2017-05-30 18:43] mikedanese opened #46638 "address outstanding feedback in SAR approver controller review"
https://github.com/kubernetes/kubernetes/pull/45619

[2017-05-30 18:48] wojtek-t commented on #37104
@piosz @crassirostris - any progress on it? Can we move it out of 1.7?

[2017-05-30 18:55] gurvindersingh opened #46639 "Resource quota support for GPU resource"
**Kubernetes version** (use `kubectl version`):
1.6.4 for both server and client

**Environment**:
- **Cloud provider or hardware configuration**: GKE and On premise
- **OS** (e.g. from /etc/os-release): Debian Jessie and Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-78 (ubuntu)
- **Install tools**: Managed service for GKE, Ansible for on premise

**What happened**:
When I define a resource q

[2017-05-30 18:59] #45131 closed

[2017-05-30 18:59] #29326 closed

[2017-05-30 19:03] bjornswift opened #46641 "116 nodes gradually marked unhealthy over the course of 15 minutes"
**Kubernetes version**:
[code]
**Environment**:
- **Cloud provider or hardware configuration**: aws
- **OS**:
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1353.7.0
VERSION_ID=1353.7.0
BUILD_ID=2017-04-26-2154

- **Kernel**: Linux 4.9.24-coreos #1 SMP Wed Apr 26 21:44:23 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz GenuineIntel GNU/Linux

- **Install tools**: kube-aws 0.9.6

----

[2017-05-30 19:05] gmarek commented on #45717
@luxas @yujuhong - there's an started work in #42406, that I didn't have time to properly drive. First step of cleaning up all this mess was gathering the data I shared in a trix. Next step is to decide what semantics we want to have (and which behavior we want to break), which I planned to do after the freeze (and after I dig myself out of stuff that accumulates during it).

[2017-05-30 19:10] crassirostris commented on #37104
@wojtek-t No progress yet, sure, moving to 1.7

Are you that should be under sig/scalability, not sig/instrumentation?

[2017-05-30 19:20] ravisantoshgudimetla commented on #9207
@tartavull -  Are you still having this issue in 1.6?

[2017-05-30 19:28] tcf909 opened #46643 "Mount Propagation (:shared)"
**Kubernetes version** (use `kubectl version`):
Google Container Engine, using 1.6.2

**Environment**:
- **Cloud provider or hardware configuration**:
Google Container Engine
- **OS** (e.g. from /etc/os-release):
COS image (also tried CONTAINER-VM image with the exact same result)

**What happened**:
When trying to use :shared (mount propagation) on a volume mount the container will not start and

[2017-05-30 19:52] danwinship commented on #45790
The hairpin stuff was added to make pod-connecting-to-itself-via-a-service-IP work when using the iptables-based kube-proxy. It's possible that it also has the effect of fixing other things (pod-to-self-NodePort or whatever), but if so, then apparently those things were broken before and we didn't care that much.

Why should we allow plugins to not support this?

[2017-05-30 19:54] caesarxuchao commented on #46631
Thanks. I will take a look.

[2017-05-30 20:05] danwinship commented on #46626
/assign thockin

[2017-05-30 20:05] andreychernih commented on #29972
We are having the same problem in one of our clusters. Steps to reproduce:

1. Create new Deployment with one init_container.
2. Wait for it to be in Running state (init_container completed successfully and main pod is up and running)
3. Delete init container manually using `docker rm` command. (When we first encountered this problem, the init container was deleted by kubernetes garbage collector)

[2017-05-30 20:05] danwinship commented on #46626
/assign @thockin

[2017-05-30 20:07] yujuhong commented on #45717
@gmarek, thanks and looking forward to see the progress on this!

@luxas, it's unlikely that we'll have time to tackle this before the 1.7 release settles down. I think @gmarek's plan sounds great.

[2017-05-30 20:09] mtaufen commented on #27980
Closing this issue, as the feature is now tracked via https://github.com/kubernetes/features/issues/281

[2017-05-30 20:09] #27980 closed

[2017-05-30 20:10] mml commented on #45506
We should document which versions we support and which transitions between versions are automatically supported.  I'll re-purpose this issue to clarify that.

[2017-05-30 20:10] vishh commented on #11710
Ahh. That's a bug that the new component config based [defaulting](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/componentconfig/v1alpha1/defaults.go#L228) scheme introduced.
@mtaufen `CadvisorPort` being `0` is a valid setting.

[2017-05-30 20:12] spzala commented on #16108
@pmorie hi Paul, this issue was opened for over a year now. I am not totally sure but I believe it's not a problem any more and in that can we close this issue? Thanks!!

[2017-05-30 20:14] spzala commented on #16151
@gouyang hello, this issue is opened over a year ago. Is this still an issue? Can it be closed otherwise please? Thanks!

[2017-05-30 20:16] treed commented on #32336
Rereading those, my understanding is that having /var/lib/kubelet as shared is necessary to permit kubelet to mount anything at all while running as a container. Is this incorrect?

[2017-05-30 20:18] cmluciano commented on #46639
@kubernetes/sig-apps-bugs @kubernetes/sig-node-bugs

[2017-05-30 20:18] cmluciano commented on #46639
/assign

[2017-05-30 20:20] dgpc opened #46645 "Federated Ingress sends unnecessary cross-region requests due to low maxRPS setting"
**Kubernetes version** (use `kubectl version`):

$ kubectl version --context=dev
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:48:59Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCo

[2017-05-30 20:22] vishh commented on #46639
Nvidia GPUs is currently in `alpha` phase. Quota, defaulting, etc. will be handled as part of `beta`. The API will change from alpha to beta and so quota objects will not be portable even if they were to support GPUs today.

[2017-05-30 20:40] caesarxuchao commented on #46631
Got a fix locally. Testing it.

[2017-05-30 20:43] spzala commented on #16095
@feihujiang hello, can you please verify if this is still an issue? It seems like docs been changed a lot. I see the related doc here, https://kubernetes.io/docs/api-reference/v1.5/#delete-connect-proxy

@bgrant0607 If this is still an issue with doc, I guess we can open it against kubernetes.github.io/issues and close this one? Thanks!!

[2017-05-30 20:46] rochaporto commented on #44486
What exactly is missing in upstream ceph? We use the cephfs fuse client and the secret goes in the config as usual - would be nice to get an option to use the fuse client instead of the kernel one (see #46636 ).

[2017-05-30 20:50] krmayankk commented on #38192
@thockin @jsafrane does Here is my take as we work on enabling all this for our internal customers. For dynamic provisioning, i see that the reclaim policy is not even exposed and always defaults to `delete`. Exposing through StoragePolicy makes sense, but it also means its the default for all dynamically provisioned volumes. What if i want to override it based on a per claim basis. It would be id

[2017-05-30 20:54] mtaufen commented on #11710
I think we can change this. The KubeletConfiguration type is still technically alpha, so it should be ok to make this field a pointer and keep the current default when it's not provided (but allow 0). This won't affect anyone who presently omits the flag and expects port 4194. Theoretically people could be explicitly passing 0 and expecting 4194... I guess... but that's sort of an insane case, and

[2017-05-30 20:54] spzala commented on #15991
@janetkuo hi, this issue is more than a year old and we are at 1.6 release now. Can you please verify if can close it and if so can you please close it? thanks!!

[2017-05-30 20:58] jdoliner commented on #16909
This seems closable. I haven't encountered this in a while and only kind of remember what the error was.

[2017-05-30 20:58] #16909 closed

[2017-05-30 21:11] antoineco commented on #11710
Thanks for clarifying guys :+1:
The original problem remains though: enabling the cAdvisor port makes the kubelet listen on all interfaces.

[2017-05-30 21:18] cjcullen commented on #39990
The current GCE setup (and GKE) rely on the kubelet binding existing. I thought we had moved that out of a folder called "e2e-rbac-bindings", but I was wrong: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/e2e-rbac-bindings.
I'm not sure what the "todo-remove-grabbag-cluster-admin" binding is doing, but it sounds sloppy that we still have that.

@liggitt What is the problem wi

[2017-05-30 21:36] mml commented on #43600
From my recollection, that's correct.  I added `--force-new-cluster` to the first step because the input data was backup data.  And it was harmless on the following steps (because our test harness wasn't HA).  I suspect @wojtek-t's change is correct.

[2017-05-30 21:42] vishh commented on #11710
Yeah. We can get cAdvisor to bind to the interface that kubelet uses. cc
@dashpole

On Tue, May 30, 2017 at 2:12 PM, Antoine Cotten <notifications@github.com>
wrote:

[2017-05-30 21:47] erictune commented on #44172
I spoke with Sig Auth.  The leads have a different view of how the namespace admin role is going to be extended than I had.    Their view is consistent with the subresources approach.  So, I retract my previous objection.  Apologies if this slowed things down.

[2017-05-30 22:01] abgworrall commented on #15935
A solution to the problem of private sandbox images is in #45738, which should be out in 1.7.

[2017-05-30 22:35] mwielgus commented on #15991
There is kubectl autoscale. I guess there is no need to clutter kubectl run with it.

[2017-05-30 22:35] #15991 closed

[2017-05-30 22:40] dchen1107 opened #46651 "E2E Flakiness: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
e2e test -- [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover failed a lot: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial. For example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1142/

[code]
We should triage this failure before cutting beta.0 tomorrow.

c

[2017-05-30 22:46] dchen1107 commented on #46651
There are many other failures in https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial, but this one failed most frequently. Also other failures might share the same root cause as this.

cc/ @caesarxuchao, the branch manager of 1.7 @ericchiang, the test lead of 1.7.

[2017-05-30 22:48] #16151 closed

[2017-05-30 22:54] matthewceroni opened #46652 "Default ServiceAccount and Token not created when a namespace is re-created."
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:48:59Z",GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4+coreos.0", GitCommit:"8996efde382d88f0b

[2017-05-30 22:58] spzala commented on #16909
Cool. Thanks Joe @jdoliner !!

[2017-05-30 23:03] spzala commented on #15991
Thanks @mwielgus !!

[2017-05-30 23:03] spzala commented on #16151
Thanks @gouyang !!

[2017-05-30 23:17] liggitt commented on #46652
Can you check the controller manager logs? I'm unable to recreate this

[2017-05-30 23:31] liggitt commented on #46652
Also, what version of etcd are you running with? Versions <= 3.0.10 do not send deletion events with all the info required by kube 1.6.x. Minimum supported version of etcd3 is 3.0.12, I think

[2017-05-30 23:32] liggitt commented on #46652
See discussion in https://github.com/kubernetes/kubernetes/issues/45506

[2017-05-30 23:41] gyliu513 commented on #33188
@timothysc Do you mean add sth for trouble-shooting? How about adding more documents links as @jayunit100 proposed here https://github.com/jayunit100/kubernetes.github.io/blob/cbef566d3c18edb4a0599a45da921b76fc5ca4fc/docs/user-guide/node-selection/index.md#documentation-status

[2017-05-30 23:47] yujuhong commented on #46651
There are multiple causes of the failures. I am looking through them one by one.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1142/
The test **before** the restart test is a PD test (`should be able to detach from a node which was deleted`) that deletes a GCE VM instance. The PD test does not wait for the node to come up and verify that it becomes

[2017-05-30 23:53] dchen1107 opened #46658 "Cut cAdvisor release for Kubernetes 1.7 release"
To track the release ...

cc/ @kubernetes/sig-node-feature-requests

[2017-05-30 23:53] bgrant0607 commented on #8830
cc @jagosan @monopole

[2017-05-30 23:54] dchen1107 commented on #46658
There is at least one feature I am expecting from the new release of cAdvisor: Overlay2 support.

[2017-05-31 00:00] nikhiljindal opened #46659 "Update kubectl to use PropagationPolicy instead of OrphanDependents"
Forked from https://github.com/kubernetes/kubernetes/pull/46471#discussion_r119235160 based on discussion with @caesarxuchao.

kubectl, today, uses DeleteOptions.OrphanDependents field to do cascading deletion.
We need to do the following to update kubectl to use [PropagationPolicy](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L401)

[2017-05-31 00:00] yujuhong commented on #46651
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1143/#k8sio-restart-disruptive-should-restart-all-nodes-and-ensure-all-nodes-and-pods-recover

After the node restarts, the kube-dns pod (`kube-dns-2836479273-r292n`) could not become ready. Looking at the [kubelet.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/11

[2017-05-31 00:01] bgrant0607 commented on #38006
cc @mikedanese

[2017-05-31 00:08] dchen1107 commented on #46651
re: https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305042721

xref: https://github.com/kubernetes/kubernetes/issues/45991 cc/@MrHohn was looking into not-ready kube-dns for last alpha release.

[2017-05-31 00:09] Random-Liu commented on #44976
@crassirostris I think initially, we use plain text for performance consideration, and make it easier for the log agent to consume.

However, if we still need to escape eof, I'm not sure whether plain text is still better than json format then.

@yujuhong

[2017-05-31 00:21] thockin commented on #46626
I removed the should-be-totally-unnecessary code for NP from
pkg/apis/extensions - leaving it in pkg/apis/extensions/v1beta1

It compiles.

I can POST a networking/v1 object, and it is stored in etcd as
extensions/v1beta1 - yay!

I can NOT POST an extensions/v1beta1 object.

[code]

Looking up that 2nd error, I get to staging/src/
k8s.io/apimachinery/pkg/api/meta/multirestmapper.go, where I see th

[2017-05-31 00:21] thockin commented on #46626
Worst case is we do this after 1.7 cuts

[2017-05-31 00:23] saad-ali commented on #46651
@verult has volunteered to help fix the `should be able to detach from a node which was deleted` test so that it will do proper cleanup.

[2017-05-31 00:29] MrHohn commented on #46651
Indeed it is hard to tell what happened without kube-dns logs. I'm trying to reproduce on my cluster.

[2017-05-31 00:32] saad-ali commented on #46651
CC @kubernetes/sig-storage-test-failures

[2017-05-31 00:34] feiskyer commented on #25066
Authz is another problem. I think authentication should be solved first.

[2017-05-31 00:35] thockin commented on #16863
I'd rather see this get fixed, as weird as it is.

[2017-05-31 00:37] thockin commented on #35517
Nope

[code]

On Tue, May 30, 2017 at 12:01 AM, Lucas Käldström <notifications@github.com>
wrote:

[2017-05-31 00:45] kfox1111 commented on #25066
Keystone's all about authz. If you want just authn, you can just plumb k8s directly into ldap and bypass Keystone. Without considering how Keystone authz works, its easy to implement something that totally doesn't work for any authz case that Keystone was built to handle without having to completely re engineer it. :/

[2017-05-31 00:47] pravisankar opened #46664 "Segregating pod traffic and master traffic on the node"
We are trying to address a use case (real customer) where all the masters and nodes in the cluster has at least 2 network interfaces. We want all the pod traffic (pod <-> pod) to go through one network interface and management/master traffic (master <-> node) on other network interface.

Note: This is different from supporting multiple pod IP addresses https://github.com/kubernetes/kubernetes/issu

[2017-05-31 00:49] pravisankar commented on #46664
cc: @kubernetes/sig-network

[2017-05-31 00:55] MrHohn commented on #46651
Reproduced on my cluster, related logs:
[code]

Seems like one of the kube-dns pods failed to contact the apiserver because the underlying network is broken after node restart, looking into it.

[2017-05-31 00:56] rootfs commented on #32336
@jsafrane is working on shared mount on /var/lib/kubelet

[2017-05-31 01:01] spzala commented on #16863
:-) sure @thockin !!

[2017-05-31 01:05] dgpc commented on #46645
I think a 1-line code change would make the situation considerably better, there is even a TODO suggesting it:
https://github.com/kubernetes/ingress/blob/master/controllers/gce/backends/backends.go#L68:L73

Changing maxRPS from 1 to math.MaxInt64 would mean that under non-overload conditions, traffic will always go to the correct region.

That would have the downside that when overloaded, it would

[2017-05-31 01:07] yujuhong commented on #46651
FYI, I uploaded a PR to dump the logs of the unready pods: #46665

[2017-05-31 01:13] yujuhong commented on #46595
`docker ps` would simply show whatever image reference used in creating the container. It could be RepoTags, RepoDigest, image ID, etc.
@dkerwin could you describe your use case more? We don't explicitly define and support what's shown in the docker UI. In this case, I believe you could still get all the information you want through the docker API (or just `docker inspect`).

[2017-05-31 01:16] cyphar commented on #44976
If the log format was something like

[code]

However I think the biggest issue is that this log format doesn't handle the entire `latin1` character set properly (since JSON strings must be valid unicode, you can't give any random `\xXX` code that you want). Maybe some sort of length-prefix format will work better?

[2017-05-31 01:20] xiechengsheng commented on #45288
@shyamjvs @erictune @wojtek-t Thanks for the replies, I'll try to run e2e tests at local~

[2017-05-31 01:27] xiangpengzhao commented on #46664
/sig network

[2017-05-31 01:34] #46274 closed

[2017-05-31 02:19] HardySimpson commented on #43843
@wojtek-t OK for close. If I can find other profile result in further will post it.

[2017-05-31 02:56] igoratencompass opened #46670 "Support for envFrom in initContainers"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): 1.6.4

Looks like initContainers which became a key in 1.6 does not support envFrom which makes passing vars from a configMap to init containers painful.

[2017-05-31 02:59] matthewceroni commented on #46652
I am running etcd 3.0.10.

[2017-05-31 03:00] matthewceroni commented on #46652
I also followed the discussion in the above referenced issue and was able to see the namespace termination event.

[2017-05-31 03:16] nikhiljindal commented on #46645
cc @kubernetes/sig-federation-feature-requests

cc @csbell @nicksardo

[2017-05-31 03:59] jeremywu0127 commented on #46564
does the `ccm`  document update?  so the `CSI` controller will take over the responsibility to create/attach/deattach ebs?

[2017-05-31 03:59] bgrant0607 commented on #2742
This issue served its purpose.

[2017-05-31 03:59] #2742 closed

[2017-05-31 04:07] matthewceroni commented on #46652
Re-deployed using 1.6.2 but issue persists. Going to keep walking back the versions to see where the issue goes away. Will also try deploying using etcd2.

One issue I did possibly find is that I have HA for the API Servers. In the controller logs I saw a message about resetting Endpoint Kubernetes. Upon Googling I saw a reference to setting --apiserver-count for the API server. I have never set t

[2017-05-31 04:11] MrHohn commented on #46651
I believe there are some issues wrt the kubenet. When I execed onto the broken dns pod, wget the apiserver:443 (with cluster IP and public IP) didn't work (traffic didn't reach the master node). Checked the kubelet logs and saw below entry spread all over the places:
[code]
That dns pod kept crashlooping for couple hours until I created another pod on the same node, which for some reason triggered

[2017-05-31 04:16] liggitt commented on #46652
using a version of etcd < 3.0.11 with etcd3 mode will not work (again, see discussion in #45506):
* deletion events will not be delivered from the API properly
* if you look in the apiserver log you will see error messages like `storage/cacher.go:215: expected type *api.Namespace, but watch event object had type <nil>`
* things that depend on deletion events (like controllers that maintain local c

[2017-05-31 04:17] liggitt commented on #45506
I think we need to do more than document... a cluster can actually start against etcd 3.0.10 just well enough to start using it, and then exhibits really odd failure modes when deletion events aren't delivered properly. c.f. https://github.com/kubernetes/kubernetes/issues/46652

[2017-05-31 04:18] matthewceroni commented on #46652
Sorry, my dyslexia kicked in. I read that as use a version <= 3.0.10.

Ok, I will upgrade that and see where I stand.

Thanks

[2017-05-31 04:25] matthewceroni commented on #46652
That appears to have fixed the issue. Upgraded to 3.1.8 and now when I create, delete and create a namespace the SA and default-token secret are re-created.

Much appreciated. Thanks

[2017-05-31 04:26] #46652 closed

[2017-05-31 04:42] gmarek commented on #45717
cc @davidopp

[2017-05-31 05:40] tacy commented on #46039
PR to fix this: #46678

[2017-05-31 05:48] cheftako opened #46679 "Aggregator should work with Dialer/SSHTunneler"
**Kubernetes version** (use `kubectl version`): 1.7

**Environment**:
- **Cloud provider or hardware configuration**: GKE

Aggregator should function with the Dialer/SSHTunneler code. This would allow it to function in an environment such as GKE where there is a firewall between the master cluster and the user cluster. To do this the master needs to connect to the user-apiserver over the appropria

[2017-05-31 05:56] k82cn commented on #46618
@devent , what do you mean `The tolerations are set.` ?

[2017-05-31 06:05] techtonik commented on #28631
I don't see `kubectl` here - https://github.com/kubernetes/kubernetes/releases - check failed. )

[2017-05-31 06:06] k82cn commented on #46568
@jmzwcn , we have `SelectorSpreadPriority` which will try to place Pod cross nodes; but it's not hard restrictions. And DaemonSet can help to start one node on each hosts (with conditions).

Do you mean each IDC must have some pods, e.g. at least 3 Pods in each IDC? Is it a exactly number or a range?

@kubernetes/sig-scheduling-feature-requests

[2017-05-31 06:14] thockin commented on #45594
@nicksardo, since he's deep inside that code,too.

On Wed, May 10, 2017 at 6:55 AM, Lucas Käldström <notifications@github.com>
wrote:

[2017-05-31 06:19] thockin commented on #30073
Yeah, that looks right.  Looking at the code, it's as straight-forward as I remember.

@nearbyfly can you provie more details?

What does /etc/resolv.conf look like?

What does the alternate resolv.conf look like?

What does a pod's resolv.conf look like?

[2017-05-31 06:19] thockin commented on #30073
Maybe this is a non-bug :)

[2017-05-31 06:27] thockin commented on #23291
We should take this up in 1.8

On Mon, May 8, 2017 at 5:58 AM, Sebastian Łaskawiec <
notifications@github.com> wrote:

[2017-05-31 06:27] gyliu513 commented on #46568
I think this is a new feature request: AntiAffinity for a deployment.

Even though the `daemonset` is kind of anti-affinity, but there are two issues for daemonset.
1) When a new node joined, the daemonset will automatically create new pod which is not expected. As for the application developer, I only want my application have anti affinity at deploy time and do not want to scale the application w

[2017-05-31 06:28] gurvindersingh commented on #46639
@vishh I think its not only for GPU but in general quota resource should support [opaque resource](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#opaque-integer-resources-alpha-feature). As it is supported by accounting/scheduling in kubelet/scheduler. So it should be possible to limit the amount of those resource in the cluster per namespace.

[2017-05-31 06:29] ixdy commented on #28631
@techtonik we don't link everything on the releases page, but we link to the client tarballs (which contain `kubectl`) from the CHANGELOG.

[2017-05-31 06:44] wojtek-t commented on #37104
It probably should be under both - too extensive logging was causing some issues at scale.

[2017-05-31 06:45] roberthbailey commented on #46168
@krousey often looks into the upgrade test failures, so cc'ing him as well

[2017-05-31 07:06] techtonik commented on #28631
@ixdy one link to https://console.cloud.google.com/storage/browser/kubernetes-release/release/v1.1.8/bin/ would be sufficient to close this ticket.

[2017-05-31 07:54] c-knowles commented on #46054
I was looking at a bit of this during some work on [kube-aws](https://github.com/kubernetes-incubator/kube-aws). The dashboard works out of the box using the default kube-aws RBAC but it is quite permissive. I couldn't find much information on the expected setup for RBAC + dashboard + OIDC. I have `kubectl` CLI access using the OIDC all working fine and now attempting to allow users access to the

[2017-05-31 07:58] tnozicka opened #46689 "pull-kubernetes-e2e-gce-etcd3: flake: [k8s.io] [HPA] Horizontal pod autoscaling"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45894/pull-kubernetes-e2e-gce-etcd3/31210/

[code]

[2017-05-31 08:17] tnozicka opened #46690 "Flake: pull-kubernetes-federation-e2e-gce: error during ./federation/cluster/federation-up.sh: exit status 124"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46500/pull-kubernetes-federation-e2e-gce/7569/

[code]

[2017-05-31 08:21] k82cn opened #46691 "No nodes resources in local cluster."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): RHE 7.2
- **Kernel** (e.g. `uname -a`): `Linux ib15b13.eng.platformlab.ibm.com 3.10.0-327.el7.x86_64 #1 SMP Thu Oct 29 17:29:29 EDT 2015 x86_64 x86_64 x86_64 GNU/Linux`

**W

[2017-05-31 08:22] k82cn commented on #46691
Just check the script/code, it seems kubelet will not register until dynamic config is there (`local-up-cluster.sh` enabled all alpha features by default).

[2017-05-31 08:24] mryan43 opened #46692 "log symlink not updated after "docker rm""
**Is this a request for help?** : no

**What keywords did you search in Kubernetes issues before filing this one?** :
`docker rm log symlink`
`log symlink`
`file exists: "Start Container Failed"`

---

**Is this a BUG REPORT or FEATURE REQUEST?** : BUG REPORT

**Kubernetes version**
v1.6.3

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** : Ubuntu 14.04
- **Kern

[2017-05-31 08:37] pires commented on #23291
I want Ingress TCP and would be willing to work on a controller for GCP. The #25821 should be re-opened and agreed upon first.

[2017-05-31 08:49] mryan43 commented on #46692
https://github.com/kubernetes/kubernetes/blob/20ec8912d096e6cf0daabb3268dc8e73af743ebf/pkg/kubelet/dockershim/docker_container.go#L230

I'm guessing the file at "path" should be deleted if it exists before attempting the ds.os.Symlink(realPath, path).

[2017-05-31 09:09] cesartl opened #46693 "Cluster fails to properly start due to CPU limit impacting dns controller"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

dns controller cpu limit

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: `AWS`
- **OS** (e.g. from /et

[2017-05-31 09:28] gyliu513 commented on #46693
@cesartl two options for this:

1) Remove cpu and memory limit from your deployment/pod YAML template.

2) Use `nodeSelector`, you can add a tag on master nodes such as `role=master`, then you can use `nodeSelector` in Pod/Deployment YAML template to specify running the dns server on nodes with label `role=master`. You can refer to https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2017-05-31 09:37] xiangpengzhao commented on #46692
/sig node
/cc @Random-Liu

[2017-05-31 09:41] xiangpengzhao commented on #46690
/kind flake

[2017-05-31 09:41] xiangpengzhao commented on #46689
/kind flake

[2017-05-31 09:42] xiangpengzhao commented on #46670
/cc @smarterclayton

[2017-05-31 09:46] xiangpengzhao commented on #46643
/sig storage

[2017-05-31 09:47] xiangpengzhao commented on #46636
/sig storage

[2017-05-31 09:48] xiangpengzhao commented on #46632
/area platform/azure
@justinsb

[2017-05-31 09:51] xiangpengzhao commented on #27294
/sig network

[2017-05-31 10:18] wanghaoran1988 commented on #46691
I met same problem

[2017-05-31 10:19] wanghaoran1988 commented on #46691
@k82cn What do you mean "dynamic config" ?

[2017-05-31 10:21] jmzwcn commented on #46568
SelectorSpreadPriority should to be based on node(spread by nodes), but we need it spread by IDC(a group node label). The aim is we have one pod in each IDC at least.

[2017-05-31 10:39] xiangpengzhao commented on #27224
Fixed by #29859

@thockin

[2017-05-31 10:40] k82cn commented on #46691
I think there's a PR that make kubelet can update configuration dynamically, similar to what we had in scheduler. But did not find PR :(. I'm checking the code.

[2017-05-31 10:48] sttts opened #46702 "Accessible client for CustomResourceDefinitions (TPR successor)"
With 1.7 we have the apiextensions apiserver integrated into kube-apiserver and CustomRresourceDefinitions are the official successor of ThirdPartyResources. To allow people to use them, we have to offer consumable api types and a consumable client.

**Problem:** right now `k8s.io/kube-apiextensions-server` only lives in staging. We do not sync it into its own repo on Github. People have to vendor

[2017-05-31 10:49] sttts commented on #46702
/cc @nikhita @ericchiang @enisoc @k8s-mirror-api-machinery-misc

[2017-05-31 10:51] sttts commented on #46702
Note: for api aggregation the situation is similar, but less urgent because probably not many want to programmatically create APIServices.

[2017-05-31 11:04] pizzarabe commented on #46347
@wojtek-t upgrading to 3.0.17 or 3.0.12 seems to fix that problem, after downgrading to 3.0.10 the problem occurs again.
So I guess this is a duplicate of #45506. I will close that issue, feel free to re-open it :)

[2017-05-31 11:04] #46347 closed

[2017-05-31 11:15] k82cn commented on #46568
yes; both `SelectorSpreadPriority` and `DaemonSet` are node level. And here are the options in my mind:

1. Pod AntiAffinity: the first pod will start on one IDC, the second will select other IDC because of anti-affinity, then the third one in different IDC with previous two Pods .... The issue of that option is: there's at most one Pod in IDC; there's an open PR (#41718) to make more than one pod

[2017-05-31 11:28] yastij opened #46703 "shallow of pods shouldn't be done on syncService"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

in `kubernetes/pkg/controller/endpoint/endpoints_controller.go` we have `syncService ` that perform unnecessary shallow co

[2017-05-31 11:31] yastij commented on #46703
/assign
/kind enhancement

[2017-05-31 11:32] yastij commented on #46703
@wojtek-t - can you confirm please ?  (there's some TODO there also i think)

[2017-05-31 11:39] deads2k commented on #46702
We should do this.

We should not do this.  We've long said that clients should be buildable without access to the original types and that a client could include whatever API types it wants.  Now its time to prove it.  We want a client that spans groups and repos.

[2017-05-31 11:59] k82cn commented on #46691
Should be this one: #29459

/cc @mtaufen
/sig node

[2017-05-31 12:05] oikomi opened #46705 "Give the “Compactor” work to etcd"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): etcd compact

---

**Is this a BUG REPORT or FEATURE

[2017-05-31 12:11] yastij commented on #46703
/remove-kind enhancement
/kind technical-debt

[2017-05-31 12:22] adohe commented on #46300
@olalonde IIRC the default value in `docker exec` is false. [docker exec](https://docs.docker.com/engine/reference/commandline/exec)

[2017-05-31 12:38] adohe commented on #46237
From the generator interface definition, it is used to create API objects, so how about `api_object/api_version` format? @kubernetes/sig-cli-misc

[2017-05-31 12:56] wojtek-t commented on #45037
I filed https://github.com/coreos/etcd/issues/8009 with some data for other cluster.

[2017-05-31 13:00] rtheis commented on #45385
Unless there are other kernel performance issues involved, it may be best to use iptable-save to check if all of the necessary rules exist.

[code]

[2017-05-31 13:02] rtheis commented on #45385
@freehan I believe that our kernel version `4.4.0-78-generic` has the fix.  Are you aware of other related issues?

[2017-05-31 13:29] xiangpengzhao commented on #26513
These questions got some more detailed answers in #26552. We are going to close this. If you have other similar questions, please post at stackoverflow. Thanks!

@thockin

[2017-05-31 13:48] xiangpengzhao commented on #26487
Since there isn't enough info to debug and no more response from @naveensrinivasan, we're going to close this issue. Feel free to re-open it if you still face the issue.

@thockin

[2017-05-31 13:49] liggitt commented on #46054
`kubectl proxy` is only the expected access method until the dashboard supports per-user authentication (uses user credentials to access the API, so the dashboard is only as powerful as the user accessing it), at which point it could be exposed via ingress and accessed directly.

[2017-05-31 13:50] liggitt commented on #46054
Any way you access the dashboard today allows a user to access a lot more than their original permissions.

[2017-05-31 13:55] xiangpengzhao commented on #26137
/sig network

[2017-05-31 14:19] cmluciano commented on #46454
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-31 14:19] cmluciano commented on #46455
@kubernetes/sig-cluster-lifecycle-misc

[2017-05-31 14:21] ncdc commented on #46703
That's actually a shallow copy

[2017-05-31 14:36] mtaufen commented on #46691
@k82cn that shouldn't be the case. As long as you can get a client and a nodeName you should be able to register. What specific error are you seeing that suggests it's dynamic config?

Also why does local-up-cluster enable all alpha features by default? That seems wrong to me.

[2017-05-31 14:39] yastij commented on #46703
@ncdc - I'm sorry i was thinking about another issue, while filing this one. I will update the issue, Thanks.

[2017-05-31 14:46] listingmirror commented on #38870
@MrHohn Why? Is there a way around this?  is there a plan B to get DNS entries for pods behind a normal service?

[2017-05-31 14:49] wanghaoran1988 commented on #46691
Not sure why, but it really does:
`FEATURE_GATES=${FEATURE_GATES:-"AllAlpha=true"}`

[2017-05-31 14:50] xiangpengzhao commented on #26040
/sig storage
/cc @jingxu97

[2017-05-31 14:51] jasonbiondo commented on #39722
I want to expose it fully on an IP so that I can have Jenkins integrate and build my pipelines.  Is there another way to authenticate jenkins?

[2017-05-31 14:59] Stono commented on #39722
Why would Jenkins use the UI?
You'd use kubectl?

On 31 May 2017 3:52 pm, "Jason Biondo" <notifications@github.com> wrote:

[2017-05-31 15:06] jasonbiondo commented on #39722
when we execute  kubectl --namespace=dev apply -f deployment.yaml through jenkins (edited)

error: group map[:0xc8203ccfc0 apps:0xc8203cd030 batch:0xc8203cd180 extensions:0xc8203cd260 federation:0xc8203ccf50 authorization.k8s.io:0xc8203cd0a0 autoscaling:0xc8203cd110 componentconfig:0xc8203cd1f0 policy:0xc8203cd2d0 rbac.authorization.k8s.io:0xc8203cd340 authentication.k8s.io:0xc8203cd420 certificat

[2017-05-31 15:08] Stono commented on #39722
Looks unrelated mate...

On 31 May 2017 4:07 pm, "Jason Biondo" <notifications@github.com> wrote:

[2017-05-31 15:22] xiangpengzhao commented on #26030
/cc @smarterclayton

[2017-05-31 15:23] #46077 closed

[2017-05-31 15:31] wanghaoran1988 commented on #46691
@k82cn @mtaufen I think this should be caused by https://github.com/kubernetes/kubernetes/pull/45059

/cc @liggitt @jcbsmpsn

[2017-05-31 15:35] cesartl commented on #46693
Hi @gyliu513,

sure these would work.

Shouldn't it work out of the box though? The DNS controller is not a pod I created, but comes installed with `kops`.

[2017-05-31 15:39] naina-emmanuel opened #46710 "Kubernetes installation on centos 7"
I am installing kubernetes manually on centos 7 following link https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/ but when I install docker following https://docs.docker.com/engine/installation/linux/centos/#install-using-the-repository it does not allow me to install docker, saying docker isn't available. I am using centos7 minimal.

[root@localhost ~]# sudo yum-config

[2017-05-31 15:53] jingxu97 commented on #26040
What k8s version you are using?

[2017-05-31 16:15] spzala commented on #15725
@davidopp hi David, is this still an issue? wondering if you had a chance to look at the doc link @bgrant0607 provided above? If you think issue is addressed, can we please close it? Thanks!!

[2017-05-31 16:17] swarnap commented on #46625
/sig network

[2017-05-31 16:22] #16104 closed

[2017-05-31 16:22] #16878 closed

[2017-05-31 16:24] thockin commented on #39823
overlap with #35069 ?

[2017-05-31 16:26] swarnap commented on #46693
/sig network

[2017-05-31 16:31] ichekrygin commented on #34066
Also in `v1.6.4`

[2017-05-31 16:33] xiangpengzhao commented on #46710
@naina-emmanuel In fact, this is not an issue of Kubernetes. It's a request for support for docker. I recommend you re-post this question at https://stackoverflow.com/questions/tagged/docker. You might get a quick response there, which should solve your problem.

/kind support
/area docker
/cc @thockin

[2017-05-31 16:35] xiangpengzhao commented on #46710
BTW, you might want to have a try this: https://docs.docker.com/engine/installation/linux/centos/#install-from-a-package

[2017-05-31 16:38] ichekrygin commented on #33192
Alos in: `v1.6.4`

[code]
[code]

[2017-05-31 16:44] xiangpengzhao commented on #26009
/sig network

[2017-05-31 16:47] #26009 closed

[2017-05-31 16:49] nabeelamjad commented on #46349
Same issue occurred today again with the following messages appearing in the log:
[code]

which eventually led to:

[code]

I tried stopping docker gracefully but got the following error:
[code]

Killing both docker and kubectl using ``sudo kill -9 <PID>`` worked fine and eventually the node started working as expected.

[2017-05-31 16:53] bgrant0607 commented on #14801
Looks like packs do this:
https://github.com/Azure/draft/blob/master/docs/packs.md

[2017-05-31 16:54] dnardo commented on #46475
@thockin

What is the scope of the doc we are looking to add.
We have the readme here which describes the agent and how to apply the daemon set;
https://github.com/kubernetes-incubator/ip-masq-agent

Is the goal to explain masquerading in general and why the agent is necessary in k8s?

[2017-05-31 16:57] thockin commented on #46475
I would look at a GKE doc on the configmap and maybe a Kubernetes doc (
https://github.com/kubernetes/kubernetes.github.io/tree/master/docs/tasks)
or blog post?

On Wed, May 31, 2017 at 9:54 AM, Daniel Nardo <notifications@github.com>
wrote:

[2017-05-31 17:02] ichekrygin commented on #43988
Running `kubelet` with `--enable-cri=false` seems to work around this issue.

[2017-05-31 17:07] xiangpengzhao commented on #25939
/kind support

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

Before posting a new question, please search stackoverflow for answers to
similar questions, and also familiarize yourself with:

  * [user documentation](http://kubernetes.io/docs/)
  * [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshoo

[2017-05-31 17:08] roberthbailey commented on #46454
@spxtr

The error from the most recent run points to #33113

[code]

[2017-05-31 17:09] agabert commented on #45419
On a recent Ubuntu 16.04, systemctl stop ufw on the worker and master fixed the NotReady flapping of the worker node for me. Yet our deployments are now stuck in ContainerCreating ;)

[2017-05-31 17:20] humblec commented on #25939
/assign @humblec

[2017-05-31 17:21] humblec commented on #25939
@peijunfu Its well possible to put gluster client in containers. however in kube, the glusterfs plugin mount the gluster share in kubelet ( kubernetes node) where pod is running and then bind mount to the container. Can you please explain what exactly you want to achieve?

[2017-05-31 17:26] caesarxuchao commented on #46702
Does this mean client not importing the types? How can this work?

[2017-05-31 17:32] danehans opened #46712 "Add IPv6 Support to Kubelet Unit Tests"
The Kubelet unit tests currently use a fake node bound to IPv4-only semantics. For example, in kubelet_test.go:
[code]
Unit tests create a new test kubelet that uses the above constants to populate hostname and IP address fields of the fake node.

I am part of a sig-network working group responsible for adding IPv6 features to Kubernetes. In support of PR #45551, I am interested in expanding Kubel

[2017-05-31 17:32] danehans commented on #46712
/area ipv6

[2017-05-31 17:33] MrHohn commented on #38870
@listingmirror I don't have the exact answer. There are relevant discussions on https://github.com/kubernetes/kubernetes/issues/39197, feel free to follow up on that thread :)

[2017-05-31 17:34] deitch commented on #45790
Because AFAIK there still are situations where hairpin can cause panics. But I am not the expert on it.

[2017-05-31 17:34] crassirostris opened #46713 "Quota 'SUBNETWORKS' exceeded in e2e tests"
E.g.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-e2e-gce-etcd3/33214/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-kubemark-e2e-gce/32814/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46696/pull-kubernetes-kubemark-e2e-gce/32813/

[code]

[2017-05-31 17:36] crassirostris commented on #46713
/cc @fejta Could you please assign it to an appropriate person?

[2017-05-31 17:38] krzyzacy commented on #46713
/assign

[2017-05-31 17:42] krzyzacy commented on #46713
the kubemark project looks normal, etcd project is flooded though, does etcd suite using excessive resources?

[2017-05-31 17:42] olalonde commented on #46300
@adohe right, which I noted in my drawbacks list.

[2017-05-31 17:52] mml commented on #6080
Can we call this done?  We have PDBs, drain, and a node upgrade implementation for GCE that respects this (in flight but should merge soon).

[2017-05-31 17:52] mml commented on #12611
I think this is done.

[2017-05-31 17:52] #12611 closed

[2017-05-31 17:54] mml commented on #13430
I'm not working on this right now.  Not sure anyone is.

[2017-05-31 17:55] mml commented on #25150
I still think this is important.  Groups are super confusing.  Ping @lavalamp @jagosan maybe next quarter?

[2017-05-31 17:57] fejta commented on #46713
/remove-sig testing
/unassign @krzyzacy
/assign @bowei
@kubernetes/sig-network-test-failures

Looks like we are leaking SUBNETWORKS, see http://prow.k8s.io/?type=presubmit&job=pull-kubernetes-e2e-gce-etcd3

[2017-05-31 17:57] mml commented on #29317
@fejta I am not sure if this is still a pain point for debugging, but if so.  Maybe worth considering for next quarter?

[2017-05-31 17:58] mml commented on #28390
obsolete, yeah?

[2017-05-31 17:58] #28390 closed

[2017-05-31 17:58] mml commented on #29810
@mwielgus is this still outstading?

[2017-05-31 18:00] mml commented on #27638
This must be obsolete.

[2017-05-31 18:00] #27638 closed

[2017-05-31 18:01] krzyzacy commented on #46713
I don't think we are leaking - each network create 8 subnets + there's 8 default one, and we are running 12 instances which total subnets will be 13 * 8 = 104 > 100, the 12th job will always fail..

probably just need to bump the quota a little bit more.

[code]

[2017-05-31 18:01] mml commented on #21506
Not sure if this is relevant any more.

[2017-05-31 18:03] mml commented on #21591
This has been fixed in https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go

[2017-05-31 18:03] #21591 closed

[2017-05-31 18:09] mml commented on #45506
As long as there a flag to disable any fancy version-compatibility-checking
behavior, I guess that's OK.  Alternatively, is there a way to interrogate
etcd about capabilities instead of version numbers?

In either case, developers and admins need a way to disable or tweak
anything that will try to use baked-in smarts to fail to start.

On Tue, May 30, 2017 at 9:18 PM, Jordan Liggitt <notifications

[2017-05-31 18:10] derekwaynecarr commented on #46442
I think the GCE behavior is the expected behavior.

[2017-05-31 18:13] ncdc commented on #46442
Copying some comments from #45986 as they belong here:

@thockin wrote:

@gnufied wrote:

and

@wongma7 wrote:

[2017-05-31 18:14] krzyzacy commented on #46713
hummm, I take it back, it should not fail every single PR there..

[2017-05-31 18:19] mffiedler commented on #46442
+1 for not removing node unless there is a hard delete on the instances.

[2017-05-31 18:22] #26137 closed

[2017-05-31 18:23] #26487 closed

[2017-05-31 18:23] #26513 closed

[2017-05-31 18:23] #27224 closed

[2017-05-31 18:25] #46710 closed

[2017-05-31 18:26] spiffxp commented on #32607
/sig testing

I don't have privileges to move this out of the milestone, but I don't think it belongs in v1.7

[2017-05-31 18:26] spiffxp commented on #31453
/sig testing

I don't have privileges to move this out of the milestone, but I don't think it belongs in v1.7

[2017-05-31 18:29] spiffxp commented on #43452
/sig testing

I don't have privileges to move this out of the milestone, but I question whether we're getting this in for 1.7.  Possible overlap with @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-05-31 18:32] vishh commented on #46639
@gurvindersingh We are planning on replacing the current opaque integer resource model with a more extensible one. That's one of the reasons why opaque integer resources are still in `alpha`. Expect a proposal on the new APIs with quota integration in the next couple of months.

[2017-05-31 18:32] spiffxp commented on #43036
/sig testing
/assign
/close

https://k8s-testgrid.appspot.com/google-gke-prod#Summary
"36 of 112728 (0.0%) failing in the past week; Last update: 05-31 01:50"

[2017-05-31 18:32] spiffxp commented on #43036
/close

[2017-05-31 18:32] #43036 closed

[2017-05-31 18:35] bowei commented on #46713
Is there a project with extra subnets? From the list above, it looks like 1/project. Also -- I disabled the only CI job that creates its own subnets directly.

[2017-05-31 18:36] luxas commented on #43452
@spiffxp I can move it out of the milestone if you want

[2017-05-31 18:36] naina-emmanuel commented on #46710
Okie thank you

[2017-05-31 18:37] luxas commented on #46455
cc @krousey @mikedanese @roberthbailey @pipejakob

[2017-05-31 18:41] krzyzacy commented on #46713
it's 1 subnet per pr run per zone

[2017-05-31 18:47] danwinship commented on #45790
Kernel `hairpin_mode` can cause panics, but the proposed rule wasn't "Plugins have to support kernel `hairpin_mode`", it was "Plugins have to support the use case 'a pod can connect to itself via a service IP' (somehow)". Setting `hairpin_mode` is one way. Forcing the use of the userspace proxy instead of the iptables proxy is another way. (Not using a linux bridge is a third, and there are probab

[2017-05-31 18:54] fejta commented on #46713
Why are we creating subnets in all zones?

[2017-05-31 18:59] deitch commented on #45790
True. But do we want to make it too restrictive? Would we not want a more open approach that says, "you must support this or indicate clearly that you do not"?

In that case, you can release a network that does not support it, and let users decide if the trade-offs for a particular CNI plugin are worth it.

[2017-05-31 19:01] divyenpatel commented on #46442
On vSphere, we have observed issue when node is failed over using vSphere HA.

When failover takes longer, Node is getting removed from the cluster and registered back when Node is up and available.

If Admin has cordoned node for some maintenance work, it should not automatically become ready and schedulable upon failover.

if we do not remove the unavailable node, we will not hit into this issue

[2017-05-31 19:22] st4nson opened #46720 "'fluentd-elasticsearch' image was not updated."
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): fluentd-elasticsearch

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**What happened**:
`gcr.io/google_containers/fluentd-elasticsearch:1.23` image still have old version of plugins inst

[2017-05-31 19:27] deads2k commented on #46702
To be honest, I'm not certain, but I've heard the pitch many times: "build your own client based on the openapi spec" and it's what we expect every other language to do.

[2017-05-31 19:29] krzyzacy commented on #46713
@bowei
when trying to clean up some old subnets, I got:
[code]
any idea?

[2017-05-31 19:32] caesarxuchao commented on #46702
I don't think we should leave CRD out of k8s.io/api just to prove client could be generated across repos. I think it depends on if CRD is regarded as a core API type.

[2017-05-31 19:36] juanvallejo opened #46722 "--local flag fails on kubectl commands that deal with unstructured objects"
Without a connection to an api server, executing a command such as `kubectl patch --local ...` will fail with the error `The connection to the server <server> was refused - did you specify the right host or port?`
This is because commands such as patch make use of the discovery client to map resources. A way to get around this would be to just default to using `api.Registry.RESTMapper()` if `--loc

[2017-05-31 19:42] k8s-merge-robot opened #46723 "Failure cluster [982a97...] failed 424 builds, 3 jobs, and 1 tests over 1 days"
### Failure cluster [982a974a173a34e942ce](https://go.k8s.io/triage#982a974a173a34e942ce)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    3 jobs failed,    424 builds failed.
Failure stats cover 1 day time range '30 May 2017 19:03 UTC' to '31 May 2017 19:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Extract | 3 |

##### T

[2017-05-31 19:45] krzyzacy commented on #46713
and the ones not affecting by the subnets also failing -
http://prow.k8s.io/log?pod=pull-kubernetes-e2e-gce-etcd3-33199

seems some node timeout issue?

/assign @pwittrock
as you are the build-cop now, maybe you can help here :-)

[2017-05-31 19:47] deads2k commented on #46702
It's not inaccessible at the moment, it just lives in a different repo that can be vendored separately.  I'd really hate to see "no special cases", become "special cases because it was expedient".

The two client libraries can coexist and that will actually be the case for any other client library that gets created today.

[2017-05-31 19:48] uiansol commented on #39989
@nikhiljindal Who is working on Support federated ingress outside GCP? Is there a proposal for this?

[2017-05-31 19:49] spiffxp commented on #43072
/sig testing
/assign

I'm going to close this given how inactive it's been

[2017-05-31 19:49] spiffxp commented on #43072
/close

[2017-05-31 19:49] #43072 closed

[2017-05-31 19:49] spiffxp commented on #43037
/sig testing
/assign

I'm going to close this given how inactive it's been

[2017-05-31 19:49] spiffxp commented on #43037
/close

[2017-05-31 19:49] #43037 closed

[2017-05-31 19:50] spiffxp commented on #43434
/sig testing
/assign

I'm going to close this given how inactive it's been

[2017-05-31 19:50] spiffxp commented on #43434
/close

[2017-05-31 19:50] #43434 closed

[2017-05-31 19:52] cblecker commented on #46713
I'm going to guess that the [new us-west1-c zone](https://cloudplatform.googleblog.com/2017/05/Oregon-region-us-west1-adds-third-zone-Cloud-SQL-and-Regional-Managed-Instance-Groups.html) that went live yesterday may have push this over the edge?

[2017-05-31 19:53] spiffxp commented on #40704
/sig testing
/assign

I'm going to close this given how inactive it's been

[2017-05-31 19:53] spiffxp commented on #40704
/close

[2017-05-31 19:53] #40704 closed

[2017-05-31 19:54] spiffxp commented on #39056
@kubernetes/sig-storage-misc do you want this in v1.7?

[2017-05-31 19:57] spiffxp commented on #27630
/sig instrumentation

do you want this in v1.7?

@piosz @fabxc (since you're listed as sig-instrumentation leads at https://github.com/kubernetes/community/tree/master/sig-instrumentation and I can't find a team to ping)

[2017-05-31 19:58] spiffxp commented on #15077
@kubernetes/sig-aws-misc do you want this in v1.7?

[2017-05-31 19:59] spiffxp commented on #31966
@kubernetes/sig-scalability-feature-requests do you want this in v1.7? is this the right sig to own this issue?

[2017-05-31 20:00] spiffxp commented on #24472
@kubernetes/sig-aws-misc do you want this in v1.7? is this the right sig to own this issue?

[2017-05-31 20:01] spiffxp commented on #34776
@kubernetes/sig-apps-misc do you want this in v1.7? is this the right sig to own this issue?

[2017-05-31 20:02] spiffxp commented on #35058
@ixdy should this be in v1.7? is there an appropriate sig to own this?

[2017-05-31 20:03] spiffxp commented on #33726
@ixdy do you want this in v1.7? is there a sig to own this?

[2017-05-31 20:03] spiffxp commented on #41411
/sig instrumentation

do you want this in v1.7?

@piosz @fabxc (since you're listed as sig-instrumentation leads at https://github.com/kubernetes/community/tree/master/sig-instrumentation and I can't find a team to ping)

[2017-05-31 20:03] someword commented on #45934
Based off of my personal experiences with cluster DNS issues I find them to be mostly short lived in the 1 - 10 minute range which stop as abruptly as they started with nobody fixing anything.  Would it be too heavy weight to have have the proposed diagnostic tool running continuously to catch intermittent issues?  I can see in my situation by the time I run the diagnostic tool the mysterious prob

[2017-05-31 20:04] crassirostris commented on #41411
@spiffxp No

[2017-05-31 20:05] cmluciano commented on #7190
closing for inactivity /close

[2017-05-31 20:05] #7190 closed

[2017-05-31 20:06] cmluciano commented on #17032
/close inactivity

[2017-05-31 20:06] cmluciano commented on #19055
closing for inactivity /close

[2017-05-31 20:06] foxish commented on #34776
@stiffxp, this is already merged as of now and tracked in https://github.com/kubernetes/features/issues/285.

[2017-05-31 20:07] ixdy commented on #35058
*cries* nope, not v1.7.

I'm not sure who owns hyperkube.

[2017-05-31 20:07] spiffxp commented on #41904
@kubernetes/sig-aws-misc do you want this in v1.7? is this the right sig to own this issue?

[2017-05-31 20:07] #17032 closed

[2017-05-31 20:07] #19055 closed

[2017-05-31 20:07] spiffxp commented on #31858
@kubernetes/sig-aws-misc do you want this in v1.7? is this the right sig to own this issue?

[2017-05-31 20:07] cmluciano commented on #19159
closing for inactivity /close

[2017-05-31 20:07] #19159 closed

[2017-05-31 20:07] spiffxp commented on #44181
@kubernetes/sig-scheduling-misc do you want this in v1.7? is this the right sig to own this issue?

[2017-05-31 20:08] cmluciano commented on #23791
closing due to inactivity /close

[2017-05-31 20:08] #23791 closed

[2017-05-31 20:08] cmluciano commented on #23870
closing due to inactivity /close

[2017-05-31 20:08] #23870 closed

[2017-05-31 20:08] spiffxp commented on #38667
/sig testing
/assign

I'm going to close this given how inactive it's been

[2017-05-31 20:08] spiffxp commented on #38667
/close

[2017-05-31 20:08] #38667 closed

[2017-05-31 20:08] cmluciano commented on #23991
closing due to inactivity /close

[2017-05-31 20:08] #23991 closed

[2017-05-31 20:11] ixdy commented on #33726
doesn't need to block 1.7, no.

[2017-05-31 20:13] krzyzacy commented on #46713
requested a bump, I'm more worrying that the runs has not hit by subnets issue also failed, that seems a separate issue.

[2017-05-31 20:17] spiffxp commented on #42898
/sig testing
/assign

I'm going to close this given how inactive it's been
https://k8s-testgrid.appspot.com/google-unit#test-go&include-filter-by-regex=ConfigMap

[2017-05-31 20:17] spiffxp commented on #42898
/close

[2017-05-31 20:17] #42898 closed

[2017-05-31 20:18] spiffxp commented on #45037
@kubernetes/sig-scalability-misc do we want this in v1.7?  is this the right sig to own this issue?

[2017-05-31 20:19] spiffxp commented on #23715
/sig testing

@timothysc will you have the cycles to get this in for v1.7?

[2017-05-31 20:21] spiffxp commented on #43504
@kubernetes/sig-storage-misc @kubernetes/sig-scheduling-misc @kubernetes/sig-apps-misc do you want this in for v1.7?  which is the correct sig to own this?

[2017-05-31 20:21] luxas commented on #35058
Everyone and no one I suppose. Yeah, agree it's sad.

[2017-05-31 20:22] spiffxp commented on #22680
@kubernetes/sig-scalability-misc do we want this in for v1.7? is this the right sig to own this issue?

[2017-05-31 20:22] gnufied commented on #31858
After implementing bulk volume polling, this bug should be a thing of the past. IMO - we can close this bug. https://github.com/kubernetes/kubernetes/pull/41306

[2017-05-31 20:36] chrislovecnm commented on #31858
@gnufied do we have an issue open about route53 DNS?  Also, I do not know if we understand our limits yet.

[2017-05-31 20:37] shyamjvs commented on #44701
- The 99th %ile of 'LIST pods' latency in our 100-node real cluster is ~2 times that for 100-node kubemark for density test (for load it is ~1.6 times).
- A huge majority of list pods calls are made by e2e.test and try to list the various pods under density test namespaces.
- On looking at the size of a single such pod object, it turns out that it's 4.2kB for kubemark and 4.8kB for real cluster. T

[2017-05-31 20:38] jlowdermilk commented on #46713
I also would like to know this. Why does this project need so many subnets?

[2017-05-31 20:38] msau42 commented on #43504
We're targeting 1.8

[2017-05-31 20:42] derekwaynecarr commented on #46639
+1 to everything that @vishh stated.  i generally avoid quota on alpha resources at this time.

[2017-05-31 20:46] jfoy commented on #45126
NodeController already does this with its "master disruption mode". Logically, we might think of that as the controller observing that it is on the wrong side of a partition, and taking its hands off the wheel until it establishes that it has regained good signal.

That observed state seems like it would apply to the entire control plane in the ControllerManager instance, including ServiceControll

[2017-05-31 20:49] cjcullen opened #46728 "Restructure AuthProvider interface"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): AuthProvider

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

The current AuthProvider interface lets plugins implement a "WrapTransport" method, but existing plugins are really only using it to fetch bearer tokens. It i

[2017-05-31 20:56] jcbsmpsn opened #46730 "Add certificate rotation support to dynamic kubelet config loader"
Looks like the dynamic kubelet config loader is the only other user of CreateAPIServerClientConfig (today). This issue is to plumb the cert-rotating-enabled client to the background process responsible for monitoring config

Evolution of https://github.com/kubernetes/kubernetes/pull/41912

[2017-05-31 20:56] jcbsmpsn commented on #46730
/assign @jcbsmpsn

[2017-05-31 20:56] cjcullen commented on #46728
@ericchiang @wanghaoran1988

[2017-05-31 20:58] spxtr commented on #46454
It's not the same issue cause as what I fixed, but it's the same end result.

[2017-05-31 21:07] madhusudancs commented on #39642
@thockin no. We haven't been able to reproduce.

@gnufied Do you still see this problem? If not, can we close this?

[2017-05-31 21:08] cblecker commented on #46713
So it looks like it's auto-creating subnetworks in all zones because of the `--mode=auto` flag here:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L717

If we changed this to `custom`, would that break anything? It looks like there are also functions in the script to create subnetworks manually.

Either way, a quota increase would also fix this, it seems.

[2017-05-31 21:14] dchen1107 opened #46733 "v1.7.x known issues / FAQ accumulator"
Please link to this issue or comment on this issue with known errata for the 1.7.x release. This follows what we have done for prior releases.

We will be populating the "Known Issues" section of 1.7.0 and above release notes based on this issue

cc/ @kubernetes/kubernetes-release-managers

[2017-05-31 21:24] spiffxp commented on #34776
@foxish so should this particular issue be closed?

[2017-05-31 21:24] roberthbailey commented on #46454
@spxtr - I've assigned this to you. Can you close it once it's been fixed?

[2017-05-31 21:26] foxish commented on #34776
Yes, was waiting on documentation to merge in https://github.com/kubernetes/kubernetes.github.io/pull/3885. Can close if that makes tracking easier.

[2017-05-31 21:28] ixdy commented on #21427
we use `--mode=auto` now.

[2017-05-31 21:28] #21427 closed

[2017-05-31 21:30] krzyzacy commented on #46713
quota is bumped, let's see if it fixes things

[2017-05-31 21:36] arthur0 opened #46735 "Refactoring kubectl config commands"
Refactoring of the `kubectl config` commands according to the [kubectl command implementation conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#command-implementation-conventions).

Making the existent `kubectl config` [commands](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/cmd/config) aligned with the conventions increas

[2017-05-31 21:37] xiangpengzhao commented on #46730
/sig auth
/sig node

[2017-05-31 21:42] freehan commented on #23291
L4 Ingress probably makes more sense in the context of federation, maybe?

[2017-05-31 21:50] hongchaodeng opened #46736 "TPR objects still exist after deleting namespaces"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): v1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**:
- Create TPR "MyResource"
- Create namespace "soak-test"
- Create a "MyResource" "a" under "soak-test":

[code]
- Delete namespace "soak-test"

[code]
- wait namespace to be deleted

MyResource "a" still exists after ns is deleted.
[code]

[2017-05-31 21:52] cblecker commented on #46713
kicking off a test to try it: https://github.com/kubernetes/kubernetes/pull/46711

[2017-05-31 21:53] mml commented on #31966
@gmarek this is about the situation when a large number of nodes go unreachable at once, right?

Can we be a little more specific about a case where the current code would do the wrong thing, even if we don't know what the right thing is?

[2017-05-31 21:54] freehan commented on #45385
Yes. Switching to "iptables-save" will definitely help.

Based on the symptom description, it does look like the kernel bug.

There is another bug recently, but I do not think it is related.
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1691752

[2017-05-31 22:02] krzyzacy commented on #46713
/assign @MrHohn

Some network resource are still leaking, I'm manually running janitor to clean them up. Seems PRs are piling up though.

[2017-05-31 22:06] spiffxp commented on #34776
ok, thanks... docs are typically linked to feature issues, rather than k/k issues, I'll go ahead and close this out
/assign

[2017-05-31 22:06] spiffxp commented on #34776
/close

[2017-05-31 22:06] #34776 closed

[2017-05-31 22:07] janetkuo commented on #46575
This is fixed in 1.7 by comparing available replicas with up-to-date replicas instead https://github.com/kubernetes/kubernetes/blob/v1.7.0-alpha.4/pkg/kubectl/rollout_status.go#L80-L82

If you don't want to wait until 1.7 is release, use `apps/v1beta1` Deployment instead -- with 25% default maxUnavailable.

[2017-05-31 22:10] krzyzacy commented on #46713
a sample log that's failing not due to subnetwork quota:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46125/pull-kubernetes-e2e-gce-etcd3/33303

[2017-05-31 22:45] freehan commented on #46651
Okay. I think I figure out what is going on. It is a bug introduced from https://github.com/kubernetes/kubernetes/pull/43879

Here is what I think it happened:
Node restarts. All containers stopped. API server still has those pods as Running.
Node come up. kubelet `PLEG.updateCache` -> `kubemanager.GetPodStatus` -> CRI `PodSandboxStaus` -> `GetPodNetworkStatus`.

PLEG requires GetPodStatus to succ

[2017-05-31 22:47] cjcullen commented on #11816
@justinsb Does Kops secure the kubelet API by default?

[2017-05-31 22:48] ichekrygin commented on #26000
Hi, I am getting this on `v1.6.4`

[code]

[2017-05-31 22:49] vieira commented on #46575
Using `apps/v1beta1` instead of `extensions/v1beta1` solves the issue for me. Thanks!

[2017-05-31 22:49] #46575 closed

[2017-05-31 22:50] ericchiang opened #46737 "gce-multizone test has been broken since may 25"
https://k8s-testgrid.appspot.com/google-gce#gce-multizone&width=5

Commits that might have broken it https://github.com/kubernetes/kubernetes/compare/079020f55...749ac27e9

* https://github.com/kubernetes/kubernetes/pull/45003
* https://github.com/kubernetes/kubernetes/pull/45932 (AWS ELB tagging)
* https://github.com/kubernetes/kubernetes/pull/46146 (unit test change only)
* https://github.com/ku

[2017-05-31 22:51] timoreimann commented on #2707
I'd like to take a stab at relaxing Kubernetes' validation logic so that dotted environment variables are allowed.

If there's anything I should do or any design work that's needed up front prior to shooting out a PR, please let me know.

[2017-05-31 22:54] joemiller commented on #23291
I don't think federation is necessary. This makes a lot of sense for us as we do lots of mTLS client auth which is not possible with the L7 GCP HTTPS LB currently.

[2017-05-31 22:54] broady commented on #23403
Could someone else add the label? I don't know what team is appropriate.

[2017-05-31 22:56] smarterclayton commented on #17098
/sig api-machinery

On Wed, May 31, 2017 at 6:46 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-05-31 22:58] jmhodges commented on #39645
I don't think I'm the right person to figure out what sig this is.

@r2d4 maybe you know?

[2017-05-31 23:06] verult commented on #46651
@yujuhong  Seems like there is already logic in place in the PD test to check all nodes are back up. Running the restart test alone also gives me the error in certain runs. 20s might just not be long enough to wait for nodes to be ready?

[2017-05-31 23:08] ixdy commented on #34059
/sig testing

[2017-05-31 23:09] #33611 closed

[2017-05-31 23:09] smarterclayton commented on #37530
/close

this was fixed a while ago

On Wed, May 31, 2017 at 6:52 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-05-31 23:09] ixdy commented on #33726
/sig release

[2017-05-31 23:09] #37530 closed

[2017-05-31 23:10] ixdy commented on #28631
/sig release

[2017-05-31 23:14] yujuhong commented on #46651
Can the PD test wait until the nodes become ready again?

[2017-05-31 23:17] krzyzacy commented on #46713
https://github.com/kubernetes/test-infra/pull/2902 should fix it, but we need to wait for couple runs

[2017-05-31 23:21] antoineco commented on #23386
/sig cli

[2017-05-31 23:22] #43628 closed

[2017-05-31 23:27] antoineco commented on #23276
/sig cli

[2017-05-31 23:30] janetkuo commented on #44538
@akostadinov you can find a Deployment's ReplicaSets from `kubectl describe deploy/<name>` or `kubectl get rs -l <key>=<value>` (use the Deployment's label selector to filter by labels).

If you want to find the current RS, look for the one with the same value of annotation `deployment.kubernetes.io/revision` as the Deployment.

Why do you want to find the current RS? If you just want to check the

[2017-05-31 23:33] raffaelespazzoli commented on #41193
/sig [app storage]

[2017-05-31 23:34] yujuhong commented on #45927
@karataliu, could you confirm that you're working on the following fixes since this issue is in the 1.7 milestone? Thanks!

[2017-05-31 23:35] xiangpengzhao commented on #46736
/ area third-party-resource

[2017-05-31 23:36] #37459 closed

[2017-05-31 23:36] xiangpengzhao commented on #46736
/area third-party-resource

[2017-05-31 23:37] xiangpengzhao commented on #46735
/sig cli

[2017-05-31 23:38] antoineco commented on #23386
Escaping dots works now. To revisit the example in my original message:
[code]

Closing :tada:

[2017-05-31 23:38] #23386 closed

[2017-05-31 23:45] bjornswift commented on #39502
@kubernetes/sig-aws-misc

[2017-05-31 23:47] gyliu513 commented on #46693
@cesartl which option are you using? 1) or 2)? I think that the `kops` may need some update.

@swarnap it seems not a network issue but kops deployment YAML template issue ;-)

[2017-05-31 23:48] verult commented on #46651
There's also logic inside AfterEach() in framework.go making sure the nodes are ready, although it includes unschedulable nodes, whereas the check in restart.go excludes them.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L4087

Looking into why this is the case.

[2017-05-31 23:50] mml commented on #29317
/sig testing

[2017-05-31 23:50] mml commented on #17336
@kubernetes/sig-testing-misc

[2017-05-31 23:52] mml commented on #43452
@krousey @wojtek-t I think we can close this, right?  We do have downgrade testing.

[2017-05-31 23:55] djsly commented on #23291
This makes a lot of sense for us as well, we have in house tcp based
protocol that are almost impossible to convert to http that would greatly
benefit from this.

On Wed, May 31, 2017 at 6:55 PM, joe miller <notifications@github.com>
wrote:

[2017-06-01 00:00] xiangpengzhao commented on #46736
/sig cli

[2017-06-01 00:08] xiangpengzhao commented on #41769
@mansing2 do you try what @ravilr commented? I think that answered your question. Can we close this issue?

/sig auth
/cc @thockin

[2017-06-01 00:12] a-robinson commented on #41369
/sig cluster-lifecycle

[2017-06-01 00:13] a-robinson commented on #41303
/sig contributor-experience

[2017-06-01 00:16] xiangpengzhao commented on #46723
/sig testing

[2017-06-01 00:21] nicksardo commented on #23291
@djsly @joemiller How does this L3/4 via ingress enable your use cases? Why can't you use a service with type=loadbalancer?

[2017-06-01 00:23] mikedanese commented on #41817
Why are both your examples not validation errors? Does kubectl apply use server side strategic merge patch yet?

[2017-06-01 00:25] krzyzacy commented on #46713
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46648/pull-kubernetes-e2e-gce-etcd3/33358

things are start passing, now wait for the backlog to drain..

[2017-06-01 00:30] msau42 commented on #39657
/sig storage

[2017-06-01 00:30] k82cn commented on #46691
@mtaufen , sorry for the disturbing :).

Regarding all alpha features, I prefer to enable is by default:  local-up-cluster is a kind of test environment for developer, enabling all alpha features maybe helpful to catch up potential feature interactions.

[2017-06-01 00:30] msau42 commented on #39647
/sig storage aws

[2017-06-01 00:30] MrHohn commented on #46713
Also to clarify what was going on:
1. https://github.com/kubernetes/test-infra/pull/2874 mistakenly overwrote GINKGO_TEST_ARGS for k8s-jkns-pr-gce-etcd3, which originally should be `--ginkgo.skip=\[Slow\]|\[Serial\]|\[Disruptive\]|\[Flaky\]|\[Feature:.+\]`.
2. As the consequence, pull-kubernetes-e2e-gce-etcd3 ran all the e2e tests including Slow, Serial and Disruptive tests without skipping, durin

[2017-06-01 00:33] joemiller commented on #23291
Nick yes we currently do that. We'd like to move to Ingress in general to
simplify patterns for our internal developers. But you are correct, the
real win for us will be federation + L4 global LB so we can deploy global
mTLS services. I retract my previous statement. This is most valuable for
us in the federation context.

On Wed, May 31, 2017 at 5:22 PM Nick Sardo <notifications@github.com> wrote

[2017-06-01 00:34] roberthbailey commented on #3131
/sig testing

feel free to close as obsolete

[2017-06-01 00:36] caesarxuchao commented on #46702
It looks like kube-apiextensions-server is an end user apiserver that serves CRD? If that's the case, i agree with @deads2k that CRD should live in this repo.

[2017-06-01 00:37] quinton-hoole commented on #39989
@uiansol I'm not aware of anyone currently actively working on it, but Amazon, CoreOS and Ticketmaster have recently done some integration work between Kubernetes Ingress and AWS ALB, that lays some good groundwork to federate on top of this.

https://coreos.com/blog/alb-ingress-controller-intro

I would be happy to write up a design if anyone can offer some developers to implement it.  I don't th

[2017-06-01 00:40] MrHohn commented on #39403
Closing support issue.

/assign
/close

[2017-06-01 00:40] MrHohn commented on #39403
/close

[2017-06-01 00:40] #39403 closed

[2017-06-01 00:42] k8s-merge-robot opened #46740 "pr:pull-kubernetes-unit flaked 110 times in the past week"
### Flaky Job: pr:pull-kubernetes-unit
 Flakes in the past week: **110**
 Consistency: **91.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/vendor/k8s.io/kube-apiextensions-server/test/integration TestCrossNamespaceListWatch | 60 |
| k8s.io/kubernetes/pkg/kubeapiserver/admission/configuration TestConfiguration | 28 |
| k8s.io/kubernetes/pkg/contr

[2017-06-01 00:42] k8s-merge-robot opened #46741 "pr:pull-kubernetes-e2e-gce-etcd3 flaked 95 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-etcd3
 Flakes in the past week: **95**
 Consistency: **92.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 44 |
| TearDown | 30 |
| [k8s.io] Deployment deployment should support rollover | 19 |

<details><summary>Rationale for assignments:</summary>

| Assignee or SIG area | Owns test(s) |
| --- | --- |
| kargakis | [k

[2017-06-01 00:43] mengqiy commented on #37216
/sig cli

[2017-06-01 00:45] liggitt commented on #46691
I would not expect all alpha features on by default in local up cluster

[2017-06-01 00:53] mtaufen commented on #46691
Neither would I. Developers, by default, shouldn't have to wonder if bugs are their fault or if they come from unstable alpha components. Users, by default, shouldn't have to deal with unstable alpha features either.

[2017-06-01 00:53] ixdy commented on #42485
The `ci-kubernetes-e2e-gke-pre-release` and `ci-kubernetes-e2e-gci-gke-pre-release` jobs depend on the `release/latest.txt` file.

These jobs are also ownerless and have been broken for 3 months, so...

[2017-06-01 00:54] uiansol commented on #39989
@quinton-hoole Good to know, we have a "gang of 4" to work. =)
If you write up the design we will be glad to work on that. We have been PM docs and trying to help in some bugs.

[2017-06-01 00:59] k82cn commented on #46691
@liggitt / @mtaufen , got that; alpha components is unstable, do NOT cover everything for it.

[2017-06-01 01:03] krzyzacy commented on #46713
whoops I was running the clean script from a different branch... now I'd expect old subnets are all gone from the project, and subsequent runs would be fine.

[2017-06-01 01:12] verb commented on #37838
/assign @verb
/sig node

[2017-06-01 01:15] saad-ali commented on #45143
So the proposals for where this logic should exist are:

1. Existing `persistentvolume` admission controller.
2. A separate admission controller that only handles deletes. (@derekwaynecarr's [suggestion](https://github.com/kubernetes/kubernetes/pull/46573#pullrequestreview-41247099)).
3. New `status` field in PVC and a finalizer that keeps the PVC present until the PVC is reported inactive by kube

[2017-06-01 01:16] dashpole commented on #45558
PR, which I believe will make it in 1.7: https://github.com/kubernetes/kubernetes/pull/45896

[2017-06-01 01:20] jianzhangbjz commented on #28526
/sig GPU on k8s+mesos

[2017-06-01 01:33] karataliu commented on #45927
@yujuhong Yeah, just sent the PR 46744,. It's almost aligned with v1.6 dockertools implementation now.
Also previous windows support limitations such as single container per pod still persist. Please check the PR for detail. Thanks

[2017-06-01 01:43] djsly commented on #23291
@nicksardo
1) The Load Balancer doesn't support SSL termination and we would like to combine our ssl management in the same controller.
2) We have multiple namespaces in the same cluster exposing the same services, some Cloud provider have limits on the number of PublicIP that can be added by Load Balancer hence using a single point of entry (ingress controller' service) simplify things up a lot.

[2017-06-01 01:43] gnufied commented on #41249
/sig node

[2017-06-01 01:45] quinton-hoole commented on #39989
@uiansol Great.  I will try to get a design out in the next two weeks.  I have a draft already.

[2017-06-01 01:46] jmzwcn commented on #46568
My thought is we could enhence nodeAffinity's IN operation, such as introducing  'AND', means this deployment must be placed into IDC1 and IDC2 and IDC3...

[2017-06-01 01:52] gnufied commented on #45143
It would be nice  to have a general solution for this, because this problem keeps coming up in other places too.

Problem with option-3  also is - same PVC can be used in more than one pod. So, if we are going to maintain status field on PVC, we may have to refcount.

[2017-06-01 02:10] caseydavenport commented on #41943
/sig network
/assign

[2017-06-01 02:15] justinsb commented on #33816
Going to close as this is old and I haven't seen it since.

[2017-06-01 02:15] #33816 closed

[2017-06-01 02:18] krzyzacy commented on #46713
seems stable now.
/close

[2017-06-01 02:18] krzyzacy commented on #46713
/assign

[2017-06-01 02:18] krzyzacy commented on #46713
/close

[2017-06-01 02:18] #46713 closed

[2017-06-01 02:18] justinsb commented on #6159
The "asking for permission" approach did not yield a no, though it didn't yield a yes either, so going to try the "begging forgiveness" approach :-)

Closing; our recommendation is to run NTP.

Please comment if I should reopen.

[2017-06-01 02:18] #6159 closed

[2017-06-01 02:20] xingzhou commented on #46736
I'd like to take a look at the problem if nobody else is working on this

[2017-06-01 02:22] justinsb commented on #46632
/sig azure

(woo-hoo)

[2017-06-01 02:33] xiangpengzhao commented on #46632
Justin, seems like we don't have a label named `sig/azure`, so the bot will not respect `/sig azure`...

https://github.com/kubernetes/kubernetes/labels

[2017-06-01 02:33] justinsb commented on #37567
So kops has this; and sig-bot is bugging me to do something...

If there's another cloud that we think should be supported, let's sig-it-to-them ;-)  Otherwise shall we close?

[2017-06-01 02:39] MrHohn commented on #37567
Let's close this for now :)

[2017-06-01 02:39] #37567 closed

[2017-06-01 02:40] justinsb commented on #46632
boo-hoo then!

I expect it's still getting spun up..  cc @colemickens (?)

[2017-06-01 02:45] k82cn commented on #46568
Would you try Pod AntiAffinity firstly? :).

[2017-06-01 02:45] justinsb commented on #29061
I don't know which sig "owns" the core controllers - node?

[2017-06-01 02:49] xiangpengzhao commented on #46632
Yeah, but it just pretends that nothing happened :smile:

[2017-06-01 02:50] jmzwcn commented on #46568
No, enhancement to SelectorSpreadPriority and nodeAffinity's IN(will be changed AND) operation. any suggestion?

[2017-06-01 03:05] liggitt commented on #46730
need to ensure we don't have multiple client cert rotating processes running

[2017-06-01 03:06] justinsb commented on #24472
sig/aws definitely; this is highly specific to AWS.

1.7, I don't think it's going to happen; moved to next-candidate.

[2017-06-01 03:11] ixdy commented on #6222
/sig release

[2017-06-01 03:12] ixdy commented on #6222
/assign

[2017-06-01 03:19] gyliu513 commented on #46568
The `IN` already support array, but it still cannot guarantee the anti affinity.

[code]

+1 to enhance node affinity to support the anti affinity for a whole deployment.

[2017-06-01 03:25] k82cn commented on #46568
`SelectorSpreadPriority` is kind of "preferred", it will not guarantee each IDC has Pods; the scheduler will calculate priority of Node and assign Pods to the Node with highest priority, "SelectorSpreadPriority" is only one of priority factor.

`nodeAffinity's label in(AND)`, it's hard for k8s to decide how many Pods should be placed in IDC if the number of replicas & IDC is different. Round-robin

[2017-06-01 03:44] jeremywadsack commented on #33766
This is still an issue with the test case documented [above](https://github.com/kubernetes/kubernetes/issues/33766#issuecomment-251538624).

[code]

/sig sig-node

[2017-06-01 03:46] MikeSpreitzer commented on #35253
Yes, I just submitted a PR to fix this (which is now a matter for the `community` repo).

[2017-06-01 03:56] MikeSpreitzer commented on #46508
I work on BYOIP and explicit networks, so am no fan of having a configured `--cluster-cidr` --- I would rather see its usage decrease (eventually to zero) rather than increase.  What would it take for Weave Net to flourish in such a setting?

[2017-06-01 04:08] kevin-wangzefeng commented on #46568
Actually Pod AntiAffinity has a soft option, see "podAntiAffinity" and "preferredDuringSchedulingIgnoredDuringExecution" in https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/node-selection/pod-with-pod-affinity.yaml.
And to make sure the pods are spread appropriately as expected, you may indicate a really high weight of the algorithm "InterPodAffinityPriority".
see als

[2017-06-01 04:13] krmayankk commented on #45143
A couple more questions:-
-is admission controller mechanism to delete pvc synchronous ?
-Is there a cheaper method then listing all pods in pvc namespace and compare all volumes in each pod to figure out owning pod ?
-would it be ok to add a label selector to all pv/pvc being referenced by a pod so its easier to find them ?
-would it be ok use ownerreferences (similar to owning controller) to fin

[2017-06-01 04:27] justinsb commented on #46737
There is also the "none of the above" option - they seem to be failing due to DNS lookup failures

`dial tcp: lookup bootstrap-e2e-gce-mz-minion-group-k8jv on 169.254.169.254:53: no such host'\nTrying to reach: 'https://bootstrap-e2e-gce-mz-minion-group-k8jv:10250/stats/?timeout=5m0s`

[2017-06-01 04:34] zhan849 commented on #33245
any updates on this? Got same problem on 1.4.3.

Scenario: we need to upgrade host package and kubernetes, so we:
1. Teared down all our kubernetes components, including daemonset
2. Terminated master
3. Created new master with exactly same configuration: userdata (except some package update information), network, storage, storage mapping, etc.

After new master is up, looks like daemonset control

[2017-06-01 04:43] k82cn commented on #46568
wow, yes, as kevin-wangzefeng@ said, "soft Pod AntiAffinti" + "heigh enough weight" should meet this requirement :).

[2017-06-01 05:05] glennslaven opened #46753 "kube-proxy: add option to forcibly disconnect existing TCP clients on service updates"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): connection close service change pod

**Is this a BUG

[2017-06-01 05:08] thockin commented on #29061
/sig network
/sig node

On Wed, May 31, 2017 at 7:45 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2017-06-01 05:08] glennslaven commented on #46753
@kubernetes/sig-network-misc

[2017-06-01 05:09] roberthbailey commented on #23634
closing as obsolete.

[2017-06-01 05:09] #23634 closed

[2017-06-01 05:11] roberthbailey commented on #46737
/cc @bowei @MrHohn @thockin -- this looks related to GCE DNS changes.

[2017-06-01 05:11] thockin commented on #23291
Are people willing to give up things like source IPs to get this?

On Wed, May 31, 2017 at 6:43 PM, Sylvain Boily <notifications@github.com>
wrote:

[2017-06-01 05:13] thockin commented on #46737
Yep, they need to use FQDNs

On Wed, May 31, 2017 at 10:11 PM, Robert Bailey <notifications@github.com>
wrote:

[2017-06-01 05:15] luxas commented on #23417
/sig cluster-lifecycle

[2017-06-01 05:16] luxas commented on #23417
However, I'm closing this as both the hyperkube singlenode and multinode guides have been deprecated and removed successfully

[2017-06-01 05:16] #23417 closed

[2017-06-01 05:17] dixudx commented on #46735
/assign @dixudx

I would like to work on this if there is a consensus on the above description.

[2017-06-01 05:19] justinsb commented on #46737
Ah - is this only for cross-AZ?  Is this caused by a change in GCE node naming / lookup behaviour -
 aka the infamous NodeName != hostname bug :-)

If so, in kops we change the order of address resolution so that it prefers using the internal IP as found in the Node object, so in theory the Node Name does not matter.  https://github.com/kubernetes/kops/blob/db5e435c55a581ac8e94aedc8d106dc666fff839

[2017-06-01 05:20] luxas commented on #41206
/sig cluster-lifecycle

[2017-06-01 05:21] justinsb commented on #15077
Want: yes; time to make it happen: no

[2017-06-01 05:26] gyliu513 commented on #46568
@kevin-wangzefeng With `Pod AntiAffinity`, I think it only works with current existing pod. i.e. I have a pod running in node1, then I can use `Pod AntiAffinity` to make sure other pods will not run on node1 any more.

But the question from @jmzwcn is he want to make the `anti affinity` in a global level, such as I have a deployment with 4 pods, and I want to those 4 pods to be deployed to 4 diffe

[2017-06-01 05:28] jmzwcn commented on #46568
@gyliu513, yes, our requirement is exactly what you said.

[2017-06-01 05:31] #41769 closed

[2017-06-01 05:35] thockin commented on #39056
@saad-ali can you retitle this to be meaningful or close it?

[2017-06-01 05:41] k82cn commented on #46568
Yes; and you can anti-affinity to "yourself" in Pod template: the Pod template has label (e.g. `label_1`), and there's Pod anti-affinity in Pod template for the label; so when it running, the first Pod will run in IDC, e.g. (`IDC1`), when running the second Pod, there's a existing Pod in `IDC1` matched anti-affinity.

[2017-06-01 05:57] dchen1107 commented on #46370
pull-kubernetes-e2e-kops-aws is one of builds blocking the submit-queue mostly. I raised the priority for this issue; otherwise, we should remove this for pre-submit.

cc/ @kubernetes/kubernetes-release-managers @kubernetes-sig-aws @justinsb

[2017-06-01 05:59] justinsb commented on #46370
Is there a source for numbers?

I'm seeing a lot of failing GCE tests, but I _think_ we should keep GCE in the test suite ;-)

[2017-06-01 06:07] dchen1107 commented on #46690
pull-kubernetes-federation-e2e-gce is one of the builds blocks our submit-queue. I raised the priority the issue. If we cannot address the issue, we are going to remove this from pre-submit.

cc/ @kubernetes/kubernetes-release-managers @sig-federation-misc @csbell

[2017-06-01 06:11] justinsb commented on #46370
More seriously... the first few seem to be the DisruptionController flakes coming back.

The ones where kops times out, I haven't tracked down yet.

We probably should start by changing:

`W0524 08:38:49.867] 2017/05/24 08:38:49 e2e.go:417: kubectl get nodes failed: "exit status 1": ""` so it doesn't swallow the actual error message..

[2017-06-01 06:11] jmzwcn commented on #46568
By read more, I don't think pod-anti-affinity could meet our requirement. IDC label only exists in nodes. pod affinity don't care node actually.

[2017-06-01 06:14] Random-Liu commented on #42040
@reza-ebrahimi I don't remember how does minikube works. It seems that they create a VM and run kubelet inside the VM?

Did you download the image inside the vm?

[2017-06-01 06:18] gurvindersingh commented on #46639
@vishh @derekwaynecarr That is understandable, I look forward to have the `beta`version of opaque resources with support for quota included. I assume that it will be target for 1.8

[2017-06-01 06:21] cesartl commented on #46693
@gyliu513

The `dns-controller` already has a node selector:

[code]

I did 1) to remove the restriction on the `dns-controller`

[2017-06-01 06:22] justinsb commented on #46370
Aha ... found the numbers here: https://storage.googleapis.com/k8s-metrics/flakes-latest.json

So pull-kubernetes-unit is actually the worst.  pull-kubernetes-e2e-gce-etcd3 is the worst of the main tests, though pull-kubernetes-e2e-kops-aws is next up.

@dchen1107 can you assign some google resources to assist in our figuring out what is wrong here?  With the current test setup, it is hard to do s

[2017-06-01 06:28] gyliu513 commented on #46693
OK, then I think you may either file an issue in `kops` project or move this issue to `kops` project to fix this issue, @cesartl

[2017-06-01 06:30] dchen1107 commented on #45368
re: https://github.com/kubernetes/kubernetes/issues/45368#issuecomment-302467853

@kubernetes/goog-image Please take a look at the kernel panic in cos image.

[2017-06-01 06:30] cesartl commented on #46693
yes that makes sense. How can I move this issue into a different project?

[2017-06-01 06:31] karol-brejna-i commented on #41204
@kubernetes/sig-instrumentation-misc

[2017-06-01 06:32] gyliu513 commented on #46693
Issue moved to [kubernetes/kops #2667](https://github.com/kubernetes/kops/issues/2667) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-01 06:33] #43452 closed

[2017-06-01 06:34] wojtek-t commented on #44609
This is still not fixed.

[2017-06-01 06:34] dchen1107 commented on #46741
I am closing this one as the dup of https://github.com/kubernetes/kubernetes/issues/46713. I believe the issue was fixed by kubernetes/test-infra#2902

[2017-06-01 06:34] #46741 closed

[2017-06-01 06:34] csandanov commented on #45368
I've resolved this issue after upgrading the kernel to 4.9 from backports and switch from aufs to overlay2.

[2017-06-01 06:35] gyliu513 commented on #46693
I moved it for you, you may want to have [Zenhub](https://www.zenhub.com/) installed as a plugin for Github, just have a try ;-)

[2017-06-01 06:36] dchen1107 commented on #46370
pull-kubernetes-e2e-gce-etcd3 was completely broken due to the misconfigured test infrastructure #46713 which should be fixed by kubernetes/test-infra#2902.

[2017-06-01 06:37] pires commented on #23291
Why would there be the need to give up? For instance, ELB supports PROXY protocol as an opt-in. Doesn't GCLB L4 do something like that as well? I know apps need to accommodate that but it's a trade-off.

I wonder if a Service, which last time I checked in GKE generates a regional GCLB L4, is any different.

[2017-06-01 06:39] thockin commented on #23291
I was ignoring PROXY on purpose, but yes, that is the lengths people will
have to go to :)

On Wed, May 31, 2017 at 11:38 PM, Paulo Pires <notifications@github.com>
wrote:

[2017-06-01 06:41] k82cn commented on #46568
Pod Anti-Affinity/Affinity's term has `topologyKey` which can help to map to nodes.

[2017-06-01 06:41] kevin-wangzefeng commented on #46568
@jmzwcn well, that what the field topologyKey designed for.

Say you have nodes in IDCs like this:
 idc | nodes | common labels
-- | -- | --
idc1 | node11, node12, node13 | idc=idc1
idc2 | node21, node22, node23 | idc=idc2

and when you setting up pod AntiAffinity rules, you may configure like this:
[code]

For spreading pods from different deployments, you can just make the pods have common label

[2017-06-01 06:44] jmzwcn commented on #46568
In principle, the topologyKey can be any legal label value. However, for performance reasons, only a limited set of topology keys are allowed. By default the allowed topology keys are:

    kubernetes.io/hostname
    failure-domain.beta.kubernetes.io/zone
    failure-domain.beta.kubernetes.io/region

reference from https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2017-06-01 06:46] dchen1107 commented on #46520
PR #46521 to fix this issue was merged. Close the issue.

[2017-06-01 06:46] #46520 closed

[2017-06-01 06:48] kevin-wangzefeng commented on #46568
yeah, that's enforced by an admission controller, you can either reuse the key "failure-domain.beta.kubernetes.io/zone" for indicating idc, or you can modify the admission controller, to make it allow your own label key. Actually it is implemented configurable, so you don't even need to change any code, IIRC.

[2017-06-01 06:51] mofirouz commented on #24745
I've hit the same problem. Seems like manually changing the GCE LB Timeout to something substantially larger would fix the problem. I've changed it to 86400.

Unfortunately, there isn't a way that I've found to set this programmatically through Kubernetes but you can set it via the Google API:

https://cloud.google.com/compute/docs/reference/latest/backendServices

Hope this helps someone.

[2017-06-01 06:51] simonswine commented on #45368
A comment from @bpineau (https://github.com/kubernetes/kops/issues/874#issuecomment-304502956). References the git commit with the fixes in the kernel

[2017-06-01 06:52] sttts commented on #33685
/close

[2017-06-01 06:52] bowei commented on #44609
Is anti-affinity strict (e.g. can never schedule together) or is it a best-effort? If this is best effort, it seems to be the right thing to do to improve resilience wrt to node failure.

There were some people in the community that wanted to add it to the pod spec, but it never made it to the finish line.

[2017-06-01 06:52] gyliu513 commented on #46568
@kevin-wangzefeng What @jmzwcn want is *one* deployment to spread pods cross different idc, but not *many* deployments, I think we cannot achieve this for now.

[2017-06-01 06:53] jmzwcn commented on #46568
back to our basic requirement, we care pods within one deployment, NOT across deployments, let them spread in different IDCs. I think @gyliu513 understand what I said.

[2017-06-01 06:55] kevin-wangzefeng commented on #46568
@gyliu513 that's ok either you are trying to spread pods from one deployment or many deployments, because the pod affinity is configured in the spec of pod (or podTemplate in this case)

[2017-06-01 06:57] gyliu513 commented on #46568
@kevin-wangzefeng shall we move to slack? I show up as @gyliu513 there

[2017-06-01 06:58] Dexyon commented on #44650
I noticed this error in one of our clusters since we started increasing the load. I upgraded the master and nodes to version 1.6.4 instead of 1.6.2 and will monitor the node state a bit closer to see if I can see what will cause this error on our cluster.

[2017-06-01 06:58] shenshouer commented on #5607
+1 need for /dev/nvidia*

[2017-06-01 06:59] wojtek-t commented on #44609
I think we still don't have any anti-affinity (neither strict nor preferred). I'm a bit pesimistic about this, because anti-affinity doesn't scale for now...

What I started thinking about (and what should be pretty small change and may work good enough) is to actually scale not based on number of nodes, but based on number of __Ready__ nodes.
@bowei - WDYT?

[2017-06-01 07:00] kevin-wangzefeng commented on #46568
Sure, we can have a quick discussion on slack, if you guys would like to. My handle is @kevin-wangzefeng

[2017-06-01 07:00] tony612 commented on #30939
I found a simple way to fix this: set kubelet option `--cgroup-root` to `/docker`.

[2017-06-01 07:05] justinsb commented on #46370
Started submitting the changes needed for diagnostics https://github.com/kubernetes/test-infra/pull/2914

[2017-06-01 07:07] sttts commented on #46702
Yes, it is. It happens to be also embedded into kube-apiserver for convenience, but the functionality has no connection to kube (we could remove the kube- prefix for that reason, should we? @deads2k).

[2017-06-01 07:10] pires commented on #23291
I mean, it's the same trade-off as in L7 with the HTTP headers being put in place. But you have a point this will need to be made clear to users.

As a note, just confirmed GCLB L4 does support PROXY v1.
![screen shot 2017-06-01 at 08 09 55](https://cloud.githubusercontent.com/assets/1752631/26668469/c6af9e1a-46a1-11e7-8c41-253f6cf88524.png)

[2017-06-01 07:14] hobti01 commented on #41965
I think this belongs to @kubernetes/sig-node due to the close relationship to the runtime implementation.

[2017-06-01 07:16] hobti01 commented on #41965
/sig node

[2017-06-01 07:19] thockin commented on #23291
with HTTP it is explicitly in-protocol.  Proxy is a bolt-on thing.  That's
all I meant.

On Thu, Jun 1, 2017 at 12:11 AM, Paulo Pires <notifications@github.com>
wrote:

[2017-06-01 07:22] jmzwcn commented on #46568
Great, hope to have a better solution, then we could implement it as a feature request.

[2017-06-01 07:24] kevin-wangzefeng commented on #46568
Just a side note here, maybe we can improve the document, it seems not quite easy to understand, and I've explained it to many guys several times.

[2017-06-01 07:25] #33685 closed

[2017-06-01 07:29] gyliu513 commented on #46568
Thanks @kevin-wangzefeng for the explanation, will have a try and check code for this.

@jmzwcn , can you please have a try first with following template? If you have 4 pods in one deployment, then this should help spread your pods to 4 different nodes. I do not have such environment now and cannot do the test for now, but can help when got a environment later.

You can use following:

[code]
Make

[2017-06-01 07:31] jmzwcn commented on #46568
where is IDC info?

[2017-06-01 07:42] jmzwcn commented on #46568
if we use "failure-domain.beta.kubernetes.io/zone" instead of IDC directly, actually SelectorSpreadPriority will auto let pods spread by this zone[https://github.com/kubernetes/kubernetes/blob/b4235038b312fff7d67d01fa0c2bfdc81b1ce21f/plugin/pkg/scheduler/algorithm/priorities/selector_spreading.go#L37] and nodes. But do you think this is a better solution?

[2017-06-01 07:44] gyliu513 commented on #46568
I mean that you can probably test if the pods in one deployment can be spread to different nodes to check if the anti affinity works, then you can re-use label such as `failuredomain.beta.kubernetes.io/zone` or `failure-domain.beta.kubernetes.io/region` as your IDC label, just tag same host in one IDC with same `failuredomain.beta.kubernetes.io/zone` or `failure-domain.beta.kubernetes.io/region` l

[2017-06-01 07:47] k82cn commented on #43197
double check the NodeAffinity and InterPodAffintiy, the unit test case for both annotation & fields are there.

Agree with timothysc@ that e2e used the same code for both annotation & fields, the only different is to marshal/unmarshal annotation/field. Do you need to add that back?

[2017-06-01 07:47] st4nson commented on #46720
@crassirostris @coffeepac could You take a look ?

[2017-06-01 08:10] agabert commented on #45419
Just a quick heads up, in our case the flapping workers and pods stuck in ContainerCreating was a problem with the security groups of our EC2 instances not allowing weave traffic between master and workers and among the workers. Therefore the node could not properly come up and got stuck in NotReady.

kuberrnetes 1.6.4

with proper security group it works now.

[2017-06-01 08:12] chengzhang1016 commented on #46482
@luxas @mdshuai
Below is the apiservice yaml file:
[code]

[2017-06-01 08:50] rhcarvalho commented on #29271
@kubernetes/sig-cli-misc

[2017-06-01 08:52] gjoris commented on #45827
Any progress or workaround for this? Bumped into this too ...

[2017-06-01 08:53] lukaszo commented on #37566
/sig sig-apps

[2017-06-01 08:53] #41379 closed

[2017-06-01 08:56] chrismcv commented on #45827
Not really... I'm currently using a Ubuntu VM and sharing an NFS folder out from it, and then rsync-ing to AzureFiles mounted in the same VM. Pretty rubbish workaround. (You can't share the AzureFiles out over NFS directly.) I've a ticket open with Microsoft, but I don't think they've tried to reproduce it themselves yet, as the questions I've received imply they still don't quite believe me.

[2017-06-01 09:26] yadzhang commented on #44214
I have met the same problem. I have a configmap named specail-config, which have 3 configamp items : HELLO, game-config, yad-asa.
And I mount configmap items to pod like this:
[code]
VolumeMounts like this:
[code]

Warningreport like this：
`
MountVolume.SetUp failed for volume "kubernetes.io/configmap/06aa9c83-467b-11e7-8b07-54899875df6a-configmap-volume-0" (spec.Name: "configmap-volume-0") pod "0

[2017-06-01 09:30] crassirostris commented on #46720
@st4nson Sorry, I forgot to build the newer image and this one was pushed some time ago by mistake. Done:

[code]

[2017-06-01 09:30] #46720 closed

[2017-06-01 09:32] fabiand commented on #46351
Right. Even if TPRs are not suited, it would still be good if the K8s API provides the required storage backend for UAS. As said initially, to me this would be very valuable, as we can rely on K8s for storage, and don't need to maintain our own datastore.

[2017-06-01 09:35] fabiand commented on #46351
Could you explain this sentence actually a little?

[2017-06-01 09:36] crassirostris opened #46763 "Consolidate pod-nannies"
Follow-up of https://github.com/kubernetes/kubernetes/pull/46700#discussion_r119539877

There are a lot of pod-nannies in the cluster already, each of them consuming non-zero amount of resources (90+MB of memory, 50+m cpu). It would be much more preferable to have only one nanny which can be configured to scale multiple pods.

Maybe this should be a separate controller? With an API representation?

[2017-06-01 09:46] jobz opened #46766 "Kubernetes Master node High Availability."
We have a Kubernetes multi master  setup with 3 master nodes and 5 worker.
We have used HA Proxy for load balancing and high availability . But due to single point of failure on the side of HA Proxy we are trying for a new approach.

We tried the following methods:-
 1. Giving multiple ip address of al the API servers against the --master parameter in in kube-controller-manger, kube-scheduler,kube

[2017-06-01 09:47] k82cn commented on #42002
Summary the options in my mind to place DaemonSet's Pod by scheduler:

1. DaemonSet start Pod with annotation (e.g. kubernetes.io/config.spread), add a new predicates in scheduler: for spread pod, return false if an existing pod with the same owner
1. DaemonSet start Pod and set `spec.NodeName`, but did not involve scheduler; leverage kubelet to check. For kubelet, if it's DaemonSet's Pod, did not

[2017-06-01 09:53] st4nson commented on #46720
@crassirostris thanks for fast response!

[2017-06-01 09:54] techtonik commented on #23236
I would stuff SCons directly into repo https://godot.readthedocs.io/en/stable/development/compiling/introduction_to_the_buildsystem.html

[2017-06-01 09:56] shiywang commented on #46691
met same problem

[2017-06-01 10:01] yastij commented on #46766
/kind support

[2017-06-01 10:06] xiangpengzhao commented on #46766
/sig cluster-ops
/kind support

[2017-06-01 10:08] xiangpengzhao commented on #46766
sorry, didn't notice @yastij already labeled `kind/support` when I wrote comment:)

[2017-06-01 10:12] tuminoid opened #46767 "kube-apiserver 1.6.1 bring up relies on localhost not resolving via dns"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
localhost, kube-apiserver

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configurat

[2017-06-01 10:14] reachlin opened #46768 "configmap as volume doesn't work"
I created a configmap for a pod's volume, but it's empty:
[code]

the configmap create cmd:
[code]

the pod manifest:
[code]

[2017-06-01 10:15] tuminoid commented on #46767
Assuming @kubernetes/sig-api-machinery-misc

[2017-06-01 10:18] reachlin commented on #46768
fyi, configmap contents:
[code]

[2017-06-01 10:20] scippio commented on #24957
any news? :thinking:

[2017-06-01 10:24] qiujian16 commented on #46611
@yasassri are you able to access pod by pod ip instead of service IP? are all your hosts in the same subnet? you may need to enable ipip in calico if the hosts are not in the same subnet.

[2017-06-01 11:03] wojtek-t opened #46769 "ResourceConsumer panic"
Coming from here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/163

[code]

@piosz @crassirostris @mwielgus @kubernetes/sig-autoscaling-bugs

[2017-06-01 11:04] n-marton opened #46770 "RBAC missing permission for persistent-volume-binder"
**Is this a request for help?** : No

**What keywords did you search in Kubernetes issues before filing this one?** : PVC, Openstack, RBAC

---

**Is this a BUG REPORT or FEATURE REQUEST?** : BUG REPORT

**Kubernetes version** (use `kubectl version`):

`Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean"

[2017-06-01 11:15] n-marton commented on #46770
/sig auth

[2017-06-01 11:32] raffaelespazzoli commented on #41792
/sig storage

[2017-06-01 11:33] raffaelespazzoli commented on #41792
@kubernetes/sig-storage-misc

[2017-06-01 11:33] raffaelespazzoli commented on #41193
/sig apps

[2017-06-01 11:34] raffaelespazzoli commented on #41193
@kubernetes/sig-apps-misc

[2017-06-01 11:34] raffaelespazzoli commented on #41193
@kubernetes/sig-apps

[2017-06-01 11:53] deads2k commented on #46702
No strong feeling if @caesarxuchao agrees, but decide now-ish. :)

[2017-06-01 11:58] jjfiguep opened #46774 "Error pulling images from external registry when the user changes"
**What keywords did you search in Kubernetes issues before filing this one?**
docker login private registry

**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPORT

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:"2016-12-12T21:10:52Z", GoVersion:"go1.6.2", Compile

[2017-06-01 12:04] jjfiguep commented on #46774
@kubernetes/sig-auth-misc

[2017-06-01 12:07] bboreham commented on #23920
FYI CNI PR is merged

[2017-06-01 12:12] clearbjli commented on #39600
Closing this issue as it is no longer relevant.

[2017-06-01 12:12] #39600 closed

[2017-06-01 12:26] deads2k commented on #46351
I absolutely agree, I just want to be sure that everyone understands the shortcomings of CRDs for this application.

[2017-06-01 12:29] deads2k commented on #46351
In order to create a storage API, the API doesn't end up looking like a kube-like API because of differences in introspection (cannot introspect storage), validation (cannot validate storage), update limitations (no update restrictions in storage), and delete semantics (delete always deletes).

In addition, you probably want the API to appear more like an etcd API.  I would actually consider somet

[2017-06-01 12:30] deads2k commented on #43716
@cheftako do you have a pull for this?

[2017-06-01 12:33] wojtek-t opened #46776 "Failed pods with restart policy=Never should not be in the Endpoints.NotReadyAddresses"
If you create a job in which pods are crashing and a service spawning those pods, this may result in generating extremely huge Endpoints object (which will cause different performance issues).
[Based on situation from one of our customers cluster].

After 30m from creating the objects below in my 3 node-cluster I have an endpoint which has almost 1MB of size:
[code]

Example objects which are enou

[2017-06-01 12:35] jcantrill commented on #28847
@kubernetes/sig-apps-misc

[2017-06-01 12:37] wojtek-t commented on #46776
@bowei @thockin - I think that we want to have "failed pods" that have "restart policy" "Always" to be part of "NotReadyAddresses".

But do we want to keep pod that are in Failed state and have restart policy "Never"? I think it doesn't make sense.
And this would be a quick and easy fix to this particular problem...

[2017-06-01 12:43] bboreham commented on #46508
@MikeSpreitzer it flourishes pretty well 🙂 But there are three independent settings at present, so let me take them one by one:

Weave Net has a CIDR: it allocates IP addresses to pods within that range, and it creates a route for that CIDR inside each pod (the whole Weave network is one hop at L3).  As far as I can think, BYOIP would replace the first but not the second - we need to know how to r

[2017-06-01 12:50] kevinkirkup commented on #34108
@kubernetes/sig-cli-misc

[2017-06-01 12:59] mzuccala commented on #42164
Same here, kubernetes 1.6.2 on AWS - base distro is Debian Jessie.
Need to manually terminate each node and wait for the ASG to spawn new ones.

[2017-06-01 13:02] paolomainardi commented on #42164
What I found lately to mitigate this problem, has been to configure better
the resource requests in order to avoid resource starvation on the nodes,
but sometimes (now very rarely) it happens again.

Il giorno gio 1 giu 2017 alle 15:00 Michele Zuccala <
notifications@github.com> ha scritto:

--
*SPARKFABRIK*

*Paolo Mainardi*
CTO & Founder

tel: +39-340-1678089
skype: paolo_mainardi

http://www.sp

[2017-06-01 13:14] smarterclayton commented on #46351
And before we clone the etcd API we need to have a larger discussion
about how this fits into the arc.  Aggregated API servers should be
easy, but don't have to be as easy as crd.

[2017-06-01 13:16] soltysh commented on #41039
I'm sorry, but I wasn't able to finish it on time for 1.7 😢 This means at soonest it'll be part of 1.8.

[2017-06-01 13:18] trenton42 commented on #41039
Looking forward to 1.8! Thanks for your work on this @soltysh

[2017-06-01 13:21] jacekn opened #46778 "Allow --runtime-config to be set using juju charms"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): juju

---

**Is this a BUG REPORT or FEATURE REQUEST

[2017-06-01 13:24] #45628 closed

[2017-06-01 13:27] k82cn commented on #45628
/open

[2017-06-01 13:36] jacekn opened #46781 "juju charms should allow OpenStack volumes configuration"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): juju

---

**Is this a BUG REPORT or FEATURE REQUEST

[2017-06-01 13:37] deads2k commented on #46482
Hitting `https://10.0.0.97/apis/metrics/v1alpha1/namespaces/default/pods?labelSelector=run%3Dhello-hpa-memory` suggests that you're hitting the heapster apiserver directly instead of going through the main api server.  Can you try getting `kubectl get pods.metrics` through the `kube-apiserver` instead of directly accessing it?

[2017-06-01 13:47] fabiand commented on #46351
Right - I feared we were not on the same side, but now it looks like we are.

[2017-06-01 13:57] gmarek commented on #39730
@kubernetes/sig-api-machinery-misc

[2017-06-01 14:02] chandanmad commented on #45147
@luxas what are the next steps?

[2017-06-01 14:18] astraverkhau commented on #33483
Same requirement here.

[2017-06-01 14:33] xiangpengzhao commented on #25868
As per https://github.com/kubernetes/kubernetes/pull/26660#issuecomment-246071284 from @dchen1107, we can close this.

@thockin

[2017-06-01 14:35] mikebrow commented on #23702
This issue should be closed.

[2017-06-01 14:37] mikebrow commented on #28695
@kubernetes/sig-node

[2017-06-01 14:41] mikebrow commented on #28695
/sig node

[2017-06-01 14:46] markfejes commented on #37801
A huge plus one for this. It would be very-very helpful if we could specify what fs do we want to use when creating volume claim template for a stateful set.
@kubernetes/sig-storage-proposals

[2017-06-01 14:52] chuckbutler commented on #46781
@jacekn help me scope this. Is this bug stating that its impossible or it's just a manual process?

[2017-06-01 14:52] sttts commented on #39730
This does not only apply to Get. Working on a (pretty simple) PR.

[2017-06-01 14:58] akostadinov commented on #44538
Thanks a lot, @janetkuo ! It is for testing purposes. Also can be useful in scripts to find out orphaned replica sets.

[2017-06-01 15:18] #46691 closed

[2017-06-01 15:40] jayunit100 commented on #27796
Hi! I want to sign my organization up as a kubernetes contributor - however my current github account is tied to my previous org.  How do I (1) detach my CLA and (2) create a new CLA for an organization that previously has not commited to kubernetes ?   Thanks !

[2017-06-01 15:42] ncdc commented on #45939
@ash2k could you expand a bit on your use case please?

[2017-06-01 15:46] eparis commented on #27796
I just kicked you out of the RH CLA. I'm not sure how that could have been done self service.

[2017-06-01 15:49] jayunit100 commented on #27796
thanks eric :) i guess were half way there .

[2017-06-01 15:51] plwhite commented on #37218
Probably appropriate for @kubernetes/sig-node-misc or @kubernetes/sig-instrumentation-misc.

[2017-06-01 16:03] samiaben88 commented on #45613
Hi
I'm facing this error, I'm using ansible to deploy kubernetes, so it brings the version: 1.5.2 , is their a way to resolve this issue ?
Thanks.

[2017-06-01 16:11] jdconley commented on #24745
@mofirouz @zoidbergwill does GCE always terminate the connection after the `timeoutSec` even if data is flowing over it?

[2017-06-01 16:12] #40373 closed

[2017-06-01 16:18] mofirouz commented on #24745
@jdconley Sadly from the looks of things, yes. We have a custom heartbeat message following through the pipe every 8 secs, but the disconnection still happens.

[2017-06-01 16:29] wongma7 commented on #45613
@samiaben88 this specific bug was introduced with 1.6.3 and fixed with 1.6.4. Please open a separate issue with more details about your issue

[2017-06-01 16:32] caseydavenport commented on #28969
/sig network

[2017-06-01 16:41] DirectXMan12 commented on #46482
(NB: kubectl *might* not work properly here, but the same principle should apply with curling the main server).

[2017-06-01 16:44] smarterclayton commented on #1451
I think this can be closed and we can open something new to track.

[2017-06-01 16:44] #1451 closed

[2017-06-01 16:45] smarterclayton commented on #1459
A version of this has been implemented in #40848 - clients can request only object metadata.  Future enhancements will allow alternate schemas to be returned.  The only consumer today is GC.  Closing.

[2017-06-01 16:45] #1459 closed

[2017-06-01 16:46] smarterclayton commented on #1685
Part of kubernetes/community#443

[2017-06-01 16:47] mikedanese commented on #39819
This is tracked in bazelbuild/rules_go#252

[2017-06-01 16:47] #39819 closed

[2017-06-01 16:47] yujuhong commented on #46370
I didn't find any existing issue for the failures I saw, so I filed this broad issue as a catch all. In no way I was trying to indicate this was the only flaky suite :)

FYI, the bot created #46740 for the unit test failures, but most if not all the failures listed there were already addressed in separate issues.

[2017-06-01 16:47] mikedanese commented on #40562
This is tracked in bazelbuild/rules_go#252

[2017-06-01 16:47] #40562 closed

[2017-06-01 16:48] smarterclayton commented on #2306
The majority of the refactors have been executed in 1.6, although more work in documentation is certainly helpful.  We actually have clean separation of core packages, layering, and stronger control on what goes where.

[2017-06-01 16:49] smarterclayton commented on #2457
Since we have no concrete use case or plan to implement cluster wide constraints, keeping this open seems unnecessary.  Controllers, initializers, and admission control all provide ways of enforcing global checks.

[2017-06-01 16:49] #2457 closed

[2017-06-01 16:49] smarterclayton commented on #3125
I think sig-scalability has already taken steps towards this, correct?

[2017-06-01 16:50] smarterclayton commented on #3201
1.7 will deliver the first phase of initializers and external admission control.  1.6 delivered the aggregation api (and 1.7 moved it to beta).  TPR will move to beta as CRD in 1.7.  I think this can be marked as complete for the original intent, and we'll continue to iterate on those features without this.

[2017-06-01 16:50] #3201 closed

[2017-06-01 16:51] smarterclayton commented on #3295
I think we should close this - no one has asked for it in a while, and it's just not high enough on the priority list.

[2017-06-01 16:51] #3295 closed

[2017-06-01 16:52] justinsb commented on #46370
Cool, yeah sorry for over-reacting!  I was helping with other tests that the test-infra had identified as higher priority (e.g. GCE multizone), so it came as a bit of a surprise that "my" house was not in order!

I am working to track down the issues where kops fails to come up in the timeout.  Finding & fixing lots of stuff, but no smoking gun yet!

[2017-06-01 16:52] smarterclayton commented on #3329
This is highly theoretical and in practice isn't an urgent issue.  Please re-open if you disagree.

[2017-06-01 16:52] #3329 closed

[2017-06-01 16:53] smarterclayton commented on #3714
The first part of this is there (we report parameters to swagger).  The validation part is trickier.

[2017-06-01 16:54] smarterclayton commented on #3914
This is horribly out of date.  While there is some ugliness in conversion, the gradual use of versioned clients has made this of an issue people have to worry about.

[2017-06-01 16:54] #3914 closed

[2017-06-01 16:54] smarterclayton commented on #3955
This was mostly completed in 1.6.  Some specific commands still use internal version.

[2017-06-01 16:55] smarterclayton commented on #4005
Closing due to age, reopen if this is re-creatable.

[2017-06-01 16:55] #4005 closed

[2017-06-01 16:56] smarterclayton commented on #4036
This was fixed in 1.4ish timeframe.

[2017-06-01 16:56] #4036 closed

[2017-06-01 16:56] smarterclayton commented on #4079
Pretty sure we fixed this in 1.2.

[2017-06-01 16:56] #4079 closed

[2017-06-01 16:57] falenn commented on #3295
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (151/150 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 16:57] falenn commented on #46370
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (155/150 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 16:57] falenn commented on #3329
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (158/150 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 16:58] smarterclayton commented on #4210
Going to close this due to age and a general unwillingness (:)) to grow this particular API more.  I think Helm, Templates, or other higher level tools can take on more of the burden now.  I think experimentation could be done via a swagger schema link on a config map annotation?

[2017-06-01 16:58] #4210 closed

[2017-06-01 16:59] smarterclayton commented on #4464
Closing due to age, reopen if this is re-creatable.

[2017-06-01 16:59] #4464 closed

[2017-06-01 16:59] falenn commented on #3714
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (162/150 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 16:59] smarterclayton commented on #4476
We improved termination messages a bit, and in general have no plans to implement this directly in the near term.

[2017-06-01 16:59] #4476 closed

[2017-06-01 17:00] falenn commented on #3914
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (168/150 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:00] smarterclayton commented on #4557
This could be a TODO in the code.  I don't think anyone is going to fix this anytime soon.

[2017-06-01 17:00] #4557 closed

[2017-06-01 17:01] falenn commented on #4005
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (174/150 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:01] falenn commented on #4005
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (175/150 (116%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:01] thomaso-mirodin commented on #28519
@kubernetes/sig-aws-misc should this be categorized as an AWS issue or a sig-cluster-* issue?

[2017-06-01 17:01] falenn commented on #4036
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (176/150 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:01] smarterclayton commented on #4651
We may want validation in the future, but in practice object references are sparsely and loosely used (most common is in events).  Closing due to age and general lack of strong interest in doing anything more here in the near term.

[2017-06-01 17:01] #4651 closed

[2017-06-01 17:01] smarterclayton commented on #4736
Closing due to age, reopen if this is desirable.

[2017-06-01 17:01] #4736 closed

[2017-06-01 17:02] smarterclayton commented on #4763
Closing due to age, generally this has been solved by newer doc generation tools.

[2017-06-01 17:02] #4763 closed

[2017-06-01 17:03] falenn commented on #4079
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (181/150 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:04] smarterclayton commented on #4851
1.6 mostly completed the separation of these into better defined packages.

[2017-06-01 17:04] #4851 closed

[2017-06-01 17:04] falenn commented on #4464
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (186/150 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:05] smarterclayton commented on #4894
Validation tests aren't in terrible shape.  It could be better, but so could lots of things.  Re-open if you disagree.

[2017-06-01 17:05] #4894 closed

[2017-06-01 17:07] smarterclayton commented on #3412
This was completed a long time ago and is now published in client-go.

[2017-06-01 17:07] #3412 closed

[2017-06-01 17:08] smarterclayton commented on #3585
This is effectively part of 1.7, future work there will improve it.  Closing as part of 1.7 (see kubernetes/community#132)

[2017-06-01 17:08] #3585 closed

[2017-06-01 17:09] smarterclayton commented on #3394
Closing due to age, reopen if this is still a significant issue (many examples are now located in Helm, for example).

[2017-06-01 17:09] #3394 closed

[2017-06-01 17:10] smarterclayton commented on #5130
Dupe of #1685

[2017-06-01 17:10] #5130 closed

[2017-06-01 17:11] smarterclayton commented on #5136
This was fixed a while ago, we have e2e tests for it now.

[2017-06-01 17:11] #5136 closed

[2017-06-01 17:12] smarterclayton commented on #5295
We have metrics for this.  A common failure mode of large clusters is to have one component start writing more and bring down the cluster.  So we probably still want to have a way to rate limit writes by client out of a global pool.

[2017-06-01 17:13] smarterclayton commented on #5551
Closing due to age and general lack of movement, reopen if you have something more concrete.

[2017-06-01 17:13] #5551 closed

[2017-06-01 17:13] smarterclayton commented on #5652
We fixed this.

[2017-06-01 17:13] #5652 closed

[2017-06-01 17:14] smarterclayton commented on #5660
Yes.

[2017-06-01 17:14] #5660 closed

[2017-06-01 17:14] smarterclayton commented on #5672
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:14] #5672 closed

[2017-06-01 17:15] smarterclayton commented on #5897
Closing due to age and extreme lack of interest in fixing.

[2017-06-01 17:15] #5897 closed

[2017-06-01 17:16] smarterclayton commented on #5953
Most of this has been addressed as part of ongoing scale tests.  Closing because we have a more comprehensive process in place.

[2017-06-01 17:16] #5953 closed

[2017-06-01 17:16] smarterclayton commented on #5955
Someone can tilt at this windmill in the future.

[2017-06-01 17:16] #5955 closed

[2017-06-01 17:17] smarterclayton commented on #6013
We decided that we would *not* use duration because the encoding isn't stable.  Closing this and we can reopen the discussion on the next time API field.

[2017-06-01 17:17] #6013 closed

[2017-06-01 17:17] smarterclayton commented on #6055
We have no plans to do this in the near term, and if we do use transactions it would be extremely judiciously.

[2017-06-01 17:17] #6055 closed

[2017-06-01 17:18] smarterclayton commented on #6716
Moving to the right sig.

[2017-06-01 17:18] smarterclayton commented on #6904
I think it's unlikely we will ever adding anything like this, given our current direction.  Closing as the remit of higher level tools.

[2017-06-01 17:18] #6904 closed

[2017-06-01 17:19] smarterclayton commented on #7104
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:19] #7104 closed

[2017-06-01 17:20] smarterclayton commented on #7111
I still want to do smart objects.  But API server perf is not gating right now, so on the back burner.

[2017-06-01 17:20] smarterclayton commented on #7127
Closing due to age, reopen if this is important.

[2017-06-01 17:20] #7127 closed

[2017-06-01 17:21] smarterclayton commented on #7452
We can actually just move to web sockets in the near term.  The server has supported it for a while and HOL blocking is not an issue

[2017-06-01 17:22] DirectXMan12 commented on #46769
Have you seen this more than once?  The code along the stack trace isn't particularly illuminating, at a glance?

[2017-06-01 17:22] msau42 commented on #37801
I think when we add raw block support, we should have a `fsType` field in the PVC that only works on block PVs.  @erinboyd

[2017-06-01 17:22] smarterclayton commented on #7584
This has mostly been resolved by refactorings in 1.6.  We have a cleaner versioned / internal separation.  Closing unless there's something important I missed.

[2017-06-01 17:22] #7584 closed

[2017-06-01 17:24] #6703 closed

[2017-06-01 17:25] smarterclayton commented on #7670
Dupe of #1468

[2017-06-01 17:25] #7670 closed

[2017-06-01 17:25] smarterclayton commented on #3361
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:25] #3361 closed

[2017-06-01 17:25] nicksardo commented on #33483
/sig network
/area platform/gce
/kind feature
/remove-area kube-ctl

[2017-06-01 17:26] #17504 closed

[2017-06-01 17:26] smarterclayton commented on #3562
@kubernetes/sig-api-machinery-misc we should try to get this documented before 1.7 is out as the release team requested.

[2017-06-01 17:26] nicksardo commented on #33483
/remove-area kubectl

[2017-06-01 17:26] smarterclayton commented on #6210
Fixed!

[2017-06-01 17:26] #6210 closed

[2017-06-01 17:27] smarterclayton commented on #6167
Since we've improved this and the umbrella issue references it, closing.

[2017-06-01 17:27] #6167 closed

[2017-06-01 17:27] smarterclayton commented on #6227
We have metrics for this now - have used them.  We also terminate more effectively.  I think the spirit of this is implemented - reopen if not.

[2017-06-01 17:27] #6227 closed

[2017-06-01 17:28] smarterclayton commented on #6280
Dupe of both #3692 and the wait command.

[2017-06-01 17:28] #6280 closed

[2017-06-01 17:29] smarterclayton commented on #6371
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:29] #6371 closed

[2017-06-01 17:29] smarterclayton commented on #6363
Closing due to age.

[2017-06-01 17:29] #6363 closed

[2017-06-01 17:30] smarterclayton commented on #7997
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:30] #7997 closed

[2017-06-01 17:31] smarterclayton commented on #8285
Closing due to age and general lack of interest, reopen if this is important (and probably should be cluster lifecycle doing the leading here).

[2017-06-01 17:31] #8285 closed

[2017-06-01 17:32] smarterclayton commented on #8311
Was implemented before 1.7

[2017-06-01 17:32] #8311 closed

[2017-06-01 17:33] smarterclayton commented on #8528
Closing due to age and generally better doc around client-go.  Reopen if this is more specific.

[2017-06-01 17:33] #8528 closed

[2017-06-01 17:34] smarterclayton commented on #8625
We really have no plans to do this in the near term.  It's in the back of peoples' minds, but PATCH generally makes this more palatable, and edit and other "smart" UIs can mitigate the impact.

[2017-06-01 17:34] #8625 closed

[2017-06-01 17:34] smarterclayton commented on #8668
It's better, but still ugly.  But not terrible.

[2017-06-01 17:34] #8668 closed

[2017-06-01 17:35] smarterclayton commented on #8723
For now quota handles this pretty effectively.

[2017-06-01 17:35] smarterclayton commented on #8790
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:35] #8790 closed

[2017-06-01 17:36] smarterclayton commented on #8817
Reassigning to another sig.

[2017-06-01 17:36] smarterclayton commented on #8838
We improved this a while back I think.  Re-open if still an issue.

[2017-06-01 17:36] #8838 closed

[2017-06-01 17:36] smarterclayton commented on #8869
Closing due to age and general lack of need.

[2017-06-01 17:36] #8869 closed

[2017-06-01 17:37] smarterclayton commented on #8991
Closing due to age and general lack of interest, reopen if passionate.

[2017-06-01 17:37] #8991 closed

[2017-06-01 17:38] smarterclayton commented on #9998
Dupe of #8550

[2017-06-01 17:38] #9998 closed

[2017-06-01 17:39] smarterclayton commented on #10043
We should mark this deprecated.

[2017-06-01 17:39] smarterclayton commented on #10124
Closing due to age, reopen if this is important.

[2017-06-01 17:39] #10124 closed

[2017-06-01 17:40] smarterclayton commented on #10177
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:40] #10177 closed

[2017-06-01 17:40] smarterclayton commented on #10179
This is fairly important.  People keep accidentally deleting everything in their default namespace.

[2017-06-01 17:41] smarterclayton commented on #10298
Closing due to age, reopen if this is important.  Probably not worth the effort, and people want to run apiserver as non root.

[2017-06-01 17:41] #10298 closed

[2017-06-01 17:41] smarterclayton commented on #10325
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:41] #10325 closed

[2017-06-01 17:42] smarterclayton commented on #10351
We have no plans to encourage basic auth to the apiservers.  Closing due to age and lack of interest.

[2017-06-01 17:42] #10351 closed

[2017-06-01 17:42] emsearcy commented on #27796
After you have been removed from the organization you can create a new organization at  https://identity.linuxfoundation.org/node/285/organization-signup

[2017-06-01 17:43] smarterclayton commented on #10385
I think this was fixed recently in better refactors of the code.

[2017-06-01 17:43] #10385 closed

[2017-06-01 17:43] smarterclayton commented on #10436
Moving to sig scalability.

[2017-06-01 17:43] smarterclayton commented on #10470
We muted many of these.

[2017-06-01 17:43] #10470 closed

[2017-06-01 17:44] smarterclayton commented on #10521
I need to add a linter for this.

[2017-06-01 17:44] smarterclayton commented on #10565
Fairly certain I fixed this.

[2017-06-01 17:44] #10565 closed

[2017-06-01 17:44] smarterclayton commented on #10834
Assigning to @verb

[2017-06-01 17:45] #11261 closed

[2017-06-01 17:45] falenn commented on #10124
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (153/150 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:45] #11275 closed

[2017-06-01 17:45] falenn commented on #10043
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (155/150 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:45] falenn commented on #10177
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (157/150 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:45] falenn commented on #10179
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (156/150 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:46] smarterclayton commented on #13794
We squashed this recently.

[2017-06-01 17:46] #13794 closed

[2017-06-01 17:46] falenn commented on #10298
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (161/150 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:46] falenn commented on #10298
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (160/150 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:47] #23439 closed

[2017-06-01 17:48] smarterclayton commented on #9026
Closing due to age, reopen if this is important.  We're mostly on informers.

[2017-06-01 17:48] #9026 closed

[2017-06-01 17:48] falenn commented on #10351
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (167/150 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:48] falenn commented on #27796
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (168/150 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:48] falenn commented on #8817
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (170/150 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:48] falenn commented on #8668
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (172/150 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:48] falenn commented on #10351
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (171/150 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:48] danwinship opened #46788 ""kubectl get networkpolicies", etc, return new apiVersion instead of old"
In #39164 @liggitt said:

Although #46322 is about a single API group with two versions, as opposed to a resource type with versions in two different API groups like here, so that might be something different. (networking's VersionPreferenceOrder only has a single element.)

I don't know how big a deal this is... @liggitt?

@thockin FYI, forgot to file this with the other to-do bugs before

[2017-06-01 17:48] dashpole opened #46789 "Eviction: Calculate disk space reclaimed during container garbage collection"
#45896 added container garbage collection when under disk pressure.
Currently, we do not know how much disk space is reclaimed by deleting containers, and thus may still evict pods even if container garbage collection was successful.

cc @vishh

[2017-06-01 17:48] falenn commented on #10385
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (176/150 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:48] danwinship commented on #46788
/sig network

[2017-06-01 17:49] smarterclayton commented on #9083
Moving to @kubernetes/sig-storage-misc

[2017-06-01 17:49] falenn commented on #10470
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (179/150 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:49] falenn commented on #10470
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (180/150 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:49] smarterclayton commented on #9097
This was done by many people.

[2017-06-01 17:49] #9097 closed

[2017-06-01 17:49] falenn commented on #10521
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (181/150 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:49] falenn commented on #10565
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (184/150 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:49] falenn commented on #8991
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (186/150 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-06-01 17:50] smarterclayton commented on #9407
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:50] #9407 closed

[2017-06-01 17:50] smarterclayton commented on #9450
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:50] #9450 closed

[2017-06-01 17:50] smarterclayton commented on #9510
This is something you can opt in to in some clients.

[2017-06-01 17:50] #9510 closed

[2017-06-01 17:51] smarterclayton commented on #9946
Closing due to age, reopen if this is important.  I improved some of this.

[2017-06-01 17:51] #9946 closed