[2022-05-24 14:18] sanposhiho commented on #110175
Hm, it may be a problem that events related to Node and Pod are not always called when an event occurs. (Even if it's intended behavior, at least we need to write this on the comment of `EventsToRegister`.)

/retitle scheduler: events in `EventsToRegister` related to Pod and Node don't always work

[2022-05-24 14:19] jemc commented on #83242
/remove-lifecycle stale

[2022-05-24 14:50] Maria-Milusheva opened #110195 "Kubernetes sending traffic to draining nodes"
### What happened?

We have a HorizontalPodAutoscaler configured on all of our fleet. The issue arises when we are scaling down, a node is being drained and a pod on that node is part of the `FC` service. We get around ten exceptions each time, Sentry reporting `AbortedException`s in FC and `CompletionException`s with "Socket timed out" in the `OS` service, which calls `FC`.

The timeline each tim

[2022-05-24 14:54] Maria-Milusheva commented on #110195
/sig node

[2022-05-24 14:55] Maria-Milusheva commented on #110195
/sig autoscaling

[2022-05-24 15:18] MaciekPytel commented on #110186
I'm +1 and based on the discussion on last sig-autoscaling meeting the idea has a wide support in the sig-autoscaling. One question: shouldn't we also cover [SchedulerBasedPredicateChecker](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/scheduler_based_predicates_checker.go#L36)?

[2022-05-24 15:40] glhl86 commented on #109904
/assign

[2022-05-24 16:00] liggitt commented on #105186
you mean if the OS is explicitly set to linux?

[2022-05-24 16:13] mimowo commented on #109904
/assign

[2022-05-24 16:13] kidddddddddddddddddddddd commented on #109962
Maybe also some in:
[utils_test.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/util/utils_test.go)
[binder_test.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/volumebinding/binder_test.go)
[scheduler.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go)
[binder.go](https://github.com/kubernetes/kuberne

[2022-05-24 16:29] jsturtevant commented on #98499
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1529043803770458112

[2022-05-24 17:59] sftim commented on #110195
Do you have [graceful node shutdown](https://kubernetes.io/docs/concepts/architecture/nodes/#graceful-node-shutdown) handling enabled for this group of nodes?

[2022-05-24 18:21] bridgetkromhout commented on #81677
Related: https://github.com/kubernetes/enhancements/issues/2593

[2022-05-24 20:12] leilajal commented on #110139
/triage accepted

[2022-05-24 20:13] leilajal commented on #110146
/help
/triage accepted

[2022-05-24 20:13] leilajal commented on #110160
/triage accepted

[2022-05-24 20:14] leilajal commented on #110169
/triage accepted

[2022-05-24 20:14] leilajal commented on #110188
/cc @kevindelgado
/triage accepted

[2022-05-24 20:15] leilajal commented on #110188
/cc @lavalamp @wojtek-t @stevekuznetsov

[2022-05-24 20:17] #110188 closed

[2022-05-24 23:39] astoycos commented on #107372
/remove-lifecycle stale this is still a WIP

[2022-05-24 23:39] astoycos commented on #107372
/remove-lifecycle stale

I'm still working on this

[2022-05-25 00:29] thockin commented on #103860
The tech debt here is that we almost never add "modern" support to
userspace - traffic policy, endpoint slices, etc.  It's effectively
abandoned.

On Fri, May 20, 2022 at 10:57 AM Benjamin Elder
***@***.***> wrote:

[2022-05-25 01:41] zcerhub commented on #110171
exactly,the k8s lost the infomation of terminating

[2022-05-25 03:07] vikash32 commented on #110189
/sig cloud-provider

[2022-05-25 04:52] rkojedzinszky commented on #106957
I can confirm this too, it seems that it happens with cgroups v2.

[2022-05-25 05:02] mimowo commented on #109904
I have reproduced the issue locally and intend work on the fix

[2022-05-25 05:49] ryuseongryong commented on #106957
@rkojedzinszky could you tell me how to be sure, please? I want to find clue.. with cgroups v2

[2022-05-25 05:58] VivekThrivikraman-est commented on #108065
The other issue is when traffic reaches before the rules are programmed(hence k8s had to clear the stale conntrack entries after rules are programmed). But in this case we have confirmed that the ipvs rules were programmed already and then the traffic reached.

[2022-05-25 06:00] VivekThrivikraman-est commented on #108065
An update on the issue, we had enabled the ipvs logs in the setup, and the issue seems to be related to ipvs.

[2022-05-25 06:19] andyzhangx commented on #80488
/remove-lifecycle stale
/reopen

[2022-05-25 06:21] andyzhangx commented on #80488
any update on this issue? Thanks.

[2022-05-25 06:33] glhl86 commented on #108806
/assign

[2022-05-25 06:53] Muyan0828 commented on #110163
/sig node

[2022-05-25 07:28] x13n commented on #110186
Good point, CA is not only implementing scheduler interfaces, but also calling them, I think it makes sense to extend the scope to include [SchedulerBasedPredicateChecker](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/scheduler_based_predicates_checker.go#L36) in a compile-time check.

[2022-05-25 08:23] pacoxu commented on #110177
You cannot connect the apiserver from the node. There are two network interfaces.
[code]
/sig network
Would you check the route and arp_filter setting?

[2022-05-25 08:31] wangxf1987 commented on #71704
steps:
systemctl daemon-reexec
systemctl restart docker
systemctl restart kubelet

it's may be the containerd-shim not exit, you can run
[code]

[2022-05-25 08:38] BSWANG opened #110208 "LoadBalancer&NodePort service cannot access after upgrade from 1.20 to 1.22"
### What happened?

LoadBalancer&NodePort service cannot access after upgrade from 1.20 to 1.22.
The `NodeName` field in `v1.endpointslice.endpoint` missed.
![image](https://user-images.githubusercontent.com/3598874/170217712-644f770c-bed6-412d-94fb-b2c2369fd303.png)

The convertion in apiserver emit the field `Topology` in `v1beta1.endpointslice` and not convert to field `NodeName` in `v1.endpoin

[2022-05-25 08:38] BSWANG commented on #110208
/sig network

[2022-05-25 08:51] wangxf1987 commented on #104341
steps:
1. systemctl daemon-reexec
2. systemctl restart docker
3. systemctl restart kubelet

[2022-05-25 08:52] wangxf1987 commented on #104341
steps:
1. systemctl daemon-reexec
2. systemctl restart docker
3. systemctl restart kubelet

[2022-05-25 08:55] wojtek-t opened #110210 "The current use of etcd Leases in Kubernetes violates the invariants needed for watch to function correctly"
We're currently (potentially) attaching the same etcd Lease to multiple objects based on the LeaseManager configuration:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager.go#L34

However, when the lease expires in etcd, all objects that are attached to that lease are actually deleted in a single transaction:
https://github.com/etcd-io

[2022-05-25 10:11] ardaguclu commented on #110097
`rollout history --revision` works the way similar to `describe` command as seen in here https://github.com/kubernetes/kubernetes/blob/548b3a784bf2d05a8cfbaf289ce257d7b71efab2/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/history.go#L154.

If `--output` flag is passed, it just prints the object https://github.com/kubernetes/kubernetes/blob/c4f8c57b43843abd13bae677b73c622e1c30b46f/staging/src/k

[2022-05-25 10:58] giuseppe commented on #108364
Unfortunately, I've not had time to look into this issue yet, and honestly it is not a very high-priority task on my TODO list.  I am not even sure how I should setup the environment to test it.

If anyone really cares about it, then a PR is welcome.  I'll be glad to quickly review it.

[2022-05-25 11:19] antoineozenne commented on #107446
/remove-lifecycle stale

[2022-05-25 11:58] endocrimes commented on #108364
Yeah... I started trying to look into potentially adding a CI job/configuration to cover non-systemd envs a while ago and didn't find any reasonably mainstream way of having a cgroupsv2 + no-systemd config.

[2022-05-25 12:58] dims commented on #34146
@reinvantveer this work would be led by sig-apimachinery, please talk to them on their slack channel and add this to their meeting agenda.

thanks,
dims

[2022-05-25 14:31] wangzihao05 opened #110216 "I met unexpectedamissionedError when I used BestEffort which is kubelet's topology policy"
### What happened?

The question is that I schedulered a pod that to a node. The node's topology policy is best-effort.The node has two numa nodes ,the information as follows

numa node1 memory:
capacity: 16000000000
available: 14000000000

numa node2 memory:
capacity: 16000000000
available: 14000000000

the pod information as follows:

memory: 15000000000

Then the pod's state is unexpectedamissi

[2022-05-25 14:44] A-Hilaly commented on #67250
/unassign

[2022-05-25 15:11] BobDu commented on #94966
Any updates?
I've been getting
Warning UpdateLoadBalancerFailed 14m (x115 over 116m)  service-controller (combined from similar events): Error updating load balancer with new hosts map[................:{}]: error creating load balancer listener: "DuplicateListener: A listener already exists on this port for this load balancer 'arn:aws:elasticloadbalancing:us-east-1:<account id>:loadbalancer/net/..

[2022-05-25 15:12] BobDu commented on #94966
/reopen

[2022-05-25 15:18] vincent5753 opened #110217 "Service account not working in none default namespace"
### What happened?

I had tested on version 1.23.5 and 1.23.6, when I had ClusterRoleBing to ServiceAccount in Default namespace, everything went fine.
But if I want to put my service into another namespace, the service inside the pod will get "resolve failed" message like this
[code]

### What did you expect to happen?

Works just like running in default namespace.

### How can we reproduce it (a

[2022-05-25 15:54] liyimeng commented on #108364
@giuseppe if you could kindly point me to the potentially areas, I would have a look into it. Would it be something in cadvisor?

[2022-05-25 15:57] sanposhiho commented on #110175
Of cource, It's not a serious problem only for custom plugins.
In-tree plugins like `InterPodAffinity` uses the Pod All events.
`InterPodAffinity`'s `EventsToRegister` wants to move unschedulable Pods (unscheduled by `InterPodAffinity`) to activeQ/backoffQ when a new Pod is created, but I guess that move will not happen by this issue... 🤔 💭

[2022-05-25 16:05] nckturner commented on #110136
/triage accepted

[2022-05-25 16:07] nckturner commented on #108923
/triage accepted

[2022-05-25 17:20] endocrimes commented on #109296
/assign

[2022-05-25 17:27] endocrimes commented on #109917
We should make hack/local-up-cluster error out if the runtime socket doesn't exist.

/triage accepted
/priority backlog

[2022-05-25 17:29] endocrimes commented on #109929
/cc @smarterclayton

[2022-05-25 17:34] soltysh commented on #108584
In your case the pod is still `Pending`, and details from status further explain it cannot be scheduled so the fact that node and IP are `<none>` is perfectly reasonable and expected output.
/close

[2022-05-25 17:34] endocrimes commented on #109965
@nagpalnitin0110 Kubernetes 1.20 is out of support and a lot of pod lifecycle changes have happened in the meantime - Can you see if this is reproducible after updating to 1.24?

thanks!

/triage needs-information

[2022-05-25 17:34] #108584 closed

[2022-05-25 17:35] endocrimes commented on #109996
/assign @swatisehgal

[2022-05-25 17:37] endocrimes commented on #110036
/assign

[2022-05-25 17:39] #106617 closed

[2022-05-25 17:40] endocrimes commented on #109777
/assign

[2022-05-25 17:41] endocrimes commented on #109777
/cc @xmcqueen

[2022-05-25 17:44] endocrimes commented on #110070
/assign

[2022-05-25 17:46] endocrimes commented on #110195
/cc @bobbypage

[2022-05-25 17:48] endocrimes commented on #110181
I think this should probably be fixed in cri-dockerd rather than dockershim, it doesn't necessarily seem like something we wanna try opening fixes for on older release branches

[2022-05-25 17:49] endocrimes commented on #110181
/cc @bobbypage

[2022-05-25 17:50] endocrimes commented on #110084
/triage accepted
/priority important-soon

[2022-05-25 18:09] Congelli501 commented on #110177
Here are the arp_filter setting & routes:
[code]

The api server is accessible when it is UP, it just doesn't stay up for long.
[code]

And kubelet manage to talk to the api server as it tries to start the coredns pods (they are pending because of the lack of CNI, there definition is only found in etcd).

Same thing for `https://10.96.0.1:443` and `https://localhost:6443`:
[code]

[code]

[2022-05-25 18:48] #109994 closed

[2022-05-25 19:24] jeromeinsf commented on #104583
/remove-lifecycle stale

[2022-05-25 19:46] f18m commented on #84869
/remove-lifecycle stale

[2022-05-25 19:57] Manouchehri commented on #74779
@ddongchen Did you ever manage to improve the speed of pod deletion?

[2022-05-25 19:59] nckturner commented on #110136
Yes, it sounds like it could be optimized, but is it worth spending any effort on this?  The external cloud provider does not query the instance metadata service for node addresses, so if its not causing too much pain, the answer is probably to wait for upgrade.  Otherwise, fixing the 404 retry (or polling less frequently, depending where the code change is) could be easy stop-gap solutions.

[2022-05-25 23:23] Huang-Wei commented on #110186
I understand the intention to prevent CA's code to be broken, however, the "CA's change first" strategy doesn't sound that practical as (1) that would require k/k to vendor CA's code, and (2) the "preventive changes" in CA doesn't really get verified at runtime/compilation time as the upstream changes are not merged yet.

Given no matter what kind of changes go first, the scheduler framework chang

[2022-05-26 00:51] ddebroy commented on #109949
Similar concern around the newly proposed selinux-on-mount option as well: https://github.com/kubernetes/enhancements/pull/3172/files#r791327817

[2022-05-26 02:05] xmcqueen commented on #107063
@matthyx yes I see the DiskPressure come and go too.

I've traced the failure in a [job](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-containerd-eviction/1529428981432979456#1:build-log.txt%3A103121) where 2 of 3 passed.  In the fail case the `innocent-pod` really does get evicted due to the expected node condition.  I don't see any disorder in the sequence of eve

[2022-05-26 02:14] chymy commented on #110217
/triage accepted
/sig auth

[2022-05-26 02:23] kerthcet commented on #84869
Out-of-tree plugin https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/noderesourcetopology might be helpful to you?

[2022-05-26 02:30] chymy commented on #110217
To resolve a service across domain names, you need to add the namespace of the service as the suffix, otherwise it cannot be resolved. e.g.: `curl kubernetes.default`

[2022-05-26 02:30] chymy commented on #110217
/close

[2022-05-26 02:31] #110217 closed

[2022-05-26 02:59] BSWANG commented on #110208
https://stackoverflow.com/questions/70803653/kube-proxy-upgrade-from-1-21-to-1-22-insert-wrong-iptables-rule

[2022-05-26 03:10] Crazy-Kitty commented on #98094
i have the same issue.
conn.go:254] Error on socket receive: read tcp xxx.
any progress?

[2022-05-26 03:31] cbf123 commented on #84869
It's worth looking at, but the fact that it only works for nodes with the same NUMA topology is a bit of a limitation.

[2022-05-26 05:24] zhiyxu commented on #110036
Hi @endocrimes, I raised a pr for this issue, could you please give some comments?

[2022-05-26 05:56] malikdraz commented on #47862
Do we have any update on this?

[2022-05-26 07:06] tossmilestone commented on #109996
@wyhysj have you drained the node?

[2022-05-26 07:10] wyhysj commented on #109996
No, sometimes node got rebooted or power failure, and after restarting, kubelet should be up normally without any intervention.

[2022-05-26 07:31] FillZpp commented on #96218
It will be default when the `MaxUnavailableStatefulSet` featureGate become beta or GA.
cc @krmayankk

[2022-05-26 07:37] tossmilestone commented on #109986
[code]
The fail test will occur if the timeout channel triggered by `cancel()` is handled after the for loop ended, maybe add more iteration count or sleep time would avoid the fail test.

[2022-05-26 08:48] ialidzhikov commented on #10043
@Huang-Wei @ahg-g what is the progress with this issue? Is it a backlog item that is tracked by sig scheduling?

[2022-05-26 09:05] purplegrape opened #110224 "etcd image was too large"
### What would you like to be added?

Multiple binary version was found in the official etcd docker images

k8s.gcr.io/etcd        3.5.1-0             25f8c7f3da61c       294MB

sh-5.1# pwd
/usr/bin
sh-5.1# etcd
etcd            etcd-3.1.12     etcd-3.3.17     etcd-3.5.1      etcdctl-3.0.17  etcdctl-3.2.24  etcdctl-3.4.13
etcd-3.0.17     etcd-3.2.24     etcd-3.4.13     etcdctl         etcdctl-3.1.1

[2022-05-26 09:13] tossmilestone commented on #109996
@wyhysj you could drain node and remove `/var/lib/kubelet/memory_manager_state`, then reboot to create a fresh state file.    The issue should be fixed.

[2022-05-26 09:21] denstorti commented on #109285
Hi @ingvagabund, @sanposhiho

For logging purposes, I thought about using the `completedProfiles.Plugins` in
[`kubernetes/cmd/kube-scheduler/app/server.go`](https://github.com/kubernetes/kubernetes/blob/9ad41812e58c12dc9666b1172d276c46a70aa5c5/cmd/kube-scheduler/app/server.go#L350)
or `outputProfile.Plugins` around
https://github.com/kubernetes/kubernetes/blob/9ad41812e58c12dc9666b1172d276c46a70aa

[2022-05-26 09:29] itsmesuniljacob opened #110225 "GKE - Konnectivity agent Connection close issue"
### What happened?

Am running GKE cluster version 1.21.11-gke.1100. Every 5 minutes i get the below error:

`message: ""connection read failure" err="read tcp 10.68.0.7:42272->10.68.0.9:10250: use of closed network connection""`

This is from the `konnectivity-agent` deployment

### What did you expect to happen?

No errors related to proxy

### How can we reproduce it (as minimally and precisely

[2022-05-26 09:46] aojea commented on #110208
We need a few more details on the reproducer
[code]

Are you upgrading directly from 1.20 to 1.22? I don't know if there is something written about that but I don't remember that skipping versions are supported, we should double check it

Precisely, the migration of the topology field was done in 1.21 https://github.com/kubernetes/kubernetes/blob/20deba3dcd274b237d3199fde1d4bb187cc4ee9b/CHANGELOG/

[2022-05-26 09:47] wyhysj commented on #109996
I know that will resolve this issue, but seems by design we should avoid such human intervention, even I didn't drain the node, remove the `/var/lib/kubelet/memory_manager_state` and restart kubelet will resolve this issue.

If a node becomes NotReady for whatever reason, when it comes back, kubelet should start and correct the error memory state by itself.

[2022-05-26 09:53] odinuge commented on #110217
Hi,

Yes, the default in cluster service for hitting the API-server(s) is only in the default namespaces. This is expected behavior. If you want to connect to the apiserver, you should hit the `kubernetes.default.svc` domain. The domain with only `kubernetes` will only work for pods inside the default namespace. It is also possible to use the fully qualified domain name, that will be `kubernetes.d

[2022-05-26 09:57] vincent5753 commented on #110217
Got it, thanks for helping.

[2022-05-26 10:17] aojea commented on #110177
/remove sig-network

removing the label until is clear it belongs to sig-network, but the description says

I don't know , but it sounds more like an environment problem ... check the logs of the apiserver to understand why is he exiting, maybe there is a hint there

[2022-05-26 10:41] ardaguclu commented on #100012
I investigated this problem but it looks that there is no elegant way discriminating whether resource is CRD or it is core type but new version does not exist.

`runtime.IsNotRegisteredError(err)` check in [here](https://github.com/kubernetes/kubernetes/blob/c0562815fada455daf4826f59df895942dad8df0/staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go#L123) is for CRDs in order to use json merge pat

[2022-05-26 10:49] MadhavJivrajani commented on #110225
/sig network

[2022-05-26 10:49] MadhavJivrajani commented on #110224
/sig release
I think?

[2022-05-26 10:53] aojea commented on #110225
this seems more related to GKE , that uses the konnectivity agent to communicate with the nodes, not a problem of kubernetes itself

[2022-05-26 10:56] BSWANG commented on #110208
@aojea Thank for your reply.
The `EndpointSliceNodeName` is the migration mechanism in 1.21 version. But `EndpointSliceNodeName` only take effort on `endpointslice` changing(Add|Update).

If the upgrade step follow 1.20->1.21->1.22. And we do **nothing** to make the `endpointslice`  change on the 1.21 stage. The `nodename` field will still not be populated. And we will also meet this issue after u

[2022-05-26 10:57] heqg opened #110226 "add fuzz test in UT test"
### What would you like to be added?

add fuzz test in UT test

### Why is this needed?

1. Fuzzing can be a good way to find defects in the code
2. Go 1.18 merged support code for Fuzz testing，And  Fuzzing  Test is supported in this version
https://github.com/golang/go/commit/6e81f78c0f1653ea140e6c8d008700ddad1fa0a5

[2022-05-26 10:57] heqg commented on #110226
/sig node

[2022-05-26 10:59] itsmesuniljacob commented on #110225
Yes @aojea

[2022-05-26 11:03] Congelli501 commented on #110177
The api-server is killed by because it can't connect to etcd when it is down (so it fails its health check with a 500 error) and I can also see the `SandboxChanged` event too for the api server.

The etcd server doesn't crash, it is just constantly stopped and restarted. It seems to be caused by a `SandboxChanged` event, and it doesn't fail its health check.

[code]

The etcd server was running fi

[2022-05-26 11:09] aojea commented on #110208
@liggitt does it mean that we have to do the same that we did here https://github.com/kubernetes/kubernetes/pull/108198 on reads?

[2022-05-26 11:11] afbjorklund commented on #106893
The pause image has been updated from 3.1 to 3.6 in cri-dockerd 0.2.1, same as in containerd 1.6.4.

[2022-05-26 11:19] BSWANG commented on #110208
https://github.com/kubernetes/kubernetes/pull/108198 convert others endpoints on `endpointslice` be updating. IMO, we should convert `topology` on get&watch to prevent `kube-proxy|cloud-controller-manager` obtain wrong `nodename` info.

[2022-05-26 11:21] liggitt commented on #110208
I think it means kube-proxy should still be using the topology[hostname] label if the nodeName field is empty

[2022-05-26 11:24] BSWANG commented on #110208
The topology field become `deprecated` and will be removed someday.

The topology[zone] label will be converted to `zone` fiele on "get|watch". But topology[hostname] not converted 😅.

[2022-05-26 11:31] aojea commented on #110208
/cc @thockin @robscott @swetharepakula

[2022-05-26 12:48] x13n commented on #110186
Good point that we wouldn't be able to verify the code on CA side does indeed implement the updated interface.

That might be sufficient, I'm just worried that this is not an automated process and hence can be skipped again. Is there anything we could do to limit the possibility of human error? My best idea here so far is to add sig-autoscaling as reviewers for framework changes. Or perhaps a subs

[2022-05-26 12:49] liggitt commented on #110208
I think the problem is bounded to 1.22

* EndpointSlices written >= 1.21 (specifically 1.21.11 with https://github.com/kubernetes/kubernetes/pull/108203) does not encounter this problem.
EndpointSlices that have not been written to >= 1.21 should shrink to ~zero by ~1.23:
* A 1.20 control plane only supports 1.18, 1.19, and 1.20 nodes
* A 1.23 control plane only supports 1.21+ nodes. That means al

[2022-05-26 13:36] MaciekPytel commented on #110186
I think this is where unittests could help. The unittest wouldn't mean the interface cannot be changed, it would just provide a signal that sig-autoscaling / Cluster Autoscaler reviewer should be involved. It seems much more reliable than the current system based on scheduler contributors' intuitions on which changes may affect CA.

[2022-05-26 13:36] hholst80 commented on #84210
For the sake of sanity, please disable the bot on issues that has been captured to be important? It adds just noice and makes it very hard to read up on what is actually important.

[2022-05-26 13:42] dcbw commented on #110208
/triage accepted

[2022-05-26 13:43] giuseppe commented on #108364
since it is about metrics, I'd first try to build cAdvisor standalone on the machine configured with cgroupfs and see if it is working on its own without integrating it in the Kubelet.

Once you build cAdvisor, it is quite easy to try it out and verify it is collecting data for the containers:
[code]

Then point your browser to `http://localhost:8080` and you can see what is being collected

[2022-05-26 13:43] dcbw commented on #110208
/assign dcbw

[2022-05-26 13:48] dcbw commented on #110177
@Congelli501 Kubelet logs sandbox change reasons at V(2) so if you can attach kubelet logs we should be able to figure out why it's killing/re-creating the sandbox.

[2022-05-26 13:49] dcbw commented on #110177
[code]

[2022-05-26 13:52] dcbw commented on #109815
It does sound like CoreDNS is not installed properly and it's RBAC permissions are not working.

@panbing520 how was CoreDNS installed in the cluster?

[2022-05-26 14:22] rphillips commented on #102537
/sig node
/triage accepted

[2022-05-26 14:40] dcbw commented on #109811
@lojies did you upgrade iptables while the system was running?

If so, I think the result would be expected. I'm not sure anything clears out legacy iptables as part of the upgrade since that is quite risky. Best thing to do is to either clear it yourself or reboot the node.

In any case, I don't think this is an issue that Kubernetes can solve, it's more about how the system/package upgrade is do

[2022-05-26 14:40] #109811 closed

[2022-05-26 14:51] dims commented on #110224
this is by design to allow upgrades and downgrades. belongs to

/sig api-machinery

[2022-05-26 14:57] bridgetkromhout commented on #108923
Hi, @lminzhw - as @lzhecheng explained, this looks like the issue which he resolved with https://github.com/kubernetes/kubernetes/pull/107631. That patch is now available in the latest releases of 1.24, 1.23, 1.22, and 1.21. I see that you were using Kubernetes 1.19.16 when you reported the bug. That version is unsupported, so we won't be backporting the fix.

Please try one of the latest releases

[2022-05-26 15:14] dcbw commented on #109780
@marcelvwe what Windows kube-proxy mode are you using, winkernel or winuserspace? Should be able to figure that out based on the kube-proxy configuration/arguments.

/sig windows

[2022-05-26 15:24] dcbw commented on #109678
@laurie-kepford were you able to reproduce with Kube 1.21?

[2022-05-26 15:27] dcbw commented on #109672
@linxiulei you should be able to adjust the conntrack table size with `net.netfilter.nf_conntrack_max`. Is that not an option on your systems?

[2022-05-26 15:28] silenceper opened #110231 "The apiserver cannot be accessed using the ipv6 type cluster ip, and the tls connection cannot be established"
### What happened?

In the case of cross-nodes, the apiserver cannot be accessed using the ipv6 type cluster ip, and the tls connection cannot be established.
There are several situations:
- accessing http service is normal Whether on the same node or across nodes
- It is normal to access apiserver cluster ip directly on the master (i have only one master)

tcpdump data:
<img width="1661" alt="ima

[2022-05-26 15:29] silenceper commented on #110231
/sig network

[2022-05-26 15:29] #109630 closed

[2022-05-26 15:36] thockin commented on #110225
Isn't 5 minutes the standard watch timeout?  IOW, I think this is just expected?

Also not really sig-net, but I am not sure which SIG - api-machinery?  cluster-lifecylce?

@cheftako
@fedebongio

[2022-05-26 15:38] dcbw commented on #110231
@silenceper what is the default ipFamily of your cluster? Can you describe the default apiserver Service so we can double-check the properties?

[2022-05-26 15:45] #108257 closed

[2022-05-26 15:46] silenceper commented on #110231
[code]

[2022-05-26 15:48] thockin commented on #109814
This.

Our choices, as I see it:

1) Do nothing in core, it's a network plugin problem
2) Soft-standardize one or more annotations and recommend net plugins respect them
3) Add a pod API to specify this and recommend net plugins respect them

No matter what we can't REQUIRE plugins to do anything, so it will be optional for the foreseeable future.

Option 3 starts to feel a whole lot like multi-ne

[2022-05-26 15:50] thockin commented on #109780
Who should we assign this for triage?

[2022-05-26 16:00] thockin commented on #109575
Agree with the idea that our degress of freedom are limited - close?

[2022-05-26 16:01] silenceper commented on #110231
@uablrek just curl cluster ip on node :
[code]

[2022-05-26 16:24] uablrek commented on #110231
I can access the API-server via the `kubernetes` svc IPv6 address but authorization is required;
[code]
The `--insecure` is required unless you have a (probably self-signed) certificate installed.

[2022-05-26 16:35] leilajal commented on #110210
/triage accepted

[2022-05-26 16:43] uablrek commented on #110231
Slightly different. It may be important to use a domain-name rather than a raw address for TLS to work;
[code]

[2022-05-26 16:51] #98278 closed

[2022-05-26 16:52] uablrek commented on #110231
I don't think this is a kubernetes bug.

[2022-05-26 16:55] Huang-Wei commented on #10043
@ialidzhikov I'm not aware of this issue. We will put it into our sig meeting to discuss.

[2022-05-26 16:56] uablrek commented on #110231
My `kubernetes` service for the record;
[code]

[2022-05-26 17:00] silenceper commented on #110231
It is not work for me.

[2022-05-26 17:38] uablrek commented on #109814
IMHO this is *the* use-case. I can't really imagine that the presence of an IPv6 address on eth0 opens security holes, even for legacy applications. But when IPv6 is used one don't want the constraints imposed by the IPv4 address range.

My vote is on;

Network plugins will respond to this if many users want it, and possibly in ways we can't see yet. To "Soft-standardize one or more annotations" I

[2022-05-26 17:40] leilajal commented on #110224
/cc @serathius
/triage accepted

[2022-05-26 18:18] Congelli501 commented on #110177
My kubelet logs with `-v2` are indeed full of `No ready sandbox for pod can be found. Need to start a new one` messages:
<details>

[code]
</details>

To limit the logs, I removed all but the etcd definition from `/etc/kubernetes/manifests`, and I see logs like these ones in the `containerd` logs when "No ready sandbox for pod can be found. Need to start a new one" is logged in kubelet:

[code]

E

[2022-05-26 18:38] Riaankl opened #110236 "Write APIService lifecycle test + 4 Endpoints"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow: [Corev1APIServiceLifecycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Corev1APIServiceLifecycleTest.org)
-   [X] Test approval issue: #110236
-   [X] Test PR: #110237
-   [x] Two weeks soak start date: [Testgrid](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&graph-metrics=test-durati

[2022-05-26 18:42] Riaankl commented on #110236
/triage accepted

[2022-05-26 18:45] thockin commented on #109814
If you model the "pod network" as 2 networks (v4, v6) and allow pods to specificy which one(s) they want, maybe it can be a fit.  Maybe.  Very speculative since we don't have multi-network as a built-in concept.

[2022-05-26 18:58] Riaankl commented on #100486
Closed in favour of #110237

[2022-05-26 18:59] #100486 closed

[2022-05-26 19:03] laurie-kepford commented on #109678
Yes.  The same thing is still happening after upgrading to 1.21
it seems to be random because there is no load on the underlying hosts.

[2022-05-26 19:15] thockin commented on #109678
Can you post a TCP dump that shows this?  Is there a RST sent or something?

Can you eliminate any variables?

[2022-05-26 19:47] linxiulei commented on #109672
@dcbw Not really as nf_conntrack_max may be used up no matter how high you specify. Also setting a high value of it will use up memory that is not charged by any pods, so it will impact the whole system.

@thockin I have created NOTRACK iptables rules in my environment and it worked well for local traffic (eg. health check to kubelet). But it is a standalone configuration script that insert the ru

[2022-05-26 20:02] laurie-kepford commented on #109678
I moved the apps to a brand new cluster (about 10 of them)  The instance was a bit over provisioned for only 10 pods.  I got no more crashes.  I added a second server and moved 15 more apps.  Crashes started up again. We had one at 5:55 this morning. The servers do not seem to be over loaded tho.  This is an M6i.xlarge (4 vCpU, 16MB Ram). in the example below the app crashed at 5:55am
![2022-05-26

[2022-05-26 20:15] thockin commented on #109678
Can you help me filter the noise from that screenshot?  The red-highlighted line - is it relevant?  I thought you said it was localhost->localhost?

[2022-05-26 20:22] thockin commented on #109678
I'm confused - is it the same issue?  You're saying, if I understand, "something caused my pod-app to send RST to some network peer" - sometimes that peer is the other container, sometimes it is outside the pod.  Is that right?

I don't know much about how AWS nodes are configured but conntrack is always my go-to first guess.  Is this a very busy node which could be running out of conntrack record

[2022-05-26 20:28] lavalamp commented on #108318
GC shouldn't be watching events.

I'm not really understanding this bug report, unfortunately?

[2022-05-26 20:32] aojea commented on #109780
@jayunit100 @jsturtevant can you please take over?

[2022-05-26 20:33] laurie-kepford commented on #109678
We started with conntrack.  What does "running out of conntrack records" mean.  Prior to yesterday when we looked at the capture logs we were only seeing the RST on LocalHost.  Now we are seeing them in other places.

[2022-05-26 21:13] Joseph-Goergen opened #110238 "Reconciler for clusterrole not reconciling properly"
### What happened?

When you update from 1.21 to 1.22, it seems like the kubernetes reconciler is partially reconciling resource.

### What did you expect to happen?

I expected the aggregate-to-edit clusterrole on a updated cluster to be the same as a freshly deployed one on the same version.

### How can we reproduce it (as minimally and precisely as possible)?

I was able to replicate this with

[2022-05-26 22:22] nigelpoulton opened #110239 "activeDeadlineSeconds not working correctly for Jobs in 1.24.0"
### What happened?

Prior to 1.24.0 setting `spec.adctiveDeadlineSeconds` in a Job object (`batch/v1`) would kill the Job and Pods if they ran longer than the integer specified. I tested today with 1.24.0 and it's not working. The Job defined below (for testing) should be killed 10 seconds, but isn't. It's actually being terminated after about 55 seconds.

[code]

### What did you expect to happen

[2022-05-26 22:26] nigelpoulton commented on #110239
/sig apps

[2022-05-26 22:31] juampynr commented on #110239
I just searched for `activeDeadlineSeconds` at https://github.com/kubernetes/kubernetes locally and could not see any logic that compares running time with `activeDeadlineSeconds` and marks a pod for termination. Do I need to look somewhere else?

[2022-05-26 23:35] marosset commented on #110120
Yes, I just verified that specifying `c:\temp\foo.log` gives the error indicated about but `\\.\c\temp\foo.log` works OK.

I think `kubectl cp` might need to have do something like https://github.com/kubernetes/kubernetes/blob/1d7cefe9c4b95008487c765107ba8346fb10535e/pkg/volume/util/util.go#L452-L466

/sig cli

[2022-05-27 02:19] vsxen commented on #110177
same question in Fedora
https://github.com/containerd/containerd/issues/6704

[2022-05-27 03:26] BSWANG commented on #110208
Maybe all `cloud-controller-manager` which using `discovery.v1` also need the fallback on 1.22, for add the node to Loadbalancer backend.

[2022-05-27 03:44] silenceper commented on #110231
To add, I tried it if I switched kube-proxy to iptables, it is normal, but ipvs will not work

[2022-05-27 03:51] X-neuron commented on #110144
1.24 CRI runtime changes

[2022-05-27 03:51] #110144 closed

[2022-05-27 04:51] aojea commented on #110208
I didn't find any reference , where do you see that?

[2022-05-27 05:09] Brijesh-09 commented on #108806
/assign

[2022-05-27 05:15] BSWANG commented on #110208
https://github.com/kubernetes/cloud-provider-alibaba-cloud/blob/f821effa31935d135809a76731b29ec45afc11b4/pkg/controller/service/vgroups.go#L674

[2022-05-27 05:26] aojea commented on #110208
both are still using v1beta1, right?

[2022-05-27 05:37] BSWANG commented on #110208
Yes, but they will met this issue when upgrade to v1. Shall we convert `hostname` in `apiserver` like `zone` field, then the others controller will no need to convert once again on upgrading api.

[2022-05-27 05:52] #107237 closed

[2022-05-27 06:06] purplegrape commented on #110224
got it,many thanks.

[2022-05-27 06:06] #110224 closed

[2022-05-27 08:20] aojea commented on #110208
I have doubts those will support 1.20 when they move to v1, however, as Jordan explained, https://github.com/kubernetes/kubernetes/issues/110208#issuecomment-1138542097, they should handle it themselves the same that kube-proxy is doing, there is a DeprecatedTopology field for dealing with that

[2022-05-27 08:25] Shubham82 commented on #110238
/sig auth

[2022-05-27 08:32] kitarp29 opened #110248 "YAML verfier at API-Server"
I am not sure if this is already a feature on not.
I want to build a YAML Validator at API - Server level.
If this seems like a good idea, I would like to work on it.

I have experienced at work that sometimes the cluster faces issues because the YAML applied had some issues.
This was the sole reason many services got hit.
We can always have a wrapper on top of it. But why not make this feature in

[2022-05-27 08:32] kitarp29 commented on #110248
cc: @brosner @gnufied

[2022-05-27 08:43] Shubham82 commented on #110238
Hi @Joseph-Goergen

See [Write access for Endpoints](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#write-access-for-endpoints) in which it is mentioned that `Existing clusters that have been upgraded to Kubernetes v1.22 will not be subject to this change`, that's why it show `endpoints` resources in upgraded-to-1.22. to mitigate this in the existing clusters we should follow the st

[2022-05-27 09:02] kitarp29 commented on #110248
A simple implementation like this: https://codebeautify.org/yaml-validator
We can return the error messages on the CLI itself.

[2022-05-27 09:05] nigelpoulton commented on #110239
It's here @juampynr
https://kubernetes.io/docs/concepts/workloads/controllers/job/#job-termination-and-cleanup

Here's the quote:
"Another way to terminate a Job is by setting an active deadline. Do this by setting the `.spec.activeDeadlineSeconds` field of the Job to a number of seconds. The `activeDeadlineSeconds` applies to the duration of the job, no matter how many Pods are created. Once a Jo

[2022-05-27 09:55] jsafrane commented on #103754
/remove-lifecycle rotten

[2022-05-27 09:57] jsafrane commented on #94108
/remove-lifecycle stale

[2022-05-27 11:52] #107244 closed

[2022-05-27 12:59] boniek83 commented on #69507
What is lacking here and in the data exposed by kubernetes is ephemeral storage usage per container. Better than nothing, not quite there yet.

[2022-05-27 14:14] hunknownz opened #110254 "Unnecessary for-loop in apiserver routes installer"
In `k8s.io/apiserver/pkg/endpoints/installer.go`:
[code]
I omitted code that is not relevant to this issue. We don't need the `routes` List and the for-loop. There is only one element in `routes` List per iteration.

Please let me make some cleanup if possible.

[2022-05-27 15:33] danwinship commented on #109814
I guess just adding `ipFamilies`/`ipFamilyPolicy` to Pod wouldn't really solve the "IPv6-mostly" use case, because `PreferDualStack` would still presumably be the default, so someone who wanted "IPv6-mostly" would have to manually override `ipFamilyPolicy` on almost all of their pods. (Well, unless we also added an apiserver option to set the default...)

One possibility: suggest that plugins shou

[2022-05-27 15:38] Congelli501 commented on #110177
I tried to create a pod with `crictl` manually, and it stayed up:

pod-config.json
[code]

container-config.json
[code]

[code]

[code]

[2022-05-27 16:11] Congelli501 commented on #110177
Stopping `kubelet` on the machine will prevent further restart of etcd, so `containerd` on its own doesn't restart the pod.

[code]

[code]

[2022-05-27 17:36] BenTheElder commented on #109182
https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=unable%20to%20apply%20cgroup%20configuration&xjob=1-2 is indeed empty.

https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=unable%20to%20apply%20cgroup%20configuration on all jobs has a few, but those are:

[2022-05-27 17:40] #109182 closed

[2022-05-27 18:36] #109459 closed

[2022-05-27 18:50] kanha-gupta commented on #109034
/assign

[2022-05-27 19:05] liyimeng commented on #108364
@giuseppe I have done. Most metric seem collect ok, only the total cpu/memory usage are always zero.  Do you which part of cadvisor is doing the sum?

[2022-05-27 19:10] jsturtevant commented on #110073
fix went into containerd and job started passing again
/close

[2022-05-27 19:11] #110073 closed

[2022-05-27 19:41] jsturtevant commented on #109908
soak-tests-capz-windows-2019 is passing now, might see occasional failure as it is a Pre-submit job

[2022-05-27 19:53] #99715 closed

[2022-05-27 20:04] giuseppe commented on #108364
please look at the `setCPUStats` function in the `container/libcontainer/handler.go` file.

Can you also please show the content of the `/sys/fs/cgroup/cgroup.subtree_control` file?

[2022-05-27 20:28] liyimeng commented on #108364
Thank  a lot, I will have a look into that,
For now, here is the content of the file
[code]

[2022-05-27 20:41] liyimeng commented on #108364
Problem seem not here, since both input and output of setCPUStats look correct, at least have a value.  Anyway, this seem good starting point, I will continue to trace down the cause later.

[code]

[2022-05-27 23:19] hunknownz commented on #105678
Hi @pohly, can I take test/e2e/apimachinery?

[2022-05-27 23:24] #109414 closed

[2022-05-27 23:56] gracewehner opened #110261 "PVC usage metrics incorrect in /stats/summary kubelet endpoint for Windows Azure Files"
### What happened?

Curling `https://<Node-IP>:10250/stats/summary` for a Windows node returns the wrong usage and capacity bytes for a `azurefile-csi` PVC used by a Windows pod on that node:
[code]
This looks like it is the usage of the disk on the node or something else. `azurefile-csi` PVCs used by Linux pods report the correct usage.

### What did you expect to happen?

The PVC is empty so the

[2022-05-27 23:57] gracewehner commented on #110261
/sig node storage windows
/area cadvisor

[2022-05-28 00:05] hunknownz commented on #105678
Hi @pohly, can I take test/e2e/auth?

[2022-05-28 00:23] bobbypage commented on #108594
The fix above did not fully the fix issue. On the regression test added we are able to repro it again when lowering pollInternval - https://github.com/kubernetes/kubernetes/pull/110257

[2022-05-28 02:37] hunknownz commented on #105678
@pohly for test/e2e/auth, for example :
[code]
Should I just change it to `if (<check>) framework.Failf(<message>)`?

[2022-05-28 04:03] SOF3 commented on #102641
Perhaps also emit a metric for this from the GC controller? It feels that things like this should receive immediate attention.

[2022-05-28 05:56] ZxyNull0 opened #110262 "Crash when kubernetes parsing api"
### What happened?

I just using fuzzing discovered a crash when k8s parsing the api,I don't know if it will affect the usability of K8s，So I submit the rel
evant crash information and files to you, I hope it will be useful to you，[fuzz_api_marshaling.zip](https://github.com/kubernetes/kubernetes/files/8790589/fuzz_api_marshaling.zip)

### What did you expect to happen?

Details can be found in th

[2022-05-28 08:44] harshanarayana commented on #110239
The job controller for sure has the code for cleanup on active deadline still in place
https://github.com/kubernetes/kubernetes/blob/f3264dd0b33ba4450c453436e3ebd5a287712a1a/pkg/controller/job/job_controller.go#L762-L799

+1 from me as well. The behavior for sure is not the same on 1.23.x vs 1.24.0 using the same job manifest. And the documentation v/s the behavior is not the same.

[2022-05-28 11:16] harshanarayana commented on #110239
Seem to be a side effect of `JobReadyPods` feature gate. Disabling that gives me the old behavior as in 1.23.x

## v1.24.0 With Feature Flag Disabled
[code]

You can get the same behavior even in 1.23.x with the feature flag enabled.

## v1.23.5 with feature flag enabled
[code]

Seems like side effect of what went into 60fc90967bc65bfe6a66e5dd1a78d3e1484717c4

[2022-05-28 13:18] harshanarayana commented on #110239
The weird bit as you see is the pod actually completes but when it processes the completion event it notices the activeDeadline value and marks deadline Exceeded while the pod actually ran to completion

[2022-05-28 13:45] silenceper commented on #110143
I tried the same problem in version 1.23

[2022-05-28 17:26] TinySong opened #110265 "auth can-i error message making confuse"
### What happened?

I want to use `kubectl auth  can-i` to check whether I have cluster scope resource permission or not.
there is the command `kubectl auth can-i delete tenant test`
error output:
[code]
error: you must specify two arguments: verb  resource or verb resource/resourceName.
See 'kubectl auth can-i -h' for help and examples.

[code]

</details>

### Cloud provider

none

### OS versio

[2022-05-28 17:36] TinySong commented on #110265
/assign

[2022-05-28 20:50] marcelvwe commented on #109780
I am on leave for the coming two weeks, so it is difficult for me to get the details right away. We are using Azure Kubernetes Service (1.22) without any specific configuration applied, so I’ll assume it is the default for AKS (which I don’t know wether it is user or kernel mode).

If that doesn’t provide enough information, please let me know, so I’ll contact a colleague to find out the proxy mod

[2022-05-28 21:03] brianpursley opened #110270 "Failure cluster [54e385e5...]"
### Failure cluster [54e385e56e2496b17ff1](https://go.k8s.io/triage#54e385e56e2496b17ff1)

##### Error text:
[code]
#### Recent failures:
[5/28/2022, 3:00:16 PM ci-kubernetes-e2e-gci-gce-alpha-enabled-default](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-enabled-default/1530624997146497024)
[5/28/2022, 2:20:15 PM ci-kubernetes-e2e-gci-gce-alpha-enabled-defaul

[2022-05-28 21:10] brianpursley commented on #110270
/assign

[2022-05-28 21:11] brianpursley opened #110271 "Failure cluster [0a9c68fa...]"
### Failure cluster [0a9c68fac27bbc4ed445](https://go.k8s.io/triage#0a9c68fac27bbc4ed445)

##### Error text:
[code]
#### Recent failures:
[5/28/2022, 3:00:16 PM ci-kubernetes-e2e-gci-gce-alpha-enabled-default](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-enabled-default/1530624997146497024)
[5/28/2022, 2:20:15 PM ci-kubernetes-e2e-gci-gce-alpha-enabled-defaul

[2022-05-28 23:04] brianpursley commented on #110271
@kevindelgado Not quite sure, but I think this is because the namespace is hard coded to `my-ns` in the manifest.

See also related issue https://github.com/kubernetes/kubernetes/issues/110270 which I'm attempting to fix with PR https://github.com/kubernetes/kubernetes/pull/110272

The particular e2e test passes when I run it locally, but there must be something different in the job.

[2022-05-28 23:44] liggitt commented on #110113
The `secrets` field of the service account is only for listing secrets that can be mounted into pods running as the service account. From https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/service-account-v1/#ServiceAccount:

Secrets have not been used for mounting into pods since 1.22, when injected tokens switched to using tokens obtained from the `TokenRequest` API and

[2022-05-28 23:44] #110113 closed

[2022-05-29 05:11] NikhilSharmaWe commented on #108181
/remove-lifecycle stale

[2022-05-29 07:51] sanposhiho commented on #110175
To summarize: The problem is "not all events related to Pod or Node don't always make move from unschedulableQ to active/backoffQ and it may not be intended for custom-plugin developers because this behavior isn't even documented."

I think we should move all unschedulable Pods with all Pod and Node events. If concerned about performance degradation, we can extend `EventsToRegister` or `EnqueueExt

[2022-05-29 07:52] sanposhiho commented on #110175
/cc @Huang-Wei @alculquicondor @ahg-g

Could you please take a look

[2022-05-29 08:22] whitebear009 opened #110278 "When replicas of workload is zero and the minReplicas of HPA is greather than zero, the rescale of HPA controller will not be triggered"
### What happened?

I have an HPA object configured with external metrics and I set the minReplicas of HPA to 0. After a while, hpa scales the workload to 0 because it is below the metric threshold
Next, if I set minReplicas of HPA to 1, then the HPA controller will not do anything, and the ScalingActive condition becomes false.

### What did you expect to happen?

In the next step above, if I set

[2022-05-29 12:46] vaibhav2107 commented on #107063
/remove-lifecycle stale

[2022-05-29 12:47] vaibhav2107 commented on #103500
/remove-lifecycle stale

[2022-05-29 12:49] vaibhav2107 commented on #97007
/remove-lifecycle stale

[2022-05-29 12:57] xunyao4dev opened #110280 "pod kube-flannel-ds CrashLoopBackOff"
### What happened?

[root@iZuf63u8n54i0xc42warcaZ ~]# kubectl get pods -n kube-system
NAME                                              READY   STATUS              RESTARTS   AGE
coredns-6d56c8448f-5z5kp                          0/1     ContainerCreating   0          29m
coredns-6d56c8448f-mldqr                          0/1     ContainerCreating   0          29m
etcd-izuf63u8n54i0xc42warcaz

[2022-05-29 13:06] vaibhav2107 commented on #84210
/remove-lifecycle stale

[2022-05-29 13:35] aberenshtein opened #110281 "AWS Classic ELB is created with irrelevant AZs"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.22.0
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
1.22.3
 a `kops` flag.**

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the s

[2022-05-29 14:06] #107261 closed

[2022-05-29 14:52] neolit123 commented on #110280
/kind support

K8s components need a default route so that they can assing an ip address. You can google "default route ip" for information.

You can also ask for help on support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-05-29 14:52] #110280 closed

[2022-05-29 17:28] MdSahil-oss commented on #110210
/assign

[2022-05-29 18:15] tynril commented on #104443
/remove-lifecycle stale

[2022-05-29 18:20] rduser opened #110282 "Does Liveness Probe distinguish between error conditions?"
The liveness probe execution can fail in various ways like:
1. non-zero exit code returned by container,
2. or timeout,
3. or due to an infrastructure error due to which no connection to the container was made though the container itself was healthy.

Do all failures count against the container's threshold?

If so, how can application owner mitigate against this, especially error condition 3

[2022-05-29 18:23] rduser commented on #110282
/sig node

[2022-05-29 19:31] liggitt commented on #110238
This is working as designed. Role and RoleBinding reconciliation on upgrade is *always* additive... permissions are *only* added to existing roles, and subjects are *only* added to existing bindings. This is necessary to ensure that this reconciliation *never* breaks any existing API clients.

If you want to reconcile the role to tighten permissions to the current defaults, you can do so by reconc

[2022-05-29 19:32] #110238 closed

[2022-05-29 19:33] liggitt commented on #110239
/assign @alculquicondor

[2022-05-29 19:41] liggitt commented on #110169
objectSelector selects on the labels of the object sent to the webhook. for the eviction subresource, this is the Eviction object, not the parent Pod object. It is unlikely the eviction request being submitted has the same labels as the parent Pod.

/close

[2022-05-29 19:41] #110169 closed

[2022-05-29 20:23] liggitt commented on #110126
/remove-kind bug
/kind support

PodSecurity is non-mutating. When using ephemeral containers in a namespace that is enforcing the restricted PodSecurity level, the ephemeral container must set `securityContext.allowPrivilegeEscalation=false` and `securityContext.capabilities.drop=["ALL"]`

/cc @verb
for visibility in case `kubectl debug` wants to make it easier to create debug containers that comp

[2022-05-29 20:23] #110126 closed

[2022-05-30 00:44] vikas027 commented on #49387
For anyone who is looking to filter `Completed` pods, they are [referred](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase) to as `Succeeded`.

[code]

[2022-05-30 01:46] vsxen commented on #110177
https://twitter.com/ctrahey/status/1530386324749950976
ping @medyagh

[2022-05-30 02:32] tonyaw commented on #110126
How to set it via "kubectl debug"? I didn't see any parameter to set securtiyContext.

[2022-05-30 06:05] pacoxu commented on #110282
/kind support

[2022-05-30 06:09] pacoxu commented on #110278
/sig autoscaling

[2022-05-30 06:10] pacoxu commented on #110265
/sig auth

[2022-05-30 06:29] pacoxu commented on #110262
I cannot find any code in this repo about api_marshaling_fuzzer. It seems to be from https://github.com/cncf/cncf-fuzzing/pull/3.

[2022-05-30 06:46] tdihp commented on #90399
I'm able to show non-zero with below change to kubelet:

[code]

[2022-05-30 07:29] pohly commented on #105678
@hunknownz: feel free to work on test/e2e/auth.

This one particular example is a bit different: here we are comparing string values, and for those it makes sense to print the actual value because the failure message then adds information. I would leave that one as it is.

[2022-05-30 09:38] kerthcet commented on #110282
I think the key point here is that the kubelet/monitor is unaware of the infrastructure error. The liveness probe behaves as expected since the container is out of communication.

[2022-05-30 09:54] jsafrane commented on #108221
I have troubles understanding what's happening here. When kube-controller-manager is restarted, it indeed restores its state from `node.status.volumesAttached`. And there are two possibilities:

1. Either there is a pod that needs the volume and then its spec is used to restore ASW when A/D controller starts and both ASW and DSW have correct data.
2.
3. Or there is no pod that needs the volume and

[2022-05-30 10:01] FillZpp commented on #110239
I think I have figured out why this happened. It is a side effect of `JobReadyPods` feature gate (thanks @harshanarayana ).

1. background: when we call `queue.AddAfter(key, duration)` with `duration > 0` multiple times, the workqueue will only keep the duration that is nearest from now.

2. previously (when there is no `JobReadyPods` feature gate or do not enable it): job-controller mainly relies

[2022-05-30 10:16] giuseppe commented on #108364
An older kernel.  What versions are you using for the working and the broken case?

[2022-05-30 11:05] liyimeng commented on #108364
The working one
`
Linux localhost 5.15.41-0-lts #1-Alpine SMP Fri, 20 May 2022 21:42:55 +0000 x86_64 Linux
`

broken one
`
Linux localhost 5.4.0-88-generic #99 SMP Tue Oct 5 16:53:38 UTC 2021 x86_64 GNU/Linux
`

[2022-05-30 11:37] harshanarayana commented on #110239
@FillZpp  I have came to the same conclusion as you are based on what is in the `job_controller.go` and `delaying_queue.go`.

So, I did a dirty prototype of tracking the activeDeadline in an entirely different `workqueue` to avoid conflicts and it seem to be working well.

[code]

If this is an acceptable change to @liggitt  and @alculquicondor I would be more than happy to raise a Draft PR for re

[2022-05-30 11:55] andyzhangx commented on #110261
I have checked this issue, this is actually related to this issue: https://github.com/kubernetes-csi/csi-proxy/issues/208
There is no such good way to get usage of smb mount on Windows node per my knowledge.
/sig windows

[2022-05-30 12:00] Kartik494 commented on #105956
/remove-lifecycle stale

[2022-05-30 12:01] Kartik494 commented on #106409
/remove-lifecycle stale

[2022-05-30 12:06] Kartik494 commented on #106996
/remove-lifecycle stale

[2022-05-30 12:07] Kartik494 commented on #107487
/remove-lifecycle stale

[2022-05-30 12:14] #65517 closed

[2022-05-30 12:54] FillZpp commented on #110239
@harshanarayana Emm... Usually it is not suggested to have multiple active queues in one controller, which will cause an object to be handled by multiple workers at the same time and also make the progress more complicated.

My suggestion is do `queue.AddAfter` at the end of syncJob every time an unfinished job is reconciled, the duration should be `ActiveDeadlineSeconds - time.Since(job.Status.St

[2022-05-30 13:16] hunknownz commented on #105678
OK. test/e2e/auth doesn't need replacing.

I `git grep` `test/e2e/apps/cronjob.go`:
<img width="731" alt="Screen Shot 2022-05-30 at 9 12 59 PM" src="https://user-images.githubusercontent.com/5717967/170999753-102cd48c-f58c-4ba5-b3b3-e931d6022478.png">
There are a lot of positions that need to be modified in `test/e2e/apps`. I'll take test/e2e/apps.

[2022-05-30 13:29] pohly commented on #105678
That looks like a good candidate. Please go for it. When you need to make up new failure messages, try to think about what information may be useful to have and add that. Then the resulting PR is clearly better than the status quo.

[2022-05-30 14:20] Huimintai opened #110288 "kubelet failed start after config kubeReservedCgroup"
### What happened?

When I config kubeReservedCgroup and kubeReserved in config.yaml for  kube daemon.Kubelet can not start with the following errors:
[code]

<img width="1544" alt="image" src="https://user-images.githubusercontent.com/11571376/171007506-7608b8fa-cf22-4cb5-a6bf-9242ac27b9ed.png">

I create all the files follow the errors
[code]
Then restart the kubelet.
But the kubelet can not res

[2022-05-30 14:23] alculquicondor commented on #109904
/priority backlog

Since the user is manually modifying the status, this is not an inherent bug in the controller. Still worth avoiding duplicates.

[2022-05-30 14:40] yangjunmyfm192085 commented on #110288
Hi, @Huimintai, The `kubeReservedCgroup` path you set is `/system.slice/kubelet.service`.  you need to check whether the cgroup directory and files in this path exist?

[2022-05-30 14:45] yangjunmyfm192085 commented on #110288
/remove-kind bug
/kind support
/sig node

[2022-05-30 14:45] Huimintai commented on #110288
How to set the `kubeReservedCgroup` path?

[2022-05-30 14:49] yangjunmyfm192085 commented on #110288
1. if you expect something as  `/sys/fs/cgroup/cpuset/kubelet.service.slice`, please set to `kubelet.service.slice`

[2022-05-30 14:55] Huimintai commented on #110288
I change the config:
[code]
But the kubelet still can not restart.
[code]

[2022-05-30 14:59] houjun41544 commented on #108221
@jsafrane
At that time, the csi plugin was abnormal, and the A/D controller failed to detach the volume due to waiting for the volume detach timeout`(kubernetes.io/csi: attachdetacher.WaitForDetach timeout after 2m0s`), so the volume was still in the ASW.
But then the csi plugin detached the volume and deleted the va.

[2022-05-30 15:07] yangjunmyfm192085 commented on #110288
you are right. if your kubelet cgroup path is `/system.slice/kubelet.service`

[2022-05-30 15:08] yangjunmyfm192085 commented on #110288
Anyway, you have to make sure the  `--kube-reserved-cgroup`  path exists

[2022-05-30 15:11] Huimintai commented on #110288
So you mean I should create the path when I config the` kube-reserved-cgroup: /system.slice/kubelet.service `:
[code]

[2022-05-30 15:23] Huimintai commented on #110288
however I config the `kube-reserved-cgroup: /system.slice/kubelet.service`,kubelet still check the original path:
<img width="1543" alt="image" src="https://user-images.githubusercontent.com/11571376/171022011-b686466b-9e78-4f60-bc79-c7ee5d05a88a.png">
Then I create the path follow the kubelet errors,it can not start also:
<img width="1540" alt="image" src="https://user-images.githubusercontent.co

[2022-05-30 15:59] sanposhiho commented on #110175
What is it that you are trying to do?

We want to remove flushing in queue in https://github.com/kubernetes/kubernetes/issues/87850, right?

Without improving like I suggest, some Pods in unschedulableQ cannot move back to activeQ forever in some cases.
(Actually, our company's custom plugin needs to wait flush because non-assigned Pod's events don't let scheduling queue move unschedulable Pods re

[2022-05-30 17:54] alculquicondor commented on #110239
This is essentially the same as #107226.

The solution is actually very simple, but I didn't have time to implement it https://github.com/kubernetes/kubernetes/pull/97101#issuecomment-1115061840

Can someone take it?

/priority critical-urgent
/triage accepted

[2022-05-30 18:04] harshanarayana commented on #110239
/assign

[2022-05-30 18:04] harshanarayana commented on #110239
@alculquicondor  Let me open a PR. Do you want to just add the item back to queue or retain the check for `!forget` that I have in the above ?

[2022-05-30 18:10] alculquicondor commented on #110239
just add it back to the queue every time there is a job sync. It's a noop if the item is already there.

[2022-05-30 18:30] alculquicondor commented on #110175
cc @kerthcet, who implemented NodeInclusionPolicy.

Can you provide a concrete example? The policy just refers to the topology spread calculations. It doesn't mean that the node doesn't have to match the nodeaffinity to be able to accept the pod.

I'm asking what is your custom plugin trying to do. Depending on whether it makes sense, we need to evaluate if it's worth the complexity.

[2022-05-30 19:45] SD-13 commented on #105678
Hi @pohly, can you please assign me a directory. I want to give it a try. Thanks,

[2022-05-30 20:05] giuseppe commented on #108364
the `cpu.stat` file was added to the root cgroup in Linux 5.8

[2022-05-30 20:22] segevfiner commented on #27264
/remove-lifecycle stale

[2022-05-30 20:47] rafadc commented on #105678
Hi @pohly @hunknownz

I already posted a PR for e2e/apps some days ago in this issue.

If it is fine I'd love to proceed with that. Just to avoid us repeating work.

[2022-05-30 21:30] liyimeng commented on #108364
So 5.8 is minimum kernel to run cgroup v2? Dose this applied if systemd is used?

[2022-05-30 21:39] rduser commented on #110282
I see.
- Are there best practices, that can be adopted to avoid unnecessary restarts?

[2022-05-31 01:56] Huimintai commented on #110288
Set `/system.slice/kubelet.service`
<img width="473" alt="image" src="https://user-images.githubusercontent.com/11571376/171077558-bef0e5a7-485f-4544-8031-ad165524eac5.png">

then create files with `/system.slice/kubelet/service.slice`
<img width="1544" alt="image" src="https://user-images.githubusercontent.com/11571376/171077333-cbfb42a6-6c55-4a73-b3a5-3b8951764d9e.png">
Kubelet still need some p

[2022-05-31 03:12] yangjunmyfm192085 commented on #110288
The cgroupDriver you configured is systemd?
Can you try `cgroupDriver: cgroupfs`?

[2022-05-31 05:49] pohly commented on #105678
@rafadc @hunknownz: sorry for not noticing the overlap sooner. Let's go with the older PR.

[2022-05-31 05:54] pohly commented on #105678
@SD-13: you can take over test/e2e/storage from @NikhilSharmaWe. There is an incomplete PR for it in https://github.com/kubernetes/kubernetes/pull/105860. You can check out that branch, fix it and submit a new PR, or start from scratch.

[2022-05-31 05:56] pohly commented on #105678
@hunknownz: it looks like @Ahmed-Aghadi is not active anymore. I've remove him from the todo list and added you instead for test/e2e/common/storage.

[2022-05-31 06:09] hunknownz commented on #105678
OK

[2022-05-31 06:18] hunknownz commented on #105678
I `git grep 'Expect.*Equal([^,]*, *\(true\|false\)' | wc -l` in `test/e2e/common/storage` and it returns 0.
What should I do?

[2022-05-31 06:21] uablrek commented on #109814
I made an experiment with a mix of dual-stack and ipv4/ipv6-only PODs. I use a very simple `bridge` cni-plugin and edit the `/etc/cni/net.d/10-bridge.conf` between creation of `Deployments`. Just altering the `ipam` section. K8s has no problem with this mix of PODs, neither does `cri-o` which is my CRI-plugin.
[code]
Just works :smile: K8s is pretty cool.

[2022-05-31 06:40] hunknownz commented on #105678
@pohly @NikhilSharmaWe: `test/e2e/windows` needs modifying.
<img width="1440" alt="Screen Shot 2022-05-31 at 2 40 29 PM" src="https://user-images.githubusercontent.com/5717967/171108732-5d058803-1f93-4ab5-8ade-3383f0c8ce79.png">
Can I work on it?

[2022-05-31 06:48] Syahsing opened #110298 "I can't get ping my pod in master, but it work well in my slave node"
### What happened?

I deployed kubenetes GitVersion:"v1.24.1" in my master node, and the same steps in one slave node. also I installed calico and cri-dockerd for it.

I still deployed a set of test pod nginx:latest.
But I can only ping podIP and get pod service from slave node, I can never ping podIP and get nginx result from master node.

another example
my svc CLUSTER-IP 10.99.199.48
[root@k8s-

[2022-05-31 07:42] aojea commented on #110298
/kind support
/close

Hi, thanks for reporting your issue, but this doesn't seem a kubernetes bug and it is more a problem with your installation.

Please use the recommended channels to open support issues, like slack or https://discuss.kubernetes.io/

[2022-05-31 07:43] uablrek commented on #109814
Experiments with services on K8s `v1.24.1`. All PODs above have the same selector ("mserver"). Services are created with;
[code]
Everything works exactly as I hoped. Endpoints and endpointslices are as expected. Access via an IPv4 address reaches all PODs with an IPv4 address (dual-stack and ipv4-only) and access via an IPv6 address reaches all PODs with an IPv6 address (dual-stack and ipv6-only).

[2022-05-31 07:46] aojea commented on #108388
@wojtek-t you did fix this, right?
can we close it?

[2022-05-31 08:14] 3siksfather opened #110299 "kube-proxy, kube-dns issue"
### What happened?

I have two issues with my kubernetes.
kubernetes version 1.12.5, ubuntu16.04

the first issue is
Occasionally, containers on a specific node are restarted including kube-proxy
[code]
As these logs are continuously recorded,
The load avarage of node system resources is rather high.

Docker containers uploaded to the node keep repeating the restart.

In this case, node drain can

[2022-05-31 08:32] pohly commented on #105678
Indeed, @Ahmed-Aghadi did test/e2e/common/storage in https://github.com/kubernetes/kubernetes/pull/106624.

You can work on test/e2e/windows.

[2022-05-31 08:36] ingvagabund commented on #109285
This will require some digging to get to the bottom of what is and where it is propagated. The last time I checked the `options.captureProfile` was the closest way to propagate the list of enabled/disabled plugins outside for printing.

I suggest to write few unit tests and see how the entire initialization is propagated and based on that decide which bits can be refactored/changed so the necessar

[2022-05-31 08:43] wojtek-t commented on #108388
Yes - this one was fixed by https://github.com/kubernetes/kubernetes/pull/110125 and https://github.com/kubernetes/kubernetes/pull/110246

[2022-05-31 08:46] sfudeus opened #110301 "kube-proxy with endpoint config controller does not propely handle the last endpoint leaving"
### What happened?

When the last endpoint of a service is removed or goes unhealthy, kube-proxy (in iptables mode) does not clean it properly from iptables. The following output shows the iptables state with an nginx deployment with 1 pod, then the output after the removal, despite empty endpoints/endpointslices lists.

This happens only with the endpoints config controller, so with FeatureGate E

[2022-05-31 08:47] sfudeus commented on #110301
/sig network

[2022-05-31 08:51] luozhiwenn opened #110302 "Service with session affinity cannot isolate the fault appropriately"
### What happened?

By setting service.spec.sessionAffinity to "ClientIP", connections from a particular client are passed to the same Pod each time when accessing a Service.
When the Pod that the client continuously accesses becomes not ready, the client will still access the NotReady Pod because of the iptables rules, even if the maximum session sticky time has been exceeded, which caused the re

[2022-05-31 08:53] luozhiwenn commented on #110302
/sig network

[2022-05-31 08:58] aojea commented on #110301
do we know the root cause?

We had an issue with the logic used to detect stale entries https://github.com/kubernetes/kubernetes/pull/106163/commits/909925b492a674bbadb8de9b694eef67cefabdb1 but it will be interesting to know why it only affects endpoints and no slices

[2022-05-31 09:26] hunknownz commented on #110254
/sig apiserver

[2022-05-31 09:28] hunknownz commented on #110254
/kind cleanup

[2022-05-31 09:37] hunknownz commented on #110254
/sig api-machinery
/area apiserver

[2022-05-31 09:40] romangallego commented on #69041
Any update on when the feature could be ready for test?

[2022-05-31 09:41] SD-13 commented on #105678
Sure, I will look into it. Thanks,

[2022-05-31 10:24] sanposhiho commented on #110175
@alculquicondor

Our company's custom plugin is like [coscheduling](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/coscheduling) plugin.

And like coscheduling's prefilter, the plugin rejects Pods in PreFilter when the number of Pods is less than the definition.
https://github.com/kubernetes-sigs/scheduler-plugins/blob/57499a6332c124314020a368c862b8b97470cc11/pkg/coscheduling

[2022-05-31 12:19] assafaa commented on #109996
Hey guys,

This issue happens to us as well.
A server with two Numa nodes [0,1] might change total memory on boot without any hardware changes.
Each bear-metal server boots we delete the state file.

[2022-05-31 12:39] XiShanYongYe-Chang opened #110305 "Failed to `Running an example Job` in kubernetes document"
When I run a `Job` following to the example in the [kubernetes document](https://kubernetes.io/docs/concepts/workloads/controllers/job/#running-an-example-job), the pod generated by the job fails to run:

[code]

This should be due to the release of the v5.36.0 of the `perl` image,  The previous version v5.34.0 image I tried worked fine.

[2022-05-31 12:48] sftim commented on #110281
/sig cloud-provider

[2022-05-31 12:50] adampl commented on #58198
@Dieken please reopen.

[2022-05-31 12:52] adampl commented on #78757
@blepoutr please reopen.

[2022-05-31 12:54] sftim commented on #110080
Rather than rollback, perhaps the API server could track and update a hint about when to schedule the next sweep? (for example: a heuristic to bring the sweep forward, if the last sweep was a no-op and a request to persists has failed).]

_I didn't look to see if something like this is already implemented_

[2022-05-31 12:54] Huimintai commented on #110288
Yes,I use systemd.

[2022-05-31 12:56] xrmzju opened #110306 "Pod with initcontainer runs into `TopologyAffinityError`"
### What happened?

pod failed to pass topologymanager  Admit function
<img width="764" alt="image" src="https://user-images.githubusercontent.com/27884109/171174950-c5ef379a-8bf8-4e88-9535-efe49b650345.png">

### What did you expect to happen?

pod success to start

### How can we reproduce it (as minimally and precisely as possible)?

1. kubelet run with `topologyManagerPolicy: single-numa-node`

[2022-05-31 12:56] xrmzju commented on #110306
/sig-node

[2022-05-31 12:57] xrmzju commented on #110306
@klueska would you mind take a look at this issue please？

[2022-05-31 13:07] klueska commented on #110306
This is a known bug with a fairly simple workaround:
https://github.com/kubernetes/kubernetes/issues/94220#issuecomment-868489201

[2022-05-31 13:17] xrmzju commented on #110306
sorry i miss that.  By the way,  would this issue be solved by set `topology-manager-scope`  to `pod`?

[2022-05-31 13:28] pohly commented on #105678
@hunknownz : do you want to continue with  test/e2e/apimachinery?

[2022-05-31 13:40] hunknownz commented on #105678
Yes

[2022-05-31 13:59] alculquicondor commented on #106886
That would be great. Please go ahead.

[2022-05-31 14:11] Volatus commented on #105204
Same issue for me, EKS specifically seems to have 1.22.6 which does not have this fix.

[2022-05-31 14:49] flokli commented on #76570
/remove-lifecycle stale

[2022-05-31 14:56] lastoCHka42 opened #110789 "Add means to fetch container logs when init container fails"
Please add a way to debug why pod have `Init: CrashLoopBackOff`. For now if we have this error and try to find the reason of error we have:
[code]
So we can't get logs because there is error on the start and we cant fix error because we can't get logs.

It would be really useful if there was a way to get error message.

Thank you!

[2022-05-31 14:58] yangjunmyfm192085 commented on #110306
/sig node

[2022-05-31 15:23] xing-yang commented on #109910
@dims Can this issue be closed now?  I think the failing tests are either fixed or disabled now.

[2022-05-31 15:34] yonatankahana commented on #109910
@xing-yang they are still not fixed in `nfs-subdir-external-provisioner`, but merging https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/208 and https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/209 should solve that (hopefully)

[2022-05-31 15:42] sergelogvinov commented on #88820
@timoreimann

Can we add 5-minute uptime wait before trying to delete the uninitialized node?

It is enough to initialize (set ProviderID and other labels) the node by another CCM. After that, CCM with different ProviderID will not touch the foreign node.

example: https://github.com/sergelogvinov/cloud-provider/commit/ef3c7fed6ddfe7b7525a1c51cf1b7aa90ad75162

[2022-05-31 15:59] kerthcet commented on #108444
/remove-lifecycle stale

[2022-05-31 16:01] dims commented on #109910
@xing-yang please feel free to close the issue when you feel right.

[2022-05-31 16:01] rphillips opened #110309 "Kubelet Readiness Probes do not run during pod termination"
### What happened?

Kubelet probes are stopped during pod termination. Readiness probes should run during termination to allow for load balancers and other controllers to observe the pod shutting down, so the pod is removed from various endpoints and services.

### What did you expect to happen?

I expect readiness probes to run during termination within the Kubelet. If the Pod has a readiness pro

[2022-05-31 17:30] InonS commented on #69697
@getkub , the code you gave patches all PVs, the `grep -v Terminating` acts on the PV name, not its status...

My suggestion:
[code]

[2022-05-31 18:26] isibeni commented on #109712
I would vote for a backOffLimit per Index.
Regarding on how we need to treat the failure case:
It might make sense to let the user define some kind of failure policy so the user can decide how the job behaves and in which case we should continue to create pods or should stop completely. We should collect a list of all possible behaviours that we could implement and think about how much sense they

[2022-05-31 18:27] danwinship commented on #109575
So do we expect alternative service proxy implementations to also "redundantly" implement this functionality?

(It appears that MetalLB expects that the proxy will do this for it.)

[2022-05-31 18:28] Huang-Wei commented on #110175
Thanks @sanposhiho for bringing this up. Some comments below:

You're right. Pods failed by PodTopologySpread may not get re-queued immediately.
However, an assigned Pod's add/update event would only impact unschedulable Pods with cross-node
scheduling directives. As of today, it's InterPodAffinity and PodTopologySpread.

So instead of "pass all unscheduled Pods to movePodsToActiveOrBackoffQueue",

[2022-05-31 18:33] RichardoC commented on #104252
/remove-lifecycle stale

[2022-05-31 18:55] #108364 closed

[2022-05-31 19:19] jensentanlo commented on #109712
Back off limit per pod would definitely be useful. I was thinking about customizing failure policy and wrote a bit here: https://github.com/kubernetes/kubernetes/issues/17244#issuecomment-1119688094

Would that cover the failure modes that you’re thinking of?

[2022-05-31 19:32] IgorOhrimenko commented on #106464
@jcpuzic, thanks, it's work for me.
Debian 11 bullseye
5.10.0-14-amd64 5.10.113-1 (2022-04-29)
Kubernetes 1.24.1

<details>
<summary>There are steps for installing work well kubernetes cluster</summary>

[code]
</details>

[2022-05-31 19:53] #102545 closed

[2022-05-31 21:51] apelisse commented on #65973
cc @alexzielenski

[2022-05-31 22:52] Michael0x2a commented on #80397
Heyo -- we're running into a similar issue as this with our Kubernetes cluster.

Is there anything I can do to help get https://github.com/kubernetes/kubernetes/pull/85815 landed?

/reopen

[2022-05-31 23:08] SergeyKanzhelev opened #110312 "registry.mirrors conainerd config is deprecated, need to move to hosts.toml based config"
In tests and here:
https://github.com/kubernetes/kubernetes/blob/62d9f8ba80f4cc660a88dcc34f56c5c6f7df17ea/cluster/gce/gci/configure-helper.sh#L3086-L3091 containerd config is using deprecated way configuring mirrors. Need to switch to the hosts.toml based approach.

/kind cleanup
/sig node
/area test

[2022-05-31 23:14] SergeyKanzhelev commented on #110312
/cc @qiutongs

[2022-06-01 00:18] sanposhiho commented on #110175
to come up with a solution like:

If we do so, also, we need to provide the way to pass Pods to `movePodsToActiveOrBackoffQueue` like `getUnschedulablePodsWithPodTopologySpreadConstraints` for out-of-tree plugins?

call would behave more efficiently.

Ah~, that's a good idea :)

Maybe like this (similar to https://github.com/kubernetes/kubernetes/issues/110175#issuecomment-1141952386)

1. a user u

[2022-06-01 00:48] Patricol commented on #100483
/reopen
/remove-lifecycle rotten

[2022-06-01 01:45] ash2k commented on #89899
One more thing a new protocol needs to support is resetting a steam - meaning no data should be sent by both parties and anything received should be discarded.

[2022-06-01 02:14] thehackercat commented on #109282
I wonder if we can just remove the logic of `AskApiserver` ？

[2022-06-01 03:18] SOF3 opened #110315 "Add endpoint tag to apiserver_admission_webhook_admission_* metrics"
### What would you like to be added?

When aggregator routing is enabled, kube-apiserver creates a direct connection to one of the webhook service endpoints for admission webhooks configured through services. The address and port of the selected endpoint can be added as a tag to the apiserver_admission_webhook_admission_\* metrics.

### Why is this needed?

apiserver may be suffering from latency

[2022-06-01 04:02] bamboo12366 opened #110317 "supporting horizontal-pod-autoscaler-sync-period configuration per hpa resource"
### What would you like to be added?

Can we add the sync-period configurable in every hpa? may be can pass by using annotation. If not passing this variable can using the controller default one.

### Why is this needed?

Current `horizontal-pod-autoscaler-sync-period` is controller level config. In our environment, some workload are much sensitive than other(consider they want to check whether ca

[2022-06-01 04:03] bamboo12366 commented on #110317
/sig autoscaling

[2022-06-01 04:09] FillZpp commented on #109282
+1, list all Pods in a namespace from apiserver is a bad idea, it will be terrible when there are a large number of Pods and PVCs.

If we are concerning that some Pods using this PVC may have not synced into cache yet, how about multiple check from informer with a little backoff:

1. For a terminating PVC that find not in-use from `askInformer`, record into a memory cache, and then `queue.AddAfter

[2022-06-01 05:02] vnev commented on #71869
Could configuring disk size via [this](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/) `KubeletConfiguration` help resolve this issue? I noticed this in the architecture docs for K8s under garbage collection: `The [kubelet](https://kubernetes.io/docs/reference/generated/kubelet) performs garbage collection on unused images every five minutes and on unused containers every

[2022-06-01 06:36] silenceper commented on #110231
After adjusting the master host mtu size, it is normal

[2022-06-01 06:36] #110231 closed

[2022-06-01 06:57] aryan9600 commented on #109554
@silenceshell I understand your point, but I don't think it falls within the scope of this. `DisableLockCreation` is a way to prevent the leader elector from creating a lock only when it's not found.
 @roycaihw would you be for changing the `Update` method of locks to use `Patch` instead of update for modification? Alternatively, if `DisableLockCreation` is `true`,  we could try fetching the lock

[2022-06-01 07:53] isibeni commented on #109712
I was more thinking off what we would need to do when one index reaches it's backOffLimit. We could do the following
* Count this index as failed, but still continue with all the other indexes. So the same behaviour then as if this index would have been completed but we would declare the job overall as failed
* Count the index as failed. Let current pods run to completion and then don't continue t

[2022-06-01 08:22] 249043822 commented on #110070
the probe manager actually passed the timeout param to cri-api, but in dockershim, it calls docker client to run exec in container, docker does not provider timeout for this,   if you change runtime to containerd, you'll find it's okay

[2022-06-01 08:24] 249043822 commented on #110070
/area docker

[2022-06-01 08:51] aojea commented on #110315
can not this be a problem with metric cardinality explosion?

[2022-06-01 08:57] JiaruiTracy opened #110325 "Windows nodes pod CreateContainerError with "invalid mount config for type "bind": source path must be a directory""
### What happened?

### I'm trying to setup my k8s cluster Windows worker node on a workstation PC with docker as container runtime. However, my pod is always failed with status CreateContainerError. Steps I followed to setup windows node:
1. Install Docker: [https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/set-up-environment?tabs=Windows-Server#install-docker](url)
2.

[2022-06-01 09:45] ddongchen commented on #74779
I found no one cares about that, so I didn't do anything

[2022-06-01 10:20] aojea commented on #82268
it seems this was fixed in 1.22

https://github.com/kubernetes/kubernetes/issues/109414#issuecomment-1126203054

/close

[2022-06-01 10:26] aojea commented on #110301
for a bug fix we should have a test reproducing the issue so we can cover the regressions, you can check in https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier_test.go for some examples, but based on that example I think we should be able to reproduce that behavior with an unit test :thinking:

[2022-06-01 11:10] endocrimes commented on #110070
/remove-area docker

yeah - This is on my list to see if i can repro in crio/containerd before I call it closed.

[2022-06-01 12:02] gnufied commented on #96635
Is this still an issue? I wonder if fixes @liggitt made in https://github.com/kubernetes/kubernetes/issues/105204 helped solve the issue. I wrote following script to try and reproduce it and I let it run for 3-4 hours and I could not see an single instance of pod stuck in terminating state:

[code]

The job history looks clean too - https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kub

[2022-06-01 13:06] danwinship commented on #81677
It seems like a lot of people want be able to flip the primary address family of their cluster. (eg, they migrated a single-stack IPv4 cluster to dual-stack IPv4 primary, but really want dual-stack IPv6 primary, and maybe someday single-stack IPv6).

The big problem with changing primary address family was that it would require changing the IP of `kubernetes.default`. So if we're going to allow ch

[2022-06-01 13:35] ibihim commented on #108158
/remove-lifecycle stale

[2022-06-01 14:25] #108555 closed

[2022-06-01 14:34] jakubmatyszewski commented on #106464
@IgorOhrimenko
Thanks, I followed your steps and it finally fixed the issue.
Based on your steps, I created ansible playbook if anybody also needs one.
[code]

[2022-06-01 14:42] neolit123 commented on #110170
/close

please try asking on https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
if a bug is confirmed reopen with more details.

[2022-06-01 14:43] neolit123 commented on #110149
/sig scheduling

[2022-06-01 14:44] neolit123 commented on #110149
/sig scheduling

[2022-06-01 14:46] neolit123 commented on #110299
please try asking for help on https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-06-01 14:46] #110299 closed

[2022-06-01 14:49] neolit123 commented on #110262
please reopen if related to this repository.

/close

[2022-06-01 14:50] #110262 closed

[2022-06-01 14:54] yonatankahana commented on #109910
@xing-yang the PRs in `nfs-subdir-external-provisioner` merged and our internal tests looks [good](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-nfs-subdir-external-provisioner-push-images/1531844761130897408).
the next schedule for the failing canary build is in one week (07.06.22), there is a way to trigger it now so we can confirm that it all solved?

[2022-06-01 15:25] designirisagent commented on #110309
- #106464
- #109910

[2022-06-01 15:29] designirisagent commented on #110309
### Related issues by IrisAgent
#106464
#109910
#110191
#110327

[2022-06-01 17:06] dashpole commented on #103186
/remove-lifecycle stale

[2022-06-01 17:18] SergeyKanzhelev commented on #109703
/triage accepted
/priority backlog

[2022-06-01 17:21] SergeyKanzhelev commented on #109851
/triage accepted

[2022-06-01 17:25] SergeyKanzhelev commented on #110312
/triage accepted
/priority backlog

[2022-06-01 17:26] SergeyKanzhelev commented on #110312
/assign @matthyx

[2022-06-01 17:30] SergeyKanzhelev commented on #109996
@swatisehgal have you had a chance to look at it? If it is a bug please triage accept it, thank you

[2022-06-01 17:38] msau42 commented on #109335
cc @mattcary

[2022-06-01 17:39] SergeyKanzhelev commented on #110070
/triage needs-information

/assign @haircommander

(Peter to check on CRI-O. Currently we believe it is only dockershim and there is no plans to improve this behavior since dockershim was removed

[2022-06-01 17:46] SergeyKanzhelev commented on #110181
/triage needs-information

need to understand if this is critical enough to warrant a fix in release branches.

@shmurata what are conditions when sandboxes are leaking? Is it happening all the time?

[2022-06-01 17:47] SergeyKanzhelev commented on #110084
/triage needs-information

Does it repro on older versions of K8s? 1.20 is out of support and reasonably old, perhaps the logic was already fixed.

[2022-06-01 17:50] SergeyKanzhelev commented on #110084
is it failing on specific fork of k8s? Would be great if you can reference the code that is failing, like @endocrimes mentioned - panic message will help very much

[2022-06-01 17:51] SergeyKanzhelev commented on #110083
/triage needs-information

[2022-06-01 17:52] SergeyKanzhelev commented on #110216
/assign @fromanirh

to triage

[2022-06-01 17:53] SergeyKanzhelev commented on #102537
/assign @rphillips

[2022-06-01 17:56] SergeyKanzhelev commented on #110325
@JiaruiTracy can you please try to create a bug on cri-dockerd repository to understand if this is k8s or cri issue. We haven't seen this issue with other runtimes.

/triage needs-information

[2022-06-01 17:59] #110306 closed

[2022-06-01 18:00] SergeyKanzhelev commented on #110261
/remove-sig node

since it looks to be a known windows issue

[2022-06-01 18:00] rphillips commented on #102537
I looked into this issue while working on issue https://github.com/kubernetes/kubernetes/issues/110309 and the PR https://github.com/kubernetes/kubernetes/pull/110191. When a pod does not contain a readiness probe K8S will only set the readiness=false upon termination of the pod. Historically, the pod will need a readiness probe to be set to false during termination.

I commented [here](https://gi

[2022-06-01 18:09] nonylene commented on #102537
Thank you, I understand.
If these are defined as an expexted behavior, documentation should be corrected but https://github.com/kubernetes/website/issues/30765 is not triaged yet

[2022-06-01 18:21] marosset commented on #109161
/cc @claudiubelu @jsturtevant
as FYI

[2022-06-01 18:32] marosset commented on #109161
I see two possible paths forward

- Continue to host the source for the intermediate layer at https://github.com/microsoft/windows-pause-image-base, publish the image to `mcr.microsoft.com/oss/kubernetes/windows-pause-image-base`, and then update the Windows pause build docker files in k/k to consume this image instead of the `mcr.microsoft.com/windows/nanoserver`

or

- Create a new kubernetes-si

[2022-06-01 18:46] harshanarayana opened #110335 "FakeEvents Fails to work with Namespaced `InvolvedObject` when Sink is created with `""` namepsace"
### What happened?

Opening this issue based on what I ran into on https://github.com/kubernetes/kubernetes/pull/110294#discussion_r886843349

[code]

[Controller manager sets up an event Sink](https://github.com/kubernetes/kubernetes/blob/ea069361cdaa01e7ac89a1a217a46e7908112271/pkg/controller/job/job_controller.go#L184) with `""` namespace  as follows

[code]

While unit testing the controller,

[2022-06-01 18:53] csantanapr opened #110336 "1.25 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.25 Release Notes. If you know of issues or API changes that are going out in 1.25, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @csantanapr @orsenthil @Divya063 @ramrodo @DiptoChakrabarty

/sig release
/milestone v1.25

[2022-06-01 19:03] #106635 closed

[2022-06-01 19:11] kitarp29 commented on #110248
Hi @neolit123
Sorry for the stupid question but where can I learn about these tags the bots and you used?

[2022-06-01 19:20] vinpai opened #110338 "Vulnerability in github.com/emicklei/go-restful library"
There is a vulnerability shown by this library in Snyk which has now been fixed. Any chance we can update the client-go library to include this fix in its go.mod ?
Snyk vulnerability: https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMEMICKLEIGORESTFUL-2435653
Commit with the fix: https://github.com/emicklei/go-restful/tree/a2ff8b3f817635c0517a65055c36901e62e96ecb

[2022-06-01 19:30] n-branigan commented on #80346
Has any other way to access container image/imageid from within a container come up or is this still an open issue?

[2022-06-01 19:50] SergeyKanzhelev commented on #107412
/remove-lifecycle stale

still failing with:

[code]

[2022-06-01 19:52] jensentanlo commented on #109712
I agree that the first scenario is preferable as a default and I think that’s what most people expect. The other cases could be covered by the customizable failure codes, as mentioned in the other discussion that I linked.

[2022-06-01 19:55] dims opened #110339 "[windows] Failure cluster [4482c2b4...] [sig-node] Pods should contain environment variables for services"
### Failure cluster [4482c2b4cf127b8c4ebe](https://go.k8s.io/triage#4482c2b4cf127b8c4ebe)

##### Error text:
[code]
#### Recent failures:
[6/1/2022, 1:52:06 PM ci-kubernetes-e2e-capz-master-containerd-windows-2022](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows-2022/1532057374930505728)
[6/1/2022, 12:33:07 PM ci-kubernetes-e2e-capz-master-conta

[2022-06-01 19:56] lpgc commented on #80346
not to the best of my knowledge, I have been looking at perhaps a workaround whereby using 'events' determining the process id of the container and then correlating that with the metadata available in /proc ... but this is to enable an external process to introspect on a running container, and not for a process within a running container to obtain either its image or container ids ...

[2022-06-01 20:05] dariodsa commented on #110149
Yes, either skip it or score it with 0 points. I mean you have to give it a
score, but then it should be equal among all nodes which currently isn't
the case.

On Wed, 1 Jun 2022, 22:01 Mike Dame, ***@***.***> wrote:

[2022-06-01 20:07] gnufied commented on #96635
Hmm, I take my previous comment back. It appears that the error condition is still a valid bug and reproducible.

[2022-06-01 20:08] cfiderer commented on #80346
My hackaround:

- Read the pod name from Downward API, then get the `pod` object from the K8s Client API.
- Extract further information from the `pod` status.
- Requires `get;list;watch` access to `v1/pods`.

Not nice, but it works... :unamused:

[2022-06-01 20:10] davidbIQ commented on #107053
I'll like to just be able to do a kubectl delete -l "app=mypodname*"
It would be a 100 times quicker than the xargs multiple pipes to a repeated kubectl cmd & much simpler syntax.  fancy regex not required just a star (or wildcard of choice) for when service creators put their label to be the full pod name and then spin up 100 of them...  (slowly with a cronjob... every 10 mins)... :)

[2022-06-01 20:21] jsturtevant commented on #110339
should be fixed by https://github.com/kubernetes/kubernetes/pull/110235

[2022-06-01 20:25] SergeyKanzhelev opened #110340 "pr-kubelet-gce-e2e-swap-fedora-serial fail to run"
The test https://testgrid.k8s.io/sig-node-presubmits#pr-kubelet-gce-e2e-swap-fedora-serial fails to start

/priority important-soon
/sig node
/area test
/kind failing-test

[2022-06-01 20:25] SergeyKanzhelev commented on #110340
/assign @mmiranda96

(as discussed at CI meeting today)

[2022-06-01 20:25] pcj commented on #104980
@mmeekah you can just `go get -u k8s.io/utils@latest`, which will take the most recent of https://pkg.go.dev/k8s.io/utils?tab=versions

[2022-06-01 20:27] jsturtevant commented on #110339
/triage accepted
/priority critical-urgent

[2022-06-01 20:36] lpgc commented on #80346
IMO this needs to be solved not only for k8s but for any OCI compliant r/t, not sure why its such a challenge and has languished as per: [https://github.com/opencontainers/runtime-spec/issues/1105](url)

[2022-06-01 20:57] alculquicondor commented on #17244
As usual, the devil is in the details. @mimowa and I will upload a proposal soon for kubernetes/enhancements#3329

[2022-06-01 21:31] Dr-Ogden-Wernstrom commented on #110325
I'm experiencing the same issue so even though I'm very new to this I attempted to investigate on the 'cri-dockerd' side.

I believe the problem is that (ref the issue description above) `c:\var\lib\kubelet\pods\987c6f99-5bf3-428d-81b4-eaecf1d1da25\containers\kube-flannel\4d87a17f` has been created as a file as opposed to a directory and that mounting files as volumes is not possible on Windows (h

[2022-06-01 21:58] neolit123 commented on #110248
hi, the commands are here:
https://prow.k8s.io/command-help

for more questions on how these work, you can ask in #sig-testing on k8s slack.

[2022-06-01 22:50] msau42 commented on #85624
It looks like this issue has been fixed in both docker, and containerd (v1.6.0)

[2022-06-01 23:34] robscott commented on #108231
/remove-lifecycle stale

[2022-06-01 23:48] robscott commented on #108231
I understand the bug now - it looks the root issue is here:

https://github.com/kubernetes/kubernetes/blob/cb0e460343fef35135065264d6db53e1b1597b8c/pkg/controller/endpointslice/reconciler.go#L206-L224

Essentially we'd consider the previous placeholder EndpointSlice no longer desired, mark it for deletion, and then that would mean no EndpointSlices would be left, triggering a new placeholder slice

[2022-06-01 23:49] mattcary commented on #85624
I've done a little local testing and it seems 1.5.11 (as present in GKE 1.23) is sufficient. The following simpler repro works in 1.23+, but /disks/ doesn't appear in 1.22.

[code]

[2022-06-01 23:58] robscott commented on #108231
/assign @spencerhance

[2022-06-01 23:58] robscott commented on #108231
/assign

[2022-06-02 01:48] keyingliu commented on #110325
kubernetes 1.24 removed dockershim support, and single file mount handling has been changed:
in 1.23: `supportsSingleFileMapping := kl.containerRuntime.SupportsSingleFileMapping()` is used and etc-hosts and TerminationMessagePath are handled specially for windows
but in 1.24, this handling has been removed, no SupportsSingleFileMapping anymore.

[2022-06-02 02:39] gaohuatao-1 commented on #110084
Yes， we fork from v1.20 , but  the latest version has the same problem.  When we add custom key-value to pod.Annotations in generatePodSandboxConfig func， the panic will trigger.

[2022-06-02 02:45] gaohuatao-1 commented on #110084
In some scenarios, the user will add custom key-value to pod.Annotations in generatePodSandboxConfig func and pass them to the runtime， such as containerd.

[2022-06-02 02:48] mc0 commented on #89936
/reopen

Any guidance on how to proceed with fixing this?

[2022-06-02 02:50] mc0 commented on #75565
I filed https://github.com/kubernetes/kubernetes/issues/89936 a while back and I believe it would help with the overall CPU usage (for projects like kind/minikube).

[2022-06-02 04:13] Dieken commented on #58198
/reopen

[2022-06-02 08:12] shmurata commented on #110181
@SergeyKanzhelev The detailed conditions are not known. In our environment, it seems to occur mostly in the case of relatively short-lived (5m, 30m) pods.
We regularly create short-lived pods, which regularly result in undeleted sandbox containers.
In some cases, clusters with many such pods had more than 5,000 containers on a single node.

[2022-06-02 08:45] Dr-Ogden-Wernstrom commented on #110325
Does this mean that the single file support detection (and subsequent special handling)  should have been moved into cri-dockered (replaces the dockershim)?

[2022-06-02 09:27] #101969 closed

[2022-06-02 10:06] aojea commented on #109575
why redundant? I think that we can't assume LoadBalancer = Cloud Provider = Cloud Firewall ... MetalLB is a good example of why we can't assume that, so it will be only redundant for a subset of clusters

Funny thing is that the test we have to verify this field assumes that :upside_down_face:

https://github.com/kubernetes/kubernetes/blob/63dce95fd22109a60abdb440d7da327323065847/test/e2e/network/

[2022-06-02 10:26] wirwolf commented on #105536
Also reproduced on v1.21.13, csi-provider is longhorn 1.2.4

[2022-06-02 10:46] marseel opened #110341 "Node lifecycle controller makes api calls under lock"
### What happened?

During scale testing, as sig-scalability, we observed that node-lifecycle-controller (https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_controller.go) was unable to process nodes  in reasonable time due to lock contention.

Example log:
[code]
The difference between log timestamp 19:06:29.860 and decision timestamp 19:06:09.8729554

[2022-06-02 10:50] rkojedzinszky opened #110342 "Cannot upgrade 32bit nodes from 1.22 to 1.24"
### What happened?

Kubelet in 1.23 crashes on 32bit arm architectures (https://github.com/kubernetes/kubernetes/issues/106977). 1.24 has a fix for it, howewer 1.23 still does not. And upgrade procedure is to upgrade from 1.22 to 1.23, then from 1.23 to 1.24, which is now impossible.

### What did you expect to happen?

Expected to upgrade from 1.22 to 1.23 without issues.

### How can we reproduc

[2022-06-02 10:52] eero-t commented on #109920
And https://github.com/kubernetes/kubernetes/issues/96242 will make the issue only worse.

[2022-06-02 10:54] rkojedzinszky commented on #110342
/sig node
/sig cluster-lifecycle

[2022-06-02 11:05] aojea commented on #110341
/priority important-soon
/sig scalability
nice catch

[2022-06-02 11:12] aojea commented on #110341
hmm, `DeletePods` is called from 3 different places under lock too

https://github.com/kubernetes/kubernetes/blob/03d0e2c3389db981fbc6234a9e121a99243d7aab/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L1434

and this functions seems ti can take some time to run on nodes with a lot of pods

https://github.com/kubernetes/kubernetes/blob/03d0e2c3389db981fbc6234a9e121a99243d7aab/pkg/contro

[2022-06-02 12:08] sftim commented on #107053
That's actually a label selector, not a field selector. @davidbIQ you might want to submit that request as its own issue, as it is different from the original request.

You might also like to ask on (eg) Server Fault, something like: if I have an owning object such as CronJob, how can I find the names of its Pods so that I can delete them?

(there are already ways you can do that using `kubectl` a

[2022-06-02 12:16] endocrimes commented on #110084
You should probably handle this in your fork rather than here - We won't be backporting that far back, and we don't expect annotations to mutate here.

/close

[2022-06-02 12:16] #110084 closed

[2022-06-02 12:29] dims commented on #110338
/sig api-machinery

[2022-06-02 12:33] neolit123 commented on #110342
Panics are usually eligible for backport.

You can also try using the 1.24 kubelet directly. It might work depending on features between 22 and 24.

[2022-06-02 12:59] wojtek-t commented on #110341
/triage accepted

[2022-06-02 13:00] bodhi-one commented on #89936
/remove-lifecycle rotten

[2022-06-02 13:04] sftim commented on #110349
BTW, for extra credit: support [hop-by-hop compression](https://developer.mozilla.org/en-US/docs/Web/HTTP/Compression#hop-by-hop_compression) too.

Of course, `kubectl` doesn't yet support hop-by-hop compression, but some generic tools (eg `curl`) do.

Clients can combine what they negotiate, too: for example, preferring `application/vnd.kubernetes.protobuf` data and also advertising that they sup

[2022-06-02 14:12] Udayendu opened #110352 "[Upgrade] kubelet failed to start after kubernetes master node upgrade from v1.23.7 to v1.24.1"
### What happened?

Upgrade went well but kubelet failed to start on the kubernetes node with the following error:

[code]

[code]

[code]

### What did you expect to happen?

When did the upgrade from v1.23.0 to v1.23.7, it worked. But then upgrade to v1.24.1 failed.
And now is available in not ready state:

[code]

### How can we reproduce it (as minimally and precisely as possible)?

Upgrade th

[2022-06-02 14:33] mkumatag commented on #109161
This looks more promising because this image you are creating is not a specific change for the pause container, IMO if we can change that image name to something generic and use the same wherever required.

[2022-06-02 14:39] wojtek-t commented on #108483
We're getting there - this is where we are now:
[code]

I have a bit more in my local branch to upstream, but I need to clean them up and may not have time in the next week or so.

[2022-06-02 14:50] maxb commented on #69041
I've just found this issue after encountering the error message, and would like to ask:

Does anyone understand WHY this restriction is in place? Adding new volumeClaimTemplates is not the only issue - it would be nice to be able to update the sizes of existing ones. I don't expect this to resize existing volumes, but it should be possible to specify a new size for future scaling up.

[2022-06-02 14:55] neolit123 commented on #110352
There is no more built in docker support in 1.24
Please see https://kubernetes.io/blog/2022/02/17/dockershim-faq/

/sig node
/kind support
/close

[2022-06-02 14:55] #110352 closed

[2022-06-02 15:05] daveoy opened #110357 "add resolv.conf domain settings to injected search domains"
### What happened?

the kubelet does not add the 'domain' setting from resolv.conf into pods spawned on nodes that include that setting. at the OS level, the 'domain' setting of resolv.conf will be used as the first search domain for dns resolution and I believe this should be expected behaviour inside of pods scheduled on nodes which include that setting.

### What did you expect to happen?

i ex

[2022-06-02 15:32] #107184 closed

[2022-06-02 15:55] apelisse commented on #100012
The OpenAPI schema advertises the types of patch available on each endpoint, so basically, you could build a strategic-merge-patch if it's supported, fallback to json merge patch if it's not? That information is available in the `paths` part of the OpenAPI, for the PATCH operation, you should be able to see the valid `Content-Types`.

e.g.
[code]

[2022-06-02 15:57] apelisse commented on #100012
But I think what Jordan is arguing also is that we should use the OpenAPI before all (and basically never use the built-in types struct information at that point).

[2022-06-02 16:31] pservit commented on #71869
I had similar issue when sharing same docker for k8s and building images on dev cluster.

[2022-06-02 16:34] danwinship commented on #109575
well, the documentation of `LoadBalancerSourceRanges` explicitly states that it is the cloud provider that implements the feature, and that "`This field will be ignored if the cloud-provider does not support the feature.`"

We absolutely assume that.

[code]

MetalLB is cheating and modifying Services behind Kubernetes's back in a way which is not documented as working/supported, and it only works

[2022-06-02 16:35] MadhavJivrajani commented on #110341
I tried a little something here: https://github.com/kubernetes/kubernetes/pull/110359

Based on this comment:
https://github.com/kubernetes/kubernetes/blob/451e1fa8bcff38b87504eebd414948e505526d01/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L280

maybe we can refactor some of the logic to only hold the lock when needed and not for the entire lifecycle of the function

[2022-06-02 16:36] dgrisonnet commented on #110315
From a quick look, this sounds similar to https://github.com/kubernetes/kubernetes/pull/108468

[2022-06-02 16:37] MadhavJivrajani commented on #110341
/sig apps
for visibility

[2022-06-02 16:38] logicalhan commented on #110160
/assign @dgrisonnet

[2022-06-02 16:43] leilajal commented on #110338
/cc @Jefftree
/triage accepted

[2022-06-02 16:44] leilajal commented on #110335
/help
/triage accepted

[2022-06-02 16:44] leilajal commented on #110315
/triage accepted

[2022-06-02 16:45] leilajal commented on #110254
@hunknownz thank you, are you going to send PR for this clean up?
/triage accepted

[2022-06-02 16:46] leilajal commented on #110248
thanks @kitarp29 for working on this.
/triage accepted

[2022-06-02 16:46] marosset commented on #106752
I believe @jayunit100 added test cases for this but we are not running them on Windows nodes.
Some of the Windows tests are using calico as the CNI which should support network policy.

[2022-06-02 16:46] marosset commented on #106752
/triage accepted
/assign @claudiubelu

[2022-06-02 16:47] jsturtevant commented on #109780
AKS uses winkernel kubeproxy.  I will take a look at this.

[2022-06-02 16:47] jsturtevant commented on #109780
/assign

[2022-06-02 16:52] marosset commented on #93276
/lifecycle frozen

[2022-06-02 17:27] marosset commented on #110325
Docker on windows (moby and Docker EE) use v1 [HCS](https://docs.microsoft.com/en-us/virtualization/api/hcs/overview) APIs which do not support single-file volume mapping into containers.
ContainerD uses v2 HCS APIs which do.

When `containerRuntime.SupportSingleFileMapping()` was added it used the `--container-runtime` arg and skipped adding the updated `etc/hosts` file into containers if that wa

[2022-06-02 17:28] marosset commented on #110325
@claudiubelu as FYI too since you authored the PR that added in the `containerRuntime.SupportSingleFileMapping()`

[2022-06-02 18:55] mk46 commented on #109707
Hi @neolit123, I would like to work on https://github.com/kubernetes/kubernetes/pull/109533#issuecomment-1140822955
Make sense to backport in v1.22, v1.23 & v1.24?
Thanks!!

[2022-06-02 19:20] jasondamour commented on #46861
That’s not a good solution, we can’t cause a production downtime just because of a technicality which could be easily resolved

[2022-06-02 19:28] neolit123 commented on #109707
hi, it makes sense to me, but requires approval from dependency maintainers.
i can only approve the kubeadm changes.

[2022-06-02 19:44] frachel commented on #99061
@andyzhangx just wanted to clarify - if we upgrade an existing cluster right now it will get fixed image on the nodes? And if we did the upgrade prior to the fix then we can just reimage the scaleset?

[2022-06-02 19:54] kennu commented on #79224
I need to use the same secret in multiple pods where it is used in differently named environment variables. It seems strange that I cannot refer to the same secret from multiple ConfigMaps, so that I use the ConfigMaps to define the different environment variable names and keep the shared secret value in the secret. Instead I have to move one environment variable away from the ConfigMap into the p

[2022-06-02 19:59] gnufied commented on #96635
I was taking a look at reproducing and fixing this issue and wanted to post my findings. Basically what is happening is:

1. Pods gets created.
2. While pod was running secret is deleted.
3. Kubelet gets restarted.
4. Kubelet does reconstruction and volume gets added to DSOW. It would have got added to DSOW anyways, because pod was still running. The key thing is volume does not get added to ASOW

[2022-06-02 20:04] gnufied commented on #70044
I can confirm that this bug is essentially a duplicate of https://github.com/kubernetes/kubernetes/issues/96635 . We can keep this open for now since it has some excellent steps to reproduce etc by @Oats87 and @brandond above. I have posted my findings here - https://github.com/kubernetes/kubernetes/issues/96635#issuecomment-1145286675 and taking a stab at fixing it.

/assign

[2022-06-02 20:04] gnufied commented on #96635
/assign

[2022-06-02 20:17] apelisse commented on #110248
I think that's what @kevindelgado has done, but I'm really not sure what you're trying to accomplish.

Can you give an example of the experience you're looking for? What are the commands you would run and what would the output be?

[2022-06-02 20:23] kitarp29 commented on #110248
Suppose I apply a new YAML, which has some syntax error.
So, before actually sending the broken YAML to the next step the API Server could tell the user that the YAML is broken at this line.

I had broken a cluster once because I had used an extra space in the YAML.

[2022-06-02 20:25] apelisse commented on #110248
Yeah, I think that's what we fixed, tell me if that makes sense:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2885-server-side-unknown-field-validation

[2022-06-02 20:26] #109707 closed

[2022-06-02 21:19] Huang-Wei commented on #110175
Nope, that is something the scheduler core needs to implement.

Thanks. It makes sense to me.

A customizable PreCheck approach for sure can satisfy more dynamic cases, but it's inappropriate to associate it with ClusterEvent as (1) ClusterEvent is basically an immutable constant, and (2) we use it to [[map](https://github.com/kubernetes/kubernetes/blob/9f82d81e55cafdedab619ea25cabf5d42736dacf/pkg

[2022-06-02 23:58] kitarp29 commented on #110248
Yes @apelisse, it looks like this covers most of what I had in my mind.
But still, is it checking for a syntax error in YAML or JSON files?

It is checking for fields but could not see anything that checks the syntax.

[2022-06-03 00:18] jsturtevant commented on #110143
sounds like you are able to reproduce on a supported version.  What are the steps to reproduce?

[2022-06-03 00:54] dcantah commented on #110261
Asked some SMB folks. In the meantime I've been lookin around and https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getdiskfreespaceexa may be an avenue. Believe it works on smb shares,I can report back tomorrow.

[2022-06-03 01:57] BenTheElder commented on #109161
I think those both sound reasonable personally.

I think it's technically feasible to push from GitHub actions to staging GCR with workload identity but nobody has done this yet in Kubernetes.

[2022-06-03 02:02] hunknownz commented on #110254
Yes. Currently I'm working on it.

[2022-06-03 02:02] hunknownz commented on #110254
/assign @hunknownz

[2022-06-03 03:35] BenTheElder commented on #110336
/milestone v1.25
/triage accepted

[2022-06-03 03:38] BenTheElder commented on #110312
Is there indication that they plan to remove this in the immediate future?

We are also using it to test registry-sandbox.k8s.io in kops, and in KIND in various places.

The hosts.toml approach appears to require managing additional files, which will probably take API redesign in kops.
cc @hakman

[2022-06-03 03:43] BenTheElder commented on #110288
You should probably use an actual systemd slice to create the directories, instead of manually creating them, then there won't be missing paths and it will integrate properly.
https://www.freedesktop.org/software/systemd/man/systemd.slice.html

When using the systemd cgroupDriver, kubelet will append `.slice` to the specified cgroup roots.

[2022-06-03 03:45] BenTheElder commented on #109916
test-infra-fuzz and test-infra-cfl-coverage-report were deleted https://github.com/kubernetes/test-infra/pull/26398

[2022-06-03 03:47] BenTheElder commented on #109916
the coverage package is still broken, I'll try to PR this soon. I think this technique is still valuable.

similarly I think the make-test-count10 results are valuable, the problem is just that unit tests are flaky

[2022-06-03 04:17] vaibhav2107 commented on #104824
/remove-lifecycle stale

[2022-06-03 04:35] SergeyKanzhelev commented on #110312
@mikebrow do you know? I heard that 2.0 will remove all deprecated settings and the timeline is EOY for it.

[2022-06-03 04:54] vdemeester commented on #86245
/remove-lifecycle rotten

[2022-06-03 07:31] pohly commented on #108451
/remove-lifecycle stale
/lifecycle frozen

[2022-06-03 08:55] leonardpahlke opened #110369 "[Failing test] master-blocking build-master, push container images failed"
### Which jobs are failing?

- sig-release master-blocking build-master

### Which tests are failing?

- ci-kubernetes-build.Overall

### Since when has it been failing?

2022-06-01 20:49 CEST, commit `22fda4e7e`

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#build-master

### Reason for failure (if possible)

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernet

[2022-06-03 08:58] cpanato commented on #110369
I'm checking that

[2022-06-03 09:05] cpanato commented on #110369
/assign

[2022-06-03 09:10] cpanato commented on #110369
this pr should fix https://github.com/kubernetes-sigs/promo-tools/pull/562

[2022-06-03 09:21] thernstig commented on #70044
@gnufied to be fair, https://github.com/kubernetes/kubernetes/issues/96635 is a duplicate of this one. This one existed almost 2 years earlier.

[2022-06-03 10:35] rmohr commented on #53459
@alvaroaleman could you elaborate how client-side indexing helps? We use client-side indexing in KubeVirt and in addition we abuse labels to implement something like a node-field which we can index on, so that our node daemon only sees the objects it needs, for scale reasons. Maybe I miss how the client-side indexing can help with daemonset-scale demands?

[2022-06-03 12:48] swatisehgal commented on #109996
Please note that this is a known behavior and it has been documented in the Memory Manager KEP [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1769-memory-manager/README.md).

I wouldn't classify this as a bug. The desired behavior in the issue description and comments below seems more like a feature request to me.

[2022-06-03 13:07] adampl commented on #58198
/remove-lifecycle rotten

[2022-06-03 13:12] adampl commented on #57424
@ericchiang could you reopen?

[2022-06-03 13:28] frachel commented on #99061
Thanks. For the 2nd point that's what I meant even though I worded it badly - going to the VMSS and upgrading to the latest image, I was just calling that "reimage"

[2022-06-03 13:54] victorboissiere commented on #25238
We had the same problem, we ended up by implementing a mutating webhook with Kyverno to make sure the current `replicas`  value is not overriden.

Example:
[code]

[2022-06-03 14:18] olljanat commented on #102612
/remove-lifecycle stale

[2022-06-03 14:38] dcantah commented on #110261
GetDiskFreeSpaceEx seems to work from testing on an az file share.

[code]

The above reports:
Total: 5120
Total Free: 5100

with the share I was testing with having a 5TiB quota and a single 20 GiB file inside. I'll wait for the SMB folks to tell me if there's any gotchas, but if not I can push a change to add this to the csi-proxy

[2022-06-03 14:44] nodesocket commented on #3595
I'd like to disable core dumps for a given Kubernetes deployment is this possible? Need to set `ulimit -c 0`

[2022-06-03 14:48] mikebrow commented on #110312
Removal of this and other deprecations are not immediate. Yes, we've been considering removing all v1 deprecations when we move to v2, yes perhaps EOY perhaps sometime next year. We've been discussing the possibility of providing migration tooling for config and metadata. It is just as likely we will attempt to carry v1 and early v2 release versions of certain services at the same time to allow fo

[2022-06-03 15:26] aojea commented on #110357
/sig node
/sig network

Based on the resolv.conf man page https://man7.org/linux/man-pages/man5/resolv.conf.5.html

I don't think we should support obsolete directives

However, if you just want to add custom domains to your pods, you can just use the API

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config

[2022-06-03 15:44] apelisse commented on #110248
Invalid YAML or JSON are already rejected, there's nothing we can do with an invalid payload anyway, so we should be good to go with this.

In your specific example with the extra-whitespace in yaml, the problem is that it's still a valid yaml, but this will usually fail because of an unknown field now.

[2022-06-03 15:46] daveoy commented on #110357
the systems where this behaviour was observed were CentOS Linux release 7.9.2009 (Core). in the man page on these systems (man 3.53) the domain directive is supported:

of course this solves an issue I had encountered in the wild, where 4 out of 5 sites use the domain directive but also have search domains defined (which include the domain defined in the domain directive). the fifth site, however,

[2022-06-03 16:19] 21kyu opened #110373 "How about modifying the function `NewListWatchFromClient` to return the value type?"
I found that the function `NewListWatchFromClient` of `k/staging/src/k8s.io/client-go/tools/cache/listwatch.go` returns a pointer of `ListWatch`.

[code]

I would like to suggest a change for the following reasons.
- First of all, once the instance is escaped to the heap, GC has to handle it later.
- The size of `ListWatch` struct is small(under 24 bytes), so there is no burden on the copy operati

[2022-06-03 16:19] 21kyu commented on #110373
/kind cleanup

[2022-06-03 16:20] 21kyu commented on #110373
/sig api-machinery

[2022-06-03 17:18] SergeyKanzhelev commented on #110312
@BenTheElder I think the key point here there is no going back plans. I filed issue to start planning for this migration in k/k tests.

Other places we have for k/k tests:
- https://github.com/kubernetes/test-infra/blob/4e8fd7c424a4b06a8591cfcc6bb6f472a02d6c70/jobs/e2e_node/containerd/config.toml#L17
- https://github.com/kubernetes/test-infra/blob/0369db169d22c99014e0ff27759e2a72543cae39/prow/test

[2022-06-03 17:26] lavalamp commented on #53459
Client side indexing means you can run as many queries as you want without increasing load on the k8s control plane. Listing all objects with some filter is nearly as expensive as listing all objects without the filter from apiserver's & etcd's perspective, saving only network bandwidth. This is especially good for the controller case, where typically it needs every object eventually anyway.

Pods

[2022-06-03 18:01] NikhilSharmaWe commented on #108488
/remove-lifecycle stale

[2022-06-03 18:41] kitarp29 commented on #110248
Ok, if this feature is already implemented.
Should I close this issue?

[2022-06-03 18:42] #109544 closed

[2022-06-03 19:47] Peter-Sparksuite commented on #110336
Here's something of a biggie (for me currently):

https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke describes installing (for debian systems) via apt-get the google-cloud-sdk-gke-gcloud-auth-plugin.

When I look at the packages available for bullseye-slim on amd64 platform, I see a number of versions of this package available.  However, when I look likewise a

[2022-06-03 19:50] fs30000 commented on #75565
mc0, got any more tips for lowering the cpu usage? This is insane.

[2022-06-03 20:33] Peter-Sparksuite opened #110380 "google-cloud-sdk-gke-gcloud-auth-plugin not available for bullseye arm64"
### What happened?

Looking at [this page](https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke) which describes using the changes coming with 1.25 and the introduction of the GKE cloud auth plugin, I am surprised to find that the plugin exists for the debian bullseye distro for amd64, but, it's **not** available for the arm64 architecture.

From what I can see,

[2022-06-03 20:39] #106419 closed

[2022-06-03 21:12] SergeyKanzhelev commented on #110342
/area cadvisor
/triage accepted

@bobbypage can you please estimate if this is something we can do reasonably easy? Is it this PR https://github.com/google/cadvisor/pull/3042/?

[2022-06-03 21:28] unix-way commented on #85624
@msau42 @mattcary Thank you very much!
Confirmed to work on `v1.23.5-gke.2400` / `containerd://1.5.10`

[2022-06-03 21:48] jsturtevant commented on #110073
This occured again and should be fixed by https://github.com/microsoft/hcsshim/pull/1418

[2022-06-03 22:03] mattcary commented on #85624
👍🏾 thanks for testing it out @unix-way

[2022-06-03 22:23] apelisse commented on #110248
Problem solved!
/close

[2022-06-03 22:24] #110248 closed

[2022-06-03 22:59] mmiranda96 commented on #110340
It looks like the job fails to SSH to the node.

From the [latest run](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-swap-fedora-serial/1531621391252590592) logs:
[code]

[2022-06-03 23:15] mmiranda96 commented on #110340
Looking at the `.ign` [file](https://github.com/kubernetes/test-infra/blob/master/jobs/e2e_node/swap/crio_swap1g.ign#L31), I see that service `authorized-key.service` copies some SSH keys to `.ssh/authorized_keys`:
[code]

This is just a theory, but I think what's happening is that connections are rejected since the keys are not present.

[2022-06-04 01:08] #79980 closed

[2022-06-04 01:39] #104383 closed

[2022-06-04 06:16] 21kyu commented on #110373
Oh, the created instance is moved to heap from where the function was called.
This change probably doesn't make much sense.
`./main.go:168:2: moved to heap: podListWatcher`
`./gce_clusterid.go:116:2: moved to heap: listerWatcher`

I think my doubts have been cleared up to some extent.
I need more confirmation... but I'll close this issue.

[2022-06-04 06:16] #110373 closed

[2022-06-04 07:51] pohly opened #110381 "enhance E2E failure handling"
### What would you like to be added?

Current output from `framework.ExpectNoError` (after https://github.com/kubernetes/kubernetes/pull/109828)

[code]

Better:
[code]

The failure message in JUnit needs to be just "Unexpected error: hard-coded error: an error with a long, useless description".

This can be achieved in ExpectNoError because we control it (defer printing the details, call Fail). I

[2022-06-04 07:52] pohly commented on #110381
/sig testing

[2022-06-04 08:22] wentfar commented on #74382
unable to ensure pod container exists: failed to create container for [kubepods besteffort ] : mkdir /sys/fs/cgroup/memory/kubepods/besteffort/ : no space left on device

我也出现这个问题。。。

[2022-06-04 08:39] #92402 closed

[2022-06-04 08:53] szpak commented on #48069
Ups, I missed the previous notification.

/reopen

[2022-06-04 10:03] visit1985 commented on #103182
/remove-lifecycle stale

[2022-06-04 10:39] #107262 closed

[2022-06-04 15:02] navidshaikh commented on #82942
/remove-lifecycle stale

[2022-06-04 15:13] 277631272 commented on #109348
The priority queue was originally a part of the project. Later, it was found that many scenarios were involved. At the same time, it was found that many crds also needed to be processed according to the priority. Therefore, I felt that if it was integrated into client-go, different people could be used for this scenario. to use

[2022-06-04 15:26] rpthms commented on #106957
Did some testing and I can confirm that switching from CRI-O to containerd has stopped these log messages from popping up all the time. For now, this seems like a reasonable solution, at least for me.

Using Cgroups v2
Kubernetes Version: v1.24.1
OS: Ubuntu 22.04
Containerd Version: v1.6.4
Runc Version: 1.1.1

[2022-06-04 15:34] 277631272 commented on #109348
@[MikeSpreitzer](https://github.com/MikeSpreitzer)
I think some important tasks are prioritized, because these tasks require high timeliness, and the number of these important tasks is usually relatively small. And for a large number of tasks, it is usually the second most important, even if these tasks wait for a while, it should be fine.

[2022-06-04 16:10] fmq opened #110383 "Can't start Kubelet with error transport: Error while dialing dial unix /var/run/containerd/containerd.sock: connect: no such file or directory\"
### What happened?

I'm trying to configure a new nodes server and when I try to join the server to the master the following error appears:

[preflight] Running pre-flight checks
error execution phase preflight: [preflight] Some fatal errors occurred:
	[ERROR CRI]: container runtime is not running: output: time="2022-06-04T15:40:42Z" level=fatal msg="unable to determine runtime API version: rpc er

[2022-06-04 18:44] #106814 closed

[2022-06-04 22:57] neolit123 commented on #110383
/remove-kind bug
/kind support documentation

Are you sure containerd is running? The socket path will be created if the service is running.

[2022-06-04 22:58] neolit123 commented on #110383
/sig node cluster-lifecycle

[2022-06-05 00:49] #107247 closed

[2022-06-05 00:49] #107308 closed

[2022-06-05 00:50] Jeaniowang commented on #107308
报告收到

[2022-06-05 03:35] 277631272 commented on #109348
/assign @277631272

[2022-06-05 03:44] fmq commented on #110383
@neolit123 yes, this was my first assumption but it is running.

<img width="1377" alt="image" src="https://user-images.githubusercontent.com/881660/172033991-0b52d639-da38-4e73-bf92-a31a24c7ebb3.png">

I am able to pull images and run a container but the socket is not there, it's only in /run/containerd/containerd.sock

<img width="1299" alt="image" src="https://user-images.githubusercontent.com/

[2022-06-05 04:44] neolit123 commented on #110383
That's strange. You can try asking the containerd maintainers as it doesn't seem like a k8s issue.

One workaround might be to symlink on the problem node.

Folks on the support channels might have more ideas
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

Thanks
/close

[2022-06-05 04:44] #110383 closed

[2022-06-05 04:54] Aryan-Deshpande commented on #94428
Hey is this issue still open to work with ?

[2022-06-05 05:09] fmq commented on #110383
FYI I added
[code]
to the join command and the node started.

Thanks for your help!

[2022-06-05 06:49] neolit123 commented on #110383
I see /run/containerd/containerd.sock mentioned as the default socket mentioned in a few places but it used to be /var/run/...

https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-runtime

If it changed recently that actually breaks ecosystem tools like kubeadm.

[2022-06-05 08:57] ksa-real commented on #107161
Same here. Kubernetes 1.23.5

[2022-06-05 09:00] sanposhiho commented on #110175
Thanks for discussing this topic in the sig meeting. 🙏
But, I am still believing that all logic related to a plugin should be controllable from the plugin side and we should not create something that can be achieved in in-tree plugins but not in out-of-tree plugins.

So... the benefit of the "customizable PreCheck approach" (https://github.com/kubernetes/kubernetes/issues/110175#issuecomment-11428

[2022-06-05 09:13] andyzhangx commented on #110261
@dcantah what's the `os.Args[1]`? is it `\\MyServer\MyShare\` or mounted directory name?

[2022-06-05 09:20] Bessonov commented on #37471
/remove-lifecycle stale

[2022-06-05 09:43] denstorti commented on #109285
I opened the draft PR https://github.com/kubernetes/kubernetes/pull/110387, centralising the logic to discover plugins enabled and disabled inside the block for the captureProfile callback:
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/runtime/framework.go#L359-L368

Any suggestions if that would be better to place the logging inside the captureProfile callback:
http

[2022-06-05 10:42] dcantah commented on #110261
@andyzhangx \\myserver\myshare\

[2022-06-05 12:53] #103998 closed

[2022-06-05 14:22] andyzhangx commented on #110261
@dcantah The k8s file driver would create a symlink to the azure file, like following:
[code]
Would `GetDiskFreeSpaceEx` work for both symlink and UNC path?

[2022-06-05 14:35] dcantah commented on #110261
@andyzhangx Looks like it:
[code]

[2022-06-05 15:53] #107324 closed

[2022-06-05 15:55] fntmx commented on #23880
`MixedProtocolLBService` as of right now is a beta feature gate for v1.24.

https://kubernetes.io/docs/concepts/services-networking/service/#load-balancers-with-mixed-protocol-types

I **haven't** tested this but you should now be able to create a cluster using that version in GCP and you will be able to define a LoadBalancer service with ports open on more than one protocol.

[2022-06-05 16:22] fmq commented on #110383
Looking into the differences between my servers I think I found the issue.

The default sock for containerd has always been /run/containerd/containerd.sock (I have been going back at the documentation and looking at the config, etc), the thing is that usually /var/run is s symlink to /run but in some templates they are two separate directories ( I'm not that much of an expert in CentOS to know why

[2022-06-05 16:53] #106741 closed

[2022-06-05 17:36] neolit123 commented on #110383
notably, i have not seen complains from other users about this.
kubeadm and the k8s.io docs has been using /var/run for ~14 k8s releases at least.
at this point the migration of existing users is not so trivial.

[2022-06-05 18:17] fmq commented on #110383
I think it's something particular to my installation and to this particular server because all other servers are configured correctly.

[2022-06-05 18:21] vaibhav2107 commented on #108384
/remove-lifecycle stale

[2022-06-05 18:55] #106003 closed

[2022-06-05 20:27] mmiranda96 commented on #110340
Job is passing now:
- https://testgrid.k8s.io/sig-node-presubmits#pr-kubelet-gce-e2e-swap-fedora-serial
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110391/pull-kubernetes-node-swap-fedora-serial/1533533926134386688/

Closing this issue now.
/close

[2022-06-05 20:27] #110340 closed

[2022-06-05 22:59] #105842 closed

[2022-06-05 22:59] #107008 closed

[2022-06-05 22:59] #107318 closed

[2022-06-05 22:59] #107376 closed

[2022-06-06 01:22] fengpengyun commented on #110347
triage/accepted

[2022-06-06 01:22] fengpengyun commented on #110348
triage/accepted

[2022-06-06 01:50] weiyshay opened #110393 "coredns stuck at 'ContainerCreating'"
### What happened?

I am trying to set up k8s on a fresh installed CentOS 7.9.  The background was that I met an issue with the latest flannel in the first place. I opened an issue at flannel community and confirmed was a compatibility issue on netlink interface and can be resolved by rolling back flannel  from 0.18 to 0.17.

issue link: https://github.com/flannel-io/flannel/issues/1574

After tha

[2022-06-06 02:09] JiaruiTracy commented on #110325
We also tried containerd before trying with docker + cri-dockerd, it did not have this single-file volume mapping
issue, however, the pod failed creating network, more details are: [https://github.com/microsoft/windows-container-networking/issues/69](url)

[2022-06-06 02:28] andyzhangx commented on #110261
@dcantah great, current `(VolumeAPI) GetVolumeStats(volumeID string)` accepts a volumeID which is only for disk, I think you could add a new API `(VolumeAPI) GetVolumeStatsFromPath(path string)` accepts a mounted dir, that should work for both disk and smb mounts in csi-proxy, wdyt?

https://github.com/kubernetes-csi/csi-proxy/blob/48ba409159027564c50926138dd951d106b53077/pkg/os/volume/api.go#L201

[2022-06-06 02:38] yuanjun-jason commented on #81089
+1, need it for SSL certs (which requires 600)

[2022-06-06 04:03] #104335 closed

[2022-06-06 05:03] #107238 closed

[2022-06-06 06:06] smoshiur1237 commented on #106691
@ehashman @freehan @khenidak We are facing this issue for a long time and like to get a fix for this issue. is there any update on the issue?

[2022-06-06 06:13] yangjunmyfm192085 commented on #110393
Could you check the kubelet logs? maybe it has some useful information

[2022-06-06 06:33] yylt opened #110396 "deployment with NoScheduler toleration schedulered on NotReady node"
### What happened?

1 shutdown node
2 pod which created by ReplicaSet controller schedulerd on node which had shutdown

**the pod has toleration `Exists:NoSchedule`**

### What did you expect to happen?

pod should not scheduler on shutdown node even if has toleration

### How can we reproduce it (as minimally and precisely as possible)?

1 create resource
2 shutdown node which had label `a=a` , s

[2022-06-06 06:34] yylt commented on #110396
/sig scheduling

[2022-06-06 06:57] neolit123 commented on #110393
coredns requires a CNI to be deployed.
but if a CNI is failing there must be something wrong with a particular CNI.

we have a number of different e2e tests for kubeadm, Cluster API, kubespray etc. that all use different CNI plugins and these are passing, so it must be something wrong on your side. i'd try different CNIs until one of them works.

if you wish to use particular CNI and it's failing

[2022-06-06 07:32] neolit123 commented on #110369
it looks like it's still failing:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#build-master

[2022-06-06 07:33] neolit123 commented on #110369
/reopen

reopening as this is causing all our CI to run against stale artifacts at:

https://storage.googleapis.com/k8s-release-dev/ci/latest.txt
v1.25.0-alpha.0.734+ba502ee555924a

[2022-06-06 07:40] Dr-Ogden-Wernstrom commented on #110325
This issue is that the pod fails to start because the termination log location (which is a file) is mounted as a volume on container creation.

[2022-06-06 07:44] x13n commented on #110186
Unit test will block submission, which is more than just letting sig-autoscaling know they should take a look. In that case an integration test would probably make more sense: use GitHub API to pull latest version of kubernetes/autoscaler repo, then use Go compiler libs to try to compile selected files. On breaking interface changes, SIG autoscaling approver would be required to temporarily disabl

[2022-06-06 08:45] irbekrm commented on #109022
We also see these errors a lot in cert-manager webhook logs when deployed on Kubernetes 1.23 or 1.24 when a larger number of resources are being applied that get validated by webhook.

We also see some 'connection reset' errors that also appear to be new in 1.23 and 1.24, not sure if those might be related:

[code]

[2022-06-06 09:31] hicaistar opened #110401 "statefulset pod with zero terminationGracePeriodSeconds miss termination when shutdown node"
### What happened?

1. create statefulset with one pod, and set the terminationGracePeriodSeconds to 0, pod is running on node-1
2. shutdown node-1, after 5 min, new pod will be created and scheduled on node-2
3. shutdown node-2, we get the message of kube-controller-manager "Trying to add already existing work for &{NamespacedName:default/test-0}. Skipping."
4. then the pod will running on node-2

[2022-06-06 09:47] hicaistar commented on #110401
/sig app

[2022-06-06 09:49] hicaistar commented on #110401
/sig apps

[2022-06-06 09:55] hicaistar commented on #110401
root cause is in function getWrappedWorkerFunc:
1. delete pod, trigger CancelWorker which will delete key from worker map
2. try to get mutex lock, but it was catch by  CancelWorker
3. get the mutex lock, at this time, the key had been deleted by CancelWorker

[code]

[2022-06-06 10:43] harshanarayana commented on #110401
Seems the same as #107543

[2022-06-06 11:15] kerthcet commented on #65797
Hi @zhx828 I have drafted a KEP here https://github.com/kubernetes/enhancements/pull/3339, but I was quite curious about your user stories, can you provide some more details? Thanks.

[2022-06-06 12:03] #91782 closed

[2022-06-06 12:03] #107266 closed

[2022-06-06 13:06] weiyshay commented on #110393
I am using flannel and it seems that no obvious error in the log, can you please help have a look?
Also, the same version has been verified good previously in another host.

How to check if cni is working correctly?

# kubectl logs -n kube-system kube-flannel-ds-tkvbf
I0605 11:55:12.418201       1 main.go:205] CLI flags config: {etcdEndpoints:http://127.0.0.1:4001,http://127.0.0.1:2379 etcdPrefix:

[2022-06-06 13:21] haircommander commented on #106957
Another option is one could switch to the CRI stats provider by setting kubelet's container_runtime_endpoint to `unix:///run/crio/crio.sock` instead of `unix:///var/run/crio/crio.sock`

[2022-06-06 13:35] evanskinner commented on #108560
/remove-lifecycle stale

[2022-06-06 13:41] clyang82 opened #110415 "Graduate APIListChunking to stable"
**This is a Bug Report**

**Problem:**

https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks
from the above document, we can see that `Retrieving large results sets in chunks` is marked as beta since v1.9. Does it reflect the correct status for this feature since we have v1.24? if so, do we have plan to GA this feature. Thanks.

**Proposed Solution:*

[2022-06-06 13:51] Peter-Sparksuite commented on #110380
/sig release
/sig cli
/sig auth

[2022-06-06 14:44] dims commented on #110380
`google-cloud-sdk-gke-gcloud-auth-plugin` is not a deliverable / binary from kubernetes release team. please contact your GKE support folks.

/close

[2022-06-06 16:16] juan-ramirez-sp commented on #24092
I am seeing this issue as well in EKS ( v1.21.5 ) when using NGINX.

My issue is also resolved by restarting NGINX.

[2022-06-06 16:35] neolit123 commented on #110346
/sig auth

[2022-06-06 16:38] neolit123 commented on #110393
sorry, please try asking on https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
if there is a confirmed bug you can re-open the issue and add more details.

/close

[2022-06-06 16:40] neolit123 commented on #110344
/area code-organization
/sig architecture

[2022-06-06 16:40] neolit123 commented on #110347
/sig api-machinery

[2022-06-06 16:40] neolit123 commented on #110349
/sig api-machinery

[2022-06-06 19:19] feloy opened #110407 "$deleteFromPrimitiveList keeps elements instead of removing them"
### What happened?

This page explains that the deleteFromPrimitiveList should delete the specified items, but the specified items are kept, and the other items are deleted.

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md#deletefromprimitivelist-directive

### What did you expect to happen?

The specified items in the deleteFromPri

[2022-06-06 19:19] feloy commented on #110407
/sig api-machinery

[2022-06-06 19:38] szpak commented on #48069
@neolit123 Could use your "member permissions" to reopen that issue, again :-).

[2022-06-06 19:55] feloy commented on #110407
Related: https://github.com/kubernetes/kubernetes/pull/105421

[2022-06-06 20:12] neolit123 commented on #48069
/reopen
/lifecycle frozen

[2022-06-06 21:01] champtar opened #110409 ""superfluous response.WriteHeader call" when using "kubectl logs -f""
### What happened?

When running `kubectl logs -f`, I get the following log
[code]

### What did you expect to happen?

No error/warning

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

Same error message with or without logs to print

### Kubernetes version

<details>

[code]

(Also happens in 1.23.3)
</details>

### Cloud provide

[2022-06-06 21:18] bobbypage commented on #110309
as per @aojea investigation this is a 1.22 regression - https://github.com/kubernetes/kubernetes/pull/110191#issuecomment-1145746656

[2022-06-06 21:18] bobbypage commented on #110309
/kind regression

[2022-06-06 22:05] Riaankl commented on #108499
/remove-lifecycle stale
@heyste targeting this for 1.25

[2022-06-06 22:55] #97985 closed

[2022-06-07 00:49] meowrison opened #110530 "Validating Webhook PKI Configurations Fail on v1.24"
## Summary

The existing validating webhook PKI configurations fail on Kubernetes v1.24 due to https://go.dev/doc/go1.18#sha1.

Pod security webhook `tls.crt` information example:

[code]

Example API server error:
[code]

Additionally:
Date is not being interpolated in CA cert CN : "pod-security-webhook-ca-"
https://github.com/kubernetes/pod-security-admission/blob/3f62b5a1f4b735916c630194ed61746

[2022-06-07 02:41] 249043822 opened #110412 "Separate the functions of evcit pods and set node pressure condition"
### What would you like to be added?

In some scenarios, we don't want to use kubelet-initial eviction to evict pods, we use our private enhanced eviction component, but we still want kubelet to set node pressure conditions while we have a nodefs pressure or others. so if the disk is full, the node has diskpressure condition, then it would become NotReady, the scheduler could not scheduler new pod

[2022-06-07 02:41] 249043822 commented on #110412
/sig node

[2022-06-07 02:42] 249043822 commented on #110412
/assign @bobbypage @matthyx

[2022-06-07 02:42] 249043822 commented on #110412
/cc @yangjunmyfm192085 @ping035627

[2022-06-07 03:07] yangjunmyfm192085 commented on #110412
Setting taint and pod eviction when node resources are not satisfied should be two different actions. Is it possible to set them separately?

[2022-06-07 05:39] kerthcet commented on #65797
Hi folks who are interest with the feature, I have proposed a KEP here https://github.com/kubernetes/enhancements/pull/3339, don't be hesitate to give your advices/user stories, thanks all.

[2022-06-07 07:16] cpanato commented on #110369
my previous fix only fixed one side of the things, missing https://github.com/kubernetes/release/pull/2545
now job are green

![Screenshot 2022-06-07 at 09 15 47](https://user-images.githubusercontent.com/4115580/172319238-003616a5-f708-4df0-abbf-90a41c5d1ad8.png)

closing for now
/close

[2022-06-07 07:16] #110369 closed

[2022-06-07 07:21] LinkMaq commented on #72811
Most of the time we set a few cpu.request for pods , and set a reasonable value to cpu.limit.  we expect the application to auto-scale during runtime based on actual cpu percentage（cpu.usage / cpu.limit).

This is more intuition for users.(come on, don't discuss whether to use >100% )

[2022-06-07 07:41] sftim commented on #110415
/retitle Graduate APIListChunking to stable

Relevant KEP: https://github.com/kubernetes/enhancements/issues/365

[2022-06-07 07:55] #110309 closed

[2022-06-07 07:57] rmohr commented on #53459
Thanks. Makes sense. I had my head too deep down in the daemonset-case, and did not realize that this issue is mostly concerned about the normal controller pattern.

Yes, I am not sure how clear that for people is though. I encountered a lot of cases (different projects, different companies, early design, production) where people were creating daemonsets, using controller-gen and just thinking tha

[2022-06-07 08:04] thesuperzapper commented on #64023
@kubernetes/sig-apps-bugs @liggitt this is still an issue 1.24, can we please reopen this issue, and discuss the best solution?

[2022-06-07 08:28] yanivpaz commented on #110144
@X-neuron can you share what was the issue ?

[2022-06-07 10:14] SadanandGowda commented on #55045
EKS does not support implementing the alpha features, it would help if this feature goes to beta, we can try and update regarding the same.

[2022-06-07 10:20] drweber commented on #7890
/remove-lifecycle stale

[2022-06-07 10:32] zuzzas commented on #102367
/reopen

[2022-06-07 10:50] sftim commented on #110281
/retitle AWS Classic ELB is created with irrelevant AZs

[2022-06-07 12:19] LY-today opened #110424 "FakeClient: list pod err after an pod evicted"
### What happened?

After I evicted an pod, I performed the operation of the full list instance, but found something that did not meet expectations
[code]

### What did you expect to happen?

After pods are evicted, non-evicted ones can be listed normally

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubernete

[2022-06-07 13:09] luigi-bitonti opened #110426 "Excess of permissions when granting permission to list nodes"
### What happened?

I created a cluster role with verb "list" and resource "node" and assigned it to a user. If the user runs the command <code>kubectl get nodes <node_name> -o yaml</code>, it fails, rightly so. If instead he runs the command <code>kubectl get nodes -o yaml</code> it receives as output the yaml of the nodes
![k8s-bug](https://user-images.githubusercontent.com/93377317/172382226-f7

[2022-06-07 14:27] NickYadance commented on #110158
Having exactly the same issue here. Happens with each nodes serving with 180+ pods.
Can reproduce with a dummy nginx pod as below. I add `automountServiceAccountToken: false` to disable default access token volume so the pod has only single `hostPath` volume.

[code]
With `hostPath` mount, the startup time takes up to 2~6 minutes with one or two failed mount Events as below. Without `hostPath` mou

[2022-06-07 14:29] endocrimes opened #110428 "kubelet: Document out of scope causes of failure"
/sig node
/kind documentation

There are a handful of things that can cause the Kubelet to fail, where the Kubelet doesn't have strong defense against them. We should document these cases and be open about where they exist.

As an example:
- IO Contention
- Slow disk accounting
- Memory exhaustion

/cc @derekwaynecarr @smarterclayton

[2022-06-07 14:39] endocrimes opened #110429 "kubelet: Setup testing infrastructure to test CRI invariants"
/sig node
/kind cleanup

Today we don't really have a way to test what happens when a CRI or gRPC fails. This makes it hard to identify, reproduce, and fix issues that happen when a CRI has a problem (such as the CRI restarting at the wrong part of a control loop).

We need to do some research and basic setup of tests that can mock a CRI or allow us to do failure injection in our tests with real C

[2022-06-07 14:49] zmalik opened #110430 "job objects are not getting clean-up when Job is created using kubectl create job"
### What happened?

A cronjob with correct values in `spec.failedJobsHistoryLimit` and `spec.successfulJobsHistoryLimit` is cleaning up the jobs objects once those are completed or failed, if those are scheduled objects.

When the job is created using
[code]
those manual runs aren't cleaned up. Even if those are owned by the cronjob.

When looking into the ownerReferences of the job, we have the n

[2022-06-07 15:02] endocrimes commented on #110429
/triage accepted
/priority important-longterm

[2022-06-07 15:11] #107255 closed

[2022-06-07 15:32] tspearconquest commented on #48912
This is what I want to prevent in my clusters. We have some public content that runs non-root with readonly rootfs, and we want to use the 3 options mentioned by the OP on the writable emptyDir directory-backed mounts in the pods where that content is.

[2022-06-07 15:35] lavalamp commented on #53459
No, I think this is the designated place for everyone to feel bad about the current state :)

[2022-06-07 16:20] etcshad0vv commented on #59117
But what is the point of using output and stream redirection, `--local` is not supposed to work on the contents of the file?

[2022-06-07 16:42] enaguo opened #110431 "Because of using fake client The program panics with "channel full""
### What would you like to be added?

I use fake client to create and modify simulated resources.When the amount of data is large and changes frequently, it will cause the program to panic.
<img width="1182" alt="截屏2022-06-08 上午12 33 31" src="https://user-images.githubusercontent.com/32294838/172434844-6f57370f-b265-4eae-8531-0d7fdceda91b.png">

When I use the fake client to create, modify, or del

[2022-06-07 16:48] PhilipSchmid commented on #71869
I just had the same issue on a customers' RKE2 (`v1.23.6+rke2r2`) K8s `1.23.6` cluster. The errors in the Kubelet log were:
[code]

The actual problem was caused by an "underlying" full `/var` partition. Originally, they once had Longhorn writing data to `/var/lib/longhorn` on a dedicated `/var` partition which then, at some point, nearly run full. To resolve this, they simply added another disk (

[2022-06-07 18:45] seans3 commented on #82942
/lifecycle frozen

[2022-06-07 19:15] mattcary commented on #55045
Yah, that's a chicken and egg problem.

I'm concerned how the ownership handling will behave if there are other operators that set similar owner refs, but if alpha features don't get any use I'm not sure how to find that out.

[2022-06-07 20:13] fedebongio commented on #110373
/triage accepted

[2022-06-07 20:16] redbaron commented on #25625
/reopen

[2022-06-07 20:16] fedebongio commented on #110348
@fengpengyun did you triage the issue because you are planning to work on it soon? Thanks!

[2022-06-07 20:18] fedebongio commented on #110347
/sig auth
/remove-sig api-machinery

[2022-06-07 20:19] fedebongio commented on #110345
/assign @deads2k @lavalamp

[2022-06-07 20:20] fedebongio commented on #110407
/assign @apelisse
Could you take a look Antoine please? Thanks!
/triage accepted

[2022-06-07 20:22] fedebongio commented on #110349
/priority backlog

[2022-06-07 20:36] tallclair opened #110437 "[PodSecurity] Add v1 config API (pod-security.admission.config.k8s.io)"
GA blocker (https://github.com/kubernetes/enhancements/issues/2579)

/sig auth
/milestone v1.25
/help

[2022-06-07 21:00] iXinqi opened #110438 "DNS E2E Test: dns test cmd failed but the case succeeded"
### What happened?

When running `framework.ConformanceIt("should provide DNS for the cluster ")` test case, the test is unable to read the result, but the final ginkgo result is passed.

[code]

### What did you expect to happen?

The test should be failied.

### How can we reproduce it (as minimally and precisely as possible)?

Run the e2e test focused on "should provide DNS for the cluster " on

[2022-06-07 21:09] knabben commented on #110438
/sig network
/sig windows
/assign @iXinqi

[2022-06-07 21:29] aojea commented on #110438
the unable to read happens in a loop, it eventually succeeded

https://github.com/kubernetes/kubernetes/blob/8cd689e40d253e520b1698d4bcf33992f0ae1d20/test/e2e/network/dns_common.go#L455-L488

/remove-kind bug

[2022-06-07 21:32] ruiwen-zhao opened #110439 ".[sig-node] Lock contention [Slow] [Disruptive] [NodeSpecialFeature:LockContention] Kubelet should stop when the test acquires the lock on lock file and restart once the lock is released"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-lock-contention

### Which tests are failing?

E2eNode Suite.[sig-node] Lock contention [Slow] [Disruptive] [NodeSpecialFeature:LockContention] Kubelet should stop when the test acquires the lock on lock file and restart once the lock is released.

Example: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k

[2022-06-07 21:47] ruiwen-zhao opened #110440 "ci-cri-containerd-e2e-cos-gce-reboot is flaky"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-node-cos#e2e-cos-reboot

### Which tests are flaking?

Multiple tests:

Kubernetes e2e suite.[sig-cloud-provider-gcp] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-reboot/1534261247585816576

Ku

[2022-06-07 21:48] apelisse commented on #110407
Simplest way to reproduce:
[code]

It doesn't work with any kubectl version from 1.18 to 1.23 that I've tested.

[2022-06-07 21:49] apelisse commented on #110407
I tried the exact same object, changing the finalizers works like a charm.

[2022-06-07 21:59] iXinqi commented on #110438
Oh I see, thanks @aojea!

[2022-06-07 21:59] #110438 closed

[2022-06-07 22:27] adecchi-2inno commented on #95983
HI,
I am I am facing the same issue. The ALB was deleted, the ingress object is still alive:

`
$ kubectl patch ingress argocd-server -n argocd -p '{"metadata":{"finalizers":[]}}' --type=merge
`

Here the output of the above command:

`
Error from server (InternalError): Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": the server could not find the requested resource
`

Th

[2022-06-07 23:15] jsturtevant commented on #106640
/reopen
being fixed by https://github.com/kubernetes/kubernetes/pull/110014

[2022-06-08 01:45] fengpengyun commented on #110348
@fedebongio  now just for the record not being classified,but I'm also happy to contribute.

[2022-06-08 02:25] yylt commented on #110396
@sanposhiho  Hi, has any comments?

IMO, tolerations with timeout is runtime situation, and when schedule pod, `NoExecture` taint in node should reject

[2022-06-08 03:08] heyu1207 opened #110444 "debug kube-scheduler error"
### What happened?

When I debug the scheduler code, I found that the code can't step over from this line `cc.InformerFactory.WaitForCacheSync(ctx.Done())`.
The console window repeat reporting `failed to list *v1.CSISto rageCapacity: the server could not find the requested resource` , as shown below:
![14a35b552bd689b73ec24c2ff459485](https://user-images.githubusercontent.com/43037766/172522922-1d

[2022-06-08 03:16] heyu1207 commented on #110444
/sig <scheduling>

[2022-06-08 03:17] heyu1207 commented on #110444
/sig scheduling

[2022-06-08 03:53] ma-meng opened #110445 "hostPort failed in pod"
### What happened?

1.When I set hostport and hostnetwork at the same time, the hostport fails.

2.---vim test-hostport.yaml
[code]

3.kubecrl apply -f test-hostport.yaml

4.test
1)
[root@master ~]# curl localhost:9999
curl: (7) Failed connect to localhost:9999; Connection refused

2)
[root@master ~]# curl localhost:80
<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
html { c

[2022-06-08 03:55] ping035627 commented on #110412
Suggest to separate the logic of resource pressure conditions from the eviction. So, we can detect resource pressure conditions whether eviction or not.

[2022-06-08 04:51] MadhavJivrajani commented on #110431
/sig api-machinery

[2022-06-08 05:30] pacoxu commented on #110445
/kind support

You should config in `/etc/nginx/` to make nginx serving at port 9999.
Pod's hostPort is only a declaration about that.

This is not a kubernetes bug.
/remove-kind bug

[2022-06-08 05:38] ma-meng commented on #110445
I have set hostPort: 9999. when I 'curl localhost:80' , why is it successful

[2022-06-08 06:12] pacoxu commented on #110445
The reason is that you use `hostNetwork:true` which means the pod is sharing the node's network.
[code]

- hostPort is a declaration that this pod will use it. However, the pod may not use it.
- hostPort is not a limitation. A pod can use a port without this declaration.

[2022-06-08 07:07] STRRL commented on #109034
kindly notice @thockin @lavalamp @kanha-gupta

I would work based this design in the next several days.

please let me known if you have any other ideas :)

[2022-06-08 07:17] yanirq commented on #25625
/reopen

[2022-06-08 07:18] wangyysde commented on #110437
/assign

[2022-06-08 07:29] pacoxu commented on #110424
/sig node

[2022-06-08 07:35] silentred commented on #53459
What is the recommented way for a DS to watch the CRs belonging to the node? I'm using `"k8s.io/client-go/tools/cache".NewFilteredListWatchFromClient` with LabelSelector. However, according to the explanation above, specifying LabelSelector in ListOptions would not save much work for APIServer.

[2022-06-08 07:39] alikhil commented on #83111
/remove-lifecycle stale

[2022-06-08 07:42] hanamantagoudvk opened #110447 "To add username option for kubectl exec command and CRI update"
### What would you like to be added?

Add username option for the `kubectl exec ... ` command i.e `kubectl exec -u <user> ..`

### Why is this needed?

Its required to address issues listed below :

https://github.com/containerd/containerd/issues/6662
https://github.com/kubernetes/kubernetes/issues/30656

/sig node

[2022-06-08 07:43] redbaron commented on #25625
OK, @k8s-ci-robot , you won. Of course lack of spamming on a well understood issue just waiting to be implemented is a clear sign that issue is not relevant anymore, I am with you. Good work.

[2022-06-08 07:45] hanamantagoudvk commented on #110447
/sig node

[2022-06-08 07:52] Abirdcfly commented on #25625
/reopen

[2022-06-08 07:55] Abirdcfly commented on #25625
@redbaron Please go on...😂
PS: I think the collaborator here is confusing🤔️

[2022-06-08 08:14] #106771 closed

[2022-06-08 08:18] pacoxu commented on #110409
/sig node
since the log is on the kubelet side. (I prefer to think this is expected behavior when canceling to get logs from kubelet.)

[2022-06-08 08:26] pacoxu commented on #110409
/sig api-machinery

[2022-06-08 08:39] muyangren2 commented on #110445
The containerPort you set must be the same as the container port

[2022-06-08 08:50] bbhxwl opened #110449 "How to install centos7? There has been an error."
How to install centos7? There has been an error.

![image](https://user-images.githubusercontent.com/26525599/172574441-fc9cf55f-3eaf-4cbe-87b7-d38ad2d015e3.png)

[2022-06-08 09:00] pacoxu commented on #110430
/sig apps
/area job

[2022-06-08 09:52] pacoxu commented on #110426
/sig auth

list and get are different verbs in [Kuberenest RBAC](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb).
- get (for individual resources),
- list (for collections, including full object content)

[2022-06-08 09:57] pacoxu commented on #110426
/remove-sig security

[2022-06-08 10:06] kerthcet commented on #110444
Well, I'm doubt about whether this is the right place to ask the question about IDE debugging.
/remove-kind bug
/kind support

[2022-06-08 10:14] kerthcet commented on #110396
I think this works as expected as you tolerated the `NoSchedule` taint. Scheduler is unaware of the shutting down operation but the taints.
/remove-kind bug

[2022-06-08 10:17] JiaruiTracy commented on #110325
Reset windows node and retried with ContainerD, getting below error while creating pod:
  Warning  FailedCreatePodSandBox  26m                   kubelet            **Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "5ba6836605b1c68e5a8ce06beeb64bb5a51aabb1cc5ebc5c19245181552ad1df": plugin type="nat" name="nat" failed (add): hcnCreateNetwork failed

[2022-06-08 10:28] kerthcet commented on #101933
/remove-lifecycle stale

[2022-06-08 10:30] luigi-bitonti commented on #110426
I know, but with the verb list, you can get the same output as verb get by manipulating it (you can extract information of a single resource from the output list, but if you don't have the "get" permission you shouldn't can do it). I think this is a misbehavior. Anyway, thank you for the answer!

[2022-06-08 11:39] hanamantagoudvk commented on #110447
closing it , as issue needs to be raised in k8s/enhancements.

[2022-06-08 11:39] #110447 closed

[2022-06-08 12:33] sheetaljoshi opened #110456 "Support class E network for pod and service networking"
### What would you like to be added?

Please allow class E address class (240.0.0.0/4) for pod and as well service networking. Are there any existing guidelines or challenges that would prevent us from proceeding this request?

### Why is this needed?

Kubernetes SaaS-based customers are often challenged with solving overlapping CIDRs when using CNIs in underlay mode. This work will help Kubernete

[2022-06-08 12:37] sheetaljoshi commented on #110456
@aojea can you please comment on this issue.

[2022-06-08 12:44] perezjasonr commented on #3595
you took the words right out of my mouth. THis right here. Is there any way to disable core dumps for a pod/containers? this is unsafe for some processes. Containerd has a closed issue saying you'd do it per container so there isn't somewhere in the conf where you can set this default wide.

[2022-06-08 13:32] pacoxu commented on #110449
/kind support

[2022-06-08 14:14] D1abloRUS commented on #71162
/reopen

[2022-06-08 15:59] brianpursley commented on #110407
Sure, I'll take a look at it...
/assign

[2022-06-08 16:05] nckturner commented on #110281
/triage accepted
/assign

[2022-06-08 16:07] nckturner commented on #108923
/triage accepted

[2022-06-08 16:08] Jeroen0494 opened #110460 "Seccomp profile not applied to probes"
### What happened?

When applying a SECCOMP profile for the entire pod, the profile doesn't seem to be applied to startup, liveness and readiness probes using scripts. It is only applied to the containers within the pod.

### What did you expect to happen?

My SECCOMP profile is applied to the probes as well.

### How can we reproduce it (as minimally and precisely as possible)?

My deployment (ba

[2022-06-08 16:19] Jeroen0494 commented on #110460
I just updated to Kubernetes 1.23 just to make sure, but the issue persists.

[code]

I asked for support on Reddit first, but got no response: https://www.reddit.com/r/kubernetes/comments/v73umh/seccomp_profile_not_applied_to_probes/

[2022-06-08 16:31] leilajal commented on #69696
/assign @jkaniuk would you please take a look. thanks!

[2022-06-08 16:35] RamyAllam opened #110461 "Node DiskPressure is missing when devmapper usage is full."
### What happened?

Kubernetes does not set `DiskPressure` status on the worker node when the devmapper usage is full.

When accessing the results from `localhost:10255/stats/summary` I can see Kubernetes is correctly calculating the `imageFs` but does not set `DiskPressure` nor evict the Pods from this node to another healthy one and keeps scheduling the Pods on the full node even though there ar

[2022-06-08 16:36] lavalamp commented on #53459
That sounds like a valid use case and I don't have a great answer. If you have a watch for each of N nodes, apiserver will do N checks for each change to a CR (fortunately apiserver won't have N backing watches, I believe). It should be ok unless you have both a lot of nodes and a lot of CRs. The list is probably more problematic.

...if you happen to have named the CRs to begin with the name of t

[2022-06-08 16:37] Nivedita-coder opened #110462 "[Failing test] capg-conformance-main-ci-artifacts"
### Which jobs are failing?
release-master-informing

- capg-conformance-main-ci-artifacts

### Which tests are failing?

Kubernetes e2e suite.BeforeSuite

### Since when has it been failing?

05-25 06:37 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-main-ci-artifacts

### Reason for failure (if possible)

`Failure test/e2e/e2e.go:77
Error waiting fo

[2022-06-08 16:42] RamyAllam commented on #110461
/sig node
/sig storage

[2022-06-08 16:48] cjaymj commented on #76772
/reopen

[2022-06-08 16:49] Nivedita-coder opened #110463 "[Failing test] periodic-conformance-main-k8s-main"
### Which jobs are failing?
release-master-informing

- periodic-conformance-main-k8s-main

### Which tests are failing?

- capa-e2e-conformance.[unmanaged] [conformance] tests conformance
- periodic-cluster-api-provider-aws-e2e-conformance-with-k8s-ci-artifacts.Overall

### Since when has it been failing?

06-01 09:13 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#pe

[2022-06-08 17:14] endocrimes commented on #110424
https://github.com/kubernetes/kubernetes/pull/110425

/sig api-machinery
/remove-sig node

[2022-06-08 17:16] endocrimes commented on #110409
/cc @tstapler

[2022-06-08 17:19] endocrimes commented on #110461
/triage needs-information

@RamyAllam Can you share your Kubelet eviction configuration? (https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/)

[2022-06-08 17:20] endocrimes commented on #109996
/remove-kind bug
/kind feature

[2022-06-08 17:22] endocrimes commented on #109766
/remove-kind bug
/kind support

[2022-06-08 17:28] jpbetz commented on #65973
Since I don't think it's been mentioned on this issue yet, I wanted to point out that x-kubernetes-validations [transition rules](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#transition-rules) can be used to enforce CRD immutability.  The main caveat is that the feature is currently alpha. It is slated for beta in 1.25.

[2022-06-08 17:31] jmgate opened #110464 "Unable to get logs, etc., from failed parallel pods in job"
### What happened?

#### Motivation
In order to run integration- and system-level tests against our application suite in CI, we first stand up a temporary instance of our application suite, and then apply a number of test jobs to the system.  Currently a test job creates a single pod and runs a single container, which then runs the actual testing via tools like [Jest](https://jestjs.io/), [Cypress

[2022-06-08 17:51] haircommander commented on #110070
I've confirmed that CRI-O is not affected by this. I believe this can be closed

@endocrimes @SergeyKanzhelev one of y'all confirmed containerd isn't affected right?

[2022-06-08 19:13] Jiawei0227 commented on #100897
/remove-lifecycle stale

[2022-06-08 20:38] RamyAllam commented on #110461
Hey @endocrimes
I was not sure how to extract that from GKE standard mode so I went ahead and got it directly from the GKE worker node file: `/home/kubernetes/kubelet-config.yaml`
The original config is as follow
[code]

I then appended `imagefs.available: 10%` to it, restarted kubelet daemon and tried to reproduce the issue, it didn't trigger `Node DiskPressure`, however, when setting it to 90% I

[2022-06-08 20:43] brianpursley opened #110467 "Failure cluster [05c71e0f...]"
### Failure cluster [05c71e0f8991d87203da](https://go.k8s.io/triage#05c71e0f8991d87203da)

##### Error text:
[code]
#### Recent failures:
[6/8/2022, 3:04:01 PM ci-kubernetes-e2e-gci-gce-alpha-enabled-default](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-enabled-default/1534612180521979904)
[6/8/2022, 2:21:43 PM ci-kubernetes-e2e-gci-gce-alpha-enabled-default]

[2022-06-08 20:44] brianpursley commented on #110467
/assign

[2022-06-08 21:02] tstapler commented on #110409
The code for getting container logs can be found here: https://github.com/kubernetes/kubernetes/blob/7858fc93e5c61ad87e6e2fafa5df33806b38bf28/pkg/kubelet/server/server.go#L610

Based on the `resp=400` it seems like the path being hit is here
https://github.com/kubernetes/kubernetes/blob/7858fc93e5c61ad87e6e2fafa5df33806b38bf28/pkg/kubelet/server/server.go#L672
[code]

In the `GetKubleletContainerL

[2022-06-08 21:22] jsturtevant commented on #108621
this is actively being worked on
/remove-lifecycle stale

[2022-06-08 21:44] mrunalp commented on #104459
cc: @kolyshkin

[2022-06-08 22:05] htech7x commented on #110177
Have the same issue.
Is there a solution at the moment ?

[2022-06-08 22:37] SergeyKanzhelev opened #110471 "Dummy image on registry.k8s.io"
It may be nice to have some dummy image on `registry.k8s.io` that doesn't exist on `k8s.gcr.io`. This way we can write a simple e2e test that will validate that the image mirroring was set up properly in the environment.

See https://github.com/kubernetes/kubernetes/pull/110350#issuecomment-1150476706 for example

cc: @thockin @dims

/area images-registry
KEP: https://github.com/kubernetes/enhance

[2022-06-09 00:21] #105187 closed

[2022-06-09 01:20] mikebrow commented on #110429
Hardening the container runtime integrations.. through mocking/injecting failures would, I think, be a worthy effort. Specifying well understood spec, but undocumented, invariants for the client and server side of the CRI API should be a part of this effort. The CRI integrations followed the dockershim invariants as written, when they were not formally called out in the CRI spec.  Continuing with

[2022-06-09 02:20] zhiweiv commented on #109162
@daschott @jsturtevant
For the Windows OS fix mentioned, do you know when will it arrive at Windows Server 2019?

[2022-06-09 03:07] #108594 closed

[2022-06-09 03:09] yangyuliufeng opened #110476 "pull private image failed on k8s 1.24.1 with containerd"
### What happened?

I create a docker-registry secret firstly：
[code]
Then, I create a deployment with this secret:
[code]
However, the pod failed to pull this image
[code]

When I repeat the same steps on k8s 1.21 with Docker, it works.
When I pull a public image on this cluster, it works.

### What did you expect to happen?

When I pull a private image with docker-registry secret, it should succ

[2022-06-09 03:12] yangyuliufeng commented on #110476
/sig Apps

[2022-06-09 04:21] #107401 closed

[2022-06-09 04:49] MaiSao opened #110478 "Kubelet failed to start due to CPUs stat mismatch"
### What happened?

In kubelet config, we use cpuManagerPolicy: static, and specify the following configuration to reserve cpu for system etc:

![image](https://user-images.githubusercontent.com/32025886/172765230-50b71b73-8bc7-4f2e-aa80-aebb8c55db3a.png)

When server rebooted, kubelet will fail to start, this is the error log:

![image](https://user-images.githubusercontent.com/32025886/172765486

[2022-06-09 05:19] wojtek-t commented on #107964
/priority important-longterm

[2022-06-09 05:27] MadhavJivrajani commented on #110478
/sig node

[2022-06-09 05:49] yxxhero commented on #110476
@yangyuliufeng Please check your permission of your harbor user.

[2022-06-09 06:24] hicaistar commented on #110401
yes, maybe the same reason

[2022-06-09 06:26] hicaistar commented on #107543
I've met the similar problem, and fix it by pr: https://github.com/kubernetes/kubernetes/pull/110402

[2022-06-09 06:31] tonyaw commented on #110126
Hello, any comment?

[2022-06-09 07:11] #108779 closed

[2022-06-09 08:58] ypf-bendan opened #110487 "Is it possible to provide in-place upgrade capability for PODs?"
When POD modifies the image, it should stop the backend service as Service, can this be achieved by modifying the Ready state of POD?  like openkuise.

[2022-06-09 09:20] yangyuliufeng commented on #110476
[code]
However, I can login with docker
[code]

[2022-06-09 09:22] yangyuliufeng commented on #110476
[code]
However, I can login with docker
[code]

[2022-06-09 09:26] pacoxu commented on #110445
Here is a simple demo to show what happened.

- Demo1:  test-hostnetwork-with-hostport. This pod is using hostNetwork.(in this case the hostPort must be same to containerPort as it is hostNetworking.)
- Demo2: test-hostport-only: you can set different ports. You can access both `<PodIP>:<contianerPort>` and `<PodLocatedNodeIP>:hostPort`.

[code]
After creation, you can wait and curl on the pod/nod

[2022-06-09 09:30] pacoxu commented on #110445
/close
please try asking on https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
if there is a confirmed bug you can re-open the issue and add more details.

[2022-06-09 09:31] #110445 closed

[2022-06-09 09:44] pacoxu commented on #110476
The error message is clear. You need to fix the certificate on your registry; it is not valid according to Go's certificate validation rules. You can Google that error message for more information.
I am not quite familiar with that. You may try https://github.com/containerd/containerd/issues/5079#issuecomment-791126104.

/remove-kind bug
/kind support
as it is not kubernetes bug.

[2022-06-09 09:57] dk-github commented on #63214
/remove-lifecycle rotten

[2022-06-09 10:13] RamyAllam commented on #110461
I see this in kubelet logs as well if it helps
[code]

[2022-06-09 10:23] alkoclick commented on #81101
For anyone arriving here like me who had this issue, check that your PV does not have any [protection finalizers](https://stackoverflow.com/questions/51358856/kubernetes-cant-delete-persistentvolumeclaim-pvc/53305538). If it does, you should delete them. In my case, the PV immediately got deleted after clearing them.

[2022-06-09 10:42] vaibhav2107 commented on #108537
/remove-lifecycle stale

[2022-06-09 11:21] #107202 closed

[2022-06-09 11:23] #108008 closed

[2022-06-09 12:14] vinaykul opened #110490 "[FG:InPlacePodVerticalScaling] Pod Resize E2E test - add test for scheduler, fix code review items"
### What would you like to be added?

In-Place Pod Vertical scaling [PR](https://github.com/kubernetes/kubernetes/pull/102884/) has an E2E test for testing pod resize. This test needs a fix fixes and improvements.

1. Add E2E test for exercising changes to scheduler code in the above PR. See comment: https://github.com/kubernetes/kubernetes/pull/102884#pullrequestreview-834424032
2. Move pod-resiz

[2022-06-09 12:15] vinaykul commented on #110490
/sig node

[2022-06-09 13:34] dcbw commented on #108658
Closing; please re-open if 107750 doesn't solve the issue with a bit more config.
/close

[2022-06-09 13:34] #108658 closed

[2022-06-09 13:52] alculquicondor commented on #96515
/reopen

@smarterclayton do you still think we should do this?

[2022-06-09 15:09] dcbw commented on #110177
From the logs, kubelet seems to think there are two containers in the etcd pod:

[code]

But containerd thinks there's only one:

[code]

could be an issue, but maybe I forget how containerd works. Seems odd though.

But really, we need more logging from kubelet to figure out why this happens:

[code]

Any chance you can bump kubelet logging to V=5?

[2022-06-09 15:29] Jefftree commented on #108008
/close

[2022-06-09 15:33] thockin commented on #110456
We know that Kubernetes itself doesn't prevent you from using it (we use it in GKE).  Your own network gear might have a problem with it, though.

I'll close this, since #110457 is merged

[2022-06-09 15:33] #110456 closed

[2022-06-09 15:37] thockin commented on #110357
While we COULD try to merge `domain` directives into the in-pod `search` - it seems likely to have some side-effect that I can't predict.  The change itself is probably not difficult from a code POV, but we'd need to think through the corner cases.

Is it terribly onerous to change these to `search` or to use the dnsConfig directly?

Out of curiosity - what does Docker do here?  Does it respect `d

[2022-06-09 15:46] thockin commented on #110302
In this case it sounds like your client has an open connection, right (as opposed to closing it and periodically re-opening)?  Or am I misunderstanding?  If so, this is about connection tracking, not affinity.

Session affinity only matters for new connections, not new packets on existing connections.  In (almost?) every implementation, kube-proxy is more of a router than a proxy, which means your

[2022-06-09 15:47] thockin commented on #110301
Yeah, if this is real, we should fix it.

[2022-06-09 15:49] thockin commented on #110225
@jkh52 I think?

[2022-06-09 15:59] thockin commented on #109678
I don't know how CPU spikes would cause RST, though.

The kernel's conntrack subsystem pre-allocates a finite number of records and every 5-tuple flow is stored there.  If you have a lot of connections (or a lot over a short period) it could get "full" and fail to allocate.

As suggested above - `conntrack -L` within the pod and on the root netns might show something.  Also look in dmesg?

[2022-06-09 16:06] thockin commented on #109672
Can you provide details on exactly what NOTRACK rules you are using?

[2022-06-09 16:15] rhzs commented on #2630
/remove-lifecycle stale

[2022-06-09 16:19] robscott commented on #110301
Thanks for the detailed bug report @sfudeus! Reading through this bug, it appears that this is limited to kube-proxy's implementation when it is reading from Endpoints, it does not appear to represent any bug within the Endpoints controller itself. If it did represent a bug in Endpoints itself, that would be significant as that is something we want to support long term. From what I can tell this i

[2022-06-09 16:19] #110301 closed

[2022-06-09 16:31] caseydavenport commented on #109814
Speaking for Calico, it would be pretty trivial for us to implement either of these options should this be the direction we go.

Feels like the main use-case that our users would care about is the "sparse IPv4 address space" scenario, where the default would be all pods receive a v6 address but a small subset get marked in some way to also receive a v4 address.

I think this is probably something

[2022-06-09 16:37] jkh52 commented on #110225
I would file Konnectivity specific issues here: https://github.com/kubernetes-sigs/apiserver-network-proxy

I believe this is a known spurious error log, and https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/353 addresses this.

[2022-06-09 16:44] leilajal commented on #110348
/triage accepted

[2022-06-09 16:46] leilajal commented on #110424
/remove-sig api-machinery

[2022-06-09 16:49] leilajal commented on #110431
/assign @alexzielenski @Jefftree
Thanks for looking into this! Find people if you need help.
/triage accepted

[2022-06-09 17:17] jsturtevant commented on #109780
looking at the output from @marcelvwe I think I am seeing the external IP in the output as well. @marcelvwe can you confirm I've tried to reproduce this properly?  What is the use case and symptom you are experiencing?

That is in the output shared above by @marcelvwe that was pasted above, does have the `10.234.15.250`

[code]

[2022-06-09 20:07] thockin commented on #109678
Thanks for the update!

[2022-06-09 20:07] #109678 closed

[2022-06-09 21:01] #109904 closed

[2022-06-09 21:10] aojea commented on #110462
/remove sig-network
/remove sig-node
/unassign

This seems a deployment problem ... on calico to be precise

[code]

first point of contact for initial triage should be the job/sig owners ... this job also seems to be failing for a long time

/sig cluster-lifecycle
sig-cluster-lifecycle-cluster-api-alerts

[2022-06-09 21:11] aojea commented on #110462
/remove-sig network
/remove-sig node

[2022-06-09 21:25] #102698 closed

[2022-06-09 21:38] c-nixon commented on #78902
/reopen I know that won't work, but this would still be very useful.

[2022-06-09 21:39] mryellow commented on #2630
Bump. God I hate bots which come and hide information from developers. No, if it's not solved it's still an issue stale or not.

[2022-06-09 22:03] jingxu97 commented on #2630
Thanks, @mryellow for bringing it up. We will try to talk about this issue in storage meeting and see whether we can come up with some solution. Please share any details about the issue you encounter and any thoughts about how to solve it. Thanks!

[2022-06-09 22:07] djschny commented on #2630
@jingxu97 Are the last **7.5 years** of details shared not good enough? lol

[2022-06-09 22:25] xhejtman commented on #2630
I think proper solution is to finish implementatio of fsUser attribute similar to fsGroup. It seems to be partly implemented in kubelet (but not complete), also not in API at all (you cannot specify fsUser currently).

[2022-06-09 23:04] jmgate commented on #110464
Another data point:  We're sending logs to ElasticSearch, but if, e.g., I'm using `completions: 9`, whether logs from 9 different pods make it into ElasticSearch is non-deterministic; often the number of pods represented in the logs is lower.  It's almost like Kubernetes is killing pods before they even start generating logs.

[2022-06-09 23:14] mryellow commented on #2630
Is the issue no longer an issue?

[2022-06-09 23:16] anderson-kl-1 commented on #76995
A minor tweak to @t-anil-kumar 's shell command got it to work for me on zsh on MacOS.   Here's my alias.

k8s_gpu='kubectl describe nodes | tr -d "\000" | sed -n -e "/^Name/,/Roles/p" -e "/^Capacity/,/Allocatable/p" -e "/^Allocated resources/,/Events/p"  | grep -e Name  -e  nvidia.com  | perl -pe "s/\n//"  |  perl -pe "s/Name:/\n/g" | sed "s/nvidia.com\/gpu://g" | sed "s/nvidia.com\/gpu//g" | sed

[2022-06-09 23:28] shuheiktgw commented on #110463
/sig cloud-provider
/area provider/aws

[2022-06-09 23:32] kolyshkin commented on #100328
I _think_ this should be fixed by https://github.com/kubernetes/kubernetes/pull/110496

[2022-06-10 00:14] rhzs commented on #2630
I think it's becoming a must have feature when we use k8s.

[2022-06-10 01:09] ringerc commented on #50632
It's vital *not* to unconditonally kill whole pods. Some apps *rely* on being able to handle child process OOMs themselves, and do not want the whole pod recursively killed. PostgreSQL for example.

[2022-06-10 01:29] tonybaloney commented on #19680
@thockin this issue is getting a little old :-) Should I close it?

[2022-06-10 01:37] MaiSao commented on #110478
No, i do not change CPU manager policy, when my server reboot, the kubelet not start as usual.

[2022-06-10 01:43] pacoxu commented on #110478
/cc @klueska @swatisehgal

[2022-06-10 01:49] LY-today commented on #110424
/sig testing

[2022-06-10 02:25] #106080 closed

[2022-06-10 02:37] LY-today commented on #110424
@yliaog If you have time, please help to look at this pr, thanks

[2022-06-10 03:09] Huimintai commented on #107561
Is thre any update on this issue? I am facing the same issue on  k8s cluster 1.24.1 with containerd v1.5.10.When I try to restart containerd it can not restart.
[code]

[2022-06-10 03:24] zwpaper commented on #106846
/remove-lifecycle stale

[2022-06-10 03:50] MikeSpreitzer opened #110499 "APF integration test evaluates throughput rather than latency"
### What happened?

In reviewing the existing tests for API Priority and Fairness (APF), I again noticed https://github.com/kubernetes/kubernetes/blob/v1.23.7/test/integration/apiserver/flowcontrol/concurrency_test.go#L143 .  This line tests whether APF delivered similar throughputs to two traffic flows.  But the test is very loose --- it only complains if one client got more than 2 X what the oth

[2022-06-10 05:21] nitheshrayuduv opened #110500 "Deployment Spec - Creates Pod with different name if it is around 62 characters in length."
### What happened?

Tried Crating 3 pods using an Deployment Spec with name length of 62 characters, The Created Pods don't have the correct name when the pods get created.

name in spec.
enter-prise-json-schema-validator-service-44-deployment6-20221

name of pod created.

enter-prise-json-schema-validator-service-44-deployment6-2bhn8f
enter-prise-json-schema-validator-service-44-deployment6-2rslj

[2022-06-10 05:32] nitheshrayuduv commented on #110500
/sig apps

[2022-06-10 05:37] MadhavJivrajani commented on #110487
/sig node

[2022-06-10 06:07] 249043822 commented on #110439
[code]

Requires `--lock-file` & `--exit-on-lock-contention` flags to be set on the Kubelet

[2022-06-10 07:14] mengschin opened #110501 "HPA target average value being summed when same metric is being used in more than one HPA"
**Output**
[code]

**Describe what happened:**
I'm using the same metric for different Horizontal Pod Autoscaler(HPA). As shown in datadog-custom-metrics config map above, the `Sample.Datadog.Metric` is being used in two different HPA: **Autoscaler1** and **Autoscaler2**

However, when describing each of the HPA respectively, you could see the Target Average Value is `1`, instead of `0.5` ; it see

[2022-06-10 08:28] 249043822 commented on #110439
/assign

[2022-06-10 08:34] boindil commented on #103675
Hi,

could anyony explain whether or not this has been fixed (and in what version)? We are currently using GKE (v1.21.11 and v1.22.8)

[2022-06-10 08:37] pacoxu commented on #110501
/sig autoscaling

[2022-06-10 09:20] pacoxu commented on #110500
The reason is https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names
- pod name contain at most 63 characters

[2022-06-10 09:45] nitheshrayuduv commented on #110500
Hi :) , Hope you are having a great day, Yes Pod Contains 63 characters at max.

We are Creating a Deployment that creates pods internally, the logic to Create the pod names from Deployment name is actually not proper.

The Deployment name is actually being replaced by the hash to 63 characters at the end.

Shouldn't the logic for creating pod names from deployment spec throw an error/warning stat

[2022-06-10 09:48] nitheshrayuduv commented on #110500
Sample

Deployment name: (62 characters)

qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq1q

Podname (Kubernetes created this from Deployment name, the last 5 got replaced by random string)

qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq**vn7jm**

[2022-06-10 11:28] #62793 closed

[2022-06-10 12:04] sftim commented on #90277
/reopen

[2022-06-10 12:05] sftim commented on #90277
Should we replace `scheduler.alpha.kubernetes.io/tolerationsWhitelist` with a new annotation? I think we should.

[2022-06-10 12:07] sftim commented on #110487
/kind support

[2022-06-10 12:08] sftim commented on #110471
`registry.k8s.io` doesn't host _any_ image data itself; we could change that, but that would be a switch from the existing design.

[2022-06-10 12:09] sftim commented on #110460
Good spot.

[2022-06-10 12:10] sftim commented on #110430
/wg batch

[2022-06-10 12:13] sftim commented on #110430
I'm not sure what the bug is here:
- adopting the Job but not marking `controller: true`?
- a documentation issue
  -  if this behavior is intended then we should explain why and warn readers that they become responsible for garbage collecting jobs they create manually

[2022-06-10 12:40] dims commented on #110462
cc @cpanato @richardcase

[2022-06-10 12:52] cpanato commented on #110462
will take a look
/assign

[2022-06-10 13:21] verb commented on #84764
@tonyaw That's correct, we won't be implementing this in the context of kubernetes/enhancements#277. It's possible we'd revisit this in the context of a new KEP, since it's popular, but I wouldn't expect it in the short term.

I agree that your use case sounds like a bad fit for ephemeral containers, which are best effort and shouldn't be part of normal pod operation. You could implement this as a

[2022-06-10 13:43] aojea commented on #110462
Check the Calico version, there was a similar report that was fixed bumping the version.

As a side not, I'm seeing a lot of problems related to

https://itnext.io/big-change-in-k8s-1-24-about-serviceaccounts-and-their-secrets-4b909a4af4e0

Lots of projects/test/code were assuming the secret was created and is causing a lot of noise in different CIs

[2022-06-10 15:07] mierak opened #110507 "Pod still running after being force deleted with 0 grace period, network policices stop applying"
### What happened?

Force deleting a pod with grace-period=0 does not immedietally stop it. Instead the pod disappears, is not listed anywhere. Only way to check if the pod is doing something is to access log files directly on the node fs.
Additionally, all network policies stop working when the pod gets in this half-dead state.

### What did you expect to happen?

The pod gets killed immedietally

[2022-06-10 15:20] jsturtevant commented on #107561
@Huimintai is this a linux or windows issue? There was a fix for linux here: https://github.com/containerd/containerd/issues/4604#issuecomment-1027293621.  This issue is tracking windows specifically.

[2022-06-10 15:56] linxiulei commented on #109672
Yeah, something like:

[code]

The 10248 is the port that kubelet's healthz service listens to

[2022-06-10 15:57] thockin commented on #109814
So for the record, my thinking:

I think the "v6 everywhere, v4 when specifically requested" case is real and compelling.  It brings an interesting IPAM challenge, though.  If the goal is to economize v4 addresses, you don't want to pre-allocate IP ranges to every node.  So when a pod which DOES want v4 lands on a node, you can't use the simple IPAM mode.  This is a problem for the implementation

[2022-06-10 16:01] cjcullen opened #126814 "CVE-2021-25748: Ingress-nginx `path` sanitization can be bypassed with newline character"
### Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use a newline character to bypass the sanitization of the `spec.rules[].http.paths[].path` field of an Ingress object (in the `networking.k8s.io` or `extensions` API group) to obtain the credentials of the ingress-nginx control

[2022-06-10 16:11] #126814 closed

[2022-06-10 16:41] uablrek commented on #109814
I would agree if the ipv4 addresses were Globally Unique (GUA), but I don't think that's the main goal. Global ipv4 addresses are for services (or external load-balancers). As opposed to ipv6 where the intention seem to be to assign GUA/ipv6 to all PODs (and skip NAT) from what I heard on several presentations on KubeCon.

I think a more common scenario is that some legacy application simply can't

[2022-06-10 16:41] #110270 closed

[2022-06-10 17:02] SergeyKanzhelev commented on #110471
Yes, I understand. This proposal is to add just one image or image tag with the unique name to test the mirror config. I wonder if the renaming may be done as a proxy by doing some routing magic.

[2022-06-10 17:55] matti commented on #69696
No it doesnt.

[2022-06-10 18:07] VengefulAncient commented on #69696
It does for us. (GKE/1.21)

[2022-06-10 18:22] thockin commented on #109575
In this regard, I think the cloud provider is "the person who assembled the cluster, including choosing metalLB".

So the question, I guess, is whether we should more strongly encourage other service implementations to do on-node source-range filtering when this API is used.  Given the intertwined nature of service IPs, LBIPs, and NAT, it seems like they have to, right?

For example, if we didn't

[2022-06-10 18:57] deads2k commented on #53459
With an admission webhook, you can force a label to hold the value of the node and you can then label select the values.  This is similar to the way that namespaces have enforced labels.  This is one the reasons why I thought CEL should be allowed to enforce values on labels.

[2022-06-10 19:47] jingxu97 commented on #108019
sorry I missed this. Is this still an issue? @divyenpatel @xing-yang

[2022-06-10 21:13] kenske commented on #90461
If you are still having this issue, make sure you're using the newest `apiVersion` (autoscaling/v2)

[2022-06-10 21:32] divyenpatel commented on #108019
we have marked the disk to set online before resizing but we need to do so for the mount as well.

[2022-06-10 21:35] danwinship commented on #109575
AIUI, MetalLB (at least in one mode) just uses BGP to redirect LB IP traffic to a particular node, and does not have any component that runs on the destination node itself. So they can't implement source ranges before the traffic hits the node (because there's no "load balancer host" that the traffic passes through that could do that), and they can't implement source ranges on the node itself (bec

[2022-06-10 21:50] thockin opened #110514 "Having two Default StorageClasses should be handled better"
Presumably this would occur when changing the default from one class to another.  E.g.

* Class X exists and is marked default
* Class Y is created
* Class Y is marked as default
* Uh oh!!  2 defaults
* Class X is marked as not default

At the case in point, when there are 2 defaults, we currently do not assign default values to new PVCs.

We should change this semantic - while there are two, pick

[2022-06-10 22:06] lavalamp commented on #53459
...that gets the job done, but means the cluster does N^2 work, since there's no index-- which is the complaint.

[2022-06-10 22:20] hholst80 commented on #66450
Can someone try and just remove the line breaks from the generated base64 encoding of the secrets and see if that will fix the problem? As normal ConfigMap works just fine I strongly suspect the base64 encoding is not all right / consistent and that is why K8s will think Secrets have changed even though they have not.

[2022-06-10 22:38] #107239 closed

[2022-06-10 23:41] thockin commented on #109575
Whoah.  I learned something.  Neat.

Right. In a scenario where someone uses MetalLB to route to a node, and that node is running a non kube-proxy implementation of services, they might get no firewalling at all.  The API spec does say "This field will be ignored if the cloud-provider does not support the feature" so it's not technically WRONG.

First action: we should update the comments to say "

[2022-06-11 00:10] jingxu97 commented on #108019
could you share the code link for set online before resizing, just to make sure?

[2022-06-11 00:14] #110439 closed

[2022-06-11 06:44] sanwishe commented on #110514
/assign

[2022-06-11 06:45] sanwishe commented on #110514
/assign @Octopusjust

[2022-06-11 09:11] mohini4prac commented on #40422
Although annotate option is there to have CHANGE-CAUSE , it is better to have --record option . It may happen that some incorrect message is provided in annotate .Providing actual command that was run while updating deployment will be more useful.

[2022-06-11 09:20] aufarg commented on #110146
Hi, is it okay for me to try implement the cache solution if I'm totally new to the codebase?

[2022-06-11 09:40] #102856 closed

[2022-06-11 09:41] #107457 closed

[2022-06-11 11:38] danishprakash commented on #110514
@thockin picking either sounds reasonable but what if we allow only one default to be set and disallow/warn users if they try to create another default. I can think of issues with this too, mainly when switching over to a new default by removing an existing class A and then setting B as a default but managing that orphaned period while the transition happens, maybe we can have the heuristic there?

[2022-06-11 11:42] danishprakash commented on #110460
Mind If I take a shot at this?

[2022-06-11 14:18] Ed87 opened #110517 "What is the exact format for Mongo-URI when connecting to a Kubernetes MongoDB instance"
**Name and Version**
docker.io/bitnami/mongodb:4.4.6-debian-10-r0

What steps will reproduce the issue?

1. `kubectl exec -it <pod_name> -- sh`
2. Run mongodump command while passing a MongoURI to the command

**What is the expected behavior?**
I want to setup backups for my MongoDB instance and the k8s cron job that executes these backups _will need a Mongo-URI in order to connect to the deployme

[2022-06-11 14:28] alberthuang24 commented on #110478
You only provided the kubectl version, please check the server version, you can get the information by running `kubelet --version`

[2022-06-11 14:57] alberthuang24 commented on #110517
Does `kubectl exec -it <pod_name> -- sh` where `<pod_name>` refers to the mongo pod itself? Or is it a pod for another service? If it is mongo itself, you can replace `mongo-headless-service.svc.cluster.local` with `localhost`, otherwise please let me see your service file definition

[2022-06-11 15:12] abdennour commented on #49343
Sometimes it's about bad internet connection and slowness in bandwidth... Then, timeout has to be increased.

[2022-06-11 15:46] #96569 closed

[2022-06-11 16:10] danwinship commented on #109575
https://github.com/kubernetes-sigs/kpng/blob/master/doc/service-proxy.md !
I wrote it last year after helping the ovn-kubernetes team figure out a bunch of weird edge cases. I wasn't really sure where to put it but went with kpng since in the future most alternative service proxies will presumably be based on that...

Oh... well, and actually, it already says that proxies should implement LoadBala

[2022-06-11 17:36] thockin commented on #109575
Oh yeah!  I did read that.  That is a good place to document this.

Do we all agree that this is the guidance?

On Sat, Jun 11, 2022 at 9:11 AM Dan Winship ***@***.***> wrote:

[2022-06-11 20:20] Ed87 commented on #110517
@alberthuang24  `kubectl exec -it <pod_name> -- sh` refers to the Mongo pod itself. Eventually I want run the command from another pod for another service - in this case I will use the command in my CronJob (you can check the link I pasted for the example Im following).

I have replaced  `mongo-headless-service.svc.cluster.local` with `localhost` but I am getting Authentication Failed error :

<im

[2022-06-12 03:02] sschmitt opened #110521 "Add finalizer races with object deletion"
### What happened?

The API server reported that adding a finalizer was successful, however it also allowed the object to be deleted (removed) without first removing the finalizer.

### What did you expect to happen?

I would expect for the object to be present, with a deletionTimestamp, if it gets deleted after adding a finalizer.

### How can we reproduce it (as minimally and precisely as possib