[2017-03-02 23:45] yujuhong commented on #41516
Hmm..Where can I find the list of patches for your docker?

[2017-03-02 23:46] skriss opened #42451 "Job E2E tests failing in upgrade test jobs"
@soltysh directing this at you for now because you're listed as the test owner.

In the upgrade test jobs, most of the Job E2E tests are failing. See, for example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-latest-upgrade-cluster/479

The common error message is:
[code]
I'm guessing this is related to renaming and/or moving

[2017-03-02 23:53] yujuhong opened #42453 "The "Accelerators" feature should not be turned on if container runtime is not docker"
Ref: #42407

The feature relies on docker client being present and will error out if it's not the case. The feature should really be disabled if runtime is not docker.

/cc @kubernetes/sig-node-bugs

[2017-03-02 23:56] malix0 commented on #6862
The google group discussion has an updated URL https://groups.google.com/forum/m/#!topic/kubernetes-users/aWZ0U_SIA6A

[2017-03-03 00:03] mrunalp commented on #41516
https://github.com/projectatomic/docker/tree/docker-1.12.6

[2017-03-03 00:04] mrunalp commented on #41516
We also have similar trees for containerd and runc under projectatomic.

[2017-03-03 00:09] lguminski commented on #38493
Probably the first message should be more explanatory. Instead of

replicaset "k8shserver" deleted

something like

replicaset "k8shserver" has been marked for deletion

[2017-03-03 00:14] jianzhangbjz commented on #42412
@vishh Well...I will submit a patch then.

[2017-03-03 00:15] vishh commented on #42412
Do you already know what the bug is ?

[2017-03-03 00:17] justinsb commented on #42433
So I don't really understand what is going on, but I can confirm a few details from a manual test run:

* 770 is the resource utilization of the core system pods (see below)
* I am not running a rescheduler pod.  (I presume there is no e.g. magic flag to enable it)
* The master comes up first, and runs kube-dns in a daemonset.  The nodes come up a few minutes later.  The 770 are running as static

[2017-03-03 00:23] davidopp commented on #42433
FWIW the possibility of a race with static pods is mentioned here
https://github.com/kubernetes/kubernetes/issues/34772#issuecomment-260367534

But I would think that it should not infinite loop even if you never add non-master nodes to the cluster, i.e. once scheduler sees the static pods, it should stop thinking the resources are available. Did you try leaving it alone after just bringing up the

[2017-03-03 00:31] k82cn commented on #42433
kube-dns in daemonset? deployment?

[2017-03-03 00:35] k82cn commented on #42133
Worked with latest code although not sure which PR handled it :).

[2017-03-03 00:35] #42133 closed

[2017-03-03 00:46] k82cn commented on #42419
Can any golang tools help, e.g. golint?

[2017-03-03 01:02] jianzhangbjz commented on #42412
Yeah... I will give a try.

[2017-03-03 01:05] k82cn commented on #42281
Yes, that's right; kubelet update NodeInfo to apiserver.

Yes, we can call it cache; but I think it's not for performance improvement. Scheduler does not do scheduling/assignment in addNode/updateNode callback.

[2017-03-03 01:10] jianzhangbjz commented on #42412
@cmluciano Yes.

[2017-03-03 01:18] #41662 closed

[2017-03-03 01:56] yujuhong opened #42461 "ci-kubernetes-e2e-kops-aws is broken"
It's been broken since noon: https://k8s-testgrid.appspot.com/sq-blocking#kops-aws
Failure examples:
 - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/4942
 - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/4941
potential offenders: https://github.com/kubernetes/kubernetes/compare/8cc7475...1d97472

The RC/RS

[2017-03-03 02:13] yujuhong commented on #42461
/cc @k8s-oncall

This is blocking the submit queue.

[2017-03-03 02:18] yujuhong commented on #42461
Also, the `kube-dns-autoscaler` pod entered crashloop backoff.

[2017-03-03 02:25] yujuhong commented on #42461
/c @MrHohn

[2017-03-03 02:27] yujuhong commented on #42461
The failed dns pods should resolve by itself, but the `kube-dns-autoscaler` crashlooping seems to be the main problem(?)

[2017-03-03 02:29] MrHohn commented on #42461
kubernetes/kops/pull/1997 added a new kube-dns template to kops but it forgot to remove this line https://github.com/kubernetes/kops/pull/1997/files#diff-6df1ffa89925b902fe586aca846f2bb0R44.

[2017-03-03 02:32] justinsb commented on #42433
@k82cn sorry - I meant kube-dns runs in a deployment.

@davidopp I fired up a kops cluster with no non-master nodes (I set the nodes instancegroup to size 0), and it did settle as you said it would/should.  After about 2 minutes, a kube-dns pod went into pending and the OutOfCpu pods stopped being spawned.

It did create 70 kube-dns pods in the OutOfCpu state.  I hope those are eventually GCed :-)

[2017-03-03 02:33] yujuhong commented on #42086
@smarterclayton I looked at one kube-dns pod failure in https://github.com/kubernetes/kubernetes/issues/42461#issue-211573834. The problem seems to be exacerbated by the fact that pods could be scheduled to the master and (maybe) resources on the aws are tighter?

[2017-03-03 02:35] davidopp commented on #42433
Thanks for doing the experiment, @justinsb . Sounds like the "race condition with static pods" theory from https://github.com/kubernetes/kubernetes/issues/34772#issuecomment-260367534 is a likely explanation.

[2017-03-03 02:46] justinsb commented on #42433
Yes - thank you for suggesting the test @davidopp .

I think that this is an annoyance but unlikely to be the root cause of my problem.  AFAICT having ~70 OutOfCpu pods is not ideal, but isn't really a problem for cluster creation.  I think I've found another problem, but if that doesn't solve it I'll check if our e2e scripts are (incorrectly) being overly strict about clusters with failed pods.

[2017-03-03 02:47] smarterclayton commented on #42461
After we get a fix can we get a determination why it took 10 hours to respond to a broken job?

[2017-03-03 02:53] smarterclayton commented on #42461
@kubernetes/sig-testing-misc re: above and discussion, maybe we should assign some jobs to sigs and have an email list for when the queue breaks.  Not all jobs are like that, but maybe we can get sig job on-calls from each sig during release weeks (and rotate among sigs)

[2017-03-03 03:03] justinsb commented on #42461
Just merged the fix to dns-horizontal-autoscaler - thanks @MrHohn .  I was also looking at the kops build issue - we had an unrelated problem which I thought was the issue https://github.com/kubernetes/kubernetes/issues/42433 though I do think / hope that the cluster autoscaler fix will get it.

And yes, we should definitely have a slack room for any jobs that are submit-queue blockers.  Maybe eve

[2017-03-03 03:09] apelisse commented on #42461
We have a pager duty for "working hours", it's https://github.com/k8s-oncall. And it's me, I've tried to investigate the issue but couldn't find the offender (was it really #41984?). I should have reverted or asked for help on slack (where?).
Sorry about that.

[2017-03-03 03:11] justinsb commented on #42461
I'm also working on getting e2e jobs to add testing against the various k8s versions with kops: https://github.com/kubernetes/test-infra/pull/2106

[2017-03-03 03:16] justinsb commented on #42461
@apelisse I don't think it was #41984 - I think it was much more likely to be https://github.com/kubernetes/kops/pull/1997 , but then I am a little perplexed as to how it passed the pre-test once and made it to the blocking job.  Maybe a race if we observe it before the autoscaler job fails - e.g. if we're slow to pull the image.

I definitely don't mind being pinged in slack on any AWS job.  And

[2017-03-03 03:25] bgrant0607 commented on #17456
ref #12732

[2017-03-03 03:30] wanghaoran1988 commented on #42439
@k82cn Would you mind assign this to me?

[2017-03-03 03:34] apelisse commented on #42461
Are you telling me that there is an external implicit dependency that broke kubernetes/kubernetes and that there is no way to tell? *mild shock*. Seriously, that sounds like a bad idea. Shouldn't we have dependencies defined/committed in one place? And the submit-queue for k/k shouldn't break because another commit happens in another repo?

I'll definitely keep note that I can ask for your help if

[2017-03-03 03:40] MikaelCluseau commented on #39816
FWIW, here's the patch I wrote to get back to a more reasonable behavior:
[code]

(then, rebuild your controller-manager or hyperkube)

[2017-03-03 03:40] smarterclayton commented on #42461
I was thinking maybe just trying to have a way for random folks to connect a problem in a job with a set of people to ask - I always feel guilty about asking the build cop, and I think it's probably a good thing to grease the skids for queue -> sigs -> triage as we get bigger.

[2017-03-03 03:41] yujuhong commented on #42433
Didn't notice this issue earlier. I looked at one of the builds while debugging aws failure (unrelated to this issue). See https://github.com/kubernetes/kubernetes/issues/42461#issue-211573834.
In short, the delay of mirror pod creation is one cause (the fact that the master node was not unschedulable made this worse). The resources in the aws test environment also seemed a little tight(?). Before

[2017-03-03 03:41] smarterclayton commented on #42461
Heck, if the job flake comment had an @ group for the flaking job (and a corresponding slack channel link on the test grid) that could potentially address the "who do I ask" question.

[2017-03-03 03:42] smarterclayton commented on #42461
We got a green, so hopefully back to working.

[2017-03-03 03:43] yujuhong commented on #42461
Yep. Pretty sure it's fixed.

Closing this issue and move the discussion to improve the flow somewhere else?

[2017-03-03 03:44] yujuhong commented on #42461
Never mind....one green and then a red again.

[2017-03-03 03:49] justinsb commented on #42461
So @zml can probably explain better, but the issue here is that we have safety mechanisms but that (for some reason) they failed.  We actually could consider these safety mechanisms for _all_ the blocking jobs.  If the safety mechanisms stop the queue from being blocked when it would otherwise be, so much the better :-)

So what is this magical safety mechanism?  All credit to @zmerlynn for devisi

[2017-03-03 03:50] smarterclayton commented on #42461
GKE fix is in (merged that a few minutes ago).  How long does it take for a kops fix to propagate to queue?  Instant?

[2017-03-03 04:02] k82cn commented on #42433
@justinsb ,  set `terminated-pod-gc-threshold` to gc terminated Pods whose default value is 12500.

[2017-03-03 04:08] smarterclayton commented on #42461
Got it, thanks.

[2017-03-03 04:08] yujuhong commented on #42461
Both https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-updown/8301 and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/4945 are interesting flakes though...

Just right before the 10 minute timeout, the test declared all kube-system pods (including `kube-dns-autoscaler`) were running and ready.

[2017-03-03 04:10] #38556 closed

[2017-03-03 04:13] justinsb commented on #42461
Just posted in sig-testing a request for someone to check if jenkins is really overloaded, as it looks like that is why 8310 missed ("If anyone has access to jenkins, I'm trying to understand why `ci-kops-build` took half an hour to trigger (AFAICT).  The build is https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kops-build/344 , the commit is https://github.com/kubernetes/kops/p

[2017-03-03 04:22] justinsb commented on #42461
So `kube-dns-autoscaler` has no health check configured, and in our case would crash on startup.  Would it be momentarily ready while the pod had been created, but before it had crashed (because no health-check?).

[2017-03-03 04:24] caesarxuchao commented on #39816
Thanks @MikaelCluseau. #38679 changed gc to use the ratelimited queue, so the hotloop should have been fixed on the master branch.

[2017-03-03 04:30] ethernetdan commented on #42461
+1

[2017-03-03 04:42] justinsb opened #42463 "`kubectl get pods -w` broken"
kubectl get with --watch seem to be broken at (recent) head.
[code]

[code]

[2017-03-03 04:43] justinsb commented on #42463
Edit: kubectl 1.5.1 seems to work against the same server.

[2017-03-03 04:48] justinsb commented on #42463
Also, back to 1.7, `kubectl get pods -w -oyaml` _does_ work

[2017-03-03 04:52] MikaelCluseau commented on #39816
My patch was done on the `release-1.5` branch, should anyone prefer to avoid upgrading to alpha.0 :)

[2017-03-03 05:26] MikaelCluseau commented on #39816
@caesarxuchao BTW, is there a backport to 1.5 planned? #38679 is flagged `size/XXL` so, should a smaller patch be needed, feel free to use this one of course.

[2017-03-03 05:40] justinsb commented on #42461
kops seems happy again :-)

[2017-03-03 05:54] fen4o commented on #42401
Thanks for the quick reply

Our usecase right now is that we want to use RBAC for kube 1.5.x and we plan to move to 1.6 once it's stable enough.

The problem is that addons don't provide their needed ClusterRoles in their documentation and one must look either in the source code of the add-on or in the bootstrap policy file (or test data folder).

I guess that a better approach is to improve the d

[2017-03-03 06:09] deepak7093 commented on #1806
Hey,

Is there any workaround to pass Dockerfile to kubectl instead of Docker images.

[2017-03-03 06:25] feiskyer commented on #42453
@yujuhong Kubelet already refuses to start if the runtime is not docker (see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L800)).

[2017-03-03 06:28] feiskyer commented on #42463
dup of #42276.

[2017-03-03 06:38] smarterclayton commented on #12732
We are considering extending this to allow users to request secret generation of two secrets - one a CA.crt with private key, and one a client cert against that key.  That would allow some common two party client auth setups to happen automatically.  This turned out to be a requirement for things like elastic search and fluentd, where we want fluentd to have a client cert that is distinct from the

[2017-03-03 07:32] tbchj commented on #23920
all my fault. hostport can work . i make a mistake, sorry

[2017-03-03 07:35] harryge00 opened #42465 "Can PVC show used/available size?"
This is a FEATURE REQUEST.

Now persistent volume/persistent volume claims can display capacity. However, I am wondering if PVC can display how much of the capacity is used, and how much is left.

[2017-03-03 07:48] tbchj commented on #42146
@cmluciano  thank you for answer me
but i think what i said and #42116  are not  the same  question.
mine is:  when i use cpu i run on docker like: docker run ......   , but when i use gpu on docker like: nvidia-docker run .... ,  maybe i can also use gpu on docker like this and some params:  docker -v ...  -device...
but i want to know how to use gpu and cpu on kubelet which encapsulated docker a

[2017-03-03 08:00] tbchj commented on #42146
@cmluciano  yes, thank you,maybe you are right. i just read  #42116 totally, it seems has something  i need.

[2017-03-03 08:03] k8s-merge-robot opened #42469 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: udp [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2326/
Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: udp [Conformance] {E2eNode Suite}

[code]

[2017-03-03 08:27] tbchj commented on #42146
i just tested, it did work. the volumn i mount was wrong before .  the new yaml i used as below
[code]
i solve my problem, thank you

[2017-03-03 08:32] #42146 closed

[2017-03-03 09:14] Smana commented on #28335
I still faced the same issue. I had to append a trailing dot to the domain name.
Could you please reopen this issue ?

[2017-03-03 09:46] jsafrane commented on #42358
It seems @jingxu97 is already working on a patch in https://github.com/kubernetes/kubernetes/pull/42444

[2017-03-03 09:50] hikhvar opened #42473 "KubeProxy does not delete connections for traffic to NodePort Service if the backend changes."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

nodeport udp

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG

[2017-03-03 10:00] wanghaoran1988 commented on #42439
@bsalamat Are you working on this?

[2017-03-03 10:06] jianzhangbjz commented on #42412
@vishh PR is here [fixed #42412 issue](https://github.com/kubernetes/kubernetes/pull/42475), I will add the `e2e` later.

[2017-03-03 10:16] kargakis commented on #40415
Today or tomorrow cc: @mwielgus

[2017-03-03 11:13] k8s-merge-robot opened #42476 "[k8s.io] Projected should update labels on modification [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2328/
Failed: [k8s.io] Projected should update labels on modification [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-03 11:35] kargakis commented on #42465
@kubernetes/sig-storage-feature-requests

[2017-03-03 11:49] kargakis commented on #42449
@kubernetes/sig-apps-test-failures

[2017-03-03 11:50] kargakis commented on #42449
Why are we expecting an error to occur on every test?:)

[2017-03-03 11:54] kargakis commented on #42449
Is this test running 1.6 tests against a 1.4 cluster? This should explain the other deployment failure regarding the overlapping test.

[2017-03-03 11:59] soltysh commented on #42451
@skriss it looks like you're running 1.4 e2e tests (see this [createJob](https://github.com/kubernetes/kubernetes/blob/release-1.4/test/e2e/job.go#L264-L266) function) on newer cluster (1.6 at least). Starting since 1.6 we dropped entirely support for Jobs in extensions endpoint (see [this PR](https://github.com/kubernetes/kubernetes/pull/38614)).

Not sure about your setup but either you will saf

[2017-03-03 12:09] soltysh commented on #35507
This is not a problem with that particular test but a general problem mentioned in #36054. Closing in favor of that.

[2017-03-03 12:14] DmitryRomanenko commented on #13488
@tyranron, thanks! What is the best way to version `ConfigMap`s? Should I create new config map with a different name for new deployment?

[2017-03-03 12:40] deads2k commented on #42401
I think that's a good idea.  I think if an add-on provided a beta version of their role, then if someone needed an alpha level for some reason they use `kubectl convert` to manage it themselves.

[2017-03-03 12:54] jonaz commented on #36072
Im still seeing this on v1.5.3 :(

[2017-03-03 13:00] kargakis commented on #42438
@kubernetes/sig-node-bugs

[2017-03-03 13:06] erkez commented on #42364
I also noticed this today.
The node is using version 1.5.2 and we are using latest gcloud SDK components (v146).

At the moment I have to use `kubectl rollout status -f <FILE> --namespace <NS>`

[2017-03-03 13:14] #42463 closed

[2017-03-03 13:22] kargakis opened #42479 "Handle maxUnavailable larger than spec.replicas"
We need to gracefully handle the case when a Deployment specifies an absolute value of MaxUnavailable larger than its spec.replicas. I don't think we want to add validation for this, simply collapsing maxUnavailable to spec.replicas would suffice.

@kubernetes/sig-apps-misc

[2017-03-03 13:42] matthyx commented on #12987
@janetkuo I am working on custom errors in OpenShift (https://github.com/openshift/origin/issues/9434) maybe it could be nice to coordinate the work and do this in a unified way?

[2017-03-03 13:47] abarbachano opened #42481 "Attach a static IP by name to a service with type=LoadBalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**Current behavior**:
In a service with type=LoadBalancer it's possible to set a static IP already reserved by using loadBalancerIP: https://kubernetes.io/docs/user-guide/services/#type-loadbalancer

Ingresses allow using global static IPs by name via annotations: https://github.com/kubernetes/contrib/pull/563

**Desired behavior**:
It

[2017-03-03 14:29] s-urbaniak opened #42483 "cloud-provider openstack: exits immediately without providing --cloud-config"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** openstack controller-manager

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): CoreOS stable

[2017-03-03 14:38] fen4o commented on #42401
Great. I'll make some PRs Monday morning.

Closing the issue for now

[2017-03-03 14:38] #42401 closed

[2017-03-03 15:00] yushamariak commented on #26822
@aliser I'm having the same problem as you. Was it solved?

[2017-03-03 15:15] smarterclayton opened #42484 "ci-kubernetes-e2e-gci-gke-slow has been broken since 21:19pm EST yesterday"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/3594

[code]

[2017-03-03 15:16] smarterclayton commented on #42484
@ncdc found:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5435/?log#log

[2017-03-03 15:16] smarterclayton commented on #42484
@k8s-oncall @kubernetes/sig-testing-bugs did we change anything in test-infra or auth info on the backend yesterday?

[2017-03-03 15:28] mwielgus opened #42485 "Delete & stop publishing kubernetes-release/release/latest.txt, it is a confused concept"
[code]
It is causing couple of test suites to fail.

cc: @fgrzadkowski @MaciekPytel

[2017-03-03 15:32] dashpole commented on #41347
closing via #42015

[2017-03-03 15:32] #41347 closed

[2017-03-03 15:32] smarterclayton commented on #42484
@gnufied was looking at this.

[2017-03-03 15:35] dashpole commented on #38247
/close

[2017-03-03 15:35] #38247 closed

[2017-03-03 15:35] smarterclayton commented on #42484
Relaying from chat:

- no changes to kubernetes or test-infra in the time window
- suspect something in Google GCE infra changed, like a service account permission?

[2017-03-03 15:36] dashpole commented on #38331
/close

[2017-03-03 15:36] #38331 closed

[2017-03-03 15:36] dashpole commented on #22586
/close

[2017-03-03 15:36] #22586 closed

[2017-03-03 15:37] lukaszo commented on #42100
@spxtr how my PR may be related? There are no DaemonSet tests in the job.

[2017-03-03 15:48] gnufied commented on #42484
Yeah even dynamic provisioning tests failed with:

[code]

[2017-03-03 15:59] lmickh commented on #32480
I have a similar issue. It was resolved by making sure the service cluster IP was included on the certs issued to the api-server.

If the certs are updated after the fact (as mentioned in the original post), the service account secret in kube-system needs to be deleted and the pod restarted so they can grab the new token. See #19322 for more info regarding deleting the secret.

[2017-03-03 16:01] wojtek-t commented on #42485
@k8s-oncall

[2017-03-03 16:04] dashpole commented on #40824
Closing this for now

[2017-03-03 16:04] #40824 closed

[2017-03-03 16:06] kargakis commented on #41419
[code]
Seems like a different failure mode
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42480/pull-kubernetes-unit/21387/

[2017-03-03 16:07] kargakis commented on #41419
@kubernetes/sig-federation-bugs who owns this test?

[2017-03-03 16:07] kargakis commented on #39567
Closing in favor of https://github.com/kubernetes/kubernetes/issues/41419

[2017-03-03 16:07] #39567 closed

[2017-03-03 16:07] kargakis commented on #41419
Also a different failure mode again in https://github.com/kubernetes/kubernetes/issues/39567

[2017-03-03 16:26] wojtek-t commented on #42133
Fixed by https://github.com/kubernetes/kubernetes/pull/42183 (thanks @sttts )

[2017-03-03 16:27] #42446 closed

[2017-03-03 16:49] justinsb opened #42487 "AWS: Support multiple route-tables in kubenet (for private topologies)"
jwest on slack explained to me that they have a custom controller which allows kubenet to work with private topologies (i.e. multiple route tables).  It is simply a matter of updating the 3 route tables that match the tag, not bailing out when we see multiple matches.

This might be a little tricky because ideally we would run 3 separate controllers in this case on AWS, but we do have confirmation

[2017-03-03 17:01] ymqytw opened #42488 "types decoded from ToUnstructured and json.Unmarshal mismatch when applying the patch"
When patching, in [strategicPatchObject](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L82) the type decoded from ToUnstructured mismatch with the one decoded form json.Unmarshal for numbers.

Example:
port: 80 in original object has type int64
[code]
port: 80 in original object has type float64
[code]

This is the root cause of #

[2017-03-03 17:24] k8s-merge-robot opened #42490 "ci-kubernetes-e2e-gci-gce-statefulset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-statefulset/3134/
Multiple broken tests:

Failed: [k8s.io] StatefulSet [k8s.io] Deploy clustered applications [Feature:StatefulSet] [Slow] should creating a working zookeeper cluster {Kubernetes e2e suite}

[code]

Failed: [k8s.io] StatefulSet [k8s.io] Deploy clustered applications [Feature:StatefulSet] [Slo

[2017-03-03 17:24] #41859 closed

[2017-03-03 17:28] cjcullen commented on #42484
I'm digging into whether something changed in GKE

[2017-03-03 17:35] gnufied commented on #42484
GKE was supposed to start using v1 version of SCs - https://github.com/kubernetes/kubernetes/pull/42477

But I don't see how that can cause permission problems. cc @msau42

[2017-03-03 17:35] lhopki01 commented on #42164
I've encountered this issue when testing pod eviction policies.  Whenever my evictions thresholds are too close to the node physical memory limits I get issues.

I see ContainerGCFailed when I describe the node and when I connect to the node docker ps doesn't respond.  I have to restart the docker service to recover.

[2017-03-03 18:03] mikebrow opened #42492 "Kublet.log reports error with latest Docker version"
To reproduce error:
Install latest Docker release..

first terminal:

sudo PATH=$PATH KUBERNETES_PROVIDER=local EXPERIMENTAL_CRI=true CONTAINER_RUNTIME=docker hack/local-up-cluster.sh

second terminal:
cat /tmp/kubelet.log|grep illegal

E0303 10:36:09.811626    1592 container_manager_linux.go:90] Unable to parse docker version "17.03.0-ce": illegal zero-prefixed version component "03" in "17.03.0-

[2017-03-03 18:06] yujuhong commented on #42453
Hm...ok. We can fall back to your PR then

[2017-03-03 18:06] #42453 closed

[2017-03-03 18:12] nikhiljindal commented on #41419
cc @mwielgus who wrote the test and @csbell who is the last one to change it

[2017-03-03 18:14] nikhiljindal commented on #39567
fwiw, this one was filed by the bot which is preferred over a human filed one since the bot will keep pinging this whenever it sees a flake and will also ensure that the issue has the right priority label.

[2017-03-03 18:18] kargakis commented on #39567
Unfortunately the bot has stopped pinging issues when a flake occurs cc: @kubernetes/test-infra-maintainers

[2017-03-03 18:30] ericchiang commented on #23720
FYI I'd like to working on adding this webhook in 1.7. Specifically, adding a interface like:

[code]

and adding a webhook implementation.

[2017-03-03 18:33] kargakis commented on #42364
@kubernetes/sig-cli-bugs

[2017-03-03 18:34] nicksardo commented on #38569
For unknown reasons, the GLBC is failing to delete the ingress resources. Unfortunately, the e2e fallback cleanup mechanism is also failing. It's trying to list resources via exec.Command( gcloud ... list --regexp=XYZ ) but always coming back with 0 resources.  Putting the regular expression in quotes returns valid results.  Expect a PR this afternoon.

[2017-03-03 18:39] kargakis commented on #42392
@soltysh

[2017-03-03 18:43] DirectXMan12 commented on #38549
ping @jszczepkowski looks like this is still occasionally happening, PTAL

[2017-03-03 18:49] skriss commented on #42449
It should actually be the opposite, i.e. running 1.4 tests against a 1.6 cluster (that was upgraded from a 1.4 cluster)

[2017-03-03 18:55] bgrant0607 commented on #13606
Proposal: https://github.com/kubernetes/community/pull/122

[2017-03-03 18:57] msau42 commented on #42484
I made two changes in GKE recently, but I do not believe they should cause issues with GCE PD permissions.

1. Enable v1 version of SC api.  I don't think this should cause issues because no code has been changed to use the v1 API yet.  All code should still be using v1beta.
2. Enable the PersistentVolumeLabel admission controller.  The admission controller operates on PVs after they've been creat

[2017-03-03 18:58] jingxu97 opened #42493 "Node name filter might not set up right in some cloud functions gce.go due to node name prefix trunction"
GCE cloud node name has a length limitation, so the node name prefix might be adjusted https://cs.corp.google.com/piper///depot/google3/cloud/kubernetes/common/cluster.go?rcl=148419331&l=437

However, in gce.go, functions such as getInstancesByName and computeHostTags uses node instance prefix to set up a filter when making API calls. It checks whether the instance name conform the predefined node

[2017-03-03 19:07] skriss commented on #42199
@krousey @mikedanese Looks like this is still failing?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-upgrade-master/369/nodelog?junit=junit_runner.xml&wrap=on

[2017-03-03 19:10] janetkuo opened #42494 "`kubectl patch` shows "not patched" even after the resource is patched successfully"
[code]

Better fix this in 1.6. @kubernetes/sig-cli-bugs

[2017-03-03 19:10] krousey commented on #42199
Seems that way.

[2017-03-03 19:28] yujuhong commented on #42492
kubelet doesn't know how to handle docker's new version scheme yet. Some of the code does rely on semver versions, but they should only check the docker API version, which still follows the original scheme.

[2017-03-03 19:45] bsalamat commented on #42439
@wanghaoran1988 No, I am not. Please feel free to take it. I will be happy to review PRs.

[2017-03-03 20:03] ymqytw commented on #42494
Dup of #42384

[2017-03-03 20:13] nikhiljindal commented on #42352
Yes we do need to support pre-RBAC clusters.
Generally at most places in kubernetes, we support version skews of atleast one.

[2017-03-03 20:28] sjenning opened #42501 "[k8s.io] Garbage collector should orphan RS created by deployment when deleteOptions.OrphanDependents is true"
Failed: [k8s.io] Garbage collector should orphan RS created by deployment when deleteOptions.OrphanDependents is true
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41988/pull-kubernetes-e2e-gce-gci/20755/

[2017-03-03 20:39] perotinus commented on #42352
Some clarifications based on a chat with @nikhiljindal:

- If #42042 does not go in, there is no problem here
- Once #42042 goes in, in re this feature the FCP will still support all cluster versions that it did in 1.5 (though there may be other changes that would affect this)
- Once #41830 goes in, without fixing this issue, `kubefed join` will support clusters back to 1.4, when RBAC was introduc

[2017-03-03 20:43] soltysh commented on #42392
Additionally k8s 1.6 will (hopefully) get the move where Deployments are additionally available under `apps/v1beta1`. Only newer `kubectl` like @liggitt mentioned will be able to handle this properly.

[2017-03-03 21:07] msau42 commented on #42484
I believe the issue is enabling the PersistentVolumeLabel admission controller.  It is trying to query the labels for the PV, but is failing due to permission issues.  That causes the Admit() to return an error, causing the PV creation to fail.

[2017-03-03 21:13] Crassirostris commented on #41899
Thought it was resolved, but unfortunately no

[2017-03-03 21:15] #41899 closed

[2017-03-03 21:16] madhusudancs commented on #42352
Also, note PR #41830 won't go in, in its current state. It should include code to handle clusters without RBAC. @irfanurrehman isn't that the plan?

[2017-03-03 21:20] madhusudancs commented on #42352
Also, there won't be any regressions in `kubefed join` until PR #42042 merges. We will continue uploading admin user credentials and that is supported in all the clusters. The current regression that PR #41830 is trying to address is in `kubefed init` and that same fix can be reused, although in a slightly modified way, in `kubefed join` as well.

[2017-03-03 21:22] ncdc commented on #41893
@deads2k bump, can we close this now?

[2017-03-03 21:26] ncdc commented on #34247
This should be assigned to @kubernetes/sig-federation-bugs, right?

[2017-03-03 21:35] tyranron commented on #13488
@DmitryRomanenko you actually can, why not? But in this case you should take care about removing old ones. On the other hand it may be useful for rollback. But in most cases specifying version via labels is enough.

[2017-03-03 21:38] kargakis commented on #42449
The deployment overlap behavior has changed in 1.6 and is about to be dropped entirely, assuming https://github.com/kubernetes/kubernetes/pull/42175 gets merged. It was just bandage over a user error but that should not be possible in 1.6 with owner references. This means that the test is obsolete. I don't know what happens in this case. cc: @janetkuo

[2017-03-03 21:40] kargakis commented on #42449
I am talking about https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.4-container_vm-latest-upgrade-cluster/479#k8sio-deployment-overlapping-deployment-should-not-fight-with-each-other

[2017-03-03 21:42] nikhiljindal commented on #42352
Great thanks for clarification!

[2017-03-03 21:49] #31429 closed

[2017-03-03 21:54] #29964 closed

[2017-03-03 21:54] #32057 closed

[2017-03-03 21:55] #27834 closed

[2017-03-03 21:55] #28554 closed

[2017-03-03 21:55] #28845 closed

[2017-03-03 21:55] #29710 closed

[2017-03-03 21:55] #32405 closed

[2017-03-03 21:56] ymqytw commented on #42494
The fix #42391 is in the merge queue

[2017-03-03 21:56] #32854 closed

[2017-03-03 21:56] #33941 closed

[2017-03-03 21:57] #33649 closed

[2017-03-03 21:57] #33756 closed

[2017-03-03 21:57] #34567 closed

[2017-03-03 21:57] #34774 closed

[2017-03-03 21:58] #35586 closed

[2017-03-03 21:58] #35473 closed

[2017-03-03 21:59] janetkuo commented on #42494
Cool, closing in favor of #42384

[2017-03-03 21:59] #42494 closed

[2017-03-03 22:00] #38583 closed

[2017-03-03 22:00] #38064 closed

[2017-03-03 22:00] #37516 closed

[2017-03-03 22:01] #37496 closed

[2017-03-03 22:01] #36969 closed

[2017-03-03 22:01] #36948 closed

[2017-03-03 22:01] #36671 closed

[2017-03-03 22:03] bgrant0607 commented on #4855
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/runtimeconfig.md

[2017-03-03 22:04] bgrant0607 commented on #4855
Discussion for that proposal: https://github.com/kubernetes/kubernetes/pull/30003

[2017-03-03 22:05] #36122 closed

[2017-03-03 22:05] #35595 closed

[2017-03-03 22:10] gnufied opened #42503 "PVC creation with selectors is hard in 1.6"
Given PV:

[code]

Create a PVC that matches it via selector:

[code]

Creating the PVC fails with:

[code]

CC @kubernetes/sig-storage-bugs  @jsafrane

So far the only workaround I know is binding PV and PVC via volumeName in PVC and claim and claimref in PV

[2017-03-03 22:10] #36408 closed

[2017-03-03 22:11] #36576 closed

[2017-03-03 22:22] perotinus commented on #42324
I'm going to take a deeper look into this, unless someone else already is.

[2017-03-03 22:32] aliser commented on #26822
I believe it was solved by using GitHub SSH authentication

On Fri, Mar 3, 2017 at 10:01 AM, Yusha Mariak <notifications@github.com>
wrote:

[2017-03-03 22:36] pwittrock commented on #41892
@ncdc Assigning to you since you are investigating.

[2017-03-03 22:38] liggitt opened #42505 "API server cannot find data when switching from etcd2 to etcd3 with custom etcd prefix"
1. Start an API server with `--etcd-prefix=foo --storage-backend=etcd2`, populate with data, stop server
2. Migrate etcd2 to etcd3
3. Restart the API server with `--etcd-prefix=foo --storage-backend=etcd3`
4. All data is missing from the API.

The etcd2 client takes the configured prefix and passes it to the etcd client as `path.Join("/"+prefix)`. The etcd3 client simply passes in the configured p

[2017-03-03 22:41] liggitt commented on #42505
I think we have to preserve the `path.Join("/"+prefix)` behavior from the etcd2 client setup.

It's a no-op for the default prefix, but requiring a change to a custom prefix when switching from etcd2 to etcd3 is *really* unexpected, especially when the failure mode is that the apiserver starts up as if it's a brand new cluster (including creating default projects, kubernetes service, etc)

[2017-03-03 22:44] liggitt commented on #42505
cc @kubernetes/sig-api-machinery-misc @lavalamp @timothysc @wojtek-t @xiang90

[2017-03-03 22:47] pwittrock commented on #41892
cc @ymqytw

[2017-03-03 22:51] ymqytw commented on #42217
Should we remove the 1.6 milestone?

[2017-03-03 22:53] timothysc commented on #42505
/cc @mml @wojtek-t re: upgrade testing.

[2017-03-03 23:01] ravisantoshgudimetla commented on #39975
@calebamiles I didn't understand how this is related to sig/scheduling. Am I missing anything here?

[2017-03-03 23:13] #27957 closed

[2017-03-03 23:13] #28071 closed

[2017-03-03 23:13] #34855 closed

[2017-03-03 23:13] #26134 closed

[2017-03-03 23:13] #28569 closed

[2017-03-03 23:13] #32451 closed

[2017-03-03 23:13] #33285 closed

[2017-03-03 23:13] #33405 closed

[2017-03-03 23:13] #33702 closed

[2017-03-03 23:13] #33754 closed

[2017-03-03 23:13] #33874 closed

[2017-03-03 23:13] #33882 closed

[2017-03-03 23:13] #34060 closed

[2017-03-03 23:13] #34904 closed

[2017-03-03 23:13] #36230 closed

[2017-03-03 23:13] #37267 closed

[2017-03-03 23:24] nikhiljindal commented on #36657
https://github.com/kubernetes/kubernetes/issues/29335 is also related

[2017-03-03 23:59] k8s-merge-robot opened #42510 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-updown/9490/
Failed: DiffResources {e2e.go}

[code]

Previous issues for this test: #33373 #33416 #34060 #40437 #40454

[2017-03-04 00:02] csbell opened #42511 "GCE Ingress (GLBC) needs improved federation handling at ingress deletion time"
While GLBC has been coaxed to handle duplicate Ingress objects at creation time, it needs more logic to correctly handle deletion of federated ingresses. Currently, deleting one of the ingress objects outside of  federation will cause the entire ingress to be torn down. Eventually the federated controller re-creates the ingress object but the downtime should be omitted altogether. Possible solutio

[2017-03-04 00:12] jeffvance commented on #42503
@gnufied isn't there a way to disable a default storage class? I think one was is to define `storageClass: ""` but I also think there is an annotation to do this?

[2017-03-04 00:19] pieterlange commented on #24229
For anyone still stumbling over this ticket, i made a minimalistic "rancid clone" for kubernetes here: https://github.com/pieterlange/kube-backup

This basically loops over configured resources and commits changes to a git repo (from a Job within the cluster). Hopes this helps anyone.

[2017-03-04 00:21] msau42 commented on #42503
Yes, you can disable default storage class by removing the is-default annotation, or setting it to false.

However, I think this is an issue in the case where you have both pre-provisioned volumes and a default provisioner.

[2017-03-04 00:21] dashpole commented on #38050
@derekwaynecarr @vishh
[Changes](https://github.com/kubernetes/kubernetes/compare/bce0718...5c168e2)
#41644 seems the likely candidate.  Ill look at this on monday if no one else gets to it before that.

[2017-03-04 00:24] dashpole commented on #38050
@apelisse please assign this to me.

[2017-03-04 00:24] perotinus commented on #42324
@madhusudancs and I chatted about this for a bit. We thought about whether it would make sense to treat the service accounts the same as the secrets in the host context, since they are both per-cluster resources. We decided that it was better to use annotations for the service accounts (when they are added) to avoid modifying the API in a way that might tie our hands later, since the FCP does not

[2017-03-04 00:37] kow3ns commented on #42484
All the StatefulSet tests are broken on GKE with the following error:

I0303 15:41:59.672] Mar  3 15:41:33.663: INFO: At 2017-03-03 15:22:26 -0800 PST - event for datadir-ss-0: {persistentvolume-controller } ProvisioningFailed: Error creating provisioned PV object for claim e2e-tests-statefulset-cmdpk/datadir-ss-0: persistentvolumes "pvc-23412a8c-0068-11e7-9427-42010af0001a" is forbidden: error qu

[2017-03-04 00:39] msau42 commented on #42484
I just checked in a GKE change to disable the admission controller, so once that rolls out tonight, it should be fixed.

[2017-03-04 00:44] #42276 closed

[2017-03-04 01:15] janetkuo commented on #42449
Looking at the test, it expects get deployment to fail to make sure it's deleted  https://github.com/kubernetes/kubernetes/blob/b440e9a9dbb30b/test/e2e/deployment.go#L206

[2017-03-04 01:18] janetkuo commented on #42449
Something to do with garbage collector?

[2017-03-04 01:30] ymqytw commented on #40373
@obeattie We don't preserve the order of the environment variables, currently we sort them by the name which is the `mergeKey`.

Here we have at least 2 options to solve this issue:

**1. Always send the entire list**:

We always send the whole list from local file config in the patch. For the entries that have no change, we  only include the `mergeKey` in the list. For the entries that have chang

[2017-03-04 01:30] ymqytw commented on #40373
cc: @pwittrock

[2017-03-04 01:31] k8s-merge-robot opened #42514 "[k8s.io] Projected optional updates should be reflected in volume [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2337/
Failed: [k8s.io] Projected optional updates should be reflected in volume [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-04 01:33] Crassirostris opened #42515 "Fluentd-gcp CPU usage regression"
In `fluentd-gcp:2.0` CPU usage went up significantly compared to `fluentd-gcp:1.8`

It consumes more than one core even when there's no significant logging load on the node.

Two changes between those version:

* [Monitoring](https://github.com/kubernetes/kubernetes/pull/41567)
* [New base image](https://github.com/kubernetes/kubernetes/pull/41998)

CC @piosz @igorpeshansky @qingling128 @timstclai

[2017-03-04 01:41] igorpeshansky commented on #42515
Ruby by default is single-core, so anything over that is likely introduced by the [monitoring](https://github.com/kubernetes/kubernetes/pull/41567) changes. But we'd need to investigate to make sure.

[2017-03-04 02:08] #42441 closed

[2017-03-04 02:08] #41889 closed

[2017-03-04 02:08] #42384 closed

[2017-03-04 02:19] liggitt commented on #42448
Dupe of https://github.com/kubernetes/kubernetes/issues/37266

[2017-03-04 02:19] #42448 closed

[2017-03-04 03:00] caesarxuchao opened #42516 "CachedDiscoveryInterface.Fresh() should return false if it's using cached data"
The `DeferredDiscoveryRESTMapper` uses `CachedDiscoveryInterface` (`CDI`) in its methods, if the initial query via `CDI` [fails and `!CDI.Fresh()`](https://github.com/kubernetes/kubernetes/blob/320f7ce6f348a85a9a27e128e0eddee023e7478c/staging/src/k8s.io/client-go/discovery/restmapper.go#L198), the resmapper invalidates the `CDI` and contacts the server directly.

Currently [`CDI.Fresh()`](https://

[2017-03-04 03:07] caesarxuchao commented on #39816
Update: I tried to reuse [DeferredDiscoveryRESTMapper](https://github.com/kubernetes/kubernetes/blob/320f7ce6f348a85a9a27e128e0eddee023e7478c/staging/src/k8s.io/client-go/discovery/restmapper.go#L144) to dynamically translate TPR, but it didn't seem to work because of https://github.com/kubernetes/kubernetes/issues/42516. I'll find a workaround.

[2017-03-04 04:03] mtanino opened #42517 "Local cluster creation using get-kube-local.sh is never finished"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **OS** (e.g. from /etc/os-release): Fedora 25
- **Kernel** (e.g. `uname -a`): Linux localhost 4.9.10-200.fc25.x86_64 #1 SMP Wed Feb 15 23:28:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: cluster/get-kube-local.sh

**What happened**:
Loc

[2017-03-04 04:20] liggitt commented on #42516
What would you expect it to do? You could pair it with a ticking call to Reset() to force refreshing

[2017-03-04 04:36] smarterclayton commented on #42505
Throwing release blocker on here just so we don't lose it (given data loss potential)

[2017-03-04 04:57] dashpole commented on #42239
testgrid looks clear after #42341
/close

[2017-03-04 04:57] #42239 closed

[2017-03-04 05:06] smarterclayton commented on #42217
I'm fine with that

[2017-03-04 05:08] k8s-merge-robot opened #42520 "IsUp {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-updown/9506/
Failed: IsUp {e2e.go}

[code]

Previous issues for this test: #33702

[2017-03-04 05:32] madhusudancs commented on #42324
I would still add the annotation anyway. It is easier to list all the relevant objects if they are consistently annotated.

[2017-03-04 05:43] liggitt commented on #36293
All the issues referencing this issue are systemic failures (before failures timing out waiting for setup or after failures waiting for ns cleanup) with the exception of one (https://github.com/kubernetes/kubernetes/issues/37062#issuecomment-273957604) in which the controller manager crashed halfway through the test run with a panic.

closing this particular issue, will monitor for any examples of

[2017-03-04 05:43] #36293 closed

[2017-03-04 05:46] liggitt commented on #34085
hasn't been observed since https://github.com/kubernetes/kubernetes/pull/35230/ converted the controller to a workqueue

[2017-03-04 05:46] #34085 closed

[2017-03-04 05:56] #42290 closed

[2017-03-04 06:53] irfanurrehman commented on #42352
@madhusudancs ack about the impl for https://github.com/kubernetes/kubernetes/pull/41830
I was under the impression that we support only those clusters now, which support RBAC. Thanks for the clarification. Will update it accordingly.

[2017-03-04 07:12] #15853 closed

[2017-03-04 07:21] #42374 closed

[2017-03-04 07:21] #42396 closed

[2017-03-04 07:25] hongchaodeng opened #42521 "kubectl should use TPR full name instead of subname"
### Problem Statement

Currently, if I register two kinds of TPR that has the same subname, for example:
[code]

When I use `kubectl get cluster`, it will actually list `cluster.aws.com`. This is misleading and confusing, in some sense, hijacking.

It also causes security concerns. For example, I create:
[code]

On GKE 1.5.3, when I `kubectl get pod`, it list `pod.aws.com`:
[code]
This is HIJACKIN

[2017-03-04 07:28] xiang90 commented on #42521
[code]

This seems very bad. If someone accidentally creates a TPR with POD kind, it will break all other users suddenly and silently?

[2017-03-04 07:30] hongchaodeng commented on #42521
@kubernetes/sig-api-machinery-misc

[2017-03-04 08:17] #42420 closed

[2017-03-04 08:17] #42398 closed

[2017-03-04 08:17] #41187 closed

[2017-03-04 08:17] #42345 closed

[2017-03-04 08:32] AdoHe commented on #36072
@ymqytw ptal.

[2017-03-04 08:37] davidopp commented on #25625
One model for this: you ask the system to drain N nodes, give it some parameters controlling the choice and number simultaneous etc., and it picks the nodes and does the drains gives a callback to an HTTP endpoint you specify when it is done.

BTW Mesos machine maintenance model is described here
https://github.com/apache/mesos/blob/master/docs/maintenance.md

[2017-03-04 09:10] paunin commented on #13488
I do believe that the best solution here could be some kind of watcher or hash-sum checker on `configmap` object. Which should trigger related objects/pods restart(anything uses that `configmap`,`secret`). Not sure it's something accessible in `k8s` architecture though...

I also think that it's better to have control from `configmap|secret` object to trigger restart on changes or not.

[2017-03-04 09:37] ciokan commented on #19825
I have the same `Exit 137` status showing up all over the place. One of the things that I discovered was a service `phpmyadmin` (which was limited to `512Mi` in ram) that was eating 2Gb of RAM. How it managed to do that I don't know but it was causing other probes on the same VM to crash:

	"resources": {
		"requests": {
			"cpu": "50m",
			"memory": "128Mi"
		},
		"limits": {
			"cpu": "200m",

[2017-03-04 11:32] kargakis commented on #13488
@paunin you may want to have a look into a custom controller I created as a poc a while ago. It watches configmaps and hashes cm content to create copies and mount them into deployments.
https://github.com/kargakis/configmap-rollout
If you are familiar with Go, I would suggest writting something similar in Go (you would get better error handling and access to all k8s libraries). Actually there is

[2017-03-04 13:26] k82cn opened #42523 "Aggregated used ports at the NodeInfo level."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Enhancement.

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
In scheduler's `PodFitsHostPorts` predicates, it collect used ports every times. It's better to aggregate used ports into `NodeInfo`.

[2017-03-04 14:46] prasenforu opened #42525 "Kubernetes DNS works where kube-dns pod working, if scale kubedns pod nothing is working"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:"2016-12-12T21:10:52Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4

[2017-03-04 15:00] liggitt commented on #42521
https://github.com/kubernetes/kubernetes/pull/42275 always prefers resources in the v1 ungrouped API when there is ambiguity. I could see backporting that to 1.5.

Creating a TPR is a privileged operation. I'm not sure how someone would accidentally create a TPR.

[2017-03-04 15:39] k8s-merge-robot opened #42526 "[k8s.io] ConfigMap should be consumable via environment variable [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2345/
Failed: [k8s.io] ConfigMap should be consumable via environment variable [Conformance] {E2eNode Suite}

[code]

[2017-03-04 16:47] hongchaodeng commented on #42521
Hi @liggitt

Thanks for replying.

That's great. But it only solved part of the problem, not all of it. We can't assume people won't create TPR "accidentally". Something like https://github.com/kubernetes/kubernetes/pull/41572 to solve it completely would be preferred.

[2017-03-04 17:01] liggitt commented on #42521
https://github.com/kubernetes/kubernetes/pull/41572 wouldn't affect this. TPRs show up in discovery with a group name. We would not prevent a resource named "pods" in another group (since the fully qualified name is unambiguous). This issue is about how kubectl resolves an ambiguous resource name if no group is provided. The agreed on approach is to resolve to v1 resources first, then resolve in o

[2017-03-04 17:05] liggitt commented on #41893
I think this is fixed in https://github.com/kubernetes/kubernetes/pull/39821

[2017-03-04 17:05] #41893 closed

[2017-03-04 17:11] k8s-merge-robot opened #42527 "[k8s.io] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2346/
Failed: [k8s.io] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #32267

[2017-03-04 17:12] xiang90 commented on #42521
this is great. and we should not prevent from it to be created.

My question is why should kubectl resolve resource name when there is a conflict and ambiguity. I can see only risk and confusion. Can you explain the reason behind it? I am sure I miss something here.

[2017-03-04 17:22] xiang90 commented on #42521
I do not think you catch the point. I meant `creating a TPR with a conflict Kind will suddenly break users`. To remove the potential accidents without changing today's behavior, it requires the cluster admin(or admins) to keep track of ALL TPR kinds. So they can never risk to overwrite a kind name. With the growing number of TPR kinds, this task is hard.

[2017-03-04 17:30] liggitt commented on #42521
Think of it like dns name resolution, where the suffix search order is defined by the cluster administrator.

resolution order is required for forward compatibility, makes the typical use case more convenient, and allows for fully specified resource references.

See discussions in
https://github.com/kubernetes/kubernetes/issues/13929
https://github.com/kubernetes/kubernetes/pull/15874

[2017-03-04 17:33] xiang90 commented on #42521
as an administrator, how should I specify the order explicitly?

[2017-03-04 17:36] xiang90 commented on #42521
@liggitt

This is different. If I type `etcd`, I will not be direct to etcd.coreos.com nor etcd.k8s.io. I have to type in etcd.io or etcd.k8s.io. The naming itself is not ambiguous. The resolution might be. But it seems to me that here both the naming and resolution mechanisms are not explicitly and controllable.

[2017-03-04 17:45] liggitt commented on #42521
Position in discovery is controlled by the priority field when registering an APIService (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1alpha1/types.go#L54)

TPR registration does not allow control of priority today. That's one of the aspects of the TPR design that needed to be completed.

You will depending on your resolv.conf s

[2017-03-04 17:53] xiang90 commented on #42521
Thanks for sharing this.

I was not aware of that we can define similar thing in k8s context (the ordering).

I am more care about TPR here. The core API are controlled by k8s developers, so it is less possible to cause confusions and conflicts.

[2017-03-04 18:07] andrewrynhard opened #42528 "kubeadm: Self hosted hangs waiting for API server"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
`kubeadm`
- **Others**:

**What happened**:
With the following `MasterConfiguration`, `kubeadm` hangs w

[2017-03-04 18:11] smarterclayton commented on #42521
There will always be duplicate resource names across groups - that's part of why groups exist.

This is why tpr is really alpha :)

[2017-03-04 18:18] xiang90 commented on #42521
@smarterclayton Right.

My concern is that TPR kind should never overwrite core object by default (the pod example). Also TPR probably do not need auto resolution when there is a conflict. Or we have to provide a global dynamic control over the resolution of all TPRs to cluster admins, which seems to be hard.

[2017-03-04 18:21] kargakis commented on #29735
For 1.6, we moved Deployments into the apps api group[1] so we can change the defaults (revisionHistoryLimit is now set to 3 by default for newly created deployments) and we also made the cleanup policy run independent of a rollout (so a rollout that gets stuck won't block deletiion of older replica sets)[2]. I've also opened an update to the Deployment proposal for moving away from hashing: https

[2017-03-04 18:34] liggitt commented on #42521
To be clear, server side there is no overwriting. The APIs are distinct, the storage is distinct, and you cannot submit a core Pod object to a TPR Pod.mygroup.io API.

You do if you want to avoid breaking users that started using the short name of a TPR before a second resource was introduced that made it ambiguous (this is what I meant by forward compatibility)

Imagine you add a TPR foo.group1.i

[2017-03-04 18:35] luxas commented on #42528
Talked to @andrewrynhard on Slack about this, and the problem is that the nodeSelector for the selfhosting components wasn't updated in https://github.com/kubernetes/kubernetes/pull/41835.

Andrew will send a PR to fix that, I'm very grateful he catched this :+1: !

[2017-03-04 18:51] andrewrynhard commented on #42528
[code]

[code]

[2017-03-04 20:18] fejta commented on #42078
Fixed by https://github.com/kubernetes/test-infra/issues/2011

[2017-03-04 20:18] #42078 closed

[2017-03-04 21:14] mirague commented on #42164
@lhopki01 Exactly this happened to us too!

[2017-03-04 21:48] kargakis commented on #34654
Failure modes:

1. The test framework broke before the test even started.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/996/#k8sio-deployment-paused-deployment-should-be-able-to-scale
[code]

2. Node never became ready.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/1314/#k8sio-deployment-pa

[2017-03-04 22:41] donutloop opened #42531 "kubeadm: Created API client, waiting for the control plane to become ready bug?"
**Is this a BUG REPORT**:

I tried to setup a master node for a raspberry pi cluster without success because it's start in the middle of the process to sticking.

The last step is always:

"[apiclient] Created API client, waiting for the control plane to become ready"

**Kubernetes version** (use `kubectl version`):

v1.5.3

**Environment**:
OS: Linux
KERNEL_VERSION: 4.4.43-hypriotos-v7+
CONFIG_NA

[2017-03-04 22:42] kargakis commented on #36458
Failure modes:

1. Some pods are never transitioned to ready thus the deployment never completes. We can reduce the amount of replicas this test is using.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5330/#k8sio-deployment-scaled-rollout-deployment-should-not-block-on-annotation-check
[code]

2. Same reason as above.
https://k8s-gubernator.appspot.com/

[2017-03-04 22:49] kargakis opened #42532 "Controllers sometimes aren't properly started in e2e"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/4867/#k8sio-deployment-scaled-rollout-deployment-should-not-block-on-annotation-check

The deployment controller never started, see all the deployment e2e tests fail. Try to search deployment_controller in the controller manager logs, you won't get anything back.

cc: @kubernetes/sig-testing-bugs

[2017-03-04 22:49] kargakis commented on #36458
Ok, the reason behind this one is https://github.com/kubernetes/kubernetes/issues/42532.

[2017-03-04 22:50] kargakis commented on #34654
The reason behind this one: https://github.com/kubernetes/kubernetes/issues/42532

[2017-03-04 22:56] kargakis commented on #42532
Replica set controller never started in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/4867/

[2017-03-04 23:03] kargakis commented on #36554
Failure modes:

1. Namespace creation failed, test never run
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/985/#k8sio-replicationcontroller-should-surface-a-failure-condition-on-a-common-issue-like-exceeded-quota
[code]

2. Replica set controller never started: https://github.com/kubernetes/kubernetes/issues/42532
https://k8s-gubernator.apps

[2017-03-04 23:05] kargakis commented on #37027
Failure modes: https://github.com/kubernetes/kubernetes/issues/36554#issuecomment-284191252

[2017-03-04 23:18] kargakis commented on #36628
1. Some pods never transition to ready, deployment is stuck.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5461/#k8sio-deployment-iterative-rollouts-should-eventually-progress
[code]

2. Deployment controller was never started: https://github.com/kubernetes/kubernetes/issues/42532
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kuber

[2017-03-04 23:20] kargakis commented on #41891
Closing in favor of #36703

[2017-03-04 23:20] #41891 closed

[2017-03-04 23:23] vishh commented on #42164
Do not set eviction thresholds too close to the system capacity. For memory
it's better to set it to at-least `300Mi`. Higher the better.

Docker not responding could be either to due to resource pressure on your
nodes or due to high churn of pods.
Have you tried setting `limits` on all your pods?

On Sat, Mar 4, 2017 at 1:14 PM, Melvin <notifications@github.com> wrote:

[2017-03-04 23:49] kargakis opened #42534 "Stop logging pods from controllers that are not owners"
Right now when a pod is added/updated in the shared cache, most of the controllers are going to log something about it which is really frustrating. Pods with owner references should be logged only by the controller of the owner.

[2017-03-04 23:51] kargakis commented on #42532
A bunch of @kubernetes/sig-apps-test-failures because of this

[2017-03-04 23:53] #42528 closed

[2017-03-05 00:27] kargakis commented on #36703
1. Namespace creation failed, test never run
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/997/#k8sio-deployment-deployment-should-support-rollback
[code]

2. Network issue
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/3663/#k8sio-deployment-deployment-should-support-rollback
[code]

3. Th

[2017-03-05 01:27] chancez commented on #42521
I think that the above points make sense WRT allowing the admin to control priority of resolution for these things. I like the idea of doing this to allow more ergonomic kubectl usage, etc.

However I do think both kubectl and the apiserver should also provide an configuration option that never allows non-qualified resource kinds to be used. Similar to allowing the admin to assign priority of reso

[2017-03-05 01:32] kargakis commented on #36703
It seems that rollback is not re-entrant right now in the controller and fast enqueues of the deployment may cause redundant rollbacks. Opened https://github.com/kubernetes/kubernetes/pull/42535

[2017-03-05 01:45] liggitt commented on #42521
Nothing unqualified ever hits the API server today… it does not accept ambiguous data. All the resolution happens client side

[2017-03-05 01:49] kargakis commented on #37462
1. Waits for pods to run, test is stuck
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5461/#k8sio-deployment-deployment-should-label-adopted-rss-and-pods
[code]

[2017-03-05 01:54] chancez commented on #42521
Right, what I'm looking for is a way to configure your API server to tell kubectl that resolution isn't allowed, and results must be qualified, and that if they are not, kubectl should error, rather than performing resolution.

[2017-03-05 01:57] kargakis commented on #35579
1. Failed namespace creation
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/986/#k8sio-deployment-deployment-should-create-new-pods
[code]

2. Failed namespace deletion
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/3663/#k8sio-deployment-deployment-should-create-new-pods
[code]

[2017-03-05 02:00] kargakis commented on #38041
First test failed because the pod that the test spins up never became ready. Second test is a different test that fails?

[2017-03-05 02:05] kargakis commented on #38041
Failure modes:
1. Pod never transitioned to ready
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5461/#k8sio-deployment-rollingupdatedeployment-should-delete-old-pods-and-create-new-ones
[code]

2. Pod never transitioned to ready (network issue)
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5466/
[code]
3. Ano

[2017-03-05 02:11] k82cn opened #42536 "`TestSchedulerErrorWithLongBinding` of schedulercache is flaky"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
The `TestSchedulerErrorWithLongBinding` of schedulercache is flaky.

**How to reproduce it** (as minimally and precisely as possible):

run `TestSchedulerErrorWithLongBinding` test several times.

Label: sig-scheduling, flaky test

[2017-03-05 02:11] kargakis commented on #38528
1. Network issue
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5466/#k8sio-deployment-recreatedeployment-should-delete-old-pods-and-create-new-ones
[code]
2. Unready node
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/76/#k8sio-deployment-recreatedeployment-should-delete-old-pods-and-create-new-ones

[2017-03-05 02:18] #42536 closed

[2017-03-05 03:17] AdoHe commented on #40813
The root cause is when use `kubectl version`, the client version derived from `pkg/version`, but the inner client version derived from `client-go`. @deads2k ptal.

[2017-03-05 03:26] wanghaoran1988 opened #42539 "[Scheduler]Should we respect the initContainers when priority the node?"
Should we respect the initContainers when priority the node?
I saw we respect initContainer  when [predicts](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L471) the node,but cannot found  when [priority](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/balanced_resource_allocation.go#L40) t

[2017-03-05 03:30] AdoHe commented on #42364
This issue also exists on kubectl built from HEAD.

[2017-03-05 03:35] #40496 closed

[2017-03-05 04:05] liggitt commented on #40813
@caesarxuchao PTAL

[2017-03-05 04:12] liggitt commented on #42521
I'm not sure what validation you expect in the API server layer

Those objects are not exposed to end users, they provide information the API server uses to build discovery information presented to end user clients. The priority simply determines the position in the list of API groups

[2017-03-05 04:39] k8s-merge-robot opened #42541 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2353/
Failed: [k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #30335 #30714

[2017-03-05 04:56] AdoHe commented on #42057
[code]
@smarterclayton I am afraid such validation is hard to do on client side(at least not elegant), the field type of `metadata.labels` is `object` and now we have no way to validate this.

[2017-03-05 04:56] AdoHe commented on #42057
and of course if we want to add such validation, some workaround can be achieved.

[2017-03-05 05:12] chancez commented on #42521
I'm just stating what I'd like to see based on what was said above, assuming TPR registration was to eventually allow control of priority:

Allowing a cluster admin to specify the priority of an API group would be great at some point. But I think there needs to be more than just the ability to define ordering of API group name resolution when it comes to kubectl.

I would also expect in addition t

[2017-03-05 05:14] pawankkamboj opened #42542 "[kubelet] ignore keyword "options" define in /etc/resolv.conf, only look for nameserver and search"
**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992e9b", GitTreeState:"clean", BuildDate:"2017-02-15T06:40:50Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992e9b", GitTreeSt

[2017-03-05 05:24] pawankkamboj commented on #42525
please share ip a command output from node2, seems docker start first and then flannel, start docker after flannel, as flannel add docker bridge ip and some other n/w related env variable. just restart docker service on node.

[2017-03-05 05:49] prasenforu commented on #42525
Restarted on both

for SERVICES in flanneld docker kube-proxy.service kubelet.service; do
 systemctl stop $SERVICES
 systemctl start $SERVICES
 done

Node1: ifconfig

[code]
Node2 - ifconfig

[code]

[2017-03-05 06:59] DanyC97 commented on #38969
@boynux i guess you never managed to open an issue in n kubernetes/features ? _couldn't find one_

[2017-03-05 07:01] prasenforu commented on #42525
raised issue in stackoverflow

http://stackoverflow.com/questions/42605483

[2017-03-05 07:26] wanghaoran1988 commented on #42539
@timothysc @k82cn

[2017-03-05 09:15] boynux commented on #38969
@DanyC97 Unfortunately not. Been quiet busy.

https://github.com/kubernetes/features/issues/196
I created that one but still need to create other related docs. @mqliang can you help here please.

[2017-03-05 10:22] #42531 closed

[2017-03-05 10:22] nikhiljindal commented on #33196
#41165 is now merged (will be part of 1.6) and as discussed above we dont want to change the status code in other cases.
Closing the issue.

[2017-03-05 10:22] #33196 closed

[2017-03-05 10:45] k8s-merge-robot opened #42543 "Extract {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/7427/
Failed: Extract {e2e.go}

[code]

Previous issues for this test: #42078

[2017-03-05 10:48] nikhiljindal commented on #40323
To clarify, kubectl rollout should work fine unless a new cluster is registered which wont have the rollout history, right?

If all clusters have been there since the start then rollout should work fine.
cc @csbell since this came up recently in a discussion with him.

cc @kubernetes/sig-federation-bugs

[2017-03-05 10:50] nikhiljindal commented on #40323
Also link to the design proposal to fix this: https://github.com/kubernetes/community/pull/325

[2017-03-05 11:37] kargakis commented on #32531
This is not a sig/apps issue, relabeling to sig/scheduling

[2017-03-05 11:37] kargakis commented on #32531
@kubernetes/sig-scheduling-test-failures

[2017-03-05 11:40] kargakis commented on #38646
This test is in the process of being refactored in https://github.com/kubernetes/kubernetes/pull/42175

[2017-03-05 11:45] kargakis commented on #38442
All the issues from https://github.com/kubernetes/kubernetes/issues/34654#issuecomment-284185213 apply to this one too

[2017-03-05 11:51] k82cn commented on #42539
@wanghaoran1988 , I'm not sure whether this's designed behavior, but I'd suggest to keep it for priority: the initContainers will exit after finished its Pod initialization works, it's better to exclude initContainer's request for long term: initContainers exited and real containers started.

for predicts, I think the resource maybe also exhausted for burst Pods as the initContainers are not consi

[2017-03-05 12:10] k82cn commented on #32531
I'd like to follow up for this flaky test :).

[2017-03-05 12:43] kargakis commented on #38275
Issues from https://github.com/kubernetes/kubernetes/issues/34654#issuecomment-284185213 apply to this one too

[2017-03-05 12:57] kargakis commented on #41063
watch.Until was removed but pods never transitioning to ready is still a common issue for deployment-related flakes.

[2017-03-05 13:31] thinkhard-j-park commented on #38896
Hi,

I got same issues. I followed portable docker node cluster: https://kubernetes.io/docs/getting-started-guides/docker-multinode/

**$kubectl logs --namespace=kube-system $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name) -c kubedns**
[code]

**$ cat /etc/resolv.conf**
[code]

[2017-03-05 13:37] kargakis commented on #40496
We may want to provide a flag for enabling the old behavior.

[2017-03-05 13:42] #41518 closed

[2017-03-05 14:02] cap10morgan opened #42544 "Add service.ns.svc.cluster.local to resolv.conf search domains in StatefulSet pods"
FEATURE REQUEST:

Pods in StatefulSets should be able resolve their peers via short hostnames. For example, if I create a rabbitmq StatefulSet, I should be able to resolve `rabbitmq-0` from `rabbitmq-1` or any other pod in the StatefulSet.

This could be achieved by adding service.ns.svc.cluster.local to the search domains in `/etc/resolv.conf` (in addition to the ns.svc.cluster.local and others a

[2017-03-05 14:33] prasenforu commented on #42525
Issue resolved ... looks like problem in network interface.

@pawankkamboj for pointing me right direction.

[2017-03-05 14:34] #42525 closed

[2017-03-05 14:58] AdoHe commented on #40968
[code]
I prefer this too. We can even use `config use-ns off`. wdyt?

[2017-03-05 15:33] k8s-merge-robot opened #42547 "[k8s.io] Probing container with readiness probe that fails should never be ready and never restart [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2360/
Failed: [k8s.io] Probing container with readiness probe that fails should never be ready and never restart [Conformance] {E2eNode Suite}

[code]

[2017-03-05 16:12] kirs commented on #42057
So that you better understand my use case: we have many apps and every single of them has a set of YAMLs with k8s resource definitions. It's a common problem that someone introduces a syntax error (easy to catch with a YAML parser) or a YAML that doesn't comply with k8s schema. We'd like to enforce the projects to have valid k8s resources by validating the configs on CI with `--dry-run`.

Right no

[2017-03-05 18:47] smarterclayton commented on #42057
The schema for the labels and annotations fields should be more precise - I don't think we need a separate tool, because this is expected to work ootb.

Does open API have a type for map string / string?  We can always use a format.

[2017-03-05 19:46] smarterclayton commented on #40968
That's probably the easiest right now and bypasses the harder agreement on
allocating a new top level verb.  I'm in favor

On Mar 5, 2017, at 9:58 AM, TonyAdo <notifications@github.com> wrote:

prefer "config use namespace foo", "use namespace foo", or
"config use --namespace=foo", to anything that puts non resources in
resource spots.

I prefer this too. We can even use config use-ns off. wdyt?

[2017-03-05 20:16] k8s-merge-robot opened #42549 "[k8s.io] Kubelet Cgroup Manager Pod containers On scheduling a BestEffort Pod Pod containers should have been created under the BestEffort cgroup {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2363/
Failed: [k8s.io] Kubelet Cgroup Manager Pod containers On scheduling a BestEffort Pod Pod containers should have been created under the BestEffort cgroup {E2eNode Suite}

[code]

[2017-03-05 20:55] pwittrock commented on #40373
@ymqytw One thing I was thinking, is we can send a parallel list that contains the absolute ordering of all the keys.  If it is present then we use that ordering, and put all items not present in the absolute ordering at the end (maintaining their same relative order).  That maintain backward compatibility while fixing the issue for a new client+server.  That would provide the correct behavior for

[2017-03-05 21:21] pwittrock commented on #42392
@justinsb What is the bug to be fixed for 1.6?

[2017-03-05 21:28] justinsb commented on #42392
@pwittrock not sure of the procedure in terms of tagging, but:

* `~/bin/kubectl-1.5.1 edit deployment -n kube-system dns-controller` does not work against 1.6 clusters, did work against 1.5 clusters.
* kubectl 1.5 CLI features are supposed to be compatible for at least 3 months and at least 1 release after their announced deprecation, per https://kubernetes.io/docs/deprecation-policy/ (?).
* And

[2017-03-05 21:37] pwittrock commented on #42392
@janetkuo Is this due to the Deployment version changing?

[2017-03-05 22:25] atombender opened #42552 "`kubectl get --watch` eventually just exits"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl, watch, get, exit

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-03-05 22:31] pwittrock commented on #42392
#41656 is similar

[2017-03-05 22:34] #36629 closed

[2017-03-05 22:34] pwittrock commented on #36627
Closing this.  Feel free to reopen with steps to reproduce.

[2017-03-05 22:34] #36627 closed

[2017-03-05 23:32] smarterclayton commented on #42552
All watches are terminated by the server after a certain point.  No retries are done today.

[2017-03-06 01:07] davidwalter0 commented on #42552
Should it retry?
--forever | [ --retries=[n|forever] --backoff=[power-of-two,incrementally] ]
Should it report exit and what logger should it report to

[2017-03-06 02:20] #9441 closed

[2017-03-06 02:26] liggitt commented on #41081
fixed in #41882

[2017-03-06 02:26] #41081 closed

[2017-03-06 02:39] liggitt commented on #40278
fixed in #40301, released in 1.5.3

[2017-03-06 02:39] #40278 closed

[2017-03-06 02:40] liggitt commented on #38627
GCE e2e has been running with RBAC since 1/3

[2017-03-06 02:40] #38627 closed

[2017-03-06 02:43] liggitt commented on #2591
API server and kubelet both accept client cert authn now, validated by a CA bundle specified for that purpose

[2017-03-06 02:43] #2591 closed

[2017-03-06 02:47] fzu-huang opened #42554 "mirrorpod always be deleted by kubelet."
I used manifests and kubelet(tag1.3.3) to start k8s master components. After all component has be running by `docker ps`. I found status of these mirrorpod were abnormal:
[code]

Only apiserver was running as usual, other pods were deleting and recreating each 1 or 2 seconds.  I check kubelet's log,and found that it always delete mirrorpod because of an update which add a deletionstamp, and recrea

[2017-03-06 02:47] liggitt commented on #16910
given that a liveness probe just returns a 200 response, what's the use case around it being secured? protection against DOS attacks if the liveness check is expensive?

[2017-03-06 02:48] k82cn commented on #42329
@ixdy , there's the output in my Mac :).

[code]

[2017-03-06 02:55] liggitt commented on #22655
hasn't been referenced in five months... I vote to close this one

[2017-03-06 03:00] liggitt commented on #27551
not referenced in 6 months. can this be closed?

[2017-03-06 03:28] atombender commented on #42552
Given that it's a CLI tool, I suggest that it should retry forever (until ctrl-C). Errors should be emitted to stderr.

[2017-03-06 03:32] liggitt commented on #42392
it's due to deployments additionally being available in the apps group. deployments in the extensions group still exist and are usable, but are no longer the preferred group.

most kubectl commands (get, update, replace, etc) handle either group equally well. the 1.5 versions of commands that were converted to use generic objects in 1.6 would not handle deployments in the apps group, and would req

[2017-03-06 03:33] shiywang commented on #40968
@smarterclayton @AdoHe  so `config use-ns`  ? if we had a deal on this command name, I would like to implement this feature.

[2017-03-06 03:33] liggitt commented on #16508
is there work left to do for this issue for 1.6?

[2017-03-06 03:35] liggitt commented on #28455
not referenced in more than six months

[2017-03-06 03:35] #28455 closed

[2017-03-06 03:40] liggitt commented on #39056
was the fix in #40126 sufficient, or do you want to bubble the error past SetNodeStatusUpdateNeeded?

[2017-03-06 03:41] liggitt commented on #33175
last referenced three months ago, and I don't see a specific issue to fix here. closing, please reopen if you disagree.

[2017-03-06 03:41] #33175 closed

[2017-03-06 03:53] liggitt commented on #33461
[code]
likely fixed by https://github.com/kubernetes/kubernetes/pull/42328

[2017-03-06 03:53] #33461 closed

[2017-03-06 04:19] thockin commented on #16508
I don't think anything got done here for 1.6

On Sun, Mar 5, 2017 at 7:34 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-03-06 04:26] thockin commented on #42542
I think we don't parse options to inherit, which is the same as Docker.

@bowei

[2017-03-06 04:50] ymqytw commented on #40373
@pwittrock I think this is better.

[2017-03-06 05:03] smarterclayton commented on #42539
We discussed this in the design proposal, but because init containers may
be re-executed at any time on the node, we can't ignore that as a
possibility (otherwise it might cause unintentional evictions).

On Sun, Mar 5, 2017 at 6:52 AM, Klaus Ma <notifications@github.com> wrote:

[2017-03-06 05:04] smarterclayton commented on #42532
Interesting - is this a deadlock / wedge in shared informers?  @ncdc

[2017-03-06 05:11] thockin commented on #42442
Or we could just stop logging to disk directly and instead use
stdout/stderr ?  Not sure what the implications would be for things like
kube-proxy...

On Thu, Mar 2, 2017 at 2:43 PM, Tim St. Clair <notifications@github.com>
wrote:

[2017-03-06 05:37] k82cn commented on #42539
Do you mean we should handle this in scheduler?
For the case that initContainer required more resources than containers, should  scheduler update resources accordingly when initContainers finished?

[2017-03-06 06:30] k82cn commented on #42329
It's OK in my ubuntu 16.04 vm :).

[2017-03-06 06:47] jiale921 commented on #22981
I have the same problem ,did you solve the problem?

[2017-03-06 07:17] liqlin2015 commented on #42265
I encountered the same issue.
Run `iptables -P FORWARD ACCEPT` may fix your issue. But not sure it's a bug when integrated with docker v1.13.1

[2017-03-06 07:49] KeithTt commented on #41469
@crassirostris @bowei

New progress.

 I setup a new k8s cluster in a brand new environment, and run the EFK in the cluster.
I can get 200 response now.

[code]

then I add a entry in the service `type: NodePort`
[code]
[code]

then I can access ES outside with chrome, but there is something wrong with kibana.
http://172.16.100.215:32619/api/v1/proxy/namespaces/kube-system/services/kibana-logging/

[2017-03-06 07:52] mawentao02 opened #42559 "[Federation] kubefed init roles.rbac.authorization error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-06 08:30] henry-hz commented on #23404
thanks @jrglee for the work around

[2017-03-06 08:41] sdminonne commented on #42521
cc

[2017-03-06 08:55] strugglingyouth opened #42561 "update 1.5.3 to 1.6.0-beta.1, kubectl get node and get deployment not found resource"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-06 08:59] jsafrane commented on #28884
This test has not flaked since September (#38467 is completely broken test run), closing.

[2017-03-06 08:59] #28884 closed

[2017-03-06 09:06] jsafrane commented on #36494
* This test has not flaked since January
* In all logs it seems that the tests were broken way before DynamicProvisioner test was started.

[2017-03-06 09:06] #36494 closed

[2017-03-06 09:26] thaniyarasu opened #42562 "ingress is not supporting for other than http servers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes versi

[2017-03-06 09:30] jianzhangbjz commented on #27796
I've submit a PR, and the author of commit used my primary email which signed in the Github, but why the CLA sent to my public email all the way? Even I changed the public email address to my primary email, the CLA still sent to the previous email address? how to solve it?

[2017-03-06 09:30] davidopp commented on #42539
Using max(max(init containers), sum(regular containers)) for the resource predicate, as we're doing today, seems like the right thing to do.

As for the original question @wanghaoran1988 asked, whether we should also include it in the resource priority function, I think it's hard to know. Since the pod isn't using the init container resources in steady-state, ignoring init containers as we are doi

[2017-03-06 09:33] kargakis commented on #42532
@deads2k

[2017-03-06 09:39] jsafrane commented on #42503
If you have a default class enabled and submit the PVC you posted here, you ask for a PV in the default storage class. You pv0001 is not in any class and thus cannot bind to the PVC.

If the PV *was* in the default class, it *should* bind to your PVC. Alternatively, you can ask for a class-less PV by setting `pvc.Spec.StorageClassName: ""` (or the beta annotation).

[2017-03-06 09:57] xiangpengzhao commented on #39733
Comment below in the yaml and try again?

[code]

[2017-03-06 10:14] k8s-merge-robot opened #42563 "[k8s.io] Kubelet Cgroup Manager Pod containers On scheduling a Guaranteed Pod Pod containers should have been created under the cgroup-root {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2372/
Failed: [k8s.io] Kubelet Cgroup Manager Pod containers On scheduling a Guaranteed Pod Pod containers should have been created under the cgroup-root {E2eNode Suite}

[code]

[2017-03-06 10:26] jsravn commented on #38824
Force detach will corrupt the kernel's view of devices. This usually requires a reboot to correct - otherwise any further volumes will fail to attach to that node, usually getting stuck in `attaching` state.

[2017-03-06 10:30] jsravn commented on #31891
To add another view, I've only seen this problem when people force detach volumes from the instance (kernel view of the device gets corrupted, and AWS is unable to attach volume with that device name again). Rebooting the node fixes it. As long as the device is unmounted beforehand, I've had 0 problems re-attaching (on ubuntu 16.04 and centos 7).

[2017-03-06 10:45] jsravn commented on #41339
@felipejfc I feel your pain. Maybe a list of known issues somewhere would be useful? I know of at least two, one is fixed in master but not yet released, other is not yet fixed:

* https://github.com/kubernetes/kubernetes/pull/40417 - volume gets stuck if pod deleted while attaching
* https://github.com/kubernetes/kubernetes/issues/34242 - volumes don't get detached properly if pods deleted during

[2017-03-06 10:53] jsravn commented on #34242
Does this also effect HA controller-manager w/ leader election? Because I observe a similar issue when leaders swap (the new leader doesn't detach some volumes correctly).

[2017-03-06 11:03] #41787 closed

[2017-03-06 11:16] jsravn commented on #34242
I don't think it is, because what I observe is the pod remains running during the leader election swap. For some reason when the pod is then deleted hours later the new volume controller master doesn't detach the volume. From what I gather the volume manager should be able to handle this case.

[2017-03-06 12:03] jszczepkowski commented on #42485
I've changed the latest release to v1.6.0-beta.1 and rename v1.7.0-alpha.0 directory to v0.0.1.7.0-alpha.0. I hope this should help.

[2017-03-06 12:15] xiangpengzhao opened #42568 "Pod stucks in terminating if it has a privileged container but has been scheduled to a node which doesn't allow privilege"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): **No**

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): **pod, stuck, terminating**

---

**Is this a BUG REPORT or FEATURE REQUEST?** (c

[2017-03-06 12:15] kargakis opened #42569 "Deployment unit tests need to respect subresources"
Right now they don't.

@kubernetes/sig-apps-misc

[2017-03-06 12:38] deads2k commented on #42516
@sttts actually.

I don't see what a caller to the cachediscoveryrestmapper would do in the case you've described.  It seems like you want  behavior similar to what we built, where you try to refresh your caches on lookup misses.

[2017-03-06 12:38] soltysh commented on #40256
@wojtek-t this looks similar to https://github.com/kubernetes/kubernetes/issues/18794 which you were fixing previously, mind taking a look here as well, or can this be closed?

[2017-03-06 12:45] deads2k commented on #42532
No.  The only way to get the `controllermanager.go:409] Skipping "replicaset"` message is if the resource is disabled on the API server: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/extensions.go#L59 .

[2017-03-06 12:47] kargakis opened #42570 "Scaled down deployments cannot identify old replica sets"
[code]
[FindOldReplicaSets](https://github.com/kubernetes/kubernetes/blob/9a571d9bdeb4844299f783045e642a2c40d4d7e7/pkg/controller/deployment/util/deployment_util.go#L642) should stop using the podList and instead filter based on rs.spec.replicas.

@kubernetes/sig-apps-bugs

[2017-03-06 12:47] deads2k commented on #42532
@kargakis did it start after we merged @liggitt's https://github.com/kubernetes/kubernetes/pull/42267?

[2017-03-06 12:49] kargakis commented on #42532
Doesn't seem like it. Both jobs I linked are from Feb.

[2017-03-06 12:50] deads2k commented on #42532
Oh, maybe that pull fixed it then. We were getting back empty lists of resources with forbidden before and caching them, which made whacky things happen.

[2017-03-06 12:53] duglin commented on #16508
Does this mean that hyperkube for 1.6 will be broken?  When I try to follow the instructions at: https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md  it doesn't work. There are invalid options and the apiserver doesn't start.

[2017-03-06 12:58] deads2k commented on #40256
No references for a month and then three days ago a node didn't come up.  I think we can close this until someone hits it (with an env where the infrastructure what up).

[2017-03-06 12:58] #40256 closed

[2017-03-06 12:59] deads2k commented on #38516
No hits for two months and then failure because the API server is unreachable for some reason.  I think we can close this until the we get another hit that isn't infra related.

[2017-03-06 12:59] #38516 closed

[2017-03-06 13:01] deads2k commented on #38387
Only hit in the past two months looks to be infrastructure.

[2017-03-06 13:01] #38387 closed

[2017-03-06 13:02] deads2k commented on #36182
last link is from before 1.5

[2017-03-06 13:02] #36182 closed

[2017-03-06 13:03] deads2k commented on #35756
last link is infrastructure failure from december.

[2017-03-06 13:03] #35756 closed

[2017-03-06 13:03] deads2k commented on #35601
last link is infrastructure from november

[2017-03-06 13:03] #35601 closed

[2017-03-06 13:03] deads2k commented on #34372
last link is from before 1.5

[2017-03-06 13:03] #34372 closed

[2017-03-06 13:05] deads2k commented on #34367
last link is infrastructure from november

[2017-03-06 13:05] #34367 closed

[2017-03-06 13:06] deads2k commented on #34303
Looks like systemic GKE infrastructure.

[2017-03-06 13:06] #34303 closed

[2017-03-06 13:07] deads2k commented on #34247
The last link is infrastructure from before 1.5.  I think its time to just close it.

[2017-03-06 13:07] #34247 closed

[2017-03-06 13:08] deads2k commented on #32758
last link is infrastructure from december

[2017-03-06 13:08] #32758 closed

[2017-03-06 13:08] deads2k commented on #34212
last link is infrastructure from december

[2017-03-06 13:08] #34212 closed

[2017-03-06 13:08] deads2k commented on #29512
last link is infrastructure from before 1.5

[2017-03-06 13:08] #29512 closed

[2017-03-06 13:09] deads2k commented on #29444
The recent hit is a systemic GKE problem with its own issue here: https://github.com/kubernetes/kubernetes/issues/37987

[2017-03-06 13:09] #29444 closed

[2017-03-06 13:16] deads2k commented on #39471
@liggitt @wojtek-t Can you give me a link to where we're handling the GET cache?  The output here indicates that we patched a pod and got resourceVersion==1195 back.  Later on the same testing thread, we attempted a patch, but the GET by the API server for patching was only at resourceversion=1194.

I can see this happening due to a GET cache or a multi-node etcd without quorum reads.  I didn't th

[2017-03-06 13:20] deads2k commented on #40813
I think the root cause is probably a bug in the workaround for the API server.  It's detection of "old" should be tightly contained.

[2017-03-06 13:39] dbaumgarten commented on #32924
I also would like tho have the option to remove the VIP-Address from the List of IP-Addresses.

After my opinion, the best would be to completely remove the VIP-Address from list, but I understand, that it would probably be the best to have an option for this.

But having a "global" option inside the cloud-config fells strange. What about having an annotation for the LoadBalancer ressource to choo

[2017-03-06 13:45] #42437 closed

[2017-03-06 14:10] bcorijn opened #42571 "Deployment not completely scaling down old RS"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 8 (jessie)`
- **Kernel** (e.g. `uname -a`): `Linux ip-10-10-111-116 4.4.41-k8s #1 SMP Mon Jan 9 15:34:39 UTC 2017 x86_64 GNU/Linux`
- **Install tools**: Ko

[2017-03-06 14:20] justinsb opened #42573 "kubectl 1.6.0-beta.1 is twice the size of kubectl-1.5.3"
Comparing sizes indicates the size has gone from 49MB => 114MB.  Did we change the compilation options? Do the betas ship with more debug options enabled?

[code]

[2017-03-06 14:28] ncdc commented on #41892
I've yet to reproduce this locally but I think my analysis is probably correct. `kubectl replace` does not currently retry on conflict. Do we think it should? cc @kubernetes/sig-cli-bugs @fabianofranz @soltysh @deads2k  @liggitt

[2017-03-06 14:28] dbaumgarten opened #42574 "Service OpenStack LoadBalancerIP vip/floating-ip"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
openstack, service ip

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

When creating a Service and supplying a LoadBalancerIP Kubernetes will used this IP for the VIP of the created LoadBalancer. However in 98% of the cases,

[2017-03-06 14:33] wanghaoran1988 commented on #42539
@davidopp Thanks, sounds reasonable to me. Feel free to close this if you don't think it's  a problem

[2017-03-06 14:54] fdangtran commented on #42574
@dbaumgarten, as for me I would rather go with 3: add a cluster-wide option in the OpenStack config file.  Solution 1 is not backward compatible. Solutions 2 and 4 would pollute k8s service api with cloud-provider-specific entities (floating ip, vip) that might not make sense for other cloud providers.  I hardly see a use case where a user wants to set which IPs are exported on a per-service basis

[2017-03-06 15:00] deads2k commented on #41892
If you want an unconditional update (retry on conflict), then I think you want something different.  Why don't we just create something different to replace on?

[2017-03-06 15:03] liggitt commented on #41892
from a client's perspective, that *is* an unconditional replace, which is what makes surfacing that error really odd...

[2017-03-06 15:03] ncdc commented on #41892
There is `--force` but that does a delete followed by a create

[2017-03-06 15:04] ncdc commented on #41892
@liggitt I'm not clear on the code path that results in the conflict error surfacing. I tried looking at the rest code that handles updates but it wasn't the easiest to follow.

[2017-03-06 15:08] jayunit100 opened #42577 "[minor] Separate getNodeClassificationByLabels so it can be tested."
**Kubernetes version** (use `kubectl version`):

master

**What happened**:

The `getNodeClassificationByLabels` functionality is hidden in a large function, and not explicit, testable.

**What you expected to happen**:

The logic of `CalculateAntiAffinityPriority` should read more clearly, with tests for individual filters.

[2017-03-06 15:10] ncdc commented on #41892
Yeah, that's where I was looking. I am confused about what happens w.r.t. resource version for the updated object (the one supplied to `kubectl replace`) if the input doesn't contain a resource version.

[2017-03-06 15:12] jayunit100 commented on #42577
@ravisantoshgudimetla has a PR for this .

[2017-03-06 15:12] liggitt commented on #41892
@wojtek-t I think this is the issue:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher.go#L518-L535

The caching storage implements guaranteedupdate and operates on the version retrieved from the watch cache

[2017-03-06 15:15] #42539 closed

[2017-03-06 15:19] deads2k commented on #41892
I think I'd expect it to do that, but on a conflict failure, I'd expect it to retry live.  Seems like most of the time, the cache would save us a get.

[2017-03-06 15:20] dims commented on #42492
Details on the docker versioning are here - https://github.com/docker/docker/pull/31075 for the record

[2017-03-06 15:23] derekwaynecarr commented on #28124
To help clean up the list of flakes for 1.6, I am closing this issue as it does not appear to flake anymore with the increased limits.

[2017-03-06 15:23] #28124 closed

[2017-03-06 15:28] derekwaynecarr commented on #28503
The most recent reference to this flake is the following:

[code]

which does not appear specifically related to this test as it was symptomatic with other flakes in https://github.com/kubernetes/kubernetes/issues/39304 .

I am closing this issue as a result.

[2017-03-06 15:28] #28503 closed

[2017-03-06 15:30] ravisantoshgudimetla commented on #42577
Few more things include removing limits in entries like https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/selector_spreading.go#L64.

[2017-03-06 15:31] derekwaynecarr commented on #29467
It looks like the most recent run referenced in #42153 all appear related to socket refused errors and not unique to this test.

[2017-03-06 15:35] derekwaynecarr commented on #29994
the most recent occurrences of this flake all appear related to infrastructure problems.

[code]

this same problem impacted a large number of tests so this most recent occurrence would be a duplicate of many others.

[2017-03-06 15:35] #29994 closed

[2017-03-06 15:38] derekwaynecarr commented on #31676
this flake is no longer occurring since Nov 28, closing.

[2017-03-06 15:38] #31676 closed

[2017-03-06 15:42] derekwaynecarr commented on #32089
has not recurred in 2017, closing per 1.6 guidance.

[2017-03-06 15:42] #32089 closed

[2017-03-06 15:42] derekwaynecarr commented on #32371
has not occurred in 2017, closing.

[2017-03-06 15:42] #32371 closed

[2017-03-06 15:43] derekwaynecarr commented on #32433
has not occurred in 2017, closing per 1.6 release guidance.

[2017-03-06 15:43] #32433 closed

[2017-03-06 15:44] derekwaynecarr commented on #32945
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:44] #32945 closed

[2017-03-06 15:45] jayunit100 commented on #42577
yeah, im not sure why the `0,3` thing is there  ? probably good idea to remove

[2017-03-06 15:45] derekwaynecarr commented on #33547
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:45] #33547 closed

[2017-03-06 15:45] derekwaynecarr commented on #33623
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:45] #33623 closed

[2017-03-06 15:47] derekwaynecarr commented on #33985
no occurrence in 2017, closing per 1.6 guidance.  the one occurrence in 2017  in #42153 was related to a widespread timeout impacting all tests.

[2017-03-06 15:47] #33985 closed

[2017-03-06 15:47] derekwaynecarr commented on #33987
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:47] #33987 closed

[2017-03-06 15:48] derekwaynecarr commented on #34123
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:48] #34123 closed

[2017-03-06 15:48] derekwaynecarr commented on #34354
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:48] #34354 closed

[2017-03-06 15:49] derekwaynecarr commented on #35297
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:49] #35297 closed

[2017-03-06 15:49] derekwaynecarr commented on #35590
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:49] #35590 closed

[2017-03-06 15:49] derekwaynecarr commented on #35628
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:49] #35628 closed

[2017-03-06 15:50] xiangpengzhao commented on #42413
This issue seems similar to #42265

[2017-03-06 15:50] ravisantoshgudimetla commented on #42577
@jayunit100 Its part of part of PR too.

[2017-03-06 15:51] derekwaynecarr commented on #35977
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:51] #35977 closed

[2017-03-06 15:51] derekwaynecarr commented on #35981
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:51] #35981 closed

[2017-03-06 15:51] derekwaynecarr commented on #36010
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:51] #36010 closed

[2017-03-06 15:52] derekwaynecarr commented on #36300
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:52] #36300 closed

[2017-03-06 15:52] derekwaynecarr commented on #36276
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:52] #36276 closed

[2017-03-06 15:54] derekwaynecarr commented on #36694
no occurrence in 2017, closing per 1.6 guidance.  the referenced issue in #39799 has a failure that impacted a broad swatch of tests not related to this.

[2017-03-06 15:54] #36694 closed

[2017-03-06 15:54] derekwaynecarr commented on #37071
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:55] derekwaynecarr commented on #37374
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:55] #37374 closed

[2017-03-06 15:55] derekwaynecarr commented on #37423
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:55] derekwaynecarr commented on #37435
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:56] timothysc commented on #28346
So this issue has not been legitimately raised since ~Dec.  The kops cross ref #42334 looks like an all-out failure with dozens of other issues and a global set of timeouts.  I'm going to close this one and if it is seen in recent memory then please reopen.

[2017-03-06 15:56] #28346 closed

[2017-03-06 15:56] derekwaynecarr commented on #37456
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:56] #37456 closed

[2017-03-06 15:57] #37423 closed

[2017-03-06 15:57] derekwaynecarr commented on #37500
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:57] #37500 closed

[2017-03-06 15:58] derekwaynecarr commented on #37502
most recent issue is a systematic problem here: https://github.com/kubernetes/kubernetes/issues/37987

prior to that no unique instances in 2017.

[2017-03-06 15:58] #37502 closed

[2017-03-06 15:59] derekwaynecarr commented on #37531
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:59] #37531 closed

[2017-03-06 15:59] derekwaynecarr commented on #37564
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 15:59] #37564 closed

[2017-03-06 16:00] derekwaynecarr commented on #37983
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 16:00] #37983 closed

[2017-03-06 16:01] derekwaynecarr commented on #38040
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 16:01] #38040 closed

[2017-03-06 16:01] derekwaynecarr commented on #38145
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 16:01] #38145 closed

[2017-03-06 16:01] derekwaynecarr commented on #38308
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 16:01] #38308 closed

[2017-03-06 16:01] derekwaynecarr commented on #38450
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 16:01] #38450 closed

[2017-03-06 16:02] derekwaynecarr commented on #38552
no occurrence in 2017, closing per 1.6 guidance.

[2017-03-06 16:02] #38552 closed

[2017-03-06 16:05] kargakis commented on #40224
This may also be an issue with watch.Until.

[2017-03-06 16:06] kargakis commented on #40224
Most likely. It seems that the watch loop used by `rollout status` [is never supposed to stop](https://github.com/kubernetes/kubernetes/blob/61e7d1ebf1e19023bc48cc573fbbbe20f0f01f0d/pkg/kubectl/cmd/rollout/rollout_status.go#L150).

[2017-03-06 16:07] kargakis commented on #40224
@kubernetes/sig-cli-bugs

[2017-03-06 16:09] dbaumgarten commented on #42574
@fdangtran i also can't see a use case for being able to set the kind of  IP on per-service basis. That might have to to do with the fact, that I can't see a use case for specifying the vip IP manually at all.

I understand that backwards compatibility is a valuable thing to have, but at the current state the LoadBalancerIP field is completely useless for all use cases known to me (I really can't

[2017-03-06 16:18] timothysc commented on #30142
@kubernetes/test-infra-maintainers what is the policy for fixes posted to master but flakes on old branches.  This feature has changed in this release and hasn't flaked post merge fix, but I see older branches still show the issue.  What's our policy here.

Those gke upgrade tests for old versions are "out-of-scope" imo.

[2017-03-06 16:18] #30142 closed

[2017-03-06 16:23] jszczepkowski opened #42580 "Broken ci-kubernetes-node-kubelet e2e test"
It seems that after merging PR #41644 or PR #41753 node kubelet tests start to be broken: [link](https://k8s-testgrid.appspot.com/sq-blocking#node-kubelet&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Projected%5C%20should%5C%20update%5C%20labels%5C%20on%5C%20modification%5C%20%5C%5BConformance%5C%5D%5C%20%5C%5BVolume%5C%5D)
The test is failing in about 8 / 10 cases and is blo

[2017-03-06 16:24] jszczepkowski commented on #42580
CC @gmarek @yujuhong

[2017-03-06 16:28] timothysc commented on #31585
This has not been see since Sept 2016, closing..

/cc @aveshagarwal

[2017-03-06 16:28] #31585 closed

[2017-03-06 16:31] bgrant0607 commented on #19831
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/runtimeconfig.md

[2017-03-06 16:33] deads2k opened #42581 "Aggregated API servers can't use plugin initializers"
Aggregated API servers like service catalog cannot use the current "standard" admission plugin initializers because the names are conflicting with normal names for custom interfaces.  The names for the plugin initializers need to be specific to avoid conflicts.

[2017-03-06 16:42] jsravn opened #42582 "EBS fails to detach after leader election in HA controller manager"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
EBS
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kub

[2017-03-06 16:53] pmorie opened #42583 "EnvFrom semantics might be unexpected"
TLDR: I have had this nagging feeling that the semantics of `EnvFrom` are wrong.  I think we should either change them to be what users would expect, *or* ensure that the semantics are fully represented in all user-facing doc.

**Is this a request for help?**

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead rep

[2017-03-06 16:55] whereisaaron commented on #31891
This appears entirely resolved by 1.5.1. In the same environment we don't see this at all any more.

The was a legitimate major issue with 1.3.x, it happened all the time with no one doing a (manual) force detach. Various device naming bugs would end up with k8s itself incorrectly doing a force detach and screwing things up. Also, the fast re-use of the same device name (rather than cycling throug

[2017-03-06 16:57] ymqytw commented on #36072
I suspect this is related to issue #42488.
@jonaz Can you provide the config 1) before edit, 2) after edit and 3) for kubectl apply -f

[2017-03-06 16:58] pwittrock commented on #31553
@soltysh @peay @janetkuo Can we move this to milestone v1.7?

[2017-03-06 16:59] pwittrock commented on #40373
Alright, lets see if we can get this merged by Wednesday.  If not, lets take it out of the milestone.

[2017-03-06 17:00] yujuhong commented on #42580
This is a duplicate of #42431

[2017-03-06 17:00] #42580 closed

[2017-03-06 17:00] pwittrock commented on #42392
@janetkuo Is there something we can do to improve this experience?

[2017-03-06 17:02] ymqytw commented on #40373
SGTM

[2017-03-06 17:03] pwittrock commented on #41892
@deads2k Can I mark this as non-release-blocker to reduce to noise for the release managers?

[2017-03-06 17:08] ncdc commented on #41892
@pwittrock I'd say yes

[2017-03-06 17:08] BertHartm commented on #23621
Sorry to resurrect an old thread, but I just hit the same issue, and thanks to the thread here was able to figure it out.

The issue for me was that I had a newline at the end of my secret (you'll notice the newline after `MY_SECRET_DATA=value-1` also). Removing the newline solved that for me.

You can re-encode your secrets using something like `echo 'YOUR_BASE64_SECRET_HERE' | base64 --decode |

[2017-03-06 17:09] jsravn commented on #42582
I can't seem to reproduce this, and I noticed leader election kills the controller manager anyways after it loses, same as a restart. So I'm not sure what happened yet.

[2017-03-06 17:09] #42582 closed

[2017-03-06 17:11] ymqytw commented on #40373
@pwittrock Are we going to do this for both list of maps and list of primitives?

[2017-03-06 17:11] pwittrock commented on #42561
Duplicate of #42392

[2017-03-06 17:12] pwittrock commented on #42392
Also filed here: #42561  Looks like it impacts node as well.

[2017-03-06 17:12] pwittrock commented on #42561
Actually looks like the other was just for edit.

[2017-03-06 17:13] pwittrock commented on #42561
@strugglingyouth  what is the server version?

[2017-03-06 17:14] pwittrock commented on #42561
@liggitt Is this related to #42392?  This seems pretty bad.

[2017-03-06 17:15] derekwaynecarr commented on #42583
I think we should omit invalid keys and possibly throw an event with an aggregate list of keys that were not projected.

[2017-03-06 17:16] dashpole commented on #42430
Looks like the pod failed to be created.

`INFO: At 2017-03-02 17:43:06 +0000 UTC - event for podb125999b-ff6f-11e6-9a8b-42010a80000d: {kubelet tmp-node-e2e-e058b1ae-gci-stable-56-9000-84-2} FailedSync: Error syncing pod, skipping: failed to "CreatePodSandbox" for "podb125999b-ff6f-11e6-9a8b-42010a80000d_e2e-tests-kubelet-cgroup-manager-mbb0d(b125c07c-ff6f-11e6-99a3-42010a80000d)" with CreatePodSa

[2017-03-06 17:17] liggitt commented on #42561
no, it seems like https://github.com/kubernetes/kubernetes/pull/42267

[2017-03-06 17:17] liggitt commented on #42561
this is not the same as #42392

[2017-03-06 17:18] liggitt commented on #42392
that's a different issue, likely due to caching of bad discovery docs

[2017-03-06 17:18] dchen1107 commented on #29467
The test hasn't failed for a long time, at least 2 weeks from testgrid. I am closing this issue for now.

[2017-03-06 17:18] #29467 closed

[2017-03-06 17:18] fraenkel commented on #42583
This is a bit of a slippery slope. We don't talk about valid or invalid anything when it comes to config maps or environment variables in the documentation.

Right now we fail if the ConfigMap isn't present or if the key within a ConfigMap isn't there.

What is the difference between an invalid key, a missing key or missing ConfigMap?

[2017-03-06 17:21] dchen1107 commented on #30851
The same test hasn't failed for a long time from testgrid, and above failures (last year) looks like caused by other flakiness in the system, not volume-related. Close this issue.

[2017-03-06 17:21] #30851 closed

[2017-03-06 17:28] dashpole commented on #42431
One idea is that cgroups are cleaned up before the pod is started, and that somehow causes the pod to fail.  See [only looking at running pods, instead of including all known pods.](https://github.com/kubernetes/kubernetes/commit/21a899cf850c4d4267cd502e69814243b7fce748#diff-10055ae93a8699af13ceba0482fc43c3L1525).  I'll try to verify my theory later...

[2017-03-06 17:29] kargakis commented on #31553
This is implemented in https://github.com/kubernetes/kubernetes/pull/42177 but I don't know whether the PR will make 1.6.

Job server-side reaping is https://github.com/kubernetes/kubernetes/pull/42176

[2017-03-06 17:29] dchen1107 commented on #32936
The test hasn't failed for a long time, and the very last failure listed above has nothing to do with node, especially the original issue of the unresponsive node / port. Instead it is related to other operation. Close this.

[2017-03-06 17:29] #32936 closed

[2017-03-06 17:29] pmorie commented on #42583
If that is the case, we should fix it.

That is accurate, let me pick apart my thoughts about these behaviors:

1.  It is right to fail if the named resource (secret/configmap) doesn't exist, **unless** the reference to it in the podspec is marked as optional, because you explicitly said that you depend on the resource
2.  It is also right to fail in `env` if a key that you **explicitly named**, w

[2017-03-06 17:30] dchen1107 commented on #34658
Close this issue since it hasn't failed for a long time.

[2017-03-06 17:30] #34658 closed

[2017-03-06 17:32] yujuhong commented on #42431
That's consistent with my observation. Ubuntu+docker 1.10 seems to be the only one failing. If anyone wants to try reproducing this locally, this would be the image to use.

[2017-03-06 17:32] sjenning commented on #42431
@dashpole I noticed that too.  The "pod ran to completion" is "pod started and immediately exited".  I've tried to reproduce locally and can't find a commit around last Wednesday that obviously would have caused this.  I'll post any information I find here.

[2017-03-06 17:37] ncdc commented on #42431
I tried to reproduce locally (not on GCE) with trusty & docker 1.10 but the tests are all passing so far. Either I didn't wait long enough or it's something specific to the GCE trusty image being used.

[2017-03-06 17:37] timothysc commented on #31918
Closing this one #38002 appears like an infra-flake.  Last issue reported was in Sept, plus this code has been refactored for this release.  Re-open should an issue arise in the 1.6 release.

[2017-03-06 17:37] #31918 closed

[2017-03-06 17:38] fraenkel commented on #42583
That would work. It is easy enough to explain. Will have to look at the docs, to see where we should do this.
I assume it also applies to Secrets.

Is this for 1.6? or future?

[2017-03-06 17:39] pwittrock commented on #42561
@liggitt Then #42267 should have fixed this issue?

[2017-03-06 17:39] dchen1107 commented on #36183
Close this issue since it hasn't failed for a long time.

[2017-03-06 17:39] #36183 closed

[2017-03-06 17:40] pmorie commented on #42583
@fraenkel Cool.  I would like to get this resolved in 1.6 so that we have a good, consistent story from the moment the feature is released.

[2017-03-06 17:41] pwittrock commented on #42552
@monopole Its not clear what the right solution is here.

[2017-03-06 17:44] dchen1107 commented on #36706
The same test hasn't failed for a long time on both CVM and COS images, and on both GCE and GKE. The same test on node-e2e hasn't failed for a long time too. Close the issue.

[2017-03-06 17:44] #36706 closed

[2017-03-06 17:45] piosz commented on #31420
Closing as obsolete.

[2017-03-06 17:45] #31420 closed

[2017-03-06 17:45] talset commented on #27796
Hi,

I having an issue to sign the CNCF.

To summarize, I signed the CNCF one year ago with my github account (via my redhat email address defined as primary)

Since I left redhat, I can't use this address anymore and the flag "cncf-cla: no" is come back to my PR.
If I try to clic on sign in as individual, I have this error :

[code]

What should I do ?

[2017-03-06 17:49] pwittrock commented on #42378
Please reopen with detailed steps to reproduce include the command and output

[2017-03-06 17:49] #42378 closed

[2017-03-06 17:54] dchen1107 commented on #31836
The root cause of the initial issue filed here is indeed an API-machinery issue, which shouldn't be closed as a duplicate of core #32009 which should be fixed a while ago. Unfortunately it was not closed properly.

The same test hasn't failed for a long time on both node-e2e and cluster-e2e. Close it for now.

[2017-03-06 17:54] #31836 closed

[2017-03-06 17:58] derekwaynecarr commented on #42431
@dashpole -- i am not sure how that is possible.  the odd bit to me is we ran w/ pod cgroups on in node e2e since 1.5 if i am not mistaken.

[2017-03-06 17:58] dchen1107 commented on #35261
The same test hasn't failed in both gci-gce-example and gce-example for a long time. Close this for now.

[2017-03-06 17:58] #35261 closed

[2017-03-06 18:01] ncdc commented on #42532
It sounds like this is possibly fixed now that 42267 is in?

[2017-03-06 18:01] derekwaynecarr commented on #42431
@dashpole -- ignore my previous comment as previously we only deleted the cgroup when the pod was removed from the api server, and not just terminated.  so yeah, its possible something is happening here...

[2017-03-06 18:01] dchen1107 commented on #35793
@derekwaynecarr I incline to close this issue since it hasn't failed for a long time. Also from above two reported issues here, both look like other infrastructure failures which cause this problem.  I am in the process of closing a lot of staled flake issues, and think this is one of them. WDYT?

[2017-03-06 18:03] derekwaynecarr commented on #42431
maybe we need to pass in both activePods and runningPods to get a more accurate listing?

[2017-03-06 18:03] kargakis commented on #42532
I hope so

[2017-03-06 18:03] pwittrock commented on #42282
@ymqytw Is this a dup we can close?

[2017-03-06 18:04] dashpole commented on #42431
@derekwaynecarr see [this kubelet log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2318/artifacts/tmp-node-e2e-e058b1ae-gci-stable-56-9000-84-2/kubelet.log) from #42430.  Search for pod `b1261c24-ff6f-11e6-99a3-42010a80000d`, which has cgroups cleaned up within 2 seconds of starting.  May not be the culplit, but its worth looking into.

[2017-03-06 18:07] dchen1107 commented on #35953
I will leave this open since the most recent failure is at: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/5613

[code]

[2017-03-06 18:08] baldwinSPC commented on #40375
@chrislovecnm could this be related to #31891 ?

[2017-03-06 18:12] derekwaynecarr commented on #42431
the runningPods cache appears like it could have a 2 second latency before updating its cache so it could be related and could be helped by passing in activePods as well...

[2017-03-06 18:13] derekwaynecarr commented on #42431
see: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/runtime_cache.go#L64

[2017-03-06 18:13] kargakis commented on #30441
@lukaszo can you please triage

[2017-03-06 18:14] kargakis commented on #38168
This is not sig/apps, relabeling to @kubernetes/sig-node-test-failures

[2017-03-06 18:16] dashpole commented on #42431
That is possible. I am also not sure when a pod is considered running, and in what order pods are created.  Do we create cgroups before starting the container?  Would a pod be returned by GetPods (from above comment) if it had cgroups set up, but the container wasn't running yet?

It could also simply be that we are cleaning up a pod's cgroups before it is ever running (if that is possible based o

[2017-03-06 18:16] ncdc commented on #35953
@dchen1107 this was originally opened because of a timeout waiting for something to happen (I haven't look at the details). The latest failure you linked is what I assume to be an unrelated infrastructure issue. I can look into what @cheftako linked, as that's the same as the original failure message.

[2017-03-06 18:17] fabianofranz commented on #42561
I was unable to reproduce this, tried two scenarios:

- upgrading `kubectl` 1.5.3 -> 1.6.0-beta.1
- upgrading `kubectl` 1.5.3 -> build from master

both starting with an empty `~/.kube` in 1.5.3 and server from minishift on version `GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507"`.

Anyone able to reproduce it?

[2017-03-06 18:19] timstclair commented on #28332
No occurrences in 2017, closing.

[2017-03-06 18:19] #28332 closed

[2017-03-06 18:19] fabianofranz commented on #42561
https://github.com/kubernetes/kubernetes/pull/42267 is already on 1.6.0-beta.1, correct?

[2017-03-06 18:24] kargakis commented on #38047
@mwielgus @rootfs can you please triage this issue? I am not sure who is the rightful owner at this point and I don't think anybody from @kubernetes/sig-apps-test-failures is actively looking into this

[2017-03-06 18:25] derekwaynecarr commented on #42431
@dashpole -- we create the cgroup before the container is started, so I think we need to pass activePods.

see: https://github.com/kubernetes/kubernetes/pull/42585

[2017-03-06 18:26] kargakis commented on #38439
@janetkuo @kow3ns @resouer can you please triage this

[2017-03-06 18:27] timothysc commented on #33883
Not seen since beginning of the 1.6 cycle, closing.

[2017-03-06 18:27] #33883 closed

[2017-03-06 18:27] dchen1107 commented on #36564
There are a couple of failures lately, and the most recent one is:https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-flaky/3409

But the same/similar test is also running at node-e2e, and it succeed for a long time. the issue is not related to node. Removing sig/node, and please find the proper owner for this.

[2017-03-06 18:28] dchen1107 commented on #36564
Bumping the priority since it failed pretty often. Most likely it is a bad test itself, but someone should fix it.

[2017-03-06 18:33] dchen1107 commented on #35953
@ncdc I agreed with you on this.

I am in the process of processing tons of so call node-related flakiness, and closed a bunch of them already. :-) Since this one has one failure, and it is owned by you, I just simply leave this one to you. Please feel free to update / re-assign / close it. Thanks!

[2017-03-06 18:37] dchen1107 commented on #37482
re-tag it with sig/api-machinery based on @yujuhong's comment above.

[2017-03-06 18:38] nikhiljindal opened #42587 "federation: Disable batch and autoscaling group versions"
Batch (jobs) and autoscaling (hpa) are enabled by default in federation-apiserver but the controllers for them were not merged before 1.6 code freeze. We need to disable the APIs.

cc @kubernetes/sig-federation-bugs

[2017-03-06 18:38] nikhiljindal commented on #42587
https://github.com/kubernetes/kubernetes/pull/42225 fixes this

[2017-03-06 18:39] dchen1107 commented on #38500
The same test hasn't failed for a long time on both node-e2e and cluster-e2e. Close it for now.

[2017-03-06 18:39] #38500 closed

[2017-03-06 18:39] caesarxuchao commented on #37482
Concurrent map read/write is fixed in https://github.com/kubernetes/kubernetes/pull/37569

[2017-03-06 18:39] liggitt commented on #42561
yes, that commit is present in 1.6.0-beta.1

The error it fixes is actually a "no resource nodes exists on server" error, so that is not what is happening here.

@strugglingyouth, can you run the following and include the output (removing any authorization headers)
[code]

is it possible you are querying a different namespace than the one where you created your pod/deployment?

[2017-03-06 18:42] ymqytw commented on #42282
It will be closed by #42489 soon.

[2017-03-06 18:43] timothysc commented on #35279
Much like the other affinity tests, closing this as it has not been witnessed in months and the code has been refactored for this release.

[2017-03-06 18:43] #35279 closed

[2017-03-06 18:44] caesarxuchao commented on #37482
I'm closing this issue to avoid confusion. The original problem was fixed last November. The new failure started 2 days ago.

[2017-03-06 18:44] #37482 closed

[2017-03-06 18:46] timothysc commented on #34223
Closing, this has not been witnessed in months and the code has substantially changed for the 1.6 release.

[2017-03-06 18:46] #34223 closed

[2017-03-06 18:47] jingxu97 commented on #31891
I believe this issue is solved by PR #38818, which is also cherrypicked to 1.4. This PR avoid to immediately reuse the device names which are just released. So close this issue now. Please reopen it if anyone still experience it. Thanks!

[2017-03-06 18:47] #31891 closed

[2017-03-06 18:47] lukaszo commented on #30441
Sure, I will take a look

[2017-03-06 18:47] timothysc commented on #36914
Closing, this has not been witnessed in months and the code has been re-factored for the 1.6 release.

[2017-03-06 18:47] #36914 closed

[2017-03-06 18:53] dashpole commented on #42430
Nevermind the most recent comment.  We think we have found the bug in #42431

[2017-03-06 18:56] rootfs commented on #38047
from [one of the kubelet logs ](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/3851/artifacts/bootstrap-e2e-minion-group-jc4h/kubelet.log), pulling image `mattf/zookeeper` timed out.

[code]

[2017-03-06 18:56] piosz commented on #42515
Can you please disable monitoring and see whether this is the problem?

[2017-03-06 18:57] piosz commented on #42515
I meant @crassirostris, can you ...

[2017-03-06 19:01] timothysc commented on #35880
Closing, not seen in months / 1.6 release.

[2017-03-06 19:01] #35880 closed

[2017-03-06 19:14] ncdc commented on #42534
+100000

[2017-03-06 19:28] bgrant0607 commented on #39434
Server-side validation: #5889

[2017-03-06 19:30] #31781 closed

[2017-03-06 19:30] bgrant0607 commented on #5889
See also #39434

[2017-03-06 19:30] #36703 closed

[2017-03-06 19:30] #42581 closed

[2017-03-06 19:31] #41861 closed

[2017-03-06 19:38] mtaufen commented on #28084
Closing this as it hasn't triggered in 3 months.

[2017-03-06 19:38] #28084 closed

[2017-03-06 19:42] philips commented on #35462
The security release process doc is merged: https://github.com/kubernetes/community/blob/master/contributors/devel/security-release-process.md

[2017-03-06 19:45] ravilr commented on #42571
possibly dupe of https://github.com/kubernetes/kubernetes/issues/41641
@kargakis made some fixes(linked from above issue) which are due to be released in v1.5.4.

[2017-03-06 19:46] gnufied commented on #42514
I am looking into this.

[2017-03-06 19:47] timstoop commented on #30459
We're having this problem as well, generally right after a deploy in several environments, where traffic gets routed to incorrect Pods. It generally fixes itself within a few minutes and only a few requests are actually misdirected, but with a large-ish volume of requests (100/s), this can still be a significant portion of the traffic.

We're running on AWS as well, but deployed from scratch (on C

[2017-03-06 19:47] krousey commented on #42199
cc @ixdy

[2017-03-06 19:51] ncdc commented on #42526
The infra container for the pod died for some reason. I haven't been able to identify why. Maybe there's some sort of CNI issue? Reassigning to sig-node. @dchen1107 @derekwaynecarr could you please hand this off?

[2017-03-06 20:03] wongma7 commented on #40811
Pod status was "Success," it could r/w just fine, the error is misleading. But then when its container died, SyncLoop (PLEG) triggered and lead to a second "WaitForAttachAndMount." This second wait of course fails because the container has died. I am not familiar with this kubelet code, why do we syncPod -> WaitForAttachAndMount on every PLEG event? Please take a look sig/node folks...

[code]
and

[2017-03-06 20:05] pwittrock commented on #40373
I think that makes sense to do, but don't want to block the env piece on it.

[2017-03-06 20:06] pwittrock commented on #40373
Given some of the other stuff going into the 1.6 release, this may miss 1.6.

[2017-03-06 20:07] bluecamel commented on #32987
I just ran into this issue on 1.5.2.

[2017-03-06 20:29] timstclair opened #42589 "Rebase hyperkube image on debian-base"
https://github.com/kubernetes/kubernetes/pull/41915 adds the `debian-base` container image, which is intended to provide a standard base platform for Kubernetes images that require external dependencies. Advantages of debian base include:

- Our team will maintain & update it (until we have automation in place)
- Smaller footprint: it removes a lot of unecessary files like man pages and i18n packa

[2017-03-06 20:37] ConnorDoyle opened #42590 "E2E test suite times out if removeOpaqueResource is called as part of an AfterEach closure in test/e2e/opaque_resource.go."
**Is this a request for help?** No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `"is:issue is:open test timed out ginkgo"`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

As mentioned in the [comments in `/test/e2e/opaque_resource.go`](https://github.com/kubernetes/k

[2017-03-06 20:41] DirectXMan12 commented on #38549
Looking at the most recent issues here: it looks like there were a lot of instances where it wasn't this bug -- something else failed (like cluster networking, or connection to the API server), which caused this test to fail.

There are a couple where there weren't a bunch of simultaneous failures, and on those I see some failures to collect metrics at all (but hard to tell anything w/o getting th

[2017-03-06 20:47] crassirostris commented on #42515
@piosz Was going to do this, yes

[2017-03-06 20:54] marun commented on #32531
@k82cn This test has been failing consistently since Saturday, which may indicate a release-blocking regression.  Will you be able to prioritize investigating the problem?

[2017-03-06 20:54] deads2k opened #42592 "Some controllers can't be disabled"
Some controllers in the `kube-controller-manager` process can't be disabled using the flags.  They should respect the disable flag.

[2017-03-06 20:58] crassirostris commented on #42515
@piosz Built container manually without prometheus plugin, still consumes 1.7 cpu

[2017-03-06 21:02] dchen1107 commented on #42554
I believe you run into a known issue for the mirror pods. By design, Kubelet compares the spec of a mirror pod (created by API Server) with the corresponding static pod from the manifest file on the node, then decides if they are identical. If there are differences, Kubelet would delete the staled mirror pod, then new mirror pod with correct spec would be recreated.

Can you run command: kubectl g

[2017-03-06 21:05] piosz commented on #42515
Can you please find the difference then?

[2017-03-06 21:13] ccatlett2000 commented on #32924
Could we just not display them for `kubectl`, but leave them in the API? That shouldn't break existing deployments unless they're scraping `kubectl` responses for info (which is a horrible idea anyways).

I agree with the idea of using an annotation to control this behavior, and defaulting to not showing the VIP.

[2017-03-06 21:14] nikhiljindal opened #42594 "kubectl delete should wait for resource to be deleted before returning"
As per https://github.com/kubernetes/kubernetes/pull/40714#issuecomment-278460041, `kubectl delete` should ensure that the resource is deleted before returning by default. We can also add a `--wait-for-deletion`  flag that users can set if they dont want to wait.

Work items:
- [x] Update apiserver to return the UID of the resource being deleted in response to a delete request (https://github.com/

[2017-03-06 21:14] crassirostris commented on #42515
Used new image with the old configuration ([exactly before the monitoring](https://raw.githubusercontent.com/kubernetes/kubernetes/e8de31623f17d33e2e1b4b93ecab7ab3a7b81c22/cluster/addons/fluentd-gcp/fluentd-gcp-image/fluent.conf)), still 1.7 cores

It seems like a problem with the new image for some reason. @timstclair FYI

[2017-03-06 21:16] mikedanese commented on #42199
1.5, to 1.6

[2017-03-06 21:34] kargakis commented on #42571
Can you post the output of `kubectl get deploy,rs -o yaml` next time it occurs? Highly likely that it's 41641 but I want to make sure.

[2017-03-06 21:43] dbaumgarten commented on #32924
But the IPs beeing in the API is the main problem here, because anyone and anything that is retrieving the IPs the right way (via the API) is getting "wrong" IPs. One example are the DNS-Entries for federated Services. Having VIP-Addresses in the list of IPs breaks the whole functionality of federated Services.

[2017-03-06 21:48] nikhiljindal commented on #38225
Fix verified by e2e test added in https://github.com/kubernetes/kubernetes/pull/41278.
Thanks @perotinus!

[2017-03-06 21:48] #38225 closed

[2017-03-06 21:48] aaronlevy commented on #42589
/cc @pbx0

[2017-03-06 21:48] foxish commented on #37479
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/737 seems to be the first failure here.
It seems to have gone in with a bunch of RC/RS changes (https://github.com/kubernetes/kubernetes/compare/8cc7475...102f267)

cc @enisoc

[2017-03-06 22:00] wongma7 commented on #39753
@hsyed I recently released https://github.com/kubernetes-incubator/external-storage/tree/master/efs , an external dynamic provisioner for EFS, could you give it a try and provide feedback? It simply does a `mkdir -p` according to the claim's name+UUID, similar to what you have suggested. The issue of discovering which EFS file system to use via tags doesn't exist here because it can expect the use

[2017-03-06 22:21] dchen1107 opened #42597 "Flaky test: Opaque resources should schedule pods that initially do not fit after enough opaque integer resources are freed"
The test failed in both ci-kubernetes-e2e-gci-gce  and ci-kubernetes-e2e-kops-aws:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/5096
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/5059

This blocks the submit-queue.

[2017-03-06 22:22] dchen1107 commented on #42597
The culprit pr is https://github.com/kubernetes/kubernetes/pull/41870 which introduces new set of tests and merged recently.

[2017-03-06 22:26] dchen1107 commented on #42597
The breakage caused by pr:#41870   actually breaks two required test suites: ci-kubernetes-e2e-gci-gce & /ci-kubernetes-e2e-kops-aws. Should we revert this for now? @kubernetes/release-team

[2017-03-06 22:28] k82cn commented on #32531
sure

[2017-03-06 22:28] dcbw commented on #42210
@freehan do you have a min sync period set at all, to make sure the periodic force-sync isn't running continuously?

Though I do notice the periodic proxy sync keeps failing to re-open node ports:

`can't open "nodePort for default/nginxservice818:" (:30820/tcp), skipping this nodePort: listen tcp :30820: bind: address already in use`

which seems kinda pointless.

[2017-03-06 22:30] vishh commented on #19825
137 exit code is returned by docker engine whenever the container
experiences a OOM kill.

On Sat, Mar 4, 2017 at 1:38 AM, Romeo Mihalcea <notifications@github.com>
wrote:

[2017-03-06 22:31] skofgar opened #42599 ""make quick-release" fails on macOS – recipe for target `all` and `cross` failed."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`is:issue is:open quick release recipe all`

---

**Is this a BUG REPORT or FEATURE

[2017-03-06 22:31] caesarxuchao commented on #42516
Yes, that's what I expected, refreshing on every restmapper lookup miss. The current behavior is different though, the cache if refreshed only if there is a cache miss *[and](https://github.com/kubernetes/kubernetes/blob/320f7ce6f348a85a9a27e128e0eddee023e7478c/staging/src/k8s.io/client-go/discovery/restmapper.go#L198)* the cache is not "[Fresh()](https://github.com/kubernetes/kubernetes/blob/320f

[2017-03-06 22:32] dcbw commented on #42210
I don't see increased CPU usage after reaching steady-state with current git pkg/proxy/iptables/proxier.go copied over to openshift.  I'll try with a kube local-up-cluster.sh run tomorrow and see if I can reproduce with 1000+ services.

[2017-03-06 22:43] caesarxuchao commented on #40813
The version filter in the 1.5 API server: https://github.com/kubernetes/kubernetes/pull/35840/files#diff-fdfac9813673596faeda07fdce9207e2R346

[2017-03-06 22:55] dchen1107 commented on #42597
Another failure is https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/5097

[2017-03-06 22:55] dchen1107 commented on #42597
one more: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/6586

[2017-03-06 22:58] #6084 closed

[2017-03-06 22:59] saad-ali commented on #6084
Closing old issue. As of the 1.3 volume redesign, if a node goes down, volumes will still be detached by the attach/detach controller.

[2017-03-06 23:08] caesarxuchao commented on #40813
And the version sent by kubectl built from head is:
[code]
v0.0.0 is considered older than v1.5.0. The workaround in 1.5 API server didn't consider this case.

We can send a bug fix to the 1.5 branch to specially treat v0.0.0.

[2017-03-06 23:10] caesarxuchao commented on #40813
User-agent in kubectl built from v1.6.0-alpha.2 is `kubectl/v1.6.0`, so it's correct in the releases.

[2017-03-06 23:15] kargakis commented on #42392
@liggitt is this a dupe of https://github.com/kubernetes/kubernetes/issues/40813

[2017-03-06 23:17] ConnorDoyle commented on #42597
The fix to OIR and corresponding e2e were submitted as separate commits; do you mind reverting only e402c5d5e50c11af3ecde4fffa509776f0608d03 ?

[2017-03-06 23:17] ConnorDoyle commented on #42597
cc @timothysc

[2017-03-06 23:19] caesarxuchao commented on #42392
No, it's not a dupe of 40813. 40813 is for kubectl built from head and 1.5 server.

[2017-03-06 23:25] derekwaynecarr commented on #40024
This has been addressed

[2017-03-06 23:25] #40024 closed

[2017-03-06 23:27] crassirostris commented on #42515
@repeatedly What can consume 1.7 cores with the same configuration on a different machine? How to debug this?

[2017-03-06 23:27] derekwaynecarr commented on #42563
Possibly related to https://github.com/kubernetes/kubernetes/pull/42585#issuecomment-284568109

[2017-03-06 23:28] skriss commented on #42199
@mikedanese - is this something you are actively looking into? This is blocking all of the GCE upgrade test jobs from running so important to get fixed ASAP. thanks!

[2017-03-06 23:36] apelisse opened #42601 "Feature request: Verify deployement configuration"
My repository contains kubernetes deployment configuration, and I would like to check that they are syntactically correct as part of my pre-submit continuous integration. My CI system doesn't have a cluster set-up, so running `kubectl apply -f my-config.yaml --dry-run` doesn't really works. I want to check that the yaml is correct, and that it creates valid kubernetes objects.

Maybe we should hav

[2017-03-06 23:38] foxish commented on #42601
Looks similar to https://github.com/kubernetes/kubernetes/issues/39699

[2017-03-06 23:39] liggitt commented on #42516
Refresh on max age of cached data and refresh on miss are two normal behaviors that could be built on top of what is there.

[2017-03-06 23:41] foxish commented on #42601
cc @kubernetes/sig-cli-feature-requests

[2017-03-06 23:44] msau42 commented on #42484
The GKE issue has been fixed, so this can be closed now.

[2017-03-06 23:54] kow3ns commented on #38439
On Friday we started seeing the tests failing due to #42484. This issue looks to be  I have seen intermittent GKE failures today that seem related to network (connection refused) or other test infra issues. I don't examples of any flakes related to the controller.

[2017-03-06 23:57] vriesmarcel commented on #42151
I see almost the same. Only the fist time when I expose a service it works, but any service after this is not accessible from outside.
Simple steps to reproduce:
kubctl create deployment iis --image=microsoft/iis
kubectl expose iis --port=80 --type=LoadBalancer

now browser tot the port you get when you list the services
this works.
Next create a new deployment, same image other name
expose this w

[2017-03-06 23:59] k8s-merge-robot opened #42602 "ci-kubernetes-e2e-kops-aws-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-serial/1/
Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [Job] should create new pods when node is partitioned {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36950

Failed: [k8s.io] Daemon set [Serial] Should update pod when spec was updated and

[2017-03-06 23:59] k8s-merge-robot opened #42603 "ci-kubernetes-e2e-kops-aws-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-slow/1/
Multiple broken tests:

Failed: install_gcloud {PRE-SETUP}

[code]
Issues about this test specifically: #32669 #36416 #36842 #40203 #42227

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #2

[2017-03-07 00:13] pwittrock commented on #41892
@ncdc thanks

[2017-03-07 00:17] vriesmarcel opened #42605 "DNS resolving does not work on windows nodes"
BUG REPORT
## Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b

[2017-03-07 00:35] RenaudWasTaken opened #42606 "User Labels not propagating to kubelet"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** :
- kubelet labels
- labels

**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report
---

**TLDR**:
- Set a label/annotation on a pod
- Create it through kubectl
- The labels / annotations don't appear in the docker labels

**How to reproduce it** (as minimally and precisely as possi

[2017-03-07 00:39] pmorie commented on #42583
@fraenkel We should make sure to update docs with examples showing what happens with keys that don't adhere to the format.

[2017-03-07 00:40] caesarxuchao commented on #42516
@liggitt are you suggesting that i should implements another restmapper that refreshes "on max age of cached data and on cache miss"?

The current DeferredDiscoveryRESTMapper refreshes on max age of cached data, but not on cache miss. Is the the "not refreshing on cache miss" part significant? Who needs this behavior?

[2017-03-07 00:49] mikedanese commented on #42199
As of today I am.

[2017-03-07 00:54] liggitt commented on #42516
If I do `kubectl create -f dir` with a folder that has 10 resources not present on the specified server, I would not expect kubectl to run discovery 10 times.

If the garbage collection controller has an object with a bad ownerRef to a resource that doesn't exist, I would not expect the garbage controller to rerun discovery every few milliseconds as it backs off retrying handling the ownerRef.

[2017-03-07 00:56] nikhiljindal opened #42607 "Run service controller in federation kubectl tests"
Noticed that service controller is not running in our federation kubectl tests. It crashes since no dns-zone is provided.

I fixed that but it still crashes for dns-provider. I tried coredns but could not get that to work.
Will wait for documentation from @shashidharatd. Filing this to track it.

The error I got was:
[code]
I verified that I am passing --zone-name. no dns-provider-config tough.

c

[2017-03-07 01:14] caesarxuchao commented on #42516
True. But to be fair this is a rare use case and we never worried about the performance of kubectl or the workload caused by it.

I don't agree with this example. The garbage collector should be responsive rather than waiting for the cache to be refreshed periodically, so it should rerun the discovery asap. The hotloop is solved by the ratelimited queue.

[2017-03-07 01:16] pwittrock commented on #42207
@huggsboson Closing this for now.  Reopen if you are not able to get a workable solution.

[2017-03-07 01:16] #42207 closed

[2017-03-07 01:16] #36859 closed

[2017-03-07 01:21] #42484 closed

[2017-03-07 01:32] smarterclayton commented on #35486
This is still failing, we can't ship a release that has fields without tags.

[2017-03-07 01:33] smarterclayton commented on #35486
@kubernetes/sig-api-machinery-misc does anyone have time to look at why verify-protobuf is failing in the builders?  Maybe someone updated the proto version and disabled verify unintentionally

[2017-03-07 01:43] k82cn commented on #35486
According to the comments  at  https://github.com/kubernetes/kubernetes/issues/36104#issuecomment-258045516 , it should be protobuf version related issue: when I using protobuf 3.2.0 to run `hack/update-generate-protobuf-dockerized.sh` and commit the code; the verification will fail.

So in #42553 , I run `hack/update-generate-protobuf-dockerized.sh` with 3.2.0, but not commit `generated.pb.go` :)

[2017-03-07 01:51] liutaohua opened #42611 "why kube-dns only use https to connect apiserver"
i use https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns in master branch

my kubernetes  version :
[code]

dns pod log:
[code]
my dns yaml config:
[code]

[2017-03-07 01:54] liggitt commented on #42532
closing based on #42267

[2017-03-07 01:54] #42532 closed

[2017-03-07 01:54] freehan commented on #42210
Just get a pprof profile using the[ same setup](https://github.com/kubernetes/kubernetes/issues/42210#issuecomment-283157067) but with 1000 services. (result attached)

Most of the time is spent on `buildEndpointInfoList` and `flattenValidEndpoints`. Looks like we have a algorithmic problem?

[pprof002.svg.zip](https://github.com/kubernetes/kubernetes/files/823126/pprof002.svg.zip)

[2017-03-07 01:57] jayunit100 commented on #42433
I wonder where that value comes from ?  Seems like it should be auto set to some multiple of the # of nodes

[2017-03-07 01:59] freehan commented on #42210
The profile was taken when endpoints were already stable. No excessive iptables-restore. (every 30sec)

top result:
[code]

[2017-03-07 02:02] skriss commented on #42561
We just got the 1.6 kubectl skew tests running - I'm seeing a similar failure when running a 1.6 kubectl against a 1.5 cluster -- see the top 2 tests in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-gci-kubectl-skew/3

[2017-03-07 02:05] liggitt commented on #42561
@skriss I'm pretty sure your issue is https://github.com/kubernetes/kubernetes/pull/42362, which is distinct from this issue

[2017-03-07 02:08] skriss commented on #42561
ah, ok - thanks

[2017-03-07 02:11] skriss opened #42614 "kubectl taint not backwards-compatible to 1.5.x clusters"
@davidopp please give me your take on this issue

In the following skew test running kubectl 1.6.x against a 1.5.x cluster, the kubectl taint tests are failing (update taint and remove taint in particular). Is this expected/acknowledged as an exception to the version skew policy?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-gci-kubectl-skew/3

[2017-03-07 02:17] liggitt commented on #39975
guessing the flake is related to this line:
[code]

anything on the order of milliseconds is going to be unreliable in testenvs that sometimes peg the CPU with parallel tests

[2017-03-07 02:29] dchen1107 commented on #42388
More failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2351
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2375
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2382

This test failure blocks the submit-queue, I raised the priority of the flakiness.

[2017-03-07 02:30] smarterclayton commented on #35486
We have never certified above 3.0.0-beta.4.  Did someone update the package
in the base image without verifying that everything kept working?

On Mon, Mar 6, 2017 at 8:43 PM, Klaus Ma <notifications@github.com> wrote:

[2017-03-07 02:39] k82cn commented on #37898
/subscribe for `Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}`

[2017-03-07 02:42] alexw23 opened #42616 "Turn off Proxy Protocol for specific Backend Ports"
It appears `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol` turns on proxy protocol support for all backend ports https://github.com/kubernetes/kubernetes/blob/v1.5.3/pkg/cloudprovider/providers/aws/aws.go#L79-L84.

We have a SSH service for gitlab running alongside HTTP and HTTPS. When we use `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"` SSH does not respond corr

[2017-03-07 02:43] fzu-huang commented on #42554
Thank you for your help. I checked the file,only pod name is not equal.
manifest:   kube-controller-manager
real  pod:   kube-controller-manager-localhost

but I think it is normal, because the manifest file : `kube-apiserver`   also has a running pod : `kube-apiserver-localhost` , which won't be delete.

I checked the apiserver's log. And found that all delete request sent by kubelet were return

[2017-03-07 02:51] smarterclayton commented on #42594
I'd probably want `--wait` - not sure what else I would be waiting on here.

StatusDetails should *probably* have a UID field, but there's a question of how much detail want to to put in there.  I don't want to add UID, then come back later and have to add other fields like resourceVersion, deletionTimestamp, etc.

[2017-03-07 02:58] strugglingyouth commented on #42561
@liggitt
The following deployment is created under the 1.6 version,not 1.5.3.Master and node are the same machine.

$ kubectl get node
No resources found.

$ kubectl version -v=8
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-beta.1", GitCommit:"23cded36d1d20a538f97e0da05c1d2b62a6be700", GitTreeState:"clean", BuildDate:"2017-03-02T23:03:42Z", GoVersion:"go1.7.5", Compiler:"

[2017-03-07 02:59] b43646 commented on #34964
Hi  DanHorest,  Could you please describe more about how to fix the issue? Thanks

[2017-03-07 03:02] dchen1107 commented on #42086
Looks like there are two issues:

1) Generic flakiness from Garbage Collector, and I believe @caesarxuchao is looking into it.
2) The side issue raised by @smarterclayton above, kube-dns failed to start on the master node of aws cluster due to lack of the resource on master node. That should be handled separately through #42461.

[2017-03-07 03:06] liggitt commented on #42561
just to level set.

1. you had nodes running in 1.5.3?
2. are your nodes still running against the 1.6.0 server?
3. what does `kubectl get nodes --v=8` show?
4. how did you start your api server? did you switch from etcd2 to etcd3 at the same time you ugpraded?

[2017-03-07 03:10] mawentao02 opened #42618 "[Federation] kubefed join error in fetching secret"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-07 03:12] pwittrock commented on #8329
@monopole This is a good one to start with.

[2017-03-07 03:28] strugglingyouth commented on #42561
@liggitt
1, kube-apiserver kube-controller-manager kube-scheduler kubelet kube-proxy  is running,and node version is 1.5.3, master is 1.6.0

$ systemctl status kube-apiserver kube-controller-manager kube-scheduler kubelet kube-proxy
● kube-apiserver.service - Kubernetes API Server
   Loaded: loaded (/usr/lib/systemd/system/kube-apiserver.service; disabled; vendor preset: disabled)
   Active: activ

[2017-03-07 03:39] elicox commented on #38542
Any update on this? I still getting this issue with the last version of 1.5.3 on GKE?

[2017-03-07 03:45] k82cn commented on #38542
ping @smarterclayton  for the comments? should we merge the PR for 1.5?

[2017-03-07 03:51] #42282 closed

[2017-03-07 03:51] #42488 closed

[2017-03-07 04:00] xiangpengzhao opened #42620 "Pod containers should be recreated after kubelet restarts when some kubelet flags changed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
**No**

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
**kubelet, restart**

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-03-07 04:38] gnufied commented on #42514
I think bunch of issues here is - we are waiting for 4 minutes plus for secret/configmap update to be projected but most of these containers will stop after 120 seconds because `--retry_time` is set to 120 seconds.

I think we may have to increase the `--retry_time` in the tests. cc @pmorie @wojtek-t

[2017-03-07 04:54] repeatedly commented on #42515
Does this mean all components are same, ruby version, plugins and configuration settings?
What are the differences between old and new image? OS or other parts are also different?

[2017-03-07 04:55] pmsteil opened #42621 "Can't get the mysql-wordpress-pd sample to work... format disks?"
I am new to k8s...

I am trying to follow the sample here:
https://github.com/kubernetes/kubernetes/tree/master/examples/mysql-wordpress-pd

Have modified very little and my pods just crash, they never get to a Ready state.

I think maybe because after I create my new volumes I need to format them.
So I think I need to follow the steps that I finally found here:
http://dev.eventyay.com/docs/instal

[2017-03-07 05:27] liggitt commented on #42561
well, it's not a cli issue... you really have no nodes. what does your kubelet log show?

[2017-03-07 06:20] #42505 closed

[2017-03-07 06:20] #42431 closed

[2017-03-07 06:20] #37479 closed

[2017-03-07 06:30] xingzhou commented on #39833
@AdoHe, as the `kubectl create role/clusterrole` command is finished and merged, I'm going to start this ticket: `kubectl create hpa`. Please let me know if there is anything wrong.

[2017-03-07 06:58] guoshimin commented on #40415
Any new estimate on when 1.5.4 will be out?

[2017-03-07 07:02] bowei commented on #42611
/assign bowei

[2017-03-07 07:11] shiywang commented on #42570
@kargakis are you working on this ? so the only change is in `FindOldReplicaSets` function, remove that `podList` iteration, and fill this `oldRSs[rs.ObjectMeta.Name]` map with same  `rs.spec.replicas` number, is that right ?

[2017-03-07 07:37] xiangpengzhao commented on #42568
Another concern is, should we prevent such pods from being scheduled to nodes which don't allow privileged pods? Maybe we can add a new predicate, e.g. `AllowPrivileged` ?
cc @davidopp

[2017-03-07 07:53] wojtek-t commented on #42514
I think this 240s is too much in many cases.
In small clusters, the TTL for a secret is 0, so it should be upgraded within kubelet sync period (60s) + epsilon.

[2017-03-07 07:55] wojtek-t commented on #42505
@liggitt - thank for debugging and fixing it.

[2017-03-07 08:09] gyliu513 opened #42627 "`kubectl delete cronjob xxx` do not delete all jobs related with the cron job"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-07 08:18] arnouthoebreckx opened #42628 "Unable to use AzureFile volume on Windows agents"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug ?

**Kubernetes ver

[2017-03-07 08:38] FrankYu commented on #23726
Hi，
I still met this problem with
kubernetes-master-1.4.0-0.1.git87d9d8d.el7.x86_64
kubernetes-node-1.4.0-0.1.git87d9d8d.el7.x86_64
kubernetes-unit-test-1.4.0-0.1.git87d9d8d.el7.x86_64
kubernetes-ansible-0.6.0-0.1.gitd65ebd5.el7.noarch
kubernetes-client-1.4.0-0.1.git87d9d8d.el7.x86_64
kubernetes-1.4.0-0.1.git87d9d8d.el7.x86_64

if I config KUBE_API_ADDRESS with below value
KUBE_API_ADDRESS="--inse

[2017-03-07 08:56] sheerun opened #42632 "Support for connecting to glusterfs with TLS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
glusterfs tls

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATUR

[2017-03-07 08:56] kargakis commented on #40415
@mwielgus can you let us know when 1.5.4 will be cut?

[2017-03-07 08:57] k82cn commented on #32531
Check the log at https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-test/1702/artifacts/junit_01.xml

re-scheduler evict pods at `06:43:46.550957483`; but did not get scheduler's event. At `06:54:01`, the e2e test report error and start to clear up test environment.

[code]

[2017-03-07 09:02] tksm commented on #31081
This was fixed in https://github.com/kubernetes/kubernetes/pull/32244

[2017-03-07 09:02] #31081 closed

[2017-03-07 09:05] sttts commented on #42516
`CachedDiscoveryInterface`'s heuristic is really only meant for short living rest mappers as in kubectl. I would avoid making this even more complicated for the long-running case. Rather we should think about watchable discovery for 1.7, i.e. turning the discovery endpoints into its own resource with WATCH support.

[2017-03-07 09:15] kargakis commented on #42601
Agreed. Let's move the discussion there.

[2017-03-07 09:15] #42601 closed

[2017-03-07 09:15] kargakis commented on #39699
Requirement: `kubectl lint` or whatever it ends up being called should not require a running cluster to work: https://github.com/kubernetes/kubernetes/issues/42601

[2017-03-07 09:30] jsafrane commented on #37801
One thing I don't like about `sc.parameters` is that's not validated. When admin specifies `fstype=myfs` there, a provisioner happily copies it to newly provisioned  `pv.spec.<xyzVolumeSource>.fsType` and everything looks fine. It starts failing when kubelet actually tries to mount the PV - it looks for `mkfs.myfs`, which does not exists and returns cryptic error that author of the pod is not able

[2017-03-07 09:36] sheerun commented on #42419
https://github.com/tsenart/deadcode

[code]

is faster, but has the same issue @justinsb noticed

https://github.com/opennota/check/ doesn't work at all for consts

afaik that's it if it comes to tools

[2017-03-07 09:38] soltysh commented on #31553
It should land in 1.6 it's on my todo list for review today. It was approved before the freeze.

[2017-03-07 09:39] kargakis commented on #42570
@shiywang no, you can pick it up but you would want to start working on it after https://github.com/kubernetes/kubernetes/pull/42175 merges.

[2017-03-07 09:42] gmarek commented on #39975
I can extend this sleep to something bigger, but I don't have cycles to debug it properly:/

[2017-03-07 09:55] soltysh commented on #42392
I've spoke with @liggitt yesterday more, and apparently there's nothing we can do for 1.5 to fix it. This was fixed properly in https://github.com/kubernetes/kubernetes/pull/41304 like Jordan mentioned. The only question is if we want to cherry-pick that fix (I'd say no - it's way too big to be safely backported). Thankfully there's a simple fix, by appending group to resource name. Although I mig

[2017-03-07 10:02] k82cn commented on #32531
And after checking the log, there're only 46 of 60 pods are scheduled. Created a PR that reduced the pods number to see what will happen.

[2017-03-07 10:14] codablock commented on #37801
@jsafrane I'm aware of the missing validation, but the problem is already present in the volumes as all the block based volume types already have the fsType property, which is also not validated as far as I know (please correct me if I'm wrong...I don't have the code atm to verify this).

If fsType validation is added in the future, it should be added for SC parameters and (persistent) volumes at

[2017-03-07 10:55] bcorijn commented on #42571
Ah, my search-fu let me down, I had not bumped into 41641 but we indeed use a rather high MinReadySeconds on this deployment.
Here's the (slightly redacted) output after triggering another deploy and seeing this issue again:
[code]

[2017-03-07 11:01] kargakis commented on #42571
MinReadySeconds should be totally fine to use, this indeed is a dupe of #41641. Should be fixed in 1.5.4/1.6.0 but it will get even more robust in time.

[2017-03-07 11:01] #42571 closed

[2017-03-07 11:04] kargakis commented on #42295
Closing as a dupe of #41641.

[2017-03-07 11:04] #42295 closed

[2017-03-07 11:05] NiclasHedam opened #42636 "KubeDNS + gci doesn't work together (it seems)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): gci, container-vm, kubedns, dns

---

**Is this a BUG REPORT or FEATURE REQUEST?** (c

[2017-03-07 11:08] gmarek commented on #38256
Outdated.

[2017-03-07 11:08] #38256 closed

[2017-03-07 11:08] fzu-huang commented on #42554
@dchen1107   Can you give me the known issue  which relate to this one?

[2017-03-07 11:09] gmarek commented on #32044
This have nothing to do with scalability sig.

[2017-03-07 11:27] jamiehannaford commented on #40741
I think the latter (generate client certs for kubelet and then generate a kubeconfig). I'm not too sure why a kubeconfig isn't being generated by saltstack right now, since [`kubelet/kubeconfig`](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kubelet/kubeconfig) is empty.

@roberthbailey Do you have an idea what's the best option here?

[2017-03-07 11:55] sttts commented on #32792
Closing as most is addressed or not applicable anymore after k8s.io/apiserver has been introduced.

[2017-03-07 11:55] #32792 closed

[2017-03-07 11:57] sttts commented on #24062
We have a number of `*Options` structs which carry flags as well. They can be manually added to a custom apiserver. Moreover, there is a `RecommendedOptions` struct for the default set.

Closing.

[2017-03-07 11:57] #24062 closed

[2017-03-07 11:58] jamiehannaford commented on #40367
@sc68cal Did you manage to find any logs for this?

[2017-03-07 11:58] sttts commented on #34839
All merged. Closing.

[2017-03-07 11:58] #34839 closed

[2017-03-07 12:40] deads2k opened #42639 "Garbage collector should orphan RS created by deployment when deleteOptions.OrphanDependents is true"
Instead, there are no RSs present.

from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42593/pull-kubernetes-e2e-gce-etcd3/21127/

[code]

@kubernetes/sig-api-machinery-misc

[2017-03-07 13:30] deads2k commented on #39471
Ok, that makes sense.  For the purposes of this this test, I think I may find a way to wait for the GET cache to catch up.

[2017-03-07 13:35] liggitt commented on #39975
any thoughts on that?

[2017-03-07 13:51] fgrzadkowski commented on #40860
@piosz is it a release blocker?

[2017-03-07 13:53] fgrzadkowski commented on #30999
@mwielgus I'm moving this issue to 1.7. Please revert this change if you believe this should block 1.6.

[2017-03-07 13:53] piosz commented on #40860
@caesarxuchao @lavalamp should answer the question.

[2017-03-07 13:54] fgrzadkowski commented on #30446
@Q-Lee @mwielgus what's the status here? Is it still an issue?

[2017-03-07 13:55] deads2k commented on #39471
Opened https://github.com/kubernetes/kubernetes/pull/42641 to fix the test

[2017-03-07 13:56] piosz commented on #30446
@fgrzadkowski yes, though no progress on it so far. Looks like a good starter project.

[2017-03-07 14:05] jszczepkowski commented on #33341
The bug was fixed on 1.5 branch. Failed runs refers to release 1.4 (or earlier).

Closing as obsolete.

[2017-03-07 14:05] #33341 closed

[2017-03-07 14:08] lhopki01 commented on #42164
This is a problem even if the eviction thresholds are set to 1GB.

It does seem to be a Docker issue where Docker doesn't deal well in memory pressure situations.  I agree that the solution will be to set memory limits for everything.

[2017-03-07 14:24] k8s-merge-robot opened #42643 "ci-kubernetes-e2e-kops-aws-release-1.6: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-release-1.6/19/
Multiple broken tests:

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Scaling should happen in predictable order and halt if any stateful pod is unhealthy {Kubernetes e2e suite}

[code]

Failed: [k8s.io] kubelet [k8s.io] Clean up pods on node kubele

[2017-03-07 14:26] gnufied commented on #42503
Okay, so setting `pv.Spec.StorageClassName: ""` will force claim to be bound to an existing PV rather than using default storageclass? I haven't verified that yet.

[2017-03-07 14:30] djsd123 commented on #31910
Hi @zag2art,
After a bit of trial and error, I found that the below worked.  All I've done essentially is bump the version of the container down as the current versions aren't considered misconfigured.  At least that's how I interpreted the above.

[code]

[2017-03-07 14:41] mwielgus commented on #37458
Not frequent enough. Closing.

[2017-03-07 14:41] #37458 closed

[2017-03-07 14:41] mwielgus commented on #35744
Not frequent enough, closing.

[2017-03-07 14:41] #35744 closed

[2017-03-07 14:42] mwielgus commented on #34764
Not frequent enough, closing.

[2017-03-07 14:42] #34764 closed

[2017-03-07 14:43] mwielgus commented on #34581
Not frequent enough, closing.

[2017-03-07 14:43] #34581 closed

[2017-03-07 14:44] mwielgus commented on #34102
Not frequent enough, closing.

[2017-03-07 14:44] #34102 closed

[2017-03-07 14:47] gmarek commented on #39975
Generally we retry when TryAccept fails, but not in tests. So either we need to rewrite the test, or lengthen the sleep time. It's not perfect, but there's no way for "wait until rate limiter is reloaded".

[2017-03-07 14:54] timothysc commented on #26507
b/c this hits across every component I'd like to discuss this on @kubernetes/sig-scalability-feature-requests for initial investigation in 1.7.  @gmarek and I have chatted about it a number of times now.

[2017-03-07 15:06] mkumatag commented on #42234
@ixdy Can we push this image meanwhile to make it work?

[2017-03-07 15:06] deads2k opened #42644 "Patch needs information from GuaranteedUpdate to determine liveness, causes TestPatch flakes"
GuaranteedUpdate tries to update with cached data.  Patch needs to know whether its being called with live or stale data to determine the "base" level the patch was issued against.

[2017-03-07 15:07] liggitt commented on #39471
@wojtek-t that seems pretty important to fix... it's broken unconditional update (see https://github.com/kubernetes/kubernetes/issues/41892#issuecomment-284423624)

the interface of the tryUpdate function would also need to be updated to let GuaranteedUpdate tell it whether it is the "first" time tryUpdate is being called (since patch's tryUpdate function takes the `currObj` the first time it is c

[2017-03-07 15:08] liggitt commented on #42644
once we fix this, we should roll back the workaround in https://github.com/kubernetes/kubernetes/issues/42641

[2017-03-07 15:09] abdoo opened #42645 "busybox cant reach DNS service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-07 15:11] wojtek-t commented on #42644
Instead of doing it in this direction, I would suggest doing it in the opposite direction.

What I mean is that in GuaranteedUpdate itself, we know that:
- the first iteration is using the cache data (potentially stale)
- all further iterations are using the fresh data (just read from etcd)

So we can fix it by ignoring the error from in the first iteration of loop in GuaranteedUpdate.

WDYT?

[2017-03-07 15:11] kargakis opened #42646 "Generated release_1_5 clientset should create pods, delete pods, watch pods"
Recurring often lately
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42346/pull-kubernetes-e2e-gce-etcd3/21247/

@caesarxuchao

[2017-03-07 15:12] liggitt commented on #42644
GuaranteedUpdate doesn't know what tryUpdate is doing. In the case of patch, the `currObj` passed the first time is saved as a baseline to compute patch conflicts against.

[2017-03-07 15:25] wojtek-t commented on #39471
@liggitt - so do you suggest passing the information about whether the object is from cache or not to tryUpdate function?
How patch then should behave based on that? Are you suggesting to "reset" it's state based on that bit of information?
Are there any other places that will use that information, that you are aware of?

[2017-03-07 15:32] luxas commented on #42234
@ixdy I think we can just close this issue, you don't need to push (or can't actually).
ppc64le wasn't supported in v1.5 when we used the kube-discovery image. In v1.6 we don't anymore, where ppc64le is supported.

See: https://github.com/kubernetes/kubernetes/pull/42070, https://github.com/kubernetes/kubernetes/pull/41417 and https://github.com/kubernetes/community/blob/master/contributors/design

[2017-03-07 15:54] mkumatag commented on #42234
okay..

[2017-03-07 16:00] lpreson opened #42649 "Stopping cluster overnight prevents scheduled jobs from running after cluster startup."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
CronJob
ScheduledJob
"Too many missed start times to list"
---

**Is this a BUG REPOR

[2017-03-07 16:04] dimpavloff commented on #39028
Hi, we have a very similar setup as above (CoreOS , docker 1.12.6 , k8s 1.5.2, a prometheus Pod with EBS) and are seeing the same issue for the prometheus Pod and any other pods subsequently scheduled on the same node.

After a lot of digging, our hypothesis is that the prometheus process, upon starting, tries to go through all the data in the EBS volume (~24 GB for us) which causes it to max out

[2017-03-07 16:08] pwittrock commented on #39699
@apelisse Vic has started some work on this, but it isn't integrated with kubectl.  This would be a good project to get started on when you are ready.

[2017-03-07 16:08] bamb00 commented on #26000
I'm getting the same garbage collction failed issue (kubernetes server v1.5.3),

Mar 06 16:22:36 ip-10-43-0-20 kubelet[813]: E0306 16:22:36.439499 813 kubelet.go:1145] Image garbage collection failed: unable to find data for container /

[2017-03-07 16:09] pwittrock commented on #39188
@ymqytw Can you make sure this gets resolved in 1.7?

[2017-03-07 16:10] #37166 closed

[2017-03-07 16:10] #42592 closed

[2017-03-07 16:11] #39471 closed

[2017-03-07 16:21] smarterclayton commented on #15179
I *think* this is fixed now - (only watch is not filtered, because watch filtering doesn't make sense).

[2017-03-07 16:30] matthew-piziak commented on #30763
@gaocegege Any progress on this issue?

[2017-03-07 16:36] kargakis opened #42651 "k8s.io/kubernetes/pkg/api TestRoundTripTypes"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42346/pull-kubernetes-unit/21773/

@deads2k

[2017-03-07 16:42] kargakis commented on #42651
@kubernetes/sig-api-machinery-test-failures is missing
@kubernetes/sig-api-machinery-misc

[2017-03-07 16:43] kargakis commented on #42649
@kubernetes/sig-apps-bugs

[2017-03-07 16:44] ymqytw commented on #39188
@pwittrock If using the approach in https://github.com/kubernetes/kubernetes/issues/39188#issuecomment-272221767, then yes.
But if we want support combined merge key, which contains multiple keys, then I think we need a proposal first.

[2017-03-07 16:46] kargakis commented on #42627
Dupe of https://github.com/kubernetes/kubernetes/issues/31553 - fixed in https://github.com/kubernetes/kubernetes/pull/42177

[2017-03-07 16:46] #42627 closed

[2017-03-07 16:57] pwittrock commented on #42392
@soltysh What can we do to mitigate the user experience fallout?  As I understand it, when users upgrade their master, `kubectl edit deployment` will just stop working with no further explanation to indicate that the user needs to append the group.  We definitely will need to update the release notes section "known issues and incompatibilities".

[2017-03-07 17:00] kargakis commented on #42392
There is also the alternative of reverting https://github.com/kubernetes/kubernetes/pull/39683 and moving it to 1.7 (IIUC, kubectl 1.6 won't have this problem with 1.7 clusters).

[2017-03-07 17:00] thockin commented on #34508
Not to detract from the long-term plan wrt APi versioning, but some notes from email, specifically about a short-term plan for scheduler-related beta FIELDS which have been used in v1.6.

@davidopp said:

@thockin raised the question today of whether we actually did the right field naming when we moved the schedule features (multi-scheduler, pod affinity, node affinity, taints/tolerations) from al

[2017-03-07 17:01] liggitt opened #42653 "RBAC registry methods must read namespace from context"
The following logic is enforced in BeforeCreate:
* If the incoming object has a namespace set in the body, it is required to match the actual namespace in the context (populated from the URL).
* If the incoming object has no namespace in the body, it is set to the namespace in the context (populated from the URL)

Before delegating to the standard create flow (which calls BeforeCreate), the RBAC r

[2017-03-07 17:02] liggitt commented on #42653
cc @kubernetes/sig-auth-bugs

[2017-03-07 17:03] thockin commented on #34508
re: 95% vs 5%, but in the 5% case they have to use API field names, which stick FOREVER, that are undesirable.

I don't think it is so bad to force people to acknowledge a change from beta to GA.  We have teh same problem with API group versioning v1beta1 -> v1

[2017-03-07 17:06] liggitt commented on #42392
Every user using deployments faces the problem of ever-increasing replicasets, which #39683 fixes. Some users face the problem of a 1.5.x kubectl being unable to edit.

[2017-03-07 17:08] #42234 closed

[2017-03-07 17:09] vishh commented on #26000
Is this an one off error?

On Tue, Mar 7, 2017 at 8:09 AM, bamb00 <notifications@github.com> wrote:

[2017-03-07 17:09] pwittrock commented on #39188
Lets sync up with @thockin to determine the minimal requirements for correctness.  I don't want to introduce a partial solution since it will create a maintenance burden.  Once the merge-key audit is complete, lets come up with a proposal.

I think it is ok if we write a design proposal.  I will make sure it gets appropriately reviewed within ~weeks.

[2017-03-07 17:15] pwittrock commented on #42392
@liggitt @fabianofranz @AdoHe   Perhaps we need to revisit out commitment to supporting skewed / client server.  We consistently fail to meet this commitment, and I would rather tell users they need to match the client / server version than have things break when we tell them that client / server version skew is supported.  WDYT?

[2017-03-07 17:29] kargakis commented on #42392
The truth is that both cleanup and a sane maxUnavailable by default are huge ux wins. I guess there is a trade-off we need to make here. To be fair, nothing stops users that stumble across the issue of many replica sets to set the field in their deployments.

[2017-03-07 17:33] bamb00 commented on #26000
@vishh, I don't understand your question?

[2017-03-07 17:36] ericchiang opened #42654 "Update github.com/coreos/go-oidc package to latest"
A few months ago we update go-oidc after having a lot of issues with compliance around JWT parsing, the OAuth2 spec, cache header parsing, etc. The new package `github.com/coreos/go-oidc` replaces the existing packages `github.com/coreos/go-oidc/{http,jose,keys,oauth2,oidc}`.

Over the 1.7 release cycle we'd like to update the packages use for the API server and kubectl plugins. As part of this wo

[2017-03-07 17:36] dragorosson commented on #40850
I've been doing kubernetes builds and have traced the problem down to this commit: https://github.com/kubernetes/kubernetes/commit/3803fee9724ae02e4019c64275c959d308b3a74d

Still investigating.

[2017-03-07 17:37] calebamiles commented on #34211
@mwielgus please move this issue into a target milestone. Issues with no milestone will get moved back into the 1.6 milestone and will be considered release blocking. Thanks!

**cc: @ethernetdan, @kubernetes/kubernetes-release-managers**

[2017-03-07 17:38] calebamiles commented on #33804
@mwielgus please move this issue into a target milestone. Issues with no milestone will get moved back into the 1.6 milestone and will be considered release blocking. Thanks!

cc: @ethernetdan, @kubernetes/kubernetes-release-managers

[2017-03-07 17:38] calebamiles commented on #33891
@mwielgus please move this issue into a target milestone. Issues with no milestone will get moved back into the 1.6 milestone and will be considered release blocking. Thanks!

cc: @ethernetdan, @kubernetes/kubernetes-release-managers

[2017-03-07 17:40] ravisantoshgudimetla commented on #39975
@gmarek @liggitt I was working on this issue and I tried the change that you suggested and I notice that it fails with this change too. #42634 and I think rewriting the test with retry option is option as I tried increasing 5000 ms and still it failed. I am new to the codebase, if there is piece of code where retry is available, I can check on that.

[2017-03-07 17:42] jeffvance commented on #36970
@calebamiles @copejon and I have been looking at this issue and cannot find any current nfsv4 failures. Can you point us to the failing tests and we will take a look?

[2017-03-07 17:43] dimpavloff commented on #42164
To add another data point, we're also seeing the `ContainerGCFailed    operation timeout: context deadline exceeded` when the docker runtime seems to be struggling. In our case, the docker runtime slowdown is correlated to heavy IO on an EBS volume, we think. Details here https://github.com/kubernetes/kubernetes/issues/39028#issuecomment-284765798

[2017-03-07 17:46] bgrant0607 commented on #8867
Access to GCE-specific information from the metadata server compromises application portability, security, pod-to-pod isolation, and pod-to-node isolation.

General cluster topology and metadata could be extracted from node labels, if there were a way to access node information, which would also need to be opt-in, in part since it would compromise the possibility of container migration (#3949).

[2017-03-07 17:47] liggitt commented on #42392
Unless they do it using kubectl 1.5.x `apply` or `edit`, which drop unknown API fields :)

[2017-03-07 17:50] deads2k commented on #42651
Round tripping failures are very rarely the fault of API machinery.  It's normally a flaw in the fuzzer funcs for the API group.  In this case, @kubernetes/sig-auth-bugs

[2017-03-07 17:59] bgrant0607 commented on #34508
Representing the same information in 2+ different fields CANNOT WORK. It will break some clients and use cases.

If we use field names prefixed with "beta", which is what I advocated above, we're signing up to implement this feature in order to move these fields to GA. I'd be ok with that.

If we're not willing to do that, I think the main alternative is for these to just skip beta and leap to GA.

[2017-03-07 18:00] curtisallen commented on #42654
Yeah, I agree e2e tests would be very beneficial
👍

[2017-03-07 18:01] kow3ns commented on #40953
@foxish Can we close this? This is no longer flakey.

[2017-03-07 18:02] dchen1107 commented on #42554
Are you using upstream Kubernetes 1.3.3? Did you change kube-controller-manager code in your repo? It is weird that kube-controller-manager is trying to delete the mirror pod. What I said above the known issue is what I described at https://github.com/kubernetes/kubernetes/issues/42554#issuecomment-284531235, and it is by design.

[2017-03-07 18:04] foxish commented on #40953
Closing.

[2017-03-07 18:04] #40953 closed

[2017-03-07 18:08] ericchiang commented on #42654
@curtisallen the fix for coreos/go-oidc#137 is a bug fix on our end. I'd advocating sneaking that patch in for 1.6. I don't see us fixing the other issues before 1.7.

[2017-03-07 18:13] ncdc commented on #35953
The failure from the Feb 3 failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/39901/pull-kubernetes-e2e-kops-aws/10745/ is because of a routing issue:

[code]

The most recent failure from https://github.com/kubernetes/kubernetes/issues/40787 is a docker issue:

[code]

I'm not seeing any evidence that there is anything wrong specifically with this test or the code it

[2017-03-07 18:13] #35953 closed

[2017-03-07 18:14] piosz commented on #40736
All components have appropriate metrics right now.

[2017-03-07 18:14] #40736 closed

[2017-03-07 18:15] crassirostris commented on #42515
@repeatedly

There are at least the following changer

* Ubuntu Trusty -> Debian Jessie
* td-agent package -> manually installed
  * embedded ruby -> ruby 2.1
  * embedded gems -> fixed version gems from Gemfile
  * embedded libjemalloc -> [libjemalloc1 from debian repos](https://packages.debian.org/jessie/libjemalloc1)

I understand that it's a lot of changes and I'm going to narrow the problem d

[2017-03-07 18:21] vishh commented on #26000
Is GC failing continuously or is it failing at arbitrary times?

On Tue, Mar 7, 2017 at 9:33 AM, bamb00 <notifications@github.com> wrote:

[2017-03-07 18:25] piosz commented on #42515
If this is not fixed before Monday we will revert #41998.

cc @fgrzadkowski @timstclair @ixdy

[2017-03-07 18:25] derekwaynecarr commented on #42563
fixed by https://github.com/kubernetes/kubernetes/pull/42585

[2017-03-07 18:25] #42563 closed

[2017-03-07 18:26] derekwaynecarr commented on #42549
this should be fixed by https://github.com/kubernetes/kubernetes/pull/42585

[2017-03-07 18:27] crassirostris commented on #42515
@piosz Only https://github.com/kubernetes/kubernetes/pull/42130 and https://github.com/kubernetes/kubernetes/pull/42126 should be reverted, not https://github.com/kubernetes/kubernetes/pull/41998

[2017-03-07 18:28] jamshid commented on #32526
Found this on a search, I was having a similar dnsmasq startup failure in a container when starting a large number of them (single docker server, not kubernetes). I _think_ the "Too many open files" message is misleading...

[code]

If I'm right, the limit being hit is not file handles ("open files" or ulimit -n), the limit is specific to `inotify`: `max_user_instances` or `max_user_watches`.  Che

[2017-03-07 18:30] rootfs opened #42658 "Need Cinder V2 API support"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.6

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release):RHEL/CentOS
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**:
- **Others**:

**What happened**:
On an openstack setup that doesn't enable Cinder V1 API, it

[2017-03-07 18:30] rootfs commented on #42658
@anguslees

[2017-03-07 18:32] piosz commented on #42515
No, we want to revert migration to the new base image. The changes to extract configuration into env var/config map should preserve. This mean that the revert might not be straightforward.

[2017-03-07 18:37] crassirostris commented on #42515
@piosz I think our backup option is to switch back to using td-agent package, not reverting whole change, because https://github.com/kubernetes/kubernetes/pull/41998 is also about security and we don't want to revert that

I will check whether that helps

[2017-03-07 18:44] #42549 closed

[2017-03-07 18:45] derekwaynecarr commented on #42430
fixed https://github.com/kubernetes/kubernetes/pull/42585

[2017-03-07 18:45] #42430 closed

[2017-03-07 18:46] aaronlevy commented on #42589
Also cc @colemickens as someone else that has run kubelet via hyperkube container in the past

[2017-03-07 18:47] MrHohn commented on #31910
Hi @zag2art, you shouldn't need any workaround to make kube-dns work in v1.4. What problem did you encounter?

[2017-03-07 18:53] dashpole commented on #38050
This may simply be because this test uses a different deletion timeout from the default timeout...  I am testing with using the default.

[2017-03-07 18:54] caesarxuchao commented on #42516
Ok. I think my initial confusion around `CachedDiscoveryInterface` and `DeferredDiscoveryRESTMapper` is solved. GC is going to use the `DeferredDiscoveryRESTMapper` differently in #42615. Closing this issue.

[2017-03-07 18:54] #42516 closed

[2017-03-07 18:55] wstrange commented on #2707
The issue (which is still present in Kube 1.5.3) is that a dot is not allowed in the podspec for
environment variables names.

Some systems (elasticsearch for example) use dotted env var names.  Example:

     - name: transport.host
          value: 127.0.0.1

The above fails with

Deployment.extensions "es-es-kibana" is invalid: spec.template.spec.containers[0].env[2].name: Invalid value: "transp

[2017-03-07 18:57] pbx0 commented on #42589
Kubelet dependancies (and their potential removal) are being tracked in this issue: https://github.com/kubernetes/kubernetes/issues/26093

This would be a good source for determining previously implicit dependancies in the build process.

[2017-03-07 18:57] caesarxuchao commented on #40860
I don't think this is a release blocker. HPA is only stored as v1. The upgrade test need to be there before we store HPA in v2alpha2 (or other version).

[2017-03-07 18:58] gmarek commented on #39975
@ravisantoshgudimetla - what you wrote is concerning. I wish I had time to debug it:/ Frankly - those tests are old. Like really, really old. So they start to deserve a rewrite.

On the flip side - we'll need to rewrite them when making taint-based evictions default, so we'll need to allocate time for that anyway. If lengthening sleep time reduce the flakyness I vote for doing that, and just wait

[2017-03-07 19:00] jeremywadsack commented on #18226
Updated link to documentation:

https://kubernetes.io/docs/api-reference/v1/definitions/#_v1_httpgetaction

Example use:

[code]

[2017-03-07 19:02] nicksardo commented on #38569
PR #42555 is successfully deleting the remaining resources. The etcd upgrade test is now failing roughly half the time rather than continuously.

After glancing over the recent failures, I've noticed a few consistent behaviors:

1. Ingress objects are created and the l7 address is successfully hit.
1. All ingress objects are **not** cleaned up by the GLBC. (The test framework has to manually delet

[2017-03-07 19:05] lavalamp commented on #34508
happy to see some activity on this. I was considering coming back to it.

[2017-03-07 19:10] lavalamp commented on #34508
I think, if we track fine-grained version, it ought to be possible to change a field's type/structure without breaking old clients.

I am not a huge fan of putting the field status in its name. I think that ought to be in the documentation (OpenAPI). Putting the status in the name *guarantees* a user-annoying change when the item goes GA.

We should also think about what happens to alpha/beta fiel

[2017-03-07 19:11] bowei commented on #42636
Some questions:
* How did you run dig (from a new pod, existing pod)?
* What are the contents of your /etc/resolv.conf from the pods that can't resolve the names?
* What is the /etc/resolv.conf from the node (outer host) that hosts the pods?

[2017-03-07 19:14] thockin commented on #34508
Re: same info, different fields, I don't think it is unreasonable to require mutual exclusion among fields of a given "set".

[2017-03-07 19:15] foxish commented on #38100
This hasn't flaked in a month. Closing.

[2017-03-07 19:15] #38100 closed

[2017-03-07 19:17] foxish commented on #37919
This test is outdated. Closing.

[2017-03-07 19:17] #37919 closed

[2017-03-07 19:17] thockin commented on #34508
moving between beta API versions and GA API versions already requires users to do something.

[2017-03-07 19:19] dcbw commented on #42210
@freehan I'm working on some optimizations, will tag you when I post a PR

[2017-03-07 19:19] lavalamp commented on #34508
If we do insist on putting status in field names, I'd consider something that's clearly a selector, e.g. "myField[beta1]" (JSON allows this).

Proto numbering is perhaps a harder problem. It's not user-visible, but it has to stay compatible.

[2017-03-07 19:20] foxish commented on #37436
The test is outdated. Closing.

[2017-03-07 19:20] #37436 closed

[2017-03-07 19:20] timstclair commented on #42515
Thanks for investigating this! I have a couple comments:

- The full package diff can be found here: https://github.com/timstclair/kubernetes/commit/3fb704f977875bb4cbb64687b2f6836fbe101cf6
- The first thing I would look at is whether the ruby version makes a difference. I believe td-agent was using 2.3
- The main benefit of https://github.com/kubernetes/kubernetes/pull/41998 is actually _not_ usi

[2017-03-07 19:20] damienjoldersma commented on #42438
Any work around? Any way to purge those old nodes from the NodeInformer cache?

[2017-03-07 19:21] lavalamp commented on #34508
I think we shouldn't make a decision on this for 1.6, at least not one that we don't plan on changing.

[2017-03-07 19:23] crassirostris commented on #42515
@timstclair Thanks for the comments, they totally make sense. Also, thanks for the diff.

Thanks!

[2017-03-07 19:24] colemickens commented on #42151
cc: @anhowe @JiangtianLi PTAL

[2017-03-07 19:30] krousey opened #42660 "API server can't find cert on downgrade to 1.5"
**Kubernetes version** (use `kubectl version`): 1.7 alpha client (local mods for e2e tests) downgrading master to 1.5.4 beta

**What happened**:
Upon downgrading the master to 1.5.4, the api server failed to find client CA file.

[code]

[code]

**What you expected to happen**:

I expected the API server to work.

**How to reproduce it** (as minimally and precisely as possible):
Bring up a 1.6 or

[2017-03-07 19:34] yujuhong commented on #42438
AFAIK, sig-node doesn't maintain the node controller.

Based on the [OWNERS](https://github.com/kubernetes/kubernetes/blob/v1.7.0-alpha.0/pkg/controller/node/OWNERS) files, the only approver is @gmarek

[2017-03-07 19:42] NiclasHedam commented on #42636
The first cluster was also quite new - only a few hours old - but the dig command was run within an existing pod on the new cluster.

The first cluster is removed now, since it was in conflict with the replacement cluster. The pod image deployed on the cluster are the same though, and the pods /etc/resolv.conf looks like this:
[code]

[2017-03-07 19:43] foxish commented on #36204
This has not flaked on GCE in a while. The recent GKE flakes are likely a result of other unrelated test failures.

[2017-03-07 19:58] lavalamp commented on #34508
Sometimes changes are necessary to graduate. However, IMO, the act of graduation itself shouldn't require changes. That is (a) user pain and (b) possibility of introducing bugs, for what gain? "We're changing exactly nothing about this API, please go update all of your stored config files." This is not a good user experience. Additionally, the work (currently) required to change a field name is ma

[2017-03-07 20:00] bowei commented on #42636
How was the non-dig query done (the one that fails)? Was it via a gethostbyname() equivalent or a DNS client library? If it was via the libc call, which libc are you using (glibc, musl, uclibc, ...)

[2017-03-07 20:02] davidopp commented on #34508
I didn't have time to read the whole thread yet, but I wanted to point out that we are implicitly making a decision for 1.6 unless we revert everything and go back to using alpha annotations until this issue can be sorted out.

[2017-03-07 20:03] davidopp commented on #34508
I'm not able to commit that these APIs will not change at all before GA. (Of course they would only change in backward-compatible ways, as is required for beta APIs.)

[2017-03-07 20:08] lavalamp commented on #34508
Yeah, I meant we should not make a binding decision for all future versions.

[2017-03-07 20:11] skriss commented on #42199
@mikedanese do you have an update on this? Now that the jobs are set up, this is a blocker for 1.6 upgrade testing. Thanks!

[2017-03-07 20:17] bamb00 commented on #26000
Not failing continously...Here is the complete log,
I0307 20:12:05.897288    9095 manager.go:204] Version: {KernelVersion:4.4.0-45-generic ContainerOsVersion:Ubuntu 16.04.1 LTS DockerVersion:1.12.6 CadvisorVersion: CadvisorRevision:}
I0307 20:12:05.897945    9095 cadvisor_linux.go:152] Failed to register cAdvisor on port 4194, retrying. Error: listen tcp :4194: bind: address already in use
W0307 2

[2017-03-07 20:19] mikedanese commented on #42199
I started looking at this yesterday, figured out what was going wrong. The problem is due to enabling RBAC. There are a couple options to fix. I should have a fix prepared and out for review today or tomorrow.

[2017-03-07 20:19] bgrant0607 commented on #25961
cc @louiscryan

[2017-03-07 20:21] madhusudancs commented on #42559
What's your host cluster version. If it is v1.5 or older we are still waiting for a bug fix to get in (PR #41830)

[2017-03-07 20:23] NiclasHedam commented on #42636
It was failing both as a redis (https://github.com/nrk/predis) and mysql (https://github.com/illuminate/database) connection in php, which I assume is using
`string gethostbyname ( string $hostname )` (http://php.net/manual/en/function.gethostbyname.php).

I can also share that the cluster configuration and Dockerfiles are approx. 6 months months old, and we have never had this issue before today.

[2017-03-07 20:25] bowei commented on #42636
Which alpha features do you have enabled?

[2017-03-07 20:26] bowei commented on #42636
Yes, please post the cluster configuration/Dockerfiles.

[2017-03-07 20:30] madhusudancs commented on #42618
Can you run `kubectl --context=cluster-cloud94 --namespace=federation get secrets` and `kubectl --context=cluster-cloud94 --namespace=federation get secrets cluster-cloud94 -o yaml` and paste their outputs?

[2017-03-07 20:31] CJKay commented on #28660
@slaskawi Have you had any luck? The game server/VOIP service situation is exactly the situation I've been trying to solve for several months now on GKE.

[2017-03-07 20:34] mwielgus opened #42665 "Silence docker rmi error messages in official builds"
Currently they look like:
[code]
and it can be really hard to tell whether this is expected or not.