[2018-08-10 14:25] nikhita commented on #63483
/remove-lifecycle stale

[2018-08-10 14:26] nikhita commented on #59890
/remove-lifecycle stale

going to mark this as non-stale until a definite fix is reached.

[2018-08-10 14:27] chrisohaver commented on #67196
What version of busy box?  There are some busy box releases with broken DNS...

https://github.com/kubernetes/kubernetes/issues/66924#issuecomment-411804435

[2018-08-10 14:28] nikhita commented on #56682
@resouer @krmayankk should this be closed given https://github.com/kubernetes/kubernetes/pull/61069 fixes the issue?

/remove-lifecycle stale

[2018-08-10 14:28] flyingcougar commented on #67072
@gnufied yes its related but fix proposed by @nkkashyap wont help me :(
I am getting `false` and `err!=nil` from `util.PathExists(dir)`

[2018-08-10 14:29] nikhita commented on #17144
I'm still going to mark it as non-stale given that the feature is wanted. If someone can take this up, they would be most welcome.

/remove-lifecycle stale

[2018-08-10 14:30] nikhita commented on #59551
/remove-lifecycle stale

[2018-08-10 14:31] nikhita commented on #45811
/remove-lifecycle stale

[2018-08-10 14:31] nikhita commented on #63465
/remove-lifecycle stale

[2018-08-10 14:31] nikhita commented on #63428
/remove-lifecycle stale

[2018-08-10 14:32] nikhita commented on #58820
/remove-lifecycle stale

[2018-08-10 14:33] nikhita commented on #62737
@mbohlool @dims looks like this can be closed now?

[2018-08-10 14:33] jsafrane commented on #66287
I am not sure I fully understand the issue. How is it possible that PV controller does not see the PVC in its cache? It must have been created before pod was created and scheduler bound it to a PV. That's IMO long enough for a pod to be in the cache, especially when PV got there quick enough.

[2018-08-10 14:33] nikhita commented on #60748
/remove-lifecycle stale

[2018-08-10 14:35] nikhita commented on #62299
/remove-lifecycle stale

[2018-08-10 14:36] nikhita commented on #62596
/remove-lifecycle stale

[2018-08-10 14:37] nikhita commented on #62299
/remove-sig api-machinery
/sig multicluster

/cc @quinton-hoole

[2018-08-10 14:37] nikhita commented on #62596
/cc @quinton-hoole

[2018-08-10 14:38] nikhita commented on #63104
/remove-lifecycle stale

[2018-08-10 14:39] nikhita commented on #59368
/remove-lifecycle stale

[2018-08-10 14:40] nikhita commented on #62931
/remove-lifecycle stale
/kind bug

[2018-08-10 14:41] nikhita commented on #62421
/remove-lifecycle stale

I'm going to remove the help wanted label because this is something which needs a proposal and hence is not suitable for a new contributor.

/remove-help

[2018-08-10 14:42] nikhita commented on #25730
/remove-lifecycle stale

/cc @BenTheElder

[2018-08-10 14:43] nikhita commented on #63435
/remove-lifecycle stale

PR open

[2018-08-10 14:44] nikhita commented on #24562
/remove-lifecycle stale

/cc @mbohlool @roycaihw @sttts

[2018-08-10 14:45] andyzhangx commented on #67014
I tried 100GB disk and write ~60GB data, drain two pods with one disk each would cost about 5 min and it works well. And your provided kubelet logs has issue in attach disk other that mount device.
Would you open the kubelet log level to 12, follow by, and retry, this will give you more detailed logs if it could step into mount device process:
[code]

[2018-08-10 14:46] quinton-hoole commented on #62596
@mmeliani Best to post these kinds of questions on StackOverflow, the multicluster mailing list, or slack.

[2018-08-10 14:46] #62596 closed

[2018-08-10 14:47] nikhita commented on #46404
/remove-lifecycle stale

/cc @liggitt
because iirc you had written some of the feature gate docs

[2018-08-10 14:48] nikhita commented on #63173
/remove-lifecycle stale

[2018-08-10 14:48] nikhita commented on #59044
/remove-lifecycle stale

[2018-08-10 14:49] nikhita commented on #62246
/remove-lifecycle stale

[2018-08-10 14:50] nikhita commented on #62549
/remove-lifecycle stale

[2018-08-10 14:52] nikhita commented on #63263
/remove-lifecycle stale

[2018-08-10 14:52] nikhita commented on #63389
/remove-lifecycle stale

[2018-08-10 14:54] nikhita commented on #56972
/remove-lifecycle stale

[2018-08-10 14:54] nikhita commented on #60957
/remove-lifecycle stale

[2018-08-10 14:55] nikhita commented on #63355
/remove-lifecycle stale

[2018-08-10 14:55] nikhita commented on #62637
/remove-lifecycle stale

[2018-08-10 14:56] nikhita commented on #57144
:(

/remove-lifecycle stale

[2018-08-10 14:56] nikhita commented on #63019
/remove-lifecycle stale

/cc @enisoc @janetkuo

[2018-08-10 14:57] nikhita commented on #58640
/remove-lifecycle stale

This looks like something a new contributor can take up so I'm going to label it as a good first issue.

/good-first-issue

[2018-08-10 14:58] dims commented on #62737
/close

[2018-08-10 14:58] #62737 closed

[2018-08-10 14:58] nikhita commented on #63336
/remove-lifecycle stale

[2018-08-10 14:58] nikhita commented on #59023
/remove-lifecycle stale

[2018-08-10 14:59] nikhita commented on #49801
/remove-lifecycle stale
/area test

[2018-08-10 15:00] nikhita commented on #31424
/remove-lifecycle stale

[2018-08-10 15:00] nikhita commented on #52434
/remove-lifecycle stale

[2018-08-10 15:09] #51484 closed

[2018-08-10 15:09] #33084 closed

[2018-08-10 15:09] nikhita commented on #39434
/remove-lifecycle stale

[2018-08-10 15:09] #61036 closed

[2018-08-10 15:09] #61110 closed

[2018-08-10 15:09] nikhita commented on #63316
/remove-lifecycle stale

[2018-08-10 15:10] nikhita commented on #63274
/remove-lifecycle stale

[2018-08-10 15:10] nikhita commented on #58346
/remove-lifecycle stale

[2018-08-10 15:11] nikhita commented on #51668
/remove-lifecycle stale

[2018-08-10 15:13] nikhita commented on #54514
/remove-lifecycle stale

[2018-08-10 15:13] malozanoff commented on #31424
+1

[2018-08-10 15:13] nikhita commented on #63273
/remove-lifecycle stale

[2018-08-10 15:13] nikhita commented on #54384
/remove-lifecycle stale

[2018-08-10 15:15] nikhita commented on #63259
/remove-lifecycle stale

[2018-08-10 15:16] simo5 commented on #59152
/remove-lifecycle stale

[2018-08-10 15:30] iSynth commented on #24229
@redbaron, Linux it does not need bk solutions?!!! M.... Bk solutions require services that are run in Linux and one of these mainstream services is K8S which does not know how to do this.

[2018-08-10 15:47] redbaron commented on #24229
If you squint, you can see GNU Linux as a runtime platform: it provides primitives such as signals, filesystem, processes, etc, , these primitives are accessible via API (syscalls) and you use them to build your application. Then you recognize the need for backups and you build/buy backup solution which uses same primitives, runs and works together with  same runtime platform to save state of your

[2018-08-10 16:05] tpepper commented on #67244
If you add the yum repo and access via yum/dnf does it indicate there is no content or tell you about RPMs?  I think the content is "there".  For example:

If you look in the metadata of the yum repo the package files’ urls are listed there and do resolve, but it’s also in a location that’s not browsable at a file level.  Eg: yum metadata indicates for example https://packages.cloud.google.com/yum

[2018-08-10 16:08] coffeepac commented on #63447
@nikhita are you seeing this issue  with the same k8s and OS versions as well?  if so, can you please post the logs from controller-manager and kubelet?

[2018-08-10 16:14] psreed opened #67259 "kubectl run not accepting valid JSON as --override on Windows (same JSON works on Mac)"
/kind bug

**What happened**:
- "kubectl run" with --overrides is rejected with "error: Invalid JSON Patch" on WINDOWS
- exact same command verified works fine on MacOS

**What you expected to happen**:
Patch applied to my kubectl run.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
Output on Windows:
[code]

Output on Windows (with -v6

[2018-08-10 16:16] Vislor commented on #65933
I also encountered the same bug when standing up an HA cluster and was able to apply the same workaround (manually adding providerIds for worker nodes).

It seems that kubeadm properly assigns providerIds to the master nodes (all 3 in my case) but doesn't assign them to worker nodes with the join command.

[2018-08-10 16:22] liggitt opened #67260 "TestVolumeBindingRescheduling `out of sync; retrying` flakes"
seeing `out of sync; retrying` errors in TestVolumeBindingRescheduling:

http://storage.googleapis.com/k8s-metrics/flakes-latest.json shows TestVolumeBindingRescheduling in the top 3 flakes for its job

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/67207/pull-kubernetes-integration/22583/

[code]

@kubernetes/sig-storage-test-failures

[2018-08-10 16:34] MrHohn commented on #51292
/remove-lifecycle stale

[2018-08-10 16:35] chrisohaver commented on #67196
Replica of coredns/coredns#2026 (cross posted)

[2018-08-10 16:37] foxish commented on #67244
Oops, this is missing. @jpbetz, can you help release this?

[2018-08-10 16:38] theobolo opened #67261 "Init-containers are restarting with no reason after completion."
/kind bug

Hello everyone,

I'm facing a very strange issue on AKS and Kubernetes 1.10.5, about init-containers.
I found that even after a clean completion, an init-container restarts randomly, even when the `restartPolicy` flag is set to `Never`.

I made a very simple deployment file :

[code]
When i start this deployment everything is running fine, the init-container starts the `systemctl` comma

[2018-08-10 16:39] msau42 commented on #67260
/assign @lichuqiang

[2018-08-10 16:43] psreed commented on #67259
Seems I posted to the wrong project, closing here and opening under kubernetes/kubectl.
https://github.com/kubernetes/kubectl/issues/519

[2018-08-10 16:43] #67259 closed

[2018-08-10 17:02] goblain commented on #24229
2+ years after my 1st comment here I still think that is the way to go, and that's how I work. Although recently I decided to try out the approach for cluster backup and recovery targeted at kubeadm provisioned cluster. Now, there is a lot of gotchas in my particular case, like the fact that I assume that cluster as a whole will have the same identity (ie. same dns names), same certs (CA at minimu

[2018-08-10 17:09] lichuqiang commented on #67260
I'll take a look :)
And @cofyc might have knowledge of the case

[2018-08-10 17:11] #59074 closed

[2018-08-10 17:49] mbohlool commented on #67244
On it

[2018-08-10 17:52] eswarbala commented on #65724
@liggitt - Now that this is merged, can we open up the possibility of cherry picking to 1.10.x and 1.11.X please?

[2018-08-10 18:19] prestonvanloon commented on #57726
@discordianfish my specific use case is to use the hostname of a pod created by some deployment.

Does the downward API provide this as a command line argument or simply making it available as an environment variable? If the case is the latter, then I'm in the same spot. I can already access the HOSTNAME via environment variable, but I can't intuitively provide it as a command argument.

[2018-08-10 18:30] #61739 closed

[2018-08-10 18:32] cblecker commented on #51668
@nicksardo @yujuhong @bowei @thockin any update on this?

[2018-08-10 18:50] greghaynes opened #67268 "Human readable status from conditions for a CRD using additionalPrinterColumns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When a CRD contains status conditions in a pattern similar to PodCondition there is not a good way to produce human readable output of the current status in kubectl. AdditionalPrinterColumns is useful for improving kubectl UX for data which can be pulled directly from the CRD but status conditions are generally stored

[2018-08-10 19:03] greghaynes commented on #67268
/sig cli

[2018-08-10 19:04] mkimuram opened #67269 "RBD tests fail with hostname: command not found\n/bootstrap.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
e2e tests which use RBD server image fail with ```hostname: command not found\n/bootstrap.sh```

**What you expected to happen**:
These tests succeed.

**How to reproduce it (as minimally and precisely as possible)**:
Run e2e tests which use RBD server image.

**Anything else we need to know?**:
/sig storage

This issue is

[2018-08-10 19:07] mkimuram commented on #67269
Please see the difference of the behaviour between fedora 26 and 28.

[Fedora26]
[code]

[Fedora28]
[code]

[2018-08-10 19:14] liggitt commented on #67268
/sig api-machinery

CRD and server-side printing belong to api-machinery

[2018-08-10 19:17] liggitt commented on #65724
sure, opened https://github.com/kubernetes/kubernetes/pull/67271, https://github.com/kubernetes/kubernetes/pull/67270, https://github.com/kubernetes/kubernetes/pull/67272

[2018-08-10 19:19] neolit123 opened #67273 "test/integration/daemonset TestLaunchWithHashCollision is flaking"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-integration/22609/

[code]

/sig apps
/priority critical-urgent
/assign @mortent

PR that added the test:
https://github.com/kubernetes/kubernetes/pull/66476
/cc @janetkuo @mikedanese

[2018-08-10 19:25] mbohlool commented on #67244
Done

[2018-08-10 19:25] #67244 closed

[2018-08-10 19:27] spiffxp commented on #67273
/kind flake

[2018-08-10 19:28] neolit123 commented on #67261
/sig azure

[2018-08-10 19:36] neolit123 commented on #67238
please try contacting the maintainers of the `kubernetes-node` package.
it is not maintained by the kubernetes github organization and we cannot help much about it.

/close

[2018-08-10 19:36] #67238 closed

[2018-08-10 19:38] sfudeus commented on #66568
Same issue here on a small cluster (3 master, 3 worker) with a metallb-speaker deployment with rack anti-affinity, hostNetwork, and node-selector for worker-nodes.
Worked well with 1.10.5, does not now on 1.11.2.

[code]

The relevant port is definitely not in use on the nodes wight now.
Current error message:
[code]

Restarting the kube-scheduler did trigger the scheduling.

Before, the scheduler

[2018-08-10 19:40] neolit123 commented on #67233
/sig api-machinery
/area api

[2018-08-10 19:41] snowman78 commented on #67214
fixed by https://github.com/kubernetes/kubernetes/issues/67244

[2018-08-10 19:41] #67214 closed

[2018-08-10 19:44] kh34 commented on #67221
On further inspection, this is somehow related to our use of a ValidatingWebhook. If I remove the ValidatingWebhookConfiguration, all works as expected. This is strange because we've set failurePolicy: Ignore. Are ValidatingWebhooks not supposed to be compatible with HPA?

[code]

[2018-08-10 19:46] gnufied commented on #67072
@flyingcougar what is the error value? or put it other way - you said `err != nil` . What is the value of it?

[2018-08-10 19:50] #67199 closed

[2018-08-10 20:02] dims commented on #67269
`make all-containers WHAT=volume/rbd` (or) `make all-containers WHAT=volume/push`

Both need to be run from `test/images/` directory

[2018-08-10 20:02] roberthbailey commented on #15484
The goal of https://github.com/kubernetes/kubernetes/issues/8686 was to define best practices for packaging cluster components, and this issue is about a specific way that we could improve one aspect of packaging. It seemed like one possible answer to the other issue, but I didn't think it stood alone as a feature, because if this is not a way that fit with the best practices that we want to promo

[2018-08-10 20:05] chrisohaver commented on #67196
looks like conversation is happening in the  coredns/coredns#2026 clone.

[2018-08-10 20:07] merdincz commented on #67196
Ok I'm closing this conversation.

[2018-08-10 20:07] #67196 closed

[2018-08-10 20:08] mkimuram commented on #67269
@dims

Thank you for letting me know it.
It should be s/all-containers/all-container/, but it seems to work.

I will test with above patch and above build commands, then make a PR, once I confirm that it works well.

[2018-08-10 20:09] dims commented on #67269
sorry typing from memory :)

[2018-08-10 20:10] yujuhong commented on #63355
Nope. We can just `crictl` to pre-pull the images as @Random-Liu said.
We added the image prepulling as a workaround due to the overwhelming amount of flake caused by pulling during the tests. Pulling seems to be more reliable than before.

Will bump the priority if this becomes an issue again. In the meantime, if anyone wants to help with the change, feel free to go ahead.

[2018-08-10 20:26] fedebongio commented on #63622
Update: Upgraded the test, and now the test is not passing... working on this.

• Failure [38.067 seconds]
[sig-api-machinery] Aggregator
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/apimachinery/framework.go:22
  Should be able to support the 1.9 Sample API Server using the current Aggregator [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kuber

[2018-08-10 20:30] fedebongio commented on #67075
/cc @maulin9

[2018-08-10 20:30] liggitt commented on #63622
not sure if it's related, but I don't think the test currently gives sufficient permissions to the aggregated server to perform delegated authn/authz checks. we might want to look at merging https://github.com/kubernetes/kubernetes/pull/64993

[2018-08-10 20:35] mkimuram commented on #67269
@dims

I need to ask you two more things:
  - Do we need to increment the version for this image, like 1.0.1, even for this small change?
   (I guess that test/utils/image/manifest.go and test/images/volume/rbd/VERSION will need to be updated in this case.)
  - How the image push process will be? Does it pushed by CI, if there are a change in the code or docker file, or do someone who have permiss

[2018-08-10 21:11] merdincz opened #67278 "After kubernetes 1.11.2 upgrade pod's and master can't communicate across nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I've upgraded my kubernetes cluster from 1.10.0 to 1.11.2 after that my nodes can't communicate with each others. I have 1 master 3 nodes bare metal and i am using weave-net for network plugin.

For example i have a service named redis;

`logging         redis                NodePort    10.96.227.182    <none>        637

[2018-08-10 21:12] merdincz commented on #67278
/sig network

[2018-08-10 21:13] #66390 closed

[2018-08-10 21:13] #60070 closed

[2018-08-10 21:13] #66995 closed

[2018-08-10 21:14] merdincz commented on #67278
/sig network

[2018-08-10 21:18] mkimuram commented on #67269
@dims

```# make all-containers WHAT=volume/rbd``` creates below three docker images:
- gcr.io/kubernetes-e2e-test-images/volume/rbd-ppc64le
- gcr.io/kubernetes-e2e-test-images/volume/rbd-arm64
- gcr.io/kubernetes-e2e-test-images/volume/rbd-amd64

Is my understanding right that to make each test access to each arch image, test/utils/image/manifest.go needs to be modified like below?
(Without doing

[2018-08-10 21:26] mkimuram commented on #67269
@rootfs @jsafrane

For fedora28 image, just installing hostname doesn't seem to work well. Please see the log below and attached [rbd_with_fc28.txt](https://github.com/kubernetes/kubernetes/files/2279503/rbd_with_fc28.txt).
I guess that this is due to the difference of ceph version, which will be beyond my beyond my expertise.

So, could you help debugging this issue? Meanwhile, I will try testing

[2018-08-10 22:05] Jake-Smullin commented on #48455
I'm actually experiencing this as well. I can confirm my NLB uses http2, created with `enable_http2` set to true. When I provide the api-servers with the flag --etcd-servers=https://$NLB_DNS:2379 keeps complaining about not being able to sync with the caches ```E0810 22:00:20.614259       1 controller_utils.go:1022] Unable to sync caches for crd-autoregister controller
I0810 22:00:20.614281

[2018-08-10 22:37] mkimuram commented on #67269
I confirmed that below commit, which change the base image back to fedora 26, fix this issue. Please see the log [rbd_with_fc26.txt](https://github.com/kubernetes/kubernetes/files/2279636/rbd_with_fc26.txt).

https://github.com/mkimuram/kubernetes/commit/9d67e3290c5430e87ed714145d572bf370ca1837

After I checked the image-util.sh, I come to think that by pushing the image, each image will be able t

[2018-08-10 23:43] MHBauer commented on #57992
Based on some conversation with @Random-Liu I will look into the approach [here](https://github.com/kubernetes/kubernetes/issues/64315#issuecomment-408503195) for this issue. That issue (#64315) seems like a similar problem.

[2018-08-11 00:01] #67040 closed

[2018-08-11 00:01] #60894 closed

[2018-08-11 00:14] smarterclayton commented on #22650
/reopen

[2018-08-11 00:55] shivramsrivastava opened #67286 "Unable to install 'cfssl' from vendor"
/kind bug

**What happened**:
Unable to spin up cluster using the kubetest, with 'ci/latest' image.
The CI jobs are failing, because the cluster is not provisioned properly.

[code]

I have tried locally, i am still getting the same error.
[code]

[Refer PR-128](https://github.com/kubernetes-sigs/poseidon/pull/128)
[Build-logs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kuberne

[2018-08-11 00:56] msau42 commented on #66287
The issue is syncing PVC/PV caches across scheduler and pv controller.  The PVs have been created long ago.  Now a bunch of PVCs and Pods are created with delayed binding.  Now, the scheduler will process the pod -> pvc, and then bind PV by setting PV.ClaimRef.

However, the PV controller could be slow to get API updates, and does not know about the new PVC object yet, but it got the PV update fro

[2018-08-11 01:05] BenTheElder commented on #67286
is your kubernetes checkout in `$GOPATH/src/k8s.io/kubernetes`? the one in that CI image is a bit odd actually. cc @krzyzacy

[2018-08-11 01:08] BenTheElder commented on #67286
@cblecker ohhh this is not good, kubetest --extract will of course not extract over your $GOPATH, but will then use the cluster/* scripts :man_facepalming:

[2018-08-11 01:09] shivramsrivastava commented on #67286
@BenTheElder i use kubetest directly, it extracts the image given in the --extract arg.
[code]

[2018-08-11 01:09] shivramsrivastava commented on #67286
Yes

[2018-08-11 01:14] shivramsrivastava commented on #67286
This is the full o/p from my local run.

[code]

[2018-08-11 01:28] cofyc commented on #67260
/assign
I'll take a look too, I wrote this test.

[2018-08-11 01:59] #67234 closed

[2018-08-11 02:53] liqlin2015 commented on #67243
I see the previous discussion https://github.com/kubernetes/kubernetes/issues/58648.

So will we can a separate predicate `CheckNodeUnschedulable` or just taint node when user try to put node in maintenance mode `kubectl cordon`.

By way `CheckNodeCondition` did not work. And I don't think predicates `CheckNodeUnschedulable` and `CheckNodeCondition` are work in the same way, do the same job.

[2018-08-11 03:13] liggitt commented on #67226
events are heavily throttled by the kubelet per pod and are not intended as a reliable message delivery bus. if you want to monitor the status of a container, watching the pod is the way to do to.

cc @derekwaynecarr

[2018-08-11 03:42] YacheLee commented on #67198
I solved this bug by myself. The bug shows up from time to time.

The reason is Kubernetes doesn't know how to make sure the pods I created are alive.

So its network mechanism SOMETIMES ignores the pods that is alive and well.

The solution is simple: add Readiness and Liveness.

This two Probes help K8s to understand our services provided by pods work well.

[2018-08-11 03:42] #67198 closed

[2018-08-11 03:59] vikaschoudhary16 commented on #67286
@BenTheElder I am also getting this error. My k8s is at `$GOPATH/src/k8s.io/kubernetes` and command that i am using is:
[code]

[2018-08-11 04:08] verwilst opened #67292 "error creating ipset xxx, error: exit status 1"
/kind bug

**What happened**:
Installed k8s 1.11.2 cluster with Kubespray, and selected ipvs instead of iptables as proxy mode. Results in crash loops for all kube-proxy containers:

kube-proxy-k8s-api01                       1/1       Running            72         6h
kube-proxy-k8s-api02                       1/1       Running            72         6h
kube-proxy-k8s-node01                      0/

[2018-08-11 04:34] #67286 closed

[2018-08-11 04:42] eroldan commented on #57187
/remove-lifecycle stale

[2018-08-11 04:50] BenTheElder commented on #67286
This should be fixed now by a revert in https://github.com/kubernetes/kubernetes/pull/67289, sorry about that. We'll follow up with something better soon.

[2018-08-11 06:48] verwilst commented on #67292
@kubernetes/sig-network-bugs

[2018-08-11 06:53] justaugustus commented on #62022
/close

[2018-08-11 06:53] #62022 closed

[2018-08-11 07:28] fejta-bot opened #67295 "pr:pull-kubernetes-e2e-gce-100-performance flaked 25 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **25**
 Consistency: **95.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons | 13 |
| Up | 9 |

#### Previously closed issue

[2018-08-11 08:07] nikhita commented on #67268
/area custom-resources

We do a lot of processing to print the pod right now:

https://github.com/kubernetes/kubernetes/blob/29232e3edc4202bb5e34c8c107bae4e8250cd883/pkg/printers/internalversion/printers.go#L546

Also, based on my discussion with @sttts, we are planning to support only simple json paths (no arrays) after this. (https://github.com/kubernetes/kubernetes/pull/67079) If you specified

[2018-08-11 08:14] nikhita commented on #50248
/remove-lifecycle stale

[2018-08-11 08:38] nikhita commented on #63447
Oh sorry, I was just marking this issue as non-stale so that the bot does not close down issues accidentally in the project.

From this, I gathered that there is indeed _some_ underlying issue.

If not, maybe we could wait for @rudymccomb to respond and close this. If someone comes across this again, we can reopen anytime (just my 2 cents).

@rudymccomb are you still able to reproduce this? if yes

[2018-08-11 08:41] nikhita commented on #63756
/remove-lifecycle stale

there is a PR open

[2018-08-11 08:42] nikhita commented on #63750
/remove-lifecycle stale

[2018-08-11 08:43] nikhita commented on #62782
/remove-lifecycle stale

[2018-08-11 08:44] nikhita commented on #63108
@ixdy looks like this can be closed now?

[2018-08-11 08:44] nikhita commented on #63044
/remove-lifecycle stale

[2018-08-11 08:45] nikhita commented on #56770
/remove-lifecycle stale

[2018-08-11 08:46] nikhita commented on #62404
@roycaihw is this still relevant? the other issues was closed.

[2018-08-11 08:47] nikhita commented on #62404
/remove-lifecycle stale

[2018-08-11 08:49] cofyc commented on #67260
Perhaps because invalidating predicate cache invalidates latest cache, but in-flight `VolumeBindingChecker.predicate` goroutine may write stale result into cache again.

Possible ways to fix:

- Add flag to indicate whether we invalidated cache when predicate check was in flight, like [PriorityQueue.receivedMoveRequest](https://github.com/kubernetes/kubernetes/blob/v1.12.0-alpha.1/pkg/scheduler/co

[2018-08-11 08:49] nikhita commented on #61583
@vamsi397 Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly

[2018-08-11 08:49] #61583 closed

[2018-08-11 08:51] nikhita commented on #23816
/remove-triage support
/kind documentation

[2018-08-11 08:53] nikhita commented on #63838
/cc @yujuhong

[2018-08-11 08:55] nikhita commented on #36072
Tried on master, works fine! :tada:

I'll close this issue. Please reopen if you still come across a problem.
/close

[2018-08-11 08:57] nikhita commented on #56306
/remove-lifecycle stale

[2018-08-11 08:58] nikhita commented on #63225
/remove-lifecycle stale

[2018-08-11 09:00] nikhita commented on #58310
/remove-lifecycle stale

[2018-08-11 09:00] nikhita commented on #58310
/cc @roycaihw

[2018-08-11 09:01] nikhita commented on #49489
/remove-lifecycle stale

[2018-08-11 09:02] nikhita commented on #62666
/remove-lifecycle stale

PR open

[2018-08-11 10:36] #67246 closed

[2018-08-11 11:36] #61607 closed

[2018-08-11 11:46] adampl commented on #63475
@dElogics AFAIK this fundamental issue has been fixed only in several cloud providers, as if bare-metal clusters were a second-class citizen...

[2018-08-11 12:01] munnerz commented on #67268
+1, I'd love to see this implemented somehow.

I'm currently moving critical/useful information *out* of status conditions since the additional columns spec won't allow me to cleanly select a particular type of condition.

[2018-08-11 12:32] nikhita commented on #58603
PR open: https://github.com/kubernetes/kubernetes/pull/67205

Thanks @roycaihw!! :tada:

[2018-08-11 12:47] nikhita commented on #62323
@tamalsaha can you add https://github.com/kubernetes/kubernetes/issues/65973 to the list?

[2018-08-11 12:55] nikhita commented on #58682
Quick update for folks on this thread: have updated the main issue body with more features and bugs we need to get in.

[2018-08-11 13:14] hedayat opened #67299 "Please add --dns-loop-detect option to dnsmasq run by kube-dns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If hosts `/etc/resolv.conf` points to a local DNS server, or if it contains the cluster's DNS server (to enable looking up services from host), it'll cause DNS loop which can effectively disable kube-dns or make it very slow.

**What you expected to happen**:
At least, kube-dns should detect localhost or cluster DNS serve

[2018-08-11 14:04] hchenxa opened #67300 "The pod still be secheduled on NotReady pods after evicted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was using k8s 1.11.1 with 1 master nodes and 2 worker nodes, and I create a deployment and the pods was deployed on one of master node, then I shutdown the worker node which have my workload which just deployed, after wait for about 5m, the pod will be evicted by taint_manager, but the new pod still scheduler on this of

[2018-08-11 14:05] hchenxa commented on #67300
/sig Scheduling

[2018-08-11 14:31] dixudx commented on #67299
/sig network

[2018-08-11 14:32] #61172 closed

[2018-08-11 14:37] ggaaooppeenngg opened #67303 "kubeadm set repo, kubelet still getting k8s.gcr.io/pause:3.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I set kubeadm init config with repo of my own container repo `imageRepository: xxx `, `kubeadm config images pull --config ./kubeadm-init.yaml`
[code]
And I found kubelet was still getting k8s.gcr.io/pause:3.1

[code]

**What you expected to happen**:

I hope kubeadm could overwrite default kubelet sandbox container i

[2018-08-11 15:18] andrewmyhre commented on #66637
Hi guys. Looks like this issue was caused by incorrect proxy configuration.

On Thu, Jul 26, 2018 at 12:28 AM, Kim Min <notifications@github.com> wrote:

[2018-08-11 15:33] #55473 closed

[2018-08-11 15:38] tianshapjq commented on #67226
@liggitt thanks for your feedback! would event be useless if it's not reliable? I tested in V1.6.9 and the events of created container and started container would come up definitely. Any changes happened to the event architecture?

[2018-08-11 15:39] rosskukulinski commented on #67268
+1 as well.  As an example, we have a CRD for matching Ingress paths.

[code]

It would be great to be able to output the `match` field for all routes.  Currently the simple JSONPath `.spec.routes[*].match` will only output the first field (as @nikhita mentioned).

[2018-08-11 16:57] janwendt opened #67304 "kubectl not able to pull the image from private repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubectl not able to pull the image from private repository.

**What you expected to happen**:
kubectl pulls the image from my private repository .

**How to reproduce it (as minimally and precisely as possible)**:
Create a secret:
`kubectl create secret docker-registry my-secret --docker-server=192.168.99.100:5000 --docke

[2018-08-11 17:13] vikramkhatri opened #67305 "Short name for describe"
Feature request:

Can you please provide short name for `describe` as `desc`? This will save 4 less letters to type in many `kubectl` commands?

I already use alias `k` for `kubectl`, `kc` for `kubectl -n kube-system` and `ki` for `kubectl -n istio-system`. For people like me who type with 2 fingers, short names are very helpful.

Thank you.

[2018-08-11 17:34] nikhita commented on #67305
/sig cli
/kind feature

[2018-08-11 19:08] tsahoo commented on #60066
Same case here
After helm delete <helmchart name> --purge
Even I ran kubectl  delete pod <podname> --timeout=0s -n <namespace>

Its showing pod got deleted but when I do kubectl get pods -n <namespace>,the same pod is recreating.

[2018-08-11 19:31] coffeepac commented on #63447
Gotcha.  I normally let the issues decay and if no one comes back to comment with more info just let it go.  Oftentimes the issue is resolved but the original poster doesn't come back to close the issue.  Which is fine, that's what the bot is for.

This is against 1.9 which is going out of support this quarter so I'm pretty inclined to let it turn to dust.

[2018-08-11 21:39] #61133 closed

[2018-08-12 00:42] #60970 closed

[2018-08-12 03:04] andyzhangx commented on #67147
/assign

[2018-08-12 04:36] patsevanton opened #67309 "Please add / create an official image of docker, which will contain Kubernetes kubectl client."
Hello!
Please add / create an official image of docker, which will contain Kubernetes kubectl client.
Thanks!

[2018-08-12 05:31] darshanime commented on #67309
Not sure if this considered official official: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kubectl

[2018-08-12 05:47] #61174 closed

[2018-08-12 06:55] ChaitanyaVSH opened #67310 "CGROUPS_MEMORY:missing"
sudo kubeadm join 192.168.1**.***:6443 --token xxxxxxxxxxxxxxx --discovery-token-ca-cert-hash sha256:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
[preflight] running pre-flight checks
        [WARNING RequiredIPVSKernelModulesAvailable]: the IPVS proxier will not be used, because the following required kernel modules are not loaded: [ip_vs_wrr ip_vs_sh ip_vs ip_vs_rr] or no builtin kernel

[2018-08-12 07:06] islinwb commented on #67292
Does the command `ipset create` work?

[2018-08-12 07:48] merdincz commented on #67278
/sig network

[2018-08-12 09:38] justaugustus commented on #63750
Hey guys, can you take a look at this when you have a chance?
/assign @brancz @piosz
/help

[2018-08-12 10:31] martymcmahon opened #67312 "stuck terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-08-12 10:32] #67312 closed

[2018-08-12 10:32] verwilst commented on #67292
k8s-acc-api01 core # ipset create foo hash:ip comment
k8s-acc-api01 core # ipset list -n
KUBE-LOAD-BALANCER-LOCAL
KUBE-LOAD-BALANCER-SOURCE-IP
KUBE-LOAD-BALANCER-SOURCE-CIDR
KUBE-NODE-PORT-LOCAL-TCP
KUBE-LOAD-BALANCER
KUBE-LOAD-BALANCER-FW
KUBE-EXTERNAL-IP
KUBE-NODE-PORT-TCP
KUBE-NODE-PORT-UDP
KUBE-NODE-PORT-LOCAL-UDP
KUBE-LOOP-BACK
KUBE-CLUSTER-IP
foo
cali40all-ipam-pools
cali40masq-ipam-pools
ca

[2018-08-12 11:31] sakarikl commented on #63570
/remove-lifecycle stale

[2018-08-12 12:08] kdomanski commented on #6461
@thockin Consider resurrecting this issue.

[2018-08-12 12:24] goodhoko opened #67313 "Read Only persistentVolume mounts gcePersistentDisk in Read/Write mode"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug
 /kind bug

**What happened**:
I created a gcePersistentDisk to back a persistentVolume with following manifest:
[code]
Which is used in persistentVolumeClaim like so:
[code]
Which is used in 2 pods in a deployment. These pods each run on different node. Each of these nodes are in a same zone as the gcePD. This should not be a problem because [gceP

[2018-08-12 13:55] #58413 closed

[2018-08-12 14:03] goodhoko commented on #67313
/sig gcp

[2018-08-12 14:36] patricklecuyer commented on #67191
If noone is on this, I'd like to tackle this as a first contribution.  I'd model it after #41695, which implements the same for AWS.

[2018-08-12 14:44] nikhita commented on #63656
/remove-kind feature
/kind tech-debt

[2018-08-12 14:45] nikhita commented on #63656
/kind technical-debt

[2018-08-12 15:41] dlisin commented on #67191
@patricklecuyer thanks you!

[2018-08-12 15:53] m1kola opened #67314 "Regression in kubectl logs: the --all-containers=true option doesn't work in master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `--all-containers=true` option was added in #45275. It allows to get logs from pods/deployments with multiple containers.

It doesn't seem to work in the `master` branch (I tested on 62745905188c6b5e0d3ae4f1cc1d20ca58d27a87).

So the following commands:
[code]

shows an errors like this:

[code]

**What you expected

[2018-08-12 15:57] #56278 closed

[2018-08-12 15:57] patsevanton commented on #67309
@kubernetes/sig-apps-feature-requests
/sig apps

[2018-08-12 16:58] #61226 closed

[2018-08-12 17:00] bronger commented on #24225
Has this been reverted again?  I cannot use “pod/podname” for `kubectl exec` v1.11:
[code]

[2018-08-12 17:56] m1kola commented on #67314
I think, I found the reason of this issue. Regression was introduced in #66398

I'll fix it and add some extra tests.

[2018-08-12 18:00] smarterclayton commented on #66981
I'm ok with this.

[2018-08-12 18:01] neolit123 commented on #66637
thanks for the update.

/close

[2018-08-12 18:01] #66637 closed

[2018-08-12 18:31] neolit123 commented on #67310
/sig node

@ChaitanyaVSH
please close this issue if this solution fixes it for you:
https://github.com/kubernetes/kubernetes/issues/54914#issuecomment-341029478

[2018-08-12 18:34] neolit123 commented on #67303
dup of this:
https://github.com/kubernetes/kubernetes/pull/66219

PR is WIP:
https://github.com/kubernetes/kubernetes/pull/66798

/sig cluster-lifecycle
/close

[2018-08-12 18:34] #67303 closed

[2018-08-12 18:34] neolit123 commented on #67304
/sig cli

[2018-08-12 18:35] matthewkenigsberg commented on #47668
I'd like to work on this. Should there be a size limit placed on objects as a whole, or should there just be a different error displayed to the user when etcd or gRPC returns an error?

[2018-08-12 18:37] neolit123 commented on #67295
/cc @kubernetes/sig-scalability-test-failures

[2018-08-12 18:59] smarterclayton commented on #67204
We shouldn't have to read pod status from the apiserver in order to get the pod ip - the kubelet should have all of that information locally.  It looks like at some point in 1.11 we stopped consulting the local cache for that info and started hitting the remote.

[2018-08-12 19:00] smarterclayton commented on #67204
All pods, not just static pods, should be able to pass liveness even if the apiserver is down.

[2018-08-12 20:12] janwendt commented on #67304
Forgot to start minikube with:
`minikube start --vm-driver=virtualbox --insecure-registry="192.168.99.100:5000"`

[2018-08-12 20:12] #67304 closed

[2018-08-12 20:47] m1kola commented on #52218
I would like to work on this. I'll try to implement combination of `-l` and `-f`. I'll, probably, have a look at `-c` separately to keep PRs simple. As a first step, we will need to fix #67314 (I already submitted a PR for this).

I'm new to the project and I'm working on it in my spare time, so It might take a while for me to fix it. Please, bear with me :)

[2018-08-12 22:03] #61051 closed

[2018-08-13 00:44] yktsubo commented on #65933
Faced the same issue.
Deleting node and restarting kubelet on the node updated spec.providerID in my case.
Note: Mine causes service outage due to removing node.

[2018-08-13 01:37] islinwb commented on #67292
@verwilst
The errors were throwed at https://github.com/kubernetes/kubernetes/blob/v1.11.2/pkg/util/ipset/ipset.go#L307.
The exact commands should be (or you can print the `args`)
[code]
Maybe try these manually?

[2018-08-13 01:38] xiangweilee commented on #66654
Facing the same issue.

[2018-08-13 01:55] jiuchongxiao commented on #67249
@liggitt  the apiserver using etcd3

[2018-08-13 02:06] Lion-Wei commented on #65459
Then I think https://github.com/kubernetes/kubernetes/pull/65803 can solve this problem. @fasaxc

[2018-08-13 02:07] #15050 closed

[2018-08-13 02:07] #22569 closed

[2018-08-13 02:07] #27547 closed

[2018-08-13 02:07] #20265 closed

[2018-08-13 02:27] cjbottaro commented on #9995
I have a web server with a static ip address, which is whitelisted by our clients. Because of this, I don't think I can use an ingress resource because I'm running in AWS and they spin up ELB/ALB's with random and changing ip addresses.

So what I'm doing is using taints and labels to make my web server pod land on the node with the static ip address, but I can't get it to listen on the _node's_ p

[2018-08-13 02:44] andyzhangx commented on #67261
Did not repro on AKS 1.10.6:
[code]

[2018-08-13 03:01] cainzhong opened #67321 "Old ReplicaSet and Old pods are still alive with New ReplicaSet and New pods when using command 'kubectl replace -f [yaml file]'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Old ReplicaSet and Old pods are still alive with New ReplicaSet and New pods when using command 'kubectl replace -f [yaml file]'

**What you expected to happen**:
The old ReplicaSet should be scale down to 0 and the old pods will be deleted.

**How to reproduce it (as minimally and precisely as possible)**:
The difference bewteen th

[2018-08-13 03:08] #27618 closed

[2018-08-13 03:08] #17905 closed

[2018-08-13 03:08] #21425 closed

[2018-08-13 03:35] thockin commented on #9995
use a pod.spec.containers[].ports[].hostPort.  no need for a service in
that case.

On Sun, Aug 12, 2018, 7:28 PM Christopher J. Bottaro <
notifications@github.com> wrote:

[2018-08-13 04:08] chenyb4 opened #67322 "kubeadm init --dry-run Attached object display format error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
execute "kubeadm init --kubernetes-version=v1.11.2 --apiserver-advertise-address 192.168.8.64 --pod-network-cidr=10.244.0.0/16 --dry-run" display error.

[dryrun] Resource name: "coredns"
[dryrun] Would perform action CREATE on resource "configmaps" in API group "core/v1"
[dryrun] Attached object:
	apiVersion: v1
	data:
	  Corefile:

[2018-08-13 04:09] #10781 closed

[2018-08-13 04:09] #19113 closed

[2018-08-13 04:09] #19570 closed

[2018-08-13 04:09] #23739 closed

[2018-08-13 04:09] #22725 closed

[2018-08-13 04:09] #16456 closed

[2018-08-13 04:47] cjbottaro commented on #9995
@thockin That didn't work until I installed this:
https://github.com/aws/amazon-vpc-cni-k8s/pull/153

Apparently `hostPort` didn't work in CNI's until recently and amazon-vpc-cni was (is) lagging behind on that functionality.

[2018-08-13 04:57] cjbottaro commented on #66992
I launched a 1.11.1 cluster with kops and everything seems to work fine. Thanks.

[2018-08-13 04:57] #66992 closed

[2018-08-13 05:10] #15077 closed

[2018-08-13 05:10] #23338 closed

[2018-08-13 05:10] #7528 closed

[2018-08-13 05:10] #14017 closed

[2018-08-13 05:10] #12165 closed

[2018-08-13 05:10] #29298 closed

[2018-08-13 05:10] #27363 closed

[2018-08-13 05:10] #28586 closed

[2018-08-13 05:10] #32735 closed

[2018-08-13 05:30] chenyb4 commented on #67322
/close

[2018-08-13 05:30] #67322 closed

[2018-08-13 05:40] avielb commented on #67138
Anyone?

[2018-08-13 05:54] k82cn commented on #67225
xref https://github.com/kubernetes/kubernetes/pull/58869

[2018-08-13 06:11] #25961 closed

[2018-08-13 06:11] #26309 closed

[2018-08-13 06:11] #59980 closed

[2018-08-13 06:39] AishSundar commented on #62131
/remove lifecycle stale

[2018-08-13 06:48] marcel-dempers opened #67324 "Generate CertificateSigningRequest with expiry value for use in kubeconfig generation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
My high level goal is to generate a kubeconfig that will expire (Without having access to the API CA cert).
I am trying to create a certificate signing request with an expiry value (hours or days). When I do this via documentation steps, i am able to generate one and then build a kubeconfig out of it, which is great.
However, the ce

[2018-08-13 06:50] #63127 closed

[2018-08-13 06:57] linyouchong commented on #67225
@k82cn Thanks!
#58869 is not work here! Because:
1. The DaemonSetsController didn't watch the changes.(we use `curl` to updateNode.)
2. If we restart kubelet, The DaemonSetsController watch the changes, but it seems that the  node info is not updated, and still failed to create pod: `Node didn't have enough resource: example.com/foo`

[2018-08-13 06:57] marcel-dempers commented on #67324
/help-wanted
/sig auth

[2018-08-13 07:09] marcel-dempers commented on #67324
/help

[2018-08-13 07:12] #61229 closed

[2018-08-13 07:12] #60573 closed

[2018-08-13 07:12] #61249 closed

[2018-08-13 07:28] #65459 closed

[2018-08-13 07:44] hmenn commented on #67014
Hi @andyzhangx , I uploaded latest logs to drive because of huge size.

https://drive.google.com/file/d/1q7oXAKGn5gs6mmLFyKquZEhS525-w_ms/view?usp=sharing

[2018-08-13 07:59] talhairfanbentley opened #67326 "Kuberentes Pod Vanished"
/kind bug
@kubernetes/sig-azure
@kubernetes/sig-cluster-lifecycle-bugs

**What happened**:
So, I ran some jobs `(single replica, no restart)`. Technically if I have 10 jobs on cluster, I should've `10 pods (running, completed, failed, pending)` or in any other state. 2 days Ago I had `900 jobs` and obviously `900 pods`. Today when I ran the command, `kubectl get pods -a` I only see `400 pods` but

[2018-08-13 08:02] #67326 closed

[2018-08-13 08:03] talhairfanbentley opened #67327 "Kuberentes Pod Vanished"
/kind bug
@kubernetes/sig-azure
@kubernetes/sig-cluster-lifecycle-bugs

**What happened**:
So, I ran some jobs `(single replica, no restart)`. Technically if I have 10 jobs on cluster, I should've `10 pods (running, completed, failed, pending)` or in any other state. 2 days Ago I had `900 jobs` and obviously `900 pods`. Today when I ran the command, `kubectl get pods -a` I only see `400 pods` but

[2018-08-13 08:11] goodhoko commented on #67313
/kind bug

[2018-08-13 08:13] #61257 closed

[2018-08-13 08:21] chenqiangzhishen opened #67329 "error: unable to upgrade: missing upgrade headers in request:"
**What happened**:

I 'm in the progress of upgrading kubernetes from v1.9.3 to v1.11.1 in the current k8s cluster.

all k8s master components and kube-proxy run in docker container, kubelet runs in binary mode with systemd.

## upgrad steps:
- upgrade master  one by one with their components
- upgrade nodes one by one with their components
- etcd nodes keep unchanged

after upgrading k8s cluster

[2018-08-13 08:27] chenqiangzhishen commented on #67329
@kubernetes/sig-apiserver-bugs

[2018-08-13 08:28] chenqiangzhishen commented on #67329
/sig apiserver
/sig bugs

[2018-08-13 08:39] jansmets commented on #30558
There is Hyperkube
https://console.cloud.google.com/gcr/images/google-containers (search for hyperkube on top)

The only thing I'm personally missing is kubeadm so that this can be used to easily bootstrap a master node.

[2018-08-13 08:40] jansmets commented on #67309
There is Hyperkube
https://console.cloud.google.com/gcr/images/google-containers (search for hyperkube on top)

The only thing I'm personally missing is kubeadm so that this can be used to easily bootstrap a master node.

[2018-08-13 08:55] warmchang commented on #67249
What is the hardware configuration of the environment?

[2018-08-13 08:59] jiuchongxiao commented on #67249
@warmchang
[code]

[2018-08-13 09:00] theobolo commented on #67261
@andyzhangx You need to wait more than 30min, on your logs i see your deployment up just since 23seconds, that's not how to bug is happening, it's restarting after a while 15 or 30minutes.

I upgraded my cluster to the last AKS available version : v1.11.1 and it's the same problem...

[code]

My deployment is 44m old and the last init-container image pull is about 8m old ... restarted 2 times sinc

[2018-08-13 09:17] nikhita commented on #67324
/kind feature

@marcel-dempers Thanks for creating the issue! There are a set of [guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/help-wanted.md) that need to be satisfied for an issue to be labelled as help-wanted.

I'll remove the label for now. Please feel free to add it back when there are detailed instructions on how to proceed with this feature. :)

/remove

[2018-08-13 09:18] wouterhund commented on #62112
/remove-lifecycle stale

[2018-08-13 09:28] brancz commented on #63750
Sorry for not seeing this earlier, yes we should absolutely do the change you proposed. As we would already make semantic changes to the metric we should also make sure the result adheres to the [instrumentation guideline](https://github.com/kubernetes/community/blob/master/contributors/devel/instrumentation.md) (as it currently does not). This would mean making the unit seconds and reflecting tha

[2018-08-13 09:51] discordianfish commented on #55397
I'm tired of this.

[2018-08-13 09:51] #55397 closed

[2018-08-13 09:55] discordianfish commented on #57726
@prestonvanloon It makes it available as env variable *and* available for templating. Just try setting HOSTNAME via the downward api and you should be able to refer to it in your args like you do, e.g:

[code]

[2018-08-13 09:56] discordianfish commented on #57726
Can this be closed?

If anything this is a documentation issue. I see how it's confusing that these arg variable references look like environment variables although they are not.

[2018-08-13 09:59] cristifalcas commented on #57726
This is not true for provider aws. In this case it will put the internal aws name of the instance, not the hostname

[2018-08-13 10:30] k82cn commented on #67300
should be fixed by https://github.com/kubernetes/kubernetes/pull/63471

[2018-08-13 10:31] discordianfish commented on #57726
@cristifalcas It will pull in the kubernetes node name. Is there a reason for having a different name there than your hostname? Not sure what exact setup you run on AWS, but I'd argue the node name should ideally be the same as the hostname.

[2018-08-13 10:42] cristifalcas commented on #57726
It's a bug in k8s: https://github.com/kubernetes/kubernetes/issues/54482

[2018-08-13 10:55] sta-szek commented on #39170
Hi, any news here?
[code]
does not work:
[code]

[2018-08-13 11:31] shyamjvs commented on #41504
@yujuhong We may be able to give this some free cycles. It'd be useful to have an estimate on how much work this is. Also do you think it'd be easier/faster if someone from sig-node is involved in this?

[2018-08-13 12:00] linyouchong commented on #67225
@k82cn
I found it is a bug here, `updateNode` ignore the `Node.Status.Allocatable` changes.
I made a fix , PTAL! Thanks!
https://github.com/kubernetes/kubernetes/pull/67337

[2018-08-13 12:13] mohammedzee1000 commented on #66772
Tests have green for some time, closing issue
/close

[2018-08-13 12:13] #66772 closed

[2018-08-13 12:20] mohammedzee1000 commented on #66769
Tests green, closing
/close

[2018-08-13 12:20] #66769 closed

[2018-08-13 12:25] muratsplat commented on #62594
+1

[2018-08-13 12:25] rootfs commented on #67269
thanks @mkimuram
yes, a quick fix is welcome, looking forward

[2018-08-13 12:25] mohammedzee1000 commented on #66544
Tests in this are green, closing
/close

[2018-08-13 12:25] #66544 closed

[2018-08-13 12:26] prestonvanloon commented on #57726
@discordianfish Please look at my original example, I need the pod's name, not the node's name.

[2018-08-13 12:27] mohammedzee1000 commented on #66776
/reopen
These tests are still not green, what is the eta?

[2018-08-13 12:46] shyamjvs commented on #66337
To update, @mborsz ran some manual tests last week trying to reproducing this and test failures weren't seen happening (both against head and commit from unhealthy period). The issue indeed doesn't seem related to k8s. Also, the CI job has had 4 continuous green runs now.

Maciek - Is there sth else you'd want to add and/or any pending actions under this issue? Thanks.

[2018-08-13 12:46] mohammedzee1000 opened #67338 "Failing Test: Master Blocking [sig-apps] Network Partition [Disruptive]"
# Failing Jobs

[sig-release-master-blocking#gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)

# Failing Tests

[[sig-apps] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should recreate pods scheduled on the unreachable node AND allow scheduling of pods on a node after it rejoins the cluster](https://k8s-gubernator.appspot.com/bu

[2018-08-13 12:47] mohammedzee1000 commented on #67338
/milestone v1.12

[2018-08-13 12:52] mborsz commented on #66337
Yes, there is a bug in containerd and docker causing the problems.
It's unclear to us why it started triggering so often at some point and then it stopped appearing without our action -- I wasn't able to reproduce this by manually running 5k scalability nodes in multiple k8s versions.

I think it's ok to close this bug for now. The effort of fixing underlying bug in docker used by cos image is tra

[2018-08-13 13:06] guineveresaenger commented on #64315
@yujuhong was this issue closed intentionally? #67285 is a partial fix but automation may not have picked up on the partialness.

Please confirm :)

[2018-08-13 13:13] galexrt commented on #66568
I'm a colleague of @sfudeus. An observation I made is that I was initially unable to reproduce the issue (when I deleted the pods once) but when I "spammed" the delete command (`k delete pod -n metallb-system -l component=speaker`) like 5 times directly after each other, the Pods began, as described in this issue, to not recover (stayed in `Pending`).
Though I'm not sure if the "spamming" of the c

[2018-08-13 13:16] guineveresaenger commented on #65392
@saad-ali can we have an update whether someone is working on this issue?

[2018-08-13 13:27] mohammedzee1000 opened #67339 "Failing Tests: Master Blocking [sig-scheduling] LimitRange should create a LimitRange"
# Failing Jobs

[sig-release-master-blocking#gci-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce)

# Failing Tests

[[sig-scheduling] LimitRange should create a LimitRange with defaults and ensure pod has those defaults applied.](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/150)

# Triage Results

[[sig-schedulin

[2018-08-13 13:32] fabiand opened #67340 "device pugins should allow to set path uid"
/kind bug

**What happened**:
Using a dp to bring a path into a container

**What you expected to happen**:
That I can controll what UID (user id) the ptah has inside the container

**How to reproduce it (as minimally and precisely as possible)**:
Take a path and bring it into a container using a dp

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)

[2018-08-13 13:32] fabiand commented on #67340
related to https://github.com/kubevirt/kubevirt/pull/1404

[2018-08-13 13:38] relvan1 commented on #33483
Hi.. Is it possible to access the services which is in other cluster(central region) from my cluster(west region) using the ILB?

Both cluster falls under the same project but different region.

[2018-08-13 14:00] redbaron commented on #61248
There is https://github.com/kubernetes/kubernetes/pull/61549 which claims this issue was fixed

[2018-08-13 14:00] redbaron commented on #61248
/remove-lifecycle rotten

[2018-08-13 14:04] ravisantoshgudimetla commented on #66673
Great job. Thanks Vikas :).

[2018-08-13 14:28] ravisantoshgudimetla commented on #66831
@Huang-Wei Can we close this issue? AFAIK, in kubeadm scheduler comes as static pod, so this should work after your fix https://github.com/kubernetes/kubernetes/pull/66953

[2018-08-13 14:41] kiall commented on #22650
I spent some time trying this out. Hijacking other workloads was trivial. Create a external IP service for the right port, restart kube-proxy once, and I had the traffic.

I don't know if this was a lucky coincidence or repeatable. I.e. I don't know if kube-proxy is binding external IP services before NodePort services, or if I just "won" with a race condition.

For host services, like SSH, I mana

[2018-08-13 14:46] discordianfish commented on #50632
I just ran into this issue too and I agree that this isn't well documented. I can see how one would assume that k8s enforces the memory limit and communicates this via the api/events/metrics.

The real problem IMO though is a lack of visibility when this happens. You can get this from the kernel log and more recent kernels expose that in vmstat (which is surfaced by the node-exporter as node_vmsta

[2018-08-13 14:49] redbaron commented on #60987
those who affected, do you see anything interesting when you run with  `--v=5` ?

[2018-08-13 15:02] DirectXMan12 commented on #67221
validating webhooks should be compatible -- it shouldn't cause issues unless it changing the response.  Can you provide the webhook that's causing the issue?

[2018-08-13 15:11] DirectXMan12 commented on #63365
probably not -- I don't think there's anything we can use as a merge key.

[2018-08-13 15:37] liggitt commented on #67329
`"Connection":[]string{"close", "Upgrade", "close"}` is an odd connection header... are you running through a proxy?

[2018-08-13 15:37] liggitt commented on #67329
/sig cli
/sig api-machinery

[2018-08-13 15:38] liggitt commented on #67324
lifetime of the signed certificate is controlled by the signer, not the requester. the requested expiry in the CSR could be used to influence the signer's expiry, but is not used today by the in-tree signer.

[2018-08-13 15:42] discordianfish commented on #57726
@prestonvanloon Then use the pod name instead? Did you read the docs? https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api

[2018-08-13 16:08] #64802 closed

[2018-08-13 16:09] mtaufen commented on #64530
@dashpole have you had time to work on this?

[2018-08-13 16:23] Jake-Smullin opened #67341 "Can't use a load balancer in front of the etcd cluster for etcd-servers."
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

**What happened**:
Trying to get the api-servers to discover my ETCD quorum that's behind an NLB. Currently for the --etcd-servers flag it expects the 3 IPs in the form of https://-ip-:2379, for my configuration. I want to use https://<nlb-dns/cname>:2379 for that flag so I can use dynamic IPs for my etcd machines since they will come up and go

[2018-08-13 16:25] Jake-Smullin commented on #67341
/sig etcd

[2018-08-13 16:29] fntlnz opened #67342 "Storage: devicePath is empty while WaitForAttach in StatefulSets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a `StatefulSet` with 4 replicas and it worked correctly.
After some time I needed to restart one of the pods and when it came back again it was stuck on this error:

[code]

When that happens I can get it working by deleting the pod again, it can happen that the error happens again after that but usually not th

[2018-08-13 16:30] fntlnz commented on #67342
/sig storage

[2018-08-13 16:34] Jake-Smullin commented on #67341
/sig API Machinery

[2018-08-13 16:35] apolegoshko commented on #52715
Hi @xinjt

I've had the same problem behind PROXY and successfully figured it out. Please let me know if you have the same environment.

[2018-08-13 16:35] Jake-Smullin commented on #67341
@kubernetes/sig-API Machinery

[2018-08-13 16:37] cottrell opened #67343 "Docs for how to ssh or access host from pods?"
It seems some people seem to think 10.0.2.2 (a virtualbox thing) will get you to the host.

Is this the official way? I would think there is some other way of mappings things. I am using docker and the brew installed kubectl etc.

Saw an old post about this that seemed to have just died.

[2018-08-13 16:37] fabiand commented on #67340
/sig wg-resource-management

[2018-08-13 16:42] jethrogb commented on #59119
/remove-lifecycle stale

[2018-08-13 16:44] mcgrof commented on #67072
Can you write an xfstest for this?

[2018-08-13 16:50] Jake-Smullin commented on #67341
/sig api-machinery

[2018-08-13 17:02] dashpole commented on #64530
I haven't worked on it.

[2018-08-13 17:02] Huang-Wei commented on #66831
@ravisantoshgudimetla yeap, let's close this. And reopen if there is any issue like daemonset was launched prior to scheduler pod.

[2018-08-13 17:02] #66831 closed

[2018-08-13 17:06] little-dude commented on #50041
Do you mind re-opening that? As far as I can tell, there's still not documentation for the kube-proxy config. The [kube-proxy command documentation still uses the cli options](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/)

[2018-08-13 17:07] devnulled commented on #49926
@Rouche `--master-size` and `--node-size`

[2018-08-13 17:08] Huang-Wei commented on #66568
@sfudeus @galexrt thanks for the feedback.

I suspect it's related with "preemption" behavior which is enabled by default in 1.11. Could you try to restart kube-scheduler with flag "--featuregates=PodPriority=false", and repeat the steps to see it happens again?

And meanwhile I will look into the code.

[2018-08-13 17:10] zeelichsheng commented on #55713
I encountered a similar issue. I experimenting with the kubernetes autoscaler. When I manually stop a node VM, the node itself goes into NotReady state. And after a while, the pod scheduled on the removed node goes to Unknown state.

At this point, Kubernetes behaves correctly by creating a new pod, and autoscaler creates a new node to schedule the new pod.

However, the removed pod gets stuck in

[2018-08-13 17:13] gnufied commented on #67342
@fntlnz When this happens, what is the status of EBS volume? Is that still attached to the node where you deleted and recreated the pod?

[2018-08-13 17:17] caesarxuchao commented on #66776
@krzyzacy plans to make the test-infra change to more forward tests to be from 1.11 to 1.12.

Also, after the test-infra change, the cherrypick #66941 needs to be merged into 1.11 branch to fix the test.

[2018-08-13 17:19] thockin opened #67344 "Patch passes on dry-run and fails for real"
Running a relatively recent build (a few weeks old, maybe a month).

[code]

Running with `--v=10` ends like this:

[code]

[2018-08-13 17:25] adampl commented on #55713
@zeelichsheng check https://github.com/kubernetes/features/issues/551 and #58635.

[2018-08-13 17:31] jpiper commented on #66568
I tried with `--feature-gates=PodPriority=false` and everything seems to be working fine now, so I think your suspicions might be correct!

[2018-08-13 17:33] Huang-Wei commented on #66568
@jpiper That's great! Before we figure out a fix, please bear with disabling that as a workaround.

[2018-08-13 17:36] misterikkit commented on #63815
This was fixed on May 14

[2018-08-13 17:36] #63815 closed

[2018-08-13 17:42] dmfenton opened #67345 "Error connecting to cluster when certificate is added to OSX keychain"
/kind bug

**What happened**:

Attempting to run `kubectl get pods` against a cluster when the certificate has been added as trusted to the OSX keychain receive the following error:

`Unable to connect to the server: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")`

**What you e

[2018-08-13 17:43] dmfenton commented on #67345
@kubernetes/sig-cli

[2018-08-13 17:46] michaelkoro commented on #60987
I ran with --v=10.
Haven't found too much info though.

[2018-08-13 17:57] kh34 commented on #67221
Even just adding a ValidatingWebhookConfiguration like the above (without deploying any actual webhook service) is enough to trigger the issue. I didn't think ValidatingWebhooks were allowed to mutate the objects that they are validating. Am I misunderstanding the behavior of  `failurePolicy: Ignore`, or should that be sufficient to reproduce the error? If not, let me know and I'll try to reproduc

[2018-08-13 17:57] spiffxp commented on #67339
Which job / failure is this for?

The failing test links [sig-release-master-blocking#gce-scale-correctness](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness&width=20) which looks like it failed a whole bunch of storage tests

[sig-release-master-blocking#gci-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce&width=5) isn't continuously fail

[2018-08-13 18:10] gnufied commented on #67072
Also - https://github.com/kubernetes/kubernetes/pull/67097

[2018-08-13 18:15] fntlnz commented on #67342
@gnufied as far as I can remember the volume is released, I remember this because I was looking at the volumes on the aws console and they were blue (not attached).

[2018-08-13 18:39] prameshj commented on #67299
@hedayat Could you describe the use-case more? If the host's /etc/resolv.conf contains cluster DNS server and some other upstream server - like 8.8.8.8, will services lookups work reliably from the host?
If the services lookup goes to the 8.8.8.8 server, it will return NXDOMAIN. If it hits the clusterDNS server, only then it would work, correct?

[2018-08-13 18:49] cblecker commented on #66849
Closing as wontfix. You can change the etcd version via environment variable if you're testing a specific version, but we don't want to allow flux in the version.
/close

[2018-08-13 18:49] #66849 closed

[2018-08-13 18:50] bamb00 commented on #10421
Is there a command to list the culprit?

[2018-08-13 18:54] PatrickLang commented on #66013
This is very odd - I have a kubeconfig that:
- Works with kubectl v1.11.1 (from Canonical native on Ubuntu 18.04)
- Works with kubectl 1.11.0 for Windows-amd64
- Returns this error with the kubectl binary from https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#v1112 run under Windows Subsystem for Linux (Ubuntu 16.04 userland)

[2018-08-13 18:57] MrHohn commented on #67299
Also ref https://linux.die.net/man/5/resolv.conf:

If the first server returns NXDOMAIN, the second server will not be tried. How do you make both cluster DNS name and non-cluster DNS name resolvable on the host?

[2018-08-13 19:03] davidz627 opened #67348 "CIDR Allocator Causing Cloud RateLimiting (Causing Storage Test Failures)"
/kind bug
/sig network

**What happened**:
Networking tight loop causing GCP Cloud rate limiting to kick in. Causing tests to fail.
Suspected call stack:
[code]

Looks like it could be the root cause of these test failures here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/150

These storage tests are hitting rate limit on the cloud api w

[2018-08-13 19:12] davidz627 commented on #67348
/assign @jingax10

[2018-08-13 19:20] DirectXMan12 commented on #67221
I can't reproduce this locally on 1.10 or master.  I've deployed your sample webhook, and nothing out of the ordinary happens.  Can you always reproduce on a fresh cluster?

@kubernetes/sig-api-machinery-bugs that error doesn't seem particularly sensible, either...

[2018-08-13 19:26] jcperezamin commented on #45419
It happens in Openshift on Baremetal nodes.

For this particular occurrence of PLEG, the issue was seen when a large number of containers were started all at once (via a runaway cronjob) on OpenShift nodes that had a large number of vCPUs configured. The nodes were hitting the 250 pods per node maximum and were becoming overloaded.

A solution can be to reduce the vCPUs assigned to OpenShift node

[2018-08-13 19:30] DirectXMan12 commented on #67221
ok, looks like something is submitting an actual deployment to the scale endpoint (get the same error if I try to do that manually), need to see if I can figure out what, though...

[2018-08-13 19:31] gnufied commented on #67342
FWIW - devicePath being empty for iSCSI is expected. iSCSI does not perform "real" attach/detach, so naturally there is no `devicePath` - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/attacher.go#L58

We need to see corresponding entry for EBS when that happens. iSCSI could be a red herring.

[2018-08-13 19:39] sfudeus commented on #66568
Deleted my pods multiple times now, have always been rescheduled when using PodPriority=false on kube-scheduler.

[2018-08-13 20:01] liggitt commented on #67344
The "not patched" text is printed if the resulting object is the same as the initial object.

Since your patch had a typo (`metatdata` != `metadata`), the patch didn't affect any fields in the object, and the resulting object was the same as the starting object.

There are a couple things there:
* saying "not patched" when a patch was submitted/accepted is misleading when it really means "the patc

[2018-08-13 20:14] pauldutheil commented on #65575
Got the same error with clusters running on 1.8.6

For macOs users, brew switch will only worked if you already have 1.10 installed before, if not, you can get it right from the commit

[code]

[code]

then, switch to 1.10.2
`brew switch kubernetes-cli 1.10.2`

[2018-08-13 20:25] #18504 closed

[2018-08-13 20:25] #2114 closed

[2018-08-13 20:25] #61125 closed

[2018-08-13 20:27] lenhattan86 commented on #44540
I got the same issue with Kubernetes 1.11 & latest Heapster.

$kubectl top pod --namespace=kube-system
W0813 13:48:08.426536   27831 top_pod.go:263] Metrics not available for pod kube-system/calico-node-8d5d4, age: 38m1.426522624s
error: Metrics not available for pod kube-system/calico-node-8d5d4, age: 38m1.426522624s

[2018-08-13 20:33] liggitt commented on #67344
yeah... in dry-run "patched" means "a patch was (would have been) submitted to the server". in non-dry-run "patched" means "a patch was submitted to the server and changed the object"

[2018-08-13 20:43] mkimuram commented on #67269
@rootfs

Thank you for your comment. I will continue with the workaround.

@dims

I saw a commit for deleting multi arch consideration. https://github.com/kubernetes/kubernetes/commit/789800d298d4723a295cb507cb603b7d091b5de2
I rebased the patch to the commit and made a PR. https://github.com/kubernetes/kubernetes/pull/67351
Please review it.

[2018-08-13 20:54] hedayat commented on #67299
If cluster DNS server comes before a real DNS server, it works fine.
Also note that what resolv.conf man page says is the glibc (or libc) behavior, not other users (e.g. dnsmasq sends its queries to any one of them, but can be configured to query them in strict order (`--strict-order` flag), or to query all of them (`--all--servers`).

Anyway, consider when cluster DNS server comes before the real

[2018-08-13 20:57] mikebrow commented on #58102
/reopen

[2018-08-13 20:57] mikebrow commented on #58102
/remove-lifecycle rotten

[2018-08-13 21:02] PKJedi commented on #60099
Ran into this as well, and debugging took a while.

In my case:

https://github.com/rabbitmq/rabbitmq-server/blob/master/scripts/rabbitmq-env#L195

If I have something named node with an exposed port, the NODE_PORT env variable gets set for any rabbitmq container, causing it to CrashLoopBackOff

[2018-08-13 21:13] jiayingz commented on #63630
/remove-lifecycle stale

[2018-08-13 21:26] #39421 closed

[2018-08-13 21:26] #21648 closed

[2018-08-13 21:26] #1443 closed

[2018-08-13 21:26] #12732 closed

[2018-08-13 21:39] MrHohn commented on #67299
@hedayat Thanks for the explanation. I believe it might work with explicit configuration. Though adding a flag to upstream for fulfilling a not quite common use case seems a bit odd to me.

Have you thought of configuring upstream DNS servers via kube-dns config [1] such that it will not send request to itself at all?

[1] - https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameserver

[2018-08-13 21:54] fntlnz commented on #67342
Oh you’re right @gnufied I’m trying to find a way to reproduce this reliably, will keep this issue posted.

[2018-08-13 21:58] tallclair commented on #61932
The buffer is still async, but calling the delagate backend can be synchronous for the buffer worker. More specifically, this is the old behavior, with each line being a separate go-routine

1. request handler: queue audit event in buffer
2. buffer worker: unqueue audit events, batch them, pass batch to delegate go-routine
3. delegate go-routine: process batched events

This makes sense for the we

[2018-08-13 21:58] neolit123 commented on #67340
/sig node

[2018-08-13 22:02] neolit123 commented on #67321
/sig api-machinery

[2018-08-13 22:17] tallclair commented on #25521
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2018-08-13 22:17] tallclair commented on #6461
xref: https://github.com/kubernetes/kubernetes/issues/25521

[2018-08-13 23:27] mikedanese commented on #63726
Since we want these to be global, can we consider a dedicated type in the certificates.k8s.io API Group? Strawman:

In certificates.k8s.io:
[code]

Then create a VolumeProjection:
[code]

To construct the volume, kubelet PEM encodes all certificates in all referenced certificate bundles and coalesces them into a single file at `Path`. I could see a GKE cluster wanting a bundles for:
* The cluster

[2018-08-13 23:28] theRealWardo commented on #45419
I believe I have a similar issue. my pods hang pending termination and there are reports of an unhealthy PLEG in the logs. in my situation though, it doesn't ever come back healthy until I manually kill the kubelet process. a simple `sudo systemctl restart kubelet` has been resolving the issue but I have to do it for about 1/4 of our machines every time we do a rollout. its not great.

I can't tel

[2018-08-13 23:29] bowei commented on #67348
/assign

[2018-08-13 23:36] lachie83 commented on #67324
Is there a way to configure the signer's expiry when using the Kubernetes CA?

[2018-08-13 23:44] pdeva opened #67355 "usage of AVX instructions by a container can affect other on the same host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Usage of AVX instructions could kill performance of other containers, since those affect the entire processor for intel processors.

Relevant tweets:
https://twitter.com/kellabyte/status/1028883520293203968
https://twitter.com/var_tec/status/1029139635706818560

**What you expected to happen**:
Other containers shouldnt b

[2018-08-13 23:47] pdeva commented on #67355
@kubernetes/sig-node-bugs

[2018-08-14 00:39] yujuhong commented on #64315
Yep. It only looked for the keywork "fixes" :-\

[2018-08-14 01:09] yujuhong commented on #64315
The second PR #67357 should actually fix this issue.

[2018-08-14 01:33] warmchang commented on #45419
@jcperezamin , In 3.10 and later versions, there is no default value (Number of pods per core). The maximum supported value is the number of pods per node.

[2018-08-14 02:31] Lion-Wei commented on #67202
Hi, I'm pretty sure `externalTrafficPolicy: Local` is working for both ipvs and iptables proxy mode. The logic of this feature should be:
- In cluster access clusterIP: Just like the ordinary service.
- In cluster access externalIP(NodeIP or LB IP): Should be access like clusterIP(iptables proxy mode might have an issue)
- Outside of the cluster access externalIP: If node don't have backend, then

[2018-08-14 02:46] neolit123 commented on #67327
hard to say. the report needs more details and log files.

/sig azure

[2018-08-14 02:50] Lion-Wei commented on #67183
I  think this not likely to be kubelet issue, the only thing kubelet do is pass runtime config to cni plugin.

[2018-08-14 02:58] dixudx commented on #64530
@dashpole I can pick it up if you are not available.

[2018-08-14 03:03] Lion-Wei commented on #64725
I think I can help if needed.
/assign

[2018-08-14 03:04] neolit123 commented on #67143
/remove-sig architecture
/remove-sig cluster-ops
/remove-sig cluster-lifecycle
/remove-sig apps
/sig aws
/sig storage

the env variables apply to containers (in `Pod`s) not to volumes.
https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/

[2018-08-14 03:07] Itfly commented on #60374
The below init code works to me:
[code]

[2018-08-14 03:15] andrewsykim commented on #65387
I believe I'm running into this problem and I think adding
[code]
as Tim mentioned would fix it. @Lion-Wei are you working on this? If not I don't mind taking a stab at it :)

[2018-08-14 03:32] Lion-Wei commented on #65387
@andrewsykim Thanks, Sorry I kinda forgot this thing.
I was fixed this thing just like you saied
https://github.com/Lion-Wei/kubernetes/blob/lb-esipp/pkg/proxy/iptables/proxier.go#L1162-L1168
But encounter some problem when testing in gce environment, which caused by route rules.
Sorry I forgot the detail, can you do some test in your environment?

[2018-08-14 05:35] jethrogb commented on #63906
/remove-lifecycle stale

[2018-08-14 06:31] hchenxa opened #67367 "apiserver crashed when priority classs already exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I start the apiserver, found apiserver crased due to the priority class already exists.
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.11.1
- Cloud provid

[2018-08-14 06:33] hchenxa commented on #67367
sig api-machinery

[2018-08-14 06:52] #66428 closed

[2018-08-14 07:39] liqlin2015 commented on #67300
The code here https://github.com/kubernetes/kubernetes/pull/63471/files#diff-43035107687eb30550696751ac1066e4R91 replies on node condition status. And we will try to match the condition status to decide whether add noschedule taint for node https://github.com/kubernetes/kubernetes/pull/63471/files#diff-43035107687eb30550696751ac1066e4R461

When I shutdown kubelet and docker service, the node did g

[2018-08-14 07:57] admssa opened #67371 "kubernetes resources reservation(cpu hard limit)"
/kind bug
I'm not sure this is a bug, but not one of the others
**What happened**:
 I  have ran kubelet with parameters:
[code]
got limit for kubepods memmory:
[code]
got soft cpu limit:
[code]
cfs quota haven't changed:
[code]
allocateble has changed:
[code]
**What you expected to happen**:
I expectetd i will get cpu hard limit for kubepods cgroup

as it works for pods, for example:
[code]
Is it

[2018-08-14 08:04] tianshapjq commented on #66804
Hi~ I'm willing to do this job. Is anyone already working on this?

[2018-08-14 08:09] admssa commented on #67371
I'm not sure this is a bug, but not one of any other
/sig bug

[2018-08-14 08:14] Lion-Wei commented on #67233
I can help for kube-proxy part. : )
/assign

[2018-08-14 08:35] tanshanshan commented on #67371
IMO, if you use

you also need config` kube-reserved` in

https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/

[2018-08-14 08:43] admssa commented on #67371
but I don't want to create some specific runtime for kube-reserved or limit it somehow.  I just want to limit kubepods.

Anyway, it hasn't changed anything. I even tried with system-reserved and system cgroup. It changes cpu.shares only.

[2018-08-14 09:01] lbrabus commented on #65575
thank you @pauldutheil this works for me now.

[2018-08-14 09:02] shyamjvs opened #67374 "5k-performance job failed due to not all VMs coming up"
Recent [run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/193) failed to up the cluster as the last MIG was waiting for all VMs to come up, but it took super long and eventually timed out after ~22 hours. I remember this happening few times in the past as well.

I think we should timeout while [waiting until stable](https://github.com/shy

[2018-08-14 09:02] shyamjvs commented on #67374
/sig cluster-lifecycle

[2018-08-14 09:09] cwdsuzhou opened #67376 "Kubenetes1.11 kubectl does not support csi in Volume ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I create a pod like this:
`apiVersion: v1
kind: Pod
metadata:
  name: web-server
spec:
  containers:
   - name: web-server
     image: nginx
     volumeMounts:
       - mountPath: /var/lib/www/html
         name: mydata
  volumes:
   - name: mydata
     csi:
       driver: "csi-xxxx"
       fsType: "ext4"
       volumeHandle: "xxxxx

[2018-08-14 09:16] shyamjvs commented on #67374
I've created https://github.com/kubernetes/kubernetes/pull/67377 - let me know if that sgty.

[2018-08-14 09:40] majstorki88 commented on #60987
I ran also with version 11 and vSphere dynamic storage provider

[2018-08-14 09:54] xxf09th commented on #48798
@waldauf thx, it works

[2018-08-14 10:06] hedayat commented on #67299
Note that the flag has two use cases, the other one is prevent kube-dns breakage when upstream DNS server is a local one (e.g. If you deploy to Ubuntu, which has local caching DNS server by default (e.g. in 18.04, it is systemd-resolved and /etc/resolv.conf contains 127.0.0.53)). Actually I guess there are a number of DNS related issues which might be solved by this flag too.

So, while this flag

[2018-08-14 10:32] shyamjvs commented on #67120
So we discussed this last week and the test framework failing on unready nodes is just a consequence of the actual bug - which is that when hollow nodes go down (for e.g due to hostError on underlying VM), they may not really come back up again because:

- the VM didn't send heartbeat for few mins
- node-controller marks hollow-node pods as deleted
- VM comes up and kubelet sees pod is deleted, an

[2018-08-14 11:04] fabiand commented on #58251
/remove-lifecycle rotten

[2018-08-14 11:36] soumypau1 opened #67382 "Too many ESTABLISHED connection between kube-api and kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Too many ESTABLISHED connection to and from port no 10250
root@mil-dev-api-001:~# netstat -an | grep EST | grep 10250 | wc -l
30705
Eventually this is bringing down kubernetes

**What you expected to happen**:
Upto a few hundred connections

**How to reproduce it (as minimally and precisely as possible)**:

Install Kubern

[2018-08-14 11:38] fvigotti commented on #67202
Sorry I'm half gone mad trying to have it working, and effectively in one mode it works but I don't see the usability of that mode, while other useful cases are not covered.. let me explain a bit ..

I'm on bare metal without access to bgp routing devices ,
IP are assigned to servers ( like when you rent a bare metal server without colocation or full racks )  , ingress pods are/can statically bind

[2018-08-14 11:38] soumypau1 commented on #67382
@ChrisPhillips-cminion FYI

[2018-08-14 11:44] xingangwang commented on #51076
@deads2k Must anonymous authentication be enabled to make the secure health checking works? But the CIS benchmark recommends to disable it.

[2018-08-14 11:53] redbaron commented on #60987
Many cloudproviders call generic util helper to unmount and delete directory, it would explain why multiple providers show same symptoms.

I assume disks are unmounted , but just a directory is missed behind, right? Directory deletion code is following: https://github.com/kubernetes/kubernetes/blob/217a3d890219abf7eb759e9b64c0403c6ee40e2c/pkg/volume/util/util.go#L183-L191

and it got  to be produc

[2018-08-14 11:53] deads2k commented on #51076
As long as you aren't using the `AlwaysAllow` authorizer, it's fine to have the anonymous-auth argument set to true.

@kubernetes/sig-auth-api-reviews @liggitt who works on the benchmark.  Looks like it needs some updating to understand the authenticator/authorizer interaction.

[2018-08-14 11:53] fvigotti commented on #67202
* update ( for other people with my problems who may follow.. ) , some network plugin now support hostPort ( only on recent versions ( now I'm testing with weave 2.4.0 ) , hostport may be another workaround  like hostNetwork ( maybe better because DNAT is performed and the pod will remain in container network ( so monitoring,and security networkpolicy works there ) ) anyway I still don't feel like

[2018-08-14 12:07] neolit123 commented on #67382
/sig network
although, it's probably better to report at help first.

[2018-08-14 12:08] neolit123 commented on #67376
/sig storage
/kind feature

[2018-08-14 12:10] neolit123 commented on #67371
/sig node

[2018-08-14 12:26] cben commented on #57459
/remove-lifecycle stale
Still happens with kubectl v1.10.3 (against openshift 3.9 & 3.10 clusters)

[2018-08-14 12:27] liggitt commented on #51076
I gave the same feedback already when the benchmark was being put together.

[2018-08-14 12:39] ipuustin commented on #67355
This has been discussed a lot in Resource Management WG. There was a proposal (actually two proposals) to implement CPU pooling to fix this. See documents

https://docs.google.com/document/d/1ZKBw6R3nM_1oTqZftCUiqjQ05LrMdW_6oe4OjBjZSRk/edit#heading=h.1ajrn5it5138

and

https://docs.google.com/document/d/1EZQJdV9OObt8rA2epZDDLDVtoIAUQrqEZHy4oku0MFk/edit#heading=h.odw27dov1mwy

The documents have be

[2018-08-14 12:47] zxpower commented on #67202
We have similar setup - bare metal boxes with directly assigned IPs in collocation - and I'm also stuck with the problem that if I expose service via `externalIP` for `clusterIP` service, I don't get client IP. Spent hours trying various recipes - no luck.

BTW - we are still using K8s 1.8.x.

[2018-08-14 12:59] stlaz opened #67387 "Remove wrong and redundant tests from podsecuritypolicy/provider_test.go"
/kind bug

**What happened**:
In `pkg/security/podsecuritypolicy/provider_test.go`, there are tests for **{Default,}AllowPrivilegeEscalation** fields, but those in `TestValidateDefaultAllowPrivilegeEscalation()` actually test the **AllowPrivilegeEscalation** as this is set in the test instead of testing its suggested **Default\*** form, thus being mostly redundant to tests in `TestValidateAllowPri

[2018-08-14 13:10] geomarsi opened #67389 "Issues with Kubernetes multi-master using kubeadm on premises"
Following Kubernetes v1.11 [documentation](https://kubernetes.io/docs/setup/independent/high-availability/), I have managed to setup Kubernetes high availability using kubeadm, stacked control plane nodes, with 3 masters running on-premises on CentOS7 VMs. But with no load-balancer available, I used Keepalived to set a failover virtual IP (10.171.4.12) for apiserver as described in Kubernetes v1.1

[2018-08-14 13:11] php-coder commented on #67387
/sig auth

[2018-08-14 13:14] jpiper commented on #66568
@Huang-Wei thanks for being patient and helping us find the issue!

[2018-08-14 13:27] geomarsi commented on #67389
kind/bug sig/api-machinery

[2018-08-14 13:32] drpaneas opened #67390 "Cannot change --cni-bin-dir=/opt/cni/bin"
**BUG REPORT**:

/kind bug

**What happened**:

I restart `kubelet.service` and no matter if I have configured the systemd service to use different path for `cni-bin-dir` it still uses the `/opt/cni/bin`. In worst case, it uses them *both* (I can see that when I do `systemctl status kubelet`.

[code]

**What you expected to happen**:

I would expect to replace the default path with the one my dist

[2018-08-14 13:37] sfudeus commented on #66568
@Huang-Wei Thanks from my side, too. Disabling it is definitely an options which buys us sufficient time.

[2018-08-14 13:42] drpaneas commented on #67390
@kubernetes/sig-cluster-lifecycle-bugs

[2018-08-14 14:02] liqlin2015 commented on #67243
Close this ticket as it requires to enable alpha feature `TaintNodeByCondition`.

[2018-08-14 14:02] #67243 closed

[2018-08-14 14:31] ocofaigh commented on #67278
Spent all day debugging this. Deployment blocker. Need a fix ASAP

[2018-08-14 14:46] pvanderlinden opened #67394 "Deleting jobs via the API leaves pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Pods are being left behind after the job is deleted, with `propagationPolicy` set to `Foreground` or `Background`

**What you expected to happen**:

The pods should be deleted according to https://github.com/kubernetes/kubernetes/issues/20902

**How to reproduce it (as minimally and precisely as possible)**:

- create a job
- run t

[2018-08-14 14:47] pvanderlinden commented on #67394
@kubernetes/sig-apps-bugs

[2018-08-14 14:48] iahmad-khan commented on #45811
Same issue

[code]

[2018-08-14 14:55] prestonvanloon commented on #57726
@discordianfish Thanks! That would work for me.

It is not as ideal as using the $HOSTNAME, but it would solve my problem.

I'll go ahead and close this as my issue has a workaround with the downward API.

[2018-08-14 14:55] #57726 closed

[2018-08-14 14:59] rajesh-kanakabandi commented on #66826
I am getting a transaction check error for the kubelet and kubectl binaries.

[code]

[2018-08-14 15:10] pcm1984 commented on #66826
Looks like you have older version of Kubernetes installed on your machine. or may be some files from your previous installation that did not get cleaned up?

[2018-08-14 15:56] liggitt commented on #67394
/sig api-machinery

[2018-08-14 16:03] fvigotti commented on #67202
tested with metallb using this config
[code]

this service
[code]

pointing to a service that have a port 8080, hostport 890 and the LB exposed port 891
here below see that the requested ip is mantained only with hostport requests.. ( port 890 )

[code]

[2018-08-14 16:18] Itfly commented on #64312
@372046933  Hi, did you fix the issue?

[2018-08-14 17:07] dashpole commented on #64530
@dixudx Sure, I am actually not sure if we rely on the broken behavior (it has been present since ~1.3), which is before my time.  Let me check with @vishh

[2018-08-14 17:13] geomarsi commented on #67389
/sig architecture
/sig contributor-experience-test-failures
/sig network
/sig testing
/wg kubeadm-adoption

[2018-08-14 17:32] ryankemper commented on #24225
^ Seconding the above. I'm getting the same 'may not  contain /' error. Naturally it's trivial to use unix commands to filter this, but this is such a basic feature and matches the way the rest of kubectl works, so it's quite a shocking omission.

[2018-08-14 17:43] mbrancato commented on #61946
This continues to be an issue in 1.11.0.

Basically, the HOMEDRIVE/HOMEPATH is a holdover from NT4 days with roaming profiles. This is not a standard env variable anymore. The existence of HOMEDRIVE / HOMEPATH should be ignored if USERPROFILE is set.

Neither HOMEDRIVE nor HOMEPATH are standard environment variables:
https://technet.microsoft.com/en-us/library/hh825266.aspx

They are not use in an

[2018-08-14 17:48] rajesh-kanakabandi commented on #66826
@pcm1984 thanks for pointing it out. that is true. an older version of kubernetes was chefed in that i was not aware of.

[2018-08-14 18:31] uablrek opened #67398 "Kubelet uses ipv4 iptables in an ipv6-only cluster"
/kind bug

**What happened**:

Kubelet uses "iptables" instead of "ip6tables" in an ipv6-only cluster. This causes failed traffic for `type: LoadBalancer` services (and probably a lot of other problems).

For instance the `KUBE-MARK-DROP` chain is created in `iptables` but is missing in `ip6tables`;

[code]

When a `loadBalancerIP` is assigned the `kube-proxy` fails;
[code]

**What you expected to

[2018-08-14 18:31] Jake-Smullin commented on #67341
Going to close this figured out my problem, it wasn't obvious from the api-server logs even with verbosity turned up to 4, but my new LB wasn't matching the cert name, so I added the need Subject Alternate Name to the cert and re deployed, and the discovery portion worked totally fine.

[2018-08-14 18:32] uablrek commented on #67398
/sig network

[2018-08-14 18:32] uablrek commented on #67398
/area ipv6

[2018-08-14 18:41] nikhita commented on #67394
/cc @mbohlool

[2018-08-14 18:51] shyamjvs commented on #58154
/remove-lifecycle stale
/lifecycle frozen

On Tue, Aug 14, 2018, 8:48 PM fejta-bot <notifications@github.com> wrote:

[2018-08-14 19:10] redbaron commented on #60987
I tried to rerpoduce it by creating/deleting following stateful with single PVC with 50 pods in it all node allocated to a single node, but no luck.

Kubelet 1.11.2 , vSphere cloud provider.

Pretty much setup was regularly  reporting orphaned with kubelet 1.10.5

[2018-08-14 19:48] #14349 closed

[2018-08-14 19:48] #61319 closed

[2018-08-14 19:56] brahmaroutu opened #67400 "Enable Flex Volume Drivers to support metrics"
kind feature

**What happened**:
Currently there is no mechanism to report metrics as the flex plugins are not enabled to collect metrics. All flex volumes lack this feature as compared to in-tree/built-in drivers even though it is possible to collect such metrics for most of the plugins.

**What you expected to happen**:
Depending on the availability of the metrics from the mounted FS, flex plugi

[2018-08-14 19:58] yujuhong commented on #41504
I don't think it'd be too much work. The main thing is to port the functionalities that are already in the fake docker client to the fake cri client.

[2018-08-14 20:36] Jake-Smullin commented on #67341
/close

[2018-08-14 20:37] #67341 closed

[2018-08-14 20:46] #64549 closed

[2018-08-14 22:14] keattang commented on #62094
I see that #59851 has been merged. Does that mean that this has been fixed? If not I'd love for this to not go stale as I currently need to have somewhat insecure RBAC policies without it

[2018-08-14 22:18] liggitt commented on #62094
Yes. Kubectl now makes use of server-side GC for deletion by default as of 1.11

[2018-08-14 22:20] liggitt commented on #62094
Fixed in 1.11

/close

[2018-08-14 22:20] #62094 closed

[2018-08-14 22:39] twistedpair commented on #61132
This is still a defect in `Google Cloud SDK 211.0.0`

[2018-08-14 22:59] consideRatio commented on #61132
The issue tracked here as well: https://issuetracker.google.com/issues/77240642

[2018-08-14 23:35] PatrickLang commented on #67147
There could be a Windows bug here, will need to dig deeper later. Named pipe redirection doesn't work on some builds of Windows when Hyper-V isolation is used. Windows 10 always uses Hyper-V isolation

[2018-08-14 23:44] nikhilk commented on #65267
Would this ability to map pods to nodes work by specifying node selector, or toleration metadata on the pod spec template within a StatefulSet? Or does that not work when using StatefulSets?

[2018-08-14 23:45] PatrickLang commented on #66588
Need a linked issue & PR in CNI repo too

[2018-08-14 23:50] yguo0905 opened #67407 "Failing test [k8s.io] PriorityLocalStorageEvictionOrdering [Slow] [Serial] [Disruptive][NodeFeature:Eviction] when we run containers that should cause DiskPressure should eventually evict all of the correct pods"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2enode-cosstable1-k8sbeta-serial/4562

[code]

Is setting the pod priority here critical to the test?

https://github.com/kubernetes/kubernetes/blob/798ca4d3ceb5b2ff12a7ae6a75b7fcc4b00f4979/test/e2e_node/eviction_test.go#L321

/cc @dashpole
/sig node

[2018-08-14 23:52] misterikkit commented on #67260
@bsalamat and I chatted about this, and we think we identified the root of the problem.

This is the same bug as https://github.com/kubernetes/kubernetes/issues/62921, and we now realize that the fix for that had holes in it. Specifically, we rely on the scheduler cache `NodeInfo` to be stale when we check whether to write data into the eCache.

For this bug, events for PV, PVC, and SC are invalid

[2018-08-14 23:53] dashpole commented on #67407
It is, important.  This is a duplicate of https://github.com/kubernetes/kubernetes/issues/66357, and is fixed by https://github.com/kubernetes/kubernetes/pull/66369

[2018-08-15 00:06] yguo0905 commented on #67407
Cool!

[2018-08-15 00:06] #67407 closed

[2018-08-15 00:34] kfox1111 commented on #22368
that triggers a rollout, but doesn't handle the issue of configmap(and secret) lifecycle. the configmaps used by deployments/daemonsets currently need to be named with a hash in them so that rollbacks or partial roll forwards and pod failures work properly. Otherwise, rolling back will use the new configmap, not the old. This isn't what the user intended. But when naming with a hash, then the life

[2018-08-15 00:55] #65552 closed

[2018-08-15 01:12] 372046933 commented on #64312
@Itfly Resolved. I remember that I changed the policy of forward chain of iptables to ACCEPT

[2018-08-15 01:31] tamalsaha commented on #62323
Done.

[2018-08-15 01:46] liggitt commented on #60582
API validation did not actually require this field be set. The field tag was corrected to show it was actually an optional field. When no CA bundle is specified, the system roots are used to secure the connection.

/close

[2018-08-15 01:46] #60582 closed

[2018-08-15 01:55] neolit123 commented on #67389
/remove-wg kubeadm-adoption

[2018-08-15 01:56] neolit123 commented on #67374
/remove-sig cluster-lifecycle
/sig gcp

[2018-08-15 01:57] neolit123 commented on #67374
/kind bug

[2018-08-15 01:59] jiaxuanzhou commented on #65267
@nikhilk Is does not work just set the nodeSelector in template of StatefulSet, as the nodeSelector is just specify the nodes not for the case of specific  pod to one node:
`pod app-0 to node0
pod app-1 to node 1
pod app-2 to node-2`

[2018-08-15 02:35] phsiao opened #67414 "apiserver crashes in mutating.callAttrMutatingHook"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

apiserver crashes, and continue to crash, with the following error message

[code]

**What you expected to happen**:

Not crash?   😉

**How to reproduce it (as minimally and precisely as possible)**:

Not sure, working on reproducing it.   It happened while I was working on a patched version of vpa-admission-controller.

[2018-08-15 02:36] phsiao commented on #67414
/sig api-machinery

[2018-08-15 02:38] feiskyer commented on #63155
@justaugustus This is working as expected.

/close

[2018-08-15 02:59] wgliang commented on #67414
@phsiao
PR #58381 had fixed the issue.

[2018-08-15 03:01] Lion-Wei commented on #67398
Thanks for reporting this problem.

[2018-08-15 03:01] wgliang commented on #67414
if response.Response == nil {
		return &webhookerrors.ErrCallingWebhook{WebhookName: h.Name, Reason: fmt.Errorf("Webhook response was absent")}
	}

[2018-08-15 03:03] phsiao commented on #67414
Is there a plan to cherrypick that to older releases?

[2018-08-15 03:13] wgliang commented on #67414
@sttts Schimanski please take a look. Do we need cherrypick it?

[2018-08-15 03:46] dangoldin opened #67420 "Accounts with list but not get permission are able to retrieve secrets"
/kind bug

**What happened**:
Came across a security issue on the dashboard that looks to be a bug on the API side. The issue is that the list permission exposes the secrets even if the get permission is not set. The details were discovered by @ewok2030 here: https://github.com/kubernetes/dashboard/issues/2798#issuecomment-379052678

**What you expected to happen**:
When a user only has the list p

[2018-08-15 03:55] wgliang commented on #67414
Yes, we should handle it.

[2018-08-15 04:04] msau42 commented on #65131
Regarding pod assume cache issue, I took a closer look at the code, and it looks like the pod does not expire while binding is in progress, so it does not seem to be an issue like I previously thought.

@wenlxie I pushed a new patch to my local branch, would you be able to help test it?  The integration stress tests are now passing.  The remaining items I have to do before it's ready for a PR are:

[2018-08-15 04:10] nikhita commented on #62323
@tamalsaha thank you!

[2018-08-15 05:09] yue9944882 commented on #67420
hi @dangoldin i suppose you should revoke `list` permission too :)

[2018-08-15 05:42] talhairfanbentley commented on #67327
I have the log files but how I'm suppose to provide you with 1000 log files?

[2018-08-15 05:43] #55159 closed

[2018-08-15 05:54] stealthybox commented on #67327
Hello @talhairfanbentley.
I'm also using large amounts of Jobs, and I have not seen Pods disappearing.

Over the last 2 days, I've had `557` Jobs and `1835` corresponding Pod objects with matching labels and that hasn't changed.

I'd recommend looking at the kube-controller-manager logs to see if the Job Controller is doing what you expect.
If you search for the jobs in question, you should be abl

[2018-08-15 05:56] stealthybox commented on #67327
Having a monitoring pipeline such as Prometheus + kube-state-metrics for monitoring Job count and Pod count might allow you to determine the time period in which the Pods were deleted from the API which could help in your log searching.

I'll be curious to see if you find anything. Cheers.

[2018-08-15 05:58] yue9944882 commented on #67367
hi @hchenxa, do you happen to have multiple apiservers start at the same time?

[2018-08-15 06:09] uablrek commented on #67398
[here](https://github.com/kubernetes/kubernetes/blob/cfb4a5e95afa2d3b79883cff816aff0f019069aa/pkg/kubelet/kubelet.go#L518) is a link to the code with the hard-coded ipv4 protocol.

[2018-08-15 06:09] hchenxa commented on #67367
yes, I have a HA environment which have 3 apiserver.

[2018-08-15 06:18] yue9944882 commented on #67367
sadly, it's the racing then. might launch your servers one-by-one to avoid it for now.

[2018-08-15 06:28] krmayankk commented on #67394
@janetkuo has a proposal that might cover this /cc @caesarxuchao

[2018-08-15 06:30] talhairfanbentley commented on #67327
btw forgot to mention, I'm using AKS.

[2018-08-15 06:33] liqlin2015 commented on #67300
cc @ceshihao

[2018-08-15 06:34] stealthybox commented on #67327
The kube-controller-manager is a core component of the kubernetes control plane.
It makes lot's of things happen with kubernetes api objects.

If you're using a managed solution like Azure's AKS, you may or may not have access to the control-plane logs.
I don't know anything about AKS.

[2018-08-15 06:36] xyalan commented on #65575
Thank you @pauldutheil

[2018-08-15 06:42] NickrenREN commented on #65552
What if the node(kubelet) is down, and pods in it will never be deleted, which means Pod volumes will never be unmounted.
I think PVC finalizer should be removed too in this condition.

[2018-08-15 06:43] kilianc commented on #37218
very much needeed

[2018-08-15 06:53] llarsson commented on #22368
Agreed. Anything other than actual support for this functionality ultimately means we have to resort to a brittle hack that fails to handle lifecycles correctly.

@jhgoodwin, the hackish approach I outlined is essentially to:

 1. Make your `DaemonSet` yaml file a template, and place a marker in it for where the hash of the `ConfigMap` will wind up (e.g. `CONFIG_HASH`) in the Spec of the actual Po

[2018-08-15 06:58] pvanderlinden commented on #67394
Does this mean the feature in the original ticket never worked? How can I clean these pods currently, and are there other objects I need to cleanup (Is there some metadata I can look for which associate the pod with the job)?

[2018-08-15 07:16] lidajia commented on #64479
@jhorwit2 Why not take the intersection both user and serviceaccount rights？

[2018-08-15 07:40] sikhlaqu commented on #67400
+1
Yes, it will be good, if flex volume can support atleast the default metrics( i.e pkg/volume/metrics_statfs.go), which most of the volume plugins support now.
         Based upon flex plugin "capabilities" parameters, it can be decided, whether the plugin supports "default metrics" or "nil metrics".

[2018-08-15 08:05] lidajia opened #67424 "psp/adminsioncontroller- take the intersection of user and serviceaccount for PodSecurityPolicy authorization"
I want to ask some questions about PodSecurityPolicy  authorization.
PodSecurityPolicy authorization uses the union of all policies available to the user creating the pod and the service account specified on the pod. When superuser was used, requests would bypass authentication and authorization modules, all PodSecurityPolicy objects would be allowed, and users would be able to create privileged c

[2018-08-15 08:14] Lion-Wei commented on #67398
@uablrek Thanks, I will send a pr to fix this issue.

[2018-08-15 08:15] Lion-Wei commented on #67398
/assign

[2018-08-15 08:16] feiskyer commented on #67327
@talhairfanbentley You can follow https://docs.microsoft.com/en-us/azure/aks/view-master-logs to view master component logs (e.g. kube-controller-manager and kube-apiserver).

[2018-08-15 08:35] stealthybox commented on #59372
On a kubeadm v1.11.0 cluster, I can confirm that my kubelets do not have IP's in the SAN's:
[code]

[2018-08-15 08:37] stealthybox commented on #59372
This requires me to set `&insecure=true` when doing webhook authentication from metrics-server and kube-prometheus.

[2018-08-15 08:58] talhairfanbentley commented on #67327
@feiskyer I've already done this, but no use. the query present on the document gives me error that specified category not found

[2018-08-15 09:00] xingangwang commented on #51076
@liggitt Could you please give me a feedback here if getting any conclusions?

[2018-08-15 09:49] zoux86 opened #67429 "How can k8s cluster use the etcd services when the two clusters in different machines."
Question:  i have a kubernetes cluster in four ubuntu machines, and have a etcd cluster in another three machines。i want the kubernetes cluster use etcd services, but it doesnot work。i google the question, but
still have wrong。 is someone knows how to get it? sorry for my poor english.

[2018-08-15 10:07] tnozicka commented on #40224
/remove-lifecycle stale
/milestone v1.12

[2018-08-15 10:17] drpaneas commented on #67390
@dixudx there is no any `/etc/default/kubelet` file in my system. Here's my `10-kubeadm.conf` that complements systemd:

[code]

I assume that `/etc/sysconfig/kubelet` is equivalent `/etc/default/kubelet` in yours system.

[code]

So, I edited it into:

[code]

Then reset kubeadm and init it again. But ...

[code]

Now look that wonderful mess:

[code]

It uses both??

[code]

This sounds to me li

[2018-08-15 10:49] dbolkensteyn commented on #18632
FYI here is the link to the StackOverflow question the OP created: https://stackoverflow.com/questions/34373472/how-to-execute-command-in-a-pod-kubernetes-using-api

[2018-08-15 11:10] nikhita commented on #65183
/cc @cblecker

[2018-08-15 11:18] hoegaarden commented on #65183
This has actually been split out into [a separate repo](https://github.com/pivotal-k8s/kubernetes-contrib-tools) which might be helpful for other k8s related repos. We'd be very happy to push that into kubernetes-sigs or somewhere else in case people find it useful.

[2018-08-15 11:40] sysrich opened #67431 "kubeadm complaints about bridge-nf-call and ip_forward if not using docker runtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After booting a clean system, running `kubeadm init` with a CRI runtime other than docker configured produces the following pair of error messages:

[code]

**What you expected to happen**:

Those two pre-flight checks to pass because they could be satisfied automatically.

Obviously, these are handled automatically by t

[2018-08-15 11:40] sysrich commented on #67431
@kubernetes/sig-cluster-lifecycle-bugs

[2018-08-15 11:48] tnozicka commented on #11505
/remove-lifecycle rotten
/lifecycle frozen
/unassign

[2018-08-15 11:51] balchua commented on #65813
I experienced this one too on kube v1.9.3. For some reason the clusterrole assigned to system:node does not include pod/status patch.  You can do a kubectl edit clusterrole system:node and then look for the resource pod/status.  Thats what i did.

[2018-08-15 12:45] #66868 closed

[2018-08-15 13:27] nikhita commented on #66450
kubectl patch has been fixed: https://github.com/kubernetes/kubernetes/pull/67385

issue for kubectl apply: https://github.com/kubernetes/kubernetes/issues/52577

[2018-08-15 13:30] nikhita commented on #65647
This has been fixed in https://github.com/kubernetes/kubernetes/pull/65979. Closing.

/close

[2018-08-15 13:30] #65647 closed

[2018-08-15 13:34] drpaneas commented on #67390
I fixed my problem using `kubeadm init --cri-socket /var/run/crio/crio.sock`

[code]

[code]

[2018-08-15 13:34] #67390 closed

[2018-08-15 13:50] liggitt commented on #51076
allowing anonymous requests access to /healthz and discovery information is a reasonable thing to do. if you want to lock it down, your load balancers would need to be able to provide credentials to access /healthz

[2018-08-15 13:50] ceshihao commented on #67300
I think #63471 is only on 1.12+.

[2018-08-15 13:56] ceshihao commented on #67300
@liqlin2015

For `Unknown` status which is described in comments.

In your case, it looks like kubernetes cannot decide whether the node is ready or not for some reason.

https://github.com/kubernetes/kubernetes/blob/c582a37cae02b4d1a850e6668ea8ea0a81dcd204/staging/src/k8s.io/api/core/v1/types.go#L2186-L2194

[2018-08-15 14:05] liggitt opened #67436 "Add ability to include intermediates in CSR-issued certificates"
Currently, if an intermediate CA is used to sign certs, the csr signing controller does not include the intermediate chain in the CSR status. This means that anything requesting a cert via the CSR API has to know the intermediates themselves (unlikely) or anything interacting with a component presenting or serving using an intermediate-issued cert must know about the intermediate issuer.

Ideally,

[2018-08-15 14:05] liggitt commented on #67436
@sdodson

[2018-08-15 14:12] liggitt commented on #67394
no, Janet's proposal is around collection of completed jobs

deletion of a job with `propagationPolicy=Foreground` is cleaning up the job's pods in my tests

[2018-08-15 14:17] msau42 commented on #65552
Hmm is there a way we can detect this condition?

[2018-08-15 14:31] liqlin2015 commented on #67300
Well as you seen from my above append, I just shut down docker and kubelet on my worker node to simulate the host was down. We should not let scheduler still schedule pod to such node.

As for node condition `ConditionUnknown`, we do triggered pod eviction. Why not mark the node as noschedulable?

By the way, in what condition the Node ready condition would be `ConditionFalse`.

[2018-08-15 14:57] chakri-nelluri commented on #67132
@nkkashyap Please test with this fix and close the issue.

[2018-08-15 14:58] LeafyLi commented on #58640
Can I try working on this?

[2018-08-15 14:58] chakri-nelluri commented on #67072
Fixed by #67097

[2018-08-15 14:59] chakri-nelluri commented on #67072
/assign @chakri-nelluri

[2018-08-15 15:03] chakri-nelluri commented on #67072
Duplicate of #66868

[2018-08-15 15:04] nikhita commented on #58640
@LeafyLi Go ahead, it's all yours! :tada:

[2018-08-15 15:04] chakri-nelluri commented on #67132
/assign @chakri-nelluri

[2018-08-15 15:06] chakri-nelluri commented on #67072
/close

[2018-08-15 15:06] #67072 closed

[2018-08-15 15:14] liggitt commented on #59372
commented on https://github.com/kubernetes-incubator/metrics-server/issues/95#issuecomment-413229820 about the three methods for kubelets to get their serving certificates.

[2018-08-15 15:26] liggitt commented on #67367
/sig scheduling
/priority important-soon

[2018-08-15 15:38] liggitt commented on #67394
It shouldn't change behavior by default. Deletion of completed jobs would likely be opt-in, and occur at a delayed interval after job completion, not instantly.

Seems likely. Do you have the network trace of what the client is doing?

[2018-08-15 16:03] g3rzi opened #67439 "Deployment resource appear as in "apps" instead of "extensions" API group"
Hi,

I think there is a wrong information in the documentation in the [Kubernetes API documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#list-deployment-v1-apps) (This is only version 1.11 that I checked).

The `deployment` resource appears under the `apps` group but when I created a Role to list deployments:
[code]

It didn't work, only when I used the `extensions

[2018-08-15 16:10] huxiaoliang commented on #64743
@tuminoid  this is a kernel bug describe [here ](https://github.com/kubernetes/kubernetes/issues/64743#issuecomment-404160205), the reproduce steps is [here](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1711407/comments/16), I have same kernel  version with yours, but I can't reproduce it in my docker env, could you have reproduce  steps that i can try it, thanks.
[code]

[2018-08-15 16:30] msau42 commented on #63944
/remove-lifecycle stale

[2018-08-15 16:38] quater commented on #39792
@w1ndy I would not consider this a solution although it could be considered a workaround in some scenarios.

**Our use case:**

The DNS rewrite feature in CoreDNS is great and we us this already but do not want to create a rewrite for each service separately. In our case we don't have multiple top level domains but we have multiple services within a Kubernetes namespace where the namespace corresp

[2018-08-15 16:38] mikedanese opened #67440 "Migrate ServiceAccountAdmissionController to token projection"
This issue is mostly to gather my notes. We need to complete a set of tasks to phase out the old service account token secrets. We'll have to complete these tasks over the course of a multiple release timeline in order to comply with our deprecation policy.

Breaking changes:
1. service account token will need to be reloaded
1. service account secrets will no longer be created automatically

Tasks

[2018-08-15 16:42] pvanderlinden commented on #67394
@liggitt How would I be able to get an usable network trace, the connection to the api server is SSL?

[2018-08-15 16:43] dashpole commented on #66357
This doesn't appear to have fixed the tests.  Tests now panic during the Aftereach in which the PriorityClass is deleted.
/reopen

[2018-08-15 16:45] pvanderlinden commented on #67394
From just adding some logging, it looks like it does a DELETE request to the url `/apis/batch/v1/namespaces/default/jobs/test?propagationPolicy=Foreground` Which I think should be correct?

[2018-08-15 16:53] lavalamp commented on #51076
Honestly I think we should allocate a separate port specifically for liveness and readiness checking. It's a little embarrassing that apiserver doesn't support both, since we tell everyone else they should do so.

[2018-08-15 17:16] liggitt commented on #51076
A healthz-only port would be consistent with some of the other components and I could see it being an optional useful addition (and certainly greatly preferred to an insecure port with full api access)

[2018-08-15 17:26] liggitt commented on #67394
are you sending a body? if the DELETE request has any body content, that is used instead of parameters (delete options can be submitted via query params or a serialized `DeleteOptions` object in the request body):

https://github.com/kubernetes/kubernetes/blob/4414ae3d7572ba85f36eb8661d2cb0e6171f6f57/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L67-L72

[2018-08-15 17:45] kh34 commented on #67221
I was able to capture something, but can you give me an idea of what I should excerpt from it?

[2018-08-15 18:08] pvanderlinden commented on #67394
Thanks for the help! Turns out the python api makes it impossible (while providing the parameters), to use the query parameters, as it requires a valid JSON body. I will open a ticket for the client instead, if I send deleteOptions, everything works.

[2018-08-15 18:08] #67394 closed

[2018-08-15 18:10] #60345 closed

[2018-08-15 18:11] sdodson commented on #67436
CC @mrogers950

[2018-08-15 18:15] aleks-mariusz commented on #65210
i have this issue too.. i believe this is because recent versions of docker use systemd (and journald) to store logs, but the way fluentd is configured it wants *.log files in /var/log/containers, none of which exist on my system:

here's my setup:
centos 7.5
kubernetes (kubeadm/kubectl/kubelet/etc) v1.11.2
docker 1.13.1

so fluentd cannot find any container data to send to elastic search :-(

[2018-08-15 19:00] geomarsi commented on #67389
Problems solved when switched my POD network from Flanneld to Calico. (tested on Kubernetes 1.11.0; will repeat tests tomorrow on latest k8s version 1.11.2)

[2018-08-15 19:02] airdos360 opened #67449 "MySQL Galera e2e"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature Request

**What happened**:

The e2e galera statefulset runs well but has no way to set a root password.   Is there way to set the root password for this install?

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/statefulset/mysql-galera/statefulset.yaml

/sig YAML

[2018-08-15 19:09] LeafyLi commented on #58640
Is it recommended to build on Docker or local?

[2018-08-15 19:27] vipulagarwal commented on #54567
We ran into a similar problem when upgraded to 1.10 on GKE

[2018-08-15 19:46] Huang-Wei opened #67453 "pods with hostNetwork are not scheduled correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In some specific scenario (see following yaml), pods are not scheduled properly. Instead, pods get scheduled unstoppingly, in a increasing manner.

**What you expected to happen**:

Pods are scheduled properly, without additional replicas.

**How to reproduce it (as minimally and precisely as possible)**:

1. Spin up a 1

[2018-08-15 19:46] Huang-Wei commented on #67453
/sig scheduling
/assign

I've found the root cause, will raise a PR soon.

[2018-08-15 20:02] goodluckbot opened #67455 "Kubectl patch does not support patching status of resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
`kubectl patch` does not support patching status of resource.
For instance:
[code]
will lead to
[code]

**What you expected to happen**:
node/goodnode.abc patched

**How to reproduce it (as minimally and precisely as possible)**:
[code]

will get
node/goodnode.abc patched (no change)

**Anything else we need to know?**:

**Environme

[2018-08-15 20:17] coffeepac commented on #65210
@aleks-mariusz this issue has been closed as resolved.  if you are experiencing these symptoms and simply waiting for a few minutes doesn't resolve the issue (i don't think it will, but that's the fix for this issue) please open a new issue with your information.

I have some ideas but I'd like to address them in its own issue so its more easily discoverable by others.  feel free to assign me and

[2018-08-15 20:19] airdos360 commented on #67449
/sig configuration
/assign

[2018-08-15 20:25] pdeva commented on #67355
@ipuustin i requested access on both the linked docs but still havent received it

[2018-08-15 20:42] mikedanese commented on #67440
We have some other backwards incompatible changes to service accounts that we've considered. From memory:
1. move service accounts to authentication API group
1.Change automount to default to off

It might make sense to do some of these at the same time to batch turnover.

[2018-08-15 21:25] 2rs2ts commented on #63959
This feature would save us weeks of work reimplementing the cloud controller just so we can preserve a special ELB that has static IP addresses... I really wish it was available

[2018-08-15 21:28] bonneaud opened #67457 "Pods communicating via websockets and API hanging"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We have python tasks running on kube pods that need to communicate with each other. We run commands in one pod, from another pod, by using connect_get_namespaced_pod_exec [1] via the Kubernetes Python API, which, if we understand correctly, is a wrapper for 'kubectl exec'.
Once in a while the tasks seem to hang after the s

[2018-08-15 21:33] liggitt commented on #67367
Yes, and should be picked to release branches once complete

[2018-08-15 21:37] Huang-Wei commented on #66568
I tried to reproduce using steps provided by @sfudeus , but got slightly different symptoms - described in #67453 - and note that no matter `PodPriority` is enabled or not, it can be reproduced.

I gave a fix #67456 to fix the symptom I met. But not 100% sure that can fix this issue. I will wait for an official 1.11.x release which contains my fix, then ask you guys' favor to give a try:
- if new

[2018-08-15 21:38] gnufied commented on #67342
Can you confirm if unmount is left from previous pod or if unmounted volume is because of new pod (that triggered attach but did not unmount) ? One way of confirming that would be - if device name (`/dev/xvdbp`) changes.

[2018-08-15 21:40] ixdy commented on #63108
/close

[2018-08-15 21:40] #63108 closed

[2018-08-15 21:41] coryodaniel commented on #49926
Having the same issue. Change from `m5` to `t2`s fixed it. Would love a fix for m5s. <3

[2018-08-15 22:28] jiayingz commented on #66804
Hi @tianshapjq I am not aware anyone is working on this right now. Feel free to grab it. Thanks!

[2018-08-15 22:29] janetkuo commented on #67273
The test is still flaky, but with different symptom:
[code]
An example flake: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/67406/pull-kubernetes-integration/23378/

It's likely because the collision count was updated in a previous sync loop, but the `ds` in the cache store hasn't been updated and we used a stale collision count while calculating the new hash:
https://gi

[2018-08-15 22:30] #46442 closed

[2018-08-15 22:30] #65240 closed

[2018-08-15 22:40] stevekuznetsov commented on #56302
/reopen
/remove-lifecycle rotten

[2018-08-15 22:51] gnufied commented on #56302
/reopen
/remove-lifecycle-rotten

[2018-08-15 23:29] johngmyers commented on #57325
/remove-lifecycle stale

[2018-08-15 23:31] johngmyers commented on #57325
/remove-lifecycle rotten

[2018-08-15 23:57] kfox1111 commented on #22368
This problem has been around for a very long time. how do we start to make traction on it?

[2018-08-16 00:29] neolit123 commented on #67457
/sig network

[2018-08-16 00:37] tanshanshan commented on #67367
fixed it in #67372 as @Huang-Wei  said.
Thanks

[2018-08-16 00:37] neolit123 commented on #67431
@sysrich thanks for the report!
please file the same issue at the kubeadm issue aggregator for better tracking: https://github.com/kubernetes/kubeadm/issues

/close

[2018-08-16 00:37] #67431 closed

[2018-08-16 00:51] janetkuo commented on #64500
@mooperd the default updateStrategy depends on the API version you used. `apps/v1` is the recommended version for StatefulSet API and it uses RollingUpdate by default.

[2018-08-16 01:15] #65372 closed

[2018-08-16 01:15] #67453 closed

[2018-08-16 01:16] u2mejc commented on #49926
Had to downgrade from M5 to M4, because shared T2 instances are not acceptable in our production.

[2018-08-16 01:35] k82cn commented on #65192
#65372 was merged, let's see what happens to the CI :)

[2018-08-16 01:42] dangoldin commented on #67420
@yue9944882 - yea the problem is that I want people to see the available secrets that the application needs so they can make sure to have them inside their docker compose but I don't want them to have access to the production secrets.

[2018-08-16 01:52] zoux86 commented on #67429
Thank you for your advice!  @tanshanshan
in k8s cluster, i run the "kubectl get nodes" command, it works well.
and in etcd cluster, i run the "etcdctl member list " command, it also works well.

but when i run " systemctl start etcd" in k8s cluster。it goes wrong!
![image](https://user-images.githubusercontent.com/14087435/44182169-4c96ec80-a138-11e8-9a9b-a02c9b373cc0.png)

apiservice config:
###
#

[2018-08-16 01:58] NickrenREN commented on #65552
We do this check for node lost in pods quota evaluating too.  https://github.com/kubernetes/kubernetes/blob/master/pkg/quota/evaluator/core/pods.go#L402

[2018-08-16 02:02] tanshanshan commented on #67429
in your picture

see

maybe you can check whether your etcd config is correct.

[2018-08-16 02:04] NickrenREN opened #67466 "PVC finalizers should be removed on pod deletion if the node that pod running on is down"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If pod is requested to be deleted, but node is down, PVC finalizer will never be removed

**What you expected to happen**:

If pod is requested to be deleted, but node is down, PVC finalizer should be removed if there are no other pods referencing it.

/assign
/sig storage

cc @msau42 @jsafrane @pospispa

[2018-08-16 02:05] mikedanese commented on #67436
We'd probably have to change less if we just added it to `Certificates`. I assume that since no one reported this yet, no one is using a depth > 2 PKI spanning multiple clusters to provision node certs. Is that what you intend to do or do you intend to use the certificates API for something else? Those certs aren't going to be constrained to the cluster, so beware.

[2018-08-16 02:10] zoux86 commented on #67429
the k8s cluster in 4 machines, and the master machines has a wrong etcd config.
but in another three machines, i have a correct etcd cluster.
i want the k8s cluster use the correct etcd cluster。but it seems to not work.

[2018-08-16 02:15] shigy123456 opened #67467 "one flexvolume bug: getvolumename is not used"
/kind bug
/sig storage
@Saad Ali

**What happened**:
i will develop a flexvolume driver,when i implement the interface getvolumename,i found the volume name is not mine.so i find the code of kubelet,i find the kubelet has not use my volume name,this is a bug.

**What you expected to happen**:
i think kubelet should use the volume name like this sequence:
1)use the user have implemeted.
2)if user d

[2018-08-16 02:16] mengqiy opened #67468 "Admission webhook doesn't allow service to use a port that is not 443"
/kind bug

When the kubeapiserver constructs the client for talking to the admission webhook, it [always use port 443](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/config/client.go#L134-L142) when constructing from [ServiceRef](https://github.com/kubernetes/api/blob/master/admissionregistration/v1beta1/types.go#L269-L281)

/sig apim

[2018-08-16 02:17] mengqiy commented on #67468
cc @caesarxuchao

[2018-08-16 02:25] dixudx commented on #67390
@drpaneas Right.

For debian, it is `/etc/default/kubelet`. For `rpm`, it is `/etc/sysconfig/kubelet` instead.

For such single value argument, in cli parser only the last works.

This variable is defined in `/var/lib/kubelet/kubeadm-flags.env`.

[2018-08-16 02:42] xiaoxubeii commented on #67468
Indeed, it just support https.

[2018-08-16 02:59] xiaoxubeii commented on #67467
[code]
Reference the comment in volume/plugins.go, I think `GetVolumeName` is just used to identity actual backing volume for attach or detach, it is not used for pod volume name.

[2018-08-16 03:03] chenqiangzhishen commented on #67329
everytime, I run `kubectl exec` it will pop up the following errors in kube-apiserver log.

[code]

maybe something else caused the issue, continue finding the root cause.

[2018-08-16 03:06] shigy123456 commented on #67467
i know it is not used for pod volume name.
my problem is i defined my own name,the flexvolume is not used.

[2018-08-16 03:09] #67273 closed

[2018-08-16 03:09] wgliang commented on #67467
@xiaoxubeii @shigy123456 I will submit a PR on the issue, you can checkout it.
/assign

[2018-08-16 03:25] xiaoxubeii commented on #67439
Can you try:
[code]
I think api version `rbac.authorization.k8s.io/v1` or `rbac.authorization.k8s.io/v1beta2` can work.

[2018-08-16 03:55] hyprnick opened #67473 "Unable to mount volumes for pod on AWS"
/kind bug
/sig storage

**What happened**:
Kubernetes failing to mount volumes
[code]

**What you expected to happen**:
Mounting to succeed.

**How to reproduce it (as minimally and precisely as possible)**:
Start a stateful set on an AWS node c5d. Also using the gp2 EBS provisoner.

**Anything else we need to know?**:
This may be related to the EBS volumes being exposed as an NVMe block device.

[2018-08-16 04:07] TracyBin opened #67474 "Ceph rbd can mount to multi nodes using ReadOnlyMany"
ceph version: luminous
kubernetes:1.9.0
Node 192.168.8.191  192.168.8.192 192.168.8.193
Problem reproduce:
- 1 Create storageClass,PVC and pv with ReadOnlyMany
- 2 Create deployment with replicaset 3,each pod is scheduled to different nodes
- 3 watch if the 3 pods works correctly

PVC and pv info
[code]

[code]
The image info in node of  192.168.8.191
[code]

Error log in node of 192.168.8.192,sim

[2018-08-16 04:09] glasser opened #67475 "Inconsistent docs on podAffinity empty namespace list"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was reading the docs about pod affinity and wanted to understand how to ensure podAntiAffinity applies across namespaces.

The concepts docs at https://kubernetes.io/docs/concepts/configuration/assign-pod-node/ says:

The API reference under PodAffinityTerm at https://kubernetes.io/docs/reference/generated/kubernetes-a

[2018-08-16 04:10] glasser commented on #67475
@kubernetes/sig-docs-bugs @kubernetes/sig-api-machinery-bugs @kubernetes/sig-scheduling-bugs

[2018-08-16 04:50] davidopp commented on #67475
I believe we got rid of "all namespaces" for performance/scalability reasons. @wojtek-t or @kevin-wangzefeng might remember. (I wasn't able to find the relevant PR in a quick search.)

[2018-08-16 05:39] bradfitz opened #67477 "duplicate container volumeMounts not validated"
I accidentally included a duplicate `volumeMounts:` line below, and validation did not fail. I expected this to fail:

[code]

But nope, no error on apply, and only one of the volumes shows up:

[code]

Reproduced with client+server Kubernetes 1.11.2, and also with the kubectl client at git tip (cffa2aed0e4f3a3723d1cf977e3386dbeb1aa046):

[code]

Do we just need to set the YAML package's [Decoder.

[2018-08-16 05:42] bradfitz commented on #67477
/sig api-machinery

[2018-08-16 05:45] lavalamp commented on #67477
/sig cli

[2018-08-16 05:46] soumypau1 commented on #67382
/sig api-machinery

[2018-08-16 05:54] #64393 closed

[2018-08-16 06:03] Huang-Wei commented on #64720
Should be fixed by #56622. Could you try on 1.9+ cluster?

[2018-08-16 06:07] glasser commented on #67475
Here's a docs PR: https://github.com/kubernetes/website/pull/9876

[2018-08-16 06:10] dunjut commented on #67477
Annotations may also fell into this kind of yaml syntax traps.

[2018-08-16 06:47] hchenxa opened #67479 "kubectl delete pods hang"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was trying to use `kubectl` to delete all pods from `kube-system` namespace with the command `kubectl delete pods -n kube-system --all`, after execute the commands, the command hang at the last pod delation.

**What you expected to happen**:

The command should be finished.

**How to reproduce it (as minimally and prec

[2018-08-16 06:47] hchenxa commented on #67479
/sig cli

[2018-08-16 06:54] tuminoid commented on #64743
@huxiaoliang I'm aware its a kernel bug. Commented to "me too" with different environment and with some of the previously mentioned workarounds applied.

That samba case doesn't reproduce the issue for me. Ran the client in a loop for an hour. In my case, it randomly hits when pods are terminating. No steps to reproduce reliably.

[2018-08-16 06:58] xiaoxubeii commented on #67474
Please reference #63424.

[2018-08-16 07:11] andyzhangx opened #67480 "change default azure disk kind as Managed disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.12
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Inst

[2018-08-16 07:42] ipuustin commented on #67355
I edited the document sharing settings a bit, might work now.

[2018-08-16 08:09] tlbdk opened #67486 "Kubernetes does not finish reading stdout/stderr for logging on quick exit"
/kind bug

**What happened**:
We were debugging an issue with a node process existing without any log output, after wrapping the process in:

[code]

We could see it was a segmentation fault as the node process logged this to stderr, my guess is that wrapping it in bash gives kubernetes a bit longer to read stderr before getting the exit.

**What you expected to happen**:

To always see the output

[2018-08-16 08:11] ricky1993 commented on #62772
@yue9944882 We have used pod gc controller, if the gc succeed pod before job controller consume the succeed event, when consuming it, job controller can't found the succeed pod, so it will recreate one. I'm not sure whether it is a bug or by design.

[2018-08-16 08:15] mooperd commented on #57325
Shouldn't this be implimented on the ingress controller side?

[2018-08-16 08:27] utsav2307 commented on #65544
Was this issue resolved for anyone else without using calico? I am facing the exactly same error after launching the cluster via terraform

[2018-08-16 08:33] hoeghh commented on #60295
A workaround could be

[code]

[2018-08-16 08:36] mborsz opened #67488 "Scalability: A test failure in one test suite can break tests in other tests"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-performance-regional/132 failed to start leaving a 2k cluster running in kubernetes-scale project.

This has broken two 5k nodes attempts:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/194
* https://k8s-gubernator.appspot.com/build/kubernetes-jen

[2018-08-16 08:37] tlbdk commented on #67486
Not quite sure this is the right one:

/sig @kubernetes/sig-node-bugs

[2018-08-16 08:38] loburm commented on #56653
/cc @kawych

[2018-08-16 08:43] shyamjvs commented on #67488
This is happened few times in past as well and I was manually cleaning up the project in such cases. While there are few ways we can hack around this problem, I think the proper way to solve this is by splitting GCE and GKE tests to separate projects (as discussed in the capacity-planning doc I had earlier shared).

[2018-08-16 09:17] hchenxa opened #67491 "watch the kubectl changes will be exit after a while"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I use `kubectl get pods -n kube-system -lapp=nginx -w` to watch the changes of pods, but the command will exited after run for a while(may be 5~10 minutes), from my point of view, the command should not be exited if I did not cancel my request.

**What you expected to happen**:
the command should not exited
**How to repro

[2018-08-16 09:17] hchenxa commented on #67491
/sig cli

[2018-08-16 09:25] #51000 closed

[2018-08-16 10:16] soumypau1 commented on #67382
We have deployed the same set of applications on Kubernetes 1.10.6 and that seems to be working perfectly fine.

[2018-08-16 10:29] theobolo commented on #67261
Hello again everyone,
@andyzhangx

After the week-end :

[code]

It's pretty annoying, i'll leave AKS since it's clearly not Prod proof for the moment ...

[2018-08-16 10:36] akshaymankar commented on #67342
Hi, we're also facing the same issue. We can confirm that the unmount is left from previous pod. The difference in our scenario is that we were trying to upgrade from 1.11.1 to 1.11.2. We initally thought it had something to do with the versions. But here is what our hypothesis is:

When pod gets deleted first time, it leaves the mount behind.
When we restart the kubelet, it sees an extra mount an

[2018-08-16 10:42] yue9944882 commented on #67491
it's designed.
/remove-kind bug
/triage support

[2018-08-16 10:46] shyamjvs commented on #48107
I've sent the above PR to experiment with ipvs in our scalability tests (as it seems GA now). The above problem with iptables might just become obsolete in case we're going to make a switch later.

[2018-08-16 10:56] brandshaide commented on #40224
/remove-lifecycle-stale

[2018-08-16 11:08] hmenn commented on #67014
@andyzhangx Did you look the logs? I'm still getting "Unable to mount volumes for pod" error. Exact 12 min to mount disk to pod on each run.

[2018-08-16 11:27] #61336 closed

[2018-08-16 11:35] mofirouz commented on #65675
@nicksardo

How would one provide an IPv6 address to the ingress? Is it a manual step done via API/dashboard in GCP?

[2018-08-16 11:35] mofirouz commented on #65675
This issue is also relevant here: https://github.com/kubernetes/ingress-gce/issues/87

[2018-08-16 11:44] mythi commented on #65991
I've spent some free cycles on this and it's seems to be working OK for me on a kubeadm built cluster with kubelet version v1.11.2.

What does this mean:

I've been using ```--experimental-cluster-signing-duration=10m``` and bootstrap tokens with different ```--ttl``` to ```kubeadm token```

[2018-08-16 11:46] liqlin2015 commented on #66821
@AntonFriberg We got this issue too in kubernetes 1.10.0 cluster. Any other reason which may cause `cannot find volume \"default-token-...`? Some race condition issue?

[2018-08-16 11:48] liqlin2015 commented on #67300
Found some discussion https://github.com/kubernetes/kubernetes/issues/58635 here.

[2018-08-16 11:56] andyzhangx commented on #67014
@hmenn is it possible to share your exact config so that I could repro it on my env? The provided logs only show that the disk attaching to the agent is slow, I did not find any error when mounting disk device.

[2018-08-16 12:12] andyzhangx commented on #67261
@theobolo
Here is what I got on aks v1.10.6, no restarting events, it has been running for 4 days.
Could you paste "kubectl get no --show-labels" output and I could set up exact same env and repro your issue? Maybe it's due to the vm size(e.g. too small, cpu load is high lead to container killed?) I am not sure.

[code]

[2018-08-16 12:24] ipuustin opened #67500 "Kubelet doesn't support dynamic CPU offlining/onlining"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubelet doesn't follow CPU hotplug events. For example, if I offline a CPU, guaranteed pods might still be assigned there even though there is no real capacity available. Also, the CPU manager static policy might try to assign containers to non-existent CPUs. This would lead to containers not starting, because the CRI cp

[2018-08-16 12:28] #61341 closed

[2018-08-16 12:28] #61280 closed

[2018-08-16 12:30] mythi commented on #65991
I had just ```systemctl stop kubelet``` for 10+mins. If the bootstrap token gets expired too, bootstrapping fails but kubelet is automatically able to recover with a new token changed in my ```bootstrap-kubelet.conf```

[2018-08-16 12:37] djsly commented on #65991
ok, that's weird. maybe something new in v.1.11.2. I will @tshaynik reply since he's the one who did most of this work and investigation on our side.

Regarding

We install Kubernetes the hard way using a salt based solution.

[2018-08-16 13:10] andyzhangx commented on #67147
@PatrickLang do you know whether `Windows Server 1803` supports named pipe? On the other hand, k8s will append `c:` if path does not start with a disk drive, I could make the code change there for named pipe.
@atomaras could you provide example about how to create named pipe on windows? thanks.

[2018-08-16 13:11] danilorsilva commented on #67473
I have a problem on my k8s cluster using AWS `c5` family. We need to use stretch debian image as default to work with the disks and everything work perfectly. i don't know if will solve your problem, but you should try, because old debian images on k8s don't know how to work correctly with NVMe. Another option is a downgrade on your instace type to use AWS `4` family... (c4,m4,etc...)

[2018-08-16 13:26] timchenxiaoyu commented on #58217
k8s 1.6.4  docker 1.12.6 also this problem

E0816 16:21:12.121683  415225 kubelet.go:1165] Image garbage collection failed: unable to find data for container /
E0816 16:21:12.227843  415225 kubelet.go:1661] Failed to check if disk space is available for the runtime: failed to get fs info for "runtime": unable to find data for container /
E0816 16:21:12.227869  415225 kubelet.go:1669] Failed to che

[2018-08-16 13:29] #61932 closed

[2018-08-16 13:29] #61347 closed

[2018-08-16 13:31] hmenn commented on #67014
@andyzhangx I think I found the problem.

On first template, I was using fsGroup because of some permission to write disk. My docker starts with nonroot user and this prevents to writing to pvc. So I had added fsGroup option. Today, I just removed and started pod again, it started in 1 minutes. I guess on each disk attach, its trying to change group id of all files which is in disk and this causin

[2018-08-16 13:48] msau42 commented on #66376
I think the latest failures are caused by gce API rate limiting: https://github.com/kubernetes/kubernetes/issues/67348

/assign @bowei @jingax10

[2018-08-16 13:51] andyzhangx commented on #67261
@theobolo I also run your `pod-with-init-container.yaml` on another aks v1.10.5 cluster, no restart event:
[code]

I think you may try AKS with other bigger VM size?
[code]

[2018-08-16 13:52] liggitt commented on #67324
the `--experimental-cluster-signing-duration` option to kube-controller-manager can be used to control the duration of signed certificates, but is not a per-certificate option

[2018-08-16 13:52] andyzhangx commented on #67014
what about set fsgroup as 0:
[code]

[2018-08-16 13:58] mborsz commented on #66672
Removing fluentd from nodes has reduced 'schedule_to_run' latency flakiness.

'run_to_watch' is still pretty flaky, e.g.:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1174
we see {density-latency-pod-64-bv445 e2e-big-beta-minion-group-1cfd 31.493058396s}

We detected that pod at 12:13:18.163:

while the state of the pod hasn't changed

[2018-08-16 13:58] andyzhangx commented on #67014
azureDisk use ext4 file system by default, mountOptions like [uid=x,gid=x] could not be set in mount time.

[2018-08-16 13:59] chrissound opened #67502 "panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x70 pc=0x15b7eaa]"
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDat

[2018-08-16 14:03] msau42 commented on #66376
It seems to only be failing on scalability test suites. I wonder if it's due to some different cidr configuration

[2018-08-16 14:27] fvigotti commented on #67202
Hi @Lion-Wei  , yes with NodePort and only using the assigned cluster-wide nodeport number works and this is the only case which works as I've wrote here ( https://github.com/kubernetes/kubernetes/issues/67202#issuecomment-412842999 ) the problem is that it's also the less useful case! I still don't understand why SNAT is necessary when the service is a `ckusterIp` service with `ExternalIp` addres

[2018-08-16 14:30] #57061 closed

[2018-08-16 14:31] fntlnz commented on #67342
@gnufied the device name remains the same in my case `/dev/xvdbp`

[2018-08-16 14:51] DirectXMan12 commented on #67221
look for lines around when the horizontal pod autoscaler does the reconcile, so first looks for lines from horizontal.go and rest_metrics_client.go, then around there look for the underlying REST client logs, which should show curl commands and full dumps of the results.

[2018-08-16 14:53] gautamdivgi commented on #61999
I'm looking at this issue as well and there does seem to be some indication that having directories with a large number of files (still working to quantify "large") can cause this. Using 1.8 at the moment and looking to move to overlay2 and 1.9. The one thing I noticed in the code at https://github.com/google/cadvisor/blob/master/fs/fs.go#L62 and https://github.com/google/cadvisor/blob/master/fs/f

[2018-08-16 15:37] hmenn commented on #67014
I changed docker default users to root. Now, my workspace works fine. Thank you so much @andyzhangx . Do i need to open another bug for using fsGroup with huge file systems?

[2018-08-16 16:03] #66424 closed

[2018-08-16 16:36] msau42 commented on #60015
/remove-lifecycle stale

[2018-08-16 16:45] bradfitz commented on #67477
As a quick experiment, I tested whether using go.yaml's strict unmarshaling solved this. It doesn't.

For the record, what I tried was:

[code]

Same result.

[2018-08-16 17:02] lavalamp commented on #67477
I suspect the schema validation code doesn't notice this because it checks
a map[string]interface{}, which will have already obscured the problem.

On Thu, Aug 16, 2018 at 9:47 AM Brad Fitzpatrick <notifications@github.com>
wrote:

[2018-08-16 17:08] bradfitz commented on #67477
Self-contained repro:

[code]

No error there.

Seems like this should be fixed in the yaml package.

[2018-08-16 17:10] bradfitz commented on #67477
Actually, this was fixed upstream: https://github.com/go-yaml/yaml/pull/307

My local copy was a few days before that fix.

After updating, I now get an error:

[code]

[2018-08-16 17:13] bradfitz commented on #67477
So if I update the vendored copy of go.yaml in k8s.io/kubernetes and include my patch above (https://github.com/kubernetes/kubernetes/issues/67477#issuecomment-413610713), I now get an error:

[code]

[2018-08-16 17:34] #67367 closed

[2018-08-16 17:34] #64315 closed

[2018-08-16 17:39] bradjones1 commented on #65675
@mofirouz My understanding is that it is just not possible, at the moment.

[2018-08-16 17:39] msau42 commented on #64045
/remove-lifecycle stale

[2018-08-16 18:00] Huang-Wei commented on #67502
Can you upgrade kubectl to v1.11.1 and retry?

[2018-08-16 18:34] #60046 closed

[2018-08-16 19:35] #61247 closed

[2018-08-16 19:50] g3rzi commented on #67439
@xiaoxubeii
Following your suggestion I tried `rbac.authorization.k8s.io/v1` and `rbac.authorization.k8s.io/v1beta2`, both of them didn't work for me. Only when I change `apps` to `extensions`.

Here is a code I wrote to test it:
[code]

It creates service account named `myservice` with a context named `myservice-context` and has permissions to list all the deployments. But the API group of the Ro

[2018-08-16 20:10] figo commented on #64614
@RenaudWasTaken @vikaschoudhary16
this definitely looks like hitting the node open file limit.

i looked at latest run, they are all passing, i saw configure `--gcp-nodes=7` in test log, basically means each node run about 71 kubelets

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/16223?log#log

we probably can close this issue now.

[2018-08-16 20:17] atomaras commented on #67147
@andyzhangx Easiest route would be to install Docker for Windows.
Here is some code also. This is .NET and WCF opening a server that listens on a specific named pipe.

[code]

[2018-08-16 20:25] fedebongio commented on #67268
/cc @roycaihw

[2018-08-16 20:26] fedebongio commented on #67321
/remove-sig api-machinery

[2018-08-16 20:26] fedebongio commented on #67321
/sig cli

[2018-08-16 20:28] fedebongio commented on #67329
/cc @caesarxuchao

[2018-08-16 20:29] fedebongio commented on #67382
/cc @caesarxuchao

[2018-08-16 20:30] fedebongio commented on #67414
/cc @mbohlool

[2018-08-16 20:31] fedebongio commented on #67414
/assign @caesarxuchao

[2018-08-16 20:36] #54306 closed

[2018-08-16 20:50] kfox1111 commented on #54306
Is no one else interested in this?

[2018-08-16 21:01] orsobruno opened #67515 "Deployment is not completely removed"
/kind bug

**What happened**:
I've deployed **kube-state-metrics**, but I have only single node which is also used as master. The node has taint "node-role.kubernetes.io/master="":NoSchedule" and yaml file of deployment did not contain toleration. Accordingly, a pod created by ReplicaSet from the deployment could not start. Then i added toleration to the spec.template.spec and called "kubectl repl

[2018-08-16 21:08] mengqiy commented on #67468
/kind bug
/sig apimachinery

[2018-08-16 21:09] mengqiy commented on #67468
/sig api-machinery

[2018-08-16 21:11] msau42 commented on #67466
When node/kubelet is down and is unable to update the Pod object, we can't be 100% sure that the volumes have been unmounted, and that it would be safe to delete.

In https://github.com/kubernetes/kubernetes/issues/65552#issuecomment-413232259, you suggested an approach to check for podTerminationGracePeriod.  I believe this grace period only determines the time period when kubelet should start fo

[2018-08-16 21:14] johanot opened #67516 "User "system:kube-controller-manager" cannot patch nodes at the cluster scope"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig auth

**What happened**:

When I start kube-controller-manager in a newly created RBAC-enabled cluster, I get:

[code]

**What you expected to happen**:

I expect the clusterrole `kube-controller-manager` to have permissions to patch nodes? But apparently it never gets that as part of RBAC bootstrap?

**How to reproduce it (as minimally

[2018-08-16 21:14] Huang-Wei commented on #67515
/sig apps

[2018-08-16 21:50] neolit123 commented on #67502
/sig cli

[2018-08-16 21:54] neolit123 commented on #67474
/sig storage

[2018-08-16 22:12] chenopis commented on #67013
See https://github.com/kubernetes/website/issues/9758#issuecomment-413698701 for postmortem.

[2018-08-16 22:22] figo opened #67517 "prevent DDOS registering attack from plugins at pluginwatcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
currently, pluginwatcher don't limit the registering attempt from device plugin,
this leave the door open to potential DDOS-like attack from plugin (or buggy plugin).

there are two types of bad behaviors:
1)  one plugin keep triggering invalid fsnotify event, pluginwatcher handleEvent() will be called, a goroutine wil

[2018-08-16 22:38] #61348 closed

[2018-08-16 23:17] oomichi opened #67519 "PV Protection e2e test fails in BeforeEach stage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

PV Protection e2e test "Verify "immediate" deletion of a PV that is not bound to a PVC" failed like
[code]

**What you expected to happen**:

The test can pass.

**How to reproduce it (as minimally and precisely as possible)**:

I am just kicking the test with

[code]

**Environment**:
- Kubernetes version (use `kubectl

[2018-08-16 23:42] idvoretskyi commented on #66300
@kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-release-feature-requests any progress on this?

[2018-08-16 23:49] liggitt commented on #67516
The controller manager only has sufficient permissions to launch the individual controller loops. Those are intended to be run with individual service accounts, each of which has an isolated role granted.

To run in this mode, ensure the controller manager is started with `--use-service-account-credentials`

See https://kubernetes.io/docs/reference/access-authn-authz/rbac/#controller-roles for det

[2018-08-16 23:49] #67516 closed

[2018-08-17 00:40] yujuhong commented on #30189
@newtonkishore nothing stops you from configuring the --sync-frequency yourself today.

That said, @wojtek-t's configmap/secret watch PR has been merged. After it soaked for a while, we can start improving this part of the logic in kubelet. For example, we can trigger pods workers to sync the pod whenever changes are detected.

[2018-08-17 01:18] glennschmidt commented on #61999
I haven't experienced this problem again since switching to `overlay2` and upgrading to 1.9. I'm going to close this issue since it sounds like they've also fixed it for the `overlay` filesystem in 1.10

[2018-08-17 01:18] #61999 closed

[2018-08-17 01:38] timchenxiaoyu commented on #61500
Node became not ready: {Type:Ready Status:False LastHeartbeatTime:2018-08-16 15:23:01.749610846 +0800 CST LastTransitionTime:2018-08-16 15:23:01.749610846 +0800 CST Reason:KubeletNotReady Messa
ge:container runtime is down}

[2018-08-17 01:48] wenlxie commented on #65131
@msau42 Sure.
I will test after your new commit ready.

[2018-08-17 02:14] YacheLee commented on #56653
I solved this bug  on 1.8.10-gke.2 by deleting one of the fluentd-gcp pods. But I still can not link the reasons why this happens on GKE 1.8.

[2018-08-17 02:20] YacheLee opened #67524 "Lots of kube-system pods can not get cluster status when enabling GKE legacy authorization."
In GKE 1.8, lots of kube-system pods can not get cluster status when enabling GKE legacy authorization.

/sig bug

The logs are shown as following:
autoscaler
`
	Error while getting cluster status: Get https://10.7.240.1:443/api/v1/nodes: dial tcp 10.7.240.1:443: getsockopt: connection refused
`

event-exporter
`
	github.com/GoogleCloudPlatform/k8s-stackdriver/event-exporter/watchers/watcher.go:50

[2018-08-17 02:25] YacheLee commented on #67524
It's really weird. When I turned off the Legacy authorization, it works well.

After reading the official documentation: https://cloud.google.com/kubernetes-engine/docs/troubleshooting, I think it's a permission error.

I ended up solving this problem by
`gcloud services enable container.googleapis.com`

[2018-08-17 02:25] YacheLee commented on #67524
/sig close

[2018-08-17 02:42] #15639 closed

[2018-08-17 03:02] YacheLee commented on #40968
By reading the book: https://www.manning.com/books/kubernetes-in-action, I add the alias
`alias kcd='kubectl config set-context $(kubectl config current-context) --namespace '`
Then, every time I switch the namespace by `kcd production`

[2018-08-17 03:43] #52963 closed

[2018-08-17 03:43] #61338 closed

[2018-08-17 04:10] neolit123 commented on #67524
/sig gcp
/close

[2018-08-17 04:10] #67524 closed

[2018-08-17 04:11] figo commented on #64614
@vikaschoudhary16 thanks for the explanation, please cc me in your fix, thanks

[2018-08-17 04:17] #57992 closed

[2018-08-17 04:40] cyphar commented on #57145
/reopen

[2018-08-17 04:45] sawanoboly opened #67526 "Allow range of ports for Network Policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

For example, if you want to allow communication to an external FTP server with egress rules, you want to allow all Ephemeral ports to support PASV mode.

At this time, if it can not specify it like the following, the rule becomes very large.

[code]

**What you expected to happen**:

[code]

The iptables allows synta

[2018-08-17 04:47] hangxie commented on #52906
I have the similar problem as described here, there are cases that EBS was not deleted after PV was deleted, controller log says:

[code]

I had deleted RC/POD/PVC and verified they were all gone per kubectl before deleting PV, I assume controller should do a bit more retry as the EBS volume was not attached to any EC2 eventually.

I have 14 PVs and there would be 1 EBS volume left out for every 4

[2018-08-17 05:28] nilebox commented on #66110
The fix in #66024 makes me sad :(
We have just found out that foreground cascade deletion is not working in kubectl again.

The workaround  for that would be not to wait, kubectl has a `--wait` flag for that:
[code]

Personally I would prefer to get a hanging kubectl in that case.

@liggitt was keeping a backward compatibile behavior the main reason to switch back to `Background`? We should probab

[2018-08-17 06:02] andyzhangx opened #67527 "add more storage sku support for azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.12
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Inst

[2018-08-17 06:15] KielChan commented on #66574
I came up with this problem several days ago,
kubelet print that, Pod XXXXX fully terminated and removed from etcd, but it is still in etcd,
the phase in kubelet log is running, statuses are terminated not nil.

What i would like to know is that:

who display the terminating state from cmd kubectl get pod ?

terminated from etcd is just after go-client delete pod(in code ), why pod was still there

[2018-08-17 06:28] andyzhangx commented on #67014
@hmenn It's not necessary since it's a common issue for mounting ex4 file system, not related to k8s. I have recorded your issue in my doc. Would you close this issue? Thanks.

[2018-08-17 06:31] hmenn commented on #67014
I'm closing the issue.

[2018-08-17 06:31] #67014 closed

[2018-08-17 07:41] sttts commented on #67268
I am not against non-simple JSON paths. It's just that we started with them in the API. @rosskukulinski's use-case would be solved by non-simple paths. But as @nikhita says: more complex condition logic would not.

[2018-08-17 07:54] sttts commented on #67245
I believe this got fixed in 1.10 with https://github.com/kubernetes/kubernetes/pull/60628.

[2018-08-17 07:55] #67138 closed

[2018-08-17 08:02] haoqing0110 opened #67531 "kubectl failed to create resource due to "resource quota evaluates timeout""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have a cluster running with about 800 nodes, using kubernetes v1.11. Find kubectl failed to create resource, due to "resource quota evaluates timeout".

**Can anyone help on this, any possible causes ?**

[code]
In apiserver and controller-manager, also has some error logs.
apiserver:
[code]
controler-manager:
[code]

**What you

[2018-08-17 08:04] haoqing0110 commented on #67531
/kind bug

[2018-08-17 08:08] haoqing0110 commented on #67531
/sig network

[2018-08-17 08:10] stszap commented on #54798
I know this is old, but just for the sake of others who may face the same problem. Using the full service names for replica set config solves this for me (e.g. "mongo-0.mongo.default.svc.cluster.local" instead of just "mongo-0.mongo") because the full name is added to /etc/hosts by kubernetes. I'm not 100% sure if it completely eliminates the possibility of race conditions with dns names (when I u

[2018-08-17 08:10] #63259 closed

[2018-08-17 08:15] mborsz opened #67532 "[sig-storage] tests are failing in 2k and 5k node tests"
Few last attempts to run big scale correctness tests have failed:

* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/132
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/131
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/130

[2018-08-17 08:36] fvigotti commented on #67202
I've updated the issue, because I'm now more aware that a feature that I've considered global instead works only on some specific type of services ( LoadBalancer and NodePort ) , Now I'm asking if it's possible to add it to ClusterIp so I can have client ip address in edge services without having to use hostport and hostNetwork ( which create a lot of different kind of issues, ie: istio sidecar ma

[2018-08-17 08:39] wgliang commented on #67414
sure. @sttts

[2018-08-17 08:40] wgliang commented on #67414
/assign

[2018-08-17 08:45] discordianfish commented on #11505
Maybe the scope of this could be limited to just provide a 'auto-pause' and more advanced deployment strategies can be addressed later? I don't see this making any progress otherwise..

@bgrant0607 To explain my use case: Currently we auto-deploy master to production. Our repos contain the deployment manifests with thin templating to adjust the image. A second deployment would mean that rolling ou

[2018-08-17 08:48] gyliu513 commented on #67531
/sig scalability

[2018-08-17 09:33] yue9944882 commented on #67531
okay.. didn't see the update. apparently it's the large query.

[2018-08-17 09:35] wuwdd opened #67533 "Minikube start with error getting Pods with label selector “k8s-app=kube-proxy” on win10"
/help-wanted
/sig network
/sig windows
/sig VMware
I want to build up the kubernetes environment on my local win10 system.

Installed virtualBox and minikube on my win10 laptop.
<img width="230" alt="wechat image_20180817150958" src="https://user-images.githubusercontent.com/33924918/44259305-b94add80-a243-11e8-823f-795d36a1b689.png">

Then try to start the cluster by follow command:

After "Start

[2018-08-17 09:36] johanot commented on #67516
TIL. Thanks!

[2018-08-17 09:38] wuwdd commented on #67533
@kubernetes/sig-contributor-experience-cluster-ops

[2018-08-17 09:41] haoqing0110 commented on #67531
@yue9944882 do you know how to solve this issue?

[2018-08-17 09:45] junneyang opened #67534 "does k8s support running simple shell command application on cluster nodes?"
**does k8s support running simple shell command application on cluster nodes?
not just docker container on cluster nodes, but also shell command application on cluster nodes.**

reference: [mesos/marathon](http://mesosphere.github.io/marathon/docs/application-basics.html)

[1. shell command application](http://mesosphere.github.io/marathon/docs/application-basics.html#hello-marathon-an-inline-shel

[2018-08-17 09:46] yue9944882 commented on #67531
not yet.. @liggitt any thoughts?

[2018-08-17 10:00] hameno commented on #65732
I'm seeing this too with 1.11.1 and etcd 3.2 - completely breaks my cluster

[2018-08-17 10:10] aleksandra-malinowska opened #67536 "TaintNodesByCondition causes pods to become NodeLost"
In autoscaling tests, we verify that when a node suddenly disappears from the cluster, Cluster Autoscaler will add another one to replace it. With TaintNodesByCondition (enabled by default in #62111), this is now failing:

https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler#gci-gce-autoscaling

Every time a node disappears, a subset of pods become NodeLost and aren't rescheduled on

[2018-08-17 10:25] #67533 closed

[2018-08-17 10:31] dionysius opened #67537 "static pod uid should be stable and always be the same"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

On a node, once I updated kubelet, my static pods got destroyed and created again. The pod-manifest file hasn't changed. As you can see in the reproduce section, the pod-uid-hash is not always the same. I'm saying hash, because [the responsible function uses a hashing mechanism](https://github.com/kubernetes/kubernetes/b

[2018-08-17 10:34] mythi commented on #65991
OK, I'm not familiar with this.

I got almost the same error message you're seeing if I drop RBAC ```--authorization-mode``` from the api-server.

[2018-08-17 10:38] dionysius commented on #67537
difficult to find out the correct sig for this issue. maybe
/sig node
?

[2018-08-17 11:52] munnerz commented on #60690
This is burning me a bit as I am now trying to automate the deployment of a ValidatingWebhookConfiguration resource for cert-manager itself 😅

In order to workaround these issues, as @anguslees has suggested, I have created a small tool that sets `caBundle` fields on a few different core k8s resource types (APIService, *WebhookConfiguration): https://github.com/munnerz/apiextensions-ca-helper

Thi

[2018-08-17 12:07] YacheLee opened #67538 "daemonsets.extensions "fluentd-gcp-v3.0.0" not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
On 1.10.6-gke.1, The version of fluentd-gcp is wrong. Fluentd-gcp-scaler keeps showing the logs: Error from server (NotFound): daemonsets.extensions "fluentd-gcp-v3.0.0" not found.
But the version of fluentd-gcp in my k8s is v3.1.0.

**What you expected to happen**:
Fluentd-gcp-scaler should use fluentd-gcp-v3.

[2018-08-17 12:11] puthali commented on #60535
/remove-lifecycle stale

[2018-08-17 12:35] ReSearchITEng commented on #60869
/remove-lifecycle rotten

[2018-08-17 12:38] andyzhangx commented on #67147
Hi @atomaras, have you tried whether docker on windows 1803 supports named pipe?

[2018-08-17 12:39] ReSearchITEng commented on #60869
@jejer , please confirm:
We can run k8s in containers, and  if we update /etc/modules-load.d/ip_vs.conf , on the host, there won't be a need for the container to call modproble any longer, so it does not matter if it's compiled with compress.
This would word around the issue I guess, so modprobe can be even removed from the image.

[2018-08-17 13:17] nilebox commented on #59850
Pull request #66024 reverted default cascade deletion mode to `Background`, which means this issue is relevant again.

Currently there is no way to trigger `Foreground` deletion via kubectl (except via curl), and I believe using it as default mode is better than `Foreground`.

To mitigate issues like #66110 we should use `--wait=false` or some other way of letting user know that resource has been

[2018-08-17 13:27] azzaka commented on #65233
+1 for the feature.

[2018-08-17 13:53] #61397 closed

[2018-08-17 13:54] liggitt commented on #67479
delete waits for the objects to be removed. pod deletion is initiated by kubectl in this case, but waits for the node running the pod to kill the process and do the final delete via the API.

You can force deletion and short-circuit that by passing `--force --now`, or skip waiting with `--wait=false`

[2018-08-17 14:00] nilebox commented on #59850
Thanks, I didn't realize that after deleting proceeding with deletion of `middle` secret from example above, GC detects that a parent of `leaf` is missing and deletes it as well.

There is actually an interesting side-effect: if you create a Secret with an `ownerReference` having invalid `UID` (there is no object with this UID in Kubernetes), GC will immediately delete it.

[2018-08-17 14:02] nilebox commented on #66110
@liggitt the `Foreground` deletion mode is implemented in GC on the server side, and while understand the use case for client-side reapers, I disagree that it is only useful for some client-side blocking.

The real use case we have (as I previously described in #59850) is building a tree of objects where deleting a root will force deletion of all its children first and will block the deletion of i

[2018-08-17 14:02] liggitt commented on #59850
Yes, that is working as designed. Such an object is declaring it is an orphan.

[2018-08-17 14:08] clandry94 commented on #65233
@azzaka this feature will be in Kubernetes 1.12

[2018-08-17 14:11] juliantaylor opened #67541 "k8s 1.11 custom object resource version changes on no-op status patch"
**What happened**:

In kubernetes 1.11.2 patching a status subresource of a custom object with a body that effectively does nothing increases the resource version of the object and triggers modify events.

In kubernetes 1.10.6 with the custom object subresources feature gate enabled this did not happen.

Maybe this is an intentional change due to the custom object subresources becoming beta, but I

[2018-08-17 14:13] chuckha commented on #66300
No progress. On the plus side, I've not seen any xenial specific parts of the build so I expect this will not be too hard as you mentioned.

[2018-08-17 14:52] jbartosik commented on #66848
If this was caused by scale down forbidden window then I'm working on a change that will help. Now HPA waits for 5 minutes between scale downs (like @interma said). After my changes HPA will scale down to highest recommendation in last few minutes.

There are more details in [this doc](https://docs.google.com/document/d/1IdG3sqgCEaRV3urPLA29IDudCufD89RYCohfBPNeWIM/).

[2018-08-17 14:53] bronger opened #67546 "PATCH with {"$patch": "delete"} creates key if non-existing"
Having a deployment like:

    apiVersion: extensions/v1beta1
    kind: Deployment
    spec:
      template:
        spec:
          containers:
          - name: mycontainer
    ...
and applying the following patch:

    kubectl patch deployment mydeployment -p '{"spec": {"template": {"spec": {"containers": [{"name": "mycontainer", "env": [{"$patch": "delete", "name": "FOOBAR"}]}]}}}}'
results in

[2018-08-17 15:29] kilianc commented on #25908
Since I think they are related and easily adaptable for CronJobs as well, this is my solution: https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/128#issuecomment-413444029

It is based on one of the workarounds posted here but uses `preStop` because it's meant to be for deployments. Trapping the sidecar would work wonderfully tho.

[2018-08-17 15:41] lpkruger commented on #66651
We are observing this too, with a datadog agent DaemonSet listening on the 8125 UDP port.  tcpdump/wireshark confirms that the old address is still used for packets when the agent pod dies and a new one starts.  I can also confirm that a `conntrack -D -p udp` command mitigates and restores proper connectivity after the pod restart.

[2018-08-17 15:43] Ghazgkull commented on #57198
This is still an issue in kubectl v1.11.2

[2018-08-17 15:43] Ghazgkull commented on #57198
/reopen

[2018-08-17 15:55] #61408 closed

[2018-08-17 16:05] atomaras commented on #67147
@andyzhangx

[2018-08-17 17:37] #67314 closed

[2018-08-17 17:37] #67527 closed

[2018-08-17 17:37] #66962 closed

[2018-08-17 17:50] sandaymin123 commented on #67132
@chakri-nelluri Can we `backport` this to 1.11 and 1.10...we can assist here if needed. @nkkashyap

[2018-08-17 17:50] neolit123 commented on #67534
/sig cli
/kind feature

[2018-08-17 17:51] neolit123 commented on #67538
/sig gcp

[2018-08-17 17:52] neolit123 commented on #67541
/sig api-machinery
/kind bug

[2018-08-17 17:53] neolit123 commented on #67546
/sig cli

[2018-08-17 17:57] #60879 closed

[2018-08-17 18:58] #66287 closed

[2018-08-17 18:58] #61182 closed

[2018-08-17 19:06] mfilotto commented on #40651
Any update on this ?
Would be awesome to get the ordinal index without any script

[2018-08-17 19:37] shyamjvs commented on #56071
/remove-lifecycle stale
/lifecycle frozen

On Fri, Aug 17, 2018, 7:58 PM fejta-bot <notifications@github.com> wrote:

[2018-08-17 19:51] chakri-nelluri commented on #67132
@sandaymin123 Yes. It is already in progress.

[2018-08-17 20:09] timothysc commented on #67118
The problem with loadavg is your sampling window needs to be defined and weighted against max load capacity.

[2018-08-17 20:48] cvaldit commented on #52757
Thanks @RenaudWasTaken https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-402772200
I forked and tested success "share GPUs" with your idea (https://hub.docker.com/r/cvaldit/nvidia-k8s-device-plugin/). It is working but I hope the official release coming soon.

[2018-08-17 21:43] #27543 closed

[2018-08-17 21:56] lachie83 commented on #67324
Okay thanks 👍

[2018-08-17 22:01] #52053 closed

[2018-08-17 22:58] aaronmell opened #67551 "Uanable to create ELB security group in AWS when using IPV4 and IPV6 CIDR in LoadBalancerSourceRanges"
**BUG REPORT ** (choose one):

Kubernetes version (use kubectl version):
1.10

Environment:
AWS

What happened:
Attempted to add an IPV6 and IPV4 address as a loadBalancerSourceRanges. Received the following error messages

Error creating load balancer (will retry): failed to ensure load balancer for service infrastructure/ingress-nginx-nginx-ingress-controller: error authorizing security group in

[2018-08-17 23:01] #65005 closed

[2018-08-17 23:07] aaronmell commented on #67551
@kubernetes/sig-aws-bugs

[2018-08-18 00:03] #47917 closed

[2018-08-18 00:03] #61207 closed

[2018-08-18 00:11] fedebongio commented on #63622
@liggitt tried your fix, same result. The image of the sample-apiserver 1.9 based that I've created is uploaded to gcr.io. If someone want's to give it a try, simply by upgrading 1.0 to 1.1 here: https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L51

[2018-08-18 00:26] polorumpus commented on #62604
/remove-lifecycle stale

[2018-08-18 00:42] liggitt commented on #67541
/assign @sttts @nikhita

[2018-08-18 00:47] liggitt commented on #67546
/sig api-machinery

[2018-08-18 02:14] #50342 closed

[2018-08-18 02:14] #63937 closed

[2018-08-18 03:06] #61437 closed

[2018-08-18 03:36] #61573 closed

[2018-08-18 05:37] AndresPineros commented on #33664
@Gnouf What does "if applicable" mean. Is this documented somewhere?

[2018-08-18 07:10] #23636 closed

[2018-08-18 07:39] GaoRong commented on #67534
you may need ansible or other automation tools, as k8s has been a big, complicated orchestration, we needn't improve more complexity as far as possible.

[2018-08-18 08:11] #55082 closed

[2018-08-18 11:14] #56706 closed

[2018-08-18 11:25] nikhita commented on #67541
Thanks for the bug report, @juliantaylor!

This is not only for patching the status subresource of a custom resource. It occurs on even the scale subresource and the main resource itself.

This regression occurs due to https://github.com/kubernetes/kubernetes/pull/64267. Specifically, because of the json marshalling and unmarshalling we do. If we remove this condition (at all places it occurs), it

[2018-08-18 11:25] nikhita commented on #67541
/area custom-resources

[2018-08-18 12:28] liggitt commented on #67541
Resource version is incremented every time data is written to etcd.

Writes to etcd short-circuit if the bytes being written are identical to the bytes already present. It is not a semantic equality check.

[2018-08-18 12:56] liggitt commented on #67541
We have a test for native resources that ensures no-op writes don't increment resourceVersion. As part of fixing this, the same test should be added for custom resource storage.

[2018-08-18 13:00] chanjarster opened #67561 "Multiple same headers got wrong result on gcr.io/google-containers/echoserver:1.10"
/kind bug

Hello, actually this is a bug about `echoserver` not about k8s.

I use `gcr.io/google-containers/echoserver:1.10` to observe request headers and found if the request have multiple same headers echoserver will give a wrong result:

`curl -H 'x-foo:foo' -H 'x-foo:bar' http://echoserver:8080`

result:

[code]

Expected result:

[code]

[2018-08-18 13:02] chanjarster commented on #67561
/sig testing

[2018-08-18 15:23] ansilh opened #67563 "ConfiMap input file comments, ending with space storing value as quoted string instead of key/value pair"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: ConfigMap from input file creates quoted contents instead of key/value pair

**What you expected to happen**: ConfigMap should create with key/value pair

**How to reproduce it (as minimally and precisely as possible)**:

Sample config file
The comment made were ending with a \<space\>\<newline\> ( removing space from the

[2018-08-18 15:25] nikhita commented on #58931
/remove-lifecycle stale

[2018-08-18 15:47] #67299 closed

[2018-08-18 18:42] glasser commented on #38532
An event for when a pod becomes Ready for the first time would be pretty great.

[2018-08-18 20:36] marshallford commented on #56903
Just chiming in: I am having the same issue as @Quentin-M describes, Kubernetes 1.11.2 + CoreOS hosts + Weave + kube-dns.

[2018-08-18 21:59] igorpeshansky commented on #52444
/remove-lifecycle rotten

Still relevant, hasn't been fixed

[2018-08-18 23:19] sgnn7 opened #67566 "`k8s.io/code-generator` scripts do not work from repos that use new Go modules"
When invoking [generate-groups.sh](https://github.com/sgnn7/kubernetes/blob/master/staging/src/k8s.io/code-generator/generate-groups.sh) from a repo that uses the new [Golang v1.11 modules](https://github.com/golang/go/wiki/Modules), none of the codegens work as they assume that the repo layout has the code in `$GOPATH/src/k8s.io/code-generator` and that dependencies have been downloaded for this

[2018-08-18 23:26] #54108 closed

[2018-08-19 03:56] Quentin-M commented on #56903
@brb Thank you for all the work, great post, and for the shout-out to my article!

[2018-08-19 04:56] nkkashyap commented on #67132
@chakri-nelluri
I have back-ported the fix to `K8S v1.10.5`
https://github.com/nkkashyap/kubernetes/commit/eec818cbc85db6b3e99409ea73a3e2f97c528e34
and confirm it resolve this issue.

Thanks a lot for providing the fix.

[2018-08-19 04:56] #67132 closed

[2018-08-19 05:32] #57289 closed

[2018-08-19 06:06] krmayankk commented on #67515
/sig scheduling

[2018-08-19 12:30] mikkeloscar commented on #56903
@brb thank you very much for the write-up and ofc. for the kernel patches to fix this!

In your post you mention that one solution is to run a DNS server per node as mentioned here https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-410527887. Just for me to understand, you mean this is a solution if you also have the kernel patches in place right? Because without the kernel patches

[2018-08-19 14:43] GaoRong commented on #67226
@liggitt

would you please tell me where can I find the event's design proposal, I can't find it anywhere. We relay on events heavily, and want it be more reliable.

[2018-08-19 14:46] maguro commented on #61142
TL;DR maybe enhancements to affinity/taints would better suit your neeeds.

For me, this feature would complicate things.  I like to think of the pod as an atomic unit.  Doing so makes things easier to reason about.

As for the concerns that are the impetus for this issue, assuming that affinity/taints as they are now are not adequate to your purposes, my thinking is that being concerned about wha

[2018-08-19 15:59] junneyang commented on #67534
@GaoRong
no, i think both docker service and simple shell command service are long-running service, they should be managed by unified scheduler.
if k8s could be compatible with both of them like mesos/marathon,
it could be  very expected feature!

[2018-08-19 17:34] spacecat commented on #66435
Same here, fixed it by deleting config file in .kube directory.

[2018-08-19 18:49] sylus commented on #65890
Ah I am pretty sure this is what is tripping me up as well ^_^

Teaches me to not aggressively check the issue queue first

[code]

[code]

[2018-08-19 19:07] sylus commented on #66583
https://github.com/kubernetes/kubernetes/issues/65890

[2018-08-19 19:16] neolit123 commented on #67563
/sig cli
/area kubectl

[2018-08-19 19:46] #61551 closed

[2018-08-19 20:31] eyz commented on #8305
It appears that if an exited Kubernetes pod init container is pruned / removed it will be started again by Kubernetes. Is this the correct behavior? It results in pods being unready while the init containers launching/running again once they are pruned away.

[2018-08-19 20:46] xujintao opened #67572 "iptables rules of round-robin can not go into effect with nodetype"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/sig node
/area iptables
/area ipvs

**What happened**:
I exposed a service of nodetype with two pods.
[code]
[code]
When i access the service using clusterIP:port(10.254.2.1:8080), both of pods can receive request in round-robin.
Then, i access the service using nodeIP:nodeport(localhost:8501) and nodeIP:nodeport(kube-node2:8501

[2018-08-19 20:47] #61555 closed

[2018-08-19 20:53] liggitt commented on #67563
this is working as designed. `--from-file` places the content of the file in a key matching the file's name. You might be looking for `--from-env-file`, which reads the content of the file and creates key/value pair from `key=value` lines in the file.

/close

[2018-08-19 20:53] #67563 closed

[2018-08-19 20:55] szuecs commented on #56903
@mikkeloscar I would rather patch the dnsmasq container to have a musslc as written in https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-410624713
It has the advantage of having not 2 (A and AAAA) outgoing packets through the same state mapping, which would fix the root cause of the problem.

[2018-08-19 21:05] Quentin-M commented on #56903
That won’t solve anything. The musl hack needs to be on the client side (e.g. all containers making DNS queries). The whole point is that the packets do not reach the DNS server, as the A and AAAA datagrams are sent at the same time through the same socket and the kernel can’t handle it.

[2018-08-20 00:48] Huang-Wei commented on #67515
@orsobruno by default kubeadm applies a **non-value taint** to master node:

[code]

So you should update your tolerations a little bit:

[code]

or

[code]

[2018-08-20 01:08] marshallford commented on #56903
@Quentin-M I tried adding your weave-tc image to the weave pod, no dice. I'm not seeing any errors in the weave-tc container logs either. Do I need to blow away all of my nodes? Any other advice? Thank you.

[2018-08-20 01:27] dims commented on #67477
/milestone v1.12

Thanks @bradfitz let's see if we can get this change in for 1.12. Hoping the upstream fix goes in soon then we can fix up our vendored version.

[2018-08-20 01:27] WanLinghao commented on #66821
@liqlin2015 @du2016 debug is very hard without yaml file of pods

[2018-08-20 01:55] dims commented on #67561
@chanjarster any chance you know some lua? https://github.com/kubernetes/kubernetes/blob/master/test/images/echoserver/template.lua

[2018-08-20 02:15] jejer commented on #60869
@ReSearchITEng ,
Yes. guess kubelet run lsmod or something similar before modprobe.

[2018-08-20 02:27] du2016 commented on #66821
i have remove weave scope plugin,then this problem have  not occur

[2018-08-20 02:34] marshallford commented on #56903
@Quentin-M Would you mind pushing the change to Docker Hub or does it make more sense for everyone to build their own image depending on the dns port used?

[2018-08-20 02:57] tatsuhiro-t commented on #67183
Should I report this to https://github.com/containernetworking/plugins ?
I'm not sure why there is no error in kubelet log when cni plugin fails.  Where is cni plugin log? (well it might be better asked to plugin repo).

[2018-08-20 03:41] chanjarster commented on #67561
@dims I never used lua before, but I'm willing to try to fix this issue.

[2018-08-20 04:06] bobrik opened #67577 "CFS quotas can lead to unnecessary throttling"
This is not a bug in Kubernets per se, it's more of a heads-up.

I've read this great blog post:

* https://kubernetes.io/blog/2018/07/24/feature-highlight-cpu-manager/

From the blog post I learned that k8s is using cfs quotas to enforce CPU limits. Unfortunately, those can lead to unnecessary throttling, especially for well behaved tenants.

See this unresolved bug in Linux kernel I filed a whil

[2018-08-20 04:40] jiaxuanzhou commented on #52757
mark

[2018-08-20 04:41] yue9944882 commented on #67566
/remove-kind bug
/kind feature

thx for reporting. at least for now plz manage dependencies by [godep](https://github.com/tools/godep).

i'm afraid release-1.12 won't provide support for golang-1.11 features but it sounds good. hopefully we'll consider it in the next release. 😉

[2018-08-20 04:41] yue9944882 commented on #67566
/cc @sttts

[2018-08-20 05:41] Quentin-M commented on #56903
@marshallford I just pushed a new image, as well as a very basic README. ^ I will not be able to test it tonight but the changes should be pretty minor (just adding env vars), please let me know.

[2018-08-20 06:09] saivarunr opened #67579 "Labelled node when offline."
/kind bug

**One of the labelled nodes went offline, reason unkown**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.9.3
- Cloud provider or hardware configuration: AWS
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

Name:               ip-172-20-46-201.ec2.internal
Roles:              node
Labels:             beta.kubernetes.io/arch=amd

[2018-08-20 06:16] tatsuhiro-t commented on #67183
I'm not sure this is the correct location to look at but

https://github.com/kubernetes/kubernetes/blob/39e341c11f9a18d7fcbf78e4dce6801131e2ba38/pkg/kubelet/dockershim/network/cni/cni.go#L276

discards "result" from CNI plugin.  It looks like there CNI plugin sets error in the result object and the error occurred in plugin is not contained in err object of API call.

[2018-08-20 06:18] jiuchongxiao opened #67580 "Reconfigure a Node's Kubelet in a Live Cluster does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Reconfigure a Node's Kubelet in a Live Cluster does not work
1.kubectl proxy --port=8001 &
2.NODE_NAME="the-name-of-the-node-you-are-reconfiguring"; curl -sSL "http://localhost:8001/api/v1/nodes/${NODE_NAME}/proxy/configz" | jq '.kubeletconfig|.kind="KubeletConfiguration"|.apiVersion="kubelet.config.k8s.io/v1beta1"' > kub

[2018-08-20 06:27] szuecs commented on #56903
@Quentin-M we (@mikkeloscar and me) run dnsmasq on all nodes and point containers to the node ip without masquerading.
I think our issue is that coredns is the upstream for cluster.local with more than one instance behind service ip.
I am not sure if I am really right but we will probably test it.
If someone has a better understanding please let me know.

[2018-08-20 08:00] ateleshev commented on #58987
/reopen

[2018-08-20 08:09] mborsz opened #67584 "gce-1.11 fails with "Expected <int>: 0 not to be zero-valued""
It started happening on 2018-08-16:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1177
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1178
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1182

[code]

https://gi

[2018-08-20 08:14] zjzhangkui commented on #52657
@liggitt  is it normal the controller-manager continuous consumed 4.7g memory on 8G node?

I see a lot of [anon]  by "pmap -x 1" command.

1: kube-controller-manager --address=127.0.0.1 --leader-elect=true --use-service-account-credentials=true --service-account-private-key-file=/etc/kubernetes/pki/sa.key --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt --cluster-signing-key-file=/etc/kub
Ad

[2018-08-20 08:40] mhristache commented on #57280
Can someone explain who is responsible of cleaning up `/var/lib/cni/networks/`?

I have:

[code]

But there is a file inside `/var/lib/cni/networks/flannel.1` for all IPs above `10.244.0.41` and I get the error reported in this ticket:

[code]

Thank you

[2018-08-20 08:54] theobolo commented on #67261
@andyzhangx I did try with a bigger VM size but it's the same problem :

[code]
But i'm already with big D8s_v3 witch is a lot sufficent to run a single busybox pod :P

[2018-08-20 08:56] CiolFr opened #67588 "Referencing non existing var in conformance/run_test.sh"
/kind bug

**What happened**:
From `https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/conformance/run_test.sh`
conformance/run_test.sh doest not find kubeconfig file

**What you expected to happen**:
To find kubeconfig file

**How to reproduce it (as minimally and precisely as possible)**:
`run_test.sh` from conformance file

**Anything else we need to know?**:

Line 185 : Startin

[2018-08-20 08:57] wilsonsilva commented on #65575
Downgrading to `v1.10.5` works well too.

[2018-08-20 08:58] CiolFr commented on #67588
@kubernetes/sig-testing-bugs

[2018-08-20 08:59] Pingan2017 opened #67589 "no scheduler logs whether the pod scheduler successed or failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig scheduling

**What happened**:
whether the pod scheduler successed or failed， no logs can record it in scheduler.INFO.
**What you expected to happen**:
scheduler can print the result of pod scheduled like contorller-manager.INFO print the result of pod created.
**How to reproduce it (as minimally and precisely as possible)**:
deploy a

[2018-08-20 08:59] #61582 closed

[2018-08-20 09:05] yue9944882 commented on #67546
@liggitt i thought it's the buggy merge key this time again.. but i finally found out that it's the strategic patch stops recursion at the following lines when it does the patch for a container without `env`. so it won't go on respect the directives inside `env` like `$patch: delete` in this case.

[https://github.com/kubernetes/kubernetes/blob/39e341c11f9a18d7fcbf78e4dce6801131e2ba38/staging/src/

[2018-08-20 09:08] admssa commented on #67371
You can close the ticket, I have found out how does it work.
It uses cpu.shares only
https://github.com/kubernetes/kubernetes/blob/b00b504f57c54af2610d97998fbc80acf971dbba/pkg/kubelet/cm/node_container_manager.go#L137
so I can't just limit 1 kubepods using kubelet, I will have to set some part of cpu to other cgroups.
The best way to do this - set system-reserved and system-reserved-cgroup

[2018-08-20 09:10] crowfrog opened #67592 "[Graceful Shutdown]Pod is removed from endpoints list for service even "preStop" defined and not finished"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Pod is removed from endpoints list for service after user sends command to delete Pod
See:
https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
"Termination of Pods"

4. (simultaneous with 3) When the Kubelet sees that a Pod has been marked as terminating because the time in 2 has been set, it be

[2018-08-20 09:44] cheesemarathon commented on #60884
I think im having the same issue. Here are my docker logs for the api server:
[code]

[2018-08-20 09:59] mazengxie commented on #67515
I meet the issue too

[2018-08-20 10:17] admssa commented on #67371
/

[2018-08-20 10:17] #67371 closed

[2018-08-20 10:27] haoyehaoye commented on #64479
@jhorwit2 I have the same problem, but I do not enable --use-service-account-credentials=true in controller manager. Is there any other reason that my controller (replica set controller to be specific) which creates the pod using privileged PSP?

[2018-08-20 10:27] haoyehaoye commented on #55973
@luckyfengyong @php-coder
 I have the same problem, but I do not enable --use-service-account-credentials=true in controller manager. Is there any other reason that my controller (replica set controller to be specific) which creates the pod using privileged PSP?

[2018-08-20 10:32] inish777 commented on #67292
@islinwb @verwilst I have the same issue with the same configuration during update from 1.11.0
When trying to run command manually I get something like
[code]
and 1 in $?
I suppose that during update new version of kube-proxy trying to create ipset with same name but different config, so ```-exist``` doesn't work.

[2018-08-20 10:51] redbaron commented on #46705
etcd 3.3 is available for a while now

/remove-lifecycle stale

[2018-08-20 10:58] YoninL commented on #49387
I'm using `kubectl get po --all-namespaces | grep -vE '1/1|2/2|3/3'` to list all not-full-Ready pods.

[2018-08-20 11:01] #60111 closed

[2018-08-20 11:30] joe-boyce commented on #67250
Anybody have any ideas on this one?

[2018-08-20 11:38] islinwb commented on #67292
@inish777 Thanks! The `-exist` means
[code]
from http://ipset.netfilter.org/ipset.man.html.

I'll take a look at this problem.

[2018-08-20 11:41] k82cn commented on #67589
will there be too much logs?

[2018-08-20 12:02] #59123 closed

[2018-08-20 12:08] islinwb commented on #67292
@inish777 For your case, the probelm should be caused by https://github.com/kubernetes/kubernetes/pull/63585 and https://github.com/kubernetes/kubernetes/pull/65741.  In Kubernetes v1.11.0, ipsets are with comments which are removed in v1.11.1 . Sorry for the trouble brought.
@verwilst Did you install v1.11.2 directly? I guess it's the same problem.

Manually deleting these ipsets can be a workaro

[2018-08-20 12:12] fanux commented on #47184
We need runonce to init etcd cluster as static pod, then using kubeadm to init master.

[2018-08-20 12:16] m1093782566 commented on #67292
Yes, I think so.

[2018-08-20 12:29] islinwb commented on #67292
@verwilst Could you take a look at the difference between the existing ipset and the one with the same name to be created?

[2018-08-20 12:55] fanux commented on #42909
[code]
Runonce failed, version v1.11.1

[2018-08-20 13:07] neolit123 commented on #67592
/sig node

[2018-08-20 13:11] neolit123 commented on #67580
/sig node

[2018-08-20 13:14] neolit123 commented on #67579
please fill the issue template correctly:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md

[2018-08-20 13:15] neolit123 commented on #67577
/sig node
/kind bug

[2018-08-20 13:46] mborsz opened #67597 "5k node scalability tests are running on limited set of nodes"
Some attempts are using decreased number of nodes in tests, e.g.:
* In (green) https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/192 I see "Scheduling additional 3883 Pods to measure startup latencies"
* In (red) https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/195 I see "Scheduling addit

[2018-08-20 13:50] mborsz commented on #67597
This 'scheduling additional X pods to measure startup latencies' uses X = nodeCount for nodeCount >= 500 so apparently we have 3883 ready and schedulable nodes in /192 test attempt.

In kube-controller-manager logs for that attempt I see a lot of entries like:
[code]

Apparently we started exceeding some qps limits for GCE API calls.

[2018-08-20 13:53] liqlin2015 opened #67598 "Kubectl crashed with error pthread_create failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

`kubectl` crashed when we try to describe a pod.

[code]
**What you expected to happen**:

`kubectl` should return the right output.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11.1
- Cloud provider or hard

[2018-08-20 13:54] liqlin2015 commented on #67598
/sig kubectl

[2018-08-20 13:58] mborsz commented on #67597
We are starting the test before the cluster is properly initialized: we run validate-cluster.sh, but it stops when it finds more than 5001 nodes (regardless if they are ready or not):
https://github.com/kubernetes/kubernetes/blob/6d51311735705ecf30025df91216a82f397c9cfb/cluster/validate-cluster.sh#L110-L119

Our tests are using additional heapster node which gives 5002 in total and thus we don't w

[2018-08-20 13:58] sfudeus commented on #66568
@Huang-Wei Thanks for your efforts. I was not able to reproduce the issue yet with PodPriority=false in kube-scheduler on 1.11.2. Neither with sufficient nodes for the replicas nor with more replicas than nodes.
I'm waiting for the 1.11.x featuring your fix and will then retest with PodPriority=true

[2018-08-20 14:09] mborsz commented on #67597
In fact when we add heapster node, we create a one less 'regular' node, so it should be still 5001 nodes in the cluster.

I think that the 'wc -l'-based logic of counting nodes doesn't work in that case: kubectl_retry get nodes (the same command that is used to count $found and $ready) output printed after the validation is done contains:
* 10 "NAME STATUS ROLES AGE VERSION" headers
* 4998 nodes (

[2018-08-20 14:10] liqlin2015 commented on #67598
cc @liggitt

[2018-08-20 14:14] liggitt commented on #67598
what is the full version of the `kubectl` binary?

[2018-08-20 14:33] benyVip commented on #33714
That is helpful

[2018-08-20 14:35] hyprnick commented on #67473
@danilorsilva Thanks! This is an issue with the image.

[2018-08-20 14:35] #67473 closed

[2018-08-20 14:37] RedVortex commented on #50375
Same here, after a long weekend with major outages, I'm spending the morning deleting pods in order to clear out our alerts from our monitoring system that are based on the restart counter (sysdig).

This feature would save our devops team and on-call personnel time and effortsand keep our system more stable (not having to delete pods).

[2018-08-20 14:41] mohammedzee1000 commented on #66132
/reopen
These tests are failing again

[2018-08-20 14:42] mohammedzee1000 commented on #66132
/priority critical-urgent
/remove-priority important-soon

[2018-08-20 14:44] liggitt commented on #67577
is this a duplicate of #51135?

[2018-08-20 14:49] devnulled commented on #67217
Thanks @tanshanshan, I didn't realize it wasn't enabled by default.  Thanks for the help.

[2018-08-20 14:49] #67217 closed

[2018-08-20 14:53] mohammedzee1000 opened #67600 "Failing Test: DNS configMap federations should be able to change federation configuration"
# Failing Jobs
[sig-release-master-blocking#gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial)
# Failing Tests
[[sig-network] DNS configMap federations should be able to change federation configuration [Slow][Serial]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3980)
# Triage Results
[[sig-network] DNS

[2018-08-20 14:54] fhchina opened #67601 "E0820 14:40:39.306462 1 leaderelection.go:234] error retrieving resource lock kube-system/ceph.com-rbd: endpoints "ceph.com-rbd" is forbidden: User "system:serviceaccount:default:rbd-provisioner" cannot get endpoints in the namespace "kube-system""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
E0820 14:40:39.306462       1 leaderelection.go:234] error retrieving resource lock kube-system/ceph.com-rbd: endpoints "ceph.com-rbd" is forbidden: User "system:serviceaccount:default:rbd-provisioner" cannot get endpoints in the namespace "kube-system"

**What you expected to happen**:
I install ceph.com/rbd provisioner

[2018-08-20 15:02] jsafrane opened #67602 "Generated clientset can't watch CustomResources"
I am experimenting with CRD is `k8s.io/api`. I put my `types.go` to `staging/src/k8s.io/api/csi` and run `hack/update-codegen.sh`*. Such generated client(s) are part of the usual `clientset.Interface` with core Kubernetes APIs.

In kubelet and controller-manager, I can use the clientset to list my CRs  without any issues:

[code]

In kubelet and controller-manager, I can **not** use the clientset

[2018-08-20 15:02] jsafrane commented on #67602
/sig api-machinery
cc @deads2k, @smarterclayton, @nikhita

[2018-08-20 15:03] mohammedzee1000 opened #67603 "Failing Test: DNS configMap federations should be able to change federation configuration [Slow][Serial]"
# Failing Jobs
[sig-release-master-blocking#gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial)
# Failing Tests
[[sig-network] DNS configMap federations should be able to change federation configuration [Slow][Serial]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3980)
# Triage Results
[[sig-network] DNS