[2015-06-20 04:04] bgrant0607 commented on #9836
Closing as a dupe of #4282

[2015-06-20 04:04] #9836 closed

[2015-06-20 04:05] bgrant0607 commented on #4282
cc @bkeroackdsc

[2015-06-20 04:10] caesarxuchao commented on #9286
There are still 2 references to v1beta3 in the cassandra example. I will submit a patch.

[2015-06-20 04:17] bgrant0607 commented on #9057
I think a combination of describe rc and get pods is fine for now, since we've improved get pods and added label support to describe.

[2015-06-20 04:18] bgrant0607 commented on #9248
Closing since label selection is the preferred approach.

[2015-06-20 04:18] #9248 closed

[2015-06-20 04:20] bgrant0607 commented on #9631
I like `-L`

[2015-06-20 04:41] thockin commented on #9248
It would be nice to prefix-match like docker does with IDs.

On Fri, Jun 19, 2015 at 9:18 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-20 04:43] brendandburns commented on #9822
I dug into the kubelet and we do cache containers, but in theory, it's very brief (~2 seconds), but it's possible that we cache bad network containers.  Although the error is not the same

It's also the case that we don't validate that Docker hands us back running containers, we just trust that it will.

I have some ideas about what to explore the next time this happens.  Please ping me if it re-o

[2015-06-20 04:43] brendandburns commented on #9822
Also potentially related:

https://forums.docker.com/t/veth-device-immediately-dying-rhel-7/1812

[2015-06-20 04:46] thockin commented on #9633
1) I thought we returned PodList, ServiceList, etc for GET operations?

2) We have pkg/client/clientcmd/api/types.go, why does this need to be in
the main API file (assuming I am right on (1).

On Fri, Jun 19, 2015 at 5:01 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-20 04:46] brendandburns commented on #9822
Also see:

https://botbot.me/freenode/docker/2015-06-12/?msg=41669330&page=6

[2015-06-20 04:47] thockin commented on #9107
Anyone can install DNS, and should - What significant k8s installation
procedures currently omit DNS and do we care to support that operating mode?

On Fri, Jun 19, 2015 at 4:47 PM, Eric Paris <notifications@github.com>
wrote:

[2015-06-20 04:53] thockin commented on #10054
https://github.com/GoogleCloudPlatform/kubernetes/issues/9857

On Fri, Jun 19, 2015 at 5:45 PM, Mike Danese <notifications@github.com>
wrote:

[2015-06-20 04:56] brendandburns commented on #9822
And this:

https://botbot.me/freenode/docker-compose/2015-05-26/?msg=40195737&page=1

[2015-06-20 04:58] brendandburns commented on #9822
We should see if we can repro, by creating a container, then ripping the bridge out from under the container, then trying to join into the network namespace of that container.

[2015-06-20 05:01] thockin commented on #10018
closing for now, please reopen if needed

[2015-06-20 05:01] #10018 closed

[2015-06-20 05:07] thockin commented on #9461
can someone fill me in on this issue?  is it still an issue?

[2015-06-20 05:08] #9320 closed

[2015-06-20 05:25] zmerlynn commented on #9822
What's disturbing is that whatever this problem is, it's sticky on cluster recreating. Our repair process (which currently just knocks the master over and leaves the data PD to the side) doesn't actually heal over this problem - and it *really* should. I think I've just watched GKE repro it several times on the same cluster.

[2015-06-20 05:40] bgrant0607 commented on #9633
1. True. The list mentioned at the top of this issue actually has kind ServiceList.
2. List predates clientcmd/api/types.go. List was added in #2786. It doesn't appear in the swagger, only in types.go.

[2015-06-20 05:43] thockin commented on #9633
As I understand it the api/*/types.go List type is for use in json/yaml
files to hold a lit of multiple object types.  I just don't get why it is
in pkg/api and not pkg/client, if outr API doesn't actually support it.

On Fri, Jun 19, 2015 at 10:40 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-20 05:46] bgrant0607 commented on #9356
We have a similar policy internally (--borg-user for Googlers).

[2015-06-20 05:46] dchen1107 commented on #9822
hmm, I just came back online and wanted to dig the issue more.

@brendandburns I still don't understand why. I believe the cause of #9822 and #10122 are the same and introduced by kubelet configure cbr0, and restart docker. The puzzle I still have is that we restart docker daemon, which means the previous infra container is killed by docker, then re-created by kubelet when docker is up. In this ca

[2015-06-20 05:49] dchen1107 commented on #9822
@zmerlynn I never saw such issue. And @mikedanese tries to repro it for many times, and never see it. @cjcullen reported this before with his dev cluster, but later he said he couldn't reproduce it either. Why all the sudden we saw so many incidents with GKE? Are anything special related to GKE configurations?

[2015-06-20 05:51] bgrant0607 commented on #9633
Don't know, but added to my massive API/client overhaul list in #8190

[2015-06-20 05:53] thockin commented on #9633
SGTM

On Fri, Jun 19, 2015 at 10:52 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-20 05:53] brendandburns commented on #10137
@dchen1107 I agree that we shouldn't start until the network is ready.

Check out https://github.com/GoogleCloudPlatform/kubernetes/pull/10153

which achieves this.

[2015-06-20 06:12] bgrant0607 commented on #3030
cc @caesarxuchao, since it's related to the other apiVersion/kind issues

[2015-06-20 06:14] bgrant0607 commented on #9633
We would use the List type if we implemented watch of multiple kinds #1685

[2015-06-20 06:17] dchen1107 commented on #9822
Ok, I quickly checked the GKE master node @a-robinson sent to me. Here is what I had so far:

1) Looks like docker is never restarted:
[code]
2) Monit never see docker ps changed too

3) startupscript log capture the timestamp also indicates the docker is not restarted later:
[code]
4)  Since docker never restart, this explains my above question why infra container is not killed by docker, and rec

[2015-06-20 06:21] erictune commented on #1518
@davidopp
Approach 3: the controller for per-node pods also acts as specialized scheduler.  Nodes self-register in a default "unschedulable" state.  The controller for per-node pods both creates pods *and* binds them to nodes while node is in unschedulable state.  Here "unscheduleable" means "unscheduleable by the general purpose scheduler".   After it finishes binding all the per-node pods, it ma

[2015-06-20 07:08] erictune commented on #9819
have you seen https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/bare_metal_offline.md

[2015-06-20 07:16] davidopp commented on #1518
Interesting idea. As your last bullet implies, what you're describing is really a "node setup/configuration" controller.

I think this makes it clear that we haven't defined the requirements of whatever this thing is very crisply. It seems there are two possible interpretations

(1) It's a best-effort thing. Anybody can use it. We don't worry about races or priorities because it's
best-effort. The

[2015-06-20 07:24] dchen1107 commented on #10142
This crontab created just for watching monit, and at the end, the monit is started properly. Also at this moment, both docker and kubelet are not started by monit. Which is very unfortunately and making our boot sequence even more complicated but messy. But this shouldn't related to kube-apiserver at all. Kube-apiserver is started by kubelet, and container is started by docker. The problem is that

[2015-06-20 07:24] #10142 closed

[2015-06-20 08:53] kelseyhightower commented on #10143
@thockin I've been doing this for a few months now without issue, and it means one less thing to setup (cbr0).

[2015-06-20 12:25] derekwaynecarr commented on #10143
For systemd distro, can't kubelet unit file just add an After=docker.socket and there would be no race?

Sent from my iPhone

[2015-06-20 13:13] bakins commented on #9849
@davidopp I wouldn't I'd let any docs work we are doing hold up those PR's.

[2015-06-20 13:19] jhaagmans opened #10155 "Host-based load balancing"
We've been playing with CoreOS for a while, in which we'd use fleet to provision containers including a global [vulcand](http://vulcanproxy.com) service for which entries were written to etcd using logic like this:

[code]

This works, but for many reasons we weren't very happy with our CoreOS setup and haven't pushed it to our development/staging environments. Kubernetes seems to be the definitiv

[2015-06-20 13:28] erictune commented on #9717
We mean conformance test.  Will send out more details soon.

[2015-06-20 14:20] mwielgus commented on #10013
There is already a [test]( https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/examples_test.go) that checks if the configs are parseable an have reasonable content.

[2015-06-20 15:39] fcantournet commented on #10155
I'm not sure I understand what you want to do, but if you want to hook on the creation and deletion of kubernetes services, you can use the watch services url

http://%your_kubernetes_master%/api/v1/watch/services

checkout the kiwi project from Lars Kellogg-Stedman. https://github.com/larsks/kiwi
It's not compatible with kubernetes API v1, so i've forked it and (sort of) fixed it.

Shoud give you

[2015-06-20 16:47] dchen1107 commented on #10143
@derekwaynecarr and @kelseyhightower please see my comments at
https://github.com/GoogleCloudPlatform/kubernetes/pull/10153#issuecomment-113729964

Also I believe both your cloudproviders don't pass --configure-cbr0 to your kubelets yet. Instead the network is configured with pre-allocated CIDR at machine up time. In this case, there is no race.

[2015-06-20 16:54] smarterclayton commented on #9356
If we move the Kubernetes service to a Kubernetes namespace we may want to rename it to something like "api" or "master" and shorten the other service names "dns".  Would require changes to the kubelet for env vars though.

[2015-06-20 17:12] marekbiskup opened #10156 "kubectl describe node succeeds for a nonexisting node"
[code]

 1. error is found in the first case, but not in the second one
 1. the word minion should be replaced by node

[2015-06-20 17:12] marekbiskup commented on #9546
Reported #10156 for my first comment here

[2015-06-20 17:18] thockin commented on #9356
Yeah, I am very afraid that there are numerous things that assume "default"
is special and we will just miss some.
On Jun 20, 2015 9:55 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-06-20 17:19] smarterclayton commented on #9356
e2e test that randomly deleted the default namespace during the runs should do it :)

[2015-06-20 17:20] brosner commented on #10155
I have had this exact need and looked at many options before deciding to write my own HTTP router. It is very rough around the edges, but it may give you more pointers or I would love additional contributions. https://github.com/eldarion-gondor/k8s-http-router

As I understand it, Kubernetes is looking to support L7 HTTP routing natively.

[2015-06-20 17:33] marekbiskup opened #10157 "remove a possible panic from a deferred function in test/e2e/resize_nodes.go"
Failf in a deferred function may cause a double-panic when the deferred function was run after panicking.

The problem exists for reverting iptables filter and may be in other places.

This should be cleaned up. It would also be good to review other e2e tests where this may occur.

cc @lavalamp, @quinton-hoole

[2015-06-20 18:23] thockin commented on #9356
Nah, a bunch of stuff will work well enough at startup and then not fail or
fail in unrelated ways.
On Jun 20, 2015 10:20 AM, "Clayton Coleman" <notifications@github.com>
wrote:

[2015-06-20 18:27] alexanderguzhva opened #10158 "0.19.1, high cpu usage of idle k8s cluster, skydns problem?"
it seems that k8s keeps trying to start skydns and is unable to

### setup
* kubernetes v0.19.1 (bb63f03), trying vagrant version out of the box
* added "export NUM_MINIONS=2" and "KUBERNETES_PROVIDER=vagrant" to a host machine
* vagrant: 1.7.2, virtualbox: 4.3.28
* run "cluster/kube-up.sh"

### problem
* "top" on host machine shows that CPU usage is high. This is for i5-5200U ubuntu laptop, but I

[2015-06-20 18:40] jhaagmans commented on #10155
@fcantournet That's indeed what I was looking for, thank you. If I'd be able to have a container running a script watching this stream and responding accordingly to this stream, I should be able to push messages to a loadbalancing container. I'd have to work it out some more, but the project you mentioned should give me enough pointers to get me started, indeed.

@brosner Well, that's looking wond

[2015-06-20 18:40] #10155 closed

[2015-06-20 18:42] thockin commented on #10155
L7 is a high priority for me after 1.0
On Jun 20, 2015 11:40 AM, "jhaagmans" <notifications@github.com> wrote:

[2015-06-20 19:22] zmerlynn commented on #10142
Why closed? It's low priority but it's still a bug. It's extremely noisy
and hard to separate from an actual bug on startup.
On Jun 20, 2015 12:25 AM, "Dawn Chen" <notifications@github.com> wrote:

[2015-06-20 19:44] jeffbean commented on #9903
I am working to get a working reproduction process that I can share to help figure this out.

[2015-06-20 19:59] thockin commented on #10158
I think the root of this is the `Cannot get host IP: cannot get node: node
kubernetes-master not found`.  If you SSH into one of the minions, can you
`ping kubernetes-master` ?

On Sat, Jun 20, 2015 at 11:28 AM, Alexander Guzhva <notifications@github.com

[2015-06-20 20:19] alexanderguzhva commented on #10158
yes
[code]

[code]

[2015-06-20 21:02] thockin commented on #10158
@dchen1107 or her gang - I am not sure why else that message is coming out.

On Sat, Jun 20, 2015 at 1:19 PM, Alexander Guzhva <notifications@github.com>
wrote:

[2015-06-21 03:02] wangzhezhe opened #10159 "how to start the kube api server with https?"
Hi , I'm trying to connect the kube-apiserver by https, this is the info when I start the api server：
[code]
when I use the same ca.cert file to connect the api server in another machine I got the following mistake:

[code]
Could any one give me some suggestions? Than you!

[2015-06-21 03:53] thockin opened #10161 "DNS searches across namespaces is BROKEN on some OSes"
Debian wheezy:
[code]

Debian jessie (and ubuntu 14.04):
[code]

Our DNS tester just happens to be based on wheezy, as does our container VM image.  Apparently this does not (and has never?) worked for other OSes.  There is a resolv.conf param called "ndots" that governs this and it is documented as defaulting to 1 while we need it to be at least 3.  I found a thread where someone else also saw th

[2015-06-21 04:21] thockin opened #10163 "switch dnsutils container to a smaller base"
It's WAY smaller, but it requires either tests use +ndots=3 or a docker fix for ndots.

[2015-06-21 06:56] ArtfulCoder commented on #10161
Per https://docs.docker.com/articles/networking/, docker mimics the /etc/resolv.conf from host, onto the container if we dont use dns flags while creating the container.

So one way could be to modify the /etc/hosts file on each node to have the additional nameserver, new search paths and the ndots option.

This also helps make cluster dns available to nodes and not just pods.

[2015-06-21 09:20] imesh opened #10164 "Kubernetes Dashboard - Graphs do not display legends in full"
I noticed this problem since Kubernetes introduced the Dashboard, please see the below image. If possible I would like to contribute to fix this issue:

Kubernetes version: 0.18.0
Environment: Vagrant, CoreOS 717.0.0

![screen shot 2015-06-21 at 2 36 51 pm](https://cloud.githubusercontent.com/assets/56142/8271127/51de8ea0-1824-11e5-9b2a-a51cc39e2b32.png)

[2015-06-21 15:42] MalteJ opened #10166 "Proposal: Network Labels for pods (e.g. for security-groups), libnetwork remote driver"
# libnetwork
Docker has got a new network stack: [libnetwork](https://github.com/docker/libnetwork)
libnetwork supports external logic to manage container networking via a remote driver API.
When starting up a container libnetwork asks the remote driver to create one or more network endpoints, set them up and attach them to the container. It is possible to provide user defined options in form of k

[2015-06-21 16:08] smarterclayton commented on #10161
That would explain why we didn't see this in most of our (OpenShift) testing - we moved the resolver entry for service DNS to the node resolv.conf so that the docker daemon could resolve service DNS names and apply SSL certificates to the internal hosted Docker registry (which was a service).

[2015-06-21 16:29] thockin commented on #10161
Do you set ndots?  How do you do namespace-relative resolving without a
search path for each namespace?
On Jun 21, 2015 9:09 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-06-21 20:18] ArtfulCoder commented on #10161
To make the resolv.conf pod-specific, kubelet could create a pod-specific foo-pod-resolve.conf and mount foo-pod-resolv.conf to /etc/resolv.conf for the pod's pause container.

This is not a clean solution, but could be a workaround till docker gives the ndots flag.

[2015-06-21 20:40] cjcullen commented on #10159
The `--cacert` option tells `curl` to use the provided certificate authority to verify the server cert that the apiserver present.

The `HTTP/1.1 401 Unauthorized` you get is because the secure endpoint on the apiserver requires that the client present some form of authentication. That can be done through client-certificate, bearer token, or HTTP basic auth.You can read more about those three opti

[2015-06-21 21:13] nzwulfin commented on #9107
I think the conformance testing talked about in https://github.com/GoogleCloudPlatform/kubernetes/pull/9816 and https://github.com/GoogleCloudPlatform/kubernetes/issues/9717 are steps toward what I'm looking for.  Definitive answers as to what needs to be available at any particular release.

But this is still test first, is there a plan to make the assumptions in the tests available in a doc?  I

[2015-06-21 21:52] thockin commented on #10161
Abhi,

Great idea but I can't find a way to make Docker respect that as a volume
mount - it seems to always write it's own, no matter what

On Sun, Jun 21, 2015 at 1:18 PM, Abhi Shah <notifications@github.com> wrote:

[2015-06-21 22:13] amygdala commented on #4630
Just a vote that this seems fairly important -- e.g. since kube-down.sh doesn't clean up the external load balancer forwarding rules, it's easy to accumulate a whole slew of them.  I know enough to go in and clean them up by hand every once in a while, but we shouldn't expect our users to know to do that.

[2015-06-21 22:38] pmorie commented on #10163
Out of curiousity, does this busyboc have selinux support compiled in?

[2015-06-21 22:53] andronat opened #10168 "Update all kubectl get output in the documentation"
As it is happening at #10167, we need to update all the documentation on the `kubectl get` output. Also inform the user for the `--label-column=` option for further information.

This is due to the update we had in #9032 and #9876

[2015-06-21 22:56] bgrant0607 commented on #4630
Does deleting the services cause the forwarding rules to be deleted? If not, then that's the first thing we should fix. If so, then we could start by just deleting all services, from all namespaces.

[2015-06-21 23:00] bgrant0607 commented on #7257
cc @kelseyhightower for his input on best practices for using K8s

[2015-06-21 23:28] smarterclayton commented on #10161
Yeah it's not possible to mount over

[2015-06-22 00:25] ArtfulCoder commented on #10161
[code]

The reason the mount didnt work from the pod definition is because the volume did not get mounted on the pause container which controls the network namespace. If we modify kubelet to mount the custom resolv.conf on the pause container, it should work.

[2015-06-22 02:10] wangzhezhe commented on #10159
Thank you for your suggestions! there are thee questions:
1. how should I config the port of api server when I try to use the token to make an authentication? Actually I try to start the api server like this :
[code]
than I connect the server :
[code]

[2015-06-22 02:33] saad-ali commented on #5880
Here are the results from a 100 node cluster 5000 pod run.

## Test Setup
* Cluster characteristics:
  * 100 nodes
  * `n1-standard-1 (1 vCPU, 3.75 GB memory)`
* Test duration: 20 hours total
  * 3 hours under "*no load*" to get a baseline
    * No additional pods/containers other than default
  * 17 hours under "*high load*"
    * 5000 additional pods, with 2 containers each
      * Was only able

[2015-06-22 03:40] thockin commented on #10161
That is not the behavior I see.

[code]

On Sun, Jun 21, 2015 at 5:25 PM, Abhi Shah <notifications@github.com> wrote:

[2015-06-22 03:42] thockin commented on #10163
How would I tell?

progrium/busybox

FWIW, if there was an ultra-min RH distro for use inside containers, I'd be
even happier.  Is someone working on that?

On Sun, Jun 21, 2015 at 3:39 PM, Paul Morie <notifications@github.com>
wrote:

[2015-06-22 04:14] a-robinson commented on #4630
Yes, deleting the services causes the forwarding rules to be deleted.

[2015-06-22 05:21] pmorie commented on #10163
@thockin I'm doing my own test now, was in airports earlier

On Sun, Jun 21, 2015 at 11:42 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-06-22 05:23] pmorie commented on #10163
Doesn't look like it supports it :-/

be even happier. Is someone working on that?

Very interesting question.  I don't know about _inside_ containers -- I'm
at RH Summit this week and will ask around.

On Mon, Jun 22, 2015 at 1:21 AM, Paul Morie <pmorie@gmail.com> wrote:

[2015-06-22 05:34] mikedanese commented on #10164
dup of #9347

[2015-06-22 06:15] marekbiskup commented on #10136
I'm taking it now

[2015-06-22 06:59] marekbiskup commented on #10136
@quinton-hoole , how can I find the failed runs of the test?

[2015-06-22 07:09] davidopp commented on #10137
It sounds like we're not going to upgrade to etcd v2.0.12? If so, we should close this issue (and #10140) and continue the discussion on #10153.

[2015-06-22 07:11] wojtek-t commented on #8132
cc @fgrzadkowski

I think that one thing that we should do in this area is to just change the communication between apiserver and etcd to protocol-buffer-based. If we just do this, we don't need to even translate our api objects to protobuffers (and still store serialized json objects in etcd). However, my feeling is that the gain from just switching etcd<->apiserver communication to protobuffers

[2015-06-22 07:16] marekbiskup commented on #10136
The error message is from the wait.Poll function. I'll create another wait.PollMsg that takes an error message to return something more meaningful that "error waiting for the condition".
e.g. "waiting for the condition: `pod is successfully scheduled`" .

[2015-06-22 09:38] adyanthaya17 commented on #9237
Hi, is there another way to fix the kubectl command issue here.

[2015-06-22 10:38] marekbiskup commented on #10136
#10171 improves the error messages from this test.

I have no idea where to find logs from the system from a failed execution. So it is not possible to investigate the error without reproducing it.

@quinton-hoole , are there any plans for gathering system logs (not test logs) from a failed execution of a ne2e test?

For now I'll just increase the timeout. Its in #10172.
In the meantime I'll try t

[2015-06-22 11:33] piosz commented on #3954
I ran the test several times and the results seem to be pretty stable. @wojtek-t is going to enable the test on Jenkins by default.

* perc50: 2.46s, perc90: 3.42s, perc99: 5.57s
* perc50: 2.49s, perc90: 4.09s, perc99: 5.56s
* perc50: 2.36s, perc90: 3.47s, perc99: 4.78s
* perc50: 2.37s, perc90: 3.10s, perc99: 3.95s
* perc50: 2.33s, perc90: 3.82s, perc99: 5.94s

[2015-06-22 12:26] davsclaus commented on #4121
+1 we see pods being restarted every 2nd issue due some mis configuration or if the image had some other failures.

[2015-06-22 13:12] maulik887 opened #10177 "Setting up KubernetesUI and Grafana UI in single node kubernetes cluster"
I have simple kubernetes running on ubuntu like it mentioned [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md). Here I wanted to configure kubernetes UI along with Grafana UI so that I can do/monitor stuff using UI.

I have followed [KubernetesUI](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/ui.md) project and [this](h

[2015-06-22 13:30] kelseyhightower commented on #10143
I think long term we should migrate towards the new `docker network` command, which will allow us to ensure the right bridge network is in place and attach containers too it. As of docker 1.7 this functionaliity is marked experimental, but the underlying libnetwork is being used by default. https://github.com/docker/docker/blob/master/experimental/networking.md

[2015-06-22 13:52] kelseyhightower opened #10178 "Use docker 1.7 network command to setup bridge"
As of Docker 1.7 network plugins have been marked experimental and will soon allow the following workflow:

Kubelet ensure proper Kubernetes network bridge is in place

[code]

[code]

[code]

More details regarding network plugins can be found here: https://github.com/docker/docker/blob/master/experimental/networking.md

[2015-06-22 13:55] ArtfulCoder commented on #10161
@thockin I see the behavior you see. sigh..
My node's /etc/resolv.conf was modified as well in my initial test and when I tried to mount /etc/resolv.conf it was the same version. So I couldnt see that docker was overriding it.

Node's /etc/resolv.conf always wins.

[2015-06-22 14:04] bgrant0607 opened #10179 "Generalize prevention of accidental deletion / mutation"
PR #9975 added hardcoded protection of the default namespace to the Lifecycle admission controller. This mechanism at least needs to be configurable, since Openshift and Kubernetes have additional infrastructure namespaces they'd like to protect. However, it also needs to be possible to remove the protection to shut down a cluster #4630, without making it susceptible to accidents. One solution wou

[2015-06-22 14:20] bgrant0607 commented on #1535
More cases where we want to clean up resources robustly:
1. Cloud load balancers after their corresponding services have been deleted: https://github.com/GoogleCloudPlatform/kubernetes/pull/5025#issuecomment-77381160
2. Terminated pods: #7660

[2015-06-22 14:35] bgrant0607 commented on #4630
cc people  who commented on #5025: @smarterclayton @derekwaynecarr @erictune @thockin

I proposed an alternative in #10179 -- a `protected` field, which could be unset prior to shutdown, allowing recursive deletion of namespaces to clean up everything. I agree that we shouldn't require external/centralized knowledge of which Kubernetes resources provision which external resources in the long run.

[2015-06-22 14:36] ArtfulCoder commented on #10161
[code]

[2015-06-22 14:53] ArtfulCoder commented on #10161
Unfortunately, this means that every container would have to be able to run as privileged to execute umount..

[2015-06-22 14:53] bgrant0607 commented on #8190
An idea: Eliminate the "internal" representation.

Why?
* We try to keep api/types.go similar to the latest API version, anyway, necessitating pervasive code and test changes every time we make such a change.
* The so-called "internal" representation is used by all clients currently, which we'd like to change for all clients and components other than apiserver and Kubelet (#4874, #3955).
* Some of

[2015-06-22 14:54] maklemenz commented on #9324
@bkeroackdsc can you please share the configuration you came up with?

[2015-06-22 14:55] bgrant0607 commented on #8132
We should also consider eliminating common-case conversions, as I just proposed in #8190.

[2015-06-22 14:57] wojtek-t commented on #8132
@bgrant0607 - this is at least worth considering. But in my above post, it will be the part of (1).

[2015-06-22 15:16] timothysc commented on #8132
At this point, does it make sense to create a laundry list ticket for post 1.0 performance ideas, and reference this ticket as one option.

We are starting to create a laundry list in this ticket...

[2015-06-22 15:29] ArtfulCoder commented on #10161
To run the container in non-privileged mode, and still override resolv.conf we can do the following:
[code]

[2015-06-22 15:33] juliaferraioli commented on #9414
@amygdala do you think this was addressed by your gce cleanup?

[2015-06-22 15:41] thockin commented on #10161
And they would all have to have and run umount.  This is a non-starter, I
think.

On Mon, Jun 22, 2015 at 7:53 AM, Abhi Shah <notifications@github.com> wrote:

[2015-06-22 15:42] ArtfulCoder commented on #10161
Steps would be:
1. kubelet starts every container with an additional mount /etc/containerFoo_resolv.conf:/etc/resolv.conf
2. kubelet runs nsenter -m -u -n -i -p -t $pid_of_container umount /etc/resolv.conf

[2015-06-22 15:47] thockin commented on #10163
Someone build me ufedora, which is 5 MB big and has a shell and just enough
to run `yum install`

On Sun, Jun 21, 2015 at 10:23 PM, Paul Morie <notifications@github.com>
wrote:

[2015-06-22 15:48] thockin commented on #10161
This is a race with containers actually starting up.

On Mon, Jun 22, 2015 at 8:43 AM, Abhi Shah <notifications@github.com> wrote:

[2015-06-22 15:58] ArtfulCoder commented on #10161
The node's /etc/resolv.conf isn't wrong.. it is just insufficient and does not resolve cluster dns names.
We will have a more complete /etc/resolv.conf eventually.

Also, since ndots is not specified in the original /etc/resolv.conf, we don't have to worry about incorrect resolutions..
We do this only where the ndots workaround is required.

[code]

[2015-06-22 16:04] smarterclayton commented on #10161
We could also use dnsmasq on the node and configure the container to point to that.  I believe we can do anything at that point (assuming dnsmasq supports ndot arbitrarily).

[2015-06-22 16:06] bprashanth commented on #10030
Replying to @davidopp comment on the pr, since the comment will be lost once the pr is closed.

There's still the case of the standby not knowing how many requests are in flight if the primary goes down during a resize (eg: manager 1 creates 1000 replicas, it dies, manager 2 takes over and starts up a watch, sees 900 replicas because 100 are still in flight and decides to create 100 more). It will

[2015-06-22 16:13] smarterclayton commented on #10161
Although I guess that's still controlled inside the container.  I don't know if there's a way around having ndots written to inner container.  Everything else is arbitrary search.

[2015-06-22 16:19] ArtfulCoder commented on #10161
We can do the following:
1. kubelet starts the container with all the dns flags it uses today (additional nameserver, domain etc)
2. Additionally kubelet adds the /etc/resolv.conf mount

At this point, functionality-wise, nothing has changed. The /etc/resolv.conf is ignored. but for containers without the ndots problem, life goes on as before.
containers with the ndots problem still face the same

[2015-06-22 16:19] jlowdermilk commented on #9237
According to @WIZARD-CXY this was (actually-for-real-this-time) fixed with #10005. Have you tried it with a recent build?

[2015-06-22 16:22] WIZARD-CXY commented on #9237
yeah , I confirmed

May the force be with you

[2015-06-22 16:40] bgrant0607 commented on #8132
No, let's put the laundry list elsewhere. For API- and client-related things, that's #8190.

[2015-06-22 17:00] thockin commented on #10161
This might just work. It's a little scary, but it might work.
On Jun 22, 2015 9:20 AM, "Abhi Shah" <notifications@github.com> wrote:

[2015-06-22 17:26] smarterclayton commented on #10161
Scary.  Seems like ndots is a pretty valuable thing for Docker in general - is there already an issue open to consider it?

[2015-06-22 17:34] thockin commented on #10161
Yes, I have a sketch PR for them, too.
On Jun 22, 2015 10:27 AM, "Clayton Coleman" <notifications@github.com>
wrote:

[2015-06-22 17:42] RichieEscarez opened #10183 "Validate, add missing, or remove invalid help topics from new App. Developer bucket in site nav tree"
Is the structure and content of the new site navigation tree accurate and complete?
[code]

Alternative:
Is it beneficial to move "Application Administration" to the top level?
[code]

[2015-06-22 17:49] cjcullen commented on #10159
You still need to specify `--cacert` with your curl command. Otherwise, curl will use your OS's default CA bundle (which the apiserver's cert will not trace back to).

Your full command should look like:
[code]

[2015-06-22 17:52] dchen1107 commented on #10158
cc/ @mikedanese since he rencently touched that code. Thanks!

[2015-06-22 17:53] #10003 closed

[2015-06-22 17:56] quinton-hoole commented on #10136
@marekbiskup The logs are already being uploaded to Google Cloud Storage.  See the "Google Cloud Storage Upload Report" link in the left menu when you're looking at a failed Jenkins run.

I'm not sure that increasing the timeout is a good idea.  Do you have any data to suggest that it is a good solution?

[2015-06-22 18:00] lavalamp commented on #10179
Suppose we implement access policies, and make a super-user own system component objects; then is this still necessary? It seems like a bit of a hack.

[2015-06-22 18:06] lavalamp commented on #8132
One thing I would like to try is to make an alternative BSON (http://bsonspec.org/) encode/decode mechanism. With any luck, this would get the benefits of a binary format while being extremely easy to fit into our current system, since it's literally a binary form of JSON.

There's a decent go library for it: http://godoc.org/labix.org/v2/mgo/bson

But I expect we'd need to go the generated code r

[2015-06-22 18:09] mikedanese commented on #10158
The kubelet 'Cannot get host IP' is log spam on the master's kubelet that was fixed after 0.19.1 was cut in commit https://github.com/GoogleCloudPlatform/kubernetes/commit/64482907ab47db37cc1d8eb2988120b50c609f95. It's likely a red herring.

[2015-06-22 18:16] benmccann commented on #8798
See also https://github.com/GoogleCloudPlatform/kubernetes/issues/9892

[2015-06-22 18:21] bkeroackdsc commented on #9324
@maklemenz My cluster is running on CoreOS in AWS, more-or-less based on [the docs](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md). I noticed that after the cluster came online I had a "kube-dns" service but no corresponding controllers or pods.

I began using the [example controller](https://github.com/GoogleCloudPlatf

[2015-06-22 18:26] mikedanese commented on #10164
Closing as duplicate in favor of #9347

[2015-06-22 18:26] #10164 closed

[2015-06-22 18:29] derekwaynecarr commented on #10179
Is toggling protected a normal edit operation or is it something done separately akin to how status updates are handled?  I viewed what was done in #9975 as the bare minimum to protect users of Kube 1.0, but I am not adverse to removing that protection once we have a more thought out solution.

[2015-06-22 18:55] #9631 closed

[2015-06-22 18:56] setantam opened #10190 "Get https://gcr.io/v1/_ping: tls: failed to parse certificate from server: x509: RSA modulus is not a positive number"
Hi,

I'm on rhel 6.6, go 1.4.2 and a recent pull of k8s release-0.19.0 (21st June 2015). I'm also behind a firewall but should have all the proxies set up properly.

I'm new to kubernetes. I'm trying to go through the "local" getting started guide. I can kick things off by running hack/local-up-cluster.sh, but I can't get a pod running. In the /tmp/kubelet.log there's a `Get https://gcr.io/v1/_pin

[2015-06-22 19:16] karlkfi commented on #3580
@derekwaynecarr I see 3 tests still being skipped, linking to this issue:
1. [DNS should provide DNS for the cluster](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/dns.go#L148)
1. [DNS should provide DNS for services](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/dns.go#L213)
1. [Networking should function for intra-pod communication](https://githu

[2015-06-22 19:24] smarterclayton commented on #8190
Interesting.  Would that force us to upgrade all objects in the code base at the same time (from v1 to v2) because we only want to maintain one version as the hub of the scheme?  I guess we could could convert through the storage version (no worse than today).

Also removes any possibility of having the internal version having conveniences like maps or simpler structures (although I'm provisionall

[2015-06-22 19:32] quinton-hoole commented on #10144
See #10146 for details.

[2015-06-22 19:55] nikhiljindal commented on #9546
https://github.com/GoogleCloudPlatform/kubernetes/pull/9966 is now submitted and you should not be getting those error messages any longer.

[2015-06-22 19:55] #9546 closed

[2015-06-22 20:11] #8868 closed

[2015-06-22 20:11] #9878 closed

[2015-06-22 20:14] timothysc commented on #10030
@bprashanth, why can we gather the details of the pending items as well?  It only see (x) running, but why gather and += pending?

[2015-06-22 20:20] #10054 closed

[2015-06-22 20:20] alex-mohr commented on #10137
We decided to update etcd to 2.0.12 in #10140.  @dchen1107 will also pick up #10153 to address #10122.

[2015-06-22 20:20] #10137 closed

[2015-06-22 20:29] davidopp commented on #8132
+1 for having a single place to record all of the post-1.0 performance ideas (but not using this issue to do it). The list can point into #8190, this issue, etc.

I can set something up in docs/proposals unless someone has a better idea.

[2015-06-22 20:35] bprashanth commented on #10030
Not sure I understand what you mean. The case I'm talking about the requests are in flight (sent by the old manager, not yet written to etcd)

[2015-06-22 20:47] lavalamp commented on #10030
@timothysc It does see pending pods; it just won't see pods that have been created but not yet propagated. There should really not be very many pods in this category, and for this reason I think it is probably not a problem at the moment. #10147 therefore at least knocks this issue down to p3 and post-1.0.

[2015-06-22 20:55] jlowdermilk commented on #10190
@mattmoor can you take a look?

[2015-06-22 20:57] a-robinson opened #10194 "SSH tunnel controller keeps thinking it's out of sync with the nodes on cluster with no nodes"
On a cluster with no nodes, the SSH tunnel code keeps trying to replace tunnels to stay in sync with the "different" nodes, even though it's in a steady state of not having any nodes. The logs below are being logged every second:

[code]

@cjcullen @lavalamp

[2015-06-22 20:57] karlkfi opened #10195 "godep restore/update failing on mac"
godep commands are failing on mac (head of master).

I'm pretty sure godep is doing a `go get` which tries to build the code, instead of just checking it out. So it's failing trying to build `github.com/google/cadvisor/api` and `golang.org/x/exp/inotify`.

Go installed with homebrew.
`GOPATH=/Users/karl/workspace/k8s-master`

[code]

[code]

[2015-06-22 20:59] bprashanth commented on #10080
The events deletion at least is handled by https://github.com/GoogleCloudPlatform/kubernetes/pull/10175.

[2015-06-22 21:03] karlkfi commented on #10195
I managed to get godep commands to work:
1. Remove `github.com/google/cadvisor/http` and `golang.org/x/exp/inotify` from Godeps.json
2. Performing the godep commands
3. Re-add `github.com/google/cadvisor/http` and `golang.org/x/exp/inotify` to Godeps.json

[code]

[code]

[2015-06-22 21:03] lavalamp commented on #10194
Lol-- I'm already making some changes there so I'll fix this. Clusters with no nodes should be rare now and impossible in the future (once we fully self-host).

[2015-06-22 21:05] vishh commented on #10195
cc @rjnagal

[2015-06-22 21:16] bprashanth opened #10196 "Kubectl run 'path to static binary'?"
Before I can run a static binary in a pod on some random node in my cluster, I need to:
* create a docker file/image
* upload to registry
* create a pod/rc manifest

This has a learning curve and an external dependency that most people are uncomfortable with (google the hn thread on docker complaints). Is kubectl run-binary something we're intentionally avoiding? Otherwise I don't think it's too h

[2015-06-22 21:19] jlowdermilk opened #10198 "Shippable timeouts from nested concurrent test"
#9785 seems not to have fixed it. If we can't fix it easily, can we disable the test? This is a test in /contrib that is now blocking progress for non-contrib PRs.

[2015-06-22 21:21] karlkfi commented on #9681
Ginkgo Skip PR has been merged. Created new PR to use Skip: #10197

[2015-06-22 21:29] davidopp commented on #10183
Second version ("Alternative") looks good except (1) I would move rolling update into the replication controller section and (2) probably "pod lifecycle" should go in Application Administration. BTW I assume Cluster Administration will also be on the top-level along with App Administration and App Development?

[2015-06-22 21:31] amygdala commented on #9414
Not really -- this one is still on my stack.  (should be an easy change though)

[2015-06-22 21:35] nikhiljindal commented on #10084
Please feel free to reopen, if you still have issues.

[2015-06-22 21:35] #10084 closed

[2015-06-22 21:43] nikhiljindal commented on #9873
Patch now works after https://github.com/GoogleCloudPlatform/kubernetes/pull/9993

I am updating ```kubectl update``` to allow updating a resource without resourceVersion in https://github.com/GoogleCloudPlatform/kubernetes/pull/10074.
If there is no resourceVersion specified in the user given json, then we add to it the resourceVersion from the latest etcd object.

[2015-06-22 22:07] yifan-gu commented on #9534
@erictune How many pods are you running beside of this one? Or are you able to provide the full kubelet.log? I cannot reproduce on gce with the current HEAD(bec793119b4bfdd6dbf11e1142c631c346e5021a) :(

[2015-06-22 22:08] cjcullen commented on #10122
Looks like updating to etcd 2.0.12 did not fix this issue. Another failure from last night:
From the kube-apiserver logs.
[code]
And in the etcd container's logs:
[code]
Just to confirm:
[code]

[2015-06-22 22:14] RichieEscarez commented on #10183
Yes, at top level with Cluster Administration. Here are the changes:

**```User's Guide```**
[code]

[2015-06-22 22:21] yifan-gu commented on #9534
After looking at the code, my suspicion is that there is a race between `podWorkers.UpdatePod` and  `cleanupOrphanedVolumes` in `kubelet.SyncPods()`.
As `UpdatePod` is asynchronous, is that possible that `cleanupOrphanedVolumes` removes the mounted volumes right after the volumes is mounted but before the container is created. Especially the `runningPods` we provides into `cleanupOrphanedVolumes`

[2015-06-22 22:24] lavalamp commented on #10115
I will fix this breakage.

[2015-06-22 22:38] yujuhong commented on #9534
Some thoughts:

1. `runningPods` were grabbed directly from container runtime [right before calling `cleanupOrphanedVolumes`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1439). Although it's still possible that it'd be stale, it's less likely.

2. `cleanupOrphanedVolumes` computes the "desiredVolumes" by looking at the current list of pods (not `runningPod

[2015-06-22 22:45] davidopp commented on #10183
I would combine "creating' with "configuring" all the places where you have them split into two categories (e.g. change to "creating and configuring...")

And for  replication controllers, I would organize it like this

[code]

[2015-06-22 22:55] jlowdermilk opened #10202 "`kubectl update -f` not very usable"
[code]
Instead of ignoring absent omitempty values from the spec, it appears to be providing a "default" value.

[2015-06-22 23:06] mikedanese commented on #10202
This is the correct semantic of a PUT according to our api-convention. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#verbs-on-resources. PUT is meant to be a _replace all_ with the provided object including setting unprovided fields to default values. The alternative is for update to use PATCH by default. It would also be a more consistent kubectl experience

[2015-06-22 23:17] quinton-hoole commented on #10136
For example, when this test passes, it always takes 32-35 seconds.  I don't think that increasing the timeout to 3 minutes will improve the success rate.  It will only make failures take a lot longer.

[2015-06-22 23:18] quinton-hoole commented on #10146
To clean up cross-references, I believe this to be caused by #9862, specifically the above commit portion of it.

[2015-06-22 23:19] quinton-hoole commented on #10146
@mikedanese has a proposed fix in  #10201

[2015-06-22 23:21] erictune commented on #7871
working on this now.

[2015-06-22 23:21] jlowdermilk commented on #10202
Making patch a bool flag would make sense to me. That way the command from above
[code]

Would work (no-op) as expected. I would vote yes on making `--patch` the default in that case as well.

[2015-06-22 23:31] #10198 closed

[2015-06-22 23:55] yifan-gu commented on #9534
@yujuhong Thanks for providing the thoughts. So I am able to get the "impossible: cannot find the mounted volumes for pod " by:

1. Pause the kubelet to stop before [kl.containerRuntime.SyncPod()](https://github.com/GoogleCloudPlatform/kubernetes/blob/release-0.19/pkg/kubelet/kubelet.go#L1145) by adding some delay.
2. When kubelet is stuck in this place, kubectl delete the pod. This will cause the

[2015-06-23 00:03] yujuhong commented on #9534
@yifan-gu, your steps make sense, but it'd only happen if the pod no longer exists, which doesn't seem to be related to the original case posted in this thread. If a pod gets deleted, kubelet would not be able to send pod status updates, and this "impossible" message would not show up in the container status....

The [output from the original post] (https://github.com/GoogleCloudPlatform/kubernete

[2015-06-23 01:21] mattmoor commented on #10190
Can you "curl https://www.google.com"?  The cert infrastructure is google-common stuff, so the likelihood of this being GCR-specific is pretty low.

[2015-06-23 01:23] mattmoor commented on #10190
Actually, "googlecode.com" would be a better indicator as we seem to share that certificate.

[2015-06-23 01:38] wangzhezhe commented on #10159
Thanks for your advice!
It seems ok to add cacert and -H config in curl command at the same time .
This is my info to start the api-server
[code]
In my case, I userIf I want to use the cert created by system in /var/run/kubernetes ,  what ca.crt file should I use ?

Thank you !

[2015-06-23 01:59] lavalamp commented on #10115
I'll include my fix in #10070. I'm also adding tests so that I don't have to make this work a third time.

[2015-06-23 02:02] ddysher commented on #10115
:+1:

[2015-06-23 02:47] pmorie opened #10209 "Proxy endpoint container"
It would be really handy to be able to run the proxy endpoint presented by the API server in a container in order to:
1.  Run it without loading the API server with traffic
2.  Run it behind a service, scaled horizontally via replication controller

@smarterclayton @derekwaynecarr cc @detiber

[2015-06-23 03:38] adyanthaya17 commented on #9237
@jlowdermilk Yes I did check with the recent build. The /ubuntu/util.sh file was added with lines but the results seems the same. I even rebuild the kubernetes on a new node to check it.

[2015-06-23 03:49] ArtfulCoder commented on #10161
I am working on a proof-of-concept PR to do the mount/umount stuff. I started working on it today.

[2015-06-23 04:20] adyanthaya17 commented on #9237
I followed the following steps:
### Linux
$ wget https://storage.googleapis.com/kubernetes-release/release/v0.17.0/bin/linux/amd64/kubectl
$ chmod +x kubectl
$ mv kubectl /usr/local/bin/

And then I executed the command:
$ kubectl get nodes
NAME            LABELS                                 STATUS
10.x.x.x   kubernetes.io/hostname=10.x.x.x   NotReady
10.x.x.y   kubernetes.io/hostname=10.x.x.y

[2015-06-23 04:31] benmccann commented on #2659
@justinsb i'm guessing this can be closed now that https://github.com/GoogleCloudPlatform/kubernetes/pull/8733 is merged?

[2015-06-23 05:03] WIZARD-CXY commented on #9237
weird, never happend in my lab.Try to use a 0.18.2 kubectl if your server side is using 0.18.2.It should located in cluster/ubuntu/binaries

[2015-06-23 05:20] adyanthaya17 commented on #9237
Previously I had built the kubernetes repo and then had manually downloaded the kubectl, I re-did it by first manually downloading the kubectl and then building the kubernetes repo. I'm able to fetch the state that's reading ready state.

[2015-06-23 06:14] adyanthaya17 commented on #9237
I restarted my machine and ran the kubectl get command but the master node status reads as 'NotReady' state.

[2015-06-23 06:24] feihujiang opened #10212 "Add source filename in “error from server” message when using kubectl"
When I use kubectl create –f, I found that some error messages show the source filename. But “Error from server: …” messages don’t show the source filename. I think this is inconvenient, especially when I create resources from a directory, I don’t know which template file caused the error. Is it necessary to add source filename in “error from server” message when using kubectl? What’s your point?

[2015-06-23 06:29] adyanthaya17 commented on #9237
The master node goes to 'NotReady' state just after five minutes of bringing up the cluster and setting up master and minion node.

[2015-06-23 06:33] wojtek-t commented on #8132
+1 for having a single place for post-1.0 plans/ideas

[2015-06-23 07:14] bgrant0607 commented on #10202
In order to use update, one either needs to use patch or get, modify, update.

Declarative update from config is #1702. It's trickier than one might think, and just patching the provided config won't have the desired behavior, either. I'd love for someone to work on it, but it's late in the game.

[2015-06-23 07:36] gmarek commented on #10080
Yup. I believe we can close this bug.

[2015-06-23 07:39] davidopp commented on #8132
I was thinking smaller-scale -- just for brainstorming post-1.0 performance/scalability plans. *All* post-1.0 plans is a pretty tall order. :)

[2015-06-23 07:42] wojtek-t commented on #8132
@davidopp - sorry for not being clear. I didn't mean "All" post-1.0 plans - I meant "all" that so far came to our mind. This should be extensible list.

[2015-06-23 07:42] wojtek-t commented on #8132
Basically - to have all discussions in a single place.

[2015-06-23 07:42] adyanthaya17 opened #10213 "Guestbook: Error while creating pod."
I'm trying to create a pod from the the guestbook for redis on ubuntu machine.

I ran the command:
$ kubectl create -f examples/guestbook/redis-master-controller.json
Error: the server could not find the requested resource

[2015-06-23 09:58] wojtek-t opened #10217 "Support bulk resource deletion in the API"
We would like to support bulk resource deletion (filtered by label selector) in the API.

The motivation is that currently removing the namespace after scalability tests (removing all events from that namespace) can take more than half an hour.

Having a single API call "remove all resources satisfying this selector" can hopefully reduce this time to less than a minute.

Similarly to what while de

[2015-06-23 10:27] setantam commented on #10190
Hi,

I've been testing with connecting through the proxies to gcr.io and googlecode.com. There's a few weird things going on:

1. Connections to googlecode.com work fine.
2. Connection to gcr.io produce a "Peer certificate cannot be authenticated with known CA certificates".
3. Using openssl and proxytunnel I can see a really weird thing. The cert chain for googlecode.com is as expected<br/>
`Cert

[2015-06-23 10:32] setantam commented on #10190
Is there anyway to manually bring down the required container images?

[2015-06-23 11:02] adyanthaya17 commented on #10213
# kubectl version
Client Version: version.Info{Major:"0", Minor:"17", GitVersion:"v0.17.0", GitCommit:"82f8bdac06ddfacf493a9ed0fedc85f5ea62ebd5", GitTreeState:"clean"}
Server Version: version.Info{Major:"0", Minor:"18", GitVersion:"v0.18.0", GitCommit:"754d3ce99ee50f392369868bf6ba1e866801b086", GitTreeState:"clean"}

[2015-06-23 12:23] santhoshdaivajna opened #10220 "kubectl create pod error - Kubernetes cluster on AWS using cloudformation template"
Hello,

I ran a two node kubernetes cluster on AWS with coreos through the cloudformation template.  I am hitting a road block while creating a pod. Please check if this is related to kubectl/kubernetes version error.

I followed the instruction in this doc. [link to doc!](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws-coreos.md)
[code]
-Santhosh

[2015-06-23 12:38] hjianhao opened #10222 "How to implement such network plugin?"
Senario :
We have a global ip address pool and IP address resource service.
We will create a bridge for every node.
When Pod is being created, we don't need to assign a IP automatically for the container, instead the plugin will allocate IP from IP address resource and create  a pair of veth and link the bridge and container, assign the IP address to the Pos(container).
After that we need to assig

[2015-06-23 13:00] wojtek-t commented on #10217
In fact, what we need to do here:

1. extend "DeleteOptions" object to contain additionally LabelSelector and FieldSelector (similarly to ListOptions)

2. Change the pkg/apiserver/resthandler.go DeleteResource method so that it supports also deletion when name is not specified (and then uses selectors from options instead)

3. Change the interface of registry so that it supports also deleting all

[2015-06-23 13:56] bgrant0607 opened #10224 "Performance umbrella issue"
Forked from #8132 and #8190.

Put your ideas here.

cc @davidopp @wojtek-t @timothysc

[2015-06-23 13:57] bgrant0607 commented on #8132
Filed #10224 to end the chatter (6+ comments!) in this issue about filing another issue.

[2015-06-23 13:58] wojtek-t commented on #10224
@bgrant0607 - @davidopp just created a doc for it - see #10214

[2015-06-23 14:20] mattmoor commented on #10190
@setantam Thank you very much for the detailed investigation on your side.

We will follow up with the folks who did this work to set up our cert, and see if we can resolve any issues here.

[2015-06-23 14:28] marekbiskup commented on #10136
@quinton-hoole , you're right - I found a bug in production code.

It may happen that the addon-update script lists the add-on directory and finds a few files. Then it tries to create these add-ons. But they may disappear before they are used. The script is "robust", so it retries creating the file 100 times with 10 sec delay.

That's why we may have a 20-minute delay in creating an add-on in some

[2015-06-23 14:29] setantam commented on #10190
This is looking more like a problem with my infrastructure. I only just realized I could check the gcr.io cert using my phone: it looks okay - SANs are good and the cert chain is what you'd expect for a google cert.

[2015-06-23 14:31] statik commented on #9995
I would like to make the case that this is an important use case for a real customer.

I am trying to deploy a custom DNS service inside GKE. The DNS service gathers security metrics on the requests, so I really do want to be running this myself. So, I need to get TCP and UDP traffic on port 53 over to my pod.

The first thing I ran into was #2849 where the external load balancer does not support

[2015-06-23 14:39] bprashanth commented on #10080
Hmm, there's still the problem of cleaning up containers on the kubelet (delete just removes keys from etcd currently)

[2015-06-23 14:41] marekbiskup commented on #10136
Ok, my plan is to get rid of the retry loop - maybe retry 3 times with a 1s delay.
If something goes wrong and the objects are not created, they will be created in the next round - after 10 minutes.

I will also go back to 1min timeout in the test.

[2015-06-23 15:24] huangqg opened #10227 "Failed to access other containers of a pod in Kubernetes"
Hi,

I create a pod that contains two containers, one is ubuntu, the other is mysql, while I ssh to ubuntu, and connect to mysql via localhost, it's failed. other test include:
[code]
nothing find about the mysql container

the rc file list below:
[code]
could you help me on this? thanks.

[2015-06-23 15:34] santhoshdaivajna commented on #10220
works with kubernetes 0.19.0
changed all refereneces of 0.18.2 in the cloudformation template to 0.19.0

kubectl create -f pod.json   # is working fine.

[2015-06-23 15:52] saturnism opened #10229 "Label selector query parameter is labelSelector instead of label-selector?"
Both api.md and labels.md says the query parameter is `label-selector`
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api.md
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md

But it seems like it should be `labelSelector`
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1beta3.json
https://github.com/GoogleCloudPlatform

[2015-06-23 16:36] a-robinson commented on #7843
For what it's worth, kubectl get pods calls come out to exactly 81 columns for me now. It hurts me to see it so close to 80 columns but just over :(

[2015-06-23 16:38] dchen1107 commented on #10122
Ok, I have a fix based on #10153 which doesn't execute any podspecs until network configuration is done no matter it is master nodes or minion nodes, the detail can be found at  https://github.com/GoogleCloudPlatform/kubernetes/pull/10153#issuecomment-113729964. Then I start validating the fix. I never run into the issue reported here and #9822 even without the fix. So to make sure no race complet

[2015-06-23 16:53] davidopp commented on #8081
@mbforbes Do you have an ETA on the remaining work for this issue?

[2015-06-23 16:56] davidopp commented on #3952
This effectively became a dupe of #3954. Closing this issue.

[2015-06-23 16:56] #3952 closed

[2015-06-23 17:02] thockin opened #10235 "We should support interactive `kubectl run`"
e.g.
kubectl run -ti mytest --image=busybox

[2015-06-23 17:02] davidopp commented on #3954
I'm going to move this to 1.0-post since we at least have manually-collected numbers (see previous entry). @wojtek-t can you please update this issue when these numbers are being collected in Jenkins (and give instructions on how to pull the numbers out)?

[2015-06-23 17:04] davidopp commented on #3954
BTW @piosz, just to verify, the numbers you collected above were including the final watch to the user?

[2015-06-23 17:04] bgrant0607 commented on #499
We should ensure this is well documented. We have a tiny amount of documentation here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/1f952b05d3e56cf233c94f1b2c65f05e6cde5061/docs/images.md#using-a-private-registry

[2015-06-23 17:05] derekwaynecarr commented on #3580
The "fix" was to skip them, but I think we should remove that "fix".

[2015-06-23 17:11] davidopp commented on #10144
@quinton-hoole Should we close this issue and move #10146 to 1.0?

[2015-06-23 17:12] davidopp commented on #10144
Sorry, #10146 is already marked 1.0. Please close this issue if you agree.

[2015-06-23 17:14] #9344 closed

[2015-06-23 17:22] Snesha commented on #6966
I have a fix for this issue. Do you need the CLA signed for PR's with <20 lines of change?

[2015-06-23 17:23] quinton-hoole commented on #10144
To contradict what I said in this morning's meeting, these are actually two separate issues.
This one is for the SIGKILL test failing in isolation, about 7% of the time.
#10146 is for the SIGKILL test borking all subsequent tests when it fails.  We have debugged that one (#10146), and there is a PR in the works, but this one (#10144) is still at large, AFAIK.
@mikedanese can you confirm?

[2015-06-23 17:26] antoineco commented on #9857
I have a similar issue, but regarding your last comment *NO*, the flannel subnet should not collide with the cluster range, ever.

[2015-06-23 17:28] mbforbes commented on #7914
Both GCE and GKE upgrade (including node upgrade) builds are green. The last code thing is the final unfinished item from https://github.com/GoogleCloudPlatform/kubernetes/issues/8081#issuecomment-112499324:

- [ ]  Validate that the upgrade actually happened. We want to ensure that the new software is really running, otherwise--as @satnam6502 pointed out in #8081--a no-op would satisfy the "upgra

[2015-06-23 17:31] akamalov commented on #9857
You mean, flannel and k8s cluster-range should not be on the same segment??

[2015-06-23 17:31] mbforbes commented on #8081
I updated the checklist; I can get a PR for the last item above out today.

[2015-06-23 17:32] erictune opened #10238 "Clean up excessive volume mounts for SSL"
According to https://golang.org/src/crypto/x509/root_unix.go, the list of places that golang looks for root certificates is:

[code]

We don't care about OpenBSD, FreeBSD, or Solaris yet.
So, the only possible paths are:
- `/etc/ssl/...`
- `/etc/pki/tls/...`

Currently, the Pods for apiserver, scheduler, and controller-manager also mount these dirs:
- `/usr/share/ssl`
- `/var/ssl`
- `/usr/local/op

[2015-06-23 17:38] piosz commented on #3954
The results are printed to stdout. Something like this:

[code]

The above logs come from http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-scalability/1535/consoleFull

I measured the metric described here https://github.com/GoogleCloudPlatform/kubernetes/issues/3954#issuecomment-112839894 as total.

[2015-06-23 17:40] timothysc opened #10239 "Extrapolating kubelet patterns for composability post 1.0"
Currently the progress being made on the kubelet has been great, and we've had several conversations in the past about making the kubelet flexible enough to be a composable element which could be leveraged by potentially many other scheduling systems.

This ticket is kind of a brain-storm catch all, actions may fall out from here.

Missing pieces:
- hooks (pre/post)
- executor workflow
  ...

@bgr

[2015-06-23 17:59] RichieEscarez commented on #10183
Combined "creating" and "configuring" -> "Creating and Configuring xyz" plus revised "Updating Replication Controllers":
[code]

[2015-06-23 18:01] ArtfulCoder commented on #10161
#10241

Experimental Proof-of-concept

I tried the PR by launching a cluster with it and verifying the created pod-containers.
It seems to do the job.

[2015-06-23 18:03] mikedanese commented on #10202
What about patch being passed with -f for kubectl consistency? That's an easy change. If it makes sense, it might be worth getting into v1. I can prepare a PR today.

[2015-06-23 18:07] nikhiljindal commented on #10213
Seems similar to https://github.com/GoogleCloudPlatform/kubernetes/issues/9945. Updating kubectl and cluster to 0.19 might fix this.

[2015-06-23 18:07] mikedanese commented on #9347
I think this is fixed.

[2015-06-23 18:07] #9347 closed

[2015-06-23 18:14] dchen1107 commented on #10161
I moved this back 1.0 because it broke with any docker image which has ubuntu as the base image for now, @thockin?

[2015-06-23 18:18] setantam commented on #10190
Okay - learning new things today.

Apparently it's not unusual for a corporate proxy to change a cert so that it can do a man-in-the-middle.  It let's them monitor your traffic over HTTPS.

Why my company seems to be doing this for gcr.io and not googlecode.com is a mystery. But I'm doubtful that I'll be able to get the IT department to change their ways for a proof of concept.

I'm going to see i

[2015-06-23 18:23] bprashanth opened #10242 "Scheduler needs to deal with pods without resource limits"
Setup a 3 node cluster, it'll look like:
[code]
3 nodes, 9 containers, in theory we should end up with 3 per node but we rarely do because the node scores are affected by the rate of creation of the fluentd pods.

Create an rc with 100 pods in a custom namespace and you'll end up with all 100 on the same node. This is because the occupancy score of the one node never catches up to the other 2, bec

[2015-06-23 18:28] #9895 closed

[2015-06-23 18:32] antoineco commented on #9857
I'm keeping you updated regarding the *skydns* issue, but it seems like our *skydns* tries to talk with the API on `https://kubernetes` (this is taken from the corresponding secret, *token-system-dns*), the problem is that this name can not be resolved at this stage.

What puzzles me is that the exact same configuration works perfectly fine when starting a cluster via `cluster/kube-up.sh`, where `

[2015-06-23 18:38] jlowdermilk commented on #10213
[code]
That error is seen when a old client talks to the apiserver using an unknown/unsupported version. Updating to 0.19 should fix.

[2015-06-23 18:45] markturansky opened #10244 "PVClaim Volume Needs to pass ReadOnly bool"
The PersistentVolumeClaim volume plugin (persistent_claim.go) needs to pass its ReadOnly flag to the builder being used to create the PV backing the claim.

All PVs are currently mounted ReadWrite.

[2015-06-23 18:49] satnam6502 opened #10247 "kubectl config view --minify should also report basic auth info"
[code]

[2015-06-23 18:49] satnam6502 commented on #10247
@jlowdermilk

[2015-06-23 18:53] quinton-hoole opened #10248 "Flaky e2e test: Service_endpoints_latency_should_not_be_very_high fails 70% of the time"
@lavalamp This is still failing ~70% of the time. I'll open a separate issue to track fixing this.

Example Jenkins link:
job/kubernetes-e2e-gce-flaky/1162/testReport/(root)/Kubernetes%20e2e%20suite/Service_endpoints_latency_should_not_be_very_high/history/

[2015-06-23 18:53] quinton-hoole commented on #10248
See also #9592

[2015-06-23 18:55] lavalamp commented on #10248
Yes, I know how to fix it and have a ton of code locally, but I'm busy fixing the proxy.

[2015-06-23 19:06] quinton-hoole commented on #10146
Correction.  #10201 does not address the problem described in this issue.  @mikedanese is still working on this one.

[2015-06-23 19:09] thockin commented on #10161
I will take a look later today.
On Jun 23, 2015 11:15 AM, "Dawn Chen" <notifications@github.com> wrote:

[2015-06-23 19:22] bgrant0607 commented on #10202
@mikedanese Yes, I like that.

[2015-06-23 19:25] bgrant0607 commented on #8683
@vmarmol Yes, a hash would be sufficient.

[2015-06-23 19:26] bgrant0607 commented on #8683
@davidopp It shouldn't be necessary to update the mirror pod in the case that a new default field was updated, because that field should be populated automatically by the apiserver on decode from etcd.

[2015-06-23 19:27] bgrant0607 commented on #10202
We could also do something similar to what we've discussed doing with mirror pods: delete and re-create if the config changes #8683. I'd like to share the implementation if at all possible.  This behavior could be flag-controlled in kubectl.

[2015-06-23 19:30] PeterLamar opened #10250 "unresponsive server with guestbook example/vagrant"
Following the current vagrant path with 19.3. I understand the pods should be reachable inside the vagrant boxes?

PETLAMAR-M-D113:kubernetes petlamar$ ./cluster/kubectl.sh get pods
NAME                 READY     REASON    RESTARTS   AGE
frontend-0pqjg       1/1       Running   0          24m
frontend-an48j       1/1       Running   0          24m
frontend-r4x1f       1/1       Running   0

[2015-06-23 19:36] davidopp commented on #10183
LGTM

[2015-06-23 19:39] davidopp commented on #3954
Great, thanks, closing this issue. Thanks everyone for all the work on this! It's great that in the end we basically met both the scheduling time goal and the API latency goal!

[2015-06-23 19:39] #3954 closed

[2015-06-23 19:42] davidopp commented on #10224
Yeah, we don't need an issue for this, I already sent out a PR.

[2015-06-23 19:42] #10224 closed

[2015-06-23 19:47] ArtfulCoder commented on #10161
There might also be a simpler option:
When docker creates a container with dns-flags passed it, docker itself creates a resolv.conf file.
kubelet can simply modify that resolv.conf file and add the ndots:3 option.

That way we never mount or umount anything...

[2015-06-23 20:14] alexanderguzhva commented on #10250
well, according to my experience, they were never available inside vagrant boxes

[2015-06-23 20:19] davidopp commented on #9849
Sorry to be pedantic, but I still don't understand the status of this issue.

@marekbiskup 's PR (listed above) looks too risky to me for us to push in at this point. But it's also not clear to me (1) whether we're actually broken on CoreOS or we just broke clusters created by @erimatnor 's custom scripts, and (2) if we're broken on CoreOS, do we need to fix it and if so what is the plan for doing

[2015-06-23 20:21] davidopp commented on #9849
(And by broken, I mean for addon pods only, of course.)

[2015-06-23 20:24] cmdrkeene commented on #6966
A fix would be great here. I'm seeing the same behavior on the latest release (and azure-cli@0.9.4 if that matters)

[2015-06-23 20:30] zmerlynn opened #10251 "Master reporting healthy even when etcd just isn't"
The bigger issue with with #10122 is that we're not actually checking etcd health correctly, which means that when GKE health checks the master components, we totally missed the #10122 symptoms and called the master good and just assumed all the nodes were bad.

If we had noticed the master was bad, we could've made different choices, like shooting the master and data PD in the head.

cc @cjcullen

[2015-06-23 20:35] alex-mohr commented on #10251
I think @cjcullen had some ideas on how we could improve this?  Or perhaps it was @fabioy?

[2015-06-23 20:36] cjcullen commented on #10251
In getServerversToValidate() ([here](https://github.com/GoogleCloudPlatform/kubernetes/blob/d8e522514481c9a8952c6333527212a2addde238/pkg/master/master.go#L718)) we should be hitting `/health` instead of `/v2/keys/`.

In the non-functional clusters, `/health/` reports `{"health": "false"}` with an `HTTP/1.1 503 Service Unavailable`, but `/v2/keys/` continues to successfully serve the empty key list

[2015-06-23 20:39] cjcullen commented on #10251
It looks like the /health endpoint was a new feature in 2.0.*, so trying to read the keys was historically our best guess at etcd cluster health.

[2015-06-23 20:40] PeterLamar commented on #10250
In earlier versions, I could go 'inside' the cluster and curl the service to verify it was working. How does one do this on vagrant currently? The goal here is to verify the guestbook works with the latest vagrant up.

[2015-06-23 20:49] cmdrkeene commented on #7826
Bump. Any movement on this?

[2015-06-23 20:54] fabioy commented on #10251
Yeah, that's a new endpoint and we should definitely switch to it. The
other ideas was to cause the health check to do a write and a subsequent
read from etcd.

On Tue, Jun 23, 2015 at 1:40 PM, CJ Cullen <notifications@github.com> wrote:

--
*-- Fabio Yeon*

[2015-06-23 20:58] bprashanth opened #10254 "Restart crucial components in an e2e test"
Write an e2e test that restarts various components and confirms expectations. Things to consider restarting (we already have an e2e that restarts etcd, and reboots the node iirc):
1. controller manager during replica/service/node creation
2. scheduler with unassigned pods
3. kubelet with pending/deleted pods
4. apiserver
5. kubeproxy
6. docker

If some of these restarts fail it could leave the clu

[2015-06-23 21:01] vishh opened #10255 "Update heapster to use v1.0 API version"
cc @dchen1107. This is required for v1.0 I guess.

[2015-06-23 21:06] vishh opened #10256 "Set resource limits on Heapster"
#5880 provides a resource profile for heapster.
Heapster containers have to be restricted to 0.5 CPU cores and 2GiB of memory, based on the resource usage patterns in a loaded 100 node cluster.

cc @dchen1107 @saad-ali

[2015-06-23 21:08] dchen1107 commented on #10256
I already started to do it. assigned it to me. :-)

[2015-06-23 21:09] dchen1107 commented on #5880
Nice work, @saad-ali. I am closing this one since @vishh filed a separate one for configuring those addons pod: #10256

[2015-06-23 21:09] #5880 closed

[2015-06-23 21:11] dchen1107 commented on #10256
@vishh according to @saad-ali 's report, the peak memory usage of heapster is 2.4~2.5 GiB, why set to 2GiB?

[2015-06-23 21:14] mikedanese commented on #10144
There are still a few issues being tracked down with the etcd sigkill test. The error referenced in this issue should be fixed but there is still the catastrophic failure issue in #10146 and the timeout issue.

[2015-06-23 21:15] jlowdermilk opened #10257 "hack/test-integration.sh is extremely flaky"
It's been failing with more frequency on CI (shippable/travis). Seeing "failed to find pid of Docker container" in the startup logs

[code]

@bprashanth, @lavalamp do you have cycles to look into this?

[2015-06-23 21:20] mikedanese commented on #10144
There is a curious temporal relation between the catastrophic failures and the p0 issues attributed to killing etcd https://github.com/GoogleCloudPlatform/kubernetes/issues/10122#issuecomment-113662922

[2015-06-23 21:37] lavalamp commented on #10257
That looks like it's just a warning, no?

[2015-06-23 21:40] davidopp commented on #10242
In our team meeting we decided that first we need to clarify the resolution of #9356. If we decide to put system pods in a separate namespace, then we'll have namespaces that don't set a LimitRange inherit the one set by the default namespace. If we aren't going to put system pods in a separate namespace, then we will punt this issue to post-1.0.

[2015-06-23 21:42] davidopp commented on #9356
This issue is marked 1.0 but seems to be languishing. Is there a decision on whether we're going to put system objects in a separate namespace? I believe the main arguments are
pro: if we don't do it now, it will be hard to do it later
con: this is a somewhat large change to do so close to 1.0
?

[2015-06-23 21:46] jlowdermilk commented on #10257
Hmm, I lost the original run. The failure I saw was failure to connect to node 127.0.0.1. It seems there are multiple causes of flakiness. The one I am still seeing that should be reproducible is endpoint creation timeout:
[code]
https://app.shippable.com/builds/55899561ce9ab80b00d0ac8a

[2015-06-23 21:47] satnam6502 commented on #9356
Once a decision is made I am ready to jump on it and get it done. Note to self: make sure whatever namespace we choose, it can't be deleted (just like default).

[2015-06-23 21:52] bprashanth commented on #9356
That's confused me in the past and I just never remembered to bring it up. So I can delete the default ns, it will delete the rcs and pods, but the ns stays active? I've already lost the rcs, so what's the point (or has this behavior changed recently)?

[2015-06-23 21:52] satnam6502 commented on #9356
Not sure if I have a vote, but I like having the system containers in the default namespace and how they show up when you do `kubectl get pods` -- I always type `ps aux`.

[2015-06-23 21:55] akamalov opened #10261 "Kubernetes SkyDNS - Question"
This is a question

In ```kube-dns.service``` file, there is an entry ```portalIP: 10.100.0.10 ```. My question: Is this the IP address that gets configured for ```sky-dns container```? Here is my ```sky-dns.service``` file:

[code]

Both of my containers ``sky-dns`` and ```kube2sky``` are up, but none of them have IP address assigned:

[code]

Check if IP address is assigned: for <b>kube2sky</b>:

[2015-06-23 21:55] jlowdermilk commented on #10257
Example run with "erro getting node" problems:
https://app.shippable.com/builds/5589861627cb5b0c00c5a00b
Run log has multiple

[code]

[2015-06-23 22:09] bprashanth commented on #10257
Any idea how one figures out the resource usage on the shippable machine?

I don't mean how many cores I'm supposed to get, I mean how much cpu etc the tests are actually using. If i was on a linux box I would use top/ps/sar etc to profile it during a run. I have seen some cases with what looks like high n/w latency (but could well be disk or something else).

The kubelet won't find the node if th

[2015-06-23 22:10] davidopp opened #10262 "implement "kubectl get ... -o wide""
@bprashanth ran into a scenario where the scheduler was putting all the pods onto the same node. A user would be very unlikely to notice this kind of thing now that we took hostname out of the output of "kubectl get pods." I think we should put it back in. To keep the length under control, we can either truncate it to a fixed length or (clever idea from @lavalamp) have kubectl compute the part tha

[2015-06-23 22:12] bprashanth commented on #10262
or maybe get nodes can show the count of pods

[2015-06-23 22:15] satnam6502 commented on #10079
Fixed via #10007

[2015-06-23 22:15] #10079 closed

[2015-06-23 22:16] satnam6502 commented on #7345
Can we have a milestone for this? If v1.0 I shall look into it -- if post then we can deal with this later.

[2015-06-23 22:18] satnam6502 commented on #7345
An alternative would be to use the Cloud Logging  td-agent and then add in the plug-in for Elasticsearch and then adjust the config appropriately. @a-robinson @mr-salty

[2015-06-23 22:22] lavalamp commented on #10257
I think we run very close to timeouts on shippable. We need to print out how much time it took when it works, so that we can see if we just need to increase the time limit. In the cases I've seen, it looks like shippable takes about 10x as long to do something as my desktop.

[2015-06-23 22:26] bprashanth commented on #10257
Yes, I print it out in the rcs and bumped up log level to v(4) on shippable for exactly this reason. We have (/should have where we don't) perf tests that stress perf-y things. However the timeout on the endpoints controller is 60s with a comment that pretty much says 'reevaluate this timeout' or something along these lines. And without logging proof I'm a little hesitant about masking something t

[2015-06-23 22:34] a-robinson commented on #7345
Using the cloud logging td-agent SGTM. Easier to share it than to have two different versions of fluentd.

[2015-06-23 22:40] lavalamp opened #10263 "Failed to list *api.Pod: field label not supported: spec.nodeName"
My kubelet logs are full of this message, and it isn't picking up new pods. I don't think I have relevant differences from head, so filing this issue. I will investigate.

[2015-06-23 22:43] bprashanth commented on #10263
Sounds api version related, might also be the root cause of https://github.com/GoogleCloudPlatform/kubernetes/issues/10257 since the kubelet would find nodes after the relist but not from the watch

[2015-06-23 22:43] davidopp commented on #4910
@lavalamp suggested that this should be specified as max # of pods per core rather than max # of pods per node. This would address the problem that it doesn't scale with size of the node. That would be a useful change to make post-1.0. It might even allow us to stop using LimitRange for that purpose. So I'm reopening this issue and marking it 1.0-post.

Also, we should finish up #8669 so we can do

[2015-06-23 22:45] lavalamp commented on #10263
This makes the list not work at all-- it's deterministic.

[2015-06-23 22:48] lavalamp commented on #10263
From my apiserver log, it looks like kubelet makes a correct request. so server side problem:

[code]

[2015-06-23 22:50] lavalamp commented on #10263
I think the problem is that cluster/kube-push.sh didn't update my apiserver and I have skew from before we fixed that.

[2015-06-23 22:52] satnam6502 commented on #7345
I would propose making this a post 1.0 requirement? Given that our current node level logging setup works I am rather reluctant to futz t around with it now.

[2015-06-23 22:55] vishh commented on #10256
2.5GB was with a lot of containers (~10000). Setting limits to 2.5GB sgtm
though!

On Tue, Jun 23, 2015 at 2:12 PM, Dawn Chen <notifications@github.com> wrote:

[2015-06-23 22:57] antoineco commented on #10261
The portalIP is the cluster IP of the `service`, not of the containers withing the pod. The containers share a network segment accessible via an IP allocated within the docker network (check your docker0 bridge interface).

You should read: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md

[2015-06-23 22:57] #10256 closed

[2015-06-23 23:07] akamalov commented on #10261
Thanks Antoine!

Alex

On Tue, Jun 23, 2015 at 6:58 PM, Antoine Cotten <notifications@github.com>
wrote:

[2015-06-23 23:09] jlowdermilk commented on #10261
cc @satnam6502 in case you still have unanswered questions.

[2015-06-23 23:14] jlowdermilk commented on #10220
[code]
That error is caused by client/server incompatibility. It's a little disturbing that you saw it with the same client/server version but the issue should be resolved for 0.19.0 or greater clients.

[2015-06-23 23:14] #10220 closed

[2015-06-23 23:20] antoineco opened #10265 "kube2sky can not resolve kubernetes service DNS name"
There seem to be a chicken and egg problem with the current *kube-dns* replication controller (v3).

As I mentioned [there](https://github.com/GoogleCloudPlatform/kubernetes/commit/2feb658ed7a6a9f9726b04ac4c890b5dee14c0a8#commitcomment-11696141) removing the `-kube_master_url` flag forces kube2sky to use the *kubeconfig* file to find the address of the master, but this file contains the DNS name o

[2015-06-23 23:20] yifan-gu commented on #9849
@davidopp From my understading,
(1) Having python scripts in addon.sh (as the last two cases you mentioned [here](https://github.com/GoogleCloudPlatform/kubernetes/issues/9849#issuecomment-112940384)) will break the master node if it is using CoreOS. We are not breaking the current CoreOS cluster on gce/aws as the master node is still ubuntu (I am glad to dive into it and make the cluster fully Co

[2015-06-23 23:23] jlowdermilk commented on #10222
It sounds like you actually want to use a [service](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md) to allocate an IP from the pool for pods. The type of plugin you are proposing sounds very similar to work that @thockin is doing with allocating service IPs from a pool where the implementation is cloud-provider specific. @lavalamp may also be able to point you in th

[2015-06-23 23:35] akamalov commented on #10261
Thanks so much, Jeff!!

Alex

On Tue, Jun 23, 2015 at 7:10 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-06-23 23:45] yifan-gu commented on #9849
Edit: CoreOS on gce has python installed, so won't break anyway. And @bakins is working on this.

[2015-06-23 23:49] quinton-hoole opened #10268 "Improve e2e test coverage of services"
What's currently included in the services e2e test:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/service.go

1. Services should serve a basic endpoint from pods
1. Services should serve multiport endpoints from pods
1. Services should be able to create a functioning external load balancer
1. Services should be able to create a functioning NodePort service
1. Services shou

[2015-06-23 23:50] jedsmith commented on #9849
@yifan-gu Not quite accurate. In the list of Python candidates that was dumped above, I see at least one shebang that expects Python in-path, because it shebangs via `env`. My comment to you about Google vendoring Python on GCE is related to their internal stuff, and any Python code needs to reach that interpreter directly or rewrite a shebang. Google does this; their daemons are shebanged `/usr/b

[2015-06-23 23:50] quinton-hoole commented on #10268
@cjcullen @dchen1107 @justinsb @a-robinson  purely FYI

[2015-06-24 00:04] lavalamp commented on #10009
I don't understand this part. Scheme doesn't care if version matches across objects or not, and you can register a kind with whatever name you want, you don't have to use the name of the go object.

[2015-06-24 00:09] lavalamp commented on #10009
If we make multiple schemes, we'd need a scheme registry (for people to find the scheme for their object), which seems like an awfully tall meta stack.

So instead consider making scheme provider aware. I'm not convinced that group needs special treatment, that just seems like window dressing apiserver tacks on.

Another reason to make scheme provider aware is so that you can mount the same object

[2015-06-24 00:16] #8744 closed

[2015-06-24 00:39] dchen1107 commented on #6966
@Snesha Google lawyer requires CLA for every PR, and sign it through https://cla.developers.google.com/clas should be very easy.

[2015-06-24 00:41] lavalamp commented on #10222
Our current stack allocates a CIDR to each node, and then the node allocates pod IPs from that. So I think this will require changes to kubelet and/or docker. @dchen1107

[2015-06-24 00:49] jlowdermilk commented on #10227
Have you verified that mysql is running in the other container? Note that running
[code]
from within the ubuntu container would be expected to *not* work, since mysql is running in a different container, so by design it should not appear in the process list of the ubuntu container, nor would its iptables rules be shared.

Can you post what environment you are running on? You might find [this examp

[2015-06-24 00:59] uluyol commented on #10009
OpenShift needs to refer to kubernetes objects (if nothing else, those in
api.{Type,Object}Meta, and as things stand, this requires being in the same
version as those objects. OpenShift could use a different version number,
but then the same objects would have to be re-registered under that version
along with conversion and copy functions.

[2015-06-24 01:02] jlowdermilk commented on #10229
That looks like a bug in the documentation. PR sent to fix.

[2015-06-24 01:03] huangqg commented on #10227
thanks for the answer.
the mysql container is running. I running this test on a k8s cluster environment.
my concern is how to access the mysql connection from ubuntu container since they are in one pod.
[code]
the example is not that case, I need run multiple containers in a pod.  and test how the containers connect with each others.

[2015-06-24 01:06] jlowdermilk commented on #10265
cc @satnam6502, @cjcullen

[2015-06-24 01:10] nikhiljindal opened #10272 "Swagger not picking the right description"
Example PR: https://github.com/GoogleCloudPlatform/kubernetes/pull/10131

The description of a field was changed, but swagger docs were not updated.

[2015-06-24 01:11] hjianhao commented on #10222
Our scenaio is :
1. We want to treat the containers as a lightweight VM.
2. We run the enterprise application on the containers, this application based on VAS and must use the WS-AT protocol to support transactions acroos hosts.
3. So we must let the container had it's own IP and hostname(because of the damn WS-AT), and container can talk to other containers and VMs(legacy applications still runs

[2015-06-24 01:17] nikhiljindal commented on #10272
Found the issue: https://github.com/GoogleCloudPlatform/kubernetes/pull/10131/files#r33110039

[2015-06-24 01:17] #10272 closed

[2015-06-24 01:57] jlowdermilk commented on #10227
You should be able to connect to it via `localhost:3306`.

[2015-06-24 02:32] jlowdermilk commented on #10227
FWIW, I hacked a simple rc based on your posted spec and was able to contact mysql from the sibling container in the pod (using curl, but got the expected gibberish indicating mysql server was up).
Spec  [here](http://pastebin.com/54yyvTqC).

[2015-06-24 03:16] smarterclayton commented on #10009
That's definitely the biggest pain point today.    I'm provisionally ok with locking our top API to a Kube consistent scheme, but for objects that update more rapidly it'll be hard to reuse type meta and object meta (if we want to split out our various object sets into multiple components that move upstream or into their own projects, for example).

We can fork the simple types but the deep types

[2015-06-24 03:46] davidopp commented on #10030
Moving to 1.0-post now that #10147 has been merged. Thanks for the report, @timothysc, and @bprashanth and @lavalamp for working on this.

[2015-06-24 04:01] brendandburns commented on #10262
I've definitely had requests to have a kubectl way to list the pods (and resources consumed) for each node.

This is low risk, and easy to do, so I think it's legit for v1.0.

[2015-06-24 05:15] satnam6502 commented on #10265
@thockin

[2015-06-24 05:15] adyanthaya17 opened #10278 "I can't reach service IPs on the network. Unable to access application from web."
Hi, I have my kubernetes environment up and running on an ubuntu machine with a master and two minion nodes. I'm able to fetch the nodes and list then.

I'm using https://github.com/GoogleCloudPlatform/kubernetes/tree/master/release-0.19.0/examples/update-demo i.e. to scale nautilus image. I'm unaware of which IP to use to view the images on the web page.

[code]

[code]

[2015-06-24 05:31] nikhiljindal commented on #10278
Did you try http://localhost:8001/static as specified in the example?

[2015-06-24 05:34] uruddarraju commented on #10222
@hjianhao This is a sane implementation definitely. We do similar stuff at ebay where our POD ips are directly routable. This is not true in most of the public clouds and hence kubernetes has a design of the LBs around the minion IPs and not the pod IPs themselves.

But as @lavalamp pointed out, this is entirely, clouprovider specific. What we did was change the CreateTCPLoadbalancer function in o

[2015-06-24 05:59] adyanthaya17 commented on #10278
I did try that that but the page gives me -Webpage unavailable.

[2015-06-24 06:03] bgrant0607 commented on #9356
Dupe of #4231 (will check whether there's anything relevant there before closing it).

Yes, we should put system objects in a separate namespace.

It's no longer possible to delete the default namespace.

[2015-06-24 06:03] bgrant0607 commented on #10262
describe nodes should list the pods, or at least a count and resources reserved, as discussed in #9356

[2015-06-24 06:04] bgrant0607 commented on #10262
get nodes could show the pod count if we put that in PodStatus in the API.

[2015-06-24 06:07] davidopp commented on #10262
I don't think "describe nodes" or even "describe pods" is adequate. Many users are probably going to use "get pods" and not think to try anything else. I don't think this will make "get pods" laughably wide as long as we truncate the node name in a sensible way.

[2015-06-24 06:08] davidopp commented on #9356
Sorry, I didn't understand the connection between this comment and the rest of your comment.

[2015-06-24 06:08] nikhiljindal commented on #10278
Did ```./kubectl proxy --www=examples/update-demo/local/``` work fine?
It should output
```Starting to serve on localhost:8001``` as mentioned at https://github.com/GoogleCloudPlatform/kubernetes/tree/master/release-0.19.0/examples/update-demo#step-one-turn-up-the-ux-for-the-demo

[2015-06-24 06:14] adyanthaya17 commented on #10278
This is what I've got:
$ kubectl proxy --www=examples/update-demo/local/
Starting to serve on localhost:8001

[2015-06-24 06:19] adyanthaya17 commented on #10278
I think the command didn't execute completely as I've to press ctrl d or ctrl c to come out of the command.

[2015-06-24 06:24] bgrant0607 commented on #9356
I was responding to https://github.com/GoogleCloudPlatform/kubernetes/issues/9356#issuecomment-114652706

[2015-06-24 06:31] bgrant0607 commented on #10196
See also:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/contrib/go2docker
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/contrib/podex

Vaguely related: #1806

[2015-06-24 06:33] nikhiljindal commented on #10278
```kubectl proxy``` starts a local server on port 8001 for showing the UI. Killing that command kills the server.

Can you try going to localhost:8001 while kubectly proxy is still running.

[2015-06-24 06:38] adyanthaya17 commented on #10278
I went to http://localhost:8001/static while the kubectl proxy is still in 'Starting to serve on localhost:8001'.

I get:
This webpage is not available

ERR_CONNECTION_REFUSED

[2015-06-24 07:32] adyanthaya17 opened #10280 "Time: Replacing a dead container with a new one"
Hi,
When I stop a pod from working a new pod gets created instantly. Can anyone be kind enough to point out to me where I can decrease the timing if its possible? Changing the time in seconds while a new pod gets created.

Thank you.

[2015-06-24 07:42] adyanthaya17 commented on #10278
Is there a workaround for this one where I can access the web?

[2015-06-24 08:33] piosz commented on #9662
Increasing priority due to regression #10281

[2015-06-24 09:35] wojtek-t opened #10282 "Scalability tests failing on Jenkins due to non starting pods"
There were a lot of failures in our scalability tests during last day (more than 50%). There seem to be two main reasons:
- timeouts while waiting for deleting the previous namespace - this should be fixed by #10225
- some pods not starting

I started looking deeper into those non-starting pods. Here is an example that contributed to the failure:
- Jenkins scalability run 1539 - Density test
- we

[2015-06-24 12:15] UserTaken opened #10284 "Etcd Minion"
`Minion` was changed to `node` but that is not reflected in Etcd as the default path is still `/registry/minions`.

[2015-06-24 12:19] pmorie commented on #9208
Closing out.

[2015-06-24 12:19] #9208 closed

[2015-06-24 12:25] akamalov commented on #10261
/cc  @satnam6502

Currently as it stands both of my skydns and kube2sky are up. However, I don't see kube2sky registering anything. From busybox issuing issuing <b>dig</b> against my <b>skydns</b> container:

[code]

On the node that is running ```kube2sky``` and ```nginx```, docker log of ```kube2sky```:

[code]

Docker logs of ```skydns```:

[code]

No activity. It won't register newly deployed

[2015-06-24 13:44] timothysc commented on #1518
@erictune without priority and preemption you need some guarantee on fairness.

[2015-06-24 14:32] andronat commented on #7027
I think this can be closed now

[2015-06-24 14:53] derekwaynecarr opened #10288 "If a container dies in a pod, we should throw an event"
For a related discussion see:
https://github.com/openshift/origin/issues/3390

`docker events` tracks a `die` event separate from a `create` and `start` event.

Monitoring applications will want this event to watch the cluster to know that a container died.

FYI @ejemba @sdminonne @dchen1107

[2015-06-24 15:14] dchen1107 commented on #10242
See my comment at https://github.com/GoogleCloudPlatform/kubernetes/issues/9356#issuecomment-112304758

This is one of reasons I am not supporting putting addons to other namespace initially. But now I am in the process of updating all addons containers with a resource limit (I' ve already done with heapster and influxdb yesterday), I am ok with customized but preserved namespace for addons.

[2015-06-24 15:20] satnam6502 opened #10289 "Namespace creation fails in e2e tests"
I have seen several e2e test failures which seem to be due to the namespace creation step in the test framework failing because the API server request fails.

@quinton-hoole @ixdy

[code]

[2015-06-24 15:23] juntagabor opened #10290 "Issues with GCE and service type LoadBalancer"
Now that publicIPs have become deprecatedPublicIPs, and is on its way out. I have found a couple of issues dealing with service type LoadBalancer.

1. It doesn't support UDP (if I recall correctly this is being addressed)
2. Doesn't support static IPs on GCE. I can't seem to find a way to create a LoadBalancer service on kubernetes, and then assign an existing static IP you already have on GCE to

[2015-06-24 15:29] bprashanth commented on #10282
The nodecontroller killed the pods:
[code]

You also see in the kubelet logs:
[code]
Which is too spaced out for node heartbeats.

As you noted there was a 500 on healthz, this might've led to monit restarting the kubelet though I don't see it in the logs. It seems like there were also memory issues on the node just before the 500 (note the du failure below):

[code]

I see errors indicating SyncP

[2015-06-24 15:41] roberthbailey opened #10291 "Load balancer behavior changed in v1 api"
This is from a user report:

@thockin @bgrant0607 @brendandburns

[2015-06-24 15:43] thockin opened #10292 "Need e2e test to cover container->internet traffic"
At least on GCE we assume you can egress.  `ping google.com` is probably sufficient.

[2015-06-24 15:45] smarterclayton commented on #7027
Fixed by #9130

[2015-06-24 15:45] #7027 closed

[2015-06-24 15:46] juntagabor commented on #10291
I share the sentiment: #10290

[2015-06-24 15:47] thockin commented on #10292
dup

[2015-06-24 15:47] #10292 closed

[2015-06-24 16:06] thockin commented on #10278
Can you please provide more details on what you tried to do, what happened,
what you expected to happen?

On Wed, Jun 24, 2015 at 12:42 AM, Aishwarya <notifications@github.com>
wrote:

[2015-06-24 16:09] thockin commented on #10280
You want the system to work slower?  What are you actually trying to
achieve?

On Wed, Jun 24, 2015 at 12:33 AM, Aishwarya <notifications@github.com>
wrote:

[2015-06-24 16:11] thockin commented on #10262
Is node name the most important field that got cut?  I'm not sure of that.

On Tue, Jun 23, 2015 at 11:07 PM, David Oppenheimer <
notifications@github.com> wrote:

[2015-06-24 16:22] quinton-hoole commented on #10289
Yes, I think that we need a retry loop around namespace creation and deletion.  And we need to factor that out into the Framework in test/utils.  I think the creation and deletion is done inside each test's BeforeEach()/AfterEach() right now.

[2015-06-24 16:30] briandorsey commented on #8521
Apologies for the delay on this. It's on my list for this week.

[2015-06-24 16:34] jayunit100 opened #10293 "[cluster/] migrate eparis/kubernetes-ansible to upstream."
We can do this many ways.

1) add to vagrant setup so that we have a salt-free impl.   (i.e. create ./cluster/ansible/)
2) update contrib/ansible/

I think (1) is the route @eparis might be leaning to (the OS could be an option you send).

seems ok that the cluster/ from ansible is not the exact same as the salt clusters that are created.

[2015-06-24 16:42] #7914 closed

[2015-06-24 16:42] bprashanth commented on #10196
I use rsync, a tarred up docker image, and a pod with spec.HostName set to the rsynced node to get this to work on my local cluster, so I don't have to hit a registry.

Master running a registry (https://github.com/GoogleCloudPlatform/kubernetes/issues/1319) would be cool.

[2015-06-24 16:52] #8081 closed

[2015-06-24 16:52] nikhiljindal commented on #10278
Dont know of a workaround.
Maybe @brendandburns does?

Can you send the output of ```kubectl cluster-info```
Also, please make sure that examples/update-demo/local/ is accessible from the directory where you are running ```kubectl proxy```

[2015-06-24 16:59] dchen1107 commented on #10263
Closed it since it is configuration issue in @lavalamp's dev environment.

[2015-06-24 16:59] #10263 closed

[2015-06-24 17:00] jlowdermilk commented on #10247
The basic auth info is actually in a different user, which is why it doesn't show up with minify. It's not valid for a kubeconfig user entry to contain redundant authentication schemes (i.e. both `token` and `username/password`). It's generated as a separate user for convenience [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/common.sh#L87). For the above example, it w

[2015-06-24 17:02] #9520 closed

[2015-06-24 17:04] juliaferraioli commented on #9422
@amygdala this was addressed in [#9754](https://github.com/GoogleCloudPlatform/kubernetes/pull/9754), correct?

[2015-06-24 17:05] #9421 closed

[2015-06-24 17:05] #8859 closed

[2015-06-24 17:18] satnam6502 commented on #10247
We don't need the token? Then how would I sensibly curl to the Elasticsearch logging service? Would I be forced to use basic auth for that?

[2015-06-24 17:26] thockin opened #10294 "Need a `kubectl expose` flag to make a headless service"
Either --cluster-ip=None or --type=Headless or something.  Type is where we want to go, but --cluster-ip matches reality.

[2015-06-24 17:27] bgrant0607 commented on #10262
By default, node name should not be in get pods output. That violates separation of concerns. We don't want users to think about the nodes, in general. That's a cluster admin concern. It can be in describe pods and we could list/count pods in describe nodes. Or, you could use `-o template` or `-o json | jq` to print whatever fields you like.

We could maybe add a verbose flag of some kind to print

[2015-06-24 17:34] bprashanth commented on #10262
a describe nodes without any argument would be cool, one of my most used bash_rc functions shows pods/services per node and health.

[2015-06-24 17:35] lavalamp opened #10295 "Fix kube-controller-manager usage example: remove --machines"
(in usage & therefore man pages)

[2015-06-24 17:50] lavalamp commented on #10263
Yes, sorry, I meant to close this last night. kube-down.sh/kube-up.sh gave me a working cluster again.

[2015-06-24 18:00] jlowdermilk commented on #10247
Sorry, I meant to make that a question not a statement. I don't have enough context to know what pieces are currently using the token. Perhaps a better question is what do we still use basic auth for? Is it just for hitting the api with a browser?

[2015-06-24 18:09] thockin commented on #10262
Yeah, I really want get -o wide to give me the old view (or something like
it)

On Wed, Jun 24, 2015 at 10:27 AM, Brian Grant <notifications@github.com>
wrote:

[2015-06-24 18:10] satnam6502 commented on #10247
Yes, basic auth is what we tell people to use when accessing cluster level services from the browser, and token for when using curl. See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/logging-elasticsearch.md

[2015-06-24 18:10] bgrant0607 commented on #10262
cc @ghodss @andronat

[2015-06-24 18:14] mbforbes commented on #10183
I'm going to add a team and priority, but @RichieEscarez, if this is complete, can you please close it? I'm unsure how to treat this issue!

[2015-06-24 18:16] mbforbes commented on #10195
Is this worth an issue or mention in https://github.com/tools/godep ?

@karlkfi is there any work left in this issue? It looks like you've got it figured out so I'm closing... *please* re-open if I'm mistaken! Thank you!

[2015-06-24 18:17] mbforbes commented on #10209
+cc @cjcullen @brendandburns

[2015-06-24 18:18] mbforbes commented on #10213
@adyanthaya17 can you please confirm whether updating solves this? And close this issue if so?

[2015-06-24 18:19] bgrant0607 commented on #9356
Decision: We're moving addons and mirror pods, but not the kubernetes service.

@satnam6502 and @brendandburns can work out who's actually going to do it

[2015-06-24 18:21] #10229 closed

[2015-06-24 18:23] bgrant0607 commented on #4231
Closing in favor or #9356

[2015-06-24 18:23] #4231 closed

[2015-06-24 18:23] bgrant0607 commented on #9356
For posterity, additional previous discussion: #3293

[2015-06-24 18:24] nikhiljindal commented on #10278
Syncing past https://github.com/GoogleCloudPlatform/kubernetes/pull/10230 might help as well.

[2015-06-24 18:25] satnam6502 commented on #9356
What name shall we use for the new namespace? `kubernetes` ?

[2015-06-24 18:28] DreadPirateShawn opened #10297 "Getting errors when attempting token authentication from kubelet"
I'm having difficulty getting token-based authentication configured without degrading the behavior of the kubelets.

**I've got a master and 3 nodes, running processes like so:**

== master (10.0.0.2) ==

[code]

[code]

[code]

== nodes (10.0.0.3, 10.0.0.4. 10.0.0.7) ==

[code]

[code]

**My token files are here, with both auth file and kubeconfig variations:**

== known_tokens.csv ==

[code]

==

[2015-06-24 18:28] mbforbes commented on #10284
Can you give a bit more detail to help me triage this? Is this a bug or just needs a docs change?

[2015-06-24 18:30] mbforbes commented on #10288
This seems very useful

[2015-06-24 18:30] mbforbes commented on #10290
+cc @cjcullen / know who else to rope in?

[2015-06-24 18:32] mbforbes commented on #10297
+cc @roberthbailey you might know something about this or who to point @DreadPirateShawn to

[2015-06-24 18:33] bgrant0607 commented on #9356
Yes, `kubernetes`.

Mirror pods should take their namespace from their config files on Kubelet, and Kubelet should reject the config if the namespace is missing. We should update our static pods to put them into the `kubernetes` namespace. @yujuhong

[2015-06-24 18:34] lavalamp commented on #10009
I don't get why. ObjectReference has a version field?

[2015-06-24 18:35] erictune opened #10298 "Change default secure port to 443"
Now that nginx proxy is not the preferred configuration, there is no reason to use non-standard port 6443.
Change the default value from 6443 to 443?  This will require changes in some getting started guides.

[2015-06-24 18:35] erictune commented on #10298
this is for apiserver.

[2015-06-24 18:37] mbforbes commented on #10254
More reboot tests!

[2015-06-24 18:38] jlowdermilk commented on #10247
Seems like we should be telling users to run `kubectl proxy` to access cluster level services from the browser. Do you know if cluster level services are accessible via `kubectl proxy`? I recall there being some trouble with it, but I thought we fixed it.

[2015-06-24 18:39] yujuhong commented on #9356
We already do that, but would use the default namespace if it's not specified.

Are we enforcing namespaces for all config files? What's wrong with using the "default" (or any other default) namespace if user doesn't specify one? Isn't it the same as the regular pods created through the apiserver?

[2015-06-24 18:39] mbforbes commented on #10254
It'd be great to get our current "blow stuff away" tests out of their own sandbox and into the real world as well. If these things take a while to run I fear they'll also be relegated.

But overall, this seems like a great idea!

[2015-06-24 18:42] UserTaken commented on #10284
@mbforbes `$ etcdctl ls --recursive /registry` still shows `/registry/minions/` instead of `/registry/nodes/`. i'm uncertain if this is intentional or an oversight.

[2015-06-24 18:45] #10251 closed

[2015-06-24 18:47] lavalamp commented on #8636
These are fixed if you build from head.

[2015-06-24 18:47] DreadPirateShawn opened #10299 "`kubectl describe` docs: explain what happens if the object doesn't exist"
In kube-apiserver.INFO, I see a failed API call being attempted roughly every second:

[code]

Note that legit endpoints, eg "/api/v1/namespaces/ns-mything/pods/mything-1jq7j", are also in the mix, and those are successful. Also note that many other endpoints are being checked, all successfully -- the specific endpoint is the only one returning a 404.

That invalid endpoint indeed returns 404:

[c

[2015-06-24 18:48] #8636 closed

[2015-06-24 18:48] erictune commented on #9673
I'm closing this to show that no more action is needed.  Feel free to open new issues with other questions.

[2015-06-24 18:48] #9673 closed

[2015-06-24 18:54] alex-mohr commented on #10268
@quinton-hoole Great to see tracking issues like this.  Presumably we have other gaps in our e2e testing -- are there similar ones for ensuring other cluster invariants hold?  What do we need to do to have 100% coverage as part of API compliance testing?

[2015-06-24 18:56] karlkfi commented on #10195
I provided a manual workaround, but it seems unreasonable to expect developers to have to know and/or do this.

It seems like an unrealistic expectation to expect all developers to develop on linux. I was under the impression many of the google developers use macs. Is no one else having this problem? I was hoping for some input or ideas.

I consider this a k8s bug, not a godep bug, but it might be

[2015-06-24 18:57] karlkfi commented on #10195
I am unable to re-open this issue. It seems restricted to committers...

[2015-06-24 19:00] jlowdermilk opened #10300 "Lack of visibility/attention to shippable/travis flakes may be hiding real bugs"
As we've all no doubt noticed, Shippable is really flaky. What's disturbing is that it's not just `hack/test-integration.sh` (#10257), there have been unit test failures that are timeouts/panics/data races. Because Shippable is so flaky, people tend to just kick it until it goes green, but this is probably hiding real bugs. We should be tracking every Shippable flake somewhere, a docs spreadsheet

[2015-06-24 19:25] RichieEscarez commented on #10116
Thanks @roberthbailey,

I think this is the type of info that we should make clear to our "users".

Question:
Do we want to ask "users" to run e2e tests too (thats for contributors only right)?

So for example, do you think we should make these types of statements (to clarify this area of the product)?
 - "View the list of getting started guides and the corresponding configuration software that ha

[2015-06-24 19:41] bgrant0607 commented on #10294
In general, we should probably revisit expose flags now that the API has changed significantly.

[2015-06-24 19:46] satnam6502 commented on #10247
`kubectl proxy` works now because we have switched to a newer version of Kibana that can access Elasticsearch via a DNS name for its service. However, I feel we also ought to support direct access via the proxy at the master.

[2015-06-24 19:47] thockin commented on #10294
We added a --type flag.  In general do we want operations that that map 1:1
to REST objects to expose flags for every field?

On Wed, Jun 24, 2015 at 12:42 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-24 19:48] krousey commented on #9286
@bgrant0607 I just did a quick pass and couldn't find anything in the examples. There's a few things in the getting started guides.

<pre>

docs/getting-started-guides/mesos.md-149-```bash
docs/getting-started-guides/mesos.md-150-$ cat <<EOPOD >nginx.json
docs/getting-started-guides/mesos.md-151-{ "kind": "Pod",
docs/getting-started-guides/mesos.md:152:"apiVersion": "v1beta1",
docs/getting-started

[2015-06-24 19:51] bgrant0607 commented on #10294
Not necessarily, no. Expose is for simple use cases.

[2015-06-24 19:51] thockin commented on #9356
Yeah, we could just audit all our own file-based configs to specify
namespace.

On Wed, Jun 24, 2015 at 11:39 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-06-24 19:53] bgrant0607 commented on #10235
The description and title should be swapped.

[2015-06-24 19:54] caesarxuchao commented on #10257
I'm timing the pod creation time in the intergration tests [here](https://github.com/GoogleCloudPlatform/kubernetes/pull/9899). It seems flakes are related to the workload on Shippable, because when I ran the tests in the night, it passed 23/24 runs. It has a much higher failure rate when running in the daytime.

[2015-06-24 19:54] quinton-hoole commented on #10268
I have not yet managed to figure out a good answer to your last question yet.  It turns out to be challenging to accurately measure e2e test coverage.  I have some code to analyse API server logs to determine what percentage of the (objects x operations x response_codes) landscape has been exercised by a given test run, but given the number of optional aspects of many API object types (Does this s

[2015-06-24 19:55] thockin opened #10303 "IP masquerade zone(s) needs to be configurable"
Currently GCE sets up masquerade for container traffic destined for anything but 10.0.0.0/8 - this is insufficient and it is not general enough for other (especially on-prem) installations.

[2015-06-24 19:56] bprashanth commented on #10257
https://github.com/Shippable/support/issues/1601

[2015-06-24 20:03] davidopp commented on #10262
We discussed and came up with a compromise (which apparently was the plan to do eventually anyway) of adding "-o wide" that would print hostname and perhaps other stuff as well. @bgrant0607 pointed out we should make "-o wide" work for all the commands/objects (even if it gives you an identical output to the default for most commands/objects). I'll re-title the issue appropriately. Also, @JanetKuo

[2015-06-24 20:06] bgrant0607 commented on #8817
What's left to do here?

[2015-06-24 20:06] bgrant0607 commented on #8817
And is anyone working on it?

[2015-06-24 20:07] davidopp commented on #10262
I just meant all objects. I think the idea was that we would only have -o wide for "get" not for things like "describe" (but if I misunderstood, I'm sure someone will correct me).

[2015-06-24 20:10] bgrant0607 commented on #4634
Closing in favor or #8929

[2015-06-24 20:10] #4634 closed

[2015-06-24 20:15] mbforbes commented on #10299
@davidopp can anyone on master team triage this?

[2015-06-24 20:17] smarterclayton commented on #10009
The biggest reason so far is kind names.  Minion vs Node is undecidable if you go through enough version and you're referencing that object from something in a different API scheme (like hypothetical build API at version v3 referencing what node it ran on with Kind "Node")

[2015-06-24 20:24] bgrant0607 commented on #10262
Past discussion was in #7843

[2015-06-24 20:25] bgrant0607 opened #10305 "`kubectl describe <kind>` should work with no arguments"
Currently it complains:
[code]
But it's not that it can't describe multiple objects (added in #5905), because label selection works, e.g.:
[code]

Forked from #9356.

cc @bprashanth

[2015-06-24 20:25] uluyol commented on #10009
I was referring to adding a type from the kubernetes api to another version. I was mixed up about the copy/conversion functions. Those are only needed when using a separate Scheme not when using a different version number.

I went ahead and created a new test version with the following two types:

[code]
In order to make things work, this required the following call
[code]

This appears to work (w

[2015-06-24 20:29] bgrant0607 commented on #8957
This needs to be moved to the v1 API.

[2015-06-24 20:29] bgrant0607 commented on #9286
Mesos is covered by #8957

[2015-06-24 20:30] thockin commented on #9075
Are there still actions items open on this?

[2015-06-24 20:31] mbforbes commented on #10195
I also develop on a Mac.

I have only experienced pain and sorrow with godep.

@a-robinson has helped me once. Any wisdom?

[2015-06-24 20:33] satnam6502 commented on #9356
Brendan is already only it so I have re-assigned.

[2015-06-24 20:33] bgrant0607 commented on #5799
Azure.

[code]

[2015-06-24 20:34] bgrant0607 commented on #9286
Azure is covered by #5799.

Closing this issue.

[2015-06-24 20:34] #9286 closed

[2015-06-24 20:36] a-robinson commented on #10195
I haven't updated our godeps in months, and never on OS X. There must be someone else more paged in to help with this?

[2015-06-24 20:37] bgrant0607 commented on #9873
Both issues were fixed.

[2015-06-24 20:37] #9873 closed

[2015-06-24 20:37] smarterclayton commented on #9356
@derekwaynecarr @deads2k our admission controllers and kubelet acl should change to reflect this in our next major - we should only grant pod create to kubelet clients in the Kubernetes namespace

[2015-06-24 20:38] thockin commented on #7972
Saad, can you update this if you get a second?

[2015-06-24 20:39] bgrant0607 commented on #9734
@thockin are you working on this?

cc @krousey

[2015-06-24 20:40] thockin commented on #9734
I just tagged you as the 2nd LGTM for #9736

[2015-06-24 20:43] saad-ali commented on #7972
Sure. I implemented the suggested work around in PR #9929 but we decided that was too broadscope (hitting all the devices on the system with a `udevadm trigger`). So I closed that and created follow-up PR #10169 which tries to be much finer scoped and also implements retries on detach which should also help with issue #9994.

[2015-06-24 20:45] bgrant0607 commented on #7789
cc @krousey

[2015-06-24 20:46] bprashanth opened #10306 "Detect node issues from density test"
2 issues:

1. node controller pod eviction
2. kubelet restarts by monit

The nodecontroller can send an event when it decides to evict pods from a node for 1 and we already have a kubelet restart event we can watch. Useful things to list out when one of these happens:

1. Running pods (via the master proxy, getting this before the pods are gone would be nice)
2. High latency node operations, eg: h

[2015-06-24 20:50] satnam6502 opened #10307 "Possibly replace the use of wait.Poll in e2e tests with some other standard retry mechanism?"
I have just had to re-write this loop:

[code]

as:

[code]

because we are supposed to use `wait.Poll` in our tests.

I don't llike this. With the lack of generics in Go we can't do a good job of writing such a function. Ideally, we should paramaterize on result type of the operation so created values can be returned and so that any information required by the closure can be passed as an argument

[2015-06-24 20:51] bprashanth opened #10308 "Start test clusters with v3 logging"
We should modify the salt configs to setup test clusters with at least v3 logging. It is otherwise impossible to separate the realness from the rethoric. I _think_ we can achieve this with a new salt grain.

/ref https://github.com/GoogleCloudPlatform/kubernetes/issues/10282

[2015-06-24 20:54] mbforbes commented on #10307
My main dislike of it is that the function it accepts has two return values instead of one for the sole purposing of short-circuiting out on a hard error.

A lot of the other Go code I am familiar with just has a single `error` as the return, which I think is a better interface. I have never actually used this to short-circuit out on a non-recoverable error, and I've used it several times now.

[2015-06-24 20:59] satnam6502 commented on #10307
@mbforbes just wrote to me in IM:
[code]
which confirms my point about how confusing this is.

[2015-06-24 21:07] erictune opened #10309 "Create secret with invalid base64 data gives unhelpful error message"
This works:
`kubectl create -f examples/secrets/secret.yaml`

But, modify one of the base64 encoded fields to be invalid (such as by adding an extra `=` at the end), and try again.  You get this error message which is completely unhelpful:
`error: no objects passed to create`.

[2015-06-24 21:15] erictune opened #10311 "Sort yaml/json fields more helpfully when printing objects"
When I do `kubectl get foo/bar -o yaml`, I see things like this:

[code]

It appears that tags are sorted alphabetically.
I'd rather always see fields that are in all objects at the top, so `apiVersion`, `kind`, and `metadata` should come before any kind-specific fields. (In the above example, field `foo` comes before `metadata`).

And I'd rather see `name` as the first property in a list for whic

[2015-06-24 21:18] quinton-hoole commented on #10307
@lavalamp FYI.  I think that he probably wrote wait.Poll() originally, and may be able to defend it's design better than I can.

I don't feel terribly strongly about how exactly we implement retries, only that we do it consistently and sensibly (e.g. timing out after a well defined time period where appropriate, and not after a number of iterations of an operation with poorly defined timing semant

[2015-06-24 21:19] satnam6502 commented on #10307
The bit about waiting for generics was meant to be a joke.

[2015-06-24 21:19] satnam6502 commented on #10307
Also, @mbforbes has told me that I have got my loop wrong because I am not correctly using the bool and error return values.

[2015-06-24 21:20] davidopp commented on #10144
So IIUC there are three problems, that are loosely related:
1) [code problem] The cbr0 stuff (#9822 and #10122)
2) [code problem] The fact that etcd before 2.0.12, and possibly also 2.0.12, does bad things on SIGKILL or other non-graceful shutdown (#10146)
3) [test problem, becomes a non-issue if/when (2) is fixed] The fact that because of (2) we can't run the "SIGKILL etcd" test right before othe

[2015-06-24 21:21] lavalamp commented on #10009
I guess I must be dense today, because I still don't see what the issue is. So you reference minion:v1beta1. What is wrong with that? Can you give a concrete example? This is hard to reason about in the abstract.

I *can* see adding a provider to the type, e.g. kubernetes/minion:v1beta1. That makes a lot of sense.

[2015-06-24 21:23] mikedanese commented on #10144
As for 2) Apparently issue is closed upstream. I have reenabled the SIGKILL test, as of an hour ago for observation. coreos/etcd#2877

[2015-06-24 21:35] roberthbailey commented on #10116
Users shouldn't need to run e2e tests. They will be using the same functions as the e2e tests exercise (hence the need for the tests to verify that things continue to work) but the tests themselves are only for contributors.

That salt page is quite out of date (it's been a long time since we stopped connecting the nodes to the master in a salt minion/master relationship).

I think we should just

[2015-06-24 21:44] lavalamp commented on #10307
No, wait.Poll is @smarterclayton I'm pretty sure.

Many of the places we use wait.Poll can now be done better with watches. I would like to eventually move to that.

I personally don't find wait.Poll to make much impact on clarity, except that I always have to look up whether the timeout or poll period is the first argument.

[2015-06-24 21:47] quinton-hoole commented on #10307
That's what compilers are for :-)

[2015-06-24 21:48] smarterclayton commented on #10307
So much hate :) - the biggest benefit is that it prevents lots of small inconsistent places to be consistent.  I've seen people mess up basic loops and wait.Poll equally, but it does give us something to look at.

I would like to have wait.Watch() eventually (or an equiv) - the logic people do for watching doesn't often account for error cases properly.

[2015-06-24 21:48] smarterclayton commented on #10307
Maybe we should type the first argument.

[2015-06-24 21:50] satnam6502 commented on #10307
Well, no hate intended! More comical frustration at my brain being too
small to understand `wait.Poll` :-)

On Wed, Jun 24, 2015 at 2:48 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-06-24 21:52] smarterclayton commented on #10307
To be fair, I also can't remember which order they are in :)

Part of the reason for wait poll is that I wanted to do wait.Backoff and wait.ExponentialBackoff as well.

[2015-06-24 21:52] bgrant0607 commented on #10311
Agree. We should use the same order as in types.go, which would enable us to curate the order. go-restful does that when constructing the swagger now.

This is pretty important for the cross-version conversion tool, and for generating config files more generally.

[2015-06-24 21:54] roberthbailey commented on #10297
For the insecure port, the apiserver doesn't do any authentication checking. So it's both insecure in the sense that the traffic is unencrypted and also in the sense that all requests are accepted without any extra credentials (this is why it's configured to only listen on localhost by default).

Since you set `insecure-bind-address` to `10.0.0.2` rather than leaving as the default value of `127.0

[2015-06-24 21:56] satnam6502 commented on #10307
I would prefer a function which has a (not currently valid) type like this:

[code]
which would keep retrying the operation at the given frequency until the specified timeout.
The operation is passed an argument of type `X` so it has everything it needs in the closure to work without directly accessing the outer context and the returns the result of the operation of type Y (e.g. a pod or namespace

[2015-06-24 21:57] satnam6502 commented on #10307
Anyway, I will close this issue since this is not the biggest thing we need to worry about right now.

[2015-06-24 22:01] #9662 closed

[2015-06-24 22:08] smarterclayton commented on #10307
Retry is definitely a clearer name

[2015-06-24 22:09] roberthbailey commented on #10247
We should no longer need the token in the kubeconfig file that is used client-side by kubectl (you can verify this by deleting the `token: LsUe2Z4cXqa61UQqQ2qWGGf7nOSLw9np` line from your file -- everything will continue to work).

That doesn't mean we should remove bearer token or basic auth support from the apiserver though. We also use bearer token auth for kube-proxy on GCE btw.

[2015-06-24 22:20] bgrant0607 commented on #7047
cc @caesarxuchao

[2015-06-24 22:21] caesarxuchao commented on #10202
Based on in-person discussion with @bgrant0607, here are what we decide to do:
1. Add a `--force` flag to `kubectl update`. When this flag is set, `kubectl update` will delete and re-create the object.
2. Modify the documentation, make it clear that `kubectl update` expect a full specification; also tell people to use cmdline tricks like pipeline and jq if they want to use `kubectl update` to make

[2015-06-24 22:27] roberthbailey commented on #10265
@antoineco Do you know what generates the kubeconfig file for skydns on CoreOS/AWS? On GCE, we have a special check when generating the kubeconfig files for system services to use the master IP for DNS rather than the kubernetes service name (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kube-addons/kube-addons.sh#L149-L152). I'm guessing that the salt-bas

[2015-06-24 22:28] bgrant0607 commented on #3933
I'm now thinking we should eliminate api/types.go. Discussion here: https://github.com/GoogleCloudPlatform/kubernetes/issues/8190#issuecomment-114139999

[2015-06-24 22:30] JanetKuo commented on #10262
Discussed with @bgrant0607 and decided to start with adding one more column for `get pods -o wide`, which is `NODE` (NodeName in API); `get services -o wide` will just show default columns.

We may add some more columns later, such as ClusterIP, SessionAffinity, etc.

[2015-06-24 22:35] erictune opened #10318 "More helpful error when using unsupported api version"
[code]
These are not helpful error messages.  We can do better, especially since we have people who are going to be reading v1 examples and trying them on older clusters.

[2015-06-24 22:37] erictune commented on #10318
Same unhelpful errors if I try to create a v1beta1 resource on a server which only supports v1beta3 and v1.

[2015-06-24 22:50] DreadPirateShawn opened #10319 "Inconsistent Running/Pending status while pod continues to function"
My pods appear to change, randomly but repeatedly, from "Running" to "Pending" status and back, according to "kubectl describe pods". The restart count remains at zero, and I can't find any corresponding errors in any of the kubernetes or docker logs. The pod names (mything-1jq7j, mything-rdd7e) are stable. The restart count remains zero. And during the seeming "pending" periods, I can still *use*

[2015-06-24 22:55] erictune commented on #9740
#10316 will fix the broken link and invalid json.

The `Error: the server could not find the requested resource` is due to your server not having a recent enough version to support api version v1.  That error message could definitely be cleared.  Filed #10318 to improve that error message

I think the `Error: Secret "myregistrykey" is invalid ...` is due to your server not having this commit # in

[2015-06-24 22:55] erictune commented on #9740
Thanks for the report, it was useful.

[2015-06-24 22:55] #9740 closed

[2015-06-24 22:56] antoineco commented on #10265
Yes the kubeconfig file is also generated by kube-addons.sh on AWS, but we don't use KUBERNETES_MASTER_NAME there so _server_ is always `https://kubernetes`.

This could have explained the failure *but*, when using `kube-up.sh`, kube2dns connects to the API using ip:port in spite of the DNS name inside the kubeconfig.

I tried a nslookup from inside the kube2sky container and it can definitely not

[2015-06-24 22:58] pires commented on #9075
Yes, just need to implement a way in the `master.yaml` to generate SSL key to use and we're done.

[2015-06-24 23:01] cjcullen commented on #10144
coreos/etcd#2877 is closed, but I don't feel confident that this is entirely solved upstream (see https://github.com/coreos/etcd/issues/2276#issuecomment-114607008)

[2015-06-24 23:02] liggitt commented on #9075
See also https://github.com/GoogleCloudPlatform/kubernetes/pull/10264 in progress to include the root CA. You'll likely want to provide a CA for inclusion as well

[2015-06-24 23:02] bgrant0607 commented on #10202
Sounds right.

We should also determine whether create via PUT works: #7047, #2114

[2015-06-24 23:04] mbforbes commented on #10284
@davidopp do you have context or know who might?

[2015-06-24 23:05] bgrant0607 commented on #10202
We could also (in a separate PR) make `update --force` smart enough to determine whether re-creation is necessary using the hash comparison described above.

[2015-06-24 23:07] mikedanese commented on #10202
I see code that seems to imply that PUT is intended create https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/resthandler.go#L510-L512

[2015-06-24 23:11] lavalamp commented on #10284
Essentially, https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/minion/etcd/etcd.go#L53 is wrong.

However, changing it requires data migration, which is probably why it wasn't done.

This is an internal detail that clients should not depend on (only apiserver talks to etcd!), so it's probably not terribly important.

[2015-06-24 23:11] pires commented on #9075
I am not aware of this root CA and tbh I've had enough breaking changes in the last couple weeks. It's amazing to see Kubernetes getting there, but troublesome to keep up in the CoreOS world.

As for me, my `kubernetes-vagrant-coreos-cluster` works right now by just providing the SSL key file, generated with `openssl genrsa -out kube-serviceaccount.key 2048 2>/dev/null`, to my master VM and run:

[2015-06-24 23:20] mikedanese commented on #10284
#1111 The minon->node migration is not complete.

[2015-06-24 23:22] liggitt commented on #9075
There are basically three levels of security talking to the API:
- http, read only. This is what is going away
- https, authenticated via token, client don't verify server's certificate. This is what you get by providing the service account key
- https with server cert verification. This is enabled by providing the root CA bundle for clients inside pods to use to verify the server's cert

Enabling

[2015-06-24 23:22] yujuhong commented on #7250
@TomasTomecek, I am closing this assuming the issue has been fixed. Feel free to reopen if it's not true :)

[2015-06-24 23:22] #7250 closed

[2015-06-24 23:32] mbforbes commented on #10319
@lavalamp do you have any cycles to take a look?

[2015-06-24 23:37] pires commented on #9075
@liggitt yes, service-accounts are mandatory. I will push the PR tomorrow. Thanks for clarifying.

[2015-06-24 23:44] erictune commented on #9984
Users can't expect arbitrary combinations of (IaaSs, OS, Networking, Config Management) to work.
They have to use specific combinations that have been made to work together, listed
[here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md), or build a system from [scratch](
https://github.com/GoogleCloudPlatform/kubernetes/pull/10271)

I'm not aware

[2015-06-24 23:44] #9258 closed

[2015-06-24 23:47] nikhiljindal commented on #10202
Yes. Seems like endpoints support creation via update: https://github.com/GoogleCloudPlatform/kubernetes/blob/11f9fd1dcd9a0b45e2b1fdeced95b61aed153599/pkg/registry/endpoint/rest.go#L66

[2015-06-24 23:53] satnam6502 commented on #9753
Ah, sorry for prematurely closing this issue.

[2015-06-24 23:58] dchen1107 opened #10321 "Update docs/design/networking.md"
Once #10312 is merged, we could deprecate container_bridge.py, and above doc should be updated to reflect the latest changes.

cc/ @thockin

[2015-06-25 00:00] mbforbes opened #10322 "Timeout errors in e2e tests are fantastically unhelpful"
We've got a failing e2e test right now. Here's what the error says:

[code]

"Timed out waiting for the condition," huh? How helpful.

This requires you to go look a the code. And if you have skew in the code you're testing versus what you have checked out—well, have fun hunting.

This is a combination of our `WaitFor(...)` code:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/ut

[2015-06-25 00:06] thockin opened #10323 "Service with type=LoadBalancer should be able to attach to an extant LB or IP"
Exact semantics TBD, but it's clear that people need to be able to connect to existing LBs.  Maybe we can provide a simple way to do this before the next major round of API changes.

[2015-06-25 00:06] lavalamp commented on #10319
@DreadPirateShawn can you post (or email directly to me) the kubelet.log from your 10.0.0.4 node?

Also, can you check the node condition? (`kubect describe node 10.0.0.4`) Is it flipping between Unknown/NotReady and Ready?

[2015-06-25 00:13] yujuhong opened #10324 "`kubectl describe pod` should list the reason/message of the status"
The reason/message is important when debugging why the pod is in the current non-running state.

E.g., here is the output from `describe pod`, which only shows the status is failed without giving any explanation.
[code]

If you do `get pod foo -o json`, you can see the message/reason that explains the status.
[code]

Sometimes a relevant event is recorded and shows up in the output of `describe po

[2015-06-25 00:13] thockin commented on #10290
UDP: Yes, it should not actually be a big change it just didn't get done.  #2849

Static IP: This is actually two problems.  part 1 is "I want o keep an IP".  Until proper support is done you can just not delete your Service object.  part 2 is "I want to use a specific IP".  This is, in fact missing from the current API.  It's not a very big change, I think, but it's also not done.  I just don't t

[2015-06-25 00:13] #10290 closed

[2015-06-25 00:15] thockin commented on #10291
I don't have contact info for the original poster, but #10290 explains this, #10323 is specifically about LBs using specific IPs.  I don't see this getting fixed for 1.0.

[2015-06-25 00:15] #10291 closed

[2015-06-25 00:15] thockin commented on #10255
Estimate the work?  Who is available and has context to work on this?

[2015-06-25 00:16] bgrant0607 commented on #10280
You can prevent restarts by setting pod.spec.restartPolicy to "Never".

How are you stopping the container/pod?

[2015-06-25 00:17] ae6rt opened #10325 "0.19.3 delete-pod returns a Pod representation and not a Status representation"
Hi.  I installed k8s 0.19.3 via kube-up.sh with an AWS provider.

I must be missing something obvious, but I thought this was worth posting just in case.

I find a pod-delete via curl to the v1 REST API returns 200 OK with the Pod representation, instead of the Status representation.

Here are the vital details:  https://gist.github.com/ae6rt/3ce32740d9595fc616e9

The way I read the API docs https

[2015-06-25 00:18] thockin commented on #10108
@jlowdermilk

[2015-06-25 00:18] thockin commented on #9903
Jeff, I'm going to close this for now - if you have a repro, please reopen ASAP

[2015-06-25 00:18] #9903 closed

[2015-06-25 00:19] lavalamp commented on #10325
Our delete handler may send back either a status or the last known state of the object: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/resthandler.go#L566

We should fix our docs or fix our code, it's not immediately obvious to me which is wrong, but one of them is.

[2015-06-25 00:22] thockin commented on #9866
PR has been approved

[2015-06-25 00:23] thockin commented on #9861
Is this still an issue?  What is the one-line fix?

[2015-06-25 00:25] thockin commented on #9849
I'm with David - I don't know the status of this - is it a real issue right now for the currently supported platforms?

[2015-06-25 00:26] yujuhong commented on #10319
I don't think any component other than kubelet sets the pod status once it becomes `Running`, even if node becomes NotReady(?).

kubelet.log would certainly help understand the situation. @DreadPirateShawn, If you can get the pod (`kubectl get pod <pod_name> -o json`) in pending state, it may also have other fields (Status.Reason or Status.Message) that may help explain the state (they are current

[2015-06-25 00:26] thockin commented on #9793
If you can repro this with kube-proxy running -v=4, please send the logs.  Leaving this in candidate for now.

[2015-06-25 00:35] thockin commented on #10321
also remove ./cluster/saltbase/salt/_states/container_bridge.py

[2015-06-25 00:36] thockin commented on #8250
self-assigning - I will get a new kube2sky built which does not depend on the extra token or at least falls back on inCluster without it.

[2015-06-25 00:44] uluyol commented on #10009
[This post follows a discussion with bgrant0607 and lavalamp]

### Summary

Logically, an API object should be uniquely identifiable by an API provider, group, version, and kind. Having API groups allows for independent versioning of different components, while providers are responsible for serving multiple API groups. Supporting multiple providers is not a high priority, and so the focus will be

[2015-06-25 00:45] davidopp commented on #10299
@lavalamp

[2015-06-25 00:52] lavalamp commented on #10299
The user agent suggests that the calls are coming from a "kubectl/v0.19.3". Any chance it's something you left running in another tab?

[2015-06-25 00:53] mbforbes commented on #10323
@thockin feel free to pick a relevant priority when you open these. I'm just guessing.

[2015-06-25 00:53] mbforbes commented on #10324
@yujuhong feel free to pick a relevant priority when you open these--I'm just guessing.

[2015-06-25 00:59] #10122 closed

[2015-06-25 01:00] lavalamp commented on #10009
To that I'd add:

* Cross-provider introspection is explicitly out of scope; different providers will not be served by the same binary, and a provider defines the rest of the hierarchy. The api group, version, kind tree applies just to the kubernetes provider.
* Our TypeMeta will be moved to an "unversioned" library, so that we can use the same object in every version. We expect that it's stabiliz

[2015-06-25 01:06] uluyol commented on #10009
I didn't think of that, but yes they would be the same. The one issue with using TypeMeta is that it would cause an import cycle (api -> runtime, runtime -> api) unless it's moved out of the api package.

[2015-06-25 01:11] lavalamp commented on #10009
Yeah, it should move to pkg/api/unversioned or pkg/api/versionless. But still runtime should not be importing anything under pkg/api, so you have a very good point. Hm. I'll think about it.

[2015-06-25 01:13] perljedi commented on #9861
#10073 Did not fix it in my environment, but I am only using the Vagrant/Fedora/OVS set up for my dev instance, so I I just switched to Vagrant/CoreOS/Weave.

The one line I suggested was:
https://github.com/GoogleCloudPlatform/kubernetes/pull/10025

but there is some disagreement about whether that actually fixes it.

[2015-06-25 01:17] bgrant0607 commented on #1518
See #10210

[2015-06-25 01:18] bgrant0607 commented on #1518
I'll try to find time to respond to the above proposals at some point, but I'm strongly opposed to numerical priorities.

[2015-06-25 01:28] uluyol commented on #10009
I should point out that it would be nice if pkg/conversion could import it as well since runtime.Scheme is mostly a thin wrapper around conversion.Scheme.

[2015-06-25 02:23] bgrant0607 commented on #1518
One comment at a time.

@ravigadde re. https://github.com/GoogleCloudPlatform/kubernetes/issues/1518#issuecomment-111192910: See discussion in #3058. We already decided not to reuse ReplicationController for this case.

[2015-06-25 02:27] bgrant0607 commented on #1518
Re. https://github.com/GoogleCloudPlatform/kubernetes/issues/1518#issuecomment-111301530: @erictune is correct that we do not plan to use the same approach for rolling update.

I think Daemon should be more similar to the proposed Deployment (#1743) than to ReplicationController, in that it should contain a declarative representation of the desired state of the pod on all nodes, and should orchest

[2015-06-25 02:30] bgrant0607 commented on #1518
Re. https://github.com/GoogleCloudPlatform/kubernetes/issues/1518#issuecomment-111367104 @davidopp: we should use approach 1, insofar as the Daemon controller should set the nodeName field.

[2015-06-25 02:32] bgrant0607 commented on #1518
General comment on eviction of Daemon pods from nodes:

Forgiveness (#1574) could prevent eviction of Daemon pods, if necessary, but we don't need that initially.

[2015-06-25 03:12] adyanthaya17 commented on #10280
@bgrant0607 To stop the container I'm using the following command:
$ kubectl stop POD update-demo-nautilus.

@thockin Yes, I want the system to run slower as in ten seconds slower so that I can show the failed pod and demonstrate the new pod taking it's place.

[2015-06-25 03:20] bgrant0607 commented on #10324
cc @andronat @ghodss

[2015-06-25 03:23] justinsb commented on #9995
@thockin is there any real reason we don't support UDP in the load balancer?  We've changed the method signature in the cloudprovider so we pass ports as []*api.ServicePort now (instead of []int); and it looks like we're actually listening on the UDP port in proxy anyway.  @statik's use case seems real, but driven by a lack of UDP load balancing.

[2015-06-25 03:24] fabito opened #10327 "How to make fluentd-sidecar-gcp recognize/parse logging severity"
Hi  @a-robinson ,

I'm using a **fluentd-sidecar-gcp** based container to send my application logs to GCP.
Everything is working fine.
I wanted to know what should I change in order to have the log's severities/levels properly categorized in the web GUI.
My logs look like this:

[code]
Is it a fluentd configuration ?
Any help is appreciated.

regards
Fábio

[2015-06-25 03:26] adyanthaya17 commented on #10278
$ kubectl cluster-info
Kubernetes master is running at http://10.x.x.x:8080

where 10.x.x.x is my master node. I ran thr comman 'kubetcl proxy'

$ kubernetes/examples/update-demo/local# kubectl proxy
Starting to serve on localhost:8001

@thockin My set up is like this: where I have two nodes-one behaving as both master and minion while the other node as a minion. I have my kubernetes environment u

[2015-06-25 03:46] bgrant0607 commented on #1518
Re. https://github.com/GoogleCloudPlatform/kubernetes/issues/1518#issuecomment-113716293 @erictune: I agree that such a startup protocol would be useful. Perhaps we could use initializers as discussed in #3585. I wouldn't want to overload the current unschedulable field. Perhaps we could also just have the node controller schedule daemon pods, since it's responsible for node lifecycle. The node co

[2015-06-25 03:47] bgrant0607 commented on #1518
Let's not overcomplicate the problem right now. I agree we'll probably need to restrict who can create daemons and we might need preemption, but we don't need them initially in order for this to be useful.

[2015-06-25 03:48] bgrant0607 commented on #1518
I think I'm caught up. Let's make further comments on the proposal in #10210

[2015-06-25 03:51] bgrant0607 commented on #1518
cc @AnanyaKumar

[2015-06-25 03:52] adyanthaya17 commented on #10278
$ kubectl version
Client Version: version.Info{Major:"0", Minor:"17", GitVersion:"v0.17.0", GitCommit:"82f8bdac06ddfacf493a9ed0fedc85f5ea62ebd5", GitTreeState:"clean"}
Server Version: version.Info{Major:"0", Minor:"18", GitVersion:"v0.18.0", GitCommit:"754d3ce99ee50f392369868bf6ba1e866801b086", GitTreeState:"clean"}

[2015-06-25 04:11] adyanthaya17 commented on #10278
@nikhiljindal I tried with the update of #10230 but it didn't seem to work.

[2015-06-25 04:22] bgrant0607 commented on #1518
@ravigadde Please comment regarding whether #10210 satisfies your use case.

[2015-06-25 04:29] thockin commented on #9861
I have no basis on which to evaluate this issue - should I leave it open?
 close it?  bother somebody (who?) to do something (what?)

On Wed, Jun 24, 2015 at 6:13 PM, Dave <notifications@github.com> wrote:

[2015-06-25 04:40] davidopp commented on #1518
I like the idea of having the node controller schedule daemon pods. Putting in one place all the logic that has to run before a node is considered ready to accept regular pods makes a lot of sense.

But I'm not sure why you're mixing Deployment into this. It seems that just as we built ReplicationController as one component and plan to layer Deployment on top to allow declaratively describing stat

[2015-06-25 04:42] davidopp commented on #1518
(To clarify my previous comment, when I refer to DaemonController I'm talking about logic, not necessarily a separate component; as you said, we could put the logic in the node controller).

[2015-06-25 04:46] rajatchopra commented on #9861
I tried the setup again today and it works for me. To be sure whether kube2sky can see apiserver properly, I checked that there is active connection maintained inside the container (running on one of the nodes).

[code]

May I suggest @derekwaynecarr try once too (sorry for dragging you here :))? And if there is another instance of time-out error then we need to investigate.
@perljedi Please do no

[2015-06-25 04:56] dchen1107 commented on #10324
Will send pr shortly.

[2015-06-25 05:02] derekwaynecarr commented on #9861
I will try the same tomorrow.  I want to get all E2E passing this week.

Sent from my iPhone

[2015-06-25 05:32] thockin opened #10333 "vendored docker deps are out of sync"
[code]

We can not vendor two revs of the same repo.  Godep ops fail because the 1.4.* rev does not have jsonmessage.

[2015-06-25 05:32] thockin commented on #10333
@rjnagal This is what I was trying to fix before.

[2015-06-25 05:41] dchen1107 commented on #10333
@thockin Here is what I am having at my branch which is sync-ed one hour ago.

                {
                        "ImportPath": "github.com/docker/docker/pkg/jsonmessage",
                        "Comment": "v1.4.1-4045-g2b27fe1",
                        "Rev": "2b27fe17a1b3fb8472fde96d768fa70996adf201"
                },
                {
                        "ImportPath": "github.com/d

[2015-06-25 05:42] dchen1107 commented on #10333
I just checked HEAD:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/Godeps.json#L157

they are on the same revisions too.

[2015-06-25 05:44] feihujiang commented on #10318
Is there anyone to work on this? If not, I'd like to volunteer myself to do this work.

[2015-06-25 05:50] rjnagal commented on #10333
this is what I fixed. All docker pkgs should be from "v1.4.1-4045-g2b27fe1"

On Wed, Jun 24, 2015 at 10:43 PM, Dawn Chen <notifications@github.com>
wrote:

[2015-06-25 05:53] thockin commented on #10333
oh, damn, I know what I did.  trap

On Wed, Jun 24, 2015 at 10:51 PM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-06-25 05:56] #10333 closed

[2015-06-25 06:02] dchen1107 opened #10335 "Measure kubernetes addons resource usage"
In #5880, We measure resource usage of heapster and other monitoring containers in a 100 node cluster with and without load. Based on that those container's container manifests (#10260,  #10334) are updated with proper resource limit. But we don't have measurements for dns, and kibana yet.

cc/ @davidopp @brendandburns

[2015-06-25 06:03] dchen1107 commented on #10335
cc/ @satnam6502 on bringing up 100-node scalability tests.

[2015-06-25 06:07] Kielan commented on #10318
I'm coming across a very similar situation with replication controller. Even if copy/pasting the exact example from the documentation. Seems the error reporting could be more helpful at least.

https://cloud.google.com/container-engine/docs/replicationcontrollers/operations

[2015-06-25 06:15] jdef commented on #8957
Agreed. We have changes in review right now, should be merged soon.

On Wed, Jun 24, 2015 at 4:30 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-25 06:16] antoineco commented on #10261
A couple of things:
- You're running in the default namespace so your cluster dns names are `<service>.svc.default.kubedomain.local`
- Your API server is running on an insecure port, your secret (kubeconfig file) should reflect that. Can you post its content?

[2015-06-25 06:17] nkwangleiGIT commented on #9673
Hi erictun, I'm just going to close this one, and thanks all for the kindly help!
Currently, we're using HAProxy and it's much faster, will open another one if any other issues.
Thanks again!

[2015-06-25 06:30] thockin commented on #10261
On Wed, Jun 24, 2015 at 5:25 AM, akamalov <notifications@github.com> wrote:

Is your master at that IP:port?

Choosing your own domain is fine - did you propagate that to kubelets?
 They have a --cluster-domain flag.

Right here you set your cluster IP to 10.100.0.10, but you were
calling dig against a totally different IP - 11.14.192.36 ?

Here you said "kubdomain" but elsewhere you said "kubedom

[2015-06-25 06:33] seanfreiburg commented on #6966
Same issue here too.

[2015-06-25 06:35] thockin commented on #10280
I see.  We don't have a "run slower mode".  But each pod has a different
name and UID - is that enough?

On Wed, Jun 24, 2015 at 8:13 PM, Aishwarya <notifications@github.com> wrote:

[2015-06-25 06:45] adyanthaya17 commented on #10280
I did observer that when I ran 'kubectl get pods' which gave different name and IP's that were assigned. That should be sufficient for now. Thank you.

[2015-06-25 06:47] a-robinson commented on #10290
Yes, the target pools are updated automatically by the service controller when nodes are added or removed from the cluster. If they're not being updated for you, it's most definitely a bug.

[2015-06-25 06:47] #10280 closed

[2015-06-25 06:55] thockin commented on #10265
There's a combination of things going on.  There's a bug that is causing
some builds of kube2sky to choose (silently)  on service account tokens
instead of any other auth mechanism.  That was fixed late last week.
There's also a feature that if it can't find the DNS name you ask for it
will fall back on ${KUBERNETES_SERVICE_IP} (10.0.0.1) - also silently.

Probably tomorrow we will have the CA plu

[2015-06-25 06:58] jkingyens opened #10337 "Provide access to kubectl without users needing to install it themselves, at least on GCP"
After spinning up a fresh GCE cluster, I found that when SSHing into individual instances that kubectl does not exist. I tried following the documentation for setting up kubectl using gcloud, but the gcloud that is already installed on the instances is out of date and conflicts with the documentation.

Is there any way to update the GKE images to include the latest gcloud with kubectl already inst

[2015-06-25 07:07] antoineco commented on #10265
You can :) Thanks for the answer

[2015-06-25 07:13] davidopp opened #10338 "pkg/api/resource isn't versioned"
Does this matter? We import resource.Quantity into the various types.go but unless I'm misunderstanding, resource itself isn't versioned (except to the extent that in a future version of the API, you could use something called resource.Quantity_v2 or something, but I assume that's not what we had in mind).

@bgrant0607

[2015-06-25 07:20] adyanthaya17 commented on #10278
Is it necessary to install gcloud SDK for the update-demo?

[2015-06-25 07:36] davidopp commented on #10284
Closing this since it is "working as intended." We're continuing to work on unifying the terminology (though I think the last time we discussed this, going back to "minion" rather than finishing the transition to "node" was actually winning in the polling). Anyway, the relevant issue is the one @mikedanese mentioned.

[2015-06-25 07:36] #10284 closed

[2015-06-25 07:57] bgrant0607 commented on #9356
@yujuhong Ok, fair enough, we could default to `default`. If that's what we do now, that's fine.

[2015-06-25 08:23] feihujiang commented on #10309
I tried "kubectl create -f examples/secrets/secret.yaml" in version 19+,
 the error message is:
error: unable to load file "examples/secrets/secret.yaml": unable to load "examples/secrets/secret.yaml": illegal base64 data at input byte 16
error: no objects passed to create

Is this error message helpful?  Or do we need to improve it?

[2015-06-25 08:36] ReSearchITEng commented on #7359
Tried this solution, and got: (kubernetes 0.17, docker 1.6.0):

Error from server: Secret "" is invalid: metadata.name: required value

[2015-06-25 09:10] adyanthaya17 commented on #10213
I have a release-0.19.0 directory in my kubernetes. I ran the command in the release-0.19.0 path and the command worked.

[2015-06-25 09:12] adyanthaya17 commented on #9386
The thing is I want to avoid working with the heat template for kubernetes and want to have an actual separate node that can integrate with openstack.

[2015-06-25 09:39] nkwangleiGIT commented on #7294
Hi all,
For this issue, so we want to support memory swap at both kubelet and API level?
1) Add option **--container-memory-swap-limit-factor=0** to kubelet, and it'll be a global default settings for memory swap
2) In the container's resource limits, we can also specify something like **container.resources.limits.memoryswap=1**, then it'll use 1L as memory swap(L is the memory specified)
We're al

[2015-06-25 10:40] adyanthaya17 opened #10343 "kubectl proxy command not completing"
When I run the below command:
$ kubectl proxy --www=examples/update-demo/local/
Starting to serve on localhost:8001

I have to make use of ctrl+c to come out as it looks like it's stuck. If I run the command again it tells bind address already in use. Does that mean it worked?

I'm trying use the update-demo from the examples here.

[2015-06-25 10:49] pires commented on #9178
1 and 2 are done by #10344.

[2015-06-25 10:50] pires commented on #9178
Add support for root CA, #10264 (by @liggitt)

[2015-06-25 12:04] wojtek-t commented on #10335
@dchen1107 - we are already running 100-node scalability tests on Jenkins:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-scalability/
 Does it make sense to run tests you mentioned as part of it?

[2015-06-25 12:51] analytik commented on #7954
For people who still have a problem with this, try adding `https://` to your `.dockercfg`. I found this to work for me:
[code]

[2015-06-25 13:36] timothysc opened #10348 "Service latency test tolerances issue."
We've been experiencing issues when we try to validate a HA-cluster of ~25 nodes.   The test states that 'Median latency should be less than 20 seconds', but it seems like the test tolerances are a bit tight, as if they designed for a very small test cluster with 1 etcd.

Our current stats are:
INFO: 50 %ile: 47.782314518s
INFO: 90 %ile: 1m5.380307982s
INFO: 99 %ile: 1m9.184195579s

I don't think

[2015-06-25 13:43] brendandburns commented on #10348
closing as a dupe of https://github.com/GoogleCloudPlatform/kubernetes/issues/10248

[2015-06-25 13:43] #10348 closed

[2015-06-25 13:45] brendandburns commented on #10343
proxy runs a webserver.  it blocks permanently, you should open a web browser on http://localhost:8001/static/  while it is running.

and yes ctrl-c is the right way to exit.

your os is holding the listen port for a little time.  if you wait, you can re-run.

[2015-06-25 13:45] #10343 closed

[2015-06-25 13:47] brendandburns commented on #10337
kubectl is installed on the master afaik, if its not, that's a bug.

It's not installed on the workers by choice.  We could do it, I suppose, what is your use case for kubectl on the workers?

[2015-06-25 13:48] brendandburns commented on #9566
Closed by #10134

[2015-06-25 13:48] #9566 closed

[2015-06-25 13:54] brendandburns commented on #8849
Closing this one as we now pull from gcr for everything.

[2015-06-25 13:54] #8849 closed

[2015-06-25 14:10] timothysc commented on #10080
/cc @rrati

[2015-06-25 14:22] bgrant0607 commented on #10217
Let's not add a field selector to DeleteOptions for now, please. I'm not convinced that's a pattern we want to encourage, and power is hard to take away.

For these bulk mutations, we need to figure out how to make them work asynchronously, even in the presence of TCP disconnects and apiserver failures. For instance, Namespace deletion (#7372) can record the fact that it's deleting in the Deletion

[2015-06-25 14:25] uruddarraju commented on #9386
@adyanthaya17 makes perfect sense, after all, I am not a big fan of Heat for many reasons.

But, if I understand it correctly, you want to create a kubernetes cluster on openstack. Is that right ? If it is, please look at the rackspace cloud providr for kube-up and the openstack.go cloud provider that we use to instantiate kubelet. A lot of these are actually broken and I have it in my queue to fi

[2015-06-25 14:28] statik commented on #9995
For sure I would prefer #2489. Also, I think being able to configure a GCE Network Load Balancer to send traffic to a higher port would be totally fine, after thinking about this overnight I think either/both of those things are the actual problem, and low ports in NodePorts would not be needed by me if I could specify the destination port in the manually configured Google Network Load Balancer (a

[2015-06-25 14:33] brendandburns commented on #10127
I'm going to take another shot at cleaning this up.

[2015-06-25 14:41] derekwaynecarr commented on #10217
@wojtek-t - isn't the solution to bulk resource deletion of events in a namespace is to not delete them one by one in etcd and instead do a single delete call to the parent folder?

[code]

i.e. we would just do a ```DELETE /registry/events/namespaceA``` which is what is implemented in #7372 ?  To me that seems the ideal solution for the problem identified.

[2015-06-25 14:42] derekwaynecarr commented on #10217
@wojtek-t - is the concern the time to wait or the actual time to remove from etcd?  I don't see how adding a label selector makes the actual time to purge from etcd better versus the single bulk delete of the collection.

[2015-06-25 14:43] liggitt commented on #10217
does a collection delete result in the proper watch events for the individual items deleted?

[2015-06-25 14:43] wojtek-t commented on #10217
@derekwaynecarr - it's definitely enough for my usecase motivation. I think that what @bgrant0607 suggested is to have something more generic.

[2015-06-25 14:57] derekwaynecarr commented on #10217
@liggitt - yes

I guess rather than something generic that still needs to result in N calls to etcd to satisfy for deleting N items, I would like to get the basic case of making 1 call to delete N items from etcd right.  The only pattern for that now is collection delete which works well in namespace case, but longer term it would be good if we can pass multiple keys to delete to etcd.  I need to

[2015-06-25 15:02] vishh commented on #10255
Heapster uses v1beta3 as of now. So the switch should be straight forward. I will assign this to myself for now.

[2015-06-25 15:02] stephenR opened #10349 "Block localhost service/endpoint addresses in apiserver proxy"
In #8989 we blocked proxying to 169.254.0.0/16 but not to localhost addresses.
The first part can be bypassed by creating a proxy to localhost:4001 and talking to the etcd server directly. You can then insert a new endpoint that points to 169.254.169.254.

I could only verify this behaviour with the latest git version, but not on GKE since the minion - master communication has changed in the meant

[2015-06-25 15:08] wojtek-t commented on #10217
In the v3 etcd API there will be support for transactions. So you will be able to delete multiple objects within a single transaction (which will effectively be a single call).

[2015-06-25 15:38] akamalov commented on #10261
Hey Tim and Antoine,

Thanks so much for reply.

For Antoine - Here is my  secret file:

[code]

My kubelet ```kubeconfig``` looks the following:

[code]
#############################################################

For Tim:

A: Yes, it is. On the same host, I am running Marathon, which defaults to ```:8080```, so I moved my API server to ```:8888```

 They have a --cluster-domain flag.

A: Yes,

[2015-06-25 16:01] antoineco commented on #10261
I don't think that "Cg==" is a valid kubeconfig for kube2sky. It should be
a proper kubeconfig file encoded in base64.

akamalov <notifications@github.com> schrieb am Do., 25. Juni 2015 17:38:

[2015-06-25 16:08] akamalov commented on #10261
Thanks, Antoine. I will fix it. However, is this serious enough problem to prevent ```kube-dns``` from working ?

[2015-06-25 16:11] antoineco commented on #10261
Probably not since you're not using authentication.

akamalov <notifications@github.com> schrieb am Do., 25. Juni 2015 18:08:

[2015-06-25 16:13] thockin commented on #10261
You still have disagreement between kubdomain and kubedomain - note the 'e'
in the middle.  You've told skydns to serve 'kubedomain' but told kube2sky
to write kubdomain

The empty secret should trigger the fallback to service-account - this will
hopefully be fixed "for real" today, so you don't need the secret at all.

On Thu, Jun 25, 2015 at 9:08 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 16:16] akamalov commented on #10261
What the...Doh! I will fix it right away. Thanks Tim!!!

[2015-06-25 16:19] stephenR opened #10351 "Harden master API against web attacks"
In #8871 we hardened the usage of "kubectl proxy" but the same issues apply if you use the master API directly from a Browser. Also currently the XSRF protection in the proxy works by blocking POST requests completely which prevents valid use cases so it would be good to have a better approach to XSRF protection.

The attack scenario would look like this:
- a cluster admin uses the master API in C

[2015-06-25 16:23] bgrant0607 commented on #10217
Probably we should just wait for that API to implement the label selector filtering, then.

[2015-06-25 16:25] mwielgus opened #10352 "Private docker images in examples and contrib"
There is a bunch of of places where we use docker images hosted on private accounts. I think we should switch there to some more official sources or host the images on gcr.io/google_containers.

[code]

[2015-06-25 16:28] jlowdermilk commented on #10202
This approach requires more special knowledge on the user's part than seems necessary. Why not make `kubectl update -f` always default to using patch? That way users can make incremental changes to local files and update will work as expected. The defaults should be simple; update requiring a full object specification as a default is not simple.

[2015-06-25 16:28] ihmccreery opened #10353 "Make our testing environment more sane"
From @ixdy in #10078:

I recommend we have a conversation about how to move the testing environment/framework, (e2e and maybe others,) into first-class code rather than all shell scripts.  Maybe this conversation has already happened or is somewhere else, but I haven't really been a part of it.

cc @ixdy @mbforbes @quinton-hoole

[2015-06-25 16:28] jlowdermilk commented on #10202
cc @brendandburns

[2015-06-25 16:35] RichieEscarez opened #10354 "Spell out references to GKE and GCE"
Replacing all instances of GKE or GCE in the documentation with full product names: Google Container Engine or Google Compute Engine. *Note: this is also a GKE/GCE guideline.*

This is also based on customer feedback: "got confused with the difference between gce and gke"

[2015-06-25 16:44] quinton-hoole commented on #10146
This is fixed.

[2015-06-25 16:44] #10146 closed

[2015-06-25 16:46] caesarxuchao commented on #10202
@jlowdermilk, the 4th point, `kubectl up`, does what you suggest, doesn't it?

[2015-06-25 16:56] #7648 closed

[2015-06-25 17:01] akamalov commented on #10261
Hey Antoine,

Thanks again for your help. Tried to kubeconfig secret key (to make sure that I am compliant, even if I am not using authentication). Used:

[code]
Updated the values. Verified that it is showing up in etcd correctly:

[code]

However, started getting errors:

[code]
There are no trailing spaces, I verified.

[2015-06-25 17:05] akamalov commented on #10261
Hey Tim,

Thanks again for helping hand. Fixed the the problem with a typo. ```kube2sky``` and ```kube-dns``` are up. ```kube2sky``` is injecting records:

[code]

However, still cannot issue lookup the service. From a master server:

[code]

[2015-06-25 17:05] wojtek-t commented on #10217
Probably we should just wait for that API to implement the label selector filtering, then.

SGTM

For now (after 1.0) it would be enough to have @derekwaynecarr #7372 merged.

[2015-06-25 17:07] justinsb commented on #10149
This doesn't happen for me when I run it in a Docker container on the same machine.  I'm guessing it is something like a port-conflict (?).  Reducing to P2 as it is something "on my machine".  We can close unless anyone thinks it could be a symptom of something important enough to try to track down.

[2015-06-25 17:09] akamalov commented on #10261
However, if I spin up a container anywhere in the pod and query against the overlay IP address of the skydns (in my case it is ```11.14.192.55```), resolution comes right up:
[code]

[2015-06-25 17:10] quinton-hoole commented on #10353
Agreed, that conversation is overdue.  We're probably not going to have bandwidth for this for the next few weeks.

[2015-06-25 17:10] jlowdermilk commented on #10202
@caesarxuchao, it does, but I am suggesting that behavior be made the default for `kubectl update -f`, since that would be the least surprising behavior. Consider:
[code]
Adding `kubectl --force` seems useful, but I think we should still make it easy for users to update running resources based on incremental changes to local config.

[2015-06-25 17:11] thockin commented on #10261
Verify the search paths in /etc/resolv.conf inside your containers.

Try a fully qualified name - kubernetes.default.svc.kubedomain.local

Worst case try your exec into the kube-dns/skydns container itself, using
localhost as the server

On Thu, Jun 25, 2015 at 10:05 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 17:12] thockin commented on #10261
The 11.14.. address is the pod's IP?  So maybe your service is not working
properly.

kubectl get endpoints kube-dns

On Thu, Jun 25, 2015 at 10:10 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 17:14] quinton-hoole commented on #10353
To be clear, I'd welcome the conversation to get this started, but I don't think that we'll be merging any large changes to the code in the next few weeks.

[2015-06-25 17:18] quinton-hoole commented on #10127
I suspect that the part of the test that is failing is working correctly in test/e2e/services.go, and can simply be deleted from this shell-based test?

[2015-06-25 17:23] DreadPirateShawn commented on #10299
OH! Good grief, you are absolutely correct. Specifically `watch -n1 'kubectl --server=10.0.0.2:8080 --namespace=ns-mything get pods mything'`

Knowing that... should a seemingly-valid "describe pods" call be generating 404 errors in the logs? Granted, they're info-level logs, not warning- or error-level, but they still appear concerning to someone trying to vet their setup for anything that may be

[2015-06-25 17:23] quinton-hoole commented on #10300
Agreed.  Worthy of some investigation and data gathering.  But neither of us have bandwidth for this right now.

[2015-06-25 17:27] jkingyens commented on #10337
I don't have a specific use-case for the workers. Its just important that I remotely accessing kubectl on machines that don't have the tooling setup locally. How do I access the master via ssh on GKE? I just see worker nodes in my instance list.

[2015-06-25 17:32] dchen1107 commented on #10337
cc/ @zmerlynn @roberthbailey

This is a usability issue for our GKE customers.

[2015-06-25 17:32] akamalov commented on #10261
Hey Tim. Thanks again. Yes, 11.14. address is Flannel network. This is just a POC environment, isolated out. Endpoints displaying fine:
[code]

[2015-06-25 17:33] roberthbailey opened #10356 "Heapster should use a service account for auth"
Heapster currently uses a [system secret](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml#L46) to authenticate to the apiserver. This secret is generated in the [GCE-specific start up script](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L327) which means that folks who w

[2015-06-25 17:34] akamalov commented on #10261
Tried FQDN lookup, as you suggested:

[code]

[2015-06-25 17:34] mbforbes commented on #10349
+cc @roberthbailey

[2015-06-25 17:36] mbforbes commented on #10351
+cc @roberthbailey @brendanburns @caesarxuchao

[2015-06-25 17:38] antoineco commented on #10261
Your service IP is wrongly configured from in the kubelet, it should match
what is defined inside your kube-dns service, ie. 11.14.192.55 instead of
10.100.0.10

[2015-06-25 17:39] thockin opened #10357 "kubectl config use-context succeeds even on invalid context name"
If I fat-finger the context name, I get no warning, not even a non-zero return code.

[2015-06-25 17:40] lavalamp commented on #10299
If you ask for a non-existent thing, you'll see 404 in the logs; that's how the server communicates "this thing doesn't exist", so that's by design.

You might try ```kubectl describe rc mything``` to get the info you're looking for.

I think `describe` doesn't work on multiple objects, which is why it wouldn't accept a label selector.

[2015-06-25 17:42] akamalov commented on #10261
Antoine, but the IP for ```sky-dns``` gets allocated dynamically from overlay network (or for any containers). How am I going to deploy skydns container and guess what IP address it should be on and pre-define it on nodes? Also, I thought DNS should have been selected from within ```--cluster-range``` IP address, no ?

[2015-06-25 17:42] roberthbailey commented on #10356
@mikedanese

[2015-06-25 17:45] antoineco commented on #10261
Oh sorry I didn't understand that, so the portalIP was indeed correct.

[2015-06-25 17:45] akamalov commented on #10261
Wheeew.. Thanks!!!

[2015-06-25 17:46] zmerlynn commented on #10337
On the GKE Beta, we manage the masters. If you created the cluster on the command line, `kubectl` would just work. If not, you can use `gcloud beta container get-credentials <cluster>` to configure kubectl.

[2015-06-25 17:50] krousey commented on #7789
So from what I gather the behavior we want is something like this:

Namespace in .kube/config | Namespace on command line | Namespace in spec | Result
-------------------------------------|------------------------------------------|----------------------------|---------
* | Yes | Yes | Error if command line and spec disagree
* | Yes | No | Use command line namespace
* | No | Yes | Use spec namespa

[2015-06-25 17:50] antoineco commented on #10261
Did you try why @thockin suggested, running the command against localhost inside the skydns container?

[code]

[2015-06-25 17:53] nikhiljindal commented on #10299
https://github.com/GoogleCloudPlatform/kubernetes/pull/9705 added support for --selector to kubectl describe

[2015-06-25 17:54] lavalamp commented on #10348
I hope to fix this test today. Thanks for the data point.

[2015-06-25 17:56] akamalov commented on #10261
Works! Hmm...

Get Pod names:

[code]
Conduct lookup:

[code]

[2015-06-25 17:57] #7265 closed

[2015-06-25 17:57] #10324 closed

[2015-06-25 17:57] RichieEscarez commented on #10183
Thanks @davidopp, closing

[2015-06-25 17:57] #10183 closed

[2015-06-25 17:58] antoineco commented on #10261
What about the content of resolv.conf inside let's say `pod/nginx-controller-8sulo`?

[code]

[2015-06-25 17:59] thockin-cc commented on #10261
so skydns is serving, but you can't get there through services.

on a node:  `iptables-save`

also might set the kube-proxy to run with -v=4 and look at its logs.

On Thu, Jun 25, 2015 at 10:57 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 17:59] akamalov commented on #10261
Here it is, Antoine:

[code]

[2015-06-25 18:00] mbforbes commented on #10012
Fixed by #10015 (please reopen if not) (btw if you write "fixes #X" in the PR description GitHub automatically closes it...  I guess their synonym matching doesn't expand do "Resolves" :-) )

[2015-06-25 18:00] #10012 closed

[2015-06-25 18:00] antoineco commented on #10261
Good, and now:
[code]
?

[2015-06-25 18:01] DreadPirateShawn commented on #10319
While one pod was briefly in the "Pending" state and the other remained "Running"...

**Pod details:**
[code]

**Node details (for all 3 nodes):**
[code]

Note that **none** of the nodes appear to have pods running, despite "describe pods" showing one pod as still "Running".

**Describe pods:**

[code]
Note, admittedly the "Running" pod provides only partial "Node" info (that is, "/10.0.0.4" rathe

[2015-06-25 18:01] mbforbes commented on #10354
Out of curiosity, what's the data behind this? A single customer?

Once you know what GCE and GKE are, visually diffing "Compute" and "Container" is harder than "C" and "K," in my opinion.

[2015-06-25 18:01] bgrant0607 commented on #10318
@feihujiang We'd certainly appreciate your help. I'm not aware of anyone working on this.

[2015-06-25 18:03] akamalov commented on #10261
Antoine, nah, bombs out with nslookup not being available in the container:

[code]

[2015-06-25 18:04] quinton-hoole commented on #10144
I think that we can close this one. We don't need the upstream etcd fixes.  We fixed the cbr stuff, and adjusted the test to only send one SIGKILL to etcd, not 30 in 30 seconds (which is what it was doing, and is quite unrealistic).  Since merging the aforementioned fixes, we have seen 20 successful runs of this test in a row.  Not 100% conclusive, but good enough for now.  I'll re-open if the tes

[2015-06-25 18:04] antoineco commented on #10261
Then you should install the necessary packages with apt or yum.

[2015-06-25 18:04] akamalov commented on #10261
Tim, here is the output of <b>iptables-save</b>

[code]

Will do and will provide update.  Thanks again!!!!!!!

[2015-06-25 18:04] bgrant0607 commented on #10212
Thanks, @feihujiang. I believe this can be closed since #10221 was merged.

[2015-06-25 18:04] #10212 closed

[2015-06-25 18:04] #10144 closed

[2015-06-25 18:05] roberthbailey commented on #10337
Also note that kubectl isn't installed by default on GCE VMs. And even if you run `sudo gcloud components update kubectl` the binary will be dropped into `/usr/local/share/google/google-cloud-sdk/bin` which isn't on your default path. You can run the gcloud update command and then modify your path and at that point you will have kubectl on any gcloud VM. Once you've done that, running the get-cred

[2015-06-25 18:07] thockin commented on #10356
I'm testing new DNS to confirm it all works as expected.  If so, heapster
can follow suite.

On Thu, Jun 25, 2015 at 10:43 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-06-25 18:08] quinton-hoole commented on #10322
Agreed.  This wastes a lot of peoples time.  Upped the priority for post 1.0.

[2015-06-25 18:09] akamalov commented on #10261
Actually, proxy was already set to -v=4. Here is the output:

[code]

[2015-06-25 18:09] antoineco commented on #10261
Gotcha, your service IP is 10.100.196.247 and not 10.100.0.10 as expected.
You could try to stop it and recreate it. Make sure portalIP equals 10.100.0.10 with `kubectl get se kube-dns`

[2015-06-25 18:11] thockin commented on #10261
`kubectl get services`

That iptables dump shows DNS running on IP 10.100.196.247, not 10.100.0.10
as you expect

On Thu, Jun 25, 2015 at 11:05 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 18:11] roberthbailey commented on #10356
That's exactly what I was hoping. I'd be thrilled if we could reduce / remove the GCE-specific service accounts we create in our startup script.

[2015-06-25 18:12] thockin commented on #10261
Nice diagnosis :)

On Thu, Jun 25, 2015 at 11:09 AM, Antoine Cotten <notifications@github.com>
wrote:

[2015-06-25 18:12] akamalov commented on #10261
Thanks Antoine. I thought service IP have to default to what I specify (i.e., ```10.100.0.10```). Why would it go for ```10.100.196.247``` ?

[code]
[code]

[2015-06-25 18:13] mikedanese commented on #10356
Heapster needs to version bump their kubernetes dependency and use the InClusterConfig (which currently it doesn't). I can send a PR for this. After that, we need to rebuild the heapster image and version bump the hepaster addon. cc @vishh

[2015-06-25 18:13] vishh commented on #10356
Removing or making GCE specific accounts optional will be very helpful.

[2015-06-25 18:14] vishh commented on #10356
@mikedanese: Do post a PR. I can make a release soon after.

[2015-06-25 18:14] akamalov commented on #10261
Going to stop and re-create it and will keep you posted.

[2015-06-25 18:15] thockin commented on #10261
It must not have parsed the YAML/JSON properly.  Sadly, fields with wrong
names are not handled well in JSON/go.

Show me the json/yaml block you used for your service

On Thu, Jun 25, 2015 at 11:13 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 18:15] RichieEscarez commented on #10354
Yeah, one customer that im aware of. Then adding on top of that the branding guidelines "official rules (signed off by marketing)".

I agree and think the real challenge is when gke and gce show up in a single document.

Ultimately, this is a consistency item and i think if and where we do use gke or gce in any particular document, it should be capitalized and the first reference should be defined

[2015-06-25 18:16] akamalov commented on #10261
[code]

[2015-06-25 18:17] akamalov commented on #10261
Verified it on yamllint.com, says it's good

[2015-06-25 18:17] thockin commented on #10261
Sadly, the only field that is NOT updateable is the IP :)

On Thu, Jun 25, 2015 at 11:14 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 18:18] thockin-cc commented on #10261
in v1 s/portalIP/clusterIP/ - I knew that was your problem before you
posted it.

On Thu, Jun 25, 2015 at 11:16 AM, akamalov <notifications@github.com> wrote:

[2015-06-25 18:18] akamalov commented on #10261
I am ok with it, As long as it takes it. This sucker is not taking it :(

[2015-06-25 18:18] akamalov commented on #10261
AAaaah

[2015-06-25 18:18] jkingyens commented on #10337
I was running into the issues that @roberthbailey mentioned when using the pre-installed gcloud to bootstrap the installation of kubectl. I couldn't find the kubectl command. I was also getting 401s back when trying to authorize credentials. The version of gcloud also seemed older than what the docs were assuming (the commands were out of date). I ended up installing a fresh copy of gcloud in my $

[2015-06-25 18:18] roberthbailey commented on #10349
It seems like it wouldn't be difficult to duplicate https://github.com/GoogleCloudPlatform/kubernetes/pull/9174 to also block 127.0.0.1 and "localhost".

@bgrant0607

[2015-06-25 18:19] akamalov commented on #10261
darn it! this is it!!!

[2015-06-25 18:20] akamalov commented on #10261
[code]

[2015-06-25 18:21] akamalov commented on #10261
It's ALIVE!!!! ALIVE!!!
[code]

[2015-06-25 18:24] akamalov commented on #10261
Thank you metric ton!! What a team!!!!! Thank You very much indeed!!!

[2015-06-25 18:24] thockin commented on #10261
Another satisfied customer :)  I'll close this issue now, let me know if you need more :)

[2015-06-25 18:24] #10261 closed

[2015-06-25 18:25] thockin commented on #10261
Thanks to @antoineco for the help, too.  I'm gonna let you run the next one yourself :)

[2015-06-25 18:27] akamalov commented on #10261
Total wootage! :)

[2015-06-25 18:28] thockin commented on #10161
Fixed by #10266, I think

[2015-06-25 18:30] DreadPirateShawn commented on #10299
The problem there is that `kubectl describe rc mything` doesn't give the same amount of information as `describe pods`:

[code]

vs

[code]

Interestingly, `describe pods myth` also describes my pods -- it looks like `describe pods` fetches info for any pods which **start with** the given string (great), in addition to attempting to fetch info for the exact string match (which generates the 404 er

[2015-06-25 18:36] zmerlynn commented on #10337
The `kubectl` installed in the normal OSS flow is the one built during the release, so it should always match the server version.

[2015-06-25 18:41] bgrant0607 commented on #10202
Part of the problem is that "update" is too generic of a term. I propose we rename it to "replace".

We shouldn't make patch the default behavior for "update". We should just create a "patch" command to make it obvious that that's what it does.

There is nothing short of #1702 that actually does what we want, which is a proper declarative update.

cc @ghodss

[2015-06-25 18:46] antoineco commented on #10261
Haha @thockin, I'm glad YOU narrowed down the issue.

First I came here because we also see weird behaviours with kube2sky in our environment (#10265), do you want to give your impressions on that maybe? :)

[2015-06-25 18:49] derekwaynecarr commented on #1780
I am closing this issue now.

The e2e scripts call ```test-teardown``` which for vagrant calls ```kube-down``` which ultimately does a ```vagrant destroy -f```

[2015-06-25 18:49] #1780 closed

[2015-06-25 18:54] ihmccreery commented on #9743
I'm getting a similar issue in a GCE cluster turned up using vanilla `cluster.kube-up.sh` in a project I've mostly used for GKE clusters.  Investigating.

[2015-06-25 18:55] bgrant0607 commented on #6284
cc @jackgr

[2015-06-25 19:01] ihmccreery commented on #9743
During kube-up.sh I see:

    Creating gs://kubernetes-staging-4c2ab8624f
    Creating gs://kubernetes-staging-4c2ab8624f/...
    +++ Staging server tars to Google Storage: gs://kubernetes-staging-4c2ab8624f/devel
    +++ kubernetes-server-linux-amd64.tar.gz already staged ('rm ./cluster/../cluster/gce/../../cluster/../_output/release-tars/kubernetes-server-linux-amd64.tar.gz.sha1' to force)

Look

[2015-06-25 19:02] ihmccreery commented on #9743
If I'm correct, the component would be `cluster/gce/util.sh:function copy-if-not-staged()`.

[2015-06-25 19:02] bgrant0607 commented on #6284
diff is a building block needed for configuration reconciliation (#1702), so I'd like to get this in.

[2015-06-25 19:07] bgrant0607 commented on #1702
I want to try to get diff+patch in for 1.0. See also #10202

[2015-06-25 19:07] bgrant0607 commented on #10202
We'll see if we can get diff+patch in.
cc @jackgr

[2015-06-25 19:07] timothysc commented on #10248
re: #10348, it pretty much always fails for us.

[2015-06-25 19:18] ghodss commented on #10202
I like changing kubectl update to kubectl replace, and changing kubectl update to do a PATCH instead of a PUT. Advantage of `update` is that it's much more natural and expected, and as far as the user's concerned, I don't think there's a distinction between what the user would think that update does and what patch actually does. I dislike removing update altogether as I think it would decrease usa

[2015-06-25 19:23] ghodss commented on #10202
Actually I thought of one issue, that has to do with what we were planning for kubectl reconcile - if you delete a field in your config file, and you run kubectl update -f <file> and it has patch semantics, by default that field is *not* updated. That's the whole design of patch to prevent clobbering already-set fields. The plan for solving this (in #1702) is to maintain annotations that describe

[2015-06-25 19:24] mwielgus commented on #10352
@marekbiskup @piosz

[2015-06-25 19:37] yujuhong commented on #10319
@DreadPirateShawn, I read the output again, and this seems less related to inaccurate pod status posting.

Your view of the pod *seems* to oscillate between the pod before it was scheduled and after it was scheduled. The most indicating sign is that the `Pod.Spec.NodeName` (or `Pod.Spec.Host` in the older version) switches between empty and non-empty strings. This field is only written once by the

[2015-06-25 19:42] erictune commented on #10179
I also wonder if this is needed once we have Policy.

[2015-06-25 19:52] davidopp commented on #10144
Agree with closing since you say the modified e2e is consistently green now. But we should perhaps lobby the etcd maintainers to change their position on the statement that CJ linked to above ("why do you want to kill etcd right after it restarted? We know there is a small chance it can lead etcd cannot restart. We have no plan to fix it.") In any event, we can follow up on the etcd issue instead

[2015-06-25 19:53] erictune commented on #499
@bgrant0607 what else do you want to see in that documentation.

[2015-06-25 19:55] nikhiljindal commented on #10278
FWIW, I just tried it on HEAD and it works fine for me.

I ran
[code]
Then in another tab:
[code]
which gave me
[code]
Now, when I go to ```http://localhost:8001/static/``` I get 200 response with a blank page as expected.
Note that going to ```http://localhost:8001/``` gives me ```404 page not found```

My kubectl version is
[code]

[2015-06-25 20:00] lavalamp commented on #10299
It may only do the list at all if getting the specified name returns an error-- I'd have to check. In that case we'd be choosing between always doing a list and then a get, or always doing a get, and maybe doing a list. Optimizing the common case to be low-latency is worth it; optimizing to reduce 404 return codes is not really a consideration, though, since 404 is the intended way for the server

[2015-06-25 20:01] seh commented on #7104
I ran into this same failure building for the first time on Mac OS, so it's hard to blame it on the environment not being clean.

[2015-06-25 20:03] deads2k commented on #7789
If .kube/config=yes and spec=yes and they conflict, do you expect an error?

Flags are bound here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L332, passed here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/clientcmd/client_config.go#L63, and used here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cl

[2015-06-25 20:03] mikedanese commented on #10144
Ya I agree with @davidopp. That should be fixed.

[2015-06-25 20:08] quinton-hoole commented on #9062
Any progress on this @jszczepkowski ?  cc @fgrzadkowski in case Jerzey is OOTO.

[2015-06-25 20:08] dchen1107 commented on #10144
Also both issue listed by @davidopp in 1) [code problem] The cbr0 stuff (#9822 and #10122) are closed.

[2015-06-25 20:12] roberthbailey commented on #10351
@lavalamp

[2015-06-25 20:13] roberthbailey commented on #10351
@davidopp

[2015-06-25 20:13] #7683 closed

[2015-06-25 20:13] davidopp commented on #10282
Just for my edification, what are the circumstances under which pods can be killed?
* explicit user request
* kubelet failing healthcheck for longer than the node controller threshold (5 min or whatever it is)
* any others? i thought some other issue implied that restarting kubelet kills pods -- but that is not true, is it?

[2015-06-25 20:15] #10115 closed

[2015-06-25 20:19] lavalamp commented on #10351
The CORS headers are not sufficient to prevent this?

[2015-06-25 20:28] lavalamp commented on #10351
It's easy-ish to add a header requirement, but that's a pretty drastic change and would break all current clients. And what's to prevent evil.com from setting the header?

/proxy is not as bad as it seems at first, because it's only going to show stuff running in the cluster, and that stuff already has full access to the cluster anyway. Eventually we will move this feature out of apiserver complet

[2015-06-25 20:29] eparis opened #10365 "allow kubeconfig to have non-embeeded token"
Currently it is possible in a kubeconfig file to do:

[code]

But it is not possible to do:

[code]

This means that certificates and kubeconfig files can be decoupled and distributed separately, but kubeconfig files and tokens MUST be managed together.

Not sure if it's possible to distinguish, so maybe a "token_file" option?

[2015-06-25 20:30] lavalamp opened #10366 "/exec and /run paths should use POST, not GET"
GET should never cause a mutation. Otherwise a search engine will pwn you.

Forked from #10351.

[2015-06-25 20:30] mbforbes commented on #10365
+cc @jlowdermilk

[2015-06-25 20:31] seh commented on #7104
By modifying the failing test, I was able to determine that the test fails because requesting the URL _http://some.non.existent.foobar_ from the test server yields a response with the following prefix:
[code]
That's my ISP providing an unhelpful response to a failed DNS lookup. I guess the test is expecting that the HTTP client will fail to connect, but in this case it succeeds because my overeage

[2015-06-25 20:31] DreadPirateShawn commented on #10299
Fair enough, I don't disagree. :-) Really I think I'm just looking for a way to convey this to others down the road -- either by dodging the 404, or perhaps by updating the "describe pods [NAME]" documentation to explain that if "NAME" doesn't exist exactly, then it'll fail via 404 in the logs, and will return any "NAME*" pods instead... also the perfect place to advise using `--selector` instead.

[2015-06-25 20:31] lavalamp commented on #10351
I filed #10366 about /run & /exec.

[2015-06-25 20:34] eparis commented on #10365
@deads2k

[2015-06-25 20:35] quinton-hoole commented on #7104
Yes, thanks for doing a better job of debugging than I did @seh . We should fix this test.  Updating title accordingly, and re-opening.

[2015-06-25 20:38] jlowdermilk commented on #10365
I think the reason we didn't support token file in the first place is because token is closer to user/pass than certificate. We also don't support specifying username/password via a separate file.

[2015-06-25 20:39] quinton-hoole commented on #7104
@seh , a PR to fix this would be very well received :-)

[2015-06-25 20:39] DreadPirateShawn commented on #10319
I just repro'ed this situation again after a clean startup, and grepped both kube-scheduler and kubelet logs for one of the pod IDs, over the span of "initial creation > Running > revert to Pending > back to Running"... the LastTransitionTime again bounces forward and backward -- newer when Running, older when Pending, which fits the suspicion of oscillation between pre- and post-scheduling status

[2015-06-25 20:40] davidopp commented on #10366
You filed this as node, but it's actually master, right?

BTW do you think this is the only 1.0-worth issue mentioned in #10351?

[2015-06-25 20:41] lavalamp commented on #10299
I agree that the docs can & should be improved :) I'll update the title here.

__Action item: ```kubectl describe``` docs should explain what will happen if the object doesn't exist (namely, that it will then look for objects with names that begin with the requested name).__

[2015-06-25 20:42] eparis commented on #10365
Hard to argue they aren't similar.

I'm minting a separate token for every proxy and every kubelet in my entire system. I could easily use the same kubeconfig file across all of my proxies and all of my kubelets if I used certs. But certs actually have terrible security properties, as we use them....

This means that I have to deliver and maintain per daemon and per node kubeconfig files, instead

[2015-06-25 20:43] ihmccreery commented on #9743
I'm punting on this for now to get other work done; @quinton-hoole, let me know your thoughts on my comments above, or if you'd like to move this to a separate, more accurately-named bug.

[2015-06-25 20:50] lavalamp commented on #10366
I split it off because it's separable. I think the paths are in *both* master and node, but I need to double check master and I got distracted. :)

[2015-06-25 20:54] quinton-hoole commented on #9743
Thanks for your excellent debugging@ihmccreery, yes, please fix in a separate  more accurately-named bug, cross referencing this one.

[2015-06-25 20:54] #9743 closed

[2015-06-25 20:56] lavalamp commented on #10366
Yes, there's a /exec on master, too: https://github.com/GoogleCloudPlatform/kubernetes/blob/461fc2b01b29f17b8aebabf463c3fa7fd656d53e/pkg/master/master.go#L467

Also that /portforward should probably also not allow GET.

[2015-06-25 20:57] krousey commented on #7789
cc @ghodss

[2015-06-25 21:00] krousey commented on #7789
I don't think so. On May 5, @bgrant0607 said

I believe he was referring to that case specifically.

[2015-06-25 21:02] lavalamp commented on #10319
Hm--Are you using etcd in an HA configuration (multiple replicas)?

[2015-06-25 21:02] davidopp commented on #10366
Thanks (and sorry, I meant also master)

[2015-06-25 21:03] lavalamp commented on #10319
(Or do you have apiserver in an HA configuration?)

[2015-06-25 21:13] ihmccreery opened #10367 "cluster/gce/util.sh assumes that kubernetes-server-linux is staged if it exists locally, but may have been staged in a different project"
As discussed in #9743, I'm seeing something very similar to @quinton-hoole:

    Jun 12 21:46:07 e2e-test-quinton-master startupscript: Running startup script /var/run/google.startup.script
    ...
    Jun 12 21:46:08 e2e-test-quinton-master startupscript: Mounting master-pd
    Jun 12 21:46:14 e2e-test-quinton-master startupscript: Downloading binary release tar (https://storage.googleapis.com/ku

[2015-06-25 21:13] bgrant0607 commented on #10311
cc @krousey

[2015-06-25 21:13] bprashanth commented on #10282
In theory it shouldn't, we should skip deletion till all our sources are ready (need to convince myself that there isn't a race that could lead to container restarts here).

Containers die with docker restarts and OOMKill. The kubelet won't meddle with the pods in the apiserver directly, if it ends up killing some by mistake it'll notice the next time it syncs and start them.

[2015-06-25 21:14] jlowdermilk commented on #10365
I think it was only differentiated due to the length of the string. It does makes sense to allow users to specify username/password/token via filepath, we just didn't think of it. I would say post-v1, though.

[2015-06-25 21:16] ihmccreery commented on #10367
To clarify, there are two problems here:

1. We're not correctly catching the problem that the master can't find the `kubernetes-server-linux-amd64.tar.gz` file;
2. We're assuming in `cluster/gce/util.sh` that has been staged if it exists locally, which it may not have been, (or at least not in the same project).

To reproduce, create a cluster with `kube-up.sh` in one project, then switch to a di

[2015-06-25 21:21] erictune commented on #7294
I'd rather not put factors into a ResourceList, as is implied in item 2 of previous comment.   All the items in resources.limits should be additive.  If you want to allow users to specify this from the API, then they can just specify an absolute amount of swap, or if they leave it empty, then some admission controller could default it, and they could set it to an explicit value of 0 or maybe 1 if

[2015-06-25 21:22] timstclair opened #10368 "kubelet does not recover from machine reboot"
I started a cluster running on GCE last week, using `go run hack/e2e.go -build -up`. Today I noticed today that both of my minion nodes were stuck in the NotReady state:
[code]
Inspecting the logs yields the same error message over and over again:
[code]
Same with the proxy:
[code]

Version:
[code]

[2015-06-25 21:24] brendandburns commented on #9399
Here is the start of the PR:

https://github.com/GoogleCloudPlatform/kubernetes/pull/9653

But it needs to be adapted to use a Markdown parser.

[2015-06-25 21:29] bgrant0607 commented on #8817
cc @lavalamp

[2015-06-25 21:36] lavalamp commented on #10366
@ncdc @smarterclayton Question for one of you: if we switch /exec and /portforward to accept POST only (and not GET), will that break any of your tooling?

@nikhiljindal agreed to take this on-- ideally we'll change kubelet & apiserver to accept both, change kubectl to start sending POSTs, and in a few weeks remove GET support from our servers.

[2015-06-25 21:39] krousey commented on #10311
FWIW the json encoder does respect field order: https://github.com/golang/go/blob/master/src/encoding/json/encode.go#L603
I think the go-yaml package also respects field order: https://github.com/go-yaml/yaml/blob/v2/encode.go#L154

The problem probably happens in ghodss/yaml. https://github.com/ghodss/yaml/blob/master/yaml.go#L54 https://github.com/ghodss/yaml/blob/master/yaml.go#L80

[2015-06-25 21:39] lavalamp commented on #8817
It's worth noting a bad interaction with gcloud-- now that our docs just say `kubectl` and since we don't have any sort of installer, nearly everyone is using the `kubectl` that gcloud ships.

Having a `make install-client` command would be great, and having our build script finish with a `which kubectl` and a warning if it's some old one would be great.

[2015-06-25 21:39] caesarxuchao commented on #10202
Here's what we plan to do after in-person discussion with @bgrant0607
1. move `kubectl update --patch` to a separate verb `kubectl patch`
2. let `kubectl update` do diff+patch (@jackgr is going to do this)
3. move the current PUT behavior of `kubectl update` to a new verb `kubectl replace` (we will make "update" as an alias of "replace" until 2 is in.)

Please correct me if I'm wrong.

[2015-06-25 21:42] mikedanese commented on #10356
GoogleCloudPlatform/heapster#371

[2015-06-25 21:49] jlowdermilk commented on #8817
I like the idea of adding a `make install-client` command. Perhaps it can find the appropriate platform binary and add a symlink to it under `/usr/local/bin`?

Other than that, the only thing left to do is go through scripts/examples and replace all occurrences of `cluster/kubectl.sh` with `kubectl`, and call whatever client install command we settle on.

[2015-06-25 21:51] smarterclayton commented on #10366
It would break our backwards compatibility to clients.  Can we preserve that backwards compat via a flag?

[2015-06-25 21:54] RichieEscarez commented on #10116
Do you agree that in order to cover this area, we need to update/provide the following (and that we should use this Issue to deliver these changes)?

 - Update the [Saltstack topic](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/salt.md) so that its accurate -> *"we stopped connecting the nodes to the master in a salt minion/master relationship"*
 - Revise the Saltstack topic s

[2015-06-25 21:54] bgrant0607 commented on #10311
cc @ghodss

[2015-06-25 21:59] bgrant0607 commented on #4822
I'd like to try to get this into 1.0. Does someone from the Redhat side have time to help?

cc @mikedanese

[2015-06-25 22:00] smarterclayton commented on #10366
Important note - we still need to pass all params to both as query (since the body is hijacked).

And we're ok with the change, but we need some leve of back compat available for upgrade. The easier we can make that (even if we have to carry a patch for back compat) the better for us.  Doesn't *have* to be a switch.

[2015-06-25 22:02] eparis commented on #10365
agreed, and set v1.0-post