[2015-12-11 02:36] jackgr commented on #11492
@derekwaynecarr nice example.

However, it seems to preclude putting templates into public repositories like Github, since they must have names that can be resolved by the api server. I suppose one could imagine a registration process, where templates from a public repository are installed into a cluster and given cluster-relative names. Then, one could reference an open ended set of templates usi

[2015-12-11 02:40] timstclair commented on #18554
On second thought, we should probably just wait for the kubelet config API. Is there an issue tracking that work that I can dedup this with, or should I repurpose this one?

/cc @mikedanese

[2015-12-11 02:57] mikem opened #18555 "Permissions on `/tmp/.../schema.json` prevents validations from happening when `kubectl` is run on the master"
I was following [the `coreos/azure` getting started guide][azure] to spin up a Kubernetes cluster on Azure, and the procedure breaks on the firs step of the [Deploying the workload][deploy] section:

[azure]: https://github.com/kubernetes/kubernetes/blob/229f40e69f99fe969a2900ec4a804da516631f33/docs/getting-started-guides/coreos/azure/README.md
[deploy]: https://github.com/kubernetes/kubernetes/bl

[2015-12-11 03:03] dalanlan commented on #16672
Quick comment.
IIUC, this could raise potential issues in which case the restart policy is not `Never`. Both you and kubelet could be crazy somehow.
If you're going to support this it's better that you validate the UX.

[2015-12-11 03:07] dalanlan commented on #16672
/cc @dchen1107 who went against this idea.
Copied from [#12856(comment)](https://github.com/kubernetes/kubernetes/issues/12856#issuecomment-132740352)

[2015-12-11 03:56] magicwang-cn commented on #18266
@lavalamp @smarterclayton @xiang90
so is it necessary to seperate creating rate and deleting rate?

[2015-12-11 04:09] mqliang commented on #18450
/subscribe

[2015-12-11 04:15] nikhiljindal opened #18558 "e2e flake: Kubectl client Kubectl run job should create a job from an image when restart is OnFailure [Conformance]"
[code]
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20148/#

[2015-12-11 04:16] nikhiljindal commented on #18558
cc @janetkuo @kubernetes/kubectl

[2015-12-11 04:36] thockin commented on #17013
It's the address that we put in the kubernetes Service.

On Thu, Dec 10, 2015 at 6:31 PM, Emma He <notifications@github.com> wrote:

[2015-12-11 05:10] thockin commented on #18519
I'll happily take patches here.  I'm buried and will not get to it any time
soon.

On Thu, Dec 10, 2015 at 10:40 AM, Joe Beda <notifications@github.com> wrote:

[2015-12-11 05:24] bprashanth commented on #17795
A couple more things:
1. Don't pull flannel release from coreos github, if it fails it will show up in /var/log/startup.log as a 500 and the node getting stuck in NotReady
2. Don't start docker with --cbr0 (this isn't really that bad, it'll just keep crashing till flannel gets a cidr). The real solutin here is to start it on docker0 and use network plugins to start everything else on cbr0.
3. Once

[2015-12-11 05:30] thockin commented on #18289
--v=2 is the default "not too chatty".  --v=4 is where it gets interesting.

On Thu, Dec 10, 2015 at 5:34 AM, Dirk Jablonski <notifications@github.com>
wrote:

[2015-12-11 06:16] mqliang commented on #17686
/subscribe

[2015-12-11 06:23] yuvipanda commented on #11962
/me registers interest in this since that'll probably allow easier usage of etcd ACLs

[2015-12-11 07:02] wojtek-t commented on #18542
Thanks for writing this down @timothysc

Regarding requirements - the thing that we can't forget about is Watch - we can't use storage that doesn't support that...

[2015-12-11 07:03] wojtek-t commented on #18520
@ixdy - thanks!

[2015-12-11 07:27] wojtek-t commented on #13818
I've manually merged #18532 - we will see if that helps... (thanks @thockin !)

[2015-12-11 07:43] madhurranjan commented on #12905
Hi,
We faced the same issue today. Ran with default vivid. Exact same version as @willmore on AWS. We then went back to trusty. The aufs-tools were the latest as well.

[2015-12-11 08:01] feihujiang commented on #16672
Yes,  if just pod to be removed, this could raise potential issues in which case the restart policy is not Never. So in my implementation, removing the job or replication controller created in this command, is it OK?

And one other question, My implementation only support --rm flag when enable interactive mode, is this OK?  Or should we support --rm flag whatever mode is,  like docker --rm?

[2015-12-11 08:23] gmarek commented on #12429
Previous problems with Kubelet disappeared, we have a new one with Docker daemon, which started to use over 10% of CPU on average in five 15 sec. probes.

Is this expected, or should we worry about it? @dchen1107 @yujuhong

[2015-12-11 08:25] fgimenez commented on #18422
Hey @ihmccreery, sure here it is #18562

Thanks!

[2015-12-11 08:42] mqliang opened #18565 "RFC: Make ABAC policy be a REST object"
The ABAC policy in `pkg/apis/abac/types.go` should be a REST object and saved in etcd.

Current, k8s just support load ABAC policy from files, and every time we modify the policy, apiserver should be restart. We should create a storage registry for ABAC policy object, and make it as a API object.

[2015-12-11 08:51] gmarek opened #18566 "Cluster Autoscaling e2e tests are not compatible multiple MIGs"
We're going to need multiple MIGs to create clusters bigger than 500 Nodes, so we need to figure out how to make cluster autoscaling to work. See #18545

cc @kubernetes/goog-control-plane @brendandburns @wojtek-t @fgrzadkowski @mwielgus

[2015-12-11 08:57] wojtek-t commented on #18437
@timothysc - thanks; I'm happy to review that PR

[2015-12-11 08:59] wojtek-t commented on #18304
Fixed by https://github.com/kubernetes/kubernetes/pull/18532

[2015-12-11 08:59] #18304 closed

[2015-12-11 09:31] Random-Liu commented on #17980
@dchen1107
#18129 has been merged, I've tested that PR should have fixed this issue.
And after reading status manager related code these days, I think what @yujuhong said is the root reason of the issue. :)

[2015-12-11 09:50] jsravn opened #18568 "Rolling updates should fail early if a pod fails to start"
In 1.0.x, rolling update didn't block, so we could check things like a failed pod while waiting for the update to complete.

In 1.1.x, rolling update does block up to the timeout amount. This is great, however it waits the entire timeout even if the update fails immediately. For instance, if you specify a non-existent image the pod will report a `PullImageError`. At that point the rolling update c

[2015-12-11 10:11] piontec commented on #18513
OK, I upgraded to hyperkube 1.1.2 and added --containerized to kubelet container in docker. Now the result is:
[code]

Is this the same issue as #16586 or #16055 ? The error message is different here

[2015-12-11 10:13] lebauce commented on #18409
I faced this issue and wrote a patch that implements what @HackToday suggests. I will send a PR soon

[2015-12-11 11:08] Hui-Zhi commented on #17035
Is there any way to assigned the devices under the cgroup/devices to container by K8s? So far I only know only the devices which has its own cgroup/namespace can be assigned to containers, like CPU/Memory...
If the devices under cgroup/devices still can't be assigned to container by K8s, I would like to implement it, do there have any task assignment procedure to make me as this task's own?

[2015-12-11 11:41] 2opremio commented on #17641
If this issue the same cause as #18354 (and it seems likely), this is triggered by kube-proxy origins/destinations not closing their sockets properly. As an alternative to patching kube-proxy, I would to check for leaks in the code of the pods whose IPs correspond the _Foreign Address_ of the `FIN_WAIT2 `  sockets of kube-proxy.

In @romanek-adam's example:

[code]

I would check the pods with IP

[2015-12-11 12:02] wojtek-t commented on #16623
Another failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12681/

[2015-12-11 12:40] deads2k commented on #16672
Based on the doc, https://docs.docker.com/engine/reference/run/#detached-d, you can't use `--rm` in combination with `-d` (detached).

[2015-12-11 12:44] deads2k commented on #17216
I definitely agree in principle that the field should be strongly typed.  I'm not sure we want to use the same `GroupVersion` to indicate kind and resource metadata as we want to include in API types.  It makes our dependency chain a little unusual to look at down in the scheme and conversion layers.  The direct dependency on any API type down in a `Codec` feels strange.

@smarterclayton In your e

[2015-12-11 12:57] deads2k commented on #18531
Can we abstract that out into a method or parameter of some sort that I can choose to describe my desired configuration without environment variables?

[2015-12-11 12:59] deads2k commented on #18531
I tend to think of `GroupMeta` as the source of truth.  Since `install` creates an entry for `GroupMeta`, why do I need the `registered` package?  With the code path you described, I think there's sufficient information contained in each individual `install` package.

[2015-12-11 12:59] deads2k commented on #18531
@liggitt @smarterclayton fyi

[2015-12-11 13:04] wojtek-t opened #18570 "Create a dashboard to monitor metrics from our scalability test runs"
As part of our continuous testing, we are running (among others) scalability tests.
They have some built-in tests e.g. on pod startup time or API calls latency. However, thee are many other metrics that can be interesting and we don't necessary want to put explicit limits on them.
For different metrics we would like to monitor you can look into: https://github.com/kubernetes/kubernetes/pull/18020

[2015-12-11 13:11] feihujiang commented on #16672
@deads2k, thanks for correcting me.

Which mode in kubernetes is similar to “detached” mode?

I know we should support the following example:
[code]
But should we support the following example(no -i --tty)?
[code]

[2015-12-11 13:14] gmarek commented on #17931
@timstclair Any update on this? It happened again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12683/

[2015-12-11 13:21] deads2k commented on #16672
If `-i` or `--attach` are specified, then `--rm` is allowed.

[2015-12-11 13:26] feihujiang commented on #16672
So we don't need to support '''$ kubectl run date --rm --restart=Never --image=busybox -- sleep 10'''

But docker could support the following example:
[code]

[2015-12-11 13:27] gmarek opened #18571 "Check overhead of Prometheus in all components."
We use Prometheus to collect metrics in every component. We haven't measured what memory/cpu overhead it causes. This should be done before deciding how much other metrics to add.
Components to check:
- [ ] API server
- [ ] Controller Manager
- [ ] Scheduler
- [ ] Kubelet

cc @wojtek-t @fgrzadkowski @kubernetes/sig-scalability

[2015-12-11 13:30] deads2k commented on #16672
`docker run` runs attached by default.  `kubectl run` runs detached by default.

[2015-12-11 13:33] feihujiang commented on #16672
Thanks, I got it.

[2015-12-11 13:49] jayunit100 commented on #18570
cc @jimmidyson

[2015-12-11 13:54] ddysher opened #18572 "kubernetes service endpoint not in sync with master ip"
Our apps running on kubernetes is not working after we restart one of the app's service.  After some debugging, we found that the root cause is due to wrong service endpoint of 'kubernetes' service, which is not the master's internal IP address.  This causes trouble for skyDNS to update records for the app service.

We have to manually update etcd to correct the 'kubernetes' endpoints.  During the

[2015-12-11 14:06] SuperQ commented on #18571
I think this is less about Prometheus, and more about the cost to collect metrics, and the cost to scrape them.

[2015-12-11 14:08] gmarek commented on #18571
Yeah, but we're using Prometheus for this, so we should measure what we have and work from that.

[2015-12-11 14:10] fabxc commented on #18571
As far as Prometheus's Go client library goes, setting values is very efficient. See [these slides](https://github.com/gophercon/2015-talks/blob/master/Bj%C3%B6rn%20Rabenstein%20-%20Prometheus/slides.pdf) for a performance analysis.

As far as scraping goes, if there are no heavy computations triggered on collection time, this is hardly noticeable at all and happens once every 15s or so.

[2015-12-11 14:13] wojtek-t commented on #16623
And again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12685/

[2015-12-11 14:19] gmarek commented on #16623
Moving to flaky. Again. #18573

[2015-12-11 14:20] gmarek commented on #18571
I completely agree that it should't be much of a deal. But I want data from our system:).

[2015-12-11 14:27] pmorie commented on #18167
@resouer Classy digging for finding this :trophy:

[2015-12-11 14:52] pmorie commented on #18333
Interesting info @jdef.  I think in the context of proposal-1 we would need to be able to swap the actual implementation of the plugins within the control to accomplish your use case.  It seems possible, but proposal-2 definitely seems like less work for your use-case.

Expanding on @thockin's question:

b) A simple per-node API; config by-convention but maybe not required (classes); some duplicat

[2015-12-11 14:56] gmarek commented on #18335
It failed again:
http://kubekins.dls.corp.google.com/view/Kubemark/job/kubernetes-kubemark-gce-scale/287/

We call the same create-certs method as normal kube-up: https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/start-kubemark.sh#L108

[2015-12-11 15:22] mqliang commented on #18565
The existing `Policy`struct is defined as follows:
[code]

It should also have a `Status PolicyStatus`, for consistency with all other API objects. I could imagine recording status data like timestamp of last policy updated.

And it should a `ObjectMeta` field, for consistency and make it possible to calculate the key when store it in etcd.

[2015-12-11 15:44] pmorie opened #18576 "Metrics du tests broken on F22"
Broken tests for me on Fedora 22:

[code]

[2015-12-11 16:18] rootfs commented on #18576
I don't have FC22, but FC 21 doesn't have this problem

[2015-12-11 16:19] pmorie commented on #18576
@pwittrock FYI

[2015-12-11 16:25] mikedanese commented on #16623
Thanks. I ran this 2076 times over night and it didn't flake. I think it might be interfering with a test that's in GCE_PARALLEL and not in GCE_PARALLEL_FLAKY hence not flaking when it's in the flaky suite. I will keep investigating today.

[2015-12-11 16:30] eparis commented on #18576
@rootfs said in irc that on tmpfs on f21 `du` shows him 0 in an empty directory.  `du` shows him 4096 on an empty directory on an ext4 filesystem. This is the same behavior I see on f23.

However @rootfs says that his unit test is passing.

@rootfs are you sure your tree is up2date and has this test?  I think it is brand new.

[2015-12-11 16:34] pmorie commented on #18576
I also see the same behavior re: `du`, but the tests fail for me -- I need to continue digging.

[2015-12-11 16:38] deads2k opened #18577 "APIResourceList should give sufficient information to build a RESTMapper"
We should be able to build a `RESTMapper` based on the discovered `APIResourceList`.  After taking into account the needs of the HPA controller in https://github.com/kubernetes/kubernetes/issues/16500, we need to represent the possible input and output kinds for an `APIResource` in preferred order to reliably build the `RESTMapper`.

Being able to build the `RESTMapper` based on that discovery wou

[2015-12-11 16:40] rootfs commented on #18576
rebased to latest and reproduced the problem. Left a [comment](https://github.com/kubernetes/kubernetes/pull/18232/files#r47375263) on the PR

[2015-12-11 16:48] frosenberg commented on #18543
Seeing the same issue on v1.1.1. Upgrading to latest master example code and building the image from scratch is also having the same issue

[2015-12-11 16:53] wojtek-t commented on #16623
Yeah - I'm pretty sure it's some kind of interaction. Maybe some timeouts are too small? Or sth like that?

[2015-12-11 16:57] pmorie commented on #18576
The problem is that the usage of an empty dir on tmpfs is reported differently between fedora and the version of debian in GCE.  From GCE:

[code]

So, we need to parameterize these tests with the expected usage of an empty dir on tmpfs.  I'll open a PR.

[2015-12-11 17:01] jsravn commented on #18530
I found the bug inside of the `scaleDown` method of `rolling_updater.go`. It erroneously assumes reducing replicas on scale down will drop the minimum available, when this isn't the case if you are rolling back from a failed deployment (where the scale down will be on the NotReady/failed pods). It needs to consider not ready replicas as well in each RC when deciding if it can scale down.

This tes

[2015-12-11 17:21] krousey commented on #17765
@gmarek assigning to you to handle or delegate to someone who can.

[2015-12-11 17:31] spxtr commented on #18441
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9799/console

Another example from before the debug patch.

[2015-12-11 17:34] wojtek-t commented on #13485
Unfortunately my PR didn't help.
This just happened again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12689/consoleFull

@ixdy - reassigning back to you

[2015-12-11 17:39] spxtr opened #18579 "e2e.sh: flock timing out"
Saw this in the 1.1 jobs at lunchtime yesterday, and then again this morning in e2e-gce. It's [this line](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L1173).

[code]

[kubernetes-e2e-gce-release-1.1/972](http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-release-1.1/972/console)
[kubernetes-e2e-gce-release-1.1/973](http://kubekins.dls.corp.google.com/job/kubern

[2015-12-11 17:43] bgrant0607 commented on #11492
@jackgr Arbitrary transformations are out of scope for this issue. This is about template parameterization.

[2015-12-11 17:46] bigkraig commented on #18021
I've seen this problem. there wasn't any messages in describe service and nor an old LB in the ec2 load balancers.

[2015-12-11 17:51] bigkraig commented on #18019
You can still get the hostname for the load balancer by doing a describe service:
[code]

[2015-12-11 18:06] deads2k commented on #17549
I prefer "request authorization", "resource authorization", and "generic authorization" in that order.

I like "field authorization" over "type-specific authorization".

[2015-12-11 18:07] ihmccreery opened #18581 "Many Kubectl e2e tests in master are broken against 1.0 cluster"
Googlers can find results here:

http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.0-master-step2-kubectl-e2e-new/

P0 for triaging impact, then we can go from there.

[2015-12-11 18:08] mikedanese commented on #18553
A subset of these should get done before v1.2.

[2015-12-11 18:10] krousey commented on #18581
cc @kubernetes/goog-csi @bgrant0607

[2015-12-11 18:11] thockin opened #18582 "Cleanup: node.OsImage should be OSImage"
just a capitalization nit.

[2015-12-11 18:11] krousey commented on #18581
I'm looking into this now to see what I can figure out.

[2015-12-11 18:12] ihmccreery commented on #18581
There are some similar failures between 1.1 and 1.0, which we should be more concerned about:

http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.0-current-release-step2-kubectl-e2e-new/

Note that there aren't any failures between 1.1 and master:

http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-ste

[2015-12-11 18:15] jackgr commented on #11492
@bgrant0607 don't see why this mechanism can't be used for template parameterization. Also, don't see why we would want to constrain ourselves to that.

This proposal is intended to be analogous to #14993, which deals with stream transformation in a general way. That approach seems like a reasonable way to achieve both template parameterization and template expansion.

The primary difference betwe

[2015-12-11 18:23] thockin opened #18584 "NodeStatus.Capacity docs point to PersistentVolume docs"
The docs are not particularly applicable

[code]

[2015-12-11 18:32] krousey commented on #18581
cc @thockin for this particular failure.

For the guestbook app, we changed a field from mandatory to optional in #12831. So we removed it from the yaml files. In this case, it's the yaml specs that are not 1.0 compliant. So our specs are forward compatible, but not backwards compatible. That sucks for your testing, but I'm not sure how big of a customer impact this is. @bgrant0607 thoughts?

[cod

[2015-12-11 18:35] davidopp commented on #17549
Another possible use case
https://github.com/kubernetes/kubernetes/pull/18263#issuecomment-163436433

[2015-12-11 18:36] Random-Liu commented on #17251
I'll do it, :)

[2015-12-11 18:38] thockin opened #18587 "PVClaimSpec Resources should not use teh same struct as Container Resources"
Currently they both use `ResourceRequirements` which has `requests` and `limits` fields, but I think `limit` doesn't apply to PVClaim (or maybe it's vice-versa, but it's not a tiered request).  We should make different structs for those two cases.  Now we have an API compat issue.  Need to trawl docs to see if we were ever clear about which to use for PV.

We should change this before auto-privisi

[2015-12-11 18:38] thockin commented on #18587
@vishh

[2015-12-11 18:38] thockin commented on #17035
WRT  the any vs old/new - We don't currently report "free" resources on a node, but if/when we do - can it change over time? It has to be possible, right?

Can we define `example.com/new-gpu`, `example.com/old-gpu`, and `example.com/any-gpu` and say that their quantities are not independent variables?  When I allocate an "any" and am granted a "new", the counts of  both "any" and "new" go down.  Y

[2015-12-11 18:39] brendandburns commented on #18581
I don't think that this is that big a customer impact, not worth fixing.  Probably worth a release note.

[2015-12-11 18:41] vishh commented on #18587
I feel `Limit` applies to PVClaim and `Request` does not. If we had a means to restrict usage on a PV, for example linux quota, we can enforce `Limits` on PVClaims at the node.

[2015-12-11 18:42] ihmccreery commented on #18581
This is a specific instance of the larger issue #16040; @brendandburns did an audit of 1.1/1.0 here: #16041.

[2015-12-11 18:52] markturansky commented on #18587
I think we used `Request` at the time because `Limit` is the reverse of what a PVC needs.  PVC wants a `Minimum`, whereas other usages of `Limit` were maximums, I believe.

[2015-12-11 18:53] caesarxuchao commented on #17216
I think @smarterclayton feels the same way: https://github.com/kubernetes/kubernetes/pull/17515#issuecomment-160832323

I agree we should have runtime#GroupVersion and unversioned#GroupVersion. I'm uncertain where is the boundary though.

[2015-12-11 18:56] yifan-gu commented on #18549
cc @erictune

[2015-12-11 18:59] timstclair commented on #17931
There haven't been any updates since I was waiting for it to happen again and successfully collect logs. The sample you linked is what I was waiting for :) I'll do some digging later today.

[2015-12-11 19:00] timstclair commented on #17656
Have there been any more occurrences of this, or can we close this issue?

[2015-12-11 19:05] caesarxuchao commented on #18531
This question leads me to find a flaw in my design. If the user specifies version KUBE_API_VERSION=W, but there is no `install` package for W, no error will be reported in my design. I think the `registered` package is used to detect this kind of problem in our current code base.

[2015-12-11 19:08] krousey commented on #18581
Kubectl client Simple pod should support inline execution and attach

[code]

Running kubectl run --restart=never starts a job. Jobs didn't exist in 1.0. And I'm pretty sure the entire run subcommand didn't exist in 1.0. Did we run this kind of test in 1.0? If so how?

[2015-12-11 19:09] jlowdermilk commented on #18037
Ping on this. Cluster up is succeeding now, but the e2e test driver is timing out waiting for kube-system pods to start running.

[2015-12-11 19:11] deads2k commented on #18531
I think that I would try to handle that at a different location.  You could separately validate your envvar value against the actual available `GroupMeta` after all installation is completed.

[2015-12-11 19:28] caesarxuchao commented on #18531
Yeah, we can make a function call in `import_know_versions.go`: https://github.com/kubernetes/kubernetes/blob/master/pkg/master/import_known_versions.go. It doesn't look elegant though. Do you have better idea?

[2015-12-11 19:29] timothysc commented on #18386
I likely won't be able to get to this until post-holiday.

[2015-12-11 19:39] yujuhong commented on #17980
Feel free to reopen if you see it again.

[2015-12-11 19:39] #17980 closed

[2015-12-11 19:47] deads2k commented on #18531
No, I don't.  I don't know how to dynamically load packages in go.

[2015-12-11 19:48] brendandburns opened #18592 "e2e and main gce environments are different"
We run w/ "standalone" kubelet in e2e and in main GCE we point the master's kubelet at the apiserver.

This leads to inconsistent behavior between GCE main and e2e.

[2015-12-11 19:49] brendandburns opened #18593 "flannel + gce doesn't work when kubelet on master registers w/ apiserver"
If the kubelet registers with the master, it doesn't go through a hack that disables the flannel flag, even if it was specified.  This means that setting `NETWORK_PROVIDER=flannel` and running `cluster/kube-up.sh` results in a broken cluster (at least in GCE)

@bprashanth

[2015-12-11 19:57] krousey commented on #18581
Kubectl client Simple pod should support exec through an HTTP proxy

Errors out during controller validation. The specific call that's failing is https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L1128

[code]

Was proxy as a sub-resource exposed in 1.0? @brendandburns

[code]

[2015-12-11 20:05] yujuhong commented on #18592
/cc @dchen1107, who told me the inconsistency was being addressed sometime back.

[2015-12-11 20:06] jayunit100 opened #18594 "Scale subresource enablement: Should we add note about it in the docs?"
There is no specification in the docs about the `scale` subresource about how to enable it.

- I assume there is a flag to turn it on/off...   or is it meant to always be available?
- In general, we need to note what users should do to enable scale/ resources by default.

Concretely: I'm seeing that its not made available on one of my clusters, even though `deployments/` and hpa are available.   I

[2015-12-11 20:29] mamikonyana opened #18596 "https://github.com/GoogleCloudPlatform/kubernetes stopped redirecting to https://github.com/kubernetes/kubernetes"
That breaks some of the cluster setup scripts.

[2015-12-11 21:13] rwehner commented on #17340
I have this same issue on v1.1.2 (CoreOS on bare-metal).
[code]
We have multiple users that all run `kubectl` from the same "bastion" host. Each user has their own certificates and kubeconfig for cluster access. It seems that this validation path (`/tmp/kubectl.schema/`) is created and owned by the first user to run `kubectl`. All other users hit this permissions error.

I believe https://github.c

[2015-12-11 21:20] smarterclayton commented on #17216
I think we want to keep field serialization format totally separate from
our internal types.  Field serialization objects will have protobuf and
json serializers on them - over time they will accumulate other things that
make them unsuited to be passed around as generic typers.

My goal is to move all type aware code out of the conversion package.  At
that point, only runtime scheme knows about ob

[2015-12-11 21:28] krousey commented on #18581
Kubectl client Simple pod should support exec through an HTTP proxy

I believe this is the same error as the controller validation logic. https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L288 we see:

[code]

which again is using the proxy sub-resource. @brendandburns ?

[code]

[2015-12-11 21:31] brendandburns commented on #18581
Pre 1.1 (afaik, @liggitt might know for sure) the only valid proxy path was `/api/proxy/...`

--brendan

[2015-12-11 21:35] jackgr commented on #17456
While this issue deals specifically with Kubernetes auth, it raises larger questions about provenance, package deployment, template expansion, bundling templates with images, etc. They start to lean in the direction of application lifecycle management.

There's an initiative afoot in Cloud Native Computing Foundation to define a simple, opinionated but general architecture for application lifecycl

[2015-12-11 21:37] jayunit100 commented on #18594
UPDATE: I think this caused by tests failing due to heapster versioning issue... still tracking down...  but Looks like this scale/ resource failure could be do to tests going into a tailspin after this failure...

[code]

So, I think (need verification).

- we should say `scale` is enabled by default: its not an API that needs to be turned on.
- there might be a possibility we  need to check heap

[2015-12-11 21:37] rkling01 commented on #17921
Actually I am having this same issue and tried shutting down and restarting and the issue persists.  Any suggestions?

[2015-12-11 21:39] liggitt commented on #18581
pods/proxy was in 1.0: https://github.com/kubernetes/kubernetes/blob/v1.0.0/pkg/master/master.go#L474

[2015-12-11 21:42] zmerlynn commented on #18596
I reported this to @mikedanese a couple of hours ago, and he reported it to GitHub support.

[2015-12-11 21:46] caesarxuchao commented on #18531
@deads2k, does "The `install` package should export the installation function so that an API can be installed after initialization. [edit] The installation function installs the API without checking `KUBE_API_VERSIONS`." meet your needs?

Or do you mean we should get rid of the environment variable completely and instead use a flag (I assumes that a flag is what you mean by `parameter`)? That woul

[2015-12-11 21:59] krousey commented on #18581
@liggitt Thanks for pointing that out. I will work on reproducing those errors then and try to get more information.

[2015-12-11 22:02] mikedanese commented on #18596
I've filed an issue with github support.

[2015-12-11 22:03] roberthbailey commented on #18335
@ixdy -- either the retries didn't help or our guess as to the failure was wrong. Since all output in that subshell goes to /dev/null, it's hard to diagnose. Can you add some better logging in the subshell that generates certs?

[2015-12-11 22:05] so0k commented on #11751
@ihmccreery @fgrzadkowski - stable is now updated to v1.1.3 but the hyperkube image isn't there?

[code]

[2015-12-11 22:13] mikedanese commented on #11751
@so0k that's what this issue addresses. We don't and haven't ever pushed release images to gcr.io as part of the release process. If there are images in gcr.io, they were pushed there as one offs.

This issue will be closed when we start pushing releases to gcr.io.

[2015-12-11 22:37] dchen1107 commented on #18592
This is dup of  #15803.

@gmarek has a pending PR for this: https://github.com/kubernetes/kubernetes/pull/18338

[2015-12-11 22:37] jlowdermilk commented on #18344
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-11 22:37] #18344 closed

[2015-12-11 22:39] dchen1107 commented on #18592
Send to quickly, to enable this, we need to fix our e2e test harness, and another pending pr to do it: https://github.com/kubernetes/kubernetes/pull/18509

[2015-12-11 22:39] dchen1107 commented on #18592
Close this as dup of #15803.

[2015-12-11 22:39] #18592 closed

[2015-12-11 22:46] jlowdermilk commented on #18393
cc @fgrzadkowski

[2015-12-11 22:48] imkin opened #18603 "salt docker installtion does not work for debian"
I found that the salts docker/init.sls has debian section inside the redhat block.

https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L10
is the start of redhat

and

https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L202

is the end of redhat-section [last line]

https://github.com/kubernetes/kubernetes/blob/master/

[2015-12-11 22:50] thockin opened #18604 "kube-proxy: increase conntrack limits, decrease timeouts"
At least one user has had issues with this, and I expect more.  It manifests as dropped packets/connections and dmesg show:

[code]

Maybe something like:

[code]

Or maybe we should monitor `nf_conntrack_count` and increase only when needed (it does consume some kernel memory)

Let's keep an eye on this for 1.2.

[2015-12-11 22:50] jlowdermilk commented on #18513
@piointec, can you paste output from `kubectl version`?

cc @mikedanese, @fgrzadkowski.

[2015-12-11 22:54] smarterclayton opened #18605 "TestMetrics fails on a mac"
[code]

[2015-12-11 22:54] jlowdermilk commented on #18516
Are these images that have to be compiled during the test? I think we prefer to build and push images needed for tests to gcr.io if possible.

[2015-12-11 22:55] jlowdermilk commented on #18517
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-11 22:57] jlowdermilk commented on #18342
@dchen1107 do we gc ephemeral hostdir/emptydir/similar volumes?

[2015-12-11 23:05] vishh commented on #18587
`Requests` imply Burstable behavior. Is such a semantic required for PVC?

On Fri, Dec 11, 2015 at 10:53 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-12-11 23:07] ihmccreery opened #18606 "Reconcile testing docs"
https://github.com/kubernetes/kubernetes/pull/14112 introduced [docs/devel/e2e-tests.md](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md), but that document isn't correct, and contradicts the information in [docs/devel/development.md](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md).  These two docs should be reconciled.

[2015-12-11 23:25] yujuhong commented on #12429
@gmarek, I think in general the test is more subject to fluctuations due to the shorter monitoring time. Since I am adding cpu usage limits in #18382, should we just consolidate the tests? My test doesn't set memory limit yet, but I think we can do that after we improve the memory usage metrics. Overall, consolidating the tests should save both us some time. What do you think?

[2015-12-11 23:34] ihmccreery commented on #17981
@brendandburns I know you were working on some Pi stuff; want to chime in here?

[2015-12-11 23:39] thockin commented on #2210
Since this came up in a conversation, it's worth mentioning that "If a pod's labels no longer match C1's selector, controllerRef should be unset" means that (give stateless controllers) we have to explicitly select for "controllerRef=me" and the main selector, in order to identify the relative complement (pods that claim to be managed by me but don't match my selector)

[2015-12-11 23:41] ihmccreery commented on #17077
This was picked into release-1.1 in #14805.  @thockin, can you please weigh in?

[2015-12-11 23:43] ihmccreery commented on #17077
Regardless of the `cni` specifics, this issue is a good one to consider: should released version of Kubernetes be relying on pre-release versions of other things?  Should master?  If master should and the release shouldn't, we need a procedure for resolving discrepancies.

[2015-12-11 23:44] thockin commented on #17077
What is the action to take here?  We're using it.  We could re-vendor to
newer tag, if one is available, but I don't think we can go backwards.

Fortunately we're using this in a beta aspect of the system, so impact of
instability should be minimal.

On Fri, Dec 11, 2015 at 3:41 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2015-12-11 23:45] ihmccreery commented on #16914
I'm closing this as obsolete; we can re-open if we see it again, (but for now I'm willing to call it a Shippable flake).

[2015-12-11 23:45] #16914 closed

[2015-12-11 23:45] thockin commented on #17077
All the tooling here is sub-par, to say the least.

On Fri, Dec 11, 2015 at 3:43 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2015-12-11 23:48] jlowdermilk opened #18608 "Flaky e2e: [Performance] should allow starting 30 pods per node"
Failed in the last 2 runs with
[code]

Most recent run results: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3388/consoleFull

cc @gmarek, @fgrzadkowski

[2015-12-11 23:49] jayunit100 commented on #18516
So, we don't want continuous integration for images?  If so... I can close this issue, but I'd vote that we should have CI for images.

[2015-12-11 23:49] markturansky commented on #18587
It didn't imply that at the time.  I was the one to add `Requests` (at behest of @bgrant0607, I think), because a PVC is a request for resources with specific minimums required.  I originally used `Limit` but in reverse (not a max, but a min), hence we got `Requests`.

I'm not married to it or arguing for/against.  Just trying to provide historical context.

[2015-12-12 00:02] ihmccreery commented on #18516
@mikedanese @fgrzadkowski Any thoughts?

[2015-12-12 00:04] thockin commented on #18587
I don't think either name is better than the other, we should use whatever
has been documented.  In fact, it may be too late to change it at all, and
we should maybe just fork the struct, deprecate one field and accept either.

On Fri, Dec 11, 2015 at 3:50 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-12-12 00:10] mikedanese commented on #18130
It appears that the documentation is wrong in release-1.1 but fixed on master.

[2015-12-12 00:11] mml commented on #18393
The syntax for my selector was incorrect, but on top of that I tried this with a fresh build and it no longer occurs.

[2015-12-12 00:11] #18393 closed

[2015-12-12 00:16] ihmccreery commented on #17734
What do we gain from having multiple repos?  Having one repo with 12 packages sounds like a lot less of a headache than 12 repos each with their own package.

Again, I'm not sure this is a repo thing; I think it's a package/structure thing.

Seems reasonable.  Right now we *do* version tests, right alongside code.  By pulling them out, we're effectively encouraging ourselves to decouple test versi

[2015-12-12 00:20] jlowdermilk commented on #18516
Adding the test image files to kube build sgtm. We already compile in unit/integration/e2e binaries and examples. Might as well put test images in too.

[2015-12-12 00:27] mml commented on #18392
I can no longer reproduce this at head.

[2015-12-12 00:27] #18392 closed

[2015-12-12 00:32] jayunit100 commented on #18594
It appears scale resources are always enabled after digging more.

These error logs, I think, are coming from the fact that HPAs seem to query subscale resource even after the RC has dissapeared.

So in closing this issue we should:

- make HPA controller periodically confirm that the RC it references is valid.

[2015-12-12 00:32] thockin commented on #10570
I think we can support cases like HFT, but it's going to require a
non-trivial set of features and enhancements that are design in concert.
We might enable things like this today, but it has to be clear that they
are outside the sphere of what is "well supported".

There is actually a cost to running apps under a system like Borg or
Kubernetes - it becomes more difficult to squeeze out every last

[2015-12-12 00:34] mml opened #18609 "TestRoundTripTypes should also test extensions"
AFAICT, it only tests the v1 API objects.

[code]

[2015-12-12 00:44] karlkfi commented on #17734
I do agree, that many benefits can be attained by better componentization via package management. That's actually a pre-requisite of pulling out to multiple repos anyway.

However, my experience with multiple components in the same repo suggests that the large a repo becomes, the harder it is to contribute to, regardless of how well packaged it is. The repo boundary is an administrative boon when

[2015-12-12 01:04] dchen1107 commented on #12429
Agreed with @yujuhong above. Can we consolidate this one with resource_monitor tests?

[2015-12-12 01:09] jlowdermilk commented on #18608
Passing now, with no build change, so perhaps just flaky.

[2015-12-12 01:18] karlkfi opened #18610 "[Component Registration] Phase 1 - Simplify Endpoints"
Phase 1 of [phased changed](https://github.com/mesosphere/kubernetes/blob/component-registration-proposal/docs/proposals/component-registration.md#phased-changes) from the Component Registration proposal: #13216

1. Add a new API resource (ExternalServiceProvider) that represents a non-pod service provider
  - Require specification of a network route (host[:port])
  - Allow specification liveness

[2015-12-12 01:29] sachingharge opened #18612 "Cloud Configs templates for CoreOS/AWS"
Hi Team,

It would be good if cloud config template (YMAL) files provided for CoreOS AWS setup similar like below.
https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides/coreos

It would be really helpful for custom cloudformation template. In cloudformation template, I am trying to use latest stable version of CoreOS 835.9.0 and Kubernetes v1.1.3 version however facing s

[2015-12-12 01:33] ishikapaul opened #18613 "Kubernetes Liveness probe issue"
Hi all we are creating a simple apache server app in Kubernetes. However when liveness probe is enabled it kills our app. After much debugging we discovered that when Kubernetes deploys our app, the response time is sometimes > 3s (our timeoutSeconds = 3).

curling inside the pod on localhost gives us slow response times:

real    0m0.828s
user    0m0.000s
sys    0m0.005s
2007.0.1.17
2007.0.1.01
h

[2015-12-12 01:37] karlkfi commented on #18610
Work & review will be in a PR, of course, but I wanted to make sure we were all on the same page for this truncated proposal of just Component Registration Phase 1.

Bulk subscribing parties that may be interested. Feel free to unsubscribe. Just trying to avoid the word of mouth baton handoff chain that happened with the original proposal.

Proposal Reviewers: @jbeda @lavalamp @smarterclayton @bgr

[2015-12-12 01:39] sachingharge commented on #17882
@fabioy, Yes, I will try to verify once fix is available.
I guess fix still not yet released?

[2015-12-12 02:12] mqliang commented on #18610
/subscribe

[2015-12-12 02:16] ixdy commented on #18335
PR out to address logging.

[2015-12-12 03:20] mqliang commented on #18568
/subscribe

[2015-12-12 03:51] mqliang commented on #18463
[code]

[2015-12-12 05:30] derekwaynecarr commented on #18438
@vishh - doing items you listed in lieu of what is proposed here satisfies the spirit of what i was looking to support in 1.2 timeframe.

[2015-12-12 07:11] piontec commented on #18513
sure:
[code]

[2015-12-12 08:51] #17266 closed

[2015-12-12 09:37] luxas commented on #17981
Yes #17629

@ihmccreery At least, should I start writing on the ARM docs?
E.g. about what's different with ARM and what needs to be customized.

There are lots of folks who want this, and since 1st Oct, things like [my project](https://github.com/luxas/kubernetes-on-arm) or self-made hacks are the only way of doing this.
Lets do this!

[2015-12-12 09:46] wojtek-t commented on #18608
I guess the limit is a bit too strict now - I will relax it a bit.

[2015-12-12 11:40] gmarek commented on #18608
I'm not certain it's the change shortening the threshold for listing pods. E.g. in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3399 we failed on post pods, not listing them.

[2015-12-12 11:57] gmarek commented on #18608
Only other nontrivial change I was able to find that got merged around the time test became flaky is #18383

[2015-12-12 14:36] timothysc opened #18619 "Failing Volume/Metrics Unit Tests"
There has been a batch of recent unit tests that appear to be failing, I have not bisected what has changed just reporting b/c it is orthogonal to what I'm working on atm.

Details:
- golang 1.5.1 on fedora 23
- recent pulls ~Thur-Fri
- UT failures below

-- FAIL: TestMetricsDuGetCapacity (0.14s)
	metrics_du_test.go:41: Expected Used 0 for empty directory to be 4096.
	metrics_du_test.go:60: Unexpe

[2015-12-12 15:05] nishantsny opened #18620 "Using dynamic resource usage statistics from heapster for pod scheduling"
In the master branch, a pod resource usages are its resource requests. We have extended it to be the maximum of resource requests and 95th percentile of resource usages in past hour. The code is [here] (https://github.com/nishantsny/kubernetes/tree/dynamicScheduling).

We have the following issues:
 1.

[2015-12-12 16:00] derekwaynecarr commented on #18619
I think @pmorie is on the case.

On Saturday, December 12, 2015, Timothy St. Clair <notifications@github.com>
wrote:

[2015-12-12 16:21] erictune commented on #10570
Agree with your point, Jeremy, that the Borg experience does not necessarily map to experience in other industries.  I've long known that there is an impedance mismatch when running with some types of scientific computing workloads on a Borg-style system.  The HFT and NFV cases are new to me, but I can see where, if you were designing a system specifically for those cases, that you might do some t

[2015-12-12 17:00] satheessh commented on #18604
Even though we cut down the all the  traffic to  kubernetes cluster, We do see lot of open connections from kube proxy.

[2015-12-12 17:04] satheessh commented on #18604
root@ip-172-20-0-57:~# lsof -i | grep 51922
kube-prox 20942   root   12u  IPv6 897161688      0t0  TCP *:51922 (LISTEN)
-----------------------------------------------------------------------------------------------------------
port 51922 is opened by kube-proxy. (see above command). The number of connections attached to port 51922 is 62k.

root@ip-172-20-0-57:~# netstat -ap | grep 51922 | wc -l
6

[2015-12-12 17:36] smarterclayton opened #18622 "Pluralizing rest resource names in APIs is a mistake"
The pluralization of rest resource names in URL paths is mostly human conceit that complicates every interaction from clients and leads to little practical benefit for end users.  In addition, it's an arbitrary transformation that cannot lead to predictable results.

The use of pluralization is entirely historical, and is not based on any pattern other than making readable urls for bookmarking in

[2015-12-12 17:36] manojlds commented on #12381
+1 to @jtblin

[2015-12-12 17:41] smarterclayton commented on #18622
Each *currently* published API version.

[2015-12-12 18:38] davidopp commented on #18438
Unless I'm misunderstanding, the stuff Vish listed is all stuff we hadn't planned to do for 1.2. So while it is probably easier than exposing utilizations through the metrics API  and using that in scheduling, it's still new work.

What does this mean?

This requires scheduler support. Scheduler needs to rate-limit retries of scheduling pods on nodes that it thinks are feasible but that end up rej

[2015-12-12 18:49] smarterclayton opened #18623 "Evolution of the kube-proxy"
We are currently in the process of moving the kube-proxy into a pod - so it's a good time to talk about additional responsibilities for the Kube proxy and the long term evolution about how people experiment with it:
- Some people have developed kube-proxy replacements based on HAProxy that share a resemblance to ingress / route LBs - those have advantages in some cases over even the iptables imple

[2015-12-12 18:49] smarterclayton commented on #18623
@thockin @mikedanese @kubernetes/goog-cluster @knobunc

[2015-12-12 20:17] ericandrewlewis opened #18624 "Errors when running npm install"
I get a few errors when installing npm install. Here's [the full log](https://gist.github.com/ericandrewlewis/b07ac7142362a7be3a44), I'll outline the eyebrow-raising excerpts below.

I'm on OSX 10.10.5, Node 5.0, npm 3.3.9. Apologies if these are upstream issues, but I'm not sure if they are and figured I'd start here :smile:

[code]

[code]

[code]

[2015-12-12 20:18] ericandrewlewis commented on #18624
Whoops — meant to open this on Kubernetes/dashboard, sorry!

[2015-12-12 20:18] #18624 closed

[2015-12-12 20:40] manojlds commented on #17912
`KubernetesCluster =<clusterid>` - what should cluster id be, or just the  key is enough?

[2015-12-12 21:23] jtblin commented on #17912
It can be whatever value you want e.g. "dev", "my_cluster", etc. It just
needs to be set consistently on the different resources e.g. nodes,
subnets, etc.
On 13 Dec 2015 7:41 am, "Manoj" <notifications@github.com> wrote:

[2015-12-12 21:27] manojlds commented on #9718
How does kubernetes know what the `clusterid` is?

[2015-12-12 21:31] manojlds commented on #17912
@jtblin i saw a `--cluster-name` argument to controller-manager. Not dependent on that? Need to go through `aws.go` to see what's happening.

[2015-12-12 21:39] idvoretskyi commented on #18517
I will follow your recommendation.

Thank you.

[2015-12-12 21:39] idvoretskyi commented on #18517
I will follow your recommendation.

Thank you.

[2015-12-12 21:39] #18517 closed

[2015-12-12 22:35] ericandrewlewis opened #18626 "Can't setup DNS add-on with local Docker setup"
I've successfully set up Kubernetes on Docker locally following the [Getting Started Guide](https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/docker.md).

Now I'm trying to setup the DNS add-on, and having issues. This might be a dupe of #16836, but I don't want to add noise to that discussion if it isn't.

I've modified the `kubelet` boot-up command according t

[2015-12-12 22:40] thockin commented on #18622
Is tracking both singular and plural really a hardship?  I agree (and I
think I always did) but I am not sure its with changing at this point.
On Dec 12, 2015 9:37 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-12-12 23:49] jlowdermilk commented on #18371
I think it's mostly that the build scripts are fairly involved at this point, so building on an unknokwn arch is unlikely to work at all. If you want to change it to print a warning and continue, you're welcome to submit a pr.

[2015-12-12 23:55] jlowdermilk commented on #18523
From the stackoverflow post it looks like you were previously running an old kubelet on the node. Depending how you upgraded it it's possible there's some version skew issue going on. cc @yujuhong

[2015-12-13 00:08] jlowdermilk commented on #18535
cc @mikedanese

[2015-12-13 00:11] jlowdermilk commented on #18537
If you're running kubectl 1.1.2 against a 1.0 apiserver, it might be a known incompatibility. cc @krousey @ihmccreery

[2015-12-13 00:12] jlowdermilk commented on #18543
cc @brendandburns

[2015-12-13 00:22] jlowdermilk commented on #18555
It looks like the permission issue was fixed by #14087. It missed 1.1, but we can pick it up in a patch release.

I'm not familiar with the azure setup. @errordeveloper, is the kubernetes apiserver exposed externally for azure?

[2015-12-13 00:30] jlowdermilk commented on #18613
I want to suspect kube-proxy here but not sure if that applies to curling localhost inside the pod. cc @thockin

[2015-12-13 00:31] jlowdermilk commented on #18603
cc @smarterclayton

[2015-12-13 00:35] jlowdermilk commented on #18565
cc @derekwaynecarr

[2015-12-13 01:32] mikem commented on #18555
Thanks for the link to #14087. I forgot to mention this in the original bug report, but I encountered this on `master` which was at 4f67b0b2117c72c86d365af2c2d338afa199f501 at the time of the report.

[2015-12-13 01:34] mikem commented on #17340
@rwehner I still encounter this issue on 4f67b0b2117c72c86d365af2c2d338afa199f501 which is the current `master` and contains afea127a3e7a32099f676399efc13dbb653bdf28.

[2015-12-13 01:46] thockin commented on #18613
Curling INSIDE your pod is slow?  Kube-proxy is not involved.  Nothing is
but your own software.  Are you trying to do some flavor of DNS lookup that
is timing out?  Is the rest of your networking set up properly (e.g. can
you do a DNS lookup that r ping a pod on a different host)?
On Dec 12, 2015 4:30 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-12-13 01:56] thockin commented on #18623
One of the things we are working on right now is disentangling network
setup from the core.  This starts with plugins, but it includes
kube-proxy.  In reality kube-proxy is just one (well, two kind of)
implementation of the service VIP abstraction.  There are other
implementations and some don't use kube-proxy at all.

Given that, I am reluctant to pile more behavior onto kube-proxy - if we
want t

[2015-12-13 01:56] davidopp commented on #3138
Random notes from a discussion with @xiang90 and @hongchaodeng

* Can we get workload traces from OpenShift?
* Google cluster workload traces might or might not be relevant: https://github.com/google/cluster-data

[2015-12-13 04:29] xiang90 commented on #3138
I will look into this more carefully and report back soon.

[2015-12-13 04:48] mikedanese commented on #18535
This would be fixed by setting [master count](https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L217) to the number of apiservers. Currently it's always set to one. @lavalamp should we expose that as a command line flag or were you waiting for a better way to derive that number?

[2015-12-13 04:54] mikedanese commented on #18535
#18628 will fix this. We can come up with a fancy way to derive that number later and deprecate that configuration.

[2015-12-13 05:51] dalanlan commented on #18626
@ericandrewlewis
The following log shows that you might get a wrong configuration.
`I1212 21:56:52.990598       1 kube2sky.go:455] Using http://localhost:8080 for kubernetes master`
Try to pass a proper flag `--kube_master_url=http://{kube-api-server}:8080` for kube2sky

[2015-12-13 08:23] tPl0ch opened #18629 "AWS cluster `config-default.sh` assigns wrong value to `KUBE_MASTER_IP`"
Currently when using a custom elastic IP, the ENV var KUBE_MASTER_IP gets
the output of $(assign-elastic-ip $ip $master_id) assigned.
See https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/util.sh#L937

This is wrong since the command returns a string:
Attaching IP 99.999.999.999 to instance i-9999999

The patch at https://github.com/kubernetes/kubernetes/pull/18588 fixes the assignm

[2015-12-13 08:56] davidopp commented on #18620
Hi, there has already been some discussion in this area (#18438, #12455, #12952, #14081), and @vishh  is planning to file some relevant issues in the next couple of days. He will link them to #14081, so you should watch that issue.

Thanks for your interest in Kubernetes!

[2015-12-13 08:58] davidopp commented on #18612
@justinsb Can you take a crack at these questions?

[2015-12-13 08:59] davidopp commented on #18603
@mikedanese

[2015-12-13 09:17] davidopp commented on #18506
I assume we'd export it using expvar?

We could have 'kubectl cluster-info' return the info.

[2015-12-13 09:32] davidopp commented on #18495
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-13 09:32] #18495 closed

[2015-12-13 09:52] davidopp commented on #17950
It looks like there's some recent work to get Kubernetes working with vSphere (see recent comments in #18457), but we don't really expect it to work right now, so I'm going to close this issue and suggest you follow #18457. Feel free to re-open an issue if you still have problems after vSphere is believed to be working again.

[2015-12-13 09:52] #17950 closed

[2015-12-13 09:54] davidopp commented on #17904
I'm going to close, but please reopen if you have the problem again, and also supply logs
(/var/log/kube-*.log).

[2015-12-13 09:54] #17904 closed

[2015-12-13 09:56] davidopp commented on #17902
Please send us the exact YAML files and commands you ran.

[2015-12-13 09:57] davidopp commented on #17860
Can we close this now that #17924 was merged?

[2015-12-13 10:01] davidopp commented on #17858
I assume you're talking about the types.go files under
https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/scheduler/api ?

[2015-12-13 10:03] davidopp commented on #17837
@justinsb

[2015-12-13 10:03] davidopp commented on #17837
@mikedanese

[2015-12-13 10:03] sils1297 commented on #17902
Hi, I cannot send you the yamls, they specify a very simple replication controller. Exposing was done via `kubectl.sh expose rc rc_name --port=80 --target-port=80 --type=LoadBalancer`. Rolling update was done via `kubectl.sh rolling-update rc_name -f same_yaml.yml`, while `same_yaml.yml` had the exact same contents except the labels and selectors where I appended `2` so kubernetes wouldn't complai

[2015-12-13 10:07] #17820 closed

[2015-12-13 10:09] VonC commented on #18495
@davidopp This GitHub issue comes from the Stack Overflow question also posted 3 days ago: http://stackoverflow.com/q/34195766/6309

[2015-12-13 10:35] luxas commented on #18626
This will probably be fixed when #17213 is merged.
Now, serviceAccounts doesn't work by default when using k8s-in-docker.

However you may bypass it in two ways:
 - option 1
   - pass `--kube_master_url=http://{kube-api-server}:8080` to `kube2sky` (easy and good, however can fail in some scenarios when master ip has changed)
 - option 2 (warning: hackish)
   - pull hyperkube `v1.1.1`
   - download

[2015-12-13 11:57] gmarek commented on #18506
I like the idea of adding this to cluster-info.

[2015-12-13 16:34] dhawal55 commented on #18537
Its kubectl v1.1.2 against apiserver v1.1.2
On Dec 12, 2015 4:12 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-12-13 16:47] mikedanese commented on #18603
Thanks! @vishh

[2015-12-13 17:24] mikedanese commented on #18603
@imkin isn't https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L51 the begining of the debian section? I.e.:
[code]

[2015-12-13 17:27] spinus opened #18632 "How to execute command in a pod from API (websocket)?"
Hi, I'm trying to do exec on a pod. It looks like the docs are not very consistent about that yet, but with docs and few trials and errors I found that something like that almost work:

[code]
repsponse for that is
[code]
Looks like that should be enough to upgrade post request and start using websocket streams, right? What I'm missing?

It is possible to do that only with websocket connection wit

[2015-12-13 18:34] esecules commented on #18523
You are correct. I accidentally had 1.0.7 installed first before upgrading
to 1.1.1 how would I detect and correct for version skew?
On Dec 12, 2015 6:56 PM, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2015-12-13 18:38] smarterclayton commented on #17858
Yes, although in this case it should be the v1.  Internal doesn't have
to be forced to 32.

[2015-12-13 18:46] smarterclayton commented on #18623
Maybe I should clarify - those examples are modes of the proxy, sometimes
orthogonal, sometimes overlapping.  Materializing the service abstraction
as DNS, or being an unidling proxy, are simply facets of the proxy (you
have to have DNS point somewhere).  I might start the DNS aspect or the
proxying aspect, but I simply see them as compositional pieces of the node
level network.

One of the things

[2015-12-13 18:51] imkin commented on #18603
@mikedanese Agreed.
Thanks. I miscounted the if-else block as else and if were seperate.

[2015-12-13 18:52] #18603 closed

[2015-12-13 20:20] ericandrewlewis commented on #18626
Thanks for the help! How do I figure out what the IP of the master server is?

[2015-12-13 20:24] luxas commented on #18626
That's the problem! :smile:
Well, since you run it locally, just type `hostname -i`, `hostname -I` or `ip addr` to see which ip you have

[2015-12-13 20:42] ericandrewlewis commented on #18626
If i run `hostname -i` inside the VM running Kubernetes, I see `127.0.0.1`, i.e. `localhost`. I guess this is part of the problem — the machine provisioned in the guide doesn't have an IP addressable from inside of a container?

[2015-12-13 21:14] luxas commented on #18626
Try the other commands... (`hostname -I` often works when `i` doesn't)

[2015-12-13 23:04] smarterclayton commented on #18622
Depends on what you mean by hardship.  It's already leaking into the code
today in RESTMapper (and a few client libraries where someone did the quick
hack).  The end result is Rails [1], which has an awesome library that
includes thousands of arbitrary rules, and you get to add your own
exceptions to those rules, and that never leads to bizarre or weird
behavior.  We'll shield clients from some of

[2015-12-13 23:06] smarterclayton commented on #18622
Also, I've seen this
https://github.com/Automattic/mongoose/issues/1703 - there is no end
to the madness when you talk about the English language.

On Sun, Dec 13, 2015 at 6:04 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2015-12-13 23:33] ernestoalejo commented on #16737
Related issue: #18568

[2015-12-13 23:35] ernestoalejo commented on #16737
Also related: #18530

[2015-12-14 01:00] nickschuch commented on #7890
Im about halfway through coding a volume for https://github.com/s3fs-fuse/s3fs-fuse, based it off the nfs implementation while also drawing some inspiration from https://github.com/kubernetes/kubernetes/pull/17221. Is this something people can see as a viable solution?

[2015-12-14 01:18] HackToday commented on #18409
Glad to see some improvements here. And wish to use it if implemented

[2015-12-14 02:33] feiskyer commented on #18623
How to ensure the HA of kube-proxy pod?

[2015-12-14 03:26] derekwaynecarr commented on #18438
I read this as meaning that if a node is actively killing pods during low compute resource situations that the node will not accept new pods pending stabilization of the node.  As for the semantics around that, I think we need to close on the resource killing design.

I am not sure if it mandates scheduler support, but I can see how making the scheduler smarter would help longer term.  Assuming yo

[2015-12-14 03:40] ericandrewlewis commented on #18626
From running the commands, I see these results:

[code]

I'm not too familiar with the `ip addr` return, but I guess that the master machine has an IP of `10.0.2.15`, `192.168.99.100`, or `172.17.0.1`.

A container should be able to reach the master machine (as kube2sky will need to), so I log into a container and curl each of them. All of them fail.

[code]

[2015-12-14 04:15] davidopp commented on #12140
@timothysc I won't have time to do it this week and then I'm going on vacation, but feel free to send a PR to update however you think is appropriate, and assign to me. In general I think we're putting this on the back burner temporarily due to all of the other scheduling issues going on right now, and lack of urgent request for this feature. But it's good to keep the proposal up-to-date anyway.

[2015-12-14 04:16] davidopp commented on #367
@timothysc Let's wait until we merge the proposal.

[2015-12-14 04:33] smarterclayton commented on #18623
Same approaches as today.  SO_REUSEPORT, fast restart, leveraging iptables
to potentially stall or queue packets during restart.

On Dec 13, 2015, at 9:33 PM, feisky <notifications@github.com> wrote:

How to ensure the HA of kube-proxy pod?

[2015-12-14 04:57] akrmhrjn commented on #13382
@brendandburns @justinsb Guys, can you help me with above issue?

[2015-12-14 05:01] thockin commented on #18623
I'm all in favor of composition, but that says to me more smaller pieces
not more operational modes of a demi-monolith.

Why not make DNS a standalone daemonset?

The main argument against cracking this off the main repo is the same
argument for all the other major components - the coupling it too high, the
client lib is too entangled, the tooling is not ready (git munger, e2e,
etc), the versionin

[2015-12-14 05:31] thockin commented on #7890
I'd like to see us shake out a solid design for FUSE-based volumes BEFORE
we argue about the merit of any one volume.

On Sun, Dec 13, 2015 at 5:01 PM, Nick Schuch <notifications@github.com>
wrote:

[2015-12-14 05:34] thockin commented on #18622
Yeah, the implications of auto-pluralization seemed unpleasant to me from
the beginning but I deferred to experience (Joe's and your in particular :)
since I had none in that area.

Does this imply that kubectl commandlines for plurals will not work?
 `kubectl get pod foo` vs `kubectl get pods` is pleasant.

Maybe we just expose multiple names as equivalent URL paths?  Or just
expose it thru disco

[2015-12-14 07:29] wojtek-t commented on #18608
I'm pretty sure this wasn't a regression - those were flakes (including those high times on posting pods).

Some better tracing has finally been merged on Thursday or Friday, so I'm planning to look into those this week.
Also - I would like to upgrade to 1.5.1 within days, as this may be the reason of those flakes too...

[2015-12-14 07:58] davidopp commented on #12744
One more twist: When we implement #18261, #18265, and #18263, we'll be adding code to Kubelet that asynchronously evicts pods that no longer meet their constraints, hard anti-affinity, etc. However, not all feasibility rules should trigger eviction when they are violated; for example, if node capacity shrinks, causing machine free resources to go negative, we probably shouldn't evict any pods (if

[2015-12-14 07:59] wojtek-t commented on #18570
Also - we would like to present results from our benchmarks on this dashboard.

[2015-12-14 08:09] fgrzadkowski commented on #18608
This happened again. Regression or not, this is happening really often! In the last 15 runs we had 6 yellow runs.

[2015-12-14 08:17] davidopp commented on #18570
@xiang90 @hongchaodeng

[2015-12-14 08:32] piosz commented on #18350
The test is 100% stable now. The issue was related to the problems with GCE.

[2015-12-14 08:32] #18350 closed

[2015-12-14 08:40] jszczepkowski commented on #18528
Custom metrics are not going to GA in 1.2. They are supposed to be experimental/alpha feature.

[2015-12-14 09:05] Hui-Zhi commented on #17035
I think all the devices under /sys/fs/cgroup/devices should could be assigned to container in K8s, not just GPU, and so far kubectl doesn't have this ability. I think it should enable it, like Docker "add --device".

[2015-12-14 09:18] jszczepkowski commented on #18527
Thanks for rising this! I agree that current solution is nonuniform. I propose be another way of dealing with it. In spec: CPUTargetUtilization struct with TargetPercentage inside. In status: CPUCurrentValue struct with CurrentPercentage inside. So, we will have two different structs for status and spec. Having two different struct will give us flexibility in future.

I'll be happy to clean it up

[2015-12-14 09:18] jszczepkowski commented on #18527
CC @DirectXMan12 @ncdc

[2015-12-14 09:22] wojtek-t commented on #17874
There weren't any failures of this test within last 3 days - closing!

Thanks @sdminonne

[2015-12-14 09:22] HaiyangDING commented on #12744
1. predicates that cause eviction when they become violated
2. predicates that do not cause eviction when they become violated

That sounds reasonable, then I will have a reconsideration about the implementation and fulfill the requirements here. But I have 2 questions here:

1. Currently, where does Kubelet **proactively** iterate over its pods and decide whether some of them need to be evicted?

[2015-12-14 09:27] carlosrdrz opened #18640 "PHP on guestbook example is setting its include_path and using short tags."
We've found these issues after trying to run the guestbook example with a different set of containers. The issues are located at the file `kubernetes/examples/guestbook/php-redis/guestbook.php`, on the following lines:

[code]

Although the Guestbook example works on the container referenced in the example (`gcr.io/google_samples/gb-frontend:v3`), it exposes some bad practices that binds that code

[2015-12-14 09:33] jszczepkowski commented on #17941
This makes sense. However, to make it work, first we will need heapster latency to be reduced: https://github.com/kubernetes/heapster/issues/684.

[2015-12-14 09:35] gmarek opened #18641 "Enable Log size monitoring in scalability test when they become stable again."
cc @wojtek-t

[2015-12-14 09:43] jszczepkowski commented on #18528
Added some more links:

https://github.com/kubernetes/kubernetes/issues/16500

https://github.com/kubernetes/kubernetes/issues/16177

https://github.com/kubernetes/kubernetes/issues/18155

[2015-12-14 09:53] gmarek opened #18642 "getDebugInfo from e2e/metrics_util.go does not work"
For quite some time we're seeing errors like:
[code]

This code should be either fixed (if someone is really looking at those profiles), or removed if it's there only because it may be useful eventually.

@wojtek-t moved this function to metrics_util and I'm not sure who was the original author. Any opinions
@dchen1107 @timothysc @davidopp?

[2015-12-14 10:08] Hui-Zhi opened #18644 "Have a question about what the procedure to add features."
I appreciate if you can let me know about the procedure of add features.
I have read the development guide which at below link:
https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/devel/development.md

But I still have a question, if someone want to add some features, will you assigned own to them? Or anyone could take the own of any issues? Thanks for your answer in advance.

[2015-12-14 10:08] wojtek-t commented on #10380
I think this is already fixed.

[2015-12-14 10:08] #10380 closed

[2015-12-14 10:09] wojtek-t commented on #6514
Listing pods is much much faster now, with serving them from memory - #15945.

[2015-12-14 10:09] #6514 closed

[2015-12-14 10:15] wojtek-t commented on #18608
I took a closer look into it.

1. I increased the limit for Listing pods - it was too strict after my changes from Friday.

2. However, there were also a bunch of failures on too high latency of posting pods. I looked deeper into logs and there seem to be some bursts of longer requests with no good reason (e.g. there aren't more api calls at that time).
Looking at traces, I have 2 hypothesis:
  -

[2015-12-14 10:32] sils1297 commented on #17888
Hi, I don't have the time to investigate this further. You seem to have some known issues so I guess it's best to close this, if you don't want to investigate this with an own AWS cluster (at least for me it was totally reproducable).

[2015-12-14 10:32] onorua commented on #13511
It seems I've found the way how to reproduce the issue. After the kubelet restart glusterfs volumes become unavailable for all pods on the node within couple of minutes.

[2015-12-14 10:38] gmarek commented on #18558
It failed again with my change: https://github.com/kubernetes/kubernetes/pull/18509#issuecomment-164396151

cc @dchen1107 who also might want to take a look.

[2015-12-14 11:08] gmarek commented on #18293
Again: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/9943/

[2015-12-14 11:22] jszczepkowski commented on #18528
Another requirement:

- graduate scale subresource to GA

[2015-12-14 11:32] jszczepkowski commented on #18594
@jayunit100

We have events and error logging [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L98) and [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L145). Do you think it is not enough?

[2015-12-14 12:20] geoah commented on #16083
+1 On this, currently trying to figure out how to setup kubernetes on what @chrisleck just described.
Any tips/points are more than welcome.

[2015-12-14 12:29] fgrzadkowski commented on #18293
To highlight - failure that @gmarek linked was in **GKE-CI build**, not in parallel run. It failed 3 times in the last day. Please fix it as it's blocking our merge queue.

[2015-12-14 12:31] Raffo commented on #11606
Could this https://github.com/golang/build/tree/master/kubernetes solve this issue?

[2015-12-14 12:35] jayunit100 commented on #18594
Is it valid for an HPA to continue querying on a nonexistent RC ?   Seems like it could lead to chaos in the real world.  I could be wrong though, let me know your thoughts.... @jszczepkowski , im happy to close if I'm overthinking this one :)

[2015-12-14 13:10] gmarek commented on #18558
And again: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12836/

[2015-12-14 13:12] gmarek opened #18647 "e2e flake: Kubernetes e2e suite.SchedulerPredicates validates MaxPods limit number of pods that are allowed to run"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1137/

[2015-12-14 13:24] mfojtik opened #18649 "The VersionedParams() does not decode the []EnvVar fields properly"
It seems like the https://github.com/kubernetes/kubernetes/blob/master/pkg/conversion/queryparams/convert.go#L62 function is currently handling only Go primitive types, so when having a field in a type like this:

[code]

This field will get no value set as the converter don't know how to convert it to QueryParams.
Additionally, this reveals a bigger problem, when having struct like above, to reta

[2015-12-14 13:24] mfojtik commented on #18649
@deads2k @smarterclayton @kargakis FYI

[2015-12-14 13:26] deads2k commented on #18531
Yes, I think it does.

[2015-12-14 13:30] djablonski commented on #18289
Sorry for all the inconvinience! I'm closing this issue, because I found out that there is something wrong with my local setup. When trying to create a completely stripped down sample repo, the issue disappeared. I still need to find out where exactly the root of the problem is, but is obviously not in kube2sky.
I will add details whenever I found the root cause. Thanks for the support!

[2015-12-14 13:30] #18289 closed

[2015-12-14 13:47] smarterclayton commented on #18622
It's one of those common wisdom things that you don't question until
you're 40 resources in.  I agree it's not top on my list, but I'm
starting to hate it.

Regarding aliases: I think discovery has to provide aliases for CLIs.
Otherwise extensions that follow novel English pluralization can't be
registered with the core.  Of course at that point the problem is
hidden from real clients, but we can

[2015-12-14 13:51] mfojtik commented on #18649
My first attempt to fix the query params converter: https://github.com/kubernetes/kubernetes/pull/18650

(still pending decoding part)

[2015-12-14 13:53] kargakis commented on #18649
Good luck with that:)

[2015-12-14 14:05] rootfs commented on #13511
@onorua is that somehow related to the lost glusterfs endpoints issue? do you have a chance to check if the endpoints are present?

[2015-12-14 14:13] smarterclayton commented on #8190
I think we should stop pluralizing resource names in URLs - it's a holdover from blogging sites and early web engines that tried to be clever: https://github.com/kubernetes/kubernetes/issues/18622

[2015-12-14 14:13] timothysc commented on #18571
+1 to previous assertions, we see little impact even at 1/sec polling intervals.

[2015-12-14 14:30] pmorie commented on #18619
I am: #18580

[2015-12-14 14:30] djablonski commented on #18289
Finally, I figured out what was the reason for this issue. As @lavalamp hinted, the `watch of *api.Service ended with: very short watch` was the reason. In the original setup, there was a nginx based load balancer in front of the apiservers, which was misconfigured and therefore closed the connection after 60s, which caused the accoring events to get lost.
I switched to using the service IP of the

[2015-12-14 14:32] mzupan opened #18652 "autoscaling with kubernetes components running outside of docker"
I have all the kubernetes components for the master/nodes running outside of docker and running as processes right on the hosts.

I have heapster working but autoscaling isn't picking it up since I think it expects everything to be running in the kube-system namespace inside kubernetes.

Is there a way to have autoscaling work with things running outside of kubernetes?

Thanks

[2015-12-14 14:47] smarterclayton commented on #18623
There should be an internet law about the invocation of "monolith", kind of like Godwin's law.  :)

To me, DNS and service proxying are fundamentally the same - whether they're decoupled or coupled is really just about operational cost.  I've seen an uptick in customers who want to run dnsmasq locally to deal with problems connecting to the DNS daemon to guarantee uptime of their containers.  The

[2015-12-14 14:55] 2opremio commented on #18239
@fgrzadkowski ping . Sorry to insist but this is blocking our local development and automatic tests.

[2015-12-14 14:56] piosz opened #18654 "Change HPA example to generate load from inside the cluster"
In the current state to generate load the user should invoke from his/her computer `while true; do curl http://146.148.6.244; done`. It can be easily done from pod running in the cluster. This issue is about to change the [HPA example](https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/horizontal-pod-autoscaling) accordingly.

cc @jszczepkowski

[2015-12-14 15:11] jszczepkowski commented on #18528
One thing to mention: for graduation of HPA to GA, we should consider blockers only issues that affect the API. GA means guarantee of API stability.

[2015-12-14 15:24] jsravn commented on #18568
I was trying to see if I could put together a poc for this, but it doesn't look like there is a programmatic way to check for a failed pod deploy (as of 1.1 codebase at least). It is always in `Pending` state. The only indicator of a problem is in the container state reason string field, but this can be almost anything depending on the container manager (and has changed from 1.1 to master for the

[2015-12-14 15:30] sheriffmohamed opened #18656 "DaemonSet doesn't create any pods: v1.1.3"
Hi,

I've been trying to run the example for DaemonSets with no luck:

[code]

## The Problem
The DaemonSet gets created successfully, but no pods are getting created on any of the nodes. But when I go to describe the DaemonSet, I get the following:

[code]

The odd thing is that it's showing the Desired Number of Nodes set to zero. I have even tried to use the selector directive with a specific n

[2015-12-14 15:30] jszczepkowski commented on #18594
I think closing HPA may be error prone: RC may be gone for a while and then re-created. Disappearance of HPA will be confusing.

[2015-12-14 15:31] DirectXMan12 commented on #18527
Having target/current both in the struct name and in the field name seems a bit redundant.  Not a blocker, per se, but I do like "spec.cpuUtilization.targetPercentage and status.cpuUtilization.currentPercentage" a bit better.

[2015-12-14 15:35] jszczepkowski commented on #18527
What will be the type of cpuUtilization than? I guess we need different types for spec and status. If we will have different types for spec and status: I agree.

[2015-12-14 15:38] ernestoalejo commented on #16737
I am wondering if deployments will make this issue obsolete. The proposal [1] says old RCs will be deleted; so we should not have any failed RC once the new successful deployment takes over.

[1] https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deployment.md

[2015-12-14 15:39] DirectXMan12 commented on #18527
Yeah, they'd both have a field name of "cpuUtilization" (or at least have their serialized field name be "cpuUtiliziation"), but have different struct types.

[2015-12-14 15:40] jayunit100 commented on #18516
I dug around some on this.  It looks to me like we have some special minimal golang images that we build, which may not work the same as the binaries built by hack/build-go... digging more , open to feedback

[2015-12-14 15:41] derekwaynecarr commented on #17186
Copying from #18438 to ensure its covered in the out of resource killing specification:

* Backpressure from the node if it is noticing system OOMs. We will need this for pods evictions on the node as well.
* Stronger feasibility checks on the node - reject best effort pods if the current availability is below certain threshold.
* Cap the total resources that best effort pods can consume on the no

[2015-12-14 15:43] wojtek-t opened #18657 "PR builder is not picking PRs for tens of minutes"
It seems that between writing "@k8s-bot test this please" and when the e2e tests are started by PR builder it can take more than 20 minutes.
This is significantly affecting merge-bot.

Examples:
26 minutes: https://github.com/kubernetes/kubernetes/pull/18655
not yet happened (will be more than 30 minutes) : https://github.com/kubernetes/kubernetes/pull/18401

This is a clear regression comparing t

[2015-12-14 15:44] derekwaynecarr commented on #18438
@davidopp - I copied the node protection use case scenarios to #17186 as part of the general specification requirements for node out of resource killing, and am re-purposing the description of this issue to make the scheduler node metrics API aware.  Since node metrics API is not necessarily in a consumable state for 1.2, I do not think this should be a blocker.

[2015-12-14 15:46] derekwaynecarr commented on #18438
updated description to state prerequisite on metrics API design being completed, and think this issue should be scheduler specific.  node protection can be satisfied on #17186

[2015-12-14 15:47] wojtek-t commented on #18657
@k8s-oncall  FYI

[2015-12-14 15:48] Smana commented on #18174
+1

[2015-12-14 16:20] jsravn commented on #16737
We do a rollback on failed rolling update, but it is a separate step. I thought it was done this way on purpose to give people flexibility to decide how to handle a failed update. But I'd be happy having it be a flag that does the rollback automatically.

A couple other issues are stopping the rollback from working though, the ones @ernestoalejo listed.

Deployment api looks good but I don't want

[2015-12-14 16:33] yujuhong commented on #18523
Closing this issue to consolidate the discussions. Please respond on the [stack overflow question](http://stackoverflow.com/questions/34208717/kubelet-syncloop-stops-v1-1-1), thanks!

[2015-12-14 16:33] #18523 closed

[2015-12-14 16:43] luxas commented on #18626
OK, test `kubectl cluster-info` instead when your cluster is up. That will do it.

[2015-12-14 16:56] jsravn commented on #18568
The more I think about it, the more I think it's a bug in kubelet with docker. I think it should report the pod as `Failed` if the image pull fails. Then we can have some sensible policies to deal with the failure (whether it's to abort the rolling update, or to try pulling the image again).

[2015-12-14 17:01] stvnwrgs opened #18659 "Idea for an up to date documentation validator"
If you try to create a kubernetes example from the docs the chance is quite big that you get an outdated yml/json definition in the .md files or the example files. This results in searching another newer example which might lead to another outdated version. This results into looking into the code. I think many people just quit here. Especially when it happens more then once.

Idea:

Add an additio

[2015-12-14 17:08] mikedanese commented on #18516
We already test compilation of test/image/ go binaries when we run `godep go install ./...` which runs during CI so we do catch breaks to those images. What is proposed sounds fine but I don't think we should build things that we don't include in the release tar during make release, or make quick-release.

[2015-12-14 17:27] pmorie commented on #13690
Going to try to reproduce this today.

[2015-12-14 17:32] ihmccreery opened #18660 "Upgrades on GKE from 1.0 to master time out"
**Cluster Upgrade [Skipped] upgrade-master should maintain responsive services**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/cluster_upgrade.go:197 Dec 14 02:48:44.092: Failed to create 2 pods with name webserver: failed to wait for pods responding: timed out waiting for the condition

---

1.0 to 1.1, 1.1 to master all work fine.

[2015-12-14 17:32] ihmccreery commented on #18660
Similarly:

**Cluster Upgrade [Skipped] upgrade-cluster should maintain a functioning cluster**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/cluster_upgrade.go:197 Dec 14 03:53:41.270: Failed to create 2 pods with name webserver: failed to wait for pods responding: timed out waiting for the condition

[2015-12-14 17:34] ihmccreery commented on #18660
Indeed, it looks like the master isn't getting bumped at all; on the following step, running 1.0 e2es, I still see:

[code]

Googlers can see results at:

- master upgrades: http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.0-master-step3-upgrade-master/
- cluster upgrades: http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes

[2015-12-14 17:36] ihmccreery opened #18661 "Upgrades on GKE from 1.1 to master fail; 2/3 nodes ready"
**Cluster Upgrade [Skipped] upgrade-cluster should maintain a functioning cluster**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/cluster_upgrade.go:285 Expected error: <*errors.errorString | 0xc2083a5060>: { s: "couldn't find 3 nodes within 5m0s; last error: expected to find 3 nodes but found only 2 (5m0.010720517s elapsed)", } couldn't find 3 nodes within 5m0s;

[2015-12-14 17:36] thockin commented on #18659
I swear we have or had such a test, but I can't find it...

@krousey was that one of yours?

On Mon, Dec 14, 2015 at 9:03 AM, Steven Wirges <notifications@github.com>
wrote:

[2015-12-14 17:40] thockin commented on #18174
Docs for high-availability describe a model of load-balancing in front the
apiserver, meaning node-components would not know multiple API servers.

On Mon, Dec 14, 2015 at 7:49 AM, Smaine Kahlouch <notifications@github.com>
wrote:

[2015-12-14 17:41] RoelVanNyen commented on #15818
When I had this, it was due to using wlan0 vs eth0.

[2015-12-14 17:43] thockin commented on #18644
If you want to add a feature which you intend to develop, the usual process
is to file an issue describing the use-cases you need to handle and how you
propose to solve them, including possible alternatives and trade-offs.

On Mon, Dec 14, 2015 at 2:08 AM, Hui-Zhi <notifications@github.com> wrote:

[2015-12-14 17:44] krousey commented on #18659
@thockin not mine. I think @janetkuo was working on something like that, but I don't know if it ever happened.

[2015-12-14 17:45] ihmccreery opened #18662 "Set up email list for release announcements"
Per @roberthbailey's comment on #18598, we should set up some kind of mailing list so people outside of Google can get draft release notes.  @sarahnovotny, is this something you can take on?

[2015-12-14 17:46] ihmccreery commented on #18662
cc @jbeda @countspongebob

[2015-12-14 17:46] ZMI-JayGorrell commented on #16083
+1 here as well. I've been digging into the CloudFormation solutions because they seem easier to modify for my needs but none of them seem to be highly-supported and I'd love for this option to be available through something well-maintained.

[2015-12-14 17:49] derekwaynecarr opened #18663 "kubectl create secret generic --type validate from known list of types by default"
The `kubectl create secret generic` command let's a user specify a type for the secret.  It defaults to `opaque`.

The kube server supports a set of known secret types with specific behaviors.  The client could support checking that the user specified secret type is one of the known types that are specified in `kubernetes` by default, and if it is not, require the client to pass a ``--confirm` fla

[2015-12-14 17:53] jlowdermilk commented on #18513
kubernetes 1.1.2 has been tested/verified for docker 1.8.3. You mentioned this worked on Container Engine, which runs docker 1.8.3 on the nodes. So the error is likely due to incompatibility issues with docker 1.9

[2015-12-14 17:56] ihmccreery opened #18664 "Upgrades: Jenkins should abort or fail the build on timeout, not both"

[2015-12-14 17:57] sachingharge commented on #18612
Just to add, I am seeing below error in systemd logs for kube-proxy on nodes:

Dec 14 17:40:48 ip-10-19-2-116.us-west-1.compute.internal kube-proxy[980]: E1214 17:40:48.308099     980 server.go:357] Not trying iptables proxy: can't get Node "ip-10-19-2-116.us-west-1.compute.internal": node "ip-10-19-2-116.us-west-1.compute.internal" not found

Any idea why?

Systemd file for kube-proxy
cat /etc/sy

[2015-12-14 17:58] jlowdermilk commented on #18555
@mikem, what kubectl version were you running? From output, looks like 1.1.2. At head, kubectl's schema cache is under `HOME`.

[2015-12-14 17:59] ericandrewlewis commented on #18626
Running `kubectl cluster-info` gives me this response:

[code]

[2015-12-14 18:04] luxas commented on #18626
Oops, forgot that. Try `kubectl get no` and `kubectl describe no <your node>`

[2015-12-14 18:05] luxas commented on #18626
BTW, are you running `master` or `master-multi`? Also, try `netstat -nlp`

[2015-12-14 18:05] bprashanth commented on #17518
This test is 100% on

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flaky/lastCompletedBuild/testReport/junit/(root)/Kubernetes%20e2e%20suite/GCE_L7_LoadBalancer_Controller_should_create_GCE_L7_loadbalancers_and_verify_Ingress/history/

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-disruptive-1.1/lastCompletedBuild/testReport/(root)/Kubernetes%20e2e%20suite/GCE_L7_LoadBal

[2015-12-14 18:14] ihmccreery opened #18665 "e2e test suite taking > 5 hours (after upgrade)"
The master tests running after upgrading from a 1.0 cluster are timing out after 5 hours.  This seems like an unacceptably long time for a test suite to run.  I will do a triage to decide how to proceed.

[2015-12-14 18:17] ihmccreery commented on #17536
This is blocked on #18162.

[2015-12-14 18:21] chrisleck commented on #16083
I can try to share out the relevant portions of my CloudFormation configs soonish.

[2015-12-14 18:23] ihmccreery opened #18667 "e2e.go --isup should test version skew"
Right now, running `e2e.go --isup` may return `0`, but a `--test` run following will complain that the cluster is not up due to version skew.

These execution paths should be consistent, and `--isup` should test version skew.

cc @krousey

[2015-12-14 18:24] derekwaynecarr opened #18668 "hack/test-cmd.sh is running a kube-apiserver with no admission control"
To better reflect actual end-user scenarios, we should run kube-apiserver with the recommended set of admission control flags.

/cc @deads2k

[2015-12-14 18:28] feniix commented on #18174
@thockin I got that, but some (many) cloud provider do not have an internal load balancer solution, in those cases one has to setup your own using something like haproxy or nginx, which adds a layer that it would not be necessary if we could specify the api servers as comma separated options.

[2015-12-14 18:29] ihmccreery commented on #18660
Looks like this is a precondition failure:

[code]

[2015-12-14 18:34] ericandrewlewis commented on #18626
`kubectl get no` results:

[code]

`kubectl describe no` results:
[code]

`netstat -nlp` results:

[code]

I'm running master on a single machine, following the [Running Kubernetes locally via Docker guide](https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/docker.md). I might try the [Docker multi-node guide](https://github.com/kubernetes/kubernetes/blob/master/

[2015-12-14 18:42] luxas commented on #18626
Yes, there's the problem!

When you are using `docker`, `apiserver` just listens to `localhost` and therefore `curl 192.168.99.100:8080` didn't work.

Before you switch to `docker-multinode` just make this change and test again `--config=/etc/kubernetes/manifests-multi`

[2015-12-14 18:42] thockin commented on #18623
On Mon, Dec 14, 2015 at 6:47 AM, Clayton Coleman
<notifications@github.com> wrote:

The operational cost concern is real, but balance it with the
complexity of making kube-proxy a swiss-army-knife of
sort-of-related-but-only-barely functionality.  It's a totally legit
proposition to use our DNS without our VIP implementation.  I could
argue to bundle it with kubelet - at least that one is not
disa

[2015-12-14 18:42] luxas commented on #18626
However, this is going to be a lot simplier in the future :)

[2015-12-14 18:46] krousey commented on #18581
@ihmccreery I could not reproduce the remaining failures on my own cluster. They all ran successfully multiple times for me. Maybe there is something wrong with the jenkins environment that is breaking proxying? Here's some versions that I tested with:

[code]

[code]

[2015-12-14 18:47] dchen1107 commented on #16110
@vishh Besides the performance issue I brought up at https://github.com/kubernetes/kubernetes/issues/16110#issuecomment-154210277, there are a network related issue in docker 1.9.1 should affect k8s: cc/ @thockin @kubernetes/goog-cluster

https://github.com/docker/docker/issues/18535 & https://github.com/docker/docker/issues/18145

We should wait for 1.9.2 for whatever reason.

[2015-12-14 18:53] smarterclayton commented on #18623
Sure - kube-proxy starting in "DNS only mode" doesn't seem terribly different to me than its current behavior of "iptables only" though.  I agree there is a swiss army knife fear here - but practically speaking I'm going to reimplement something that looks exactly like kube-proxy to do almost exactly what kube proxy does (it responds to IP connections and turns them into proxy endpoints, DNS respo

[2015-12-14 19:01] thockin commented on #18623
Again, yeah, I see the relationship, but it's a tradeoff that has not
bee fully worked through - a more complicated and larger kube-proxy vs
smaller and simpler agents.  I'd like to see actual numbers.

This is problematic for installations like OpenContrail which don't
transit our iptables rules.  We have to be careful with features that
don't have a plausible story on other installations.

Show

[2015-12-14 19:02] ihmccreery commented on #18581
Talking with @cjcullen, chances are this is only affecting GKE, not GCE, because we run proxies differently.  I will try to reproduce, and decide what to do.

[2015-12-14 19:08] jbeda commented on #18662
We have [kubernetes-announce](https://groups.google.com/forum/#!forum/kubernetes-announce) we can use for that.  We probably need to do a better job of making folks aware of that.

Joe

[2015-12-14 19:12] jbeda commented on #18610
Another justification for this: The endpoints service is essentially the read side of the native k8s service discovery system. Users can go to the endpoints API directly to enable them to skip the kube-proxy.  With that in mind, the uptime goals for the endpoints API should be higher than the rest of the kubernetes API as it will be in the critical path of more run time (vs. deploy time) systems.

[2015-12-14 19:17] ravigadde opened #18670 "Need a better way to specify plugin/extender specific arguments in the pod spec"
Annotations are map[string]string. Its difficult to encode arbitrary structure in to a string.

[code]
[root@tb1-01 ~]# kubectl create -f pod.json
unable to load "pod.json": json: cannot unmarshal object into Go value of type string

This works but its painful to escape every quote and fit all of it in a single line.
[code]

map[string]interface{} makes it easier. The structure gets parsed as a ma

[2015-12-14 19:20] smarterclayton commented on #18623
Any sort of unidling requires a proxy.  Solutions without proxies can't implement this, but proxies can (just by watching the endpoints list, for example).  I agree to the concern, but I'd say that specific network proxy implementations trade features / benefits all the time.  Different technologies can support different things.  To put it a different way, saying that rocket can't implement a Dock

[2015-12-14 19:26] timstclair commented on #17656
Please reopen if this occurs again.

[2015-12-14 19:26] #17656 closed

[2015-12-14 19:27] thockin commented on #13818
any news on this?

[2015-12-14 19:29] liggitt commented on #18581
Subresource proxy via tunneling is known to be broken in 1.0.
Fixed in https://github.com/kubernetes/kubernetes/pull/15224
Cherry-picked to 1.1 in https://github.com/kubernetes/kubernetes/pull/17127

[2015-12-14 19:29] wojtek-t commented on #13818
I haven't seen such failures over the weekend.
I'm closing this for now - will reopen if we observe this again.

Thanks @thockin !

[2015-12-14 19:29] #13818 closed

[2015-12-14 19:31] roberthbailey commented on #18112
In a cloud provider environment (GCE / AWS) you can use the cloud provider's API to do this without needing direct connectivity to the node (e.g. if there is a really restrictive firewall rule). I'm not sure we don't want *any* apiserver->node communication, we just need to be careful about when / where we add it, whether it is default behavior or optional behavior, and whether it is *necessary* f

[2015-12-14 19:36] karlkfi commented on #18610
Simplified set of use cases (phase 1):

1. *As an* **app developer**, *I want* to query the k8s API to see the status of remote service provider instances *so that* I can do client side load balancing.
2. *As a* **k8s operator**, *I want* to query/watch the k8s API to see the status of remote service provider instances *so that* I can monitor highly available (multiple instance) k8s components as

[2015-12-14 19:38] spxtr commented on #18520
Is this fixed?

[2015-12-14 19:39] wojtek-t commented on #18520
I didn't see this problem over weekend and today. I guess we can close it (at least for now).

[2015-12-14 19:39] #18520 closed

[2015-12-14 19:41] bobbyrullo commented on #18549
Here's a more concrete proposal:

## OIDC Roles <--> Kubernetes Components Mapping

User Agent: `kubectl`
Relying Party (client): `apiserver`
Identity Provider: Any OpenID Connect IdP - Google, Dex, etc.

## Obtaining a Refresh Token

A new `login` command is added to `kubectl`;  when a user runs `kubectl login`, the  user's browser is launched and navigated to a new endpoint on the `apiserver` -

[2015-12-14 19:43] wojtek-t commented on #18608
I guess we need to increase the limits to unblock merge-queue.
I'm increasing priority to P0 - will do it as a first thing tomorrow.

[2015-12-14 19:43] thockin commented on #18210
No flakes in recent history

[2015-12-14 19:46] wojtek-t commented on #10548
What's the status of this?

@ihmccreery @ixdy - you did a bunch of changes around this recently.
Do you think we can close it? If not, can we state explicitly what needs to be done?

[2015-12-14 19:52] saad-ali commented on #18608
Thank you for looking into this @wojtek-t and raising the priority to P0.

This issue is making the scalability E2E suite very unstable and blocking the merge queue.
Recent failures:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3440/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3439/
* http://kube

[2015-12-14 19:59] ravigadde commented on #18670
cc @brendandburns @nelcy

[2015-12-14 20:02] thockin commented on #18283
Found a bug which could be contributing to this.  PR forthcoming

[2015-12-14 20:04] thockin commented on #18292
Can't repro, no examples of this in jenkins history.  Closing for now.  Reopen if it recurs.

[2015-12-14 20:04] #18292 closed

[2015-12-14 20:05] liggitt commented on #18549
I'm hesitant to introduce a `kubectl login` command that only deals with one auth method. There are many authentication methods we'll want to allow (OIDC, x509 client cert, auth proxy, kerberos, etc). I would expect `kubectl login` to:

* accept username/password (or prompt) for basic-auth logins
* auto-login for SPNEGO/kerberos and client-cert logins
* redirect to a web flow for OIDC-based logins

[2015-12-14 20:06] pmorie opened #18675 "API type godoc should not contain name of type"
The godoc for API types should not contain the name of the type -- user-facing documentation is generated from these comments, and users shouldn't be exposed to golang type names.

Related #18673

[2015-12-14 20:20] wojtek-t commented on #18441
Another instance:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/3442/console

@spxtr - this has just happened - you should have more information now

[2015-12-14 20:21] liggitt commented on #18549
Some additional comments:

This is really non-trivial if we want to do this automatically. I *don't* want to see the browser making unsecured http calls to localhost to transfer this info...

I don't think I'd want to make tokens inspectable. I'd rather have behavior that could be triggered by a token being rejected (like using a refresh_token, or logging in again with a kerberos ticket or client

[2015-12-14 20:38] jayunit100 commented on #18516
The broader proposition is that "containers which kube depends on should be as easy to build as kube itself".  How we get there I think can shift throughout the course of this issue.  So far proposed.

- Dockerfile to build all images that anyone can use.
- Build image artifacts as binaries from the hack/build- steps.
- Don't rely on manual go compilation for images/gopath settings that isn't alre

[2015-12-14 21:03] ZMI-JayGorrell commented on #16083
Even with the CloudFormation configs I've found floating around, I'm not having much luck finding documentation on how to actually interact with the cluster. Even with the official CoreOS+CF setup, it just prompts me for a user/password when I use kubectl, so I imagine I'm missing something -- but it's completely left out of the CoreOS docs.

[2015-12-14 21:15] roberthbailey commented on #10548
@jlowdermilk was also looking at jenkins configs recently.

/cc @spxtr as well

[2015-12-14 21:21] ihmccreery commented on #18660
This seems like it may be related to https://github.com/kubernetes/kubernetes/issues/18581#issuecomment-164535146; subresource proxy is known broken in 1.0, and so the upgrade logic (in the e2es) can't validate that the cluster is functioning before doing the upgrade.

[2015-12-14 21:25] spxtr commented on #18441
Relevant log:
[code]

This might be an awkward race condition where most of the time Jenkins hasn't written out to console-log.txt by the time this check goes through, but occasionally it has. If that's the case, it might be worth printing a warning instead of failing the job when the workspace isn't empty, or else ignoring console-log.txt in the find.

[2015-12-14 21:30] deads2k opened #18679 "It's impossible to make a resource that is both cluster-scoped and namespace-scoped"
A fully qualified kind (`GroupVersionKind`) maps to at most one `RESTMapping`.  A `RESTMapping` has exactly one `RESTScope`.  https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/interfaces.go#L153 and https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/interfaces.go#L132.

This causes problems when you want to have a single kind that is both cluster-scoped and namespace

[2015-12-14 21:32] ihmccreery commented on #10548
I've changed the name of this issue to reflect a more sustainable solution than a one-off audit; this is my first work item for 2016.

[2015-12-14 21:35] #18576 closed

[2015-12-14 21:38] smarterclayton commented on #18679
Clients use the RESTMapping to know what rules to impose and what defaults to apply to client actions - for instance - is the `--namespace` flag allowed to be empty when talking to a resource?  Check the scope.  Is --all-namespaces allowed?  Check the scope.  Should we ignore the default namespace (set via the config) when creating a new object on the server?  Check the scope.

[2015-12-14 21:44] nickschuch commented on #7890
No argurments from me :) How can I help?

[2015-12-14 21:54] bobbyrullo commented on #18549
For the OIDC flow, the token that's stored is the JWT, which is inspectable (but immutable because it's signed) See https://github.com/kubernetes/kubernetes/pull/10957

[2015-12-14 21:54] #18251 closed

[2015-12-14 21:55] huang195 opened #18681 "kubectl logs not working on k8sm"
I just did a pull from the HEAD and using mesos 0.25. To reproduce, I use a very simple guestbook yaml:

[code]

Creating the pod with `kubect create -f guestbook.yaml`. After the pod is showing as RUNNING, run `kubectl logs -c redis guestbook` will result in the following error message:

[code]

This only seems to impact k8sm setup, and k8s-standalone works as expected.

cc @jdef @sttts

[2015-12-14 21:59] liggitt commented on #18549
For the server, sure, but I don't want the client inspecting its own bearer token

[2015-12-14 22:00] bobbyrullo commented on #18549
Why not? Is the idea that kubectl should be completely agnostic to what kind of token it has, and what kind of authentication backend is being used?

[2015-12-14 22:00] thockin commented on #7890
ideate :)

On Mon, Dec 14, 2015 at 1:45 PM, Nick Schuch <notifications@github.com>
wrote:

[2015-12-14 22:01] jdef commented on #18681
thanks for reporting this. it's a known issue:

- https://github.com/mesosphere/kubernetes-mesos/issues/587
-
https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/docs/issues.md#kubectl

On Mon, Dec 14, 2015 at 4:56 PM, Hai Huang <notifications@github.com> wrote:

[2015-12-14 22:03] jdef commented on #18681
actually, I should ask - are you deploying on a barebones mesos cluster,
the mesos/docker cluster, or on DCOS?

On Mon, Dec 14, 2015 at 5:01 PM, James DeFelice <james@mesosphere.io> wrote:

[2015-12-14 22:11] mzupan commented on #18652
So it looks like its hard coded here

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L363

Is there anyway to get around this.. like using /etc/hosts to trick the controller into hitting heapster somewhere outside of kube-system

[2015-12-14 22:13] liggitt commented on #18549
By default, yes. I would want mechanisms for obtaining API tokens (stored username/password, refresh token, client cert, kerberos ticket, etc) to be separate from the API token itself. If kubectl has an available mechanism for obtaining an API token, I would like that to be able to be triggered by an authentication error response from the server... not by kubectl trying to inspect a bearer token a

[2015-12-14 22:14] spxtr commented on #17734
I agree with the general idea to move the test-infra and e2e stuff to a separate repository. I'm not convinced it's a good idea to have a separate repo per test, and I'm also not convinced it's high enough priority to be worth the effort.

It's possible to make a start on this by moving Jenkins-specific things (job configs, Jenkins docker image, etc), then e2e.sh, e2e.go, and so on, cleaning up as

[2015-12-14 22:15] ihmccreery commented on #18660
Similar to https://github.com/kubernetes/kubernetes/issues/18581#issuecomment-164051905, it looks like [checkAllResponses](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L883) is failing due to subresource proxy issues.  Confirmed that removing the `podsResponding` check in `verifyPods` allows upgrades to proceed.

[2015-12-14 22:19] ihmccreery commented on #18660
@cjcullen @liggitt Any ideas for how to contact unique pods without relying on `pods/proxy`?

[2015-12-14 22:19] ihmccreery commented on #18660
(We'll probably need to version-guard it, similar to https://github.com/kubernetes/kubernetes/pull/17416.)

[2015-12-14 22:22] liggitt commented on #18660
/proxy/namespaces/ns/pods/pod works, but that will break for namespace locked users

pods/proxy works for non-ssh-tunnel servers. GKE is in the minority of servers for using that setup.

[2015-12-14 22:24] huang195 commented on #18681
@jdef I'm deploying this on a barebone mesos cluster. If I understand this part of k8sm correctly, minion starts both the `km executor` and `km proxy` processes on mesos slaves. In turn, `km executor` would start k8s kubelet. The kubelet in turn would start its REST API server, e.g., /pods, /healthz, etc. (which all seem to be working when I was doing `curl` in my setup). When `kubectl logs` runs,

[2015-12-14 22:24] yifan-gu commented on #18549
I think in this case, the api-server starts, it needs to be given both the client-id and client-secret.

[2015-12-14 22:26] timstclair commented on #17931
Looked into the failures in
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/12683/. This is another case of the runtime going down (repeatedly). I don't see any hints in the [kubelet log](https://00e9e64bac39281a3d8c364bc8715af4b935927e3d862f1f06-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/logs%2Fkubernetes-e2e-gce-pa

[2015-12-14 22:33] bobbyrullo commented on #18549
I wasn't so sure about this one myself. This proposal *could* all work without this but, this is just a convenience thing. That being said we could make `kubectl login` work more generally (with all the different implementations you mention being kept in mind) and have OIDC just be the very first implementation.

Very cool - we share a lot of the same goals and ideas in Dex - esp w/r/t an aggregat

[2015-12-14 22:33] bobbyrullo commented on #18549
Yes exactly

[2015-12-14 22:35] huang195 commented on #18681
I was reading https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/docs/issues.md#kubectl
and saw the comment that @spacejam made about fixing this problem in kubectl. I'm not sure I follow why kubectl needs to be fixed. Does it mean /containerLogs is actually exposed, but kubectl is not getting it using the right URL path or port or both?

[2015-12-14 22:37] timstclair commented on #17931
Also worth mentioning, the kubelet is failing the healthz check:
[code]

[2015-12-14 22:38] bobbyrullo commented on #18549
Ok. That makes sense I think.

Well, I wouldn't want kubectl to try and parse all bearer tokens as JWTs - only in certain conditions, namely in the presence of an accompanying oidc-refresh-token in the config, and/or perhaps a flag or something.

I would of course want the kubectl to also refresh in response to certain authentication errors from apiserver - I was just trying to avoid the extra tri

[2015-12-14 22:39] ihmccreery commented on #18661
This looks to be a config/test issue: [in release-1.1](https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/gke/config-common.sh), we default `NUM_NODES` to 2 for GKE, in [master](https://github.com/kubernetes/kubernetes/blob/master/cluster/gke/config-common.sh), we default to 3.

[2015-12-14 22:41] nickschuch commented on #7890
My main goal was to defer the fuse implementations to packages on the host and then mount them just like the other volumes eg. NFS.

Maybe we could make a higher level volume which took properties similar to an fstab/mount? That way users are free to use there own mount implementations and we are just using those. That would cut down on duplication of writing multiple volumes with the same scaffol

[2015-12-14 22:42] ihmccreery commented on #18661
(Looks like this happened in #16678.)

[2015-12-14 22:50] yifan-gu commented on #18549
From my understanding of the proposal, the api-server would get the ID token and refresh token as its role is the client. So it will send that back to kubectl to store it in kubeconfig. So one option is to let api-server accept a cert file that enables the api server to certificate the kubectl during TLS handshake.

[2015-12-14 23:18] ihmccreery commented on #18665
This happens after the cluster fails to upgrade due to #18660; probably because many tests are failing.

[2015-12-14 23:26] yujuhong commented on #17888
@sils1297 thanks for reporting this, and I appreciate your time. I don't have access to an AWS cluster now, so it's unlikely that I will pursue this further anytime soon. I am closing this but feel free to reopen the issue if you have more information. Thanks again.

[2015-12-14 23:26] #17888 closed

[2015-12-14 23:29] vishh commented on #18652
cc @jszczepkowski

[2015-12-14 23:35] nikhiljindal commented on #13414
cc @campoy

[2015-12-14 23:39] jdef commented on #18681
I believe it's because SSL isn't configured out of the box for k8s-mesos.
If you're on a barebones mesos cluster then you need to set up SSL for
k8s-mesos manually. SSL support comes built-in for mesos/docker (where
kubectl logs should work) -- so you can look in
kubernetes/cluster/mesos/docker for some guidance there. HTH

On Mon, Dec 14, 2015 at 5:36 PM, Hai Huang <notifications@github.com> wrot

[2015-12-14 23:53] roberthbailey commented on #18160
Since this appears to be a problem isolated to the kube-ui, I'm going to close this in favor of https://github.com/kubernetes/kube-ui/issues/45.

[2015-12-15 00:11] smarterclayton commented on #13414
go code to spec is interesting - that's essentially the protobuf path we are on (idl that generates equivalent go structs using gogoprotobuf).  We don't need a complex web framework because we handle most everything already as wrappers.  Also, eventually we'll need to tune something in that stack, and I'd prefer a simpler stack over a full featured one (we have 100 lines of API registration, ease

[2015-12-15 00:12] saad-ali commented on #12765
More failures:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9895/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9881/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9865/

[2015-12-15 00:13] smarterclayton commented on #13414
The lib linked above looks a lot a lot like the go code to idl work, which is encouraging.

[2015-12-15 00:17] liggitt commented on #18660
I would also only want to version guard the subresource proxy test if anything, leaving the root proxy tests as they were in 1.0

[2015-12-15 00:23] dchen1107 commented on #4089
We introduced resource only container for all our daemons for 1.0 release already. Close this.

[2015-12-15 00:23] #4089 closed

[2015-12-15 00:49] casualjim commented on #13414
I also found a protoc-gen-swagger which takes protobufs and generates a swagger spec for it. There is a bit of a mismatch between the 2 toolsets though in terms of what they support.
For go-swagger I do have this: https://github.com/go-swagger/go-swagger/issues/143

Which is something I think is entirely possible to get protobuf as a wireformat, but still use swagger to describe the full contract

[2015-12-15 00:54] mikem commented on #18555
@jlowdermilk indeed, it appears I'm running 1.1.2:

[code]

This doesn't have the afea127a3e7a32099f676399efc13dbb653bdf28 commit in it which moves the schema version.

I was under the impression that following [the `coreos/azure` getting started guide][azure] from `master` would give me a Kubernetes cluster based on `master` as well. That's evidently not the case. I'll go looking for where the Az

[2015-12-15 00:54] #18555 closed

[2015-12-15 00:57] sachingharge commented on #18612
Noticed one thing regarding kube-proxy, I have two nodes in the cluster and things are working fine on node where container is started however second node I could below exception:

● kube-proxy.service - Kubernetes Proxy
   Loaded: loaded (/etc/systemd/system/kube-proxy.service; static; vendor preset: disabled)
   Active: active (running) since Tue 2015-12-15 00:43:15 UTC; 5min ago
     Docs: http

[2015-12-15 01:00] smarterclayton commented on #13414
Don't get me wrong - proto idl is insufficient to get full fidelity
round trip from go -> idl -> go, so a specific client that takes go as
input is the right approach I think

[2015-12-15 01:01] ericandrewlewis commented on #18626
I finally got this working. Thanks a ton to both @dalanlan and @luxas :smile:

I ended up finding the IP of the master via `docker-machine ls`, here it's `192.168.99.100`

[code]

I injected this into the `kube2sky` start-up command [as @dalanlan suggested](https://github.com/kubernetes/kubernetes/issues/18626#issuecomment-164229840) and also switched to the multinode config bootstrap [as @luxas s

[2015-12-15 01:01] #18626 closed

[2015-12-15 01:11] timstclair commented on #18044
+1

I'm still not convinced of the benefits of synchronizing the the stats gathering with 10s intervals. If we were gathering stats at 5 minute intervals (for example) it would make a lot more sense. But with 10s intervals, we're still pretty close to being at the mercy of random timing fluctuations, and still smoothing sample intervals over 60 second intervals.

[2015-12-15 01:12] liguangbo opened #18688 "kube2sky can't write etcd"
I want to run kube2sky out of container. Let kube2sky write dns information to another skydns. So I run a skydns and etcd on another computer. Run kube2sky on the k8s master.
The start command:

[code]

The etcd and skydns running on the same machine 8.8.8.229.

The ETCD log:

[code]

ETCD looks good.

The kube2sky log:

[code]

The kube2sky has connected to the apiserver, and get the service or e

[2015-12-15 01:13] dalanlan commented on #18174
apiserver, meaning node-components would not know multiple API servers.

sidenote: `kubelet` can do this, right? ( Never tried it personally) Looks like it's worth keeping consistency here.
`fs.StringSliceVar(&s.APIServerList, "api-servers", []string{}, "List of Kubernetes API servers for publishing events, and reading pods and services. (ip:port), comma separated.")`

[2015-12-15 01:15] dalanlan commented on #18227
I don't believe this issue has been solved. Could anyone please kindly reopen it?

[2015-12-15 01:23] timstclair commented on #18044
BTW, I agree we *should* reduce the housekeeping CPU usage, but the reality is it is still very high and increasing the housekeeping interval is a very easy way to dramatically reduce the usage. See my analysis [here](https://docs.google.com/document/d/1VTpmjCn-MDkhfNB_3yuHQK9FvVdbys8SEkCxwE4HP20/edit?usp=sharing)

[2015-12-15 01:37] yujuhong commented on #18044
BTW, custom metrics (#18295) would probably cause even higher cpu usage for cadvisor.

[2015-12-15 01:41] bxy09 commented on #18656
Restart the controller manager.

[2015-12-15 01:49] mqliang commented on #18568
/subscribe

[2015-12-15 01:58] mikem commented on #17340
False alarm, as I wrote in closing #18555, launching a Kubernetes cluster on Azure from `master` doesn't actually mean the cluster itself is based on `master`.

[2015-12-15 02:05] karlkfi commented on #18162
I'm pursuing this strategy with the Mesosphere CI. We will probably end up running conformance tests from both release-1.1 and master when a new PR is made. I've backported our test harness changes to make this possible: #18686

[2015-12-15 02:19] gourao commented on #18333
@saad-ali I am still trying to understand the various scenarios that this proposal is trying to handle, but from a storage integration perspective, could I ask perhaps completely naive question...

Why do we need to invent a completely brand new protocol?  A lot of drivers already support the Docker volume plugin interface/protocol.  Can that simply be used here?

In other words, at the end of the

[2015-12-15 02:29] housebolt commented on #14642
+1, this has been a persistent problem with our internal apps and has made me very wary of moving any of our critical production to kube/GC. During cluster updates or after a node goes down, I have no guarantee that PD's will attach correctly, and that leaves us open to an unacceptable level of potential downtime

[2015-12-15 02:44] onorua commented on #13511
No, I've added glusterfs service according to updated documentation, but glusterfs endpoint age is 3 days, which problem with glusterfs is happening within 1 minute after kubelet restart.
[code]

I've done this several times in a row, and each time I've restarted kubelet - we lost glusterfs connection inside the pod.

[2015-12-15 02:57] feihujiang commented on #18659
@thockin Maybe this [examples_test.go](https://github.com/kubernetes/kubernetes/blob/master/examples/examples_test.go) one. It reads json/yaml files from ../docs and ../example directories, then validates them.

[2015-12-15 02:59] jdef commented on #18681
Glad you found a simple solution - thanks for posting.

On Mon, Dec 14, 2015 at 8:51 PM, Hai Huang <notifications@github.com> wrote:

[2015-12-15 03:20] timothysc commented on #18619
close from #18580

[2015-12-15 03:20] #18619 closed

[2015-12-15 04:34] michelleN commented on #10726
+1

[2015-12-15 05:01] thockin commented on #18174
Sigh, if kubelet can do it, I guess kube-proxy should do it.

On Mon, Dec 14, 2015 at 5:13 PM, Emma He <notifications@github.com> wrote:

[2015-12-15 05:25] saad-ali commented on #18644
Please use Slack for questions like this (see https://github.com/kubernetes/kubernetes/wiki/Slack-Team-Information).

[2015-12-15 05:25] #18644 closed

[2015-12-15 05:28] saad-ali commented on #18632
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-12-15 05:28] #18632 closed

[2015-12-15 05:34] saad-ali commented on #18605
CC @pmorie
Related to #18580?

[2015-12-15 05:36] saad-ali commented on #18596
From GitHub support via @mikedanese:

The redirect appears to be functioning correctly now. Closing issue.

[2015-12-15 05:36] #18596 closed

[2015-12-15 05:47] saad-ali commented on #18408
In the future, please post support questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regu

[2015-12-15 05:47] #18408 closed

[2015-12-15 06:12] davidopp commented on #18438
Sorry, I mis-read your suggestion.  I thought you were suggesting to put some new admission criteria in Kubelet that the scheduler wouldn't know about. But I see you were talking about a new scheduling rule.

Having a user's pods go pending even though they "fit" (resource request < free capacity on the node) seems extremely confusing. We already spread based on request
https://github.com/kubernet

[2015-12-15 06:13] davidopp commented on #18343
@dchen1107 So, what *is* going on? :)

[2015-12-15 06:45] xinxiaogang commented on #17860
@davidopp Sure, close this issue. Thanks.

[2015-12-15 06:45] #17860 closed

[2015-12-15 07:15] davidopp commented on #17966
@bprashanth does the PR you merged fix this, or should we still look into this?

[2015-12-15 07:16] jimmidyson commented on #18044
So let's change the housekeeping interval as a quick win.

Can you also share the profile svgs in you analysis doc so we can see where we can improve cadvisor performance?

[2015-12-15 07:17] davidopp commented on #17675
@bprashanth Do you think you could take a look at this?

[2015-12-15 07:19] wojtek-t commented on #18441
I'm fine with the fix.

@spxtr can you please do it?

[2015-12-15 07:23] wojtek-t commented on #12765
@mwielgus - is there a new heapster release? Can we upgrade Kubernetes to use it?

[2015-12-15 07:27] #17037 closed

[2015-12-15 07:29] davidopp commented on #16871
@hongchaodeng Can you look into this? If you have more questions, let me know.

[2015-12-15 07:33] davidopp commented on #16424
@wojtek-t

[2015-12-15 07:36] wojtek-t commented on #16424
@gmarek

We would like to enable separate etcd instance only if there are more than X nodes in a cluster (X=100?).

[2015-12-15 07:38] davidopp commented on #16257
@cjcullen Are you planning to look at this? It is assigned to you but hasn't been touched in a couple of months. If not, please unassign.

[2015-12-15 07:41] davidopp commented on #16021
Unfortunately it looks like we didn't get to this in time to do anything useful with it. If it recurs or you happen to still have logs from this run, please re-open the issue.

[2015-12-15 07:41] #16021 closed

[2015-12-15 07:41] davidopp commented on #15929
ping @justinsb

[2015-12-15 07:42] davidopp commented on #15929
@brendandburns

[2015-12-15 07:44] davidopp commented on #14266
ping @smarterclayton

[2015-12-15 07:47] davidopp commented on #14238
ping @justinsb

[2015-12-15 07:49] #14216 closed

[2015-12-15 07:49] davidopp commented on #14197
ping @justinsb

[2015-12-15 07:53] #13997 closed

[2015-12-15 07:54] davidopp commented on #13884
Are we still interested in doing this?

[2015-12-15 07:55] davidopp commented on #13873
Assigning to @mwringe since I can't assign to @burmanm

[2015-12-15 07:57] davidopp commented on #13774
@roberthbailey You marked this P1, but can we downgrade it to P2?

[2015-12-15 08:02] wojtek-t commented on #13884
We are currently in process of updating a client to the new official etcd client. Once this is done, we can probably get back to this one.

[2015-12-15 08:21] roberthbailey commented on #13774
It was P1 because it came from a postmortem but I'm ok with it being a P2.

[2015-12-15 09:01] jszczepkowski commented on #18652
Pod autoscaling will be only possible if metrics for pods are visible on Heapster.

I guess in the described case metrics will not be exposed, @mwielgus please correct me if I'm wrong.

[2015-12-15 09:08] davidopp commented on #13385
@dchen1107 Should we rename this issue to "detect out-of-FDs and mark node not ready when it happens"? I thought maybe we already had an issue open for that, but I can't find one.

[2015-12-15 09:09] davidopp commented on #13346
@brendandburns Are you planning to work on this? If not, please bump it to P2.

[2015-12-15 09:11] davidopp commented on #12742
This is marked P1 but hasn't been touched in months,. @erictune can you find an owner or bump it to P2?

[2015-12-15 09:12] davidopp commented on #12375
ping?

[2015-12-15 09:12] davidopp commented on #12375
Sorry, I guess there isn't really anyone to ping. I'll try to find an owner.

[2015-12-15 09:13] davidopp commented on #12327
@liggitt Can you update this issue with the current status or close it?

[2015-12-15 09:14] davidopp commented on #11324
@justinsb Can you summarize what's remaining to do for this issue? Should we just close it in favor of #11882?

[2015-12-15 09:29] davidopp commented on #9325
@gmarek Can we close this? If so, please close.

[2015-12-15 09:30] #8068 closed

[2015-12-15 09:32] davidopp commented on #10030
@bprashanth I assume this issue is still open because we don't have fixes for the two issues in your last comment? How hard would it be to fix?

[2015-12-15 09:52] gmarek commented on #9325
I need to verify - I'm not sure I have a free cluster time today to do so.

[2015-12-15 09:59] wojtek-t commented on #18657
I think this was some temporary problem - today everything seems to work fine.

[2015-12-15 09:59] #18657 closed

[2015-12-15 10:06] wojtek-t commented on #18608
I temporary relaxed the limits in scalability tests. This should solve the flakiness issues.

[2015-12-15 10:15] wojtek-t opened #18699 "Parallelize starting/stopping multiple MIGs in kube-up script"
We should parallelize starting/stopping multiple MIGs in kube-up scripts in GCE to make large clusters starting/stopping faster.

[2015-12-15 10:16] davidopp commented on #9849
@dchen1107 @bakins Can we close this issue?

[2015-12-15 10:19] davidopp commented on #5472
@mikedanese @fgrzadkowski Any thoughts on this issue? It's marked P1 and v1.2-candidate but seems like a long-term issue. It seems to be mostly about replacing our deployment shell scripts with go programs.

[2015-12-15 10:34] fgrzadkowski commented on #12722
@mikedanese Why reopened? I think that the instructions are now super easy - it's just one docker container to run.

[2015-12-15 10:38] wojtek-t commented on #18437
OK - this issue is gone now.

Thanks for your fix!

[2015-12-15 10:38] #18437 closed

[2015-12-15 10:43] wojtek-t opened #18701 "Data race pkg/storage"
There are 3 tests failing with the following data-race in Go 1.5:

    Write by goroutine 65:
      github.com/coreos/go-etcd/etcd.(*Client).Close()
          /workspace/kubernetes/Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/client.go:188 +0x4a
      k8s.io/kubernetes/pkg/storage/etcd/testing.(*EtcdTestServer).Terminate()
          /workspace/kubernetes/_output/local/go/src/k8s.io/kuberne

[2015-12-15 10:48] wojtek-t commented on #18701
@hongchaodeng

[2015-12-15 10:49] #12722 closed

[2015-12-15 10:49] wojtek-t commented on #18701
It seems like an issue in go-etcd.

Maybe submitting #18635 will solve the problem.
@timothysc - WDYT?

[2015-12-15 10:53] wojtek-t commented on #18117
@mikedanese - it's not that bad I think.
We have exactly 2 issues with our unit tests and I think that both of them have in-progress fixes.

I would like to upgrade our testing infrastructure to Go 1.5 as soon as these are solved - hopefully in O(days)

[2015-12-15 10:55] fgrzadkowski commented on #18227
@dalanlan You're right. I used wrong issue numbers in PR description. Sorry about that.

[2015-12-15 10:58] Smana commented on #18174
looking forward to it.
Indeed i'm in the situation where all my components are in ha without the extra layer of an internal loadbalancer except kube-proxy.

[2015-12-15 11:37] wojtek-t commented on #13485
Another instance:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20675/console

[2015-12-15 12:22] msufa commented on #15128
Any progress here? I'd love to see some docs describing `fieldSelector`.

[2015-12-15 12:33] #18283 closed

[2015-12-15 12:36] johanhaleby opened #18703 "Rolling update of replication controller with GCE persistent disk fails due to ImageNotReady"
I'm running Wordpress behind a replication controller (single pod instance) but when trying to do a rolling-update it fails with a timeout:

[code]

Running `kubectl get pods` gives me:

[code]

When I run `kubectl describe pod website-1.0.1-5zxkf` I get:

[code]

It eventually works after stopping the old RC and doing `kubectl create -f` for create a new one. But it takes a long time which means

[2015-12-15 12:47] tPl0ch commented on #18629
Resolved in https://github.com/kubernetes/kubernetes/pull/18588

Closing.

[2015-12-15 12:47] #18629 closed

[2015-12-15 12:49] fgrzadkowski commented on #5472
My understanding is that we don't want to rewrite things like Ansible/cloud-init etc on our own in go. Instead we want to provide tools/scripts that will reuse existing technologies, but organize in a way that will be more composable and modular. In my opinion we should close this issue, wait for the (proposal)[https://github.com/kubernetes/kubernetes/pull/18287] to be merged and then file specifi

[2015-12-15 12:53] wojtek-t commented on #16623
@mikedanese - did you have chance to look into it?

[2015-12-15 12:56] wojtek-t commented on #17829
@bprashanth - did you have chance to look into it?

[2015-12-15 12:59] wojtek-t opened #18704 "e2e flake: should *not* be restarted with a /healthz http liveness probe [Conformance]"
Example failure:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20689/console

@kubernetes/goog-node

[2015-12-15 13:09] stevesloka opened #18705 "DNS AddOn Release"
The kube2sky piece of the dns add-on is using version 1.11 (https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in#L43) but there aren't any release notes on it (https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube2sky/Changelog). I built a new cluster and wanted to use pod dns, but it didn't work (had been using custom build since I sent

[2015-12-15 13:32] #18440 closed

[2015-12-15 13:41] #18681 closed

[2015-12-15 13:41] mzupan commented on #18652
so the metrics are in heapster for the replication controller I setup for the auto scale. The issue is kubernetes doesn't know where heapster is so it says in a `<waiting>` state.

[2015-12-15 13:43] sheriffmohamed commented on #18656
That was it! Thank you very much!

Thanks,
- Sheriff

On Dec 14, 2015, at 8:42 PM, Bin Xingyan <notifications@github.com<mailto:notifications@github.com>> wrote:

Restart the controller manager.

—
Reply to this email directly or view it on GitHub<https://github.com/kubernetes/kubernetes/issues/18656#issuecomment-164614515>.

[cid:image657bd2.JPG@ff8ef5c8.44a23380]<http://golfnowsolutions.com>

Sh

[2015-12-15 13:52] ncdc commented on #18527
If we do make a change, please keep things backwards compatible and provide a conversion to continue supporting the old field.

[2015-12-15 14:05] #18460 closed

[2015-12-15 14:31] liggitt commented on #12327
As long as the tokens are generated asynchronously via a controller, I would expect this behavior (allow secret in, clean up invalid secrets in the controller check). I don't want to introduce cross-object validation. I agree it is somewhat confusing, but I think the right fix is to allow more direct request/creation of tokens.

[2015-12-15 14:31] #12327 closed

[2015-12-15 14:33] wojtek-t opened #18708 "Data race in pkg/kubelet/prober"
When running with Go 1.5.1 there is the following race:

    Write by goroutine 81:
      k8s.io/kubernetes/pkg/kubelet/prober.TestHandleCrash()
          /workspace/kubernetes/_output/local/go/src/k8s.io/kubernetes/pkg/kubelet/prober/worker_test.go:254 +0x42
      testing.tRunner()
          /tmp/workdir/go/src/testing/testing.go:456 +0xdc

    Previous read by goroutine 24:
      k8s.io/kubernet

[2015-12-15 14:34] wojtek-t commented on #18117
It seems that there are 2 issues that we need to solve that are still remaining:
- #18701
- #18708

[2015-12-15 14:59] wojtek-t commented on #13485
And again:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20700/consoleFull

[2015-12-15 15:05] andrejvanderzee opened #18709 "Multiple container instances persisting private data"
Hi,

I have the following requirements for my index-containers running in Kubernetes (indexing large data from a data source):

* Allow variable number of index-containers on one or more hosts labeled role=index
* Index-containers do not share any data among each other
* After an index-container crashes and restarts, it must reuse indexes from last run

What would be the best way to handle this? S

[2015-12-15 15:09] timothysc commented on #18701
@wojtek-t , let get that spruced up today and we'll find out.

[2015-12-15 15:24] smarterclayton commented on #18007
We have the rsync command in OpenShift for this - it basically has a multi-tier strategy for keeping the remote in sync with local.  Doesn't have all the advantages of NFS, but does have the advantage it works everywhere.  https://github.com/openshift/origin/blob/7f2185eaae9cea0f61ceae678d3d08ccad8376e8/pkg/cmd/cli/cmd/rsync/rsync.go

[2015-12-15 15:25] piosz opened #18710 "Missing data in cadvisor.Spec in reply from Kubelet"
When I'm querying Kubelet for metrics I can see sometimes missing data in Spec. Sample replies:
[code]

The behavior is pretty weird: the set of containers with missing metadata changes in time.

[2015-12-15 15:26] piosz commented on #18710
@kubernetes/goog-node @dchen1107

cc @mwielgus

[2015-12-15 15:37] mwielgus commented on #18710
cc: @fgrzadkowski @jszczepkowski

[2015-12-15 16:16] pmorie opened #18713 "integration flake: Timed out waiting for apiserver"
I've seen several PRs hit this in the last 2 days or so.  Example:

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/5e0948586c35e7e7f4f7ccc39411d2726c8e767a/kubernetes-pull-test-unit-integration/5875/

[code]

[2015-12-15 16:17] ArtfulCoder commented on #18705
I will create a new version today.

[2015-12-15 16:17] mikedanese commented on #12722
@fgrzadkowski merge bot closed this when it merged #18351 which says it partially fixes this. This led me to believe that you thought it was not fully fixed

[2015-12-15 16:34] ncdc commented on #18709
This sounds related to the proposal at #18016 - you may want to check that out.

If you still need assistance, I'd recommend you post this question in Stack Overflow. Please see https://github.com/kubernetes/kubernetes/blob/master/docs/troubleshooting.md#help-my-question-isnt-covered--i-need-help-now for more info on the process. Thanks!

[2015-12-15 16:34] #18709 closed

[2015-12-15 16:38] ncdc commented on #18623
cc @kubernetes/rh-cluster-infra @kubernetes/rh-networking

[2015-12-15 16:46] thockin commented on #18709
We do not have a way to represent this use case, at the moment, but it is
similar in spirit to the PetSet proposal.  Maybe you can detail your
requirements more.  Do you need to scale up and add new volumes
dynamically?  How do they get populated with data the first time?  How
about scale down - do you expect volumes to be destroyed or saved for later
scale-up?  Is there any form of identity beyon

[2015-12-15 17:20] jmelfi commented on #1957
@timothysc This is great news!  I'll try to get the details later this week on what needs to happen.

[2015-12-15 17:34] cjcullen commented on #16257
Not in the next few weeks. Sorry I missed this. If nobody else gets to it, I'll take a look.

[2015-12-15 17:43] roberthbailey commented on #5472
I agree with @fgrzadkowski. We should find some pieces of #18287 that we can target for 1.2 instead.

[2015-12-15 17:48] vishh commented on #18652
Mike can you setup a heapster service in kube-system namespace with
heapster's IP explicitly specified?

On Tue, Dec 15, 2015 at 5:42 AM, Mike Zupan <notifications@github.com>
wrote:

[2015-12-15 18:05] hongchaodeng commented on #16871
Last time I wasn't able to reproduce the problem. Now I have been involved in something else and could not spend more time on this.

[2015-12-15 18:08] yifan-gu commented on #9849
@davidopp Not yet, I am working on this.

[2015-12-15 18:11] nikhiljindal opened #18717 "e2e flake: EmptyDir volumes should support (root,0666,default) [Conformance]"
[code]
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20695/#

[2015-12-15 18:11] quinton-hoole commented on #18572
@bprashanth could you take a look?
@thockin FYI

[2015-12-15 18:12] quinton-hoole commented on #18572
@ArtfulCoder FYI

[2015-12-15 18:23] quinton-hoole commented on #17851
This was introduced in https://github.com/kubernetes/kubernetes/commit/05d8e96cd45f21b4d5a6c1c7d808ad7dd55783ec by @zmerlynn way back in April 2015.  Perhaps he can take a look.
@mwielgus @roberthbailey Is it actually causing failures, or is it just an irritating warning?  Given that it's been around for over 6 months, I assume the latter, and drop priority to P2.

[2015-12-15 18:31] kargakis commented on #14516
A couple of questions:
* Is this work for a separate controller or do we think the main one is enough? If the former, then it's as simple as a condition in the spec (and a 2nd controller:) ). If the latter and we do a reconcilation per "PUT /deployments/foo/instantiate", how should the controller recognize that the deployment it is processing is actually inert and that it shouldn't try to reconcil

[2015-12-15 18:32] mwielgus commented on #17851
No it is not causing visible failures. It is just irritating.

[2015-12-15 18:33] stevesloka commented on #18705
Awesome thanks!

[2015-12-15 18:33] quinton-hoole commented on #17608
The [kubernetes-soak-continuous-e2e-gce[(http://kubekins.dls.corp.google.com/job/kubernetes-soak-continuous-e2e-gce/) test job ran relatively green for a full week from [build time Dec 8, 2015](http://kubekins.dls.corp.google.com/job/kubernetes-soak-weekly-deploy-gce/) until the following automated rebuild.

Closing this as obsolete.

[2015-12-15 18:33] #17608 closed

[2015-12-15 18:33] roberthbailey commented on #18160
I'm going to re-open and use this issue to track getting the fix into kubernetes.

[2015-12-15 18:35] dchen1107 commented on #18710
cc/ @timstclair for triage.

[2015-12-15 18:38] quinton-hoole commented on #17397
@davidopp this looks like a legit P1, and simply needs to be staffed.  Any volunteers?

[2015-12-15 18:38] quinton-hoole commented on #17397
@mikedanese FYI

[2015-12-15 18:39] mikedanese commented on #13997
From slack today:

[2015-12-15 18:43] roberthbailey commented on #17851
I'd posit that it's a friction issue for new users, because you don't expect that the official way to deploy a cluster is going to print errors, especially when you are running an official release. This seems easy to fix and I think should be fixed before the 1.2 release.

[2015-12-15 18:47] spiffxp commented on #18162
I'm a good distance away from being able to contribute back to this, @karlkfi 's work in #18686 seems like a much further start than I have, and is already much better integrated with the existing build scripts

[2015-12-15 18:47] aaronlevy commented on #18612
Just an FYI, some of these questions were cross-posted here: https://github.com/coreos/coreos-kubernetes/issues/202

[2015-12-15 18:57] timstclair commented on #18044
[pprof profiles](https://drive.google.com/folderview?id=0B_-O9fAr2fafMzYyd0pNWFJQY1k&usp=sharing)

[2015-12-15 18:59] quinton-hoole commented on #16659
This seems like a curiosity and cleanup rather than a breaking problem.  Technically HTTP verbs are supposed to be capitalized and case sensitive [1], but there are plenty of examples of these [RFC rules](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html) being broken in the wild, so we should probably just treat them as case-insitive, as you've done in your workaround (which should ideally be

[2015-12-15 18:59] vishh commented on #18352
cAdvisor is currently useful for monitoring. A user should be able to expose 10's or 100's of metrics per pod for the sake of monitoring.
If cAdvisor were to be separated out from kubelet, do we still have to restrict custom metrics exposed per pod?
Is the primary goal to restrict resource impact at the node or in heapster?
Ideally, a user should be able to expose whatever metrics they need for mo

[2015-12-15 19:03] mikedanese commented on #13997
Is anyone aware of what could have changed to fix this? Do we need to cherry-pick anything into release-1.1?

[2015-12-15 19:04] timstclair commented on #18708
Do you have a way to reliably reproduce this? Or do I just need to keep rerunning the tests until I hit it?

[2015-12-15 19:05] ihmccreery commented on #15829
In order to run tests against old clusters, (i.e. for testing upgrades of old clusters, https://github.com/kubernetes/kubernetes/issues/18581#issuecomment-164535146,) we still need this construct around.  @smarterclayton, are you opposed to including version-guarded logic wherein we use `pods/proxy` for anything above 1.0, and `Prefix("proxy")` for 1.0 and below?

[2015-12-15 19:06] ihmccreery commented on #15829
This is also blocking #18660.

[2015-12-15 19:08] zmerlynn commented on #17851
The use of `$@` is canonical bash, and has been for many versions. The unbound variable complaint should be resulting in bricked clusters if it's not bailing out completely, so I don't understand this, and I do none of my k8s work on a Mac. Is it really an OS X only complaint?

[2015-12-15 19:09] mikedanese commented on #17397
I'm unable to reproduce this. The node autoscaler works by resizing a managed instance group. The only reason an new instance wouldn't have a cert was if the Instance Template didn't have a cert. @paralin can you confirm where the cert was lost? Did the instance template not have a cert? Did the node metadata not have a cert? Did the salt configs created from instance metadata not have a cert?

[2015-12-15 19:12] timstclair commented on #18708
Ah sorry, just realised I was missing the `-race` flag.

[2015-12-15 19:12] smarterclayton commented on #15829
No opposition, same pattern we do in other places.

On Tue, Dec 15, 2015 at 2:11 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2015-12-15 19:14] zmerlynn commented on #5472
Move to close as well. The issue was probably targeting 1.2 as a holistic deployment piece rather than specific piece, and now that there are specific pieces, let's go with those.

[2015-12-15 19:22] brendandburns commented on #15829
@smarterclayton we're not going to mark it deprecated.  Its a breaking change for the v1 api.

We can only do this with a switch to a v2 api.

--brendan

[2015-12-15 19:24] Logician commented on #13997
Also (I was the poster to slack) the node status in the kube-ui said (if I remember correctly) "OutOfDiskReady" which I assumed to be a bug with the status messages and it meant to be "Ready".

I've done it about 3-4 times and it always degraded after a day, one of the times it actually never came up correctly and timed out at the salt stage for the master before starting the minions.

[2015-12-15 19:24] ihmccreery opened #18720 "Add version-guard logic to tests, etc. for pods/proxy path broken in 1.0 in GKE"
#17002 introduced a backwards-incompatibility to our tests and other logic with some 1.0 masters, whose [subresource proxies were broken](https://github.com/kubernetes/kubernetes/pull/15224#issuecomment-146769463).  We should version-guard this logic to use subresource proxies for 1.1 and above, and root proxy for 1.0 and below.

This is blocking https://github.com/kubernetes/kubernetes/issues/185

[2015-12-15 19:34] smarterclayton commented on #15829
No opposition, that's what we said for watch and other proxies.

On Tue, Dec 15, 2015 at 2:26 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-12-15 19:37] paralin commented on #17397
@mikedanese I was able to reproduce it originally by doing kube-up and then kube-push on gce with the autoscale enabled. The script goes to update the instance template but after the update the CA_CERT in the template is empty.

[2015-12-15 19:39] mikedanese commented on #17397
Ahhh, I was missing the kube-push. I'll try that.

[2015-12-15 19:46] rootfs commented on #13511
@onorua I did some test using latest k8s code. I created a pod that used glusterfs volume. After the pod was up, I killed kubelet and manually restarted it. Then I looked at the gluster volume in the container, the volume was ok.

[2015-12-15 19:48] smarterclayton commented on #18352
The initial goal was just to be cautious.  Practically, the sorts of
metrics you need to gather at high resolution differs from the sorts of
metrics you want at low resolution.  5 is an arbitrary number that
separates "what is my business measurement" from all the other use cases
(performance monitoring, predictive analytics, etc).  And it wasn't a hard
limit - it was a self imposed limits.  Would

[2015-12-15 20:06] mwielgus commented on #18044
@timstclair If with 10s we are fluctuating so heavily how could we do anything when the time interval was 1 sec. Do you have data that would indicate so big fluctuations? It may be related to some other problem.

BTW, pprofs are not readable (too low resolution).

[2015-12-15 20:09] wojtek-t commented on #18708
Also - this was with Golang 1.5 - with that Go version it's failing mostly every run. And I believe in our default configuration we're running tests in parallel (--p=2 ?)

[2015-12-15 20:14] MikeSpreitzer opened #18721 "two very different uses for containerPollTime in Mesos executor.go"
In contrib/mesos/pkg/executor/executor.go, there is a local constant named containerPollTime that is put to two very different uses --- waiting for a pod to come up, and recovering from pods getting "lost".  The former needs to be very responsive, but the latter does not (but is still costly when the number of pods grows).  The value is currently set to one second, and that makes both things happe

[2015-12-15 20:47] MikeSpreitzer opened #18723 "Ability to pass cadvisor args to mesos executor?"
In contrib/mesos/pkg/minion/server.go there is a function named launchExecutorServer, which launches the executor.  The flags for kubelet are allowed there, but not the flags for cadvisor.  But the executor runs both, right?

[2015-12-15 20:47] nikhiljindal commented on #17257
This is happening again: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20750/#

cc @k8s-oncall

[2015-12-15 20:47] quinton-hoole commented on #16257
@thockin has opened an issue (number?) to to address the fact that we do not currently configure GCE load balancer health checks.  This is the correct solution to this problem, and is in the domain of the cluster team.  re-assigning.

[2015-12-15 20:51] piosz commented on #18710
It happened on cluster with config-test.sh as a configuration. Now I'm running cluster with config-default.sh and it seems to work. It may be a configuration difference. Tomorrow I'll try to reproduce once again with config-default.sh.

[2015-12-15 20:52] nikhiljindal commented on #18463
Maybe we did this because before we introduced MaxUnavailable, rolling-update was written in a way that max unavailable was zero and we didnt want to change that behavior.
@ironcladlou might remember.

[2015-12-15 21:08] quinton-hoole commented on #16164
Seems like a duplicate of "GCE: kube-down doesn't clean up all resources" #18375  ?
Closing this one as such.

[2015-12-15 21:08] #16164 closed

[2015-12-15 21:15] quinton-hoole commented on #6084
This is more about improving our PD testing than it is about upgrades.
Also, as per my comment above, we have some coverage of this case already:
https://github.com/kubernetes/kubernetes/issues/6084#issuecomment-101468907

Dropping priority and assigning to the cluster team for triage.
@saad-ali FYI

[2015-12-15 21:21] quinton-hoole commented on #1627
This idea has been around for 14 months now.  It doesn't seem worthy of a priority 1 label. Dropping priority accordingly.  Please feel free to disagree.

[2015-12-15 21:25] derekwaynecarr commented on #17186
I put a first-draft of a proposal for review here:
https://github.com/kubernetes/kubernetes/pull/18724

[2015-12-15 21:36] erictune opened #18725 "Compartmentalize secrets between service accounts"
A key use case for service accounts is compartmentalization of secrets.

In other words:

A specific use case raised by a Kubernetes user was:

These use cases as possible, but currently hard to get right

---

The way you could do the second use case currently is:
1. create secret "stripekey" with the Stripe API keys.
2. create Kubernetes Service Account called "ecommerce".
3. Add a reference fro

[2015-12-15 21:38] freehan commented on #17873
Let it in flaky suite overnight. If everything goes well, will unmark it.

[2015-12-15 21:46] quinton-hoole commented on #15203
Resolving this for the purpose of deflaking tests alone makes it worthy of P1 IMO.  @a-robinson to what extent are leaking network resources still causing e2e test failures?  If they're not, I'd suggest dropping priority to P2?

[2015-12-15 21:51] erictune commented on #18725
I think the state we want to get to is this:

1. for each authorization plugin that we support, there needs to be some kind of default policy that applies to service accounts which:
  1. doesn't allow it blanket read access to secrets
  2. doesn't allow it access to other namespaces
2. when you add a secret to a service account,
3. on some systems (e.g. OpenShift), adding a secret to the service a

[2015-12-15 21:51] erictune commented on #18725
@kubernetes/sig-auth

[2015-12-15 21:54] a-robinson commented on #15203
I honestly have no idea at this point. I haven't been watching them other than when I'm build copping since I've been doing so little OSS work lately.

[2015-12-15 21:56] quinton-hoole commented on #15131
This is still P1 IMO, but unless we can find someone to work on it soon, it's not going to make it into 1.2.

I would estimate that this is at least a few weeks of dedicated work.

[2015-12-15 22:06] ihmccreery opened #18726 "Clean up versioning structs"
Right now the `version` package contains three redundant version objects:
- `Info` struct,
- `GitVersion` struct, inside of the `Info` struct,
- `semver.Version`, from [github.com/blang/semver](https://github.com/blang/semver).

We should clean this up, along with the stuff in `version/base.go`, and make it easier to deal with and less redundant.

This came up in working on version guards for http

[2015-12-15 22:06] quinton-hoole commented on #16192
Yup, this seems like at least a P1, if not a P0 on the basis of it being the cause of highly flaky tests (and hence stalled merge bot).

[2015-12-15 22:07] ihmccreery commented on #18726
This should probably encompass #16815.

[2015-12-15 22:16] ihmccreery commented on #15131
This is squarely in the realm of the work I'm doing now, but won't happen before the end of the year.  Once I finish my P0 work, I will reevaluate.

[2015-12-15 22:29] ihmccreery commented on #18726
This work might also include adding structures around the client `VersionInterface` to allow easy version guarding.

[2015-12-15 22:35] timstclair commented on #18044
The google docs preview is useless. You need to download the pprofs and open them in another viewer (chrome works well).

I don't have any data w.r.t. what kind of fluctuations we might see. The concerns are about misbehaving machines though.

[2015-12-15 22:41] davidopp commented on #17397
Meeting notes:
* Short-term just have kube-push.sh exit on GCE with a message saying it's not currently supported.
* Long-term decide if we want to support in-place upgrade on GCE.
* We should also try to verify that it is working on bare metal since it's the only way to do upgrades on bare metal.

[2015-12-15 22:43] packetcollision commented on #18106
It turns out this is because our nodes were started with a BlockDeviceMapping for ephemeral drives that included mapping ephemeral4 to /dev/xvdf (even though the actual machine in question only has 2 ephemeral drives)

[code]

We do that so that we can use all available ephemeral drives on the larger d2 instances, but we should be able to work around the issue by mapping to the end of the alphabet

[2015-12-15 22:45] jlowdermilk opened #18730 "kubernetes-e2e-gce-parallel-flaky leaks pds"
Cleaning up orphaned resources and found 600+ disks in k8s-jkns-e2e-gce-prl-flaky. Need a manual cleanup step that handles PDs created by tests.

[2015-12-15 22:45] davidopp commented on #16192
@quinton-hoole points out we really need a master issue for fixing all the resource leaks.

[2015-12-15 23:00] smarterclayton commented on #1627
I thought we said it was priority for 1.2 to enable bootstrapping but don't have a link

[2015-12-15 23:01] davidopp commented on #14674
@mikedanese said he'd take a look at what is the current state of this. He said we need to fix the regressions and then move it into critical builds and make the mergebot block on it.

[2015-12-15 23:05] ihmccreery commented on #15829
After looking into #18726, and considering we won't deprecate `proxy/pods`, I think I'd prefer just rolling back #17002.  It's quite a bit of code cruft to support the version-guarded new behavior for not much payoff, as far as I can tell.  @smarterclayton, opposition?

[2015-12-15 23:08] jlowdermilk commented on #18730
Oh fun. It looks like every job is leaking disks, it's just that disk quota is so large we haven't been blocked on it yet.

[2015-12-15 23:11] davidopp commented on #13048
@mikedanese mentions this will be easier once the addons are managed by Deployment.

[2015-12-15 23:22] roberthbailey commented on #17397
I think we've also heard reports that it doesn't work on AWS (at least to upgrade across minor versions).

[2015-12-15 23:34] rsokolowski opened #18734 "Pending infeasible pods are not being removed by 0-sized rc"
I have RC downsized to 0 that is matching bunch of pods responsible for load balancing. The pods can't schedule due to misconfigured node selector:
status:
  message: Pod cannot be started due to node selector mismatch
  phase: Failed
  reason: NodeSelectorMismatching
These pods are not getting removed by the RC.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.

[2015-12-15 23:40] mikedanese opened #18735 "Write proposal on how to self host the kubernetes control-plane"
ref #246, #473

[2015-12-15 23:40] mzupan commented on #18652
@vishh I've tried that also and I see no traffic coming out of k8 on port 80/443 or 8082

[2015-12-15 23:42] #18160 closed

[2015-12-15 23:44] #18441 closed

[2015-12-15 23:44] quinton-hoole commented on #15039
Integration tests have been running stably for some time now.  Apparently this is fixed.  Closing.

http://kubekins.dls.corp.google.com/job/kubernetes-test-go/

[2015-12-15 23:44] #15039 closed

[2015-12-15 23:44] smarterclayton commented on #15829
V2 will remove the proxy/ and watch/ paths and new resources won't use
them.  So rolling it back doesn't help much.

[2015-12-15 23:46] ihmccreery commented on #14674
This is in my Q4 docket.  Working on stabilizing GKE, then will move onto GCE.  Unless @mikedanese has cycles to burn, I'm happy to take this on.

[2015-12-15 23:46] smarterclayton commented on #15829
They are certainly deprecated for our next major versions.  Clients
should use he new paths.

[2015-12-15 23:47] smarterclayton commented on #15829
Why would we not mark it deprecated?

[2015-12-15 23:56] satnam6502 commented on #17873
I can't follow any of the links but if I could get a bit more information about what is going wrong I could look into the Elasticsearch test if you think that is the issue rather than something else having a bad impact on it.

[2015-12-16 00:01] karlkfi commented on #16238
Godep author claims this is fixed: https://github.com/tools/godep/issues/186#issuecomment-164919677

[2015-12-16 00:17] paralin commented on #17397
I would request that you support in-place upgrade on GCE and other platforms

[2015-12-16 00:31] erictune commented on #18342
I just noticed on my node that has been up for a while that I have loads of not-gc'ed volumes.

I have 7045 tmpfs volumes mounted, and only two pods on the node.  e.g.:
[code]

[2015-12-16 00:35] eparis commented on #16238
Although one of my co-workers said he's still having problems with this (type of) issue.  We'll if/when verify-godeps throws up again.

[2015-12-16 00:35] erictune commented on #18342
I have docker 1.8.3

[2015-12-16 00:36] thockin commented on #1627
This is pretty fundamental - it's enabling for so many issues.

On Tue, Dec 15, 2015 at 3:31 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-12-16 00:36] erictune commented on #18342
Happening on all 3 of my nodes.

[2015-12-16 00:41] erictune commented on #18342
Kubelet log is full of
[code]

[2015-12-16 00:43] erictune commented on #18342
[code]

Maybe this error message is happening and then volumes of those pods are not getting cleaned up?  Just a guess.

[2015-12-16 00:47] quinton-hoole commented on #15203
OK, I'll:
1. try to consolidate all of the related "leaking cloud resources" issues that have been reported in various places (typically in the context of e2e tests failing) into a smaller number of apparent root causes.  I anticipate that these will fall into three buckets:
    1. test infrastructure that does not clean up properly after tests (Framework.AfterEach())
    1. cluster teardown ("kub

[2015-12-16 00:52] mikedanese commented on #1627
There are two ongoing efforts scheduled for v1.2 that will allow us to finish this (Component Config and Config Data). Is there any documentation on what the different priorities mean?

[2015-12-16 00:58] ihmccreery commented on #18537
Assigning to @krousey.

[2015-12-16 01:00] quinton-hoole commented on #1627
Fair enough, back to P1.

[2015-12-16 01:12] freehan commented on #17873
@satnam6502 Thanks for offering to help.

Here are the failure symptoms in Jenkins:
1. ES cluster in red status.
I bump into this once with my test cluster. It is cause by es split brain problem. Fix already merged.
2. Missing all log lines from one node.
I cannot reproduce this. My guess is the fluentd pod on a node is not working properly. So I added validation for fluentd pods.

Can you think o

[2015-12-16 01:20] ihmccreery commented on #17981
Assigning to @brendandburns to advise.

[2015-12-16 01:23] quinton-hoole commented on #1627
@mikedanese No definition of priority's meanings written down anywhere, AFAIK, and I don't think that they're being used consistently across the project.  But they roughly mean the following, in most cases:

P0: Must be actively worked on as someone's top priority right now.  Stuff is burning. If it's not being actively worked on, someone is expected to drop what they're doing immediately to work

[2015-12-16 01:46] nikhiljindal opened #18738 "e2e flake: Jenkins failing with firewall rule issues"
Jenkins e2e is failing with

[code]

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20785/
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/20826/

cc @k8s-oncall @jlowdermilk

[2015-12-16 01:48] satnam6502 commented on #17873
Can you please point me to the fix for the split brain problem? Is that #18678 ? So that works by making sure there are always two master nodes? Is 2 really a good idea for quorum? As suggested here https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-zen.html a choice of 2 might not be desirable?
Missing log lines indeed mean a synthetic logging pod did not start for

[2015-12-16 01:51] saad-ali commented on #18342
@ttllyy Can you please clarify what exactly the problem you are seeing is and what the repro steps are? It appears you have lots of docker local volumes, are they created by k8s? Can you `docker volume inspect` a few of them. If I understand correctly, you're saying that rapidly creating/deleting a pod with a hostPath volume, causes bind mounts to not get cleaned up?

@erictune I created a new clu

[2015-12-16 02:33] jlowdermilk opened #18739 "[e2e failure] Kubelet regular resource usage tracking for 40 pods per node over 20m0s"
This started failing this week on [kubernetes-soak-continuous-e2e-gke](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gke/).

The failure is
[code]

@yujuhong, can you take a look? From the logs it looks like 9 out of 120 never get scheduled, which makes me think there isn't enough room on the machine. AFAICT, both this cluster and the one for [kubern

[2015-12-16 02:57] jlowdermilk commented on #18738
A bunch of resources got orphaned. I'm working on cleaning them up.

[2015-12-16 03:22] jlowdermilk commented on #18738
I think I got them all. Some builds at least are succeeding. I'll check back in an hour or so.

[2015-12-16 03:35] timothysc commented on #10030
Last I remember they still existed but were lower priority b/c of the caps we had in place.  If we ever have a high throughput it could be a real concern.

[2015-12-16 03:41] brendandburns commented on #15829
because its not deprecated?  it's pointless to mark it deprecated until we mark the whole v1 API deprecated (which is a long way away).  Up until that point its needless churn/angst for users of the v1 API

[2015-12-16 03:57] ericchiang commented on #18549
We could also just have kubectl only hold the refresh token and no auth token.

kubectl passes the refresh token along to the API server, which uses that token to request an JWT from the identity provider. Add some caching to prevent excessive round trips.

In this scenario kubectl wouldn't need to update its config.

[2015-12-16 04:13] liggitt commented on #18549
I don't think that works… refresh tokens don't carry the same signature and introspection guarantees as ID tokens… how would the API server validate the refresh token?

I also don't want to allow refresh tokens to be used to obtain access tokens from third party OIDC providers without possession of the client_secret. That's what I meant by circumventing the intent of the spec, which requires acces

[2015-12-16 04:27] ericchiang commented on #18549
The API server wouldn't introspect the refresh token. It would only use it to make a refresh request to acquire a JWT from the identity provider. The API server would then verify and inspect the JWT, not the refresh token, to authenticate kubectl.

For what I'm suggesting, the API server holds a client_id and client_secret and kubectl never needs to see the auth token.

[2015-12-16 04:33] thockin commented on #16257
Are these accesses from within the cluster or external?

@freehan has a PR in flight to make pods on a timed-out node disappear
faster.

On Mon, Oct 26, 2015 at 1:11 AM, Chen Fisher <notifications@github.com>
wrote:

[2015-12-16 04:36] thockin commented on #18572
??  On what platform?

In almost 18 months I have never once seen anything that resembles this.
I'm not saying it doesn't exist, just that it's pretty hard to believe that
nobody else has seen this.

Can you fill in more details?  A step-by-step repro?  What does "restart
one of the app's service" mean?  What IP address did you find for
`kubernetes` ?

On Fri, Dec 11, 2015 at 5:55 AM, Deyuan Deng

[2015-12-16 05:14] smarterclayton commented on #15829
We want to discourage it's use - because pods/proxy is right and proxy/pods
is wrong.

On Dec 15, 2015, at 10:42 PM, Brendan Burns <notifications@github.com>
wrote:

because its not deprecated? it's pointless to mark it deprecated until we
mark the whole v1 API deprecated (which is a long way away). Up until that
point its needless churn/angst for users of the v1 API

—
Reply to this email directl

[2015-12-16 05:15] liggitt commented on #18549
I don't think it is appropriate treating a refresh token like an access_token or id_token

[2015-12-16 05:15] jayunit100 commented on #18654
Not a bad idea, but then, won't the interactive nature of the example be lost?
We are doing automatic thrusting of CPU in the e2es if the goal is just to automate hpa pod fluctuating...

[2015-12-16 05:18] jayunit100 commented on #18594
I guess that makes sense, HPAs can persist even though their RC died off.

a generic dependency chain for api controllers might be a good idea for the future.

But I'll close for now .

[2015-12-16 05:18] #18594 closed

[2015-12-16 05:29] jayunit100 commented on #18352
Agree that the number of metrics is pretty limited probably.  HPA  is a great middle of the road tool for app scaling. Once things get more complex: using another tool or a custom scaling algorithm is much cleaner.

[2015-12-16 06:12] kevin-wangzefeng commented on #17389
/cc @HardySimpson

[2015-12-16 06:16] ericchiang commented on #18549
Fair enough.

My motivation for thinking of it this way is that we're talking about something stronger than the existing access_token plugin. Specifically:
1. A refresh token demonstrates that an app has permission to continuously login as a specific user.
2. As a trade off, has to check-in with the identity provider to ensure it hasn't been revoked.

But, I don't want to get too off topic from @b

[2015-12-16 06:33] feihujiang commented on #18720
I'm a little confused, just ask some questions. The 1.0 release version doesn't have relevant e2e tests?Why e2e tests should backwards-compatibility, for example, if we add a new function for v1.1, and add a relevant e2e test for v1.1, how the e2e test could pass for v1.0?

[2015-12-16 06:35] freehan commented on #17873
minimum_master_nodes set to 2 does not mean having 2 master nodes. It means the es cluster needs to have at least 2 nodes before electing a master.
If network partition happened to a es non-master node, it will wait until it could reach out to at least one other node to start electing master. Hence it will prevent the split brain problem.

Based on the log in jenkins, all synthetic logging pod ran

[2015-12-16 06:50] HardySimpson commented on #17389
Actually there are 2 results that seems conflict but NOT.

### 1.throughput case

![12_11_30](https://cloud.githubusercontent.com/assets/1173940/11833686/36daafea-a400-11e5-8a5e-0b854e78c013.png)

when run the density test, this is the 1st test that shows count of different pod status. This pic indicate that the throughput of apiserver+controller/schduler/kubelet. As the waiting curve drop down sl

[2015-12-16 07:27] tobad357 opened #18744 "Panic when tearing down iscsi connection"
Kubelet version: 1.1.3
OS: Centos 7.1

We are currently seeing an issue where each time an iscsi volume gets torn down there is a panic in iscsi_util.go. This prevents us from locking the iscsi target to only allowing one login per volume and can therefor cause (and has caused) data loss due to one volume being accessed by two hosts by mistake

[code]

This seems to be the same as #15556.
Are ther

[2015-12-16 07:36] davidopp opened #18745 "Convince ourselves that two schedulers scheduling the same pod "at the same time" works"
e.g. doesn't break queuedPods, assumedPods, or scheduledPods.

ref/ #17865

[2015-12-16 07:37] davidopp commented on #18745
@hongchaodeng @HaiyangDING

[2015-12-16 07:39] tPl0ch opened #18746 "[CLUSTER] `OS_DISTRIBUTION` is not set"
When I try to bring up my cluster (with a custom wrapper script that sources some other environment files,but calling `kube-up` in the end) using the AWS provider, the script fails with following reason:

[code]

This happens because the correct environment variable set is `KUBE_OS_DISTRIBUTION`.
Changing the line to use this value fixes the issue.

[2015-12-16 08:09] #17444 closed

[2015-12-16 08:28] metral opened #18749 "NFS with PV & PVC fails multiple times before working"
When using NFS with a persistent volume & persistent volume claim on a RC, the attempt at mounting the volume fails multiple stimes with `exit status 32` as seen below:

[code]

the kubelet shows the following in the logs repeated multiple times (as noted by the 12 in the count column above) across all 3 of my nodes:

[code]

_Notes_:
- Running v1.1.3 on CoreOS 835.9.0
- nfs-kernel-server on Ubunt

[2015-12-16 09:08] xied75 commented on #18019
@bigkraig You are correct, so what do you think about the IP? Do we still somehow expect it or just make it clear in the documentation and close this issue?

[2015-12-16 09:19] #16672 closed

[2015-12-16 09:33] maklemenz opened #18751 "kubectl create behaves different with url on multi document yaml"
Using an url, kubectl creates only the first thing in a multi document yaml file:

	[root@master]# kubectl create -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/examples/guestbook/all-in-one/guestbook-all-in-one.yaml
	service "redis-master" created
    [root@master]# kubectl create -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/examples/guestbook/all-in-one/gu

[2015-12-16 09:59] wfrank2509 opened #18753 "Wrong --to-destination determined // util.go uses gateway IP instead of real IP?"
Hello,

I stumbled over this issue during installing openshift which is based on kubernetes. The problem is that the --to-destination points to the GATEWAY address of my network instead of the host IP. Therefore the nodes are not reachable.

E.g.

[code]

It looks like that in  /pkg/util/util.go  the wrong IP is determines.

[code]

where **176.x.x.225** is the Gateway that is used.

My real IP is

[2015-12-16 10:04] davidopp commented on #18745
@HaiyangDING said he would look into this. I think it's sufficient to just try to understand the code and convince that it works (or if it does not work, how to fix it).

I think @bprashanth may be familiar with this code, if you have questions.

[2015-12-16 10:09] onorua commented on #13511
In glusterfs I can see that it was shutdown, which is obvious, because the next step after liveness probe is killing container. I'll try to analyze my logs myself, correct me if I'm wrong:

* We started kubelet
[code]

* found out that we have configured pods running on
[code]
* Found out that pods are using glusterfs and checked whether endpoints are present
[code]
* Liveness probe check
[code]
*

[2015-12-16 10:29] HardySimpson opened #18754 "It seems scheduler is the system's bottleneck"
Actually there are 2 results in density test that seems conflict but NOT.
### 1.throughput case

![12_11_30](https://cloud.githubusercontent.com/assets/1173940/11833686/36daafea-a400-11e5-8a5e-0b854e78c013.png)

when run the density test, this is the 1st test that shows count of different pod status. This pic indicate the throughput of apiserver+controller/schduler/kubelet. As the waiting curve dr

[2015-12-16 10:31] HardySimpson commented on #18754
@davidopp @kevin-wangzefeng @wojtek-t @xiang90

[2015-12-16 10:32] soupdiver opened #18755 "Send request to all pods behind a service"
Hey,
is there a way that I can send a request to a service and it gets forwarded to all pods behind the service and not only one?

My scenario:
I have a pod running nginx. nginx has caching enabled.
From time to time I have to clear the cache. I somehow have to notify (send a http request) to each pod so that the local cache can be cleared. Obviously the pods don't share a volume or so for caching

[2015-12-16 11:25] tobad357 commented on #18744
Can confirm this is fixed in 1.2.0-alpha4.

[2015-12-16 13:03] nagarjung commented on #15925
Hi @smarterclayton
I would like to know more about the bug. I am a newbie to kubernetes, Is the bug beginner level?. I would like to work on this bug. Please provide me more information on this bug status and issue related with it.

Thank You

[2015-12-16 13:18] deads2k commented on #18725
How close are we once we enable `LimitSecretReferences` in the admission controller: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/serviceaccount/admission.go#L67 ?

I didn't think we were expecting that an SA would directly have access to any part of the API to subdivide secrets.  Instead, the SA has a list of MountableSecrets (now called `Secrets`).  When a Pod is cre

[2015-12-16 14:16] timothysc commented on #18745
This can/should be an e2e test.

[2015-12-16 14:34] gurvindersingh commented on #10439
I am inclined to go with approach 1.

This provides a clear role as what k8s will give you. k8s mainly providing a temp token so that your app in pod can fetch perm tokens and secrets. You can run non-vault aware apps using sidecar/init-container approach where your container can use provided temp token to get secrets.

To have this happen we still need a method to specify in pod as what secrets y

[2015-12-16 15:09] kramarz commented on #12025
I have the same problem and using python 2.7.10 is not a solution for me. I want to have docker image with all my deployment scripts. It includes extracting kubernetes scripts. Installing older python there just because of  removing print statement in newer version is stupid. It make my docker image more complicated and larger in its size. Can we just update all calls to python -c so they use only

[2015-12-16 15:14] liggitt commented on #18720
disagree... pods/proxy subresource is preferred, even for 1.0

[2015-12-16 15:19] mwringe commented on #13873
What exactly is the reason this can't be assigned to @burmanm ? Is there something that needs to be changed with his account?

[2015-12-16 15:37] Smana opened #18758 "Failing to get stats from docker, error 500"
Hello all!

i just noticed a lot of errors on my kubelet logs like the following ones :
[code]

I use heapster to monitor the cluster and it seems that the call for 'stats' gets an answer but it is considered as an error 500 for an unknown reason.

I run a cluster on bare metal servers.
kubernetes version : v1.1.3
docker: 1.9.1
os : debian 8.1

Thanks for your help
Smana

[2015-12-16 15:38] rsokolowski commented on #18734
@fgrzadkowski and @wojtek-t confirmed that this is expected behavior for pods in terminal state (Failed or Success).
While discussing the issue we've realized that the pods actually got scheduled on a node with appropriate label, but then they got immediately terminated (likely by Kubelet). This has happened multiple times in short period of time (few seconds) until the newest pod wasn't terminate

[2015-12-16 15:38] #18734 closed

[2015-12-16 15:50] roberthbailey commented on #13048
@brendandburns and I discussed an alternative, which is to make (at least some of) the common system pods auto-size themselves. Heapster, for instance, is collecting metrics about the cluster, so it should have a pretty good idea about how many nodes / pods / etc exist and need to be monitored. It could decide that it needs to scale itself up/down, change it's pod definition, and then reschedule i

[2015-12-16 16:04] liggitt opened #18760 "Restore ability to run against secured etcd"
https://github.com/kubernetes/kubernetes/pull/18383/files#r47793705 removed the `--etcd-config` option from kube-apiserver, which breaks backwards compatibility and removes the ability to run against a secured etcd server.

Ideally, the etcd client package would provide a `ConfigFromFile` helper that would do the deserialize to support legacy config files, but even if they don't, we need to.

@tim

[2015-12-16 16:07] bigkraig commented on #18019
I think we make it clear in the documentation that you should use the hostname and forget about IPs when dealing with ELBs.

[2015-12-16 16:15] nballotta opened #18761 "Can't replace a pvc"
Hi, I'm trying to change the size of a pv and a pvc. The pv went well, but I can't change the pvc size.

This is what I've done.

[code]

This is the yaml I try to replace the pvc with:

[code]

It's a bug or I'm missing something?

[2015-12-16 16:25] deads2k opened #18762 "Creating a new API group is really hard"
Creating a new API group is really hard.  I'll keep this description up to date as I go through the pain.
1. You have to know to add yourself to the `import_known_versions.go` files in multiple packages to get included.
2. You have to manually update these files to get the generated output:
   1. `hack/after-build/update-generated-conversions.sh`
   2. `hack/after-build/update-generated-deep-copie

[2015-12-16 16:41] #4822 closed

[2015-12-16 16:59] wojtek-t commented on #18608
Tests are stable now. Closing this issue.

[2015-12-16 16:59] #18608 closed

[2015-12-16 17:05] pmorie commented on #7562
@kubernetes/rh-storage

[2015-12-16 17:12] #18041 closed

[2015-12-16 17:38] yujuhong commented on #18739
It's my bad. I bumped the test from 35 to 40 pods per node, but the default --max-pods in kubelet is 40. For a GCE test cluster, we set the flag to >100. I will bump the default max pods in kubelet.

[2015-12-16 17:40] xiang90 commented on #18754
@HardySimpson The result is roughly the same as we observed.

So it is necessary to make scheduler parallel across pod.

For a single scheduler, latency*throughput=1 might not hold true if we start to do batching.
Second, kubelet can only schedule pods after scheduler schedules the pods. If kubelets consumes pod MUCH faster than scheduler, that is fine. Scheduler does not have to keep up with kube

[2015-12-16 17:42] kargakis commented on #13038
This is added in https://github.com/kubernetes/kubernetes/pull/18101

[2015-12-16 17:44] miry commented on #12984
I had similar problem:

[code]

where `10.0.8.2` is DNS from AWS.

Built cluter with:

[code]

I think something wrong with routes in VPC.  So sky dns could not reach it.

[2015-12-16 17:45] #18738 closed

[2015-12-16 17:48] miry commented on #12984
[code]

[2015-12-16 17:48] andyzheng0831 commented on #16702
Status update: RP #18485 was merged recently. More changes are under preparation.

[2015-12-16 17:53] mikedanese commented on #18755
`kubectl get endpoints <service-name> -o json` is pretty easy to parse. What type of response would you expect to get back from a query like this?

[2015-12-16 18:05] Random-Liu commented on #18479
Close this since this has been resolved in #18518

[2015-12-16 18:05] #18479 closed

[2015-12-16 18:09] bobbyrullo commented on #18549
I see what you're saying @liggitt, though the attack vector is not clear to me.

So then w/r/t refresh_tokens the alternatives I see are:
1. Every kubectl user gets their own client id and secret. This seems like a pain to manage and is just as insecure (since all the secret bits are in one place).
1. APIServer or some other Kubernetes component stores the refresh token. How this flow would work i

[2015-12-16 18:20] ckemmler opened #18768 "1.1.4-beta.0: Vagrant: Error, some other host already uses address 10.245.1.3"
Hi,

I am trying to get kubernetes to run on my mac (Yosemite) using 1.7.4. I'm trying to run a reasonably recent release in order to  get past some configuration issues related with accessing a private docker repo (see http://stackoverflow.com/questions/34290528/kubernetes-pullimageerror-using-docker-hub-with-a-private-image/34293911#34293911).

With release 1.1.4-beta.0, here's what I bumped int

[2015-12-16 18:29] maclof commented on #18760
+1 I need this functionality

[2015-12-16 18:33] jayunit100 commented on #18768
does vmware do something weird like  of temporarily binding the guest address to the host?

[2015-12-16 18:33] huang195 opened #18769 "Proposal to create a generic interface from kubelet to cadvisor"
# Proposal to create a generic interface from kubelet to cadvisor
## 1. Background

cadvisor was integrated with kubernetes in issue #4798, which made
the deployment of kubernetes simpler and out-of-box UX smoother for new
users. However, at the same time, it created a tight coupling between
kubelet and cadvisor. We'd like create a generic interface so that other
container health checking tools ca

[2015-12-16 18:35] huang195 commented on #18769
cc @vishh @yujuhong @dchen1107 @thockin

[2015-12-16 18:46] ihmccreery commented on #18720
@feihujiang The e2e tests need to be backwards-compatible so that we can test upgrades and version-skewed cluster between 1.0 and master.  In order to do so, we want to make sure that pods created before an upgrade continue to function during and after an upgrade.  We have to run tests at some version, and we've decided that the appropriate version to run them at is the higher version.  (This make

[2015-12-16 18:46] soupdiver commented on #18755
Yeah, both outputs are similar :)

I don't get your question. `What type of response would you expect to get back from a query like this?` The output of the command is totally fine!

I tried to describe a use case I have and how I solved it (getting the IPs and query them manually).
I thought if there is a way already, which automatically forwards a request to all endpoints and not only one.

Do y

[2015-12-16 18:54] vishh opened #18770 "Standalone cAdvisor for monitoring"
As of Kubernetes v1.1, and possibly v1.2 as well, cAdvisor is linked into kubelet.
Kubelet groups detailed cAdvisor metrics into pods and nodes and exposes them via REST endpoints (`/stats`)

Monitoring is resource intensive. There are currently several issues filed against kubelet around resource usage which are mostly related to cAdvisor's resource consumption.
Support for custom metrics adds si

[2015-12-16 18:58] mikedanese commented on #18755
When you make a boradcast request to all pods in a service through the service VIP, what type of response would you expect. Return the first to complete? Wait for all to complete then return all their responses concatenated? etc.

[2015-12-16 19:04] cjcullen opened #18771 "Kubectl docs (long help) would look better if they coud use markdown"
Our long command text doesn't look good when translated to markdown. (see [config.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/config.go#L71) which gets turned into [kubectl_config.md](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_config.md#synopsis)). It'd be wonderful if we could use markdown syntax in our long help so tha

[2015-12-16 19:04] cjcullen commented on #18771
@jlowdermilk

[2015-12-16 19:14] ckemmler commented on #18768
I'm not sure I understand the question and/or how I would be able to verify this. However, I just deleted all other vms managed by vmWare before running kube-down.sh and then kube-up.sh. I also shut down the VirtualBox vm that docker-machine uses but it doesn't change anything. Here's the result:
[code]
Please tell me if there's anything else I can do to help.

[2015-12-16 19:19] yujuhong commented on #18769
@huang195, first of all, I like a cleaner, more well-defined interface. That's always welcome.

I'd like to know what your use case is because we want to keep cadvisor for collecting the core metrics essential to kubernetes (e.g., scheduling). Users can use other monitoring tools/pipeline for the advanced/custom metrics. More details are in #18770. Given that, do you still want to swap out cadviso

[2015-12-16 19:19] roberthbailey commented on #12025
We have the same code in [common.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/common.sh#L171) which is used for GCE/AWS and presumably has the same issue. We should refactor the centos script to use the common function and then fix the python snippet in the common function to work consistently in python 2.7 and python 3 (if possible). If that isn't possible, then maybe we shoul

[2015-12-16 19:22] Calpicow commented on #11543
+1 any progress?

[2015-12-16 19:26] tnine opened #18774 "Kuberentes client no longer compiles due to change in docker repo"
Hi all,
  I'm attempting to write some kubernetes clients in go.  I'm attempting to download the latest client, and it fails with the following error.

[code]

It appears the "ParseRepositoryTag" function has been removed from the latest docker client.

[2015-12-16 19:28] jayunit100 commented on #18768
Ive seen some hypervisors do strange things during networking spinning up VMs.
Does vbox work for you?
That might be an easier solution temporarily?

[2015-12-16 19:40] jlowdermilk opened #18775 "[e2e failure] GCE L7 LoadBalancer Controller"
This has been failing consistently in [kubernetes-e2e-gce-flaky](http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flaky/) since yesterday

The failure is
[code]

[2015-12-16 19:40] pmorie opened #18776 "Determine the fate of nsenter_mount.go"
Now that mount propagation mode control is merged into docker and will be released with 1.10, we should begin considering what the eventual fate of nsenter_mount.go is.  A couple things to consider:
1.  We'll need to retain this to support pre-1.10 dockers
2.  Does it have utility for other runtimes?  I created an issue for rkt to support controlling the propagation mode of bind-mounts into rkt po

[2015-12-16 19:42] tnine commented on #18774
After going through the history, it appears it was removed in this commit.  It's been removed here.

https://github.com/docker/docker/commit/4352da7803d182a6013a5238ce20a7c749db979a#diff-8a4a471eeec9e5954d06c11472eb5044L113

However, there doesn't appear to be any documentation on where equivalent functionality is provided.

[2015-12-16 19:45] huang195 commented on #18769
@yujuhong I like the proposal in #18770, and I think it is orthogonal to this one. Perhaps the generic interface I'm proposing should be broken down to 2 parts: core and advanced, where each is pluggable. This gives a lot of flexibility, e.g., use cadvisor for core, and mock for advanced (e.g., this would make our debugging in #16296 much simpler without any code changes); or a custom tool for cor

[2015-12-16 19:50] spxtr opened #18778 "Pod Disk tests are taking too long"
The four tests in `tests/e2e/pd.go` are taking about 24 minutes to run in `kubernetes-e2e-gce`, which is about a quarter of the time to run the entire suite. The four tests are taking roughly two minutes, three minutes, eight minutes, and ten minutes individually. They are spending the majority of their time waiting for pods to start running.

Should we move these to the slow suite?

Assigned @ixd

[2015-12-16 19:56] quinton-hoole opened #18780 "Proposal: Split issue Priority into Importance and Urgency"
cc @thockin @goltermann @bgrant0607 @smarterclayton

Status Quo
=========
Currently we apply a single **Priority** label to every issue, and (somewhat inconsistently) use that as a work queue mechanism for the project.  Each person in theory tries to work on a priority/P0 issue, and if there are none of those, or they're all already being worked on, or the person does not have the required skills

[2015-12-16 20:00] quinton-hoole commented on #18780
@aronchick FYI

[2015-12-16 20:05] quinton-hoole commented on #18780
#18764 is what prompted this.

[2015-12-16 20:31] nishantsny commented on #18620
It looks like these issues have a dependency on the metrics API. We have used heapster metrics API in our code, and would like to help in its integration. Also, we will keep a lookout for the issues to be filed by vishh.

[2015-12-16 20:34] ncdc commented on #18605
I helped Paul out a bit on this one. The issue on osx is that `du` doesn't support `-B`.

[2015-12-16 20:35] pmorie commented on #18605
Looks like we can use `BLOCKSIZE` environment variable instead, but I wonder if shelling out to `du` is the right solution for this.  Seems fragile.

[2015-12-16 20:40] ncdc commented on #18774
Kubernetes uses Godeps to vendor in dependent code, such as `github.com/docker/docker`. We bump the vendored code and fix any breakages at that time. Unfortunately, when you're trying to use something that just imports `k8s.io/kubernetes` and have it work with `github.com/docker/docker` both at HEAD, you may run into an issue like this. In the short term, if you can use Godeps, you can version loc

[2015-12-16 20:41] ckemmler commented on #18768
Yes, I've got no issues with VMWare whatsoever and I'm using it all the time with Vagrant. OTOH I just tried to create the cluster with VirtualBox and here's what I get eventually:

[code]

I don't want to use GCE nor AWS as we have a hard requirement to target a private cloud.

Thanks!

Candide

[2015-12-16 20:41] ncdc commented on #18774
And btw, ParseRepositoryTag was replaced with `reference.Parse*` from `github.com/docker/distribution`

[2015-12-16 20:42] ncdc commented on #18769
cc @kubernetes/rh-cluster-infra

[2015-12-16 20:42] ncdc commented on #18770
cc @kubernetes/rh-cluster-infra

[2015-12-16 20:54] quinton-hoole commented on #18119
Bear in mind that different Jenkins jobs require different project quotas (e.g. scalability tests require lots of VM's, routes etc).  So I'm guessing that you'll need a few pools, each with different quotas.

[2015-12-16 20:57] mzupan commented on #18652
Here is the command I'm trying

[code]

I don't see any connections going out if I keep it open 10 minutes.

[2015-12-16 21:02] yujuhong commented on #18769
/cc @kubernetes/goog-node

[2015-12-16 21:09] jayunit100 commented on #18768
ok.  I think this is a vagrant issue more than anything else.
- could be el capitan related ?
- make sure VMWare is completely disabled/turned off, and try to get it working with VBox.
- Share all your vagrant/vbox version info.

[2015-12-16 21:12] yifan-gu commented on #18776
cc @aaronlevy

[2015-12-16 21:12] timstclair commented on #18769
I'm assuming by "advanced" you mean the extra metrics which are non-essential to k8s functionality, and are just provided for monitoring & introspection (as described in https://github.com/kubernetes/kubernetes/issues/18770). If that's the case, you shouldn't need to mock the advanced part, since there shouldn't be any dependencies on it. We'd like to have it running in a separate pod which can si

[2015-12-16 21:17] erikswanson opened #18785 "EBS volume mount failures due to "... already attached to an instance" are not retried"
I'm testing out how Kubernetes handles minion faults with regards to EBS persistent volumes.

## Test Case

*   Create EBS volume with `aws ec2 create-volume ...`
*   Launch a replication controller with replicas=1 that references the volume.
*   Wait for the pod to be successfully started, optionally use it a bit. (In this case I set up a replication controller-based version of the mysql + wordpr

[2015-12-16 21:20] dchen1107 commented on #18776
cc/ @thockin @saad-ali

[2015-12-16 21:20] ckemmler commented on #18768
I share your suspicions. I restarted my laptop and the problem seems to have gone away.

Thanks for your help!

Candide

[2015-12-16 21:20] #18768 closed

[2015-12-16 21:21] dchen1107 commented on #18776
For cross-ref: https://github.com/docker/docker/pull/17034

[2015-12-16 21:35] mml commented on #5164
I like this idea as a starting point, but it will stop scaling up once the control loop needs to be made persistent, check for errors, retry, etc.  Once we have the CLI version implemented, do we have a model in mind for what we tell users when they get to that point?

[2015-12-16 21:41] mml commented on #1899
It's likely that any standard way of expression "wait for $condition" would be useful in future implementations of #17393.

[2015-12-16 21:51] huang195 commented on #18769
@timstclair Thanks for the clarification. It's what I meant by "advanced". It seems a generic interface for the "basic" metrics collector is desired, so that we can plug different tools, including cadvisor, mock, and other collectors. Further optimizations can be done at individual driver level behind this generic interface.

Just to be more concrete, "basic" metrics include NumCores, MemoryCapaci

[2015-12-16 21:53] ncdc opened #18787 "Kubelet should enforce access to images after they've already been pulled to a node"
# Problem statement

Some images require pull secrets in order to be used by the Kubelet. Pull secrets are per namespace. Imagine the following scenario:
1. If a pod in namespaceA has valid pull secrets for `foo/bar:stable`, when it is scheduled to a given node, the Kubelet uses the pull secrets to pull the image to the node
2. If a pod in namespaceB also refers to `foo/bar:stable` but does not ha

[2015-12-16 21:55] drocsid commented on #1319
@cognitiaclaeves As suggested, first make sure the DNS addon is deployed and working on your cluster. Then you would deploy the registry addon after. Finally, what are your goals for using the registry. I wanted to build containers from within containers, and therefore had some more difficulties. Feel free to contact me via email, and I'm often on the #kubernetes-users slack channel if you want to

[2015-12-16 21:57] smarterclayton commented on #18605
Could just disable the test on macs.

On Wed, Dec 16, 2015 at 3:57 PM, Paul Morie <notifications@github.com>
wrote:

[2015-12-16 22:00] ncdc commented on #18754
cc @timothysc @jeremyeder

[2015-12-16 22:16] nikhiljindal opened #18788 "docs.k8s.io is still pointing to v1.0 docs"
docs.k8s.io takes me to http://kubernetes.io/v1.0/docs/
We should update it to redirect to http://kubernetes.io/v1.1/docs/

Not sure how it is setup

cc @caesarxuchao @janetkuo

[2015-12-16 22:20] timothysc commented on #18760
Well to be complete, the etcd client removed the behavior.  The question is where are the boundary lines.

[2015-12-16 22:26] yujuhong commented on #18769
AFAIK, the basic per-container cpu&memory (or even disk) usage stats will still be considered as "core/basic" to kubelet, and the built-in cadvisor will continue serving them. I wouldn't mind if we split the cadvisor interface into machine information, container stats, etc.

I agree that a cleaner interface would help code readability and mocking. On the other hand, since we are going to use only

[2015-12-16 22:26] #18530 closed

[2015-12-16 22:29] timothysc opened #18791 "kube2sky go-etcd dependency"
kube2sky is the only leftover that has a dependency on go-etcd, this is a note that owner should update to latest client in order to remove the godep.

[2015-12-16 22:30] timothysc commented on #18754
This is pretty much a dupe of #18418.

[2015-12-16 22:40] erictune commented on #9124
This is https://github.com/coreos/go-systemd/pull/49

[2015-12-16 22:40] erictune commented on #9124
Need to remove underscores from container name.

[2015-12-16 22:46] huang195 commented on #18769
@yujuhong yes, we're planning to use our custom monitoring tool to collect both the basic and advanced metrics information in a kubernetes-on-mesos environment, where there could be multiple frameworks running at the same time. The custom monitoring tool would allow us to pay for monitoring cost once, not per framework.

[2015-12-16 22:46] yifan-gu commented on #18776
@pmorie On rkt side, we are adding new command `rkt fly` to launch images in host namespace.
https://github.com/coreos/rkt/pull/1833

Here you can find a recorded demo from today's rkt community sync, (demo about running kubelet using `rkt fly` started from 13min)
https://youtu.be/NMJTtg93PNY?t=13m41s

[2015-12-16 22:47] yifan-gu commented on #18776
cc @steveeJ @jonboulle

[2015-12-16 22:56] huang195 commented on #18769
One other point is that conceptually when we separate the basic vs. advanced metrics collection interfaces, we could potentially use 2 different tools to collect these information, e.g., use cadvisor to collect basic information and a custom tool for collecting the advanced stuff. But from deployment and operational point of view, it would be much easier to deploy/use 1 tool for collecting both ty

[2015-12-16 23:08] ixdy commented on #18778
@saad-ali anything we can do here?

[2015-12-16 23:11] mml commented on #17097
In order to evaluate APIs against each other, it would be useful to keep a canonical list of defaulting/restricting/ranging policies.  Actually two lists:  real requests from users and requests we can reasonably imagine arising.

[2015-12-16 23:12] liggitt commented on #18760
The client still supports it. We adopted the etcd client config file as our own by surfacing it as an arg.

[2015-12-16 23:20] tnine commented on #18774
Hi @ncdc Thanks for the help.  I've been playing around with this and not having a lot of luck.  I've tried the following.

1. Clone the source
1. ``` git checkout v1.1.3```
1. ```./hack/build-go.sh```
1. ```cp -r Godeps/_workspace/ $GOPATH/``` to copy the dependencies and the source to my local gopath
1. ```godeps save``` in my own project to copy them from my global $GOPATH into my dependencies.