[2018-11-15 19:39] lavalamp commented on #71083
Actually let's dedup to https://github.com/kubernetes/kubernetes/issues/61326.

[2018-11-15 19:39] #71083 closed

[2018-11-15 19:39] 2rs2ts commented on #60807
@javierprovecho I was merely playing around with metrics server and since it wasn't working I tried to delete the service and whatnot but my namespace still won't delete, error is

[code]

Do you know how to recover from this state?

[2018-11-15 19:40] lavalamp commented on #61326
I set the milestone to 1.14; let's try to get this out as soon as master reopens so we have lots of soak time.

[2018-11-15 19:40] timothysc commented on #61326
/assign @jpbetz @wojtek-t @timothysc
/sig scalability
/sig cluster-lifecycle
/area kubeadm

/cc @kubernetes/sig-cluster-lifecycle

[2018-11-15 19:40] lavalamp commented on #61326
/assign @jpbetz @timothysc @wojtek-t

[2018-11-15 19:42] timothysc commented on #61326
/cc @gyuho

[2018-11-15 20:02] steven-sheehy commented on #70543
I saw this happen as well in Kubernetes v1.11.4. In my case it changed to a random StatefulSet pod name.

[2018-11-15 20:12] antoineco commented on #60807
@2rs2ts
[code]

By getting rid of the non-functioning `metrics` API service the controller-manager will be able to delete the stale namespace(s).

[2018-11-15 20:36] 2rs2ts commented on #60807
@antoineco no, it was necessary; I deleted the apiservice and waited quite a while but the namespace would not be deleted until I restarted the control plane.

[2018-11-15 20:57] wongma7 opened #71091 "VolumeScheduling unit tests assume the feature gate is off"
**What happened**: Tests pass/fail depending on what tests run before them. If VolumeScheduling is on, StorageClasses must have a VolumeBindingMode field. If it is off, it can be nil.

**What you expected to happen**: Test pass/fail determinstically

**How to reproduce it (as minimally and precisely as possible)**: ref: https://github.com/kubernetes/kubernetes/pull/65829

**Anything else we need t

[2018-11-15 20:58] wongma7 commented on #71091
/sig storage

[2018-11-15 21:00] soltysh commented on #70709
Yes, you need to update https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/polymorphichelpers/canbeautoscaled.go to handle STS

[2018-11-15 21:10] msau42 commented on #71091
@lichuqiang could you help look at this?

[2018-11-15 21:13] AishSundar commented on #70319
@jingxu97 @nikopen Unfortunately Code freeze means a blanket freeze for any kind of PR into k/k unless its highly critical and affects the stability of 1.13.

If we think this issue is not a major blocker foe 1.13 and we can live with it until 1.13.1, RT will not be approving this into master post tomorrow's freeze.

@saad-ali @msau42 to clarify the severity and priority of this having to go in 1.

[2018-11-15 21:16] msau42 commented on #70319
Fixing this in a patch release is fine.  This is an issue that has existed in kubernetes for many releases now.

[2018-11-15 21:17] AishSundar commented on #70912
#10145 merged ! So ww should hopefully see 1.13 upgrade jobs cleanup as well in next few runs

[2018-11-15 21:21] smaslennikov commented on #30961
I got this error for improper tabbing:

**Wrong**:
[code]

**Correct**:
[code]

[2018-11-15 21:39] gnufied commented on #70319
@saad-ali @msau42 as I was saying - the bug is not in the path you described, it exists somewhere else. Before we start mount operation for an attachable volume, via `VerifyControllerAttachedVolume` we add the volume to actual state of the world of volume manager. So even if pod was deleted before mount could finish - the volume still is *in actual_state_of_world* and hence should be reported as `

[2018-11-15 21:51] fedebongio commented on #70972
/cc @logicalhan to comment on his fix

[2018-11-15 21:52] fedebongio commented on #71016
/cc @lavalamp @cheftako

[2018-11-15 21:54] fedebongio commented on #71065
/cc @fedebongio

[2018-11-15 21:55] logicalhan commented on #70972
@AishSundar if policy bootstrapping being the cause of this test failure, then #71054 should help. I suspect @mikedanese can answer this more accurately than me though.

[2018-11-15 22:08] msau42 commented on #65246
PR to fix csi is here: https://github.com/kubernetes/kubernetes/pull/71095

[2018-11-15 22:08] cblecker opened #71096 "Remove direct read access to kubernetes/kubernetes"
The following users have direct read access to kubernetes/kubernetes:
@alexandercampbell
@blakebarnett
@chrisglass
@davidz627
@dbalexandre
@dnardo
@droot
@fasaxc
@font
@gaughen
@josvazg
@juanvallejo
@ktsakalozos
@MikeSpreitzer
@OddBloke
@oomichi
@paulczar
@philroche
@pmichali
@prateek
@rcj4747
@robertojrojas
@seans3
@svanharmelen
@tgraf

I will be looking at removing this access on Tuesday Novembe

[2018-11-15 22:15] mwringe opened #71097 "Ability to get accessible namespaces based on RBAC"
Originally created the issue in kubernetes/community and asked to open the issue here instead.

The old issue is available here: https://github.com/kubernetes/community/issues/2942

**What would you like to be added**:

The ability to be able to get a list of namespaces that a current user has access to based on their RBAC permissions. This is manly for being able to give users a list of namespace

[2018-11-15 22:17] msau42 commented on #71091
/assign

[2018-11-15 22:20] StefanSchubert commented on #57801
Seems to be still a problem. k8s 1.12 and imagePullSecret does not work and also is not known by deployments apiVersion: apps/v1

So private registry => kills deployment as structure? really?

[2018-11-15 22:23] lavalamp commented on #27114
Rather than add a second probe or redefine what readiness means, if we wanted to do something here, I'd add a `maxInitialFailureCount int` to the existing probe. With the mechanic that the probe may fail that many times initially but as soon as it succeeds, it will use the ordinary failure count. Kubelet would have to keep a bit of state to implement this.

[2018-11-15 22:29] gladiatr72 commented on #57923
/remove-lifecycle rotten

[2018-11-15 22:55] AishSundar commented on #70912
Annnd, i see the new parallel jobs passing in 1.13 https://k8s-testgrid.appspot.com/sig-release-1.13-all#gce-1.12-1.13-upgrade-cluster-parallel

Lets wait for the non-parallel ones to pass in the next run before we close this.

[2018-11-15 22:59] #69039 closed

[2018-11-15 22:59] #71044 closed

[2018-11-15 23:06] kiich commented on #50608
I'm also seeing 1 specific annotation not taking effect even at creation time/update time
[code]
Using kube 1.9.3 though so wasn't sure if that annotation is supported (which I assumed it was).

Have also tried adding it 1 by 1, so first only have the external dns one and then the backend-protocol one, which does not work for me.

[2018-11-15 23:18] holmesb opened #71098 "Can't create secrets "from-env-file" containing multi-line value"
I'm trying to create a secret from an environment variables file (containing key=value pairs) using: `kubectl create secret generic --from-env-file`.  One key is a private key so its value spans multiple lines.  How can I do this?  I have tried enclosing the value in single quotes, ie:
[code]
likewise double-quotes.  A here-string doesn't work, ie:
[code]
I've also tried replacing the end-of-lines

[2018-11-16 00:29] chunyenlin commented on #71087
/sig api-machinery

[2018-11-16 00:31] blakebarnett commented on #71096
Nevermind, I see the new requirements, I'll figure it out :)

[2018-11-16 01:00] #40869 closed

[2018-11-16 01:02] cblecker commented on #71096
@blakebarnett If I can help in any way, please let me know :)

[2018-11-16 01:05] font commented on #71096
@cblecker Any idea why those of us that are @kubernetes org members had redundant direct access?

[2018-11-16 01:08] saad-ali commented on #71031
Do you have sample of the log spam? That will help us figure out the culprit component.

[2018-11-16 01:09] cblecker commented on #71096
@font Best guess is that it's likely legacy access from when the kubernetes repo was under Google's direct control. Can't be 100% sure though.

[2018-11-16 01:10] mtaufen commented on #61674
/remove-lifecycle rotten
/lifecycle frozen

On Wed, Nov 14, 2018 at 10:31 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-11-16 01:21] zhangxiaoyu-zidif commented on #55045
janet kuo tell me that I should write a proposal for this during KubeCon Shanghai. Doing this...

[2018-11-16 01:32] resouer commented on #71013
Thanks @Huang-Wei ! Actually I've set up a tracking issue for the new design of equivalence class and the clean up of old code is the first task. So let me handle it.

[2018-11-16 01:33] Huang-Wei commented on #71013
Sure, that's totally fine, I suppose that's a pre-task for your implementation.

[2018-11-16 01:48] Huang-Wei commented on #70450
One thing I'm curious is from the log it points to L386 of node_info.go:

https://github.com/kubernetes/kubernetes/blob/bf9a868e8ea3d3a8fa53cbb22f566771b3f8068b/pkg/scheduler/cache/node_info.go#L386

[code]

Then it means `n.requestedResource` is nil, but should't `n.requestedResource.Clone()` give a panic trace at the first call inside `n.requestedResource.Clone()`? Say:

https://github.com/kuber

[2018-11-16 02:03] bsalamat commented on #70450
No, in Go if n.requestedResource is nil, you will get a stack trace similar to what is given in this issue.

[2018-11-16 02:06] ping035627 commented on #66542
https://gubernator.k8s.io/pr/70973

My pr encountered this problem: pull-kubernetes-e2e-kops-aws failed.

[2018-11-16 02:29] dims commented on #71031
@saad-ali there's an example in https://github.com/kubernetes/kubernetes/issues/69015

[2018-11-16 02:48] mtaufen commented on #9085
This appears to still be true. I tried `kubectl delete node <name>` and Kubelet does not appear to recreate the node object.

@dchen1107

[2018-11-16 02:55] mtaufen commented on #9085
/lifecycle frozen

[2018-11-16 02:57] ravisantoshgudimetla commented on #71086
I assume, the master is also running on 1.11. Also, can you provide the ds pod spec? Wonder if any default tolerations got applied to the pod or if the pod is critical pod

[2018-11-16 02:59] msau42 commented on #65246
Only #71095 is needed to fix this particular test failure.

[2018-11-16 03:11] roywangtj commented on #45419
Which version of kubernetes-cni will include the fix? Thanks!

[2018-11-16 03:58] msau42 opened #71105 "Refactor online volume resize unit tests to be table driven"
**What happened**:
These test cases are very hard to follow because they keep toggling the feature gates on and off, and subsequent test cases depend on the behavior of the previous.

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-16 03:58] msau42 commented on #71105
/assign @gnufied

[2018-11-16 03:58] msau42 commented on #71105
https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go#L466

[2018-11-16 04:38] liggitt opened #71108 "tests must use SetFeatureGateDuringTest instead of DefaultFeatureGate.Set"
while reviewing tests in #65829, we realized some unit tests originally set up to test behavior when an alpha gate was enabled, were leaking changes to feature gates out of their packages by attempting to reset them to the old, default, disabled values.

there is a test utility that allows setting a gate to a value and automatically reverting to the original value when the test is complete:

[code

[2018-11-16 04:38] liggitt commented on #71108
/sig testing
/sig api-machinery

[2018-11-16 04:40] liggitt commented on #71108
cc @msau42

[2018-11-16 05:08] q6413260 opened #71112 "avoid useless calculates in CalculateInterPodAffinityPriority func"
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/11553677/48598964-9514af00-e9a0-11e8-979d-0482d430b61f.png)

**Why is this needed**:
in CalculateInterPodAffinityPriority func，I think we don’t need to calculate all nodes。
we only need to calculate the filteredNodes to avoid useless calculate？

/kind feature

[2018-11-16 05:14] q6413260 commented on #71112
sig/scheduling

[2018-11-16 05:16] MartinForReal opened #71113 "rbd mount fails inside containerized kubelet"
**What happened**:
kubelet failed to load rbd plugin when kubelet runs in a container.

**What you expected to happen**:
kubelet should load all it need in order to process pv related operation sucessfully

**How to reproduce it (as minimally and precisely as possible)**:
use rke to setup a kubernetes cluster. and create pv using rbd

**Anything else we need to know?**:
related issue:  https://git

[2018-11-16 05:17] MartinForReal commented on #71113
/sig storage

[2018-11-16 05:18] q6413260 commented on #71112
/sig scheduling

[2018-11-16 05:19] v1c77 commented on #16995
you should use `bash | zsh | fish |.... ` but not `sh` to run k8s  shell scripts.

[2018-11-16 05:35] #68424 closed

[2018-11-16 06:46] RaviTezu commented on #70925
Hi @dims,
I would like to take this up.

[2018-11-16 06:59] AishSundar commented on #70760
@msau will you have a followup PR to enable the CSI alpha tests back? or is that already in flight?

[2018-11-16 07:04] AishSundar commented on #70972
@mikedanese can you please confirm if #71054 should help here as well?

[2018-11-16 07:05] rlagutinhub commented on #70601
really), after deleting this backup file /etc/kubernetes/manifests/kube-apiserver.yaml.orig
it works

for information https://github.com/dexidp/dex/issues/1336

[2018-11-16 07:05] #70601 closed

[2018-11-16 07:34] Lion-Wei commented on #70747
/assign

[2018-11-16 07:38] m1093782566 commented on #65820
Closing this issue in favor of #70747

[2018-11-16 07:44] gree-gorey commented on #71031
that's right, I have the same output, most of which are `error dial failed at socket` and `error could not find plugin for deleted file`, producing several lines a second indefinitely

[2018-11-16 07:49] Lion-Wei commented on #70747
Hi, @annProg @dawidmalina @m1093782566 , I raised a pr for this issue. Please check. : )
@jsravn Looking forward for your advise.

[2018-11-16 07:51] AishSundar commented on #69376
As per @kow3ns comment, moving this to 1.14

/milestone v1.14

[2018-11-16 07:54] AishSundar commented on #32727
@nikopen @jingxu97 is this still on track to go in by Code freeze 5pm PST tomorrow? I see #69432 is still open and needs a rebase.

Also would like to get an assessment of how critical it is for this to go in 1.13 vs a patch release?

[2018-11-16 07:55] AishSundar commented on #71052
Thanks @verult considering code freeze is tomorrow and we have a workaround, I am moving this to 1.14

/milestone v1.14

[2018-11-16 07:58] AishSundar commented on #71031
@saad-ali @dims @gree-gorey while this is something introduced in 1.13, how critical is it to be fixed in 1.13 vs a patch release? the reason I ask is, code freeze is less than a day away and at this point we are hoping #70494 would fix it. In the event of it not addressing this issue are we ok living with it until 1.13.1?

[2018-11-16 08:10] humblec commented on #70503
3.Some plugins use this for controlling if a volume is attached as readonly.>

@saad-ali state `2 and 3` are same.

[2018-11-16 08:15] AishSundar commented on #69015
@RenaudWasTaken how confident are we in getting this fixed by Code freeze tomorrow? 5pm PST

[2018-11-16 08:16] m1093782566 commented on #69957
cc @squeed

[2018-11-16 08:29] Huang-Wei commented on #70450
I read it differently. I wrote an example https://play.golang.org/p/qns6XeQGcOE, it shows deepest trace at L12, rather than L17.

[2018-11-16 08:42] ensonic commented on #7452
We run a http/2 reverse proxy to expose a on-prem api-server. This issues breaks kubectl exec and thereby also tools like helm.

[2018-11-16 08:50] WanLinghao commented on #68522
/cc

[2018-11-16 08:51] dixudx commented on #69856
@sbueringer @drigz @zegl I filed #71117 to fixed this. You can try to help validate it. Thanks.

[2018-11-16 08:57] mlmhl commented on #70319
Currently `VolumeManager` only considers globally mounted volumes as `in-use`: https://github.com/kubernetes/kubernetes/blob/a856c7ab1de1bed266cbeab5dec703105d1bf2d0/pkg/kubelet/volumemanager/volume_manager.go#L298, but `VerifyControllerAttachedVolume` sets `globallyMounted` to `false` when adding the volume to `ASW`: https://github.com/kubernetes/kubernetes/blob/a856c7ab1de1bed266cbeab5dec703105d

[2018-11-16 09:08] #34704 closed

[2018-11-16 09:09] drigz commented on #69856
Works for me!

[code]

[2018-11-16 09:14] nikopen commented on #65743
@liucimin feel free to prepare the Kubelet PR, it will then be easier to coordinate the full fix.

[2018-11-16 09:21] bboreham commented on #45419
A more focused issue just about timeouts is #65743

As I said there, the next step is on the Kubernetes side, to check that the change does indeed fix the issue, e.g. by writing a test.  No release is needed to check this: just pull in the latest libCNI code.

[2018-11-16 10:05] Evesy commented on #71086
Yeah, master is also 1.11

Pod template:
[code]

[2018-11-16 10:55] Leo-gred opened #71125 "how to connect Kubernetes and docker container."
i have Kubernetes local cluster. on one of Node, i have added docker containers /(using docker-compose.yaml file.)
if i run "docker ps" i can see all my RUN containers, but i can't add it to the dashuboard in Kubernetes, please help.
@kubernetes
@Docker

[2018-11-16 11:10] #65208 closed

[2018-11-16 11:56] #70305 closed

[2018-11-16 11:58] Bayangali opened #71127 "Kubernetes running OS cloned, on different machine can't start kubernetes"
Test OS where kubernetes where running has been cloned to be able to fast run on production environment. It's created as single master cluster.
On new machine hostname and ip address has been changed, though old hostname and ip address has remained in config files.
Have searched and found steps below:
1. `find /etc/kubernetes/ -type f | xargs grep $oldip` have return config files to change, by the

[2018-11-16 12:11] #65166 closed

[2018-11-16 13:00] luxas commented on #61326
Just to clarify here -- etcd 3.3.x _client_ is shipped in v1.13, and etcd 3.3.x _server_ is targeted for v1.14?

[2018-11-16 13:08] mosaicwang commented on #70334
I meet same question.I think kubelet not use /etc/hostname to resolve name,prefer use DNS,so kubelet cann't revolve node name.
env:
kubelet ver:1.12.2
os:centos 7.2

[2018-11-16 13:22] Leo-gred opened #71129 "how to connect local docker containers to local Kubernetes cluster"
i have Kubernetes local cluster. on one of Node, i have added docker containers /(using docker-compose.yaml file.)
if i run "docker ps" i can see all my RUN containers, but i can't add it to the dashuboard in Kubernetes, please help.
@kubernetes/sig-contributor-experience-<group-suffix>

[2018-11-16 13:32] dims commented on #70925
@RaviTezu go for it

[2018-11-16 13:42] zegl commented on #71129
@Leo-gred This is not supported. Only pods and containers managed by Kubernetes/kubelet will be visible on the dashboard (and other Kubernetes tools).

You can use ["static pods"](https://kubernetes.io/docs/tasks/administer-cluster/static-pod/) in a similar way as you're using docker-compose to schedule the containers locally, and to make the pods accessible by Kubernetes tools.

[2018-11-16 13:42] sumanmanuel commented on #70427
was just curious if anyone thinks this could trigger this scenario or is completely impossible?
I think this situation can happen and can be avoided if this case is handled or am i wrong?

[2018-11-16 13:44] zegl commented on #71125
Duplicate of #71129

[2018-11-16 13:45] gprashanthkumar opened #71130 "Failed create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "kube-flannel-ds-amd64-l2xjb": Error response from daemon: network host not found"
**What happened**:
Pod won't start. In logs its giving an following error messages:

Failed create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "kube-flannel-ds-amd64-l2xjb": Error response from daemon: network host not found

MountVolume.SetUp failed for volume "xtables-lock" : open /run/xtables.lock: The system cannot find the path specified.

when we l

[2018-11-16 13:49] gprashanthkumar commented on #71130
@kubernetes/sig-windows

[2018-11-16 13:55] msau42 commented on #70760
#71058 also reenables the tests

[2018-11-16 13:57] gprashanthkumar commented on #71130
/sig windows

[2018-11-16 14:09] msau42 commented on #71112
Please open a PR and sig scheduling can help review

[2018-11-16 15:11] sttts opened #71132 "Nested {any,one}Ofs + Not are not stripped in CRD validation -> OpenAPI conversion"
Compare https://github.com/kubernetes/kubernetes/pull/67205/commits/e0d4c65b538f90346c0ca5360931c06574369adf#diff-19681f6fc979e9acc3ee091c79e3a180R30. We need a recursive strip function.

I believe @mehdy had a walker objects for OpenAPI schema which could do this very easily.

[2018-11-16 15:15] msau42 commented on #71108
Another followup item is to update community development docs

[2018-11-16 15:17] q6413260 commented on #71112
@msau42 I just opened a RP, but the below image says
![image](https://user-images.githubusercontent.com/11553677/48629854-b5228d80-e9f5-11e8-886b-ea49794477c2.png)

could you tell me what does it mean ?

[2018-11-16 15:32] msau42 commented on #71112
It means that we are in code slush for the 1.13 release, so only planned or critical changes are allowed.  I would rebase your PR against the master branch and once we are out of 1.13 code freeze, then we can start merging changes for the next release

[2018-11-16 15:49] Nefelim4ag opened #71134 "Kubelet sometimes stop restarting static pods"
Kubernetes 1.9.11

Hi, i've moved our installation to static pods:
  * etcd
  * kube-apiserver
  * kube-controller-manager
  * kube-scheduler

Issue:
Sometimes kubelet silently stop restarting static pods,
and will continue restarting them again if i do:
  systemctl restart kubelet
  docker rm -f <failed pod>

In theory that happens in two different cases:
  * After pods has been crashing 10-20x t

[2018-11-16 15:50] Nefelim4ag commented on #71134
/sig node

[2018-11-16 15:59] nikopen commented on #69376
@AishSundar Isn't 'next release' the imminent one, v1.13?

[2018-11-16 16:06] dims commented on #7452
long-term-issue (note-to-self)

[2018-11-16 16:07] slmingol commented on #49387
Should this field selector work for other object types as well? Doesn't seem to work for pvc.

[code]

[2018-11-16 16:10] liggitt commented on #71087
/cc @deads2k

[2018-11-16 16:15] mml commented on #55453
/remove-lifecycle rotten

On Thu, Nov 15, 2018, 17:01 fejta-bot <notifications@github.com wrote:

[2018-11-16 16:29] msau42 commented on #69538
Sorry we're not planning this for 1.13

[2018-11-16 16:30] msau42 commented on #69539
Sorry we're not planning this for 1.13

[2018-11-16 16:30] nikopen commented on #69539
/milestone clear

[2018-11-16 16:31] nikopen commented on #69538
/milestone clear

[2018-11-16 17:02] drigz opened #71138 "Changing CRD validation causes existing WATCH requests to silently hang"
**What happened**:

If you establish a WATCH request on a list of CRs, then edit the CRD's `validation` object, you will stop getting MODIFIED events on the WATCH request. The WATCH request doesn't fail or report an error, but will not return more MODIFIED events until the request is restarted.

This causes problems for custom controllers, which become unresponsive until their requests expire.

**

[2018-11-16 17:04] drigz commented on #71138
@kubernetes/sig-api-machinery-bugs

[2018-11-16 17:09] Nefelim4ag opened #71139 "kube-controller-manager hung control loop sometime"
Kubernetes 1.9.11
etcd 3.3.9

/sig scheduling
- - -
Problem kube-controller-manager randomly stop sync loops, i.e. does not move forward on state of resources. Example:
Updated deployment does not create new RS to replace old, deleted old RS, will be recreated with old info.

If needed cluster looks like:
5 x etcd nodes <-> 5 x etcd grpc-proxy <-> 5 x kube-apiserver <-> envoy http2/grpc balancer <

[2018-11-16 17:13] astrieanna opened #71140 "RFC 952/1123 allows uppercase characters, but IsDNS1123Subdomain does not"
**What happened**:
[`IsDNS1123Subdomain`](https://github.com/kubernetes/kubernetes/blob/f3b98a08b05257fbc3c19b52ced70ea67c546b1e/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L135) and [`IsDNS1123Label`](https://github.com/kubernetes/kubernetes/blob/f3b98a08b05257fbc3c19b52ced70ea67c546b1e/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L116) do not allow uppe

[2018-11-16 17:14] astrieanna commented on #71140
/sig api-machinery

[2018-11-16 17:18] gyuho commented on #61326
@luxas Yes, etcd v3.3 client was merged here https://github.com/kubernetes/kubernetes/pull/69322, but etcd server bump-up to v1.13 never happened (hence targed for v1.14).

[2018-11-16 17:20] liggitt commented on #71140
we can change the documentation, but changing the validation rules isn't possible to do compatibly at this point

/kind documentation

[2018-11-16 17:21] liggitt commented on #71138
/cc @sttts

[2018-11-16 17:33] gnufied commented on #70319
@mlmhl yeah you are correct. This is basically same as issue @jingxu97 logged awhile back - https://github.com/kubernetes/kubernetes/issues/40887 .

I was able to reproduce this issue by introducing  a `time.Sleep` in Format step.

[2018-11-16 17:57] RenaudWasTaken commented on #69015
I expect things to wind up today, changes in the above PR aren't very contentious and don't involve significant changes

[2018-11-16 18:29] AishSundar commented on #65246
@jsafrane @msau42 can you please confirm if we are going to fix this using #71074 or #71095?

[2018-11-16 18:31] #71091 closed

[2018-11-16 18:40] astrieanna commented on #71140
@liggitt could you explain more exactly what would be incompatible?

[2018-11-16 18:47] ReSearchITEng commented on #60869
One needs to make sure all the modules are loaded on the host, so the processes in the pod won't be required to load the these kernel modules, as they are already loaded. See this: https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/roles/common/tasks/kernel_modules.yml

[2018-11-16 18:53] ravisantoshgudimetla commented on #71086
I think yes, we add tolerations to critical pods:

https://github.com/kubernetes/kubernetes/blob/d0c3cd182cffb3e722b14322fd1ca854a8bf62b0/pkg/controller/daemon/util/daemonset_util.go#L52

But to be fair, this should have been the case earlier as well, meaning before upgrading 1.11, this DS should have landed onto the node irrespective of taints. We'd check only essential predicates for critical po

[2018-11-16 19:05] lavalamp commented on #27114
Initial delay might be used today for pods where the liveness is flaky while they are starting, so I don't think it's good to change the semantic like that.

[2018-11-16 19:21] liggitt opened #71142 "Published CRD openapi does not inform kubectl explain or validation"
**What happened**:

https://github.com/kubernetes/kubernetes/pull/67205 started publishing crd openapi schemas.

**What you expected to happen**:

`kubectl explain` and `kubectl create` would make use of the schema information

**How to reproduce it (as minimally and precisely as possible)**:

1. create a CRD with a schema: `kubectl create -f staging/src/k8s.io/csi-api/pkg/crd/manifests/csinodeinf

[2018-11-16 19:29] liggitt opened #71143 "Published CRD openapi schema takes ~60 seconds to appear, increased test time significantly"
**What happened**:

#67205 started publishing crd openapi schemas.

**What you expected to happen**:

Schema information to appear quickly when a new CRD is created, and for the integration test added that tests this to complete quickly.

**How to reproduce it (as minimally and precisely as possible)**:

1. create a CRD with a schema: `kubectl create -f staging/src/k8s.io/csi-api/pkg/crd/manifests

[2018-11-16 19:29] liggitt commented on #71143
/sig api-machinery

[2018-11-16 19:29] ye commented on #49387
This field selector syntax is still confusing to me, for some reason I can't filter "Evicted" status positively (they can only be shown for not Running). What did I do wrong here?

I did read through https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/ still can't get it working.

[code]

[2018-11-16 19:29] liggitt commented on #71142
/sig api-machinery

[2018-11-16 19:30] liggitt commented on #71142
a way to add the GVK to the published schema was noted in https://github.com/kubernetes/kubernetes/pull/67205#issuecomment-439496573, but that does not resolve the issues with explain or kubectl validation.

[2018-11-16 19:35] roycaihw commented on #71143
The bottleneck is the controller re-queuing each successfully-updated item with [one-minute delay](https://github.com/kubernetes/kubernetes/blob/d0c3cd182cffb3e722b14322fd1ca854a8bf62b0/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go#L34). I'm checking if we can tweak that at least for e2e/integration tests.

[2018-11-16 19:36] msau42 commented on #65246
I discussed with @jsafrane offline, he has some suggestions for #71095 that I am investigating.  I think we will want both PRs eventually, although only one of them will be needed to fix the CSI test for now.  Since it's his off hours, I will continue working on #71095 today.

[2018-11-16 19:40] liggitt commented on #71143
that seems indicative of a real problem we'd want to fix in how the create CRD -> register API service -> publish schema flow works, not just something to artificially shorten in the tests

[2018-11-16 19:42] mbach04 commented on #69521
+1 Seeing this in 5 fresh OCP 3.11 deployments. The `glusterfs-registry` storage class is failing as a result of this.

[2018-11-16 19:46] davidz627 commented on #32727
@jingxu97 has been travelling recently. We'll try to get it in here: #71144

[2018-11-16 19:57] roycaihw commented on #71143
Openapi schema is aggregated/served on apiextensions-apiserver's handler immediately after CRD is created. It's fine from the aspect of viewing k8s.io/apiextensions-apiserver as an individual product.

The current work flow is kube-aggregator syncs openapi spec from apiextensions-apiserver every minute. This is also true for aggregated APIServices. Changes in openapi spec of aggregated APIServices

[2018-11-16 20:04] #70747 closed

[2018-11-16 20:15] ramnes commented on #33664
I naturally expected `kubectl apply --force` to do exactly that. Bummed that it's not the case, and even more that there is no proper alternative.

[2018-11-16 20:18] AishSundar commented on #65246
``` I think we will want both PRs eventually```
Are we talking 1.13 for #71074 as well?

[2018-11-16 20:19] #65232 closed

[2018-11-16 20:24] tanweernoor commented on #70447
any fix for this error ?

[2018-11-16 20:32] hb3b opened #71151 "Support OIDC token validation (introspection) in the API server"
**What would you like to be added**:
An OIDC option (optional) in the API server for validating OIDC tokens against a token introspection endpoint.

**Why is this needed**:
Administrators are unable to prevent Kubernetes from accepting signed ID tokens that have been revoked by an OIDC provider.

/kind feature
/sig auth

[2018-11-16 20:32] hb3b commented on #71151
/sig auth

[2018-11-16 20:46] mortent opened #71153 "[Failing Test] [k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 100 pods per node"
**Which jobs are failing**: https://k8s-testgrid.appspot.com/sig-release-1.13-all#soak-gci-gce-1.13

**Which test(s) are failing**:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-beta/481

Error:
[code]

**Since when has it been failing**: Started failing 11/13/2018

**Testgrid link**: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gc

[2018-11-16 20:46] StefanSchubert opened #71154 "private Registry does not work with Deployment Ressource"
Please reopen ticket #57801 - I believe the problem reoccured in v1.12
@area/kubelet-api

**What happened**:

kind Deployment does not care about private registry.

**What you expected to happen**:

Following the official guide to setup a private docker registry works with deployments, too.

**How to reproduce it (as minimally and precisely as possible)**:

Follow https://kubernetes.io/docs/concep

[2018-11-16 20:47] AishSundar commented on #71153
/milestone v1.13

[2018-11-16 20:54] AishSundar commented on #71153
/cc @dims @mkumatag @jingxu97 @dchen1107 @jberkus

@dims and @dchen1107 we are seeing this specific Kubelet test fail 90% on the 1.13 branch. I didnt see any recent change to the test itself, but want to get the failure checkout. Can one of you please triage and assign to the right owner? I am setting the priority as critical-urgent until its triaged otherwise. Thanks

[2018-11-16 20:58] roycaihw commented on #71142
I think we find the root cause: https://github.com/kubernetes/kubernetes/pull/67205#issuecomment-439524844. Working on a fix

[2018-11-16 21:14] MaxDiOrio commented on #68270
I'm going to add my 2c to this one.  I have had issues bringing up clusters, not where the IP goes missing, but internal/external IP's are set to the eth0 self-assigned IPv6 address and the only way to fix it is delete the node and recreate it.
https://github.com/rancher/rancher/issues/16597

[2018-11-16 21:20] #71132 closed

[2018-11-16 21:21] cheftako commented on #71016
/cc @wenjiaswe

[2018-11-16 21:51] liggitt opened #71159 "Published CRD openapi schema does not include kind, apiVersion, metadata fields"
**What happened**:

From https://github.com/kubernetes/kubernetes/pull/67205#issuecomment-439530024

This indicates that the required `kind`, `apiVersion`, `metadata` fields are not present in the published openapi schema for the custom type

/assign @roycaihw

/kind bug

[2018-11-16 21:51] liggitt commented on #71159
/sig api-machinery

[2018-11-16 22:07] dims commented on #70447
Please try now. with the move from glog to klog this problem got fixed

/close

[2018-11-16 22:07] #70447 closed

[2018-11-16 22:13] dims commented on #70180
/sig storage

[2018-11-16 22:16] msau42 commented on #71052
@kubernetes/sig-api-machinery-bugs

[2018-11-16 22:21] #61490 closed

[2018-11-16 22:30] hb3b opened #71162 "Support multiple OIDC ClientIDs on API server"
**What would you like to be added**:
Allow multiple ClientIDs to be defined for OIDC authentication or have the API server accommodate multiple OIDC configurations.
**Why is this needed**:
Multiple Independent applications with different contexts (web, CLI, native app) may be receivers of OIDC ID tokens. The API server can only be configured with a single ClientID and not all OIDC providers offer

[2018-11-16 22:36] roycaihw commented on #71159
Yes we definitely should include the meta fields. I'm working on a refactored version of https://github.com/kubernetes/kubernetes/pull/67205 which will included the fix.

Thinking of reusing some pattern in the [built-in restful.WebService construction](https://github.com/kubernetes/kubernetes/blob/3ea3cfc3bea08c425593a25533bf14c703f90420/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L16

[2018-11-16 22:38] Evesy commented on #71086
There is more than one node with this taint on it too, but only one of them ended up with a scheduled DS pod on it

[2018-11-16 23:29] msau42 opened #71164 "Return empty devicePath for CSI Attach()"
**What happened**:
Followup to https://github.com/kubernetes/kubernetes/pull/71095#issuecomment-439558701.  In 1.15, we can merge this commit: https://github.com/msau42/kubernetes/commit/068278f856ec54ec2493db6f7eb9e34750b1a434

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-16 23:37] davidz627 commented on #70852
Discussed with @leakingtapan and @saad-ali offline.

We will not be "fixing" this behavior.
That being said we are removing the dependency that CSI has on the `devicePath` field: https://github.com/kubernetes/kubernetes/pull/71095 and plan to deprecate the field (removal in 1.15).

With CSI drivers `devicePath` should be passed through the `volume_context` with any other context required to pass b

[2018-11-16 23:37] #70852 closed

[2018-11-16 23:41] msau42 commented on #71164
/assign

[2018-11-16 23:45] saad-ali commented on #70852
Clarification it should be passed as `publish_context` from `ControllerPublishVolumeResponse` to both `NodeStageVolumeRequest` and `NodePublishVolumeRequest`.

[2018-11-16 23:51] mortent opened #71165 "Use prometheus conventions for workqueue metrics"
**What would you like to be added**:
Workqueue metrics that follow prometheus best practices and naming conventions. So instead of naming metrics based on the name of the workqueue, create metrics for workqueues that use name as a label. Also use the recommended base units

Currently:
* **daemonset_depth** gauge
* **daemonset_queue_latency** summary (in milliseconds)
* **daemonset_retries** counte

[2018-11-17 00:06] tanweernoor commented on #70447
Hi there.. i am getting this error now
kubelet version
panic: http: multiple registrations for /debug/requests

goroutine 1 [running]:
net/http.(*ServeMux).Handle(0x757bb80, 0x493c4f4, 0xf, 0x4d01320, 0x4abd600)
	/usr/lib64/go/src/net/http/server.go:2353 +0x239
net/http.(*ServeMux).HandleFunc(0x757bb80, 0x493c4f4, 0xf, 0x4abd600)
	/usr/lib64/go/src/net/http/server.go:2368 +0x55
net/http.HandleFunc

[2018-11-17 00:31] #61420 closed

[2018-11-17 00:31] #61599 closed

[2018-11-17 00:34] AishSundar commented on #70760
OK with #71058  merged we should see the CSI alpha tests re-enable.

@jberkus @mariantalla @mortent to keep an eye out for CI signal

[2018-11-17 00:35] davidz627 commented on #70888
I think it would be much better if we could figure out the source of the error and remedy it instead of turning off logs for server errors altogether

[2018-11-17 00:42] tanweernoor opened #71168 "go get -u github.com/kubernetes/kubernetes/cmd/kubelet"
below should work...
go get -u github.com/kubernetes/kubernetes/cmd/kubelet

install works fine but service fails due to below issue...

kubelet version
panic: http: multiple registrations for /debug/requests

goroutine 1 [running]:
net/http.(*ServeMux).Handle(0x757bb80, 0x493c4f4, 0xf, 0x4d01320, 0x4abd600)
/usr/lib64/go/src/net/http/server.go:2353 +0x239
net/http.(*ServeMux).HandleFunc(0x757bb80

[2018-11-17 00:47] neolit123 commented on #71168
/sig release
/triage support

shouldn't you be doing this instead:
[code]

[2018-11-17 00:47] tanweernoor commented on #71168
sig/cli
kind/bug

[2018-11-17 00:48] neolit123 commented on #71154
/sig node

[2018-11-17 00:48] neolit123 commented on #71125
/close

[2018-11-17 00:48] #71125 closed

[2018-11-17 00:49] neolit123 commented on #71129
/triage support
/sig node
/close

for further questions please try our support channels like stackoverflow:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

[2018-11-17 00:49] #71129 closed

[2018-11-17 00:50] neolit123 commented on #71098
/triage support
/sig cli

[2018-11-17 00:50] neolit123 commented on #71097
/sig auth

[2018-11-17 00:52] mikedanese commented on #70925
@RaviTezu the PR is already out. See #70929

[2018-11-17 00:54] vvchik commented on #61717
I also meet this issue.

[2018-11-17 00:57] saad-ali commented on #70888
The log spam is making it really difficult to run the tests locally:

[code]

[2018-11-17 00:58] q6413260 commented on #71112
@msau42 I know，tks

[2018-11-17 01:14] lwsbox commented on #63389
/remove-lifecycle stale

[2018-11-17 02:05] tanweernoor commented on #71168
thanks for the comment, however, i am putting "go get -u github.com/kubernetes/kubernetes/cmd/kubelet" in the spec file

[2018-11-17 06:46] #69015 closed

[2018-11-17 07:10] Huang-Wei commented on #70450
/reopen

I will raise cherrypick PRs to 1.12 and 1.11, and close this issue by then.

[2018-11-17 07:30] #60834 closed

[2018-11-17 07:42] mikedanese commented on #7452
I've started working on streaming over h2 here:

https://github.com/kubernetes/kubernetes/compare/master...mikedanese:h2?expand=1

I hope to make some progress in 1.14

[2018-11-17 08:19] pohly commented on #70888
Saad Ali <notifications@github.com> writes:

As you can reproduce it, do you have an explanation for why this
permission error occurs?

All I can do is suppress the error, but I think we all agree that this
shouldn't be done without understanding the issue first.

[2018-11-17 08:32] dims commented on #71168
@tanweernoor - yea, don't do that :) follow what @neolit123 mentioned

[2018-11-17 08:46] gluehbirnenkopf commented on #71154
I just tested assigning the serviceaccount with a pull secret and automounting this within the deployment.
Anybody can confirm that automountserviceaccounttoken=true still works?

For me not.

[2018-11-17 09:32] #65184 closed

[2018-11-17 10:39] sttts commented on #71143
If I remember right, the merging algorithms was pretty heavy, runtime around or above a second. I question that this algorithmic problem is that complex. Would like to see somebody to look over that algorithm to get it into the 100ms area. Then we can call it much more often or even on demand if a CRD is changed (with a throttling of once per second max or so).

[2018-11-17 12:35] #59358 closed

[2018-11-17 12:56] Pradip-Khakurel commented on #70198
Hey @dczombera, how is it going with the manual test? The only way I found with minikube, is to start it with the following command (I use minikube v0.30.0). This activates audit logs, and configures the logs file path in the minikube's VM.

Then you could use an api call using kubectl, with and without impersonation, and see the difference in logs. Notice that it does not matter if we have not cr

[2018-11-17 13:36] #38606 closed

[2018-11-17 13:36] zerda commented on #56038
In 1.13, kubeadm will support the `--image-repository` flag for customizing what registry to pull images from. #71135

[2018-11-17 13:55] wgliang commented on #71057
In fact, the scheduler does not directly manage the state of the pod. How to deal with the pods on an unreachable Node, I am not very clear about the behavior of the current pod controller, but I think this should be related to the controller.
/area nodecontroller

[2018-11-17 13:55] wgliang commented on #71057
/remove sig scheduling

[2018-11-17 14:43] minasys commented on #25408
I face the same issue too!

[2018-11-17 14:59] palash25 commented on #68231
Hi, can I make a PR for this directory https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/csi-api/pkg/client/clientset/versioned/doc.go  ?

[2018-11-17 15:14] aeneasr commented on #65400
I'm facing the same issue. Why was this closed and how can I work around it?

[2018-11-17 16:10] lukeweber commented on #65400
So per recommendation, I did post on the [kubernetes engine bug tracker](https://issuetracker.google.com/issues/new?component=187077&template=0) and it became this private issue:

https://issuetracker.google.com/u/1/issues/111101728, feel free to reference it.

In a nutshell, the client cert has user=client encoded and client user doesn't have any permissions. If you use masterAuth username/passwo

[2018-11-17 16:42] MarcPow commented on #70851
@chrisohaver If CoreDns doesn't tolerate master taints, but can only run on (Linux) masters in the typical Windows/Linux hybrid cluster configuration - how will clusters using CoreDns function with a bunch of special configuration?

[2018-11-17 16:59] chrisohaver commented on #70851
@marcpow, if someone has a special configuration like that they will need to adjust the coredns deployment config. We can’t make a single default setting work for all possible edge cases. IMO, we should aim to make the coredns default config work for the most common case. I wouldn’t call windows/Linux hybrid clusters “typical” quite yet.

[2018-11-17 17:09] 007 commented on #48767
/remove-lifecycle stale

[2018-11-17 18:03] chandraprakash1392 commented on #69697
I got rid of this issue by performing the following actions:
[code]
Then I manually edited the `pv` individually and then removing the `finalizers` which looked something like this:
[code]

[2018-11-17 20:40] MarcPow commented on #70851
Makes sense.

I was trying to think ahead to the hybrid conformance tests for 1.13/1.14 but in practice -
(a) If I'm understanding it correctly, the change is scoped enough that I don't *think* it will affect them materially and
(b) I understand that you need to optimize for the typical case at the moment.

[2018-11-17 21:02] AishSundar opened #71177 "verify.godeps and verify.staging-godeps failing in verify jobs on master and 1.13 branch"
**Which jobs are failing**:
* [verify-master](https://k8s-testgrid.appspot.com/sig-release-master-blocking#verify-master)
* [verify-1.13](https://k8s-testgrid.appspot.com/sig-release-1.13-blocking#verify-1.13)

**Which test(s) are failing**:
* verify godeps
* verify staging-godeps
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-verify-beta/3127

**Since when has it been faili

[2018-11-17 21:12] gnufied commented on #70319
PR to fix the issue -https://github.com/kubernetes/kubernetes/pull/71145

[2018-11-17 21:45] neolit123 commented on #71177
reproduced locally with:
`make verify WHAT=godeps KUBE_FORCE_VERIFY_CHECKS=y`

[2018-11-18 01:00] RenaudWasTaken commented on #71031
Closed by https://github.com/kubernetes/kubernetes/pull/70494

[2018-11-18 01:00] RenaudWasTaken commented on #71031
/close

[2018-11-18 01:00] #71031 closed

[2018-11-18 05:31] mbach04 commented on #70588
+1 These hard-coded endpoints are affecting a lot of folks. It would be great to see awslabs patch the sdk too.

[2018-11-18 06:17] WanLinghao commented on #70447
@tanweernoor  kubelet? or just a typo

[2018-11-18 06:44] warmchang commented on #69776
Consider this in the later release. 😃

[2018-11-18 06:52] #61228 closed

[2018-11-18 09:05] vtm9 commented on #65481
same issue on Arch linux 6GB RAM 5 GB swap

[2018-11-18 10:53] monotek commented on #69603
Will be fixed with image 2.4.0. See: https://github.com/kubernetes/kubernetes/pull/71180

[2018-11-18 12:01] danielmorlock opened #71181 "Lots of useless "container_spec_cpu_shares" kubelet/cadvisor metrics"
**What happened**:

We've discovered thousands of the following metrics coming from kubelet/cadvisor:
[code]

**What you expected to happen**:

Getting `container_spec_cpu_shares` metrics with a proper `container_name`. Further we've expect the metrics to disappear once the container was removed.

**How to reproduce it (as minimally and precisely as possible)**:

Get metrics i.e. from within a k8s

[2018-11-18 12:06] danielmorlock commented on #71181
@kubernetes/sig-node-bugs

[2018-11-18 12:31] nikhita commented on #58931
/remove-lifecycle stale

[2018-11-18 13:39] justinsb commented on #27796
/reopen

Remains a major barrier to new contributors

[2018-11-18 13:40] justinsb commented on #27796
/remove-lifecycle rotten

[2018-11-18 13:59] #60082 closed

[2018-11-18 16:57] AishSundar commented on #71153
/assign @dchen1107

@dchen1107 this is now failing consistently on 1.13. Can you plz help triage as priority?

[2018-11-18 17:02] AishSundar commented on #65246
Reopening this since we are seeing consistent failures in latest runs. This is now 1.13 release blocking

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2629

@msau42 @jsafrane

[2018-11-18 17:03] AishSundar commented on #65246
/priority critical-urgent
/kind failing-test

[2018-11-18 17:03] AishSundar commented on #65246
/remove-priority important-soon

[2018-11-18 17:13] AishSundar opened #71183 "Failing Test : [sig-storage] In-tree Volumes [Driver: hostPath] [Testpattern: Inline-volume (default fs)] volumeIO should write files of various sizes, verify size, validate content [Slow]"
**Which jobs are failing**:
* [soak-gci-gce-1.13](https://k8s-testgrid.appspot.com/sig-release-1.13-all#soak-gci-gce-1.13)

**Which test(s) are failing**:
[sig-storage] In-tree Volumes [Driver: hostPath] [Testpattern: Inline-volume (default fs)] volumeIO should write files of various sizes, verify size, validate content [Slow]

**Since when has it been failing**:
11/13

**Testgrid link**:
https://

[2018-11-18 18:38] dczombera commented on #70198
Hey @Pradip-Khakurel , thanks for your extensive anser. 👍
I managed to get in tested manually with minikube a couple of days ago, though it was not possible for me to get an costum audit policy file loaded even though it was available (somehow the extra config flag `audit-policy-file string`was ignored).
Anyway, I spent the last couple of days figuring out how to best run the e2e tests on my macbo

[2018-11-18 18:45] Nefelim4ag commented on #71139
I think that can be related:
#41760

[2018-11-18 18:55] Rakitic07 commented on #37471
Facing the same issue on Git Bash Terminal on Windows 7:

`kubectl exec -it <pod_name> bash`

But, the same works on cmd, powershell and Docker Terminal.

[2018-11-18 19:31] anderson4u2 commented on #69676
@nikopen Hi, I just tried `kube_pod_container_status_last_terminated_reason` in version 1.4.0 and it seems to work? i.e. use `sum_over_time(kube_pod_container_status_terminated_reason{reason!="Completed"}[5m]) > 0` to detect a recent non-graceful termination.

[2018-11-18 20:00] idanlevin opened #71184 "LimitRanger should support no-default"
**What would you like to be added**:
_LimitRanger_ controller should be able to reject pods that don't specify resource _request_ and/or _limit_, instead of putting default values to them

**Why is this needed**:
As a cluster operator, I would like to force all the developers to specify resources _request_ and _limit_ instead of putting a default value which might lead to under-utilization or runt

[2018-11-18 20:07] StefanSchubert commented on #71154
Hi @gluehbirnenkopf,

thanks for confirmation. I hadn't in mind that the secret could be coupled by the service account.
So I tried the following, stripped the imagePullSecret from my deployment.yaml and patched the default service account with the imagePullSecret. After that the container/pod could be build by taking the image from the private registry.

So finally it works out for me, though is

[2018-11-18 20:10] jessesuen opened #71185 "`kubectl auth reconcile` auto-creates namespaces"
**What happened**:

I noticed some surprising behavior of `kubectl auth reconcile`, which I'm not sure is intentional, but is very unexpected, in that `kubectl auth reconcile` will auto-create namespaces if it doesn't exist. This behavior does not seem to be documented anywhere.

For example, if I run:
[code]
against the following Role:
[code]

Then the namespace `my-namespace` gets created. This

[2018-11-18 20:10] Nefelim4ag commented on #71139
With etcd 3.3.10, i get new type of  return about (from kubectl) error (i think that really funny):
[code]

[2018-11-18 20:20] saad-ali opened #71186 "CSI: Take advantage of `csi_secret` in CSI 1.0"
**What happened**:
CSI 1.0 decorates sensitive fields with `csi_secret`. Let's take advantage of this feature to programmatically ensure no sensitive CSI fields are ever logged by kubernetes components (kubelet).

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kube

[2018-11-18 20:20] saad-ali commented on #71186
/sig storage

[2018-11-18 21:51] PatrickLang commented on #64082
/remove-lifecycle stale
/assign patricklang

[2018-11-18 21:53] neolit123 commented on #71177
this should be fixed now.
tested locally.

[code]

[2018-11-18 22:11] taragu commented on #70704
Thanks @msau42 ! I have a few questions: 1) how do I run the tests in `test/e2e/storage/testsuites/subpath.go` locally? and 2) how can I assert writing to volume has failed? Thank you in advance!!

[2018-11-18 22:34] Nefelim4ag commented on #71139
Also test https://github.com/etcd-io/etcd/pull/10019
Doesn't help.

[code]

[2018-11-18 22:38] cblecker commented on #71177
Confirmed. We’ve now had two green runs.

[2018-11-18 22:38] #71177 closed

[2018-11-18 22:42] roycaihw commented on #71143
@sttts We have two merging algorithms (two spec aggregators):

 - in apiextensions-apiserver, a CRD spec aggregator works with crd_discovery_controller, and aggregates CRD spec on demand when a CRD is changed
   - (this is newly added in the publish PR)
 - in kube-aggregator, an in-tree spec aggregator works with [controller](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/

[2018-11-18 22:55] Nefelim4ag commented on #71139
That's look like that:
API server cache some info,
then return wrong cached version, and when client try modify object (i.e. send it back to server).
Server check it with etcd version of object and refuse change...

Why API server don't update self cache?

[2018-11-18 23:26] AishSundar opened #71189 "[Failing Test] TestAdoption in Integration-master job blocking merges"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#integration-master seems to be failing in master branch alone

**Which test(s) are failing**:
[k8s.io/kubernetes/test/integration/replicationcontroller.TestAdoption](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-integration-master/6740)

**Since when has it been failing**:
Since 11/18

[2018-11-18 23:33] liggitt commented on #71189
failure is
[code]

[2018-11-19 02:49] danielqsj commented on #71165
+1
I can help if decide to do it.

[2018-11-19 02:51] joshshn opened #71191 "container-lifecycle-hooks do not execute on image update"
**What would you like to be added**:

Kubernetes 1.12 provides container-lifecycle-hooks: PostStart and PreStop. PreStop hook is called when a container is terminated. However when updating the image of a container via the command
'kubectl set image pod pod-name pod=imagename:v2' does not invoke the PreStop hook for cleaning up of pod data.

**Why is this needed**:
Any cleanup in the pods required

[2018-11-19 03:17] yue9944882 commented on #67546
@bronger FYI we're planing to replace SMP w/ server-side apply by which will fix this issue together.

[2018-11-19 03:31] neolit123 commented on #71189
i've been seeing this flake the past week.

[2018-11-19 03:51] molon commented on #70334
I found the reason.

Delete `imageRepository: "xxxx"`.
Then everything is ok.

[2018-11-19 03:52] molon commented on #70334
But it is still a bug.

[2018-11-19 05:43] #71189 closed

[2018-11-19 05:55] cofyc opened #71193 "Ability to adjust number of inodes of filesystems"
**What would you like to be added**:

I want to add a feature to adjust number of inodes for block pvs.

**Why is this needed**:

Sometimes, people needs to store a large number of small files (typically, images for data mining), the default calculation of number of inodes in ext4 may be too small.

For ext3/ext4 filesystems, they allocate inodes at creation:

- `-i bytes-per-inode`: Specify the b

[2018-11-19 05:55] cofyc commented on #71193
/sig storage

[2018-11-19 07:20] #62090 closed

[2018-11-19 07:20] markvincentcaro commented on #71154
@StefanSchubert How did you set your secret as the default service account's image pull secret?

[2018-11-19 07:35] cofyc commented on #70062
This is because a change in go 1.11, see https://golang.org/doc/go1.11#go_command, and related go issues: https://github.com/golang/go/issues/27282, etc.
I've opened a PR to address this: #71198.

[2018-11-19 07:35] cofyc commented on #70062
/assign

[2018-11-19 07:38] mootezbessifi commented on #64975
@weiwei04 did you find any fix about this ?

[2018-11-19 07:41] mootezbessifi commented on #55618
/reopen
anyone have a fix for this ?

[2018-11-19 08:01] berlinsaint commented on #71071
the same error. upgrade from 1.11.1. Everything become good except kube-proxy becomse not stable, some time pod can't access svc ,but endpoints is ok., and the same as the name resolution. so i think it may exist an important bug here.

[2018-11-19 08:03] Lion-Wei commented on #68546
@WingkaiHo I raised a pr for this issue, please check.

[2018-11-19 08:19] cofyc commented on #66567
/remove-lifecycle stale

[2018-11-19 08:29] berlinsaint commented on #71071
/kind assign

[2018-11-19 08:30] Lion-Wei opened #71202 "Trace works about enable the ipvs mode for the kube-proxy by default"
This issue is to trace the works about make IPVS mode as kube-proxy default mode.
/kind feature

- [ ] kube-proxy IPVS spurious logs removing IPv6 address. #70113
- [ ] kube-proxy ipvs auto detect network interface mtu. #68546 (WIP)
- [ ] In ipv6-only cluster with proxy-mode=ipvs ipv4 entries are used for NodePort. #68437 (WIP)
- [ ] Unable use localhost:<nodeport> with IPVS. #67730 (WIP)
- [ ] IP

[2018-11-19 08:31] Lion-Wei commented on #71202
/area ipvs
/sig network
/kind feature
/assign

[2018-11-19 08:31] m1093782566 commented on #71202
cc @thockin @rramkumar1

[2018-11-19 08:33] Lion-Wei commented on #71202
https://github.com/kubernetes/kubernetes/issues/68974 and #65820 are solved issue, so I didn't put them on the list, seems both those two issue can be closed. : )

[2018-11-19 08:49] m1093782566 commented on #68974
/close

[2018-11-19 08:49] #68974 closed

[2018-11-19 09:43] wgliang commented on #69840
/ping @saurav-malani Will the PR be ready for review soon? Or what progress has you made recently?
Hope to get your feedback. :)

[2018-11-19 09:44] wgliang commented on #69770
/ping @agladboy Will the PR be ready for review soon? Or what progress has you made recently?
Hope to get your feedback. :)

[2018-11-19 09:44] wgliang commented on #69768
/ping @Violet-Guo Will the PR be ready for review soon? Or what progress has you made recently?

[2018-11-19 11:12] WanLinghao commented on #71185
@deads2k  It seems that this is a intended feature

[2018-11-19 11:20] #64435 closed

[2018-11-19 13:46] JorgenG commented on #51096
@Macmee Having the same strange issue here. Basically we started using NodePort, and it sporadically times out the readiness / liveness probe checks.

When I inspect our monitoring metrics, the endpoints used for this has a maximum response time of 4.5ms, in other words, there is something stalling the connection into the container somehow.

The way I run it is that two services attach to the cont

[2018-11-19 14:11] mkumatag commented on #69098
Adding `k8s.gcr.io/kube-addon-manager`

[2018-11-19 14:12] mkumatag commented on #69098
/help-needed

[2018-11-19 14:13] jsafrane commented on #71056
* [extract utility method to reset objectmeta fields for status update](https://github.com/kubernetes/kubernetes/pull/69929#discussion_r233295428): PR #71211

[2018-11-19 14:13] mkumatag commented on #69098
/help

[2018-11-19 14:14] shdowofdeath commented on #60807
first, take small coffee and relax , now go to your k8s master nodes
1. kubectl cluster-info
Kubernetes master is running at https://localhost:6443
KubeDNS is running at https://localhost:6443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.

2. now run the kube-proxy
kubectl proxy &
Starting to serve on 127

[2018-11-19 14:23] liakouras opened #71214 "Permanent Volumes as read-only"
Hello,

My main goal is to use a NFS directory that it will be used as WRITE from one POD and READ from another POD. I have two NFS PVs, one of them is as read-only, as shown below:

==========
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv0
spec:
  capacity:
    storage: 50Mi
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /vol/test_k8s
    s

[2018-11-19 14:32] ptemmer commented on #44273
Same here.

Using GKE cluster on 1.11.2-gke.18 using 3 preemptible n1-standard-8 instances vpc-native with alias IPs.
Being out of resources is not an option here; the cluster has in total 24cpu's with 90GB of memory. My deployment is using 7GB at most.

[2018-11-19 14:44] mariantalla opened #71215 "gce-master-scale-performance tests are timing out"
**Which jobs are failing**:
[sig-release-master-blocking#gce-master-scale-performance](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-master-scale-performance)

**Which test(s) are failing**:
The tests are timing out.

**Since when has it been failing**:
2018-11-16

**Anything else we need to know**:
The diff since last passing test (Nov 15th) is [here](https://github.com/kuberne

[2018-11-19 15:06] mariantalla opened #71216 "[failing test] CSI Volumes CSI plugin test using CSI driver"
**Which jobs are failing**:
[sig-release-master-upgrade#gce-new-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:
- [[Serial] CSI Volumes CSI plugin test using CSI driver: gcePD [Serial] should provision storage](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-

[2018-11-19 15:08] drigz opened #71218 "Transient 404 for custom resource after etcd restart"
**What happened**:

I got a 404 Not Found error from the apiserver for a custom resource that exists. The 404 error only persisted for one request, after which 200s were returned as normal.

I originally observed this on GKE at the end of a control plane upgrade, but have also reproduced this using https://github.com/kubernetes-sigs/kind and sending SIGTERM to etcd.

**What you expected to happen*

[2018-11-19 15:08] jsafrane commented on #71056
* and the rest is fixed in #71217

[2018-11-19 15:08] mariantalla commented on #71216
/sig storage

[2018-11-19 15:10] drigz commented on #71218
@kubernetes/sig-api-machinery-bugs

[2018-11-19 15:11] 4m3ndy commented on #24873
@mrwulf @acondrat
I think `grep -v 'secrets/default-token'` should be changed to `grep -v 'secret/default-token'`
`secrets` didn't work with me.

I'm using the following versions of kubectl and k8s cluster
[code]

[2018-11-19 15:49] steven-sheehy commented on #70543
@neolit123 This occurred again in a production environment. I was able to capture the kubelet logs from journalctl and it clearly shows the hostname changing in the output. Also, the hostname is changing to the pod (edge-mongodb-1) that is crashing and appears in the logs. I can also tell you that the pod was crashing because CRI-O had pids_limit set too low and the container could not create new

[2018-11-19 15:52] yuripastushenko commented on #69562
We have same issue but with resource: prometheusrules
[code]

[2018-11-19 15:54] mariantalla commented on #71216
This is a strange one - as there isn't a specific k/k or test-infra commit that seems to be connected to the failure. I'll dig into the diff; in the meantime, @saad-ali / @childsb is there someone who could help take a look?

[2018-11-19 16:06] f-z commented on #61586
I had the same cronjob matches multiple kinds error message and turns out it was just the authentication that had expired.

Reauthenticated by issuing new certs for the cluster (as a .yaml file in the .kube/configs/ folder) and that resolved it.

[2018-11-19 16:23] jberkus commented on #71215
/sig scalability

[2018-11-19 16:34] javierprovecho commented on #60807
Hey, the finalizer `kubernetes` is there for a reason. For us it was a wrongly configured metrics API service name. Maybe for you is something else, which you can discover by looking at your control plane logs. Without confirmation of a bug, **removing the finalizer may produce undesired consequences** like leaving stuff created that can no longer be accesible again for deletion purposes.

[2018-11-19 16:39] jberkus commented on #65246
@msau42 "intentionally not backwards compatible" -- is there a writeup for the release notes and release announcement for this change?

[2018-11-19 16:42] kfox1111 commented on #64157
/remove-lifecycle stale

[2018-11-19 16:42] mrshah-at-ibm commented on #9866
For CA, we can use the `httpGet` liveliness probe. For Orderer/Peer, we will still have to use the TCP liveliness probe until Fabric 1.4 is delivered.

[2018-11-19 17:13] msau42 commented on #65246
Yes https://github.com/kubernetes/kubernetes/pull/71020 has the release note

[2018-11-19 17:14] jberkus opened #71224 ""Fixes" needs to be urgently removed from the PR template"
It's our policy that contributors NOT use the phrasing "Fixes #99999" in PR requests, as that causes associated issues to auto-close by github.  In fact, test-infra is planning a feature that will block this text.  However, the Fixes line is present in the default PR template for k/k and possibly other repos.

The urgency here is that contributors using "Fixes" is causing problems for the 1.13 Rel

[2018-11-19 17:14] jberkus commented on #71224
/milestone v1.13

[2018-11-19 17:15] jberkus commented on #71224
/kind bug

[2018-11-19 17:17] wangzhen127 commented on #14733
Implementation is finished.
Documentation is merged into https://github.com/kubernetes/website/blob/dev-1.13/content/en/docs/concepts/architecture/nodes.md
Tests are being tracked by the following CI jobs:
sig-node
- https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-alpha
- https://k8s-testgrid.appspot.com/sig-node-containerd#e2e-gci-alpha-features

google-gce
- https://k8s-testgrid.a

[2018-11-19 17:29] jberkus commented on #65246
@msau42 thanks, I'll also call it to the Release Notes lead's attention

[2018-11-19 17:33] AishSundar commented on #71224
This is definitely something we want fixed for /kind flake and failing-test. Even in case of bug fixes, I think it should be upto the issue reporter to verify and close the issue vs the bot doing it. I assume this might be an issue even with feature issues since most features have multiple PRs to address them.

AFAICT, the only exception might be /kind cleanup (?)

[2018-11-19 17:34] nikhita commented on #71224
Just to be clear, the test-infra feature will _not_ block this text in the PR body. It will only block this text in the commit message.

[2018-11-19 17:50] lavalamp commented on #67546
SMP == "strategic merge patch", the weird custom patch format k8s allows, which the example in the OP is using (rather than JSON patch or JSON merge patch).

[2018-11-19 17:51] lavalamp commented on #67546
We should still take @yue9944882

[2018-11-19 17:52] cblecker commented on #71224
How urgent is this? This line has been in the template since August 2016 (over two years).
https://github.com/kubernetes/kubernetes/commit/2a008b947a875deaf7d696c79debbd090ba6c5fb

[2018-11-19 17:52] nikopen commented on #69676
Indeed, it seems to work :)

@brancz do you know why this happens? also tried it in 1.3.1.

[code]

[2018-11-19 17:53] jberkus commented on #70972
This is really a flake:

/kind flake

[2018-11-19 17:55] jberkus commented on #70760
The tests got reenabled 5 days ago, and alpha tests are passing.  Closing this issue.  Thanks everyone for your rapid turnaround!

/close

[2018-11-19 17:55] #70760 closed

[2018-11-19 17:56] dchen1107 commented on #71153
This shouldn't become the release blocker.

[code]

Just indicates that after several days soaking test, at one of node, docker's memory usage exceeds the certain threshold. The same test failed with soaking test in previous releases too.

[2018-11-19 18:00] AishSundar commented on #70955
As mentioned in #71020 's release notes section, CSI is intentionally not backwards compatible between 1.12 and 1.13. xref: https://github.com/kubernetes/kubernetes/issues/65246#issuecomment-439710126

[2018-11-19 18:05] dchen1107 commented on #70835
@liqlin2015 between Nov  8 11:20:11 and Nov  9 06:25:32, are there anything happened to your node? Any logs between two times in Kubelet? Did Kubelet process any other events between them?

[2018-11-19 18:07] dchen1107 commented on #70835
cc/ @kubernetes/sig-node-bugs

[2018-11-19 18:15] ravisantoshgudimetla commented on #71086
It could be because of nodeSelector. Can you please check if that is the case?

[2018-11-19 18:32] AishSundar commented on #71153
/priority important-soon
/remove-priority critical-urgent
/milestone 1.14

[2018-11-19 18:37] gladiatr72 opened #71226 "export of "(cluster)roles/rolebindings" not supported"
---

With the following descriptions, please pretend there are duplicate figures for role/clusterrole/rolebinding/clusterrolebinding

---

**What would you like to be added**:

For... reasons, you can export a namespace's entire rack of _roles_ and _rolebindings_ but not individuals.

[code]
instead of

[code]

**Why is this needed**:

This is an arbitrary limitation of GA features.  RBAC adoption

[2018-11-19 18:37] gladiatr72 commented on #71226
/sig sig-api-machinery-feature-requests

[2018-11-19 18:38] gladiatr72 commented on #71226
@kubernetes/sig-api-machinery-feature-requests

[2018-11-19 18:44] ravisantoshgudimetla commented on #71086
To be clear, does all the nodes have same taint and label? I ask because I thought your initial comment was related to pod shouldn't be scheduled on node with taint `NoSchedule`. It does because of https://github.com/kubernetes/kubernetes/issues/71086#issuecomment-439490989? and now you think the pod is getting misplaced onto wrong node? If yes, it could help if you provide the node specs on which

[2018-11-19 18:48] AishSundar commented on #65246
@saad-ali @msau42 what does it mean from the user impact perspective for CSI to not be backward compatible with 1.12? can you please point me to any discussions on this behavior for 1.13?

[2018-11-19 18:48] AishSundar commented on #71153
/milestone v1.14

[2018-11-19 18:58] agladboy commented on #69770
@wgliang Thanks for asking! I will post the PR for the review by this week. :-)

[2018-11-19 19:14] jberkus commented on #71224
@cblecker for some reason, on this release we're getting a *lot* of test-fail PRs that are flagged "Fixes", which is causing the issues to auto-close even when the test is still failing.  It's making it challenging to do CI Signal.

[2018-11-19 19:31] davidz627 opened #71228 "CSI Upgrade Tests Failing for hostPath and gcePD"
Quoted from: https://github.com/kubernetes/kubernetes/issues/65246#issuecomment-439708121

CSI v1.0.0 is only compatible with k8s >1.13
CSI v0.x is only compatible with k8s <1.12

Its probable that we will need to detect what version the k8s cluster is on in the test and deploy the "correct" version of the CSI Drivers for each version

/kind failing-test
/assign
/cc @AishSundar @jberkus @saad-ali

[2018-11-19 19:33] davidz627 commented on #65246
Im tracking these upgrade test failures elsewhere: https://github.com/kubernetes/kubernetes/issues/71228
They are not related to this original issue, the flaky test referenced by this issue should have been solved by #71074
/close

[2018-11-19 19:33] #65246 closed

[2018-11-19 19:34] AishSundar commented on #65246
@dstrebel @marpaia as FYI to call this out clearly in the Release notes.

[2018-11-19 19:39] Evesy commented on #71086
Two sets of node types, **A** and **B**

Both nodes **A** and **B** have the label `beta.kubernetes.io/masq-agent-ds-ready: "true"`

Nodes **B** also have a taint:
[code]

Normal and past behaviour is that the Daemonset in question runs pods on **all** of nodes **A**, none on nodes **B**

In this scenario an _additional_ pod belonging to this Daemonset has been scheduled on node **B** -- The Daemo

[2018-11-19 19:50] AishSundar commented on #71228
The specific upgrade job these tests are failing on, upgrades the master and nodes to 1.13 and run the old version's tests i.e., in this case runs 1.11 tests against the 1.13 cluster

```If a test job name ends with upgrade-cluster, it means we first upgrade the cluster (i.e. master and nodes) and then run the old test suite with new kubectl.```

More info on upgrade tests at https://github.com/ku

[2018-11-19 19:50] tpepper commented on #27796
FYI last week during the KubeCon / CloudNativeCon China new contributor workshop I observed many (most?) of the participants struggling with the UI/UX in:

https://camo.githubusercontent.com/cdcaa8a1b2679acb1c8452091a05e27c8e68bc54/687474703a2f2f692e696d6775722e636f6d2f74456b3278336a2e706e67

Two things specifically:
* Facebook, Google, GitHub, OpenStack are to varying degrees location or ecosyste

[2018-11-19 19:51] msau42 commented on #71228
Do we also have skew tests that only upgrade master, but keeps the nodes on the older version?  If so, we need to detect that case too and use the old 0.3 drivers in that scenario.

[2018-11-19 19:55] fabianvf commented on #54498
/remove-lifecycle rotten

[2018-11-19 20:00] AishSundar commented on #71228
Yes @msau42, thats https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

From speaking to @davidz627 we need to update tests in the following jobs

* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel
* https://k8s-testgrid

[2018-11-19 20:01] AishSundar commented on #71216
these failures are now being tracked in https://github.com/kubernetes/kubernetes/issues/71228

[2018-11-19 20:01] #71216 closed

[2018-11-19 20:13] mattfarina commented on #68397
We discussed this in SIG Apps. We are OK taking maxUnavailable to the next step. We discussed how you can do this today and how maxUnavailable could be a better experience.

The next step for this would be a [KEP](https://github.com/kubernetes/community/tree/master/keps) for the features. There is [a template](https://github.com/kubernetes/community/blob/master/keps/0000-kep-template.md) that can

[2018-11-19 20:48] msau42 commented on #71183
There's a few problems:
1. hostPathDriver.GetVolumeSource returns "/tmp" for everything.  This means all tests will share the same directory.  This should be probably use some unique directory instead
2. The volume IO test generates a unique mountPath directory, however that doesn't mean a unique directory is actually created on the host.  Ie, a mountPath of "/a/b/c" on a hostpath volume at "/tmp"

[2018-11-19 20:53] msau42 commented on #71183
The other thing I can't explain is why it's failing only now

[2018-11-19 20:54] msau42 commented on #71183
@kubernetes/sig-storage-bugs

[2018-11-19 22:02] AishSundar commented on #32727
@jingxu97 how critical is this issue for 1.13? I still see test failures in PR https://github.com/kubernetes/kubernetes/pull/71144 and we are already in code freeze. if this is not a blocker for 1.13, lets continue to work on the fix for 1.14.

[2018-11-19 22:18] lavalamp commented on #71165
Definitely no objection to adding a parallel set of metrics.

I think we need to give 2 releases (?) where the existing metrics keep working, since these have been there for ages.

[2018-11-19 22:30] ZzEeKkAa opened #71233 "Bus error (core dumped)"
**What happened**:

I'm getting `Bus error (core dumped)` on some images after updating from 1.9 to 1.12.
Firstly, I thought it was my fault, so I completely removed kuberntes from all nodes and reinstalled it.
But it didn't helped. I thought it was problem with shared memory. I tried to mount some volumes to /dev/shm/, but it didn't help. On the plain docker at the same host everything works fine

[2018-11-19 22:32] jingxu97 commented on #32727
It is an edge case. I will try to debug today and see whether it is ready to be merged later this afternoon. Thanks!

[2018-11-19 22:49] ribx commented on #71181
this looks related: #70324

[2018-11-19 22:51] msau42 commented on #56180
/remove-lifecycle stale
/lifecycle frozen

[2018-11-19 22:52] msau42 commented on #60177
/remove-lifecycle stale
/lifecycle frozen

[2018-11-19 22:56] saad-ali commented on #70888
FWIW it only happens when the test is failing.

[2018-11-19 23:03] mortent commented on #71165
Sounds good.
@danielqsj If you want to tackle this, just assign this issue to yourself. I'm happy to help reviewing when you have something.

[2018-11-19 23:09] Huang-Wei opened #71234 "Critical pod is still being evicted in 1.13"
**What happened**:

In 1.13, critical pod (with annotation `scheduler.alpha.kubernetes.io/critical-pod: ""`, or with priorityClass "system-cluster-critical") are being evicted if the node becomes NotReady or Unreachable.

**What you expected to happen**:

Critical pod should be applied with corresponding toleration without tolerationSeconds, hence unable to be evicted.

**How to reproduce it (as m

[2018-11-19 23:10] Huang-Wei commented on #71234
cc/ @k82cn @ravisantoshgudimetla

[2018-11-19 23:15] msau42 commented on #71183
Fix is here: https://github.com/kubernetes/kubernetes/pull/71235

[2018-11-19 23:15] wenjiaswe commented on #71016
@PrasadG193 Thanks! I will be happy to review once it's done.

[2018-11-19 23:16] wenjiaswe commented on #71016
/assign @PrasadG193

[2018-11-19 23:32] AishSundar commented on #71183
As per discussion in 1.13 burndown this morning, this is a test job issue and its not release blocking at this point. So we can take this fix in 1.14 as opposed now during code freeze

@jberkus let us know if you feel otherwise

[2018-11-19 23:45] msau42 opened #71236 "Update feature gate setting in volume binding integration tests"
**What happened**:
See https://github.com/kubernetes/kubernetes/issues/71108 for background

@kubernetes/sig-storage-bugs

/kind bug

[2018-11-19 23:45] msau42 commented on #71236
cc @lichuqiang could you take a look at this?

[2018-11-19 23:55] msau42 opened #71237 "Update local PV tests to use the new storage test framework"
**What would you like to be added**:
We've been refactoring the storage e2e tests to be plugin-agnostic.  We should migrate as many local PV tests to use it as much as possible, and maybe even consider converting local PV test cases to be plugin-agnostic if it makes sense.

There are still major changes going on in this area right now though.  We should wait until https://github.com/kubernetes/kub

[2018-11-19 23:56] msau42 commented on #71237
cc @cofyc @NickrenREN, would one of you be interested in working on this?

[2018-11-19 23:58] roycaihw commented on #71143
I tried to put together a summary about potential solutions. Haven't been satisfied with any of them. I'd appreciate it if you could take a look and leave any comments/suggestions:

https://docs.google.com/document/d/13lBj8Stdwku8BgL0fbT__4Iw97NRh77loJ_MoZuCGwQ/edit#

[2018-11-19 23:59] ribx commented on #61937
I have no clue about cgroups and even less about docker and kubernetes internals. What I did to our k8s dev cluster was:
[code]
This reduced the cgroups from ~65000 to ~3900.

Maybe someone can elaborate, if the absence of empty cgroups could harm docker/k8s runtime environment.

[2018-11-19 23:59] ribx commented on #71181
https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-440086107

[2018-11-20 00:03] c-nuro commented on #70324
I noticed the pattern of cgroup used for mounting pod volumes.

The error from rpcbind is unrelated to this issue, but the output saying it's running with this pattern of cgroup.

Can someone who works on volume mounts take a look?

[code]

[2018-11-20 00:13] AishSundar commented on #71215
The latest run failed the Density test - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/260

[2018-11-20 00:14] AishSundar commented on #71183
/milestone v1.14
/priority important-soon

[2018-11-20 00:14] AishSundar commented on #71183
/remove-priority critical-urgent

[2018-11-20 00:35] Huang-Wei commented on #62109
/close

[2018-11-20 00:35] #62109 closed

[2018-11-20 00:41] jberkus opened #71239 "Failing Test: gce-new-upgrade-parallel Could not reach HTTP service through 35.232.211.55:80 after 2m0s"
*Failing Test Job*: gce-new-master-upgrade-cluster-parallel

*Test Failure*:  [sig-cluster-lifecycle] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]

also: service-upgrade

*Testgrid*: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel

Sample: https://gubernator.k8s.io/build/kubernetes-jenki

[2018-11-20 00:46] msau42 commented on #71012
I think it makes sense to ignore submounts.

[2018-11-20 00:59] k82cn commented on #71234
evicted after `tolerationSeconds: 300` or evicted immediately?

[2018-11-20 01:01] Huang-Wei commented on #71234
@k82cn They're evicted after 300 seconds, just like normal pods.

[2018-11-20 01:08] k82cn commented on #71234
emm... If so, I think that should be fine :) `critical-pod` is cluster level system pod; if the node is not-ready or unreachable, we'd better re-schedule it to other nodes to make service ready; otherwise, we're not sure whether the 'critical' is healthy :)

[2018-11-20 01:09] k82cn commented on #71234
we need to make sure the `critical-pod` will evict others to run :)

[2018-11-20 01:12] jberkus commented on #70661
Flake again today: https://k8s-testgrid.appspot.com/sig-release-1.13-blocking#gce-cos-1.13-reboot

This is the timeout again:

[code]

Maybe we're just setting the timeout parameters a little too tight?  According to triage, this is a frequent flake, going back as long as we have history.  Can we maybe test increasing the timeouts by 10% and see if it fixes the flaking?

[2018-11-20 01:13] danielqsj commented on #71165
/assign

[2018-11-20 01:17] Huang-Wei commented on #71234
This is reasonable :)

/cc @ravisantoshgudimetla any particular case you have in mind is more an issue?

I think it's covered well by preemption logic.

[2018-11-20 01:48] m1093782566 commented on #70997
@annProg

I am curious to learn if you have resolved this issue? Does IPVS proxier still have the problem?

[2018-11-20 02:07] m1093782566 commented on #70747
@annProg

Could you please check out the HEAD to see if your issues have been resolved?

[2018-11-20 02:32] mikedanese commented on #7452
I'd like to see this happen in two parts:

1. support all streaming codecs over http/2.
2. deprecate spdy streaming codecs.

I think (1) is probably the biggest win.

[2018-11-20 02:45] wgliang commented on #69770
@agladboy Cool, thanks.

[2018-11-20 03:11] yue9944882 commented on #67546
sure, will get it 👌🏻

[2018-11-20 03:11] yue9944882 commented on #67546
/remove-lifecycle stale

[2018-11-20 04:04] D-PENG opened #71246 "In the yaml of StatefulSets, can volumeClaimTemplates and volumes not coexist?"
Volumes are used to mount configuration files,volumeClaimTemplates to apply for and mount a persistent volume,But can't create.

I know that by creating a PVC and then using Volumes for mount, this is not convenient.

[2018-11-20 04:14] MarcoPalomo opened #71247 "problems with the “alpine” image for my initContainers"
People, I am trying to create a simple file /tmp/tarte.test with initContainers. I have a constraint, using an alpine image for the container. Please let me know what is NOT in this simple yaml file.

[code]

And there goes the describe of the pod

[code]

And if I change the alpine image for an nginx image container... it's work good.

[2018-11-20 04:16] MarcoPalomo commented on #71247
@kubernetes/sig-contributor-experience-test-failures

[2018-11-20 04:37] #41125 closed

[2018-11-20 06:21] leoowu opened #71249 "Customized Pod ipPool failed to work"
**What happened**:
I create my k8s cluster with kubeadm command "kubeadm init --pod-network-cidr=10.51.0.0/16 --kubernetes-version=v1.12.2 --apiserver-advertise-address=192.168.190.102 --service-cidr=10.96.0.0/16  --token-ttl=0  -v=9 ", and the 'CALICO_IPV4POOL_CIDR' from Calico was '10.51.0.0/16'

![image](https://user-images.githubusercontent.com/6262327/48754956-9874a700-ecce-11e8-9996-02eb8313

[2018-11-20 07:00] lichuqiang commented on #71236
/assign

[2018-11-20 07:08] tossmilestone commented on #71249
/sig cluster-lifecycle

[2018-11-20 08:30] pohly commented on #70888
Saad Ali <notifications@github.com> writes:

So perhaps it really has to do something with trying to get logs for
pods that couldn't start? Does
https://github.com/kubernetes/kubernetes/pull/71210 help?

[2018-11-20 09:07] mborsz commented on #71215
/assign

[2018-11-20 09:30] mborsz commented on #71215
I just checked this and it's safe to ignore: it's problem with the test itself and not the regression.

I see in gce activity logs that the following vms were restarted due to hostError:
* gce-scale-cluster-minion-group-4-ttff
* gce-scale-cluster-minion-group-q9bw
* gce-scale-cluster-minion-group-2-9sbz
* gce-scale-cluster-minion-group-1-v8jc
* gce-scale-cluster-minion-group-3-2dk9

Our test doesn

[2018-11-20 09:35] lyy910203 opened #71255 "Hpa cpu detection java application appears to start the highest number of pod"
Hpa settings are as follows
[code]

Since the application is java, when the java application is started, the cpu is occupied very high, and each release version will start 3 pods.
There is a way to control the pod when it starts, not to detect
thanks

[2018-11-20 09:45] edbighead opened #71257 "Mounted ConfigMap volume is not served entirely"
**What happened**:
ASP.NET Core SPA with external config in wwwroot/config/config.json

Contents of config.json:
[code]

When the file is **not being overwritten by a ConfigMap**, it works fine and I am able to get the full content of file.
[code]

When ConfigMap data is mounted to a this path with Volume, it is not returned entirely.
[code]

The file is present in pod:

[code]

**ConfigMap.yaml**

[2018-11-20 09:49] edbighead commented on #71257
/sig configmap

[2018-11-20 10:55] brancz commented on #69676
Because the `kube_pod_container_status_terminated_reason` metric was only introduced in 1.4: https://github.com/kubernetes/kube-state-metrics/releases/tag/v1.4.0-rc.0

[2018-11-20 10:56] ericjee commented on #28603
Hey guys, quick question, Does hpa really support scale up from 0 to nonzero case? I'm within v1.11.2

[2018-11-20 11:03] dims commented on #71168
@vharsh we just recently got it working. So please do file a PR against that document if you get some time.

[2018-11-20 11:08] scones commented on #60807
as this issue is still open:
within my minikube cluster running with "none", this happened after the host woke up from hibernate.

my assumption:
in my case the hibernate triggered the same problems, an enabled swap would do.

which yields the assumption:
the swap might be enabled in the affected clusters?

but this is just conjecture. the important thing for me, and anyone landing in this bug wit

[2018-11-20 12:40] mwmix commented on #36222
Likewise.

[2018-11-20 12:43] cpnielsen commented on #52817
/reopen
/remove-lifecycle rotten

We see this consistently with all pods who define a liveness or readiness probe. Whenever we roll out a new deployment, the pods who are terminated will emit a failed liveness/readiness probe AFTER they have been terminated. We have considered adding a `preStop` hook that just sleeps for 2-3 seconds, but it seems like a band-aid solution to something that should n

[2018-11-20 12:44] cpnielsen commented on #52817
@sunao-uehara Do you still experience this? This happens to us running kubernetes 1.11.4.

[2018-11-20 12:45] #51462 closed

[2018-11-20 12:51] brancz commented on #69676
Strange, you're right, looks like we have a mistake in the changelog. The code seems to be there in 1.3.1: https://github.com/kubernetes/kube-state-metrics/blob/v1.3.1/collectors/pod.go#L125

[2018-11-20 13:09] jsravn commented on #70747
It's not a big surprise this benchmark performs better with `conn_reuse_mode=0`. `ab` uses http/1.0 so is creating a new connection for every single request. With `conn_reuse_mode=0` IPVS will reuse the existing connection entry - sending repeated requests to the same real server rather than actually load balancing. So my guess is you will see a very unbalanced load with using `conn_reuse_mode=0`,

[2018-11-20 13:17] jsravn commented on #70747
Apart from the load balancing issue, it's also possible the overhead of `conn_reuse_mode` is bad when creating `20000000` connections in a short period of time. But I'm not sure we should be optimizing for such a thing, when in reality connections will be much longer lived. It's a trade off between improved load balancing (conn_reuse_mode=1 or 2) and connection creation latency (conn_reuse_mode=0)

[2018-11-20 13:20] annProg commented on #70747
@jsravn I have a php program use unirest to request  other sevice in the cluster. It not use keepalive.

[2018-11-20 13:20] m1093782566 commented on #70747
I would prefer to improve the latency number.

[2018-11-20 13:20] omerElezra commented on #60807
Great!!
Working

[2018-11-20 13:29] xujihui1985 opened #71260 "apply resource during termination"
**What happened**:
apply a resource when the resource is still in terminating state, it apply successfully
**What you expected to happen**:
same as create, failed with "object is being deleted"
**How to reproduce it (as minimally and precisely as possible)**:
k delete pod foo && k apply -f ./foo.yaml
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)

[2018-11-20 13:30] xujihui1985 commented on #71260
/sig cli

[2018-11-20 13:39] annProg opened #71261 "nf_conntrack: table full, dropping packet"
**What happened**:
- dmesg -T show lots of `nf_conntrack: table full, dropping packet`
[code]

This issue may break pod http health check,  pod will restart frequently. Such as `ingress-nginx-controller`， will be unavailable， all request will failed.

**What you expected to happen**:
no errors in dmesg
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2018-11-20 13:41] annProg commented on #71261
@kubernetes/sig-network-bugs

[2018-11-20 13:42] Whitespirit0 commented on #26895
/remove-lifecycle rotten

On Tue, Nov 20, 2018 at 11:44 AM fejta-bot <notifications@github.com> wrote:

[2018-11-20 13:42] annProg commented on #71261
/area kube-proxy

[2018-11-20 13:46] charpty opened #71262 "Best way to use "sysctls" in kubernetes"
Hi, kubernetes is a great product.

I know the "unfriendly sysctls" is limited to the container and the base docker image. And kubernetes's 'Enabling Unsafe Sysctls' not work for me, because I saw the warning under the instructions and I don't want to be 'unsafe'.

Now I map the host's "/proc" to docker container's "/proc", so the container can use it's host's kernel config (But I need change ever

[2018-11-20 13:49] DeliangFan opened #71264 "Adjust the PodInfraOOMAdj to -999"
**What happened**:

When a oom happened, the infra container got killed first in guarantee.

**What you expected to happen**:

We want the process in container who consume lots of memory got killed.

**How to reproduce it (as minimally and precisely as possible)**:

Create a guarantee pod which malloc more and more memore.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2018-11-20 13:55] mohammedali-kadri opened #71265 "autoscale did not happen"
**What happened**:
A node got scaled down through autoscaler, on which my prometheus and grafana pods were running, those pods had PVC attached to them in AWS ap-south-1 B AZ,, after the scale down, one worker node was available in ap-sout-1A AZ,, but my pods became unschedulable due to  pvc attached to them in a diff AZ.

[code]

[2018-11-20 14:06] flyingcougar commented on #70238
:+1: I am facing the same issue.

[2018-11-20 14:06] DeliangFan opened #71267 "Adjust the PodInfraOOMAdj to -999"
**What happened**:

When a oom happened, the infra container got killed first in guarantee.

**What you expected to happen**:

We want the process in container who consume lots of memory got killed.

**How to reproduce it (as minimally and precisely as possible)**:

Create a guarantee pod which malloc more and more memory.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2018-11-20 14:12] DeliangFan commented on #71267
/sig cluster-lifecycle

[2018-11-20 14:14] mariantalla opened #71268 "[failing test] upgrade/downgrade tests failing with GKE errors"
**Which jobs are failing**:
In [sig-release-1.13-all](https://k8s-testgrid.appspot.com/sig-release-1.13-all):
- [gke-cos-1.13-default](https://k8s-testgrid.appspot.com/sig-release-1.13-all#gke-cos-1.13-default)
- [gke-cos-1.13-reboot](https://k8s-testgrid.appspot.com/sig-release-1.13-all#gke-cos-1.13-reboot)
- [gke-cos-1.13-serial](https://k8s-testgrid.appspot.com/sig-release-1.13-all#gke-cos-1.13

[2018-11-20 14:49] peradel opened #71271 "Update 1.10 to 1.11 kubelet node is forbidden to patch status"
Pod's are unable to communicate.

```Nov 20 14:12:30 test-node-09 kubelet-wrapper[1556]: W1120 14:12:30.493541    1556 status_manager.go:498] Failed to update status for pod "kube-apiserver-test-node-09_kube-system(944906ec-ecc6-11e8-ae4e-0cc47afc2098)": failed to patch status "[...omitted patch data ...]": pods "kube-apiserver-test-node-09" is forbidden: User "system:node:test-node-09" cannot pat

[2018-11-20 15:00] peradel commented on #71271
/sig auth

[2018-11-20 16:38] enj commented on #71185
The code that backs `auth reconcile` is used on the server side as well.  Hence the namespace creation was added in #48480.  I made it best effort in #70351 which will land in 1.13.

[2018-11-20 16:53] george-angel commented on #43784
/remove-lifecycle stale

[2018-11-20 16:53] enj commented on #70387
@Sharma-Rajat I am assuming that cluster role is bound via a cluster role binding.  A user with that power can exec into pods, and use that to easily extract all secrets.  They can also impersonate service accounts, such as `clusterrole-aggregation-controller` in `kube-system` (which has full access to all resources).

[2018-11-20 17:00] Sharma-Rajat commented on #70387
Hey @enj good catch man!

1. Remove exec verb from pod ✅
2. How can I stop impersonations?

[2018-11-20 17:17] sincorchetes opened #71274 "error marking master: timed out waiting for the condition [kubernetes]"
ust I am starting to learn Kubernetes. I've installed CentOS 7.5 with SELinux disabled kubectl, kubeadm and kubelet by Kubernetes YUM repository.

However, when I want to start a `kubeadm init` command. I get this error message:

[code]
Command:
`kubeadm init --pod-network-cidr=10.0.0.0/16 -v 9`

Version of RPMs:
[code]

`systemctl status kubelet.service -l `https://paste.fedoraproject.org/paste/h

[2018-11-20 17:18] Nefelim4ag commented on #71139
Rebuild K8s 1.9.11 with etcd 3.1.20 doesn't help.

[2018-11-20 17:39] mariantalla commented on #71268
Assigning `critical-urgent` priority as this can blur CI signal and we're very close to the release date.

/priority critical-urgent

[2018-11-20 17:42] enj opened #71275 "Transition service account controller clients to TokenRequest API"
The controller manager handles controller clients via the `ControllerClientBuilder` interface.  The core implementation is `SAControllerClientBuilder` (see `k8s.io/kubernetes/pkg/controller/client_builder.go`).  To get a client for a specific service account, it ensures that the service account exists, and then waits for the token controller to create a secret that contains the service account's t

[2018-11-20 17:42] enj commented on #71275
/assign

[2018-11-20 17:52] Nefelim4ag commented on #71139
Another error what can happen (i use daemonset for tests):
[code]

Most funny part about that, is what i just not use nodeSelector at all in that DS.
That part added by some race condition when K8s Api/Controller services try modify objects.

[2018-11-20 17:58] nickperry commented on #69195
We have just wasted a TON of time on this when a misconfigured Samsung TV on the other side of the world, plus lack of rigor or our DDNS policy broke our Kube 1.12 clusters.

I really don't like that these control plane images are hitting DNS for every lookup of localhost. I am very keen to see #71082 implemented.

[2018-11-20 18:05] liggitt commented on #71228
am I understanding correctly that there is no overlap in supported CSI plugin APIs between 1.12 and 1.13?

[2018-11-20 18:09] BenTheElder commented on #69195
The control plane images in future releases already contain nsswitch.conf,
which could be cherry picked back. Doing this in an automated fashion like
that issue would require bringing a feature to sig-network and sig-node for
discussion. I suspect supplying a file only if it doesn't exist in the
image would be somewhat expensive compared to what we do currently, and
it's definitely a breaking chan

[2018-11-20 18:19] kfox1111 commented on #69195
@BenTheElder I would argue, that 1.12 was a broken release. 1.11 and below did not have the issue. As K8S is maturing, some of us, especially in more enterprise like environments, are not upgrading as fast, so the issues are being found slower. I think backporting the nsswitch.conf fix for the control plane images is appropriate to resolve the regression until a more universal fix can be put in pl

[2018-11-20 18:27] shomron opened #71277 "pkg/util/wait PollUntil() can leak goroutines"
Related to #14995, there remains a leak in `wait.PollUntil()` which does not ensure the channel it passes to `WaitFor` is closed. This causes goroutines to leak under common scenarios, such as when calling `cache.WaitForCacheSync()`.

/cc @ncdc

**What happened**:
Each call to `wait.PollUntil` leaks an active goroutine (in this case spawned by `wait.poller()` via `wait.WaitFor()`. The goroutine wi

[2018-11-20 18:47] nikopen commented on #71224
Opened this: https://github.com/kubernetes/kubernetes/pull/71278

[2018-11-20 19:00] reefbarman commented on #51475
/remove-lifecycle stale

so I have another use case for running without a connection to a cluster and that is validating yaml files that have been generated through templating in a CI pipeline without needing to configure that pipeline to connect to any cluster it may/may not have access to

[2018-11-20 19:00] Nefelim4ag commented on #71139
Rebuild k8s 1.9.11 on etcd 3.2.25 - currently in test.

[2018-11-20 19:05] jpetazzo opened #71279 "Improve handling of some YAML-related issues in kubectl edit"
**What would you like to be added**:

When editing a resource with `kubectl edit`, invalid changes *usually*
take the user back to the editor, with an explanation why their change
was rejected.

For instance, if I do:
- `kubectl edit service kubernetes`
- and add `hello` on the first line
- save and quit
... I'm taken back to the editor, with a helpful message: (broken down to multiple lines here

[2018-11-20 19:06] jpetazzo commented on #71279
/sig cli

[2018-11-20 19:07] reefbarman commented on #39699
/reopen

seeing as a google doesn't give any real options to validating resource yamls in a CI pipeline, I still think this is a feature that is very much needed! We generate the kubernetes yaml files via templating and having someway to test they are generated correctly without having to test them against a cluster will be ideal

[2018-11-20 19:09] apelisse commented on #39699
@reefbarman What's wrong with testing against the actual cluster? is it because you don't want to have a running cluster, or is it because you don't want to have to apply to the cluster (you can use `apply --server-dry-run` when this becomes beta in 1.13)

[2018-11-20 19:16] reefbarman commented on #39699
Well the main reason is the only cluster we have is minikube running on Dev
machines, but we want to test our yaml files in a ci pipeline which can’t
run minikube
On Tue, 20 Nov 2018 at 19:11, Antoine Pelisse <notifications@github.com>
wrote:

[2018-11-20 19:18] shomron commented on #71277
/sig api-machinery

[2018-11-20 19:31] angegar commented on #28586
Hi all, i tagged the subnet as said by @sasso but in my case the ELB which is in an Utility subnet( public subnet) still not see the nodes in the private subnets. If i add the az manually to the elb i works but i would like to do it with kops to automate. How did you solve the issue ?

[2018-11-20 19:45] saad-ali opened #71282 "Add a test for "graceful" CSI upgrade between 1.12 to 1.13"
**What happened**:

Kubernetes v1.13 supports CSI 1.0.
Kubernetes v1.12 and 1.11 support CSI 0.3).

CSI 1.0 is not backwards compatible with CSI 0.3 (see https://github.com/kubernetes/kubernetes/issues/71228#issuecomment-440434852).

Therefore the upgrade from an earlier version to 1.13 will be disruptive for anyone depending on the CSI driver.

A vendor may choose to make a version of a CSI drive

[2018-11-20 19:47] luxas commented on #68244
@nikopen Yes, v1.14 is correct for this one

[2018-11-20 19:52] kh34 commented on #67221
/remove-lifecycle stale
Any update on this?

[2018-11-20 19:59] ncdc commented on #71277
fyi @liggitt @smarterclayton @deads2k @sttts

Oren has 2 options to fix this. He'll be pasting sample code shortly and we can decide which approach we prefer.

[2018-11-20 20:00] neolit123 commented on #70543
thanks doesn't seem to be a kubeadm bug. @mrunalp

@bhperry @steven-sheehy

/close

[2018-11-20 20:00] neolit123 commented on #70543
/reopen
oops wrong issue. :]

[2018-11-20 20:53] #15345 closed

[2018-11-20 20:58] jessesuen commented on #71185
Changing it to best effort doesn't actually help our specific situation because the deployment tool we are building (Argo CD), relies on running the kubectl CLI to perform deployments, and has root access.

After changing the command from:
[code]
to:
[code]

Suddenly we were creating namespaces in some situations when we didn't expect it to be created, where we could rely on an error coming back f

[2018-11-20 21:02] davidz627 commented on #71282
/assign

[2018-11-20 21:44] jberkus commented on #71239
After 5 flakes in a row, this is passing again, so demoting it to Flake

/kind flake
/remove-kind failing-test

[2018-11-20 21:46] liggitt commented on #71228
Just to explore how disruptive that would be, aren't nodes required to be drained as part of upgrade? if so, when new replicas of those workloads attempt to get scheduled to other nodes, any that use CSI volumes will not be able to run because those volumes could not be attached/mounted, correct?

[2018-11-20 21:55] saad-ali commented on #71228
Correct, it is suggested that pods be drained from nodes before a node is upgraded. And if a CSI driver is uninstalled before upgrade, then the pods depending on volumes using that driver will remain in pending state (won't attach/mount) until the upgrade is complete and a compatible version of the driver is installed.

[2018-11-20 22:20] enj commented on #70387
You have to be explicit on the granted verbs (`impersonate` is the verb used for impersonation checks).  I believe you are fighting a losing battle though - the user has access to all PSPs, so they can easily run a root pod, compromise all kubelets, get the master's certs, etc.  There is no such thing as a user who can do everything on the cluster except read secrets.

[2018-11-20 22:37] tangjiaxing669 opened #71287 "install k8s apiserver: Unable to create storage backend: config context deadline exceeded"
I always prompt the following exception when configuring the startup apiserver:

[code]

Note:

[code]

Below is my configuration information：

[code]

Note, my version is 1.12.
Please help me.

[2018-11-20 22:42] msau42 commented on #71228
This might be tricky for pods that are managed by higher level controllers that will automatically restart the pods

[2018-11-20 22:52] wolfadactyl commented on #60807
I run into this issue periodically if we change our gcloud instances (e.g. upgrading nodes). This replaces the old node from `gcloud instances list` with a new one but leaves the pods in the k8s namespace hanging:

[code]

This then leaves the pods in an unknown state:
[code]

Due to this, the namespace will never finish terminating. Not sure if this means we should change our finalizers or if the

[2018-11-20 22:53] prameshj commented on #45363
PR https://github.com/kubernetes/kubernetes/pull/70555 adds support for running a nodelocal dns cache. This uses CoreDNS as the cache, but does not include the kubernetes plugin, so the cache instances do not watch pods and services.

[2018-11-20 22:56] kfox1111 commented on #53467
Just ran into this during an upgrade.... kubeadm looks for the mirror pods before continuing, and doesn't spit out an error when it can't find them. It would be nice if this was documented somewhere.

[2018-11-20 23:01] TarunKDas2k18 opened #71288 "juju status works that is it shows all K8 cluster is up and running with 9 nodes but kubectl cluster-info hangs"
What happened:
juju status works that is it shows all K8 cluster is up and running with 9 nodes but kubectl cluster-info hangs

What you expected to happen:
Should get a list of worker and master nodes

How to reproduce it (as minimally and precisely as possible):
Use below commands to spin up canonical k8 cluster using juju in aws

juju update-clouds # This command ensures all the latest regions

[2018-11-20 23:33] verult opened #71289 "Integrate CSI topology e2e tests into the storage testing framework"
The e2e test being added in https://github.com/kubernetes/kubernetes/pull/70941 are tailored specifically for GCE PD drivers. Moving forward this should be generic, workable with any driver.
* Need a way for drivers to customize what topologies can be chosen for `AllowedTopologies`.
* Introduce a way to skip certain topology tests depending on whether the driver indicates it has multiple topologie

[2018-11-20 23:35] krmayankk commented on #68397
@mattfarina I will go ahead and Start Writing this KEP. Thanks for discussing this in Sig Apps and bringing it forward.

[2018-11-20 23:38] saad-ali commented on #71228
@AishSundar @liggitt I spoke with @thockin. He is not happy with the backwards comparability break. He wants us to look in to what it will take to support both 0.x and 1.0. I will look in to that. And update this thread on feasibility. Until this is resolved consider this a release blocking issue.

/priority critical-urgent
/milestone v1.13

[2018-11-20 23:46] AishSundar commented on #71228
@saad-ali thanks for the update, will watch this thread.

[2018-11-20 23:58] AishSundar commented on #71215
The latest run of this job passed - https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-master-scale-performance

[2018-11-21 00:08] teodor-pripoae commented on #56371
The workaround above doesn't work for external load balancers.

[2018-11-21 00:14] smarterclayton commented on #71277
I would prefer using contexts - we actually should in the long term have context variants of all waits, so it’s the right direction to start using them more here

[2018-11-21 00:15] teodor-pripoae commented on #56371
Let's see the following case.

I'm having ssh to gke nodes disabled from gce firewall. I want to deploy a pod with a service with external ip, to allow ssh from outside into container. Doing this will expose port 22 on all nodes in my gke cluster.

[2018-11-21 00:15] nlopezgi opened #71290 "Building kubectl with Bazel as an external repo dependency is not currently possible."
**What would you like to be added**:
I would like to be able to build kubectl as a dependency of another Bazel project.
Specifically, it should be possible to add to a WORKSPACE file something like:
[code]
and then do
`bazel build @io_kubernetes//cmd/kubectl:kubectl`

(note the `load_something_something_kubernetes` does not exist today)

**Why is this needed**:
This would enable using kubectl as a

[2018-11-21 00:47] saad-ali opened #71292 "kubelet plugin watcher doesn't filter fsnotify events"
**What happened**:

The kubelet plugin watcher has code that sets up a `fsnotify.Watcher`.

**What you expected to happen**:

I assume that `fsnotify.Watcher` triggers a "create" or "remove" event, if a dir or file is created *anywhere* on the filesystem. If this is the case, I expect kubelet plugin watcher `handleCreateEvent(event fsnotify.Event)` to check if the discovered socket is in the same

[2018-11-21 00:56] chrislovecnm commented on #71290
/sig testing

[2018-11-21 00:58] chrislovecnm commented on #71290
/cc @ixdy
/cc @BenTheElder

[2018-11-21 01:00] chrislovecnm commented on #71290
/cc @fejta

[2018-11-21 01:02] chrislovecnm commented on #71290
@nlopezgi https://github.com/kubernetes/kubernetes/tree/master/vendor/golang.org/x/tools is the x tools location.

We need to figure out the rules.

[2018-11-21 01:07] saad-ali commented on #71292
I misunderstood the code. The `fsnotify.Watcher` only watches dir that are explicitly added to the watcher which is `w.path` and subdirs.

[2018-11-21 01:07] #71292 closed

[2018-11-21 01:11] ixdy commented on #71290
A few comments here:
- The kubernetes 1.10 branch is pretty old, and depends on an even older version of `rules_go`. You might have an easier time with a more recent release, though a number of issues would still remain.
- The various go dependencies come from `rules_go` with `go_rules_dependencies()` and `go_register_toolchains()`. We call those in our `WORKSPACE`.
- In general, we discourage Go

[2018-11-21 01:14] ixdy commented on #71290
That `go_genrule` issue in `vendor/k8s.io/apimachinery/pkg/util/sets` is hopefully fixed in 1.12+ (#64122) though I haven't tested it in that setting.

[2018-11-21 01:52] davidz627 commented on #71282
@saad-ali here's my state dump for today.

Attempted to investigate this today but was unable to upgrade a cluster from `1.12->1.13` not for lack of trying.

Some learnings and thoughts:
- Deployments of driver pods has to be namespaced or have different deployment names as to not collide
- `registration-dir` must be changed to `DirectoryOrCreate` since the new ` /var/lib/kubelet/plugins_registry/

[2018-11-21 01:55] DeliangFan commented on #71267
/assign DeliangFan

[2018-11-21 02:03] m1093782566 commented on #71261
@annProg

I assume you can tune this parameter via `--conntrack-max-per-core`, xref: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L164

Given the default value `786432` in your case, I assume your host has 24 CPU cores? Default value of max-contrack-per-core is 32*1024.

[2018-11-21 02:11] dims commented on #71277
+1 to option 1

[2018-11-21 02:14] annProg commented on #71261
Thanks! I will tune the parameter

[2018-11-21 02:14] #71261 closed

[2018-11-21 02:16] cblecker commented on #66422
/lifecycle rotten

[2018-11-21 03:14] khacminh commented on #69678
Hi @gregsidelinger,

I'm having the same issue with mounting EFS as `PersistentVolume` with **TLS** connection. Is there any workaround for EKS?

Thanks.

[2018-11-21 03:19] Huang-Wei commented on #71112
@q6413260 please check https://github.com/kubernetes/kubernetes/pull/71133#pullrequestreview-177043137

[2018-11-21 03:55] dims commented on #42217
/lifecycle frozen

[2018-11-21 03:55] dims commented on #71279
@jpetazzo i've reopened the issue you mentioned

[2018-11-21 03:56] dims commented on #69195
@nickperry that sounds like a great WHODUNIT war story :)

[2018-11-21 04:12] nikhita commented on #66422
/remove-lifecycle rotten

PR open https://github.com/kubernetes/kubernetes/pull/71296 (thanks, @cblecker!)

[2018-11-21 04:16] cblecker commented on #66422
oops! sorry, I meant to remove it. thanks!

[2018-11-21 05:11] neolit123 commented on #69195
yes the change was reverted.
it also spawned a little bit of a discussion here for a rather complicated workaround:
https://github.com/kubernetes/kubernetes/pull/71010#issuecomment-438475912

given this affects images that are already deployed at GCR, it's unlikely that it can be cherry picked. the images do support revisions, but this would also mean porting changes to all the bundled tools that

[2018-11-21 05:27] cofyc opened #71301 "Add prebound pvs test cases in integration stress tests"
**What would you like to be added**:

Add prebound pvs tests cases in integration stress tests

**Why is this needed**:

See discussion here: https://github.com/kubernetes/kubernetes/pull/71212#pullrequestreview-176323978

/kind feature

[2018-11-21 05:31] liggitt commented on #71271
That permission was added in https://github.com/liggitt/kubernetes/commit/9fe2c536249d7ec3010d71d6b610f35754e478b6#diff-eee450e334a11e0b683ce965f584c3c4, in 1.11+, and your apiserver is currently 1.10.5.

Upgrade your kube-apiserver to be at least as new as your kubelet. Running a kubelet newer than the apiserver is not supported.

/close

[2018-11-21 05:31] #71271 closed

[2018-11-21 05:56] danielzhanghl commented on #65392
hi, @nikopen  do we have any decision on the solution and release plan of this?
thanks.

[2018-11-21 06:25] drags opened #71305 "kube-proxy currently incompatible with `iptables >= 1.8`"
**What happened**:

When creating nodes on machines with `iptables >= 1.8` kube-proxy is unable initialize and route service traffic. The following is logged:

[code]

This is compat issue in `iptables` which I believe is called directly from kube-proxy. This is likely due to module reorganization with iptables move to nf_tables: https://marc.info/?l=netfilter&m=154028964211233&w=2

iptables 1.8 i

[2018-11-21 06:29] sincorchetes commented on #71274
@kubernetes/sig-kind-bug

[2018-11-21 06:33] cwdsuzhou commented on #71260
I have not ran into the same problem in v1.11.1. Cmd "create" and  "apply" had  the same result, pod created successfully.

[2018-11-21 06:36] xujihui1985 commented on #71260
create resource during terminating, please read carefully, if it created successfully, that's definitely a bug

[2018-11-21 06:39] YP28 commented on #66068
Since it's no longer an issue for what I'm working on, I'll close this for now.

/close

[2018-11-21 06:39] #66068 closed

[2018-11-21 06:47] idanlevin commented on #71184
/sig scheduling

[2018-11-21 06:52] cypherfox commented on #71271
IMO it would be usefull to have this information placed in the Changelog (of referenced from there). The only upgrade manual we could find was using kubeadm, which we don't use.

Or is the use of kubeadm required for cluster operations?

[2018-11-21 07:07] zegl commented on #71265
This bug should be reported to [kubernetes/autoscaler](https://github.com/kubernetes/autoscaler/issues) instead.

Are you sure that there isn't anything else that is blocking the autoscaler?

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#i-have-a-couple-of-pending-pods-but-there-was-no-scale-up

[2018-11-21 07:15] liggitt commented on #71271
Kubeadm is definitely not required. Keeping the kubelet at a supported level relative to the apiserver is required. There is actually a documentation pull request in progress (https://github.com/kubernetes/website/pull/11060) to make the version requirements and upgrade order clearer.

[2018-11-21 07:15] hongjyan commented on #68818
@fabiand can you explain details?
I see service subnet: "serviceSubnet: 10.6.142.0/24" do not mix with your undercloud subnet which should be 10.96.22.0/24.
I met this same problem, how you fix it?

[2018-11-21 07:52] code-sleuth commented on #59113
Hey @vithati , i'm working on it. I have some changes that i'm still discussing with @juanvallejo before i raise my PR.

[2018-11-21 08:01] waldauf commented on #68818
@hongjyan Yes, I fixed it - by reinstalling all K8s cluster. There wasn't another way how to fix it in short time.
If you format your code it will be better readable than just paste it in. ;]

[2018-11-21 08:02] Lion-Wei commented on #71261
@annProg And if you are using config file, `--conntrack-max-per-core` flag will not work, you need add the following param in your config file. : )
[code]

[2018-11-21 08:08] Lion-Wei commented on #70747
@annProg , I think this was because the the container already deleted, but kube-proxy need time to flush the rules, iptables mode should also have this problem.

[2018-11-21 08:10] shdowofdeath commented on #60807
cool it's not the same issue
you need to put nodes in maintenance mode and then after it's in maintenance mode all pods will be evacuated and then u can delete/upgrade

[2018-11-21 08:11] annProg commented on #71261
@Lion-Wei Thanks! it works

[2018-11-21 08:17] rctl commented on #68298
I'm looking into adding the --all flag to wait, sounds like a nice feature to have :)

[2018-11-21 08:23] wavezhang opened #71308 "CoreDNS cache out-of-date results"
**What happened**:
Cluster DNS keep returning NXDOMAIN when svc/pod is recreated.

**What you expected to happen**:
Cluster DNS return cluster ip/pod id after svc/pod is running.

**How to reproduce it (as minimally and precisely as possible)**:
1. Keep on connect to svc/pod using domain
2. Recreate svc/pod or pod
3. You will see service keeps unavailable until cache timeout
**Anything else we nee

[2018-11-21 08:43] mikedanese commented on #7452
I have a rough [prototype](https://github.com/kubernetes/kubernetes/compare/master...mikedanese:h2stream?expand=1) of (1) working e2e from kubectl to CRI. Migration will be tricky. I haven't thought of a way for clients to discover h2 streaming capabilities since the entire stack (kubectl -> apiserver -> kubelet -> cri) needs to support streaming over h2. With a significantly more complex implemen

[2018-11-21 08:50] garethr commented on #39699
@reefbarman mentioned above as well but I think kubeval does what you want. https://github.com/garethr/kubeval.

Here an example of it being used in a CI pipeline (Travis in this case) https://github.com/garethr/helm-travis-testing-example. There is also a handy integration with GitHub in https://github.com/urcomputeringpal/kubevalidator

[2018-11-21 08:53] matthyx commented on #27114
So, should I implement a `maxInitialFailureCount int` for the existing probes, would it answer everyone's needs?

[2018-11-21 09:04] cwdsuzhou commented on #71260
Sorry, I have not read clearly.  Now, I found k8s 1.11.1 has the same issue while using `k apply`.

[2018-11-21 09:47] jindiMarvel opened #71312 "devicemanager garbage collection"
**What happened**:
In  \kubernetes\pkg\kubelet\cm\devicemanager\manager.go
Function :
func (m *ManagerImpl) Allocate(node *schedulercache.NodeInfo, attrs *lifecycle.PodAdmitAttributes) error {}
It has a var named devicesToReuse . This var stores the devices which init-container ever used , and container can reuse these devices when it allocate devices .
But if the number of devicesToReuse is bigge

[2018-11-21 09:53] rgargadobe commented on #62153
This is a genuine need, why is it not worked on?

[2018-11-21 10:07] onlyjob commented on #66422
Thanks.

[2018-11-21 10:40] dlisin commented on #67191
/remove-lifecycle stale

[2018-11-21 10:41] dlisin commented on #67191
@patricklecuyer do you have any progress on this?

[2018-11-21 10:51] hongjyan commented on #68818
@waldauf sorry, start do formatting from now on.

I think this problem may be related to openstack particular networking.
In my case, multi kubernetes masters deployed on different openstack clouds,  the IP of endpoint of kubernetes service is 192.168.0.x, it is internal.  So, theoretically, endpoints IP address could be overlapping. I wanted to use floating IP as endpoints but errors like "can no

[2018-11-21 11:18] zx8 commented on #68526
@apelisse I've found what I think is a bug:

[code]

Not sure how to diagnose this. Anything I can do to help figure out the issue?

[2018-11-21 11:41] dims commented on #66422
@onlyjob please do feel free to open issues/prs of this sort early in the release cycle, so we can work through things needed well before the milestones/freeze etc. we are getting some heat about updating dependencies and we kind of settled on some guidelines here:
https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md#justifications-for-an-update

if you think that needs

[2018-11-21 11:51] yuriipolishchuk-finsight commented on #30784
@alwinmarkcf https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2018-11-21 12:48] idanlevin commented on #71184
btw. if this helps in any way, I created this project to temporarily solve this issue -
https://github.com/idanlevin/pod-resources-enforcer

but I honestly think it should be a configuration to _LimitRanger_ instead.

[2018-11-21 13:17] nlopezgi commented on #71290
thanks @ixdy for your response.

- Using the built + released `kubectl` binaries should work as well; I'll try that alternative. Which is the official location to pull these from (e.g., `rules_go` are pulling their binaries from https://dl.google.com/go/)?

- I will also try 1.12+ to see if any issues persist. If it is possible to build it from source I would like to also enable that option (mostl

[2018-11-21 13:30] yudiandreanp commented on #68227
Encountered the same problem

[2018-11-21 13:36] gregsidelinger commented on #69678
I have not had time to finish a EFS CSI driver.  One would hope AWS would provide one so I did not need to.

[2018-11-21 13:37] jrake-revelant commented on #63750
Very interested in seeing this fixed.

[2018-11-21 13:44] pdefreitas commented on #52084
/reopen
/remove-lifecycle rotten

[2018-11-21 13:50] brantburnett commented on #66651
/remove-lifecycle stale

[2018-11-21 13:55] bpaskalev commented on #65969
Hi I followed the doc for setting mountpropagation and still have similar issue.. the test command in above post runs successfully on both nodes:
[]# docker run -it --rm -v /mnt:/mnt:shared busybox sh -c /bin/date
Wed Nov 21 13:55:00 UTC 2018

[2018-11-21 13:56] nicklonginow commented on #23726
Deleted the old config from ~/.kube and then restarted docker (for macos) and it rebuilt the config folder.  All good now when I do 'kubectl get nodes'.

[2018-11-21 13:59] annProg commented on #71261
For ingress-nginx node with lvs vip, the most thorough solution might be to set notrack for lvs vip.

run the script on `ingress-nginx` node
[code]

after notrack:

<img width="334" alt="nf_conntrack" src="https://user-images.githubusercontent.com/4145852/48845893-a878ad80-edd8-11e8-89ab-915f9419299a.png">

[2018-11-21 14:05] tangjiaxing669 commented on #71287
@kubernetes/sig-cluster-ops-cluster

[2018-11-21 14:31] tiwalter commented on #70365
I found an answer for this question, see: https://github.com/google/cadvisor/issues/2092

You have duplicated values, because cadvisor exposes the metrics from the containers cgroup and the pods cgroup.
- Metrics from containers cgroup: Metric per container in a pod
- Metrics from pods cgroup: Single metric for the whole pod.

[2018-11-21 14:31] #70365 closed

[2018-11-21 14:58] SebastianStehle opened #71319 "No graceful shutdown when pod gets evicted"
**What happened**:

I am not sure if it is really a bug.

Yesterday the eviction manager cleaned a pod to free up memory. But the graceful shutdown process failed and the container has been terminated.

    I1120 21:46:00.617083 1300 kuberuntime_container.go:582] Killing container "docker://7b9af6ed59606201c15daf1cec2e263415b525873ab58415b562e4e2de187949" with 30 second grace period

When looking

[2018-11-21 15:00] nlopezgi commented on #71290
Tested successfully with kubernetes-1.13.0-beta.1 (was able to build kubectl binary with kubernetes external repo) and all I needed to add to the rules_k8s workspace was:

[code]
Note my workspace already included a recent version of `rules_go`.

Thanks for your help @ixdy . I'm closing this issue, but I still want to pursue doing the  built + released `kubectl` binaries, so pointers to where thos

[2018-11-21 15:00] #71290 closed

[2018-11-21 15:01] twbecker commented on #60099
What's really frustrating is the only service vars that seem to be documented are $service_SERVICE_HOST and $service_SERVICE_PORT, when in fact there are lots of others that look like $service_PORT*. Can someone explain these or point to some docs that I was unable to find?

[2018-11-21 15:05] mysunshine92 commented on #71319
/sig node

[2018-11-21 15:06] bradhoekstra commented on #60099
@twbecker https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables

[2018-11-21 15:44] chrisohaver commented on #71308
This is due to caching, and works as designed.  The question was cross-posted to coredns/coredns#2327.

A workaround was proposed/verified there and the issue closed.

[2018-11-21 15:51] stigok commented on #48798
I had failed to actually apply the weave manifests, hence, no network plugin was initialized.
**Note to self:** Read the *whole* [Weave installation manual](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/) before looking for answers elsewhere :+1:

[2018-11-21 15:52] nikhita commented on #24057
/remove-lifecycle stale

Is this still something we want? If yes, I can help with it!

[2018-11-21 16:06] JCMais commented on #37705
same question than you @aclowkey

[2018-11-21 16:10] chrislovecnm commented on #71290
@nlopezgi I updated our issue with d/l instructions for kubectl

[2018-11-21 16:41] apelisse commented on #68526
Hey @zx8, thanks for the feedback! `kubectl diff` beta that is being released right now is significantly different from that version, and so this bug is not very relevant anymore. Please try the new diff version when 1.13 is released and tell me if you like it!

[2018-11-21 17:44] jberkus commented on #71268
Adding a sig, and dropping the priority level because GKE tests are non-blockers.

/sig gcp
/priority important-soon
/remove-priority critical-urgent

[2018-11-21 17:49] zx8 commented on #68526
Oops, my mistake! I just rebuilt from `master` @ https://github.com/kubernetes/kubernetes/commit/a19bf332de92b523c31980b9a8959e6eccfc6ce4 and am getting:

[code]

When commenting out the ConfigMap YAML and trying again, I get:

[code]

I assume this requires the server to be running v1.13+ as well? I don't want to spam this issue with feedback so let me know if this is a legitimate bug and I'll ra

[2018-11-21 17:52] apelisse commented on #68526
Right, you need server-side dry-run (https://github.com/kubernetes/enhancements/issues/576) on the server (it's currently alpha so you might be able to try by enabling the feature-gate)

[2018-11-21 17:52] jberkus commented on #71065
We did it for all the other upgrade/downgrade jobs, I don't see why not.

[2018-11-21 17:56] jberkus commented on #71215
OK, switching this to a long-term fix non-blocker

/priority important-longterm
/kind flake
/remove-kind failing-test

[2018-11-21 17:58] jberkus commented on #70972
/remove-kind failing-test

[2018-11-21 18:20] tallclair commented on #70249
Another option is to just use [distroless/base](https://github.com/GoogleContainerTools/distroless/tree/master/base), although it does include a few c libraries that we don't need.

[2018-11-21 18:30] ixdy commented on #71290
and that (abandoned) PR from @mikedanese I mentioned was https://github.com/kubernetes/kubernetes/pull/60083.

[2018-11-21 18:33] BenTheElder commented on #70249
would distroless/base have what we need for EG the iptables (kubeproxy) variant?

[2018-11-21 18:35] tallclair commented on #70249
I don't think so - it doesn't have a package manager so iptables would still need to be manually added (and managed).

[2018-11-21 18:39] ChrisCooney commented on #66231
Experiencing this exact issue too.

[2018-11-21 19:40] kachkaev commented on #40908
/remove-lifecycle stale

[2018-11-21 19:43] tallclair commented on #70249
It looks like distroless is planning to put out an image without the c libraries, specifically for this use case. I think we should just use that as soon as it's ready: https://github.com/GoogleContainerTools/distroless/issues/256

[2018-11-21 19:45] Huang-Wei commented on #71234
@ravisantoshgudimetla right now **daemonset pods** are applied with no-execute tolerations without tolerationSeconds, say they will be kept on the node even the node is not-ready/unreachable.

And after that, it will be handled by admission - which applied "tolerationSeconds=300" to **every** pod - unless they already carry tolerations, e.g. like daemonset pod.

So your suggestion of "apply `NoExe

[2018-11-21 19:58] chrislovecnm commented on #71290
He actually has it working. We will have k8s_rules building kubectl

[2018-11-21 20:00] ixdy commented on #71290
right, but having to explicitly list things like the `io_kubernetes_build` dependency is problematic, and also likely to cause build errors (since it may diverge from what we're using in upstream kubernetes).

[2018-11-21 20:04] nlopezgi commented on #71290
agreed, do you know why that PR was abandoned?

[2018-11-21 20:16] #64710 closed

[2018-11-21 20:16] odravison commented on #61191
@pavankjadda Hello,

Can you tell us what was this extra characters?

I'm facing the same problem. But, my application get 204 from jhipster-registry, after the applications restarts, this keep going over and over again.

[2018-11-21 20:34] ravisantoshgudimetla commented on #71234
@Huang-Wei - That is right, one use-case I could think of having `system-node-critical` components when the control plane components are created as static pods. If that node is applied a `NoExecute` taint, we should let control plane components still run on it, if they have `system-node-critical` priorityClass.

[2018-11-21 20:54] grantatspothero commented on #60789
+1 on this, exact same situation as @james-masson. Autoscaling workers in a deployment that need per-pod dns records. Is there a good reason PR #61033 got abandoned?

[2018-11-21 21:23] Ramyak opened #71327 "SelectorSpreadPriority does not spread pods across zones"
**What happened**:
/kind bug
**What you expected to happen**:
* Problem 1: Predicates filter nodes. Existing pods on those nodes will be not be counted when calculating max pods per (zone or node) resulting in imbalanced cluster.
Eg: [GeneralPredicates](https://github.com/kubernetes/kubernetes/blob/e20c15174e96957c4e1faf7822125c7d295316a4/pkg/scheduler/algorithm/predicates/predicates.go#L1071) rem

[2018-11-21 21:46] szuecs commented on #25485
/remove-lifecycle stale

[2018-11-21 21:51] Raffo commented on #25485
There are some more development on the topics in Heptio's Contour, which you can check out here: https://github.com/heptio/contour/blob/master/docs/ingressroute.md#upstream-weighting

Hopefully this will restart the discussion.

/cc @jbeda

[2018-11-21 22:27] mikedanese opened #71329 "[sig-auth] ServiceAccounts should mount an API token into pods failing in Alpha clusters"
https://k8s-testgrid.appspot.com/sig-gcp-master#gci-gke-alpha-enabled-default

/sig auth
/kind failing-test

[2018-11-21 22:40] liggitt commented on #65393
/remove-lifecycle rotten
/lifecycle frozen

[2018-11-21 22:42] ryanhartje commented on #59105
RIP

[2018-11-21 22:47] ryanhartje commented on #59105
@astro-5 there are a number of complications with running kubelet natively on MacOS, which is backed by XNU, which doesn't natively support namespaces or cgroups, thus doesn't natively support containers.

Docker is run on mac by running inside a virtualization layer through hyperkit if I'm not mistaken.

If these were all resolved, you'd still have the 3 errors you shared in your log output, whic

[2018-11-21 23:04] onlyjob commented on #66422
@dims, it have nothing to do with release cycle or justification for upgrade if/when dependency has been vendored incorrectly. It is basically a vendoring bug.

No debate is necessary although that kind of issues usually meet some resistance and even hostility here...

Bugs are filed when they are discovered, regardless of release cycle. It would be wrong to sit on the bug without reporting it in

[2018-11-22 00:37] xmudrii commented on #63656
/remove-lifecycle stale

[2018-11-22 00:45] #71262 closed

[2018-11-22 01:14] WanLinghao commented on #71275
/cc

[2018-11-22 01:47] msau42 commented on #57915
Not going to handle this.
/close

[2018-11-22 01:47] #57915 closed

[2018-11-22 01:47] msau42 commented on #56098
/remove-lifecycle stale
/lifecycle frozen

[2018-11-22 01:48] msau42 commented on #56236
/remove-lifecycle stale
/lifecycle frozen

[2018-11-22 01:49] msau42 commented on #56104
/remove-lifecycle stale
/lifecycle frozen

Ecache is being redesigned.  Need to re-evaluate this afterwards

[2018-11-22 01:52] msau42 commented on #63156
Logs are being added here: https://github.com/kubernetes/kubernetes/pull/68022

We also know of an instance where format could hang if the disk got detached during the operation: https://github.com/kubernetes/kubernetes/pull/71145.

[2018-11-22 01:53] msau42 commented on #63156
/remove-lifecycle stale
/lifecycle frozen

[2018-11-22 02:05] cofyc commented on #67643
/lifecycle frozen

[2018-11-22 02:14] k82cn commented on #71139
/sig apps

[2018-11-22 02:15] k82cn commented on #71139
BTW, we did not support 1.9 right now :) It's better to try new version of k8s.

[2018-11-22 02:29] cofyc commented on #64474
/lifecycle frozen

[2018-11-22 02:33] zhangmingld commented on #70730
"kill two of three master nodes, kube-scheduler running in the healthy one dies."
Only one node alive, the etcd server will not work because of the raft protocol

[2018-11-22 02:48] saad-ali opened #71335 "Deprecate old plugin watcher dir"
**What happened**:
CSI https://github.com/kubernetes/kubernetes/pull/71314 re-introduced support for the deprecated volume plugin socket dir to allow for enough time for older plugins to be upgraded. But eventually, maybe in two releases (v1.15) we should deprecate the old directory.

CC @liggitt

/sig storage

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2018-11-22 02:49] saad-ali commented on #71335
/sig node

[2018-11-22 03:49] yue9944882 commented on #25485
[https://docs.traefik.io/user-guide/kubernetes/#traffic-splitting](https://docs.traefik.io/user-guide/kubernetes/#traffic-splitting)

try traefik as well 💯

[2018-11-22 04:32] AishSundar commented on #71228
/reopen

Reopening until we get green CI. @jberkus ^^

[2018-11-22 06:49] yue9944882 commented on #71138
i suppose it's related w/ #68508

[2018-11-22 06:49] hongjyan commented on #68818
I setup one-host k8s cluster and this problem still exist, so it should not concern mutli clouds.
[code]

this kubernetes service:10.96.0.1:443  is bonded to 192.168.0.18:6443, is this caused by lacking of dns or some iptables rules missing?

[2018-11-22 07:37] bboreham commented on #65743
There is no relevant change in CNI plugins.

The change you are waiting for is in libcni, and is already merged to master. Do not wait for it: test at will.

(I expect the calling code will need changing to make use of the new timeout, but I haven’t studied it)

[2018-11-22 07:44] wojtek-t commented on #66026
/remove-lifecycle stal

[2018-11-22 07:52] wojtek-t commented on #14733
Let's keep that open until this is enabled by default (currently, this is an Alpha feature, thus disabled by default).

We will do a bit more testing and we planning to enable it by default for 1.14.

[2018-11-22 09:52] cben commented on #8115
For anyone else looking, in kubernetes as of 1.12, `Endpoints` remains the only API resource with plural kind.
https://github.com/cben/kubernetes-discovery-samples/blob/master/kubernetes-v1.12.0/api/v1/index.json#L50

In openshift, as of 3.11, there is one more: `SecurityContextConstraints`.
https://github.com/cben/kubernetes-discovery-samples/blob/master/openshift-origin-v3.11.0/api/v1/index.json

[2018-11-22 10:16] Raffo commented on #25485
If it wasn't clear from my previous comment, my point here was to mention one more time that the community has been working on different way to express weighted traffic in ingress spec, with Heptio's taking a more advanced step in defining a new Ingress Route resource. It would be cool to include the learnings from those efforts into Kubernetes itself to make the Ingress spec better for everybody.

[2018-11-22 10:30] #64753 closed

[2018-11-22 10:39] cxj110 opened #71343 "kubectl logs failed with error: net/http: TLS handshake timeout"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
use the kubeadm to build a single master cluster, then launch some pods.

then try to print the logs from the minion node with "kubectl logs -f".

**Anything else we need to know?**:
it seems that the the kubectl logs is using IP address rather than hostname to do the reque

[2018-11-22 10:44] peradel commented on #71271
Our Cluster is now running on version 1.11.4. But we still have the problem with the certificates as described above. The logs of any pod contain
`Error from server: Get https://test-node-09:10250/containerLogs/kube-system/kube-proxy-kptxm/kube-proxy: x509: certificate signed by unknown authority`

[2018-11-22 10:53] danielqsj commented on #71260
Apply success is not harmful to the object. But it's better to provide an warning message to inform user of the object status.

[2018-11-22 11:04] antoineco opened #71344 "Azure Disks volume attach still times out on Kubernetes 1.10"
**What happened**:

After running a rolling-update on a StatefulSet that uses Azure Disks, part of the replicas remain in a `ContainerCreating` state _forever_, exhibiting the following events:

[code]

Restarting the `controller-manager` occasionally unblocks the situation:

[code]

**What you expected to happen**:

Attach/detach operations succeed consistently.

**How to reproduce it (as minimal

[2018-11-22 11:18] andyzhangx commented on #71344
/assign

[2018-11-22 11:29] andyzhangx commented on #71344
@antoineco #70002 fix the attach disk issue in kubelet, while in your case, you restarted the controller manager, and then it works. It looks like  disk volume `solrhome`  is never attached to vm `k8s-xyz-123-vmss000001` successfully before you restart controller manager.

[2018-11-22 11:33] antoineco commented on #71344
Indeed. For completeness I updated the description and added 2 more type of events that are regularly associated to this issue.

[2018-11-22 11:41] khacminh commented on #69678
Hi @gregsidelinger ,

I opened an issue, and I'm happy to hear that AWS is planning on it. They're collecting more use cases. I hope it will be released soon.

https://github.com/awslabs/amazon-eks-ami/issues/105#issuecomment-440843395

[2018-11-22 11:41] andyzhangx commented on #71344
@antoineco could you check activity logs in that resource group, the time should be before you restart controller manager, you could check whether there is any disk related issue. Since you have already restarted controller manager, we cannot get all logs before your restart.

[2018-11-22 11:57] antoineco commented on #71344
@andyzhangx I see a bunch of the following failures in the activity log, but the errors stopped 4h before I gathered the logs and restarted the controller-manager:

<details>
<summary>activity log</summary>

[code]

</details></br>

[2018-11-22 12:09] Davidrjx opened #71347 "invalid firewall policies setup on a certain node"
/triage support

Hi,
   i intend to firewall some services with NodePort type, making them inaccessible from outside. i try to setup DOCKER-USER and FORWARD chains in filter table, but some ports of a few nodes in cluster are still accessible from public.
   i do not know why, could anyone please give some guides? thanks.
Brs

[2018-11-22 12:13] Davidrjx commented on #71347
@kubernetes/sig-network-bugs

[2018-11-22 12:21] antoineco commented on #71344
@andyzhangx I grabbed the kube-controller-manager logs from an environment where the situation is currently happening. See the updated description.

[2018-11-22 12:33] Nefelim4ag commented on #71139
@k82cn, yep, i know what it too old.
But in any way, before update we need understood where problem happens and fix that problem.
Because when we move to next version, we can only hope what we don't hit any other problems.
And as you can know, debug several random bugs not so easy, because they can affect each other.

Also before move to next version we must port our patches and at least test what

[2018-11-22 12:35] zjb0807 opened #71348 "kubectl port-forward not working on grpc"
**What happened**:
[code]
then:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Dockerfile
[code]
k8s:
[code]

then:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -

[2018-11-22 12:41] wojtek-t commented on #56071
/remove-lifecycle stale

[2018-11-22 12:46] Nefelim4ag commented on #71139
I will close issue if 3.2.25 really fix problem (Within a week).

[2018-11-22 12:54] andyzhangx commented on #71344
Hi @antoineco would you add my slack: andyzhang @kubernetes workspace?

[2018-11-22 12:55] krzysztof-jastrzebski opened #71349 "DaemonSet Controller doesn't delete orphaned pods"
**What happened**:
DaemonSet doesn't delete pods that:
- weren't scheduled yet,
- node was deleted so pod can't be scheduled.
**What you expected to happen**:
Pod should be deleted when node is removed.
**How to reproduce it (as minimally and precisely as possible)**:
I encountered this problem when doing tests with cluster with 1000 nodes and 30000 pods running. During tests I was deleting and ad

[2018-11-22 12:58] twbecker commented on #60099
@bradhoekstra thanks! Not sure how I missed this. Will definitely be nice when we can disable exposing those vars.

[2018-11-22 13:01] krzysztof-jastrzebski commented on #71349
/sig apps

[2018-11-22 13:18] AndrienkoAleksandr opened #71350 "How to add env variables and current working directory for pod exec"
Docker provides for exec api ability to set up current working directory and environment variables. It would be nice to have such features in the Kubernetes api too: https://docs.docker.com/engine/api/v1.37/#tag/Exec

**What would you like to be added**:
Add for Pod exec api parameters: current working directory (WorkingDir) and environment variables (Env).

**Why is this needed**:
It  is very  us

[2018-11-22 13:40] sbezverk commented on #71186
@pohly I have not heard about that being `a bad style` in fact, kubernetes-incubator and kubernetes csi do import right from kubernetes repo packages:
[code]

[2018-11-22 13:47] xujihui1985 commented on #71260
@danielqsj warning is useless, you may be assume the resource you applied has been created successfully in fact it didn't it's not harmful, I think it should has same behavior as "create" does

[2018-11-22 13:47] nikhita commented on #67268
/remove-lifecycle stale

On Thu, Nov 22, 2018 at 7:04 PM fejta-bot <notifications@github.com> wrote:

[2018-11-22 14:10] llech commented on #24725
If deploymets support only restartPolicy: Always, why do that parameter exists at all?
It doesn't make much sense to have a 'parameter' that can have only one value...

What is the alternative for running one-time or periodic tasks, like data import or backups?

[2018-11-22 14:11] pohly commented on #71186
Serguei Bezverkhi <notifications@github.com> writes:

It was one of the first things that were pointed out when I explained
that I wanted to make "test/e2e/framework" reusable for developers
outside of Kubernetes.

That it's done doesn't mean that it should be done this way.

[2018-11-22 14:15] nzoueidi commented on #71348
It would be helpful to other people and me to reproduce your issue by completing the following details:

-     Cloud provider or hardware configuration:
-     OS (e.g. from /etc/os-release):
-     Kernel (e.g. uname -a):
-     Install tools:
-     Others:

[2018-11-22 14:17] nzoueidi commented on #71348
It would be helpful to other people and to me to reproduce the behavior you got by completing the following details:

- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. uname -a):
- Install tools:
- Others:

[2018-11-22 14:21] liggitt commented on #71282
This is resolved by
https://github.com/kubernetes/kubernetes/pull/71314

/close

[2018-11-22 14:21] #71282 closed

[2018-11-22 14:23] liggitt commented on #71224
Hmmm… I didn't understand this to mean we were forbidding use of it. Having to manually close every fixed issue is error prone and unnecessary work

[2018-11-22 14:40] bradhoekstra opened #71354 "Implement KEP: Make kube-proxy service abstraction optional"
**What would you like to be added**:
Implement the feature described here: https://github.com/kubernetes/community/blob/master/keps/sig-network/0031-20181017-kube-proxy-services-optional.md

**Why is this needed**:
In a cluster that has a service mesh a lot of the work being done by kube-proxy is redundant and wasted. Specifically, services that are only reached via other services in the mesh will

[2018-11-22 14:40] bradhoekstra commented on #71354
/sig network

[2018-11-22 15:04] FritschAuctores opened #71356 "configmap file as executable script"
**What would you like to be added**:

A configmap file as executable script into a pod

`apiVersion: v1
kind: ConfigMap
metadata:
  name: test-script
data:
  test.sh: |
   #!/bin/bash
   echo "Hello World"
 `

Pod:
`
...
       volumeMounts:
        - name: test-script
          mountPath: /script/test.sh
          subPath: test.sh
      - name: test-script
        configMap:
          name: test-

[2018-11-22 15:09] FritschAuctores commented on #71356
@kubernetes/sig-feature-requests

[2018-11-22 15:22] glyn commented on #69040
Hit the same problem in Windows running go 1.11.2 but the problem persisted when I backed off to go 1.11. The project in question was originally built on darwin.

`go clean -modcache` failed with the same checksum mismatch.

[2018-11-22 15:31] liggitt commented on #71260
A terminating resource still exists. If apply successfully patches that resource (even while terminating), it correctly completed

[2018-11-22 15:32] liggitt commented on #71260
Apply is not intended to have the same behavior as create. It will update an existing resource (even if terminating)

[2018-11-22 15:34] liggitt commented on #71185
It is intentional. +1 for documenting.

[2018-11-22 15:38] justinsb commented on #63465
/remove-lifecycle stale

[2018-11-22 15:47] lbernail opened #71358 "IPVS default sysctls and configuration"
**What would you like to be added**:
Set sysctl `expire_nodest_conn` to `1` at start up
Add a flag to control sysctl `conn_reuse_mode` (see discussion in #70747)
Add a flag to control IPVS timeouts (default to 15mn)

**Why is this needed**:
When `expire_nodest_conn` is set to `0` (default on some distributions), when an endpoint is removed, the RS is removed but the IPVS connection remains ESTABLI

[2018-11-22 16:03] liggitt commented on #71154
You can specify imagePullSecrets directly in the deployment spec or in the service account, whichever you prefer. Ones specified on the deployment take precedence:

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/serviceaccount/admission.go#L191

[2018-11-22 16:04] liggitt commented on #71154
That is related to mounting API credentials into the pod. It is unrelated to image pull secrets

[2018-11-22 16:07] szuecs commented on #25485
@yue9944882 you can also try https://github.com/zalando-incubator/stackset-controller with traefik as far as I know. People asked if this is using the same annotations as we use in skipper, because traefik adapted the annotation, so this automation should work, too.
We would be happy to get feedback if you try it.

[2018-11-22 16:07] szuecs commented on #25485
/remove-lifecycle rotten

[2018-11-22 16:12] liggitt commented on #71154
Can you provide:

1. The deployment manifest you used that attempted to set an image pull secret (as retrieved from the API server with `kubectl get deployment <name> -o yaml`
2. An example pod created from that deployment (as retrieved from the API server with `kubectl get pod <name> -o yaml`)
3. The command used to create the referenced secret (with confidential parameters redacted), and the kub

[2018-11-22 16:13] liggitt commented on #71218
/cc @sttts @mbohlool
/area custom-resources

[2018-11-22 16:20] MrD2 opened #71359 "Use default spec.configSource on Node register when DynamicKubeletConfig activated"
Starting from Kubernetes 1.11 DynamicKubeletConfig is activated by default, so this should always be present.

**What happened**:
When setting up a dynamic kubelet configuration the user is required to manually edit the node configurations (using kubectl edit node NODE_#) so that the node knows where to get it's corresponding kubelet configuration ConfigMap.
For the kubelet to actively seek for a

[2018-11-22 16:21] liggitt commented on #71062
Kubectl is trying to connect to localhost:8080, which is the default when it does not have a kubeconfig file available with specific connection parameters

Ensure you have a valid kubeconfig file at ~/.kube/config or have a KUBECONFIG envvar set pointing to a file with valid connection configuration

/close

[2018-11-22 16:21] #71062 closed

[2018-11-22 16:57] boosty commented on #69676
@anderson4u2 I am a bit confused by your last comment. You wrote:

But in the example below you use `kube_pod_container_status_terminated_reason`, not `kube_pod_container_status_last_terminated_reason`.

So as far as I see, the new (very useful) metric `kube_pod_container_status_last_terminated_reason` is still unreleased.

[2018-11-22 17:17] liggitt commented on #71359
That is working as intended. Opting nodes into a particular configuration should be an explicit action. The apiserver should not assume dynamic node configuration is homogenous across all nodes.

/close

[2018-11-22 17:17] #71359 closed

[2018-11-22 17:19] liggitt commented on #71186
If the code is intended for reuse outside of kubernetes/kubernetes, it should live in one of the staging repos.

[2018-11-22 17:20] liggitt commented on #71257
/sig storage

[2018-11-22 18:38] #64978 closed

[2018-11-22 19:34] imjching commented on #70145
@dims Both #71298 and #70204 have been merged.

[2018-11-22 19:35] justaugustus commented on #71224
I believe the consensus was that we didn't want magic keywords in the commit message, because it leads to a lot of noise, but AFAIK no one has said it those keywords shouldn't be included in PR / Issue descriptions. More discussion here: https://github.com/kubernetes/test-infra/issues/9360

[2018-11-22 19:39] #65175 closed

[2018-11-22 19:45] liggitt commented on #71224
That's what I recall as well. Being in the commit message auto-closes and tags issues every time the commit is pulled into a fork or other repo.

Using the PR description to auto-close an issue on merge is useful and desired in many cases. If there are specific types of issues we don't want people to do that on, a comment in the template seems reasonable.

[2018-11-22 20:16] luxas commented on #69585
FYI, this KEP that I'm writing is probably relevant to this issue: https://docs.google.com/document/d/1nZnzJD9dC0xrtEla2Xa-J6zobbC9oltdHIJ3KKSSIhk/edit#heading=h.5mlljjl6ndja

[2018-11-22 21:41] #54318 closed

[2018-11-22 21:41] #65078 closed

[2018-11-22 21:41] #47349 closed

[2018-11-22 21:41] #65091 closed

[2018-11-22 21:41] #65344 closed

[2018-11-22 21:50] pohly commented on #71186
Jordan Liggitt <notifications@github.com> writes:

@liggitt and just to be clear, the external CSI components shouldn't use
k8s.io/kubernetes whereas pulling from the mirrored staging repos
(like k8s.io/utils) is fine, right?

[2018-11-22 22:42] #29540 closed

[2018-11-22 22:53] neolit123 commented on #71350
/kind feature
/sig api-machinery

[2018-11-22 22:54] neolit123 commented on #71348
/sig node

[2018-11-22 22:54] neolit123 commented on #71348
/remove-sig node
/sig cli

[2018-11-22 22:54] neolit123 commented on #71348
/remove-sig node

[2018-11-22 22:55] neolit123 commented on #71343
/sig cli

[2018-11-22 22:56] neolit123 commented on #71274
hello, please report the same issue in the kubernetes/kubeadm issue tracker.

/close

[2018-11-22 22:56] #71274 closed

[2018-11-22 22:57] neolit123 commented on #71287
/sig api-machinery

[2018-11-22 22:57] neolit123 commented on #71287
/triage support

[2018-11-22 22:58] neolit123 commented on #71265
+1

/close

[2018-11-22 22:58] #71265 closed

[2018-11-23 00:44] #63629 closed

[2018-11-23 00:46] sbezverk commented on #71186
@liggitt @pohly since it is CSI specific func, how about `k8s.io/csi/utils` ?

[2018-11-23 01:45] berlinsaint commented on #71071
/area ipvs

[2018-11-23 02:02] LiuQIu7 commented on #70229
we changed proxy mode to ipvs，but kernel panic happened again. kernel panic with the same dump trace，but the process of cause panic is "ipset":

      KERNEL: /usr/lib/debug/boot/vmlinux-4.4.0-104-generic
    DUMPFILE: dump.201811221826  [PARTIAL DUMP]
        CPUS: 40
        DATE: Thu Nov 22 18:26:26 2018
      UPTIME: 34 days, 02:33:52
LOAD AVERAGE: 0.71, 0.85, 0.95
       TASKS: 1764
     RELE

[2018-11-23 02:07] #68478 closed

[2018-11-23 02:13] ping035627 opened #71363 "Question about the metrics data of sched.preempt"
About the metrics data of sched.preempt, we deal the metrics data after calling sched.preempt, not considered the returns of sched.preempt. I think, we shouldn't deal the metrics data when sched.preempt returns err, for example, util.PodPriority disable or sched.config.DisablePreemption, we do nothing about preempt, but still deal metrics.PreemptionAttempts.Inc() etc, it's inappropriate obviously.

[2018-11-23 02:14] ping035627 commented on #71363
/sig scheduling

[2018-11-23 02:34] bitzhuxb opened #71364 "Is there any way to keep job pods for some time when backofflimit reached"
@kubernetes/sig-cluster-lifecycle-feature-requests

When backofflimit is reached, the job will delete the related pod. If the pod is deleted, we can't use the follow commands to see details:
`kubectl logs podname
`
`kubectl get pod podname -o yaml
`

The following is the events of the backofflimit jobs:
`  Normal   SuccessfulCreate      16h                job-controller  Created pod: tj-13644-zhut

[2018-11-23 02:44] Lynzabo commented on #69855
@WanLinghao The question has been answered and thank you very much! https://github.com/google/cadvisor/issues/2068

[2018-11-23 02:44] #69855 closed

[2018-11-23 02:45] cwdsuzhou commented on #71364
Maybe, you can configure the `grace-period` of pod.

[2018-11-23 03:14] tossmilestone commented on #71356
@FritschAuctores It's already supported in k8s to specify the file permissions of mounted configmap files. You can reference the usage in secret https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod.

[2018-11-23 03:15] nikhita commented on #63503
/remove-lifecycle stale

[2018-11-23 03:50] samos123 commented on #59368
This issue is extremely impactful for telephony protocols that rely on static source ip and source port. Any update on a possible workaround?

I was thinking a potential workaround for this specific use case of UDP traffic it might be fine to disable conntrack on the K8s nodes [1]. UDP is a connectionless protocol anyway. Curious to hear your thoughts whether this is stupid. Another idea might be

[2018-11-23 03:55] dims commented on #70145
thanks @imjching

[2018-11-23 03:55] dims commented on #70145
/close

[2018-11-23 03:55] #70145 closed

[2018-11-23 05:43] donxan commented on #69503
add follow line in your kubelet.servic,like this:
`[root@master2 ~]# vim /etc/systemd/system/kubelet.service`
[code]
[root@master2 ~]# systemctl daemon-reload
[root@master2 ~]# sudo systemctl restart kubelet
then it's ok

[2018-11-23 05:49] #60053 closed

[2018-11-23 05:59] andyzhangx commented on #71344
@antoineco I think your issue is here, you are using `RollingUpdate` strategy
[code]

According to https://github.com/Azure/AKS/issues/477#issuecomment-441061230, if statefulset replica is using azure disk pvc, pls change the strategy to 'Recreate'

[2018-11-23 06:20] AndySkyL commented on #55854
have similar problem for kubernetes v1.12.2 Do you know what the best way to debug it?

[2018-11-23 06:33] berlinsaint commented on #71071
@gjcarneiro do you resolve this  problem?

[2018-11-23 07:21] FritschAuctores commented on #71356
Thank you, this works:

Pod:

[code]

[2018-11-23 07:27] chenchun opened #71367 "cadvisor collects lots of unneed systemd cgroups stats"
**What would you like to be added**:
Cadvisor should only collect the cgroups which kubelet needs. But it's collecting everything right now.
I think the needed cgroups are `/`, `/system.slice/kubelet.service`, `/system.slice/docker.service`, `/kubepods/*`. I maybe miss some cgroups.

[code]

**Why is this needed**:
Reduce cpu/memory usage of kubelet

/kind feature

[2018-11-23 07:58] vinaytv commented on #41284
Can you share output of
kubectl get networkpolicy

[2018-11-23 08:01] WanLinghao commented on #71367
ref:https://github.com/kubernetes/kubernetes/issues/68522

[2018-11-23 08:09] WanLinghao opened #71369 "unit test failed in /pkg/api/testing/serialization_test.go"
Execute make test WHAT=./pkg/api/testing/
And it failed with information:
[code]

/kind failing-test

[2018-11-23 08:55] justlooks opened #71373 "Unauthorized when join node to cluster"
i try to add a new node to cluster ,it seems failed,i do not know why?

[code]

[code]

[2018-11-23 09:01] MrD2 commented on #71359
Ok, it is working as intended, but i think it has a missing feature.
/kind feature

When i open this ticket i was expecting more of a discussion. Your right, it can be done automatically external to the apiserver and kubelet processes but i feel it is a bit sloppy.

But if we wanted a starting point to use homogeneous dynamic configuration we could just flag it when calling kube-api process, so wh

[2018-11-23 09:04] angao commented on #52757
/cc

[2018-11-23 09:06] MrD2 opened #71374 "Use default spec.configSource on Node register when DynamicKubeletConfig activated"
**This is a reopen as feature for a closed ticket>
https://github.com/kubernetes/kubernetes/issues/71359#issuecomment-441088686**

Starting from Kubernetes 1.11 DynamicKubeletConfig is activated by default, so this should always be present.

**What happened**:
When setting up a dynamic kubelet configuration the user is required to manually edit the node configurations (using kubectl edit node NODE

[2018-11-23 09:19] antoineco commented on #71344
@andyzhangx In our deployment every Pod uses a distinct Azure Disk, so there is not multi-attachment.

I'm still waiting feedback from customers, hoping for this to happen again today.

[2018-11-23 09:32] gjcarneiro commented on #71071
Well, I switched the cluster back to the default (iptables) mode, appears to be pretty stable since then...

[2018-11-23 09:44] DevilMayCrySamsara opened #71375 "can't visit by this dns format like "http://servicename.namespace:port""
**What happened**:
i hava a service,i can access by this dns like "http://servicename.namespace.svc:port",but i can't visit by this dns format  like "http://servicename.namespace:port",i don't know why
![image](https://user-images.githubusercontent.com/20835804/48936326-8cdee580-ef45-11e8-9314-2b4405a804aa.png)

**What you expected to happen**:

I can access it either way

**How to reproduce it (a

[2018-11-23 10:53] MrD2 commented on #71374
/remove-kind bug

[2018-11-23 10:53] isamuelson commented on #56990
having the same issue as @MartinEmrich with v1.12.2

[2018-11-23 10:57] Scavallarin commented on #57801
Same problem for me, tried so many ways but i can not pull from a docker private repository. It looks like that "imagePullSecrets:" in the .yml is not even considered.
Any one has find any turn around?
Thanks

[2018-11-23 11:29] beatlejuse commented on #57801
@Scavallarin i fix it.
show your manifest.

[2018-11-23 11:33] yivo commented on #37705
Facing up same issue.

[2018-11-23 11:40] kbielak commented on #57801
same here

minikube version: `v0.30.0`
docker: `18.09.ce`
kubectl:
[code]
MacOS Mojave 0.14.1

looking for a workaround, anyone?

[2018-11-23 11:44] andyzhangx commented on #71344
@antoineco I have tried in my testing env with v1.10.10 on vmss nodes by `rollingUpdate`, there could be error like following after disk attached to that VM, the disk detect action in vmss node seems slow sometimes, while in the end it could be recovered:
[code]

[2018-11-23 11:47] antoineco commented on #71344
@andyzhangx thanks for looking into it. In our case the disk never gets attached (> 1d in ContainerCreating state).

[2018-11-23 11:53] m1093782566 commented on #71358
@lbernail

+1

[2018-11-23 12:30] pawelprazak commented on #29838
bump

[2018-11-23 12:33] andyzhangx commented on #71344
Hi @antoineco, I found an regression issue of #70002, will send a PR soon. Thanks for reporting.

[2018-11-23 12:49] bertinatto opened #71378 "CSI: registration process fails"
**What happened**:

The CSI driver registrar container fails to start with the following message:

[code]
The commit that introduced this issue seems to be aa8244beb50b66d4de0f18aad2867aa7091eaf30.

**What you expected to happen**:

The CSI driver registrar container should start correctly.

**How to reproduce it (as minimally and precisely as possible)**:

Just deploy the registrar sidecar contai

[2018-11-23 12:49] bertinatto commented on #71378
/sig storage

[2018-11-23 12:59] lbernail commented on #71358
You mean `conn_reuse_mode` disabling `expire_nodest_conn` ? I tested on 4.15 and both seem to work ok together (which makes sense given the code)

[2018-11-23 13:12] bertinatto commented on #71378
I noticed that the error doesn't happen if I use the registrar image with label `v1.0-canary`. It only happens with `v1.0.0`.

Do we want to keep backward compatibility with the `v1.0.0` image?

[2018-11-23 13:32] systm32 opened #71379 "Kubectl delete ds <daemonset-name> fails with timed out waiting for condition when run on two nodes at same time."
**What happened**: When i try to run kubectl delete ds <ds-name> on two nodes at same time. On one of the node it fails with "timed out waiting for the condition"

**What you expected to happen**: It should return already delete (or ds not exist) as it is already deleted.

**How to reproduce it (as minimally and precisely as possible)**: Run the same command on two nodes.

**Anything else we need

[2018-11-23 13:37] nzoueidi commented on #60315
Having the same issue. It is related to Calico, however trying with Flannel or VXlan could resolve the issue.
This bug need to be reopened in Calico repository.

[2018-11-23 13:49] McSlow commented on #65732
Same here, etcd 3.2.18, k8s 1.11.3. We also see those huge memory increases during heavy pod creation ( there's a gitlab kubernetes executor running which spins up quite a lot of pods during peak times).
Memlimit for the apiserver currently 2GB, takes 2-10 hours till oomkiller kicks in, depending on the amount of CI jobs.

[2018-11-23 13:54] yue9944882 commented on #71350
/sig node

[2018-11-23 13:57] bertinatto commented on #71378
CC @msau42

[2018-11-23 14:11] pmichali commented on #61319
If there are both IPv4 and IPv6 addresses, the IPv4 addresses will take precedence.

[2018-11-23 15:05] squeed commented on #59368
The workaround is to not use NodePorts. Other kinds of services are already correct.

[2018-11-23 15:15] liggitt commented on #71374
I would expect config to be applied externally via the API. It could be done with a controller, rather than manually with kubectl edit, but there are enough varieties in applying config (different per kubelet version, per arch, per node role, etc) that hard-coding a single configmap setter into the apiserver does not seem like a good idea.

Additionally, setting config via an apiserver flag means

[2018-11-23 15:17] liggitt commented on #71374
I am not in favor of adding this to the apiserver, but will wait for feedback from other node/dynamic config owners.

cc @mtaufen

[2018-11-23 15:38] geosword opened #71381 "Kubelet trying to contact api server on localhost:8080"
**What happened**:
Pod which references a ceph Persistent volume claim, fails to start. It stays in "ContainerCreating" status

**What you expected to happen**:
The pod to become "Running" with the ceph storage attached in /mnt/rbd

**How to reproduce it (as minimally and precisely as possible)**:
Run through:
http://docs.ceph.com/docs/mimic/start/kube-helm/
The smoke test near the end, creates a

[2018-11-23 15:42] geosword commented on #71381
/sig storage /sig node

[2018-11-23 16:06] uablrek commented on #61319
That seems to be a dual-stack thing and then both addresses should be stored in the "addresses" record in the node object. In an `ipv6-only` cluster only the ipv6 address should be stored even if an ipv4 address exist. IMHO this is a bug and should not be hard to fix.

[2018-11-23 16:18] #71344 closed

[2018-11-23 16:33] justinsb commented on #67455
/remove-lifecycle stale

[2018-11-23 17:00] #48219 closed

[2018-11-23 18:13] jberkus commented on #71228
We're getting a lot of flakes across the longer-running tests today, so at this point we don't know if things are passing or not.

[2018-11-23 18:17] liggitt commented on #71228
the CSI tests in question turned green after #71314 was merged:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster&include-filter-by-regex=.*CSI.*&width=20

This particular issue can be closed

[2018-11-23 18:37] jberkus commented on #71228
@liggitt @saad-ali We're still getting various CSI failures in new-master-upgrade-parallel:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new-parallel&include-filter-by-regex=.*CSI.*&width=20

Are those unrelated to this issue?  They seem to be all subpath failures.

[2018-11-23 18:54] liggitt commented on #71373
an unauthorized error means the credentials being provided to the api server are invalid. what procedure are you following to set up your api server and join nodes to it?

[2018-11-23 18:55] liggitt commented on #71378
the 1.0.0 image had a bug in it where it reported the wrong version. see https://github.com/kubernetes/kubernetes/pull/71314#discussion_r235583955

[2018-11-23 19:00] liggitt commented on #71228
Flakes are unrelated to this issue. This issue was fixing a hard fail.

[2018-11-23 19:11] liggitt commented on #71379
if you want to ignore not found errors, pass `--ignore-not-found=false` to `kubectl delete`

/close

[2018-11-23 19:11] #71379 closed

[2018-11-23 19:13] liggitt commented on #71343
a cert mismatch would not timeout the TLS handshake, it would fail with an error about invalid SANs. does the apiserver have network visibility to the node?

/area kubeadm
/remove-sig cli
/sig cluster-lifecycle

[2018-11-23 19:16] liggitt commented on #71375
it looks like the request is reaching the backing pod correctly (you are getting a http response), and the service is responding with an http error. is the backing pod configured to accept requests via both of those hostnames?

/sig network

[2018-11-23 19:19] liggitt commented on #70089
I don't see an issue here for the informer to resolve. on connection close, it re-establishes as expected.

/close

[2018-11-23 19:19] #70089 closed

[2018-11-23 19:29] liggitt commented on #71042
Behavior changed in https://github.com/kubernetes/kubernetes/pull/58991

The behavior you are expecting was actually (somewhat legitimately) reported as a bug in https://github.com/kubernetes/kubernetes/issues/58984

There's currently no way for the CLI to know if an invalid error returned from the server is because you are trying to change an immutable field (like roleRef on a binding), or becaus

[2018-11-23 19:31] liggitt commented on #71042
/assign @juanvallejo @dixudx

[2018-11-23 19:33] liggitt commented on #71233
/sig node

[2018-11-23 19:46] wenjiaswe commented on #65062
/reopen
/assign @wenjiaswe

[2018-11-23 19:54] jberkus commented on #71228
OK, closing this and opening a new issue for the flakes.

/close

[2018-11-23 19:54] #71228 closed

[2018-11-23 20:10] jberkus opened #71383 "Flaking Test: subpath failures in new-master-upgrade-cluster-new-parallel, other jobs"
**Which jobs are failing**: gce-new-master-upgrade-cluster-new-parallel

**Which test(s) are failing**:

Varies, but all subpath failures, including:

* [sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should fail if subpath with backstepping is outside the volume [Slow]
* [sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (d

[2018-11-23 21:04] #65168 closed

[2018-11-23 21:40] pmichali commented on #61319
@StuCurry IIRC, I think the decision was not to have a specific knob to select the IP mode, but instead to rely on the general configuration.

What tool are you using to bring up the cluster?

Can you share the kubeadm.conf that you are using?

Are you deploying on bare-metal or in a VM/other?

For bare-metal, I have a tool that helps with config... https://github.com/pmichali/lazyjack

For runnin

[2018-11-23 21:42] #67621 closed

[2018-11-23 22:05] #63560 closed

[2018-11-24 01:14] m1093782566 commented on #71358
I mean setting `conn_reuse_mode=1 or 2` will result in bad performance - it's a kernel bug and was fixed in kernel 4.1.

[2018-11-24 02:13] sillky commented on #60807
look it  ，https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/,
edit resource and  delete metadata.finalizers，and delete unuseful crd，you can delete it force

[2018-11-24 03:02] k82cn commented on #71139
Sure, please help to verify; that's really helpful info for other. Thanks.

[2018-11-24 03:11] k82cn commented on #68720
Prefer to get result/output of Task 4 before Task 2 & 3 :)

[2018-11-24 03:56] xiang228068791 opened #71387 "node not found"
<img width="1235" alt="wx20181124-115112 2x" src="https://user-images.githubusercontent.com/5019316/48964327-e693ee00-efdf-11e8-97fc-4127309f1e98.png">

[2018-11-24 04:11] #65496 closed

[2018-11-24 05:10] sivaprasad222 opened #71388 "Shared volume of 1 container into another container in Kubernates"
I am stuck on a scenario where I have to get the log folder of container 1 into 2nd container. I have found a solution in which we will create a emptyDir directory.

[code]
However, in my circumstance I need to share/usr/var/log/tomcat/of first compartment into/var/log/message. This is on the grounds that [splunk](https://tekslate.com/installation-overview-splunk-add-cyberark/)UF picture will scre

[2018-11-24 06:30] #71375 closed

[2018-11-24 06:32] DevilMayCrySamsara commented on #71375
This is due to a bug in my project  ,thanks，spring-boot-gradle-plugin ：2.0.3.RELEASE ,
There will be no problem when I upgrade the version to 2.0.4.release

[2018-11-24 07:07] Huang-Wei commented on #71112
/close

as this issue is as design.

[2018-11-24 07:07] #71112 closed

[2018-11-24 07:42] mysunshine92 commented on #71387
/sig node

[2018-11-24 07:45] mysunshine92 commented on #71387
@xiang228068791  please tell us more information. for example kubelet --version and what have you done

[2018-11-24 07:47] mysunshine92 commented on #71388
@sivaprasad222 the title has typo, Kubernates->Kubernetes

[2018-11-24 09:08] fejta-bot opened #71394 "pr:pull-kubernetes-verify flaked 16 times in the past week"
### Flaky Job: pr:pull-kubernetes-verify
 Flakes in the past week: **16**
 Consistency: **95.50%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| verify staging-godeps | 9 |

#### Previously closed issues for this job flaking:
#60028 #60743

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-11-24 12:19] #65490 closed

[2018-11-24 13:32] yastij commented on #56514
/remove-lifecycle stale

[2018-11-24 14:06] liggitt commented on #70952
What credentials (username and groups) is the kubelet using?

[2018-11-24 14:39] liggitt commented on #71185
/assign
opened #71397

[2018-11-24 14:40] liggitt commented on #70513
closing for insufficient information, please add the requested information for additional assistance

/close

[2018-11-24 14:40] #70513 closed

[2018-11-24 15:22] liggitt opened #71398 "Kubelet does not restart or reregister in response to removed Node API object"
Once a kubelet has started up, if it's Node API object is removed, the kubelet perpetually attempts and fails to update the status on the now-missing Node object.

I would have expected it to do one of the following:
* exit after a period of time or number of retries
* re-register the Node object

/kind bug
/sig node

[2018-11-24 15:43] vehsakul commented on #33777
On GKE it seems that the scheduler can run about 5 times fewer pods than it could according to the resource request. With the default of 100m it runs 2 pods (the node is almost idle, so it could run 9-10). With 40m 5 pods can run and with 20m -- 10 pods and so on. Setting cpu limit equal to request has no effect.

[2018-11-24 16:05] mhristache commented on #59368
@squeed not sure what you mean. I am seeing the issue with a LoadBalancer type so it does not affect NodePorts only.

@samos123 As a workaround I have created a small python script that watches the K8s API for pod deletions and clears the related conntrack entries when that happens. I can share it when I get to work on Monday if you want to try it out.

[2018-11-24 16:13] liggitt commented on #66353
opened https://github.com/kubernetes/website/pull/11254 to address this

/close

[2018-11-24 16:13] #66353 closed

[2018-11-24 16:29] liggitt commented on #65314
since we do not know what the initContainer did while privileged, we cannot safely assume that nothing done with privileged abilities was made available to the normal containers in the pod.

Since the DenyEscalatingExec admission plugin is optional (and not on by default), I don't anticipate relaxing this restriction. If you want to apply different exec policies, a validating admission webhook can

[2018-11-24 16:29] #65314 closed

[2018-11-24 16:34] liggitt commented on #44539
fixed in https://github.com/kubernetes/kubernetes/pull/70035

[2018-11-24 16:34] #44539 closed

[2018-11-24 16:40] liggitt commented on #49208
this now is constructed using a client config specifically for communicating with the kube apiserver:

https://github.com/kubernetes/kubernetes/blob/7098f1ad383b84bc8e807b049ab42629a70bb04e/staging/src/k8s.io/apiserver/pkg/server/options/admission.go#L142-L146

called from

https://github.com/kubernetes/kubernetes/blob/7098f1ad383b84bc8e807b049ab42629a70bb04e/staging/src/k8s.io/apiserver/pkg/serve

[2018-11-24 16:40] #49208 closed

[2018-11-24 16:41] liggitt commented on #49465
fixed in 1.11 in https://github.com/kubernetes/kubernetes/pull/64174

[2018-11-24 16:41] #49465 closed

[2018-11-24 16:45] liggitt commented on #60703
Requests for addition of new function is a feature request, not a bug. In general, annotations are not propagated from one object to another. What is the use case for propagating these, and what would be the implications of starting to do this?

[2018-11-24 16:46] liggitt commented on #58374
/close
for insufficient information and inactivity. please reopen if more details are available

[2018-11-24 16:46] #58374 closed

[2018-11-24 16:55] liggitt commented on #59867
/close

kubectl supports skew of 1 version against the apiserver. in 1.10, it started making use of the apps/v1 API objects added in 1.9. Running commands related to apps objects (like statefulsets) against a 1.8-era API server will result in 404 errors, because the apps/v1 API does not exist in 1.8

[2018-11-24 16:55] #59867 closed

[2018-11-24 16:55] liggitt commented on #65754
/close

kubectl supports skew of 1 version against the apiserver. in 1.10, it started making use of the apps/v1 API objects added in 1.9. Running commands related to apps objects (like statefulsets) against a 1.8-era API server will result in 404 errors, because the apps/v1 API does not exist in 1.8

[2018-11-24 16:55] #65754 closed

[2018-11-24 17:00] liggitt commented on #67439
/close

[2018-11-24 17:00] #67439 closed

[2018-11-24 18:01] liggitt commented on #71234
That seems to be confusing two things. Toleration of unready conditions (or other node taints) is orthogonal to priority relative to other pods. I would not expect criticality to affect how a pod's tolerations work.

A critical component can indicate it tolerates all unready conditions (with a wildcard toleration), and that it should have priority over other pods (with a critical annotation or pri

[2018-11-24 18:29] matteosilv commented on #60703
There Is no way to annotate endpoints, since they are automatically created. I marked the issue as a bug, because labels gets propagated while annotations gets not.

[2018-11-24 18:36] liggitt commented on #60703
The original intent was not to automatically propagate all metadata fields. If there's a use case for that to be added for annotations, that should be proposed/described

[2018-11-24 18:45] liggitt commented on #71381
@kubernetes/sig-storage-bugs how does ceph know how to contact the apiserver?

[2018-11-24 19:39] liggitt commented on #70955
CSI compatibility issue above was resolved in beta.1

[2018-11-24 19:52] liggitt commented on #66636
The behavior of the extensions/v1beta APIs will not change for backwards compatibility

Deleting via the apps/v1 API cascades by default

/close

[2018-11-24 19:52] #66636 closed

[2018-11-25 00:31] #59778 closed

[2018-11-25 02:09] mlmhl commented on #71381
@geosword How do you make sure this `http://localhost:8080` is the address of apiserver? This information is printed by `rbd` command, so I think this `http://localhost:8080` is the address of ceph mon. You should check your PV object.

[2018-11-25 02:34] resouer commented on #56104
@msau42 It would be safe to close this one after https://github.com/kubernetes/kubernetes/pull/71399 is in.

[2018-11-25 02:46] gaorong opened #71400 "pod stuck in terminating and volume can't be reclaimed"
**What happened**:
When our k8s slave node power down accidently,  we reboot it and kubelet restarts. then there are some error logs as below:
[code]
it turns out kubelet invoke `FindPluginByName` failed.

In production environment, we have a flexvolume driver located in `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/xiaomi~lvm/lvm`. kubelet loads this driver and names as `flexvolume-xiaomi/

[2018-11-25 02:48] GaoRong commented on #71400
/sig storage

[2018-11-25 02:48] jberkus opened #71401 "Failing Test: ci-kubernetes-soak-gci-gce-beta fails to load"
**Which jobs are failing**: ci-kubernetes-soak-gci-gce-beta

**Which test(s) are failing**: all of them, the test fails to start

**Since when has it been failing**: Nov. 21

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-1.13-all#soak-gci-gce-1.13

**Reason for failure**:

The test is apparently failing to even start:

[code]

**Anything else we need to know**:

There's two unres

[2018-11-25 06:49] Abhik1998 commented on #71387
Hey!! did you try to change the pod in which you are deploying your app?

[2018-11-25 08:59] jethrogb commented on #35062
/remove-lifecycle stale

[2018-11-25 09:01] zcalusic commented on #35062
Actually, I don't see these errors on 1.12.2 anymore. Can anybody confirm?

[2018-11-25 12:07] nikopen commented on #32727
moved to post-release for cherry picking

/milestone clear

[2018-11-25 12:31] nilebox commented on #29838
@PaulCapestany I think you should sort by `.lastTimestamp` rather than `.metadata.creationTimestamp` in case there was a compaction (duplicate events):
[code]

Agree that this is very confusing.

[2018-11-25 15:49] ericjee commented on #69687
Hi, any updates here?

[2018-11-25 18:00] nikhita commented on #62323
/remove-lifecycle stale

On Sun, Nov 25, 2018 at 11:19 PM fejta-bot <notifications@github.com> wrote:

[2018-11-25 18:10] waldauf commented on #68818
@hongjyan My K8s is running on the single OpenStack cloud. But I'm not administrator of OpenStack and cannot say more information. :/

[2018-11-25 18:49] #56165 closed

[2018-11-25 18:54] ravisantoshgudimetla commented on #71234
- IIUC, the point you are trying to make is separation of concerns where priority is something that is relative to pods and has nothing to do with criticality. I agree with your point but we are adding implicit tolerations to critical DS pods for example `NotReady` toleration. While the context may be different there, I believe if we are adding tolerations we should do the same for other pods unle

[2018-11-25 19:07] liggitt commented on #71234
Auto-adding tolerations limits the power of the API by equating priority with tolerations

[2018-11-25 20:16] ravisantoshgudimetla commented on #71234
I think here is the place-

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/util/daemonset_util.go#L52-#L61

I am not denying that - Just that special priority classes should be given meaningful tolerations or at  least be removed which can have conflicting effects with other features.

[2018-11-25 20:21] liggitt commented on #71234
I think that was done to maintain compatibility with pre-scheduler daemonset behavior, not as a model of what we want the interaction between priority and tolerations to be

[2018-11-25 20:37] ravisantoshgudimetla commented on #71234
You mean this was DS controller was doing this right from the start or was it created after scheduler started scheduling DS pods? I think it's the former and if that is the case, we have been doing it from a long time.

[2018-11-25 20:39] liggitt commented on #71234
Tolerations affect how the scheduler assigns pods to nodes. Originally, the daemonset controller assigned pods to nodes, bypassing the scheduler. When making the switch to use the scheduler, it had to start adding tolerations to preserve existing assignment behavior

[2018-11-25 21:52] #65405 closed

[2018-11-25 21:53] jpbetz commented on #64742
+1 to solving this via the etcd client implementation as @gyuho suggests

[2018-11-25 22:53] #65597 closed

[2018-11-26 00:56] k82cn commented on #71234
Yes, we add tolerations to keep backward compatibility of DeamonSetController :)

+1, toleration and priority are two different features; it's better to let user to decide how them work together if we do not have real use case right now.

[2018-11-26 01:13] k82cn commented on #67300
/close

[2018-11-26 01:13] #67300 closed

[2018-11-26 01:44] neolit123 commented on #71388
/sig storage
/triage support

[2018-11-26 01:45] neolit123 commented on #71369
/sig api-machinery

[2018-11-26 01:55] xiegang1 commented on #71400
This bug caused a lot of lvm leaks on our online system and should be a critical one. Can anyone could help have a review about this issue?

[2018-11-26 02:00] saad-ali commented on #71378
Yes, what @liggitt said. Please use 1.0.1 driver-registrar sidecar container. If you still have issues with that version please reopen this issue.

[2018-11-26 02:00] #71378 closed

[2018-11-26 02:48] GaoRong commented on #71400
PTAL @jingxu97

[2018-11-26 02:56] Pingan2017 commented on #71398
if no one plan to work on it, i'd like to take this.

[2018-11-26 03:31] k82cn commented on #71327
re Problem 1: for per node, we only need to compare current nodes as they will share the same maxPods. for per zone, we need to account other nodes, e.g. because of resource predicates.

re problem 2: a little about your case :(

[2018-11-26 04:19] yra-wtag commented on #27114
There is another issue/scenario that we have found out
1. Give the Pods a overestimated liveness delay. Say 120 seconds.
2. Pods is properly started and readiness probe check comes fine and dandy. Great.
3. Now for some strange reason the Pod got deadlocked or for some other reason it is not ready anymore.
4. Now the readiness probe will return `not ready` while liveness probe will return `ready`.

[2018-11-26 04:42] krzyzacy commented on #71401
/assign

[2018-11-26 04:59] saad-ali commented on #71383
@msau42 @mkimuram can you please help investigate this.

It looks to me like the `subPath should...outside the volume` tests are flaking for `csi-hostpath-v0` and `csi-hostpath`. I wonder if the v0 tests are racing with the non-v0 tests for something in this test?

[2018-11-26 05:01] saad-ali commented on #71383
The other `subPath should...outside the volume` tests including for the other CSI driver `pd.csi.storage.gke.io` are solid green which also makes me think this is a issue with the hostpath tests or driver.

[2018-11-26 05:31] jpbetz commented on #61326
Sorry for the belated response on this. Yes v1.14 is best for etcd server 3.3 bump. We don't require the etcd client and server be bumped together, and given the large volume of vendoring changes pulled in by the etcd 3.3 client we went with a full Kubenetes release cycle to bake the client bump in isolation from server changes.

[2018-11-26 06:39] tossmilestone commented on #45419
/sig network

[2018-11-26 08:01] justlooks commented on #71373
@liggitt    the token is expired ,i already fix it by creating a new token,thanks for so much concern!

[2018-11-26 08:01] #71373 closed

[2018-11-26 08:50] saad-ali commented on #71186
External components can not depend on `github.com/kubernetes/kubernetes`. If there is external code that has a common library, that common library should live in it's own external repo that can be imported by all consumers.

If the library is also required by code living in `github.com/kubernetes/kubernetes` we can put it in staging where it will get mirrored to a external repo like `github.com/ku

[2018-11-26 09:10] lbernail commented on #71358
After looking into it, it seems `conn_reuse_mode` was introduced in kernel 4.1: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=d752c364571743d696c2a54a449ce77550c35ac5
with a default of `1`, which changed from the previous behavior (which matches `conn_reuse_mode=0`)

What about `expire_nodest_conn` ? I really think we should set it to 1 (it be a lot better for relea

[2018-11-26 09:18] m1093782566 commented on #71358
A quick question:

Can we set `expire_nodest_conn=1` && `conn_reuse_mode=0` at the same time?

[2018-11-26 09:20] lbernail commented on #71358
Based on my tests yes, in my original post:

[2018-11-26 09:29] m1093782566 commented on #71358
So, there is a bug in the kernel document?

[2018-11-26 09:39] bitzhuxb commented on #71364
By setting the restartpolicy to 'Never' fixed my problem. Thanks anyway

[2018-11-26 09:39] #71364 closed

[2018-11-26 09:39] Wade201801 commented on #66687
@xiaoxubeii

I am trying cinder online pvc resizing on kubernetes1.12.2.  I noticed this kubernetes version has include your fix, but I still failed to resize pvc online.

The error log has no change:
`Warning    VolumeResizeFailed     45s (x2 over 66s)  volume_expand                Error expanding volume "default/myclaim-expend" of plugin kubernetes.io/cinder : volume status is not available
`

T

[2018-11-26 09:48] geosword commented on #71381
@liggitt. A good point, The process detailed at http://docs.ceph.com/docs/mimic/start/kube-helm/ does not mention supplying an api address to ceph, which tells me it doesn't need to know, presumably because it assumes the "kubernetes" service is present and working.

I dont have a response from "Ceph" yet regarding the issue I logged there. Hopefully I will get something later today.

@mlmhl.

In

[2018-11-26 09:56] mhristache commented on #59368
I've added my script [here](https://github.com/mhristache/k8s-conntrack-cleanup).

Note that it's not tested much so don't use it in a production environment. Also it cleans up all conntrack entries for a deleted pod, not only the UDP related ones.

[2018-11-26 10:11] lbernail commented on #71358
I think the doc is incomplete because in the code there is an interaction between both sysctls here: https://elixir.bootlin.com/linux/latest/source/net/netfilter/ipvs/ip_vs_core.c#L1931

My tests confirm that with both `expire_nodest_conn=1` and `conn_reuse_mode=0` connections are immediately deleted when the backend server is removed (which is not the case when `expire_nodest_conn=0`)

I don't se

[2018-11-26 10:16] m1093782566 commented on #71358
And for long running clients, we probably should set IPVS timeouts longer, xref: https://success.docker.com/article/ipvs-connection-timeout-issue

[2018-11-26 10:37] lbernail commented on #71358
Yes I read that too during my investigations. In their example they reduce `tcp_keepalive_time` to make it lower than the IPVS one to make sure that TCP keepalive keep the IPVS connection Established

This relies on applications configuring their socket to use TCP keepalives. But it definitely makes sense to make sure this parameter is lower than the IPVS one. We could allow a configuration parame

[2018-11-26 11:01] lbernail commented on #71358
OK I just confirmed that the blachole issue can also happen with graceful termination:
- create a long lived connection to a service backed by a single
- prevent FIN/RST from getting back from the pod to simulate a kernel panic or other crash (serving pod will send a FIN on termination and if it receives a packet while shutting down it will send a RST)
- delete the pod

The connection will serve t

[2018-11-26 11:06] m1093782566 commented on #71358
Can we set IPVS TCP timeout 120% to `tcp_keepalive_time`?

[2018-11-26 11:07] liggitt opened #71411 "Proxy connection gets stuck on error response"
**What happened**:
When proxying to a backend server, if the server returns an error response, the connection gets stuck.

**What you expected to happen**:
The error would be returned and the connection would be closed.

/kind bug
/kind api-machinery
/assign

[2018-11-26 11:20] apolegoshko commented on #52715
hi @MoBT, yes! Specify the proxy settings like [here](https://docs.docker.com/network/proxy/)

[2018-11-26 11:20] liggitt commented on #71343
none of those commands require the apiserver to contact the kubelet, only kubectl logs does (and kubectl exec/attach/portforward, etc)

[2018-11-26 11:34] mariantalla commented on #71383
_(just adding additional similar flakes here for tracking)_

Similar flakes in [gce-cos-1.13-slow](https://k8s-testgrid.appspot.com/sig-release-1.13-all#gce-cos-1.13-slow):
- https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-slow/7225
- https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-slow/7224
- https://gubernator.k8

[2018-11-26 11:50] nzoueidi commented on #60315
Yes, remove it please.

[2018-11-26 12:09] lbernail commented on #71358
We could but that would only work for sockets with SO_KEEPALIVE
In addition the default in most distributions for `tcp_keepalive_time` is 7200s

I think controlling the IPVS tcp timeout and setting tcp_keepalive_time accordlingly is probably more efficient: it would work regardless of whether connections use SO_KEEPALIVE or not

We would probably also have to set `tcp_keepalive_intvl` and `tcp_kee

[2018-11-26 12:12] mariantalla opened #71418 "Master-upgrade tests experiencing gce flakes"
**Which jobs are failing**:
- [gce-master-new-downgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-new-downgrade-cluster)

**Which test(s) are failing**:

| Job | Test | Reason for failure |
| - | - | - |
| [gce-master-new-downgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-new-downgrade-cluster) | [[sig-apps] replicaset-up

[2018-11-26 12:12] m1093782566 commented on #71358
Changing the value of `tcp_keepalive_time` may affect other systems?

[2018-11-26 12:14] mariantalla commented on #71418
Assigning `important-soon` until we get a couple more runs and see how persistent the issue is.
Might move to `important-longterm` if it's a one-off.
This is a non-release-blocking suite.

/priority important-soon

[2018-11-26 12:18] djboris9 commented on #60914
I think it should be implemented in the kubeconfig spec and then https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go#L64 can be made to use this value

[2018-11-26 13:33] sbezverk commented on #71186
@saad-ali works for me, thanks for detailed explanation..

[2018-11-26 14:33] VictorBHub commented on #62594
for whoever encounter this issue while using spring services.
don't forget, like I did, to set the appropriate args.

[code]

[2018-11-26 14:33] MoBT commented on #52715
@apolegoshko Thank you

[2018-11-26 14:34] prune998 commented on #67577
Is this considered as a bug ?

If some pods are throttled while not really exhausting their CPU limit, it sound like a bug to me.

On my cluster, most of the over-quota pods are related to metrics (heapster, metrics-collector, node-exporter...) or Operators, which obviously have the kind of workload that is in problem here : do nothing most of the time and wake up to reconcile every once and a whi

[2018-11-26 14:37] AndreasChristianson commented on #67849
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-status-em- should indicate what the valid `TYPE`s are. This term is used throughout the cli documentation. Where can I find a list of valid values? Do all commands parse `TYPE`s identically?

/remove-lifecycle stale

[2018-11-26 14:51] markusheiden opened #71420 "kubectl wait some-resource --for=delete should never fail with NotFound"
**What would you like to be added**:

    kubectl wait some-resource --for=delete

should not fail with "NotFound", if resource already has successfully been deleted.

**Why is this needed**:

It is hard to reliably wait for an async deletion of a resource otherwise, because it may randomly fail, if the deletion is fast enough.

/kind feature

[2018-11-26 15:13] libesz opened #71421 "Pod garbage collector threshold behavior"
**What happened**: After taken into use the `--terminated-pod-gc-threshold` parameter of controller-manager, there are still terminated Pods left in the system.

**What you expected to happen**: I would expect the garbage collector to clean up all the terminated Pods when their amount exceeds the threshold.

**How to reproduce it (as minimally and precisely as possible)**: Set the `--terminated-po

[2018-11-26 15:13] justinsb commented on #71398
I'm a little unsure about whether we should be re-registering the Node.  My guess is that if a Node was deleted, it was usually because the administrator is preparing to terminate the underlying machine.  I guess the scenario we're thinking about here is that the node controller removed it mistakenly?  I don't know if there's some other scenario?

We had a bug in kops where when a machine is delet

[2018-11-26 15:17] kachkaev commented on #62822
/remove-lifecycle stale

[2018-11-26 15:19] liggitt commented on #71398
since if the kubelet process restarted, it *would* re-register the Node object, the current behavior is fragile at best, and perpetually attempting and failing to report status really seems like a bug.

[2018-11-26 15:33] liggitt commented on #71398
wouldn't the proper order be to:
* terminate the machine (or in a cloud environment, have the cloud provider terminate the instance)
* delete the Node object (or in a cloud environment, let the node controller delete the Node object)

Deleting the node object first is racy if the kubelet process happens to restart.

accidental deletion, or assumption that a deleted Node object will get re-register

[2018-11-26 15:36] liggitt commented on #71383
adding to the milestone for triage since the flakes look new

[2018-11-26 15:36] liggitt commented on #71420
/cc @deads2k

[2018-11-26 15:50] liggitt commented on #71097
SelfSubjectRulesReview is not authoritative, is not supported by all authorizers, and is explicitly not to be used for making external authorization decisions:

https://github.com/kubernetes/kubernetes/blob/7c4d097faf6202fdbfefab962306a3ea50269488/staging/src/k8s.io/api/authorization/v1/types.go#L195-L200

The referenced requests (#48537, #58262) were asking for partial resource lists, which (beca

[2018-11-26 15:54] liggitt commented on #71421
Once a terminated pod is cleaned up, its logs are no longer accessible. Setting this threshold allows the cluster administrator to decide how many pods to leave in place for post-termination log access.

[2018-11-26 15:54] liggitt commented on #71421
/close

[2018-11-26 15:54] #71421 closed

[2018-11-26 16:09] annProg commented on #71071
same problem ,both 1.12.2 and 1.13.0-beta1.  @m1093782566 @Lion-Wei

[2018-11-26 16:16] justinsb commented on #71398
@liggitt I agree - deleting the Node first breaks if the kubelet restarts (but less pathologically than all your new nodes coming up cordoned, IMO - the node that is about to be terminated gets uncordoned and presumably gets pods scheduled to it that will be short-lived).

Terminating the machine and then deleting the Node is also potentially problematic - e.g. if we fail to delete the Node (or ge

[2018-11-26 16:30] jberkus commented on #71329
Adding a priority to this:

/priority important-soon

Please raise the priority if you consider this a release blocker.  Given the test job, it normally wouldn't be.

[2018-11-26 16:32] jberkus commented on #70912
There are still upgrade tests failing/timing out, but it's for different reasons.  Closing this issue.

/close

[2018-11-26 16:32] #70912 closed

[2018-11-26 16:40] james-masson commented on #60789
/remove lifecycle/stale

[2018-11-26 16:43] jberkus commented on #71215
ooops

/remove-priority important-soon

[2018-11-26 16:45] jberkus commented on #70180
The flakes on testvolumeposition just stop as of 11/22.  Did something get fixed, or is that just the holiday showing up?

[2018-11-26 16:48] jberkus commented on #71418
Tracking in milestone.  These tests are release-informing, if not release-blocking, and if they all flake at once it's going to lag the release.

/milestone v1.13

[2018-11-26 16:50] liggitt commented on #70180
https://github.com/kubernetes/kubernetes/pull/71212 fixed it

[2018-11-26 16:51] mikedanese commented on #71329
It's a test issue. I'm hoping to fix this before 1.11 but I don't consider it a release blocker.

[2018-11-26 16:58] jberkus opened #71423 "Flake: [sig-network] Services should have session affinity work for LoadBalancer service with ESIPP"
**Which jobs are failing**: gce-cos-master-slow

**Which test(s) are failing**:  [sig-network] Services should have session affinity work for LoadBalancer service with ESIPP on [Slow] [DisabledForLargeClusters]

**Since when has it been failing**:  This test started to be flaky on 11/18

**Testgrid link**:  https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow

**Reason

[2018-11-26 16:58] neolit123 commented on #71369
i don't see it as a release blocker.
but the problem is in client-go, so it's important to get fixed.

@kubernetes/sig-api-machinery-bugs

[2018-11-26 16:59] jsafrane opened #71424 "CSI: kubelet removes NodeID annotation when a driver is restarted"
**What happened**:
When I restart pod with my driver and driver-registrar, node looses NodeID annotation.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run Kubernetes without any alpha features (local-up-cluster.sh in this case)

2. Start HostPath driver
[code]

3. Wait for everything to be Running

4. Check the node has annotation
[code]

4. Delete the node pod (deleting

[2018-11-26 17:00] luxas commented on #54318
This has been fixed, we just forgot to close it. Good that the bot now closed it :+1:

[2018-11-26 17:00] jberkus commented on #70180
Ah, wasn't sure, timing was off.

[2018-11-26 17:03] mkimuram commented on #71383
@saad-ali @msau42

These all 4 subpath tests call ```testPodFailSubpathError``` and it fails in finding a specific failed event by using ```WaitTimeoutForPodEvent```. As ```WaitTimeoutForPodEvent``` uses ```eventOccured``` to check if the specific error event happens, and [```eventOccured``` only checks first event](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L1