[2020-05-25 02:09] cofyc commented on #91281
/assign

[2020-05-25 02:12] xieyanker commented on #91203
It's very strange, the phenomenon suddenly recovered, I'm not sure why.

[2020-05-25 02:19] skamboj commented on #90854
@andrewsykim I did manage to test this again with checksum offloading disabled and on a bunch of simulated loads/benchmarks, it does seem to fix the issue. Furthermore as evident from the latency graph below, there does not seem to be a significant difference (below 99.9th percentile) between checksum offloading being enabled/disabled (I switched off `--random-fully` to run the test with checksum

[2020-05-25 02:59] sshankaregowda commented on #91326
thanks.. I used bash script and works.!

[2020-05-25 03:09] rmohta commented on #91326
Updated title is a bit misleading.. I think having a command in preStop hook is similar to using the same command  in kubectl exec.
@sshankaregowda can you please close this issue if everything is good?

[2020-05-25 03:11] #91326 closed

[2020-05-25 03:57] #78531 closed

[2020-05-25 04:38] Chartreux0 opened #91402 "[ERROR ImagePull]: failed to pull image k8s.gcr.io"
When I run kubeadm init, I get the following error.

**[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforehand using 'kubeadm config images pull'
error execution phase preflight: [preflight] Some fatal errors occurred:
	[ERROR Im

[2020-05-25 06:15] yue9944882 commented on #79805
/lifecycle frozen

[2020-05-25 07:08] muru commented on #20555
@VGerris a `readinessProbe` on a path other than `/` worked for me, but @ericuldall seems to be wrong on one point:

According to [GKE's Limitations](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#limitations), changes to `readinessProbe`s are never picked up. They're only considered when creating the ingress:

Looks like we'll have to manually modify the health checks or delete

[2020-05-25 07:09] bsdnet commented on #91292
Looks all the places are image name, instead of regex. image_regex is introduced by 2f6514bd63f2590f37cc3a456a5dd78d228c296f, but rarely be used,

[2020-05-25 07:16] integrii commented on #66826
This issue was opened in 2018 and is still broken after being closed.  Installation is broken on Centos 8 right now if the kubeadm setup instructions are followed.

[2020-05-25 07:29] mikechen66 commented on #82997
The quickest way is to configure kube-flannel and apply it in ARM64 including Jetson TX2/Nano and Rapsberry.  Please have a look at the Config the master node

### 1. Update kube-flannel

[code]

### 2. Apply kube-flannel.yaml

`
$ kubectl apply -f kube-flannel.yaml
`

### 3. Check the configuration

[code]

[2020-05-25 07:29] VGerris commented on #20555
hi @muru , I tried deleting and re-applying the ingress as I was trying to suggest with my type of reply and that did not work for me. Thanks for the remark, I will look further into this at next deploy. It surprises me how this is not more emphasized, especially given how many posts there are about this issue.

[2020-05-25 07:38] zhouya0 commented on #91340
@damemi Great, indeed I can't reproduce this bug in my env. Waiting for more evidence for this.

[2020-05-25 07:43] jsafrane commented on #88229
Yes, using the indexer looks like a good idea.

[2020-05-25 07:58] prasadkatti commented on #91402
/sig node
I think this is sig node as the issue is with image pull

[2020-05-25 08:13] johscheuer commented on #91402
Do you get the same error when you run `docker pull k8s.gcr.io/kube-apiserver:v1.18.3` (assuming you use docker). Could you ensure that the machine can talk to the internet or at least to `k8s.gcr.io/`?

The error message just tells you that `k8s.gcr.io/` is not reachable.

[2020-05-25 08:17] kohlerdominik opened #91404 "API-server repair considers ports with same port number but different protocols as same"
**What happened**:
I created several Workloads which require up to ten ports for both UDP and TCP protocol. Now my logs get spammed with `the node port [PORT] for service [SERVER] was assigned to multiple services; please recreate`.

**What you expected to happen**:
[repair.go::collectServiceNodePorts](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/portallocator/con

[2020-05-25 08:31] kohlerdominik commented on #91404
/sig api-machinery

[2020-05-25 08:45] lwmqwer commented on #90928
khenidak, Thanks very much for your patience to answer my question.

[2020-05-25 08:58] tanjunchen commented on #91402
@Chartreux0
could you make sure that `k8s.gcr.io/` is  reachable?

kubeadm init --image-repository registry.aliyuncs.com/google_containers
I guess that  it is good for you.

[2020-05-25 10:06] pohly commented on #91287
That was because I thought that `kubectl delete --cascade=true` (the default) enables foreground deletion. It doesn't, and there's also no option to select it. After explicitly selecting it via curl, the following script failed for me eventually:
[code]

Output:
[code]

Note that `creationTimestamp: "2020-05-25T09:58:08Z"` for the endpointslice is greater than the `deletionTimestamp: "2020-05-25T0

[2020-05-25 10:48] dwdraju commented on #57601
@matoszz I don't think we cannot set custom serviceAccount with other name as default unless explicitly specifying on pod definition:
[code]

[2020-05-25 11:22] sixcorners commented on #39980
I'm using k3s which uses coredns. This error happens to me when I'm running my cluster with ipv6 available and configured on the node.

If I look at the coredns logs I see lots of stuff like
`[ERROR] plugin/errors: 2 www.google.com. A: dial udp [2606:4700:4700::1111]:53: connect: network is unreachable
`

[2020-05-25 11:34] Anjingkegui commented on #72181
/reopen

[2020-05-25 11:45] rasebo commented on #84308
Also seeing this in 1.16.9, is there anything preventing this change from being backported?

[2020-05-25 12:04] airadier commented on #87185
/remove-lifecycle rotten

[2020-05-25 12:05] airadier commented on #87185
/remove-lifecycle stale

[2020-05-25 12:05] #86663 closed

[2020-05-25 12:20] sttts commented on #91395
This was part of the release notes: https://github.com/kubernetes/kubernetes/pull/88076

The whole change was unfortunate: `x-kubernetes-list-map-keys´ had been introduced to CRDs earlier, but nobody added the necessary validations for CRDs and CRs. https://github.com/kubernetes/kubernetes/pull/88076 fixed that. On that road we noticed that we need stricter requirements on the map keys to make the

[2020-05-25 12:26] wojtek-t commented on #91367
@liggitt - thanks a lot for looking into it.
I don't think my PR changed anything that anyone should rely on. I will take a deeper look into it and try to fix that (hopefully later this week).

[2020-05-25 14:07] ahg-g commented on #91204
Normalizing by the number of images gives each image the same "weight". Another option is to try and multiply each image score with its size divided by the total size of all images, can you add that as another option?

[2020-05-25 14:19] alculquicondor commented on #91204
I don't understand that suggestion. The score of an image is already proportional to its size.

I would say the difference between the two suggestions is:

- Capping per pod cares about total downloaded size
- Capping per image gives roughly the same importance to each image.

I think capping per pod makes more sense. However, there is some information we are losing in both suggestions, as seen in

[2020-05-25 14:21] agadelshin commented on #68026
/reopen

[2020-05-25 14:28] ahg-g commented on #91204
It helps giving more importance to larger images.

[2020-05-25 14:28] alculquicondor commented on #91234
I asked about homogeneity of the nodes because there is the score `NodeResourcesBalancedAllocation` which just looks at the "shape" of the node's allocatable in comparison to the pod's shape (requested resources). But if all nodes are equal, it doesn't matter.

But, I still don't understand why the default weight for the `PodTopologySpread` wasn't enough. I wonder if some of your nodes had too man

[2020-05-25 14:35] alculquicondor commented on #88365
/close
we can reopen if more information is provided.

[2020-05-25 14:35] #88365 closed

[2020-05-25 14:36] ahg-g commented on #91204
If the statistics are accurate with regards to image size distribution, then having many small images all scoring zero isn't common. For the more common cases (sizes between 32-1000), it seems that both approaches will likely give similar results, so I am fine with both approaches.

[2020-05-25 14:47] brybacki opened #91410 "Cannot create pod with long name"
**What happened**:
Tried to create a pod with a long name (more than 160, less than 253 chars). Pod stuck with Status: ContainerCreating. Pod event contain a warning:
[code]

**What you expected to happen**:

Either fail with "name is too long" on API level or create pod and container successfully.

**How to reproduce it (as minimally and precisely as possible)**:
long-pod-name.yaml:
[code]
Try cr

[2020-05-25 14:50] danwinship commented on #91216
No, the test cannot randomly fail if the conntrack binary is unavailable. It needs to check for it and Skip itself if conntrack isn't there. Or better yet, it should make use of some image that has conntrack installed.

/retitle 'Services should be able to preserve UDP traffic when server pod cycles for a NodePort service' fails if conntrack is not installed on node

[2020-05-25 14:54] alculquicondor commented on #91281
beware of #88634

I think we should adhere to API versioning (and release v2) before adding more fields. Unless this is urgent.

[2020-05-25 15:03] alculquicondor commented on #88229
/remove-sig scheduling

I also agree that solving in PVC side seems like a better idea.

[2020-05-25 15:05] rikatz commented on #91216
@danwinship I was with that issue to track it with the merge, do you want/can you correct this then? Should I assign that to you?

Thank you

[2020-05-25 15:20] alculquicondor commented on #91204
That would make the score proportional to the square of the size.

Just to play safe (ie, not make the score too strong in a way that could affect spreading or resource allocation) I suggest we go with capping per pod. And then we can re-evaluate next release.

[2020-05-25 15:23] alculquicondor commented on #91204
Speaking of statistics. They might have changed since this plugin was first developed. Is there a reliable source?

[2020-05-25 15:35] ahg-g commented on #91204
True for uncapped images, but everything we are doing is just heuristics, and the suggestion is just for the sake of exploring options, not advocating a specific one.

Playing it safe sounds good to me.

[2020-05-25 15:37] aojea commented on #91216
@danwinship is a test dependency or a kube-proxy dependency?
https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/pkg/proxy/iptables/proxier.go#L744

[2020-05-25 15:42] rikatz commented on #91331
@wk60807430 thank you, I'll create a full CentOS 8 cluster with Calico here and kube-proxy in IPVS mode and check if I can reproduce here

[2020-05-25 15:42] ahg-g commented on #91281
Certainly addressing  #88634 is important, but I think they can move in parallel as long as we treat it as a versioned API.

[2020-05-25 15:46] rikatz commented on #91203
@xieyanker I'll close the issue then, and if you got some further information  like the describe of the node please or what caused this issue feel free to reopen

Thank you!

/close

[2020-05-25 15:47] #91203 closed

[2020-05-25 15:48] camilamacedo86 commented on #46232
solution:

1. Get the process:

[code]

2. kill the process:
[code]

3. now it will work

[code]

[2020-05-25 15:55] nickvth commented on #84226
@msau42 @jsafrane @xing-yang @RaunakShah  Any new updates about this issue?

[2020-05-25 16:00] hvaara commented on #68026
/reopen

[2020-05-25 16:03] #91139 closed

[2020-05-25 16:57] eMGabriel commented on #91220
@kubernetes/sig-node-bugs

[2020-05-25 17:10] Arjunkrisha commented on #33664
Hi,
     I have a very similar use case where i cannot change the image tag every time and still the pods should be recreated if the image is changed in the image registry. I did see about `kubectl rollback restart` How to do the same with helm?
    My deployment image in helm templates is pointing to latest and so even if i make any changes to the image and push to the registry, the changes are n

[2020-05-25 17:20] dkapanidis commented on #33664
The `kubectl rollback restart` command applies an annotation timestamp to the pod Spec that forces the pod to mutate and is what activates the rollout of the new Pod (note you have to have an `imagePullPolicy: Always` so that the fresh Pod actually pulls the image)

[code]

In order to replicate that in helm you can use the same pattern. We use a value flag to activate a force restart when needed

[2020-05-25 17:21] atotala opened #91413 "Use TLS verification to pull the image from private docker registry in k8s"
Is there a way I can use the TLS/ certificate to validate my private docker registry while pulling the image during the pod creation in k8s ?

Currently we have to use the username and password to create the image pull secret, don't wann use this way.

/sig CLI

[2020-05-25 17:31] Maellooou opened #91414 "SecurityContext windowsOptions doesn't work on kind:Deployment"
**What happened**:
I add podSecurityPolicy on my Kubernetes cluster with the parameter RUNASUSER = MustRunAsNonRoot.
I try to create a Deployment with Windows docker image and the securityContext.windowsOptions.runAsUserName

I used the template here : https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/windows/run-as-username-pod.yaml

It works well, but if I add the d

[2020-05-25 17:31] tgdn commented on #45438
Same happening to me. Following every article using NodePort and Ingress. The Ingress always reports unhealthy node, and I get 404 (Google's one) every time I try to access it.

[2020-05-25 17:33] Arjunkrisha commented on #33664
Hey dkapanidis,
       Thanks for the quick response. In my case this solution might not work. Because we are deploying our apps though CI/CD. So i need the pods to be recreated only if there is a change in the image in image registry else they can stay the same. If i am using the above solution, i need to manually add `forceRestart` flag everytime i make any changes to the image and thus breaks t

[2020-05-25 17:57] jfpucheu commented on #91414
/sig windows

[2020-05-25 18:23] wojtek-t opened #91415 "WatchCache may accept watches that it should not"
Opening as an follow up analysis from https://github.com/kubernetes/kubernetes/issues/91367

Merging #91260 unexpectedly resulted in a huge flakiness of at least one of the apimachinery tests: https://github.com/kubernetes/kubernetes/issues/91367
That is definitely unexpected, because that PR only changes the size of watchcache, which no e2e tests should rely on.

So I started digging deeper into

[2020-05-25 18:25] wojtek-t commented on #91367
https://github.com/kubernetes/kubernetes/issues/91415 contains the explanation and describes the bug (in fact this bug still exists in the codebase, that PR was only increasing the probability of this particular test hitting it)

[2020-05-25 18:30] wojtek-t commented on #91415
Working on the fix right now

[2020-05-25 18:50] wojtek-t commented on #91415
https://github.com/kubernetes/kubernetes/pull/91417 for now contains a test reproducing the issue
Fix coming soon.

[2020-05-25 19:11] wojtek-t commented on #91415
#91417 is ready for review

[2020-05-25 19:18] tamalsaha commented on #91395
Thanks, @sttts ! For me the confusing part was that somewhere kubebuilder controller-tools started auto generating `x-kubernetes-list-map-keys` because once I switched from controller-toold v0.2.x to v0.3.0 it started showing up. Should there be an explicit annotation needed for controller-tools to auto generate `x-kubernetes-list-map-keys` ?

On a separate note, should k/api add these default ann

[2020-05-25 19:25] dkapanidis commented on #33664
We use this on CI/CD and depending on the branch the CICD builds if it is the "develop" branch (or "master" depending on your git flow) that translates to "latest" tags in docker registry then the CICD activates the flag (so that it is only used when the image is overwritten, not during tag releases). I'm assuming here that the CI and CD are triggered together and everytime an image is build, the

[2020-05-25 20:04] aojea commented on #91415
it seems TimeoutSeconds is configured explicitely on GCE tests  to 300 sec
https://github.com/kubernetes/kubernetes/blob/aed3f054953ef28174930ce9c540f5c2b003ae78/cluster/gce/config-test.sh#L54

KIND is using Kubeadm under the hood and I could not find any place where those flags are configured, but then I think it should be taken the default values for TimeoutSeconds, no?

https://github.com/kuber

[2020-05-25 20:12] matthyx commented on #78679
/remove-lifecycle stale
/assign @justaugustus

[2020-05-25 20:13] #85489 closed

[2020-05-25 20:13] #86672 closed

[2020-05-25 20:15] TheDiveO commented on #77142
/remove-lifecycle stale

[2020-05-25 20:37] neolit123 commented on #91402
as already mentioned ensure k8s.gcr.io is reachable.
or prepull the images using `kubeadm config images list --kubernetes-version=...`

seems like a support ticket.
/triage support
/close

[2020-05-25 20:37] #91402 closed

[2020-05-25 20:37] neolit123 commented on #91402
/remove-sig node
/sig cluster-lifecycle

[2020-05-25 20:40] danwinship commented on #91216
kube-proxy itself has already depended on conntrack being installed for a long time. I was assuming that the problem here was that the test case was invoking conntrack directly in some context other than where kube-proxy is running?

If the problem is that the crio tests were running kube-proxy directly on nodes that didn't have conntrack installed, then yes, that's a crio ci bug, I guess, but I w

[2020-05-25 20:42] neolit123 commented on #91410
/sig node

[2020-05-25 20:51] liggitt commented on #91395
I'd find that surprising as well.

I would expect so… list map keys are an explicit decision about the shape of the API… I'm not sure how controller-tools would automatically infer this.

[2020-05-25 21:36] pancernik commented on #90859
This is divided into:
- [x]  moving validation of all plugin args but Node Resources ones  https://github.com/kubernetes/kubernetes/pull/91241
- [ ] moving validation of Node Resources plugin args
- [ ] using moved validation in `ValidateKubeSchedulerConfiguration`,
       and improving code and error message consistency

[2020-05-25 21:47] fejta-bot opened #91421 "pr:pull-kubernetes-kubemark-e2e-gce-big flaked 25 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce-big
 Flakes in the past week: **25**
 Consistency: **93.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 15 |
| TearDown | 11 |
| ClusterLoaderV2 | 9 |
| Kubemark TearDown | 5 |
| testing/load/config.yaml | 4 |

#### Previously closed issues for this job flaking:
#82949 #73105 #65466 #62267 #78701

[Flaki

[2020-05-25 21:48] alculquicondor commented on #84922
@zouyee last I remember is that we were going to add the validation logic in the staging folder.
Are you still on that?

[2020-05-25 21:55] philpep commented on #33664
Hi @Arjunkrisha , I built a tool for this: https://github.com/philpep/imago where you can just use invoke with``imago -restart``. It check running pod image sha256 digest and compare with the registry. In case they don't match it add an annotation to the deployment/statefulset/daemonset to trigger a restart (assuming imagePullPolicy is "Always").

[2020-05-25 22:14] alculquicondor commented on #90859
I think you will also be missing a couple of validations for plugin args that are getting merged now.

[2020-05-25 22:17] liggitt commented on #91395
Indicating default values declaratively makes sense to me, though I wouldn't expect kubebuilder-specific annotations

[2020-05-26 00:26] Chartreux0 commented on #91402
Thank you for your reply.
The following message was output when executing kubeadm init.

**W0526 08:59:07.348949   29230 version.go:102] could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt": Get https://dl.k8s.io/release/stable-1.txt: read tcp 10.12.42.26:39840->34.107.204.206:443: read: connection reset by peer**

Is it because of not

[2020-05-26 00:37] alam0rt commented on #91042
/assign

[2020-05-26 00:38] Stephane-Thales commented on #83392
Dear @lalinsky ,
Did you found a fix to this issue ?
Does the resizing now work ?

[2020-05-26 01:32] Chromadream commented on #28321
/remove-lifecycle stale

[2020-05-26 01:35] GeminiAgaloos opened #91425 "improve Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply"
**What would you like to be added**:

- show a clearer message that better informs the user of a potential conflict between changes done declaratively vs imperatively on the same object,  inform whether the changes have been applied, what may have been overwritten

based on closed issue #82154
1. A resource that has been directly modified imperatively (for example via a kubectl edit command)

2. Y

[2020-05-26 01:37] 007g3m1n1 commented on #91425
/sig cli

[2020-05-26 01:47] 007g3m1n1 commented on #91425
background references:
#36620 and #36672
https://github.com/kubernetes/kubernetes/pull/36672#issuecomment-266161716

[2020-05-26 02:54] 13567436138 opened #91434 "dlv debug kube-apiserver the cpu is very high when execute step by step"
**What happened**:
···
 23310 root      20   0 1396024 485428   6984 S 95.3 17.1   0:49.74 dlv
 11104 root      20   0   10.2g 133980  23284 S  1.3  4.7   0:39.74 etcd
  3126 root      20   0   56624  17812  17396 S  1.0  0.6   0:25.99 systemd-journal
  8851 root      20   0  660284  70768  33672 S  1.0  2.5   0:21.57 kubelet
···
**What you expected to happen**:

**How to reproduce it (as minimall

[2020-05-26 02:54] nsinkov commented on #43916
This is an issue when I tried to copy a large directory tree from one container's volume to a volume shared with another container on the pod. The container that initiated the copy has a small memory limit and is OOMKilled.

[2020-05-26 02:55] cofyc commented on #88229
/assign

unbound claims are reconciled in the PV controller every 15 seconds, we may have bad worst-case performance. we can add an indexer in the PV controller locally to solve this issue first (also optimize [isVolumeUsed](https://github.com/kubernetes/kubernetes/blob/4e8b56e6671893757d40e2001a3c615acebc13a2/pkg/controller/volume/persistentvolume/pv_controller.go#L1298-L1321), then find a way to

[2020-05-26 03:03] lalinsky commented on #83392
@Stephane-Thales No, I didn't find solution.

[2020-05-26 03:12] cofyc opened #91436 "share custom indexer among controllers to improve the overall performance"
**What would you like to be added**:

share custom indexer among controllers to improve the overall performance

**Why is this needed**:

xref: https://github.com/kubernetes/kubernetes/issues/88229#issuecomment-633341770

current attach detach controller has a custom indexer to index pods by PVC keys to avoid iterating all pods every time to find pods which reference given PVC.
https://github.com/

[2020-05-26 03:15] cofyc commented on #91436
/area controller-manager

[2020-05-26 03:26] chendave commented on #91204
+1,  image size has been counted for scoring, dive by the number of images make it looks like those images has the same weight but they hold different score.

this approach needs the smallest change and the minimum impact I think.

[2020-05-26 03:30] chendave commented on #91204
+1,  this is not common case we can see that a pod with lots of small images (all < 23M), but a corner case that might be improved.

No perfect solution so far, but either one is better than the original one IMHO.

[2020-05-26 03:32] chendave commented on #91204
/cc @damemi @Huang-Wei ,  Do you have any comments so far?

[2020-05-26 03:35] chendave commented on #91204
btw, https://github.com/kubernetes/kubernetes/pull/91138 has been updated to the second approach (capping and normalization per image).

[2020-05-26 04:56] tamalsaha commented on #91395
It seems that the listType annotations were added sometime ago (Oct, 2018) but only recent version of kubebuilder (Dec 2019) started using those when generating CRD YAML.

- https://github.com/kubernetes/api/commit/47160d10e38963082e8d35a474e274debc7cb016
- https://github.com/kubernetes-sigs/controller-tools/pull/347

So, the only missing piece is that core types lack any way to indicate default v

[2020-05-26 04:58] llamerada-jp commented on #91234
For verification, we assigned a big pod that requires a lot of CPU to the node.
And we are using NodeResourcesBalancedAllocation, and which was affecting schedulers score like [attached log file](https://github.com/kubernetes/kubernetes/files/4679954/log.txt).

When the weight value on the profile was not set, the bias occurred in both rack and node as shown below.

[code]

We used the source of t

[2020-05-26 05:00] ZhiFeng1993 commented on #91042
@alam0rt  I'm working on this one. Mind working on another one? Thanks

[2020-05-26 05:08] alam0rt commented on #91042
/unassign

[2020-05-26 05:08] alam0rt commented on #91042
sure!

[2020-05-26 05:15] ZhiFeng1993 commented on #88848
/assign

[2020-05-26 05:20] ZhiFeng1993 commented on #86597
I will pick up these scripts:
[code]

[2020-05-26 05:21] ZhiFeng1993 commented on #86597
/assign

[2020-05-26 05:30] alam0rt commented on #90833
Hey, I might have a go of this one.

[2020-05-26 05:30] alam0rt commented on #90833
/assign

[2020-05-26 05:30] ZhiFeng1993 commented on #80177
Can I take on this one?

[2020-05-26 05:33] ZhiFeng1993 commented on #75563
@tallclair  is this one still active?

[2020-05-26 05:34] jc-lab opened #91437 "Source ip is not preserved even though externalTrafficPolicy is Local"
Please read projectcalico/calico#3585

#62537
The above issue and the corresponding issue are similar but I am using iptables mode.

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): Ubuntu 18.04.2 LTS
- Kernel (e.g. `uname -a`): Linux 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC

[2020-05-26 05:35] jc-lab commented on #91437
\sig network

[2020-05-26 05:37] jc-lab commented on #91437
/sig network

[2020-05-26 06:16] zedtux commented on #66896
Those bots are really, really, really annoying !

Same question !

[2020-05-26 06:26] chrischdi commented on #91023
I am able to reproduce the problem more often using the following setup (I'm not able to say exactly when it happens):

* csi cinder nodeplugin deployed including livenessprobe
* the problem occurs more often when using csi livenessprobe v1.1.0
* continously delete the csi pod if ready and start-stopping the kubelet for some time.

Example script: (requires kubeconfig and ssh access to the node
[c

[2020-05-26 06:46] Arjunkrisha commented on #33664
Hi philpep,

     Great Job on the tool that you made. I will definitely try to test it out more and get back to you in case of any feedback.

But sounds like there is no native kubernetes way or helm way to achieve this yet. I am not sure if someone is looking into this use case. If anyone knows that this is already tracked in kubernetes or helm then please let me know the issue number, else i be

[2020-05-26 06:50] cofyc commented on #83323
hi, @jsafrane @msau42

FYI, #83726 is done. We can implement the [`Score`]((https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/#scoring)) interface in [volumebinding](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/volumebinding/volume_binding.go) to rank nodes based on assumed PVs on the nodes (dynamic provisioning PVCs are ignored).

[2020-05-26 06:54] cofyc commented on #83323
do we need a KEP for this feature? should we convert [volume-topology-scheduling.md](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/volume-topology-scheduling.md) to a KEP first?

[2020-05-26 07:01] cofyc commented on #88150
As for this issue, I think we should not change the logic.

[2020-05-26 07:17] yasongxu commented on #91391
1.19.0 branch ：

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/set/set_selector.go#L197

1.16 branch ：
https://github.com/kubernetes/kubernetes/blob/release-1.16/staging/src/k8s.io/kubectl/pkg/cmd/set/set_selector.go#L114

I guess this code is missing

`if len(o.resourceVersion) != 0 {
				accessor, err := meta.Accessor(info.Object)
				if err != nil {

[2020-05-26 07:18] Incarnation-p-lee opened #91438 "APIServer proxy to pod with muliple port and schema"
As we know, kubernetes apiserver proxy allow you to access Node/Pod/Service out of cluster with credentials. The format should following this [doc](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#manually-constructing-apiserver-proxy-urls) For example, services.

https://dns-xxxxxxx.io:443/api/v1/namespaces/kube-system/services/https:metrics-server:/proxy

But how can I

[2020-05-26 07:24] aojea commented on #91437
@jc-lab do you mind comment that it affects iptables too in #91374 and close this issue?
Having duplicates is not helpful for triaging 😄

[2020-05-26 07:25] Incarnation-p-lee commented on #91438
/sig API Machinery

[2020-05-26 07:26] Incarnation-p-lee commented on #91438
/sig api-machinery

[2020-05-26 07:39] erheron commented on #80177
No problem for me

[2020-05-26 07:44] soltysh commented on #54491
/reopen
/lifecycle frozen

[2020-05-26 07:44] soltysh commented on #54491
/assign

[2020-05-26 07:46] liuxu623 commented on #90922
I write a KEP https://github.com/kubernetes/enhancements/pull/1811

[2020-05-26 07:55] zedtux commented on #59343
/remove-lifecycle stale

[2020-05-26 08:00] JefClaes commented on #45419
Do you remember which changes you made @deitch?

[2020-05-26 08:17] jc-lab commented on #91437
@aojea Of course I saw that issue.
But my service is LoadBalancer, not NodePort. And **in my case NodePort works fine.**
So I thought it was a different issue.

[2020-05-26 08:29] Jasstkn commented on #44273
/reopen

[2020-05-26 08:32] kyohwang commented on #66826
--disableexcludes=kubernetes  works for me.
Whereas it shows  –disableexcludes=kubernetes in the current official docs.

[2020-05-26 08:36] ica10888 opened #91441 "More accurate description in multiple containers"
**What would you like to be added**:

When execute kubectl attach and kuberctl exec commods in multiple containers, it will show to execute kubectl describe commod to see all of the containers in this pod.

[code]
After the changes

[code]

And shall we add  more infomation in this message, like `[container-foo(Running) container-bar(Terminated)] `?

**Why is this needed**:

Sometimes, we needn't

[2020-05-26 08:38] ica10888 commented on #91441
/sig cli

[2020-05-26 08:41] DesistDaydream commented on #90293
I have the same issue

[2020-05-26 09:47] pjbgf opened #91444 "API Server supports insecure TLS ciphersuites"
**Description**
API Server allows administrators to configure TLS connections to use a variety of insecure cipher suites. In particular it supports the use of RC4 and 3DES in its symmetric suites. RC4 has known bias in its output and should never be used, while 3DES is an extremely deprecated 64-bit block cipher which is both slow and unneeded. Additionally, non-forward secure key exchange is supp

[2020-05-26 09:47] Arjunkrisha commented on #33664
I like this idea as well. Will check out and let you know which works best

[2020-05-26 09:48] pjbgf commented on #81145
@cji I have just created a new issue and linked to this one. I haven't used the same prefix, as it wasn't on the original report.

[2020-05-26 10:04] vitaliitylyk commented on #20227
This feature would have been extremely useful for all sorts of local development scenarios. I really hope this gets implemented.

[2020-05-26 10:10] guangbaowan opened #91445 "can't access service:port"
**What happened**:
#### deployment
[code]
### service:
[code]
# what happens?
can access xxx-server.default:9080
but **can not** access  xxx-server.default:8090

**What you expected to happen**:
**can** access  xxx-server.default:8090

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v

[2020-05-26 10:31] aojea commented on #91437
sorry, that was not clear from the description.

I think that your issues was fixed by https://github.com/kubernetes/kubernetes/pull/88786

enabled by default in 1.19 https://github.com/kubernetes/kubernetes/pull/90537

[2020-05-26 10:54] guangbaowan commented on #91445
/sig network

[2020-05-26 11:00] alanbchristie commented on #91365
Further hints at the problem appear to be present in the logs of the `kube-controller-manager`. For the successful volume we see this...

[code]

Basically...

-   the `attacherDetacher.AttachVolume` says **"started"**
-   4 seconds later we see **"Successfully attached"**
-   and then an Event saying **"SuccessfulAttachVolume"**.

The next volume, that gets attached to another Pod (a CronJob), re

[2020-05-26 11:22] ahg-g commented on #91204
I would go with this approach as well, it preserves the behavior for multiple small images, and improve it for multiple big ones.

[2020-05-26 13:07] Anjingkegui commented on #88565
I have met the same issue in our environment. (v1.15.7)

What we got (timeline-based):
1. we have pod A attached volume A on a node.
2. when the job in pod A is completed, pod A entered Succeed/Completed status, which would trigger the detach happen.
3. but something wrong happened in the backend to make the detach process failed.
4. pod B was created and scheduled to the same node, and also use v

[2020-05-26 13:36] liggitt commented on #91395
Indicating defaults in struct annotations has been on the backlog for a while (xref https://github.com/kubernetes/kubernetes/issues/25460). Note that not all of our defaults can be expressed declaratively (some defaults vary depending on values of other fields, for example), but as far as I'm aware the ones used as keys in list-map items are constant. A KEP proposing a specific approach would be w

[2020-05-26 13:43] liggitt commented on #91444
It's unclear to me that we should maintain our own lists of cipher suites. We match the go stdlib default ciphers, and support any cipher supported by the go stdlib.

[2020-05-26 13:49] alculquicondor commented on #91234
I don't understand this:

[code]

Any idea why "map of requested resources" are different? cc @Huang-Wei

[2020-05-26 14:00] alculquicondor commented on #91234
Oh, I understand now: the requested resources are the "already used resources + pod request". You can see that these score is giving particularly strong signal, even though all the nodes are homogeneous.
Maybe we can reduce the signal from this score by depending on the std instead of variance.

[2020-05-26 14:16] adrianmoisey opened #91457 "HPA with external metric scales incorrectly"
**What happened**:
When adding an HPA (with an external metric) to a specific deployment with a target of 10m, min pods of 1 and max pods of 5, the HPA scales to the maximum, when the current is 3m.
If I change the HPA to another test deployment, I get the correct behaviour.

Both of my tests are using an external metric of the same value. This metric isn't affected by scaling of these pods, as it

[2020-05-26 14:18] adrianmoisey commented on #91457
/sig autoscaling

[2020-05-26 14:22] Anjingkegui opened #91458 "[kubelet - VolumeManager] the result/status of waitforattach is not recorded, which would cause attached devices being left on the node"
**What happened**:
In VolumeManager's `MountVolume`, it has 2 operations, `WaitForAttach` and `MountDevice`. `WaitForAttach` is to do attach on the node, and `MountDevice` is to mount the attached volume to mount point. But there were no corresponding structures to record the results of successful attach.

Between https://github.com/kubernetes/kubernetes/blob/f097cee1566983cd1838f7d02b08ccc2b0921a

[2020-05-26 14:24] Anjingkegui commented on #91458
/sig node

[2020-05-26 14:24] xing-yang commented on #84226
@nickvth PR is being reviewed here:  https://github.com/kubernetes-csi/external-provisioner/pull/438

[2020-05-26 14:38] rifelpet commented on #65613
/remove-lifecycle stale

[2020-05-26 14:43] ahg-g commented on #91234
I don't get why we need to reduce the resource utilization signal, clearly the node that got significantly lower score is highly utilized. @llamerada-jp use case needs to prioritize spreading above everything else, and so the weight is the right knob to achieve those semantics, not change the default behavior.

[2020-05-26 15:03] ahg-g commented on #91234
To clarify, my concern regarding changing the default utilization score is breaking existing workloads that depended on this behavior for some time.

[2020-05-26 15:11] sjmiller609 opened #91459 "Replace does not work for services"
**What happened**:

[This issue on kubectl](https://github.com/kubernetes/kubectl/issues/798#issue-547658418) was closed as not a problem with kubectl, but with the server

**What you expected to happen**:

'kubectl replace' with no change on a service should work.

**How to reproduce it (as minimally and precisely as possible)**:

reproduction included in this issue https://github.com/kubernetes/

[2020-05-26 15:11] sjmiller609 commented on #91459
/sig cli

[2020-05-26 15:19] cji commented on #81145
Thanks @pjbgf I'll close this

[2020-05-26 15:19] #81145 closed

[2020-05-26 15:24] alculquicondor commented on #91234
Note that `NodeResourcesBalancedAllocation` is not the same as `NodeResourcesLeastAllocated` and they run along side in the default profile.

[2020-05-26 15:25] alculquicondor commented on #91234
That said, @llamerada-jp could you try just disabling `NodeResourcesBalancedAllocation`?

[2020-05-26 15:26] tedyu commented on #91458
Can you attach log snippet with "MountVolume.WaitForAttach failed" ?

Thanks

[2020-05-26 15:26] ahg-g commented on #91234
I am aware of that, the concern still applies.

[2020-05-26 15:37] rehevkor5 commented on #81806
/remove-lifecycle stale

[2020-05-26 15:58] tedyu commented on #91345
This can be closed as dup.

[2020-05-26 16:03] zshihang commented on #86448
@seh,

how would the csi driver reuse the token? looking at the current usage of the token in vault provider, it is only used in for login when `NodePublishVolume`?

[2020-05-26 16:14] Raffo commented on #88524
/remove-lifecycle stale

[2020-05-26 16:17] alculquicondor commented on #91234
@llamerada-jp, looking at your PodSpec for `addload`, you are requesting a lot of CPU and no memory. Is this close to your real world scenario? The thing is that such disparity is giving `NodeResourcesBalancedAllocation` a lot of relevance.

Discussing offline with @ahg-g, we figured that score is still useful and should be respected. As I said above, it might still be too strong. But before concl

[2020-05-26 16:43] johngmyers commented on #80389
I would say the proposed fix is worse than the problem. It can take a long time for a database to replicate and a too-short timeout on forced deletion will lead to data loss.

A replication factor of two is vulnerable to two failures happening within the time it takes to replicate. That is fundamental.

I do believe you're conflating the ability to handle requests with ability for a database to ha

[2020-05-26 16:50] lavalamp commented on #91269
I believe the stakeholders on this are @kubernetes/sig-cli-maintainers. e.g. @seans3, @pwittrock, @soltysh, can one of you weight in?

I'd like to get clarity on this soon.

Personally, I think it's quite important to not offer users a plethora of apply choices. It'd be super confusing.

I agree.

There's a couple differences, one is IMO a bug and we can't go on-by-default without fixing it, but t

[2020-05-26 16:50] liggitt opened #91463 "IsPodSecurityPolicyEnabled e2e test detection is fragile"
**What happened**:
e2e tests detect whether PSP is enabled based on presence of PSP API objects. An addon that proactively includes a PSP in a manifest can trigger that detection and enable PSP-specific e2e tests that should not be run.

**What you expected to happen**:
In addition to detecting presence of PSP objects, consider dry-run creating a pod and verifying the annotation indicating the sel

[2020-05-26 16:58] logicalhan commented on #84308
/cc @dashpole

[2020-05-26 17:00] JocelynBerrendonner commented on #79359
@xmapst : we have identified a potential issue in this area last week. In order to make sure we are talking about the same issue, would it be possible to collect some logs using the instructions below, please?

1. Open an elevated powershell Window on the host and run:
wget https://raw.githubusercontent.com/microsoft/SDN/master/Kubernetes/windows/debug/collectlogs.ps1 -o collectlogs.ps1

2. From t

[2020-05-26 17:04] michmike commented on #78139
@Lagicrus can you please give us some additional details on your environment, versions of windows/k8s and any logs? thanks!

[2020-05-26 17:04] michmike commented on #78139
cc: @marosset

[2020-05-26 17:04] michmike commented on #78139
/reopen

[2020-05-26 17:15] marosset commented on #78139
cc @immuzz

[2020-05-26 17:18] dashpole commented on #84308
Though we meant to enable process metrics in 1.16, we accidentally didn't.  I consider the collection of new metrics a feature, and don't think it should be backported.  It will likely cause some additional resource usage on the node, which isn't appropriate for a patch release.

[2020-05-26 17:38] lavalamp commented on #90931
@kubernetes/sig-cli-maintainers Can you weigh in on how important this is?

We feel that `--force` is super, super dangerous in general. It's also very easy to confuse it with `--force-conflicts` for server side apply, so it's extra dangerous.

Do we need to implement this field for this command? Can we give an error, like "use one of: --force-conflicts or --delete-then-create"?

Can SIG CLI do so

[2020-05-26 17:50] lavalamp commented on #90904
This escalates transient errors (e.g., failure to call conversion webhooks) into permanent data loss. That doesn't seem right.

I think we should actually fail and make users retry if the error is transient.

If the error is not transient, that is super confusing and indicates a likely serious problem elsewhere in the system, either in its configuration or in our conversion code (?). I'm really of

[2020-05-26 18:04] seh commented on #86448
Vault secrets can convey an advisory TTL. If those secrets expire, the CSI driver should fetch fresh values and rewrite the published files. In order to authenticate with Vault again, the driver may need a new service account token if the previous token expired already.

That's how my driver works, optionally, if enabled for a particular Vault secret. It means that the consuming container has to b

[2020-05-26 18:09] n3wscott commented on #72637
This is an issue dear to my heart. We in Knative have pushed the limits on what we can do without upstream/first class support for duck types. It is time to work upstream to implement custom subresources.

Here is a 1-pager game plan:

https://docs.google.com/document/d/1b1hRpJpSUE3xIG0v2IHFD0NBaxvRBTBnw3An7oZBV9I/edit?usp=sharing

[2020-05-26 18:18] BenTheElder commented on #91415
I would want to speak to the kubeadm team first, we avoid deviating from their defaults as much as possible so we can test them. cc @neolit123

[2020-05-26 18:36] ZhiFeng1993 commented on #80177
/assign

[2020-05-26 18:47] 0xMH opened #91464 "An ability to find installed storage provisioners"
**What would you like to be added**:
With Kubernetes one can define storage classes with provisioners. How does one find which provisioners are installed and available in the cluster? I didn't find away to get this info.

**Why is this needed**:
When you specify in a storage class a provisioner that does not exist, and then try to create a persistent volume claim with this class you get something

[2020-05-26 18:54] apelisse commented on #90904
To be super clear, the only one that we haven't investigated yet is:
https://github.com/openfaas/faas-netes/issues/630#issuecomment-625440515

It should be super easy to reproduce.

[2020-05-26 19:00] 0xMH commented on #91464
/sig storage

[2020-05-26 19:07] michaelgugino opened #91465 "Pods on unreachable kubelets are deleted not evicted"
**What happened**:

If I have an unreachable node, after some time, pods are marked terminating, regardless of PDBs.

**What you expected to happen**:

Pods should only be marked terminating if PDBs would allow them to be evicted.

**How to reproduce it (as minimally and precisely as possible)**:

Create a deployment.  Set PDB maxUnavailable to 0.  Determine which host the pod is running on.  Stop

[2020-05-26 19:36] liggitt commented on #90904
Three distinct reported update failures related to managedFields indicates to me it is not yet reliable enough for field manager update errors to be made blocking for non-SSA write requests.

I agree, but my immediate priority is to restore compatibility with existing API calls.

I would be in favor of a follow-up that adds metrics/logging for these "should not happen"-style errors, to prove we've

[2020-05-26 19:37] michaelgugino commented on #80389
So, I disagree.  Allowing it to be ignored (or force-deleted) client-side with a configurable timeout (say, 24hr last transition) results in the same thing as ignoring PDBs for this purpose:  the pod goes away.  Client-side fix is not worse than the problem, especially considering we can make the use opt-in (not default), and the timeout is configurable.  It's up to the user to decide when or if t

[2020-05-26 19:37] michaelgugino commented on #91465
/sig apps

[2020-05-26 19:51] Baykonur commented on #90814
Dear @divyenpatel , is there anything you can recommend here?

[2020-05-26 19:56] praseodym commented on #80389
@michaelgugino:

Does the current drain/eviction procedure code handle this scenario at all? Let's say I have a deployment with `replicas: 3` and a PDB with `minUnavailable: 2`. A node gets drained so one pod gets evicted, then before a new pod is fully started another pod crashes. This leaves just one available pod, violating the PDB.

[2020-05-26 19:58] neolit123 commented on #91415
i see the tests under "client-go should negotiate" are not conformance yet, which makes them less likely to be run outside of k8s testing.

i personally don't think our tools used for e2e (GCE/kube-up included) should be configuring these kube-apiserver flags. the tests should behave well with any deployer-X that relies on the apiserver sane defaults.

[2020-05-26 20:19] fedebongio commented on #91404
/remove-sig api-machinery
/sig network

[2020-05-26 20:21] fedebongio commented on #91438
/assign @Jefftree

[2020-05-26 20:36] #89190 closed

[2020-05-26 20:37] #80745 closed

[2020-05-26 20:38] #91415 closed

[2020-05-26 20:39] lavalamp commented on #90904
I haven't dug into the specific causes. Are they really SSA specific? Or is SSA just newly exercising things that are broken?

[2020-05-26 20:46] lukasmrtvy commented on #80745
/reopen

[2020-05-26 20:58] damemi commented on #91204
`[minThreshold, images*maxThreshold]` seems like a simple enough compromise for now, and running through some of the examples with that formula it does get more of the specificity you're looking for with large images without normalizing all smaller images right to 0 (so we keep some of the detail there too).

I would like to see some updated statistics on the thresholds, and while 90% of the image

[2020-05-26 21:05] michaelgugino commented on #80389
This would be an involuntary disruption, which PDBs can't defend against.  There are some other issues with PDBs that make this situation more complex as far as preserving the crashed node for any DR purposes, but there is always a window of time where data loss can occur.

[2020-05-26 21:37] pbn4 commented on #67261
I'm experiencing this on EKS 1.15 with istio sidecars. What is the solution?

[2020-05-26 21:42] acoulon99 commented on #23920
I was able to get past this issue on Cilium by following [these installation instructions](https://docs.cilium.io/en/v1.7/gettingstarted/cni-chaining-portmap/) which enabled HostPort.

[2020-05-26 22:08] Jefftree commented on #91438
You can specify ports with `https:<service-name>:<port-name>` / `http:<service-name>:<port-name>`. Depending on your use case, ideally you should set up [ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/)

[2020-05-26 22:43] bobbypage opened #91472 "Kubelet should handle node shutdown"
**What would you like to be added**:

Kubelet currently does not handle machine shutdown. Kubelet should be able to detect machine shutdown and gracefully terminate pods with attempt to respect pod's requested grace period.

**Why is this needed**:

Currently, when a machine is shutdown, Kubelet does not have any special handling to gracefully terminate pods. Machine shutdown can be a simple as `s

[2020-05-26 22:43] bobbypage commented on #91472
/area sig-node

[2020-05-26 22:48] bobbypage commented on #91472
/sig node
/area kubelet

[2020-05-26 22:54] bsdnet commented on #88284
Are those files still relevant, and I saw test-infra has the same files.
git grep cos |grep stable
CHANGELOG/CHANGELOG-1.10.md:3109:* GCE: bump COS image version to cos-stable-63-10032-71-0 ([#57204](https://github.com/kubernetes/kubernetes/pull/57204), [@yujuhong](https://github.com/yujuhong))
test/e2e_node/jenkins/benchmark/benchmark-config.yaml:51:  cosstable2-resource1:
test/e2e_node/jenkins/b

[2020-05-26 23:04] RaunakShah commented on #91464
[code]

lists the csi driver(s) installed on your cluster. You can use a csi driver in the provisioner field for a storage class.

I'm not sure if there's a similar mechanism for in-tree provisioners.

[2020-05-26 23:10] RaunakShah commented on #89313
Wondering if anyone can help/guide me on this ...

[2020-05-26 23:41] bobbypage commented on #91472
/cc @karan @SergeyKanzhelev @thockin @mrunalp

[2020-05-26 23:49] RaunakShah commented on #91436
@cofyc If this is not taken up already, i can do so.

[2020-05-26 23:58] msau42 commented on #85623
/lifecycle frozen
/assign @saad-ali @msau42

[2020-05-27 00:19] MHBauer commented on #88284
The yaml don't seem to be referenced anywhere else, so I made https://github.com/kubernetes/kubernetes/pull/91471

I'm wondering how much of the rest of that directory is also unused and has been already moved to test-infra.

[2020-05-27 00:21] msau42 commented on #85814
Looks like the 1.17 serial test grid is looking fine? (slightly flaky)

[2020-05-27 00:22] msau42 commented on #85814
Can we also use a new bug to track the quay related failures which are unrelated to the original issue?

[2020-05-27 00:49] msau42 commented on #80333
This should be resolved
/close

[2020-05-27 00:49] #80333 closed

[2020-05-27 01:16] Chartreux0 commented on #91402
OSのプロキシを設定しなおしたところ、以下のようにエラーが変わりました。

W0527 10:06:26.075331   14809 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
[init] Using Kubernetes version: v1.18.3
[preflight] Running pre-flight checks
	[WARNING HTTPProxy]: Connection to "https://10.12.42.26" uses proxy "http://ProxyServer". If that is not intended, adjus

[2020-05-27 01:25] rbrayner commented on #23880
+1 for MetalLB

[2020-05-27 01:41] zhangguanzhang commented on #90293
should add a option or an annotationo to resolve this
/sig node
/area kubelet

[2020-05-27 01:57] chendave commented on #91204
Good point! This is definitely something we can explore in the future,  let's go with @alculquicondor  suggestion for the sake of "play safe" and revisit this later.

I also believe that scoring of small images by zero is intentional,  but seems like making lots of small images in pod accountable for the scheduling is slightly better.

[2020-05-27 02:00] bsdnet commented on #88284
There are same name files in kubernetes/test-infra, where they are updated.
We need to know what tests to run when remove those files

[2020-05-27 02:41] cofyc commented on #91436
This is a proposal, not decided yet. details must be discussed first.

[2020-05-27 02:43] tedyu commented on #90999
If I understand the investigation by @sttts and @sjenning correctly , we have the following considerations:

1. it would be desirable to have container logs from the time static pod begins to shut down till the removal of the containers.
2. it is hard to determine how long a container would take to react to SIGTERM after the container receives the signal. For a container which has been running for

[2020-05-27 02:53] mikedanese commented on #24123
I think this is obsolete now that most providers have moved out of tree.

[2020-05-27 02:53] #24123 closed

[2020-05-27 03:12] Anjingkegui commented on #91458
@tedyu
In this case, we have `WaitForAttach` succeed, but `MountDevice` failed.

[code]

[2020-05-27 03:40] daurnimator commented on #74099
/remove-lifecycle rotten

[2020-05-27 04:02] 13567436138 opened #91477 "pod can not using set env，but the help message said it can"
**What happened**:
[code]

is said pod can set env,but failed

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools

[2020-05-27 04:43] prankkelkar commented on #87197
Tried kubernetes v1.17.6 and v1.18.3 . This issue is fixed there as well . This is because the debain-base  image is built from master branch and our fix (Upgrade qemu version) is present on master. We can conclude that this issue is resolved.

[2020-05-27 04:53] justaugustus commented on #87197
Thanks for the update, @prankkelkar!
For reference, the recent debian-base image updates are tracked here: https://github.com/kubernetes/kubernetes/issues/58012

/close

[2020-05-27 04:53] #87197 closed

[2020-05-27 04:57] sgissi commented on #85454
@dims Should the project consider deprecating in-tree RBD in favor or Ceph's CSI for 1.19? If kube-controller-manager is going distroless and hyperkube image is gone, Ceph users will not be able to upgrade.

[2020-05-27 05:00] johngmyers commented on #80389
If, as in the OP, there is a PDB with `minAvailable: 2` with two ready pods and one non-ready pod, how does evicting the non-ready pod cause the PDB to be violated? There are still two available pods.

If the pod were healthy it would have been evicted.

[2020-05-27 05:36] zhouya0 commented on #91477
See `Add, update, or remove container environment
variable definitions in one or more pod templates (within replication controllers or deployment configurations).` in help info.

[2020-05-27 06:28] alam0rt commented on #90833
@mm4tt, i understand once I create a PR we can run some tests, but before implement anything, is there an easy way to test my changes to the fake image service?

[2020-05-27 07:05] drbugfinder-work commented on #45509
See https://github.com/kubernetes/kubernetes/pull/87849

[2020-05-27 07:08] penkong commented on #24420
did anybody find solution? run in fedora, somebody provide a sample /.kube/config file. plz

[2020-05-27 07:09] harjas27 commented on #84203
The request returned has a nil `backoff` which is used in the `request.Stream() `
https://github.com/kubernetes/client-go/blob/f099a72e140ab46a70ceb9337c75802c3a2be045/rest/request.go#L751

[2020-05-27 07:38] ivan-cai commented on #88565
@Anjingkegui I have committed a pr, it may help you.: https://github.com/kubernetes/kubernetes/pull/88572

[2020-05-27 07:38] ivan-cai commented on #88565
@saad-ali @jingxu97

[2020-05-27 07:39] ivan-cai commented on #88565
https://github.com/kubernetes/kubernetes/issues/88565#issuecomment-634012975

[2020-05-27 07:40] ivan-cai commented on #88565
@saad-ali @jingxu97

[2020-05-27 07:53] sttts commented on #90999
Why does this matter? We have a graceful termination time specified in the pod spec. That's the upper bound. It can take that long.

[2020-05-27 08:11] llamerada-jp commented on #91234
## About actual workload
We're accurately simulating this workload because we're running the [`Folding@home`](https://foldingathome.org/) client,
which consumes a lot of CPU but doesn't require much memory.

The difference between `kind` for verification and the actual environment is as follows.

kind:
- There are `addload` pods in only 30 nodes / 41 nodes.

actual environment:
- There are `Foldin

[2020-05-27 08:16] jfpucheu opened #91482 "PodSecurityPolicy rule: 'MustRunAsNonRoot' and windowsOptions: runAsUserName not working"
Hello,

**What happened**:
When we apply PodSecurityPolicy with rule:

[code]

WIndows containers are still blocked instead we put:

[code]

the pod is still blocked with logs:

`  Warning  Failed          1s (x10 over 72s)  kubelet, kubenodewin04  Error: container has runAsNonRoot and image will run as root `

**What you expected to happen**:

the Container should start

**How to reproduce it (as

[2020-05-27 08:18] jfpucheu commented on #91482
/sig windows

[2020-05-27 08:30] cofyc commented on #83323
/sig scheduling
this needs to register `Score` extension point in VolumeBinding scheduler plugin

[2020-05-27 08:54] mm4tt commented on #90047
/remove-triage unresolved

[2020-05-27 08:55] mm4tt commented on #90833
I'm not sure whether we have any unit tests for kubemark, but you could add some if you'd like. Other than that, nothing else really comes to my mind other than just seeing if kubemark builds with your change locally and later running real test via presubmits.

[2020-05-27 09:00] #84226 closed

[2020-05-27 09:30] aojea commented on #91216
absolutely agree with you, so my reading is:
* we don't have good coverage for conntrack dependant features
* kube-proxy should _fail more noticeably if conntrack isn't installed._

[2020-05-27 09:31] kong62 commented on #91215
thanks!

[2020-05-27 09:52] knight42 commented on #84203
I have filed a PR #91485 trying to fix this issue.

[2020-05-27 10:05] dims commented on #85454
@sgissi i'll leave this determination upto sig-storage folks. The functionality is still there, those who need will have to augment/build their own images and not rely on upstream ones. This is in general best practice (have a CI/CD pipeline for your images!). But yes, we need to start deprecating things!

[2020-05-27 11:25] RyanAoh opened #91489 "scheduler extender pods can not be scheduled because sheduler extender is unavailable"
**What would you like to be added**:
maybe we can add a field `podSelector` for extender to decide whether this pod is needed to be handled. Or, some way to tell it the pod is itself ?

**Why is this needed**:
scheduler extender pods can not be scheduled because sheduler extender isunavailable
[code]
The pod is Pending. BTW, the param `extender.IsIgnorable` can not be set to `True` for my case

[2020-05-27 11:26] RyanAoh commented on #91489
sig/scheduling

[2020-05-27 11:29] RyanAoh commented on #91489
/sig scheduling

[2020-05-27 11:42] serathius opened #91490 "Implement json log format"
Part of https://github.com/kubernetes/enhancements/issues/1602 effort

Allow users to change log out of k8s components by passing flag `--log-format=json`.

Details:
* Implement `Logger` interface from https://github.com/go-logr/logr (suggested code location  `staging/src/k8s.io/component-base/logs/json`)
* Register `Logger` interface in [logRegistry](https://github.com/kubernetes/kubernetes/blob/

[2020-05-27 12:01] cofyc commented on #91489
I guess you want to apply your custom scheduling policies to a subset of your pods and don't want
 them to be ignored.
Which scheduler to use is determined on pod side.  You can deploy another instance of `kube-scheduler` and name it to a custom name. Your workloads can choose it by setting this custom scheduler name in `pod.spec.schedulerName`.

[2020-05-27 12:02] cofyc commented on #91489
The current scheduler supports multiple profiles, but extenders are shared globally. Maybe in the future, the extender can be configured in the scheduler profile.

[2020-05-27 12:21] cofyc commented on #91489
@Huang-Wei @alculquicondor What do you think about this? As an extension mechanism, it's better if it can be supported in the current scheduler profile.

[2020-05-27 12:31] aermakov-zalando opened #91492 "Priority-based preemption can easily violate PDBs even when unnecessary due to multiple issues with the implementation"
**What happened**:

A scale-up of a deployment with pods that were configured with a high priority resulted in the scheduler violating the PodDisruptionBudget of another workload, even though there were multiple other candidates for preemption whose PDBs still allowed for disruption.

**What you expected to happen**:

According to the [Pod Priority and Preemption](According to the [Pod Priority an

[2020-05-27 12:31] aermakov-zalando commented on #91492
/sig scheduling

[2020-05-27 13:04] humblec commented on #70505
imo, we should also consider the scenario of node stage/publish for ROM volume case, I see only controller publish mentioned in the discussion here. Because a node stage operation can also populate the volume as RO ( but then the assumption here is, the volume could be static PVs or Cloned PVC with different access modes .etc and this volume already has a filesystem on it).   One other question I

[2020-05-27 13:13] ahg-g commented on #91489
We discussed this before. The conclusion if I recall correctly is that we could add ```Extenders``` to the profiles in the future. The semantics for the list defined outside will be a default configuration for profiles that don't define one.

[2020-05-27 13:25] csb1582 opened #91493 "PVs using FlexVolume are inaccessible and cannot be recovered after controller restart"
**What happened**:
PVs are defined using FlexVolume driver that supports master initiated attach/detach. When PV is used by running pod and the controller restarts, the volume cannot be unmounted and detached from node. Additionally it is not possible to use the PV again after forced teardown

Controller logs, before pod deletion-
```E0525 14:02:37.438978       1 operation_executor.go:635] VerifyV

[2020-05-27 13:27] knight42 commented on #88524
I would like to take over this

/assign

[2020-05-27 13:28] alculquicondor commented on #91204
It looks like we have consensus. Can you update the PR?

[2020-05-27 13:33] csb1582 commented on #91493
/sig storage

[2020-05-27 13:50] Incarnation-p-lee commented on #91438
make sense, you mean it is not recommanded to access pod directly when apiserver proxy ?

[2020-05-27 13:54] NeilW opened #91494 "host network pods do not show IPv6 address in 'kubectl describe'"
**What happened**:

kubectl describe of host network pods only appears to show the IPv4 address.

**What you expected to happen**:

The IPv6 addresses(es) should be shown too (possibly even the local one).

The IP addresses are visible from within the pods using `ip addr`

**How to reproduce it (as minimally and precisely as possible)**:

With a dual stack system in place run `kubectl describe` on

[2020-05-27 13:55] NeilW commented on #91494
/sig CLI

[2020-05-27 14:02] oscarlofwenhamn commented on #51835
Also, the `--force` flag doesn't necessarily mean the pod is removed, it just doesn't wait for confirmation (and drops the reference, to my understanding). As stated by the warning `The resource may continue to run on the cluster indefinetely`.

[2020-05-27 14:19] raelga commented on #57250
Is not recommend to use `externalTrafficPolicy: Local`, as you will impact on the load balancing.

https://medium.com/pablo-perez/k8s-externaltrafficpolicy-local-or-cluster-40b259a19404

[2020-05-27 14:32] rikatz commented on #90997
@enviel I'm closing this issue due to a lack of response, but if this persists please feel free to reopen or feed this issue with further comments

/close

[2020-05-27 14:32] #90997 closed

[2020-05-27 14:39] alculquicondor commented on #91234
Thanks for confirming our hypothesis.

FWIW, EvenPodsSpreadPriority, (ie, old scoring) is pretty weak. Given your setup, I would recommend disabling the `BalancedResourceAllocation` and tuning the weight of `SelectorSpreadPriority`.

And in 1.19+, the recommendation would be just to disable `NodeResourcesBalancedAllocation` and use topology spreading in your pods.

[2020-05-27 14:39] alculquicondor commented on #91234
/close

[2020-05-27 14:40] #91234 closed

[2020-05-27 15:02] knight42 commented on #88524
@Raffo Hi, I have filed a PR #91496, please feel free to give it a try to see if the problem is fixed.

[2020-05-27 15:11] rikatz commented on #45419
I've found this: https://github.com/kontena/kontena/issues/1264#issuecomment-259381851

Which might be related to what @deitch have suggested. But I would also like to know if there's a right or more elegant solution, as creating a unit with veth* and putting this as unmanaged

[2020-05-27 15:21] mlbiam commented on #89163
first `kubectl exec` with all websockets works really nicely with the prev4 binary protocol.
![kubectlexec 2020-05-27 11_13_19](https://user-images.githubusercontent.com/8249283/83039318-014b8680-a00c-11ea-961b-b4789defdcee.gif)

v4 is acting...odd.  it sort of works but is very herky-jerky.  anyway making really nice progress.

[2020-05-27 15:21] lo24 opened #91498 "UT TestValidateNodeIPParam does not really tests validateNodeIP"
**What happened**:

UT TestValidateNodeIPParam does not really tests `validateNodeIP`.
The first IP and interface are always 127.0.0.1 and lo and will break the loop.  So `successTest` will never be appended into `tests`.
https://github.com/kubernetes/kubernetes/blob/87473a5d27e52f8eb86575898cd6e6d8b8e881be/pkg/kubelet/kubelet_node_status_test.go#L1904-L1912

**What you expected to happen**:

`val

[2020-05-27 15:21] rikatz commented on #91306
IMO there are two paths:
* The fastest one is to ask for each LB provider to support the annotation ``kubernetes.io/loadbalancer.class: openstack`` UNTIL
* This gets supported by the new Service APIs which I think will deal with loadbalancer class (https://kubernetes-sigs.github.io/service-apis/concepts/#gatewayclass_1)

[2020-05-27 15:23] lo24 commented on #91498
/sig node

[2020-05-27 15:30] cgebe commented on #66924
In my case it was a missing IP tables rule on a dedicated server. Resolved by executing:

`iptables -w -P FORWARD ACCEPT`

[2020-05-27 15:35] michaelgugino commented on #80389
Yeah, as long as we're validating we have the minAvailable, I think we could be okay.  There are opportunities for race conditions, but those would be involuntary disruptions and aren't covered in the code as is anyway.

[2020-05-27 15:47] sjmiller609 commented on #91345
@tedyu I inspected the PR, can you help me understand?
this line:
[code]
I want the symlink only removed if in docker the container is removed, rather that only if it's stopped. Do you know if your change will prevent removal of the symlink in the event the container is stopped but not removed by container GC? This is like when you have containers that show up with 'docker ps -a' but not 'docker p

[2020-05-27 15:53] alculquicondor commented on #91489
Actually, the conclusion was that extenders already had a way to exclude pods, but making them per-profile was not discarded for the future.

https://github.com/kubernetes/kubernetes/issues/88529#issuecomment-590950777

Could you use this?

https://github.com/kubernetes/kubernetes/blob/87473a5d27e52f8eb86575898cd6e6d8b8e881be/staging/src/k8s.io/kube-scheduler/config/v1/types.go#L153-L159

[2020-05-27 16:07] Madhu-1 commented on #88622
/remove-lifecycle stale

[2020-05-27 16:20] BenTheElder commented on #87197
can someone link back the fix mentioned in https://github.com/kubernetes/kubernetes/issues/87197#issuecomment-634424564 ?

[2020-05-27 16:31] pablosistemas commented on #59755
We couldn't solve this problem using AzureFile. So, as a workaround, we created the volume using AzureDisk as persistent volume backend for the Grafana and Prometheus. Reference: https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume

[2020-05-27 16:31] tedyu commented on #91345
I need to do some homework w.r.t. docker container being in stopped versus removed state.

Looking at k8s code, we only have ContainerState_CONTAINER_EXITED

[2020-05-27 16:44] humblec commented on #90250
@pohly @msau42 is it due that, the timeout of CSI transaction or call is very low where CSI driver takes more time than this timeout?

[2020-05-27 17:13] WtfJoke commented on #27140
/remove-lifecycle stale

[2020-05-27 17:17] jeff-hillman commented on #91306
@rikatz I'm not sure how the latter would help.  I did some reading on the link you proposed, and I don't see how that could select the appropriate LB.

also, please note if it helps, that the use case i'm working on, actually have the same Physical Gateway.  In Openstack I'm using VLAN / Provider networking, so both OS LB and MetalLB use the same gateway address.

[2020-05-27 17:23] justinsb commented on #75380
Now we've promoted `kubernetes.io/hostname` out of beta, I think we need to re-examine this and raise the limit to match typical hostnames.

cf https://github.com/kubernetes/kubernetes/issues/90686#issuecomment-629351287

[2020-05-27 17:30] tedyu commented on #91458
Since MountDevice failed, probably you can modify the subject for clarity.
[code]
Have you found solution to the above error ?

[2020-05-27 17:32] rikatz commented on #91306
My point in the second link was, as the service api is being redesigned, there's a Gateway Class (in the meaning of the gateway to inside the network, not out) that can be used to select which resource will deal with the ingress traffic (the load balancer).

Here: https://kubernetes-sigs.github.io/service-apis/concepts/#gatewayclass

[2020-05-27 17:32] justinsb commented on #90686
I reopened an old k8s issue that pointed out that it's inconsistent to have an official label `kubernetes.io/hostname` yet have that limited to 63 characters.

I'm not entirely sure what we should do here TBH.  The right answer is probably to deprecate the label and replace it with an annotation (which is 64KB), or we could simply stop setting the label.  I don't know if anyone actually uses the h

[2020-05-27 17:33] justinsb commented on #75380
And @etune the problem is that the kubelet can't create the node, because it tries to create it with a hostname label that is too long.

[2020-05-27 17:34] rikatz commented on #91306
As far as I remember from this API spec, the cluster admin will define a GatewayClass and when you ask for a Gateway from a specific GatewayClass it will be created in the LB provider selected by this GatewayClass.

To be fair, I don't know / can't remember if the covered case here is like "a cloud load balancer with different tier / kind of service' or this might also be helpful in cases such as

[2020-05-27 17:40] ncdc commented on #90686
How do we do that? And will that break the GCP cloud provider for Kubernetes (does it expect the hostname to be the current format)?

[2020-05-27 17:48] mrunalp commented on #91472
We can look into using a custom script in `/usr/lib/systemd/system-shutdown` that signals the kubelet before systemd initiates node shutdown. More details here - https://www.freedesktop.org/software/systemd/man/systemd-halt.service.html

[2020-05-27 17:52] justinsb commented on #90686
There wasn't a lot of documentation on what the label was actually used for, if anything, so I don't know!  I don't think anything will break, and I'll do the same thing in kops if we're not doing so already (misery loves company, right :-) ? )

I'm not entirely sure how to do so in cloud-init;  I'm going to send a PR that I think does it with cloud-init jinja...

[2020-05-27 18:19] justinsb commented on #90686
You've got company: https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/nodeup/command.go#L502-L506 :-)

[2020-05-27 18:20] jpbetz opened #91503 "Consistent Resource Version Semantics for List"
**What would you like to be added**:

[KEP: Consistent Resource Version Semantics for List](https://github.com/kubernetes/enhancements/pull/1606).

**Why is this needed**:

Resource version semantics should be consistent for list requests regardless of pagination.

[2020-05-27 18:20] jpbetz commented on #91503
/sig api-machinery

[2020-05-27 18:27] mikedanese commented on #90533
This is my preference

Please no more LRUs :). Do we care about invalidation if we are re-verifying certs e.g. every 10 seconds or 1 minute?

[2020-05-27 18:27] damemi commented on #89701
@alculquicondor could you update the description? A couple tasks have been done or are in progress that don't seem to be reflected there:
* v1beta1 config is being added with https://github.com/kubernetes/kubernetes/pull/91420
* volumebinding plugin was added in the already-linked PR, is removing `volumeBindSeconds` a separate task that still needs to be done?

[2020-05-27 18:34] alculquicondor commented on #90962
Can you add `Remove .bindTimeoutSeconds once we have a volume binding plugin` to your list?

[2020-05-27 18:34] msau42 commented on #85454
@humblec is working on csi migration for ceph. @humblec do you want to send out a deprecation notice? Note that the upgrade path will not be easy until the csi migration for ceph is implemented, but we can at least start getting fresh installs using ceph csi.

[2020-05-27 18:35] alculquicondor commented on #89701
Updated, thanks

[2020-05-27 18:36] RaunakShah commented on #91436
Yes i agree that a discussion is needed.
I was actually looking at the first suggestion from https://github.com/kubernetes/kubernetes/issues/88229#issuecomment-633781359:

[2020-05-27 18:38] coltonstapper commented on #90533
Discussing in the sync today, it's understood that adding a feature flag doesn't exactly make sense if there's no plan to converge the code to the main implementation (which we can't do because it breaks clients), and the Golang route may take a long time, so the cache approach is the best short to medium term one!

@mikedanese we'll cache the verified hash and the hash dates, which means we can s

[2020-05-27 18:40] coltonstapper commented on #90533
Discussing in the sync today, it's understood that adding a feature flag doesn't exactly make sense if there's no plan to converge the code to the main implementation (which we can't do because it breaks clients), and the Golang route may take a long time, so I agree the cache approach is the best short to medium term one!

[2020-05-27 18:58] mikedanese commented on #90533
Checkout https://github.com/kubernetes/apimachinery/blob/e0747e0da69d35c4c63520fd646fd2f839168bb6/pkg/util/cache/expiring.go#L42 potentially with striping like we do in cached_token_authenticator.go.

[2020-05-27 19:28] tallclair opened #91506 "Remove the apiserver insecure port"
The API server's "insecure-port" has been [deprecated since 1.10](https://github.com/kubernetes/kubernetes/commit/2f175bc43279a1a4552610a42af0a006f4c6fba2), but never had a deadline for removal. Previous efforts to remove the port have been blocked by requirements for http healthz checks (https://github.com/kubernetes/kubernetes/issues/43784).

I propose publishing a deadline to remove the feature

[2020-05-27 19:32] joelsmith opened #91507 "Placeholder issue"
Placeholder issue, please do not delete.

[2020-05-27 19:32] #91507 closed

[2020-05-27 20:07] tculp opened #91509 "Capacity and Requests on PVs and PVCs should be optional"
**What would you like to be added**:
Capacity.storage on PVs, and resources.requests.storage on PVCs should be optional.

**Why is this needed**:
According to https://github.com/kubernetes/kubernetes/issues/68736, the resource limitations on PVs and PVCs are informational, and not enforcing. In this case, these values should be optional.

For example, when mounting an S3 bucket through an NFS moun

[2020-05-27 20:11] neolit123 commented on #82532
/remove-lifecycle rotten

[2020-05-27 20:28] michaelgugino commented on #91465
So, current implementations for the NodeLifeCycleManager include taint-based deletes (even though comments and code refer to the process as 'evictions') that are ultimately processed by the scheduler (opt-in feature gate) and direct deletes from the NodeLifeCycleManager (again, says eviction in code, but is actually a call to delete).

Changing this would be directly impacted by the following issu

[2020-05-27 20:33] michaelgugino commented on #91465
/sig schedulability

[2020-05-27 20:34] michaelgugino commented on #91465
/sig scheduling

[2020-05-27 20:56] lavalamp commented on #89163
Wow, that's awesome!

@ncdc and @smarterclayton probably know the most about this?

[2020-05-27 21:01] #62013 closed

[2020-05-27 21:06] mlbiam commented on #89163
I was able to track it down. I won't say no to any advice/thoughts/comments/etc though.

[2020-05-27 21:07] ncdc commented on #89163
For SPDY, at some point in the flow, this method is called: https://github.com/kubernetes/client-go/blob/f099a72e140ab46a70ceb9337c75802c3a2be045/tools/remotecommand/remotecommand.go#L83-L91

[code]

That lists the client's preferred protocols, in descending priority order. You then eventually call `Stream()` on the executor, which does this

[code]

The `spdy.Negotiate()` call is at https://githu

[2020-05-27 21:09] MHBauer commented on #91263
I https://github.com/kubernetes/kubernetes/pull/65250 saying `n1-standard-16`

I wonder how much these tests are superseeded by all of https://github.com/kubernetes/perf-tests

https://www.nas.nasa.gov/publications/npb_problem_sizes.html

npb IS Integer-Sort Class-D is sorting 2^31 values, so 8g to 16g memory for values alone if all in memory.

npb EP is generating 2^36 pairs of values and operati

[2020-05-27 21:26] gautierdelorme commented on #90128
@liggitt @sttts @fedebongio Looking at this issue and https://github.com/kubernetes/kubernetes/issues/91114 do you agree the fix should be in **github.com/go-openapi/errors** and **github.com/go-openapi/validate**?

[2020-05-27 21:36] bobbypage commented on #91472
Thanks Mrunal, we should try that out.

However, still need to figure out if it's possible to somehow block systemd from sending SIGTERMs to kubelet and processes managed by kubelet (i.e. all the pods/containers). Based on what I saw currently, systemd will just send SIGTERMs to all processes on the node during shutdown. However, if kubelet will manage the lifecycle of the pods during shutdown we

[2020-05-27 22:02] julianvmodesto commented on #90017
cc @apelisse

/wg api-expression
/sig cli

[2020-05-27 22:02] julianvmodesto commented on #90017
/priority important-soon

[2020-05-27 22:28] apelisse commented on #89266
On the other hand, server-side apply doesn't fix the thing that `--validate` was intending to fix (which is mostly to detect misspelled key fields), so I'm not sure why we would disable it. Also, I can't remember why I opened this issue in the first place, is that a real-life example? Let's wait to see more proof of that.

[2020-05-27 22:37] julianvmodesto commented on #89266
Seems related to https://github.com/kubernetes/kubernetes/issues/39434

[2020-05-27 22:46] ivnilv commented on #82659
/remove-lifecycle rotten

[2020-05-27 23:00] Huang-Wei commented on #91492
@aermakov-zalando Thanks for the detailed report. Would you like to take a stab on this? If so, feel free to take it. Otherwise, I can start looking into next week.

[2020-05-27 23:15] michaelgugino commented on #91465
There are basically two places that can be changed to implement this.

First: https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/controller/nodelifecycle/scheduler/taint_manager.go#L112

Second: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/util/node/controller_utils.go#L46

If we were to utilize eviction here rather than delete, we'd hit this issue: https://githu

[2020-05-27 23:30] julianvmodesto commented on #89266
Oh yeah this is related to moving validation server-side. I'm not sure if we get to this yet and how much of this we do now

[2020-05-27 23:33] demisx commented on #57250
@raelga Thank you for sharing. Unfortunately, we still need `externalTrafficPolicy: Local` in order to preserve the client IP address.

[2020-05-28 00:24] SergeyKanzhelev commented on #88193
It sounds like opposite to what is asked here: https://github.com/kubernetes/kubernetes/issues/87278 ?

[2020-05-28 00:41] dobesv opened #91514 "Allow setting an environment variable to some fraction or multiple of a resource field"
**What would you like to be added**:

It would be nice to pass a process a number that is a bit lower than the container memory limit so that its garbage collection or memory management can use that limit.

For example:

- setting `GOMEMLIMIT` or setting `NODEMEMLIMIT`
- setting `NODE_OPTS=--max-old-space-size=$(NODEMEMLIMIT)` would be useful.
- setting `JAVA_MEM_LIMIT` and passing `-Xmx$(JAVA_MEM

[2020-05-28 00:58] dobesv commented on #91514
/sig apps

[2020-05-28 01:15] jherrera123 commented on #91155
/unassign

[2020-05-28 01:39] michaelgugino commented on #77383
/remove-lifecycle rotten

[2020-05-28 01:41] mlbiam commented on #89163
@ncdc thats awesome, thanks!

[2020-05-28 01:45] mrunalp commented on #91472
@bobbypage If the systemd custom shutdown scripts work as we think they do, then it can send a signal to kubelet and wait for some time or from a signal from the kubelet (could be something as simple as a file written somewhere) to clean up the pods and then return back control to systemd. systemd should not be sending any SIGTERMs during that period. That way kubelet can be responsible for pod sh

[2020-05-28 01:56] cofyc commented on #90962
Removing `KubeSchedulerConfiguration.BindTimeoutSeconds` is tracked in #90958, you can add #90958 in your umbrella issue #89701.

[2020-05-28 02:27] RyanAoh commented on #91489
@alculquicondor I  saw this (`ExtenderManagedResource`) way excludes pods according to the extended resource. But I have no such resource in the case.

[2020-05-28 02:43] Anjingkegui commented on #91458
The solution to solve the failure of mount is not the key topic in this issue, we can assume that there will always be some issues in the storage backend to make this mount err happen.

The problem here is that when this happened (`MountDevice` failed), we need a way to detach the devices attached in `WaitForAttach`.

[2020-05-28 02:47] zhouya0 commented on #91477
/cc @zjj2wry

[2020-05-28 03:21] zlfzy opened #91518 "My coredns output many i/o timeout error logs"
Kubernetes Verison 1.16.6
CoreDNS 1.6.9
flannel 0.11.0

This is my coredns logs, i running some Java program in openjdk images
[code]

But my coredns looks working well for my kubernetes cluster, it can resolve internal service and External URL
[code]

[2020-05-28 04:55] warmchang commented on #27140
/remove-lifecycle rotten

[2020-05-28 05:09] #86710 closed

[2020-05-28 05:31] BenTheElder commented on #91506
cc @neolit123

[2020-05-28 06:18] zlfzy commented on #91518
/sig apps

[2020-05-28 06:32] alam0rt commented on #90833
Alright, I'll slap something together and we can see what holds.

[2020-05-28 07:00] zhangguanzhang opened #91519 "v1.17+ vxlan mode 63 sec delay"
**What happened**:
if I use the vxlan in v1.17+ cluster it will 63 sec delay when access the svc
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
use the kubeadm deploy the cluster which version is newer than v1.17+, and deploy flannel or calico use the vxlan mode
**Anything else we need to know?**:
if kube-proxy is running in pod, it will happend

[2020-05-28 07:08] xuhz commented on #70350
Looks like the grpc proto definition of the deviceplugin assumes all of the devices belong to same server. so in deviceplugin/xxx/api.proto,
service DevicePlguin {
    rpc ListAndWatch(Empty) returns (stream ListAndWatchResponse) {}
}
the input is Empty. As a result, when there are multiple deviceplugin server registered, the client doesn't know which server the device update is associated to.

Th

[2020-05-28 07:37] vide commented on #61486
I can confirm that [this workaround](https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-542314543) worked for us on EKS 1.15. The full patch to be easily copypasted:

[code]

and the `kubectl` command for easy copypasting too:
[code]

[2020-05-28 07:41] chendave commented on #91204
PR updated, pls kindly let me know if I miss something.

[2020-05-28 08:35] kwaazaar commented on #89672
I'm seeing this with kubectl 1.17.3 and kubernetes 1.16.7. It's unclear to me what versions are impacted and in what version it is fixed, since only version 1.18 is mentioned.

[2020-05-28 08:49] cofyc commented on #91436
oh, I've already opened a PR to fix that issue https://github.com/kubernetes/kubernetes/pull/91455.

If you're interested in this issue too, you can take it. Basically, there are two things we should discuss first:

- how to share the indexer between controllers. I'm not sure if it violates the design of the controller manager. currently, each controller is independent
- different controllers care

[2020-05-28 09:09] Orobas-D commented on #76146
I used the same problem, I used  binary file
[code]

Problem:
[code]

Version:1.18.3

[2020-05-28 09:21] cofyc commented on #91436
@jsafrane @msau42 what do you think about this idea?

in addition to builtin indexers in SharedIndexInformer, if we can register this PVC to pods indexer in the shared pod informer, multiple volume controllers can benefit from it.

[2020-05-28 09:27] zhangguanzhang commented on #76146
your second error，you should disable the ipv6

[2020-05-28 09:32] yqwang-ms commented on #81285
/remove-lifecycle rotten

[2020-05-28 10:01] aermakov-zalando commented on #91492
@Huang-Wei Unfortunately I don't think I'll have time to work on this in the near future.

[2020-05-28 10:21] Orobas-D commented on #76146
I turned off IPv6，But the error still exists。
I care more about the first question

[2020-05-28 10:25] Orobas-D commented on #76146
I emailed you.  qq mail

[2020-05-28 10:31] zhangguanzhang commented on #76146
我微信在我博客有二维码，我博客叫我个人github页面

[2020-05-28 10:38] warmchang commented on #91266
Based on the series of optimizations and bug fixes, this upgrade would be cherry pick to v1.17 & v1.18 branches?

[2020-05-28 10:39] BenCoughlan15 commented on #88333
hey @Marusyk , any update on what fixed this?

[2020-05-28 11:14] afrouzMashaykhi commented on #88651
/remove-lifecycle stale

[2020-05-28 11:33] bhaweshintouch opened #91528 "unable to use wildcard in host key of ingress yaml"
how to write this rule in alb:(attached screenshot).
<img width="1202" alt="Screenshot 2020-05-28 at 5 01 52 PM" src="https://user-images.githubusercontent.com/5381105/83136407-10622f80-a105-11ea-82a8-c5567e2677b6.png">

`error msg: The Ingress "pub-ext" is invalid: spec.rules[0].host: Invalid value: "qa.*.mydomain.co": a wildcard DNS-1123 subdomain must start with '*.', followed by a valid DNS su

[2020-05-28 12:28] 13567436138 commented on #91477
not in rs or deployment,these are effective i know.but pure pod,it can't

[2020-05-28 12:45] dims commented on #74379
tracked here https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/541-external-credential-providers

[2020-05-28 13:02] droslean commented on #74379
/milestone clear

[2020-05-28 13:04] jsafrane commented on #91436
Sharing a common indexer among controllers would be awesome.

[2020-05-28 13:30] alculquicondor commented on #90962
Done, thanks

[2020-05-28 13:31] alculquicondor commented on #91489
You could add a phantom one. That's kind of the point of the extenders, to manage external resources.
Have you considered using a scheduler plugin instead?

[2020-05-28 13:40] droslean commented on #78904
/milestone clear

[2020-05-28 13:40] droslean commented on #78904
/milestone v1.20

[2020-05-28 13:56] erikmack commented on #61486
This works for me @vide, @victortrac @bluskool  on EKS 1.15 for a Gitlab install

[2020-05-28 13:57] knight42 commented on #90047
I would like to take this

/assign

[2020-05-28 13:58] MarkRose commented on #88986
Stable kernels 5.6.13, 5.4.41, 4.19.123, 4.14.181 and later have the checksum patch included.

[2020-05-28 13:59] liggitt commented on #90128
since that's where the error originates, that would seem to be the place that a fix/addition would need to start

[2020-05-28 14:00] wojtek-t commented on #90047
@knight42 - thanks!
https://github.com/kubernetes/kubernetes/issues/90047#issuecomment-615133563 contains brief description on how to fix that

[2020-05-28 14:08] hasheddan commented on #91292
/retitle [Flaky Test] node-kubelet-master (ci-kubernetes-node-kubelet)

/remove-kind failing-test
/kind flake

[2020-05-28 14:09] knight42 commented on #90047
@wojtek-t so are we going to access all the nodes via a test container?

[2020-05-28 14:11] hasheddan commented on #87807
/assign

[2020-05-28 14:21] hasheddan commented on #87807
Looks like we are still seeing timeouts here every 10 or so runs

[2020-05-28 14:47] wojtek-t commented on #90047
Not sure if I fully understand your question, so if you meant something different let me know:
- to make the test work in large clusters (5k nodes), we can't access all - we may want to do tricks we do in other tests like access min(cluster size, some constant (e.g. 10 or 100)
- if you meant "via a test container" - yes, I think it's fine to just migrate the test to always use it

[2020-05-28 14:51] AnticliMaxtic commented on #60807
@teoincontatto Thank you! This finally worked!

[2020-05-28 15:19] rikatz commented on #91528
Ingress API supports a leading '*' in the Host, but not in the middle of it.

Also, this might be a duplicate of #41881

[2020-05-28 15:23] rikatz commented on #91528
/triage duplicate
/close

[2020-05-28 15:23] #91528 closed

[2020-05-28 15:25] rikatz commented on #91519
@zhangguanzhang this is a duplicate of #88986 can you please take a look?

I'm closing this as a duplicate

/triage duplicate
/close

[2020-05-28 15:26] #91519 closed

[2020-05-28 15:26] soltysh commented on #88524
This is not a bug, but the default way how go serializes slices, there's a nice thread here https://stackoverflow.com/questions/33183071/golang-serialize-deserialize-an-empty-array-not-as-null explaining this in detail. The previous approach was just wrong. It looks like awscli needs a fix, rather than k8s code.
/close

[2020-05-28 15:26] #88524 closed

[2020-05-28 15:28] logicalhan opened #91536 "Moving apiserver_request metrics to stable status"
apiserver_request (total, latency histogram) metrics are likely the two most important metrics emitted by the kube-apiserver, aggregator, and aggregated-apiserver binaries. https://github.com/kubernetes/kubernetes/issues/76302 has been open for a year regarding some of the issues that have been ongoing problems. I want to open up a discussion on:

(1) cleaning this metric up so that it can be used

[2020-05-28 15:39] ericuldall commented on #20555
I've updated my comment to reflect your findings.

[2020-05-28 15:47] droslean commented on #74379
/milestone v1.19

[2020-05-28 16:08] mikechengwei commented on #89953
@ialidzhikov I also meet similar problem. I find specify nodeName will skip volume mount operation reference https://github.com/openebs/openebs/issues/2915

[2020-05-28 16:11] hasheddan opened #91540 "[Failing Test] gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)"
**Which jobs are failing**:

`gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)`

**Which test(s) are failing**:

`ClusterLoaderV2`
`diffResources`

**Since when has it been failing**:

`05-28-20 04:24 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

**Reason for failure**:

[code]

**Anything else we need to know**:

[2020-05-28 16:13] tallclair opened #91542 "Placeholder issue"
Placeholder issue, please do not delete.

[2020-05-28 16:13] #91542 closed

[2020-05-28 16:19] derekwaynecarr commented on #90999
@tedyu  per discussion on your proposed PR, we should increase node e2e test coverage around static pods, and then ideally reproduce the reported issue in that test coverage so that we can ensure node resources are reclaimed.

[2020-05-28 16:34] michaelgugino commented on #91147
I don't think the API server will accept multiple namespace, so the best the cli can do is loop over the namespaces and perform the same operation with each namespace.

You can get the same functionality with a bash for loop:

[code]

This may be obvious to some, just leaving it here in case someone stumbles upon this issue in the future :)

[2020-05-28 16:54] metalmatze commented on #91536
The cardinality issues hit us here pretty badly, just one example for this, I suppose:
https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/411

Soo :100: % agree.

[2020-05-28 17:08] YvesChan commented on #39557
It works perfectly. Don't need to do the stuff like filipenf said. :)

[2020-05-28 17:16] pjbgf commented on #91444
Instead of managing our own set of cipher suites, we could set the minimum TLS cipher:

[code]

It would require that same validation in other points, but basically would result on this:

[code]

This would remove the oldest ciphers, which are not supported own their own by neither the Kubelet or the API Server (when HTTP2 is enabled).
I will submit a PR on this as I already made the changes to te

[2020-05-28 17:21] #81610 closed

[2020-05-28 17:28] clamoriniere commented on #77259
/remove-lifecycle stale

[2020-05-28 17:44] jtslear commented on #70249
Hello, @jtslear here from Bug Triage! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting June 25th and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-05-28 17:49] jtslear commented on #89267
Hello, @jtslear here from Bug Triage! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting June 25th and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-05-28 17:51] justaugustus commented on #70249
@jtslear -- Yep, it's active for this release.
The issue description and tracked items was updated 18 days ago and there are several merged PRs linking back to this.

[2020-05-28 17:51] jtslear commented on #89859
Hello, @jtslear here from Bug Triage! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting June 25th and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-05-28 17:52] jtslear commented on #65200
Hello, @jtslear here from Bug Triage! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting June 25th and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-05-28 17:53] justaugustus commented on #78737
/assign @dims @msau42
Can we close this given https://github.com/kubernetes/kubernetes/pull/91329 has merged and maybe track the other items Michelle [mentions](https://github.com/kubernetes/kubernetes/issues/78737#issuecomment-627021732) in another issue?

[2020-05-28 17:54] jtslear commented on #74352
Hello, @jtslear here from Bug Triage! This issue has not been updated for a long time, so I'd like to check on the status. The code freeze is starting June 25th and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-05-28 17:54] dims commented on #78737
No objections from me @justaugustus

[2020-05-28 17:56] msau42 commented on #78737
All other items have been addressed as well
/close

[2020-05-28 17:56] #78737 closed

[2020-05-28 18:11] michaelgugino commented on #75957
For me, having multiple PDBs apply to a single pod doesn't make sense.  PDBs should be applied to a homogeneous group of pods.  IMO, if you have a pod covered by multiple PDBs, it's because you misconfigured one or more of your PDBs.

I don't have any particular problem with the suggested PR implementation, it seems sensible.  If we start allowing more than 1, does 1 become 3 or 5 or 80?  It seems

[2020-05-28 18:13] BenTheElder commented on #89859
as far as I know this is fixed now.

[2020-05-28 18:14] msau42 commented on #91436
sgtm, are you thinking of something specific for volume controllers, or something in the sharedinformer interface? If the latter, we'll have to run this by sig-apimachinery

[2020-05-28 18:17] maxstr commented on #78948
/remove-lifecycle rotten

[2020-05-28 18:27] maxstr opened #91545 "NodePorts broken on clusters when not passing cluster-cidr and FORWARD chain in filter defaults to DROP"
**What happened**:
Per title, if you attempt to launch a cluster with multiple cluster CIDRs (thus you are not passing `--cluster-cidr` to kube-proxy), NodePorts will be broken when the FORWARD chain in the filter table is set to default DROP. This is because there will be no rule for ACCEPT in KUBE-FORWARD matching ctstate established related connections to the cluster cidrs. This is somewhat rel

[2020-05-28 18:29] maxstr commented on #78949
/remove-lifecycle stale

[2020-05-28 18:56] hasheddan commented on #91540
@sayanchowdhury looks like this has recovered 👍 can you see if you can identify what the underlying issue was? I’ll continue to monitor and close this out if we stay green

[2020-05-28 18:57] sayanchowdhury commented on #91540
Sure, I will look into it tomorrow.

[2020-05-28 19:27] alculquicondor commented on #90958
#91420 is merged. You can remove `KubeSchedulerConfiguration.BindTimeoutSeconds` now

[2020-05-28 19:44] alculquicondor commented on #65414
/open

Perhaps it's time to solve this in component config v1beta1. But we need to keep supporting both deserialization methods once we graduate to v1.

cc @pancernik I think we can start by just duplicating the Extender types in v1beta1 folder.

[2020-05-28 19:44] alculquicondor commented on #65414
/reopen

[2020-05-28 19:56] thockin commented on #91445
Can you please walk through https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ ?

Are you using iptables or IPVs kube-proxy, or something else?

Can you post a full iptables-save or ipvsadm dump?

[2020-05-28 19:59] thockin commented on #91437
Is this using the `externalIPs` field or the `status.loadBalacer.IP` value?

What cloud or LB environment is this using?  Does the LB actually preserve the client IP?

[2020-05-28 20:01] thockin commented on #91404
How did you get into this situation?  The allocator should not have granted the same node port twice?

[2020-05-28 20:06] thockin commented on #59119
@apelisse This is popping up again - any thoughts on how to crack this?

[2020-05-28 20:07] thockin commented on #91404
Oh right, that issue.

The only real way out is to de-allocate the NodePorts and then re-allocate them, I think

[2020-05-28 20:08] thockin commented on #91353
We don't have a great place to publish such constants, but I;d be fine with a PR

[2020-05-28 20:33] mlbiam commented on #89163
figured out why v4 was so squirly, apparently go doesn't just magically figure out that two threads are trying to read from stdin at the same time and just fix it.  weird.  With that out of the way I'm now refactoring so the websocket translation from channels to streams is extracted from the protocol version I have it in now and is handled as httpclient.Stream objects.

I've got the remotecommand

[2020-05-28 20:37] kohlerdominik commented on #91404
As this happens for all of my ports in the said Production Application (the one where my log gets spammed) as well as complete fresh installation (where i verified the bug), i think there's no "way out" except fixing the bug.

As said, for me it's necessary to assign both protocols to the same port. This might be a niche-use-case, but checking the [List of TCP and UDP port numbers](https://en.wiki

[2020-05-28 20:47] aqt01 commented on #3595
+1

[2020-05-28 21:05] robscott commented on #91545
/assign @caseydavenport

[2020-05-28 21:07] robscott commented on #91404
/assign @thockin

[2020-05-28 21:09] robscott commented on #91374
/assign

[2020-05-28 21:09] robscott commented on #91331
/assign @rikatz

[2020-05-28 21:11] robscott commented on #91284
/assign @thockin

[2020-05-28 21:12] robscott commented on #91236
/assign @jayunit100 @JacobTanenbaum

[2020-05-28 21:13] robscott commented on #91090
/assign @cmluciano

[2020-05-28 21:17] robscott commented on #90594
/assign @thockin

[2020-05-28 21:19] jhonnyx82 commented on #56371
Hi there,

Sorry to post into an old and closed topic but was this ever resolved?

I was actually looking for **loadBalancerSourceRanges** and to view automatically created GCP firewall rules for an internal LB just I noticed that these firewall rules are indeed applied through a GKE service definition but are nowhere to be seen into the GCP console

[2020-05-28 21:19] thockin commented on #91117
@khenidak do we expect this to work?

[2020-05-28 21:22] frittentheke commented on #54498
/remove-lifecycle stale

[2020-05-28 21:48] michaelgugino commented on #72320
I've been thinking more about this recently.  Looks like https://github.com/kubernetes/kubernetes/pull/83906 should be merging soon.

I think this issue is more or less the same as https://github.com/kubernetes/kubernetes/issues/80389

In this case, we're talking about pods in CrashLoopBackOff.  In the other issue, we're talking about pods in various other states.

What I think we're ultimately ta

[2020-05-28 21:50] hasheddan opened #91548 "[Flaky Test] kind-{ipv6}-master-parallel (ci-kubernetes-kind-{ipv6}-e2e-parallel)"
**Which jobs are flaking**:

`kind-master-parallel (ci-kubernetes-kind-e2e-parallel)`
`kind-ipv6-master-parallel (ci-kubernetes-kind-e2e-parallel)`

**Which test(s) are flaking**:

Pretty noisy across the board causing timeouts, but the following appear to be especially noisy:
`[sig-storage] CSI mock volume CSI Volume expansion should expand volume by restarting pod if attach=off, nodeExpansion=on

[2020-05-28 21:51] alculquicondor commented on #65414
It looks like we only need to do 2 things, after copying the type into v1beta1 folder:

- [ ] Remove the special decoding https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-scheduler/config/v1/types.go#L232-L242
- [ ] Change HTTPTimeout to metav1.Duration

[2020-05-28 21:52] sehadnassim commented on #47862
Still waiting for this to be supported

[2020-05-28 21:52] danwinship commented on #76699
@zigmund so did our adding `--random-fully` to kube-proxy make things any better for you? Or was the problem somewhere else?

[2020-05-28 21:54] jc-lab commented on #91437
@thockin

I have set externalIPs. And there is no LoadBalancer controller, so `status.loadBalancer` is empty.

There is a SNAT related commit in the PR @aojea told me. I hope for it and will update the cluster soon.

[2020-05-28 22:09] Marusyk commented on #88333
Hi @BenCoughlan15 , I don't have any fix.
I delete HPA, then create it with another name. It helped for me.

[2020-05-28 22:16] tedyu commented on #90334
@matthias50
What's your email ?

[2020-05-28 22:19] matthias50 commented on #90334
matthias.martin@here.com

From: Zhihong Yu <notifications@github.com>
Reply-To: kubernetes/kubernetes <reply@reply.github.com>
Date: Thursday, May 28, 2020 at 5:17 PM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: "Martin, Matthias" <matthias.martin@here.com>, Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kubernetes] ContainerLogMaxFiles not being honored for dead co

[2020-05-28 22:23] rikatz commented on #88986
Just as a follow up from our sig-network meeting, I'll post the tests results from disabling --random-fully scenarios in kube-proxy and flannel, and also the generated rules for each scenario.

This is the same environment I could use to confirm that disabling tx offload solves (CentOS 7 + Flannel 0.11), but in this case I'm enabling tx offload again in everything:

* Before each test, iptables ru

[2020-05-28 22:53] robscott commented on #91374
@wu105 Thanks for reporting this issue! Is it possible to recreate this issue on a newer version of Kubernetes? Currently we only support/patch the last 3 minor releases, it would be helpful if you could recreate this on a cluster running Kubernetes 1.16 or newer.

[2020-05-28 23:11] michaelgugino opened #91550 "[Flaky Test] pull-kubernetes-e2e-kind [k8s.io] [sig-node] Pods Extended [k8s.io] slow"
**Which jobs are flaking**: pull-kubernetes-e2e-kind

**Which test(s) are flaking**:

Unknown, exactly.

[k8s.io] [sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container

Has a crazy high runtime.  42m19s:  https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83906/pull-kubernetes-e2e-kind/1266119378412244995

Same test, 50 minutes here: h

[2020-05-28 23:19] Huang-Wei commented on #89701
@alculquicondor it'd be nice to link "Scheduler PostFilter API #91547" back here.

[2020-05-28 23:23] J4yD4n commented on #91374
Hopefully @wu105 can update and confirm again as I don't want to steal his thread, but if he can't, I can confirm the bug in 1.18.3

Environment:
- Kubernetes version (use kubectl version): 1.18.3
- Cloud provider or hardware configuration: Running within oVirt
- OS (e.g: cat /etc/os-release): Fedora CoreOS 31.20200505.3.0
- Kernel (e.g. uname -a): 5.6.8-200.fc31.x86_64
- Install tools: kubeadm
-

[2020-05-28 23:37] #87420 closed

[2020-05-28 23:44] Huang-Wei opened #91551 "Table-driven scheduler integration tests"
There are some tests under folder `test/integration/scheduler` that don't quite follow the [Golang table-driven](https://github.com/golang/go/wiki/TableDrivenTests) test style. Here are some symptoms:

- no `t.Run()` under `for _, test := range tests` loop ([good example](https://github.com/kubernetes/kubernetes/blob/0891f69f5ec27cdbcb6336ce3cfe6efdcc1d1e05/test/integration/scheduler/predicates_te

[2020-05-28 23:51] knabben commented on #91551
Hi, can I help in this refactoring?

[2020-05-28 23:53] knabben commented on #91551
/assign knabben

[2020-05-29 00:05] Huang-Wei commented on #91492
No worries, I will check if any volunteer is available first.

/help

(Note this is not a good first issue, but is a good chance to get a deep understanding on preemption)

cc/ @ahmad-diaa @everpeace @denkensk are you interested in working on this?

[2020-05-29 00:14] robscott commented on #91374
@J4yD4n thanks for the detailed report! It looks like you're using Service External IPs here, if that's the case, I think [Casey's statement on the linked issue](https://github.com/projectcalico/calico/issues/3585#issuecomment-635424401) likely applies here as well. Unfortunately Kubernetes doesn't support externalTrafficPolicy for Service External IPs. It sounds like we likely need to document th

[2020-05-29 00:36] painhardcore opened #91552 "Add new types for the Events"
**What would you like to be added**:
more levels for instrument events flow like:

Info, Critical, Error
**Why is this needed**:
Wanted to reuse https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/staging/src/k8s.io/client-go/tools/record/event.go#L88
But it's matched by the constants
https://github.com/kubernetes/client-go/blob/f099a72e140ab46a70ceb9337c75802c3a

[2020-05-29 00:42] denkensk commented on #91492
I'd like to do it. /assign

[2020-05-29 00:46] J4yD4n commented on #91374
@robscott Correct, I am using external IPs. I'm using them because Calico is capable of announcing external IPs to my network and negates the need to add an extra layer to do the same thing using load balancer IPs.

Is there a reason why kube-proxy treats external IPs so differently than load balancer IPs and ignores the externalTrafficPolicy?

[2020-05-29 00:50] Huang-Wei commented on #91492
Thanks @denkensk! Feel free to hand this out if you don't have bandwidth.

/remove-help

[2020-05-29 00:56] Huang-Wei commented on #91551
Thanks @knabben .

/remove-good-first-issue

[2020-05-29 00:57] Huang-Wei commented on #91551
/remove-help

[2020-05-29 01:02] neolit123 commented on #91498
/sig node

[2020-05-29 01:03] neolit123 commented on #91518
hi, try logging this ticket in the coredns repo/issue tracker.

/close

[2020-05-29 01:03] #91518 closed

[2020-05-29 01:08] dims commented on #66321
/reopen

[2020-05-29 01:33] zhangguanzhang commented on #88986
@rikatz  nick work

[2020-05-29 01:34] yuzhiquan commented on #91490
/assign
/remove-help

[2020-05-29 01:39] Aisuko commented on #60807
Sometimes only edit the resource manifest online would be not working very well(I mean remove the `finalizers` filed and save).
So, I got some new way from another way.

[code]
After running that command, the namespace should now be absent from your namespaces list.. And it works for me.

[2020-05-29 01:46] J4yD4n commented on #91374
I got my problem fixed. Maybe this will help @wu105 as well.
externalIPs honoring externalTrafficPolicy is currently an undocumented (besides in the code) featuregate. It's supposed to be enabled by default in 1.19. I previously tried to enable this by adding the command line option to kube-proxy, but that didn't work. Apparently those options are ignored if a configuration file (pointing at a con

[2020-05-29 02:11] MarkRose commented on #88986
For what it's worth, @jhohertz pointed out to me a relevant issue elsewhere regarding the same bug with `--fully-random` and `--random` ignoring ip_local_port_range: https://github.com/aws/amazon-vpc-cni-k8s/issues/509

[2020-05-29 02:32] wongma7 opened #91556 "kubelet neglects to mount all but 1 of a pod's CSI volumes that have the same volumeHandle even though they have different volumeAttributes"
**What happened**: kubelet neglects to mount all but 1 of a pod's CSI volumes that have the same volumeHandle even though they have different volumeAttributes.

I get this message:

[code]

**What you expected to happen**:

I expect that all volumes get mounted.

volumeHandle by itself must uniquely identify a CSI volume so usually it doesn't make sense to put the "same" volume multiple times in a

[2020-05-29 02:32] wongma7 commented on #91556
@kubernetes/sig-storage-bugs
/sig storage

[2020-05-29 02:46] RainbowMango commented on #89267
Yes.

[2020-05-29 03:25] wongma7 commented on #91556
I focused on volumeAttributes but you can find/replace it with mountOptions and the issue is the same. If I have multiple volumes I might want to use them with different mountOptions.

[2020-05-29 03:29] rossigee commented on #85560
ftr, @Trackhe workaround fixed the issue for me too.

Without `--kubelet-preferred-address-types=InternalIP`, it fails as internal name resolution from node name to internal IP address doesn't work...

[code]

And without `--kubelet-insecure-tls`, it fails as there is the node's internal IP is not listed in the certificate presented by kubelet on the node...

[code]

The cluster this happened on i

[2020-05-29 03:42] jpeach commented on #91353
Cool.

@kubernetes/sig-cli-feature-requests, if I plumb a `--ca` flag through `kubectl create secret tls`, does that need a full design proposal, or just the PR?

[2020-05-29 04:40] thockin commented on #91306
I don't think we want to add ServiceClass or service.class.  Gateway is the approach for that.

I wouldn't necessarily shoot-down a single label which deactivated the cloud-controller's service controller, so you could do whatever you want external to that.  That said, it sounds like you really want a "custom" cloud provider module that implements this hybrid world exactly how you want it.

If you

[2020-05-29 04:51] thockin commented on #90594
I don't think this is "bugs in networking layer of the Kubernetes itself".  kube-router and metallb are not standard kubernetes components, and running in LXC is not something I have heard many people doing.  There are a lot of things that could be going wrong, and we have no visibility into these pieces.  I can't say why they are putting wrong entries in your ARP tables, but I can say that I have

[2020-05-29 04:55] deepaksood619 commented on #74848
Is there a way, where we can specify the pod that fail 6 times and then stop restarting. So we can get the logs from the last pod. And `JobController` doesn't delete the pod.

[2020-05-29 04:56] deepaksood619 commented on #74848
/reopen

[2020-05-29 04:59] thockin commented on #91284
So, I am on-record as saying I hate `node.spec.podCIDR` because I think it's not really related to the node, it's related to the network.  That said, one of the reasons we have not yet killed that off is that multiple components look at podCIDR (at least kube-proxy and kubelet and controller-manager).  If we were to do as this suggests, we'd have to add the same flag to kubelet, and then deal with

[2020-05-29 04:59] #91284 closed

[2020-05-29 05:41] HankTheCrank commented on #72026
I know this is closed but I had the same problem and I want to document the solution in case it helps someone. (none of the solutions above worked for me)

The problem I had was I reset the cluster with kubeadm but for some reason the service account secret remained. I had reconfigured my certificates so the token in the secret was for the old certificates. This gave me the error. The solution is

[2020-05-29 05:42] thockin commented on #91404
Ahh, I thought you meant that you had accidentally been allocated the same nodePorts and I was very confused when you said "all of them".

I have reproduced this issue, and I can see it by inspection.

The obvious fix would be to collect ports split by protocol, but I think that's not right since we don't store it split.

An even simpler fix would be for https://github.com/kubernetes/kubernetes/bl

[2020-05-29 06:07] tedyu opened #91560 "Add duration to image pulling event"
**What would you like to be added**:
The 'Successfully pulled image' event should contain the duration for image pulling.

**Why is this needed**:
Currently the success event is in this form:
[code]
User has to trace back to the corresponding event for the beginning of image pulling and calculate the duration him/herself:
[code]

[2020-05-29 06:51] SataQiu commented on #91560
/sig node
/assign

[2020-05-29 06:52] nodo commented on #89274
/assign

[2020-05-29 07:25] xjtustt opened #91565 "kubectl sometimes get a <invalid> string in output CreationTimestamp column"
**What happened**:
I used [apiserver-builder](https://github.com/kubernetes-sigs/apiserver-builder-alpha) v1.17 to extend a rest resource for apiserver. In the Get()/List() method I added the `CreationTimestamp` like this:
`<resourceInstanceName>.ObjectMeta.CreationTimestamp = metav1.Now()`.
In kubernetes 1.14 and 1.16 the output is as I expected like:
[code]
But in kubernetes 1.17, **sometimes**

[2020-05-29 07:29] xjtustt commented on #91565
/sig CLI

[2020-05-29 07:52] mm4tt commented on #91540
It was caused by quay.io outage - https://status.quay.io/
Fixed in https://github.com/kubernetes/perf-tests/pull/1289

For the future, you can assign such issues to scalability oncall - https://go.k8s.io/oncall

[2020-05-29 08:01] towolf commented on #90066
I think it should be possible to suppress it, so I can "export" resoures as YAML and use them for other puposes. So, opt-out.

[2020-05-29 08:05] dajianderichang commented on #70411
你处理了吗，我的集群很正常，但这个日志让人不舒服

[2020-05-29 08:35] #82372 closed

[2020-05-29 08:56] painhardcore commented on #91552
/sig api-machinery

[2020-05-29 09:11] knight42 commented on #91404
perhaps I can fix this problem
/assign

[2020-05-29 09:20] itaysk commented on #90066
I feel that this is a good place to recommend using a plugin to clean up resources: kubectl neat https://github.com/itaysk/kubectl-neat

[2020-05-29 09:23] itaysk commented on #90066
@towolf there was a `--export` field which got deprecated. that has lead me to create a replacement in the form of a kubectl plugin ([kubectl-neat](https://github.com/itaysk/kubectl-neat)). Since the original use case for export is not longer required this plugin goal has evolved from "exporting a resource for recreation" to "make resources more readable for end users". for reference: https://gith

[2020-05-29 09:50] sh0rez commented on #86026
Just checked, still an issue!

[2020-05-29 10:13] lovingcodesk commented on #78685
yes, because of http keep alive ,it will reuse a connections ,so all requests arrived at the same pod

[2020-05-29 10:37] hasheddan commented on #91540
Thanks @mm4tt!

/close

[2020-05-29 10:37] #91540 closed

[2020-05-29 10:40] sftim commented on #89433
KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/895-pod-topology-spread#readme / https://github.com/kubernetes/enhancements/issues/895

[2020-05-29 11:00] vbatuev commented on #44273
`1.15.11-gke.5 ` has this issue too.

[2020-05-29 11:27] cofyc commented on #91436
I'm thinking of the former, as this indexer is controller-specific. Here is pseudocode:

[code]

In each controller, we use the following code to initialize pod indexer:

[code]

- the controller initialization order does not matter
- and controllers can be enabled/disabled independently

[2020-05-29 11:30] davesargrad commented on #88986
Great Job @rikatz so glad to see you reproduce the exact 63 second delay that i saw.

[2020-05-29 11:34] andrewsykim commented on #91306
@rikatz @jeff-hillman feel free to add this topic to the next SIG Cloud Provider meeting :)

[2020-05-29 11:41] SerialVelocity commented on #88193
It seems like that is asking if there is a way to fail for permanent errors? It's also for different behaviour to what the docs say:

`ImageNotFound` and `FailedMount` are before the container has even started therefore I would expect them to be retried. It sounds like #87278 is asking for an extra flag for failing.

Also, `FailedMount` here occurred due to a network timeout which is most definite

[2020-05-29 11:58] Toasterson opened #91570 "Port to the illumos Operating system (Master Issue)"
This is the master Issue to track my porting effort to the illumos operating system and to allow me to ask questions about things in kubernetes.

The following things are part of this effort:
- [ ] Modify build tags to allow compilation #91572
- [ ] Update Vendor with upstream fixes
  - [ ] github.com/moby/term
- [ ] Update build system to recognize illumos as build host. #91573
- [ ] Fix SO_REUSE

[2020-05-29 12:03] Toasterson commented on #91570
Unfortunately there is no porting sig so I have to guess which one. As most of these changes are to make it possible for illumos based nodes I'll contact the node sig. Please let me know if any other SIGs need to be added.

/sig node

[2020-05-29 12:09] cofyc commented on #91436
/assign

[2020-05-29 12:34] wojtek-t commented on #90743
xref #91497

[2020-05-29 12:39] brianharwell opened #91575 "Metrics server fails to pull metrics from Windows workers"
/sig windows

**What happened**:
I have a Kubernetes cluster with 2 Windows worker nodes. When I run `kubectl top nodes` the Windows nodes report as unknown. I did some investigating and I am seeing errors in the logs.

**What you expected to happen**:
When I do `kubectl top nodes` or `kubectl top pods` the Windows workers are included.

**How to reproduce it (as minimally and precisely as possibl

[2020-05-29 12:46] ahg-g commented on #91492
Regarding the first problem, I remember this was addressed in 1.18: https://github.com/kubernetes/kubernetes/pull/82235

The second problem I guess can be addressed by subtracting the length of ```pdb.status.disruptedPods``` from pdb.status.distributionsAllowed [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L889)

The third issue will have to wa

[2020-05-29 12:50] bai commented on #77988
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:51] bai commented on #62046
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:51] bai commented on #18394
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:51] bai commented on #86967
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:51] bai commented on #74375
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:52] bai commented on #58034
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:52] bai commented on #87766
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:52] bai commented on #75482
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:52] bai commented on #81134
👋 Hello from Bug Triage team! Wanted to follow up on this issue with a friendly reminder that the code freeze for 1.19 is starting June 25th (about 4 weeks from now).

As this issue is tagged for 1.19, is it still planned for this release?

[2020-05-29 12:56] denkensk commented on #91492
+1

[2020-05-29 13:33] aojea opened #91579 "[failing test] "Pod Container Status should never report success for a pending container" hangs and times out KIND jobs"
I've checked some jobs that timed out and something is odd with the test

[code]

Check the durations in

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/88196/pull-kubernetes-e2e-kind/1266095722265055235/build-log.txt
[code]
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91535/pull-kubernetes-e2e-kind/1266050429549023233/build-log.txt
[code]

[code]

_Origin

[2020-05-29 13:38] aojea commented on #91579
/cc @BenTheElder @wojtek-t @liggitt

@smarterclayton you have added this test, do you see any reason why this test is never finishing on KIND (Kubernetes in Docker)

i.e this is a recent occurence
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88196/pull-kubernetes-e2e-kind/1266264458729099265

The test never finish and the job times out

[code]

it seems that one of the pods is stuc

[2020-05-29 13:46] danwinship commented on #88986
Aha!... Well, actually, I don't think that bug report is related to this problem at all :smile:, but it pointed me in the right direction at least. `iptables-extensions(8)` says, regarding SNAT source port modification:

Emphasis added. But checking [the source](https://github.com/torvalds/linux/blob/v5.6/net/netfilter/nf_nat_core.c#L543), that last part is only true if you _don't_ pass `--random`

[2020-05-29 14:25] danwinship commented on #88986
So... @kubernetes/sig-network-misc it seems that using `iptables --random-fully` definitely triggers the udp checksum / vxlan bug, just because of the nature of how it works, not because `--random-fully` is buggy. And there's no workaround other than not using `--random-fully` or avoiding the checksum bug. At the moment, there are probably more people being hurt by our use of `--random-fully` than

[2020-05-29 14:30] kristinnardal2 commented on #80855
/reopen

This seems to be an error in the get code for kubectl, it looks like it tries to figure out if all the requested resources are namespaced and only then return specify the namespace in the output. This seems to be happening when we have only cluster-wide resources.

https://github.com/kubernetes/kubernetes/blob/b0c1fd19fcb6cc508bb6aa461594eac9e456960a/staging/src/k8s.io/kubectl/pkg/cmd/get

[2020-05-29 14:30] hzxuzhonghu opened #91582 "watch of *v1.PartialObjectMetadat ended with: an error on the server"
**What happened**:
[code]

When watching node metadata, we met errors like

[code]

And also debug info maybe related
[code]
**What you expected to happen**:
Watch node metadata succeed

**How to reproduce it (as minimally and precisely as possible)**:

deploy istio1.16 on k8s 1.14

**Anything else we need to know?**:

It works well on k8s >= 1.15

**Environment**:
- Kubernetes version (use `kubec

[2020-05-29 14:32] hzxuzhonghu commented on #91582
/sig api-machinery

[2020-05-29 14:33] hzxuzhonghu commented on #91582
cc @liggitt

[2020-05-29 14:39] rikatz commented on #88986
+1 for the item 4, relying on #91137. This seems to bring the less impact than the other solutions.

Solution 3 could also be used but IMO it's pretty tricky to detect which interface uses or not vxlan. We could detect if the vxlan module is loaded by looking into /proc/modules but this might lead into some false positive (the module might be loaded but not used by any k8s / cni component), or if

[2020-05-29 14:56] cliffburdick commented on #70044
/remove-lifecycle rotten

Saw this randomly when deleting a deployment on 1.16.7. Describe pod reported:

[code]

[2020-05-29 15:01] tringuyen-yw opened #91584 "hide metadata.managedFields in `kubectl get -o yaml`"
**What would you like to be added**: add a new option in `kubectl get --output=yaml` which does NOT show [metadata.managedFields](https://kubernetes.io/docs/reference/using-api/api-concepts/#field-management) in the output.
May be `kubectl get --output=yaml --hideManagedFields` ?

**Why is this needed**: to make the output shorter. As this option is not enabled by default. When the user really wan

[2020-05-29 15:11] knight42 commented on #91404
@thockin things may be a little more complicated.

Right now the [port allocator](https://github.com/kubernetes/kubernetes/blob/83f343011f566130b813e81c84c40d218d10fecc/pkg/registry/core/service/portallocator/controller/repair.go#L125) is not aware of the protocol of the port https://github.com/kubernetes/kubernetes/blob/83f343011f566130b813e81c84c40d218d10fecc/pkg/registry/core/service/portalloca

[2020-05-29 15:11] luksa commented on #80855
/reopen

[2020-05-29 15:14] zigmund commented on #76699
@danwinship `--random-fully` didn't solved the issue completelly. Conntrack invalids gone down but redispatches/retries are still here.

But the more nodes we use - less redispatches we have overall.
For example, redispatches per second, 3 nodes vs 8 nodes @ 100k concurrent connections 300 RPS via 2 haproxies:
![image](https://user-images.githubusercontent.com/1713091/83275551-19c8c600-a1f1-11ea-9

[2020-05-29 15:15] droslean commented on #82296
/milestone v1.20

[2020-05-29 15:17] hzxuzhonghu commented on #91582
@liggitt Thanks for your quick response. It is confusing to me as I can see the v1beta1 PartialObjectMetadata  is there. Why can't it serve the v1beta1?

[2020-05-29 15:19] liggitt commented on #91582
It can. The metadata client does not request it:

https://github.com/kubernetes/kubernetes/blob/081f97aa2b129c3a8ab1431f12ef0abffa479adf/staging/src/k8s.io/client-go/metadata/metadata.go#L198

[2020-05-29 15:22] hzxuzhonghu commented on #91582
Got it, seems it is impossible to set the version used for the request. Thanks anyway.

[2020-05-29 15:34] kfox1111 commented on #75482
Still a bug. No one is working on it.

[2020-05-29 15:38] thockin commented on #85552
A couple problems I see here:

* Slippery slope - imagine we copy "type" into a label or add a field selector for it.  What next?  We'll have to distinguish `clusterIP: None` from real IPs at least.  I expect it turns into more and more requests.
* Service is a weird API - a NodePort service *is* a ClusterIP service, so we'd need multiple labels at once.  But label selectors "grammar" is not very

[2020-05-29 15:43] thockin commented on #89898
I'm afraid the only way to know more is to get something like a tcpdump from both inside and outside the pod, which captures one or more failing requests.

Possible?

[2020-05-29 15:43] #89925 closed

[2020-05-29 15:44] thockin commented on #89956
@reoxy Ping regarding https://github.com/kubernetes/kubernetes/issues/89956#issuecomment-628898230

[2020-05-29 15:54] spiffxp commented on #74375
/remove-lifecycle stale
/milestone clear
I don't think this should be tracked against the release cycle

[2020-05-29 15:57] liggitt commented on #91579
opened https://github.com/kubernetes/kubernetes/pull/91585 with debug info and a bound on how long we'll wait for pod events

[2020-05-29 16:08] rm3l commented on #69311
Hi there! +1 for this feature request, which I think would be very useful. Thanks.

[2020-05-29 16:27] justinsb commented on #91472
(tagging with cloudprovider for processing the cloud-provider-specific hooks, processing shutdown signals is likely still a node topic)

[2020-05-29 16:30] justinsb commented on #29789
/remove-lifecycle rotten
/lifecycle frozen

[2020-05-29 16:42] justinsb commented on #54482
/lifecycle frozen

Agreed that this remains an issue, likely blocked on being able to support aws node names that are not equal to the PrivateDnsName

[2020-05-29 16:52] thockin commented on #91404
I don't think we need to do make the allocator be protocol aware.  IIRC we allow you to use the same nodeport on different protocols ONLY within a single service.

This means (I think) that we can do hyper-local deduplication as we collect the nodeports for each service.  If we find the same nodeport number with different protocols, just remove the duplicates because it is allowed.

I.e.  a servic

[2020-05-29 16:53] cyberrecon commented on #87197
I am still haveing this issue even after reinstalling kubeadm this morning
`W0529 16:30:16.199381       1 iptables.go:550] Could not set up iptables canary mangle/KUBE-PROXY-CANARY: error creating chain "KUBE-PROXY-CANARY": exit status 132: Illegal instruction (core dumped)
E0529 16:30:17.931951       1 proxier.go:833] Failed to ensure that filter chain KUBE-EXTERNAL-SERVICES exists: error creatin

[2020-05-29 16:53] thockin commented on #91437
Yeah, externalIPs doesn't (yet) respect externalTrafficPolicy.  @freehan was fixing this, I think.

Minhan - once this is fixed, let's close ALL the bug on it.  I think there are multiple.

[2020-05-29 16:56] thockin commented on #91437
Actually, I'll just dup this https://github.com/kubernetes/kubernetes/issues/91374

[2020-05-29 16:56] #91437 closed

[2020-05-29 17:05] knight42 commented on #91404
@thockin ah got it! thanks for your detailed explanation!

[2020-05-29 17:08] wadeholler commented on #54482
FYI - we ere able to go away from custom hostnames and use the aws generated hostname by implementing dnsmasq to point to both our private dns infra and aws private dns concurrently.

Sent from my iPhone

[2020-05-29 17:09] rikatz commented on #91306
@jeff-hillman as the author, and as proposed by Andrew you can take this issue to the next SIG Cloud Provider and they will have a much broader view than we in the scope of multiple load balancers providers.

Andrew, Tim thanks for the help. As proposed by Tim I'll remove the sig-net label and put a sig-cloudprovider issue, and remove my assignment and also the triage.

/remove-sig network
/sig cl

[2020-05-29 17:17] champtar commented on #91306
I'm just a contributor to MetalLB (@rata is the new maintainer), but I would be interested to see a transcript of any SIG meeting on this issue when it exists

[2020-05-29 17:25] chief93 commented on #90594
@thockin thanks for reply! I need to mention it again - the problem indeed cannot be because of LXC - the networking layer is out of it's "influencing area", and the behavior of this bug is clearly about the trying of selecting of the FIRST EITHER network interface in the system, non-matter that this is the CNI, which obviously can not be operable WITHOUT a real network interface. So, again, this

[2020-05-29 17:25] Huang-Wei commented on #91492
Thanks @ahg-g. So for now, @aermakov-zalando can you give a try on 1.18 to see if the first problem is resolved?

@denkensk You can start working on the second problem.

[2020-05-29 17:25] Huang-Wei commented on #87083
/remove-lifecycle rotten

[2020-05-29 17:26] Capitrium commented on #88986
@danwinship @rikatz I don't think option 4 will work for myself or @jhohertz at the very least - we're both using Flatcar Linux, and I can confirm that the latest stable version with kernel 4.19.124-flatcar did not fix this issue in my cluster.

Personally I'd be fine with option 5 since `--random-fully` just appears completely broken on my cluster and I barely use NodePort services at all, much l

[2020-05-29 17:32] sh0rez commented on #86026
/remove-lifecycle stale

[2020-05-29 17:46] rikatz commented on #88986
For the solution 3 maybe this can be checked in /sys/class/net/*/uevent to see if there's someone using DEVTYPE=vxlan and this will work if this is a builtin or a module BUT the amount of directories inside this grow as much as Pods and virtual interfaces you've in it, so this might bring a huge performance impact.

5 might be applicable, but this might lead to a question if we really want to add

[2020-05-29 17:47] liggitt commented on #91584
thanks for the request, closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/90066

/close

[2020-05-29 17:47] #91584 closed

[2020-05-29 17:49] danwinship commented on #88986
Oh? I was assuming everything that didn't use OVS was just using kernel interfaces of type `vxlan`. Is that not what weave and flannel do?

Hm... we'll need more testing then. If the alleged fix doesn't actually fix it then that's a problem.

Does disabling offload with `ethtool` (while leaving `--random-fully` in place) fix things? If so, that suggests that either your kernel doesn't actually hav

[2020-05-29 17:51] brianharwell commented on #91575
I apologize. I did not know there was a separate repo for metrics server. I'm going to post there.

[2020-05-29 17:51] alculquicondor commented on #90724
@adtac is interested in helping out here

[2020-05-29 17:52] #91575 closed

[2020-05-29 17:53] adtac commented on #90724
/assign

[2020-05-29 17:54] neolit123 commented on #91570
hi, before doing work we need an official stance from SIG Release whether this is a OS that the project wishes to support.

you can ask in #sig-release on k8s slack.

/remove-sig node
/sig release

[2020-05-29 17:55] saschagrunert commented on #91236
/cc

Saw the test flaking recently:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=continuous%20echo%20was%20not%20able%20to%20communicate%20with%20initial%20server%20pod

Wondering if this is just a timeout issue. Maybe we can increase the timeout and/or switch to a TCP based test:

[code]

[2020-05-29 18:05] rikatz commented on #88986
If I get the question correctly the answer is no. Calico, for instance might or might not use vxlan. The default behavior is to not use but there're some cases where it might be enabled by the cluster admin.

A quick search lead me to Cilium being able to use vxlan or geneve (https://docs.cilium.io/en/v1.7/intro/#simple-networking) so I think it's pretty hard to detect.

We still can take the 'fas

[2020-05-29 18:07] liggitt commented on #91506
I would also consider changing the default in 1.19 to be off (`0`), rather than on (`8080`)

[2020-05-29 18:11] liggitt commented on #91506
Also, I would recommend leaving the inert flag in place for a few releases even after the insecure serving code is removed. I want to avoid accidents where people stop setting `--insecure-port=0` too early in response to warnings about the flag being removed, and accidentally opt back into the default behavior of enabling the insecure port.

[2020-05-29 18:12] danwinship commented on #88986
but 4.19.124 should have the fix... (it's in the release notes for 4.19.123)

[2020-05-29 18:14] neolit123 commented on #91506
+1, not enabling the insecure port by default is very reasonable.

[2020-05-29 18:44] neolit123 commented on #89711
re-open this ticket once you modify the description to follow the issue template correctly:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

/remove-sig cluster-lifecycle
/close

[2020-05-29 18:45] #89711 closed

[2020-05-29 18:45] neolit123 commented on #89797
/sig node
/remove-sig cluster-lifecycle

[2020-05-29 18:48] neolit123 commented on #79904
/assign
/lifecycle active

[2020-05-29 18:51] ms-lolo commented on #68712
This does not match what I just witnessed in my cluster… digging deeper to see if I need to file a bug but I have a Job with a single Pod that was executed. The Pod failed but the Job was marked as complete.

This is the one (and only) pod that executed as my job:
[code]
And this is the job that owns it (from kubectl describe):
[code]
This is the job status object:
[code]
on v1.16.7 but not findin

[2020-05-29 18:58] neolit123 commented on #85883
is this actually a replacement for the following?

`KUBELET_EXTRA_ARGS` will long term be, so pinning more options to KUBELET_EXTRA_ARGS is not great.

why not enable this by default in the kubelet.service?
[code]

to clarify, are the logs full of this message because the docker service was not started before the kubelet service? does the error stop once the docker service has started?

for kubead

[2020-05-29 18:59] neolit123 commented on #87744
/remove-sig cluster-lifecycle

[2020-05-29 19:05] neolit123 commented on #90345
thanks for the discussion.
/close

[2020-05-29 19:05] #90345 closed

[2020-05-29 19:08] neolit123 commented on #76714
digging into old issues.
@mikeparker would you be able to PR client-go with this change?

[2020-05-29 19:09] neolit123 commented on #75942
/remove-sig cluster-lifecycle

[2020-05-29 19:12] neolit123 commented on #66844
/remove-sig cluster-lifecycle storage
/sig cli auth

[2020-05-29 19:14] neolit123 commented on #53213
/sig cloud-provider
/area provider/gcp
/remove-sig cluster-lifecycle

i don't think we are running these upgrade tests in CI anymore, or at least not in release blocking.
/remove lifecycle-frozen

[2020-05-29 19:14] neolit123 commented on #53213
/remove-lifecycle frozen

[2020-05-29 19:15] michaelgugino commented on #80389
/reopen

[2020-05-29 19:16] neolit123 commented on #43688
/remove-lifecycle frozen
/sig cloud-provider
/area provider/gcp

changing with ownership of "cluster/gce/upgrade.sh"

[2020-05-29 19:17] neolit123 commented on #43688
/remove-sig cluster-lifecycle

[2020-05-29 19:32] tedyu commented on #91326
@rmohta
How do you get the script onto the node where the Deployment runs ?

/bin/pre-stop.sh

Thanks

[2020-05-29 19:48] rikatz commented on #88986
OK so the behavior of Flatcar / newer kernels is almost the same, except it's a 1s delay instead of 63s, but I can confirm:

* Disabling tx offloads eliminates the delay
* Enabling tx offloads and disabling --random-fully only from kube-proxy also eliminates the delay

Tested in Flatcar with Kernel 4.19.124

[2020-05-29 20:31] gseshagirirao commented on #60298
Hi,

While trying to restore the EBS volumes from the snapshot it returns status as lost. we are using AWS KMS CMK keys with policy having kms* permission. The backup operation went fine.. the restore operation is able to restore all k8s resources expect the PVC.

k get pvc -n nginx-example
NAME         STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AG

[2020-05-29 20:40] towolf commented on #90066
@itaysk I found your plugin and I really like it. However, to have `--export` back in kubectl itself to obtain "neat" yaml, that would be much more compelling. So many applications come to mind.

[2020-05-29 20:47] #65612 closed

[2020-05-29 20:48] rmohta commented on #91326
@tedyu script is to be packaged within the container image.

[2020-05-29 22:12] Nuru commented on #91421
Hit by #91355 see https://github.com/kubernetes/kubernetes/pull/91355#issuecomment-636201937

[2020-05-29 22:14] thockin commented on #90594
It's not that "we" don't want to know what doesn't work.  It's clear that something is wrong here, but Kubernetes' networking layer is almost entirely plugged-in.  I have no idea what these other components are doing.

Some questions from your report:

I don't know this CNI - what does this mean?  Does kube-router create a netif in the root namespace?  This is not represented in your diagram at al

[2020-05-29 22:20] Nuru commented on #86181
Hit by #91355 see https://github.com/kubernetes/kubernetes/pull/91355#issuecomment-636201937

[2020-05-29 23:09] lavalamp commented on #65200
Yes, it's much more complicated than it sounds like, e.g. the owning object might not exist in the apiserver, it might be in e.g. a different aggregated apiserver, which the apiserver handling the request doesn't know about.

[2020-05-30 03:02] wawa0210 commented on #91482
/assign

I will test it and then post the test results

[2020-05-30 03:24] MHBauer commented on #91263
Ran the npb tests on an 8 core 64g memory virtual instance:
 - npb IS Integer-Sort Class-D requires 32GB of memory to complete, and runs for ~6minutes
 - npb EP requires ~10MB to complete, but takes around 10minutes

[2020-05-30 07:39] caesarxuchao commented on #78796
Fixed by https://github.com/kubernetes/kubernetes/pull/86140.

[2020-05-30 07:39] #78796 closed

[2020-05-30 07:50] windayski opened #91600 "The node was low on resource: ephemeral-storage, and pods were evicted"
In my cluster, some of the pods were evicted, and the description shows it's due to lack of ephemeral-storage.
I checked the disk space of worker nodes. There is still plenty of disk space. But the kubelet logs showed the kubelet is still trying to evict pods. It's quite strange. Why?

[code]
`kubectl describe node mgt04`

[code]

Check disk space. There is still plenty of disk space.
[code]

Kube

[2020-05-30 07:53] chief93 commented on #90594
1. Firstly I need to apologize for the possible harshness, but I was very disappointed about the @caseydavenport answer for `kube-proxy` issue and almost same misunderstanding of other community members. I'm glad to know that there are pepople who still interested in resolving of proposed issues.
2. As software engineer, I roughly imagine how the Kubernetes plug-in system works, then basing on the

[2020-05-30 09:04] zetaab opened #91601 "Daemonset does not provision to all nodes, 0 nodes available"
**What happened**: We upgraded 15 kubernetes clusters from 1.17.5 to 1.18.2/1.18.3 and started to see that daemonsets does not work properly anymore.

The problem is that all daemonset pods does not provision. It will return following error message to events:

[code]

However, all nodes are available and it does not have node selector. Nodes does not have taints either.

daemonset https://gist.git

[2020-05-30 09:08] zetaab commented on #91601
/sig scheduling

[2020-05-30 10:49] maikelvl commented on #82296
@liggitt Thank you for your clarification.

---

For reference: the mentioned yaml library upgrade is applied in https://github.com/kubernetes/kubernetes/pull/83261/files

[2020-05-30 11:11] jethrogb commented on #63906
/remove-lifecycle rotten

[2020-05-30 14:24] neolit123 commented on #91600
/sig node

[2020-05-30 15:08] tedyu commented on #91600
1.14.3 is quite old.
Are you able to reproduce this using 1.18 ?

Thanks

[2020-05-30 15:10] tedyu commented on #90999
New test has been added.
Without fix, it fails:
https://github.com/kubernetes/kubernetes/pull/91453#issuecomment-636267692

[2020-05-30 15:30] liggitt commented on #91601
Can you provide the full yaml of the daemonset, node, namespace, and an example pod as retrieved from the server?

[2020-05-30 15:39] tedyu commented on #91579
Looking at a timed out test, I noticed the 35 minute gap toward the end of the build log:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89155/pull-kubernetes-e2e-kind/1266582655445504000
[code]
For passing builds, there was no such gap in similar logs.
Also, similar log appeared at the early part of build log in the passing build.

[2020-05-30 15:56] jherrera123 commented on #90679
/assign

[2020-05-30 16:06] zetaab commented on #91601
node:
https://gist.github.com/zetaab/2a7e8d3fe6cb42a617e17abc0fa375f7

daemonset:
https://gist.github.com/zetaab/31bb406c8bd622b3017bf4f468d0154f

example pod (working):
https://gist.github.com/zetaab/814871bec6f2879e371f5bbdc6f2e978

example pod (not scheduling):
https://gist.github.com/zetaab/f3488d65486c745af78dbe2e6173fd42

namespace:
https://gist.github.com/zetaab/4625b759f4e21b50757c79e5072c

[2020-05-30 16:07] ayanamist commented on #87235
/remove-lifecycle stale

[2020-05-30 16:39] liggitt commented on #91601
DaemonSet pods schedule with a nodeAffinity selector that only matches a single node, so the "12 out of 13 didn't match" message is expected.

[2020-05-30 16:45] liggitt commented on #91601
I don't see a reason why the scheduler would be unhappy with the pod/node combo… there's no ports that could conflict in the podspec, the node is not unschedulable or tainted, and has sufficient resources

[2020-05-30 17:12] pancernik commented on #65414
/assign

[2020-05-30 17:21] zetaab commented on #91601
Okay I restarted schedulers (changed loglevel to 4 if we can see something interesting there). However, it fixed the issue

[code]

now all daemonsets are provisioned correctly. Weird, anyways something wrong with the scheduler it seems

[2020-05-30 17:30] sftim commented on #30603
When documenting this, bear in mind the [content guidance](https://kubernetes.io/docs/contribute/style/content-guide/#whats-allowed) on 3rd party projects and content.

[2020-05-30 18:08] #72501 closed

[2020-05-30 18:14] Ankur7890 opened #91605 "@kubernetes daemonsets"
Hi Guys,

Is there a way to label kubernetes daemonsets? Do not want daemonset to run on specific node.

[2020-05-30 18:22] liggitt commented on #91605
See https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#running-pods-on-only-some-nodes for details on specifying a node selector to constrain which nodes a daemonset runs on

[2020-05-30 18:22] #91605 closed

[2020-05-30 18:33] liggitt commented on #91601
cc @kubernetes/sig-scheduling-bugs @ahg-g

[2020-05-30 19:17] andrewsykim commented on #90594
I used to maintain the kube-router project so I might be able to offer some insight here that could be useful.

One of the problems here is that kube-router relies on addresses in the Node object to properly configure it's overlays. In the absence of a cloud provider, kubelet does a best-effort guess on what the address of the node is. But sometimes kubelet can guess wrong (rare though IME) and it

[2020-05-30 20:07] chief93 commented on #90594
Thank you very much @andrewsykim ! Your answer just confirmed my thoughts about the Kubernetes (not the `CNI` plug-in) discovering and provisioning of physical network interface!

And you absolutely right about the starting after the `Networking`, I'll test this behavior soon.
The "default" installation, that I meant, is the default recommended Kubernetes installation procedure - as minimal as pos

[2020-05-30 20:51] fclerg commented on #50375
+1

[2020-05-30 21:07] andrewsykim commented on #90594
For the record, I'm not saying there is anything wrong with the way kubelet discovers it's address. But specifically for kube-router where the CNI checks node addresses it can be problematic in those cases.

I'm still not sure what you mean by "default recommended Kubernetes installation procedure". Though in general it is assumed your network is up and running before any of the Kubernetes compone

[2020-05-30 21:16] jherrera123 commented on #90679
Based on the conversation, it looks like the reported problem by @damemi is not an issue. It's ok to assign a pod to a node that has an affinity match even if there is an anti-affinity.

There `might` be a separate problem (mentioned by @Huang-Wei) related to where a node gets a higher score improperly, but this has not been proven. If this is actually a bug, there should be a separate issue creat

[2020-05-30 21:26] irizzant commented on #83265
/remove-lifecicle rotten

[2020-05-30 21:27] irizzant commented on #83265
/remove-lifecycle rotten

[2020-05-31 00:15] alejandrox1 commented on #91263
We should definitely sync with sig scalability (the perf tests are owned by them).
I don't know if those tests supersede node performance tests and I also don't know if there is a sub-group within sig node that focuses on node performance so this may be an area to improve.
Using that comment as a Segway to the next comment

YES!

---

For sake of simplicity I've been looking at the n1 machines.
an

[2020-05-31 00:21] chief93 commented on #90594
Right because of this is not specific for only `kube-router` but also for `Flannel`, this is definitely the Kubernetes issue.

About the default installation - in my meaning, as an end-user, the default installation is:
1. setup OS for nodes
2. install `kubeadm`, `kubectl` and few other core dependencies
3. `kubeadm init` on master
4. `kubeam join` on each node
5. INSTALLING PLUG-INS, first of all

[2020-05-31 00:45] andrewsykim commented on #90594
Ultimately this is not an issue with Kubernetes itself, but an issue with the installer then (kubeadm). Kubelet and every other core component assumes the network on the node is already up. What you're saying about the `After` rule in kubelet systemd service makes sense, but I think the issue belongs in https://github.com/kubernetes/kubeadm/issues. As far as I can tell there's nothing left to be d

[2020-05-31 00:47] chief93 commented on #90594
Just checked the `systemd` issue scenario: added following fragment to the beginning of the `service` file and after a full cluster crash, within this patch, all worked like a charm :)

[code]

[2020-05-31 00:51] chief93 commented on #90594
@andrewsykim you are right, but, again, I was confused about a VERY unexpected behavior (no recognition about wrong network interface). I agree that this is a non-trivial for implementing operation to get the real network interface either, but there are many ways to do this

[2020-05-31 01:00] sethvargo commented on #81127
/remove-lifecycle-stale

[2020-05-31 01:00] sethvargo commented on #81127
/remove-lifecycle stale

[2020-05-31 01:03] andrewsykim commented on #90594
In this particular case though, it seems like kubelet is doing the right thing. Kubelet doesn't understand everything about your specific environment and wouldn't know what the "wrong" interface is. Most of the time it makes the right call though. This is something the admin has to tell kubelet at some point. This is why we have cloud provider integrations to populate node addresses and why we hav

[2020-05-31 02:06] tedyu commented on #91579
I was looking at a recent failure:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/91453/pull-kubernetes-e2e-kind/1266858347173253121/artifacts
[code]
The size of kubelet log from worker node 2 was at least 10 times the size of kubelet.log for passing test.

There were 1573 occurrences of log lines in the following form:
[code]
1554 occurrences for kubelet.log on worker node 1.
[code]
Th

[2020-05-31 02:10] BenTheElder commented on #91579
probably not related but we did just change containerd versions quite a bit
due to an unrelated issue
https://github.com/kubernetes-sigs/kind/commit/ca0dde47d9597ade08db2cce5e2dd08f60f318cd

this kinda looks like the CI hosts being resource starved. might try
bumping the CPU req in the kind jobs (currently generally 2CPU), also
considering using memory backed emptydir for the docker storage in tho

[2020-05-31 02:16] Huang-Wei commented on #90679
Hi @jherrera123 , the potential problem might be hidden in Scoring code, feel free to look into it.

[2020-05-31 02:17] tedyu commented on #91579
In the corresponding containerd log:
[code]
There was similar log line from journal.log
A brief search within the containerd log didn't reveal who deleted the file.

[2020-05-31 06:24] dnoland1 commented on #57534
/remove-lifecycle stale

[2020-05-31 08:26] chief93 commented on #90594
Thank you very much @andrewsykim for your support! As you suggested, I've opened the corresponding issue in the `kubeadm` repository, the link is above this message, bu I'll duplicate it here also: [https://github.com/kubernetes/kubeadm/issues/2159](https://github.com/kubernetes/kubeadm/issues/2159)

[2020-05-31 08:59] Lagicrus commented on #78139
This issue "resolves" itself when I use WSL2 vs Windows ones (for people who want to try a different fix). Or at least that is what I assume as it tells me to switch to Linux when it breaks.

Sorry that I took a while to respond @michmike was busy with other projects and then it took about 20 minutes to go from "Building X" to actually doing one of the steps and henceforth failing.

Version for Do

[2020-05-31 09:35] aojea commented on #91548
/cc

[2020-05-31 09:36] aojea commented on #91545
is this a bug or a feature request? I would say the later 😄

[2020-05-31 09:59] aojea commented on #91494
this is a known limitation in current dual-stack status and hopefully it will be fixed by
https://github.com/kubernetes/enhancements/pull/1665

[2020-05-31 11:11] debu99 commented on #50345
We have same issue because of the configmap is not updated
[code]

[2020-05-31 12:12] aojea commented on #91236
the test should use UDP, and UDP is unreliable by definition ... however is curious that most of the failures happen because it is not able to communicate with the first pod https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=continuous%20echo%20was%20not%20able%20to%20communicate%20with%20initial%20server%20pod#e76fa297acbadf09dac1
[code]

I think that is something that should be

[2020-05-31 13:04] wangyf2010 commented on #48180
any updates for this feature request? when will get this feature ready? :)

[2020-05-31 13:40] andrewsykim commented on #90594
Thanks, I'm going to close this issue for now. Feel free to create another issue specifically for the kubelet network discovery.

/close

[2020-05-31 13:41] #90594 closed

[2020-05-31 14:58] tedyu commented on #91579
From https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91453/pull-kubernetes-e2e-kind/1266858347173253121/build-log.txt
[code]

[2020-05-31 15:13] Mishra-Akash opened #91609 "Disable unused filesystems in Kubernetes"
Is there any way where we can disable mounting of FAT/squashfs/cramfs/hfsplus/jffs2 inside a container in Kubernetes.

This is a security requirement to comply with.

[2020-05-31 15:13] Mishra-Akash commented on #91609
/sig Security Audit

[2020-05-31 15:14] Mishra-Akash commented on #91609
Security Audit

[2020-05-31 15:14] Mishra-Akash commented on #91609
/Security Audit

[2020-05-31 15:15] Mishra-Akash commented on #91609
/sig Architecture

[2020-05-31 16:01] Ankur7890 commented on #91605
Gone through the link, it seems that for newer version taint/toleration might help but about lower versions.

k8s version 1.4 or 1.5 something.

[2020-05-31 16:08] liggitt commented on #91605
node selectors are supported on all daemonset versions

[2020-05-31 16:09] tedyu commented on #91609
Can you give a bit more detail on the security requirement ?

[2020-05-31 17:28] alex-oren commented on #50309
docker sets `HOSTNAME` automatically, and this matches the container's name usually, so if you need a unique id for your container, you can probably use this along with the namespace i guess

[2020-05-31 17:33] Mishra-Akash commented on #91609
I have to ensure disabling of the unused filesystems as reported in System CIS-CAT report inside my container by anymean.
Refer https://secscan.acron.pl/centos7/1/1/1.

[2020-05-31 17:34] BenTheElder commented on #91548
the release blocking tests were moved to wg-k8s-infra infrastructure.
the node pool is puny compared to the old prow, and I'm seeing nodes at 100% CPU usage...

cc @spiffxp

[2020-05-31 18:57] mayukh1 commented on #17157
mayukh@mayukh-Inspiron-3521:~/istio-1.6.0$ istioctl manifest apply --set profile=demo
Detected that your cluster does not support third party JWT authentication. Falling back to less secure first party JWT. See https://istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens for details.
✔ Istio core installed
✔ Istiod installed
✔ Egress gateways installed
✔ Ingress

[2020-05-31 19:29] jamihuq commented on #85499
Hi,
Any update on the proposed patch by @tedyu ?

[2020-05-31 20:50] aojea commented on #47862
I don't think this is a trivial change, is just not kubectl, the container runtimes should  also support forwarding UDP ports, right now only TCP is supported in CRIO and Containerd for port forwarding

[2020-05-31 20:54] sehadnassim commented on #47862
so what is the equivalent to kubctl portforward for udp ports ?

Regards,
SEHAD Nassim

Le dim. 31 mai 2020 à 23:50, Antonio Ojea <notifications@github.com> a
écrit :

[2020-05-31 21:16] aojea commented on #47862
there is no one right now, just mentioning that if one person want to take on this, he should be aware that he has to implement the functionality in kubernetes (kubectl) and in the container runtime (dockershim, cri-o, containerd, ...) 😅

[2020-05-31 21:36] artbegolli commented on #59154
An update for anybody who's looking to generate crds and found this link dead - this feature has been added to controller-gen here - https://github.com/kubernetes-sigs/controller-tools/tree/master/cmd/controller-gen

Usage:

* `go get sigs.k8s.io/controller-tools/cmd/controller-gen`
* `controller-gen crd paths=<PATH_TO_TYPES_DIR>`

[2020-05-31 22:06] rnsv opened #91610 "Support for metadata information in JWT token created by ServiceAccountToken controller"
/sig auth
/sig api-machinery

**What would you like to be added**:
I would like the JWT token created by ServiceAccountToken controller to include optional labels from metadata

**Why is this needed**:
The JWT token created by ServiceAccountToken has namespace, pod name and sa name.  Adding metadata info like labels from the pod would help the relying party to get additional context information of

[2020-05-31 22:08] rnsv commented on #91610
/sig auth
/sig machinery

[2020-05-31 22:09] rnsv commented on #91610
/sig api-machinery

[2020-05-31 23:17] #91204 closed

[2020-05-31 23:20] liggitt commented on #91610
name and uid are immutable and can be used to look up pod info if needed. it's not clear that copying mutable pod attributes into authentication token claims is desirable

[2020-06-01 01:20] spiffxp commented on #91548
FWIW I scaled the pool around 3:30pm PT today (ref: https://github.com/kubernetes/k8s.io/pull/930#issuecomment-636540010)

[2020-06-01 01:21] dims commented on #91548
thanks @spiffxp

[2020-06-01 01:35] hasheddan commented on #91548
Thank you @spiffxp! Will continue to monitor and close if we stay green

[2020-06-01 01:35] jejer commented on #91601
We same similar issue on v1.18.3, one node cannot be scheduled for daemonset pods.
restart scheduler helps.

[2020-06-01 01:57] rnsv commented on #91610
I understand your concern.  What I am looking for is some context around the jwt token presented by the pod.  For example, the cluster-id and the environment in which the Kubernetes is running.
One possibility is to provide a static list of key-value as an option in the api server.
e.g --service-account-additional-claims mapStringString

[2020-06-01 02:20] ahg-g commented on #91601
Hard to debug without knowing how to repreduce. Do you have the scheduler logs by any chance for the failed to schedule pod?

[2020-06-01 02:21] ahg-g commented on #91601
Can you share what you noticed?

[2020-06-01 02:48] jejer commented on #91601
set loglevel to 9, but it seems there is nothing more interesting, below logs are looping.
[code]

[2020-06-01 03:16] TBBle commented on #81270
To be clear, this was fixed in 1.18 (#82333).

[2020-06-01 03:22] tringuyen-yw commented on #90066
[kubectl-neat](https://github.com/itaysk/kubectl-neat) plugin seems to solve this issue quite elegantly. Would it be possible to integrate `kubectl-neat`'s features set into `kubectl get` ?

[2020-06-01 04:06] tapih opened #91615 "JSON patch with kubectl has exponential time complexity for nesting depth of manifest"
**What happened**:

When updating a deeply nested CRD in a local k8s cluster with `kubectl apply`,
the command finishes after more than 5 minutes.
The CRD has a field like [`corev1.PodSpec`](https://godoc.org/k8s.io/api/core/v1#PodSpec).

I did a brief experiment for how the nesting depth of manifests affects computation time,
and found that JSON patch creation with `kubectl apply` has exponential

[2020-06-01 04:30] knight42 commented on #91404
@thockin Hi! I have filed a PR #91500 to resolve this issue, could you take a look?

[2020-06-01 04:42] zetaab commented on #91601
yeah I could not see anything more than same line

`no fit: 0/8 nodes are available: 7 node(s) didn't match node selector.; waiting`

[2020-06-01 05:42] yue9944882 commented on #91565
can you reproduce w/ flag `-v8` and paste your output to us? can't find any related code printing  `<invalid>` in the codebase..

[2020-06-01 05:42] #86797 closed

[2020-06-01 05:44] yue9944882 commented on #91503
/cc

[2020-06-01 06:02] xingfeng1234 commented on #90550
This problem has been repaired . I check the problem in v1.18.3.

[2020-06-01 06:10] xingfeng1234 commented on #90550
Sorry, the problem is still existing in v1.18.3.

[2020-06-01 06:11] tapih commented on #91615
/sig cli

[2020-06-01 06:13] xingfeng1234 commented on #90551
This's question just the result about [https://github.com/kubernetes/kubernetes/issues/90550](url)

[2020-06-01 06:43] #73365 closed

[2020-06-01 06:56] kadisi opened #91620 "Let kube-apiserver select an HTTP or an HTTPS connection based on kubelet's configuration"
**What would you like to be added**:

Currently `kube-apiserver` use the configuration of itself `--kubelet-https` to determine the use of https for kubelet connections.

If `--kubelet-https =true`, when apiserver initiates a connection to all kubelet, it USES the HTTPS connection. But this is the full configuration.

In some scenarios, a node node will be under an Intranet VPN and will only allow

[2020-06-01 06:57] #79904 closed

[2020-06-01 07:05] kadisi commented on #91620
/sig node

[2020-06-01 07:06] liggitt commented on #91620
The ability to disable TLS communication from the API server to the kubelet is deprecated. I would not anticipate enabling per-kubelet insecure settings as proposed.

[2020-06-01 07:23] kbruner commented on #70189
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the PR is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:31] kbruner commented on #59848
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:33] kbruner commented on #82021
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:35] kbruner commented on #82022
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:36] kbruner commented on #80916
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:38] kbruner commented on #75564
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:40] kbruner commented on #90510
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:41] kbruner commented on #82532
Hello from the bug triage team! This issue has not been updated for a long time, so I'd like to check what's the status. The code freeze is starting June 25th (about 4 weeks from now) and while there is still plenty of time, we want to ensure that each PR has a chance to be merged on time.

As the issue is tagged for 1.19, is it still planned for this release?

[2020-06-01 07:43] kadisi commented on #91620
@liggitt You mean the kube-apiserver will be canceled the `--kubelet-https` configuration in the future ?  and the kube-apiserver must initiate a connection to kubelet using TLS ?

[2020-06-01 07:49] tamalsaha opened #91621 "generic-garbage-collector can't cleanup clusterroles with managedFields set"
**What happened**:
I have a custom resource which is a controller for a ClusterRole that uses a PSP. When I delete the CR in foreground mode, I see the following error in kube-controller-manager logs.

`E0601 04:41:02.733015       1 garbagecollector.go:314] error syncing item &garbagecollector.node{identity:garbagecollector.objectReference{OwnerReference:v1.OwnerReference{APIVersion:"rbac.authoriz

[2020-06-01 08:25] fifman commented on #29540
Thanks so much! This solved my problem perfectly!

[2020-06-01 09:05] rubenstolk commented on #81584
Please...

[2020-06-01 10:24] tanjunchen opened #91623 "add kubectl config rename-cluster for rename clustername"
[code]

[code]
The **kubectl config rename-context  to rename the context name**, but i can't find that there is a way of changing the CLUSTER, can we add the command to do that?

[2020-06-01 10:24] tanjunchen commented on #91623
/sig kubectl

[2020-06-01 10:37] ayoubelmimouni commented on #60807
i fixed the problem by removing the finalizers lines using the:  `kubectl edit annoying-ns`

[2020-06-01 10:37] prankkelkar commented on #87197
@cyberrecon  Can you please share more details like kubernetes version used etc ?

[2020-06-01 10:39] #91623 closed

[2020-06-01 11:43] cyberrecon commented on #87197
NM I see the problem, from the Readme under build/debian-iptables

`Serves as the base image for `k8s.gcr.io/kube-proxy-${ARCH}` and multiarch (not `amd64`) `k8s.gcr.io/flannel-${ARCH}` images.`

I am running rhel7 on amd64

[2020-06-01 11:47] neolit123 commented on #82532
hi, yes this work will continue in the next cycle(s).
/milestone v1.20

[2020-06-01 11:48] #86805 closed

[2020-06-01 11:58] samof76 commented on #87917
I apologize, but any updates on this?

[2020-06-01 12:29] jeff-hillman commented on #91306
@rikatz I honestly have no idea when that is or how to join that.

[2020-06-01 12:36] armourshield commented on #43924
I am working in my local dev environment
[code]

I am using Jfrog Container Registry as registry to my minikube. I am able do the following:

 1. docker login localhost:443 | or | ip-add:443
 2. docker push ip-add:443/docker-local/test:latest
 3. docker pull ip-add:443/docker-local/test:latest

I have configured Jfrog Container Registry to run behind Nginx Reverse Proxy listening on port 443. Crea

[2020-06-01 12:42] rikatz commented on #91306
Great, let me point you to the right direction  and welcome to Kubernetes Community :)

Kubernetes development is organized into [SIGs](https://github.com/kubernetes/community/blob/master/sig-list.md) that deal with parts of interest into the Kubernetes ecosystem, like when you've assigned a Sig Network label it directed to folks that deal with the networking stuff from Kubernetes (CNI, Kube Proxy

[2020-06-01 13:04] aojea opened #91626 "Ginkgo timed out waiting for all parallel nodes to report back!"
**Which jobs are failing**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91527/pull-kubernetes-e2e-kind/1267430115185266689

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91606/pull-kubernetes-e2e-kind/1267429988513091584

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Last time I hit this same error

[2020-06-01 13:05] aojea commented on #91626
/sig testing
/cc @BenTheElder @spiffxp @liggitt

[2020-06-01 13:08] droslean commented on #89859
Closing this issue in favor of Ben's comment.
FYI @spiffxp @BenTheElder

/close

[2020-06-01 13:19] ahg-g commented on #91601
the strange thing is that the log message is showing the result for 7 nodes only, like the issue reported in https://github.com/kubernetes/kubernetes/issues/91340

[2020-06-01 13:23] ahg-g commented on #91601
/cc @damemi

[2020-06-01 13:27] droslean commented on #65013
/milestone v1.19

[2020-06-01 13:49] jayunit100 opened #91628 "Missing defaults and clarifying info for kube-controller-manager"
**What happened**:

In the KCM we're missing output about a few defaults, and probably a few of the options could use some clarity around `--allocate-node-cidrs` , `--cloud-controller-manager`, and i believe several other options have no `Default:` note, See
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/  for details.

**What you expected to happen**:

A

[2020-06-01 13:50] liggitt commented on #90510
yes https://github.com/kubernetes/kubernetes/pull/90191 is open to resolve this issue

[2020-06-01 13:50] jayunit100 commented on #91628
Controller manager issue, so i guess its api-machinery ? But also its a

/good-first-issue
/sig api-machinery

[2020-06-01 13:51] liggitt commented on #82022
no, removal has been retargeted at 1.22

[2020-06-01 13:52] liggitt commented on #82021
no, removal has been retargeted at 1.22

[2020-06-01 14:00] liggitt commented on #91610
is the issuer insufficient to identify the environment? custom claims configured per-environment aren't really what I would expect in a "standard" kubernetes service account credential

[2020-06-01 14:08] damemi commented on #91601
Note that in my issue, restarting the scheduler also fixed it (as mentioned in this thread too https://github.com/kubernetes/kubernetes/issues/91601#issuecomment-636360092)

Mine was also about a daemonset, so I think this is a duplicate. If that's the case we can close this and continue discussion in https://github.com/kubernetes/kubernetes/issues/91340

[2020-06-01 14:08] damemi commented on #91340
Similar issue reported in https://github.com/kubernetes/kubernetes/issues/91601

[2020-06-01 14:18] liggitt commented on #91620
Yes. That has been required since before 1.0. Not removing the obsolete `--kubelet-https` flag was an oversight.

[2020-06-01 14:34] zetaab commented on #91601
Anyways scheduler needs more verbose logging option, its impossible to debug these issues if there are not logs about what it does

[2020-06-01 14:38] neolit123 commented on #91620
from what i've seen, most serious customers and their security teams would demand TLS from your setup regardless of VPN.

[2020-06-01 14:41] dharmab opened #91629 "kubectl apply removes all imagePullSecrets when user attempts to remove duplicate secrets"
**What happened**:

Deduplicating a duplicate entry from the `imagePullSecrets` field causes the entire field to become `null`.

**What you expected to happen**:

The `imagePullSecrets` field should be the updated list instead of `null`.

**How to reproduce it (as minimally and precisely as possible)**:

1. Upload a container to a private registry (in this case, we'll upload the pause container to

[2020-06-01 14:42] dharmab commented on #91629
/sig cli

[2020-06-01 14:47] liggitt commented on #91620
Opened https://github.com/kubernetes/kubernetes/pull/91630 to clean up the apiserver flag

[2020-06-01 14:57] AnwarArifa opened #91631 "Connection to the server local host:8080 was refused - did you specify right host or port"
@Rahulwagh after restart my laptop unable to cluster using vagrant getting the below error

Connection to the server local host:8080 was refused - did you specify right host or port
_

Please advise

[2020-06-01 15:16] damemi opened #91633 "Do contextual logging for scheduler"
The kube-scheduler is currently difficult to debug through logs. Logging is inconsistent and sparse, and critically helpful information is in some spots logged at too high of a level to be practically accessible (such as [node scores](https://github.com/kubernetes/kubernetes/blob/b618411f1edb98afe807866fb3a607356d72ba24/pkg/scheduler/core/generic_scheduler.go#L703), which are `V(10)`. At this leve

[2020-06-01 15:17] damemi commented on #91601
@zetaab +1, the scheduler could use significant improvements to its current logging abilities. That's an upgrade I've been meaning to tackle for a while and I've finally opened an issue for it here: https://github.com/kubernetes/kubernetes/issues/91633

[2020-06-01 15:19] damemi commented on #91633
/kind cleanup

[2020-06-01 15:21] damemi commented on #91633
cc @ahg-g @Huang-Wei @alculquicondor @ingvagabund @ravisantoshgudimetla wdyt? To make sure our logging stays consistent I think it would be helpful to have some kind of design to point to

[2020-06-01 15:46] maxstr commented on #91545
It could be! I guess it depends on whether you think kube-proxy should support clusters with multiple CIDRs or not?

[2020-06-01 15:58] lavalamp commented on #73421
/reopen
/lifecycle frozen

[2020-06-01 16:00] xjtustt commented on #91565
@yue9944882
[code]

[2020-06-01 16:07] marosset commented on #70189
@immuzz can you comment on when we can expect a Windows fix for Windows Server 2019 that addresses the single file mount issues in containers when a target file already exists in the container?

[2020-06-01 16:08] joelsmith commented on #91507
/area security
/kind bug
/committee product-security
/sig network

[2020-06-01 16:08] marosset commented on #70189
@kbruner we are waiting on a Windows OS fix from Microsoft to proceed here. If that fix comes in time for us to validate this functionality in 1.19 we would like it to be included in 1.19.

[2020-06-01 16:09] rkojedzinszky commented on #82428
@liggitt I am not really sure that #91073 is the same, please my comments there.

[2020-06-01 16:12] joelsmith commented on #91542
Apparently the bot doesn't watch for edits to the description.
/area security
/kind bug
/committee product-security
/sig storage
/area controller-manager

[2020-06-01 16:28] ykakarap commented on #91628
@jayunit100 is the expectation to update the [reference docs](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/) with the `Default:` note for all the options applicable?

[2020-06-01 16:29] mcristina422 commented on #87736
Is this just a side effect of how `stringData` is a write only field of the API?

If so this should be documented. Maybe in
https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually

ref: https://github.com/kubernetes/kubernetes/pull/28263

@smarterclayton @liggitt

/remove-lifecycle rotten

[2020-06-01 16:33] kow3ns commented on #91465
/assign @mortent

[2020-06-01 16:34] kow3ns commented on #91514
/remove-sig apps

[2020-06-01 16:34] kow3ns commented on #91514
/sig api-machinery

[2020-06-01 16:39] kow3ns commented on #91276
/assign @kow3ns

[2020-06-01 16:39] kow3ns commented on #91235
/assign @soltysh

[2020-06-01 16:41] kow3ns commented on #91141
/assign @kow3ns

[2020-06-01 16:41] kow3ns commented on #91141
/assign @mortent

[2020-06-01 16:42] kow3ns commented on #90801
/assign @soltysh

[2020-06-01 16:45] kow3ns commented on #90669
/assign @tnozicka

[2020-06-01 16:46] soltysh commented on #89657
This is not a bug, you can't change the template after the job has been created.
/close

[2020-06-01 16:46] #89657 closed

[2020-06-01 16:47] kow3ns commented on #90607
/assign @kow3ns

[2020-06-01 16:48] kow3ns commented on #90588
/remove-sig apps

[2020-06-01 16:48] kow3ns commented on #90588
/sig node

[2020-06-01 16:50] kow3ns commented on #90519
/assign @kow3ns

[2020-06-01 16:53] apelisse commented on #90904
Here's a possible alternative solution that will make you both semi-happy (or most likely both unhappy).

We could fix the underlying issue in the next release (and cherry-pick it to older version) and disable errors in older versions. If we do that, we'll probably end-up finding exactly one bug per release and in a few years we'll maybe be bug free? :-)

But the good thing is that: we know 1.18 w

[2020-06-01 16:57] apelisse commented on #80916
A lot of things have been done for that, and we're continuing to work on this. We're really hoping to get this in 1.19 yes. Thanks!

[2020-06-01 16:57] lavalamp commented on #90904
Yeah, I can get behind that.

[2020-06-01 16:58] apelisse commented on #75564
We're working on this and hoping to be done in 4 weeks. No guarantees though.

[2020-06-01 17:06] apelisse commented on #90066
I don't believe that kubectl should decide which fields people think are important or not. kubectl is done to display the object as it is stored by the server. What we could do is print the `managedFields` as a more compact, one-line json format? I suspect we could also add another format option but since this would never be the default, I don't know how useful it would be.

[2020-06-01 17:09] towolf commented on #90066
No, that's worse. And again unwieldy like the thing this replaced.

[2020-06-01 17:11] tringuyen-yw commented on #90066
True, but giving a way for the user to filter out the info he/she doesn't need would improve significantly the user experience.

[2020-06-01 17:16] apelisse commented on #90904
@jpbetz who's looking at the errors

[2020-06-01 17:17] BenTheElder commented on #89859
@uablrek can you confirm if this is fixed in your environment? I'm still seeing this in https://github.com/kubernetes-sigs/kind/issues/1569

[2020-06-01 17:26] BenTheElder commented on #89859
/reopen

[2020-06-01 17:33] uablrek commented on #89859
I have build K8s from master and re-built my kernel without `CONFIG_NUMA` and I do not get zero cpu's, so yes for me the fix works.
[code]

[2020-06-01 17:42] Jefftree opened #91640 "[Umbrella Issue] Conformance Behavior Mappings"
KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/960-conformance-behaviors

PRs:
- [api-machinery](https://github.com/kubernetes/kubernetes/pull/91639)
- [apps](https://github.com/kubernetes/kubernetes/pull/91638)
- [network](https://github.com/kubernetes/kubernetes/pull/91647)
- storage
- [scheduling](https://github.com/kubernetes/kubernetes/pull/91646)
- common

[2020-06-01 17:47] Jefftree commented on #91640
/sig architecture
/area conformance

[2020-06-01 17:48] ZhiFeng1993 opened #91641 "Make failure for test-e2e-node"
**What happened**:
Build failed for `make test-e2e-node`
[code]

When I use a smaller number of `parallelism`, like: `make test-e2e-node PARALLELISM=1`, `Node disappear` error went away but build still failed.
[code]

**What you expected to happen**:
Build success.

**How to reproduce it (as minimally and precisely as possible)**:
Go to root directory and run `make test-e2e-node`

**Anything else

[2020-06-01 17:49] caseydavenport commented on #91545
My understanding is that kube-proxy doesn't support multiple cluster CIDRs of the same IP family today, which would make that particular aspect of this issue a feature request.

If it did, then I agree that FORWARD rules for each CIDR should be programmed to ensure pod traffic isn't dropped.

/unassign
/remove-triage unresolved
/remove-kind bug
/kind feature

[2020-06-01 17:53] ZhiFeng1993 commented on #91641
/sig node
/sig testing

[2020-06-01 17:54] zshihang commented on #86448
we can remount the volume every period < TTL in this case where `NodePublishVolume` will be called again.

[2020-06-01 17:55] resouer commented on #45509
Another effort tackling this issue: https://github.com/openkruise/kruise/blob/master/docs/concepts/cloneset/README.md#selective-pod-deletion

# CloneSet

This controller provides advanced features to efficiently manage stateless applications that
do not have instance order requirement during scaling and rollout. Analogously,
CloneSet can be recognized as an enhanced version of upstream `Deployment

[2020-06-01 17:56] ZhiFeng1993 commented on #91641
Cc: @bsdnet @alejandrox1

[2020-06-01 17:58] uablrek commented on #89859
Problem solved in `v1.19.0-beta.0`;
[code]

[2020-06-01 17:59] uablrek commented on #89859
/reopen

[2020-06-01 17:59] marosset commented on #78139
@Lagicrus can you share what Windows version/patches you are using by running winver.exe and sharing the output?

Are you seeing this when using container base images other than python:3.7?

Can you start containers on the same machine manually and, does `docker logs <container id>`  contain more info?

[2020-06-01 17:59] uablrek commented on #89859
Sorry hit the wronh button...

[2020-06-01 18:01] BenTheElder commented on #89859
hmm, I think for some reason we're not getting the fallback in my environment (kind)  in v1.19.0-beta.0.320+3fc7831cd8a704

[2020-06-01 18:03] champtar commented on #90259
Can people use 0.0.0.0:$NODEPORT instead of 127.0.0.1:$NODEPORT ?
Activating an insecure sysctls and trying to secure it seems wrong.

[2020-06-01 18:05] uablrek commented on #89859
Can you check the NUMA settings on your host running kind just to compare? (since in docker it is still the host kernel).
[code]
My config above, you may have some different setting.

[2020-06-01 18:05] rosscdh commented on #19475
+1

[2020-06-01 18:14] BenTheElder commented on #89859
[code]

[2020-06-01 18:17] lavalamp commented on #90066
I'm also a little reluctant to filter fields in `-o yaml`, as that's the easiest way to know the exact state of an object right now. If we add filtering, I think we need a `-o rawyaml` that doesn't filter. OTOH if we're going to end up with an additional format, why not leave `-o yaml` the way it is and add a short / filtered yaml output?

[2020-06-01 18:18] uablrek commented on #89859
Hm, I think your problem really is a kind problem. I think NUMA-enabled on the host would show inside docker to, since that is sort of the point with containers v.s. VMs; you use the same kernel.

[2020-06-01 18:18] itaysk commented on #90066
maybe hide it only in `describe` which is manipulating output anyway

[2020-06-01 18:20] lavalamp commented on #90066
Describe should definitely not show this. (except for maybe the update timestamp.) Does it right now? If so that's a bug.

[2020-06-01 18:20] BenTheElder commented on #89859
perhaps, except that kind does not do anything special here, and it's a regression that we now report 0 CPU where we previously reported non-zero CPU on the same host.

we should be falling back to the old detection mechanism if the new one reports an obviously bogus value, I thought we were doing that now, but we clearly aren't.

[2020-06-01 18:21] itaysk commented on #90066
sorry I didn't check..

[2020-06-01 18:22] BenTheElder commented on #89859
[code]
it does exist the same inside the container, I'm not familiar with this vfs though

[2020-06-01 18:23] uablrek commented on #89859
Yeah, you are right. And it should be simple; if zero cpus are detected -> do as `nproc` does.

[2020-06-01 18:25] tringuyen-yw commented on #90066
Kubernetes 1.18: `kubectl describe pod/mypod` does NOT display the managedFields. `kubectl get pod/mypod -o yaml` does show managedFields.

[2020-06-01 18:28] lavalamp commented on #90066
Great, that's what I expected. We should probably make it show the most recent update timestamp, I don't think we added that yet.

[2020-06-01 18:31] knight42 commented on #91565
@xjtustt this seems to be a clock drift issue.
you receive the response at `08:57:45.892210`, but the creationTimestamp shows that your report items was created at `2020-06-01T15:57:52Z` which I guess is `08:57:52` in your local time.  Therefore the duration turns out to be negative and kubectl display it as `<invalid>`.

[2020-06-01 18:50] rikatz commented on #88986
Still about Flatcar Linux with the updated kernel, it seems the 1s delay occurs in the following cases

- NodeA - 172.16.155.175
- NodeB - 172.16.155.177 - Where a NGINX container is running with ServiceIP 10.108.228.135 and also a NodePort 32054

* With the NodeA (outside the container) as the source, it happens when calling the ServiceIP 10.108.228.135 or the NodePort 172.16.155.175:32054. When

[2020-06-01 19:17] dick-twocows opened #91644 "Volumes subPathExpr not being expanded."
**What happened**:
Running https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath-with-expanded-environment-variables, specifically the subPathExpr section fails with "POD_NAME: command not found"

I have other cases where this is not working but this is a documentation example so I logged it aginst this one.

[code]
**What you expected to happen**:
The pod to be created and the ENV PO

[2020-06-01 19:29] iwankgb commented on #89859
@BenTheElder do you mind sharing VM configuration?

[2020-06-01 19:31] champtar commented on #90259
BTW does 127.0.0.1:$NODEPORT work with IPVS ? It's not working on my CentOS7 Calico cluster

[2020-06-01 19:37] dick-twocows commented on #91644
/sig volumes

[2020-06-01 19:39] dick-twocows commented on #91644
/sig cli

[2020-06-01 19:39] BenTheElder commented on #89859
It's not a VM, it's Google's internal workstation distro (roughly Debian
testing) on a physical machine, the Kubernetes node is then with
sigs.k8s.io/kind.

On Mon, Jun 1, 2020, 12:29 iwankgb <notifications@github.com> wrote:

[2020-06-01 19:56] uablrek commented on #90259
@champtar No it doesn't work with ipvs, please see;  https://github.com/kubernetes/kubernetes/issues/67730

[2020-06-01 19:59] jafferaws commented on #75457
I'm looking for a solution to this issue. I use Kube-aws  setup with ASG. The kubelet fails to start because of node-role.

Use Case:

 I want to keep the Same node label for Master and Worker nodes as I'm using in v1.15 .

When I tried to upgrade the cluster to V1.16 the  --node-labels is restricted to use  'node-role'

If I keep the node role as "node-role.kubernetes.io/master" the kubelet fails

[2020-06-01 20:17] liggitt commented on #90904
restoring compatibility for <= 1.18 versions, fixing known issues for >= 1.19 sgtm

[2020-06-01 20:19] champtar commented on #90259
0.0.0.0 doesn't work (it's also local).
wondering if we can make it work with ip rule / ip route but without route_localnet

[2020-06-01 20:36] iwankgb commented on #89859
@BenTheElder what CPU is this running on: consumer or server (I saw unusual behaviour on consumer CPUs up to OS reporting no NUMA nodes at all).

[2020-06-01 20:46] iwankgb commented on #89859
I'm not familiar with kind at all but as far as I understand it runs kubelet in a container. Where can I find list of mounts for this container?

[2020-06-01 20:46] R-omk commented on #68397
/remove-lifecycle stale

Moreover, I believe that he should respect PodDisruptionBudget,
because now the update process may disrupt maxUnavailable  countrer.

[2020-06-01 20:55] apelisse commented on #90904
OK So we definitely need to split things up, and I'd rather have changes properly isolated, even if it means we have a few cherry-picks to do. There are a few related problems here:
1. Clearing managedFIelds is not great today, and just broken for CRDs, we know how to fix that
2. We want to ignore errors tracking fields on updates (still fail for apply)
3. We want to fix the underlying issue, one

[2020-06-01 20:55] iwankgb commented on #89859
I guess that [this path](https://github.com/google/cadvisor/blob/37422b080b0a39d6822bb636680e1ba58758dda8/utils/sysfs/sysfs.go#L47) might not be available inside the container. If it's true then we can try to fix it in cAdvisor or it can be fixed in kind by mounting the directory.
I guess that first option is more backward compatible.

[2020-06-01 20:58] BenTheElder commented on #89859
- CPU: `Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz`
- No, that path does exist:
[code]
However, it should be quite apparent regardless that 0 CPUs is invalid, and that we should fall back to another detection mechanism if we detect 0 CPU...

[2020-06-01 21:06] MikeSpreitzer commented on #88986
@MikeSpreitzer

[2020-06-01 21:06] liggitt commented on #91073
You're correct, sorry about that... I misread the timeout message.

The error it is getting is coming from the server, which means kubelet -> apiserver connectivity is fine.

This message comes from the watch cache, which means the watch cache in the API server is behind where the kubelet's informer was, which is pretty surprising.

A few questions:
* Is there a single apiserver or multi-apiserver

[2020-06-01 21:07] BenTheElder commented on #89859
Er, and it runs the entire node in a container, from the kubelet POV it's ""on the host"" as far as that node is concerned, it's just that the host in this case is also a container.

I've just testing with hack/local-up-cluster.sh, I don't think this bug has anything to do with being in a container. It also fails with that running on the host there, I see zero cpu available.

[2020-06-01 21:07] liggitt commented on #91073
cc @jpbetz does this ring any bells?

[2020-06-01 21:09] BenTheElder commented on #89859
To be clear: I've now confirmed that with kubelet running _on the host_ on this machine (no kind involved) I face the same bug.

[code]

[2020-06-01 21:09] liggitt commented on #91073
cc @wojtek-t for eyes on watch cache

[2020-06-01 21:11] iwankgb commented on #89859
Yes, I agree that claiming that there are no cpus available makes no sense and must be fixed.
Could you list contents of `node0`? It would help us to understand what is wrong with NUMA parsing code, I believe.

[2020-06-01 21:13] khenidak commented on #91117
The intention in the code is to make it work. the implementation however has a bug i described here https://github.com/kubernetes/kubernetes/issues/91117#issuecomment-629379476

[2020-06-01 21:14] BenTheElder commented on #89859
ACK, thanks :-)

Here's the contents from the host:
[code]

[2020-06-01 21:24] apelisse commented on #59119
We do.

My understanding is that there is a difference between the manually written validation and the openapi extensions (patchMergeKey) semantics, so the patch (build by kubectl using openapi) and the create/update don't behave the same way.

Server-side apply will help address the apply case in the future, and probably solve the problem altogether if you server-side apply to create and update.

[2020-06-01 21:30] jpbetz commented on #91073
I don't think I've hit this problem specifically.  Since this could happen due to an etcd partition or due to a partition between a apiserver and etcd, so the questions asked in https://github.com/kubernetes/kubernetes/issues/91073#issuecomment-637102107 seem like the appropriate next step.

[2020-06-01 22:21] tedyu commented on #91641
Can you attach kubelet.log to this issue ?

Here is an example where kubelet.log can be found:

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/91453/pull-kubernetes-node-e2e/1267567098020761600/artifacts/tmp-node-e2e-ef969981-cos-77-12371-274-0/

[2020-06-01 23:13] liggitt commented on #91644
is the problem that you are using an unescaped `$` character in a shell invocation?

placing the value in a file and applying with ` -f /path/to/file` or escaping the $ character in the shell invocation would work better

[2020-06-01 23:16] #91644 closed

[2020-06-01 23:22] liggitt commented on #91621
Fixed in master in https://github.com/kubernetes/kubernetes/pull/90534 but needs cherry picking to existing releases.

/assign @apelisse

[2020-06-01 23:24] lucian521 commented on #74850
How to solve

[2020-06-01 23:26] apelisse commented on #91621
Thanks, I archived that task a little too fast.

[2020-06-01 23:30] MHBauer commented on #91641
This looks like a run on a local system or local VM and not remotely. Is that right?

The kubelet.log can be found with `journalctl -u kubelet-20200527T132159.service`.

I had an issue with swap preventing me from running locally.

[2020-06-01 23:36] alejandrox1 commented on #91641
/assign

@ZhiFeng1993 the first thing to check off: do you have swap enabled?
What do you see if you run
[code]
?

[2020-06-01 23:40] alejandrox1 commented on #91641
also, as you mentioned that you got this error
[code]

If you notice, there is this bit `--unit=kubelet-20200527T132159.service` hidden in there
can you post the output of this command please?
[code]

[2020-06-01 23:47] robscott commented on #47711
@sebgl Thanks for the detailed bug report! I'll try to recreate this scenario with some new tests.

/assign

[2020-06-02 00:20] painhardcore commented on #91552
Is there a way to make validation optional?

[2020-06-02 00:39] stuartpb opened #91652 "Cron job staggering / randomization / concurrency limiting"
**What would you like to be added**: CronJobs should have fields allowing for their start time to be randomized (as systemd's Timers have), or even distributed within a range to spread out in equal intervals with other CronJobs of a set. At the very least, it would be useful to specify concurrency policies like "do not run more than two Jobs with the selected annotation", so that scheduling will b

[2020-06-02 00:42] stuartpb commented on #91652
/sig apps

[2020-06-02 00:48] pretendhigh opened #91653 "authentication error when delete secret in etcd"
There is a secret that I can not delete it use "kubectl delete secret ceph-retain-bucket -n default". So I delete it in the  etcd.
[code]
Command "kubectl get secret -n default“ nolonger show the secret again. But the api-server show a error  log like:
[code]
I don not konw how to fix it.

**Environment**:
- Kubernetes version :kubernet 1.15.3
- etcd: 3.2.9
- OS : centos7.6

[2020-06-02 00:53] kadisi commented on #91620
@liggitt @neolit123 thanks

[2020-06-02 00:53] #91620 closed

[2020-06-02 01:03] pretendhigh commented on #91653
/sig Auth
/wg Policy
/committee Product Security

[2020-06-02 01:04] pretendhigh commented on #91653
/sig Auth
/wg Policy
/committee "Product Security"

[2020-06-02 01:04] pretendhigh commented on #91653
/sig Auth
/wg Policy

[2020-06-02 01:14] rnsv commented on #91610
In most traditional enterprises, the urls need to follow certain format, which makes it difficult to use the issuer url as way to identify cluster specific information

[2020-06-02 01:15] ZhiFeng1993 commented on #91641
@MHBauer
Yes this is a local run. I have a local Ubuntu box.

@alejandrox1
[code]

For kubelet service, I got this:
[code]

[2020-06-02 01:27] ZhiFeng1993 commented on #91641
I looked closely at the kubelet log and it looks like a swap file issue.
[code]

I turned off swap and although the test failed but the original errors went away!

[2020-06-02 01:35] ZhiFeng1993 commented on #91641
Now the error is:
[code]

[2020-06-02 01:57] cofyc opened #91654 "Revert assumed volume cache in Unreserve extension point"
This is part of #90962.

[2020-06-02 01:58] cofyc commented on #91654
/assign @mrkm4ntr

[2020-06-02 01:59] cofyc commented on #91654
/sig storage
/sig scheduling

[2020-06-02 02:09] mattjmcnaughton opened #91655 "Add unit test coverage using throttledImageService"
**What would you like to see added?**

Currently, executing the unit tests in `pkg/kubelet/images/...` does not
actually execute the `throttledImageService` as defined in
`pkg/kubelet/images/helpers.go`. For all unit tests, `qps` is set to 0, so we
essentially use a non-throttled image service. Examining the code coverage shows
that all code components "unique" to the throttled image service (i.e.

[2020-06-02 02:14] wenlxie commented on #79643
/remove-lifecycle stale

[2020-06-02 02:15] mattjmcnaughton commented on #91655
/sig node

[2020-06-02 02:23] tuananh170489 opened #91656 "Compatibility between coredns and kubernetes"
**What happened**:
CoreDNS v1.6.5 do not work properly with k8s v1.17.5
![image](https://user-images.githubusercontent.com/32832301/83472236-f633a300-a4b0-11ea-85cc-4701ef5d713a.png)

**What you expected to happen**:
CoreDNS v1.3.1 work flawlessly with k8s v1.15.11
![image](https://user-images.githubusercontent.com/32832301/83472348-3abf3e80-a4b1-11ea-87e2-b372ed86e0e0.png)

**How to reproduce it