[2017-10-23 18:42] jingxu97 commented on #48968
@wawastein https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/, this doc explained something related.
The problem you had seems like for some reason the pod is failed to delete quickly which causes volume cannot be detached. But this is not an issue for attach_detach controller since it can only trigger detach after pod is terminated.

[2017-10-23 18:47] spiffxp opened #54428 "[job failure] ci-kubernetes-e2e-gce-device-plugin-gpu failing"
/priority failing-test
/priority critical-urgent
/sig node
/area hw-accelerators

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-device-plugin-gpu has been failing since 2017-10-19
- last good: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu/800
- first bad: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/c

[2017-10-23 18:50] spiffxp commented on #54428
fyi @kubernetes/sig-scheduling-test-failures since you're [listed as the owning sig for this job](https://github.com/kubernetes/test-infra/blob/63c78503b8d644a28bb2c329548ecd030d93e3b2/jobs/config.json#L1616)

fyi @kubernetes/sig-node-test-failures since I think this was the sig label on the PR I suspect caused this

[2017-10-23 18:52] spiffxp opened #54429 "[job failure] ci-kubernetes-e2e-gke-device-plugin-gpu failing"
/priority failing-test
/priority critical-urgent
/sig scheduling
/area hw-accelerators

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-device-plugin-gpu has been failing since 2017-10-19
- last good: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-device-plugin-gpu/289
- first bad: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/

[2017-10-23 18:53] spiffxp commented on #54429
fyi @kubernetes/sig-scheduling-test-failures since you're [listed as the owning sig for this job](https://github.com/kubernetes/test-infra/blob/63c78503b8d644a28bb2c329548ecd030d93e3b2/jobs/config.json#L5646)

fyi @kubernetes/sig-node-test-failures since I think this was the sig label on the PR I suspect caused this

[2017-10-23 18:55] kevintpeng commented on #54425
/sig api-machinery

[2017-10-23 19:13] deads2k commented on #53825
You can actually encapsulate that inside of the dialer and `kube-apiserver` already passes a special dialer. See https://github.com/kubernetes/kubernetes/pull/54163#issuecomment-338260513

[2017-10-23 19:17] jim-minter opened #54430 "Have garbage collector use patch to update finalizers, not update"
When the garbage collector runs against an object which contains RawExtension fields, currently it will decode the nested object into an unstructured.Unstructured, then re-encode it when it posts an update.  This may have the side effect of changing the serialisation of the nested object (e.g. field orderings) and is more CPU and bandwidth intensive than is necessary.

It would be better if Patch

[2017-10-23 19:20] deads2k commented on #54430
/assign ironcladlou
/assign caesarxuchao

If it's just about writing a patch for finalizers, you should be able to do a json replace of the entire field and also assert a resourceVersion to avoid conflicting.

We should create a polymorphic `/finalize` subresource so that we can ACL these separately.

[2017-10-23 19:22] jim-minter commented on #54430
/sig api-machinery

[2017-10-23 19:31] sbezverk opened #54432 "Refactor RBD persistent volume to support namespace for user's secret"
Refactor RBD Volume Persistent Volume Spec so RBD PV's SecretRef
allows referencing a secret from a persistent volume in any namespace.
This allows locating credentials for persistent volumes in namespaces
other than the one containing the PVC.
/sig storage
/kind feature

[2017-10-23 19:39] dims commented on #54076
Please see discussion in the sig mailing list:
https://groups.google.com/d/msg/kubernetes-sig-api-machinery/bwJJ93qA99o/pRTVFaIlBAAJ

[2017-10-23 19:47] lavalamp commented on #54269
@smarterclayton already has a "alternative object representation" proposal which covers metadata, I think? But maybe it is not separately permissioned.

[2017-10-23 19:48] lavalamp commented on #54299
I don't understand why this is tagged api machinery?

[2017-10-23 19:49] lavalamp commented on #54301
cc @caesarxuchao

[2017-10-23 19:51] lavalamp commented on #54318
This looks like an API change, not an API Machinery change? Feel free to reset the label if I misunderstood.

[2017-10-23 19:52] lavalamp commented on #54332
@mbohlool to decide priority/next steps.

[2017-10-23 19:54] lavalamp commented on #54398
It makes sense to me that things should be 100% authoritative in staging, not 98%.

What about client-go?

[2017-10-23 19:55] lavalamp commented on #54423
Sounds right to me. Leaning towards 422.

[2017-10-23 19:57] lavalamp commented on #54425
The code probably tries to grab the IP before writing the service, which is the step when the name idempotency is checked. The business logic here is probably

/sig networking

[2017-10-23 20:08] yujuhong commented on #45419
I think the first step is to confirm what component (dockershim or docker/containerd) returned the error message.
You could probably figure this out by cross referencing kubelet and docker logs.

[2017-10-23 20:11] yujuhong commented on #45419
Yep. In your case, it looks like docker daemon actually hangs. You could start the docker daemon in the debugging mode and get a stacktrace when it happens.
https://docs.docker.com/engine/admin/#force-a-stack-trace-to-be-logged

[2017-10-23 20:12] msau42 opened #54434 "Volume topology aware scheduling API changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage

Tracker bug for StorageClass API changes as specified in kubernetes/community#1168

/assign

[2017-10-23 20:14] msau42 opened #54435 "Volume topology aware scheduling binding changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage

Tracker bug for scheduler and PV controller changes as specified in kubernetes/community#1168

/assign

[2017-10-23 20:21] cmluciano commented on #17571
/close

stale issue

[2017-10-23 20:21] #17571 closed

[2017-10-23 20:22] cmluciano commented on #31307
fixed in https://github.com/kubernetes/website/pull/5940

[2017-10-23 20:22] cmluciano commented on #31307
/close

[2017-10-23 20:24] cmluciano commented on #45126
This may be fixed in 1.7 with https://github.com/kubernetes/kubernetes/pull/52176 .

Please re-open if you experience the problem on 1.7

[2017-10-23 20:24] #45126 closed

[2017-10-23 20:26] #52882 closed

[2017-10-23 20:27] patricklawsongoogle commented on #47746
@kubernetes/sig-ui-misc

[2017-10-23 20:28] cmluciano commented on #51445
@tatsuhiro-t can you try this out with the master branch of k8s?

[2017-10-23 20:37] cmluciano commented on #54069
@kubernetes/sig-network-bugs

failing test

[2017-10-23 20:39] #38810 closed

[2017-10-23 20:39] #46410 closed

[2017-10-23 21:07] stevekuznetsov opened #54440 "kubelet: Image GC attempts to remove images in use by stopped containers"
**What happened**:
We are running some workloads and I use `kubectl describe` on a node and was met with an enormous wall of text from Image GC attempting to remove images that were still in use by stopped containers on the node.

**What you expected to happen**:
Image GC should either not attempt to do this or we should limit how spammy the message is coming out of it.

**How to reproduce it (as

[2017-10-23 21:07] danehans commented on #31307
@bboreham This Issue is now closed, but I fail to see the hostPort refactor that you mentioned on 9/20. Am I missing something?

[2017-10-23 21:08] stevekuznetsov commented on #54440
Output doesn't look too bad without line wrapping but those events take up a couple hundred lines of terminal space for me.

[2017-10-23 21:41] jingxu97 commented on #43991
I am thinking more related to static provisioning. If the limit is set, we should not (try to avoid ) bind PVC to a PV that exceeds the limit.

[2017-10-23 21:51] msau42 commented on #43991
Yes, I think it's very possible to add binding logic based on limit, that could avoid issues like binding a 100TB PV to a 1GB PVC.

But it's not going to change the fact that PVC:PV Is a 1:1 binding, and won't solve the OP's request to be able to split a single large volume amongst multiple PVCs.

[2017-10-23 22:01] ichekrygin commented on #15528
I think I hit this issue in `v1.7.6`
![profile001](https://user-images.githubusercontent.com/324803/31915360-0995434c-b803-11e7-8b78-de8231702c63.png)

[2017-10-23 22:09] smarterclayton commented on #54269
Unfortunately both list and watch can't use subresources, so we'd still
need another mechanism.

On Oct 23, 2017, at 3:47 PM, Daniel Smith <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> already has a
"alternative object representation" proposal which covers metadata, I
think? But maybe it is not separately permissioned.

—
You are receiving this because you

[2017-10-23 22:13] fraenkel commented on #54423
This looks like a 400 not a 422 since its a malformed patch document.

[2017-10-23 22:15] bsalamat commented on #54429
@jiayingz Is this expected?

[2017-10-23 22:40] dims commented on #54424
@ivan4th go for it. the debate can be on the PR :)

[2017-10-23 22:52] jimmycuadra commented on #44518
The pod's been running for 4 days now and I haven't seen any downtime. Whatever it was seems to have been resolved, at least in my case.

[2017-10-23 22:58] dims commented on #48924
/assign

[2017-10-23 22:58] dims commented on #48924
/close

[2017-10-23 22:58] #48924 closed

[2017-10-23 23:18] caesarxuchao commented on #49737
closed by https://github.com/kubernetes/community/pull/1008/files

[2017-10-23 23:18] #49737 closed

[2017-10-23 23:58] lavalamp commented on #54404
Doesn't this break dynamic configuration? Dynamic configuration isn't useful if you also need filesystem access to tweak kubeconfig files.

I also want to object to using kubeconfig files in this manner. In addition to the above, the names of the sections in kubeconfig files don't make much sense when they are used in this context; "users" and "name" are gibberish to me.

I am still digesting the

[2017-10-24 00:00] lavalamp commented on #54404
Ah, github showed me some new comments right after I said that.

This feature doesn't seem useful if it is not 100% dynamic.

[2017-10-24 00:08] jiayingz commented on #54429
Yes. We made a non-compatible API change in a recent PR on Kubernetes. Expect to resolve this soon after we update the device plugin side.

[2017-10-24 00:11] jiayingz commented on #54429
FYI, the test just turned green after Vish updated the device plugin side. I think we can close this bug now.

[2017-10-24 00:13] bsalamat commented on #54429
Thanks, @jiayingz!

[2017-10-24 00:17] dixudx commented on #54330
@medinatiger FYI kubernetes/release#446 bumps new CNI releases for deb/rpm packages.

[2017-10-24 00:19] ichekrygin commented on #15528
It appears restarting `kube-kubelet` or `docker` does not change the CPU usage issue.
It seems the only way to get it (`kubelet` cpu usage) back under control is to bounce `containerd`:
![profile010](https://user-images.githubusercontent.com/324803/31919304-3a7a0fa2-b816-11e7-82c3-a397a8443452.png)

[2017-10-24 00:19] jingxu97 commented on #34137
@cofyc, @vjsamuel @javefang @micahhausler  we continue to work on expose volume metrics in Kubernetes. Just want to collect more feedback on this. One question come up is whether users prefer to get volume usage information in
1) Inside of Pod stats, volume stats contains PVC reference (namespace, PVC name)
2) PVC stats is exposed separately from Pod. So the metric has PVC name (possibly PV name)

[2017-10-24 00:26] mbohlool commented on #54332
I can see `io.k8s.apimachinery.pkg.apis.meta.v1.Patch` in the latest spec but the schema is empty that can make problem for some generators. What do you generated from the spec? We do have kubernetes-client org with some clients already generated there and also kubernetes-client/gen repo that can be used for generating new clients. The gen repo has a pre-processing script that make the spec swagge

[2017-10-24 01:03] liggitt commented on #54404
No. Dynamic configuration for this doesn't exist today. This PR presumes knowledge of the credentials used to contact admission webhooks at start time, just as the current code does.

This PR allows for specific credentials for some services, and default credentials to be used for all others. This enables a wide variety of auth structures with minimal change and minimal API commitment, all of whic

[2017-10-24 01:04] superbrothers commented on #29322
https://github.com/kubernetes/kubernetes/issues/29322#issuecomment-234102427

@yissachar The above error does not occurs on v1.8.

[code]

---

https://github.com/kubernetes/kubernetes/issues/29322#issuecomment-236282692

https://github.com/kubernetes/kubernetes/issues/29322#issuecomment-283444545

@philk @n-rook The above error has been fixed by https://github.com/kubernetes/kubernetes/pull/48553

[2017-10-24 01:18] mkumatag opened #54447 "Remove unused files from test/fixtures dir"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
There are many files under `test/fixtures` folder which are not used by any of the tests which can be removed.

[2017-10-24 01:18] mkumatag commented on #54447
/assign
/sig testing

[2017-10-24 01:28] julianvmodesto commented on #51475
Seems like we want the --local flag.
On Mon, Oct 23, 2017 at 1:57 PM Guilhem Lettron <notifications@github.com>
wrote:

[2017-10-24 01:31] n-rook commented on #29322
I can confirm that the issue I reported is fixed in the release version 1.8.1. Thanks a lot!

[2017-10-24 01:32] chentao1596 commented on #54190
/cc

[2017-10-24 01:35] #53478 closed

[2017-10-24 01:39] #54349 closed

[2017-10-24 02:09] ichekrygin opened #54448 "Kubelet High CPU Usage"
kind bug

**What happened**:
`kube-kubelet` process runs with high (300%) CPU usage, resulting in delayed handing of pod creation and termination (possibly other issues as well).

**What you expected to happen**:
`kube-kubelet` runs with "normal" CPU usage. Granted I don't know what "normal" should be.

**How to reproduce it (as minimally and precisely as possible)**:
Start `kube-kubelet` and let

[2017-10-24 02:13] xaidanwang commented on #11355
I also want know how to create the secrets and attach it to "default" service account ?

[2017-10-24 02:17] dixudx commented on #54424
/assign @ivan4th

[2017-10-24 02:21] dixudx commented on #54448
/sig node

[2017-10-24 02:24] #51790 closed

[2017-10-24 02:34] #54447 closed

[2017-10-24 02:41] edify42 commented on #43753
I would like this clarified as well - I think the confusion stems from the fact that the Golang file is 'panics.go' which would imply an error/panic/exception has occurred

[2017-10-24 02:50] mikedanese commented on #50115
Sorry, this is a long thread and I haven't read the whole thing. What is the progress on the GCE cloud-controller-manager? Where is GetAllZones being called from? If the GetAllZones is being called central, then moving to node labels is orthagonal work to moving to node labels.

[2017-10-24 03:03] mikedanese commented on #54404
I don't necessarily agree with this. Where possible, configuration should be delivered through configmaps to cluster components running in deployments. If need dynamic at runtime config, we should consider defining policy objects.

[2017-10-24 04:06] divyenpatel opened #54453 "Failed to build hyperkube image - write error: Invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
failed to build hyperkube image

[code]

[code]

**What you expected to happen**:
hyperkube image should be built.

**How to reproduce it (as minimally and precisely as possible)**:
git clone kubernetes master, execute `make quick-release` and then build hyperkube image.

**Anything else we need to know?**:
Exe

[2017-10-24 04:07] divyenpatel commented on #54453
/sig release

[2017-10-24 05:02] saivarunr commented on #53539
@cmluciano Did my side of researc

[2017-10-24 05:11] xiang90 commented on #47131
watches against 3.1 servers when more than two thousand watches are in
flight for a single apiserver.

I believe there are some breakages in either etcd client or gRPC (the version we vendored) or both. We are actively testing and fixing this in etcd master. We will probably backport the fix to 3.2 client.

[2017-10-24 05:15] saivarunr commented on #53539
@cmluciano did my research on the issue, found the kube-proxy pod for the node on which these pods were deployed turned to **evicted** status

Service Spec:
Name:			frontend
Namespace:		default
Labels:			<none>
Annotations:		<none>
Selector:		app=frontend
Type:			LoadBalancer
IP:			100.64.241.208
Port:			ui	80/TCP
NodePort:		ui	31266/TCP
Endpoints:		100.96.6.2:4200
Port:			server	5000/TCP
NodePort

[2017-10-24 05:39] dixudx commented on #54368
Thanks @at1984z for finding this bug.

I did reproduce this.

The pod get stuck and cannot be evicted.

[code]

And `kubectl delete pod web-0` cannot delete it, even with `--force`.

[2017-10-24 06:54] xiang90 commented on #47131
@jpbetz

It would be great if we can get things https://github.com/coreos/etcd/issues/8711 done to rule out etcd issues.

[2017-10-24 07:17] kensupermen commented on #23726
I have this issues. This solution work for me:
[code]
If you don't have `admin.conf`, plz install `kubeadm`
And then remove `~/.kube/cache`
[code]

[2017-10-24 07:20] sttts commented on #54398
Waiting for @caesarxuchao. With manual tagging client-go is slightly different. But actually editing client-go's README can be done through staging as well. @caesarxuchao any concerns adding client-go to the list above?

[2017-10-24 07:48] #52254 closed

[2017-10-24 07:48] #53957 closed

[2017-10-24 08:07] tianshapjq commented on #54412
/cc

[2017-10-24 08:15] javefang commented on #34137
To us having the volume stats separate is easier for us to template the
Grafana dashboard. And knowing which pod mounted the PVC is good too so we
can link it to the pod.

Many thanks

Xinghong
On Tue, 24 Oct 2017 at 01:20, Jing Xu <notifications@github.com> wrote:

[2017-10-24 08:23] xialonglee commented on #54130
I tested it that using Go 1.9 to build `kubelet` and Go 1.9 fix this issue.

[2017-10-24 08:30] Dieken opened #54464 "kubernetes 1.8.1 can't label failure-domain.beta.kubernetes.io/region and failure-domain.beta.kubernetes.io/zone"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:

It should label successfully, this works on K8S 1.7.5.

**How to reproduce it (as minimally and precisely as possible)**:

As the commands above.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware

[2017-10-24 08:36] adrianlzt opened #54465 "Option to trigger image garbage collector by number of images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Image garbage collector could only be triggered by used disk percentage.

**What you expected to happen**:
Option to trigger image garbage collector by the number of available images.

**Anything else we need to know?**:
The partition used to store the images could be shared with other things, so it is difficult to se

[2017-10-24 08:36] adrianlzt commented on #54465
Related with #12760

[2017-10-24 08:45] dockerPractice opened #54467 "Is there no IP of kubernetes node?"
NAME        STATUS      ROLES        AGE         VERSION
master      Ready         master         3h           v1.8.1
node1       Ready         <none>       3h           v1.8.1
node2       Ready         <none>       3h           v1.8.1

root@master:~/yml/1# kubectl get service
NAME              TYPE        CLUSTER-IP    EXTERNAL-IP   PORT(S)          AGE
kubernetes        ClusterIP   10.96.0.1

[2017-10-24 08:47] adrianlzt commented on #54465
@kubernetes/sig-node-proposals

[2017-10-24 08:50] dockerPractice commented on #54467
즙딲즙딲

[2017-10-24 08:50] dwdraju commented on #39722
Having same problem and can't access kubernetes dashboard.

`Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-14T06:55:55Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.6-gke.1", GitCommit:"407dbfe

[2017-10-24 09:00] govint commented on #39657
Sorry if this seems like a few steps back, but why exactly will a user want to manage persistent volume snaps from within Kubernetes? Is it expected to track snapshot config and manage snapshot life cycle per volume in Kubernetes?  Isn't the storage provider the preferred location to manage snaps - both to track meta-data and to manage snaps? And the user being able to select the snap they want to

[2017-10-24 09:29] microwaves commented on #47222
This is not an abuse of Service, but a quite common and wide-adopted pattern, especially in the AWS world.

[2017-10-24 09:32] schaefec commented on #42544
Experiencing the exact same issue. Any news about the possibility to add the service name of the statefulset to the search list (as described by cap10morgan)?

[2017-10-24 09:42] karataliu commented on #50752
@luxas   We are now focusing on the v1.9 items listed in this issue.
Basically I'm now working on e2e test validation, by ensuring same e2e result for original cluster and cluster running with cloud controller manager. Things go well except for volume related cases. Thus now I'm concerned about progress on volume related work.
I just joined that workgroup, and will keep track on it. Thanks for the

[2017-10-24 09:43] billyteves opened #54469 "[AWS] Set CipherSuites in Kubernetes Service"
Is there a way to set specific cipher suite to be use in Elastic Load Balancing?
Right now, i am trying to set the cipher suite to use only the TLSv1.2 via AWS Console.
I was wondering if there is a way to set this up via service's annotation? Thanks!

Regards,

[2017-10-24 10:07] cy490761462 opened #54471 "Deleting deployment sometimes leaves orphaned pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/area controller-manager

**What happened**:
I use fabric kubernetes client v2.2.13 to delete deployment, but sometimes leaves orphaned pod.

**What you expected to happen**:
There should be no orphaned pod after a deployment is deleted

**How to reproduce it (as minimally and precisely as possible)**:
Just use fabric kubernetes client to d

[2017-10-24 10:15] porridge opened #54473 "100th percentile of e2e latency metrics are always zero"
/kind bug

**What happened**:

[code]

Note the **Perc100:0s** in each of the above.

**What you expected to happen**:

Either a useful number to shown (e.g. the max value across all the samples, or 99.9th percentile, in case 100th percentile's definition such that it's guaranteed to be zero).
Or the 100th percentile skipped altogether from the summary, since it's just noise.

**How to reproduce i

[2017-10-24 10:29] giacomolicari opened #54474 "failed to open log file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig aws
/sig architecture

**What happened**:
Deployment fails due to:
kubectl logs my_pod
failed to open log file "/var/log/pods/my_pod/my_container_5.log": open /var/log/pods/my_pod/my_container_5.log: no such file or directory

**What you expected to happen**:
Getting the Pod's log.

**How to reproduce it (as minimally and precisely as

[2017-10-24 10:46] xh3b4sd commented on #31345
For my interest, what is the actual state of this? I have the feeling people start to work around this and the current implementation just remains broken. Would be cool to get this sorted because lots of operators and controllers rely on reliable watches. Our own operators miss events regularly which  decreases the service quality overall.

[2017-10-24 10:54] giacomolicari commented on #50499
@hach-que did this work for you? I'm experiencing the same problem and opened an issue here: https://github.com/kubernetes/kubernetes/issues/54474

[2017-10-24 11:23] roffe opened #54476 "Deleting a static pod will not reset it's restart count"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When deleting a static pod created from manifests in --pod-manifest-path it's restart count does not reset

**What you expected to happen**:
Pod to come up with restart count 0

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I successfully reseted the restart

[2017-10-24 11:23] roffe commented on #54476
/sig scheduling

[2017-10-24 11:24] roffe commented on #54476
/sig api-machinery

[2017-10-24 11:32] tnozicka commented on #31345
@xh3b4sd I have a branch to switch watch.Until to informers or RetryWatcher depending on the usecase across kubernetes code base as part of fixing https://github.com/kubernetes/kubernetes/issues/40224

The relevant discussion (with old code) is here https://github.com/kubernetes/kubernetes/pull/50102#issuecomment-328495934

Hope to get some cycles to finish it soon.

/assign

[2017-10-24 11:37] roffe commented on #54464
Put string within quotes and i managed to label one of my nodes

[code]

[2017-10-24 11:37] roffe commented on #54464
[code]

[2017-10-24 11:41] roffe commented on #54464
Escaped slash worked fine as well

[code]

also without anything and just running your provided command it accepts it as well.
[code]

leading me to wonder if it might be something with your terminal replacing / with ~1

Also have you tried updating your client to 1.8.1 instead of alpha 1.8 and see if that resolves it

[2017-10-24 11:46] xh3b4sd commented on #31345
@tnozicka thanks for your fast response. I came across your PR and landed here in this issue. We currently have our own informer implementation to work around the problem but I do not really like to have a "home grown" solution for such things without community support. See https://github.com/giantswarm/operatorkit/tree/master/informer. I guess we could get traction during the official operatorkit

[2017-10-24 11:47] dims commented on #54453
Looks like a problem upstream : https://github.com/multiarch/qemu-user-static/issues/27

[2017-10-24 11:48] dims commented on #54453
@luxas - Any ideas?

[2017-10-24 11:51] xiangpengzhao commented on #47222
/reopen

[2017-10-24 11:52] xiangpengzhao commented on #47222
/assign
/reopen
for further discussion

[2017-10-24 11:52] xiangpengzhao commented on #47222
/reopen

[2017-10-24 11:58] deads2k commented on #54476
Static pods are owned by the kubelet.  The kubelet know the restart count locally and it also trusts the apiserver if the pod is present there.  I think this is behaving correctly.

[2017-10-24 12:01] roffe commented on #54476
I would like to contest that opinion. I have monitoring watching over the restart count and having to do this whole routin to reset the restart count is wrong.

[2017-10-24 12:01] nikhita commented on #54423
Created https://github.com/kubernetes/kubernetes/pull/54477.

[2017-10-24 12:22] tlyng commented on #50150
Ok, I encountered an issue with regards to PVC volumes again. Don't know if this is exactly the same, but it is all the situations I have access to atm. Yesterday I deployed a chart (gitlab) which allocates a couple of PVC's, today I upgraded the chart which caused a pod to be terminated and launched on another node. The volumes already attached to the first node then started to move over to the n

[2017-10-24 12:25] RobertDiebels opened #54478 "StateFulSet hangs on restart of containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Basic info**

Hi, I'm encountering a problem with Kubernetes StatefulSets. I'm trying to spin up a set with 3 replicas. These replicas/pods each have a container which pings a container in the other pods based on their network-id. The container requires a response from all the pods. If it does not get a response the container will fail. I

[2017-10-24 12:25] xtophs commented on #38893
Because deploy.sh is specific to gce and gke, federation e2e tests run [as documented](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#federation-e2e-tests) cannot run on Azure (or aws).

[2017-10-24 12:30] tlyng commented on #50150
Logs for waagent service (`journalctl -xu waagent.service`):

[code]

[2017-10-24 12:36] tlyng commented on #50150
Removed that extension from the VM and it progressed into "Succeeded" state, pod now up and running. Notifying CoreOS about the issue.

[2017-10-24 13:00] andyzhangx commented on #50150
So everything is ok? If it's OMSAgent issue, you could file a issue in https://github.com/Microsoft/OMS-Agent-for-Linux

[2017-10-24 13:06] vasili439 opened #54482 "--hostname-override ignored when --cloud-provider is specified"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:
Trying to start kubelet with --hostname-override=ip-172-28-68-60 but still see in the logs:
[code]
ps aux:
root      4610  3.3  7.7 404596 78320 ?        Ssl  12:58   0:00 /usr/bin/kubelet ...... --hostname-override=ip-172-28-68-60

**What you expected to happen**:
Hostname should be ip-172-28-68-60 instead of ip

[2017-10-24 13:21] tlyng commented on #50150
It looks OK, will try stressing the cluster later today (multiple pvc related requests). Does OmsAgent provide any required features? It apparently "updates" itself which is not what I prefer (I want to know what's running). My guess is that the agent worked when CoreOS built the image, but the update breaks it. I prefer to remove it if it can lock all nodes in "updating" state.

[2017-10-24 13:24] andyzhangx commented on #50150
I have no idea what omsagent does, I think you remove it first and file an issue to omsagent project. Just ping me if you have any azure pvc related issue, thx for the try.

[2017-10-24 13:28] ubhide commented on #54464
This is happening for any label that has a "/". For e.g. My helm chart has the following label:

chart/version: "1234"

I then get the error: Invalid value: "chart~1version": name part must consist of alphanumeric characters...

This only happens with charts that use apiVersion: rbac.authorization.k8s.io/v1
switching back to rbac.authorization.k8s.io/v1beta works again.

Note: I am using the 1.8.1

[2017-10-24 14:09] dims commented on #54482
Looks like you are hitting the code in NodeRestriction admission plugin:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/noderestriction/admission.go#L264

Some more info here:
https://kubernetes.io/docs/admin/admission-controllers/#noderestriction
https://kubernetes.io/docs/admin/authorization/node/

Do you want to see (at least as a test) if you get what you need when y

[2017-10-24 14:15] m-no-2017 opened #54486 "DNS keeping old service entries"
Short info:
- k8s v1.7.2 (soon going to v1.8.0)
- bare-metal
- OS: Ubuntu 16.04.03 LTS
- Kernel: 4.11 (lowlatency)

Kube-DNS image: <pre><code>gcr.io/google_containers/kubedns-amd64:1.9</code></pre>
Kube-DNSmasq image: <pre><code>gcr.io/google_containers/kube-dnsmasq-amd64:1.4</code></pre>
After I created some services (I'm speaking about the "holy trinity" heapster/grafana/influxdb) and changed t

[2017-10-24 14:20] rootfs commented on #52396
ping @andyzhangx any update? thanks.

[2017-10-24 14:20] shyamjvs commented on #53327
Renaming the issue to the original name. The scheduler issues got resolved.
I'm looking into it now - sorry for the delay.

[2017-10-24 14:24] aledbf commented on #54453
@dims https://github.com/multiarch/qemu-user-static/pull/28

[2017-10-24 14:36] thoraxe opened #54487 "Incorrect/missing SELinux labeling when using ConfigMap subPath"
/kind bug

**What happened**:
https://github.com/openshift/origin/issues/16951

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server XXX
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. Create a configMap:
[code]
2. Deploy a test pod, e.g. redis, and edit the deploymentConfig yaml to have:
[code]
3. `oc rsh` into the pod and `c

[2017-10-24 14:38] pweil- commented on #54487
@simo5 @php-coder FYI

[2017-10-24 14:53] andrewhowdencom commented on #48968
I managed to reproduce a similar condition in which I opened a shell inside the disk mount (where the container is chrooted), and started modifying stuff from the host.

I needed to do this because the disk was full, and I needed to clear some stuff but couldn't in the container as the process boot looped. But I deleted the container before leaving that shell (with the CWD being ${CHROOT_DIR})

Th

[2017-10-24 15:08] cmluciano commented on #53539
Node eviction is normally due to other applications on the node fighting for resources like CPU and Memory. Does this help at all?

[2017-10-24 15:10] shyamjvs commented on #53327
cc @porridge

[2017-10-24 15:22] cmluciano commented on #54486
@kubernetes/sig-network-bugs

[2017-10-24 15:28] aledbf commented on #54453
@divyenpatel @dims issue fix and image update. Please pull the image and run the hyperkube build again

[2017-10-24 15:30] cmluciano commented on #31307
@danehans You're right I missed the part about hostPort mapping refactoring in the kubelet.

[2017-10-24 15:32] cmluciano commented on #31307
@danehans You're right. AFAIK we have documented how to tie in the portmap CNI plugin, but we may not have refactored the code in the kubelet.

[2017-10-24 15:35] #54432 closed

[2017-10-24 15:37] smarterclayton opened #54491 "kubectl get pods should report last restart time?"
When a pod is being restarted, the time it last restarted is very relevant (if it was hours ago, I don't care).  We should consider some information being presented about how recent the restart is.

For example, real world example

[code]

I don't know when the time of the last restart was.  In this case it was 15 hours ago, so the 30 restarts actually doesn't matter.  The age is 21h, but that's n

[2017-10-24 15:51] juliohm1978 commented on #54491
Nice suggestion. If not to clutter the simplified output, I suppose it could be part of the contents from `-o wide`.

[2017-10-24 15:53] tatsuhiro-t commented on #51445
Will try.   Do you have any idea that a fix has been landed in master branch?

[2017-10-24 16:00] juliohm1978 opened #54492 "Kubelet "Error updating node status" appears when using keepalived on selected nodes"
I'm deploying keepalived on two of my nodes to provide HA for an nginx service that will be also deployed on those nodes. Both keepalived and nginx are independent daemonsets running privileged containers to interface directly with the node's network (hostNetwork: true).

Nginx is deployed successfully, and the issue persists if I remove it. So, I'm running into problems trying to get keepalived t

[2017-10-24 16:03] olethanh commented on #14232
Also have the issue, installed from https://github.com/kubernetes/contrib/tree/master/ansible

[2017-10-24 16:08] juliohm1978 commented on #54467
Is you grep command line really filtering what you need? This is the output from kubectl on my system:

[code]
So, grepping for "Addr" will give you the first line without any actual IP numbers.

[2017-10-24 16:13] divyenpatel commented on #54453
Thanks @aledbf @dims

Issue is Fixed.

[code]

[2017-10-24 16:13] #54453 closed

[2017-10-24 16:19] juliohm1978 commented on #54492
/sig area/kubelet

[2017-10-24 16:22] squeed commented on #31307
We're halfway there. People using CNI directly will already have portmap configuration passed through. This is not yet enabled for kubenet.

[2017-10-24 16:26] spiffxp commented on #54429
/close
lgtm

[2017-10-24 16:26] #54429 closed

[2017-10-24 16:27] spiffxp commented on #54428
/close
this is green now, presumably same fix as #54429

[2017-10-24 16:27] #54428 closed

[2017-10-24 16:27] at1984z commented on #54368
@dixudx I should clarify that with Deployments new pod instance gets created on an available node after tolerations notReady and unreachable expire but the old instance is not evicted from the lost node and it cannot be deleted either.

[2017-10-24 16:28] dims commented on #53358
Please switch off swap using `swapoff -a` or switch on the flag mentioned in the error message.

[code]

[2017-10-24 16:28] dims commented on #53358
/assign

[2017-10-24 16:29] dims commented on #53358
/close

[2017-10-24 16:29] #53358 closed

[2017-10-24 16:29] abgworrall commented on #28436
This relates to #24590

[2017-10-24 16:32] cablespaghetti opened #54494 "Error creating Flexvolume plugin from directory flexvolume"
/kind bug
/sig Storage

**What happened**:
After upgrading from v1.7.8 to v1.8.1 I can't get any FlexVolume plugins to work. Including the nfs plugin from here: https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/flexvolume

It seems to be trying to parse the bash scripts as JSON now.

**What you expected to happen**:
The plugin to be loaded and my volumes to be mounted.

**How t

[2017-10-24 16:45] saivarunr commented on #53539
@cmluciano is there a prescribed way of re-starting evicted pods, especially the pods of kube-system like kube-proxy? I had to restart the node itself!

[2017-10-24 17:00] abgworrall commented on #53886
Similar to #50866

[2017-10-24 17:13] shyamjvs commented on #53327
From the recent kubemark-100 [failed run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/5049), here's what happened for one such pod that was never deleted:

- The pod name was 'load-small-176-fddd8' and it was created while scaling up the corresponding RC ('load-small-176') as part of our load test (logs picked from [build-log](https://storage.goo

[2017-10-24 17:14] jiayingz commented on #54412
Thanks a lot for opening this issue, @ScorpioCPH

I think when we discussed the need for a device plugin stub, the main motivation is to test kubernetes device plugin support in vendor independent and os independent ways. The implementation of the device plugin stub is expected to live in the kubernetes repository. With these in mind, I would suggest we start with something simple, and describe th

[2017-10-24 17:16] cmluciano commented on #51445
I'd like to see if this changes with the fix from https://github.com/kubernetes/kubernetes/pull/53809

[2017-10-24 17:18] cmluciano commented on #53539
Check what is eating up the memory during the time that they were evicted. Evicted pods should land elsewhere unless there are conditions like taints, whereby this would depend on specific nodes being available.

[2017-10-24 17:18] cmluciano commented on #53539
Take a look here https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/

[2017-10-24 17:19] cmluciano commented on #53539
/close

[2017-10-24 17:19] #53539 closed

[2017-10-24 17:23] dims commented on #54482
/sig node

[2017-10-24 17:25] yujuhong commented on #15528
@ichekrygin, it'd be better to open an new issue since the original one was >2 years ago, closed, and probably doesn't have the same root cause.

/cc @dashpole, who's looking at cadvisor resource usage, which seems to be causing the big chunk in the profiles above.

[2017-10-24 17:29] MrHohn opened #54497 "Load kernel modules using init container in kube-proxy pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
Follow up of https://github.com/kubernetes/kubernetes/pull/52003. The mentioned PR mounts `/lib/modules` on host to the kube-proxy pod, so that a kube-proxy pod can load kernel modules by need or when `modprobe <kmod>` is run inside the pod.

Folks believed a better solution is to load kernel modules in init c

[2017-10-24 17:34] hongchaodeng opened #54498 "Provide capability to query all children resources"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

Currently for querying all children resources, a k8s user needs to define custom labelling. The problem comes to transferring knowledge of this labelling. For example, etcd operator might add labels `etcd_cluster=<cluster-name>` to etcd pods, services. But consumers of etcd operator needs to understand etcd operator's la

[2017-10-24 17:37] yliaog commented on #54236
i think Go 1.9 [Monotonic Time support ](https://golang.org/doc/go1.9#monotonic-time) should fix it, as reported and verified in the other issue [54130](https://github.com/kubernetes/kubernetes/issues/54130)

[2017-10-24 17:40] juliohm1978 commented on #54498
While it sounds reasonable, wouldn't we run the risk of dumping the entire etcd database with a single query, depending on the objects deployed and how they relate to each other?

[2017-10-24 17:43] sjenning opened #54499 "Pods moving from Succeeded to Pending"
After https://github.com/kubernetes/kubernetes/pull/53233, we observed pods moving from phase `Succeeded` to `Pending`.  Presents on master and release-1.8 as it was picked in https://github.com/kubernetes/kubernetes/pull/53422

[code]
test script
[code]
`oc` has an `observe` command for basically doing a CLI watch
[code]
or you can look in the kubelet log to see the phase transition from `Succeed

[2017-10-24 17:43] sjenning commented on #54499
/assign @dashpole

[2017-10-24 17:44] caesarxuchao commented on #54498
Off the top my head, we can do this in two ways:
1. Use the garbage collector's dependency graph as the ground truth. The drawback is the dependency graph has a latency.
2. Or we can add a `metadata.dependentsReference` field to each objects, and utilize the transaction support in etcd 3 to atomically create `ownerReference` and `depedentsReference`.

[2017-10-24 17:45] caesarxuchao commented on #54498
/sig api-machinery

[2017-10-24 17:54] abgworrall commented on #28720
@dasphole, this relates to node allocatable ...

[2017-10-24 17:55] bsalamat commented on #48649
The document is already added: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

[2017-10-24 17:55] #48649 closed

[2017-10-24 17:55] ichekrygin commented on #54448
This could be somewhat related to https://github.com/kubernetes/kubernetes/issues/15528

[2017-10-24 17:56] yujuhong commented on #54448
/cc @dashpole

[2017-10-24 18:00] bsalamat opened #54501 "Fix starvation problem in pod preemption"
The first version of pod preemption implemented in K8s 1.8 suffers from a known starvation problem whose details are explained [here](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#starvation-of-preempting-pod). The issue should be fixed.

/sig scheduling
/assign

[2017-10-24 18:00] enxebre opened #54502 "Routes continuously recreated on GCE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Routes are continuously recreated in loop

**What you expected to happen**:
Routes are created just once

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a Kube cluster on GCE using --cloud-provider=gce running on ContainerLinux
Check the controller logs

**Anything else we need to know?**:
Kubele

[2017-10-24 18:02] medinatiger commented on #54330
@dixudx Thanks.

[2017-10-24 18:03] dashpole commented on #54448
This looks like https://github.com/kubernetes/kubernetes/pull/49885.  You can see one the red path is getting "udp stats from proc".  I still need to cherrypick it back to 1.7, but the fix is in 1.8.

[2017-10-24 18:15] mattfarina commented on #52728
@thockin before I dive headlong into this I would like to know whose blessing I'd need. Don't want to do the work if this isn't going to fly.

[2017-10-24 18:19] jesseshieh opened #54505 "Nginx ingress controller closes chunked encoding requests on when configuration reloads"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is a BUG REPORT
/kind bug
/sig network
@kubernetes/sig-network-bugs

**What happened**:
We found that if you have a long request/response connection such as a chunked encoding response, the request is prematurely truncated when the ingress controller reloads the nginx configuration.

**What you expected to happen**:
We expected the connection to r

[2017-10-24 18:27] nathanleclaire commented on #52715
Thanks @luxas! I did notice that problem and turned swap off but the problem persisted. I was finally able to get (what seems to be) a working Kubernetes install by managing to install Canal in the critical window where the API server was up and the system pods were not evicted yet. I'll let you know if I get a chance to try out Docker 17.03 instead!

[2017-10-24 18:33] ncdc commented on #43753
@takama it goes to `stderr` because Kubernetes uses glog as its logging library, and glog writes logs to `stderr`.

Also, the log messages now come from `wrap.go` and not `panics.go` in the latest code.

[2017-10-24 19:07] JackDanger opened #54510 "[TINY] address minor TODO in test helper"
Fixed in #54258

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There is a TODO in a test helper that #54258 fixes. This is extremely minimal.

[2017-10-24 19:08] yujuhong commented on #54476
@roffe is there a reason why you choose static pods over DaemonSets? The features static pods support are limited.

One issue I can think of is that kubelet generates the UID of the pod based on the manifest "content" (see #43420). That means you'd get the same UID even if you remove and re-add the manifest file in the directory. This makes tracking restart count locally on the node sticky (i.e.,

[2017-10-24 19:38] jeffmhastings commented on #22839
It seems like kubectl looks at `metadata.deletionTimestamp`. That will be set when the pod is terminating.

[2017-10-24 19:40] luxas commented on #52715
@nathanleclaire There should not exist such a critical window. Please open an issue in kubernetes/kubeadm if you can reproduce that eviction thing with Docker 17.03 max

[2017-10-24 19:54] cmluciano commented on #54330
@dixudx Is this the fix needed to fix these tests?

[2017-10-24 19:55] jpbetz opened #54511 "Increase test coverage for HA failure modes"
/kind bug

Issues such as #47131 suggest our test coverage of failure modes for HA kubernetes configurations is insufficient.

This is a placeholder issue to review our existing test coverage, identify our most critical blind spots and propose a set of changes to improve our test coverage of HA failure modes.

cc @xiang90

[2017-10-24 20:04] paddypopeye opened #54512 "Ubuntu minikube kubectl no resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig CLI
/sig Cluster Ops SIG

**What happened**:
:/usr/local/bin# sudo minikube start
Starting local Kubernetes v1.7.5 cluster...
Starting VM...
Getting VM IP address...
Moving files into cluster...
Setting up certs...
Connecting to cluster...
Setting up kubeconfig...
Starting cluster components...
Kubectl is now configured to use the clus

[2017-10-24 20:08] jpbetz commented on #47131
cc @wojtek-t

[2017-10-24 20:09] jpbetz commented on #54511
cc @wojtek-t

[2017-10-24 20:13] xiang90 commented on #54511
The test plan is to ensure we can catch etcd/client issues under network partition or any transient failures.

We still need to ensure Kubernetes server uses the right version of etcd/client with right configuration. Also we might need to ensure the cacheing layer in k8s works well enough when the backend server is switched.

[2017-10-24 20:38] derekwaynecarr commented on #54084
This would be useful for quota monitoring.

See: https://github.com/kubernetes/kubernetes/pull/54320

[2017-10-24 20:41] MrHohn commented on #53921
LB tests are no longer failing on these jobs:
https://storage.googleapis.com/k8s-gubernator/triage/index.html#d6a4c017d4239fba6d58

/close

[2017-10-24 20:41] #53921 closed

[2017-10-24 20:44] antoineco opened #54514 "ConfigMap volume: do not mount empty dir when subPath is not found"
**What happened**:

When a ConfigMap volume is marked as **optional** and the corresponding `volumeMount` references a specific key with `subPath`, kubelet mounts an empty directory whenever that key is missing.

This would be fine without the presence of the `subPath`, however the user expects a file and not a directory in the scenario described. I noticed the behaviour after seeing an app crash

[2017-10-24 20:48] pipejakob commented on #54330
@cmluciano I actually think that https://github.com/kubernetes/release/pull/446 will take us in the other direction. During the kubeadm e2e tests, we use the deb packages built by bazel. During our official release process, we use the debs built by anago (in the release repo). Bumping CNI in our bazel build broken our e2e tests. Bumping CNI in the release repo scripts will similarly break our offi

[2017-10-24 20:50] anlunas commented on #42544
+1

[2017-10-24 20:54] timothysc commented on #54476
/sig node

[2017-10-24 20:58] roffe commented on #54476
@yujuhong Thanks for the reply!

I run controller-manager, apiserver, kube-proxy & scheduler as static pod manifests on the master nodes. The first instructions i started with from CoreOS over a year ago did it this and it has worked well for me since.

The apilb pod is actually something needed before the apiserver is avail since it does loadbalancing of the apiserver calls on the node itself and

[2017-10-24 20:59] derekwaynecarr opened #54515 "Collapse garbage collector graph builder and resource quota monitors"
Garbage collector and resource quota monitoring share a common pattern.  Each performs discovery, and then configures a monitor to observe changes on a set of resource types to drive behavior.  Ideally, each would share a common cache for things not backed by informers.  This issue is to track a future refactor to see if garbage collector and quota monitoring can share a common resource monitoring

[2017-10-24 21:05] lavalamp commented on #54404
OK, I can see how you'd put a kubeconfig file in a secret and mount that into the relevant pods.

My remaining hang-ups:
* kubeconfig files have confusingly named fields for this use. (solve w/ documentation, I guess)
* kubeconfig files are not easily machine editable.

Expanding on the second point:

Imagine I have two webhooks. WH1 adds a label to every object in the system, and WH2 does quota f

[2017-10-24 21:08] derekwaynecarr commented on #54515
/sig api-machinery

[2017-10-24 21:16] medinatiger commented on #54330
I think this issue worth some more discussion. Re-open the case as it might not be affecting kubeadm only

[2017-10-24 21:19] medinatiger commented on #54330
sorry, i cannot reopen the issue as it's closed by @luxas. But let's continue to discuss the option here.

[2017-10-24 21:27] clhodapp commented on #47264
Rather than manually duplicating the same content to multiple places, I've found that if you explicitly set both the alpha and the beta annotations to `null`, you can get the desired behavior out of the system in 1.7: initContainer updates will actually take effect and the actual API-level annotations will simply track the initContainers field.

[2017-10-24 21:31] caesarxuchao commented on #54398
Apart from README and LICENSE, client-go also has .travis.yml, CHANGELOG.md, and INSTALL.md that are not in staging.

Apart from the manual semver tagging, client-go should keep aligned with other repos.

client-go's docs currently needs a few updates. Given that robot is not running daily yet, I want to make one or two more direct merges before move the docs to staging. I'll report here when that

[2017-10-24 21:52] dashpole commented on #54499
taking a look. although at first glance it is strange this didnt happen with evicted pods prior to this.

[2017-10-24 22:02] sjenning commented on #54499
Thanks.  FYI, I did confirm that reverting the mentioned PR on master corrected the issue.

[2017-10-24 22:11] tereschenkov commented on #43991
@jingxu97 it was like 3-4 months ago, I don't remember what I did back then. Now I'm using https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs

It wasn't clear that PVC:PV is 1:1 binding (even now documents say nothing about 1:1 binding) and that I need to create PVC, not PV.

Back then I thought that I need to describe PV (link it to my AWS EFS) and then PVC can get some

[2017-10-24 22:18] binarybana commented on #53392
@wackxu, unfortunately that version change to the YAML does not fix the problem for me either:
[code]
To me it looks like the
[code]
error message points me to [this section](https://github.com/kubernetes/kubernetes/blob/73d1b38604d6f39ec77a94f0f411a46c765d1c4f/cmd/kube-apiserver/app/aggregator.go#L199-L228) where I don't see `scheduling.k8s.io` defined?

[2017-10-24 22:20] deads2k commented on #54404
kubeconfig files can be edited using scripts with `kubectl config *` commands.  They can also be edited in golang code using k8s.io/client-go and all client-go libraries in other languages already have to have parsing code for this file format, so it should be common outside bash and golang.

I look at this the other way around.  An apiserver pod has to identify itself to the admission webhook. It

[2017-10-24 22:31] r2d4 commented on #54512
Minikube issues should be opened in https://github.com/kubernetes/minikube

Minikube and kubectl should not be run with `sudo`

[2017-10-24 22:59] #54183 closed

[2017-10-24 22:59] #52871 closed

[2017-10-24 23:05] sjenning commented on #54487
related to https://github.com/kubernetes/kubernetes/issues/50345
/sig node

[2017-10-24 23:08] fejta-bot opened #54519 "pr:pull-kubernetes-kubemark-e2e-gce flaked 28 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce
 Flakes in the past week: **28**
 Consistency: **97.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 22 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-10-24 23:30] smarterclayton commented on #54499
This showed up breaking a job controller that depended on the pod not transitioning back to pending.  It's possible this can cause applications to fail / run multiple times in potentially dangerous ways.

I'm not sure we should allow a status update that moves back to a non terminal state via validation.  It's not a legal transition as we have defined phase.  We should separately put a guard in pl

[2017-10-24 23:39] lavalamp opened #54522 "Control plane bootstrapping order AKA we need a run-level concept"
### Background:

We are adding extension mechanisms to the Kubernetes control plane, initializers and admission webhooks. If e.g. the webhooks are configured but not actually running in the cluster, then the cluster is broken until an administrator can fix it. To make it possible to avoid this situation, we're going to let the webhook be gated on a selector matching the labels on the namespace con

[2017-10-24 23:40] spiffxp opened #54524 "[e2e failure] [sig-network] Networking Granular Checks: Services [Slow] should function for client IP based session affinity: udp"
/priority test-failure
/priority critical-urgent
/sig network

This test case has been failing for a while and affects a number of jobs: [triage report](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig-network%5C%5D%20Networking%20Granular%20Checks%3A%20Services%20%5C%5BSlow%5C%5D%20should%20function%20for%20client%20IP%20based%20session%20affinity%3A%20udp)

This is

[2017-10-24 23:46] shun-miyoshi-com commented on #54194
Please give me some comments.

[2017-10-24 23:46] dockerPractice commented on #54467
@juliohm1978
I've learned that how to make service using 'kubectl create' command and then connect to service port from Web browser to show my service. So I have to find address about each node, but I can't...
How can I do it?

[2017-10-24 23:53] magnushiie commented on #28924
As mentioned in https://github.com/kubernetes/ingress-gce/issues/39 I also think the right thing to do would be to allow declaring service health checks (not sure there needs to be 2 for readiness/liveness as services don't have start time) for clients of the service. This might be totally unrelated to the pod health check, e.g.:

* cheaper as all clients might want to do it, not only ingress, and

[2017-10-24 23:58] patrickshan opened #54525 "DeletionTimeStamp not set for some evicted pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When a node starts to evict pods under disk pressure, the DeletionTimestamp for some evicted pods are not set properly and still have zero value. It seems that pods created through Deployment are having this issue while pods created through DaemonSet have DeletionTimestamp set properly.

**What you expected to happen**:
P

[2017-10-25 00:00] patrickshan commented on #54525
@kubernetes/sig-api-machinery-misc

[2017-10-25 00:04] enisoc opened #54526 "GCE cluster can't start with basic audit enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Cluster startup times out. kube-apiserver never comes up.

**What you expected to happen**:

Cluster starts up.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

This seems to be caused by https://github.com/kubernetes/kubernetes/pull/53225.

The kube-apiserv

[2017-10-25 00:05] mariida commented on #54526
I meet the same error

[2017-10-25 00:56] jhorwit2 commented on #53451
/assign

[2017-10-25 01:09] #54424 closed

[2017-10-25 01:27] dixudx commented on #54368
@at1984z Yes. This is because `pod.spec.terminationGracePeriodSeconds` is set to a non-zero value, which keeps pods from being deleted gracefully.

Please refer to #54472 and [my comment](https://github.com/kubernetes/kubernetes/pull/54472#issuecomment-338944837).

[2017-10-25 01:28] davidstack opened #54527 "can host-path StorageClass support set volume base dir?"
I create the host-path StorageClass，add start parments  to kube-controller-manager
`    - --enable-dynamic-provisioning=true
    - --enable-hostpath-provisioner=true`

the StorageClass yaml file :
`kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
  namespace: bigdata
  name: hostpath
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "false"
  labels:
    kubernete

[2017-10-25 01:42] likakuli commented on #54214
@rootfs yes, every kubelet run with cadvisor,and i know what code 16 represent for,but i still don't know the reason, is this a bug? How can i avoid this kind of situation from happening,thank you

[2017-10-25 01:51] ScorpioCPH commented on #54412
@jiayingz Hi, leaving stub device plugin for e2e in the kubernetes repository is good to me.

The main idea of this proposal is `dummy device file`, which is responsible for `device representation`, so we can achieve vendor independent and os independent.

I think we can start with this and make one small step forward:
- implement `StubWorker` for e2e test with `dummy device file`.
- deploy some P

[2017-10-25 02:23] cy490761462 commented on #54471
@sig-cluster-lifecycle-bugs

[2017-10-25 02:27] smarterclayton commented on #54522
Also, a few other key extensions that would prevent bootstrapping at some
level:

1. moving service account tokens out of core into an extension project
would prevent pods that depend on control plane service account tokens from
working until the extension project starts and registers
2. flex volumes / CSI plugins provided by critical services (like the
above) and used by other critical services

[2017-10-25 02:41] smarterclayton commented on #54491
If we think RESTARTS is important enough to show in the normal columns, we
shouldn't force someone to call -o wide to make it be complete.  Restart
count alone isn't sufficient signal to make a decision.

On Tue, Oct 24, 2017 at 5:52 PM, Julio H Morimoto <notifications@github.com>
wrote:

[2017-10-25 03:06] tatsuhiro-t commented on #51445
Does it fix kube-proxy?  What we have observed is that default/kubernetes Endpoint is updated, but kube-proxy does not react to it, leaving iptables stale.

[2017-10-25 03:20] like-inspur commented on #53706
@embano1 I plan to install haddop on kubernetes with ambari，because I create pod with privileged，ambari server get ambari agent host information is acturally physical host information，not pod information。I have read url above this，but still cannot solve this problem

[2017-10-25 03:21] wackxu commented on #53392
@binarybana Yes, you are right, I have commit a pr to fix this.

[2017-10-25 03:32] dixudx commented on #54527
/sig storage

@davidstack Can not for now. `host_path` deleter has a **hard-coded regex for "/tmp"**. It only supports `/tmp` and removes the local directory so long as it is beneath `/tmp/*`.

[2017-10-25 03:33] stormltf commented on #51835
[code]

[2017-10-25 03:39] wackxu commented on #54213
@fasaxc @caseydavenport  I have verify ` service`  that using the same port name in two containers of the pod, there is nothing wrong, I think the doc are wrong.

[2017-10-25 04:26] Dieken commented on #54464
@roffe,  I tried again with my kubectl-v1.8.0-alpha.1.261+10a6b227b18824,  it failed.  Then I "brew upgrade" it to latest HEAD version and latest 1.8.0 (Homebrew doesn't have 1.8.1 yet),  both works,  so I close this issue, thank you very much!

@ubhide that's very weird,  roffe and I both use kubectl on Mac, you are on Windows,  but I don't think this is the cause,  no idea yet...

My "kubectl ve

[2017-10-25 04:26] #54464 closed

[2017-10-25 04:38] #52474 closed

[2017-10-25 04:46] dixudx commented on #54330
@cmluciano Yes, I think so

[2017-10-25 04:59] jiayingz commented on #54412
+1 for starting with something simple. We can implement a simple stub first that we may use to test the similar functionality as the existing device plugin e2e test and e2e_node test do, and then see how we may extend the stub to test more things.

[2017-10-25 05:24] k82cn commented on #54525
/sig node

[2017-10-25 05:36] andyzhangx commented on #52396
@rootfs I have checked current code logic, even if I changed CreateVolume func to `search storage account if not provided`, there would be no chance for customer to use this scenario, see https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_provision.go#L154-L159, there are two options to make it work:
1) change `Dedicated` kind behavior, let it use CreateVolume func dire

[2017-10-25 06:11] m1093782566 commented on #53636
/sig windows

[2017-10-25 06:27] mariusv commented on #19570
I get the same issue evenif everything works just fine and I can spin up new pods and delete just that `kubectl get cs` fails

Kubernetes version:
[code]

Error:

[code]

[2017-10-25 06:31] sttts commented on #54398
As 1.8.2 is tagged now, I want to start the new push today or tomorrow. @caesarxuchao are you able to do those changes tonight? Otherwise, I would prefer to proceed with the other repos and we align client-go after the push.

[2017-10-25 06:48] crassirostris commented on #54526
Thanks, looking into it

[2017-10-25 06:56] davidstack commented on #54527
OK， thanks

[2017-10-25 06:56] davidstack commented on #54527
ok,thanks

[2017-10-25 06:56] davidstack commented on #54527
ok,thanks

[2017-10-25 06:56] #54527 closed

[2017-10-25 06:58] vasili439 commented on #54482
Hi @dims

Thank you for your reply! I just tried to disable NodeRestriction plugin for apiserver and I broke my cluster (no worries it is a test cluster). First of all node ip-172-28-68-60 disappeared from node list and now I see:
[code]
kube-dns cannot start with the following error:
[code]
looks like that nodes what were already joined to cluster needs to be rejoined.

In the same time kubelet c

[2017-10-25 07:17] tengqm commented on #54522
/cc

[2017-10-25 07:18] roffe commented on #54464
@Dieken I don't use homebrew for that exact reason.

Follow the instructions on https://kubernetes.io/docs/tasks/tools/install-kubectl/ to download the latest binary

[2017-10-25 07:29] roffe commented on #54476
It struck me now that a daemonset will not work since the apilb pods have different env variables on them to configure keepalived. I guess I will have to try to modify the keepalived image somehow to fit this, but that's offtopic

[2017-10-25 07:37] resouer commented on #54501
@bsalamat I think it would be better to have a task tracker here to collect all PRs and designs.

Btw, this seems to be a candidate in 1.9, right? If confirmed, we need to add milestone and release note to the issue & PR.

[2017-10-25 07:43] roffe commented on #54476
@yujuhong your advice was faulty. i cannot have daemonsets in static manifests
[code]

[2017-10-25 07:58] #54286 closed

[2017-10-25 08:10] tengqm commented on #54412
/cc

[2017-10-25 08:21] #49613 closed

[2017-10-25 08:22] ShualLiu commented on #54014
I think it's better to add some annotation in command instruction. For example,
in "kubectl run -h ", we could remind users to use --record=true to record history.

[2017-10-25 08:23] yoo2767 opened #54540 "kubelet.servie fail to start up"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubelet.service fail to start up

**What you expected to happen**:
kubelet.service start up success

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
kubelet.service file
[code]
kubelet.service config file
[code]

**Environment**:
- Kubernetes version: 1.8.0
- Cloud provi

[2017-10-25 08:26] #54540 closed

[2017-10-25 08:27] yoo2767 opened #54541 "kubelet.service fail to start up"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet.service fail to start up

**What you expected to happen**:
kubelet.service start up success

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
kubelet.service file
[code]
kubelet.service config file
[code]

**Environment**:
- Kubernetes version: 1.8.0
-

[2017-10-25 08:29] yeaheo opened #54542 "kubelet.service fail to start up"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet.service fail to start up

**What you expected to happen**:
kubelet.service start up success

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
kubelet.service file
[code]
kubelet.service config file
[code]

**Environment**:
- Kubernetes version: 1.8.0
-

[2017-10-25 08:30] yoo2767 commented on #54542
kubelet service fail to start up ,I dont konw how to resolve it ,

[2017-10-25 08:33] wackxu commented on #54014
There already have annotation in  `kubectl run -h `
[code]

[2017-10-25 09:02] akdj commented on #45086
Sorry, no I haven't, for the moment I'm not working on kubernetes

[2017-10-25 09:08] wackxu opened #54546 "kubectl describe svc print wrong format of targetPort"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

 when using  `kubectl describe svc `, the TargetPort is wrong

[code]

**What you expected to happen**:

if the targetPort is string, show the name correctly.

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
-

[2017-10-25 09:08] RobertDiebels commented on #54478
@kubernetes/sig-apps

[2017-10-25 09:09] gyliu513 opened #54547 "`livenessProbe` need support multiple `httpGet`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I can only define `livenessProbe` with one `httpGet`, but sometimes I need to check multiple ports to make sure my app is running, so it is better enable `livenessProbe` can support multiple `httpGet`.

[code]

I know that I can call the cmd of `curl url1 && curl url2 && curl url3` to check the liveness of my app, but

[2017-10-25 09:11] ShualLiu commented on #54014
thanks

[2017-10-25 09:11] ShualLiu commented on #54014
@wackxu thanks

[2017-10-25 09:19] m1093782566 commented on #54054
/area kube-proxy

[2017-10-25 09:36] crassirostris commented on #53406
@huydinhle FYI, what you're referring to are not audit logs. Audit logs are described [here in the documentation](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/)

Using advanced auditing you can get the latency with ms precision by subtracting [`RequestReceivedTimestamp`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/audit/v1beta1/typ

[2017-10-25 10:00] m-no-2017 commented on #54486
Update:
RBAC seems to trigger this. Since the Kube-DNS is started with "system:serviceaccounts:kube-system:default" as ServiceAccount, there might be some sort of denial for service updates.

If I specify a superuser (e.g. cluster-admin) it works as intended.

_Sidenote_:
Kube-DNS (even with the new version v1.14.1) seems to ignore the second nameserver in /etc/resolv.conf.

To test it I changed t

[2017-10-25 10:00] #54486 closed

[2017-10-25 10:03] darkprisco commented on #53265
so, I didn't get if you solved or not.. I have the same problem.
Please let me know.
Tks

[2017-10-25 10:13] wojtek-t commented on #54511
I completely agree we need better testing coverage.

The main problem I can see is that no matter what we will do we won't cover everything. Basically the problem is that we will be testing scenarios that can happen in our environments (GKE, Openshift, etc.). But different people are using some custom setups and do things different and thus can face different problems.

But sure - we need better c

[2017-10-25 10:13] crassirostris opened #54551 "Advanced Auditing 1.9 umbrella bug"
This is a continuation of the work on the [Advanced Auditing feature](https://github.com/kubernetes/features/issues/22), that was tracked for 1.8 release in https://github.com/kubernetes/kubernetes/issues/48561

As discussed earlier, in 1.9 release API stays in Beta for stabilization. Here's the list of tasks for this K8s release:

## API-related changes

- [x] Add a policy-wide `OmitStages` field

[2017-10-25 10:14] wojtek-t commented on #54511
@jpbetz - note btw that we have some tests exercising some HA-failure scenarios internally for GKE

[2017-10-25 10:14] crassirostris commented on #54551
Feel free to add things I forgot or correct existing items

[2017-10-25 10:15] crassirostris commented on #48561
Thanks everyone for working on audit logging in 1.8!

Closing in favor of https://github.com/kubernetes/kubernetes/issues/54551

[2017-10-25 10:15] #48561 closed

[2017-10-25 10:21] vasili439 commented on #54482
I fixed the issue for me with:
[code]
but it just a workaround in my case. Doing --node-name during the cluster initialization wasn't fixed "kubelet ignore option `--hostname-override`"

[2017-10-25 10:24] CaoShuFeng commented on #54551
Do we still need this?
https://github.com/kubernetes/kubernetes/pull/49280#issuecomment-319711384

If so, I will do it.

[2017-10-25 10:28] crassirostris commented on #54551
@CaoShuFeng Thanks! That would help, added to the list of tasks

[2017-10-25 10:31] juliohm1978 commented on #54467
I'm not sure why your setup does not show ExternalIP. My installation is on baremetal and this value is automatically populated with the node's public IP address. This might be related to your host setup and your cloud provider.

Off the top of my head, I would recommend making sure the host nodes have public IP addresses. They should be at least visible to other machines in the same network.

[2017-10-25 10:38] crassirostris commented on #50076
WDYT about something like "audit context" -- object ref that would be populated by asynchronous servers like federation control plane that would specify, what object caused the request to be fired?

It could then be used in other controllers, e.g. DaemonSet controller could specify the DaemonSet object ref in the request to create/delete pods

[2017-10-25 10:48] wangxinxu411 opened #54555 "Statefulset with storage should select PVCs existed rather than only dynamic provide"
/kind feature

**What happened**:
create a Statefulset :
[code]
Accoding to the instruction that we only use volumeClaimTemplates direction if we want to use storage of statefulset pod.No matter use storageClassName to dynamic provide PV or use selector matchLabels,k8s always create a PVC
**What you expected to happen**:
use PVCs existed rather than only dynamic provide
**How to reproduce it (as m

[2017-10-25 10:52] wangxinxu411 commented on #54555
/sig storage

[2017-10-25 10:52] wangxinxu411 commented on #54555
/sig statefulset

[2017-10-25 10:55] wangxinxu411 commented on #54555
/architecture

[2017-10-25 10:55] wangxinxu411 commented on #54555
/sig architecture

[2017-10-25 11:08] janosi commented on #40908
Solution proposal: container definition in the pod definition would get a new attribute, for example "podRestartThreshold"
If 0= podRestartThreshold -> current functionality (default value)
If 0< podRestartThreshold -> if the container was restarted as many times as indicated in the value, the pod is restarted by the kubelet

[2017-10-25 12:51] valer-cara commented on #54149
Yes, an added error check is what I'm hoping for :)

I've used the [stable/redis](https://github.com/kubernetes/charts/tree/master/stable/redis) chart.

The PV/PVC were created manually, they're set to an empty storage class.

I should mention that I've also noticed other pods being terminated/recreated at the time this one failed, however I didn't trace the cause of this yet.

#### Pod
[code]

##

[2017-10-25 12:56] jsafrane opened #54562 "PersistentVolumeSource should be read-only"
/kind bug

Right now we do not validate PV updates so admin can update `PV.Spec.PersistentVolumeSource` at any time. Kubernetes has no facility to reflect this update - it won't magically re-mount an existing volume to e.g. a different NFS server. IMO the PersistentVolumeSource to be read-only and set to stone once created.

@kubernetes/sig-storage-bugs @kubernetes/sig-api-machinery-bugs

[2017-10-25 12:58] brancz commented on #53485
I've been running 1.8.2 for an hour-ish and it seems that the metrics/memory are not growing anymore. Will report again in a couple of hours and or tomorrow. By then I'll be confident saying that it's fixed.

[2017-10-25 13:07] sttts commented on #53485
That's very good news. Let's hope it stays like that.

[2017-10-25 13:09] wackxu commented on #54213
@caseydavenport @fasaxc I think the code is wrong. I deploy a pod with two same port name as follows
[code]
 Then I want to expose my pod through service that targetPort use port name so that we do not aware of the change of port, but it always use the first port as the endpoint and the second is always not be visited by this way.
[code]
`kubectl describe svc`
[code]
I will commit a pr to fix it.

[2017-10-25 13:12] php-coder commented on #54542
Is it a duplicate for https://github.com/kubernetes/kubernetes/issues/54541 ?

[2017-10-25 13:14] zjj2wry opened #54564 "test flake: kubectl describe serviceaccount unittest will test occasionally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind flake
/kind cli

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2017-10-25 13:15] zjj2wry commented on #54564
/kind test

[2017-10-25 13:17] zjj2wry commented on #54564
/kind cli

[2017-10-25 13:18] zjj2wry commented on #54564
/kind test

[2017-10-25 13:37] rootfs opened #54565 "can PDB work for DaemonSet?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE
/kind feature

**What happened**:
PDB doc doesn't explicitly explain if it can be applied to DaemonSet. But I think there is a use case for it and I cannot get it done by PDB.

In my use case, I have 3 ceph mon daemonsets running using node selectors. I set PDB for the ceph mon daemonsets. Then I removed node labels. All daemonsets were deleted

[2017-10-25 13:42] destijl commented on #51965
The person we originally had scheduled to work on this in Q4 isn't available. If one of the other people interested in KMS integrations can help push it forward to unblock things that would be great.

@khenidak @kksriram @stevesloka @mattmoyer

[2017-10-25 13:52] ianchakeres commented on #54562
/assign @ianchakeres

[2017-10-25 13:54] pires commented on #53142
hey @dims it's been a long while since I last contributed to the docs. i can do it soon but i need pointers on how to properly do it.

[2017-10-25 14:08] quanself opened #54566 "Sometimes the HBase cluster is normal, and it doesn't work properly after reboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-10-25 14:13] gnufied commented on #54562
I think it is a good idea to make the VolumeSource read-only but I am afraid ship has sailed in v1 and existing code/tooling that relies on the ability to modify PVs will break as a result of this change.

[2017-10-25 14:24] porridge commented on #54135
@nicksardo it's a bit crude, but you can get them with something like:

[code]

[2017-10-25 14:25] MansoorMajeed opened #54567 "Giving the wrong unit under resource limits is not erroring, instead the pod creation fails."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I specified resource limits with wrong unit. Like below
[code]
Instead of `Mi` I gave `m` under memory limits in the pod definition.  It didn't show any error while trying to create the deployment. But the container never came up. It was continuously in the `ContainerCreating` mode.

Checking the pod description didn't giv

[2017-10-25 14:25] baracoder commented on #6545
I am facing the same issue trying to connect to some VMs on azure from GKE via VPN.
Can someone clarify why the MASQUERADE is required in the first place? Shouldn't declaring a route on azure side for the podCidr be enough?

[2017-10-25 14:30] andyzhangx commented on #54149
thanks for the reporting, I may have found the root cause, just need a few more debuging time, thx.

[2017-10-25 14:31] rootfs commented on #52396
@andyzhangx see the [doc](https://github.com/kubernetes/examples/tree/master/staging/persistent-volume-provisioning#azure-disk), sku and location are search heuristics

[2017-10-25 14:37] dixudx commented on #54525
/assign

[2017-10-25 14:39] dixudx commented on #54567
/assign

[2017-10-25 14:43] dixudx commented on #54564
@zjj2wry any obvious evidences?

[2017-10-25 14:50] dixudx commented on #54541
/close

Dup of #54542.

[2017-10-25 14:50] #54541 closed

[2017-10-25 14:53] andyzhangx commented on #52396
@rootfs I know current code is a breaking change to the doc, I would like to work out a way to make the code consistent with the doc, seems like option#1 would be the least effort to make it work.

[2017-10-25 14:59] rootfs opened #54570 "wrong controller-master detection"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG
/kind bug

**What happened**:
[This line](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_blobDiskController.go#L546) is buggy.
[code]
It prevents running hyperkube from other path. In fact, it shouldn't assume the code is just running in controller master at all, especially when cloud provider is runnin

[2017-10-25 15:08] spiffxp commented on #54524
@kubernetes/sig-network-test-failures

[2017-10-25 15:11] rootfs commented on #54570
/assign @andyzhangx

[2017-10-25 15:11] spiffxp commented on #54524
[triage cluster 53cdeea7fa10ed3a866c](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Networking%20Granular%20Checks#53cdeea7fa10ed3a866c)
[code]

[triage cluster 87b694524eb439d53a6f](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Networking%20Granular%20Checks#87b694524eb439d53a6f)
[code]

[2017-10-25 15:13] spiffxp opened #54571 "[e2e failure] [sig-network] Networking Granular Checks: Services [Slow] should function for client IP based session affinity: http"
/priority critical-urgent
/sig network

This test case has been failing for a while and affects a number of jobs: [triage report](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig-network%5C%5D%20Networking%20Granular%20Checks%3A%20Services%20%5C%5BSlow%5C%5D%20should%20function%20for%20client%20IP%20based%20session%20affinity%3A%20http#87b694524eb439d53a6f)

This is a

[2017-10-25 15:14] spiffxp commented on #54571
@kubernetes/sig-network-test-failures

[2017-10-25 15:16] jsravn commented on #45976
We run a dnsmasq on every node which proxies/caches all dns requests. I think that goes a long way towards mitigating these sort of issues w/ kube-dns. Might be worth trying out if you're having problems w/ connection tracking overload.

[2017-10-25 15:24] spiffxp opened #54574 "[e2e failure] [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicaSet Should scale ..."
/priority critical-urgent
/sig autoscaling

This test case started failing recently and affects a number of jobs: [triage report](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig-autoscaling%5C%5D%20%5C%5BHPA%5C%5D%20Horizontal%20pod%20autoscaling%20%5C(scale%20resource%3A%20CPU%5C)%20%5C%5Bsig-autoscaling%5C%5D%20%5C%5BSerial%5C%5D%20%5C%5BSlow%5C%5D%20ReplicaSet%20S

[2017-10-25 15:25] spiffxp commented on #54574
@kubernetes/sig-autoscaling-test-failures

[2017-10-25 15:25] spiffxp commented on #54574
/priority failing-test

[2017-10-25 15:26] spiffxp commented on #54571
/priority failing-test

[2017-10-25 15:26] spiffxp commented on #54524
/priority failing-test

[2017-10-25 15:29] spzala commented on #54512
@paddypopeye this is an expected behavior and as @r2d4 mentioned you can still open a separate minikube issue as a new requirement if you want. If you are okay with that approach, it would be great if you can close this issue. Thanks!

[2017-10-25 15:30] darrylsepeda commented on #54542
I also have the same issue when the kubelet always show error status 1/FAILURE
[code]
is there any way to trace what makes this error?
or maybe is there any way to fix it?

[2017-10-25 15:31] spiffxp opened #54575 "[e2e failure] [sig-apps] Daemon set [Serial] Should adopt existing pods when creating a RollingUpdate DaemonSet regardless of templateGeneration"
/priority failing-test
/priority critical-urgent
/sig apps

This test case has been failing for a while and affects a number of jobs: [triage report](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig-apps%5C%5D%20Daemon%20set%20%5C%5BSerial%5C%5D%20Should%20adopt%20existing%20pods%20when%20creating%20a%20RollingUpdate%20DaemonSet%20regardless%20of%20templateGeneration)

[2017-10-25 15:37] MaciekPytel commented on #54574
@DirectXMan12 the moment this test started failing coincides exactly with merging of https://github.com/kubernetes/kubernetes/pull/53743. Which BTW is a very large commit to HPA which was not tagged with sig-autoscaling and therefore slipped us completely.

I think we should revert #53743 for now and merge it again after fixing it.

cc: @mwielgus

[2017-10-25 15:44] cmluciano commented on #54505
cc @aledbf

[2017-10-25 15:48] chenww commented on #42164
Same issue on k8s 1.8.1 with 15 nodes cluster. One of node not ready with lower resource usage. Docker ps is very responsive. Let me know if you need more info to troubleshoot.
`Allocated resources:
  (Total limits may be over 100 percent, i.e., overcommitted.)
  CPU Requests  CPU Limits   Memory Requests  Memory Limits
  ------------  ----------   ---------------  -------------
  1085m (13%)   51

[2017-10-25 15:50] fvigotti opened #54576 "kubernetes / multi master cluster, apiserver data divergenge"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubectl logs sometimes didn't work
fail with error: `Error from server (NotFound): the server could not find the requested resource ( pods/log xmr-b0v3d)` but not always.. , after investigation
I've found that for some pods, on one master servers for the same resource , ie :
( given a pod xmr-b0v3d in "default" namespace

[2017-10-25 15:53] khenidak commented on #51965
Hey @destijl I remember the work was split on 3 phases. Ending at v1.10, which is saving secrets outside etcd, and completely relay on external KMS to store secrets.

I am trying to understand what this feature exactly is? is this moving the in-tree current cloud provider Kms integration implementation to out-of-tree integration directly with apiserver? are we removing the old integration or keepi

[2017-10-25 15:53] smarterclayton commented on #54368
This is by design.  When a node goes "down", the master does not know whether it was a safe down (deliberate shutdown) or a network partition.  If the master said "ok, the pod is deleted" then the pod could actually be running somewhere on the cluster, thus violating the guarantees of stateful sets only having one pod.

In your case, if you intend the node to be deleted, you must delete the node o

[2017-10-25 15:55] smarterclayton commented on #54368
If you think that https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-identity does not clearly explain this behavior,

[2017-10-25 15:58] sttts commented on #54398
@eparis https://github.com/kubernetes/kubernetes/pull/54399 is going to be merged soon, @smarterclayton approved. Can you merge the PRs above (https://github.com/kubernetes/kubernetes/issues/54398#issuecomment-338636990) in the external repos?

[2017-10-25 15:59] cmluciano commented on #54524
cc @kubernetes/sig-network-bugs

[2017-10-25 16:06] vrobert78 commented on #42164
Hi,
we solved the problem using resources management: memory & cpu requests.

The orchestrator was missing good informations to select good nodes to run pods.
This was resulting in nodes with heavy loads.

Now, the pods are running more effectively on all nodes of the cluster and everything is fine.
So take a look at cpu & memory usage of your pods.

[code]

[2017-10-25 16:15] aledbf commented on #54505
@jesseshieh you can adjust the drain of connections in the workers adjusting the value of the setting `worker-shutdown-timeout: XXXs` in the configuration configmap. The default value is 10 seconds.
That being said keep in mind that the old worker processes (with pending connections) will stay alive. This means you will see an increase in the nginx memory consumption.

[2017-10-25 16:29] yujuhong commented on #54476
My advice was based on the information you gave BEFORE my last reply.

I was suggesting you to create a regular DaemonSet through the apisever. But since you need to have the pods running before the apiserver is up, using a DaemonSet is not possible.

[2017-10-25 16:33] jesseshieh commented on #54505
@aledbf thanks! Just to make sure I understand, if I set the timeout to something like 5 hours and the configuration is reloaded say every 60 seconds and there are no "long-running" connections, the workers should recycle themselves normally and quickly. It's only when there are "long-running" connections that old worker processes will stick around for potentially 5 hours and so the number of work

[2017-10-25 16:40] nikox94 commented on #42559
I can confirm I was having the same issue today running on GKE with cops, v.1.7.8.

I used the workaround of @dgpc.

One thing that I noticed is that kubefed does not clean up after itself on failure, it just crashes and then I had to manually go and clean out the Deplyments, namespace and service that was created by kubefed, so that I could rerun the kubefed init again. We should probably write l

[2017-10-25 16:41] sjenning commented on #54499
@dashpole after thinking on it, I think that the situation with eviction is a little different in the the containers are terminated but they are not immediately cleaned up.  It is the proximity between pod termination time and container removal time that is uncovering the issue.

AFAICT, some path is attempting to get the container status after the container has been removed.  When this fails, som

[2017-10-25 16:44] porridge commented on #52107
@shyamjvs what's the status of this?

[2017-10-25 16:54] MrHohn commented on #54571
Fix https://github.com/kubernetes/kubernetes/pull/53760 is opened but waiting for approval.

[2017-10-25 16:54] MrHohn commented on #54524
Fix https://github.com/kubernetes/kubernetes/pull/53760 is opened but waiting for approval.

[2017-10-25 16:59] aledbf commented on #54505
Yes

Yes

This is not something we can change because it is how nginx works.

I am not familiar with traefik, maybe you should ask in the traefik repository.

[2017-10-25 17:10] at1984z commented on #54368
@smarterclayton Why is the issue re-opened? Is it to fix the design and implementation or to fix documentation?

[2017-10-25 17:12] jesseshieh commented on #54505
Thanks! Sounds like there's nothing more to do here so I'll go ahead and close this issue. I'll re-open if this doesn't work. Thanks again!

[2017-10-25 17:12] #54505 closed

[2017-10-25 17:13] someword commented on #45976
@jsravn Are you able to describe your setup?   I have tested out a setup where I deploy kube-dns via a daemonset and bind it to docker0 interface.   Then set each pods /etc/resolv.conf nameserver entry to point to the ip of the docker0 interface.  I'm curious if this is what you are doing and if I should be aware of any gotchas.  We have not rolled this out to production because of fear of the unk

[2017-10-25 17:15] cmluciano commented on #54135
@kubernetes/sig-gcp-bugs

[2017-10-25 17:16] luxas commented on #54330
This will be fixed by https://github.com/kubernetes/kubernetes/pull/54573; @medinatiger this was due to the CNI binaries being extracted in the wrong place.

[2017-10-25 17:17] xiang90 commented on #54511
@wojtek-t

I would like to write down some test plan for exercise the interaction between k8s<->etcd3client<->etcd3 server under failure scenarios. We have some experience of doing that internally at CoreOS. But I have limited capacity to work on the plan myself.

Let me know if it makes sense to you.

[2017-10-25 17:21] jesseshieh commented on #54505
Just found this while searching for `worker-shutdown-timeout` so linking here for posterity/reference.
https://github.com/kubernetes/ingress-nginx/issues/1373

[2017-10-25 17:24] roffe commented on #54476
@yujuhong thanks for clearing that. I hope #43420 gets implemented soon.

[2017-10-25 17:38] dashpole commented on #54499
Here are the relevant logs showing the bug:
` status_manager.go:442] Status for pod "simple-mount-pod_e2e-tests-create-delete-pod-test-vprql(f8834113-b91d-11e7-a5fa-42010a800002)" updated successfully: (5, {Phase:Failed ...`
`kubelet_pods.go:864] Pod "simple-mount-pod_e2e-tests-create-delete-pod-test-vprql(f8834113-b91d-11e7-a5fa-42010a800002)" is terminated, but some containers have not been clea

[2017-10-25 17:40] kishorekumark opened #54578 "HPA failed with error "horizontal-pod-autoscaler failed to get cpu utilization"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
HPA failed wirh error "horizontal-pod-autoscaler                failed to get cpu utilization: did not receive metrics for any ready pods"
**What you expected to happen**:
Should autoscale  pods.
**How to reproduce it (as minimally and precisely as possible)**:
- Deploy a pod using kind deployment.
- Create a HPA for the

[2017-10-25 17:42] perotinus commented on #41963
I believe this was fixed by #46247.

/close

[2017-10-25 17:42] #41963 closed

[2017-10-25 17:44] #54330 closed

[2017-10-25 17:48] mtaufen opened #54579 "Feature Request: Allow openapi references in CRD validation schema"
Offline chat with @mbohlool: CRD validation schema doesn't currently support [references](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#reference-object). You can get around this by specifying all of the types inline, but it's extraordinarily verbose (and prone to typos).

[2017-10-25 17:51] gtaylor commented on #36847
What would the eventual fix for this involve? Will kubectl or the api server need to query the IDP for the missing bits?

[2017-10-25 17:52] kishorekumark commented on #46119
Same issue observed with version, even with "weight:1 "
{code}
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:57:57Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac0

[2017-10-25 17:59] ericchiang commented on #36847
@gtaylor from a pure OpenID Connect perspective I don't know if there's anything we can do. If the provider doesn't return the id_token in the refresh response, we have to fall back to whatever proprietary endpoints the IdP exposes.

I think the answer would be a webhook authenticator that goes around OpenID Connect and just uses the IdP specific endpoints, or a shim like dex.

[2017-10-25 17:59] paddypopeye commented on #54512
not to sure you noticed that i said
"same behaviour with or without the use of "sudo"

the same behaviour happens when sudo is not used

[2017-10-25 18:06] medinatiger commented on #54330
@luxas nice find!

[2017-10-25 18:09] #54512 closed

[2017-10-25 18:11] gtaylor commented on #36847
Bummer. I've sent feedback along to Okta about making this configurable on their end, but haven't had great results with their support as of yet. Fortunately, we can still manually renew for now.

Given your answer above, should we close this issue?

[2017-10-25 18:14] ericchiang commented on #36847
Yeah it's not fun that OpenID Connect makes this optional.

Still waiting for https://github.com/kubernetes/website/pull/5884 to merge to close the issue.

[2017-10-25 18:15] gtaylor commented on #36847
Ah, makes sense. Thanks for improving the error message. That'll definitely help our users be less confused while we figure out which way to go with this on our end.

[2017-10-25 18:19] spzala commented on #54512
Thanks @paddypopeye

[2017-10-25 18:22] grodrigues3 commented on #54567
/sig cli

[2017-10-25 18:23] grodrigues3 commented on #54566
@quanself this issue does have enough information to reproduce it nor is the problem well define.  please update the description and assign to the appropriate sig using the instructions from the above comment

[2017-10-25 18:24] grodrigues3 commented on #54564
/sig cli

[2017-10-25 18:26] grodrigues3 commented on #54491
@kubernetes/sig-cli-feature-requests

[2017-10-25 18:27] grodrigues3 commented on #54542
@kubernetes/sig-node-bugs

[2017-10-25 18:27] grodrigues3 commented on #54519
@kubernetes/sig-scalability-bugs
/kind test

[2017-10-25 18:28] grodrigues3 commented on #54519
/kind flake

[2017-10-25 18:28] grodrigues3 commented on #54519
@fejta any way we can get the fejta-bot to add the kind/flake label and detect the sig (and apply the sig label automatically)

[2017-10-25 18:29] smarterclayton commented on #54368
To fix the documentation (if it wasn't clear that this is desired behavior, I think that's a documentation gap).

It's also possible the stateful set should record a better message on the pod indicating that without a positive admin action it can't safely reschedule the pod.

[2017-10-25 18:30] grodrigues3 commented on #54510
/close

Since the PR that fixes this was merged.

[2017-10-25 18:30] #54510 closed

[2017-10-25 18:31] grodrigues3 commented on #54502
@kubernetes/sig-cluster-lifecycle-bugs @kubernetes/sig-gcp-bugs

[2017-10-25 18:32] grodrigues3 commented on #54546
@kubernetes/sig-cli-bugs

[2017-10-25 18:39] grodrigues3 commented on #54471
@k8s-mirror-api-machinery-bugs

[2017-10-25 18:39] grodrigues3 commented on #54471
@kubernetes/sig-api-machinery-bugs

[2017-10-25 18:40] grodrigues3 commented on #54469
@kubernetes/sig-aws-misc

[2017-10-25 18:41] grodrigues3 commented on #54383
@kubernetes/sig-api-machinery-feature-requests

[2017-10-25 18:43] grodrigues3 commented on #54371
@kubernetes/sig-cluster-lifecycle-misc

[2017-10-25 18:44] grodrigues3 commented on #54216
@kubernetes/sig-apps-bugs @kubernetes/sig-node-bugs

[2017-10-25 18:54] artushin opened #54580 "Intermittent timeout to service ip"
/kind bug

**What happened**:
We have several clusters on various k8s versions running on GKE. Intermittently, I see a `dial tcp: i/o timeout` or `dial tcp {ip}: i/o timeout` error from a certain pod to another pod.

**What you expected to happen**:
No network interruption.

**How to reproduce it (as minimally and precisely as possible)**:
Not sure, but any ideas are welcome.

**Anything else we n

[2017-10-25 18:54] sttts commented on #53829
As discussed today in the [sig-api-machinery meeting](https://docs.google.com/a/google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit?usp=drive_web) there are no objections to move forward to beta. @colemickens will add updates for that in the features repo.

[2017-10-25 18:56] adnavare commented on #52266
Hi @kyrias Can you please point out what document this description of ExternalName has been given?

[2017-10-25 18:56] rootfs commented on #54214
It is probably related to https://github.com/google/cadvisor/issues/771

[2017-10-25 18:57] artushin commented on #54580
/sig network

[2017-10-25 18:59] foxish commented on #54216
The annotation probably needs to be in the pod template under `.spec.template.metadata.annotations`.

[2017-10-25 19:02] liggitt commented on #54576
are you running with `--etcd-quorum-read=true`?

[2017-10-25 19:04] foxish commented on #54565
PDB would protect against removals when an eviction is attempted (through `kubectl drain` perhaps). What was the expected result here in your case? Was it that the label removal operation would fail? I don't think that's an intended use-case for PDB.

[2017-10-25 19:09] DirectXMan12 commented on #54574
I apologize for missing the SIG autoscaling label (although I'm surprised that the bot didn't complain about it).

I'll track down why it's failing.

[2017-10-25 19:11] masroorhasan commented on #54332
Thanks @mbohlool - looks like I missed the kubernetes-client/gen repo. My approach was to directly use swagger code gen to generate c# client from json schema `http://127.0.0.1:8001/swagger.json`.

Thanks for your response and closing this issue :).

[2017-10-25 19:11] #54332 closed

[2017-10-25 19:19] dashpole commented on #54499
Ok, I figured out why this is happening.  When we compute a container's status, we assume that [if it is not found, its status is ContainerCreating](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L1414).  So deleting a pod's containers before the pod object is removed causes the state to return to pending.

[2017-10-25 19:20] kyrias commented on #52266
@adnavare https://kubernetes.io/docs/api-reference/v1.8/#servicespec-v1-core

[2017-10-25 19:21] rootfs commented on #54565
Node label removal could be accidental, I would expect PDB offers protection against this case.

[2017-10-25 19:32] #53603 closed

[2017-10-25 19:32] #52676 closed

[2017-10-25 19:38] sjenning commented on #54499
Maybe we should expand this that I added to prevent init container status reset to include all containers with an oldStatus
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go?utf8=%E2%9C%93#L1427-L1430

[2017-10-25 19:52] davidopp commented on #54565
It's an interesting use case but as @foxish says PDB was only intended to protect against (voluntary) evictions. If you change labels then it should take that into account in determining whether an eviction (of pods that match the PDB's label selector) is allowed, but the API server won't block the label change.

Implementing what you're asking for would not be trivial, as today PDB is enforced by

[2017-10-25 20:01] bgrant0607 commented on #51965
Also ref https://github.com/kubernetes/community/pull/1134

[2017-10-25 20:01] DirectXMan12 commented on #54574
found the issue.  When you write your scaleTargetRef, it's important to actually specify an `APIVersion` field now (even if just the group, without the version).  It didn't matter before, but it was still poor form to just refer to `kind: ReplicaSet` without `apiVersion: extensions` (or `apps`).

[2017-10-25 20:01] DirectXMan12 commented on #54574
will have a PR in a couple minutes

[2017-10-25 20:10] aerostitch commented on #45086
Have you looked at #22445 or #25408 ? the underlying issue for this error is often one of those 2 (took too long to download or having too high download concurrency).

[2017-10-25 20:17] crassirostris opened #54583 "Bring all prom-to-sd container to the same image version"
Currently there are several, and some of them have problems with excessive logging

@loburm could you please do this?

[2017-10-25 20:22] grodrigues3 commented on #54155
@kubernetes/sig-apps-bugs

[2017-10-25 20:22] rootfs commented on #54565
thanks for the info

[2017-10-25 20:22] #54565 closed

[2017-10-25 20:23] grodrigues3 commented on #54119
/sig network

[2017-10-25 20:27] #54339 closed

[2017-10-25 20:31] krzyzacy commented on #49819
/close

[2017-10-25 20:31] #49819 closed

[2017-10-25 20:31] krzyzacy commented on #49819
all node jobs are on prow now :-)

[2017-10-25 21:27] at1984z commented on #54368
@smarterclayton Given the explanations above, I'd appreciate the answers to a couple of questions below.
1. Why do Deployment and ReplicationController behave differently from StatefulSet in the described scenario? Should an issue be filed against them? The network partitioning argument can be applied to them as well.
2. How will "Taint based Evictions" and "Taint Nodes by Conditions" features (se

[2017-10-25 21:43] adnavare commented on #52266
@kyrias thanks. Can you assign this to me? Or can i assign on my own?

[2017-10-25 21:46] DirectXMan12 commented on #54574
... aaand the `apps` API group doesn't set registry subresource versions correctly, so the group-version on scales returned by `apps` is `apps/v1beta2` (incorrectly).

[2017-10-25 22:02] DirectXMan12 commented on #54574
PR posted ^

[2017-10-25 22:16] #50150 closed

[2017-10-25 22:19] kyrias commented on #52266
I don't have permission to assign.  @dims might be able to help.

[2017-10-25 22:43] lavalamp commented on #54404
Not arguing with that. My point was that if you're storing these things in a secret and you want to add a section, you have to get the secret, extract the key to a file, mutate the file, repack it into the secret, and then send an update to the api. It's not safe for concurrent updates (PATCH) from two parties. Of course collisions should be rare if *humans* are always involved in the loop. But I

[2017-10-25 22:48] dashpole commented on #54499
Would that prevent updating a container that crashed and restarted?

[2017-10-25 22:50] dchen1107 commented on #54499
I added a comment at https://github.com/kubernetes/kubernetes/pull/54530#issuecomment-339497577.

[2017-10-25 23:01] dchen1107 commented on #54130
I am glad using Go 1.9 can fix the issue. But I don't understand why we have concern to restart Kubelet service to workaround the issue at the first place?

[2017-10-25 23:09] fejta-bot opened #54589 "Failure cluster [22b6a4...] failed 137 builds, 26 jobs, and 6 tests over 1 days"
### Failure cluster [22b6a466093eaf37f63f](https://go.k8s.io/triage#22b6a466093eaf37f63f)
##### Error text:
[code]
##### Failure cluster statistics:
6 tests failed,    26 jobs failed,    137 builds failed.
Failure stats cover 1 day time range '24 Oct 2017 22:03 UTC' to '25 Oct 2017 22:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cluster-lifecycl

[2017-10-25 23:09] fejta-bot opened #54590 "Failure cluster [53cdee...] failed 135 builds, 13 jobs, and 1 tests over 1 days"
### Failure cluster [53cdeea7fa10ed3a866c](https://go.k8s.io/triage#53cdeea7fa10ed3a866c)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    13 jobs failed,    135 builds failed.
Failure stats cover 1 day time range '24 Oct 2017 22:03 UTC' to '25 Oct 2017 22:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Network

[2017-10-25 23:09] fejta-bot opened #54591 "Failure cluster [15e19a...] failed 102 builds, 18 jobs, and 4 tests over 1 days"
### Failure cluster [15e19a36925410633f7f](https://go.k8s.io/triage#15e19a36925410633f7f)
##### Error text:
[code]
##### Failure cluster statistics:
4 tests failed,    18 jobs failed,    102 builds failed.
Failure stats cover 1 day time range '24 Oct 2017 22:03 UTC' to '25 Oct 2017 22:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Upgrade [Fea

[2017-10-25 23:20] juanvallejo commented on #51373
/assign madhusudancs

[2017-10-25 23:24] bgrant0607 commented on #52670
Ref #18451, #8992

[2017-10-25 23:26] dims commented on #52266
/assign @adnavare

[2017-10-25 23:28] dims commented on #52266
hmm, yes, bot disagrees. So, at least those who are looking at the comments will see it @adnavare

[2017-10-25 23:28] bgrant0607 commented on #52670
Probably nothing prevents the service controller from writing annotations via the service /status endpoint. Is there a reason to not do that for now?

[2017-10-25 23:30] adnavare commented on #52266
@dims  thanks. Can i submit a patch though?

[2017-10-25 23:36] thockin commented on #52670
No, annotations work, for now.  Just looking for patterns.

On Wed, Oct 25, 2017 at 4:29 PM, Brian Grant <notifications@github.com>
wrote:

[2017-10-25 23:44] caesarxuchao commented on #54383
It will actually be 6.0.0 because it's a breaking change. But bumping the major release in one week is insane.

[2017-10-25 23:51] liggitt commented on #54383
The API change I'm aware of (PSP AllowPrivilegeEscalation field changing to a pointer) fixes a regression of behavior caused by that field being added incorrectly in 5.0.0. If a 5.0.0 user started using that new field, they're depending on an API regression that was fixed in 1.8.1.

[2017-10-25 23:54] liggitt commented on #54383
With that perspective, the only client that is impacted by the API change here is using a new 5.0.0 field that has broken behavior in 5.0.0. I consider this a bug fix.

[2017-10-26 00:00] bgrant0607 commented on #53193
See also #38349

[2017-10-26 00:08] georgepoenaru commented on #23864
@bpulito  It's not only SIP, you'll also need for telemetry like MQTT and for other many erlang based distributed systems like couchdb, coucbase etc.

Even if IPVS will add support for port range load balancing signaling packets and media gateways still remain a problem for both SIP and MQTT protocols because the missing of session affinity mechanism.

If you control the clients then perphaps it's

[2017-10-26 00:16] bsalamat commented on #54501
@resouer We do have a task tracker for priority and preemption: #47604

I agree about milestone for the issue and the PRs. I don't have permission to add milestones. I guess I should request it.

[2017-10-26 00:27] dims commented on #52266
yes of course @adnavare

[2017-10-26 00:37] #53741 closed

[2017-10-26 00:37] #48995 closed

[2017-10-26 00:37] #51245 closed

[2017-10-26 00:37] #54404 closed

[2017-10-26 00:52] bruceauyeung commented on #54130
I think restarting kubelet service is not a good option

[2017-10-26 01:20] msau42 commented on #50115
GetAllZones is only called when dynamically provisioning GCE PDs.  Provisioning is invoked by the controller-manager.

So the conclusion is we should go ahead with the approach of using the Node's zone labels?

[2017-10-26 01:23] msau42 commented on #51431
/assign @davidz627

[2017-10-26 01:34] derekwaynecarr commented on #54499
i also commented here that it would be good if syncPod in status manager protected against an invalid transfer of phase...

see: https://github.com/kubernetes/kubernetes/pull/54530#issuecomment-339523225

can we do that in this same PR?

[2017-10-26 01:37] dashpole commented on #54499
My hope is to cherrypick this to 1.8.  Is that check something we want to cherrypick as well? @derekwaynecarr

[2017-10-26 01:40] derekwaynecarr commented on #54499
i dont see why not... absent that its hard to know this fix actually fixes it... or that we dont regress.

[2017-10-26 01:50] sjenning commented on #54499
@derekwaynecarr  do we want to do it in `syncPod` or `updateStatusInternal`? `syncPod` is on the other side of a channel where a stack trace on the caller of `updateStatusInternal` could be more informative.

[2017-10-26 01:54] liggitt commented on #54383
Yes, that was the only change:

https://github.com/kubernetes/client-go/compare/v5.0.0...release-5.0

https://github.com/kubernetes/api/compare/fe29995db37613b9c5b2a647544cf627bfa8d299...6c6dac0277229b9e9578c5ca3f74a4345d35cdc2

[2017-10-26 02:00] andyzhangx commented on #50150
thanks folks for the discussion, the fix has been merged into master and I will merge this fix into v1.7, v1.8

[2017-10-26 02:12] caesarxuchao commented on #54383
Yes. Thanks.

Published v5.0.1: https://github.com/kubernetes/client-go/releases/tag/v5.0.1

[2017-10-26 02:20] bradtopol commented on #53810
So I have been adding lots of conformance annotations to the [Conformance] tests in the e2e test suite. Here are some real world issues I ran into that are related to this issue:

In addition to make sure the comments have a test name and description it would be very helpful to  list all conformance tests that have no annotation comment associated with them and to also list if two tests have the s

[2017-10-26 02:38] derekwaynecarr commented on #54499
@sjenning both?  i just know that we get the latest state as told to api server on the other end of the channel...

[2017-10-26 02:44] linyouchong commented on #54555
I have make a test ,it shows that Statefulset select an existed PVC,the PVC's name must conform to [Service's Name]-[Statefulset's]index, e.g.  www-tomcat-0    www-tomcat-1

[2017-10-26 02:48] c-knowles commented on #51151
Are SRV queries for the port expected to work for externalName Services? Not sure if this is the right place to ask, I queried on [stackoverflow](https://stackoverflow.com/questions/43543014/kubernetes-service-externalname-with-port-dns-srv) previously. The reason I'd like that is so the port definition is centralised with the host rather than spread across multiple apps. i.e. make the port more d

[2017-10-26 02:50] zjj2wry commented on #54491
i thank we can add a column `LASTSTARTED`. alse it should be close to `RESTARTS` column

[2017-10-26 02:51] zjj2wry commented on #54491
/assign

[2017-10-26 02:59] zjj2wry commented on #53721
@smarterclayton can we add one line `Cordoned: true` when `unschedulable: true`, wdyt?

[2017-10-26 02:59] zjj2wry commented on #53721
/assign

[2017-10-26 03:06] dixudx commented on #54368
@at1984z This is because StatefulSet is designed to maintain a sticky identity for each of their Pods. These pods are created in ordered with the same spec, stable network identity and stable storage, but are not interchangeable: each has a persistent identifier that it maintains across any rescheduling.

But for deployments and RC, we don't apply such restrictions.

If the node is down or inacces

[2017-10-26 03:06] jordanwilson230 commented on #28969
I agree, and I'm not quite sure I understand how this is now no longer an issue, unless I missed something in the conversation. A recent experience while deploying a C* statefulset to my local Minikube environment  echos the concerns raised by @bbeaudreault above.  When deploying to a subnet shared by multiple namespaces (i.e., staging and production), Docker's sequential IP assignment (coupled wi

[2017-10-26 03:21] andyzhangx commented on #54149
/assign xiazhang

[2017-10-26 03:22] andyzhangx commented on #54149
/assign andyzhangx

[2017-10-26 03:30] guangxuli commented on #53616
/cc @xiangpengzhao

[2017-10-26 03:49] resouer commented on #54090
Let's split this task into several steps (thanks Yuju's advice):

[code]

[2017-10-26 03:53] arnold0617 opened #54601 "chown: changing ownership of ‘/var/lib/postgresql/data’: Operation not permitted, when running in kubernetes with mounted "/var/lib/postgres/data" volume"
I am running docker.io/postgres:9.6.5 in kubernetes, pod crash loop back off all the time.

I found this message in log, "chown: changing ownership of ‘/var/lib/postgresql/data’: Operation not permitted"

[2017-10-26 03:58] jordanwilson230 commented on #30656
+1 as this will prevent insecure workarounds we've unfortunately made a habit of (i.e., setting the runAsUser to root...and forgetting to revert the value when deploying public 😮 ).

[2017-10-26 04:03] zjj2wry commented on #52244
Fixed by #52245

[2017-10-26 04:03] #52244 closed

[2017-10-26 04:20] #54305 closed

[2017-10-26 04:20] #53392 closed

[2017-10-26 04:32] Amit-PivotalLabs commented on #48575
I stated in my issue that I sourced bash completion in my `~/.bash_profile`.  You (@superbrothers) stated that I need to source it from either `/etc/bashrc` or `~/.bashrc`, and then point to the help output which **does not** say anything about `bashrc` and in fact explicitly says to do what I'm already doing, which is to use `.bash_profile`.

@cblecker could you please re-open this issue?

[2017-10-26 04:35] cblecker commented on #48575
@Amit-PivotalLabs Is this still an issue with the latest version of kubectl? Can you provide fresh outputs, as well as the versions of kubectl, and bash? Can you also run a `brew upgrade` to ensure you have the latest version of bash_completion?

[2017-10-26 04:51] thockin commented on #6545
As long as you have appropriate routes set up on both ends, and that
includes the pod IP space (not just VM space) VPN should work.

On Wed, Oct 25, 2017 at 7:26 AM, baracoder <notifications@github.com> wrote:

[2017-10-26 05:14] stewart-yu commented on #54491
I think add a column `LASTSTARTED` need, keeping `RESTARTS` column also need. `LASTSTARTED` reflect short-term pod's status, `RESTARTS` reflect long-term pod's status recently. @zjj2wry

[2017-10-26 05:14] Amit-PivotalLabs commented on #48575
Sure.  On the first line below, I'm doing `kubectl<SPACE><TAB>` and you can see the output I'm getting.

[code]

[2017-10-26 05:42] Amit-PivotalLabs commented on #48575
Think I figured it out, I missed the part in the Examples section of the `kubectl completion -h` output which says to `brew install bash-completion`.  The completion kind of works even without this, e.g. `kubectl ap<TAB>` gives:

[code]

[2017-10-26 05:45] Amit-PivotalLabs commented on #48575
I'm able to complete other things without installing `bash-completion`, e.g `brew i<TAB>` gives:

[code]

so there's something I'm missing about how bash completion generally works, what additional stuff you get when you `brew install bash-completion`, and how `kubectl` uses that additional stuff, but for the purposes of this issue I don't have any further questions.

[2017-10-26 05:59] tengqm commented on #52190
test: PR #52616

[2017-10-26 06:10] #54236 closed

[2017-10-26 06:11] andyzhangx commented on #54570
@rootfs This code logic is to make sure the blobController only initialize once in controller-manager other than in other component, e.g. kubelet, do you have any suggestion to use similar implementation? Current design is azure pv code could only run in controller-manager.

[2017-10-26 06:15] #54383 closed

[2017-10-26 06:18] xingzhou commented on #54514
I think log the warning and ignore the volume mount shall be ok, I'd like to take a look at the issue.

[2017-10-26 06:41] wojtek-t commented on #54511
@xiang90 That would be great.

[2017-10-26 07:06] tengqm commented on #54100
Since #54019 has been merged, should we consider closing this issue?

[2017-10-26 07:09] buyID commented on #42542
we also want to set timeout 1 second for pods resolv.conf，hope to see support this options.

[2017-10-26 07:11] wackxu opened #54608 "kubectl describe priorityclass show the wrong format for value and GlobalDefault"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

`kubectl describe priorityclass`  show the wrong format for value and GlobalDefault

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwar

[2017-10-26 07:13] lrills opened #54610 "azureFile volume mode too strict for container with non root user"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Using azureFile volume after 1.8.x mount the share onto host with both dir_mode and file_mode options set to 0700, which was changed in this commit.
https://github.com/kubernetes/kubernetes/commit/4378c7ae8eb94b47db31b9846bf72a0e2e020270#diff-b99f7ac20a1bc605e253dfde484cee68

This disallow any container run with non root

[2017-10-26 07:14] lrills commented on #54610
/sig azure

[2017-10-26 07:19] tianshapjq commented on #54546
@wackxu could you paste more details about the Kubernetes Version and the yaml you used to create the service? I tried to reproduce this error but it worked fine in my environment.

[2017-10-26 07:26] wackxu commented on #54546
@tianshapjq use the master branch.

yaml
[code]
output
[code]

[2017-10-26 07:33] lichuqiang opened #54611 "Update validation to ensure requests of hugepages equals to that of limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A pod could be created with requests of resource Huge page, but no limits of it.
That breaks the restriction that requests of hugepages should be equals to that of limits.

**What you expected to happen**:
update validation to ensure requests of hugepages equals to that of limit

**How to reproduce it (as minimally and pr

[2017-10-26 07:34] lichuqiang commented on #54611
/sig node

[2017-10-26 07:35] ShualLiu commented on #43211
@JunejaTung My environment the  v1.6 has fixed the problem. I will recheck it later.

[2017-10-26 07:38] JorritSalverda commented on #26707
I think if we make sure the minimum number of pods for kube-dns is 2 or 3 instead of 1 and it gets a  `preferredDuringSchedulingIgnoredDuringExecution` `podAntiAffinity` with `topologyKey: kubernetes.io/hostname` it should be much more resilient already. I'm not sure if this works for single host clusters, but you shouldn't do that anyway.

We run GKE on top of preemptibles and kube-dns being unav

[2017-10-26 07:45] tianshapjq commented on #54546
@wackxu I'm not sure if the targetPort could be set to string type, looks like the targetPort here makes no sense of port1 for it doesn't point to an actual port. I think we have to validate this value rather than displaying the string. WDYT? @grodrigues3

[2017-10-26 07:51] wackxu commented on #54546
@tianshapjq It can be a string, you can see this https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2956-L2962

[2017-10-26 08:07] jejer commented on #41185
Same Here

[code]

[2017-10-26 08:18] #49761 closed

[2017-10-26 08:22] hzxuzhonghu commented on #54542
show logs related to kubelet use `journalctl`

[2017-10-26 08:32] tianshapjq commented on #54546
@wackxu thanks for your ref, I will try to fix this and pls let me know if any new progress :)

[2017-10-26 08:34] wackxu commented on #54546
@tianshapjq I have commit a pr https://github.com/kubernetes/kubernetes/pull/54548

[2017-10-26 09:10] andyzhangx commented on #53138
This issue is fixed in v1.7.9, while it's not in v1.8.x, I added a new cherry-pick PR: https://github.com/kubernetes/kubernetes/pull/54615

[2017-10-26 09:12] tianshapjq commented on #54546
@wackxu ok, thanks~

[2017-10-26 09:20] hzxuzhonghu opened #54619 "unit test case TestDescribeServiceAccount probabilisticly fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
unit test fail randomly.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Ker

[2017-10-26 09:21] hzxuzhonghu commented on #54619
I am working on it.

[2017-10-26 09:22] hzxuzhonghu commented on #54619
/sig cli

[2017-10-26 09:24] nikhita commented on #53829
/area third-party-resource
/cc @deads2k @enisoc @mbohlool @munnerz

[2017-10-26 09:25] hzxuzhonghu commented on #54619
/kind bug

[2017-10-26 09:38] dixudx commented on #54611
I don't think this is a bug. Please refer to [my comment](https://github.com/kubernetes/kubernetes/pull/54612#pullrequestreview-72130972).

[2017-10-26 09:43] nikhita commented on #38117
CRD validation is planned to move to beta in 1.9: https://github.com/kubernetes/kubernetes/issues/53829.

[2017-10-26 09:49] nikhita commented on #53829
Ref https://github.com/kubernetes/kubernetes/issues/54579.

[2017-10-26 09:50] ScorpioCPH opened #54622 "Can't start e2e service "kubelet" on local e2e_node test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I want to run `e2e_node` test on `local` (ubuntu) with this cmd:
[code]

**What you expected to happen**:

e2e_node test pass

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

After go into details I got this info:
[code]
I think e2e_node start kubelet by thi

[2017-10-26 09:51] nikhita commented on #54579
/area custom-resources
/cc @sttts @deads2k @enisoc @colemickens

[2017-10-26 09:52] ScorpioCPH commented on #54622
/sig testing

[2017-10-26 09:55] dixudx commented on #54610
/assign @andyzhangx

[2017-10-26 10:04] thkoch2001 commented on #53727
Hi Dimitrios,

I see that your similar support case with Google Engineering support has been closed. Therefor I think this issue can also be closed.

[2017-10-26 10:08] sttts commented on #54579
We were chatting about this idea before. Basically, we need a reference namespace for our API groups, something like `apps.k8s.io/v1.StateFulSetSpec` (whatever the actual syntax is).

One note about this: the apiextensions apiserver is not coupled to kube-apiserver right now and shouldn't be in the future. How does apiextensionsapiserver know about the specs of the types of other groups? The aggre

[2017-10-26 10:37] fvigotti commented on #54576
yes :)
I'm still trying to understand why kubelet restart seems to resolve the issue ? even if then I've found other /log urls missing, again then a restart seems to resolve, but then again.. seems that sometimes those /log urls are missing on some master-nodes ,

does those urls are ridden from kubelet instead of etcd from the apiserver?

what I can do to further investigate the problem ?

thank

[2017-10-26 10:42] itmard commented on #30558
We have this issue and I want a tool to easily update configmaps create from directory and files.

[2017-10-26 10:45] fwynyk commented on #53526
Hi, same problem here. Trying to create a service with helm, both 80 and 443 ports using same targetPort, and got this error:

`Error: UPGRADE FAILED: failed to create resource: Service "#####" is invalid: spec.ports[1].targetPort: Duplicate value: intstr.IntOrString{Type:0, IntVal:8000, StrVal:""}`

[2017-10-26 10:53] edevil commented on #34278
What is the current status of this problem? I'm running 1.7.5 with the Kubenet plugin and have run out of IPs because they were not GCed.

I see that the plugin.ipamGarbageCollection() call is still there on the SetUpPod() code but is now guarded by a SupportsLegacyFeatures() condition. This condition is not true in my case since I see no "Starting IP garbage collection" messages in the log.

[2017-10-26 11:20] andyzhangx commented on #54610
I would like to set the mode as 777, @cosmincojocar let me know your concern about this, thx.

[2017-10-26 11:25] wackxu opened #54624 "kubeclt describe pod not show priority when use pod priority"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubeclt describe pod do not show priority of pod when we use pod priority, we do not see the priority of pod and it makes us confuse.

**What you expected to happen**:

show the priority of pod when describe pod

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
-

[2017-10-26 11:44] deads2k commented on #53829
Agree.

[2017-10-26 11:45] utsav2307 opened #54626 "node name override"
I am creating external load balancer in AWS using kubernetes, for that i provided --cloud-provider=aws option in my kube-apiserver, kubelet and kube-controller manager, and everything worked fine. But I noticed the name of the nodes, now Kubernetes is setting nodename by the node's IP like "ip-xx-xxx-xx-x.ec2.internal". Earlier it was proper hostname which i provided in kubelet as "--hostname-over

[2017-10-26 11:47] utsav2307 opened #54627 "Permissions for creating external load balancer in AWS"
What are the exact AWS permissions needed by master server to create an external load balancer for the service?

[2017-10-26 11:52] adrianchifor commented on #45086
@aerostitch Thanks for the pointers. We eventually fixed it on our end; was mainly caused by us disabling IPv4 forwarding and a low hard limit of processes on k8s nodes hardening.

[2017-10-26 11:56] deads2k commented on #54619
Thanks for opening the issue.  I'm experiencing this too.

[2017-10-26 12:13] cosmincojocar commented on #54610
@andyzhangx Should any user from the container have full `rwx` access by default to the volume? I think is a bit too permissive. The default value could be concisely overwritten by the `mountOptions` when the permissions are too strict. Also the `readOnly` option is set by default to false if not specified.

In general, I would go by default with `least privileged access`, and provide the option t

[2017-10-26 12:14] rootfs commented on #54570
If the idea is to exclude other components, I prefer a black list, not a broken white a list as here.

[2017-10-26 12:24] test-shyam commented on #11681
?

[2017-10-26 12:25] ianchakeres commented on #54562
@lavalamp - do you have any advice on how we should proceed on fixing this issue?

[2017-10-26 12:32] rootfs commented on #54570
@andyzhangx there are multiple issues with this code:

- It shouldn't bootstrap any storage accounts at all. This is really poor user experience. Not all users want to/will use azure disk. These storage accounts are yet created without any explicit documentation or prior warning.

- Even with these storage accounts, it doesn't help accelerate PV provisioning.

- This is the only place to init [acc

[2017-10-26 12:33] rootfs commented on #54570
@kubernetes/sig-storage-bugs @kubernetes/sig-windows-bugs @kubernetes/sig-azure-misc

[2017-10-26 13:17] andyzhangx commented on #54610
@rootfs does storage class support mountOptions in v1.8?
From the doc: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options-1
it's already supported, but I never make it work for azure disk and azure file, below is my config:

[code]

[2017-10-26 13:23] liubog2008 opened #54632 "[Feature Request]: support custom JWT authentication"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Kubernetes now can't authenticated by bearer token which is in JWT format. Opaque token can be authenticated by Webhook, which is not very suitable for JWT now.

**What you expected to happen**:

A plugin for JWT authentication, which support custom JWT (from oauth2 access_token) validation

**Anything else we need to know?**:
- wh

[2017-10-26 13:23] liubog2008 commented on #54632
/sig auth

[2017-10-26 13:28] rootfs commented on #54610
apparently no :)

Need to get mount options by calling MountOptionFromSpec [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_dd.go#L178)
and join to PV options [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_mounter.go#L95-L109)

[2017-10-26 13:28] andyzhangx commented on #54570
@rootfs thanks for the check, put the storage accounts bootstrap in azure_dd/azure_provision.go could be more appropiate: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_provision.go#L68
that is only user select `Shared` kind and would like to create blob disks, then those accounts would be created and it would only initialize before first PVC is created.

[2017-10-26 13:29] mkumatag commented on #54624
/sig cli

[2017-10-26 13:31] mtaufen commented on #54579
It should at least be possible for CRDs that are registered with the
kube-apiserver, right? Or am I misunderstanding how CRD works?

On Thu, Oct 26, 2017 at 3:09 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2017-10-26 13:37] andyzhangx commented on #54610
while for azure file, it's already joining:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_file/azure_file.go#L229

point is it says **invalid** for `volume plugin kubernetes.io/azure-file`

[code]

[2017-10-26 13:38] rootfs commented on #54570
@andyzhangx SGTM, looking forward to your PR and 1.7/1.8 cherry picks

[2017-10-26 13:41] tesi-nahid opened #54633 "Kubernetes HPA with custom metrics in 1.7"
I could not find how can I do custom metric (query per second) in kubernetes 1.7 .can you show me which  steps I should follow?

I found these 3 structure,but they are not the same.
[https://docs.bitnami.com/kubernetes/how-to/configure-autoscaling-custom-metrics/](url)

[https://github.com/mwielgus/kubernetes.github.io/blob/custom-metrics/docs/user-guide/horizontal-pod-autoscaling/index.md#support

[2017-10-26 13:44] tesi-nahid commented on #54633
sig/autoscaling
/sig/autoscaling

[2017-10-26 13:46] andyzhangx commented on #54610
sorry, correct format should be like this, azure file is provisioned successfully:
[code]

[2017-10-26 13:50] smarterclayton commented on #53721
We should probably reflect the actual field, rather than call it Cordoned.
We try to use (as much as possible) the same terminology in the UI as in
the API.  Unschedulable would probably be sufficient

On Thu, Oct 26, 2017 at 4:59 AM, zhengjiajin <notifications@github.com>
wrote:

[2017-10-26 13:51] brancz commented on #53485
Unfortunately my apiserver started crashlooping after ~9 hours because the backing etcd cluster had an issue. Shortly before that the apiserver had a memory usage of around 290Mb after initial ramp up from 260Mb. The `go_memstats_heap_inuse_bytes` metric from the go runtime seems to be stable though, so this just sounds like garbage that hasn't been collected yet. So in short this seems to be fixe

[2017-10-26 14:05] andyzhangx commented on #54610
@rootfs so currently azure file/disk does not support mountMounts, I would create a task to support it, seems like it's only a little code change. :)

[2017-10-26 14:09] dixudx commented on #54626
/sig aws
@utsav2307 Dup of #54482. I close it.
/close

[2017-10-26 14:09] #54626 closed

[2017-10-26 14:09] andyzhangx commented on #54570
I will attend a conf next week, will work out this PR and CreateVolume PR the week after next week.

[2017-10-26 14:25] dixudx commented on #54627
/sig aws

[2017-10-26 14:29] shyamjvs opened #54636 "Influxdb-related e2e shouldn't run when influxdb is not enabled on the cluster"
The e2e test 'Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster.' is running in our [gce-scale-correctness job](https://k8s-testgrid.appspot.com/sig-scalability-gce-scale#gce-scale-correctness) and failing, while we're using the 'standalone' mode for monitoring (ref: https://github.com/kubernetes/test-infra/blob/67bc30718f5468cdd64675c2c710118f

[2017-10-26 14:32] shyamjvs commented on #54636
cc @kubernetes/sig-scalability-misc @porridge

[2017-10-26 14:39] shyamjvs commented on #54636
This job is part of [master-release-blocking suite](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness). Bumping priority.

[2017-10-26 14:43] sbidaye82 commented on #53333
Hi experts,

Sorry for re-opening. I followed all the suggestions provided on this thread above, but my kubeadm init is still failing with same error.

From the looks it is giving these errors.
[kubelet-check] It seems like the kubelet isn't running or healthy.
## With respect to above o/p - i checked with systemctl status kubelet, it is in a crash loop every 10sec. I'm assuming that is expected u

[2017-10-26 14:45] shyamjvs opened #54637 "HPA scale-up/scale-down e2e tests failing on large clusters"
The following 2 HPA tests are failing continuously on our [5k-node correctness job](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness):

- Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] ReplicationController light Should scale from 1 pod to 2 pods
- Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] ReplicationController light Sh

[2017-10-26 14:45] shyamjvs commented on #54637
@DirectXMan12 - Assigning this to you as you're the expert here I guess :) Feel free to redirect as apt.

[2017-10-26 14:45] shyamjvs commented on #54637
cc @kubernetes/sig-scalability-misc @porridge

[2017-10-26 14:49] sttts opened #54638 "Next 1.8.2 sync of pubished staging/ repos"
Now that https://github.com/kubernetes/kubernetes/releases/tag/v1.8.2 exists, I propose to do the next push of the staging repos.

As for the previous pushes:
- the push script: https://gist.github.com/anonymous/60717981ae44ed23bf52809a1e7d1356 (updated Oct 27)
- the last heads for a potential rollback: https://gist.github.com/anonymous/f24e88ebe3b5b3846d9d4c07dc746dde (updated Oct 26)
- the test

[2017-10-26 14:53] MaciekPytel commented on #54637
@shyamjvs Those tests are broken in general, not just in scalability. Ref: https://github.com/kubernetes/kubernetes/issues/54574. I'll close this since it's effectively a duplicate.

[2017-10-26 14:55] shyamjvs commented on #52495
@MrHohn Seems like some of those e2es are in a better state after change in service-controller parallelism. However, there are still a few failing (https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness):

- ESIPP [Slow] should handle updates to ExternalTrafficPolicy field
- ESIPP [Slow] should work from pods
- Services should be able to change the type and ports of a s

[2017-10-26 14:55] shyamjvs commented on #52495
cc @porridge

[2017-10-26 14:58] kad commented on #53333
what does kubelet logs say ?
- 'systemctl status kubelet'
- 'journalctl -xeu kubelet'

[2017-10-26 14:58] shyamjvs commented on #54637
I'm seeing them pass on gce at smaller scale - https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce

[2017-10-26 15:00] sbidaye82 commented on #53333
systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf, 90-local-extras.conf
   Active: activating (auto-restart) (Result: exit-code) since Thu 2017-10-26 03:59:52 EDT; 8s ago
     Docs: http://kubernetes.io

[2017-10-26 15:02] shyamjvs commented on #54637
Besides I think there might be a different issue in large clusters as they have been failing for a month now. While #54574 seems to be a recent one.

[2017-10-26 15:04] utsav2307 commented on #54627
i gave elasticloadbalancer:*, ec2:Create*, ec2Describe* but it still failed, what permissions i am missing here?

[2017-10-26 15:10] utsav2307 commented on #54482
i am not using kubeadm to setup my cluster, i have setup individual compnents separately. how to resolve this error?

[2017-10-26 15:22] MaciekPytel commented on #54637
Ok, sorry for closing the issue then, reopening it.

[2017-10-26 15:23] kad commented on #53333
@sbidaye82 that output unfortunately is unreadable and useless.

[code]

Also, which versions of kubelet you have, which OS you're using and what do you have inside `90-local-extras.conf`

[2017-10-26 15:28] #54619 closed

[2017-10-26 15:41] bgrant0607 commented on #24343
Data:
https://devstats.k8s.io/dashboard/db/prs-merged-repository-groups?orgId=1&var-period=m&var-repogroups=All

[2017-10-26 15:52] sbidaye82 commented on #53333
[root@salil-master ~]# uname -a
Linux salil-master 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
[root@salil-master ~]# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)

[root@salil-master ~]# cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/boot

[2017-10-26 16:06] mattmoyer commented on #53637
Re-opened this here: https://github.com/kubernetes/kubeadm/issues/509

[2017-10-26 16:06] kad commented on #53333
@sbidaye82 `journalctl -xeu kubelet` but with adding also '-l` flag to journalctl to get readable error messages ?

[2017-10-26 16:10] cblecker commented on #48575
@Amit-PivotalLabs I'm glad you were able to figure it out!

[2017-10-26 16:12] MrHohn commented on #54571
Humm..Test is passing on gce-slow but still very flaky on gce-alpha after #53760 went in:
- slow: https://k8s-testgrid.appspot.com/google-gce#gci-gce-slow&sort-by-failures=
- alpha: https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features&sort-by-failures=

cc @m1093782566

[2017-10-26 17:02] yliaog commented on #54130
i think the question boils down to how much disruption restarting kubelet would cause. In some k8s deployment, kubelet restart would cause the containers on the node to be restarted. not sure if this is the case for @bruceauyeung though.

[2017-10-26 17:04] SpamapS commented on #24343
Update on Zuul which I presented to the testing SIG a few months back as a potential solution for Jenkins scaling and multi-repo testing. OpenStack has fully migrated to Zuulv3 now. It can be considered "battle hardenING" at the moment. If a solution for cross-repo testing has not been created yet, perhaps someone should make an attempt to setup an experimental Zuulv3. The main challenge to succes

[2017-10-26 17:05] dashpole commented on #53327
Looking at the log, the container (that we keep waiting for) is started, but then never touched after that.  It looks we try and remove the container before it is started.  Then after it starts, we ignore it...
Seems like a kubelet bug, which is only reproducible if you create a pod, and then immediately delete it before waiting for it to become running.
Could we change the test to wait for the po

[2017-10-26 17:08] jiayingz commented on #54100
sg.

[2017-10-26 17:09] jiayingz commented on #54100
/close

[2017-10-26 17:09] #54100 closed

[2017-10-26 17:12] cmluciano commented on #47486
/close

this was implemented in 1.8
[docs](https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-deny-all-egress-traffic)

[2017-10-26 17:12] #47486 closed

[2017-10-26 17:44] shyamjvs commented on #53327
Thanks for looking into it. However I'm not very sure why we're seeing this issue only on kubemark and not on real cluster (given that both of them are running the same test and at the same scale of 5k nodes).

I think we're already doing that (ref: https://github.com/kubernetes/kubernetes/blob/1f53329c674e427264546247da1ae35c0826cbfd/test/e2e/scalability/load.go#L560-L561 (the 'true' argument the

[2017-10-26 17:54] dashpole commented on #53327
If I search for `Status for pod "load-small-176-fddd8_e2e-tests-load-30-nodepods-1-csqzm` in the log, I dont see it ever go to Running.

[2017-10-26 17:55] ConnorDoyle commented on #52818
Failed unit test run due to TestDevicePluginReRegistration: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54408/pull-kubernetes-unit/60845/

[2017-10-26 18:03] nicolasbelanger opened #54642 "Adding tag annotations on service manifest for ELB does not trigger update on AWS"
**BUG REPORT**:
/kind bug
/sig aws

**What happened**:
Adding this annotation to an existing service: `{"metadata":{"annotations":{"service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags":"team=devops,env=qa"}}}` did not trigger an update on AWS ELB (no new tags).

**What you expected to happen**:
Expected to see those 2 new tags under the existing ELB:  `team=devops,env=qa`

**How

[2017-10-26 18:05] sbourgault-ssense commented on #54642
+1

[2017-10-26 18:06] chrislovecnm commented on #24343
Just an FYI for everyone. kops team with sig-release are working on a MVP, for a build process for sub projects. Currently kops is not released with kubernetes/kubernetes, and we are working on flushing out a release process.

[2017-10-26 18:07] fmedery commented on #54642
+1

[2017-10-26 18:09] MrHohn commented on #52495
Took a look those failing tests, from service controller perspective I'd say it is acting normally, but in the middle of the test it hit a `googleapi: Error 503` following with a lot of `resourceNotReady` failures last for 1.5 hours.

From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/22/artifacts/gce-scale-cluster-master/kube-controller-manager.log

[2017-10-26 18:10] kad commented on #53333
@sbidaye82  `l` as argument to `-u` switch obviously wouldn't work.
try `journalctl -lxeu kubelet`.

I would also recommend to do `kubeadm reset` and then `kubeadm init`. this will clean-up a bit noice in logs from previous runs of kubelet.

[2017-10-26 18:13] #54499 closed

[2017-10-26 18:13] #54149 closed

[2017-10-26 18:13] gdecroux commented on #54642
+1

[2017-10-26 18:15] hetile-ssense commented on #54642
+1

[2017-10-26 18:20] gburiola opened #54645 "kubectl apply view-last-applied incorrectly parses %s in the output and replaces with %!s(MISSING)"
**BUG REPORT**:
/kind bug

**What happened**:

`kubectl apply view-last-applied deploy NAME` is incorrectly parsing `%s` in the output and replacing it with `%!s(MISSING)`

This only happens with `kubectl apply view-last-applied`.
`kubectl describe` and `kubectl get` correctly show `%s`

**How to reproduce it (as minimally and precisely as possible)**:

Apply manifest below:

[code]

Notice the `%

[2017-10-26 18:24] marcacohen opened #54646 "FR: add "open in cloud shell" button to readme"
/kind feature

I'm happy to submit a PR to do this but wanted to first see if this is desired...

Google Cloud has a new feature called "Open in Cloud Shell" which supports invoking a URL that auto-starts a cloud shell session (via in-browser ssh to an auto-provisioned VM) with an auto-cloned repo specified in the URL. This might make a nice addition to the "To start developing Kubernetes" section

[2017-10-26 18:29] gburiola commented on #54645
@kubernetes/sig-cli-bugs

/sig cli

[2017-10-26 18:30] danehans commented on #50787
@ncdc thanks for finding the source of this issue. sig-network is hard at work adding ipv6 alpha support for 1.9. We are seeing this issue effect our ipv6 test deploys. Do you have time to implement the fix or does someone from sig-network need to take it on?

[2017-10-26 18:30] dashpole commented on #53327
I tried reproducing this on a real node (by creating and immediately deleting the pod before it transitions to running), and this is what my log gives when trying to create the container:
`docker_container.go:207] Cannot create symbolic link because container log file doesn't exist!`
`remote_runtime.go:209] StartContainer "82683fc2cab0232b3c43fae26cf61970544815706498b66009feac5c52a6ed6e" from runt

[2017-10-26 18:31] marcacohen commented on #54646
@kubernetes/sig-contributor-experience-feature-requests

[2017-10-26 18:31] sbidaye82 commented on #53333
@kad

Here are the full logs on new start which is failing..

Oct 26 07:27:29 salil-master systemd[1]: kubelet.service holdoff time over, scheduling restart.
Oct 26 07:27:29 salil-master systemd[1]: Started kubelet: The Kubernetes Node Agent.
Oct 26 07:27:29 salil-master systemd[1]: Starting kubelet: The Kubernetes Node Agent...
Oct 26 07:27:30 salil-master kubelet[28086]: I1026 07:27:30.217226

[2017-10-26 18:32] ncdc commented on #50787
I was planning on waiting for #53645 to merge before fixing it.

[2017-10-26 18:33] enisoc commented on #54579
Could we have apiextensions-apiserver download OpenAPI from kube-apiserver, like kubectl does?

[2017-10-26 18:36] valer-cara commented on #54149
@andyzhangx - Thanks for the fix!

[2017-10-26 18:39] hongchaodeng commented on #54498
Actually this is also one item task for https://github.com/kubernetes/kubernetes/issues/34363, which justify the feature too.

[2017-10-26 18:42] colemickens commented on #54498
I'm going to work on investigating and writing up a proposal for this, probably starting next week.

[2017-10-26 18:43] yveschappe commented on #54642
+1

[2017-10-26 18:47] davidz627 commented on #50115
@mikedanese GetAllZones gets called when provisioning GCE-PDs. It is used to determine the available zones for the new PD to be provisioned in.

[2017-10-26 18:50] cmluciano commented on #54590
@kubernetes/sig-network-bugs

[2017-10-26 18:56] marcacohen commented on #54646
/sig contributor-experience

[2017-10-26 18:59] danehans commented on #50787
Makes sense. We are tracking that one as well for ipv6 alpha.

[2017-10-26 19:00] mikedanese commented on #50115
Yes. That sounds good to me.

[2017-10-26 19:16] yastij commented on #50926
@luxas - I guess this one should be closed ?

[2017-10-26 19:33] colemickens commented on #53829
It looks like @sttts has already updated the only tracking issue we have in kubernetes/features. I've sent the PR for the feature gate promotion: https://github.com/kubernetes/kubernetes/pull/54647

[2017-10-26 19:38] rhuss commented on #53637
@mattmoyer thanks ! I totally forgot about this issue ;-)

[2017-10-26 19:38] mbohlool commented on #54471
/sig apps

[2017-10-26 19:39] bgrant0607 commented on #30558
@husseincoder Sorry, yes, please close your PR. If you are eager to contribute, please start with bug fixes, of which we have an overwhelming number. Contact sig-cli to ask for starter issues.

@itmard We are currently working on #24744 and #22368 in this area.

[2017-10-26 19:41] shrenikd opened #54648 "Pod Lifecycle: Escalate container failures to the pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Use Case 1:
A pod (in a deployment spec) contains container 'app' developed by team A (app developers) and container 'monitor' developed by team B (platform developers). The containers share a volume containing critical assets for the 'app' container. The 'monitor' container monitors and updates a those assets. Some as

[2017-10-26 19:41] #54476 closed

[2017-10-26 19:42] colemickens commented on #53829
And one for the docs: https://github.com/kubernetes/website/pull/6065

[2017-10-26 19:44] deads2k opened #54650 ".proto files in k8s.io/api have outside refs"
the proto files that are generated have outside refs. Probably just need two scripts.

https://github.com/kubernetes/api/blob/master/core/v1/generated.proto#L24

[2017-10-26 19:45] dashpole opened #54651 "Create pod latency increase"
The node e2e density tests have been failing consistently: https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e&include-filter-by-regex=create%20a%20batch%20of%20pods
The only PRs in the diff that touch the kubelet seem related to CNI: https://github.com/kubernetes/kubernetes/compare/88975e98d...03cb11f02, with the likely candidate being #51250
In the run prior to it failing, t

[2017-10-26 19:45] lavalamp commented on #54498
1. Use the owner reference feature. (Definitely don't make everyone else understand your label system!)
2. We've talked in the past about giving the GC an API so it can answer queries like this, I think that is the way forward.

[2017-10-26 19:46] lavalamp commented on #54515
Lots of people want something like this.

[2017-10-26 19:47] lavalamp commented on #54525
Most likely this is sig-node.

[2017-10-26 19:48] lavalamp commented on #54547
I suggest writing your own combined health checking script and have kubelet check that.

[2017-10-26 19:48] #54547 closed

[2017-10-26 19:49] lavalamp commented on #54547
(also this wouldn't be sig api machinery, rather sig-node.)

[2017-10-26 19:58] mbohlool commented on #54579
cc @cheftako @mml @lavalamp

[2017-10-26 20:03] sttts commented on #54579
Yes, something like that which loosely couples those two.

[2017-10-26 20:24] #49384 closed

[2017-10-26 20:24] #53619 closed

[2017-10-26 20:24] #51139 closed

[2017-10-26 20:35] embano1 commented on #53706
Every process, no matter how you run it, without support for cgroups in the language runtime, will query (use) the host information. If you want to run a pod with memory limits and tune the process to not use more than the limit specified, either inject this information in advance (environment, cli arg) or make it dynamic based on the mem limit. This is where `resourceFieldRef` comes in handy.

Fo

[2017-10-26 20:38] kad commented on #53333
@sbidaye82
Ok. now the reason is clear.

Error which we were looking for is here:
[code]

Please edit your `/etc/systemd/system/kubelet.service.d/90-local-extras.conf` file to have in it:
[code]

then do `systemctl daemon-reload` to reload service files, and then try to start init process again.

[2017-10-26 20:51] spzala commented on #40287
Going to try/test issue closing privilege as this issue should be closed, due to lack of info, per triage guideline. @setyoso please feel free to reopen if needed (if I could close it). Thanks!

[2017-10-26 20:52] spzala commented on #40287
/close

[2017-10-26 21:07] xenophenes commented on #35986
This same issue is happening with the latest release. Any ideas?

[2017-10-26 21:08] alvaroaleman commented on #54337
Yeah, this is definitely annoying. Is there a reason why the kubelet can't just emit a warning but take the locally unbound IP anyways?

[2017-10-26 21:11] caseydavenport commented on #53775
Yeah, that's what the iptables proxy does. Might need to do the same here unfortunately.

[2017-10-26 21:13] #52994 closed

[2017-10-26 21:18] #53568 closed

[2017-10-26 21:21] jberkus commented on #54318
Should this be moved out of 1.9?  The attached PRs for this issue don't seem to be near resolution.

[2017-10-26 21:23] caseydavenport commented on #53526
Feels reasonable, and it seems this is impacting enough people to warrant reverting the original change.

@thockin WDYT?

[2017-10-26 21:24] ncdc commented on #54318
I chatted with @luxas briefly yesterday and this probably isn't critical for either of those PRs, so I'm removing the 1.9 milestone. These config structs aren't using protobuf (since we want human-readable/writeable config files), so if we happen to move the structs somewhere else, the json tags would remain the same.

[2017-10-26 21:28] #40287 closed

[2017-10-26 21:30] bgrant0607 opened #54654 "Service Status should include information similar to workload controller status"
The workload controllers now report replicas, ready replicas, and available replicas. It would be useful for Service.Status to contain similar information. The information could be easily aggregated from Endpoints. We can't implement available replicas until/unless minReadySeconds moves into Pod/Kubelet, but we could report total and ready replicas. That would make it easier to detect common issue

[2017-10-26 21:38] DuncanFairley commented on #35062
I'm seeing this after upgrading K8S from 1.7.5 to 1.8.2 on Ubuntu 16.04, right after kubelet failed to start because I had swap enabled. So I disabled swap and it started successfully and start spitting out this error every ~30 seconds.

[2017-10-26 21:38] bgrant0607 commented on #52670
In terms of patterns, I would like to be able to express application "topology" in a fully portable manner, but then also automatically discover provider-specific spec and status extensions. I think that implies we will want to embed the extensions in the portable resources, but that we do need a way to specify the schema for discovery purposes. I had originally wanted to specify such extension sc

[2017-10-26 21:38] cben commented on #23698
I believe this got implemented, at least multiple quotas:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/resource-quota-scoping.md
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/admission_control_resource_quota.md
https://kubernetes.io/docs/concepts/policy/resource-quotas/

[2017-10-26 21:48] caesarxuchao commented on #54638
I will test it today. https://github.com/kubernetes/kubernetes/pull/53583 is merged, will you rewrite the script or do that as a next step?

[2017-10-26 22:05] nicksardo commented on #54502
@bowei

[2017-10-26 22:31] spzala commented on #40287
@kargakis :) Thanks!

[2017-10-26 22:33] sbidaye82 commented on #53333
@kad

Ok.

[root@salil-master ~]# docker info | grep cgroupfs
WARNING: overlay: the backing xfs filesystem is formatted without d_type support, which leads to incorrect behavior.
         Reformat the filesystem with ftype=1 to enable d_type support.
         Running without d_type support will not be supported in future releases.
Cgroup Driver: cgroupfs

So i assume i need to set :
Environment="K

[2017-10-26 22:38] oomichi opened #54658 "The conformance test "validates resource limits .." fails if nodeName is IP address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The conformance test "validates resource limits of pods that are allowed to run" fails, because a pod name contains "." which is invalid name when trying to create name.

**What you expected to happen**:

The test can pass.

**How to reproduce it (as minimally and precisely as possible)**:

On the environment DNS doesn't

[2017-10-26 22:47] ljmatkins commented on #53566
FWIW, I am also seeing this issue when running on a GKE Kubernetes 1.8.1 federation.

`Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-14T06:55:55Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.1",

[2017-10-26 22:59] caesarxuchao commented on #53828
@liggitt @lavalamp @deads2k have you reached agreement on this issue?

[2017-10-26 23:04] caesarxuchao commented on #53828
Is the `client-ca-file` used to sign client certificates for the clients that talk to the apiserver?

[2017-10-26 23:09] fejta-bot opened #54661 "Failure cluster [fa40ae...] failed 85 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [fa40aed6bf311152a220](https://go.k8s.io/triage#fa40aed6bf311152a220)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    85 builds failed.
Failure stats cover 1 day time range '25 Oct 2017 22:28 UTC' to '26 Oct 2017 22:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 10 |

##### Top f

[2017-10-26 23:09] fejta-bot opened #54662 "Failure cluster [bc4f44...] failed 82 builds, 9 jobs, and 1 tests over 1 days"
### Failure cluster [bc4f4424cbc0019d90c6](https://go.k8s.io/triage#bc4f4424cbc0019d90c6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    9 jobs failed,    82 builds failed.
Failure stats cover 1 day time range '25 Oct 2017 22:28 UTC' to '26 Oct 2017 22:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Node Tests | 9 |

#####

[2017-10-26 23:09] fejta-bot opened #54663 "Failure cluster [540a67...] failed 66 builds, 28 jobs, and 1 tests over 1 days"
### Failure cluster [540a675c5a879d96566f](https://go.k8s.io/triage#540a675c5a879d96566f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    28 jobs failed,    66 builds failed.
Failure stats cover 1 day time range '25 Oct 2017 22:28 UTC' to '26 Oct 2017 22:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 28 |

##### Top

[2017-10-26 23:09] fejta-bot opened #54664 "Failure cluster [c4989c...] failed 61 builds, 11 jobs, and 4 tests over 1 days"
### Failure cluster [c4989c94c9723bd6f7e1](https://go.k8s.io/triage#c4989c94c9723bd6f7e1)
##### Error text:
[code]
##### Failure cluster statistics:
4 tests failed,    11 jobs failed,    61 builds failed.
Failure stats cover 1 day time range '25 Oct 2017 22:28 UTC' to '26 Oct 2017 22:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cluster-lifecycle

[2017-10-26 23:16] spiffxp commented on #52062
/close
can't find the triage cluster anymore

[2017-10-26 23:16] #52062 closed

[2017-10-26 23:23] spiffxp commented on #54103
/sig testing
since I guess we conceivably own framework

Honestly, I don't know what we'd do to close _this_ particular cluster out.

I'm linking it to https://github.com/kubernetes/kubernetes/issues/10322 as a data point and closing.  Feel free to /reopen if you're interested in troubleshooting

[2017-10-26 23:23] spiffxp commented on #54103
/close

[2017-10-26 23:23] #54103 closed

[2017-10-26 23:26] shyamjvs commented on #53327
We are not deleting those pods - we're just deleting the RCs, the pods are being deleted in the background. In general, I'm not very convinced if that is the best idea as we shouldn't be artificially changing the behavior of our tests to just make it pass for kubemark. We're trying to simulate real cluster using kubemark, and imposing a restriction like 'deleting a pod is allowed only after it is

[2017-10-26 23:29] spiffxp commented on #54524
Of the two triage clusters I linked above, the second one is still an issue.  Maybe we didn't catch everything IPv6-related with https://github.com/kubernetes/test-infra/pull/5095 ?

[2017-10-26 23:30] spiffxp commented on #53835
Seeing very similar behavior in https://github.com/kubernetes/kubernetes/issues/54524, I think this is still an issue?

[2017-10-26 23:31] spiffxp commented on #29354
related https://github.com/kubernetes/kubernetes/issues/10322

[2017-10-26 23:45] smarterclayton commented on #54525
Deletion timestamp is set by the apiserver, it cannot be set by clients

[2017-10-26 23:47] liggitt commented on #54525
Are they actually evicted/deleted or do they just have failed status?

[2017-10-26 23:49] lavalamp commented on #53828
This came up again in the context of giving kube-apiserver a default that is more secure than the current unauth'd one (as it is hard to get files into the test environments to test this; also a default is way more user-friendly). I can't parse @deads2k description of the three CAs above, and unfortunately the links are not much more clear:

## option 1, ClientCAFile:

I take this to mean that if

[2017-10-26 23:55] lavalamp opened #54665 "CAs, certs and keys passed to apiservers are incomprehensible"
kube-apiserver (and extension apiservers) take a number of different auth related command line flags. Often but not always in triplets (-CA, -cert, -key). Many of the names of these flags are similar even though the flags do completely different things. (e.g. see https://github.com/kubernetes/kubernetes/issues/53828#issuecomment-339832669)

This issue is a request for a comprehensive, simply writt

[2017-10-27 00:15] lavalamp commented on #54579
I am concerned about giving ourselves really hard problems when we do version updates that drop a previously deprecated field.

[2017-10-27 00:26] stewart-yu commented on #54645
i 'll have a look.

[2017-10-27 01:33] patrickshan commented on #54525
They are evicted and marked as "Failed" status first. For pods created through daemonset, their DeletionTimeStamp get set after "Failed" status set. But for pods created through deployment, their DeletionTimeStamp just keep zero value and never set.

[2017-10-27 01:38] zjj2wry commented on #54564
Fixed by #54628

[2017-10-27 01:38] #54564 closed

[2017-10-27 01:39] m1093782566 opened #54667 "Should run IPVS proxy UTs everywhere"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

IPVS proxy UT breaks in macOS platform.

**What you expected to happen**:

Should run IPVS proxy UTs everywhere.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

That's because there is a `+build linux` flag in `pkg/proxy/ipvs/testing/fake.go`, see https://github.co

[2017-10-27 01:40] m1093782566 commented on #54667
/assign

cc @ixdy @choury

[2017-10-27 01:49] andyzhangx opened #54668 "there is azure file mount limit issue on windows due to using drive letter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
there is a limit(25) for azure file mount number on each node because only 25 drive letters could be used on each windows node, With this PR, there would be no such limit.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment

[2017-10-27 01:49] andyzhangx commented on #54668
/assign andyzhangx

[2017-10-27 01:55] andyzhangx opened #54669 "azure storage account num exhausting issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If customer is using the default storage class of azure-disk, create lots of azure disk pvs by using default storage class of azure-disk, the storage account num would be exhausted in the azure subscription. Change default kind value of azure disk storge class from Dedicated to Shared, which means only a few storage accoun

[2017-10-27 01:55] andyzhangx commented on #54669
/assign andyzhangx

[2017-10-27 01:59] andyzhangx opened #54670 "there are lots of warning message due to GetMountRefs func in windows"
Need to complete windows implementation of GetMountRefs in mount.go

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g

[2017-10-27 01:59] smarterclayton commented on #54525
That means that no one deleted them.  The ReplicaSet controller is
responsible for performing that deletion.

On Oct 26, 2017, at 9:33 PM, Patrick Shan <notifications@github.com> wrote:

They are evicted and marked as "Failed" status first. For pods created
through daemonset, their DeletionTimeStamp get set after "Failed" status
set. But for pods created through deployment, their DeletionTimeStamp

[2017-10-27 01:59] andyzhangx commented on #54670
/assign andyzhangx

[2017-10-27 02:09] gyliu513 commented on #54547
that make sense, thanks @lavalamp

[2017-10-27 02:34] yu-yang2 commented on #45419
@yujuhong I encountered this problem again after a load test of k8s, almost all nodes become `not ready` and didn't recovery after I clean the pods for several days, I opened the verbose mode in every kubelet and got the logs below, hope that these logs will help solve the problem:
[code]

[2017-10-27 02:40] dixudx commented on #54651
Wow, this is a huge increase.
@squeed Any comments on the performances? I wonder whether this would have any impacts on kubelet and GC.
/cc @luxas

[2017-10-27 02:42] drinktee commented on #49792
I want to create  rc rs jobs with hostPort and containerPort. But this need to know  which port can be used...
Is there any opensource project manage  hostports of k8s nodes?

[2017-10-27 02:59] #54669 closed

[2017-10-27 03:00] foxish commented on #54478
Can you post the YAML for your statefulset? At first glance, it seems like this should be an application concern - the container that checks your replicas being up should be more tolerant to transient failures anyway, because nodes could go down and pods could be unavailable during the time that k8s brings them up again on a different node.

[2017-10-27 03:05] foxish commented on #54139
cc @crimsonfaith91

[2017-10-27 04:08] #53636 closed

[2017-10-27 04:26] lovejoy opened #54671 "NO FailedPostStartHook Error Message After Upgrade to 1.7.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
NO FailedPostStartHook Error Message After Upgrade to 1.7.8
When we use 1.6.3 , We can get message like   Error syncing pod, skipping: failed to "StartContainer" for "xxxx" with PostStart handler: command '/xxxxxx' exited with 1: Hook do errexit, this is stderr : "PostStart Hook Failed" From Event, But After Upgrade to 1.

[2017-10-27 05:20] diptadas opened #54672 "UpdateStatus() for custom resources not working"
/kind bug
/sig api-machinery
@kubernetes/sig-api-machinery-bugs

**What happened**:
My custom resource type has a status field. I have generated client for it using genclient.
Here is the defination of my CRD type:
[code]
The generated UpdateStatus() function:
[code]
Now when I call UpdateStatus() for a Recovery object (stash-mduabx) it gives following error:
[code]
And the log of api call:
[code]

[2017-10-27 05:27] lovejoy commented on #54671
/area kubelet
/sig node

[2017-10-27 05:27] lovejoy commented on #54671
@derekwaynecarr

[2017-10-27 05:41] thockin commented on #52670
Why embed rather than link-to-CRD or similar, as we discussed previously?

On Thu, Oct 26, 2017 at 2:38 PM, Brian Grant <notifications@github.com>
wrote:

[2017-10-27 05:46] andyzhangx commented on #54610
@lrills @dixudx I have a #54674 for this, use mount options in storage class, below is an example:
[code]

[2017-10-27 05:47] andyzhangx commented on #37005
/assign andyzhangx

[2017-10-27 05:49] andyzhangx commented on #37005
@justinwyer
I have a #54674 for this, use mount options in storage class, below is an example:
[code]

[2017-10-27 06:36] sttts commented on #54638
had seen wrong Godeps.json k8s.io/* revisions pointing to pre-august commits for 1.7 because not much changed in that branch. Have to check and probably add a workaround to use a minimum base commit where we switched the algorithm.

[2017-10-27 06:42] m1093782566 commented on #53775
I understand and I am experimenting ipset in order to reduce iptables calls.

[2017-10-27 07:21] mattenklicker commented on #42544
In case of rabbitmq you can work around this by adding the service name to `cluster_nodes` of your rabbit config and to the `StatefulSet`.
[code]
You prabably must set `RABBITMQ_USE_LONGNAME: true` also.

[2017-10-27 07:30] tamalsaha commented on #53526
Given Service objects are `v1`, how can a breaking change like this was accepted?

[2017-10-27 07:34] m1093782566 commented on #54571
I believe proxy mode in gce-alpha is iptables?

[2017-10-27 07:34] m1093782566 commented on #54571
/assign

[2017-10-27 07:35] m1093782566 commented on #54571
/assign

[2017-10-27 07:50] xiangpengzhao commented on #54671
I think this was fixed from 1.8.
see: https://github.com/kubernetes/kubernetes/commit/9fcc25d1ed4a45e4ea09a6f30250d00a047275f4

[2017-10-27 07:52] m1093782566 commented on #54571
These test cases are about **ClientIP** based session affinity. From the log, it seems that we have successfully updated service session affinity type to **ClientIP**. However, the endpoints we retrieved are different. I can only suspect the clients which requests service in different tries are different. Possibly I can refactor the test case to make sure the client IPs in different tries are the

[2017-10-27 07:57] m1093782566 commented on #54524
/assign

[2017-10-27 08:05] sttts commented on #54579
We cannot express in our CRD JSON Schema that certain fields do not exist (following the kube API conventions). So a CR cannot become invalid because a deprecated field was dropped. But as we store raw JSON for CRs, those removed fields would continue to exist in old CRs.

[2017-10-27 08:07] caesarxuchao commented on #54638
Can you share the setup of the kube-glide-test directory?

Other tests passed.

[2017-10-27 08:13] sttts commented on #54638
It's github.com/sttts/kube-glide-test. Updated the test https://gist.github.com/anonymous/f228c70627170a30a9c69f1789181594.

[2017-10-27 08:17] wojtek-t commented on #50115
Cool - thanks @mikedanese !

[2017-10-27 08:19] RobertDiebels commented on #54478
@foxish

"Can you post the YAML for your statefulset?"
Will post it below the answers to your reply.

"At first glance, it seems like this should be an application concern"
I would agree.

" the container that checks your replicas being up should be more tolerant to transient failures anyway"
I contacted the maintainers of that container and code. I asked whether or not the container fails or keep

[2017-10-27 08:36] liggitt commented on #54672
The client generates a status method because there is a status field, but that does not mean the server has support for that method.

https://github.com/kubernetes/community/pull/913 is a proposal to add server support for status subresources for CRD objects.

[2017-10-27 08:36] #54672 closed

[2017-10-27 08:38] liggitt opened #54684 "Reported subresource discovery is incorrect"
scale subresources in apps/v1beta1 and apps/v1beta2 report extensions/v1beta1 in discovery

additionally, eviction subresources do not indicate they accept Eviction objects from the policy API group

[2017-10-27 08:40] lenartj commented on #25126
See #49534 also.

[2017-10-27 08:52] squeed commented on #54651
Interesting, taking a look.

[2017-10-27 08:54] loburm commented on #54636
@shyamjvs You can assign this bug to me. And looks like the link to the job is broken, could you give a correct one?

[2017-10-27 08:55] dixudx commented on #54651
@squeed Thanks for your help.

[2017-10-27 09:04] Lion-Wei commented on #51602
There are to ways to do this work:

1. Use `kubeadm`, but `kubeadm` doesn't support any kube-proxy config right now, so I had this pr #53962 , and also,  `kubernetes-anywhere` need support it too, see this pr: kubernetes/kubernetes-anywhere#464
2. Use `gce/kube-up.sh` build cluster. See this pr: kubernetes/test-infra#5209

The second way is much easier and faster, but I was told they gonna depreca

[2017-10-27 09:05] Lion-Wei commented on #51602
There are to ways to add IPVS CI job:

1. Use `kubeadm`, but `kubeadm` doesn't support any kube-proxy config right now, so I had this pr #53962 , and also,  `kubernetes-anywhere` need support it too, see this pr: kubernetes/kubernetes-anywhere#464
2. Use `gce/kube-up.sh` build cluster. See this pr: kubernetes/test-infra#5209

The second way is much easier and faster, but I was told they gonna depr

[2017-10-27 09:05] Lion-Wei commented on #52834
There are to ways to do this work:

1. Use `kubeadm`, but `kubeadm` doesn't support any kube-proxy config right now, so I had this pr #53962 , and also,  `kubernetes-anywhere` need support it too, see this pr: kubernetes/kubernetes-anywhere#464
2. Use `gce/kube-up.sh` build cluster. See this pr: kubernetes/test-infra#5209

The second way is much easier and faster, but I was told they gonna depreca

[2017-10-27 09:11] irfanurrehman commented on #38974
This issue was moved to kubernetes/federation#4

[2017-10-27 09:11] #38974 closed

[2017-10-27 09:17] sttts commented on #54638
I have updated the sync.sh script with the HEADs of another run. All tags are the same as yesterday. After the federation removal PR went in, @marun and others need this as a baseline to move to the external repo.

[2017-10-27 09:42] zjj2wry commented on #54491
when my pod do not have `lastState:`(my pod not running all the time). should the column show?

[2017-10-27 09:43] irfanurrehman commented on #52992
/close

[2017-10-27 09:43] #52992 closed

[2017-10-27 09:45] irfanurrehman commented on #38974
moved to kubernetes/federation#4

[2017-10-27 09:48] wojtek-t commented on #53327
In principle, I agree that mock should behave the same way as real thing (I mean, this sentence isn't very precise, but you know what I mean).

That said, from the high level it doesn't need to be that simple. My personal feeling is that to fix that, we would need to add some test to the real "non-test-related" code in Kubelet, to just handle some corner case in hollow-kubelet that same way as in

[2017-10-27 09:51] shyamjvs commented on #54636
Sorry about it.. I renamed the dashboard in the meanwhile. Here's the one - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

[2017-10-27 09:56] arnold0617 commented on #54601
I fixed this problem.

This is caused by the parameter of nfs,  after setting nfs mount parameter like below,  it works fine.
`/nfs/data *(rw,sync,no_subtree_check,no_root_squash)`

[2017-10-27 09:56] #54601 closed

[2017-10-27 10:01] porridge commented on #53327
The pods are being deleted because by the time they are scheduled and
picked up by the kubelet (as a result of RC resize up), the test brings
them down (by resizing down).

With my limited knowledge, it seems to me like we're avoiding the same bug
in kubelet simply thanks to a "lucky" coincidence (the fact that networking
currently prevents a container start if the "pod container" is not running).

[2017-10-27 10:05] wackxu opened #54690 "priority admission controller can not verify priorityclass"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When I use priorityclass, I create two global default priorityclass and there is nothing wrong

**What you expected to happen**:
priority admission controller should prevent it.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (

[2017-10-27 10:07] shyamjvs commented on #53327
That's right. I explained it in https://github.com/kubernetes/kubernetes/issues/53327#issuecomment-339064229. By the time the pod is received by the kubelet is being created, the delete request comes in the meanwhile because we entered the deletion phase of the test.

[2017-10-27 10:09] #49535 closed

[2017-10-27 10:29] sttts opened #54693 "registries: remove intermediate `type Registry interface` between ScaleREST and storage"
Example: https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/apps/statefulset/registry.go#L32

These do essentially only type-casts, do not simplify the code otherwise.

[2017-10-27 10:46] lovejoy commented on #54671
@xiangpengzhao
the error message is in handlerErr ,so https://github.com/kubernetes/kubernetes/commit/9fcc25d1ed4a45e4ea09a6f30250d00a047275f4 didnot fix this

[2017-10-27 12:35] deads2k commented on #53828
That was an example of how the plumbing was solved for integration with arbitrary hooks in authentication.  Not a suggestion for re-use.

I think the default for the `kube-apiserver` (the `*` entry in the kubeconfig file), should be consistent with the generic apiservers and should be anonymous if not set.  Setting up a particular topology (for CI say), I'd be ok with adding a client certificate t

[2017-10-27 12:35] jhorwit2 opened #54697 "API server accepts invalid api versions for resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/area api
/area apiserver
/kind bug
/sig api-machinery

**What happened**:

I was able to apply a daemonset (works for others as well) with an invalid api version
[code]

[code]

**What you expected to happen**:

An error should be returned.

**How to reproduce it (as minimally and precisely as possible)**:

Apply an update to a resource with an incor

[2017-10-27 12:46] deads2k opened #54698 "need deep copy fuzz test helper"
Writing an API repo, you need to check that your deep copy methods work in isolation.  We should provide a test function in apimachinery for this purpose outside of conversions.

[2017-10-27 12:50] wojtek-t commented on #53327
in kubelet simply thanks to a "lucky" coincidence (the fact that networking
currently prevents a container start if the "pod container" is not running).

The question is whether this is some coincidence that we expect in all Docker version, or just now we are lucky. If the former, it doesn't matter if it is coincidence or not and it doesn't change my argument about complicating production code to

[2017-10-27 13:11] shyamjvs commented on #51099
@sttts Any idea why merge commits to your personal forks show up here? Adds some noise to the thread :)

[2017-10-27 13:16] #51406 closed

[2017-10-27 13:21] sylr commented on #27308
All in favor of that.

I have big sheel script which use lots of kubectl commands without specifying a context. In this case it would be really helpful.

[2017-10-27 13:26] sttts commented on #54698
We provide `roundtrip.RoundTripSpecificKindWithoutProtobuf`, compare https://github.com/kubernetes/kubernetes/blob/ecc811d263894ae54bbe62a3b1ba14847a260e95/staging/src/k8s.io/apiextensions-apiserver/examples/client-go/apis/cr/v1/roundtrip_test.go#L54. This lets you test types without internal types and therefore without conversions.

[2017-10-27 13:50] irfanurrehman commented on #41725
\close
This issue was moved to kubernetes/federation#7

[2017-10-27 13:51] irfanurrehman commented on #41725
/close
This issue was moved to kubernetes/federation#7

[2017-10-27 13:51] #41725 closed

[2017-10-27 13:57] smarterclayton commented on #54650
"k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/generated.proto` should have a `-` in front of it when we generate.  I suspect that's the primary cause.  go-to-protobuf doesn't have a dependency pruner on the IDL because i didn't care enough.

[2017-10-27 14:13] squeed commented on #54651
Ah, I think I know the issue. The new CNI plugins wait for DAD to finish before proceeding, which takes 3 seconds on Linux. Still need to do some testing (helpfully, my laptop drive died yesterday).

[2017-10-27 14:21] sttts commented on #51099
@shyamjvs it's were the staging repos are prepared for publishing. If PRs have links to issues/PRs, github will do this. Not much we can do.

[2017-10-27 15:05] squeed commented on #54651
The address-settle adds about 1 second of delay. Is that likely the complete cause, or is it also something else? (I'm not familiar with this test)

[2017-10-27 15:11] dixudx commented on #54525
I reproduced this. But I found the pods were successfully evicted and deleted only from `kubelet`, not `apiserver`. `Apiserver` still kept a copy, with nil `DeletionTimeStamp` and `ContainerStatuses`. @liggitt Do you know why? Quite abnormal.

[2017-10-27 15:30] liggitt commented on #54525
I see the kubelet sync loop construct a pod status like what you describe if an internal module decides the pod should be evicted:

https://github.com/kubernetes/kubernetes/blob/b00c15f1a40162d46fc4b96f4e6714f20aef9e6c/pkg/kubelet/kubelet_pods.go#L1293-L1305

The kubelet then syncs status back to the API server:
https://github.com/kubernetes/kubernetes/blob/b00c15f1a40162d46fc4b96f4e6714f20aef9e6c

[2017-10-27 15:45] OJezu commented on #54671
I've just updated to kubernetes 1.8 and still no error message in `kubectl describe pod <pod>`

However, I've never seen it there, as I've been using k8s for a few days, some of which were spent on searching how to debug hooks...

Anyway client and server version:
[code]
Server is running as a part of minikube

[2017-10-27 15:48] darkprisco opened #54706 "Kubernetes cluster memory problem"
Hi all,
 my problem is that I have a cluster of 3 agent and pods (almost 60) and I am observing that the memory used by pods (on each agent) is less than the one used by dockerd daemon.

Is something I shall verify to reduce this memory consumption?
Is this normal?

NAME                    CPU(cores)   CPU%      MEMORY(bytes)   MEMORY%
k8s-agent-b1fef67b-1    287m         7%        10838Mi

[2017-10-27 16:28] joeyea323 opened #54707 "kube-dns not using upstreamNameservers"
/kind bug

**What happened**:
- ConfigMap for kube-dns created with 1 internal upstream name server
- kube-dns pods replaced and verified logs picked up config:
          I1027 16:08:54.444583       1 sync.go:177] Updated upstreamNameservers to [###.###.###.###]
- push DNS request to kube-dns service IP for internal domain and it doesn't resolve (seems like it is only using what is defined in /etc

[2017-10-27 16:28] MrHohn commented on #54571
One difference I know of is we enable all alpha features in gce-alpha (including kube-proxy as daemonset, pod priority and others). Ref the env file we have:
https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gci-gce-alpha-features.env

Existing alpha features are listed in https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go.

Yep, that s

[2017-10-27 16:32] seenickcode commented on #17460
Hey update on this?

[2017-10-27 16:38] cmluciano commented on #53835
@spiffxp The IPv6 test was fixed and I think the IP based session affinity PR is merged to fix this. I am only seeing one failure in the dashboard today.

https://k8s-testgrid.appspot.com/sig-network#gci-gce-slow

[2017-10-27 16:47] dmfenton commented on #45398
I agree, it would be really nice to be able to `apply` these files after creation for CD workflows.

[2017-10-27 16:53] lavalamp commented on #53828
The annoying thing about adding a file is that (most likely) individual fixes need to be made to every cloud provider. We would need to test that the file is used anyway, so I agree that adding a default actually ends up making more work.

A default would be waaay more user friendly though :(

[2017-10-27 16:53] squeed commented on #54651
Ah, network setup is also serialized behind a mutex; the increase from 20ms to 1020ms for network setup in the critical path is almost certainly the culprit.

The CNI plugins could avoid the DAD delay for now (since we're not doing IPv6), this will eventually become a problem when ipv6 is supported.

Since the CNI plugin execution itself doesn't need to be synchronized, I think I can move that out

[2017-10-27 17:05] sbidaye82 commented on #53333
@kad

It worked. Appreciate your pointers.
Apparently KUBELET_CGROUP_ARGS was not part of ExecStart - hence was not reflecting on init.
After adding it in ExecStart it worked fine.

[2017-10-27 17:07] spiffxp commented on #53835
OK, the offending tests are still flaking a bunch in alpha jobs ([triage cluster 87b694524eb439d53a6f](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig-network%5C%5D%20Networking%20Granular%20Checks%3A%20Services%20%5C%5BSlow%5C%5D%20should%20function%20for%20client%20IP%20based%20session%20affinity%3A%20udp#87b694524eb439d53a6f)), but the specific failure cluster thi

[2017-10-27 17:07] #53835 closed

[2017-10-27 17:07] ericchiang commented on #21648
PR for `set volume` is here: https://github.com/kubernetes/kubernetes/pull/54284

I was assigned but don't have much background. Maybe someone on this thread would be interested in reviewing?

[2017-10-27 17:07] luxas commented on #54651
This seems to be a v1.9-blocking issue that needs to be fixed/tracked, right?

[2017-10-27 17:08] jcharlytown commented on #51752
@marceldempers, can you elaborate on how you achieved this? According to the kubernetes doc (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#new-azure-disk-storage-class-starting-from-v172) storage accounts are created within the same resource group as the cluster (for "managed" it actually says nothing specific though). However, I can confirm that the storage accounts (initially o

[2017-10-27 17:11] cmluciano commented on #53835
Ah! I do still see one suite that is failing on this feature

https://k8s-testgrid.appspot.com/google-gke#gci-gke-alpha-features.

But seemingly the same test is fine on

https://k8s-testgrid.appspot.com/sig-network#gci-gce-slow

I'm guessing that this job is running IPv6 or IPVS tests maybe

[2017-10-27 17:14] caesarxuchao opened #54709 "Test client authentication in admission webhook"
Currently the e2e test (https://github.com/kubernetes/kubernetes/pull/54165) uses one-way tls authentication. We need to add client authentication. It will include generating client cert/key and plumbing them through kubeconfig file.

[2017-10-27 17:19] spiffxp commented on #54571
FWIW even though it looks like [triage cluster 679a79064b46aae4d4b3](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig-network%5C%5D%20Networking%20Granular%20Checks%3A%20Services%20%5C%5BSlow%5C%5D%20should%20function%20for%20client%20IP%20based%20session%20affinity%3A%20http#679a79064b46aae4d4b3) shows the same text, the actual failure from recent jobs now looks like

[2017-10-27 17:21] kow3ns commented on #45398
You should use maxUnavailable and set that number to the maximum number of disruptions the applications will tolerate. I would argue that minAvaialble is a design bug as this value is predicated on the number of replicas for the Deployment, DaemonSet, StatefulSet, .... However, maxUnavialable (as a percentage or fixed value) should not vary with the scale of the Pod collection. If you can tolerate

[2017-10-27 17:22] yujuhong commented on #54525
I think this is intentional.

AFAIk, kubelet's pod eviction includes failing the pod (i.e., setting the pod status) and reclaiming the resources used by the pod on the node. There is no "deleting the pod from the apiserver" involved in the eviction. Users/controllers and check the pod status to know what happened to the pod if needed.

/cc @derekwaynecarr @dashpole

[2017-10-27 17:32] dashpole commented on #54525
Yes, this is intentional.  In order for evicted pods to be inspected after eviction, we do not remove the pod API object.  Otherwise it would appear that the pod simply disappeared
We do still stop and remove all containers, clean up cgroups, unmount volumes, etc to ensure that we reclaim all resources that were in use by the pod.
I dont think we set the deletion timestamp for daemon set pods.  I

[2017-10-27 17:34] rdsubhas commented on #45398
@kow3ns thanks for your response. Do you know if there is a common standard across kubernetes resources on mutation? Because this is the first example where one resource does not work with helm, state management and continuous delivery. It would help a lot if kubernetes resources are helm-friendly, but that means a HUGE investment/barrier of aligning across resources on the same style or standard.

[2017-10-27 17:35] luxas commented on #54318
This will probably alpha in v1.9 anyway, right?
I'm fine with that

[2017-10-27 17:38] rdsubhas commented on #25321
*Copy-paste comment from linked issue*

Hi @davidopp @kow3ns thanks for your responses. Do you know if there is a common standard or style or agreement across kubernetes core resource teams on mutation? Because this is the first example where a resource does not work with helm (and consequently, makes state management and continuous delivery and git-driven changes hard, and requires manual interve

[2017-10-27 17:49] derekwaynecarr commented on #51820
Regular object count was added here:
https://github.com/kubernetes/kubernetes/pull/54320

Follow-on will do custom resources once we can share that cache with garbage collector.

We should quantify what is meant by slow and compare that with the change linked above.

[2017-10-27 17:50] msau42 opened #54710 "Resource usage tracking e2e test fails constantly on ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-node-bugs

**What happened**:
[code]

[triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=resource%20usage%20tracking)
[testgrid](https://k8s-testgrid.appspot.com/canonical#gce-ubuntustable1-k8sdev-serial&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20%5C%5Bsig%5C-node%5C%5D%5C%20K

[2017-10-27 17:51] destijl commented on #51965
@khenidak the "A plan for secrets" doc is fairly significantly out of date, which I think is where you have the v1.10 idea. I'll try to get to updating and making that more accurate again.

The current plan is to:

1. create this API, probably a gRPC call from the master to an out-of-process container that runs the KMS provider. The API should be very simple: IIRC it's just encrypt/decrypt.

2. de

[2017-10-27 17:53] munnerz commented on #51163
Now that #47263 has merged, it'd be great to be able to auto-generate schemas for our custom resource types.

@mbohlool have you had a chance to look at this yet? I'd be happy to take a look, although I'm not too sure where to start.

/cc @nikhita

[2017-10-27 17:54] Raulkg commented on #53853
What was the resolution of this bug?

[2017-10-27 18:06] spiffxp opened #54711 "[job failure] ci-kubernetes-verify-master"
/priority critical-urgent
/priority failing-test

/sig release
/sig testing
because I'm taking a guess at who owns this job, [it doesn't have an owner right now](https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L8915)

This job is on the release-master-blocking dashboard, and prevents us from cutting 1.9.0-alpha.2 (kubernetes/sig-release#22). Is there work ongoing to bring thi

[2017-10-27 18:09] DreadPirateShawn commented on #43495
This still occurs in Kube 1.6:
[code]
Any update?

[2017-10-27 18:12] BenTheElder commented on #54711
unit and verify CI/PR jobs could use an appropriate owner and have been quite flaky (we have a few *very* flaky unit tests) 😕

[2017-10-27 18:14] cblecker commented on #54711
/assign
Let me take a look

[2017-10-27 18:20] BenTheElder commented on #54711
At a glance this looks the same as the "first bad" but on PR verify
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53561/pull-kubernetes-verify/58634/

[2017-10-27 18:20] djsly commented on #53726
@liggitt kind re-ping, anyway we could force `automountServiceAccountToken: false` for the `default` service account ?

thanks

[2017-10-27 18:25] cblecker commented on #54711
I think it's https://github.com/kubernetes/kubernetes/pull/53816.. a bunch of federation code was removed, that I think removed the need for deps, but the verify job didn't run as it only runs when deps are actually changed.

I'm verifying locally, but if this is the case, I can crank out a PR pretty quick to fix up.

[2017-10-27 18:34] caesarxuchao opened #54712 "Admission webhook configuration API should report if the configuration is effective"
The webhook [api](https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.1/staging/src/k8s.io/api/admissionregistration/v1alpha1/types.go#L152) doesn't tell if a webhook configuration is honored by the kube-apiserver or the extension apiservers. We should support it.

The problem is less critical for initializers, because users can observe objects's `metadata.initializers` to check if the init

[2017-10-27 18:36] luxas commented on #31307
Will this make v1.9?

[2017-10-27 18:38] luxas commented on #44694
If there doesn't exist one @imriss, please create one. Quick tip, if you're using kubeadm v1.8 (preferable), you can set `.imageRepository` in the config file and images will be pulled from there.
See also: https://kubernetes.io/docs/admin/kubeadm/

[2017-10-27 18:38] luxas commented on #44518
Great, thanks!

[2017-10-27 18:38] #44518 closed

[2017-10-27 18:39] cmluciano commented on #54663
@kubernetes/sig-gcp-bugs

[2017-10-27 18:40] sttts commented on #54712
Maybe also relevant: auditing /cc @crassirostris

[2017-10-27 18:40] luxas commented on #54252
This is a known issue. I'm pretty sure it's documented somewhere.
We're gonna use Kubelet Dynamic Config for this (https://github.com/kubernetes/kubeadm/issues/28). Will hopefully make v1.9

[2017-10-27 18:40] #54252 closed

[2017-10-27 18:40] cmluciano commented on #54661
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-27 18:40] cmluciano commented on #54661
/assign

[2017-10-27 18:44] sttts commented on #54693
Looks like it's intensively used to mock registries in tests.

[2017-10-27 18:47] krmayankk commented on #54263
@rootfs our finding so far is
- we can confirm that the TearDown was not only failing for RBD volumes but also for secrets and empty dirs
- we had some daemonsets mounting hostPath `/` in their pods
- this resulted in all mount points for pods on a given host, to show up inside the daemonset pod which was mounting the `/`. This includes the rbd volumes, secrets, and emptydirs
- we have so far fixe

[2017-10-27 18:48] lavalamp commented on #54712
I think eventually we need this info (which webhooks ran) to end up in audit logs. For beta, I think it's enough to document a maximum time between modifying the configuration and it becoming effective.

[2017-10-27 18:53] krmayankk commented on #54263
More pointers from @rootfs  placing here for everyone to look at correlate https://github.com/moby/moby/issues/20560#issuecomment-187155878
https://github.com/openshift/origin/issues/14428#issuecomment-307378657
https://github.com/kubernetes/kubernetes/issues/45935
https://github.com/kubernetes/kubernetes/issues/53373
https://github.com/kubernetes/kubernetes/issues/51835

[2017-10-27 18:53] caesarxuchao commented on #54712
The suggestion is 1s, but there's really no guarantee. Networking, goroutine scheduling etc. can cause delays.

Could someone explain why this info belongs to audit logs, or provide links to existing docs?

[2017-10-27 18:55] sttts commented on #51163
@munnerz a good start is @mbohlool's PR from 1.8 adding OpenAPI aggregation in kube-apiserver: https://github.com/kubernetes/kubernetes/pull/50864. Probably apiextensions-apiserver "just" has to serve an OpenAPI spec built from the registered CRDs.

[2017-10-27 19:01] sttts commented on #54712
Audit logs should explain what happened and to a degree why. I could imagine an audit event before and after mutating admission.

[2017-10-27 19:03] sttts commented on #54712
Maybe we mean a different things. After rereading your issue description: the CRDs have a condition `Established`. It switches to true when the API server actually serves them. A similar thing could be used here. Of course, this still does not support the HA case because only one apiserver instance will set the condition while the other one might lagging behind.

[2017-10-27 19:06] lavalamp commented on #54579
CRD embeds v1.Pod. (time passes) we deprecate v1.Pod in favor of v2.Pod (...much later...) We remove v1.Pod. Suddenly the entire system loses the ability to interpret the CRD that embedds the v1.Pod object.

[2017-10-27 19:11] caesarxuchao commented on #54712
RE. HA, the [configuration manager](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/configuration/configuration_manager.go) is the goroutine that periodically checks the configuration. If we protect it with the leaderelection packages, I think it works for HA.

[2017-10-27 19:12] liggitt commented on #54712
We don't have a good pattern today for N observers registering active status on a single object.

[2017-10-27 19:17] liggitt commented on #54712
I don't think leader election works, right? we don't want a single leader, we want to know if it is effective in all api servers and relevant extension servers

[2017-10-27 19:20] luxas commented on #50926
@yastij If you say that all providers have this now, thanks, great!

[2017-10-27 19:20] #50926 closed

[2017-10-27 19:21] luxas commented on #44100
@timothysc @dcbw @caseydavenport Any action items here for v1.9?

[2017-10-27 19:24] luxas commented on #53804
@k82cn @jamiehannaford Does this work as it should now at HEAD? Then we should close this.

[2017-10-27 19:27] luxas commented on #53867
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-10-27 19:27] #53867 closed

[2017-10-27 19:27] cblecker commented on #54711
Fix is in https://github.com/kubernetes/kubernetes/pull/54714

[2017-10-27 19:28] luxas commented on #53867
(Also @dixudx we're working on a fix, see https://github.com/kubernetes/kubernetes/pull/49840)

[2017-10-27 19:28] caesarxuchao commented on #54638
Tests for the latest code in sttts repo passed. @eparis I think it's good to go.

[2017-10-27 19:29] luxas commented on #53462
@jhorwit2 Some bug fix we should make before beta in v1.9?

[2017-10-27 19:31] luxas commented on #50752
It would be very valuable to get automatically running e2e tests even though the volume support isn't there quite yet @karataliu. Thanks!

[2017-10-27 19:32] BenTheElder commented on #54711
Thanks for tackling this @cblecker!

[2017-10-27 19:32] luxas commented on #53451
Marking this for v1.9 @jhorwit2

[2017-10-27 19:42] jamiehannaford commented on #53804
Yep, I got this working on HEAD.

[2017-10-27 19:42] #53804 closed

[2017-10-27 19:49] pwittrock commented on #53524
@mml just saw the comment.  I had a similar idea to what you suggest, and think that would be really cool to build, as well as providing some lower level tools the bazel rules could leverage.

[2017-10-27 19:55] eparis commented on #54638
https://gist.githubusercontent.com/anonymous/60717981ae44ed23bf52809a1e7d1356/raw/43c9e37ab0a1d76c29bbec766ac77ee03622af04/sync.sh

ran successfully to completion.

[2017-10-27 19:55] #54638 closed

[2017-10-27 20:01] sttts opened #54715 "Tag client-go 5.0.2"
1.8.2 is pushed https://github.com/kubernetes/kubernetes/issues/54638. Next step: 5.0.2 tag with release-notes.

[2017-10-27 20:01] sttts commented on #54715
/cc @roycaihw

[2017-10-27 20:10] jhorwit2 commented on #53462
@luxas I wanted to discuss this during the wg meeting this week but I'll be traveling.

The problem I see is that we use `EnsureLoadBalancer` for any services that are put onto the work queue and the node sync loop calls `UpdateLoadBalancer`. I'm not sure the reasons for these two methods but they seem to overlap a lot (to the point some cloud providers just call Ensure from Update). The docs on `

[2017-10-27 20:13] jhorwit2 commented on #53462
Actually, every cloud provider should be able to consolidate without any problems since the docs on `EnsureLoadBalancer` says it should update the load balancer so the functionality should already exist in the implementations.

[2017-10-27 20:18] sttts commented on #54579
At least it won't validate it anymore. Deletion is not a problem.

[2017-10-27 20:20] sttts commented on #54579
Which also means that we need a migration early enough, or more precisely the CRD author has to take care of this. Also with native types: if you miss the point in time to migrate, the objects are lost.

[2017-10-27 20:26] julia-stripe opened #54716 "Apiserver times out PUTs to /api/batch/v1 endpoints after etcd leader election"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

1. We had an etcd leader election because the etcd leader was killed
2. PUT requests to the apiserver's `"/apis/batch/v1/namespaces/<namespace>/jobs/<jobname>/status"` endpoints started timing out (http response code: 504). Requests to all other endpoints succeeded.
  * Specifically: PUTs for job status and cronjob statu