[2017-07-21 22:50] #48770 closed

[2017-07-21 22:55] saad-ali commented on #49418
@gnufied Ya, we just reached the same conclusion. The extra nil check will mask the real issue, i.e. why was there a nil spec to begin with  (but we should still do it).

Exactly. @msau42's has a solid theory, for what might be happening:
* A pod is created with a volume that is attached, all is good.
* `kube-controller-manager` goes down. In the meantime the pod is deleted.
* `kube-controller-man

[2017-07-21 23:05] saad-ali commented on #49418
To expand on the first part of my comment above, regarding PR https://github.com/kubernetes/kubernetes/issues/49420. It's fine to add this check. But I question if the caller logic even makes sense. Why is `nodeError := oe.VerifyVolumesAreAttachedPerNode...` in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go#L616 even inside the `for` lo

[2017-07-21 23:05] JTarasovic commented on #48245
To add a second data point, I also run clusters in AWS and am seeing the same thing. It seems to happen during rolling upgrades where pods will get reshuffled to different nodes.

I also see that the pod(s) get sent a `SIGINT` and terminate gracefully; leaving it in a Completed state without any events that would indicate why it is "Completed".

I am running 1.6.4 in both clusters.

**Environment*

[2017-07-21 23:28] madhusudancs commented on #49213
@luxas at a high level, yes. There are some intricate details. For example, clusters must use different CIDRs for pod addresses, they should be in different zones, etc. But those details could be worked out and shouldn't be hard. And spawning multiple clusters shouldn't be difficult as well. They could be separate, possibly parallel, invocations of kubeadm.

[2017-07-21 23:31] DreadPirateShawn commented on #32432
Curious, any update on this? Mainly, has it been dormant simply because it's not a priority yet, or is there reluctance to use this general approach in the first place?

We're running into use-cases for binary content too, and we're wondering if this is on the radar or if we should assume that the solution won't be from the configmap angle.

[2017-07-21 23:42] liggitt opened #49423 "TestEtcdStoragePath test failures"
Seeing a variety of failures

Address already in use failures
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49117/pull-kubernetes-unit/42260/

Stack traces:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49168/pull-kubernetes-unit/42305/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49168/pull-kubernetes-unit/42269/

C

[2017-07-21 23:48] gnufied commented on #49418
No it doesn't get called `len(nodeAttachedVolumes)` number of times.  The idea is - if the node has any volume plugin that doesn't support BulkVolumeVerifiction, then we are breaking out of the loop and performing validation of that node individually - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_executor.go#L620

In a ideal world - people wouldn

[2017-07-21 23:53] gnufied commented on #49418
Also, @tsmetana is working on a proper fix here - https://github.com/kubernetes/kubernetes/pull/48755 this would ensure that we get rid of splitting volume-plugin's name and we can populate volume spec properly.

[2017-07-21 23:57] saad-ali commented on #49418
@gnufied Ack, we'll revisit that code later.

More from @msau42's debugging:

* The race above seems unlikely; 60 seconds is a very long time for a detach and for it to crash loop would mean that it would need to hit the 60 second race every time, unlikely.
* Instead maybe the pod was not deleted, instead maybe the PVC was deleted. Consider this scenario:
  * A pod is created referencing a volume

[2017-07-21 23:57] plombardi89 commented on #49415
/sig cli

[2017-07-21 23:58] plombardi89 commented on #49415
/sig cluster-lifecycle

[2017-07-22 00:00] #44848 closed

[2017-07-22 00:00] #43750 closed

[2017-07-22 00:15] mengqiy opened #49424 "CRD and TPR doesn't support watching one single instance"
Follow https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/

1. Create a TPR `crontab`
2. Create an instance `my-new-cron-object`
3. Watch a single instance return 400. (watch a collection of TPR works)
[code]

master and kubectl version: 1.7.1

CRD has the same issue.

/assign @enisoc

[2017-07-22 00:18] MrHohn opened #49425 "GCE Cloud Provider: Update ExternalTrafficPolicy on LoadBalancer Service without downtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Target pool on GCP seems to support in place update of health check (manually tested). Since health check on LB is the only difference we have between `ExternalTrafficPolicy=Local` and `ExternalTrafficPolicy=Cluster`, we should be able to update `ExternalTrafficPolicy` on LoadBalancer Service without bring down the tr

[2017-07-22 00:19] MrHohn commented on #49425
/area platform/gce

[2017-07-22 00:25] mbohlool commented on #49325
One solution is to add a fix to the tool at  https://www.morethanseven.net/2017/06/26/schemas-for-kubernetes-types/.

The JSON schema allows multiple types. The tool can simply add null to all optional fields' type. It is not valid for OpenAPI but the tool output is JSON schema not OpenAPI.

[2017-07-22 00:29] xiangpengzhao commented on #49415
@plombardi89 please re-open this in https://github.com/kubernetes/kubeadm :)

[2017-07-22 00:40] buchanae commented on #49065
`apt-get install kubeadm=1.7.0-00 -y --allow-downgrades`

This is what I needed, for anyone else landing here.

[2017-07-22 00:45] enisoc commented on #49424
@kubernetes/sig-api-machinery-bugs

[2017-07-22 00:47] saad-ali commented on #49418
Huge props to @msau42 for helping debug this! And thanks to @gnufied for jumping in to help patch it on a Friday evening.

We think the above is the root cause of this issue.

Work around for folks hitting this issue:
* Recreate the deleted PVC
* Or disable syncState by setting `--disable-attach-detach-reconcile-sync=true` flag on the kube-controller-manager binary to disable the component that cr

[2017-07-22 00:58] caesarxuchao opened #49427 "[e2e flake] Garbage collector should delete RS created by deployment when not orphaning"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49417/pull-kubernetes-e2e-gce-etcd3/42215/

[2017-07-22 00:58] caesarxuchao commented on #49427
/sig api-machinery

[2017-07-22 01:14] caesarxuchao commented on #49427
Will send a fix soon.

[2017-07-22 01:15] msau42 commented on #36499
Hi @svengt, could you send me an email?  I would like to discuss your specific use cases and requirements further.

[2017-07-22 02:04] dims commented on #49402
one more dependency, when --external-hostname is not set in api server, we end up using the cloud provider to look for the external ip

[code]

[2017-07-22 02:05] xiangpengzhao commented on #49376
/sig storage

[2017-07-22 02:17] dims commented on #49414
@xrl yes, i filed a PR to highlight this problem and add some logs with this suggestion, please take a look

https://github.com/kubernetes/kubernetes/pull/49318

[2017-07-22 02:18] k82cn commented on #46935
nop, it dependents on pod's event (e.g. add, update, delete) :(. It avoid too many info in Node object. In scheduler, it cache those info in `schedulercache`; and uses those info by `PodFitResource` predicate.

In DaemonSet's `deletePod` handler, we only care about the DS pod and enqueue DS; if other pod in Node is deleted, DS controller will not do anything.

[2017-07-22 02:25] xiangpengzhao commented on #49376
Original error from here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L606-L609
[code]

What's the output of `kubecctl describe pod`? What's its namespace?

[2017-07-22 02:40] xiangpengzhao commented on #49421
/sig cluster-lifecycle

[2017-07-22 02:44] xiangpengzhao commented on #48221
/sig storage

[2017-07-22 02:48] xiangpengzhao commented on #48300
/sig testing

Seems we can close this as per the discussion in #45380 ?

/cc @fejta @ixdy @spiffxp

[2017-07-22 02:52] xiangpengzhao commented on #48372
/sig cluster-lifecycle

[2017-07-22 02:54] xiangpengzhao commented on #48973
/sig node
/area logging

[2017-07-22 02:56] xiangpengzhao commented on #48990
/sig node

[2017-07-22 02:58] jianglingxia opened #49431 "Pod is ContainerCreating in other node by scheduled when rbd is locked by one node"
<!-- This form is for bug reports and feature requests ONLY!

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
At present, the Ceph RBD is used to verify the scheduling of multiple instances on k8s.After the first pod instance mounts the RBD, the cloud hard disk that the RBD represents is exclusive to the node (only the other pod copies of the pod on the same a nodes can be mounte

[2017-07-22 02:58] xiangpengzhao commented on #49002
/sig apps

[2017-07-22 02:59] xiangpengzhao commented on #49003
/sig apps

[2017-07-22 03:02] xiangpengzhao commented on #49151
Similar to #48300?
/sig testing

[2017-07-22 03:03] xiangpengzhao commented on #49152
Also similar to #48300?
/sig testing

[2017-07-22 03:03] xiangpengzhao commented on #49154
/sig cluster-lifecycle

[2017-07-22 03:04] xiangpengzhao commented on #49241
Also similar to #48300?
/sig testing

[2017-07-22 03:04] jianglingxia commented on #49431
I found the Description is null ,so I resumbit it and close this issue!

[2017-07-22 03:04] #49431 closed

[2017-07-22 03:04] xiangpengzhao commented on #49242
/sig storage

[2017-07-22 03:05] xiangpengzhao commented on #49244
Similar to #48300?
/sig testing

[2017-07-22 03:05] xiangpengzhao commented on #49245
Similar to #48300?
/sig testing

[2017-07-22 03:08] jianglingxia opened #49432 "Pod is ContainerCreating in other node by scheduled when rbd is locked by one node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
At present, the Ceph RBD is used to verify the scheduling of multiple instances on k8s.After the first pod instance mounts the RBD, the cloud hard disk that the RBD represents is exclusive to the node (only the other pod copies of the pod on the same a nodes can be mounted);If scheduling to another node that other pod alw

[2017-07-22 03:14] jianglingxia commented on #49432
/sig storage

[2017-07-22 03:15] jianglingxia commented on #49432
/sig scheduling

[2017-07-22 03:16] gnufied commented on #49418
@saad-ali sure I will test my patch above with repo. steps and update here.

[2017-07-22 03:19] xiangpengzhao commented on #14230
Is this issue still valid? If so, can guys from @sig-cluster-lifecycle-feature-requests take a look at it?

[2017-07-22 03:21] xiangpengzhao commented on #14230
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-07-22 03:35] jayeshnazre commented on #49411
Anyone facing this issue?

[2017-07-22 03:58] cblecker commented on #49210
/priority awaiting-more-evidence
/no-priority critical-urgent

[2017-07-22 03:59] cblecker commented on #49210
/remove-priority critical-urgent

[2017-07-22 04:06] timchenxiaoyu opened #49434 "OutOfmemory status"
kubernetes 1.4.2

mi-pc-web-1747399227-lrfzf   0/1       OutOfmemory   0          20h       <none>    slave-141

what status OutOfmemory?

[2017-07-22 04:43] dElogics opened #49435 "[documentation]Container v1 core > volumeMounts must be a list."
/kind bug

In the API reference --
https://kubernetes.io/docs/api-reference/v1.7/#container-v1-core
volumeMounts is a list, but as per the documentation, it must be a array.

[2017-07-22 05:21] xiangpengzhao commented on #49434
/sig node

Could you please provide more info? And what bug do you think is it?

[2017-07-22 05:22] xiangpengzhao commented on #49435
/sig api-machinery maybe

[2017-07-22 05:23] #49418 closed

[2017-07-22 05:23] #45060 closed

[2017-07-22 06:03] kevtaylor commented on #48677
You can use expanded env vars in command line and args lines only. So that's how you can create a  unique subpath using an init container with a command line symbolic link but that solution is messy.

[2017-07-22 06:30] #49372 closed

[2017-07-22 07:55] onefam opened #49437 "SKAHP It please.."
[

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Ot

[2017-07-22 08:23] garethr commented on #49325
@mbohlool thanks, that's what I'm doing for now. https://github.com/garethr/kubernetes-json-schema/commit/12719afdc584f6a5f8a28432d4c56c8691b7f841.

It looks like this isn't resolvable in OpenAPI 2, so it will likely have to wait until 3 is stable and implemented in Kubernetes.

[2017-07-22 10:08] gyliu513 commented on #49104
Even with calico2.3, it still does not work, filed an issue https://github.com/projectcalico/k8s-policy/issues/108

@caseydavenport can you please help check? Thanks!

[2017-07-22 10:46] kargakis commented on #49135
Yes, new api version means we can change the defaults. +1 on making rolling updates the default.

[2017-07-22 11:28] kargakis commented on #49292
3/5 runs in a PR are failing because of this

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/49289/pull-kubernetes-kubemark-e2e-gce/

[2017-07-22 11:31] huangjiasingle opened #49440 "No nodes are available that match all of the following predicates:: PodFitsHostPorts (1), PodToleratesNodeTaints (1)."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when l operation like this: kubectl scale --replicas=2 deploy/demo -n oliver
l found the new pod was always pending, so l describe the pod , the message is : No nodes are available that match all of the following predicates:: PodFitsHostPorts (1), PodToleratesNodeTaints (1). the old version v1.6.X  it's ok.

the cluster is one maste

[2017-07-22 12:03] xiangpengzhao commented on #49440
/sig scheduling

[2017-07-22 12:07] xiangpengzhao commented on #49440
@huangjiasingle could you please provide more info, such as pod manifest, `kubectl describe nodes`?

[2017-07-22 12:07] kargakis commented on #34120
Back from the dead

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49355/pull-kubernetes-e2e-gce-etcd3/42301/

[code]
@kubernetes/sig-api-machinery-test-failures

[2017-07-22 12:09] taisph commented on #43800
I am having this problem on Ubuntu/Debian/Hypriot. Never gets past "Created API client" and kube-apiserver container restarts about every other minute.

[code]

[code]

[2017-07-22 13:30] zhangxiaoyu-zidif commented on #49363
/kind bug

[2017-07-22 14:07] monday0rsunday opened #49442 "Pod in ContainerCreating status when containers.resources.limits.memory use lowercase unit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Pod is in eventually *ContainerCreating* status

[code]

**What you expected to happen**:

There should be invalid response when I create pod
or Pod should be in eventually Running status

**How to reproduce it (as minimally and precisely as possible)**:

Create a pod with containers.resources.limits.memory using lowerca

[2017-07-22 14:32] xiangpengzhao commented on #49442
/sig node

Do you try to use `500Mi` and then see if the container can start?

Don't use lowercase memory unit. See: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-memory

However, IIRC, even though `m` is an invalid memory unit, if you use it, it will be translate to milli byte.

/cc @vishh

[2017-07-22 14:38] smarterclayton commented on #48920
@derekwaynecarr is the pod still marked ready?  It should not be considered ready during NodeLost I don't think.

[2017-07-22 15:12] huangjiasingle commented on #49440
@xiangpengzhao the node info like this:
[code]

the pod info like this :

[code]
***kubectl describe po demo-2023766708-ppm7v  -n oliver***

[code]
***the deploy yaml like this :***

kubectl get deploy demo -n oliver -oyaml

[code]

[2017-07-22 15:26] xiangpengzhao commented on #49440
Note that you have only one node and its hostport 8080 has been used by your first running pod(container). The second pod also want this hostport, then it fails to be scheduled.

/cc @davidopp @k82cn

[2017-07-22 16:42] smarterclayton commented on #48920
On second thought, it probably has to remain ready because the master can't be sure of partition.  However, I'm also concerned with having to special case NodeLost in clients

[2017-07-22 16:48] smarterclayton commented on #49135
+1

[2017-07-22 18:06] zihaoyu opened #49445 "Do not modify ELB security group"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We run Kuberentes on AWS. We are trying out `LoadBalancer` service type.

We use Terraform heavily for managing infrastructure on AWS. As a result we have several shared security groups with "perfect" rules. One of them is supposed to be attached to ELBs so our own IPs, partners, etc are whitelisted. Right now, it se

[2017-07-22 18:06] zihaoyu commented on #49445
/sig aws

[2017-07-22 20:31] nwams commented on #45011
How did you go about upgrading your Server Version to 1.6? @olalonde

[2017-07-22 21:54] davidopp commented on #49190
@lavalamp Given the error message mentioned in the bug report at the top of this thread, do you have a suggestion of what we forgot to do when we added the SchedulerName field to the PodSpec? i.e. to enable field selection on the schedulerName field?

[2017-07-22 22:51] k8s-merge-robot opened #49450 "Failure cluster [ba1185...] failed 143 builds, 6 jobs, and 1 tests over 1 days"
### Failure cluster [ba118524ada31aef755b](https://go.k8s.io/triage#ba118524ada31aef755b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    6 jobs failed,    143 builds failed.
Failure stats cover 1 day time range '21 Jul 2017 21:50 UTC' to '22 Jul 2017 21:50 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 6 |

##### Top

[2017-07-23 01:18] shyamjvs opened #49453 "(gci-)gce-scalability jobs on 1.6 and 1.7 started failing frequently"
There seems to be 2 kinds of flakes:
- failing cluster startup
- failing load/density tests

My suspicion is that something changed around test-infra and k8s-side changes weren't backported to the release branches.
Will take a look into it on monday.

Failing jobs:
https://k8s-testgrid.appspot.com/google-gce-scale#gce-1.6
https://k8s-testgrid.appspot.com/google-gce-scale#gce-1.7
https://k8s-testgr

[2017-07-23 02:57] monday0rsunday commented on #49442
@xiangpengzhao yes, container can start with 500Mi

I think that there should be clear documentation, or invalid response

[2017-07-23 03:20] supereagle commented on #49442
For memory, the unit should be `M` or `Mi`, not `m`, `m` is the unit for CPU.

I think there is need to validate the quantity unit, and I will submit a PR for this.

[2017-07-23 07:18] gogeof commented on #49440
I also have this problem, but my confuse is that why <kubeadm init> create a node, but user's pods can't use it.
- kubectl get nodes:
[code]

- kubectl describe pod
[code]

[2017-07-23 08:20] dhilipkumars commented on #49336
@janetkuo is anyone already working on this issue? I would love to pick this up.

[2017-07-23 08:50] redbaron commented on #23708
FYI, dynamic kubectl works just fine, at least one from hyperkube, all is needed is to call it via dynamic linker explicitly:

`/lib/ld-musl-x86_64.so.1 /opt/bin/hyperkube kubectl $@`

[2017-07-23 08:53] supereagle commented on #49442
Correct quantities:
* resource.Quantity{i:resource.int64Amount{value:524288000, scale:0}, d:resource.infDecAmount{Dec:(*inf.Dec)(nil)}, s:"", Format:"DecimalSI"}
* resource.Quantity{i:resource.int64Amount{value:500, scale:6}, d:resource.infDecAmount{Dec:(*inf.Dec)(nil)}, s:"500e6", Format:"DecimalExponent"}
* resource.Quantity{i:resource.int64Amount{value:524288000, scale:0}, d:resource.infDecAmou

[2017-07-23 10:26] dixudx commented on #49336
@dhilipkumars I created a PR #49454. You can add your comments there.

[2017-07-23 11:16] #48666 closed

[2017-07-23 12:47] dhilipkumars commented on #49336
/assign @dixudx

[2017-07-23 12:48] dhilipkumars commented on #49336
@dixudx could you assign this to yourself in this case please?

[2017-07-23 13:03] avaranovich commented on #44085
@dadicool  If i create a PV like this, still mounted with the default root used into POD.

StorageClass
[code]

PV

[code]

[2017-07-23 14:27] dixudx commented on #49336
@dhilipkumars I am not a member. Only kubernetes members can be assigned.

[2017-07-23 14:52] xiangpengzhao commented on #49437
@onefam As there isn't valid info in this issue, can we close it? Feel free to create new issues if you find bugs or have feature requests.

[2017-07-23 14:54] dixudx commented on #49314
@alena1108 From the log, it seemed that `scheduler` failed to bind your pod to the node and also failed to forget the pod, which led to unable to reschedule the pod to other nodes.

Would you please append `-v==1` when you start `kube-scheduler` and reproduce this issue. Also the kubelet log of that erroneous node.

[2017-07-23 18:08] muxalko commented on #47142
Same issue.
When trying to redeploy the whole cluster (v1.7.0) it helps, but after restart kube-dns stops working with no obvious reason.
I wonder, how can I see whether dns-controller is creating a dns record for newly created pods or when pod is restarted  and new IP address is assigned ?
kubectl logs kubedns doesn't show anything. Is there a way to debug dns record creations ?

[2017-07-23 18:18] gajus commented on #35288
I have similar issue.

[code]

Here is even log for one of the nodes:

[code]

Version:

[code]

This is really big problem. I am having outages daily.

[2017-07-23 19:05] bowei commented on #47142
repeating comment from above: @ssubramanian123 -- if AWS has DNS QPS limits, running the lookup in a loop will cause the QPS limit to be hit. Can you measure the outgoing DNS QPS to make sure that you are not triggering that issue?

[2017-07-23 19:06] bowei commented on #47142
@muxalko you need to be more specific about what is not working. Also, what environment are you running on?

[2017-07-23 21:27] kamilgregorczyk opened #49458 "Tutorial: Part "Installing a sample application" is not working"
/kind bug

**What happened**:
I just finished this tutorial on virtualbox: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
**What you expected to happen**:
When I did step "(Optional) Installing a sample application" I expected to have a working website under master ip but i got connection refused.
[code]

[code]

[code]

[code]

[code]

**How to reproduce it (as minimally and

[2017-07-23 21:35] kamilgregorczyk opened #49459 "Tutorial: Part "(Optional) Proxying API Server to localhost" not working"
/kind bug

**What happened**:
After I finished tutorial from this url: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ I expected proxy (part (Optional) Proxying API Server to localhost) to be working properly and reaching out to /api works but /ui and /ui/ gives me such json:
[code]

[code]
I tried running proxy on host (mac) and on the master itself but nothing worked. If th

[2017-07-23 22:51] k8s-merge-robot opened #49460 "Failure cluster [8c8797...] failed 129 builds, 11 jobs, and 2 tests over 1 days"
### Failure cluster [8c8797b0e4eecced864c](https://go.k8s.io/triage#8c8797b0e4eecced864c)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    11 jobs failed,    129 builds failed.
Failure stats cover 1 day time range '22 Jul 2017 22:13 UTC' to '23 Jul 2017 22:13 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cli] Kubectl cli

[2017-07-24 01:05] k82cn commented on #49440
what's the output of `kubectl describe nodes`? It seems because
Tolerate/Taints.

----
Da (Klaus), Ma (马达) | PMP® | Software Architect, IBM Cloud private
Development
IBM Spectrum Computing, IBM System
+86-10-8245 4084 | klaus1982.cn@gmail.com | http://k82.me

On Sun, Jul 23, 2017 at 3:19 PM, gogeof <notifications@github.com> wrote:

[2017-07-24 01:07] billmilligan commented on #43815
I hit this issue, and absolutely nothing I read above worked.  So I tried again with a much more controlled setup, switching from Ubuntu to the latest CoreOS, going to an earlier version of k8s to start with, and in general being very anal about every last thing installed into each VM.  I am NOT using kubeadm, but instead a combination of vagrant and ansible.

(why?  because I had no idea what was

[2017-07-24 01:10] bw2 opened #49461 "error validating data: found invalid field envFrom for v1.Container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Deploying this config:

[code]

fails with the following error:
[code]

**What you expected to happen**:

no error

**How to reproduce it (as minimally and precisely as possible)**:

Run:
kubectl apply -f config.yaml --record

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2017-07-24 01:10] miramar-labs commented on #43815
This stuff is currently unusable .. same issues here .. fresh install Ubuntu 16.0.4, latest kubernetes, latest docker ... following the docs ... nodes are 'Not Ready' ... broken out of the box.
Docker Swarm works great though ;)

[2017-07-24 01:15] rushtehrani commented on #43279
I think https://github.com/kubernetes/kops/pull/2982 and https://github.com/kubernetes/kubernetes/pull/45896 will address this issue in 1.7.  See  https://github.com/kubernetes/kops/pull/2982#issuecomment-315977356 for a more detailed explanation of the issue.

[2017-07-24 01:29] xingzhou commented on #47727
@janetkuo, no, at present, only a revision annotation in ReplicaSet.

[2017-07-24 01:51] huangjiasingle commented on #49440
@xiangpengzhao thank u! l know the reason.l will close it.

[2017-07-24 01:52] xingzhou commented on #49384
yeap, @ravisantoshgudimetla, if you are not working on this, I can provide a patch on this

[2017-07-24 02:04] justlooks opened #49462 "kubelet try pull new version api-server image,when i destroy cluster and rebuild it"
Environment:

Kubernetes version (use kubectl version): v1.7.0
Cloud provider or hardware configuration**:
OS (e.g. from /etc/os-release): CentOS 7
Kernel (e.g. uname -a): Linux k8s-master 3.10.0-514.6.2.el7.x86_64
Install tools: Kubeadm
Others:
docker version : Docker version 1.12.6,
My RPM version :
docker-1.12.6-16.el7.centos.x86_64.rpm
kubectl-1.7.0-0.x86_64.rpm
kubernetes-cni-0.5.1-0.x86_64.r

[2017-07-24 02:06] kweisamx commented on #49458
Hi @kamilgregorczyk

You can check the network first, because the cluster IP is under overlay network.
And you need to understand the network environment to help you get service ,

the ref will help you
[https://stackoverflow.com/questions/41963433/what-does-it-mean-for-a-service-to-be-of-type-nodeport-and-have-both-port-and-t](https://stackoverflow.com/questions/41963433/what-does-it-mean-for-a-s

[2017-07-24 02:16] ravisantoshgudimetla commented on #49384
Sure @xingzhou, please go ahead.
cc @vikaschoudhary16.

[2017-07-24 02:21] dixudx commented on #49461
@bw2 This is not a bug. Please upgrade your apiserver to v1.6.1+.

For `v1.5.1`, `envFrom` has [not been implemented](https://github.com/kubernetes/kubernetes/blob/v1.5.1/pkg/api/types.go#L1251-L1308) until `v1.6.1`.

[2017-07-24 02:28] huangjiasingle commented on #49440
@xiangpengzhao @k82cn  the PodFitsHostPorts error, l understand it. but  PodToleratesNodeTaints error , l can't know it , l read the code’ s  of  PodToleratesNodeTaints func , it liken this :

[code]

because the node's  Taints  is none ,  the code :

[code]
will be exec , it does't exec :

[code]
so , the PodToleratesNodeTaints  error shouldn't return.

[2017-07-24 02:35] xiangpengzhao commented on #49461
@dixudx yeah :+1: .

I use @bw2 's config on HEAD, it works.

[2017-07-24 02:35] xiangpengzhao commented on #49461
/sig api-machinery

[2017-07-24 02:35] gogeof commented on #49440
## You're right:
[code]

- that is my problem.
And I want to deploy pod in master node, I should run this command in master node:
[code]

[2017-07-24 02:55] supereagle commented on #49461
@bw2  Your server version(v1.5.1) is too low, which does not support `envFrom`. Please update your server version.

[2017-07-24 03:24] gnufied commented on #49418
Tested my fix against both patched and unpatched kube versions and it seems to be working fine.

[2017-07-24 03:32] supereagle commented on #49435
The structure of `VolumeMounts`:
[code]
In go, the structure of `VolumeMounts` is slice. I think `volumeMounts` can be thought as list or array, there is no significant difference.

[2017-07-24 03:39] #49462 closed

[2017-07-24 03:45] justlooks opened #49464 "kube-dns keep restart sidecar dnsmasq kubedns"
Environment:

Kubernetes version (use kubectl version): v1.7.0
Cloud provider or hardware configuration**:
OS (e.g. from /etc/os-release): CentOS 7
Kernel (e.g. uname -a): Linux k8s-master 3.10.0-514.6.2.el7.x86_64
Install tools: Kubeadm
Others:
docker version : Docker version 1.12.6,
My RPM version :
docker-1.12.6-16.el7.centos.x86_64.rpm
kubectl-1.7.0-0.x86_64.rpm
kubernetes-cni-0.5.1-0.x86_64.r

[2017-07-24 03:52] xiangpengzhao opened #49465 ""kubectl explain" should be able to explain "apiservices" and "customresourcedefinition""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]

[code]

**What you expected to happen**:
`kubectl explain` should be able to explain the above two resources.

Print something as below, etc.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Run the commands above.

**Anything else we need to know?**:
/sig cli
/sig api-machinery

**Environm

[2017-07-24 04:32] killy001 opened #49466 "Kubernetes how to limit the pods restart count"
**In kubernetes, how can I limit the pods restart count ?**

Now, when the pods exit with none zero or other reasons ,then it will be restarted according to restartPolicy (Always、OnFailure、Never).

From the source code, there is a property (restart) to add the restart count. I think that when the property equals to the number I expect to restart count, then the pod will be deleted. Weather it will

[2017-07-24 05:03] dixudx commented on #49466
@killy001 Currently there is no way to limit the pod restart counts.

That [restart count](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1766-L1782) you mentioned is used for GC, which is calculated from dead containers.

[2017-07-24 05:20] jianzhangbjz commented on #49466
/sig scalability

[2017-07-24 05:45] #49464 closed

[2017-07-24 05:47] chengzhang1016 commented on #49256
@DirectXMan12
Yes, the problem only persist if CPU usage is zero, and not exist when CPU usage is non-zero. I will keep this issue open if you want to improve and let it more clearer while CPU usage is zero.
Thank you.

[2017-07-24 06:02] bw2 commented on #49461
thanks all!

I'll revisit after https://github.com/TheNewNormal/kube-solo-osx/issues/179

[2017-07-24 06:02] #49461 closed

[2017-07-24 06:07] dElogics commented on #49435
But the in the YAML it's a list (here arrays and lists are different things), which's a source of confusion.

[2017-07-24 06:27] kevin-wangzefeng opened #49469 "Admission controller "LimitPodHardAntiAffinityTopology" is not enabled by default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Admission controller "LimitPodHardAntiAffinityTopology" was developed to restrict hard ("requiredDuringScheduling") anti-affinity to "node" TopologyKey, (see also: https://github.com/kubernetes/kubernetes/pull/18265#issuecomment-172142482 and https://github.com/kubernetes/kubernetes/issues/19914), but it's not yet enabled

[2017-07-24 06:30] kevin-wangzefeng commented on #49469
/sig scheduling

[2017-07-24 06:31] kevin-wangzefeng commented on #49469
I'm going to fix it.
/assign
/cc @kubernetes/sig-scheduling-bugs

[2017-07-24 06:35] kevin-wangzefeng commented on #44944
/cc @kubernetes/huawei

[2017-07-24 07:15] k82cn commented on #46670
/close

Close it firstly; please feel free to open it if happen again :).

[2017-07-24 07:15] #46670 closed

[2017-07-24 07:18] kevin-wangzefeng opened #49472 "MaxInFlight filter should not limit controlling requests like leader election"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently maxinflight filter only skip tracking long running requests, controlling requests like leader election are tracked and limited together with other data requests.
Leader election would therefore fail when there are too many requests trying to fetch some data.

**What you expected to happen**:

Skip limiting

[2017-07-24 07:20] kevin-wangzefeng commented on #49472
/sig api-machinery
/cc @kubernetes/sig-api-machinery-misc

[2017-07-24 07:35] fatih commented on #45287
We also encountered this on our recent test cluster which we upgraded to 1.7.0. Here is the `kubectl version` output:

[code]

and here is the error message:

[code]

Here is the declaration of the statefuleset that I've used to create it (and now can't be deleted anymore)

[code]

[2017-07-24 08:05] Paxa commented on #43815
@billmilligan Having similar issues, dns stop working few minutes after container started

[2017-07-24 08:15] fasaxc opened #49473 "Version of Calico's typha daemon in add-on needs to be revved to pick up critical fixes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The version of Calico's Typha daemon in the calico-policy-controller add-on needs to be revved to pick up critical fixes such as https://github.com/projectcalico/typha/issues/28

**What you expected to happen**:

Add-on not using known-buggy version.

**How to reproduce it (as minimally and precisely as possible)**:

Ins

[2017-07-24 08:33] ReSearchITEng commented on #43924
should anyone face it while using directly the gcr.io, one possible situation is that CA certificates on your machine are too old.
[code]
solution that worked for me on RH/CentOS:
[code]

[2017-07-24 08:36] jbelinchonm commented on #43633
+1

[2017-07-24 08:39] m1093782566 opened #49477 "[kube-proxy] Move ClearUDPConntrackForPort() &DeleteUDPConnections to proxy/util/conntrack.go"
There is a TODO(created by @thockin ) in `pkg/proxy/iptables.go`, see

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1632

Both iptables and userspace proxier needs to use conntrack tool to delete the conntrack entries when service is down.

I find `DeleteServiceConnections()` which uses the conntrack tool to delete the conntrack entries for the UDP connection

[2017-07-24 08:39] m1093782566 commented on #49477
/sig network

[2017-07-24 08:42] fasaxc commented on #49473
/sig network

[2017-07-24 09:02] luxas commented on #48841
@janetkuo Yes, I'll join.

@timothysc ^

[2017-07-24 09:13] luxas commented on #42086
ping @caesarxuchao @kubernetes/sig-api-machinery-bugs

[2017-07-24 09:17] luxas commented on #43815
@Paxa @billmilligan If you want to get help, don't comment on this issue. Instead, open new ones in the kubeadm repo with sufficient details requested.

[2017-07-24 09:20] luxas commented on #49459
Working as intended. If you install the [dashboard](https://github.com/kubernetes/dashboard], the `/ui` endpoint will work. The `/ui` endpoint is just a shorthand for proxying the kubernetes-dashboard service

[2017-07-24 09:20] #49459 closed

[2017-07-24 09:28] luxas opened #49480 "Use CNI v0.6.x in Kubernetes v1.9.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

It's time to decide which CNI version to use for v1.8.
We should do early in the cycle to catch regressions in the CNI <-> k8s integration.
We don't want the thing that happened in v1.6 to occur again, so we need to be very careful.

Currently, we're using v0.5.1 and consuming tarballs via a sha pushed by this `Makefile`: https://github

[2017-07-24 09:29] luxas commented on #49480
cc @bboreham

[2017-07-24 09:36] bboreham commented on #49480
CNI v0.6 should be out this week

There are a bunch of small fixes; also this is the first version that includes the portmap plugin.

[2017-07-24 09:56] luxas commented on #49480
@bboreham So you're advocating for using v0.6?
Well, that's fine by me.

I just want to be sure we track all the action items correctly and make sure we test everything properly in time.

What we (at least) need to do:
 - [ ] Bump the CNI vendored libraries
 - [ ] Remove `build/cni`
 - [ ] Update all binary download references to v0.5.1 to v0.6.0
 - [ ] Update debs/rpm packages to use v0.6.0
 - [

[2017-07-24 09:59] justlooks opened #49482 "DNS can not resolve service name in pod"
[code]

`
[root@k8s-master ~]# kubectl exec monitoring-influxdb-1870447071-vx3md --namespace kube-system --  ping monitoring-influxdb.kube-system.svc.cluster.local
`
[code]

[code]

and my ifconfig output

master :
[code]

node1
[code]
node 2

[code]
what's problem ? i set wrong DNS?

/sig dns

[2017-07-24 10:09] luxas opened #49484 "Update to Go 1.9"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

This is a followup on https://github.com/kubernetes/kubernetes/issues/38228, but for Go 1.9

We should do the same kind of testing now to possibly catch bugs in either Go or Kubernetes when doing this kind of dependency version bump.

Ideally we'd have automated tests against Go tip (https://github.com/kubernetes/test-infra/issues/1399)

[2017-07-24 10:11] dixudx commented on #49465
/cc

[2017-07-24 10:41] tsmetana commented on #49418
I'm afraid the fix for PR#47855 will not fix the race I introduced with the fix for PR#39732: it may remove the hack with splitting of the uniqueName. I actually think that the best option really is to count with the possibility the volume spec might be nil. Once the pod is gone there is no sure way to reconstruct the spec. Detaching the volumes with no pods separately from the other volumes (outs

[2017-07-24 11:08] qubusp commented on #43819
Just a sidenote - what is the correct repository to install kubernetes from rpm? Thank you

[2017-07-24 11:32] hanikesn commented on #48483
Sorry to hijack this issue. But there's clearly a problem with the cadvisor endpoint in 1.7.1. It randomly reports either systemd cgroups or docker containers e.g. for `container_memory_usage_bytes`.

[2017-07-24 11:44] wojtek-t commented on #49375
Should be fixed by https://github.com/kubernetes/kubernetes/pull/49486

[2017-07-24 11:44] wojtek-t commented on #43600
@justinsb - friendly ping

[2017-07-24 12:02] matthiasr commented on #48483
Please don't hijack issues, it just creates confusion. Once this change is released (presumably with 1.7.3) or building from the release branch before that, please confirm whether your issue persists. If it does, it's a new issue, please file it separately. If it doesn't, it was probably related, but is already dealt with.

[2017-07-24 12:31] kargakis opened #49487 "(*IntOrString) IntValue() always returns zero when IntOrString is a percentage"
https://github.com/kubernetes/apimachinery/blob/21807b270ec15d19215659a5caa08b17f66d6f44/pkg/util/intstr/intstr.go#L104-L107
https://play.golang.org/p/YQMgFOpopM

There is no added value by that conversion, even worse it can be misused.

@kubernetes/sig-api-machinery-bugs

[2017-07-24 12:41] liggitt commented on #49472
Leader election has been done on top of regular endpoints/configmap resources. The apiserver should not special case specific names of resources and exempt them from normal filter chain handling.

[2017-07-24 12:42] ironcladlou opened #49489 "testing.StartTestServer doesn't tear down cleanly"
/kind bug

**What happened**:

The new `k8s.io/kubernetes/cmd/kube-apiserver/app/testing.StartTestServerOrDie` function (introduced in https://github.com/kubernetes/kubernetes/pull/46865) returns a teardown function which doesn't cleanly shut down the test server. This results in the accumulation of goroutines and log spam which prevents effective use of the test server across multiple test functi

[2017-07-24 12:42] liggitt commented on #49472
Rather than exempt specific resources, it would make sense to bucket rate limiting by the requesting user (or class of requesting user), with control plane components given higher limits

[2017-07-24 12:51] sttts commented on #49489
/cc @frobware

[2017-07-24 13:03] sttts commented on #49472
Wasn't there a PR some months ago about throttling per user (= ip address) ?

Moreover, more fine grained rate limiting is a topic in big clusters. We had issues with LIST requests in those situation saturating the apiserver. The only way to keep it from panicing due to request timeouts (60sec) was to reduce MaxInFlight, influencing all other not to costly, but time critical operation as well, com

[2017-07-24 13:09] wangwu50 commented on #49113
I have the same issue .
OS:ubuntu16.04
Install tools: kubeadm
Kubernetes version (use kubectl version): 1.7.2

[2017-07-24 13:20] gtirloni commented on #43819
@qubusp see here https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubelet-and-kubeadm

[2017-07-24 13:28] walteraa commented on #47159
The same happens when trying to join in a federation. There are some RBAC(e.g.: `serviceaccount` and `clusterrolebinding`) which are happening the same issue. Should the `kubefed join` command rollback/clean-up all changes when isn't possible to join in a federation?

[2017-07-24 13:37] billmilligan commented on #43815
@luxas I hate to be picky but this is exactly the same issue as the original post.

[2017-07-24 13:54] andor44 opened #49492 "Pods stuck terminating/not cleaned up automatically due to invalid spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Created a deployment on 1.6.4 that included pod affinity annotations. Then upgraded to 1.7.1 which changed the schema of affinity annotations. Updated the deployment with the new schema, which spun up a new RS and scaled down the old one. Pods belonging to the old RS went `Terminating` but never successfully terminated. `

[2017-07-24 13:55] dmnord opened #49493 "Problem with pulling the images when basic auth is used in custom registry"
@kubernetes/sig-auth-bugs

/kind bug
/sig auth

**What happened**:

Kubelet can't pull an basic image from docker-distribution repository, but at the same time a sandbox image (named 'pause') pulls normaly from the same repository. Repository stands behind a nginx, which uses a Basic-Auth for docker authentication. I see a message "no user/password was provided for basic authentication", when the

[2017-07-24 13:55] crassirostris commented on #48973
We know about it, should be fixed by https://github.com/kubernetes/kubernetes/pull/48722

[2017-07-24 14:02] dgoodwin opened #49497 "API Export Parameter Ignored for List"
/kind bug

**What happened**:

When running kubectl get secrets --export -o yaml, no metadata is stripped and no export logic is applied. The same is true for all API types.

**What you expected to happen**:

Behavior should match getting individual secrets, (kubectl get secret foo --export -o yaml) and export logic should be applied even when listing resources.

**How to reproduce it (as minimall

[2017-07-24 14:03] andor44 commented on #49492
cc @kubernetes/sig-api-machinery

[2017-07-24 14:03] dgoodwin commented on #49497
/sig api-machinery
/sig cli

[2017-07-24 14:13] k82cn commented on #49487
should we use `GetValueFromIntOrPercent ` in such case?

https://github.com/kubernetes/apimachinery/blob/21807b270ec15d19215659a5caa08b17f66d6f44/pkg/util/intstr/intstr.go#L149

[2017-07-24 14:16] derekwaynecarr commented on #49492
cc @kubernetes/sig-scheduling-misc @aveshagarwal

[2017-07-24 14:19] dmnord commented on #49493
I have created file in my environment /var/lib/kubelet/.docker/config.json and this file helps to pull sandbox image!
[code]

Also I have got an error messages in my kubelet log file when the image from my test deploymemnt  pulls:
[code]

[2017-07-24 14:20] k82cn commented on #49096
The following object using this func to do the validation; all label selector I think.

PersistentVolumeClaimSpec.Selector, PodAffinityTerm.LabelSelector, StatefulSetSpec.Selector, JobSpec.Selector, DaemonSetSpec.Selector, DeploymentSpec.Selector, ReplicaSetSpec.Selector, NetworkPolicySpec.PodSelector, NetworkPolicySpec.PodSelector, NetworkPolicyPeer.NamespaceSelector, NetworkPolicySpec.PodSelecto

[2017-07-24 14:20] dixudx commented on #49480
/cc

[2017-07-24 14:21] wongma7 commented on #45516
fixed by https://github.com/kubernetes/kubernetes/issues/49106

[2017-07-24 14:21] #45516 closed

[2017-07-24 14:25] k82cn commented on #48038
/close

[2017-07-24 14:25] #48038 closed

[2017-07-24 14:25] k82cn commented on #47585
/close

fixed by #47573

[2017-07-24 14:25] #47585 closed

[2017-07-24 14:40] #37801 closed

[2017-07-24 14:44] deads2k commented on #49497
@dgoodwin sounds like you're looking at this.

[2017-07-24 14:44] timothysc commented on #49480
Is there a changelog we should be following?
I'd like to properly build the rpms now as well.

[2017-07-24 14:52] pichouk commented on #29742
Anything new on this ? I still got the same issue on Kubernetes `1.7.1`.

[2017-07-24 15:04] liggitt commented on #49096
It will also reject updates to all the listed object types if they are already persisted with a bad spec. That can cause problems for controllers, and can wedge things like garbage collection (which does patch/update calls to remove finalizers) resulting in objects that cannot be deleted.

I don't think we can tighten the validation broadly across all the objects. I could *maybe* see tightening it

[2017-07-24 15:05] xiangpengzhao commented on #49465
@kubernetes/sig-cli-bugs

[2017-07-24 15:12] andrey01 opened #49500 "kubernetes 1.7.2 RPM for CentOS are missing at the repository"
Dear Kubernetes devs,

it looks like kubernetes 1.7.2 RPM for CentOS are missing at the repository https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata

any ETA for them to be there?

Thank you,

Kind Regards,
Andrey Arapov

[2017-07-24 15:14] bboreham commented on #49480
No changelog file but releases are visible in https://github.com/containernetworking/cni/releases and https://github.com/containernetworking/plugins/releases and announced on the CNI mailing list and Kubernetes sig-network mailing list.

[2017-07-24 15:22] xiangpengzhao commented on #49500
/sig release

[2017-07-24 15:30] dgoodwin commented on #49497
Yeah mentioned in issue but I am trying to get a fix together.

[2017-07-24 15:33] mrIncompetent commented on #11883
Maybe using an Instance-Tag would be more helpful? As this would enable the user to utilize the `--hostname-override` flag, so the name can be freely chosen by the user.
If the tag is not set, the instance id should be chosen.

@justinsb

[2017-07-24 15:35] jessfraz commented on #49484
Let me know if you find any bugs

On Jul 24, 2017 6:10 AM, "Lucas Käldström" <notifications@github.com> wrote:

[2017-07-24 15:46] jamiehannaford opened #49503 "Volume reconciler duplicates attach/detach logic"
/kind bug

**What happened**:

We deployed a pod with a dynamic Cinder volume (i.e when a PVC is deployed, the Cinder volume driver creates and attaches a Cinder disk). When a node it's on is rebooted, the pod is rescheduled to another node. The volume controller then detaches the Cinder disk from the old node and attaches to the new one. However, instead of leaving it at that, the volume reconcil

[2017-07-24 15:47] jamiehannaford commented on #49503
/sig storage

[2017-07-24 15:49] jamiehannaford commented on #49503
/cc @saad-ali @limited @kargakis @coreypobrien

[2017-07-24 15:57] aveshagarwal commented on #49492
Is there any reason you are still using annotations with 1.6 and not fields? In general, I'd say it would be better if you could have migrated from annotations to fields before upgrading to 1.7. That said there was an issue (https://github.com/kubernetes/kubernetes/issues/44360) that we fixed in 1.7 which we missed in 1.6. I am still looking if your issue is related to this or not.

[2017-07-24 16:04] timothysc commented on #49484
FWIW pretty tight to code-freeze I would prefer punting out a cycle fwiw.

[2017-07-24 16:09] #49437 closed

[2017-07-24 16:21] foxish opened #49504 "kubectl scale implementation for core workload controllers"
This issue covers the proposal for the implementation of kubectl scale for the core controllers.
This is relevant to StatefulSet, ReplicaSet and Deployment.

Currently, kubectl uses [GET/PUT on the resource](https://github.com/kubernetes/kubernetes/blob/c272630b1bc87838cccedd3c04769d2b37b4dc66/pkg/kubectl/scale.go#L268-L277) to update scale, and should instead use the scale endpoint.
The scale end

[2017-07-24 16:22] billmilligan commented on #43815
@luxas Respectfully, I have to question whether this is a new issue.  Since I am getting the exact same result setting up k8s *without* kubeadm as everyone else is getting *with* kubeadm, this seems to eliminate kubeadm as the source of the problem.  Perhaps this issue ought to be renamed accordingly?

[2017-07-24 16:25] ryarnyah opened #49505 "InitContainer are not recreated when Pod sandbox changed"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: When "Pod sandbox changed" containers are recreated but initContainer are not.

**What you expected to happen**: If the Pod is restarted, all Init Containers must execute again.

**How to reproduce it (as minimally and precisely as possible)**: Create some pod with a initContainer, reboot node and wait.

**Anyt

[2017-07-24 16:27] xiangpengzhao commented on #49505
/sig node

[2017-07-24 16:29] wanghaoran1988 commented on #49492
@andor44 Could you please provide your pull deployment json/yaml file?

[2017-07-24 16:37] erictune commented on #1899
The Smith Resource Manager was presented at Sig-Apps on Jul 24th.  Smith handles readiness, for creation-order-dependcies, by having a function for each resource type.  For TPRs you can specify a field, which, if present, indicates readiness.  @ash2k hope I got that somewhat right.

[2017-07-24 16:38] alena1108 commented on #49314
@moelsayed ^^ could you start the schedule with the above param next time for validation test run?

[2017-07-24 16:39] yujuhong commented on #49505
Duplicate of #36485

[2017-07-24 16:39] #49505 closed

[2017-07-24 16:39] liggitt commented on #49504
This should allow `kubectl scale` to work against arbitrary resources if they include a `/scale` subresource, right?

[2017-07-24 17:02] caesarxuchao commented on #48893
Agree that the controller should tolerate the timeout on create. In the current settings, if the pod is not initialized in the next 5 mins, the controller will forget the "create expectation" and go on creating another pod. In case of a failing initializer controller, it could take long time to get it back online, so still, many pods will be created. @smarterclayton is that acceptable? And what ar

[2017-07-24 17:04] kfox1111 commented on #43815
@billmilligan respectfully, since the issue is about kubeadm, and your able to reproduce it without kubeadm, then it is the wrong place to file it? I think this thread solved the kubeadm issue. This is a new issue. I think it will get more attention as a new issue. As people on this thread think its already solved and are ignoring it.

I use kubeadm and was effected by this issue, and it has been

[2017-07-24 17:07] billmilligan commented on #43815
@kfox1111 Thanks for the feedback.  I'll file a new issue, but the number of people who still seem to be facing it elsewhere in 1.7.x still makes me wonder.

[2017-07-24 17:22] spiffxp commented on #44156
/sig architecture
adding per discussion at sig-architecture meeting today, sig-architecture will own the broader deprecation policies of this project as part of its charter, and delegate/coordinate with appropriate sigs to implement

[2017-07-24 17:42] aaronlevy commented on #48841
To follow up, @diegs is interested in taking a look at this.

I wasn't able to attend most of the meeting so I could be off here, but it sounded like a goal might be to try and keep the code for the solution somewhat separate from the existing policy to reduce the risk that this could introduce.

So would this mean a different strategy would be preferable to the api bump + MaxUnavailable=0 behavio

[2017-07-24 17:50] luxas commented on #43815
## TL;DR;

The error message
[code]
is **NOT** necessarily bad.

That error message tells you that you have to plugin in a **third party CNI spec implementation provider**.

### What is CNI and how does integrate with Kubernetes?

CNI stands for **Container Network Interface** and **defines a specification** that kubelet uses for creating a network for the cluster. See [this page](https://kubernet

[2017-07-24 17:51] WilliamDenniss commented on #47976
Looks like this is a regression that was introduced in this commit: https://github.com/kubernetes/kubernetes/pull/22285/files#diff-a7196c94eb0ca7d377b6daf05d2b37cfL93

[2017-07-24 17:54] kargakis commented on #48841
The api bump will happen either way as part of bringing the controllers closer to GA. Initially, I advocated for adding the new option in the existing strategy but that is riskier, and until more use-cases pop up, a separate strategy is preferrable.

[2017-07-24 17:56] aveshagarwal commented on #49492
I think I can reproduce your issue by upgrading 1.6 to 1.7 and I see the same error. And it is indeed happening due to the fix to the issue https://github.com/kubernetes/kubernetes/issues/44360 .

[2017-07-24 18:00] luxas commented on #49484
I don't think we're that close to code freeze given that we have 5 (of 8) weeks left in this coding cycle
But I'm happy to defer this to v1.9 if others think that.

I guess the main reason for a bump would be scalability goals, but I'm not sure we have the need to expand above 5000 (and that Go would be the bottleneck in that case) for v1.8

[2017-07-24 18:04] dgoodwin commented on #49497
I have added Export to ListOptions and a unit test at the apiserver level is passing.

Now for ensuring it's respected. The Export interface today is one method:

[code]

We're operating here on an object name, so logically the implementation has to do a Get first, then apply Export logic. (these two are tied together)

This isn't great when it comes to Listing because we already have the objects,

[2017-07-24 18:08] deads2k commented on #49497
It seems like a good idea (recall that you're going to have to filter watches too), but this is of general interest to @kubernetes/sig-api-machinery-misc .

[2017-07-24 18:10] rmmh commented on #49484
[Mid-stack inlining](https://docs.google.com/presentation/d/1Wcblp3jpfeKwA0Y4FOmj63PW52M_qmNqlQkNaLj0P5o/edit#slide=id.g1b2157b5d1_3_246) made the Go benchmarks 9% faster with 15% larger binaries. I'm interested to see how that affects our numbers.

[2017-07-24 18:12] mikedanese commented on #41161
ref https://github.com/kubernetes/kubernetes/issues/30515

[2017-07-24 18:13] bradfitz commented on #49484
@rmmh, mid-stack inlining was not included in Go 1.9. It made the compiler too slow.

It's being targeted to GO 1.10 now instead, after some compiler optimization work.

[2017-07-24 18:14] rmmh commented on #49484
Oh, thanks for the correction!

Regardless, we need to run the scalability tests against the RC so we can report issues earlier-- the last upgrade was particularly painful because of an HTTP regression that we caught *way* too late.

[2017-07-24 18:19] caesarxuchao commented on #42086
I'm investigating.

[2017-07-24 18:21] foxish commented on #49504
Currently, we have ScaleInterface being implemented by each group's client. So, extending it to arbitrary types would need a new generic `ScaleInterface`.
From what I understand, we'd need such a `Scale` type and interface to exist in `metav1` if we want to implement a generic interface of this nature.

[2017-07-24 18:24] fejta opened #49508 "Ensure all e2e gcloud calls use a helper methods and follow the test_context"
@kubernetes/sig-testing-feature-requests

The e2e tests define things like `--gcp-project` https://github.com/kubernetes/kubernetes/blob/ce6d92546c9f5203bb1c7808c57d0b344b63593d/test/e2e/framework/test_context.go#L206

It is not always the case that tests follow the test_context configuration, an example from storage that does not use --project or --zone flags:
https://github.com/kubernetes/kubern

[2017-07-24 18:51] jingxu97 opened #49509 "Refactor the code related to VerifyVolumesAreAttached"
Refactor the code related to VerifyVolumesAreAttached in operation_executor and operation_generator. The code is a little bit hard to read after a few rounds of changes. This function has two different ways of checking the volume attachment status, one is BulkVerifyVolumes and the other is VerifyVolumesAreAttachedPerNode. Some for loops are performed in operation_executor and some are in operation

[2017-07-24 18:58] caesarxuchao commented on #42086
In the case reported by fgimenez, the orphaning finished successfully, but it was done in 62 seconds, slightly longer than the 60 timeout.

There are two causes of timeout:
1. The qps of gc client was around 1.6, less than configured value 5. Perhaps it's because apiserver and controller manager might be under stress.
2. tests are running in parallel, gc gets distracted by other deletion.

So i'll

[2017-07-24 19:16] msau42 opened #49511 "Add e2e tests for xfs"
Currently all our e2e tests use ext4.  Should add a few cases for xfs too.

/kind bug
/sig storage

[2017-07-24 19:18] luxas commented on #49484
@rmmh yeah. I filed #49506 for that now

[2017-07-24 19:19] jingxu97 opened #49513 "Check VolumeSpec if it is nil during volume reconstruction for failure"
In volume management code, VolumeSpec is firstly needed to find the volume plugin. After the volume plugin is found, VolumeSpec is again used to attach or mount or check volume is still attached or not. This information is reconstructed during controller failure. The assumptions used here are

- If pod still exists, VolumeSpec should be reconstructed when controller is restarted. However, as disco

[2017-07-24 19:19] jingxu97 commented on #49418
Just a few things we might consider related to this issue
1. Refactor the code related to VerifyVolumesAreAttached in operation_executor and operation_generator. The code is a little bit hard to read after a few rounds of changes. This function has two different ways of checking the volume attachment status, one is BulkVerifyVolumes and the other is VerifyVolumesAreAttachedPerNode. Some for loops

[2017-07-24 19:31] #49427 closed

[2017-07-24 19:48] luxas commented on #38067
So following up on the action items from December:
 - Deprecate armel and use armhf images instead and use GOARM=7 instead of GOARM=6
   - Done in v1.6
 - Use go1.8 as fast as possible for arm and ppc64le (and of course generally as well, but that will require the "real" release)
   - Done in v1.6
 - Reenable ppc64le builds again by using go1.8betas until the stable version of go1.8 is released an

[2017-07-24 19:49] farcaller commented on #49038
Is there an issue tracking the chicken-and-egg problem of controllers? E.g. if I have an admission controller that re-writes pods and it's started via a Deployment, what would happen if it fails and needs to be restarted? or if it's rolled out to a new version?

[2017-07-24 19:52] enisoc commented on #49424
I was able to reproduce this with CRD on master. The problem is that kubectl implements a watch on a single object as a watch on the collection with a field selector that filters by `metadata.name`. However, field selectors don't work on CRD objects because they are stored as `Unstructured`, which does not support `ConvertFieldLabel`:

https://github.com/kubernetes/kubernetes/blob/84db0a94878abe9f

[2017-07-24 20:11] madhusudancs commented on #47159
@walteraa It should. It's tracked in the issue here - https://github.com/kubernetes/kubernetes/issues/41725.

[2017-07-24 20:12] deads2k commented on #49424
If we could support name and namespace generally on all objects containing object meta, I think I'm in favor of the concept.

[2017-07-24 20:15] caesarxuchao commented on #49038
As an admin, you can set `metadata.initializers.pending={}` to skip initialization.

[2017-07-24 20:19] gnufied commented on #49503
Can you search for string - "VerifyVolumesAreAttached" when the attach/detach controller falsely tried to attach volume to old node?

[2017-07-24 20:38] walteraa commented on #47159
Thanks @madhusudancs

[2017-07-24 20:41] jamiehannaford commented on #49503
@gnufied No matches.  [Here](https://gist.github.com/jamiehannaford/b521fdd99858f4dde235b0f6b9f23119) are the full logs for that period in time.

[2017-07-24 20:43] wongma7 commented on #49156
thanks for looking, the test depends on NFS mounting so you are correct

[2017-07-24 20:51] ixdy commented on #49484
yeah, my recollection is that the Go releases usually occur too late in our release cadence and end up getting bumped to the next Kubernetes release. (Also we inevitably find something wrong, though testing RCs would help with that. Though I'm not sure anyone has cycles to test RCs and fix all of the issues that do come up.)

[2017-07-24 20:52] rmmh commented on #49421
/assign @shyamjvs

#48651 added this functionality-- looks like it needs an extra check to make it work on skew versions.

[2017-07-24 20:52] #47861 closed

[2017-07-24 20:58] cbonte commented on #48760
Hi, what are the next steps to discuss about the PR ?
@luomiao Are you able to make some tests ?

[2017-07-24 20:59] #48300 closed

[2017-07-24 21:08] chezbut commented on #27363
still having this issue on 1.7

[2017-07-24 21:14] luxas commented on #48247
This is fixed. The job hasn't been flaky lately

[2017-07-24 21:14] #48247 closed

[2017-07-24 21:44] tmedford opened #49518 "Where is your kube swag.... Dress Socks"
/kind feature

The path to successful open source software is not only filled with impressive features, late coding and drinking nights, but most importantly SWAG. I have my glorious Deis socks,
![image](https://user-images.githubusercontent.com/4482381/28546112-8908b356-7097-11e7-8104-957eb3ad6b10.png),  but no kube socks to match. Help me!
[code]

[2017-07-24 21:46] Cryptophobia commented on #49518
This issue is related to https://github.com/Codaisseur/alea/issues/17 and https://github.com/deis/workflow/issues/831

[2017-07-24 21:58] smarterclayton commented on #47801
Yes

[2017-07-24 21:58] #47801 closed

[2017-07-24 21:59] smarterclayton commented on #49038
validation: https://github.com/kubernetes/kubernetes/issues/47837

[2017-07-24 22:00] smarterclayton commented on #49035
Before we add the flag, we should ask what users expect.  I think users expect `kubectl delete pods --all` to delete uninitialized pods.

[2017-07-24 22:01] smarterclayton commented on #49038
I think we need mutating web hooks as well.

[2017-07-24 22:03] smarterclayton commented on #49038
Is there a bug covering that web hooks are sending internal?

[2017-07-24 22:04] smarterclayton commented on #48893
The biggest concern is that if we add this to all informers, then all clients of informers need to opt in explicitly to uninitialized resources (otherwise we will break them unexpectedly), vs opting out, which is a signature change to informers.

[2017-07-24 22:05] mtanino opened #49519 "Fail to run update-generated-docs.sh and update-swagger-spec.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm trying to push API change for iscsi volume plugin.
https://github.com/kubernetes/kubernetes/pull/48789

When I tried to regenerate Auto generated files by using update-all.sh, update-generated-docs.sh and update-swagger-spec.sh always failed with following error.

Is this my environmental problem or bug of these tools

[2017-07-24 22:10] mcronce commented on #34066
This issue is present for me in Kubernetes v1.6.7 on Fedora 26 with Docker 1.13.1.

I found it while trying to figure out root cause for other stuff that started after upgrading from 1.5.4 on Fedora 25.  Based on other comments here, though, I'm guessing it's benign and has nothing to do with my issues.  The hunt continues :)

[2017-07-24 22:24] caesarxuchao commented on #49210
@gmarek do you still have the issue? Is the updated [doc](https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md) working for you?

[2017-07-24 22:32] caesarxuchao commented on #48985
I agree with the idea, but i don't have the bandwidth to implement it.

/unassign @caesarxuchao

[2017-07-24 22:32] dchen1107 commented on #48703
@dashpole Looks like this is a regression caused by your eviction management enhancement for 1.7.

[2017-07-24 22:32] spiffxp commented on #49245
@kubernetes/sig-apps-test-failures I believe this is because examples have been moved to kubernetes/examples and https://github.com/kubernetes/kubernetes/pull/46362 finally went in

[2017-07-24 22:36] shyamjvs commented on #49421
There are 2 problems we're having here and I've sent out fixes for both:
- Our previous releases 1.6 and 1.7 do not have the file at the new path `cluster/log-dump/log-dump.sh`, but instead the old one `cluster/log-dump.sh`. And kubetest expects the new path.
  PRs https://github.com/kubernetes/kubernetes/pull/49452 (1.6) and https://github.com/kubernetes/kubernetes/pull/49451 (1.7) should fix thi

[2017-07-24 22:59] dashpole commented on #48703
this is an issue with the local storage implementation
/assign @jingxu97

[2017-07-24 23:01] msau42 opened #49521 "E2E for volume spec nil ptr issue"
We should have an e2e to test issue #49418.  The test needs to delete a PVC while a pod is still using it, and then restart the controller manager.

/kind bug
/sig storage

[2017-07-24 23:02] mtanino commented on #49519
Following steps also hit same error.

[code]

[2017-07-24 23:03] jingxu97 commented on #48703
I have a PR to fix this #47080 which somehow is skipped. I will try to push it asap.

[2017-07-24 23:07] dashpole commented on #48703
@pizzarabe this is not related to #48483, as that is an issue with prometheus being exposed.

[2017-07-24 23:32] janetkuo commented on #48411
/assign @soltysh

[2017-07-24 23:36] mtaufen commented on #48677
I'd rather not selectively allow env var expansion depending on the subfield of a config, that would be pretty confusing to users. I'd prefer the subPathFrom solution (downward api based) if you just want this for subPaths. Ofc we'd have to caution users not to reference fields that don't contain valid filenames.

[2017-07-24 23:37] dashpole commented on #48703
I am not convinced #47080 actually fixes this, as this issue appears to be that the node does not have Storage as an Allocatable resource.  I think this is fixed by #48636

[2017-07-24 23:43] mtanino commented on #49519
After applying today's several commits with git rebase, above issue was solved. Not sure which one solve the issue.

[2017-07-24 23:43] #49519 closed

[2017-07-24 23:44] janetkuo commented on #48411
@kubernetes/sig-api-machinery-misc
/sig api-machinery

[2017-07-24 23:45] jingxu97 commented on #48703
right, #48636 is the fix for this issue actually. It is already reviewed and approved and should be merged soon.

[2017-07-24 23:49] dashpole commented on #48703
I want to make sure there are not other issues here as well.  This error message should not actually be causing problems, other than spamming logs.   @clenimar can you check and see if your node's root partition (wherever the kubelet lives) is full?  It is possible that the log spamming has filled up the machine, but I want to make sure this bug is not causing the kubelet to report disk pressure w

[2017-07-24 23:58] liggitt commented on #48411
The issue is that etcd has extensions/v1beta1 job objects stored that cannot be decoded. I'm not sure if these can be deleted without modifying etcd directly, since most code paths that deleting via the API server first do a decoding get to ensure there are no finalizers associated with the object

[2017-07-24 23:59] liggitt commented on #48411
No, since the deletion of the namespace blocks on deletion of individual objects

[2017-07-25 00:03] k82cn opened #49522 "Enhance helper to handle taints on node in batch."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**Description**:

In `AddOrUpdateTaintOnNode` and `RemoveTaintOffNode`, they handle one taint every time; it's better to enhance it to support handling taints in batch.

[2017-07-25 00:03] k82cn commented on #49522
/sig node
/assign

[2017-07-25 00:07] foxish opened #49523 "Handle StatefulSet reaper timeouts"
The [reaper code](https://github.com/kubernetes/kubernetes/blob/4361b4d9be7aca603ac48b5483b6bb427bcc1679/pkg/kubectl/stop.go#L320-L342) currently does not taking into account, the `TerminationGracePeriod` associated with each pod of the StatefulSet.
`kubectl delete` can take more time than allowed for by the default timeout because it waits for ordered termination of each pod, before deleting the

[2017-07-25 00:13] xiangpengzhao commented on #49518
AFAIK, `kubectl get socks` will respond an error `the server doesn't have a resource type "socks"`. Try `kubectl get t-shirts`. Wish you luck!

@kubernetes/sig-contributor-experience-feature-requests ha!

[2017-07-25 00:15] crimsonfaith91 commented on #49504
+1 for generic `Scale` interface.

[2017-07-25 00:34] harsh-px opened #49525 "Portworx volume provisioner does not support many volume parameters"
**BUG REPORT**:
/kind bug

**What happened**:
When creating Portworx volumes using their command line utility `pxctl`, many parameters like `io_priority`, `io_profile`, `scale` etc can be given. There are documented in detail [here](https://docs.portworx.com/control/volume.html#pxctl-volume-create).

The current Portworx volume driver handles only a subset of these paramters specified through the

[2017-07-25 00:41] harsh-px commented on #49525
/sig storage

[2017-07-25 01:05] cblecker commented on #49518
@sarahnovotny might be able to comment on this heh

[2017-07-25 01:17] nashasha1 commented on #44697
@xingzhou  I saw the changes. It seems just implement in 1.7+ right?  1.6(even 1.6.7) still have this issue. Right?

[2017-07-25 01:23] justlooks commented on #49482
@kubernetes/sig area/kubeadm-support

[2017-07-25 01:37] moelsayed commented on #49314
I ran our tests again, and hit this issue with several pods:
[code]
[code]
[code]
There were a few more. Since none of them is assigned to a node. I included logs for all kubelet's. I also included scheduler log with `--v=1`:

[kubelet1.log.txt](https://github.com/kubernetes/kubernetes/files/1171682/kubelet1.log.txt)
[kubelet2.log.txt](https://github.com/kubernetes/kubernetes/files/1171681/kubelet

[2017-07-25 01:38] VFT commented on #49500
Same as ubuntu16.04

[2017-07-25 01:39] #49482 closed

[2017-07-25 01:39] justlooks opened #49527 "kube dns can not resolve service name"
[code]

`
[root@k8s-master ~]# kubectl exec monitoring-influxdb-1870447071-vx3md --namespace kube-system --  ping monitoring-influxdb.kube-system.svc.cluster.local
`
[code]

[code]

and my ifconfig output

master :
[code]

node1
[code]
node 2

[code]
what's problem ? i set wrong DNS?

/sig dns

[2017-07-25 01:49] ash2k commented on #1899
@erictune yes, that is correct. More information is in the readme https://github.com/atlassian/smith

Please note that not all object kinds are supported right now but it is trivial to add support. Also there are some other limitations (see issues).
Anyone interested is welcome to contribute to the project - open issues/PRs.

[2017-07-25 01:58] dixudx commented on #38067
@luxas I could cover part of QEMU updating. I've got some amd64 and arm-based servers.

[2017-07-25 01:58] msau42 opened #49529 "Gluster streaming IO test is flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
See [testgrid](https://k8s-testgrid.appspot.com/sig-storage#gci-gce-slow)
One [failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/7481)

[code]

/sig storage

[2017-07-25 01:58] msau42 commented on #49529
/assign @jeffvance

[2017-07-25 01:59] #49527 closed

[2017-07-25 02:19] justlooks opened #49531 "nslookup: can't resolve 'kubernetes.default.svc.cluster.local': Name does not resolve"
**Environment:

Kubernetes version (use kubectl version): v1.7.0
Cloud provider or hardware configuration**:
OS (e.g. from /etc/os-release): CentOS 7
Kernel (e.g. uname -a): Linux k8s-master 3.10.0-514.6.2.el7.x86_64
Install tools: Kubeadm
Others:
docker version : Docker version 1.12.6,
My RPM version :
docker-1.12.6-16.el7.centos.x86_64.rpm
kubectl-1.7.0-0.x86_64.rpm
kubernetes-cni-0.5.1-0.x86_64

[2017-07-25 02:28] cricci82 commented on #33884
It seems as though the fix only applies to when nodes are added or removed from the cluster, in which case the nodes in the LB pool are recalculated and only the workers are added.  When creating a new LoadBalancer service masters nodes are still being added.

[2017-07-25 02:30] #48927 closed

[2017-07-25 02:34] justinsb commented on #33884
@cricci82 which k8s version?  https://github.com/kubernetes/kubernetes/pull/45773 should have harmonized the two cases

[2017-07-25 02:40] justlooks opened #49532 "Error from server (BadRequest): container healthz is not valid for pod kube-dns-2425271678-cqm2n"
Environment:

Kubernetes version (use kubectl version): v1.7.0
Cloud provider or hardware configuration**:
OS (e.g. from /etc/os-release): CentOS 7
Kernel (e.g. uname -a): Linux k8s-master 3.10.0-514.6.2.el7.x86_64
Install tools: Kubeadm
Others:
docker version : Docker version 1.12.6,
My RPM version :
docker-1.12.6-16.el7.centos.x86_64.rpm
kubectl-1.7.0-0.x86_64.rpm
kubernetes-cni-0.5.1-0.x86_64.r

[2017-07-25 02:42] cblecker commented on #49531
/assign

[2017-07-25 02:43] cblecker commented on #49531
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-07-25 02:43] #49531 closed

[2017-07-25 02:43] cblecker commented on #49532
/assign

[2017-07-25 02:43] cblecker commented on #49532
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-07-25 02:43] #49532 closed

[2017-07-25 02:51] avagin commented on #49383
Is it because we forgot to remove a mount path in a error case? Does the next patch fix this issue?
[code]

[2017-07-25 03:02] #48850 closed

[2017-07-25 03:12] jeevarathinam-dhanapal commented on #48796
bump

[2017-07-25 03:13] dixudx commented on #49503
/cc

[2017-07-25 03:19] smarterclayton commented on #49402
Someone is in the process of removing this from sig-storage.  Not sure who.

[2017-07-25 03:24] cricci82 commented on #33884
I'm running 1.6.7

[2017-07-25 03:24] m1093782566 commented on #49411
ping @bowei

[2017-07-25 03:32] bgrant0607 commented on #49402
@dims

I haven't had time to track it closely, but the Plan of Record is to get cloud providers out of tree entirely.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider-refactoring.md

It should be possible to remove this particular dependency using initializers.

cc @kubernetes/sig-storage-bugs

[2017-07-25 03:34] smarterclayton commented on #49402
I believe that work is already in progress - @rrati didn't you have something open for this?

[2017-07-25 03:39] #49363 closed

[2017-07-25 03:41] justinsb commented on #33884
It wasn't backported to 1.6, it looks like: https://github.com/kubernetes/kubernetes/commit/976e046f7a8d220dfd1df2e2f61d4630bcfbaf4c

[2017-07-25 03:47] smarterclayton commented on #39363
Bursting was implemented in 1.7 in alpha and will be beta in 1.8.

[2017-07-25 03:47] #39363 closed

[2017-07-25 03:57] smarterclayton commented on #32026
Fix in #49534,

[2017-07-25 04:10] supereagle opened #49535 "Use the core client with version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When rebase #48976 to fix the conflict with #48847, find that some codes use `clientSet.CoreV1()`, while some codes still use the **Deprecated** `clientSet.Core()`.

**What you expected to happen**:
Replace the **Deprecated** `clientSet.Core()` with `clientSet.CoreV1()`.

**How to reproduce it (as minimally and precisely as possible

[2017-07-25 04:13] supereagle commented on #49535
/sig  api-machinery

[2017-07-25 04:21] kevin-wangzefeng commented on #49472
@liggitt @sttts Thanks for the comments, I agree that we should not make ad-hoc solutions for single problems like leader election. BTW, is there any existing discussion threads on more fine grained rate limiting in big clusters?

[2017-07-25 04:22] derekwaynecarr opened #49536 "Make it easier to understand versioning of repositories pushed from staging"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
In attempts to rebase kubernetes incubator projects (i.e. service catalog and cluster-capacity), it was unclear what commits from the various repositories would all work well together.  These repositories include the following:

- kubernetes/kubernetes
- kubernetes/apimachinery
- kubernetes/apiserver
- kubernetes/clien

[2017-07-25 04:23] derekwaynecarr commented on #49536
cc @kubernetes/sig-api-machinery-feature-requests

@eparis @jaboyd01 @aveshagarwal @pmorie @jpeeler @sttts -- this is based on our discussion today.  let me know if i did not clearly capture the issues we have encountered.

[2017-07-25 04:24] derekwaynecarr commented on #49536
/cc @jboyd01 as i messed up the original comment.

[2017-07-25 04:31] derekwaynecarr commented on #49536
It looks like we have a release-1.7 branch for apimachinery
see: https://github.com/kubernetes/apimachinery/tree/release-1.7

We do not have a release-1.7 branch for apiserver (but it does have a release-1.6 branch).

[2017-07-25 04:55] smarterclayton commented on #1899
A note of why this is so difficult to get right and should be on the
serverside - Smith's deployment readiness is wrong because you can have the
correct number of pods but not be within the availability condition (i.e.
maxUnavailable can be violated and smith will report ready).  Given the
complexity of these interactions, I think it's untenable to expect client
authors to get this right everytime

[2017-07-25 04:56] smarterclayton commented on #1899
And most people get this wrong, even people who are fairly familiar with
deployments :)  (no knock on Smith)

On Tue, Jul 25, 2017 at 12:55 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-07-25 05:00] smarterclayton commented on #49504
There have been longer discussions of this in the past, but there are two
factors at play:

* no matter what, the schema version of Scale as exposed by the sub
resource needs to be locked in time and follow the versioning rules of its
group (no breaking changes)
* we believe that the content negotiation mechanism that was part of 1.7 is
the appropriate way to allow generic clients to request a kno

[2017-07-25 05:01] smarterclayton commented on #49504
I lean slightly towards adding "Scale" to another group (like "autoscaling"
or a net new empty group)

On Tue, Jul 25, 2017 at 1:00 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2017-07-25 05:12] #49250 closed

[2017-07-25 05:28] bowei commented on #49411
Can you post your /etc/resolv.conf from the VM and inside the container. I suspect you have a DNS lookup loop (resolv.conf references 127.0.0.1 as the upstream server).

[2017-07-25 05:51] xilabao opened #49540 "remove useless code"
validated in case len(r.PolicyRule.NonResourceURLs) > 0 is useless. Just for merge.

ref to #47897

[2017-07-25 06:02] redbaron commented on #48677
@mtaufen , `$()` expansion is already implemented for args and env vars, how expanding it for another field makes it confusing?

`subPathFrom` doesn't work very well as it doesn't allow things like:

`subPath: $(POD_NAMESPACE)/$(POD_NAME).dir` which is a real use case and pain point at least for us

[2017-07-25 06:03] xilabao opened #49541 "err message in namespace_policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:BUG REPORT

**What happened**:
the err message in addNamespaceRoleBinding is wrong.

ref to #46685

[2017-07-25 06:07] jianglingxia commented on #49432
/assign @jeffvance

[2017-07-25 06:27] xiangpengzhao commented on #49540
/sig auth

[2017-07-25 06:28] xiangpengzhao commented on #49541
/sig auth

[2017-07-25 06:40] ingvagabund commented on #34965
@dchen1107 this seems as a tough problem. Have there been any progress since March?

[2017-07-25 06:47] jamesawebb1 opened #49543 "Pod suffix is b0110ck5"
/kind feature

**What happened**:

In playing with the nginx ingress controller deployment, I noticed the following pod name:
nginx-ingress-controller-1449474453-c0ck5
I figure we should possibly put something in place to prevent accidental l33t profanity ;-).

**What you expected to happen**:

The following pod name:
nginx-ingress-controller-1449474453-r0ck5

[2017-07-25 06:50] lukmanulhakimd commented on #48703
I'm facing the same problem here.
Kubernetes 1.7.2
Docker 1.11.2

[code]

[2017-07-25 06:57] FengyunPan opened #49544 "Failed to register node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If instance comes from the zone which has Chinese name，it can not be used as a kubernetes node.
\-----------
\# nova show ne-cdlqmo7wgw-0-7yzmth4qkivz-kube-minion-btgwnwp3utka | grep availability_zone
| OS-EXT-AZ:availability_zone                                           | 中文

[2017-07-25 06:57] jamesawebb1 commented on #49543
My first github (k8s) issue.  I've no idea which SIG would cover this topic.

/sig product-management

[2017-07-25 07:00] FengyunPan commented on #49544
/sig node
/sig openstack

[2017-07-25 07:06] maxkondr opened #49545 "Containers reconfiguration in real-time"
Hello,

I have faced with following case and haven't found clear answer for me.

Preconditions:
- I have kubernetes cluster
- there are some options related to my application (for example debug_level=Error)
- there are pods running and each of them uses configuration (ENV, mount path or cli args)
- later I need to change value of some option (the same 'debug_level' Error -> Debug)
The Q is:
how sh

[2017-07-25 07:06] jeffvance commented on #49529
[Slow] test suite was run. Glusterfs io stream test failed due to ns not being deleted, which was due to 1 pod remaining. The glusterfs-server pod was deleted. It appears that the glusterfs-client pod was also deleted (same log pattern as for the nfs-client po). So unclear which pod is remaining. Maybe a side-car pod?

[2017-07-25 07:14] Blasterdick opened #49546 "Working config for GKE ingress with SSL termination."
How can I create a load balancer with SSL termination within GKE (examples from [here](https://github.com/kubernetes/ingress/blob/master/controllers/gce/README.md#tls) seem doesn't work)?

When I created a load balancer from the [ingress](https://pastebin.com/MBQpaeYQ) with `NodePort` [service](https://pastebin.com/gpn2L68C), the backend group for ingress load balancer uses all the nodes in the cl

[2017-07-25 07:18] clenimar commented on #48703
@dashpole no, it's not full (50%).

[2017-07-25 07:27] dixudx commented on #49544
@FengyunPan Because chinese character is not valid label name, which must match `([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]`.

[2017-07-25 07:28] FengyunPan commented on #49544
@dixudx Can we support chinese character?
What you expected to happen:
Kubernetes node also can comes from Chinese name zone.

[2017-07-25 07:32] dixudx commented on #49544
@FengyunPan These names are qualified names. I don't think we can use Chinese character as qualified names.

[2017-07-25 07:43] luxas commented on #49213
@madhusudancs Yeah, I think it should be pretty straightforward as long as one knows how to create VMs on GCE :)

Would you like to join our SIG call later today to spec out details?

[2017-07-25 07:57] xiangpengzhao commented on #49545
/sig node

[2017-07-25 08:07] kargakis opened #49548 "k8s.io/kubernetes/pkg/registry/core/service TestInitNodePorts flake"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49286/pull-kubernetes-unit/42616/

@kubernetes/sig-network-test-failures

[2017-07-25 08:07] kargakis commented on #49548
/kind flake

[2017-07-25 08:08] goby opened #49549 "The attachdetach controller failed to set statusUpdateNeeded when controller restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:

restart controller manager , the attachdetach controller will generate following errors when processing all nodes in nodeAdd:
[code]
**What you expected to happen**:

attachdetach controller should work fun when normally restart

**How to reproduce it (as minimally and precisely as possible)**:

- get controller manager

[2017-07-25 08:12] goby commented on #49549
/kind bug

[2017-07-25 08:12] lucab commented on #30603
For reference, the demo in @nhlfr comment is completely unrelated to Content Trust because `docker/trusttest:latest` is not a signed tag (`notary.docker.io does not have trust data for docker.io/docker/trusttest`).

[2017-07-25 08:26] abdasgupta commented on #49545
Hi @maxkondr
You can modify the Pod using https://kubernetes.io/docs/api-reference/v1.6/#-strong-write-operations-strong--54
Does it help?

[2017-07-25 08:34] zhangqx2010 commented on #38923
@cofyc
After successfully use your [kubernetes-incubator/external-storage#200](https://github.com/kubernetes-incubator/external-storage/issues/200), pv is created as claimed.
[code]
But my deployment of one pod get errors:
[code]

The provisioner logs:
[code]

What could cause this mount timeout?
I noticed that the fstype is stated nowhere. But when I tried to add fsType: ext4 to storageclass. I s

[2017-07-25 08:41] goby opened #49551 "GetAttr creates too many temporary maps when clients list from the Cacher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

GetAttr creates one temporary map per object when filtering in Cacher.List, and consume too much cpu( nearly 70% )
when the apiserver restart  if there're 5k nodes and 10k pods and 1k services in the cluster.  And this problem may make apiserver crash again and limit the cluster's scalability.  Because all clients wi

[2017-07-25 08:42] AzmanRasdi opened #49552 "yup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-25 08:44] goby commented on #49551
/area apiserver
/sig scalability
/sig api-machinery

[2017-07-25 08:47] goby commented on #49549
/sig storage

[2017-07-25 08:56] ibazhitov opened #49553 "conversion-gen fails with stack overflow when encountering a type that references itself"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm trying to convert Helm `Chart` type (https://github.com/kubernetes/helm/blob/master/pkg/proto/hapi/chart/chart.pb.go#L41) to an API object. `Chart` has a `Chart.Dependencies` field which is a pointer to the `Chart` type itself.
When leaving this field as it is, `conversion-gen` fails with stack overflow:

[code]

Com

[2017-07-25 08:56] dixudx commented on #49551
/cc

[2017-07-25 08:58] ibazhitov commented on #49553
@kubernetes/sig-api-machinery-bugs

[2017-07-25 08:59] Engerim commented on #46170
for me it worked with `hostNetwork: true` instead of `hostPID: true`

[2017-07-25 09:00] Blasterdick commented on #49546
/area ingress
/area platform/gce

[2017-07-25 09:10] andor44 commented on #49492
None, other than annotations coming first so that's how these deployments were written originally.

The 1.7 release notes did not indicate that the annotations would stop working or break in some way so we assumed it was safe to upgrade. The note about the feature gate did not concern us as we had never enabled that feature gate. It seems to me that this is either an undocumented breaking change o

[2017-07-25 09:12] cofyc commented on #38923
@zhangqx2010

No need to and do not add `fsType: ext4` to storage class.

Have you checked `userId` and secret key in `userSecretName`?

You can execute `rbd` command on your minion nodes manually, e.g. `rbd ls -m <ceph-monitor-addrs> -p <your-pool> --id <userId> --key=<ceph secret key of userId>` to make sure node has `rbd` utility installed, and can access ceph cluster through user id and user s

[2017-07-25 09:26] funwun commented on #48703
same

[code]

[2017-07-25 09:27] xiangpengzhao commented on #49548
/assign

This was introduced in #48418. I will rebase #49361 and fix it in that PR.

[2017-07-25 09:29] funwun opened #49556 "[kubelet] find: unrecognized: -printf"
**Environment**:
- Kubernetes version (use `kubectl version`): kubelet:1.7.2
- OS (e.g. from /etc/os-release): rancheros
- Kernel (e.g. `uname -a`): 4.9.34-rancher
- In Container: alpine:3.5

ERROR MESSAGE: **find: unrecognized: -printf**

kubelet

[code]

[2017-07-25 09:34] funwun commented on #49556
@kubernetes/sig-api-machinery-bugs

[2017-07-25 09:38] AzmanRasdi opened #49557 "."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-25 09:56] dixudx commented on #49556
@funwun This is not a bug of `kubelet`.

The error is triggered by `cAdvisor`, which will try to call `GetDirInodeUsage`.

I will work on to fix it in cAdvisor and update vendor here.

[2017-07-25 09:58] jamiehannaford commented on #26996
Can we not just search `/proc/mounts` for a given path? We're seeing some potential issues with this function in production (esp. with Cinder mounts).

[2017-07-25 10:00] jamiehannaford commented on #49503
@kubernetes/sig-storage-bugs

[2017-07-25 10:01] Spycho commented on #22212
We have a use case that we hope will be addressed by a priority mechanism. I thought it worth sharing with you, so that you could bear it in mind when considering prioritisation in Kubernetes:

REQ1: Using Kubernetes jobs, we would like to prioritise jobs such that when there is free space in the cluster, the highest priority jobs are run (rather than FIFO).

REQ2: Additionally, some jobs require

[2017-07-25 10:03] xiangpengzhao commented on #49548
Added in #49361. Thanks @kargakis for reporting this!

[2017-07-25 10:10] kargakis commented on #49557
/close

[2017-07-25 10:10] kargakis commented on #49557
/assign

[2017-07-25 10:10] kargakis commented on #49557
/close

[2017-07-25 10:10] kargakis commented on #49552
/assign
/close

[2017-07-25 10:10] kargakis commented on #49552
/close

[2017-07-25 10:10] #49552 closed

[2017-07-25 10:47] KptnKMan commented on #37705
I'm currently investigating the process for increasing volume sizes for PVC EBS volumes in AWS.

Does anyone understand the current process for this, if there is one?

I see a lot of conceptual discussion, but what is involved in increasing a usable PVC volume size?

1. increase volume EBS size [via AWS](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-expand-volume.html)
2. **_increase kube

[2017-07-25 10:55] dims commented on #49544
@FengyunPan - Can you try removing openstack from the equation? Like @dixudx says, you will most probably see the problem even without OpenStack

[2017-07-25 10:58] dims commented on #49544
On the OpenStack side, this should be working since kilo already. https://specs.openstack.org/openstack/nova-specs/specs/kilo/implemented/relax-resource-name-restrictions.html

[2017-07-25 11:13] zzy0707zzy opened #49559 "Requests and limits of memory, CPU unit conversion has bugs to Requests and limits of memory, CPU unit conversion has bugs"
When
requests:
        memory: 0.001Mi
        cpu: 1
      limits:
        memory: 0.001Mi
        cpu: 1
kubectl describe pod_id
Results :   memory=1048576m

[2017-07-25 11:13] FengyunPan commented on #49544
@dims I know the reason of this issuse(kubernetes can't support Chinese character), but I can't fix it and I don't know if the *resource name\label\other name* of kubernetes can be expanded to all printable unicode characters and horizontal spaces like openstack. I want to get others' opinions about this issue.

[2017-07-25 11:14] zzy0707zzy commented on #49559
200 m memory is equal to how many Mi?

[2017-07-25 11:17] FengyunPan commented on #49544
Currently if the region name\zone name\instance name\volume name of OpenStack contains Chinese character(or other invalid  character), kubernetes can't use them. Do you have any ideas to fix it? @dims

[2017-07-25 11:18] jianzhangbjz commented on #49559
/sig scalability

[2017-07-25 11:23] dims commented on #49544
@FengyunPan Nice test using "中文" which seems to mean chinese :) This is probably a question for SIG API Machinery (and of course SIG Node). I don't think there is an easy answer other than try to fix scenarios one by one (starting with that regexp) and seeing how difficult it is going to be. Also we might want to check if things work with Docker first (how kubernetes uses docker API for names labe

[2017-07-25 11:30] hongshibao opened #49561 "How can I get the information about which GPUs are already allocated for each node, using k8s API"

[2017-07-25 11:31] xiangpengzhao commented on #49559
IIUC, for memory, the unit `m` means milli-bytes, i.e. `1/1000 byte` (Though it may be meaningless...)

So for your example:
[code]

/cc @smarterclayton @vishh I remember there was a discussion about if allowing `m` unit for memory?

[2017-07-25 11:31] dims commented on #49402
Thanks @bgrant0607 @smarterclayton

[2017-07-25 11:33] xiangpengzhao commented on #49559
A recent issue: #49442

[2017-07-25 11:34] dims commented on #49402
@smarterclayton @rrati Found it! looks like this one https://github.com/kubernetes/kubernetes/pull/44680

[2017-07-25 12:12] xiangpengzhao opened #49562 "Provide a script to update boilerplate"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig contributor-experience

**What happened**:
I encountered below error in the test failures of #49483
(See: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49483/pull-kubernetes-verify/41283/)
[code]
It didn't tell me what's wrong and how to fix it. There is also no such a script as `hack/update-boilerplate.sh`

[2017-07-25 12:14] luxas commented on #49402
@dims Cool that you found it! I was just about to dig it up :)

[2017-07-25 12:19] cricci82 commented on #33884
That explains it, thank you!

[2017-07-25 12:20] maxkondr commented on #49545
@abdasgupta

Hm, could you please point me to some real examples? For the time being I do not see how it could help me

[2017-07-25 12:28] jiaxuanzhou opened #49563 "keep Pod Running when upgrading kubelet binary within given timeout duration"
/kind feature
/sig controller-manager

**What you expected to happen**:

- give a node obj an upgrading annotation pairs

- in function func (nc *NodeController) monitorNodeStatus() error ;
  add another logic to handle the upgrading senario of kubelet binary to avoid evictPods on the upgrading   node, so the status of the pods are still running within the given nodeUpgradeTimeout,when the timeout

[2017-07-25 12:33] yastij opened #49564 "servicecontroller doesn't record some events"
we still have some un-recorded events on the servicecontroller : https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L499

these events might be warnings that we miss recording, are we still doing these convertions ? @bowei @thockin

[2017-07-25 12:40] nopa12 opened #49565 "Encryption at rest key rotation is not working"
/kind bug

**What happened**:
While following [Encryption at Rest guide](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/), the encryption key rotation isn't working. The secrets are still encrypted with the old key.

**What you expected to happen**:
The secrets will be encrypted with the new key.

**How to reproduce it (as minimally and precisely as possible)**:
Just follow the g

[2017-07-25 12:41] jiaxuanzhou commented on #49563
/sig controller-manager

[2017-07-25 12:44] nopa12 commented on #49565
@kubernetes/sig-api-machinery-bugs

[2017-07-25 13:26] luxas commented on #26996
ping @jingxu97

[2017-07-25 13:37] jamiehannaford commented on #26996
Actually after searching around a bit I think this PR might have introduced a better check: https://github.com/kubernetes/kubernetes/pull/48402. The next step is updating code like the cloud volume drivers to use the new version.

@jingxu97 Does this answer your original question? If so, can we go ahead and close?

[2017-07-25 13:56] trunet commented on #27988
I don't think this should be closed without further investigation.

On my fluentd containers, I have the serviceaccount correctly setup:
[code]

Per https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter documentation, you can include ca_file parameter on td-agent.conf file and the ca certificate will be used.

[2017-07-25 14:11] FengyunPan commented on #49549
@goby  I make a PR to fit this issue, please take a look.
Please let me know if you have any questions.

[2017-07-25 14:14] FengyunPan commented on #49551
/cc

[2017-07-25 14:22] crassirostris commented on #27988
@trunet Could you please open a new issue with a clear description of the setup and steps to reproduce?

FYI @coffeepac

[2017-07-25 14:24] maxkondr commented on #49545
in fact (I mean by functionality) my Q is very similar to case when service updates the list of endpoints (pods) when the list of them is changed. How is it achieved?

[2017-07-25 14:26] neith00 commented on #45010
Hello, no one is interested?
Seems legit to me though!
Kubelet cant use all rbd features at the moment!

[2017-07-25 14:34] tomfotherby commented on #17512
@alok87 - Thanks for your aliases. In my case, this is what worked for me given that we use `bash` and  `m3.large` instance types (2 cpu , 7.5G memory).

[code]

[code]

[2017-07-25 14:41] derekwaynecarr opened #49568 "aws cloud provider should warn if no cluster id is provided"
**Is this a BUG REPORT or FEATURE REQUEST?**:
kind/bug

**What happened**:
see $SUBJECT

**What you expected to happen**:
see $SUBJECT

**How to reproduce it (as minimally and precisely as possible)**:
see $SUBJECT

**Anything else we need to know?**:
no

**Environment**:
n/a

[2017-07-25 14:42] derekwaynecarr commented on #49568
/sig-aws

[2017-07-25 14:42] derekwaynecarr commented on #49568
/sig aws

[2017-07-25 14:46] xiangpengzhao commented on #49564
/sig network

[2017-07-25 14:48] mtaufen commented on #48677
If you only extend it to work in the subPath case, people will expect it to work everywhere and be confused that it doesn't. It would be interesting to have env var expansion work in arbitrary fields of the container spec, and I think it's worth discussing with a larger audience. I'd recommend writing a brief design doc in a PR against the community repo (see https://github.com/kubernetes/communit

[2017-07-25 14:49] justinsb opened #49569 "make bazel-build fails with `ln: failed to create symbolic link '/tmp/gopath/src/k8s.io/kubernetes': File exists`"
Running `make bazel-build` (on master), gives the error `ln: failed to create symbolic link '/tmp/gopath/src/k8s.io/kubernetes': File exists`:

[code]

Bazel version 0.5.2:
[code]

cc @kubernetes/sig-release-bugs

[2017-07-25 14:52] squeed commented on #48427
Perhaps rkt should mount the tmpfs on `/run/netns` as well? That would be an easy fix.

[2017-07-25 14:53] trunet opened #49570 "fluentd-elasticsearch addon is complaining about CA certificate connecting to API"
Following #27988

I'm trying to start fluentd-elasticsearch addon and I'm receiving some errors.

Error 1:
It asks to use 1.24, that doesn't exist on gcr, I changed the yaml to 1.23, and the image is there.

Error 2:
After the fluentd container starts, I receive this error:
[code]

I changed the image to ubuntu-slim with a sleep 3600 as a command, and logged into to test the serviceaccount and the

[2017-07-25 14:54] trunet commented on #27988
thanks, just created #49570

[2017-07-25 14:57] trunet commented on #49570
/sig area/logging

[2017-07-25 14:59] crassirostris commented on #49570
/sig instrumentation
/cc @piosz @coffeepac
/cc

[2017-07-25 15:01] crassirostris commented on #49570
@trunet Thanks! I'll try to take a look

[2017-07-25 15:04] mashayev opened #49571 "Can I schedule kube-system namespace pods on master instances?"
/area docker
/area kubelet

I know there is a daemonset for this purpose, but I want something else, can I schedule kube-system namespace pods **only** on master instances.

I don't see any reason to schedule these pods on K8S Nodes. I prefer to create them on the masters. Can I do that?(I didn't find any way to).

If this is not possible yet maybe this can be consider as a feature request?

[2017-07-25 15:08] mashayev commented on #49571
/sig  scheduling
/sig node

[2017-07-25 15:13] dashpole commented on #48703
@clenimar is it still reporting disk pressure and trying to reclaim nodefs?

[2017-07-25 15:20] billmilligan opened #49573 "kubeadm 1.7.2 init blocks on waiting for control plane to be ready"
/kind bug

**What happened**:

Never continues from "Created API client, waiting for the control plane to become ready"

**What you expected to happen**:

Init completes

**How to reproduce it (as minimally and precisely as possible)**:

1.  Freshly created CoreOS 1409.7.0 using Vagrant
2.  Install kubeadm 1.7.2
3.  kubeadm init

**Anything else we need to know?**:

journalctl -u kubelet edited ou

[2017-07-25 15:23] clenimar commented on #48703
@dashpole it's currently just reporting:
`Jul 13 08:02:54 master.cern.ch kubelet[23153]: W0713 08:02:54.229139   23153 helpers.go:771] eviction manager: no observation found for eviction signal allocatableNodeFs.available
`
the disk pressure was an actual disk pressure and i solved it. please refer to [my previous comment](https://github.com/kubernetes/kubernetes/issues/48703#issuecomment-31500349

[2017-07-25 15:25] yastij commented on #49564
/assign

[2017-07-25 15:28] billmilligan commented on #49573
/sig area/kubeadm

[2017-07-25 15:39] luxas commented on #49573
@billmilligan Please open this issue in the kubeadm repo.

[2017-07-25 15:39] #49573 closed

[2017-07-25 15:56] jdumars commented on #48638
/sig azure
Added for visibility

[2017-07-25 16:09] djsly commented on #43730
@bowei @thockin  any chance this could be picked up for 1.8 ?

[2017-07-25 16:12] aabed commented on #45626
Any workarounds?

[2017-07-25 16:13] jingxu97 commented on #48703
The fix for the error log #48636 is merged and I will make sure cherrypick to 1.7 asap. The error log itself does not mean there is disk pressure or eviction manager takes any actions such as reclaiming nodefs. But unfortunately it prints out log every 10 second and have to watch the log size.

[2017-07-25 16:48] #45172 closed

[2017-07-25 16:53] kevtaylor commented on #48677
By adding the subpath doesnt in my opinion make it more confusing because it is already very restricted to only 2 elements. The current way of using an init container is much more confusing for an end user

[2017-07-25 16:59] lavalamp commented on #49487
@kargakis I do not think this is a bug. 25% == .25 and int(.25) == 0. ;)

Even in the case where the user puts in something like 100% I do not think it's a bug. Users should not put strings like "25%" into intOrString and expect to get the integer 25 out. Likely a user doing that is confused about what format the field takes in.

@k82cn I am not sure why the function GetValueFromIntOrPercent exist

[2017-07-25 17:05] sylr opened #49577 "K8s Service fails to create Azure internal load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-azure
@kubernetes/sig-network

**What happened**:

I've created a Kubernetes CLuster on Azure using acs-engine.

In order to be able to communicate within a private network (Azure Vnet) between k8s resources and other Azure resources I have used a custom VNet configuration which allows to specify the Azure VNet resource you

[2017-07-25 17:08] kamilgregorczyk commented on #49459
As you can see in my post kubernetes-dashboard is installed.

[2017-07-25 17:20] msau42 commented on #49529
It looks like the client pod failed to terminate:
[code]

[2017-07-25 17:21] kamilgregorczyk commented on #49458
But tutorial says something completely different:

So I do expect that by entering http://master_ip:30001 it will get me there. I don't really care it it works for me ;) I find kubernetes really powerful tools but tutorials are terrible, when I was going through this one that I mentioned above, I had to use google 4 times for help because something didn't work.

[2017-07-25 17:22] kargakis commented on #49487
No. First, this depends on how you do the rounding. If you are rounding up (MaxSurge in Deployments), this is 1. Then, the replica size of the deployment also plays a part. 25% of a controller with 1 replica, is different from a controller with 4 replicas, etc.

[2017-07-25 17:22] jeffvance commented on #49529
@msau42 30s may not always be enough time for the gluster client pod to terminate?

[2017-07-25 17:24] kargakis commented on #49487
Also, the fact that IntValue returns 0 for every percentage has nothing to do with any logic. It's purely because the conversion errors out: https://play.golang.org/p/j6Q4m1krDv

[2017-07-25 17:24] jeffvance commented on #49529
@msau42 also, why is it so common to see ~29 seconds for the client pods (nfs, gluster) to supposedly terminate. The wait _should_ be for up to 5m yet I never see >= 30s wait times... yet, we know that sometimes the gluster client pod is not terminated. Seems like a bug in this area?

[2017-07-25 17:36] dchen1107 commented on #49236
@yujuhong

[2017-07-25 17:48] muxalko commented on #47142
Sorry, I am a newbie to k8s and will try to be more specific.

Here are my setup details:

- **Hardware environment**:
[code]
- **Install tools**:
I deploy with ansible using [kubeadm-playbook](https://github.com/ReSearchITEng/kubeadm-playbook)
Operating system for all VMs as follows:
[code]
Firewall and SELinux are disabled.
There is one master and four minions:

- **Kubernetes version**:

[code]

[2017-07-25 17:52] #49220 closed

[2017-07-25 18:03] luxas commented on #49459
Oh, didn't see that. It's crashlooping, hence there's no available endpoint for the service to connect to.
When you get the dashboard `Running` this will work

I don't think there are action items for kubeadm. If there are, please open a new issue in the kubeadm repo

[2017-07-25 18:06] #45939 closed

[2017-07-25 18:11] spiffxp opened #49580 "test-infra-maintainers is the only non-sig team in OWNERS_ALIASES"
All of the other entries in OWNERS_ALIASES are either:
- sig-foo
- sig-foo-maintainers
- sig-foo-approvers
- sig-foo-reviewers

/sig testing

@kubernetes/sig-testing-pr-reviews I'd like us to go with sig-testing-approvers and sig-testing-reviewers, we can debate in the PR I'm about to link to this

[2017-07-25 19:14] #48975 closed

[2017-07-25 19:14] #40049 closed

[2017-07-25 19:17] madhusudancs commented on #49213
@luxas I am already too late for today's meeting. I cannot join the meeting next week and the week following that because it overlaps with SIG-Federation meetings. May be in 3 weeks from now, if you can put it on the agenda?

[2017-07-25 19:18] madhusudancs commented on #49213
Also cc @shashidharatd who is interested in this.

[2017-07-25 19:23] mtaufen commented on #48677
@thockin @lavalamp @smarterclayton @devin-donnelly thoughts?

[2017-07-25 19:41] liggitt commented on #48865
possibly https://github.com/coreos/etcd/issues/8305

[2017-07-25 19:42] gnufied commented on #49509
/assign

[2017-07-25 19:53] itskingori commented on #45626
@aabed @armandocerna @bcorijn @philipn @tudor I have a few questions:

1. Do you sometimes find that your node has been terminated and replaced in the ASG?
2. What version of kops and kubernetes are you using?
3. Is your cluster a fresh 1.6.x installation or an upgrade from 1.5.x?

[2017-07-25 20:02] nikhiljindal commented on #49460
cc @pwittrock @kubernetes/sig-cli-bugs
This test seems to have been failing since a long long time as per https://k8s-testgrid.appspot.com/release-master-blocking#gke&sort-by-failures=.

Can you please take a look?

[2017-07-25 20:39] deads2k opened #49586 "PodExecOptions has odd behavior"
Based on my testing, in 1.6, if I passed
 1. stdout empty - `true`
 1. stdout `false` - `true`
 1. stdout `true` - `true`

In 1.7, if I passed
 1. stdout empty - `false`
 1. stdout `false` - `false`
 1. stdout `true` - `true`

The 1.6 defaulting doesn't work because you can't default a `bool` field.  The parameter decoder doesn't handle `*bool` and even if it did, you'd end up facing more conversi

[2017-07-25 20:50] deads2k commented on #49586
@ncdc

[2017-07-25 20:52] ncdc commented on #49586
@deads2k this is exactly what I was hoping to see (the 1.7 behavior). You may want to test things like `oc rsync`,`oc debug`, and the openshift web console to make sure they're still good.

[2017-07-25 20:53] ncdc commented on #49586
This affects stderr too, and both fields in PodAttachOptions, doesn't it?

[2017-07-25 20:58] crimsonfaith91 opened #49588 "Dynamic client does not support subresources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: Existing dynamic client library does not support subresources.

**What you expected to happen**: The library should support the subresources to facilitate e2e testing.

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:
N/A

**Environment**: N/A
- Kubernetes vers

[2017-07-25 20:58] crimsonfaith91 commented on #49588
@enisoc

[2017-07-25 21:00] guptaabhish opened #49589 "xpose"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-25 21:00] mattmoyer commented on #49320
I see it on `pull-kubernetes-kubemark-e2e-gce` as well.

Example: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/49520/pull-kubernetes-kubemark-e2e-gce/41783/build-log.txt

[2017-07-25 21:07] #44226 closed

[2017-07-25 21:07] #44227 closed

[2017-07-25 21:13] deads2k commented on #49586
Yes it does.

[2017-07-25 21:21] ixdy commented on #49320
The [release notes for gsutil 4.27](https://github.com/GoogleCloudPlatform/gsutil/blob/master/CHANGES.md#release-427-release-date-2017-06-29) make a reference to authentication which makes me a little suspicious. Trying to figure out when we updated to 4.27 and whether that correlates with these failures.

[2017-07-25 21:30] krzyzacy commented on #49185
looks green now
/close

[2017-07-25 21:31] susandiamond commented on #42164
Seeing the same issue in our Kube cluster

[2017-07-25 21:50] rmmh commented on #49320
The earliest failure I can find is this:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46893/pull-kubernetes-federation-e2e-gce/14835

On Tue, Jul 25, 2017 at 2:21 PM, Jeff Grafton <notifications@github.com>
wrote:

[2017-07-25 21:53] ixdy commented on #49320
Yeah, it looks like there were no failures before we updated to gsutil 4.27, so I'm guessing that is the cause.
I'm not sure whether it's possible to pin to a particular version of gsutil.

[2017-07-25 22:36] enisoc commented on #49424
I think it's feasible to fix this for CRD at some point. However, given that TPR is already gone in master, I don't think it's worth fixing for TPR unless it's somehow a regression in 1.7.

@mengqiy Do you have any objections to that?

[2017-07-25 22:55] yujuhong commented on #49320
You could download a specific `gsutil_<version>.tar.gz` tarball at the beginning of a test run...

[2017-07-25 23:36] mdaniel commented on #47800
sorry for the delay in getting back to you, I finally caught something interesting in the kubelet log

[code]

_I elided the info level lines in between those error level lines, as they were "MountVolume.Setup succeeded" and didn't seem relevant_

I also came here to see if there was another issue regarding intermingled log output, but searching for that in the issues is extremely hard given how m

[2017-07-26 00:06] janetkuo commented on #49135
Yes, we planned to make StS and DS default strategy to be RollingUpdate

[2017-07-26 00:55] fejta commented on #49320
I'm pretty sure gsutil comes as a part of gcloud, so if we install an older gcloud version, we'll also get an older gsutil

[2017-07-26 01:08] ahmetb commented on #22469
@caseydavenport Do you mind bringing the design proposal up to date: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network-policy.md. It appears like the NamespaceSpec proposal did not make it and the default-deny got implemented with selectors on NetworkPolicy. (Although, I am not sure if proposals are meant to be updated later on to reflect the actual implemen

[2017-07-26 01:27] sbezverk opened #49601 "Adding metrics to local-volumes plugin"
Issue opened to track PR which is adding collection of metrics for local-volumes plugin
/kind feature
/sig kubernetes-sig-storage

[2017-07-26 01:28] sbezverk commented on #49601
/sig store

[2017-07-26 01:37] spzala commented on #17208
@timothysc very sorry, totally missed your comment earlier, and yes absolutely. Thanks!!

[2017-07-26 01:41] zhangqx2010 commented on #38923
@cofyc
Yes, you are right. I typed wrong pool for ``ceph auth add`` command. Problem solved after correcting this. Thanks for helping!

[2017-07-26 01:54] kevin-wangzefeng commented on #46934
/cc @kubernetes/huawei

[2017-07-26 02:14] shiywang opened #49602 "add --diff-viewer flag support for `kubectl apply diff-last-applied`"
if we need to support flag `--diff-viewer` in this doc here: https://github.com/pwittrock/community/blob/572c1e0a26a05892c9ecbbf0dbf6b067677cdc32/contributors/design-proposals/sig-cli/kubectl_apply_getsetdiff_last_applied_config.md#diff-last-applied
we need to find a better way to organize our current code in `cmdtools.go`, because previously, `cmdtools.go` was only design for `kubectl edit` to us

[2017-07-26 02:15] shiywang commented on #49602
/sig cli

[2017-07-26 02:16] shiywang commented on #48409
new pr here: https://github.com/kubernetes/kubernetes/pull/49174

[2017-07-26 02:22] supereagle commented on #49435
Form [YAML Spec](http://www.yaml.org/spec/1.2/spec.html):

[Generic Sequence](http://www.yaml.org/spec/1.2/spec.html#id2802662):

According to the YAML Spec, there is only sequence data structure, it can be parsed to map or list for different languages.

[2017-07-26 02:26] janetkuo opened #49604 "Default apps/v1beta2 StatefulSet and DaemonSet strategy to RollingUpdate"
@kubernetes/sig-apps-api-reviews

PR needs to depend on #49071

Update [defaults.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1beta2/defaults.go) and [default_test.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1beta2/defaults.go) and change default strategy from OnDelete to RollingUpdate.

[2017-07-26 02:29] kweisamx commented on #49458
Yes I agree kubernetes is very power and its document is .......,
maybe you can use docker create a pod,then get in to curl the service, check the service is fine.
I hope it helps you.=)

[2017-07-26 02:39] jianglingxia commented on #49432
cc @jingxu97
can you review the issue or you encountered it ?thanks very much!

[2017-07-26 02:41] guangxuli opened #49605 "Node events still exist after deleting the node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In master node i run` kubectl delete nodes my-node1`, and meanwhile i stop the kubelet that exists in this node. After while i restart kubelet on  **my-node1**, then i run `kubectl describe nodes my-node1`,
i found the node events previously happened still exist.

[code]

**What you expected to happen**:
The events includ

[2017-07-26 02:52] huangjiasingle opened #49606 "the pods of node Capacity and Allocatable is 110, but have some pod on the node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
bug

**What happened**:
kubectl describe node1
**What you expected to happen**:
[code]
but it already some pod running in the node1

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):v1.6.3
- Cloud provider or hardware configuration**:
-

[2017-07-26 02:59] cblecker commented on #49606
/kind bug
/sig cli node
Not sure if this is a node reporting issue, or if it's a cli display issue.

[2017-07-26 03:01] #49044 closed

[2017-07-26 03:04] mengqiy commented on #49424
Having CRD support is good enough for me and service catalog.
Will you backport the fix for CRD to 1.7?

[2017-07-26 03:24] huangjiasingle commented on #49606
@cblecker  l get the node's info from etcd , it's the same 110 ,so  l think this is a node reporting issue!

[2017-07-26 03:28] philipn commented on #45626
1. I hadn't noticed that.  2. We saw this on K8s 1.6.4 and kops 1.6.2.  3. This was an upgrade from 1.5.x, and the upgrade was performed using kops..

[2017-07-26 03:31] pineking commented on #49561
@hongshibao AFAIK, there are no k8s APIs can do such things.
this information is in the variable `nvidiaGPUManager`
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/gpu/nvidia/nvidia_gpu_manager.go#L60

[2017-07-26 03:43] xiangfeiz commented on #48924
I'm running hyperkube container where kubectl command is linked to hyperkube binary file. The official download of kubectl 1.7.0 does not have this issue.

[2017-07-26 04:52] #45757 closed

[2017-07-26 04:58] yekaifeng commented on #41428
#49260

[2017-07-26 05:16] tback commented on #41039
https://github.com/kubernetes/kubernetes/pull/41901 seems to be the pull request.

[2017-07-26 05:23] jianzhangbjz commented on #49606
@huangjiasingle It's not a bug, `Allocatable` is not what you think it means. Please refer to [Reserve Compute Resources for System Daemons](https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/).

[2017-07-26 05:34] huangjiasingle commented on #49606
@jianzhangbjz l understand you means, l know the reserve Compute resource for the system Daemons, it's not only reserve system daemon, it's osle reverse kubernetes's componet's compute resource. it's not same of this issue's topic

[2017-07-26 05:46] FengyunPan commented on #49564
/cc

[2017-07-26 05:48] yiqinguo commented on #49606
@cblecker If the number of nodes on the pod increase, allocatable cpu and memory should be reduced?

[2017-07-26 05:49] jianzhangbjz commented on #49606
So, you mean the node should not display the `110`, because already have some pods running before, right? Again... the `Allocatable` does not means free resource on the node.

[2017-07-26 05:55] xiangpengzhao commented on #49606
Agree with @jianzhangbjz

[2017-07-26 05:56] jianzhangbjz commented on #49606
@yiqinguo No, it should remain the same.

[2017-07-26 05:58] csandanov commented on #41580
https://github.com/kubernetes/kubernetes/issues/29972 seems to be related

[2017-07-26 06:00] goby commented on #49549
@FengyunPan it looks great! Thanks

[2017-07-26 06:00] #46911 closed

[2017-07-26 06:06] huangjiasingle commented on #49606
@jianzhangbjz  l think so .   the annotation's of Allocatable is: Allocatable represents the resources of a node that are available for scheduling. you can find the annotation in the code: k8s.io/api/core/v1/type.go  , the struct is NodeStatus.

[2017-07-26 06:09] fejta commented on #49320
Consider moving discussion over to the gsutil issue: https://github.com/GoogleCloudPlatform/gsutil/issues/446

[2017-07-26 07:00] euank commented on #34965
I do think the PR I have against cadvisor (https://github.com/google/cadvisor/pull/1544) is still a good solution to this problem.

[2017-07-26 07:04] luxas commented on #49213
@madhusudancs We have a meeting on Friday 9 PT if that works for you as well

[2017-07-26 07:06] ddysher commented on #49158
IIUC, storage request/limit is not counted when calculating Be, Bu, Gu, for mostly the same reason listed here.

One major concern is cluster utilization.  We've seen people struggling with guessing the right cpu, memory for their application, and request<limit is the generally accepted ways for improving utilization.  For production cluster, we are always using request=limit for predictable outco

[2017-07-26 07:10] FengyunPan opened #49612 "Failed to start service controller without cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After starting kubernetes controller manager, I get the following error:
\-----------------
**E0726** 11:55:39.362927       1 controllermanager.go:494] **Failed to start service controller**: WARNING: no cloud provider provided, services of type LoadBalancer will fail.
\-----------------

**What you expected to happen**:
G

[2017-07-26 07:10] FengyunPan commented on #49612
\assign

[2017-07-26 07:11] FengyunPan commented on #49612
/assign

[2017-07-26 07:11] k8s-merge-robot opened #49613 "Failure cluster [9752ff...] failed 203 builds, 72 jobs, and 1 tests over 1 days"
### Failure cluster [9752ffe9b750fef3c11b](https://go.k8s.io/triage#9752ffe9b750fef3c11b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    72 jobs failed,    203 builds failed.
Failure stats cover 1 day time range '25 Jul 2017 06:10 UTC' to '26 Jul 2017 06:10 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 72

[2017-07-26 07:12] xiangpengzhao commented on #49612
/sig network

This is not a bug. This is an expected warning when there is no cloud provider.

[2017-07-26 07:13] FengyunPan commented on #49612
We can support starting controller manager without cloud provider when I don't create the LoadBaancer service. I will create pr to fix it.

[2017-07-26 07:16] FengyunPan commented on #49612
@xiangpengzhao "Failed to start service controller" means failure. It is better to make a expected warning when there is no cloud provider rather than getting a error.

[2017-07-26 07:18] FengyunPan commented on #49612
@xiangpengzhao And I think it is easy to fix it.

[2017-07-26 07:22] myaspm opened #49614 "Ingress Doesn't Return Adress (LXD)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I installed Kubernetes on localhost LXD. When trying to expose containers to outside network (outside cluster but still inside private company network) by ingress, ingress address column comes up empty. All my steps are from official tutorials/documentations. kubectl get events returns

[code]

**What you expected to happ

[2017-07-26 07:23] xiangpengzhao commented on #49612
Yeah, this is an enhancement rather than a bug:)

[2017-07-26 07:23] m1093782566 commented on #46625
Hi @danwinship

I can continue to work on it. You can assign some of them to me if you want. Thanks!

[2017-07-26 07:27] bcorijn commented on #45626
1. Nope, all my instances seem stable.
2. Kops 1.6.3, Kube 1.6.6
3. Upgraded from 1.5.x

[2017-07-26 07:54] jenningsloy318 commented on #49281
seem upgrade kubelet to v1.7.2, this issue is gone.

[2017-07-26 07:56] krmayankk commented on #46934
@janetkuo which option are we going with for rollback as proposed by @kargakis

[2017-07-26 07:59] myaspm commented on #49614
/sig network

[2017-07-26 08:00] andrey01 commented on #49500
@luxas @liggitt any insights on ^^ ?  Thanks.

[2017-07-26 08:10] sylr commented on #49577
/sig azure
/sig network

[2017-07-26 09:11] guangxuli opened #49620 "Can not get DaemonSet resource type"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I create a daemonset object in kubernetes cluster. I can get the daemonset  by running` kubectl get ds/my-daemonset`, but i could not get the daemonset resource info after running `kubectl get all`.

**What you expected to happen**:
We can get the DaemonSet resources by running `kubectl get all`, just like some other names

[2017-07-26 09:16] xiangpengzhao commented on #49601
/sig storage

[2017-07-26 09:18] yastij opened #49621 "add existence checking on photon_pd attach"
Currently we don't check if disk is already attached : https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/photon_pd/attacher.go#L73

from what i remember it can cause some problems, but not sure, sorry for the mass tag @kerneltime @luomiao @abrarshivani

[2017-07-26 09:18] yastij commented on #49621
/sig storage
/assign

[2017-07-26 09:29] davidopp commented on #17208
sure

[2017-07-26 10:04] CaoShuFeng opened #49622 "kubectl --as doesn't work inside pod"
**Is this a BUG REPORT or FEATURE REQUEST?**
/kind bug

**What happened**:
kubectl --as=foo doesn't work inside pod

**How to reproduce it (as minimally and precisely as possible)**:
1. [configure service accounts for pods](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/)
2. run following commands
[code]
@deads2k @liggitt

I will research and fix this issue myse

[2017-07-26 10:08] dixudx opened #49623 "change apps/v1beta2 StatefulSet observedGeneration from a pointer to an int for consistency"
/kind cleanup
/sig apps
/area workload-api

In apps/v1beta2, we need to change the StatefulSet observedGeneration from a pointer to an int for consistency as listed in #49135.

/cc @janetkuo @kow3ns

[2017-07-26 10:09] dixudx commented on #49623
/area workload-api/statefulset

[2017-07-26 10:26] yastij commented on #49586
/cc

[2017-07-26 10:52] guangxuli commented on #49620
/assign

[2017-07-26 10:59] yastij opened #49625 "factor out aws's volumes interface and extend its usage to other CP"
I think that we should allow now other CP to implement this [interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L321)  and make volumes mgmt cloud agnostic. To do so, we should also extract the volumeOptions

/area cloudprovider
/sig storage
/kind enhancement

[2017-07-26 10:59] yastij commented on #49625
/assign

[2017-07-26 11:11] ligc opened #49626 "preStop hook gets killed during execution with "did not complete in 0 seconds" UnfinishedPreStopHook events"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Defined the preStop hook for a replicaset/deployment, when I delete the replicaset/deployment, the prestop hook gets killed during the execution and could not be finished properly. We are running a relatively old version Kubernetes 1.5.6, but we could not update the Kubernetes version for our production environment.

**W

[2017-07-26 11:14] ligc commented on #49626
@kubernetes/sig-node
@kubernetes/sig-on-premise
@kubernetes/sig-cluster-ops

[2017-07-26 11:25] bboreham commented on #44752
The logging in #38979 is totally different to the logging in this issue.  They are unrelated.

Here, kubelet is trying to clean up a dead container, but since it is already dead it gets errors and logs them.  This logging is harmless, but if you get a lot of this you may wish to investigate why those containers/pods are dying.

[2017-07-26 11:26] jsafrane commented on #34965
Summing up the discussion here:

* kubelet service with `KillMode=process` does not kill cAdvisor's probes.
* kubelet service with `KillMode=control-group` kills fuse daemons and thus unmounts gluster volumes from running pods.

I have a PR #48430 where kubelet running in a container runs /bin/mount on the host, outside of kubelet's container cgroup using systemd-run. I will try the same approach

[2017-07-26 11:31] cooper667 commented on #45626
@itskingori Same issue. I'll try to get more details, but for now:

1. No, all nodes have existed since cluster creation
2. Kops Version 1.6.2 (git-98ae12a), K8S v1.6.2
3. Fresh cluster

[2017-07-26 11:42] deads2k commented on #49622
Great! assigned.

[2017-07-26 11:42] x13n opened #49627 "Indeterministic kubectl behavior for DaemonSet"
/kind bug

**What happened**:
I was running kubectl command during master startup. This failed during pull-kubernetes-e2e-gce-etcd3 test, so I SSHed into the master and ran the following:

$ kubectl --v=9999 set resources --dry-run --local -f /etc/kubernetes/addons/fluentd-gcp/fluentd-gcp-ds.yaml --limits=memory=333Mi -o yaml

This failed about every second run and succeeded every other, but repla

[2017-07-26 11:51] roffe opened #49628 "Kubelet ignoring --register-schedulable=false"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubelet gets registered as schedulable even though `--register-schedulable=false` is set

**What you expected to happen**:
Node to show up as Unschedulable in "kubectl get nodes"

**How to reproduce it (as minimally and precisely as possible)**:
Set up kubernetes 1.7.2, start kubelet with `--register-schedulable=false` as

[2017-07-26 11:52] roffe commented on #49628
/sig scheduling

[2017-07-26 11:57] roffe commented on #49628
@kubernetes/sig-scheduling-bugs

[2017-07-26 12:11] ligc commented on #49626
/sig node
/sig app-lifecycle
/area app-lifecycle

[2017-07-26 12:12] k82cn opened #49630 "Support percentage of resource in ResourceQuota"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**Description**:

Currently, the resource restriction in ResourceQuota are hard code for 'Object Count Quota', 'Storage Resource Quota' and 'Compute Resource Quota'. It's inconvenient if the cluster size is changed, e.g. admins have to adjust quota for each namespace.

This proposal is to support percentage of resource in ResourceQuota,

[2017-07-26 12:13] k82cn commented on #49630
/sig scheduling

[2017-07-26 12:13] k82cn commented on #49630
/assign

[2017-07-26 12:28] deads2k commented on #49630
I think I would consider other solutions like having a controller maintain the values in the quota.  Right now, the RQ object is self-contained and we can compute against it without any external dependencies.  If we had it based on the size of the cluster, suddenly there is an external factor at play, not reflected in the object itself.

In addition, aggregated API servers have to compute quota on

[2017-07-26 12:52] Miouge1 commented on #27796
Is there anyway to get the agreement signing working when using the github noreply email address in commits?
See https://help.github.com/articles/about-commit-email-addresses/

[2017-07-26 13:01] alok87 commented on #47294
@MohamedBassem were u able to fix this issue? We are facing the exact same issue...

[2017-07-26 13:05] julia-stripe commented on #49314
hypothesis: https://github.com/kubernetes/kubernetes/commit/ecb962e6585#diff-67f2b61521299ca8d8687b0933bbfb19R223 broke the error handling when `ForgetPod` fails. Before that commit, when `ForgetPod` failed it would log an error and pass the pod to the error handler (`sched.config.Error(pod, err)`), which is in charge of retrying scheduling the pod.

After that commit, when `ForgetPod` fails it sk

[2017-07-26 13:12] mashayev commented on #49571
I did some research in order to schedule pods in master:
1. `kubectl uncordon <master>`
2. Use node selectores and taint to control so the pods only ends up on those uncordoned masters.

It's not recommended to run PODS on master from a security perspective and best practice:
1. If the POD is a rouge one so they will have a full access to our K8S cluster.
2. If we run pods with host networking and

[2017-07-26 13:12] dmnord commented on #49493
Everything works fine, but informativeness in kubernetes logs are very poor!

[2017-07-26 13:12] #49493 closed

[2017-07-26 13:17] qubusp opened #49633 ""Created API client, waiting for the control plane to become ready" hanging forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
stays like that forever

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.7.5
- Cloud provider or hardware configuration**: baremetal rented
- OS (e.g. from /etc/

[2017-07-26 13:18] akanshajain1 opened #49634 "Two masters using one etcd(High Availability of Masters)"
I have Etcd in one AWS EC2 instance and other kubernetes master in another EC2 instance everything is working fine. Now i created AMI of my existing Master so that i can create new Master using that AMI but when i am creating new master with this AMI and my existing master goes down. It is giving error:

"error retrieving resource lock kube-system/kube-controller-manager:Get http://10.31.106.127:8

[2017-07-26 13:27] FengyunPan opened #49635 "Metric for serviceaccount_controller was registered twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After start kubernetes controller manager, I get the following error:
/---------------------
E0726 11:55:39.359814       1 util.go:45] Metric for serviceaccount_controller already registered
/---------------------

**What you expected to happen**:
successed to start kube-controller-manager service without error.

**How to

[2017-07-26 13:29] #47135 closed

[2017-07-26 13:31] roffe commented on #29434
This needs to be repopened as it's still a issue in 1.7.2 and the stackoverflow is unanswered

[2017-07-26 13:32] xiangpengzhao commented on #49628
/cc @davidopp @k82cn

[2017-07-26 13:43] edevil commented on #47131
I also have the same messages on the apiserver log, however it's rare that I get timeouts on operations invoked on it.

K8s: 1.6.2
etcd: 3.1.10 && 3.0.17 (these messages appeared before I upgraded to 3.1.10 and are still there)

[2017-07-26 13:50] timothysc commented on #47131
/assign @hongchaodeng @xiang90

[2017-07-26 13:55] jtslear opened #49637 "Incorrect Status: 'deployment "testapp" exceeded its progress deadline'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When setting an image using the example command and following it up with a status check, the command incorrectly indicated that the deployment exceeded it's progress deadline.

I'm using a shell script for deploys, those commands look similar to this:

[code]

During a deploy, sometimes the output looks like this:
[code]

[2017-07-26 13:58] jtslear commented on #49637
@kubernetes/sig-cli-bug

[2017-07-26 14:02] derekwaynecarr commented on #49630
@k82cn - i commented on the google doc you shared with a similar proposal.  i agree with @deads2k that dynamic allocation of quota can happen in a layer above quota.  For example, a CRD called ResourceQuotaAllocator that operates with a target of cluster size, and it programs the ResourceQuota directly with literal hard values.  ResourceQuota itself can continue to work as it does today.  From a p

[2017-07-26 14:13] paultag commented on #19333
Why do we need an owner for each bug? Keeping this open will reduce duplicates, and make sure everyone knows the state of the defect

[2017-07-26 14:18] timothysc commented on #49260
State is indeterminate and reconciliation is cleaner with a restart, b/c it would need to repopulate all of it's caches.

All workloads will continue running and fail-over timeout is tunable.

[2017-07-26 14:18] #49260 closed

[2017-07-26 14:27] thecodeassassin opened #49639 "Support for CloudFlare DNS provider for Federated clusters"
/kind feature

Currently federation only supports Google CloudDNS, Route53 and CoreDNS. I would love if if CloudFlare could also be supported since we use them for our DNS zones. I'm sure this will be a popular addition as well. It's already supported for ExternalDNS. I'm sure most of the work can be driven from existing providers and ExternalDNS:

https://github.com/kubernetes-incubator/external-

[2017-07-26 14:30] sbezverk commented on #30462
Keeps failing: FAIL: pull-kubernetes-verify on a tiny change...
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49598/pull-kubernetes-verify/41706/
Could you please check

[2017-07-26 14:30] thecodeassassin commented on #49639
/sig federation

[2017-07-26 14:31] ianchakeres commented on #49126
/assign @ianchakeres

[2017-07-26 14:38] klausenbusk commented on #41444
@baldwinSPC Any update on this?

[2017-07-26 14:44] jsafrane commented on #34965
filled #49640 to run *all* fuse daemons in their own systemd scope (=cgroup) so they won't be killed by `KillMode=control-group`

[2017-07-26 14:47] jeb5-ccl commented on #26670
We have an issue whereby we deploy new versions of services from our CI pipeline frequently. We delete services and recreate them as part of this process. ELBs, SGs, Rules and network IFs don't get deleted and we end up hitting our AWS account limits very quickly forcing manual deletion of these via the AWS console. Can anyone point me at which logs I should be looking at to see what might be goin

[2017-07-26 15:04] jeb5-ccl commented on #32227
we have an issue whereby deletion of services does not delete the ELB, SGs or network IFs. Please can someone point me at which logs to look at for diagnosis.

Many thanks.

[2017-07-26 15:13] yastij commented on #49314
/cc

[2017-07-26 15:14] sbezverk opened #49641 "e2e/unit/integration flake: pull-kubernetes-verify"
Consistently failure on pull-kubernetes-verify..
[code]

[2017-07-26 15:15] hongshibao commented on #49561
Thanks @pineking . I think I know how to expose this information now.

[2017-07-26 15:16] #49561 closed

[2017-07-26 15:17] sbezverk commented on #49641
/sig testing

[2017-07-26 15:24] ghasabian commented on #43279
Use the `kubectl delete pods <unknown pods name> --grace-period=0 --force`

[2017-07-26 15:34] wanghaoran1988 commented on #49628
@xiangpengzhao When you run kubelet --register-schedulable=false, you should make sure the node is not exits, if it's first time you register the node with that flag, the node is indeed unSchedulable, and if it's exits before and is schedulable, the 2nd time you run with the flag will not update the Node info with unSchedulable.
Replace with this is : use registerWithTaints instead

[2017-07-26 15:35] caseydavenport commented on #22469
I was under the impression that proposals were not living documents, though I could be wrong.

For example, not sure if egress policy will get a new proposal or a modification to the existing one.

@thockin any thoughts?  Happy to update if we think that's the right process.

[2017-07-26 15:37] cblecker commented on #49641
/assign
Can you please link the PR? The log provided is incomplete.

[2017-07-26 15:42] lpabon commented on #29789
@ProTip @justinsb Would something like this be possible using the following template:

[code]

Here is an example of an ELB:

[code]

[2017-07-26 15:42] sarahnovotny commented on #27796
That is a question for helpdesk@rt.linuxfoundation.org. I believe that the email address is what is used for CLA identification though, so it's unlikely.

[2017-07-26 15:43] sbezverk commented on #49641
https://github.com/kubernetes/kubernetes/pull/49598

[2017-07-26 15:45] rjhowe commented on #37546
I wonder if this PR fixes the issue.

https://github.com/kubernetes/kubernetes/pull/43878

[2017-07-26 15:48] cblecker commented on #49641
It's not a flake. There is a legitimate error on your PR (I've commented with details in that PR).
Closing..
/close

[2017-07-26 15:48] #49641 closed

[2017-07-26 15:51] jayeshnazre commented on #49411
Thank you all for responding. I believe I found the issue with my timeouts or rather came up with a solution that avoids one
•	First thing Ubuntu 17.04 is not using dnsmasq; My  K8s master and worker nodes are running in VMWare Workstation Pro 12 in my simulated test environment
•	Ubuntu 17.04 uses “systemd-resolved” instead of dnsmasq.
•	Kubedns inherits the contents of “/etc/resolv.conf” somethi

[2017-07-26 15:52] sbezverk commented on #49641
I can assure you that I have read the log and saw that failed message, but when I run the same command locally on my branch, gofmt returns rc 0.
[code]

[2017-07-26 15:55] gyliu513 commented on #49626
What is the expected behavior that you want? Seems the current description is the expected behavior. @ligc

[2017-07-26 15:56] jayeshnazre commented on #49411
One last thing I still see the following in sidecar logs inside docker container, but at least the crashing has stopped

ERROR: logging before flag.Parse: I0726 15:54:59.427544       1 main.go:48] Version v1.14.3-4-gee838f6
ERROR: logging before flag.Parse: I0726 15:54:59.427854       1 server.go:45] Starting server (options {DnsMasqPort:53 DnsMasqAddr:127.0.0.1 DnsMasqPollIntervalMs:5000 Probes:[

[2017-07-26 15:58] crassirostris commented on #49627
@x13n version changing is probably OK, since kubectl on the master use the same api as the apiserver

Btw, could you please add the error you're seeing? I can't reproduce it

[2017-07-26 16:15] jdumars commented on #46442
/sig azure
adding for visibility

[2017-07-26 16:16] irfanurrehman opened #49644 "[Federation] Follow up items on federated pod autoscaling"
The original issuse for feature ***federated pod autoscaler*** is [here](https://github.com/kubernetes/kubernetes/issues/38974), and the feature is being tracked [here](https://github.com/kubernetes/features/issues/257). This issue is to track and follow up pending items from the first phase of implementation especially items chosen to defer in the first phase of implementation [here](https://gith

[2017-07-26 16:17] irfanurrehman commented on #49644
/sig federation
/assign

[2017-07-26 16:17] hongchaodeng commented on #47131
OK. So this issue already exists. I can share my story as well.

Basically, we were doing some etcd scale up and down stress testing. We saw that APIserver hanged and some resources unusable. I tried a dozen times and they were whimsical:
- Mostly you could still read, but write didn't work.
- Not all resources hang. Not the same resources hang every time. Sometimes it is endpoints, sometimes it i

[2017-07-26 16:37] deads2k commented on #49424
At this stage I wouldn't expect that since it isn't a regression (I don't think) for either extension mechanism.

[2017-07-26 16:40] #49568 closed

[2017-07-26 16:43] madhanrm opened #49646 "CNI doesnt work on Windows"
**What happened**:
Kubelet on windows doesn't work with Windows CNI plugins & the current code uses Linux specifc tools.
A PR is on the way, which would take care of adding Windows specific code and let Kubelet work seamlessly across windows and Linux with same user experience

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we n

[2017-07-26 16:45] #49589 closed

[2017-07-26 16:45] madhanrm opened #49647 "Windows Kernelspace proxier support"
**FEATURE REQUEST**:

**What happened**:
To provide Kernel space proxier support.
A PR is on its way.
With the new platform features being opened up in Windows, a new Kernelspace proxier of programming the VFP of the Virtual Switch has to be written to provide the equivalent iptables support.

More documentation to follow

**What you expected to happen**:

**How to reproduce it (as minimally and p

[2017-07-26 16:46] bsherrod commented on #48924
Same error occurs in 1.7.2:

[code]

[code]

[2017-07-26 16:54] xiajohnnyxia opened #49648 "panic: runtime error: invalid memory address or nil pointer dereference"
When i was debugging the source codes , run to
`/home/johnny/workspace/go/GoWorks/src/kubernetes-1.7.0/vendor/k8s.io/apiserver/pkg/server/openapi/openapi.go`，it throws an error and exits.

[code]

What's wrong with it?

[code]

[2017-07-26 16:55] #49185 closed

[2017-07-26 16:56] #44875 closed

[2017-07-26 17:04] haySwim commented on #32739
This is resolved via the flexvolume interface for now and CSI in the future.

[2017-07-26 17:04] #32739 closed

[2017-07-26 17:05] bowei commented on #49411
- The resolv.conf policy is not a property of the cluster addon. You can find it documented here: https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers and here https://kubernetes.io/docs/resources-reference/v1.5/#pod-v1
- Update to the latest version of k8s will remove the "ERROR: logging before flag.Parse..." messages
- kube-dns is run with DnsPolicy: Default which inherits

[2017-07-26 17:15] p0lyn0mial commented on #49208
@caesarxuchao Sad to say but I am the author of that code and I know it is buggy :)
@caesarxuchao I am open to suggestions on possible solutions.

[2017-07-26 17:32] xiajohnnyxia commented on #49648
/sig federation
/assign

[2017-07-26 17:33] xiajohnnyxia commented on #49648
/sig bug
/assign

[2017-07-26 17:34] Reifier commented on #7890
It is still a desired feature.

[2017-07-26 17:37] pmorie opened #49650 "Make it possible to tune projection volume refresh period"
It's currently not possible to tune the refresh period of volume plugins that are dynamically updated by the kubelet (secret, configmap, downward api, projected).  Currently these volume types are updated once per kubelet sync interval, and it can add up to be quite expensive with large numbers of pods and volumes, and the only control surface we have to tune is the resync interval itself.  It wou

[2017-07-26 17:49] ahmetb commented on #22469
I would assume so. I was just reading the proposal to get more info about how the feature works. I realized some of the details of how the NetworkPolicy behaves lives only in the proposal and not in the docs. I’m hoping to study it further and release a comprehensive guide and update the documentation.

[2017-07-26 17:53] derekwaynecarr commented on #49650
I am trying to determine a budget for the amount of traffic I would expect from nodes to my cluster, and this was an area where having a separate tunable would be helpful.  Right now, I can set the `sync-frequency`, higher, but it doesn't let me separately tweak the volume projection pieces.

Assume:
n = number of nodes
p = number of pods per node
s = number of secrets per pod

Traffic to master r

[2017-07-26 18:25] thegranddesign commented on #45626
1. No nodes are being killed by ASG, but all offending pods are generally on the same node. Manually terminating the instance temporarily resolves the problem.
2. Kops from homebrew. I believe 1.6.3. K8s 1.6.6 I think
3. Fresh cluster. Used terraform config if that matters.

[2017-07-26 18:28] caesarxuchao commented on #43670
closed by #48231

[2017-07-26 18:28] #43670 closed

[2017-07-26 18:29] jayeshnazre commented on #49411
@ bowei
**Section1**
Contents of /etc/resolv.conf from node
root@ubuntumaster:~# cat /etc/resolv.conf
# Dynamic resolv.conf(5) file for glibc resolver(3) generated by resolvconf(8)
#     DO NOT EDIT THIS FILE BY HAND -- YOUR CHANGES WILL BE OVERWRITTEN
# 127.0.0.53 is the systemd-resolved stub resolver.
# run "systemd-resolve --status" to see details about the actual nameservers.

nameserver 127.0

[2017-07-26 18:31] euank commented on #39334
Monthly reminder; I think this can be closed as fixed in 1.5+

[2017-07-26 18:35] shyamjvs commented on #49421
This issue is resolved now with all the above PRs merged.

[2017-07-26 18:35] #49421 closed

[2017-07-26 18:35] tallclair opened #49653 "Audit Logging E2E improvements"
The [current audit logging e2e](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/audit.go) is pretty limited. It makes a small number of calls, and verifies a small number of fields by parsing out the legacy format log file.

We should make a few improvements to make this test more thorough:

- [x] Switch the test log format to JSON, so that all audit event data is included (use the s

[2017-07-26 18:44] bgrant0607 commented on #47834
Dupe of https://github.com/kubernetes/kubernetes/issues/31292

[2017-07-26 18:44] bgrant0607 commented on #31292
@kubernetes/sig-auth-feature-requests

[2017-07-26 18:45] tallclair commented on #48561
Copying from https://github.com/kubernetes/kubernetes/pull/46592#issuecomment-316553044, with regards to omitting ReqeustRecieved stage from the batched webhook output:

I think we should pursue this option before adding more configuration to the policy, but open for discussion.

[2017-07-26 18:47] xiajohnnyxia commented on #49648
/add /kind bug

[2017-07-26 18:47] xiajohnnyxia commented on #49648
/kind bug

[2017-07-26 18:49] xiajohnnyxia commented on #49648
remove sig/federation

[2017-07-26 18:50] xiajohnnyxia commented on #49648
/remove
/sig federation

[2017-07-26 18:52] xiajohnnyxia commented on #49648
/remove-area federation

[2017-07-26 18:52] #49648 closed

[2017-07-26 18:56] liggitt commented on #31292
https://github.com/kubernetes/kubernetes/pull/48051

[2017-07-26 19:03] #49225 closed

[2017-07-26 19:03] #49386 closed

[2017-07-26 19:09] #47834 closed

[2017-07-26 19:09] derekwaynecarr commented on #49650
hmm, so there is the `NewCachingSecretManager` which would help here, was not on my nodes when investigating this.

[2017-07-26 19:14] derekwaynecarr commented on #49650
i think `node.alpha.kubernetes.io/ttl` is what i was missing here.  closing.

[2017-07-26 19:14] #49650 closed

[2017-07-26 19:14] meggamind commented on #49605
Hey, I'm new to the repo, Can I pick up this issue.  I might need some help ? Thanks

[2017-07-26 19:24] emsearcy commented on #27796
We are considering this (noreply email addresses) as a feature request, but we may run into issues with it as more projects start adopting DCO in CNCF (which requires an email in the Signed-Off-By signature).

[2017-07-26 19:44] rm-you commented on #25194
Are we sure this is an openshift only issue? I'm suffering from the same thing as @shenshouer and @d23 I think, specifically with `tty=true` and getting a 400 when trying to retrieve logs. They were both on kubernetes 1.3.x not openshift, right?

I am using:
[code]
Admittedly the kube cluster I'm on is a bit old.

[code]
This seems to line up with the two above, though I guess not the original rep

[2017-07-26 19:45] piersbarrios commented on #49633
Possible duplicate

Try to see if this is not your issue:
https://github.com/kubernetes/kubernetes/issues/48798#issuecomment-316223833

[2017-07-26 19:47] shyamjvs commented on #46195
Ok.. So after those fixes, the only flakes we're seeing currently (e.g runs [17326](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/17326), [17313](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/17313), [17285](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/17

[2017-07-26 19:53] rm-you commented on #25194
Ok nevermind, I was able to verify myself, by getting access to a newer cluster:
[code]

It was definitely fixed there. So, anyone who runs into this -- I'm not sure exactly when it was fixed, but by 1.7 it's working.

[2017-07-26 19:53] ericchiang commented on #48561
I like the batching webhook mode doing de-duplication. It's a nice middle ground between sending less events and adding even more configuration to omit stages. It also provides a sane default option.

Looking at https://github.com/kubernetes/kubernetes/pull/46897, it already takes a lot of prior knowledge to write these policy files. I think that's a strong argument for not making the policy more

[2017-07-26 20:02] #49473 closed

[2017-07-26 20:03] #39334 closed

[2017-07-26 20:04] bowei opened #49657 "GCP network resources are being created on the wrong network"
Causes failures in:
* https://github.com/kubernetes/kubernetes/issues/49150

[2017-07-26 20:17] spiffxp commented on #49450
@kubernetes/sig-instrumentation-test-failures FYI

[2017-07-26 20:23] bowei commented on #49411
You need to delete `nameserver 127.0.0.1` from your VMs  `/etc/resolv.conf` and restart kubelet. If you leave the entry in your resolv.conf, you will generate a loop for at least some of the queries.

The loop was not eliminated, half the queries will still go into a loop, however, the other half will be successful and it may appear to be working.

I would close this issue as it appears to be a co

[2017-07-26 20:25] yujuhong commented on #16627
`kubeadm` is moving the the self-hosting model -- where static pods would only be used for bootstrapping, and regular pods will created to replace them afterwards. The need for mirror pods for monitoring the master components may no longer be there in the future.

As for static pods on the (non-master) nodes, many of the default addon pods have already been moved to DaemonSet (e.g., fluentd). The

[2017-07-26 20:26] spiffxp commented on #49543
/sig api-machinery

[2017-07-26 20:27] spiffxp commented on #49546
/sig cluster-lifecycle
/area platform/gke
since we lack a sig-gcp at present

/sig network
because ingress

[2017-07-26 20:28] spiffxp commented on #49563
/sig node

[2017-07-26 20:30] bowei commented on #49564
@yastij send a PR, happy to review

[2017-07-26 20:30] spiffxp commented on #49613
/sig cluster-lifecycle
/area platform/gce
/area platform/gke
since we lack a sig-gcp

/assign @zmerlynn
not sure if this is related to your work with https://github.com/kubernetes/test-infra/pull/3696, please feel free to move elsewhere if it isn't

[2017-07-26 20:35] spiffxp commented on #49637
@kubernetes/sig-cli-bugs

@kubernetes/sig-apps-bugs
because this may be behavior of the deployment itself, not the CLI interaction

[2017-07-26 20:40] nicksardo commented on #48515
/reopen

[2017-07-26 20:40] jayeshnazre commented on #49411
@bowei If I remove the nameserver 127.0.0.1 from your VM how will my node (which is the VM) use dnsmasq locally. By default Ubuntu 17.04 installs that nameserver entry when we install dnsmasq. Unless you are saying that I cannot have dnsmasq or for that matter systemd-resolved running on my VM.

[2017-07-26 20:41] cblecker commented on #49657
/sig network
/area platform/gce platform/gke

[2017-07-26 20:52] kargakis commented on #49637
/assign

[2017-07-26 20:55] msau42 opened #49658 "Multi-object atomic updates"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

/sig api-machinery
/sig storage

PVCs and PVs are first class K8s objects that are bound together.  The PV controller has a complex state machine that binds these two objects together as an atomic operation using two-way pointers.  This state machine could be simplified if the K8s API could support atomic multi-object updates.

In additi

[2017-07-26 21:06] enisoc commented on #44182
The deprecated TPR API has been removed in master (#48152). This doesn't appear to be a regression, so we will recommend upgrading to CRD in 1.7+ rather than backporting a fix to TPR. CRD does not suffer from this problem; the server side rejects objects with a missing or incorrect Kind.

[2017-07-26 21:06] #44182 closed

[2017-07-26 21:14] sajattack commented on #49647
/sig kind/feature

[2017-07-26 21:16] sajattack commented on #49647
/sig feature

[2017-07-26 21:17] nicksardo commented on #48725
This issue is only concerned about the "Quota" message - this was moved to ingress repo: https://github.com/kubernetes/ingress/issues/944.

The insufficient permissions error you noticed is talked about here: https://github.com/kubernetes/ingress/issues/975

[2017-07-26 21:18] sajattack commented on #49647
@kubernetes/sig-windows-feature-requests

[2017-07-26 21:20] sajattack commented on #49646
@kubernetes/sig-windows-feature-requests

[2017-07-26 21:24] sajattack commented on #49458
@kubernetes/sig-docs-support

[2017-07-26 21:25] sajattack commented on #49458
/sig kind/support

[2017-07-26 21:28] sajattack commented on #49622
@kubernetes/sig-auth-bugs

[2017-07-26 21:29] sajattack commented on #49458
@kubernetes/kind/support

[2017-07-26 21:29] sajattack commented on #49458
@kubernetes/kind-support

[2017-07-26 21:32] sajattack commented on #49458
/kind support

[2017-07-26 21:33] nicksardo opened #49660 "GCE: gce.conf file cannot contain key-value pairs not defined in config struct"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The ingress controller stopped working in 1.7.0 because the ingress repository's vendored version Kubernetes was not updated to read a new key: subnetwork name.  When the ingress controller attempted to read the configuration, the ini-style parser `gcfg` returned an error saying the key is unknown and the rest of the confi

[2017-07-26 21:33] sajattack commented on #49458
/sig docs

[2017-07-26 21:34] roffe commented on #49628
@wanghaoran1988 Thank you for clarification of logic.

Is cordoning the only way to mark a node as unSchedulable now in the node status?

[2017-07-26 21:36] sajattack commented on #49660
@kubernetes/sig-network-bugs

[2017-07-26 21:37] sajattack commented on #49635
/kind support

[2017-07-26 21:38] sajattack commented on #49634
/kind support

[2017-07-26 21:39] sajattack commented on #49634
@kubernetes/sig-aws-bugs

[2017-07-26 21:40] githubvick commented on #49500
I'm also looking to upgrade my cluster in Centos from 1.5.2 which is the current one available to 1.7, but stuck.

Current repo used

[code]
I want to upgrade. Thanks,

[2017-07-26 21:40] sajattack commented on #49633
/kind support

[2017-07-26 21:41] sajattack commented on #49633
@kubernetes/sig-network-bugs

[2017-07-26 21:45] sjenning opened #49663 "spurious FailedSync and FailedMount events 2 minutes after pod terminates"
Running hack/local-up-cluster.sh with `KEEP_TERMINATED_POD_VOLUMES=false`, start a busybox pod that terminates after 10s and does not restart:

[code]

In ~10s, the pod goes to Complete.  2 minutes later two events occur:

[code]

The occurs because a `syncPod()` is called from a pod worker after the volumes have already been unmounted, because the pod is terminated, and `kl.volumeManager.WaitForA

[2017-07-26 21:47] sjenning commented on #49663
/kind bug

[2017-07-26 21:55] lavalamp commented on #4630
I don't think a 'protected' field is necessary for this. Today we have RBAC, finalizers, and GC. I think a client w/ super admin powers could delete all namespaces and then wait for the namespace count to go to 0. (There's probably a corner case or two around the default and kube-system namespaces that this would turn up.)

[2017-07-26 22:03] zmerlynn commented on #4630
I might be missing it, but I haven't found a way to delete `default` and `kube-system`. If you come up with one, I'll close the bug. :)

[2017-07-26 22:10] lavalamp opened #49664 "client-go: discovery client should fail more gracefully"
Instead of returning an error "unable to retrieve the complete list of server APIs" if a single endpoint can't be loaded, the discovery client should return the list of everything that it *was* able to load.

Due to this, users can currently break their clusters by making a TPR with multiple versions: https://github.com/kubernetes/kubernetes/issues/22768#issuecomment-220522337

[2017-07-26 22:22] #40238 closed

[2017-07-26 22:32] spzala commented on #17208
@davidopp @timothysc Hi, I have created this doc issue https://github.com/kubernetes/kubernetes.github.io/issues/4517 - hope it makes sense? Thanks!

[2017-07-26 22:42] foxish commented on #44033
I think this discussion needs to take into account the v2alpha1 autoscaler that allows custom metrics as signals for HPA. I haven't looked at it in detail yet, but it appears to be more than just CPU based autoscaling.

[2017-07-26 22:43] brendandburns opened #49666 "kube-proxy on Windows doesn't support kernel-mode proxying."
The current implementation of the `kube-proxy` on Windows uses user-mode proxying.

As we have seen with the Linux implementation of user mode proxying this introduces higher tail latency and uses lots of CPU on the container host machine.

Windows has packet filtering support in the kernel similar to iptables, we should support using it from the `kube-proxy`.

/kind bug

[2017-07-26 22:51] spzala commented on #16812
@alexanderkjeldaas @lavalamp hello, this related doc patch is merged kubernetes/kubernetes.github.io#4020 if that looks good, can we close this issue please? Thanks!

[2017-07-26 22:52] brendandburns commented on #49666
/sig windows

[2017-07-26 22:55] feiskyer commented on #46984
@WIZARD-CXY Are you still working on this feature?

[2017-07-26 23:15] caesarxuchao commented on #49664
I think #49495 is the correct fix. If the enpoints of some groupversions fail to load, the discovery client will return a partial list and an error. The caller can choose to ignore the error. #49495 lets the controller-manager log the error instead of crashing.

[2017-07-26 23:20] yujuhong commented on #46984
Sorry I forgot to update the issue. @yguo0905 agreed to help with this issue when we talked about Q3 planning a while ago. I assigned the issue to him.

@WIZARD-CXY, if you are still interested in working on this, could you make sure to talk to @yguo0905 before implementing? Thanks!

[2017-07-26 23:20] saad-ali commented on #49521
CC @kubernetes/sig-storage-misc

[2017-07-26 23:25] crassirostris commented on #49450
Known issue, will be fixed once https://github.com/kubernetes/kubernetes/pull/48722 is out

[2017-07-26 23:26] wanghaoran1988 commented on #49628
You can also delete the node before you register the node again

[2017-07-26 23:34] madhanrm commented on #49646
/kind bug

[2017-07-26 23:35] mtanino opened #49669 "FC volume plugin shouldn't unmount global mount point at TeadDown sequence"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Following warning happened at the sequence of operationExecutor.UnmountDevice for detached/unmounted case.

[code]

From my quick investigation, it seems that unmount operation for global mount should be done by reconciler.go instead of executing inside the FC Plugin since attacher/detacher for FC plugin was merged recent

[2017-07-26 23:35] madhanrm commented on #49647
Will be tracked using #49666

[2017-07-26 23:35] #49647 closed

[2017-07-26 23:36] mtanino commented on #49669
/sig storage

[2017-07-27 00:36] janetkuo opened #49672 "Failed tests: pull-kubernetes-e2e-gce-etcd3"
Found it in #49238
An example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49238/pull-kubernetes-e2e-gce-etcd3/43197/

All recent tests failed:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-etcd3?before=43287

@kubernetes/test-infra-maintainers

[2017-07-27 00:40] krzyzacy commented on #49672
yeah all the ci jobs are seems leaking the master node, looking, assign to oncall

/assign @rmmh

[2017-07-27 00:42] krzyzacy commented on #49672
cc @MrHohn

[2017-07-27 00:43] krzyzacy commented on #49672
eh, wrong thread..
/unassign @rmmh

[2017-07-27 00:48] ixdy opened #49673 "update gcloud compute calls to remove --zones and --regexp"
As of `gcloud` 164.0.0 (2017-07-26), the `--zones` and `--regexp` flags are deprecated from a number of `gcloud compute` calls:
* `gcloud compute disks list`
* `gcloud compute disk-types list`
* `gcloud compute instance-groups unmanaged list`
* `gcloud compute instances list`
* `gcloud compute machine-types list`
* `gcloud compute target-instances list`

We use these pretty extensively in our clus

[2017-07-27 01:00] bowei opened #49675 "Handle cases where node /etc/resolv.conf uses a localhost DNS resolver"
It is common for some Linux distributions to run a local DNS cache as the name resolver, resulting in `nameserver 127.0.0.1` in `resolv.conf`. When this is propagated into the kube-dns container due to `DnsPolicy: Default`, this will result in a DNS lookup loop.

[2017-07-27 01:02] bowei commented on #49411
This is a current limitation of `DnsPolicy: Default`. I filed an issue here:
https://github.com/kubernetes/kubernetes/issues/49675

For now, you should not put a local resolver on the outer VM.

[2017-07-27 01:02] bowei commented on #49675
/sig network
/area dns

[2017-07-27 01:14] anguslees commented on #46442
So I _think_ we're all furiously agreeing here, and we would like to standardise on the GCE behaviour (ie: *include* stopped/inactive/disabled nodes in `Instances.List()`).

Can we build a list of reasons why we *don't* want this? (and if the list is empty, then we're done :)

@divyenpatel made the point above (if I can unravel the triple negative correctly) that a "cordoned" (but otherwise live)

[2017-07-27 01:14] supereagle commented on #49622
Same error with #49343

[2017-07-27 01:14] k82cn commented on #49630
@deads2k, @derekwaynecarr , thanks for your suggestion :). slack with derekwaynecarr@, I think 'a layer above quota' is OK for this case; but I'm not sure whether it's OK for hierarchical RQ+NS, please give me some time to think about it.

/cc @timothysc

I may contribute after 1.8, or do some investigation at early stage; any suggestion?

[2017-07-27 01:19] wanghaoran1988 commented on #49622
Workaround for this is not automatically mount the service account to the pod.

[2017-07-27 01:22] FengyunPan commented on #49635
#49636 fix it, close it.

[2017-07-27 01:22] #49635 closed

[2017-07-27 01:34] yyw1128 commented on #48924
Same error 1.7.0, 1.7.2
[code]

[code]

[2017-07-27 01:40] guangxuli commented on #49605
@meggamind Of course, but i am not sure if is a real exist problem, or i misunderstand some...

@yujuhong

[2017-07-27 01:40] m1093782566 commented on #46625
@danwinship  I found the current e2e test on Network Policy has covered

*  A policy with a non-empty podSelector and an empty ingress section blocks all traffic to the selected pods

* Given pods A and B and a rule that says "A accepts traffic on port 80", A will reject traffic on port 81, but B will accept traffic on either port

Would you please update the task tracer? Thanks.

[2017-07-27 01:49] m1093782566 commented on #49675
Besides, if configure kube-dns in node's `/etc/resolv.conf`, it will cause a DNS lookup loop as well.

[2017-07-27 01:50] WIZARD-CXY commented on #46984
Cool, I will talk to @yguo0905  before implementing.

[2017-07-27 01:52] justinsb commented on #49634
If you use kops, it can create HA configurations for you:  e.g. `kops create cluster ha.example.com --zones us-east-1b,us-east-1c,us-east-1d --master-count 3`.

But we only really an odd number of masters (1 , 3 or 5), because the tested e2e configuration is a local etcd, and a 2 node etcd cluster has lower expected uptime than a 1 node etcd cluster.

[2017-07-27 01:52] krzyzacy opened #49679 "Bulk of CI jobs are leaking a master node"
Observations:
Seems it fails to tear down the master nodes?

We bumped gcloud in e2e image, but https://github.com/kubernetes/kubernetes/issues/49673 seems not relevant - tried locally with 162.0.0 and still see the error.

And also saw a lot of `Found 4 nodes, but expected 3. Your cluster may not behave correctly.`

sample log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-k

[2017-07-27 01:58] CaoShuFeng commented on #49622
Yes. This needs serviceaccount feature turned on.
I will update the issue description.

[2017-07-27 02:13] m1093782566 commented on #49633
@piersbarrios I assume this issue is different from #48798.

Perhaps, it's because kubelet failed to pull controller plane docker images?

I met this issue before when I install kubeadm.

[2017-07-27 02:14] m1093782566 commented on #49633
@luxas do you have any idea?

[2017-07-27 02:57] jimmycuadra opened #49682 "Documentation for enabling the proxy protocol with AWS ELB"
I'm trying to enable AWS ELB's [proxy protocol support](https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html) so that the IP addresses of external clients are passed on to the pod backing our services. Both our Kubernetes control plane and worker nodes are behind ELBs, so I turned on the proxy protocol for both. After doing so, I am unable to make connections

[2017-07-27 02:58] zzy0707zzy opened #49683 "test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install to

[2017-07-27 03:04] anguslees commented on #49414
This is fixed by https://github.com/kubernetes/kubernetes/pull/47602 - correct?

[2017-07-27 03:05] MrHohn commented on #49679
Confirmed locally, gcloud upgrade introduced this:
[code]

Above is basically the same gcloud command as https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1759-L1766. Hence `get-master-replicas-count()` return 0, then we are counting one less node [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/validate-cluster.sh#L65-L72).

[2017-07-27 03:07] MrHohn commented on #49679
/sig testing

[2017-07-27 03:08] smarterclayton commented on #46705
If we enable paging in the api server we may want to increase the compaction interval on large clusters.  For instance, on a 1 million key cluster, doing a JSON -> protobuf storage migration took longer than 5 minutes when using the paging prototype to test it.  I suspect as well that people will want to tune some ranges to be retained longer for other tooling to be able to watch and record that d

[2017-07-27 03:10] krzyzacy commented on #49679
hummmmmmm ahhhhhh thank!

[2017-07-27 03:11] fejta commented on #49679
If we use the non-deprecated flag does it fix things?

[2017-07-27 03:15] smarterclayton opened #49684 "When watch cache can't establish a watch successfully for its backing store, all resourceVersion=0 queries start to pile up"
On a very large cluster in etcd2 mode on 1.6 (100k secrets, ~500mb of data in JSON), LIST /api/v1/secrets takes about 40s (20s to fetch from etcd, 20s to decode and then encode back to v1 secret).  When the apiserver restarts, the combination of very long list and very short watch interval (100 writes/sec) means that the apiserver is never able to establish a watch.  This appears to cause the stor

[2017-07-27 03:17] fejta commented on #49672
@kubernetes/sig-cluster-lifecycle-test-failures

[2017-07-27 03:18] krzyzacy commented on #49679
didn't understand the other warning..

[code]

[2017-07-27 03:18] fejta commented on #49679
@kubernetes/sig-cluster-lifecycle-test-failures

[2017-07-27 03:20] MrHohn commented on #49679
Probably use
[code]
if we are still sticking with regex?

[2017-07-27 03:22] MrHohn commented on #49679
`--filter="name =( NAME ... )"` may not fit our case?
[code]

[2017-07-27 03:22] krzyzacy commented on #49679
same warning :-) I'm trying different things

from the latest doc:
[code]

[2017-07-27 03:22] krzyzacy commented on #49679
@fejta shall we pin our gcloud to 163.0.0 for now?

[2017-07-27 03:27] krzyzacy commented on #49679
I think that warning is a gcloud bug which is not suppose to show up :-)

[2017-07-27 03:31] MrHohn commented on #49679
I believe so, can't imagine gcloud deprecates all other [supported Operator Terms](https://cloud.google.com/sdk/gcloud/reference/topic/filters) :)

[2017-07-27 03:35] jianzhangbjz commented on #49683
@zzy0707zzy Here is for reporting issues or requesting feature, so what do you need?

[2017-07-27 03:45] wzhliang opened #49686 "should reject headless service without port definition"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:
When deploying a headless service without port definition, k8s allows it but the service gets no endpoint.

**What you expected to happen**:
Like a normal clusterIP service, if there is no port definition, it should be rejected.

**How to reproduce it (as minimally and precisely as possible)**:
create a headless service with no

[2017-07-27 03:59] wzhliang commented on #49686
/sig area/apiserver

[2017-07-27 04:06] krzyzacy commented on #49679
I feel like we'll need to manually clean stuff up since e2e-down will not deal with leaked master nodes..

[2017-07-27 04:07] krzyzacy commented on #49679
(Good news is all boskos jobs is still healthy and being cleaned up properly, we'd move the rest jobs over soon)

[2017-07-27 04:08] jimmycuadra commented on #48600
This broke our production deployment because our AWS ELBs were using port 10249 for health checks, and with this change kube-proxy is no longer listening for outside connections on this port. 😠

[2017-07-27 04:11] smarterclayton commented on #49684
It appears that this is due to the ready condition (which holds all Watch, Get, List, and GetToList until the first sync completes).  I think we're right on the cusp of the 1m timeout for all API calls enforced by timeout handler - so ready never goes true.

I think the right thing to do is to punch through the cacher if it's not ready.  It adds load to etcd, but when the watch cache goes patholog

[2017-07-27 05:21] humblec commented on #42306
The `resturl` can contain any resolvable entities like `service IP` , `hostname` or `route`..etc. It should be resolvable from the master node where the controller runs.  Getting it resolved form app pod is not enough. I think if the proper DNS is in place or if there is a network reachability from master to heketi service, things should work. I am not sure about the different clouds mentioned her

[2017-07-27 05:21] humblec commented on #42306
/assign @humblec

[2017-07-27 05:33] sajattack commented on #49686
/area/apiserver
@kubernetes/sig-network-bug

[2017-07-27 05:34] sajattack commented on #49686
@kubernetes/sig-network-bugs

[2017-07-27 05:37] sajattack commented on #49682
@kubernetes/sig-aws-docs

[2017-07-27 05:39] mkumatag commented on #49683
This seems spam for me, created for just test or created by some automation. I don't see any relevant information need to fixed part of this issue and can be closed!

[2017-07-27 05:41] sajattack commented on #49682
/kind/support

[2017-07-27 05:42] sajattack commented on #49682
@kubernetes/sig-aws-bugs

[2017-07-27 05:43] sajattack commented on #49682
/kind support

[2017-07-27 05:43] cblecker commented on #49683
/assign

[2017-07-27 05:43] cblecker commented on #49683
/close

[2017-07-27 05:43] #49683 closed

[2017-07-27 05:44] krzyzacy commented on #49679
Update: rolled gcloud back to 163.0.0, I'm running a janitor pass now to clean up leaked master nodes, however jobs with `--gcp-cloud-sdk=` set will still grab gcloud from their designated bucket which might still fail.

Filed bug against gcloud sdk, once they have a fix we will push a new image.

cc @shyamjvs if you still see projects have leaked e2e-master, you can run something like `./test-inf

[2017-07-27 06:20] m1093782566 commented on #49686
@wzhliang Could you please provide more reasons why you think kubernetes should reject headless service without port definition?

[2017-07-27 06:23] wojtek-t commented on #49684
Let me clarify this, because I'm not sure I 100% agree with it.
If cacher is not ready, it's definitely the right decision to forward GET/LIST requests to etcd directly.

However, I don't think it's a good decision to do that for watches, because if we forward a number of watches to etcd, they we will end up deserializing a number of objects a number of times and we will starve apiserver and etcd

[2017-07-27 06:31] wojtek-t commented on #49684
https://github.com/kubernetes/kubernetes/pull/49688 is out (it's not perfect, since we may probably want to wait for few seconds before doing this, but I don't have time to look into it more today).

[2017-07-27 06:33] m1093782566 commented on #49675
@bowei Can we limit the max retry count of resolving? Just like OS limit the maximum reparse points for a symbol link path

[2017-07-27 06:43] m1093782566 commented on #49239
I assume statefulset want kube-dns create A record for headless service even if pod is unready?@bprashanth @foxish

[2017-07-27 06:48] tcharding commented on #31550
Is this an issue still? I cannot find reference to a 'docker manager' within the kubelet code. The link above is broken.

thanks

[2017-07-27 06:48] roffe commented on #49628
Thanks for the suggestion.

I will start updating my deployment repo and clusters to not rely on register-schedulable and introduce taints instead.

Thanks team for quick replys!

[2017-07-27 06:48] #49628 closed

[2017-07-27 06:51] thockin commented on #49239
Not sure I understand the bug report.  It seems to be doing exactly what it is supposed to - the user asked to "tolerate" unready endpoints, so it is.  "tolerate" is maybe not the best word here, but still..

[2017-07-27 07:05] mhausenblas commented on #44156
@spiffxp made some good points on kubernetes-dev@ around the deprecation policy (or the lack of action around it so far). Now, looking at what @justinsb put together, above ad the recent discussion we had in /sig cluster-lifecycle I'm more than happy to contribute to this topic, using Justin's suggestions above as a starting point. My motivation is [ReShifter](http://reshifter.info).

[2017-07-27 07:13] jianzhangbjz opened #49691 "enabled ResourceQuota, but didn't return the rejection message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I enabled the `ResourceQuota` by special `--admission-control=LimitRanger,ResourceQuota` in `api-server`, and created a namespace(`jian`), as the below:
[code]
Created a quota yaml.
[code]
Setting resource quota by `kubectl create -f quota.yaml --namespace=jian`, description as the below:
[code]
But, when created a po

[2017-07-27 07:15] jianzhangbjz commented on #49691
/sig api-server

[2017-07-27 07:16] m1093782566 commented on #49562
It sounds a reasonable idea to me. However, how to handle to "Copyright <year>"? The <year> is differ from file to file.

[2017-07-27 07:19] jianzhangbjz commented on #49691
/sig shceduling

[2017-07-27 07:20] jianzhangbjz commented on #49691
/sig scalability

[2017-07-27 07:21] m1093782566 commented on #49270
+1

[2017-07-27 07:30] xiangpengzhao commented on #49562
Good point! Seems like the year can't be fixed automatically. Are there any verification rules for it in `verify-boilerplate.sh`?

[2017-07-27 07:50] fejta commented on #49672
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-etcd3/43288/ uses the latest test-infra commit that downgraded the gcloud version but it doesn't seem to have done anything?

https://github.com/kubernetes/test-infra/commits/master

[2017-07-27 07:51] luxas commented on #49500
There are v1.7.2 RPMs now: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml
Sorry for the delay, but the process is unfortunately manual and has to be performed by Googlers in the meantime https://github.com/kubernetes/sig-release/issues/10

[2017-07-27 07:51] #49500 closed

[2017-07-27 07:53] fejta commented on #49672
On the other hand it seems to have made CI happy? https://k8s-testgrid.appspot.com/google-gce

[2017-07-27 07:58] gyliu513 opened #49693 "7 cases failed when run 1.5 test cases against 1.6 cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
According to conformance test standard here https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#conformance-tests , if I run conformance test against a 1.6 cluster, I should make sure both 1.6 and 1.5 conformance test passed.

The test result is that 1.6 conformance test against 1.6 cluster

[2017-07-27 08:01] m1093782566 commented on #49113
@jeroenjacobs1205 Please refer #33554 - there was a lot of discussions.

[2017-07-27 08:18] Firehed opened #49695 "kubectl set image deployment is ignoring --selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have two deployments with different names running the same image and sharing a label (they differ in replica count and some environment variables). I am trying to update both deployments with kubectl using the `--selector` flag instead of naming the deployment explicitly, and instead of getting the desired behavior I'm observing t

[2017-07-27 08:52] jimmycuadra commented on #49682
I accidentally opened this as kubernetes/ingress#1026 previously, but someone on that issue pointed out that Traefik does not yet support the proxy protocol, so that would explain the error I'm seeing from the worker nodes ELB. Does this mean that the Kubernetes API server also doesn't support the proxy protocol?

[2017-07-27 08:53] qubusp commented on #49633
some update - removed network args
containers started working as i dropped manifests in the manifests folder.
now a different issue shows up:

[code]

[2017-07-27 09:02] sylr commented on #49577
All right, I think I found the issue.

K8s fails to find the subnet because in my case the VNet is not in the same resource group as the kubernetes.

I'll try to make a patch to be able to configure the resource group of the VNet.

[2017-07-27 09:38] wzhliang commented on #49686
@m1093782566  without port definition, `kubectl describe svc foo` shows no endpoint. `nslookup` cannot find the pod either. so from all I can see, it's not working. Either it should be rejected, or it's a bug somewhere else - I actually thought headless is only related with DNS entries.

[2017-07-27 09:53] m1093782566 commented on #49686
@wzhliang

AFAIK, ports field is not required in headless service or ExternalName type service, see https://kubernetes.io/docs/concepts/services-networking/service/

An ExternalName service is a special case of service that does not have selectors. It does not define any ports or endpoints. Rather, it serves as a way to return an alias to an external service residing outside the cluster.
kind: Ser

[2017-07-27 09:58] bertrandrigaud commented on #49198
Running on centos7 (kernel 3.10.0-514.26.2.el7.x86_64)
`kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.2", GitCommit:"922a86cfcd65915a9b2f69f3f193b8907d741d9c", GitTreeState:"clean", BuildDate:"2017-07-21T08:23:22Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
The connection to the server localhost:8080 was refused - did you specify the right ho

[2017-07-27 10:26] inetkiller opened #49701 "rollback does't updates the revision of the Deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

when rollback to revision number that less than 10，the revison of the deployment not update.

**What you expected to happen**:

example, current revision is:
[code]
when exec command ```shell kubectl  rollout undo deployment/demo --to-revision=9 ```, it should become [official documents here](https://kubernetes.io/docs/c

[2017-07-27 11:15] wojtek-t opened #49704 "Loadbalancing: L7 [k8s.io] [Slow] Nginx should conform to Ingress spec is consistently failing in 1.7 branch on GKE"
https://k8s-testgrid.appspot.com/release-1.7-blocking#gke-slow-release-1-7

@bowei - can you please triage?

This will be blocking 1.7.3 release cut.

[2017-07-27 11:16] wojtek-t commented on #49704
Same here:
https://k8s-testgrid.appspot.com/release-1.7-blocking#gci-gke-ingress-release-1-7

[2017-07-27 11:50] floreks opened #49709 "Allow discovering if basic auth is enabled"
I'm not sure if we can classify it as a bug so let's discuss.

[code]

Currently I'm trying to implement log in mechanism for kubernetes dashboard. I have noticed that when [AuthInfo](https://github.com/kubernetes/kubernetes/blob/ebf24c14a916adebc37023be69f112d2c97759a9/staging/src/k8s.io/client-go/tools/clientcmd/api/v1/types.go#L79) is filled with username/password there are 2 cases where there

[2017-07-27 12:12] liggitt commented on #49709
There's really just one case, when `--basic-auth-file=...` is not set. When basic auth is not enabled, basic auth headers are ignored.

Configured authentication methods are not exposed via API today. Authentication methods are not the same as enabled APIs (also, ABAC doesn't have anything to do with basic auth… it is authorization, not authentication)

There's been discussion of a way to discover

[2017-07-27 12:21] floreks commented on #49709
Are basic auth headers also ignored when `--token-auth-file` is set instead of `--basic-auth-file`? For me only option to get 401 response when using basic auth was to set all 3 flags.

Is there any workaround working now that you could suggest other than just disabling option to log in using username/password?

Can we maybe check name of user that makes the request (`system:anonymous`) ?

[2017-07-27 13:09] liggitt commented on #49709
Yes. If the server is not configured to accept a specific type of authentication credential, it doesn't even look for it on the request. For example, one of the possible authentication methods is to accept user info in headers from an auth proxy. If that authentication method is not enabled, the server does not even look for user info headers.

Until authentication methods are discoverable, I'd ex

[2017-07-27 13:09] vaibhavswarnkar opened #49716 "How to use Watch APIs"
How to implement watch API using OkHttp and Retrofit in Java. Do I have to use WebSockets for this to implement?

[2017-07-27 13:20] ironcladlou opened #49718 "Use a PartialObjectMetadata based CodecFactory for GC client"
The [metaonly](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/garbagecollector/metaonly) garbage collector package intends to provide a `serializer.CodecFactory` which works only with object metadata (as the GC only cares about object relationships, not object contents). This is important as an optimization (as object contents can vary wildly in size) and as a matter of generi

[2017-07-27 13:24] floreks commented on #49709
I guess we'll have to do it this way for now. Similar to apiserver dashboard will accept some arguments that will be responsible for enabling specific login methods. It will be great though if we'll be able to automate that

[2017-07-27 13:27] jianzhangbjz commented on #49716
/sig scalability

[2017-07-27 13:31] timstoop commented on #34012
Ok, but where do you set the CA-signed certificate then? As the description of `--cert-dir` says this option is ignored when the tls options are set. I'm kind of missing the global picture here, as you need to have your provisioning system deploy certificates so kubectl can exec and log?

[2017-07-27 13:32] jschneiderhan commented on #42164
I'm using EBS backed instances for my k8s nodes. I've noticed that every time this issue crops up, the burst balance for the EBS volume that backs the instance's root device has dropped to 0. I'd be curious to see if others are seeing the same thing. I haven't had a chance to do a real deep debugging session and figure out what is performing all of the IO and depleting the IO credits.

[2017-07-27 13:39] yastij commented on #49716
/kind support

[2017-07-27 13:41] yastij commented on #49658
/cc

[2017-07-27 14:02] wzhliang opened #49722 "headless service with no port definition finds no endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:
When deploying a headless service without port definition, the service finds no endpoint and service name couldn't be resolved.

**What you expected to happen**:
The headless service finds endpoint matching the selector and the service name resolves to the endpoints.

**How to reproduce it (as minimally and precisely as possible

[2017-07-27 14:02] wzhliang commented on #49686
https://github.com/kubernetes/kubernetes/issues/49722 raised

[2017-07-27 14:03] wzhliang commented on #49722
@kubernetes/sig-network-bugs

[2017-07-27 14:10] xiangpengzhao commented on #49722
Thanks @wzhliang for reporting this! This was fixed by #47250. Would you please try with the master branch?

[2017-07-27 14:15] jianzhangbjz commented on #49314
@moelsayed Can you post the description of per namespace?(`kubectl describe ns xxx`) Are you enabled `ResourceQuota`? And what's the config of `scheduler` component?

[2017-07-27 14:48] githubvick commented on #49500
@luxas one more question, I would like to upgrade on Cent OS 7 from 1.5 to 1.7. My machine had the repo installed from baseurl=http://mirror.centos.org/centos/7/extras/$basearch/ and it lists only the above. when I tried with the above url, I only get kubeadm, kubectl not master, client and node.

[code]
 Could you please let me know how to upgrade? Thx

[2017-07-27 15:00] smarterclayton commented on #49684
I have actually never seen this production system be CPU starved.  Instead, it is gated by all of our artificial limits :)  For this system we are running at 3 cores api server, 1 core controller manager+scheduler, and 2 cores etcd.  But we are completely and 100% rate bound by the size of the data set.  I think our SLO goals that led to the watch cache trying to avoid watches was too focused on h

[2017-07-27 15:06] irfanurrehman commented on #49213
@luxas, I am also interested in this effort. Is the link posted on the community page for [sig-cluster-lifecycle](https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle) the meeting link to join?
@madhusudancs @shashidharatd can we consolidate this effort (may be post this meeting, or some other time) to address this and [similar discussion](https://docs.google.com/document/d/18

[2017-07-27 15:21] vsethi13 commented on #29540
In my case, I followed the troubleshooting doc [here](https://github.com/kubernetes/dashboard/blob/master/docs/user-guide/troubleshooting.md):

But even this didn't get the dashboard up and running for me.
1. I started fooling around and I saw (using the cmd: `kubectl get pods -a -o wide --all-namespaces` that the `kubernetes-dashboard` was actually being set up on a slave node, and not on master

[2017-07-27 15:21] ptinsley commented on #37218
Coming to say "me too" on this one, I was trying to provide a transparent fix for 502s that occur during deploys. I was planning to add a prestop hook that created a file on disk and slept as well as a second readiness check that monitored for the existence of that file so it would be taken out of the rotation until the pod fully goes down. Without the ability to have the normal app level readines

[2017-07-27 16:00] ravisantoshgudimetla opened #49723 "Make scheduler perf read config from file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
As of now, we are reading scheduler_perf input data(predicates and priorites that need to be evaluated) from hardcoded values.

**What you expected to happen**:
We need to read from a yaml file to switch on and off various predicates and priorities.

/sig scheduling

[2017-07-27 16:30] sjenning commented on #49663
cc @jwforres

[2017-07-27 16:34] qubusp commented on #49633
So further update:

[code]

[2017-07-27 16:36] jianhuiz commented on #35254
1. The user and groups are not verified. RBAC matches what ever user and groups against the rules.
Which means it could be any username (exists or not) and groups (belonged to or not, exist or not). authorizer assumes that they are correct since already authenticated. In case of impersonation, arbitrary user and groups can be provided.
2. username and groups (user.Info) are results of  a successfu

[2017-07-27 16:48] lhopki01 commented on #42164
I've noticed other similar issues when the burst balance goes to 0.

On Thu, Jul 27, 2017 at 2:32 PM, Jon-Erik Schneiderhan <
notifications@github.com> wrote:

[2017-07-27 16:49] wojtek-t commented on #49684
We've seen :)

I think we should weight it what is that watch and where it is coming from. If it is say 1000-node clusters and thos are watch Pods (and as you know etcd doesn't support filtering so any change of a Pod will be delivered to every watched and only filtered out in apiserver), I claim that it would kill us. If it is a single watch issued from some random client, then yes - I agree we s

[2017-07-27 16:58] sbezverk opened #49726 "e2e test fails with forbidden: pod.Spec.SecurityContext.SELinuxOptions is forbidden"
I am developing e2e test for local storage plugin where I need to validate access to a persistent volume hosted by a node with SELinux enabled.
I was following similar approach from this code:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/security_context.go#L37

But when I try to Crete a pod with SELinuxoptions enabled I get forbidden error.

I am suspecting that it might be

[2017-07-27 17:10] LihuaWu opened #49728 "local-up-cluster.sh run failed without apiserver listening"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
run hack/local-up-cluster.sh
apiserver start failed. with message no default route.

**What you expected to happen**:
start a local kubernetes cluster successfully.

**How to reproduce it (as minimally and precisely as possible)**:
run hack/local-up-cluster.sh or run hack/local-up-cluster.sh -O

**Anything else we need to

[2017-07-27 17:14] crimsonfaith91 commented on #49672
PR #49168 and #49674 are also affected.

[2017-07-27 17:21] sbezverk commented on #49726
Specifying ALLOW_SECURITY_CONTEXT=true in local cluster command like fixed the issue.

[2017-07-27 17:21] #49726 closed

[2017-07-27 17:25] lypht opened #49730 "TLD compromised"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

**What happened**: https://*.kubernetes.io resolves to a self-signed under construction credit card spam page.  I tried api.kubernetes.io and apis.kubernetes.io

**What you expected to happen**: A 404 or home page redirect.

**How to reproduce it (as minimally and precisely as possible)**: Browse to one of the two aforementioned sites.

[2017-07-27 17:28] janetkuo commented on #49672
cc current buildcop @pwittroc

[2017-07-27 17:32] abh commented on #31307
Was this fix with 23920 ?

[2017-07-27 17:33] crassirostris commented on #48561
@sttts @ericchiang @CaoShuFeng

We recently discussed the issue of omitting stages with @tallclair and here are some thoughts:

- Sometimes having this stage can actually be useful, e.g. to detect a query of death -- a request without a response
- This logic is useful not only with the batching webhook, it's even more useful with e.g. blocking webhook

Also I personally think that the logic with o

[2017-07-27 17:41] jpbetz commented on #49672
I'll look into this now.

Unfortunately, I'm not a project member yet, so I can't assign this to myself.

[2017-07-27 17:48] derekwaynecarr opened #49731 "kubelet send volumesInUse sorted in status updates"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`volumesInUse` is not sent in a stable sort order.  this makes node status patch requests larger than needed, and makes debugging nodes harder than necessary.

**What you expected to happen**:
stable sort of volumesInUse

**How to reproduce it (as minimally and precisely as possible)**:
always

**Anything else we need to k

[2017-07-27 17:48] derekwaynecarr commented on #49731
/sig node

[2017-07-27 17:49] derekwaynecarr commented on #49731
@jboyd01 - this is a good getting started item.

[2017-07-27 17:51] MrHohn commented on #49672
Checked the pr job project. All the pr clusters are running in the same network (e2e) with overlapping CIDR  for pods network, which essentially broke all pods network functionality.

Before it was broken, we would create a separate network (e2e-PR_NUMBER) for each pr job. Possibly something mistakenly overwrote this network config.

[2017-07-27 17:54] bowei commented on #49704
cc: @nicksardo triage?

[2017-07-27 18:11] nicksardo commented on #49704
The `BeforeEach` condition of this test is failing when attempting to create a firewall rule:

[code]

At the top of the log file, I checked that the desired network is `bootstrap-e2e`
[code]

There's currently no test running, so I don't know what network name is being used. This may be related to https://github.com/kubernetes/kubernetes/issues/49672#issuecomment-318436864...

[2017-07-27 18:17] krzyzacy commented on #49672
I think it's broken by https://github.com/kubernetes/test-infra/pull/3713 and need https://github.com/kubernetes/test-infra/pull/3729, I guess I'll put up something

[2017-07-27 18:18] krzyzacy commented on #49672
Jenkins is unhappy now which gives us some time

[2017-07-27 18:20] droot commented on #47837
cc @caesarxuchao

[2017-07-27 18:30] krzyzacy commented on #49704
/assign

[2017-07-27 18:37] githubvick commented on #49389
Hi, could some one suggest some workaround for this if possible. I'm trying to get the architecture signed off and the load balancer is the last part.

Does it work on version 1.7? Again I've tried to upgrade, but it seems like the packages are not updated on Cent OS repo and I'm stuck on that front as well. https://bugs.centos.org/view.php?id=13608

[2017-07-27 18:39] caesarxuchao commented on #47837
Can we fix it by creating another set of validation rules for uninitialized pods?

[2017-07-27 18:42] liggitt commented on #47837
the issue is significantly more complex than that. making pod specs mutable means revisiting every admission plugin that depends on immutability of the pod spec and updating it to tolerate changes, and deal with computing deltas between old and new (for things like quota)

[2017-07-27 18:45] mageshmcc commented on #43800
I am facing the same issue on Ubuntu 16.04.2, pls let me know, if there are any workarounds

root@kubemaster:~# cat /etc/issue
Ubuntu 16.04.2 LTS \n \l

root@kubemaster:~# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.2", GitCommit:"922a86cfcd65915a9b2f69f3f193b8907d741d9c", GitTreeState:"clean", BuildDate:"2017-07-21T08:08:00Z", GoVersion:"go1.8.3", Compile

[2017-07-27 18:51] caesarxuchao opened #49733 "GenericWebhook admission plugin is sending internal objects to webhooks"
because `admission.Attributes` only passes the internal objects. We don't publish the schema of the internal objects, and the internal objects schema does not guarantee backwards compatibility, so users can't develop webhooks based on internal objects.

Umbrella issue: #49038