[2019-08-20 17:11] spiffxp commented on #81491
I would add a job that looks similar to what sig-network is doing to have their specific ingress feature tested as release-blocking:
https://github.com/kubernetes/test-infra/blob/41b0f74ec5dcbb8a1f818b82e84362bbaa7ee4f6/config/jobs/kubernetes/sig-network/sig-network-misc.yaml#L208-L236

You can either update https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-autoscalin

[2019-08-20 17:16] ahg-g commented on #81433
Even for tests, shouldn't they be using separate scheduler instances and avoid shared state?

I am not sure I understand the vendored applications use case, any specific examples?

[2019-08-20 17:24] chrisohaver commented on #81665
FWIW, CoreDNS 1.5.0 and later versions can answer liveness and readiness probes separately/more correctly.  CoreDNS 1.3.1 provided the same answer for liveness and readiness. CoreDNS 1.6.2 is planned for k8s 1.16. My expectation is that in this kind of situation the CoreDNS Pods will fail readiness probes without failing liveness probes (i.e. they'd be unready, but not restart).

[2019-08-20 17:29] liggitt commented on #78613
these should now be cleaned up in master
[code]

anything with `example.com` should be filtered out, e.g.:
[code]

[2019-08-20 17:41] oomichi commented on #81427
https://github.com/kubernetes/kubernetes/pull/81426 has been merged, so we can start this work.

[2019-08-20 17:45] oomichi commented on #81427
I am working for `test/e2e/framework/*` for removing the invalid dependency of the test framework.

[2019-08-20 17:47] #81403 closed

[2019-08-20 17:54] tedyu commented on #80968
It seems node_lifecycle_controller.go may not be the best place where the new logic should be added as it is concerned with node lifecycle - not so much about (individual) Pod status.

[2019-08-20 18:09] Pothulapati commented on #69871
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:09] Pothulapati commented on #78562
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:10] Pothulapati commented on #70816
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:10] Pothulapati commented on #76206
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-20 18:10] Pothulapati commented on #70189
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:10] Pothulapati commented on #69376
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:11] Pothulapati commented on #78554
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:11] Pothulapati commented on #73489
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:11] Pothulapati commented on #69905
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue

[2019-08-20 18:12] #64952 closed

[2019-08-20 18:13] andrewsykim commented on #65006
Looks like we'll need a vendor bump on that one. I'm traveling this week so can't get to it. If someone else can that would be great and happy to review :)

[2019-08-20 18:20] maxstr opened #81675 "kube-proxy --cluster-cidr should support multiple CIDRs"
**What would you like to be added**:
Right now you can only specify a single CIDR block to kube-proxy as the cluster CIDR via `--cluster-cidr` (per docs, `traffic sent to a Service cluster IP from outside this range will be masqueraded and traffic sent from pods to an external LoadBalancer IP will be directed to the respective cluster IP instead`). I would like to be able to specify multiple pod C

[2019-08-20 18:20] benmoss commented on #73489
/milestone 1.17

[2019-08-20 18:26] prameshj commented on #81555
/remove-triage unresolved

[2019-08-20 18:34] neolit123 commented on #76206
hi @Pothulapati the work here will be ongoing for multiple releases.
we should update the milestone to 1.17 at some point.

[2019-08-20 18:36] michmike commented on #73489
/milestone 1.17

[2019-08-20 18:37] michmike commented on #73489
/milestone v1.17

[2019-08-20 18:43] chrisohaver commented on #78562
@Pothulapati, AFAIK the root cause of this issue was not identified.  The plan is to move up to CoreDNS 1.6.2 for the 1.16 release, at which point I would expect this issue go away (as it did in 1.5.0).

[2019-08-20 18:44] jeffsaremi opened #81676 "There seems to be no way of setting permissions on the mount path"
I have posted this to StackOverflow (https://stackoverflow.com/questions/57566773/how-to-change-the-umask-when-mounting-volumes-in-kubernetes-pods) however, I think there is something missing in the design and as such it should be posted here.

I have tried this in Kubernetes 1.5
Given a `SecurityContext` for a pod, a volume to mount and a nested path as the mount point one can clearly see that th

[2019-08-20 18:47] liggitt commented on #78554
/milestone v1.17

[2019-08-20 19:00] jeffsaremi commented on #81676
/sig architecture

[2019-08-20 19:06] hpandeycodeit commented on #81657
I was trying to run `hack/verify-staticcheck.sh` on my mac and getting this error:
`mapfile: command not found`

Is there an easy way to install this command? I don't find much help online.

[2019-08-20 19:08] khenidak opened #81677 "Handling changes to: Cluster CIDRs and Service CIDRS"
This is a tracking issue for the following requirements. These requirements were byproduct of adding dualstack and even a bigger discussion wrt overall UX.  Please add references to other threads, comments, PRs below.

Requirements:
1. Allow users to change cluster cidrs on a running cluster. The use case is, users start the cluster small and in an ambient conditions (network addresses, VPNs etc).

[2019-08-20 19:08] khenidak commented on #81677
https://github.com/thockin

[2019-08-20 19:23] josiahbjorgaard commented on #70707
Hello,

Code freeze comes in 9 days on Aug. 29. Will this issue be resolved before than, or should it be moved to the next milestone?

[2019-08-20 19:28] josiahbjorgaard commented on #53451
Hello! This issue is tagged for milestone 1.16. Code freeze is starting on August 29th, in 9 days, which means that there should be a PR ready and merged before then. Do we still target this issue to be fixed for 1.16?

[2019-08-20 19:29] liu-cong commented on #81438
I am afraid I don't fully understand the problem.  Are you saying that some plugins may maintain an internal state and the state needs to be cleaned up? Can we design the plugins to be stateless?

[2019-08-20 19:31] josiahbjorgaard commented on #48610
Hello! This issue is tagged for milestone 1.16. Code freeze is starting on August 29th, in 9 days, which means that there should be a PR ready and merged before then. Is this still planned for 1.16?

[2019-08-20 19:40] MrHohn commented on #53451
@josiahbjorgaard Thanks for the reminder, yes I'm cooking the necessary changes at the moment and will get them out ASAP.

[2019-08-20 19:45] sadlil commented on #81657
@hpandeycodeit looks like its an issue with macOS default bash. I update my bash to 5.0.9 in MacOS following this - https://itnext.io/upgrading-bash-on-macos-7138bd1066ba and seems like its working now.

BTW if you are going to work on some of the packages - I am interested to work on some packages too. Lets split a few so we don't end up having conflicts.

[2019-08-20 19:52] josiahbjorgaard commented on #71677
Since this issue is tagged for milestone v1.16, here is a gentle reminder that code freeze is starting in 9 days on August 29th. Is the issue still targeted for this release?

[2019-08-20 19:53] josiahbjorgaard commented on #49402
Since this issue is tagged for milestone v1.16, here is a gentle reminder that code freeze is starting in 9 days on August 29th. Is the issue still targeted for this release?

[2019-08-20 19:54] josiahbjorgaard commented on #77095
Since this issue is tagged for milestone v1.16, here is a gentle reminder that code freeze is starting in 9 days on August 29th. Is the issue still targeted for this release?

[2019-08-20 19:55] josiahbjorgaard commented on #73585
Since this issue is tagged for milestone v1.16, here is a gentle reminder that code freeze is starting in 9 days on August 29th. Is the issue still targeted for this release?

[2019-08-20 19:56] josiahbjorgaard commented on #80332
Since this issue is tagged for milestone v1.16, here is a gentle reminder that code freeze is starting in 9 days on August 29th. Is the issue still targeted for this release?

[2019-08-20 20:27] Huang-Wei commented on #81433
That definitely should be obeyed. However, even with that, each integration test is using the same apiserver instance, so if the escaping behavior isn't handled well, it may cause unexpected leftover in apiserver.

I meant applications consuming scheduler codebase, or generally custom scheduler using the new scheduler framework.

[2019-08-20 20:39] MikeSpreitzer commented on #79776
Another issue is that the models can not currently express discrimination on the namespace of the object that the request seeks to manipulate.  This was an accidental oversight; in our initial enthusiasm for adopting data types from rbac we did not notice that rbac discriminates on object namespace in a fairly idiosyncratic way that is not reflected in the datatypes we copied.

Object namespace is

[2019-08-20 20:42] hpandeycodeit commented on #81657
@sadlil Thanks for sharing that. It worked after upgrading my bash.
Thanks for the PR! Are you working on more of the packages? If yes, I will work on different ones.

[2019-08-20 20:45] hpandeycodeit commented on #81657
/assign

[2019-08-20 20:49] MikeSpreitzer commented on #76846
Here are the PRs I see open right now.

#81679 --- more uniform and informative debug logging
#81672 --- add NameAll
#81637 --- add ObjectNamespaces
#81632 --- Stopped rejection of unsecured requests
#81503 --- Fixes missing authenticated group for loopback
#81182 --- More work on shuffle sharding utils
#81003 --- original config controller
#80955 --- Factor PassiveClock out of clock.Clock
#81100

[2019-08-20 21:12] alejandrox1 commented on #77095
Thank you @josiahbjorgaard

Also, updates on this:
* services still has some more work to be done it seems https://github.com/kubernetes/kubernetes/issues/77197
* kubectl is in progress https://github.com/kubernetes/kubernetes/pull/77592 ()
* wrappers has yet to be done I believe
* providers  - i'll send a pr for this one this week.

Will ping people in slack to see if there is any other things we

[2019-08-20 21:13] sadlil commented on #81657
@hpandeycodeit yes, i am also trying to put together  few PR from `/pkg/controller` - bottom to top in the list. Will try to pick up few more later. Would be happy to help.

[2019-08-20 21:13] sadlil commented on #81657
/assign

[2019-08-20 21:16] alejandrox1 commented on #81427
Logging this from a slack conversation, https://kubernetes.slack.com/archives/C9NK9KFFW/p1566333353129800?thread_ts=1566323033.124200&cid=C9NK9KFFW:

May be a good place to start would be to use e2elog for refactoring pkgs inside of the framework and use framework.Logf for everything else outside of the framework?

/cc @oomichi @andrewsykim @timothysc
/cc

[2019-08-20 21:19] oomichi commented on #81427
@alejandrox1  Thanks for bring it up here.

That is a nice idea, big +1 :-)

[2019-08-20 21:38] eatwithforks opened #81683 "support --limit in kubectl get"
I want to only return a single pod from the api to reduce api load and have a small response body.
There is a `--chunk-size` option which returns 1 pod at a time, but paginates over all pods, so that does not help.

[2019-08-20 21:45] dims commented on #49402
/milestone next

[2019-08-20 21:58] eatwithforks opened #81686 "api limit parameter doesn't work"
curl /apis/batch/v1beta1/namespaces/pod999/cronjobs?limit=2 returns all cronjobs instead of 2. This also applies to events and all other resources.

In https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#event-v1-core
There is a query parameter called limit where limit is a maximum number of responses to return for a list call. But it doesn't work, all items are returned regardles

[2019-08-20 22:04] alejandrox1 commented on #81245
We should update https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/.import-restrictions as we do this type of refactoring

[2019-08-20 22:06] alejandrox1 commented on #74352
/cc

[2019-08-20 22:06] oomichi commented on #81427
The bot've removed the label `kind/bug` today, why it blames me now :-(

`@oomichi: Those labels are not set on the issue: kind/bug`

/kind bug

[2019-08-20 22:11] eatwithforks commented on #81686
@kubernetes/sig-api-machinery

[2019-08-20 22:12] alejandrox1 commented on #81427
I think it may be because you added the following to the issue

the robot keeps on trying to remove the `/kind bug` label.
Delete it from the beginning may also help if the bot keeps on doing it :sweat_smile:

[2019-08-20 22:13] eatwithforks commented on #81686
/sig api-machinery

[2019-08-20 22:14] eatwithforks commented on #81683
/sig api-machinery

[2019-08-20 22:18] oomichi commented on #81427
Ah, I got it. Thanks.
Yeah the bot should blame me (^_^;)

[2019-08-20 22:19] oomichi commented on #81245
Thanks, that also is a nice idea!

[2019-08-20 23:14] mnogu commented on #81657
/assign

[2019-08-20 23:18] jingxu97 opened #81690 "Data caching issue for writing and reading files in Windows container"
While investigating one flaky test for in-tree GCE PD in Windows "should store data"
https://testgrid.k8s.io/sig-windows#gce-windows-master&width=20&include-filter-by-regex=should%20store%20data, we noticed the following behavior.

1. Start a pod with a GCE PD volume, and write some content to a file (use echo command), and verify the content by reading the file
2. Kill the pod
3. Start a new Pod

[2019-08-20 23:37] burdzwastaken commented on #77047
/remove-lifecycle stale
fixed in: https://github.com/kubernetes/kubernetes/pull/77049

[2019-08-21 00:19] wenjiaswe commented on #80857
@dfawley the original test did not have GODEBUG=http2debug=2 turned on. I guess my local test with that turned on doesn't have any value then. Would you please take a look at @wojtek-t 's data and see if that's expected behavior?

[2019-08-21 00:24] oomichi commented on #78613
OK, now I've build e2e binary with the latest master (https://github.com/kubernetes/kubernetes/commit/bc1d8c6d61078269540f807248a455cba09e672c) and start running conformance test on my local environment.
It takes time, so I will report the result tomorrow.

[2019-08-21 00:36] draveness commented on #81438
@hex108 @liu-cong We **could** design the plugins to be stateless, but I don't think it should be the only option. And in fact, we have an [example](https://github.com/kubernetes/kubernetes/blob/bc1d8c6d61078269540f807248a455cba09e672c/pkg/scheduler/framework/plugins/examples/stateful/stateful.go#L32-L78) of a stateful plugin, and as bobby mentioned before - score plugin could keep whatever intern

[2019-08-21 00:40] faucherb94 commented on #13136
Bump. Also interested in this.

[2019-08-21 00:57] yujuhong commented on #81690
/sig windows

Looks like we don't run [mountvol](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/mountvol) at all in kubernetes. But I guess this should be called when detaching the PD?

@pjh do you know what commands are run when detaching a PD?

[2019-08-21 01:17] xichengliudui commented on #81657
Let us know，when creating a new pr, the description of the pr should not be: Fixes #81657, which will shut down the issue (I think it's a long-term effort); it should be ref #81657.

[2019-08-21 01:52] ylhyh commented on #72102
Is there a hotfix for v1.15?

[2019-08-21 01:56] RainbowMango commented on #79616
/unassign
Please ping me if I can help.

[2019-08-21 01:57] dims commented on #72102
@ylhyh - see https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-515979520

[2019-08-21 02:02] liggitt commented on #80332
https://github.com/kubernetes/kubernetes/pull/80512 resolved the issue for 1.16. It now needs to be backported to 1.14 and 1.15

[2019-08-21 02:03] NickrenREN opened #81694 "Does kubernetes APIServer support executing batch operations in one call ?"
For example, we send one binding API call, and bind several pods to nodes during this call.

/sig api-machinery

/kind support

[2019-08-21 02:13] #75172 closed

[2019-08-21 02:13] NickrenREN commented on #81694
If not, any plans for this ?

[2019-08-21 02:27] pjh commented on #81690
I'm not sure. I did a brief search in our GCE documentation and didn't find any recommendations about detaching PDs, only about [attaching](https://cloud.google.com/compute/docs/disks/add-persistent-disk#create_disk) them.

I took a look at some GCE test code that we have and it looks like Windows (at least older versions) doesn't have a native sync command, but there is a sync.exe tool in the wel

[2019-08-21 03:39] Chengyudong commented on #64137
I tested that this problem won't appear with docker 18 . I think it might be a bug with docker 17 not systemd.

[2019-08-21 03:40] #71748 closed

[2019-08-21 03:47] RainbowMango commented on #81657
Fixed packages:
[code]

[2019-08-21 04:29] Nebulazhang commented on #72181
/reopen

[2019-08-21 04:33] Nebulazhang commented on #72181
I have merged my PR to our TKE branch. We have met  this same bug many times.

[2019-08-21 05:21] RainbowMango commented on #81657
Following packages has been reserved:
[code]

/assign

[2019-08-21 05:42] spiffxp commented on #69871
I've poked https://github.com/kubernetes/kubernetes/pull/80213, if we find it's unfeasible to get it merged ahead of time, we'll re-milestone appropriately

[2019-08-21 05:52] zouyee commented on #81676
/sig storage

[2019-08-21 06:05] #81080 closed

[2019-08-21 06:06] wojtek-t commented on #73585
This is done including documentation. We're ready for 1.16

[2019-08-21 06:54] yue9944882 commented on #81638
if you mean by "add" event. that's by-design. informer populates events on the first round of list-watching. to get rid of these syncing events, hold your controller until informer cache syncs. e.g. XXXInformer#hasSynced

[2019-08-21 07:28] Forsure-Wang commented on #58486
Yes,like @DreadPirateShawn said:
![image](https://user-images.githubusercontent.com/17527834/63411507-42cd5680-c428-11e9-9e89-58d91683e15b.png)

[2019-08-21 07:29] #81498 closed

[2019-08-21 07:39] charliezang opened #81710 "The cri parse did not parse containerd(1.2.5) log(kubernetes 1.14.3)"
**What happened**:
The cri parse did not parse containerd log

**What you expected to happen**:
The cri parser can parse containerd log correctly

**How to reproduce it (as minimally and precisely as possible)**:
Here is what logs looks like:

2019-08-21T09:24:33.260739149+02:00 stdout F 2019-08-21 07:24:33.260 [INFO][41] ipsets.go 356: Finished resync family="inet" numInconsistenciesFound=0 resyn

[2019-08-21 07:40] #81710 closed

[2019-08-21 07:53] andyzhangx commented on #81609
I think that's expected, since on Linux mount, it will first create a dir and then mount that dir with the target directly, while on Windows, should make sure current dir does not exist, and then make a symlink to the target, that's different behavior.

[2019-08-21 07:53] likakuli commented on #81638
I mean the "update" event

[2019-08-21 08:44] cann0nf0dder commented on #80807
hi @mattjmcnaughton I've seen in the related issue that enabling CPUaccounting could help but it doesn't seem to be the case in CoreOS. Would the fix that got merge in help with that?

[2019-08-21 08:48] likakuli commented on #81638
[code]

when the object already in the cache, informer will directly distribute an update notification without compare the equality of the old and new object. Is this a feature for resync or a bug? In most cases, we don's want to receive an update notification when there is no changes.

[2019-08-21 08:51] fengyu10 opened #81713 "Restart For Containers With Liveness Probing Failure"
**What happened**:
When a new pod creates a new container that has a livenessProbe, the probe worker waits initialDelaySeconds seconds then runs the livenessProbe
The container restart behavior, time intervals are not fixed， describe pod logs is "Liveness probe failed: dial tcp 172.16.35.65:8866: i/o timeout"
But I can guarantee the pod is alive, Why this happens???

kubectl describe po logs :
![i

[2019-08-21 08:56] RainbowMango commented on #81657
Following packages, `vendor/k8s.io/apiserver/*` has been reserved:
[code]

[2019-08-21 08:59] SataQiu commented on #81657
I will pick these up :)
[code]

[2019-08-21 09:01] arsenalpoll opened #81714 "kubectl apply -f prometheus-statefulset.yaml storageclass.storage.k8s.io "standard" not found"
`kubectl apply -f  prometheus-statefulset.yaml`

[code]

[code]

[code]

[2019-08-21 09:28] rojkov commented on #71233
/assign

[2019-08-21 09:30] #81714 closed

[2019-08-21 09:48] zouyee commented on #81713
/sig node

[2019-08-21 09:52] swingflip commented on #81666
Error on my behalf.

[2019-08-21 09:52] #81666 closed

[2019-08-21 09:59] sysadmin-james opened #81717 "external-ip-pending"
i have a manual k8s cluster with VMs running in  Azure cloud(its not on AKS).I am getting pending status for external ip. So  my question is  will i get a external ip for loadbalancer from azure cloud with this setup or cloud provider provides external ip only when we run our cluster in Azure K8s service.

[2019-08-21 10:01] vdemonchy commented on #78761
I'm having the exact same issue as you @max-rocket-internet, also running on EKS with their latest version available to date. This is frustrating :(

[2019-08-21 10:13] hwdef commented on #81657
Fixed packages:
[code]

[2019-08-21 10:55] yue9944882 commented on #81638
you're supposed to filter by equality in the notification handler

[2019-08-21 11:05] liggitt commented on #81694
It does not. API requests are limited to a single transaction on a single resource. Even deletecollection calls are non-transactional (some resources can succeed deleting and others may not)

This was discussed at length, but is not currently planned.

[2019-08-21 11:05] #81694 closed

[2019-08-21 11:05] pavel-khritonenko commented on #60807
Found workaround in similar questions:

[code]

[2019-08-21 11:05] liggitt commented on #81686
What version of the apiserver are you using?

[2019-08-21 11:07] draveness opened #81719 "Enhancement for scheduler perf"
/priority important-longterm
/sig scheduling
/assign

Currently, the scheduler perf works pretty well for most of the time, but some issues could affect the benchmark numbers. We could improve the accuracy and usability through the following tasks:

- [x] Get a precise benchmarking test result for each test
    - [x] Remove the cost of the `defer` function in the benchmark scheduling https://githu

[2019-08-21 11:11] liggitt commented on #81676
/remove-sig architecture

[2019-08-21 11:12] liggitt commented on #81638
Update events are sent on repost, which is required on API server restart when the watch connection is broken.

[2019-08-21 11:12] #81638 closed

[2019-08-21 11:29] #37705 closed

[2019-08-21 11:35] #63326 closed

[2019-08-21 12:26] SocietyCao commented on #81581
please provide the hpa version.
 is v2beta2?

[2019-08-21 12:29] RobertKielty commented on #78168
/close

[2019-08-21 12:29] #78168 closed

[2019-08-21 13:01] mattjmcnaughton commented on #80807
cc @derekwaynecarr to confirm, but my understanding is that the merged fix I linked early didn't actually relate to this bug... it was addressing a separate bug.

[2019-08-21 13:11] markhilton commented on #51901
I have the same issue while working with a health check for PHP-FPM service:
[code]
When PHP-FPM process manager becomes unresponsive, the command above just hangs forever without exiting, even that the liveness probe timeout is set to 3 seconds. I can see pod reported as unhealthy and multiple probe processes with `ps aux` awaiting the response, but the pod does not get restarted. I run it on **G

[2019-08-21 13:20] josephburnett commented on #81491
I've added a job to sig-autoscaling: https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gce-cos-autoscaling-hpa-cpu

But it isn't selecting any tests.
[code]

[2019-08-21 13:24] josephburnett commented on #81491
@spiffxp do we need to rebuild the e2e test image to pick up #81537?

[2019-08-21 13:34] arbourd commented on #7890
/remove-lifecycle stale

[2019-08-21 13:46] liu-cong commented on #81438
Thanks @draveness for the explanation.

Pros:  Only stateful plugins need to implement this extension point.
Cons: Admin needs to also configure Cleanup PluginSet in the config. This could be error prone if not configured properly.

Pros: No added complexity for scheduler admin.
Cons: Adds complexity for plugin developers. Now they have to implement `Cleanup` even it's a noop.

Maybe we can come u

[2019-08-21 13:58] SocietyCao commented on #81581
before version 1.12,the controller manager arg is --horizontal-pod-autoscaler-downscale-**delay**.
 from 1.12 to now, --horizontal-pod-autoscaler-downscale-**stabilization** replace it,new arg does't mean  the  controller will wait 5 min between two downscales.

here are kubernetes 1.12 release log:
       Replace scale down forbidden window with scale down stabilization window. **Rather than wait

[2019-08-21 14:01] feiskyer commented on #80365
@nilo19 Could you create cherry picks for 1.15 and 1.14 branch?

[2019-08-21 14:08] andreib1 opened #81723 "Give the proper reason for killing pods"
Add the reason the pod was killed, e.g. exceeded memory limit, liveness probe, readiness probe...

Kubelet outputs
"Killing container with id docker://your-example-application:Need to kill Pod"
Reason: "Killing"

This message is unhelpful when it comes to diagnosing why the pod was killed, and can be improved with the reason from Kubelet to aid debugging.

[2019-08-21 14:15] NeilW commented on #62830
/reopen
/remove-lifecycle rotten

[2019-08-21 14:16] andreib1 commented on #81723
@kubernetes/sig-node

[2019-08-21 14:16] NeilW commented on #62830
Getting similar issues on the cloud controller if you have multiple external IPs

The error is

[code]

[2019-08-21 14:22] twaugh opened #81724 "bitbucket.org/ww/goautoneg dependency at risk of being deleted"
The bitbucket.org/ww/goautoneg package is hosted at bitbucket.org using a Mercurial repository. This is currently at risk of being deleted next year: https://bitbucket.org/blog/sunsetting-mercurial-support-in-bitbucket

[2019-08-21 14:23] dims commented on #81724
/area code-organization

[2019-08-21 14:24] dims commented on #81724
We should switch to `github.com/munnerz/goautoneg` maintained by @munnerz

[2019-08-21 14:24] RobertKrawitz commented on #62830
@NeilW see https://github.com/kubernetes/kubernetes/pull/79391 and https://github.com/kubernetes/kubernetes/pull/80747.

@danwinship note

[2019-08-21 14:26] danwinship commented on #71305
That is correct, but fortunately we don't have to handle "freshly-booted" systems, we only have to handle systems where kubelet is already running. Kubelet will create iptables rules of its own with the system iptables binaries (we don't support systemd-containerized kubelet any more) before any containers are running, so containers can just say "if there are any rules in nft then use iptables-nft

[2019-08-21 14:28] #73791 closed

[2019-08-21 14:42] SocietyCao commented on #81713
Recommended to increase the failureThreshold and timeoutSeconds,your timeoutSeconds only 2s,sometime network jitter will cause kubelet can't connect to the pod.
for example:
Ip conflict or network high load

[2019-08-21 15:11] NicolasT opened #81725 "Volumes with `nodeSelectorTerm`s using `matchFields` not handled properly during scheduling"
**What happened**: When creating a `PersistentVolume` and setting a `matchFields` selector in `spec.nodeAffinity.required.nodeSelectorTerms`, Pod scheduling fails.

**What you expected to happen**: Pod scheduling succeeds.

**How to reproduce it (as minimally and precisely as possible)**:
- Create a StorageClass of `bindingMode` `WaitForFirstConsumer`
- Create a PV of type `local` with a `matchFie

[2019-08-21 15:30] SocietyCao commented on #81646
are you use the devicemapper driver?
It might a storage problem,please exec 'docker info | grep "Space"',check the thin pool of metadata has available space.

[2019-08-21 15:35] odinuge opened #81726 "[Flaky tests] NodeFeature:HugePage in ci-kubernetes-node-kubelet-serial"
**Which jobs are failing**:
`ci-kubernetes-node-kubelet-serial`

**Which test(s) are failing**:
`NodeFeature:HugePage`-tests

**Since when has it been failing**:
Unsure

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&include-filter-by-regex=Huge&show-stale-tests=

**Reason for failure**:
Unable to pre allocate 50x2MiB huge pages, probably due to memory pressure cau

[2019-08-21 15:36] odinuge commented on #81726
/sig node
/cc derekwaynecarr

[2019-08-21 15:37] liu-cong commented on #81438
Thinking a bit more about this. I think the problem isn't related whether the plugin is stateful or not, it's about whether the plugin can maintain a valid state for each scheduling cycle.

Can the plugin make sure its state is fresh for every scheduling cycle? Are we losing performance by initializing the state each time? If so, how can the Cleanup approach solve it?

[2019-08-21 15:37] draveness commented on #81438
The intention of the second option you provided is good, but the cleanup plugin is only called when the scheduling cycle is completed, we have two cycles running separately in the scheduling framework, it could be weird if a plugin which only cares about the binding cycle should implements `Cleanup`.

This seems like a reasonable approach, but it also adds a convention to the scheduling framework

[2019-08-21 15:45] draveness commented on #81438
Think about the case:

1. The scheduler schedules a new pod, and we initialize the state (used to do some calculation cross extension points) in let's say post-filter extension point.
2. In the score extension point, some plugins abort the scheduling cycle, and the following extension points for the pod never got executed.
3. The developer deletes the pod

The state we initialized in the plugin fo

[2019-08-21 15:51] draveness commented on #81438
I think we could make the state fresh since we ran the scheduling cycle for each pod serially, we could override the previous state at post-filter extension point or even earlier. But the developers need to understand some about the underlying implementation of the scheduling framework.

[2019-08-21 15:53] RainbowMango commented on #81657
FYI.

Packages in `pkg/kubelet/*` aready in #81206.

[2019-08-21 16:02] philip-fox commented on #80431
@zouyee
Hi Zou Nengren. Do you plan to progress this issue?

[2019-08-21 16:05] liggitt commented on #68998
Yes

[2019-08-21 16:07] pperiyasamy opened #81728 "cpuset.cpus file is not updated for the pod created with Guaranteed QoS class"
**What happened**:

The k8s is installed with cpu manager 'static' policy. Then while trying to create a pod with Guaranteed QoS class for CPU,  noticed this [issue](https://github.com/kubernetes/kubernetes/issues/66614) then applied this workaround mentioned in the [comment](https://github.com/kubernetes/kubernetes/issues/66614#issuecomment-427738719) to fix the issue. Now the pod is created succ

[2019-08-21 16:08] NicolasT commented on #81725
Looking to build a patch for this, it appears that the rabbit hole is deeper than I thought.

There are various places where currently only `matchExpressions` on a Node's labels are performed, e.g. to validate a PV is really to be managed on a particular Node, but also other occasions.

As such, would `matchFields` be unsupported for PersistentVolumes? This would be rather confusing, though.

I ca

[2019-08-21 16:10] pperiyasamy commented on #81728
/sig node

[2019-08-21 16:27] aojea opened #81729 "kube-proxy fails to delete nat entries with IPv6"
**What happened**:

kube-proxy fails to clear IPv6 conntrack entries

**What you expected to happen**:

conntrack entries should be cleared

**How to reproduce it (as minimally and precisely as possible)**:

Deploying a cluster with kind and IPv6 and restarting the coredns pods

Error in kube-proxy
[code]

Running conntrack from the host
[code]

Running conntrack from the kube-proxy container

[co

[2019-08-21 16:27] aojea commented on #81729
/sig network

[2019-08-21 16:29] odinuge commented on #77251
/remove-lifecycle stale

[2019-08-21 16:37] andreib1 commented on #81723
/sig node

[2019-08-21 16:37] odinuge commented on #77251
With the feedback from this issue and https://github.com/kubernetes/kubernetes/issues/80452, I think it is time to look at this again. It looks like this is causing numerus issues for the users, and it looks like there are some legitimate use cases for using multiple sizes. The current implementation doesn't even allow reserving all the pre-allocated huge pages for a given size to the system, via

[2019-08-21 16:40] ahg-g commented on #81438
using pre-filter as the extension point to freshen up the state is what I suggested to Cong as well in an offline discussion. I don't think it is confusing, developers need to be aware of the plugins call sequence anyways, we document that: https://kubernetes.io/docs/concepts/configuration/scheduling-framework/

[2019-08-21 16:43] Huang-Wei commented on #81719
Per our offline discussion, we'd like to get a precise benchmarking result for each test, so it includes several things like concise usage of `defer()` as well as other ones like `b.ResetTimer()`, etc.

Could you please rephrase it?

How about rewording to: Evaluate the semantics of `b.N` in Golang, and use it properly in the benchmark tests. Right now we manually set `b.N` to the pods number of a

[2019-08-21 16:51] liu-cong commented on #81438
Instead of tying the cleanup in a specific extension point, can we generalize it to be the extension point where the state is created? In Draven's example, if podAffinity only needs Score and NormalizeScore extension points, then it should make sure to cleanup/refresh the podAffinityPriorityMap where the map is created (in the Score extension point).

[2019-08-21 17:00] aojea commented on #81729
Seems that is the higher version provided by the debian-iptables base-image

[code]

https://github.com/kubernetes/kubernetes/tree/master/build/debian-iptables

[2019-08-21 17:07] aojea commented on #81729
debian buster is the new stable release and have conntrack 1.4.5,
what's the best way moving forward? file a bug in debian stretch to fix conntrack tools or ask to upgrade kubernetes base images to `buster`?

[2019-08-21 17:09] logicalhan opened #81731 "Collapse various pkg/version to the one which will be present in component-base"
We have multiple copies of pkg/version in various spots. In #81173, we create a copy of pkg/version in component-base. This will eventually allow for the removal of pkg/version completely, but we can also use this to replace the kubectl usage (and possibly other usages).

/assign
/cc @liggitt

[2019-08-21 17:09] logicalhan commented on #81731
/sig api-machinery

[2019-08-21 17:17] logicalhan opened #81733 "Create a livez endpoint instead of repurposing healthz"
#78458 introduced readyz as a readiness endpoint for the apiserver. In that PR, we repurpose healthz to act as a liveness endpoint which behavior can change when `--maximum-startup-sequence-duration` is set to a non-zero value. Instead of repurposing healthz, let's just create an actual independent liveness endpoint (i.e. livez) instead.

/assign @logicalhan
/sig api-machinery
/cc @liggitt

[2019-08-21 17:35] #45967 closed

[2019-08-21 17:37] #72102 closed

[2019-08-21 17:37] thockin commented on #69599
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-08-21 17:41] Random-Liu opened #81734 "SSH in Windows test cluster doesn't work"
I followed the document to create an e2e cluster https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/windows/README-GCE-Windows-kube-up.md

However, `gcloud compute ssh` doesn't work after the cluster is up.

I got the following error:
[code]

/cc @yujuhong @kubernetes/sig-windows-misc

[2019-08-21 17:43] duglin commented on #18787
What's the status of this one? I just noticed this security hole in some internal testing and it seems like a big issue when trying to run Kube in a multi-tenant environment.

[2019-08-21 17:47] Random-Liu opened #81735 "kubectl logs -f doesn't work for Windows node"
`kubectl logs -f` doesn't work for Windows node.

After some investigation, I think the problem is that for Docker the log file `kubectl logs` reads is a symlink to the actual docker container log file.

On linux, I believe fsnotify follows symlink by default https://github.com/fsnotify/fsnotify/issues/199, so it works on linux.

However, on windows I believe it doesn't follow the symlink. I tried

[2019-08-21 17:47] Random-Liu commented on #81735
/cc @yujuhong @kubernetes/sig-windows-bugs

[2019-08-21 17:48] Random-Liu commented on #81735
Note that this happened to be fixed by https://github.com/kubernetes/kubernetes/commit/8f68b281e4bf74ffaf5f2b0be689eab4fcd8ec32#diff-ff2280184673e2e499b9b3e22b2b9082 in HEAD.

But we may still want to follow the symlink which is a proper fix.

[2019-08-21 17:50] dfawley commented on #80857
@wenjiaswe, @wojtek-t,

The answer is (as is typical): "it depends".  We are seeing a ~50% slowdown with single-channel throughput in our benchmarks with encryption enabled vs. disabled.  However, multi-channel throughput is essentially unaffected.  This happens because serially applying TLS to the connection's traffic is slower than the bandwidth the network is capable of delivering.  However, wi

[2019-08-21 17:54] ramnes commented on #69590
Do I understand correctly that an empty `caBundle` value should be equivalent to a `caBundle` that contains `$(kubectl config view --raw --minify --flatten -o jsonpath='{.clusters[].cluster.certificate-authority-data}')` (as used [here](https://github.com/morvencao/kube-mutating-webhook-tutorial/blob/master/deployment/webhook-patch-ca-bundle.sh))?

If so, how to explain that I end up with errors l

[2019-08-21 18:24] mikedanese commented on #63726
/lifecycle frozen
/priority backlog

[2019-08-21 18:28] l0x-c0d3z opened #81737 "Race condition when mounting local storage volumes leads to data loss"
**What happened**:

I have a StatefulSet, with a single pod, and a single persistent volume. The volume is a local volume.
[code]

When I delete the pod, it gets recreated. On some cases (around 10% of attempts), the mount path of the PV is empty. Any data written to the PV will not actually persist. I've lost data on at least two occasions due to this bug.

**What you expected to happen**:

 - Th

[2019-08-21 18:31] alexbrand commented on #80040
I was able to reproduce this issue as well by doing the following:

1. Create a cluster on vSphere with the vSphere in-tree cloud provider configured.
2. Create a PVC (This triggers the cloud provider to create a PV)
3. Create a deployment that consumes the PVC
4. Go into the HTML5 vSphere Client and `Power -> Power Off` the VM where the pod is running
5. Wait 5 minutes until Kubernetes reschedule

[2019-08-21 18:43] l0x-c0d3z commented on #81737
/sig storage

[2019-08-21 19:11] cmluciano commented on #78579
I don't see any evidence of sig-net components influencing these errors.

/remove-sig network

[2019-08-21 19:15] elithrar commented on #69590
An empty caBundle will use the root CA on the Node - which (as you see!)
will fail to validate cluster issued certs.

You need to provide the base64 cluster CA cert as the value to caBundle.

On Wed, Aug 21, 2019 at 10:57 AM Guillaume Gelin <notifications@github.com>
wrote:

[2019-08-21 19:42] #78783 closed

[2019-08-21 19:52] praseodym commented on #81657
I'll pick up:
[code]

[2019-08-21 20:00] grzesuav commented on #74179
hi, what is status of this issue ? Is something blocking before implementation (dependencies) ?

[2019-08-21 20:51] dashpole commented on #79702
As a workaround, you can run cAdvisor as a daemonset.  It is generally recommended not to add container labels as prometheus labels as the huge number of labels added is expensive for prometheus to store.

[2019-08-21 20:57] Kent-H commented on #81225
Update:
I traced the issue to a non-k8s component in my environment.
(Traffic forwarded out of the cluster was being erroneously forwarded back into to the cluster.)

[2019-08-21 20:57] #81225 closed

[2019-08-21 20:58] yujuhong commented on #81734
/cc @pjh @YangLu1031

[2019-08-21 20:58] droslean opened #81746 "[Failing Test] Conformance - OpenStack"
**Which jobs are failing**:
Conformance - OpenStack

**Which test(s) are failing**:
Most of them

**Since when has it been failing**:
08-20

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20OpenStack

**Reason for failure**:
[code]

[2019-08-21 20:59] droslean commented on #81746
/sig openstack

[2019-08-21 21:00] droslean commented on #81746
/sig node
/sig storage
/sig apps

[2019-08-21 21:05] oomichi commented on #78613
Conformance test of the latest master (https://github.com/kubernetes/kubernetes/commit/bc1d8c6d61078269540f807248a455cba09e672c) is touching the following beta APIs:
[code]

[2019-08-21 21:09] alejandrox1 commented on #81746
Thank you @droslean !!!
I think we should just ping openstack providers for this, I don't think the failures reflect something wrong in kubernetes.

/cc @kubernetes/provider-openstack-test-failures
/priority critical-urgent
/milestone v1.16
/remove-sig node
/remove-sig storage
/remove-sig apps

[2019-08-21 21:11] alejandrox1 commented on #81746
/area provider/openstack

[2019-08-21 21:12] pjh commented on #81734
@Random-Liu where are you trying to ssh _from_? Can you ssh to a Linux instance in GCE?

If you run `gcloud compute project-info describe --flatten commonInstanceMetadata.items.ssh-keys` do you see ssh keys there? Do any of them match a public key that you have under `~/.ssh`?

There could be a delay the very first time you try to ssh; we noted this in https://github.com/kubernetes/kubernetes/blob

[2019-08-21 21:14] dashpole commented on #81135
/assign @dashpole

[2019-08-21 21:20] liggitt commented on #78613
oops, the new tests added to complete CRD API surface coverage crossed wires with the v1 promotion PR and are still using v1beta1. will fix up and report back

[2019-08-21 21:27] Random-Liu commented on #81734
Yeah I can ssh to a linux instance in the same cluster.

[2019-08-21 21:27] oomichi commented on #78613
@liggitt OK, could you point the PR which fixes it up later so that I'd like to make sure my local repo contains the PR?

[2019-08-21 21:52] #80908 closed

[2019-08-21 21:57] Random-Liu commented on #81734
@pjh I still got the same error after recreating the cluster.

[code]

I can ssh into linux nodes in the same cluster just fine.

[2019-08-21 21:59] dcbw commented on #69882
@khenidak @kmala @danwinship we've periodically discussed the issue in SIG Network in the past. And I think the reasons not to pass annotations still hold. Those are roughly that:

1) there can be *lots* of annotations, most of which are generic and the CNI plugin likely doesn't care about. Do we really want/need to push all of them to the plugin?

2) why are annotations special and things like th

[2019-08-21 22:27] msau42 opened #81751 "Use hostpath pod instead of ssh in volumemode e2e test"
**What happened**:
A new test case was added [here](https://github.com/kubernetes/kubernetes/pull/81163/files#diff-0d21a89b3adc375caf1b557b014e1111R643) that ssh's into the node and lists the pod directories there.  Can we do this with a hostpath pod instead?  Many test environments are not configured with SSH access, such as the kind cluster we use for kubernetes-csi sidecar testing: https://k8s-

[2019-08-21 22:28] msau42 commented on #81751
/kind failing-test

[2019-08-21 22:29] msau42 commented on #81751
@kubernetes/sig-storage-test-failures

[2019-08-21 22:29] msau42 commented on #81751
@wongma7 is this something you can help with?

[2019-08-21 22:31] dims commented on #81102
@neolit123 looks like we need additional work to pick up *_test.go - see POC - https://github.com/kubernetes/kubernetes/pull/81752

[2019-08-21 22:38] lavalamp commented on #79776
I'm trying to give you all a time slice, I started by reading the code, I've left comments on the API and some other things so far: https://github.com/kubernetes/kubernetes/pull/81748#pullrequestreview-278095502

[2019-08-21 22:38] msau42 commented on #81751
Another thought I had was can we remove this test case out of the storage driver test framework?  This is testing only K8s-level logic, not driver logic right?

[2019-08-21 22:43] neolit123 commented on #81102
hopefully enabling checks over _test files doesn't suddenly require a lot of changes in .import-boss files.

[2019-08-21 22:44] dashpole commented on #81451
/cc

Can you explain this some more?  Why would exited containers impact a log collector?

Disk space management in the kubelet is currently lazy.  We generally only reclaim it when it gets close to being full.  Leaving containers on disk means that they can be inspected, e.g. for logs.

[2019-08-21 22:58] wongma7 commented on #81751
Yes that's a good point, it's testing that kubernetes doesn't call mount/stage/publish to x directory in the first place, it won't be driver-dependent. however it depends on a lot of nice to have stuff in the framework
/assign
/cc @jsafrane

[2019-08-21 23:11] maxneaga commented on #2630
The workarounds with `chown`ing do not work for read-only volumes, such as secret mounts, unfortunately.

[2019-08-21 23:17] kmala commented on #69882
1) one of my first proposal is pass only specific annotations which have a domain prefix like `containernetwork.k8s.io` or `cni.k8s.io`. So, i am okay to make changes to push only few of them.
2) The reason for only annotations is because it is the preferred way of adding metadata to the pod. Though labels can also be used to add metadata, its mainly used for identifying the objects and selection.

[2019-08-21 23:22] a1exus commented on #65671
Hello,

I'm having same issue(

https://discuss.elastic.co/t/error-from-server-notfound-services-quickstart-es-http-not-found/193658/8

[2019-08-21 23:25] ofiliz commented on #69882
@dcbw I think while your point 3 above, "plugins that need these annotations already have a KubeClient anyway" is certainly true, this is only because we provide no other way for such plugins to achieve their goals. In complex Kubernetes networking setups there is now an explosion of daemons running on each node for this very reason. Common examples are daemons to configure sidecar proxies and net

[2019-08-21 23:45] wongma7 commented on #81751
@msau42 opened https://github.com/kubernetes/kubernetes/pull/81755/files to skip the test if SSH not present. Seems the sidecar e2es have provider=skeleton so they should be skipped.

Long-term, should have a good story for organizing k8s-specific versus driver-specific tests while allowing k8s-specific tests to reuse the same useful driver/testsuites framework. For example, are all subpath tests

[2019-08-22 00:00] wongma7 commented on #81751
btw I do think the pod could simply use hostpath to check, https://github.com/kubernetes/kubernetes/pull/81755 is just a quickfix

[2019-08-22 00:29] jasinner commented on #80190
@deads2k Is there any reason the version is required to be exposed by the API without auth?

[2019-08-22 00:39] msau42 commented on #81751
Yes, longer term, we should move out all tests that are not driver-specific.

We've found that subpath has subtle behavior differences depending on the underlying storage mount (ie nfs, vs block vs local directory vs csi), which is why it's being tested per driver.  But there's probably room for improvement

[2019-08-22 00:40] MikeSpreitzer commented on #76846
Here is a Go Playground exercise that evaluates an interesting collection of shuffle sharding configurations, printing for each the probability that a given mouse is squished by an elephant for an illustrative collection of numbers of elephants.   See https://play.golang.org/p/s5H-eIpfyc9 , which computes this table:
[code]

[2019-08-22 00:56] zouyee commented on #81737
`Reclaim Policy:    Delete`

[2019-08-22 00:59] draveness commented on #81438
We should initialize the map in the post-filter phase, I'll update the PR to reflect the change.

[2019-08-22 01:03] ThomasWo commented on #44273
@geekflyer that issue was closed as duplicate for a non-public issue.  Have you had any progress towards a fix?

[2019-08-22 01:12] geekflyer commented on #44273
@Sanjanare @ThomasWo Yes, 1.13.7-gke.15 and higher now contain a fix for this. It's also mentioned as a fix in the release notes: https://cloud.google.com/kubernetes-engine/docs/release-notes .

[2019-08-22 01:13] zouyee commented on #80431
I don't have time for a while, if you have plans to solve it，please carry on.

[2019-08-22 01:21] jmillikin-stripe opened #81756 "Kubelet garbage-collects the pause image, which might be unpullable in ContainerD"
**What happened**:
When the Kubelet is under disk pressure, it garbage-collects unused container images. If this isn't enough, it evicts pods and then deletes their (now unused) container images. If the disk pressure is due to external data files present in the same partition as the datastore, this can proceed until all container images have been deleted from the CRI runtime.

The pause image is n

[2019-08-22 01:23] nilo19 commented on #80365
Sure, I'll do it.

[2019-08-22 01:27] jmillikin-stripe commented on #81756
/sig node

[2019-08-22 01:34] jmillikin-stripe commented on #81756
Note: this _may_ just be a documentation problem. The flag `--pod-infra-container-image` is documented as:
[code]
but I can confirm that if I set this to the URI of the pause image, Kubelet correctly preserves it even though we're not using the Docker container runtime.

[2019-08-22 01:36] dims commented on #81027
/reopen

[2019-08-22 01:48] Erically commented on #81646
[code]

[2019-08-22 01:53] hh opened #81759 "Add OpenAPI Field/Properties for release, feature_gate, required, and deprecated metadata"
This is likely related to #80586, but is required for us to measure and increase coverage in the right areas of Kubernetes.

We'd like verification, but this seems to have led us to discover:
- [69 gated, deprecated, or non-ga fields](https://github.com/cncf/apisnoop/blob/v3_rainbow/org/explorations/field_properties.md#69-gated-deprecated-or-non-ga-fields)
- [12 NonDeprecated GA fields behind Feat

[2019-08-22 01:54] hh commented on #81759
/sig api-machinery

[2019-08-22 01:55] hh commented on #81759
@liggitt Thought it would be good to capture this for discussion so we don't have to chase down new description search criteria. :)

[2019-08-22 02:04] dims opened #81760 "Move hyperkube binary and images out from main k/k repository"
At one point hyperkube was going to take everything over but that day is gone:
https://github.com/kubernetes/kubernetes/issues/16508

We don't have any owners for hyperkube and we have pending issues like https://github.com/kubernetes/kubernetes/issues/80374 and https://github.com/kubernetes/kubernetes/issues/71719

hyperkube is a magnet for pulling all kinds of dependencies (especially cloud prov

[2019-08-22 02:04] jeffsaremi commented on #81676
There seems to be at least one way to avoid this problem.

I went back to the same spec and this time added a top-level mount point as well as a deeper one.
Now all the intermediate folders got their permissions from the desirable top one:

pod.yaml (checkout data2 and where it's mounted):
[code]

After applying and running a query I get:
[code]

As you can see the "storage" and "sample" also got

[2019-08-22 02:11] pigletfly opened #81761 "Deployment leaves more replicasets than revisionHistoryLimit"
**What happened**:

when doing rolling upate with Deployment, it sometimes leaves more replicasets than revisionHistoryLimit.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/

[2019-08-22 02:11] pigletfly commented on #81761
/sig apps

[2019-08-22 02:20] pigletfly commented on #81761
Here is the status of Deployment and rs:
Deployment
[code]
rs
[code]
As describes above, the revisionHistoryLimit is 5, but there are more that 5 rs left, and both test-6949c9bfc and test-754f989cc6 has ownerReferences.

[2019-08-22 02:36] pigletfly commented on #81761
/assign @janetkuo @kow3ns

[2019-08-22 02:47] dims commented on #81760
We will need the generated openapi check in if we want k/k to be vendorable, see https://github.com/kubernetes/kubernetes/pull/81239

[2019-08-22 03:01] SataQiu commented on #81451
Perhaps your intention is to focus only on recent logs ? @Dieken
The redundant logs not only take up disk space, but also put pressure on log analysis.

[2019-08-22 04:31] tedyu commented on #80667
Where can I find the proposal mentioned above ?

[2019-08-22 04:40] ramineni commented on #81746
@alejandrox1 @droslean kube-scheduler is going into panic here https://logs.openlabtesting.org/logs/periodic-4/16/github.com/kubernetes/cloud-provider-openstack/master/cloud-provider-openstack-acceptance-test-e2e-conformance/ecdc3cc/logs/kubernetes/kube-scheduler.log and the tests after are failing
E0821 16:40:57.478432    8609 runtime.go:69] Observed a panic: "invalid memory address or nil pointe

[2019-08-22 04:48] yue9944882 commented on #81759
/cc @sttts @roycaihw

[2019-08-22 05:34] remcohaszing commented on #56402
/remove-lifecycle stale

[2019-08-22 05:35] Davidrjx commented on #29927
any solutins? could anyone make reply?

[2019-08-22 05:44] #81581 closed

[2019-08-22 06:19] adisky commented on #81746
/sig scheduling
/area test-infra

[2019-08-22 06:36] wouter-dhaeze commented on #81642
@kubernetes/sig-network-bugs

[2019-08-22 06:44] schrodit opened #81766 "e2e SetupSuite is sometimes unable to delete kube-node-lease namespace"
**Which test(s) are failing**:
When `--clean-start` is specified in kubetest, the `SetupSuite` is trying to delete all namespaces except `kube-system`, `default` and `kube-public` (see [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/suites.go#L63))

With Kubernetes 1.14 the `node lease` features was enabled which creates their lease objects in a separate `kube-node-l

[2019-08-22 06:46] schrodit commented on #81766
/sig testing

[2019-08-22 08:17] nikhita commented on #81724
We also use `bitbucket.org/bertimus9/systemstat` which we can replace with https://github.com/nikhita/systemstat.

/sig architecture
/assign

[2019-08-22 08:18] nikhita commented on #81724
/priority important-longterm

[2019-08-22 08:30] mariantalla commented on #78995
Could I start work on step 2 (i.e. investigating/starting the refactor of `pull-kubernetes-e2e-gce` to use Cluster API)?

I'll assign myself, but please feel free to unassign me if someone else is already working on it!

/assign

[2019-08-22 08:32] zqzzq opened #81772 "The created CRD cannot be recognized"
**What happened**:
I have a CRD file and apply it to k8s:
[code]
and I can find this CRD in CRD list:
[code]
but when I use kubectl get , it can't be recognized:
[code]
is there somebody can help me? Very thanks!

**What you expected to happen**:
The CRD can be used normally
**How to reproduce it (as minimally and precisely as possible)**:
create a CRD and use kubectl get this CRD
**Environment**:

[2019-08-22 08:39] w313062006 opened #81773 "pod successfully assigned event miss when pod first encounter FailedScheduling"
**What happened**:

1. when I create a pod,the pod first has no resource to allocate

![1](https://pbs.twimg.com/media/ECj2Te5UcAERO4P?format=jpg&name=large)

desc pod:

![2](https://pbs.twimg.com/media/ECj2Te5U4AAH0kh?format=png&name=large)

2.wait some minutes for resource release
3.when have enough resource,the pod from pending to running

but I can't find [successfully assigned] event,the next

[2019-08-22 08:40] casusbelli commented on #80332
Is there a specific procedure for backporting in k8s? I searched k8s/community docs but did not find anything related.
Just propose PRs for the 1.14/15 branches?

[2019-08-22 08:41] philip-fox commented on #80431
@mattjmcnaughton
Hey Matt. Can this be assigned to someone who can take a look at it?

[2019-08-22 08:42] w313062006 commented on #81773
/sig scheduling

[2019-08-22 08:53] Pingan2017 commented on #81773
see
https://github.com/kubernetes/kubernetes/blob/2166946f41b36dea2c4626f90a77706f426cdea2/staging/src/k8s.io/client-go/tools/record/events_cache.go#L44-L49

[2019-08-22 08:54] justaugustus commented on #78995
Go for it, @mariantalla! :)

[2019-08-22 09:01] l0x-c0d3z commented on #81737
Thanks for your reply.

I'm not sure the fact that the Reclaim Policy is set to delete is relevant here, because :
 - the PVC does not need to be deleted for the problem to happen. Simply killing the pod will do that
 - the behaviour is not consistent. Sometimes my files are there, sometimes they aren't. **Then they come back after a pod restart.** The reason I lost data was because it was not bei

[2019-08-22 09:07] M0nsieurChat commented on #5774
Hello, we are highly interested in the inPlace ResizingPolicy for using the Vertical Pod Autoscaler.
I have trouble finding if the relevant commits have already been merged in Kubernetes in order to test / leverage this interesting feature.

[2019-08-22 09:08] juliantaylor opened #81775 "kube-proxy ipvs conn_reuse_mode setting causes errors with high load from single client"
**What happened**:
The kube-proxy sets `/proc/sys/net/ipv4/vs/conn_reuse_mode` to zero
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L340

This has the effect that when:
- kube-proxy uses ipvs mode and an ipvs virtualserver is configured with only a few realservers (pod replicas)
- a client sends a lot of requests so that the source ports are reused before the MLS

[2019-08-22 09:09] juliantaylor commented on #81308
This may be important as the current kube-proxy ipvs settings cause issues with `externalTrafficPolicy: Local` deployments under high load from single clients, see https://github.com/kubernetes/kubernetes/issues/81775

[2019-08-22 09:12] nikhita commented on #81724
My bad, `bitbucket.org/bertimus9/systemstat` uses git and not `hg` (can be seen with `hg identify`).

The only repo that used mercurial was `goautoneg` and we use `github.com/munnerz/goautoneg` for release-{1.13, 1.14, 1.15, 1.16} and master branches already. IMO this issue can be closed.

For completeness:

- 1.13:

https://github.com/kubernetes/kubernetes/blob/723783951019e10d3292bb1162835e08a05

[2019-08-22 09:18] saiwl commented on #81446
We have the plan to do this, just want to know if the k8s team has the plan to support this feature.Thank you for your advice!
I will close this issue. Thank you!

[2019-08-22 09:18] #81446 closed

[2019-08-22 09:22] zouyee commented on #81737
related doc:  https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2019-08-22 09:28] l0x-c0d3z commented on #81737
I set the volume reclaim policy to retain:
[code]

As we can see, the PVC was actually created a month ago. The volume istself is even older.

[code]

After 8 reboots of the pod, I'm able to reproduce the problem. The `/opt/elasticsearch-7.2.0/data` folder is empty.
[code]

Here is the relevant findmnt snipet:
[code]

The `/data/volumes/local-slow/vol.Mf3iUqaa` does actually contain my files. The

[2019-08-22 09:36] l0x-c0d3z commented on #81737
I'm currently working around this issue by detecting it and crashing the pod on startup, but it's a really ugly kludge.

[2019-08-22 09:56] l0x-c0d3z commented on #81737
I've turned to auditd to actually log the mounts and demonstrate the issue:

This is a working example:
[code]
As we can see, the mount order is:
  - mount `/var/lib/docker/volumes/61830fc086a7ee34993fee6ce024b98034590bae857cbf13aed2f1deeac6162a/_data` on `/var/lib/docker/overlay2/874496e89b55157f512ebbfa5a5cf52ab740257eef895742aebc5ba15f19605b/merged/opt/elasticsearch-7.2.0/data`
 - mount `/var/l

[2019-08-22 09:59] droslean commented on #81746
@adisky `kube-scheduler` doesn't belong to `test-infra`

[2019-08-22 10:08] l0x-c0d3z commented on #81737
Continuing to track down the issue, here is the `Mounts` description of a working container (from `docker container inspect`:

[code]

And this is the case where it fails:
[code]

We can see the order is inverted here again, hence the problem.

[2019-08-22 10:25] l0x-c0d3z commented on #81737
Interesting detail:
 - the fist layer is mounted to `/opt/elasticsearch-7.2.0/data`
 - the second one is mounted to `/opt/elasticsearch/data`

However `/opt/elasticsearch` is a symlink to `/opt/elasticsearch-7.2.0`. So it seems docker sees it as two different volumes, and the one that actually gets mounted depends on some random ordering.

I've updated the Dockerfile so that the docker volume now

[2019-08-22 10:50] pperiyasamy commented on #81728
The isolated cores are seen in `Cpus_allowed & Cpus_allowed_list` attributes of /proc/1/task/1/status file.
[code]
is this the right way to find out which cores are pinned inside the container ? This info is needed for running high performance DPDK applications (telco workloads) on specific isolated cores.

[2019-08-22 11:01] yastij opened #81779 "kube-scheduler panics when trying to finish its event series"
**What happened**: kube-scheduler panics when client-go tries to finish the existing event series, see: https://logs.openlabtesting.org/logs/periodic-4/16/github.com/kubernetes/cloud-provider-openstack/master/cloud-provider-openstack-acceptance-test-e2e-conformance/ecdc3cc/logs/kubernetes/kube-scheduler.log

**What you expected to happen**: kube-scheduler should not panic

**How to reproduce it (a

[2019-08-22 11:04] yastij commented on #81779
/sig scheduling

[2019-08-22 11:21] annProg opened #81781 "Pod created before container network ready"
**What would you like to be added**:
I use calico as a network plugin. When the node reboots, calico takes a few minutes to recover the network and refresh the routing table. During this time, POD IP can not be used, business
 relying on the container network, such as **coredns** can not be used, **ingress nginx** upstream will also time out.

I hope to increase the ability to detect whether the c

[2019-08-22 11:26] annProg commented on #81781
@kubernetes/sig-node-feature-requests

[2019-08-22 12:02] mattjmcnaughton commented on #80431
Hi @philip-fox ! It might be useful to see if anyone in the #sig-node slack channel has the interest/capacity to pick it up?

[2019-08-22 12:05] danwinship commented on #69882
But most of them are still going to need to need the KubeClient even if we provide them the annotations. eg:

But if the pod has the network attachment annotation, then that will point to a CRD which the delegating plugin will also need to look at. So it's still going to need a KubeClient anyway.

[2019-08-22 12:06] mattjmcnaughton commented on #77251
On Wed, Aug 21, 2019 at 09:38:59AM -0700, Odin Ugedal wrote:

Would it require an api-change? If yes, a good next step might be drafting a
concise KEP w/ the proposal? Iirc, all code which changes the API requires a
KEP.

Additionally if the code is lightweight and you have the capacity, maybe creating a WIP
PR so that there's actual code to discuss in the KEP.

cc @derekwaynecarr to weigh in?

[2019-08-22 12:23] dims commented on #81724
Thanks for the research @nikhita !

/close

[2019-08-22 12:23] #81724 closed

[2019-08-22 12:23] dims commented on #78995
yes please @mariantalla !

[2019-08-22 12:49] deads2k commented on #80190
In the distant past, I do not remember.  They were specifically excluded from the last round of tightening in https://github.com/kubernetes/kubernetes/pull/73807 .  I don't have a recollection as to why, but @liggitt may.

[2019-08-22 13:06] zouyee commented on #81756
ImageGC will mark sandbox image in used, but according to your description, the situation is strange, it may be an interface `GetImageRef` problem. Have a more detailed explanation?
[code]

[2019-08-22 13:06] zouyee commented on #81756
/assign

[2019-08-22 13:08] liggitt commented on #80332
the process is at https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md

the picks are already open at https://github.com/kubernetes/kubernetes/pull/81699 and https://github.com/kubernetes/kubernetes/pull/81700

[2019-08-22 13:52] liggitt commented on #78613
will be fixed in https://github.com/kubernetes/kubernetes/pull/81684

[2019-08-22 13:52] DrmagicE commented on #79702
@dashpole Thanks. Deamonset can solve my problems, but I think it would be more convenient if kubernetes can support this natively. It is a little weird to have two cadvisor doing most of the same thing.

[2019-08-22 13:52] #79702 closed

[2019-08-22 14:20] juliantaylor commented on #70747
Here the likely reason for the slow throughput is described:
https://marc.info/?l=linux-virtual-server&m=151706660530133&w=2

As disabling `conn_reused_mode` causes https://github.com/kubernetes/kubernetes/issues/81775, is any of the options listed possible to do?

[2019-08-22 14:55] uablrek commented on #65006
I have not confirmad, but it seems the fix is included somewhere, either in "master" or in https://github.com/kubernetes/kubernetes/pull/79386.

At least I got "competing syncs" in https://github.com/kubernetes/kubernetes/pull/80627 after updating. I was expecting this and was a bit confused why it didn't happen until I realized that this bug stopped the ipv6 sync from working and thus saved the s

[2019-08-22 15:11] andrewsykim commented on #81775
/sig network
/area ipvs
/assign

As per https://github.com/kubernetes/kubernetes/issues/81308#issuecomment-520579495, we need to add a hard timeout on graceful termination. I had originally thought we had one for 15m but turns out we never did (unused constant https://github.com/kubernetes/kubernetes/pull/81312).

I'm thinking 5m is reasonable hard limit for graceful termination, thoughts @lbernai

[2019-08-22 15:14] caretak3r commented on #79723
This is also an issue for us, using these service annotations should have been straightforward. A custom security group id used in the `service.beta.kubernetes.io/aws-load-balancer-security-groups` should ensure it's attached to the ELB/LB, and remain untouched.

Instead, this customer security group gets purged, leaving the port mapping untouched, but all sources become 0.0.0.0/0.

[2019-08-22 15:29] Raffo commented on #79723
@uty unfortunately I can't, I don't have access at AWS resources to work on that. To be honest, it was pointed out a number of times that the load balancer code will need a refactor and better tests, I would suggest pinging AWS directly or bringing it up during the `sig-aws` meetings.

[2019-08-22 15:42] #46107 closed

[2019-08-22 16:58] #75667 closed

[2019-08-22 16:58] #75625 closed

[2019-08-22 17:04] ndamclean commented on #59343
This still seems like an important feature with no viable workaround. Can this get re-opened?

[2019-08-22 17:50] InfinityGone commented on #27362
@kargakis The easiest way I've found to reproduce this is by using bash interactively - it swallows SIGTERM giving a bigger window to observe the behavior.

One thing to note, the behavior is different with an explicit delete and one caused by a changing annotation. When changing an annotation, the new pod won't be scheduled until the old one is completely gone, but an explicit delete will create

[2019-08-22 17:57] jmillikin-stripe commented on #81756
@zouyee See my second comment. The docs for `--pod-infra-container-image` say that it only applies when using Docker as the container runtime, so most users of ContainerD CRI are probably not setting it. I was able to fix the GC issue by setting that flag. It might be possible to solve this by simply changing the flag documentation of `--pod-infra-container-image`.

[2019-08-22 17:57] liu-cong commented on #80812
@bsalamat Can you help clarify some of the questions?

[2019-08-22 18:15] neolit123 opened #81799 "evaluate newly discovered import depedencies in pkg/controller"
with this PR merging we found some pkg/controller imports that went unnoticed because we now also check _test.go files:
https://github.com/kubernetes/kubernetes/pull/81752

there are a few suspicious imports that need double checking by different sigs:
- TODO bring sig owners

https://github.com/kubernetes/kubernetes/pull/81752#discussion_r316817333
https://github.com/kubernetes/kubernetes/pull/81

[2019-08-22 18:17] neolit123 commented on #81799
/sig architecture
/area code-organization

[2019-08-22 18:27] alejandrox1 commented on #81427
Forgot to add this for discoverability
/area e2e-test-framework

[2019-08-22 18:33] so0k commented on #73856
@SGrondin  - thank you for sharing, any suggestion on how to get the percentage of total allocatable by having it collated with

[code]

[2019-08-22 18:33] mdavis-ciena commented on #78286
/remove-lifecycle stale

[2019-08-22 18:39] alejandrox1 opened #81803 "[e2e] e2e framework import-restrictions need to be fixed"
We recently discovered in https://github.com/kubernetes/kubernetes/pull/81246#issuecomment-523510399 that the import restrictions for the e2e testing framework, [/test/e2e/framework/.import-restrictions](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/.import-restrictions), are not being taken into account and are not correct.

The CI process uses [./hack/verify-import-boss

[2019-08-22 18:49] alejandrox1 commented on #81518
@ericzhang08 please feel free to work on it.
If you want to discuss any details I think #k8s-code-organization in slack may be a good place to discuss anything that comes up.

On the implementation side, it would probably be easier to go one by one.
[./hack/verify-govet.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-govet.sh) might be a good place to start.
[./hack/verify-spe

[2019-08-22 18:56] ericzhang08 commented on #81518
/assign
/lifecycle active

[2019-08-22 19:00] alejandrox1 opened #81804 "Document the use of import-boss"
[import-boss](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/code-generator/cmd/import-boss/main.go) is used in our CI tests ([./hack/verify-import-boss.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-import-boss.sh)) to verify import restrictions in various places throughout k/k.
Currently, the only existing documentation is within the script itself a

[2019-08-22 19:00] alejandrox1 commented on #81804
/assign
/lifecycle active

[2019-08-22 19:12] alejandrox1 commented on #81803
/assign

[2019-08-22 19:23] nikopen commented on #75482
/milestone v1.17

[2019-08-22 19:39] rehevkor5 opened #81806 "kubectl --raw should print unmodified response body"
**What would you like to be added**:

When using `kubectl get --raw "..."`, the response body should be printed without any modification.

**Why is this needed**:

When using `kubectl get --raw`, it is necessary to make use of the "continue" token for iterating through collections. Unfortunately, the continue token eventually expires, leading to a 410 status resonse with a response body that looks

[2019-08-22 19:50] rehevkor5 commented on #81806
/sig cli

[2019-08-22 19:50] matthias50 commented on #81533
#81805

[2019-08-22 19:52] TerraTech commented on #36391
/remove-lifecycle stale

[2019-08-22 19:56] praseodym commented on #81772
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-08-22 20:21] prameshj commented on #72511
/remove-triage unresolved

@skbly7 any update here?

[2019-08-22 20:21] prameshj commented on #80152
Any update here?

[2019-08-22 20:31] fedebongio commented on #81619
/priority awaiting-more-evidence

[2019-08-22 20:50] rajansandeep opened #81810 "Push the CoreDNS 1.6.2 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.6.2 image is available in docker coredns/coredns:1.6.2

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/assign @thockin

/sig network
/sig cluster-lifecycle

[2019-08-22 21:11] khenidak commented on #81729
/assign @thockin

[2019-08-22 21:11] khenidak commented on #81729
/assign @khenidak

[2019-08-22 21:12] matthyx commented on #27114
/remove-lifecycle stale

[2019-08-22 21:14] aojea commented on #81729
I don't think is a high priority because the service is working despite the error, but I don't know if this conntrack problem can cause bigger issues

[2019-08-22 21:28] kmala commented on #69882
I understand that some plugins will/might still need to call KubeClient which we may not be able to solve but still there are multiple use-cases like custom firewall and network CNI plugins which would require the metadata of the pod and this feature would help them a lot.

[2019-08-22 23:14] pabrahamusa opened #81813 "Kubernetes Service enable TCP check"
**What would you like to be added**:
I have a service , which have  underlying set of pods that opens TCP socket on 17500. However the Service will forward the request to pod that are already connected and serving requests which causes connectiontimeout for the clients. As I understand Service do a round robin load balancing and relies on the readiness probe of the pod for health check.
`
apiVersi

[2019-08-22 23:32] oomichi commented on #81245
/area e2e-test-framework

[2019-08-22 23:32] oomichi commented on #81427
/remove-kind bug

[2019-08-22 23:32] oomichi commented on #81232
/kind e2e-test-framework

[2019-08-22 23:34] oomichi commented on #81232
/area e2e-test-framework

[2019-08-22 23:55] oomichi commented on #81804
/cc @oomichi

[2019-08-23 00:06] PatrickLang commented on #75752
`kubectl logs -n kube-system metrics-server-...`  will show these failures

[code]

[2019-08-23 00:25] MikeSpreitzer opened #81817 "Server side printers describe age columns as timestamps"
**What happened**:
I looked at the code for server-side printers and noticed that it defines the "age" column as a timestamp, even though the printed values are ages (durations) rather than timestamps.

For example:
[code]

but

[code]

and `translateTimestampSince` prints a duration.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2019-08-23 00:33] #55890 closed

[2019-08-23 00:55] zouyee commented on #81756
related PR: https://github.com/kubernetes/kubernetes/pull/62982

[2019-08-23 01:06] #75596 closed

[2019-08-23 01:12] MikeSpreitzer commented on #81817
@kubernetes/sig-api-machinery-bugs

[2019-08-23 03:02] RainbowMango commented on #79883
If still need help, please add tag back.

/remove-help

[2019-08-23 03:06] RainbowMango commented on #78897
If the issue still exists please @timyinshi feel free to re-open it.
/remove-help
/close

[2019-08-23 03:10] RainbowMango commented on #78897
Remove milestone to reduce unnecessary focus.
/milestone clear

[2019-08-23 03:15] Kevin-fqh opened #81823 "why deployment.spec.template.metadata.initializers.pending=[] has no effective"
**What would you like to be added**:

### Solution 1:  when the InitializerConfiguration's resource is `deployment`

[code]

I create a deploy.yaml as follow，my app `kube-initializer` is such as [envoy-initializer](https://github.com/kelseyhightower/kubernetes-initializer-tutorial/tree/master/envoy-initializer)

[code]

### Solution 2:  when the InitializerConfiguration's resource is `pod`

[code]

[2019-08-23 03:18] Kevin-fqh commented on #51299
the alpha initializers feature has been removed in 1.14, and admission webhooks allow for targeting namespaces by label selector

https://github.com/kubernetes/kubernetes/issues/51290

[2019-08-23 03:18] Kevin-fqh commented on #81823
https://github.com/kubernetes/kubernetes/issues/51290

the alpha initializers feature has been removed in 1.14, and admission webhooks allow for targeting namespaces by label selector

[2019-08-23 03:18] #81823 closed

[2019-08-23 03:18] portsip commented on #23864
That is great, we are interested in,.

[2019-08-23 03:33] RainbowMango commented on #78436
@justaugustus

I see you marded `help wanted` tag to some issues. I guess you may misunderstand the meaning of `help wanted`.

This tag for contributor select task. An issue with `help wanted` normally means have been specially groomed for new contributors.

More details please refer:
https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md

[2019-08-23 03:43] SocietyCao commented on #78761
@vdemonchy  There may be sudden bursts of traffic，some times cause CPUUtilization to 100% , in this case,it won't scale down

[2019-08-23 04:14] zouyee opened #81824 "[Failing Tests] ci-kubernetes-node-kubelet-serial which set PodPriority are failing when adminssion Priority enable"
Setting PodPriority directly when adminssion Priority enable,the Pod is rejected.
To fix this, we need to create new priority classes for these tests.

**Which jobs are failing**:

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/

**Which test(s) are failing**:
_output/local/go/src/k8s.io/kubernetes/test/e2e_node/critical_pod_test.go:46
I0822 19:01:41.165]     s

[2019-08-23 05:10] #72325 closed

[2019-08-23 05:11] mkumatag commented on #69098
/remove-lifecycle stale

[2019-08-23 05:12] SocietyCao commented on #81646
@Erically
First,you should delete that pod.
I have know the problem,you env $JAVA_COMMAND is empty,and your pod args is sh -c $JAVA_COMMAND,it equal to  "sh -c" .
I test it,when args is "sh -c ",kubernetes will automatic create containers all the day.
so you should ensure the env $JAVA_COMMAND have existed.

[2019-08-23 05:17] vivisidea commented on #75443
yep, I got exactly the same problem here.

[2019-08-23 06:06] madsonic commented on #53331
hmm seems to be still happening
I have a container that doesn't exit and another getting exit code 1 resulting in `Error` but these pods doesn't get reaped

[code]

[2019-08-23 06:11] #75708 closed

[2019-08-23 06:38] yue9944882 commented on #74560
got burnt by this bunch of times. this is driving me crazy.. 🤯

[2019-08-23 06:47] Nebulazhang opened #81827 "Can ResourceQuota limit CustomResource hard num"
Maybe ResourceQuota can limit the num of custom resource?

[2019-08-23 06:47] Nebulazhang commented on #81827
/ feature-requests

[2019-08-23 06:49] zouyee commented on #81824
/area e2e-test-framework
/sig testing
/kind bug
/priority important-soon

[2019-08-23 06:50] Nebulazhang commented on #81827
/sig scalability

[2019-08-23 07:00] pigletfly commented on #81761
/close

[2019-08-23 07:00] #81761 closed

[2019-08-23 07:04] uablrek commented on #79212
Duplicate https://github.com/kubernetes/kubernetes/issues/78550

[2019-08-23 07:07] Erically commented on #81646
```There is not pod about this container,another container likes this:```
![image](https://user-images.githubusercontent.com/7445436/63573266-74285c80-c5b7-11e9-913b-c6679dea47d5.png)
Both may be similar,command has problem,i.e. $JAVA_COMMAND is null,the #(nop) string exists.

[2019-08-23 07:15] uablrek commented on #77493
To check kernel-modules instead of functions is not limited to `kube-proxy` in k8s. I build my own kernel which was static from the start (with ipvs support). It was a very tiresome trial-and-error time to find out which functions k8s is checking by it's modules.

But those who build the Linux kernel probably can probably accept less "help", so a `--skip-module-check` flag to the apropriate k8s pr

[2019-08-23 07:53] uablrek commented on #66607
I made a comment in the wrong issue about this; https://github.com/kubernetes/kubernetes/issues/80297#issuecomment-512870305.

Note that the reverse is also wanted by other users, see #69845.

[2019-08-23 08:05] aojea commented on #81635
@jianzzha the error message says

can you check that you have the routes configured correctly on that node?
what's the output of `ip route get 10.98.211.230` and `ip route show` ?

[2019-08-23 08:14] max-rocket-internet commented on #78761
This is not the case.

[2019-08-23 08:49] xmudrii commented on #80332
As this issue is already resolved for 1.16, I'm going to remove it from the milestone. I'll leave the issue open until cherry-picks are not merged for tracking purposes.

/milestone clear

[2019-08-23 09:01] lbernail commented on #75443
In IPVS node, a virtual service should be created for all `<nodeip>:<nodeport>`
Could you give us the output of `ip addr` and `ipvsadm -Ln`?

[2019-08-23 09:03] makoscafee commented on #45419
@bboreham @soggiest  Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:04] makoscafee commented on #62277
@smarterclayton Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:05] makoscafee commented on #70502
@aveshagarwal Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:07] makoscafee commented on #78904
@liggitt Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:07] makoscafee commented on #43214
@liggitt Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:08] makoscafee commented on #79737
@yastij Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:09] makoscafee commented on #59848
@jpbetz @dims  Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:11] makoscafee commented on #78702
@cblecker Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:12] makoscafee commented on #80546
@dims @justaugustus @yastij Hello! I'm bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-23 09:12] zhangguanzhang commented on #75443
the vip is 100.64.2.65
[code]
ipvsadm -ln
[code]

[2019-08-23 09:24] lbernail commented on #81775
@andrewsykim yes, we definitely need a hard timeout. 5mn sounds good but some users may have pods remaining in terminating status for a long time?

@juliantaylor what should happen is the following:
- pod is deleted
- pod enters graceful termination and weight is set to zero
- no new connections to real server.
- pod exits and TCP connection is ended by the server (FIN)
- FIN triggers a status cha

[2019-08-23 09:27] lbernail commented on #75443
The second IP is not bound. It definitely should
I won't be able to have a look today but I'll try to reproduce

[2019-08-23 09:43] ramineni commented on #81746
/cc @yastij @wojtek-t

[2019-08-23 10:13] uablrek commented on #78421
I see this bug on 1.14.2, 1.14.6 and 1.15.2 but not on v1.16.0-beta.1.

[2019-08-23 10:26] xmudrii commented on #78897
/milestone clear

[2019-08-23 10:27] uablrek commented on #78421
[code]

[2019-08-23 10:27] #81734 closed

[2019-08-23 10:30] xmudrii commented on #49402
/milestone next-candidate

[2019-08-23 10:30] yastij commented on #81746
should be fixed by #81780

[2019-08-23 10:31] uablrek commented on #78421
/cc @andrewsykim

[2019-08-23 10:34] gerrywastaken commented on #48957
/reopen

[2019-08-23 10:46] uablrek commented on #78421
This issue should be solved with https://github.com/kubernetes/kubernetes/pull/80942

[2019-08-23 10:50] verb commented on #80875
#59484 has merged so this is fully unblocked. @praveensastry do you still plan on working on this?

[2019-08-23 11:11] juliantaylor commented on #75262
Couldn't the kube-proxy just not create the VS when the ip is not in the service-ip range of the cluster and there is no local endpoint and the traffic policy is Local?
That would at least help if the external loadbalancer range is different than the k8s service ip range and pod ip range.

The ipvs mode kube-proxy behavior seems to also be inconsistent with the iptables mode.
With iptables using e

[2019-08-23 11:55] #81766 closed

[2019-08-23 12:03] gjmzj commented on #80152
none,
i have little time to deal with it, maybe come back when a new k8s major release becomes available.

[2019-08-23 12:03] #80152 closed

[2019-08-23 12:21] #67118 closed

[2019-08-23 12:36] praseodym commented on #81813
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-08-23 12:37] praseodym commented on #81717
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-08-23 12:43] george-angel commented on #57049
/remove-lifecycle stale

[2019-08-23 12:44] blurpy commented on #75414
CoreDNS is still crashing in 1.14.6. Are we not getting a fix for the 1.14-release?

[2019-08-23 13:14] praveensastry commented on #80969
/remove-sig usability
/sig node

[2019-08-23 13:16] javendo opened #81837 "Leader election when Leader Machine goes down"
**What happened**: Kubernetes takes much time to realize the Node goes down when it is the one that `locks the kube-control-manager endpoint`.

**What you expected to happen**: Kubernetes should take the same time when I remove the `NIC interface` from a note that `locks the kube-control-manager endpoint` realizes the node goes down and put it as `NotReady`

**How to reproduce it (as minimally and

[2019-08-23 13:17] caretak3r commented on #79723
Suppose you have an existing EKS cluster, gateways, the whole nine yards...

Also, suppose you have a custom security group with entries already defined, for example, an SG that holds the rules of your corporate office network ranges, or even customer-specific IPs.

You **expect**, by using this SG id (sg-133780085) in conjunction with this service annotation that:
  - All other security groups ku

[2019-08-23 13:21] javendo commented on #81837
/sig nodecontroller

[2019-08-23 13:35] liggitt commented on #43214
there is still work in progress for this for 1.16. once that is completed (or deferred), I will move the milestone to 1.17

[2019-08-23 13:36] javendo commented on #81837
/sig nodecontroller

[2019-08-23 13:48] olivierlemasle commented on #81817
/sig cli

[2019-08-23 13:53] #81735 closed

[2019-08-23 14:30] jianzzha commented on #81635
I did something else on this node and didn't keep the original setup. After redeploy, the  CLUSTER-IP changed from 10.98.211.230 to 10.108.116.161. So following info is based on this new ip,

from master:
[root@perf16 ~]# kubectl expose deployment/nginx --port=80
service/nginx exposed
[root@perf16 ~]# kubectl get svc
NAME         TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)   AGE
kubernetes

[2019-08-23 14:42] SocietyCao commented on #78761
The pod is all ready?
 https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details

**If there were any missing metrics, we recompute the average more conservatively, assuming those pods were consuming 100% of the desired value in case of a scale down, and 0% in case of a scale up.**
I can only speculate this is the case

[2019-08-23 15:07] danwinship commented on #81677
For OpenShift / openshift-sdn, the approach we had started implementing is:
- You can have multiple non-overlapping cluster CIDRs
- You can add new CIDRs to the list, and you can replace a CIDR in the list with a larger-but-overlapping CIDR (eg, `10.0.1.0/24` → `10.0.0.0/16`)
  - (Doing this requires every node to notice the new CIDRs and update routing/NATting/etc rules accordingly.)
- You can re

[2019-08-23 15:13] krish7919 commented on #81469
Any updates? @zegl?

[2019-08-23 15:14] krish7919 commented on #81469
@kubernetes/sig-aws-bugs

[2019-08-23 15:15] krish7919 commented on #81469
Related to https://github.com/kubernetes/kubernetes/issues/73362

[2019-08-23 15:16] SocietyCao commented on #81646
The reason is container has been created,but it can't start successfully.
You can use 'docker start ' to start Created status container.
Then you will be get log about the container start error.
It will be  more easily to slove the question.
About:
https://docs.docker.com/engine/reference/commandline/create/

[2019-08-23 15:20] #72611 closed

[2019-08-23 15:23] #81779 closed

[2019-08-23 15:29] yastij commented on #81746
#81780 merged, once you re-run the tests feel free to close this.

[2019-08-23 15:48] liggitt commented on #78904
given there is no assigned owner, it does not appear so.

cc @kubernetes/sig-apps-misc for visibility on the need for stronger assertions in upgrade tests

[2019-08-23 15:52] alejandrox1 opened #81845 "[Failing Test] [sig-cli] Kubectl client [k8s.io] Simple pod should handle in-cluster config"
**Which jobs are failing / job(s) where test is present**:
* ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel
* ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew

**Which test(s) are failing**:
[sig-cli] Kubectl client [k8s.io] Simple pod should handle in-cluster config

**Since when has it been failing**:
It has been failing since 8/13.

**Testgrid link**:
* https://testgrid.k8s.io/sig-re

[2019-08-23 15:57] alejandrox1 commented on #81845
More organized look at the logs - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel/1164253841420455936#0:build-log.txt%3A26115
[code]

[2019-08-23 16:21] #75311 closed

[2019-08-23 16:23] alejandrox1 opened #81846 "[Failing Test] multiple conformance tests failing in kind"
**Which jobs are failing / job(s) where test is present:**:
* ci-kubernetes-kind-conformance-parallel-ipv6
* ci-kubernetes-kind-ipv6-e2e-parallel

**Which test(s) are failing**:
* [sig-network] DNS should provide DNS for services [Conformance]
* [sig-network] DNS should provide DNS for the cluster [Conformance]
* [sig-network] DNS should provide DNS for pods for Hostname [LinuxOnly] [Conformance]

[2019-08-23 16:35] droslean commented on #81746
@yastij Thanks! We will wait for the next run.

[2019-08-23 16:44] odinuge commented on #81845
Hi,
Looks like this is a result of https://github.com/kubernetes/kubernetes/pull/81330. The round tripper will now mask the token, replacing it with `<masked>` in the logs. The test (pre that PR) looked for the exact match of the token, in this case the value `invalid`.

The line in the test that fails the test is removed from master, but it is still a part of all current releases, except from `v1

[2019-08-23 16:47] aojea commented on #81846
/assign

I have a fix WIP but first I'll need to be able to run it in the CI to be 100% sure it fixes the problem.

I'd love to have this https://github.com/kubernetes/test-infra/pull/14027 merged so we can run my fix in the CI before merging.

[2019-08-23 16:53] josiahbjorgaard commented on #77873
Hi all, code freeze for v1.16 is coming up on Aug. 29 (in just 6 days). This issue is set for milestone v1.16, will it be solved by then? It will need to have a PR merged beforehand. If not, we will remove the v1.16 milestone.

[2019-08-23 17:04] alejandrox1 commented on #81845
Thank you @odinuge for the quick response!
I was looking over the test code in master puzzled why i saw no `gomega.Expect(err).To(gomega.ContainSubstring("Authorization: Bearer invalid"))` :sweat_smile:

[2019-08-23 17:06] odinuge commented on #81845
/cc @liggit

[2019-08-23 17:07] odinuge commented on #81845
/cc @liggitt

[2019-08-23 17:11] liggitt commented on #81845
whatever branches contain tests that run against 1.16 servers must remove the line that expects the token to be logged

[2019-08-23 17:23] odinuge commented on #81845
Do you want me to create patches removing the line for the `v1.15` and `v1.14` branches (looks like those run the tests) @alejandrox1?

[2019-08-23 17:26] liggitt commented on #81845
we run 1.14 e2e tests against master? that's unexpected

[2019-08-23 17:29] alejandrox1 commented on #81845
At least for 1.15. I haven't seen that error show up anywhere else

[2019-08-23 17:29] odinuge commented on #81845
You are correct, only 1.15. Must have read something wrong :sweat_smile:

[2019-08-23 17:39] skwokie opened #81852 "Cannot expose long array of ports because of 262144 characters limitation in annotation"
**What happened**:
Exposing 10000 (TCP and UDP) + 1 ports in a service is being blocked by the 262144 characters limitation for annotation.

Error message:
$ kubectl apply -f dev-svc-nodeport-svr.yaml
The Service "svr" is invalid: metadata.annotations: Too long: must have at most 262144 characters

YAML file size: 1.8M

**What you expected to happen**:
Service created successfully regardless of th

[2019-08-23 17:43] BenTheElder commented on #78702
No, there's not consensus yet. Can we get milestones removed from this
entirely?

On Fri, Aug 23, 2019, 02:14 Barnabas Makonda <notifications@github.com>
wrote:

[2019-08-23 17:48] skwokie commented on #81852
/sig cli

[2019-08-23 17:49] gnufied opened #81854 "Improve handling of readonly volume expansion"
Volumes that are attached as readonly or is mounted as readonly needs to be handled different for CSI. For CSI in particular - the decision of whether to expand the volume or not should be off loaded to CSI storage provider rather than kubernetes making the decision for them.

Fixing this for good will require a spec change in CSI I think and we will pursue this before making CSI expansion GA.

/s

[2019-08-23 17:57] #81380 closed

[2019-08-23 18:09] cblecker commented on #78702
/milestone clear

[2019-08-23 18:20] johnbelamaric commented on #75414
@rajansandeep perhaps we can update the branch?

[2019-08-23 18:30] rajansandeep commented on #75414
@johnbelamaric if we update the branch, we do it with the deployment workaround?

[2019-08-23 18:35] wenjiaswe commented on #80857
/cc @yliaog

[2019-08-23 18:51] chrisohaver commented on #75414
@rajansandeep, yes.  Moving to a version that fixes it is complicated by the required corefile migration.

[2019-08-23 18:52] johnbelamaric commented on #75414
yes

On Fri, Aug 23, 2019 at 11:33 AM Sandeep Rajan <notifications@github.com>
wrote:

[2019-08-23 19:23] #75724 closed

[2019-08-23 19:40] MikeSpreitzer opened #81861 "Inconsistent position of WithMaxInFlightLimit in handler chains"
**What happened**:
Working on a generalization of the max-in-flight filter, I noticed it is positioned inconsistently in the secure vs insecure handler chains.
At https://github.com/kubernetes/kubernetes/blob/a1f1f0b599e961a5c59b02c349c0ed818b1851a5/staging/src/k8s.io/apiserver/pkg/server/config.go#L589 I see it is very late in the secure handler chain, just before authorization.
At https://github

[2019-08-23 19:42] MikeSpreitzer commented on #81861
@kubernetes/sig-api-machinery-bugs

[2019-08-23 19:42] MikeSpreitzer commented on #81861
/cc @yue9944882

[2019-08-23 20:07] eldondevat commented on #33766
Adding a breadcrumb here for others: helm/charts/issues/12860

[2019-08-23 20:43] alculquicondor commented on #80775
I have a better idea that should comply with all concerns:

- Add `UnschedulableAndUnresolvable`
- Rename `Unschedulable` to `MaybeUnschedulable`
- Add `IsUnschedulable` method.

Names can be adjusted, but WDYT?

[2019-08-23 20:48] logicalhan opened #81863 "Metric validation static analysis should be able to support const strings for Subsystem and Name"
Metric validation currently expects stable metrics to have strings directly in the metric definition. However, we should probably also allow consts and vars which are declared in the pkg/file scope, since those can easily be evaluated to their respective string values.

/assign @serathius
/sig instrumentation

[2019-08-23 21:17] alculquicondor opened #81866 "[Framework] Filter plugins are not been called during preemption"
/sig scheduling

code reference: https://github.com/kubernetes/kubernetes/blob/f3816fb757732200a9357fd06241411de63a545a/pkg/scheduler/core/generic_scheduler.go

`genericScheduler.Preempt` calls directly `podFitsOnNode`, whereas `genericScheduler.Schedule` calls `podFitsOnNode` and later `framework.RunFilterPlugins`.

We need to make them consistent or move `framework.RunFilterPlugins` to `podFitsO

[2019-08-23 21:20] Arachnid commented on #65675
Google supports IPv6 for L4 loadbalancers now. Can we reopen this?

Kubernetes lets me specify an IPv6 `loadBalancerIP`, but then fails to allocate it to my load balancer.

[2019-08-23 21:20] Huang-Wei commented on #80775
`MaybeUnschedulable` sounds vague.. My 2 cents is to keep the name `Unschedulable` or a better name.

[2019-08-23 21:46] ryanmcnamara commented on #80968
Friendly ping @sjenning @derekwaynecarr
Proposed fix would be for the kubelet to notice this and fix it

[2019-08-23 21:47] surod22 commented on #44478
This would be a productive feature. Is it still in the pipeline to be added?

[2019-08-23 21:49] tedyu commented on #80775
Unschedulable can be kept.
We can add godoc to explain its meaning.

[2019-08-23 21:55] jpbetz commented on #80767
https://github.com/kubernetes/kubernetes/pull/81857 is ready for review. It adds our admission e2e tests to conformance as part of graduation to GA.

[2019-08-23 21:55] jpbetz commented on #81192
https://github.com/kubernetes/kubernetes/pull/81864 is ready for review. It adds our CRD e2e tests to conformance as part of graduation to GA.

[2019-08-23 22:05] jianzzha commented on #81635
I didn't even know how this entry gets generated in FORWARD chain:
 REJECT all -- * * 0.0.0.0/0 0.0.0.0/0 reject-with icmp-host-prohibited

nothing in the iptables/proxier.go would have done that.

[2019-08-23 22:23] sunshinekitty commented on #7890
/remove-lifecycle stale

[2019-08-23 22:26] #52865 closed

[2019-08-23 22:58] williamstein commented on #24137
I did as well just now (using Kubernetes 1.15.0), and I was able to clean up using your steps.

[2019-08-23 23:09] lukemassa opened #81873 "Create command `evict` to evict a single pod"
**What would you like to be added**:

Create command `evict` to evict a pod/group of pods matching a label.

**Why is this needed**:

For debugging and testing `PodDisruptionBudgets`, it would be nice to be able to evict a specific pod/pods instead of draining an entire node.

https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#the-eviction-api says to create an Eviction subreso

[2019-08-23 23:16] lukemassa commented on #81873
/sig cli

[2019-08-23 23:22] 2rs2ts commented on #72320
This is a big problem for us because our developers will often test broken stuff in our development clusters and leave it there and it breaks cluster-autoscaler and our other automation. Nodes that are "too far gone" should not block eviction

[2019-08-23 23:23] MrHohn opened #81874 "Passed in context is ignored in some GCE operations"
**What happened**:
Ref #81771, there are some GCE wrapper functions that don't properly respect the passed in context, e.g:
https://github.com/kubernetes/kubernetes/blob/5a3301a59d0c4d5e76002cff99a2f5450d2eea80/staging/src/k8s.io/legacy-cloud-providers/gce/gce_routes.go#L41-L45

We need to figure out a better way to handle this, but I'm hesitate to change it right away without enough thinking. Fil

[2019-08-23 23:23] 2rs2ts commented on #75957
I think the path forward here should be to disallow creating pods covered by more than one PDB, so that this becomes a non-issue.

[2019-08-23 23:23] MrHohn commented on #81874
/sig cloud-provider
/area provider/gcp

[2019-08-23 23:23] chipzoller opened #81875 "Add sort parameter to kubectl api-resources"
**What would you like to be added**:
Add a sort parameter (or similar concept) to the `kubectl api-resources` command.
**Why is this needed**:
With the numerous amount of API resources (not counting custom ones), it is sometimes difficult locating them in the output. By default, API resources are not sorted by the name column (the first on the left) and often this is the column holding the informa

[2019-08-23 23:26] kfox1111 commented on #27308
@liggitt  Tried it, but it fails. Issue raised here: https://github.com/kubernetes/kubectl/issues/708

[2019-08-23 23:28] wgliang commented on #81866
/assign
I can work on this

[2019-08-23 23:54] bowei commented on #81846
cc: @prameshj @MrHohn

[2019-08-24 00:59] #79990 closed

[2019-08-24 01:27] fejta opened #81878 "Allow modules that have an indirect dependency on k8s.io/kubernetes to do a minor module upgrade"
Any module that has a dependency on `k8s.io/kubernetes` cannot do minor module upgrades. This is true regardless of whether the dependency is direct (module has a k8s.io/kubernetes import) or indirect (module imports something that has this k8s.io/kubernetes import).

Reproduce with the following:

[code]

This happens because we intentionally ship a broken `go.mod` file declaring `v0.0.0` depende

[2019-08-24 01:30] fejta commented on #81878
/cc @cjcullen
I think this might be what you're running into

[2019-08-24 01:33] MikeSpreitzer opened #81879 "kube-proxy gives up too soon waiting for node registration in hack/local-up-cluster.sh"
**What happened**:
I checked out the latest `master` branch and tried `hack/local-up-cluster.sh`.  The kube-proxy gave up on trying to lookup the node, 4 second before the node registered itself.

[code]

Looking in `/tmp/kube-proxy.log`, I see it makes several failed attempts to GET its node; the last one ends like this:
[code]

In `kube-apiserver.log`, I see several failed attempts to GET the no

[2019-08-24 01:38] liggitt commented on #81878
The v0.0.0 versions mean something in your tree is depending directly on k8s.io/kubernetes, instead of one of the published staging repos

[2019-08-24 01:40] pabrahamusa commented on #81813
just saying, it would be nicer Kubernetes to provide something like a new attribute to spec say 'loadBalancing' with allowed values like ewma , roundrobin, weightedleast, random etc.. This will make a 'Service' more efficient. At the moment I have to use third-party tools to achieve this simple functionality.

spec:
clusterIP: 150.170.130.200
ports:
......
sessionAffinity: None
*loadBalancing: ewm

[2019-08-24 02:10] MikeSpreitzer commented on #81879
@kubernetes/sig-node-bugs

[2019-08-24 03:05] cpoole commented on #44546
I would like to re-open this as well. In our case we have pods that will boot up and be in an initialization state but not yet be ready.

This initialization state can take up to a minute or more. I'd our controllers to be aware if the pod has successfully started and is passing liveness checks so that it can start modifying external resources. It would be beneficial to distinguish between livenes

[2019-08-24 03:08] tedyu commented on #81874
How about checking the deadline of the passed in ctx:
[code]
If the timeout is longer than what cloud.ContextWithCallTimeout expects, create context with 1 hour timeout.

[2019-08-24 03:24] clkao commented on #72294
/remove-lifecycle rotten

[2019-08-24 03:52] vdoodala commented on #22822
I see these errors in api-server logs... any insights ???

I0824 03:36:03.188348       1 log.go:172] http: TLS handshake error from <worker node ip>:38680: remote error: tls: bad certificate
I0824 03:36:18.188186       1 log.go:172] http: TLS handshake error from <worker node ip>:42806: remote error: tls: bad certificate
I0824 03:36:33.188260       1 log.go:172] http: TLS handshake error from <wor

[2019-08-24 03:56] #81102 closed

[2019-08-24 04:15] vdoodala commented on #70411
i see these errors in api server logs

 I0823 21:15:54.398566       1 log.go:172] http: TLS handshake error from <worker node IP>:61674: remote error: tls: bad certificate
I0823 21:16:09.398307       1 log.go:172] http: TLS handshake error from <worker node IP>:30455: remote error: tls: bad certificate
I0823 21:16:24.402134       1 log.go:172] http: TLS handshake error from <worker node IP>:30151:

[2019-08-24 04:26] RainbowMango commented on #81874
We should consider ctx.cancel() as well as deadline.

[code]

How about monitor user's timeout like this? cancel our context when timeout.

[2019-08-24 04:37] furkanmustafa commented on #42125
I don't think that this issue is closed in any way.

[2019-08-24 04:56] tedyu commented on #81874
If the time period till ctx.Deadline() is shorter than 1 hour, there is no need to call cloud.ContextWithCallTimeout().
We can use ctx directly in that case.

[2019-08-24 06:15] phenixblue commented on #72956
Trying to get back on this.

PR #81882 submitted for `hack/lib/test.sh`

[2019-08-24 06:50] fejta commented on #81878
Any tips on how I can track down the indirect dependency on k8s.io/kubernetes?

[2019-08-24 08:09] adelwin commented on #63326
@andyzhangx so then this goes in to kube version 1.14.6 in AKS ? or how does this work?

[2019-08-24 08:43] raelga commented on #78352
/remove-lifecycle stale

[2019-08-24 10:57] neolit123 commented on #81102
to clarify https://github.com/kubernetes/kubernetes/pull/81752 enabled the support for _test.go files via a flag, but we still ignore them in k/k. see discussion in that PR.

[2019-08-24 12:06] smarterclayton commented on #62277
The k/k specific issues are now resolved.

[2019-08-24 13:11] andyzhangx commented on #63326
@adelwin It would only go into k8s v1.16.0 since it's not a critical bug, we don't want to do hot fix to the old release.

[2019-08-24 13:26] hex108 commented on #81866
I think we could convert `podFitsOnNode` to one or some filter plugins. And `genericScheduler.Preempt` could call `framework.RunFilterPlugins`.

[2019-08-24 13:30] mattjmcnaughton commented on #81723
Hi @andreib1 ! Thanks for posting - could you please share the version of k8s you're using?

[2019-08-24 13:34] mattjmcnaughton commented on #81723
Also, I'm looking at https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/ and wondering if something such as `kubectl get pod POD_NAME -o go-template="{{range .status.containerStatuses}}{{.lastState.terminated.message}}{{end}}"` could meet your use case.

[2019-08-24 13:37] mattjmcnaughton commented on #81781
/sig-network

Can you share more about what happens to `CoreDNS`, `Nginx Ingress`, etc... after the initial timeout? Will they continue to retry until the calico network is up and the requests succeed? Or after trying once will they stop trying.

[2019-08-24 13:39] mattjmcnaughton commented on #81781
An additional (maybe worse) option is using pod readiness checks to determine whether the pod has network access...

[2019-08-24 13:42] mattjmcnaughton commented on #81756
Interesting! So @zouyee am I understanding right that you're suggesting `--pod-infra-container-image` is mistakenly listed as a docker only flag, which it actually applies to multiple CRIs? Is it guaranteed that it will apply to the CRIs in the future, or is that just by chance?

[2019-08-24 13:58] mattjmcnaughton commented on #81657
I'll fix `test/integration/kubelet`.

[2019-08-24 14:00] migueleliasweb commented on #29838
Hey all! Just so you know the aforementioned command `kubectl get events --sort-by='.lastTimestamp'` really works **but it only works without the `--field-selector involvedObject.name=<your-object-name-here>**.

Once the involvedObject is added to the command, the sorting goes crazy again =(.

[2019-08-24 14:23] andreib1 commented on #81723
Hi, My client is currently using Kubernetes 1.12.8-gke.10

My use case is to use Stackdriver Monitoring to alert me as to pods getting terminated due to pods failing liveness/readiness, or pods exceeding memory limits.  At the moment the only application component that has that information responsibility is Kubelet.  Kubelet does output the fact that it killed a pod, but doesn't give any proper re

[2019-08-24 14:41] ahg-g commented on #80775
I suggest we move on with @bsalamat suggestion.

[2019-08-24 15:10] zouyee commented on #81756
Yes, `--pod-infra-container-image` also applies to other CRI, but only works on `imageGC`.

[2019-08-24 15:32] arbourd commented on #7890
/remove-lifecycle stale

[2019-08-24 15:35] praseodym commented on #81657
I'll also fix:
[code]

[2019-08-24 17:01] MikeSpreitzer opened #81888 "Misleading field comments in wait.Backoff"
**What happened**:
While revising clients of `k8s.io/apimachinery/pkg/util/wait/wait.go` I noticed that some comments there are misleading.  I am looking https://github.com/kubernetes/apimachinery/blob/8ca64af22337b053ca4477f52d2fb15ebde43eee/pkg/util/wait/wait.go , which is in the latest commit in `master` at the moment.  The comments on the `Steps` and `Jitter` fields of `Backoff` contradict how

[2019-08-24 17:01] MikeSpreitzer commented on #81888
@kubernetes/sig-architecture-bugs

[2019-08-24 17:02] MikeSpreitzer commented on #81888
@kubernetes/sig-api-machinery-bugs

[2019-08-24 17:03] MikeSpreitzer commented on #81888
/remove-sig architecture

[2019-08-24 17:17] liggitt commented on #81827
object count quota is supported for custom resources in 1.15+

See https://kubernetes.io/docs/concepts/policy/resource-quotas/#object-count-quota

/close

[2019-08-24 17:17] #81827 closed

[2019-08-24 17:53] fejta-bot opened #81890 "pr:pull-kubernetes-e2e-gce-100-performance flaked 38 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **38**
 Consistency: **95.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 22 |
| Timeout | 9 |
| ClusterLoaderV2 | 8 |

#### Previously closed issues for this job flaking:
#73884 #67295 #62592

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-08-24 20:36] annProg commented on #81781
@mattjmcnaughton If service don't check container network, they all initial successful. But they can not use container network. So they can not connect to `CoreDNS`, also `Nginx Ingress` can not connect to upstream IP.

readiness may be an option. But every service has to do this.

[2019-08-24 20:48] #75786 closed

[2019-08-24 21:39] nistiwar commented on #47711
same issue for a custom helm that I created:

kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.10", GitCommit:"37d169313237cb4ceb2cc4bef300f2ae3053c1a2", GitTreeState:"clean", BuildDate:"2019-08-19T10:52:43Z", GoVersion:"go1.11.13", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"216694

[2019-08-24 22:29] nistiwar commented on #47711
Got it, apparently realized that its not only the selector that has to match labels. The port names should be the same in the pod definition and services definition as well. The latter was the culprit in my case.

[2019-08-24 23:49] chipzoller commented on #81875
/sig usability

[2019-08-25 02:20] CH-rahulprabhu opened #81900 "[apiserver][goroutines] Seeing a big increase in goroutines"
**What happened**:

We are running kubernetes that was bootstrapped to 1.13.5 and then upgraded to 1.13.10. We are seeing a huge increase in goroutines as we rotated all our kubelets.

**What you expected to happen**:
Number of goroutines are flat.

**How to reproduce it (as minimally and precisely as possible)**:
change the binaries for kubelet to 1.13.10 from 1.13.5

** More info**:

seeing a ri

[2019-08-25 02:23] #81900 closed

[2019-08-25 02:24] tw3rp opened #81901 "[k8s][apiserver] goroutines increasing after upgrade"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-08-25 02:26] tw3rp commented on #81901
/sig api-machinery

[2019-08-25 04:44] praveensastry commented on #80875
@verb yes please, I was busy for a while with personal stuff.. I'll try and finish this within this week.

[2019-08-25 05:33] CH-rahulprabhu commented on #81901
/sig apiserver

[2019-08-25 06:18] adelwin commented on #63326
got it. thanks Andy.

[2019-08-25 08:03] lovejoy commented on #64743
https://access.redhat.com/solutions/3659011 this may help you . update your kernel to 3.10.0-957.27.2

[2019-08-25 10:01] #75768 closed

[2019-08-25 10:30] xiaoxubeii commented on #81587
Has been resolved.

[2019-08-25 10:30] #81587 closed

[2019-08-25 10:46] hazcod commented on #74414
/remove-lifecycle stale

[2019-08-25 12:57] george-angel commented on #73666
/remove-lifecycle stale

[2019-08-25 13:36] gawicks commented on #53889
Try disabling SELinux first

[2019-08-25 13:54] tw3rp commented on #81901
This is the goroutine that is getting created a lot!

[code]

[2019-08-25 13:55] tw3rp commented on #81901
/sig scalability

[2019-08-25 13:56] tw3rp commented on #81901
/sig K8s Infra

[2019-08-25 14:04] tw3rp commented on #81901
and this is what I see most of the heap like

[code]

[2019-08-25 14:14] olivierlemasle commented on #81878
/sig architecture

[2019-08-25 14:21] mattjmcnaughton commented on #81723
On Sat, Aug 24, 2019 at 07:24:25AM -0700, Andrei wrote:

Hmm, I am a little surprised that this type of information isn't already
available. I'm going to see if any other community members know how to access it
of the top of their heads. If no one responds in a couple of days, can you ping
me and I'll try and look into the source code.

If this info truly isn't available at all, then I'm inclined

[2019-08-25 14:25] mattjmcnaughton commented on #81756
On Sat, Aug 24, 2019 at 08:10:50AM -0700, Zou Nengren wrote:

Cool - yeah, definitely sounds like some documentation updates could be helpful.
Happy to review a pr :)

[2019-08-25 14:30] mattjmcnaughton commented on #81781
Interesting interesting!

In the short term, the readiness check may be the best option (although I realize its a pain to add to every pod). Perhaps a mutating admission controller could help make this more seamless? It's also possible there's a better short term solution, and I just don't know it.

In the longer term, I'm interested to hear from the community re options to solve this issue on a l

[2019-08-25 14:43] tedyu commented on #81901
Instead of spawning goroutine for every timeoutHandler#ServeHTTP, we can utilize worker pool where each worker performs what goroutine does starting at line 99 in vendor/k8s.io/apiserver/pkg/server/filters/timeout.go

[2019-08-25 14:43] liggitt commented on #81878
In your case, it looks like a direct dependency… test-infra depends directly on k8s.io/kubernetes

[2019-08-25 14:47] mattjmcnaughton commented on #81657
I'll take `test/utils/...`.

[2019-08-25 15:05] achilles42 opened #81905 "Data discrepancy in Current memory usage metrics between kubectl top command and metrics exposed by kubelet(scraped by Prometheus)"
**What happened**:
There is a metrics discrepancy in current memory usage metrics for pods.
Using the following sources to view the memory usage for a pod
1. Kubectl top po <pod_name>
2. container_memory_usage_bytes metrics exposed by CAdvisor and scraped by Prometheus.

For example, a pod with memory request: 16GB, memory limit: 26 GB has current memory. Kubectl command is returning 7547Mi. Metri

[2019-08-25 15:10] aojea commented on #81846
This is the fix https://github.com/kubernetes/kubernetes/pull/81750

[2019-08-25 16:12] Moshem123 opened #81906 "Events API hangs"
**What happened**:
I cannot run `kubectl describe...` for anything (deployment, pod, node, every possible object), I'm getting 504 Gateway Timeout:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl describe deployment -n kube-system tiller-deploy -v=10`

**Anything else we need to know?**:
I noticed only calls to `/api/.../events` a

[2019-08-25 16:19] Dieken commented on #81451
@dashpole

@SataQiu is right, I want to collect only recent stdout logs by watching docker daemon’s CONTAINER_ID/CONTAINER_ID-json.log files, originally my log collector has a bug, it thought a pod that declared only one container in YAML would correspond to one container at runtime, but actually it may have two, one dead, one live, unluckily my log collector sometimes watched the dead container’s

[2019-08-25 16:26] fejta commented on #81878
Can you point to a file in the repo that depends on it?

This isn't what go.mod says, and I am struggling to find any files that import it. I must be missing something?

[2019-08-25 16:45] Moshem123 commented on #81906
/sig api-machinery

[2019-08-25 17:08] yelhouti commented on #78169
/open

[2019-08-25 17:09] yelhouti commented on #78169
/reopen

[2019-08-25 17:50] palnabarun commented on #81657
I'm taking up

[code]

[2019-08-25 17:55] liggitt commented on #81878
Oops, missed that it was indirect

`go mod graph` will tell you where that dependency comes from

[2019-08-25 18:02] praseodym commented on #81657
@palnabarun there already is a PR for `test/images`, see above

[2019-08-25 18:03] palnabarun commented on #81657
@praseodym Oh! Sorry. While searching for taken up files, I missed that.

I am removing those from my list.

[2019-08-25 18:41] jenoOvchi commented on #60807
Thank you!
It works good.
I create simple app use this workaround: https://github.com/jenoOvchi/k8sdelns
I use it for fast deletion and hope it will be helpful for someone.

[2019-08-25 18:48] bdowling commented on #81055
@cjcullen Do you think this issue could have any relation to #12167 ?

We are still experiencing this issue, and it is very frustrating to troubleshoot.  I saw one slightly different error occur today, but this only happened once so far:

[code]

[2019-08-25 19:10] #61259 closed

[2019-08-25 20:26] eytan-avisror commented on #81901
Seeing similar behavior with 1.13.10, memory usage is spiking from apiserver until it gets evicted/rescheduled.

[2019-08-25 20:42] CH-rahulprabhu commented on #81901
Do you know if this is happening in >1.14 as well ?

[2019-08-25 20:44] tw3rp commented on #81901
@tedyu yea, putting it in a worker pool will solve this issue

@eytan-avisror do you happen to know if it is solved in >= v1.14  ?

[2019-08-25 20:46] eytan-avisror commented on #81901
@tw3rp Sorry, havent tried 1.14 yet, have just found this issue after rolling out 1.13.10 very recently

[2019-08-25 20:50] tw3rp commented on #81901
oh gotcha, the diff between 1.13.5 -> 1.13.10 does not look very suspicious tho. I upgraded the control plane first and it was fine for a day and this triggered when I converted the kubelets to 1.13.10.

[2019-08-25 20:52] bdowling commented on #81055
A little metrics gathering...

[code]

[2019-08-25 20:53] tw3rp commented on #81901
Looking at the code, the goroutine is triggered by timeout.go in server/filters.go and chansend is called here https://github.com/kubernetes/apiserver/blob/b43e7957483c8057f5f25918b07a34b9be66da5a/pkg/server/filters/timeout.go#L106 but then it just sits in gopark and panic() is not called  here https://github.com/kubernetes/apiserver/blob/b43e7957483c8057f5f25918b07a34b9be66da5a/pkg/server/filters

[2019-08-25 21:17] rikatz commented on #81729
Can confirm the behavior. Tested in a Linux Mint that ships with conntrack-tools 1.4.4 (compiled with libnetfilter-conntrack 1.0.6).

After recompiling it to conntrack-tools 1.4.5 and libnefilter-conntrack 1.0.7 it works like a charm :)

Debian 9.8 (used in Kubernetes images) and 9.9 ships with conntrack 1.4.4, while Buster (10) ships with the newer version.

@vllry is this the case we should take

[2019-08-25 21:18] kargakis commented on #27362
@seanturner83 @InfinityGone recreate deployments wait for the termination of an old version **only** during a deployment upgrade. The deployment api has been designed with availability in mind and cannot ensure consistency during node upgrades (use PDBs), unexpected node shutdowns, or any other reason that could cause a pod to be recreated (apart from deployment upgrades). If your application has

[2019-08-25 21:32] rikatz commented on #81556
Hi @mohibkhan-nedian

It seems the Pods are being evicted, by some reason other than a bug into here. You can take a look into ``kubectl describe pod nginx-ingress-controller-586cdc477c-jr8fc -n kube-system`` to check what really happened (memory? some taint into your minikube node).

While this is the official minikube addon install guide, I would recommend you to follow the mandatory steps (here

[2019-08-25 23:24] dims commented on #77024
etcd is now at 3.3.15, but kustomize is gonna be a bit of challenge, there's a new a 3.x (v3) with lots of changes, we could try 2.1.0 (still has some api changes)

[2019-08-26 00:35] dims commented on #81197
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial is consistently green, @alejandrox1 can we close this now?

[2019-08-26 00:37] prameshj commented on #78169
Then, there need to be rules in the host iptables to inject DNS packets to the veth used by the nodelocaldns container. Currently, this is out of scope for nodelocaldns. This appears to be a new feature request.

[2019-08-26 01:41] w313062006 commented on #81773
ok,thx

[2019-08-26 02:08] feiskyer commented on #62046
@daschott Thanks for the information. Do you think we're ok to report an error if Windows Server version is <18945?

[2019-08-26 02:09] dims commented on #80715
got past the problem with docker starting up properly, next problem in the ci job is being tackled here:
https://github.com/kubernetes/release/pull/861

[2019-08-26 02:18] Oskoss commented on #44165
/reopen

[2019-08-26 02:31] deitch commented on #44165
/reopen

[2019-08-26 03:04] jianzzha commented on #81635
it turns out this REJECT entry in FORWARD chain is a firewalld default entry in centos7. The problem is that when flannel added the two ACCEPT entries, it appended the ACCEPT entries after this REJECT entry, therefore the legitimate packets was denied.

I would propose the following solution:
1) kube-proxy add one extra chain (something like "FLANNEL-FORWARD") in FORWARD right after  KUBE-SERVICES

[2019-08-26 03:17] jianzzha commented on #81635
This rule order issue was already reported on flannel:
 https://github.com/coreos/flannel/issues/1033

No solution was given on the flannel side. I think my proposal would be the right approach :) the flip side is that we need update on both projects.

[2019-08-26 03:17] chendave opened #81920 "image tags is not correctly defined on arm paltform"
**What happened**:
some of base images support multi-arch,  if no platform specified, the image pulled will actually reflect where the operation is performed, current implementation always assume the default platform is amd64 which make the tags is not correctly defined.

for example,

on arm64 platform, here is what I got after build the image of ipc-utils,
[code]

**What you expected to happen**

[2019-08-26 03:18] chendave commented on #81920
/assign

[2019-08-26 04:07] yue9944882 commented on #81901
not likely timeout handler to blame.. it hasnt changed for a period of time.. after upgrading your kubelets seems raising much more requests than before

[2019-08-26 04:27] k-toyoda-pi commented on #81427
I will work on ```test/e2e/apps/*.go```

[2019-08-26 04:29] #79244 closed

[2019-08-26 04:39] tw3rp commented on #81901
How would I go about debugging why there are so many requests? or how can I find out the source for the rise in requests?

[2019-08-26 04:49] tw3rp commented on #81901
The apiserver sum by rate has not changed significantly over the period before we upgraded the kubelets

<img width="1375" alt="Screen Shot 2019-08-25 at 9 46 51 PM" src="https://user-images.githubusercontent.com/9117091/63665849-fa909a00-c781-11e9-85b8-93d07bbe991a.png">

[2019-08-26 05:05] carlory commented on #81657
I'm taking up

[code]

[2019-08-26 05:17] hwdef commented on #81657
@carlory
there already is a PR for cluster/images/etcd/migrate, see [https://github.com/kubernetes/kubernetes/pull/81757](url)

[2019-08-26 05:18] carlory commented on #81657
@hwdef Sorry. I am removing those from my list

[2019-08-26 05:40] carlory commented on #81657
I will also pick up

[code]

[2019-08-26 05:44] haani-niyaz commented on #43916
Is the node `MemoryPressure` supposed to return a false positive or report sufficient memory available?

[2019-08-26 05:59] SataQiu commented on #81427
`test/e2e_kubeadm/*` fixed by #81925

[2019-08-26 07:22] blurpy commented on #75414
A workaround for 1.14 sounds good to me!

[2019-08-26 07:30] carlory commented on #81657
I will also pick up

[code]

[2019-08-26 07:42] saschagrunert opened #81930 "1.16 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.16 Release Notes. If you know of issues or API changes that are going out in 1.16, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @cartyc @kcmartin @onyiny-ang @paulbouwer

/sig release
/milestone v1.16

[2019-08-26 07:43] saschagrunert commented on #81930
@onyiny-ang can you please set the milestone for me?

[2019-08-26 07:50] zhlhahaha commented on #81323
Sorry @dims , I just saw your answer. Kubetest still not work for e2e local test, but I am currently using e2e.test binary to run the test. It works fine. Thanks for your answer.

[2019-08-26 07:50] #81323 closed

[2019-08-26 08:02] ACK-lcn commented on #60807
Kubernetes 1.12.2 namespaces are in the Terminating state. Sometimes the finalizers can be deleted by modifying the yaml of ns. It cannot be deleted by api. Can it be deleted? What is the situation? Have we specifically tracked it (prerequisite: there are no resources in this ns), I hope I can get pointers, thank you!

[2019-08-26 08:13] Erically commented on #81646
okay,I will try.

[2019-08-26 08:13] yiqian987 commented on #72811
Yes, I also encountered this problem because the reserved value is often less than the limit value.

[2019-08-26 08:21] RainbowMango commented on #81874
Another option may be better:
[code]

[2019-08-26 08:23] #15863 closed

[2019-08-26 08:29] palnabarun commented on #81657
I'm picking up:
[code]

and

[code]

[2019-08-26 08:34] alvaroaleman commented on #60807
Again, please do not remove the finalizer, it is there for a reason. Try to instead find out which resources in the NS are pending deletion by:

* Checking if any apiservice is unavailable and hence doesn't serve its resources: `kubectl get apiservice|grep False`
* Finding all resources that still exist via `kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get -n $your-

[2019-08-26 08:36] RainbowMango commented on #81657
@palnabarun
I'm working on `vendor/k8s.io/client-go/*`, maybe you can fix `vendor/k8s.io/kubectl/*` first.

[2019-08-26 09:23] jenoOvchi commented on #60807
How right you are.
In my case pod of Operator Framework apiservice was deleted and block terminating process.
Removing an unused apiservice (kubectl delete apiservice <apiservice-name>) solved the problem.

[2019-08-26 09:30] palnabarun commented on #81657
@RainbowMango Sure. Your comment was minimized so missed it. :)

[2019-08-26 09:54] s-ito-ts commented on #81427
I will work on test/e2e/scheduling/*.go

[2019-08-26 10:09] skbly7 commented on #72511
/help
/unassign

Sorry, I am unable to actively look into this issue right now.

[2019-08-26 10:13] carlory commented on #81657
I'm picking up:

[code]

[2019-08-26 10:25] Songjoy commented on #81657
I'm picking up:

[code]

[2019-08-26 10:26] Zhuzhenghao commented on #81657
I'm picking up:
[code]

[2019-08-26 10:30] palnabarun commented on #81657
I am also picking up:

[code]

except the following as they have been taken up

[code]

[2019-08-26 10:40] Soorya135 opened #81937 "Issue related to initializing of kubernetes cluster"
HI,

I am trying to install the kubernetes cluster on ubuntu 18.04,when i try to the below command.

kubeadm init --pod-network-cidr=10.244.10.0/16 --apiserver-advertise-address=10.0.15.10 --kubernetes-version "1.14.0"
Seeing below errors:

error execution phase preflight: [preflight] Some fatal errors occurred:
        [ERROR ImagePull]: failed to pull image k8s.gcr.io/kube-apiserver:v1.14.0: out

[2019-08-26 10:44] Soorya135 commented on #81937
/sig bugs

[2019-08-26 10:54] Soorya135 commented on #67664
/sig bug

[2019-08-26 11:29] RainbowMango commented on #81657
@carlory The items you picking up conflict with others.  I will try to post the unclaimed list that you can pick from.

[2019-08-26 11:33] RainbowMango commented on #81657
For guys easy pick task, anyone wants help can pick from this list, I will delete items once it has been picked.

[code]

[2019-08-26 11:35] palnabarun commented on #81657
I was thinking of taking up:

[code]

[2019-08-26 11:49] carlory commented on #81657
@RainbowMango thanks for your time, I will take up:

[code]

[2019-08-26 11:52] rikatz commented on #81556
/assign @rikatz

[2019-08-26 11:55] RainbowMango commented on #81657
Remaining tasks:
[code]

[2019-08-26 12:00] glensc commented on #20227
@tomekit (https://github.com/kubernetes/kubernetes/issues/20227#issuecomment-469010698): can you post your `ngrok` example details here?

[2019-08-26 12:00] rikatz commented on #45419
@makoscafee Can confirm this doesn't happen anymore in 1.13.6 (and further versions) and docker 18.06.3-ce

For us, this seems to be somehow related to a Timeout while calling CNI or some external integration.

We've faced this recently but with other scenario, while some of the NFS servers used in our cluster cracked (and the whole I/O from our nodes has freezed), kubelet started printing PLEG is

[2019-08-26 12:10] dcopestake opened #81938 "HTTP readiness/liveness probes always fail from Windows node against container running on same node"
**What happened**:

Readiness/liveness probes from a Windows node against container running on same node using `httpGet` always seem to fail causing a never-ending loop of pods being terminated and recreated.

**What you expected to happen**:

If I configure a readiness/liveness probe for a Windows container in a pod and that container is functioning as expected, I expect the probe to succeed and

[2019-08-26 12:11] dcopestake commented on #81938
@kubernetes/sig-windows

[2019-08-26 12:13] rikatz commented on #81937
@Soorya135 it seems that you have some sort of proxy/firewall doing a MITM.

I've tested here trying to pull the container directly (``docker pull k8s.gcr.io/kube-controller-manager:v1.14.0``) and all worked fine here.

Please confirm if you can pull the image directly, otherwise it seems a problem with your network connectivity

/assign @rikatz

[2019-08-26 12:13] carlory commented on #81657
@RainbowMango

 there already is a PR for `cluster/images/etcd-version-monitor`, see #81923

[2019-08-26 12:17] dcopestake commented on #81938
@kubernetes/sig-windows-bugs

[2019-08-26 12:18] RainbowMango commented on #81657
Thanks. @carlory

Update remaining tasks:
[code]

[2019-08-26 12:20] neolit123 opened #81939 "cleanup ginkgo.Fail calls from the e2e test framework"
/help
/kind cleanup
/area e2e-testing-framework

mini guide:
- make sure you have signed the CNCF [CLA](https://github.com/kubernetes/community/blob/master/CLA.md)
- clone kubernetes;/kubernetes
- search for ginkgo.Fail calls under test/e2e/framework
e.g. https://github.com/kubernetes/kubernetes/search?q=%22ginkgo.Fail%22&unscoped_q=%22ginkgo.Fail%22
- replace them with this [wrapper function](htt

[2019-08-26 12:21] neolit123 commented on #81939
/remove-kind feature
/area e2e-test-framework

[2019-08-26 12:22] carlory commented on #81657
I will pick up

[code]

@RainbowMango there already is a PR for `pkg/printers/*`, see https://github.com/kubernetes/kubernetes/pull/81934

[2019-08-26 12:27] carlory commented on #81657
Update remaining tasks:

[code]

[2019-08-26 12:27] #54567 closed

[2019-08-26 12:29] AceHack commented on #20227
Any update?

[2019-08-26 12:33] yuchengwu commented on #65517
encountered same issue, as @CaoShuFeng  suggested `delete all files under .kube/http-cache/` the error will not show up.

[2019-08-26 12:39] carlory commented on #81657
I will pick up

[code]

[2019-08-26 12:44] Hyzhou opened #81942 "Improve the docs link which is easy to fail"
**What would you like to be added**:
The docs link to the "https://git.k8s.io/community/" will be broken when the docs path has changed. We may discuss a way to improve it.

Issue from this PR: https://github.com/kubernetes/kubernetes/pull/81770

**Why is this needed**:

[2019-08-26 12:55] matthias50 commented on #80967
@ripta, would the approach I am proposing in #81805 be workable to address your issue?

[2019-08-26 13:09] carlory commented on #81657
Update remaining tasks:

[code]

[2019-08-26 13:16] alejandrox1 commented on #81198
@MrHohn @rramkumar1 any help would be appreciated.
recently, this stage has been flaking a bit more frequently https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-ingress&test=diffResources

[2019-08-26 13:17] tg90nor commented on #65675
@Arachnid thockins last comment is still valid. Kube services on GCP uses the Network Load Balancer, which does not support IPv6.

[2019-08-26 13:20] alejandrox1 commented on #81746
Seems like #81780 might have worked although there are some residual sig- network test failures.

@ramineni would you happen to know why this job stops running for days?

[2019-08-26 13:28] #75880 closed

[2019-08-26 13:33] alejandrox1 commented on #81746
/remove-sig scheduling
/cc @kubernetes/sig-network-test-failures

[2019-08-26 13:33] hongBry commented on #77943
@absinabs  I have the same problem as you, how did you solve it?

[2019-08-26 13:35] alejandrox1 commented on #81197
Ah sorry for the delay.
This has indeed been resolved.
/close

[2019-08-26 13:35] #81197 closed

[2019-08-26 13:39] deads2k opened #81945 "kube-apiserver responses should not be cached"
The kube-apiserver is protected, so it's responses should not be cached. The only known exception is for openapi data which is not sensitive, which is large, and which has etags.

/assign

[2019-08-26 13:40] hongBry commented on #77943
@PatrickLang Hi，I have the same problem as this issue, did you have solution to solve it?

[2019-08-26 13:44] onyiny-ang commented on #81930
/milestone v1.16

[2019-08-26 13:47] neolit123 commented on #81939
/sig testing

[2019-08-26 13:49] oxddr commented on #76012
This was done by https://github.com/kubernetes/perf-tests/issues/612 (only cleanup left) and https://github.com/kubernetes/perf-tests/issues/597.

/close

[2019-08-26 13:49] #76012 closed

[2019-08-26 13:54] beautytiger commented on #81939
@neolit123
I will take this.

[2019-08-26 14:25] alihalabyah commented on #77943
Any updates?

[2019-08-26 14:45] beautytiger commented on #81657
working on
[code]

[2019-08-26 14:49] absinabs commented on #77943
I do not have the solution of this issue .

On Mon, Aug 26, 2019 at 7:58 PM Ali Halabyah <notifications@github.com>
wrote:

--
Abhishek Singh

[2019-08-26 15:02] hongBry commented on #77943
@absinabs so you restart the windows node when the status of node is unknown.

[2019-08-26 15:42] bboreham commented on #45419
@makoscafee as I [commented before](https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-490843484), there are many people reporting many things in this issue; I shall answer here on the specific point of timing-out a CNI request.

From looking at the code, I do not think kubelet has been updated to use the new behaviour in CNI where the context can be cancelled.

E.g. calling CNI he

[2019-08-26 15:51] ttousai commented on #77988
Hello! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-26 15:52] tweks commented on #81491
@spiffxp, following up on this - is there anything else to be done on our side?

[2019-08-26 15:53] ttousai commented on #73655
Hello! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-26 15:56] ttousai commented on #72252
Hello @liggitt ! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-26 16:20] ttousai commented on #77081
Hello! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-26 16:21] Soorya135 commented on #81937
HI ,
Thanks for your kind reply.
I tried to run the command "docker pull k8s.gcr.io/kube-controller-manager:v1.14.0"
it says Error response from daemon : Get https://registry-1.docker.io/v2/: remote error : tls access denied.
I tried to run at my home network,not able to understand why i am getting access denied error...Any guidance on this plz
Regards,Soorya
    On Monday, 26 August, 2019, 05:46:

[2019-08-26 16:24] ttousai commented on #69654
Hello @liggitt! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-26 16:27] ttousai commented on #73099
Hello! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-26 16:30] ttousai commented on #78968
Hello @justaugustus ! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 3 days from now), do you think this issue can make 1.16?

[2019-08-26 17:02] Soorya135 commented on #81937
HI,
Thank you.I will close the issue.
Can you pls provide any wiki which gives information on installing kubernetes manually on ubuntu 18.04 .....
Regards,Soorya.
    On Monday, 26 August, 2019, 10:21:19 pm IST, Kubernetes Prow Robot <notifications@github.com> wrote:

@rikatz: You can't close an active issue/PR unless you authored it or you are a collaborator.

In response to this:

/close

Instru

[2019-08-26 17:56] xmudrii commented on #69871
@spiffxp #80213 got merged recently. Is this issue still supposed to be open/targeted for 1.16?

[2019-08-26 17:56] xmudrii commented on #73585
@wojtek-t Should this issue be closed then?

[2019-08-26 18:01] xmudrii commented on #62277
@smarterclayton What should be done before this issue can be closed or removed from the milestone?

[2019-08-26 18:04] xmudrii commented on #77988
@apelisse I'm going to move this issue out of the milestone. If anything changes please let us know.

/milestone clear

[2019-08-26 18:10] serathius commented on #81863
SGTM, I will try to work on it next week.

[2019-08-26 18:32] xmudrii commented on #80571
@MSSedusch @feiskyer Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 4 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:33] xmudrii commented on #78893
@feiskyer @justaugustus Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:33] xmudrii commented on #78199
@zhan849 @justinsb Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:33] xmudrii commented on #58034
@feiskyer Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:33] xmudrii commented on #77019
@justinsb Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:33] xmudrii commented on #74282
@johnSchnake Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:34] xmudrii commented on #81052
@spiffxp Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:34] xmudrii commented on #80374
@dims Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:35] xmudrii commented on #70890
Hello! I'm the bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. The code freeze is starting on August 29th EOD PST (about 5 days from now) and once the code freeze starts, only release-blocking changes will be considered to be merged. Is this issue still planned to be fixed for the 1.16 release?

[2019-08-26 18:38] aojea commented on #42125
/remove-lifecycle rotten
/reopen

I think that this should be reconsidered for dual-stack, a node will have an IPv4 and an IPv6 internal address on dual-stack environments

/cc @khenidak @thockin

[2019-08-26 18:52] bclau commented on #69871
We can close it for now and reopen when there are more tests in this situation.

/close

[2019-08-26 19:43] xmudrii commented on #80374
/priority important-longterm
/remove-priority important-soon

[2019-08-26 20:06] codenrhoden opened #81963 "Cleanup MakeFile/MakeDir in hostpath volume driver"
**What would you like to be added**:

As part of https://github.com/kubernetes/kubernetes/pull/81739, it was discovered that the two methods `MakeFile` and `MakeDir` probably do not behave as expected. Details are captured [here](https://github.com/kubernetes/kubernetes/pull/81739#issuecomment-523623167), but the basic issues are:

- The methods do not do any check if the requested path already ex

[2019-08-26 20:45] hh commented on #81759
/area conformance

[2019-08-26 21:18] felixfbecker commented on #80916
Does this solve the use case of doing a server-side apply over a previously updated resource with the same field manager?

[2019-08-26 21:46] prameshj opened #81966 "GCE InternalLoadBalancer does not accept a custom subnet for IP address allocation"
**What happened**:
ILB ip addresses come from the subnet that the K8s cluster uses. There is no ability to specify a different subnet.
**What you expected to happen**:
ILB ip addresses should be allocated from a different subnet if specified.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl v

[2019-08-26 22:22] aojea commented on #78968
I think that those guidelines only apply to the distribution packages, i.e. the ones that each distribution package and consider part of its distribution.
In this case, IIUIC, these are `kubernetes` packages. Most of the distros follow the FHS https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard, and based on that seem that the `/opt` folder seems to be a good place based on the content.

h

[2019-08-26 22:38] odinuge commented on #81726
Yes, `50x2MiB` is correct. Thanks for catching the typo :smile:

[2019-08-26 23:30] k-toyoda-pi commented on #72956
Could you please review PRs?
- validate-cluster.sh #81345
- image-util.sh #80742

[2019-08-26 23:56] carlory commented on #81427
I will pick up

[code]

[2019-08-27 00:19] neolit123 commented on #81837
/sig scheduling
/sig node

[2019-08-27 00:21] carlory commented on #81427
I will pick up

[code]

[2019-08-27 00:41] BenTheElder commented on #72956
Hi, I'm spending this afternoon catching up on PR review and my inbox
currently.... I will get to these.

On Mon, Aug 26, 2019 at 4:33 PM Kohei Toyoda <notifications@github.com>
wrote:

[2019-08-27 00:48] carlory commented on #81427
@oomichi Sorry,  `test/e2e/node/*.go` is also in the pr #81974. It is my mistake. I will update my task list.

Can you assign `test/e2e/upgrades/storage/persistent_volumes.go` to me? I will fix it together in the next pr.

[2019-08-27 01:17] Dieken commented on #81451
I use `/var/log/containers/<pod_name>_<pod_namespace>_<container_name>-<container_id>.log` to get `container_id` and directly collect `/var/lib/docker/containers/CONTAINER_ID/CONTAINER_ID-json.log`.

I checked `/var/log/pods/<podUID>/<containerName>/<instance#>.log`,  it's indeed better that I don't have to the details of container runtime,  thanks!

Well, back to the topic, about those "long live

[2019-08-27 01:19] jpigree opened #81976 "HPA "invalid label value" for an external metric matchLabels value"
/kind bug
/sig scalability

**What happened**:
I am on GKE and I use the GCE ingress to expose my application with the HTTPS Global Load Balancer. To autoscale the app, I am using an HPA capable of reacting on a Stackdriver external metric (loadbalancing.googleapis.com|https|request_count) exposed by the [k8s-stackdriver controller](https://raw.githubusercontent.com/GoogleCloudPlatform/k8s-stackdr

[2019-08-27 01:23] carlory commented on #81427
I will pick up

[code]

and

[code]

[2019-08-27 01:38] wangyp0701 opened #81979 "I'm going to perform a timed task that I don't know how to write an expression like this every 90 minutes."
I'm going to perform a timed task that I don't know how to write an expression like this every 90 minutes

[2019-08-27 02:20] gnufied opened #81981 "Data race in pv_controller unit test"
Looks like we have a data race in pv_controller tests:

[code]

It happened locally for me but I suspect it is a flake in general.

/sig storage

[2019-08-27 02:41] hh commented on #80767
apisnoop.cncf.io is updated @jpbetz

- [getAdmissionregistrationV1APIResources](https://apisnoop.cncf.io/?showUntested=true&showTested=true&showConformanceTested=true&zoomed=operationId-stable-admissionregistration-getAdmissionregistrationV1APIResources) is currently your only API operation hit by a Conformance test.

- [getAdmissionregistrationAPIGroup](https://apisnoop.cncf.io/?showUntested=true

[2019-08-27 02:44] wweir commented on #19317
Same issue on aws with kops kubernetes v1.12.8

[2019-08-27 03:07] zouyee commented on #81979
https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#schedule

[2019-08-27 03:15] hwdef commented on #81427
I will pick up
[code]

[2019-08-27 03:21] carlory commented on #81427
working on

[code]

and

[code]

[2019-08-27 03:25] yuanlinios commented on #77131
the solution also works for v1.15.3. But I do not quite understand why access to storageclasses is needed since the default scheduler works without it

[2019-08-27 03:28] logicalhan opened #81984 "Properly deprecate ssh tunnel metrics"
SSH tunnels are a deprecated feature, yet we emit metrics for them. We should properly deprecate ssh tunnel metric so we can remove them at a future date without breaking people's ingestion pipelines.

/cc @cheftako
/sig api-machinery
/sig instrumentation

[2019-08-27 03:44] justinsb opened #81986 "Leading space in kubectl templates normalizers"
#72137 introduced leading whitespace into kubectl whitespace normalizers, apparently accidentally while trying to fix underscored variables.

An example of the effect of this change can be seen in the generated CLI output here:
https://github.com/kubernetes/kops/pull/7470/commits/eb4fe3f8ffddad5782c2f7469d87574836d66cda

Fixed in #81959

[2019-08-27 04:07] tanjunchen commented on #81427
I will pick up  test/e2e/common/*.go

[2019-08-27 04:12] zhiweiv commented on #81938
It is a Windows bug, https://github.com/Azure/AKS/issues/1014.

[2019-08-27 04:39] iponnam commented on #62861
/reopen

[2019-08-27 04:44] uniuuu commented on #75803
@niechen2012 , I ran on similar kubelet issue.
Just in case, check solution https://serverfault.com/questions/877136/debug-kubelet-not-starting/980806#980806

[2019-08-27 04:47] ramineni commented on #81746
@alejandrox1 I'm not sure when this pipeline gets triggered , is it periodic? we have recently merged a PR where conformance job runs only when there is cloudprovider changes, does this effect this ?
we have periodic job running , everyday, http://status.openlabtesting.org/builds?project=kubernetes%2Fcloud-provider-openstack&pipeline=periodic-4%2F16 , which ran recent job on 27/8

[2019-08-27 05:05] beautytiger commented on #81657
@SataQiu
Can you explain to me why we should clean code in vendor folder instead of in its origin repo? I think once it's updated, all changes in vendor will be lost.
Thank you.

[2019-08-27 05:21] carlory commented on #81657
@beautytiger

you can run the following commend to make sure the symbol link is alway avaliable.

[code]

if you change `api` or `apis` package, you should regenerate code and docs.

[code]

[2019-08-27 05:26] hwdef commented on #81427
I will pick up
[code]

[2019-08-27 05:29] Soorya135 opened #81992 "Issue related to kubernetes cluster initailization issue."
**What happened**:
When i try to run the below command.
 sudo kubeadm init --pod-network-cidr=10.244.10.0/16 --apiserver-advertise-address=10.0.15.10 --kubernetes-version "1.14.0"

I am getting below error..

        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/cri/

[2019-08-27 05:34] ttousai commented on #78134
Hello! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 2 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-27 05:36] ttousai commented on #81228
Hello @dashpole ! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 2 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-27 05:36] Soorya135 commented on #81992
/sig bug

[2019-08-27 05:40] ttousai commented on #73286
Hello @justaugustus ! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 2 days from now), which means that this PR must merged by then.

Do we still target this issue to be fixed for 1.16?

[2019-08-27 05:44] ttousai commented on #78164
Hello @justinsb considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 2 days from now). Do we still target this issue to be fixed for 1.16?

[2019-08-27 05:49] mrkm4ntr commented on #73698
I cannot reproduce this in current codebase. Third pod couldn't be created by following error.
[code]

[2019-08-27 06:04] wangyp0701 commented on #81979
I know, but it doesn't seem to work every 90 minutes.

[2019-08-27 06:06] ttousai commented on #74379
Hello @dims ! I'm a bug triage shadow for the 1.16 release cycle and considering this issue is tagged for 1.16, I'd like to check its status. Code freeze is starting on August 29th (about 2 days from now).
Do we still target this issue to be fixed for 1.16?

[2019-08-27 06:14] #81992 closed

[2019-08-27 06:14] Soorya135 commented on #81992
some issue with config

[2019-08-27 06:23] hanoisteve opened #81999 "No reliable way to get original YAML used to create a resource"
**What happened**:
I simply wanted to get back the original yaml file used to create a resource on Kubernetes cluster. So far either its not documented or this feature does not exist. Its a non trivial problem to go about deleting not needed fields etc that were added to the original yaml. Why would it not be available to compare with the updated yaml?  Of course we could version it outside kubern

[2019-08-27 06:33] Soorya135 opened #82001 "Issue related to kubernetes cluster initailization on ubuntu 18.04"
**What happened**:
As part of running the kubernetes cluster initialiazation getting below error.

root@btpvm0863:~# sudo kubeadm init --pod-network-cidr=10.244.10.0/16 --apiserver-advertise-address=10.0.15.10 --kubernetes-version "1.14.0"
[init] Using Kubernetes version: v1.14.0
[preflight] Running pre-flight checks
        [WARNING HTTPProxy]: Connection to "https://10.0.15.10" uses proxy "http:

[2019-08-27 06:43] Zhuzhenghao commented on #81427
I will pick up
[code]

[2019-08-27 07:09] zouyee commented on #81981
I think you need to increase your timeout when testing.

[2019-08-27 08:22] dariuscernea commented on #45419
Hi all,

Just wanted to share our experience with this error.
We encountered this error on a freshly deployed cluster running docker EE 19.03.1 and k8s v1.14.3.

For us it seems that the issue was triggered by the logging driver. Our docker engine is setup to use fluentd logging driver. After the fresh deployment of the cluster fluentd was not yet deployed. If at this point we tried to schedule an

[2019-08-27 08:45] verb commented on #10834
With #59484 merged, this has become "possible". We still have a way to go to make it useful out of the box and to graduate the feature. I'm going to close this issue because we have a few others tracking this.

If you're interested in following along, keep an eye on issue #27140 and kubernetes/enhancements#277.

/close

[2019-08-27 08:51] cmcarey commented on #29838
There's still some weird behavior that happens with this.

It will work initially, but every so often it will print an event that occurred days ago.

[2019-08-27 09:20] dhanvi opened #82008 "Feature request: Subdomain configuration for service"
**What would you like to be added**: subdomain metadata field for service

**Why is this needed**: for better control on dns

[2019-08-27 09:23] dhanvi commented on #82008
/sig network

[2019-08-27 09:28] dhanvi commented on #47733
/sig cloud-provider

[2019-08-27 09:29] dhanvi commented on #50898
/sig cloud-provider

[2019-08-27 09:29] dhanvi commented on #52241
/sig cloud-provider

[2019-08-27 09:30] dhanvi commented on #57250
/sig cloud-provider

[2019-08-27 09:30] dhanvi commented on #58334
/sig cloud-provider

[2019-08-27 09:33] dhanvi commented on #59406
/sig cloud-provider

[2019-08-27 09:33] dhanvi commented on #61486
/sig cloud-provider

[2019-08-27 09:33] dhanvi commented on #63022
/sig cloud-provider

[2019-08-27 09:34] dhanvi commented on #64148
/sig cloud-provider

[2019-08-27 09:35] dhanvi commented on #70421
/sig cloud-provider

[2019-08-27 09:38] dhanvi commented on #70924
/sig cloud-provider

[2019-08-27 09:38] dhanvi commented on #59776
/sig cloud-provider

[2019-08-27 10:10] hajmsta opened #82011 "kubectl cluster-info dump -o yaml output invalid file extension"
When cluster information is dumped by operating the kubectl command, the file name extension is not appropriate.
example:
 kubectl cluster-info dump --output-directory=./xxxxxxx/
 this command works fine, but
 kubectl cluster-info dump -o yaml --output-directory=./xxxxxxx/
 this command works output configuration file with yaml format, but the file extension is json.
 head -5 ./xxxxxxx/nodes.json

[2019-08-27 10:14] vladwa commented on #77073
The same issue is observed in kubernetes v1.14 version too.

[2019-08-27 10:49] zegl commented on #64148
I'll close this. The bug has been fixed (and released) on v1.11, v1.12, v1.13, and v1.14.

[2019-08-27 10:49] #64148 closed

[2019-08-27 11:03] cpointner commented on #51017
/remove-lifecycle stale

[2019-08-27 11:17] yzargari commented on #15478
This shouldn't have been closed, should it?
The feature request still make sense to me as I'm looking to set the log-opts per pod (without setting it on the daemon or use logrotate)...

[2019-08-27 11:50] zjj2wry commented on #81284
Close because duplicate #72593

[2019-08-27 11:50] #81284 closed

[2019-08-27 12:05] beautytiger commented on #81657
@carlory
Got it, thanks!

[2019-08-27 12:07] zjj2wry commented on #81353
Close because there is no reappearance

[2019-08-27 12:08] #81353 closed

[2019-08-27 12:16] pohly opened #82013 "full stack trace in E2E testing incorrect (Ginkgo bug)"
**What happened**:

Ginkgo no longer handles the `runtime.Stack()` from current Go correctly, which leads to broken output when using `e2e.test -ginkgo.trace`:
[code]

**What you expected to happen**:

The output should start with:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

See `TestFailureOutput` in test/e2e/framework/log/logger_test.go.

**Anything else we need to

[2019-08-27 12:17] pohly commented on #82013
/sig testing

[2019-08-27 12:45] abhiTamrakar opened #82015 "dns.type=coreDNS does not honors kubelet.extraArgs.clusterDNS value"
**What happened**: we used cluster configuration yaml file with below config for kubelet along with the dns.type=coreDNS which is also a default value.

[code]

**What you expected to happen**:
Got kube-dns with cluster-ip value assigned din some other service cidr
[code]
while it should be in the CIDR 10.233.0.0/12 provided via networking.serviceSubnet or given in KubeletConfiguration above.

**H

[2019-08-27 12:45] dminca commented on #74071
This error is thrown when no logs where pushing for quite some time & there's a gap.

You need to open Kibana and look for the last date you got metrics, then delete all the indexes up until that date, it'll start working afterwards.

[2019-08-27 12:47] abhiTamrakar commented on #82015
/sig Network

[2019-08-27 12:48] odinuge opened #82017 "[Flaky tests] ci-kubernetes-node-kubelet-serial"
**Which jobs are failing**:

`ci-kubernetes-node-kubelet-serial`

**Which test(s) are failing**:
Several tests

Eg. this run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1166025651765907456

**Since when has it been failing**:
Unknown

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

**Reason for failure**:

`ErrImageNeverP

[2019-08-27 12:49] odinuge commented on #82017
/assign
/sig node

[2019-08-27 12:55] neolit123 commented on #82013
/cc

[2019-08-27 13:18] ashutoshishere04 commented on #43796
hey in which file did you add this @jeroenjacobs79

[2019-08-27 13:34] dklesev commented on #76377
/remove-lifecycle rotten

[2019-08-27 13:45] thunder-spb commented on #46861
Same on 1.13.7 version cluster

[2019-08-27 13:56] squeed commented on #69882
For dynamic selection of network (e.g. Multus-style), I don't see any way how we can avoid a Kube-client in the near future. Mostly because of status reporting. Some day, we should probably standardize on a way to get multiple networks in the CRI, but I don't think that's going to happen now.

However, I'm more sympathetic to the allowing per-pod tunables. There is some precedent for this with the

[2019-08-27 14:48] liggitt opened #82021 "1.19: stop serving admissionregistration.k8s.io/v1beta1 by default"
The admissionregistration.k8s.io/v1 API is available in v1.16 and the v1beta1 API deprecated.

Stop serving the admissionregistration.k8s.io/v1beta1 API by default in v1.19.

/area admission-control
/kind cleanup
/sig api-machinery
/assign

[2019-08-27 14:49] liggitt opened #82022 "1.19: stop serving apiextensions.k8s.io/v1beta1 by default"
The apiextensions.k8s.io/v1 API is available in v1.16 and the v1beta1 API deprecated.

Stop serving the apiextensions.k8s.io/v1beta1 API by default in v1.19.

/area custom-resources
/kind cleanup
/sig api-machinery
/assign
/milestone v1.19

[2019-08-27 14:51] liggitt opened #82023 "1.17: allow v1-only conversionReviewVersions"
As of 1.16, the kube-apiserver can send v1 ConversionReview requests to CRD conversion webhooks, so in 1.17, allow registering CRDs that only support v1 ConversionReview objects (and do not support v1beta1)

/sig api-machinery
/area custom-resources
/kind cleanup
/assign
/milestone v1.17

[2019-08-27 14:52] liggitt opened #82025 "1.17: allow v1-only admissionReviewVersions"
As of 1.16, the kube-apiserver can send v1 AdmissionReview requests to admission webhooks, so in 1.17, allow registering admission webhooks that only support v1 AdmissionReview objects (and do not support v1beta1)

/sig api-machinery
/area admission-control
/kind cleanup
/assign
/milestone v1.17

[2019-08-27 14:56] thunder-spb commented on #46861
Just to mention my specific error:
[code]

[2019-08-27 15:07] nevola commented on #62720
Hi @sbezverk, sure I'm aware of your work with the nftables library in go. I think it's a good approach but I've 2 main concerns:
1. Talking directly with netlink you're skipping too much validation logic from the nftables user space stack. You know that, currently, nftables user space logic is build as a library (libnftables), so it can be compiled statically and to be used from any binary (for e

[2019-08-27 15:21] Joseph-Irving commented on #81999
There is no way to get the original yaml at present, export was deprecated (https://github.com/kubernetes/kubernetes/pull/73787) and the potential replacement of server-side exporting does not appear to be progressing (https://github.com/kubernetes/kubernetes/issues/24855).

Depending on your use case you could potentially look at keeping your manifests in version control or you can write a script

[2019-08-27 15:24] Joseph-Irving commented on #81979
/sig apps

Can you provide more information about your setup? The bug report template is a good place to start https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md.

Also can you share the cronjob that you're attempting to run? `kubectl get cronjob <cron-name> -o yaml` and `kubectl describe cronjob <cron-name> `

[2019-08-27 15:33] Joseph-Irving commented on #81979
It's worth pointing out that you can't easily write a cron job for every 90 minutes, `*/90 * * * *` is not valid, that means at the 90th minute of the hour.

You have to split it into two crons to achieve this see https://stackoverflow.com/questions/247626/how-can-i-set-cron-to-run-certain-commands-every-one-and-a-half-hours

[2019-08-27 15:41] bclau commented on #69905
This issue is addressed by: https://github.com/kubernetes/kubernetes/pull/79539

This should be included in 1.16.

[2019-08-27 15:42] bclau commented on #73489
The horizontal pod autoscaling tests has been included in https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master

[2019-08-27 15:53] olivierlemasle commented on #82011
/sig cli
/area kubectl
/assign

[2019-08-27 17:09] logicalhan opened #82030 "Fix whitespace issues in staging/src/k8s.io/apiserver/pkg/storage/value/metrics_test.go"
There are a mix of tabs/spaces in staging/src/k8s.io/apiserver/pkg/storage/value/metrics_test.go. This is a follow-up issue to fix that. Let's defer this until after code-freeze however.

/sig api-machinery
/assign

[2019-08-27 18:55] gitanbu commented on #76146
1 controller.go:148] Unable to remove old endpoints from kubernetes service: StorageError: key not found, Code: 1, Key: /registry/masterleases/192.168.56.100, ResourceVersion: 0, AdditionalErrorMsg:

[2019-08-27 21:59] jennybuckley opened #82042 "Serialization of fieldsets in managedFields should always be the same"
**What happened**:
The serialization of managedFields field sets can change, resulting in an otherwise no-op update causing a write to etcd. The issue arises when a fieldset like this
[code]
is decoded and re-encoded as part of a modifying request, which causes it to become
[code]

This isn't too serious, as it only seems to happen on the first update after a new list item is added, but we should

[2019-08-27 22:01] awesomenix opened #82043 "Unable to download from anonymous Azure Container Registry with containerd"
**What happened**:

Problem is that

https://github.com/kubernetes/kubernetes/blob/bfd8610ddafb2fcb2cb330187c8248777ea0b022/pkg/credentialprovider/azure/azure_credentials.go#L209

Seems like an empty username and password for AuthConfig is update for *azurecr* instead do not have an entry to keep a nil auth context.

But according to the code https://github.com/kubernetes/kubernetes/blob/bfd8610dd

[2019-08-27 22:32] apelisse opened #82046 "Server-side Apply: Ownership not tracked for scale subresource"
Whenever someone sends a scale sub-resources request, the managed fields are not changed for that specific request, which means that the scale will typically not grab the ownership of the "replicas" field. This is obviously a bug, but we don't exactly know how to fix it for now.

[2019-08-27 22:36] 11janci commented on #78214
/remove-lifecycle stale

[2019-08-28 00:07] draveness opened #82050 "Add Priority field to the Plugin struct in the Scheduling framework"
/sig scheduling
/priority important-soon
/assign

**What would you like to be added**:

Add an extra `Priority` field to the Plugin struct in the Scheduling framework which controls the execution order of the scheduling framework plugins

[code]

The cluster admin can override the default order for plugins in each extension point. This gives the administrator the maximum flexibility regarding sche

[2019-08-28 00:27] awprice commented on #78416
/remove-lifecycle stale

[2019-08-28 00:31] draveness commented on #82050
cc/ @bsalamat @ahg-g @hex108

[2019-08-28 02:15] jmillikin-stripe opened #82052 "Support statically configured ValidatingAdmissionWebhook / MutatingAdmissionWebhook in apiserver"
**What would you like to be added**:
The `ImagePolicyWebhook` and `SubjectAccessReview` webhooks are both configured statically via `apiserver` command-line flags. This feature request is for similar static configuration to be available for `ValidatingAdmissionWebhook` and `MutatingAdmissionWebhook`.

A reasonable implementation might be flags that take the path to a file, which contains the appro

[2019-08-28 03:21] RainbowMango commented on #82043
Since @awesomenix has present a pr for this issue.
/assign @awesomenix

[2019-08-28 03:36] RainbowMango commented on #82015
I'd like to reproduce and investigate this issue.

Any comments are welcome.

[2019-08-28 03:40] RainbowMango commented on #82015
/assgin

[2019-08-28 04:20] SebastianStehle commented on #71319
/remove-lifecycle rotten

[2019-08-28 04:39] TheDiveO commented on #77142
/remove-lifecycle rotten

[2019-08-28 05:04] hex108 commented on #82050
be invoked before default plugins, default plugins must be disabled and re-enabled here in the desired order.

I think `default plugins` are also needed be configured in config file if they are needed, e.g. if there are multiple bind plugins: `bindPlugin1`, `bindPlugin2`, `defaultBindPlugin`, we could configure `bindPlugin1` and `defaultBindPlugin` in order if we want use them. Then enabled plugin

[2019-08-28 05:36] surki commented on #80596
@liggitt Can you please take a look at PR #82056

[2019-08-28 05:41] draveness commented on #82050
Emmm.. Sorry, it's the current approach on how to reorder the plugins, I'll update the statement...

[2019-08-28 06:27] RainbowMango commented on #81939
/assgin @beautytiger
/remove-help

[2019-08-28 06:29] RainbowMango commented on #81939
/assign @beautytiger

[2019-08-28 06:42] aojea commented on #80193
I'm curious about what's the expected DNS behavior in a dual-stack cluster 🤔

[2019-08-28 06:43] bertinatto commented on #80352
Fixed description.

[2019-08-28 07:39] dcopestake commented on #81938
@daschott yep, or at least, when I manually downloaded and tried to install it failed saying it already was installed.

[2019-08-28 07:55] javierprovecho commented on #75890
Another use case to the list: daemonset logging agents.

If nodes are born with that taint, pending pods won’t trigger the cluster-autoscaler because lack of toleration, so a scale up would never take place.

[2019-08-28 08:02] dcopestake commented on #81938
@zhiweiv forgive me as this may be my lack of knowledge showing here, but surely this is to do with the node not being able to communicate with the pod address? Azure/AKS#1014 seems to be more related to containers being unable to connect to external addresses?

[2019-08-28 08:07] ivan-cai opened #82065 "bug in pr#71114：if i use ipvs mode on node with linux 3.10，kube-proxy will not work"
**What happened**:
when I use ipvs mode on node with linux 3.10，my kube-proxy can not work.

**What you expected to happen**:
when I use ipvs mode on node with linux 3.10，my kube-proxy can work.

**How to reproduce it (as minimally and precisely as possible)**:
prepare a node with linux 3.10（<4.1），install k8s，and start kube-proxy with ipvs mode(/kube-proxy --proxy-mode=ipvs)

**Anything else we ne

[2019-08-28 08:08] ivan-cai commented on #82065
/sig bugs

[2019-08-28 08:08] chrisvdb commented on #65937
For me it was solved by adding the service accounts as described in [https://github.com/kubernetes-incubator/external-storage/issues/953](https://github.com/kubernetes-incubator/external-storage/issues/953).

[2019-08-28 08:09] zhiweiv commented on #81938
You can check this comment, https://github.com/Azure/AKS/issues/1014#issuecomment-522684583.

[2019-08-28 08:19] spacebel commented on #7890
Just a note for all participant to this thread: I had based an entire system on a GS bucket for the implementation of a Data Store of files...

We now run away from this technology because mouting through GCSFuse a bucket as a file system is totally not reliable. Sometimes files are not found, sometime the number of request sent to the API  exceeds the limits, sometimes the read/write is absolutel

[2019-08-28 08:34] xieyanker opened #82067 "Unable to perform initial IP allocation check: unable to refresh the service IP block"
**What happened**:

Hello, I have a k8s 1.14.3, I found a phenomenon: my apiserver often restart failed when I restart apiserver manually.
The apiserver's restart fail log as follows:
[code]

**What you expected to happen**:

The apiserver can restart success every time.

**How to reproduce it (as minimally and precisely as possible)**:

exec `kubectl delete pod <one of apiserver's name> -nkube-sy

[2019-08-28 08:40] xieyanker commented on #82067
/sig api-machinery

[2019-08-28 08:42] kevinsingapore opened #82068 "docker environment install kubernetes error"
1、Tencent vps machine , centos7 ;
2、docker version : 19.03.1
3、after run 'make quick-release' , errors ocurred like below:
[root@VM_16_5_centos kubernetes]# make quick-release
+++ [0828 16:31:06] Verifying Prerequisites....
+++ [0828 16:31:11] Building Docker image kube-build:build-8c3f89370d-5-v1.12.9-1
+++ [0828 16:31:13] Syncing sources to container
+++ [0828 16:31:18] Running build command...

[2019-08-28 08:54] aojea commented on #77190
/close

This doesn't seem a Kubernetes problem.

[2019-08-28 08:54] dcopestake commented on #81938
@zhiweiv yep, that's what @daschott was confirming, I have that KB applied.

[2019-08-28 08:55] krzysied opened #82069 "Get lease latency investigation"
During scalability density test, it can take ~2s to get lease. This value looks wrong.

[2019-08-28 08:56] krzysied commented on #82069
/sig scalability
/assign

[2019-08-28 08:58] zhiweiv commented on #81938
That is strange, it works fine for me and some other guys.

[2019-08-28 09:23] krzysied commented on #82069
Based on api call latency:
![image](https://user-images.githubusercontent.com/25119199/63842348-adc8e100-c984-11e9-83d0-87dad43955b3.png)
and etcd latency (client used by apiserver):
![image](https://user-images.githubusercontent.com/25119199/63842441-dcdf5280-c984-11e9-8b49-e92bfec7e88b.png)

It looks like the problem is with etcd.

However, in etcd logs there is not trace of call with latency >

[2019-08-28 09:39] krzysied commented on #82069
There were tests made regarding etcd:
- Original settings:
![image](https://user-images.githubusercontent.com/25119199/63844164-fd5cdc00-c987-11e9-8588-b6f9d13caa3a.png)
- Separate nodes and leases etcds:
![image](https://user-images.githubusercontent.com/25119199/63844227-1ebdc800-c988-11e9-8064-51260843ca09.png)
- Separate nodes and leases etcd in memory:
![image](https://user-images.githubuserc

[2019-08-28 09:48] nikopen commented on #45419
This has been a long standing issue (k8s 1.6!) and has troubled quite a few people working with k8s.

There are various things that cause PLEG issues and have generally been complicated between kubelet, docker, logging, networking and so on, with remediation of the issue sometimes being brutal (restarting all nodes etc, depending on the case).

As far as the original post goes, with https://github

[2019-08-28 09:55] krzysied commented on #82069
Wht's interesting the long calls are happening during saturation phase. The operations that correspond to this are secret watches.
![image](https://user-images.githubusercontent.com/25119199/63845118-ba036d00-c989-11e9-97df-30dcd395df0d.png)

[2019-08-28 10:05] hoyho opened #82071 "support regex when using kubectl delete command"
**What would you like to be added**:
kubectl delete command can accept and handle regex expression when delete resources.

**Why is this needed**:
When delete some resources, WE need  to specific resource type and name.

However, if we want to delete a batch of resource (e.g. unused ConfigMap), we have to use `kubectl get somthing` command with `grep` and `pipe` or `awk` to handle target resource.

[2019-08-28 10:07] hoyho commented on #82071
/sig cli

[2019-08-28 10:11] Misteur-Z commented on #45419
From personal experience since `1.6` in production, PLEG issues usually show up when a node is drowning.

* CPU load is sky high
* Disk I/O is maxed (logging?)
* Global overload (CPU+disk+network) => CPU is interrupted all the time

Result => Docker daemon is not responsive

[2019-08-28 10:15] deepkumarchaudhary commented on #32768
thanks @janetkuo, it resolved my problem as well

[2019-08-28 10:22] hoyho commented on #82068
Have you pulled the builder image to your vps.  Since the image is published at gcr.io , it is not easy to pull it due to Chinese GFW.

[2019-08-28 10:27] kevinsingapore commented on #82068
yes，i had pulled the builder image；and the Tencent VPS in hongkong Zone，so the vps has the hongkong zone ip，there is no GFW.

[2019-08-28 11:06] eohtake commented on #65933
I'm also getting "Unable to find VM by UUID"
In my case I have the providerID filled in the node, but with some differences from the system id. Any idea why or how to fix it? It seems I can't patch the node after the value is already there. Getting

`kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID, .status.nodeInfo.systemUUID]'`

[code]
`
cat /sys/class/dmi/id/product_se

[2019-08-28 11:14] draveness commented on #81433
I think we reached a consensus on using a stop channel and reply on `context.Context` instead, I sent a PR to implement the change https://github.com/kubernetes/kubernetes/pull/82072

[2019-08-28 11:15] draveness commented on #81433
I think we reached a consensus on using a stop channel and reply on `context.Context` instead, I sent a PR to implement the change https://github.com/kubernetes/kubernetes/pull/82072

/assign

[2019-08-28 11:22] krzysied commented on #82069
I ran tests with secret watch vs secret cache:
- Watch:
  - Get lease latency:
![image](https://user-images.githubusercontent.com/25119199/63850895-6a2aa300-c995-11e9-9200-36d826aeec84.png)
  - Number of active watches:
![image](https://user-images.githubusercontent.com/25119199/63850999-9cd49b80-c995-11e9-8a54-49d92f4babde.png)
  - Nomber of goroutines:
![image](https://user-images.githubusercont

[2019-08-28 11:24] juliantaylor commented on #72236
If there is no quick solution in sight this should be more prominently documented at least on https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-ipvs I did not find anything interesting.

A workaround is to configure your host services to only bind to the node ip addresses instead of the wildcard interface 0.0.0.0 if possible and (probably) use the `NodePortAddresses` conf

[2019-08-28 11:31] Soorya135 commented on #82001
@kubernetes/sig-experience-bugs

[2019-08-28 11:32] Soorya135 commented on #82001
@kubernetes/sig-contributor-experience-bugs

[2019-08-28 11:41] krzysied commented on #82069
Yes.

[2019-08-28 11:48] idealhack commented on #82001
/sig cluster-lifecycle
/remove-sig contributor-experience

[2019-08-28 11:58] TaChao opened #82074 "kubelet auto destroy container which are not management by k8s"
**What happened**:
start a container by docker  eg:` docker run -d --name abc nginx:1.7.9`
wait a few moment later
`docker ps -a` get nothing about abc container

**What you expected to happen**:
container named abc still be there
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
log about kubelet
[code]
**Environment**:
- Kubernetes version (us

[2019-08-28 12:07] TaChao commented on #82074
/sig Scheduling

[2019-08-28 12:32] neolit123 commented on #81120
awk calls replaced and the scope of `kubeadm reset` is clarified:
https://github.com/kubernetes/kubernetes/pull/81495
https://github.com/kubernetes/website/pull/15881
https://github.com/kubernetes/kubernetes/pull/81494

/close

[2019-08-28 12:36] george-angel commented on #75457
/remove-lifecycle stale

[2019-08-28 12:36] danielszot commented on #82001
Where you have http_proxy configured? Is that added to /etc/environment?
To avoid proxying internal traffic, you should also add "no_proxy" in the same place with list of IP's you use internally, like k8s node IP addresses.

[2019-08-28 12:56] abhiTamrakar commented on #82015
Please let me know if you need any more information.

On Wed, Aug 28, 2019, 09:13 Hongcai Ren <notifications@github.com> wrote:

[2019-08-28 13:04] RainbowMango commented on #82015
OK. thanks @abhiTamrakar

Can this issue reproduce in the local up cluster?
If you can share more details about the reproduce step?

[2019-08-28 13:05] tsmetana opened #82075 "Unattached volumes list in pod event always contains all volumes"
**What happened**:
Whenever there is an error mounting a volume to a pod an event is emitted, e.g.:
[code]
This information is misleading: the `unattached volumes` list always contains all the pods volumes.

**What you expected to happen**:
Only the really unattached volumes are listed.

**How to reproduce it (as minimally and precisely as possible)**:
Start a pod with a volume that can't be mount

[2019-08-28 13:06] tsmetana commented on #82075
/sig storage

[2019-08-28 13:41] Pothulapati commented on #72956
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16? If not please re-tag the issue to the planned milestone.

[2019-08-28 13:43] feiskyer commented on #78134
@justaugustus anything we can do in release team?

[2019-08-28 13:44] abhiTamrakar commented on #82015
I tried it on a multimaster setup with external etcd, I don't think it will
create any difference on a local setup, however.
You can try with a basic cluster configuration yaml file just change the
serviceCidr to other than default value and that's it, if you don't provide
clusterDNS still the issue will be seen.

I was also looking at calico, just in case it is responsible but didn't get
much tim

[2019-08-28 13:44] Pothulapati commented on #72828
Hello! I'm part of the bug triage team for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th, which means that there should be a PR ready (and merged) until then.

Do we still target this for 1.16? If not please re-tag the issue to the planned milestone.

[2019-08-28 13:45] feiskyer commented on #58034
/milestone clear

@craiglpeters is preparing a KEP for this, but it's still not ready yet.

[2019-08-28 13:47] feiskyer commented on #78893
This would require a refactor of Azure clients implementation. Given code freezing is near, we're not able to get this done in v1.16.

/milestone v1.17

[2019-08-28 13:54] feiskyer commented on #80571
The issue would probably not able to be fixed in v1.16. AFAIK, no one is working on it now.

[2019-08-28 13:59] xmudrii commented on #80571
@feiskyer Thank you for the update! I'll go ahead and remove the issue from the milestone. If anything changes in the meanwhile, please let us know.

/milestone clear

[2019-08-28 14:08] lmdaly commented on #72828
@Pothulapati I've been keeping the topology level issue comment up to date. This is still tagged for 1.16, the PRs that need to be merged are:
https://github.com/kubernetes/kubernetes/pull/80570
https://github.com/kubernetes/kubernetes/pull/81793
https://github.com/kubernetes/kubernetes/pull/81722

[2019-08-28 14:16] suhavangupta commented on #33777
increasing the number of nodes helped me.

[2019-08-28 14:16] fin-ger commented on #78128
/remove-lifecycle stale

[2019-08-28 15:11] knightXun opened #82083 "DevicePlugins: Add release function"
In some situations, DevicePlugins should do some special operations when pod is deleted. But the deviceplugins dont have release function. We want to do some special actions when the device is to be released.

[2019-08-28 15:12] knightXun commented on #82083
/kind node

[2019-08-28 15:34] deads2k opened #82084 "namespace lifecycle could indicate which resources are stale for which finalizers"
https://github.com/kubernetes/kubernetes/pull/73405 moves the needle quite a bit (thanks), but there are cases where all deletions succeed, but some failure modes are caused by third party finalizers not being removed by their owners.  We hit this with service-catalog as a for instance.

In those cases, we should indicate this in status after some reasonable time has passed.  I'll push 60 seconds

[2019-08-28 16:13] yaseenisolated commented on #75957
/remove-lifecycle rotten

[2019-08-28 16:15] BenTheElder commented on #72956
It's really close but going to be 1.17.
I don't believe I have permission to change milestones, or I would have
already.

On Wed, Aug 28, 2019, 06:44 Tarun Pothulapati <notifications@github.com>
wrote:

[2019-08-28 16:16] yaseenisolated commented on #75957
It is very easy for a cluster to get into this state without any feedback that something is potentially wrong.

The first visibility into the problem is that a node drain (and every operation that starts a drain) fails.

I like the idea of disallowing creating pods that are covered by more than one PDB. Additionally PDBs that cause more than one existing pod to be covered by a PDB should be disall

[2019-08-28 16:18] yaseenhamdulay commented on #75957
It's a sharp edge that can be a confusing User Experince.

[2019-08-28 16:37] adampl commented on #78531
/remove-lifecycle stale

[2019-08-28 16:46] xusxlinux commented on #76956
me too
k8s-master-01 kube-apiserver[5127]: E0829 00:37:12.000445    5127 prometheus.go:174] failed to register work_duration metric admission_quota_controller: duplicate metrics collec...ion attempted
k8s-master-01 kube-apiserver[5127]: E0829 00:37:12.000460    5127 prometheus.go:189] failed to register unfinished_work_seconds metric admission_quota_controller: duplicate metr...ion attempted
k8s-m

[2019-08-28 17:17] shturec opened #82088 "Retry sending audit events on any webhook response error code"
**What would you like to be added**:
The api server should retry sending audit events to configured webhook sinks regardless of the type of HTTP error code it might receive from the webhooks.

**Why is this needed**:
While some components may live with failed data transmissions, this is a particularly sensitive topic for the audit area. The API server audit mechanisms must ensure that no other rea

[2019-08-28 17:53] hh opened #82089 "Add AuditEvent annotation 'swagger.io/operationId' support to APIServer"
- [audit/v1 verb](#sec-1)
- [audit/v1 annotations](#sec-2)

APISnoop generates test and conformance coverage of the kubernetes api.

We compare audit logs to the OpenAPI spec.

Specifically match each `audit.k8s.io/v1` event to a `swagger.io/operationId`

This currently takes around 30 minutes utilizing 56 Xeon Cores to process 300k+ audit events using [cncf/apisnoopregexp](https://github.com/cncf

[2019-08-28 17:53] hh commented on #82089
/area conformance

[2019-08-28 17:54] hh commented on #82089
/sig api-machinery

[2019-08-28 18:04] aojea commented on #80193
There is a section about it in the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20180612-ipv4-ipv6-dual-stack.md#coredns-operation)

Yeah, the service single-family things is a nice thing to simplify everything, but reading the last comments seems that this will evolve to fully-dual stack

[2019-08-28 19:04] hh commented on #81759
/cc @johnbelamaric

[2019-08-28 19:23] MohammedFadin commented on #70044
Any progress on this team?

[2019-08-28 21:00] alejandrox1 opened #82097 "[Failing Test] kind CI jobs are failing"
**Which jobs are failing**:
kind CI jobs are failing.
For example:
* ci-kubernetes-kind-e2e-parallel
* pull-kubernetes-conformance-kind-ipv6
* ci-kubernetes-kind-ipv6-e2e-parallel

**Since when has it been failing**:
Jobs started failing after https://github.com/kubernetes/kubernetes/pull/81903

**Testgrid link**:
* https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel
* https:/

[2019-08-28 21:11] ORESoftware opened #82098 "How to change context for just one shell session etc"
On our jenkins server, I use docker to run kubectl, because apparently kubectl context is global (based on files in user $HOME). And I want to make sure there's not context conflicts, so I run kubectl from within containers. So my question is - is there a way to change the kubectl context just for the current process or shell session? This would be a useful feature, maybe put it behind a flag --lo

[2019-08-28 21:16] mo-saeed commented on #80365
Reminder for 1.14 and 1.15 cherry picks :)

[2019-08-28 21:26] lavalamp commented on #82046
There still exists a "new" deployment object, though: https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/apps/deployment/storage/storage.go#L300

[2019-08-28 21:29] apelisse commented on #82046
Yeah, we might be able to address this bug specifically by updating the managed fields there somehow

[2019-08-28 21:44] #81060 closed

[2019-08-28 22:18] alejandrox1 opened #82102 "Failure to pull down container images with Bazel"
**What happened**:
So I ran into this problem while trying to build a [kind node-image](https://kind.sigs.k8s.io/docs/user/quick-start/#building-images).
Running
[code]

In order to reproduce it, the actual bazel command this runs is:
[code]

Produced an error message that looked like this
[code]

Which seems to be the same issue as the one logged here https://github.com/tensorflow/tensorflow/issu

[2019-08-28 22:26] Reinkaos commented on #64479
Hey I have the same issue, after enabling the PodSecurityPolicy admission controller I have 1 PSP created from Kops and it is privileged. All pods created regardless of namespace are being given this policy as well. I am using Kops 1.12.2.

Any advice is much appreciated :).

Richard

[2019-08-28 22:42] alejandrox1 commented on #82102
This is actually not an issue if one uses the same bazel version that is used in Kubernetes, o.23.x.
/close

[2019-08-28 22:42] #82102 closed

[2019-08-28 22:45] bowei commented on #77538
Let's bring this up in the sig-network meeting to see if we have any volunteers

[2019-08-28 22:45] alejandrox1 commented on #82097
kubeadm fix https://github.com/kubernetes/kubernetes/pull/82103

[2019-08-28 22:47] alejandrox1 commented on #82097
reopen to track kubeadm fix #82103
/reopen

[2019-08-28 23:21] jberkus commented on #59848
Generally "critical-urgent" means "needs to be, and will be, fixed in 3-10 days", and, importantly, "Kubernetes cannot be released unless we fix this first".

Given that we have had 5 releases since this issue was first opened, that's manifestly not true.

[2019-08-28 23:24] oomichi commented on #81427
Solving `test/e2e/framework/metrics/*.go (@oomichi Need to solve circular dependencies)`

Core framework files which use e2ekubelet:
- flake_reporting_util.go: e2emetrics.PrettyPrintJSON(f)
- framework.go: e2emetrics.Collection, e2emetrics.NewMetricsGrabber, e2emetrics.ComponentCollection
- log_size_monitoring.go: e2emetrics.PrettyPrintJSON
- resource_usage_gatherer.go: e2emetrics.PrettyPrintJSON

[2019-08-28 23:38] zimmertr commented on #33777
Is this not happening because your specified CPU Limits exceed the possible number of CPU resources available among your hosts?

[2019-08-29 00:01] kfox1111 commented on #70496
/remove-lifecycle stale

[2019-08-29 00:03] kfox1111 commented on #70496
One of the things I've suffered through is that preStop hooks all happen at once and the container they are associated with gets killed when that preStop is done. There may be some support containers that need to stay up while the main preStop hook happens. So maybe this needs to work with that. Maybe all de-init containers happen first, then prestop hooks, then actual pod death?

[2019-08-29 00:26] liggitt commented on #82098
kubectl takes a --context flag that allows this

/close

[2019-08-29 00:26] #82098 closed

[2019-08-29 01:17] zouyee commented on #82074
According to the name of the log `/var/log/aistack-crontab.log`, it may be seen that this is not the operation of the kubelet.

[2019-08-29 01:18] zouyee commented on #82074
/triage needs-information

[2019-08-29 01:21] xiaoanyunfei commented on #82083
/sig node

[2019-08-29 01:26] #81474 closed

[2019-08-29 01:31] xiaoanyunfei commented on #82068
How much memory does your vm have, It seems like an OOM kill

[2019-08-29 01:36] kevinsingapore commented on #82068
8G

[2019-08-29 01:52] wangyp0701 commented on #81979
You're right

[2019-08-29 02:32] TaChao commented on #82074
thanks got it

[2019-08-29 02:32] #82074 closed

[2019-08-29 04:59] krmayankk commented on #25625
/remove-lifecycle rotten

[2019-08-29 05:02] mJace opened #82112 "Why not to provide all metrics of cadvisor in kubelet API metric server?"
I see there's some metric included in `pkg/kubelet/server/server.go`
[code]

However, in `pkg/kubelet/cadvisor/cadvisor_linux.go`  it only exposed
[code]
Without ProcessMetrics and DiskUsageMetrics,

I would like to know what's the intention to exclude these metrics?
Is it OK to include them?