[2017-06-19 23:56] #47754 closed

[2017-06-19 23:56] pwittrock commented on #43464
@smarterclayton reassigned to @mengqiy

[2017-06-19 23:57] NickClark commented on #44676
@hanikesn Thanks for that! The workaround works here as well.

[2017-06-19 23:58] monopole commented on #47577
This upgrade test [consistently failing](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-master&include-filter-by-regex=%5EOverall%24%7CUpgradeTest).

/sig apps
/assign @caesarxuchao

[2017-06-20 00:00] dchen1107 commented on #47752
ip-masq-agent was a daemonset introduced in 1.7 which I questioned at https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305866535. The problem is that after master is upgraded to 1.7, addons is trying to schedule ip-masq-agent daemonset to every node no matter which Kubelet version the node is on. The problem is that ip-masq-agent can only run on node with 1.7 release.

[2017-06-20 00:11] caesarxuchao commented on #47755
it's https://github.com/kubernetes/kubernetes/pull/47478

[2017-06-20 00:13] monopole commented on #33330
Still failing, albeit sporadically.  We need a clear signal here - is this a 1.7 release blocker?
/assign @dchen1107
/sig node

[jenkins](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-6-gci-1-7-upgrade-cluster/27#k8sio-kubelet-serial-slow-k8sio-regular-resource-usage-tracking-resource-tracking-for-100-pods-per-node)
[flakey history](https://k8s-testgr

[2017-06-20 00:15] msau42 commented on #47759
The volumes are not able to attach because the controller manager (which runs the attach/detach controlller) keeps erroring and cannot come up.

I think this is the error:
I0619 17:55:00.511328       5 range_allocator.go:94] Node bootstrap-e2e-master has no CIDR, ignoring
I0619 17:55:00.511337       5 range_allocator.go:98] Node bootstrap-e2e-minion-group-5gkp has CIDR 10.180.3.0/24, occupying it

[2017-06-20 00:17] msau42 commented on #47759
/unassign

[2017-06-20 00:17] monopole commented on #47759
/assign @bowei

Bowei, can you delegate please?

[2017-06-20 00:18] dnardo commented on #47752
Even if we fix the test it doesn't fix GKE or any other environment where the master is upgraded to 1.7 and the nodes are < 1.7.  I think the real problem here is that there is no distinction between staging an addon and enabling an addon.  Essentially staging = running. So we end up adding labels to nodes as a  way of keeping the DaemonSet disabled until those labels are added to nodes.  While th

[2017-06-20 00:19] mbohlool commented on #47448
Reading this on my phone. Sorry if I missed a point here.

Kubectl does not use OpenApi spec for validation, right? If true, then this is not OpenAPI issue but the old swagger issue.

[2017-06-20 00:23] pwittrock commented on #47755
@caesarxuchao Is this fixed then?

[2017-06-20 00:23] caesarxuchao commented on #47755
need to cherry-pick 47478 into 1.6 branch. i will do it.

[2017-06-20 00:25] pwittrock commented on #47755
gr8 thanks

[2017-06-20 00:28] pwittrock commented on #47759
/assign @saad-ali

[2017-06-20 00:28] pwittrock commented on #47759
/unassign @bowei

[2017-06-20 00:29] monopole opened #47762 "1.6 -> 1.7 secret-upgrade failure"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-6-cvm-1-7-upgrade-cluster-new/24#secret-upgrade)
[history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-gci-cvm-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7Csecret%5C-upgrade)

[code]

/sig storage
/assign @msau42

Please redirect as needed, thanks Michelle!

[2017-06-20 00:31] madhusudancs commented on #47737
**EOD Update**

TL;DR No resolution yet. I am still debugging the issue.

So far what we have found is that the discovery client we use to discover the available RBAC API version on the cluster where we host the federation control plane doesn't return the expected results. Due to this, neither the right service account is created nor the RBAC rules installed to give federation controller manager a

[2017-06-20 00:31] madhusudancs commented on #47737
cc @perotinus @irfanurrehman @liggitt @csbell

[2017-06-20 00:39] monopole opened #47763 "gce 1.6 -> 1.7 cluster-upgrade failure"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster/53#cluster-upgrade)
[history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7Ccluster%5C-upgrade)

Saw this
[code]

buried in the e2e.go output

network setup fail?

/sig network
/sig node
/assign @dchen1107

[2017-06-20 00:45] smarterclayton commented on #22609
What about aggregate API servers?  Should they have this object?

On Mon, Jun 19, 2017 at 7:46 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-06-20 00:46] monopole commented on #47382
This test failing every other run.  Fix or disable?  Blocking 1.7?

[2017-06-20 00:47] caesarxuchao commented on #47577
I looked at https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-gci-upgrade-cluster-new, the failed tests are those flaky slow/serial tests on master, so they are *not* upgrade failure.

I'll take a look at the other two.

The robot wrongly categorized these failure under one issue. @monopole as you had noticed, `error during /workspace/kubetest --test --test_args=--ginkgo.focus=\[Feature:Clu

[2017-06-20 00:49] msau42 commented on #47762
This is a strange flaky test.  For some reason it got the output of the config map pod instead of the secret pod.

[2017-06-20 00:54] monopole commented on #47577
/assign @krousey

Hey, is this actually a distinct test, or is it a encapsulating "test" that turns red if some part fails?

It appears to be green when there are failures below sometimes, e.g. 6-18, run 22
try this link:  https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-gci-cvm-upgrade-cluster-new&sort-by-failures=

[2017-06-20 01:03] dchen1107 commented on #47755
Wait, are we sure cherry-picking #47478 is the right fix. In #47478, it says GKE will not enable the /logs endpoint in 1.7, but are we sure about GKE 1.6? 1.5?

[2017-06-20 01:07] dchen1107 commented on #47755
Taking another look at #47478, it only changed the test to reflect the new change. Nothing will affect the real production.

[2017-06-20 01:09] monopole commented on #46185
sample errors:

`dns.go`

[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster/18#k8sio-dns-should-provide-dns-for-pods-for-hostname-and-subdomain-annotation)
[code]

`daemon_set.go`

[gubernator 2](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster/18#

[2017-06-20 01:12] monopole commented on #47553
tests seem to be running.  filing new issues at a higher resolution now that we have a clearer signal

[2017-06-20 01:12] #47553 closed

[2017-06-20 01:28] monopole opened #47765 "Daemon set [Serial] should run and stop complex daemon with node affinity (1.6->1.7)"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster/18#k8sio-daemon-set-serial-should-run-and-stop-complex-daemon-with-node-affinity)
[history](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Daemon%5C%20set%5C%20%5C

[2017-06-20 01:28] liggitt commented on #47737
@madhusudancs do you have the captured discovery doc (`/apis`) from the server?

[2017-06-20 01:32] gfernandessc commented on #45509
Yes, it seems like it could be achieved after #4301 is done. However, it still look likes a hack given your summary of the likely implementation of #4301:

The simplest solution we need is a command that executes "delete pod and scale down replica controller by one". Hopefully this would be something that could be implemented sooner than #4301.

[2017-06-20 01:33] #47657 closed

[2017-06-20 01:34] #46942 closed

[2017-06-20 01:34] #46908 closed

[2017-06-20 01:35] monopole opened #47766 "1-5 to 1-7 upgrade test: Deployment overlapping deployment should not fight with each other"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-cvm-1-7-upgrade-cluster/18#k8sio-deployment-overlapping-deployment-should-not-fight-with-each-other)
[history](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Deployment%5C%20overlapping%5

[2017-06-20 01:48] monopole opened #47767 "SchedulerPredicates - failures in 1.6 to 1.7 upgrade tests"
## [triage query](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-5-.*-1-7.*upgrade&test=SchedulerPredicates)

Within the above link can be found failures for
* SchedulerPredicates [Serial] validates that Inter-pod-Affinity is respected if not matching
* SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2
* SchedulerPredicates [Serial]

[2017-06-20 02:00] monopole opened #47768 "1.5 to 1.6 upgrade failure: PrivilegedPod should test privileged pod"
[gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-gci-1-7-upgrade-cluster/18#k8sio-privilegedpod-should-test-privileged-pod)
[history](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-gci-1-7-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20PrivilegedPod%5C%20should%5C%20test%5C%20privileged%5C%

[2017-06-20 02:03] wildfire-you commented on #45956
Apparently, the issue disappeared when i use non-proxy mode by importing all docker images in my private registry.

[2017-06-20 02:08] monopole opened #47769 "SchedulerPriorities - swarm of 1.6 -> 1.7 upgrade failures"
## [Triage dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=1-5-.*-1-7.*upgrade&test=SchedulerPriorities)

Includes links to these:
* SchedulerPriorities [Serial] Pods should be scheduled to low resource use rate node
* SchedulerPriorities [Serial] Pod should be prefer scheduled to node that satisify the NodeAffinity
* SchedulerPriorities [Serial] [Pod should avoid to

[2017-06-20 02:15] monopole commented on #45211
Green until [today](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-gci-1-7-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Restart%5C%20%5C%5BDisruptive%5C%5D%5C%20should%5C%20restart%5C%20all%5C%20nodes%5C%20and%5C%20ensure%5C%20all%5C%20nodes%5C%20and%5C%20pods%5C%20recover).  See [gubernator](https://k8s-gubernator.appspot.com/build/kubernete

[2017-06-20 02:27] wangycc commented on #42888
I met the same problem in the aws cloud providers, by adding - the hostname-override to solve this problem. good ！

[2017-06-20 02:35] liggitt commented on #47374
This is an issue with go1.8 (which k8s 1.7 is built with) trying to verify test certs from a previous version of go.

see https://github.com/kubernetes/kubernetes/issues/38228#issuecomment-280213655

fixed in
https://github.com/kubernetes/kubernetes/pull/44638
https://github.com/kubernetes/kubernetes/pull/44679

what environment is this test in, and is it running an old version of the porter image

[2017-06-20 02:39] ixdy commented on #47374
ah, I bet we need to cherrypick #44679 to k8s 1.5 and 1.6.

[2017-06-20 02:41] ixdy commented on #47374
(some variants of the upgrade test suites use tests from the old version, i.e. 1.5 or 1.6.)

[2017-06-20 02:49] dchen1107 commented on #47379
After cherrypicking those ip_range changes to 1.6 branch, now the master node is successfully upgraded to 1.7, and still accepted nodes running 1.6. The kube-controller-manager is not in crashloop anymore.

The below is the output by running kubectl get nodes on the master node with https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster/54/
[

[2017-06-20 03:04] dchen1107 commented on #47744
@euank Can you triage the issue since?

[2017-06-20 03:06] dchen1107 commented on #47744
cc/ @kubernetes/sig-node-bugs

[2017-06-20 03:24] dchen1107 commented on #47379
Also all kube-system pods are running successfully after master is upgraded:

[code]

[2017-06-20 03:33] dchen1107 commented on #47758
@jszczepkowski I am assigning this to you since it is related to hpa-upgrade test. Please delegate. Thanks!

[2017-06-20 04:05] dchen1107 commented on #47379
Testing is still running, but I noticed that the cluster upgrade failed in the log at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster/54/

[code]

From above comment at https://github.com/kubernetes/kubernetes/issues/47379#issuecomment-309629694, one can see that
1) now master node are up and ready, vs. notready in pre-54 runs
2) kube-

[2017-06-20 04:16] NickrenREN commented on #47649
/cc @ddysher
/sub

[2017-06-20 04:23] krousey commented on #47379
It looks like `kubectl get cs` failed from the e2e test. I don't doubt that it worked from the master, but that's not where the e2e is running. I suspect an auth issue. When the suite finishes, we can confirm by looking at the api server log for component status access from the kubectl user agent.

[2017-06-20 04:27] apelisse commented on #47448
Correct on both counts.

[2017-06-20 04:38] Gallaecio commented on #43279
This happened to me a week ago, and it turned out to be because code changed had caused pods of a specific deployment configured to generate 30 replicas were consuming lots of memory each, exhausting the memory of 2 out of 5 nodes, causing those nodes to be unreachable by the master.

[2017-06-20 04:53] #46814 closed

[2017-06-20 05:28] mengqiy commented on #43464
1.6->1.7 upgrade test failing because of changes in https://github.com/kubernetes/kubernetes/pull/42849.
Will send a PR soon to skip this test in 1.6 branch when running with a 1.7 kubectl.

[2017-06-20 05:52] dchen1107 commented on #47379
I checked kube-apiserver.log, there is no failure from the kubectl user agent, especially right before test claimed UpgradeMaster is failed, /componentstatus from kubectl is ok:

I0620 00:23:45.112117       5 wrap.go:42] GET /api/v1/componentstatuses: (757.782364ms) 200 [[kubectl/v1.7.0 (linux/amd64) kubernetes/c8cd7f3] 35.188.93.146:47332]

In test log: https://k8s-gubernator.appspot.com/build/ku

[2017-06-20 06:02] janetkuo commented on #47697
The fix for Deployment was just merged, will observe test results for a while before closing this

[2017-06-20 06:19] gurvindersingh commented on #39989
@quinton-hoole wondering if you have any update on the design of having ingress working outside GCP e.g. in baremetal or other cloud providers.

[2017-06-20 06:22] spradeepv commented on #47723
@cmluciano our external IP is like service IP configured on one of the minions and it has DNAT rules added in all the minions. I guess this is similar to #22952.

[2017-06-20 06:29] tuminoid opened #47775 "imagePullPolicy: IfNotPresent not pulling images with latest tag"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
no

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-20 06:32] tuminoid commented on #47775
/sig kubelet
/sig apiserver

[2017-06-20 06:33] abdasgupta commented on #47750
Hi @vishh , currently I do have some bandwidth to work on this. Can you point me to some of the bugs??

[2017-06-20 06:33] krmayankk commented on #37554
what are the things to verify here. I am seeing a similar case in 1.5.3 where the namespace is stuck in terminating state and the pods inside that namespace are in Unknown state or init :0/1 state.

[2017-06-20 06:36] bowei commented on #47201
This doesn't seem like a sig-node issue.

I think this would fall under how the API server behaves with long-lived client connections, so the API machinery sig may be relevant.

You can try setting a blanket TCP keepalive for the entire host and see if that changes the behavior of the client/server interaction.

[2017-06-20 06:36] tuminoid commented on #47775
/sig kubelet

[2017-06-20 06:39] tuminoid commented on #47775
/sig api-machinery
/sig docs

[2017-06-20 06:52] roberthbailey commented on #47752
Fixed by https://github.com/kubernetes/kubernetes/pull/47764 (the formatting wasn't quite right in the IR to auto-close this issue).

[2017-06-20 07:06] jszczepkowski commented on #47758
@DirectXMan12
Solly, can you take a look?

[2017-06-20 07:54] gmarek commented on #42086
None I can see in perf-dash. I believe it may be caused by CPU starvation on master machine, caused by running new components.

[2017-06-20 07:54] erikbgithub commented on #45956
@wildfire-you You mean you took the proxy config out of the docker environment after pulling the images and then `kubectl proxy` behaves correctly? Or did you change your system environment? It's not specific enough. Sadly there isn't "The Proxy Mode" (tm). There are lot of places you can configure proxy settings, and your tools may or may not use one of them.

[2017-06-20 07:59] gmarek opened #47777 "We should monitor amount of free resources on master machine(s) in e2e tests."
Only monitoring we currently have is poor-man's 'resource-usage-gatherer' which is run only in scale tests and trans resource usage of few known components. This is hard to maintain as we add more and more components to master machine, thus we need something that would monitor how much slack there is.

cc @ncdc @caesarxuchao @kubernetes/sig-scalability-misc @kubernetes/sig-api-machinery-misc @kube

[2017-06-20 08:00] gmarek commented on #42086
#47777 would help with debugging...

[2017-06-20 09:02] ddysher commented on #47649
@tobilarscheid you can subscribe to https://github.com/kubernetes/features/issues/293

[2017-06-20 09:04] tobilarscheid commented on #47649
Alright, thank you!

[2017-06-20 09:04] #47649 closed

[2017-06-20 09:08] thesteve0 commented on #14987
Thank you SO MUCH for doing this work. This is something we have been
asking for, for a while and will really help when crafting a YML or JSON
file.

On Sun, Jun 18, 2017 at 9:10 AM, Gareth Rushgrove <notifications@github.com>
wrote:

[2017-06-20 09:15] eagly13 commented on #46188
We had the exact same problem in our Kubernetes Cluster (**v1.5.1**).
As @chrismcv commented, we had to add the `https` argument in each worker's proxy manifest.

[2017-06-20 09:16] zhouhaibing089 commented on #47775
If I leave imagePullPolicy off the manifest (as per the documentation, it should still be IfNotPresent, it DOES get pulled.

I think this behavior is correct: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/defaults.go#L80-L91.

If the `ImagePullPolicy` is not set, it will look for the image tag, if it is `latest`, it will default to be `Always`, otherwise, default to be `IfNotPres

[2017-06-20 09:42] luxas commented on #22609
I think this would be a great and necessary feature as Kube grows and starts utilizing HA for real (without an external LB like everybody does today).

@yifan-gu Is it possible that you could join the SIG Cluster Lifecycle meeting today 9am PT? I'd love to talk about this there.

cc @jbeda @timothysc ^

[2017-06-20 09:47] xiangpengzhao commented on #33195
/sig network

[2017-06-20 09:48] guillelb commented on #47230
Thank you @crimsonfaith91, that was the problem.

[2017-06-20 10:01] JoshuaAndrew opened #47780 "Use the host's mount namespace"
The following features are recommended
===============================
PodSpec v1 core
hostMount  boolean
Host Mount requested for this pod. Use the host's mount namespace Optional. Default to false.

[2017-06-20 10:12] xiangpengzhao commented on #33065
/sig cli

[2017-06-20 10:13] xiangpengzhao commented on #33109
/sig storage

[2017-06-20 10:19] erikbgithub commented on #45956
@dcbw are there any updates on the issue from your side?

[2017-06-20 10:34] andrey01 opened #47781 "Allow capital letters for TokenRegexpString"
Dear Kubernetes engineers,

is there any particular reason why capital letters are not allowed in the token?

-
 https://github.com/kubernetes/kubernetes/blob/7e37b895d7c1e92ed6fee70f0e507688ac41ec7b/cmd/kubeadm/app/util/token/tokens.go#L36

- https://github.com/kubernetes/kubernetes/pull/41663/files#diff-de98975ccd7f6f36d122d19b7c169191R175

Thanks

[2017-06-20 10:37] tuminoid commented on #47775
I think it is very confusing to have two different meanings of `IfNotPresent`: one when it is deducted by tag and one when it is explicit. If value is `IfNotPresent`, it should act the same way no matter what.

I'd argue that the convention I'm looking for is very much the standard in Linux configuration. Configuration files are filled with commented out defaults, like
[code]
and uncommenting that

[2017-06-20 10:37] andrey01 commented on #47781
/sig area/kubeadm

[2017-06-20 10:39] xiangpengzhao commented on #32080
/remove-team cluster
/sig network

[2017-06-20 10:39] zoidbergwill commented on #24745
Yeah, I think it was just our application not stripping the right IPs.

[2017-06-20 10:45] xiangpengzhao commented on #32178
Since this is a dup of #29055 and that one is closed, we can close this one.

/sig network
/cc @thockin

[2017-06-20 10:46] xiangpengzhao commented on #32075
/sig network

[2017-06-20 10:47] xiangpengzhao commented on #32041
/sig api-machinery
/sig scalability

[2017-06-20 10:48] xiangpengzhao commented on #31943
/sig cli

[2017-06-20 10:52] xiangpengzhao commented on #31805
/sig cli

[2017-06-20 10:53] xiangpengzhao commented on #31708
/sig scalability

[2017-06-20 10:54] xiangpengzhao commented on #31568
/sig cli

[2017-06-20 10:54] luxas commented on #45459
@ZachGoldberg From reading this thread closely, I think this is an issue with flannel.
Basically the request to `10.96.0.10` isn't ever delivered through the overlay network, so no resolving can take place. That also explains why `dig google.com` doesn't work, kube depends on the network to be properly set up and uses kube-dns to provide the IP for that domain as well (but asks 8.8.8.8 or the like

[2017-06-20 10:54] #45459 closed

[2017-06-20 10:55] xiangpengzhao commented on #31527
/sig cli

[2017-06-20 10:56] xiangpengzhao commented on #31487
/sig cli

[2017-06-20 10:57] xiangpengzhao commented on #31267
/sig cli

[2017-06-20 10:58] xiangpengzhao commented on #31256
/sig testing

[2017-06-20 10:59] gmarek commented on #47752
#47764 got reverted as it broke tests.

[2017-06-20 11:03] xiangpengzhao commented on #30781
I remembered that @lavalamp or @ixdy proposed a solution for feature versioned but I cannot find that issue now.

[2017-06-20 11:07] xiangpengzhao commented on #30766
/sig storage

[2017-06-20 11:39] deads2k commented on #43714
Yes, it's prereq slipped :(

[2017-06-20 11:40] luxas commented on #24123
@ixdy We are using the registry yes, not side-loading

[2017-06-20 12:15] k82cn commented on #47571
please try `kubectl describe statefulsets` :).

[2017-06-20 12:41] shyamjvs commented on #47728
Thanks for the explanation. That sgtm.
So do we want to just classify them as namespaced or not, or label the metrics by the namespace (this might hurt if there are many namespaces)?

[2017-06-20 12:41] k82cn commented on #47382
similar to #47381 , move to 1.8, but I'll still working on that.

[2017-06-20 13:05] liuyihe111 opened #47785 "kubectl get nodes : NotReady @kubernetes/kubernetes/TLS"
I have deployed Kubernetes on two worker nodes. On the master node(192.168.6.130), I installed etcd docker kube-apiserver kube-controller-manager and kube-scheduler. On the minion node(192.168.6.131), I installed flanneld docker kube-proxy and kubelet. Then I configured Two-way TLS communication between two nodes.

The configuration process refer to the following file:
https://www.kubernetes.org.c

[2017-06-20 13:33] ravisantoshgudimetla commented on #47318
/cc me @jeremyeder

[2017-06-20 13:56] shyamjvs opened #47787 "Endpoints api object needs change to allow useful merge patching"
Problem: Endpoints object currently is unsuitable for doing any reasonable PATCH operation (i.e. at the level of individual list entries, because a PATCH on the entire list is as good as a PUT of the endpoints object and hence useless).

Reason: There is no way of key'ing individual entries in the endpoints list currently because we do not have one entry for each <IP, Port> pair but rather have on

[2017-06-20 13:58] tuminoid commented on #46338
We're hitting this too. Using k8s 1.6.4, RHEL 7.3, etcd 3.1.7.

[2017-06-20 14:05] shyamjvs commented on #47787
This can help a lot in the performance of the endpoint controller which is currently using PUTs instead of PATCHs. Related issue: https://github.com/kubernetes/kubernetes/issues/47597

[2017-06-20 14:10] soltysh commented on #47180
There's a simple resolution to this problem, use `-o yaml` with this command, which will actually give you more reasonable yaml output for the object `kubectl run` is about to create.

[2017-06-20 14:20] DirectXMan12 commented on #40860
fine by me.

[2017-06-20 14:26] shyamjvs commented on #47787
Maybe we can use the 'Addresses' list itself as the key but I'm not sure if that's going to be unique (though I'd hope so) and if it's fine to have a list as a key.
Moreover, seems like some previous discussions favoured using maps with keys for objects than having lists (ref: https://github.com/kubernetes/kubernetes/issues/4889) in such cases.
@smarterclayton WDYT?

[2017-06-20 14:28] tnozicka commented on #47180
@soltysh well, that will give you a different output. I am not saying it was especially useful but it was there; still is, just doesn't work. Added in:
 - https://github.com/kubernetes/kubernetes/pull/28206
 - https://github.com/kubernetes/kubernetes/pull/28606
 - BZ https://bugzilla.redhat.com/show_bug.cgi?id=1270697

We could remove it/replace it with yaml by default.

Also the printer issue mig

[2017-06-20 14:29] tnozicka commented on #47180
cc: @fabianofranz

[2017-06-20 14:30] kenden commented on #26707
Related https://github.com/kubernetes/kops/pull/2705
running on every node (not only masters) would surely be HA enough, but with a high number of nodes it could be a waste of resources?

[2017-06-20 14:37] rrati opened #47789 "AWS SDK can return error messages that include a return key"
The following log excerpt comes from the attach detach controller trying to attach a volume that is already attached to an instance.

attacher.go:73] Error attaching volume "aws://us-east-1c/<vol>": Error attaching EBS volume "<vol>" to instance "<instance>": VolumeInUse: <vol> is already attached to an instance
nestedpendingoperations.go:262] Operation for "\"kubernetes.io/aws-ebs/aws://us-east-1

[2017-06-20 14:49] lukaszo opened #47791 "Adding `failure-domain.beta.kubernetes.io/zone` label manually causes node controller panic"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.1.51+594edb77397512-dirty", GitCommit:"594edb773975124b137fa12bc573478a0355e89c", GitTreeState:"dirty", BuildDate:"2017-06-20T10:51:10Z", GoVersion:"go1.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.1.

[2017-06-20 14:49] lukaszo commented on #47791
/sig node

[2017-06-20 15:04] crimsonfaith91 commented on #47230
You are welcome! :)

[2017-06-20 15:05] neverfox commented on #45293
Why can't that be an API permissions issue? I mean, if I really want to see it, I can just launch a pod to tell me.

[2017-06-20 15:08] gyliu513 commented on #43445
/assign

I will check this one

[2017-06-20 15:15] ericchiang commented on #45293
I've update the issue title with what I understand as the request. To the best of my understanding this is just a request for us to avoid the need to pipe into base64 when inspecting secrets.

[2017-06-20 15:22] max-rocket-internet commented on #47294
I have this problem too. It completely filled the disk space of 2 nodes with daemon.log.

[code]

[2017-06-20 15:25] yujuhong commented on #33330
@monopole please open a new issue if needed. This issue is for the **1.3** branch, which could not be a 1.7 blocker.

[2017-06-20 15:40] boosh commented on #47538
@dennis-bell You could try a helm [post-install hook](https://docs.helm.sh/developing-charts/#the-available-hooks) if you're using helm.

[2017-06-20 15:44] copejon commented on #47657
Opened an E2E pr to catch this kind of behavior in the future.  WIP, still exploring a method to reproduce and catch the behavior.

https://github.com/kubernetes/kubernetes/pull/47795

[2017-06-20 16:00] aaronlevy commented on #22609
If @yifan-gu isn't able to make it - I'll be on the call and can discuss

[2017-06-20 16:04] boeboe opened #47797 "NetworkPolicy with namespaceSelector on name i.s.o. custom label"
@kubernetes/sig-network

I try to implement a network policy with namespaceSection based on the name of the namespace. This seems not to work however. When I add an extra custom label on that namespace and use that as selector in matchLabels, it works however.

Not working NetworkPolicy:

	apiVersion: extensions/v1beta1
	kind: NetworkPolicy
	metadata:
	  name: test-network-policy
	  namespace: def

[2017-06-20 16:08] arthur0 commented on #47159
Can I work on it?

[2017-06-20 16:21] xiangpengzhao commented on #33216
Sorry for the noisy notifications. There might be someone who had set to watch the repo and set email address like you mentioned. Do you still receiving such notification emails now?

@kubernetes/sig-contributor-experience-misc
@thockin is there any way to stop this happening again?

[2017-06-20 16:24] kfox1111 commented on #23233
@bgrant0607 @technosophos

I run tiller in a static pod on one of my production systems. works great. It even allows you to manage sdn in a helm chart.

I don't follow. Its declarative. Or are you referring to the lack of direct kubectl support.

If tiller supported a 3rd party api, would that meet the requirements?

User uploads values.yaml file as a 3rd party object?

Or it be made a core servic

[2017-06-20 16:25] xiangpengzhao commented on #30498
/sig storage
Since this is a dup of #43640, we can close this one.

[2017-06-20 16:28] xiangpengzhao commented on #30507
/sig cli

[2017-06-20 16:29] xiangpengzhao commented on #30403
/sig cli

[2017-06-20 16:30] xiangpengzhao commented on #30379
/sig scalability

[2017-06-20 16:32] xiangpengzhao commented on #30280
/sig network
/sig windows

[2017-06-20 16:35] castrojo commented on #47781
/sig cluster-lifecycle

[2017-06-20 16:43] ddysher opened #47798 "Local storage isolation doesn't work for pod with only overlay or scratch space request"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

No

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | --------------------------

[2017-06-20 16:44] ddysher commented on #47798
/sig storage

[2017-06-20 16:44] sjenning commented on #35068
Just stumbled on this issue.  This is addressed in `kubectl`with https://github.com/kubernetes/kubernetes/pull/27392.

As far as watching from the current resourceVersion, the resourceVersion returned in lists is always the current resourceVersion.  Setting resourceVersion=0 in the watch also works.

[2017-06-20 16:45] monopole commented on #47525
@JonPulsifer - so how did the rotation go?
(and yes, sounds like you've done all the right things to suppress legacy auth)

[2017-06-20 16:48] cnwalker commented on #47668
Hey! I'm very new to kubernetes, but I'd like to take a crack at this one if possible. Any ideas on which files I should look at to get started?

[2017-06-20 16:51] saad-ali commented on #47571
Ah, brainfart, I thought this was complaining about `kubectl get pvc`.

Yes, indeed `kubectl describe statefulsets` is returning:

[code]

This should be fixed for 1.7.

[2017-06-20 16:54] saad-ali commented on #47571
Will let @pwittrock add approved-for-milestone

[2017-06-20 16:59] cmluciano commented on #32178
/assign

[2017-06-20 16:59] cmluciano commented on #32178
/close

[2017-06-20 16:59] #32178 closed

[2017-06-20 17:00] cmluciano commented on #32080
/assign

[2017-06-20 17:00] cmluciano commented on #32080
/close

closing since issue is quite old and has not received more comments

[2017-06-20 17:04] cmluciano commented on #46188
@jazzsir Does the https fix resolve this problem? Are you still hitting this issue?

[2017-06-20 17:05] sjenning commented on #35068
I think this is fixed by https://github.com/kubernetes/kubernetes/pull/25369

[2017-06-20 17:06] #46847 closed

[2017-06-20 17:08] xiangpengzhao commented on #47797
/sig network

[2017-06-20 17:09] cmluciano commented on #33195
/kind dns

[2017-06-20 17:10] xiangpengzhao commented on #47785
/sig cli
/sig auth

[2017-06-20 17:11] luxas commented on #23233
cc @justinsb Do you have a doc for the new addons API yet?

[2017-06-20 17:11] roberthbailey commented on #34379
@kking124 / @MichaelTSS -- this issue hasn't been updated since last November and a lot has changed since then. I'm going to mark it as obsolete, but please re-open it if you are still encountering this problem.

[2017-06-20 17:11] #34379 closed

[2017-06-20 17:12] xiangpengzhao commented on #47780
/sig api-machinery

[2017-06-20 17:13] roberthbailey commented on #34408
/sig cluster-lifecycle

[2017-06-20 17:13] roberthbailey commented on #35517
/sig release

[2017-06-20 17:14] roberthbailey commented on #37625
/sig storage

[2017-06-20 17:18] roberthbailey commented on #37809
/sig node

[2017-06-20 17:20] roberthbailey commented on #38758
@Starefossen - this issue hasn't been updated in over 6 months so I'm going to close it as obsolete. Please re-open if you are still experiencing this issue.

[2017-06-20 17:20] #38758 closed

[2017-06-20 17:20] roberthbailey commented on #39229
/sig testing

[2017-06-20 17:21] roberthbailey commented on #39238
Since this sounds like it has been resolved, I'm going to close this issue.

[2017-06-20 17:21] #39238 closed

[2017-06-20 17:22] roberthbailey commented on #39282
/sig cluster-lifecycle

[2017-06-20 17:22] roberthbailey commented on #39282
This issue doesn't appear active. Can we close it?

[2017-06-20 17:23] cjcullen commented on #47525
@JonPulsifer does this cause bad behavior in any of the system components, or just brief unavailability of the API?

[2017-06-20 17:24] vishh commented on #47750
@abdasgupta @jiayingz is already working on this issue. you might want to co-ordinate with her.

Is there a specific area you are interested in contributing?

[2017-06-20 17:24] roberthbailey commented on #39522
/sig cluster-lifecycle

[2017-06-20 17:25] roberthbailey commented on #39585
It sounds like both @normanrz and @dove-young were able to resolve their respective issues, so I'm going to close this issue.

[2017-06-20 17:25] #39585 closed

[2017-06-20 17:25] roberthbailey commented on #40252
/sig auth
/sig cluster-lifecycle

[2017-06-20 17:26] roberthbailey commented on #40285
/sig cluser-lifecycle

[2017-06-20 17:27] roberthbailey commented on #40285
@iamzhout - this issue hasn't been updated for over 4 months, so I'm inclined to close it as obsolete. Are you still experiencing this issue and/or working on it?

[2017-06-20 17:27] aaronlevy commented on #22609
Briefly discussed in the sig-cluster-lifecycle sync:

Exploring if we could come up with a proposal/implementation as part of a summer internship project. So goal would be to have something within the v1.8 release cycle.

Also @yifan-gu and @abhinavdahiya were planning to join the sig-api-machinery meeting this week to discuss possible direction / proposal. @liggitt does that seem like the right p

[2017-06-20 17:28] roberthbailey commented on #40346
It sounds like this issue has been resolved, so I'm going to close it.

[2017-06-20 17:28] #40346 closed

[2017-06-20 17:29] Random-Liu commented on #47744
@dchen1107 I've tried this on both cos and cvm in 1.7 cluster, and no container metrics show up.

However, I created a 1.6.4 GKE cluster, and container metrics are there.

This is a regression in 1.7. Will figure out what is wrong here.

[2017-06-20 17:31] roberthbailey commented on #41692
I'm going to mark this as a duplicate of https://github.com/kubernetes/kubeadm/issues/279, as kubeadm issues have been moved to a different repository and we are tracking the current work on SELinux starting with that issue. Please follow-up with your requirements on https://github.com/kubernetes/kubeadm/issues/279. Thanks!

[2017-06-20 17:31] #41692 closed

[2017-06-20 17:31] roberthbailey commented on #40285
/sig cluster-lifecycle

[2017-06-20 17:36] kargakis opened #47800 "kubectl logs -f failed with 'unexpected stream type "" '"
I was running a kubectl logs -f, not for long, that broke unexpectedly with
[code]
Doesn't seem normal.

[code]

@kubernetes/sig-node-bugs
@kubernetes/sig-cli-bugs

[2017-06-20 17:40] kargakis commented on #42400
/sig api-machinery

[2017-06-20 17:43] #42377 closed

[2017-06-20 17:43] kargakis commented on #42342
@kubernetes/sig-apps-test-failures

[2017-06-20 17:44] kargakis commented on #42312
/sig testing

[2017-06-20 17:45] kargakis commented on #42329
/sig testing
/sig api-machinery

[2017-06-20 17:45] bskiba opened #47801 "Unable to signify a successful operation on pod with last initializer from Initializers list."
I'm trying to use the initlializers feature (https://github.com/kubernetes/community/pull/132), and I am unable to signify that the operation of the initializer is successful.

To reproduce: Create one intializer - "vpa-initializer.k8s.io" that operates on all pods.  Extract from configuration:
`InitializerConfiguration
{
  ObjectMeta:k8s_io_apimachinery_pkg_apis_meta_v1.ObjectMeta{
    Name:vpa-i

[2017-06-20 17:46] #42338 closed

[2017-06-20 17:47] Random-Liu commented on #47744
Here is a corresponding cadvisor issue https://github.com/google/cadvisor/issues/1671.

[2017-06-20 17:47] kargakis commented on #41963
/sig federation

[2017-06-20 17:49] mtaufen commented on #47765
Interesting, it's failing on the 1.5-1.7 upgrade test but passing in the 1.6-1.7 upgrade, serial 1.5, and serial 1.7 tests.

[Upgrade history](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster&include-filter-by-regex=Daemon%20set)
[1.5 history](https://k8s-testgrid.appspot.com/release-1.5-all#gke-serial-1.5&include-filter-by-regex=Daemon%20set)
[1.7 history](http

[2017-06-20 17:49] bryanlarsen opened #47802 "ability to bind PVC's with a storage class with a manually created PV"
Feature Request:

Some sort of mechanism so that manually created PersistentVolume's will bind a PersistentVolumeClaim with a volume.alpha.kubernetes.io/storage-class annotation.

Use case: deploying helm charts to a cluster that doesn't have a dynamic provisioner.

Most helm charts have storageClass variables to set the storage-class annotation on PVC's they create.   When not set, they usually d

[2017-06-20 17:50] saad-ali commented on #47798
CC @jingxu97

[2017-06-20 17:50] kargakis commented on #41880
/sig cli

[2017-06-20 17:51] kargakis commented on #41878
/sig api-machinery

[2017-06-20 17:51] kargakis commented on #41871
/sig network

[2017-06-20 17:51] kargakis commented on #41871
/sig node since it seems duplicate of another node issue

[2017-06-20 17:52] kargakis commented on #42263
@kubernetes/sig-federation-misc @kubernetes/sig-aws-misc

[2017-06-20 17:52] kargakis commented on #42258
/sig api-machinery

[2017-06-20 17:52] kargakis commented on #42224
/sig api-machinery

[2017-06-20 17:52] luxas commented on #47174
@liggitt was assigned for triaging this... Does such an e2e test already exist somewhere?

@ericchiang said that he could take this on if not...

[2017-06-20 17:53] cblecker commented on #33216
/remove-area kubectl
/kind support
/assign

[2017-06-20 17:53] cblecker commented on #33216
Hi @justinharkey,
I hope you were able to get this solved. It's likely an issue with someone with a @crowdfunder.com e-mail address had subscribed to notifications from this (very noisy) repo. If you haven't solved this yet, I'd contact github support for assistance.

/close

[2017-06-20 17:53] #33216 closed

[2017-06-20 17:53] kargakis commented on #42301
/sig node

[2017-06-20 17:53] caesarxuchao opened #47804 "Test version upgrades of autoscaling in test-update-storage-objects.sh"
Followup of $40860, we should test upgrading autoscaling/v1 to autoscaling/v2alpha1

[2017-06-20 17:53] caesarxuchao commented on #47804
/sig autoscaling

[2017-06-20 17:53] caesarxuchao commented on #47804
/assign @DirectXMan12

[2017-06-20 17:54] caesarxuchao commented on #40860
Tracked in #47804. Closing this issue.

[2017-06-20 17:54] #40860 closed

[2017-06-20 17:54] kargakis commented on #42301
/sig onprem

[2017-06-20 17:55] kargakis commented on #41675
/sig apps

[2017-06-20 17:56] kargakis commented on #41643
@kubernetes/sig-apps-misc

[2017-06-20 18:00] kargakis commented on #41913
@kubernetes/sig-apps-bugs two issues here: 1) the main issue is most likely a dupe of https://github.com/kubernetes/kubernetes/issues/30628 and 2) we may want to revisit hiding terminated pods. I have seen more user confusion about the fact that we are hiding them than not. Also @kubernetes/sig-cli-misc

[2017-06-20 18:03] kargakis commented on #43169
/sig federation

[2017-06-20 18:04] kargakis commented on #42987
Please use stackoverflow, the kubernetes-users mailing list, or slack for support questions.

[2017-06-20 18:04] #42987 closed

[2017-06-20 18:04] liggitt commented on #47174
no negative e2e test exists (make sure things the Node authorizer disallows fail)

negative integration tests exist at https://github.com/kubernetes/kubernetes/blob/master/test/integration/auth/node_test.go#L213

negative e2e tests for this will be tricky, since you'll need node credentials and a specific authz and admission config.

[2017-06-20 18:05] kargakis commented on #42919
Doesn't seem a K8S issue, closing

[2017-06-20 18:05] #42919 closed

[2017-06-20 18:06] kargakis commented on #42743
/sig federation

[2017-06-20 18:06] kargakis commented on #42344
@kubernetes/sig-apps-test-failures

[2017-06-20 18:06] kargakis commented on #41752
/sig cli

[2017-06-20 18:07] kargakis commented on #41736
/sig network

[2017-06-20 18:08] luxas commented on #47174
@liggitt See the above bash script, I was able to do it purely from kubectl by impersonating the group and node user...
If we feature-gate this e2e test, we can run it for the deployments that actually have unique node credentials

[2017-06-20 18:09] kargakis commented on #41691
/sig release

[2017-06-20 18:10] dcbw commented on #47666
@marun points out that https://github.com/Mirantis/kubeadm-dind-cluster might be a better place to start

[2017-06-20 18:11] kargakis commented on #41573
/sig node

[2017-06-20 18:13] Thermi commented on #41913
IMHO, pods should always be visible, until they are terminated. I expect `kubectl get po` to give me an accurate representation of all pods, regardless of state, in the default namespace.

[2017-06-20 18:13] mtaufen commented on #47765
Test is also failing in the [gce 1.5-1.6 upgrade test](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-upgrade-cluster&include-filter-by-regex=Daemon%20set)

This failure is most likely because node affinity went from being an annotation in 1.5 to an api field in 1.6. @davidopp how was backwards compatibility handled for this?

[2017-06-20 18:13] mtaufen commented on #47765
/cc @davidopp @bsalamat

[2017-06-20 18:14] enisoc commented on #47766
It seems like this is running the 1.5 e2e binary against a 1.7 cluster. The annotation was no longer used as of 1.6, so the 1.5 version of this test will not work on 1.6+.

[2017-06-20 18:15] kargakis commented on #41523
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-20 18:15] kargakis commented on #41463
@kubernetes/sig-release-misc

[2017-06-20 18:16] kargakis commented on #41391
A question for @kubernetes/sig-testing-misc

[2017-06-20 18:16] kargakis commented on #41333
/sig federation

[2017-06-20 18:16] bryanlarsen commented on #47802
/sig storage

[2017-06-20 18:17] badboot commented on #44460
FYI, as is often the case, these util methods are encompassing a lot of different functionality.

pkg/volume/util.go - a lot of the POD volume lifecycle (Create/Update/Delete) and associated recycling functionality is added. It looks like a lot of functionality that 'should' be somewhere like volume.go, if that wasn't basically just definitions.

There are also a number of methods I would call as

[2017-06-20 18:22] spxtr commented on #41391
We don't use Jenkins to run bazel builds. Instead, they're just run as a kubernetes pod using the `gcr.io/k8s-testimages/bazelbuild` image. The machines themselves are `n1-standard-4`s on GCE.

We only run `bazel clean` before `bazel build` for postsubmits, to ensure that we run all tests.

[2017-06-20 18:22] #41391 closed

[2017-06-20 18:24] kargakis commented on #41913
Agreed, I have also felt the pain and I am in favor of switching it back.

[2017-06-20 18:26] #42134 closed

[2017-06-20 18:26] mbohlool commented on #47448
I think we have three options:

1. Fix go-restful (the library we use to generate old swagger 1.2) to understand type aliases.
2. Define type tag on all uses of UnixGroupID and UnixUserID (I am exploring this option now).
3. Revert #44714

[2017-06-20 18:28] liggitt commented on #47787
without contention, patch is actually more expensive both client-side (because patch computation is required) and server-side (because patch application and conflict-detection is required).

do we have contention on writing endpoints? I expected the endpoints controller to largely be the only writer

[2017-06-20 18:28] liggitt commented on #47787
I thought the main issue was the extremely short resync interval, not write conflicts

[2017-06-20 18:30] gnufied commented on #47789
I propose that we replace those pesky "\n\t" with "---" and join the error logs. I don't see any value in log lines that span multiple lines.

[2017-06-20 18:32] mbohlool commented on #47448
So solution 2 is possible but it basically revert all swagger 1.2 changes that #44714 made. As the PR did not affect OpenAPI spec, should we just revert #44714 and remove `types.UnixUserID` and `types.UnixGroupID`? I don't see any real value in keeping them if they are not reflected in our swagger and OpenAPI spec.

[2017-06-20 18:33] wongma7 commented on #47802
This is already possible so if it isn't working, it is a bug. The issue I think is that the alpha annotation is being used; the alpha annotation does not care about storage classes and it doesn't matter what its value is because just by being present, it will force a PV to be provisioned. Beta is when storage classes start mattering.

[2017-06-20 18:33] mikedanese commented on #41523
How did you deploy your cluster?

[2017-06-20 18:34] kargakis commented on #42343
@kubernetes/sig-apps-test-failures

[2017-06-20 18:38] badboot commented on #44460
pkg/volume/volumehelper/volumehelper.go, specifically does seem to align with volume plug-in support, which the other utility classes don't. (and doesn't have as much intermixing)

[2017-06-20 18:40] bsalamat commented on #47765
Thanks, @mtaufen for looking into the issue. As you have found, the failure is expected as node affinity had a non-backward compatible change in 1.6. More context on this can be found at:
https://docs.google.com/document/d/1YP3OJTKMpXkWAhipPjx9-bDMxJ87JZ6AcVak7c3SGos

[2017-06-20 18:42] jamiehannaford commented on #47448
@mbohlool Isn't there still value in using real types across the wider K8s codebase instead of arbitrary ints? If so (which is what's outlined in the initial issue), I think #2 is better

[2017-06-20 18:43] janetkuo opened #47805 "Changelog not formatted correctly"
The v1.7.0-alpha.4 [changelog](https://github.com/kubernetes/kubernetes/blame/master/CHANGELOG.md#L1191) generated from #39164 PR description has weird format:

![image](https://user-images.githubusercontent.com/4876867/27349803-54e4f120-55ad-11e7-9a1f-ebd771ceddec.png)

cc @danwinship

[2017-06-20 18:44] bryanlarsen commented on #47802
Sweet!   Creating PVC's with `storageClassName: ''` works great!   Unlike some sort of hacky selector magic, a PR to switch from the alpha/beta annotation to storageClassName will likely be accepted and future charts are likely to use the final form.

[2017-06-20 18:44] #47802 closed

[2017-06-20 18:44] enisoc commented on #37554
@krmayankk If the namespace is stuck in terminating, usually there should be log entries from the namespace controller in kube-controller-manager.log that indicate why.

[2017-06-20 18:49] caesarxuchao commented on #47805
cc @david-mcmahon

[2017-06-20 18:53] cheftako commented on #43714
I am working on getting apiserver-builder to generate something like an
ideal API server image. I would suggest we use that for as the e2e test
image. It allows us to test both the aggregator and that the tooling we are
building to help customers generate apiservers.

On Tue, Jun 20, 2017 at 4:39 AM, David Eads <notifications@github.com>
wrote:

[2017-06-20 19:00] dchen1107 commented on #47744
Even the user still can get the container metrics / stats from kubelet /summary api (recommended way), but since this is a regression introduced in 1.7 release, and we aren't dropping prometheus support, let's fix this for 1.7. Thanks!

[2017-06-20 19:03] SleepyBrett commented on #47800
I'm seeing this on 1.6.2

[2017-06-20 19:07] ixdy commented on #41391
@spxtr a better way to run all tests is to pass `--nocache_test_results`.

If that's the main reason we do `bazel clean`, we should fix that. :)

[2017-06-20 19:17] Random-Liu commented on #47744
Fixed in https://github.com/google/cadvisor/pull/1681.

Will close this issue after building new cadvisor release and cherrypick into 1.7

[2017-06-20 19:19] janetkuo commented on #47766
We can either remove this upgrade test, or modify 1.5 e2e test to skip server version 1.6+

[2017-06-20 19:24] moserke commented on #47744
Thanks for the quick find everyone!  I'll be happy to give this a go on the next release!

[2017-06-20 19:58] cmluciano commented on #47797
@kubernetes/sig-network-misc cc @danwinship

[2017-06-20 19:59] marun commented on #47666
https://github.com/Mirantis/kubeadm-dind-cluster might be a better starting point.

cc: @ivan4th

[2017-06-20 20:04] caseydavenport commented on #47797
@boeboe that's the expected behavior - the `namespaceSelector` applies to labels on a Namespace, not fields on a Namespace.

[2017-06-20 20:04] caseydavenport commented on #47797
/kind support

[2017-06-20 20:09] vishh opened #47808 "Storage Allocatable does not take eviction thresholds into account"
Node Allocatable is calculated as `Capacity - kube-reserved - system-reserved - hard-eviction-thresholds`.
This is true for `memory`, but not true for `storage` though.

https://github.com/kubernetes/kubernetes/pull/46456 introduced `storage` support in node allocatable, but failed to include `hard eviction thresholds` [here](https://github.com/jingxu97/kubernetes/blob/943fc53bf727ff6e005378a87271

[2017-06-20 20:11] saad-ali commented on #47798
Fix is ready: https://github.com/kubernetes/kubernetes/pull/47179

[2017-06-20 20:16] vishh opened #47809 "kubelet is incorrectly exposing `storage` as a new compute resource"
Local storage is not expected to be available as a scheduling resource in v1.7.
Kubelet is incorrectly exposing a resource named `storage`.
This is incorrect because the feature is alpha and so it requires opt-in via feature flags and,
the resource names are invalid.
The expected resource names are listed [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L3533) - `sto

[2017-06-20 20:16] chrislovecnm commented on #41643
/sig cli

[2017-06-20 20:17] ivan4th commented on #47666
I'll be glad to help with kubeadm-dind-cluster if it really can be used for this task. It used to have `bare` subcommand that starts just the 'machine' container. I disabled that some time ago but can bring it back quickly if it indeed can be useful.

[2017-06-20 20:18] chrislovecnm commented on #41643
@kargakis this kind seems to be sig/cli since this is kubectl code.  I missed that information in my bug report.

When a node is drained that is a Daemonset, and has local storage, I am getting warnings / errors.  The output from the drain code is odd, or the filter is incorrect. I have not had time to triage.

[2017-06-20 20:19] chrislovecnm commented on #30706
@dims I am not sure what priority to list, but we do not have a decent answer, and I am guessing that this is not documented well.

[2017-06-20 20:20] chrislovecnm commented on #37566
@smarterclayton can we close this?

[2017-06-20 20:20] saad-ali commented on #47809
CC @dchen1107

I'll find someone on the storage team to address this.

[2017-06-20 20:21] mbohlool commented on #47448
Look like the fix is not possible without changing go-restful (either by adding type aliases there or adding support so we can proceed with solution 2). Given the urgency of this, I would say we go with solution 3, reverting #44714.

[2017-06-20 20:24] marun commented on #47571
@k82cn I'm assuming you're working on this?

[2017-06-20 20:26] bowei commented on #47759
Has this been resolved by https://github.com/kubernetes/kubernetes/issues/47379? It looks to be the same error as the other issue.

[2017-06-20 20:30] dchen1107 commented on #47448
I am intent to go with solution 3 here. @lavalamp @smarterclayton @bgrant0607 WDYT?

[2017-06-20 20:39] bowei commented on #47768
Nothing obvious jumps out at me, but it looks like the failure was part of a larger cluster of failures. Maybe something went wrong in the cluster setup?

[2017-06-20 20:40] kargakis commented on #41643
sig/apps folks are likely interested. drain code will move at some point in the server but sig/apps folks will continue to be interested ;)

[2017-06-20 20:40] msau42 commented on #47759
It looks like latest run of the test has passed.

[2017-06-20 20:45] bowei commented on #47759
close?

[2017-06-20 20:47] saad-ali commented on #47809
/assign @verult

[2017-06-20 20:51] boeboe commented on #47797
Thanks for your clarification @caseydavenport . I'll do a pull request on an extra note in the documentation later this week to stress this, since it feels a bit counterintuitive to me.

BR,
Bart

[2017-06-20 20:52] chrislovecnm commented on #40131
/sig node
/sig networking

[2017-06-20 20:58] enisoc commented on #47758
This looks related to the CIDR issue as @monopole suggested. The test failure is because Pods are not getting cleaned up when a RC is scaled to 0. The RC controller appears to take no action, which is likely because of this error logged in `kube-controller-manager.log`:

[code]

[2017-06-20 20:59] spzala commented on #17612
@liggitt On a clean env, I could recreate on and off with "kubectl get -w po" and "kubectl get pods -w --show-all" when use after deleting pod or deployment. For example, I could recreate the issue with "kubectl get pods -w --show-all" as you could see in output below:
$ kubectl get -w po
NAME                                READY     STATUS    RESTARTS   AGE
nginx-deployment-4234284026-ktzgw   1/1

[2017-06-20 21:03] danwinship commented on #47805
Hm... I wonder if it's because the second line starts with a backtick? It would be easy to reword/rewrap to change that.

The "1. ..." "2. ..." second is also indented too much... I had written it to look right as plain text since that's how it got displayed in the release note field in the PR, but I guess it's supposed to be markdown?

[2017-06-20 21:09] david-mcmahon commented on #47805
Yeah, there's a bunch of translations happening here (pandoc) to get HTML formatted email notifications and md for the changelog from the same human curated md source extracted out of the PR descriptions.

Release notes really should be much simpler than this.    There's no need to add an "Action Required" headline as that happens automatically with the `release-note-action-required` label and the

[2017-06-20 21:10] enisoc commented on #47768
@bowei So as far as you know, there's no reason the "hostexec pod" should have a harder time scheduling than any other pod? If so, that does point towards a cluster failure unrelated to this specific test, since it would mean we are just unable to schedule pods in general.

[2017-06-20 21:11] bgrant0607 commented on #47448
@liggitt @dchen1107

This broke the OpenAPI spec, not just client-side validation. `types.UnixUserID` is not a valid type. We should not implement option 2. We need to revert this until type aliases are handled correctly.

@mbohlool Please add a test that no types.Foo types are introduced.

For that matter, `uid` is a string in the v1 API, which is correct, but is `types.UID` in every other API gr

[2017-06-20 21:11] enisoc commented on #47766
Is that something we do in general? Backport fixes to old e2e tests to make them work against newer clusters whose expected behavior has changed?

[2017-06-20 21:13] bowei commented on #47768
@enisoc Yes, that is what I understand.

[2017-06-20 21:13] bgrant0607 commented on #39434
Our client library generators and third-party tools also use the OpenAPI/Swagger spec, so eliminating validation from kubectl doesn't eliminate the need for a complete and correct API spec.

[2017-06-20 21:14] Sajmani commented on #39391
It would also be useful to distinguish between calls made from GKE-managed and user-managed k8s instances.

[2017-06-20 21:23] JonPulsifer commented on #47525
Sorry for the delay, I haven't forgotten about you 😛

We're waiting on an IAM role invitation before we rotate any more node pools out of service (specifically [StackDriver Monitoring](https://cloud.google.com/monitoring/access-control)) and I guess they're on vacation? or something?

In any case our [soft] deadline for rotating all the pools is 26 June so I'll drop some more data in here by then

[2017-06-20 21:25] bgrant0607 commented on #47448
Ok, sorry. This broke the Swagger 1.2 spec, which hasn't been officially deprecated yet. We should deprecate it in 1.7, but shouldn't break it.

[2017-06-20 21:36] roberthbailey commented on #47155
/sig cluster-lifecycle

[2017-06-20 21:39] caseydavenport commented on #47797
Sounds good, always good to have more clear documentation! But I'm not sure I follow that `matchLabels` matching on labels is counterintuitive :)

/close

[2017-06-20 21:41] caseydavenport commented on #47797
/assign

[2017-06-20 21:41] caseydavenport commented on #47797
/close

[2017-06-20 21:41] #47797 closed

[2017-06-20 21:41] mbohlool commented on #47448
we don't have any types.Foo in OpenAPI spec today. The OpenAPI spec generator resolve type aliases. I can add another issue for restricting types.Foo to be added to the spec though I need a little more information on that.

[2017-06-20 21:44] mbohlool opened #47812 "Restrict types.Foo types in OpenAPI"
Following up on Brian's comment in #47448:

Currently we don't have any types.Foo in OpenAPI spec (as all of those types are aliases and we resolve type aliases in OpenAPI). Restriction can make sure we won't accidentally define non-aliases type there. We can add restriction based on the package path (e.g. list of packages that should not have any type defined in OpenAPI spec).

@kubernetes/sig-ap

[2017-06-20 21:56] bowei commented on #47142
The other issue was identified to be a QPS limit imposed by EC2 DNS. Have you identified the specific issue that is causing the latency? It's pretty hard to give a timeline for a fix without a certain diagnosis as to the problem...

[2017-06-20 22:11] dchen1107 commented on #47448
Ok, looks like we reached the lazy consensus on this: reverting https://github.com/kubernetes/kubernetes/pull/44714 for 1.7.

@mbohlool is going to send the revert pr. Thanks!

[2017-06-20 22:12] dchen1107 commented on #47448
cc/ @kubernetes/kubernetes-release-managers

[2017-06-20 22:25] Random-Liu opened #47814 "CRI package name is still `v1alpha1`"
Although we [moved CRI from `v1alpha1` to `v1alpha1/runtime`](https://github.com/kubernetes/kubernetes/commit/9cc2ecc347908faf0a79104f645241da24d97558), we didn't change the package name. When using the package, I have to make an alias, or else I have to use `v1alpha1.xxxx` instead.

@feiskyer Another question is that is grpc using the directory name or package name? If the latter, does the origin

[2017-06-20 22:26] Random-Liu commented on #47814
/sig node

[2017-06-20 22:34] montanaflynn commented on #14512
Not sure if this is helpful or even related but here's our use case:

We want to get an http request webhook anytime a deployment changes, this will allow us to correlate errors and changes to metrics with deployments.

[2017-06-20 22:34] sakshamsharma opened #47815 "Storage configuration for serviceaccounts being used to access secrets in APIserver"
In `BuildAuthenticator`, configuration is read for `serviceaccounts` group resource ([here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L500)), but it gets used to access secrets as well ([here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L504)).

Relevant code:
[code]

Causes issues while using encryption provider

[2017-06-20 22:35] danehans commented on #47666
@ivan4th thanks for the offer. The sig-network IPv6 Working Group needs to create an e2e test that runs on GCE. Since GCE does not support IPv6, kubeadm-dind-cluster may be a helpful solution to the problem. I've done a quick read of kubeadm-dind-cluster and have a few questions:

I see kubeadm-dind-cluster also supports a src option. This is the option we are most interested in because the workin

[2017-06-20 22:36] janetkuo commented on #47766
Needing to do that means we either wrote a bad e2e test or broke backward compatibility.

[2017-06-20 22:36] dchen1107 commented on #47135
Thanks, @liggitt

[2017-06-20 22:39] dchen1107 commented on #47379
Ok, I have more data to say that upgrade.sh (along with validation_cluster.sh) is really buggy.
Without any change, the new run of
both master and nodes are successfully upgraded to 1.7 in a new run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster/55?log#log

[code]

[2017-06-20 22:40] k82cn commented on #47571
@marun , yes, the PR is here, waiting for 1.7 milestone to merge :).

[2017-06-20 22:43] yujuhong commented on #47814
Package name. It didn't fix the issue.

[2017-06-20 22:46] k82cn commented on #47791
/assign

let me try this :).

[2017-06-20 22:59] kargakis commented on #24424
/sig release
/sig testing

[2017-06-20 22:59] kargakis commented on #24427
/sig testing
/sig scalability

[2017-06-20 23:00] kargakis commented on #24349
/sig cli

[2017-06-20 23:00] kargakis commented on #24351
/sig node

[2017-06-20 23:01] kargakis commented on #24160
/sig cli
/sig docs

[2017-06-20 23:01] kargakis commented on #24327
/sig api-machinery
/sig docs

[2017-06-20 23:01] kargakis commented on #24348
/sig testing

[2017-06-20 23:01] kargakis commented on #24151
/sig testing

[2017-06-20 23:02] kargakis commented on #24049
/sig cli

[2017-06-20 23:02] kargakis commented on #23564
/sig cli

[2017-06-20 23:03] kargakis commented on #23839
/sig release

[2017-06-20 23:04] k82cn commented on #47571
@saad-ali , thanks for your verification :). I updated title to include "statefulset".

[2017-06-20 23:05] kargakis commented on #20644
/sig api-machinery

[2017-06-20 23:06] kargakis commented on #22452
/sig testing

[2017-06-20 23:06] kargakis commented on #22382
/sig scalability

[2017-06-20 23:09] kargakis commented on #22887
/sig api-machinery
/sig node

[2017-06-20 23:10] roberthbailey commented on #8686
One of the main reasons that we side-load is to run tests against HEAD. For instance, @luxas posted [this gist](https://gist.github.com/luxas/7515d1e1fb94cff1327b83ae4affd7a4) to show how we could add side-loading to run kubeadm tests against HEAD. If the CI builds could pull from gcr.io, then we could leverage that for kubeadm tests **and** remove the side-loading from the GCE/GKE setup scripts.

[2017-06-20 23:11] kargakis commented on #22927
/sig docs

[2017-06-20 23:11] kargakis commented on #24467
/sig scalability

[2017-06-20 23:12] kargakis commented on #22734
/sig release

[2017-06-20 23:13] kargakis commented on #25031
/sig testing

[2017-06-20 23:13] kargakis commented on #24995
/sig scheduling

[2017-06-20 23:13] kargakis commented on #24954
/sig api-machinery

[2017-06-20 23:14] kargakis commented on #24944
/sig auth

[2017-06-20 23:14] kargakis commented on #24930
/sig apps
@ahmetb

[2017-06-20 23:15] kargakis commented on #24928
/sig docs

[2017-06-20 23:15] kargakis commented on #24926
/sig testing

[2017-06-20 23:15] kargakis commented on #24917
Shouldn't be a problem today I think, please reopen otherwise.

[2017-06-20 23:15] #24917 closed

[2017-06-20 23:16] kargakis commented on #24866
/sig docs

[2017-06-20 23:16] kargakis commented on #24820
/sig api-machinery
/sig node

[2017-06-20 23:16] kargakis commented on #24790
/sig release

[2017-06-20 23:16] kargakis commented on #24735
/sig docs

[2017-06-20 23:16] kargakis commented on #24731
/sig cli

[2017-06-20 23:17] kargakis commented on #24691
/sig release

[2017-06-20 23:18] kargakis commented on #24659
/sig scalability

[2017-06-20 23:19] kargakis commented on #24714
/sig docs

[2017-06-20 23:19] enisoc commented on #47766
In retrospect, I think the annotation was more of an implementation detail (which is why we felt justified removing it in 1.6), so the e2e should have tested some broader definition of "protection against overlapping selectors".

However, at this point in the release cycle I think it would take too long to refactor the test, so I'd be ok with skipping it for 1.6+. Is there already a function that

[2017-06-20 23:19] kargakis commented on #24651
/sig docs
/sig testing

[2017-06-20 23:19] kargakis commented on #24651
@ahmetb this is related to enabling testing in the examples repo

[2017-06-20 23:20] kargakis commented on #24553
/sig network

[2017-06-20 23:20] kargakis commented on #24563
/sig node

[2017-06-20 23:20] kargakis commented on #24639
/sig testing

[2017-06-20 23:21] kargakis commented on #24526
/sig testing

[2017-06-20 23:21] kargakis commented on #24484
/sig apps
@ahmetb

[2017-06-20 23:21] kargakis commented on #24471
/sig testing

[2017-06-20 23:22] kargakis commented on #24527
/sig node
/sig api-machinery

[2017-06-20 23:24] kargakis commented on #24650
Closing in favor of the SO question. Feel free to ask in the kubernetes-users mailing list too.

[2017-06-20 23:24] #24650 closed

[2017-06-20 23:26] kargakis commented on #25647
Please reopen in the heapster repo if this is still relevant.

[2017-06-20 23:26] #25647 closed

[2017-06-20 23:28] kargakis commented on #25628
/sig cli
/sig api-machinery

I think it's generally accepted today that validation should only happen server-side but @kubernetes/sig-api-machinery-misc folks know better.

[2017-06-20 23:29] kargakis commented on #25554
/sig cli

[2017-06-20 23:30] kargakis commented on #25550
/sig cli
/sig api-machinery

[2017-06-20 23:30] kargakis commented on #25529
/sig docs

[2017-06-20 23:30] kargakis commented on #25478
/sig cli

[2017-06-20 23:31] kargakis commented on #25393
/sig testing

[2017-06-20 23:31] kargakis commented on #25388
/sig cli

[2017-06-20 23:32] kargakis commented on #25385
/sig cli

[2017-06-20 23:32] dchen1107 commented on #47769
@kubernetes/sig-scheduling-misc

[2017-06-20 23:33] dchen1107 commented on #47769
@davidopp we need to triage this issue to decide if there are release blocking or not.

[2017-06-20 23:34] dchen1107 commented on #47767
@davidopp we need to triage this issue to decide if there are release blocking or not.

cc/ @kubernetes/sig-scheduling-misc

[2017-06-20 23:57] yujuhong commented on #47800
@kargakis @SleepyBrett do you use docker, if so, what log driver do you use?
If you use the default `json-file` log driver and have access to the node that the specific container ran on, it'd be great if you can provide content of the raw log file (located in `/var/log/containers/`).

[2017-06-20 23:59] dchen1107 commented on #47765
@davidopp I marked this for 1.7 blocking too for now. Please triage it. Thanks!

[2017-06-20 23:59] smarterclayton commented on #47801
To signal success, clear initializers altogether.

[2017-06-21 00:00] #47524 closed

[2017-06-21 00:02] smarterclayton commented on #47787
I suggested PATCH to do blind overwrite, which avoids having to round trip between client and server, which reduces latency, which means the endpoints controller clears work faster, and moves more CPU to the master, where there is less latency to etcd.

[2017-06-21 00:06] kargakis commented on #47800
I saw this in a GKE cluster so I don't have access to the node....

[2017-06-21 00:11] kargakis commented on #38756
@soltysh can you ptal on @wanghaoran1988's proposal?

[2017-06-21 00:17] yujuhong commented on #47800
Whose gke cluster? If you are the owner of the gke cluster, you do have access to the node VMs. You can `gcloud compute ssh` into them.

[2017-06-21 00:18] dchen1107 commented on #47758
I quickly looked at the issue, it is a dup of #47379. And after we fixed #47379 (see detail at https://github.com/kubernetes/kubernetes/issues/47379#issuecomment-309912047), the test is not failed.

[2017-06-21 00:18] #47758 closed

[2017-06-21 00:20] xiangpengzhao commented on #27368
/sig release

[2017-06-21 00:20] xiangpengzhao commented on #27363
/sig aws

[2017-06-21 00:22] ericchiang commented on #45030
This was done in https://github.com/kubernetes/kubernetes/pull/45619.

Can we keep this issue open until we get some docs merge?

[2017-06-21 00:24] k82cn commented on #47767
I'll check what happened as input for triage

[2017-06-21 00:25] dchen1107 commented on #47759
I am closing this as the dup of https://github.com/kubernetes/kubernetes/issues/47379#issuecomment-309912047

[2017-06-21 00:25] #47759 closed

[2017-06-21 00:25] xiangpengzhao commented on #27234
/sig release

[2017-06-21 00:26] xiangpengzhao commented on #27090
/sig cli

[2017-06-21 00:28] kargakis commented on #47800
So I have access after all :) docker 11.2 is used and the log driver is json-file. Unfortunately, I have scaled the deployment down since I had the issue and now I cannot find the container log under /var/log/containers. Noted for the next time tho

[2017-06-21 00:29] xiangpengzhao commented on #27076
/sig release
We can close this stale issue now.

[2017-06-21 00:30] xiangpengzhao commented on #27010
/sig cli

[2017-06-21 00:32] xiangpengzhao commented on #26805
/sig cli

[2017-06-21 00:33] dchen1107 opened #47820 "[upgrade test failure] Several network partition test failing"
After we fixed upgrade test infra issue (https://github.com/kubernetes/kubernetes/issues/47379#issuecomment-309912047), now we get better signals on real failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1-6-1-7-upgrade-cluster/55 The following Network Partition tests are failed:

[code]

[2017-06-21 00:35] xiangpengzhao commented on #26703
/sig cli

[2017-06-21 00:36] xiangpengzhao commented on #26632
/sig testing

[2017-06-21 00:37] xiangpengzhao commented on #26447
/sig docs
/sig network

[2017-06-21 00:39] xiangpengzhao commented on #25939
/sig storage

[2017-06-21 00:40] xiangpengzhao commented on #25704
/sig cli

[2017-06-21 00:44] monopole commented on #47759
yay!  hope its not another flake.

[2017-06-21 00:48] bowei commented on #44723
@bujike you need to open a new issue with the specific problem, environment etc.

[2017-06-21 00:58] jayunit100 commented on #47318
Yup and without loss of generality all predicates and priorities should be easy to combine and simulate tests in...

I think ravi has added affinity benchmarks or is working to add them into scheduler_perf , and we are merging all that I guess in 1.8.   If that work is stil moving forward at Red Hat then this will be extremely easy to accurately measure .

[2017-06-21 00:58] xiangpengzhao commented on #25382
/sig cli

[2017-06-21 00:59] xiangpengzhao commented on #25290
/sig cli
/sig docs

[2017-06-21 01:01] xiangpengzhao commented on #25283
/sig network

[2017-06-21 01:02] xiangpengzhao commented on #25241
/sig cli

[2017-06-21 01:02] xiangpengzhao commented on #25180
/sig cli

[2017-06-21 01:05] mbohlool commented on #47448
yes, but reverting #44714 is not an easy thing. I am trying different methods. Do you guys have any suggestion?

[2017-06-21 01:14] bgrant0607 commented on #46381
See also #9298, #10693, #20605, #30395

[2017-06-21 01:18] #47571 closed

[2017-06-21 01:19] #47814 closed

[2017-06-21 01:42] janetkuo commented on #26703
Hi all, "change cause" is populated from the `kubernetes.io/change-cause` annotation of the resource. Using `--record=true` flag while running `kubectl` command will record the command in the aforementioned annotation. You can manually annotate deployments to see the change cause in rollout history too.

Also note that there is a separate discussion around deprecating `--record` #40422.

[2017-06-21 01:47] timothysc commented on #23709
P1 and P3 are done now, P2 is partially done but there are other issues around it... closing.

[2017-06-21 01:47] #23709 closed

[2017-06-21 01:48] timothysc commented on #24427
This is done, closing.

[2017-06-21 01:48] #24427 closed

[2017-06-21 01:55] janetkuo commented on #47820
cc @foxish

[2017-06-21 02:13] timothysc commented on #47767
This is all expected.  Affinity changed from annotation to field and broke compat from alpha to beta.

[2017-06-21 02:24] timothysc commented on #47769
@k82cn This one would be better if you have cycles.

[2017-06-21 02:55] ahmetb commented on #24484
We won't maintain those examples in the kubernetes/example repository going further. We encourage maintainers of such third party examples (if any) to move the example to another repository where they can easily maintain, or make it a Helm chart for others to consume easily.

/assign

[2017-06-21 02:55] ahmetb commented on #24484
/close

[2017-06-21 02:55] #24484 closed

[2017-06-21 02:57] ahmetb commented on #24651
@kargakis this does not seem like it's about the examples repo. The recipes or packages provided at http://kubernetes.io/docs/getting-started-guides/ (which is now https://kubernetes.io/docs/setup/pick-right-solution/) are not part of the examples repository.

[2017-06-21 03:00] ahmetb commented on #24930
If anybody is interested, please feel free to submit a patch to https://github.com/kubernetes/examples/tree/master/staging/storage/redis. We are not going to be maintaining the examples of third-party software (such as Redis in this case) going forward.

If there are community members volunteering to maintain this recipe going forward, we encourage creating a new repository and continue working on

[2017-06-21 03:00] ahmetb commented on #24930
/close

[2017-06-21 03:00] #24930 closed

[2017-06-21 03:35] liggitt commented on #47448
I want to understand why it is not considered a valid type. Is it invalid because the field type changed *at all* in swagger, or because it used a custom type as a leaf field that generated clients couldn't deal with?

Since we've settled on reverting this (and this particular type change didn't really accomplish anything externally) it's a moot point here, but there are other API evolutions I ant

[2017-06-21 03:54] xilabao commented on #47781
cc @luxas

[2017-06-21 04:14] liggitt commented on #47781
the token id is used in the name of the `Secret` object that stores the token, and Secret names cannot have upper-case characters

[2017-06-21 04:14] liggitt commented on #47781
the token id is used in the name of the `Secret` object that stores the token, and Secret names cannot have upper-case characters

[2017-06-21 04:14] #47781 closed

[2017-06-21 04:30] cheld commented on #24714
Issue can be closed

[2017-06-21 04:36] justinsb commented on #47789
We should use %q as our formatter for these messages, not %s.

[2017-06-21 04:39] justinsb commented on #47789
Ah - hadn't twigged this was an `%v` with an error, but it does seem to work:

https://play.golang.org/p/Y0fHPbixek

[2017-06-21 04:44] #45612 closed

[2017-06-21 04:45] liggitt commented on #45366
I'd prefer to limit the allowed urls to ones with concrete use cases

[2017-06-21 04:45] #45366 closed

[2017-06-21 04:47] liggitt commented on #46806
you could provide a webhook authenticator that processes OIDC tokens differently if desired

[2017-06-21 04:47] #46806 closed

[2017-06-21 04:48] #47574 closed

[2017-06-21 04:50] liggitt commented on #47785
for support questions, please use our troubleshooting guide and community support channels (see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/)

[2017-06-21 04:50] #47785 closed

[2017-06-21 05:02] xiangpengzhao commented on #15634
still not be cleant up completely...
/sig api-machinery

[2017-06-21 05:06] luxas commented on #8686
Agree that if https://github.com/kubernetes/test-infra/issues/1400 was fixed, this should/might be solved as a consequence

[2017-06-21 05:06] xiangpengzhao commented on #20088
/sig cluster-lifecycle

[2017-06-21 05:08] xiangpengzhao commented on #25067
/sig api-machinery

[2017-06-21 05:12] xiangpengzhao commented on #25146
/sig api-machinery
maybe this sig...

[2017-06-21 05:13] xiangpengzhao commented on #25272
/sig cli

[2017-06-21 05:14] davidopp commented on #25146
Actually it's
/sig scheduling

[2017-06-21 05:14] xiangpengzhao commented on #25275
/sig apps

[2017-06-21 05:15] xiangpengzhao commented on #25379
/sig docs

[2017-06-21 05:17] xiangpengzhao commented on #25146
:+1:

[2017-06-21 05:22] #27076 closed

[2017-06-21 05:23] luxas commented on #47781
@andrey01 Also read https://github.com/kubernetes/community/blob/master/contributors/design-proposals/bootstrap-discovery.md

[2017-06-21 05:27] #24714 closed

[2017-06-21 05:36] luxas commented on #24349
I think we just should add kubectl to [a list similar to this one](https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L91), and a `kubectl` image can be created automatically on releases for all supported platforms etc.

[2017-06-21 05:37] luxas commented on #24349
/sig release

[2017-06-21 05:42] mbohlool commented on #47448
It is possible to customize OpenAPI to keep that backward compatible too.

[2017-06-21 05:48] xiangpengzhao commented on #16444
/sig testing

[2017-06-21 05:53] xiangpengzhao commented on #25387
/sig testing
I think it's okay to close this stale flake.
@thockin

[2017-06-21 05:56] xiangpengzhao commented on #25435
/sig auth

[2017-06-21 05:57] xiangpengzhao commented on #25449
/sig cluster-lifecycle

[2017-06-21 05:58] xiangpengzhao commented on #25559
/sig cli

[2017-06-21 05:59] xiangpengzhao commented on #25601
/sig cli
/sig cluster-ops

[2017-06-21 06:19] k82cn commented on #47769
sure, let me try this :).

[2017-06-21 06:26] #47752 closed

[2017-06-21 06:39] abdasgupta commented on #47750
I am mainly interested in contributing for gpu, node, scheduler. Please send me a note if there is anything that I can contribute on these area.

[2017-06-21 07:23] krmayankk commented on #47326
@jsafrane @ddysher in case of dynamic provisioning, the reclaim policy is always delete. But enterprises might want to still keep the PV and not delete them immediately for safety reasons. So we cant make use of the Released phased for preventing the binding.

The identity of the PV is important because, in no circumstance we want the binding process to accidentally bind a PV of one customer to a

[2017-06-21 07:23] k8s-merge-robot opened #47825 "Failure cluster [1cf0b5...] failed 495 builds, 32 jobs, and 1 tests over 1 days"
### Failure cluster [1cf0b5fa0747781dae30](https://go.k8s.io/triage#1cf0b5fa0747781dae30)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    32 jobs failed,    495 builds failed.
Failure stats cover 1 day time range '20 Jun 2017 07:04 UTC' to '21 Jun 2017 07:04 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 32 |

#

[2017-06-21 07:23] k8s-merge-robot opened #47826 "Failure cluster [960bac...] failed 99 builds, 25 jobs, and 1 tests over 1 days"
### Failure cluster [960bacca5efde2003985](https://go.k8s.io/triage#960bacca5efde2003985)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    25 jobs failed,    99 builds failed.
Failure stats cover 1 day time range '20 Jun 2017 07:04 UTC' to '21 Jun 2017 07:04 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 25 |

##### Top

[2017-06-21 07:32] kargakis commented on #25067
/remove-sig api-machinery
/sig apps

[2017-06-21 07:34] kargakis commented on #24651
The goal of the issue is related. We need to do the same thing for the examples: verify that they work between k8s releases.

[2017-06-21 07:35] liuyihe111 commented on #47785
@liggitt My master node and minion node both work normal. And before I configure TLS , I can get node ready . But notready after configuring TLS. So I want to know why it happen? And how to solve it ?

Thank you very much!

[2017-06-21 08:22] bskiba commented on #47801
Thanks, that does work. So basically the behaviour of the initializer depends on if it's the last one on the list? If it's not, remove itself from the pending list, otherwise clear initializers altogether?

[2017-06-21 08:34] tereschenkov commented on #43991
Is there a way to fix this manually? I hit this issue with AWS EFS. One PVC has claimed all the space from PV.

I could use one PVC and different paths in volumeMounts[x].subPath, but the problem is that PVCs are bounded to namespaces and I will end up in creating a lot of EFS drives.

[2017-06-21 09:16] l00357379 opened #47830 "How to configure kubernetes(v1.6.5) to use openstack cinder volume"
Hi,all.
I want to configigure kubernetes to use openstack cinder volume.but can't succeed,the error message is address already in use .

error details as follows:
`root@kubernetes001:~# kubelet --cloud-provider=openstack --cloud-config=/etc/cloud.conf
I0621 09:02:24.024215   30034 feature_gate.go:144] feature gates: map[]
W0621 09:02:24.661881   30034 server.go:469] No API client: no api servers s

[2017-06-21 09:20] #47830 closed

[2017-06-21 09:24] l00357379 opened #47831 "How kubernetes(v1.6.5) uses Openstack cloud provider"
Hi,all.
I want to configigure kubernetes to use openstack cinder volume.but can't succeed,**the error message is address already in use** .

error details as follows:
[code]

Here is my cloud.conf file:
[code]
Any help is appreciated, Thanks!

[2017-06-21 09:28] zoidbergwill commented on #24745
I lied, we seem to be having issues with handshakes when running more than one replica on GCE, going ingress -> nodePort -> socket.io.

[2017-06-21 09:39] wanghaoran1988 opened #47832 "Update the DeleteReplicaSet in rs_util.go to use server side reaper"
As the title said, we need update touse server side reaper.
xref: https://github.com/kubernetes/kubernetes/pull/46425#discussion_r123196514

[2017-06-21 09:39] wanghaoran1988 commented on #47832
/sig apps

[2017-06-21 09:40] gmarek commented on #47344
Kubemark 5000 is passing. To run real 5000 Node experiment we need #47513 or equivalent to be merged.

[2017-06-21 09:53] charlfasching commented on #39494
Thank You, I also had a cluster running on 1.6.4 and the kubectl client of 1.4, when i downloaded a newer kubectl of 1.6, it worked

[2017-06-21 09:59] xilabao opened #47834 "support what-can-i-do in kubernetes"
Currently if people only have permission to get several named resources. they can't use `kubectl get <resource>` to get the list. If we can support `what-can-i-do`, it will be very helpful.
I saw it in openshift (https://github.com/openshift/origin/pull/8675). Could we add this to kubernetes? @deads2k @liggitt

[2017-06-21 10:01] xilabao commented on #47834
/sig auth

[2017-06-21 10:04] gmarek commented on #24467
Ugh, I'm not really sure how it's related to scalability sig (except the fact that I work on Node controller in my free cycles). There's no good SIG for this, but maybe @kubernetes/sig-network-misc want to take ownership of CIDR allocator?

[2017-06-21 10:12] gmarek commented on #47787
I agree with @smarterclayton - we want to avoid unnecessary GETs. The issue here is that we'd need to do some API changes to accomplish that. The question here is - are we doing things like this?

[2017-06-21 10:26] jellonek commented on #47666
Looks like good case to use kubeadm-dind-cluster with [virtlet](https://github.com/Mirantis/virtlet/), to spawn kubernetes on kubernetes. As we have a possibility to run on cloud without enabled nested virtualization (with fallback to plain emulation instead of virtualization) in this case we could spawn tested environment in virtualized network, separated from real one - what could be useful in c

[2017-06-21 10:30] tharpa commented on #47597
How can I manually **permanently** clean up the endpoint list for a service?  I have a staled entry in the ep list which is being recreated every time I start a new pod for the service.

[2017-06-21 10:46] ivan4th commented on #47666
@jell Well, on GCE Virtlet-based VMs will be slow (non-KVM). Although in non-GCE case [k8s-on-k8s](https://github.com/Mirantis/virtlet/tree/master/examples#kubernetes-on-vm-based-statefulset) example may be indeed useful, here we're talking about GCE env where DIND is much faster.

@danehans
Concerning src option, yes, it works, also it's run on CI, e.g. [here's](https://travis-ci.org/Mirantis/kub

[2017-06-21 10:48] ivan4th commented on #47666
(typo in mention, wrote Jell instead of jellonek initially -- sorry for spam)

[2017-06-21 10:49] 2opremio commented on #25533
Any updates?

[2017-06-21 11:12] James-Dao commented on #46611
I have the same issue when using k8s 1.6.0/1.6.6 with calico 2.1/2.2 .

[2017-06-21 11:32] deads2k commented on #47834
It requires a new API and it would only work for some authorizers (RBAC would work).  I'm in favor of doing it.

[2017-06-21 11:49] bskiba opened #47837 "[initializers] Can't modify spec of uninitialized pod."
I'm trying to use the initlializers feature (kubernetes/community#132) and I am unable to modify the spec of an uninitialized pod.

The initializer gets an uninitialized pod, modifies the resources.requests for some containers in the pod spec and POSTs the modified pod.
Result:
`Pod is invalid: spec: Forbidden: pod updates may not change fields other than 'spec.containers[*].image', 'spec.initCont

[2017-06-21 12:05] obeleh commented on #24745
I'm having WS / WSS problems on a GKE ingress as well. I've set up the example provided by @nicksardo and use the following python script:

[code]
`websocket._exceptions.WebSocketBadStatusException: Handshake status 501`

And using a python twisted client:

[code]

At first I thought the SSL offloading in combination with websockets was the issue. But plain http doesn't work either. This is not th

[2017-06-21 12:10] deads2k commented on #43714
The sample-apiserver has been around a while.  Is there a reason not to make use of it now for testing right away?  Nothing prevents us from adding additional tests later on.

[2017-06-21 12:15] k82cn commented on #38768
/cc @wpeng102

[2017-06-21 12:18] erikbgithub opened #47838 "Nodeport only works on Pod Host"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): nodeport, pod, redirect

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: on premise (with xen)
- **OS**

[2017-06-21 12:33] kking124 commented on #34379
I agree it's obsolete - I've not tested for months. I can't confirm or deny
that the issue still exists.

If/when I try a new cluster I will submit a new issue if it's relevant.

Please keep this issue closed.

On Jun 20, 2017 1:12 PM, "Robert Bailey" <notifications@github.com> wrote:

[2017-06-21 12:51] dixudx commented on #47838
It seems that you had not started the `kube-proxy` on minion/kubelet nodes.

[2017-06-21 12:55] erikbgithub commented on #47838
@dixudx do I need to do that manually? Usually kubeadm join
or the pod should take care of such things, or not?

[2017-06-21 12:59] erikbgithub commented on #47838
@kubernetes/sig-onprem-misc

[2017-06-21 12:59] mwielgus commented on #47837
cc: @smarterclayton

[2017-06-21 12:59] shyamjvs commented on #47787
cc @lavalamp @wojtek-t

[2017-06-21 13:00] erikbgithub commented on #47838
@kubernetes/sig-onprem
@kubernetes/sig-network

[2017-06-21 13:02] liggitt commented on #47787
does a json merge patch that overwrites the entire subsets list not work as expected?

[2017-06-21 13:07] dixudx commented on #47838
@erikbgithub Actually `kubeadm init` will help install add-on components via the API server. Right now this is the internal DNS server and the `kube-proxy` **DaemonSet** if you've well configured.

1. Please check whether `kube-proxy` is running on every kubelet node.
2. If kube-proxy daemonsets are running well, please check your firewall setttings (I think this may be the root cause).

[2017-06-21 13:13] shyamjvs commented on #47787
@liggitt We are currently PUT'ing the endpoints object which IIUC is as good as merging the entire subsets list (as that's pretty much the whole endpoints object). This is needing us to send huge endpoints objects over the wire each time. Also (as @smarterclayton pointed out), this could be bad if just a single endpoint is flapping states.

[2017-06-21 13:14] erikbgithub commented on #47838
@dixudx Okay, thanks. Is there a guide how to do it or do I need to experiment that out? The kube-proxy command does have a lot of parameters it seems.

[2017-06-21 13:21] liggitt commented on #47448
What do you mean by backwards compatible? The goal would be for the volume source in a PV to gain namespace fields, and the volume source in a pod to remain the same. This means the volume source type referenced by a PV would have to be different than a Pod.

[2017-06-21 13:25] #47695 closed

[2017-06-21 13:28] timothysc commented on #25067
I'd honestly move to close this.  There are an assorted number of workflow projects that exist outside the core now.

[2017-06-21 13:37] erikbgithub commented on #47838
@dixudx I verified with my colleague. Apiserver has deployed kube-proxy to all nodes, and they seem to be running fine. There's also no firewall issue we are aware of. Communication between pods works. Even the port forwarding works if the ip is added to the ipset manually.

[2017-06-21 13:39] dixudx commented on #47838
@erikbgithub

1. `kubeadm init` will help you install `kube-proxy`, refer to [create-cluster-kubeadm](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#24-initializing-your-master). But you can’t run kubeadm init twice without tearing down the cluster in between. I think you need to check whether `kube-proxy` daemonsets have been deployed successfully. If kube-proxy daemonsets a

[2017-06-21 13:43] kargakis commented on #25067
@timothysc agreed. This means though we should close all the relevant issues: https://github.com/kubernetes/kubernetes/issues/34363 https://github.com/kubernetes/kubernetes/issues/1704 https://github.com/kubernetes/kubernetes/issues/29453

[2017-06-21 13:47] sstarcher commented on #46083
I see this on an aws/coreos setup

[2017-06-21 13:47] timothysc commented on #25067
@kargakis +1 from me.  We have enough cruft.

[2017-06-21 13:49] erikbgithub commented on #47838
`get ds` lists 15/15 which matches the number of hosts. `get pods|grep ...` also mentions 15 `kube-proxy` pods and each hosts hostname in the NODE column.

What can be checked in the firewall? All `iptables` tables are defaulting to `ALLOW`, and there are lots of entries for weave, lots of forwarding.

Does the following look bad?
[code]

The IP Range `172.17.0.1/32`is the service range, as config

[2017-06-21 13:54] erikbgithub commented on #47838
What we mean with the ipset stuff.

There are some rules like these:
[code]

they match against a certain weave client on another host, I suppose. But some of them don't have the corresponding pod IPs added, which can be checked with `ipset` and looking for the `weave-<regex>` group.

[2017-06-21 14:02] dixudx commented on #47838
@erikbgithub  For **NodePort**, some rules like

* `-A KUBE-NODEPORT-CONTAINER -p tcp -m comment --comment "default/nginx-service-nodeport:" -m tcp --dport 32606 -j REDIRECT --to-ports 43981`;
* `-A KUBE-NODEPORT-HOST -p tcp -m comment --comment "default/nginx-service-nodeport:" -m tcp --dport 30975 -j DNAT --to-destination 192.168.0.201:43981`;

should exist on iptable rules.

[2017-06-21 14:03] liggitt opened #47842 "RawExtension fields do not get converted correctly during update"
The API server converts objects to internal versions for processing by admission plugins and rest handlers.

RawExtension fields are converted correctly during create requests, but are left in external versions when handling update requests.

This means that admission plugins and rest handlers expecting internal versions will fail

[2017-06-21 14:09] entropia1 commented on #47838
The iptables rules look fine.

[code]

But the packages get dropped, because the IP (here: `172.16.240.2`) is not in any of the ipsets mentioned above. If we manually add the IP to any of the sets (e.g., `ipset add "weave-k?Z;25^M}|1s7P3|H9i;*;MhG" 172.16.240.2`), the port forwarding works.

[2017-06-21 14:20] ncdc commented on #45546
Taking a look now

[2017-06-21 14:20] erikbgithub commented on #47838
@dixudx entropia is a colleague working on the same issue btw.

[2017-06-21 14:30] ssb22 commented on #6900
If you're stuck on an old Fedora box and want Vagrant to use VirtualBox instead of libvirt (for example because something has gone wrong with your SELinux or kvm configuration that prevents you from bringing up boxes on libvirt), you could try putting `export VAGRANT_DEFAULT_PROVIDER=virtualbox` into your `~/.bashrc`—this is the upstream default, but at least some versions of Fedora's packages ove

[2017-06-21 14:37] ncdc commented on #45546
@stevekuznetsov @mengqiy it looks like you need to do this (note that the annotations portion is wrapped by `?( )`):

[code]

I wrote a unit test and it worked as expected. PTAL!

[2017-06-21 14:41] ssubramanian123 commented on #47142
@bowei As we mentioned above, when our request goes through kube-dns dnsmasq then we are seeing intermittent response.

Running below command in kube-dns pod with our external dns name goes through localhost
[code]

[2017-06-21 14:42] stevekuznetsov commented on #45546
I'm pretty sure that was a typo on my end but let me check -- do you have a reproducer script?

[2017-06-21 14:48] stevekuznetsov commented on #45546
I see an entirely different error today... weird:

[code]

[code]
$ kubectl create -f /tmp/my-service.yml
service "my-service" created
$ kubectl create -f /tmp/my-other-service.yml
service "my-other-service" created
$ kubectl get services -o jsonpath='{ .items[?(@.metadata.annotations.foo=="bar")].metadata.name }'
Error executing template: can only compare one element at a time. Printing more info

[2017-06-21 14:49] ncdc commented on #45546
Ok so you have 1 object with annotations, and 1 without. Let me look into that case.

[2017-06-21 14:49] stevekuznetsov commented on #45546
Let me add another annotation to `my-other-service`

[2017-06-21 14:51] stevekuznetsov commented on #45546
No difference if both have annotations:

[code]

[2017-06-21 14:51] ncdc commented on #45546
Ok, I'll have to test using kubectl

[2017-06-21 14:52] stevekuznetsov commented on #45546
I'm the Origin bundled `kubectl` but I don't think there are any patches on JSONPath there:

[code]

[2017-06-21 14:53] ncdc commented on #45546
I'm able to reproduce in the unit test when 1 object has annotations and the other does not, if allowMissingKeys is true for the jsonpath parser.

[2017-06-21 14:57] stevekuznetsov commented on #45546
I see. Let me know if I can be of more help.

[2017-06-21 15:01] #47815 closed

[2017-06-21 15:03] jwforres opened #47843 "Default garbage collection for a resource can cause partial orphaning"
Seeing this in v1.6.1.

1. Create a Deployment and a Service

[code]

2. On the Deployment add an ownerRef that points back to the Service
3. kubectl delete the Service

The Service and the Deployment are deleted, but the ReplicaSet and pods remain.  This is neither Orphan nor Foreground/Background policy. This behavior should never happen.

Note: if I make a delete call to the API with propagatio

[2017-06-21 15:07] jwforres commented on #47843
@kubernetes/sig-api-machinery-bugs @deads2k @caesarxuchao

cc @liggitt

[2017-06-21 15:08] kubusv opened #47844 "Unauthorized to talk with master"
Hi,
I am trying to talk to master via https using self signed certs, but I am getting the following error:

[code]

[code]

The certificate was verified and it's ok. The token was provided automatically by kubernetes. Nevertheless I receive the response "401 Unauthorized". I have the same response even if I use the --insecure parameter.

Command to generate the certs:

[code]
the /etc/kubernetes/a

[2017-06-21 15:11] ncdc commented on #45546
I think I have a fix. PR coming soon.

[2017-06-21 15:33] ncdc commented on #45546
Possible fix: #47846

[2017-06-21 15:57] chenww opened #47848 "Kibana UI is not loaded up with backend 404 status"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"Kibana is loading"  "kibana 404 status" "kibana spinning"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", G

[2017-06-21 15:58] ivan-gallego commented on #47838
There was a bug in weave-npc 1.9.7 (now fixed in the [newest](https://github.com/weaveworks/weave/releases/tag/v1.9.8) version):
https://github.com/weaveworks/weave/issues/3011

[2017-06-21 16:34] caesarxuchao commented on #47843
This is expected. The default garbage collection policy for old controller types (rc, rs, deployment) etc. is orphaning, for backward compatibility. And when doing BackgroundGC, the GC controller doesn't set the deleteOptions.propagationPolicy.

We met a similar problem for deleting deployment -> RS -> pods. Because that is a very common use case, we made a special fix in https://github.com/kubern

[2017-06-21 16:34] cjyar commented on #37625
I'm also seeing this error. PVCs which were working suddenly stopped working after some of the nodes rebooted last night to install OS updates. I'm seeing the same error: `an empty namespace may not be set when a resource name is provided`

Kubernetes 1.6.4+coreos.0
CoreOS 1409.2.0

[2017-06-21 16:45] yujuhong opened #47853 "Kubelet should not report multiple stats for the same container in the summary endpoint"
We've observed that sometimes container cgroups may be left behind uncleaned even though the container has terminated. In those cases, cadvisor would continue reporting stats for the terminated container, which then is shown in kubelet's /stats/summary endpoint. Once kubelet starts a new container instance, it'd report both the terminated and the new container stats simultaneously.

[code]
The dup

[2017-06-21 16:46] liggitt commented on #47843
that seems wrong. if I'm using the garbage collection feature to propagate (whether a user specified it or it was a default of parent resource), I expect GC to set propagation policy.

[2017-06-21 16:48] liggitt commented on #47843
rather than a one-off fix in the RS controller, why not address the break in the propagation change in the GC controller?

[2017-06-21 16:52] msau42 commented on #47326
@krmayankk once the PV is deleted, then there is no PV object that exists anymore, so you can't accidentally bind to it.  You would have to recreate the PV, either statically or through dynamic provisioning.

Is what you really want the ability to specify Retain policy for dynamically provisioned PVs, so that you have the chance to clean up the data before it gets put back into the provisioning po

[2017-06-21 16:56] piosz commented on #47853
How about the approach where in case of duplicated containers names we leave only the one with the newest startTime?

[2017-06-21 17:02] liggitt commented on #47844
have you changed your server key since starting for the first time? if so, tokens signed with the old key can still be persisted in etcd.

[2017-06-21 17:03] mikedanese opened #47855 "scalability tests failing due to csr bootstrap"

[2017-06-21 17:09] chenww commented on #47848
@kubernetes/sig-Apps-misc

[2017-06-21 17:14] kubusv commented on #47844
No, the server key is always the same. Anyway I try also to restart the whole cluster.

[2017-06-21 17:18] caesarxuchao commented on #47843
In the backgroundGC, the owner is deleted immediately, so unlike orphaning or the foregroundGC, there is no finalizer left for the GC controller to determine the intention of the user. In the absence of the user's intention, the GC controller doesn't set deleteOptions.PropagationPolicy when deleting dependents.

[2017-06-21 17:19] cjyar commented on #37625
I fixed this on my cluster. I had 2 glusterfs pods that were not running, even though `kubectl get pods` showed them as `Running`. Restarting the two glusterfs pods (by using `docker rm` on the node) made this seemingly irrelevant error go away, and everything started working.

- Affected pods are on nodes that have rebooted recently.
- Heketi, on a recently-rebooted node, is running fine.
- Node

[2017-06-21 17:21] janetkuo commented on #47766
Agree. We should document this in the community "how to write e2e tests" guide too

Yes there is. I'll file a PR

[2017-06-21 17:22] liggitt commented on #47843
If it's not orphaning, and it's not foregroundGC, the only logical option that remains is backgroundGC

[2017-06-21 17:23] janetkuo commented on #47820
Errors look like this:

[code]

[2017-06-21 17:23] liggitt commented on #47844
Does deleting the token secret via the API and letting it regenerate fix the issue? If so, the signing key changed at some point in the past.

[2017-06-21 17:30] caesarxuchao commented on #47843
There is another case, user might intentionally choose not to set DeleteOptions.Propagation policy and wants to respect the existing finalizers of the dependents or the default GCstrategy defined by the REST storage of the dependents.

[2017-06-21 17:33] liggitt commented on #47843
except that it isn't... if I delete resource X and specify no propagation policy, that resource strategy's default propagation policy should take effect just as if the user had specified it.

[2017-06-21 17:35] ericchiang commented on #47255
Still failing and broken on master as well https://k8s-testgrid.appspot.com/release-master-blocking#soak-gce-gci-test

[2017-06-21 17:35] yujuhong commented on #47853
That's what I suggested -- using some heuristics to filter.

[2017-06-21 17:47] shyamjvs commented on #47787
Seems like it's not possible to merge patch individual elements of arrays as per [RFC 7386](https://tools.ietf.org/html/draft-ietf-appsawg-json-merge-patch-07) (the one that our [jsonpatch](https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/evanphx/json-patch) package follows). Quoting from the document:
`Also, it is not possible to patch part of a target that is not an object,

[2017-06-21 17:50] liggitt commented on #47787
I think that would be a breaking API change

[2017-06-21 17:59] dchen1107 commented on #47207
Approved this for 1.7 release based on the conversation with @liggitt and the engineers from @kubernetes/sig-storage-misc

[2017-06-21 18:04] chenww commented on #47848
I figured this out as it is kargo issue in which it has KIBANA_BASE_URL configured. Remove it works.

        env:
          - name: "ELASTICSEARCH_URL"
            value: "http://elasticsearch-logging:9200"
#          - name: "KIBANA_BASE_URL"
#            value: "/api/v1/proxy/namespaces/kube-system/services/kibana-logging"

[2017-06-21 18:04] #47848 closed

[2017-06-21 18:16] foxish commented on #47820
Looking into this

[2017-06-21 18:27] shyamjvs commented on #47787
That's true. However if we want to be able to merge patch, we need the elements of the array to be somehow keyed.

Another option I could think of was to use the index of the array element as it's key. This won't need any API change, but it's not a very clean way. Because a patch operation like "update element at index 5" might end up reaching after some other element got inserted there. What's wo

[2017-06-21 18:39] antoineco commented on #29330
Fixed in #39716. Will be in Kubernetes 1.7.

[2017-06-21 18:46] droot opened #47861 "PodPreset application on Pod is not consistent incase of a merge conflict"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): podpreset

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**What happened**:
If you have merge conflict while applying podpresets on a Pod, current logic modifies the PodSpec partially.
Scenario:
Let say:
 * We have a PodPre

[2017-06-21 18:46] pavolloffay opened #47862 "Port-forward for UDP"
Kubernetes currently supports port forwarding only for TCP ports. However, Pod/service might expose UDP port too.

[2017-06-21 18:47] droot commented on #47861
/sig service-catalog
/assign droot

[2017-06-21 18:48] dchen1107 commented on #38120
We decided to revert #44714 due to the backward compatible problem.

[2017-06-21 18:48] droot commented on #47861
/assign droot

[2017-06-21 18:54] pavolloffay commented on #47862
@kubernetes/sig-network @kubernetes/sig-node

[2017-06-21 18:56] crassirostris commented on #47848
@chenww Yup, the docs around this deployment is not in the best shape, sorry. If you remove this env variable, kibana starts working with the root path, but stops working through proxy. This is the Kibana's peculiarity :)

[2017-06-21 18:57] liggitt opened #47863 "structure of allowHostPaths in PodSecurityPolicy does not allow for future checks"
extracted from https://github.com/kubernetes/kubernetes/pull/47811

the current implementation of `allowHostPaths` in PodSecurityPolicy is not friendly to future checks, like ensuring the path is ReadOnly

[2017-06-21 18:57] liggitt commented on #47863
as discussed in https://github.com/kubernetes/kubernetes/pull/47811, this should be reverted and revisited in 1.8

[2017-06-21 19:13] shyamjvs opened #47865 "Kubelet OOM killing in 'g1-small' node during huge-cluster perf test"
While running scalability tests today (as part of https://github.com/kubernetes/kubernetes/issues/47344) on a 4000-node GCE cluster, this happened during density test termination. Currently, load test is running.
It failed due to some density pod's condition not being updated and on digging up a bit turned out a couple of kubelets (one where the pod was running) crashed:

[code]

From the kernel l

[2017-06-21 19:14] deads2k opened #47866 "aggregator doesn't route to services when embedded"
https://github.com/kubernetes/kubernetes/issues/46812 accidentally stopped the embedded aggregator from routing to remove services.

[2017-06-21 19:15] deads2k commented on #47866
/sig apimachinery

[2017-06-21 19:18] mbohlool commented on #47448
I think that is another issue we can discuss separately (would be nice if you can add another issue and point to the exact types and proposal of change so we can discuss it). There are tools to check backward compatibility of OpenAPI and I will add a verify script to run one of them to make sure we keep the spec backward compatible. If we are going to do a backward incompatible change on v1 or any

[2017-06-21 19:25] ReneSaenz commented on #40027
Hello. I am trying to restore a k8s cluster from etcd data backup. I am able to restore the etcd cluster to it original state (has all the k8s info). However, when I get the k8s cluster rc,services,deployments,etc  they are all gone. The k8s cluster is not like before the restore.
What am I missing?  Can someone point me in the right direction?

[2017-06-21 19:30] shyamjvs commented on #47865
/assign @dchen1107
Feel free to reassign as apt.

[2017-06-21 19:32] davidopp opened #47867 "Scheduler and kubelet should consider resources of terminated-but-not-yet-deleted pods to still be in use."
@vishh pointed out that for scheduling and kubelet admission, we should consider resources of terminated-but-not-yet-deleted pods to still be in use, because it may take an arbitrary amount of time for the system to deallocate resources. We didn't check to see if this is currently how it is implemented or not.

cc/ @vishh @bsalamat

/sig scheduling

[2017-06-21 19:32] davidopp commented on #47867
cc/ @kubernetes/sig-scheduling-feature-requests

[2017-06-21 19:32] shyamjvs commented on #47865
If you can confirm that the reason is due to not having large-enough nodes, we can rerun with larger ones.

[2017-06-21 19:35] shyamjvs commented on #47344
Update: We could finally start an enormous cluster today on GCE, but with 4k nodes instead of 5k nodes (due to shortage of routes quota with gke-large-cluster also running). Currently load test is running. Density test failed due to oom'ing issue with a kubelet and also there was higher than threshold latency for 'list pods', but I think we understand this part. After the current run finishes, we'

[2017-06-21 19:40] gmarek commented on #47865
This basically means that between 1.6 and 1.7 resource usage on Nodes grew enough to cause widespread OOMs on 1.7GB machines, when they're running ~30 pause Pods.

[2017-06-21 19:43] deads2k opened #47868 "Need example admission plugin"
The sample-apiserver should provide an example admission plugin that makes meaningful use of a plugininitializer.  One way to do this is to create a cluster-scoped resource in the group.  The cluster scoped resource could have a field that indicates Flunder.Names that are disallowed.  The admission plugin could list the cluster-scope resources and check against banned names.

It could later be exp

[2017-06-21 19:44] liggitt commented on #47448
sure, relevant issues are
https://github.com/kubernetes/kubernetes/issues/47427
https://github.com/kubernetes/kubernetes/issues/47452

PR adding namespace field and splitting PV and Pod volume source types is https://github.com/kubernetes/kubernetes/pull/47660

can move the conversation about openapi compatibility there

[2017-06-21 19:48] nleib commented on #44311
in what version of Kubernetes was this fixed? I saw it in 1.6.1 and at 1.7 alpha

[2017-06-21 19:49] marun commented on #46702
According to @deads2k this is waiting on https://github.com/kubernetes/k8s.io/pull/61 being pushed.

[2017-06-21 19:53] monopole commented on #46185
ping.  still failing, no clear direction here.

[2017-06-21 20:02] shyamjvs commented on #47865
Seems like there are nodes crashing from time to time (a bit more even for load test I guess):

[code]

Most of them OOMs. Let's try with bigger machines tomorrow and see if the problem still persists.

[2017-06-21 20:03] janetkuo commented on #47697
Did not see any single one flake for over 1 day. Closing

[2017-06-21 20:03] #47697 closed

[2017-06-21 20:05] mbohlool commented on #38637
This is the latest plan for deprecation:

1. Announce deprecation with 1.7 release
2. Kubectl will migrate to OpenAPI in 1.8
3. Adding a "Deprecated(#38637) - " prefix to old swagger documentations in 1.8.
4. Remove old swagger in 1.9.

[2017-06-21 20:06] bowei commented on #46185
Taking a look

[2017-06-21 20:12] kargakis commented on #47862
/sig network

[2017-06-21 20:13] kargakis commented on #47831
/sig openstack

[2017-06-21 20:14] kargakis commented on #41159
/sig autoscaling

[2017-06-21 20:15] kargakis commented on #37962
/sig aws

[2017-06-21 20:15] kargakis commented on #41154
/sig aws
/sig node

[2017-06-21 20:15] kargakis commented on #41125
/sig network
/kind dns

[2017-06-21 20:15] kargakis commented on #41120
/sig api-machinery

[2017-06-21 20:16] yujuhong commented on #47865
Yep. There are many add-on pods, so it's hard to guess which one uses more resources in 1.7 without a side-by-side comparison. There were new daemonset (ip-masq-agent) added too, so the increase in resource usage may be expected.

kube-proxy was using quite a lot of memory, but I assumed this is by design since the test created ~13k services.
[code]

The only thing that caught my attention is that

[2017-06-21 20:16] kargakis commented on #41046
/sig apps
/kind example

[2017-06-21 20:16] kargakis commented on #41046
Please move this to the kubernetes/examples repo.

[2017-06-21 20:16] #41046 closed

[2017-06-21 20:16] kargakis commented on #41044
/sig storage

[2017-06-21 20:17] kargakis commented on #41040
/sig auth

[2017-06-21 20:17] kargakis commented on #40841
/sig apps

[2017-06-21 20:18] kargakis commented on #40841
/sig api-machinery

[2017-06-21 20:18] kargakis commented on #40755
/sig auth

[2017-06-21 20:18] kargakis commented on #40772
/sig federation

[2017-06-21 20:19] kargakis commented on #40783
/sig api-machinery

[2017-06-21 20:19] kargakis commented on #40724
/sig network
/sig auth
/kind dns

[2017-06-21 20:19] monopole commented on #47767
@timothysc Did you have someone in mind to fix the broken test?

[2017-06-21 20:20] kargakis commented on #40610
/sig node

[2017-06-21 20:20] kargakis commented on #40588
/sig api-machinery

[2017-06-21 20:20] kargakis commented on #40581
/sig aws

[2017-06-21 20:20] kargakis commented on #40540
/sig cli

[2017-06-21 20:21] yujuhong commented on #46984
@mrunalp, this is needed for cri-o (or any other cri integration) to support container stats, and will involve changes to mostly kubelet code and a little bit of cadvisor code. If anyone is willing to help out, that'd be great.

[2017-06-21 20:23] kargakis commented on #40287
/sig docs

[2017-06-21 20:24] kargakis commented on #40245
/sig storage
/sig node
/kind bug

[2017-06-21 20:25] kargakis commented on #40273
/sig storage

[2017-06-21 20:27] kargakis commented on #39864
/sig apps
/sig api-machinery

@andrejvanderzee still an issue?

[2017-06-21 20:27] bowei commented on #47374
Did the cert fix this problem? This is not a sig-network related problem.

[2017-06-21 20:27] kargakis commented on #39940
/sig api-machinery

[2017-06-21 20:27] kargakis commented on #40161
/sig release

[2017-06-21 20:27] kargakis commented on #40222
/sig docs
/sig testing

[2017-06-21 20:28] kargakis commented on #39633
/sig docs

[2017-06-21 20:28] kargakis commented on #39637
/sig release

[2017-06-21 20:28] kargakis commented on #39767
/sig auth
/sig cli

[2017-06-21 20:29] liggitt commented on #47374
looks like the last test run was green

[2017-06-21 20:29] kargakis commented on #39798
Should be fixed in 1.7

[2017-06-21 20:29] #39798 closed

[2017-06-21 20:29] kargakis commented on #39856
/sig federation

[2017-06-21 20:30] liggitt commented on #47374
went green in build 32 on commit 2c5b5714e on 6/20

[2017-06-21 20:30] #47207 closed

[2017-06-21 20:30] #38075 closed

[2017-06-21 20:30] #47809 closed

[2017-06-21 20:30] #47842 closed

[2017-06-21 20:30] kargakis commented on #39584
/sig scheduling
/sig storage

[2017-06-21 20:30] kargakis commented on #39467
/sig storage

[2017-06-21 20:30] kargakis commented on #39334
/sig node

[2017-06-21 20:32] kargakis commented on #26023
/sig testing
/sig release
/sig contributor-experience

[2017-06-21 20:32] kargakis commented on #25969
/sig network

[2017-06-21 20:32] kargakis commented on #25931
/sig release
/sig contributor-experience

[2017-06-21 20:33] kargakis commented on #25900
/sig release

[2017-06-21 20:33] kargakis commented on #25854
/sig onprem
/sig release

[2017-06-21 20:34] kargakis commented on #25832
/sig node
/sig cli

[2017-06-21 20:34] luomiao commented on #40755
@kargakis

Sorry this one has been resolved in PR: https://github.com/kubernetes/kubernetes/pull/40843
I am closing it now.

[2017-06-21 20:34] #40755 closed

[2017-06-21 20:36] davidopp commented on #47767
@monopole These should all be disabled for 1.5-1.7 upgrade, not fixed.

[2017-06-21 20:36] kargakis commented on #25730
/sig testing

[2017-06-21 20:37] kargakis commented on #25730
@detiber

[2017-06-21 20:37] kargakis commented on #25822
/sig api-machinery

[2017-06-21 20:37] yvespp commented on #42433
I had the same problem with a simple deployment on Kubernetes v1.6.6 test cluster:
[code]
As soon as I scaled it to 11 replicas and the cluster capacity was exceeded Kubernetes startet to create more and more pods:
[code]
I noticed that we had a custom scheduler policy configuration (arg `--policy-config-file`):
[code]
After removing the policy, scaling works as expected and one pod is stuck in pe

[2017-06-21 20:38] kargakis commented on #26362
/sig network

[2017-06-21 20:38] kargakis commented on #26367
/sig storage

[2017-06-21 20:39] kargakis commented on #26305
/sig api-machinery

[2017-06-21 20:39] kargakis commented on #26274
/sig scalability

[2017-06-21 20:39] kargakis commented on #26234
/sig cli

[2017-06-21 20:51] foxish commented on #47820
Not a real failure.
The upgrade cluster is bootstrapping the kubelet in a different way when compared with other e2e clusters.

[code]

The **server** is typically (in every other cluster I inspected) the external IP address of the master in all other clusters. Here, it is using the DNS name, which resolves to the internal IP address.
The iptables rule injections don't take effect due to that diff

[2017-06-21 20:56] mwielgus commented on #41159
cc: @DirectXMan12

[2017-06-21 20:56] timothysc commented on #47767
Yup, There was another issue open where I said pretty much the same thing.  We need to collect a skip expression to pass to ginkgo that simply skips these.

/cc @fejta @spiffxp

[2017-06-21 20:59] mwielgus commented on #41159
@weaseal HPA calculates average CPU usage over 1 min. What would be your desired average period?

[2017-06-21 21:02] krousey commented on #47820
cc @mikedanese

[2017-06-21 21:04] enisoc commented on #47685
I can't think of an easy way to fix the test since it is fundamentally testing two layers at once (Deployment and ReplicaSet), which requires it to rely on implementation details of how those two layers get connected to each other.

I'm in favor of skipping this for 1.5->1.7 because a fix would essentially require rewriting the test.

[2017-06-21 21:09] mwielgus commented on #43911
For 1.7 we will have autoscaling for GCE. https://github.com/kubernetes/autoscaler/issues/43
For AWS we need community contribution https://github.com/kubernetes/autoscaler/issues/132
Azure support will come once we get https://github.com/kubernetes/autoscaler/issues/133 fixed.

Closing as duplicate/fixed.

[2017-06-21 21:09] #43911 closed

[2017-06-21 21:13] khogeland opened #47871 "Generation and ObservedGeneration should not be optional"
These fields are marked optional on every type that uses them. This makes it impossible to _reliably_ use ObservedGeneration as a sanity check. It should always be populated so that it can be used to verify you are looking at a status for the correct version of the resource.

In Kubernetes 1.5, the ObservedGeneration in StatefulSetStatus was never populated ([this appears to have been fixed in lat

[2017-06-21 21:15] monopole commented on #47379
This guy is flakey: [gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-6-cvm-1-7-upgrade-cluster-new/32#k8sio-upgrade-featureupgrade-k8sio-cluster-upgrade-should-maintain-a-functioning-cluster-featureclusterupgrade), [history](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%

[2017-06-21 21:18] mwielgus commented on #37656
https://github.com/kubernetes/contrib/issues/2228

Done.

[2017-06-21 21:18] #37656 closed

[2017-06-21 21:20] mwielgus commented on #30446
Fixed with https://github.com/kubernetes/autoscaler/issues/128

[2017-06-21 21:20] #30446 closed

[2017-06-21 21:22] mwielgus commented on #13589
Closing in favor of Vertical Pod Autoscaler effort in kubernetes/autoscaler.

[2017-06-21 21:22] #13589 closed

[2017-06-21 21:22] yujuhong opened #47872 "CRI: support non-builtin container runtimes"
The built-in cri-docker integration relies on some legacy support (e.g., the docker-cadvisor integration) that a new CRI integration does not have. Below is a list of issues we need to address to fully support a non-builtin, non-docker container runtime via CRI.

A (potentially incomplete) list of issues to unblock adopting a (non-docker) CRI integration.
- [ ] Refactor kubelet to consume containe

[2017-06-21 21:23] mwielgus commented on #14178
Closing in favor the effort in https://github.com/kubernetes/autoscaler.

[2017-06-21 21:23] #14178 closed

[2017-06-21 21:25] k8s-merge-robot opened #47873 "Failure cluster [ac251c...] failed 136 builds, 27 jobs, and 1 tests over 1 days"
### Failure cluster [ac251c8c201b5a9a0dc3](https://go.k8s.io/triage#ac251c8c201b5a9a0dc3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    27 jobs failed,    136 builds failed.
Failure stats cover 1 day time range '20 Jun 2017 19:59 UTC' to '21 Jun 2017 19:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 27 |

##### To

[2017-06-21 21:25] k8s-merge-robot opened #47874 "Failure cluster [52d977...] failed 113 builds, 113 jobs, and 1 tests over 1 days"
### Failure cluster [52d97722fe168ec6a414](https://go.k8s.io/triage#52d97722fe168ec6a414)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    113 jobs failed,    113 builds failed.
Failure stats cover 1 day time range '20 Jun 2017 19:59 UTC' to '21 Jun 2017 19:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DiffResources | 113

[2017-06-21 21:25] mwielgus commented on #16177
This is probably covered by RBAC now.
@DirectXMan12, can we close this issue?

[2017-06-21 21:28] enisoc commented on #47768
This does seem to be a node problem unrelated to this particular test. There are just no nodes available for scheduling. When the test fails, it prints out node info for each node, and they are all empty like this:

[code]

Also, the test appears to have gone green again in [subsequent runs](https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-gci-1-7-upgrade-cluster&width=20&include-filte

[2017-06-21 21:30] monopole commented on #45211
Closing, it's mysteriously [green again](http://www.executedtoday.com/images/Ancient_Alien_Guy_meme.jpg).

[2017-06-21 21:33] mwielgus commented on #20272
Being removed in https://github.com/kubernetes/kubernetes/pull/47876.
Currently not run anywhere. Closing.

[2017-06-21 21:33] #20272 closed

[2017-06-21 21:33] bsalamat commented on #42433
@yvespp I think your case might be different than what this issue is about. Each one of your nginx pods is requesting 1 cpu. If your nodes have only 1 cpu, it is not surprising that they are not scheduled. Among the scheduler's policy config was the "PodFitsResources" predicate. Once you removed it, the scheduler didn't check resources of the nodes and scheduled all the pods.
All that I said above

[2017-06-21 21:33] lavalamp commented on #47668
@cnwalker I would probably write an integration test for this--should be an example in the test/integration directory. Just find a test that makes e.g. a pod, copy it, make it add a 1mb annotation, and test the error message.

[2017-06-21 21:34] mwielgus commented on #21548
We pivoted our custom metrics strategy out of kubelet. Closing as not relevant anymore.

[2017-06-21 21:34] #21548 closed

[2017-06-21 21:44] ericchiang commented on #31292
Was going to write a formal proposal for this for 1.8 if no one else has taken it.

[2017-06-21 21:44] ixdy commented on #47386
#47877 should be the last update needed.

[2017-06-21 21:54] chrissnell commented on #39767
@alejandroEsc sounds good to me.  I think this could be combined with #29819 to do some basic cert validity checks for the `kubectl` user.

One design question I have is: should `kubectl` exit with a certain exit code when the cert fails these checks?

[2017-06-21 21:55] bgrant0607 commented on #3595
cc @kow3ns @jagosan

[2017-06-21 22:02] euank commented on #39334
/close

[2017-06-21 22:04] MrHohn commented on #44311
Hi @nleib, this fix is in v1.6.2 and v1.7.0-alpha.2.

[2017-06-21 22:09] monopole commented on #45211
/close

[2017-06-21 22:10] monopole commented on #45211
/assign @monopole

[2017-06-21 22:10] monopole commented on #45211
/close

[2017-06-21 22:10] #45211 closed

[2017-06-21 22:10] monopole commented on #47379
/reopen

[2017-06-21 22:21] #47863 closed

[2017-06-21 22:21] #47448 closed

[2017-06-21 22:28] foxish commented on #47820
Additionally, this only happens in CVM tests. Looks to me like it's a cluster bootstrapping issue.

[2017-06-21 22:28] mwielgus commented on #21547
Pivoted the cm strategy in HPA. Closing the issue.

[2017-06-21 22:28] #21547 closed

[2017-06-21 22:29] mwielgus commented on #12422
This doesn't look like sig/autoscaling problem.

[2017-06-21 22:34] mwielgus commented on #24404
Closing the issue. All Cluster Autoscaler issues should be tracked inside https://github.com/kubernetes/autoscaler.
Moreover, all of the improvements mentioned above were done.

[2017-06-21 22:34] #24404 closed

[2017-06-21 22:35] yastij commented on #47704
Handling the buffer on this one is a bit tricky:

- copying buffer: good performence, but higher memory consumption (i.e copying buffer for each write).

- using a pool of buffers: this limits memory consumption, but if no buffer is in the pool the goroutine, should wait until a buffer is returned. This solution brings some contention around the buffer pool.

what do you think @caseydavenport ?

[2017-06-21 22:36] mwielgus commented on #22800
Pivoted strategy around Custom Metrics in HPA. Kubelet and cAdvisor are not used anymore.

[2017-06-21 22:36] #22800 closed

[2017-06-21 22:39] mwielgus commented on #18826
Won't be fixed. Initial resources will be deleted in favor of VPA.

[2017-06-21 22:39] #18826 closed

[2017-06-21 22:41] mwielgus commented on #18221
All required validation is there.

[2017-06-21 22:41] #18221 closed

[2017-06-21 22:49] mwielgus commented on #41199
First of all, cpu will almost never be == 0. It will be 0.01 or so. How can we tell that a pod with 0.01 cpu usage is useless?
Moreover, we cannot selectively scale down deployments. Also if your request are long and scarce you should not use HPA. HPA is for short (and frequent) requests that automatically balance across all available replicas. If this is not the case you need a different solution

[2017-06-21 22:49] danehans commented on #47666
@ivan4th I successfully deployed a 3-node v1.6 k8s cluster using https://github.com/Mirantis/kubeadm-dind-cluster in my Docker for Mac (10.12.5) dev environment . I had to `brew install md5sha1sum` and update my kubectl client (v1.6.3).
[code]
I'm super impressed on how easy and fast this multi-node setup is. Nice work!

I am starting to test changes that are needed for IPv6. I first tried updatin

[2017-06-21 22:51] mwielgus commented on #15673
No traffic on the issue for more than a year. Can it be closed?

[2017-06-21 22:55] mwielgus commented on #25514
Noone requested/pinged for this for more than a year, closing.

[2017-06-21 22:55] #25514 closed

[2017-06-21 22:56] mwielgus commented on #18097
cc: @wasylkowski - you worked on something similar. Does your work fix the issue?

[2017-06-21 23:07] yastij commented on #47243
@enisoc - sorry for the delay, was caught by some issues on docker.

by requeue, we mean use the `queue workqueue.RateLimitingInterface` after each action of update/manage and return, the sync is trigerred automatically ?

Thanks !

[2017-06-21 23:12] hongchaodeng opened #47880 "Make TolerateUnreadyEndpointsAnnotation beta"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Service. TolerateUnreadyEndpointsAnnotation.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

ref:
- https://github.com/kubernetes/kubernetes/issues/39363
- https://github.com/kubernetes/kubernetes/issues/39207

Tolerat

[2017-06-21 23:16] yujuhong commented on #47865
oops. I cc the wrong person. should be @dnardo because of #46782

[2017-06-21 23:21] dnardo commented on #47865
the limits for ip-masq-agent are pretty small so I doubt it's taking too much resources.  If it was oomkilled then yeah maybe it was too small, that said I doubled it from a 24 hour max so I'm a bit surprised.

[2017-06-21 23:24] hongchaodeng commented on #47880
@kubernetes/sig-api-machinery-feature-requests

[2017-06-21 23:24] hongchaodeng commented on #47880
@kubernetes/sig-network-feature-requests

[2017-06-21 23:35] foxish opened #47882 "Upgrade test cluster inconsistency"
When the upgrade tests are performed, the kubelets in the upgraded cluster are bootstrapped in a different manner than those in e2e clusters.

Context: https://github.com/kubernetes/kubernetes/issues/47820#issuecomment-310201338
Looks like it may be related to: https://github.com/kubernetes/kubernetes/pull/40760

Upgraded 1.6->1.7 cluster
[code]

Typical 1.7 e2e cluster:

[code]

/assign mikedanes

[2017-06-21 23:36] foxish commented on #47882
Suspected cause:
In 1.6, we use the `--api-servers` flag and pass the APIserver external IP to the kubelets. In 1.7, this went away and we started to instead rely on kubeconfig.
The kubeconfig from 1.6 is different and is retained even after the upgrade is performed leading to the above

[2017-06-21 23:39] foxish commented on #47882
@kubernetes/sig-cluster-lifecycle-bugs

[2017-06-21 23:40] khogeland commented on #47871
/sig api-machinery

[2017-06-22 00:05] bsalamat commented on #47769
Among the tests in the first post of this issue, "Pods should be scheduled to low resource use rate node" is failing a lot. As I had mentioned in a different issue, I tried reproducing this locally, but I was not able to. So, my guess is that some configuration/condition/state in our test clusters cause the test to fail.

The "least requested" priority function is tested extensively in our unit te

[2017-06-22 00:09] crimsonfaith91 commented on #47376
The test was removed in statefulset update PR: https://github.com/kubernetes/kubernetes/pull/46669/files#diff-d6cf821393f7e9ea6770d35ab5749d4dL286

Not sure whether we should skip it when testing against v1.7 cluster.

[2017-06-22 00:18] dchen1107 commented on #47865
@dnardo, what is the current limit? I have asked this in another issue / pr, but no one answered my question. @matchstick Are we sure we want to enable this by default for 1.7 release? I raised my concern related to this before at https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305866535

@davidopp This is the concern I was talking to you yesterday about 1.7 release: newly added

[2017-06-22 00:28] crimsonfaith91 commented on #47378
@kow3ns I can work on redesigning this test.

This test examines `Replicas` when running against v1.6 cluster (by calling `WaitForStatus()`) and `ReadyReplicas` when running against v1.7 cluster (by calling `WaitForStatusReadyReplicas()`). When running the v1.6-v1.7 upgrade test, this test examines `Replicas` against v1.7 cluster.

I speculate that the order is changed due to presence of non-ready

[2017-06-22 00:32] #44533 closed

[2017-06-22 00:36] crimsonfaith91 commented on #47378
/assign @crimsonfaith91

[2017-06-22 00:41] cmluciano commented on #25969
/assign

[2017-06-22 00:42] cmluciano commented on #25969
/close

This issue is over a year old and it seems that several fixes have gone in. I'm closing this issue until we have further evidence that it is still a problem.

[2017-06-22 00:42] #25969 closed

[2017-06-22 00:42] bowei commented on #24467
This is sig-network owned.

[2017-06-22 00:46] cmluciano commented on #47862
/assign

@pavolloffay UDP is supported in [services](https://kubernetes.io/docs/concepts/services-networking/service/). Are you looking for a ```kubectl port-forward``` command?

[2017-06-22 00:51] cmluciano commented on #25387
/assign

[2017-06-22 00:51] cmluciano commented on #25387
/close

[2017-06-22 00:51] #25387 closed

[2017-06-22 00:51] monopole commented on #47768
OK, five greens in a row. Closing.

[2017-06-22 00:51] #47768 closed

[2017-06-22 00:52] aanm commented on #24467
@gmarek you can set up the pod-cidrs on the api-server

[2017-06-22 00:53] cmluciano commented on #26447
I think this can be closed @bprashanth

[2017-06-22 00:59] cmluciano commented on #40724
@frankgreco Are you still seeing this issue?

[2017-06-22 01:02] cmluciano commented on #18233
Adding to 1.8 milestone

[2017-06-22 01:04] ichekrygin commented on #25238
@ianrose14 - strange, this is my repro in `v1.6.2` and `v1.6.4`:
[code]

[2017-06-22 01:07] rochdev commented on #25238
@ichekrygin Do you get the same result if you completely remove the `replicas` field from the deployment definition?

[2017-06-22 01:07] enisoc commented on #47243
Yes, it would basically be like you said - after taking an action, add yourself back to the queue and return success.

However, the tricky part will be making sure that the overall behavior is still correct after switching to this pattern. You may need to refactor some of the controller logic.

I don't know enough about DaemonSet to know what issues you might run into, but perhaps @janetkuo can co

[2017-06-22 01:17] smarterclayton commented on #39767
We do not have custom exit codes today, and if we do add those we would do
it holistically.

On Wed, Jun 21, 2017 at 5:55 PM, Chris Snell <notifications@github.com>
wrote:

[2017-06-22 01:19] timothysc commented on #43197
Rip is here - https://github.com/kubernetes/kubernetes/pull/47869

Closing.

[2017-06-22 01:19] #43197 closed

[2017-06-22 01:22] xiangpengzhao commented on #41185
/sig node

[2017-06-22 01:22] xiangpengzhao commented on #41142
/sig storage

[2017-06-22 01:26] xiangpengzhao commented on #40871
/sig apps

[2017-06-22 01:26] xiangpengzhao commented on #40827
/sig node

[2017-06-22 01:32] xingzhou commented on #47727
I'd like to take a look at this

[2017-06-22 01:36] xiangpengzhao commented on #39251
/sig storage

[2017-06-22 01:37] yujuhong commented on #47865
The memory limit is only 8MB which is pretty small. I didn't mean to say that the new daemon is the culprit. Any existing daemon on the node could've had an significant increase in the resource usage, or all of them could have collectively caused the memory to went over limit. Hard to pinpoint what's the exact cause without baseline (1.6) to compare against.

[2017-06-22 01:39] xiangpengzhao commented on #39144
/sig cli
/sig network

[2017-06-22 01:41] xiangpengzhao commented on #39130
/sig node

[2017-06-22 01:42] xiangpengzhao commented on #39124
/sig node

[2017-06-22 01:43] xiangpengzhao commented on #39117
/sig api-machinery

[2017-06-22 01:45] xiangpengzhao commented on #39101
/sig storage

[2017-06-22 01:46] fzu-huang opened #47884 "How to add a non-namespaced scope resource into API?"
I tried to add an resource named `Network` which is non-namespaced into API .
This is what I did:
Add this resource's struct into types.go and /v1/types.go.   I add two notes: `+genclient=true` and `+nonNamespaced=true` in case of create its client without namespace;
Add its storage.go, registry.go and strategy.go file into `pkg/registry/core/network`  which I created. I Changed the function `Name

[2017-06-22 01:49] xiangpengzhao commented on #39035
/sig api-machinery
/cc @liggitt
As per discussion in #39037, we can close this issue.

[2017-06-22 01:49] monopole commented on #47767
@timothysc

I agree.  Will you disable the test please?

FWIW, I'm working w/ some others to get upgrade tests against master up as soon as possible so we'll see failures like this sooner - i.e. within 24h of the breaking change.

[2017-06-22 01:49] fzu-huang commented on #47884
@kubernetes/sig- area/api-misc

[2017-06-22 01:50] fzu-huang commented on #47884
/sig area/api

[2017-06-22 01:50] xiangpengzhao commented on #39170
/sig apps

[2017-06-22 01:51] xiangpengzhao commented on #38995
/sig network

[2017-06-22 01:52] xiangpengzhao commented on #38988
/sig node

[2017-06-22 01:53] fzu-huang commented on #47884
@kubernetes/sig-API Machinery-misc

[2017-06-22 01:53] #46188 closed

[2017-06-22 01:54] xiangpengzhao commented on #38974
/sig federation
/sig autoscaling

[2017-06-22 01:55] fzu-huang commented on #47884
/sig api-machinery

[2017-06-22 01:57] #39035 closed

[2017-06-22 01:57] xiangpengzhao commented on #38930
/sig docs

[2017-06-22 01:59] xiangpengzhao commented on #38918
/sig node

[2017-06-22 01:59] xiangpengzhao commented on #38915
/sig aws

[2017-06-22 01:59] dnardo commented on #47865
I'm less concerned about ip-masq-agent than I am this

Jun 21 17:07:46.960055 e2e-enormous-cluster-minion-group-nxl2 kernel: iptables-restor invoked oom-killer: gfp_mask=0x24000c0, order=0, oom_score_adj=996
Jun 21 17:07:46.960183 e2e-enormous-cluster-minion-group-nxl2 kernel: iptables-restor cpuset=8f72983ec1d83e25928f29a8b1ad953265489b4bf721e922db68bd70b11f2f31 mems_allowed=0

Why is iptables-re

[2017-06-22 02:00] xiangpengzhao commented on #38910
/sig aws

[2017-06-22 02:01] monopole commented on #47767
Ginkgo "skip" or modify the go on the 1.5 release branch as in
https://github.com/kubernetes/kubernetes/blob/97212f5b3a2961d0b58a20bdb6bda3ccfa159bd7/test/e2e/service_accounts.go#L246

[2017-06-22 02:02] monopole commented on #47767
/reopen

[2017-06-22 02:02] xiangpengzhao commented on #38859
/sig cli

[2017-06-22 02:03] xiangpengzhao commented on #38858
/sig cli

[2017-06-22 02:05] xiangpengzhao commented on #38827
/sig aws

[2017-06-22 02:06] xiangpengzhao commented on #38810
/sig autoscaling

[2017-06-22 02:06] xiangpengzhao commented on #38748
/sig cli

[2017-06-22 02:06] monopole commented on #47769
Thanks @bsalamat !

Would it help if i broke out the other two failures into separate issues?

[2017-06-22 02:07] xiangpengzhao commented on #38644
/sig cli

[2017-06-22 02:12] dchen1107 commented on #47865
Why iptables-restor 's oom_score_adj is so high: 996? If it is the children process of Kube-proxy, it should inherit the oom_score_adj from kube-proxy, which should be set to much lower value by me since 1.4 release as a temporary workaround before we have full story for https://github.com/kubernetes/kubernetes/issues/22212

Is there a regression in this release? We changed kube-proxy's oom_score_

[2017-06-22 02:13] pwittrock commented on #47180
@tnozicka Please open kubectl issues in the kubernetes/kubectl repo

[2017-06-22 02:14] janetkuo commented on #47243
@yastij feel free to assign me as reviewer of your PR with the command `/assign @janetkuo`

[2017-06-22 02:23] monopole commented on #43464
@mengqiy Thanks!

Now passing in [gce-upgrade-master](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-master&sort-by-failures=)

However, still failing in [gke-cvm-upgrade-master](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-master&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Kubectl%5C%20client%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20Kubectl%5C%20des

[2017-06-22 02:29] monopole commented on #47378
Thanks so much for wanting to re-engineering these tests.

But can you disable them first please?  They are red and we need a green dashboard for release.

Please add a skip as in
https://github.com/kubernetes/kubernetes/blob/97212f5b3a2961d0b58a20bdb6bda3ccfa159bd7/test/e2e/service_accounts.go#L246

[2017-06-22 02:30] timothysc commented on #47767
@monopole who is your test lead?  They can/should do it.. I'm not even certain where the upgrade tests live.

[2017-06-22 02:35] crimsonfaith91 commented on #47378
@monopole definitely! I will do it asap. :)

[2017-06-22 02:37] monopole commented on #47376
Still have failures.  E.g. this in [gke-gci-16-17-upgrade-master](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-6-gci-1-7-upgrade-master/35#k8sio-statefulset-k8sio-basic-statefulset-functionality-statefulsetbasic-scaling-down-before-scale-up-is-finished-should-wait-until-current-pod-will-be-running-and-ready-before-it-will-be-removed)

We need a fix o

[2017-06-22 02:42] crimsonfaith91 commented on #47376
@monopole I will sync with kow3ns offline to determine whether a fix or a skip works best here.

[2017-06-22 02:55] monopole commented on #47374
/reopen

Thanks so much for your effort here - it did go green in [gke-cvm-upgrade-cluster](https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Proxy%5C%20version%5C%20v1%5C%20should%5C%20proxy%5C%20through%5C%20a%5C%20service%5C%20and%5C%20a%5C%20pod%5C%20%5C%5BConformance%5C%5D) but it's still red in [gke-gci

[2017-06-22 04:04] vishh commented on #15673
I think this is still necessary. @davidopp and I can own this.

[2017-06-22 04:12] #47109 closed

[2017-06-22 04:12] #47866 closed

[2017-06-22 04:13] gyliu513 commented on #47861
/assign @droot

[2017-06-22 04:21] xiangpengzhao commented on #47838
/sig network

[2017-06-22 04:32] krmayankk commented on #47326
@msau42 Since dynamic provisioning doesnt support reclaim policy and always deletes. What we are doing is when deleting statefulsets, we are not deleting the PVC's. That way we explicitly GC the PVC at a later time and hence the PV. While the PVC and hence the PV is in GC phase, i am worried that the PVC could get unbound due to bugs and hence the PV will become available for further binding by ot

[2017-06-22 04:36] bowei commented on #47379
Let's mark this as flakey and skip it.

[2017-06-22 04:46] bsalamat commented on #47769
@monopole Please note that the other two are not failing that frequently. So, I don't see those as  blockers for 1.7: https://k8s-testgrid.appspot.com/1.5-1.7-upgrade#gke-cvm-1-5-cvm-1-7-upgrade-cluster-new

That said, as @dchen1107 has mentioned in #47883, the other e2e scheduler priority tests should probably be removed eventually. Our e2e test framework is not deterministic enough to run these

[2017-06-22 04:53] ash2k opened #47889 "Unstructured converter does not roundtrip Unstructured object"
**Kubernetes version** (use `kubectl version`):
master.

**What happened**:
Unstructured converter from `apimachinery/pkg/conversion/unstructured` does not roundtrip `apimachinery/pkg/apis/meta/v1/unstructured.Unstructured`.

**What you expected to happen**:
When I call `ToUnstructured()` on a `runtime.Object` which is backed by `*Unstructured` it should basically make a copy of the content (can b

[2017-06-22 04:54] ash2k commented on #47889
/sig api-machinery

[2017-06-22 05:57] davidopp commented on #42001
Setting NoSchedule taints corresponding to the node conditions that today cause pods not to schedule onto a node, should also allow us to use tolerations rather than special-case code in the DaemonSet controller (and thereby make it easier to have DaemonSet pods be scheduled by the default scheduler.)

[2017-06-22 06:07] davidopp commented on #47765
@bsalamat Can you take care of getting this test disabled in the 1.5-1.7 upgrade suite?

[2017-06-22 06:07] davidopp commented on #47767
@bsalamat Can you take care of getting this test disabled in the 1.5-1.7 upgrade suite?

[2017-06-22 06:07] davidopp commented on #47767
^ That should say "these tests"

[2017-06-22 06:23] krmayankk commented on #21656
i am  also experiencing this issue. It seems currently this cannot be accounted for while scheduling pods since scheduler is unware of the max ips per node that are available. Can someone confirm this ? I think this would be ideal behavior rather than a pod getting scheduled and then remains pending because of lack of ip

[2017-06-22 06:32] gmarek commented on #47865
We'll run a test using n1-standard-1s to see if they have enough memory.

[2017-06-22 06:37] gmarek commented on #24467
@aanm - I know, I wrote (parts) of that code:) This is only about the scalability SIG assignment.

[2017-06-22 06:48] kubusv commented on #47844
Deleted the secret and automatically regenerated: it works !!!

Thank you very much.

[2017-06-22 06:48] #47844 closed

[2017-06-22 06:48] gmarek commented on #26274
Wrong SIG.
/sig cluster-lifecycle

[2017-06-22 06:52] egeland opened #47893 "httpGet in readiness and liveness probes fails on status > 200 and < 400"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): httpGet

---

**Is this a BUG REPORT or FEATURE REQU

[2017-06-22 07:01] egeland commented on #47893
/sig node

[2017-06-22 07:23] yastij commented on #47243
@janetkuo - i'll assign you as reviewer as soon as it's done.

Thanks !

[2017-06-22 07:35] wanghaoran1988 commented on #38275
@kargakis Shall we close this? already fixed by https://github.com/kubernetes/kubernetes/pull/47756

[2017-06-22 07:54] gyliu513 commented on #47444
There are still cases that the host have enough resources, but only because the node have a `CriticalAddonsOnly` taint caused the daemonset cannot start up on the node, this is not expected. Echo @gmarek we should definitely have some discuss for this to find a solution.

[2017-06-22 07:55] pavolloffay commented on #47862
@cmluciano yes `kubectl port-forward pod-name udp-port`

[2017-06-22 08:39] resouer commented on #47884
It seems you are not using TPR? (which is recommended)

[2017-06-22 08:40] k82cn commented on #47444
I think `priority/preemption` is the solution for `CriticalAddonsOnly` :).

[2017-06-22 09:02] yvespp commented on #42433
Could very well be a different case, the symptoms seam to be the same though.
There are two nodes with 8 CPUs each, 7 CPUs are allocatable for pods:
[code]

I can schedule 10 replicas of the nginx pod (which is also visible in the describe above), only the eleventh replica either causes the outofcpu situation (with the policy) or one pod is stuck in pending (without the policy) which is what I exp

[2017-06-22 09:07] resouer commented on #47893
I checked thru the code: https://github.com/kubernetes/kubernetes/blob/master/pkg/probe/http/http.go#L86-L88 which seems no problem.

How did you know the app returns 302 may I ask?

[2017-06-22 09:10] vectar31 opened #47895 "How to get Node metrics using API?"
So, I am writing a custom auto rescheduler  which should get node metrics (lets take memory usage in this case) and then if it is high reschedule a pod in another node with lesser memory usage. I know that cAdvisor picks up the metrics and gives it to heapster which are available at a rest endpoint. I don't have heapster deployed on my server and I use prometheus for scraping metrics. Is there any

[2017-06-22 09:11] gyliu513 commented on #47444
For my above case, I think there should not be any preemption as the host still have enough resources but only because the pod cannot tolerate the `CriticalAddonsOnly` taint.

[2017-06-22 09:16] vectar31 commented on #47895
@kubernetes/sig-monitoring

[2017-06-22 09:32] vectar31 commented on #47895
/sig node

[2017-06-22 09:45] yastij commented on #47243
@janetkuo - do we count updateDaemonSetStatus as an action ? or just update and manage

[2017-06-22 09:47] soltysh commented on #47843
Add CronJobs to the list of affected resources, since you have CronJob->Job->Pod chain. :+1: to what Jordan said just above.

[2017-06-22 09:49] soltysh commented on #20902
This is now fixed with https://github.com/kubernetes/kubernetes/pull/42176

[2017-06-22 10:02] ddysher commented on #47326
If a PV is bound to a PVC, then there are two pieces of information about the two-way binding:
- In PVC, `spec.volumeName` tells which PV the PVC is bound to
- In PV, `spec.claimRef` tells which PVC is bound with the PV

`pvc.spec.volumeName` can not be edited if already set.  `pv.spec.claimRef` can be removed entirely and if so, `pv.status.phase` will become Available. However, since `pvc.spec.vo

[2017-06-22 10:18] gmarek commented on #47444
Indeed `CriticalAddons` was a hack we had to do due to lack of proper priorities/preemption mechanism. That being said I don't know when priority/preemption is going to be beta, but I'm skeptical about this year. We can move faster with Taints and Tolerations.

[2017-06-22 10:31] mikedanese commented on #47855
@dchen1107 this is preventing nodes from starting in large and enormous clusters and is fixed by the two linked PRs.

[2017-06-22 10:31] gyliu513 commented on #47444
Ah, I see, if we can enable the `priority/preemption`, then there is no need to use rescheduler, so we will not need to have the `CriticalAddons` taint on the node. But I think for now we may need a solution for this problem before  `priority/preemption`.

[2017-06-22 12:09] shyamjvs opened #47899 ""Too many requests" in apiserver due to kubelet & NPD in 4k-node scale tests"
During the load test (while services were being deleted and likely even before) ~90% of the requests were returned 429. And almost all those 429s were mutating requests and almost all of those were from kubelet/npd. Here's how the typical second looked like while this was happening:

17k qps (~2k succeeded, 15k got 429)
Almost all of the 15k were mutating requests (exclusively from kubelets (~11k)

[2017-06-22 12:15] Globegitter commented on #41711
Agreed @bgrant0607 this is not a duplicate, would be great to re-open.

[2017-06-22 12:21] discordianfish commented on #30645
I'm currently trying to figure out how to do various operational things. For example fixing file system corruption or the need to resize volumes etc. For all these things, it seems to me the idiomatic k8s way would be to spin up a interactive 'toolbox' container with the volumes attached that need attention.

For that, it seems this feature request would be a good approach. Maybe though I miss som

[2017-06-22 12:25] kargakis commented on #30645
How about adding a `kubectl set volume` command instead of extending `run`?

[2017-06-22 12:25] kargakis commented on #30645
@kubernetes/sig-cli-feature-requests

[2017-06-22 12:27] gmarek commented on #47899
cc @kubernetes/sig-api-machinery-misc

[2017-06-22 12:30] shyamjvs commented on #47899
We are rerunning the tests now with max-inflight-requests bumped up to 3000 (non-mutating) and 1000 (mutating). However this probably means that besides memory (https://github.com/kubernetes/kubernetes/issues/47865) even qps from the node side increased from 1.6 to 1.7.

@dchen1107 Feel free to reassign as apt.

[2017-06-22 12:31] shyamjvs commented on #47899
Here are the logs for master and a few nodes for more info:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-enormous-cluster/6/artifacts/

[2017-06-22 12:33] discordianfish commented on #30645
Or `kubectl run -ti -f manifest.yaml`, that would work fine for me too.

[2017-06-22 12:43] JanniHan opened #47902 "Cluster directory why not ubuntu"

[2017-06-22 12:43] k82cn commented on #47444
No objection if it's a bug level enhancement :).

For now, there're two requirements in this issue:
1. Add `CriticalAddonsOnly` to daemonset by default
1. The host have enough resources, but only because the node have a `CriticalAddonsOnly` taint caused the daemonset cannot start up on the node

which one will we handle "faster"?

[2017-06-22 12:44] #47902 closed

[2017-06-22 12:46] jeremyeder commented on #47899
@mffiedler @richm fyi

[2017-06-22 12:52] rrati commented on #47789
The only issue I have with %q is that is kind of decreases readability imo.  It leaves the \n in the string vs interpret it, but that means you have information separated by \n characters.  Probably better than having it on multiple lines, but not ideal.  Unless there is something better I guess %q is better then the current situation.

[2017-06-22 13:18] errordeveloper commented on #47838
As @ivan-gallego pointed out, this is 100% to do with weaveworks/weave#3011, which had been resolved in latest release of Weave Net. I think this issue can be closed.

[2017-06-22 13:27] egeland commented on #47893
That's the behaviour we observed.
Let me gather some logs, to confirm.

[2017-06-22 13:48] ryanwalls commented on #39672
I am seeing the same thing.

[2017-06-22 14:20] gmarek opened #47905 "Sum of master component CPU requests > 1"
This causes one component on master to fail in our standard test clusters. Usually it's NPD:
[code]

cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-06-22 14:21] xiangpengzhao commented on #47895
/kind support

[2017-06-22 14:24] castrojo commented on #37682
/assign
/close

[2017-06-22 14:25] stresler commented on #38910
I've been thinking about this for a while, and it seems to me that you don't want to use the current node subnet in all cases. We actually have a use case where we're running one cluster across multiple VPCs and subnets.  I think what would be ideal here is something similar to how NodeSelector works for deployments.

SubnetSelector, could provide Cidr to specify an exact subnet, or VPC to specify

[2017-06-22 14:26] castrojo commented on #37682
/close

[2017-06-22 14:27] #37682 closed

[2017-06-22 14:30] koalalorenzo commented on #33074
Sorry, how do you create Azure Cloud Provider if you are installing k8s via ansible playbook? (Not using Azure Cloud Service, but pure VMs). Is there any solution to do that?

[2017-06-22 14:31] castrojo commented on #34460
This issue was moved to kubernetes/kubernetes.github.io#4167

[2017-06-22 14:32] castrojo commented on #34460
/assign

[2017-06-22 14:32] castrojo commented on #34460
/close

[2017-06-22 14:32] #34460 closed

[2017-06-22 14:33] yolinas commented on #43279
Having the same issue here. Anyone found a way to delete the pods with status Unknown?

[2017-06-22 14:37] gyliu513 commented on #47444
There is actually only one requirement, the item 2) you listed above is the requirement, and item 1) is the solution that I proposed when file this issue.

[2017-06-22 14:42] castrojo commented on #31879
The old provider scripts are not supported anymore, have you tried kubeadm yet? It's in beta but already more robust than the old scripts.

[2017-06-22 14:42] castrojo commented on #31879
/sig cluster-lifecycle

[2017-06-22 14:44] ZirakZaheer opened #47907 "Can a pod have two containers of different privilege level? For example Container 'A' is a regular container and Container 'B' is a privileged container that can alter the network stack. Both containers will be packaged in a single pod. Now if the pod's privileged parameter is set true, would it mean that both of the containers are now privileged? or otherwise? thanks. /sig <area/docker>"

[2017-06-22 14:44] castrojo commented on #31249
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-06-22 14:44] castrojo commented on #31249
/assign

[2017-06-22 14:44] castrojo commented on #31249
/close

[2017-06-22 14:44] #31249 closed

[2017-06-22 14:48] castrojo commented on #25642
/assign

I'm closing this since minikube exists now, if you have any issues using that tool please file a new issue, thanks!

[2017-06-22 14:48] castrojo commented on #25642
/close

[2017-06-22 14:48] #25642 closed

[2017-06-22 14:49] castrojo commented on #26764
/sig docs

[2017-06-22 14:50] castrojo commented on #47907
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-06-22 14:50] castrojo commented on #47907
/assign

[2017-06-22 14:54] xiangpengzhao commented on #47905
/sig cluster-lifecycle

[2017-06-22 15:26] xiangpengzhao commented on #47907
Please follow @castrojo comment, but FYI, you can set different security context for different containers. See: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/security_context.md

[2017-06-22 15:51] bbhoss commented on #43279
The only thing that worked for me was to replace all nodes at once. Through working with the GCP support team, we figured out that the issue was triggered by not having memory limits on the pods, which was causing the oomkiller to run on the servers, sometimes killing processes it shouldn't. Even worse, the scheduler rescheduled these troublesome pods on other nodes, effectually poisoning the enti

[2017-06-22 15:56] monopole commented on #47755
Green as Opheodrys vernalis.  Thanks!

[2017-06-22 15:56] #47755 closed

[2017-06-22 15:58] ncdc commented on #47777
@gmarek what do you want to monitor, and at what granularity?

cc @timothysc @kensimon

[2017-06-22 15:59] ncdc commented on #17612
I haven't checked the code recently, but unless what I wrote above in https://github.com/kubernetes/kubernetes/issues/17612#issuecomment-161734054 has changed, this has not been resolved yet.

[2017-06-22 15:59] gmarek commented on #47777
I mean have a metric that shows utilization of the machine. I don't have any opinion on granularity - anything reasonable is fine.

[2017-06-22 16:09] mberhault opened #47911 "CertificateSigningRequest.Get: Status.Certificate is nil for approved CSR."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-22 16:20] mberhault commented on #47911
/sig api-machinery

[2017-06-22 16:23] SleepyBrett commented on #47800
docker 11.2.6 using json-file

I'll grab the log off the host next time i see it. I assume just like 20 lines above and below where kubectl logs fails would be sufficient?

[2017-06-22 16:29] kargakis commented on #47871
Generation is always set on the creation of a resource to 1 so once a controller observes a resource for the first time, the resource's ObservedGeneration is never going to be nil again. The statefulset case was a bug that got fixed in 1.6 (https://github.com/kubernetes/kubernetes/pull/42429).

[2017-06-22 16:31] kargakis commented on #47880
@kubernetes/sig-apps-feature-requests because of statefulsets

[2017-06-22 16:31] #47386 closed

[2017-06-22 16:36] dchen1107 commented on #47379
@bowei we cannot skip this because it is does the real upgrade. If master upgrade failed, the test is red; if the node upgrade failed, the test is red. Sometimes, the script is flaky at the end, the test is red even the entire cluster is upgraded successfully.

But we should skip this from 1.5->1.7 upgrade test suites since we only care about kubectl skews tests. There is no need to upgrade node f

[2017-06-22 16:40] khogeland commented on #47871
Right, so semantically the field is not actually optional. The observed generation could be initialized to `-1` instead of attaching meaning to a nil value, which also makes it possible to treat

[2017-06-22 16:41] khogeland commented on #47871
On my phone, misclicked :-)

[2017-06-22 16:45] khogeland commented on #47871
Right, so semantically the field is not actually optional. The observed generation could be initialized to `-1` instead of attaching meaning to a nil value.

[2017-06-22 16:45] cblecker commented on #47895
/assign

[2017-06-22 16:45] cblecker commented on #47895
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-06-22 16:45] #47895 closed

[2017-06-22 16:47] kargakis commented on #47871
Why is it unreasonable for clients to assume that the lack of the field means that the controller still hasn't observed the resource? Should we consider meaning on nil values an anti-pattern? Pretty sure we have other fields too where nil has meaning, eg. RevisionHistoryLimit.

[2017-06-22 16:48] monopole commented on #47577
22 June update - seeing green

 https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gce-upgrade-cluster&sort-by-failures=
https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-gci-cvm-upgrade-cluster-new&sort-by-failures=

/close

[2017-06-22 16:51] ReneSaenz commented on #40027
@xiang90 Can you give me some direction?

[2017-06-22 16:57] mkumatag commented on #47668
I tried creating pod with some random sized annotation and got following error :
```Failed to create pod: Pod "activedeadlineseconds-test-0" is invalid: metadata.annotations: Too long: must have at most 262144 characters```

Seems like they have restriction for annotation size - https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go#L3

[2017-06-22 16:58] monopole commented on #33330
/open

Its still failing sporadically.   The issue title may have 1.3 in it, but the failure is showing up in 1.6->17 upgrade tests, so this test has a lackluster history.

Last failure on 6-20.  It went green again on 6-21.  If it goes green today, I'll close it.

https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-gci-upgrade-cluster&sort-by-failures=

[2017-06-22 17:04] khogeland commented on #47871
Clients can't assume that because the meaning of the nil value does not appear to be documented. As a consumer of this API, neither the godoc comments, API Reference, nor the API Conventions tell me what the absence of the field means.

Meaning on nil values should be considered an anti-pattern (IMHO), because it is difficult to know what it means as a consumer of the API. In the case of the State

[2017-06-22 17:04] mengqiy commented on #43464
@monopole
It seems both of them start to pass in 06/21.
I think we can close this issue.

[2017-06-22 17:07] mikebryant commented on #28746
/sig cli

[2017-06-22 17:14] yujuhong commented on #33330
The tests consistently passes in 1.4: https://k8s-testgrid.appspot.com/release-1.4-all#gci-ci-serial-1.4
Please open new issues for the test failure instead of reopening old issues.

[2017-06-22 17:14] dchen1107 commented on #43464
Close it. Thanks!

[2017-06-22 17:14] #43464 closed

[2017-06-22 17:15] yujuhong commented on #47907
Replied on stackoverflow already. Closing.
https://stackoverflow.com/questions/44702944/kubernetes-pod-having-containers-of-different-privileges

[2017-06-22 17:15] #47907 closed

[2017-06-22 17:17] VioletRainbows opened #47913 "Support vnet Load Balancer in different resourge group"
#**Feature request**
The goal is to be able to add a vnet in a different resource group when creating a load balancer. Currently, the Kubernetes Azure cloudprovider only works with the resource name and not the full ID when assigning a vnet to a load balancer.

**Use case**
The security team that handles vnet configuration does not work in the same resource group as the infra team.

**Example impl

[2017-06-22 17:18] divyenpatel commented on #47257
cc: @luomiao @BaluDontu @rohitjogvmw @tusharnt

[2017-06-22 17:30] kargakis commented on #47871
So this seems to me more of a documentation issue because even in the -1 case we would have to document that. Between the two, I prefer nil - negative values are invalid for Generation/ObservedGeneration today. I also dislike the fact that we have to choose a special value basically for communicating the absence of the controller observation when we already have nil by default. I know @smarterclay

[2017-06-22 17:31] yujuhong commented on #47800
Yes, that'd be great.

[2017-06-22 17:38] VioletRainbows commented on #47913
/sig azure

[2017-06-22 17:39] monopole commented on #43340
To unblock release, we need a fix or a skip.

This is still red in various  upgrade-master tests

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-1-5-gci-1-7-upgrade-master/63
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1-5-cvm-1-7-upgrade-master/69

[2017-06-22 17:40] msau42 commented on #47326
Assuming no recycle policy, once the PV is unbound, it always goes to Released or Retain, or the PV object is deleted entirely.   The same PV object cannot go to Available state.  So the same PV object is never recycled.  It's always a new PV object.

Now, whether or not the data on the underlying backing volume gets cleaned up before being put back into the storage pool (used for dynamic provisio

[2017-06-22 17:47] crassirostris opened #47914 "Stackdriver event exporter too noisy when watch connection is reset"
Every time watch is reset, event exporter exports an entry about it to Stackdriver. To make it less irritating, this has to be done once per container run

Related image PR: https://github.com/kubernetes/contrib/pull/2641

/cc @piosz

[2017-06-22 17:51] aveshagarwal opened #47916 "Logging REST API calls at log level 2 is too verbose"
By default, logging REST API calls at log level 2 is too verbose (see below), if log level 2 happens to be default.
[code]

[2017-06-22 17:52] dchen1107 commented on #47376
@kow3ns you comment at https://github.com/kubernetes/kubernetes/issues/47376#issuecomment-308167729
sounds like a backward compatibility issue. Is there any concern? Should we document this in release-notes?

[2017-06-22 18:03] mikedanese opened #47917 "Dedup pkg/kubelet/util/csr/csr.go with cert rotation code"

[2017-06-22 18:11] deads2k commented on #31292
We actually implemented this in openshift, so those types (`subjectrulesreview`) are probably a good starting point. Particular attention needs to be paid in kube to make it properly generic to the given authorization mode combinations.

[2017-06-22 18:12] yujuhong commented on #47899
Once kubelet/npd hits the 429 error, the client itself will retry N (?) times. On top of that, kubelet's node status update logic will retry up to 5 times. When hitting the 429 frequently, these retries definitely worsen the situation. I spot checked the apiserver log, and one kubelet could send 4x~5x node PATCH requests in a minutes, while originally kubelet were supposed to update the status eve

[2017-06-22 18:12] davidopp commented on #47277
I updated @bsalamat's spreadsheet by adding a second tab that shows request and limit for all pods on master and nodes, as observed on a default cluster built from HEAD that I brought up using kube-up.sh on GCE yesterday. It also indicates for each whether it is a critical pod, and the allocatable of master and nodes.

[2017-06-22 18:18] dchen1107 commented on #47899
Re: https://github.com/kubernetes/kubernetes/issues/47899#issuecomment-310459483
This is a regression from 1.6?

[2017-06-22 18:25] bgrant0607 commented on #170
An alternative to fully moving the pod template out and replacing it with a reference to an external resource:

Create a pod template subresource for all the controllers (and even for CRDs eventually).

This would address the following use cases:
* Create an API endpoint that could have different permissions
* Create a uniform polymorphic API for pod template mutations, which could be used by `kub

[2017-06-22 18:25] mikedanese commented on #47882
This happens when the nodes are upgraded in a seperate bash process then the master creation. That KUBERNETS_MASTER_NAME gets set to an IP here:

https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/cluster/gce/util.sh#L985

I'm not sure why this is only an issue now. Gotta love bash and global variables.

[2017-06-22 18:44] dchen1107 commented on #47899
Here is what I understand so far:

* There is no logic changes in both Kubelet and Node-Problem-Detector (NPD) on status report path in 1.7 release. The only change on that code path is https://github.com/kubernetes/kubernetes/pull/43006. Thanks for @Random-Liu quickly finding it. But I quickly looked through the code, I don't think that generates more status. Looks like a regression from 1.6 on t

[2017-06-22 18:45] jeffvance commented on #47326
See also issue [38192](https://github.com/kubernetes/kubernetes/issues/38192)

[2017-06-22 18:51] dchen1107 commented on #47899
Also in many other threads, including #47865, I mentioned that overloaded nodes including master node. Could you please upgrade your master node with a bigger node to see if we still have the issue? Thanks!

[2017-06-22 18:53] khogeland commented on #47871
I agree it could be solved with documentation. A few clarifying questions:
- How and why is it possible to get a status object for an resource that hasn't yet been observed? Why isn't the status itself nil instead of the ObservedGeneration field?
- Why is the Generation field marked optional if it is set to 1 upon the creation of the resource?

[2017-06-22 19:03] gmarek commented on #47899
As for the second - we actually bumped the number of allowed inflight requests, which may only decrease number of 429s.

For the third - that's actually highly likely. Kernel log from random node (first OOM, after that there's a long series of them):
[code]

For the fourth: we're already running 64-core masters:)

[2017-06-22 19:11] timothysc opened #47920 "e2e versioned build artifact with same tags as everything else."
**Is this a REQUEST?**:

Currently there is not a properly versioned build artifact that is created from the upstream release process that contains the e2e tests and associated tooling (kubectl).

**Kubernetes version** (use `kubectl version`):

ALL

**What happened**:
Tried to find a well versioned e2e container for the release, and there is none that isn't tied into the test-infra or has some gc

[2017-06-22 19:12] weaseal commented on #41159
@mwielgus ideally this is configurable in the HPA definition. I think some experimentation would be necessary to find the ideal duration. Also at the time I wrote this ticket, I don't believe 1 minute average was standard. Rather, it appeared to be just taking whatever the CPU value was at the very moment it checked with disregard to any sort of timer period average

[2017-06-22 19:19] mwielgus commented on #41159
@piosz
Did we change the way cpu_usage_gauge is calculated? Last time I remember (I coded it :) we did it by transforming 2 cumulative samples gathered at 1 min interval into an average, in Heapster.

[2017-06-22 19:23] mwielgus commented on #41159
Well the code that transforms cumulative to gauge is still there:

https://github.com/kubernetes/heapster/blob/master/metrics/processors/rate_calculator.go#L62

So it should work as I explained, unless you changed sampling frequency or monitoring guys modified the code elsewhere...

[2017-06-22 19:25] gmarek commented on #47899
cc @yujuhong if you have time to look.

[2017-06-22 19:27] #47905 closed

[2017-06-22 19:31] danehans commented on #47666
I moved kubeadm-dind-cluster testing from my Mac to a Cent7 box b/c Docker for Mac apparently does not support IPv6. I am now unable to create a cluster using kubeadm-dind-cluster due to the following docker daemon error:
[code]
Here is my docker and OS details:
[code]
I'm going to upgrade Docker and try again.

[2017-06-22 19:36] chrislovecnm commented on #45843
@kow3ns we going to move these tests into examples?

[2017-06-22 19:39] chrislovecnm commented on #27239
Closing this issue.  @surajpasuparthy we have a proposal for federation of Stateful Sets and certain technologies such as weave and calico allow for meshing two clusters pod networks together.  Really a sig networking question.

[2017-06-22 19:39] #27239 closed

[2017-06-22 19:41] marun commented on #46702
@deads2k @lavalamp Any update on this?

[2017-06-22 19:43] gmarek commented on #47865
This happens also on n1-standard-1 Nodes, which seems bad. Ref. #47899

[2017-06-22 19:50] SurferJeffAtGoogle commented on #34395
I saw this too.

[2017-06-22 20:03] yujuhong commented on #47865
[code]
@dnardo iptables-restore was in the ip-masq-agent's cgroups. That's what caused ip-masq-agent to be OOM killed. From the numbers above, the new limit would not be enough.

[2017-06-22 20:21] mberhault commented on #47911
@kubernetes/sig-api-machinery-misc

[2017-06-22 20:24] dnardo commented on #47865
I think what might be happening is that when ip-masq-agent writes out its rules, it may be reading all the ip tables rules that are currently configured.   That may explain the usage here. Let me take a look and see.

[2017-06-22 20:25] gmarek commented on #47865
Thanks @dnardo

[2017-06-22 20:28] piosz commented on #47853
I just wanted to say that IMO very simple heuristic is enough.

[2017-06-22 20:30] yujuhong commented on #47865
From 1.6 to 1.7, the docker version stays the same, so it can be ruled out.
There are always *some* changes in kubelet, but the big(ger) memory jump happened from 1.5 to 1.6. I'll find some numbers but from my memory, the memory usage did not change much.
kube-proxy uses the most memory among the daemons. @freehan said the changes in 1.7 were mostly to improve kube-proxy's memory footprint though.

[2017-06-22 20:32] danehans commented on #47666
@ivan4th I'm still having the same problem after the Docker upgrade. Can you share the details of your setup so I can replicate? I would like to know your OS, kernel and docker versions. Thanks!

[2017-06-22 20:33] yujuhong commented on #47853
What if kubelet actually creates two containers by mistake? Shouldn't we expose their stats to raise attention? I think it's worth being more conservative and only filters out the containers we think are terminated.

[2017-06-22 20:33] piosz commented on #41159
I'm not aware of any related changes within last year.

cc @DirectXMan12 @timstclair

[2017-06-22 20:38] gmarek commented on #47865
Resource usage no, but I just peeked at the tests from 1.6 and it seems that @wojtek-t wasn't running services in tests, which suggests that something was wrong. Sadly he's on vacation, so we don't know what exactly. I'll run no-services test tomorrow to check if this is really a regression or old problem.

[2017-06-22 20:41] yujuhong commented on #47865
I checked a random node and kube-proxy was using 500~600MB of memory. I assume this was caused by the 13K services running in the cluster. If we weren't running services in the 1.6 cluster, this is most likely the main difference.

[2017-06-22 20:45] crimsonfaith91 commented on #47376
as discussed in the burndown meeting, we will document the change in release-notes.

[2017-06-22 20:46] dnardo commented on #47865
So yeah, thi sis going to be a problem.  The ip-masq-agent seems to call iptables-save indirectly through the kubernetes iptables util.  When that happens it appears all of the current iptables rules are read into memory and charged to ip-masq-agent.  I'm not sure this can be avoided, me may have to remove the limits.

[2017-06-22 20:54] ivan4th commented on #47666
@danehans
Would you please paste the output from `docker info|grep Storage`? Perhaps your kernel is missing `overlay` (overlayfs) driver which is by default used in the inner docker?
I usually run DIND on stock Ubuntu 16.04.2 without any problems. There's `gce-setup.sh` script bundled that may help with running on GCE (although I didn't try it lately, need to recheck):
[code]
(it needs to be sourc

[2017-06-22 21:16] rpothier opened #47924 "kube-controller-manager needs to support multiple CIDRs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
No
**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ----------------------------

[2017-06-22 21:22] smarterclayton commented on #47871
Generation is not allowed to be zero (unless something scary changed),
which is why in the other issue I preferred 0

On Jun 22, 2017, at 12:30 PM, Michail Kargakis <notifications@github.com>
wrote:

So this seems to me more of a documentation issue because even in the -1
case we would have to document that. Between the two, I prefer nil -
negative values are invalid for Generation/ObservedGenerat

[2017-06-22 21:24] k8s-merge-robot opened #47926 "Failure cluster [f06eea...] failed 91 builds, 40 jobs, and 1 tests over 1 days"
### Failure cluster [f06eea19da5bba917654](https://go.k8s.io/triage#f06eea19da5bba917654)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    40 jobs failed,    91 builds failed.
Failure stats cover 1 day time range '21 Jun 2017 19:59 UTC' to '22 Jun 2017 19:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services shou

[2017-06-22 21:24] k8s-merge-robot opened #47927 "pr:pull-kubernetes-kubemark-e2e-gce flaked 17 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce
 Flakes in the past week: **17**
 Consistency: **97.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Kubemark | 13 |
| Start kubemark | 8 |
| Up | 6 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-06-22 21:26] bsalamat commented on #47767
I can add something similar to what @monopole [pointed out](https://github.com/kubernetes/kubernetes/blob/97212f5b3a2961d0b58a20bdb6bda3ccfa159bd7/test/e2e/service_accounts.go#L246), but I wonder if it addresses the upgrade scenarios. The check would skip the test if the cluster was not 1.6 or higher, but the check wouldn't be in 1.5 tests and if we ran those tests against a 1.7 cluster, they woul

[2017-06-22 21:27] weaseal opened #47928 "Kubelet & heapster extremely high disk i/o (reads)"
![screenshot_2017-06-22_14-20-03](https://user-images.githubusercontent.com/5624010/27456975-d3d1fbee-5757-11e7-9766-1304e1022dfb.png)

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropria

[2017-06-22 21:30] #44065 closed

[2017-06-22 21:39] rpothier commented on #47924
/area ipv6

[2017-06-22 21:40] monopole commented on #33330
green on 22 June - possibly flakey.

/close

[2017-06-22 21:42] wongma7 commented on #38192
/assign

[2017-06-22 22:01] bsalamat commented on #47765
I just had a quick conversation with @monopole. We may drop all these 1.5 to 1.7 tests. So, I will wait until I get a more definitive answer and then if we decide to keep them, I will ginkgo-skip them.

[2017-06-22 22:13] jwomeara commented on #46839
Hey,

I'm experiencing the same issue.  Using the command below,

`kubectl get deployment kafka -o yaml`

kubectl returns the following config,

[code]

Here's the version string for the Kubernetes cluster I'm running:

`Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:33:17Z

[2017-06-22 22:14] lavalamp commented on #41629
See: https://docs.google.com/document/d/1IHTBo6Ul6TtTD87u8OVXgt-NgjgNSzE5JQKlu7nWDmw/edit#

[2017-06-22 22:17] radhikapc commented on #40027
Take a look at the doc at https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/ if you find any gap kindly file a defect.

[2017-06-22 22:20] wongma7 commented on #46839
You're right more is better & I hate to ask for more, but can you confirm you saw the same `message: 'GenerateRunContainerOptions: mkdir /var/lib/kubelet/pods/24b409e8-4a8b-11e7-a816-525400225b53/volumes/kubernetes.io~configmap/linshare-data3/config.inc.php:` event? What is the output of 'kubectl describe pod $deploymentpod'?

[2017-06-22 22:25] jwomeara commented on #46839
Woo!  You caught me just as I was heading out.  The output is below.  If you need anything else, let me know and I'll get that to you tomorrow!  Thanks for the quick response.

[code]

[2017-06-22 22:36] crimsonfaith91 commented on #47376
As discussed offline with @Kow3ns, the test will be removed.

[2017-06-22 22:49] mml opened #47930 "Extract application-based upgrade tests to examples repo"
These are the tests that verify real app connectivity during node upgrades.  It's testing a confluence of features, but it's also testing that a particular arrangement of StatefulSet/ReplicaSet and PodDisruptionBudget is actually correct for the app in question.

This was brought up during the review of #47200.

These are e2e tests written our e2e/upgrade framework.  So one question is do we start

[2017-06-22 22:51] weaseal commented on #47928
/sig node

[2017-06-22 22:53] kargakis commented on #47930
Also @ahmetb @kubernetes/sig-apps-misc

[2017-06-22 22:59] yujuhong opened #47932 "kubelet --version should not print all the flags"
Reported by @Random-Liu in https://github.com/kubernetes/kubernetes/pull/46047#issuecomment-310492891. Filing a bug for easy tracking.

After #46047, `kubelet --version` now prints all flags and the version. This is pretty unconventional and should probably be fixed.

[code]

/cc @mml

[2017-06-22 23:05] hongchaodeng opened #47933 "pod with emptyDir will always fail on upgrading pod image"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
1.6.4

**Environment**:
- **Cloud provider or hardware configuration**:
GKE

**What happened**:

create pod using yaml:
[code]
Do
[code]
Then upgrade nginx image from 1.12.0 -> 1.13.1 .

The nginix pod _failed_ to upgrade and its state becomes error.

The result
[code]

**What

[2017-06-22 23:23] hongchaodeng commented on #47933
@kubernetes/sig-node-bugs @kubernetes/sig-api-machinery-bugs

[2017-06-22 23:25] danehans commented on #47666
@ivan4th I configured docker to use the overlay driver, but I am hitting the same error. I can successfully deploy k8s using kubeadm directly. Here are the details:
[code]

I'll try on Ubuntu 16.04.2 since that works for you.

[2017-06-22 23:40] kargakis commented on #47932
/sig cli

[2017-06-22 23:40] kargakis commented on #47924
/sig network

[2017-06-22 23:40] kargakis commented on #47916
/sig scalability

[2017-06-22 23:42] kargakis commented on #42950
/sig api-machinery
/sig node

[2017-06-22 23:42] kargakis commented on #42493
/sig cluster-lifecycle

[2017-06-22 23:43] kargakis commented on #26606
/sig auth

[2017-06-22 23:44] kargakis commented on #26477
/sig auth

[2017-06-22 23:44] kargakis commented on #26445
/sig release

[2017-06-22 23:45] kargakis commented on #26369
/sig node

[2017-06-22 23:46] kargakis commented on #23942
@mwielgus which SIG owns this one if not sig/autoscaling?

[2017-06-22 23:47] kargakis commented on #25760
/sig testing

[2017-06-22 23:49] kargakis commented on #26708
@justinsb @chrislovecnm does this issue need to move in a different repo, eg. examples? Not sure why it's opened here.

[2017-06-22 23:50] kargakis commented on #26545
/sig docs

[2017-06-22 23:50] kargakis commented on #26799
/sig testing

[2017-06-22 23:51] kargakis commented on #26804
/sig cli

[2017-06-22 23:51] kargakis commented on #26810
/sig apps

[2017-06-22 23:51] kargakis commented on #26810
/sig scheduling

[2017-06-22 23:51] kargakis commented on #26941
If this issue is still relevant, please reopen in the kubernetes/examples repo.

[2017-06-22 23:51] #26941 closed

[2017-06-22 23:52] kargakis commented on #27056
If this issue is still relevant, please reopen in the kubernetes/examples repo.

[2017-06-22 23:52] #27056 closed

[2017-06-22 23:53] kargakis commented on #27089
/sig docs
/sig release

[2017-06-22 23:53] kargakis commented on #27152
/sig auth

[2017-06-22 23:54] kargakis commented on #27191
/sig cluster-lifecycle

[2017-06-22 23:54] kargakis commented on #27201
/sig azure

[2017-06-22 23:54] kargakis commented on #27214
/sig testing

[2017-06-22 23:55] kargakis commented on #27281
Guess this is not an issue anymore, please reopen otherwise.

[2017-06-22 23:55] #27281 closed

[2017-06-22 23:56] kargakis commented on #27578
/sig testing

[2017-06-22 23:56] kargakis commented on #27579
/sig testing

[2017-06-22 23:56] kargakis commented on #27580
/sig testing

[2017-06-22 23:56] kargakis commented on #27581
/sig testing

[2017-06-22 23:56] kargakis commented on #27583
/sig cli

[2017-06-22 23:57] kargakis commented on #27583
/sig apps

[2017-06-22 23:57] kargakis commented on #27583
@janetkuo is this a dupe of another issue you were looking at?

[2017-06-22 23:58] kargakis commented on #27626
/sig release

[2017-06-22 23:59] kargakis commented on #27712
/sig release

[2017-06-22 23:59] kargakis commented on #27827
/sig cluster-lifecycle

[2017-06-22 23:59] kargakis commented on #27729
/sig apps

[2017-06-23 00:00] kargakis commented on #27777
/sig cli

[2017-06-23 00:00] kargakis commented on #27790
/sig api-machinery

[2017-06-23 00:00] kargakis commented on #27721
/sig apps

[2017-06-23 00:02] kargakis commented on #27721
Please use Deployments instead of RCs and the rolling-update command.

[2017-06-23 00:02] #27721 closed

[2017-06-23 00:02] dminkovsky opened #47937 "kubectl not using correct schema version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:

Tried to create a `Deployment` with `apiVersion: apps/v1beta1`. Got error:

The create succeeded after I changed `apiVersion` to `extensions/v1beta1`. This was unexpected because the [`Deployment` docs](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) say to use `apps/v1beta1` for version >

[2017-06-23 00:03] kargakis commented on #28551
/sig cli
/sig network

[2017-06-23 00:03] kargakis commented on #28617
/sig node

[2017-06-23 00:03] kargakis commented on #28618
/sig auth

[2017-06-23 00:04] kargakis commented on #28486
/sig apps

[2017-06-23 00:04] kargakis commented on #28418
/sig aws

[2017-06-23 00:05] kargakis commented on #28285
/sig release

[2017-06-23 00:05] kargakis commented on #28278
Please move to the k8s/examples repo if it's still relevant.

[2017-06-23 00:05] #28278 closed

[2017-06-23 00:06] kargakis commented on #28200
/sig testing

[2017-06-23 00:06] kargakis commented on #28190
/sig cli

[2017-06-23 00:06] kargakis commented on #28184
/sig docs

[2017-06-23 00:07] kargakis commented on #28155
/sig aws

[2017-06-23 00:07] kargakis commented on #27997
/sig apps

[2017-06-23 00:07] kargakis commented on #28007
/sig cli

[2017-06-23 00:08] kargakis commented on #28078
Please move to the k8s/examples repo if still relevant.

[2017-06-23 00:08] #28078 closed

[2017-06-23 00:08] kargakis commented on #28113
/sig aws

[2017-06-23 00:09] kargakis commented on #27973
Please ask on StackOverflow, the kubernetes-users mailing list, or slack if this still a problem.

[2017-06-23 00:09] #27973 closed

[2017-06-23 00:10] kargakis commented on #28296
/sig cli

[2017-06-23 00:10] kargakis commented on #28321
/sig cli

[2017-06-23 00:12] kargakis commented on #29670
/sig storage
/sig scheduling

[2017-06-23 00:12] kargakis commented on #29769
/sig auth

[2017-06-23 00:13] kargakis commented on #29708
/sig apps
/sig docs

[2017-06-23 00:13] kargakis commented on #29698
/sig cli

[2017-06-23 00:13] kargakis commented on #29681
/sig cli

[2017-06-23 00:14] kargakis commented on #28310
/sig node
/sig scheduling

[2017-06-23 00:15] kargakis commented on #29662
/sig storage

[2017-06-23 00:15] kargakis commented on #29644
/sig apps

[2017-06-23 00:16] kargakis commented on #29642
/sig network
/kind dns
/remove area/kubectl

[2017-06-23 00:16] kargakis commented on #29597
/sig scalability

[2017-06-23 00:17] kargakis commented on #29568
/sig scheduling

[2017-06-23 00:29] dminkovsky commented on #47937
@kubernetes/sig-cli

[2017-06-23 00:30] kargakis commented on #47937
Likely a YAML error on your side...

[2017-06-23 00:31] kargakis commented on #47937
/sig apps

[2017-06-23 00:31] kargakis commented on #29563
/sig docs

[2017-06-23 00:31] kargakis commented on #29789
/sig aws

[2017-06-23 00:32] kargakis commented on #29480
/sig cluster-lifecycle

[2017-06-23 00:33] kargakis commented on #29433
/sig cli

[2017-06-23 00:33] kargakis commented on #29410
/sig cli

[2017-06-23 00:33] kargakis commented on #29322
/sig cli

[2017-06-23 00:33] kargakis commented on #29265
/sig cli

[2017-06-23 00:33] noah8713 commented on #47201
@bowei I will enable the TCP keep alive at F5 and keep you posted after one more round of test. Thanks for suggestions.

[2017-06-23 00:34] kargakis commented on #28977
/sig cli

[2017-06-23 00:34] kargakis commented on #28754
/sig cli

[2017-06-23 00:35] kargakis commented on #28950
/sig apps

[2017-06-23 00:35] dminkovsky commented on #47937
@kargakis Right that's exactly what I thought but all I did to get it working was change `apps/v1beta1` to `extensions/v1beta1`. And here is the entirety of the deployment:

[code]

which is copy/paste from from https://kubernetes.io/docs/tasks/access-application-cluster/connecting-frontend-backend/#creating-the-frontend. I looked for a long time and couldn't find an error.

[2017-06-23 00:36] kargakis commented on #29012
/sig node

[2017-06-23 00:36] k82cn commented on #47318
/cc @bsalamat

[2017-06-23 00:37] kargakis commented on #29876
/sig cli

[2017-06-23 00:37] kargakis commented on #29810
/sig apps

[2017-06-23 00:38] kargakis commented on #29835
Doesn't seem like a k8s issue - please use stackoverflow, the kubernetes mailing list, or slack for support kind questions.

[2017-06-23 00:38] #29835 closed

[2017-06-23 00:38] kargakis commented on #29838
/sig cli

[2017-06-23 00:39] nikhita commented on #28546
/sig cli

[2017-06-23 00:40] #29931 closed

[2017-06-23 00:40] kargakis commented on #30016
@deads2k good enough?

[2017-06-23 00:41] nikhita commented on #30763
/sig cli

[2017-06-23 00:41] kargakis commented on #30042
/sig node

[2017-06-23 00:41] kargakis commented on #30082
/sig apps

[2017-06-23 00:44] kargakis commented on #30773
/sig storage

[2017-06-23 00:44] kargakis commented on #30660
@thockin

[2017-06-23 00:45] k82cn commented on #47318
/cc @wpeng102 , please help on pod-antiaffinity benchmark & pprof.

[2017-06-23 00:47] Random-Liu opened #47938 "CRI: Handle infra container oom score adj in a runtime agnostic way"
https://github.com/kubernetes/kubernetes/blob/886e04f1fffbb04faf8a9f9ee141143b2684ae68/pkg/kubelet/qos/policy.go#L29

Does kubelet care about whether the infra container oom adj is `-998` or not? (seems so)
Should this be part of node spec?
Should runtime decide the oom score?
Should we add an interface to pass some configuration to runtime in CRI?

@yujuhong @feiskyer @mrunalp @vishh

[2017-06-23 00:50] kargakis commented on #47937
I happen to run a 1.6.4 GKE cluster and I could create the deployment you just pasted:
[code]

[2017-06-23 00:51] kargakis commented on #47937
<details>
[mkargaki@dhcp129-211 ~]$ kc get deploy frontend -o yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: 2017-06-23T00:48:05Z
  generation: 1
  labels:
    app: hello
    tier: frontend
    track: stable
  name: frontend
  namespace: default
  resourceVersion: "355289"
  selfLink: /apis/extensions/v1

[2017-06-23 00:53] philipbjorge commented on #20255
For any future readers, setting `restartPolicy: OnFailure` will prevent the neverending creation of pods because it will just restart the failing one.

If you want to create new pods on failure with `restartPolicy: Never`, you can limit them by setting `activeDeadlineSeconds` -- Upon reaching the deadline without success, the job will have status with reason: DeadlineExceeded. No more pods will be

[2017-06-23 01:06] ixdy commented on #33824
closing obsolete. please reopen if this is still affecting you.

[2017-06-23 01:06] #33824 closed

[2017-06-23 01:06] ixdy commented on #27712
closing obsolete. please reopen if this is still affecting you.

[2017-06-23 01:06] #27712 closed

[2017-06-23 01:07] snstanton commented on #13585
I'm seeing similar behavior in 1.6.4:
[code]

As you can see, back-to-back runs of the command lead to different results.  Sometimes it picks up the right value, sometimes not.  It looks like there is some sort of initialization race condition because it always gets it right if I resize the window.

[2017-06-23 01:07] ixdy commented on #12330
closing obsolete.

[2017-06-23 01:07] #12330 closed

[2017-06-23 01:08] janetkuo commented on #27583
Looks like a dup of #33245.

It's not clear to me how to reproduce it, though. In the reported case, DaemonSet controller has done its job notifying kubelet to kill those pods (hence they were all `Terminating`). It might due to some bug or latency issue in kubelet, or might just because the master cannot communicate to the nodes that run those pods.

[2017-06-23 01:08] #27583 closed

[2017-06-23 01:22] shyamjvs commented on #47899
The 429 problem still persists even after bumping up max-inflight-requests. I just checked (based on qps for the second 00:17:14 in run 7):

1024 succeeded (http 200 (710) + http 404 (314))
14393 had http 429, out of which:
- 10880 PATCH requests:
  * 7586 (kubelet) :- 3683 (status for nodes) + 3759 (events for kube-system pods) + misc-events (events for node, load test pods, etc)
  * 3294 (npd) :

[2017-06-23 01:31] janetkuo commented on #29698
We need `statefulset/scale` endpoint: #46005

[2017-06-23 01:33] shyamjvs commented on #47899
Just noticed that quite a large amount of 429s (4k/14k which is almost 1/3rd) arise from events. And about 3500 out of those 4000 events requests are just for ip-masq-agent. IIUC this is to be expected since ip-masq-agents are being OOM-killed from time to time. We need to prevent this OOM'ing as that would reduce a big chunk of the current qps.

[2017-06-23 01:36] yujuhong commented on #47899
@shyamjvs FYI, the problem with ip-masq-agent is been handled in PR #47922

Also, we are waiting for @gmarek to confirm whether service tests were actually run in the 1.6 cluster in another issue to confirm whether these issues are indeed regression: https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-310495718

[2017-06-23 01:37] mdaniel commented on #47800
In case it helps someone else, here's how I grabbed the logs in question as `jq` is installed on the host

[code]

----

The client-side experience

the output from `kubectl --context=ops2 --namespace=app logs -f --since=5m -c api platform-04229880a89cda8c27b9360f64d40adb-mjc5x`

[code]

and the `api_0.log` from that container's `io.kubernetes.container.logpath` (mildly redacted, and I know you as

[2017-06-23 01:37] smarterclayton commented on #47899
The events are what Derek was working on reducing - his client side
throttling might be enough to fix this.

[2017-06-23 01:38] shyamjvs commented on #47899
Seems like etcd-events is also not able to handle so much load and is restarting periodically:

[code]

[2017-06-23 01:39] smarterclayton commented on #47899
I believe Derek is going to win the 1.7 "told ya so" award :)

[2017-06-23 01:40] shyamjvs commented on #47899
@yujuhong @smarterclayton Thanks for the heads up.

[2017-06-23 01:53] shyamjvs commented on #47865
@gmarek Do we have the apiserver logs available for some 5k-node run for 1.6 somewhere? I can't find them anywhere, and they'd be useful for my debugging work. Also, any way to verify if 1.6 scale tests ran with/without services?

[2017-06-23 02:00] shyamjvs commented on #47899
Is that the only problem? There are quite some restarts for other master components too (scheduler and CM):

[code]

[2017-06-23 02:02] chrislovecnm commented on #26708
We should close this. Elastic can run as a deployment or a statefulset. With kube-up it is installed I think as a deployment.

To me this is a non-issue. @justinsb?

[2017-06-23 02:02] dchen1107 commented on #47865
We had several discussions offline related to this. Here are the summary of the decision and action items what I had: cc/ @kubernetes/kubernetes-release-managers

1) @dnardo's comment at https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-310497760 is the last straw to make us decide to disable ip-masq-agent by default. On a large cluster with many services, the memory usage of ip-m

[2017-06-23 02:07] NickrenREN opened #47941 "Lower etcd compacted logs frequency"
When we run apiserver, it will consistently produce logs like:

I0620 15:32:44.632311 2765 compact.go:159] etcd: compacted rev (8193), endpoints ([http://127.0.0.1:2379])
I0620 15:37:44.643658 2765 compact.go:159] etcd: compacted rev (8552), endpoints ([http://127.0.0.1:2379])
...

which does not mean much overall, we may change the loglevel and lower the frequency.

[2017-06-23 02:07] shyamjvs commented on #47899
And IIUC high qps from the node shouldn't make master components restart.

[2017-06-23 02:08] NickrenREN commented on #47941
/assign

[2017-06-23 02:09] k82cn commented on #47924
/cc

we have similar requirements; does anyone work on this?

[2017-06-23 02:09] mrunalp commented on #47938
@Random-Liu The kubelet doesn't want the pod infra container to get killed so I think it makes sense that this gets sent as part of sandbox config over CRI. If the runtime spawns an infra container then it could use this value and if it doesn't then it can ignore it.

[2017-06-23 02:15] shyamjvs commented on #47899
From the scheduler logs:
[code]

[2017-06-23 02:29] pvoisin commented on #39633
Thanks, @kargakis!