[2021-04-29 17:00] wbrefvem opened #101623 "API Server panics when GenerateName = "-""
#### What happened:

My controller had a bug where it was setting `myCR.GenerateName = "-"`, and the client I was using (`controller-runtime`) returned an internal server error when I tried to create it. In the API server logs, there was a panic at this line: https://github.com/kubernetes/apimachinery/blob/master/pkg/api/validation/generic.go#L74

#### What you expected to happen:

apimachinery va

[2021-04-29 17:00] wbrefvem commented on #101623
/sig apimachinery

[2021-04-29 17:01] wbrefvem commented on #101623
/sig api-machinery

[2021-04-29 17:04] #92037 closed

[2021-04-29 17:22] oappicgi commented on #47202
Anything that has to run on the exact hour I would agree with this on my use cases. Would love an extra optional attribute(s) to handle DLS issues.  Creating something that would update cronjob times seems like a band-aid solution and airflow seems a bit excessive solution for the problem.

definitely going to try hiddeco 's solution, thanks for publishing it!
https://github.com/hiddeco/cronjobber

[2021-04-29 17:22] zizon commented on #96361
As the Azure fix  @pacoxu mentioned above, It can be done in implementation specified way, but a bit mess to be generic.

It may not be aways recoverable by simply doing a umount/remount for a fuse fs.
If it can`t be ensured, that fix is at least not completed, and may introduce  extra unexpected because of vendor specific behavior.

[2021-04-29 17:25] soltysh commented on #99945
This is working as designed, we explicitly show the allocatable resources in the output, not the overall capacity to show admins how much space is available to run pods. The overall capacity of a node should be monitored using different tools.
/close

[2021-04-29 17:25] #99945 closed

[2021-04-29 17:49] Jiawei0227 commented on #97292
/remove-lifecycle rotten
/lifecycle frozen

[2021-04-29 17:54] MadhavJivrajani commented on #101623
/assign

[2021-04-29 18:04] #96714 closed

[2021-04-29 18:48] spkane commented on #99715
@chenyw1990 I am just curious if you have had any time to take a look at this and if so, how that was going?

[2021-04-29 18:55] jsafrane commented on #101616
cc @xing-yang @fengzixu - why do we have volume-health sidecars in csi-hostpath driver deployment if the driver does not implement it?

[2021-04-29 19:14] ravisantoshgudimetla opened #101625 "GCE-PD Storage tests are failing"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-windows-signal#gce-windows-20h2-master

#### Which test(s) are failing:
[code]
#### Since when has it been failing:

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-20h2/1387025685897285632
#### Reason for failure:

#### Anything else we need to know:

[2021-04-29 19:15] ravisantoshgudimetla commented on #101625
/sig windows

[2021-04-29 19:34] bswartz commented on #70505
See also: https://github.com/kubernetes-csi/external-provisioner/pull/469

[2021-04-29 19:46] jc42jc commented on #95039
Le bug est toujours présent sur Kubernetes / K3S v1.21.0+k3s1

"W0429 19:41:04.325885    4743 sysinfo.go:203] Nodes topology is not available, providing CPU topology"

[2021-04-29 19:52] ehashman commented on #99979
/reopen

https://github.com/kubernetes/kubernetes/pull/99998#issuecomment-829510526

[2021-04-29 20:03] matthyx commented on #99979
Yeah... 🥺

[2021-04-29 20:06] ehashman commented on #101285
@liggitt: @bobbypage owns graceful termination (and is currently assigned, I will ping).

[2021-04-29 20:06] matthyx commented on #99979
Thanks for your great work in keeping things in check @ehashman

[2021-04-29 20:08] ehashman commented on #99979
FYI @SergeyKanzhelev

[2021-04-29 20:13] bobbypage commented on #101285
@liggitt `k8s.gcr.io/gke-node-termination-handler` is hosted on https://github.com/GoogleCloudPlatform/k8s-node-termination-handler/

As mentioned [Graceful Node Shutdown](https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/) (beta in 1.21) replaces the need for that handler so it can be deprecated and removed moving forward.

I will followup and update the README on the [repo](https

[2021-04-29 20:18] fedebongio commented on #94060
/triage accepted

[2021-04-29 20:19] fedebongio commented on #101393
/triage accepted

[2021-04-29 20:19] fedebongio commented on #101567
/cc @sttts since we assigned the PR to Stefan. Thanks!
/triage accepted

[2021-04-29 20:20] fedebongio commented on #101623
/assign @kevindelgado
/triage accepted

[2021-04-29 20:29] BenTheElder commented on #101275
I don't think it's a test authoring issue mostly, there's tentatively two things going on here:
- something changed causing problems for tests across the board (increased resource usage possibly? investingating)
- a specific flaky test is increasing the flake rate https://github.com/kubernetes/kubernetes/pull/99998#issuecomment-829510526

It's not purely infra though, `pull-kubernetes-e2e-kind-ipv

[2021-04-29 20:40] ehashman commented on #89477
/reopen

[2021-04-29 20:56] ehashman commented on #100408
/triage accepted

[2021-04-29 21:01] damemi commented on #101459
Hi @uptownaravi, could you please provide the full yaml of the pod definition in question? With any sensitive information removed, of course

[2021-04-29 21:05] bridgetkromhout commented on #101607
/assign @caseydavenport

[2021-04-29 21:06] bridgetkromhout commented on #101594
/assign @rikatz

[2021-04-29 21:07] bridgetkromhout commented on #101565
/triage accepted

[2021-04-29 21:08] prameshj commented on #101283
/unassign

[2021-04-29 21:09] bridgetkromhout commented on #101500
/assign @danwinship

[2021-04-29 21:10] prameshj commented on #99712
Then, I really don't see why node-local-dns is changing anything here. Is external-dns running as a pod within the cluster? It is making HTTP/s calls to the external public DNS service to configure it with services and ingress info? If yes, node-local-dns should not be in the path at all.

[2021-04-29 21:10] prameshj commented on #99712
/assign @stephan2012

[2021-04-29 21:10] bridgetkromhout commented on #101491
/assign @caseydavenport

[2021-04-29 21:11] bridgetkromhout commented on #101446
/triage accepted

[2021-04-29 21:12] bridgetkromhout commented on #101339
/assign @prameshj

[2021-04-29 21:13] bridgetkromhout commented on #101324
/triage accepted

[2021-04-29 21:15] bridgetkromhout commented on #101283
/assign @caseydavenport

[2021-04-29 21:15] bridgetkromhout commented on #101275
/triage accepted

[2021-04-29 21:16] bridgetkromhout commented on #101275
/assign @aojea

[2021-04-29 21:32] rikatz commented on #101594
So digging a bit here, the API docs needs to be improved. By the [code](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/apis/networking/validation/validation.go#L397-L399), `path` is required if the PathPrefix is Exact or Prefix.

To solve your issue specifically, you have two ways:

* Add `pathType: "ImplementationSpecific"`that accepts ingress without p

[2021-04-29 21:38] uablrek commented on #101491
Is the service `externalTrafficPolicy:local`? Please check https://github.com/kubernetes/kubernetes/issues/93456

[2021-04-29 21:55] prameshj commented on #101283
ip-masq-agent does not use client-go.

It uses a bunch of [k8s 1.13 libraries](https://github.com/kubernetes-sigs/ip-masq-agent/blob/5ef3c8cb0103d1564abdc4cfb16acfef82ed77a6/Godeps/Godeps.json#L67), but no client-go.

Closing this since the DNS references have been fixed.

/close

[2021-04-29 21:55] #101283 closed

[2021-04-29 22:03] zshihang commented on #101283
that's fast fix. thank you!

[2021-04-29 22:50] smarterclayton commented on #84248
I feel like this is the wrong direction (something specific to one off pods and things scoped to a resource).  A node local cache should survive disruption to the apiserver - if everyone has to do different things for extension resources, that means you only get availability for some of your node local workloads.  I agree this needs a KEP, but solving for a very narrow set of resources is solving

[2021-04-30 00:07] #101024 closed

[2021-04-30 00:20] tallclair commented on #99425
I would really like to see probes moved to be executed within the pods network namespace (maaaybe only when the host is set). I have no idea what that would entail though.. I imagine it would probably require CRI to expose an API for it.

[2021-04-30 00:35] summerisc opened #101631 "kubectl api returns Throttling request took message"
#### What happened:
On one of the control-plane node, any kubectl commands take longer time with a log like:
[code]
It took long time to respond a kubectl call with this Throttling request took thing.

#### What you expected to happen:
kubectl API call returns response without error

#### How to reproduce it (as minimally and precisely as possible):
run any kubectl command

#### Environment:
- Kub

[2021-04-30 00:48] BenTheElder commented on #101275
/assign
Tentatively looking healthier https://prow.k8s.io/?job=pull-kubernetes-e2e-kind
After https://github.com/kubernetes/test-infra/pull/22025

Still not ideal

[2021-04-30 01:10] #101339 closed

[2021-04-30 02:09] djsly commented on #94029
we were affected by this error twice this week across two different clusters.

the first occurrence, there were around 140 deployments that received a `kubectl rollout restart` command affecting ~6000 pods, it took ~30mins until we started getting the etcdserver full error

the second occurrence, was a single rollout restart of a deployment with 1800 replicas. same thing ~15/30min in and etcdserve

[2021-04-30 02:13] SataQiu commented on #101631
@summerisc FYI: https://github.com/kubernetes/kubernetes/pull/87740

[2021-04-30 02:46] SataQiu commented on #101631
Try to change the log level with this PR #101634

[2021-04-30 02:46] SataQiu commented on #101631
/assign

[2021-04-30 02:46] RolandMa1986 commented on #101609
I found there's a discussion #84764 about ephemeralContainers lifecycle. The proposal can be found here  [#KEP-277: Ephemeral Containers](https://github.com/verb/kubernetes-enhancements/blob/master/keps/sig-node/277-ephemeral-containers/README.md#killing-ephemeral-containers)

[2021-04-30 03:35] encryptblockr commented on #73297
this is NOT true and does not work, these 2 annotations alone do not work
why is everyone giving thumbs up to this when it does NOT work?

[2021-04-30 05:06] #96725 closed

[2021-04-30 05:23] TLmaK0 commented on #75065
This happened to me after node gets out of memory and restart kubelet. The workaround was restart the containerd with `systemctl restart containerd`.

[2021-04-30 06:52] pacoxu commented on #101614
#100776 will fix it

[2021-04-30 07:02] cbandy commented on #100094
Discussed in #67250.

[2021-04-30 07:05] pacoxu commented on #101622
/sig storage
/sig node
similar with #100178

[2021-04-30 07:07] tsuna commented on #91914
Seeing this on v1.15.12-gke.20

[2021-04-30 07:29] RyanAoh opened #101648 "race between the different hpa resources which are associated with the same deployment"
#### What would you like to be added:
Make a limit that only one hpa resource can be created to associate with the same scaleTarget

#### Why is this needed:
![hpa-race](https://user-images.githubusercontent.com/13352465/116659318-022b2c00-a9c4-11eb-990c-c9b552446b69.png)

As the picture shows,  there are two hpa resource which are both associated with the deployment "stress". And now the deployme

[2021-04-30 07:32] RyanAoh commented on #101648
sig/autoscaling

[2021-04-30 07:36] RyanAoh commented on #101648
/sig autoscaling

[2021-04-30 07:47] aojea commented on #101324
That will work using the exec probe and curl

[2021-04-30 07:49] wangyysde commented on #101614
OK, then I will close this issue. Thanks.
/close

[2021-04-30 07:49] #101614 closed

[2021-04-30 07:53] aojea commented on #99425
@tallclair I think that is feasible, there is something special using net/dial inside namespaces that we need to sort out, but nothing impossible, and it will solve the dual stack problem https://github.com/kubernetes/kubernetes/issues/101324 since "no host" will mean "localhost" instead of "podIP" .
I don't know if this has more implications, but from the network security traffic perspective the

[2021-04-30 08:04] jc-lab opened #101650 "Sometimes many Pods are signaled SIGTERM."
#### What happened:

Many Pods, including kube-schedule-controller, coredns, etc. are restarted from time to time.
At this time, Pods are signaled SIGTERM.

One sample:
[code]

* Scaling never happen.
* There is no log of kernel bugs etc in dmesg.

#### What you expected to happen:

Don't send SIGTERM.

#### How to reproduce it (as minimally and precisely as possible):

- 1 control plane node.
- 1

[2021-04-30 08:10] VigneshSP94 commented on #101650
/kind support

[2021-04-30 08:22] VigneshSP94 commented on #101650
Can you add more information like /resources/app-details.

I see the below message in kubelet log -

[code]
Can you provide what is the cgroup driver being used? systemd?

[2021-04-30 08:23] jc-lab commented on #101650
Hello @VigneshSP94
Could you please tell me a bit how to check `/resources/app-details`?
I am not sure what this is.
Thank you.

[2021-04-30 08:35] cwrau commented on #24725
We would like this functionality too, particularly `restartPolicy: OnFailure`.

Our application sometimes needs to restart, but that triggers alerts because the Pod restarted. Currently, there is no metric `failureRestart` vs `successRestart` so we can't distinguish between these two cases.

If the Pod just got deleted on container exit and then recreated that would solve that little annoyance for

[2021-04-30 08:45] rdxmb opened #101653 "pods are scheduled to nodes which cannot run them - missing cause of "hanging" pods in `kubectl describe pod`"
#### What happened:

I have 3 worker nodes. When draining one of them, there actually is too much workload for the other two: One is full with required memory for all of the pods. The other one has much memory free (it has 128 GB RAM overall), but the pod number has reached a total of 130. (I did not change the max pod number in kubelet and I am wondering why the total pod number increases the def

[2021-04-30 09:04] rdxmb commented on #101653
/sig scheduling
/wg node

[2021-04-30 09:04] rdxmb commented on #101653
/sig node

[2021-04-30 09:23] HallsHolicker opened #101655 "Even if a node disk I/O error occurs, the node status is Ready."
#### What happened:
The partition was changed to read-only due to an I/O error in the worker node's disk. However, the state of the Node continued to be Ready, and as Pods were distributed to the Node, it started to wait indefinitely with Pending.

Also, even though Node2, the control plane, has been changed to Read-Only due to Disk I/O Error, the status is Ready.

Node 5 is the server where Disk

[2021-04-30 09:37] Eriner commented on #20227
No.

/remove-lifecycle stale

[2021-04-30 09:54] uablrek commented on #85572
For proxy-mode `ipvs` be aware that when accessing a LoadBalancer ip from a hostNetwork pod (main netns) the _source_ will also be the LoadBalancer ip! This because the address is actually assigned to the `kube-ipvs0` interface. I don't know what implications this have, if any, in this case.

Might be a good idea to add it. It would solve https://github.com/kubernetes/kubernetes/issues/100925 (I t

[2021-04-30 10:04] yckaolalala opened #101656 "ContainerLogMaxFiles setting in kubelet.conf not work on cri-o"
#### What happened:
I'm try to find my pod restart log, my pod restart over 10 times and kubectl log only save last two log file.
And I try to set containerLogMaxFiles in kubelet-config.yaml, but not work
This is my kubelet-config.yaml
[code]
However every pod log in `/var/log/pods/` are saved max on 2 file
ls show:
[code]
or
[code]
or
[code]
#### What you expected to happen:
Should be rotation on

[2021-04-30 10:37] yckaolalala commented on #101656
/sig node

[2021-04-30 10:47] aojea commented on #66607
the revert was because it merged accidentally, to avoid misunderstandings, is not that the project doesn't want to implement, is that there are some process to add new features and that PR didn't follow them.
The KEP to implement the change has been approved https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1860-kube-proxy-IP-node-binding

@Sh4d1 are you still working on this

[2021-04-30 10:52] Sh4d1 commented on #66607
@aojea yep! Layed the groundwork on #101027 but I was waiting on Tim's review, tough I understood he's been a bit busy! ( You're welcome if you want to review!).
Once this one is merged, I can rebase #97681 and it should be good.

Thanks, I'll read that 😄

[2021-04-30 11:06] withlin commented on #76699
same probelm

[2021-04-30 11:32] Rajalakshmi-Girish opened #101657 "Kubernetes scheduler unit test registry_test Failures with master go"
#### What happened:
Below are the failures while running unit test **pkg/scheduler/framework/runtime/registry_test.go** with golang in master branch.
[code]
**Reference : https://github.com/golang/go/issues/45697#issuecomment-826007480**

**$ go version
go version devel go1.17-5daefc5363 Thu Apr 22 01:40:02 2021 +0000 linux/ppc64le**
Note: Occurs in x86 architecture as well.

#### What you expecte

[2021-04-30 12:53] trstn70 commented on #86762
same here v1.21.0
[ERROR] plugin/errors: 2 2365224730843850734.1794682024623117277. HINFO: read udp

[2021-04-30 13:11] wangyysde commented on #101008
/assign
staging/src/k8s.io/api/core/v1/types.go:
staging/src/k8s.io/api/core/v1/types.go

[2021-04-30 13:42] tkashem opened #101667 "apf: use a lister to avoid making periodic LIST calls"
#### What happened:
The Priority & Fairness bootstrap configuration reconciler uses `LIST` to get all the `FlowSchema` and `PriorityLevelConfiguration` objects on the cluster at `1m` interval.

We can use a `lister` that is backed by a cache to avoid making these periodic `LIST` calls.

In a production cluster we expect to have tens of APF configuration objects, not hundreds or thousands, but it i

[2021-04-30 13:43] tkashem commented on #101667
/sig apimachinery

[2021-04-30 13:44] tkashem commented on #101667
/sig api-machinery

[2021-04-30 15:57] scarby commented on #24725
@cwrau This has been explained in this thread. The deployment controller is designed for maintaining availability of long running services that are not routinely designed to exit. (Web/application servers, queue workers that poll for new work forever etc.)

Having a deployment with a restart policy of OnFailure is basically akin to having a Job these are designed to run to completion and not resta

[2021-04-30 16:39] nswarnkar commented on #61117
"PLEG is not healthy: pleg was last seen active 17m16.107709513s ago; threshold is 3m0s"

I am still facing this issue. This is fluctuating. Because of this some pods get stuck. I am also using Cluster Autoscaler, which starts adding node, once pods are not scheduled because of this node in error.

Any help or clue?
--

[2021-04-30 16:39] BenTheElder commented on #101275
quick sampling shows remaining flakes are pretty much all:

so we should look at that test or skip it, and we should look into fixing CSI hostpath tests and re-enabling them. cc @msau42 @pohly

[2021-04-30 16:41] BenTheElder commented on #101275
the pass rate is still pretty bad with the startupProbe test.

A normal e2e presubmit should be in something like 70+ for 12h during active development periods

[2021-04-30 16:58] caleb15 commented on #101594
Thanks!

In my case because I'm using ALB controller I had to use `/*` with prefix to get it working - see https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1702

[2021-04-30 17:00] gridworkz commented on #61117
Hi:

I generally find this issue arises from network / service mesh inadequacy.
The network is usually the last place people look - we just assume it's
super fast. I've tried a myriad of configurations across many providers,
local clusters etc., and this issue is common across all setups. The only
common denominator in all these setups is the underlying network. Now, when
I set up a K8 provider se

[2021-04-30 17:01] bsctl opened #101674 "Missing taint: node.kubernetes.io/unreachable:NoExecute when nodes enter NotReady state"
#### What happened:
When the worker nodes enter in a NotReady state, the taint `node.kubernetes.io/unreachable:NoExecute` is not added to the node. Only the `node.kubernetes.io/unreachable: NoSchedule` taint is added. The effect is that pods running on such workers remain in `Running` state and never rescheduled.

This is similar to #97100 but in different conditions.
Actually we discovered it dur

[2021-04-30 17:10] msau42 commented on #101275
To re-enable the csi hostpath tests, we'll need to compare container resource usage before/after the changes. Do we have metrics collection enabled on kind clusters?

Another possibility, is that for csi hostpath every single container is deployed as a separate Pod. I don't think that would impact cpu/memory consumption on the node, but it would reduce parallelism of the tests. One of the changes

[2021-04-30 17:45] brettplarson opened #101676 "K8s volume mount issue - Failed to create subPath directory for volumeMount {volume} of container {container} - bad file descriptor"
#### What happened:
We see that mounts fail sometimes for the following error:
[code]

Here is a more full log example:
[code]

#### What you expected to happen:
The K8s volume should mount as intended.

#### How to reproduce it (as minimally and precisely as possible):
I'm not sure, but we see this is our logs about once a day - I simply search all of logs for the string "bad file descriptor" fro

[2021-04-30 17:45] brettplarson commented on #101676
/sig storage

[2021-04-30 17:51] soudaburger commented on #71647
I am attempting to run `kubectl` inside of a docker container.  Both the OSX host and the docker container have the same `kubectl` version installed, but the docker container instance doesn't connect to the kubernetes nodes.  Nodes are running in GKE.

From Docker Container:
[code]

[2021-04-30 17:57] mtaufen opened #101677 "agnhost postsubmit build failing"
#### Which jobs are failing:

post-kubernetes-push-e2e-agnhost-test-images

#### Since when has it been failing: 4/30

#### Testgrid link: https://testgrid.k8s.io/sig-testing-images#post-kubernetes-push-e2e-agnhost-test-images

#### Reason for failure:

Image build unhappy on s390x arch:

[code]

#### Anything else we need to know:

Need this fixed to finish image version dance to fix conformance

[2021-04-30 18:40] johnbwork commented on #39188
Kubernetes Version: v1.20.0+bafe72f

**coredns.yaml**
[code]

`kubectl apply -f coredns.yaml`

We now have a service that is working for UDP! _We realize that we forgot a critical item for DNS, TCP! -- DOH!_

`kubectl edit coredns-svc`

Add to ports section:
[code]

Only one of the port 53 services will be realized on the service.

`kubectl delete svc coredns-svc`

**newcoredns.yaml**
[code]

`kub

[2021-04-30 18:43] Ripolin opened #101679 "Server logs flooded with Skipping invalid IP"
Originally post on project https://github.com/k3s-io/k3s/issues/3255

**Environmental Info:**
K3s Version: v1.21.0+k3s1

Node(s) CPU architecture, OS, and Version: Linux 4.19.0-16-cloud-amd64 #1 SMP Debian 4.19.181-1 (2021-03-19) x86_64

Cluster Configuration: 1 server & 3 agents

**Describe the bug:**
I use an external cloud controller manager to manage load balancing and services exposition. But

[2021-04-30 18:50] BenTheElder commented on #101275
maybe then we're hitting pod scheduling limits? kind jobs run with 2 schedulable nodes by default. (and one control plane).

When I hear "sidecar" I usually thing additional container, not pod though.

[2021-04-30 18:50] kkobayachi opened #101680 "ServiceVIP cluster replication error kubernetes contaienerD ("Local endpoint not found)"
I would like to ask for help regarding the problem below.

I created a kubernetes 1.21.0 cluster with the following configuration
Master Ubuntu 20.10
Worker01 Windows 2019 Core LTS (1809) with Docker 20.10
Worker02 Windows 2019 Core LTS (1809) with Containerd 1.4.4
CNI
Flannel (Host-GW)

The purpose of this environment is to approve the containerd as a windows runtime, but I think only in the Cont

[2021-04-30 18:50] BenTheElder commented on #101275
we do not have metrics collection enabled, kubeadm does not support this OOTB and we'd been waiting for a blessed addon manager from SCL. @aojea has an experiment related to this.

[2021-04-30 18:53] Ripolin commented on #101679
/wg structured-logging

[2021-04-30 18:58] msau42 commented on #101275
Correct in a real production driver, we put all the sidecars in a single pod. However we use hostpath driver to validate that we have the correct RBACs set per container (because some sidecars are optional) so that's why in our CI we run each container as an individual pod. Perhaps we need to support both methods: https://github.com/kubernetes-csi/csi-driver-host-path/issues/192

[2021-04-30 18:59] aojea commented on #101275
I have a way to install prometheus and dump the database once the test fails https://github.com/kubernetes-sigs/kind/pull/2190, it monitors the

What kind metrics are you looking for @msau42 ?
because in KIND there is no cpu/mem/.. per node metrics, since the containers use the host /proc...

[2021-04-30 19:02] thockin opened #101681 "Dual-stack updates w/ PreferDualStack changes IP assignments"
1) start with a single stack cluster
2) create a PreferDualStack service
3) configure API server with a 2nd service CIDR
4) Confirm the above service is not dual-stack
5) Add a label to the above service
6) Observe that the service becomes dual-stack

I think the correct answer is to have a "repair loop" that upgrades (and downgrades!) PreferDualStack Services to match the config.

I think this is

[2021-04-30 19:03] msau42 commented on #101275
Our two leading theories to why the kind job become more flaky after making changes to the hostpath driver:
- We added 2 more pods per test case = 60-80 more pods. Potentially reduces the test parallelism and can contribute to test timeouts.
- New csi sidecars are consuming more resources, slowing down the system. It would be good to look at any cpu/mem metrics to see if this could be the case.

[2021-04-30 19:04] timmy59100 commented on #101378
Same with longhorn, presumably after deleting volume data on note.

[2021-04-30 19:06] BenTheElder commented on #101677
This has failed 3 times consecutively now. All because s390x issues ...
I've manually re-triggered it the fourth time.

/sig testing
but also
/sig release
because this is a major problem for continuing to ship this platform. cc @hasheddan

We've seen this before with flakes across other image builds for this platform.

[2021-04-30 19:06] thockin opened #101682 "Dual-stack: should we have dual-stack DNS?"
In a dual-stack cluster, the cluster DNS service can be upgraded to dual-stack.  Kubelet has a `--cluster-dns` config which is a list of IPs -- this is very hard to update as an end user.

I think we should consider if and how to make this easier.

1) Should we have `--cluster-dns-service` as an alternative, which pulls all cluster IPs?
2) Should all pods get resolv.conf `nameserver` lines for dua

[2021-04-30 19:13] #96961 closed

[2021-04-30 19:37] khenidak commented on #101681
/triage accepted

**The current thought is:**
1. Service of type with `ClusterIP/PreferDualstack` are special new breed of api objects that I don't think we have any similar precedent in the apis, i could be wrong. Their behavior is tied to how the cluster is configured. Thus their behavior must change as the cluster behavior change.
2. In a way the user is stating `I am ok with what you have`. If

[2021-04-30 19:52] pohly commented on #101275
Which additional pods are these?

https://github.com/kubernetes/kubernetes/pull/100637/files initially added csi-external-health-monitor-agent and csi-external-health-monitor-controller, but those were additional containers in the driver pod, not separate pods.

Later I added code to disable them. Even later, I downgraded to the driver YAML file that doesn't contain them. All of that was done befo

[2021-04-30 20:13] #89650 closed

[2021-04-30 21:44] cwrau commented on #24725
Mh, I must've missed that, sorry

I kinda understand that, but I don't see a difference between restarting a Pod and just letting it die and creating a new one; the end result is the desired number of replicas

The same thing that happens when you delete a Pod or a node dies; the current number of replicas is below the desired one, therefore the ReplicaSet controller creates a new pod

Additionall

[2021-04-30 22:47] ehashman commented on #88766
I was hoping this would be closed by #101524 but I still see some instances of it in gubernator.

[2021-04-30 22:48] ehashman commented on #93925
I think there are a number of patches that have gone in that should have helped with this issue. Is it possible to test against 1.21?

[2021-04-30 23:00] ehashman commented on #53533
Since we have a lot of folks commenting on this issue who are new to the Kubernetes development process, I'll try to explain what I linked above a bit more clearly.

- I've assigned myself to this issue. This means I am working on the implementation for MVP swap support.
- This is a very large feature, so we can't track its implementation just with a GitHub issue. It must go through the [Kubernete

[2021-04-30 23:06] bobbypage commented on #101558
Looks like image update went fine, GPU plugin jobs is still green :)

https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

[2021-04-30 23:06] bobbypage commented on #101558
/close

[2021-04-30 23:06] #101558 closed

[2021-05-01 01:11] waltlps opened #101686 "Unable to create ClusterIP services after reached amount of defined LoadBalancers in ResourceQuota"
#### What happened:

An attempt to create a ClusterIP service after it was reached the "hard" quota of LoadBalancers in a specific namespace returns this:

`Error from server (Forbidden): error when creating 'dev_deployment.yaml': services '' is forbidden: exceeded quota: object-counts, requested: services.loadbalancers=0, used: services.loadbalancers=1, limited: services.loadbalancers=0;`

#### W

[2021-05-01 01:45] yuanchen8911 commented on #101548
Added some debug info.  after `FindCandidates` and `CallExtenders`.  Here's the result.

`FindCandidates` returned 4 candidates, but one of candidates (`candidates[3]`) has zero pod. The candidate happened to be the best candidate and hence caused the "`index out of range`" error. It should have nothing to do with `CallExtenders` as our extender doesn't support Preemption. Disabling it may change

[2021-05-01 02:14] #95862 closed

[2021-05-01 02:29] Huang-Wei commented on #101548
This looks more promising.

---

Back to digging into the root cause, it seems `selectVictimsOnNode` returns an empty `pods` but with `fits=true`. So that implies firstly we have a non-nil [potentialVictims](https://github.com/kubernetes/kubernetes/blob/98d5dc5d36d34a7ee13368a7893dcb400ec4e566/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L533-L535), and then in [filterPo

[2021-05-01 03:19] yuanchen8911 commented on #101548
Yes, `selectVictimOnNode` should not return empty pod and fit==true in the first place, but it's hard to locate the problematic code.

[2021-05-01 03:26] yuanchen8911 commented on #101548
The following code in `CallExtenters` looks questionable to me. if `victimsMap` is empty, should the function return nil, nil?
[code]

Also,  if `!extender.SupportsPreemption() || !extender.IsInterested(pod)` is true for all extenders, the loop won't do anything and  candidates will remain the same. Why do we bother creating a new candidates in this case?

[2021-05-01 05:19] uablrek commented on #101682
Why would an end user care which protocol their DNS queries uses as long as the lookup works? What is the use-case?

You might well have dual-stack at home and an ipv4 address as nameserver and you do not care.

In an ipv6-only cluster upgraded to dual-stack the `--cluster-dns` would already be an ipv6 address.

[2021-05-01 06:33] bsctl commented on #101674
/sig node
/sig scheduling

[2021-05-01 07:51] marklester commented on #96284
I also need to this to specify the nfs version

[2021-05-01 08:11] pohly commented on #101275
A summary of CPU and RAM consumption of the entire Prow test job (i.e. including all processes running inside KinD) amortized over time for the entire duration of the job would be a good start. Is that possible?

Then we can directly see if changes that we make really let the tests run more efficiently. Right now we are speculating based on very indirect observations like timeouts in random tests.

[2021-05-01 08:19] pohly commented on #101275
Regarding running more efficiently, here are some ideas ranging from "makes sense" to "what is Patrick smoking":
- run sidecars inside the same pod as the driver (https://github.com/kubernetes-csi/csi-driver-host-path/issues/192) -> less pods
- link code from the different sidecars into one controller sidecar and one node sidecar -> less containers, less overhead (Go runtime only linked once, lead

[2021-05-01 08:45] szpak commented on #87840
It still would be useful.

/remove-lifecycle stale

[2021-05-01 10:19] rainerfrey commented on #24725
I completely agree, considering this would be very much appreciated.

[2021-05-01 10:47] fenngwd commented on #101679
/sig network

[2021-05-01 10:48] fenngwd commented on #101679
/assign

[2021-05-01 13:10] amit4aws commented on #71343
@cxj110  were you ever able to resolve the issue?. Any idea why I am seeing this issue?

[2021-05-01 13:35] zadigus opened #101692 "Cannot search service port by port name"
#### What happened:

Upon rabbitmq installation (the problem is very likely not related to that particular choice), I run
[code]
I get the error:
[code]
However, the following command
[code]
returns
[code]
i.e. each entry contains a `name` property.

If I instead run the command (I'm now looking for the name of a given port)
[code]
then I get the expected response
[code]

#### What you expected to

[2021-05-01 14:55] Nick-Triller commented on #101692
Hi @zadigus, your jsonpath query uses `"` in a string that is delimeted by `"` Try this instead:
[code]

[2021-05-01 15:30] zadigus commented on #101692
OMG such a fail. Thanks.

[2021-05-01 15:30] #101692 closed

[2021-05-01 15:55] akshitgrover commented on #101686
Hi,
I have been working with Kubernetes for quiet some time now. Now I feel like contributing as well.
Once this is triaged and is still valid which from the looks of it, It seems valid, I'ld like to take it up.
Being a first time contributor, I might get lost on the way and might need some help.
Thank you

[2021-05-01 16:58] yuanchen8911 commented on #101548
It can prevent `FindCandidates` from returning candidates with empty pods, but what about `CalleExtenders`?  It's possible to add nodes without victim pods to candidates if `nodeNameToVictims` returned by `ProcessPreemption` has such nodes.
`nodeNameToVictims, err := extender.ProcessPreemption(pod, victimsMap, nodeLister)`

[2021-05-01 18:24] bronger commented on #24725
I still have the impression that different use cases are mixed up here. Just so that I understand what is discussed at the moment: You need a setting “restartTogether” orthogonal to “restartPolicy” that says that *if* at least one _container_ dies, all containers in that pod should be terminated and restarted?

And if that restartTogether existed, you could live with restartPolicy=always?

[2021-05-01 18:39] lingsamuel commented on #96149
/remove-lifecycle stale

[2021-05-01 18:51] pre commented on #24725
I think `restartPolicy: recreate` is more like it. It’s not about restarting, it’s more of ”terminate this pod and replace it with a new one” instead of trying to restart containers.

[2021-05-01 19:04] bronger commented on #24725
The life cycles of container and pod are very different in k8s. Killing the pod is different from terminating all of its containers. If you really kill the pod, it needs to be re-scheduled. This may hang. The pod consumes the node’s resources for having space for your containers. Killing the pod means losing this reservation.

I don’t think this is a good idea. Besides, why is restarting all conta

[2021-05-01 19:15] cwrau commented on #24725
Good point, I hadn't thought about that

I guess at least our use case, *not* getting alerts when a container actively wants to restart by exiting with `0`, could just be solved with a different label on the `kube_pod_container_status_restarts_total` metric.

But some use cases may have to take that risk, like the one I mentioned above; https://github.com/kubernetes/kubernetes/issues/24725#issueco

[2021-05-01 19:22] #96567 closed

[2021-05-01 19:45] yuanchen8911 commented on #101548
Updated the PR based on the finding and discussions.  https://github.com/kubernetes/kubernetes/pull/101560

[2021-05-01 19:58] bronger commented on #24725
https://github.com/kubernetes/kubernetes/issues/24725#issuecomment-561396435 should get away with restarting the containers, leaving the pod intact, shouldn’t it?

[2021-05-01 20:18] cwrau commented on #24725
I don't know myself, but it *sounds* like it doesn't, maybe @z-oo can shed some more light on this?

[2021-05-01 20:22] liggitt commented on #101686
This is fixed in https://github.com/kubernetes/kubernetes/pull/97451 and backported to 1.17.17

[2021-05-01 20:22] #101686 closed

[2021-05-01 20:36] akshitgrover commented on #101674
Hi,
I have been working with Kubernetes for quiet some time. Now, I feel like contributing as well.
Once this is triaged and is still valid. I'd like to take it up.
Being a first time contributor, I might get lost on the way and need some help.
Thank you

[2021-05-01 21:30] #101309 closed

[2021-05-01 22:22] #85892 closed

[2021-05-01 23:01] knabben commented on #101165
Trying to replicate the behavior on a local cluster on `v1.21.0`, there's an Nginx pod running with the following spec:

[code]

A LoadBalancer Service running with `MetalLB` allows an "external" request on 172.18.0.3:

[code]

The response exists with the pod Running.
After a `kubectl drain kind-worker` is executed the Pod enter in the grace period and stops to answer. As stated the issue can be

[2021-05-01 23:07] rainerfrey commented on #24725
I guess you don’t address me specifically, but from my perspective, in the case that brought me to this issue, I’d say yes that would solve it, *if* restartTogether includes executing init containers.

[2021-05-02 02:42] bil9000 commented on #62504
for some reason it seems like 90% of the messages on this project are the bots telling us about how the question is stale.

[2021-05-02 03:58] #101066 closed

[2021-05-02 05:55] MadhavJivrajani commented on #101622
/assign

[2021-05-02 07:07] shoce commented on #13488
As i understand now if i have a newer docker image tagged as :latest and a deployment using the image tagged :latest, with the `kubectl rollout restart` and `imagePullPolicy: Always` specified in the container template it is possible to restart the pods and they will pull the newer image.

**BUT is there a way to ask Kubernetes to check if the image has really changed and restart pods ONLY if the

[2021-05-02 07:28] AndrewFarley commented on #13488
@shoce I believe you may misunderstand how kubernetes and this latest tag concept works.

Simply put, if you use a dynamic tag (like latest) that can have multiple different images at any given time, you can never guarantee you are always using the same version of that tag (aka the same image).  Kubernetes doesn’t do a “lookup” like you seem to assume to check what sha sum the current t deployment

[2021-05-02 07:50] shoce commented on #13488
@AndrewFarley thanks, your explanation helped me a lot and the example is something i could not see before. Actually what i do is using :develop and :master tagging of docker images built against the corresponding git branches and deploy them to dev an staging environments as soon as possible. As my dev and staging environments are hosted on a single host i did not worry much.

After reading many

[2021-05-02 08:10] AndrewFarley commented on #13488
@shoce You should google this problem for your registry provider (eg: "Automatically delete old images on REGISTRY_PROVIDER" or perhaps "Delete untagged images on REGISTRY_PROVIDER")

Each registry tends to have their own API and/or tools to handle this.  AWS, for example, has a built-in [Lifecycle Policy](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html) which you can

[2021-05-02 12:06] g3rzi opened #101695 "ANSI escape characters in kubectl output are not being filtered"
It is a security issue, but after contacting security@kubernetes.io, Tim and the team confirmed that they are comfortable posting it publicly.

#### What happened:
Kubernetes doesn't sanitize the 'message' field in the Event JSON objects.
Notice that this is relevant only to JSON objects, not YAML objects.
By creating new event, we can insert ANSI escape characters inside the "message" field, like

[2021-05-02 14:04] Isan-Rivkin commented on #87844
/remove-lifecycle stale

[2021-05-02 18:50] dependabof opened #101696 "New releases for kubernetes: v1.18.18"
New releases available for [kubernetes](https://github.com/kubernetes/kubernetes).

[2021-05-02 18:50] dependabof commented on #101696
## [Kubernetes v1.18.13](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.13)
:label: `v1.18.13`

See [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce). Additional binary downloads are linked in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md).

See [the CHANGELOG](https://github.com/kubernetes/kubernetes

[2021-05-02 18:50] dependabof commented on #101696
## [Kubernetes v1.18.14](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.14)
:label: `v1.18.14`

See [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce). Additional binary downloads are linked in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md).

See [the CHANGELOG](https://github.com/kubernetes/kubernetes

[2021-05-02 18:50] dependabof commented on #101696
## [Kubernetes v1.18.15](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.15)
:label: `v1.18.15`

See [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce). Additional binary downloads are linked in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md).

See [the CHANGELOG](https://github.com/kubernetes/kubernetes

[2021-05-02 18:50] dependabof commented on #101696
## [Kubernetes v1.18.16](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.16)
:label: `v1.18.16`

See [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce). Additional binary downloads are linked in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md).

See [the CHANGELOG](https://github.com/kubernetes/kubernetes

[2021-05-02 18:50] dependabof commented on #101696
## [Kubernetes v1.18.17](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.17)
:label: `v1.18.17`

See [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce). Additional binary downloads are linked in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md).

See [the CHANGELOG](https://github.com/kubernetes/kubernetes

[2021-05-02 18:50] dependabof commented on #101696
## [Kubernetes v1.18.18](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.18)
:label: `v1.18.18`

See [kubernetes-announce@](https://groups.google.com/forum/#!forum/kubernetes-announce). Additional binary downloads are linked in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md).

See [the CHANGELOG](https://github.com/kubernetes/kubernetes

[2021-05-02 18:52] #101696 closed

[2021-05-02 19:20] jendrikjoe opened #101697 "Empty imagePullSecrets leads to status.conditions never being set"
I am aware that the following is a corner case that does not occur in day-to-day business, but it took me a long while to debug, so I thought I would raise this issue to save others from the same pain.

#### What happened:

Deploying the following job with empty imagePullSecrets leads to it being stuck in `Pending` forever, and status looking the following way:
[code]

[code]

#### What you expect

[2021-05-02 19:21] jendrikjoe commented on #101697
/sig scheduling (I assume)

[2021-05-02 19:28] #94445 closed

[2021-05-02 20:28] #94293 closed

[2021-05-02 20:28] #97054 closed

[2021-05-02 22:28] #93691 closed

[2021-05-02 23:28] #96283 closed

[2021-05-02 23:28] #96910 closed

[2021-05-02 23:28] #96912 closed

[2021-05-02 23:28] #96940 closed

[2021-05-02 23:54] yuanchen8911 commented on #97303
Submitted a PR https://github.com/kubernetes/kubernetes/pull/101698

[2021-05-03 00:46] Rajalakshmi-Girish commented on #101657
@laboger request help on getting this triaged.

[2021-05-03 01:48] andyzhangx commented on #78024
I have the same transient issue on Azure File(SMB) mount, as I could observe, it only happens in k8s v1.20 in a little possibility, not sure what's wrong(rerun the test usually works):
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/642/pull-azurefile-csi-driver-e2e-vmss/1388861197100519424/build-log.txt

[2021-05-03 02:28] #97050 closed

[2021-05-03 05:32] MikeSpreitzer opened #101700 "broken command to update api testdata"
#### What happened:
I tried rebasing an old open PR, and got merge conflicts on api testdata.  I read https://github.com/kubernetes/api/blob/648b77825832f4e96433407e4b406a3bdbb988bd/testdata/README.md#current-version and tried the command listed there for regenerating the test data.  It failed as follows.

[code]

#### What you expected to happen:
I expected successful regeneration of the api test

[2021-05-03 05:33] MikeSpreitzer commented on #101700
@kubernetes/sig-api-machinery-bugs
/cc @liggitt

[2021-05-03 08:37] KlavsKlavsen commented on #101609
@RolandMa1986 Perhaps I'm just not finding it - but it does not seem to specify anything on how to handle this, where when I run debug on the same pod - multiple times, I get an extra container inside the pod with named debug-$randomstring  - ending up with a LOT of new containers instead of it either "removing it after I'm done" - or re-attaching to the existing one instead of creating a new one.

[2021-05-03 09:20] uptownaravi commented on #101459
Hi @damemi

adding the definition as requested

-------
"kind": "Pod",
    "apiVersion": "v1",
    "metadata": {​
      "name": "stsname-0",
      "generateName": "stsname-",
      "namespace": "namespace-name",
      "selfLink": "/api/v1/namespaces/namespace-name/pods/stsname-0",
      "labels": {​
        "app": "stsname",
        "statefulset.kubernetes.io/pod-name": "stsname-0"
      }​,

[2021-05-03 10:16] alitoufighi commented on #28969
Can we have this issue reopened?

[2021-05-03 11:06] rtheis commented on #73698
/reopen

[2021-05-03 11:06] rtheis commented on #73698
/remove-lifecycle rotten

[2021-05-03 11:22] liggitt commented on #101700
ah, latest go versions changed the invocation to `… go test k8s.io/api ...`

[2021-05-03 12:43] #98832 closed

[2021-05-03 12:46] hanamantagoudvk commented on #85572
Hi @danwinship

Here is our observation w.r.t  **spec.loadBalancerSourceRanges** configuration.
In our setup, we have created LB service with one pod behind it (lb-pod-01) and one client pod (cli-pod-01).
cli-pod-01 is on nodeA , lb-pod-01 is on nodeB.
LB Service is set with **spec.loadBalancerSourceRanges = cli-pod-01-IP/32**

On cli-pod-01 we executed curl http://172.42.42.100:5678/xyz to access

[2021-05-03 12:55] liggitt commented on #101700
fixed in https://github.com/kubernetes/kubernetes/pull/101704

[2021-05-03 13:13] krol3 opened #101705 "rollout status not return a message"
#### What happened:

The client don't return a message. After use the command.
[code]
#### What you expected to happen:
I expected the same behavior of the other commands of rollout. For example
[code]

#### How to reproduce it (as minimally and precisely as possible):
[code]
#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
Client Version: versi

[2021-05-03 13:27] alculquicondor commented on #96149
@lingsamuel are you working on this?

[2021-05-03 13:34] aojea opened #101706 "Missing test for multiport services"
There is only one test covering multiport services, however, it lacks data plane validation

https://github.com/kubernetes/kubernetes/issues/101446

However, this test deploys an "uncommon" setup, since doesn't expect the pods backing the service to expose the same ports.

We need a new test that covers multiport services, it should:

1. Create a service with 2 service ports
2. Add 2 pods to the s

[2021-05-03 13:36] aojea commented on #101446
/assign
/unassign @jomenxiao
I will take on this since it was more difficult than I expected, and is a Conformance test..
I assigned you to https://github.com/kubernetes/kubernetes/issues/101706, that is similar to this, but creating a new test from scratch

[2021-05-03 13:36] aojea commented on #101706
/assign @jomenxiao

[2021-05-03 14:30] liggitt commented on #101677
looks like the latest run passed - https://testgrid.k8s.io/sig-testing-images#post-kubernetes-push-e2e-agnhost-test-images

[2021-05-03 14:46] danwinship commented on #101029
This was discussed at the time that the comment was added, and it was pointed out that any change to `patchStrategy` is a breaking API change, because it would cause skewed clients and servers to disagree on the interpretation of patches (eg, an old `patchStrategy=merge` client trying to add a new value into the list would generate a patch containing only the new value, which a new `patchStrategy=

[2021-05-03 14:56] alikhil commented on #83111
/remove-lifecycle stale

[2021-05-03 14:58] dims commented on #101677
@liggitt there's still underlying flakiness i need to get to the bottom of

[2021-05-03 14:58] damemi commented on #89930
/remove-lifecycle stale

[2021-05-03 15:54] ncopa commented on #95186
Still waiting for the PR to be merged.

/remove-lifecycle rotten

[2021-05-03 15:55] ncopa commented on #95186
/remove-lifecycle rotten

[2021-05-03 15:55] ncopa commented on #95172
/remove-lifecycle rotten

[2021-05-03 15:57] ncopa commented on #95172
Still waiting for PR #96115 to be merged

[2021-05-03 16:15] admilazz commented on #89899
/remove-lifecycle stale

[2021-05-03 16:52] BenTheElder commented on #101275
For the record: after @aojea reverted the most recent startup probe test change we are now at a normal ~80% pass rate which consists of a few number of startup probe flakes and normal failures due to bad PRs (code doesn't build, or debug code tanks performance and either wall all the e2e jobs fail not just kind).

Linking the sidecars together makes sense to me. We probably still need to get actua

[2021-05-03 17:17] Huang-Wei commented on #97303
@yuanchen8911  Isn't #99435 already working on it?

[2021-05-03 18:02] adrian-gierakowski commented on #74819
/reopen

[2021-05-03 18:14] danwinship commented on #101500
This was fixed in master by https://github.com/kubernetes/kubernetes/pull/100913 which is being cherry-picked to 1.21 in https://github.com/kubernetes/kubernetes/pull/101504

[2021-05-03 18:29] nswarnkar commented on #61117
I reproduced the environment. After certain number of pods, pod starts getting stuck. I got this detail when i used kubectl describe pod command:

 Failed to create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "vpnwebgate-ec4eb44654f75ea9-7c67995bbf-pnb5c": operation timeout: context deadline exceeded

In this state, Pod stucks during initialization and c

[2021-05-03 18:37] BenTheElder commented on #101677
Also what latest run? Were new changes made without bumping the version? Or did someone else manually trigger it yet again?

[2021-05-03 18:40] liggitt commented on #101677
I just saw a green run at https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-agnhost-test-images/1388217411051720704 and the image was pullable, so I thought it had succeeded

[2021-05-03 18:43] nswarnkar commented on #61117
I am also clear, if I delete an active pod while other pod is still ( created last in order), stuck, stuck pod
gets activated and comes into "Running" state.

You may right in saying that it could be underlying network issue. How could I solve it?

[2021-05-03 18:50] gridworkz commented on #61117
There is a bug in Linux kernel re: Kubernetes. - this might help:
https://serverfault.com/questions/976233/context-deadline-exceeded-preventing-pods-from-being-created-in-aks

On Mon, May 3, 2021 at 2:44 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-03 19:05] nswarnkar commented on #61117
Thanks @gridworkz , I saw the mentioned link. In my case, CPU is just 13% and RAM usage is 66%. Node is hosting more than 50 pods.  So I am not sure how the above mentioned fix works in this case.  This fix mentioned is to patch systemd to make garbage collection every hour.
https://github.com/Azure/AKS/issues/750

Could you enlighten me how this fix would be applicable in my case? Thanks in advan

[2021-05-03 19:06] yuanchen8911 commented on #97303
Thanks. I didn't know that. When will it be added? after v1beta2 is merged? /cc @ahg-g

I'm closing mine.

[2021-05-03 19:22] nswarnkar commented on #61117
Also in our case, Exactly after 58 pods are scheduled on the node, 59th pod gets stuck.

[2021-05-03 19:57] Huang-Wei commented on #101548
Yes, we can use a flag to mark if all extenders don't support preemption. If yes, simply return the candidates.

[2021-05-03 20:06] Huang-Wei commented on #101548
Technically this can exist due to faulty extender implementation. If we really want to guard it, instead of logging the error and continue, I'm more inclined to return the error immediately as this is a fatal error - the victimsMap cannot be used either for latter extender or further preemptor nominating.

[2021-05-03 20:13] krol3 commented on #101705
I will open this issue in the kubectl project

[2021-05-03 20:13] #101705 closed

[2021-05-03 20:41] BenTheElder commented on #101677
I think someone must have retried it again manually. Postsubmits only run on merge, and we've had nothing else merge https://github.com/kubernetes/kubernetes/tree/master/test/images

https://github.com/kubernetes/test-infra/blob/8646cd9631e71c324f854ca4a13732fb8ed88c2a/config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml#L21

[2021-05-03 21:01] yuanchen8911 commented on #101548
@Huang-Wei  Is my understanding correct?

In `CallExtenters`, if victimsMap is empty, should it return `nil, nil` instead of `candidates, nil`?

[code]

[2021-05-03 21:32] ehashman opened #101714 "Patch status log line for status_manager in kubelet is not useful"
#### What happened:

[code]

Code ref: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manager.go#L586

#### What you expected to happen:

To see the patched status rather than a giant byte array rendered as decimal integers. Given the values (~32-126) these look like they're printable characters.

#### How to reproduce it (as minimally and precisely as possible):

R

[2021-05-03 21:35] anson627 opened #101715 "kubelet sends payload larger than etcd size limit causing kube-api error when recording event for probing"
#### What happened: kubelet record events can cause etcd to throw "TooBig" error and result in kube-api 500 error, here is the example error logs:

[code]

#### What you expected to happen: kubelet should trim event (output field) before send request to kube-api
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/prober.go#L117

#### How to reproduce it (as minimally and precis

[2021-05-03 21:48] gridworkz commented on #61117
Ah, OK. I wasn't sure about your setup. Are you using a hosting provider
i.e. with Ubuntu nodes? (or are you using a K8 service from a provider like
Digital Ocean). Basically, are you self-built or using a provider K8
service?
D.

On Mon, May 3, 2021 at 3:06 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-03 21:53] tamalsaha opened #101716 "+default value parsing fails for metav1.Duration"
#### What happened:

We have a resource with metav1.Duration type field. The +default annotation is not parsed properly.

[code]

#### What you expected to happen:

I expected no error.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): v0.21.0
- Cloud provider or hardware config

[2021-05-03 21:53] tamalsaha commented on #101716
/sig api-machinery

[2021-05-03 22:00] danwinship commented on #101324
Looks like we've got evidence now!

This is what I was arguing for before, on the grounds that it's consistent with the standard behavior when connecting to a DNS name with both IPv4 and IPv6 addresses.

Maybe...

Back when we were still figuring out `service.spec.clusterIPs`, I was thinking at one point that we should have something like `ipFamilyPolicy`/`ipFamilies` in Pod as well, which the CNI

[2021-05-03 22:02] danwinship commented on #101324
If we are going to possibly redefine how probes work then I'd like to suggest we should be clearer about whether the probes are "pod network readiness" probes (ie, "Is the pod network ready to deliver packets to the pod?") or "server process readiness" probes (ie, "Is the application that is running in the pod ready to accept connections?") or both.

Right now, they are effectively both, although

[2021-05-03 22:06] gridworkz commented on #61117
Question: Are you using persistent storage (say at GKE / DO?).

In any case, this might be a disk issue. You may consider increasing your
disk pool size (or reduce the number of pods scheduled on the node). I know
max throughput on SSD is around 240Mb/s and you need 500Gb min to
achieve that.  Your disks might be saturated causing Docker to timeout.

We like to add Prometheus node exporters to all

[2021-05-03 22:14] Huang-Wei commented on #101548
The only case victimsMap can be empty is empty candidates, and so return either doesn't quite matter, right?

[2021-05-03 22:37] alvaroaleman commented on #101585
/sig node

[2021-05-03 23:09] yuanchen8911 commented on #101548
You are right.

[2021-05-03 23:18] yuanchen8911 commented on #101548
As long as one extender returns an invalid victimsMap (with empty pods), `CallExtender`s returns an error immediately?

What about `selectVictimsOnNode`? Should it return an error immediately if it returns` status.IsSuccess() `with empty pods?

[2021-05-03 23:22] Huang-Wei commented on #101548
I think so. Because the result it returned is faulty, and we don't want to continue based on it

The same. We may don't want to continue the scheduling cycle based on faulty result.

[2021-05-03 23:51] siddhartha97 commented on #101714
I'd like to take this one
/assign

[2021-05-03 23:59] antoninbas commented on #101500
Thanks @danwinship. I think we can mark this issue as a duplicate of https://github.com/kubernetes/kubernetes/issues/100880 and close it.

[2021-05-04 00:01] jsturtevant opened #101720 "aks-engine-azure-disk (vmas and vmss) tests are failing"
#### Which jobs are failing:

https://testgrid.k8s.io/provider-azure-master-signal#aks-engine-azure-disk-vmss
https://testgrid.k8s.io/provider-azure-master-signal#aks-engine-azure-disk-vmas

#### Which test(s) are failing:
all of them

#### Since when has it been failing:
4/28

#### Testgrid link:
https://testgrid.k8s.io/provider-azure-master-signal#aks-engine-azure-disk-vmss
https://testgrid.k8s.

[2021-05-04 00:07] lingsamuel commented on #96149
I am waiting someone to review the kep kubernetes/enhancements#2359

[2021-05-04 00:14] chewong commented on #101720
Opened https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/823 to fix it

[2021-05-04 00:21] #101623 closed

[2021-05-04 00:21] #101700 closed

[2021-05-04 00:34] #95767 closed

[2021-05-04 00:37] PKizzle commented on #95039
@jc42jc I don't think this is a bug. The bug discussed here came after that line with `Cannot determine CPU /sys/bus/cpu/devices/cpu0 online state, skipping`. Do you receive that error message?

[2021-05-04 01:35] #96992 closed

[2021-05-04 03:46] nswarnkar commented on #61117
I am using AWS. ASG is used for automatic scaling. Cluster autoscaler used ASG to scale up or scale down.

[2021-05-04 03:47] nswarnkar commented on #61117
Thanks, I have already installed Netdata cloud version, let me check. I will post here.

[2021-05-04 04:12] palnabarun commented on #95052
/remove-lifecycle rotten

[2021-05-04 04:13] palnabarun commented on #95052
/assign

will take a look at the issues raised

[2021-05-04 04:56] gridworkz commented on #61117
Ah cool, Netdata is nice....

On Mon, May 3, 2021 at 11:47 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-04 05:05] kannanvr commented on #101362
@cmssczy , I think https://github.com/kubernetes/kubernetes/pull/99398 will solve the issue

[2021-05-04 06:15] nswarnkar commented on #61117
We dont put "resource request" in Pod specification, so it means we can have maximum 110 pods per node. I checked the disk usage of node, it is very low hardly 30%. No persistence volume is used by pods.
But it looks something is related to resources as well, as after 58th Pod, 59th Pod is scheduled on same node, but is never created and gets stuck.

So one idea could be that I reduce the number o

[2021-05-04 06:23] hermanbanken commented on #99475
Is this related to #70044 maybe? Same piece of code at least.

[2021-05-04 06:55] umangachapagain commented on #99675
Description added to ImagePolicy type via https://github.com/kubernetes/kubernetes/pull/100233 and to Authentication types via https://github.com/kubernetes/kubernetes/pull/101687.

[2021-05-04 07:17] ajonathan opened #101723 "GPU limits being omitted"
#### What happened:
Crude example based on the NVIDIA cuda vectorAdd sample container.

The yaml file contents below deploys a pod demonstrating that multiple containers in a single pod can access the same GPU on the K8s node concurrently.

Screenshots of an on-premises execution and a quick diagram of the GPU node, Pod & Container layout follow the yaml file below.

#### What you expected to happ

[2021-05-04 07:32] danisafta opened #101724 "kubelet memory leak v1.18.1"
#### What happened:
kubelet increased more than 100MB in memory in 4 days.

#### What you expected to happen:
kubelet to not used that amount of RAM

#### How to reproduce it (as minimally and precisely as possible):
I have reproduced it using 3 cronjobs which create hello world pods each minute
and another cronjob that writes a line to a file each minute.

#### Anything else we need to know?:

##

[2021-05-04 08:38] rdxmb commented on #61117
@gridworkz

really? That is about

[code]

Actually, we have kernel `Linux version 5.4.0-66-generic` and kubelet about `v1.20` . Are you sure this has not been fixed yet?

[2021-05-04 08:57] aojea commented on #101324
@tallclair suggested "that probes happen in the pod's network namespace " also, but he erased that later, Tim any special reasons to reject that http probes happen on the pod namespace, exec probes are doing that now ...
https://github.com/kubernetes/kubernetes/issues/99425#issuecomment-829712715

[2021-05-04 08:59] nikhita commented on #90136
/remove-lifecycle stale

[2021-05-04 09:37] deitch commented on #40651
/remove-lifecycle stale

[2021-05-04 10:48] matthyx commented on #99979
I have (finally) understood what's happening, and I can even explain why the deflake made things worse...

Please have a look at the sleep before the worker starts to process probes:
https://github.com/kubernetes/kubernetes/blob/1eccb41fa878c5892b8278d234872b1b842448fe/pkg/kubelet/prober/worker.go#L132-L139

So, you have to remember that we have one worker per pod and per probe, and since we have

[2021-05-04 10:50] matthyx commented on #99979
The reason I didn't spot these was that I usually start my `kindest` cluster once for all and iterate on the tests... so the kubelet had plenty of time to start and I never ended in that sleep.

[2021-05-04 10:54] matthyx commented on #99979
For the solution, I suggest we either remove the sleep completely, or we find something that would make all 3 probe workers start at the same time to avoid sync issues...

For the record, I was able to spot this issue thanks to the following log error (because the channel was overflowing):
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/prober/pro

[2021-05-04 11:26] bcorijn commented on #98719
/remove-lifecycle stale

I still see this occurring in my clusters, and still have the feeling it could be a bug in how these volumes are mounted..

[2021-05-04 11:47] omertuc commented on #98213
/remove-lifecycle stale

[2021-05-04 14:00] liggitt commented on #101716
cc @apelisse

[2021-05-04 14:31] adabuleanu opened #101727 "kube-scheduler failed with "listen tcp 127.0.0.1:10259: bind: address already in use""
#### What happened:
kube-scheduler failed with the error with "listen tcp 127.0.0.1:10259: bind: address already in use". While debugging found out that two containers of kube-scheduler were running
[code]
#### What you expected to happen:
I expect that the initial kube-scheduler container to be terminated and the new one to take its place.

#### How to reproduce it (as minimally and precisely as

[2021-05-04 14:35] adabuleanu commented on #101727
/sig api-machinery

[2021-05-04 14:37] aojea commented on #101715
it seems the bot didn't get the commands

/sig api-machinery
/sig scalability
/assign @anson627

[2021-05-04 14:41] danwinship commented on #101500
/close

[2021-05-04 14:41] #101500 closed

[2021-05-04 14:46] pmmalinov01 opened #101728 "1.22 Release Notes: Known Issues"
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.22 Release Notes([example from 1.21 release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#known-issues)). If you know of issues or API changes that are going out in 1.22, please comment here so that we can coordinate incorporating information about these changes

[2021-05-04 14:46] pmmalinov01 commented on #101728
/triage accepted

[2021-05-04 14:59] alexec commented on #90066
https://github.com/argoproj/argo-workflows/pull/5778

[2021-05-04 15:01] Damans227 commented on #101728
1.19 ?

[2021-05-04 15:20] okossuth commented on #78761
What's the status of this? we are seeing the same issue on a k8s 1.18 cluster, apiVersion: autoscaling/v2beta2 and using custom metrics...

[2021-05-04 15:21] gridworkz commented on #61117
My bad - I jumped into the thread without digging into it.

On Tue, May 4, 2021 at 4:38 AM Marc Bihlmaier ***@***.***>
wrote:

[2021-05-04 15:52] gridworkz commented on #61117
After reviewing the thread it looks as though it's happening across many
providers. Doing more digging on this. I don't have this issue on DO or my
own servers.

On Tue, May 4, 2021 at 11:29 AM Dave Cook ***@***.***> wrote:

[2021-05-04 16:01] aojea commented on #101681
reproducer and regression test if somebody takes it

[code]

[2021-05-04 16:01] adtac commented on #89036
/unassign I don't have the time to work on this

[2021-05-04 16:01] adtac commented on #95131
/unassign I don't have the time to work on this

[2021-05-04 16:02] adtac commented on #89036
/unassign
I don't have the time to work on this

[2021-05-04 16:02] jackfrancis commented on #99305
I have identified where these particular symptoms (probably) originate, and cursory testing suggests something like this eliminates the issue:

https://github.com/kubernetes/kubernetes/pull/101710/files#diff-1046a664dcd001985cf5a688c28959d4bafb964343b0d9faf3ed88e1a14c801bR69

I'll be advocating for a few mins in today's sig-node discussion if any folks following this thread want to chime in.

cc @

[2021-05-04 16:02] adtac commented on #95131
/unassign
I don't have the time to work on this

[2021-05-04 16:02] adtac commented on #96893
/unassign
I don't have the time to work on this

[2021-05-04 16:03] adtac commented on #99304
/unassign
the regression still exists, but I won't have the time to work on this

[2021-05-04 16:04] adtac commented on #94285
/unassign

[2021-05-04 16:04] adtac commented on #93793
/unassign

[2021-05-04 16:04] adtac commented on #93792
/unassign

[2021-05-04 16:04] adtac commented on #93792
/good-first-issue

[2021-05-04 16:05] adtac commented on #94836
/unassign

[2021-05-04 16:06] adtac commented on #94601
/unassign

[2021-05-04 16:33] Sabyasachi2k commented on #101199
Hi @navist2020 this is about the putting the target in the patches , I was asking the if the same is possible in the patchesStrategicMerge option

[2021-05-04 16:35] rdxmb commented on #61117
why not switching over to https://github.com/kubernetes/kubernetes/issues/101056 ?

[2021-05-04 16:35] jsturtevant commented on #101720
These tests are removed: https://github.com/kubernetes/test-infra/pull/22067

[2021-05-04 16:35] #101720 closed

[2021-05-04 16:47] Huang-Wei commented on #95131
@chendave As you're familiar with the preemption code, are you interested in taking this over?

[2021-05-04 16:58] apelisse commented on #98079
We're starting to work on a plan to "address" this.
/lifecycle frozen

[2021-05-04 17:45] ehashman commented on #99305
/sig cluster-lifecycle
/triage accepted

[2021-05-04 17:56] striver619 commented on #95279
@Verolop

[2021-05-04 18:09] striver619 commented on #95279
Now I'm in Beijing, China. Recently, I don't know why I can't log in to the community, so I've lost contact with you. Today I finally log in.
I have a thought: if we could not solve this problem based on aarch64 architecture, I'll choose x86_ 64 architecture, but I still hope to have a breakthrough in aarch64 architecture, I hope you can help me! Thank you very much!
In addition, due to the huge d

[2021-05-04 18:16] nswarnkar commented on #61117
Yes I am AWS server on every node, it is m3xlarge machine.

[2021-05-04 18:21] jemc commented on #83242
/remove-lifecycle stale

[2021-05-04 18:22] striver619 commented on #95279
Just like this, the access is broken and cannot be accessed

![image](https://user-images.githubusercontent.com/51977051/117051090-bde3b700-ad48-11eb-9f47-c682e7286f5c.png)

[2021-05-04 19:08] nswarnkar commented on #61117
@gridworkz Let me know if you need more information for debugging.

[2021-05-04 19:32] gridworkz commented on #61117
Sure, couple questions:
1) Are you scaling vertically on one AWS server? (i.e. vertical auto-scaler vs. horizontal)
2) Could I get the output of: **kubectl top node <your node>**
3) How many pods are currently running on the node?
4) The parameters of your ASG setup
5) A brief list of what you've tried so far.

[2021-05-04 19:48] Arsen-Uulu opened #101733 "Kubernetes check docker config.json"
Hi, I was looking into injecting proxy variables from config.json to my pods running in K8s.  config.json for proxies works only from docker cli = https://github.com/docker/cli/blob/master/cli/command/container/create.go#L77-L103,
is it possible to do something similar within in Kubernetes?  Since Kubernetes is just another API client for docker.

I know work around is to use ConfigMap and patch d

[2021-05-04 20:14] apelisse commented on #101716
`metav1.Duration` is a struct that only contains one embedded field. I'm sure we treat it as a non-pointer struct that can't be defaulted.

It sounds like a corner-case that we'd have to handle, thanks!

[2021-05-04 20:15] caesarxuchao commented on #101727
/remove-sig api-machinery
/sig apps

[2021-05-04 20:16] caesarxuchao commented on #101716
/triage accept

[2021-05-04 20:17] caesarxuchao commented on #101715
/remove-sig api-machinery
/sig node

[2021-05-04 20:17] caesarxuchao commented on #101667
/triage accept

[2021-05-04 20:19] caesarxuchao commented on #101667
/triage accepted

[2021-05-04 20:19] caesarxuchao commented on #101716
/triage accepted

[2021-05-04 20:34] laboger commented on #101657
The Go compiler developer has identified the bugs in the test that is causing it to fail. They are listed in the last comment in the Go issue before closing it. https://github.com/golang/go/issues/45697#issuecomment-826007480

[2021-05-04 21:11] cjcullen commented on #101493
One potential way to fix this might be to pass the resolved IP through to the second call, so we only ever use an IP that we've verified "is proxyable." I haven't tested it, but something like this: https://github.com/cjcullen/kubernetes/commit/8f648b7e417a68e9c40a32d2a22fc27ca0eb0025

[2021-05-04 21:30] aakarshg commented on #97129
/remove-lifecycle stale

[2021-05-04 22:32] jackfrancis commented on #99305
I've also observed that on some occasions the node allocatable storage is in a continual state of reporting "0". Restarting kubelet immediately fixed that.

More debugging to do....

[2021-05-04 22:45] gridworkz commented on #61117
So I have a theory. I think there's a slow interaction between Kubelet and Docker resulting in PLEG issues. It's outlined here: https://www.ibm.com/docs/en/cloud-paks/cp-management/1.1.0?topic=mmcpt-slow-interaction-between-kubelet-docker-cause-pleg-issues

If you can locate your kubelet.service file on your Control Plane node you could simply follow the steps in the IBM document to see if that st

[2021-05-04 22:59] lavalamp commented on #81026
Yeah, let's close it.

Parallel fields are a ton of work, I think we would need a lot more justification before doing something like that.

[2021-05-04 22:59] #81026 closed

[2021-05-05 00:15] #101388 closed

[2021-05-05 01:21] #100384 closed

[2021-05-05 03:54] matti commented on #69696
/remove-lifecycle stale

[2021-05-05 04:04] eddiezane commented on #97859
/remove-lifecycle stale

[2021-05-05 06:27] DreadPirateShawn commented on #38532
/remove-lifecycle stale

[2021-05-05 06:27] DreadPirateShawn commented on #38532
/remove-lifecycle rotten

[2021-05-05 06:40] florianrusch commented on #2630
@israelbgf you missed the security context. Try this:

[code]

[2021-05-05 06:53] g3rzi commented on #101695
/sig api-machinery

[2021-05-05 06:57] george-angel commented on #89903
/remove-lifecycle stale

[2021-05-05 08:21] nikhita commented on #96564
/remove-lifecycle stale

[2021-05-05 08:49] matthyx commented on #99979
I have found another issue in that code:
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/prober/prober_manager.go#L240-L260

If `readinessProbe` has already ran (and failed), we won't probe it via `manualTriggerCh` and therefore wait for the next tick, making the test fail.

[2021-05-05 08:55] wojtek-t commented on #101667
@tkashem - will you be able to help with this (once the main PR merges)? It should be fairly small thing.

[2021-05-05 09:42] eliekoren commented on #101378
+1

[2021-05-05 09:43] mynampatinaveen commented on #25238
@apelisse **If an HPA (or another actor) has changed the value of replicas and you remove it from your config before running server-side apply, the value will be kept as-is**
This is not working in 1.18 or 1.19.when the replicas field is removed from deployment , RollingUpdate will not keep the pod count to the current level but brings it down to 1 .

[2021-05-05 11:22] mshivaramie22 commented on #79365
/remove-lifecycle stale

[2021-05-05 11:29] adabuleanu opened #101740 "garbage collector does not remove resources"
#### What happened:
While running the rook operator, we found some strange behavior where the operator could not delete the resources created by
itself. Our debug highlighted the fact that this might be caused by the garbage collector.

At the apiserver the delete requests show a 200 response
[code]
But the garbage collector logs does give any information about the deletion, just reports some recu

[2021-05-05 11:30] adabuleanu commented on #101740
/sig api-machinery

[2021-05-05 12:02] adabuleanu commented on #101740
Found what "triggers" the garbage collector to complete the monitor sync: any apiserver redeploy (by editing the manifest file, not a kubectl delete pod)
[code]
When the sync succeeds, rook operator behaves normally
[code]
Full logs:
- rook operator logs after restarting apiserver: [rook-operator-after-restart.log](https://github.com/kubernetes/kubernetes/files/6426890/rook-operator-after-restart.

[2021-05-05 14:06] Parrryy commented on #55872
Just to clarfiy, @adeelahmadch this is the kops cluster file that's been edited?

[2021-05-05 14:50] champtar commented on #87615
I have a lab in 1.18.18 with NotReady nodes, in the logs "use of closed network connection" and no tcp connection from kubelet to api server.
This cluster has way too slow disks explaining why we hit the issue, but we already reproduced it twice now despite https://github.com/kubernetes/kubernetes/pull/100376 that was supposed to autorecover from this issue.

I can share some logs if someone is in

[2021-05-05 14:56] pmanno opened #101743 "Secret mounted at variable subPath persists across pod redeployment"
#### What happened:
Within a given deployment, a secret that gets created and mounted at a variable subPath persists across pod replacement.

#### What you expected to happen:
Expect all secret volumeMounts to be destroyed when the pod is destroyed and have only a single secret volumeMount exist at any given time.

#### How to reproduce it (as minimally and precisely as possible):
1) Create a secr

[2021-05-05 15:08] pmanno commented on #101743
/sig Storage

[2021-05-05 15:24] KentFujii commented on #71647
I am attempting to run kubectl inside of a docker container too.

[code]

and not work for me

[code]

[2021-05-05 15:25] ehashman commented on #97497
We think this may have been fixed by #101524.

[2021-05-05 15:34] adeelahmadch commented on #55872
@Parrryy Yes its kOps cluster file.

[2021-05-05 16:04] H3rman8 commented on #34278
Did run into this issue today and refined the workaround due to extraneous linefeed and interface line within the files and containerd instead of docker. Don't know if that's related to my k3os cluster. To test just simply replace 'xargs rm' with 'xargs echo'.

cd /var/lib/cni/networks/cbr0
for hash in $(head -n 1 * | tr -d '\r'| egrep '^[A-Za-z0-9]{64,64}$'); do
if [ -z $(crictl pods --no-trunc |

[2021-05-05 16:06] martinstraesser opened #101745 "Which Kubernetes components or activities use/can use monitoring data from the cluster?"
Hi all,

As part of a development project I am currently diving a bit deeper into the topic of monitoring in Kubernetes. I have no issues with the setup and monitoring pipelines. I have both the metrics server and Prometheus monitoring up and running fine. However, as the topic states, I would like to know which Kubernetes components use/can use monitoring data from the cluster.

_What do I mean w

[2021-05-05 16:11] martinstraesser commented on #101745
/sig api-machinery
/sig architecture
/sig autoscaling
/sig instrumentation
/sig scalability
/sig scheduling

[2021-05-05 16:20] apelisse commented on #101716
/wg api-expression

[2021-05-05 18:04] mauriciopoppe commented on #90868
@pohly I saw that the flag was removed in https://github.com/kubernetes/kubernetes/commit/2468a24b7a732fa492027a159ee15b6d31bf0577#diff-20517805986874f69e3254bed93d59996d5a6fd571a70ab8120736ded5aafa24, @msau42 I think we can close this one if https://github.com/kubernetes/kubernetes/issues/90868#issuecomment-626964330 doesn't apply anymore

[2021-05-05 18:08] mauriciopoppe commented on #90868
/close
The flag was removed in 2468a24#diff-20517805986874f69e3254bed93d59996d5a6fd571a70ab8120736ded5aafa24

[2021-05-05 18:09] msau42 commented on #90868
/close

[2021-05-05 18:09] #90868 closed

[2021-05-05 18:17] #101548 closed

[2021-05-05 19:32] nswarnkar commented on #61117
I agree with your theory, I also feel so, Earlier we are using larger instance of AWS, we never faced this problem.

To answer your questions:

    Are you scaling vertically on one AWS server? (i.e. vertical auto-scaler vs. horizontal)
    Ans: We are scaling horizontally using Cluster AutoScaler.
    Could I get the output of: kubectl top node (your node)

NAME

[2021-05-05 19:33] nswarnkar commented on #61117
https://www.ibm.com/docs/en/cloud-paks/cp-management/1.1.0?topic=mmcpt-slow-interaction-between-kubelet-docker-cause-pleg-issues
I could not try this, as I think it needs node root access to do it, which I dont have now.

[2021-05-05 19:43] jeremyje opened #101746 "GCE Windows installs docker for containerd CRI test runs"
#### What happened:
Docker is always installed on node boot which adds significant start time and adds software that's unnecessary.

#### What you expected to happen:
containerd Windows nodes should not have Docker installed.

#### How to reproduce it (as minimally and precisely as possible):
Start a Kubernetes GCE Windows cluster via kube-up. You can run stuff like `docker images` on it.

#### An

[2021-05-05 19:48] gridworkz commented on #61117
I was afraid of that. It looks like we'll need to tweak things via
ConfgMap. Interesting though that a bigger box worked in the past. This is
straight-up a resource/timing issue. The trick is to find which resource is
falling over. Since all the usual suspects look fine, it's likely
the Docker/Kubelet interaction (it pumps out these types of errors).  Your
IP pool is large enough so it couldn't be

[2021-05-05 20:13] skmatti opened #101748 "Remove calico addon use of apiextensions.k8s.io/v1beta1 API version"
#### What happened:
apiextensions.k8s.io/v1beta1 API is deprecated since 1.16 and is [removed in 1.22](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122) but the calico policy controller still uses v1beta1 APIs  in https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/calico-policy-controller

#### What you expected to happen:
The calico

[2021-05-05 20:16] skmatti commented on #101748
/sig network
/area network-policy

[2021-05-05 20:22] rphillips opened #101749 "Pods can mount root (/) hostPaths into root (/) containers"
#### What happened:
A pod spec and current validation allows for a pod to be admitted that mounts the host root filesystem as the root filesystem within the container. While this is probably not recommended, the resulting running container can exhibit errors. Validation rules should prevent a pod from doing this.

#### What you expected to happen:
Pod creation validation should prevent a pod from

[2021-05-05 20:23] Parrryy commented on #55872
The only change required for me was to add this to the spec.
[code]

And following a rolling-update with Kops.

[2021-05-05 20:29] gridworkz commented on #61117
Just a note: Two chart items you should be looking at in your Netdata

PLEG Relisting Interval Summary in microseconds
PLEG Relisting Latency Summary in microseconds

To check your Kubelet metrics you can go to: https://127.0.0.1:10250/metrics

POD Relist needs to complete in 3 minutes or it barfs.

There may be too many pods on the node for relist to complete in 3 minutes.
The number of events an

[2021-05-05 20:31] jpbetz commented on #94029
I agree that restarting etcd does not help in this case. And I suspect that, in general, it's better to not restart etcd due to health check failures, but I don't have the data to prove that, so I'm hesitant to suggest disabling the liveness probe.  I'd be very interesting in data anyone is able to gather about this.

This might be best to discuss at etcd.io/etcd and not at kubernetes/kubernetes,

[2021-05-05 21:40] nswarnkar commented on #61117
I will check, But I am in complete agreement with your assessment. Because when PLEG issue comes, I saw the pods, though working perfectly, have their status "unknown". The moment,  I remove the stuck pod, they status becomes "green" i.e. active.

[2021-05-05 21:42] olegch commented on #88197
/remove-lifecycle stale

[2021-05-05 21:46] nswarnkar commented on #61117
I tried this command:
kubectl get no ${NODE_NAME} -o json | jq '.status.config'

It returns null.

[2021-05-05 22:03] gridworkz commented on #61117
Try adding -n <namespace name> to the command. Namespace is probably
kube-system

On Wed, May 5, 2021 at 5:46 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-05 22:09] nswarnkar commented on #61117
I saw the logs of metric server and found line like:
E0503 18:34:06.511772       1 manager.go:111] unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary:ip-10-0-32-228.ap-northeast-1.compute.internal: unable to fetch metrics from Kubelet ip-10-0-32-228.ap-northeast-1.compute.internal (10.0.32.228): Get https://10.0.32.228:10250/stats/summary?only_cpu_and_memor

[2021-05-05 22:11] #101746 closed

[2021-05-05 22:17] gridworkz commented on #61117
Interesting - what network plugin are you using?  (Canal / Calico or other)

On Wed, May 5, 2021 at 6:10 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-05 22:22] ykakarap commented on #98368
If this is still of interest, I would like to work on it. 🙂

/assign

[2021-05-05 22:34] jeremyje commented on #101746
/sig windows
/triage accepted

[2021-05-05 23:51] #96641 closed

[2021-05-06 01:20] chendave commented on #95131
sure, happy to take this over.

/assign

[2021-05-06 01:52] cofyc commented on #93552
/remove-lifecycle stale

[2021-05-06 02:02] jingxu97 commented on #93552
cc @jingxu97

[2021-05-06 02:15] mYmNeo commented on #98782
/remove-lifecycle stale

[2021-05-06 02:26] pacoxu commented on #101748
/assign

[2021-05-06 02:26] pacoxu commented on #101748
/assign

[2021-05-06 02:45] ivan-cai commented on #100555
I know the reason for this issue. K8s 1.12, the Node objects are updated frequently. Because of the heartbeat from kubelet to APIServer.

[2021-05-06 03:21] #98628 closed

[2021-05-06 03:37] pacoxu commented on #101743
/cc @mengjiao-liu

[2021-05-06 03:47] CaoDonghui123 commented on #101749
/assign
I will try to reproduce it first

[2021-05-06 03:53] pacoxu commented on #101740
The basic cause of this error message is the wrong kube-config file according to https://stackoverflow.com/questions/55264567/issue-with-the-kubernetes-when-using-the-kubectl-commands.
/kind support
I think ...

[2021-05-06 04:08] james-callahan commented on #64623
One major drawback of working around this with a daemonset is that you need to use a `pause` pod to keep the pod "alive" and hence not get continuously restarted. This burns up a pod ip, which are quite precious in e.g. AWS CNI, where certain instance types can only have 4 pods per node.

[2021-05-06 04:09] gridworkz commented on #61117
Can you - curl  https://10.0.32.228:10250/metrics ? Could be DNS or more
likely the scrape_timeout needs to be increased. Know how to do it in
Prometheus not sure in Netdata.

On Wed, May 5, 2021 at 6:16 PM Dave Cook ***@***.***> wrote:

[2021-05-06 04:50] andrew-ryan-cr commented on #52326
Looks like this type of behavior is possible, depending on the use case, with field-selectors:
https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

For example, the command below gets pods from all namespaces, but then excludes pods with the field 'metadata.namespace' equal to kube-system or longhorn-system:
`watch kubectl get pods -A --field-selector metadata.namesp

[2021-05-06 04:51] #87840 closed

[2021-05-06 05:13] pacoxu commented on #101724
/sig node

[2021-05-06 05:20] pacoxu commented on #101723
/sig node

[2021-05-06 06:09] #98856 closed

[2021-05-06 06:16] pacoxu commented on #101697
/assign

Scheduler log

[2021-05-06 06:18] adabuleanu commented on #101740
kube-controller-manager uses /etc/kubernetes/controller-manager.conf
[code]
This is the content of /etc/kubernetes/controller-manager.conf
[code]
Since this a HA 3 node multi-master, we have nginx running in front on all nodes. That is why we have `server: https://127.0.0.1:6443` on all nodes.
Looking at the nginx logs, I can only see errors when the apiservers were restarted (9:58 and 11:57)
Full

[2021-05-06 06:28] nixpanic commented on #101431
/bug

Although #97972 is a standalone change for BlockVolumes, some of the in-tree storage drivers already provide the `MetricsProvider` interface on a type that gets extended by the (per driver) `NewBlockMapper()` call. This means that the `<blockMapper>.GetMetrics()` function is expected to be available, and the type casting in  #97972 is not sufficient.

Because of this, fetching metrics from s

[2021-05-06 06:47] alexarefev opened #101755 "kube-apiserver memory consumption during CRD creation"
#### What happened:
The CustomResourceDefinitions creation causes kube-apiserver high memory consumption. CRD has multiple versions.
Several creations during a short period of time may cause kube-apiserver restarting.
#### What you expected to happen:
kube-apiserver shouldn't consume an unreasonably huge amount of memory during processing objects such as CRD
#### How to reproduce it (as minimally

[2021-05-06 07:01] 249043822 commented on #101584
If ErrImagePull happened, the containers of pod would not be created, the backoff only does ImagePull again, so the job's BackoffLimit could not perceive the ImagePullBackoff

[2021-05-06 07:18] lllamnyp commented on #93019
The described use-case (pod gone, volume gone forever, new pod - new volume) sounds like an emptyDir to me. How does it not satisfy you?

[2021-05-06 08:03] alexarefev commented on #101755
/sig api-machinery

[2021-05-06 08:13] JarnoRFB commented on #93019
@lllamnyp As I understand it `emptyDir` goes either against the disk of the node or against RAM, but it is not possible to use external storage as with volumes. In cases where one needs a lot of ephemeral storage using the node's disk or RAM is not really an option.

[2021-05-06 08:17] Antiarchitect commented on #98283
Closing. It was DNS resolving issue.

[2021-05-06 08:17] #98283 closed

[2021-05-06 08:43] lllamnyp commented on #93019
@JarnoRFB I see, this doesn't seem to be explicit in the issue. In this case ephemeral volumes seem to be the way to go, though I'm not sure if the deployment controller is capable of creating them on the fly.

[2021-05-06 08:47] #101446 closed

[2021-05-06 08:54] 249043822 commented on #101755
Can you enable profiling via web interface host:port/debug/pprof/heap to give more details about this issue?

[2021-05-06 09:10] 249043822 commented on #101755
I hava tested you crds, the apiserver memory may up for a while after creation of crd, but it will down after some periods, so what is you apiserver memroy limit? I think you should increase some memory for apiserver first, and test again

[2021-05-06 09:46] pacoxu commented on #101695
I built an image `daocloud.io/daocloud/test-escape:0.1`.
- The log contains the escape chars as well.

`kubectl logs` would have the same problem as well.
/sig cli

[2021-05-06 09:49] #95887 closed

[2021-05-06 09:53] Adam-Jin commented on #61117
I had a similar problem with AKS, where the node state switched between Ready and Not Ready. Pleg is not healthy, but the CPU memory consumption is not high. I contacted the Ask product team and they couldn't find Root Causel either. Since our developers frequently create new NS on the cluster and deploy a series of services in it for inheritance, the NS will be deleted at the end. This can happen

[2021-05-06 09:59] pacoxu commented on #101682
/triage accepted

[2021-05-06 10:02] ChristianCiach commented on #24875
If it is true that a Service does not only choose the targeted pods based on the selector labels, but also based on the named ports, I think this should be documented. Otherwise I'm afraid I am depending on some kind of implementation detail that may break at any point in the future.

[2021-05-06 10:05] aimuz commented on #98714
/remove-lifecycle stale

[2021-05-06 10:05] ChristianCiach commented on #24875
In @thockin 's example both Deployments select the same pod labels (`app: exampleapp`). Won't both Deployments fight for the same pods?

[2021-05-06 10:26] pacoxu commented on #101657
So the correct way to compare function would be something like
[code]

[2021-05-06 10:53] pacoxu commented on #101655
I have seen some detections with disk read-only in https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor.json#L14-L18.

[2021-05-06 10:58] sanposhiho commented on #93792
Hello, I'd like to take this issue
/assign

[2021-05-06 11:15] alexarefev commented on #101755
Yes, I can give you more details via profiler.

Memory increasing is a good way but it needs actions on the IaaS tier. Also, it may be necessary before CRDs creation only.

[2021-05-06 11:18] pacoxu commented on #101680
/kind bug
/sig windows
/sig network

[2021-05-06 11:29] thockin commented on #24875
Good point.  Deployment is smart but it would be clearer to use good labels
:)

On Thu, May 6, 2021 at 3:06 AM ChristianCiach ***@***.***>
wrote:

[2021-05-06 11:52] navidshaikh opened #101758 "Bump containernetworking/cni to v0.8.1"
#### What happened:
`github.com/containernetworking/cni/libcni@0.8.0` is identified with [CVE-2021-20206](https://snyk.io/vuln/SNYK-GOLANG-GITHUBCOMCONTAINERNETWORKINGCNIPKGINVOKE-1070549)  with severity rating as high. This is found using snyk scan while running against k/k master
[code]
We're not using `github.com/containernetworking/cni/pkg/invoke` directly however, it gets tagged for vulnerabi

[2021-05-06 11:56] jayunit100 commented on #97472
sorry i missed this

[2021-05-06 12:25] ArchieHunter opened #101761 "Error converting from YAML to JSON: mapping values are not allowed in this context"
When I try to execute kubectl apply -f mongo-secret.yaml, I get this error "Error converting from YAML to JSON: mapping values are not allowed in this context".Can anyone help?

apiVersion: v1
kind: Secret
metadata:
    name: mongodb-secret
type: Opaque
data:
    mongo-root-username: dXNlcm5hbWU=
    mongo-root-password: cGFzc3dvcmQ=

[2021-05-06 13:40] vivekbagade opened #101762 "Add a provision to add multiple authorization webhooks"
#### What would you like to be added:
A mechanism that helps specify more than one webhooks at different places in the kubeapiserver authorization chain.

#### Why is this needed:
The authorization layer in the kubeapiserver currently supports adding one webhook via the “Webhook” mode. There are instances where we need multiple webhooks applied at different places of the authorization chain evalua

[2021-05-06 13:42] vivekbagade commented on #101762
@kubernetes/sig-auth-feature-requests

[2021-05-06 13:42] vivekbagade commented on #101762
/sig api-machinery

[2021-05-06 13:43] vivekbagade commented on #101762
/cc @mikedanese @deads2k @lavalamp

[2021-05-06 13:44] vivekbagade commented on #101762
One way to go about this could be if the kubeapiserver could take in a path to a config file via a parameter and use it to configure its authorization modes (higher precedence means indicates earlier ordering in the authz chain).

[code]

[2021-05-06 13:55] liggitt commented on #101762
If we do this, I agree something structured is required instead of flags.

I'd recommend using the natural ordering of the file to determine the order, and letting the type of each entry map to the current modes, something like this:

[code]

as shown above, this would also be a good place to indicate what should happen when there's an error calling a webhook (currently it is treated as "NoOpinion

[2021-05-06 14:06] vivekbagade commented on #101762
Good point regarding the "on error" conditions. It is something that could be explicitly specified in the config file. Regarding which authorizers can be present multiple times, yes, the expected behavior would be to only allow `type: Webhook` to exist multiple times in the ordering.

[2021-05-06 14:06] enj commented on #101762
Since this would be a new config, I would recommend not including `subjectAccessReviewVersion` (go upgrade your webhook to `v1`) and dropping `kubeConfigFile` in favor of more structured API.  `onError: Deny` should be the default for this IMO.  I would also like to see some form of `resource` / `user` based pre-filtering to prevent invoking webhooks for requests they do not care about.

I would a

[2021-05-06 14:11] liggitt commented on #101762
I'd want the version to be explicit.

I wouldn't want a default for this. Deny and NoOpinion are both reasonable, the person routing to the webhook should decide which they want.

I like this idea as well.

[2021-05-06 14:20] enj commented on #101762
Are you worried that we would send `v1` data to a webhook that only supports `v1beta1` and fail to detect the mismatch on the response?  I would really like to get away from supporting the beta API.  Moving to a new config seems like a good time.

+1 to no default and requiring the value to be specified.

[2021-05-06 14:26] liggitt commented on #101762
Being explicit about inputs/outputs is good. I would bet money that there are people with authorization webhooks that don't know a v1 exists based on the flags.

Capabilities of the authorizer backends are orthogonal to this API server capability. I wouldn't couple them.

[2021-05-06 14:29] jayunit100 opened #101765 "Table driven tests for kube-proxy / service proxies"
After hacking around on some new kube proxy stuff, i found that my brain had trouble reasoning about why failures were happening.   As a holistic solution to this problem i want to use the same solution that we have for network policy testing ~ which is outputting comprehensive test data with positive and negative controls.

@dougsland is hacking on a prototype of a few service, i think ill probab

[2021-05-06 14:29] jayunit100 commented on #101765
/sig network

[2021-05-06 14:30] jayunit100 commented on #101765
/triage-accepted

[2021-05-06 14:32] soorena776 commented on #101762
One additional improvement would be to add an optional filter. The reason for this is that the additional webhook is usually only concerned about a subset of api paths.

with path addition, the config will look like this:
[code]

[2021-05-06 14:40] liggitt commented on #101762
I think that's a similar idea to the "I would also like to see some form of resource / user based pre-filtering to prevent invoking webhooks for requests they do not care about" bit @enj mentioned

[2021-05-06 15:01] gridworkz commented on #61117
Thanks, by NS are you referring to namespaces?

On Thu, May 6, 2021 at 5:54 AM AdamJin ***@***.***> wrote:

[2021-05-06 15:10] vivekbagade commented on #101762
Some sort of resource / user based pre-filtering makes sense and could address some scalability concerns of use cases that need a "first in line" webhook. I'd like to start with a GVK and namespace selector based filter (like in dynamic admission control) to begin with and iterate on it later.

[code]

[2021-05-06 16:24] ehashman commented on #99979
This seems consistent with what I found when I was adding e2es for the new probe-level termination grace period and why I did my timing math the way I did.

[2021-05-06 16:36] jsturtevant commented on #101680
It is unclear what the error is.  ` "Policy already applied" spewConfig="` is not a fatal error I think.  @daschott might be able to clarify

[2021-05-06 16:44] stefanlasiewski commented on #52326
@andrew-ryan-cr That's an great solution, actually.

Would you know how to use multiple includes? This doesn't work for me, for example:

[code]

But selecting one does work:

[code]

[2021-05-06 17:03] stefanlasiewski commented on #32946
This is a desirable feature for multi-tenancy. If users are able to create namespaces then it becomes impractical to use the `!=` operator to exclude arbitrary namespaces. Instead, we need to be able to select resources based on an 'include list', such as:

[code]

[2021-05-06 17:18] Sabyasachi2k commented on #101199
Hi @navist2020
That is what I mentioned in the bug report that this was allowed in 1.20 which changed in 1.21

[2021-05-06 17:22] daschott commented on #101680
Perhaps this IP actually 172.25.74.145 belongs to nat network and there is a misconfiguration? What is the subnet for cbr0 and nat network?

[2021-05-06 17:35] kkobayachi commented on #101680
The error that occurs is that services and pods that are created in the docker can be accessed internally through windows and externally, since the services and pods that are left in containerd cannot be accessed.

the service VIPs that were created in the docker appear and are replicated to the clusters and when I execute the command HNSDIAG LIST ALL, the service VIPs created in the kubernete nod

[2021-05-06 18:04] jsturtevant commented on #96996
/remove-lifecycle rotten

[2021-05-06 18:32] nswarnkar commented on #61117
Same output i.e. null

[2021-05-06 18:37] nswarnkar commented on #61117
I can call curl -k https://10.0.32.228:10250/metrics

It said unauthorized.

[2021-05-06 18:39] nswarnkar commented on #61117
Namespace: kube-system |  
-- | --
  | Open accordion | Active | calico-kube-controllers | rancher/calico-kube-controllers:v3.16.51 Pod / Created 2 months ago / Pod Restarts: 0 | 1 |  
  | Open accordion | Active | canal | rancher/calico-node:v3.16.5 + 3 images4 Pods / Created 2 months ago / Pod Restarts: 0 | 1 per node

 

[2021-05-06 18:40] nswarnkar commented on #61117
I found pods running in kube-system:

calico-kube-controllers
and
canal

which CNI plugin is this, not sure, I could see both pods installed.

 

[2021-05-06 18:46] nswarnkar commented on #61117
As per the logs, I checked canal is being used on all nodes.

[2021-05-06 19:04] #99360 closed

[2021-05-06 19:12] tkashem commented on #101667
@wojtek-t yes, I will take care of it.

/assign

[2021-05-06 19:32] Gui13 commented on #94359
Not stale, we still have the issue!
/unlabel stale

[2021-05-06 20:07] caesarxuchao commented on #101749
/remove-sig api-machiner

[2021-05-06 20:08] caesarxuchao commented on #101745
/remove-sig api-machinery

[2021-05-06 20:09] caesarxuchao commented on #101740
/cc @jpbetz
/triage accepted

[2021-05-06 20:13] caesarxuchao commented on #101493
/cc @lavalamp @deads2k
/triage accepted

[2021-05-06 20:24] zatricky commented on #52326
@stefanlasiewski multiple includes don't work because it requires the result to match with *both* conditions instead of *either* condition. There have been other requests to allow selectors to specify a regular expression, which would resolve this problem, but that was also rejected.

[2021-05-06 21:06] cscurtesc commented on #45438
same issue here, version v1.18.17-gke.100 . My pods are healthy and port-forwarding to the services returns expected result. After a while the ingress forwards the proxy to the right backend. Haven't had any success debugging this problem till now

[2021-05-06 21:32] ezYakaEagle442 opened #101770 "Yaml Templates in case of outage of https://kubernetes.io/docs site"
When [https://kubernetes.io/docs](https://kubernetes.io/docs) is not available which already happened several times, we do not have anymore access to the docs, especially yaml Templates. For instance you can NOT use Kubectl to create PV, DaemonSet neither, etc.

Here is a backup for references :

[Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployme

[2021-05-06 21:58] howardjohn commented on #95407
/remove-lifecycle rotten.

On Thu, May 6, 2021 at 2:56 PM fejta-bot ***@***.***> wrote:

[2021-05-06 22:34] gridworkz commented on #61117
OK thanks, looks like a permission thing on /metrics. Here's something to
look at: https://github.com/kubernetes-sigs/metrics-server/issues/167 There
are some switches that can be sent to kubernetes metrics server.

On Thu, May 6, 2021 at 2:46 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-06 23:04] ehashman commented on #97974
/remove-lifecycle stale

[2021-05-07 00:01] julianvmodesto commented on #84530
/remove-lifecycle rotten

[2021-05-07 00:44] BenTheElder commented on #101770
Everything on kubernetes.io is in https://github.com/kubernetes/website

[2021-05-07 00:48] BenTheElder commented on #101761
It's hard to tell since your snippet is not code formatted but as GitHub displays it now it's missing indentation, which is significant in yaml.

[code]

You can see examples at https://kubernetes.io/docs/concepts/configuration/secret/

/kind support

[2021-05-07 00:53] BenTheElder commented on #101733
Podpreset is the closest thing I can think of. It was removed but you can use a mutating webhook to add it. https://github.com/kubernetes/kubernetes/issues/93900#issuecomment-774460034

This is really a container runtime concern though.
/sig node

kubernetes does have a docker API client when using dockershim, which is deprecated, but not when using other container runtimes, and will not be implem

[2021-05-07 00:57] yuzhiquan commented on #98746
/assign

[2021-05-07 01:23] pacoxu commented on #94359
/remove-lifecycle stale
/sig node

[2021-05-07 01:34] roycaihw commented on #95407
/remove-lifecycle rotten

[2021-05-07 02:22] cmssczy commented on #99397
Same problem with me. https://github.com/kubernetes/kubernetes/issues/101362#issuecomment-827345106

Could you explain why other controllers is **not** easy to get conflict when updating status?  I think there are many `worker` in every controller.
https://github.com/kubernetes/kubernetes/blob/5663875648cea3b7da1870181c59ed5b99bcc270/pkg/controller/daemon/daemon_controller.go#L291-L293

[2021-05-07 03:27] tnqn commented on #99397
@cmssczy the number of workers doesn't matter here as the workqueue guarantees that they will not process the same resource at the same time. The conflict comes from multiple successive processing of a resource because of the update delay of the resource's cache in `Lister`. For example, when a DaemonSet manages 2 Pods and they are getting ready.
1. the first Pod is ready and triggers updating Dae

[2021-05-07 04:12] uablrek commented on #101506
@hanxiaolong891128 Have you tested on K8s v1.21.0?

[2021-05-07 04:50] FabianKramm opened #101775 "Mounting service account tokens of other Kubernetes clusters"
Hello!

I'm the author of [vcluster](https://github.com/loft-sh/vcluster) and my feature request / question is related regarding the future plans of service account token secrets. As service account token projection has become the default now in v1.21.0 and now pull requests such as #101730 emerge, it seems to me that there might be a deprecation coming soon for secret based service account tokens

[2021-05-07 04:51] FabianKramm commented on #101775
/sig auth

[2021-05-07 05:05] #100560 closed

[2021-05-07 05:23] zshihang commented on #101775
it is not clear to me why bound tokens don't work in your case.

[2021-05-07 05:40] cmssczy commented on #99397
Very clear explanation. Thanks.

[2021-05-07 05:48] FabianKramm commented on #101775
@zshihang thanks for your quick response! They don't work because the bound tokens are signed by a different API server with a different set of certificates. If you use the token you get during runtime to query the virtual cluster API server, you get an 'Signed by an unknown authority' error. Even if the root certificates would be the same for host and virtual cluster (which is a requirement that

[2021-05-07 05:54] FabianKramm commented on #101775
A more simple abstraction to think of it would be: how can I mount a token of another Kubernetes cluster that runs within my current cluster

[2021-05-07 06:21] zshihang commented on #101775
IIUC, you need to overwrite sa token from host cluster with one from virtual cluster. my question is why the token from virtual cluster cannot be bound token but secret-based token?

[2021-05-07 06:31] FabianKramm commented on #101775
@zshihang the problem is the pod does not run in the virtual cluster and instead in the host cluster, so when the pod has:
[code]

This would inject the sa token from the host cluster and the pod would not be able to talk to the virtual cluster API server. To overwrite the host sa token we rewrite this to:
[code]

Which currently works, but we lose the advantages of the token rotation and the virt

[2021-05-07 07:06] hasethuraman2 opened #101776 "Call scheduler extension based on labels/annotations"
#### What would you like to be added:

Today, an external application can register its extender to kube-scheduler (through the manifest) and kube-scheduler calls the extender unconditionally. I am looking where if extender can be invoked only when a pod has a certain labels/annotations.

#### Why is this needed:
In a large cluster where regularly 100s of pods (in a large system where x1000s of pod

[2021-05-07 07:19] pacoxu commented on #97312
/reopen
/assign

I meet this test failure in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100243/pull-kubernetes-unit/1390513245365735424. And I can reproduce it with local stress testing.

The reason is the same with #99908

[2021-05-07 07:21] leonK-BO commented on #58065
Hello,

I have a similiar issue.
My client is behind a corporate proxy and most of the kubectl commands work fine. But if I try to exec into a pod shell than I get following error:
[code]

So kubectl tries to resolute the public EKS domain with our internal DNS. Our internal DNS does not support resolution of public domains. It looks like the similiar root cause for me. Do you know if there is a w

[2021-05-07 07:28] JarnoRFB commented on #93019
@lllamnyp  I agree. I would prefer to use Deployments with on the fly provisioned scratch space for the described use case and reserve StatefulSet for applications where state is integral to the correct function of the application. I think Generic ephemeral volumes should be able to provide this.

[2021-05-07 07:41] nswarnkar commented on #61117
Name:         v1beta1.metrics.k8s.io
Namespace:
Labels:       <none>
Annotations:  API Version:  apiregistration.k8s.io/v1
Kind:         APIService
Metadata:
  Creation Timestamp:  2021-03-22T11:20:24Z
  Resource Version:    1491
  Self Link:           /apis/apiregistration.k8s.io/v1/apiservices/v1beta1.metrics.k8s.io
  UID:                 f7a1f1a9-b31f-441b-a920-01f57c5a1fdc
Spec:
  Group:

[2021-05-07 07:56] #97116 closed

[2021-05-07 07:56] hanamantagoudvk commented on #85572
Hi @danwinship  @robscott , please let me know how do i proceed on this issue. I did several other tests with various combinations of 2 configurations `spec.loadBalancerSourceRanges` and `ServiceExternalTrafficPolicyTypeLocal` . I did these tests by artificially deleting the `KUBE-MARK-DROP` and to see whether connection still goes through.

[2021-05-07 08:23] nixpanic commented on #101431
/kind bug

See the description of the panic in the previous comment.

[2021-05-07 09:01] kragniz commented on #74819
/reopen

[2021-05-07 09:11] RolandMa1986 commented on #101714
I checked branch release-1.20, it was always working this way:
[code]
But print patchBytes as string seems more reasonable.

[2021-05-07 09:17] nak3 opened #101779 "kubectl create configmap always return zero exit code when failed"
#### What happened:

`kubectl create cm` prints no error message with zero exit code even with invalid command option. e.g. --from-file=<non-existing-path>

#### What you expected to happen:

`kubectl create cm` prints error message with non-zero exit code.

#### How to reproduce it (as minimally and precisely as possible):

Please try following command. It does not print any error and exit code i

[2021-05-07 09:19] nak3 commented on #101779
/sig cli

[2021-05-07 09:31] iwankgb commented on #95039
@jc42jc I can confirm this is not a bug but an expected behaviour: RPi4 does not provide information about NUMA topology, therefore it is impossible to expose information about it. In such situation cAdvisor falls back to CPU topology.

[2021-05-07 09:33] wzshiming commented on #101724
/assign

This is a duplicate issue, there has been a fixed PR but it has not been merged. #100326

[2021-05-07 09:42] nswarnkar commented on #61117
Same configuration is being used by my metrics serves( same switches)

[2021-05-07 09:43] nswarnkar commented on #61117
https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

[2021-05-07 09:58] #94301 closed

[2021-05-07 10:00] manderson23 commented on #78759
/remove-lifecycle stale

[2021-05-07 10:10] navist2020 commented on #101199
It looks like this step that determine whether the NS is equal added in the new version.
But, in my opinion, I don't think this is a bug so there is no need to modify.

[2021-05-07 10:34] ahg-g commented on #101653
Can you check if any of those pods completed (i.e., in status Fail or Success). Note that completed pods are ignored by the scheduler.

By default, I think eviction happen when the node is under resource pressure form running pods (e.g., memory pressure). Eviction doesn't happen on admission: If a higher priority pod can't be admitted, kubelet doesn't evict a running lower priority pod to fit the

[2021-05-07 10:38] raelga commented on #78352
/remove-lifecycle stale

[2021-05-07 10:56] ahg-g commented on #101674
unreachable and not-ready aren't supposed to exist on the node at the same time. The not-ready taint is added when the node status is NotReady, while unreachable is added when the ready status is unknown.

[2021-05-07 11:01] ahg-g commented on #101459
can you verify that the nodes actually have the `failure-domain.beta.kubernetes.io/zone` label?

[2021-05-07 11:03] bsctl commented on #101674
@ahg-g
well, what we see doesn't match with statement above

[code]

and

[code]

[2021-05-07 11:11] yashwanthkalva opened #101784 "Unable to update the deployment containers ports name on redeployment"
#### What happened:

managementPort is provided by default while applying the k8s manifest.

"mng-mytest" is the name alias for containerPort in deployment manifest.
        ports:
        - containerPort: 9095
          name: mng-mytest

Recently we changed the value of default management port, however for existing deployments that are running
when redeployed the changes of new default mgmt port

[2021-05-07 11:23] ahg-g commented on #101674
ok, but expecting that both to exist is not valid.

Are you able to lookup the node name in the kube-controller-manager logs? Perhaps updating the taint failed, in which case we could see the following error log: https://github.com/kubernetes/kubernetes/blob/6c658a86f9e75943024b0b4f792a37938a96a31f/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L598

[2021-05-07 11:33] anthr76 opened #101786 "Nodes do not report memory on 1.21.0"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

memory, no report, metrics

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubead

[2021-05-07 12:01] serathius commented on #101045
Fix was backported to both 1.20 and 1.19. They should be available in the next minor releases 1.20.7 and 1.19.11. Those releases are planned for next week https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#detailed-release-history-for-active-branches

[2021-05-07 12:03] serathius commented on #101045
/close

[2021-05-07 12:03] #101045 closed

[2021-05-07 12:18] dancronintix commented on #68737
Will this new feature be available in any of the upcoming versions?

[2021-05-07 12:33] cwsolee commented on #101677
Guirish tried to see whether our local s390x environment has the same problem too, he'll update us here.

[2021-05-07 13:10] fasaxc commented on #93925
As it happens, we're about to do another round of scale testing; we'll look out for issues.

[2021-05-07 14:08] jsafrane opened #101791 "Corrupted filesystems on failed reconstruction"
#### What happened:
On a busy machine, kubelet was restarted while a pod was deleted in the API server. Newly started kubelet tried to reconstruct the volume, but it failed with:

[code]

Everything went wrong from here. Since kubelet can't reconstruct the volume, it only unmounts the pod local mount, leaving the global mount still mounted. And kubelet removed the volume from `volumesInUse`, there

[2021-05-07 14:11] jayunit100 commented on #101765
/assign @knabben

[2021-05-07 14:12] jayunit100 commented on #101765
@dougsland has done some initial prototypes for this , doug will demo it today at the kube-proxy workin group

[2021-05-07 14:52] RolandMa1986 commented on #101784
Hi @yashwanthkalva, would you mind provider a little bit more information? I can't reproduce the issue with the above steps.
I have created a simple deployment as below:
[code]
1. Use `kubectl apply -f portest.yaml` to create the deployment.
2. changed the mgmt port in the yaml file.
3. Use `kubectl apply -f portest.yaml` to update the deployment.
Please let me known if there's something different

[2021-05-07 14:54] BenTheElder commented on #101786
cAdvisor bug probably? Otherwise kubelet or the container runtime.
/sig node

[2021-05-07 15:08] soorena776 opened #101794 "Add feature to configure a set of webhooks to intercept other webhooks"
#### What would you like to be added:
Platform providers should be able to configure a select set of webhooks to intercept other webhoooks as well.

#### Why is this needed:
Currently webhooks [do not intercept other webhook types](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go#L222). This is rightly designed to avo

[2021-05-07 15:18] soorena776 commented on #101794
/sig sig-api-machinery

[2021-05-07 15:19] soorena776 commented on #101794
/sig api-machinery

[2021-05-07 15:27] liggitt commented on #101794
If these would be configured via the API, I'd be concerned about scenarios that put a cluster in an unrecoverable state (a webhook intercepting webhooks fails and can't be fixed).

[2021-05-07 15:46] soorena776 commented on #101794
One way to address that would be to add a `webhookInterceptingWebhooks`field which 1) specifies the intercepting webhooks, and 2) specifies what users are _maintainers_. (the same applies for `MutatingAdmissionWebhook`)
A request sent by a _maintainer_ won't be intercepted by these webhooks, so they could always modify and maintain these webhooks.

[code]

[2021-05-07 15:58] zshihang commented on #101775
the `secret-with-virtual-cluster-sa-token` is generated by the token controller in the virtual cluster? if the token controller is removed in the future, we can still get a token from the virtual cluster control plane using the `TokenRequest` API.

the other way is writing a csi driver with your own token service.

the KEP is still in progress and the decision of removal of token controller is not

[2021-05-07 16:05] jsafrane commented on #101791
cc @msau42 @jingxu97 @gnufied PTAL
I have a PR linked here that helps, but does not fix the issue completely - reconstruction can fail from many different reasons.

[2021-05-07 16:07] sanposhiho commented on #93793
I'd like to take this one
/assign

[2021-05-07 16:24] liggitt commented on #89477
These deprecated labels can be used in *many* places. Have we made the use of the deprecated labels sufficiently visible to users?

https://github.com/kubernetes/kubernetes/issues/94626 tracks the places I know of where we have node selector / affinity / topology fields that could require updating.

https://github.com/kubernetes/kubernetes/pull/101688 starts to surface warnings for use of those la

[2021-05-07 16:30] gridworkz commented on #61117
Actually, the metrics server config looks OK. Your setup looks fine. I also have setups like this with no problems. None on Amazon. I think we may need to get them involved in this issue. In your case, it appears it might be AWS specific. You may need a higher access level to perform the things we need to do for diagnostics.

As I mentioned earlier, creating PODs incurs overhead (irrespective of r

[2021-05-07 16:47] mattfenwick commented on #101765
👍 I'm interested in helping out with this !

[2021-05-07 16:54] dims commented on #101677
thanks @guirish @cwsolee i've filed a PR that may help mitigate please review!

[2021-05-07 16:55] Jiawei0227 commented on #100900
This is deprecated here: https://github.com/kubernetes/kubernetes/pull/101773

[2021-05-07 17:13] dims commented on #101677
looks like a long pending problem https://github.com/gliderlabs/docker-alpine/issues/386

[2021-05-07 17:47] ahg-g opened #101803 "Optimize NodeVolumeLimits scheduler plugin"
The NodeVolumeLimits filter currently recomputes the volume count on the node for each incoming pod, we should cache that in the scheduler's nodeInfo like we do for other resources (memory, cpu etc.).

Also, it seems some of the checks in the filter are agnostic to the node (like checking the incoming pod PVC and computing its volume count); those can be factored out into a PreFilter instead of re

[2021-05-07 17:48] ahg-g commented on #101803
/sig storage

[2021-05-07 18:27] nswarnkar commented on #61117
Yes, actually to keep our budget low, we chose such machines. Now I can access the machines with higher access level. What set of debugging information we can collect?

[2021-05-07 18:28] jingxu97 commented on #101791
reconstruction is missing the part to clean up globalmount. One possible way is to scan all mounts in globalmount, and compared with desired/actual state volumes. But there are quite some details need to think though to avoid race etc..

[2021-05-07 19:06] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2021-05-07 19:22] gridworkz commented on #61117
Great! Our original goal was to grab a dump of the current kubelet config
so that we can possibly change some parameters to extend the relist timeout
via a Configmap.

On Fri, May 7, 2021 at 2:27 PM Neeraj Swarnkar ***@***.***>
wrote:

[2021-05-07 20:01] #89094 closed

[2021-05-07 20:24] alkanna commented on #71647
Hitting the exact same issue here, I can't understand what is wrong. Can we reopen this ?

[2021-05-07 20:31] #101724 closed

[2021-05-07 20:31] #98434 closed

[2021-05-07 20:32] #101677 closed

[2021-05-07 21:07] alkanna commented on #71647
I solved it by upgrading docker for mac to version 3.3.3
I believe they reverted some stuff about https in 3.3.2 which probably fixes the issue.

[2021-05-07 21:09] SergeyKanzhelev commented on #101584
Glanced over. Is this dup of #87278?

[2021-05-07 21:31] msau42 commented on #101791
Should we remove the logic that tries to unmount the volume even if we failed to reconstruct the volume? The volume won't get cleaned up anymore but that's better than corrupting data.

For cleaning up global mount, I think it will be hard to do for intree volumes, but we can possibly do it for CSI since we save the state.

[2021-05-07 21:31] msau42 commented on #101791
@kubernetes/sig-storage-bugs

[2021-05-07 21:35] ahg-g commented on #94008
/remove-lifecycle rotten

[2021-05-07 21:46] msau42 commented on #101803
I think those are good improvements.

I remember we actually did try prototyping caching of the volume count, but didn't actually find improvement in benchmarks. I'm not able to find the issue though where we posted the results. @jsafrane @bertinatto do you remember?

For now, I think we could target some of the Prefilter enhancements

[2021-05-07 21:46] msau42 commented on #101803
@kubernetes/sig-storage-feature-requests

[2021-05-07 22:07] jingxu97 commented on #101791
In this case, force detach will still happen after 6mins?

[2021-05-07 22:33] lavalamp commented on #101755
Almost certainly a problem constructing the OpenAPI schema; not clear if it's in the extensions-apiserver or the aggregator's merging, however. My money is on the former.

[2021-05-07 22:35] lavalamp commented on #101794
@deads2k FYI

[2021-05-07 23:51] verult commented on #95268
Not tackling this bug at this time because the work might be non-trivial. The immediate goal of adding error codes is to be able to differentiate between user vs system errors. Each volume operation has many errors, some of which wrap around other errors and could be hard to tell whether they are user-caused or system-caused until the underlying errors are inspected.

[2021-05-07 23:51] #95268 closed

[2021-05-08 01:18] KentFujii commented on #71647
I solved it by upgrading docker for mac to version 3.3.3. Thanks, @alkanna.

[2021-05-08 01:19] pacoxu commented on #101776
/sig scheduling

[2021-05-08 02:24] pistachio2011 commented on #98520
This issue happens about two or three times a day if there are about 20 cronjobs running every minute. Below is one of the logs.

Kubernetes version (use kubectl version):v1.17.11

00:09:12.076351   31704 kubelet.go:1907] SyncLoop (ADD, "api"): "app-1620346140-fflrv_test(e04434fe-79b1-41b7-86fe-448df262bd31)"
  00:09:12.219509   31704 reconciler.go:209] operationExecutor.VerifyControllerAttachedVo

[2021-05-08 02:31] diskun00 commented on #25456
Just FYI, if above solutions doesn't work, instead of restarting Docker service, we may just kill the corresponding container process of the stuck pod, i.e.,

1. go to the corresponding node
2. use `docker ps` find the container id for the correpsponding pod
3. run `ps aux|grep $container_id`
4. kill the process `kill -9 $process_id`
5. remove the pod from k8s `kubectl delete pod $pod_name --grace

[2021-05-08 02:32] pacoxu opened #101820 "More debug logs to check scheduler spread algorithm"
/sig scheduling

#### What would you like to be added:
A way to check the scoring of each node to figure out why a node has a high scheduling priority.

- proposal 1: add **some debug level logs** to Kube-scheduler, so we can know node score on each scoring step.
- proposal 2: a simple way to decrease the priority of one node(in my case a node with more than 200 pods is with the highest scheduling

[2021-05-08 02:36] wangyysde opened #101821 "link file _output/bin is broken"
#### What happened:
When we run scripts in hack subpath, they are create a link file named bin in _output subpath which pointing to _output/local/bin/${platform}. But all the binaries have been output into _output/dockerized/bin/ and the subpath _output/local/bin is not exist normally.And there are many scripts in hack are using _output/bin subpath.

#### What you expected to happen:
Correct the p

[2021-05-08 02:39] wangyysde commented on #101821
/sig release

[2021-05-08 03:02] #97140 closed

[2021-05-08 03:05] wangyysde commented on #101786
Node can report memory data on 1.21.0 with containerd.

[2021-05-08 03:29] #96676 closed

[2021-05-08 07:11] SataQiu commented on #101821
IMO, you should run `make all` instead of `hack/verify-description.sh`.

[2021-05-08 07:57] FabianKramm commented on #101775
@zshihang thanks a lot for the clarification! Yes exactly the `secret-with-virtual-cluster-sa-token` would be generated by the token controller in the virtual cluster. Would the `TokenRequest` API be able to create tokens for service accounts or would they be signed for another entity?

Yes, the custom token service is always an option as we have access to the root ca and key in the virtual cluste

[2021-05-08 07:57] #101775 closed

[2021-05-08 08:57] wangyysde commented on #101821
@SataQiu .Thanks. I run  hack/verify-description.sh following #99675.  The link file _output/bin be created in kube::golang::place_bins function in hack/lib/golang.sh script. Then the hack/lib/golang.sh be called by verify-e2e-test-ownership.sh.  I think that the script verify-e2e-test-ownership.sh is for e2e test,and there are many scripts in hack are using _output/bin subpath. I think that we sh

[2021-05-08 09:09] njuptlzf commented on #101714
cc

[2021-05-08 09:11] verb commented on #97103
/remove-lifecycle rotten

[2021-05-08 09:12] verb commented on #98808
/remove-lifecycle stale

[2021-05-08 09:12] verb commented on #98807
/remove-lifecycle stale

[2021-05-08 10:06] #100918 closed

[2021-05-08 10:26] MadhavJivrajani commented on #101622
Hey @pacoxu! Quick question: the links that you attached that could be possible fixes, were really helpful! Since the approach to check for `ESTALE` wouldn't help here, a timeout based approach seems best, I'm a little unsure about what this timeout period could be for this case, any suggestions on the same?

[2021-05-08 10:43] Nebulazhang opened #101829 "ContainerLabels not contains pod labels, but SandboxLabels contains pod labels"
#### What happened:

When we read the container's config.v2.json or `docker inspect` some containers, I cannot get the enough labels on container's config.v2.json.

But all pod labels can be found on sandbox container.

this is the code about create sandbox container.
![image](https://user-images.githubusercontent.com/28707161/117536346-1a86f080-b02d-11eb-96df-24fe0af53ff0.png)

this is the code a

[2021-05-08 10:45] Nebulazhang commented on #101829
/sig node

[2021-05-08 10:46] pacoxu commented on #101622
No idea. @MadhavJivrajani  you may ask sig-node guys in the slack or weekly meetings. Or send a PR and discuss it in the PR.

[2021-05-08 10:50] Nebulazhang commented on #101829
Our log agent may need to inspect container in order to get pod labels information, and upload logs with labels or depends on some labels. So we need to  get the enough labels on container's spec

[2021-05-08 13:06] #97077 closed

[2021-05-08 13:41] sanposhiho commented on #94601
Hello, I'd like to take this one

/assign

[2021-05-08 14:06] #96505 closed

[2021-05-08 14:26] liggitt commented on #101770
Specifically, https://github.com/kubernetes/website/tree/master/content/en/examples has a large number of examples

[2021-05-08 14:26] #101770 closed

[2021-05-08 14:51] liggitt commented on #101740
Were you still running multiple API servers, some of which were at 1.19? If so, it is possible for the 1.20 API server to add the flow control API group/version to discovery, but the 1.19 API server to not be able to provide resource info for that group/version yet.

If the active controller manager is talking to the 1.19 API server, the GC sync will not be able to complete until the API server it

[2021-05-08 15:24] liggitt commented on #101740
This looks similar to https://github.com/kubernetes/kubernetes/issues/98548, where discovery disagreements during a HA API server upgrade disrupt controllers that require complete discovery info

[2021-05-08 15:52] mind-mind opened #101837 "Raspbian cannot start pod"
HI,

At first, I tried to use it to be a master node since there is a problem with the memory not enough, so I let it be the worker node instead. My Raspberry Pi architecture is Rasbian armv7.

I use
sudo kubeadm init --apiserver-cert-extra-sans=PUBLIC-IP-OF-MASTER-NODE --control-plane-endpoint=PUBLIC-IP-OF-MASTER-NODE --pod-network-cidr=10.244.0.0/16

to start a master node on AWS.

Rasbian can j

[2021-05-08 18:46] kolomenkin commented on #101584
I would say it is not a full dulicate of #87278.

I can imagine someone can decide to keep those issue without a fix for Deployments. I'm not sure if Deployment yaml editing if affected,

But I point similar behavior in the context of CronJob. I.e. we need to success/fail by some schedule.

And it is extremely important when CronJob is updated (redeployed) with a different valid image reference. A

[2021-05-08 20:06] #97060 closed

[2021-05-08 20:52] brianharwell commented on #94533
/reopen

[2021-05-08 20:54] brianharwell commented on #94533
It has been 8 months with no comments from the Kubernetes Devs nor any acknowledgement that this is a problem.

[2021-05-08 23:25] bhcleek opened #101840 "apimachinery/errors: IsForbidden does not match Code; it only matches Reason"
#### What happened:

Created a validating admission webhook with controller runtime and failed validation, returning a controller runtime `Denied` response.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configur

[2021-05-08 23:26] #101840 closed

[2021-05-08 23:37] bhcleek opened #101841 "apimachinery/errors: IsForbidden does not match Code; it only matches Reason"
#### What happened:

Checked a `Create` method error using `"k8s.io/apimachinery/pkg/api/errors".IsForbidden` when the error was caused by a validating webhook that returns a 403 response.

In this particular case, the error was generated from a validating webhook implemented with controller-runtime that returns controller-runtime's `Denied` response.

#### What you expected to happen:
`"k8s.io/ap

[2021-05-08 23:38] bhcleek commented on #101841
/sig api-machinery

[2021-05-09 00:12] ravilr commented on #96486
/remove-lifecycle stale

[2021-05-09 04:35] toumorokoshi opened #101842 "Deployment provides a 'Ready' status condition."
#### What would you like to be added:

Ultimately I'm trying to figure out how I can use `kubectl wait` to wait for a deployment to complete.

I don't believe that's possible today because [deployment only provides the following conditions](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#complete-deployment):

- `Available`, which tells you if the deployment can serve load.
-

[2021-05-09 04:42] toumorokoshi opened #101843 "Support observedGeneration in kubectl wait"
#### What would you like to be added:

Today, kubectl wait seems to just wait for a specific condition, and not much more. There is an effort with [kstatus](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/kstatus/README.md#conditions) to include fields aside from conditions to determine resource availability (e.g. observedGeneration).

It would be great if `kubectl wait` also supports

[2021-05-09 07:32] henrik-m commented on #96428
We are still employing a workaround for this (frequent automatic node reboots). Is there anything else I can do to help move this forward? My last post from Jan 7th did not get a response...

/remove-lifecycle rotten

[2021-05-09 11:10] sanposhiho opened #101849 "scheduler_perf: add detailed description about op data type in benchmark test's configration"
Hi team!

#### What would you like to be added:

Now, README currently asks the users to browse scheduler_perf_test.go to see `op` data type implementation for benchmark test's configration.

https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/README.md#how-to-configure-benchmark-tests

I would like to add documentation on this, what types of `op` exist, and how to

[2021-05-09 11:11] sanposhiho commented on #101849
/sig scheduling

[2021-05-09 11:12] #94682 closed

[2021-05-09 12:37] WybeKoper opened #101850 "Survey on GDSE"
Hey there.

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-09 13:12] #96209 closed

[2021-05-09 13:24] serathius opened #101851 "Expose container start time in kubelet /metrics/resource endpoint"
KEP https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/727-resource-metrics-endpoint introduced a new Kubelet /metrics/resource endpoint  as a replacement for Summary API. When working on design to switch Metrics Server to `/metrics/resource` endpoint I found some problems with CPU metric.

This endpoint exposes cumulative CPU usage metrics for each container. To calculate usage

[2021-05-09 13:57] sanposhiho commented on #101849
/sig testing

[2021-05-09 13:59] sanposhiho opened #101852 "scheduler_perf: no error handling when an error occurs when updating node"
#### What happened:

The value of err in [this line](https://github.com/kubernetes/kubernetes/blob/master/test/utils/runners.go#L1239) was always nil, and it will lead to incorrect behavior in some case.

#### What you expected to happen:

Assign to `err` in [this line](https://github.com/kubernetes/kubernetes/blob/master/test/utils/runners.go#L1221)

#### How to reproduce it (as minimally and pre

[2021-05-09 15:00] sanposhiho commented on #93794
Hi @Jerry-Ge.
Are you still going to work on this issue?

[2021-05-09 15:05] timoreimann commented on #80354
/remove-lifecycle rotten

[2021-05-09 15:54] aaronmell commented on #72155
/remove-lifecycle rotten

[2021-05-09 16:12] #95042 closed

[2021-05-09 17:15] jaibheem opened #101855 "Kubernetes returns empty values for some of the fields in PodTemplateSpec"
Some of the PodTemplateSpec fields are returned nil/empty when calling.

#### What happened:
I have a logic in my Customer CRD, where I to compute PodTemplateSpec for every reconciliation(15 seconds) and compare against the live PodTemplateSpec to identify if there is a change applied so I can do a custom logic. However sometimes when I compute the PodTemplateSpec I see nil/empty values for some o

[2021-05-09 18:13] danielamlins commented on #99005
Sorry, I just started in a new job and I have been very busy. I plan to get back to this when I have more time :)

[2021-05-09 22:15] jconway commented on #90973
/remove-lifecycle stale

[2021-05-10 00:02] Jerry-Ge commented on #93794
@sanposhiho Hi~, i am currently working on something else. please go ahead and work on this~ thanks😊

[2021-05-10 01:21] zerkms commented on #89938
/remove-lifecycle stale

[2021-05-10 02:37] HallsHolicker commented on #101655
However, even if the root partition is changed to Read-Only during my testing, the node is in a Ready state.

[2021-05-10 02:51] CaoDonghui123 commented on #101843
maybe duplicate of #95759

[2021-05-10 04:52] mikechengwei commented on #73056
Also meet this question.

[2021-05-10 05:47] michael-db commented on #87724
/remove-lifecycle stale

[2021-05-10 06:12] hanxiaolong891128 commented on #101506
I just finished my vacation，and I'm going to test it this week

[2021-05-10 06:14] #94966 closed

[2021-05-10 06:14] Jainbrt commented on #96344
/reopen

[2021-05-10 06:25] adabuleanu commented on #101740
So, indeed we are running the same setup as #98548 (same upgrade procedure: one node at a time), but I've seen these errors after (they may show up before, but I did not noticed them) all the 3 API server and controller managers have been upgrade to 1.20 (issues were highlighted in the rook upgrade procedure which is after the k8s upgrade). But it may be the fact that the issue is caused by the mi

[2021-05-10 07:06] #97015 closed

[2021-05-10 07:16] adabuleanu commented on #100182
I managed to reproduce this very often why upgrading from k8s 1.19.6 to 1.20.4 . I posted my findings on the original ticket https://bugzilla.redhat.com/show_bug.cgi?id=1936408 . I can give more details if needed.

[2021-05-10 07:21] yangjunmyfm192085 commented on #101851
need help?@serathius
We can do it.@sanwishe

[2021-05-10 07:25] lengrongfu commented on #101851
/assign

[2021-05-10 07:25] wzshiming commented on #101837
I think you can try to use k3s instead of k8s on Raspberry

[2021-05-10 07:27] yangjunmyfm192085 commented on #101851
I have assigned, thank you very much
/unassign lengrongfu

[2021-05-10 07:27] yangjunmyfm192085 commented on #101851
/assign

[2021-05-10 07:28] serathius commented on #101851
Currently this is a proposal. We need to discuss it with SIG Node to get agreement on design.

[2021-05-10 07:30] yangjunmyfm192085 commented on #101851
yes, we will wait for the result of  proposal.

[2021-05-10 07:32] lengrongfu commented on #101851
Okay, can we do it together?

[2021-05-10 07:37] yangjunmyfm192085 commented on #101851
I think the work is not heavy, If have heavy tasks,  Welcome to join us do it together!

[2021-05-10 08:07] lambotchi commented on #86762
On our RHEL7 os using k8s version 1.20 installed via kubespray using calico and containerd, I was able to solved it by executing

[code]
then deleting the coredns pods

[2021-05-10 08:37] saschagrunert commented on #101656
The kubelet does take care of rotating the logs:

https://github.com/kubernetes/kubernetes/blob/7b2776b89fb1be28d4e9203bdeec079be903c103/pkg/kubelet/logs/container_log_manager.go#L177-L185

This means, if I run a kubelet with the following additional configuration: `--container-log-max-files=10 --container-log-max-size=40Ki` and then run a single container pod like this:

[code]

After some time I

[2021-05-10 09:02] jsafrane commented on #101791
Structure of global mount dir is plugin specific. Each plugin would need to have a specific function to walk through its global dir and return array of reconstructed volumes. Which seems too complicated now, it could be much better if we move everything to CSI.

IMO it would be easier to introduce a real transactional database of ASW - something that's reliably saved to disk before and after every

[2021-05-10 09:15] pacoxu commented on #36621
[code]
The test case has several tags now. `[Serial] [Slow][Feature:RegularResourceUsageTracking]`

However, I think this test will not help with a memory leak issue in most cases.

For instance, the recent fix #100326 is a kubelet memory leak fix. Leaks happened with some special triggering. I prefer to remove this case.

In my experience of leak testing, a continuously running cluster would help

[2021-05-10 09:36] hanxiaolong891128 commented on #101506
I've test id succeed, Thank you very much!  Best wishs for you~

[2021-05-10 09:37] uablrek commented on #101506
Thanks! I close the issue.
/close

[2021-05-10 09:37] #101506 closed

[2021-05-10 09:52] wojtek-t commented on #90833
/remove-lifecycle stale

[2021-05-10 10:03] aermakov-zalando commented on #75674
It doesn't look like it was actually implemented, though. Searching for `lastSuccessfulTime` only shows API changes, there don't seem to be any changes to the CronJob controller logic. Or am I missing something?

[2021-05-10 10:03] aermakov-zalando commented on #75674
/reopen

[2021-05-10 12:24] liggitt commented on #101286
cc @bskiba

[2021-05-10 12:34] liggitt commented on #101286
/assign @bskiba

[2021-05-10 12:55] sanposhiho commented on #93794
Thanks :)
/assign

[2021-05-10 13:00] VictorDC92 opened #101868 "Docker in AKS 1.19.9"
#### What happened:

I have upgraded my cluster from version 1.18.17 to version 1.19.9. The problem comes from the fact that I have some pods that need the docker.sock and now my container runtime has changed from docker to containerd.

![Captura de pantalla 2021-05-10 145942](https://user-images.githubusercontent.com/80468926/117662919-627a5480-b1a0-11eb-9470-03357cf642d6.png)

#### What you expe

[2021-05-10 13:30] tosi3k commented on #96635
Friendly ping for the update. We came across this issue one again in a recent scale test job run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1390713430448541696.

[2021-05-10 13:53] dashpole commented on #101851
I think this proposal is the right way forward.  The only other solution I can think of would be to have the MS watch pods and nodes, but that seems heavy-weight for this problem, and will have race conditions.

[2021-05-10 14:12] liggitt commented on #94060
This is important to allow custom resource authors to safely improve schemas that were previously poorly defined

[2021-05-10 14:20] VictorDC92 commented on #101868
@pacoxu I have updated my cluster using Azure and Terraform. The problem comes that I change the runtime container to containerd and I need it to be docker.

[2021-05-10 14:48] eligosfx commented on #81020
https://support.cloudbees.com/hc/en-us/articles/360019540731-Autoscaling-issue-when-provisioning-Masters-in-Multi-AZ-Environment

[2021-05-10 14:52] jayunit100 opened #101870 "CleanupActions can hang..."
#### What happened:

It seems like the steps at
[code]
Can hang sometimes with ginkgo.parallel > 1 .

The only output you get it:

[code]

#### What you expected to happen:

CleanupActions would
- self describe the current state , i.e. 'deleting all namespaces ' or whatever
- not silently hang, i.e., be subject to timeouts or periodic updates at least to the logger

#### How to reproduce it (as mi

[2021-05-10 15:18] george-angel commented on #13136
/remove-lifecycle stale

[2021-05-10 16:17] saurap opened #101872 "Scheduler scheduled pods to a deleted node"
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.14",
1. A node that was active in the cluster was removed as part of our scaling thresholds.
2. The node was removed from Azure VMSS and removed from cluster inventory as well.
The log: node_tree.go:113] Removed node "worker2-scus-prod-a7-vmss0000m0" in group "southcentralus:\x00:2" from NodeTree
3. However almost after 20hours,

[2021-05-10 16:31] Capstan commented on #90277
/remove-lifecycle stale

[2021-05-10 16:34] neolit123 commented on #101837
you need around 1500 MB on a control-plane node with kubeadm / vanilla k8s.
the kubeadm docs recommend 2000 MB.

you can indeed try k3s, but you should read what it installs (e.g. it doesn't have etcd and uses sql instead).

/close
/kind support

[2021-05-10 16:42] neolit123 commented on #101868
this is a relevant note:

https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

this doesn't seem like an issue in k8s core.
you can try getting support from AKS or the k8s support channels:

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-05-10 16:42] neolit123 commented on #101868
/remove-kind bug
/kind support

[2021-05-10 16:42] #101868 closed

[2021-05-10 16:44] neolit123 commented on #101872
< 1.19 is out of support.

try asking Azure for support.
if this is confirmed as a 1.19+ bug, you can open a new issue here.

/close
/kind support

[2021-05-10 16:44] #101872 closed

[2021-05-10 16:44] neolit123 commented on #101872
alternatively you can ask other users in the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-05-10 16:45] #97312 closed

[2021-05-10 16:45] neolit123 commented on #101855
/sig api-machinery

[2021-05-10 16:46] neolit123 commented on #101850
/close

this is better communicated on the user channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-05-10 16:46] #101850 closed

[2021-05-10 16:47] neolit123 commented on #101843
/close
/sig cli

[2021-05-10 16:47] #101843 closed

[2021-05-10 16:47] neolit123 commented on #101842
duplicate of #95759

/close
/sig cli

[2021-05-10 16:47] #101842 closed

[2021-05-10 16:48] neolit123 commented on #101842
you can also ask users for tricks at the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-05-10 16:48] neolit123 commented on #101761
/close
you can ask for support at:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-05-10 16:48] #101761 closed

[2021-05-10 16:52] neolit123 commented on #101564
/sig api-machinery

[2021-05-10 16:57] neolit123 commented on #101631
/sig instrumentation api-machinery

[2021-05-10 16:58] neolit123 commented on #101784
/sig apps

[2021-05-10 17:03] Jiawei0227 opened #101873 "e2e storage multivolume block device test takes 512 Bytes sector size by default"
#### What happened:
https://github.com/kubernetes/kubernetes/blob/20b0f6b2a6ab9b1f0df821044150539ffc2c5503/test/e2e/storage/testsuites/multivolume.go#L519

From here we see that the `TestConcurrentAccessToSingleVolume` method takes 512 bytes sector size as a default option for verifying block read. This makes the test fail for the block devices that uses 4k sector size because the read is using `d

[2021-05-10 17:16] #97242 closed

[2021-05-10 17:28] knabben commented on #101765
prototyping a version here: https://github.com/K8sbykeshed/k8s-service-lb-validator

[2021-05-10 17:30] msau42 commented on #101873
cc @jsafrane

[2021-05-10 17:37] BenTheElder commented on #101821
"dockerized" is only in the path when things are built inside docker. binaries can also be built on the host.

[2021-05-10 18:36] lavalamp commented on #100891
I think this has mostly been incorporated in the KEP now, we can probably close it?

[2021-05-10 18:41] lavalamp commented on #90277
Are there still things to be done? The search in the OP doesn't find anything anymore.

[2021-05-10 18:58] zorro786 opened #101877 "Scheduler fails to schedule due to cyclic errors on pod forget and assume"
#### What happened:
Found several pending pods in scheduler queue and they failed due to:

[code]

#### What you expected to happen:
Expected the pod to be scheduled/assumed on retry as it was not added in cache per message "wasn't assumed so cannot be forgotten" previously.
In other words, expected `schedulerCache.assumedPods` & `schedulerCache.podStates` to be always in sync.

#### How to reprod

[2021-05-10 19:18] jayunit100 commented on #101765
niceeee

[2021-05-10 19:25] varshavaradarajan opened #101878 "PVC using a volume snapshot data src must always provision a new PV"
#### What happened:

When a PVC is created using a volume snapshot, the pvc was bound to an available PV in the cluster

#### What you expected to happen:

A new PV should be provisioned to bind to the PVC

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to know?:
https://kubernetes.slack.com/archives/C09QZFCE5/p1620669405248800

#### Environme

[2021-05-10 20:02] spiffxp commented on #90277
https://cs.k8s.io/?q=blacklist&i=fosho&files=&excludeFiles=vendor&repos=kubernetes/kubernetes

There is a bit more

[2021-05-10 20:06] Jefftree opened #101879 "konnectivity network proxy tests e2e tests failing"
#### Which jobs are failing:

https://k8s-testgrid.appspot.com/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy-http-connect
https://k8s-testgrid.appspot.com/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy-grpc

#### Anything else we need to know:

Konnectivity network proxy tests have been failing since 5/7/2021.

Looking at the diff of changes it se

[2021-05-10 20:07] astoycos commented on #97727
poke @mattfenwick

[2021-05-10 20:10] astoycos commented on #87709
ping @abhiraut

[2021-05-10 20:15] zorro786 commented on #101877
CC: @Huang-Wei @ahg-g

[2021-05-10 20:17] jeuniii commented on #81723
A bunch of calico pods in my GKE cluster have been killed

[code]

Thats all that I see. No OOM errors. It would be nice if I got to know why the pods are being killed :(

[2021-05-10 21:05] aojea commented on #101682
definitively in favor of using only one IP family for DNS resolv.conf  , as Lars says, DNS resolves  A and/or AAAA independently of the IP layer ... DNS is already complicated and dualstacking the resolv.conf will make it more complicated

[2021-05-10 21:49] eddiezane commented on #98854
This is failing aggressively since May 7th.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Simple%20pod%20should%20return%20command%20exit%20codes

/reopen

[2021-05-10 21:54] eddiezane commented on #92468
This has been failing aggresively since May 7th. Same as https://github.com/kubernetes/kubernetes/issues/98854.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Kubectl%20logs%20should%20be%20able%20to%20retrieve%20and%20filter%20logs

/reopen

[2021-05-10 21:54] eddiezane commented on #92468
/triage accepted

[2021-05-10 22:04] eddiezane commented on #92468
/assign

[2021-05-10 22:08] Jiawei0227 commented on #101873
Since we are using Debian image for this test. I am wondering does it make sense to use `iflag=nocache` instead of `iflag=direct` for the dd read? @mkimuram @bertinatto

[2021-05-10 22:13] Jiawei0227 commented on #101873
Or I am wondering can we just change the size to 4096. A read/write to the multiply of the sector size should be okay I guess?

[2021-05-10 22:36] eddiezane commented on #101779
/triage accepted

[2021-05-10 23:21] khenidak commented on #101681
@aojea ack - Scheduled to tackle 3rd week of May. Will definitely include that patch.

[2021-05-10 23:30] Jefftree commented on #101879
/triage accepted

[2021-05-10 23:39] #101779 closed

[2021-05-11 00:09] #101275 closed

[2021-05-11 00:50] xing-yang commented on #101878
/triage accepted

[2021-05-11 01:06] xing-yang commented on #101878
/assign

[2021-05-11 01:51] #101458 closed

[2021-05-11 01:57] TinyWhite1997 opened #101887 "Load balancing does not work correctly when scale pod"
#### What happened:
When I performed a stress test on nginx, the nginx deployment scaled, but the newly created nginx pod did not have any load. If I stop the stress test for two minutes, all pods will start working normally. As shown in the picture below:
![image](https://user-images.githubusercontent.com/49556810/117745037-4d530380-b23c-11eb-8a59-8aa17e50411c.png)

#### What you expected to happ

[2021-05-11 02:12] TinyWhite1997 commented on #101887
/sig network
/sig autoscaling

[2021-05-11 02:44] Estherbdf commented on #78308
The fix [#78261](https://github.com/kubernetes/kubernetes/pull/78261) seemed only modify the process of getImageUser(), but the critical problem may be when the uid and username in imageStatus that get by getImageUser() is not set, getImageUser() will return default user as root , this may bring some security concern!

[2021-05-11 03:42] joshi95 commented on #58692
Hi ! I want to pick this up. Can suppress the warning which is very concussing for the users.

[2021-05-11 04:05] fenngwd commented on #101679
@freehan @hwdef could you help to triage this issue? Since #101690 still have label `do-not-merge/needs-sig`

[2021-05-11 04:11] joshi95 opened #101891 "Suppressing the warning "tar: removing leading '/' from member names" with cp command."
#### This is with reference to the issue #58692. Whenever a user tries to use the cp command supplying a forward / after the pod a warning message comes which makes user think that the command had some issue, but it runs successfully which is confusing .

#### What you expected to happen:

It should have run silently without the message.

#### How to reproduce it (as minimally and precisely as pos

[2021-05-11 04:13] joshi95 commented on #101891
I can pick this up. If it is approved.

[2021-05-11 06:13] pacoxu opened #101894 "[Flaky Test] [sig-instrumentation] MetricsGrabber should grab all metrics from a Scheduler"
### Failure cluster [94211b5f97dae0d51701](https://go.k8s.io/triage#94211b5f97dae0d51701)
![image](https://user-images.githubusercontent.com/2010320/117766965-ed238800-b262-11eb-92e6-48ac98874f9c.png)

##### Error text:
[code]
#### Recent failures:
[2021/5/11 上午6:59:59 ci-kubernetes-e2e-gci-gce-network-proxy-grpc](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-networ

[2021-05-11 06:14] pacoxu commented on #101894
The flake happened in #95366 before.

[2021-05-11 06:50] Jiawei0227 commented on #101873
I am not sure when you mention the "option is not available" you mean for busybox or debian. I think for this specific test we are using Debian image which has this option.

Yes, this is what we use in the test and we found the test fail because in our case `blockdev --getss <dev>` shows 4096 instead of 512

[2021-05-11 06:53] saschagrunert commented on #101656
Got it, the not reaching `containerLogMaxSize` is causing the non-rotation of the logs.

Yes, if the pod is gone then it's logs will be removed, too.

Do you still see anything misbehavioral?

[2021-05-11 07:35] pacoxu commented on #101008
#101011 \ #101037 \ #99391 is merged. Most KEP links are fixed. You may scan it again.
#99391 fixed most of them.

[2021-05-11 07:58] nomis-rzp opened #101899 "k8s 1.18 - metadata.managedFields.operation: Invalid value: "": must be `Apply` or `Update`"
**What happened:**

Im using EKS 1.18 and we are trying to empty the manageFields using a mutating webhook. But im getting the below error while trying to empty it when applying a sample deployment

======
metadata.managedFields.operation: Invalid value: "": must be `Apply` or `Update`
======

It's a simple python script which tries to do this

json_patch = jsonpatch.JsonPatch([{"op": "replace", "

[2021-05-11 09:30] ialidzhikov commented on #88613
/remove-lifecycle stale

[2021-05-11 09:31] ialidzhikov commented on #88613
/cc @pacoxu @wzshiming

[2021-05-11 10:07] oldthreefeng opened #101901 "FlexVolume: driver call failed: executable: /usr/libexec/kubernetes/kubelet-plugins/volume/exec/nodeagent~uds/uds"
#### What happened:

kubeadm install 1.21.0 get unexpect error.

#### What you expected to happen:

perform well.

#### How to reproduce it (as minimally and precisely as possible):

kubeadm init --config=/root/kubeadm-config.yaml --upload-certs -v 0

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): 1.21.0
- Cloud provider or hardware configurat

[2021-05-11 10:07] sanwishe opened #101902 "Container startTime reported by kubelet's /stats/summay is actually container createTime"
#### What happened:
When docker container restarted, the container's startTime is different from its createTime:

[code]

but the container's startTime reported by kubelet's /stats/summary is always containers createTime.

[code]

#### What you expected to happen:

StartTime of container should not be its createTime, expected Stat.StartedAt

#### How to reproduce it (as minimally and precisely as

[2021-05-11 10:08] yckaolalala commented on #101656
No

@saschagrunert  thanks for responding

[2021-05-11 10:15] aojea commented on #100220
seems we are back to a normal rate
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=HostPort%20validates%20that%20there%20is%20no%20conflict%20between%20pods&xjob=kops%7Cnetwork-proxy

still need to check https://github.com/kubernetes/kubernetes/issues/100220#issuecomment-799502847 , because that will be more complicated to fix ...

[2021-05-11 10:25] aojea commented on #100133
/close
last failure was on Mar19
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness&width=5&include-filter-by-regex=ExternalName

[2021-05-11 10:28] aojea commented on #93740
this is much better now, only one failures in the last 10 days
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&include-filter-by-regex=should%20conform%20to%20Ingress%20spec&width=5

[2021-05-11 10:56] saschagrunert commented on #101656
/close

Thank you for the report @yckaolalala! :pray:

[2021-05-11 11:07] Rajalakshmi-Girish commented on #100127
@caesarxuchao Did you intend to assign @sttts? But the issue seems to have not assigned anyone.
Can someone please look into it.

[2021-05-11 11:18] tosi3k opened #101904 "[Flaky test] [sig-network] LoadBalancers should be able to change the type and ports of a TCP service [Slow]"
#### Which jobs are flaking:
gce-master-scale-correctness

#### Which test(s) are flaking:
[sig-network] LoadBalancers should be able to change the type and ports of a TCP service [Slow]

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

#### Reason for failure:
Relevant test case is not reported in Prow and is missing in Testgrid:
![image](http

[2021-05-11 11:45] oldthreefeng commented on #101901
not kubernetes issue. calico issue.

[2021-05-11 13:24] mkorbi opened #101906 "[Flaking Test] [sig-node] ConfigMap should be consumable via the environment"
#### Which jobs are flaking:
[gce-windows-2004-master](https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2004-master)

#### Which test(s) are flaking:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2004/1391881191962972160

#### Testgrid link:

- [[sig-node] ConfigMap should be consumable via the environment [NodeConformance] [Conformance]](https

[2021-05-11 14:23] ravisantoshgudimetla opened #101907 "Services should be able to create a functioning NodePort service for Windows failing"
#### Which jobs are flaking:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master
#### Which test(s) are flaking:
[sig-windows] Services should be able to create a functioning NodePort service for Windows
#### Testgrid link:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master
#### Reason for failure:
  `s: "command terminated with exit code 7"

[2021-05-11 14:23] ravisantoshgudimetla commented on #101907
/sig windows

[2021-05-11 14:33] ravisantoshgudimetla opened #101908 "Projected downwardAPI should provide container's memory request fails in Windows"
#### Which jobs are flaking:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-1.21
#### Which test(s) are flaking:
 Projected downwardAPI should provide container's memory reques
#### Testgrid link:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-1.21
#### Reason for failure:
`Reason:StartError,Message:failed to create containerd task: failed to mou

[2021-05-11 14:35] ravisantoshgudimetla commented on #95226
another failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019/1392067672711106560

[2021-05-11 14:38] ravisantoshgudimetla commented on #98499
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019/1391704790509031424

[code]

[2021-05-11 14:49] dylex opened #101910 "kube-proxy iptables asymmetric routing on bare metal multi interface"
#### What happened:

From non-controller nodes, calls from calico to kubernetes API randomly fail with: `dial tcp 10.96.0.1:443: i/o timeout`. Can be reproduced from host with `curl -k https://10.96.0.1/` times out sometimes.

It looks like these requests are being generated with a source IP of the external interface (80.80.80.X), and then DNAT'd to the internal IP of the control node (10.10.10.X)

[2021-05-11 15:06] ravisantoshgudimetla commented on #80114
StatefulSet Basic StatefulSet functionality [StatefulSetBasic] should perform rolling updates and roll backs of template

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019/1391342147105460224

[2021-05-11 15:26] pohly opened #101911 "NodeUnstageVolume not called because unmounter fails when vol_data.json is deleted"
#### What happened:

The upcoming csi-driver-host-path release v1.7.0 will have a check in DeleteVolume that returns an error when the volume is still attached, staged, or published (https://github.com/kubernetes-csi/csi-driver-host-path/pull/260).

Some of the jobs in the csi-driver-host-path repo with Kubernetes 1.21.0 are failing because NodeUnstageVolume is not called, causing DeleteVolume to

[2021-05-11 16:07] ravisantoshgudimetla commented on #95226
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019-1-21/1391831866138431488

[2021-05-11 16:10] ravisantoshgudimetla opened #101912 "Probing container should *not* be restarted with a tcp:8080"
#### Which jobs are flaking:
https://testgrid.k8s.io/sig-windows-signal#gce-windows-2019-1.21
#### Which test(s) are flaking:
Probing container should *not* be restarted with a tcp:8080
#### Testgrid link:
https://testgrid.k8s.io/sig-windows-signal#gce-windows-2019-1.21
#### Reason for failure:
   ```Warning  FailedMount  18m                     kubelet            MountVolume.SetUp failed for volu

[2021-05-11 16:14] apelisse commented on #25238
@mynampatinaveen Can you give exact steps to reproduce? I'm not sure I fully understand the scenario you're describing.

[2021-05-11 16:31] Israphel commented on #25238
If initially you had replicas: 3, and some days after you create an HPA that has, let's say, min: 3 and max: 9, the following can happen:

If you deploy while your service is at 6 replicas, it will be forced to go down to 3.
If you remove the replicas line, it will be forced to go down to 1.

I tried both.

[2021-05-11 16:40] jsafrane commented on #101873
+1 for using 4096 bytes. Or even more, 1MiB? Kernel/dd is smart and it will handle sequence of `read()` well.

[2021-05-11 16:44] chrishenzie commented on #96241
/remove-lifecycle stale

[2021-05-11 16:50] msau42 opened #101913 "Re-enable csi hostpath tests in kind job"
#### What happened:
CSI hostpath tests were disabled due to #101275, suspicion is that updating the hostpath sidecars may have increased flakiness of the job.

#### What you expected to happen:
To add the tests back, we need to do further investigation to see if the updates are causing issues. Some current suspicions:
- We added health monitor sidecars, however the version of the hostpath driver d

[2021-05-11 16:51] msau42 commented on #101275
Opened https://github.com/kubernetes/kubernetes/issues/101913

[2021-05-11 17:10] msau42 commented on #98492
Wrong issue is referenced? This issue is not related to csi windows feature right?

[2021-05-11 17:13] jingxu97 commented on #98492
oh, I messed up the copy/paste. Updated.

[2021-05-11 17:28] msau42 commented on #101913
It might not be the only reason, but I think it's worth knocking down every issue we find one by one to help us triage further.

[2021-05-11 17:51] chema-cabana commented on #4247
I also had the same problem and I solved it with that command. You're my FUCKING BOSS. Thank you so much

[2021-05-11 18:25] MartinKanters commented on #101137
Thanks @sftim , I've created [a PR](https://github.com/kubernetes/kubernetes/pull/101916).

[2021-05-11 18:35] karuppiah7890 commented on #101902
Just asking. Is anyone working on a PR for this?

[2021-05-11 18:45] mkimuram commented on #101873
I think that it's OK to just use large block size if there's no issue by doing so.

However, I've made a PoC implementation of auto detect logic of sector size [here](https://github.com/mkimuram/kubernetes/commit/d08902b0877f48cee6fb8a4c0f7b7c3b53bb3218) to compare alternative ideas. One issue is that current debian-iptables image that is used for this test doesn't contain blockdev command. In the

[2021-05-11 19:19] pohly commented on #101913
Testing in https://github.com/kubernetes-csi/csi-driver-host-path/pull/289 also shows a higher rate of test flakes on Kubernetes 1.21 than on 1.20. The driver deployment is exactly the same for both. What is different are the Kubernetes version and the test suite (the job always uses the test suite that matches the Kubernetes version).

There are 7 additional tests that run in 1.21 (120 instead of

[2021-05-11 19:29] BenTheElder commented on #101821
There's no guarantee that all files are built with a single method. Sometimes an invocation will build both (images currently always used dockerized binaries, so builds with image can have both).

The script should not be relying on adding this to PATH or whatever, we have kube::until::find-binary and other ways to avoid depending on fixed paths.

[2021-05-11 19:46] justaugustus commented on #100914
/help
/area release-eng
/priority critical-urgent
cc: @kubernetes/release-engineering

[2021-05-11 19:51] liggitt commented on #100914
I don't think a single image can 1) run as non root, 2) allow binding to 443, 3) not require CAP_NET_BIND_SERVICE

[2021-05-11 19:53] liggitt commented on #100914
Running as non-root was added in 1.21 to begin to reduce API server permissions

I'm not sure how to simultaneously satisfy people running the image on port 443 and people dropping all capabilities

[2021-05-11 20:01] bobbypage commented on #101902
See https://github.com/kubernetes/kubernetes/issues/98494 which is related.

[2021-05-11 20:01] dashpole commented on #101902
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/stats/helper.go#L145 is probably a better code link

[2021-05-11 20:04] dashpole commented on #101902
I may be misremembering, but I think the StartTime is the start time of cumulative metrics associated with the container, not the start time of the container itself.

[2021-05-11 20:08] pdbogen commented on #95159
I'm not sure whether I can:

/reopen
/remove-lifecycle rotten

But I'd also quite enjoy this feature, for a very similar reason to @adammw.

[2021-05-11 20:20] caesarxuchao commented on #101855
/cc @jpbetz can you check if `apply` can help in this case? Thanks.
/triage accepted

[2021-05-11 20:21] caesarxuchao commented on #101841
@bhcleek are you going to send a PR for this? The issue description looks reasonable.

/triage accepted

[2021-05-11 20:22] caesarxuchao commented on #101749
/remove-sig api-machinery

[2021-05-11 20:23] caesarxuchao commented on #101564
/triage accepted

[2021-05-11 20:45] zorro786 commented on #101877
@ahg-g It is native scheduler without any mods. I think you have wrong commit for release 1.20.

https://github.com/kubernetes/kubernetes/blob/v1.20.2/pkg/scheduler/scheduler.go#L586
Commit ID for 1.20.2 tag: https://github.com/kubernetes/kubernetes/commit/faecb196815e248d3ecfb03c680a4507229c2a56

What I am using:
[code]

Yes it is for the same pod, `uid` is being used as key in cache.
I have seve

[2021-05-11 20:50] bobbypage commented on #101902
There was some recent work done in cAdvisor to rework the start time (https://github.com/google/cadvisor/pull/2800), however I'm not 100% if it address the issue her.

[2021-05-11 20:58] dylex commented on #101910
It turns out that even when everything is working correctly, these requests have asymmetric routing:
[code]
The only reason they don't work sometimes is because the ARPs for this don't work:
[code]
I could make sure all nodes keep their arp tables populated by pinging each other, but this doesn't seem like a great solution. Ideally masq or something could avoid the asymmetric routing altogether.

[2021-05-11 21:05] apelisse commented on #25238
OK yes, that makes sense. We won't be fixing that behavior specifically, especially for `kubectl apply` "client-side". The server-side apply version should fix it though.

[2021-05-11 21:20] gireeshkumarkg opened #101922 "Uneven pod distribution in multiple pod topology spread"
#### Background:

We define  multiple Pod Topology Spread Constraints on our Deployment (labeled app: httpbin-pod-spread-poc), as follows:

[code]

The deployment is defined with 7 replicas & I have 6 nodes in existing cluster which is distributed  across 3 AZs

[code]

#### What happened:

I expected all the pods scheduled across the zone and nodes . But it is failing to schedule the final pod.

[2021-05-11 21:21] ehashman commented on #90973
@jconway hi! Removing the stale tag here is preventing this issue from being closed but isn't getting anyone's attention to look at your proposal. You will need to discuss at a SIG Node meeting and/or submit a PR to create an enhancements proposal.

Note that enhancements freeze is this Thursday, May 13, so it is unlikely this will make it into the 1.22 release.

[2021-05-11 21:53] swetharepakula commented on #93740
The timeout is set in a helper method: https://github.com/kubernetes/kubernetes/blob/5edccec32bb0b3bb2a02a30063a2b2684c5bf8f6/test/e2e/framework/ingress/ingress_utils.go#L780-L784 and uses: https://github.com/kubernetes/kubernetes/blob/268b51d023cfd75704e911be9caa7653bf1b7e20/test/e2e/framework/service/const.go#L59

Are we okay changing it for all the tests that use that, or do we only want to tar

[2021-05-11 22:00] bronger commented on #24725
The “new pods are created on failure” would indeed solve some of the mentioned issues. However, I am not so sure about the “restartPolicy: Never”, which is the actual topic of this issue. It would simply stop K8s from doing anything further, and a human or external tool would have to intervene. I know that people in this issue have seldomly suggested “restartPolicy: Never” in an isolated manner, s

[2021-05-11 22:04] jsturtevant commented on #101907
run that failed: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1391546999131607040

[2021-05-11 22:12] swetharepakula commented on #93932
I will take another look. I am going to close out #99222, based on the feedback documented on that PR. Events doesn't seem to be the right approach to guarantee correctness.

[2021-05-11 22:12] aojea commented on #101070
related https://github.com/kubernetes/enhancements/pull/2622

[2021-05-11 22:46] mkimuram commented on #101873
@jsafrane

I found that `JessieDnsutils` image contains both `dd` command and `blockdev` command and can be used for this test. I think that this additional detection logic is simple enough, so I made a PR above. Could you review it?

[2021-05-11 23:01] #98492 closed

[2021-05-11 23:21] tallclair commented on #101324
It would add significant complications. That aside, I think it would probably be preferable, but it doesn't seem worth the complexity.

[2021-05-11 23:22] tallclair commented on #99425
It might be worth exploring, but I suspect this would need to be handled by the CRI, and I'm not sure it's worth the complexity. If we can achieve it in a runtime-agnostic way from the Kubelet directly then it might be worth it.

[2021-05-11 23:23] zorro786 commented on #101877
No

[2021-05-11 23:51] ehashman opened #101927 "[Failing test] k8s.io/legacy-cloud-providers/vsphere TestSecretUpdated"
### Failure cluster [c4ff1249cabb513f1405](https://go.k8s.io/triage#c4ff1249cabb513f1405)

##### Error text:
[code]
#### Recent failures:
[5/11/2021, 9:25:38 AM ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1392153616399208448)
[5/11/2021, 3:25:18 AM ci-kubernetes-generate-make-test-count10](https://prow.k8s.i

[2021-05-12 01:52] sanwishe commented on #101902
@serathius @dashpole  After container restarted, the startTime of container is not change, but the cumulative metric decreased.

![image](https://user-images.githubusercontent.com/16444758/117906359-58269a80-b307-11eb-804c-0595463d514f.png)

[2021-05-12 01:56] heyste opened #101930 "Replace current 'GracePeriodSeconds' setting in conformance tests"
Based on the feedback during a conformance meeting (https://www.youtube.com/watch?v=ryZ8sOmtaQM&t=790s)
and this [PR](https://github.com/kubernetes/kubernetes/pull/101261#discussion_r618511080) from @smarterclayton `GracePeriodSeconds: 0` shouldn't be used in conformance tests.

The following 3 conformance tests use `GracePeriodSeconds: 0`

- [sig-apps] Deployment "should run the lifecycle of a De

[2021-05-12 02:08] pacoxu commented on #101927
/assign @mengjiao-liu
There seems to be a data-race here.
[code]

[2021-05-12 02:09] pacoxu commented on #101922
/sig scheduling

[2021-05-12 02:21] Huang-Wei commented on #101877
Did you force deleting scheduled Pods or unscheduled Pods? do they have the same Pod names as the new deploy ones?

[2021-05-12 02:39] PicoCreator opened #101933 "Ability to declare pods to be "recreated" on "failure" (instead of restarts)"
The following is to track the issue raised originally in : https://github.com/kubernetes/kubernetes/issues/24725
That is specific to only the desired behaviour of "If Pod-XYZABC exits for any reason, do not restart it, provide me a new one" pattern.

#### What would you like to be added:

It has been suggested to either
- Implement a "restartPolicy: Recreate" or "restartPolicy: Never" (though this

[2021-05-12 02:39] PicoCreator commented on #24725
Hmm i think there is confusion, cause i think some users interpration of "restartPolicy: Never" + gurantee X replica, would mean that new pods would be created to meet the replica requirement.

But no worries, less concerned about the actual language of the fearture, and more concerned of it being supported (like restartPolicy: Recreate???), etc.

Created as a seperate issue: https://github.com/ku

[2021-05-12 02:51] drpmma commented on #54579
Is there any update? same issue here.

[2021-05-12 03:19] zorro786 commented on #101877
Both scheduled and unscheduled; about 90% of them scheduled; they all belong to deployments. Names are deterministic but different pod ids would be assigned to them by K8s so highly improbable to have same names for several pods I saw errors with in logs (400+).

[2021-05-12 03:55] mauriciopoppe commented on #101913
I run the suite a few times before #100637 with a160d1d and I see lots of flakes!

[code]

[code]

[code]

[2021-05-12 05:19] jeremywadsack commented on #63214
Just had a convo with someone today about spinning up a container for shell
access is a common pattern.

/remove-lifecycle stale

On Tue, May 11, 2021 at 9:24 PM fejta-bot ***@***.***> wrote:

--
Jeremy Wadsack

[2021-05-12 05:29] Huang-Wei commented on #101922
From the error msg:

[code]

It seems you have 16 available nodes (instead of 6), and 10 of them are tainted as system nodes. In that case, this 10 system nodes are also counted when calculating the pods distribution - documented [here](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#known-limitations).

If you want to exclude the 10 system nodes entirely, you c

[2021-05-12 05:52] fzyzcjy commented on #43867
Months and years have passed... Is there any updates?

[2021-05-12 06:06] houjun41544 commented on #100140
Has anyone else encountered the same problem? The scheduler binding pod receives “etcdserver: request timed out” (as follows), but the binding is actually successful and pod is running.
`
E0306 15:19:51.677589       1 framework.go:747] plugin "DefaultBinder" failed to bind pod "admin/op-asm-operator-75d9577679-vl9qm": Operation cannot be fulfilled on pods/binding "op-asm-operator-75d9577679-vl9qm"

[2021-05-12 06:15] qeternity commented on #101056
@rdxmb are you say that upgrading containerd from 1.3.x to 1.4.x resolves this?

[2021-05-12 06:16] yangjunmyfm192085 commented on #101902
when use container startTime from Summary API as container's start time, we restart container, mertrics-server may  reports negative CPU usage.
![image](https://user-images.githubusercontent.com/69306452/117926796-e7de4000-b32b-11eb-8666-aad8173eb4cc.png)

[2021-05-12 06:17] pohly commented on #101913
So it's not the sidecar update that caused these flakes.

You are running against an old Kubernetes (1.18.17), so it's not a recent regression either.

Can you rule out that driver pods get evicted during a test run (https://github.com/kubernetes-csi/csi-driver-host-path/issues/47)?

[2021-05-12 06:36] TinyWhite1997 commented on #101887
/sig cloud-provider

[2021-05-12 06:37] kyrieSun-wow commented on #101607
Hi guys,
So will kube-proxy clear the conntrack for the pod which is already removed from the corresponding service now ?

I have met the same issue when I using k8s v1.18.10, the STCP connection stay still when the corresponding pod is already removed,and all packets coming from client are forwarded to the pod that has been removed.

[2021-05-12 06:51] aojea commented on #101607
for UDP and SCTP it does cleanup of the entries, this is about TCP

[2021-05-12 06:59] kyrieSun-wow commented on #101607
It's a good new! And from which version of k8s that the entries will be cleanup for SCTP?

[2021-05-12 07:09] uablrek commented on #101910
Metallb does not affect this, but HA control might. Or more specifically, for this to happen the kube-api address must be routed. For HA that would be to the address of a HA-proxy.

So I think this must be corrected by routing setup, which is not done by K8s.

Masquerade is for SNAT, not DNAT. The DNAT rule is correct. Masquerading (= SNAT to the address of the outgoing inteface) is done by anothe

[2021-05-12 07:17] aojea commented on #101607
1.19 https://github.com/kubernetes/kubernetes/pull/74073/commits/aa8521df666c0cc8f65da7150a1961cf3277fc44

[2021-05-12 07:21] kyrieSun-wow commented on #101607
Thank you so much!

[2021-05-12 08:02] rdxmb commented on #101056
@qeternity I am not sure. The problem is that this is one of my production cluster and I cannot try to reproduce/verify this at any time.

That's why I ask for steps to debug, so I can do that in a goal-oriented way instead of just trying different things ...

[2021-05-12 08:05] pohly commented on #101911
I have bumped up kubelet verbosity in https://github.com/kubernetes-csi/csi-driver-host-path/pull/289. Future log artifacts will have -v4 for most files and -v5 for "*csi*".

[2021-05-12 08:41] pohly commented on #101911
PVC deletion also timed out on Kubernetes 1.19: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/289/pull-kubernetes-csi-csi-driver-host-path-1-19-test-on-kubernetes-1-19/1392389060256862208

I do see `E0512 08:13:14.882414       1 controller.go:1482] delete "pvc-24fd3690-796a-450f-ab05-86cfa25c9ce4": volume deletion failed: rpc error: code = Internal

[2021-05-12 08:41] pohly commented on #101911
/cc @msau42 @jsafrane

This isn't a recent regression, it also occurred on 1.19.

[2021-05-12 08:46] silentred commented on #67455
This code works well.
[code]

Then `kubectl describe node/your-node-name `, you will see Capacity resource localpv.hello.com=1024k

Removing resource is also simple
[code]

[2021-05-12 09:16] TCeason opened #101942 "API server validation error message misses ^ and $ in regexp format (which is not accurate)"
#### What happened:

[code]

#### What you expected to happen:
The regex is not right.

[2021-05-12 09:38] simon28li opened #101944 "Failed to execute the test case"
#### What happened:
Failed to execute the test case Times connection 127.0.0.1virtual 2379. I am not familiar with k8s. From this log, I cannot judge whether the test is successful or not.
[code]
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
sed -i "s/--timeout=120/--timeout=300/" $GOPATH/src/k8s.io/kubernetes/hack/make-rules/test.sh
make tes

[2021-05-12 09:50] simon28li commented on #101944
/sig Testing

[2021-05-12 09:54] cynepco3hahue commented on #100838
/priority important-longterm
/triage accepted

[2021-05-12 09:55] cynepco3hahue commented on #99919
I can not see the issue happens under the 1.21, I will re-open the issue if will encounter it again.

[2021-05-12 10:06] cynepco3hahue opened #101945 "Move pod resources API related tests from the memory manager to pod resource test suite"
First, memory-related pod resource tests were introduced under the memory manager test suite to avoid over-complication of the pod resource test suite, because pod resource tests do not have a clear separation between setup, test, and teardown phases and
adding some new tests that will configure hugepages, create VMs with relevant memory and hugepages resources will rise the cyclomatic complexity

[2021-05-12 10:06] cynepco3hahue commented on #101945
/sig node

[2021-05-12 10:06] cynepco3hahue commented on #101945
/kind cleanup
/remove-kind feature

[2021-05-12 10:16] fromanirh commented on #101945
/cc

[2021-05-12 10:17] fromanirh commented on #101945
/priority backlog

[2021-05-12 10:17] fromanirh commented on #101945
/triage accepted

[2021-05-12 10:19] pohly commented on #101911
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/289/pull-kubernetes-csi-csi-driver-host-path-1-19-test-on-kubernetes-1-19/1392389060256862208/artifacts/cluster-logs/non-alpha/csi-prow-worker2/kubelet.log is very confusing. It looks like NodePublishVolume is called twice for the same pod:
[code]

That second call is right before the "file not found

[2021-05-12 10:23] yashwanthkalva commented on #101784
Hi Team,

Any update or inputs ?

From,
Yashwanth

[2021-05-12 10:55] vagdevik commented on #52636
In my case, I wanted to see the description of my pods.

When I used `kubectl describe postgres-deployment-866647ff76-72kwf`, the error said **error: the server doesn't have a resource type "postgres-deployment-866647ff76-72kwf".**

I corrected it by adding pod, before the pod name, as follows:

`kubectl describe pod postgres-deployment-866647ff76-72kwf`

[2021-05-12 11:02] fasaxc commented on #93925
First round of scale testing at 100 nodes on Kubernetes **v1.20** (not v1.21, yet).

* The rig as a whole became somewhat overloaded; not sure if this is due to Calico or Kubernetes issue at this stage.
* Kubelets started to go NotReady with PLEG errors.
* Listing pods, I see some pods stuck in Terminating state, 80m after they were deleted.
* Examining kubelet log, I see errors repeating like thi

[2021-05-12 11:25] bart0sh commented on #99919
@cynepco3hahue I can still see it in the recent logs. Here is an example from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-hugepages/1391989909719355392/build-log.txt:
[code]

[2021-05-12 11:33] pohly commented on #101911
The other confusing part is that according to corresponding driver log, the volume is not published: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/289/pull-kubernetes-csi-csi-driver-host-path-1-19-test-on-kubernetes-1-19/1392389060256862208/artifacts/default/csi-hostpathplugin-0/hostpath.log

[code]

Note the two `NodeUnpublishVolume` calls at t

[2021-05-12 11:53] cynepco3hahue commented on #99919
@bart0sh Feel free to re-open it. I just checked that the hugepages job is much more stable than it was under 1.20.

[2021-05-12 12:05] #83265 closed

[2021-05-12 12:06] bart0sh commented on #99919
@cynepco3hahue I can't reopen it it seems. Can you?

[2021-05-12 12:30] liggitt opened #101949 ""should receive events on concurrent watches in same order" conformance test is unreliable"
#### What happened:

By inspection, the "should receive events on concurrent watches in same order" conformance test does two things that are not stable:
* Starts watches from resourceVersion=0
* Relies on watch connections without handling timeouts/restarts

This test can fail on clusters that have configmaps autocreated in namespaces already because ordering of watch events for resourceVersion=0

[2021-05-12 12:30] liggitt commented on #101949
@kubernetes/cncf-conformance-wg

[2021-05-12 12:32] damemi commented on #99919
/reopen

[2021-05-12 12:37] fasaxc commented on #93925
Example pod that seems to be stuck:
[code]

[2021-05-12 13:11] deads2k opened #101951 "reset deleted_kinds strictRemovedHandlingInAlpha to false after beta"
once the we hit a beta release, we can reset the default value for strict handling to false to prep for 1.23.

/assign @deads2k
/kind bug
/priority important-soon
/milestone v1.22
@kubernetes/sig-api-machinery-bugs

[2021-05-12 13:11] deads2k commented on #101951
/triage accepted

[2021-05-12 13:47] dashpole commented on #101902
Agree this sounds like a bug then, and I agree we should switch to start time.

[2021-05-12 14:00] andyzhangx commented on #99342
the containerd issue has been fixed by https://acs-mirror.azureedge.net/containerd/windows/v0.0.41/binaries/containerd-v0.0.41-windows-amd64.tar.gz

[2021-05-12 14:13] serathius commented on #101902
@yangjunmyfm192085 For Metrics Server I noticed there are more problem related to using cumulative metric that we still need to debug. I think we should keep to examples based on Summary api responses (like @sanwishe).

[2021-05-12 14:20] yangjunmyfm192085 commented on #101902
sure, I agree.

[2021-05-12 14:52] neolit123 commented on #101942
`-` cannot be at the end.

/sig api-machinery

[2021-05-12 14:52] neolit123 commented on #101942
/remove-kind bug
/kind support

[2021-05-12 14:54] #101873 closed

[2021-05-12 14:58] TCeason commented on #101942
Yes. But I mean `[a-z0-9]([-a-z0-9]*[a-z0-9])?` this is err. It should be `^[a-z0-9]([-a-z0-9]*[a-z0-9])?$`.

And the modify already in pr  https://github.com/kubernetes/kubernetes/pull/101941

[2021-05-12 15:19] gireeshkumarkg commented on #101922
Thanks Huang-Wei . Thats resolved it.

[2021-05-12 15:19] #101922 closed

[2021-05-12 15:26] michaelgugino commented on #101933
This seems like it would be most appropriately targeted at the replicaset (or other owning controller) layer rather than the pod layer.  I could see restart=Never on the pod, and a 'replace stopped/failed' option on the replicaset.

This doesn't really alleviate the 'pod dies and restarts endlessly' problem in many cases, it will just change the symptoms.

For the mean time, this seems like it cou

[2021-05-12 15:28] thockin commented on #95948
Ping to Jay...

On Wed, May 12, 2021 at 6:30 AM fejta-bot ***@***.***> wrote:

[2021-05-12 16:14] paullaffitte commented on #75448
What if I create a pod using a pvc provisioned by a CSI plugin and then delete the related storage class? I tried it and it prevent the pod to be deleted, even if I recreate the storage class afterwards, and it seems that no error is yield. So the cluster admin cannot even know why it isn't working. IMHO this is a serious issue that should be handled, a finaliser seems to be a good option.

[2021-05-12 16:15] paullaffitte commented on #75448
/reopen

[2021-05-12 16:19] fenngwd commented on #101716
@apelisse Do you have any idea to fix this issue?

[2021-05-12 16:49] dylex commented on #101910
Thanks, that's helpful.  In this case the only masq rule that seems to apply is:
[code]
That is, coming from the control node itself, which doesn't seem sufficient.

I think that's right, that it does only affect traffic from a host or hostNetwork pod, to a service backed by a hostNetwork pod on a different node, such as calico accessing the kubernetes svc.  However, it does happen even without HA

[2021-05-12 17:02] msau42 commented on #101913
Flakes have always existed, the claim we're trying to investigate is if things got more flaky after updating the sidecar. I'm not sure individually testing is going to help much here. And from the resource graphs that were collected, I don't see significant resource consumption increases.

I think at this point our best course of action would be to knock down the latest flakes one by one.

[2021-05-12 17:06] mauriciopoppe commented on #101913
Sounds good, I'll start with this one as it seems a common flake across all of the tests:

[code]

[2021-05-12 17:09] pohly commented on #101913
Agreed. https://github.com/kubernetes/kubernetes/issues/101911 would be a good start.

[2021-05-12 17:18] SergeyKanzhelev commented on #92674
/assign @Kappie37

(since you sent the PR)

[2021-05-12 17:25] Huang-Wei commented on #101776
This requirement makes sense to me. We have a couple of options supporting this:

- introduce a new API field (e.g., pod label selector) to extender
- flag the pods (e.g., set a particular annotation and possibly) so that scheduler won't call extenders upon them - this can be enabled by a feature gate

Feel free to raise a KEP discussing potential options.

[2021-05-12 17:43] msau42 commented on #101913
What do folks think about adding an optional kind CI job with the hostpath tests added back in? We can investigate the flakes there as they come up and make incremental improvements. When the flake rate of that job drops, then we can add the tests back to the blocking job. cc @BenTheElder

[2021-05-12 17:44] SergeyKanzhelev commented on #101829
Can you please expand on the use case - why all labels are needed

[2021-05-12 17:48] BenTheElder commented on #101913
The hostpath tests were never disabled in CI, unless you're referring to presubmit specifically? In which case +1
The periodic equivilants blocking the release are untouched.

[2021-05-12 18:06] msau42 commented on #101913
Oh, I was referring to https://k8s-testgrid.appspot.com/sig-release-master-blocking#kind-master-parallel specifically thanks! I think we can use this job as a starting point to triage flakes.

[2021-05-12 18:36] jayunit100 opened #101957 "unscheduled pods due to mismatched node field has no useful status"
#### What happened:

- labelling a pod, with a nonexistent node leads to it being pending forever
- this is ok but... we should  yield any status/events info  so we can know why its not scheduling

#### What you expected to happen:

I'd expect that `kubectl describe` would have explicit misscheduling information when the `node` field was missing.  I think the scheduler probably 'sees' this node, d

[2021-05-12 18:37] jayunit100 commented on #101957
/sig scheduling

[2021-05-12 18:53] Huang-Wei commented on #101957
Who sets the .spec.nodeName for the Pod? I suppose it's by a 3rd-party application? If so, it won't go through the regular scheduling process, and hence no events will be generated.

[2021-05-12 19:05] tgrushka commented on #81089
Well, one might want to have one's postgres user (for example) have access to an ssh key instead of root? Seems like a defaultOwner option or similar would do the trick! Have to do this workaround for now: https://stackoverflow.com/questions/49945437/changing-default-file-owner-and-group-owner-of-kubernetes-secrets-files-mounted

[2021-05-12 19:29] Nowaker commented on #82440
Not stale.

[2021-05-12 19:31] pohly commented on #101911
Here's a job with -v=5: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/289/pull-kubernetes-csi-csi-driver-host-path-1-21-on-kubernetes-1-21/1392389060202336256

[2021-05-12 19:57] SergeyKanzhelev commented on #81042
this is true for dockershim, but not other runtimes. The decision was not to fix it for dockershim as this is not a trivial effort and dockershim will be removed in 1.24 (it is already deprecated).

Please reopen if you have concerns or you see this behavior with other runtimes.

/close

[2021-05-12 19:58] #81042 closed

[2021-05-12 20:26] #96304 closed

[2021-05-12 20:38] mattcary commented on #97985
/lifecycle frozen

Targeting 1.22 now.

[2021-05-12 20:39] jayunit100 commented on #101957
oh, so , its automatically just 'set' ... ok...
hmm... whose job is it to report on the fact that this doesnt match a node.
this seems like someone (maybe once of the controller managers?) should
be posting this status somehow

[2021-05-12 20:42] logicalhan commented on #81863
/remove-lifecycle stale

[2021-05-12 21:10] JJonesAtAvaya commented on #91913
I just saw this error today - I don't think this is resolved

[2021-05-12 21:12] liggitt commented on #91913
the message was removed in https://github.com/kubernetes/kubernetes/pull/97857/files#diff-972a739069e813976134652b7a9159c3c106c5629ca91e6c583f11d1b3f0cffeL282 in 1.21

If you're still seeing the message, you may need to update `kubectl` or your `client-go` version (if using another application that is based on client-go)

[2021-05-12 21:25] Huang-Wei commented on #101957
Given that any component can set `.spec.nodeName`, IMO the one that sets it should be responsible for reporting this kind of mismatch status.

[2021-05-12 21:39] Craftoncu commented on #55713
Any fix yet? Annoying issue

[2021-05-12 22:05] lavalamp commented on #32220
/needs-triage

It's kind of embarrassing that this is still open.

[2021-05-12 22:08] lavalamp commented on #32220
(I think the fix may be to delete the mentioned function entirely-- why would we describe this situation as a timeout error?)

[2021-05-12 22:22] lboix commented on #60152
Exact same usecase here that @donalddewulf : Kubernetes cluster was created with kops a long time ago and public subnets used at the creation time have been changed for new ones over time.
We simply had to add this new tag on each of our current public subnets : `KubernetesCluster / our_cluster_name`

Then simply delete your _LoadBalancer_ **service** and recreate it : you should be fine 👍

Hope i

[2021-05-12 22:25] Novex commented on #82440
/remove-lifecycle stale

[2021-05-12 22:45] AtlanCI commented on #51135
Is this problem fixed now? I saw that it was repaired by the kernel team. But I didn't find the relevant information.

[2021-05-12 23:09] grosser commented on #95380
/lifecycle frozen

[2021-05-12 23:19] vteratipally commented on #73189
came across the same error with 1.5.0 containerd and docker version 20.3
`failed to create kubelet: get remote runtime typed version failed: rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService
`

[2021-05-13 00:09] ideceddy commented on #2289
The feature of defining a MAC Address at manifest apply time is something that I would definitely need to be able to use docker in our deployment. Currently, we have a server that is tied to the hostname and MAC address for licensing. Right now we create a docker image and use the --mac-address --hostname flags to get by. Being able to do this in a stateful set or deployment would be very useful f

[2021-05-13 00:26] #101949 closed

[2021-05-13 01:20] baxiaoshi commented on #101877
This problem is because the pod of the same uid is deleted?

[2021-05-13 03:06] njuptlzf commented on #98612
No one seems to be doing it anymore, I am willing to claim it and submit it in the next few days

/assign

[2021-05-13 03:44] mallman commented on #23130
Running into this issue. kubectl is using the loooooong deprecated `/etc/resolv.conf` on Mac instead of its supported api for name resolution.

Hmmm... I'm wondering... what's the motivation behind disabling cgo in the kubectl build? And why can't we just enable it for the macos build to dry all these tears?

[2021-05-13 04:03] farvour commented on #61486
This is still an issue. Also specifically, in my new use-case, it had nothing to do with the domain of the VPC DHCP Option set, it was simply due to the hostname of the system changing from the endpoint DNS of the original `.ec2.internal` launch.

Does Amazon provide some place to update their code for provisioning new EKS clusters? This is definitely an issue, IMO, that they should be addressing

[2021-05-13 06:04] mrpre opened #101963 "the node.status.allocatable about custom device resource is not changed"
#### What happened:
I develop a device-plugin to report my custom device info to kubernetes. It's all ok and the device info is shown in Node:
[code]
After I apply a pod with resource `test.com/mymem: "10"` the `Allocate` in device-plugin is called.  but the `allocatable` about `test.com/mymem` is not be reduced to "90".

#### What you expected to happen:
kubelet manage the custom device resource

[2021-05-13 06:14] mrpre commented on #101963
Well.. I find the requests and limits are set by `kubectl describe node` and the scheduler actually calculate the custom resource while scheduling. And the only question remain is  whether `node.status.allocatable` showed by `kubectl get node -o yaml` is correct.
[code]

[2021-05-13 06:58] ztgoto opened #101965 "controllerManager cluster-signing-duration configuration does not take effect"
#### What happened:
sudo kubeadm init --config=./config-init.yaml
[code]
The cluster-signing-duration is configured for 10 years

/var/lib/kubelet/config.yaml
[code]

But the actual situation certificate is only one year
[code]

#### What you expected to happen:
I hope the time configured by cluster-signing-duration will take effect

#### How to reproduce it (as minimally and precisely as possible