[2016-02-01 22:08] alex-mohr commented on #20445
@lavalamp Or maybe 429 Too Many Requests for /componentstatuses is a @kubernetes/goog-csi issue not control-plane?  Apologies if I got that wrong.

[2016-02-01 22:09] #10962 closed

[2016-02-01 22:12] thockin commented on #20078
Empty-save works on its own.  But once you trigger a validation error and
it re-opens, then empty-save does not work any more.

Example: edit a service, change the clusterIP field, save, observe it
reopens with an error, try to empty-save

[2016-02-01 22:14] ihmccreery commented on #18581
@lavalamp Ping; I want to get moving on this again as we're coming up against v1.2.  My proposal is:

Disable for clusters <=v1.1.

Disable for clusters <=v1.2.

Disable for clusters <=v1.2; another option would be to try to rewrite it in a way that would work against pre-v1.2 clusters, but that seems like a lot of work that's relatively low-priority.

Similarly, disable for clusters <=v1.1; anoth

[2016-02-01 22:15] thockin commented on #20367
I mean ./hack/dev-build-and-{push,up}.sh

I was trying to bring up an e2e cluster and my poor laptop was groaning
under the doubled workload.  I think our whole build is in need of a
reboot, and when we do, every build should be for one arch unless
explicitly requested otherwise.

On Sun, Jan 31, 2016 at 12:18 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-02-01 22:18] krousey commented on #20445
@alex-mohr Could you run the apiserver with `--max-requests-in-flight=0` flag (disabled the global rate limiting), and see if it still occurs? FWIW, the open source client automatically retires 429 statuses. Is it still failing after retries?

Rate limiting related:
https://github.com/kubernetes/kubernetes/blob/cd2e0c490e464f080ff76ae9be9145f3b9dc747c/cmd/kube-apiserver/app/options/options.go#L192

[2016-02-01 22:25] krousey commented on #18809
@jlowdermilk Thanks Jeff. Don't forget to post the GCS link as well as it lasts a lot longer than the Jenkins one, and is publicly visible.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3433/

[2016-02-01 22:27] therc commented on #19825
I can confirm this on AWS, with Kubelet built almost from HEAD. Two of us spent the past hour chasing error 137 left and right.

The problem is that even docker inspect on the node doesn't mention any OOM:
`    "State": {
        "Status": "exited",
        "Running": false,
        "Paused": false,
        "Restarting": false,
        "OOMKilled": false,
        "Dead": false,
        "Pid": 0,

[2016-02-01 22:28] therc commented on #19825
Maybe it's upstream: https://github.com/docker/docker/issues/18510

[2016-02-01 22:29] smarterclayton commented on #20443
Authz or authn?

[2016-02-01 22:33] ihmccreery commented on #19715
Closing in favor of #18581.

[2016-02-01 22:36] davidopp commented on #20445
cc/ @wojtek-t @gmarek

[2016-02-01 22:38] HaiyangDING commented on #20064
Refactoring the predicates is part of the work in #20204 , please leave your comments there if you have any suggestions. PS: refactoring the predicates is required to implement #12744.

[2016-02-01 22:48] awan1 commented on #16737
Tracked down the rolling update problem to the Pod failing to schedule (PodExceedsFreeCPU, as seen in `kubernetes get events`) and thus the rolling-update hangs and timeouts.

Probably a separate issue: if PodExceedsFreeCPU and if I have autoscaling enabled for this cluster with a CPU usage rule in effect, why doesn't the cluster increase the number of instances to handle this?

[2016-02-01 22:48] ihmccreery commented on #19730
Closing in favor of #18581.

[2016-02-01 22:48] #19730 closed

[2016-02-01 22:50] erictune commented on #12298
Proposed Design
=============
# Goals
Make it really hard to accidentally create a job which has an overlapping selector, while still making it possible to chose an arbitrary selector, and without adding complex constraint solving to the APIserver.

# Use Cases

1. user can leave all label and selector fields blank and system will fill in reasonable ones: non-overlappingness guaranteed.
2. user ca

[2016-02-01 22:50] ihmccreery commented on #18581
Slight ammendments:

This actually does work for v1.1; I guess #18507 was backward-compatible as long as the cluster had jobs.

Similar.

So, I'd say let's just disable these for v1.0, which didn't have jobs.  We could hack together some backward compatible tests, maybe, for some of them, but again it seems low priority.

However!  For a v1.1 cluster running v1.2 tests, we see:

**Kubectl client S

[2016-02-01 22:51] Random-Liu commented on #20379
@aanm Which version of k8s are you using?

[2016-02-01 22:54] ihmccreery commented on #18581
#19608 implements that proposal; @lavalamp do you want to push back?

[2016-02-01 22:55] ihmccreery commented on #19715
Oops, didn't mean to do that.

[2016-02-01 23:04] nikhiljindal commented on #20443
Authentication for sure.
I am not so sure about authorization.

[2016-02-01 23:09] smarterclayton commented on #20443
It's very unlikely we'll be able to provide auth as a cluster service
in a way that works for everyone.  Authz is very clear, authn is
harder.  We've been discussion this in other forums, @liggitt what's
the most recent doc / proposal that covers the "consensus opinion"?

[2016-02-01 23:09] Random-Liu commented on #20379
@aanm I discussed with @yujuhong and @caesarxuchao, I think the behavior more looks like that the pod is deleted with graceful period=30s at first and then deleleted again with graceful period =0s, but we are not quite sure. So could you please tell me:
* The k8s version you use
* The specific command you use, for example do you only call the `./cluster/kubectl.sh delete rc  my-nginx` once?

[2016-02-01 23:12] freehan commented on #20392
I can take this up if no one else is working on it.

[2016-02-01 23:13] yujuhong commented on #20379
Also, if the non-graceful deletion was initiated by kubelet, there should be a log message in kubelet from this line: `glog.V(3).Infof("Pod %q fully terminated and removed from etcd", format.Pod(pod))`

[2016-02-01 23:18] #18334 closed

[2016-02-01 23:19] bprashanth commented on #20392
@a-robinson any objections/plans?

[2016-02-01 23:19] lavalamp commented on #18581
No arguments.

[2016-02-01 23:20] freehan commented on #20394
I can take this up if no one is working on it.

[2016-02-01 23:21] zmerlynn commented on #19720
I'm confused. container-vm has never (yet) used the official `docker-engine` package. I'm happy if someone wants to work with me (internally) on getting it over to the package, but I actually don't have the time. The image builder currently just slaps binaries down into place.

[2016-02-01 23:21] aanm commented on #20379
@Random-Liu I'm using the commit 91f67372bfbde90308611fdaf6322222157d12df
Yes I only run `./cluster/kubectl.sh delete rc my-nginx` once.

[2016-02-01 23:22] dcbw commented on #20379
@Random-Liu in the latest logs though, all the grace periods are 30s?  I don't see anything with 0s...

[2016-02-01 23:33] zmerlynn commented on #19720
Ah, yeah, it looks like `rc2` is broken for `wheezy`. https://packages.debian.org/wheezy/libsystemd-journal0

[2016-02-01 23:43] dchen1107 commented on #19720
@zmerlynn It is broken for our recent ones:  1) Debian 3.16.7-ckt11-1+deb8u6~bpo70+1 (2015-11-11)
2) Debian 3.16.7-ckt20-1+deb8u4google (2016-01-26)

But works for the old container vm image: Debian 3.16.7-ckt11-1+deb8u5 (2015-10-09)

[2016-02-01 23:46] davidopp commented on #20362
Per our discussion at this morning's war room, we need a category of (very small number of) tests that are known flaky and are being worked on but can't be fixed right away. My suggestion is that we should leave them in the flaky suite and have bugs filed recording progress towards fixing them, or otherwise explaining why they are there.

@ihmccreery what do you think? I think you had a slightly d

[2016-02-01 23:47] a-robinson commented on #20392
You should double double check the relevant AWS/OpenStack Neutron APIs to make avoid ruling out compatibility in them, but going for it SGTM.

[2016-02-01 23:47] davidopp commented on #17829
@ihmccreery are you still planning to send  aPR to promote the DaemonRestart tests out of flaky? I think this is the right thing to do.

[2016-02-01 23:51] bprashanth commented on #20392
Agree with checking. but if this ends up being a sneaky features that is not x-plat, we can just prefix the annotation with ".gce" and have everyone else ignore it. @kubernetes/goog-cluster fyi

[2016-02-01 23:56] ihmccreery commented on #20362
+1 @davidopp, I think that's the same as what I proposed this morning.  I will send a PR updating the comment on the "NodeOutOfDisk" tests.

[2016-02-02 00:03] ihmccreery commented on #20363
I've sent out #20453 to resolve this, basically reserving the `[Flaky]` label to long-running flaky tests that we don't have a short-term solution for.  Happy to hear other ideas.

[2016-02-02 00:04] Random-Liu opened #20454 "Kubelet: Deprecate HostConfig at container start"
HostConfig at container start will be deprecated in docker 1.10 https://github.com/docker/docker/releases/tag/v1.10.0-rc2.

Hence HostConfig at container create is added long time ago. After some compatibility check to make sure HostConfig at container create is compatible with versions after 1.7, we could use HostConfig at container create instead of start.

For issue #19720

[2016-02-02 00:06] ihmccreery commented on #17829
Ack; sorry, I lost this in the muck.

[2016-02-02 00:18] #11617 closed

[2016-02-02 00:20] Random-Liu commented on #20379
@dcbw, By graceful period = 0s, I mean non-graceful deletion. For non-graceful deletion, the apiserver will `UPDATE` the deletion timestamp and immediately `REMOVE` the pod.

For the following log:
[code]
The first `UPDATE` comes from `DeletionTimestamp` update.
But when the pod worker is processing the update, another `UPDATE` and `REMOVE` come together, which mess up the logic of kubelet a bit.

[2016-02-02 00:20] zmerlynn commented on #19720
`container-vm-v20151215` (`Debian 3.16.7-ckt11-1+deb8u6~bpo70+1`) has a relatively straightforward changelog from a `bootstrap-vz` point of view, trying to see if the manifest got messed up somehow.

[2016-02-02 00:22] bgrant0607 commented on #19765
cc @ncdc

[2016-02-02 00:22] ihmccreery opened #20456 "Document how to set up a feature test suite in Jenkins"
Per https://github.com/kubernetes/kubernetes/pull/20354#discussion_r51474329

@spxtr mind taking this on?

[2016-02-02 00:24] #4526 closed

[2016-02-02 00:24] ihmccreery opened #20457 "Make a [Conformance] suite as part of CI"
Per https://github.com/kubernetes/kubernetes/pull/20354#discussion_r51472825.

In theory, this is covered already in CI, but it'd be nice to pull it out.  We _really_ shouldn't be breaking conformance tests.

[2016-02-02 00:25] zmerlynn commented on #19720
I repro'd on a pretty old CVM:
[code]
?

[2016-02-02 00:25] bgrant0607 commented on #19765
@pwais socat needs to be installed on the nodes:

https://github.com/kubernetes/kubernetes/blob/9fef5f2938bb9db0667de893a5733cb899afd8ed/pkg/kubelet/dockertools/manager.go#L1182

[2016-02-02 00:31] dchen1107 commented on #19720
@Random-Liu showed me that he has docker 1.10-rc2 works on  container vm image: Debian 3.16.7-ckt11-1+deb8u5 (2015-10-09) earlier

[2016-02-02 00:33] Random-Liu commented on #19720
@dchen1107 On that VM, I have docker 1.10-rc1 installed with `curl -fsSL https://test.docker.com/ | sh` before.
Then I run `curl -fsSL https://test.docker.com/ | sh` to upgrade it to 1.10-rc2 successfully.
I don't know whether this matters.

[2016-02-02 00:33] thockin commented on #20394
This is a good one, shouldn't take long

On Mon, Feb 1, 2016 at 3:20 PM, Minhan Xia <notifications@github.com> wrote:

[2016-02-02 00:36] dchen1107 commented on #19720
@Random-Liu Can we try to bring up a cluster with docker 1.10-rc1 first, then kube-push.sh to upgrade it to docker 1.10-rc2? Before you upgrade to rc2, can you run command:

# apt-cache depends docker-engine

then copy & paste the output?

[2016-02-02 00:37] thockin commented on #20393
Thanks!

On Sun, Jan 31, 2016 at 9:22 PM, Alex Robinson <notifications@github.com>
wrote:

[2016-02-02 00:37] spxtr commented on #20456
I can handle this, I suppose. It might also be useful to have a script that greps for `"\[Feature:.+\]"` in `.go` files and makes sure there's a corresponding job in `e2e.sh`. Not sure if it's worth the hassle, though.

[2016-02-02 00:39] thockin commented on #20396
This is actually something significant that community could tackle.  It doesn't require a ton of guidance but is significantly meaty.  One by one, move each test to a sub-pkg, find real "util" functions and move them to an "e2elib" package.  Good opportunity for someone to rack up LOC and commit points :)

[2016-02-02 00:39] Random-Liu commented on #19720
Another thing is that, the linux version of my test VM is:
[code]

[2016-02-02 00:43] ihmccreery commented on #19715
Okay, in the API logs I see:

[code]

But I'd expect that in the error that gets propagated back to the client, but instead I just get

[code]

@lavalamp this lack of error message propagation seems like a separate regression; filing an issue for you to triage.

[2016-02-02 00:44] ihmccreery opened #20459 "v1.2 clients can't propagate errors from v1.1 API servers"
Per https://github.com/kubernetes/kubernetes/issues/19715#issuecomment-178275745, it looks like a v1.1 cluster can't propagate certain error messages to a v1.2 client.

@kubernetes/goog-csi for triage.

[2016-02-02 00:44] zmerlynn commented on #19720
If you're testing on actual Jessie, I'd expect it to work. :)

[2016-02-02 00:45] ihmccreery commented on #20459
In the API server logs I see:

[code]

[2016-02-02 00:49] Random-Liu commented on #19720
Jessie works but wheezy not.

Logs on jessie:
[code]

Logs on wheezy:
[code]

[2016-02-02 00:52] zmerlynn commented on #19720
@Random-Liu: That replicates what I saw. I think when they introduced the `libsystemd-journal0` dep, they didn't mark the wheezy minimum version correctly. The wheezy version needs to be a backport minimum version. At least, I'm assuming wheezy has a good enough `libsystemd-journal0` and that we're not hosed as of rc2.

Can someone open an upstream bug?

[2016-02-02 00:53] thockin commented on #18372
On Sun, Jan 31, 2016 at 2:52 PM, Eric Tune <notifications@github.com> wrote:

True.  OTOH, live updates seems like something you should try before
you deploy, and if it doesn't work for you, don't use it.

IMO this is a relatively minor point

We understand how to update files within a mounted directory.
Atomically updating files individually mount files is the unsolved
problem (well, solved but u

[2016-02-02 00:54] dchen1107 commented on #19720
Ok, the mistery is resolved. Yes, if you are using Jessie, instead of our today's debian wheezy backport, of course it works. :-)

@Random-Liu Let's move on with our testing / validation:

Please retrieve docker binary from rc2 package, and store it at gs. Let's install docker binary directly through salt. We don't need docker-engine anyway.

[2016-02-02 00:56] thockin commented on #20365
I just wanted to build one, so I did the "obvious" thing:

`KUBE_BUILD_PLATFORMS="linux/amd64`  hack/dev-build-and-up.sh`

It failed for multiple reasons :)

On Sun, Jan 31, 2016 at 12:27 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-02-02 00:59] Random-Liu commented on #19720
@dchen1107 @zmerlynn Thanks for your help! I'll move on with the validation.

[2016-02-02 01:06] janetkuo commented on #15313
From @roberthbailey: We should move it to beta soon so that we can start testing it in the gke e2e tests at head.

[2016-02-02 01:09] thinhduckhoi commented on #12269
I didn't know that was not the standard setup :( But to be honest, i tried the kubernetes official tutorial first with no luck. Let me tell you something, that official tutorial is a little bit old because the "baseurl http://cbs.centos.org/repos/virt7-testing/x86_64/os/" didn't exists, i tried to find some alternative baseurl like "virt7-docker-common-release" but the configuration file is absolu

[2016-02-02 01:16] bprashanth commented on #12269
Maybe @coolsvap who contributed the manul centos configuration docs can shed some light?

[2016-02-02 01:16] bgrant0607 commented on #17397
Somewhat related: #4806

[2016-02-02 01:17] Random-Liu commented on #19720
I've tried to replace docker binary of docker 1.8.3 with 1.10-rc2, and then got this error:
`docker: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found (required by docker)`

[2016-02-02 01:18] bprashanth opened #20460 "Update Centos getting started guide"
See https://github.com/kubernetes/kubernetes/issues/12269#issuecomment-178291213 for context.
@thinhduckhoi @coolsvap

[2016-02-02 01:19] bprashanth commented on #12269
Eitherway this is not the right place to discuss outdated docs, lets continue on https://github.com/kubernetes/kubernetes/issues/20460

[2016-02-02 01:21] ixdy opened #20461 "remove `NUM_NODES_PARALLEL` from Jenkins configs"
Prior to #20276, the Ginkgo parallel jobs used clusters of size `NUM_NODES_PARALLEL`, while non-parallel jobs used clusters of size `NUM_NODES` (a smaller size). With that PR, things are inconsistent.

We should either
a) make sure all parallel jobs are using `NUM_NODES_PARALLEL`, or
b) get rid of `NUM_NODES_PARALLEL` entirely.

I think I created `NUM_NODES_PARALLEL` with the expectation that havi

[2016-02-02 01:22] ihmccreery commented on #19715
Okay, so in v1.1, we had no DeleteOptions in v1beta1, but now we've introduced such an object, and this `kubectl` test relies on it.  Based on that, I'm thinking this is a real regression/version incompatibility, but this is a beta object, so we probably don't care?  My proposal then is to skip this test for pre-`v1.2`, similar to #19608.

Reassigning to @caesarxuchao for verification: it looks li

[2016-02-02 01:30] erictune opened #20462 "import loop with labelSelector"
I am moving jobs to api group `batch`.  That is where it will live for v1.
So, I am putting the unversioned types there too.

This introduces an import loop.
- batch imports LabelSelector type from package extensions.
- package extensions needs to import batch to register it.

I think the right fix is to move LabelSelector to the legacy api group.   yes/no?

@lavalamp
@bgrant0607
@smarterclayton

[2016-02-02 01:33] henryon commented on #20416
@gmarek  any work around for this?

[2016-02-02 01:42] ihmccreery commented on #20459
I'm digging into this; looks like `pkg/conversion/error.go` isn't raising `pkg/api/errors` properly?

[2016-02-02 01:47] alex-mohr commented on #20445
I haven't had a chance to retry with a different flag, but re: retries, no there weren't explicit retries, but I looked at individual calls and 0 out of 20 succeeded, so it's not just a sporadic error -- it's a continuous condition.

[2016-02-02 01:51] ihmccreery commented on #20456
Yeah @spxtr I've considered something similar, but came to the same conclusion.  I'd like to get to a world where the norm is that if you're promoting a feature from experimental -> beta -> GA, making sure the tests are where they should be, but that may not be feasible without a linter.

[2016-02-02 02:02] parikhyash opened #20466 "Persistent Volume Claims with different subpaths"
I've set up a persistent volume using an NFS mount (NFS server is managed by me).

I've also been able to create a PersistentVolumeClaim using the above NFS volume and launch a pod that uses the claim.

The issue is that I need to mount a particular subpath of the volume per claim. So I wanted to know if there's a way to have multiple claims, each having a different subpath mounted from the main P

[2016-02-02 02:09] timothysc commented on #20064
I think an annotation on the pod itself with a simple description should suffice.  On a side note, do we have any mechanics for rev-ing data-structures in the api?   I would imagine in the long haul it would simply be another field.

[2016-02-02 02:45] bgrant0607 opened #20469 "ubuntu check-pods-torn-down doesn't take into account Terminating pods nor pods in other namespaces"
It does
[code]

It should use `--show-all --all-namespaces`.

[2016-02-02 03:21] bprashanth opened #20470 "Kubeproxy should always apply latest snapshot"
This bug is mostly to document the flow that most likely leads to the latency observed in https://github.com/kubernetes/kubernetes/issues/20402.

1. Watch comes in, sends an update/add/del to proxiers api source: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/config/api.go#L56
2. ApiSource snapshots all services or endpoints and shoves them in a channel: https://github.com/kubernet

[2016-02-02 03:24] smarterclayton commented on #20462
Probably it fits into "unversioned" (which doesn't mean unversioned, it
means "version 1 of all the things that are common across a bunch of
different groups").  I'm ok with the legacy API group though.

On Mon, Feb 1, 2016 at 8:30 PM, Eric Tune <notifications@github.com> wrote:

[2016-02-02 03:28] bgrant0607 commented on #20424
There are multiple parts to this.

The self-healing part may be non-trivial, depending on what MIGs provide.

OTOH, changing validate-cluster.sh to accept min and max numbers of nodes to expect should be trivial.

[2016-02-02 03:29] madhusudancs commented on #18907
@BugRoger Do you have this commit https://github.com/madhusudancs/kubernetes/commit/1511466b9dabaa1f5c089cb6734e63d35cba9116 in your branch?

That's a correct.

Unlikely, but not impossible.

https://github.com/kubernetes/kubernetes/blob/master/hack/update-codecgen.sh#L100-L102

I am afraid this might produce incorrect results depending on where and what types you are introducing/changing, particu

[2016-02-02 03:35] bgrant0607 opened #20472 "Document which cloud providers support external load balancers"
This was a source of user confusion:
http://stackoverflow.com/questions/34057711/external-ip-is-none-after-expose-my-service/35144573#35144573

It is not documented in the obvious place:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/services.md#type-loadbalancer

[2016-02-02 03:49] bgrant0607 commented on #19715
This looks more like a bug in v1.1 than a compatibility issue. Arguably, the v1beta1 APIs shouldn't have barfed.

Related: #19501, #19534, #5889

cc @smarterclayton

[2016-02-02 03:55] smarterclayton commented on #20459
resthandler was probably passing the errors directly back, rather than wrapping an IsNotRegistered error with a valid api.Status error.

[2016-02-02 03:57] smarterclayton commented on #19715
Yeah, I would have expected the v1beta1 api in 1.1 to ignore it (don't expect a body and don't try to decode it) or have DeleteOptions.  I did not expect 1.1 to not accept DeleteOptions on any API endpoint.

[2016-02-02 04:07] bgrant0607 opened #20473 "Document recommended way to not fail requests during rolling update"
Along the lines of:
- ensure the pods have a non-zero terminationGracePeriodSeconds set
- configure a readinessProbe on the main serving container of the pods
- handle SIGTERM in the application: fail the readinessProbe but continue to handle normal requests and do not exit
- set maxUnavailable and/or maxSurge large enough to ensure enough serving instances in the Deployment API spec

[2016-02-02 04:33] #18581 closed

[2016-02-02 04:47] lakhindr commented on #19071
I could build my own image, and Cassandra container doesn't crash anymore for me.

But can different nodes of Cassandra see each other, that is a different story :-)

[2016-02-02 04:48] mqliang commented on #20445
IIRC, the `--max-requests-in-flight` flag only work if we use https, for http request, there is no ratelimit, right?

[2016-02-02 04:54] Pensu commented on #20396
@thockin I want to take this up. Will send the PR.

[2016-02-02 05:51] mateeyow commented on #15103
@erictune Running `kubectl version` yields:

[code]

[2016-02-02 06:18] thockin commented on #20392
This is a good thing to try as an annotation, but we should just poke folks
to see if it works.

@justinsb @anguslees - do your respective load-balancer implementations
support restricting to a particular client IP range?  If so, any
restrictions?

Whatever we do, this is particular to type=LoadBalancer, so it should say
so.

On Mon, Feb 1, 2016 at 3:51 PM, Prashanth B <notifications@github.com>
w

[2016-02-02 06:24] luxas commented on #20367
`make release` should run `hack/build-cross.sh`
`hack/dev-build-and-{push,up}.sh` should not.
Maybe just rewrite the `hack/dev-build` files to do only what's needed for `kube-up` instead of making a full release?

[2016-02-02 06:29] thockin commented on #20420
I'm sorry, I don't quite understand this request - can you explain it a
little more?

On Mon, Feb 1, 2016 at 8:59 AM, Dani <notifications@github.com> wrote:

[2016-02-02 06:40] thockin commented on #15635
pkg/proxy is totally specific to kube-proxy.  pkg/master..

yeah, I know some people (you) link those as libs, and that would be fine
in small scale, but pkg/ has grown out of control.  Finding common purpose
in "this is a lib that implements a binary" and "this is a plausibly
multi-binarfy lib" doesn't seem so bad to me.

On Sat, Jan 30, 2016 at 10:24 PM, Clayton Coleman <notifications@github.com

[2016-02-02 06:42] davidopp commented on #6558
@ihmccreery in this comment https://github.com/kubernetes/kubernetes/issues/6558#issuecomment-176899525
you wrote "Ping on this. e2e "Pods should get a host IP [Conformance]" is currently disabled everywhere. Bumping this to P1 and flake."

What made you say it is disabled? I looked at Jenkins and it seems to be running it:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/10795/testRepor

[2016-02-02 06:46] thockin commented on #20375
Unclear - it was part of an e2e cluster, so I didn't verify that it was
ever up.

On Sat, Jan 30, 2016 at 9:57 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-02-02 06:47] bgrant0607 opened #20475 "A pod can't direct traffic to itself via a service"
Reported by a couple users. For example:
http://stackoverflow.com/questions/34732597/kubernetes-pod-cant-connect-through-service-to-self-only-to-other-pod-contai

If deliberate, we should document it. I don't see this mentioned in services.md, for instance.

[2016-02-02 06:49] davidopp commented on #6558
Sorry, I'm totally blind, the Jenkins history I linked to clearly shows it is being skipped.

But I'm still not sure what is causing it to be skipped.

[2016-02-02 06:50] thockin commented on #20475
It is supposed to work and is even covered by an e2e, I am pretty sure.

@ArtfulCoder

[2016-02-02 06:54] thockin commented on #18455
You can already do env-var expansion in commandlines, so you should be able
to define an env var from a ConfigMap, then reference that env var in your
commandline as $(NAME)

On Fri, Jan 29, 2016 at 5:07 PM, Rudi C <notifications@github.com> wrote:

[2016-02-02 06:54] thockin commented on #19831
yes - extracting CLUSTER config that is no one component.

On Fri, Jan 29, 2016 at 5:01 PM, Brian Grant <notifications@github.com>
wrote:

[2016-02-02 07:08] davidopp commented on #20424
IMO we should do this in a portable way if at all possible. On-prem, for example, obviously doesn't have MIGs.

If we change validate-cluster.sh to accept less than the request number of nodes (which I agree is a good first step), we should make that behavior be flag-controlled (e.g. --accept-startup-nodes=N or whatever) and default that to the number of nodes the user asked for.

[2016-02-02 07:12] madziefe opened #20476 "Problem using Auth0 in Kubernetes OIDC Authentication"
Kubernetes v1.1.2 and v1.1.4

I'm trying to use Auth0 in K8s Authentication.
And have come across this issue.

apiserver.yaml
[code]

apiserver logs
[code]
it was able to check the openid configuration using the above url + /.well-known/openid-configuration in the k8s oidc codes
[code]

Auth0 known configuration
[code]

Changing oidc-issuer-url to ` https://sample.auth0.com/ `will result to
[code]

[2016-02-02 07:20] davidopp commented on #20064
Annotations that are marked alpha (e.g. `scheduler.alpha.kubernetes.io/name`) have the same compatibility guarantees as alpha APIs, i.e. none. So we can move such annotations into fields at any time (this is exactly what we're planning to do with Affinity in 1.3). Once something is in a field of a non-alpha API (e.g. any field we add to PodSpec), my understanding is we can't change it until the ne

[2016-02-02 07:38] bgrant0607 commented on #20462
I'm ok with putting it into api/v1, also. extensions are getting ObjectMeta from there already.

[2016-02-02 07:45] erictune commented on #20462
May need to.  Having trouble with generating conversions for
pkg/api/unversioned.

On Mon, Feb 1, 2016 at 11:39 PM, Brian Grant <notifications@github.com>
wrote:

[2016-02-02 07:48] glerchundi commented on #20217
@liggitt, i'm going to do a full test of this and come back again with the results. thanks for your help :)

[2016-02-02 08:14] fgrzadkowski commented on #20411
sgtm.

Thanks for improving docker based setup! :)

[2016-02-02 08:25] bgrant0607 commented on #16627
@gmarek I was referring to the "standalone" terminology in this issue's description.

Yes, if treated as a standalone Kubelet, the master would not self-register. I was just pointing that out as a possibility. And hopefully only temporary, in any case. Could the apiserver proxy be used to access container status of the standalone kubelet for debugging purposes?

If we wanted to retain self-registr

[2016-02-02 08:26] jdanielcano commented on #20420
Thanks for your reply and sorry for my poor explanation. Actually what I really would like to know if it is possible in kubernetes, to expose a range of ports or if it is possible to allow incoming / outgoing communications without knowing the port used.

As fas as I know, both options are not possible to achieve in Kubernetes, but I would like to confirm.

Thanks a lot!

[2016-02-02 08:30] BugRoger commented on #18907
I'm afraid that is true and I'm just deferring the problem to the next person running the generation... Thanks for checking in.

https://github.com/kubernetes/kubernetes/pull/20069

[2016-02-02 08:31] bgrant0607 commented on #15310
@davidopp "The behavior I proposed above" means updating the pod template would not roll out the update.

[2016-02-02 08:31] davidopp commented on #19895
Most recent failure is
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/351/testReport/
which was after #19906 was merged but not after #19910 was merged.

[2016-02-02 08:36] marun commented on #20088
This should be fixed in master with the switch to Fedora 23, which no longer requires a 3rd party repo for salt packages.  I'm not sure when this will be reflected in the https://get.k8s.io bootstrap though.

[2016-02-02 08:41] marun commented on #20088
Ah, as per @arulrajnet, master being fixed already is no help.  The fix needs to land in the release branch to be reflected in the k8s bootstrap.

[2016-02-02 08:43] fuggersbergerdavid commented on #20416
you can find a work around for your issue here https://github.com/kubernetes/kubernetes/issues/20088

[2016-02-02 08:51] Random-Liu opened #20477 "Kubelet: We should organize the status get functions better."
`api.PodStatus` is used by many kubelet components and functions. Currently these components and functions retrieve `api.PodStatus` by different means:
- From status manager. Get status from status manager is very quick, but _the status may not have been populated and cached_ yet.
- From pod status cache and convert it to `api.PodStatus`. Get status from pod status cache is very quick, but status

[2016-02-02 08:51] erictune commented on #14961
If the label-selector-uniqueness approach suggested in https://github.com/kubernetes/kubernetes/issues/12298#issuecomment-178239293 ends up working out well for job, we will want to use it for other controllers too.

[2016-02-02 09:11] gmarek commented on #19895
I looked at it for few minutes and it's not Scheduler's or tests bug. It's a problem with Scheduler-Kubelet synchronization. Note logs:
[code]

No system pods are assigned to mue1 Node at the beginning of the test leaving it with full 2000 millicores, which can fit exactly 4 overcommit pods (each is using 500m). Scheduler actually behaves correctly and in one of last lines assigns overcommit-7 pod

[2016-02-02 09:12] magicwang-cn commented on #19637
@timothysc @lavalamp
recently, i have do a research of kafka, it is not a normal storage system, it has no update/delete interface, really a publish-subscribe system.

**kafka:**

- only topic to separate different messages, not a key-value storage
  - just one topic "**events**" to subscribe all namespaces' events, but this will reduce the read action's efficiency.
  - one namespace one topic, li

[2016-02-02 09:13] bgrant0607 commented on #16737
@awan1 Deployment can't be used on GKE yet, no. Not until Kubernetes 1.2 is released.

[2016-02-02 09:14] Random-Liu opened #20478 "Kubelet: Add unit test for PodSyncResult and convertStatusToAPIStatus"
We moved **reason cache** and **status convert function** from `dockertools` to `kubelet` by #18172, #19579, #20192 and #20205.

After this, we should also migrate related old unit test to kubelet level.

For `PodSyncResult` we should add test for:
- [x] Different image pull policy.
- [x] Pod creation failure.
- [x] Pod image failure.

For `convertStatusToAPIStatus` we should add test for:
- [ ] C

[2016-02-02 09:14] magicwang-cn commented on #19637
/cc @Gloria_Z_H_D

[2016-02-02 09:38] qq690388648 opened #20479 "Is the way of running iptables rules too slow?"
By reading the [code](https://github.com/kubernetes/kubernetes/blob/65c285f5ab32283420e6fd5ac481ab1d94ebae90/pkg/util/iptables/iptables.go#L376), we can find that the <code>kube-proxy</code> ensuring proxy rules by running <code>iptables</code> rules one by one.
So if we have 100 services in our cluster and each service has 2 node ports,  then they will generated 800 <code>iptables</code> rules wh

[2016-02-02 09:43] #19508 closed

[2016-02-02 09:51] glerchundi commented on #20217
@liggitt you were right, its not something related to the CA, it was something related to service tokens validity within a concrete CA.

I came across this snippet to delete all service tokens without touching anything else:

[code]

As a bonus, i first backuped those using `jq`:
[code]

Thanks for your valuable help @liggitt & @roberthbailey, closing this.

[2016-02-02 09:51] #20217 closed

[2016-02-02 09:56] quinton-hoole commented on #20461
The reason for creating it was that some tests were failing with "cluster
full" errors in the parallel runs when the clusters had only 3 nodes.
Rather than increase the cluster size for all test jobs, we did so for only
parallel jobs.
On Feb 2, 2016 02:22, "Jeff Grafton" <notifications@github.com> wrote:

[2016-02-02 10:08] jiangyaoguo commented on #19637
@magicwang-cn Kubernetes will update events for event compression. So we need consider update interface or change event mechanism. Now event is more like log rather than reliable message. You can see more discussion in #4432.  Perhaps we can reuse a separate apiserver which handle event requests only and abstract interfaces which can be implemented by MongoDB and so on.

[2016-02-02 10:34] gmarek commented on #20400
Last successful run: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/41/build-log.txt
Failing one: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/49/build-log.txt

It happened on a day when we changed to go 1.5.3, which makes it my prime suspect. There's also @smarterclayton PR #16067 that in some strange world

[2016-02-02 10:45] AdoHe commented on #20379
Hi guys, I just meet the same problem, below is my setup process:
1. Create a simple pod with yaml file: `kubectl create -f busybox.yaml`
[code]
2. After the pod running for a while, just delete the pod: `kubectl delete -f busybox.yaml`
I am using a custom a network plugin, so I add some log to the `TearDown` method:
[code]
And also the kubelet log is:
[code]
I do understand kubelet will just dele

[2016-02-02 10:52] gmarek commented on #20400
For kubemark regression happened between 10:15 and 11:16 am (MTV time) on Jan 21st.

[2016-02-02 11:46] magicwang-cn commented on #19637
@jiangyaoguo yes. the [storage interface](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/interfaces.go) is not suitable for events. we just want create/read actions. so the events interface should be different from storage interface.

[2016-02-02 12:21] anguslees commented on #20392
These feature request bugs never explain what they're actually talking about :/   Assuming "apply that as the --source-ranges of the firewall" means only allowing certain remote source subnet(s) to access vip addresses on loadbalancers.  I haven't experimented with the range of vendor drivers out there, but I fear the answer for OpenStack is "unsupported".

[2016-02-02 12:50] #7808 closed

[2016-02-02 13:11] gmarek commented on #20445
@alex-mohr what was the size of master's machine and what was the load you put on it? I checked on kubemark test for 32 core master during density run and it was quite happy (taken when there was ~20k running pods) `https://104.197.154.159/api/v1/componentstatuses`

[code]

It's possible that we're putting less load on Kubemark master than the real one. I'll check the metrics when test finishes.

[2016-02-02 13:50] justinsb commented on #20392
AWS uses security groups for ELB ingress, so yes, it does support CIDR ingress restrictions.  (It also supports restricting access to instances in specific security groups).

I don't think it's unreasonable to throw an error if you try to create a LB on OpenStack with a CIDR source restriction.  That's what we do e.g. if someone tries to create a UDP load balancer on AWS, and I haven't noticed man

[2016-02-02 13:55] soltysh commented on #20434
The other option would be to allow injecting additional capabilities similarly to how we need to solve problem in #12221. I'll be working on it in the following days.

[2016-02-02 14:26] soltysh commented on #20350
There's a proposal for unique labels here: https://github.com/kubernetes/kubernetes/issues/12298#issuecomment-178239293

[2016-02-02 14:30] gmarek commented on #20445
@mqliang - yes, we limit only requests to the secure server, but @alex-mohr was connecting to it.

[2016-02-02 14:36] soltysh commented on #12298
@erictune the proposal LGTM, still can you create a separate doc for that? Based on this comment you can assume my approval of the proposal.

[2016-02-02 14:47] pmorie commented on #20403
@gmarek is this in a normal e2e?  In a soak env?

[2016-02-02 14:52] gmarek commented on #20403
It's normal e2e.

[2016-02-02 14:53] pmorie commented on #20403
@gmarek I mean, the context in which the failure was discovered -- previously this happened only in a soak env.

I'm trying to reproduce now.

[2016-02-02 14:55] gramic commented on #19765
I am using non containerized k8s via `./hack/local-cluster-up.sh` and after installing socat, the error changed to "uid : exit status 1"
[code]

[2016-02-02 15:01] gmarek commented on #20403
Yup, I understand. It happened in our main test suite.

[2016-02-02 15:05] #19602 closed

[2016-02-02 15:08] gmarek commented on #20400
I have some data from kubemark, which also shows that we regressed somewhere in last week and a half.
Latencies from the run on commit a9050679a5810eb9bfcf9eb9ca98991a7a0e8ef0:
[code]

From the ~head:
[code]

Sadly it takes quite some time to run single experiment, so I can't tell that if it wasn't an anomaly.

[2016-02-02 15:13] AdoHe commented on #20475
There is a closed issue related with that #13375, it should work. Also @thockin I am still thinking about how to handle hairpin mode more properly within kubelet.

[2016-02-02 15:13] kayrus opened #20486 "libvirt-coreos: weird bridge behavior"
Following this doc https://github.com/kubernetes/kubernetes/blob/master/cluster/libvirt-coreos/README.md

[code]

then run curl on another k8s minion:

[code]

And you'll see result below:

[code]

So looks like there is something wrong with the bridge configuration in `libvirt-coreos` provider.

Here is tcpdump:

[code]

/cc @lhuard1A

[2016-02-02 15:50] ewolinetz opened #20488 "Headless service targetPort not resolving containerPort name"
It seems that my headless service definition does not correctly resolve the containerPort name.
I receive this error when I `oc process <template> | oc create -f -`
[code]

My service is defined as:
[code]

And my container is defined with:
[code]

This was run using kubernetes v1.2.0-alpha.4-851-g4a65fa1

[2016-02-02 15:53] ihmccreery opened #20489 "GCE upgrade tests are leaking addresses"
GCE upgrade tests are leaking addresses, target pools, and forwarding rules, but I'm not sure where yet.  We've seen plenty of these before, I'm filing another issue since this is for GCE.  (Similar to #13515)

[2016-02-02 15:54] ihmccreery commented on #20489
Of course, would like to see #18119 in the long-run to make this easier to debug.

[2016-02-02 16:15] ihmccreery commented on #19542
With #19934 and #20274 in, this is now closed. Thanks folks!

[2016-02-02 16:15] #19542 closed

[2016-02-02 16:19] bgrant0607 commented on #12732
There's also discussion of secret generation in #18215

[2016-02-02 16:20] timothysc commented on #20434
@soltysh I think yes to both are probably a good approach ;-)

[2016-02-02 16:23] ihmccreery commented on #6558
Sorry I wasn't clear; it's being skipped because it was marked pending via `PIt`.  Let's agree to use `[Flaky]` and `[Feature:.+]` labels in the future for clarity's sake.

[2016-02-02 16:27] ihmccreery commented on #19715
Great.  Reassigning to @lavalamp for triage.

[2016-02-02 16:31] ihmccreery opened #20491 "Rename [Disruptive] to [Restart]"
Per @bprashanth's question in https://github.com/kubernetes/kubernetes/pull/20455/files#r51511537, it seems like we should maybe rename `[Disruptive]` to `[Restart]`; we actually don't care about disrupting systems in soak tests, we care about restarting them.

cc @yujuhong

[2016-02-02 16:40] smarterclayton commented on #20400
There's some data suggesting that Go 1.5 GC has some issues in certain
corner cases (InfluxDB was reporting something similar).  Was this Go 1.4
-> 1.5.3, or 1.5.2 -> 1.5.3.  My retry case could certainly increase load
on server in certain cases.

On Tue, Feb 2, 2016 at 10:08 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-02-02 16:46] Cptn727 commented on #18975
We've also had experiences similar to above. With a t2.micro master, it will eventually go unresponsive. Often within 24 hours, sometimes longer. When unresponsive, we cannot use API or SSH, and are forced to issue a reboot from AWS directly. Cloudwatch suggests we did not exhaust CPU credits, but on the one or two times we've been lucky enough to be on the box, memory exhaustion seems to be the c

[2016-02-02 16:47] thockin commented on #20488
The concept of "port" being different from "targetPort" doesn't apply to headless services.  The port translation is happening as part of the layer-4 load-balancing, but headless really means "no load-balancer".

Think of it from a traffic flow point of view.  With a plain service, I can map port X to port Y.  A client access the VIP on port X.  The LB logic rewrites that to backend:Y.  With a hea

[2016-02-02 16:47] #20488 closed

[2016-02-02 16:50] jsafrane opened #20494 "e2e flake: ServiceAccounts should mount an API token into pods"
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20210/kubernetes-pull-build-test-e2e-gce/26249/build-log.txt

From the log:
[code]

[2016-02-02 16:51] goltermann commented on #20001
Fixed in #20260?

[2016-02-02 16:51] thockin commented on #6558
Also see https://github.com/kubernetes/kubernetes/issues/15169 for use cases of "I need to know my local node" and possible fixes.

[2016-02-02 16:51] goltermann commented on #19999
All issues linked from this one are closed.  Anything left to do?

[2016-02-02 16:51] mikedanese commented on #19637
We might be able to get rid of compression if we move to a proper storage for events.

[2016-02-02 16:53] thockin commented on #20479
The newer iptables proxier does it with iptables-save and
iptables-restore.  We did not retrofit the userspace proxier to do this,
but we could.  I hope that the userspace proxier can die out this year, so
it may not be worth large investments.

On Tue, Feb 2, 2016 at 1:38 AM, 孙庚泽 <notifications@github.com> wrote:

[2016-02-02 16:57] sosiouxme commented on #20488
@thockin I'm probably missing something here, but it looks to me like X and Y are both 9300 here. Does it make any difference that it's being referred to by name?

[2016-02-02 17:06] thockin commented on #20488
The resolution of name to number happens much later than API validation (in
a controller).  Besides that the set of pods behind a Service can change
dynamically, so it is impossible to ensure that the mapping stays identical
over time.  `targetPort` literally has no meaning to headless Services, so
we simply demand that it be the same as `port` (or empty, in which case the
defaulting logic sets it

[2016-02-02 17:07] sosiouxme commented on #20488
Thanks for clarification.

[2016-02-02 17:11] gmarek commented on #20400
I think it was Go 1.4 -> 1.5.3, but I'm not sure. @zmerlynn

[2016-02-02 17:17] thockin commented on #19983
Please @ me directly, I'll try to prioritize

On Fri, Jan 29, 2016 at 11:00 AM, Matt Dupre <notifications@github.com>
wrote:

[2016-02-02 17:31] matthewdupre commented on #19983
Thanks @thockin: I've opened PR #20496.

[2016-02-02 17:38] ihmccreery commented on #20235
@danderson @luxas Sorry about that; it's not been pushed.

[2016-02-02 17:38] ihmccreery commented on #20235
Oops; it *has* been pushed (v1.1.7 `hyperkube`).

[2016-02-02 17:40] ihmccreery commented on #11751
@pieterlange I've pushed v1.1.7; sorry about the delay.  We push manually for release-1.1, but that will be fixed in v1.2.

[2016-02-02 17:43] smarterclayton commented on #20400
https://github.com/golang/go/issues/14189

On Tue, Feb 2, 2016 at 12:11 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-02-02 17:43] luxas commented on #20235
@ihmccreery Can you review #19769? It would be great to get it merged...
It contains a fix so plain `hyperkube` is being pushed in the same manner as `hyperkube-amd64`

[2016-02-02 17:45] luxas commented on #20235
Updated the list above. `v1,1.7` is now pushed, but only for `hyperkube` and `v1.2.0-alpha.x` only for `hyperkube-amd64`

[2016-02-02 17:47] Fizzadar opened #20497 "Reconcile graceful termination"
I currently have a pod in our cluster that cannot be deleted - it's the only object in it's namespace and was originally created via a Job (which _has_ been removed). It's status is pending and has never been "running".

Issuing `DELETE` requests do nothing and the only logs on the master node are:

[code]

Currently this cheeky pod is preventing our build chain from working - is there a way to fo

[2016-02-02 17:50] ihmccreery commented on #20235
Sorry, I'm not the right person to review that; I'm pretty unfamiliar with the build logic.  Looks like you've got some reviewers already though?

Yeah, unfortunately release-1.1 doesn't have logic in place to release hyperkube and hyperkube-amd64.  We tried to patch it in, which is what caused the v1.1.6 failure (see https://github.com/kubernetes/kubernetes/pull/19935).

[2016-02-02 17:51] jlowdermilk opened #20498 "integration flake: runSchedulerNoPhantomPodsTest"
Previous issues: #14531

Failed test logs: [kubernetes-test-go-release-1.1/3463](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3463)

Full log too long to paste; snippet below

[code]

[2016-02-02 17:52] jlowdermilk commented on #14531
This seems to still be occurring #20498

[2016-02-02 17:53] jlowdermilk commented on #19997
Thanks for the links @ixdy. I'm still catching up on new issues and test flakes (buildcop), but I will look at the above.

[2016-02-02 18:04] Fizzadar commented on #20497
Update: actually, I can't delete _any_ pods, running or pending. RC's delete OK as do services, just pods won't budge.

[2016-02-02 18:04] luxas commented on #20235
OK, I'll try to get @zmerlynn's attention then...

But is it @fgrzadkowski who is gonna manually push `hyperkube-amd64` versions >= 1.0.1?
It's just a
[code]
and vice versa (for `v1.2.0-alpha.x`)
Or could you do it? That's what this issue is about... (plus merging #19769)

[2016-02-02 18:06] MikeSpreitzer commented on #17677
@bgrant0607 Can you please have a look at PR #20438 ?

[2016-02-02 18:10] bgrant0607 commented on #17397
One user tried kube-push.sh on AWS yesterday to upgrade his master from 1.1 to 1.2, and it bricked his cluster. He then used kube-push.sh to revert, but had to reinstall docker 1.6 on the master manually in order for the master components to come up again.

[2016-02-02 18:15] Random-Liu commented on #19720
I tested with 1.10.0-rc2, and got more failures:
[code]

[2016-02-02 18:19] mikedanese commented on #17397
Kube push shares pretty much no code between providers right now

[2016-02-02 18:22] jlowdermilk opened #20500 "integration flake: runServiceTest "FAILED: unexpected endpoints: timed out waiting for the condition""
Failed test logs:
[kubernetes-test-go-release-1.1/3464](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3464)
[kubernetes-test-go-release-1.1/3467](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3467)

Excerpt:
[code]

[2016-02-02 18:25] jlowdermilk commented on #20498
Another failure: [kubernetes-test-go-release-1.1/3468](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3468)

[2016-02-02 18:26] jlowdermilk commented on #18809
Another failure: [kubernetes-test-go-release-1.1/3475](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3475)

[2016-02-02 18:29] lavalamp commented on #2349
@bgrant0607 @smarterclayton I am getting a bit worried that someone is going to run a huge cluster and this will turn into an emergency overnight, but it's a fair amount of work, so I think we want to have it in before it becomes an emergency. Does it make sense to target this for 1.3? @krousey is interested in adding this to API server.

[2016-02-02 18:29] bgrant0607 commented on #19501
I'd be happy with a query param to control validation. If we're going to fix this in 1.2, we need to do it soon.

[2016-02-02 18:31] bgrant0607 commented on #5889
In #19501, it was proposed to make server-side validation optional.

[2016-02-02 18:34] janetkuo opened #20502 "kubectl rollout should support -o / --output"
Follow up #19835

@kubernetes/kubectl

[2016-02-02 18:36] jlowdermilk opened #20503 "unit flake: TestCNIPlugin"
Previous issues: #15239, #14931

Failure log: https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/3478

Test result:
[code]

[2016-02-02 18:36] kargakis commented on #20502
Not only undo but all rollout commands. I'm especially interested in -o name

[2016-02-02 18:37] lavalamp opened #20504 "Begin supporting etcd3"
There's probably already an issue about this, but none of my searches could find it.

I know @hongchaodeng (and @xiang90?) are interested in doing much of the work. @krousey may be able to help.

Off the top of my head, we'll need:
- Flag enable etcd 2 or etcd 3, support both for a significant period of time.
- Adjust storage.Interface as needed.
- Adjust deployment scripts, again we need both to

[2016-02-02 18:43] xiang90 commented on #20504
@lavalamp yea. @hongchaodeng and me will start the work soon.

@smarterclayton anyone at Redhat is interested in this?

@HardySimpson anyone from Huawei?

[2016-02-02 18:45] smarterclayton commented on #20504
We are indeed interested in it - I'm probably going to be very heavily involved, as is @derekwaynecarr and @ncdc, and @timothysc as well.

[2016-02-02 18:45] caesarxuchao opened #20506 "API server flake"
[code]
full log: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20452/kubernetes-pull-test-unit-integration/11988/?pli=1

In issue: https://github.com/kubernetes/kubernetes/pull/20452#issuecomment-178450861

[2016-02-02 18:46] smarterclayton commented on #2349
I wanted to wait for etcd3, because I suspect with protobuf + etcd we will
push back the urgency of this by a few months.

On Tue, Feb 2, 2016 at 1:29 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-02-02 18:47] bgrant0607 commented on #20078
@kargakis sent a PR: #20481

[2016-02-02 18:47] yujuhong commented on #20418
For build 206, docker seems to be in in a bad state and got restarted repeatedly (`kubernetes-e2e-gke/206/artifacts/104.154.19.60:22-supervisord.log`).

For build 186 and 243, kubelet sync loop seems to be stuck and not responsive at all. This could be caused by `docker ps` hang or kubelet's internal issue. I am leaning towards to the former since we've encountered that in the soak cluster pretty

[2016-02-02 18:47] krousey commented on #20504
@xiang90 Is there documentation for the v3 api? I've only been able to find the v2 api. Or is it the same?

[2016-02-02 18:49] xiang90 commented on #20504
@krousey

https://github.com/coreos/etcd/blob/master/Documentation/rfc/v3api.md

It is a gRPC defined service API. Check the proto directly. Thanks!

[2016-02-02 18:49] lavalamp commented on #20268
@ncdc Have you had a chance to look at the logs from this occurrence?

[2016-02-02 18:49] jlowdermilk opened #20507 "e2e failure: Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
The node restart test has been failing consistently past few runs: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/

From test logs it looks like kube-system pods are not being rescheduled within 2m after the nodes come back. #19889 is a possible culprit; test was passing before that got merged.

Sample failure (from [kubernetes-e2e-gce-serial/368](http://k

[2016-02-02 18:51] janetkuo opened #20508 "kubectl --record should avoid capturing secrets on the command line"
Follow up #20035

https://github.com/kubernetes/kubernetes/pull/20035#issuecomment-177235273:

@kubernetes/kubectl

[2016-02-02 18:54] roberthbailey commented on #20418
@yujuhong - Did you send a PR to change the docker healthcheck?

[2016-02-02 18:54] vishh commented on #19720
@Random-Liu: Were you able to bring up a cluster with v1.10?

[2016-02-02 18:55] erictune commented on #15103
It is the kubelet version that matters in this case.  That is different from the client (kubectl) version.
@kubernetes/goog-node   is there a recommended way for users to check kubelet version other than sshing to the machine and examining the binary?

[2016-02-02 18:55] dchen1107 commented on #19895
Haven't dig into the detail yet. But with respect to @gmarek's comment at  https://github.com/kubernetes/kubernetes/issues/19895#issuecomment-178462848, shouldn't we start test after the cluster is stabled? This means the only potential mirror pod for test environment -- fluentd is running on each node, and kubelet already created mirror pod and report to API server.

[2016-02-02 18:56] ncdc commented on #20268
I'm in and out the next few days, so I probably can't do much here this
week. Maybe look into the readiness probe suggestion?

On Tuesday, February 2, 2016, Daniel Smith <notifications@github.com> wrote:

[2016-02-02 18:56] yujuhong commented on #20507
Heapster was crashing. It should have nothing to do with PR #19889

/cc @dchen1107 @vishh @piosz @mwielgus

Related: #20100

Reassigning to @piosz  to triage.

[2016-02-02 19:00] yujuhong commented on #20418
Not yet. Will do it soon.

[2016-02-02 19:03] krousey commented on #20504
@xiang90 I'm curious about the Range api. I see that I can pin it to a resource version, and define a half-open range of `[start, end)`. And the response has a boolean indicating that there is more. I assume you expect people to redo the same RangeRequest with the same resource version, but update the start to the key of the last element they saw? Like `[last_seen, end)`? Would that mean we'd see

[2016-02-02 19:09] timothysc commented on #20504
Given that I did the 2.2 client update, the touch points should all be isolated sans kube2sky.  I didn't think it was ready till march/april. @xiang90

[2016-02-02 19:10] lavalamp commented on #20506
Almost certainly a dup of #19435

[2016-02-02 19:10] #20506 closed

[2016-02-02 19:11] lavalamp commented on #19999
All the things this is a dup of are fix.

[2016-02-02 19:11] #19999 closed

[2016-02-02 19:11] lakhindr commented on #19071
The above mentioned Cassandra private image was tested off Commit ID: 0c5cc1bde1075e8bca90f83a352af7f38948b328 of Master branch, Jan 29.

Pulling in the latest changes of Master branch, commit ID: 635cf5877f9e52292d8d4930fd3c9c9aae6efeaa, Feb 02, I see some other issue, perhaps due to some new rules put in:

`# kubectl create -f cassandra.yaml`

`Error from server: error when creating "cassandra.y

[2016-02-02 19:11] bgrant0607 commented on #17168
This is done enough for 1.2, so moving to next milestone.

The main outstanding feature for parity IMO is "kubectl set image".

[2016-02-02 19:11] thockin commented on #19953
The problem is that the feature is flaky, not the test.  We should not consider this to be a test flake.  Agree to change the label on it.  We have to accept that this feature is broken and coverage of it should not block the queue

[2016-02-02 19:12] thockin commented on #19466
https://github.com/docker/spdystream/pull/65 is in - should we re-godep this?

[2016-02-02 19:13] yujuhong commented on #20507
Perhaps unrelated, but this is what I observed in my cluster (built yesterday with 6f94afb68dd8312b28d0b868ab4ef81d8115a4a0):

influxdb was crashing and heapster crashed too (expected), but heapster panic due to a nil pointer dereference (unexpected)
[code]

[2016-02-02 19:14] thockin commented on #18952
I don't see how this test could ever pass - the test itself seems deeply broken.

[2016-02-02 19:14] thockin commented on #18952
dup of  #16285

[2016-02-02 19:15] ihmccreery commented on #13485
With #19997 open, can we close this in favor of #19997?

[2016-02-02 19:16] ncdc commented on #19466
Not yet. It needs my PR with another fix. It's in review.

On Tuesday, February 2, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-02-02 19:17] bgrant0607 commented on #17164
@kargakis I agree that the number of pods of the latest revision is good enough, at least for now.

We also have available/unavailable.

We can make changes or add more based on user feedback.

Closing.

[2016-02-02 19:17] #17164 closed

[2016-02-02 19:17] roberthbailey commented on #20418
My PR has been merged, assigning to @yujuhong to follow up after her PR goes in.

[2016-02-02 19:20] andyzheng0831 commented on #12689
While I was working on pr #20463, I noticed that test cases in test/e2e/addon_update.go also uses "init.d" to restart kube-addon service. This does not work for distros using upstart as init system, such as ubuntu trusty.

[2016-02-02 19:21] paralin commented on #17397
I like the way the GCE upgrade script replaces nodes. It leaves little chance for failure, aside from an interrupted update process.

However I think this will be undesirable in a production cluster. You have some downtime and in particular the risk of a bricked cluster, as well as the inconvenience of recreating every node.

The kube-push way of updating the salt template and pushing the new bina

[2016-02-02 19:23] #18952 closed

[2016-02-02 19:26] bgrant0607 commented on #20168
Also, replace generally doesn't work unless one does get-modify-replace.

[2016-02-02 19:26] madhusudancs commented on #18907
@BugRoger Figured out what the problem and purely by coincidence ;-)

So I think the problem is with your setup. You don't have the Kubernetes source checked out in a directory under k8s.io, do you? ;-)

[2016-02-02 19:32] yujuhong commented on #15103
The versions are included in the Node.Status.NodeInfo and they can be viewed via `kubectl describe node <nodename>`
E.g.,
[code]

[2016-02-02 19:34] dchen1107 commented on #15103
NodeStatus should include all information, like kubelet version, kernel version, etc.

[2016-02-02 19:50] dchen1107 commented on #20507
Ok, heapster is running with new version v13 again from the log, and this is 4th times upgraded heapster run into crashloop.

[2016-02-02 19:54] BugRoger commented on #18907
@madhusudancs Of course, you are right. I had my code in `/home/bugroger/k8s.io/kubernetes`. I should have taken the note quite literally. Thanks for your help... :blush:

For what it's worth the code generated is the same as with my workaround. Now everything is good. Though this behavior is quite counter-intuitive...

[2016-02-02 19:57] jlowdermilk commented on #20422
Looks like this was very recently fixed in #20147. If you sync to head it should pick up fix.

[2016-02-02 19:57] #20422 closed

[2016-02-02 19:59] xiang90 commented on #20504
@krousey

You can do [lasts_seen+1, end)

You can always open an issue in etcd repo.

[2016-02-02 20:03] madhusudancs commented on #18907
@BugRoger No worries. I think it is worth mentioning this as a note or a warning in [development.md](https://github.com/kubernetes/kubernetes/blob/e33b9a9460113c4fe1e41dd9b4fa4c36a973ef9a/docs/devel/development.md#clone-your-fork).

[2016-02-02 20:16] janetkuo commented on #15313
This feature will be added in #20035

[2016-02-02 20:20] piosz commented on #20507
Reassigning to @mwielgus who implemented this particular part. We will investigate failures tomorrow.

We bumped the version of Heapster yesterday and we work hard on stabilizing it. Apologies for the problems.

[2016-02-02 20:20] pmorie commented on #20403
Ran this about 500 times so far in a loop w/o a failure

[2016-02-02 20:23] dchen1107 commented on #20507
@piosz & @mwielgus FYI. the problem is very easy to trigger by reboot.

[2016-02-02 20:29] pnovotnak commented on #15727
Yeah, this is a PITA. We lost logs from a couple of incidents from this. Wouldn't expect an unmodified GKE cluster to be broken out of the gate :/

[2016-02-02 20:33] pnovotnak commented on #15727
*having this issue with fluentd, not heapster

[2016-02-02 20:45] Random-Liu commented on #19720
@vishh Yeah, I could do that now. Now I'm trying to test the failure test separately, and some tests fail every time. I'll post the test result soon.

[2016-02-02 20:59] Random-Liu commented on #19720
I tested these 42 failed e2e test separately, and found that 18 of them still failed.

[code]

The full log is here.

[2016-02-02 21:01] bgrant0607 commented on #12298
cc @janetkuo

[2016-02-02 21:02] smarterclayton commented on #20504
We should get a proposal going for the process of transforming, testing, and ensuring that it is not disruptive to the other 1.3 work.  We are probably going to push etcd3 hard for scale reasons, and now that the client is coming together there's no better time to get going than now.

[2016-02-02 21:05] dchen1107 commented on #19720
Where is the full log? :-)

[2016-02-02 21:06] Random-Liu commented on #19720
@dchen1107 I was just parsing the full LOG just now, tried to remove the color codes. It's ok now.

[2016-02-02 21:08] dchen1107 commented on #19720
Ok, based on the list you provided above, I will temporarily ignore the failed tests with PD, and investigate the rest. We can quickly categorize the rest failures into two: docker exec and network related stuff. If you need to, I can help you debugging on those.

[2016-02-02 21:10] smarterclayton commented on #12298
I think this makes sense to me - noDefaultSelector being opt out makes
sense in this context, I agree that making the default case be foolproof is
an excellent goal.

On Tue, Feb 2, 2016 at 4:02 PM, Brian Grant <notifications@github.com>
wrote:

[2016-02-02 21:12] Random-Liu commented on #19720
I'll look into the `should support exec` test first, at least from name of the test, it looks straightforward.

[2016-02-02 21:18] metral opened #20514 "Running k8s locally via Docker & 1.2.0-alpha.6 does not stand up apiserver"
Following the all-in-one install via kubelet on Docker as listed in the docs is not working. I hit a "no cloud provider specified" and the controller and apiserver never come up and am plagued with many connection refused errors when hitting 127.0.0.1:8080 even though I set KUBERNETES_PROVIDER https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md#run-it

I'm ru

[2016-02-02 21:20] loshkovskyi commented on #17706
I've also encountered this issue and I would like to elaborate on it.

How to reproduce:

Follow the example here: http://kubernetes.io/v1.1/examples/mysql-cinder-pd/README.html
Once you created the pod with `kubectl`, check its status (it will crash in a minute or so):
[code]
Verify manually with the latest image using a created directory instead of a volume:
[code]
From the [official MySQL docum

[2016-02-02 21:22] ihmccreery commented on #20235
I'm not convinced we should be releasing hyperkube-amd64 for pre-v1.2 releases ... that seems like revising history to me.  But I will let @fgrzadkowski make that call.  @david-mcmahon might also have opinions.

[2016-02-02 21:23] wazoo commented on #11751
Its nearly impossible to figure out what versions are on GCE, this project really needs some sort of interop matrix or available versions portion of the docs (if its there I can't find it).

[2016-02-02 21:26] zmerlynn commented on #20235
Unless there's a compelling reason to, I'm not convinced we should muck with build mechanics in the release branch either. It can be kind of painful and error prone because it involves making sure you cherry-pick any intermediate step, too. (I went through this with the documentation mechanics, and still have nightmares.)

[2016-02-02 21:27] bgrant0607 commented on #12298
SGTM.

One clarification regarding: The defaulting logic also sets a selector that does `matchLabels` with `controller-uid=$UIDOFJOB` and `job-name=$JOBNAME`.

I would expect the defaulting logic to create the selector to match the labels specified in the pod template. I assume this would only happen in the case that `noDefaultSelector:true` were specified, which makes this defaulting awkward. May

[2016-02-02 21:28] luxas commented on #20235
@ihmccreery It's automatically released. @fgrzadkowski made a PR that automatically pushes `hyperkube-amd64` when doing a release: #19061

[2016-02-02 21:36] #17829 closed

[2016-02-02 21:39] bprashanth commented on #17873
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26332/#

[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20464/kubernetes-pull-build-test-e2e-gce/26332/

[2016-02-02 21:42] pnovotnak opened #20516 "GKE Cluster Not Logging Properly"
The company I work for has a single-node cluster running which has had DNS issues (names won't resolve) crop up twice over the past couple weeks. In both cases the solution was to recycle the VM. In the process of debugging this problem, I ran into another... Our cluster doesn't seem to be logging properly to the Compute Engine Console, even though our cluster has Monitoring.full and Logging.write

[2016-02-02 21:49] gopinatht commented on #18161
Hello,

I am facing the exact same issue with the exact same setup. I see this issue closed with no explanation or comments. Can someone please help me and let me know what I need to do to get this working?

Thanks
Gopinath

[2016-02-02 21:55] mikedanese commented on #11751
If you like json:

https://gcr.io/v2/google-containers/tags/list
https://gcr.io/v2/google-containers/hyperkube/tags/list

[2016-02-02 21:55] davidopp commented on #6558
I'm going to remove the flake label, since #20510 has been merged and that was the suggestion here https://github.com/kubernetes/kubernetes/issues/6558#issuecomment-177019916. We can re-add the label if it flakes again. I'm not closing the issue, because we want to deprecate the field longer-term.

[2016-02-02 22:00] davidopp commented on #20362
@ihmccreery Once your PR #20451 merges I think we should close this issue, and continue discussion in #20015. Does that sound reasonable?

[2016-02-02 22:03] janetkuo commented on #15313
Filed #20517 to enable deployments by default, enable deployments in `kubectl run`, and update related docs/scripts.

[2016-02-02 22:04] davidopp commented on #19023
Now that #20455 has merged, should we close this issue?

[2016-02-02 22:04] erictune commented on #12298
Edited my long post to clarify the section you asked about @bgrant0607

[2016-02-02 22:05] erictune commented on #12298
User has to provide both labels and selector in the `noDefaultSelector:true` case.

[2016-02-02 22:05] caesarxuchao opened #20518 "e2e flake: e2e suite.Port forwarding With a server..."
[code]
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26335/

[2016-02-02 22:06] davidopp commented on #13515
@brendandburns what are the suggested next steps for this issue?

[2016-02-02 22:06] erictune commented on #12298
Edited to rename to `noAutoSelector`

[2016-02-02 22:06] liggitt opened #20519 "`kubectl edit <list>` opens editor multiple times"
Invoking `edit` on a list should open the editor once with the entire List. It currently opens the editor multiple times, once per object.
1. Create several namespaces (a,b,c,d)
2. Do `kubectl edit namespaces`

[2016-02-02 22:07] zmerlynn commented on #20400
All recent `v1.2.0-alpha` builds are go 1.5.3, yes.

[2016-02-02 22:08] davidopp commented on #20306
@brendandburns is #20432 sufficient here and we should close until we see a recurrence, or should we leave this issue open?

[2016-02-02 22:08] mikedanese commented on #18704
I think I ran into this here https://github.com/kubernetes/kubernetes/pull/20515#issuecomment-178849102

[2016-02-02 22:09] zmerlynn commented on #20400
... but we can't do what InfluxDB did, because we have some pretty massive issues on 1.4.3. 1.4.2 was the last even vaguely happy point.

[2016-02-02 22:11] freehan commented on #17873
I think that is because elasticsearch query return unexpect results. #20364 should solve it.

[2016-02-02 22:21] #20362 closed

[2016-02-02 22:23] maclof opened #20521 "With iptables proxy, rolling updates do not always seem to work as expected."
I am trying to reproduce this issue for testing, but in my production environment with the iptables proxy, rolling updates do not always seem to work, causing our nginx proxy to 504 timeout when connecting to a service ip.

We have had to temporarily switch back to the userspace proxy as rolling updates are key to our app deployments.

@thockin

[2016-02-02 22:26] bgrant0607 commented on #12298
LGTM

[2016-02-02 22:27] ixdy commented on #13485
Closing for now. If fixing #19997 doesn't fix, I'll keep looking...

[2016-02-02 22:27] #13485 closed

[2016-02-02 22:27] #19023 closed

[2016-02-02 22:30] jlowdermilk commented on #20486
cc @jmastr @thomasfricke

[2016-02-02 22:31] gmarek commented on #19895
@dchen1107 - we should and at some point I tried to make reboot tests work this way, but I obviously failed (or maybe I did it only for some subset of tests - I'm not quite sure).

[2016-02-02 22:35] lavalamp commented on #20268
A readiness probe sounds like a reasonable thing to try.

[2016-02-02 22:38] gmarek commented on #20400
At this point it seems tat using 1.5.3 makes us violate our SLO for API call latencies on 1000 Node clusters. We can either loosen the SLO for big clusters or revert to 1.4.2. We can also hope to make enough improvements in the current code, but given how close we are to v1.2 I doubt we'll make it:/

cc @smarterclayton @timothysc @wojtek-t @davidopp @brendandburns @thockin

[2016-02-02 22:39] MikeSpreitzer opened #20522 "master and minion conflict wrt flannel in cluster/ubuntu/util.sh"
When a node is both master and minion --- that is, the `provision-masterandnode` function in `util.sh` is invoked, the flannel files for both master and minion are copied to the same node.  That looks bad, the file names are the same but the contents are different.

[2016-02-02 22:42] dchen1107 commented on #19895
@gmarek I just saw the latest failure. let me take over this one.

[2016-02-02 22:47] yujuhong commented on #20379
@AdoHe, I think your problem is slightly different.

I was able to reproduce your problem by forcing a non-graceful pod deletion: `kubectl delete pod busybox --graceful-period=0`
[code]

1. The first UPDATE sets the DeletionTimestamp and DeletionGracePeriod=0. kubelet's pod worker (a separate goroutine) picks up the work and starts killing the pod.
2. The REMOVE operation comes after the pod objec

[2016-02-02 22:48] bgrant0607 commented on #20519
cc @janetkuo

[2016-02-02 22:53] Random-Liu commented on #20379
@yujuhong But it is still something wired in @AdoHe's log. Why there are two `UPDATE`s before `REMOVE`.

[2016-02-02 22:54] thockin commented on #20521
More details?  Is it that propagation of endpoint changes is happening, but
too slowly?  Or is propagation not happening?

On Tue, Feb 2, 2016 at 2:24 PM, Marc Lough <notifications@github.com> wrote:

[2016-02-02 23:00] yujuhong commented on #20379
Yes, that's strange. For the record, I can't reproduce this (double teardown) with graceful termination (the normal DELETE).

@AdoHe, what's the version of your kubelet? From the log content, it doesn't seem like HEAD.

[2016-02-02 23:03] bgrant0607 commented on #20381
@michael-golfi Which example did you try? The one from the user guide?
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md

What did you update? The image tag, to 1.7.9?

Link to stackoverflow thread?

You don't need to create the RC first. Deployment does that for you.

Prior to the update were the replicas Ready?

Could you try the code at HEAD? Deployment was alp

[2016-02-02 23:13] jlowdermilk commented on #20516
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-02 23:13] #20516 closed

[2016-02-02 23:25] erictune commented on #12298
Converted to document in #20524

[2016-02-02 23:27] jlowdermilk commented on #20497
How are you issuing `DELETE` requests? Can you paste the kubectl command you are using as well as the output of `kubectl get pods --namespace=YOUR_NAMESPACE`

[2016-02-02 23:31] bprashanth commented on #17873
Weirdly hit the same unrelated pr twice, but it looks like the fix just got merged
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26353/
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20464/kubernetes-pull-build-test-e2e-gce/26353/

[2016-02-02 23:42] davidopp commented on #20494
@jsafrane You attached PR #20210 to this issue -- are you saying it should fix this issue? I didn't understand the connection.

[2016-02-02 23:43] davidopp commented on #20498
cc/ @dchen1107

[2016-02-02 23:45] davidopp commented on #20498
Sorry, ignore this @dchen1107 , I was thinking of mirror pods, but the term here is "phantom pods" which has nothing to do with it.

[2016-02-02 23:49] yujuhong commented on #18704
From the log:
[code]

This particular failure has nothing to do with the container startup.

[2016-02-02 23:52] ihmccreery commented on #20235
@luxas Yes, but per @zmerlynn's comment above, which I agree with, we don't want to backport #19061 to v1.1.  So going forward, these images will be released, but not for v1.1.

[2016-02-02 23:56] bprashanth commented on #20268
I'll try to do so today, but if anyone wants to step in, IIRC the test create -f examples/pod.json, you'll have to change this to read the json to a struct (maybe like https://github.com/kubernetes/kubernetes/blob/d3b869ae14db522e5fca91a295b8bc870713013f/test/e2e/serviceloadbalancers.go#L267), insert a probe and then create via client.

[2016-02-03 00:03] yujuhong commented on #17873
Still flaking:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10846/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10847/

[2016-02-03 00:19] bgrant0607 opened #20527 "Client library should support patch"
Since it's supported by the API, we'd like to use it in kubectl (#20437), and [users find Update confusing](https://groups.google.com/forum/#!topic/google-containers/_kCOnibZEqs).

We should probably rename "Update" to "Replace", also, as we did in kubectl.

cc @lavalamp @caesarxuchao @soltysh @kargakis

[2016-02-03 00:24] Random-Liu commented on #19720
With the help of @dchen1107, we found an error in docker.log:
`Handler for POST /exec/70cb86d2234f3423b436fc619ce0a7613aa9d0b29027a51e6f1cb32999680d5e/start returned error: Content-Type specified (plain/text) must be 'application/json'`

[2016-02-03 00:30] dchen1107 commented on #19720
With respect to Content-Type error with 1.10-rc: here is the issue opened against go-dockerclient library: https://github.com/fsouza/go-dockerclient/issues/455

Looks like docker 1.10-rc dropping support plain/text.

[2016-02-03 00:34] ihmccreery commented on #19715
After adding some logs, it looks like the client doesn't like that it's getting back an object that doesn't have an `apiVersion`:

[code]

cc @caesarxuchao

[2016-02-03 00:35] ihmccreery commented on #20459
After adding some logs, it looks like the client doesn't like that it's getting back an object that doesn't have an `apiVersion`:

[code]

cc @caesarxuchao

[2016-02-03 00:36] ihmccreery commented on #20459
@caesarxuchao Do we expect the apiserver (v1.1) to be providing an `apiVersion`, or is the client (v1.2) doing something wrong here?

[2016-02-03 00:44] caesarxuchao commented on #20459
v1.1 apiserver does not provide an apiVersion if it's responding to a request of extensions resource, so it probably is the v1.2 client's fault.

[2016-02-03 00:50] dchen1107 opened #20529 "Investigate load balancer pod failure in gce / coreos / rkt environment"
cc/ @yifan-gu for more detail information.

[2016-02-03 00:53] yujuhong commented on #20418
ref: #9896. We should add timeout to all blocking (docker) calls. This feature is not yet provided by go-dockerclient

[2016-02-03 00:53] Random-Liu commented on #16670
We met similar issue when validate docker 1.10 #19720. I'm not sure whether they are the same issue, just FYI.

For our case, it turns out that the `go-dockerclient` is using `ContentType: plain/text`, while docker only accepts `ContentType: application/json`.

[2016-02-03 00:59] ihmccreery commented on #20459
Looks like `func (s unstructuredJSONScheme) Decode` expects there to be an `unstruct.APIVersion` (https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/unstructured.go#L53).  I'll pass it off to you to decide what should be done about this, but we definitely do want v1.2 clients to be able to take errors from v1.1 apiservers.

[2016-02-03 01:06] caesarxuchao commented on #20459
Thank you @ihmccreery for digging into this. @smarterclayton, I think before returning an error at L53, we should check if unstruct.Kind belongs to the unversioned group, if so, we should not return the `NewMissingVersionErr`, what do you think?

[2016-02-03 01:13] bprashanth commented on #20503
@jlowdermilk do we periodically cleanup /tmp on the machines the unittests run on?

[2016-02-03 01:19] qq690388648 commented on #20479
@thockin If I did not misunderstand, what you mean is that the newer iptables proxier does not have the problem of iptables rules flushing slowly, and the older userspace proxier does not have solution to that problem. Is that correct?

[2016-02-03 01:20] HardySimpson commented on #20504
@kevin-wangzefeng @magicwang-cn @alfred-huangjian

[2016-02-03 01:22] freehan opened #20530 "unit flake: k8s.io/kubernetes/cmd/libs/go2idl/generator"
https://app.shippable.com/builds/56b1302ca77c0d0b00da987b

`FAIL   k8s.io/kubernetes/cmd/libs/go2idl/generator 0.145s`

[2016-02-03 01:23] magicwang-cn commented on #20504
great news!

[2016-02-03 01:25] bgrant0607 commented on #18363
Also suggested by #19444

[2016-02-03 01:27] #19435 closed

[2016-02-03 01:27] jlowdermilk commented on #20503
I think we do clean out /tmp, but I don't know if it can happen during the test. @ixdy, @spxtr, @ihmccreery could better answer.

[2016-02-03 01:28] #20414 closed

[2016-02-03 01:34] dchen1107 commented on #19720
https://github.com/docker/docker/releases/tag/v1.10.0-rc3 was cut

[2016-02-03 01:35] lavalamp commented on #19715
This sounds like 1.1 types is configured incorrectly, that should be registered. @nikhiljindal what do you think?

[2016-02-03 01:36] Random-Liu commented on #20454
From v1.15 API changes in https://docs.docker.com/engine/reference/api/docker_remote_api/, we can see that the HostConfig at container create is added from APIVersion=v1.15, DockerVersion=v1.3.x.

I'll send a PR to stop passing HostConfig to container start.

[2016-02-03 01:36] kargakis commented on #20527
I was thinking about this and I totally agree. We already use it in a couple of places in the client (kubectl label, annotate, edit) and it would be more convenient to provide it as part of the client interface.

[2016-02-03 01:44] gopinatht commented on #12381
+1 on this issue. Is the fix available in V1.1.7? I used this version today and I still get the error "InvalidConfigurationRequest: ELB cannot be attached to multiple subnets in the same AZ."

[2016-02-03 01:50] lavalamp commented on #20527
Heh, I was just telling @krousey that patch was a good reason to want to do updates with the dynamic client he's working on. It would be nifty if we made it convenient to do patches with the Unstructured objects.

[2016-02-03 01:51] ixdy commented on #20503
This is `release-1.1`, so these tests are all using a [hard-coded path](https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/kubelet/network/cni/cni_test.go#L44-L45).

Most likely a test case running in parallel is deleting the files.

[2016-02-03 01:51] lavalamp commented on #20527
@caesarxuchao Maybe we can also think about adding a Patch method to the generated clients. I can imagine taking a json patch directly, or maybe it'd be convenient if we let people pass an old and new object and the client library could produce the patch automatically.

[2016-02-03 01:52] ixdy commented on #20503
Since unit tests are running in a container, separate test runs or processes on Jenkins shouldn't affect a given run.

[2016-02-03 01:54] yujuhong commented on #16627
IMO, there are two main pain points with mirror pods in today's implementation.
 1. Mirror pods behaves very differently than other pods. This complicates the kubelet codebase, making it error-prone, and/or increases the difficulty of debugging. If we decide to keep mirror pods in the future, perhaps it's for the best to decouple mirror pods from regular paths in kubelet and move all operations in

[2016-02-03 01:59] Random-Liu commented on #19720
I'll test rc3 after I've done with rc2. Fortunately, after fix the go-dockerclient code locally, almost all the test failed before passed now. I'll post specific result soon.

[2016-02-03 02:00] AdoHe commented on #20379
@Random-Liu @yujuhong I am using kubernetes 1.1.4, I did a little bit update but it will not impact delete logical. I think the really wired is there are two `UPDATE`s before `REMOVE`, even I am doing a normal DELETE, also because of double teardown, I have to make delete operation idempotent, or resource leak will happen.

[2016-02-03 02:02] bprashanth commented on #20503
How come we only seem to have collected the xml files from http://kubekins.dls.corp.google.com/job/kubernetes-test-go-release-1.1/3478/console ? don't we usually grab stdout as well

[2016-02-03 02:04] AdoHe commented on #20379
@yujuhong guess we should make somewhat synchronous between the pod worker and periodically cleanup routine.

[2016-02-03 02:11] jtblin commented on #12381
I submitted a PR (#17912) for that but there is some discussion around whether it is actually needed.

Tagging the subnets properly fixed the issue for me in the meantime, see https://github.com/kubernetes/kubernetes/blob/master/docs/design/aws_under_the_hood.md.

[2016-02-03 02:19] #20363 closed

[2016-02-03 02:21] ixdy commented on #20503
The [PR to save stdout](https://github.com/kubernetes/kubernetes/pull/15129) landed in `master` but not `release-1.1`.

[2016-02-03 02:23] bprashanth commented on #20503
So can this happen on 1.1? or unitests run in containers everywhere

[2016-02-03 02:24] #17518 closed

[2016-02-03 02:26] jlowdermilk commented on #19997
After looking at above logs digging some more, it looks like this flake has the same root cause as #19466, namely `kubectl exec` hanging because of a race closing the spdystream connection. The fix there should also resolve this.

[2016-02-03 02:28] ixdy commented on #20503
Unit tests run in containers, but [we pass -p=2](https://github.com/kubernetes/kubernetes/blob/release-1.1/hack/jenkins/test-dockerized.sh#L52) to `go test`, so it's possible that two test cases in the same run could be colliding.

[2016-02-03 02:29] bprashanth commented on #20503
ick. thanks for the answers.

[2016-02-03 02:35] Random-Liu commented on #19720
After fix the `go-dockerclient` locally, the only test failed now is: `[It] should be able to add nodes`. It seems that new node never comes up.

The full output of the test is [here](https://gist.github.com/Random-Liu/47535dc01cccabebfb8b).

[2016-02-03 02:47] jlowdermilk commented on #20518
Another occurrence in [kubernetes-e2e-gke/293](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/293).

The port forwarding was successful, but it's failing to read an expected log line in the output of `kubectl logs -f`. Failure line is [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/portforward.go#L153). This could be a test issue; the other port fo

[2016-02-03 03:07] timothysc commented on #20400
we (red hat) will not switch to 1.5.X for a while because it has to go through our channel update process.  That being said, I thought @wojtek-t was running 1.5.X for a while earlier and the number were passing.?.?

[2016-02-03 03:07] jlowdermilk commented on #20402
2 more failures from todays test runs: [kubernetes-e2e-gce/10850](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/10850), [kubernetes-e2e-gce/10855](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/10855)

[2016-02-03 03:10] bprashanth opened #20537 "Cluster teardown leaks default firewall rules"
I enabled a suite with `${FAIL_ON_GCP_RESOURCE_LEAK:="true"}` and it started complaining, thus:
[code]

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/1/consoleFull

It created those rules though, so why didn't teardown delete them? or am I just misusing a feature?
@kubernetes/goog-testing

[2016-02-03 03:12] ixdy commented on #20537
I don't think we ever clean up the default rules.

[2016-02-03 03:14] bprashanth commented on #20537
Weirdly it doesn't complain on other builders though? or is this something I should just disable unless i really want

[2016-02-03 03:16] ixdy commented on #20537
I imagine it complained after the first run since this was a new project with no default routes or firewall rules. It probably won't fail again.

[2016-02-03 03:17] bprashanth commented on #20537
Oh, hrm, pologies for the noise then

[2016-02-03 03:17] #20537 closed

[2016-02-03 03:25] bgrant0607 commented on #16627
@yujuhong In what ways are mirror pods different than other pods?

Self-hosting would help because it would enable us to get the benefits of mirror pods without actual mirror pods.

[2016-02-03 03:44] gopinatht commented on #17790
+1 on this. @kelcecil Is the PR already submitted for this?

[2016-02-03 03:47] bprashanth commented on #17790
@kelcecil sure a backoff pr sounds like a good fix, if you're still interested. Sorry for the delay @kubernetes/goog-cluster fyi

[2016-02-03 04:27] AdoHe commented on #20479
@qq690388648 we are going to replace the userspace proxier with iptables proxier.

[2016-02-03 04:28] fejta opened #20538 "Create yaml files for cAdvisor, heapster and node jobs"
We need to commit all the jenkins job configurations into yaml files. Otherwise the yaml updater will soon delete these jobs. Please see https://github.com/kubernetes/kubernetes/issues/18122 for example PRs

[2016-02-03 04:37] pmorie commented on #20403
Wasn't able to repro today, will continue tomorrow.

[2016-02-03 04:47] davidopp commented on #20402
ref/ #18210

[2016-02-03 04:58] bgrant0607 commented on #2349
@smarterclayton How much work is there left to do on protobuf?

[2016-02-03 05:08] mqliang opened #20540 "ETCD becomes the bottleneck of cluster when we have 1K+ nodes"
ETCD becomes the bottleneck of cluster when we have 1K+ nodes.

After close scrutiny, it's the 1K+ nodes frequently send PUT request to ETCD to update it's status(every 10s using default configure), which give ETCD  a big burden.

May I suggest, instead:
***Let NodeController initiatively do the health check. Thus we could significantly reduce the number of request sent to ETCD.***

IIRC, in kuber

[2016-02-03 05:16] smarterclayton commented on #2349
* Merge the serializer implementation
* Add dev tooling (protoc in an image to run hack/update-generated-protobuf)
* Finish the watch implementation refactor (to support multiple types of
streaming protocol), which is mostly complete
* Determine a versioning policy on protobuf schema (internal only for 1.3,
experimental, etc)
* Review the generated protobuf schema by an expert and the details of t

[2016-02-03 05:18] smarterclayton commented on #19715
I don't think we sorted out the unversioned stuff until the 1.2 branch
started, so it might be expecting "v1" "DeleteOptions" under the extensions
API group.

On Tue, Feb 2, 2016 at 8:35 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-02-03 05:20] smarterclayton commented on #20459
Agree.  It's horrifying, but we have to roll with the punches on backcompat.

[2016-02-03 05:22] mqliang commented on #20540
For large cluster, it's not reasonable if we just have one health-check routine. We could use several routines to make health check. And the number of routines could be self-adoption. Any thought?

[2016-02-03 05:31] manojlds commented on #12381
So what if I want some ELBs to be in private and some in public subnets? Is that something people think as being valuable? Currently, all my ELB management is via Terraform, and I only use NodePort in Kubernetes. More control on ELBs from k8s would be very helpful.

[2016-02-03 05:36] gopinatht commented on #12381
@manojlds Just curious, how do you use NodePorts? Do you just assign some static IP to a minion/node and use the port with it?

[2016-02-03 05:38] ArtfulCoder commented on #20475
The only todo that I had in the kubeproxy.go e2e tests are here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubeproxy.go#L188

Basically, trying to hit 127.0.0.1:nodeport from the node itself fails.
I don't know if we addressed this yet.

From the stackoverflow service config, it does not seem that the user was
using node ports at all.

On Tue, Feb 2, 2016 at 7:13 AM, TonyAdo <n

[2016-02-03 05:44] manojlds commented on #12381
@gopinatht - i point the ELB at the ASG of kubernetes nodes and configured to look at the NodePort for the corresponding service.

[2016-02-03 05:47] gopinatht commented on #12381
@manojlds thanks! did not know we could do that but that makes sense.

[2016-02-03 05:59] ArtfulCoder commented on #20475
I removed the TODO in the test and it passes.
Essentially, 127.0.0.1:nodeport works too..

( I will send out a seperate PR with the test update)

On Tue, Feb 2, 2016 at 9:38 PM, Abhi S. <abshah@google.com> wrote:

[2016-02-03 05:59] roberthbailey commented on #13515
http://kubekins.dls.corp.google.com/view/GKE/job/kubernetes-e2e-gke/301/ failed with leaked firewall rules, forwarding rules, and target pools after the `Services should be able to change the type and nodeport settings of a service` test failed (which is probably related).

[2016-02-03 06:14] thockin commented on #20479
That is my feeling.

On Tue, Feb 2, 2016 at 5:19 PM, 孙庚泽 <notifications@github.com> wrote:

[2016-02-03 06:15] qq690388648 commented on #20479
@AdoHe  Understood!
Thanks again!

[2016-02-03 06:15] #20479 closed

[2016-02-03 06:26] davidopp commented on #20498
cc/ @gmarek

[2016-02-03 06:31] caesarxuchao commented on #20527
We have an example of Patch for event: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/generated/legacy/unversioned/event_expansion.go#L79, it's taking a json patch directly. We can start with that.

[2016-02-03 06:37] bprashanth opened #20547 "service controller sometimes doesn't notice modified service types"
Or it silently notices, and we should add clarity.

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26411/#
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20464/kubernetes-pull-build-test-e2e-gce/26411/
[code]

Brief scanning of controller manager logs shows:
[code]

Which matches up to when it was created.

[code]
Which matches whe

[2016-02-03 06:37] erictune opened #20548 "Flakes in Services NodePort tests"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26454/#

Test Result (2 failures / +2)
Kubernetes e2e suite.Services should be able to create a functioning NodePort service
Kubernetes e2e suite.Services should be able to change the type and nodeport settings of a service

Change had nothing to do with services or nodePorts, so I think these must be flakes.

[2016-02-03 06:39] erictune commented on #20548
[code]

[code]

[2016-02-03 06:45] bprashanth commented on #20548
Duping to https://github.com/kubernetes/kubernetes/issues/20402

[2016-02-03 06:45] #20548 closed

[2016-02-03 06:51] pmorie opened #20549 "hack/update-codegen.sh doesn't correctly generate expansions"
During #20544, I found that when I added client generation for a new type, the `Expansion` type for that type was not generated correctly, and I had to add:

[code]

to `pkg/client/typed/generated/legacy/unversioned/generated_expansion.go`

[2016-02-03 07:08] AdoHe commented on #19775
@bgrant0607 I just update the get rc display:
[code]
Also I update job controller:
[code]
For other controllers, I think service and daemonset show keep similar.
What do you think about this? Should I update other controllers?

[2016-02-03 07:16] bgrant0607 commented on #19775
Thanks @AdoHe! Yes, I'd like the controllers to be consistent. Please update the others also.

[2016-02-03 07:17] AdoHe commented on #20540
+1 multi routines to make health check is necessary for large cluster.

[2016-02-03 07:19] wojtek-t commented on #19435
Thanks a lot for debugging and fixing it @mml and @lavalamp !

[2016-02-03 07:27] thinhduckhoi commented on #20460
Seems like no one has the same problem as me.

[2016-02-03 07:28] xiang90 commented on #20540
@mqliang For etcd v3, we introduced a concept called lease. The client can acquire lease and do low cost lease keepalive. 10k of nodes to do keepaliving should not be a problem in general.

[2016-02-03 07:28] yifan-gu commented on #20529
cc @sjpotter This is solved when dns works correctly, right? Ref https://github.com/kubernetes/kubernetes/pull/20302

[2016-02-03 07:29] xiang90 commented on #20540
Also even in today's setting, 100s of puts per second is not a big problem for etcd actually.

[2016-02-03 07:31] xiang90 commented on #20540
BTW, I am not opposite to add a "centralized" control functionality to coalesce node keepalives. But I would like to see the result/motivation for it. If you can prove this is a problem indeed with some data, then it would be great.

[2016-02-03 07:35] sjpotter commented on #20529
yes, but I have had a terrible time testing anything in GCE today, I
figured out what the problem is, it seems when docker tries to start up
many times there's a problem with a bridge device and the docker unit just
keep restarting and the master never makes any progress.

On Tue, Feb 2, 2016 at 11:29 PM, Yifan Gu <notifications@github.com> wrote:

[2016-02-03 07:43] gmarek commented on #20445
@alex-mohr can you write what size of master are you using and what load were you putting on it?

[2016-02-03 07:49] erictune commented on #19775
Thanks for updating Job!  Looks better, and will work well with my plan to
have longer selectors on Jobs.

On Tue, Feb 2, 2016 at 11:17 PM, Brian Grant <notifications@github.com>
wrote:

[2016-02-03 07:49] mqliang commented on #20540
@xiang90 We have a cluster with 1K+ node, 100s of puts per second ***alone*** is  not a big problem, but there are many other requests. When we observe etcd about to crash, we make NodeController do the health check initiatively, and move Pod and Node source to their dedicated etcd cluster, as a workaround

BTW, we observe that etcd will write snapshot every few minutes, when etcd write snapshot,

[2016-02-03 07:51] roberthbailey opened #20550 "e2e flake: unable to ping registry endpoint"
[code]

From https://github.com/kubernetes/kubernetes/pull/20149#issuecomment-178874021:

e2e failed because kubelet wasn't able to pull the ubuntu image in time (http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26352/):
[code]

[2016-02-03 07:52] roberthbailey commented on #20550
/cc @yujuhong

[2016-02-03 07:53] xiang90 commented on #20540
What is the percentage that node updates account for of all the requests? I would suggest to investigate the most significant part.

I think we need data to prove the issue.

I do not know why. Have you tried to figure out what the root cause of this?

v3 does incremental snapshot.

[2016-02-03 07:54] mqliang commented on #20540
In addition, it's hard to monitor the status of etcd cluster. When etcd under great pressure, requests will timeout, but cpu/mem usage seems has no significant increase, which make us hard to monitor and alarm.

[2016-02-03 07:56] xiang90 commented on #20540
What is the great pressure? Can you reproduce this with etcd itself?

[2016-02-03 08:03] mqliang commented on #20540
The statistic data of request sent to etcd in 20 minute:

[code]

[2016-02-03 08:04] xiang90 commented on #20540
@mqliang Again, to report any etcd issue you have to reproduce it with etcd itself. These metrics basically mean nothing to etcd.

[2016-02-03 08:12] jsafrane commented on #20494
@davidopp, this flake was found when testing the PR and k8s-bot reacted to "test this please" with this comment:

Expecting comment of the form '@k8s-bot test this github issue: #<number>'

And the bot also removed LGTM :-(. I guess someone wants to reduce number of flakes and having filled issues with all of them is the first step. That's IMO a good strategy. However, I find removing LGTM quite o

[2016-02-03 08:14] aalexand commented on #18202
@vishh Curious: experimenting with Docker v1.10-rc3 on the host, I am seeing that the cgroup for the inner docker daemon resets to /docker-daemon at some point and from that point I can't start an inner container.  Is this intentional?  Is it kubelet changing the cgroup for any docker daemon process whether it's the outer or an inner one?  I'm using Docker 1.9.1 as the inner Docker.

[code]

[2016-02-03 08:41] davidopp commented on #20494
OK, thanks for the clarification.

FWIW the new policy was described here
https://groups.google.com/d/topic/kubernetes-dev/n_HXm27OKcg/discussion

[2016-02-03 08:54] davidopp commented on #20494
@liggitt can you please take a look at this?

cc/ @erictune

[2016-02-03 08:58] wojtek-t commented on #19548
@ihmccreery sorry - I was on paternity leave for a month :)

[2016-02-03 09:00] fgrzadkowski commented on #20235
@luxas I tend to agree with @ihmccreery and @zmerlynn. Unless we have very good reasons, messing up with 1.1 is not the right thing to do. Especially that 1.2 will be here very soon.

[2016-02-03 10:13] wojtek-t commented on #19786
In the light of #20412 - can we close this one now?

[2016-02-03 10:21] gmarek commented on #20400
He was running mostly unit and integration tests. I know nothing about performance testing of 1.5.

[2016-02-03 10:39] ajessup commented on #11505
/sub

[2016-02-03 10:57] kargakis commented on #19775
Should we show both current and desired replicas for rcs? Showing only desired is misleading.

[2016-02-03 11:00] kargakis commented on #11505
Deployments also should support canary checks. Maybe the controller should run them by default.

[2016-02-03 11:06] fgrzadkowski commented on #18969
Changing priority to P1 as we have a short term solution (#20407) which allows some nodes to fail.

[2016-02-03 11:12] Fizzadar commented on #20497
@jlowdermilk I'm issuing the `DELETE` requests via curl, but the `kubectl` equivilant has the same issue:

[code]

And the pod information - until deleted the RC was creating pods over and over as none came online, hence why there are so many!:

[code]

[2016-02-03 11:15] gmarek commented on #20540
The reason was architectural, not related to the performance. We don't want to establish connections from master machine to anywhere. This allows for e.g. having a hosted master somewhere that oversees on-prem Nodes. Currently it's possible and safe, as all communication is initiated by Nodes.

I don't think that the fact that Kubelet updates node status is a performance problem by itself. I think

[2016-02-03 11:17] magicwang-cn commented on #20540
/cc @kubernetes/huawei

[2016-02-03 11:33] wojtek-t commented on #16076
Has this been fixed (sorry I was on paternity leave for last month)?
Do you need any help with this?

[2016-02-03 11:34] magicwang-cn commented on #20136
@lavalamp @liggitt
yeah, i know that. but should not Stream() function take a test with as follows(`with a http.StatusForbidden response code, which is out of range with 200 to 300, if so, the test will failed with using nil pointer`), just like Watch()?

[code]

[2016-02-03 12:07] wojtek-t commented on #19525
@bprashanth - since #19970 is merged, can you please verify that it is fixed?

[2016-02-03 12:23] mateeyow commented on #15103
@erictune I have this version:

[code]

[2016-02-03 12:23] piosz opened #20552 "e2e flake: KubeProxy should test kube-proxy"
The test failed 2 times in slow suite:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1793/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1794/

No changes were merged this time.

Creating new issue as requested in https://github.com/kubernetes/kubernetes/issues/17781#issuecomment-173322936

[2016-02-03 12:24] piosz commented on #20552
Yet another
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/1790/

[2016-02-03 12:26] wojtek-t commented on #19902
I think that list watcher doesn't have such check, but it's highly unprobably for it to "walk back in time". And it should be very straighforward to add a check for it.

[2016-02-03 13:19] gmarek commented on #20400
It won't be a surprise for anyone, but I confirmed that it's go1.5. Results from 1000 node kubemark from commit 83a6b7fcaa2869744c7929b0c9b568168df60a10 (Merge pull request #19957):
[code]

from commit d26f4e15839a23b3350ffaa0575995ee81ddda50 (Up to golang 1.5.3):
[code]

Results are repeatable.

[2016-02-03 13:23] wojtek-t commented on #18266
Sorry for jumping late into discussion - I was on paternity leave for a month.

Generally, I kind of agree with Daniel, that if increasing the size of cache helps, we have much more serious problem and we shouldn't fix it by changing cache sizes.

- Watch cache holds fixed size of a queue of data.
- Watch cache is update really fast because there are a lot more state changes than it can hold
- Cac

[2016-02-03 13:27] dohnto commented on #16051
I can encounter similar behaviour. Can you please explain me the behaviour?

Content of `rc.yml`
[code]

[code]

[code]

My question is, why was the readiness probe run so early when I set `initialDelaySeconds: 100`. After some time (probably the 100 secs, the pod is marked as **ready**, but no event is generated).

[code]

[2016-02-03 13:28] therc commented on #20314
This is pretty bad. It generates a lot of garbage in CloudTrail.

[2016-02-03 13:53] MikeSpreitzer commented on #17677
Resolved by PR #20438

[2016-02-03 13:53] #17677 closed

[2016-02-03 13:57] MikeSpreitzer commented on #20522
@zmerlynn Can you please confirm this?  I think the resolution will be easy, it will mainly be a matter of removing duplication and resolving to let upstart make flannel follow etcd on such a combined machine (just as it does on a pure worker machine).

[2016-02-03 14:00] MikeSpreitzer commented on #20522
FYI, I noticed this while working on https://github.com/MikeSpreitzer/kubernetes/commit/7df8d2c114746d348b3a9329a0d48aff82f980b6 (to resolve issue #20292)

[2016-02-03 14:15] wojtek-t commented on #20400
@timothysc - yes I was running Go 1.5, but only on 100-node clusters, where we don't see that significant difference.
It seems that on 1000-node clusters, the difference is much bigger (2x ?), and Go 1.5 makes things much worse...

[2016-02-03 14:19] wojtek-t commented on #20504
I'm also interested in it and may be able to help with that a bit...

[2016-02-03 14:49] wojtek-t commented on #20540
@kubernetes/sig-scalability

[2016-02-03 14:50] druidsbane commented on #17994
On AWS /mnt/ephemeral is out of disk space but the root is pretty empty.  I have 19 exited but not garbage collected containers and a couple of dangling images as well.  The PODs are dying on FailedSync not OutOfDisk.  I'm on 1.1.4 so I would expect that this would trigger GC but since we aren't hitting that state any ideas on how to deal with this?  Will GC happen on the 1.1.4 version or do I nee

[2016-02-03 15:02] wojtek-t opened #20554 "e2e flake: "Services should be able to up and down services""
Failure [120.140 seconds]
    Services
      /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:896
    should be able to up and down services [It]
      /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:265

    Expected error:
        <*errors.errorString | 0xc8206d93f0>: {
            s: "service verification failed

[2016-02-03 15:03] wojtek-t commented on #20402
This happened again for me:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26500/#
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/19200/kubernetes-pull-build-test-e2e-gce/26500/?project=kubernetes-jenkins

[2016-02-03 15:08] timothysc commented on #20540
Could you please describe your deployment & tests in greater detail.

1. What tests are you running (is it high churn)
2. Have you load balanced your api-servers
3. Have you sharded events?
4. Could you grab your api-server metrics to show the counts of operations.   As well as the latency of operations.
5. Are you running a full-secure deployment.
...

The more detail, the better.

[2016-02-03 15:09] wojtek-t commented on #15945
Actually, @lavalamp added timeout in #20433

[2016-02-03 15:11] timothysc commented on #20504
With the storage work done, you should be able to wholesale prototype a new back-end and not have to transform the existing.  The testing jig will need to be updated though.

[2016-02-03 15:13] wojtek-t commented on #20554
@kubernetes/goog-cluster

[2016-02-03 15:14] alfred-huangjian commented on #20262
cc @kubernetes/huawei

[2016-02-03 15:14] timothysc commented on #20400
@gmarek are you still running single master configuration at 1000.  I'm guessing this is a function of how often gc is getting kicked.

If you spread the load what are the results?   Anything above 100 I would always recommend 3.

[2016-02-03 15:18] wojtek-t commented on #20400
Yes - we are running single master. I think that 1000 nodes is few enough so that we should handle it with a single apiserver (and note that we can handle it with Go 1.4.2).
From performance perspective it seems that Go 1.5.3 doesn't provide any value, and makes the metrics worse...

[Note that I still think that we should upgrade to Go 1.5.3 at some point, but the question is whether we are ready

[2016-02-03 15:20] kelcecil commented on #17790
@gopinatht @bprashanth The PR isn't submitted yet, but I can possibly get to it in the next week. If someone else wants to take it, then please feel free.

[2016-02-03 15:26] saturnism opened #20555 "Ingress on GKE creates a HTTP Loadbalancer, but instances are marked as unhealthy"
Hi,

I tried to use a very simple Ingress on GKE:
[code]

However, I cannot invoke any HTTP requests to the service. Upon investigating this in the console, it looks like that:
1. a HTTP load balancer was created, as expected
1. a default health check was created checking /healthz on port 32383
1. health checks are failing

Questions are:
1. Is that expected behavior?
1. Should k8s have automatica

[2016-02-03 15:32] AdoHe commented on #20497
@Fizzadar have you ever tried to restart kubelet? can you provide api-server and kubelet log?

[2016-02-03 15:33] yossi-cohen opened #20556 "service account kube-system/default was not found in ubuntu"
hi

i'm trying to run with k8s version 1.1.7
i updated config-default  script and removed DenyEscalatingExec key from ADMISSION_CONTROL(otherwise its not working)

after that i tried to run kube-ui (or any other pod with kube-system namespace)  without any success

in  kube-controller-manager.log  i saw the following error

**unable to create pod replica: Pod "kube-ui-v4-" is forbidden: service ac

[2016-02-03 15:35] AdoHe commented on #20470
I am willing to do a more deep investigate.

[2016-02-03 15:48] AdoHe commented on #19775
@erictune @bgrant0607 I just update other controllers, I opened a PR #20557, would you mind reviewing this?

[2016-02-03 15:52] therc commented on #20314
This is weird. There are checks in ensureSecurityGroupIngress not to add ingress permissions that are already there: https://github.com/kubernetes/kubernetes/blob/5a6cf15c09e18597e3ab32585d0e1f1abb53ee33/pkg/cloudprovider/providers/aws/aws.go#L1500

cc: @justinsb

[2016-02-03 15:57] therc commented on #20314
For the record, I'm getting this:

[code]

[2016-02-03 15:58] Fizzadar commented on #20497
@AdoHe I did try a full restart of all kube-* services across the entire cluster, with no luck. Unfortunately we've now re-built our cluster as a quick fix so I no longer have logs access. I did discover a job which potentially created the issue, my working theory:

+ RC w/3 replicas created, all normal
+ Job with superset selectors of the RC created
+ RC sees new job pod and attempts to remove it

[2016-02-03 16:27] ihmccreery commented on #20459
cc @kubernetes/kube-api If that works for you all, I will send a PR.

[2016-02-03 16:29] luxas commented on #20235
@fgrzadkowski @ihmccreery I think we're not understanding each other. Sorry.
I do not think or propose that we should backport #19061 to the `release-1.1` branch.

The thing I would like though, is that @fgrzadkowski pushes all `hyperkube` images on the >= 1.0.1 as `hyperkube-amd64` too. You just have to run this script:

[code]
The thing I want is harmonized pushes between `hyperkube` and `hyperk

[2016-02-03 16:34] bgrant0607 commented on #20459
@ihmccreery SGTM. Please add an explanatory comment.

[2016-02-03 16:39] bgrant0607 commented on #19775
@kargakis Yes, desired and current SGTM. Eventually I'd like to add more status info to the API, as with Deployment, but let's show what we have.

[2016-02-03 16:42] smarterclayton commented on #19902
I would probably like the client even to have that logic - however we would
have to deserialize the body today for that so it's probably more complex
than not.  In the future we discussed returning a header always that
represented the resource version of the resource, which would be easier for
a client to indicate.

On Wed, Feb 3, 2016 at 7:26 AM, Wojciech Tyczynski <notifications@github.com

[2016-02-03 16:43] Fizzadar commented on #20497
Nevermind - the _exact_ same issue has happened again. Except this time the job has completely different labels. So I looked at the logs - there's actually nothing logged when I issue `DELETE` requests to the API - is that normal? It's as if the request never actually reaches the API/scheduler, because nothing happens.

`DELETE` still working for services/rcs so only pods are failing now.

[2016-02-03 16:44] nawazdhandala commented on #18975
How is it now? Does it still respond?

[2016-02-03 16:48] carolinebeauchamp commented on #18975
I've been running on a t2.small instance for several days now with no particular problem, having had problems on a t2.micro instance.

[2016-02-03 16:49] nawazdhandala commented on #18975
Thank you so much. I'll try on a small instance.

[2016-02-03 16:54] dtatulea commented on #20486
Something that tcpdump didn't show was the ICMP redirect packet:

[code]

If the interfaces have send_redirect disabled the ICMP the tcp connection is not reset like mentioned [here](http://unix.stackexchange.com/questions/57941/linux-always-send-icmp-redirect), the tcp connection is not reset:

[code]

However, there are still duplicate packets coming from the actual bridge interface.

[2016-02-03 16:56] luxas commented on #20514
I'm interested in this line:
[code]
The cloud provider message isn't an error. Maybe you're missing `/bin/findmnt` on your host system?

[2016-02-03 17:18] smarterclayton commented on #20400
Have we tried the GC tuning recommended in the golang issue?

On Wed, Feb 3, 2016 at 10:19 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-02-03 17:23] smarterclayton commented on #16076
I have not yet broken free - it's a 1.2 blocker for me though.

On Wed, Feb 3, 2016 at 6:33 AM, Wojciech Tyczynski <notifications@github.com

[2016-02-03 17:24] cyates81 commented on #8019
+1 on 1.1.7

[2016-02-03 17:31] Random-Liu commented on #19720
I run e2e test for rc3 with local fix of `go-dockerclient` over night, finally got 7 failures:

[code]
The full output is [here](https://gist.github.com/Random-Liu/468ced9480564fb536cd)

I'll try these 7 test separately later.

It is worth mentioning that the test `[It] should be able to add nodes` fails for both rc2 and rc3, I'll look into it to see what happened.

[2016-02-03 17:35] ihmccreery opened #20561 "e2e: Services should work after restarting... are causing builds to time out"
cc @k8s-oncall

[2016-02-03 17:35] ihmccreery commented on #20561
See http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-serial and http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial

[2016-02-03 17:36] ihmccreery commented on #20561
#18804 seems like a decent candidate, but haven't verified.

[2016-02-03 17:39] ihmccreery commented on #20561
The regression was introduced between `v1.2.0-alpha.7.68` and `v1.2.0-alpha.7.62`.

[2016-02-03 17:42] ihmccreery commented on #20561
So it looks like it was either https://github.com/kubernetes/kubernetes/pull/20523 or https://github.com/kubernetes/kubernetes/pull/20433.

[2016-02-03 17:43] ihmccreery commented on #20561
Failures look like:

[code]

[2016-02-03 17:44] thockin commented on #20552
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-slow/1802/

[2016-02-03 17:53] lavalamp commented on #20500
@davidopp I would have expected Endpoints controller to be in control-plane?

[2016-02-03 17:58] lavalamp commented on #20561
I can totally believe it wasn't able to reach backends on every node considering not all the nodes came up-- there's a failed reboot test immediately before this test.

[2016-02-03 17:59] lavalamp commented on #20561
Longer log excerpt:

[code]

[2016-02-03 18:01] lavalamp commented on #20561
We know it's not failure of apiserver to start, because it was able to create pods. I don't think this is either of the mentioned PRs.

[2016-02-03 18:04] bprashanth commented on #20470
Sure, @adohe i have a pending pr that does some small amount of performance cleanup https://github.com/kubernetes/kubernetes/pull/20471. The larger issue is: if i push services through, does the kube-proxy lag, and why? Suggest the following steps:
1. Start with the service latency test, and see (via log lines) how long it takes for the Nth service to get created
2. How long it takes to switch the

[2016-02-03 18:06] lavalamp commented on #20550
That log message looks like gcr.io was unreachable, not that it took a long time.

[2016-02-03 18:07] ihmccreery opened #20562 "Create a mocked release workflow"
This would have prevented the failed release of `v1.1.6`.

[2016-02-03 18:08] bprashanth commented on #20470
@AdoHe actually spare cycles will be better spent debugging https://github.com/kubernetes/kubernetes/issues/20547 since no-ones looked at it yet, if you can :)

[2016-02-03 18:08] yujuhong commented on #20550
Yes. Unless we pre-pull all test images onto the node or create a mirror registry, we are bound to hit this at times.

[2016-02-03 18:11] bprashanth commented on #20547
I think this just needs someone to poke around how the service controller manages updates, add some clarity, and figure out if the service update is getting dropped. We could even start by sending an event anytime the service.Type changes.

[2016-02-03 18:14] justinsb opened #20564 "No e2e coverage for auto-provisioned volumes"
I'm excited to see that auto-provisioned volumes are going to be in 1.2 (even if in alpha), but AFAICT there's no e2e coverage yet.

[2016-02-03 18:15] lavalamp commented on #20001
No, not fixed: https://github.com/kubernetes/kubernetes/blob/master/hack/test-cmd.sh#L252

[2016-02-03 18:15] lavalamp commented on #20001
We still need to reenable this code. I was unaware that it'd been disabled.

[2016-02-03 18:16] bprashanth commented on #17790
Next week sound good, I'll wait for it unless @gopinatht want's to jump in

[2016-02-03 18:17] lavalamp commented on #20001
I made a reversion PR.

[2016-02-03 18:18] lavalamp commented on #20498
Yeah I added this test when I fixed a serious bug in the scheduler. It's a major problem if this is a legit system failure.

[2016-02-03 18:19] lavalamp commented on #20518
@ncdc What do you think about @jlowdermilk's comment above ("Maybe opening and closing the connection without writing anything is racy?")

[2016-02-03 18:23] dchen1107 commented on #18969
This is not flake, instead of a broken feature or bad test like I mentioned above. We should fix the feature by introducing error handling here. Remove flake label.

[2016-02-03 18:28] lavalamp commented on #20097
I think this has been a big success so far. Can we just close this? Is there more action to take?

[2016-02-03 18:39] yujuhong opened #20566 "Stressed kubelet may start multiple goroutines for tasks (kubelet.Run())"
The cluster was created yesterday with 635cf5877f9e52292d8d4930fd3c9c9aae6efeaa

I ran some tests (creating 100 pods per node, monitoring, and deleting the pod) in my cluster overnight. This morning I checked the node status and found numerous node status update failures in `var/log/kubelet.log`:
[code]

The `/var/log/kube-apiserver.log` shows only kubelet is updating the node/status object.
[code

[2016-02-03 18:45] yujuhong commented on #20566
/cc @kubernetes/goog-node to see if anyone has seen this before.

[2016-02-03 18:49] ihmccreery commented on #20561
I'm passing this off to @thockin.

I can reproduce by ssh-ing into the node and trying to run

[code]

It hangs ~indefinitely.

[2016-02-03 18:49] jlowdermilk commented on #20497
Not seeing `DELETE` in logs is definitely abnormal. If you delete a pod via kubectl, you should see a line in `/var/log/kube-apiserver.log` (on the master) like
[code]

As for why there are so many pods stuck in terminating, I don't suppose you've set `terminationGracePeriodSeconds` in the podspec for the app pods?

[2016-02-03 18:54] thockin commented on #20561
the `-T 1` is supposed to prevent hanging forever , but that seems to be wrong

[2016-02-03 18:55] ihmccreery commented on #20561
Note that in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-serial/403/, that test is the first/only one to fail, so in that case this problem isn't due to reboots failing like @lavalamp found above.

[2016-02-03 18:55] bprashanth opened #20567 "Investigate kube-proxy performance needs"
There's been awful amounts of flake in various nodeport services tests that seem to indicate a kubeproxy bottleneck. There are a couple of prs in flight that might help, but this bug is to make sure we don't let the e2e tests (which currently retry for way longer than necessary) to continue doing so.

Related https://github.com/kubernetes/kubernetes/issues/20470, https://github.com/kubernetes/kube

[2016-02-03 18:55] thockin commented on #20561
--connect-timeout= is what we really want, I think

[2016-02-03 18:56] davidopp commented on #20547
@bprashanth I suppose you don't have time to look into this?

[2016-02-03 18:58] ihmccreery commented on #20561
`wget` defaults to retrying 20 times and it's in a 150-time loop, so that gives us ~1 hour per node...

[2016-02-03 18:59] ihmccreery commented on #20561
Can we just nix the 150 loop?

[2016-02-03 19:00] ihmccreery commented on #20561
Or set `wget -t 1`?

[2016-02-03 19:01] erictune commented on #15103
Okay, you don't have support for unmodified `.docker/config.json` files.
You'll get that in 1.2.

On Wed, Feb 3, 2016 at 4:23 AM, Matthew Torres <notifications@github.com>
wrote:

[2016-02-03 19:03] bprashanth commented on #20547
Not right away. If it languishes till when I don't have a flaky test enqueued, I will add the event. Someone else will probably make faster progress though.

[2016-02-03 19:05] thockin commented on #20561
I am going with a shorter connect-timeout (0.2) and 1 try.  That should max out at 30 seconds, which is still long, but we need the large # of retries in the success case.  We could make it much more complicated and abort after some number of fails, but I really don't want to.

[2016-02-03 19:05] derekwaynecarr opened #20568 "FakeClient DeleteCollection is reporting the wrong resource for all clients"
See an example:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/generated/legacy/unversioned/fake/fake_limitrange.go#L60

@lavalamp @caesarxuchao

[2016-02-03 19:09] thockin commented on #20554
@bprashanth maybe the same?

[2016-02-03 19:11] roberthbailey opened #20570 "e2e flake: Port forwarding — kubectl timed out"
From kubernetes-pull-build-test-e2e-gce run number 26528 (which ran against a documentation-only change):

[code]

[2016-02-03 19:13] dchen1107 commented on #20550
Shouldn't this kind of failure is expected due to infrastructure? Kubelet did capture the reason why to distinguish the image is not exist or repository is unreachable. I don't think we can do much here except in the test ignore such failure. But on another side, it is a rare case, and ignoring such failure might hide the real issues here, thus I would rather not do anything here.

[2016-02-03 19:15] roberthbailey commented on #20570
The entire log of the individual failing test:

[code]

[2016-02-03 19:15] roberthbailey commented on #20570
Full logs: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20149/kubernetes-pull-build-test-e2e-gce/26528

[2016-02-03 19:17] bprashanth commented on #20554
Perhaps, will triage. services up and down is new looking

[2016-02-03 19:17] thockin commented on #20500
cluster team is overloaded on flakes right now - help?

@davidopp @alex-mohr anyone available?

[2016-02-03 19:18] thockin commented on #20403
Can we decorate logs (in a non-horrible way) to make a failure more visible?  That is a viable answer

[2016-02-03 19:20] thockin commented on #20100
update on this one?

[2016-02-03 19:21] thockin commented on #19466
What's the other PR to track?

[2016-02-03 19:22] thockin commented on #17873
@freehan what's next on this?  Seems to not be resolved...

[2016-02-03 19:23] pmorie commented on #20403
@thockin I was doing just that and found that the information is present in the logs in a log message related to the hosts file mount.  Analyzing now, it looks like on the node where the flake happened, a little over of half the containers started with the podIP unknown.

[code]

^^ example message

So, it looks like the underlying issue here is happening much more often than I personally thought.

[2016-02-03 19:32] caesarxuchao opened #20572 "Support "Delete" with UID or with ResourceVersion as precondition"
Currently we use `<namespace, name>` pair as the identifier for a delete operation, e.g., https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/pods.go#L72. However, the `<namespace, name>` pair is not unique across time, and it may lead to a race condition like #19403.
To make the Delete unambiguous, we should support
1. Delete with UID;
2. Delete with `<namepace, name>` and

[2016-02-03 19:33] bprashanth commented on #17873
Moved back into flaky in https://github.com/kubernetes/kubernetes/pull/20525, @freehan is trying for repro/solidifying the test IIUC

[2016-02-03 19:33] freehan commented on #17873
@thockin
Trying to reproduce the problem. It is running successful in flaky suite and my local cluster so far...
Will try to run it with other tests together.

[2016-02-03 19:33] caesarxuchao commented on #19403
This should be fixed by #20202.

I filed #20572 for deletion via UID or namespace/name+resourceVersion.

[2016-02-03 19:33] derekwaynecarr commented on #20568
Putting together a fix now.

[2016-02-03 19:34] luxas commented on #19185
@qq511700505 Now you can build your own `etcd` image for Kubernetes (on an amd64 host):
[code]

Soon #19769 will land and then Kubernetes will release binaries for `ppc64le` automatically on every release. So when #19769 is merged, this issue may be closed

[2016-02-03 19:34] ncdc commented on #19466
20444 referenced above

On Wednesday, February 3, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-02-03 19:42] lavalamp commented on #20568
@caesarxuchao

[2016-02-03 19:43] pmorie commented on #20403
Nevermind, it looks like most of the containers without pod IP are infracontainers.  I remember now that this is expected for the infra container.

[2016-02-03 19:47] timothysc commented on #19720
re: @vishh question in sig-node, We (red hat) are not planning to move to docker 1.10 in the 1.2 time-frame.  It will likely be in scope for 1.3 though.

[2016-02-03 19:48] caesarxuchao commented on #20568
LGTMed the PR. Thanks!

[2016-02-03 19:50] zmerlynn commented on #20400
Is there a way we can try out new Go versions / Go settings without introducing them to the entire project? This method of injecting a new cross-build image into the whole project and pulling it all the way back out just to have the scalability folks say that it's regressed is probably not long term viable. I think we can probably muddle through a separate `kubernetes-build` job for, say, an `alph

[2016-02-03 19:50] zmerlynn commented on #20400
cc @ihmccreery @david-mcmahon

[2016-02-03 19:52] davidopp opened #20576 "Make Kubernetes more bulletproof to gcloud failure"
#20306 was one instance of this, but @brendandburns says there are multiple places in kube-up and elsewhere that we need to also subject to the same hygiene.

[2016-02-03 19:53] davidopp commented on #20306
Filed, #20576, closing this one as fixed by #20432.

[2016-02-03 19:54] davidopp commented on #20489
@mikedanese is there a chance you could look into this after the feature freeze?

Do you know when was the last time the GCE upgrade tests were passing?

[2016-02-03 20:20] alex-mohr commented on #20500
@cjcullen is maybe up for cluster team flakes!  :)

[2016-02-03 20:27] davidopp commented on #20500
I'm never sure whether services should be considered control-plane or cluster.

Feel free to move it back to control-plane; as discussed at this morning's meeting nobody will be able to look at it until next week, but I think that may be true of all the teams...

[2016-02-03 20:29] gmarek commented on #20498
I looked at this failure and related code, but I had roughly half an hour for this and wasn't able to find anything wrong in this time.

[2016-02-03 20:35] davidopp commented on #20498
cc/ @mml

Yeah, yesterday I took a look at the test and didn't see any problem with the test logic either. Either it's a real system bug, or something to do with other pods that are accidentally running at the same time. Adding some more logging would be a good first step, e.g. explicitly check whether phantom.bar is actually gone at the time the test fails, so we know whether that's the reason ba

[2016-02-03 20:39] derekwaynecarr opened #20580 "ConfigMap is not deleted by namespace controller"
@pmorie - is this something you are tracking?

If not, I can fix once this merges:
https://github.com/kubernetes/kubernetes/pull/20544

[2016-02-03 20:41] derekwaynecarr commented on #20580
This would be easier when we have the generic client available to use.

[2016-02-03 20:44] mikedanese commented on #20489
Yes I can take a look next week

[2016-02-03 20:47] davidopp commented on #20489
Awesome. Ike, I'm going to reassign to Mike.

[2016-02-03 20:47] derekwaynecarr opened #20581 "Services should support DELETE_COLLECTION"
The services endpoint is an outlier and does not support collection delete.

It would be good for part of namespace termination if it did.

[2016-02-03 20:48] derekwaynecarr commented on #20581
See: https://github.com/kubernetes/kubernetes/issues/14765

[2016-02-03 20:52] derekwaynecarr commented on #20504
+1

[2016-02-03 20:53] ixdy commented on #14382
Closing as obsolete. We've improved our infra since then, too.

[2016-02-03 20:53] #14382 closed

[2016-02-03 20:53] yujuhong commented on #20566
From pprof, the kubelet has quite a few goroutines running node updates.

[code]

[2016-02-03 20:54] stevekuznetsov opened #20582 "`genswaggertypedocs` consumes input file name, not io.Reader, and panics on file not existing"
Passing a file name to `kruntime.ParseDocumentationFrom()` that doesn't exist causes a panic:

[code]

Having the tool consume an `io.Reader` (and pass it through to `parser./ParseFile`) would also be nice, to support `/dev/stdin` or other sources of input more cleanly.

[2016-02-03 21:02] Random-Liu opened #20583 "Kubelet should not rely on containerID for termination message detection."
Now kubelet creates the container log by joining `(pod metadata)+(container name)+(containerID)` [(here)](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L731), and then mount it to container by adding it to `bind` in `HostConfig` [(here)](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L739), and pass it to container

[2016-02-03 21:04] thockin commented on #16285
I've asked oncall to move this to the head of the queue.  It's hard to figure out existing flakes when the test driving them has been totally changed.  I want to re-examine all e2e/service.go flakes after tghis

[2016-02-03 21:06] thockin commented on #20570
This should not be assigned to cluster: @lavalamp @ncdc ?

[2016-02-03 21:07] Random-Liu commented on #20583
Also ref #19720

[2016-02-03 21:10] #16285 closed

[2016-02-03 21:12] Random-Liu commented on #19720
I've done separate test of these failed cases. And only the following one is failed.
[code]

[2016-02-03 21:13] derekwaynecarr commented on #20416
I think this should fix things up for you: https://github.com/kubernetes/kubernetes/pull/20267

[2016-02-03 21:14] thockin commented on #16285
#20426 is in.  I am going to close a few issues and wait for reoccurence, which is to be handled P(-1)

[2016-02-03 21:15] thockin commented on #19466
sorry, I missed that

[2016-02-03 21:23] timstclair commented on #12483
Status update:

- [ ]  https://github.com/kubernetes/kubernetes/pull/19932 - `/stats/summary` implementation **[LGTM]**
- [ ]  https://github.com/kubernetes/kubernetes/pull/19741 - disk usage stats implementation **[In review]**
- [ ]  https://github.com/kubernetes/heapster/pull/932 - update heapster Godeps with summary API **[In review]**
- [ ]  https://github.com/kubernetes/heapster/pull/927 - r

[2016-02-03 21:24] bgrant0607 commented on #18735
Also requires #489

[2016-02-03 21:24] ihmccreery commented on #20418
Another example http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26539/consoleFull

[2016-02-03 21:27] mikedanese opened #20586 "round trip test should be run on extensions and componentconfig"

[2016-02-03 21:27] #12375 closed

[2016-02-03 21:29] zmerlynn opened #20587 "Improve client validation across version skew"
While working with a customer issue, customer had a 1.0.6 `kubectl` talking to a 1.1 cluster and sent it the equivalent of the following `ReplicationController` (note the `downwardAPI` volume):

[code]

There's no way to even detect that this is a problem, the `downwardAPI` volume spec just gets stripped:

[code]

cc @brendandburns

[2016-02-03 21:31] zmerlynn opened #20588 "Add minor version skew warning to kubectl"
We should really find a way warn if you hit a newer server from a much older client.

c.f. #20587

cc @brendandburns

[2016-02-03 21:31] rideswitch commented on #20475
I tried this with type: NodePort and hitting the main node from it's node ip (as found via kubectl get nodes) and it still hangs when it gets to the pod from which I am sending the traffic.  If it would help, i have the files committed out here: https://github.com/rideswitch/kubernetes-echo

[2016-02-03 21:34] yujuhong commented on #20418
Build kubernetes-e2e-gke/318/ exhibited the same symptom: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/318/consoleFull
The supervisord log shows that docker failed its health check long before kubelet failed.
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gke/318/artifacts/104.197.223.136%3A22-supervisord.log
[code]

[2016-02-03 21:35] gmarek commented on #20498
I think that scheduler is emitting more verbose events now, after @hongchaodeng change - for this particular tests scheduling should fail because of host port conflict. If it's any other reason, it's some other test's fault.

[2016-02-03 21:37] ihmccreery commented on #20097
I'm fine with that; I think almost everything the @kubernetes/goog-testing team is working on goes toward this (very vague) issue.

[2016-02-03 21:37] #20097 closed

[2016-02-03 21:39] thockin commented on #20479
I've been thinking about this more.  There is value in having the userspace proxy as a fallback, so if someone wanted to fix this, I would help shepherd it.  I'll open a new help-wanted bug

[2016-02-03 21:41] thockin opened #20589 "kube-proxy userspace should use iptables-save and iptables-restore"
The current rule-by-rule update is slow and painful, and may be contributing to overall flakiness of tests.  It is valuable to have the userspace proxier for a while longer, so we should probably convert it to use save/restore like the iptables proxier does.

This is not too hard I think, and a good chance for community contributions.  I am happy to help shepherd.

[2016-02-03 21:47] pmorie commented on #20403
Looks like it happened 4 times to actual containers on this node that flaked during e2e.

[code]

[2016-02-03 21:53] thockin commented on #20500
We're buried in new & existing flakes - if @cjcullen has time, we'd certainly appreciate it.

[2016-02-03 21:53] madhusudancs commented on #15313
Remove the defaulting behavior that defaults RC labels and Deployment selector to pod template labels in order to be consistent with Job's defaulting behavior.

cc @bgrant0607 @janetkuo @erictune

[2016-02-03 21:56] ihmccreery commented on #20561
There seems to actually be some kind of non-test regression, too, though, in the last day.  Note that upgrade tests running 1.1 tests against a 1.2 cluster have also started hanging: http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.0-master-step4-e2e-old/

[2016-02-03 22:04] roberthbailey commented on #20570
Quintin is taking a look at this.

[2016-02-03 22:04] ihmccreery commented on #19729
Runs are here:

- http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step4-e2e-old/ (with nodes still at 1.1)
- http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step6-e2e-old/ (after nodes are upgraded)

[2016-02-03 22:08] roberthbailey commented on #20550
The image pull failed multiple times while the test was waiting for 5m for the pod to be running.

/cc @mattmoor

[2016-02-03 22:09] roberthbailey commented on #20550
The entire log of the individual failing test:

[code]

[2016-02-03 22:10] roberthbailey commented on #20550
Full logs: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20149/kubernetes-pull-build-test-e2e-gce/26352

[2016-02-03 22:11] bprashanth commented on #20554
This is a failure for the second service in the test (which spins up 3 services) to even come up. I.e we get on a hostexec pod on some node, curl the service2 endpoint 150 times, and expect to see 3 service2 endpoint hostnames show up. This does not happen, because 1 endpoint is MIA.

Good endpoints:
service2-2bzyi(e2e-gce-master-1-minion-hlpz, nodeip: 104.154.18.118:22, podip: 10.245.3.22)
servic

[2016-02-03 22:12] bprashanth commented on #20554
So yes, it's the same, i was initially confused because the nodes where the endpoints landed had fast kube-proxies, but the slow kube-proxy was on the node we ssh into to hit the service endpoints.

[2016-02-03 22:14] thockin commented on #19729
The restart kube-proxy failure is because we changed the way the proxy is
run (now it is a docker image).  I can send a patch to 1.1 e2e, but it's a
little fugly.

On Wed, Feb 3, 2016 at 2:06 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-02-03 22:14] roberthbailey commented on #20550
@dchen1107

The pull worked on the other nodes, just not this one. So I'm not sure we can conclusively point the finger at the image repository.

[2016-02-03 22:15] bprashanth commented on #20554
Duping into https://github.com/kubernetes/kubernetes/issues/20402

[2016-02-03 22:15] #20554 closed

[2016-02-03 22:17] bprashanth commented on #20567
https://github.com/kubernetes/kubernetes/issues/20402, https://github.com/kubernetes/kubernetes/pull/20471

[2016-02-03 22:24] bgrant0607 commented on #15313
Note that we're waiting for the API to stabilize before enabling Deployment by default: label selector (change to new selector and ReplicaSet), MinReadySeconds (move to DeploymentSpec), uniqueLabelKey (rename to templateHashLabelKey), and the defaulting behavior (mentioned above) at least need to be in their intended states for v1beta1.

[2016-02-03 22:24] ihmccreery commented on #19729
Ah hm.  So two different issues?  It seems to correlate well with non-version-skewed breakages: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-serial/

[2016-02-03 22:28] justinsb opened #20593 "#20098 causes e2e warning; passing zone instead of region"
@brendandburns I think this line is passing a zone where it should pass a region:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L2826

[code]

e.g. https://github.com/kubernetes/kubernetes/pull/15938#issuecomment-179502676

[code]

(Haven't yet figured out if this is actually a failed test or just a failed cleanup)

[2016-02-03 22:29] cjcullen commented on #20500
Looking now.

[2016-02-03 22:30] justinsb commented on #20593
Ah; I think this is only hit if the test has already failed (timed out waiting for the LoadBalancer to go away).  So it won't be the cause of an e2e failure.

[2016-02-03 22:31] Random-Liu commented on #19720
I turns out that the test `should be able to add nodes` failed because I hit the CPU quota limits in my gce cluster. After release some useless instance, the issue has been fixed.

So till now, with the fix of `go-dockerclient`, all the test has passed for rc2 and rc3. But there is still possibility that some test become not stable.

[2016-02-03 22:34] dchen1107 commented on #19720
@timothysc I understand that red hat is not going to move to docker 1.10 for 1.2 time-frame.

But we have to validate every docker release since k8s is open source project, and we cannot stop the user using the new docker release. Meanwhile it is very hard to ask docker to patch once they release a version.

[2016-02-03 22:34] justinsb opened #20594 "panic in kube-controller-manager logs during e2e"
While looking for an unrelated (?) problem, I found this panic in the kube-controller-manager logs for this e2e:  https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/15938/kubernetes-pull-build-test-e2e-gce/26565/artifacts/

[code]

[2016-02-03 22:35] vishh commented on #20583
A few ways to address this will be,
1. Get support for lifecycle hooks in docker :)
2. Use the container Name instead of container ID. Since each path element cannot be longer than 255 characters, we might have to reverse the container name to preserve uniqueness.

[2016-02-03 22:36] vishh commented on #20583
FYI: This issue is related to Kubelet's Termination Message collection feature.

[2016-02-03 22:38] vishh commented on #19720
How can run the latest rc against our soak and scale clusters?

On Wed, Feb 3, 2016 at 2:35 PM, Dawn Chen <notifications@github.com> wrote:

[2016-02-03 22:42] lavalamp commented on #20570
@ncdc has a PR out to update spdy & fix some races, but it's blocked on tests and @ncdc has limited availability.

[2016-02-03 22:43] vishh commented on #20100
One more note: We had a simple test that validated heapster as part of jenkins PR builder. It has been marked flaky for a while. De-flaking that is also an option to move forward.

[2016-02-03 22:46] Random-Liu commented on #20583
@vishh Thanks, :)

[2016-02-03 22:46] lavalamp commented on #20570
So it's probably a dup of #19466? @Q-Lee, if you want to pull @ncdc's PR locally and fix the test, that might get things moving.

[2016-02-03 22:46] lavalamp commented on #20518
Probably also a dup of #19466.

[2016-02-03 22:46] lavalamp commented on #20518
Potentially, anyway.

[2016-02-03 22:47] yujuhong commented on #20550
That's a valid point.

The key error message is
[code]

[2016-02-03 22:48] lavalamp commented on #20498
@caesarxuchao has cycles to take a test.

[2016-02-03 22:49] vishh commented on #17994
GC is expected to happen on 1.1.4. Kubelet will GC if the partition that
docker is using hits the high watermark.
What is `/mnt/ephemeral` used for in AWS?

On Wed, Feb 3, 2016 at 6:50 AM, Hesham Wahba <notifications@github.com>
wrote:

[2016-02-03 22:49] bprashanth commented on #20402
For the record
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20569/kubernetes-pull-build-test-e2e-gce/26583/artifacts/
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26583/consoleFull

Test:
[code]

And kube-proxy logs from 104.154.16.9:
[code]

Only the first endpoint made it in time (< 22:18:17.750).

[2016-02-03 22:51] vishh commented on #18202
That might be kubelet. It tries to move the docker daemon on the host into
`/docker-daemon` cgroup as of now. This is an issue.

On Wed, Feb 3, 2016 at 12:15 AM, Alexey Alexandrov <notifications@github.com

[2016-02-03 22:51] dchen1107 commented on #19720
@ihmccreery can we have a dedicated jenkins build for soak cluster to validate docker's release candidate? There is no way for me to upgrade HEAD with a docker release candidate. Meanwhile, we have to validate their release.

[2016-02-03 22:55] justinsb opened #20599 "Flake caused by unfortunately timed drop of watches?"
I'm tracking down an e2e flake here: https://github.com/kubernetes/kubernetes/pull/15938#issuecomment-179480200

I think what happened was the the kube-controller-manager "missed" a load-balancer change, because just after it was created we got this:

[code]

The e2e test had at approximately the same time issued a change on mutability-service-test, changing ServiceType from LoadBalancer to Cluste

[2016-02-03 22:55] thockin commented on #20554
There's (I think) a variable shadowing bug in that test, too, which could produce the same result.

[2016-02-03 22:56] streamnsight commented on #8042
same problem here... I'm using v10 as per the RC and SVC described here:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns

however I see recent updates but not version bump in the YAML.
What is the latest version to use?

[2016-02-03 22:57] aalexand commented on #18202
It probably should not move the inner docker process to the docker-daemon
cgroup.  That should probably stay under the container hierarchy so that
it's accounted to the container subtree rather than somewhere else?  And it
seems to confuse docker as /docker-daemon is not under the container cgroup
tree, which is what mounted inside of container's /sys/fs/cgroup.

On Wed, Feb 3, 2016 at 2:53 PM, Vi

[2016-02-03 23:04] Random-Liu commented on #19720
+1 For dedicated jenkins build. ;)

[2016-02-03 23:06] janetkuo opened #20601 "e2e flake: Service should be able to change the type and ports of a service"
[code]

[2016-02-03 23:07] vishh commented on #19720
Another option is to create a separate branch for docker validation and run the existing jenkins jobs on that branch as well, similar to the release branches.

[2016-02-03 23:10] yujuhong commented on #16627
To name a few:
 1. The regular ADD/DELETE/UPDATE operations on a mirror pod needs to be distinguished and handled differently.
 2. Extra logic to handle creation/deletion of mirror pods when we sync a static pod (manifest file)
 3. UID lookup to map a mirror pod's UID to a static pod's UID to support various user operations (exec, log, etc).
 4. Reverse UID lookup when updating the pod status.
 5.

[2016-02-03 23:12] dchen1107 commented on #20550
Transient network connectivity issue here? cc/ @freehan

[2016-02-03 23:12] bprashanth commented on #18593
This was fixed with https://github.com/kubernetes/kubernetes/pull/18625

[2016-02-03 23:12] #18593 closed

[2016-02-03 23:14] jlowdermilk opened #20602 "e2e failures: heapster containers with unready status"
On the serial and soak test suites, it looks like one or more containers in the heapster pod are crashlooping or failing in some way. The following suites have been failing/timing out

[kubernetes-e2e-gce-serial](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/): [375](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/375),

[2016-02-03 23:16] Random-Liu commented on #20583
@vishh I'll try to go with the second solution. :) Thanks

[2016-02-03 23:18] lavalamp commented on #20599
Correlated watch closes are problematic, so we should figure out why they all closed at the same time.

It sounds like there's a bug in the service controller, since the whole point of the list/watch cycle is that you never need to miss an update.

[2016-02-03 23:20] bgrant0607 commented on #19081
No floats:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#primitive-types

[2016-02-03 23:21] lavalamp commented on #20136
Sure, we could add such a test and check for the nil pointer, it won't hurt anything. But it's also not an actual problem since as I understand it the go http framework would not do something like that, right?

[2016-02-03 23:22] lavalamp commented on #15945
I randomly made it 60 seconds, I think we need to be defensive about clients asking for RVs in the distant future (or from other collections).

[2016-02-03 23:28] bgrant0607 commented on #16085
See also #8593, #10516

cc @jlowdermilk, @deads2k, @thockin

[2016-02-03 23:34] yujuhong commented on #20602
Also see #20100

[2016-02-03 23:36] druidsbane commented on #17994
I'm not 100% certain why we have /mnt/ephemeral and everything isn't just on the root image.  As it stands now the AWS script symlinks /var/lib/docker and /var/lib/kubernetes to that mount point and I guess that isn't being checked by the garbage collector thresholding process. Also I couldn't find a way to manually force a garbage collect to see if that would fix the issue so I ended up unable to

[2016-02-03 23:38] lavalamp commented on #20599
Kris, can you take a look at this? I'm very interested to know why the watches all closed at the same time.

[2016-02-03 23:38] lavalamp commented on #20599
@justinsb can you post a link to the full logs?

[2016-02-03 23:38] saad-ali commented on #20602
@vishh

[2016-02-03 23:41] thockin commented on #20601
Dup of #20402

[2016-02-03 23:41] #20601 closed

[2016-02-03 23:44] gopinatht commented on #17790
@bprashanth @kelcecil I have absolutely no experience with this code base. So if I do it, it will be a lot more than a week if I ever need to do it. I offer to review the PR if that helps.

[2016-02-03 23:49] #20470 closed

[2016-02-03 23:50] bgrant0607 opened #20605 "Umbrella issue for kubectl config command overhaul"
`kubectl config` strongly departs from the command and output conventions of other commands. It shouldn't.

Current commands:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_config.md

Conventions:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md

Related: #5592, #7804, #8593, #8817, #9298, #10516, #10626, #10693, #10735, #

[2016-02-03 23:52] yujuhong commented on #20566
The theory is that kubelet.Run() was called more than once, hence spawning all the goroutines. Although the tests was stressing kubelet, this is still a strange failure. I'll keep the issue open and update if I encounter it again.

[2016-02-04 00:00] #20561 closed

[2016-02-04 00:00] qq690388648 commented on #20479
Fix this? Did you mean changing the way of flushing iptables rule to batching in userspace proxy mode?

[2016-02-04 00:01] evanphx commented on #17994
@druidsbane That's what the AWS setup scripts do if the AWS instance type has instance storage (which is governed the instance type).

If you rebuild the cluster with an instance type that does not have instance storage, you won't have this issue. That's how I got around this problem.

@justinsb mentioned this to be back when I opened the issue. I still think that the AWS install scripts should be

[2016-02-04 00:01] janetkuo opened #20606 "e2e flake: EmptyDir wrapper volumes should becomes running"
[code]

[2016-02-04 00:05] thockin commented on #20479
yes - I am scared of changing the userspace proxy, but I suspect it will be
around for a while, so making it perform better is attractive, as long as
the improvement is significant (and it is)

On Wed, Feb 3, 2016 at 4:01 PM, 孙庚泽 <notifications@github.com> wrote:

[2016-02-04 00:08] #3843 closed

[2016-02-04 00:10] yujuhong commented on #20606
@janetkuo, could you provide a link to the google storage bucket for this failed build? Thanks!
(https://github.com/kubernetes/kubernetes/blob/4ee1bd5b50fbb9ccecb567c1df835d0b85c1eb59/docs/devel/flaky-tests.md#filing-issues-for-flaky-tests)

[2016-02-04 00:10] ixdy commented on #7464
Closing as obsolete.

[2016-02-04 00:10] #7464 closed

[2016-02-04 00:12] freehan commented on #20550
It looks like a network connectivity issue.
Is it possible to let jenkins leave the cluster if test failed? Maybe try to keep the last 5 failed cluster?

[2016-02-04 00:15] janetkuo commented on #20606
Build log: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20597/kubernetes-pull-build-test-e2e-gce/26600/

Previous related issue: #17931

[2016-02-04 00:16] davidopp commented on #20417
Oh sorry, I mis-read and thought you were asking about preemptible nodes.

I think enabling preemptible for the master would be trivial (similar to #12384); feel free to send a PR.

Note that the semantics of preemptible are that the VM terminates and does not restart, so once your master gets preempted, I'm not sure there's anything useful you can do other than tear down your cluster. I guess the

[2016-02-04 00:17] ixdy commented on #8797
Is this still an issue?

[2016-02-04 00:18] ixdy commented on #9167
Is this still an issue?

[2016-02-04 00:19] ixdy commented on #9777
I'm closing this as obsolete. Many tests have had retries added to work around flakiness.

[2016-02-04 00:19] #9777 closed

[2016-02-04 00:20] ixdy commented on #10254
Much of this has been done in the "disruptive tests", no?

Should we close this issue?
@kubernetes/goog-testing

[2016-02-04 00:21] bprashanth commented on #10254
Yeah closing

[2016-02-04 00:21] #10254 closed

[2016-02-04 00:21] ixdy commented on #12014
Given that we're changing how we do conformance testing (i.e. using release branches, not a conformance test branch), should we just close this issue?

@kubernetes/sig-testing @kubernetes/goog-testing

[2016-02-04 00:22] dchen1107 commented on #18770
On hyper's use case, we have to provide a way to run cAdvisor as a daemon on the host node, similar to Kubelet.

[2016-02-04 00:27] yujuhong commented on #20606
From the log, kubelet was having trouble pulling the image.
[code]

Also, from kubelet.log, there are various of image pulling failures:
[code]

[2016-02-04 00:27] ixdy commented on #17933
gce-slow and gke-slow are now blocking the SQ, so marking this fixed.

[2016-02-04 00:27] #17933 closed

[2016-02-04 00:27] ixdy commented on #18037
any update on this?

[2016-02-04 00:28] yujuhong commented on #20550
FYI, same problem happened in a different test:
https://github.com/kubernetes/kubernetes/issues/20606#issuecomment-179550600

[2016-02-04 00:29] smarterclayton opened #20610 "Push kube-cross to somewhere public so it can be used to host build tools"
Some upcoming tools will be part of the build chain that are onerous for developers to build (protoc, grpc, etc).  Those binaries can be built as part of kube-cross, but today the image is not published so every developer has to build it themselves.  If we could push the image periodically publicly, we could use it (appropriately tagged) in both dev and build time scenarios, such as when developer

[2016-02-04 00:29] ixdy commented on #17734
Given that `hack/jenkins/e2e.sh` is versioned with each branch now, I propose closing this issue. We can discuss moving test infra into its own repo in a separate issue, perhaps?

[2016-02-04 00:30] ixdy commented on #17696
Given that almost all Jenkins config has ported to YAML, it seems like this is probably safe to do? Not sure if anyone outside Google is (unwisely?) using our hack/jenkins/e2e.sh, though.

@kubernetes/sig-testing

[2016-02-04 00:31] #17595 closed

[2016-02-04 00:32] ixdy commented on #17257
Closing as obsolete.

[2016-02-04 00:32] #17257 closed

[2016-02-04 00:33] ixdy commented on #16860
Given #18162, we should probably close this issue too?

[2016-02-04 00:33] #20568 closed

[2016-02-04 00:34] ixdy commented on #11082
Anyone in @kubernetes/sig-testing want to do this audit? Should be pretty straightforward, especially since I think most (if not all) tests are using `framework` now.

[2016-02-04 00:34] dchen1107 commented on #20583
@Random-Liu the second solution doesn't work with Kubelet's Termination Message here.

[2016-02-04 00:35] wstrange commented on #20417
Hi David

I agree - once your master is down practically speaking you probably need to blow away your cluster and start over.  I think for  (poor :-) ) developers, this is going to be an acceptable tradeoff.

I'd also like to see the ability for the GCE cluster scripts to run the whole works (master + minion) on a single VM - like you can do on GKE.  That is probably a separate issue though.

I'll

[2016-02-04 00:36] davidopp commented on #20417
GKE does not run the master and minion on the same VM.

[2016-02-04 00:37] #12762 closed

[2016-02-04 00:39] ixdy commented on #12941
I propose closing this issue in favor of #18162.

@kubernetes/sig-testing

[2016-02-04 00:41] wstrange commented on #20417
Odd.  When I run with GKE and specify 1 node, all I see running under my GCE console is a single VM. Does the master not show up? Or at least I *think* I see one VM. I'll have to verify

[2016-02-04 00:41] Random-Liu commented on #20583
@dchen1107 Why?

[2016-02-04 00:42] ixdy commented on #13288
Are we still depending on Docker hub? Has this test caused us flakiness issues? @kubernetes/goog-testing

[2016-02-04 00:43] davidopp commented on #20417
On GKE, Google runs the master for you, as a result you don't see it.

[2016-02-04 00:43] ixdy commented on #13935
@jlowdermilk I think you're working on this?

[2016-02-04 00:47] bprashanth commented on #13288
I think the guestbook example still does https://github.com/kubernetes/kubernetes/blob/master/examples/guestbook/redis-master-controller.yaml#L30 and an e2e still uses it https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L153. Though several images in that example seem to have been converted to gcr.io.

[2016-02-04 00:47] ixdy commented on #14662
Closing as obsolete.

[2016-02-04 00:47] #14662 closed

[2016-02-04 00:51] ixdy commented on #15294
Maybe this is something we can put into the munger? @brendandburns @pmorie

[2016-02-04 00:51] nikhiljindal opened #20612 "unit test flake: pkg/proxy/config fails with panic: test timed out after 5m0s"
Failed for https://github.com/kubernetes/kubernetes/pull/20532

Logs can be found at `kubernetes-jenkins/pr-logs/pull/20532/kubernetes-pull-test-unit-integration/12407`

Copying the relevant logs here:

[code]

[2016-02-04 00:52] ixdy commented on #15492
Answer: just download it from GitHub.

[2016-02-04 00:52] #15492 closed

[2016-02-04 00:53] nikhiljindal commented on #20612
cc @bprashanth since https://github.com/kubernetes/kubernetes/pull/20471 seems to be the latest PR affecting that code.

[2016-02-04 00:57] bprashanth commented on #20612
Hmm, this is probably that pr. i ran stress unittest locally and didn't hit it. looking.

[2016-02-04 00:57] ixdy commented on #20610
@zmerlynn is there a reason we don't publish this? is it just because this predated gcr.io?

[2016-02-04 00:57] ixdy commented on #20610
cc @david-mcmahon

[2016-02-04 01:01] ixdy commented on #16205
I think this is obsolete, since we just have separate Jenkins jobs to update gcloud on each Jenkins VM. @spxtr can confirm.

[2016-02-04 01:01] saad-ali opened #20613 "Random/Flaky Unit Tests fail with `Timeout starting apiserver` in kubernetes-test-go suite"
From http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/7518/console:

[code]

[code]

[2016-02-04 01:04] justinsb commented on #20599
The comment above links to them, but copying it here...

GCE e2e build/test **failed** for commit f61a5d0400218ea8334b75edd42831a1cbeed262.
* [Build Log](https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/15938/kubernetes-pull-build-test-e2e-gce/26565/build-log.txt)
* [Test Artifacts](https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/15938/kubernet

[2016-02-04 01:07] codefx9 opened #20614 "How to run life-cycle hooks for pods/services programmatically?"
We are interested in running certain commands as pods and services, as they start or stop. Using the life-cycle hooks in the yml files does not work for us, since these commands are not optional. We have considered running a watcher pod that uses the `watch` api to run these commands. But we can't figure out how to use the watch api so that it does not keep sending the same events again and again.

[2016-02-04 01:08] justinsb commented on #20599
Here's what I think are the most relevant lines from the logs...

First watch failure
[code]

Sync on service
[code]

Update on service (but note that Type still = LoadBalancer, and that we haven't seen any processing of the sync event yet)..
[code]

Watch fail 2:
[code]

Processing of events - both no-ops:
[code]

[2016-02-04 01:13] freehan commented on #20612
also failed for #20600

[2016-02-04 01:17] caesarxuchao commented on #20498
In this case, https://github.com/kubernetes/kubernetes/issues/20498#issuecomment-178739479, the log says it's because the node is out of disk, so scheduler can't find a fit for phatom.baz.

[2016-02-04 01:18] magicwang-cn commented on #20136
ok, then i will send a PR.:)

[2016-02-04 01:18] caesarxuchao commented on #20498
Same reason for the first reported case in this PR: https://github.com/kubernetes/kubernetes/issues/20498#issue-130760652

[2016-02-04 01:19] codefx9 opened #20616 "Why does not GCE salt process use ntp?"
As the subject say, I am curious why does not the GCE salt process use ntp.

[2016-02-04 01:21] codefx9 opened #20617 "Why does GCE salt setup does not use master-minion mode?"
GCE salt setup scripts uses `--local` mode. Is there a reason, GCE scripts does not use master-minion salt mode?

[2016-02-04 01:21] justinsb commented on #20599
A different potential problem (I think): in `pkg/controller/service/servicecontroller.go` we spawn 10 worker goroutines, which pop from the serviceQueue.  We won't process the same item concurrently, because of the `cachedService.mu.Lock` in processDelta.  But I don't see any guarantee that the order in which the goroutines win the race to acquire the `cachedService.mu` lock is the same as the ord

[2016-02-04 01:23] codefx9 opened #20618 "Debian 8 support in GCE salt setup"
Is there any plans to support Debian 8 in GCE setup scripts? How can I build a Debian 8 version of container-vm image? I have not found any scripts for building the container-vm images from raw Debian images.

[2016-02-04 01:25] saturnism commented on #20555
it seems like i needed to manually enable firewall rule to allow http lb ip range

[2016-02-04 01:28] ixdy commented on #7666
Somewhat related to #16094. Is this still something we think we should pursue? @kubernetes/goog-testing @kubernetes/sig-testing

[2016-02-04 01:28] justinsb commented on #20599
Another very suspicious thing; GetByKey returns an serviceCache object, instead of an *api.Service:

https://github.com/kubernetes/kubernetes/blob/843c11e06ac7dcdadb6ea47df53367a58a415085/pkg/controller/service/servicecontroller.go#L409

Again though, I don't think it's a problem here - it only seems to be called by `DeltaFIFO::Replace` in the case of a deletion not already in the queue, and that

[2016-02-04 01:29] ixdy commented on #16094
cc @kubernetes/sig-testing

[2016-02-04 01:32] ixdy commented on #15639
cc @david-mcmahon

[2016-02-04 01:35] vishh commented on #20602
cc @mwielgus @piosz. Heapster image was updated recently. #20406

[2016-02-04 02:01] qq690388648 commented on #20479
Understood!

[2016-02-04 02:02] vishh commented on #19720
FYI: rc4 is out.

[2016-02-04 02:10] cjcullen commented on #20500
I've run this O(10) times and haven't been able to repro.

The failures from the jenkins runs are due to the endpoints controller "successfully" returning 0 endpoints for a service that we expect to have 1. The timeout is already 500 seconds, and I was able to get the test to pass consistently locally with a timeout of 30 seconds, so I doubt that it's just slow.

The logs appear to indicate that t

[2016-02-04 02:16] Random-Liu commented on #19720
What? o_O
@vishh Thanks...Hahaha

[2016-02-04 02:38] justinsb commented on #20599
Sorry to bombard, but here's what I think is the "smoking gun"... grepping in the kube-controller-manager log for `api/v1/namespaces/e2e-tests-services-gb3yh/services/mutability-service-test`, which brings up just the changes...

[code]

We expect to observe as the final change a change from Type:LoadBalancer -> Type:ClusterIP (and NodePort=0).  But we don't.  We do however see repeated Updated me

[2016-02-04 02:44] mqliang commented on #20589
I volunteer myself to do this work.

[2016-02-04 02:52] wstrange commented on #20417
Hi David

I submitted a PR

This is not quite the panacea I was hoping for,  but it may help some folks, and the default is to not preempt - so it should not change any existing behaviour.

Aside: I found that gce scripts did not tear down the master after a kube-down.sh. Is that by design, or did I just not wait long enough?

 This issue may not be the place to discuss, but what I really want as

[2016-02-04 03:00] jayunit100 commented on #11082
I'll do this. I need to start pulling my weight around here I've been lazy lately :)!

[2016-02-04 03:10] pwittrock commented on #20402
I just saw this again [here](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26644/console)

18:12:54 Summarizing 1 Failure:
18:12:54
18:12:54 [Fail] Services [It] should be able to change the type and ports of a service
18:12:54 /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:1625
18:12:54
18:12:54 Ran 117 of 219 Specs in 8

[2016-02-04 03:33] justinsb commented on #20599
OK, one last thought: https://github.com/coreos/etcd/issues/2854#issuecomment-105329971

I think this is _exactly_ what we're seeing.  We get a spurious update, and then we get nothing else.  The e2e test is waiting for the service to change before making additional changes.

@bprashanth do you think this could be what we're seeing here?

[2016-02-04 03:37] bprashanth commented on #20599
I haven't completely parsed your debugging, but I noticed in parallel that we might be dropping updates https://github.com/kubernetes/kubernetes/issues/20547. Have you ruled out service controller itself dropping things? I'm adding events in https://github.com/kubernetes/kubernetes/issues/20607 to help

[2016-02-04 03:43] justinsb commented on #20599
@bprashanth I definitely haven't ruled out service controller itself dropping things.  I think I've found a few things in the code that are suspicious.  But the logs that I'm looking at don't support those things being a problem.

Instead, they showed a Sync event coming at almost exactly the same time as the e2e test makes a change, which then gets dropped.  After the Sync, I saw an Update event

[2016-02-04 03:44] thockin commented on #20589
Sounds great!  The word of the day is caution - we have to be very careful
not to destabilize it.  I would love to see it broken down into a series of
commits, so it's super easy to review.

Tim
On Feb 3, 2016 6:45 PM, "Liang Mingqiang" <notifications@github.com> wrote:

[2016-02-04 03:49] justinsb commented on #20547
Oh wow ... this is actually the exact same as #20599

Downloading the logs and grepping:

[code]

The same pattern ... a Sync with the same ResourceVersion, then an Updated with the same ResourceVersion again, and then nothing:

[code]

As @bprashanth pointed out in #20599, I don't know that this isn't a bug in the service controller, but my opinion is that this does match an known/open issue in e

[2016-02-04 03:56] justinsb commented on #20547
(Of course, it is also curious/suspicious that we both independently hit the same seemingly very unlikely flake within 24 hours.)

[2016-02-04 03:58] lxb31 opened #20625 "“--master-service-namespace” option of kube-apiserver does not work"
Environment: centos7 + kubenetes1.1.7 + etcd2.0.12 + docker-engine-1.8.3

I want to move the kubernetes master service to another namespace named "kube-system" instead of the default namespace "default". so I change the "--master-service-namespace"  option of kube-apiserver to "kube-system", but it did not work at all.

service info of the "default" namespace as below.
$kubectl get svc
NAME

[2016-02-04 04:11] AdoHe commented on #20567
@bprashanth Ok, I will do more investigate about kube-proxy performance.

[2016-02-04 04:12] AdoHe commented on #20479
Just refer #20567

[2016-02-04 04:13] #20612 closed

[2016-02-04 04:20] roberthbailey commented on #20417
Have you tried running a cluster [locally in docker](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md)? You could do this same thing inside a preemptible VM on GCE. You could even install a cron job that shuts down the machine every N hours (if you are using it, you can start it back up).

https://github.com/kubernetes/kubernetes/issues/7997

It won't clea

[2016-02-04 04:23] roberthbailey commented on #20417
This isn't actually true. If you use the existing pattern from GCE, then there isn't anything critical stored on the boot disk of the master VM (everything is on a GCE PD that is mounted onto the master). I haven't tried this, but I would expect that when the preemptible VM is terminated, the static IP address that has been reserved is maintained in your project. If that is true, then you could re

[2016-02-04 04:26] bprashanth commented on #20402
I believe the last failure was because of a bit of retarded code I wrote. More specifically:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26583/consoleFull#
[code]

And if you open up the kube-proxy logs from 198.151: https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/19932/kubernetes-pull-build-test-e2e-gce/26644/artifacts/104.19

[2016-02-04 04:37] thockin commented on #20500
@justinsb @bprashanth maybe I am just seeing ghosts, but this could be a
missing event too?

On Wed, Feb 3, 2016 at 6:10 PM, CJ Cullen <notifications@github.com> wrote:

[2016-02-04 04:42] thockin commented on #8797
I don't know if we do proper setup/teardown.  I have not seen this again, though.

[2016-02-04 04:42] #8797 closed

[2016-02-04 04:45] thockin commented on #20475
@artfulcoder to debug further, thanks.

Can you paste a full dump of iptables-save ?

On Wed, Feb 3, 2016 at 1:32 PM, Eric Harrison <notifications@github.com>
wrote:

[2016-02-04 04:47] thockin commented on #20400
We should try obvious and documented mitigations and then make sure the Go
folks are aware.  This is bad stuff.

On Wed, Feb 3, 2016 at 9:18 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-04 04:48] thockin commented on #20400
NM, I see the link to go :)

[2016-02-04 04:55] thockin commented on #20420
We do not currently support port ranges.  I wouldn't mind supporting them,
but the feasibility of it really depends on how they are to be used.  Can
you explain how you would use ranges?

We don't have a general way to give a "whole" external IP to a pod or
Service, yet.

On Tue, Feb 2, 2016 at 12:26 AM, Dani <notifications@github.com> wrote:

[2016-02-04 04:59] magicwang-cn commented on #20540
ref #18266

[2016-02-04 05:09] #20586 closed

[2016-02-04 05:11] bgrant0607 commented on #11361
Examples should use DNS #9107, not service env vars.

[2016-02-04 05:28] mqliang commented on #20540
Some details:
1) We remove the rate limit of kube-controller-manager/kube-scheduler.
2) We doesn't connect the secure server, so the `max-request-in-flight` flag doesn't work
3) We use k8s v1.0, which has no cache in API server, and kube-controller-manager will relist every 5 minutes(AFAIK in latest version,it has been changed to 12h), frequent list operation would give ETCD a big burden.
4) Didn'

[2016-02-04 05:35] mqliang commented on #20540
May I ask why In v1.0 kube-controller-manager will relist every 5 minutes? Does it mean the watch of etcd is not reliable, so that we should periodically relist?

[2016-02-04 05:45] jayunit100 commented on #11082
They look  clean, except

- The add-ons tests looks suspicious, but after looking carefully, it appears `f := NewFramework("addon-update-test")` is actually used, so even though it references DefaultNS, I don't think its cluttering it up.

- There also is a services test, and this test uses default simply to check that master services are online.  Again, not cluttering it.

So from my cursory audi

[2016-02-04 05:46] davidopp commented on #20417
^^^ Yeah, that's what I was alluding to when I said "I guess there might be some way you could bring up a replacement master and remount the PD from the terminated master, similar to how we do it for master upgrade in cluster/gce/upgrade.sh."

I was a bit harsh (and accidentally misleading) when I said there isn't anything useful you can do -- I just meant this would require some hacking to get it

[2016-02-04 05:57] tanen01 commented on #16296
I am running v1.1.7 and I can see kubelet using a lot of CPU time. I don't have much pprof expertise, but I think the pprof output below on kubelet shows cadvisor being the main culprit?

[code]

As pointed out by @huang195 , one way to influence kubelet's CPU usage pattern is to override  --global-housekeeping-interval and --housekeeping-interval.

I have set these to 5 minutes and 1 minute respe

[2016-02-04 06:34] ArtfulCoder commented on #20475
@rideswitch
in addition to `iptables-save`, can you also run `ip route show table local` on the node, and verify that the destination ip is considered local

[2016-02-04 06:39] magicwang-cn commented on #20540
+1. the list-watch mechanism is really puzzled. but if you enable the watch-cache, the mainly watch-relist action is in the kube-apiserver's side, this can reduce etcd's burden.

@xiang90 to etcd, if watch() returns err, and we do not list(), maybe some changes will miss?

[2016-02-04 06:54] etcinitd opened #20627 "kubectl panic: runtime error: invalid memory address or nil pointer dereference"
I am getting this runtime error on kubectl create:

[code]

And this is test-rc.yaml file:

[code]

I can see that the empty `args: -` may be causing this but I'm sure we can show a better error for this.

[2016-02-04 06:55] saad-ali commented on #20613
Looks like this happens on a random set of integration tests. The common symptom is `Timeout starting apiserver`
Examples:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/7536/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/7535/
  * TestNewMultipleSourcesEndpointsMultipleHandlersAddRemoveSetAndNotified
* http://kubekins.dls.

[2016-02-04 06:55] mikedanese commented on #20617
Security and reliablity. #5112

[2016-02-04 06:55] #20617 closed

[2016-02-04 06:57] mikedanese commented on #20618
Absolutely, it's just a bit of work to vet the upgrade. cc @dchen1107 @zmerlynn Are we tracking an upgrade to jessie anywehere?

[2016-02-04 07:02] mikedanese commented on #20616
Guest gce images are configured by default to use Google's internal NTP service so we don't need to do anything special with salt. Cool blog post: https://googleblog.blogspot.com/2011/09/time-technology-and-leaping-seconds.html

[2016-02-04 07:03] mikedanese commented on #20616
metadata.google.internal is an ntp server and is resolvable in a gce network

[2016-02-04 07:03] #20616 closed

[2016-02-04 07:13] roberthbailey commented on #17851
I'm still seeing this when running from head.

[2016-02-04 07:15] wojtek-t commented on #15945
@lavalamp - what do you mean by "or from other collections" ?

[2016-02-04 07:42] wojtek-t commented on #20504
Definitely - it would be super helpful.

[2016-02-04 08:05] wojtek-t commented on #20400
With revert to Go 1.4.2 we seem to be back to normal - thanks for reverting @zmerlynn
So I'm closing this one.

[2016-02-04 08:05] #20400 closed

[2016-02-04 08:09] wojtek-t commented on #20540
@mqliang - if you are using 1.0 release, there is no mystery that this doesn't work. The 1.0 release is supporting only 100-node clusters, the 1.1 release is supporting 250-node clusters.
Only 1.2 release will be supporting 1000-node clusters.

Also note, that removing rate-limiting in controller-manager can significantly degrade performance, so it's definitely not recommended.

Also note, that en

[2016-02-04 08:09] davidopp commented on #20400
Thanks for noticing this and debugging and fixing it!!

[2016-02-04 08:17] davidopp commented on #20096
I'm going to temporarily stick a "flake" label on this even though it's not a flake, so that we will remember to discuss it more widely.

[2016-02-04 08:18] davidopp commented on #19358
@pmorie does this need to stay open as a separate issue?

[2016-02-04 08:19] davidopp commented on #19228
This is marked 1.2 with no assignee.

[2016-02-04 08:20] davidopp commented on #19048
@gmarek @wojtek-t How often is this happening recently? Should we mark it "flake" and consider it part of the flake fixit? Sounds like there may not be much hope for debugging it soon. Note that it is marked as 1.2 milestone.

[2016-02-04 08:21] davidopp commented on #18920
This is marked as 1.2 milestone but has no assignee.

[2016-02-04 08:22] davidopp commented on #18831
Removing from 1.2 milestone, adding to next-candidate.

If we can hit our 1000 node scaling goals without this change, then we do not need it for 1.2.

[2016-02-04 08:23] davidopp commented on #18553
@mikedanese are you working on this? It's marked as 1.2 milestone.

[2016-02-04 08:25] Hui-Zhi commented on #19049
I think to implement GPU device in kubelet, we should implement the GPU as kubelet plugins, like:
allPlugins = append(allPlugins, nvidia.ProbeVolumePlugins()...)
allPlugins = append(allPlugins, amd.ProbeVolumePlugins()...)
allPlugins = append(allPlugins, intel.ProbeVolumePlugins()...)

So far I'm working on the NVIDIA's GPU, and in kubelet could get the below information,
gpuDevices:{GPUPlatform:{

[2016-02-04 08:27] davidopp commented on #17371
@piosz @mwielgus This is marked as 1.2 milestone -- is there something to do here? If so, we can do it after feature-complete deadline.

[2016-02-04 08:28] mqliang commented on #20540
@wojtek-t  May I ask does k8s has a further plan to support a larger cluster? And I highly recommend to make etcd horizontal scalable. I mean split data to different etcd cluster. Current, k8s support move a kind of source to their dedicated ectd, but I think it's much more helpful if we support "move all the source from a namespace set to it's dedicated ectd"

[2016-02-04 08:30] davidopp commented on #17151
FWIW NodeSelector and node affinity was merged today (#19758)

[2016-02-04 08:32] davidopp commented on #17117
@mikedanese this is marked as 1.2 milestone. You had a rather long list of things remaining to do https://github.com/kubernetes/kubernetes/pull/16830#issuecomment-163060280 but AFAIK you haven't had a chance to do them yet (?). Should we bounce this issue to the next release?

[2016-02-04 08:34] davidopp commented on #17575
ping -- this is marked as 1.2 milestone but I have not been following the PRs on this subject. Can someone summarize the status?

[2016-02-04 08:35] wojtek-t commented on #20540
@mqliang
- yes we plan to support larger cluster - at some point we would like to support 5k-node clusters, but this will take us few months to get there (probably not even in 1.3 release)
- regarding splitting data per namespace - if we will need to do it, we may do it, but I didn't think deeply about it yet

[2016-02-04 08:37] davidopp commented on #16508
Since the 1.2 feature complete is Friday, I'm going to move this from the 1.2 milestone to next-candidate.

[2016-02-04 08:39] wojtek-t commented on #19048
I'm not sure - we just reverted back to Go 1.4 - with Go 1.5 we had a bunch of failures (actually all runs were failures). So we will see now...
Anyway - I'm planning to look into why "load.go" test is failing in 1000-node cluster, which in my opinion can be related to those failures...

[2016-02-04 08:39] davidopp commented on #16177
@ncdc @deads2k Feature complete deadline for 1.2 is Friday and it doesn't seem like this is going to be finished by then. OK to bounce it from the 1.2 milestone to the next release?

[2016-02-04 08:41] davidopp commented on #16087
@fgrzadkowski can you take a look at this? I noticed it because it's marked for 1.2 milestone but didn't have an assignee. Obviously this can be done after the feature complete deadline.

[2016-02-04 08:41] AdoHe commented on #20540
I just notice this #20504, I think etcdv3 will be helpful for larger cluster.

[2016-02-04 08:42] #15226 closed

[2016-02-04 08:45] davidopp commented on #11793
I'm going to close this issue, as the core functionality has been implemented. MetadaPolicy design is still under discussion (#18262).

[2016-02-04 08:45] #11793 closed

[2016-02-04 08:45] wojtek-t opened #20631 "e2e flake: e2e-gce timed out because of "Services" test"
00:10:00 Build was aborted
    00:10:00 [BeforeEach] Services
    ....
    00:10:00 STEP: hitting the UDP service's LoadBalancer
    00:10:00 Feb  3 23:54:11.232: INFO: Testing UDP reachability of udp://104.197.234.65:81
    00:10:00 Feb  3 23:54:16.232: INFO: Testing UDP reachability of udp://104.197.234.65:81
    00:10:00 Feb  3 23:54:20.232: INFO: Testing UDP reachability of udp://104.197.234.6

[2016-02-04 08:46] AdoHe commented on #20625
@fuliangliu actually you can use `kubectl get svc --all-namespaces=true` to display namespace for services, besides I think this is a bug of apiserver, I am working on a quick fix to this.

[2016-02-04 08:46] davidopp commented on #8686
@mikedanese This is tagged as 1.2 milestone -- AIUI the full vision for this is definitely not going to be in 1.2, so should we bounce it to next-candidate? If so, please change the milestone.

[2016-02-04 08:46] karelstriegel commented on #8620
+1

[2016-02-04 08:47] mqliang commented on #20540
this could be closed.

[2016-02-04 08:47] #20540 closed

[2016-02-04 08:49] davidopp commented on #15203
This is marked as 1.2 milestone but it doesn't seem like there will be anything resembling closure on it for 1.2. Is there any piece of it that's critical for 1.2? If not, we can punt it to the next release, and/or work on it after the feature freeze. Suggestions?

[2016-02-04 08:49] wojtek-t commented on #20631
It may not be a flake - it failed in exactly the same way for the second time:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce/10929/console

[2016-02-04 08:53] davidopp commented on #9044
Feature complete deadline for 1.2 is Friday, looks like we're not going to get to this, which is unfortunate, but I think we have no choice but to bounce it to the next release, unless someone else has a comment or suggestion...

[2016-02-04 09:27] davidopp commented on #19701
ref/ #15985

[2016-02-04 09:36] davidopp commented on #19317
@kubernetes/rh-cluster-infra

[2016-02-04 09:37] wojtek-t commented on #20403
This just happened again:

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/10931/?project=kubernetes-jenkins

[2016-02-04 09:38] davidopp commented on #20219
@petermd can you send out the commit you referenced as a PR? I think that's the most we'll be able to do in time for the 1.2 release.

@fgrzadkowski Do you have a suggestion who should review it? I'm not sure who took ownership of kube-addon-update.sh after @marekbiskup left the team.

[2016-02-04 09:39] codefx9 commented on #20616
Thanks for the info. It makes sense. I would probably change the `top.sls` file to only avoid install ntp for gce and gke.

[2016-02-04 09:41] codefx9 commented on #20617
Thanks for the answer. Regarding security, how do you think anyone who has a large cluster in GCE upgrade things in place when a new vulnerability is exposed? Also, how does one does basic things like rotating keys etc, without a a master-minion salt setup in GCE? Does not that leave GCE cluster more vulnerable in the long run?

[2016-02-04 10:02] wojtek-t opened #20633 "unit flake: "TestNewMultipleSourcesEndpointsMultipleHandlersAddRemoveSetAndNotified""
This has failed multiple times already:

config_test.go:119: Expected []api.Endpoints{api.Endpoints{TypeMeta:unversioned.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"bar", GenerateName:"", Namespace:"testnamespace", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:unversioned.Time{Time:time.Time{sec:0, nsec:0, loc:(*time.Location)(nil)}}, DeletionTimest

[2016-02-04 10:04] mateeyow opened #20634 "Allow Ingress to accept from all IPs of Node"
Correct me if I'm wrong but I have noticed that ingress only services from one node ip. Is it possible to serve it to all ip address?

[2016-02-04 10:08] marekbiskup commented on #20219
Yes it's better that someone else takes the ownership of kube-addon-update.sh (probably a lot has changed since I worked on it). But I'm happy to help as a second reviewer, if needed.

[2016-02-04 10:18] petermd commented on #20219
Happy to submit PR but I need a valid CLA (submitted but not sure if it needs manual approval for corp agreements)

[2016-02-04 10:26] petermd commented on #18975
Making the two changes I mentioned above, the master has been up for 12 days now and is still responsive (only light usage however).

I see several instances in the log where the add-on update failed. Would suggest checking for

in the t2.small syslog just in case

The minions died (NotReady, ssh timed out, needed reboot) however - have not investigated why.

[2016-02-04 10:35] erictune commented on #20403
It happened again:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26572/testReport/junit/(root)/Kubernetes%20e2e%20suite/Downward_API_should_provide_pod_IP_as_an_env_var/

[2016-02-04 10:36] gmarek commented on #20445
ping @alex-mohr

[2016-02-04 10:41] erictune commented on #19049
Writing a design doc first is a good idea.  Write a document called `docs/design/gpu.md` and send a PR to add that doc.  People can comment on the PR of the doc, before you write any code.

[2016-02-04 10:43] gmarek commented on #20445
I've seen something similar for the first time during 1000 node cluster startup: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-startup/4/build-log.txt

Sadly we don't save any logs for failed cluster startups: #10423 which would be extremely helpful here.

[2016-02-04 10:58] gmarek commented on #20188
It's already done.

[2016-02-04 10:58] #20188 closed

[2016-02-04 12:27] codablock commented on #20634
Which ingress controller are you using? The two example controllers found in the kubernetes/contrib source can be deployed to multiple nodes via replication controllers.

[2016-02-04 12:28] mateeyow commented on #20634
I'm using nginx-third-party controller.

*Sincerely,*

*Matthew Aldrin S. Torres*

On Thu, Feb 4, 2016 at 8:27 PM, Alexander Block <notifications@github.com>
wrote:

[2016-02-04 12:37] nawazdhandala commented on #18975
I'm using Google Cloud. They have a managed service for Kubernetes and it seems to do fairly good.

[2016-02-04 12:39] fgrzadkowski commented on #20235
@luxas Ok, know I understand :) This makes sense. I'll try to do it this week.

[2016-02-04 13:04] fgrzadkowski commented on #16087
@davidopp Sure, I'll take a look. Recently @luxas made a lot of improvements (I reviewed some of them), so I think it's pretty up-to-date, but I'll double check.

[2016-02-04 13:07] fgrzadkowski commented on #20219
@davidopp @petermd I can review it. Probably someone from GKE ( @roberthbailey ? ) should also take a look to verify it doesn't break GKE.

[2016-02-04 13:25] justinsb commented on #20500
My hypothesis is that the ghost we're seeing in #20599 and #20547 boils down to:

1. reflector.go loop loses connectivity or for some other reason does a full resync
1. change is made to the items at around the same time (before the watch resumes)
1. we list all items and resume the watch
1. etcd watcher issue means that we don't see change

Do we have logs for kube-controller-manager (or the equi

[2016-02-04 13:48] wojtek-t opened #20638 ""load.go" is failing in large clusters"
"load.go" is currently regularly failing in 1000-node clusters

Generally it is failing like that:

      creating rc load-test-small-rc-1703
      Expected error:
          <*errors.errorString | 0xc20e439b00>: {
              s: "Only 0 pods started out of 5",
          }
          Only 0 pods started out of 5
      not to have occurred

@gmarek @davidopp

[2016-02-04 13:49] gmarek commented on #19124
It may be the time to rethink some parts of NodeController's logic. By the time it was written only source of NotReady Node status was NodeController itself (Kubelet was never writing NotReady), but those times are long gone and I think that we might act slightly differently when NotReady was set by NodeController (machine is not responsive) and when it was set by Kubelet itself (some software pro

[2016-02-04 13:53] gmarek commented on #13430
Ref. #19124

[2016-02-04 14:01] wojtek-t commented on #20638
I started some debugging around that today, and found something interesting.

Basically it seems that there is a huge time difference between when we send request to apiserver and when apiserver actually observes it.

To give more details, I added some logs in the reflector.go as the following:

    229 func (r *Reflector) ListAndWatch(stopCh <-chan struct{}) error {
    ....
    238   glog.Errorf

[2016-02-04 14:04] wojtek-t commented on #20638
As an experiment I tried increasing MaxIdleConnsPerHost to 1000, but it didn't change anything...

[2016-02-04 14:04] diseku commented on #8042
please reopen. same here with cluster/ubuntu

`  23s	23s	1	{kubelet <my_ip_here>}	spec.containers{skydns}	Unhealthy	Readiness probe failed: Healthz probe error: Result of last exec: nslookup: can't resolve 'kubernetes.default.svc.cluster.local'
, at 2016-02-04 14:02:42.393158391 +0000 UTC, error exit status 1

  23s	23s	1	{kubelet <my_ip_here>}	spec.containers{skydns}	Started		Started with docker

[2016-02-04 14:05] gmarek opened #20639 "Write a test for NodeController rate limiting."
Ref. #19124

cc @davidopp @bgrant0607 @wojtek-t @fgrzadkowski @smarterclayton @quinton-hoole

[2016-02-04 14:07] gmarek opened #20640 "If all Nodes are NotReady NodeController shouldn't evict Pods."
Ref. #19124

We also should decide how to make sure that cluster can recover from such condition.

cc @davidopp @bgrant0607 @wojtek-t @fgrzadkowski @smarterclayton @quinton-hoole

[2016-02-04 14:10] gmarek opened #20641 "Decide if we want to act differently on Kubelet-driven node's problems."
NodeController was written at the time when the only source of NotReady status was NodeController itself. It's no longer true and we may want to act upon this knowledge, by assuming that Kubelet-driven NotReady status is likely temporary and allow some more time to recover than normally.

cc @davidopp @bgrant0607 @wojtek-t @fgrzadkowski @smarterclayton @quinton-hoole @kubernetes/goog-node

[2016-02-04 14:14] piosz commented on #20100
@mwielgus @fgrzadkowski are working on fixing issues with failing Heapster. Not sure whether it makes sense to create a separate test for this purpose. HPA e2e seems to verify whether Heapster is running or not. Regarding reboot tests we will try to decrease the number of 'expected' crashes of Heapster.

@vishh which test? Monitoring e2e? I've just ported it to new version of Influxdb so it should

[2016-02-04 14:18] bprashanth commented on #20631
It hung in both cases ~10-15m waiting for loadbalancer to disappear, might be https://github.com/kubernetes/kubernetes/issues/20547. @kubernetes/goog-testing looks like in the build timeout case we don't collect kubernetes daemon logs?

[2016-02-04 14:18] justinsb opened #20643 "AWS kube-up should mirror GCE kube-up"
The AWS kube-up and the GCE kube-up diverged over time as GCE added functionality.  We should try to get them working similarly - I am going to try to get this into 1.2.

In particular, I want to make sure that:

1. Node and master reboot work properly on AWS (some reports that they sometimes don't)
1. In place upgrade works properly on AWS
1. We build secrets & certs as part of kube-up, paving th

[2016-02-04 14:18] gmarek opened #20644 "Controllers should define flags in their own codebase."
Currently all flags are defined in the binary which makes a big mess. We need some way to deal with duplicate names.

cc @kubernetes/goog-control-plane

[2016-02-04 14:33] Fizzadar commented on #20497
Yep - once again I have a replication controller continuously creating pods which never actually provision (815 and counting!) - all pending as usual.

@jlowdermilk I'm not setting `terminationGracePeriodSeconds` - the API is showing it as 30 which I assume is the default.

As for the logs - this I cannot explain: there is _nothing_ in the `kube-apiserver` log since 8am this morning - yet for the

[2016-02-04 14:56] justinsb opened #20646 "e2e PR builder: Quota 'STATIC_ADDRESSES' exceeded"
Repeat of #17257

We are hitting our static IP quota on the e2e PR builder:

e.g. https://github.com/kubernetes/kubernetes/pull/20642#issuecomment-179868693(edited)

[code]

[2016-02-04 15:28] dchen1107 commented on #19720
@Random-Liu someone reported the issue of installing docker 1.10-rcX on Debian wheezy: https://github.com/docker/docker/issues/19989

[2016-02-04 15:45] mikedanese commented on #17117
This is done. It's integrated into controller manager and scheduler thus its in hyperkube

[2016-02-04 15:45] #17117 closed

[2016-02-04 15:51] mikedanese commented on #8686
we can now use kube-push to deploy clusters using an external docker registry which is what I wanted to get done for 1.2. that is sufficient to allow the self hosting cluster configuration without having to unpack everything everywhere

[2016-02-04 15:52] AdoHe commented on #20644
+1

[2016-02-04 15:59] mikedanese commented on #17575
I think this is good to go now that --node-labels flag is in

[2016-02-04 16:03] codablock commented on #20634
You can scale the replication controller of nginx-third-party to be >= your node count.
Best solution would actually be to deploy the ingress controller as a DaemonSet, but the api is still experimental and the nginx-third-party does not support it yet (crashes because it expects a RC around itself)

[2016-02-04 16:11] smarterclayton commented on #20400
Can we open a tracking issue for Go 1.5 and link back to this so we can
coordinate release stuff around it?

On Thu, Feb 4, 2016 at 3:10 AM, David Oppenheimer <notifications@github.com>
wrote:

[2016-02-04 16:11] smarterclayton commented on #20641
SGTM

[2016-02-04 16:16] rideswitch commented on #20475
localhost core # ip route show table local
broadcast 10.0.2.0 dev eth0  proto kernel  scope link  src 10.0.2.15
local 10.0.2.15 dev eth0  proto kernel  scope host  src 10.0.2.15
broadcast 10.0.2.255 dev eth0  proto kernel  scope link  src 10.0.2.15
broadcast 10.2.0.0 dev flannel.1  proto kernel  scope link  src 10.2.29.0
local 10.2.29.0 dev flannel.1  proto kernel  scope host  src 10.2.29.0
broadc

[2016-02-04 16:16] rideswitch commented on #20475
localhost core # iptables-save
# Generated by iptables-save v1.4.21 on Thu Feb  4 16:16:16 2016
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:DOCKER - [0:0]
:FLANNEL - [0:0]
:KUBE-NODEPORTS - [0:0]
:KUBE-SEP-3FNPVKHJPVFNYJQS - [0:0]
:KUBE-SEP-3WL4SRX7MBFDKBTE - [0:0]
:KUBE-SEP-3ZUZT34ZBHA7PJIT - [0:0]
:KUBE-SEP-4RV5FMTLAY3UXRWA - [0:0]
:KUBE-SEP-

[2016-02-04 16:29] bprashanth commented on #20547
@justinsb https://github.com/coreos/etcd/issues/2854#issuecomment-105329971 is about etcd streaming watch server, which we aren't using. The coreos go-etcd client will open a watch, wait for 1 object to come down it, and restart the watch with the rv +1 (unless they've changes this lately).

The sync/update anomaly is worthy of closer inspection. I haven't yet dug through how the servicecontroller

[2016-02-04 16:57] ihmccreery commented on #20459
@caesarxuchao I'm having quite a lot of difficulty actually doing what you said; I'm not familiar enough with this code to know where to get a scheme to check if it's unversioned.  Assigning to you to actually write the code.

[2016-02-04 16:59] ihmccreery commented on #19546
Ping.

[2016-02-04 16:59] thockin commented on #20641
What behaviors do you think would be different?
On Feb 4, 2016 6:10 AM, "Marek Grabowski" <notifications@github.com> wrote:

[2016-02-04 17:01] gmarek commented on #20644
I'll send a PR tomorrow.

[2016-02-04 17:02] gmarek commented on #20641
Simplest one would be longer timeout. Or if we're feeling fancy we can even allow Kubelet to decide when it gives up.

[2016-02-04 17:06] pwittrock commented on #20306
Not sure if this is the same or a different issue.
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26732/console

08:31:42 e2e-gce-builder-2-0-master-pd us-central1-f 20      pd-ssd READY
08:31:46 ERROR: (gcloud.compute.addresses.create) Some requests did not succeed:
08:31:46  - Quota 'STATIC_ADDRESSES' exceeded.  Limit: 25.0
08:31:46
08:31:46 Attempt 1 failed to c

[2016-02-04 17:06] thockin commented on #20641
So you are distinguishing "hurting" from "dead"?
On Feb 4, 2016 9:03 AM, "Marek Grabowski" <notifications@github.com> wrote:

[2016-02-04 17:07] wojtek-t commented on #20638
@kubernetes/sig-scalability

[2016-02-04 17:08] spiffxp commented on #16860
agreed

[2016-02-04 17:08] spiffxp commented on #12014
agreed

[2016-02-04 17:11] smarterclayton commented on #20640
Probably should even be percentage based.  We've had users ask and build alternate plans around this - I think there's an expectation we do this already.

[2016-02-04 17:12] gmarek commented on #20641
I'd put it differently, but yes.

[2016-02-04 17:16] pmorie commented on #19546
Sorry for tardiness, linked PR is LGTM

[2016-02-04 17:19] #16860 closed

[2016-02-04 17:19] #12014 closed

[2016-02-04 17:19] Random-Liu commented on #19720
@dchen1107 Thanks a lot!

[2016-02-04 17:22] dcbw commented on #20242
Hitting this on two different Fedora 23 machines consistently...

[2016-02-04 17:22] Random-Liu commented on #19720
By running e2e with rc4 over night, I got the following result:
[code]

The full log is [here](https://gist.github.com/Random-Liu/942b02c8532089511fa3). And I'll test them separately soon.

[2016-02-04 17:23] brendandburns commented on #13515
I'm afraid that test run didn't have sufficient logging information to debug it properly.  I've filed a bug on the logs not repro-ing.  I'll leave this open, but its not actionable any further for now.