[2020-01-29 16:51] enragedginger commented on #87655
/sig docs

[2020-01-29 16:54] alculquicondor opened #87657 "Move HardPodAffinitySymmetricWeight to PluginConfig"
Part of #87617, and a requirement for #85737

In `kubescheduler.config.k8s.io/v1alpha2` plugin-specific parameters should be in `.pluginConfig`.

/sig scheduling
/kind cleanup
/assign

[2020-01-29 17:18] Jeffwan commented on #78429
Are all of your pods in ContainerCreating or some of them? We are trying to find root cause of the problem and fix it probably in vpc resource controller

[2020-01-29 17:25] aojea commented on #87604
@uablrek have found the possible issue, and is that " an ipv6 addresses has been handled as an ipv4"

it turns out that 253.32.0.0 is the decimal representation, in hex it should be something like fd20::

[2020-01-29 17:41] Huang-Wei commented on #87621
Thanks for the brainstorming. The points are fair to me. We should exclude the terminating Pods, when necessary, on a plugin basis.

I'd make pod topology spread as a pilot if nobody objects.

[2020-01-29 17:42] rikatz commented on #87615
Exactly @caesarxuchao so this is our question.

I've tracked the error basically grepping it through the Code and crossing with what kubelet was doing that time (watching secrets) to get into that part.

Not an advanced way, through this seems to be the exact point of the error code.

The question is, because the connection is closed is there somewhere flagging that this is the watch EOF instead o

[2020-01-29 17:48] liggitt commented on #87473
this got much worse around 1/24:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce%24#e13ce6a3eff5d487df1c

I don't see anything related to GC merging around then, but I do see two PRs that might bear investigation:
* server-side apply enabled for 50% of requests: https://github.com/kubernetes/kubernetes/pull/87500 (could push things sitting on the e

[2020-01-29 18:01] robscott opened #87659 "Refactor Endpoints and EndpointSlice controller to share Pod IP code"
The logic for deriving IPs from Pods is now being standardized thanks to https://github.com/kubernetes/kubernetes/pull/87608. We should move the [helper functions used by EndpointSlice](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpointslice/utils.go#L130-L148) to `/pkg/controller/util/endpoint` and use them for both controllers.

/kind cleanup
/sig network
/assign

[2020-01-29 18:01] robscott commented on #87659
/remove-kind bug

[2020-01-29 18:06] mrrandrade commented on #87615
I do not have nothing else smarter to add other than we had another node fail the same way, increasing the ocurrences from last 4 days to 4.

Will try to map if bond disconects events are happening on other nodes and if kubelet is recovering - it might be bad luck on some recovers, and not a 100% event.

[2020-01-29 18:11] ahg-g commented on #87621
Sounds good, I think we should just do it for spreading since it is not GA yet. Changing the semantics for affinity may come as a surprise to some.

[2020-01-29 18:24] liggitt commented on #87473
looking at recent failures, at least some of them are simply caused by the test not waiting long enough

from https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84051/pull-kubernetes-e2e-gce/1222516022213349380:

The test failed (from the e2e logs):
* `Jan 29 14:29:10.727: failed waiting for dependent resource "dependentvlnzl" to be deleted`

And the GC delete occurred a few seconds late

[2020-01-29 18:26] Huang-Wei commented on #87621
SGTM.

/close
this issue as we have got a conclusion. I will send a PR addressing  #86037.

[2020-01-29 18:26] #87621 closed

[2020-01-29 18:27] liggitt commented on #87473
timeline:

e2e test created resource:
* `Jan 29 14:28:08.134: INFO: created dependent resource "dependentvlnzl"`

GC synced with new CRD type:
[code]

GC observed new parent:
[code]

GC observed dependent:
[code]

GC deleted dependent:
[code]

GC observed dependent being gone:
[code]

[2020-01-29 18:29] lavalamp commented on #87473
I think this sounds like a pretty reasonable change. We can make the time limit longer at the same time. I don't like the idea of just increasing the time limit when we've got two unknowns (time to GC observing, time to deletion after that).

[2020-01-29 18:34] apelisse commented on #87583
Hi there, this is REALLY odd.

I don't exactly know what this means, but that seems wrong.

We know that we can't change validation between releases, so we're very careful not to change it, I'd be quite surprised if we did change any sort of validation between Kubernetes 1.16 and 1.17 on statefulsets.

It'd help to know what's really going on. Would you mind running the second apply again with `-V

[2020-01-29 18:36] neolit123 commented on #70249
/milestone v1.19
/remove-lifecycle stale

switching milestone to next cycle. please change back if need.

[2020-01-29 18:40] oomichi commented on #87047
@YuikoTakada Thanks for letting me know that.
After https://github.com/kubernetes/kubernetes/pull/87358 we can close this issue.

[2020-01-29 18:46] oomichi commented on #86334
@hasheddan The link of Testgrid shows one flake yesterday, but that seems different one.
So yes, I think we don't see this flake recently.

[2020-01-29 18:49] oomichi commented on #81803
Oops, I forgot this issue and created a new one (https://github.com/kubernetes/kubernetes/issues/87264) instead.
Yes, this should be closed with https://github.com/kubernetes/kubernetes/pull/87265

/close

[2020-01-29 18:49] #81803 closed

[2020-01-29 18:57] robscott commented on #87659
/remove-triage unresolved

[2020-01-29 19:31] Huang-Wei opened #87662 "[Umbrella] Promote Pod Topology Spread to Beta"
**NOTE:** We name the feature as "Even Pods Spread" before, however, the term "even" is ambiguous as the feature actually enables you to control how the pods are spread - either in an absolute "even" way, or skew in some degree. So, we're going to use the term "Pod Topology Spread" to better describe the feature, it's aligned with official doc, as well as documented in [Graduation Criteria#Beta](h

[2020-01-29 19:36] tan-tan-kanarek commented on #78429
Can't remember, sorry, it was months ago,  that cluster does not exist anymore

[2020-01-29 19:53] hasheddan commented on #86334
@oomichi great! thanks for following up here :)

/close

[2020-01-29 19:53] #86334 closed

[2020-01-29 20:21] liggitt commented on #87473
I like the idea of using a foreground delete to infer GC awareness of the new custom type, but I would do that with a new instance, just prior to waiting for the dependent to be deleted, to avoid changing the code path exercised by the existing test. Opened https://github.com/kubernetes/kubernetes/pull/87665 to do that

[2020-01-29 20:25] liggitt commented on #87649
the version can be customized at build time by passing ldflags to the go build to customize the values of the k8s.io/component-base/version and k8s.io/client-go/pkg/version variables

see https://github.com/kubernetes/kubernetes/blob/master/hack/lib/version.sh#L147-L182 for the way these are populated in OSS kubernetes builds

/close

[2020-01-29 20:25] #87649 closed

[2020-01-29 20:27] apelisse commented on #51475
I don't think there is anything to fix here?

[2020-01-29 20:32] jennybuckley opened #87666 "Mutating admission should be handled asynchronously for create requests"
**What happened**:
I noticed that in both the update and patch handler, the apiserver calls admission webhooks from within the asynchronous [finishRequest](https://github.com/kubernetes/kubernetes/blob/e1dd9af8948f983d48dfc0dd81dc31b7d6c1672f/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go#L210-L212) function, but in the create handler, we only call validating webhooks this way, and ca

[2020-01-29 20:35] apelisse commented on #87666
/cc @liggitt @lavalamp

[2020-01-29 20:38] vpickard commented on #86925
With the above PR's, and the PR to update the test image from [15609](https://github.com/kubernetes/test-infra/pull/15609), these are now passing.

[2020-01-29 20:38] #86925 closed

[2020-01-29 20:39] vpickard commented on #86925
https://testgrid.k8s.io/wg-resource-management#kubelet-serial-gce-e2e-cpu-manager

[2020-01-29 20:39] jdef commented on #86367
/assign

[2020-01-29 20:48] neolit123 commented on #87655
it might be too late for this one, without breaking thousands of users.

/sig architecture node

[2020-01-29 20:53] liggitt opened #87668 "[flaky test] Garbage collector timeout tests"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:

- [sig-api-machinery] Garbage collector should not be blocked by dependency circle [Conformance]
- [sig-api-machinery] Garbage collector should orphan RS created by deployment when deleteOptions.PropagationPolicy is Orphan [Conformance]
- [sig-api-machinery] Garbage collector should support cascading deletion of c

[2020-01-29 20:57] liggitt commented on #87668
from the failure in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1220677312073175050:

gc events related to the test:
[code]

test timed out:
[code]

gc events related to the test:
[code]

[2020-01-29 20:57] nickb937 commented on #53533
That logic would apply to any processes running in a mix of containers, regardless of whether Kubernetes is in use or not.

[2020-01-29 21:05] liggitt commented on #87668
cc @caesarxuchao

[2020-01-29 21:08] uablrek commented on #87604
I see the same in ipv6-only;
[code]
My node address begins with `1000::` and the 16.0.0.0 address is deleted.

The problem is actually very old see; https://github.com/kubernetes/kubernetes/issues/65006

But I thought it was fixed since the problem does not seem to exist in a dual-stack deployment, which is *really* strange.

The first time the ipvs is actually setup correct, it is the later "sync

[2020-01-29 21:21] MikeSpreitzer commented on #87594
Also, here is another problem with that error message: the phrase "associative list without keys" is awkward to the point of being confusing.  How about something like "set-typed list", "set-structured list", or simply "set"?

[2020-01-29 21:26] lavalamp commented on #87594
Yeah, "associative" is the old word for map-typed.

On Wed, Jan 29, 2020 at 1:21 PM Mike Spreitzer <notifications@github.com>
wrote:

[2020-01-29 21:27] PatrickLang commented on #87420
We can't remove the dependency on hcsshim - it would break the `/stats` endpoint. In fact we need to increase dependency on it to resolve https://github.com/kubernetes/kubernetes/issues/74991 because of latency issues in Docker codepath. cc @marosset

So I think that leaves us with option 1

[2020-01-29 21:28] MikeSpreitzer commented on #87594
There is also this pointer that I got from Slack: https://github.com/kubernetes/kube-openapi/blob/master/pkg/idl/doc.go#L21-L63

[2020-01-29 21:30] MikeSpreitzer commented on #87594
Also, while I am revisiting this, I wonder: should there be a `listType` annotation on the Items field of FlowSchemaList and PriorityLevelConfigurationList?

[2020-01-29 21:33] lavalamp commented on #87594
The FlowSchemaList and similar types don't matter, since they are not
something a client can write, they're only used for serving read requests.
If we set these annotations on them, they'd be map typed (with namespace
and name the keys). But let's not start doing that now.

On Wed, Jan 29, 2020 at 1:30 PM Mike Spreitzer <notifications@github.com>
wrote:

[2020-01-29 21:34] MikeSpreitzer commented on #87594
Also, I see that `listType=granular` is a possibility.  Now I have to figure out which to use where.

For the config object specs: these may well be big long-lived things, edited over time by various admins.  Does that mean I want `granular` rather than `atomic`?

[2020-01-29 21:37] lavalamp commented on #87594
oh, I remember talking about making that change but I don't remember what was settled on. I thought it was "map"; @apelisse is there a canonical location for this?

[2020-01-29 21:38] pgier commented on #87583
What I meant is that after applying the config, I immediately do a "kubectl get sts/web -o yaml" and these fields are blank.

I haven't added any webhook.  I can reproduce this using a new kind or minikube cluster.
`minikube start --vm-driver=kvm2 --kubernetes-version=v1.17.2`

[2020-01-29 21:39] jennybuckley opened #87672 "Mutating admission should happen after updating managedFields for create requests"
**What happened**:
Currently, the mutating admission happens before updating managedFields in create requests, but in the update and patch handlers, mutating admission happens after updating managedFields. This causes the ownership of fields modified by mutating webhooks to be inconsistent based on the request verb.

https://github.com/kubernetes/kubernetes/blob/1eaa0ee3f9553cce1821434ce64e745ba5b

[2020-01-29 21:40] MikeSpreitzer commented on #87594
Oh, sorry, I misread.  `granular` is indeed for maps not lists.

[2020-01-29 21:42] apelisse commented on #87672
/wg apply

[2020-01-29 21:43] alejandrox1 commented on #87259
@egernst have there been any updates on this? is there a plan in place to begin this work ?

[2020-01-29 21:46] lavalamp commented on #87666
I think the thinking is that Create doesn't need retries due to conflicts, so these hooks wouldn't need to be called multiple times. (but then why would the validating ones?)

Honestly there is no good reason to have a finishRequest at all; it's a holdover from a very early long running operation concept that was removed.

[2020-01-29 21:47] apelisse commented on #87594
We've settled on `granular` and @mariantalla has been working on fixing all these inconsistencies throughout the docs. This is typically a good starting point indeed: https://github.com/kubernetes/kube-openapi/blob/master/pkg/idl/doc.go

[2020-01-29 21:48] MikeSpreitzer commented on #87594
@lavalamp: sorry, I do not seem to have the option to omit `listType` for the top-level lists:
[code]

[2020-01-29 21:49] pgier commented on #87583
So the first apply/create I see a response which includes the values for `apiVersion` and `kind` which is what I would expect.

[code]
If I then do a `kubectl get sts/web -o yaml` I can see the values of apiVersion and kind in the http response, but they are not printed in the yaml output of the command.

Then applying the config the second time I see this request.  With a response matching the er

[2020-01-29 21:51] lavalamp commented on #87594
oh, we need to fix that right away. @apelisse... We should make an exception for the *List types, don't you think?

[2020-01-29 21:51] liggitt commented on #87666
until every single call in our request handling stack honors context deadline, I think we need it. we're getting closer, but I'm not positive we are quite there.

at first glance, for this particular case, moving https://github.com/kubernetes/kubernetes/blob/1eaa0ee3f9553cce1821434ce64e745ba5b135d2/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go#L141-L161 inside the function  passed

[2020-01-29 21:52] apelisse commented on #87594
That seems like a broad brush. They should definitely be atomic for now.

[2020-01-29 21:53] egernst commented on #87259
Hey @alejandrox1 - I was waiting on my changes until I saw original RuntimeClass metrics working.  See https://github.com/kubernetes/kubernetes/pull/87627

I expect to have this tested and a PR with unit tests in place in the next week.

[2020-01-29 22:00] lavalamp commented on #87594
I think we should leave it unset on those types, since they're not targets for apply, put, or patch.

Also "granular" is for maps, not lists :)

[2020-01-29 22:03] apelisse commented on #87594
Yeah, and it's also fine to add it as an exception for now.

[2020-01-29 22:17] apelisse opened #87674 "Suggest `listType=map` if we can guess good key options"
We currently fail with an error if `listType` is missing on lists, and that's a good thing, but we can be even more useful and suggest `listType=map` along with `listMapKeys=...` if we can figure out a good value.

For example, if we detect that the list is a list of struct that have a field name, that list is probably a map with name as the key.

This can (and probably should)  happen in multiple

[2020-01-29 22:18] apelisse commented on #87674
/sig api-machinery
/wg apply
/assign @mariantalla
/cc @lavalamp

[2020-01-29 22:21] lavalamp commented on #87594
I filed https://github.com/kubernetes/kube-openapi/issues/185

Until we get this fixed, I guess mark them as atomic to avoid the spurious warning.

[2020-01-29 22:27] liggitt commented on #87441
this is still being seen extremely frequently (seen multiple times in a row on the same PR at https://github.com/kubernetes/kubernetes/pull/87664)

[2020-01-29 22:33] nrb opened #87675 "'cannot convert int64 to float64' with runtime.DefaultUnstructuredConverter.FromUnstructured on CustomResourceDefinitions with integer minimum, maximum, and/or multipleOf values"
**What happened**:

When converting JSON representations of v1beta1 CustomResourceDefintions with `Spec.Validation.OpenAPIV3Schema.Properties.(Minimum|Maximum|multipleOf)` fields set to a whole number, the `runtime.DefaultUnstructuredConverter.FromUnstructured` function returns 'cannot convert int64 to float64'.

Making the field decimal numbers converts as expected.

**What you expected to happen

[2020-01-29 22:35] nrb commented on #87675
/sig api-machinery

[2020-01-29 23:34] aojea commented on #87659
just a heads up that maybe the PodIP code has to be modified to return multiple endpoints if the `Spec.IPFamily`field is `nil` when using headless services with selectors.
Currently it only returns the endpoint corresponding to the IPFamily of the service, and the IPv4 endpoint if the IPFamily is nil.

https://github.com/kubernetes/kubernetes/pull/86895#issuecomment-580012474

[2020-01-29 23:52] johnbelamaric commented on #80770
/remove-lifecycle stale

[2020-01-29 23:57] enragedginger commented on #87655
I don't agree with that rationale. I think we can all agree that we should avoid using vulgarities in our code, documentation, and general professional communication. Regardless of whether or not the word was once accepted in computation, it is now a common vulgarity. Therefore, we should move away from it. Doing so will only increase the appeal of Kubernetes by making it appear more mature and fo

[2020-01-30 00:15] egernst commented on #87259
@tallclair @dashpole - I could use a soundboard with this.

I was using the existing RuntimeClass monitoring code, which makes use of the [instrumentedRuntimeService](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/instrumented_services.go#L29). This 'wrapper' is quite nice for being able to gather metrics/instrumentation.

For PodOverhead, it is more challenging to de

[2020-01-30 00:38] smarterclayton commented on #87655
Thanks for the feedback.  Since these issues historically attract a lot of unhelpful arguments and attacks in the threads, I'm going to lock this issue for now and when we add this to sig-architecture agenda I'll update with details for discussion there.

[2020-01-30 00:44] liggitt commented on #87643
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/87464 and will be resolved in 1.17.3 by https://github.com/kubernetes/kubernetes/issues/87540

[2020-01-30 00:44] #87643 closed

[2020-01-30 00:53] liggitt commented on #87675
I don't think number type conversion is intended to be performed by that helper. It's primary purpose is to round-trip between a typed and unstructured object without requiring json serialization/deserialization.

If you have JSON you want to unmarshal, you can do so directly into the CRD go type without first unmarshaling into an Unstructured object.

[2020-01-30 01:01] Huang-Wei opened #87678 "Calculate "preFilterState" for PodTopologySpread if it's not pre-calculated in preFilter plugin"
Part of #87662.

In alpha phase, pod topology spread only works in defaultProvider, to promote it in beta, we should implement the slow-path preState calculation when it's not set:

https://github.com/kubernetes/kubernetes/blob/cad44602e1188a1feff0bc085dc8286c6c5d3640/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go#L296

/sig scheduling
/kind feature
/assign

[2020-01-30 01:02] YuikoTakada opened #87679 "Fix non-ascii characters which are written accidentally"
**What happened**:
There are some files which contain non-ascii charactor accidentally.

**What you expected to happen**:
Fix non-ascii characters written by mistake(it means, we don't get rid of non-ascii characters which are written intentionally).

**How to reproduce it (as minimally and precisely as possible)**:
ex)a file which contains non-ascii characters
[code]
ex)a file which **DOESN'T** c

[2020-01-30 01:11] YuikoTakada commented on #87679
/sig testing

[2020-01-30 01:11] msau42 commented on #79780
/remove-lifecycle rotten
@jsafrane is this still an issue?

[2020-01-30 01:14] msau42 commented on #83382
/remove-lifecycle rotten
@jsafrane is this still an issue? One way to check is to make a breaking change in cleanup and see if the pull job fails.

[2020-01-30 03:20] whiskeyjimbo opened #87683 "API Docs for corev1.LimitRangeItem show type as +optional and omitempty"
**What happened**:
updating controller and using API docs shows corev1.LimitRangeItem as not requiring `Type`, this is not the case.

**What you expected to happen**:
API Docs should show that Type is required

**How to reproduce it (as minimally and precisely as possible)**:
Per API Docs https://github.com/kubernetes/kubernetes/blob/ae95a4bfcac12bf6b19e2d5acf6404359b1a8c3b/staging/src/k8s.io/api/

[2020-01-30 03:29] MikeSpreitzer opened #87684 "FlowSchemaStatus is ambiguous"
**What happened**:
Thinking about how I might utilize the "dangling" condition in testing, I noticed a lack of synchronization.  Clients can update the Spec of a FlowSchema at any time --- even after conditions have been set in the Status.  A client has no way to know whether a given condition in the Status was derived from current Spec or a previous Spec.

**What you expected to happen**:

**How

[2020-01-30 03:29] MikeSpreitzer commented on #87684
/sig api-machinery

[2020-01-30 03:30] MikeSpreitzer commented on #87684
@lavalamp
@yue9944882
@jktomer
@deads2k
@mars1024

[2020-01-30 03:31] pisymbol commented on #33777
So this just happened to me. I have a four node RPi4 cluster (look out!):

[code]

If Spark tries to schedule executors with cores=4, k8s scheduler barfs and says insufficient cpus?? If I make it 3 it works. No idea why since each worker node has 4 cores available.

[2020-01-30 03:38] #81598 closed

[2020-01-30 05:03] markyjackson-taulia commented on #74375
Hello, @alejandrox1 @mariantalla @alenkacz,
I wanted to check in on this issue to ensure it was still on track for the v1.18 release cycle.

[2020-01-30 05:04] markyjackson-taulia commented on #76342
Hello, @bclau @johnSchnake
I wanted to check in on this issue to ensure it was still on track for the v1.18 release cycle.

[2020-01-30 06:30] iamcryptoki commented on #87643
Thanks, @liggitt! Solved the issue by upgrading cluster from 1.17.0 to 1.17.2 and deleting `spn:` prefix in the OIDC configuration `--oidc-client-id=`.

[2020-01-30 06:38] liggitt commented on #87643
To be clear, 1.17.3 will revert the breaking change, so you'll likely need to upgrade both server and kubectl at that point.

[2020-01-30 07:25] iamcryptoki commented on #87643
Thanks, @liggitt!

[2020-01-30 07:26] gianarb commented on #65200
Hello @liggitt !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-01-30 07:27] gianarb commented on #75551
Hello @mikedanese  !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-01-30 07:45] pjbgf commented on #82647
Still relevant. The seccomp profile is waiting for https://github.com/kubernetes/kubernetes/pull/85121 to be approved.

/remove-lifecycle stale

[2020-01-30 08:33] uablrek commented on #87604
The problem exists also in dual-stack;
[code]
I missed it since I had a longer sync interval for dual-stacl.

[2020-01-30 08:43] #81596 closed

[2020-01-30 08:43] #81290 closed

[2020-01-30 08:52] uablrek commented on #87604
This passes tests because the initial setup is correct. IPv6 traffic works, but if something happens so the sync functions is needed, then problems comes. I tested to reboot one node and checked with `ipvsadm -Ln` and there was an "extra" target for the cluster-ip causing traffic loss.

This is a serious problem but it feels "re-introduced", I was sure I have seen it working.

I will investigate f

[2020-01-30 10:03] gothicfann commented on #71887
Same Issue Here:
k8s: v1.15.5
docker: 18.06.2-ce
os: CentOS 7.7
kernel: 3.10.0-1062.1.2
cgroup-driver: systemd

[2020-01-30 10:12] #87228 closed

[2020-01-30 10:42] frittentheke commented on #76568
/remove-lifecycle rotten

[2020-01-30 11:06] tvvignesh commented on #22024
Getting the same logs on v1.15.1 Hope, I don't have to worry about this.

![Screenshot from 2020-01-30 16-35-30](https://user-images.githubusercontent.com/1165845/73444464-a1571300-437e-11ea-926b-2fcf260a29da.png)

[2020-01-30 11:46] drx777 commented on #74551
FWIW, I ran into

    E0130 12:37:06.971972   32446 portforward.go:400] an error occurred forwarding 10001 -> 9090: error forwarding port 9090 to pod <someid>, uid : exit status 1: 2020/01/30 11:37:06 socat[23094] E write(5, 0x560b3b7332f0, 7): Broken pipe

And this was resolved by using plaintext (`usePlaintext()`) on the channel.

[2020-01-30 12:39] kimxogus commented on #78761
Having the same issue on 1.15.9(on aws via kops), I tried all hpa v1, v2beta1 and v2beta2, and both cpu utilization and custom metrics(like requests per second) via prometheus adapter, hpa always scale up and never scales down even metric is much smaller than target value.

[2020-01-30 12:59] kimxogus commented on #78761
Since I separated all cronjobs from my app's helm chart, hpa started to scale deployment correctly.
This is very weired, because pods from deployment and cronjobs have different `component` label(`web-server` and `cronjob`).

[2020-01-30 13:06] #87651 closed

[2020-01-30 13:51] VassilisVassiliadis commented on #48245
@ryanmahan It's hard to say, but the pods were probably getting evicted because they were not in the `Guaranteed` QoS class.

Check this out for more information https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed

[2020-01-30 14:01] jacqinthebox commented on #43633
@catalinpan I have almost the same config as @angelogwapo. I have two domains:

-  one-app.one-domain.dev
-  two-app.two-domain.dev

Both are pointing to the same loadbalancer. Both have a valid TLS certificate.
Below my config. I get directed to the correct page, but the TLS certificate is only valid for the domain mentioned as the host. When I browse to the other domain, I am presented the Kuber

[2020-01-30 14:10] everpeace opened #87690 "some scheduler metrics(pending_pods, schedule_attempts_total) was not recorded."
**What happened**:

two scheduler metrics, `pending_pods` and `schedule_attempts_total`, was not recorded in `v1.17.0`.

scheduler has some code for this already.  It seems to be a bug.

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go#L58-L63
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go#L149-L155

**What you expected to

[2020-01-30 14:12] everpeace commented on #87690
/assign

[2020-01-30 14:14] skilxn-go commented on #87690
Pending pods sounds good. And what do you expect for `schedule_attempts_total`?

[2020-01-30 14:17] everpeace commented on #87690
@skilxn-go actually, scheduler has some codes already for recording these metrics.

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go#L58-L63
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go#L273-L286

But I found a bug in these code.  I will post my PR to fix this issue soon.

[2020-01-30 14:23] lucky125111 opened #87691 "Remove version from status.storedVersions not possible"
**What happened**:

I tried the scenario where I want to remove version from status.storedVersions while Manually upgrading the existing objects to a new stored version.

Attempts to remove old stored version:
1. `kubectl` - I tried to remove the first version by applying new definition crd2.yaml

`kubectl apply -f crd2.yaml`
_crd2.yaml_:
[code]

error:
* spec.version: Invalid value: "v1": must ma

[2020-01-30 14:26] lucky125111 commented on #87691
/sig api-machinery

[2020-01-30 14:29] jayunit100 commented on #87305
That said, i think we are missing some coverage for ports, even for ports 80, 81 which we use in `PodServer` as part of our tests.  Although I agree that this is more likely a CNI provider issue, i think increasing our test coverage in network policy to support a few other protocols and ports might be valid.  Im looking to see if we can build some consensus around this subject.

[2020-01-30 14:57] saniic commented on #76774
Deleting ~/.kube/http-cache also not solved the issue. I am facing the issue with KOPS cluster not with EKS

[2020-01-30 15:00] midhun-mohan commented on #62283
@janetkuo can you please let me know how to find the api version an object is deployed to k8s ?

Context of the question :
I was able to see the same deployments in both api groups apps/v1  and extensions/v1beta1
although the objects were deployed with apps/v1.

i was also trying to find the objects which i need to migrate due to the deprecation of apis in 1.16.

[2020-01-30 15:08] jdef commented on #86367
I have a working patch that fixes this, will push a PR shortly.

[2020-01-30 15:12] michaelbeaumont commented on #66766
OK, again still open, doesn't look like anyone is working on this. I'd like to try it.

The fix that occurs to me is simply to only listen to IPv6 addresses if the cluster is IPv6.
If the e2e tests fail in this case (from looking at
https://github.com/kubernetes/kubernetes/blob/73409068cd35918fd4c2d4f4d9c422a64116da20/test/e2e/framework/service/jig.go#L766

I don't think they will) then maybe they

[2020-01-30 15:13] michaelbeaumont commented on #66766
/assign michaelbeaumont

[2020-01-30 15:50] #76820 closed

[2020-01-30 15:51] anton-johansson commented on #43633
@jacqinthebox: Your `Ingress` configuration actually only configures one host (`one-app.one-domain.dev`). Sure, your `tls` configures both of them, but you still need one rule for each domain. Specifically see the array under `spec.rules`. Currently, there is nothing that tells NGINX which service that the 2nd domain should proxy to.

[2020-01-30 15:56] andrewsykim commented on #87318
Pulled in the latest fixes from docker/libnetwork here https://github.com/kubernetes/kubernetes/pull/87695.

[2020-01-30 15:56] walterdolce commented on #37211
In version:
[code]

And with a pod that is created from a cronjob, this doesn't work:
[code]

But `get pods` is currently set to:
[code]

/cc @chrislovecnm

[2020-01-30 16:03] andrewsykim commented on #84438
/close

Please feel free to reopen if you find any other issues worth calling out

[2020-01-30 16:03] #84438 closed

[2020-01-30 16:04] andrewsykim commented on #85877
/remove-triage unresolved

[2020-01-30 16:05] andrewsykim commented on #85877
@0xcb49 I noticed that your `--cluster-cidr` flag on kube-proxy is set to the service IP range and not the pod cidr for your cluster, wondering if that is causing this issue

[2020-01-30 16:15] justaugustus commented on #87228
@huchengze @ydcool -- With the merge of https://github.com/kubernetes/kubernetes/pull/78819, CNI plugins will now be retrieved from `https://storage.googleapis.com/k8s-artifacts-cni/release/`, which is a GCS bucket with shared control between CNI plugin maintainers and the Kubernetes Release Engineering subproject.

When CNI plugins creates a new release, we'll ensure that we're updating that buck

[2020-01-30 16:25] dhawal55 commented on #82067
I'm running into the same issue trying to start kubernetes using kubeadm on Centos 7. It looks similar to issue #76146. I have logs posted here: https://github.com/kubernetes/kubernetes/issues/76146#issuecomment-576362872

[2020-01-30 16:43] yxzking commented on #87649
@liggitt Thanks i succeeded！

[2020-01-30 16:55] jtslear commented on #18394
Hello @liggitt, @mikedanese
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

[2020-01-30 16:56] jtslear commented on #62046
Hello @feiskyer, @ksubrmnn
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

[2020-01-30 17:21] voron commented on #43633
@jacqinthebox

you may use multiple independent domains in one TLS secret
[code]

[2020-01-30 17:30] lavalamp commented on #82743
I accept the use case as valid but personally I'd also like to see evidence that it's widespread? `kube-apiserver` configuration is very confusing already, this doesn't make it simpler, and it's got coordination and immutability difficulties, so it's not as easy as one might hope.

[2020-01-30 17:37] daschott commented on #62046
I think this should be moved to milestone 1.19 or (more likely) 1.20.
FYI DSR is also pending approval at Microsoft to be backported all the way to RS5 later this year, will keep this thread updated.

[2020-01-30 17:52] lavalamp commented on #74551
Can you say more about that? That's suspicious, if the problem is binary data, maybe there's some specific byte sequence that is tickling a bug in the proxy.

[2020-01-30 17:54] lavalamp commented on #22024
Yeah, those are multiple minutes apart, completely expected behavior. Also, almost certainly exercising the case that the previously mentioned Bookmarks will optimize.

[2020-01-30 18:04] PatrickLang commented on #87420
ok @liggitt and @dims  - if we remove the hcsshim -> k/k dependency, then we still need to ensure that k/k and containerd both vendor the same version of hcsshim right?

[2020-01-30 18:06] PatrickLang commented on #87420
@jterry75 has a PR https://github.com/microsoft/hcsshim/pull/764

[2020-01-30 18:27] eduardobcastro commented on #51835
That worked for me

[2020-01-30 18:29] jtslear commented on #62046
@daschott thank you for following up.  I'll bump this to 1.19 for the time being, we can follow up again then.
/milestone v1.19

[2020-01-30 18:30] hpandeycodeit commented on #78693
/remove-lifecycle stale

[2020-01-30 18:31] hpandeycodeit commented on #78693
/remove-lifecycle rotten

[2020-01-30 18:36] smarterclayton commented on #87655
I'll bring this up at the sig-arch meeting today, however as neolit noted

* our API guarantees prevent these sorts of renames on short time scales (we might introduce a new name, but the old name would be preserved effectively for the rest of the v1 lifetime)
* the term is well established in both having common descriptive usage (outside of the less-common vulgar usage)

so I think it's unlikely

[2020-01-30 18:47] apelisse commented on #87583
I'm still really confused about the kind and apiserver missing, and I'd really like to see an example of that.

OK That's probably the problem then. Let me see why they don't match.

[2020-01-30 18:48] lavalamp commented on #87684
The condition type probably universally needs an "ObservedGeneration". Our case may also need a field for "Observer" since there'll be multiple apiservers independently making judgments.

I think this can be addressed for beta, GA, or later--it's OK to suffer in the meantime.

[2020-01-30 18:48] apelisse commented on #87583
OK I"m able to reproduce with a kind cluster, that's useful, thanks!

[2020-01-30 18:49] smourapina commented on #76206
Hello @alejandrox1! This is just a friendly reminder from the Bug Triage team: are we still targeting this issue for milestone 1.18?

[2020-01-30 18:55] deepanverma19 commented on #78761
Do we have any update for this issue?

[2020-01-30 18:55] enj commented on #84165
@micahhausler In this case (and #87252), why do you not just prevent these via a deny authorizer in front of RBAC?

[2020-01-30 19:02] apelisse commented on #87583
I initially thought that the problem was that "phase: Pending" is added somehow, and that we're trying to remove it which fails. But you're right, we used to be able to patch that, and it's not accepted anymore.

[2020-01-30 19:02] deepanverma19 commented on #78712
@max-rocket-internet Do you have any update for this?

[2020-01-30 19:05] neolit123 commented on #76206
thanks for the heads up @smourapina
moving to this to 1.19.

/milestone v1.19

[2020-01-30 19:07] timothysc commented on #87655
I'm opposed to the change at this stage due to the overall impact it would have, there is plenty of history and literature that does not pertain to the urban-dictionary definition.

[2020-01-30 19:09] spiffxp commented on #87441
I opened https://github.com/kubernetes/test-infra/pull/16071 for the last idea I have for working around bazel's behavior, beyond this I am out of my depth on how to replace bazel for the release/push-build.sh script

[2020-01-30 19:10] MorrisLaw commented on #86318
I think this is another example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/87090/pull-kubernetes-e2e-gce/1222925370781601792/

message:
[code]

pr:
https://github.com/kubernetes/kubernetes/pull/87090

[2020-01-30 19:14] liggitt commented on #87655
Agreed. A rename at this point is not practical due to API compatibility guarantees, and the term as used corresponds to the legitimate and inoffensive definition of the word.

[2020-01-30 19:16] timothysc commented on #87655
We discussed this issue on the SIG-arch call of 20200130, and have unanimously agreed that we will keep the current naming for the aforementioned reasons.

[2020-01-30 19:16] #87655 closed

[2020-01-30 19:19] liggitt commented on #87691
fields under status are modified via the status subresource, e.g.:

[code]

[2020-01-30 19:19] #87691 closed

[2020-01-30 19:25] spiffxp commented on #87441
... but I'm willing to try with a canary job and see what happens https://github.com/kubernetes/test-infra/pull/16073

[2020-01-30 19:28] liggitt commented on #87679
thanks for the PR, we can just track the change there... no need for a separate issue

/close

[2020-01-30 19:28] #87679 closed

[2020-01-30 19:44] liggitt commented on #87583
I think this is related to https://github.com/kubernetes/kubernetes/pull/82780

In 1.16, statefulsets were converted like this: https://github.com/kubernetes/kubernetes/pull/82780/files#diff-2ee4fc301db0484dfdcdc19887921873L369-L377

In 1.17, like this: https://github.com/kubernetes/kubernetes/pull/82780/files#diff-7c0297503437549fb2edbc92aa20e796R1211

cc @wojtek-t

[2020-01-30 19:45] alculquicondor opened #87703 "Unit test that plugin args are being set correctly from policy"
/kind cleanup
/sig scheduling

Tests in `pkg/scheduler/factory_test.go` only check that no errors are produced. But we are not testing that the produced plugin config is correct.

/help-wanted
/good-first-issue

[2020-01-30 20:55] davidxia commented on #78796
/remove-lifecycle stale

[2020-01-30 21:11] fedebongio commented on #87668
/assign @liggitt
thank you for fixing it!

[2020-01-30 21:11] fedebongio commented on #87672
/assign @jennybuckley

[2020-01-30 21:13] fedebongio commented on #87675
/assign @jennybuckley

[2020-01-30 21:50] dashpole commented on #87259
I am generally opposed to the kubelet omitting metrics about the state of kubernetes objects.  I would suggest trying to add this to kube-state-metrics instead.

[2020-01-30 22:37] pjmichael commented on #53023
We are experiencing this too in version `1.15.5`.

[2020-01-30 22:55] liggitt commented on #87583
The reflect-based conversion set apiVersion/kind as a side-effect. We can accomplish a similar result by defaulting those fields (when unset) to the v1/PersistentVolumeClaim values. Done in #87706

[2020-01-30 23:02] pancernik commented on #87703
/assign

[2020-01-30 23:10] aojea commented on #82743
just curious @kmala , with current explanation I understand that it simplifies your setup, but what impedes you creating the well-known apiserver service address (cluster-cidr+1) in the load balancer in advance?

[2020-01-30 23:18] marosset commented on #74991
Delays in the ConstainerStats calls were investigated and more details can be found in this Moby Issue.
https://github.com/moby/moby/issues/40437

I tried replacing calls to the docker api to get container stats with calls to hcsshin and greatly sped up calls to /stats/summary.
Since it looks like the delay is fixed and backed into ConstainerStats call another option could be to parallelize the ca

[2020-01-30 23:22] abhiraut opened #87709 "Add "loggingPolicy" field to NetworkPolicy spec"
**What would you like to be added**:
Add a new field `loggingPolicy` to NetworkPolicy `spec`. The field would accept the following options:

- ``None``: Do not perform any logging. Default option.
- ``Drop``: Log traffic which was dropped due to this NetworkPolicy.
- ``All``: Log all traffic which was either matched or dropped due to this NetworkPolicy.
- ``Allow``: Log traffic that was matched an

[2020-01-30 23:23] abhiraut commented on #87709
/sig network

[2020-01-30 23:41] jgiangrande-applause commented on #69311
We would love this feature as well.

[2020-01-31 00:20] davidz627 commented on #87104
+1 I've been seeing this flake a lot recently on `pull-kubernetes-e2e-gce` as well. Happens on various tests

[2020-01-31 00:41] annajung commented on #80916
Hello @jennybuckley 👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-01-31 00:42] annajung commented on #77988
Hello @apelisse  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-01-31 00:42] PatrickLang commented on #70189
This is going to need a Windows fix, not a ContainerD fix. We won't have that before code freeze on 5 March, so I'm pushing this out to 1.19.

/milestone v1.19

[2020-01-31 00:42] apelisse commented on #77988
No :-/

[2020-01-31 00:47] kmala commented on #82743
This is an issue in scenario's where the load balancer is shared and also when using the existing LB's where the entire subnet is not just for kubernetes cluster/s.

[2020-01-31 00:49] PatrickLang commented on #87420
re: tagging - I talked to @jterry75 and we want to propose adding different release tags for the containerd train, as the older 0.8.x ones were vendored into Docker and not tested with ContainerD or K8s.

This would give us 1 tag that we could vendor into both containerd and kubernete/kubernetes off a commitID, run tests, then add the tag. They would need to stay in sync, but at least we can tag w

[2020-01-31 00:55] jktomer commented on #87684
Note that the dangling status can be out-of-date in two ways: either the flow schema's spec or the priority level it references can have changed between the last time the condition was updated and when the reader sees it. I'm not sure if we have a standard way to deal with this kind of cross-object consistency issue in k8s, or if people are just accustomed to dealing with such artifacts of eventua

[2020-01-31 00:58] annajung commented on #77988
@apelisse Thanks for getting back to me! Since this issue is not intended for 1.18 release, would you be okay if I defer the milestone to 1.19?

[2020-01-31 00:59] #87383 closed

[2020-01-31 01:00] #87594 closed

[2020-01-31 01:01] kmala commented on #82743
i researched about how different companies are doing with the clusterIP where they couldn't run kube-proxy but didn't find much and hence can't say if its widespread or not. Not sure what you meant by coordination and immutability difficulties because unless someone wants to use this feature i don't see any difference in the existing functionality and also i see this as an extensibility feature be

[2020-01-31 01:58] MikeSpreitzer commented on #87684
There certainly is not a way to provide general multi-object consistency, because the available ACID transactions are so limited.  There are more complicated and specific things that can be done, such as https://www.ibm.com/cloud/blog/new-builders/preserve-kubernetes-api-objects-while-they-are-in-use .  But the original observation here is that we do not even have some obvious intra-object consist

[2020-01-31 01:59] apelisse commented on #77988
Of course

On Thu, Jan 30, 2020 at 4:58 PM Anna <notifications@github.com> wrote:

[2020-01-31 02:07] mortent commented on #86358
Seems like #87205 fixed this issue. According to https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=DisruptionController.*block, this test hasn't seen a single failure in the last two weeks.

[2020-01-31 02:09] mortent commented on #87194
/assign

[2020-01-31 02:43] neolit123 commented on #87683
1.14 is out of support. does the same happen with 1.15+?
1.15 will come out of support too with the release of 1.18 in late March.

/sig node
/kind documentation

[2020-01-31 02:46] #87666 closed

[2020-01-31 02:46] #87672 closed

[2020-01-31 02:54] zigmund commented on #75663
Same here. With `cpuManagerPolicy: static` for every init-container every ~15 sec log written:
[code]

/reopen
/remove-lifecycle rotten

[2020-01-31 03:45] haosdent commented on #87703
/remove help

[2020-01-31 03:46] haosdent commented on #87703
/remove-help

[2020-01-31 04:02] #81986 closed

[2020-01-31 04:02] ydcool commented on #87228
Got it, thank you!

---Original---
From: "Stephen Augustus"<notifications@github.com&gt;
Date: 2020/1/31 00:15:10
To: "kubernetes/kubernetes"<kubernetes@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"Dominic Yin"<hi@ydcool.me&gt;;
Subject: Re: [kubernetes/kubernetes] How to push CNI plugins to https://storage.googleapis.com/kubernetes-release/network-plugins? (#87228)

@huch

[2020-01-31 04:12] eightlimbed commented on #82774
I ran into this error and realized it was because I had the environment variable `KUBERNETES_SERVICE_HOST` set incorrectly.

[2020-01-31 06:25] haosdent commented on #82346
/remove-lifecycle state

[2020-01-31 06:26] haosdent commented on #82346
https://github.com/kubernetes/kubernetes/pull/83455 could fix this issue.

[2020-01-31 07:49] aojea commented on #82743
This can cause conflicts between IPs assigned to the services and IPs in the external subnets that will be very difficult to resolve from an operability point of view, basically, because there will be two different domains creating IPs in the same subnet without any synchronization (if there are different cluster and a external load balancer I can't see how they can do it)
If for whatever reason y

[2020-01-31 08:04] haosdent commented on #45419
I am using containerd + kubernetes 1.16, this still happen easily when I have 191 containers per node. How about increase the threshold? Or any better solutions? @yujuhong

[2020-01-31 08:21] yue9944882 commented on #87684
we're already bumping the `.metadata.generation` on every spec update, it's low-hanging-fruit to add `observedGeneration` to the FS/PL's status. it can be a follow-up of #87413.

https://github.com/kubernetes/kubernetes/blob/1bb68a2cde08e39875f8e4f53bf429e14438835e/pkg/registry/flowcontrol/flowschema/strategy.go#L58-L60

[2020-01-31 09:07] #82258 closed

[2020-01-31 09:18] aojea commented on #87305
should this be closed then and follow up on the test coverage in a new issue?

[2020-01-31 09:30] aojea commented on #63906
I see that the problem is legit, but is this setup frequently used?
why not using services instead of hostports?

[2020-01-31 10:18] sbl-matter commented on #81270
So, the sorting options is broken only when option `--all-namespaces / -A` is used.

[2020-01-31 10:27] max-rocket-internet commented on #78712
Nope. There was some fixes merged but it takes so long for them to be in a GA release.

[2020-01-31 10:47] achernev opened #87719 "Deployment with hostNetwork cannot reach service net with 1.17.2."
**What happened**:

A Deployment with `hostNetwork: true` and `dnsPolicy: ClusterFirstWithHostNet` cannot reach the DNS server listed in `/etc/resolv.conf`, which has contents as follows:

[code]

**What you expected to happen**:

Pod should be able to reach the DNS server listed in `/etc/resolv.conf` and resolve names inside and outside of the service network.

**How to reproduce it (as minimally

[2020-01-31 10:53] haosdent commented on #83224
@cofyc I think your CRD solution is preferred, so this issue could be closed?

[2020-01-31 11:15] achernev commented on #87719
/sig network

[2020-01-31 11:22] achernev commented on #87719
I should add that _it appears_ that if a CoreDNS pod runs on the same node as the one doing the resolution request, it works once out of however many CoreDNS pods there are. For example, in my case: 5 nodes, 5 CoreDNS instances, DNS resolution works once every 5 requests.

[2020-01-31 11:23] deveshmehta commented on #29298
I manage to restrict internal load balance to only intra_subet with the help of tags

  `public_subnet_tags` = {
    "kubernetes.io/cluster/${var.eks_cluster_name}" = "shared"
    "kubernetes.io/role/elb"                      = "1"
  }

  private_subnet_tags = {
    "kubernetes.io/cluster/${var.eks_cluster_name}" = "shared"
  }

  intra_subnet_tags = {
    "kubernetes.io/cluster/${var.eks_cluster_

[2020-01-31 11:36] marqc commented on #86485
It might have been accidentally "fixed" in 1.15.8 with this PR https://github.com/kubernetes/kubernetes/pull/86320

I suspect there is some racing condition bug in kubelet. This bug resulted in generating "empty patch requests" with pod status when generating json patch body with json diff between oldStatus and newStatus.

After changes from mentioned PR there is always difference between oldStatu

[2020-01-31 12:22] KIVagant commented on #71869
Faced the same problem.

`kubectl drain --delete-local-data --ignore-daemonsets $NODE_IP && kubectl uncordon $NODE_IP` was enough to clean the disk storage.

[2020-01-31 12:38] fromanirh opened #87720 "cpumanager e2e test fails on multi-node NUMA system"
**Which jobs are failing**:
N/A - AFAICT CI jobs works fine

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
no historical record on CI

**Testgrid link**:
N/A

**Reason for failure**:
I believe the tests make too many assumptions around the hardware, and the code is actually OK. to be confirmed.

**Anything else we need to know**:
[code]

[2020-01-31 12:39] fromanirh commented on #87720
/sig node
/sig testing

[2020-01-31 12:40] fromanirh commented on #87720
also affects the recently added topology manager e2e tests. My PR https://github.com/kubernetes/kubernetes/pull/87645 uses a different approach to check resource alignment so is not affected.
/cc @vpickard

[2020-01-31 12:40] fromanirh commented on #87720
I'll work on a PR to fix this issue ASAP

[2020-01-31 12:43] obitech commented on #80941
/remove-lifecycle stale

[2020-01-31 13:00] cofyc commented on #83224
this can be closed

[2020-01-31 13:30] #87690 closed

[2020-01-31 13:35] vpickard commented on #87720
Thanks @fromanirh for opening this issue. We knew about this, just had not opened an issue to track it, so thanks for doing that! Deepthi has been looing at CPU Manager tests, not sure if she has some PR in progress or not. I'll make sure to forward this to her (can find her user id here ....) in case she has something in progress

[2020-01-31 14:07] annajung commented on #77988
/milestone v1.19

[2020-01-31 14:33] jnicholls commented on #49745
/remove-lifecycle rotten

[2020-01-31 14:34] jnicholls commented on #49745
I suggest reopening this, due to a few client projects having ran into this issue. I will be addressing this issue in the Rust client's Reflector implementation.

[2020-01-31 14:35] michcio1234 commented on #78761
I had a similar issue and in my case the problem was that some scheduled pods were Pending (because the cluster didn't have enough resources). As soon as I added new nodes, Pending pods were started and HPA was able to scale the deployment down.
So it's what @tuckerconnelly wrote in https://github.com/kubernetes/kubernetes/issues/78761#issuecomment-558399867.

[2020-01-31 14:47] claudiubelu commented on #76342
It is. We've merged the Image Centralization part 4 PR recently, a few fixes need to merge, and then this will have to also merge: https://github.com/kubernetes/kubernetes/pull/81226

[2020-01-31 14:55] mlushpenko commented on #60987
And on 1.15.5 on AKS

[2020-01-31 15:01] michael-db opened #87724 "K8s breaks CSI idempotency requirement: NodePublishVolume() passes same target_path for all block mode consumers"
For filesystem volumes, NodePublishVolume receives, e.g.,
[code]
which is different for every pod. However, for block mode volumes, it is like
[code]
regardless of the pod to which the device is being attached, and the same is true for NodeUnpublishVolume.

It appears that there is no way for a CSI driver to distinguish between a repeated NodePublishVolume() for the same pod (to which the CSI spec

[2020-01-31 15:07] jnicholls commented on #49745
We decided to leave it to upstream Kubernetes since resourceVersions are technically an opaque value, and any perceived order of the values should not be assumed by the clients. So I would strongly suggest if there is no means for clients to order events on their own, and the apiserver's expectations is to deliver events in the order in which they occurred, that this issue be reopened, confirmed,

[2020-01-31 15:13] #82263 closed

[2020-01-31 15:30] rochacon commented on #61486
@george-angel you might want to double check if your VPC has the “enable dns hostnames” option enabled. With the default hostname suffix everything should work OOB.

[2020-01-31 15:30] mwennrich commented on #83265
FYI: https://github.com/kubernetes-csi/csi-driver-host-path has the same problem in minikube. Replacing the /sbin/losetup busybox link with a "real" losetup helped for now, but isn't a solution of course.

[2020-01-31 15:33] michael-db commented on #87724
Further explanation: I would expect NodePublishVolume to relate to the node, i.e., not to see more than one NodePublishVolume() in a row without an intervening NodeUnpublishVolume, however that is not the case: there are two NodePublishVolume() calls followed by two NodeUnpublishVolume() calls, i.e., there is an overlap.

[2020-01-31 15:48] abelal83 commented on #17512
by far the best answer here.

[2020-01-31 16:14] #79478 closed

[2020-01-31 16:30] xrow commented on #65937
Hi,

I had the same issue my PVS was named "data-nfs-nfs-server-provisioner-0, but my pv was named "data-nfs-server-provisioner-0".

I was installing with helm 3 on openshift 3.11.

I think the trick is to let have the PCV the correct name "data-nfs-server-provisioner-0".

fullnameOverride: "" didn`t work either. I believe the charts needs some minor tweak.

[2020-01-31 16:34] alculquicondor commented on #87703
The tests should look more like this:

[code]

And perhaps validate that raw args decode correctly to the specific Arg type of each plugin.

[2020-01-31 16:35] skilxn-go commented on #87586
/cc

[2020-01-31 17:10] apelisse commented on #76774
I'm a little clueless at this point. @shurcool can you help us look at that?

[2020-01-31 17:40] lavalamp commented on #80916
@apelisse @jennybuckley do we have a plan to resolve this? It makes sense in retrospect but it's definitely a sharp edge, like just now I reread and thought there must be some major bug until I kept reading up to past!me's explanation.

Doc fixes might not be enough, how hard does it sound to add the explanation to the conflict error? Here's some ideas:
* `Conflict: Apply failed with 1 conflict: c

[2020-01-31 17:43] georgasa commented on #51785
The same bug exists still in v1.12.10:

Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.10", GitCommit:"e3c134023df5dea457638b614ee17ef234dc34a6", GitTreeState:"archive", BuildDate:"2019-11-28T14:04:50Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.10", GitCommit:"e3c134023df5dea457638b614

[2020-01-31 17:44] apelisse commented on #80916
We have improved the error at the time this bug was reported: #81958.
We are thinking about the smooth on-ramp, and @julianvmodesto has started working on it, but it's on-hold for the next release (1.19).

[2020-01-31 17:47] apelisse commented on #80916
Some of these suggestions are good though ... What about:
`Conflict: Apply failed with 1 conflict: conflict with "kubectl" (not APPLY) using apps/v1 at 2019-08-02T15:09:10Z: .spec.template.metadata.annotations.hello`

[2020-01-31 18:53] caesarxuchao commented on #85250
We might missed an egress point: https://github.com/kubernetes/kubernetes/blob/b1aff7832d8ed78a013f5e0e4b9dc582734d622d/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L230

[2020-01-31 19:15] BenTheElder commented on #87325
Is buildah available on Mac or runnable in a docker container?

[2020-01-31 19:30] kmala commented on #82743
If you are using an actual load balancer for the Cluster IP's, then you wouldn't want kubernetes to assign an actual IP because k8s doesn't know about this LB and the routing is not handled by it. What we are having is a mutating and admission webhook which will make sure that a service is created with a pre allocated IP thus making sure that there are not IP conflicts.

yes, i agree with you that

[2020-01-31 21:03] htaub opened #87733 "Cannot update HPA objects using object metrics with AverageValue"
**What happened**:

When attempting to label a HorizontalPodAutoscaler (autoscaling/v2beta2) object that has an object metric using `AverageValue`,  received the following error:

```The HorizontalPodAutoscaler "<hpa-name>" is invalid: spec.metrics[0].object.target.value: Invalid value: resource.Quantity{i:resource.int64Amount{value:0, scale:0}, d:resource.infDecAmount{Dec:(*inf.Dec)(nil)}, s:"0",

[2020-01-31 21:05] htaub commented on #87733
/sig autoscaling

[2020-01-31 21:13] rikatz commented on #86507
@ghhenry I'm unassigning myself as I'm really busy this start of the year :(

Have you figured out what was happening there?

/unassign @rikatz

[2020-01-31 21:16] robertchen opened #87735 "OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:303: getting the final child's pid from pipe caused \"EOF\"": unknown""
**What happened**: using a POD for building docker images, sometimes got this error:
"OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:303: getting the final child's pid from pipe caused \"EOF\"": unknown"

**What you expected to happen**:  should be no issue

**How to reproduce it (as minimally and precisely as possible)**:  build nginx r19 in

[2020-01-31 21:18] claudiubelu commented on #87325
Ye, will look into it. But I think someone was already doing work on this, will have to check how it looks. And we can probably add the Image Promoter to this, including the Windows bits in a similar way we're doing with the test images.

[2020-01-31 21:20] NickSchleicher opened #87736 "Secrets applied with stringData show configured even when no changes made"
**What happened**:
Applied a secret with `stringData`. After applying the same secret a second time (no changes made), kubectl outputs `secret/user configured`

**What you expected to happen**:
No changes were made on the second apply, so the output should be `secret/user unchanged`

**How to reproduce it (as minimally and precisely as possible)**:
secret_stringdata.yaml
[code]
`kubectl apply -f s

[2020-01-31 21:24] lavalamp commented on #10179
I disagree with lavalamp!2015, I think this would be very useful.

[2020-01-31 21:31] lavalamp commented on #10179
For deletion protection a simple boolean field in metadata seems fine.

For mutation protection, a field doesn't seem sufficient. That's because for many resources, what you actually want to lock is the spec, and you want to let the status continue to update. Locking status would cause controllers to log many error messages or worse.

So, for that, I think the server side apply concept of a "field

[2020-01-31 22:00] apelisse commented on #10179
One could implement mutation prevention with a validating webhook without having to write any new core Kubernetes feature. It could be reasonable to have a new abstraction to do just that.

[2020-01-31 22:08] bgrant0607 commented on #10179
As with finalizers, I think a bool for deletion prevention probably isn't sufficient. We probably need something like a set of "liens".

[2020-01-31 22:24] MrHohn commented on #78549
/reopen
/remove-lifecycle rotten

[2020-01-31 22:29] ge90toga commented on #87546
## Pod design:
- Labels and selectors: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#label-selectors
- Deployments: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
- Cron jobs: https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/

[2020-01-31 23:00] mateuszlitwin opened #87738 "framework.Handle should allow to move pods to the active queue"
**What would you like to be added**:
Framework plugin can currently decide that pod is unschedulable (by returning Unschedulable and UnschedulableAndUnresolvable codes) during the scheduling attempt. However plugin has no control over what resource events are considered by the scheduler when making decision on whether pod should be moved between active, backoff and unschedulable queues. It should

[2020-01-31 23:42] ge90toga commented on #87546
Template:
Pod, deployment,job

No template: cron job

[2020-02-01 00:13] ahg-g opened #87739 "Backport scheduler metrics fix to 1.16 and 1.17"
We need to backport #87692 to v1.16 and v1.17

/sig scheduling
/help
/priority critical-urgent

[2020-02-01 00:21] marqc commented on #86485
/area kubelet

[2020-02-01 00:33] notpad commented on #87739
/assign
/remove-help

[2020-02-01 02:32] msau42 commented on #84940
has this been resolved yet?

[2020-02-01 03:19] neolit123 commented on #87735
/sig node

[2020-02-01 03:20] neolit123 commented on #87736
/sig cli

[2020-02-01 03:20] neolit123 commented on #87738
/area e2e-test-framework

[2020-02-01 03:22] neolit123 commented on #87738
/remove-area e2e-test-framework

[2020-02-01 03:51] cmluciano commented on #87709
/remove-triage unresolved

[2020-02-01 03:52] cmluciano commented on #87709
@danwinship @caseydavenport Thoughts?

[2020-02-01 03:59] tedyu commented on #87684
/assign

[2020-02-01 04:08] #87583 closed

[2020-02-01 04:19] julianvmodesto commented on #80916
Ideally the error clearly tells me what and how to update (fix) the field(s) in my local manifest to match the live values to take field ownership and avoid a conflict.

This is the KEP update for the smooth client-side to server-side upgrade:
https://github.com/kubernetes/enhancements/pull/1382

[2020-02-01 04:56] subrnath commented on #85764
I tested with the following configuration -
--reserved-cpus=0-3 --cpu-manager-policy=static --system-reserved=cpu=2,memory=512Mi --kube-reserved=cpu=2,memory=512Mi

I am finding same issue. I deployed a Pod with 4 cores. /var/lib/kubelet/cpu_manager_state shows -

{"policyName":"static","defaultCpuSet":"0-3,6-15,18-23","entries":{"80135d993f44b38528069c26a050c402807f10f89aee354ef04af75671b04e83":"

[2020-02-01 06:23] #87184 closed

[2020-02-01 08:00] draveness commented on #87738
Currently, we could handle the gang scheduling by permit plugin, the pods could wait in permit plugin until the desired state, e.g. a minimum number of pods and etc. You could find an example here. https://github.com/hex108/coscheduling-plugin

You could also read the co-scheduling design document by @hex108 https://docs.google.com/document/d/1-igzuDyiN24yvcc0I4qGnN_w6tYRd9IZpEOgxrC7j_U/edit

[2020-02-01 08:01] draveness commented on #84473
/remove-lifecycle stale
/lifecycle frozen

[2020-02-01 09:26] ghhenry commented on #86507
@rikatz No unfortunately not. But I still think it has to do with the repetition of the SYN packet.

[2020-02-01 09:31] #82265 closed

[2020-02-01 10:07] Stono commented on #65098
I would really like this feature.  At the moment we've had to change to `OnDelete` and manage the rollout outside of kubernetes

[2020-02-01 10:43] saschagrunert commented on #87325
It runs inside docker containers. Can we create a list of requirements that I could prepare a demo container? What is the whole set of platforms which we have to support?

[2020-02-01 12:05] gireeshpunathil opened #87744 "Automatic PV(C) support"
**What would you like to be added**:
 - automatic provision of a pvc, one per POD
 - configurable at the project level, with default being disabled.
 - applied for every deployments under the project
 - size of the volume as a function of the size of the container that runs the app / service
 - retain last `n` volumes, with automatic cleanup of the rest, with `n` defaults to 1 and is configurable

[2020-02-01 12:09] gireeshpunathil commented on #87744
/sig storage
/sig usability
/sig cluster-lifecycle

[2020-02-01 12:34] #82281 closed

[2020-02-01 14:09] danwinship commented on #87709
This would need to be done as a KEP.

That said, as the long attempt to explain the "Deny option" hints, this doesn't really map very well onto the way that NetworkPolicy works.

The `except` clauses in `ipBlock`s don't deny traffic, they *fail to allow* it. Traffic which matches an `except` clause may still be allowed by another policy.

That's part of the *Global*NetworkPolicy, which does have a

[2020-02-01 15:42] aojea commented on #83346
/close

per https://github.com/kubernetes/kubernetes/issues/83346#issuecomment-570237824

[2020-02-01 15:42] #83346 closed

[2020-02-01 17:12] mateuszlitwin commented on #87738
Permit plugin is not sufficient if pods are stuck in the unschedulable queue. To implement performant gang scheduling we need mechanism to ensure gang pods will go to the scheduling cycle roughly the same time.

Note that when you are scheduling a particular gang, then gang pods of other gangs should not be reserved/assumed, because no gang might end up scheduled. As the result you end up blocking

[2020-02-01 17:14] tvvignesh commented on #71420
/reopen

[2020-02-01 17:19] tvvignesh opened #87747 "kubectl wait should not fail if resource isn't available or is already deleted"
Hi. A similar issue was reported here: https://github.com/kubernetes/kubernetes/issues/71420 but the bot had closed it due to inactivity. So, creating a new one with details again.

I am facing the same problem on my end. If a resource does not exist or is deleted, but you are using wait --for condition delete, it fails. There is a flag in delete `--ignore-not-found=true` to avoid such errors. A s

[2020-02-01 17:22] tvvignesh commented on #87747
/sig cli

[2020-02-01 18:42] hprateek43 commented on #87744
@gireeshpunathil Wouldn't adding a PVC to every pod be counter-intuitive ? The PVC construct depends on an underlying PV. The usual recommendation is to add some logging or tracing solution on top of the Kubernetes infrastructure like the ELK stack or Jaeger.

Could you explain your use case?

[2020-02-01 20:55] towolf commented on #87615
I think we are seeing this too, but we do not have bonds, we only see these networkd "carrier lost" messages for Calico `cali*` interfaces, and they are local veth devices.

[2020-02-01 23:13] adampl commented on #45419
@haosdent Check if the fix has been merged into your version of Kubernetes. If it's on 1.16 at all, then it must be the latest release. Or upgrade to 1.17 and you will have it 100%.

[2020-02-02 01:59] cofyc commented on #80712
/remove-lifecycle rotten

On Sun, Feb 2, 2020 at 9:47 AM fejta-bot <notifications@github.com> wrote:

--
Yecheng Fu (Cofyc)
https://yechengfu.com

[2020-02-02 03:59] draveness commented on #80611
/remove-lifecycle stale
/lifecycle frozen

[2020-02-02 04:12] draveness commented on #87738
You can't ensure the pods go to the scheduling cycle roughly the same time since the scheduling cycle runs in serial.

The scenario you mentioned here truly exists, the pod group has to wait for the last pod to be scheduled. But do you have numbers on the percentile of the stucking unschedulable pod, which blocks the whole pod group? IMO after we have real clusters running the co-scheduling plugin

[2020-02-02 06:33] gireeshpunathil commented on #87744
@hprateek43 - thanks for the response!

my use cases are:

 - dumps - (system dumps, snap dumps, heap dumps): they aid diagnostics, and need to persist across restarts
 - traces and logs - according to discretion, an architect want to design the runtime / middleware / application specific tracing and logging to be written to disk.

while this is possible through configuration on a per deployment l

[2020-02-02 09:25] mitar commented on #69640
/remove-lifecycle stale

[2020-02-02 09:39] errordeveloper commented on #46508
/remove-lifecycle stale

On Wed, 29 Jan 2020 at 01:12, fejta-bot <notifications@github.com> wrote:

[2020-02-02 09:41] errordeveloper commented on #54482
/remove-lifecycle stale

On Wed, 29 Jan 2020 at 07:18, fejta-bot <notifications@github.com> wrote:

[2020-02-02 10:26] skilxn-go commented on #87523
This issue will be separated into two commits:

- [ ] Rename `postfilter` to `prescore`, and keep the interface unchanged.
- [ ] Remove `filteredNodesStatuses NodeToStatusMap` from `prescore`'s interface.

[2020-02-02 10:35] skilxn-go opened #87749 "[Scheduler Framework] Refactoring `PostFilter` plugin."
# Background
It's a tracking issue for #87523 .
Currently, every post-filter plugin is doing pre-score jobs. So it's better to change its name to `PreScore`.
Meanwhile, we should keep this plugin just for reporting. So the `filteredNodesStatuses NodeToStatusMap` should be removed from `pre-score`'s interface. User behavior shouldn't cause side-effects via this argument.

# Details
This issue will

[2020-02-02 10:36] skilxn-go commented on #87523
@alculquicondor Hi, as we have reached an agreement, would you please close this issue, and I will create a clean one for tracking the progress, thanks.

[2020-02-02 10:52] skilxn-go opened #87750 "[Scheduler Framework] Rename `PostFilter` to `PreScore`"
Part of #87749
As `post-filter` plugins are now doing `pre-score` works, we should change its name to `PreScore`

[2020-02-02 10:52] skilxn-go commented on #87750
/sig scheduling
/assign

[2020-02-02 11:57] #79373 closed

[2020-02-02 13:12] wojtek-t commented on #48610
/remove-lifecycle stale

[2020-02-02 19:26] howardjohn opened #87755 "kubectl apply panic, slice out of bounds"
**What happened**:
[code]

**What you expected to happen**:

No panic; if I did something wrong at least give a friendly error message

**How to reproduce it (as minimally and precisely as possible)**:

It seems reproducible just running this script:
[repro.txt](https://github.com/kubernetes/kubernetes/files/4145085/repro.txt)

**Anything else we need to know?**:

**Environment**:
- Kubernetes ver

[2020-02-02 19:29] howardjohn commented on #87755
Well I missed something. Line 85 of the repro is some junk that got mixed in that is not yaml/json. So its pretty clear the input was invalid, the issue here is just panic vs human friendly error.

/sig cli

[2020-02-02 20:02] howardjohn opened #87756 "kubectl apply --prune namespace interaction"
Not sure if this is a bug, feature requests, or a documentation issue.

**What happened**:
I am trying to apply some configs with --prune, and was surprised by the behavior. I have a config file with objects in multiple namespaces, and apply with `kubectl apply --prune` (note: no `--namespace` flag). By kube context was set to a namespace that was not in the manifests.

Here is what I found:
* If

[2020-02-02 20:05] #74992 closed

[2020-02-02 21:39] droslean commented on #87387
[code]
[code]

Those tests start failing as well.

/sig scheduling

[2020-02-02 21:57] droslean opened #87757 "[Stale Tests] ci-kubernetes-bazel-build-1-14, ci-kubernetes-bazel-test-1-14"
Jobs `ci-kubernetes-bazel-build-1-14`  and `ci-kubernetes-bazel-test-1-14` are reported in testgrid as stale but regarding prow they are running without any problem.

https://testgrid.k8s.io/sig-release-job-config-errors#ci-kubernetes-bazel-build-1-14
https://testgrid.k8s.io/sig-release-job-config-errors#ci-kubernetes-bazel-test-1-14

https://prow.k8s.io/?job=periodic-kubernetes-bazel-build-1-14
h

[2020-02-02 22:07] #82173 closed

[2020-02-02 22:07] #82179 closed

[2020-02-02 22:40] rajdas98 commented on #84585
Is this issue still open?

[2020-02-02 23:08] #78169 closed

[2020-02-02 23:08] #80759 closed

[2020-02-03 01:09] sofat1989 commented on #86337
@sftim OOMKilled is the normal behavior. But I think it should kill the containers at first to release the memory and then the podsandbox.

[2020-02-03 01:29] everpeace commented on #87739
Thanks @notpad for cherry-picking!!

[2020-02-03 02:11] #81852 closed

[2020-02-03 03:09] zhucan commented on #86194
@haosdent  OK

[2020-02-03 03:09] #86194 closed

[2020-02-03 03:31] jianxingzhe commented on #86942
the memory request of my pod is 12Gi

[2020-02-03 03:35] BobyMCbobs opened #87762 "Write CoreV1Endpoints test+promote - +4 coverage"
- [x] [mock test ticket](https://github.com/kubernetes/kubernetes/issues/87120)
- [x] [PR](https://github.com/kubernetes/kubernetes/pull/88778)
- [ ] [promotion](#)

#
This issue proposes the writing of a new test for the API endponts `replaceCoreV1NamespacedEndpoints`, `patchCoreV1NamespacedEndpoints`, `listCoreV1EndpointsForAllNamespaces`, `deleteCoreV1CollectionNamespacedEndpoints` with the int

[2020-02-03 04:23] xichengliudui opened #87763 "An error occurred after setting the k8s context"
**What happened**:
I have two clusters and set the k8s context, but an error occurs when the first cluster uses the second, and an error occurs when the first cluster is used in the second cluster, here is the output:
[code]
[code]
*the error I encountered when using cluster1 in the cluster2 cluster is the same as when using cluster2 in the cluster1 cluster*
**What you expected to happen**:
Normal

[2020-02-03 04:25] xichengliudui commented on #87763
/sig kube-apiserver

[2020-02-03 08:17] #44370 closed

[2020-02-03 08:26] ipuustin commented on #85764
I have a PR which should help with your problem here by automating the cpuset resource setting to system-reserved cgroup: https://github.com/kubernetes/kubernetes/pull/87452

You can set a cpuset on a cgroup by writing the `cpuset.cpus` file. The exact way to do it depends on your cgroup setup but something like this might work:

    # echo "1-4" > /sys/fs/cgroup/cpuset/system.slice/cpuset.cpus

N

[2020-02-03 08:33] droslean commented on #87387
/sig node

[2020-02-03 08:33] droslean commented on #87387
/cc @msau42

[2020-02-03 08:47] khaderkhan commented on #48245
My pods are running on GCP and I'm getting this error since the past 12+ hours. It was working perfectly fine before that.
`Port:           3000/TCP
    Host Port:      0/TCP
    State:          Running
      Started:      Mon, 03 Feb 2020 14:09:08 +0530
    Last State:     Terminated
      Reason:       Completed
      Exit Code:    0
      Started:      Mon, 03 Feb 2020 14:02:51 +0530
      Fini

[2020-02-03 08:49] oronboni commented on #83073
Issue returned in K8S 1.15.4
Warning   UpdateLoadBalancerFailed   service/nginx-ingress-controller   Error updating load balancer with new hosts map[<nodes names>]: [EnsureHostInPool(ingress/nginx-ingress-controller): backendPoolID(/subscriptions/<subscription>/resourceGroups/<rg>/providers/Microsoft.Network/loadBalancers/<rg>/backendAddressPools/<rg>) - failed to ensure host in pool: "azure - clo

[2020-02-03 08:51] david9991 opened #87764 "System services be KILLed without any reason."
**What happened**:
System services be KILLed without any reason, and especially I run `kubectl delete pods xxx --force --grace-period=0`, the node become NotReady with some error message like this.

<img width="892" alt="Screen Shot 2020-02-03 at 3 27 23 PM" src="https://user-images.githubusercontent.com/123219/73638166-df1caa00-46a4-11ea-9409-2b6d83b5b378.png">
<img width="846" alt="Screen Shot 2

[2020-02-03 09:02] heyjared commented on #78854
here's a workaround
find . | xargs -i{} kubectl cp {} namespace/pod:path

[2020-02-03 09:11] david9991 commented on #87764
This also happens on nodes with Debian (Installed on some of my servers running Alpine Linux as the KVM host), CentOS (mentioned in openshift/origin#23499) installed.

[2020-02-03 09:14] monotek commented on #79432
/remove-lifecycle stale

[2020-02-03 09:24] brancz commented on #64730
/remove-lifecycle stale

[2020-02-03 09:33] zhouya0 commented on #87747
/assign

[2020-02-03 11:00] alenkacz opened #87766 "Dynamic reloading of certs in kube-aggregator"
**What would you like to be added**:
1.17 made almost all certs in api-machinery world dynamically loaded from disk (example #84200) but the same was not done for certs in kube-aggregator.

**Why is this needed**:
Allows e.g. cert rotation

/sig api-machinery
/milestone v1.18

[2020-02-03 11:02] alenkacz commented on #87766
/assign

[2020-02-03 11:12] alenkacz commented on #87766
/milestone v1.18

[2020-02-03 11:23] drx777 commented on #74551
This is grpc communication. The channel creation code goes like this:

     val channel = ManagedChannelBuilder
            .forAddress(grpcListenAddress, grpcPort)
            // .usePlaintext()
            .directExecutor().build()

And the error I get is

    io.grpc.StatusRuntimeException: UNAVAILABLE: io exception
    Channel Pipeline: [SslHandler#0, ProtocolNegotiators$ClientTlsHandler#0, Wr

[2020-02-03 11:51] skilxn-go commented on #87427
Kindly ping @fengzixu what's the progress of this issue? Need any help?

[2020-02-03 12:05] fengzixu commented on #87427
@skilxn-go Let me submit the PR by Wednesday.

[2020-02-03 12:07] skilxn-go commented on #87427
Thanks, just checking. 👍

[2020-02-03 12:17] fengzixu commented on #87427
Should I move the integration Test `TestTaintBasedEvictions` into the `app` directory of e2e test?
According to this comment: https://github.com/kubernetes/enhancements/pull/1510#issuecomment-579329753

@skilxn-go

[2020-02-03 12:22] skilxn-go commented on #87427
Actually, I'm not quite sure about it. But I guess `TaintBasedEviction` is better to be put under sig-node. @Huang-Wei Do we have an agreement about where to put those tests?

[2020-02-03 12:48] dudicoco opened #87768 "Does metrics server support multiple replicas?"
Hi,

I could not find this in the documentation so perhaps it should be clarified there.
Can the metrics server be deployed with multiple replicas, or can it only run with 1 replica similar to controllers?

Thanks

[2020-02-03 12:52] fengzixu commented on #87427
@Huang-Wei I decide to move the TestTaintBasedEvictions into the evictions directory. WDYT?

[2020-02-03 13:01] simonstumpf opened #87769 "kubectl now showing api-server after enabling psp"
I have a cluster running on kubernetes v1.17.2 with one master and an node.

**What happened**:
After I enabled PodSecurityPolicy in the kube-apiserver.yaml file
`- --enable-admission-plugins=NodeRestriction,ResourceQuota,PodSecurityPolicy`, the api server cant be viewed by `kubectl get pods -n kube-system`
Output of the command:
[code]

However i can see the api server with docker ps (kubectl wor

[2020-02-03 13:05] simonstumpf commented on #87769
/sig cli

[2020-02-03 13:21] deads2k commented on #87766
This makes sense to fix.  It's the last gap that I know of.

[2020-02-03 13:29] joshimhoff commented on #80539
/remove-lifecycle stale

[2020-02-03 13:29] joshimhoff commented on #80538
/remove-lifecycle stale

[2020-02-03 13:58] pires opened #87770 "Discovery should return error if Forbidden"
In Kubernetes 1.14, anonymous API discovery has been dropped (the cluster role-binding that enabled it is no longer applied). This means, when using `client-go` for any unauthenticated, non-dynamic/unstructured requests, an HTTP 403 will be the result. However, `client-go` discovery eats HTTP 403 (and also does 404) which effectively means to the caller there was no error.
In my case I am seeing s

[2020-02-03 13:58] LaumiH opened #87771 "Exposure of pod in Job fails: AlreadyExists; service did not exist and is created anyway"
**What happened**: I have a pod inside a Job with label `app=mitmproxy`. I want to expose it with a ClusterIP service. The `expose` command works, but the AlreadyExists error is thrown anyway. Let me be clear: There was no service before, and then a service is successfully created, but the server tells me there is already a service.
As I run the commands in an ansible script, the output is
`"stder

[2020-02-03 13:59] pires commented on #87770
/sig @kubernetes/sig-api-machinery-bugs

[2020-02-03 14:02] LaumiH commented on #87771
/sig api-machinery

[2020-02-03 14:28] liggitt commented on #87441
bumping priority, this looks like 99/122 flakes according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json
/priority critical-urgent

[2020-02-03 14:31] smirnov-mi commented on #60987
Got same issue since 2 days on k8s v1.17.2    docker://19.3.5  .  Came right after updating from 1.16.2 . Sadly this "orphaned" pod was an active rook-ceph one and removing it's data crashed my CephFS

[2020-02-03 14:50] JanMatas commented on #68078
/remove-lifecycle rotten

It seems like we are seeing the same issue. Cluster with enabled workload identity does not block access to metadata endpoint using NetworkPolicy. However, same config without workload identity worked fine for us.

What is the best way to disable access to the endpoint when workloadidentity is enabled?

[2020-02-03 14:51] JanMatas commented on #68078
/reopen

[2020-02-03 14:51] alculquicondor commented on #87523
Why create a new one? In general, it's best to keep the full context.

[2020-02-03 14:54] skilxn-go commented on #87523
Sure, I just think maybe I should open a new clean issue for tracking progress. I will close them.

[2020-02-03 14:55] #87749 closed

[2020-02-03 14:55] #87750 closed

[2020-02-03 14:56] skilxn-go commented on #87523
This issue will be separated into two commits:
- [ ] Rename `postfilter` to `prescore`, but keep the interface unchanged.
- [ ] Then remove `filteredNodesStatuses NodeToStatusMap` from `prescore`'s interface.

[2020-02-03 14:59] skilxn-go commented on #87523
As I have sent one pr above to rename `postfilter` to `prescore`, I wonder if I should rename `pkg/scheduler/framework/v1alpha1` dir to `pkg/scheduler/framework/v1alpha2` in this pr?
@ahg-g @alculquicondor WDYT?

[2020-02-03 15:12] liggitt opened #87773 "CVE-2019-11251: kubectl cp symlink vulnerability"
A security issue was discovered in kubectl versions v1.13.10, v1.14.6, and v1.15.3. The issue is of a medium severity and upgrading of kubectl is encouraged to fix the vulnerability.

**Am I vulnerable?**

Run kubectl version --client and if it returns versions v1.13.10, v1.14.6, and v1.15.3, you are running a vulnerable version.

**How do I upgrade?**

Follow installation instructions here Instal

[2020-02-03 15:12] #87773 closed

[2020-02-03 15:15] liggitt commented on #87769
Enabling PodSecurityPolicy requires constructing policies and granting access to all pod-creating actors. This means you have not defined a pod security policy and granted access to the kubelet to allow it to create the api-server pod. Check the kubelet logs and you will see the relevant forbidden errors.

/close

[2020-02-03 15:15] #87769 closed

[2020-02-03 15:16] sciffer commented on #78761
I’m still facing that issue, it never scales down even When cpu shows up to
1%.
And no, don’t have other resources in the same namespace with
colliding/same labels/matchers.

On Thu, Jan 30, 2020 at 8:00 AM Taehyun Kim <notifications@github.com>
wrote:

[2020-02-03 15:17] liggitt commented on #87763
are the user credentials you have valid for both clusters? when you merge the two files, do you have different user credentials stored in user stanzas with the same name? if so, then merging them will stomp the credentials for one of the users.

[2020-02-03 15:17] oxddr opened #87774 "[Failing Test] gce-master-scale-correctness: Dynamic Provisioning DynamicProvisioner should provision storage with different parameters"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
[sig-storage] Dynamic Provisioning DynamicProvisioner [Slow] should provision storage with different parameters

**Since when has it been failing**:
02/03

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
PersistentVolume pvc

[2020-02-03 15:20] sleekweasel opened #87775 "kubectl describe pod - structured output appears to contradict event log during deployment startup."
**What happened**:

I'm deploying a number of containers to a number of nodes that run nothing else. I explicitly delete the previous instance of each node's deployment before re-deploying, and after my tests.

There's one pod per node, I have configured no start/ready probes, no resource allocation (cpu, etc) because the nodes are dedicated. The status/control container within my pod deals with w

[2020-02-03 15:22] sftim commented on #86337
“it” here is the host OS acting on hints that the container runtime has / hasn't set. I think.

So this touches on the same area that https://github.com/kubernetes/kubernetes/issues/29871 covered. (I think).
If you had a container runtime that didn't have a pause container you would not see this OOM issue. So is it more of a Docker issue?

[2020-02-03 15:26] simonstumpf commented on #87769
Well I already had a psp before I edited the kubernetes-apisverver manifest. And the kubectl works perfectly with the enabled psp but I just can't see the apiserver.

[code]

[2020-02-03 15:31] liggitt commented on #87769
Did you grant the ability to use that PSP to the kubelet? See https://kubernetes.io/docs/concepts/policy/pod-security-policy/#authorizing-policies

[2020-02-03 15:36] simonstumpf commented on #87769
Well I'm not quite sure.
`Granting the controller access to the policy would grant access for all pods created by that controller, so the preferred method for authorizing policies is to grant access to the pod’s service account`
The docs say that the preferred method is to authorise the service account of a pod. Otherwise it would effect all pods created by that controller. So do I really need to

[2020-02-03 15:44] liggitt commented on #87769
The pods created by the kubelet to reflect the static pod manifests it is running do not have a service account specified, so yes, you do.

As an example, see the privileged PSP policy, role, and rolebinding used in the cluster addon:
* [policy](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/addons/podsecuritypolicies/privileged.yaml)
* [role](https://github.com/kubernetes/kubern

[2020-02-03 15:45] htaub commented on #87733
An update: this doesn't only affect the `label` command. Any attempt to patch the affected HPA object (i.e. changing `minReplicas`) will return the same error.

[2020-02-03 16:12] simonstumpf commented on #87769
Thank you very mutch for your help :)
It works now

[2020-02-03 17:18] tedyu commented on #87770
I looked at related code.
Initial thought is adding new func to ServerGroupsInterface which exposes the 403 error.
Let me see if I can find better approach.

[2020-02-03 17:22] neolit123 commented on #87775
/remove-kind bug
/kind feature
/sig cli

[2020-02-03 17:24] neolit123 commented on #87764
/sig node

[2020-02-03 17:24] cmluciano commented on #81421
/close

[2020-02-03 17:24] #81421 closed

[2020-02-03 17:39] antonblock commented on #28149
Heads up to future people, that site just redirects to spam/malware sites. Found someone else with the same experience on Reddit

https://www.reddit.com/r/sysadmin/comments/erkb9q/config9com_hosting_racoon_malware/
https://www.joesandbox.com/analysis/202225/0/html

[2020-02-03 17:45] ialidzhikov commented on #86715
I observe the same behaviour with v1.17.2.
Logs of apiserver:
[code]

But

[code]

[2020-02-03 18:27] #82159 closed

[2020-02-03 18:27] krisdock opened #87779 "kubeadm reset no longer prints iptables commands"
**What happened**:
`kubeadm reset` no longer prints the string of iptables commands for flushing rules

**What you expected to happen**:
I expected `kubeadm reset` to provide the string of iptables commands like it has for many versions

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.17.2
- OS (e.g: `cat /etc/os-release`): Ubuntu 18.04

[2020-02-03 18:29] krisdock commented on #87779
/sig cluster-lifecycle

[2020-02-03 18:38] #87779 closed

[2020-02-03 18:55] superdave commented on #53533
Agreed! But Docker already explicitly supports running with swap. Kubernetes explicitly does not (though you can force it to). My contention is that it should be at least called out, because it's not in everyone's threat model, especially if they haven't had to think about it previously.

[2020-02-03 18:57] superdave commented on #53533
Also yes, @sftim, it does. :-) I think what I'm saying is that I'd like to write/contribute to a KEP, but I would like to see a minimal test case or two which reliably exercises the problem on a given test system before venturing out so that we can be sure we're solving the right problems.

[2020-02-03 19:11] dashpole commented on #68522
/assign @serathius

[2020-02-03 19:19] hasheddan opened #87782 "[Failing Test] capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:

`capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)`

**Which test(s) are failing**:

`Overall`

**Since when has it been failing**:

`3rd Feb 03:07 PST`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we n

[2020-02-03 19:35] Jefftree commented on #84940
Yeah, it's been resolved.
/close

[2020-02-03 19:35] #84940 closed

[2020-02-03 19:37] bradparks commented on #49387
I wanted to be able to filter pods by a ready state (fully ready), and posted a StackOverflow [question here](https://stackoverflow.com/q/60045964/26510), with some possible answers (works for me)

[2020-02-03 19:49] neolit123 commented on #87782
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts/1224332673900613638/build-log.txt

[code]

unless i'm wrong clusterctl is built from the master of the k-sigs/cluster-api repo, so this could be a regression in the tool:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cluster-api-provider-gcp-make-conformance-stabl

[2020-02-03 19:50] ahg-g opened #87783 "Cleanup "slow-path" logic in scheduler Filters"
by "slow-paths"  we mean logic that allows executing Filters in the absence of PreFilter state.

In the scheduler, it is not possible that a Filter will be invoked without invoking its PreFilter first, but we still have logic in Filters to allow this because historically ClusterAutoscaler didn't consistently call "MetadataProducer", neither kubelet and daemonset controller.

Now that both Kubelet

[2020-02-03 19:50] cbf123 commented on #84749
/remove-lifecycle stale

[2020-02-03 19:52] ncdc commented on #87782
That's not clusterctl from master

[2020-02-03 19:52] ncdc commented on #87782
The workload cluster's apiserver didn't come up / wasn't reachable...

[2020-02-03 19:54] ncdc commented on #87782
cloud init output shows it couldn't pull the CI images. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts/1224378227712069633/artifacts/logs/test1-controlplane-0/cloud-init-output.log

[code]

[2020-02-03 19:54] neolit123 commented on #87782
oddly, i see it fetching k-sigs/cluster-api from master and no branch or commit checkouts after that.

[2020-02-03 19:54] ncdc commented on #87782
This failure was the same for the 2 most recent runs

[2020-02-03 19:55] tallclair commented on #84571
/remove-lifecycle stale

[2020-02-03 19:59] ncdc commented on #87782
While it does fetch cluster-api master, it builds clusterctl using the version of cluster-api in capg's go.mod file, which is from v1alpha2

[2020-02-03 20:01] ncdc commented on #87782
I assume this issue will auto resolve once the test isn't trying to use CI artifacts that are missing.

@dims do you know why https://dl.k8s.io/ci/latest-green.txt sometimes yields a version from CI that either doesn't exist or at least the docker images aren't there?

[2020-02-03 20:05] neolit123 commented on #87782
most of the labels seem to point at 355, but this api-server image is not there yet:
https://console.cloud.google.com/gcr/images/kubernetes-ci-images/GLOBAL/kube-apiserver?gcrImageListsize=30

the only reliable label seems to be:
https://storage.cloud.google.com/kubernetes-release-dev/ci/k8s-master.txt

[2020-02-03 20:05] neolit123 commented on #87782
the issue is logged here: https://github.com/kubernetes/release/issues/897

[2020-02-03 20:07] alculquicondor opened #87784 "Define in-tree PluginConfig Args as component config types"
/kind cleanup
/sig scheduling

As we move from parameters in the root of the component config to using args in PluginConfig (#87617), we are losing visibility of available parameters (in the API definition) and their early validation. Arguably, we might also lose versioning.

Since the configuration of in-tree plugins is part of the API, one alternative is to move the args definition to the `pkg/s

[2020-02-03 20:09] ncdc commented on #87782
Do we need to update the capa & capg jobs to use the URL you listed?

[2020-02-03 20:14] ahg-g commented on #87784
+1 to having all plugin configuration definitions of in-tree plugins to the apis/config package. They are practically part of the API, and so we should make sure they are properly versioned.

[2020-02-03 20:15] neolit123 commented on #87782
ci/latest.txt and the rest of the "latest" labels used to work, therefore this is a regression in the build tooling.

but yes, i do recommend for the time being:
https://storage.cloud.google.com/kubernetes-release-dev/ci/k8s-master.txt

[2020-02-03 20:25] pjh opened #87785 "Windows 1909 failing test: E2E: [k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]"
"[k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]" is failing consistently for Windows 1909 on GCE, but it's passing for 2019. Likely one of the containers it depends on hasn't been rebuilt as multi-arch?

https://testgrid.k8s.io/sig-windows#gce-windows-1909-master&width=20

Failure message

[2020-02-03 20:26] pjh commented on #87785
/sig windows
cc @claudiubelu

[2020-02-03 20:32] pjh commented on #87785
More useful output from build-log.txt: https://gist.github.com/pjh/8d4da1cc3e4b272d82df26353c0109ac

[code]

Seems the gcr.io/authenticated-image-pulling/windows-nanoserver:v1 container doesn't work on 1909.

cc @yliaog

[2020-02-03 20:32] pjh commented on #87785
/sig windows

[2020-02-03 20:34] pjh commented on #87785
This test is also failing on https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-1903-master&width=20 for Windows 1903.

[2020-02-03 20:40] yliaog commented on #87785
see https://github.com/kubernetes-sigs/windows-testing/issues/117#issuecomment-561342481

[2020-02-03 20:50] pjh commented on #87785
Ah, thanks, I searched k/k for an existing issue but didn't think to search windows-testing. I posted a follow-up there.

[2020-02-03 21:19] sh0rez opened #87787 "api/openapi-spec/swagger.json lacks version information"
**What happened**: `swagger.json` files in this repo for branches newer than `release-1.14` lack the version number in the `info` object, it contains `unversioned`, which seems incorrect.

**What you expected to happen**:
https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.15/api/openapi-spec/swagger.json, `.info.version` to include `1.15.x`, instead of `unversioned`.

**How to repro

[2020-02-03 21:19] sh0rez commented on #87787
/sig release

[2020-02-03 21:20] abhiraut commented on #87709
sure. thanks for the feedback..

Actually, ``Deny`` might be the wrong choice of option name here, what I want to convey is that log any traffic that was dropped due to matching the isolation rule that would be created to honor
the network policy's pod isolation.

I added this due to some feedback received on the slack channel. Though if you consider the explanation of the option above, this does

[2020-02-03 21:23] ncdc commented on #87782
@neolit123 it looks like the URL you gave isn't something you can just `curl`. I think you have to be logged in to gcloud to get it?

[2020-02-03 21:28] msau42 commented on #87387
@kubernetes/sig-scheduling-test-failures to investigate scheduling tests.

/assign @davidz627
to help look into the flaky PD CSI driver tests. They are generally flaky.

[2020-02-03 21:32] neolit123 commented on #87782
should be accessible with this too:
https://dl.k8s.io/ci/k8s-master.txt

[2020-02-03 21:40] pires commented on #87770
Can you please confirm my assumption that retro-compatibility can be dropped?

[2020-02-03 21:50] ncdc commented on #87782
CAPA master PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1515
CAPA 0.4 PR: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1516

GCP master PR: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/282
GCP 0.2 PR: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/283

[2020-02-03 22:35] ialidzhikov commented on #86715
I guess the health check is ok.
For the issue was that the kube-apiserver was on version v1.16.4, but the kube-controller-manager was on v1.17.2. The kube-controller-manager was not able to acquire leader election because the kube-apiserver v1.16.x does no apply the required rbac for it. The fix was also to update kueb-apiserver to v1.17.

[2020-02-03 22:37] prameshj commented on #84821
/remove-lifecycle stale

[2020-02-03 22:48] liggitt commented on #87787
Thanks for the report. This is working as intended. See https://github.com/kubernetes/kubernetes/pull/84654

/cc @justaugustus

[2020-02-03 22:48] #87787 closed

[2020-02-03 23:29] zhan849 opened #87794 "Reflector should backoff with Jitter to avoid global synchronization during API server OOM"
**What happened**:
We recently had a production issue where one of our large cluster (~3k nodes) has it's API server OOMKilled. This caused all kubelets' connection to master broken, and caused a global synchronization of kubelet's reconnecting to master. Due to the burst of API call (18K QPS, 7x than normal), API server went into even worse condition, and caused more replicas to get OOMKilled.

C

[2020-02-03 23:55] notpad commented on #87783
/assign
/remove-help

[2020-02-04 00:01] andkhong commented on #44665
What's the solution to this? I'm I get

`chown: cannot access '/home/travis/.kube/config': No such file or directory` on Travis when following the instructions listed above...

[2020-02-04 00:52] prageethw opened #87797 "HPA does not behave as it is documented regarding AverageValue"
**What happened**:
I have an external metrics that I want to implement as below.
[code]

**What you expected to happen**:
HPA must apply average value by dividing the number of replicas running, if I understood correct below statement from docs "With AverageValue, the value returned from the custom metrics API is divided by the number of pods before being compared to the target".

https://kubernet

[2020-02-04 00:54] prageethw commented on #87797
/sig autoscaling

[2020-02-04 00:58] liggitt commented on #87771
/remove-sig api-machinery
/sig cli

I would recommend starting with the expose command implementation

[2020-02-04 01:00] xichengliudui commented on #87763
thanks！
how can I confirm them? or is there another way to add a cluster context? I'll close this down later

[2020-02-04 01:00] joaocc commented on #60751
/remove-lifecycle stale

[2020-02-04 01:36] acumartini commented on #73297
@tettusud The ssl-ports annotation needs to be 443:

annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "<arn>"

[2020-02-04 02:34] #82386 closed

[2020-02-04 03:57] howardjohn opened #87800 "leaderelection panic when failing to renew lease"
**What happened**:

Using leaderelection with ConfigMapLock, I get a panic when I fail to renew the lease.

[code]

**What you expected to happen**:

No crash

**How to reproduce it (as minimally and precisely as possible)**:

* Create a leaderelection setup with ReleaseOnCancel=true
* Run the program, allow a lock to be acquired.
* Change RBAC permissions to block configmap `update` access
* Even

[2020-02-04 03:58] howardjohn commented on #87800
/sig api-machinery

[2020-02-04 04:27] renukamanavalan commented on #44665
I am running kubelet in standalone mode.
I manually created my  /var/lib/config.yaml
[code]
Manually created my static pod file and put it in staticPodPath.
It created the pods as expected.

I did not run "kubeadm init". There is no API server either. Hence no "admin.conf".

Running any kubelet command fails with `"The connection to the server localhost:8080 was refused"`.

But I need to create se

[2020-02-04 04:32] jokeyrhyme opened #87801 "asynchronous support for postStart / preStop lifecycle hooks"
**What would you like to be added**:

- hook execution is currently synchronous: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/

- it would be useful to support asynchronous hooks, e.g. k8s notifies the pod, the pod does work, then the pod notifies k8s it is ready to continue

**Why is this needed**:

- with the synchronous HTTP hooks, the service would need to hold the

[2020-02-04 04:49] jokeyrhyme commented on #87801
/sig apps

[2020-02-04 05:13] bgrant0607 commented on #7203
This is obsolete, but I'll leave a ref to #1697
/close

[2020-02-04 05:13] #7203 closed

[2020-02-04 05:15] jokeyrhyme commented on #87801
I plan to chat with the SIG in Slack and see about making a proper proposal for this over at https://github.com/kubernetes/enhancements if necessary

[2020-02-04 06:56] ZrytyADHD opened #87803 "Moving Kubernetes master to new server issue"
Hi,
I have a question. I create openshift  OKD cluster with:
1 master colocated with ETCD
1 infra node
2 app nodes
I try to move my master to new server but i can't do this properly. I add new master move everything to new server and it shoud be working but not.
When old server is on everything is ok but when i shutdown it my cluster stop working.
I try to figure out why and I discover something.

[2020-02-04 07:03] dbolkensteyn commented on #78446
/remove-lifecycle stale

[2020-02-04 07:09] #86483 closed

[2020-02-04 07:24] ZrytyADHD commented on #87803
/sig Architecture

[2020-02-04 08:10] losipiuk commented on #87783
ahg-g@ Just one note here; which I rose in the past. There is a possibility that we will need to add some optimization for features like pod inter-(anti)affinity. For which prefiltering is costly to compute; and yet often not needed. If we never reach the filter which checks pod-inter-affinity, because pod does not fit on node because of lack of resources, whole pre-filtering computation is a wast

[2020-02-04 08:36] LaumiH commented on #87771
Thanks for choosing the right SIG, it is my first bug and I did not know where to put it correctly.

[2020-02-04 09:19] lubinsz commented on #85267
Also cc @BenTheElder @dims

[2020-02-04 09:29] mariantalla commented on #87674
Some very initial ideas (will think a bit more about it):

* This is equivalent to saying "`map` is the default `listType`" - is that right?
* The detection logic could be something like

AND elements of the list are structs (`object`s in openapi)
AND they have a field `name`
then infer that the list is a map and `name` is the key

* If there's no `name` field in the list item type
  * And there's

[2020-02-04 10:48] avarf commented on #72511
/remove-lifecycle stale

[2020-02-04 11:26] pre commented on #36304
To get events sorted by their last occurence, you `lastTimestamp` works *but not always*.

Sometimes (quite often) there's an event with `"lastTimestamp": null`. This causes the command fail as a whole:
`sorter.go:354] Field {.lastTimestamp} in [][][]reflect.Value is an unsortable type: interface, err: unsortable interface: interface`

I could live with these `"lastTimestamp": null` being sorted a

[2020-02-04 11:30] pre commented on #29838
Related: https://github.com/kubernetes/kubernetes/issues/36304#issuecomment-581864033

Sometimes (quite often) there's an event with `"lastTimestamp": null` (see kubectl get event -o json).

This causes `kubectl get event --sort-by=lastTimestamp` to fail:
`sorter.go:354] Field {.lastTimestamp} in [][][]reflect.Value is an unsortable type: interface, err: unsortable interface: interface`

[2020-02-04 11:31] tvoinarovskyi opened #87806 "Kubelet Panic if nodeId is empty and no error provided"
**What happened**:
Kubelet dies with a panic exception if CSI plugin returns NodeId == "" and nil error.

Exception log see at the end of the message

**What you expected to happen**:
Kubelet should just raise an error to the plugin and ignore the registration.

**How to reproduce it (as minimally and precisely as possible)**:

* Create a CSI plugin with only Node that would implement GetNodeInfo

[2020-02-04 11:34] tvoinarovskyi commented on #87806
/sig storage

[2020-02-04 11:51] draveness commented on #82702
/close

[2020-02-04 11:51] #82702 closed

[2020-02-04 11:51] david9991 commented on #87764
I changed Docker to CRI-O, it won't happen anymore, and cluster run very smooth.

[2020-02-04 11:55] ncdc commented on #87782
@hasheddan this should be resolved now

[2020-02-04 11:57] hasheddan commented on #87782
Thanks for the quick resolution @ncdc! Looks like we are still seeing some flakes on this test, but not related to this problem. I’ll open a separate issue to track that.

/close

[2020-02-04 11:57] #87782 closed

[2020-02-04 11:58] claudiubelu commented on #84609
/remove-lifecycle stale

[2020-02-04 12:06] droslean opened #87807 "[Flaky Test] verify-master (ci-kubernetes-verify-master)"
**Which jobs are failing**:
`verify-master (ci-kubernetes-verify-master) `

**Since when has it been failing**:
`4th Feb 19:53 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#verify-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/cc @kubernetes/release-managers

/sig testing
/priority critical-urgent
/milestone v1.1

[2020-02-04 12:15] mborsz opened #87808 "When a lot of persistentvolumes are created together, POST persistentvolume request latency grows significantly"
**What happened**:
I was running a scale test where I created ~8 PV/s for some period of time. I observed that POST persistentvolume latency started growing

I debugged this already:
* kube-controller-manager created PD objects in GCE
* due to rate limited error, it failed to fetch labels for new disk: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gcepd/gce_util.go#L191
* Persist

[2020-02-04 12:24] wojtek-t commented on #87808
/sig storage

@kubernetes/sig-storage-bugs @msau42

[2020-02-04 12:40] Crypterian commented on #79523
+1

[2020-02-04 12:41] serathius commented on #68522
I discussed it with David and proposed that I will work on a KEP that will propose replacements for kubelet monitoring endpoints

[2020-02-04 12:57] kevtaylor opened #87810 "Remove HostPath from VolumeSubpathEnvExpansion e2e tests"
/kind cleanup
/sig storage
/sig node
/sig testing

Description:
Change e2e tests to use EmptyDir instead of HostPath as pre-requisite to promoting VolumeSubpathEnvExpansion to Conformance.

Related Issues:
Conformance Tests: #85122

[2020-02-04 12:57] kevtaylor commented on #87810
/cc @msau42

[2020-02-04 12:57] kevtaylor commented on #87810
/assign @kevtaylor

[2020-02-04 13:00] abays commented on #87615
I have encountered this as well, with no bonds involved.  Restarting the node fixes the problem, but just restarting the Kubelet service does not (all API calls fail with "Unauthorized").

[2020-02-04 13:09] mborsz commented on #87808
Some draft PR that implements 1: https://github.com/kubernetes/kubernetes/pull/87811

The overall idea is to modify CreateDisk methods to return Disk object on success (CreateDisk* methods have all necessary data to do that).
If we will need to add some other label in the future that can be deduced based on the input data this approach will still work just fine. Otherwise (e.g. if we want to add l

[2020-02-04 13:10] claudiubelu commented on #87785
Hi. It is a known issue, I've also reported it a while back: https://github.com/kubernetes/kubernetes/issues/84609

[2020-02-04 14:27] abays commented on #87615
Update: restarting Kubelet did fix the problem after enough time (1 hour?) was allowed to pass.

[2020-02-04 15:10] zakkg3 commented on #60807
for ppl trying to curl the API:

[code]

https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#without-kubectl-proxy

[2020-02-04 15:16] neolit123 commented on #87806
/sig node

is this the version of the kubelet too?
1.14 is out of support. is the issue reproducible with a 1.15+ kubelet?

[2020-02-04 15:19] neolit123 commented on #87803
/remove-sig architecture

[2020-02-04 15:20] ahg-g commented on #87783
@losipiuk one solution is for CA to split the execution of filters into two phases: light and heavy filters. You can create two instances of the framework for each phase:

[code]

[2020-02-04 15:21] neolit123 commented on #87803
hi, i think it's best if you ask on a forum or slack channel that is OKD specific:
this issue tracker is for issues in core kubernetes.

thanks
/close

[2020-02-04 15:21] #87803 closed

[2020-02-04 15:23] dbkingsb commented on #81045
/reopen

Same experience with multiple in my building. Anyone with a password that requires URL encoding in their HTTPS_PROXY var cannot perform things like `kubectl exec` or `kubectl cp`, however they _can_ do things like `kubectl get`.

[2020-02-04 15:24] neolit123 commented on #87768
/sig instrumentation
/close

hi, you can ask in the #sig-instrumentation channel on k8s slack or here:
https://github.com/kubernetes-sigs/metrics-server/issues

[2020-02-04 15:25] #87768 closed

[2020-02-04 15:27] george-angel commented on #61486
@rochacon Thanks for the pointer, but it is enabled:

`enable_dns_hostnames             = true`

It looks like the problem lies with the OS, both on CoreOS and Debian our hostname is "short". We launched Amazon Linux instance to test, and its long there:

Amazon Linux:
[code]

---

CoreOS Container Linux:

[code]

---

Debian:

[code]

[2020-02-04 15:28] losipiuk commented on #87783
Yeah - I guess that would work. The only problem I see with that is that we need to be aware of the list of plugins. And not just depend on what is in default registry. But I guess we can live with that. Let's see what tests show. And implement that only if needed.

[2020-02-04 15:30] ahg-g commented on #87783
We could have those two sets as two separate providers in the scheduler, and the default one is always the combination of the two.

[2020-02-04 15:32] notpad commented on #87783
@ahg-g shoud we return an error if the state is nil, or just remove the else branch?

[2020-02-04 15:35] brunkj commented on #87615
I am seeing this same behavior.  Ubuntu 18.04.3 LTS clean installs.  Cluster built with rancher 2.3.4.  I have seen this happen periodically lately and just restarting kubelet tends to fix it for me.  Last night all 3 of my worker nodes exhibited this same behavior.  I corrected 2 to bring my cluster up.  Third is still in this state while im digging around.

[2020-02-04 15:35] oxddr opened #87815 "[Failing Test] gce-master-scale-correctness: [sig-storage] Detaching volumes should not work when mount is in progress"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
[sig-storage] Detaching volumes should not work when mount is in progress [Slow]

**Since when has it been failing**:
02/04

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we need to know**:

/sig st

[2020-02-04 15:43] losipiuk commented on #87783
This seems kinda CA specific. But if you are fine to maintain such two sets it would be great. Then source of truth, what is the set of plugins, would live in single repo.

[2020-02-04 15:43] notpad commented on #87783
There is a similar logic in https://github.com/kubernetes/kubernetes/blob/d0f582c9bf83d67b41020600f293e11a7f322d01/pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go#L250

Do we need to clean this one?

[2020-02-04 15:47] claudiubelu commented on #87325
So, there used to be a PR that was adding support for Windows for this image: https://github.com/kubernetes/kubernetes/pull/75618

But a few things have changed since then, so things should be a bit different:

- we'll need multiple Windows OS version support: for 1809, 1903, 1909.
- we'll have to include wincat: https://github.com/kubernetes-sigs/sig-windows-tools/tree/master/cmd/wincat - it is n

[2020-02-04 15:53] ahg-g commented on #87783
we already have them ordered, splitting the default provider into two is fine lists is fine.

[2020-02-04 15:54] ahg-g commented on #87617
/milestone v1.18

https://github.com/kubernetes/enhancements/issues/785#issuecomment-581469848

"If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday,"

[2020-02-04 16:04] ahg-g commented on #87783
yes, we need to clean this up as well.

[2020-02-04 16:04] mkumatag commented on #87325
The problem is not just with windows images, most of the time the problem will be with cross-building images for non-amd64 archs like arm64, ppc64le, s390x platform using qemu.

[2020-02-04 16:05] ahg-g commented on #87783
For each filter that expects prefilter state, we should return an error if it didn't exist in CycleState.

[2020-02-04 16:11] hasheddan opened #87816 "[Flaky Test] capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are flaking**:

`capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)`

**Which test(s) are flaking**:

`Overall`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

**Reason for failure**:

[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/cc @ncdc @neoli

[2020-02-04 16:12] ncdc commented on #87816
I will increase the test timeout to 3 hours. Just had to do this for CAPA

[2020-02-04 16:12] ncdc commented on #87816
/assign

[2020-02-04 16:12] ncdc commented on #87816
/lifecycle active

[2020-02-04 16:12] hasheddan commented on #87816
@ncdc thanks for the quick response per usual :+1:

[2020-02-04 16:15] ncdc commented on #87816
PR: https://github.com/kubernetes/test-infra/pull/16121

[2020-02-04 16:46] tedyu commented on #87806
/assign

[2020-02-04 16:54] tedyu commented on #87806
I checked the code - same defect still exists in current codebase.

[2020-02-04 17:04] kucerarichard commented on #36601
Right now I elected to use a Job kind,  but hardwire the affinity to each node,  with the help of Perl HEREDOC to generate the yaml.    I can't say I'm unhappy to write Perl again...

[2020-02-04 17:05] claudiubelu commented on #87325
Sorry, this is a bit unclear for me. the problem is that we're using qemu to cross-build the images for non-amd64 archs and we shouldn't?

[2020-02-04 17:39] lavalamp commented on #87674
Two principles--
1. it should be clear and deterministic what is going on
2. by default, things should be as useful as possible for the users of the API

The second argues for actually looking for fields like "id", "name", "key", and if found, default to `listType=map`. The first argues for no conditional defaulting, however.

I think a good compromise is to make a suggestion in the error message

[2020-02-04 17:56] julianvmodesto commented on #84530
Ok so next step, now that we are closer to a decision we might want an updated or new KEP to document this since among the changes there's a new field `includeSubresources` in the webhook configuration.

[2020-02-04 17:57] julianvmodesto commented on #82046
This is related to https://github.com/kubernetes/kubernetes/issues/84530

[2020-02-04 17:57] lavalamp commented on #84530
Yeah, sounds good, let's update the apply KEP and not the webhook KEP,
since webhooks are already GA. I think that's the current KEP guidance?

On Tue, Feb 4, 2020 at 9:56 AM Julian V. Modesto <notifications@github.com>
wrote:

[2020-02-04 17:58] tedyu commented on #87800
/assign

[2020-02-04 17:58] daschott commented on #83072
These tests should pass on DSR

[2020-02-04 18:01] howardjohn commented on #87800
@tedyu let me know if you need help getting more info, I am not sure if its easy to reproduce or not. I can add some extra debug logging, etc

[2020-02-04 18:07] tedyu commented on #87800
I will see if I can reproduce via unit test.

[2020-02-04 18:09] neolit123 commented on #87806
thanks @tedyu
/priority important-soon

[2020-02-04 18:20] neolit123 commented on #81137
/lifecycle frozen
@chrisohaver do we need to continue keeping this issue open?

[2020-02-04 18:23] pjbgf commented on #81142
/remove-lifecycle stale

[2020-02-04 18:23] losipiuk opened #87822 "Expose separate list of cheap and expensive scheduler plugins"
Cluster Autoscaler is simulating scheduler and is performing a lot of pre-filter and filter calls. For optimal performance CA might need to be able to split simulations into two phases.
First call out to plugins which are cheap to compute. And only if those pass run those significantly more expensive. Then we will not be wasting resources on running expensive pre-filters, if data precomputed by th

[2020-02-04 18:23] losipiuk commented on #87822
/kind-remove bug

[2020-02-04 18:24] losipiuk commented on #87822
/assign @aleksandra-malinowska; Please validate if we actually need such optimization.

[2020-02-04 18:24] losipiuk commented on #87822
/assign @aleksandra-malinowska

[2020-02-04 18:26] losipiuk commented on #87783
Great. I created https://github.com/kubernetes/kubernetes/issues/87822 to track this. And assigned to @aleksandra-malinowska to verify if we need it.

[2020-02-04 18:26] rajansandeep commented on #81137
According to https://github.com/kubernetes/kubernetes/issues/81137#issuecomment-519572531, the issue is fixed in CoreDNS v1.6.2 which was released with k8s 1.16, so I think it's safe to say this can be closed.

[2020-02-04 18:31] neolit123 commented on #81137
thanks @rajansandeep
/close

[2020-02-04 18:31] #81137 closed

[2020-02-04 18:41] gmarkley-VI commented on #75319
/reopen

[2020-02-04 18:54] ganga1980 opened #87824 "Extend Kubelet REST API (/spec) with System Info similar to Kube APIs (/nodes)"
**What would you like to be added**:
Currently, there is no Kubelet REST API to determine what is the underlying container run-time engine configured.

**Why is this needed**:
Having the information about the container run time engine configured on the kubelet would be super helpful to make decision about the run time specific scenarios. Currently, we use the docker HTTP APIs to get the informatio

[2020-02-04 19:12] BenTheElder commented on #85267
These are all stale:
https://testgrid.k8s.io/conformance-kind#kind,%20v1.14%20(dev,%20ARM64)
https://testgrid.k8s.io/conformance-arm

---

This should be unnecessary. This just validates that dependencies are in a sane state (vendor vs go mod).

This mostly does linting etc. Not sure how worth it this is

This is not useful, typecheck's _job_ is typechecking code across platforms, as opposed to a

[2020-02-04 19:14] michmike commented on #75319
hey @PatrickLang , did someone from Microsoft have a task to document logmonitor in the k8s documentation?
I recommend everyone view this presentation from KubeCon US 2019. There is a section of the talk on logging options for windows containers in K8s.
https://kccncna19.sched.com/event/UagU/day-2-operations-with-windows-containers-michael-michael-vmware-patrick-lang-microsoft

[2020-02-04 19:22] renukamanavalan commented on #12835
Thank you, discordianfish!

I am running kubelet in standalone mode. This way, I could pass secret w/o requiring k8s control plane.

BTW, does anyone know, how to put secret directly into pod definition/manifest itself.

[2020-02-04 19:46] liggitt commented on #87807
The type checker warnings are a red herring. They exist even in successful runs.

The failed jobs are timing out at 2 hours.

[2020-02-04 19:47] liggitt commented on #87807
looking at https://testgrid.k8s.io/sig-release-master-blocking#verify-master&graph-metrics=test-duration-minutes&width=5, it looks like this started happening around 1/23, then frequently around 1/28

[2020-02-04 19:51] liggitt commented on #87807
The graphs on individual tests don't reveal a lot... variance seems to have increased across the board over the last couple weeks... did something dramatic change on the machines where we run these tests?

[2020-02-04 20:03] tvoinarovskyi commented on #87806
@tedyu  Wow, that was fast. Thanks!

[2020-02-04 20:12] dhawal55 commented on #76146
The issue in my case was k8s api-server was using ipv6 address ([::1]) which was not working. I disabled ipv6 and it fixed the issue for me
[code]

[2020-02-04 20:12] dhawal55 commented on #82067
The issue in my case was k8s api-server was using ipv6 address ([::1]) which was not working. I disabled ipv6 and it fixed the issue for me

## Disable ipv6
cat >> /etc/sysctl.conf <<EOF
net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6 = 1
EOF
sysctl -p

[2020-02-04 20:25] tedyu opened #87828 "pull-kubernetes-e2e-gce fails with 'failed to acquire k8s binaries'"
**Which jobs are failing**:
pull-kubernetes-e2e-gce

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/87821/pull-kubernetes-e2e-gce/1224756243587928065/

**Reason for failure**:
[code]

[2020-02-04 20:39] KnicKnic commented on #75319
@manoj-kadam

[2020-02-04 20:51] neolit123 commented on #87824
/sig node
/area kubelet

[2020-02-04 20:55] neolit123 commented on #87828
/sig testing

[2020-02-04 21:15] jktomer commented on #87770
/cc @liggitt @deads2k

[2020-02-04 21:16] jktomer commented on #87794
/cc @lavalamp

[2020-02-04 21:16] jktomer commented on #87800
/cc @caesarxuchao

[2020-02-04 21:28] pisymbol commented on #82131
No 4.6.4 works. Make sure you delete the old ones. I do something like this:

[code]

[2020-02-04 21:40] MorrisLaw commented on #69293
Hey @hasheddan @andrewsykim, have you started the draft for this KEP yet? https://github.com/kubernetes/kubernetes/issues/69293

If not, I am willing to draft the KEP for this and help get this going. Just don't want to start something if you've already done it.

[2020-02-04 21:46] jamesthegiantpeach commented on #82131
I made sure that the jars were deleted, but not having this issue anymore after changing k8s version to 1.15.0.

[2020-02-04 21:53] #82457 closed

[2020-02-04 21:59] marosset commented on #87339
A new pause image has been published to MCR which includes 1903 and 1909 images

Please note the new image name:
**mcr.microsoft.com/oss/kubernetes/pause:1.3.0**

The existing pause images will remain available at mcr.microsoft.com/k8s/core/pause:1.2.0 but the MCR team is being more strict about naming/organization of new images.

[code]
[code]

[2020-02-04 22:05] alculquicondor opened #87832 "Remove PodBackoffMap"
The PodBackoffMap (pkg/scheduler/internal/queue) is used to calculate backoff for pods.
This structure is cleaned up periodically, losing backoff information. We added a mitigation #87616 which is being backported down to 1.15
However, there are still cases were a backoff for a pod will be lost (such as when a cluster doesn't change much). But, as noted in the PR discussion, we don't need the Map

[2020-02-04 22:15] tedyu commented on #87800
@howardjohn
Can you check the log around the time of crash to see if there was the following ?
[code]
Checking the events around the time of crash would also help:
[code]
thanks

[2020-02-04 22:48] notpad commented on #87832
/assign
/remove-help

[2020-02-04 22:48] alculquicondor commented on #86373
I still would like to understand why you see such starvation with only ~500 unschedulable pods. Given that we should be able to process ~100 pod/s (in 1.17+), we would expect to see any pod scheduled within 5s. Specially if the flush event is the only thing that is bringing pods back into the queue. However, I created #87832, because, if your cluster is static, we still lose backoff information in

[2020-02-04 23:28] howardjohn commented on #87800
@tedyu I have the log snippet at the top, there is a `2020-02-04T03:50:27.372845Z     info    failed to renew lease istio-system/istio-leader: timed out waiting for the condition`

[2020-02-04 23:57] davidz627 commented on #71436
dashboard no longer exists. I think all newer versions of kubernetes have the fix
/close

[2020-02-04 23:57] #71436 closed

[2020-02-05 00:04] hasheddan commented on #69293
@MorrisLaw thanks for following up here! I unfortunately did not get around to working on this and would be happy for you to take over. Let me know if I can be of help in any way!

[2020-02-05 00:09] shensonj commented on #43916
@jordansissel  I am having the same problem for apache spark container running on K8S  and I am using redhat linux 7.6.It is noticed container memory grows over the period of time and it dies eventually with OOM
I tried you solution to set the environment variable and it doesn't seem to be working.

[2020-02-05 00:10] shensonj commented on #43916
I tried to set  environment variable for spark docker image NSS_SDB_USE_CACHE=no and it didn't work for me.

[2020-02-05 00:13] grosser opened #87833 "say namespace of pods that could not be evicted to avoid search through all namespaces"
when draining a node I often see errors and then have to grep through all pods in all namespaces to find out what the problem is (since `get pod foo --all-namespaces` does not work)

[code]

please add the namespace so it says `error when evicting pod \"foo\" from namespace \"bar\"` or something like that

[2020-02-05 00:13] grosser commented on #87833
/sig cli

[2020-02-05 00:15] shensonj opened #87834 "Apache spark container running in K8S runs out of memory due to OS page cache"
**What happened**:Apache spark container running in K8S runs out of memory due to OS page cache

**What you expected to happen**: Container should not run out of memory

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**: RHEL-7.6 running on K8S
- Kubernetes version (use `kubectl version`):
[root@rtanalytics ~]# kubectl version
C

[2020-02-05 00:25] neolit123 commented on #87834
this is the existing documentation on managing resources:
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
the YAML which is used to deploy the Apache Spark may have to be updated.

if you have further questions you can try asking in the #kubernetes-users channel on slack or on stack overflow.

/close

[2020-02-05 00:25] #87834 closed

[2020-02-05 00:28] hasheddan commented on #87816
Test hasn't flaked since PR was merged. Will continue to monitor and close if no flakes in the next few days :+1:

[2020-02-05 00:34] liggitt commented on #87828
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/87441

[2020-02-05 00:34] #87828 closed

[2020-02-05 00:42] mmiara commented on #87402
if the cluster completely fails - how are you able to use a snapshot to recreate the cluster with the same cluster info as the previous cluster? preferably using the same configuration as before (running etcd in docker containers managed by kubelet and using https for cluster and api server communication)?

[2020-02-05 00:45] annajung commented on #80916
Hello @jennybuckley @apelisse, checking with you on this issue. From the comments above, it sounds like this issue should be deferred to 1.19. Can someone confirm?

[2020-02-05 00:45] mmiara commented on #87402
Also, the initial doc uses the default location for certs based on kubeadm initialization. If these certs are copied to the new nodes and the api server is changed to point to the new servers, this in theory should work the same way for the above comment, right?

[2020-02-05 00:46] annajung commented on #77019
Hello @nckturner @justinsb @sethp-nr  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-05 00:47] annajung commented on #68244
Hello @mtaufen  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-05 00:50] annajung commented on #78904
Hello @tnozicka  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-05 01:09] lutierigb commented on #57659
priority and preemption is GA since k8s 1.14 and in GKE(checked in 1.15) we even have two PriorityClass resources for critical workloads in the cluster and one of them set in the kube-dns deployment.

isn't time to get rid of the toleration in in the kube-dns addon ? @thockin @bsalamat

[2020-02-05 01:16] jordansissel commented on #43916
My solution only works if the cause is ‘curl’ being invoked by a
readinessProbe

On Tue, Feb 4, 2020 at 4:10 PM shensonj <notifications@github.com> wrote:

[2020-02-05 01:26] aramase commented on #76657
/assign

[2020-02-05 01:29] aramase commented on #60646
/assign

[2020-02-05 01:36] neolit123 commented on #87402
you can have periodic automatic backups of the /var/lib/etcd/ folder and restore from a working snapshot. this document has a good outline on how to do this: https://docs.openshift.com/container-platform/3.9/admin_guide/assembly_restoring-cluster.html#restoring-etcd-for-v3

not sure i understand the question, but for a running cluster this is not supported. recreating the cluster ends up being eas

[2020-02-05 01:41] jieyu commented on #78694
We observe a similar issue with containerd 1.2.5 as well (with k8s 1.15.5)

[2020-02-05 02:29] ritazh commented on #58034
Will follow this KEP for implementation https://github.com/kubernetes/enhancements/pull/1406

[2020-02-05 02:48] MorrisLaw commented on #69293
Awesome and I appreciate you taking a look at it. If you have any input or notes on this, that is definitely welcome! Hope to compile a draft soon so we can progress this further 👍

[2020-02-05 02:49] MorrisLaw commented on #69293
/assign

[2020-02-05 02:58] #78678 closed

[2020-02-05 03:03] anguslees commented on #69799
/remove-lifecycle stale

[2020-02-05 03:51] yqwang-ms commented on #86373
Thanks @alculquicondor to look into this and mitigate it :)
Our scheduling result may not match your estimation:
1. The k8s default scheduler is version 1.14
2. We also used scheduler extender to bind/preempt/filter, and it has some very complex logic to select devices and introduced RPC call, which caused the slower scheduling

Increase flush interval and with "your never lose backoff delay featu

[2020-02-05 03:59] #87763 closed

[2020-02-05 04:08] lubinsz commented on #85267
Hi @BenTheElder
Our conformance test result is here: https://k8s-testgrid.appspot.com/sig-node-arm64#conformance
I will move it into https://testgrid.k8s.io/conformance-arm
Regarding kind, @zhlhahaha is enabling it on Arm64 now.

And I will remove the unnecessary tasks from the list.

[2020-02-05 04:11] hotjunfeng opened #87837 "How to install kubelet, kubectl, kubeadm from source codes?"
Because I have modified the source codes of k8s and want to debug the k8s, I would like to build and install `kubelet, kubectl, kubeadm` from source codes. Now I have built the `kubelet, kubectl, kubeadm` and get the bin files. When I want to run `kubedam` to deploy a cluster, I found just copying them to `/usr/local/bin/` does not work for me and I got the following errors:

[code]

Could anyone

[2020-02-05 04:14] hotjunfeng commented on #87837
/sig Release

[2020-02-05 04:15] hotjunfeng commented on #87837
/wg K8s Infra

[2020-02-05 04:33] neolit123 commented on #87832
/kind cleanup

[2020-02-05 04:44] BenTheElder commented on #85267
I would still focus on stable release blocking CI (bring this up with sig
release in their meeting) instead of PR testing.

On Tue, Feb 4, 2020, 20:08 Robin_Luk <notifications@github.com> wrote:

[2020-02-05 04:45] #87810 closed

[2020-02-05 06:32] janetkuo commented on #62283
@midhun-mohan you only need to convert the version stored in etcd from deprecated version to the supported version. This is usually done automatically by k8s when you edit a resource after upgrading your cluster.

Please take a look at this tool to help you migrate storage version in bulk. https://github.com/kubernetes-sigs/kube-storage-version-migrator

As for your question:

although the objects

[2020-02-05 06:37] omrikiei commented on #20227
Hey, until there's a native solution out there, here's ktunnel - https://github.com/omrikiei/ktunnel

[2020-02-05 06:43] loozhengyuan opened #87840 "Mask secrets in kubectl diff output"
**What would you like to be added**:
Even though secrets are encoded when displayed in the `kubectl diff`, it will be helpful if they can be fully masked so its output can be displayed publicly.

**Why is this needed**:
The `kubectl diff` command is incredibly useful for 'previewing' changes before applying, especially when used in deployment pipelines where we can preview exactly what the changes

[2020-02-05 06:45] loozhengyuan commented on #87840
/sig cli

[2020-02-05 06:46] #87244 closed

[2020-02-05 07:26] sureshpalemoni commented on #87833
/assign

[2020-02-05 07:46] achernev commented on #87719
Numerous reports that Flannel does not work with 1.17.x, eg https://github.com/kubernetes/kubernetes/issues/86961#issuecomment-572666655
Switching to Calico solves the problem.

[2020-02-05 07:46] #87719 closed

[2020-02-05 08:00] Isan-Rivkin opened #87844 "Expose ControllerRevisionHashLabel from history package"
**What would you like to be added**:

A way to expose [ControllerRevisionHashLabel](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/history/controller_history.go#L47) and use it in my code.

**Why is this needed**:

We are building a monitoring solution on top of k8s and this param is used in our code because it is created as a label in ControllerRevision when a StatefulSet is

[2020-02-05 08:01] Isan-Rivkin commented on #87844
/wg api-machinery

[2020-02-05 08:02] Isan-Rivkin commented on #87844
/sig api-machinery

[2020-02-05 09:23] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2020-02-05 09:24] ankon commented on #82753
@fejta-bot: Issue is blocked on the k8s side, waiting for reply/feedback. :)

[2020-02-05 09:28] lubinsz commented on #86295
cc @BenTheElder

[2020-02-05 09:34] lubinsz commented on #85267
Hi @BenTheElder
Our company hopes that the community can officially announce support for the Arm64 platform. What else do I need to do? Please check my another issue https://github.com/kubernetes/kubernetes/issues/86295
Can give me more suggestions about that issue?
Thanks.

[2020-02-05 09:39] lubinsz commented on #86295
Hi @dims

How to publish the daily test results for the equivalent of pull-kubernetes-e2e-gce job?
We have tested it in our internal Arm64 cluster, and the result seems OK.

kubeadm is OK. And @zhlhahaha is enabling kind right now.

Ongoing.

[2020-02-05 09:56] bertinatto commented on #86360
/assign

[2020-02-05 10:00] seyfbarhoumi commented on #50295
Worked for me thanks

[2020-02-05 10:38] #84526 closed

[2020-02-05 11:06] alfredopalhares commented on #80633
Please do not mark this issue as stale. I still have this problem.

The currently **workaround** is to create a storage pool of the type `dir` .
[code]
Create the pool with `lxc storage create k8s dir` , you may need to tune to your settings.
Then set it to be used on your `k8s` profile, like such:
[code]
And make you launch your containers with:
[code]

Hope this helps.

[2020-02-05 11:15] #75960 closed

[2020-02-05 11:26] dims commented on #86295
@lubinsz https://github.com/kubernetes/test-infra/blob/c5595623a73069fd71f977f097ae0372b7916879/testgrid/conformance/README.md#display-conformance-tests-with-testgrid on how to publish results to testgrid ( cc @BenTheElder )

[2020-02-05 11:28] dims commented on #86295
@lubinsz also see the notes in thread https://groups.google.com/d/msg/kubernetes-sig-testing/WULGoGS1rS4/5mn09AaNAwAJ

[2020-02-05 11:37] chansonzhang commented on #63128
@pehlert Thanks for your sharing, we met the same problem. I renewed the nearly expired certificate apiserver-kubelet-client.crt and delete the static apiserver pod. Then I left the company and began my Lunar New Year Holiday. After that, the old certificate expired silently while the 2019-nCoV sweeping across China. One day in these bad days, some one reported that kubectl log/exec not work. And

[2020-02-05 11:47] harshul4274 opened #87846 "cronjob not run command in Kubernetes"
Hello All, I just deployed Kind CronJob pod than i check the status pod is error and can't take a backup of MYSQL but i deployed a Kind Pod a succesfully take backup. My issue is i deploy the cronjob but can not properly deploy a pod.

My pod status is
- mysql-backup-1580899560-crqb8                           1/2     Error              0          77s

[code]

This is describe pod status
----------

[2020-02-05 11:49] harshul4274 commented on #87846
/sig kubernetes

[2020-02-05 11:56] lubinsz commented on #86295
I see. The same method like publishing conformance test results into testgrid.
Thank you very much!

[2020-02-05 12:37] jtslear commented on #81052
Hello @spiffxp , @liggitt, @johnbelamaric
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

[2020-02-05 12:39] jtslear commented on #80546
Hello @justaugustus
Bug Triage team here for the 1.18 release.  Is this issue still intended for milestone 1.18?

[2020-02-05 12:54] zhangguanzhang commented on #76146
ipv6 has been turned off in my environment

[2020-02-05 13:00] ivan-sukhomlyn commented on #85669
Seems like it's the same issue as described here - https://github.com/kubernetes/cloud-provider-aws/issues/65#issuecomment-580258881

[2020-02-05 13:12] prksu opened #87848 "[Flaky Test] bazel-build-master (post-kubernetes-bazel-build)"
**Which jobs are flaking**:

`post-kubernetes-bazel-build`

**Which test(s) are flaking**:

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-informing#bazel-build-master

**Reason for failure**:

Error pulling and saving image

[code]

[code]

**Anything else we need to know**:

**Spyglass link**

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-kubernetes-bazel-build/12249

[2020-02-05 13:31] alban commented on #81118
How to check if your cluster is affected by this issue:
If the apiserver does not use the deprecated CLI flags `--ssh-keyfile` or `--ssh-user`, then it's all fine.

[2020-02-05 13:42] libratiger commented on #23349
Hi, how many pod per node do you test?
 Can you provide more detail information about the improvement, this can be helpful with numbers.

[2020-02-05 13:43] joelsmith commented on #81133
/lifecycle frozen

[2020-02-05 13:47] henryon commented on #87846
if you can fix Readiness probe failed: HTTP probe failed with statuscode: 503 . things can be resolved.

[2020-02-05 14:27] goireu commented on #82440
Hi there! (TL;DR: command probes don't scale)

We faced a similar issue and tracked it down. The problem is your probe is a command probe.

To execute the command probes, `containerd` queries `containerd-shim` ~12-15 times. `containerd-shim` has to run `runc` for performing the required action (most of them are `runc state` commands).

Everything works as designed but, as you may know, process for

[2020-02-05 14:36] filipre commented on #65797
/remove-lifecycle stale
Not on my watch

[2020-02-05 15:00] mmiara commented on #87402
So I am beginning to realize that there are not many people running etcd within docker containers... I guess migrating the cluster to run as a systemd process will be the route to go since there is 0 documentation on operating anything past what k8s provides for initially creating the etcd cluster. They should note this on the website that it is not a supported configuration so that people do not

[2020-02-05 15:14] alculquicondor opened #87850 "Reevaluate flushing unschedulable pods into activeQ"
/sig scheduling

#72122 suggested the addition of flushing unschedulable pods into the active queue, to mitigate against unknown race conditions that would keep pods in the unschedulable queue forever. The scenario I can think of is that an event that makes the pod more schedulable comes while we are still in its scheduling cycle. But this should have been addressed with #73078.

In any case, as s

[2020-02-05 15:16] alculquicondor commented on #86373
I created #87850 to discuss these suggestions. However, keep in mind that we probably wouldn't be porting it back.

Sadly, the flush interval (60s) is hardcoded.

[2020-02-05 15:17] alculquicondor commented on #87850
cc @ahg-g @Huang-Wei

[2020-02-05 15:36] oxddr opened #87851 "[Failing Test] gce-master-scale-correctness: [sig-cli] Kubectl client Simple pod should return command exit codes"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
[sig-cli] Kubectl client Simple pod should return command exit codes

**Since when has it been failing**:
02/05

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we need to know**:

/sig cli

[2020-02-05 15:37] oxddr commented on #87851
/priority critical-urgent
/assign @seans3

[2020-02-05 15:40] #87739 closed

[2020-02-05 15:51] ahg-g commented on #87850
To help make an informed decision, we need a simulation test to evaluate how big of a problem this actually is and in what scenarios.

The test should be similar to [TestBackOffFlow](https://github.com/kubernetes/kubernetes/blob/d90dd93855ab6c3ccda73dfbd3d19c81f56abca5/pkg/scheduler/internal/queue/scheduling_queue_test.go#L1519), and one of its parameters should be the schedule's performance (expr

[2020-02-05 16:24] tedyu commented on #84764
@dguendisch @shuiqing05
What would be the desired policy for removing ephemeral containers ?
For security purpose, should the container be denied access to the Pod after configurable duration ?

[2020-02-05 16:47] rdxmb opened #87852 "dnsPolicy in hostNetwork not working as expected"
**What happened**:
In kubernetes 1.17, pods running with `hostNetwork: true` are not able to get dns answers from the coredns-service - **especially** if using the strongly recommended `clusterPolicy: ClusterFirstWithHostNet`

Also, I noticed that the coredns Service seems to be not always reachable from the host itself.

**What you expected to happen**:
The coredns Service is reachable from withi

[2020-02-05 16:54] claudiubelu commented on #87785
@listx , do you have push right to the ``gcr.io/authenticated-image-pulling`` registry? If so, could you recreate the ``windows-nanoserver:v1`` manifest list to include the newer Windows OS versions. Basically, the commands are:

    docker manifest create gcr.io/authenticated-image-pulling/windows-nanoserver:v1 mcr.microsoft.com/windows/nanoserver:1909-amd64 mcr.microsoft.com/windows/nanoserver:1

[2020-02-05 17:12] #74150 closed

[2020-02-05 17:50] dguendisch commented on #84764
For my usecases I wouldn't need duration based policies. My main point would be to be able to manually delete/remove the eph container (after I'm done debugging the problem). Nice to have would be the option/policy of having it automatically removed after the container exited.

[2020-02-05 18:00] rverma-jm commented on #79523
+1

[2020-02-05 18:02] Huang-Wei commented on #87850
Agree to have the simulation test ready first.

Technically I'm leaning towards this solution. But we should be very cautious on this and need thorough tests to catch any possible corner cases (which is hard...). I raised this is because sometimes technically, it's a better design, but hard to carry out. I recalled when we exercised the idea of "only put pods back into activeQ when the cluster bec

[2020-02-05 18:13] tedyu commented on #84884
/assign

[2020-02-05 18:13] tedyu commented on #84884
/remove-lifecycle stale

[2020-02-05 18:22] alculquicondor commented on #87850
/help

This is not necessarily a good first issue, as it requires experience in the code base and good understanding of the queueing flow. I don't have time to work in this now, but I can provide guidance to a relatively experienced contributor.

[2020-02-05 18:33] tedyu commented on #78554
Is this task still needed ?

[2020-02-05 18:37] dperny opened #87854 "kube-proxy can panic if len(HealthzBindAddresses) == 0"
**What happened**:

`kube-proxy`, from whatever combination of inputs we stuck into it, segfaulted. The segfault, which originates from a slightly modified fork of v1.17, looks as such:

[code]

Translated to master, where the problem appears to be present, the segfault originates from this call:

https://github.com/kubernetes/kubernetes/blob/d90dd93855ab6c3ccda73dfbd3d19c81f56abca5/pkg/proxy/heal

[2020-02-05 18:46] davidz627 opened #87855 "[Flaky Test] [sig-storage] One pod requesting one prebound PVC should be able to mount volume and write from pod1"
**Which jobs are flaking**:
`pull-kubernetes-e2e-gce`

**Which test(s) are flaking**:
[code]

**Testgrid link**:
It's a pull job. Here's one example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/87098/pull-kubernetes-e2e-gce/1225092402105028609/

Triage link:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=One%20pod%20requesting%20one%20prebound%20PVC%20sh

[2020-02-05 18:46] davidz627 commented on #87855
/sig storage

[2020-02-05 18:52] tedyu commented on #87854
[code]
Maybe decompose the above statement into multiple lines which should give us more idea which was nil.

[2020-02-05 19:08] dperny commented on #87854
@tedyu:

* `hs.lastQueued` can't be nil, as it is of type `atomic.Value`, which is not an interface or pointer
* `hs.clock` is an interface. However, when built from the exported constructor, `NewProxierHealthServer`, it is set to a literal `clock.RealClock{}`, which is likewise not a pointer

Therefore, the only remaining field is `hs` itself. Plus, I don't quite recall my go segfault stack trace

[2020-02-05 19:28] neolit123 commented on #87852
/sig network

[2020-02-05 19:28] neolit123 commented on #87846
/sig apps

[2020-02-05 19:30] rdxmb commented on #87852
/sig Network

[2020-02-05 19:40] spadgett commented on #83961
/remove-lifecycle stale

[2020-02-05 19:46] tallclair commented on #87587
/assign @feiskyer
/remove-sig auth

[2020-02-05 19:46] addada opened #87857 "End to end tests for network policies"
Its common to use the end to end tests to validate network policies. When securing our containers, we’d like to test our cluster’s existing network policys provided by our CNIs using the end to end tests, however, it isn’t obvious how the checks in the end to end tests map to network policies which we use internally.   If they end to end tests could describe more precisely what traffic a NetworkPo

[2020-02-05 19:46] tallclair commented on #87587
SIG auth doesn't own provider-specific authentication plugins

[2020-02-05 19:47] #87542 closed

[2020-02-05 19:47] tallclair commented on #87541
Not owned by sig-auth
/remove-sig auth
/assign @feiskyer

[2020-02-05 19:48] liggitt commented on #86359
backports are merged

/close

[2020-02-05 19:48] #86359 closed

[2020-02-05 19:51] jayunit100 commented on #87857
Im actually working on resolving these issue right now as well.  Related
#85908
#87786
I'll xref this once i finish the write up.

[2020-02-05 19:53] daschott commented on #76316
@jxiewei what is the use-case for having 2 services point to the same pod?
Also, is service B accessible again after some time? Can you show the kube-proxy logs and endpoints (get-hnsendpoint) on the node where it is not accessible anymore?

[2020-02-05 19:54] jayunit100 commented on #87857
/sig network

[2020-02-05 19:55] daschott commented on #76316
Oh looks, like this is resolved already. Can we close this issue?

[2020-02-05 19:57] tallclair commented on #87252
Open question: Do we want to keep the /logs/ feature? Or is this something we want to eventually deprecate?

[2020-02-05 19:58] tallclair commented on #87252
/cc @deads2k
How much does OpenShift rely on kubelet serving logs?

[2020-02-05 20:03] tallclair commented on #84165
After sig-auth discussion, decided to defer to sig-node on this one.
/remove-sig auth

[2020-02-05 20:04] ksubrmnn commented on #76316
@daschott Can you follow up with Keith's team to take this up?

[2020-02-05 20:05] ksubrmnn commented on #76316
@daschott also that PR is closed and won't be opened again. There was another PR open for this, and I left feedback, but I don't think I heard back. That was some time ago.

[2020-02-05 20:15] danielhelfand commented on #79496
From the perspective of querying LimitRanges in a namespace and trying to get the min or the max for a particular resource, how do would you decide which LimitRange to choose if there are conflicting min or max values?

[2020-02-05 20:15] tallclair commented on #86186
You could accomplish something similar to unmounting with AppArmor using change hats.

[2020-02-05 20:18] mattfenwick commented on #87857
👍

[2020-02-05 20:19] tedyu commented on #87854
/assign

[2020-02-05 20:20] liggitt commented on #79496
all limit ranges are applied to the incoming pods, and it must simultaneously satisfy all of them or it is rejected

[2020-02-05 20:30] jayunit100 commented on #87857
/assign

[2020-02-05 20:30] jayunit100 commented on #87857
Can I  suggest a rename on this issue to 'Improve documentation and readability for network policies' @addada  ?

[2020-02-05 20:37] tedyu commented on #87854
Looking closer, it seems f83474916ef8f030412083a9ac25fc0764d726d6 should have fixed this.

[2020-02-05 20:39] kharmabum commented on #64168
/remove-lifecycle stale

[2020-02-05 20:41] kalyanbhonagiri16 opened #87861 "Kubernetes fails to clean up iscsi mounts from worker node"
**What happened**:
Kubernetes failed to cleanup iscsi mount for a volume from worker node when the pod is deleted and the iscsi session remained active.
When the same volume is mounted to a different worker node, a new iscsi mount was created on this node. This has lead to volume corruption due to multiple iscsi session active on multiple nodes.

**What you expected to happen**:
Kubernetes pod del

[2020-02-05 20:45] Nowaker commented on #82440
@goireu Yeah, I know it's the exec probes. However, I wouldn't say it's "my problem", at least not at its core. It's a bug to me that so many of these processes is spawned to execute a single command. I could literally write my own script that probes my pods using kubectl exec every 30 seconds and have zero load comparable to Kubernetes exec probes! Why does Kubernetes/containerd constantly execut

[2020-02-05 20:46] Huang-Wei commented on #86373
@alculquicondor One thing to note is that the 100 pods/s metric is based on fairly simple workloads. It the Pods comes with complex spec such as PodAffinity, a slowdown on scheduling is expected. And as @yqwang-ms , an extender usage would further slowdown a scheduling cycle incredibly (due to marshal/unshaling as well as network overhead).

[2020-02-05 21:17] maxstr commented on #78949
/remove-lifecycle stale

[2020-02-05 21:21] liggitt commented on #87433
This was discussed in today's sig-auth meeting, and the same conclusion in https://github.com/kubernetes/kubernetes/issues/2204 was reached. This can be implemented as a layer on top of the existing API, and there is no plan to build this into the core.

/close

[2020-02-05 21:21] #87433 closed

[2020-02-05 21:40] pikrzysztof opened #87862 "isolcpus and --reserved-cpus don't work as expected"
Release notes from 1.17 says:

I've got an 8-core, bare-metal machine running k8s 1.17.2 and kernel 5.3.0-24-generic (ubuntu).

I'm configuring kubelet like this:
[code]

Three test cases:

**Test case 1:** `isolcpus=1-7`
`taskset -c -p $(pidof dockerd)` prints 0.
`taskset -c -p $(pidof my-process-in-a-burstable-container)` prints 0,2-7.
taskset asked about a container with resources.requests={cpu

[2020-02-05 21:45] pikrzysztof commented on #87862
/sig node

[2020-02-05 22:24] enj commented on #87369
@anderseknert could you provide more details around how `kubectl` is configured.  For example, it is unclear to me if you are using the built in oidc plugin or a custom exec plugin.

I _think_ you are using a custom exec plugin but its also trying to write tokens to the `KUBECONFIG` file (which it should not do)?

/triage needs-information

[2020-02-05 23:09] denkensk commented on #87850
/assign
/remove-help

[2020-02-05 23:37] jodavis-suse opened #87867 "client-go: Use log levels that match logging conventions"
/kind cleanup
/sig instrumentation

**What happened**:
SIG Instrumentation has published logging conventions for use in Kubernetes.
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md
The existing code has calls in the range 0 to 10 and still remains to be normalized to match the conventions.

**What you expected to happen**:
All klog.V() calls use

[2020-02-05 23:41] sftim opened #87868 "Write valid JSON from kubectl cluster-info dump"
**What would you like to be added**:
`kubectl cluster-info dump` writes out cluster info in JSON format, followed by one line:
[code]
I would like that last line written to standard error

**Why is this needed**:
If the diagnostic is written to standard error, the output becomes valid JSON.

/sig cli

[2020-02-05 23:41] sftim commented on #82011
Slightly related to issue #87868

[2020-02-05 23:45] sftim commented on #87868
Wrong repo
/close

[2020-02-05 23:45] #87868 closed

[2020-02-05 23:54] dperny commented on #87854
That commit, f834749, is part of the PR that I believe introduced the problem. I strongly believe the problem to be one of a non-nil interface with a nil receiver. This is the only way that `hs` could be nil in the snippet of code from `proxier_health.go`.

Before PR #83498 (the changes from which are present in the version I ran), there was this odd looking set of code:

https://github.com/kubern

[2020-02-06 00:02] msau42 commented on #87855
Feb  5 17:25:20.988: INFO: At 2020-02-05 17:25:08 +0000 UTC - event for hostexec-e2e-300377d415-674b9-minion-group-9g03-nxqfb: {kubelet e2e-300377d415-674b9-minion-group-9g03} OutOfpods: Node didn't have enough resource: pods, requested: 1, used: 110, capacity: 110

[2020-02-06 00:04] craiglpeters commented on #58034
This should be addressed by https://github.com/kubernetes-sigs/cloud-provider-azure/issues/289
/milestone v1.18

[2020-02-06 00:05] sftim opened #87869 "Report feature gate states via kubectl cluster-info dump"
**What would you like to be added**:
Improve Kubernetes so that I can run `kubectl cluster-info dump` and discover which feature gates are recognized by the cluster, as well as learn which components have which feature gates enabled.

**Why is this needed**:
As a cluster operator, I want to be able to discover the cluster's running configuration without having to probe for features or to look at t

[2020-02-06 00:05] sftim commented on #87869
Some background: https://kubernetes.slack.com/archives/C0EG7JC6T/p1576778805011700

[2020-02-06 00:06] msau42 commented on #87855
[code]

[2020-02-06 00:31] wawa0210 commented on #87861
/sig storage

[2020-02-06 01:13] attritionorg commented on #77019
@sethp-nr Do you feel this has security implications, that a cached tag could allow for privileges to be granted when they should not?

[2020-02-06 01:38] msau42 commented on #87855
One thing that's peculiar is that out of pods event is from kubelet, and not the scheduler. I'm suspecting it's because this hostexec pod is creating with NodeName set which bypasses the scheduler, causing kubelet to mark it as Failed immediately, instead of staying pending in the scheduler.

[2020-02-06 01:46] msau42 commented on #87855
/assign

[2020-02-06 02:35] gigi-at-zymergen commented on #77662
@rcorre This seems like a good idea to me, as we recently had to apply some updates to all nlbs created by the aws provider layer with annotations on services . I recognize we can work around with jq or grep on output, but would be nice for it to be supported as a field selector. Did you end up just solving this with jq?

[2020-02-06 02:53] mikedanese opened #87873 "Add context argument to clientset expansions"
/sig api-machinery

[2020-02-06 02:54] msau42 commented on #87855
Actually I think this is an issue that can also impact many hostpath tests too. I'll try to fix everything...

[2020-02-06 04:11] tedyu commented on #87441
Another occurrence:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/87818/pull-kubernetes-e2e-gce-csi-serial/1225252821763362826/

[2020-02-06 04:11] lubinsz opened #87876 "Support all CNI-s on Arm64 platform"
This is an extention requirements from issue https://github.com/kubernetes/kubernetes/issues/86295
We need to support all CNI-s on Arm64.

* [x] Flannel
* [x] publish the daily test results for the conformance test on Arm64 with Flannel
* [x] Weave
* [ ] publish the daily test results for the conformance test on Arm64 with Weave
* [x] Calico
* [ ] publish the daily test results for the conformance

[2020-02-06 04:16] lubinsz commented on #86295
cc @Jingzhao123

[2020-02-06 04:17] lubinsz commented on #87876
cc @Jingzhao123

[2020-02-06 04:35] apelisse commented on #80916
It's partially improved, we might send a PR to improve the error.

[2020-02-06 05:09] msau42 commented on #87855
There's also a notable uptick this week in failures with "Outofpods" errors:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=Pod%20Node%20didn%27t%20have%20enough%20resource%3A%20pods%2C%20requested%3A%201%2C%20used%3A%20110%2C%20capacity%3A%20110

It doesn't look like we increased test parallelism. Unsure what else could be causing this increase

[2020-02-06 05:10] msau42 commented on #87855
@kubernetes/sig-storage-test-failures

[2020-02-06 05:10] zhangxingdeppon opened #87878 "config kubeadm kubelet client&server certificate auto rotation configuration did not succeed"
**What happened**:
hi, buddy, I met a problem, when I operated kubeadm's kubelet client &server certificate rotation configuration,  but it did not succeed, can you give me some ideas? it is very important to me, thanks very much.
for details, see below:
here is  the current kubelet's certificate :
<pre><code>
[root@k8s-master ~]# cd /var/lib/kubelet/pki/
[root@k8s-master pki]# ls -trl
total 16
-r

[2020-02-06 05:13] zhangxingdeppon commented on #87878
@kubernetes/sig-apps-bugs

[2020-02-06 05:25] tedyu commented on #87878
I found the following in CHANGELOG-1.11.md :

The kubelet `--rotate-certificates` flag is now deprecated, and will be removed in a future release. The kubelet certificate rotation feature can now be enabled via the `.RotateCertificates` field in the kubelet's config file.  ([#63912](https://github.com/kubernetes/kubernetes/pull/63912), [@luxas](https://github.com/luxas))

FYI

[2020-02-06 05:28] annajung commented on #80916
Hey @apelisse  Thank you for the update! I will keep this issue tracked in the bug triage tracking sheet for release 1.18

[2020-02-06 05:30] msau42 commented on #87855
Another interesting observation is that things are very flaky in pull jobs, but not in CI

[2020-02-06 06:28] tanjunchen commented on #87047
due to https://github.com/kubernetes/kubernetes/pull/87358
/close

[2020-02-06 06:28] #87047 closed

[2020-02-06 06:31] zhangxingdeppon commented on #87878
yes, you can see above details, I have set `rotateCertificates: true` & `featureGates` in the kubelet's config file, but it didn't work.

[2020-02-06 07:39] apurvabhandari commented on #24873
Can anyone tell me the command or script which will take backup of cluster (includes ns, deployment, svc, secrets, pv pvc, cm **yaml** files only) with all information and restore it in new cluster.
I have tried with **--export** command but in service yaml file name of service is missing and if i take backup without --export then it include **clusterIP** (mainly) and **loadBalancer** IP which is

[2020-02-06 07:50] anderseknert commented on #87369
Thanks for looking into it @enj . You are indeed correct in your assumption that I'm using a [custom exec plugin](https://github.com/Bisnode/kubectl-login) which stores the token in the `KUBECONFIG` after retrieval. I'd love to learn why this should not be done, but the problem remains also without persisting the token after retrieval. Basically the steps to reproduce could be reduced to these:

1

[2020-02-06 08:06] andyzhangx commented on #77225
I tried max data disk feature on a `Standard_DS2_v2` vm which allows 8 data disks at most, after 8 disks attached to the node, the node description is like following(`attachable-volumes-azure-disk` field is not changed as expected):
[code]

While if user schedule a pod with a disk mount, it would prompt error like following:
[code]

max data disk feature should work well.

While there is some user

[2020-02-06 08:06] andyzhangx commented on #77225
/close
I will close this issue, let me know if you have any questions, thanks.

[2020-02-06 08:06] #77225 closed

[2020-02-06 08:06] andyzhangx commented on #77225
/close

[2020-02-06 08:12] #84797 closed

[2020-02-06 08:41] anderseknert commented on #87369
Seems we can reduce it even further by removing the token altogether from the `KUBECONFIG` file and instead provide it directly. So the only step needed to reproduce is essentially this:

1. A `KUBECONFIG` configuring an exec plugin which retrieves a valid token out of band and echoes it as part of an [ExecCredential object](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#i

[2020-02-06 09:06] #82970 closed

[2020-02-06 09:18] goireu commented on #82440
@Nowaker I said "the problem is", not "your problem is" 😄

It's not a Kubernetes problem, it is the interface between containerd-shim and runc which was not designed with performance in mind.

There is no bug here, everything works as intended by the developers, we face a design choice that doesn't fit our use case. Life is tough 😆

[2020-02-06 09:25] eladm26 commented on #87878
new contributor, would love to take this one
/assign

[2020-02-06 09:43] Nowaker commented on #82440
@goireu Ha ha. :) I read it like that for some reason!

Is it really true? Please take a look at my findings. ^F `for in in `seq 1 10`; do pstree -lspT 46819; sleep 1; done` in my comments above. As you can see in there, there's *at least* one `runc` process spawned every second (that was the highest granularity I could achieve with `pstree`), and my probes were not configured to `interval=1s`! Th

[2020-02-06 09:53] kris-nova commented on #85794
So there are a few other errors that could be causing this

[code]

will fix the swap error. Also, if you are using `cri-o` or `crio` as a container runtime you can check the following snippet in `/etc/crio/crio.conf`

[code]

[2020-02-06 09:56] goireu commented on #82440
For each process you execute in your container, containerd-shim will run a `runc exec` and multiple `runc state` commands, most probably because containerd asks it to do so to follow task state. Here is the runc spam.

[2020-02-06 10:01] MSSedusch commented on #82781
The write latency will be sub milliseconds which is one of the KPI required by SAP HANA. Premium Disk Write latency is usually in the lower single digits millisecond so it improves write latency a lot.

[2020-02-06 10:09] ramineni opened #87882 "[Flaky Test] [sig-storage] Subpath tests are flaky"
**Which jobs are flaking**:
Summarizing 2 Failures:
[Fail] [sig-storage] In-tree Volumes [Driver: cinder] [Testpattern: Dynamic PV (default fs)] subPath [It] should support restarting containers using file as subpath [Slow][LinuxOnly]
/workspace/anago-v1.17.2-beta.0.2+59603c6e503c87/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/testsuites/subpath.go:180
[Fail]

[2020-02-06 10:10] ramineni commented on #87882
/sig storage

[2020-02-06 10:15] uablrek commented on #87426
This is likely not a k8s fault but an effect on how DNS resolv works. I have had this problem also, DNS-queries fails if the DNS-server happens to be on the same node. The problem is that the reply comes back but does not have the ClusterIP as source which is the dest in the query. The local resolver discards the reply since it has an "invalid" source.

I think you can fix the problem by specifyin

[2020-02-06 10:28] Nowaker commented on #82440
Well, if the number of spawned runc processes doesn't change between interval=10s and interval=30s probes, that means `kubectl exec` mimicking a probe would help reduce the load immensely, because it wouldn't constantly spam with `runc` processes every second (or more frequently, but my pstree+sleep couldn't catch more), correct?

[2020-02-06 10:29] gmateusz09 opened #87883 "Kubeadm on ContainerLinux - flexvolume-dir points to read-only directory and fails"
**What happened**:
Kubeadm v1.17.2 fails to deploy a cluster or kube-controller-manager to be precise.

**Kubelet logs**
`Feb 06 11:08:28 hsr00036 kubelet[27225]: E0206 11:08:28.184776   27225 kubelet.go:1680] Unable to attach or mount volumes for pod "kube-controller-manager-hsr00036_kube-system(ea3e4a11f67f52fe745c1d60c2319245)": unmounted volumes=[flexvolume-dir], unattached volumes=[ca-certs f

[2020-02-06 10:32] gmateusz09 commented on #87883
/sig cluster-lifecycle

[2020-02-06 10:33] goireu commented on #82440
To my understanding, `kubectl exec` and exec probes at the same interval should generate the same amount of runc "spam".
Give a try to execsnoop (or execsnoop-proc if your kernel doesn't provide the features required by execsnoop), you'll be able to confirm/infirm this.

[2020-02-06 10:49] pkesso opened #87884 "Kubernetes trying to use cilium after it was removed and calico was installed instead."
**What happened**:
I was building new cluster. For some reasons I installed cilium first, then removed it and installed calico. After that I faced multiple problems with internal network. Coredns failed to start, it stucks in ContainerCreating state with error:

    Warning  FailedScheduling        82s (x2 over 88s)  default-scheduler
    0/1 nodes are available: 1 node(s) had taints that the pod

[2020-02-06 10:55] zhangxingdeppon commented on #87878
@eladm26 wow, great, thanks, could you give me some ideas?

[2020-02-06 10:59] zhangxingdeppon commented on #87878
@tedyu I found the official has no specific implementation steps in this section,do you have any other mothed？thanks very much.

[2020-02-06 11:20] uablrek commented on #87426
Now I have tested and yes, `--masquerade-all` seems to fix the problem (proxy-mode=iptables assumed)

[2020-02-06 11:23] hex108 commented on #84155
Thanks @Huang-Wei !

[2020-02-06 11:23] #84155 closed

[2020-02-06 11:24] #80039 closed

[2020-02-06 11:30] gmateusz09 commented on #87883
When I replace K8s manifest files (kube-apiserver.yaml  kube-controller-manager.yaml  kube-scheduler.yaml) and edit kube-controller-manager.yaml:
...
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /etc/kubernetes/pki
      name: k8s-certs
      readOnly: true
    - mountPath: /etc/kubernetes/controller-manager.conf
      name: kubeconfi

[2020-02-06 11:32] AnkurRaj opened #87887 "ENDPOINTS of PODS"
Some pods are running and some pods are in pending state.And endpoints of some pods were <none> .
While debugging the worker node i am getting this in iptable of my worker node.
-A KUBE-SERVICES -d 10.100.134.208/32 -p tcp -m comment --comment "YYYY/XXX:eai-pcp-port has no endpoints" -m tcp --dport 11930 -j REJECT --reject-with icmp-port-unreachable

Let me Know how to resolve this.

[2020-02-06 11:34] michaelrath-work opened #87888 "Failed to prepare subPath for volumeMount: is there a nesting (depth) limit?"
**What happened**:

Setting `subPath` to a (deeply) nested folder structure suddenly fails. Is there a (undocumented) limit on how many subfolders can be specified?

**What you expected to happen**:

`subPath` is not limited.

**How to reproduce it (as minimally and precisely as possible)**:

I use the following config:

[code]
Running my pod leads to
   Error: failed to prepare subPath for volume

[2020-02-06 11:57] dims commented on #85267
@lubinsz the right way to "official" is to write a KEP based on all the discussions on the mailing list, this issue etc, please write one. We can use that to identify gaps, work, etc. get general agreement from everyone then take it through the release process, update documentation etc.

[2020-02-06 11:58] sarvjeetrajvansh commented on #78761
even i am facing the same issue.
it will reach to max pod but will never come down.

i tried autoscaling/v1 autoscaling/v2beta1

K8s version 1.14 .

kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"autoscaling/v2beta1","kind":"HorizontalPodAutoscaler","metadata":{"annotations":{},"name":"resize-app","namespace":"default"},"spec":{"maxReplicas":3,"metrics":[{"resource":{"nam

[2020-02-06 12:17] o0st commented on #78761
I was able to trigger downscaling on stuck hpa via switching`targetAverageUtilization` to `targetAverageValue` in hpa configuration. Kube version: `v1.14.9`.

[2020-02-06 12:21] dims commented on #87837
the message is telling you to use `ignore-preflight-errors` to ignore the version :) so add that to the `kubeadm init` command line.

/close

[2020-02-06 12:21] #87837 closed

[2020-02-06 12:27] meenalpandey opened #87889 "Java Controller Example with reconciler - not working as expected"
I am trying to execute the Controller Example (using listNamespacedPodCall) in Java -
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/ControllerExample.java
However, I am not getting the triggers or the logs whenever the POD is added/updated/deleted.

Ideally the log "triggered reconciling", should be printed with the POD details.

It can

[2020-02-06 12:30] meenalpandey commented on #87889
/sig API Machinery

[2020-02-06 12:31] rcorre commented on #77662
@gigi-at-zymergen it has been such a long time I don't remember :laughing:
I'm guessing I filtered with `jq` or something similar.

[2020-02-06 12:35] smirnov-mi commented on #60987
i use CSI plugin, and had two pods in two separate namespaces, with two separate CephFSs. Both pods were not able to see their cephfs mounts. After manually updating rook-ceph to 1.2.3, ONE of the pods was able to mount it's cephfs with all data.  Second one is still unable. I can't see any errors in ceph itself as well.

[2020-02-06 13:24] georgasa commented on #53023
The same issue as well, k8s 1.12.10: The pods are there, up and running while the ds doesn't reflect the actual situation:

_kubectl get ds smsf-reg_
NAME       DESIRED   CURRENT   READY   UP-TO-DATE   AVAILABLE   NODE SELECTOR   AGE
smsf-reg   5         5         **0**       5            **0**           nodetype=smsf   11m

_kubectl describe ds smsf-reg_
...
Events:
  Type    Reason            Ag

[2020-02-06 13:57] andyzhangx commented on #82781
@MSSedusch ok, I will try to add `writeAcceleratorEnabled` support for data disk in k8s 1.18

[2020-02-06 13:59] sftim commented on #84903
I still want this, so:
/remove-lifecycle stale
/priority backlog

[2020-02-06 14:11] hasheddan commented on #87816
I have observed 12 consecutive successful runs, the most we have seen here in some time.

/close

[2020-02-06 14:11] #87816 closed

[2020-02-06 14:12] MSSedusch commented on #82781
great, thanks!

[2020-02-06 14:20] markyjackson-taulia commented on #82296
Hi @liggitt

Bug Triage Release Team checking in. Will this be staffed for v1.18

[2020-02-06 14:22] markyjackson-taulia commented on #82765
Hi @liggitt

Bug triage team here. Checking if this will make the v1.18 release?

[2020-02-06 14:23] liggitt commented on #82765
I'll defer to the bug owner and sig-network to answer that

[2020-02-06 14:24] jayunit100 opened #87893 "Ingress,Egress tests for NetworkPolicys"
**What would you like to be added**:

We are missing a test which specifies Ingress,Egress (both) for network policys (in network_policy.go).

**Why is this needed**:

So that our network policy test coverage matches the semantics of what is commented and supported in the API.

[2020-02-06 14:24] markyjackson-taulia commented on #59848
Hi @jpbetz

Bug Triage team here. Will this making it in the v1.18 release?

[2020-02-06 14:39] bertinatto commented on #86360
I reproduced this and this is what I found out:

1. Pod with one volume is created.

2. Pod is deleted. In the process, kubelet calls _NodeUnstageVolume_ and gets a timeout error back.

`
E0206 12:41:15.188300   22583 nestedpendingoperations.go:270] Operation for "\"kubernetes.io/csi/io.kubernetes.storage.mock^1\"" failed. No retries permitted until 2020-02-06 12:41:15.688279561 +0000 UTC m=+334.4

[2020-02-06 14:41] bertinatto commented on #86360
This behaviour is correct because we can't call _NodeStageVolume_ if the volume is already mounted on the node.

[2020-02-06 14:41] bertinatto commented on #86360
/close

[2020-02-06 14:41] #86360 closed

[2020-02-06 14:55] jsafrane commented on #74914
Tried with in-tree GCE PD, Azure and AWS.

* On AWS, it's Kubernetes who assigns device names for block devices. Block devices are not reordered on reboot.
* On GCE and Azure, block devices can be reordered, however, kubelet cleans just the symlinks in /var/lib/kubelet for deleted pods and thus it does not really matter if a device was renamed, only a potentially wrong or broken symlink is removed

[2020-02-06 15:17] tux21b commented on #51017
any updates on this?

[2020-02-06 15:23] jpbetz commented on #59848
This should be set to 1.19. We have a KEP for the remaining work that we’re
hoping to get in for 1.19

On Thu, Feb 6, 2020 at 6:24 AM Marky Jackson <notifications@github.com>
wrote:

[2020-02-06 15:27] mmlac commented on #38532
/remove-lifecycle stale

Bot not catching the command?

[2020-02-06 16:21] wojtek-t commented on #84990
/remove-lifecycle stale

[2020-02-06 17:08] foobarbecue commented on #72597
Me too.

[2020-02-06 17:22] Huang-Wei commented on #87678
This is not valid anymore. See discussion in #87702.

[2020-02-06 17:22] #87678 closed

[2020-02-06 17:51] tsunamireversal commented on #76035
Wow you guys are really not responsive

[2020-02-06 18:08] mtaufen commented on #68244
I cleared it from the milestone. This is a long-term testing improvement that can be tracked independently from releases.

As far as status, @tahsinrahman merged the core test helpers and some initial tests, and is continuing to expand coverage to additional components.

[2020-02-06 18:18] Nowaker commented on #82440
OK. That's not my experience.

On the micro level, no matter what a probe interval was, I always saw a new `runc` process every second (pstree+sleep approach).

On a macro level, the CPU usage of a beefy server with 100 pods with exec probes caused the same CPU load regardless of probe interval.

Due to how bad the solution was, we no longer have the test env, the hardware, and time allocation for

[2020-02-06 18:30] howardjohn commented on #87800
I can also hit race conditions from a unit test. I can make this a new issue if preferred.

[code]

and similar but slightly different:
[code]

[2020-02-06 18:40] tedyu commented on #87800
There is some race around accessing observedRecord.
We can use a Lock to protect the access.

Please log a new issue.

Thanks

[2020-02-06 18:42] howardjohn opened #87898 "leaderelection race condition around observedRecord"
**What happened**:
[code]
and similar but slightly different:
[code]

**What you expected to happen**:

No race

**How to reproduce it (as minimally and precisely as possible)**:

Checkout code: https://github.com/istio/istio/blob/480116462e371252a1c4e5319f6615e5fb228531/pilot/pkg/leaderelection/leaderelection_test.go#L93

`go test -c -race ./pilot/pkg/leaderelection && stress ./leaderelection.tes

[2020-02-06 18:43] tedyu commented on #87898
/assign

[2020-02-06 19:20] neolit123 commented on #59848
/milestone v1.19

[2020-02-06 19:28] saad-ali commented on #87815
/assign @verult

[2020-02-06 19:29] saad-ali commented on #87774
/assign @jingxu97

[2020-02-06 19:37] #82394 closed

[2020-02-06 19:50] gnufied opened #87901 "Tests in selinux security_context are failing"
Tests in https://testgrid.k8s.io/google-gce#gci-gce-flaky&sort-by-flakiness=&width=20&include-filter-by-regex=SELinux are failing because they are faulty.

A container can't read from a file if it has selinux permission denied for it.

More context - https://github.com/kubernetes/kubernetes/pull/87658#issuecomment-582407413

/sig node
/sig storage

[2020-02-06 20:37] aramase commented on #85443
/remove-triage unresolved

[2020-02-06 20:38] #74643 closed

[2020-02-06 20:59] franclinsousa commented on #76604
I create a link symbolic. It works!

[2020-02-06 21:06] caesarxuchao commented on #87844
/remove-sig api-machinery
/sig apps

[2020-02-06 21:07] logicalhan commented on #87869
+1

[2020-02-06 21:07] caesarxuchao commented on #87869
/assign @lavalamp

[2020-02-06 21:09] caesarxuchao commented on #87889
/cc @DirectXMan12 @roycaihw

[2020-02-06 21:21] evankanderson commented on #76951
Knative has ended up reimplementing readiness probes and Endpoint updates to enable sub-second Pod readiness during scale-up events.

@vagababov for visibility on the upstream issue

(this seems to be a dup of closed issue #38778, which didn't seem to have a specific need and aged out)

[2020-02-06 21:33] maikelvl commented on #82296
We've encountered this issue today in a similar way.

[code]

Works on v1.15.3, but fails on v1.15.9:

[code]

A fix is to quote the value:
[code]

[2020-02-06 21:44] msau42 opened #87905 "Multizone gce tests are failing"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-multizone

**Which test(s) are failing**:
[sig-scheduling] Multi-AZ Clusters should spread the pods of a replication controller across zones
[sig-scheduling] Multi-AZ Cluster Volumes [sig-storage] should only be allowed to provision PDs in zones where nodes exist

**Since when has it been failing**:
2/6/20

**Testgrid link**:
https://prow.k8s.io/vi

[2020-02-06 21:44] Jeffwan commented on #82131
2.4.5 RC2 approved and you won't see this problem again in 2.4.5

[2020-02-06 21:45] msau42 commented on #87905
/assign @BenTheElder
to see if the plumbing of E2E_ZONES to TestContext.CloudConfig.MultiZone is correct

[2020-02-06 21:52] ludat commented on #64251
This is still happening

[2020-02-06 22:05] danwinship commented on #87893
/remove-triage unresolved

[2020-02-06 22:07] danwinship commented on #87876
/sig testing
/remove-sig network
/remove-triage unresolved

[2020-02-06 22:09] danwinship commented on #87857
/remove-triage unresolved

[2020-02-06 22:09] danwinship commented on #87854
/remove-triage unresolved

[2020-02-06 22:10] danwinship commented on #87852
/assign @aojea

[2020-02-06 22:11] danwinship commented on #87604
/remove-triage unresolved

[2020-02-06 22:12] danwinship commented on #87603
/remove-triage unresolved

[2020-02-06 22:13] danwinship commented on #87560
/assign @thockin

[2020-02-06 22:13] danwinship commented on #87530
/remove-triage unresolved
/assign @thockin

[2020-02-06 22:14] danwinship commented on #87484
/remove-sig network
/remove-triage unresolved

we think kubectl port-forward is
/sig api-machinery

[2020-02-06 22:16] mateuszlitwin commented on #87850
I am concerned that if you decide to remove period flush then pods will remain in the unschedulableQ for long time. This can happen in custom scheduling plugin where there are events that should move pod to activeQ, but are not tracked by the default scheduler. It was mentioned in #77746 and recently by me in #87738.

[2020-02-06 22:18] danwinship commented on #87426
/assign @satyasm

[2020-02-06 22:19] satyasm commented on #87426
/assign @satyasm

[2020-02-06 22:22] abhat commented on #87893
/assign @abhat

[2020-02-06 22:33] danwinship commented on #87305
/assign @caseydavenport
/remove-triage unresolved

[2020-02-06 22:35] danwinship commented on #87277
/assign @rikatz

[2020-02-06 22:36] danwinship commented on #87236
/assign @aojea

[2020-02-06 22:37] danwinship commented on #87197
/assign

[2020-02-06 22:37] danwinship commented on #87150
/assign @caseydavenport

[2020-02-06 22:38] danwinship commented on #86907
/assign @andrewsykim

[2020-02-06 22:39] danwinship commented on #86898
/remove-triage unresolved

[2020-02-06 22:41] danwinship commented on #86898
This is a very old release. If you can reproduce this on a supported release, please file a new bug.
/close

[2020-02-06 22:41] #86898 closed

[2020-02-06 22:42] danwinship commented on #86889
/assign @caseydavenport

[2020-02-06 22:43] alculquicondor commented on #87738
We shouldn't add more endpoints to the scheduler framework because we think it will allow gang scheduling. I'd rather see the complete design of gang scheduling first (like Jun's), which is already being discussed.

Do you have any other concrete use case?

[2020-02-06 22:43] danwinship commented on #86866
/assign @freehan

[2020-02-06 22:44] danwinship commented on #86773
/remove-triage unresolved

[2020-02-06 22:44] alculquicondor commented on #87850
That should be solved separately according to use cases. That is to say, those kind of features shouldn't depend on the periodic flush.

[2020-02-06 22:45] danwinship commented on #86668
/close

[2020-02-06 22:45] #86668 closed

[2020-02-06 22:46] danwinship commented on #86667
/assign @aramase

[2020-02-06 22:46] danwinship commented on #86624
/remove-sig network
/remove-triage unresolved
/area cloud-provider-aws

[2020-02-06 22:47] alculquicondor commented on #80611
Are we ready to start a KEP-like doc and (then) a prototype in https://github.com/kubernetes-sigs/scheduler-plugins?

[2020-02-06 22:47] danwinship commented on #86587
/assign @rikatz
/remove-triage unresolved

[2020-02-06 22:48] danwinship commented on #86522
/assign

[2020-02-06 22:49] danwinship commented on #86518
/assign @aojea

[2020-02-06 22:49] M00nF1sh commented on #86624
/area provider/aws

[2020-02-06 22:49] danwinship commented on #86517
/close
per previous comment

[2020-02-06 22:49] #86517 closed

[2020-02-06 22:53] danwinship commented on #86507
Does localhost resolve to 127.0.0.1 or ::1 ?

[2020-02-06 22:53] danwinship commented on #86482
/remove-triage unresolved

[2020-02-06 22:54] danwinship commented on #86451
looks like a kubeadm issue
/remove-sig network
/sig cluster-lifecycle
/remove-triage unresolved

[2020-02-06 22:54] danwinship commented on #86370
/assign

[2020-02-06 22:59] danwinship commented on #86280
/assign @thockin

[2020-02-06 23:01] BenTheElder commented on #87905
I know nothing about E2E_ZONES, someone familiar with the GCE provider might.

you can see the env supplied to the pod by scrolling to the bottom of https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/1225513047829778434 and clicking `yaml`
/unassign

[2020-02-06 23:02] BenTheElder commented on #87905
this line:

suggests that bootstrap.py in test-infra is setting E2E_ZONES env to that value before the tests are called

[2020-02-06 23:04] danwinship commented on #87366
Environment variables for services are already problematic (in that a pod can only have environment variables for the services that existed before it was created). And extending them to cover all namespaces would be a performance problem in large clusters. There is a proposal to deprecate service environment variables altogether.

CoreDNS should serve SRV records which contain the port; if your ap

[2020-02-06 23:04] #87366 closed

[2020-02-06 23:04] uablrek commented on #87426
This problem occurs when a CNI-plugin that provides L2 connectivity between pods on the same node as the "bridge" CNI-plugin used in this issue and that I also using. When I switch to Calico which uses L3 and routes traffic back to the node it works fine.

The bridge CNI-plugin sends the reply directly to the client pod on the same node (L2) and thus bypass the connection-tracker in main netns.

[2020-02-06 23:05] aojea commented on #86518
ping @13567436138
can you provide more details?
https://github.com/kubernetes/kubernetes/issues/86518#issuecomment-569404062

[2020-02-06 23:07] aojea commented on #87236
ping @andy-wolf168
can you provide more details about your environment?

https://github.com/kubernetes/kubernetes/issues/87236#issuecomment-575028788

[2020-02-06 23:10] neolit123 commented on #87869
are there plans to one day decouple kube components from the same list of feature gates?

[2020-02-06 23:23] aojea commented on #83063
/close

[2020-02-06 23:23] #83063 closed

[2020-02-06 23:31] thockin commented on #87530
absent a really compelling reason to loosen this, it just isn't worth the energy it would take to do it.  Sorry.

[2020-02-06 23:31] #87530 closed

[2020-02-06 23:36] thockin commented on #87560
I can't fathom how this is a Kubernetes bug.  The DNS resolution done
by your app is inside the container - Kubernetes has no influence on
that.  As Chris suggests, maybe you are getting a timeout and falling
back on other queries, which could suggest your DNS is broken or
overloaded or your network is overloaded (UDP!) or your machine itself
is broken or overloaded.

/close

On Thu, Feb 6, 2020 a

[2020-02-06 23:36] #87560 closed

[2020-02-06 23:40] #16337 closed

[2020-02-06 23:51] thockin commented on #30051
This continues to be a problem for people who use pre-built images that handle SIGTERM by closing their listening socket.  If they could simply change the signal to SIGUSR1, they would not have to deal with this.

[2020-02-07 00:10] thockin commented on #86280
This is an oft-misunderstood part of Kubernetes.  Arguably, what Kubernetes does is surprising.  We can seek a better solution here, but in the short-term here's the deal.

Kubernetes supports "graceful termination", like docker.    When a Pod is deleted, we send SIGTERM (by default) to the containers.  We wait a while (configurable) and then send SIGKILL.  Everything in Kubernetes is async, so at

[2020-02-07 00:10] #86280 closed

[2020-02-07 00:42] #73535 closed

[2020-02-07 00:42] #82242 closed

[2020-02-07 00:42] verult commented on #87815
The attach op for the test driver simply returns success, so it's surprising attach timed out.

This test has a unique volume name ("test-long-detach-flex"), so the attach operation should be performed in parallel with volume operations from other tests run at the same time. But depending on how many volume operations are happening in parallel, maybe available resources to run goroutines is gettin

[2020-02-07 01:29] Despawned commented on #50375
+1

[2020-02-07 01:46] #87318 closed

[2020-02-07 01:46] #87604 closed

[2020-02-07 01:47] #87806 closed

[2020-02-07 05:17] wawa0210 commented on #87888
/assign

I will continue to follow up on this issue, and then timely feedback what I know

[2020-02-07 05:28] #87764 closed

[2020-02-07 05:43] hex108 commented on #80611
@alculquicondor Yes, there is a KEP https://github.com/kubernetes/enhancements/pull/1463 for it.

[2020-02-07 06:41] vllry opened #87915 "Backoffs should have jitter"
client-go implements exponential backoff. This backoff is used in the control plane, kubelets, and by many 3rd parties. There are many cases where backoff would be improved by jitter.

For example, suppose many pods enter a CrashLoopBackOff at once, due to a shared failure.
With no jitter, this (potentially large) group of pods will all retry and start at the same time, hammering the Kubernetes AP

[2020-02-07 06:42] vllry commented on #87915
/sig api-machinery
/assign @vllry

[2020-02-07 07:20] samof76 opened #87917 "Setting HPA on CPU Utilization on Deployment with Multi Container Pod computes desired replicas incorrectly"
**What happened**:

I am using EKS cluster k8s version 1.14.8, now I am trying to i tried create the hpa...

[code]

Please notice that I have 15 pod already running at an average utilization of 31% and target is 50%, but i see that it immediately scales my app to 18 which is my max replicas. I am not sure is there an issue with the HPA or my understanding is amiss?

FYI, my pod is multi container

[2020-02-07 07:48] DenisNovac opened #87918 "kubelet cgroup driver: "'systemd'" is different from docker cgroup driver: "systemd""
**What happened**: kubectl failed with message
`failed to create kubelet: misconfiguration: kubelet cgroup driver: "'systemd'" is different from docker cgroup driver: "systemd"`

**What you expected to happen**: kubectl started by `systemctl start kubectl`

**How to reproduce it (as minimally and precisely as possible)**: setup docker daemon with settings ([source](https://kubernetes.io/docs/setup

[2020-02-07 07:55] DenisNovac commented on #87918
/sig node

[2020-02-07 08:08] #86037 closed

[2020-02-07 09:43] justaugustus commented on #71677
This issue was originally opened at a time when the [`kubernetes/release` repo](https://github.com/kubernetes/release) was relatively unmaintained. I think it made a lot of sense then to have build tooling in k/k if it meant the likelihood of having clear owners and continued contributions to our overall all Release Engineering posture.

Since then, SIG Release has activated the @kubernetes/releas

[2020-02-07 09:43] #71677 closed

[2020-02-07 09:46] samof76 commented on #87917
/sig autoscaling

[2020-02-07 09:51] #82516 closed

[2020-02-07 11:23] khassel commented on #87918
same with `cgroupfs`

`
failed to run Kubelet: failed to create kubelet: misconfiguration:"kubelet cgroup driver: "'cgroupfs'" is different from docker cgroup driver: "cgroupfs"
`

[2020-02-07 11:57] bizzelicious commented on #64251
/reopen

[2020-02-07 12:04] marquiz commented on #87862
AFAIU kubelet does not take into account `isolcpus` in any way. Thus, whatever you specify there does not have any effect on how workloads are allocated. It looks like you had `--reserved-cpus=1` because that cpu was removed from the cpuset of you container. Otherwise it looks like kubelet behaves as it should.

[2020-02-07 12:44] markyjackson-taulia commented on #74375
Hello, @alejandrox1 @mariantalla @alenkacz,
I wanted to check in on this issue to ensure it was still on track for the v1.18 release cycle.

[2020-02-07 12:47] markyjackson-taulia commented on #82765
@khenidak
Bug triage team here. Checking if this will make the v1.18 release?

[2020-02-07 12:53] #82526 closed

[2020-02-07 12:53] #77926 closed

[2020-02-07 13:09] bbrowning commented on #65200
My team was just bitten by an otherwise-valid ownerRef from a namespace-scoped object to an object in a different namespace. This caused some things to get deleted that definitely should not have been deleted leading to all kinds of headaches. It's bad on us for creating this invalid ownerReference in one of our controllers, but it's worse on Kubernetes for letting us set it and then nuking the ow

[2020-02-07 13:19] sarvjeetrajvansh commented on #78761
do you know target average value calculates in bit or byte

 kubectl get hpa
NAME           REFERENCE                TARGETS       MINPODS   MAXPODS   REPLICAS   AGE
resize-hello   Deployment/hello-world   **17817600/85**   1         5         5          62s

i was expecting a hpa

[2020-02-07 13:35] gianarb commented on #85114
Hello @kubernetes/sig-storage-bugs   !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-07 13:36] gianarb commented on #75482
Hello @kubernetes/sig-node-bugs    !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-07 13:36] gianarb commented on #82158
Hello @verb !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-07 13:39] liggitt commented on #85114
Given https://github.com/kubernetes/kubernetes/issues/85114#issuecomment-558870746 I think should be closed as Working as intended

[2020-02-07 13:40] #85114 closed

[2020-02-07 13:51] fjammes commented on #79606
/reopen

This feature would be very useful.

[2020-02-07 13:54] #81406 closed

[2020-02-07 13:54] #82352 closed

[2020-02-07 13:55] #75191 closed

[2020-02-07 13:56] #59501 closed

[2020-02-07 13:56] #87541 closed

[2020-02-07 14:23] erpel commented on #85761
Same issue on rke with 1.15.9 for one out of three statefulsets.

[2020-02-07 14:30] liggitt commented on #65200
To be clear, an ownerRef does not cause deletion of the owner

[2020-02-07 14:32] liggitt commented on #65200
I agree this is important to fix. I am looking into potential mitigations to make behavior in the presence of these ownerRefs more deterministic

[2020-02-07 14:47] oxddr commented on #87815
/kind flake

@verult There was a single failure of this test. However please note gce-master-scale-correctness is an expensive test to run and we should strive to deflake as much as possible. Otherwise the signal it provides would be weaker.

[2020-02-07 14:50] jorgemoralespou commented on #79496
@liggitt what happens if there are multiple LimitRanges that apply default and defaultRequest with different values? What will be set on the container?
This case is not similar to enforcing the min and max on all the LimitRanges defined in the namespace, as in the final container there will be one single value set when the limit ranges are applied.
What is the logic for this?

[2020-02-07 14:59] liggitt commented on #79496
if multiple limit ranges with different defaults are specified, the one used as the default is not currently deterministic.

[2020-02-07 15:00] SerialVelocity commented on #87126
Hitting the same issue on 1.16.6

[2020-02-07 15:09] duglin commented on #84764
Hi - what's the status of this? I'm really interested in using ephemeral containers for some of my usecases but, like others, I'd like to be able to remove them and reclaim all resources as the pod itself might live for a long time but these e-containers would come and go quite frequently.

[2020-02-07 15:20] rileytg commented on #3312
we experience catastrophic failures due to this. one node goes down and the subsequent rescheduling overloads all the remains nodes CPU. Also mostly JVM workloads.... High CPU for about 2min, then most of the time we’re operating at %10 CPU

[2020-02-07 15:31] Angelmmiguel commented on #67966
You saved me a lot of time ❤️

[2020-02-07 15:45] mouyang commented on #81329
/remove-lifecycle rotten

[2020-02-07 15:53] notpad commented on #87832
@alculquicondor To my understanding, we will remove the data stored in PodBackOffMap, and the PodBackOffMap can be refactored as something like:

[code]

Is this what you expected?

But after that podBackoff.GetBackoffTime can not check if a pod is inside the podBackoff structure, so the value of "exists" won't be false, this will cause some tests in scheduler_queue_test.go to be failed. There are

[2020-02-07 15:55] pmartin-brierley commented on #58245
Did you ever find a solution for this?

[2020-02-07 15:56] #81619 closed

[2020-02-07 16:00] RyanRod commented on #87867
/assign
I'd like to work on this one

[2020-02-07 16:32] alculquicondor commented on #87832
yes, the PodBackoff struct would just have global configuration. It doesn't need any other information. Everything should accept `PodInfo`, instead of `v1.Pod`. `PodInfo` has the last attempt timestamp and number of attempts.

At the end of the day, every pod that doesn't get scheduled will be "backing off", just with different timeouts.

[2020-02-07 16:34] alculquicondor commented on #87832
Not true, because the timeout might have passed already :)

[2020-02-07 16:46] corbyshaner commented on #85669
We are in the same situation.  Our security team needs to maintain control over the security groups and they don't want to have k8s creating them outside of the already accepted automated processes.  Not only that, the security groups aren't deleted after the ELB/ALB/NLB is deleted, which causes other problems.

[2020-02-07 16:54] ndeloof commented on #58245
haven't found any workaround. Seems nobody cares about this use-case, which I expected to be pretty common.