[2015-04-14 18:44] rjnagal commented on #6541
field of greens !

[2015-04-14 19:07] quinton-hoole commented on #6812
But we have many contributors with issues assigned to them that are not in the kubernetes-write group (that only has 48 members).  I must be missing something.  How do I grant him write privileges on the repo?

[2015-04-14 19:12] yujuhong commented on #6641
@smarterclayton, you were right. We cannot update the restart policy. The update validation prevents it. We should the json description to match that.

For successful run once pods, kubelet continues looping on them in my local setup, with or without restart. This seems to be the normal behavior.

[2015-04-14 19:13] a-robinson commented on #6812
We do? That's not how I understand it to work: https://help.github.com/articles/permission-levels-for-an-organization-repository/

If you want to add him, go [here](https://github.com/orgs/GoogleCloudPlatform/teams/kubernetes-write).

[2015-04-14 19:17] yujuhong commented on #6651
If, for whatever reason, a watch update for pod creation is dropped, kubelet would need to wait until re-listing to notice that. This would certainly cause the test to time out. @lavalamp, would it be useful to shorten the re-listing interval for tests like this?

[2015-04-14 20:10] jk-shah commented on #1802
Great!! We just ran into this.. Which version of Kubernetes has this checkin? Any easy way to figure that out?

[2015-04-14 20:16] davidopp commented on #6676
Static pods are accounted in the master via the "mirror pods" feature that was recently added. See #4090

kubelet, docker, and kube-proxy don't run at pods at all, so their resources aren't accounted at all.

I'm not sure which pods run as static pods currently vs. regular pods. The candidates are fluentd, elasticsearch, kibana, kube-dns, heapster, influx-grafana. I think it may only be fluentd (a

[2015-04-14 20:18] mikedanese commented on #1802
This is in the 0.15.0 release.

[2015-04-14 20:33] jk-shah commented on #1802
Thanks

[2015-04-14 20:35] davidopp commented on #6804
killContainerByID() in pkg/kubelet/kubelet.go is what you're looking for. The hard-coded 10 is the current notice we tell Docker to give containers when terminating them. You probably want to start there if you want to make it configurable.

I'm not sure we've fully thought through the node lifecycle in the case of dynamic cluster size, i.e. the scenario you described where we are shrinking the cl

[2015-04-14 20:44] lavalamp commented on #6651
I am not quite sure how this works--let's chat about it tomorrow?

[2015-04-14 20:46] lavalamp commented on #6800
@timothysc: garbage collection is due to the massive amounts of allocation done by decode/conversion. Unfortunately.

+1000

[2015-04-14 20:50] bgrant0607 commented on #6133
Other things I noticed missing from api-conventions.md:
* adequate documentation of watch
* subresources
* delete options, deletionTimestamp, and graceful termination
* list options
* object references
* selfLink
* events

[2015-04-14 20:52] lavalamp commented on #6548
Another example: https://app.shippable.com/builds/552d79c0afacc50b005513eb

[code]

[2015-04-14 20:53] lavalamp commented on #6548
bumping priority because we have to get these flaky tests fixed.

[2015-04-14 21:10] bgrant0607 commented on #6133
And pod-states.md is woefully out of date (e.g., it references "PodStatus" rather than "PodPhase").

[2015-04-14 21:11] lavalamp commented on #6591
@jmreicha did you give that a try and did it resolve the issue?

[2015-04-14 21:19] bgrant0607 commented on #6133
Working on API-visible conventions first.

[2015-04-14 21:20] davidopp commented on #6558
After discussion, we decided to just remove host IP from PodStatus. (It will still be available from "kubectl get nodes" if someone needs it.)

@bgrant0607 does that sound OK with you?

[2015-04-14 21:23] jmreicha commented on #6591
I haven't had a chance to try it out yet.  I'm good to close and just make a new ticket if it doesn't fix the issue when I get around to looking at this.

[2015-04-14 21:41] jayunit100 opened #6828 "[mesos] Report and enforce resource constraints"
When we launch pods , we'll want to confirm that memory, disk, cpu and so on constraints are honored.  Frameworks like mesos will translate these parameters.

Blocked by #5671

@connordoyle @timothysc @jayunit100

xref https://github.com/mesosphere/kubernetes-mesos/issues/447

[2015-04-14 21:48] davidopp commented on #6676
@yujuhong says that fluentd-to-elasticsearch-kubernetes (image name fluentd-elasticsearch) is the only thing running as a static pod on the nodes (i.e. not master) right now.

[2015-04-14 22:09] AntonioMeireles commented on #6213
guys... fwiw the release notes for [0.15.0](https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.15.0) are, in this scope, heaven on earth. **thanks** to all involved!

[2015-04-14 22:11] davidopp commented on #6213
+1, major kudos to @roberthbailey . We should use those release notes as the canonical guide for how to do it in the future.

[2015-04-14 22:20] dchen1107 commented on #6749
I am reopen the issue, so that @saad-ali can use it to track his work. Thanks~!

[2015-04-14 22:47] yujuhong commented on #6047
@dchen1107, would the current heathcheck point for individual master components work for you? Do you have any other requirements?

[2015-04-14 22:52] yujuhong commented on #3649
@dchen1107, I think we agreed that this would be a little bit more complicated than initial proposal. We'd need to detect the first crash of the *most recent* series of crashes. This would probably involve some heuristics and is not a priority for now.

[2015-04-14 22:54] dchen1107 commented on #3649
Yes, this is targeted for v1.0. You can unassign yourself too.

[2015-04-14 22:56] lavalamp commented on #6524
@bprashanth yeah that should be sync'd-- I'll send a PR

[2015-04-14 23:01] kelseyhightower opened #6835 "kube-version-change should"
I've recently starting using the `kube-version-change` command to convert some k8s configs and get the results below. I'm wondering if it would be better if we omitted empty values, status, and fields like `creationTimestamp`

### Before:

[code]

### After:

[code]

[2015-04-14 23:08] quinton-hoole commented on #6665
Looks like we've decided not to expose Host IP on Pods in #6558.  Closing this.

[2015-04-14 23:08] #6665 closed

[2015-04-14 23:12] quinton-hoole commented on #6424
Resolved by #6712 and #6665

[2015-04-14 23:12] #6424 closed

[2015-04-14 23:16] dchen1107 commented on #6584
cc/ @caesarxuchao

[2015-04-14 23:34] bgrant0607 commented on #4869
Why not mount the entire host filesystem as a volume inside the Kubelet's mount namespace?

cc @smarterclayton

[2015-04-14 23:39] smarterclayton commented on #4869
@pmorie is looking at this right - Paul has another issue open to propose a change to the way we mount so that we can do it from inside the container.  I think mounting the host into the Kubelet's namespace is valuable for a set of reasons, but there are some other implications as well.  Will let him respond / link to the relevant issue.

[2015-04-14 23:39] vmarmol commented on #4869
@bgrant0607 that's what we're thinking as well. All things will need to know to look for their expected paths in the special volume instead of their expected paths.

[2015-04-14 23:53] thockin commented on #6213
+1 looks great

On Tue, Apr 14, 2015 at 3:11 PM, David Oppenheimer <notifications@github.com

[2015-04-15 00:10] dchen1107 commented on #6835
cc/ @lavalamp

[2015-04-15 00:12] vishh commented on #4640
Ping @dchen1107

[2015-04-15 00:13] vishh commented on #6484
@justinsb: Does the default monitoring setup work in AWS now?

[2015-04-15 00:17] lavalamp commented on #4877
This is in now.

[2015-04-15 00:17] #4877 closed

[2015-04-15 00:18] lavalamp commented on #6835
Yes, it would be better. Unfortunately it's not easy.

[2015-04-15 00:21] dchen1107 commented on #4640
Yes, just re-assign it to me. Will deal it tomorrow.

[2015-04-15 00:21] kelseyhightower commented on #108
@bgrant0607 This one seems to be done now that we have hyperkube.

[2015-04-15 00:23] justinsb commented on #6484
It does, with #6523.  Thanks for the ping.  Closing.

[2015-04-15 00:23] #6484 closed

[2015-04-15 00:36] yujuhong commented on #6764
I ran some tests on my local setup while setting GOMAXPROCS=1 for kubelet.

When replica count is 100, `stop rc` followed by `create` would fill up the channel, at which time kubelet could take up to a minute to finish the sync (mostly deleting the containers). This is because deleting containers are done in serial in [SyncPods](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kub

[2015-04-15 00:47] lavalamp commented on #6518
This fell off the end of my queue. I will take it up tomorrow.

[2015-04-15 00:48] quinton-hoole commented on #6690
Dupe of #6451

[2015-04-15 00:48] #6690 closed

[2015-04-15 00:50] #5180 closed

[2015-04-15 00:55] nikhiljindal opened #6841 "GCE, AWS and other Volume sources should be optional in the VolumeSource struct"
They are all required right now: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L203
Need to add the omitempty tag.

[2015-04-15 00:56] nikhiljindal commented on #6841
cc @bgrant0607 who pointed it out.

[2015-04-15 01:14] timothysc commented on #6213
awesome @roberthbailey!

[2015-04-15 01:15] nikhiljindal opened #6842 "Some struct fields missing in swagger-spec"
Some struct fields are missing in the properties field of models in our swagger-spec.
For example, the model for VolumeSource does not have awsElasticBlockStore property: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1beta1.json#L9849
 while the struct definition has that field: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/types.go

[2015-04-15 01:16] nikhiljindal commented on #6842
cc @bgrant0607

[2015-04-15 01:42] justinsb commented on #6605
A little proof of concept I whipped up:
http://kubernetes-dashboard.meteor.com/

Each e2e platform would just need to upload their test results (buildlog & junit.xml file) to a public S3 bucket.  I bet Google Cloud buckets work the same way - they just have to be listable.  The app polls the bucket & github and puts together a quick little report.  Lots of bugs n stuff, but if this is of interest

[2015-04-15 01:47] pmorie commented on #4869
Yep, I have something in the works now, will post later tonight.
On Tue, Apr 14, 2015 at 7:40 PM Victor Marmol <notifications@github.com>
wrote:

[2015-04-15 02:20] bussyjd commented on #6555
@hobti01 @pires This issue is still causing confusion in the guide.

[2015-04-15 02:30] njuicsgz opened #6845 "resource quota update does not take effect until create/delete another ResourceQuota"
## Description
Resource quota update does not take effect until create/delete another ResourceQuota. I am not sure it is an issue or design.

## environment
[code]
## Issue reproduce
[code]

[2015-04-15 02:55] quinton-hoole opened #6846 "portforward test is flaky - fix it"
ok  	github.com/GoogleCloudPlatform/kubernetes/pkg/cloudprovider/aws	1.520s	coverage: 25.5% of statements
I0414 23:19:35.411491   17545 portforward.go:228] Forwarding from 5000 -> 5000
W0414 23:19:35.427217   17545 portforward.go:183] Unable to listen on port {5000 5000}: listen tcp 127.0.0.1:5000: bind: address already in use
I0414 23:19:35.427821   17545 portforward.go:228] Forwarding from 6000

[2015-04-15 02:58] roberthbailey commented on #6605
Your thrown together dashboard looks amazing! I'm looking forward to getting GCE/GKE data ingested as well.

By the way, the dashboard is almost exactly what we were looking for in #4871 (that issue also lists a few other folks that might be interested to contribute e2e results from other cloud providers as well).

[2015-04-15 03:01] quinton-hoole commented on #6846
It looks like the crux is this:

portforward.go:183] Unable to listen on port {5000 5000}: listen tcp 127.0.0.1:5000: bind: address already in use

listen often needs a retry after a recent close, to account for TIME_WAIT state of the port.

http://superuser.com/questions/173535/what-are-close-wait-and-time-wait-states

But that's pure speculation on my part.  We need to repro and fix.

[2015-04-15 03:04] quinton-hoole commented on #6846
http://hea-www.harvard.edu/~fine/Tech/addrinuse.html  is perhaps a better link.

[2015-04-15 03:05] quinton-hoole commented on #6846
I'll have a go at it in the next few days if nobody else picks it up before me.

[2015-04-15 03:15] roberthbailey commented on #6558
I'm working on making the nodes register themselves rather than having the node controller do it for them (see https://github.com/roberthbailey/kubernetes/commit/dcec6159c5f69c9d32edfd435c3d0a1f5d601407 which should turn into a PR later this week). Will that assuage your concerns here?

[2015-04-15 03:20] davidopp commented on #6558
I hadn't looked at your PR. We discussed having Kubelet pull ths information from the cloud provider but thought it might not be a good idea due to (1) requiring Kubelet to understand the details of all the cloud providers, and (2) making very hard to rate limit the calls into the cloud provider.

I could imagine an approach where we still use NodeController to get the node address, but the node s

[2015-04-15 03:39] xiang90 commented on #6559
@timothysc @rrati I cannot follow.

From @ArtfulCoder's comment, there is only one etcd instance in k8s cluster today. How do you expect the client to fail back to other etcd instances? Can you provide more information?

[2015-04-15 03:57] bprashanth commented on #5884
@fgrzadkowski got sidetracked writing benchmarks to prove this isn't going to have a negative impact on perf. I have a pr ready, will upload tomorrow (at least for the pod part, seems like the controller framework still has some kinks that need ironing out).

[2015-04-15 04:10] pmorie opened #6848 "Running kubelet in a container: mounts"
Currently when the kubelet is run in a container, the mounts that the kubelet performs are not visible to the containers in pods because the kubelet runs in its own mount namespace with a private shared-subtree mode.  In order to run the kubelet in a container, we must find a way to have the kubelet perform mounts in the host's mount namespace.

#### How to do the mount

The mount must be performe

[2015-04-15 04:11] pmorie commented on #6848
Note: thanks to @vbatts @eparis @mrunalp @rootfs for their help understanding this topic.

[2015-04-15 04:12] pmorie commented on #4869
Opened #6848 to describe how we could modify the kubelet to allow mounts in the host mount namespace from a containerized kubelet.

[2015-04-15 04:15] pmorie commented on #6848
@thockin @bgrant0607 @smarterclayton @vmarmol @dchen1107 @eparis

[2015-04-15 04:38] thockin commented on #6848
It might work.  Where's the proof-of-concept?

I don't see why you need a MounterFactory - a single injected
mount.Interface should suffice, no?

On Tue, Apr 14, 2015 at 9:15 PM, Paul Morie <notifications@github.com>
wrote:

[2015-04-15 04:41] pmorie commented on #6848
@thockin no POC yet; wanted to get a write-up out there first.

On Wed, Apr 15, 2015 at 12:38 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-04-15 05:06] davidopp commented on #6591
We can leave it open until you have time to investigate, but I'll bump the priority down to P3.

[2015-04-15 05:11] thockin commented on #6848
Didn't mean to be curt.  I really mean "it might work, it's worth investing
time into" :)

Quick test bears fruit:

$ sudo ls -l /proc/1/ns/mnt
lrwxrwxrwx 1 root root 0 Apr 14 22:08 /proc/1/ns/mnt -> mnt:[4026531840]

$ docker run -ti --privileged -v /proc:/realproc busybox ls -l
/proc/1/ns/mnt /realproc/1/ns/mnt
lrwxrwxrwx    1 root     root             0 Apr 15 05:10 /proc/1/ns/mnt ->
mnt:[40265

[2015-04-15 05:40] satnam6502 commented on #4968
Thanks David. No idea off the top of my head how to fix this. I am sure if I hacked away at it enough I could get to the bottom of it :-)

[2015-04-15 05:46] bgrant0607 commented on #6558
Kubelet won't necessarily (and really shouldn't) have the credentials necessary to contact the cloud provider.

I don't remember why HostIP was added to PodStatus, and I would favor removing it, except that it would be a breaking change. You could ask on google-containers@ whether anyone is relying upon it.

HostIP is tricky, as hosts may have multiple addresses, in general, which is why NodeAddre

[2015-04-15 05:48] davidopp commented on #4567
@erictune can you confirm that deprecating kubernetes-ro is needed for v1.0 (as opposed to the other issues you mentioned, and this one being optional for 1.0)?

[2015-04-15 05:49] pmorie commented on #6848
@thockin

time into" :)

Natch :+1:

I did think you were talking about a POC of kubelet running in container with the above changes.  I've done the same test you did:

    $ docker run -it --privileged -v /:/host busybox
    / # ls -l /host/proc/1/ns/
    total 0
    lrwxrwxrwx    1 root     root             0 Apr 15 05:47 ipc -> ipc:[4026531839]
    lrwxrwxrwx    1 root     root             0 Ap

[2015-04-15 06:06] thockin commented on #6848
Well then, the next step is to hack kubelet to do volume mounts through an
nsenter-mount rig, and see if you can get a trivial pod running.

On Tue, Apr 14, 2015 at 10:49 PM, Paul Morie <notifications@github.com>
wrote:

[2015-04-15 06:11] thockin commented on #6804
Can I say that I find signals to be a poor form of signalling?  Can we
offer better signalling by the same mechanisms we use for probes?  HTTP get
and exec in particular.

On Tue, Apr 14, 2015 at 1:36 PM, David Oppenheimer <notifications@github.com

[2015-04-15 06:13] #6626 closed

[2015-04-15 06:14] pmorie commented on #6848
@thockin yep, agree

[2015-04-15 06:20] pmorie commented on #6848
For the record, this also works:

    / # readlink /host/proc/1/ns/mnt
    mnt:[4026531840]

I didn't realize you could `readlink` an ns file in proc before

[2015-04-15 06:25] wojtek-t commented on #6514
It's unclear what exactly is saturating those cores, it could be etcd doing something unrelated. I'm writing benchmarks that isolate list performance.

It's definitely not etcd - it is apiserver (this we already know). And basically the work it is doing is converting data read from etcd (mostly via watches and lists). Note e.g. that a Kubelet is watching pods assigned to it, but the label filterin

[2015-04-15 06:29] onorua commented on #6748
As a workaround I had to remove both etcd and kubernetes clusters, is there any way to get it working without complete system recreation?

[2015-04-15 06:42] bgrant0607 commented on #6514
Yes, we need to optimize label/field selectors: #4817 / #5548

[2015-04-15 06:49] bgrant0607 commented on #6804
@thockin Currently we do both.

[2015-04-15 06:52] bgrant0607 commented on #6841
cc @thockin

[2015-04-15 06:54] roberthbailey commented on #6558
On GCE / AWS do you even need credentials to determine your external IP? I thought you got it from the metadata server running locally without needing to hit an Auth'd API endpoint.

[2015-04-15 07:04] fgrzadkowski commented on #6514
@erictune @bprashanth As @wojtek-t said we pretty sure that it's not etcd that is a bottleneck. Regarding throughput let's take an example:

* 100 node cluster with 30 pods per node gives 3000 pods
* There are ~ default services
* Every 10 seconds endpoints controller lists all pods (with label selector) for each service. This gives 3000 pods * 10 / 10 s = 3000 pods / s

So just to handle endpoint

[2015-04-15 07:06] bgrant0607 commented on #6558
HostIP wasn't the external IP AFAIK. It's not well defined what it is, which is one reason it should be eliminated.

Yes, one should be able to get the host IP from metadata, but the cloudprovider library doesn't currently do that.

[2015-04-15 07:09] davidopp commented on #6804
@bgrant0607 Can you explain? I thought we are just using the Docker mechanism (same as "docker stop") which uses SIGTERM.

[2015-04-15 07:13] fgrzadkowski commented on #6564
@erictune Please see my example in this https://github.com/GoogleCloudPlatform/kubernetes/issues/6514#issuecomment-93226784

@bprashanth I agree that listing is easier for some clients, but:
a) we already have simple libraries that make using watch very easy (watch-based cache)
b) current implementation of label/field selectors is sub-optimal
c) if we control some clients (such as controllers) we

[2015-04-15 07:30] pires commented on #6213
I agree. Could the next step be adding migration docs? Would be very useful
for people that use the CoreOS stuff, for instance.
I for one feel the pain of having my stuff broken pretty much on every
release. Makes it really hard to update getting started guides.
On Apr 15, 2015 02:15, "Timothy St. Clair" <notifications@github.com> wrote:

[2015-04-15 07:47] ixdy commented on #6605
Yeah, this is pretty awesome. I can help looking into ways to get GCE data available as well.

(I can also think of a bunch of useful features I'd like to see added, though this is a great starting place.)

[2015-04-15 08:03] AntonioMeireles opened #6851 "kube-register (on CoreOS) is broken with 0.15.0 RC"
GoogleCloudPlatform/kubernetes#6380 introduced a change where  **/healthz** stoped being found at port 10250 and is now (by default) at port 10248. due to this kube-register now fails. a quick & dirty fix was provided by me to upstream [here](https://github.com/kelseyhightower/kube-register/pull/15) and i'm using it on my own [here](https://github.com/AntonioMeireles/kubernetes-vagrant-coreos-clus

[2015-04-15 08:11] AntonioMeireles opened #6852 "kube2sky not working with etcd versions bigger than 2.0.7"
works perfectly up to 2.0.7. with 2.0.9 all i get is ...
[code]
(same with 2.0.8 other than the version string)

[sorry had no time to debug this further]. tested on k8s 0.15.0 over CoreOS.

cc @pires

[2015-04-15 09:22] BlueShells commented on #6348
@eparis I tried the doc again today ,here is the thing I run into

1(master):Unable to listen for secure (open /var/run/kubernetes/apiserver.crt: no such file or directory); will try again.

I tired "/usr/bin/mkdir /var/run/kubernetes" and "/usr/bin/chown -R kube:kube /var/run/kubernetes/"

2(node):Apr 15 17:17:45 fedora kubelet: E0415 17:17:45.683276    8629 kubelet.go:1729] error updating node s

[2015-04-15 09:46] kelseyhightower commented on #6851
@AntonioMeireles Yeah, I need to migrate kube-register to the new API version.

[2015-04-15 10:11] kelseyhightower commented on #6851
@AntonioMeireles can you retest with this commit on master https://github.com/kelseyhightower/kube-register/commit/3198c4379c1f642b417bc82fad23d129b5e70e37

[2015-04-15 10:24] AntonioMeireles commented on #6851
@kelseyhightower works like a charm! could you push please a new release on your side ... afaict is backwards compatible with current one (as it still defaults to port 10250) and 0.15.x users only will need to add `--healthz-port=10248` to kube-register's startup payload. once that release is live i think this can be closed :-)

[2015-04-15 10:28] kelseyhightower commented on #6851
@AntonioMeireles I think I can push it myself.

[2015-04-15 10:29] AntonioMeireles commented on #6851
ah, great! :smile:

[2015-04-15 10:40] pires commented on #6555
@antoniomeireles is the guy to blame here since I was in favor of a single `etcd` daemon in master and not in minions as well - because of possible race-conditions, etc. I've been calling on him for some time (even in this issue) but he's been busy, it seems. We should probably revert this behavior or get it working, so @antoniomeireles, what's the verdict?

[2015-04-15 10:47] pires commented on #6852
Can't we just re-use the `etcd` used by `apiserver`? Having one `etcd` just for `kube2sky` seems redundant and, as we can see now, error-prone.

[2015-04-15 10:50] AntonioMeireles commented on #6852
@pires - humm. i don't think both issues related. i.e. a private etc-2.0.{8,9} for {kube2sky,skydns} has exact same issue. [anyway and in case i was blind last night i'll double check again later today)

[2015-04-15 11:03] hobti01 commented on #499
@smarterclayton Did a proposal come from this issue?

[2015-04-15 11:06] wojtek-t commented on #6800
@lavalamp
 Do you think that it's worth creating code-generators responsible for type-specific unmarshaling and conversion now? It seems to be a lot of work and it's hard to estimate the exact gains of it.

[2015-04-15 11:14] markturansky commented on #6841
I imagine we would apply this same thing to the PersistentVolumeSource?

Also, probably tangential to this issue, what volumes live in which VolumeSource?  Many new plugins were recently added that should probably only be PersistentVolumes.

The ability to have the volume live in just 1 volume source was just merged yesterday.  The volumes can now be separated as appropriate.

[2015-04-15 11:18] pires commented on #6852
@AntonioMeireles given you **must**  have a working `etcd` for Kubernetes to work, if `kube2sky` reuses it, then this issue would never happen, since it would have been identified sooner.

[2015-04-15 11:20] AntonioMeireles commented on #6852
no. etcd 2.0.{8,9} **generally** works. afaict it's just kube2sky that for some reason is having trouble talking to it (it's specific to kube2sky so far)

[2015-04-15 11:24] smarterclayton commented on #6848
Yeah, when you said Factory I thought (interface?).  It's true Java does unpleasant things to your brain....

[2015-04-15 11:26] AntonioMeireles commented on #6555
(sorry latency)

two approaches. since etcd os masked in the minions/nodes we can either assume that there 's no chance of a node starting before the master is up with flanel setup. in that case the etcdctl invokation is crap and would be scrapped. right now we test in the nodes that etcd is up in te master *but* just that, not if flanneld is already setup (which should happen shortly after but ..

[2015-04-15 11:27] pires commented on #6852
Ah OK. Still, I don't see why one should use a different `etcd` for that.

[2015-04-15 11:28] pires commented on #6555
Yeah, I'd go with #6611 as well for all `node.yaml` that we have around. Thanks for pointing that out.

[2015-04-15 11:29] AntonioMeireles commented on #6852
afaict would happen with any etc > 2.0.7. anyway will make sure of that later :-) regardless of topology.

[2015-04-15 11:50] kelseyhightower commented on #6851
@AntonioMeireles I've cut a new release of kube-register: https://github.com/kelseyhightower/kube-register/releases/tag/v0.0.2

[2015-04-15 11:54] kelseyhightower commented on #6851
@AntonioMeireles Looks like I don't have access to k8s bucket, so many someone else can do the release later.

[2015-04-15 11:58] AntonioMeireles commented on #6851
@kelseyhightower ok. && thanks!!!!!!!!!!!!!!!

[2015-04-15 12:09] kargakis opened #6855 "kubectl update --patch doesn't work as advertised"
https://github.com/openshift/origin/issues/1642

We just wrap update in OpenShift so I guess this issue belongs here.

[2015-04-15 12:13] runseb opened #6856 "Vagrant testing loops foerever"
Hi, when trying the Vagrant environment. The nodes start but the validation of the minion loops forever.
How can I terminate it properly and get a working k8s cluster ?

    $ ./cluster/kube-up.sh
    Starting cluster using provider: vagrant
    ... calling verify-prereqs
    ... calling kube-up
    Using credentials: vagrant:vagrant
    Bringing machine 'master' up with 'virtualbox' provider...

[2015-04-15 12:22] derekwaynecarr commented on #6856
Ctrl-C and then run

$ cluster/kube-push.sh

Which will cause the salt process to re-run and hopefully resolve any issue that flaked the first time.

Sent from my iPhone

[2015-04-15 12:33] runseb commented on #6856
upgrading to vbox 4.3.26 seems to have solved the issue. thanks for the tip

[2015-04-15 12:33] #6856 closed

[2015-04-15 12:39] wojtek-t opened #6858 "Density test is failing in 100-node cluster on cleanup"
In Jenkins scalability suite, Density test is failing on cleanup:

 Expected error:
      <*errors.errorString | 0xc20d27c460>: {
          s: "Error waiting for replication controller my-hostname-density3000-7c8a90c7-e362-11e4-90b1-42010af01555 replicas to reach 0: Get http://127.0.0.1:4001/v2/keys/registry/controllers/default/my-hostname-density3000-7c8a90c7-e362-11e4-90b1-42010af01555?quorum=fa

[2015-04-15 12:51] liggitt opened #6859 "`kubectl delete $TYPE $NAME` does a GET before DELETE"
This code fails if the GET fails, and never tries the DELETE:
[code]

This means if you don't have authorization to `get`, but do have permission to `delete`, you cannot use `kubectl delete`

[2015-04-15 13:14] piosz commented on #6804
Thank you guys for feedback. I'll update the proposal soon.

@davidopp answering to your idea @jsz is working on {auto, manula}-scaling, so he is a good POC.

[2015-04-15 13:25] smarterclayton commented on #499
@liggitt is working on service accounts right now - his plan was to follow that up with being able to pull images with the secrets associated with the service account.

[2015-04-15 13:25] #6524 closed

[2015-04-15 13:30] siddhsuper commented on #5509
Thanks :+1:

[2015-04-15 13:30] timothysc commented on #6559
@xiang90 It's a very easy test.  Setup a cluster similar what @ghodss has decribed.

1. Setup a etcd 3-node cluster
2. Startup the apiserver with proper args for etcd
3. netstat to determine which server the apiserver appears to have chosen
4. kill that etcd server
5. apiserver is now hosed, and it doesn't chose any of the other clients that have been provided to the etcd client.
Toast!

[2015-04-15 13:37] rootfs commented on #6848
the mount helpers are indeed tricky issues. I implemented a POC (aka hack) by intercepting mount(8) call in LD_PRELOAD. You can find the details in my code [here](https://github.com/rootfs/install-glusterfs-on-fc21/blob/master/mymount.c#L35)

[2015-04-15 14:13] wojtek-t commented on #6800
To be clear - I'm happy to work on that, but I want to ensure that we have agreement that it's worth doing now.

[2015-04-15 14:27] mswart opened #6862 "discussion / plan LXC integration"
As discussed in https://groups.google.com/forum/#!topic/google-containers/aWZ0U_SIA6A supporting plain LXC containers (or lmctfy / lxd) requires some or a lot of changes.

I am very interested in managing LXC containers with kubernetes and also implementing this. But I would like to get some hints what needs to be done/how much work this would be:
- What changes are needed/what components need to

[2015-04-15 14:30] wojtek-t commented on #6800
I did some quick experiment and added few dedicated conversion functions for Pod, TypeMeta and  ObjectMeta (to avoid using the reflect package). It seems that just this gives us more than 5% of gain, so I'm pretty sure that having a dedicate conversion functions for all types from api would have a huge impact.
Do you think that adding them makes sense? [I mean adding some code generator that based

[2015-04-15 14:36] wojtek-t commented on #6858
This just happened again on Jenkins.

[2015-04-15 14:48] mfojtik commented on #4789
I have use case where MongoDB 'keyFile' requires to have 0600 permissions, so having a mechanism to set the permissions for the file in secret will be extra useful. For now, the workaround is to copy the 'keyFile' to other location and change the permissions.

[2015-04-15 14:59] vmarmol commented on #6848
Nice hack, I like it!

An alternative to fork/exec-ing `mount`, we can run a process in our Kubelet container/pod (that runs on the root `mnt` namespace) and does the mounting. We'd have the Kubelet talk to it for the mounting operations. Short term it may be more trouble than it's worth, but long term we'd get flexibility and will be more maintainable I think.

[2015-04-15 15:01] pmorie commented on #6848
@vmarmol Yep, this is definitely a short-term hack.
@smarterclayton @thockin This is your brain on java

[2015-04-15 15:13] rimusz opened #6863 "Thank you"
Thanks for the nice project

[2015-04-15 15:32] #6863 closed

[2015-04-15 15:33] piosz commented on #6804
AFAIU the remaining work is:
* handle grace period in kubelet
* add grace period option in Node Controller
* add grace period option to kubectl

Am I right? @smarterclayton are you going to work on it?

[2015-04-15 15:44] vmarmol commented on #6764
+1 on this probably being okay for v1.0.

On the pod worker front, we should definitely fix any issues that cause one pod worker to affect other pod workers. I don't believe we have any of those issues today though. The thread per pod worker model is intended to separate the effects of a slow job and if your job is "difficult" to start you're only hurting yourself.

I think the problem you're obse

[2015-04-15 16:04] smarterclayton commented on #6800
I'm ok with the approach as long as the generation is flexible and well factored (takes a runtime.Scheme with conversion funds and generates code).  I know we have good tests around conversion, so I'm less worried about the impact.

[2015-04-15 16:08] thockin commented on #6863
You're welcome!  Don't tell our bosses, but we're having fun doing it :)

On Wed, Apr 15, 2015 at 8:32 AM, Abhi Shah <notifications@github.com> wrote:

[2015-04-15 16:11] rimusz commented on #6863
@thockin my lips are sealed.
Having fun means better code :)

[2015-04-15 16:12] thockin commented on #6862
The ongoing work to support Rocket should be clearing a lot of the
underbrush for you.  I think the biggest issues are

1) What parts of the API need to be changed/extended/removed to capture an
LXC runtime?
2) What parts of Kubelet " " " " ...

Dawn is overseeing the Rocket work, so I'll let her be more detailed, but
I'd be happy to see LXC support.

On Wed, Apr 15, 2015 at 7:27 AM, Malte Swart <

[2015-04-15 16:15] smarterclayton commented on #6804
* Add grace period to pod API
* add grace period defaults to pod/rest.go

I probably will not be able to start this for another few weeks, but I can advise someone else

[2015-04-15 16:21] bprashanth commented on #6764
SGTM, do with this what you will :)

[2015-04-15 16:25] xiang90 commented on #6559
@timothysc @rrati Replied in the etcd issue.

[2015-04-15 16:57] lavalamp commented on #6672
Please copy me on all HA master PRs.

[2015-04-15 17:08] quinton-hoole commented on #6552
Reassigning to ixdy@ as part of #5670

[2015-04-15 17:09] zmerlynn commented on #6650
Thanks for this bug, @vishh. These volume plugins shouldn't've been added without some e2e testing infrastructure behind it, somewhere, or some sort of effective promissory note (like a "TODO: Remove before 1.0 if no e2e test.")  We don't have the resources to just chase these tests by having issues filed (thank you @jsafrane!!).

[2015-04-15 17:12] quinton-hoole commented on #5846
Resolved by #6847 and #6271.  Closing.

[2015-04-15 17:12] #5846 closed

[2015-04-15 17:16] erictune commented on #6862
@dchen1107

[2015-04-15 17:28] a-robinson commented on #5509
This should be better for all new clusters built from head (or a version >= 0.16.0) now that #6271 is in.

[2015-04-15 17:28] #5509 closed

[2015-04-15 17:38] erictune commented on #6855
User did the openshift equivalent of `kubectl update node $NODENAME --patch=`cat patch.json`
and got this unhelpful error:
`F0408 12:23:02.342063    3568 update.go:52] Error: Must provide resource and name command line params`

[2015-04-15 17:40] erictune commented on #6852
@thockin for DNS

[2015-04-15 17:45] lavalamp commented on #6558
I'm also in favor of removing HostIP from *pods*. But I don't agree with the reason in the OP (that sometimes it'll be blank when kubelet hasn't heard from apiserver)-- I think that's par for the course.

[2015-04-15 17:47] erictune commented on #6852
Marking this P3 because if you use the kube2sky pod that is provided with kubernetes releases, it will pull 2.0.3.

The intent with kube2sky (and with the apiserver) was that their use of etcd is an internal implementation detail -- they might change at some later time to use another storage backend).

So, if you are having apiserver and/or kube2sky talk to the same etcds as fleet uses, then you a

[2015-04-15 17:51] thockin commented on #6852
@pires etcd for the apiserver is an implementation detail.  etcd for kube2sky is an implementation detail.  Just because they both happen to use the same piece of infrastructure in their implementation does not mean they should be coupled.

[2015-04-15 17:53] lavalamp commented on #6800
@wojtek-t Yes, I think it's worth doing. It is going to be a bit tricky to do correctly, though-- the caveat in your update isn't going to fly :) We can chat if you want to discuss some approaches to this. I think you may need to write a program that parses pkg/api/ and pkg/api/v1betaX, and outputs reflection-free code that does all the things in v1betaX/conversion.go. But there may be a few steps

[2015-04-15 17:54] thockin commented on #6852
@AntonioMeireles you launched your own kube2sky pod for this, I guess?  Can you explain "afaict would happen with any etc > 2.0.7"? Did something change in etcd?

[2015-04-15 18:18] yujuhong commented on #6764
I think I've mistaken how pod worker worked. Each pod worker has a update channel of capacity one, but kubelet would not send any update if the pod worker is busy. Basically it would ignore/discard any incoming updates (with an extra buffer of one). That's why the syncing process would not be slowed down by a slow pod worker.

For v1.0, if we want to improve the bottleneck of deleting unwanted pod

[2015-04-15 18:20] vmarmol commented on #6764
Simple parallelization SGTM

[2015-04-15 18:23] bgrant0607 commented on #6804
We need to discuss/design what semantics we want before we run off building anything.

Apparently, the PreStop hook was never implemented. We should either decide we want to support it, or delete it from the API. It's been in the API since August.

[2015-04-15 18:33] erictune commented on #6800
5% improvement doesn't seem like much.  If you expand this to all (less common) types, do you expect like 10% or 15%?  That still seems quite low for the added complexity.

[2015-04-15 18:35] wojtek-t commented on #6800
I expect this to be 40% (this is just some guess, but definitely more than 10-15%)

[2015-04-15 19:44] pires commented on #6852
@erictune @thockin thanks for clarifying. So, nothing stops me from reusing the same `etcd`.

[2015-04-15 19:48] timothysc commented on #6800
@wojtek-t how should we validate "goodness", compare /metrics ?

[2015-04-15 19:54] davidopp commented on #6753
It would be good to collect and archive this data on, say, a weekly basis so we can chart our performance/scalability progress over time. (This was originally suggested by @brendandburns).  For a historical retrospective perspective, I think we'd be interested latency of some common operations (time to start running one pod in isolation, total time to start running N pods, time to list all pods wh

[2015-04-15 19:59] smarterclayton commented on #6800
In this case I'd accept an encode decode benchmark showing a few thousand cycles, as well as a demonstrated reduction in allocations (number and bytes).

[2015-04-15 20:15] liggitt commented on #3030
Not having the kind on each item in the list makes it difficult to write a UI to generically describe objects (the `kind` attr is required input for something like https://github.com/kubernetes-ui/object-describer/blob/master/object-describer.js#L42-L53)

[2015-04-15 20:15] liggitt commented on #3030
@jwforres fyi

[2015-04-15 20:28] davidopp commented on #6672
Me too. :)

[2015-04-15 20:39] eparis commented on #6348
1) I don't have any idea. systemd will create that directory before it starts...
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/init/systemd/tmpfiles.d/kubernetes.conf

2) do oyu have mismatched versions between your master and nodes? can you show me the kubectl get node from the master and the journalctl -b -u kubelet ?

[2015-04-15 20:42] mattf commented on #6348
fyi, (1) is a red herring

[2015-04-15 20:47] piosz commented on #6804
@smarterclayton I'm happy to work on that

@bgrant0607 definitely yes. I'll create a proposal and then set up a VC with you

[2015-04-15 21:02] sandric commented on #2303
@jbeda, is it implemented/in process? I mean master/minion combined installation? I just didn't see it in the ones @roberthbailey separated this monstruosed issue to, can you point me to discussion? thx.

[2015-04-15 21:07] zmerlynn commented on #4596
cc @mbforbes

And the script is sitting in https://github.com/GoogleCloudPlatform/kubernetes/compare/master...zmerlynn:sharded-e2e

[2015-04-15 21:11] vishh commented on #6848
:+1:

[2015-04-15 21:11] quinton-hoole commented on #6672
cc: quinton-hoole

[2015-04-15 21:18] yichengq commented on #6734
@erimatnor @ArtfulCoder any preference?

[2015-04-15 21:21] eparis commented on #6848
I would say that getting mount to live in a container, but be able to mount things on the host, would be the holy grail here.

So, for example, you could have a container with /usr/sbin/mount.glusterfs instead of it needing to live in the root filesystem as is required today (or with this hack).

I'm not arguing against this hack, but more progress in line with what @rootfs is talking about could

[2015-04-15 21:23] pmorie commented on #6848
agree re: holy grail @eparis

[2015-04-15 21:25] timothysc commented on #6800
I also think gating e2e on this would be good, as to detect performance regressions.

[2015-04-15 21:27] thockin commented on #6848
The downside to putting mount.glusterfs into a container is that container
now needs to track some upstream source for updates

On Wed, Apr 15, 2015 at 2:24 PM, Paul Morie <notifications@github.com>
wrote:

[2015-04-15 21:29] eparis commented on #6848
but isn't updating such a container easier than updating binaries in your host/vm (which also have to track some upstream source)?

[2015-04-15 21:32] jcantrill opened #6876 "Version of status kind is incorrect for the requested api version"
While retrieving a resource from a specific versioned endpoint (e.g. v1beta1) received a status with a version that is not expected.  Would expect to receive a v1beta1 status kind which breaks our OpenShift Eclipse tooling
[code]

[2015-04-15 21:32] eparis commented on #6848
also, if this is something like fuse, where you must have a daemon running for the mount to function, wouldn't it be nice if that daemon was in a container, rather than running on the host itself?

[2015-04-15 21:37] vmarmol commented on #6848
The host mount namespace should have access to the container's filesystem. Kinda dirty (break out of container's mount, find the container, use that FS for some things), but possible. It'd save us from depending on the host's.

[2015-04-15 21:54] quinton-hoole commented on #6399
We're seeing this again intermittently in Jenkins, e.g:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/4704/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/4705/

PD should schedule a pod w/ a RW PD, remove it, then schedule it on another host

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/pd.

[2015-04-15 22:16] bgrant0607 commented on #2303
@sandric Check out:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md

[2015-04-15 22:18] bprashanth commented on #6753
I'm writing some of the more isolated bechmarks. They're runnable via go test -bench=. and you can specify all the normal go things (like -cpu, parallelism etc) and go will just take care of handing your tests different values and stopping at the point they've run for long enough. They run against a single instance master/etcd started just like we start it in the integration tests. I currently hav

[2015-04-15 22:21] bgrant0607 commented on #3030
PR to set the kind and apiversion would be welcome. Sort of related: #3000, #6439

[2015-04-15 22:28] lavalamp opened #6877 "Endpoint controller never deletes an endpoint"
So we'll leak them and/or reuse them perhaps inappropriately. I imagine this could be pretty hard on kube-proxy after a while.

Discovered while working on #6518. @bgrant0607 was suggesting implementing a generic delete-when-parent-is-deleted mechanism, so I may not try to fix this 100% with my current work on #6518.

[2015-04-15 22:31] bgrant0607 commented on #6841
@markturansky Yes, the same thing applies to PersistentVolumeSource.

We need the persistent volume API to be fully operational and get experience with it before we deprecate the direct volume sources.

[2015-04-15 22:33] you-n-g commented on #4259
Hi
Could you tell me how many slots have been allocated to k8s  in gsoc 2015? I'm really concerned about it.

[2015-04-15 22:34] quinton-hoole opened #6878 "Integration test TestRequestExecuteRemoteCommand is flaky - fix it"
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/58489351

--- FAIL: TestRequestExecuteRemoteCommand (0.01s)
	remotecommand_test.go:207: 1: expected true, got false: <nil>
FAIL
coverage: 81.6% of statements
FAIL	github.com/GoogleCloudPlatform/kubernetes/pkg/client/remotecommand	0.173s

[2015-04-15 22:35] thockin commented on #6841
What denotes them as required?  In reality they are "one of"

On Wed, Apr 15, 2015 at 3:31 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-15 22:38] bgrant0607 commented on #6213
FYI: I just created a release-note label for PRs making user/admin-visible changes that should be mentioned in the release notes:
https://github.com/GoogleCloudPlatform/kubernetes/labels/release-note

[2015-04-15 22:39] bgrant0607 commented on #4259
@you-n-g We'll be selecting projects next week. It's true that we have more proposals than slots (and mentors).

[2015-04-15 22:40] thockin commented on #6848
source)

yeah, but that is Someone Else's Problem :)

On Wed, Apr 15, 2015 at 2:29 PM, Eric Paris <notifications@github.com>
wrote:

[2015-04-15 22:41] bgrant0607 commented on #6841
Lack of "omitempty".

We don't have "one of".

[2015-04-15 22:42] bgrant0607 commented on #6877
Generic mechanism proposal was here: https://github.com/GoogleCloudPlatform/kubernetes/issues/1535#issuecomment-91413501

[2015-04-15 22:42] thockin commented on #6848
running for the mount to function, wouldn't it be nice if that daemon was
in a container, rather than running on the host itself?

Well, yes, of course, but I am not sure I see the connection.  Maybe I
misunderstood your point?  I assumed you meant that
mount.{ext{2,3,4},xfs,glusterfs,ceph,nfs} would be bundled into the kubelet
container.  Is that not what you meant?

On Wed, Apr 15, 2015 at 2:33

[2015-04-15 22:43] pires commented on #6851
Somehow `kubelet` is not actually using the flags:
* `--healthz_bind_address`, and
* `--healthz_port`

`kubelet` logs with provided flags
[code]

`netstat` results
[code]

[2015-04-15 22:43] thockin commented on #6841
I know we don't have one-of, I was just saying.  But yes, these could all
be omitempty

On Wed, Apr 15, 2015 at 3:41 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-15 22:46] bgrant0607 commented on #6804
FYI, unschedulable was added in PR #4585.

[2015-04-15 22:54] thockin commented on #6852
Nothing stops you as long as that etcd is exposed enough for you to use.

On Wed, Apr 15, 2015 at 12:45 PM, Paulo Pires <notifications@github.com>
wrote:

[2015-04-15 23:05] derekwaynecarr commented on #1535
@bgrant0607 interesting proposal.  Do you agree the parent-child relationship inferred by Namespace -> Pod,etc is too complex to follow this strategy?

[2015-04-15 23:10] posita commented on #2741
@jameskyle Congratulations on your :baby:! I wanted support for Parallels, and thought I'd bang out both at the same time. I didn't see any branches addressing this issue in [jameskyle/kubernetes](/jameskyle/kubernetes), but I hope I didn't step on any toes. Check out PR #6879. I don't have VMWare, so perhaps you can help me test that part?

[2015-04-15 23:10] bgrant0607 commented on #1535
@derekwaynecarr Yes, I wouldn't convert namespaces to use such a strategy.

[2015-04-15 23:12] antoineco opened #6880 "'minion_regexp' flag makes controller-manager crash"
Since v0.15.0, passing a non-empty `--minion_regexp` flag to kube-controller-manager makes it fail on CoreOS with the following stack trace:

[code]

[2015-04-15 23:20] erictune commented on #6880
crash is in AWS cloud provider.
@justinsb you touched this last.  Wanna take a look?

[2015-04-15 23:20] erictune commented on #6880
low prio since workaround is to stop passing that flag.

[2015-04-15 23:26] erictune commented on #6876
@smarterclayton @bgrant0607 @lavalamp

[2015-04-15 23:28] antoineco commented on #6880
I just tried using the GCE provider and also get a runtime error: https://gist.github.com/antoineco/bd1bc5c2efaa015ea700

[2015-04-15 23:36] quinton-hoole commented on #6828
jayunit, could you add a bit more detail here?  Assigning priority 3 in the mean time.

[2015-04-15 23:38] derekwaynecarr commented on #6828
I too would like to know the approach. We should validate requires and limits in resource requirements.

Sent from my iPhone

[2015-04-15 23:41] quinton-hoole opened #6882 "Shippable tests are flaky - make them awesomer"
Issue to consolidate everything related to flaky tests in Shippable, and get it fixed.

[2015-04-15 23:42] bgrant0607 commented on #6876
That is certainly a bug. errToAPIStatus produces an object in the internal representation, which is then passed to writeJSON, without specifying a version. Instead, it uses the default version, which we just changed to v1beta3.

cc @nikhiljindal

[2015-04-15 23:42] quinton-hoole commented on #6882
In the past 24 hours, more than 50% of shippable builds failed.

[2015-04-15 23:43] quinton-hoole commented on #6882
#4626 seems to be one cause.

[2015-04-15 23:53] quinton-hoole commented on #6828
@jayunit100 to get his attention, as I mistyped it above ;-)

[2015-04-16 00:01] quinton-hoole commented on #6882
https://app.shippable.com/builds/552ee2ae16a6430b0044ef03

E0415 22:24:06.123334    5072 factory.go:276] Error scheduling default phantom.baz: failed to find fit for pod: {{ } {phantom.baz  default /api/v1beta1/pods/phantom.baz?namespace=default 16036e61-e3be-11e4-ae96-0242ac111909 303 2015-04-15 22:23:48 +0000 UTC <nil> map[] map[]} {[] [{c1 kubernetes/pause [] []  [{ 9999 1234 TCP }] [] {map[] m

[2015-04-16 00:02] justinsb commented on #6605
Thanks for the encouragement!  I am hoping that I can open-source this and open up the repo for issue tracking real-soon-now.  In the meantime, feel free to suggest features!

If we're able to upload GCE/GKE test data onto S3 or anything that can be set to allow listing, I can probably scrape it easily.  Here's the public S3 bucket where I'm uploading the data: http://public-kubernetes-meteor.s3.a

[2015-04-16 00:03] derekwaynecarr commented on #6605
Sub

Sent from my iPhone

[2015-04-16 00:05] quinton-hoole commented on #6882
Of course Shippable rebuilds every time a PR in GitHub is updated (including comments, not just commits), so many of the failed Shippable build failures are entirely valid.

[2015-04-16 00:15] eparis commented on #6848
I'm suggesting a completely separate mount_guster container, which the kubelet could use to get a gusterfs mounted on the host (which docker can then put into another unrelated container). Now both the host and the kubelet container can be completely ignorant of gluster. It also wouldn't then matter if the kubelet was in a container or not, since the thing doing the mount would always be in a cont

[2015-04-16 00:17] quinton-hoole commented on #6882
--- FAIL: TestAliceNotForbiddenOrUnauthorized (0.47s)
	auth_test.go:648: case {OPTIONS /api/v1beta1/pods  map[405:true]}
	auth_test.go:649: Expected status one of map[405:true], but got 200
	auth_test.go:650: Body: {
		  "kind": "Status",
		  "apiVersion": "v1beta3",
		  "metadata": {},
		  "status": "Failure",
		  "message": "the server does not allow this method on the requested resource",
		  "

[2015-04-16 00:24] lavalamp opened #6884 "Scheduler treats services with no selector as matching every pod"
(What it actually means is that they have user-provided endpoints and should match no pods.)

GetPodServices in cache/listers.go is untested and gets this wrong. Noticed while working on #6518.

The severity of this bug is low, it just means scheduler will attempt to spread all pods.

[2015-04-16 00:26] lavalamp commented on #6518
OK I have this mostly working but still need to clean it up/fix tests/fix some other bugs I found.

[2015-04-16 00:30] quinton-hoole commented on #6882
https://app.shippable.com/builds/552ed79616a6430b0044ee33

W0415 22:18:35.553867   22480 config.go:367] Pod[1] (foo.<empty-namespace>) from test failed validation, ignoring: metadata.namespace: required value
E0415 22:18:35.582210   22480 event.go:240] Could not construct reference to: '&api.Pod{TypeMeta:api.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"foo", GenerateName:"", N

[2015-04-16 00:34] davidopp commented on #6363
Another example of the kind of thing that is difficult/impossible to do because of the requirement that inter-component communication must be via API objects: batching object mutations from clients (scheduler, kubelet, controller manager, etc.) to the API server into a single message. @yujuhong pointed out that today if 30 pods start at the same time on the same kubelet, we do 30 Pod writes. There

[2015-04-16 00:38] bgrant0607 commented on #1990
I think etcd errors require more abstraction, also:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/errors/etcd/etcd.go#L37

[2015-04-16 00:40] derekwaynecarr commented on #1990
There are some admission control plugins that did not always follow that practice which I will resolve as part of #6830

[2015-04-16 00:51] smarterclayton commented on #6363
Why is that a problem?

POST /pods {"kind": "PodList"}

Done.

[2015-04-16 00:51] bgrant0607 commented on #108
Agree.

[2015-04-16 00:51] #108 closed

[2015-04-16 00:53] derekwaynecarr commented on #6363
Assuming it made no transactional commitment, sure, but I think if we start supporting a post of a list, we need a sensible way to give errors if some items in that list fail.

Sent from my iPhone

[2015-04-16 00:53] derekwaynecarr commented on #6363
Or we can do that when etcd has multi object tx support.

Sent from my iPhone

[2015-04-16 00:57] quinton-hoole commented on #6882
E0415 22:12:47.287433    5023 kubelet.go:1309] Failed creating a mirror pod "static-pod-from-spec-localhost_default": pods "static-pod-from-spec-localhost" already exists

[2015-04-16 00:59] derekwaynecarr commented on #4789
For my use case requiring multiple directories, we have a work around, but I am not sure that would be possible for all other situations.  Sometimes it would be useful to have a tar as a secret value and I can ask it to be expanded prior to giving it to my container?

[2015-04-16 01:17] derekwaynecarr commented on #6856
Note to self and check my vagrant version

[2015-04-16 01:27] justinsb commented on #6880
Weird.  I had a look but didn't immediately see a problem.  I will look again in more detail tomorrow.  (I did spot a bug I introduced where if you passed --minion_regexp=' it would probably crash, but I don't think that is what is happening here!)

The GCE report is also weird.  I think 0.15 introduced containerizing the kube-controller-manager.  I wonder if CoreOS blocks access from containers t

[2015-04-16 01:40] smarterclayton commented on #6363
We have that with causes :). Already thought about it.

[2015-04-16 01:43] derekwaynecarr commented on #6845
I am 99% sure that the issue is the update is changing the Spec and the Kubectl client is showing the Status.  The Status will update at the next quota sync interval to align with the desired Spec.  Can you describe what KUBERNETES environment you are using so I can verify?  In particular, how is kube-controller-manager started?

You can confirm this by doing

kubectl get quota -o json

And you sh

[2015-04-16 01:44] derekwaynecarr commented on #6363
Need to review that I guess.  Where are we posting LIST resources today so I can reference?

Sent from my iPhone

[2015-04-16 01:57] smarterclayton commented on #6363
Nowhere.  The principle is sound though.  We can also expose bulk endpoints if need be when the time comes.

[2015-04-16 02:00] smarterclayton commented on #6848
Makes sense.  I wish we had per node pod controller.....

[2015-04-16 02:31] pmorie commented on #6848
@erictune @thockin @smarterclayton @eparis @vmarmol

One thing I ran into today is that the NFS plugin uses its own mounter abstraction with a different API that calls mount in a shell instead of making the syscall.  I'm factoring that into its own mounter implementation that conforms to the interface, but it got me thinking (and I think the discussion here headed in the same direction) about the

[2015-04-16 02:33] pmorie commented on #6848
Addendum: all of the strategies we've discussed in this issue so far imo would be implementable behind `mount.Interface`.  Anyone disagree?

[2015-04-16 02:39] a-robinson opened #6887 "Apiserver's metrics page missing process-related metrics since 0.14"
In 0.13.2, the apiserver has automatically exposed metrics about the process, like start time, memory usage, processor usage, etc. This stopped working sometime between then and when 0.14.0 was cut. They're still correctly exported from the kubelet, interestingly enough.

An e2e or integration test is also needed to catch this if it happens again.

[2015-04-16 02:40] BlueShells opened #6888 "No such image: gcr.io/google_containers/redis"
I run followed "https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md"

but after I run "kubectl create -f examples/guestbook/redis-master-controller.json"

redis-master-controller-e0zho             redis-master   gcr.io/google_containers/redis   fed-node/   app=redis,name=redis-master   Pending   6 minutes

it is always pending ,and I checked the log on the no

[2015-04-16 02:43] derekwaynecarr commented on #4640
Since we are now running kube-apiserver and other master components in a pod, will it be possible via some quick shortcut to go directly to the kubelet to read failed kube-apiserver logs when the kube-apiserver itself fails to start?

----- Original Message -----
From: "Dawn Chen" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <deca

[2015-04-16 02:51] bussyjd commented on #6555
@pires @AntonioMeireles
Extented to aws/cloud-configs/node.yaml https://github.com/GoogleCloudPlatform/kubernetes/pull/6890

[2015-04-16 02:55] BlueShells commented on #6888
it seems that I can't ping gcr.io,How can solve this problem?

[2015-04-16 03:03] pmorie commented on #6848
@smarterclayton

Why can't we have it? We deserve nice things!

[2015-04-16 03:21] roberthbailey commented on #6213
Thanks @bgrant0607. Consistent use of that label will make generating release notes significantly easier going forward.

[2015-04-16 03:36] huangqg opened #6893 "the container data lost when restart k8s cluster env"
hi,
I meet some questions when use kubernetes cluster, please kindly help me if you know the reason.
1.The pod container's data lost when restart k8s cluster, I find replicatorController will create a new pod other than restart the pod container when start the cluster. I set the "restartPolicy" for replicatorController, but failed.

2.how to link containers in k8s? define a service for the pods? i

[2015-04-16 04:13] thockin commented on #6893
On Wed, Apr 15, 2015 at 8:36 PM, huangqg <notifications@github.com> wrote:

What do you mean restart the cluster?

Links are either containers in a pod or services.  It is different
than plain Docker - this is better :).  Containers in a pod are
tightly coupled and always deployed together.  Services allow for
many-to-one relationships.

[2015-04-16 04:16] thockin commented on #6848
There's already a PR open for mount.Interface() in terms of exec

On Wed, Apr 15, 2015 at 8:04 PM, Paul Morie <notifications@github.com>
wrote:

[2015-04-16 04:18] roberthbailey commented on #6753
/cc me

[2015-04-16 04:21] roberthbailey commented on #3339
@dchen1107 I think we've been trying to move away from :latest tag piecemeal so I wonder how much there is left to do here.

[2015-04-16 04:22] roberthbailey commented on #4007
I think I started working on this in #6618 so might as well assign it to myself.

[2015-04-16 04:25] thockin opened #6895 "Rename PodSpec.Host to PodSpec.NodeName"
It's minor, but now that I see it, I can't unsee it.

@bgrant0607

[2015-04-16 04:47] #6502 closed

[2015-04-16 05:37] huangqg commented on #6893
1. I mean I shut down the machine, then start it again, the pod will create a new container, not just start the existing one,  so the data will be lost. how to keep replicatorController/pod using the existing container in docker?  does "restartPolicy" helps?

[2015-04-16 05:55] thockin commented on #6893
Got it.  When a machine goes down the pod should be scheduled somewhere
else in the cluster.  The old machine is dead - how is the data going to
survive?  We don't store everything on a distributed filesystem, by
default.  More than that, though, what you are seeing is part of the
kubernetes semantic.  A pod starts, runs, and dies.  It is not reborn
somewhere else.  If a pod dies, the replication

[2015-04-16 06:00] thockin commented on #6893
If you do a reboot fast enough, you should see the pod restart on the same machine with volume data surviving (except tmpfs) but the per-container "writeable layer" would be gone.

If anything I think this might be a bug.

@dchen1107 specifically, when a machine is running pod P, then reboots, then still finds pod P is assigned to it, it will also see that it has volumes for P.  But not all volume

[2015-04-16 06:05] thockin commented on #6893
For example, make /var/lib/kubelet/pods/ be a tmpfs that holds symlinks to real dirs.  That way, when the machine reboots, the symlinks are lost, and kubelet can GC at startup.

/var/lib/kubelet/pods/xyz123 -> /var/lib/kubelet/pod-dirs/xyz123

or better make them bind mounts, so you can just do this at kubelet start:

[code]

Or you could be smarter and safer, but you get the idea. If you don't ge

[2015-04-16 06:18] wojtek-t commented on #6800
@timothysc : I agree with @smarterclayton - I think the easiest way is to have some decoding/conversion benchmarks (the pkg/api/serialization_test.go is pretty good one). But exposing it in /metrics also sounds like a good idea.

[2015-04-16 06:31] huangqg commented on #6893
thanks thockin, per my understanding, using the persistentVolumes will keep the data if reboot. and the k8s mechanism is: always create new pod and container by replicatorController after reboot.

Ps: thus coming another question, does k8s can collect and remove the dead containers(the garbage) now.

thanks much.

[2015-04-16 06:42] thockin commented on #6893
Persistent volumes will actually survive machine outages - they are
explicitly designed to be durable :)

Yes, we do garbage collect old containers on disk.

On Wed, Apr 15, 2015 at 11:32 PM, huangqg <notifications@github.com> wrote:

[2015-04-16 07:35] wojtek-t opened #6898 "Create a test to verify that nothing will be scheduled on "Unschedulable" nodes"
This was broken by #6717 and then (hopefully) fixed by #6857.
But we need a test for it.

cc @lavalamp @davidopp

[2015-04-16 07:44] njuicsgz commented on #6845
Sure to append config of kube-controller-manager:
[code]
Tried the cmd, the spec updated as you said, however, the status refuse to take effect after more than 5 mins. I am not sure if it is caused by my version v0.13.2.

[2015-04-16 07:46] AntonioMeireles commented on #6851
@pires - something on your local setup, i suppose. here things behave as i *suppose* them should, afaict :

[code]
(@pires - i'll be on office, this morning, ~2hrs from now. can help you debug it then)

[2015-04-16 08:31] #6858 closed

[2015-04-16 09:51] pires commented on #6851
So, @AntonioMeireles I have no errors with my `kubelet` execution, still..

[code]

So weird!

[2015-04-16 10:01] pires commented on #6851
I spot one difference in the memory usage. Yours is high (30-40MB) while mine is very low (2-4MB). Same binary version (0.15.0) and flags.

[2015-04-16 10:07] wkevils opened #6900 "The provider 'libvirt' could not be found,"
Hi all,

I am following "Getting started with Vagrant" directions in:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md

I am running on Fedora 21, where the following vagrant rpm is installed: vagrant-1.7.2-3.fc21.1.noarch
I installed Virtual Box on this machine, as required.

When I run
export KUBERNETES_PROVIDER=vagrant
and
curl -sS https://get

[2015-04-16 11:18] wangxin201492 opened #6903 "kube-proxy makes pods slow?"
I start a pod at minionA ,and the kube-proxy listen it on 60578.
when i visit minionA:60578 in chrome .it costs almost 1s.

and when i visit podIP:80 in chrome .it costs only 40ms maybe.

Does kube-proxy spend more performance,and make webserver slow?

[2015-04-16 11:31] abonas opened #6904 "Is there a way to validate the container's "env" section matches the image requirements?"
Each container definition in a pod might have an "env" section for env variables.
Is there some way to validate on pod creation that the env variables defined are actually the ones required by that image?
there might be a typo, or a missing env which can cause the image to fail starting.

related to:
https://github.com/openshift/origin/pull/1761

[2015-04-16 12:32] hobti01 commented on #6656
I anticipate this will be solved by this: https://github.com/GoogleCloudPlatform/kubernetes/pull/6123

[2015-04-16 12:32] alpe opened #6905 "New github labels"
Levels like beginner, advanced, expert, etc would make it easier to pick the right issues to contribute. This would work well with the `status/help-wanted` label.

[2015-04-16 13:22] justinsb commented on #6880
On second thoughts, I don't think we did containerize in 0.15.  So scratch that idea.

@antoineco: is there anything else in the log file?  I've looked at the code a bunch of different ways, and can't spot the problem.  I'm not entirely sure how to read golang stack trace arguments, but it looks like the "this" pointer to List is nil in both cases.  But that doesn't make a whole lot of sense.  I'm

[2015-04-16 13:24] nkwangleiGIT commented on #6893
Hi thockin,
About the statement "If you do a reboot fast enough, you should see the pod restart on the same machine with volume data surviving", how do we define 'fast enough" here for k8s, seconds, minutes or hours? :)
And if the pod P was already created on other machines before the dead machine can recover it, how k8s will handle this case?
Anything else you can suggest to keep the data volume

[2015-04-16 13:34] antoineco commented on #6880
Yeah I'm also surprised, the exact same binary works just fine on Ubuntu
using the same flags. Seems to be a platform specific issue, I guess my
best bet is to try an older CoreOS version.

Regarding the logs, unfortunately that's all I have, the error pops out
immediately (CoreOS 647, btw)

[2015-04-16 13:44] jwforres opened #6908 "Add port annotations to know what protocols a port will support for pods, maybe services"
There are several use cases where knowing what protocols a port on a container in a pod actually supports would affect information presented to end users.

Ex 1:
I have a container in a pod exposing port 8080, do we show a clickable link in the GUI?  Right now we have to assume it exposes http(s) and always show the link, or never show a link.  If the port was annotated to say that it supported ht

[2015-04-16 13:44] jwforres commented on #6908
CC @danmcp @smarterclayton

[2015-04-16 13:46] smarterclayton commented on #6908
It gets complicated very fast to define a "protocol" language other than by convention.  Some things that we've considered in the past

Most people want to know whether a port is HTTP or HTTPS, and some people want to know whether that supports web sockets (or should support web sockets).  A few people want to know whether a port is mysql, and some want to know whether it's really mysql+tls.  A lo

[2015-04-16 14:04] wojtek-t commented on #6563
Fixed by #6717 and  #6857

[2015-04-16 14:04] #6563 closed

[2015-04-16 14:22] justinsb opened #6910 "kube-proxy: use sysctl route_localnet to simplify logic"
FAO @thockin (and any other networking gurus)

Currently kube-proxy normally listens on 0.0.0.0 or on the eth0 IP, which causes potential problems with port conflicts when using externally accessible services vs internal kube-proxy services.

It would be great if we could listen on 127.0.0.1, but this doesn't work:
https://github.com/GoogleCloudPlatform/kubernetes/blob/96bcb56f1065bfcba5ce42c3fa72

[2015-04-16 14:29] erictune commented on #6888
When I run `ping gcr.io` on my desktop (non-kubernetes-node) machine, I get a response.  If you don't then you would need to figure out why -- I doubt I could help with that.  If you can ping it from your desktop, but not from the kubernetes node, then I may be able to help debug.

[2015-04-16 14:32] pmorie commented on #6848
@thockin thanks for the heads up, I like the nascent interface in https://github.com/GoogleCloudPlatform/kubernetes/pull/6400 better; I would love for this PR to go in on top of that.

So, that said, I'm not going to try to rework all the volume stuff now -- just get the basic volumes working in a container.  Once #6400 goes in, I'll rebase on top of it and pick up the new interface.

[2015-04-16 15:05] jdavidmitchell opened #6912 "Ubuntu 14.04 make release (error)"
I downloaded the most recent code from github, and I executed "make release".  The build failed.

It failed on "docker save ${docker_image_tag} > ${1}/${binary_name}.tar" (build/common.sh:621)

# docker info
Containers: 2
Images: 42
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Dirs: 46
Execution Driver: native-0.2
Kernel Version: 3.16.0-30-generic
WARNING: No swap limit support

# make re

[2015-04-16 15:38] rjammala opened #6913 "Build fails with development version of go"
kubernetes]$ make
hack/build-go.sh

Detected go version: go version devel +122384e Wed Mar 4 20:55:55 2015 +0000 linux/amd64.Kubernetes requires go version 1.2 or greater.Please install Go version 1.2 or later.

!!! Error in /home/rjammalamadaka/kubernetes/hack/lib/golang.sh:359
  'kube::golang::build_binaries "$@"' exited with status 2
Call stack:
  1: /home/rjammalamadaka/kubernetes/hack/lib/gol

[2015-04-16 15:45] #1512 closed

[2015-04-16 15:47] timothysc commented on #4866
Closing now post https://github.com/GoogleCloudPlatform/kubernetes/pull/6635 .

Limits on the clients are listed and we have updated defaults a while back on system.unit files.

[2015-04-16 15:47] #4866 closed

[2015-04-16 15:55] thockin opened #6914 "Urgent: update all our examples to use "official" docker images"
the dockerfile/redis and dockerfile/nginx images no longer exist!  Our examples are broken.

http://blog.docker.com/2015/03/updates-available-to-popular-repos-update-your-images/

[2015-04-16 16:02] pmorie opened #6915 "Secret volume plugin should be idempotent"
The secret volume plugin should be idempotent and currently is not.  My suggestion for making it so is to hash the map of secret data and write the hash into the volume in something like `.secret_hash` (which will need to be a reserved value for a key in secret data).  The plugin can perform the hash, read the value from disk, and compare.  If the hashes differ, update the data on disk.

Any thoug

[2015-04-16 16:14] bgrant0607 commented on #1743
@smarterclayton's description makes sense to me. As for winding down old RCs and keeping them gone, that just sounds like a standard watch-based reconciliation loop.

After playing with it a bit, I also prefer specifying the template(ref) in the spec rather than a RC.

I'd add another field to indicate the label key to use for RC versioning, to maintain user control over labels. We could default i

[2015-04-16 16:16] erictune commented on #6915
When would kubelet try to mount a volume twice?

[2015-04-16 16:23] bgrant0607 commented on #1629
After further thought, I'm thinking we should call this `/scale`, and rename `kubectl resize` to `kubectl scale`, in order to match standard terminology (auto-scaling), to distinguish from cpu/memory resizing/auto-sizing, and to be more similar to other systems (e.g., [CF](http://docs.cloudfoundry.org/devguide/deploy-apps/cf-scale.html)).

[2015-04-16 16:26] pmorie commented on #6915
@erictune Every time `syncPod` runs

[2015-04-16 16:46] bgrant0607 commented on #1535
While automation often wants to orphan pods of a replication controller, users seldom do. Another example of this: https://groups.google.com/forum/#!topic/google-containers/kEbZP_y1s3o. So, I think we do need to change the default delete behavior.

[2015-04-16 16:52] zmerlynn commented on #6912
This is a little disturbing, because you're building in the same docker containers I am, in theory, and getting different results. Looking, since I added the code.

[2015-04-16 16:54] smarterclayton commented on #1743
Agree.

[2015-04-16 17:05] zmerlynn commented on #6912
I'm having trouble telling from first principals what's going on with your build. We do actually `mkdir -p ${docker_build_path}`, which encompasses `${1}` in the process. It actually seems to be the `docker save` itself that's failing. What version of docker are you trying this with? That could be the divergence.

[2015-04-16 17:06] jayunit100 commented on #6828
kubelets are deployed differently in different environments, so this e2e test confirms that kubelets themselves are able to honor resources....  So, we can

- launch containers which confirm that the maximum resources available correspond to the constraints provided,
- launch several containers which run a cpu intensive job, and verify that the ones with more CPU allocations finish first,
and so o

[2015-04-16 17:09] bgrant0607 commented on #6895
We also still have LOTS of references to "minion".

Eventual consistency is the best we can hope for. :-/

[2015-04-16 17:27] yujuhong commented on #6764
#6804 proposed to let user specify the grace period before SIGKILL the containers (i.e., essentially `docker stop -t <timeout> <container_id`). This may necessitate pushing the container killing to the per-pod go-routines since user can specify an arbitrary long timeout and `docker stop` would block until the operation is completed. Simple parallelization would still help, of course, but the longe

[2015-04-16 17:29] quinton-hoole commented on #5953
+1 to davidopp@ 's proposed retitling.

[2015-04-16 17:39] bgrant0607 commented on #6363
I don't object to bulk endpoints, but what efficiency do we hope to gain by it? We definitely need to profile/trace before we do that. I don't believe that it will help, and it could even hurt by serializing operations that could otherwise be performed in parallel. In order to be of benefit, batching would need to reduce the amount of data sent over the wire and/or reduce decoding and other work i

[2015-04-16 17:51] bparees commented on #4825
was https://github.com/GoogleCloudPlatform/kubernetes/pull/5830 the final solution for this issue?

seems like the solution in that PR risks collisions.

[2015-04-16 17:54] pmorie commented on #6848
Throwing something out there: if you run boot2docker, could you not run a service on the boot2docker vm that performs the mount and has a restful interface?  In that case the mounter implementation can make a rest call to the mounter service.

[2015-04-16 17:54] erictune commented on #6915
Does this also affect any other volume types:  the proposed Config volume, Claims?  If so, is a more general mechanism needed, like a checkpoint?

[2015-04-16 17:57] invino4 opened #6923 "Shared Pod Storage (e.g. Config Storage)"
I am working on a Kubernetes extension that would run in its own pod but would like to store some information (e.g. configuration) that has similar requirements as the data stored in API Server.  In particular it would be nice if the storage had the following properties:

  * **Durable:**  Survives pod restarts, migrations, and upgrades.
  * **Consistent:**  Even if there are multiple pods writing

[2015-04-16 17:57] pmorie commented on #6915
@erictune @thockin I believe @yifan-gu's https://github.com/GoogleCloudPlatform/kubernetes/pull/6885 PR would give us a good way to introduce a check point.

[2015-04-16 17:58] roberthbailey commented on #1883
Chatting with @zmerlynn today he volunteered to take this over and finish it off. Look forward to an updated https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/releasing.md soon. :)

[2015-04-16 18:03] filbranden commented on #1883
Feel free to cc me in any code reviews or ask me questions about it since I wrote the first version of that document and the ugly diagram that goes with it :-)

Cheers,
Filipe

[2015-04-16 18:14] erictune commented on #6908
In the gui, how about show a link if the port is 80, 443, 8008, or 8080, and not otherwise?
Should do something reasonable in a lot of cases?

[2015-04-16 18:15] justinsb commented on #6465
Working now - thanks! Closing.

[2015-04-16 18:15] #6465 closed

[2015-04-16 18:20] bgrant0607 commented on #2752
Added to wiki:
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Why-Kubernetes%3F

[2015-04-16 18:20] #2752 closed

[2015-04-16 18:21] erictune commented on #6905
For the most part, issues with status/help-wanted should be more to the beginner side of things.

If you see a status/help-wanted issue, or any issue, that looks interesting, feel free to comment on it and one of the core contributors would be happy to give an assessment of difficulty, and pointers, if you want.

The other thing we suggest for new contributors is to just start reading code and you

[2015-04-16 18:26] erictune commented on #6904
I didn't think the list of vars in a Dockerfile ENV section was meant to be an exhaustive list of env vars supported by the programs in the image.

[2015-04-16 18:26] zmerlynn commented on #1883
Will do!

[2015-04-16 18:26] bgrant0607 commented on #4825
Not final, no. We need to change how the hostname is set.

[2015-04-16 18:37] erictune commented on #6903
@thockin I know you are busy.  Can you suggest someone else that knows networking to have a look at this?

[2015-04-16 18:45] erictune commented on #6900
I can't find that error string in the kubernetes git tree, so I think it may be coming out of vagrant or virtualbox.

[2015-04-16 18:48] roberthbailey opened #6926 "Centralize the management of cloudprovider services/target pools"
#6292 added code to nodecontroller.go to reconcile target pools for each service as nodes come and go. #6271 added a new package servicecontroller to continuously manage services. This code should be consolidated (into the servicecontroller package).

[2015-04-16 18:48] roberthbailey commented on #6926
/cc @jszczepkowski

[2015-04-16 18:55] a-robinson opened #6927 "pkg/kubectl/cmd/config test fails due to reading clusters from my global kubeconfig file"
This test has been failing locally for me, displaying some of my actual clusters interspersed with the test clusters. The test's success shouldn't really depend on the files in my environment.

@jlowdermilk

[2015-04-16 18:57] erictune commented on #6900
Are you able to create a VM directly using vagrant?

[2015-04-16 19:02] erictune commented on #6882
I don't understand how the TestAliceNotForbiddenOrUnauthorized could give that answer.

[2015-04-16 19:03] derekwaynecarr commented on #6845
I see the issue, will send a PR.  It appears the quota status was only getting marked as dirty for update if the usage changed, and not the underlying limit itself.  So I suspect if you removed a pod (assuming you were tracking total number of pods), you would see the status kept updated to the desired spec.

[2015-04-16 19:08] jwforres commented on #6908
The http(s) links were just an example, there are more use cases than that.

An annotation could let us know that the port is an admin console port, letting us show a special icon next to that link.  Same with a debug port.

Or lets say I support ftp on the port, and I want to actually make the URL in the GUI have the ftp:// protocol.

[2015-04-16 19:10] abonas commented on #6904
@erictune it is at least partially related according to my understanding.
there could be of course vars that are requested directly in the code...

[2015-04-16 19:13] smarterclayton commented on #6908
A lot of web frameworks these days choose completely random ports - for instance rails defaults to 3000, django is 8000, etc.  80 is *usually* http, but 443 can be anything.  Mysql is 3306, but might not be.

I think the idea is more to allow metadata to decorate endpoints that can be interpreted by programs, rather than not being able to attach metadata at all.  That metadata might also be someth

[2015-04-16 19:19] erictune commented on #6923
@smarterclayton can you comment on this?

[2015-04-16 19:44] bgrant0607 commented on #6876
@nikhiljindal points out that this instance of the problem is in Openshift:
https://github.com/openshift/origin/blob/8c99516105e53696957ce3ec6e2a43c6692c7557/pkg/cmd/server/origin/master.go#L612
[code]

@smarterclayton

[2015-04-16 19:55] bgrant0607 commented on #6133
Another principle: all relevant API info should be represented in json. Relevant HTTP header fields should mirror the json fields. One example that came up just now: status codes (which are represented in Status). We've previously discussed using Etags and If-Match, also. We're going in this direction for URL query parameters, also.

[2015-04-16 20:00] yujuhong commented on #6927
+1.  Saw this locally as well. Had to delete `~/.kube/.kubeconfig` to pass the test.

[2015-04-16 20:05] chaten opened #6930 "GKE: Hard rebooting nodes does not work"
All of our nodes in GKE were pegged at 100% cpu and could not be ssh'd into, so I was forced to reboot them all from the console. When starting up, it seems google-startup-script is run after salt-minion has started. The script then fails with
[code]
 The only way to recover these hosts is to do
[code]
on each host.

[2015-04-16 20:06] thockin commented on #6908
Ports have names.  We can define best-practices there (eg naming your port
"http" is a clue that it supports http.  Once we have SRV fixed up (if you
all would just stop emailing me :) you will be able to do do SRV lookups
for _http._tcp.mysvc.myns.kubernetes.local - but the _http is only known
insofar as the port name.

I'm open to proposals how to annotate more or better.

On Thu, Apr 16, 2015 a

[2015-04-16 20:09] davidopp commented on #5953
OK I'm going to re-title now.

[2015-04-16 20:13] bgrant0607 commented on #4182
I'll send a PR for this.

[2015-04-16 20:23] thockin commented on #6903
@quinton-hoole might be able to help, but this does not at all match my own experience

# iptables-save | grep HOST | grep hostnames
-A KUBE-PORTALS-HOST -d 10.0.245.85/32 -p tcp -m comment --comment "default/hostnames:" -m tcp --dport 88 -j DNAT --to-destination 10.240.105.157:50318

# time curl 10.0.245.85:88
hostnames-tmyim

real	0m0.007s
user	0m0.004s
sys	0m0.000s

# time curl 10.0.245.85:88
h

[2015-04-16 20:30] #6914 closed

[2015-04-16 20:31] thockin commented on #4825
What's the risk of collisions?  DNS lookups of colliding services is all I
can think of, and not much we can do to prevent that in general.

On Thu, Apr 16, 2015 at 10:51 AM, Ben Parees <notifications@github.com>
wrote:

[2015-04-16 20:34] davidopp commented on #6753
Ah, the issue I was thinking of is #3124

[2015-04-16 20:35] roberthbailey commented on #6930
/cc @zmerlynn @mbforbes

[2015-04-16 20:36] thockin commented on #6915
The simplest idempotency check is IsMountPoint(), but that doesn't verify
the data.

On Thu, Apr 16, 2015 at 9:03 AM, Paul Morie <notifications@github.com>
wrote:

[2015-04-16 20:37] thockin commented on #6915
For better or worse, we assume we can do everything idempotently, and
therefore not need a checkpoint.

On Thu, Apr 16, 2015 at 9:16 AM, Eric Tune <notifications@github.com> wrote:

[2015-04-16 20:39] thockin commented on #6915
A checkpoint would trade where the complexity lives.  A nice property we
have now is that we don't have a checkpoint to lose.  If we had a
checkpoint and we intended to change the way we resync the universe, maybe
we would not need this restriction.  Yes, it affects all volumes, though
all of them are idempotent as far as I know, except Secret (which I totally
forgot to audit, mea culpa)

On Thu,

[2015-04-16 20:41] thockin commented on #6915
We should not adopt a checkpoint lightly - it has a lot of implications for
the kubelet codebase and performance overall.  I am not against it (in fact
I think we should) but we need to do it carefully.

On Thu, Apr 16, 2015 at 10:57 AM, Paul Morie <notifications@github.com>
wrote:

[2015-04-16 20:54] timothysc commented on #6672
Per discussion on wed, we'll attach do a HA.md proposal PR by tomorrow.

[2015-04-16 20:57] #4615 closed

[2015-04-16 21:01] jameskyle commented on #2741
My toes are fully in tact. Apparently raising these little tykes takes significant time and can be a bit disruptive to plans. Who knew!

[2015-04-16 21:03] thockin commented on #6910
@ArtfulCoder

I have been meaning to try that sysctl out - if it works as advertised we could simplify a bit (but I spent so long on those comments!).  I think the kernel versioning is OK, but we should check.  I have been surprised by people running ancient software (iptables) before.  @ghodss are you guys on kernel 3.6+ ? :)

But even if we did that, how does this fix the ELB problem?  Now the E

[2015-04-16 21:04] davidopp commented on #6558
@roberthbailey Should we schedule a meeting to discuss whether it's reasonable for Kubelets to pull their IPs directly from the cloud provider? What is the alternative -- a new API endpoint on the master where unregistered nodes can query their IP address from NodeController? Do nodes really need their IP address when they register with the master?

[2015-04-16 21:13] smarterclayton commented on #6876
Sorry about that - shouldn't have been opened here.  @deads2k, this is an issue against the forbidden handler.

[2015-04-16 21:13] #6876 closed

[2015-04-16 21:14] davidopp commented on #6454
We've done what the title of this issue says, and I think we should move any followup discussion to one of other the dozen or so performance-related issues we have open. Closing.

[2015-04-16 21:15] davidopp commented on #6753
Also, from the issue that was discussing what VM size we should use for the master, "a plot of master cpu vs. number of nodes under a load scaled proportionally to the number of nodes" was suggested.

[2015-04-16 21:18] xiang90 commented on #6454
@davidopp We are doing continuous etcd testing on GCE. Is it possible to tell me how many resource would you like to allocate to etcd? So we can help to run under that env and find problems early to ensure etcd can deliver what k8s needs for 1.0/

[2015-04-16 21:30] davidopp commented on #6159
I discussed this with @erictune and others, and we decided to just add comments to the Getting Started guides saying you need to be running ntpd on all of your nodes. I'll do this.

[2015-04-16 21:33] pires commented on #6851
OK it has been fixed. Debugging some related issues with @erictune's help before I can say this is closed.

[2015-04-16 21:36] quinton-hoole commented on #6903
Sure, I can take a look.

[2015-04-16 21:41] quinton-hoole commented on #6903
wangxin201492@ could you please try a TCP trace route from the machine you're running chrome on to your minion and pod IP addresses?  traceroute -P tcp should give you what you're after.  I would guess that there is a delay somewhere between you and your pod on your network.

[2015-04-16 21:43] pires commented on #6851
To me it's closed. Thank you @AntonioMeireles @kelseyhightower @erictune.

[2015-04-16 21:45] derekwaynecarr opened #6934 "kube-apiserver panic information in logs when doing a list with fieldSelector that single matches"
With the move to running the kube-apiserver in a pod, I am getting errors of the form:
[code]
The root null pointer is from this line:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/tools/etcd_helper.go#L168

The line numbers in the stack are from my continuing debug of the original null pointer.

We need to protect against a null pointer in this path, which appears to only be i

[2015-04-16 21:46] davidopp commented on #6748
Sorry for the delay in responding.

Are you trying to run etcd separately from Kubernetes? This isn't really supported at the moment, but was it working at one point for you and later stopped working?

Also, can you clarify your last question? If you have removed the etcd and kubernetes clusters, what is left of the system that you would like to not have to re-create?

[2015-04-16 22:00] colemickens opened #6937 "azure: kube-up.sh loops forever"
[code]

I can try and dig into it later.

[2015-04-16 22:02] derekwaynecarr commented on #6934
With proper line numbers:

[code]

[2015-04-16 22:02] yujuhong commented on #6651
From [this failulre](https://app.shippable.com/builds/5530131d31d6ed0c0026fd2c), we can see that kubelet was lightly loaded as the update channel was mostly empty while waiting.
[code]
 This corroborates the theory that watch might be at fault.

[2015-04-16 22:09] colemickens commented on #6937
Retries are also failing:
[code]

Not sure what the obvious fix is here. At this stage should I be manually removing those VMs via xplat-cli or the web ui and then trying again?

[2015-04-16 22:10] quinton-hoole commented on #6651
cc: quinton-hoole

[2015-04-16 22:15] roberthbailey commented on #6558
That sounds like a good idea (I think we can likely clear this up with a quick meeting rather than going back and forth for days in github comments).

[2015-04-16 22:23] zmerlynn commented on #6930
I'm sorry you ran into this. It's a dupe of #5666.

[2015-04-16 22:24] zmerlynn commented on #6930
Do you know what caused your original issue?

[2015-04-16 22:36] bgrant0607 commented on #6558
We all agreed that we should remove HostIP from pods.

Nodes do not need to provide their address(es) when they register. It's not part of the spec. They could provide whatever hostnames and/or addresses they can get through normal Linux mechanisms and/or could contact a local metadata server, but I don't think that's necessary, since the node controller will update the addresses once the node is

[2015-04-16 22:42] yujuhong commented on #5953
I will take a look at this.

[2015-04-16 22:50] bgrant0607 commented on #3595
Re. admin-defined policies, see https://github.com/docker/docker/issues/11187

[2015-04-16 22:52] zmerlynn commented on #6930
I'm closing this in favor of the original, bumping the original priority and working on it.

[2015-04-16 22:52] #6930 closed

[2015-04-16 22:59] jlowdermilk commented on #6927
I'm unable to repro at head; looking at the test code, I think is fixed as a side affect of #6680. @a-robinson, could you try running `hack/test-go.sh pkg/kubectl/cmd/config` from head and see if you have the same failure?

[2015-04-16 23:10] chaten commented on #6930
Not at the moment. Thankfully, we have a cluster that hasn't died yet, but has a 78 load avg on our n1.standard.4. Containers are getting killed very often, but that looks like an issue w/our liveness probe.

Docker & Kubelet are taking up the majority of the CPU
[code]

There are 68 veth interfaces at the moment on that node.
CAdvisor has been killed 4 times due to OOM. It is possible we have it

[2015-04-16 23:14] a-robinson commented on #6927
Yup, I can confirm it works now, and I haven't changed any of my config files. Thanks!

[2015-04-16 23:14] #6927 closed

[2015-04-16 23:14] yujuhong commented on #6651
The WIP reflector benchmark (#6697) may shed some light on this issue once it's integrated with the continuous e2e performance suite.

I will keep this issue open for now to gather more data (since this is not reproducible locally at all), and to see if there are other potential causes.

[2015-04-16 23:41] bgrant0607 commented on #3585
I like the finalizers model implemented for namespaces:
https://github.com/GoogleCloudPlatform/kubernetes/blob/3e91fc5288f8c979f5338467b9e818710fd8adc5/docs/design/namespaces.md#finalizers
I'm considering a similar approach for initializers, but there are issues. We could populate the list by default based on fields not provided (e.g., empty Host for pods would add the default scheduler), but I'd

[2015-04-16 23:42] bgrant0607 commented on #3585
cc @pmorie

[2015-04-16 23:44] #4347 closed

[2015-04-16 23:55] #4182 closed

[2015-04-16 23:55] #6133 closed

[2015-04-16 23:57] bgrant0607 commented on #5476
I added a brief bullet about this to docs/design/principles.md. We can expand there or elsewhere (e.g., docs/design/architecture.md) as necessary.

[2015-04-16 23:57] #5476 closed

[2015-04-16 23:59] liggitt commented on #4347
+1, thanks

[2015-04-17 00:01] pmorie commented on #3585
Off-topic, there really needs to be a hook emoji
On Thu, Apr 16, 2015 at 7:43 PM Brian Grant <notifications@github.com>
wrote:

[2015-04-17 00:09] erictune opened #6946 "Fix logrotate.conf for recent podifications"
`cluster/saltbase/salt/logrotate/init.sls` says:
```{% set logrotate_files = ['kube-scheduler', 'kube-proxy', 'kubelet', 'kube-apiserver', 'kube-controller-manager'] %}```.

However, kube-scheduler, kube-apiserver, and (soon) kube-controller-manager run in pods so they can't be logrotated.  So:
  1. remove them from the salt file
  1. consider running logrotate as a sidecar within the pod, and per

[2015-04-17 00:13] bgrant0607 commented on #4347
The status objects are always of the default API version, however, rather than the version requested, because the request object isn't available to the error handler.

[2015-04-17 00:13] erictune opened #6947 "Remove unused monit for kube-apiserver now that it is in a pod"
cluster/saltbase/salt/monit/kube-apiserver appears not to be referenced by cluster/saltbase/salt/monit/init.sls and so can be deleted, I think

[2015-04-17 00:15] bgrant0607 commented on #4347
Rather than:
[code]
we need:
[code]

[2015-04-17 00:17] bgrant0607 commented on #1519
Announced:
http://kubernetesio.blogspot.com/2015/04/introducing-kubernetes-v1beta3.html

[2015-04-17 00:20] ddysher commented on #6888
@BlueShells is blocked by GFW, you need to find a way out :)

[2015-04-17 00:41] smarterclayton commented on #4347
Can we define an error handler on a web service?

[2015-04-17 00:45] bgrant0607 commented on #1899
Bumping up the priority. This is an issue that every orchestrator on top of Kubernetes runs into. We need support in the API to simplify common waiting scenarios.

Related: #3585, #1768, #3692, #1535

[2015-04-17 00:46] jfoy commented on #6748
I'm also running into this issue with a local dev environment. The stack is kubernetes 0.14.2 running as a set of fleet units on a coreos 647.0.0/etcd 0.4.9 cluster, all in turn running on a set of vmware fusion VMs managed by vagrant. The issue is exactly as described above: the initial deployment just works, but subsequent changes like bouncing the kubelet will fail.

These are the errors on mas

[2015-04-17 00:51] smarterclayton commented on #1899
For API waits are you referring to watches for more specific conditions?  One thing we don't support on watch today is number of events or timeout - I don't know if a client closing its watch will release the server resources until the next event is available, and lots of clients waiting on the server is problematic until we unify the underlying watch queue on the apiserver.

[2015-04-17 01:00] roberthbailey commented on #6947
/cc @ArtfulCoder

[2015-04-17 01:01] njuicsgz commented on #6845
The status changed correctly after resizing a rc and wait a while (8s).

[2015-04-17 01:05] derekwaynecarr commented on #3585
I wondered if we wanted to move initializers/finalizers into a common block as well so it could be a concept used with other objects.  I like dependencies.  If we added initializers to namespace for example, I know there are some things I could do around that concept that are interesting in OpenShift to apply sensible default resources in a namespace.

 In practice, do you see a compelling reason

[2015-04-17 01:14] antoineco commented on #6880
I got it. What triggers the panic is not the flag itself, but rather the format of the cloud provider conf file.

I was still using the previous one with Regions instead of Zones. In `/etc/aws.conf` I simply replaced `Region = eu-west-1` by `Zone = eu-west-1a` and my service started.

I guess we can close the ticket, but maybe also consider handling the error in a more appropriate way.

[2015-04-17 01:16] justinsb commented on #6910
Ah, I think I missed a step in my excitement here.  Or I may be very confused.

The idea is that:
* kube-proxy would listen for _internal_ services only on 127.0.0.1 (if we get the sysctl to work) or on the first bridge IP (if that works)
* _external_ services would then listen on the instance's routable IP (i.e. ELB services).
* The iptables rules logic would be basically unchanged.

I think we h

[2015-04-17 01:19] smarterclayton commented on #3585
Do we need to introduce inert in order to make dependencies practical?

[2015-04-17 01:22] justinsb commented on #6880
Ah - thank you for tracking it down!  I'm so sorry for that behaviour.  I'm not entirely sure where it is coming from, but I'll reproduce it and fix it (tomorrow / this weekend).

[2015-04-17 01:23] smarterclayton commented on #6923
Will do

[2015-04-17 01:27] derekwaynecarr commented on #3585
I don't think so if the scheduler waits to be the last initializer to execute or if scheduler waits to schedule until all initializers are empty.

Sent from my iPhone

[2015-04-17 01:41] #6851 closed

[2015-04-17 01:44] timothysc opened #6951 "Pod Phase - Vacating."
Currently if you have a large replication controller running and stop said controller, kubernetes will report that no pods are running, when indeed there are currently pods on the cluster.

This occurs because the entries are deleted from etcd and eventually the kubelets will catch up.  Perhaps it makes more sense to update the phase to "vacating" and only delete once the final event has been sent

[2015-04-17 01:46] smarterclayton commented on #3585
Does an admission controller set initializers?

[2015-04-17 01:47] derekwaynecarr commented on #6951
+1 this affects namespace deletion.  I noticed that the Kubelet delay caused events to sometimes be created in the namespace after it should have been removed.

Sent from my iPhone

[2015-04-17 01:47] smarterclayton commented on #6951
Won't graceful termination resolve this?  Pods will stay present until grace period expires or node terminates process (or observes process exit)?

[2015-04-17 01:48] pmorie commented on #3585
@bgrant0607 are dependencies ObjectReferences?

On Thu, Apr 16, 2015 at 9:46 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-17 01:50] timothysc commented on #6951
@smarterclayton - eventually the system cleans up, it's just a matter of accuracy in accounting.  Unless your referring to another issue.?.?.?

[2015-04-17 02:00] eparis commented on #5599
//cc @eparis

[2015-04-17 02:03] BlueShells commented on #6888
@ddysher @erictune  thanks guys,I just install kuber on the other servers out of GFW,it works now ,so if you have method to solve the GFW problems ,better,if not ,that's all right ,thanks all the same

[2015-04-17 02:06] wangxin201492 commented on #6903
traceroute where i run chrome such as following:
[wangxin0@wangxin0 ~]$ sudo traceroute -P tcp 172.20.13.118
traceroute to 172.20.13.118 (172.20.13.118), 30 hops max, 60 byte packets
 1  A  1.142 ms  0.900 ms  1.296 ms
 2  B  0.581 ms  0.439 ms  0.464 ms
 3  C  0.372 ms  0.272 ms  0.333 ms
 4  D  0.904 ms  1.831 ms  0.724 ms
 5  172.20.13.118 (172.20.13.118)  0.554 ms !X  0.437 ms !X  0.475 ms !X

[2015-04-17 02:13] bgrant0607 commented on #1899
I meant a uniform schema and semantics across API resource kinds for conditions like:
* created (can be referenced by other objects)
* fully initialized (all fields are ready to read and propagate to other objects)
* fully active (reached successful deployment/reification)
* broken (unschedulable pods, bogus images, crashlooping containers, ...)
* ready (ready for application-level initialization/

[2015-04-17 02:17] smarterclayton commented on #6951
When pods will be deleted, they will not disappear immediately:

https://github.com/GoogleCloudPlatform/kubernetes/pull/5085
https://github.com/GoogleCloudPlatform/kubernetes/issues/6804

So delete will set deletiontimestamp, which is the time after which any processes may be hard killed (SIGKILL), and the time at which the pod will be automatically deleted (releasing the name for reuse).  The kub

[2015-04-17 02:17] smarterclayton commented on #1899
Understood.

[2015-04-17 02:23] eparis commented on #5599
Instead of refusing to let things work, why not just use go build, which takes longer, but should at least work for people....

https://github.com/GoogleCloudPlatform/kubernetes/pull/6953

[2015-04-17 02:35] smarterclayton commented on #6923
We've talked about exposing "Etcd-as-a-service" - allowing clients to request an endpoint with which they can interact using etcd client tools directly, but secured and provisioned dynamically. A subset of the keyspace would be carved up for each use case and offered on a distinct endpoint.  One advantage would be the ability to scale that out - for simple systems it could reuse the apiserver, for

[2015-04-17 02:37] smarterclayton commented on #6363
One benefit would be using speedy on larger chunks - probably see much higher compression (keys and common values) for bulk updates than singletons.

[2015-04-17 02:40] ArtfulCoder commented on #5599
Does e2e pass with your changes ?

Sent from my iPhone

[2015-04-17 02:43] davidopp commented on #6748
Are you running etcd separately, or are you allowing it to be started up by the Kubernetes startup scripts?

At the time you are seeing these errors, are you able to contact etcd, for example does
curl -L http://<etcd host:port>/version
and
curl -L http://127.0.0.1:4001/v2/keys
work?

[2015-04-17 02:52] bgrant0607 commented on #4347
At the moment, it's at the container level:
https://github.com/emicklei/go-restful/blob/master/container.go#L58

[2015-04-17 02:52] wangxin201492 commented on #6903
and i start kube-proxy using
/usr/bin/kube-proxy --logtostderr=true --v=0 --etcd_servers=http://172.20.13.185:4001

any problems？

[2015-04-17 02:59] smarterclayton commented on #4347
David and I talked about keeping the API lookup mechanism so we could use that in the error handler (apirequestinfo).  We still need it for some use cases (proxies) so it could be used here to identify the version and proposed resource if matched.

[2015-04-17 03:24] ArtfulCoder commented on #6946
I will remove this.

The logs from these new pods should be extracted by fluentd just the way users' pods logs get extracted out.

[2015-04-17 03:41] wangxin201492 commented on #6903
i get the solution!!
because i start 4 pods at 2 minions,and the pods in 2 minions can't visit each other cross host.
when i request minionA:randomPort ,kube-proxy will try to connect the 4 pods stored in etcd.but the network is unreached.
so i got a delay time.

i resized ReplicationController to 2 and made them in minionA.
now i request minionA:randomPort, the result as follow:

[root@mobancento

[2015-04-17 03:46] thockin commented on #6903
It is a requirement of kubernetes that Pods on different hosts be able to
ping each other.  Please read docs/networking.md.  Flannel is a good start.

On Thu, Apr 16, 2015 at 8:42 PM, wangxin201492 <notifications@github.com>
wrote:

[2015-04-17 04:00] thockin commented on #1899
I just want to point out how much this looks like a certain state machine I know. :)

@dchen1107

created,initialized = ACCEPTED
active,ready = ACTIVE
broken = FAILED
terminated = CLEANED

You left out our "-ing" states and subdivided a couple a bit further, and omitted "SUCCEEDED" but it's not far off.

I feel like something exists between active/ready and fully terminated.  This also doesn't cap

[2015-04-17 04:01] erictune commented on #4567
This is not needed for 1.0, but the other two are.  Fixing labels.

[2015-04-17 04:03] thockin commented on #6923
The nascent config API object?

On Thu, Apr 16, 2015 at 7:36 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-17 04:06] smarterclayton commented on #6923
I thinking would be an exact match for the etcd API, and be targeted at etcd.  I feel something is wrong about mutating the etcd API to be even more generic, mostly because then people need custom clients in every language.

[2015-04-17 04:23] thockin commented on #6893
On Thu, Apr 16, 2015 at 6:25 AM, WangLei <notifications@github.com> wrote:

A machine has a timeout before we can declare it dead and delete all
the pods on it.  If you can reboot in less time than that, it will
come back and find that it is still supposed to be running those pods.
I have not tested this.

[2015-04-17 04:27] bgrant0607 commented on #6923
Lots of related threads: #991, #1553, #1627, #2068, #6477. If it's truly an extension of Kubernetes, we do plan to provide generic storage for API plugins (#991).

Exposing etcd directly would be problematic if we ever were to support another storage backend: #1957.

[2015-04-17 04:31] thockin commented on #6923
Yeah, if we expose etcd it should be as a service, not because it happens
to already be present.

On Thu, Apr 16, 2015 at 9:27 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-17 04:36] derekwaynecarr commented on #6951
I think it is covered.  The issue that I am encountering is because we run with NamespaceAutoProvision in KUBERNETES by default, you get in a state where finalization thinks all resources are deleted (because they were) and then moments later the Kubelet creates a bunch of events noting the true death of the pod.  This in turn causes the namespace to be provisioned again (with just the death rattl

[2015-04-17 04:45] bgrant0607 commented on #6951
Agree w/ @smarterclayton.

See also #1535  and #1899.

I am hesitant to add a new phase. What would it be used for?

Some applications receive the termination notification (SIGTERM/prestop -- #6804), start to fail readiness checks, but continue responding to requests until they receive SIGKILL.

Others immediately stop responding to new requests and try to drain any in-flight storage/db writes.

T

[2015-04-17 04:51] erictune commented on #5917
@jlowdermilk
We aren't doing node upgrades yet, right?  Because changing the auth file format and changing what format the kubelet and kube-proxy expect would require that the upgrade change them both at once.

[2015-04-17 04:52] smarterclayton commented on #6085
With the new testclient.Fake, it should be easier to simulate resource loading calls (you can ignore network behavior and serve REST queries).

[2015-04-17 04:53] smarterclayton opened #6956 "kubelet_test.go is hanging on Mac in DoHTTPProbe"
Whole bunch of throttle goroutines open.

[code]

[2015-04-17 04:54] ArtfulCoder commented on #6947
created PR #6957
thanks!

[2015-04-17 05:00] smarterclayton commented on #6923
Yeah, I'm thinking an optional API endpoint either provisioned automatically for clients or available via requests.

In the long term, this is effectively the service broker pattern - request an instance of X (where X can be anything) provisioned and attached to your namespace (external service created, environment set on an RC, secrets set in the ns that grant access).  You can then talk to your

[2015-04-17 05:06] erictune opened #6960 "restart-apiserver function does nothing when apiserver is in a pod"
hack/e2e-suite/services.sh is sole caller of restart-apiserver.

It is defined in cluster/*/util.sh

I can't see that the current shell code does anything after the apiserver-in-a-pod changes.

[2015-04-17 05:17] erictune opened #6962 "Consider removing Rackspace support"
Rackspace support has not ben updated in a few months.
cluster/rackspace/cloud-config/minion-cloud-config.yaml is using etcd_servers for kubelet and kube-proxy, but support for them has been removed since v0.9, I think.

I'll remove it in a few days if no-one makes a counter-offer to get the config working with latest release.

[2015-04-17 05:35] bgrant0607 commented on #6923
PaaSes give me the impression that there's a hard distinction between Apps and Services -- the former are run on the PaaS while the latter are run using an underlying IaaS orchestration layer. I think it's great if we can support that, but even better if applications that would be run as Services in a PaaS environment could be run on Kubernetes. In this case, we definitely want to be able to run e

[2015-04-17 05:39] erictune opened #6965 "Consider removing Ovirt support"
There was once a `docs/getting-started-guides/ovirt.md` but it is gone.
So I propose deleting `cluster/ovirt/ovirt-cloud.conf`, `pkg/cloudprovider/ovirt/ovirt.go`, and `pkg/cloudprovider/ovirt/ovirt_test.go`, and references to `package ovirt`.

I'll let this sit for a few days for response before deleting.

[2015-04-17 05:43] wangxin201492 commented on #6903
thx,i'll have a try! @thockin

[2015-04-17 05:43] #6903 closed

[2015-04-17 05:44] thockin commented on #6962
There's been some work on this but it is blocked while we figure out some
load-balancer design stuff.

On Thu, Apr 16, 2015 at 10:18 PM, Eric Tune <notifications@github.com>
wrote:

[2015-04-17 06:00] bgrant0607 commented on #1899
Except that they don't exactly align with system needs or behavior. For instance, fully reified and broken are fuzzy in a system that attempts self-healing indefinitely. Initialized is also fuzzy in the case of auto-scaling and auto-sizing; besides, components such as the scheduler need to look at specific fields rather than an overall indication. Ready may flap.

Besides which, a custom state mac

[2015-04-17 06:19] ahmetalpbalkan opened #6966 "Azure cluster setup script fails"
(more progress at #7826)

I tried out Kubernetes install script for Azure (code from #6691) and having problems with it. My attempt at diagnosing it:

`kube-up.sh` gets stuck while trying to connect to the master (dots keep going on and on forever):

[code]

I tried that `until curl ...` request myself and it returns `HTTP 502 Bad Gateway` from outside, when I looked at script I can see that it do

[2015-04-17 06:29] erictune commented on #5917
@deads2k @jlowdermilk
Okay, so if I do:
`config := clientcmd.LoadFromFile("/path/to/kubeconfig")`
I get a `"pkg/client/clientcmd/api".Config`.  How do I turn that into a `"pkg/client".client`?

[2015-04-17 06:35] erictune commented on #5917
Oh, I need to do:
[code]
and then do:
`client := client.New(loader.ClientConfig())`

Wow that is a lot of work to make a client!

[2015-04-17 06:36] jsdir commented on #6162
Waiting for the following:
- [ ] `GetMetadata` https://github.com/awslabs/aws-sdk-go/pull/192
- [ ] `IsRegionValid` https://github.com/awslabs/aws-sdk-go/issues/108

[2015-04-17 07:56] davidopp commented on #6454
Hmm, that's an interesting question. I assume the question is for CPU only, not memory and disk. Maybe try 2 cores if you're running etcd by itself? It would be helpful if we knew during regular Kubernetes workloads what is the % of the CPU used by each of the components, so we could use that as a basline. (For example if etcd typically uses 50% of the CPU, then 2 cores would be reasonable.)

@woj

[2015-04-17 08:17] wojtek-t commented on #6454
@xiang90
My current experiments show that currently huuuuge majority of CPU is consumed by Kubernetes apiserver (i.e. I didn't observe etcd as a bottleneck). However there are few parallel efforts to reduce amount of work apiserver is doing (see e.g. #6800 #6518 #6562) so hopefully this will be significantly improved.
But still - I think that 2 cores for etcd is too much (i.e. I mean that 2 cores

[2015-04-17 08:31] mnagy commented on #6904
Maybe we could specify required env variables as metadata (using LABEL)?

[2015-04-17 08:38] fgrzadkowski commented on #6454
I completely agree with @wojtek-t. Based on CPU profiles etcd is currently using it should not be a bottleneck for a long time. One thing to consider when running etcd tests on GCE is using fast drives (either large PD or SSD PD). Currently k8s setup on GCE uses one of the smallest regular PD, which has insanely small IOPS (we use 10G disk; see https://cloud.google.com/compute/docs/disks/persisten

[2015-04-17 08:39] erictune commented on #5917
The minimum file that is usable appears to be this:
[code]

A bit more verbose that I had hoped for.

[2015-04-17 09:00] wkevils commented on #6900
To avoid misunderstanding: what should I try ? I only followed the directions, and do not have experience with vagrant.

[2015-04-17 09:03] fgrzadkowski commented on #6877
I think it should be enough to check if endpoints match services once just after we initialize, right?

[2015-04-17 10:02] chaubeau opened #6971 "kubectl create pod,always in a state of “Pending”"
### The problem
kubectl create pod,always in a state of “Pending”

### The error information

[code]

### The pod configure

[code]

[2015-04-17 10:25] AntonioMeireles commented on #6852
- @thockin (sorry lag). whatever way you setup etcd (either external or in-pod) with versions higher than 2.0.7 current kube2sky breaks as described above. this is fully reproducible afaict by me.

- @erictune understood. OTOH, & fwiw  i think that for the sake of consistency it would be pertinent perhaps that independently of the way etcd is used across k8s (shared instances, isolated/independent

[2015-04-17 10:44] wojtek-t commented on #6800
Thank a lot for all kind of feedback.
I'm starting to work on the code to automatically create conversion functions that doesn't use reflection.

[2015-04-17 12:16] derekwaynecarr commented on #6900
What vagrant plug-ins do you have installed?

Sent from my iPhone

[2015-04-17 12:40] deads2k commented on #5917
If you have a config in memory, you can use `clientcmd.NewDefaultClientConfig()`, but that won't resolve paths relative to a file location.  We just recently started tracking `LocationOfOrigin` for stanzas, so I think we have sufficient information to make a cleaner load method now.  Just a thought, but I don't think I'll be able to get to that in the short term.

[2015-04-17 12:50] piosz commented on #6804
#### Semantic
The first problem to discuss is how a user should specify grace period. The current solution to specify it while requesting pod stop doesn’t cover all cases. Especially when replication controller is resized there is no info about the grace period. I suggest to add `terminationGracePeriod` immutable field to `PodSpec`, which means: “I need such time to terminate gracefully”. It could

[2015-04-17 13:12] zmerlynn opened #6974 "Jenkins failing during `gcloud components update -q`"
[code]

Filing an internal bug, disabling this step for now.

cc @jlowdermilk

[2015-04-17 13:17] justinsb commented on #6910
I confirmed this morning that the source IP on the reply is correct, at least when using the .1 from the bridge (based on some of the pitfalls described in those copious comments!) :

[code]

I think using .1 on the bridge does _not_ require the magic sysctl either.

[2015-04-17 13:17] #6974 closed

[2015-04-17 13:35] jayunit100 commented on #5670
Related to #6552 and this issue --- looks like running the `cmd/e2e...` tests from source now breaks due to gopath docker/libcontainer library errors. not sure why.  but I think it underscores the importance of addressing this issue.   Thanks for looking into it !

[2015-04-17 13:42] timothysc commented on #6951
@bgrant0607 In the case of graceful shutdown of applications, a large grace period may be applied in a worst case scenario to allow cleanup of those applications that have chosen to use signal escalation.  A vacating|STOPPING phase #6804 provides the operator the ability to determine where the application is in it's lifecycle, as well as enabling developers an insight into system behavior.

Right

[2015-04-17 13:46] wkevils commented on #6900
First, "rpm -qa | grep vagrant" shows only one rpm, the vagrant rpm, and not plugin.
Second, trying
vagrant init hashicorp/precise32 and then
vagrant up
gives the same error:

The provider 'libvirt' could not be found, but was requested to
back the machine 'master'. Please use a provider that exists."

Any ideas?
Can somebody try one of these two sequences to see if it works for him ?

Kevin

[2015-04-17 13:49] AntonioMeireles commented on #6851
@roberthbailey actually this was closed perhaps a bit too soon :smile: as there's one little bit missing - someone from googleLand update https://storage.googleapis.com/k8s/kube-register to deliver the fixed kube-register version as @kelseyhightower doesn't have the perms to do that himself (this is risk free as fixed version fully backward compatible).

[2015-04-17 13:52] pires commented on #6851
@AntonioMeireles @roberthbailey I'm more inclined to not only give credit to @kelseyhightower but until `kube-register` is merged, if ever, with Kubernetes, we should follow @kelseyhightower release versions. So, right now, we shall be using `0.2.0` and be very clear about it.

[2015-04-17 13:58] AntonioMeireles commented on #6851
@pires - fair point. my only grip is that it lefts existing setups in the dark as they don't have a update path (other than fixing things manually). anyway, and even if we start pointing byDefault to @kelseyhightower repo (as i already do in GoogleCloudPlatform/kubernetes#6973) as he is the de facto upstream on ghis imho https://storage.googleapis.com/k8s/kube-register  should **still** be updated

[2015-04-17 14:33] abonas opened #6979 "REST api - container status is represented in an inconvenient fashion"
Each container's state section (in containerStatuses in Pod entity) has the real status/state as a key instead of a value.
Example (some irrelevant attributes omitted to make it shorter)
 "containerStatuses": [
          {
            "name": "php-redis",
            "state": {
              "running": {
                "startedAt": "2015-04-17T14:12:29Z"
              }
            },

[2015-04-17 15:13] fgrzadkowski opened #6981 "Setup prometheus server and dashboard"
@wojtek-t @mwielgus

It'd be nice to setup prometheus server so that we can query/graph metrics that we export. This doesn't block other work, but would make it easier to debug performance issues.

[2015-04-17 15:14] csrwng commented on #6165
When a Host is not specified in the spec, is there a way to get at the current pod Host? The issue is that given a pod, I need to talk to the node using its canonical hostname (must match node's TLS cert). If spec.Host is not set, all I have is the status.HostIP.

[2015-04-17 15:16] #5278 closed

[2015-04-17 15:18] nkwangleiGIT commented on #6893
How about the question below?
"Anything else you can suggest to keep the data volume always on the same machine as the pod?"
After all, any data sensitive application requires to keep the data volume when the app container  will be created anywhere.
Thanks!

[2015-04-17 15:25] fgrzadkowski opened #6982 "Panic in apiserver"
When I've just synced to head I get the following panic in apiserver built from a clean client:

E0417 15:22:34.410713       1 master.go:357] recover from panic situation: - runtime error: invalid memory address or nil pointer dereference
    /usr/src/go/src/runtime/asm_amd64.s:401
    /usr/src/go/src/runtime/panic.go:387
    /usr/src/go/src/runtime/panic.go:42
    /usr/src/go/src/runtime/sigpanic

[2015-04-17 15:46] thockin commented on #6893
What you want is PersistentVolumes, which is in development right now.

In the mean time you have 2 options.  You can use a HostPath volume, which
you can reclaim regardless of which pod, as long as it is the same node.
Or you can use something like GCE Persistemt Disk, NFS, iSCSI, AWS EBS, etc
which gives you access to storage that outlives your pod.

On Fri, Apr 17, 2015 at 8:19 AM, WangLei <not

[2015-04-17 15:54] thockin commented on #1899
I'm not really trying to re-adjudicate the state machine discussion, just
saying that this is trending in that direction.  Of course the states we
defined for internal use don't match perfectly, but that's just a matter of
refinement of the definitions.

On Thu, Apr 16, 2015 at 11:00 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-17 16:01] erictune commented on #6900
`vagrant init hashicorp/precise32 and then
vagrant up
`
works fine for me on my OS X machine.
It uses the virtualbox provider.

You might need to do:
`vagrant plugin install libvirt`

Or poke around http://docs.vagrantup.com/v2/plugins/usage.html

[2015-04-17 16:15] bgrant0607 commented on #3585
@derekwaynecarr No, I don't see a reason to distinguish edit permissions on initializers vs. finalizers. In Borg, we have a blanket permission for "control" (we call it "admin") power, which doesn't allow the controller to change what the thing is/does, but just actions like defer, suspend, enable, kill, etc.

@smarterclayton Dependencies effectively introduce inert, yes. Inert could be achieved u

[2015-04-17 16:17] bgrant0607 commented on #1899
My point was that they should be properties that span all relevant states, not states themselves.

[2015-04-17 16:18] ArtfulCoder commented on #6910
1. Assume that we have an external service that runs on port 8081. (Elbs configured to forward to  port 8081 on kubernetes cluster)
2. Suppose we also happen to have an internal service that runs on 8081 with a service IP.

KubeProxy listens on eth0 for traffic to port 8081 on all interfaces (eth0, docker0 etc..)

KubeProxy can distinguish the fact that traffic came for "external service on host p

[2015-04-17 16:18] bgrant0607 commented on #6165
spec.Host is set by the scheduler.

[2015-04-17 16:20] kazegusuri opened #6986 "Updating node label is not in effect"
I'm using current HEAD.
After setting the correspoinding label to a node, creating a new rc with nodeSelector failed immedately. It never recovered automatically.
The sample below is a rc with nodeSelector and hostPort. With this rc, a failed pod bound a port forever.
When using a rc without hostPort a failed pod doesn't bind a port but many failed pod will be created.

[code]

[code]

Also I have

[2015-04-17 16:37] erictune commented on #3585
@pmorie

just fishing around and I found this
:leftwards_arrow_with_hook:

[2015-04-17 16:48] erictune commented on #6962
Okay, I will remove the link to rackspace until it is fixed (#6987).

Leaving this issue open to remind us to delete it in, say, a month, if no progress is made.

[2015-04-17 17:02] jdef commented on #6676
Thanks for the info. It sounds like static pod support the only blocker. Can I assume that we have a green light for submitting a PR for the phase1 stuff once static pod support is in place?

[2015-04-17 17:08] ddysher commented on #6888
Thanks for confirming this.  I think we can close the issue now.

[2015-04-17 17:08] #6888 closed

[2015-04-17 17:12] preillyme commented on #6676
:+1: I'm looking forward to having this PR submitted.

[2015-04-17 17:16] jdef commented on #6676
`third_party` alternatives for `github.com/GoogleCloudPlatform/kubernetes/plugins/third_party/mesos`, since third_party isn't really what we mean - this is go code that's not being vendored:
- community
- contrib
- dist

[2015-04-17 17:20] roberthbailey commented on #6605
@justinsb Also take a look at #3118. We may be able to use the same dashboard for performance metrics as well as e2e test results.

[2015-04-17 17:20] #6934 closed

[2015-04-17 17:22] timothysc commented on #3118
@quinton-hoole perhaps we can write the proposals against this issue, happy to help on this one.

[2015-04-17 17:28] roberthbailey commented on #6982
This should be fixed by #6938.

[2015-04-17 17:28] #6982 closed

[2015-04-17 17:43] derekwaynecarr commented on #6900
Can you output the result of

[code]

[2015-04-17 17:57] guenter opened #6991 "Add support for new Docker 1.6 cgroup parent flag"
Docker 1.6 allows setting the parent cgroup which allows us to set the parent for pods, see #5671

[2015-04-17 17:57] guenter commented on #6991
I am planning to work on this.

[2015-04-17 17:58] smarterclayton commented on #6804
----- Original Message -----

The default container grace period should probably be 30 seconds or longer for containers - most software I'm familiar with should NOT be SIGKILLed without a lot of advance warning, and that default is likely to cause a lot of serious issues for people.  Database pod authors know to increase time.

[2015-04-17 17:59] ConnorDoyle commented on #6991
Could someone add the Mesos integration tag?

[2015-04-17 18:02] smarterclayton commented on #6923
----- Original Message -----

Agree - it should be easy to bridge the distinction and we should have the concepts that blur the line between

* Allocate me an app/service/instance outside the cluster
* Allocate me an app/service/instance inside the cluster (but I don't want to know about the details)
* I want to allocate a new thing inside the cluster

The tools and interaction for something runni

[2015-04-17 18:04] bgrant0607 commented on #6981
cc @quinton-hoole

[2015-04-17 18:07] kazegusuri commented on #6986
e2e passed

[2015-04-17 18:13] davidopp commented on #6753
@quinton-hoole @timothysc

Tim I think you were the one asking about this this morning -- if not, please let me know and I'll try harder to remember who it was. :)

@wojtek-t Quinton and Tim were interested in knowing what database (or whatever) we'll use to store these results over time.

[2015-04-17 18:15] davidopp commented on #6981
@quinton-hoole @timothysc

This is related to #6753 if we want to be able to graph/visualize the results over time.

[2015-04-17 18:30] roberthbailey commented on #6851
I just tried to update https://storage.googleapis.com/k8s/kube-register to the 0.0.2 release binary and I get `AccessDeniedException: 403 Forbidden`. I don't know who owns the k8s GCS bucket.

[2015-04-17 18:33] rrati opened #6993 "Proposal: High Available for Kubernetes Daemons"
@quinton-hoole @lavalamp @bgrant0607 @thockin @davidopp

#473 #6672

The associated PR serves as a design proposal for high availability of kubernetes master daemons

[2015-04-17 18:39] roberthbailey commented on #6991
When you say upgrade the dependency, as you implying that we will only support Docker 1.6+ going forward? I think we have quite a few users that are using older version of Docker on their systems that would still like to run kubernetes.

[2015-04-17 18:40] #6947 closed

[2015-04-17 18:42] #2741 closed

[2015-04-17 18:45] posita commented on #2741
@jameskyle, it looks like my PR was merged (that was fast), but please reopen this if there's something that I missed, especially on the VMWare side.

[2015-04-17 18:49] ConnorDoyle commented on #6991
@roberthbailey As mentioned in the description, a major motivation is to use the new `--cgroup-parent` flag.  I agree, there's no reason to break compatibility with older versions of Docker.  The docker interface... interface already exposes a `Version()`, so we should be able to detect whether the intalled docker supports the new flags.  @guenter, maybe this issue should be renamed to "Add suppor

[2015-04-17 18:55] lavalamp commented on #6884
That is, a *nil* selector = no pods; an *empty* selector = all pods.

[2015-04-17 18:57] roberthbailey commented on #6991
Thanks. Just want to make sure we aren't going to stop supporting older versions.

[2015-04-17 19:00] ConnorDoyle commented on #6993
Tracking issue for related scheduler HA work in the Mesos integration (completed): https://github.com/mesosphere/kubernetes-mesos/issues/15

CC @jdef @guenter @joerg84

[2015-04-17 19:06] ironcladlou commented on #3585
Thank you. This has been plaguing @pmorie and I for days.

[2015-04-17 19:08] #6993 closed

[2015-04-17 19:09] pmorie commented on #3585
@erictune :trophy:

[2015-04-17 19:13] timothysc commented on #6672
Please close this one, and we'll rally on #6995

[2015-04-17 19:21] #6672 closed

[2015-04-17 19:50] bgrant0607 commented on #1743
cc @ironcladlou

[2015-04-17 19:52] #6845 closed

[2015-04-17 19:55] nikhiljindal opened #6999 "ServiceErrorHandler should emit apiversion aware status"
With https://github.com/GoogleCloudPlatform/kubernetes/pull/6881, we are now returning JSON with Status object, for paths that are not handled by the server.
But the Status object is encoded in the latest version. It should be encoded in the version that was requested by the user (which can be computed from the path).

We need to update go-restful for that, so that restful.ServiceErrorHandler is p

[2015-04-17 19:56] smarterclayton commented on #1743
Regarding triggers, I'm not sure whether dependencies (as proposed elsewhere) would solve triggers because of the need for custom annotation data (trigger on deployment change automatically, not when an upstream image changes).  I'd like that to be generic enough that a naive client can observe "auto-trigger" redeployment (where a bunch of controllers can be backing those triggers).

So either a d

[2015-04-17 20:02] derekwaynecarr opened #7001 "kube-apiserver is not restarting when monitored by kubelet"
I am seeing this many times over the course of a few days when working with a development and am unsure the cause.  I bring up a cluster and the apiserver is running fine, and then for some reason, the kube-apiserver container itself fails.

[code]

The kubelet never restarts the kube-apiserver, and the cluster is left in a failed state.

Looking at the kubelet logs, I see messages like the follow

[2015-04-17 20:10] derekwaynecarr commented on #6845
I want to update the Kubectl output to show the desired value if it differs from the status value.  I will look to do that in the next few days.  I think that would eliminate all confusion.

Sent from my iPhone

[2015-04-17 20:11] jdavidmitchell commented on #6912
apt-cache show docker.io displays two versions of docker.io
1.0.1~dfsg1-0ubuntu1~ubuntu0.14.04.1
0.9.1~dfsg1-2
Initially, I did an "apt-get install docker.io"

David

[2015-04-17 20:15] derekwaynecarr commented on #7001
I need to check what the ImagePullPolicy is that we are applying on the pods we provision, but I think in a development environment, it should be ```Never```

[2015-04-17 20:19] bgrant0607 commented on #5799
Totally agree. We might as well do this as part of #3671 and #6584.

[2015-04-17 20:23] bgrant0607 commented on #6584
We should remove references to v1beta1 in the getting-started guides by removing examples of starting pods/rcs/services and linking to examples in /examples. #5799.

[2015-04-17 20:25] derekwaynecarr commented on #7001
ImagePullPolicy is set to ```IfNotPresent```, it's now not clear to me why it is trying to pull at all in the log.  I noticed my above log output chopped off the message from the event, but it shows an error when trying to pull that image.  Will augment when it happens again.

[2015-04-17 20:26] bgrant0607 commented on #7001
cc @erictune

[2015-04-17 20:33] bgrant0607 commented on #6991
Which use of cgroup_parent do you intend? Just to put a box around all pods run by Kubernetes?

cc @vishh @vmarmol

See also #147 and #5980.

[2015-04-17 20:36] AntonioMeireles commented on #6926
/cc @pires

[2015-04-17 20:38] ConnorDoyle commented on #6991
@bgrant0607 I think so, provided a top-level container (and a kubelet flag to set it) be a worthwhile first pass compatible with future plans.  WDYT?

[2015-04-17 20:41] vishh commented on #6991
Our immediate goal are:
1. limit the total resource consumption of all containers that do not have any limits specified (batch),
2. limit system daemon resources usage.

Pod level resource isolation will land after that.

IIUC, what is required for Mesos is to configure kubelet to run itself and all the pods under a configurable cgroup hierarchy. That sounds fine.

[2015-04-17 21:08] ConnorDoyle commented on #6991
@vishh @bgrant0607 cool, I think we're on the same page.

[2015-04-17 21:35] bgrant0607 commented on #5331
@smarterclayton suggests attaching the descriptions to TypeMeta. That would work for top-level API objects.

[2015-04-17 21:39] a-robinson commented on #5629
Should this issue be closed? It doesn't look like the networking test has had any problems the last couple weeks.

[2015-04-17 21:40] #6887 closed

[2015-04-17 21:42] jayunit100 commented on #5629
yup close this guy .  this isnt an issue anymore, it runs generally in 15 seconds or less (on a single node).  Its usually less than a minute on clusters from my experience.

[2015-04-17 21:46] bgrant0607 commented on #6979
We use that pattern to implement "oneof" on the spec side in several places (e.g., VolumeSource), but this may be the only instance of it on the status side:
[code]

I can see how that would be problematic. Would a field indicating the state help, like a tagged union?

cc @thockin @dchen1107

[2015-04-17 21:47] a-robinson opened #7006 "Create Fluentd image that can be easily used as a sidecar container for collecting log files"
We should provide a dockerfile for a pre-configured Fluentd image that can be passed file paths to collect logs from. We'll likely want one for exporting to elasticsearch and one for exporting to Google Cloud Logging, as we have today for the per-node stdout/stderr collectors.

How to collect log files from within a container is a question that comes up occasionally (including [a couple days ago](

[2015-04-17 21:48] #5629 closed

[2015-04-17 21:51] abonas commented on #6979
@bgrant0607 can you give an example of what you meant it should look like?

From my side I meant something like the below.
the point is that that the client can get a key, knowing in advance which key that is, and store its value.
"state": {
"type": "running"
"startedAt": "2015-04-17T14:12:29Z"
}

[2015-04-17 21:58] erictune commented on #5921
@cjcullen  and anyone else following along:

Make secrets at cluster startup. #5470 is in.
That creates the following user accounts, which are relevant to this Issue:
  - system:logging
  - system:monitoring
  - system:dns

It also makes secrets at cluster startup in the default namespace with names:
  - token-system-logging
  - token-system-monitoring
  - token-system-dns

You can see these if yo

[2015-04-17 22:05] bgrant0607 commented on #6971
In general, I recommend trying `kubectl create --validate` to validate your json/yaml.

What version of Kubernetes, what OS distribution, what cloud provider?

What component's logs are you showing above?

[2015-04-17 22:25] bgrant0607 commented on #6962
cc @doublerr

[2015-04-17 22:27] bgrant0607 commented on #6962
See also #5215

[2015-04-17 22:32] bgrant0607 commented on #6937
Which version of Kubernetes are you using?

Have you checked out the debugging FAQ?
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ

cc @jeffmendoza

[2015-04-17 22:38] colemickens commented on #6937
I'm using `master` (from an hour ago, and then previously from a few days ago). Pulled down source, built a release (`build/release.sh`) and then kube-up'd.

I'll walk though the debugging steps and follow #6966 as well, as these are dupes.

[2015-04-17 22:40] colemickens commented on #6937
See also #1482

[2015-04-17 22:41] bgrant0607 commented on #6937
Let's follow up in #6966.

[2015-04-17 22:41] #6937 closed

[2015-04-17 22:41] bgrant0607 commented on #6966
cc @jeffmendoza @colemickens

[2015-04-17 22:42] zmerlynn commented on #6912
I'm sorry, but I think the problem is that you're running quite an old version of docker. We don't support anything below docker 1.4 right now, and even that's been a rough ride occasionally for people - 1.5 is where all the continuous testing is at right now.

[2015-04-17 22:43] bgrant0607 commented on #2678
Please re-open or file a new issue if you're still having problems.

[2015-04-17 22:43] #2678 closed

[2015-04-17 22:44] zmerlynn commented on #5917
@erictune: @mbforbes is working on upgrade testing right now. That said, if we happen to break it ... I'm not sure anyone would run you through the ringer.

[2015-04-17 22:46] bgrant0607 commented on #6966
See also #6576

[2015-04-17 22:46] #6748 closed

[2015-04-17 22:51] ixdy opened #7008 "some gce/gke-specific e2e tests are being unintentionally skipped"
I noticed while running e2e tests locally that some tests were apparently being incorrectly skipped:
[code]

I checked, and this is also true for our Jenkins runs.

Currently it looks like test/e2e/shell.go and test/e2e/kubectl.go have this bug, though only the former actually skips the test, I think.

The issue appears to be that the code inside the top-level `Describe()` in these files is being

[2015-04-17 22:53] bgrant0607 commented on #6966
This sounds like a Salt problem. (See also #2678.) Could you check the Salt logs? https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ documents the locations of the logs.

What version of Kubernetes are you using?

[2015-04-17 22:55] bgrant0607 commented on #6752
Server-side validation: #5889

[2015-04-17 22:56] bgrant0607 commented on #6752
Client-side validation should be possible with `--validate`

[2015-04-17 23:10] #5666 closed

[2015-04-17 23:17] derekwaynecarr commented on #6966
I wonder if it does the same thing that vagrant does which is verify each binary is on the machine when validating there cluster and the move to run more master components in pods makes that check never complete.

Sent from my iPhone

[2015-04-17 23:30] #6518 closed

[2015-04-17 23:30] #6884 closed

[2015-04-17 23:31] colemickens commented on #6966
The util script used to do that, it would access each minion and ensure `which docker` succeeds and that the kubelet is running, but it looks like now it just checks to see if the Kube endpoint is up.

[2015-04-17 23:31] lavalamp opened #7013 "e2e test pod update test flaw"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/pods.go#L304

This is wrong because something else could have updated the pod in the mean time, invalidating your resource version. (Specifically, kubelet writes statuses.) It should do a get/update loop that retries as long as it gets a conflict error.

@quinton-hoole to find an owner

[2015-04-17 23:40] roberthbailey commented on #7008
I merged #6817 and #6875 which tried to disable these tests for non-{gke,gce} but apparently didn't follow-up and verify that they were still running on our platforms. /cc @timothysc

[2015-04-18 00:09] jfoy commented on #6748
We tracked this down to the etcd cluster losing quorum. It's not a kubernetes issue.

[2015-04-18 00:13] roberthbailey opened #7016 "Update kube-up output to print v1beta3 URLs for system services"
Right now at the end of `./cluster/kube-up.sh` I get

[code]

We should update the output to point to the appropriate v1beta3 URL endpoints instead.

[2015-04-18 00:13] roberthbailey commented on #7016
/cc @satnam6502

[2015-04-18 00:30] smarterclayton commented on #5180
We still need to make portal ip assignment asynchronous and post creation - since DNS will require a service cache, I'm tempted to conflate it with #6666, or use it to inform the design.  @thockin opinion?

[2015-04-18 00:31] lavalamp opened #7017 "kube-push makes kubectl unable to find master?"
@ArtfulCoder did you figure this one out? It's now happening to me.

[code]

@jlowdermilk any ideas?

My .kube/config: (with keys and passwords replaced by ...)

[code]

[2015-04-18 00:35] zmerlynn commented on #7017
I thought @jlowdermilk just fixed this?

[2015-04-18 00:36] lavalamp commented on #7017
oh... I am in an old branch, come to think of it...

[2015-04-18 00:41] bgrant0607 commented on #6991
Pod limits is #168, btw.

[2015-04-18 00:41] lavalamp commented on #7017
rebased, it works now. Sorry for the noise!

[2015-04-18 00:41] #7017 closed

[2015-04-18 00:45] dchen1107 commented on #6716
Agreed with @erictune:

1) kube-proxy should panic when hitting out of fd
2) restarted kube-proxy should pick up the crash reason like what we do for internal agent
3) crash reason should be propogated to upstream as an event.

[2015-04-18 00:46] lavalamp commented on #6877
@fgrzadkowski Yeah that should be enough to close this. Although the general mechanism would be nice, too.

[2015-04-18 00:49] smarterclayton commented on #6951
The presence of "deletionTimestamp" is an observable metric that implies a phase.  Are you saying we should impose both?

[2015-04-18 01:14] lavalamp commented on #7017
...except kube-push like updated half of my cluster and connected it with my e2e cluster or something weird like that. Will figure it out later.

[2015-04-18 01:29] derekwaynecarr commented on #2741
If there are issues unique to the non VirtualBox provider, who is signing up to maintain that?  I am fine keeping the general Vagrant setup stable, but I am unable to debug issues specific to virtualization tool.

Sent from my iPhone

[2015-04-18 01:30] bgrant0607 commented on #6804
A quick nit: duration fields should specify the units (e.g., terminationGracePeriodSeconds) or use time.Duration #6013. The former is probably easiest and most consistent for now. If we're going to set it to a non-zero default value, it needs to be a pointer.

[2015-04-18 02:05] posita commented on #2741
Perhaps only VirtualBox will be "officially supported" and the rest will be "community supported"? This ain't my rodeo :horse_racing:, but it seems like with many aspects of Kubernetes, those making use of particular features can contribute to their maintenance? It appears that's how this issue and my attempt at a fix came about in the first place. The volume of this project is explosive (just loo

[2015-04-18 02:06] bgrant0607 commented on #6804
Plug for Borg paper, which mentions termination notice (search for SIGTERM): https://research.google.com/pubs/pub43438.html

Seems reasonable. Thanks for writing up the proposal.

I don't think terminationGracePeriodSeconds needs to be immutable.

I agree that once set it should only be possible to reduce the grace period set via delete, though.

30s seems a reasonable default.

The node controlle

[2015-04-18 02:07] huangqg commented on #6893
thockin, thanks very much for your kindly answers. :-)

[2015-04-18 02:07] #6893 closed

[2015-04-18 02:13] bgrant0607 commented on #1535
I'd like to add a delete reason to DeleteOptions and to ObjectMeta: #1462.

[2015-04-18 02:16] bgrant0607 commented on #6804
If we send SIGKILL at the same time or after the etcd TTL expires, then we'll still have the problem mentioned by #6951 where events are generated after the namespace is deleted. I don't know how to resolve that without leaving around the namespace for a while as a tombstone.

[2015-04-18 02:17] jdavidmitchell commented on #6912
No problem.  I upgraded to:
ii  lxc-docker                          1.6.0                                amd64        Linux container runtime
ii  lxc-docker-1.6.0                    1.6.0                                amd64        Linux container runtime

I downloaded kubernets into a new folder, and now make release works.

Thanks.

[2015-04-18 02:36] jfoy commented on #2890
We've just developed some automation in-house for deploying Kubernetes on Fleet within Vagrant. Based on that work, we're adapting the existing salt-based [cluster/vagrant](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/vagrant) implementation into a set of fleet-vagrant scripts, which could become a fleet-vagrant provider. I'll link to a PR here as we have something to show

[2015-04-18 02:53] bgrant0607 commented on #6951
Yes, deletionTimestamp is intended to provide the indication, in addition to the container's response reflected in the Ready condition.

Adding a Vacating phase would be a breaking API change. It would mean that every client/component that checked Running would need to also then consider Vacating to be Running:
[code]

This is also discussed https://github.com/GoogleCloudPlatform/kubernetes/issues

[2015-04-18 03:12] davidopp commented on #6804
The proposal seems reasonable. I agree putting the requested grace period in PodSpec makes sense. I don't see any reason why it has to be non-user-updatable, but I guess it makes things a little simpler and probably updating isn't a feature many people would need anyway.

I didn't understand where the 60 sec came from in the third bullet. Can you explain?

I wanted to make sure I understand the co

[2015-04-18 03:27] bgrant0607 opened #7018 "Create the v1 API"
We're still finishing loose ends on v1beta3, but we need to clone it into the v1 API soon, and stop making breaking changes to v1beta3. As with v1beta3, v1 shouldn't be exposed by default and shouldn't be the latest API version until we freeze it.

[2015-04-18 03:30] bgrant0607 commented on #7016
Ref #5475 and #6584. cc @nikhiljindal

[2015-04-18 03:54] davidopp commented on #6951
I don't have a philosophical objection to adding more phases but I do think we should try to avoid redundant representations of the same information within the server. IIUC, deletionTimestamp != 0 would be redundant with podPhase==vacating, so I don't think we need the latter. I do think the client will want to synthesize some nice human-readable set of states larger than the set we are providing

[2015-04-18 04:19] bgrant0607 commented on #6951
Honestly, since Phase is such a honeypot, I'm tempted to delete it from the API and just create more conditions.

[2015-04-18 04:21] bgrant0607 commented on #6951
I agree w/ @davidopp re. redundancy.

We definitely should also enhance the presentation in kubectl and any UIs.

[2015-04-18 04:24] satnam6502 commented on #7006
A controller that keeps one instance of a pod alive on each node would be useful for this. Shall I go ahead and write such a controller?

[2015-04-18 04:29] satnam6502 commented on #7016
And as a minor nit, not all of those URLs need a trailing slash hack e.g. I don't think it is required for Elasticsearch. I think @piosz most recently worked on this code?

[2015-04-18 05:04] nkwangleiGIT commented on #6893
thockin, thanks for your kindly help, your comments are really helpful for us!

[2015-04-18 05:08] derekwaynecarr commented on #2741
Thanks

Sent from my iPhone

[2015-04-18 05:10] smarterclayton commented on #6804
As noted in another thread all describe and get formatters in kubectl need to handle the pending deletion state.

[2015-04-18 05:53] legal90 commented on #2741
@derekwaynecarr @posita Yes, I can help with issues related to Parallels Desktop for Mac and to the provider for Vagrant (["vagrant-parallels"](https://github.com/Parallels/vagrant-parallels))

[2015-04-18 07:03] bgrant0607 commented on #6951
Proposal:

1. Add LastTransitionTime, Reason, and Message to PodCondition (similar to NodeCondition)
2. Add new PodCondition types: Initialized, Instantiated (implies fully physically instantiated, not necessarily functional), Terminated, more as necessary
3. Add Conditions to whatever other objects currently have Phase but not Conditions
4. Add deletion reason to metadata
5. Eliminate *.Phase and

[2015-04-18 07:17] a-robinson commented on #7006
Would it be? This is intended to run as a sidecar container in a pod with the user's actual application. I think a pod-per-node controller is orthogonal (and is being discussed in #1518 and #3058).

I'll create the actual Dockerfile, and a quick example of how to use it.

[2015-04-18 07:38] chaubeau commented on #6971
When I run the command `kubectl --validate  create  -f c.json --server="10.42.52.20:8080"`, print out the following information:

[code]
Kubernete version:  v0.7.2 OS version: CentOS 6.5

[2015-04-18 07:50] ajazam commented on #6730
Can't help myself ;)

I've just done a git update of my copy of kubernetes from github and

taskset 2 make

and I have no errors. So I've made progress. The most recent commit I have is eb1ea269954da2ce557f3305fa88d42e3ade7975

[2015-04-18 14:02] derekwaynecarr commented on #6804
One way to solve the namespace issue is to have each node that has a scheduled pod in a namespace claim itself as a named finalizer on the pod namespace.  Then when the node is no longer managing any pods with that namespace it removes itself from the finalizer list after it dispatched the events for the pod.

Another option is to stop auto provision of a namespace for v1 and require explicit crea

[2015-04-18 15:42] jdavidmitchell commented on #6912
I spun up a new VM on AWS using ubuntu-trusty-14.04-amd64-server-20150325 (ami-d05e75b8)

I installed the latest version of docker (1.6).

Now, with "build release" I am getting the following:
ok      github.com/GoogleCloudPlatform/kubernetes/plugin/pkg/auth/authenticator/token/tokenfile 0.010s
ok      github.com/GoogleCloudPlatform/kubernetes/plugin/pkg/scheduler  0.010s
ok      github.com/Google

[2015-04-18 16:37] thockin-cc commented on #6730
Well that's good... Bug closed?
On Apr 18, 2015 12:50 AM, "ajazam" <notifications@github.com> wrote:

[2015-04-18 16:38] thockin commented on #6893
You are very welcome, I hope it helps.
On Apr 17, 2015 10:04 PM, "WangLei" <notifications@github.com> wrote:

[2015-04-18 16:41] satnam6502 commented on #7006
Sorry, my rush to catch up I think I mis-understood this thread.

[2015-04-18 17:51] jdavidmitchell commented on #6912
On my second try, it worked.

[2015-04-18 17:51] #6912 closed

[2015-04-18 18:02] ajazam commented on #6730
yes, thanks

[2015-04-18 18:02] #6730 closed

[2015-04-18 19:35] justinsb opened #7025 "https://bootstrap.saltstack.com/ SSL cert has expired"
Today, April 18 2015.  I think this breaks aws, vagrant & vsphere.

I will file upstream.

[2015-04-18 19:49] smarterclayton opened #7027 "Validation errors should be printed in multiline format by kubectl"
422 Invalid should result in an error message in kubectl like:

[code]

`cmd/util/helpers.go#CheckErr` should handle the display of an APIStatus with Causes more effectively

[2015-04-18 20:36] TamerTas commented on #6951
+1 for Vacating PodConditionType. It would be helpful when Kubernetes has a Job Controller to manage workloads like batch processing and cron jobs.

[2015-04-18 21:34] smarterclayton commented on #1513
Now that exec has landed and is looking pretty stable, some followups to look at:

### Variants on nsenter that are more aligned with the container

We've talked before about extending nsinit from docker to be a true "execute in running Docker container" process, like rockets' equivalent.

### Taking the proxies out of the loop (or at least, the kubelet proxy)

Instead of using nsenter to run the

[2015-04-18 21:42] davidopp commented on #6951
To avoid confusion, Conditions should be orthogonal. The ones you suggested -- Instantiated, Initialized, and Terminated -- don't seem to be orthogonal (in fact I would expect a pod to transition from FFF to TFF to TTF to TTT). What you've described sounds more like a state machine than a set of orthogonal conditions, and I think Conditions should only be used for the latter.

Just adding a Vacati

[2015-04-18 22:13] smarterclayton commented on #6859
When latest is not specified there should never be a get.  Probably something should be using the lazy resolver.

[2015-04-18 22:29] amontalban opened #7028 "Rebooting a node makes docker daemon fail to start"
Hey guys,

I'm trying to follow this guide that was provided during Kubernetes Workshop:

https://docs.google.com/document/d/1q3MuEDyghasoIvWDO4L5kFtFt813OYzjHtW5ET7WGRk

And then when I tried to test if the controller started a new pod when I powered off the node where the pod is running it took some time to detect that the node was down and start new pods on a healthy node.

After I start the no

[2015-04-18 22:31] roberthbailey commented on #7008
Seems easy enough to fix. I'll have a PR out to fix this before Monday.

[2015-04-18 22:33] roberthbailey commented on #7028
doesn't what?

[2015-04-18 22:36] amontalban commented on #7028
Hey guys,

I'm trying to follow this guide that was provided during Kubernetes Workshop:

https://docs.google.com/document/d/1q3MuEDyghasoIvWDO4L5kFtFt813OYzjHtW5ET7WGRk

And then when I tried to test if the controller started a new pod when I powered off the node where the pod is running it took some time to detect that the node was down and start new pods on a healthy node.

After I start the no

[2015-04-18 22:42] roberthbailey commented on #7028
@amontalban - Thanks for the bug report. This definitely seems like a problem on the node that should have been detected and resolved automatically by the system.

/cc @zmerlynn who has been looking at reboots recently.

@dchen1107 - shouldn't the kubelet detect an unhealthy docker daemon and refuse to start? And monit should notice that the docker daemon is unhealthy and restart it as well.

[2015-04-18 22:53] justinsb commented on #6910
@ArtfulCoder  that is a really good simplification.  If we have cluster-wide ports, then internal/external is probably the only distinction we need to make, and src-IPs should suffice without any additional tweaks.

I might try this and see whether it works :-)

[2015-04-19 02:17] liggitt commented on #6859
Named resources were always being fetched, which is almost always what you want, but not in the case of a delete. Opened a PR with an option to skip that fetch, and used it from `kubectl delete` (with a test)

[2015-04-19 04:42] justinsb commented on #7025
They have fixed it now!

[2015-04-19 04:42] #7025 closed

[2015-04-19 10:39] preillyme commented on #6676
@jdef I vote for ```contrib```. But I'd be curious to know what @brendanburns thinks.

[2015-04-19 12:18] preillyme commented on #5706
I'm seeing the following with vagrant:
[code]

[2015-04-19 17:04] thockin-cc commented on #5706
When I saw this it was because my build machine was misconfigured such that
docker containers could not access internet or could not do DNS lookup.

docker run -ti busybox ping github.com
On Apr 19, 2015 5:18 AM, "Patrick Reilly" <notifications@github.com> wrote:

[2015-04-19 20:20] davidopp commented on #6558
OK, so this issue just boils down to removing HostIP from PodStatus, and we'll discuss the rest in #6949 ?

[2015-04-19 20:42] davidopp commented on #6454
@xiang90 Does that answer your question? Sounds like you should use an n1-standard-1 and 10G PD.

[2015-04-19 20:54] xiang90 commented on #6454
@davidopp Yes. Thanks!

[2015-04-19 21:05] #6454 closed

[2015-04-20 01:06] benmccann commented on #5224
@justinsb looks like you implemented option #1 in https://github.com/GoogleCloudPlatform/kubernetes/pull/5228. should we close this issue now?

[2015-04-20 02:33] benmccann opened #7034 "Link to docs from website"
I don't see a link to [the documentation](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs) anywhere on [kubernetes.io](http://kubernetes.io)

[2015-04-20 02:34] justinsb commented on #5224
Yes, I believe this is fully implemented now (although we haven't merged ELB support itself quite yet).  Closing - thanks!

[2015-04-20 02:34] #5224 closed

[2015-04-20 02:57] brendandburns commented on #7034
Accepting this to me, I'll work w/ the docs folks to get it added.

Thanks for the suggestion!
--brendan

[2015-04-20 02:58] benmccann opened #7036 "AWS doc improvments"
I was looking at playing around with a k8s cluster on AWS, but am left with some questions that aren't answered in the [getting started guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws.md). CC @justinsb the resident AWS expert :-)

* Can I create my cluster with some number of nodes other than 4?
  * Looks like the script is calling [cluster/kube

[2015-04-20 02:58] brendandburns commented on #7028
Triaging to Dawn, feel free to re-assign.

[2015-04-20 03:01] timothysc commented on #6676
+1 to contrib, pretty standard.

[2015-04-20 03:05] brendandburns commented on #7036
Some Answers:
  * You can create a cluster with different sizes, either set the ```$NUM_MINIONS``` environment variable before cluster turn-up, or edit ```cluster/aws/config-default.sh```

  * Yes, that script does the bulk of the work to do the setup of the servers.  And yes, Salt is used for a bunch of the binary install/machine configuration

  * No, you can create public facing services, but i

[2015-04-20 03:52] justinsb commented on #6910
Just put up #7038 - a proof of concept that @ArtfulCoder's idea works - thanks!

[2015-04-20 07:25] wojtek-t commented on #6753
@davidopp so far I didn't think about it at all - Jenkins is storing those results and it's configurable how long it should store them (we should probably change it to be long enough).

[2015-04-20 07:33] fgrzadkowski commented on #6753
One of the options is to use prometheus service that will collect some metrics and store them. It will allow us to query this data and create some dashboards. See #6753.

[2015-04-20 08:41] ArtfulCoder commented on #6910
@justinsb just went over your POC PR. The PR was put together quickly!
It looks good!

[2015-04-20 08:57] fgrzadkowski commented on #3118
@mwielgus

See #6981, which is closely related. I think that we should use Prometheus server for this to be consistent with the current mechanism to expose metrics.

[2015-04-20 08:59] fgrzadkowski commented on #6981
@roberthbailey

 We have a community contributor (@mwielgus, Googler from a different team) who offered his help to set this up.

[2015-04-20 09:37] bnprss opened #7042 "fixed path for safe_format_and_mount in kubelet break coreos on gce"
Hi,

Kubelet on gce is looking for safe_format_and_mount in /usr/share/google but in coreos the path is /usr/share/oem/google-startup-scripts/ on RO partition.
I must compile kubelet to reflect the new path, instead of setting a simple parameter.

Best regards

[2015-04-20 11:19] KSanthanam commented on #4860
@satnam6502 Are you able to overcome this issue? I am getting the same issue.

[2015-04-20 12:11] kbeecher commented on #5933
I'm interested in taking this one. I'd like to clarify a couple of things...

From reading @derekwaynecarr's 1st and 2nd messages, there seems to be two issues...
1. After deleting a namespace, that namespace's entry remains in etcd (and should be deleted).
2. After every resource within a namespace has been deleted, the (now empty) namespace should be deleted as well.

Have I understood that corr

[2015-04-20 12:20] mfojtik opened #7043 "Use IntOrString for numeric types (like 'replicas') to make them parametrizable"
I propose to use the `IntOrString` type in all numeric fields in `api/types.go` and drop the `int` type.
The reason is, using this type allows you to parametrize the numeric fields in JSON:

[code]

Secondary, you don't need to guard whether the field is type `string` or `int` in the JSON and using quotes for numeric values won't break the serialization.

https://github.com/GoogleCloudPlatform/kub

[2015-04-20 12:20] mfojtik commented on #7043
@smarterclayton FYI.

[2015-04-20 12:46] timothysc commented on #6981
2 requirements I'd like to impose:
1. The test setup is publicly available.
2. The results are published nightly and also publicly available.

Questions:
1. How are we planning to collect results over time to detect regression, or does prometheus store history?
2. This issue looks like an implementation of #3118, should we close one or the other?

[2015-04-20 13:19] erictune commented on #7043
@bgrant0607

[2015-04-20 13:34] smarterclayton commented on #7043
Hrm - I don't think we should do this.  Numbers are numbers - I think the parameterization is a problem with the Openshift template mechanism.  Dropping everything to strings breaks other things.

We may want to *not* use internal objects (or deserialization) in our templating so you can store objects that don't match their schema.  Then we can add something to parameters which says "this should b

[2015-04-20 13:48] marekbiskup opened #7044 "Unclear error message from cluster/kubectl.sh resize"
I'm following the example docs/getting-started-guides/gce.md
I created a nginx cluster as suggested:

cluster/kubectl.sh run-container my-nginx --image=nginx --replicas=2 --port=80

Then I'm trying to play with random commands:
biskup@cathedral:~/go/src/github.com/GoogleCloudPlatform/kubernetes$ cluster/kubectl.sh resize -h
...

And:
biskup@cathedral:~/go/src/github.com/GoogleCloudPlatform/kuberne

[2015-04-20 14:25] derekwaynecarr commented on #5933
@kbeecher

The issue is related to how nodes are structured in etcd.

If you create a namespace, you get a node in etcd at the following path:

```/registry/namespaces/foo```

If you add content to that namespace, you get content in a path structure dependent on the resource type.  So for example, if you add a pod `bar` to the namespace foo, you get a node in etcd at the following path.

```/regis

[2015-04-20 14:51] roberthbailey commented on #6981
@fgrzadkowski That's great! Please also sync with @justinsb to see if it makes sense to combine this with the e2e testing dashboard he started hacking on in #6605.

[2015-04-20 14:54] timothysc commented on #6753
@wojtek-t fwiw- I would like to move some "scalability" tests out of density, b/c they currently fail and IMHO are conflated.

[2015-04-20 15:08] wojtek-t commented on #6753
@timothysc: those tests are flaky, but I think that's because the system is not very reliable for big clusters. But I see a significant different with what was happening 5 days ago.

[2015-04-20 15:10] wojtek-t commented on #6800
I've started writing some code for it on Friday and spent some time today on it. I will try to send out some WIP PR tomorrow to start more technical discussion on it.

[2015-04-20 15:12] fgrzadkowski commented on #6981
@timothysc Prometheus server stores data on a disk, so we can point to GCE Persistent Disk so that we will have all the history in one place.

[2015-04-20 15:14] erictune opened #7046 "Kube-addons should be upgradeable"
If config in cluster/addons changes, then I'd like to be able to upgrade my cluster to pick it up.

The folks designing upgrades should decide how this is accomplished.  Probably one of:
  1. Do a kube-push, salt runs, kube-addons runs again, and it patches the existing configs.
  1. A specific upgrade script runs.

If 1 is the plan, then several things are broken at the moment.
 - When you try to

[2015-04-20 15:15] ArtfulCoder commented on #6910
During pre-routing, we might also want to ignore traffic  if source ip matches the hostip of any minion/master. Similar to ignoring traffic if source ip falls in the container cidr range.

[2015-04-20 15:16] fgrzadkowski commented on #6981
One thing we need to think longer term is which monitoring environment we use. Heapster writes data to InfluxDB and Grafana. However all our components use Prometheus compatible metrics.

One of the options is that Heapster will expose metrics in Prometheus format. Other option (using InfluxDB for everything) is harder IMO, because it will require custom code to push metrics to InfluxDB in every b

[2015-04-20 15:18] jayunit100 commented on #6183
ill be adding these, finally this wk.  sorry about the delay on this.   Currently fixing the `--namespace` option.  i'll have an examples/ e2e test PR  by wednesday or eariler most likely... assuming the ns patch goes in shortly.

[2015-04-20 15:23] roberthbailey commented on #6981
/cc @a-robinson

[2015-04-20 15:24] roberthbailey commented on #7046
/cc @zmerlynn @mbforbes

[2015-04-20 15:26] erictune opened #7047 "Want create-or-update command for kubectl"
If you want to build a shell script to reconcile a config file with the state on the apiserver, it is convenient to be able to do "create or update" in a single command.

[2015-04-20 15:34] satnam6502 commented on #4860
I've not seen this error message recently.

[2015-04-20 15:57] erictune opened #7049 "Want to pull logs from master components, but node not found"
[code]

That is because we don't register the master node.
We should register the master node, but somehow make it unable to schedule normal work, such as marking it unschedulable.

[2015-04-20 16:01] erictune commented on #7049
@ArtfulCoder who worked on the apiserver in a pod

@roberthbailey who is working on node registration.

[2015-04-20 16:06] dchen1107 commented on #7049
This is a known issue: #6428

[2015-04-20 16:08] bgrant0607 commented on #7043
I agree w/ @smarterclayton -- we should not do this. It's effectively a request to use strings for all elements in the API -- not only to replace ints, but all non-string types.

In order to convert from versioned to internal types, defaulting and conversion will be applied. Parameterization would confuse those transformations.

The parameterized templates need to be stored in a more generic form.

[2015-04-20 16:13] thockin commented on #7043
Agreeing with Clayton - parameterization should be happening before the API
server gets involved, I think.

On Mon, Apr 20, 2015 at 6:35 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-20 16:15] thockin commented on #7018
Do we have a list of candidate changes for v1 as compared to v1b3?

On Fri, Apr 17, 2015 at 8:27 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-20 16:15] erictune opened #7050 "Not able to connect to any of the cluster-addon services"
I cannot connect to any of the cluster addon services, using the urls provided by `kubectl cluster-info`.  My cluster works fine otherwise.
When I try to connect to the `.../proxy/...` url, I get a basic auth dialog, and then I enter user admin, and my password, which is working fine for kubectl, and it just shows me a new blank basic auth dialog.

[2015-04-20 16:19] zmerlynn commented on #7046
Yeah, this is going to need work for v1.0. It actually runs infinitely to prevent you from running again, because salt was doing the wrong thing for a while, but the object issue is the much larger one. If the add-ons are now in their own namespace, I think we should just destroy the namespace and start over.

[2015-04-20 16:23] zmerlynn commented on #7028
When you ssh'd in, I assume you probably saw the broken node setup warning? I think this is just a dupe of #6930, which would leave a node in a broken state where `salt` never gets called, which would result in `cbr0`.

[2015-04-20 16:29] quinton-hoole commented on #7028
I think that we need an end-to-end test for this, as it's a basic kubernetes feature for which I don't think that we have any test coverage yet.  We might alternatively be able to build a suitable integration test, which should be faster to run.  I'll open an issue for that now.

[2015-04-20 16:30] erictune commented on #7050
Problem was I had a stale .kubeconfig and a new ./kube/config, and got the password from the wrong one.  Sorry for noise.

[2015-04-20 16:30] #7050 closed

[2015-04-20 16:32] zmerlynn commented on #7028
Yeah, I was going to write one as part of #6930, but it takes about 5m right now to reach a stable state. It's absolutely NOT an integration test. It basically has to be a shell test that calls `ssh-to-node reboot`.

[2015-04-20 16:33] zmerlynn commented on #7028
I'm a little resistant to add that to our existing e2e runs. I've been thinking a "fat" nightly suite where we could dump stuff like that.

[2015-04-20 16:34] bgrant0607 commented on #7018
Mostly this is intended to be a rename of the API.

Possible changes:
* cleanup ContainerStatus/ContainerState (`s/termination/terminated/`, reconsider use of "State", key vs. value #6979)
* eliminate Phase #6951
* eliminate most volume sources
* split API into multiple prefixes #3806

[2015-04-20 16:35] quinton-hoole opened #7051 "Write tests for dead node evacuation and rebooted node population"
#7028 refers.  I don't think that we have integration or e2e tests for:

1. When a node loses power, RC-managed pods on that node are rescheduled to a new node within a suitable time period (consistent with the system configuration).
2. When a node regains power and boots up, it comes up healthy and can successfully host pods.

[2015-04-20 16:36] quinton-hoole commented on #7051
Note.  It's not yet clear to me whether an integration or e2e test is more appropriate here.  An integration test would run faster, if it's feasible.

[2015-04-20 16:38] dchen1107 commented on #7028
@roberthbailey Like @zmerlynn mentioned above, it looks like cluster / node initialization issue, most likely related to configure_vm.sh.

[2015-04-20 16:40] bgrant0607 commented on #6951
@davidopp I intended the conditions to be independent properties. For instance, termination wouldn't cause a pod to become uninitialized. The intent is to eliminate the need for switch statements to infer these properties.

[2015-04-20 16:41] zmerlynn commented on #7051
An integration test won't catch anything related to #5666 / #6930 / #7028.

[2015-04-20 16:48] zmerlynn commented on #7051
It's a fine test for shooting kubelet in the head and seeing what happens, but we need a physical reboot test as well. Unfortunately, until we get some of the packages baked into the node and fix a few things related to the way the release is staged in the release bucket (no md5 sums, for instance), it can be on the order of 5m for GCE. I'm loathe to add that as an e2e today. As I mentioned in htt

[2015-04-20 17:04] thockin commented on #7018
Can I add "make some optional fields into pointers for clearer denotation" ?

I am torn on volume sources.  I am reviewing PV stuff still, I am just
nervous about how new it is..

On Mon, Apr 20, 2015 at 9:34 AM, Brian Grant <notifications@github.com>
wrote:

[2015-04-20 17:06] lavalamp opened #7052 "Urgent: Timeouts not counting as failures in travis OR shippable"
Take great care merging!

Example PR #6989 run (look at the "succeeded" builds):

https://app.shippable.com/builds/553207173ef75c0c00a39b55

https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/59007463

[2015-04-20 17:16] quinton-hoole commented on #7028
zmerlynn@ agreed, rather run fat tests like that less frequently.  The scalability tests similarly run less frequently.  Perhaps you can add other fat tests there?

[2015-04-20 17:18] sdminonne commented on #341
@bgrant0607 just added a PR https://github.com/GoogleCloudPlatform/kubernetes/pull/7053 as a possible implementation. More info inside the PR.

[2015-04-20 17:31] lavalamp commented on #6518
@fgrzadkowski would love to know if this made any detectable difference. :)

[2015-04-20 17:32] quinton-hoole commented on #7052
Somewhat related, #7008 (bug) and #7029 (fix, as yet unmerged) mean that "guestbook" and "shell" e2e tests are being silently skipped on all platforms since Wed last week (4/15).  #7029 should merge shortly and resolve the issue.

[2015-04-20 17:53] smarterclayton commented on #6014
This is becoming very important for us - knowing that a restart always pod is crash-looping is turning into a big blocker.  I think we should be showing the time a container last started in the pod list, probably (https://github.com/GoogleCloudPlatform/kubernetes/pull/6361 is good but Get is important as well).

[2015-04-20 17:55] smarterclayton commented on #6014
May want to tie in ContainerStateTerminated along with most recent container start time - if we *died* vs were intentionally restarted, that's important.

[2015-04-20 18:28] #6308 closed

[2015-04-20 18:34] #4568 closed

[2015-04-20 18:34] #4596 closed

[2015-04-20 18:41] roberthbailey opened #7057 "Create e2e util function for checking cloud provider"
From #7029. @quinton-hoole suggests something along the lines of `ProviderEquals(string) bool`

[2015-04-20 18:48] brendandburns commented on #6555
Closing this in favor of #6611 and #6890

[2015-04-20 18:48] #6555 closed

[2015-04-20 18:50] ixdy commented on #7052
From the Travis run,
[code]

So it looks like either the shell script is eating the exit code, or the test is exiting 0 even when tests fail. Similarly for Shippable, it seems.

[2015-04-20 18:53] ixdy commented on #7052
I think #6899 broke this. It appears that `hack/test-go.sh` will *always* exit 0, even when tests fail or timeout. We should revert this change ASAP.

[2015-04-20 19:11] lavalamp commented on #7052
Fixed by #7058

[2015-04-20 19:11] #7052 closed

[2015-04-20 19:27] jayunit100 opened #7060 "E2E : fix api version flag in kubectl"
Looks like a recent change to examples/ directory `v1beta3` defaults broke our kubectl e2e.  fixing now... PR in flight

[2015-04-20 19:40] yujuhong commented on #6014
`kubectl get pods` already displays the container names and images as below.

[code]

How about we add the container statuses using the same format?
[code]

The restart counts accumulate over time; the container_created time can help identify problematic containers along with the restart count. The user can always run `kubectl describe pod_name` for more details after seeing unusual signals from t

[2015-04-20 20:03] smarterclayton commented on #6014
We could possibly just show a column which is "LAST START" or something which is the container's "<time since last start>, <reason>".  I don't think showing all the containers is most useful - you probably want the "this is failing and restarting" to pop out at you.

----- Original Message -----

[2015-04-20 20:18] dchen1107 commented on #6014
We already reported lastTerminatedState for each container, populating such information for "kubectl get pods id" maybe is good enough for now?

[2015-04-20 20:20] yujuhong commented on #6014
I spoke to @vmarmol, and he corrected me on the current status. We now display the container row by row in `get pod`, so the containers could just reuse the columns from the pods.

E.g.
[code]

We could simply populate the  container status for each row of containers.

[2015-04-20 20:22] fabioy commented on #5946
PR #6597 should have fixed this.

[2015-04-20 20:22] #5946 closed

[2015-04-20 20:26] dchen1107 opened #7066 ".kube/config is never regenerated for e2e test once removed"
I tried to bring up a e2e test cluster, and ran into several issues. Most of issues are transient, and would be disappeared after several runs until I ran into an issue in which 'kubectl cluster-info' reports a minion IP as master node's IP:

[code]

[code]

I ran into this problem before, but it is transient too. Based on my previous experience, removing wrong config file which records wrong IP s

[2015-04-20 20:28] zmerlynn commented on #5890
Now that #6597 is in, I think we should close this and wait.

[2015-04-20 20:28] #5890 closed

[2015-04-20 20:35] zmerlynn commented on #7066
How recent is your branch? Does it have #7012 in it?

[2015-04-20 20:36] zmerlynn commented on #7066
(The part where it loses its mind right after `Running: get status` makes me think it doesn't.)

[2015-04-20 20:38] dchen1107 commented on #7066
Yes, I think my branch just missed that PR,and it sounds very promising. Thanks!

[2015-04-20 20:39] smarterclayton commented on #6014
I'm thinking that get is for "at a glance" - I really only need to know "when was this container last restarted, and why did it restart" in a succinct way (as you note, we can dig into describe).  If we spend more than 20 characters on it, it's probably too much.

----- Original Message -----

[2015-04-20 20:43] zmerlynn commented on #7066
Actually, that may not be exactly the right one. I was thinking of #6954. But ohwell. If you update to the latest set of things, you may have better luck. :)

[2015-04-20 20:53] dchen1107 commented on #6014
@smarterclayton +1 on get is for "at a glance". A clarification from previous comment: "when and why this container restarted" can be retrieved from lastTerminatedState for each container.

[2015-04-20 20:54] alex-mohr opened #7069 "API server should export usage metrics"
Feature request: it'd be nice to have apiserver export various API usage metrics.
- How many QPS each client-id is generating.
- How many QPS of each request and resource type (possibly broken down by client-id to differentiate between various automated components and external users?)
- Time since (or timestamp of?) last API call by a client id.

Filing this as a tracking item -- feel free to add

[2015-04-20 20:54] timothysc commented on #5933
@derekwaynecarr is this on the roadmap for 1.0?

[2015-04-20 20:59] smarterclayton opened #7070 "Proposal: change how api.List is handled internally"
Currently, api.List uses runtime.RawExtension for its serialized versions which is specific to JSON.  In order to make client operations that rely on raw objects (anything not recognized by the scheme) safer, I'd like to take the first few steps to handle a new type of runtime object, an "opaque" object which is a map[string]interface{} that is safely serializable to JSON, but can be introspected

[2015-04-20 21:02] dchen1107 opened #7071 "Remove fqdn dependency for node name for GCE"
Actually appending fqdn suffix already causes issue for non-resolvable node names based on @cjcullen today:

Today when NodeController "registers" nodes in SyncCloud by getting bare instance names (https://github.com/GoogleCloudPlatform/kubernetes/blob/9949936b5ce9d205328269ea304db4ab5dce5a67/pkg/cloudprovider/gce/gce.go#L101) from GCE, and recreating the fqdn and append it to instance names(https

[2015-04-20 21:19] derekwaynecarr commented on #5933
@timothysc i would like this fixed for 1.0, but I would appreciate community help if folks have cycles.

[2015-04-20 21:19] timothysc commented on #6951
@bgrant0607 would it be possible to create a state diagram for pod-states w/edges, for the proposed changes.  I'm certain this would rectify the confusion.

[2015-04-20 21:25] timothysc commented on #341
FWIW I think a non-touring complete config language such as HCL, would eventually yield the descriptive power and syntax to provide complex matching.

[2015-04-20 21:59] quinton-hoole commented on #7066
Closing for now.  dchan1107@, feel free to re-open if you're woes are not resolved.

[2015-04-20 21:59] #7066 closed

[2015-04-20 22:07] timothysc commented on #5933
#7018

[2015-04-20 22:07] yujuhong commented on #6014
I agree with @smarterclayton and @dchen1107 that this information should be for "at a glance". My point in the previous comment was that we *already* displayed one container per row in `get pods`, so we could just reuse the columns there. We will need to shift the rows down one row, so that the first row is dedicated to the pod itself. For other rows, we could show:
[code]

E.g.
[code]
We could al

[2015-04-20 22:10] roberthbailey commented on #7057
And this is being fixed in #7029 instead of after the fact.

[2015-04-20 22:10] #7057 closed

[2015-04-20 22:14] yujuhong commented on #6764
Closing this issue because #7048 parallelized the container killing in SyncPods.

Pushing container killing to pod workers would be easier and more meaningful after termination notice (#6804) is defined.

[2015-04-20 22:14] #6764 closed

[2015-04-20 22:26] #6898 closed

[2015-04-20 22:27] jlowdermilk commented on #3800
Update: as of #6691 there are no active users of `--auth-path`. Should be safe to rip it out of clientcmd now.

[2015-04-20 22:34] smarterclayton commented on #6014
SGTM

----- Original Message -----

[2015-04-20 22:39] #7008 closed

[2015-04-20 22:40] fabioy commented on #6658
PR #6597 added a "componentstatus" API, which is the versioned endpoint of "/validate". Closing this issue.

[2015-04-20 22:40] #6658 closed

[2015-04-20 23:19] derekwaynecarr commented on #7018
I would like to see us support

delete /namespace/foo/pods

This would delete all pods in namespace foo.

It would literally delete the folder node that contained all pods in that namespace in etcd.

[2015-04-20 23:22] bgrant0607 commented on #7018
Maybe another pass on /containerstatuses, which was prematurely merged #6597.

[2015-04-20 23:25] bgrant0607 commented on #7018
We shouldn't need to wait until v1 in order to change the Go structs.

[2015-04-20 23:34] vmarmol commented on #6764
@yujuhong why would pushing to pod workers with the termination notice? If anything it seems like the other way around, termination would be easier if killing was done by pod workers.

[2015-04-20 23:35] smarterclayton commented on #6487
OpenShift added an "edit" command that uses your shell / system editor to edit a resource (open kubectl get in vi, save with kubectl update).  I'll port it to Kube once I have support for merge patches on conflicts, but it would benefit from annotation of fields from swagger like the items below.

----- Original Message -----

[2015-04-20 23:46] fabioy opened #7080 "verify-description.sh doesn't seem to be triggering API json errors correctly"
PR #6597 had a few errors in its API objects, where the "description" field errors in its JSON declarations were missing. But, the "verify-description.sh" presubmit check didn't flag them. This should be investigated and fixed.

[2015-04-20 23:47] erictune opened #7081 "Pod API Clients, Certificates, and Pod External API Clients"
Some requirements:
- Pods that need to reach the APIserver need to know where it is.
- The method should support multiple apiservers.
- The client needs to know what name to expect on the cert that the master presents.
- The client needs to know what root CAs it trusts for the master's cert when setting up TLS with the master.
- The client needs to know what root CAs it trusts when establishing TL

[2015-04-20 23:47] erictune commented on #7081
@roberthbailey @thockin @cjcullen @ArtfulCoder we have talked about these issues.

[2015-04-20 23:52] thockin commented on #7018
I was specifically thinking about #6735 which would change the default
value of replication controller.

On Mon, Apr 20, 2015 at 4:25 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-21 00:04] bgrant0607 opened #7085 "Update Condition-related description tags"
PodCondition and NodeCondition description strings were not updated when changing Full/None to True/False, nor when removing the Schedulable condition.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L746
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1140

cc @davidopp @gmarek

[2015-04-21 00:23] lavalamp commented on #6800
Looking forward to it :)

[2015-04-21 00:33] bgrant0607 commented on #7018
Ah right, default of 1 replica rather than 0 replicas.

There's also the issue of changing the default cleanup behavior of replication controllers, as discussed in https://github.com/GoogleCloudPlatform/kubernetes/issues/1535#issuecomment-91413501

[2015-04-21 00:56] yujuhong commented on #6764
I might have overstated by saying it'd be *easier*. What I really wanted to say was that "termination notice" and "killing by pod workers" should be designed together.  Termination notice definitely needs killing by pod workers so that it'd not unreasonably degrade kubelet's performance.

On the other hand, it also *seemed* like that termination notice would work better with the per-pod workers. C

[2015-04-21 01:00] #7071 closed

[2015-04-21 01:13] smarterclayton commented on #6800
Slightly related to this, at least in terms of structure, is that I'm considering a different approach for unrecognized objects embedded in Lists and config formats that would allow better consumption by generic tools using swagger info.  https://github.com/GoogleCloudPlatform/kubernetes/issues/7070 proposes using map[string]interface{} internally for any unknown types, which we can then manage op

[2015-04-21 01:17] madhuri-rai07 opened #7087 "APIserver returns status code 500 instead of 400 when passed an incorrect pod create request"
$ kubectl create -f pod.yaml
F0421 01:01:26.609520   26289 create.go:83] unable to load "wron_pod.yaml": error unmarshaling JSON: json: cannot unmarshal string into Go value of type v1beta3.PodSpec
[code]

[2015-04-21 02:26] benmccann commented on #7036
Thanks @brendandburns !  That's super helpful. A lot of my confusion was not finding the rest of the docs since they weren't linked to from the website. Filed a new issue (https://github.com/GoogleCloudPlatform/kubernetes/issues/7034) for that as you already saw. The Admin Guide looks like it will answer a lot of my questions.

I also missed `config-default.sh`, which would have been helpful so th

[2015-04-21 02:43] lokikiller opened #7090 "Why pull from "gcr.io" registry when I create pod?"
I appointed the key-values as follows:
"image": "docker.io/redis"

and the minion also have the redis image

but when I cat the logs:
"Failed to create pod infra container: image pull failed for gcr.io/google_c..."

I can't understand it

[2015-04-21 03:14] roberthbailey commented on #7087
What version of kubectl are you using (you can run `kubectl version -c`)? v1beta3 wasn't fully supported until the 0.15.0 release. Prior to that you needed to manually enable a pre-release version with a command line flag, and we explicitly didn't guarantee compatibility between kubectl and the apiserver as the api was in development.

[2015-04-21 03:24] roberthbailey commented on #7090
If you want to pull an image from the public dockerhub, you don't need to add a domain name prefix. You can just say "image": "redis".

[2015-04-21 03:31] njuicsgz opened #7091 "PreStop in Lifecycle does not work"
PreStop in Lifecycle is a very excited feature that I want it so much. With it, I can do some clean work before killing the Pod/Container, for example, I need this container stop receiving requests first, then complete processing its requests already received before it is killed. However It does not work as PostStop now. And I have checked the latest code and found it is still not implemented. Cou

[2015-04-21 03:33] bgrant0607 commented on #7091
Sorry, prestop hasn't been implemented yet. See discussion in #6804.

[2015-04-21 03:35] bgrant0607 commented on #7051
cc @gmarek

[2015-04-21 03:36] #7043 closed

[2015-04-21 03:40] bgrant0607 opened #7092 "getServersToValidate should not include nodes"
getServersToValidate should not include nodes:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L552

Other than as a proxy, we're trying to make the master not contact the nodes. Besides, this is what the node API is for. /componentstatuses should be reserved for cluster-level (master) components.

For more details, see discussion from #6597.

cc @fabioy

[2015-04-21 04:06] roberthbailey opened #7094 "Update accessing-the-cluster.md"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/accessing-the-cluster.md is out of date. Please update for the current location/contents of the `kubeconfig` file and v1beta3. Once #6618 is submitted we should also update the examples to show to to curl using bearer tokens instead of basic auth credentials.

[2015-04-21 04:18] nikhiljindal commented on #7087
The string "test" in front of "spec" seems incorrect.
Removing that might fix the problem.

[2015-04-21 04:25] #6530 closed

[2015-04-21 04:32] brendandburns commented on #6455
Closing as fixed by #6613 (and not actually a bug in this code to begin with...)

[2015-04-21 04:32] #6455 closed

[2015-04-21 04:47] bgrant0607 commented on #6979
I was suggesting just adding a type field to indicate which map fields can be expected to be populated.
[code]

[2015-04-21 04:53] piosz commented on #7091
I'll implement it once #6804 is finished

[2015-04-21 05:14] madhuri-rai07 commented on #7087
$ kubectl version -c
Client Version: version.Info{Major:"0", Minor:"11+", GitVersion:"v0.11.0-323-g754a2a8305c8", GitCommit:"754a2a8305c812121c3845d8293efdd819b6a704", GitTreeState:"clean"}

I have tested the same with client API and same error occurred resulting in 500 status.

@nikhiljindal I know the input is incorrect but that should not result in 500 status. It worked well with correct input.

[2015-04-21 05:26] pwFoo commented on #831
Wouldn't docker data only container be persistent? Would be great to use it with kubernetes, because I need persistent data without iscsi, NFS vor host_dir (permission problems). I would use Fedora Atomic as a single minion instance.

[2015-04-21 05:27] ghodss commented on #6559
I'd like to clarify further why I think this is a critical issue, and why it is a bug and also doesn't conflict with the current 1.0 roadmap.

@ArtfulCoder

To be clear, I am not proposing that any default or primary configuration of kubernetes change to support multiple nodes. However, the beauty of the apiserver/etcd design is that I can hook up apiserver to my multi-node etcd cluster and get re

[2015-04-21 05:41] madhuri-rai07 commented on #7087
I have enabled v1beta3 by following https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook/v1beta3

[2015-04-21 05:52] lokikiller commented on #7090
thanks for your answering, but it also can not take effect when i change it to "image":“redis”, it also pulling from gcr.io @roberthbailey

[2015-04-21 05:56] njuicsgz commented on #7091
thanks, I will also subscribe #6804

[2015-04-21 07:01] pwFoo commented on #598
Don't know how kubernetes or docker works internal, but durable local storage should be work with  data only container if native docker is used?
So maybe data containers and a implementation of volumes-from should work to get local data persistent? Because I'll move to a docker host I need a local persistent storage.

But it seems there is no solution in the near future?

[2015-04-21 07:11] fgrzadkowski commented on #6518
I'm going to run profiling today. Will update this issue once I have some data.

[2015-04-21 07:24] wojtek-t commented on #7069
cc @fgrzadkowski

[2015-04-21 07:39] fgrzadkowski commented on #7090
For each pod we also create an infra container that is used to workaround some docker limitation. This artificial container uses image gcr.io/google_container/pause:go (or something similar). From your error message I assume this step failed. Do you have some more logs about this failure?

[2015-04-21 08:07] lokikiller commented on #7090
As you say, I see the logs carefully, and find it really the "gcr.io/google_container/pause" image can not pull, is there any other way to pull the image? @fgrzadkowski Thanks a lot

[2015-04-21 08:10] madhuri-rai07 opened #7100 "Duplicate replacePod APIs defined in spec"
replacePod is defined twice in swagger-spec at
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1beta3.json#L4026 and https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1beta3.json#L4776 due to which replacePod fails with 404 on an existing pod.

[2015-04-21 08:12] abonas commented on #6979
@bgrant0607
it's definitely better than the current implementation, but it's still not as simplified as I think it should be :)

[2015-04-21 08:15] fgrzadkowski commented on #7090
What's your environment? Where do you start your cluster?

[2015-04-21 08:19] lokikiller commented on #7090
I am in China, the environment is in my laboratory with some Blade servers using centos7.

[2015-04-21 08:30] madhuri-rai07 commented on #7100
I am trying to debug this issue

[2015-04-21 08:33] MalteJ commented on #831
@pwFoo currently there is no mechanism to share data only containers between multiple minions.

[2015-04-21 08:38] fgrzadkowski commented on #7090
Can you ping gcr.io? This seems similar to https://github.com/GoogleCloudPlatform/kubernetes/issues/6888

[2015-04-21 08:41] abonas commented on #6979
@bgrant0607 consider that even given the 'type', clients will need to hardcode the logic to search for specific attributes per type.
so 'if it's running, then it might have a "startedAt" attribute inside the "running" section'
not sure why aren't those just flattened.
if it's not running then the startedAt might be empty (and might be just another key next to the type key)

[2015-04-21 08:55] lokikiller commented on #7090
Thank you very much~ @fgrzadkowski

[2015-04-21 08:55] #7090 closed

[2015-04-21 11:37] chees opened #7103 "Meteor and Mongo example"
We made an example of how to run Meteor together with MongoDB on GKE:
https://github.com/Q42/meteor-gke

@jeffmendoza asked us if this can be merged into the official Kubernetes repo.
We're fine with that, so I made the example a little more generic and less dependent on GKE:
https://github.com/chees/kubernetes/tree/master/examples/meteor

I'd like to submit a pull request for that which Jeff can

[2015-04-21 11:38] piosz commented on #6045
I ran integration tests 100 times from today's head and all passes, so closing the issue.

[2015-04-21 11:38] #6045 closed

[2015-04-21 12:01] quinton-hoole opened #7104 "TestReadConfigData needs a better util.ReadConfigDataFromReader() which succeeds on success and fails on failure"
I couldn't help but wonder whether this error that I'm seeing locally is related to #6954 . I've just rebased against upstream head.

--- FAIL: TestReadConfigData (15.25s)
helpers_test.go:246: unexpected non-error for http://some.non.existent.foobar
FAIL
FAIL github.com/GoogleCloudPlatform/kubernetes/pkg/kubectl/cmd/util 15.333s

I'll debug further in the morning.

[2015-04-21 12:48] smarterclayton commented on #7070
The internal form of runtime.Structured would be suitable for running simple object path expressions against.  I am not aware of a Golang library that supports JSONPath directly - there are a few that support different syntaxes.  Also, for internal objects, over time we would want to be able to execute field operations against them and cross type boundaries - this would make that traversal simpler

[2015-04-21 14:35] wojtek-t commented on #7070
/subscribe

[2015-04-21 14:38] preillyme commented on #5706
@thockin-cc it turned out to be a networking restriction on my vmware fusion vm while working remotely. Once I was back at the office everything worked as expected.

[2015-04-21 14:49] wojtek-t commented on #5654
@timothysc Did you run this test - I think this was caused by #6059 and I think it should be fixed now.

[2015-04-21 14:57] timothysc commented on #5654
@wojtek-t  yes we can close this issue.  However I'm still deep into e2e to try and prevent future regressions.

fwiw, we still see lumps in draining a pool, but there are so many tickets around that area I'll wait to file a new one.

[2015-04-21 14:57] #5654 closed

[2015-04-21 14:58] wojtek-t commented on #5312
@ArtfulCoder @lavalamp I think this was fixed by #6785 - can we close it now?

[2015-04-21 15:01] wojtek-t commented on #3139
/subscribe

[2015-04-21 15:03] smarterclayton commented on #7070
For reference, https://github.com/GoogleCloudPlatform/kubernetes/pull/2786 introduced this.

[2015-04-21 15:12] vmarmol commented on #6888
Would it be useful to maintain the images in the Docker Hub as well for cases like these? I imagine it could be possible that should get blocked too and we'd be out of luck :)

[2015-04-21 15:24] smarterclayton opened #7111 "Proposal: Long term evolution of runtime.Scheme / conversion.Scheme"
Continued from https://github.com/GoogleCloudPlatform/kubernetes/issues/2306

A runtime.Scheme combines a few concepts:

* A registry of APIVersion -> Kind string -> Go object
* A library of conversion routines which includes APIVersion -> Go object as well as Go object -> Go object
* An encoding mechanism based around JSON

In order to better support multiple API patterns grouped together (Kubern

[2015-04-21 15:25] smarterclayton commented on #2306
Started a proposal / summary here https://github.com/GoogleCloudPlatform/kubernetes/issues/7111

[2015-04-21 15:25] smarterclayton commented on #7070
Started a broader discussion here https://github.com/GoogleCloudPlatform/kubernetes/issues/7111

[2015-04-21 15:34] smarterclayton commented on #7111
@lavalamp @bgrant0607 at minimum.

[2015-04-21 15:47] fgrzadkowski commented on #6518
I did some profiling. First of density test runs faster and more predictable, which is great! However I still see high CPU usage, but with a different profile. According to initial observations we spend majority of time in sending modifications via watch. I need to dig deeper to understand this better.

I believe we managed to fix first bottleneck (we still need to fix replication controller, whic

[2015-04-21 16:15] jeffmendoza commented on #7103
Hi all. Yes, I'll be expanding this into a more in-depth tutorial.

[2015-04-21 16:37] marekbiskup commented on #7044
The misleading part is RESOURCE ID, which I read "RESUORCE_ID".
It can be changed to
 * RESOURCE_NAME ID
 * RESOURCE RESOURCE_ID
 * RESOURCE_NAME RESOURCE_ID
To make it clear that we're talking about two fields

Also the error message should say "insufficient number of arguments"

[2015-04-21 16:38] derekwaynecarr commented on #7081
/subscribe

Sent from my iPhone

[2015-04-21 16:42] fabioy commented on #7103
Please create the PR. The reviewer(s) will evaluate as to whether it'll be accepted, of course.  Note that in some cases, the advice is that a blog post may be more appropriate for examples.

Thank you.

[2015-04-21 16:51] quinton-hoole commented on #6753
fgrzadkowski@ no objection to trying to use prometheus to store and present data here.  I have not yet had time to figure out whether there are any better options yet.

[2015-04-21 16:54] kbeecher commented on #5933
@derekwaynecarr Thanks for the reply, that makes things clearer. Just one question...

I get the idea behind items 2, 3, and 4, and I'm familiar with some of those parts of the code. However, I'm not yet familiar with the REST framework. Consequently, I don't know where in the code to look to get started on item 1.

I also don't understand in what sense the REST framework needs modification - from

[2015-04-21 17:23] a-robinson commented on #7069
We have QPS per request and resource type, but nothing by client ID at the moment.

[2015-04-21 18:12] #6457 closed

[2015-04-21 18:24] fgrzadkowski commented on #7069
I've added this locally for my experiments, so I can sens a PR with this.

-- sent from a mobile device
21 kwi 2015 19:24 "Alex Robinson" <notifications@github.com> napisał(a):

[2015-04-21 18:28] jlowdermilk commented on #7104
This is passing at head both on Travis and locally, so it must be related to changes you've made. If it's not returning an error in that case, it means that `http.Get` returned a valid response [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/util/helpers.go#L190). Did you perhaps change the tests to mock/intercept outgoing http requests?

[2015-04-21 18:35] roberthbailey opened #7119 "gce provider ssh-to-node masks ssh failures"
The function always returns regardless of whether the ssh subprocess exists successfully:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L967-L975

This is causing services.sh to pass Jenkins e2e tests on GCE whereas it is (correctly) failing on the GKE-CI builds.