[2016-11-02 00:16] yujuhong commented on #34104
It'd have been nice to see logs from `journalctl -f -u kube-docker-monitor` to see if docker failed the health check and got killed.

[2016-11-02 00:18] vishh commented on #35914
I continued the investigation based on https://github.com/kubernetes/kubernetes/issues/35914#issuecomment-257379974.

Docker (v1.11.1) appears to be propagating all cgroupfs mounts on the host to its containers. This is a bug IMHO. @mrunalp do you happen to know why docker isn't ignoring all cgroup mounts excepting the initial mounts?

There is no easy workaround for this since `rkt fly` by defaul

[2016-11-02 00:23] #36016 closed

[2016-11-02 00:29] bprashanth opened #36027 "Collect kube-docker-monitor logs in e2e"
We used to collect logs from the docker healthchecker on cvm (supervisord logs here: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gce/26005/artifacts/jenkins-e2e-minion-group-fh7q/). We should do the same on gci (https://github.com/kubernetes/kubernetes/issues/34104#issuecomment-257737502).

[2016-11-02 00:38] felipejfc opened #36029 "Changing kube-apiserver authorization-mode to RBAC puts nodes in NotReady state"
**Kubernetes Version: 1.4.3**
**Cloud: AWS**
**Deploy: Kops**

Hi, I'm trying to setup an authorization scheme using OpenID + RBAC but when I turn on RBAC all nodes are put in NotReady state, I'm putting the following arguments to my apiserver pod:

`--authorization-mode=RBAC --authorization-rbac-super-user=kubecfg
`

Any hints? Maybe RBAC defaults to denying kubelet of the minion nodes?

@justins

[2016-11-02 00:44] jbeda commented on #28631
My opinion -- servers should have access to `kubectl` and `kubeadm`.  It is just too useful to have those there.  `kubeadm`, over time, will grow to provide more decomposed functionality that'll be useful in more situations.

If we finish the transition to hyperkube (#16508) the current thinking seems to be to have a `kube-master` (control plane components), `kube-node` (kubelet, proxy) and probab

[2016-11-02 00:53] jbeda commented on #36000
What ENV variables are you all setting before you call `make release`?  `build-tools/commons.h` should work well with `OUT_DIR` set to something besides the default (`_output`) except for one issue in the rsync filters.  I'll prepare a PR to fix that part up right now.

[2016-11-02 00:58] david-mcmahon commented on #36000
This should be reproducible outside the kubernetes/release environment.
[code]

[2016-11-02 01:00] jbeda commented on #36000
I'm on hotel wifi so it will take me a while.  I'll work on this some more in a bit.

[2016-11-02 01:08] mbohlool commented on #35359
Adding a data point here. To sync, I forced to create a new case sensitive
image based partition on my mac. That was pretty painful because mac also
has a bug there in creating case sensitive partitions. I can sync/develop
now but at the cost of losing some performance.

Mehdy Bohlool |  Software Engineer |  mehdy@google.com |  mbohlool@github
<https://github.com/mbohlool>

On Tue, Nov 1, 2016 at

[2016-11-02 01:11] mikedanese commented on #35359
That should be fixed on HEAD and no longer necessary.

[2016-11-02 01:24] timstclair commented on #29579
I'm still using this as the umbrella issue. I changed the title to not be a question.

[2016-11-02 01:30] justinsb commented on #36029
I had to add permissions for `kubelet`: https://github.com/justinsb/kops/commit/6d999daab17c2d787a64dc0864aab725f8580e48

[2016-11-02 01:30] justinsb commented on #36029
(I don't think this is anything to do with kops.  I don't think :-) )

[2016-11-02 01:38] timstclair opened #36031 "Leverage the type system to avoid Static pod / mirror pod translation issues."
We have a lot of calls to `TranslatePodUID` through our codebase, and it can be difficult to keep track of where it's needed. We should leverage the type system with an internal type for PodUIDs that have been resolved to a static pod UID so it's clear when the translation is or is not needed.

/cc @yujuhong

[2016-11-02 01:39] viroos commented on #35643
Have similar issue.

After adding new node (kubeadm join --token ...) etcd is killed:
etcd-black-pearl                      0/1       Terminating         0          3s

Then it's restarted but everything goes crazy (all kube-system pods are being killed and recreated).

kubectl get nodes returns only master.

I tried f weave and flannel with the same issue.
I use hypriot 1.10 (but i also tried 1.0

[2016-11-02 01:39] yujuhong commented on #36031
Thanks for filing the issue!

[2016-11-02 01:42] chrislovecnm commented on #33727
How are upgrades of k8s going to work with stateful sets that is for instance zoo keeper?

[2016-11-02 01:43] bprashanth commented on #27235
Why did it do an ipv6 resolution for google.com? I don't even think ipv6 will work on container vm (we disable it), not sure about gci

[2016-11-02 01:45] macb commented on #23130
I've had this issue on El Cap and the version before it. Go version has been from 1.5 to 1.7 I do believe.

It's pretty consistently a problem with `CGO_ENABLED=0` builds and macOS. go's approach to finding nameservers doesn't seem to respect some configured resolvers in osx. Instead it only seems to pickup whatever is found in `/etc/resolv.conf` which osx documents as:
[code]

The go source conta

[2016-11-02 01:46] chrislovecnm commented on #33727
Let me put some constraints around this. Stateful Sets have to automatically evict on a drain. Otherwise how are upgrades at scale are going to be automated?

[2016-11-02 01:50] vishh commented on #16563
@dashpole that's awesome. @victorgp does https://github.com/kubernetes/kubernetes/issues/16563#issuecomment-257413532 match your expectations and/or observations?

[2016-11-02 01:50] foxish commented on #33727
@chrislovecnm The plan is to evict them using the eviction subresource. if there is one petset pod per node, then there is no issue when doing node drains. If one has a specific requirement where only N petset pods can be killed, the right way for now would be to create a PodDisruptionBudget to reflect that. The eviction subresource respects the PDB. We plan on updating the documentation so that f

[2016-11-02 01:51] foxish commented on #33727
s/petset/statefulset/g

[2016-11-02 01:58] chrislovecnm commented on #33727
SGTM - the feature formally know as petset

[2016-11-02 01:59] chrislovecnm commented on #33727
Foxish this is specific to 1.5 though?

[2016-11-02 02:04] foxish commented on #33727
Yes, this is specific to beta. We don't expect that the PDB/eviction mechanism for carrying out node drains will change even in GA, but we [may have defaults](https://github.com/kubernetes/kubernetes/issues/35318), or some other way of specifying them, which will likely be proposed/discussed after 1.5.

[2016-11-02 02:18] caniszczyk commented on #35557
@obnoxxx we would really prefer permissive licenses and licenses that match the parent project, it simplifies distribution, thanks!

[2016-11-02 02:30] euank commented on #29579
If this is meant to be an umbrella issue we should link issues to it / link to issues from it.

Neither of those has happened for the many recent PRs related to this implementation, so it felt more like a :closed_umbrella: than :open_umbrella:

[2016-11-02 02:41] illyul commented on #35891
Thanks for helping me.

[2016-11-02 03:08] #35145 closed

[2016-11-02 03:50] felipejfc commented on #36029
Thanks @justinsb setting the roles as you did for services, kubelet and kube-proxy did the trick!!!

[2016-11-02 03:50] #36029 closed

[2016-11-02 04:04] guoshimin commented on #31891
@thomaso-mirodin's co-worker here.

It seems sometimes the EBS volume isn't detached cleanly. When it happens, the following command, run from the node, shows errors:
[code]
Normally this command should say
[code]

[2016-11-02 04:04] saad-ali commented on #35898
We had 15 green runs of `kubernetes-test-go` in a row. Considering this flake fixed.

[2016-11-02 04:04] #35898 closed

[2016-11-02 04:09] victorgp commented on #16563
I think so, i was asking that question because when kubelet starts i'm getting this log:

`Image garbage collection failed: unable to find data for container /`
`Failed to check if disk space is available for the runtime: failed to get fs info for "runtime": unable to find data for container /`
`Failed to check if disk space is available on the root partition: failed to get fs info for "root": una

[2016-11-02 04:32] foxish opened #36034 "StatefulSet docs must warn against setting terminationGracePeriodSeconds=0 in pod template"
As of now, even the [petset example](http://kubernetes.io/docs/user-guide/petset/#example-petset) sets terminationGracePeriodSeconds to 0.
We should document clearly the conditions required to ensure that there is only one pet with a certain identity.

1. Kubelet version >= 1.1.0.
2. Master version >= 1.5.0
3. terminationGracePeriodSeconds != 0

cc @smarterclayton @erictune @kubernetes/sig-apps

[2016-11-02 04:52] k8s-merge-robot opened #36035 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/1759/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-11-02 04:59] #35924 closed

[2016-11-02 06:09] zreigz commented on #33196
I will search JS and Python clients

[2016-11-02 06:15] luohoufu opened #36037 "kube-apiserver start with error info"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2016-11-02 06:16] mikedanese commented on #2210
fyi https://github.com/kubernetes/kubernetes/pull/35298

[2016-11-02 06:33] #33258 closed

[2016-11-02 07:12] wojtek-t opened #36039 "Density test panicked in kubemark-5000"
We should do the same trick with multiple clients that we did in load test.

[code]

[2016-11-02 07:13] owenhaynes commented on #32550
Will this support more then just the cephfs fuse driver? E.g the cephfs kernel driver which is a bit faster.

[2016-11-02 07:19] zreigz commented on #35712
Good news. I've managed solve all issues. It needs last tests and I will post solution how to run kubeadm in Docker container

[2016-11-02 07:23] andersla commented on #35712
Super! I will help testing as soon as it is ready! - although I am on holidays the rest of his week:)

[2016-11-02 07:39] nikhiljindal commented on #35254
Seems like there are 2 different cases:

1. A common auth provider is used across all clusters.
2. Different auth providers are used for different clusters.

I am not sure how many people use option 1. It might be possible when all the clusters are on the same cloud provider (for ex in different availability zones)? or when all the clusters are on prem.
In option 1, if a user has access to write a

[2016-11-02 07:48] nikhiljindal commented on #35254
@deads2k That is great! But we will need a way to keep track of which user did what action in federation control plane in a way that is easily accessible to the controllers. Today if user A
adds a label to a federation service and then user B adds another label, then federation service controller might observe it as one operation and directly add both the labels to all services in underlying clust

[2016-11-02 07:52] AlexMioMio opened #36042 "pod status is always in ContainerCreating because unable to mount nfs volume"
Today,i found a issue.when i deploy my pod using nfs volume,i noticed the pod's status is always ContainerCreating. So i try to find the reason of this status. when i describe this pod, i notice a message "timeout expired waiting for volumes to attach/mount for pod config-volume-test-pod. list of unattached/unmounted volumes=[nfs]". Is it a problem？ i think if pod can't mount a volume,it should fa

[2016-11-02 07:52] m1093782566 commented on #35781
Thanks, I will send a PR in a few days.

[2016-11-02 07:54] m1093782566 opened #36043 "[Kube-proxy] hasJump() in proxier_test.go has bug?"
**Is this a BUG REPORT?**

Yes

**What?**

It seems that [hasJump()](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier_test.go#L507) in proxier_test.go do some wrong matches. It failed some test cases I designed.

1.

[code]

expect **true**, but got **false**.

but,

[code]

will got **true** as expected.

2.

[code]

expect **false**, but got **true**.

3. immediate

[2016-11-02 08:09] shenshouer commented on #23920
I have the same issue. Running 1.4.5 on ubuntu 16.04 with calico.hostPort of  ingress controller on node not work.

version of k8s:

[code]

[2016-11-02 08:11] AlexMioMio commented on #36042
@smarterclayton

[2016-11-02 08:13] chowyu08 opened #36046 "Dashboard and SkyDNS error"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f

[2016-11-02 08:23] AlexMioMio commented on #36042
I watch kubelet.log

[2016-11-02 08:28] AlexMioMio commented on #36042
I read the kubelet.log.It seems kubelet try to mount nfs every two mintues. But i recommand it should limit the times of mounting nfs.

E1102 15:48:50.633130    8082 goroutinemap.go:155] Operation for "kubernetes.io/nfs/10.120.169.106//home/share_nfs" failed. No retries permitted until 2016-11-02 15:50:50.633126241 +0800 CST (durationBeforeRetry 2m0s). error: UnmountVolume.TearDown failed for volu

[2016-11-02 08:29] keglevich3 commented on #15128
+1

[2016-11-02 08:34] soninob commented on #35909
@k8s-merge-robot - any news about this?

[2016-11-02 08:39] ligc commented on #35761
@zhouhaibing089 according to https://github.com/kubernetes/kubernetes/issues/17406, the hostNetwork=true should be able to work together with dnsPolicy=ClusterFirst. In my configuration, I need to use the hostNetwork=true because of some service discovery requirements, but still want to use the kube-dns as the DNS resolver.

[2016-11-02 08:46] janosi commented on #10570
Please consider this presentation about "cpushare vs. cpuset vs JRE"
https://vimeo.com/181900266
As I understand from this one  (though I am not an expert in this area) with the current kernel capabilities (i.e. no API to the application to query the available resources assigned to it) the reliable way to run Java apps in a container is to use cpuset. With cpushare the JRE gets false information a

[2016-11-02 09:19] kargakis commented on #36011
@kubernetes/sig-node @kubernetes/sig-api-machinery

[2016-11-02 09:45] vans88 commented on #34600
**@luxas**  I have read the entire article carefully. There is a cross-compiler from Centos 6.5 to mips64el and I have an experience to cross-compile kernel. some useful details will be shown at the end part of this comment. Could you give some suggestions?

**The machine exists the cross-compiler:**
[code]
**The method to cross-build kernel from a x86_64 platform.**
[code]

[2016-11-02 10:13] zreigz commented on #35712
There are two main issues regarding installation kubeadm in Docker container. First is systemd running in container. Second is installation docker inside container. Successfully the problems were fixed. Here is the Dockerfile which must be used to prepare Ubuntu image

[code]
I use this command to build the image in the directory containing the Dockerfile
[code]

Now you can run prepared image and

[2016-11-02 10:23] gmarek commented on #35872
@rmmh - I was trying to hunt it down while I was oncall. Generally I have no context for this failure.

[2016-11-02 10:29] RaphaelHerd commented on #35788
Hi,

I'm interested in the same thing. I try to install a k8s 1.4 cluster with kubeadm in aws but the whole installation process is very poor documented if you haven't done that before.

However, I need that aws integration especially for EC2 load balancers. So my current cluster is not able to create an AWS load balancer. I think it's because a missing cloud provider as well as their credentials.

[2016-11-02 10:31] gmarek opened #36054 "[k8s.io] e2e tests are failing because of API server's 500's"
I'll try to link all relevant automatically create issues to this one. The error we're seeing is:
[code]

Most of failures are P2, are they happened only once. This issue is P0, as if all those failures were instances of this problem. Most common problem is during namespace deletion, but in HPA tests there are other failures as well.

cc @smarterclayton @wojtek-t @lavalamp @caesarxuchao

[2016-11-02 10:31] gmarek commented on #35513
Meta issue: #36054

[2016-11-02 10:32] gmarek commented on #35952
Meta issue: #36054

[2016-11-02 10:33] gmarek commented on #35871
Meta issue: #36054

[2016-11-02 10:34] gmarek commented on #35741
Meta issue: #36054

[2016-11-02 10:34] gmarek commented on #35579
Meta issue: #36054

[2016-11-02 10:34] gmarek commented on #35507
Meta issue: #36054

[2016-11-02 10:34] gmarek commented on #35473
Meta issue: #36054

[2016-11-02 10:35] gmarek commented on #35286
Meta issue: #36054

[2016-11-02 10:47] wojtek-t commented on #36054
All of these are GKE failures. This seems to be related. @cjcullen

[2016-11-02 11:31] sriedel commented on #29819
@whereisaaron: I just retried my testcase with the new kubectl 1.4.5 and things seem to work on my end now. You may want to retest your issue as well.

[2016-11-02 11:49] #35791 closed

[2016-11-02 11:50] #36039 closed

[2016-11-02 12:09] wojtek-t opened #36056 "Etcd2 -> etcd3 migration is broken"
It seems that after etcd2->etcd3 migration all objects are in their initial state (i.e. in the state in which they were created, as if there were no updates at all in the system).

How to repro:
- start a cluster from head
- create some data (e.g. kubectl run pod1 --image=gcr.io/google_containers/pause-amd64:3.0)
- login to master of the cluster
- kill apiserver sudo mv /etc/kubernetes/manifests/k

[2016-11-02 12:25] fgrzadkowski commented on #35774
@erictune @bgrant0607 Do you have some suggestions how we should use Events (or maybe some other mechanism) to expose cluster level events like cluster autoscaler decisions?

@thockin

[2016-11-02 12:44] zreigz commented on #33196
I've checked Python client from this list: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/client-libraries.md
It works fine when returned code is 202. Now I am going to check JS clients

[2016-11-02 12:45] nhlfr commented on #30427
Sorry for leaving this issue without any action. PTAL on the issue #31218. It will surely not be touched in 1.5 release, but I've submitted a proposal to be considered for a future release.

[2016-11-02 12:52] kad opened #36059 "Generate documentation for published releases."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): documentation, yaml, hack/generate-docs

---

**Is this a BUG REPORT or FEATURE REQU

[2016-11-02 13:05] jszczepkowski commented on #35787
Works for me.

I get:
[code]

In your case, probably the master was already removed, so, ssh failed.

[2016-11-02 13:06] jszczepkowski commented on #35787
@mwielgus
Can you please give steps to reproduce it, or close it if reproduction is not possible.

[2016-11-02 13:24] zreigz commented on #33196
One more thing Python client doesn't support any flag (for example `--grace-period`) for delete operation. The same is for JS clients

[2016-11-02 13:25] bogdando commented on #35041
It seems rejected

[2016-11-02 13:25] #35041 closed

[2016-11-02 13:36] fgrzadkowski commented on #32389
@jszczepkowski @mwielgus

[2016-11-02 13:36] fgrzadkowski commented on #31584
@mwielgus @jszczepkowski

[2016-11-02 13:46] kargakis commented on #20519
@ymqytw I was able to run --recursive and it works fine (opens all files under the directory you pass in a list if there is no error). What's the exact failure of the test? Maybe @metral can weigh in since he authored the original PR. I had missed the [part](https://github.com/kubernetes/kubernetes/pull/25085#issuecomment-219450790) where he said that the editor would open resources separately:)

[2016-11-02 14:06] cammm commented on #23864
Yes please, we would like this for a custom game server proxy which maps a range of external ports to petsets inside the cluster. UDP traffic, very similar to voice or media server applications I suppose.

Bonus points for being able to expose this service and have the GKE firewall rules work with the port range also.

[2016-11-02 14:24] luxas commented on #36059
cc @thockin @jessfraz

[2016-11-02 14:30] bogdando commented on #25406
Folks, what could we do to make that a minor doc change to land?

[2016-11-02 14:40] wojtek-t commented on #35885
Fixed by #36065

[2016-11-02 14:40] #35885 closed

[2016-11-02 14:44] wojtek-t commented on #29897
Kubemark-500 is alrady blocking.

[2016-11-02 14:44] #29897 closed

[2016-11-02 14:45] autrilla opened #36067 "Failing to mount GCE persistent disk"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): timeout, pd, persistent disk

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware confi

[2016-11-02 14:45] wojtek-t commented on #32361
We confirmed that we no longer face the issues described above with etcd v3. Thus I'm closing this one.

[2016-11-02 14:45] #32361 closed

[2016-11-02 14:46] wojtek-t commented on #35011
Those were all experiments with 5000-node kubemark.
We fixed a bunch of different issues nd hopefully broken run should no longer appear.
So closing this one.

[2016-11-02 14:46] #35011 closed

[2016-11-02 14:49] bogdando commented on #26637
So if the fan-out is the problem, perhaps we want publish/subscribe instead? A message queue?..

[2016-11-02 14:55] luxas commented on #35424
This is fixed now

[2016-11-02 14:55] #35424 closed

[2016-11-02 14:57] smarterclayton commented on #36011
Does anyone understand the total scope of work?

On Wed, Nov 2, 2016 at 5:20 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-11-02 14:58] Tapuzi commented on #35189
The issue was found.
The environment variable REDIS_PORT is set in the cluster and the python package uses it.

This is a bit problematic to pinpoint... I assume I was not the first to encounter it and will not be the last.

[2016-11-02 15:07] PI-Victor commented on #36011
@smarterclayton long story short, we can no longer bump s2i in origin due to the engine-api dependency. which is also holding my PR blocked.
if there is some other workaround i would gladly take that to be able to move fw.
sorry if i was unclear.

[2016-11-02 15:17] PI-Victor commented on #36011
i misunderstood, you meant the total scope. yeah i could only trace it to cadvisor dependency so far.

[2016-11-02 15:19] viktorgunnarson commented on #35062
I have this issue as well but on GCE. The error message is logged twice every ~15 seconds.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4

[2016-11-02 15:20] jackzampolin commented on #36067
Before you do anything I would bring your client and server versions inline. There were a bunch of changes between `1.3` and `1.4`.

[2016-11-02 15:27] copejon commented on #17092
#34353 Adds 2 GCE tests (Delete PV || PVC before pod does not cause the pod on subsequent deletion due to umount or detach error) and the framework to expand GCE specific testing of PVs.

[2016-11-02 15:36] autrilla commented on #36067
I'm seeing the exact same thing with
[code]

[2016-11-02 15:39] smarterclayton commented on #33196
safe: abonas/kubeclient uses https://github.com/rest-client/rest-client
which handles 200-207 as success, but it only parses DELETE body on
exception, so 202 won't impact it either way
safe: https://github.com/doriordan/skuber looks like it handles <300 as
success and doesn't try to parse the body

unsafe:
https://github.com/fabric8io/kubernetes-client/blob/6e6690c18254b8a72fc9b202e214e2f9e33e1daf

[2016-11-02 15:42] quinton-hoole commented on #9043
@davidopp Nothing specific.  The request was actually only for a rolling in-place restart.

[2016-11-02 15:49] timstoop commented on #11979
This is still a problem, currently. Any word on the AWS throttler?

[2016-11-02 15:53] aveshagarwal opened #36069 "Namespace and Pods stuck in Terminating state"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Fedora 24
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**: `./hack/local-cluster-up.sh`
- **Others**:

**What happened**:
Namespace and Pods stuck in Terminati

[2016-11-02 15:58] dashpole commented on #16563
What os image are you on?  What version of k8s are you on?  Do you see lots of those in your logs, or does it only happen once?  It shouldn't have anything to do with /var/lib/docker being in a different partition, since those errors indicate that it wasn't able to collect for the "root" ("/") container.  I think it means that cadvisor isn't able to collect any information at all...

[2016-11-02 16:01] quinton-hoole commented on #35392
GCE network resource quota exhaustion due to resource leakage (which is being addressed elsewhere).  Deleted leaked resources. Closing for now.  Will be auto-reopened by the bot if the error recurs.

[2016-11-02 16:01] #35392 closed

[2016-11-02 16:22] justinsb commented on #30572
Also, I just confirmed that GRPC with NodePort works great with the recommended aws configuration (I used kops).  I'm running Ubuntu, but there is early support for Ubuntu 16.04 in kops as well now!

[2016-11-02 16:24] justinsb commented on #30572
Changed the topic to better reflect the issue (IMO)

[2016-11-02 16:27] luxas commented on #35535
Should we make a preflight check that checks if `firewalld` is enabled and warns the user that it might fail because of that it's enabled?

[2016-11-02 16:27] jszczepkowski commented on #31584
Problem with including failed pod in average calculations was solved by #33735.

[2016-11-02 16:27] #31584 closed

[2016-11-02 16:32] jszczepkowski commented on #32389
It seems that we had failed pods here:
`cm-worker-2850697223-dfhiu   0/1       OutOfCPU`

Failed pods were blocking HPA, which was fixed by #33735.

Duplicate of #31584.

[2016-11-02 16:32] #32389 closed

[2016-11-02 16:32] hongchaodeng commented on #36056
Some details are missing. Can you clarify:
- What's the output? What's the expected output? How are they different?
- Can you provide what data you created? Ideally in a script which uses kubectl?

[2016-11-02 16:39] aabed opened #36072 "Error when kubectl apply -f if the service has a dash in the name"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1",

[2016-11-02 16:44] k8s-merge-robot opened #36074 "[k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5445/

Failed: [k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}

[code]

Previous issues for this test: #32732 #35392

[2016-11-02 16:58] #35498 closed

[2016-11-02 17:00] wojtek-t commented on #36056
1. You can do it by just starting the cluster (e.g. just look into Node objects)
2. the ouput is as I wrote, the object in version from the creation moment (e.g pods are pending, nodes are not ready, without route (ie networkUnavailable=true),etc.)

[2016-11-02 17:04] lacion commented on #22351
this hit me today @rondinelisaad steps fixed the issue, but why would the token get corrupted|invalidated?

[2016-11-02 17:06] liggitt commented on #22351
if you have changed the service account token signing key, existing tokens in etcd will no longer validate

[2016-11-02 17:13] yujuhong commented on #35457
I spoke to @bprashanth offline. In the long run, we want CNI to support host ports directly. Right now, we can either 1) adapt the the existing batch sync implementation and checkpoint the ports used by containers (via labels?) as suggested by @freehan initially, or 2) choose not to support host ports and wait for a better fix (favored by @bprashanth).

Just wanted to point out that host port supp

[2016-11-02 17:14] luxas commented on #33798
Closing this as we've documented what should be done in the docs

[2016-11-02 17:14] #33798 closed

[2016-11-02 17:16] hongchaodeng commented on #36056
I'm not getting obvious answers for my questions:

For (1), can you give some examples?
For (2), can you provide the data and script?

[2016-11-02 17:22] luxas commented on #34884
Now all required PRs are merged in order to produce a new stable release.
https://github.com/kubernetes/release/pull/186 promotes the current HEAD version to unstable, and after that we're gonna mark it as stable as well.

Soon a docs update is coming

[2016-11-02 17:22] Random-Liu commented on #35935
FYI, we disabled gci mounter in cri validation node e2e test since yesterday night, and this failure never happens again till now.
https://k8s-testgrid.appspot.com/google-node#kubelet-cri-gce-e2e&width=5

[2016-11-02 17:25] wojtek-t commented on #36056
Example data:
[code]

(2) - I don't understand the question - I gave exact repro case in the first post.

[2016-11-02 17:28] dgoodwin commented on #35535
Port 9898 (discovery) is about to go away. API server is another question. We definitely need to document the step to open that port if firewalld is enabled. Perfect work the preflight check would detect firewalld, and then actually make sure the port is open. Not sure how easy or difficult that would be, I could look into it in time.

Hesitant to just always warn if firewalld is enabled, it's ena

[2016-11-02 17:30] luxas commented on #34884
Docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/1608#issue-186868008

[2016-11-02 17:44] timstclair commented on #36011
/cc @kubernetes/sig-node

[2016-11-02 17:46] yujuhong commented on #36011
duplicate: #34308

[2016-11-02 17:57] matthiasr commented on #33789
@edevil cross-linking #33583 – it seems "use kubenet" silently implies "do not configure docker to expect cbr0", but I don't see that in docs anywhere.

[2016-11-02 18:02] kamigerami commented on #33729
I experience the same issue running on  Centos 7.2 using vagrant.

[code]

[code]
In another terminal (on the same host) I can clearly see that the containers are all started.

[code]

doing netstat

[code]

and curl localhost:8080
[code]

Is there a way to use the generated token and join my workers anyway?

(the token by itself outputed on the first line while running kubeadm init is not in a co

[2016-11-02 18:05] calebamiles commented on #34211
@DirectXMan12, any updates on this issue?

[2016-11-02 18:09] kamigerami commented on #33544
I experience the same issue running on a fresh Centos 7.2  deployed using vagrant.

Following the instructions exactly.

I just realized that there are similar threads already opened.

Referencing : #33729

[code]

[code]
In another terminal (on the same host) I can clearly see that the containers are all started.

[code]

doing netstat

[code]

and curl localhost:8080
[code]

Is there a way to us

[2016-11-02 18:16] dchen1107 commented on #35935
@vishh and @jingxu97 Can we have a separate jenkin job for testing gci mounter, and disable it from the rest of node e2e for now? Like feature test suite / flaky suite at cluster e2e? The flakiness of gci mounter causes a lot of noise and blocks our submit-queue.

[2016-11-02 18:16] madhusudancs commented on #35080
@liggitt

That might be the reason.

And that too.

So what I found was that there were no firewalls to allow communication on internal IPs. So I fixed that by manually installing the rule. But I am guessing that this happened to regular GCE tests as well. Any idea how that was fixed?

[2016-11-02 18:16] bparees commented on #36011
@yujuhong @timstclair though it wasn't super clear, this issue is proposing bumping the docker-engine godep one more time, not moving off it.  (as a short term thing).

[2016-11-02 18:18] calebamiles commented on #34206
@timothysc could you find someone else to assign this flake to or should this be closed? If I'm reading the test grid correctly it seems as if this might be closable, maybe you could do that @saad-ali since I lack the power.

[2016-11-02 18:21] calebamiles commented on #34120
@justinsb any updates here, testgrid looks ok if I'm reading things correctly. Perhaps you or @saad-ali could close this issue since I don't have the power to do so

[2016-11-02 18:22] jbeda commented on #36000
See #36078 for continuing to improve OUT_DIR.

[2016-11-02 18:22] edevil commented on #33789
@matthiasr Yeah. I had to configure docker to not wait for cbr0. My only problem now is that since I use kubelet to start the api & controller manager, I don't have a pod cidr to pass to it at startup. And without a pod cidr kubenet does not start and api & controller manager are not launched. Another chicken and egg problem. https://github.com/kubernetes/kubernetes/pull/35526 will fix this I hope

[2016-11-02 18:24] saad-ali commented on #34206
Closing. This test has not flaked since Aug 16, 2016.

[2016-11-02 18:24] #34206 closed

[2016-11-02 18:28] calebamiles commented on #34119
@saad-ali, the [testgrid looks ok](https://k8s-testgrid.appspot.com/google-aws#aws&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20DisruptionController%5C%20should%5C%20update%5C%20PodDisruptionBudget%5C%20status) for this issue we should probably close the issue

[2016-11-02 18:29] timstclair commented on #36011
Got it. Sorry for misinterpretting it, I'll reopen & revert title.

[2016-11-02 18:30] ryanj commented on #27796
I'd like corporate contribution metrics to be independently verifiable by different groups.
It seems like the CLA process is an excellent forcing function which can be used to help maintain a map of individual contributors and their corporate affiliations (over time).

I've outlined a format for these requested CLA disclosures in this issue: https://github.com/kubernetes/contrib/issues/1972

[2016-11-02 18:34] therc commented on #34447
Do the jobs start to reschedule if you delete old one? Try running `kubectl get jobs`.

cc @soltysh

[2016-11-02 18:36] #35982 closed

[2016-11-02 18:39] timstclair commented on #29579
Yeah, I should have been linking PRs to an issue. I just back-filled. :open_umbrella: :+1: :question:

[2016-11-02 18:40] hongchaodeng commented on #36069
Encountered the same issue on v1.4.5 using the standard "kube-up.sh" on GCE.

[2016-11-02 18:42] saad-ali commented on #34665
Looks like some runs of the slow test suite hit "Build timed out" which is currently 150 min

[2016-11-02 18:47] sputnick commented on #24152
@kargakis @bgrant0607 @rileylark I just ran into this issue and I'm on v1.4.4. My cluster goes into a crazy Pod creation frenzy even though the number of Pod replicas in both the deployments is set to 1 because one of the overlapping Deployment seems to be "redeploying" itself thousands of times. On a single node k8s it quickly reached the limit of 110 pods and makes the cluster unusable until I d

[2016-11-02 18:53] wojtek-t commented on #36056
Talked with @xiang90 offline and he suggested that there is a bug in ```etcdctl migrate``` that doesn't work if there is no snapshot. He suggested forcing snapshot by setting:
```--snapshot-count=1```
and starting etcd to force snapshot.

I did some quick experiment and indeed it seems to help.

I will try to fix this on our end (at least temporarily, until the fix is done in etcdctl).

[2016-11-02 18:54] foxish commented on #35768
The tests need to be updated after the behavior changes in https://github.com/kubernetes/kubernetes/pull/35739.
I'll do this today.

[2016-11-02 18:54] foxish commented on #35768
cc @janetkuo @erictune

[2016-11-02 18:56] saad-ali commented on #34665
Looking at recent runs that have failed due to "Build timed out" it is not obvious that a test is the culprit:

* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1365
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1363
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gk

[2016-11-02 18:57] morissette opened #36081 "Configuration validation not throwing error when invalid"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.10", GitCommit:"c3e367ec9eae7338ac4e2a57f293634891319b7c", GitTreeState:"clean", BuildDate:"2016-10-31T21:25:43Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.3", GitCommit:"4957b090e9a4f6a68b4a403754

[2016-11-02 18:57] therc commented on #34447
From kube-controller-manager logs:

[code]

The job is scheduled for 1:00. I think the "Multiple unmet start times" message is a clue of where things start going downhill. Also, notice how at 1:00 the controller wants to create job 1629652801 (for a whole day, it had failed on 1858045770).

[2016-11-02 18:59] dgoodwin commented on #34884
I have found a bug with kubeadm join on CentOS, we fixed master init, we failed to think about join:

[code]

Fixing now.

[2016-11-02 19:02] mikedanese opened #36082 "codegen should prefer to write one autogenerated file per package with a constant name"
This is up for debate but having one file with a constant name e.g. client.go per package makes it much easier to declare expected output for codegen phases which is required to construct a correct build dependency graph. Right now, the number and name of generated files are often dependent on the number and names of types in the input.

These are fairly easy changes to make so if there isn't obje

[2016-11-02 19:04] saad-ali commented on #34665
Can someone from @kubernetes/test-infra-admins take a look at this?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1360 for example started at 01:39 PDT. Cluster started at about 01:45. Last test (`should cap back-off at MaxContainerBackOff`) completed successfully around 02:12. Then no tests are appear to be run. And the suite times after 2.5 hours.

[2016-11-02 19:06] calebamiles commented on #34118
@saad-ali, the [test grid](https://k8s-testgrid.appspot.com/google-gke#gci-gke-pre-release&include-filter-by-regex=%5EOverall%24%7CTearDown) looks ok for this one. We could probably close this issue

[2016-11-02 19:08] deads2k commented on #36082
How would handle the `*Expansion` interfaces and generated files?

[2016-11-02 19:08] mbohlool commented on #36082
For OpenAPI Specs, I've generated one file for the whole project because it
is faster to compile (15% faster if I recall correctly). At this point it
can take some time to change it back because we customized make rules for
it. I suggest we leave that one alone.

Mehdy Bohlool |  Software Engineer |  mehdy@google.com |  mbohlool@github
<https://github.com/mbohlool>

On Wed, Nov 2, 2016 at 12:02 PM

[2016-11-02 19:10] DreadPirateShawn commented on #22024
@lavalamp Any update on this?

[2016-11-02 19:10] razic commented on #35498
whats going on with this tag? it's used in the docs here http://kubernetes.io/docs/user-guide/petset/

should i use it going forward?

[2016-11-02 19:11] calebamiles commented on #34014
@saad-ali, the [test grid](https://k8s-testgrid.appspot.com/google-gce#gce-etcd3&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Downward%5C%20API%5C%20volume%5C%20should%5C%20update%5C%20annotations%5C%20on%5C%20modification%5C%20%5C%5BConformance%5C%5D) for this issue looks pretty good. We should probably close this issue. Does that comport with your thinking @pmorie?

[2016-11-02 19:12] calebamiles commented on #33882
@saad-ali, could we close this issue, reported as a dup by @quinton-hoole and the [test grid](https://k8s-testgrid.appspot.com/google-gce#gce-etcd3&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Downward%5C%20API%5C%20volume%5C%20should%5C%20update%5C%20annotations%5C%20on%5C%20modification%5C%20%5C%5BConformance%5C%5D) looks good regardless

[2016-11-02 19:13] mikeln opened #36084 "Getting Unwanted "kubernetes-cross-build - Build # <blah> - <status>" Emails"
I have been receiving build status emails from  the google-containers@googlegroups.com via the kubernetes-sig-testing@googlegroups.com list.
However, the my email listed there is not my Google+ email that was registered with that list.  Instead it is my github account email.

This has been occurring since the v1.3 code freeze timeframe.

Also, I am not even sure why I am receiving these emails.

[2016-11-02 19:14] calebamiles commented on #33827
@saad-ali, you would know best when it's safe to close this issue but the [test grid](https://k8s-testgrid.appspot.com/release-1.4-all#gci-slow-release-1.4&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Pod%5C%20Disks%5C%20should%5C%20schedule%5C%20a%5C%20pod%5C%20w%5C/%5C%20a%5C%20RW%5C%20PD%5C%2C%5C%20ungracefully%5C%20remove%5C%20it%5C%2C%5C%20then%5C%20schedule%5C%20it%5C%2

[2016-11-02 19:16] calebamiles commented on #33756
@saad-ali, the [test grid](https://k8s-testgrid.appspot.com/k8s#gci-gke-staging-parallel&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Kubectl%5C%20client%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20Simple%5C%20pod%5C%20should%5C%20support%5C%20exec) looks good over the last day so we could probably close this issue

[2016-11-02 19:20] ncdc commented on #33756
This is going to continue to flake until we move to docker 1.13+

[2016-11-02 19:27] calebamiles commented on #33703
@saad-ali, according to @quinton-hoole this issue is a dup of https://github.com/kubernetes/kubernetes/issues/33874 should should probably be closed. [test grid](https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Reboot%5C%20%5C%5BDisruptive%5C%5D%5C%20%5C%5BFeature%5C%3AReboot%5C%5D%5C%20each%5C%20node%5C%20by%5C%20droppin

[2016-11-02 19:27] vishh commented on #35935
@dchen1107 there is a PR under review that reduces the scope for the gci
mounter. I'm hoping it will be done by today. That should reduce the
possibility of gci mounter related flakes.

On Wed, Nov 2, 2016 at 11:17 AM, Dawn Chen <notifications@github.com> wrote:

[2016-11-02 19:30] dkerwin commented on #34447
@therc Deleting (all) old jobs / pods fixes the problem temporarily. After some time the scheduled jobs face the same issue again.

[2016-11-02 19:31] calebamiles commented on #33669
@saad-ali this issue has nobody assigned and is still flaky on [test grid](https://k8s-testgrid.appspot.com/release-1.4-all#gci-slow-release-1.4&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20KubeProxy%5C%20should%5C%20test%5C%20kube%5C-proxy%5C%20%5C%5BSlow%5C%5D) should someone from SIG-Node be tracking this (assuming they're responsible for kube-proxy)? What do you think @dc

[2016-11-02 19:32] sputnick commented on #33845
I agree with the original poster that this change is necessary. This is causing myself problems to identify the real controller for pods. A side effect of this is that pod.metadata.ownerReferences doesn't actually reference the Deployment either and says the ReplicaSet is the "top controller" with the field "controller=true". When this is fixed will there be a need at all to reference the ReplicaS

[2016-11-02 19:39] calebamiles commented on #33636
@saad-ali, the [test grid](https://k8s-testgrid.appspot.com/k8s#kubelet&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Container%5C%20Lifecycle%5C%20Hook%5C%20when%5C%20create%5C%20a%5C%20pod%5C%20with%5C%20lifecycle%5C%20hook%5C%20when%5C%20it%5C%20is%5C%20http%5C%20hook%5C%20should%5C%20execute%5C%20poststart%5C%20http%5C%20hook%5C%20properly) for this issue looks pretty good

[2016-11-02 19:41] soltysh commented on #34447
There's a fix (https://github.com/kubernetes/kubernetes/pull/35420) that I've submitted against master to fix the Replace strategy, I'll mark it for inclusion in 1.4.

[2016-11-02 19:42] harobed commented on #7562
@chrislovecnm I see your comment https://github.com/kubernetes/kubernetes/issues/7562#issuecomment-210049829 … What's your hack to work around issue #7562 … until it's closed?

[2016-11-02 19:44] soltysh commented on #34447
The other problem that I see here is this:
[code]
It is possible that our [naming scheme](https://github.com/kubernetes/kubernetes/blob/539165d899021064ceb98ef508756d7482f30035/pkg/controller/scheduledjob/utils.go#L188) is creating duplicates. I'll try to investigate that a bit more.

[2016-11-02 19:45] soltysh commented on #34447
@dkerwin sorry for the delay in response time, I must have missed that while going through issues. Next time you're experiencing problems/have a question wrt Jobs/ScheduledJobs, just ping me directly in the issue.

[2016-11-02 19:47] wojtek-t commented on #36056
Actually, let me check if this isn't because of simulatnous migration of etcd and even-etcd.

[2016-11-02 19:48] dkerwin commented on #34447
No problem and I will. Thanks!

[2016-11-02 19:51] calebamiles commented on #33408
@saad-ali, the test grids linked in this issue all look good. We can probably close this issue

[2016-11-02 19:55] luxas commented on #35853
@spxtr I was about to fix this today when I noticed, but a PR for it was open so I merged that one instead.
This is fixed now

[2016-11-02 19:55] #35853 closed

[2016-11-02 19:58] rootfs commented on #35935
`exist status 254` is rkt exit code, not related to mount.
https://github.com/coreos/rkt/pull/3261

[2016-11-02 20:00] luxas commented on #34884
Oops, yeah. We need tests :sweat_smile:
I'm merging that one now

[2016-11-02 20:05] calebamiles commented on #33232
@saad-ali this is still red in testgred. Could you throw on a `team/node` label if you think that's the right place to triage this

[2016-11-02 20:06] kargakis commented on #33845
I think pods will always reference replica sets and replica sets will reference deployments.

[2016-11-02 20:10] k8s-merge-robot opened #36088 "[k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses should create and update matching ingresses in underlying clusters {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5448/

Failed: [k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses should create and update matching ingresses in underlying clusters {Kubernetes e2e suite}

[code]

Previous issues for this test: #31825

[2016-11-02 20:11] sputnick commented on #33845
Ok @kargakis but what will ownerReferences look like?

[2016-11-02 20:12] #33408 closed

[2016-11-02 20:21] dchen1107 commented on #35935
re: https://github.com/kubernetes/kubernetes/issues/35935#issuecomment-257973044

@vishh I know there is a pending pr to reduce the scope of GCI mounter. But I am not sure if that one can be get in today since there are under review. Even that pr get in today, I am not sure if that one can remove all flakiness from our critical builds unless we move both NFS and Glusterfs related tests to differen

[2016-11-02 20:24] vishh commented on #35935
Hmm. In that case, I'd recommend merging
https://github.com/kubernetes/kubernetes/pull/35724 to disable gci mounter
on node e2e.

On Wed, Nov 2, 2016 at 1:21 PM, Dawn Chen <notifications@github.com> wrote:

[2016-11-02 20:33] janetkuo commented on #24152
Yes it's a bug.

deployment-one has selector & label run=my-nginx
deployment-two has  selector & label run=my-nginx, other-label=somevalue

deployment-two was updated later

In the code we look for overlapping deployments by checking if one's selector matches the other's label:
https://github.com/kubernetes/kubernetes/blob/v1.5.0-alpha.2/pkg/controller/deployment/deployment_controller.go#L410

In

[2016-11-02 20:35] dchen1107 commented on #35935
SGTM

[2016-11-02 20:36] erictune commented on #35774
As a user who runs applications, I may not have permission to see the kube-system namespace object or node objects  (cannot do this in OpenShift, and I'd expect the same from other multi-tenant uses of Kubernetes).

As a user, I typically can see my Pods.  I can see that my pods are Unschedulable.  So, I would expect to be able to see events on my pods telling me that something (e.g. cluster autos

[2016-11-02 20:39] DreadPirateShawn commented on #25204
@liggitt Actually, I found an environment that still had Kube 1.4 -- and yes, confirmed, I'm still able to repro this in 1.4.

Specifically:

[2016-11-02 20:42] mwielgus commented on #35774
We already have events on the pod level. We will also soon have events for the deleted nodes. The problem is how to pass the information that is not specific to any particular K8S object. Like Cluster autoscaler is stopped because one node is missing (for example, has not registered yet). These events are not needed to be visible to all users but can be very useful to cluster administrator to tell

[2016-11-02 20:42] liggitt commented on #25204
can you capture the controller manager logs and the results of a watch of service accounts in a new namespace? not seeing this elsewhere

[2016-11-02 20:47] erictune commented on #35774
The fact that it is stopped seems relevant to all users and so should be a
pod level event, I think?  The exact reason it is stopped: can that just go
into the logs?

On Nov 2, 2016 1:43 PM, "Marcin Wielgus" <notifications@github.com> wrote:

[2016-11-02 20:47] wojtek-t commented on #36056
Unfortunately it's not related to that. It break even if I'm migrading only one etcd instance.

[2016-11-02 20:50] bgrant0607 commented on #9267
At this point, I think we've decided to officially deprecate LegacyHostIP. Any Kubelet configurations that don't specify whether its reported IP addresses are internal and/or external should be considered misconfigured.

The apiserver needs to support Kubelet releases at least 2 minor releases older.

I'm not sure whether we can assume that apiserver is the only client that cares about LegacyHostI

[2016-11-02 20:51] ixdy commented on #36084
It should only be emailing you if you committed changes that broke the build. That's odd.

Can you paste one of the recent emails (with addresses removed) as an example?

[2016-11-02 20:51] mwielgus commented on #35774
To which pods or nodes? All?
Also we are mainly talking about GKE where master components logs are not so easily available.

[2016-11-02 20:52] erictune commented on #35774
All application logs are typically available from kubectl logs and via a
log aggregation service like ELK or GCL.  I don't see how cluster
autoscaler is different from say kubedns.

On Nov 2, 2016 1:47 PM, "Eric Tune" <etune@google.com> wrote:

[2016-11-02 20:52] mml commented on #36056
@wojtek-t does it reliably break every time, or just sometimes?

[2016-11-02 20:54] sputnick commented on #24152
So you mean that the original/older Deployment always "wins" and the newer deployed one doesn't get any Pods launched or the Deployment "relaunched" even though after deployment the older Deployment is the one in violation (like in my use case)?

[2016-11-02 20:56] xiang90 commented on #36056
@mml It breaks when we migrate newly created clusters. etcd migration tool does not handle pure WAL migration (no checkpointing has been made) well enough.

[2016-11-02 20:58] mwielgus commented on #35774
Cluster autoscaler runs on a master. If if was running in "userspace" i would just attach all events to the CA pod. But there is no CA pod visible (neither scheduler, apiserver, etc) on GKE.

[2016-11-02 21:04] Random-Liu commented on #35935
@rootfs IIUC, the mounter is using rkt fly.

[2016-11-02 21:05] lchi commented on #29735
We just ran into this issue with a much smaller history (only 10 RS resources). We're using the revisionHistoryLimit workaround but it seems like the real fix would be using a different hashing algorithm. Any thoughts on when a fix may come out?

[2016-11-02 21:05] wojtek-t commented on #36056
@xiang90 - but it seems it also has some problems with empty(?) wal file (i.e. right after snapshotting)?

[2016-11-02 21:06] wojtek-t commented on #36056
[The second problem I pasted above with the workaround of --snapshot-count=1 I was trying to make]

[2016-11-02 21:07] saad-ali commented on #34665
This has become much more freqent and is blocking the merge queue https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/

[2016-11-02 21:12] mikeln commented on #36084
From: <google-containers@googlegroups.com>
Date: Wed, Nov 2, 2016 at 8:23 AM
Subject: kubernetes-cross-build - Build # 1386 - Fixed!
To: <redacted>

kubernetes-cross-build - Build # 1386 - Fixed
http://ci-test.k8s.io/kubernetes-cross-build/1386

Started by an SCM change

Changes:
[alexander.kanevskiy] Fix build break on non-Linux OS introduced in 87aaf4c0
 (6ad82e5a30471a7421beb58242839cb835743fc1

[2016-11-02 21:15] wojtek-t commented on #36056
But still - both these seems like kind of corner-cases...

[2016-11-02 21:18] drekle commented on #5607
I also believe that I really need this.  I will be trying to deploy a pod to a specific node which uses a napatech card or other networking devices.

[2016-11-02 21:23] sputnick opened #36091 "More MongoDB friendly core annotation and label names"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request.

  - Describe *in detail* the feature/behavior/change you'd like to see.
Today Kubernetes allows and uses key names for labels and annotations that cannot be searched or indexed by MongoDB and perhaps some other key/value stores. Some of the core kubernetes annotations are like that, for example:
"kubernetes.io/cluster-ser

[2016-11-02 21:23] kargakis commented on #29735
@lchi hash collision is not the only case where you can stumble upon this issue. Are you sure this was a hash coliision? Did you check that the deployment pod template is different from the rs pod template that you get in the error?

[2016-11-02 21:23] rootfs opened #36092 "Make device open detection robust across volume plugins"
This is a followup to https://github.com/kubernetes/kubernetes/pull/35434

Certain volume plugins, e.g. RBD, need to release devices during unmount. As a result, when `DeviceOpened` starts, the device path no longer exists. A temp fix is to check device path and call `DeviceOpened` only if the device path exists.

This temp fix opens up to all volume plugins and is not atomic (i.e. the device path

[2016-11-02 21:27] mml commented on #36056
The second case seems more likely, because it occurs once every time we make a snapshot, right?

[2016-11-02 21:30] ixdy commented on #36084
Oh, we are well into the Jenkins, git, and GitHub spooky zone.

It looks like our Jenkins instance knows you as user "github" based on the email address you used for your 2 PRs back in 2015.

And it looks like revert commits created on GitHub might be causing Jenkins to think it's you.
[code]

At least that's my best guess?

We should probably just turn off emails from the cross-build, I guess. Li

[2016-11-02 21:32] xiang90 commented on #36056
@mml We will fix both at etcd side.

[2016-11-02 21:37] mikeln commented on #36084
Your guess is better than mine, for sure.

[2016-11-02 21:41] yujuhong commented on #33980
#34490 is merged. Closing.

[2016-11-02 21:41] #33980 closed

[2016-11-02 21:43] calebamiles commented on #33106
@saad-ali, the test grid links all look good, we should probably close this issue

[2016-11-02 21:51] janetkuo commented on #24152
Sent the fix #36094

[2016-11-02 21:52] lchi commented on #29735
@kargakis yes, here are two templates that we are seeing hash to the same value:

[code]

vs

[code]

In this case there's only a small change for the version bump, and the template is rather short.

[2016-11-02 21:52] yujuhong commented on #34974
The prerequisite of adding and utilizing a new `Exited` state is that the dockershim can actually identify all the resources allocated to the sandbox by an ID. I think this requires too much change in the dockershim+network plugins, so we should probably drop this for 1.5. kubelet will rely on the current hack (calling `StopPodSandbox` whenever it sees a exited container), or we can modify `Remove

[2016-11-02 21:54] janetkuo commented on #24152
In this case they overlap with each other. The one whose selector is last updated should be the one stop syncing. The bug is because the latter one doesn't know it overlap with the former one. With the fix it can detect the other overlapping deployments correctly.

[2016-11-02 22:02] calebamiles commented on #32947
@saad-ali, we can probably close this. Of all the linked test grids [only one](https://k8s-testgrid.appspot.com/google-gke#gci-gke&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Kubectl%5C%20client%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20Simple%5C%20pod%5C%20should%5C%20support%5C%20inline%5C%20execution%5C%20and%5C%20attach) has any recent failures and those were last seen 24 October

[2016-11-02 22:03] saad-ali commented on #33106
This test has not flaked since Oct 3. Closing issue.

[2016-11-02 22:03] #33106 closed

[2016-11-02 22:08] rkouj opened #36098 "Better messaging for missing storage binaries"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
`kubectl version` 1.4  patch-release

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Generic error message for missing binaries on the

[2016-11-02 22:14] quinton-hoole commented on #35254
@nikhiljindal My suggestion would be to lay out the various options in a requirements and design document, and use that as the basis for discussion/comment, rather than a long thread here.

[2016-11-02 22:15] saad-ali opened #36102 "[k8s.io] [Feature:Example] [k8s.io] Spark should start spark master, driver and workers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/17028

Failed: [k8s.io] [Feature:Example] [k8s.io] Spark should start spark master, driver and workers 6.17s

[code]

This test has been consistently failing for a long time
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/17027
* https://k8s-gubernator.appspot

[2016-11-02 22:20] calebamiles commented on #32772
@saad-ali, this issue should probably be closed. The associated PR has already been merged and the PR test grid was green except for GKE tests which were non blocking

[2016-11-02 22:21] rkouj commented on #36098
I am  working on this.
Current plan in @saad-ali 's words:

"We add a "CanMount()" interface to the API and callers who want to SetUp() should call that first."
This check is triggered before mount (if the containerized mounter override is not enabled) and generates a nice user understandable event when it fails.
Make this check gated by a flag to kubelet (default off, and enabled for GCE and GCI)

[2016-11-02 22:25] smarterclayton commented on #36011
We're so close to freeze that this needs to happen now if it's going to
happen.

On Nov 2, 2016, at 11:18 AM, Ionut Palade <notifications@github.com> wrote:

i misunderstood, you meant the total scope. yeah i could only trace it to
cadvisor dependency so far.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kuberne

[2016-11-02 22:27] janetkuo opened #36104 "hack/verify-generated-protobuf.sh failed even after hack/update-all.sh"
I found this when moving stateful set from v1alpha1 to v1beta1.

Although `hack/update-generated-protobuf.sh` is called in `hack/update-all.sh`, after `hack/update-all.sh` is done, `hack/verify-generated-protobuf.sh` still fails.

Running `hack/update-generated-protobuf.sh` again makes it pass the verification, but it's quite annoying.

I wonder if `hack/update-generated-protobuf.sh` should be cal

[2016-11-02 22:28] saad-ali commented on #36098
CC @kubernetes/sig-storage

[2016-11-02 22:36] mtaufen opened #36105 "Does deleting --experimental flags break upgrades?"
Scenario:
- User is using experimental flag in production (even though they mayyyybe shouldn't)
- We remove the experimental flag in the next version (or rename it, because it's not experimental anymore)
- Component rejects unknown flags (I think all components do this?).
- The removal of the flag from the component breaks the upgrade, because the user still has it turned on in their provisioning.

[2016-11-02 22:38] foxish opened #36107 "StatefulSet cannot scale down after network partition is healed sometimes"
**What happened**:
https://github.com/kubernetes/kubernetes/issues/36035

**What you expected to happen**:
The statefulset should have scaled down to 0.
Instead, even after 10 minutes:

[code]

**How to reproduce it** (as minimally and precisely as possible):
Run the `[StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive]` e2e test on a gce cluster running the

[2016-11-02 22:39] dchen1107 commented on #36011
The feature freeze date is next Monday. Agreed with @smarterclayton please share with us the scope first, we can decide what is the next.

[2016-11-02 22:40] bprashanth commented on #36107
if the petset has replicas=0 it's not going to do anything

[2016-11-02 22:41] caesarxuchao commented on #36104
cc @smarterclayton

@janetkuo could you paste the diff after you run `hack/update-generated-protobuf.sh` the second time?

[2016-11-02 22:42] ixdy commented on #34665
The test `[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: http [Slow]` looks very suspicious - it's missing junit in nearly all (if not all) of the timed-out runs.

[2016-11-02 22:44] PI-Victor commented on #36011
@smarterclayton me and @bparees were talking about raising this topic tomorrow in planning and see what the best solution is. we both agreed that this bump making it in time all the way from here down to origin is unrealistic because of the amount of work that needs to be done here.
oh and now code freeze.
totally newb question, any estimate on the code freeze duration?

[2016-11-02 22:48] k8s-merge-robot opened #36109 "[k8s.io] Networking should provide unchanging, static URL paths for kubernetes api services {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/3104/

Failed: [k8s.io] Networking should provide unchanging, static URL paths for kubernetes api services {Kubernetes e2e suite}

[code]

[2016-11-02 22:49] euank opened #36110 "pull-kubernetes-verify flake: godep: Error downloading some deps. Aborting restore and check."
Seen in issue #36020

Logs from [here](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/36020/pull-kubernetes-verify/2727/build-log.txt):

[code]

At the very least, we should retry godep restore a couple times given the heavy network dependencies it has.

The network dependencies are sorta necessary... but they change rarely so we could also do some clever caching of unmodified clon

[2016-11-02 22:51] foxish commented on #36107
@bprashanth When I `kubectl edit` a running petset, and set its scale to 0, that seems to work and delete the pets, and we should have a functioning scaler. Am I misunderstanding something?
I'm using the same teardown process for the e2e test I linked in the issue as the other tests ([test/e2e/petset.go#L601-L607](https://github.com/kubernetes/kubernetes/blob/5c3792a4db912547aa4c93c7acee25ebb431e1

[2016-11-02 22:51] smarterclayton commented on #36082
Doesn't that significantly complicate generation to properly handle merging whole files (including imports which may have different local names)?

Why not always generate a file for a package, even if empty?

[2016-11-02 22:52] smarterclayton commented on #35498
It's alpha and may be removed at any time.

On Nov 2, 2016, at 3:11 PM, Zachary Adam Kaplan <notifications@github.com>
wrote:

whats going on with this tag? it's used in the docs here
http://kubernetes.io/docs/user-guide/petset/

should i use it going forward?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubern

[2016-11-02 22:54] bprashanth commented on #36107
yeah is scale in the petset controller noticing deletion timestamp? because the test code you showed doesn't care

[2016-11-02 22:54] saad-ali commented on #36102
CC @mwielgus @gurvindersingh

Assigning @mwielgus based on previous instance https://github.com/kubernetes/kubernetes/issues/14462

Please reassign if you are not the correct owner.

[2016-11-02 22:55] smarterclayton commented on #29735
Can we even change this in a backwards compatible manner on the cluster
safely?

On Nov 2, 2016, at 5:52 PM, Lucas Chi <notifications@github.com> wrote:

@kargakis <https://github.com/kargakis> yes, here are two templates that we
are seeing hash to the same value:

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: exworker
spec:
  replicas: 2
  template:
    metadata:
      labels:

[2016-11-02 22:55] rmmh commented on #36110
We could probably do a single retry and avoid most flakes. Godep restore takes a long time though, so if we retry too many times we'll run into timeout issues (but maybe that's fine).

See also #31842, tools/godep#511

[2016-11-02 22:59] viroos commented on #35643
Additional info. In /var/log/syslog:
`Nov  2 22:56:29 black-pearl kubelet[1668]: W1102 22:56:29.327317    1668 status_manager.go:450] Failed to update status for pod "_()": Operation cannot be fulfilled on pods "etcd-black-pearl": StorageError: invalid object, Code: 4, Key: /registry/pods/kube-system/etcd-black-pearl, ResourceVersion: 0, AdditionalErrorMsg: Precondition failed: UID in precondition

[2016-11-02 23:01] k8s-merge-robot opened #36111 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/5744/

Run so broken it didn't make JUnit output!

[2016-11-02 23:03] bgrant0607 commented on #36105
@mtaufen Yes, we can't just delete flags.

[2016-11-02 23:03] smarterclayton commented on #36011
Until early December.

On Nov 2, 2016, at 6:45 PM, Ionut Palade <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> me and @bparees
<https://github.com/bparees> were talking about raising this topic tomorrow
in planning and see what the best solution is. we both agreed that this
bump making it in time all the way from here down to origin is unrealistic
because of

[2016-11-02 23:03] saad-ali commented on #34665
If it were a test, shouldn't the test entry statements still show up in the log? e.g. `[BeforeEach] [k8s.io] Networking...`

Or is it possible that the test is causing the entire `e2e.test` process to die?

[2016-11-02 23:13] erictune commented on #35774
Why can't cluster-autoscaler write debugging info to its logs the same as scheduler or apiserver?

[2016-11-02 23:16] krousey commented on #34868
`ssh: rejected: administratively prohibited (open failed)` machine was locked down for too many SSH sessions.

[2016-11-02 23:18] rmmh commented on #36110
Actually, it looks like this is only being done for an *excluded* verify step (`verify-staging-client-go.sh`). We should not do this for an excluded step, and we should not do `godep restore` for every PR.

[2016-11-02 23:19] rmmh commented on #36110
@caesarxuchao can you explain why staging/ needs `godep restore` to function?

[2016-11-02 23:20] caesarxuchao commented on #36110
verify-godeps.sh also runs `godep restore`: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L91

[2016-11-02 23:23] saad-ali commented on #36111
@thockin's tingling 6th sense pointed us to the culprit: https://github.com/tools/godep/pull/522

[2016-11-02 23:23] caesarxuchao commented on #36110
`staging/` eventually get published to [client-go](https://github.com/kubernetes/client-go). IIRC, it needs `godep restore` because otherwise a later `godep save` fails ([here](https://github.com/kubernetes/kubernetes/blob/master/staging/copy.sh#L85)).

[2016-11-02 23:24] caesarxuchao commented on #36110
If we can run the verify script in order, then we can run verify-staging-client-go.sh after verify-godeps.sh, then we can save one `godep restore`.

[2016-11-02 23:24] rmmh commented on #36110
verify-godeps only runs if Godeps/ or vendor/ has changed.

[2016-11-02 23:25] thockin commented on #36105
We have a way to mark flags as deprecated and phase them out.

On Wed, Nov 2, 2016 at 4:03 PM, Brian Grant <notifications@github.com>
wrote:

[2016-11-02 23:28] caesarxuchao commented on #36110
Hmm, ok. How often will `godep restore` fail?

[2016-11-02 23:30] mbohlool commented on #36082
The only reason was faster compile and release time (single file added 3.5% more compilation time and almost the same to "make quick-release", multiple files added 7% compilation time, and 25% make quick-release time, more information [at the PR comment here](https://github.com/kubernetes/kubernetes/pull/31468#issuecomment-246065961)). We did not have any merging issues yet. It was a little more c

[2016-11-02 23:30] thockin opened #36113 "volume `subPath` behavior is not documented"
There's effectively no documentation on this field.

@kubernetes/docs

[2016-11-02 23:32] rmmh commented on #36110
I'm seeing ~.5% failure rate over the last few days, and averaging ~2 minutes for the godep restore. Do we have to check in _vendor for the staging client code at all?

[2016-11-02 23:33] ixdy commented on #34665
Could be that. `ginkgo` has weird failure cases IME.

[2016-11-02 23:35] caesarxuchao commented on #36110
We run `godep save` to find all the dependencies of clients, including k8s packages, so _vendor is not the reason we need `godep save`.

[2016-11-02 23:45] saad-ali commented on #34665
Can someone from @kubernetes/sig-network help investigate. This issue is blocking merge queue for multiple hours per day in the week leading to code freeze. So this is very high pri.

[2016-11-03 00:06] blixt opened #36117 "Deployment doesn't create new replica set nor give any error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

I'm hoping that this issue will resolve the problem I'm seeing.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`deployment`, `replica

[2016-11-03 00:07] saad-ali commented on #33669
Kube proxy is networking team.

CC @kubernetes/sig-network

Assigning to @matchstick for triage.

[2016-11-03 00:08] pmcq commented on #26909
I was also having problems with the username being passed, and found that I could see what the user by looking at the apiserver logs, there will be a line like:

`Forbidden: "/apis/rbac.authorization.k8s.io/v1alpha1/clusterroles", Reason: Everything is forbidden.
No policy matched.
attempt to grant extra privileges: [{[create] <nil> [rbac.authorization.k8s.io] [clusterroles] [] []}] user=&{<userna

[2016-11-03 00:10] matchstick commented on #33669
@bprashanth @bowei Take a look please.

[2016-11-03 00:10] bprashanth commented on #33669
this doesn't exist anymore. the test has been rewritten as networking.go, because it was flake.
I don't know about *this* particular flake. https://github.com/kubernetes/kubernetes/pull/31559

[2016-11-03 00:11] kargakis commented on #29735
New hash algo? Unlikely.

[2016-11-03 00:13] k8s-merge-robot opened #36118 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/5745/

Run so broken it didn't make JUnit output!

[2016-11-03 00:13] saad-ali commented on #32772
ACK. Closing

[2016-11-03 00:13] #32772 closed

[2016-11-03 00:16] saad-ali commented on #33669
Looks like the flakes that are still happening are on the 1.4 branch: `kubernetes-e2e-gci-gke-slow-release-1.4`. Are there plans to cherry-pick https://github.com/kubernetes/kubernetes/pull/31559 to 1.4?

[2016-11-03 00:19] bprashanth commented on #33669
yeah we can cherrypick if it goes in clean, the last failure might need digging https://github.com/kubernetes/kubernetes/issues/33669#issuecomment-258026287, the others look fairly random

[2016-11-03 00:27] derekwaynecarr commented on #36069
@kubernetes/sig-node - we don't appear to do anything today to handle
exhaustion of open files.  May be worth handling as a future feature.

On Wednesday, November 2, 2016, Hongchao Deng <notifications@github.com>
wrote:

[2016-11-03 00:33] blixt commented on #36117
Here's the rollout status of me trying to switch between different Docker image tags. The images after the last working one just leaves rollout status hanging on "Waiting for deployment spec update to be observed..." but if I change to the one before the working one I see "Waiting for rollout to finish".

So it seems that it's hanging with the new images, but nothing changed in the `Dockerfile` or

[2016-11-03 00:38] euank commented on #36069
Potentially this could be a feature for node-problem-detector as well

[2016-11-03 00:42] mwielgus commented on #35774
It does but can you actually see GKE api master logs as a regular user?

[2016-11-03 00:42] smarterclayton commented on #36082
What if I only want to include some of the api packages that live in the
core repo?  We are moving away from a world where all api groups are in a
single repo, so this seems like we're focusing on the wrong problem (andy's
work to try and make the tools more generic to use seems in direct conflict
to some of this merging).

On Wed, Nov 2, 2016 at 7:30 PM, mbohlool <notifications@github.com> wrote:

[2016-11-03 00:45] saad-ali commented on #36111
Reopening, Issue is not resolved by PR https://github.com/kubernetes/kubernetes/pull/36114

[code]

[2016-11-03 00:49] AlexMioMio commented on #36042
@brendandburns

[2016-11-03 00:52] smarterclayton commented on #29735
So we don't want to blow out an existing cluster immediately on upgrade, so
we need a way to stage this so an admin can slowly roll this out under
their control.

One possible algo:

1. Add a flag to the controller manager config that decides hash behavior
"legacy", "migrate-to-X", "X"
2. When the deployment controller calculates hashes, calculate old and new
hash
3. If there are no existing repli

[2016-11-03 00:54] smarterclayton commented on #36042
Volumes can disappear for many reasons, so we don't fail deployment, we just wait (volumes can be provisioned in the background many minutes after a pod is created).  So that part is working as designed, but the messages and output to communicate to the user should be much clearer.

@kubernetes/sig-storage re: usability of volume mounting log messages and @kargakis since your RS propagating failur

[2016-11-03 00:55] smarterclayton commented on #36104
Interesting.  I saw something like this a while ago but wasn't able to reproduce it after (we don't remove types that much).

[2016-11-03 00:58] #36118 closed

[2016-11-03 01:01] smarterclayton commented on #35929
@wojtek-t this is actually the next highest item in profiles from the fake node scenario (and creating self links).  We have to walk all the children of the list to set selfLink, and we do that in the most expensive way possible (convert array of Pod -> array of runtime.Object and then back).  SelfLink is also expensive because URL.String() has to allocate many strings.  We should be able to avoid

[2016-11-03 01:14] janetkuo commented on #36104
Here's what I saw when I ran `hack/update-all.sh` and then `hack/verify-generated-protobuf.sh`:

[code]

Then I ran hack/update-generated-protobuf.sh again:

[code]

It modified two files and then the verification passed:
[code]

[2016-11-03 01:21] yujuhong commented on #35983
Another occurrence: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36112/pull-kubernetes-node-e2e/3122/

[2016-11-03 01:22] smarterclayton commented on #36117
@kubernetes/deployment

[2016-11-03 01:23] smarterclayton opened #36120 "Remove ugorji codecgen in 1.6"
Now that we are moving to pure protobuf in etcd and for internal channels, we no longer need ugorji codec generation to make JSON fast.  We can use the ugorji marshaler / unmarshaler (it has minor perf benefits) or just revert to using golang JSON serialization.  The ratio of total cluster traffic using JSON should be small enough that the reduction in code size, generated code, and build logic is

[2016-11-03 01:23] smarterclayton commented on #36120
@liggitt

[2016-11-03 01:24] smarterclayton commented on #36120
@kubernetes/sig-api-machinery

[2016-11-03 01:36] saad-ali commented on #36111
I am going to bite the bullet and update vendor directory so that the missing AUTHORS and CONTRIBUTORS files are picked up.

[2016-11-03 01:43] k8s-merge-robot opened #36122 "[k8s.io] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster-info [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1989/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster-info [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28420

[2016-11-03 01:47] luomiao commented on #35356
@mikedanese
Hi Mike, I got a problem with Bazel too on Mac. But maybe this is a different problem.
I am trying to submit this PR: https://github.com/kubernetes/kubernetes/pull/36108
which touches a big number of files.
And the verification step failed with verify-bazel step.
However on my local repo, even after I did ./hack/update-bazel.sh
The ./hack/verify-bazel.sh will still give error saying:
B

[2016-11-03 02:32] saad-ali commented on #36111
Leaving this open until I can verify the fix.

[2016-11-03 02:42] k8s-merge-robot opened #36126 "[k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/3117/

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]

Previous issues for this test: #27295 #35385

[2016-11-03 02:51] feiskyer commented on #35356
Another failed case:

[code]

[2016-11-03 03:09] saad-ali commented on #36111
With PR https://github.com/kubernetes/kubernetes/pull/36124 (which adds the missing files by following the godep [steps here](https://github.com/kubernetes/kubernetes/blob/fd80fd2e8881fd79924c8430773e2716dfdad1f4/docs/devel/godep.md)), `kubernetes-verify-master` is now failing with:
[code]

If I remove `vendor/github.com/docker/docker/project/CONTRIBUTORS.md` (PR https://github.com/kubernetes/kube

[2016-11-03 03:16] saad-ali commented on #36111
Looks like /tmp/gopath.R0NLvJ/src/k8s.io/kubernetes/vendor/github.com/docker/docker/project/CONTRIBUTORS.md is a symlink which is screwing up godep

[2016-11-03 03:43] saad-ali commented on #36111
Spoke with @thockin. Will try to fix PR https://github.com/kubernetes/kubernetes/pull/36114 so that `pin-godep` grabs the specified version of `godep` even if a different version was previously installed.

[2016-11-03 03:56] calebamiles commented on #32639
@saad-ali, this issue should probably be closed. the test grid links all look pretty good.

[2016-11-03 04:01] mikedanese commented on #35356
@luomiao thanks for the report. Your issue will be fixed when https://github.com/kubernetes/kubernetes/pull/36089 merges.

@feiskyer thats not a gazel or mac issue, that's a legitimate error. Master is broken https://github.com/kubernetes/kubernetes/issues/36111

[2016-11-03 04:10] feiskyer commented on #35356
Yes, just noticed it failed on Linux either.

[2016-11-03 04:34] calebamiles commented on #32368
@wojtek-t, has this been resolved given that https://github.com/kubernetes/kubernetes/issues/31728 is closed. @saad-ali we should probably close this issue if confirmed that the issue has been resolved by migration

[2016-11-03 04:45] calebamiles commented on #31920
@saad-ali, it might be possible to close this issue. Last flakes were on 29 October 2016 and have had a lot of green runs after that. What do you think @vishh?

[2016-11-03 04:48] calebamiles commented on #31855
we might be able to close this one @saad-ali, the last test failure was 29 October 2016 and we've had several green runs since. What do you think @jessfraz?

[2016-11-03 04:51] calebamiles commented on #31676
any updates on this issue @mtaufen, @aveshagarwal, @derekwaynecarr, @vishh. It looks very red on test grid

[2016-11-03 04:52] saad-ali commented on #36111
Leaving this open until I can verify the fix.

[2016-11-03 04:53] calebamiles commented on #31503
any updates on this issue @krousey? testgrid is looking pretty red

[2016-11-03 04:55] calebamiles commented on #31402
@fredjean any updates on this issue? there was a failure posted to testgrid as late as 1 November 2016

[2016-11-03 04:59] calebamiles commented on #30566
@saad-ali we might be able to close this issue, the last flake from testgrid  was 26 October 2016 and we've had solid green runs after that. What do you think @davidopp

[2016-11-03 05:02] saad-ali commented on #36111
Next `kubernetes-verify-master` run with the fix from PR #36132 should start at 10:23 PM PDT and should complete by 10:57 PDT. I'll keep an eye on it.

[2016-11-03 05:02] calebamiles commented on #30175
@saad-ali we need someone to assign this issue to as it's currently failing according to testgrid maybe someone from @kubernetes/goog-node @kubernetes/goog-gke or @dchen1107 has ideas?

[2016-11-03 05:07] saad-ali commented on #36111
5754 is the 9:15 PM run. 5755 is the 9:49 PM run. Both are expected to fail. We are waiting on the result of 5756.

[2016-11-03 05:07] Random-Liu commented on #34661
After #34877 gets merged, we need to update the test to verify the cri log path.

[2016-11-03 05:09] matchstick commented on #36092
@kubernetes/sig-storage I think it's less about making device open detection more robust and more about having a clean architectural way to have volumes that are like RBD have their behaviour not be a special case.

@childsb committed @jsafrane to picking this up. Not sure if @jsafrane knew :-) Assigning to him for now. Please ACK.

[2016-11-03 06:02] saad-ali commented on #36111
Hmmm, even with v73 verify-godeps is failing:

[code]

Need to investigate some more

[2016-11-03 06:03] jicki opened #36135 "kubernetes 1.4.+ kube-dns and kubeadm.conf"
[root@k8s-master ~]#kubectl get svc --namespace=kube-system
NAME                   CLUSTER-IP     EXTERNAL-IP   PORT(S)         AGE
kube-dns               10.0.0.10      <none>        53/UDP,53/TCP   2d

kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --require-kubeconfig=true"
Environment="KUBELET_SYSTEM_PODS_ARGS=--pod-manifest-path=/etc/kube

[2016-11-03 06:11] AlexMioMio commented on #36042
Just image this situation:if thousand pods try to mount volume from a nfs server,but nfs server is shutdown,then the thousand pod will be in ContainerCreating status and will not be killed.If we don't fix up nfs server,the thousand pod willn't be ready to use.That's a problem.So i suggest we should limit the time of attempts.Thx

[2016-11-03 06:14] feiskyer opened #36136 "SELinux label format error for docker v1.11+"
From docker's [documentation](https://docs.docker.com/engine/reference/run/#/security-configuration), selinux labels format has been changed to

[code]

so we need to change `label:` to `label=` for docker 1.11+ (and keep `label:` for low version docker). I'd like to fix the issue in the following PR after #34811.

cc/ @pmorie @timstclair @yujuhong

[2016-11-03 06:30] feiskyer opened #36137 "Kubelet: network state unknown for local cluster with experimental cri enabled"
Start a local cluster with experimental cri enabled:

[code]

Kubelet is always complaining `[network state unknown]` :

[code]

This is because network plugin is set to nil when `EXPERIMENTAL_RUNTIME_INTEGRATION_TYPE=cri` is enabled. In this case, kubelet rely on pod CIDR to check whether the network is ready, however for local cluster there may be no pod CIDR (reference [here](https://github.com

[2016-11-03 06:33] mysterytree commented on #23618
@gajus
Edit /etc/hosts
like：
[code]

The problem  sloved

[2016-11-03 06:34] Random-Liu commented on #36137
https://github.com/kubernetes/kubernetes/pull/35839 should fix this.

[2016-11-03 06:35] jeremywadsack commented on #33766
@AdoHe I just ran into this again. Any further thoughts?

I'm now running:

[code]

To resolve this I ended up having to `delete` the server and then `apply` the new configuration.

[2016-11-03 06:37] mbohlool commented on #36082
In that case we can break OpenAPI definitions per package (or maybe repo but I don't see much benefit in breaking it at repo boundaries yet). It is not hard to do so. we can do that for 1.6.

[2016-11-03 06:38] #32368 closed

[2016-11-03 06:39] davidopp commented on #35774
I'm with @mwielgus here, I think the logs are not an adequate way to surface information like this to the user (regardless of whether users can see the logs). IMO we shouldn't be asking users to poke through logs to understand why the cluster is behaving the way it is. I admit this is personal preference, not based on some kind of principle.

Part of the problem is that CA doesn't have a correspon

[2016-11-03 07:36] resouer commented on #32024
@wojtek-t [Quick Update] I found that scheduler now deal with `Schedule()` and `Bind()` in asynchronous way.  That means, when factory watched new pod added and invalidate `PodFitsResource` cache, other pods belong to same controllerRef have already been predicated with cached info (my e2e test also confirmed this).

So we may have to give up cache `GeneralPredicates` (as scheduler use `GeneralPre

[2016-11-03 07:45] zreigz commented on #31983
Thanks for info I will try it

[2016-11-03 07:45] saad-ali commented on #36111
`godep-save` was using the wrong version since version wasn't being propagated. PR https://github.com/kubernetes/kubernetes/pull/36138 to address that

[2016-11-03 07:47] wardviaene commented on #34783
Hi @jmarhee

Great work on the kube-up script, I need something similar, so I tried out your script from your fork. I had a few issues with the script:

- You use a lot of $(dirname $0), but this doesn't seem to give me the correct path in my environment, better assign a variable and do a better path lookup at the start of the script. I ended up getting a path like ../digitalocean/digitalocean/...

[2016-11-03 07:50] wojtek-t commented on #35929
Yes - I've also seen that, but I'm mostly fighting with etcd v3 now. Happy to help with this once done with other work.

[2016-11-03 07:51] wojtek-t commented on #36120
Yes - we definitely should do once once we move to protobufs in etcd.

[2016-11-03 07:51] wojtek-t commented on #36120
It is also on my list to do after migration is done.

[2016-11-03 07:52] nlamirault commented on #35643
I've got same error i think. etcd, scheduler and controller-manager are killed and restarted :

[code]

The etcd container logs :

[code]

[2016-11-03 08:08] wojtek-t commented on #32024
@wojtek-t [Quick Update] I found that scheduler now deal with Schedule() and Bind() in asynchronous way. That means, when factory watched new pod added and invalidate PodFitsResource cache, other pods belong to same controllerRef have already been predicated with cached info (my e2e test also confirmed this).

That's a good point. However, I would suggest a different approach. Basically, I think t

[2016-11-03 08:26] PierrickI3 commented on #35822
That works. Thanks for pointing my mistake.

[2016-11-03 08:26] #35822 closed

[2016-11-03 08:36] kayrus opened #36141 "kubelet: fetch metrics from readinessprobe and livenessprobe"
kubelet already checks endpoints (readinessprobe and livenessprobe), so why don't implement metrics gathering for these probes?

[2016-11-03 08:48] gmarek opened #36143 "[k8s.io] e2e flake: No SSH tunnels currently open"
It happens once in a while in different tests. This is a meta issue for failures like
[code]

cc @kubernetes/goog-gke @wojtek-t

[2016-11-03 08:49] gmarek commented on #36126
Meta issue: #36143

[2016-11-03 08:50] gmarek commented on #35590
Meta issue: #36143

[2016-11-03 09:08] #35768 closed

[2016-11-03 09:08] #36110 closed

[2016-11-03 09:21] saad-ali commented on #36111
Build is green

[2016-11-03 09:21] #36111 closed

[2016-11-03 09:21] kargakis commented on #33845
@sputnick here is the design doc that explains what "controller=true" means for an owner reference:
https://github.com/kubernetes/kubernetes/blob/f4c2a05eeaad78e5c6c8698a1e15a0c1032ccb25/docs/proposals/controller-ref.md#api-and-semantic-changes

[2016-11-03 09:30] k8s-merge-robot opened #36144 "kubernetes-e2e-gci-gce-petset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/1804/

Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] [Feature:PetSet] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not

[2016-11-03 09:37] kargakis commented on #36117
Can you paste the logs from the controller manager?

[2016-11-03 09:57] bogdando commented on #33554
NOTE: this is rather a docs issue, see https://github.com/kubernetes/kubernetes/pull/35525#issuecomment-257919311
I suggest to fix this in docs, as described by @fluxard

[2016-11-03 09:59] kiall commented on #33825
Yep, happens on all container builds:

	$ ./build-tools/run.sh make test-integration

	.... SNIP

	+++ [1103 10:57:42] Running integration test cases
	Running tests for APIVersion: v1,apps/v1alpha1,authentication.k8s.io/v1beta1,authorization.k8s.io/v1beta1,autoscaling/v1,batch/v1,batch/v2alpha1,certificates.k8s.io/v1alpha1,extensions/v1beta1,imagepolicy.k8s.io/v1alpha1,policy/v1alpha1,rbac.authori

[2016-11-03 10:16] wojtek-t commented on #36056
@xiang90 has a PR in etcd that seems to fix the problems: https://github.com/coreos/etcd/pull/6794
I built the custom etcdctl version with the patch and it seems to help.

Until etcd release is not done, I've build "3.0.13-experimental.3" image with the custom etcdctl, to allow further testing.

[2016-11-03 10:20] bogdando commented on #34627
I'm just wondering if a message queue and topics to listen on (a pub/sub) could work as well as those "filters" to reduce the noise from global fan-outs.

[2016-11-03 10:34] jboero commented on #29730
Note this is fixed in 1.2 Release     : 0.26.git4a3f9c5.fc23

[2016-11-03 10:39] tazjin opened #36149 "Support expected status codes in HTTP probes"
Relates to [this bit of code](https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/pkg/probe/http/http.go#L57).

Basically in some cases we want to expect a specific status code. The use-case is a `Service` fronting an HA system that returns 307 responses if its not the currently elected master. Using `readinessProbe` we want to build a service that only sends tra

[2016-11-03 10:39] nailgun commented on #23920
@bacongobbler, looks like it's not just CoreOS.

Just followed [kubeadm tutorial](http://kubernetes.io/docs/getting-started-guides/kubeadm/) to install Kubernetes on single **Cent**OS 7 bare-metal host. Then I've deployed Deis Workflow by following [this guide](https://deis.com/docs/workflow/installing-workflow/). Now when I'm trying to [deploy example app](https://deis.com/docs/workflow/quickstar

[2016-11-03 10:47] bogdando commented on #24988
@lavalamp

Do you mean both writing to and reading from/watching on? What if clients only to consume aliveness information for apiservers endpoints and nothing more? What tracks aliveness and update that info in etcd is a completely another story though. It may be apiservers itself, thus everything would be kept secure and encapsulated.

[2016-11-03 10:50] #29730 closed

[2016-11-03 10:50] bboreham commented on #23920
As noted at https://github.com/kubernetes/kubernetes/issues/23920#issuecomment-217048099,  Kubernetes installs that use CNI, which includes all `kubeadm` installs, do not currently support `hostPort`.

[2016-11-03 10:52] codablock opened #36150 "kubeadm on CentOS mounts incompatible /etc/ssl/certs into controller"
**What keywords did you search in Kubernetes issues before filing this one?**
controller /etc/ssl/certs
kubeadm /etc/ssl/certs

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.5 custom built master
I also use a custom built hyperkube image instead of the single app images for apiserver, controller, ...

**Environment**:

[2016-11-03 10:55] kargakis commented on #20519
The difference is that by opening the objects one by one, we get to skip invalid objects so --recursive is still able to edit other objects. By opening all the objects in a list, an invocation to a directory that contains files with errors will never open the editor and instead require those errors to be fixed ie. --recursive still continues to work but only on directories with valid objects.

[2016-11-03 11:03] dgoujard commented on #23920
@nailgun You need to use hostNetwork in your router pod i think, example with an nginx ingress controller :
[code]

[2016-11-03 11:20] k8s-merge-robot opened #36151 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1405/

Run so broken it didn't make JUnit output!

[2016-11-03 11:40] zreigz commented on #31983
I've updated my PR for flag `--dport` It works well

[2016-11-03 11:49] deads2k commented on #35254
This request has actually come up before, but maintaining an audit trail like that for deciding what a controller should do has been difficult to reason about in all the scenarios we've tried.  When you write up the doc, try to come up with a specific scenario and perhaps a suggestion about how we could track it.  This is finer granularity than we currently have in our API server.

[2016-11-03 12:00] rcoup opened #36152 "kubectl port-forward should allow binding/listening to other interfaces"
**What keywords did you search in Kubernetes issues before filing this one?**
port forward bind address
port forward localhost
port forwarding listen

**Is this a BUG REPORT or FEATURE REQUEST? (choose one):** FEATURE REQUEST

**Kubernetes version (use kubectl version):**
[code]

**Describe *in detail* the feature/behavior/change you'd like to see.**

Currently `kubectl port-forward` only allows b

[2016-11-03 12:02] gmarek opened #36153 "[k8s.io] e2e flake: GCI cluster failed to initialize"
Up failed with the message:
[code]

@vishh @wojtek-t @kubernetes/sig-node

[2016-11-03 12:55] anioool opened #36156 "AWS ELB might be created in wrong subnet"
Hi guys,

I need to enable HA for controller currently. I decided to use kops app and kubernetes version 1.4.3.
Currently I have 3 controllers (each in different AZ), however I need to have rest of stuff located only in one AZ, ie. zone C.

In this situation leader election marked master from zone B as a leader and all requested ELB's somehow need to be created in the same zone as elected master.

[2016-11-03 13:10] foxish commented on #36144
Should be fixed by https://github.com/kubernetes/kubernetes/pull/36097. Will watch this for a while and then close.

[2016-11-03 13:34] yurifrl commented on #23092
what i was missing was 'gcloud beta auth application-default login'

[2016-11-03 13:50] k8s-merge-robot opened #36159 "[k8s.io] InitContainer should not start app containers and fail the pod if init containers fail on a RestartNever pod {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/10837/

Failed: [k8s.io] InitContainer should not start app containers and fail the pod if init containers fail on a RestartNever pod {E2eNode Suite}

[code]

[2016-11-03 13:50] AdoHe commented on #36072
@aabed I think this issues has been fixed on higher versions, please give a try.

[2016-11-03 13:58] rootfs commented on #36042
@AlexMioMio see #31272

[2016-11-03 14:00] kargakis commented on #32567
Note that this will most probably multiply writes for RC/RS. Now I am thinking if listing pods in the deployment controller or a LIST combined with a WATCH is better.

[2016-11-03 14:05] kargakis commented on #19817
[kubectl view](https://github.com/kubernetes/kubernetes/issues/29679) should be the best place for this.

[2016-11-03 14:06] kargakis commented on #29679
Listing annotations and labels: https://github.com/kubernetes/kubernetes/issues/19817

[2016-11-03 14:07] blixt commented on #36117
@kargakis Since the master node is managed outside my project by Google Container Engine, is there another way for me to access the controller manager logs than to look at `/var/log/kube-controller-manager.log` (e.g., via `kubectl`)?

[2016-11-03 14:19] liggitt commented on #35080
nope

[2016-11-03 14:26] fgrzadkowski commented on #35774
@erictune I think there are two use-cases:

1. As a user I'm debugging what's happening with my Pod as it's pending. I want to list all events and see that CA has created a new node and it waits for it register or something else.
2. As a user admin I want to understand why my cluster have 8 nodes instead of 4, or when exactly was the scale up triggered to better understand why my node reappeared.

[2016-11-03 14:28] mtaufen commented on #36084
Same thing is happening to me. 6 of these emails sent to my personal email this morning, rather than my work email.
https://groups.google.com/forum/#!topic/kubernetes-sig-testing/8eYIhtMxnhA

[2016-11-03 14:30] mtaufen commented on #36084
I think the reason it's using that email for me is because my first commit to K8s was before I had git configured with my work email: ee079c958a1f5aad9b2e80c2cab04c10d8b0f77d

[2016-11-03 14:33] smarterclayton commented on #36042
That's not what I would describe as a problem, because NFS servers can be
down for lots of reasons.  If we delete a thousand pods because of a
network flake, that makes  the system behave unpredictably.

A pod that is RestartAlways is always restarted / waits, even if the things
it needs are gone forever.

On Nov 3, 2016 , at 2:11 AM, AlexMioMio <notifications@github.com> wrote:

Just image this s

[2016-11-03 14:44] liggitt commented on #20519
if you ask to edit 50 objects and one is invalid, I'd rather see a useful error than 49 editors and an error

[2016-11-03 14:46] kargakis commented on #36117
@blixt I am not sure if there is a way, I don't think `kubectl` can do something like that. @bgrant0607 do we have a process for getting any logs from GCE for user reports?

[2016-11-03 14:48] kargakis commented on #20519
Agreed.

[2016-11-03 14:49] kargakis commented on #20519
Opened https://github.com/kubernetes/kubernetes/pull/36148

[2016-11-03 14:54] mtaufen commented on #31676
I haven't had time to get back to figuring out the last bit of flakiness with this test. I will hopefully get some cycles next week to take a look at it.

If you're concerned about e2e node serial suite failures in general, you might want to look at `[k8s.io] Kubelet Container Manager [Serial] Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 a

[2016-11-03 14:54] smarterclayton commented on #36104
Ok, will look at it post feature freeze.

On Wed, Nov 2, 2016 at 9:14 PM, Janet Kuo <notifications@github.com> wrote:

[2016-11-03 15:05] miry commented on #33544
@kamigerami you can generate token ownself and provide via attribute `kubeadm init --token="${k8s_token}"` and use the same for `kubeadm join --token=${k8s_token}`

[2016-11-03 15:06] PI-Victor commented on #36011
ok, we fixed our issue with s2i by bumping the engine-api dep back.
this is no longer a blocker, the question is should this issue still be open and be handled after code freeze, or is moving away from docker engine-api going to be implemented as a priority ? that would make the bump pointless.

[2016-11-03 15:07] jjungnickel commented on #22586
Kubernetes 1.4.3, CoreOS 1068.8.0 on vSphere reporting in. imagefs is ext4 on /var/lib/docker

[2016-11-03 15:09] k8s-merge-robot opened #36165 "[k8s.io] Networking should provide unchanging, static URL paths for kubernetes api services [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/1993/

Failed: [k8s.io] Networking should provide unchanging, static URL paths for kubernetes api services [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26838

[2016-11-03 15:11] smarterclayton commented on #36034
We should definitely remove that from the example.  No example ever should set terminationGracePeriodSeconds unless it's demonstrating terminationGracePeriodSeconds.

[2016-11-03 15:12] krousey commented on #31503
@calebamiles The pd failures were a bad submit that was quickly fixed. But since the soak cluster is only deployed once a week, it was red for a while. The kubelet issues are a memory leak. @yujuhong Can you confirm that this is the same leak being investigated here: https://github.com/kubernetes/kubernetes/issues/35207 ?

[2016-11-03 15:16] dims commented on #36011
@PI-Victor Looks like the latest docker release does not have all the things needed. looking for example in https://github.com/docker/docker/tree/v1.12.3/api/types So guessing this will have to wait until they mint a release So can pick up a non-random commit from them.

[2016-11-03 15:28] fredjean commented on #31402
@calebamiles I think that you meant to poke @freehan instead of me.

[2016-11-03 15:28] AlecTroemel commented on #32542
Currently experiencing the same exact issue as @hach-que . Terminating the node and waiting for the new spun up one encounters the same issue. Any progress on this?

[2016-11-03 15:28] piosz opened #36167 "Can't create cluster with not registered master"
**Kubernetes version** (use `kubectl version`): HEAD

**Environment**: GCE

**What happened**:
When I set up `REGISTER_MASTER_KUBELET=false` I can see the following message:
[code]

**What you expected to happen**:
master should not be registered

[2016-11-03 15:29] piosz commented on #36167
cc @kubernetes/sig-cluster-lifecycle @mikedanese @roberthbailey

[2016-11-03 15:31] saad-ali commented on #36111
I will cherry pick changes to the to the release-1.4 branch later today to fix the issue for 1.4 as well. CC @jessfraz

[2016-11-03 15:32] thockin commented on #35377
The decision to switch to TCP is driven by the client, not by the server.  For example, I see:

[code]

Is your version of `host` broken or minimized (e.g. busybox, maybe?) or your libc perhaps?

[2016-11-03 15:33] thockin commented on #35377
@bowei @MrHohn FYI

I don't think this is a bug in kube, but leaving open to discuss.

[2016-11-03 15:35] rata commented on #33192
I'm using kubernetes 1.2.4, installed in AWS with kube-up and I'm seeing the same thing.

[2016-11-03 15:48] ymqytw commented on #20519
@kargakis Thanks.

[2016-11-03 15:52] ymqytw commented on #19817
What would it looks like?

[2016-11-03 15:56] kargakis commented on #19817
[code]

[2016-11-03 15:57] bgrant0607 commented on #36117
cc @janetkuo

[2016-11-03 16:05] mtaufen commented on #36105
IIRC the whole point of calling a flag `--experimental-whatever` was that we would (hopefully) not have to carry it through a rolling deprecation process - e.g. for alpha-ish features that might be expected to change rapidly (including flag name changes/flag removal). I could be wrong about the intent of the terminology, but if I'm right it seems that this isn't especially well-communicated or enf

[2016-11-03 16:09] jessfraz commented on #36111
Thanks!!!

On Nov 3, 2016 13:32, "Saad Ali" <notifications@github.com> wrote:

[2016-11-03 16:21] metral commented on #20519
![doh](http://www.talendia.com/wp-content/uploads/2015/11/Simpsons-Homer-DOH-1024x796-256x256.png)

Thanks for the fix @kargakis. Much appreciated.

[2016-11-03 16:24] mtaufen commented on #34665
This tests is failing to delete a network:
[code]

Also this:
[code]

[2016-11-03 16:24] mtaufen commented on #34665
/cc @ixdy

[2016-11-03 16:25] jbiel commented on #5607
FWIW the following was working for me to pass through a sound card device ~3 months ago. [Privileged mode](https://docs.docker.com/engine/reference/run/#/runtime-privilege-and-linux-capabilities) was the key and according to the docs it looks like it should still work.

[code]

[2016-11-03 16:34] calebamiles commented on #29503
any updates on this issue @jessfraz, @kevin-wangzefeng, @davidopp?

[2016-11-03 16:35] smarterclayton commented on #35486
`hack/verify-generated-protobuf.sh` should fail against master (ReplicationControllerCondition has no protobuf tags) but it does not.

[2016-11-03 16:36] calebamiles commented on #28615
@madhusudancs any update on this issue. There are failures as late as 3 November 2016 according to testgrid.

[2016-11-03 16:38] jsafrane opened #36170 "Write e2e test for external provisioning"
External provisioning as defined in https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/volume-provisioning.md needs an e2e test of the Kubernetes side.

There is implementation of a sample provisioner in https://github.com/wongma7/nfs-provisioner, but it needs a nfs client on GCE/GCI to test with. I will write a test when this is resolved.

[2016-11-03 16:38] calebamiles commented on #28427
any updates on this issue @saad-ali?

[2016-11-03 16:39] smarterclayton commented on #36104
This may be related to #35486

[2016-11-03 16:42] yujuhong commented on #32304
/cc @kubernetes/sig-node

[2016-11-03 16:43] yujuhong commented on #33192
/cc @kubernetes/sig-node

[2016-11-03 16:43] calebamiles commented on #28283
@saad-ali, do you believe this is essentially a dup of  https://github.com/kubernetes/kubernetes/issues/28427, should this issue be closed?

[2016-11-03 16:47] calebamiles commented on #28188
@sttts, any updates on this issue?

[2016-11-03 16:49] Random-Liu commented on #36159
It seems that something in the pod cgroup got oom killed during init container test on ubuntu docker 9.
From test result:
[code]

From docker log:
[code]

From kernel log:
[code]

May be related to the pod cgroup pr.

/cc @kubernetes/sig-node

[2016-11-03 16:54] calebamiles commented on #34256
@saad-ali, I commented upstream, is it correct that we'll need a backport to the 1.11.x and 1.12.x series unless we're planning on bumping to docker 1.13 which seems somewhat risky but we should probably do something about all these CI flakes that are possibly related to this issue.

[2016-11-03 17:01] justinsb opened #36173 "Should have kubernetes service in kube-system"
The way we access the kubernetes service is inconsistent; in all other namespaces it is `https://kubernetes`, but in kube-system I don't have a `kubernetes` service (should I?).

When I try to use `kubernetes` from go I get this error:
[code]

bboreham pointed out that I can use `KUBERNETES_SERVICE_HOST`, but I feel this inconsistently is likely to continue to surprise people.

It may be something

[2016-11-03 17:02] joonathan commented on #35377
I saw the issue using following image: `python:2.7.12` which seems to be based on "jessie".

# uname -a
Linux joonathan 4.4.21+ #1 SMP Wed Oct 19 21:46:36 PDT 2016 x86_64 GNU/Linux

https://github.com/docker-library/python/blob/855b85c8309e925814dfa97d61310080dcd08db6/2.7/Dockerfile

[2016-11-03 17:07] kargakis commented on #29229
We also need a virtual clock in the deployment controller for deployment conditions. See https://github.com/kubernetes/kubernetes/pull/35691#discussion_r86389127 for more context.

[2016-11-03 17:11] joonathan commented on #35377
Also, if I remember correctly using 8.8.8.8 for resolving the `api.mixpanel.com` at that time from the same image worked. I'll see if I can recreate a big enough test record to validate.

[2016-11-03 17:15] wonderfly commented on #25215
Let's close this now?

[2016-11-03 17:37] #25404 closed

[2016-11-03 17:42] linfan commented on #35875
Sure, [PR-1615](https://github.com/kubernetes/kubernetes.github.io/pull/1615) created.

[2016-11-03 17:47] madhusudancs commented on #28615
@calebamiles yes. We are working on it. @quinton-hoole is actually debugging the Ingress test failure. Also, this is an umbrella bug for the entire federation suite. This thread is pinged as we add new tests and uncover new issues/flakes, so it feels like it is always open and no action has been taken. But what's happening is quite the opposite.

[2016-11-03 17:47] mikedanese commented on #35356
Let's close this and open new issues. The original issue is fixed

[2016-11-03 17:47] #35356 closed

[2016-11-03 17:48] joonathan commented on #35377
[code]

[2016-11-03 17:50] mward29 opened #36177 "Contributing back authz webhook"
Hello,

We would like to contribute back our authz-webhook to the Kubernetes Community. We would continue to iterate on it but its in a good enough place now to at least get it in I think.

Questions I'm looking to answer:
Is this enough value to the community to have it represented within the Kubernetes sphere?
If so, where should it go?
What else would you like to see if it offers value but is n

[2016-11-03 17:51] yujuhong commented on #36136
@feiskyer I think docker v1.11 would display warnings, but would still accept `:`. Is that not correct?
Of course we should still clean this up.

[2016-11-03 17:51] k8s-merge-robot opened #36178 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: http {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/1315/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: http {Kubernetes e2e suite}

[code]

[2016-11-03 17:53] erictune commented on #29229
I like the option of a private timer in the deployment controller.

We think we have seen this in the wild.  Too late to fix in 1.5.  Targeting 1.6.

[2016-11-03 17:58] calebamiles commented on #27680
any updates on this issue @sttts?

[2016-11-03 18:01] vishh commented on #36159
I can look into it.

[2016-11-03 18:02] dashpole commented on #20477
I am looking into this as part of my effort to clean up the status manager.  Let me know if these changes make sense:
change call from GetPodStatus(uid types.UID) to GetPodStatus(pod *api.Pod).  Currently, everyone who calls this passes in pod.UID, where pod is an *api.Pod.
If we have a cached status, return that.
Otherwise, if my thinking is correct, we can tell if the pod is running using the co

[2016-11-03 18:08] bprashanth commented on #34665
The deletion of the network is OK I think, it should happen pretty often and not affect test results.
The weird part I noticed is that most runs seem to go on for about 30m, eg https://github.com/kubernetes/kubernetes/issues/34665#issuecomment-258086905:
[code]

but the diff between started and finished in artifacts http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1379

[2016-11-03 18:10] foxish commented on #36107
@bprashanth As I mentioned yesterday, it isn't even issuing a delete request even after 10 minutes, because the pods continue to be "running". I'll check the controller manager logs today. I suspect it might be the backoff in the rate limited work-queue.

[2016-11-03 18:12] bprashanth commented on #36107
Hmm, the AGE fields on your pets don't make sense if it isn't even issuing a delete?

[2016-11-03 18:14] k8s-merge-robot opened #36182 "[k8s.io] Staging client repo client should create pods, delete pods, watch pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/6908/

Failed: [k8s.io] Staging client repo client should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #31183

[2016-11-03 18:15] nikhiljindal commented on #33612
Code for cascading deletion is now merged for namespaces. And now that we have the generic [DeletionHelper](https://github.com/kubernetes/kubernetes/blob/c83a9246281d9eb6915e591673defc05d8590c00/federation/pkg/federation-controller/util/deletionhelper/deletion_helper.go) class it should be relatively easy to extend it for all other federation resources which is what I am going to do next.
I am als

[2016-11-03 18:17] foxish commented on #36107
In the output I pasted above, at the 7 minute mark, it created the new replacement pet-0, after the network partition was healed. Then tried to scale down the StatefulSet and waited 10 minutes for the pods to disappear.

[2016-11-03 18:24] bowei commented on #35377
`host -T test.myurbansoul.com` will work (-T enables the `host` to use TCP in addition to UDP)

[code]

[2016-11-03 18:25] bowei commented on #35377
Also, if you use `dig`, it will automatically handle a truncated DNS UDP reply:

[code]

[2016-11-03 18:27] bprashanth commented on #36107
I see a bunch of different failures modes on the bug:
1. Nov  3 08:58:44.475: Failed waiting for pods to enter running: timed out waiting for the condition
2.     Failed to scale statefulset to 0 in 10m0s. Remaining pods: []
3. Nov  3 08:11:30.728: Unexpected error: <nil>

Basically 3 translates to
[code]
We should clarify.

1  and 2 both have events like
[code]
guessing the node controlelr should

[2016-11-03 18:29] smarterclayton commented on #35159
SGTM

[2016-11-03 18:36] ymqytw commented on #19817
SGTM. I have updated the tracking table in #29679.

[2016-11-03 18:42] janetkuo commented on #36144
Looks like it's fixed https://k8s-testgrid.appspot.com/google-gce#gci-gce-petset

[2016-11-03 18:43] janetkuo commented on #36144
This one has been failing for a long time, though

`[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] [Feature:PetSet]`

[2016-11-03 18:43] k8s-merge-robot opened #36183 "[k8s.io] EmptyDir volumes should support (root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2022/

Failed: [k8s.io] EmptyDir volumes should support (root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-03 18:44] foxish commented on #36144
@janetkuo That one is flaking and might be a real issue. Tracking here: https://github.com/kubernetes/kubernetes/issues/36107

[2016-11-03 18:44] foxish commented on #36144
Moving to close this one.

[2016-11-03 18:44] #36144 closed

[2016-11-03 18:45] #36084 closed

[2016-11-03 18:46] pweil- opened #36184 "Split PSP defaulting and validation"
When authz is added to PSP admission (https://github.com/kubernetes/kubernetes/pull/33080) the user submitting the request will now be taken into account for PSP selection.  That means that if one user creates a pod and another user updates the pod the PSP options that the pod validates against may be different.

Since the PodSpec should not be mutable on the fields that PSP defaults anyway the PS

[2016-11-03 18:56] sputnick commented on #33845
@kargakis thanks I've seen that. It just doesn't help at all with ReplicaSets because you also have to jump over the ReplicaSet to get to the real controller. I'm just saying I feel that we should have the real controller in there. Real as in it can scale the pods without it rolling back like it does when you scale with a ReplicaSet that was created by a Deployment.

[2016-11-03 18:56] vishh commented on #35914
The docker issue has been fixed upstream via https://github.com/opencontainers/runc/pull/608. the fix is  available in docker v1.12.
As for docker v1.11 & GCI, I'm planning on trying to make rkt not mount cgroups.

[2016-11-03 19:08] felixbuenemann commented on #16670
I'm still seeing this problem with kubernetes / kubectl 1.4.4 and docker 1.11.2.

[2016-11-03 19:08] vishh commented on #34127
Current status: #35821 added support for NFS v4 and GlusterFS to GCI. NFSv3 support is in progress. Testing and validation is also in progress.

[2016-11-03 19:09] cjyar commented on #20786
Adding to what @preflightsiren said:

Also need to set type: kubernetes.io/dockerconfigjson instead of dockercfg. And need to put the data under data/.dockerconfigjson. The correct config is documented at http://stackoverflow.com/a/32972366/107357

[2016-11-03 19:10] saad-ali commented on #34665
While folks are investigating the build timeout issues with `kubernetes-e2e-gci-gke-slow`.

We have a second issue: Looks like recent 3 build failures for `kubernetes-e2e-gci-gke-slow` were due to `All cluster resources were brought up, but the cluster API is reporting that only 2 nodes out of 3 have registered. Cluster may be unhealthy.`
* https://storage.googleapis.com/kubernetes-jenkins/logs/ku

[2016-11-03 19:15] mwielgus opened #36185 "Create more detailed, soak-like, e2e test for cluster autoscaler"
Where the influence affect other components like scheduler or controller manager is monitored.

cc: @fgrzadkowski @piosz

[2016-11-03 19:20] luxas commented on #34884
@mikedanese Please promote the unstable packages to stable today.
I expect it to take about ~5 mins for you, so I think I'm under the 2 hour limit :smile:

[2016-11-03 19:23] farmdawgnation commented on #5607
Yeah, that'll work with privileged mode. The rub is we run code in a multi-tenant environment so that's a non-starter for our security requirements. Mounting devices using `--device` is safer.

[2016-11-03 19:38] luxas commented on #36173
The kubernetes service has always been in the default namespace, there's nothing wrong with your config in that sense.

Does other DNS names resolve and does `kubernetes.default.svc.cluster.local` resolve?
Otherwise you might have something with the dns rc/service

[2016-11-03 19:39] luxas commented on #36151
@kubernetes/sig-testing This seems flaky, not because of a code change
Did the job timeout or have you had problems with internet connectivity to the nodes?

[2016-11-03 19:45] joonathan commented on #35377
Ok, yes forcing to TCP with -T works, but does Google DNS (8.8.8.8) respond differently that promotes retrying in TCP mode?

Eg. when changing resolv.conf to use 8.8.8.8 as nameserver `ping test.myurbansoul.com` works as when using default resolv.conf it does not.

Also, I can see following from 8.8.8.8

[code]

As with default 10.227.240.10:

[code]

[2016-11-03 20:02] DreadPirateShawn commented on #31709
Any update on this?

[2016-11-03 20:07] erictune commented on #35774
I agree we don't have a common pattern for #2.  Let's not design something the week before the freeze, and let's not do a temporary fix that is hard to undo.

Instead, there is room in the per-pod event "reason" to handle #2 as well.

[2016-11-03 20:15] saad-ali commented on #27233
@zmerlynn can you please take a look at this test or reassign it to someone. It is becoming much more frequent and is consistently failing the serial test suite preventing me from finding a green build to branch for 1.5.

[2016-11-03 20:22] saad-ali commented on #32214
Ping @dchen1107 can you have someone look at this. It is failing frequently in the serial test suite and preventing me from finding a green build to cut 1.5 release from.

[2016-11-03 20:30] bgrant0607 commented on #20193
@caesarxuchao Is some of this part of your current work?

[2016-11-03 20:31] saad-ali commented on #36067
@kubernetes/sig-storage This needs to be triaged.

[2016-11-03 20:33] jlowdermilk commented on #34665
`All cluster resources were brought up, but the cluster API is reporting that only 2 nodes out of 3 have registered.'

There's a good chance that's the same issue with missing image layers that was causing failures on 1.4.5 kubelet. cc @dchen1107

[2016-11-03 20:49] kargakis commented on #33845
Not sure what you mean when you say "real controller". Replica sets manage pods and deployments manage replica sets. I think the abstraction is clear enough for the owner references to make sense as we set them already (for pods) and will set in the near future (for replica sets).

[2016-11-03 20:49] caesarxuchao commented on #20193
This is done.

This is what I'm doing during the code freeze.

This can be done after my refactor. It needs step 4.

[2016-11-03 20:55] #35850 closed

[2016-11-03 21:06] sputnick commented on #33845
I'm referring to that you cannot scale the pod replicas with the owner controller=true if that controller is a ReplicaSet made by a Deployment. That is inconsistent with every other controller like RC, Job etc. I don't mind the ReplicaSet being in there but as a tool maker working with K8s api to make a tool/platform for applications I'm not a fan of making special cases just for ReplicaSets.

In

[2016-11-03 21:06] wattsteve commented on #16741
The GlusterFS community has a working implementation that can be run in Kubernetes as pods that supports the new beta Dynamic Provisioning framework with Storage Classes. I'll actually be demoing this at KubeCon next week. I'm just presently working on simplifying the deployment into a daemonset. Its fairly straightforward to deploy. Once I've pushed the changes, I'll update this PR with a link to

[2016-11-03 21:11] yujuhong commented on #32214
The resource usage tracking tests are catching many different issues.
 1. Higher kubelet cpu usage on GCI. We've talked to the GCI team and did a comparison of cpu usage on different OS distros. GCI is worse than the Debian 7 (containervm) but better than CoreOS. We are not sure whether this is caused by kernel accounting differences (Debian 7 uses a relatively old kernel). Root causing this would

[2016-11-03 21:13] 5tefan commented on #20352
Ran into this as well: was trying to get a list of node addresses which have eg. Unknown status:

[code]

[2016-11-03 21:13] bprashanth commented on #34665
Hmm the node unhealthy issue is basically not debuggable without a live repro, no logs in artifacts: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1391 ?

[2016-11-03 21:14] timstclair opened #36187 "[CRI] Avoid user data in exec redirect URL"
For handling exec's with the CRI, the API server snoops the exec response looking for a redirect to follow to the final exec endpoint (more details [here](https://docs.google.com/document/d/1OE_QoInPlVCK9rMAx9aybRmgFiVjHpJCHI9LrfdNM_s/edit), implemented [here](https://github.com/kubernetes/kubernetes/pull/34987)).

Currently the returned URL includes the exec command, which is an arbitrarily long

[2016-11-03 21:14] piosz commented on #34211
@mwielgus PTAL

[2016-11-03 21:15] timstclair commented on #36187
Ref: https://github.com/kubernetes/kubernetes/issues/29579

[2016-11-03 21:17] thockin commented on #5607
The status of this is that we have not had a proposal for an API to capture this.  The issue is that the API needs to be plausible across multiple runtimes.

[2016-11-03 21:17] thockin commented on #17066
Dup of #5607 seems right.

[2016-11-03 21:17] #17066 closed

[2016-11-03 21:20] liggitt commented on #36187
if the user data was placed in a session held by the CRI, and sufficient entropy was included in the session identifier token, and the CRI treated the token as single-use, that could also remove the need for the CRI to re-authn/authz the request

[2016-11-03 21:24] saad-ali commented on #34665
I'm seeing `found 3 nodes out of expected 4. Your cluster may not be fully functional` in the `kubernetes-e2e-gci-gce` test suite failing now, any chance that is related?
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/2323/
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/2322/
* https://k8s-gubernator.appspot.com/

[2016-11-03 21:30] roberthbailey commented on #36167
Looks like the env var isn't being respected any longer by the master scripts (but the logic for # of expected nodes did adjust correctly).

[2016-11-03 21:30] mtaufen commented on #32433
Looks like the most recent failure was that the test timed out before the eviction manager was triggered, and the one before that was due to a System OOM. As previously discussed, sometimes the OOM killer beats the eviction manager to the punch. I can put some time into trying to make the test more robust against the OOM-killer, but ATM I have other work I need to finish before the code freeze.

O

[2016-11-03 21:35] roberthbailey commented on #36167
/cc @jszczepkowski

I think this may have broken in #33655 because it added

[code]

which unconditionally sets the field that tells a kubelet to register with the master outside of the guard that checks `REGISTER_MASTER_KUBELET`.

[2016-11-03 21:37] saad-ali commented on #34665
Also potentially related, `kubernetes-kubemark-500-gce` tests are running into `Detected 6 ready nodes, found 6 nodes out of expected 7. Your cluster may not be fully functional.`:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/7366/
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/7371/
* https://k8s-gub

[2016-11-03 21:38] kargakis commented on #33845
kubectl doesn't special-case replica sets owned by deployments, it treats all of them equally. The behavior of a deployment rolling back the pods scaled by a replica set it owns is correct. The pod is still owned by the replica set, the deployment owns the replica set. Scaling a replica set owned by a deployment is a user error. Users shouldn't touch replica sets or setup autoscalers for replica s

[2016-11-03 21:39] bprashanth commented on #34665
Fwiw from those logs (https://github.com/kubernetes/kubernetes/issues/34665#issuecomment-258278587), the node is definitely created by the MIG, but we see no kubernetes node object. Probably means the vm didn't come up, kept rebooting, was disconnected from master, or kubelet had some startup issue. First 3 sound like general gce bugs. Importantly, we *don't* see a NotReady node.

[2016-11-03 21:44] smarterclayton commented on #33845
At large scale propagating controller references down a chain becomes very
expensive - we probably can't do it for that reason alone.

On Nov 3, 2016, at 5:38 PM, Michail Kargakis <notifications@github.com>
wrote:

kubectl doesn't special-case replica sets owned by deployments, it treats
all of them equally. The behavior of a deployment rolling back the pods
scaled by a replica set it owns is corr

[2016-11-03 21:47] euank commented on #36187
1) api-server still makes two requests (following a 302 makes a new request).. it just happens that it looks like they're basically one because it's done via redirects.
[code]

The big problem with this one is that the mapping of token->cmd has to be stored somewhere! That'll probably be the runtime storing it by spinning up a new exec server in the pod in the further future, but for now it's a li

[2016-11-03 21:47] jotacamou commented on #34698
I'm experiencing the same problem given the same characteristics (OS, etc..).  Kubernetes doesn't seem to talk to Cinder at all.

[2016-11-03 21:49] sputnick commented on #33845
@kargakis that's a good question, I'm glad you asked :)

The short answer is to group k8s resources as Applications. The shortest answer is that going bottom up (pods to controllers) is marginally better than going from controller to Pods with the current situation (related to this issue but there are also other things to consider).

The slightly longer analysis:

Application discovery challenges

[2016-11-03 21:49] wongma7 commented on #31272
@sjenning can you explain what you mean by 'Created another nfs pod hits this every time, even without a kubelet restart.'? or @jingxu97 how you are running into hangs without kubelet restart? I am only ever seeing this after kubelet restart now, but I would like to know how else I can run into this.

@jingxu97 yes, ReadDirNoStat hangs on os.Open, but that isn't a problem because it is never calle

[2016-11-03 21:51] sputnick commented on #33845
@smarterclayton exactly that's why I'm caching API stuff using MongoDB and watching the APIs. This also allows me not to care about the types of controllers around...except because of this issue I have to care specifically about Deployments and ReplicaSets...

[2016-11-03 22:01] saad-ali commented on #36102
Ping @mwielgus can you please take a look at this or reassign it. This test is consistently failing on every `kubernetes-e2e-gce-serial` run.

CC @kubernetes/examples

[2016-11-03 22:05] bdbauer opened #36191 "Determine correct behavior for addObjectParams in api_installer.go"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**What happened**:
After #35806 goes in, the addObjectParams call in api_installer.go will ignore pointers to structs, and pointers to interfaces. This relies on the Go Type of the struct's fields. The correct behavior is to not care about the Go type, and to care about the serialized type instead. #35806 needed a workaround fo

[2016-11-03 22:05] saad-ali commented on #27233
@jszczepkowski @karlkfi Looks like you've touched this test in the past. Could you take a look at it why it is flaking so frequently now?

[2016-11-03 22:13] saad-ali commented on #34665
`continuous-e2e-docker-validation-gci` also hit it (`Detected 3 ready nodes, found 3 nodes out of expected 4. Your cluster may not be fully functional.`):
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/continuous-e2e-docker-validation-gci/109/

@kubernetes/test-infra-admins Is there a good way to identify if this is a GCE issue or k8s? Whenever this issue is hit, the logs are n

[2016-11-03 22:37] kargakis commented on #33845
Ok, so your real problem is that the Deployment->RS->Pod relationship is unlike any other relationship in Kube. You are going to have the same problem with CronJobs. Also you definitely cannot make this assumption once you start handling third party resources. You will need to traverse all objects up to the top controller. Propagating owner references is indeed going to be very expensive for us to

[2016-11-03 22:41] viroos commented on #35643
I managed to make it working with Hypriot 1.1.0,  K8 1.4.3  and weave. In my case the issue was the same host name of master and node.

http://larmog.github.io/2016/10/28/installing-kubernetes-on-arm-with-kubeadm/ - this works.

[2016-11-03 22:46] sputnick commented on #33845
Yeah @kargakis that's also why I'm saying going from pod and up is better (for now) because then you don't have to know all controller types - the connection from RS to Top Controller is the missing piece. With a middleware layer like Mongodb it becomes much less expensive figure this out but having the "real top controller" also as a controller in ownerReferences would solve this for all types or

[2016-11-03 22:51] sputnick commented on #33845
Just to add to the confusion for people reading this thread here are some of the other "standard" ways k8s exposes these types of relations (that I have found):

Annotation: "kubernetes.io/created-by" - on 99% of pods with the exception of pods that are created directly.
Label: "controller-uid" e.g. on Jobs which incidentally also has a "job-name" label

Without the actual creation "tree" and owne

[2016-11-03 22:53] timstclair commented on #36187
I would integrate the token storage into the streaming server library. No change would be needed for individual CRI shims using the library (other than a possible vendor update).

I don't think that's exactly true (see the lengthy discussion on https://github.com/kubernetes/kubernetes/pull/34987, handling the redirects is far from unobtrusive). The big disadvantage I see to (2) is that the backwar

[2016-11-03 23:00] quinton-hoole commented on #35254
cc @alex-mohr FYI

[2016-11-03 23:04] Random-Liu opened #36193 "Node Conformance Test: The master configuration should be configurable through the test container."
A user tried to run the conformance test on master node, but found that the nodes registered themselves on the test master in the NCT container which is not expected.

We should make the test master configuration configurable, so that user can customize the configuration to avoid interference, e.g. specify a test apiserver port etc.

Ref https://github.com/kubernetes/kubernetes/issues/30122.

[2016-11-03 23:06] bprashanth commented on #34104
I'm not sure what's happening in the last failure, we failed to delete a ns because apiserver returned a 500 for a get on HPA
[code]

[2016-11-03 23:07] madhusudancs commented on #36183
@grodrigues3 could you please find an owner for this issue? Feels like storage.

[2016-11-03 23:14] foxish commented on #27233
This is likely due to the NC changes introduced in https://github.com/kubernetes/kubernetes/pull/35235.
I remember having to touch that test. I'll take a look at this today.

[2016-11-03 23:17] saad-ali commented on #27233
Thank you! I'm trying to cut the 1.5 branch and I can't find a green build so the sooner this can get fixed the better!

[2016-11-03 23:32] bowei opened #36194 "kube-dns --federations flag needs to be user modifiable (integration between federation and the new addon manager)"
## Overview

kube-dns currently receives a list of federation names from a command line flag `--federations`. Setup of a federated set of clusters requires the user to be able to modify the flag (see http://kubernetes.io/docs/admin/federation/#updating-kubedns).

In v1.5, the addon manager was changed (see 0e4e54a6b658fef90194ebc9e910083eccf8f29b) to periodically reconcile the configuration of the

[2016-11-03 23:38] saad-ali commented on #34665
[1.4 tests](https://k8s-testgrid.appspot.com/release-1.4-all#gci-ci-release-1.4&width=80) do not seem to be hitting this (`Your cluster may not be fully functional`), only [master tests](https://k8s-testgrid.appspot.com/google-gci#gci&width=80) are. Which would indicate that the problem is with k8s not GCE.

[2016-11-03 23:41] thockin commented on #36194
ACK.  We've wanted a DNS config-map for a while, this is a first step.  Getting all the ComponentConfig schema plumbed through seems challenging on this timeframe - I assume the plan is to start with something compatible but incomplete?

[2016-11-03 23:44] Rastusik commented on #23920
@dgoujard but when using hostNetwork, the pod isn't visible from the k8s/calico/cni network, or am I wrong? And also the opposite way, the pod with host network doesn't see the calico/cni networked pods, I suppose at least.

[2016-11-03 23:44] saad-ali commented on #34665
CC @thockin @matchstick

The submit queue has been red most of the day due to this issue. I'm trying to cut the 1.5 branch and I can't find a green build after Nov 1. If we are not able to resolve this by tomorrow morning we will convene a "war room" to try and tackle it.

@kubernetes/test-infra-admins Is there something we can do to get logs off the node and master machines when this issue is hit

[2016-11-04 00:04] bowei commented on #35377
This looks to be an issue in the skydns not retrying TCP for truncated forwarded entries. I'm getting a patch together to fix the issue.

From kube-dns logs:
[code]

[2016-11-04 00:14] calebamiles commented on #36035
any updates on this issue @foxish?

[2016-11-04 00:16] calebamiles commented on #35872
@gmarek, @rmmh is someone working on this flake?

[2016-11-04 00:20] nikhiljindal commented on #36194
cc @kubernetes/sig-cluster-federation

[2016-11-04 00:20] calebamiles commented on #35600
any updates on this flake @eparis?

[2016-11-04 00:23] vishh commented on #35914
I tried probing deeper to see where runc is attempting to access the transient cgroups which results in container startup failure, and so far I haven't been able to identify it.

Meanwhile, by including opencontainers/runc#608 in GCI, we should not hit the issue posted in https://github.com/kubernetes/kubernetes/issues/35914#issuecomment-257379974

[2016-11-04 00:24] feiskyer commented on #36136
Of course we should still clean this up.

Didn't dig into docker's code yet. Since we have passed all SELinux testing on Docker v1.12, I think it still accept `:`.  I think we still need to clean this up in case it drops such support in future releases.

cc/ @kubernetes/sig-node

[2016-11-04 00:25] vishh commented on #35914
Given that https://github.com/kubernetes/kubernetes/pull/35821 is merged, the chances of hitting this issue will be much lower. I'm closing this issue since I'm not taking any further action.
If he hit it any further let's re-open and investigate based on new data.

[2016-11-04 00:27] #24737 closed

[2016-11-04 00:31] foxish commented on #36035
@calebamiles Tracking in https://github.com/kubernetes/kubernetes/issues/36107 and looking into it.

[2016-11-04 00:33] calebamiles commented on #35006
any updates on this flake @rmmh?

[2016-11-04 00:37] calebamiles commented on #35004
any updates on this flake @rmmh?

[2016-11-04 00:41] calebamiles commented on #34911
@wojtek-t @gmarek, any updates on this flake? Are there plans to ignore this test given it's a scale/perf test. If one of you could add a non-release blocking label that would be excellent as we triage flakes before the release. Also adding a label for the responsible team would be wonderful. Thanks!

[2016-11-04 00:42] bgrant0607 commented on #24343
Thread about splitting out e2e:
https://groups.google.com/forum/#!topic/kubernetes-dev/VGXxJHxIpvU

The core discussion is also relevant:
https://groups.google.com/forum/#!msg/kubernetes-dev/iQeqtVsZhQA/V-Aj9nm3AgAJ

[2016-11-04 00:44] calebamiles commented on #34904
any updates on this test flake @krousey? If you could add a non release blocking label to this issue along with a label for the responsible team that would be wonderful. Thanks!

[2016-11-04 00:44] bprashanth commented on #34665
This seems to be a startup problem on gci @kubernetes/goog-node @vishh

I *think* the crash is in one of these functions: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L1209-L1215
And "pre-warm-mounter" was very recently: https://github.com/kubernetes/kubernetes/pull/35821, why do we not just retry on failure?

Here's a bunch of debug info to support the

[2016-11-04 00:46] bprashanth commented on #34665
anyway I have https://github.com/kubernetes/kubernetes/pull/36202 for a couple of lines of logging

[2016-11-04 00:47] bprashanth commented on #31273
Suggest grabbing all this into one dump, if you can ssh into a bad node https://github.com/kubernetes/kubernetes/issues/34665#issuecomment-258316189

[2016-11-04 00:50] foxish commented on #36107
Looking into the case 2:
The controller manager log goes:

[code]

So I guess even deletions are being blocked by the health/readiness.

[2016-11-04 00:52] calebamiles commented on #34879
any updates on this @krousey, @spxtr? If one of you could add a 1.5 milestone label, a label signifying whether or not fixing this flake is release blocker, and a label for the responsible team that would be wonderful as we triage flakes before the release. Thanks!

[2016-11-04 01:03] caseydavenport commented on #23920
@Rastusik hostNetworked pods should have access to non-host networked pods, and vice-versa.

[2016-11-04 01:03] pesho commented on #23920
@Rastusik the hostNetwork pod can reach other (CNI) pods directly by IP. But it can't resolve services by their name, because it does not use `kube-dns` as the resolver.

E.g. the Nginx ingress controller works with hostNetwork.

[2016-11-04 01:04] saad-ali commented on #34665
Excellent debugging @bprashanth! The evidence you provided strongly indicates PR https://github.com/kubernetes/kubernetes/pull/35821 is the culprit. The merge queue was blocked most of the day due to this issue (currently 58 outstanding PRs in the queue). So unless we have some other quick fix, we'll need to revert that PR. @vishh @mtaufen @jingxu97 thoughts?

CC @gmarek Warsaw on-call

[2016-11-04 01:04] calebamiles commented on #34868
Does that mean we should close this issue @krousey or are you still actively investigating this issue. If you could add a 1.5 milestone label, a label describing whether this should block release (I assume not here), and a label for the responsible team that would be wonderful. Thanks!

[2016-11-04 01:05] #35725 closed

[2016-11-04 01:12] vans88 commented on #34600
@luxas  How did you fix the problem at last?  Now I am building  kubernetes os mips64el/Fedora 21  and getting the same error shown as follows. Any suggestions for me? Many thanks.
[code]
**Platform info:**
[code]

[2016-11-04 01:12] calebamiles commented on #34863
any updates on this issue @rmmh? if you could add a 1.5 milestone label along with a (I'm assuming) non release blocker label along with the responsible team that would be a great help as we triage flakes before the 1.5 release. Thanks!

[2016-11-04 01:16] calebamiles commented on #34855
Any updates on this issue @rmmh? If you could add a 1.5 milestone label, a label signalling whether or not this issue should block the release along with a label for the responsible team that would be a great help as we triage flakes for the 1.5 release. Thanks!

[2016-11-04 01:20] #20519 closed

[2016-11-04 01:20] calebamiles commented on #34713
Any updates on this issue @Crassirostris, @piosz, @spxtr? If one of you could add a 1.5 milestone label, a (I'm assuming non release blocking label) and a label for the responsible team that would be a great help as we triage flakes for the 1.5 release. Thanks!

[2016-11-04 01:24] calebamiles commented on #34671
Any updates on this issue @rmmh? If you could add this issue to the 1.5 milestone, a non release blocking label (I'm assuming that this is a non release blocker), and a label for the responsible team that would be a huge help. Thanks!

[2016-11-04 01:29] yujuhong commented on #34289
Closing this since most tests are green. Will open new issues for flakes.

[2016-11-04 01:31] calebamiles commented on #34656
Any updates on this issue @quinton-hoole, @spxtr? If one of you could add a 1.5 milestone, a label signifying whether to block release on this issue or not along with a label for the responsible team that would be a huge help. Thanks!

[2016-11-04 01:35] calebamiles commented on #34122
Any updates on this issue @mwielgus? If you could add a 1.5 milestone, a label signifying whether or not this issue should block the release, and a label for the responsible team that would be wonderful. Thanks!

[2016-11-04 01:38] calebamiles commented on #34102
Any updates on this issue @krousey? If you could add a 1.5 milestone, a label signally whether the release should block on this issue or not, along with a label for the responsible team that would be wonderful. Thanks!

[2016-11-04 01:46] #35222 closed

[2016-11-04 01:52] bprashanth commented on #34665
This failed pulling the mounter image apparently, something you __definitely__ want to retry, especially during node bringup

[code]

[2016-11-04 01:54] foxish commented on #36107
Both issues appear to be due to the testsuite and the way we use the "initialized" annotation in tests. I'll send a PR to fix these shortly.
Thanks @bprashanth.

[2016-11-04 01:56] bgrant0607 commented on #24343
http://gbayer.com/development/moving-files-from-one-git-repository-to-another-preserving-history/

[2016-11-04 02:09] bgrant0607 commented on #35226
The issue discussing a monolithic binary is somewhat relevant: #16508

[2016-11-04 02:14] rileylark commented on #28515
We are using GKE + Google Cloud Logging, which I guess is switching to Stackdriver pricing, and the logs from kube-dns are going to start costing us almost $1000/month.

@joshk0 did you find a good way to get this updated on GKE?

[2016-11-04 02:18] caesarxuchao commented on #36082
Though readability is not import for most generated code, I think developers do read the clientset code. If we squeeze all the [core/v1 clients](https://github.com/kubernetes/kubernetes/tree/master/pkg/client/clientset_generated/release_1_5/typed/core/v1) in one file, it will be hard to read.

[2016-11-04 02:25] #27233 closed

[2016-11-04 02:39] shenshouer commented on #23920
@dagnello if use `hostNetwork` in ingress controller, the pod cann`t access the kubernetes api server with `https://10.100.0.1:443` which in environment variables. I think the pod with host network cann`t access the service in kubernetes

[2016-11-04 03:03] k8s-merge-robot opened #36204 "[k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2566/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]

Previous issues for this test: #27233

[2016-11-04 03:04] bgrant0607 commented on #991
@smarterclayton @lavalamp I think this has been superseded by apiserver federation for the most part. Is there any reason to keep this issue open?

I never had time to look at Openstack's APIs in detail. Is there anything worth learning from them in this area?

[2016-11-04 03:08] smarterclayton commented on #991
We've mostly followed a similar path - discovery, here hosted natively, in
openstack hosted in keystone, with some level of service doc per service.
Keystone provides authentication integration by each service delegating
tokens, while we're considering multiple options including an auth proxy.
Having native swagger docs also helps in terms of describing generic
resources.  We have the concept of s

[2016-11-04 03:08] saad-ali commented on #34665
Submit queue is red again and we have 55 unmerged PRs. I'm going to revert PR #35821.

[2016-11-04 03:16] kashifali94 opened #36205 "update security context"
is there anyway to update the security context of pod?

[2016-11-04 03:42] zdj6373 commented on #35913
I also encountered this test error; how to solve?

[2016-11-04 03:43] saad-ali commented on #33827
PR https://github.com/kubernetes/kubernetes/pull/35560 fixes the majority of these issues with `pod disks...` tests. However that needs to cherry-picked to the 1.4 branch (hence the continued failures on the `kubernetes-e2e-gci-gke-slow-release-1.4` suite.

That plus, according to @jingxu97 there are a few more `Pod disks...` test that are not using her retry fix, she still needs to refactor those

[2016-11-04 03:51] saad-ali commented on #33703
Ack. Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/33874

[2016-11-04 03:51] #33703 closed

[2016-11-04 04:01] thockin commented on #36105
We can change the behavior of --experimental-whatever, but that is
different than failing to launch the binary because we don't know that flag.

On Nov 3, 2016 9:06 AM, "Michael Taufen" <notifications@github.com> wrote:

[2016-11-04 05:18] brendandburns commented on #35949
I thought about this some more, I think the simplest solution is to mark the TPR as 'deleting' which has the effect of blocking all new writes to the TPR, but doesn't actually delete it.  Then a GC controller picks up the TPRs that are deleting and works to delete all of the resources owned by that TPR.

Once the TPR is actually empty, then it is deleted by the GC controller.

Thoughts?

[2016-11-04 05:33] amlinux commented on #36117
Same here. It's currently happening in my project. I can't reload anything. "kubectl apply -f" on any deployment doesn't work. "kubectl edit deployment" doesn't work either. The changes I make are saved in the deployment, but it doesn't have any effect on the replica sets.

[2016-11-04 05:37] bprashanth commented on #34665
fwiw, unretried image pull during node bringup is russian roulette. one of the reasons we dockerload master components/kube-proxy from a .gz.

[2016-11-04 05:38] bprashanth commented on #34665
Now regarding the weird timeouts.
There're some pretty slow tests in the suite, in order I think they're (slowest is 30m):
[code]

but they should all run in parallel, so I don't *think* that's a big deal. We should probably optimize anything that isn't specifically soaking and still takes > 15m though.

Anyway I've strictified some timeouts in the nodePort test based on a previous guess by Jeff (

[2016-11-04 05:40] brendandburns commented on #33664
fwiw, I don't think we should support this as a proper Kubernetes API.

I don't quite understand the use case, as I see it there are two scenarios:

1) you are using 'latest' for testing (this is the "no sed" use case), in this case, downtime is fine, and indeed the right approach is likely to completely blow away your stack and redeploy from scratch to get a clean run.

2) you are running 'latest

[2016-11-04 05:43] brendandburns commented on #32391
I'd bet that this is caused by node status updates.  And I'd agree that cordon should probably retry.

[2016-11-04 06:10] foxish commented on #36204
I think this was the run before https://github.com/kubernetes/kubernetes/pull/36199 got merged. Will close this if we don't see it again for a while.

[2016-11-04 06:25] sttts commented on #27680
No, no further insights. Feel free to invest some time here with some new ideas.

[2016-11-04 06:47] jingxu97 commented on #34665
Found this thread in docker, so it seems other users also experience this random timeout issue.
https://github.com/docker/docker/issues/13337

Is that possible to build docker image locally instead of using remote repository to make it more reliably?

[2016-11-04 07:02] yash1425 commented on #34406
Perhaps similar question:

http://stackoverflow.com/questions/40294423/kubeadm-why-does-my-node-not-show-up-though-kubelet-says-it-joined/40416796#40416796

[2016-11-04 07:37] DreadPirateShawn commented on #25204
Got it! Took let's say about 600 repro cycles, this time.

Overview:

**Start time: 1103 @ 23:54:22**

**First: Deleted namespace to ensure clean slate:**
[code]
**Next: Started watch:**
[code]
**Last: Created namespace, monitored up to 60 seconds for it to appear, then monitored up to 60 seconds for the service account to appear:**
[code]

The results of the watch are attached, as are the control

[2016-11-04 07:38] roberthbailey commented on #36054
Do we know what is causing the internal error to be returned? Do we have master logs that show more info (e.g. a stack trace)?

[2016-11-04 07:53] nlamirault commented on #35643
I've got also this logs in /var/log/syslog :
[code]

[2016-11-04 08:05] codablock opened #36213 "kubeadm: Pass --cloud-provider and --cloud-config to kubelet"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BOTH

**Kubernetes vers

[2016-11-04 08:07] codablock commented on #35502
I had to provide cloud-config flags to the kubelet and opened an issue with a proposal that may also solve your requirements: https://github.com/kubernetes/kubernetes/issues/36213

[2016-11-04 08:11] spacexnice commented on #35502
@codablock yes, that` correct !

[2016-11-04 08:17] wojtek-t commented on #34911
@calebamiles -there are experiments with 5000-node cluster. So yes, we should ignore it for now.

[2016-11-04 08:35] fgrzadkowski commented on #35774
It doesn't have to be for 1.5, but it's something we should figure out sooner than later. Can you explain how would administrator read all the events from per-pod events? I think UX would be very bad, but I might be missing something.

[2016-11-04 08:56] AlexMioMio commented on #36042
@smarterclayton that seems to make sense

[2016-11-04 08:59] piosz commented on #29778
Since kube controller manager still relies on `extensions/v1beta1` group it can't be fully done for 1.5. The plan is to:
- migrate kube controller manager to use `autoscaling/v1` for 1.5
- remove HPA objects from `extensions/v1beta1` for 1.6

[2016-11-04 09:01] jszczepkowski commented on #36167
Fix in progress: #36214.

There was a problem caused by unconditional setting `KUBELET_APISERVER` on the master in #33655.

[2016-11-04 09:19] gmarek commented on #36054
I don't know. They're probably in BigQuery.

[2016-11-04 09:22] codablock commented on #36150
Same problem seems to apply to the apiserver. Not sure however if it actually does https calls.

[2016-11-04 09:30] kvarnhammar commented on #23726
You can solve this with "kubectl config":
[code]

[2016-11-04 09:51] errordeveloper commented on #36213
This the best way to go with 1.4, in 1.5 we might be able to leverage dynamic kubelet settings feature (but that's still an early alpha, so hard to say if it will work well enough).

[2016-11-04 09:58] kargakis commented on #36117
Maybe related to https://github.com/kubernetes/kubernetes/issues/29735. Failed creation of the new rs is one of the few cases in the controller where we don't update observedGeneration for the deployment. We also don't emit any event which is bad. Event and deployment condition for the particular case is added in https://github.com/kubernetes/kubernetes/pull/35691

[2016-11-04 10:06] codablock commented on #36213
I can keep doing this, the only problem is that I'll have to keep my override up to date in case you ever change the current value of KUBELET_EXTRA_ARGS. Currently it's only "--v=4"...but I can imagine that you add something in the future. Maybe we should add an extra env which by definition will never be touched by maintainers and is only for custom args? Like:

[code]

[2016-11-04 10:32] gmarek commented on #35872
I'm certainly not - feel free to take it:)

[2016-11-04 10:45] #36167 closed

[2016-11-04 10:50] dgonzalez opened #36220 "Expose a service with LoadBalancer on non-cloud providers using custom image for the load balancer"
Here is one idea:

When you are running a cluster in your bare metal infrastructure, you cannot expose a service (or anything) using the LoadBalancer for obvious reasons.

When you are running a in a cloud provider, it uses the native load balancer (AKA Elastic Load Balancer in AWS) provisioning and configuring it.

My point is:

Why not have an extra flag in the expose command that allows you to

[2016-11-04 10:54] erictune commented on #34776
Talking to @mwielgus, this is too hard to do for 1.5, and it is more important for PDB to go to Beta than to have this, so I'm closing this request.

For 1.5, StatefulSet users should create PDBs alongside their StatefulSets.  For StatefulSets, we'll recommend that users need to adjust PDB when scaling the set (uncommon operation for quorum-based) or when using a template, helm chart, etc, that th

[2016-11-04 10:54] erictune commented on #34776
Talking to @mwielgus, this is too hard to do for 1.5, and it is more important for PDB to go to Beta than to have this, so I'm closing this request.

For 1.5, StatefulSet users should create PDBs alongside their StatefulSets.  For StatefulSets, we'll recommend that users need to adjust PDB when scaling the set (uncommon operation for quorum-based) or when using a template, helm chart, etc, that th

[2016-11-04 10:56] erictune commented on #34776
Talking to @mwielgus, this is too hard to do for 1.5, and it is more important for PDB to go to Beta than to have this, so I'm closing this request.

For 1.5, StatefulSet users should create PDBs alongside their StatefulSets.  For StatefulSets, we'll recommend that users need to adjust PDB when scaling the set (uncommon operation for quorum-based) or when using a template, helm chart, etc, that th

[2016-11-04 11:10] tsn77130 opened #36222 "Configmap pretty display"
**Kubernetes version** :

[code]

**What happened**:

When I try to display configmap content with yaml output (kubectl get configmap webapp-inifile -o yaml), the output is sometimes pretty, and sometimes not -depending newlines are effectively displayed or not - just \n char-

I can't find what's the difference between some file and some others. (limit on numer of lines ?)

Configmap is created w

[2016-11-04 11:20] Arachnid commented on #33664
I'm not sure I follow the argument here. Downtime isn't fine in our use-case, of running monitoring nodes of the latest instances of our software. It seems sensible to be able to apply the same deployment mechanics to this as to anything else.

More broadly, docker tags, like most name services, are fundamentally mutable by design - and docker repos provide a way to resolve a tag to the current im

[2016-11-04 11:24] maciaszczykm opened #36223 "`kubectl proxy --help` output is confusing"
-

[2016-11-04 11:24] maciaszczykm commented on #36223
@kubernetes/kubectl

[2016-11-04 11:27] serverhorror commented on #33664
@brendandburns I'm interested in this as well. Not for the reasons of updating the pods.

My situation is this: Pods and Containers are pretty stable but the data moves way faster. Our data sets span 100s of GBs per file with 100s of files (genomic data, life sciences). And since a lot of the software is academic there isn't much engineering effort going into it. Currently the easiest way to "rede

[2016-11-04 11:29] kargakis commented on #33664
https://github.com/kubernetes/kubernetes/issues/13488 seems related

[2016-11-04 11:30] #36223 closed

[2016-11-04 11:41] k8s-merge-robot opened #36224 "[k8s.io] Job should keep restarting failed pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/4824/

Failed: [k8s.io] Job should keep restarting failed pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #28006 #28866 #29613

[2016-11-04 11:53] soltysh commented on #36224
Closing, since it looks like problem in #35006, not jobs related.

[2016-11-04 11:53] #36224 closed

[2016-11-04 11:58] mwielgus commented on #34776
Just to clarify - it is not hard to replace minAvailable with maxUnavailable but just maxUnavailable combined with pod selector doesn't have much sense when the selector doesn't match to any replication controller/dep/rs/etc - in general, something that contains information what should be the total number of replicas.

We could have both minAvailable and maxUnavailable, it would be probably possib

[2016-11-04 12:14] kargakis commented on #34776
Most if not all of the workloads are going to run under a controller, right? MinAvailable isn't very useful for a controller for the exact reason @erictune mentioned in the starting post.

[2016-11-04 12:32] mwielgus commented on #34776
It is useful if you want to have PDB with the same selector as your service.

[2016-11-04 12:33] mwielgus commented on #34776
Otherwise we should rather replace selector with object reference.

[2016-11-04 12:43] piosz opened #36227 "Collect logs from Rescheduler"
We need to have collected by:
- fluentd
- jenkins

[2016-11-04 12:44] kargakis commented on #34776
So you have a service that load balances pods that are not controlled by a
controller?
I am interested into knowing cases where you wouldn't want to use a
controller.

On Fri, Nov 4, 2016 at 1:32 PM, Marcin Wielgus <notifications@github.com>
wrote:

[2016-11-04 12:44] piosz commented on #36227
@Crassirostris could you please take a look?

[2016-11-04 12:45] deads2k commented on #35949
Because the GC controller can be influenced by the end user (user who can modify a Foo, can remove the ownerRef), I think that unsuitable.  I want the stronger control of an unconditional finalizer.

@AdoHe the finalizer issue I mentioned.

[2016-11-04 12:45] kargakis commented on #34776
You still have the same problem because the service can be scaled up/down but MinAvailable stays the same...

[2016-11-04 12:51] AdoHe commented on #35949
@deads2k Thanks :)

[2016-11-04 13:10] k8s-merge-robot opened #36230 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/1856/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]

Previous issues for this test: #33703

[2016-11-04 13:16] mwielgus commented on #34776
Thats exactly what is needed, minAvailable should always be there. MaxUnavailable needs an expected number of replicas to be present somewhere. You cannot get expected number of replicas from a service. It doesn't have such information.

Some other example. Imagine that your deployment is controlled by HPA. HPA can scale from 1 to 10. You want to make sure that there is always at least one replica

[2016-11-04 13:19] zreigz commented on #35351
I've introduced required functionality to `cluster/get-kube.sh`. I have prepared proposal for it: https://github.com/zreigz/kubernetes/commit/243024d129c1ff0ec44302530f4c4f469dfe088f
Now user can use it in following way
[code]
Please take a look my commit. If it's OK I will prepare PR for it

[2016-11-04 13:24] kargakis commented on #34776
This is a problem with absolute numbers but not with percentages. I see that maxUnavailable cannot fully substitute minAvailable but the same holds for minAvailable. I guess the latter is more safe than the former so I am fine with proceeding with MinAvailable. Would it overcomplicate PDB to have both?

[2016-11-04 13:31] mwielgus commented on #34776
No, I voted for having both. But unfortunately the code freeze is on Monday so maxUnavilable got deprioritized over other stuff that is needed for PDB to work reliably at all.

[2016-11-04 13:53] kargakis commented on #34776
We can have it in 1.6 and keep this issue open then?

[2016-11-04 13:56] mwielgus commented on #34776
Sure.

[2016-11-04 14:15] justinsb opened #36234 "Problems with duplicate Node Hostname records"
codablock on slack reported an issue regarding  https://github.com/kubernetes/kubernetes/pull/25532

(paraphrasing) "When used in combination with the Azure cloud provider, I get errors about Node.Status.Addresses being duplicated"

Looking at the code, the Azure cloudprovider returns a HostName address, but then a HostName address is also added by the kubelet code itself.

[2016-11-04 14:15] justinsb commented on #36234
cc @colemickens

[2016-11-04 14:18] justinsb commented on #36234
I have two PRs with different alternatives:

* #36231 adds a hostname unless the cloudprovider already set one.
* #36233 relies on the cloudprovider to set one, and does not add one.

I think #36231 has the problem that the cloudprovider has no way to say that Hostnames are not in use.

#36233 relies on the cloudprovider adding the hostname if it wants it, which is trivial for it to do.

@liggitt

[2016-11-04 14:21] amlinux commented on #36117
I noticed that old replica sets are not removed when a deployment rollout completes. My project has already accumulated more than 500 old RSes. When I cleaned up some of them, deployments got unstuck. Maybe there is some mechanism that prevents creation of new RSes if there are too many of them already?

[2016-11-04 14:23] justinsb commented on #36220
Can you just deploy your controller into kube-system ahead of time, and have it watch for services of Type=LoadBalancer?  That way the person running `kubectl expose` would not need to know whether e.g. an F5 load balancer was in use, or something using DNS with hostPorts.

I do think your approach is interesting for when multiple LoadBalancer solutions are in use on the same cluster, but I don't

[2016-11-04 14:31] kargakis commented on #36117
@amlinux specify the number of old replica sets you want to retain in the deployment spec (revisionHistoryLimit).

[2016-11-04 14:32] liggitt commented on #36234
I'd get the cloudprovider to set one if it wants (#36231)

[2016-11-04 14:34] jeremyeder commented on #5880
@saad-ali did you ever push this further in total pod count?  We're seeing failures after 12k...

[2016-11-04 15:04] k8s-merge-robot opened #36237 "kubernetes-e2e-gce-enormous-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/162/

Run so broken it didn't make JUnit output!

[2016-11-04 15:04] dlouzan commented on #26309
Hello,

At least on my side, this seems an nginx issue. I have tried with both nginx 1.11.3 and OpenResty 1.11.2.1, Kubernetes 1.3.4.

I can consistently reproduce the issues by setting a resolver directive in nginx pointing to the ClusterIP of kube-dns and defining a location using the resolver, and then manually deleting the kube-dns pod. At this point, the nginx resolver will start complaining

[2016-11-04 15:20] liggitt commented on #31481
as long as the resource is reflected in discovery docs, nothing special should be needed to be cleaned up

need to track down why this is happening and find out of any other resources are affected

[2016-11-04 15:21] soltysh commented on #33665
That was fixed with https://github.com/kubernetes/kubernetes/pull/35420 and https://github.com/kubernetes/kubernetes/pull/36161. I think both should or shortly will be cherry-picked to 1.4

[2016-11-04 15:21] #33665 closed

[2016-11-04 15:25] blixt commented on #36117
Okay I think there may be something to the replica sets number. Today I managed to deploy a copy of the image that was previously broken, and I think this is the significant sequence of events:

1. Set `revisionHistoryLimit: 5`
2. `kubectl set image deployment/fika-io fika-io=gcr.io/roger-api/fika-io:2016-11-02-001` (an image that had previously successfully rolled out)
3. Wait for Kubernetes to p

[2016-11-04 15:40] liggitt commented on #31481
looks like serverPreferredResources() only discovers resources in the preferred version for each group, so misses resources that only exist in a non-preferred version

[2016-11-04 15:41] yujuhong commented on #35935
I added some debugging code in the node e2e framework to ssh in to the node and copy back the system logs after the failure (#36181)

Here is one test failure with the " Write failed: Broken pipe" error
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36225/pull-kubernetes-node-e2e/3518/

In the GCS browser, you will find a `tmp-node-e2e-bf3cf870-gci-dev-55-8872-18-0-gcloud

[2016-11-04 16:07] k8s-merge-robot opened #36242 "[k8s.io] Proxy version v1 should proxy logs on node [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2065/

Failed: [k8s.io] Proxy version v1 should proxy logs on node [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-04 16:08] dgonzalez commented on #36220
The problem with listening for Type=LoadBalancer is magical things happening in the background. With my approach, it is explicit: you have to specify an image for it to be provisioned (or possibly the service name of an already running one).

[2016-11-04 16:08] dgonzalez commented on #36220
BTW I think the ingress controller is an interesting concept with a lot of potential.

[2016-11-04 16:16] nlamirault commented on #35643
Controller manager have some errors like that :

[code]

[2016-11-04 16:24] rootfs commented on #32187
i don't really recommend using ntfs-3g, there is no known selinux support, among other things.

[2016-11-04 16:29] bprashanth commented on #36137
in the meanwhile you can just give it a cidr, like one normally does https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L400

[2016-11-04 16:34] bprashanth commented on #34665
@jingxu97 io timeout is probably just normal network connectivity flake during node startup. There are 2 issues conflated into this bug, one is the mounter problem for which we reverted the pr, the second is a *suite* timeout, which is probably one of our tests or the framework itself doing something weird. The first problem was hitting more often and across more suites than the second, so I'd exp

[2016-11-04 16:59] Crassirostris commented on #36227
I this is actually two separate problems.

Exporting resheduler.log as artifact from master is easy.

Exporting logs to the logging backend will require fluentd configuration changes => images version changes, which are blocked by https://github.com/kubernetes/kubernetes/pull/35216 and https://github.com/kubernetes/kubernetes/pull/35618

[2016-11-04 17:13] hongchaodeng commented on #35929
cc @xiang90

[2016-11-04 17:17] raghu67 commented on #34101
I am seeing a similar issue. Here are the details:
[root@m0062421 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0",

[2016-11-04 17:20] hongchaodeng commented on #35929
Hi @smarterclayton,

I understand the point in pkg/storage. Would you share some minds on what needs to be change din pkg/api?

I am thinking that these two pkgs are separate and I can start changing it in pkg/storage first.

[2016-11-04 17:30] smarterclayton commented on #35929
We can probably wait until my server API group refactor lands early in 1.6,
because it will overlap with those changes.  It's probably easier to wait
for that.

I fixed the major perf problem just be being more efficent with reflection
in a pull last night, so this is less critical for 1.5

On Nov 4, 2016, at 1:20 PM, Hongchao Deng <notifications@github.com> wrote:

Hi @smarterclayton <https://git

[2016-11-04 17:43] rcshubhadeep commented on #29643
@justinsb I am trying the same exact thing and this is the error I am getting

[code]

[2016-11-04 17:50] calebamiles commented on #33897
Any update on this issue @mikedanese? If you throw a 1.5 milestone on this issue and whether or not this should block the release that would be a huge help thanks!

[2016-11-04 17:51] yujuhong opened #36247 "CRI: Network should set TCP CLOSE_WAIT timeout"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36239/pull-kubernetes-e2e-gce-cri/42/

[code]

/cc @bowei

[2016-11-04 18:12] calebamiles commented on #33730
@saad-ali we might be able to close this issue, last flake was 21 October. What do you think @bprashanth?

[2016-11-04 18:15] calebamiles commented on #33285
@saad-ali, we might be able to close this issue. The last test flake was 21 October 2016. What do you think @smarterclayton, @mtaufen, @bprashanth?

[2016-11-04 18:22] AndrewDryga commented on #23864
+1

[2016-11-04 18:25] yujuhong commented on #35935
Another one with the the broken pipe, but the system logs show
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36239/pull-kubernetes-node-e2e/3599/

Right before the node went bad, there was quite a lot of mount related errors:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/36239/pull-kubernetes-node-e2e/3599/artifacts/tmp-node-e2e-6f4712d0-gci-dev-55-8872-

[2016-11-04 18:28] calebamiles commented on #32512
Any updates on this issue @jszczepkowski? If you could you change the milestone to 1.5 and add a label for the responsible team that would be a great help. Thanks!

[2016-11-04 18:34] calebamiles commented on #32447
@saad-ali we might be able to close this issue, the last flake was 26 October 2016. What do you think @bprashanth?

[2016-11-04 18:37] pmorie commented on #2742
We also need stuff like boilerplate verification, gofmt verification, etc to be available to people building things outside the core.  Example: kubernetes-incubator/service-catalog#33

[2016-11-04 18:39] calebamiles commented on #32044
Any updates on this @janetkuo. Is anyone from @kubernetes/sig-node looking at this issue? If someone could add a 1.5 milestone and a label signalling whether this should be a release blocker that would be a great help, thanks!

[2016-11-04 18:44] dchen1107 commented on #35935
@vishh looks like gci-mounter still causes the node e2e failure which blocks the submit queue here. Can you take a look at this? @yujuhong provided some detail logs related to the recent failures. Thanks!

[2016-11-04 18:48] calebamiles commented on #32037
Any updates on this issue @dchen1107, @Random-Liu? Is anyone from @kubernetes/sig-node taking a look at this issue because a linked failure is pretty red on [testgrid](https://k8s-testgrid.appspot.com/google-gci#gci-serial&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Kubelet%5C%20%5C%5BSerial%5C%5D%5C%20%5C%5BSlow%5C%5D%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20regular%5C%20resource%5C

[2016-11-04 18:50] calebamiles commented on #31835
@saad-ali we might be able to close this issue, all the referenced testgrid links look pretty good.

[2016-11-04 18:54] calebamiles commented on #31429
Any updates on this issue @ymqytw. @pwittrock? If one of you could add a 1.5 milestone, a label signifying whether or not this issue should block release, and a label for the responsible team that would be a great help, thanks!

[2016-11-04 18:57] calebamiles commented on #30352
@saad-ali we might be able to close the issue, the testgrid looks pretty good. what do you think @Random-Liu @kevin-wangzefeng?

[2016-11-04 19:00] calebamiles commented on #30263
@saad-ali we can probably close this issue as the referenced testgrid link looks pretty good.

[2016-11-04 19:02] bowei commented on #36247
assign this to me

[2016-11-04 19:02] euank commented on #32037
@calebamiles Was that the right testgrid link? The issue for that test is https://github.com/kubernetes/kubernetes/issues/32320, but I'm missing how this issue is linked to that.

[2016-11-04 19:06] calebamiles commented on #29752
@saad-ali, the referenced testgrid hasn't shown a failure since 27 October 2016. How do you feel about closing this issue?

[2016-11-04 19:07] saad-ali commented on #30263
Ack, closing

[2016-11-04 19:07] #30263 closed

[2016-11-04 19:08] calebamiles commented on #29521
@saad-ali we might be able to close this issue as the referenced testgrid looks pretty good. What do you think @smarterclayton?

[2016-11-04 19:10] k8s-merge-robot opened #36254 "kubernetes-e2e-gci-gce-petset: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/1840/

Run so broken it didn't make JUnit output!

[2016-11-04 19:12] calebamiles commented on #29514
@saad-ali we might be able to close this issue, the referenced testgrid links show green past 26 October 2016. What do you think @bprashanth @mikedanese @davidopp?

[2016-11-04 19:12] yujuhong commented on #36247
@bowei does the tests rely on host ports? CRI doesn't support that yet (#35457).

[2016-11-04 19:13] fabiand commented on #26003
We are seeing this as well.

[2016-11-04 19:15] calebamiles commented on #29397
@saad-ali we can probably close this issue, the referenced testgrid link looks pretty good. What do you think @sttts @davidopp?

[2016-11-04 19:15] bowei commented on #36247
discussed offline: yes it relies on host ports, so probably should skip this test for the CRI environment

[2016-11-04 19:16] kargakis commented on #29735
What about old replica sets? What happens if a new hash collides with an old hash (latest template hashed == old replica set computed with old hashing algo)?

[2016-11-04 19:17] spxtr commented on #22586
Seeing this on GKE with 1.4.5 nodes. It's definitely not AWS, but I'm not sure what team to point it at, and I'm also not sure what priority it deserves.

[2016-11-04 19:18] calebamiles commented on #28845
@saad-ali we might be able to close this issue, the referenced testgrid link is green past 26 October 2016. What do you think @cjcullen, @ncdc @krousey @smarterclayton?

[2016-11-04 19:21] calebamiles commented on #28569
Any updates on this issue @bprashanth? If you could add a 1.5 milestone, a label signifying whether or not this should block the release, and a label for the relevant team that would be a great help as we triage flakes for the 1.5 release, thanks!

[2016-11-04 19:22] luxas opened #36255 "[kubeadm] fail fast if two nodes have the same name"
ref: http://stackoverflow.com/questions/40294423/kubeadm-why-does-my-node-not-show-up-though-kubelet-says-it-joined/40416796#40416796

@kubernetes/sig-cluster-lifecycle

[2016-11-04 19:22] ncdc commented on #28845
Anything that tests `docker exec` has the same potential for flakiness until we move to docker 1.13.

[2016-11-04 19:25] calebamiles commented on #28337
Any updates on this issue @mtaufen, @davidopp @elsonrodriguez? If one of you could add a 1.5 milestone, a label signalling whether this should block the release or not, and a label for the responsible team that would be a great help as we triage flakes for the 1.5 release, thanks!

[2016-11-04 19:28] calebamiles commented on #28297
How would you feel about closing this issue @saad-ali? the referenced testgrid is green past 26 October 2016. I guess a 1.5 milestone would help regardless.

[2016-11-04 19:31] calebamiles commented on #28275
Any updates on this issue @jessfraz @janetkuo @davidopp @derekwaynecarr? If one of you could add a 1.5 milestone, a label signifying whether this flake should block release (I'm assuming not in this case), and a label for the responsible team that would be a great help as we triage flakes for the 1.5 release. Thanks!

[2016-11-04 19:32] bprashanth commented on #34665
I was able to grab a strace on a hanging curl, I think we're hitting a keepalive established connection that avoids nat to the endpoints when we toggle nodePort on/off. My timeout pr should at least kill the connection, we should try and get  https://github.com/kubernetes/kubernetes/pull/36130/files in.

Debug info:
Working nodeport service:
[code]
Toggle nodeport off
[code]
Toggle nodeport back o

[2016-11-04 19:34] saad-ali commented on #28297
We can make the test code more robust by handling `UnexpectedServerResponse` errors from API server by maybe retrying. This doesn't happen very frequently so it is fine to reduce the priority of this.

[2016-11-04 19:34] calebamiles commented on #27450
Any updates on this issue @bowei @roberthbailey @matchstick? If one of you could change the milestone to 1.5, a label which signifies whether or not this should block release (I assume not) and a label for the responsible team that would be a great help. Thanks! Perhaps someone from @kubernetes/sig-network has context as well.

[2016-11-04 19:38] calebamiles commented on #26134
@saad-ali, how would you feel about closing this issue. The referenced testgrid links are green past 24 October 2016. What do you think @bprashanth @matchstick @dims @spxtr @mtaufen @mfanjie @mansoorj?

[2016-11-04 19:39] callmeradical commented on #23621
I am having this issue, well similarly.

I attach to the pod and they are there, however my application (a go binary) launches and doesn't see any of the ENVs.

Only happens when the ENV is valueFrom: secretKeyRef

Am I missing something?

[2016-11-04 19:43] calebamiles commented on #25845
@mml @lavalamp @fejta @wojtek-t any updates on this issue; should it be closed?

[2016-11-04 20:14] nikhiljindal commented on #33612
Documenting discussion with @quinton-hoole
* There should be a clear way for users to find out what all will be deleted if they set orphanDependents = false.

The API documentation for that field is ["Should the dependent objects be orphaned"](https://github.com/kubernetes/kubernetes/blob/8e3909c32a78a00db9d774bdc660e3b581b10fe3/pkg/api/v1/types.go#L3183) without defining "dependents". For kuberne

[2016-11-04 20:28] dashpole commented on #20477
Upon further inspection, I dont think it is a good idea to move any runtime calls inside the status manager.   There is only one place where we use containerRuntime as a backup for getting the status from the status manager.  That is in pkg/kubelet/kubelet_network.go , function cleanupBandwithLimits.  I think that using the containerRuntime within the status manager would be unwise, because caller

[2016-11-04 20:46] quinton-hoole commented on #35588
Yes, we're working on getting them passing.  Please do not disable.  All but one are passing now.

[2016-11-04 20:52] saad-ali opened #36259 "Building release fails with `Failed to fetch http://httpredir.debian.org/debian/... Error reading from server. Remote end closed connection`"
While trying to cut a release, anago failed to BUILD v1.6.0-alpha.0 due to:
[code]

Complete build log: https://gist.github.com/saad-ali/435177d31abb2b05efe2c454d3a0bdb6

The following steps did not help:
* Stopped and deleted all docker containers and deleted all docker images.
* Tried multiple different builds.

Eventually I was able to get a successful dry run this morning.

CC @david-mcmahon @

[2016-11-04 20:54] dcbw commented on #23920
@dgoujard I'm pretty sure that HostNetwork pods can't use HostPort mappings.  That's the case with plain Docker (eg, try "docker run -it -p 8080:14000 --net=host nginx bin/bash" and watch nothing happen in iptables) and that's also the case with Kubernetes and CNI.

Since docker is no longer involved in the networking when CNI is used, the CNI plugins themselves currently need to implement the hos

[2016-11-04 20:55] smarterclayton commented on #29735
Old replica sets is covered by 4.

If you have a hash collision its game over anyway, so not worried about
that.

On Fri, Nov 4, 2016 at 3:16 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-11-04 20:56] david-mcmahon commented on #36259
No CI builders build hyperkube which is where this is failing.
We eventually want to get to [where anago is running on CI](https://github.com/kubernetes/release/issues/31), but we aren't there yet.

In the meantime it would be good to set the following to activate the hyperkube build in our 'make release' jobs:
[code]

[2016-11-04 20:57] ixdy commented on #36259
There's also at least one issue wherein I complain about hyperkube requiring so many dependencies to be downloaded - #35058.

[2016-11-04 21:04] janetkuo opened #36262 "uni test flake: k8s.io/kubernetes/pkg/registry/extensions/networkpolicy/etcd TestDelete"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/35776/pull-kubernetes-unit/3645/

[code]

[code]

@thockin

[2016-11-04 21:04] bprashanth commented on #34665
I don't think this has failed since the revert and my last pr, closing (https://k8s-testgrid.appspot.com/google-gke#gci-gke-slow). autofiler will reopen anyway.

[2016-11-04 21:04] #34665 closed

[2016-11-04 21:06] janetkuo commented on #36254
@foxish

[2016-11-04 21:07] rmmh commented on #36259
Where did you run this? Unfortunately, the debian mirrors are *ridiculously* flaky. There might be some retry options we can pass to reduce how much this hurts.

[2016-11-04 21:09] saad-ali commented on #36259
I ran it on my local machine

[2016-11-04 21:10] david-mcmahon commented on #36259
@rmmh That's really the simple fix here.  Getting builders set up to ensure it doesn't get flaky again is nice to have but not blocking here.  The flake itself is the blocker.  Do we not already have some mechanisms in place somewhere to do "safe" mirror grabs?  If not, time to create one.

[2016-11-04 21:11] ixdy commented on #35351
@zreigz get-kube.sh is what's hosted on https://get.k8s.io, so it can't depend on any other scripts in the repo.

[2016-11-04 21:15] smarterclayton commented on #29521
We're definitely not seeing the original issue.  I'm fine with closing.

[2016-11-04 21:15] #29521 closed

[2016-11-04 21:15] rmmh commented on #36259
This is what the Jenkins builders are using. It's deprecated (no active maintenance work), but it's far more reliable than httpredir.debian.org

    sudo sed -i 's-httpredir.debian.org/debian-gce_debian_mirror.storage.googleapis.com-' /etc/apt/sources.list /etc/apt/sources.list.d/*

[2016-11-04 21:17] ixdy commented on #36259
Probably need to add that to `cluster/images/hyperkube/Dockerfile`?

[2016-11-04 21:18] ixdy commented on #36259
though I'm not sure we want to make everyone use the gce debian mirror.

[2016-11-04 21:32] wfarr commented on #26003
There's a relevant issue in https://github.com/kubernetes/client-go/issues/8 where, thanks to @caesarxuchao, we have some work-arounds that have been working well for me thus far (there are also some examples of working code linked in that issue).

[2016-11-04 21:32] samsieber commented on #32026
@nhlfr @pwittrock Is there a potential timeline for this? I'd like to use Kubernetes where I work, but this is a show stopper for us. If it's not soon, could we update the documentation on services to specify that upgrades to websockets aren't supported? I was able to get most things working on kubernetes until I hit this road block. It was a nasty surprise.

Thanks for getting to the bottom of th

[2016-11-04 21:38] ymqytw commented on #31429
I'm working on it. I think it should be targeted at 1.5.

[2016-11-04 21:47] foxish commented on #36254
Should be fixed by https://github.com/kubernetes/kubernetes/pull/36212

[2016-11-04 21:49] #14519 closed

[2016-11-04 21:56] rmmh commented on #35282
@bprashanth are load balancer timeouts a sign of quota exhaustion, or something else?

[2016-11-04 21:57] yujuhong opened #36264 "Make cri cluster/node e2e suites submit queue blocking"
Once the builds stabilize after the code freeze, we should make the suites blocking to prevent regression.
We should also consider making cri node e2e mandatory for pre-submit PR checks.

/cc @kubernetes/sig-node @Random-Liu

[2016-11-04 21:58] rmmh commented on #35282
We're at 100% (7/7) Static IPs for this project, which might be causing the problems.

[2016-11-04 22:45] saad-ali commented on #5880
This is pretty old. Check out http://blog.kubernetes.io/2016/07/kubernetes-updates-to-performance-and-scalability-in-1.3.html

Check out the https://github.com/kubernetes/community/blob/master/sig-scalability/README.md they should be able to give you the current information/plans, and address any issues you are having with published numbers.

[2016-11-04 22:56] janetkuo commented on #35534
Dashboard needs to be updated as well.

[2016-11-04 22:58] spxtr commented on #36067
related to #22586 ?

[2016-11-04 22:58] #36107 closed

[2016-11-04 22:58] k8s-merge-robot opened #36265 "[k8s.io] Deployment iterative rollouts should eventually progress {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/5130/

Failed: [k8s.io] Deployment iterative rollouts should eventually progress {Kubernetes e2e suite}

[code]

[2016-11-04 22:58] k8s-merge-robot opened #36266 "kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1432/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: http {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36178

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort

[2016-11-04 23:03] mikekap opened #36269 "EBS volume unmounting is stalling"
**Is this a BUG REPORT or FEATURE REQUEST?** BUG

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: EC2
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux ip-10-0-33-203.us-west-2.compute.internal 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- **In

[2016-11-04 23:07] mikekap commented on #36269
Restarting the kubelet almost fixed the issue - I had to `umount /data/kubelet/plugins/kubernetes.io/aws-ebs/mounts/aws/us-west-2c/vol-6c15deef` to finally get the volume to detach.

[2016-11-04 23:33] k8s-merge-robot opened #36270 "[k8s.io] Deployment deployment should label adopted RSs and pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/2033/

Failed: [k8s.io] Deployment deployment should label adopted RSs and pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #29629

[2016-11-04 23:33] k8s-merge-robot opened #36271 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: udp {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1433/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: udp {Kubernetes e2e suite}

[code]

[2016-11-04 23:35] calebamiles commented on #36102
any updates on this issue @mwielgus? naively this seems like a misconfigured test rather than a flake. @elsonrodriguez do you happen to have any context on this test?

[2016-11-04 23:40] davidopp opened #36272 "Stop using taint with key=dedicated to mark master node"
@justinsb brought to my attention that folks have started using a taint with key "dedicated" for marking the master node. While I heartily endorse moving from "unschedulable" to using taints, please do not use key "dedicated" for this taint as we want to use it for the [dedicated nodes](https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md]) feature. Also,

[2016-11-04 23:56] calebamiles commented on #35282
thanks for updating the issue @rmmh. Do you have any thoughts about the priority of the issue @bprashanth @rmmh? If one of you could add a 1.5 milestone that would be great, thanks!

[2016-11-04 23:59] calebamiles commented on #34679
@apelisse would you mind throwing a 1.5 milestone on this issue?

- [this test](https://k8s-testgrid.appspot.com/k8s#gce-serial&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Nodes%5C%20%5C%5BDisruptive%5C%5D%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20Network%5C%20when%5C%20a%5C%20node%5C%20becomes%5C%20unreachable%5C%20All%5C%20pods%5C%20on%5C%20the%5C%20unreachable%5C%20node%5C%20should

[2016-11-05 00:03] davidopp opened #36273 "When node is unreachable, master should show all node conditions as Unknown"
I just found a cluster like this
[code]

cc/ @dchen1107

[2016-11-05 00:04] autrilla commented on #36067
@spxtr I also got that error message in that issue at about the same time as the volume tried to be remounted, so I'm guessing it's related.

[2016-11-05 00:05] calebamiles commented on #34676
thanks for the context @davidopp. Do you have any updates @mml, @mwielgus? Is there anyone from @kubernetes/sig-scheduling that can take a look at this. Would you mind throwing a 1.5 milestone on this issue @davidopp?

[2016-11-05 00:07] davidopp commented on #34676
added milestone

[2016-11-05 00:11] calebamiles commented on #34674
Any luck with triage @apelisse? Also do you have any context on this issue @ingvagabund because it looks like you made a refactor to the `BeforeEach` but it looks somewhat mechanical so maybe that's a red herring. Also could someone, possibly @saad-ali, throw a 1.5 milestone on this issue so we don't lose track of it?

[2016-11-05 00:16] thockin commented on #36262
@caseydavenport @dcbw @danwinship

[2016-11-05 00:20] calebamiles commented on #34673
Any luck with triage @apelisse, do you have any context on this failure or these service tests @foxish or @wojtek-t?

[2016-11-05 00:20] feiskyer commented on #36137
Yes, of course, setting `export NET_PLUGIN=kubenet` works ok. #35839 will be merged soon to fix cases network plugin is not set.

[2016-11-05 00:21] k8s-merge-robot opened #36276 "[k8s.io] EmptyDir wrapper volumes should not conflict {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/6978/

Failed: [k8s.io] EmptyDir wrapper volumes should not conflict {Kubernetes e2e suite}

[code]

Previous issues for this test: #32467

[2016-11-05 00:29] jbhurat opened #36277 "Refactor kube-proxy to remove os conditional checks"
`cmd/kube-proxy/app/server.go` has few conditional checks based on underlying OS like `runtime.GOOS == "windows"`, refactor `server.go` to do it more abstractly by moving them to `_linux/_windows` files.

All the conditional checks are in `NewProxyServerDefault()` and `Run()` methods and one solution could be to move them to `_linux/_windows` files

[2016-11-05 00:30] jingxu97 commented on #36067
@autrilla, sorry for the delay. Is your cluster node rebooted? Do you
happen to keep the kubelet log on Nov 2? I could not find the master log
before Nov3.

Jing

On Fri, Nov 4, 2016 at 5:05 PM, Adrian Utrilla <notifications@github.com>
wrote:

--
- Jing

[2016-11-05 00:38] zapman449 commented on #31824
Two things: 1) The default behavior of a Service Account Token appearing in all Pods is antithetical to Multi-Tenency.  The Service Account Token has full admin rights (by default) and effectively gives any pod admin rights to the cluster.  The service account token default needs to become 'opt-in' rather than 'opt out, and difficult to opt out of'.  Also, by default the service account should be

[2016-11-05 01:26] k8s-merge-robot opened #36278 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/1357/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}

[code]

Previous issues for this test: #32684

[2016-11-05 01:43] k8s-merge-robot opened #36279 "[k8s.io] ClusterDns [Feature:Example] should create pod that uses dns {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/17124/

Failed: [k8s.io] ClusterDns [Feature:Example] should create pod that uses dns {Kubernetes e2e suite}

[code]

[2016-11-05 01:56] autrilla commented on #36067
@jingxu97 I rebooted the node when none of my volumes could get mounted. I unfortunately did not save any logs then. Part of the issue still persists, although only with one volume, and not all of them.

If a complete failure to attach all nodes ever occurs again, I'll make sure to back up /var/log so that you can have more information.

[2016-11-05 02:43] zhaochj commented on #35641
Is this problem fixed?I have the same problem

[2016-11-05 03:21] bprashanth commented on #36266
Looks like kube-proxy is reacting to endpoint changes slower than we expect. I'm uploading a temp fix till we investigate why it seems slower, but it's not slower by that much (O(5 seconds)). This might be an effet of cpu pressure on the node from another addon (heapster is the main suspect at the moment).

[2016-11-05 03:25] bprashanth opened #36281 "Investigate kube-proxy sluggishness"
We observed weird sluggishness in some kubeproxies while debugging https://github.com/kubernetes/kubernetes/issues/36266

[2016-11-05 03:36] bprashanth commented on #35282
hmm, we hit the static-ip quota limit
[code]

[2016-11-05 05:19] k8s-merge-robot opened #36285 "kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/17005/

Run so broken it didn't make JUnit output!

[2016-11-05 06:05] bprashanth commented on #33730
https://github.com/kubernetes/kubernetes/pull/36282

[2016-11-05 06:44] bgrant0607 commented on #1698
As expected, resource names and label values are among the most commonly templated fields:
https://github.com/luciddreamz/library/blob/master/official/mysql/mysql-persistent-template.json
https://github.com/kubernetes/charts/blob/master/stable/mariadb/templates/deployment.yaml

[2016-11-05 07:02] k8s-merge-robot opened #36286 "[k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/3276/

Failed: [k8s.io] Deployment RollingUpdateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

Previous issues for this test: #31075

[2016-11-05 07:13] amlinux commented on #36117
+1 to what blixt said. Changing revisionHistoryLimit is not enough to unstick the deployment. Only when I cleaned up all replica sets with kubectl delete $(kubectl -o name get rs), on replica set was created, and then everything worked again.

It seems the actual problem is that deployments are somehow confused by too many old replica sets.

[2016-11-05 07:37] #36266 closed

[2016-11-05 07:43] nikhiljindal opened #36287 "federation e2e broken as federation fails to come up"
federation-up.sh is failing at
[code]

with error:

[code]

cc @kubernetes/sig-cluster-federation

[2016-11-05 07:45] nikhiljindal commented on #36287
This used to work fine. Not sure if something changed in the way kubectl get processes the template or the way loadBalancerStatus is set in service.

cc @janetkuo @bprashanth