[2016-10-05 18:32] edevil commented on #32900
@dcbw Which "master" are we talking about here? I'm referring to the kubelet of the master node (isn't it the usual way of supervising the master components? )

Since it is the master's kubelet that needs a pod cidr to startup, it has no other components to talk to yet.

[2016-10-05 18:44] mtaufen commented on #33413
For reference, PR is: https://github.com/kubernetes/kubernetes/pull/33535

[2016-10-05 18:46] vishh commented on #31362
If images are the main issue, by setting a lower hard threshold (~70%) and a lower eviction transition period (~30s), the nodes can be made to evict images often and not end up staying unschedulable for too long. This will result in lowering effective utilization of disk to 70% though.

One possibility is to extend soft evictions to start performing image and logs garbage collection as soon as the

[2016-10-05 18:46] dcbw commented on #32900
@edevil ah, you mean a master kubelet where the master-controllers are run via daemonsets or something?

[2016-10-05 18:50] edevil commented on #32900
@dcbw Yes, via pod manifests in this case. I was under the impression that this was a best practice for Kubernetes clusters, instead of using systemd or something like that?

[2016-10-05 18:52] jeremyeder commented on #33088
@ekuric

[2016-10-05 18:53] derekwaynecarr commented on #33088
The same issue also applies to ELB on AWS.

**Service controller**

* invokes `EnsureLoadBalancer` which calls: `elasticloadbalancing:DescribeLoadBalancers`

[2016-10-05 18:56] foxish commented on #27634
I think this is resolved now, and can be closed.

[2016-10-05 18:57] dcbw commented on #32900
@edevil can you paste in the kube-controller-manager manifest file from /etc/kubernetes/manifests?

[2016-10-05 19:01] ZhangBanger commented on #34067
Scratch that - not sure how to handle this.

[2016-10-05 19:04] zaa commented on #33602
Bump

@rootfs @saad-ali

[2016-10-05 19:22] dcbw commented on #32900
@edevil the reason I ask is because at least in upstream kube, the salt-managed kube-controller-manager.manifest has ""hostNetwork": true," in it, which should mean that kubenet isn't involved at all in running the controller-manager, and modulo a bug in kubelet or the docker/rkt runtimes, kubenet shouldn't be able to block running that manifest-defined pod due to the hostNetwork part.

[2016-10-05 19:26] luxas opened #34132 "Adopt Kubelet Dynamic Settings in order to be able to change values like --cluster-dns, --cloud-provider based on arguments given to kubeadm"
We should use Kubelet Dynamic Settings by pushing values given to `kubeadm init` to the apiserver when started, and that will make all kubelets in the cluster reload and pick up those configuration values.

That's much better than having to modify every `10-kubeadm.conf` systemd dropin file in the whole cluster.

[2016-10-05 19:27] avkonst commented on #33933
Thanks. I will try it.

[2016-10-05 19:27] timothysc commented on #34081
Is there a list of failing tests?  Also, from #33557 it looks like the issue is being fixed in golang 1.8 .

[2016-10-05 19:28] luxas commented on #34132
cc @kubernetes/sig-cluster-lifecycle

[2016-10-05 19:29] deads2k opened #34133 "Provide flag to have controller-manager use single identity"
Individual controllers can now run as particular service accounts to limit escalation risks through discrete policy.  However, some legacy authorizers may prefer to run all controllers as a single identity. Provide a flag to do that.

[2016-10-05 19:29] luxas opened #34134 "Create a kubeadm installer container for CoreOS"
And other platforms that may not have deb/rpm installation support

[2016-10-05 19:30] luxas commented on #34134
cc @kubernetes/sig-cluster-lifecycle

[2016-10-05 19:33] edevil commented on #32900
The manifest is here:

https://github.com/edevil/kubernetes-deployment/blob/kube1.4/templates/controller-manager.yaml

In fact my whole deployment script for Kube on Azure is there.

[2016-10-05 19:40] dcbw commented on #32900
@edevil ok, so that has hostNetwork=true, which means that if the manifest pod isn't getting started, there's some bug that's not really kubenet related. And...

@thockin @freehan so kubenet can't start pods until it has a podCIDR.  It returns an error for Status() until it has one.  kubelet runtimeState records that error and then then syncLoop() checks kl.runtimeState.errors() and refuses to syn

[2016-10-05 19:44] avkonst commented on #34101
I wonder if there is any working step by step instruction on how to get kubernetes cluster up and running on a set of virtual machines? I am happy to downgrade the version of kubernetes if it is an option. I am totally confused with all of these options: kube-deploy, kube-up, and other, I found from 3rd parties..

[2016-10-05 19:46] timothysc commented on #34105
Perhaps instead of Feature:Variant, I'm leaning towards Conformance:Variant as good enough..

[2016-10-05 19:47] ixdy commented on #34069
Root issue seems to be the failing PVC test.

[2016-10-05 19:49] wojtek-t commented on #34081
I think so far it was only:
"Namespaces [Serial] [It] should delete fast enough (90 percent of 100 namespaces in 150 seconds)"

[2016-10-05 19:49] mikedanese commented on #26637
What would be really nice is if we could filter a watch based on a field path and only recieve updates if those fields are updated.

We need some place to store the lease record.

Every resource in kubernetes is a already a lock.

[2016-10-05 19:49] luxas opened #34136 "Set up testing environments for kubeadm"
First we should make small integration tests that are spinning up a two-node cluster (maybe in containers) and verifying that the cluster comes up and basic functionality works

Then full-featured e2e testing that runs the e2e conformance suite on a kubeadm-created cluster should follow as a presubmit check so we can be sure that we're not breaking things when submitting PRs

Hopefully we're doing

[2016-10-05 19:57] vjsamuel opened #34137 "Volume metrics exposed in /stats/summary not available in /metrics"
Kubernetes Version: 1.3

On hitting `http://node:10255/stats/summary` I am able to see volume metrics like:

[code]

but the same metrics are not available when I hit `http://node:10255/metrics`.

Im under the assumption that all metrics are equally available on both endpoints. We use prometheus today to do our timeseries metric storage and because of this gap we are not able to see volume usage o

[2016-10-05 19:59] wojtek-t commented on #34113
We were doing some experiments. This was kind-of-expected.

[2016-10-05 19:59] #34113 closed

[2016-10-05 19:59] deads2k commented on #34085
`W1005 02:27:10.309447   31433 reflector.go:330] pkg/controller/serviceaccount/serviceaccounts_controller.go:141: watch of *api.ServiceAccount ended with: too old resource version: 968 (972)`

@liggitt it should recover, right?

[2016-10-05 20:08] dchen1107 commented on #34046
In one of our internal meeting a while back, I proposed several things:

1.
Instead of assuming all kubernetes node pre-installed docker daemon, then download kubelet (as docker image or tar file, etc.), why not putting Kubelet or another kube controlled binary into linux package manager, like APT. The responsibility of that binary is resolving all the dependencies (Kubelet, runtime, iptable, cni

[2016-10-05 20:09] #30627 closed

[2016-10-05 20:09] ixdy commented on #33624
And again:
[code]

[2016-10-05 20:17] freehan commented on #32900
Yeah. There is a PR in flight for this https://github.com/kubernetes/kubernetes/pull/33347

[2016-10-05 20:19] dcbw commented on #32900
@freehan thanks, missed that PR.

[2016-10-05 20:20] errordeveloper commented on #34136
I've started doing some work on integration tests, using Docker-in-Docker and systemd (of course). It's sort of very experimental and exploratory, e.g. I used Drone and not Jenkins, and I am still to look at test-infra repo and see how well it suites our needs, I have some doubts if there much that can be reused for deb/rpm+systemd integration test in particular.

See these repos (sorry, no docs y

[2016-10-05 20:24] errordeveloper commented on #34134
Yes, we should. The code for one I've built earlier is [here](https://github.com/errordeveloper/t8s/tree/master/kubeadm-installer). Also, I think this issue should had been failed in the release repo.

[2016-10-05 20:25] errordeveloper commented on #34132
Is this feature already usable?

[2016-10-05 20:26] #27634 closed

[2016-10-05 20:29] luxas commented on #34132
I don't know actually, but I think an alpha version of it exists

cc @mtaufen @vishh @mikedanese @dchen1107 @yujuhong

[2016-10-05 20:30] luxas commented on #34134
re an issue already in kubernetes/release; I can't see one

[2016-10-05 20:31] errordeveloper commented on #34031
Thanks for reporting this @miry! I would really appreciate some help on this, it's still not clear if passing `--hostname-override` (as described in https://github.com/kubernetes/kubernetes/issues/33618#issuecomment-250411981) to kubelet is sufficient and whether it works properly (https://github.com/kubernetes/kubernetes/issues/33618#issuecomment-250612628).

[2016-10-05 20:32] errordeveloper commented on #33641
Yes, but we should also get better at determining the default.

[2016-10-05 20:34] jylin commented on #33729
I'm running into the same issue on Xenial. It's hanging in "waiting for the control plane". However, if I do `kubectl get cs` in another terminal, it shows controller-manager, scheduler and etcd-0 as Healthy. I can't seem to install services properly though, nor does the UI work. It says something like "no endpoints available" when I use `kubectl proxy` and go to http://localhost:8001/ui.

[2016-10-05 20:38] luxas commented on #33729
UI isn't installed by default, so that's not a problem

Is the apiserver reachable on localhost:8080?

[2016-10-05 20:40] errordeveloper commented on #34044
[code]
I do not believe we've had these... are you sure? Different CNI plugins create devices with their own names.

cc @kubernetes/sig-network

[2016-10-05 20:41] luxas commented on #33729
Can you also paste the output of `kubectl get cs`?
That would be helpful

[2016-10-05 20:42] mtaufen commented on #33756
@ncdc was your cluster running the GCI image on nodes? Notable that this flake is from the GCI test job.

[2016-10-05 20:42] errordeveloper commented on #34044
[code]
No, let's not restart anything, just stop and clean things up.

[2016-10-05 20:43] ncdc commented on #33756
@mtaufen I believe it was. I ran `kube-up.sh` with the default settings for GCE.

[2016-10-05 20:44] gmarek commented on #34081
That's the one we notices. I don't know if anyone actually gone through all the failures.

[2016-10-05 20:45] errordeveloper commented on #33919
@dmmcquay you might want to look at https://github.com/kubernetes/kubernetes/pull/33543, it's related...

[2016-10-05 20:45] gmarek commented on #34003
I don't know. If not daemon, then maybe a Job that runs before every test or sth?

[2016-10-05 20:50] timothysc commented on #34081
Ohh snap, we need to redux namespace deletes in lieu of etcd3.

[2016-10-05 20:57] mikedanese commented on #31711
@pires I think we should discuss what beta means in more depth next meeting.

[2016-10-05 21:06] bprashanth commented on #34081
Can't we just extend the fix (https://github.com/kubernetes/kubernetes/pull/33733) more generally so tests use a random client from the created list instead of the same one everytime?

IIUC this is not a limit imposed by the protocol, because MAX_STREAMS limits the number of in flight streams per endpoint. It sounds like the golang fix is just going to open a new connection when this limit is hit,

[2016-10-05 21:08] Random-Liu commented on #33189
@yujuhong There are several flakes. Till now, all flakes turned out to be a bug. :)

[2016-10-05 21:11] jylin commented on #33729
Are you sure it's not installed by default? My other install of Kubernetes had it by default. Anyway, I ran the "create" command for the UI too to install it, and it still had the same error. I can't easily copy paste from the machine I ran it from, but the output was identical to the output of `kubectl get cs` ran on a successful install of Kubernetes.

[2016-10-05 21:21] mtaufen commented on #33730
@bprashanth have you had a chance to investigate these recent failures?

The recent failures look different from https://github.com/kubernetes/kubernetes/issues/33730#issuecomment-250528495, but wrt https://github.com/kubernetes/kubernetes/issues/33730#issuecomment-250632397, I at least noticed the difference between the two maps (at least as printed) was this:
`retrieved map[netserver-2:{} netser

[2016-10-05 21:23] cioc commented on #33447
Seeing the same issue.

Kubernetes implements mounting by running the mount program in a process for certain fs types including nfs: https://github.com/kubernetes/kubernetes/blob/ca422a1aaa354432265e60610f16f5b2e5170e76/pkg/util/mount/mount_linux.go#L107

Man page for mounting NFS explains that NFS mount requires calling out to support programs:

             For most types all the mount program h

[2016-10-05 21:26] wstrange commented on #28272
Just want to chime in that we are hitting this problem as well

[2016-10-05 21:30] gmarek commented on #34081
The problem is that tests currently get a client object from the framework and once it has it, it just uses it for communication with master. To fix this we can make from the framework a client proxy, so we can actually randomize transports we use in tests, make multiple transports per REST clients, or just wait for golang fix...

[2016-10-05 21:31] caseydavenport commented on #34044
ip link set cni0 down; ip link del cni0;

Yeah, this is plugin specific.

[2016-10-05 21:31] mtaufen commented on #32535
@kevin-wangzefeng Have you had a chance to look at this?

[2016-10-05 21:43] jlowdermilk commented on #34124
This test started getting extremely flaky on all jobs it runs in at around 22:50 on Sept 30. See [testgrid](https://k8s-testgrid.appspot.com/google-gce#gce-alpha-features).

I think https://github.com/kubernetes/kubernetes/pull/33587 was the culprit. cc @bprashanth @thockin @freehan

[2016-10-05 21:51] bprashanth commented on #34124
I'm re-writing it in https://github.com/kubernetes/kubernetes/pull/33957
It's hitting external-ip:nodePort of a loadbalanced service with OnlyLocal annotation. Not sure why, but yeah that will only pass if there is a local endpoint. I'm inclined to let it flake till the pr above goes in, if you prefer I can set a spot fix.

[2016-10-05 21:54] cjcullen commented on #31798
It is not blocking anything critical. It makes our monitoring noisy, and we have some workarounds in place that would be nice to remove.

[2016-10-05 22:00] mtaufen commented on #27023
@pwittrock @bowei what is the status of this issue?

[2016-10-05 22:01] mtaufen commented on #33989
Assigning @bprashanth as this seems to be dominated by failing networking tests.

[2016-10-05 22:09] pires commented on #31711
@mikedanese agreed. Added item on meeting's agenda.

[2016-10-05 22:15] chrishiestand opened #34146 "kubectl / kubernetes not 100% compatible with YAML 1.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): is:issue yaml in:title version

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2016-10-05 22:16] cjcullen commented on #33472
@wojtek-t I'm assuming that these are all GKE clusters? And that these are likely caused by our passive attempts to keep tunnels open.

Previous ssh-related goroutine leaks have been from:
1. Not closing a response body: https://github.com/kubernetes/kubernetes/issues/24279
2. Hangs in ssh.Dial: https://github.com/kubernetes/kubernetes/issues/23835#issuecomment-205496791

This sounds like it might

[2016-10-05 22:17] tnine commented on #29324
FYI, this issue also effects PetSets in the 1.4.0 release.  When a pod is killed or the minion running it dies, the volume does not detach to re-attach to the newly assigned minion instance.  However, the pod will start after timing out on the attach of the PV.  This seems like a bug with PetSets.  If the PV fails to mount, it should not continue.  Should this be a separate issue or included here?

[2016-10-05 22:19] pires commented on #33919
@errordeveloper it seems #33543 closes this issue. Please confirm as I just did a review in the browser.

[2016-10-05 22:20] pires commented on #33641
I'm always cautious about adding magic stuff but I'm open to review it if anyone adds it.

[2016-10-05 22:23] jingxu97 commented on #29324
@tnine, for minion dies and restart/recreate, I am trying to address the issue of volume manager fails to detach and attach in #33760. Please let me know if that PR will address your concern or not.

As for pod is killed (nodes are running file), attach/detach should work as supposed to. Please let me know if you have any issue you have experienced. Thanks!

[2016-10-05 22:24] rmmh commented on #34116
@mtaufen this appears to have *always* been broken, I'm going to disable the job for now.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling/1/

[2016-10-05 22:24] euank commented on #30607
If I could close issues I'd be closing this.

This hasn't happened in a month; I wouldn't be surprised if the root cause was the misconfiguration that caused CoreOS updates to be applied which I believe was fixed close to when this stopped occurring.

[2016-10-05 22:24] cjcullen commented on #33617
I'm not sure how to debug this. I don't see any e2e failures of this test in testgrid in the last 2 weeks. Has it only happened in the PR builder?

[2016-10-05 22:29] #30607 closed

[2016-10-05 22:31] pires commented on #34046
Overall, it's an interesting proposal, @dchen1107!

Did you mean _why not putting kubeadm_?

[2016-10-05 22:32] timothysc commented on #33653
@xiang90 @hongchaodeng  what's the status on a pull back, or 3.1 release?

[2016-10-05 22:32] spxtr commented on #33617
Dupe of https://github.com/kubernetes/test-infra/issues/725

[2016-10-05 22:32] #33617 closed

[2016-10-05 22:35] cjcullen commented on #33617
Thanks Joe!

[2016-10-05 22:42] xiang90 commented on #33653
@timothysc

It this https://github.com/kubernetes/kubernetes/pull/34089 works, we wont back port. If not, we will try prevKV feature in 3.1. If that helps, we will back port.

[2016-10-05 22:48] #34116 closed

[2016-10-05 22:49] dchen1107 commented on #34046
Yes, that is what I mean. But when I proposed this at the internal meeting, there is no kubeadm yet. Kubeadm project is created right after that. :-)

[2016-10-05 22:51] macb commented on #19634
Stumbled across this. I think `ndots` really should be a configurable:
https://github.com/kubernetes/kubernetes/issues/33554#issuecomment-251755257

[2016-10-05 22:53] cjcullen commented on #33649
@ncdc It look like we have some GCE logs now.

[2016-10-05 22:53] euank commented on #31384
Discussion should happen in #34058

[2016-10-05 22:53] #31384 closed

[2016-10-05 22:55] cgag opened #34148 "Add a kubectl command to generate manifests"
Currently if I want to create a deployment, I either copy and paste from the docs and modify as needed.  It would be nice to be able to run something like `kubectl new deployment` and have
a template spit to stdout like:

[code]

I actually wouldn't particularly mind if it just dumped out one of the examples from the current docs, filled with nginx.

[2016-10-05 22:59] cjcullen commented on #31158
This hasn't failed in 2 weeks. I'm guessing it was due to our flakiness in test that was fixed internally on 9/9.

[2016-10-05 22:59] #31158 closed

[2016-10-05 23:00] cjcullen commented on #30287
Looks like this was our GKE test stack's flakiness also.

[2016-10-05 23:00] #30287 closed

[2016-10-05 23:01] cjcullen commented on #29614
GKE test stack's flakiness.

[2016-10-05 23:01] #29614 closed

[2016-10-05 23:09] derekwaynecarr commented on #31362
@ravilr - I am curious what storage driver you are using?

On Wednesday, October 5, 2016, Vish Kannan <notifications@github.com> wrote:

[2016-10-05 23:11] asalkeld opened #34151 "TechDebt: kubectl label and annotate have diverged and should more similar"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
annotate dryrun

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report / TechDebt

** TechDebt **
pkg/kubectl/cmd/annotate.go and pkg/kubectl/cmd/label.go should be more similar.

- add dryrun to annotate
- make the command options in annotate.go closer to label.go
- th

[2016-10-05 23:12] asalkeld commented on #34151
@deads2k can you assign me to this issue?

[2016-10-05 23:14] pwittrock commented on #27023
No idea.  This should have nothing to do with me.

[2016-10-05 23:16] timothysc commented on #26637
I don't want this to fall off the rails.
So it sounds like Option 2 is thorny, but definitely an issue to address as add-ons/components grow.  We need a secure reliable mechanism to register with the system and stating leader information is a pretty natural thing to do with such a facility.  In the long run, I still believe it is the correct solution, but I doubt we are going to get there soon.

T

[2016-10-05 23:21] yujuhong commented on #33189
I am actually quite happy that flakes are caused by bugs (the tests are doing something!). Let's reuse this issue to track the current flakes in the cluster e2e tests.

[2016-10-05 23:22] pwittrock commented on #32467
@pmorie Are you still working on this?

[2016-10-05 23:22] timothysc commented on #33653
It was my understanding the that whole extra ```get``` itself was the issue.

[2016-10-05 23:23] cjcullen commented on #29604
The original issue (with gcloud hitting the metadata server) has been fixed. The failure from a week ago was unrelated.

[2016-10-05 23:23] #29604 closed

[2016-10-05 23:45] bprashanth opened #34154 "monitoring-grafana service doesn't seem to work"
I've never actually used grafana before.
The kube-up logs say:

[code]

But hitting that url gives:

[code]

I tried hitting it through the proxy, but got:

[code]

I figure exposing it as type=loadbalancer would give me some ui. It doesn't, the loadbalancer ip shows:

[code]

Looking at the javascript on that page, it reads like I'm not logged in. Is there some url path I need to hit?
@apelisse a

[2016-10-05 23:46] k8s-merge-robot opened #34155 "kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/479/

Run so broken it didn't make JUnit output!

[2016-10-05 23:51] bprashanth commented on #33617
I usually look at one of the linked in prs, ctrl+f this bug number (33617) and go up to the last failure eg https://github.com/kubernetes/kubernetes/pull/31136#issuecomment-250711806

[2016-10-05 23:59] mikedanese commented on #26637
xref #13216 (the component status PR ) which is lost forever because @github appearantly chokes on it?

[2016-10-06 00:11] yujuhong commented on #34154
I created a similar issue long ago #15727. The issue got closed but I never knew if it was fixed.

/cc @mwielgus

[2016-10-06 00:12] euank commented on #32869
@TerraTech Under the hood, `kubectl run -it` uses attach, which we're aware doesn't work under rkt (see [here](http://kubernetes.io/docs/getting-started-guides/rkt/notes/#kubectl-attach), as well as the second issue you mention). That document could make it more clear that attach not working includes the `kubectl run -it` use of it, certainly.

Your workaround of running a sleep or pause or such i

[2016-10-06 00:21] bprashanth commented on #34154
If no one cares we should just not waste cpu and delete the thing.
If we care we should probably surface some nice docs, or at least the kube-up logs should give a usable link.
Grafana logs have:
[code]

So it looks like it's assuming it will always be accessed via kube master-proxy (but users actually using it will probably expose it through a loadbalancer), and the kube master-proxy is forbiddin

[2016-10-06 00:21] ixdy commented on #34155
[code]

[2016-10-06 00:31] pwittrock commented on #29271
@maciaszczykm Have you started this?

[2016-10-06 00:32] pwittrock commented on #31267
@dgonzalez Cool.  Let me know how it goes

[2016-10-06 00:36] pwittrock commented on #29542
@AdoHe Any updates?

[2016-10-06 00:38] bprashanth commented on #33730
That bug is fixed, exit code 1 hasn't been looked into (and ill probably delay debugging till code freeze, migth squeeze in some random issues when i have time, but not prioritizing it)

[2016-10-06 00:45] ravilr commented on #31362
@derekwaynecarr - using devicemapper driver.

[2016-10-06 00:53] jessfraz commented on #33454
@davidopp have all these PRs been opened?

[2016-10-06 00:54] tagomoris commented on #32762
I wanted to see dumped configuration to see what you specified is correctly read/parsed or not :P

[2016-10-06 01:46] rhatdan commented on #33139
I have just been working on SELinux support for OCID, and was pointed to this discussion.
https://github.com/kubernetes-incubator/cri-o/pull/100

I think in general the SELinux labels should be the same for all containers within the POD. Too easily to get breakage. The problem I saw was that the SELinux label specified in CRI was at the Container Level but not available for the initial sandbox cre

[2016-10-06 01:49] k8s-merge-robot opened #34159 "kubernetes-e2e-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/9560/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e s

[2016-10-06 01:52] smarterclayton commented on #29033
Now covered by proposal https://github.com/kubernetes/kubernetes/pull/34160

[2016-10-06 01:53] smarterclayton commented on #31762
Now covered by proposal https://github.com/kubernetes/kubernetes/pull/34160

[2016-10-06 01:53] smarterclayton commented on #12338
Now covered by proposal https://github.com/kubernetes/kubernetes/pull/34160

[2016-10-06 01:53] smarterclayton commented on #33013
Somewhat covered under https://github.com/kubernetes/kubernetes/pull/34160

[2016-10-06 01:54] smarterclayton commented on #28718
Pet safety and storage safety proposal https://github.com/kubernetes/kubernetes/pull/34160

[2016-10-06 01:55] smarterclayton commented on #20497
Now covered by proposal https://github.com/kubernetes/kubernetes/pull/34160

[2016-10-06 02:12] wmz7year commented on #34016
@miry   here it is
[code]

[2016-10-06 02:18] derekwaynecarr commented on #31362
@ravilr - do you use the autoextend features?  If so with what percent?
Also how do you configure dm.min_free_space?

@vishh - I am not adverse doing node level reclaims the moment an soft
threshold is passed, but I need to reason through some edge cases.

On Wednesday, October 5, 2016, ravilr <notifications@github.com> wrote:

[2016-10-06 02:35] derekwaynecarr commented on #34066
I will take a look.

[2016-10-06 02:45] dustymabe commented on #14047
Does `skopeo` (or really the underlying libraries) give us this?

[code]

[2016-10-06 02:55] derekwaynecarr commented on #33980
I am in agreement to move it into the docker packages, but would prefer we
don't grow an opinion on the cgroup location that changes precedent when on
systemd in 1.5.

On Tuesday, October 4, 2016, Yu-Ju Hong <notifications@github.com> wrote:

[2016-10-06 02:57] Sn0rt commented on #29534
not from offical repo...

[2016-10-06 03:23] k8s-merge-robot opened #34161 "continuous-e2e-docker-validation-gci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/continuous-e2e-docker-validation-gci/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:23] k8s-merge-robot opened #34162 "kubelet-serial-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:23] k8s-merge-robot opened #34163 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/12759/

Run so broken it didn't make JUnit output!

[2016-10-06 03:23] k8s-merge-robot opened #34164 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34165 "kubernetes-e2e-gce-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34166 "kubernetes-e2e-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34167 "kubernetes-e2e-gci-gce-alpha-features-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-alpha-features-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34168 "kubernetes-e2e-gci-gce-autoscaling-migs: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling-migs/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34169 "kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34170 "kubernetes-e2e-gci-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-examples/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34171 "kubernetes-e2e-gci-gce-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34172 "kubernetes-e2e-gci-gce-petset: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34173 "kubernetes-e2e-gci-gce-proto: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-proto/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34174 "kubernetes-e2e-gci-gce-reboot: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34175 "kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34176 "kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34177 "kubernetes-e2e-gci-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34178 "kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34179 "kubernetes-e2e-gci-gke-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:24] k8s-merge-robot opened #34180 "kubernetes-e2e-gci-gke-prod: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:32] zhigang commented on #33820
@adam-power I got this issue on ubuntu 16.04, but this is running well on ubuntu 14.04.
May be ubuntu cluster only running well on ubuntu 14.04.
Check this out, a link for ubuntu cluster prerequisites, may be helpful to you.
[http://kubernetes.io/docs/getting-started-guides/ubuntu/](url)

[2016-10-06 03:33] k8s-merge-robot opened #34181 "kubernetes-e2e-aws: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:33] k8s-merge-robot opened #34182 "kubernetes-e2e-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34183 "kubernetes-e2e-gce-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34184 "kubernetes-e2e-gci-gce-autoscaling: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34185 "kubernetes-e2e-gci-gce-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34186 "kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-kubenet/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34187 "kubernetes-e2e-gci-gce-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34188 "kubernetes-e2e-gci-gke-alpha-features: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34189 "kubernetes-e2e-gci-gke-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34190 "kubernetes-e2e-gci-gke-prod-smoke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34191 "kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34192 "kubernetes-e2e-gci-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34193 "kubernetes-e2e-gci-gke-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34194 "kubernetes-e2e-gke-large-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34195 "kubernetes-e2e-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34196 "kubernetes-e2e-kops-aws-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34197 "kubernetes-garbagecollector-gci-feature: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-garbagecollector-gci-feature/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 03:34] k8s-merge-robot opened #34198 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 04:10] bgrant0607 commented on #22063
https://www.entrust.com/ssl-certificates-without-non-fqdns/

[2016-10-06 04:27] k8s-merge-robot opened #34200 "kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/14862/

Run so broken it didn't make JUnit output!

[2016-10-06 04:27] k8s-merge-robot opened #34201 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 04:27] k8s-merge-robot opened #34202 "kubernetes-soak-continuous-e2e-gke-gci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke-gci/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 04:27] k8s-merge-robot opened #34203 "kubernetes-soak-weekly-deploy-gci-gce-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-weekly-deploy-gci-gce-1.4/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 04:27] k8s-merge-robot opened #34204 "kubernetes-soak-weekly-deploy-gke-gci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-weekly-deploy-gke-gci/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 04:27] k8s-merge-robot opened #34205 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/-1/

Run so broken it didn't make JUnit output!

[2016-10-06 04:28] k8s-merge-robot opened #34206 "[k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33146/kubernetes-pull-build-test-gci-e2e-gce/66/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #33146.

Previous issues for this test: #28416 #31055 #33627 #33725

[2016-10-06 04:39] k8s-merge-robot opened #34207 "[k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32577/kubernetes-pull-build-test-gci-e2e-gce/1111/

Failed: [k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32577.

Previous issues for this test: #31085

[2016-10-06 04:40] #34201 closed

[2016-10-06 04:41] #34195 closed

[2016-10-06 04:41] #34189 closed

[2016-10-06 04:42] #34198 closed

[2016-10-06 04:42] #34168 closed

[2016-10-06 04:42] #34180 closed

[2016-10-06 04:43] #34176 closed

[2016-10-06 04:43] #34173 closed

[2016-10-06 04:43] #34175 closed

[2016-10-06 04:44] #34161 closed

[2016-10-06 04:59] davidopp commented on #33454
No. I'll ping @mml by email to work on this (he was out for a while).

[2016-10-06 05:08] k8s-merge-robot opened #34208 "kubernetes-e2e-gci-gke-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress/542/

Run so broken it didn't make JUnit output!

[2016-10-06 05:25] thockin commented on #33554
I don't think that behavior is consistent.  The resolvers I have seen never try search if the query has >= ndots dots.

[code]

[2016-10-06 05:31] k8s-merge-robot opened #34209 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6514/

Run so broken it didn't make JUnit output!

[2016-10-06 05:45] davidopp commented on #33454
Actually my apologies, I don't think there's any need to cherrypick, since these are all just test (or comment/doc) changes, and we test against HEAD. (Thanks @jessfraz for bringing this issue to my attention.) The one thing that was actually a code change was already cherrypicked (#33251).

So I think the only things remaining to do here are
* get #33148 merged (to HEAD -- no cherrypick needed);

[2016-10-06 06:00] thockin commented on #30819
On Wed, Oct 5, 2016 at 9:30 AM, Clayton Coleman
<notifications@github.com> wrote:

I disagree with this sentiment. Alpha, Beta, and GA APIs are different
APIs.  Us introducing beta does not necessarily EOL alpha, and we
should strive to be as pleasant to use as possible, or NOBODY will use
alpha.  I have and will agitate for keeping them in overlap when
possible.

I like Eric's model overall, but

[2016-10-06 06:11] thockin commented on #31307
A few things:

* Plugin "capability" discovery is ugly at best.  I'd really rather take a
stand and say this is part of the plugin's responsibilities

* This implies that the CNI spec needs to grow a way to specify hostport
mappings which get passed in at interface setup time.

* who configures these hypothetical templates?

On Wed, Oct 5, 2016 at 6:29 AM, Dan Williams <notifications@github.com>
w

[2016-10-06 06:15] amolsh opened #34210 "error validating data: couldn't find type: v1.pod"
Hi , I am following  Kubernetes 101 guide to learn kubernetes.

Following is my nginx-pod.yml file:

apiVersion: v1
kind: pod
metadata:
   name: nginx
spec:
   containers:
     - name: nginx
       image: nginx:1.7.9
       ports:
          - containerPort: 80

Command fired:   kubectl create -f nginx-pod.yml

Error:
error validating "nginx-pod.yaml": error validating data: couldn't find type: v1.

[2016-10-06 06:33] k8s-merge-robot opened #34211 "[k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pending pods are small [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling/772/

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pending pods are small [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-10-06 06:48] ixdy commented on #34209
[code]

GCS having a bad day.

[2016-10-06 06:49] amolsh commented on #34210
kubectl get pods --all-namespaces

![image](https://cloud.githubusercontent.com/assets/10971917/19143064/1a55b6e2-8bbf-11e6-82c8-23f743c1e6cc.png)

[2016-10-06 07:15] k8s-merge-robot opened #34212 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a persistent volume claim. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/497/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a persistent volume claim. {Kubernetes e2e suite}

[code]

[2016-10-06 07:27] jsafrane commented on #34069
There are no logs from controller-manager and the test failed with

[code]

I.e. the test was not authorized to delete a PVC. I know very little about authentication/authorization and it seems odd to me that the test could create namespace/pvc/pods and can't delete it. @deads2k, does it ring any bell?

[2016-10-06 07:37] jsafrane commented on #34127
There are e2e tests for most of the volumes, however they're disabled because they need privileged containers (to run NFS and iSCSI servers) and necessary client tools were often missing.

From `kubernetes/cluster/saltbase/salt/e2e/init.sls`:

[code]

This installs both server components that need to be present on a node to run a test server (e.g. kernel modules for iSCSI - this can't be shipped i

[2016-10-06 07:53] wojtek-t opened #34214 "e2e flake: "Syncing sources to container" failed in PR builder"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34082/kubernetes-pull-build-test-e2e-gce/61951/

@kubernetes/test-infra-maintainers

[2016-10-06 08:08] wojtek-t commented on #33653
OK - so I checked the results after having #34089
And the results are significantly better (i.e. we can most handle 2000-node clusters). However, we are really at the edge, and the buffer incoming from etcd is basically always full.

I took a look into logs from kubemark-500 apiserver and I see this:
[code]

So we should at least try prevKV feature in 3.1 and see if that helps (because I'm pretty

[2016-10-06 08:08] jszczepkowski commented on #34214
I have a similar problem when I try to make release on my local desktop:

[code]

[2016-10-06 08:12] wojtek-t commented on #33653
Also, if you change the code to use this feature and have the etcd release from which I can build docker container, I'm happy to run those experiments

[2016-10-06 08:15] xiang90 commented on #33653
@wojtek-t Will put up a pr for trying prevKV this week (with 3.1 container).

[2016-10-06 08:17] wojtek-t commented on #33653
@xiang90 - great; thanks!

[2016-10-06 08:20] czerwina commented on #33729
@luxaslabs when I run "kubectl get cs" I get

[2016-10-06 08:39] AdoHe commented on #34148
@kubernetes/sig-cli @kubernetes/kubectl

[2016-10-06 08:41] timstoop commented on #19704
@activars I had a search for that as well, apparantly you can now use ```loadBalancerSourceRanges``` in Service definitions for supported cloud providers. Mentioning it here as I found this issue about 45 minutes before I found a reference to ```loadBalancerSourceRanges```. There's nothing about it in the docs yet, but I found an explanation here: http://stackoverflow.com/questions/38360125/how-do

[2016-10-06 08:43] AdoHe commented on #34100
@kubernetes/kubectl @thockin

[2016-10-06 08:44] dgonzalez commented on #31267
I am working on it. I will need some feedback in the PR as I am not 100% clear on the big picture. Expect the PR this weekend.

[2016-10-06 08:48] colemickens opened #34216 "Why are heapster and grafana at different versions in the monitoring addon?"
Reference 1: The current influxdb-grafana-controller: https://github.com/kubernetes/kubernetes/blob/42e5f95a6b41877a56f909e06aef912f63948eaa/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-controller.yaml

Reference 2: The Makefile for heapster, which looks like it builds the containers referenced in the influxdb-grafana-controller: https://github.com/kubernetes/heapster/blob/6b5b26f0d

[2016-10-06 08:50] colemickens commented on #34216
Even more confusing, the TAG in `heapster` Makefile is currently `1.2.0` which is confusing since heapster_grafana is at a higher tag version...

This is kind of confusing. All I wanted to do was figure out what version of influxdb is running to check API compatibility with Kapacitor.

[2016-10-06 08:56] soltysh commented on #33968
@hubt, like mentioned before this is due to validation that is part of the flow. Newer versions of `kubectl` might have newer schemas embedded (I think, but I might be wrong), but you should be able to bypass the problem using `--validate=false`.

[2016-10-06 09:11] Crassirostris commented on #19149
@colemickens No, I just finished ES part, it took some time. Didn't work on kibana just yet

I will try to reproduce it shortly. Meanwhile, have you been able to isolate the problem? At what point kibana doesn't work?

By the way, I seems that we can't use ES image from dockerhub directly, because we need some k8s-specific files/configurations inside the container. Not sure about kibana, but proba

[2016-10-06 09:12] gmarek commented on #30819
I agree with @thockin - breaking configurations of everyone using alpha during upgrade from alpha to beta drastically lowers attractiveness of alpha API, hence we should try to have at least on minor release of dual-mode API (I like the term).

OTOH I agree with @smarterclayton that we should make the transitions (assuming that they're not breaking) as easy for devs as possible - I think that havi

[2016-10-06 09:13] timstoop opened #34218 "AWS: Changing loadBalancerSourceRanges does not change SecurityGroup"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`): 1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS stable
- **Kernel** (e.g. `uname -a`): 4.6.3
- **Install tools**: (not sure what's meant with this)
- **Others**:

**What happened**:

I added an option to a se

[2016-10-06 09:13] wojtek-t commented on #33472
@bradfitz - do you have any thoughs about the above?

[2016-10-06 09:17] colemickens commented on #19149
~~The problem was that the newer version of Kibana is a webapp that expects to be able to manipulate the URL in the browser in a way that is incompatible with the Service Proxy. It may be possible to workaround it with some configuration to Kibana, like setting the base URL to the same structure as the service proxy.~~

I just remembered that I was playing with 5.x which isn't stable yet, so I sup

[2016-10-06 09:22] Crassirostris commented on #19149
Oh, yes, I planned to use ES 2.4.1 and Kibana 4.6.1

Elastic products from 5.x will require even more attention, since they're not very backward-compatible in many aspects.

[2016-10-06 09:31] gmarek opened #34219 "write on closed buffer during scale test"
Observed during kubernetes-e2e-gce-enormous-cluster/156 run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/156

[code]

It happened during the RC deletion phase of the density test on 2k Node cluster.

This looks like the cache issue. @lavalamp @wojtek-t @xiang90 @kubernetes/sig-api-machinery

[2016-10-06 09:41] Crassirostris commented on #32762
@tagomoris True, you were right, thanks! After I thoughtfully read through config, turned out I changed only one config file and fluentd used the other.

With that correction (buffers limit = 2) fluentd managed to survive 200 lines/sec and died of the same reason on 300 lines/sec (but once, without death loop)

I'll try to figure out now, what is the amount of memory fluentd requires over those 20

[2016-10-06 09:46] wojtek-t commented on #34219
I think it's more related to watch, than to cache, but I would need to dig deeper.

[2016-10-06 09:49] wojtek-t commented on #20504
OK - so we already change the integration tests to actually run on 3.0.10 binary.

[2016-10-06 10:09] amolsh commented on #23241
I am getting same issue "Failed to start etcd.service: Unit etcd.service not found"
OS: Ubuntu 16.04
Anyone know it's root cause?

[2016-10-06 10:22] colemickens commented on #30769
@mikedanese Is there another issue that covers adding utility packages to `hyperkube`? I'm getting people wanting to use the AzureFileService driver and can't because of the lack of `cifs-utils` in the `hyperkube` container.

[2016-10-06 10:26] maciaszczykm commented on #29271
@pwittrock Only investigated due to being out of office since Thursday last week. I can work on it in upcoming week, but I'll understand if it's piority issue and you'll reassign it.

[2016-10-06 11:33] k8s-merge-robot opened #34221 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13766/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820 #31971 #32505

[2016-10-06 11:43] k8s-merge-robot opened #34223 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching with multiple Affinities {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6521/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching with multiple Affinities {Kubernetes e2e suite}

[code]

[2016-10-06 11:46] soltysh commented on #34148
There's either `kubectl run nginx --image=nginx --dry-run -o yaml` which will do that for you, and/or #33250 that should make this easier to edit before submitting. Isn't that sufficient?

[2016-10-06 12:03] k8s-merge-robot opened #34226 "[k8s.io] EmptyDir volumes should support (non-root,0666,default) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/620/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0666,default) [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-06 12:15] monaka commented on #30769
At least for CoreOS users, some package improvements (just adding some lines) on Hyperkube will make users happy.

[2016-10-06 12:35] resouer commented on #23241
The ubuntu scripts does work for systemd

On Thu, Oct 6, 2016 at 6:10 PM, amolsh <notifications@github.com> wrote:

[2016-10-06 12:39] Crassirostris commented on #32762
Meanwhile, 300 lines/sec/pod

Buffers:

[code]

In fluentd logs:

https://gist.github.com/Crassirostris/2b63ef1f2762e300dab33022b591f5e1

What's that `.gz` file?

[2016-10-06 12:46] miry commented on #34016
@wmz7year so now 8080 is only accessible from localhost. you should use 443. But there you should have client certificate installed to authorize. So i do proxy port via ssh `ssh -L 8080:localhost:8080 master_ip -N`

[2016-10-06 12:51] miry commented on #34031
@errordeveloper  `--hostname-override` works. after I found other solutions and edit hostname.

[code]

it works, but CNI network still use `eth0` for communicate. and in logs of weave npc I see could not access to api server `100.....:443`. After I unblock this port for public ip that assigned on eth0. It started works.

it would great to have solutions where I should not open the port for Public

[2016-10-06 12:52] dgoodwin commented on #34046
Spoke with @luxas on slack, I think we're going to proceed with kubeadm pre-flight checks separately from kubelet verify and the e2e/conformance pre-test. Our desired checks are not useful there (much too opinionated), we need speed, the frameworks have slightly different needs and yet both are quite small.

[2016-10-06 13:13] dillaman commented on #33013
Chatted with @rzarzynski on IRC the other day and was provided some background that this is relevant for krbd (which won't support exclusive locking until the 4.9+ kernel and a future RHEL 7.x kernel) and in the short/intermediate-term that feature shouldn't be enabled for kubernetes RBD devices.

Longer term, I have created Ceph feature request tickets for disabling automatic exclusive lock trans

[2016-10-06 13:13] k8s-merge-robot opened #34231 "kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/348/

Run so broken it didn't make JUnit output!

[2016-10-06 13:15] adam-power commented on #33820
Unfortunately I am running 14.04

[2016-10-06 13:18] hus787 opened #34232 "Fatal error while running `kubectl get ....`"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- Running kubectl on macOS Sierra

**What happened**:
- Ran: `kubectl get hpa,pod,deployment,rc,service,node -owide`
- Got:

[code]
- Ran again: Didn't happen.

**How to reproduce it** (as minimally and precisely as possible):

Can't reproduce. Reporting

[2016-10-06 13:24] andreagardiman commented on #34101
I have the same issue. I'm using VirtualBox to run 2 VM based on minimal Centos 7 image. All VMs are attached to 2 interfaces, a NAT and an host-only network.
The two VMs are able to connect to each other using the host-only network interfaces.

I tried also with the instructions about Calico and Canal, and I cannot make them work either.

[2016-10-06 13:32] timothysc commented on #30025
k, revisiting now.

[2016-10-06 13:36] dlamotte commented on #31713
I wonder if implementing an "AWSPolicy" admittance control plugin would suffice?  Effectively, don't accept Services of type LoadBalancer into the cluster unless it has the `internal` annotation.  A more abstract framework for governing "AWS Policies" seems useful, but a design for something like that isn't obvious to me at the moment.

[2016-10-06 13:37] DTadrzak opened #34233 "Add new property to node event - drain."
Currently it is impossible to distinguish why node is in an Unschedulable state base on event stream. Node event give us information about node state (schedulable/unschedulable) only.

Adding new flag(drain) to event's struct allow us to distinguish when node was drained.

[2016-10-06 13:39] #34233 closed

[2016-10-06 13:39] DTadrzak opened #34235 "Add new property to node event - drain."
Currently it is impossible to distinguish why node is in an Unschedulable state base on event stream. Node event give us information about node state (schedulable/unschedulable) only.

Adding new flag(drain) to event's struct allow us to distinguish when node was drained.

[2016-10-06 13:48] Arachnid opened #34236 "Azure volumes do not work in hyperkube: missing mount.cifs"
**Kubernetes version** (use `kubectl version`): 1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: Azure

**What happened**:
Trying to mount an Azure file share by following the directions [here](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/azure_file) fails because hyperkube does not include cifs-utils (eg, `mount.cifs`).

Can this be added to the hyp

[2016-10-06 13:48] veryhumble commented on #23920
I have the same issue. Running 14 on CentOS with Weave. Does anyone have a workaround? Without an ingress controller the cluster is pretty much unusable.

[2016-10-06 13:55] macb commented on #33554
From the resolv.conf man page:

Implies search domains should still be respected even if the absolute domain is attempted. It does seem not everything respects that though. Seems like something still best left up to the user to determine for themselves?

[2016-10-06 14:03] piosz commented on #33776
Apologies for the problem. This was supposed to be updated in 1.3, when we changed the default from `extensions/v1beta1` to `autoscaling/v1`.

[2016-10-06 14:05] rootfs commented on #33602
`targetWWNs` expects WWNs that form multpath for the LUN, though I admit this requirement is not explicitly clarified. Non-multipath WWNs are not recommended; it leads to non-deterministic LUN binding to the host.

In your use case, you have to have 2 FC volumes, each volume with its own WWN.

[2016-10-06 14:11] justinsb commented on #31713
@dlamotte using an admission controller is a great idea I think.  We're also talking about having two IAM policies, one for k8s/kops to manage, one for you to manage, and I think you could add deny rules there, but an admission controller still gives you more control.

There was this proposal: https://github.com/kubernetes/kubernetes/pull/27336

But I think @whitlockjc was talking about creating a

[2016-10-06 14:19] wu8685 commented on #33979
@yujuhong I made a mistake in test case. The CREATE inotify is triggered before writing pod manifest in the file. It is  why the first `expectedUpdate` doesn't work: it expects a not null update until timeout.

Thanks @MrHohn to fix this bug in #33899 . I am so sorry to make this happen. I will be more carefully.

[2016-10-06 14:23] ncdc commented on #14047
@dustymabe this is getting fixed by #33014

[2016-10-06 14:30] dustymabe commented on #14047
Thanks! Just as a side question.. does this mean a user would be able to specify an image by "digest" rather than just name:tag when creating new pods within kubernetes?

[2016-10-06 14:38] ncdc commented on #14047
@dustymabe that has been possible since docker 1.6 :-)

[2016-10-06 14:41] kargakis commented on #33845
@krmayankk just saw your comment, let me know when you have a PR ready for review.

[2016-10-06 14:46] sbezverk opened #34238 "very long failover time on compute node non-graceful failure"
Running kubernetes 1.4.0 5 nodes cluster and testing non-graceful node failure scenario. The failover time for pods to move from failed node was 12 minutes. Failed node was declared NotReady relatively fast 1-2 minutes, but then pod on failed node stayed in running state for approx 8 minutes which is really strange. Pod terminating phase added another 3-4 minutes. I am looking for ways to reduce l

[2016-10-06 14:53] anguslees commented on #22063
@bgrant0607 that article, and (I believe) @liggitt's objections above assume that the "CA" in question is a public CA.  If I understand the use case correctly here, however, there is no need for the certificate to be verified by a 3rd party, and thus no need for it to be signed by a regular public CA (completely unlike HTTPS in browsers, for example).

The certificates and CA being discussed here

[2016-10-06 15:00] AdoHe commented on #29542
@IanLewis actually in the final patch, we have include the configuration change, something like below:
[code]
the reason why the `cronSpec` keeps the same is that in the server side when we apply this patch, we use strategic merge, this will just update the original configuration if the merge key exists in both maps, so it will still use the `cronSpec` in original document.

[2016-10-06 15:01] piosz commented on #32638
FYI https://docs.google.com/document/d/1z7R44MUz_5gRLwsVH0S9rOy8W5naM9XE5NrbeGIqO2k

[2016-10-06 15:03] thockin commented on #33554
We had a rough proposal from someone to add a DNS policy for
"ClusterNoSearch" or something that was the same as before, but only set
ndots:1 for the requesting pod.

I would accept such a PR...

On Oct 6, 2016 6:56 AM, "Mac Browning" <notifications@github.com> wrote:

[2016-10-06 15:04] dcbw commented on #31307
@thockin I would agree, though could you elaborate on what you mean by capabilities?  eg that the plugin can handle hostports or that it cannot handle hostports?  I would expect at a *minimum* that if a pod requests shaping or hostports, and the plugin cannot provide them, that the CNI driver or the network plugin would raise an error though.  Better error reporting/indication is desirable however

[2016-10-06 15:07] AdoHe commented on #29542
@brendandburns could you please explain the `data` field in third party resource data? how we generate it and how to use it? I am taking a deep look at third party resource now.

[2016-10-06 15:17] liggitt commented on #22063
more things talk to the kubelet API than just the apiserver (heapster, for example)

controlling both the apiserver and the kubelet processes does not mean we control the certificates. the serving certificates are provided by the deployer.

(copied from https://github.com/kubernetes/kubernetes/pull/25532#issuecomment-250492370): I am strongly opposed to non-standard TLS validation schemes. dependi

[2016-10-06 15:18] AdoHe commented on #33845
/cc

[2016-10-06 15:22] AdoHe commented on #34232
should be the same as #33823

[2016-10-06 15:24] pesho commented on #22063
Is it possible to only eliminate NodeName usage for address resolution (by connecting directly to the node IP), but still honor it when checking the TLS cert?

[2016-10-06 15:26] liggitt commented on #22063
I think the ideal scenario would do something like this:

1. The kubelet records the following addresses, if available:
  * internal IP
  * external IP
  * internal DNS
  * external DNS
2. The apiserver allows prioritizing which address to use when resolving a nodeName to an address

[2016-10-06 15:26] Crassirostris commented on #32762
With 500 MB of memory, fluentd was able to handle 6000 lines/sec. During this time, it was consuming no more than 450 MB of memory.

On 7000 lines/sec — OOM and hung up process (doesn't write to log, doesn't pick up new files). This is probably the worst thing that could've happened.

@tagomoris @edsiper  How does one probe that fluentd is working and not hung up? And what can consume 500 MB of me

[2016-10-06 15:29] thekantian opened #34240 "Default value or optional case for secretKeyRef/configMapKeyRef"
This is a feature request. Currently, it is not possible to set a secretKeyRef/configMapKeyRef as optional in a Pod's definition. It's also not possible to specify a default. This means that even if the program running inside the containers in the pod has sensible defaults which need only be overwritten in some environments, all secret k/v pairs must be updated in all environments before pods with

[2016-10-06 15:30] liggitt commented on #22063
I don't think we want to continue using nodeName for anything host related. There should be two steps:
* resolve node name to address
* connect to address, expecting a valid TLS cert for that address

[2016-10-06 15:35] chinmayb commented on #23241
@amolsh same

[2016-10-06 15:38] jsafrane opened #34242 "Attach/detach controller does not recover from missed pod deletion"
We run OpenShift in master-slave setup and our master crashes once in a while (from unrelated reason). When a new master starts, it does not detach volumes that should be detached.

Steps to reproduce on AWS with standard Kubernetes:
1. run a  AWS-aware cluster, hack/local-up-cluster.sh is fine
2. create several pods that use claims that point to AWS PVs
3. kill controller-manager process
4. delet

[2016-10-06 15:41] pesho commented on #22063
I'm confused. This is definitely not what we want. Node name should not be used for any kind of resolution. In many clouds node names are not resolvable.

This should ideally be "connect to address, expecting a valid TLS cert for that address **or for the NodeName**".

[2016-10-06 15:41] eparhei commented on #33729
Hi, I have more or less the same problem, Kubernetes 1.4, Ubuntu16.04, kubeadmin init blocks. Here is the out put for "kubectl get cs"

NAME                 STATUS    MESSAGE              ERROR
scheduler            Healthy   ok
controller-manager   Healthy   ok
etcd-0               Healthy   {"health": "true"}

If everything is healthy, then why I cannot get the token and move forward? :)

[2016-10-06 15:44] liggitt commented on #22063
sorry... was unclear. resolve node name to address *by looking up the node object and inspecting the reported addresses in its status*

[2016-10-06 15:46] liggitt commented on #22063
that's the kind of non-standard TLS validation I don't think we should introduce... the serving cert shouldn't be required to contain a CN or SAN unrelated to its serving address.

[2016-10-06 15:52] #33864 closed

[2016-10-06 16:00] huang195 opened #34244 "kubelet is not populating the "MemoryReservation" field in Docker container"
I would expect: `--request='memory=xxx'` would map to Docker container's `MemoryReservation` field, as currently `--limits='memory=xxx'` maps to Docker container's `Memory` field.

In a project I'm working on, we're making these in sync. I'm wondering if there's any interest (or problem) for us to upstream this small change.

(Looking at rkt driver code, it seems to be using both memory request an

[2016-10-06 16:00] huang195 commented on #34244
cc @vishh @yujuhong

[2016-10-06 16:04] dlouzan commented on #26309
I am experiencing a similar issue in one of our k8s clusters (v1.3.6). It seems that something breaks either in nginx with the resolver functionality, or that the kube-dns component has a bug.

In our case, I am using the default ClusterIP of the kube-dns for the nginx resolver (10.0.0.10) and I have observed the following behaviour:

- When the "unexpected response" errors happen, I can just kill

[2016-10-06 16:09] tagomoris commented on #32762
I think that we can detect where that memory consumption came from by modifying output plugin.

@Crassirostris can you modify all `<match>` sections to use `@type null`?
If Fluentd processes with `@type null` doesn't consume not so much memory, it's came from buffering (of Fluentd core) or fluent-plugin-google-cloud.

I heard that representable gem consumes highly much memory (500MB for 2.4MB JSON

[2016-10-06 16:15] whitlockjc commented on #31713
I might have misunderstood _"external admission controller"_ but if I did understand it, there is no way to create an external one.  The only way to create one is to build a custom version of Kubernetes with your admission controller statically built into it.  I have started working on a generic webhook admission controller that would allow the webhook being called to alter the API request and/or

[2016-10-06 16:23] dlamotte commented on #31713
@whitlockjc any issue to follow?  Would definitely make experimenting with an AWS Policy Admission Control easier.

[2016-10-06 16:25] #33354 closed

[2016-10-06 16:29] whitlockjc commented on #31713
Nothing yet.  I just brought it up on Slack and while people suggested it might not be possible _(easily)_, no one said the idea was stupid.

[2016-10-06 16:34] diegomarangoni commented on #24255
I was running the same problem, then I figured out that was because I forgot to erase the disk and provision the pod again after I change the password.

The first time I provisioned the password file was with a line break, after I fixed, nothing changed because the mysql container only set the password once (at the first boot, when `/var/lib/mysql` folder is empty).

Maybe you having the same issu

[2016-10-06 16:34] k8s-merge-robot opened #34247 "[k8s.io] Multi-AZ Clusters should spread the pods of a replication controller across zones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/4035/

Failed: [k8s.io] Multi-AZ Clusters should spread the pods of a replication controller across zones {Kubernetes e2e suite}

[code]

[2016-10-06 16:39] jingxu97 commented on #34242
Jan,

Yes, this is an issue that we haven't addressed. Basically when master
controller restarted, how to recover the state (which volumes are
attached/detached). If during this time, no pods are deleted, controller
can recover the state by retrieving volume information from pod obj in API
server, populate it in desired state and reconciler can recover the actual
state afterwards. The challenge is

[2016-10-06 16:55] ZedCode opened #34248 "vSphere Deployment container communication broken"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vSphere, "message": "no endpoints available for service \"kube-dns\"", kube-dns, etc -- similar issues include: https://github.com/kubernetes/kubernetes/issues/24407 however it's not quite the same

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2016-10-06 17:00] mtaufen commented on #34062
Maybe we should remove the flaky suite from auto-filing issues..... @vishh WDYT?

@saad-ali  are these all known flakes or are these actually serious issues?

[2016-10-06 17:03] whitlockjc commented on #31713
Feel free to ping me on Slack.  If you do, I'll keep you in the loop and cc you in the eventual PR.

[2016-10-06 17:03] #29357 closed

[2016-10-06 17:06] yujuhong commented on #33979
@wu8685 no problem. Closing this issue since #33899 has already been merged.

[2016-10-06 17:06] #33979 closed

[2016-10-06 17:07] mtaufen commented on #34070
Non-gci reboot tests are brutal too. @lavalamp any thoughts on these?
https://k8s-testgrid.appspot.com/google-gke#gke-reboot
https://k8s-testgrid.appspot.com/google-gke#gci-gke-reboot

[2016-10-06 17:07] dashpole commented on #33382
@derekwaynecarr just a follow-up to make sure we are taking the appropriate action.  Right now, we can't use syscall.Statfs to get inodes because it reports the same number for all containers, which includes all inodes in all writeable directories, as well as ones in lower, shared directories.  The solution we are using now is to periodically run a  "find dir -xdev -printf '.' | wc -c" command to

[2016-10-06 17:12] k8s-merge-robot opened #34250 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update endpoints: udp {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/10085/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update endpoints: udp {Kubernetes e2e suite}

[code]

[2016-10-06 17:13] ZedCode commented on #34248
I just noticed that `ip ro sh` doesn't include any routes for the service IPs I defined (e.g. `192.168.120.120` has no routing table entries on any of the minions, only `192.168.[0-3].0/24`). I'm not sure how to fix it, but it looks like the DNS server can make requests to the upstream DNS, it just can't get responses back.

[2016-10-06 17:33] balajismaniam commented on #25321
@davidopp  Thanks for pointing me to the issue. I'm willing to work on this but it seems like you have decided not to cherry-pick the tests. (Let me know if that changes and I can work on this.)

[2016-10-06 17:34] rca commented on #19113
For those looking for docs: http://kubernetes.io/docs/user-guide/images/#using-aws-ec2-container-registry

[2016-10-06 17:34] ixdy commented on #34214
Related to #30787.

[2016-10-06 17:38] MrHohn commented on #34214
Similar problem for `make quick-release`:
[code]

[2016-10-06 17:38] jbeda commented on #34214
@jszczepkowski Can you open a new issue for your problem with information about your set up.  Mac/Linux? Docker version? etc.

[2016-10-06 17:38] jbeda commented on #34214
@MrHohn Please add details to @jszczepkowski's (to be opened) issue.  I suspect that is a different issue.

[2016-10-06 17:40] bradfitz commented on #33472
I do. https://github.com/kubernetes/kubernetes/blob/master/pkg/ssh/ssh.go#L181 can be simplified to be less twisty and more robust. I think the whole `timeoutDialer` vs `realDialer` distinction can go away. Just use `ssh.ClientConfig.Timeout`, or use `net.DialTimeout` and use `ssh.NewClient` with a `net.Conn` you supply, and then you can set TCP keep-alive on it.

[2016-10-06 17:43] ConnorDoyle commented on #31906
Hi @kevin-wangzefeng, have you started working on this issue? If not @balajismaniam or I could take it on.

[2016-10-06 17:51] jlowdermilk commented on #34124
@bprashanth, given how noisy this thing is, if you have time to add a spot fix, I'd appreciate it.

[2016-10-06 17:55] dustymabe commented on #14047
:) - I was trying to use the digest references with an older version of k8s/openshift - I moved to a newer version and it works

[2016-10-06 17:56] mtaufen commented on #33756
That should be on GCI then. This is indeed puzzling.

[2016-10-06 17:57] AndryBray opened #34252 "NFS with gcePersistentDisk mount not working with GKE / k8s"
I premise I'm opening a ticket only after almost 48 hours of searches & tests.
I tested even your official NFS examples and unofficial docker images and configs - nothing works.

**Kubernetes version**:
[code]

**Environment**:
- Google Cloud - Container Engine Cluster (europe-west1-b	, 1 node, 1 vCPU, RAM 1.7 GB, node ver. 1.4.0 ) - All permissions on (full/enabled/read-write)
- Every command & t

[2016-10-06 17:57] mtaufen commented on #27023
Ah kk just thought you might know something given the `flake-needs-czar-attention-release-1.4` label.

[2016-10-06 17:59] mtaufen commented on #34096
Related: https://github.com/kubernetes/kubernetes/issues/34070

[2016-10-06 18:02] ConnorDoyle opened #34253 "Expand test coverage for affinity"
Quoting @davidopp from [issue 22985 (comment)](https://github.com/kubernetes/kubernetes/pull/22985#issuecomment-216020283):

[2016-10-06 18:02] pwittrock opened #34254 "Items needed from Open-Api Spec extensions for documentation"
# Background

The open-api spec is missing many concepts present in the Kubernetes api.  These concepts are crucial to understanding the API, but because they are not present in the open-api spec, consumers of the spec lose this information.  In order to produce high-quality documentation and language-specific clients, the api concepts must be added to the open-api.json as extensions.

Examples:
-

[2016-10-06 18:03] ConnorDoyle commented on #25319
Made a separate issue for the test improvement: https://github.com/kubernetes/kubernetes/issues/34253

[2016-10-06 18:03] ConnorDoyle commented on #34253
cc @kubernetes/sig-scheduling

[2016-10-06 18:11] yujuhong commented on #33980
Sure. I think the cgroup location should be discussed carefully along with the rest of the NodeSpec.

[2016-10-06 18:13] mtaufen commented on #28427
@saad-ali any news wrt these failures?

[2016-10-06 18:14] mtaufen commented on #28283
@saad-ali any news wrt these failures?

[2016-10-06 18:14] macb commented on #33554
# tl;dr:
It seems like `libbind`/`netresolv` and `musl` are consistent in ignoring search domains when the `ndots` option is met. However `glibc` (and other similar implementations such as golang's dns impl) would continue to respect search domains with a lower `ndots`.

I wouldn't want to just want to go from `ndots:5` to `ndots:1` since the vast majority of search signaling could still be preser

[2016-10-06 18:16] saad-ali commented on #34062
Two comments:
1) as @ixdy mentioned in https://github.com/kubernetes/kubernetes/issues/33401#issuecomment-251539087, k8s-bot should not be creating issues for `-flaky` test suites/tests CC @kubernetes/goog-testing
2) These set of tests is failing because GCI image does not have the NFS client. That is being worked on, but until the GCI image is updated, these tests will fail on GCI.

[2016-10-06 18:19] yujuhong commented on #28491
Thanks for reporting the issue! I believe this is fixed in #29316.

[2016-10-06 18:19] #28491 closed

[2016-10-06 18:19] ncdc commented on #33756
Indeed. I'm seeing these flakes happening more frequently over the past
week or two. If someone can help me put together an environment where it
reproduces, I'd be happy to debug.

On Thu, Oct 6, 2016 at 1:57 PM, Michael Taufen <notifications@github.com>
wrote:

[2016-10-06 18:19] ymqytw commented on #34148
They will be another PR that will let you edit after the generator and before submitting. This will come after #33250. These 2 PRs will address #18064 and should be helpful for you.

[2016-10-06 18:19] jessfraz opened #34255 "Document what all the labels mean with regard to issues and pull requests"
Here is an example of what I'm talking about https://github.com/docker/docker/blob/master/project/REVIEWING.md and https://github.com/docker/docker/blob/master/project/ISSUE-TRIAGE.md

I would do this myself but I actually don't know what all the labels mean, what they trigger, and what they do.

Questions to be answered for each label:
Name:
Does it trigger something?
Is it required for merging/c

[2016-10-06 18:22] jessfraz commented on #34255
ping @kubernetes/contributor-experience

[2016-10-06 18:24] saad-ali opened #34256 ""kubectl exec" sometimes incorrectly returns empty string causing tests to flake"
@jingxu97 noticed (https://github.com/kubernetes/kubernetes/issues/28081#issuecomment-251457653) that a lot of the `Pod disks should...` PD E2E tests are very flaky on GCI because `kubectl exec` is incorrectly returning an empty string.

Jing's report:

CC @pwittrock

Step two is a good way to repro this.

[2016-10-06 18:25] saad-ali commented on #28283
Yes, @jingxu97 investigated and discovered (https://github.com/kubernetes/kubernetes/issues/28081#issuecomment-251508603) which appears to indicate that these flakes are caused by `kubectl exec`. Tracking issue in https://github.com/kubernetes/kubernetes/issues/34256

[2016-10-06 18:25] saad-ali commented on #28427
Yes, @jingxu97 investigated and discovered (https://github.com/kubernetes/kubernetes/issues/28081#issuecomment-251508603) which appears to indicate that these flakes are caused by `kubectl exec`. Tracking issue in https://github.com/kubernetes/kubernetes/issues/34256

[2016-10-06 18:27] kerneltime commented on #34248
cc @imkin

[2016-10-06 18:28] grodrigues3 commented on #34255
yeah, this is an issue that I've been thinking about.  I have the auto issue-labeler set up, but many of the labels are unused/unclear.  I'll bring this up at the next contribx

[2016-10-06 18:28] saad-ali commented on #34062
Just saw @mtaufen's comment buried above:

Agreed! @vishh can you do this?

See point 2 in comment above.

[2016-10-06 18:30] jessfraz commented on #34255
@grodrigues3 if you want I'd be happy to sit with you and do it, I just don't have the knowledge as to how they all work currently but I'm super interested to know

[2016-10-06 18:31] vishh commented on #34062
+1 for removing flaky suite from auto-filing list. Why do we even have a
"flaky" suite? Is anyone maintaining those tests? Why are they being run if
they are "flaky"?

On Thu, Oct 6, 2016 at 11:29 AM, Saad Ali <notifications@github.com> wrote:

[2016-10-06 18:33] saad-ali commented on #34062
they are "flaky"?

I believe it is the "jail" that tests go to when they are no longer giving a clear signal, once they are repaired folks can go look the flaky suite CI to see if the tests (which were red and green) have actually been fixed (solid green) before moving them out of flaky to default blocking suite.

[2016-10-06 18:48] arschles commented on #11606
note that https://godoc.org/k8s.io/client-go exists now, and is a dedicated repository for the go client

[2016-10-06 18:49] #33215 closed

[2016-10-06 18:50] erictune commented on #2837
Update on current state:

If you install the optional helm tool (from [http://helm.sh]) then you can install Charts.

The Charts development and testing occurs at http://github.com/kubernetes/charts.

Currently we have the following apps which are "stable":

- drupal
- jenkins
- mariadb
- mysql
- redmine
- wordpress

More will be added soon.

Closing this issue.  Further discussion should happen i

[2016-10-06 18:50] #2837 closed

[2016-10-06 18:52] colemickens opened #34258 "Document Ingress TLS Secret format requirements"
Ingress can pull TLS assets out of a Secret... Is the expected format of those asserts documented anywhere? (aka, "The Cert and Key fields of the secret must be PKCS8 encoded")?

[2016-10-06 18:55] timothysc commented on #34253
Yup @rrati is working on this now.

[2016-10-06 19:03] sbezverk commented on #34238
After changing these two timers  --node-monitor-grace-period 20s --pod-eviction-timeout 1m0s this failover time got improved, but not completely. It appears pods get stuck in Terminating state. It is not a problem for rc and deployment as they start new pod very quickly, but for petset it is a problem as it waits for pod to be completely gone before starting new pod. Using kubectl delete --now hel

[2016-10-06 19:03] bgrant0607 commented on #32544
It sounds like this hasn't been completed for all commands that support --filename.

[2016-10-06 19:05] ixdy commented on #34062
cc @apelisse we should disable flake-filing for -flaky suites.

[2016-10-06 19:05] ixdy commented on #34062
(or at least for tests which have `[Flaky]` in their name)

[2016-10-06 19:11] erictune commented on #16779
My preferred solution is:

- Every Pod has a service account (non-empty string in service account
field).
- Pods without a service account mentioned at creation get the default
service account.  Nothing disables this behavior.  We could move this from
an admission control to a defaulter perhaps.  One use case is a create a
namespace where I can run things with ambient authority without having to
w

[2016-10-06 19:15] jingxu97 commented on #32467
Post it again since the message got rolled out quickly

Checked a few logs from the failed tests, and found the following error. The git repo connection was refused for a little while, and then mount operation seems begin to work after about 3 mins. Strange thing is from util.go, the test should wait for 5 mins until pod in running state.

Two questions here
1) Is this normal that after git-repo s

[2016-10-06 19:17] liggitt commented on #22063
started a work-in-progress PR at https://github.com/kubernetes/kubernetes/pull/34259 to implement the idea in https://github.com/kubernetes/kubernetes/issues/22063#issuecomment-251997481 (InternalDNS/ExternalDNS address types, letting the apiserver decide which address type to prefer).

I like the `ConnectionInfo` struct in #25532 and the type changes in #33718. I'd be happy for both of those to g

[2016-10-06 19:21] kfox1111 commented on #16779
That sounds like a good plan to me.

[2016-10-06 19:28] jianhuiz opened #34261 "Implement federated Job"
To track the implementation of `job` in federation

cc @kubernetes/sig-cluster-federation
@deepak-vij @kshafiee @shashidharatd

[2016-10-06 19:29] jianhuiz commented on #34261
Design doc: https://docs.google.com/document/d/1TZ4ZMZ8AEOlVyK6H_q-zNpAdlzTip8sxMQUVQeQ-O-w/edit?usp=sharing

[2016-10-06 19:34] wojtek-t commented on #33472
@lavalamp - do you think you can find someone from CSI team to do it? [I'm happy to review], maybe @caesarxuchao ?

[2016-10-06 19:39] mikedanese commented on #30769
No but feel free to send a pr

[2016-10-06 19:39] bvandewalle opened #34262 "Parameter support for secure API bind address in local-up-cluster.sh"
The `hack/local-up-cluster.sh` script doesn't support a user-value for the Kube-apiserver `--bind-address` option.

This is the IPs on which the Kube API will listen for secure API requests. The local-cluster-up script is set in such a way that it will only bind to the same IP as the one defined in `API_HOST_IP`:

[code]

The default value of `0.0.0.0` will never be used as `API_HOST_IP` is always

[2016-10-06 19:40] cgag commented on #34148
@soltysh That would work in this case, though I'll have to think more about other resources.  However, I think that command is very unintuitive .  I only recently learned that run and create support -o=yaml, which I wouldn't expect because their normal output is nothing like a summary of the resource created.   Nor does "create a resource, but not really" (--dry-run) really map to the thought "I w

[2016-10-06 19:47] JeanMertz commented on #32844
We're having the same happen on a 1.3.7 cluster, but not for fluentd (or any kube-system pod), but for one of our production pods.

We've removed several other deployments+services, and killed the pod several times, but it just won't come up, while it keeps showing the error:

This is on GKE (where we obviously don't have access to the master). What's the way forward here to get this pod up and ru

[2016-10-06 19:54] jbhurat opened #34263 "DNS support for Windows Containers"
Supporting DNS for Windows Containers in docker was recently merged as part of;
https://github.com/docker/docker/pull/25987
https://github.com/docker/libnetwork/pull/1412

This issue is to track the work to support DNS for Windows Containers in Kubernetes.

Possible solution include passing `--dns=IP_ADDRESS` argument to the `docker run` command.

[2016-10-06 19:58] jbhurat opened #34264 "Support Volumes and Mounts for Windows Containers"
As we continue to make progress on supporting Windows Containers for Kubernetes, the next logical thing to tackle is supporting volumes and mounts. This issue is to track the work required to make volumes and mount work on Windows containers

[2016-10-06 20:01] DreadPirateShawn opened #34265 "problem with upgrading HA masters from v1.2 to v1.4"
**Kubernetes version**

Upgrading from:

[code]

to

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 12.04.4 LTS, Precise Pangolin
- **Kernel** (e.g. `uname -a`): Linux tuk6r1knode3 3.13.0-55-generic #92~precise1-Ubuntu SMP Sun Jun 14 18:32:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: N/A
- **Others

[2016-10-06 20:16] mtaufen commented on #34062
@ixdy I can do it, just a minute.

[2016-10-06 20:20] mtaufen commented on #34062
@ixdy https://github.com/kubernetes/contrib/pull/1845

[2016-10-06 20:30] mtaufen commented on #28283
Great, thanks!

[2016-10-06 20:30] mtaufen commented on #28427
Great, thanks!

[2016-10-06 20:34] mtaufen commented on #28081
Being tracked in issue: https://github.com/kubernetes/kubernetes/issues/34256

[2016-10-06 20:36] jnewland opened #34267 "AWS: Instances briefly deregistered from service ELB after replacement of single controller instance"
**Is this a request for help?**: No.

**What keywords did you search in Kubernetes issues before filing this one?**: ELB, Elastic. https://github.com/kubernetes/kubernetes/issues/26362 and https://github.com/kubernetes/kubernetes/issues/11002 may be related, but are not identical.

---

**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report.

**Kubernetes version** (use `kubectl version`): 1.4.0

[2016-10-06 20:43] mukundha opened #34269 "max-retries"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-06 20:44] #34269 closed

[2016-10-06 20:47] ZedCode commented on #34248
Some additional info I probably should have included the first time:

[code]

[2016-10-06 20:49] jbhurat opened #34270 "Kubelet and Proxy startup script for Windows Server"
Currently kubelet and proxy for Windows is an `exe` and we manually set up the environment variables and run the `exe`. Create a startup script which,
- Sets up Environment variable by accepting user input and have appropriate default values
- Runs validation
- Run kubelet and proxy in the background

[2016-10-06 20:55] jbhurat commented on #34264
Closing this issue as it is duplicated of https://github.com/kubernetes/kubernetes/issues/30282

[2016-10-06 20:55] #34264 closed

[2016-10-06 20:56] vishh commented on #32853
Obsolete

[2016-10-06 20:56] #32853 closed

[2016-10-06 20:57] vishh commented on #32538
Ping @Amey-D

[2016-10-06 21:01] bprashanth commented on #32844
do you actually have ip addresses on the node? (available ips in the cbr0 cidr that are not assigned to running pods). Can you check kubelet logs on the node for anything suspicious? if the node has a /24 (kubectl get no -o yaml | grep -i podCIDR), it only has 255 ips.

you can force the pod to reschedule on another node by marking the node it's on unschedulable (`kubect cordon`),  and kill the po

[2016-10-06 21:03] bprashanth commented on #32844
Wait, you must have available ips, we don't allow 255 pods on a node. hmm. What's in `/var/lib/cni/networks/kubenet/` on the node? can you correlate with running containers?

[2016-10-06 21:04] Random-Liu opened #34272 "CRI: Timestamp unit is not defined"
There are several timestamps in CRI:
* [`PodSandboxStatus.CreatedAt`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.pb.go#L816)
* [`PodSandbox.CreatedAt`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.pb.go#L975)
* [`Container.CreatedAt`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1al

[2016-10-06 21:04] bprashanth commented on #32844
And what version of kube/docker are your nodes running?

[2016-10-06 21:10] JeanMertz commented on #32844
@bprashanth

indeed `/24`

[code]

and indeed, it looks like the range has been depleted:

[code]

Far less containers running:

[code]

but, counting stopped containers, it does go above 256:

[code]

versions:

[code]

[code]

[2016-10-06 21:10] Random-Liu commented on #34272
Another small issue is that, `CreatedAt` of `runtimeApi.PodSandbox` and `runtimeApi.Container` is populated correctly.
1) The creation time returned by `docker ps` is **in second**, but we are using it directly.
2) The creation time of `runtimeApi.Container` is not populated https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/convert.go#L60-L69

[2016-10-06 21:11] erictune commented on #25908
The two containers can share an emptyDir, and the first container and write an "I'm exiting now" message to a file and the other can exit when it sees that message.

[2016-10-06 21:16] bprashanth commented on #32844
Do you have a high deletionGrace timeout?
We deliver docker stop (sigterm) and wait out termination/deletionGrace before delivering docker kill (sigkill). Containers in the Terminating state will hold onto their ips. can you dig into what those extra containers are doing?

Each non-hostnetwork pod gets an ip from the cidr, if you have multiple containers per pod, it's still 1 ip. However that `ps

[2016-10-06 21:20] smarterclayton commented on #30819
@thockin so do you feel your perspective has changed since we wrote
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_changes.md#alpha-beta-and-stable-versions

Or is it that I took the hardline in my thinking (alpha is for limited use)
and you went broader (it's for limited use but we care about your
upgrading)?

Treating alpha as supported over multiple releases is a significan

[2016-10-06 21:24] JeanMertz commented on #32844
All pods use the default `deletionGrace` timeout (on GKE). Still investigating the rest.

[2016-10-06 21:26] JeanMertz commented on #32844
None of the `ps -a` containers are in `Terminating` state, all are `Exited` or running as expected.

[2016-10-06 21:30] JeanMertz commented on #32844
A lot of those stopped containers are part of the pods currently in `ContainerCreating`, due to the fact that it can't get an IP.

[2016-10-06 21:33] mikedanese opened #34274 "Take kubectl apply out of Alpha and into Beta"
- [ ] Fully document behavior
- [x] Prune all restmappings, not just those provided

cc @pwittrock

[2016-10-06 21:34] dashpole commented on #33382
To test, I started up a rhel docker image and a centos image (because I think those use devicemapper).  I then ran the find command on both directories, in the same way cadvisor does, with and without the -xdev flag.  They both reported inode usage, so it looks like we will have to explicitly report 0 inodes for devicemapper.

[2016-10-06 21:36] bprashanth commented on #32844
Terminating is a kubernetes thing. What does kubectl show as running on that node (kubectl get po -o wide | grep node-name)?

Just tail -f the kubelet logs and see if it's saying anything suspicious.
Can you remember what you did, and provide a repro?

[2016-10-06 21:39] bprashanth commented on #32844
I meant `kubectl get po -o wide --show-all --all-namespaces | grep node name`

[2016-10-06 21:40] ZedCode commented on #34248
I just noticed that while from inside a container I can ping google:

[code]
I cannot ping our internal DNS which is at IP `10.248.138.14`. So I think I'm getting closer to where the problem actually is.

I also think the 192.168.120.120 was not actually unreachable, just not pingable. For example:
[code]
Returns right away, while doing the same to IP `192.168.120.121` hangs.

I'm not sure why whe

[2016-10-06 21:40] mtaufen commented on #34062
@apelisse do you need to restart the submit queue for kubernetes/contrib#1845 to take effect?

[2016-10-06 21:44] apelisse commented on #34062
Yes

[2016-10-06 21:44] JeanMertz commented on #32844
kubelet logs shows a continuous stream of:

[code]

Which is weird, because `kubectl get pod --all-namespaces --show-all` shows no pods younger than 2 hours, or any pods with an unusual high restart count.

`kubectl get po -o wide --show-all --all-namespaces | grep <node>` shows nothing out of the ordinary.

[2016-10-06 21:45] avkonst commented on #34101
It seems Calico has got similar issue:

[code]
What could I try to progress this issue further?

[2016-10-06 21:49] JeanMertz commented on #32844
I scaled back some replicas and things seem to become normal again:

[code]

No more pods are currently in `ContainerCreating `. The `MountVolume ` log stream continues though. I'm also unsure what caused this in the first place.

[2016-10-06 21:55] bprashanth commented on #32844
The log line you see might be a red herring, if you can upload your kubelet logs somewhere I can take a look.

250 is still really high, but it looks like deleting pods released ips, which is good. The mystery is that you have ~100 pods on the node, where are those remaining ips coming from? One way to tackle this is to grep kubelet logs, I'm not sure if we log the ips to match up to podnames at a

[2016-10-06 22:00] caseydavenport commented on #31307
I think the template-based proposal doesn't actually buy us what we want with the extra complexity.  Plugins will still need to support the "shaping: {}", "hostports: {}", etc network config sections, which aren't part of the CNI spec, which means we're essentially making CNI plugins write k8s specific code anyway.  If we want to make this not k8s specific, then it feels like it needs to be someth

[2016-10-06 22:02] JeanMertz commented on #32844
pods on machine (only one has 2 containers, all others 1):

[code]

146 IPs are from late august:

[code]

However, the oldest pod on that machine is 30 days old...

[2016-10-06 22:07] yujuhong commented on #34272
`ContainerStatus.CreatedAt` was introduced later in the kuberuntime GC PR, hence it was not populated in the `dockershim`. Surprisingly, no test has failed since then.

SGTM.

[2016-10-06 22:08] JeanMertz commented on #32844
`tail -f /var/log/kubelet.log | grep -v MountVolume` shows nothing out of the ordinary, only some GETs on `/stats/summary`, `/pods/` and `/healthz`, and:

[2016-10-06 22:14] bprashanth commented on #32844
We might be leaking ips on docker restart. Can you grep docker logs for something suspicious?  like restarting/stopping docker/containerd? your logs might be rotated though. I assume you're running on container vm (cat /etc/lsb-release exists => GCI).

[2016-10-06 22:15] Random-Liu commented on #34272
The create time is only used to sort containers before gc.
It seems that golang's sort algorithm is [stable sort](https://golang.org/src/sort/sort.go), then the sequence will not be changed because all creation timestamp is 0. And because docker always returns the right order, so it doesn't really matter for docker. :)

[2016-10-06 22:18] jojimt commented on #31307
```One thing a CNI plugin just won't be able to do in any sensible manner is to reserve a port via a long running process, so kubelet will probably need to get involved here.```
Perhaps, the plugin could use a companion helper process to achieve this? It does not seem reasonable to complicate the interface in order to leverage the long-running nature of kubelet.

[2016-10-06 22:22] Random-Liu commented on #34272
NVM, I read the code more carefully...golang is using quick sort. But it may still doesn't change the order. :)

[2016-10-06 22:23] JeanMertz commented on #32844
`/etc/lsb-release` does not exist.

`zcat /var/log/docker.log*.gz` shows the following unique log types:

[code]

And some "no such image" errors of app deployments gone wrong

[2016-10-06 22:27] davidopp opened #34277 "Have "kubectl drain" use eviction subresource"
Documented here
http://kubernetes.io/docs/admin/disruptions/

Also we need to add some kind of "force" flag to say drain the machine even if it would violate pod disruption budget. If you use this flag, "kubectl drain" will use regular pod deletion rather than eviction subresource.

Another issue to consider (unrelated to eviction subresource/disruption budget) is whether to wait until all the pod

[2016-10-06 22:29] bgrant0607 commented on #32685
This appears to be affecting a lot of PRs.

[2016-10-06 22:29] JeanMertz commented on #32844
I'm trying to find something through GCE logging, but nothing shows up so far:

[code]

Maybe you have a better query?

[2016-10-06 22:30] bprashanth commented on #32844
There is a line docker emits when it restarts. Just once is probably enough, so no patterns. I'll look up the line in a bit.

[2016-10-06 22:30] bprashanth commented on #32844
Off the top of my head it would probably be stopping containerd

[2016-10-06 22:32] JeanMertz commented on #32844
0 results for:

[code]

Scanned up to 2016-09-25 (00:00:00.000)

[2016-10-06 22:37] macb commented on #19634
I think `skydns` is also doing a very poor job of caching on its end. Noticed I was getting some very odd metrics (see https://github.com/skynetservices/skydns/issues/298) and I think it may be sending from [here](https://github.com/skynetservices/skydns/blob/master/server/server.go#L283-L285) and so never actually inserts into its own cache [here](https://github.com/skynetservices/skydns/blob/mas

[2016-10-06 22:39] lavalamp commented on #34219
Context?

[2016-10-06 22:39] lavalamp commented on #34219
(i.e. what is "the cache issue"?)

[2016-10-06 22:40] caseydavenport commented on #31307
@jojimt That's going to require some sort of communication between the CNI plugin + the long running process, or it needs to spin up a process per hostPort.  The CNI plugin needs to fail the create call and return an error if it can't grab the port.  Doing this out-of-band from the plugin makes this quite a bit harder.  If it's done in the kubelet, we can guarantee that the port is reserved at the

[2016-10-06 22:43] maisem commented on #34277
cc @bdbauer

[2016-10-06 22:43] bprashanth opened #34278 "kubenet/kubelet leaks ips on docker restart"
Restart docker and you'll see the number of allocatd ips jumping:
[code]
Do it enough times (or with enough pods, do it once) and the node is effectively unschedulable, but reports ready:
[code]

Scheduling pods on it show
[code]

I'm guessing this is because we don't release unused ips, but allocate new ones.
@kubernetes/sig-network @kubernetes/sig-node

Maybe we can fix this by invoking kubenet

[2016-10-06 22:47] xiang90 commented on #34219
Would like to look into this if we can have more context or can get a easy reproduce.

[2016-10-06 22:47] bprashanth commented on #32844
I think i got a repro on a HEAD cluster https://github.com/kubernetes/kubernetes/issues/34278 (same docker version though), so that's prime suspect. I haven't looked at code yet, so maybe we're actually doing some delayed GC that just hasn't kicked in yet in my test cluster. Someone will comment on that bug if that's the case, and we will have to investigate an alternative theory.

[2016-10-06 22:51] JeanMertz commented on #32844
Nice one!

Given the fact that the ~6 days of docker logs show no Docker restarts (and nothing can be found on GCE logs, although I'm unsure how far back those go), that GC timer would have to be very long for us to experience that issue.

[2016-10-06 22:55] ravilr commented on #31362
@derekwaynecarr - autoextend is turned off, with thinpool DATA_SIZE set to 90%FREE. dm.min_free_space is also not set. i guess the default is 10%. Do you suggest configuring differently and why? Thanks.

[2016-10-06 22:58] michmike commented on #22623
Today in the Kubernetes community meeting, we demo'ed the alpha version of the Windows Server Container support in Kubernetes, with kubernetes running on Microsoft Azure.

Feature: https://github.com/kubernetes/features/issues/116 will track bringing the work of SIG-Windows to beta with release 1.5 of Kubernetes.

If you want to help, join SIG-Windows at https://kubernetes.slack.com/messages/sig-w

[2016-10-06 23:03] caseydavenport commented on #34278
This also affects CNI - https://github.com/kubernetes/kubernetes/issues/14940

In general, plugins don't get notified when containers are deleted under the kubelet's feet.

[2016-10-06 23:19] jojimt commented on #31307
@caseydavenport I agree that it adds a bit more complexity to the plugin. However, given a choice between interface complexity and plugin complexity, I would lean away from the former.

[2016-10-06 23:28] bprashanth commented on #14940
This is pretty icky.

Load a node up with pods
Reboot/upgrade/do anything to the node that preserves the IPAM database
No new pods are allowed

The node doesn't seem to recover, and we haven't documented resuscitation.

[2016-10-06 23:29] bprashanth commented on #34278
Lets continue discussion on the longer term solution on that bug and keep this for how to surface/handle/cordon/recover such nodes.

Is there a cheap fix? Maybe just GC backdoor into kubenet?
Can we cordon the node and send an event so users can perform manual recovey?

[2016-10-06 23:42] lavalamp commented on #34112
That's weird.

[2016-10-06 23:45] lavalamp commented on #31798
OK, I don't think my team has bandwidth for this at the moment.

[2016-10-06 23:56] #34205 closed

[2016-10-06 23:56] #34204 closed

[2016-10-06 23:56] #34191 closed

[2016-10-06 23:56] #34184 closed

[2016-10-06 23:56] #34178 closed

[2016-10-06 23:56] #34177 closed

[2016-10-06 23:56] #34171 closed

[2016-10-06 23:56] #34169 closed

[2016-10-06 23:56] #34166 closed

[2016-10-06 23:56] #34186 closed

[2016-10-07 00:01] freehan commented on #34278
Moving networking logic to runtime thru CRI could make the solution simpler.

Then the dockershim can keep track of restarts/crashes and invoke CNI delete.

For `bridge` plugin in particular, delete operation will first release IP. So even if the container is gone, it will release IP and fail later, which is okay for clean up.

[2016-10-07 00:19] jlowdermilk commented on #33558
Similar failure in federation/pkg/federation-controller/ingress

=== RUN   TestIngressController
==================
WARNING: DATA RACE
Write by goroutine 39:
  runtime.closechan()
      /usr/local/go/src/runtime/chan.go:292 +0x0
  k8s.io/kubernetes/pkg/watch.(*FakeWatcher).Stop()
      /go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/pkg/watch/watch.go:106 +0x102
  k8s.io/kubernete

[2016-10-07 00:25] bprashanth commented on #14940
Hmm, maybe we can't docker inspect the container, so we return without invoking tearDown? https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L1428

[2016-10-07 00:30] bprashanth commented on #14940
Also I think there are different cases we're conflating into this bug:
1. Kubelet knows about old and new container: we should always get tearDown, and always release ip even if veth,ns,pid missing etc
2. Kubelet doesn't know (i.e it was down while pods were deleted etc): this is a little harder to address, maybe we need snapshotting or periodic gc

[2016-10-07 00:32] bprashanth opened #34283 "Mark pods as failed if there are no ips available"
If the network plugin reports no available ips, we should at least send an event, and preferably mark pods as Failed so the RC can recreate them elsewhere. We can't mark the nodes as NotReady because pods are running, but we can cordon it to ensure new pods land elsewhere.

[2016-10-07 00:38] bprashanth opened #34284 "write a soak test that restarts docker"
Restart docker on a loaded node, make sure non-host-network pods come back up. Repeat a couple of time till we're sure we don't leak limited resources like ips.

[2016-10-07 00:38] bprashanth commented on #34278
I don't even think we're getting tearDown, probably because something higher up the stack errs out (maybe docker inspect).

https://github.com/kubernetes/kubernetes/issues/34283 for mitigating impact
https://github.com/kubernetes/kubernetes/issues/34284 for testing

[2016-10-07 00:41] yifan-gu commented on #34272
I found this same issue the other day, but then forgot to mention :)
64-bit nanosecond seems fine to me as it rewinds about 600 yrs later.

[2016-10-07 00:52] freehan commented on #34278
[code]

kubelet also need to cache the previous container ID in order to do proper tear down.

[2016-10-07 01:08] jayunit100 commented on #34253
There are incorrect stuff in the priority tests also #33198 , I think the scheduler needs to iterate through pods inside of processTerms.

prototype PR that does that and spreads scores around 0-10 with more subtlety (#33199)

[2016-10-07 01:19] crockpotveggies commented on #28612
Following instructions from @zeg-io I then followed some discussion from this issue to find a solution.

`kubectl proxy --port=9090`

Then navigate to:

`localhost:9090/ui`

And then the UI successfully opens. Why is the base domain failing to redirect?

[2016-10-07 01:22] bgrant0607 commented on #31571
In the long run, I think all APIs that need this capability should use fields. Annotations aren't discoverable.

Perhaps we should even ask the question what resources won't ever need this?

[2016-10-07 01:23] yifan-gu commented on #33980
+1 On the second option, and moving the current code to docker package.

[2016-10-07 01:38] feiskyer commented on #34272
LGTM

[2016-10-07 01:39] yifan-gu commented on #33139
Exactly, without a pod level selinux context, the pause container has no selinux context to run with.
Besides, when all docker containers are sharing the IPC namespace, they are running with [the same selinux context](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/selinux-enhancements.md#sharing-ipc-namespaces). So the app level selinux context is only useful when they are run

[2016-10-07 01:48] bprashanth commented on #34278
well this is where "sync" would shine :)
A periodic sync([]podID) would allow us to purge everything not in that list.

We can still loop over all the allocated ip/hash buckets, do a docker inspect, and if either the hash doesn't exist, or has an exit code, purge it? The assumption here is that if we've recorded a hash in /var, then it must have existed at one time, and if ps doesn't show the hash

[2016-10-07 01:49] yujuhong opened #34289 "Make serial tests for CRI-docker integration green"
The new node/cluster serial builders have been up and running (thanks to @Random-Liu)!
https://k8s-testgrid.appspot.com/google-node#kubelet-cri-serial-gce-e2e
https://k8s-testgrid.appspot.com/google-gce#gci-gce-cri-serial

We need to triage and fix the failures.

/cc @kubernetes/sig-node

[2016-10-07 01:50] yifan-gu commented on #34278
@freehan Caching the container ID doesn't seem to work well if kubelet restarts after a teardown()fails, but the container is killed.

Some quick ideas here:
1, Do not kill the sandbox (pause container) if teardown() fails, so we can retry later
2, Kill the sandbox without teardown(). Then teardown() when garbage collecting the container, but if teardown() fails, don't remove the container.
3, Try

[2016-10-07 01:56] spxtr commented on #29405
It now checks that you or someone commenting "ok to test" is a member of the kubernetes org.

[2016-10-07 01:56] #29405 closed

[2016-10-07 01:57] #34214 closed

[2016-10-07 02:02] saad-ali commented on #34062
Thanks @mtaufen. Closing this issue.

[2016-10-07 02:02] #34062 closed

[2016-10-07 02:02] bprashanth commented on #34278
I think the base assumption was (erroneously made) that if the kubelet knows about old/new container, the old gets a tearDown just like the new gets a setUp. If the kubelet doesn't know about the old one, all bets are off. If it restarted at the exact wrong moment leaving pods broken, they end up crashing or failed or we just leak, till we have a more complex solution like snapshotting.

We probab

[2016-10-07 02:05] smarterclayton commented on #31571
I mentioned HPA because while discussing it it was clear the pattern for custom metrics resembles - core API object, many controllers, preferred controller.  An object that can be used by many clients to coordinate may not understand all the clients, and while we might have a first party field (CPU) a totally generic field (GenericMetricReference) which is opaque to clients can actually be the sig

[2016-10-07 02:08] colemickens commented on #33975
How is this different than Dynamic Disk Provisioning? From your description it sounds like Dynamic Disk Provisioning suits your needs?

[2016-10-07 02:10] madhusudancs opened #34291 "Federated Ingress always routes to a single cluster with intermittent downtime."
Observing the corresponding load balancer in the Google Cloud Console shows that the load balancer keeps flapping between the backends in different clusters. Downtime also occurs at the same time (or at least the windows overlap) at which the load balancer switches from one backend to the other.

I have two GKE clusters. Their Ingress UID ConfigMap data sections match.

[code]

on either clusters

[2016-10-07 02:14] bprashanth commented on #34291
Can you try: https://gist.github.com/bprashanth/52648b2a0b6a5b637f843e7efb2abc97 ?
basically poke around in gcloud and see if we're recreating/reordering backends or something

[2016-10-07 02:14] AdoHe commented on #34148
I agree that users may want a fresh template sometimes.

[2016-10-07 02:16] bprashanth commented on #34291
Meaing if the ingress and cloud resources are not changing, the health checks are flapping, if a cloud resource is changing, we should get the controller to stop doing that.

The ingress controller logs are on the master at /var/log/glbc.log, l7-default-backend-v1.0-<suffix> is just the default backend, not the controller itself.

[2016-10-07 02:19] feiskyer commented on #33980
Is it possible for container runtime to get top level cgroup from NodeSpec?

[2016-10-07 02:24] feiskyer commented on #34040
Frakti has setup a framework for cri validation: https://github.com/kubernetes/frakti/tree/master/test/e2e, it reuses same e2e framework from kubernetes.

[2016-10-07 02:26] pwittrock opened #34292 "Server side defaulting of values prevents diff patches from working"
Server side defaults are easily differentiated from other values set within the kubernetes system (e.g. DeploymentStatus).  `kubectl apply` records the applied config as an annotation on the objects that it creates so that it can perform a 3-way diff to merge local changes into the live config without erasing other items such as the status.

Steps to reproduce:

Use `kubectl apply -f` to create a

[2016-10-07 02:45] pwittrock commented on #27023
I know it didn't get any attention last release :)

[2016-10-07 02:48] colemickens opened #34293 "azure: Gracefully support multiple availability sets"
We have need to support multiple Availability Sets in an Azure cluster, but a load balancer can only target nodes that are in the same Availability Set.

I suggest that we add another field to the configuration used by the Azure CloudProvider to indicate what Availability Set we want to include in the loadbalancer. Then, when we loop over the nodes in the cluster, we only add nodes in that Availab

[2016-10-07 02:59] bowei commented on #27023
Status is that I'm trying to fix it...

I added some code to the test to help debug why the flake was occurring as I wasn't able to repro it on my local cluster.

[2016-10-07 03:06] bixiaohong2015 opened #34294 "In my kubernetes master nodes ,I implement command: kubectl version ,then emerge the error"The connection to the server localhost:8080 was refused - did you specify the right host or port?" Can anyone help me? ?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-07 03:10] alexanderilyin commented on #23727
Worked for me in this way:

In 1st `Terminal.app`
[code]

In 2nd `Terminal.app`
[code]

Result:

![screen shot 2016-10-06 at 8 08 01 pm](https://cloud.githubusercontent.com/assets/272409/19177763/edadd51a-8c00-11e6-8201-3e317db89e27.png)

[2016-10-07 03:33] quinton-hoole commented on #34291
@bprashanth We've confirmed that the K8s Ingress object and the associated
configmap are not being updated, but the GCE LB backends are being
reconfigured (presumably by the GCLB controller). We've not looked at its
logs in any detail yet. Will do in the AM.

On Oct 6, 2016 7:16 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-10-07 03:40] colemickens opened #34300 "Could not connect to rsync container. See build/README.md for setting up remote Docker engine."
I have symptoms that look like those being fixed by this: https://github.com/kubernetes/kubernetes/pull/34288 but I still get the error after cherry-picking that fix.

The last two commits in my tree are:

* 15b9583a713d4fd81aa446cceb224b94cfc62d3a (aka https://github.com/kubernetes/kubernetes/pull/34257)
* a cherry pick of https://github.com/kubernetes/kubernetes/pull/34288

I have removed **all*

[2016-10-07 03:41] colemickens commented on #34300
CC: @jbeda

[2016-10-07 03:53] #19805 closed

[2016-10-07 03:57] gnufied commented on #34300
I would try if you can locally reach port `32776` using telnet may be. Also you can probably run this function https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L585 in isolation and see if that works.

I was running into similar problem and just running the function via a standalone shell script helped narrow down the problem.

[2016-10-07 04:01] Random-Liu commented on #34040
What test are you running? :)

[2016-10-07 04:55] k8s-merge-robot opened #34301 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-test/54/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27479 #27675 #28097 #32950

[2016-10-07 05:02] thockin commented on #34278
Is this just another case of "if we had a checkpoint we would never lose
state" ?

On Thu, Oct 6, 2016 at 7:02 PM, Prashanth B <notifications@github.com>
wrote:

[2016-10-07 05:15] bprashanth commented on #34278
No that's the harder issue.
The more imminent issue is that we don't get a tearDown notification for the old infra container on  container restart because the kubelet doesn't track containerID (it just does a simple name check). Tracking containerID is fickle for the reasons Yifan gave, among others.

So either:
* Kubelet gives exact tearDown notifications (tracks containerID, we come up with a be

[2016-10-07 05:25] bprashanth commented on #34124
I will send one tomorrow, in the meanwhile I'll un-assign you (not that it helps because you already commented on it)

[2016-10-07 05:26] thockin commented on #31307
I thought we already agreed that it was sane to say that the plugin host (kubelet) is responsible for pre-validating that the port is available (by opening it) and that the plugin is responsible for plumbing to make the port mapping work.

The alternative, as described, is that the plugin has to do both, and perhaps spin up a process to hold each port open.  This means it has to a) handle the case

[2016-10-07 05:31] thockin commented on #19634
For kubernetes v1.3 and v.14 we have added a dnsmasq container in the
chain, as a better cache.

On Thu, Oct 6, 2016 at 3:38 PM, Mac Browning <notifications@github.com>
wrote:

[2016-10-07 05:37] macb commented on #19634
Ah, I do recall seeing that. Time to find out how to see how effective it is!

[2016-10-07 06:22] colemickens commented on #34300
It seems like I was able to connect... though my container was listening on 32777 instead.

[code]

How did you run that function "in isolation"? I wrote out a file, and tried to execute it:

[code]

[2016-10-07 06:32] madhusudancs commented on #34291
@bprashanth

Federated Ingress controller essentially does this. Do you want me to manually try this?

Also, @quinton-hoole and I verified this. The ConfigMaps match. And they don't get updated. We watched (manually by starting at the screen) the resource version on the ConfigMaps in the two clusters for quite a long time and none of these values changed.

Backends are being deleted and created al

[2016-10-07 06:35] k8s-merge-robot opened #34303 "[k8s.io] ResourceQuota should verify ResourceQuota with terminating scopes. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/833/

Failed: [k8s.io] ResourceQuota should verify ResourceQuota with terminating scopes. {Kubernetes e2e suite}

[code]

Previous issues for this test: #31158

[2016-10-07 06:36] thockin commented on #33554
So we can not depend on this behavior.  Unfortunately, resolv.conf behavior
is under-specified here and in other ways.

The "proposal" was an offhand remark in a bug or email or something.  If
this is really a pain point, I would be happy for someone to open a new
proposal (small) on this.

On Thu, Oct 6, 2016 at 11:15 AM, Mac Browning <notifications@github.com>
wrote:

[2016-10-07 06:38] colemickens commented on #34300
Sorry, I should have clarified some detail from my ML email... I'm definitely not running "remote Docker". The machine where I'm doing the build is the machine where Docker is installed and `DOCKER_HOST` is certainly not set, let alone pointing at a remote host.

[2016-10-07 06:40] RKalkani commented on #33956
I tried below steps to perform cleanup prev unsuccessful kubeadm init and success return kubeadm init.

Here are the clean up steps :
1.` service kubelet stop`
2. kill k8s process ,  `ps aux | grep kub`
3. stop and remove all k8s containers
4. umount all /var/lib/kubelet/pods/
5. remove prev config dirs,
`rm rm -rf /etc/kubernetes`
`rm -rf /var/lib/kubelet/`
`rm -rf /var/lib/etcd`
5. Reboot
6. ret

[2016-10-07 06:42] thockin commented on #26230
The linked PR was closed for lack of time on the contributor's part, but it's almost done.  Someone who has an hour or two of time could easily finish this off.

[2016-10-07 06:52] joonathan commented on #31222
I have not seen any more health-check changes for deployments other than one that still specified httpHeaders for the probe.

[code]

Is it expected that this health-check initially gets created correctly to /healthz of the service and later reverts to "/"?

[2016-10-07 06:58] axsuul commented on #34132
Is this related to customizing arguments for the kubernetes API server? I'm trying to customize the secure port it listens on (`--secure-port=8081`) but I'm not sure how to do it when setting up the cluster with `kubeadm`.

[2016-10-07 07:07] manojlds commented on #29298
How to create a private ELB with private subnets?

[2016-10-07 07:14] AndryBray commented on #34252
If I comment volumes and volumeMounts from my webapp.yaml deployment, the pod runs without problems.
So I connect to its bash just to try to mount manually the NFS:

`mount  10.0.0.8:/exports /mnt/ -vvv -o nolock`
[code]

Tested even:
`mount  -t nfs 10.0.0.8:/exports /mnt/`
`mount  -t nfs 10.0.0.8:/exports /mnt/ -o vers=4`
`mount  -t nfs 10.0.0.8:/exports /mnt/ -o nolock,vers=4`
etc.etc.

Do I mis

[2016-10-07 07:15] errordeveloper commented on #34132
James, no this is not related. To your question, please try editing
/etc/kubernetes/manifests/kube-apiserver.json, but please create another
issue if you have more questions.

On Fri, 7 Oct 2016, 08:59 James Hu, <notifications@github.com> wrote:

[2016-10-07 07:17] k8s-merge-robot opened #34304 "[k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/51/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]

Previous issues for this test: #27470 #30156

[2016-10-07 07:21] TerraTech commented on #32869
@euank thank you for the clarification, most helpful.

[2016-10-07 07:37] jsafrane commented on #34242
We could tag AWS EBS and Cinder volumes on attach with name(s) of pod(s) that use it and un-tag it on detach. I am not sure about GCE, there is PD.Description where we put some json when dynamically creating the volume. Perhaps we can update the json on attach/detach. I don't know anything about Ceph RBD, which is getting attach/detach support soon.

In addition, on AWS we assign devices /dev/xvdb

[2016-10-07 07:45] wojtek-t commented on #34219
As I wrote - I don't think it's "cache issue". I think is watch related. I hope I will have time to look into it more next week.

[2016-10-07 07:57] axsuul opened #34307 "Updating kubeadm manifests"
I provisioned my kubernetes cluster using `kubeadm` but I would like to change the option to `--secure-port=8081` for the API server. It seems like changing this manifest file

[code]

would give me what I want but how would I apply the changes? Running

[code]

doesn't appear to update it properly.

[2016-10-07 07:57] Random-Liu opened #34308 "Docker Engine API is deprecated."
Docker Engine API was deprecated https://github.com/docker/engine-api 20 days ago.
The client library is moved into docker repo https://github.com/docker/docker/tree/master/client.

We should consider switch to using it.

/cc @kubernetes/sig-node

[2016-10-07 07:58] axsuul commented on #34132
@errordeveloper Thanks, I've opened up issue #34307 with more questions

[2016-10-07 08:05] colemickens commented on #34307
@axsuul The `kube-apiserver` is a static pod manifest, so you will need to actually manually edit the `/etc/kubernetes/manifests/kube-apiserver.json` file on your master.

[2016-10-07 08:10] axsuul commented on #34307
@colemickens I have edited it but what do I do editing it?

[2016-10-07 08:14] colemickens commented on #34307
I would've expected the `kubelet` sync loop to notice the difference and update/replace the Pod.

If it didn't, you could try deleting the `kube-apiserver` pod and letting it respawn from the manifest whenever `kubelet` notices it's missing (note, this obviously could lead to apiserver being unavailable for a period of time, presumably rather short period of time).

[2016-10-07 08:20] jszczepkowski opened #34309 "make release fails w/ rsync error"
When I try to `make relese`, i get the following error:

[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: `GCE`

[code]

[code]

[2016-10-07 08:20] jszczepkowski commented on #34214
New issue: #34309

[2016-10-07 08:23] wojtek-t commented on #34309
I see the same.

[2016-10-07 08:24] gmarek commented on #34309
Me too. All of us are using go version go1.6.3 linux/amd64.

[2016-10-07 08:51] colemickens commented on #34309
Reported here: https://github.com/kubernetes/kubernetes/issues/34300 My issue references other fixes. The other fixes may resolve this problem for some people.

[2016-10-07 08:51] colemickens commented on #34309
cc: @jbeda

[2016-10-07 08:53] sparrc commented on #11606
@arschles, from what I can tell, that repo still has the same problem. for example, [this code](https://gist.github.com/sparrc/62fa9fd1f2eae9d9dba12855459af982) compiles to a 45MB binary 🙁

[2016-10-07 08:58] feiskyer commented on #34040
@Random-Liu Currently sandbox and image APIs in CRI are tested. Container apis will be added later.

[2016-10-07 08:58] IanLewis commented on #29542
@AdoHe The data field is basically arbitrary JSON that the user can specify per object.

[2016-10-07 09:01] gmarek commented on #34219
I thought about the cache mostly because it's an error that appeared in the reflector, but if @wojtek-t thinks it's the watch, then I'd go by that.

[2016-10-07 09:03] gmarek commented on #34219
@lavalamp - can you assign someone to take a look at this? Whatever it is it looks like a race somewhere in the API server.

[2016-10-07 09:05] piosz opened #34310 "Load tests of logging pipeline"
Kubernetes users raised a bunch of issues with monitoring pipeline. The most common is that fluentd tends to OOM even with moderate load (ref #29411). In order to fixed those problems first we need to perform load test of monitoring pipeline.

The work items:
- [x] design and implement a tool for logging load tests
- [x] benchmark fluentd+GCL pipeline
- [ ] benchmark fluentd+ES pipeline
- [x] setu

[2016-10-07 09:07] errordeveloper commented on #33638
@pires yes, I didn't suggest we have to prioritise those, but it'd be good start the conversation on that topic. Also, being able to just pass interface names would be extremely handy.

[2016-10-07 09:07] errordeveloper opened #34311 "kubeadm should bind API to port 6443 to avoid obvious collisions"

[2016-10-07 09:07] errordeveloper commented on #33638
@guybrush @jacek-marchwicki I've opened https://github.com/kubernetes/kubernetes/issues/34311.

[2016-10-07 09:08] piosz commented on #34310
cc @fgrzadkowski @kubernetes/sig-instrumentation

[2016-10-07 09:09] errordeveloper commented on #34134
No, I don't think there is one, I mean you should have opened this issue in that repo...

[2016-10-07 09:12] Random-Liu commented on #33189
I checked one e2e test failure and found it failed because pod sandbox was not started:
[code]

`\"kubenet\": Failed to execute iptables-restore: exit status 1 (iptables-restore: line 3 failed\n)"` @freehan

[2016-10-07 09:17] errordeveloper commented on #34134
But you don't have to, just trying to be a bit more organised :)

[2016-10-07 09:21] hus787 opened #34312 "HPA doesn't get ready, has no events and keeps showing <waiting> in the current status"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- GCP

**What happened**:

After running HPA for several days, `kubectl get hpa,pod,deployment,rc,service,node -owide --all-namespaces` no longer returns the correct info about the Current CPU usage, it's as if frozen.

I then deleted both the deployment

[2016-10-07 09:29] Random-Liu commented on #33189
Another flake `Job should scale a job up 5m20s`. Will investigate it.

[2016-10-07 09:38] axsuul opened #34314 "Node `NotReady` status with "Kubelet stopped posting node status error""
On k8s 1.4 and used `kubeadm` to provision cluster:

I have node and master on same server. Suddenly by node is posting a `NotReady` status. Running a

[code]

returns

[code]

I've tried restarting the server to no success. How would I debug this? Thanks

[2016-10-07 09:40] #31691 closed

[2016-10-07 09:48] jsafrane commented on #30606
@speedplane: it *is* maintained as long as you don't delete the PVC. Reclaim policy is executed *only* if kuberenetes sees a PV that was bound to a PVC and the PVC does not exist.

[2016-10-07 10:04] rzarzynski commented on #32266
Agreed, a couple options exist. I recently talked with @dillaman and in the long term perspective there is a plan to develop TCMU-based bridge for librbd. Anyway, I would expect that those bridges (`rbd-nbd`, `rbd-tcmu`, `rbd-*`) will be so similar (as basing on the same library and having the same features including fencing) that it makes sense to address them with one single plugin called e.g. `

[2016-10-07 10:37] rzarzynski commented on #32266
I'm afraid this isn't entirely accurate as the kernel version is a significant degree of freedom. Encountering the version-related limitation tends to be game-over as upgrading the whole kernel to get newer krbd often isn't an option. Moreover, the problem might become much more visible soon as Ilya finishes merging some new features in krbd.

User-space solution wouldn't be locked to kernel versi

[2016-10-07 10:48] manojlds commented on #21397
What's the best approach to setup private/public elbs with Route53? Currently I have to handle them via Terraform, which means that I cannot have any random service in k8s served via elbs and dns, but have to be predefined externally.

[2016-10-07 11:02] wojtek-t commented on #33653
@xiang90 @hongchaodeng
I did the experiment with your PR: #34246 and it is waaaaaaaaaaaaaaay better.
And I'm talking both about metrics, but also about the logs that I mentioned before:
[code]
vs this one with your changes:
[code]

And what is more, I forgot to switch on protobufs which is making things even faster.

So backporting this feature to 3.0.x would really help.

[2016-10-07 11:12] rhatdan commented on #33139
Well theoretically you could have processes inside of the same pod with different SELinux labels. For example you could have container_apache_t which is only able to listen on port 80. and a monitoring container type container_t which is allowed all ports and to control container_apache_t.

But this would be by far the exception.

[2016-10-07 11:17] k8s-merge-robot opened #34317 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: udp {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/517/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: udp {Kubernetes e2e suite}

[code]

[2016-10-07 11:31] kargakis opened #34318 "The testing framework doesn't respect additional AfterEach calls"
I am trying to set up a failure trap in an AfterEach related only to the deployment e2e suite in https://github.com/kubernetes/kubernetes/pull/34316 but it seems that the testing framework will execute its own AfterEach first that deletes the namespace where the test runs thus preempting my failure trap.

I would like to have my special-cased AfterEach run before the framework's AfterEach. Does it

[2016-10-07 11:31] piosz commented on #29023
This is fixed right now.

[2016-10-07 11:31] #29023 closed

[2016-10-07 11:57] Bashton-MattBuckland opened #34321 "kube-proxy iptables unequal load-balancing"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.7", GitCommit:"a2cba278cba1f6881bb0a7704d9cac6fca6ed435", GitTreeState:"clean", BuildDate:"2016-09-12T23:15:30Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.7", GitCommit:"a2cba278cba1f6881bb0a7704d9

[2016-10-07 12:13] #32308 closed

[2016-10-07 12:21] jayunit100 commented on #34318
hmmm..

- Can  your individual tests handle this logic with something like a `defer` ?

- You are right I beleive use of ginkgo AfterEach is non deterministic because we already have setup the testing framework to use it on its own.

- Maybe some specifics on why you need you're own custom AfterEach would help: Its possible that we should consider your specific cleanup needs as a feature which e2e

[2016-10-07 12:27] kargakis commented on #34318
I cannot use defer because I need to know if the test passed or failed. Passing `CurrentGinkgoTestDescription().Failed` in defer doesn't work.

I want to log the deployment and replica set objects in case the test fails. This is specific to the deployment tests so I would expect to use `AfterEach` instead of adding the logic in the framework.

This sounds like what I am after.

[2016-10-07 12:28] AdoHe commented on #34292
I believe we have discussed this on this issue #26202

[2016-10-07 12:35] jayunit100 commented on #34318
OK.  I guess if there is a way for the framework to know what test its running, it could specifically trigger AfterEach's for that test?  seems tricky at first glance but only looking superficially

[2016-10-07 12:36] gmarek commented on #32685
cc @mwielgus @quinton-hoole

[2016-10-07 12:36] deads2k commented on #34069
Asking for credentials means 401 (authentication).  Any chance you're using a service account token for a namespace that the namespace controller is cleaning up underneath you?

[2016-10-07 12:43] peterkellyonline opened #34324 "kubeadm should have an option on master to print out join command again"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubeadm master join

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

A convenient command such as `kubeadm config` or `kubeadm show` to return the command for a node to join the cluster i.e. `kubeadm join --token <toke

[2016-10-07 13:04] gnufied commented on #34300
@colemickens I meant something like https://gist.github.com/gnufied/e3b85ef5db3668ae7850c266d8c57bfd

Where you can replace location of `rsyncd.passwd` with your actual location and port with your actual port (like  32777)

[2016-10-07 13:05] gnufied commented on #34300
ALso, each time you run `make release` the container gets deleted and recreated and hence port number will change.

[2016-10-07 13:12] jsafrane commented on #34069
No, the test uses standard e2e framework where a namespace is created at the beginning and it's destroyed *after* the test finishes. Almost the same test "DynamicProvisioner Alpha" was successful in this test run - it calls the same `testDynamicProvisioning` as the failed test, just with slightly different objects. Compare https://github.com/jsafrane/kubernetes/blob/master/test/e2e/volume_provisio

[2016-10-07 13:12] zeg-io commented on #28612
@crockpotveggies adding the /ui actually worked for me without changing the port... but... it doesn't seem to be connected to my project, at least, not in a recognizable way for someone who is unfamiliar with the tool.

[2016-10-07 13:26] dims commented on #34308
@Random-Liu we'll need to switch cadvisor over as well. right? (https://github.com/google/cadvisor/tree/master/vendor/github.com/docker/engine-api)

[2016-10-07 13:34] jbhurat opened #34327 "Container Stats/Metrics support for Windows Containers"
cAdvisor does not work on Windows. This issue is to track the work involved in getting container stats/metrics from Windows Containers to kubelet.
[Support cAdvisor on Windows](https://github.com/google/cadvisor/issues/1394) was created sometimes ago and the advise from the community was to for the [Container Runtime Interface](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/co

[2016-10-07 14:04] deads2k commented on #34069
Well, you'll only end up with a 401 if you're submitting an invalid token and SA tokens are usually the culprit.  Not sure how you'd get it otherwise.

[2016-10-07 14:08] gajju26 opened #34328 "Regarding required changes for s390x architecture"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):s390x

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUES

[2016-10-07 14:22] kargakis commented on #30388
Dupe of https://github.com/kubernetes/kubernetes/issues/31810

[2016-10-07 14:22] #30388 closed

[2016-10-07 14:27] justinsb commented on #34267
@jnewland can you confirm that by "controller instance" you mean the master?

My hypothesis is that during a kube-controller-manager restart we update the ELB when we have seen the service, but before we have seen all the nodes.  We run two watches, one against the services, and one against the nodes.  In the past we have had bugs where we have not waited for a watch to "be ready" before starting

[2016-10-07 14:31] kargakis commented on #33462
It would be easier to add another strategy natively once we have custom strategies and people cannot come up with custom BG easily on their own. https://github.com/kubernetes/kubernetes/issues/14510

[2016-10-07 14:34] #31810 closed

[2016-10-07 14:39] quinton-hoole commented on #32685
#34325 is the proposed fix

On Oct 7, 2016 5:36 AM, "Marek Grabowski" <notifications@github.com> wrote:

[2016-10-07 14:50] squeed commented on #28667
Hi there, rkt developer here,
Has any progress been made? The current [CRI spec](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto) doesn't seem to have much in the `PodSandboxConfig` - i.e. the "create" datatype - w.r.t. networking.

Will the CRI support both kubelet and runtime invocation of CNI?

On the flip side, the `PodSandboxStatus` - the "read"

[2016-10-07 14:51] derekwaynecarr commented on #33876
This looks like an error in bringing up a cluster and not this specific test.

[2016-10-07 14:52] derekwaynecarr commented on #33876
Hmm, actually, the last cases look like legitimiate flakes.

[2016-10-07 14:52] k8s-merge-robot opened #34331 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/1116/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Previous issues for this test: #30100 #31810

[2016-10-07 14:52] derekwaynecarr commented on #33876
@aveshagarwal -- can you investigate?

[2016-10-07 14:55] aveshagarwal commented on #33876
@derekwaynecarr sure.

[2016-10-07 14:58] feelobot opened #34333 "Kubectl Describe Federated Replica Set Fails"
Bug Report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
GKE
- **Cloud provider or hardware configuration**:
Google
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Federated Replica Sets do not have a describe option

**What you expected to happen**:
I expect to talk to a federated api and ask

[2016-10-07 14:59] mfojtik commented on #14510
@bgrant0607 a custom strategy can be something like using "rolling" as is it today, but add some hooks before, in middle and after the rollout. Inside deployer Pod, we can have logic like this:

[code]

[2016-10-07 15:08] nvnobelen commented on #33975
@colemickens Very similar I agree: The art is in finding the features in the whole list (plus sometimes: What is not there today, is suddenly there tomorrow: It is a fast moving project ;) )
Thanks, closing this one and going to experiment with the Dynamic Disk Provisioning.

[2016-10-07 15:08] #33975 closed

[2016-10-07 15:11] mtaufen opened #34335 "Move submit queue blocking tests to GCI by default."
We are planning to switch the following submit-queue blocking test jobs to use GCI as the default image on nodes before the code freeze (but ideally as soon as possible):
- `kubernetes-e2e-gce`
- `kubernetes-e2e-gce-slow`
- `kubernetes-e2e-gke`
- `kubernetes-e2e-gke-slow`

The status of these jobs (container-vm vs GCI pass rates) and issues under investigation are being tracked here (you must be a

[2016-10-07 15:16] gmarek opened #34336 "Create a library for saturating the cluster that will be shared between density test and scheduler benchmark."
This way we'll be able to easily compare accuracy of the benchmark and make reduce the code duplication.

cc @wojtek-t @hongchaodeng

[2016-10-07 15:16] kargakis commented on #34331
Seems to be using the 2m timeout instead of the 5m timeout I added in https://github.com/kubernetes/kubernetes/pull/34323 - closing
[code]

[2016-10-07 15:16] #34331 closed

[2016-10-07 15:17] sachincab opened #34337 "Hardcoded values in fluentd-elasticsearch addon"
Hi Team,

Noticed couple hardcoded values in fluentd-elasticsearch addon as mentioned below:

**fluentd-es-image**
td-agent.conf in fluentd-es-image has hardcoded host value (host elasticsearch-logging) which is not working for us in two scenarios, is it possible to fix this to pass this as environment available or
{SVCNAME}_SERVICE_HOST?

1) we are using environment specific cluster domain (e.g.

[2016-10-07 15:19] sachincab commented on #29549
This issue has been fixed once TLS enabled in cluster.

[2016-10-07 15:19] #29549 closed

[2016-10-07 15:29] dtschan commented on #25241
Looks like I hit this issue on OCP 3.3 while developing an Ansible module which configures resources using `oc apply`. After a resource is edited manually, e.g. with `oc edit`, the next module run fails when calling `oc apply` with:

    metadata.resourceVersion: Invalid value: 0: must be specified for an update

Example: the resource is initially created with `oc apply` using this input:

    {

[2016-10-07 15:32] jnewland commented on #34267
Yes, that's correct. I prefer to avoid the other language if at all possible. I'm sorry if that introduced any confusion here!

This looks like it is pretty close to what happened in the case I referred to when filing this issue. From the same set of logs I referred to in the OP:

[code]

It does appear that nodes were observed *before* the servicecontroller tried to ensure the LB, but only briefl

[2016-10-07 15:33] deads2k commented on #34148
I think this fits nicely with the goals of `kubectl create`.  We've used this downstream to have `oc create deploymentconfig the-name --image=nginx` which produces the minimal object required.   We've started having these commands in kube as well, but we haven't created a similar one yet.

[2016-10-07 15:34] deads2k commented on #34148
@fabianofranz you'll probably get some mileage out of an upstream port here.  Remember the `kubectl create` guidelines for minimal flags (https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md#create-commands)

[2016-10-07 15:39] speedplane commented on #30606
@jsafrane okay, got it. So just have to be careful with the PVCs, deleting one is like deleting all the data on the disk.

[2016-10-07 15:50] kargakis commented on #24152
@rileylark this shouldn't be an issue in 1.4 anymore

[2016-10-07 16:02] deads2k commented on #16779
Agree.

This is an interesting idea.  How would you link the secret back to the service account? Use the existing annotations?

If we allow multiple different credentials, how would we indicate which ones would get auto-mounted and which ones wouldn't?

Agree.

[2016-10-07 16:06] soltysh commented on #34148
With `kubectl create` you still need to pass `-o yaml` but I think that's perfectly reasonable. I don't see any justification for additional commands that will spit the object back at you by default.

[2016-10-07 16:10] ncdc commented on #34256
I have previously investigated and fixed multiple issues where `kubectl exec` wasn't receiving all the data it was expecting. I have attempted to reproduce this recently, as I too have noticed the increasing number of test flakes of this nature. I updated my local checkout, made sure my `KUBERNETES_PROVIDER` was set to GCE, and then I ran `cluster/kube-up.sh`, which I believe runs the GCI image by

[2016-10-07 16:13] ncdc commented on #33756
I just noticed #34256 - let's move the discussion there.

[2016-10-07 16:13] ncdc commented on #33649
I just noticed #34256 - let's move the discussion there.

[2016-10-07 16:21] mtaufen commented on #33756
Nice work making that connection. SGTM.

[2016-10-07 16:31] MrHohn commented on #34309
Have the exact same issue. With the latest commit f765f5e5d007937864b4bfd49caa9701dc07da7a and go version go1.6.3 linux/amd64.

[2016-10-07 16:59] therc commented on #27013
I found an example:
```2016-10-07 16:54:03 +0000 UTC   2016-10-07 16:49:03 +0000 UTC   6         XYZ-908500842-z9aa7   Pod                 Warning   FailedValidation   {kubelet ip-10-ABC}   Error validating pod XYZ-908500842-z9aa7.staging from api, ignoring: spec.containers[0].securityContext.privileged: Forbidden: disallowed by policy```

It apparently never ran and was in Terminating state for 1

[2016-10-07 17:03] mtaufen commented on #34132
There is an alpha version of the dynamic settings feature, but it still needs a lot of work. I'm going to be mostly focused on GCI-related things for v1.5, but am planning be giving it high-priority focus for v1.6. I wouldn't recommend building on top of dynamic settings just yet, as it will undergo some significant changes (e.g. we will move to telling a node which configmap to use via annotation

[2016-10-07 17:03] ymqytw commented on #34256
@ncdc I paste the steps that @jingxu97 told me how reproduce it. It works for me.

1. Use gcloud command to create a disk https://cloud.google.com/sdk/gcloud/reference/compute/disks/create
2. Create a pod which reference this pd
https://gist.github.com/jingxu97/b9afc582fa52eb83042ac9d4a5b337ea
3. Use kubectl to write a string to a file in the pod's container
kubectl exec <podname> -c=<containernam

[2016-10-07 17:10] captify-akraievoy commented on #33775
Confirming this is not working in default 1.4 k8s AWS install.

See here for [actual cause](https://github.com/grafana/grafana/issues/4533#issuecomment-207813911): it seems that guys from influxdb team decided to walk away from some API perks which grafana 2.6 relied on, so I have to either downgrade influxdb version or force upgrade to grafana 3+

[2016-10-07 17:16] ncdc commented on #34256
Can you reproduce without the PD?

On Friday, October 7, 2016, Mengqi Yu <notifications@github.com> wrote:

[2016-10-07 17:17] bprashanth commented on #31222
No, http headers in health checks is currently not supported: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#health-checks

It should not create /healthz at all, if it is we should fix that.
Can you give me the ingress/services so I can try to repro?

[2016-10-07 17:25] bprashanth commented on #34291
Hmm, what services match those node ports? all the clusters should essentially see the same services/nodeports, and hence apply the same backend updates.

Ping me or someone else on GKE team if you need to know how to get GKE master logs.

[2016-10-07 17:27] #34333 closed

[2016-10-07 17:32] ncdc commented on #34256
I was finally able to get this to reproduce. It took close to 5000 `kubectl exec` calls before it did :-(. I'm going to up my log level and add some debug logging and see what I get.

[2016-10-07 17:32] freehan commented on #34278
A periodic sync([]podID) would allow us to purge everything not in that list.

We could trigger a GC sync once encounter a `no IP address` error. That should avoid the race between `docker ps/inspect` and ipam file check.

Thoughts?

[2016-10-07 17:32] jingxu97 commented on #34256
Actually we haven't try that yet. Mengqi, could you also try create a pod
without a PD attached and the rest should be the same. Thanks!

Jing

On Fri, Oct 7, 2016 at 10:16 AM, Andy Goldstein <notifications@github.com>
wrote:

--
- Jing

[2016-10-07 17:33] ursuad commented on #16517
I also ran into an issue with Spark on Kubernetes with the executors having wrong IP Addresses which might be relevant here. https://github.com/kubernetes-incubator/application-images/issues/10

[2016-10-07 17:34] lavalamp commented on #34219
Are you sure there's actually a bug in apiserver as opposed to the test doing something wrong?

[2016-10-07 17:45] xiang90 commented on #33653
@wojtek-t Ideally the number should be 0, right? Do we have any idea why it is not?

[2016-10-07 17:49] thockin opened #34345 "kubectl create -f - doesn't respect EOF"
When running `kubectl create -f -` it reads stdin, but when I hit ^D (EOF) it does not stop reading input.

[2016-10-07 17:51] bprashanth commented on #34278
Can you flesh out the race?
If I find a hash in the file, and docker inspect it:
* And the container has exited: we have what we want
* Docker says no such container: docker must have restarted, becase at one time it knew the hash

Even if it's just about to reallocate that hash to another container, the new container must get a new ip (so not the one you're deleting) or wait for your delete to ge

[2016-10-07 17:52] ixdy commented on #34309
I think https://github.com/kubernetes/kubernetes/pull/34288 will fix this for Googlers. not sure about @colemickens' problem.

[2016-10-07 17:59] madhusudancs commented on #34291
They don't.

[code]

[2016-10-07 18:03] freehan commented on #34278
If we put GC sync inside the mutex protected block, then kubenet will wait till the GC has completed to get a new ip.

host-local ipam will allocate a new IP.

[2016-10-07 18:12] aveshagarwal commented on #33876
This test case failed because one of  the pods  (although does not seem like this kibana pod is needed for this test) never became Running (Ready=true).

[code]

Due to this, the actual test infact did not run at all and got out with the following error:

[code]

[2016-10-07 18:14] freehan commented on #34278
Okay. I will put together a PR shortly.

[2016-10-07 18:16] bprashanth commented on #34278
Lets say we don't even lock anything, as a though experiment, what's the race?

[2016-10-07 18:19] marun commented on #22063
For anyone who needs a short-term fix, I'm running ``oc observe`` to synchronize /etc/hosts with nodes' ip address:

https://github.com/openshift/origin/blob/master/images/dind/master/openshift-sync-etc-hosts.service

[2016-10-07 18:19] wojtek-t commented on #33653
Yes - ideally it should be 0 - though we should also check it with protobufs in storage enable to see if it will be smaller.

I think there can be multiple reasons of it not being 0. Once hypothesis is that we are calling decodeObject in the go-routine that is processing objects from the incoming channel:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd3/watcher.go#L352

This

[2016-10-07 18:23] bowei commented on #34256
This flake that checks for the contents of `/etc/hosts` seems to also be caused by an `exec "cat <file>"` returning empty string.

In this case, the test POSTs an `exec` API request directly to the server rather than going through `kubectl`. Note that this flake only occurs for GCI.

issue https://github.com/kubernetes/kubernetes/issues/27023

[2016-10-07 18:23] bowei commented on #27023
This seems to be caused by issue https://github.com/kubernetes/kubernetes/issues/34256.

[2016-10-07 18:31] wojtek-t commented on #34219
@lavalamp - test is just using a reflector and nothing else underneath. So I'm pretty sure it's somewhere in our infrastructure. I can try looking deeper into it next week.

[2016-10-07 18:33] ncdc commented on #34256
I am running in an endless loop with spdystream debugging enabled, but so far it hasn't failed. I'm amazed this seems to happen as frequently as it does in Jenkins tests but I'm not able to make it fail quickly.

[2016-10-07 18:38] whitlockjc opened #34348 "Generic webhook admission controller support"
A few weeks ago on Slack I brought up the idea of writing a generic webhook admission controller.  Much like authentication, authorization and even the `ImagePolicyWebhook` admission controller, the idea would be that Kubernetes could call out to some external resource that itself implements the necessary bits based on their need as an admission controller.  The implementation details are not full

[2016-10-07 18:52] pwittrock commented on #34292
@AdoHe Yeah this is the root cause of #26202, but impacts a number of different cases

[2016-10-07 18:54] ncdc commented on #34256
Finally got it to flake with spdystream debugging on. Here's normal behavior in the kubelet:

[code]

And here's the flake:

[code]

Stream 1 is an "error" stream where the kubelet can report internal errors.

Stream 3 is stdout from the container.

Stream 5 is stderr from the container.

In the normal log, we see `(0xc820e360a0) (3) Writing data frame`, which in my case is the output from `cat`in

[2016-10-07 19:04] erictune commented on #30819
I'd be fine with dropping alpha at the same time as we go stable so that you won't strongly disagree with 4.ii.

From a user perspective, if the beta API and GA API are identical, and we make them update their config and recreate all their objects at the same time as they update their cluster version, that just seems unnecessary.

If you buy that, then why doesn't the same argument apply to alpha

[2016-10-07 19:06] blalor commented on #1957
Implemented by #31622?

[2016-10-07 19:09] yujuhong commented on #27097
We've decided to punt the monitoring issues to after v1.5, in the hope that the monitoring pipeline will be more well-defined by then.

[2016-10-07 19:10] aveshagarwal commented on #33876
It seems that kibana pod is one of the system pods that is needed to in Running (Read = true) for this test to go ahead and failure of the pod failed this test.

[2016-10-07 19:10] bprashanth commented on #34256
hmm, exec has a lot of moving parts making it hard to debug, can you avoid the flake in the test? If you're execing something, do it in a retry loop. If we need better guarantees, we should replace kubectl exec with something like ssh+nsenter (random idea, ssh will also flake but fail cleanly with an error).

I don't see how we can provide stability guarantees when it's built on docker exec which

[2016-10-07 19:16] colemickens commented on #34300
Thanks @gnufied. I matched the port in that script to the port in my `docker ps` output. I also fixed the `kube-build` path to point at the correct dir in my tree.

This does indeed help narrow things down. It  falls out without ever printing the "hooray" message. I'm not really sure why though.

[2016-10-07 19:18] jbeda commented on #34300
Sorry that you are having problems!

Can you try a couple of things to help narrow this down?

First, run `bash -x KUBE_VERBOSE=6 build/run.sh echo hello`.  This will create a *lot* of spew, probably.  You can put that in a gist and link from here.

Second, you can comment out `kube::build::stop_rsyncd_container` at the end of `build/common.sh` and then run `build/copy-output.sh`.  This will leave

[2016-10-07 19:18] colemickens commented on #34300
Well this is deeply, deeply embarrassing. I didn't have `rsync` installed. Maybe we could add an explicit check for it?

[2016-10-07 19:19] jbeda commented on #34309
This is probably a dupe of #34300 but worth trying to collect more data and isolate.  Instructions from there:

First, run bash -x KUBE_VERBOSE=6 build/run.sh echo hello. This will create a lot of spew, probably. You can put that in a gist and link from here.

Second, you can comment out kube::build::stop_rsyncd_container at the end of build/common.sh and then run build/copy-output.sh. This will l

[2016-10-07 19:20] colemickens commented on #34300
(I didn't see any errors during troubleshooting that would've pointed it out sooner. Wasn't until I started running the steps from @gnufied's script that I noticed `rsync` clearly being missing.)

[2016-10-07 19:21] jbeda commented on #34300
Not embarrassing at all!  It is a prereq that we should verify and ask folks to install.

The good thing is that once we get this solid all other build steps will run in a container with a much more deterministic environment.

[2016-10-07 19:21] axsuul commented on #34307
When changing the `--secure-port` option in the manifest, it immediately places the `kube-apiserver` pod into a **pending** state. I've tried different ports and changing it back to `443` makes it **active** again.

Am I missing something here?

[2016-10-07 19:22] aveshagarwal commented on #33876
So for any test case in test/e2e/scheduler_predicates.go to even execute, `BeforeEach` should work without any error, otherwise the tests fail.

[code]

[2016-10-07 19:29] jbeda commented on #34309
Can you folks also check that you have rsync (and which version)?

[2016-10-07 19:30] colemickens commented on #34307
cc: @luxas @errordeveloper

[2016-10-07 19:32] wernight commented on #16779
I don't understand practically all what you mean. For example what does "Pods without a service account mentioned at creation get the default service account" mean? Does it mean that a Pod not explicitly asking for service accounts still gets a token that gives it some access?

[2016-10-07 19:36] axsuul commented on #34307
Also want to point out that there's no events for `kubectl describe pod kube-apiserver` as well as nothing informative in `kubectl get events`

[2016-10-07 19:40] MrHohn commented on #34309
Checked.
[code]

[2016-10-07 19:53] colemickens commented on #34307
I wouldn't expect this (`kubectl describe pod kube-apiserver`) to return anything anyway, you need to be looking at the `kube-system` namespace for the apiserver pod.

[2016-10-07 19:59] k8s-merge-robot opened #34354 "[k8s.io] Pods should be submitted and removed [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/586/

Failed: [k8s.io] Pods should be submitted and removed [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26224

[2016-10-07 20:00] xiang90 commented on #33653
@wojtek-t 3.0.11 is released with prevKV: https://github.com/coreos/etcd/releases/tag/v3.0.11

[2016-10-07 20:02] dcbw commented on #31307
@caseydavenport @thockin to be completely clear, I am proposing that we add 'hostport' and 'shaping' blocks *to the CNI spec* and implement 1st-party CNI plugins for these, including potentially a long-running process to manage reservations somewhat like the CNI 'dhcp' IPAM plugin already does.  They would not be specific to k8s at all, but standard CNI components.

[2016-10-07 20:04] ncdc commented on #34256
@bprashanth while you could do that for the PD tests, we have tests specifically for `kubectl exec` that are also flaking.

The big news which I just established is this appears to be a bug in docker in the gci image. I ran the following and it flaked on me:

[code]

[2016-10-07 20:06] axsuul commented on #34307
Sorry, what I meant was `kubectl describe pod kube-apiserver -n kube-system`

[2016-10-07 20:06] thockin commented on #31307
I am in favor of that.  I am of two minds on who should be actually holding
ports open.  It makes most sense for CNI to do it.

On Fri, Oct 7, 2016 at 1:02 PM, Dan Williams <notifications@github.com>
wrote:

[2016-10-07 20:07] jkemp101 opened #34356 "Routecontroller error message"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Jessie
- **Kernel** (e.g. `uname -a`): `Linux ip-10-0-9-45 4.4.23-k8s #1 SMP Fri Sep 30 13:51:02 UTC 2016 x86_64 GNU/Linux`
- **Install tools**: kops
- **Others**:

**What happened**:
Built 3 master/3 node cluster in three AZs.  Receive

[2016-10-07 20:09] zaa commented on #33602
@rootfs Thank you for the clarification. Yes, it would be great to have the requirement documented.

[2016-10-07 20:14] lavalamp commented on #34292
Did you mean, "not easily differentiated"?

[2016-10-07 20:18] yujuhong commented on #34327
@jbhurat, @sig-node has decided that the monitoring related issues won't be handled in CRI in k8s 1.5 release.  https://github.com/kubernetes/kubernetes/issues/27097#issuecomment-252336387
We will resume the discussion after the release, when we have a more clear picture of the monitoring pipelines.

[2016-10-07 20:21] ncdc commented on #34256
@runcom are you aware of anything in upstream docker 1.11.2 where `docker exec` sometimes doesn't send stdout back to the client?

[2016-10-07 20:22] erictune commented on #30819
No, this does not work.  Last updated needs to win.

[2016-10-07 20:22] bprashanth commented on #34256
@kubernetes/sig-node for clarity on the suspect docker issue mentioend in https://github.com/kubernetes/kubernetes/issues/34256#issuecomment-252348467

[2016-10-07 20:23] lavalamp commented on #34292
My suggested workflow is something like:

1. Add a POST dry-run mode to apiserver, so clients can discover the result of the defaulting step.

Then, at apply time, we can compute some series like this:

[code]

You need to come up with a test suite to make sure the procedure you implement handles all the cases. I'm not convinced the above does.

* The defaulting system can change. I think in that

[2016-10-07 20:25] runcom commented on #34256
@ncdc I'm not sure, I remember something but can't check right now (afk). I will later today.

[2016-10-07 20:25] jingxu97 opened #34358 "WIP: Use fixed timeout period for detaching volumes might cause unexpected behavior"
In current volume management at master, it uses a fixed timeout period (6 mins) to avoid waiting infinitely for. If the time elapsed since last detach requested time exceeds the timeout, master will detach the volume no matter whether it is safe to detach or not.

[2016-10-07 20:26] jbhurat commented on #34327
Thanks for the heads up @yujuhong

[2016-10-07 20:27] thockin commented on #30819
n Thu, Oct 6, 2016 at 2:21 PM, Clayton Coleman <notifications@github.com> wrote:

I really am torn.  I *totally* ack the need to move quickly and not
carry infinite baggage.  But I also feel that it's more considerate to
overlap compat when we can.  I know that is not always possible, or is
sometimes more inconvenient than it is worth.

I'm willing to soften my stances to "when possible and not ov

[2016-10-07 20:30] yujuhong commented on #34256
/cc @vishh @mtaufen @dchen1107

[2016-10-07 20:31] thockin commented on #30819
We have no real way to manage that, though.  As long as we *never ever*
up-convert automatically, is it a hardship to say that you might get
surprised if you update the alpha field while the beta field exists?

On Fri, Oct 7, 2016 at 1:22 PM, Eric Tune <notifications@github.com> wrote:

[2016-10-07 20:31] caseydavenport commented on #31307
Do you mean CNI plugins? Or the kubelet CNI driver? ;)

@dcbw thanks for the clarification - that makes sense to me!

Yeah,  I believe the "args" field was explicitly added to the CNI network config for things like labels / annotations (Mesos uses this field to pass through kv pairs I think).  Maybe there is scope for defining the structure of that a bit more so it can be mor easily applied cross-

[2016-10-07 20:32] bprashanth commented on #10975
@ncdc @kubernetes/kubectl maybe we can prioritize this?
* a lot of e2es rely on exec functionality and it's a big developer time sink to root cause.
* docker exec has historically also been unstable: https://github.com/docker/docker/issues/14444, https://github.com/kubernetes/kubernetes/issues/34256, https://github.com/kubernetes/kubernetes/issues/25456, https://github.com/kubernetes/kubernetes/is

[2016-10-07 20:36] dcbw commented on #31307
@caseydavenport that's exactly why it was added, to allow runtimes or static configuration to pass opaque information into plugins.

[2016-10-07 20:38] ncdc commented on #10975
@bprashanth sure, although the latest test flakes appear to be because of a bug in docker and the only item from the list at the top that would potentially address that is "Variants on nsenter that are more aligned with the container". I think @kubernetes/sig-node is probably a more appropriate team to weigh in on that aspect than @kubernetes/kubectl.

@mrunalp @runcom are we any closer to having

[2016-10-07 20:41] bprashanth commented on #10975
Yeah i think this will probably have to be a cross team effort to make it easier to debug/more stable. Agree  docker exec instability is probably biggest contributor, but that's not to say we don't gain anything by having fewer proxies.

I think:

proposal is something like what we're already planning for cri.

[2016-10-07 20:43] MrHohn commented on #34309
`make quick-release` is working now. I think #34288 does fixed it.

[2016-10-07 20:53] jbeda commented on #34309
@MrHohn Great!

@jszczepkowski -- can you confirm if things are working for you?  If not, some of the debug spew will be helpful.

[2016-10-07 21:14] mrunalp commented on #10975
@ncdc With docker 1.11+, one can use runc exec instead of docker for exec.

[2016-10-07 21:56] vishh commented on #10975
Does `runc exec` also setup the environment appropriately (caps, env, etc.)?

On Fri, Oct 7, 2016 at 2:15 PM, Mrunal Patel <notifications@github.com>
wrote:

[2016-10-07 21:59] bgrant0607 commented on #159
Eviction subresource has been implemented:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/etcd/eviction.go

See also #24957

[2016-10-07 21:59] #159 closed

[2016-10-07 22:00] mrunalp commented on #10975
@vishh Yes, whatever docker exec supports is supported by runc exec because that's what is used under the hood starting with docker 1.11.

[2016-10-07 22:08] krzyzacy opened #34362 "Gubernator not highlight golint error"
@rmmh

Verify test from #34347

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34347/kubernetes-pull-verify-all/17359/?log

This need to be highlighted
[code]

[2016-10-07 22:10] GordonJiang commented on #24286
@chrislovecnm, see this thread be closed 20 days back. Is it resolved? Are we able to deploy cassandra in Petset for multiple datacenter in kubernetes? The key is cassandra nodes in different datacenter needs to talk to each other for data replication. How can we achieve it in kubernetes?

[2016-10-07 22:17] ravilr commented on #7294
@derekwaynecarr @vishh sorry to comment on a closed issue, but this has some context here:

Kubelet seems to set MemorySwap (libcontainer config) to -1 by default here:
https://github.com/kubernetes/kubernetes/blob/v1.4.0/pkg/kubelet/dockertools/docker_manager.go#L662

which means  /sys/fs/cgroup/memory.memsw.limit_in_bytes is set to unlimited (mem + swap) for the container.

Isn't the Memory+swap

[2016-10-07 22:19] dchen1107 commented on #33444
@dashpole Can I take this issue? Thanks!

[2016-10-07 22:22] bgrant0607 opened #34363 "Facilitate API orchestration/workflow"
Currently, building a general-purpose orchestrator for our API is more challenging than it should be.

Some problems (probably not exhaustive):
- There's no general way to determine when applications and/or services are "ready", such as for cases where applications need other applications to be up in order to start properly, which apparently is the case for some non-cloud-native applications (#176

[2016-10-07 22:24] thockin commented on #31307
On Fri, Oct 7, 2016 at 1:31 PM, Casey Davenport
<notifications@github.com> wrote:

I meant the CNI drivers, sorry :)  I know it's not the easiest model,
but it's the "rightest".  That said, I think we can go a long way with
kubelet holding the sockets and CNI drivers doing mappings.  Right up
until we have a driver that actually needs the socket.

[2016-10-07 22:24] kokhang opened #34364 "VSphere: Kubelet fails when the vsphere provider fails to get node addresses"
**Environment**:
- VSphere
- Openstack (possibly, since the openstack provider also talks to the compute API for its addresses)

**What happened**: When kubelet tries to set the node addresses, it gets this error when the vsphere provider cannot talk to the vcenter server.

`E1007 16:27:35.794667    3463 kubelet.go:2913] Error updating node status, will retry: failed to get node address from cloud

[2016-10-07 22:28] bgrant0607 commented on #30698
Somewhat related: #34363

[2016-10-07 22:34] lavalamp commented on #30698
Fixed my email-garbled comment above.

[2016-10-07 22:41] bgrant0607 commented on #17097
Noting an existing example so I don't forget: Service Accounts automatically inject secrets at a well known path within each container.

http://kubernetes.io/docs/user-guide/service-accounts/
http://kubernetes.io/docs/admin/service-accounts-admin/
http://kubernetes.io/docs/user-guide/kubectl/kubectl_create_serviceaccount/
[code]

[2016-10-07 22:46] bgrant0607 commented on #8800
@Nighthawk22 Nobody has so far volunteered to implement this. PRs are welcome.

Sort of related to #26299

[2016-10-07 23:00] thockin opened #34366 "NetworkPolicy for GCE"
NetworkPolicy is due to go GA any release now.  We don't yet have an answer for it on GCE or GKE.  We probably should find an answer.

Thoughts?

@roberthbailey @fabioy @alex-mohr

@aronchick @bowei @freehan @MrHohn @bprashanth

[2016-10-07 23:00] thockin commented on #34366
@matchstick

[2016-10-07 23:01] dcbw commented on #31301
To clarify the above, kubenet used on GCE/AWS requires cloud routes and thus depends on the NetworkUnavailable being cleared when routes are created.

[2016-10-07 23:09] rmmh commented on #34362
This is gross. What's actually happening is:

    re.search(r'\bFAILED\b', '\x1b[0;31mFAILED\x1b[0m')

Let me think about how best to fix this.

[2016-10-07 23:22] vishh commented on #7294
Our approach has been that of asking users to not enable swap, but we never
really disallowed usage of swap. Given that it interferes with our ability
to provide QoS features, we are starting to disallow swap. We can either
disallow swap completely and/or have each container configured to not use
swap.

On Fri, Oct 7, 2016 at 3:18 PM, ravilr <notifications@github.com> wrote:

[2016-10-07 23:23] k8s-merge-robot opened #34367 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a configMap. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/3388/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a configMap. {Kubernetes e2e suite}

[code]

[2016-10-07 23:37] ymqytw commented on #13576
Has this issue been solved by #16980? Should we close it?

[2016-10-07 23:38] ymqytw commented on #15894
I think we should also include #34292 in this kubectl apply umbrella issue

[2016-10-07 23:40] gyuho commented on #33653
There was some missing patches for prevKV.

Please try https://github.com/coreos/etcd/releases/tag/v3.0.12 instead.

Thanks.

[2016-10-07 23:40] AdoHe commented on #10975
@mrunalp really good news.

[2016-10-07 23:54] bgrant0607 commented on #28138
There was some discussion in #2098

[2016-10-08 00:03] PhilibertDugas commented on #34345
I'm thinking this line is at fault: https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/pkg/util/yaml/decoder.go#L67

If `err == io.EOF` it doesn't return it, even tough the `StreamVisitor` handles it:
https://github.com/kubernetes/kubernetes/blob/6f6929324020060d77a36e7c5de691d25334a8bc/pkg/kubectl/resource/visitor.go#L525

My first reflex would be to change the

[2016-10-08 00:09] spxtr commented on #30600
Okay, I'm mostly convinced that bazel is the correct approach here. It has some awkward points but I think the benefits are major enough to warrant it.

Downsides:

1. Lots of auto-generated BUILD rules, some tricky edge cases involved with that. Gazelle isn't quite ready yet so we have to roll our own answer until it is.
1. It's unfamiliar to non-googlers and isn't trivial to install on certain s

[2016-10-08 00:26] k8s-merge-robot opened #34372 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a replication controller. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34365/kubernetes-pull-build-test-e2e-gce/62253/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a replication controller. {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #34365.

[2016-10-08 00:31] bgrant0607 commented on #16627
@yujuhong

I have no idea how we'd implement entirely "read-only" API resources. They'd at least have to bypass admission control, much of the registry logic (e.g., uid generation), the defaulting pass, resource-version substitution, self-link generation, ... Defaulting must run in order for validation and conversion to work, and we need to run conversion in order to serialize the state in etcd, i

[2016-10-08 00:36] thockin commented on #34345
Try it out?

On Fri, Oct 7, 2016 at 5:03 PM, Philibert Dugas <notifications@github.com>
wrote:

[2016-10-08 00:56] #31726 closed

[2016-10-08 00:59] chrislovecnm commented on #24286
We are able to deploy multiple DC inside the same cluster. Theoretically with the correct routing you should be able to route cross cluster, but have not done that. So I have not had time to try 2x C* DC in 2x K8s clusters. We should have another issue open about the routing.

[2016-10-08 01:07] timoreimann commented on #11606
@sparrc the number of dependencies was actually  reduced, at least on a [minimalistic kube client of mine](https://twitter.com/timoreimann/status/776429308244090880).

Unexpectedly, the size of the compiled binary *increased* from 30 to 40 Megs for me at the same time.

[2016-10-08 01:07] bprashanth commented on #34006
No it's not, this is a dupe of https://github.com/kubernetes/kubernetes/issues/26637

[2016-10-08 01:07] #34006 closed

[2016-10-08 01:12] ixdy commented on #34318
Ginkgo has a [`JustBeforeEach`](https://onsi.github.io/ginkgo/#separating-creation-and-configuration-justbeforeeach); it sounds like you want a `JustAfterEach` (which unfortunately doesn't exist yet).

In lieu of adding this functionality to Ginkgo, adding an additional field to `Framework` with a cleanup function to run seems reasonable.

That said, the `Framework` `AfterEach` [already has logic

[2016-10-08 01:18] bprashanth commented on #26637
I only just realized this was happening after https://github.com/kubernetes/kubernetes/issues/34006

I think the real cost of kubeproxy restoring rules multiple times a second is increased iptables lock contention (and cpu). It might stall concurrent kubelet iptables modifications for some smallish period.

I'm inclined to not put in a spot fix for kubeproxy, but I want to make sure it isn't an is

[2016-10-08 01:27] mikedanese commented on #26637
Is it a spot fix to not call restore if there is no diff in the rules? How hard is it to calculate this diff? That doesn't resolve this issue but it seems like it would mitigate one of the bag symptoms.

[2016-10-08 01:34] bprashanth commented on #26637
I think it should be easy. Definitely should make 1.5. If no ones impacted by this "hotlooping", cherrypick into 1.4.X will depend on exactly how easy the fix is, if people are impacted, we should fix and cherrypick regardless. I'll need to poke around a bit.

[2016-10-08 01:41] PhilibertDugas commented on #34345
I'll take a stab at it during the weekend

[2016-10-08 01:55] jeffery9 opened #34374 "kube-up.sh report make-ca-cert.sh line 7 permission denied"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2016-10-08 02:01] justinsb commented on #473
HA works today - let's close this.  Or do we want to get it under e2e testing?

[2016-10-08 02:07] justinsb commented on #6159
Should we close?  It sounds like we've decided that we don't want to do anything more than ntp, and it is generally well understood that you should be running something like ntp.

[2016-10-08 02:11] justinsb commented on #3906
I don't think this exists any more; suggest closing.

[2016-10-08 02:15] justinsb commented on #5660
Can we close now that we have https://github.com/kubernetes/client-go ?

[2016-10-08 02:20] justinsb commented on #6728
I believe we've improved this.  But with kube-up in maintenance mode, should we close?

[2016-10-08 02:22] justinsb commented on #7042
I believe we have now embedded equivalent code to safe_format_and_mount, so the script is no longer required (by kubelet, though e.g. kube-up uses it).  Closing.

[2016-10-08 02:22] #7042 closed

[2016-10-08 02:25] justinsb commented on #7348
Not sure what was in the offending lines all those years ago @roberthbailey, but aren't debian packages signed?  http should be safe, and it sounds like we aren't fetching them anyway.  OK to close?

[2016-10-08 02:29] justinsb commented on #7347
@sdminonne you made a (meaningful) change in libvirt_coreos a few months ago.  Does `cluster/libvirt-coreos/` still work?  Any idea on a better source?

[2016-10-08 02:30] therc commented on #25961
Does the sidecar need to run in the same pod or could it be node-wide? I am trying to get node-local services implemented in 1.5 and this would be one of the use cases. You would lose some flexibility, namely multiple configurations. You could perhaps have a service exposed twice: first, as an ordinary service with a ClusterIP and random backend selection; the second service would then be a node-l

[2016-10-08 02:36] justinsb commented on #9129
Now we have kube-dns, can we close?

[2016-10-08 02:41] justinsb commented on #9253
Closing in favor of #28435 which has more up to date work

[2016-10-08 02:41] #9253 closed

[2016-10-08 02:43] justinsb commented on #28435
Just closed #9253 as a dup, opened almost exactly a year before this, where I complained:

Ah, the good old days!  Looking forward to issue 48888 around July of 2017, where someone complains that a 28GB .tar.gz is unacceptable.

[2016-10-08 02:52] #32794 closed

[2016-10-08 02:53] foxish opened #34377 "Support Spark natively in Kubernetes"
Apache Spark is a fast, in-memory data processing engine with elegant and expressive development APIs to allow data workers to efficiently execute streaming, machine learning or SQL workloads that require fast iterative access to datasets.
# Concepts
- Spark Application:  A spark application is what a user submits to execute his program on the spark framework.
- Spark Driver: Runs the “main” progr

[2016-10-08 03:35] justinsb commented on #32214
Blocked on #33892

[2016-10-08 03:45] justinsb commented on #34366
AFAICT https://github.com/weaveworks/weave-npc is written in golang, deploys as a daemonset of pods (only), has no dependencies on weave, and uses k8s libraries for things like API access & iptables.  No license listed, but looks like it could be a good candidate for incubation.

[2016-10-08 03:53] justinsb commented on #23142
The kops AMIs do now include a kernel with this enabled.

You can see the latest kernel name here: https://github.com/kubernetes/kops/blob/master/channels/stable#L3

It's probably too tricky to get into kube-up because 4.4 doesn't support aufs, so you have to use overlay and that feels like the sort of change we shouldn't be making now that kube-up is in maintenance mode.  Another good reason to u

[2016-10-08 03:53] #23142 closed

[2016-10-08 03:56] justinsb commented on #33594
This should now be fixed with the latest images.  If you update kops, you can do `kops upgrade cluster`, and it should prompt you to update the cluster.  Then a 4.4 kernel is just a `kops update cluster` and `kops  rolling-update-cluster` away.

If you're feeling less adventurous, you can also create a second instance group (`kops create ig`) with the new image, as found here: https://github.com/k

[2016-10-08 03:56] #33594 closed

[2016-10-08 04:09] davidopp commented on #25321
Yeah, never mind, we don't need to cherrypick. Sorry for the confusion.

[2016-10-08 04:09] k8s-merge-robot opened #34378 "kubectl version {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-proto/577/

Failed: kubectl version {e2e.go}

[code]

[2016-10-08 04:10] #33457 closed

[2016-10-08 04:27] ash2k commented on #30192
Works fine in 1.4.0.

[2016-10-08 04:27] #30192 closed

[2016-10-08 04:41] brendandburns commented on #33793
There are actually two problems here, one is that we "-o json" as a single string here:

https://github.com/kubernetes/kubernetes/blob/56bbfd259a6f45dfbcfb6f3c9f61643a787ed067/test/e2e/cluster_size_autoscaling.go#L578

I'll send a PR to fix that.

Additionally, it looks like the GCE VM timed out without getting an IP address:

[code]

I suppose we should perhaps have more retry in there...

[2016-10-08 04:46] kking124 opened #34379 "503 ServiceUnavailable"
Without rehashing my initial issue post:

https://github.com/kubernetes/dashboard/issues/1316

I have some sort of problem, apparently, related to weave?

[2016-10-08 05:10] justinsb commented on #9849
Suggest we close this now:

1) kube-addons runs in a container
2) kube-up is in maintenance mode
3) GCI is very similar to CoreOS, and is now under e2e testing, so we know it is possible.

[2016-10-08 05:14] justinsb commented on #11232
Suggest closing given that:

1) kube-up is in maintenance
2) wget problem is hopefully now fixed

[2016-10-08 05:15] jingxu97 commented on #34252
@AndryBray , could you please share your kubelet log with us? If you prefer, you can email me via jinxu@google.com or find me at slack @jinxu. Thank you!

[2016-10-08 05:18] jingxu97 commented on #34252
@AndryBray could you also share your project name and cluster name? Thanks!

[2016-10-08 05:26] jingxu97 commented on #34236
@saad-ali, is this related to GCI image missing nfs related package?

[2016-10-08 05:27] blak3mill3r commented on #24286
I've done something similar on AWS with IPsec for Kafka replication. If you make a virtual bridge across regions between 2 vpc subnets, the nodes will all see stable addresses/names

[2016-10-08 05:29] jingxu97 commented on #34146
@saad-ali, @caesarxuchao is this related to something we discovered on kubectl version issue

[2016-10-08 05:36] jingxu97 commented on #33775
@captify-akraievoy , could you please share more information about data lost issue? Any steps that might reproduce the issue? Thanks!

[2016-10-08 05:40] jingxu97 commented on #33732
@yujuhong @dchen1107 do you know anyone might help work on this issue?

[2016-10-08 05:41] chrislovecnm commented on #24286
@blak3mil3r do you have that documented?

[2016-10-08 05:42] chrislovecnm commented on #24286
Sorry I typo'ed your name @blak3mill3r and am on mobile ... Edit button GitHub

[2016-10-08 05:49] chengzhang1016 commented on #33475
/cc @derekwaynecarr @rata

[2016-10-08 05:56] bprashanth commented on #34265
looks like your upgraded master is not able to write node status to the old master
[code]
to me this sounds like "upgrading nodes before master" (issue stated in https://github.com/kubernetes/kubernetes/issues/28361), or rather, upgrading a client that performs a PUT on node/status before upgrading the thing that's accepting the PUT

[2016-10-08 06:13] bprashanth commented on #33457
@floreks thanks!

[2016-10-08 06:21] justinsb commented on #10178
Propose closing: I believe this is obsolete with kubenet & CNI work?

[2016-10-08 06:24] justinsb commented on #10729
Closing; haven't seen this in a while, and have seen a lot of these errors recently.  Not sure if fixed directly or by moving to KCM, but I believe this to be fixed.

[2016-10-08 06:24] #10729 closed

[2016-10-08 06:27] k8s-merge-robot opened #34383 "[k8s.io] V1Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/5563/

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #27704 #30127 #30602 #31070

[2016-10-08 06:39] AndryBray commented on #34252
@jingxu97 it was just a test project / cluster which I've destroyed.
I'm going to rung again the cluster and in some minute I will write you again

[2016-10-08 06:58] #34151 closed

[2016-10-08 07:04] AndryBray commented on #34252
@jingxu97 I've just sent you an email with details about cluster and project, please let me know if you need other infos.
Thank you for your support

[2016-10-08 07:11] jstrachan commented on #25961
@therc being in the pod would be a great option; then you could have per pod policies for retries, timeouts, circuit breaking for different services. different pods will want to have different retry/timeout configurations for different services.

Incidentally linkerd looks a really nice sidecar too https://linkerd.io/

[2016-10-08 07:21] feiskyer commented on #29478
Claims gpu and sysctl

[2016-10-08 07:38] #34262 closed

[2016-10-08 07:39] yarntime commented on #31077
Hi @nikhiljindal , I still get the following error msg when I try to delete a namespace from the federation:
`namespace_controller.go:371] Failed to delete namespace zw-test: no kind "DeleteOptions" is registered for the internal version of group "federation"`

My kubernetes cluster info:
`
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+a16c0a7", GitCommit:"a16c0a7f71a6f93c7

[2016-10-08 08:06] YorkHe commented on #33729
Met the problem and fixed in the same way as @edsiper . Just shut the nginx that listens on :8080 and fixed the problem.

Maybe the logger needs to be a little bit more sensitive to port preemption.

[2016-10-08 08:32] #33844 closed

[2016-10-08 08:45] kevin-wangzefeng commented on #31906
@ConnorDoyle not yet. I've added retries in all the places in "kubectl taints" e2e tests, but it seems the fail rate is still high, see also #29503, #32535.

Making "kubectl taints" e2e tests may help, but serial tests don't actually run every PR, not sure if marking these tests with `[Serial]` would actually fix (tests no longer run as often as they were).

[2016-10-08 08:45] tobegit3hub commented on #30572
Any update from @resouer and @WIZARD-CXY ?

[2016-10-08 08:55] axsuul commented on #23920
Also need to rely on `hostPort` with https://github.com/kubernetes/contrib/tree/master/for-demos/proxy-to-service

Am using Weave for networking and I need to expose a service to port 80 on the host

[2016-10-08 08:59] k8s-merge-robot opened #34388 "kubernetes-e2e-gci-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/544/

Run so broken it didn't make JUnit output!

[2016-10-08 09:12] IanLewis opened #34390 "kubelet: No such file or directory on ARM"
I'm trying to install Kubernetes master on a Raspberry Pi and it won't init. It hangs waiting for the control plane to come up.

    <master/tokens> generated token: "f0c861.753c505740ecde4c"
    <master/pki> created keys and certificates in "/etc/kubernetes/pki"
    <util/kubeconfig> created "/etc/kubernetes/kubelet.conf"
    <util/kubeconfig> created "/etc/kubernetes/admin.conf"
    <master/apic

[2016-10-08 09:16] k82cn opened #34391 "Failed to run cluster/kube-up.sh with vagrant"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **Cloud provider or hardware configuration**: Vagrant
- **OS** (e.g. from /etc/os-release): Mac OS
- **Kernel** (e.g. `uname -a`): `Darwin Klauss-MacBook-Pro.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RE

[2016-10-08 09:48] #34300 closed

[2016-10-08 09:56] Pendoragon commented on #33222
So in terms of incompressible resource, what is the point of setting limit? I ask this because pod eviction is WIP and in case of memory or disk contention, someone will get kicked out and the node will remain stable. Is it because we can prioritize pods and eviction can be done in order(BE ones first, then Bu...)? Or scheduling can probably be done based on limit in the future?

[2016-10-08 10:01] chengzhang1016 opened #34394 "ExternalName type service cannot be created if without `spec.ports`."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): external service

**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.0.2084+162d80eced3989

**What happened**:
ExternalName type service cannot be created if without `spec.ports`.

**How to reproduce it** (as minimally and precisely as possibl

[2016-10-08 10:09] jeffery9 commented on #34374
found the root of cause.
 need  chmod + x for  make-ca-cert.sh

[2016-10-08 10:13] mdshuai commented on #34394
@derekwaynecarr  @therc

[2016-10-08 11:20] anchitanc1 opened #34395 "Kubenetes gcloud container engine get-credential error"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):Bug report

**Kubernetes version** (use `kubectl version`):
Google Cloud SDK 129.0.0
kubectl
kubectl-windows-x86_64 1.4.0
C:\Program Files (x86)\Google\Cloud SDK>kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0",

**Environment**:
- **gcloud sdk on windows 7**:

**What happened**:

I am trying to connect

[2016-10-08 11:59] joan38 commented on #2630
What is the current best workaround for 1.4?

[2016-10-08 12:31] captify-akraievoy commented on #33775
@jingxu97 well I've lost previous info which apparently was kept in influxdb container (which I downgraded) - grafana now shows CPU utilization and such only since the moment I force-restarted the pod. I think this is due to default AWS system pod YAMLs not referring to any persistent volumes (...claims or otherwise): so that this telemetery data is transient and lives only as long as pod lives.

[2016-10-08 12:35] captify-akraievoy commented on #33775
@piosz this was actually [your commit](https://github.com/kubernetes/kubernetes/commit/94ca825a19a1adb12d92c052e6c2a43c5e59e9c9) which introduced this incompatibility - I would link to some issue or anything relevant but this is the only thing I could find

[2016-10-08 12:35] andersla opened #34396 "Deploying with kubeadm, kube-dns is not starting on two tested OpenStack installations - but working on third"
*

**BUG REPORT**
Deploying with kubeadm, kube-dns is not starting on two tested OpenStack installations - but working on third

on master I execute
`kubeadm init --token c52ddf.f9324a7fa5058c6f`
on nodes I execute
`kubeadm join --token c52ddf.f9324a7fa5058c6f`

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a

[2016-10-08 12:41] xiaoshengaimm opened #34397 "Can Use the Kubernetes Scheduler Single In the future?"
hi~

Scheduler resources compute algorithm is useful everywhere.

make Scheduler to a single component and provide HTTP API to used.

is it well?

[2016-10-08 13:36] IanLewis commented on #34390
strace simply dies with "exec: No such file or directory". It looks like it's looking for an interpreter?

    # strace ./kubelet --help
    execve("./kubelet", ["./kubelet", "--help"], [/* 14 vars */]) = -1 ENOENT (No such file or directory)
    write(2, "strace: exec: No such file or di"..., 40strace: exec: No such file or directory
    ) = 40
    exit_group(1)                           = ?

[2016-10-08 13:47] IanLewis commented on #34390
Bingo. If I link the right library to /lib/ld-linux.so.3 then kubelet will work.

    ln -s ln -s /lib/ld-linux-armhf.so.3 /lib/ld-linux.so.3 /lib/ld-linux.so.3

[2016-10-08 13:48] danwinship commented on #23854
See also #32401; in pkg/proxy/iptables/proxier.go and pkg/util/iptables/iptables.go, we shouldn't be doing a semver compare anyway, because iptables version numbers aren't always syntactically Semantic (eg "1.4.19.1" which is illegal because semvers can't have nano versions).

[2016-10-08 14:00] kking124 commented on #34379
Fine ...

#### Issue details
I am new to kubernetes and I am trying to set up a basic 2 machine cluster.

The kubernetes-dashboard pod status is listed as pending with 0/1 ready, which is likely the underlying issue. I have no clue where to begin solving this problem. The ultimate result is that I receive 503 ServiceUnavailable in the browser.

Please do not:

1. recommend using a hosted solution.

[2016-10-08 14:18] alphashuro commented on #13488
any progress on this?

[2016-10-08 14:30] gmarek commented on #33867
Bumping to P0 - this happened again, thus breaking all kubemark PR runs. cc @wojtek-t @kubernetes/test-infra-maintainers

[2016-10-08 14:38] luxas commented on #34390
This has been fixed in https://github.com/kubernetes/release/pull/133 a week ago, but seems like the new packages haven't been pushed then

[2016-10-08 14:54] IanLewis commented on #34390
@luxas Thanks for the pointer! Good to know it's been addressed already. I'm having another issue but I'll create another issue if necessary.

[2016-10-08 14:54] #34390 closed

[2016-10-08 15:49] rata commented on #33475
@chengzhang1016 sorry, don't follow why you way it should fail. If you specify `8` in decimal mode, it is 010 in octal. And that permission is used.

It should fail if you specify `08`, that is not valid in octal. Right?

But to specify numbers in octal, you need to use a "0" before.

Am I missing something? If not, do you suggest any improvement to the doc?

[2016-10-08 18:13] shashidharatd commented on #34154
I too am facing this issue since a week, unable to open the dashboard.
[code]

Forbidden: "/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard"

[2016-10-08 20:51] thockin commented on #33222
Setting limit allows you to opportunistically use more memory than you have
a guaranteed right to use.  This of it this way - if you have limit ==
request, and you get a sudden spike, you will OOM.  If you have limit >
request, you *might* OOM, but you might survive.  It's not so black and
white, though, because having a limit means the kernel tries to keep you
below the limit, so raising the limi

[2016-10-08 20:53] #10178 closed

[2016-10-08 20:54] #9129 closed

[2016-10-08 21:17] hubt commented on #33968
OK I can close this. So I should assume that we must match major versions of client and server? It would be nice if there was better compatibility. Is this the default expectation on forward/backward compatibility between client/server?

[2016-10-08 21:17] #33968 closed

[2016-10-08 21:21] #34396 closed

[2016-10-08 21:23] andersla commented on #34396
After installing Weave the kube-dns pod got up running all-right.

[2016-10-08 21:25] resouer commented on #34308
This is so wired, why it is moved back (again) :///

[2016-10-08 21:25] jeremywadsack commented on #32929
As a follow up on this issue, I sent logs over to @jingxu97 privately, who "confirmed that when kubelet is restarted, volume will be detached while it is still mounted and cause file system corruption."  The linked PR should resolve this and in the meantime we upgraded to 1.4 to include the improved OOM-handling which I hope will reduce the likelihood of getting into this position in the first pla