[2020-02-07 17:00] yhaenggi commented on #62421
/remove-lifecycle stale

[2020-02-07 17:26] tedyu commented on #87918
What if in daemon.json, you specify:
[code]
Alternative is to strip the enclosing single quotes before comparison in NewDockerService - but that needs code change.

[2020-02-07 18:24] dwimsey commented on #40157
Any particular reason why the ability to disable oom killer for the container isn't going to happen?  OOM killer is a pretty horrible/stupid way to handle out of memory conditions, twice as much inside kubernetes container with a LIMIT on it.

[2020-02-07 18:34] hbagdi commented on #86889
Casey,

Let me know if you have any questions.

[2020-02-07 18:35] gnufied commented on #86360
So basically if a `NodeUnstage` timesout but it leaves a mounted volume then `NodeStage` is never called but if `NodeUnstage` timesout but does not necessarily uses mount points(or may be they got cleaned up) then `NodeStage` *does* get called.

One of the reasons behind opening this issue was to explore if it is safe to call `NodeStage` if volume is already mounted and this would result in somewh

[2020-02-07 18:45] msau42 commented on #86360
I think the check for if a volume is mounted is not correct. NodePublish is supposed to be idempotent so it should be safe to call multiple times (although there are probably many driver bugs around this). See also https://github.com/kubernetes/kubernetes/issues/86784

[2020-02-07 18:48] tommyjcarpenter commented on #24725
why is this issue closed? how do I get k8s to not restart a pod? what is the point of a parameter if it can only take one value?

[2020-02-07 19:43] liggitt commented on #87918
This sounds like whatever is invoking the kubelet is passing in single-quotes in a non-shell environment, which is plumbing them into the kubelet. Do you have your kubelet invocation handy?

[2020-02-07 20:01] #59838 closed

[2020-02-07 20:06] khassel commented on #87918
The invocation comes from minikube in `10-kubeadm.conf`. Removing the single-quotes there solves the problem. So should we move this issue to the minikube repo?

[code]

[2020-02-07 20:08] liggitt commented on #87918
Yes, that's the correct fix

Yes, that would make sense

[2020-02-07 20:27] jodavis-suse commented on #87867
@RyanRod Should be pretty straight forward.  The key is to review all the log messages for sanity in the range from the convention.

[2020-02-07 20:29] jodavis-suse commented on #87867
Note: similar patch in apimachinery - https://github.com/kubernetes/kubernetes/pull/87864

[2020-02-07 20:31] detiber commented on #87915
/cc @vincepri might be somewhat relevant to our interests

[2020-02-07 20:52] lavalamp commented on #87915
https://github.com/kubernetes/kubernetes/pull/87829 just went in-- related.

[2020-02-07 20:56] vllry commented on #87915
Naively, why does the api machinery have a separate implementation from client-go backoff?

[2020-02-07 20:57] lavalamp commented on #87915
I support client-go tweaks for this purpose, but as time goes on we will accumulate more and more non-client-go clients. So the solution here is really to make the control plane more robust.

This has been in flight for a while: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md

For the specific case you mention, if the system is config

[2020-02-07 21:01] lavalamp commented on #87915
https://github.com/kubernetes/kubernetes/issues/87794 is the thing I actually should have linked as relevant.

As for why it's divergent, I think the client go backoff just isn't in the right shape for our collection of WaitXXX methods; also apimachinery can't import the client.

[2020-02-07 21:06] vllry commented on #87915
This seems to address a subset of concerns. Mass pod startup can cause strain outside of the apiserver (EG IO-heavy bootstrapping for the app). Additionally, it doesn't look like this addresses the lock-step nature of unjittered backoffs (which still cause an artificial recovery delay, aside from the load concerns in a thundering herd). Not sure if I'm missing something here - these look like comp

[2020-02-07 21:18] RyanRod commented on #87867
@jodavis-suse Thanks. Got a first draft PR open with some obvious adjustments. A few log messages could fit into debug or trace categories, let me know if anything seems incorrect.

[2020-02-07 21:27] afbjorklund commented on #87918
Ironically the same bug was apparent already in the initial output:

`🐳  Preparing Kubernetes v1.17.2 on Docker '19.03.5' ...`

[2020-02-07 21:30] #87918 closed

[2020-02-07 21:42] lavalamp commented on #87915
What is the scenario in which a client go jitter changes mass pod *start* behavior? I agree that is a potential problem (assuming I understand you) but I don't see the connection, I'd expect e.g. jittering watch deliveries as more targeted at that.

Maybe-- everyone will be sitting in a queue for different lengths of time, so it should help somewhat. (we could go even further and add on the time s

[2020-02-07 22:03] #77973 closed

[2020-02-07 22:27] eraclitux commented on #87426
Thanks for the reply @uablrek. Unfortunately `--masquerade-all` does not solve the problem. The issue is not L7 but L2/L3, here an example tcp connection that breaks the conntrack table:
[code]
What do you think of my solution to assign a `/32` to pods? Actually ipam `host-local` doesn't permit to assigne a /32:
https://github.com/containernetworking/plugins/blob/43716656062566049f0b61d891c97d4a9c

[2020-02-07 22:34] kolikons commented on #3595
+1

[2020-02-07 22:39] AdriseYounis opened #87934 "Pod stuck at ContainerCreating status- Unable to attach or mount volumes: unmounted volumes"
**Goal:**
I am trying to allow my pod to access the azure keyvault to retrieve secret data using key vault flexvolume.

I have used service principal authentication in which will allow minikube to talk to the azure key vault.

The kubernetes service i am using is not deployed to azure but it is running on my local machine.

`minikube version: v1.6.2`

I have followed the instruction on the below g

[2020-02-07 22:57] AdriseYounis commented on #87934
/azure key vault flex volume
/pod-creation

[2020-02-07 23:05] AdriseYounis commented on #87934
/help
/good-first-issue
/kind documentation

[2020-02-07 23:06] DerrickMartinez opened #87935 "HPA being evaulated incorrectly - Can't grab CPU metrics from metrics.k8s.io api"
**What happened**:

Had a production issue today with an HPA not scaling. Turned out an HPA was unable to evaluate a cpu field. (i.e. prod-api-blue-7f66b8f7f5-sp47w) which was running for hours could not get results because there was missing CPU data.

[code]

Well, there was another pod  (prod-api-blue-test-connection) which was completed from a helm test. Turns out it was trying to use the latte

[2020-02-07 23:08] DerrickMartinez commented on #87935
/sig autoscaling

[2020-02-07 23:08] lavalamp commented on #87915
https://github.com/kubernetes/kubernetes/pull/87795 addresses list/watch calls, and there's still plenty of room to address all calls with your change (which I left comments on).

[2020-02-07 23:29] dimm0 commented on #86281
Anybody tried to confirm the issue at least?

[2020-02-07 23:38] skilxn-go commented on #87934
/assign

[2020-02-08 00:10] cpuguy83 commented on #74991
I've opened https://github.com/moby/moby/pull/40478 to address this in moby.

Sadly I do not think we can make a backport for this change since it is an API change, but open to suggestions.

[2020-02-08 00:27] BenTheElder commented on #56374
cc @amwat we just encountered this working on sigs.k8s.io/kind (which uses containerd for the node runtime) trying to work with ingress-nginx

this is a bit frustrating, is setcap in the dockerfile still the best we can do?
cc @tallclair

[2020-02-08 00:51] sethp-nr commented on #77019
Maybe? It's dealing with security groups, so it's possible, but I don't think this bug on its own would matter.

That said, the perma-cached tag would certainly violate a cluster operator's expectations. If they had removed the tag in order to effect a "firewall" change (banning a particular IP, for example), then the controller-manager would override their intention.

[2020-02-08 02:32] #87191 closed

[2020-02-08 03:52] mikedanese commented on #87369
This one is caused by config merging with clientcmd overrides:

https://github.com/kubernetes/kubernetes/blob/0f13c5c3d1cdbb983c3e3d7a1b2a1ef803d24fcb/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L425-L434

and exec.Auth not being added in this switch:

https://github.com/kubernetes/kubernetes/blob/0f13c5c3d1cdbb983c3e3d7a1b2a1ef803d24fcb/staging/src/k8s.io/client-go/transport/rou

[2020-02-08 03:57] notpad commented on #87934
/remove-help

[2020-02-08 04:08] #73319 closed

[2020-02-08 04:30] wawa0210 commented on #87888
I just tried to reproduce this issue as you described, but subpath works fine

this is my rc yaml from https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs
[code]
No error was reported after successful deployment, index.html was written normally.
Can you provide more detailed information

[2020-02-08 04:34] anderseknert commented on #87369
Interesting, thanks @mikedanese. Will add it to the switch along with some tests and if everything works out well I'll submit a PR next week.

[2020-02-08 05:15] ghhenry commented on #86507
@danwinship  localhost resolves to 127.0.0.1, in fact http://127.0.0.1:32585/ does not work either.

[2020-02-08 05:36] neolit123 commented on #87878
i responded to the similar issue in k/kubeadm here:
https://github.com/kubernetes/kubeadm/issues/2024

/close

[2020-02-08 05:36] #87878 closed

[2020-02-08 05:39] neolit123 commented on #87883
what happens if you modify the static Pod YAML to mount a non-read-only path and pass this path as --flexvolume-dir?

[2020-02-08 07:58] ehsanrocket opened #87946 "very high response time compare to non containerized app hosted on OpenStack servers"
hi all
we have a Java application on bare metal servers with the response time less than 5ms.
we have containerized the app with alpine as base image, deployed in kubernetes
our kubernetes configuration are:
* 1 Master Node
* 3 Worker Node ( co-located in one datacenter )
* network plug-in is flannel
* expose the app with NodePort
all the traffic goes to a nginx server and it will forward the traf

[2020-02-08 08:10] ehsanrocket commented on #87946
/sig network
/sig architecture

[2020-02-08 08:12] #80892 closed

[2020-02-08 09:03] aojea commented on #87852
@rdxmb based on your description it seems that the Kubernetes DNS service is not able to resolve or forward the external domain queries

The fact that this is happening on clusters being upgraded from 1.13 makes me wonder if there could be some issue on the cluster DNS upgrade.

What DNS are you using kube-dns or CoreDNS?

Can you check if there are any errors on the DNS pods?
https://kubernetes.i

[2020-02-08 09:13] #82534 closed

[2020-02-08 09:19] notpad commented on #87832
Thanks @alculquicondor for the confirmation. I have sent a PR.

[2020-02-08 10:24] devopstales commented on #69082
/remove-lifecycle stale

[2020-02-08 10:35] michaelrath-work commented on #87888
Hi,

thanks for looking into my issue. Here are more details. You already know how I configured my Pod, here are the remaining parts.

This is the `PersistentVolumeClaim`

[code]

and this the respective `PersistentVolume`

[code]

I obfuscated the NFS server address with **XXX**.  This server simply exports the respective folder using the following settings:

- Permission: read/write
- Squash: RO

[2020-02-08 11:04] gmateusz09 commented on #87883
When I use the following YAML:
...
    **- mountPath: /etc/kubernetes/flexvolume-dir
      name: flexvolume-dir
      readOnly: false**
  hostNetwork: true
  priorityClassName: system-cluster-critical
  volumes:
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs
  - hostPath:
      path: /etc/kubernetes/pki
      type: DirectoryOrCreate
    name: k8s-certs

[2020-02-08 14:43] #46503 closed

[2020-02-08 15:28] neolit123 commented on #87883
if you are not able to apply custom settings using the kubedam config, you can also try the `--kustomize..` feature of `kubeadm init`. it allows you to patch the control-plane Pod manifests files.

/close

[2020-02-08 15:28] #87883 closed

[2020-02-08 16:01] tedyu commented on #87282
I think the following change should handle the absence of unix domain socket :
[code]
This way, the unregistration should be able to proceed.

@k2huang @taragu
What do you think ?

[2020-02-08 16:35] danwinship commented on #87197
So https://github.com/kubernetes/kubernetes/issues/87197#issuecomment-574922102 seems to confirm that building the s390x image from scratch results in something works, but using the official image does not work, and thus the problem is the official image, not the code/build scripts/etc.

I'm not sure who is responsible for this. @BenTheElder you built the images before when we first changed them..

[2020-02-08 16:49] danwinship commented on #86522
Thanks for the report. This looks like the same problem as is being tracked in #86370
/close

[2020-02-08 16:49] #86522 closed

[2020-02-08 17:20] everflux commented on #87325
I just upgraded to latest crio and it refuses to download/use the pause image for me since then.

[code]

I assume this is from a change in container/libpod implementing more strict checks. In my point of view this is impossible to fix for all images, but at least the base cluster images (pause, static pods for kubernetes like apiserver, etcd) should be fixed.

For reference here is the according

[2020-02-08 18:00] mkumatag commented on #87325
when we cross-build the images on the amd64, the image will contain the target architecture bits but the image will be signed with host arch(amd64) and this is what is creating issue while pulling the image by crio where they have a strict check of the image architecture and expects to match the host architecture(arm64 or ppc64le). The solution here is to build all these images natively on the tar

[2020-02-08 18:07] tedyu commented on #87282
I have a patch which implements what I described above.

[2020-02-08 18:57] aojea commented on #87197
based on last comment, adding @saschagrunert @justaugustus from sig-release, can you help us here?
Do you know about issues with cross-compiled images on s390x?
It seems that at least these ones are not working :/

[2020-02-08 19:17] cpuguy83 commented on #74991
And one more PR: https://github.com/moby/moby/pull/40481 which should be backport-able, which reduces stat collection time from ~1.8s to ~1s

[2020-02-08 19:29] NZenitram commented on #73297
Does terraform support this in the same format?

[2020-02-08 19:42] BenTheElder commented on #87197
kube-proxy release images are built by the release team..? I build the debian base images using the make rules but not kube-proxy.

[2020-02-08 19:47] liggitt commented on #87855
the "pod ran to completion error" sharply increased on 1/31: https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=%22pod%20ran%20to%20completion%22&job=pull-kubernetes-e2e-gce%24

[2020-02-08 19:47] jamroks commented on #30518
+1 for ALB support added for LoadBalancer type service, through some annotation like the one for nlb

`service.beta.kubernetes.io/aws-load-balancer-type:  alb `

[2020-02-08 19:53] liggitt opened #87953 "[Flaky tests] "command terminated with exit code 1" errors in pull-kubernetes-e2e-kind"
**Which jobs are flaking**:
pull-kubernetes-e2e-kind
pull-kubernetes-e2e-kind-ipv6

**Which test(s) are flaking**:
* [sig-storage] PersistentVolumes-local ...
* [sig-storage] EmptyDir volumes pod should support shared volumes between containers
* [sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] ...

**Reason for failure**:
Sample output from https://prow.k8s.io/view/gcs/kubern

[2020-02-08 19:55] BenTheElder commented on #87953
https://github.com/kubernetes-sigs/kind/issues/1248 cc @pohly @msau42

[2020-02-08 20:07] BenTheElder commented on #87325
`--platform` works as expected with `buildx`. I will prepare a trivial PR to fix this, but then we will need to decide how to roll out the new image...

[2020-02-08 20:09] BenTheElder commented on #87325
/assign

[2020-02-08 20:14] liggitt commented on #87668
top flake according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-02-08 20:24] #82584 closed

[2020-02-08 20:45] liggitt commented on #87668
looking at the debug logs from the last several failures, filtering remaining pods to name+finalizers+ownerReferences with:

jq '[.[] | {"metadata":{"name":.metadata.name,"finalizers":(.metadata.finalizers // []), "ownerReferences": .metadata.ownerReferences}}]'

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1226216133338599424:
[code]

https://prow.k8s.

[2020-02-08 21:01] stevebail opened #87955 "kubectl auth can-i --list does not show non-namespaced resources"
I have a use case with service account called "steve" running in the default namespace with a role binding to a cluster role allowing read access to nodes and /metrics.

As far as I know, nodes and /metrics are not namespaced.
Therefore I would expect to see them in the output for kubectl auth can-i --list when applied for any namespaces.  This is not the case.

Case 1)
I see nodes and /metrics wh

[2020-02-08 21:05] stevebail commented on #87955
/sig api-machinery
@liggitt

[2020-02-08 21:11] liggitt commented on #87955
That means you have a role which grants those resources and non-resource urls within the default namespace, and not within the kube-system namespace. The authorization layer doesn't have knowledge of whether a particular resource is namespaced or not, the resource names are opaque strings as far as it is concerned.

[2020-02-08 21:12] #87955 closed

[2020-02-08 21:51] morgwai commented on #74651
+1 for having the possibility to configure it per whole cluster. tuning per pod or per deployment is rarely useful: in most cases a sane global value is waaay more convenient and the current default of 5m is waaay to long for many cases.

please please reopen this issue.

[2020-02-08 22:41] aojea commented on #83742
/close

[2020-02-08 22:41] #83742 closed

[2020-02-09 02:48] Huang-Wei commented on #40358
PodTopologySpread (a.k.a EvenPodsSpead) is implemented (alpha in 1.16, beta in 1.18) to resolve the issue described here. @mwielgus Can we close this issue?

[2020-02-09 03:03] xyloman commented on #77535
Is there a resolution to this issue?

[2020-02-09 04:32] #82604 closed

[2020-02-09 08:04] feliperyan commented on #58599
@tjliupeng I'm getting the same issue, did you resolve it?

[2020-02-09 11:18] azmelanar commented on #82905
/remove-lifecycle stale

[2020-02-09 11:37] dudicoco commented on #87366
@danwinship what is the suggested way to perform port DNS lookup when there is no appropriate tool (dig/host/nslookup) available in the docker image?

[2020-02-09 12:40] #72395 closed

[2020-02-09 13:40] sftim commented on #53533
@superdave what kind of test case do you have in mind?

Here's a trivial test:
1. Set up a cluster with 1 node, 16 GiB of RAM and 64GiB of pagefile.
2. Try to schedule 20 Pods, each with 1GiB memory request and 1GiB memory limit.
3. Observe that it doesn't all schedule.

Here's another:
1. Set up 6 machines, each with 16 GiB of RAM and 64GiB of pagefile.
2. Try to use `kubeadm` with default option

[2020-02-09 14:52] cji commented on #81140
/lifecycle frozen

[2020-02-09 14:52] cji commented on #81118
/lifecycle frozen

[2020-02-09 14:52] cji commented on #81132
/lifecycle frozen

[2020-02-09 14:53] cji commented on #81129
/lifecycle frozen

[2020-02-09 15:10] droslean opened #87960 "[Failing Test] capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)`

**Since when has it been failing**:
`7th Feb 10:30 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/milestone v1.18
/priority crit

[2020-02-09 15:13] droslean opened #87961 "[Failing Test] capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)`

**Since when has it been failing**:
`7th Feb 10:57 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/milestone v1.18
/priority crit

[2020-02-09 15:43] #49926 closed

[2020-02-09 16:31] wyardley commented on #28321
/remove-lifecycle stale

[2020-02-09 16:34] droslean commented on #87807
Jon is now green. Closing...
/close

[2020-02-09 16:44] #82290 closed

[2020-02-09 16:44] #82636 closed

[2020-02-09 17:18] eladm26 commented on #86436
@danielfm any idea  when will the PR be reviewed?

[2020-02-09 17:32] eladm26 commented on #87861
new contributor, will love to take this one.
/assign

[2020-02-09 18:18] gabriel-samfira commented on #79224
Adding my 2 cents here. I have an app that uses a config. Inside that config, my app requires a database password. I have that password in a secret. I would like to use it in my config.

Without the ability to reference a secret in a config map, that gets resolved to the actual value of that secret when mounting the configmap as a file, I am obliged to store a secret directly in a config map, or u

[2020-02-09 18:31] deepakpandiyan commented on #60957
OCP 3.7
OC commands getting longer time to execute, i see some respose time is more

Response Status: 200 OK in 9782 milliseconds

[root@master .kube]# oc project --loglevel=8
I0209 18:26:42.468218    8256 loader.go:357] Config loaded from file /root/.kube/config
I0209 18:26:43.752646    8256 round_trippers.go:414] GET https://master.example.com:8443/apis/project.openshift.io/v1/projects/default
I

[2020-02-09 18:31] geojaz opened #87962 "pull-kubernetes-e2e-gce has begun to care about "us-west3""
I've started to notice some strange errors today while reviewing results from various `pull-kubernetes-e2e-gce` tests in spyglass.
They look something like below and don't seem to be the result of a janky PR because I'm seeing them consistently across PRs (and repos).

[code]
The snippet is from https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/87949/pull-kubernetes-e2e-gce/122652655756

[2020-02-09 18:31] geojaz commented on #87962
/sig testing

[2020-02-09 18:46] #58619 closed

[2020-02-09 20:48] #82628 closed

[2020-02-09 21:29] SerialVelocity opened #87964 "CSINodeInfo registration timeout can kill kubelet before API server is available"
**What happened**:
Upgraded from 1.16.6 to 1.17.2 and `kubelet` will no longer start on control-plane hosts.

It fails with:
[code]

**What you expected to happen**:
`kubelet` to start, static pods to launch, `kubelet` to connect to `kube-apiserver` in the static pod

**How to reproduce it (as minimally and precisely as possible)**:
Have the `kube-apiserver`, `kube-controller-manager`, `kube-proxy

[2020-02-09 21:31] SerialVelocity commented on #87964
/sig cluster-lifecycle

[2020-02-09 21:35] SerialVelocity commented on #87964
Actually, probably:
/sig node

[2020-02-09 21:38] liggitt commented on #87964
The referenced PR was added in 1.14, so that interaction is not new. What is likely new is the size increase of hyperkube in 1.17 (xref https://github.com/kubernetes/kubernetes/pull/84662). When not pre-pulled, this can increase the time it takes to start hyperkube for the first time.

Does the image pull make progress as the kubelet restarts/retries?

[2020-02-09 21:49] liggitt commented on #87668
no consistent pattern between failures, GC just seems to have been running slower and sometimes timed out the test. tracked likely performance degradation to https://github.com/kubernetes/kubernetes/pull/86015, fix in https://github.com/kubernetes/kubernetes/pull/87957

[2020-02-09 21:53] liggitt commented on #87964
It might make sense for the initializeCSINode() method to:
* first wait to successfully talk to the kube apiserver *at all*, perhaps indefinitely
* after successfully talking to the kube apiserver, *then* try to register the CSINode object with backoff, and fail if it cannot do that successfully

[2020-02-09 21:54] liggitt commented on #87964
/sig storage
/remove-sig cluster-lifecycle

[2020-02-09 22:11] liggitt commented on #87668
note that #87957 should return performance to pre-1/24 levels, but this test was flaky even before that - https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-01-23&ci=0&pr=1&test=Garbage.*circle

[2020-02-09 22:14] paalkr commented on #84142
/remove-lifecycle stale

[2020-02-09 22:16] paalkr commented on #84142
What is the status of this issue? I still believe it's a critical bug that needs to be addressed.

[2020-02-09 22:20] CyberPoison opened #87965 "unknown revision v0.0.0 when deploying a plugin from intel"
Hello everyone, i'm new on golang so sorry if this is the wrong github to publish my issue.

Well my issue is than when i try to install intel device plugins for kubernetes.
i get this issue

[code]

this is my go env

[code]

go version latest (v1.13.7)

Is there a way to workarround my issue ?

Kind Regards,

[2020-02-09 22:24] neolit123 commented on #87965
hi, please report this issue in the github.com/intel/intel-device-plugins-for-kubernetes repository
thanks

/close
/triage support

[2020-02-09 22:24] #87965 closed

[2020-02-09 22:39] zhan849 opened #87966 "Kube controller manager should export queue metrics"
**What would you like to be added**:
kube-controller-manager currently does not expose work queue metrics

**Why is this needed**:
queuing delay and queue length are important information to debug control plane performance in large scale cluster

/assign zhan849
/sig apps

[2020-02-09 23:05] sftim commented on #87869
@neolit123 can you rephrase your question? I'm really sorry but I don't understand what you're asking.

[2020-02-09 23:06] Huang-Wei commented on #87784
+1 to hold plugin specific parameters in their own pluginConfig. Some parameter (e.g., `HardPodAffinitySymmetricWeight`) doesn't really make sense to be held at the root level.

[2020-02-09 23:07] sftim commented on #87869
Operators and controllers also have a need to discover what features are or aren't available, so that they can adjust behavior accordingly.

[2020-02-09 23:21] neolit123 commented on #87869
currently feature gates are a monolith defined here:
https://github.com/kubernetes/kubernetes/blob/652f52b51c05befece676f87d0ca8bafeded269d/pkg/features/kube_features.go#L27
and some of them do not make sense for all components.

my question is if in the future components can end up splicing the monolith list and taking FGs only relevant to them.

[2020-02-09 23:23] Huang-Wei commented on #87427
@skilxn-go As the code mostly is located under `pkg/controller/nodelifecycle`, it's more reasonable to be owned by sig-apps. @damemi what's the latest status on this?

[2020-02-10 00:52] #73806 closed

[2020-02-10 01:10] k82cn commented on #87427
sig-node takes the responsibility to nodelifecycle and nodeipm, please ping the approver in its OWNERS file; I can help on PR review if necessary.

Regarding integration test directory, `node/controller` or `node/lifecycle` is better as we may also add integration test for nodeipm.

[2020-02-10 02:25] wgliang commented on #72506
/remove-lifecycle rotten

[2020-02-10 02:50] pranaypratyush commented on #21582
Any update on this? It would be really useful, and AFAIK trivial implementation.

[2020-02-10 02:57] limx59 opened #87968 "How to consider the impact of network quality on POD scheduling?"
For remote nodes, when a kubernetes distributed cluster deploys POD, how to combine factors such as network transmission delay and network transmission quality to pull up relevant PODs

[2020-02-10 03:14] andyzhangx commented on #80488
/remove-lifecycle stale

[2020-02-10 03:18] AL-Cui commented on #75443
咋修改？158行本身就是一个切片，要改成啥才能让kube-proxy转发流量到keepalived增加的新IP

[2020-02-10 04:50] droslean commented on #87960
/reopen

Reopening, to observe the job.

[2020-02-10 06:31] fengzixu commented on #87427
According to the suggestion from @k82cn and @Huang-Wei . I plan to move the `TaintBasedEviction` into the node directory under `test/integration/`. It means I need to create a new directory.

[2020-02-10 06:39] mkumatag commented on #87325
sounds good to me,

[2020-02-10 07:43] mikkeloscar commented on #77603
/remove-lifecycle stale

[2020-02-10 08:03] pjbgf commented on #84623
/remove-lifecycle stale

[2020-02-10 08:07] wojtek-t commented on #81360
/remove-lifecycle stale

[2020-02-10 08:20] alexzimmer96 commented on #87846
Hi @harshul4274,
The Cronjob should create Job for every run, which in turn should create a Pod. Could you take a look at the generated Job- and Pod-manifests and make sure that there are no probes specified?

[2020-02-10 08:48] george-angel commented on #46287
/remove-lifecycle stale

[2020-02-10 09:02] jethrogb commented on #62366
/remove-lifecycle stale

[2020-02-10 09:05] chrigl commented on #87882
/close

I was able to track it down to a race condition in `cinder-csi-plugin`. See https://github.com/kubernetes/cloud-provider-openstack/pull/925

[2020-02-10 09:05] #87882 closed

[2020-02-10 09:26] kevtaylor commented on #85122
/remove-lifecycle stale

[2020-02-10 09:29] verb commented on #84764
@dguendisch @tedyu Rather than functionality in the kubelet to automatically remove a container based on a policy enforced by the kubelet, I prefer marking a pod as tainted when an ephemeral container has been added (#84353) and leaving it up the administrator how to handle this situation. I could imagine a controller than implements an automatic removal policy.

@duglin It hasn't been designed ye

[2020-02-10 09:31] verb commented on #82158
@gianarb ack, please leave it in 1.18. If there's not movement on the blocking issue soon I'll reopen the PR that fixes it without the blocker.

[2020-02-10 09:44] cja000 commented on #74340
Hi,
I have the same problem just after installation. Only with one master up and running:
[code]
I have tried with Flannel, Calico and Weave.
Even without any CNI I see the `leaderelection lost` (as seen above)

Versions of `kubeadm` and `kubelet`:
[code]
[code]
I don't think that the hardware is a problem:
CPU: 2 x Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz
Memory: 128GiB
HardDisk: 750GiB
Ping to

[2020-02-10 09:55] droslean opened #87973 "[Failing Test] pull-cip-auditor-e2e (pull-cip-auditor-e2e)"
**Which jobs are failing**:
`pull-cip-auditor-e2e (pull-cip-auditor-e2e)`

**Since when has it been failing**:
`6th Feb 18:05 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-misc#pull-cip-auditor-e2e

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig release
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.18

[2020-02-10 09:59] droslean opened #87974 "[Failing Test] gce-windows-1909-master (ci-kubernetes-e2e-windows-gce-1909)"
**Which jobs are failing**:
`gce-windows-1909-master (ci-kubernetes-e2e-windows-gce-1909)`

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
`2nd Feb 09:25 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig windows
/cc @kubernetes/ci-signal
/priority

[2020-02-10 11:19] venthur commented on #68457
/remove-lifecycle stale

[2020-02-10 12:23] #86841 closed

[2020-02-10 12:30] vishal8k commented on #79773
/remove-lifecycle rotten

[2020-02-10 12:34] avarf opened #87976 "Packet loss between pods"
Hi, we have two different clusters both running on bare metal, Ubuntu 18.04 with kernel versions higher than 4.15 and Calico as the CNI. Cluster-A has 6 workers and 1 master and cluster-M has 9 workers and 1 master. On each cluster, we are running between 150-200 services.

Last week while I was updating deployments via helm I lost my connection to the master node of cluster-M and I had to restart

[2020-02-10 13:19] liggitt commented on #87962
This is now resolved

[2020-02-10 13:19] #87962 closed

[2020-02-10 13:19] liggitt commented on #87962
xref https://github.com/kubernetes/test-infra/issues/16202

[2020-02-10 13:23] jsafrane opened #87977 "CSI block volume leaves orphan files"
**What happened**:
When a pod that uses a CSI raw block volume is deleted, kubelet leaves some files in /var/lib/kubelet, without cleaning them.

[code]

(where `pvc-68ddc376-0d7d-4187-9911-c585cc6c8628` is name of a PV used as a raw block volume.

**What you expected to happen**:
All files are cleaned up, only `/var/lib/kubelet/plugins/kubernetes.io/csi/volumeDevices/staging` and `/var/lib/kubele

[2020-02-10 13:32] liggitt commented on #87867
The trace-level request logging is intentionally at much higher levels. Mixing request-level trace logs with logic-level trace logs ("did x", "did y", etc) would make the logic-level trace logs almost impossible to consume. Before making changes to flatten the verbosities, we need to ensure the resulting logs are 1) useful, 2) do not break existing clusters by increasing logging rates for existing

[2020-02-10 13:51] rikatz commented on #87277
/remove-triage unresolved

[2020-02-10 13:52] rikatz commented on #87277
@372046933 what backend type of kube-proxy are you using? iptables or IPVS?

[2020-02-10 13:52] SerialVelocity commented on #87964
It doesn't seem to. Once the connection to containerd is closed, it cancels the context. Otherwise I would expect this to succeed eventually if the pull happened in the background.

That sounds reasonable to me assuming it isn't blocking the static pod creation code. Do you happen to know why it takes a very long time for the static pod creation code to be called? I would expect the pods to be cre

[2020-02-10 13:53] rikatz commented on #86587
@guzhaqixin had you figured out if the problem persists, or what happens?

[2020-02-10 13:54] liggitt commented on #87964
Pulling the image and starting the processes for those pods happens immediately (from the containerd logs, you can see the image pull happening... it just doesn't complete in time before the independent kubelet logic to register the CSI node info times out).

[2020-02-10 13:57] jsafrane commented on #87977
/assign

[2020-02-10 13:58] liggitt commented on #87867
Also, given https://github.com/kubernetes/community/pull/3162#issuecomment-458532311, I would recommend waiting for some of the current discussions around logging (e.g. https://github.com/kubernetes/enhancements/pull/1367) to resolve before sweeping the codebase to make it conform to a set of conventions that does not account for all the types of trace logging we do.

[2020-02-10 14:01] guzhaqixin commented on #86587
@rikatz sorry for not responding. Something terrible is happening in Chinese as we all know and kept me from work. Before I leave I changed to calico and during configuring it I found that the slave node's host seems to have a weird network interface configuration which might also caused the problem with Flannel. I am not sure and I might won't be able to check this in a long time. I am really gra

[2020-02-10 14:05] bertinatto commented on #86360
The linked issue is about *NodePublish* (this one is about *NodeStage*), but indeed the same explanation should apply to *NodeStage*.

[2020-02-10 14:06] SerialVelocity commented on #87964
Ah, yes. I just upgraded a couple of days ago so I didn't check whether I still saw the 2 minute delay in creating the "pod sandboxes" (this is before the pull even happens). It now is only a 23 second delay:

containerd:
[code]

kubelet:
[code]

[2020-02-10 14:11] liggitt commented on #87867
For those who wondered this logging guide's history:
* https://github.com/kubernetes/community/commits/master/contributors/devel/logging.md
* https://github.com/kubernetes/kubernetes/commits/master/docs/devel/logging.md
* https://github.com/kubernetes/kubernetes/commits/master/docs/logging.md

The initial levels were added in https://github.com/kubernetes/kubernetes/commit/4e56dafecc9d609f45bb4577

[2020-02-10 14:14] neolit123 commented on #74340
kube-system   coredns-6955765f44-ztzbz           0/1     Pending   0          43m   <none>       <none>     <none>           <none>

i don't see a CNI plugin installed on your cluster.
you must install a CNI like Calico or WeaveNet.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

let me know you are still seeing issues after the CNI instal

[2020-02-10 14:15] deads2k commented on #87867
I found that note in the guidelines and also consider the advice to be highly suspect.

The v(0) advice about programmer errors seems incorrect too.  Panic guidance is out of date.  I think we decided that events come out at V2, which conflicts with the advice about v(1) and repeating errors.

I think I'd go with something more like error showing me something broke across multiple namespaces, info

[2020-02-10 14:16] rikatz commented on #86587
@guzhaqixin no worries. Let's leave this open for now, and if it gots rotten by the bot we can re-open in a near future.

By this time, please be safe out there and I really hope things get better.

[2020-02-10 14:21] pikrzysztof commented on #87862
Thank you for your answer. I'm not sure I understand the current documentation.

If `isolcpus` is ignored by kubelet then why is it mentioned in the release notes? I think the documentation should be more explicit on how is this related to 1.17 and `--reserved-cpus`.

Core number 1 was assigned to the container with `resources.requests={cpu: 1, mem: 100Mi} resources.limits={cpu: 1, mem: 100Mi}`. T

[2020-02-10 14:44] tnqn opened #87979 "EndpointSliceController updating EndpointSlice triggers the Service reprocessing"
**What happened**:
With EndpointSlice feature enabled, after EndpointSliceController creates or updates an EndpointSlice when reconciling a Service, the Service would always be processed one extra time, which is triggered by the EndpointSlice added/updated event made by itself during the first processing.
[code]

**What you expected to happen**:
EndpointSliceController shouldn't reprocess a Servic

[2020-02-10 14:44] ncdc commented on #87960
Several of the recent failures appear to be this:

[code]

cc @detiber @dims

[2020-02-10 14:50] tnqn commented on #87979
/assign

[2020-02-10 14:50] tnqn commented on #87979
/sig network

[2020-02-10 14:50] dims commented on #87960
@ncdc next run should pick up the change in https://github.com/kubernetes-sigs/image-builder/pull/155/files we have had boskos outage clearing up now.

[2020-02-10 14:55] ncdc commented on #87961
@dims @justaugustus are we not building .deb files any more in CI?

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts/1226826036985991168/artifacts/logs/10.0.0.215/cloud-final.log

[code]

@detiber @akutz if you have multiple entries in a cloud-init `runcmd`, it looks like it ignores the exit code and keeps on trucking throu

[2020-02-10 15:08] damemi commented on #87427
@Huang-Wei spoke to @soltysh and @tnozicka from sig-apps, they also feel it is more appropriate under sig-node

[2020-02-10 15:30] evillgenius75 commented on #83683
This issue can be closed as k/k 1.17 is released. All known issues for new Release to be commented on #86882

[2020-02-10 15:30] #83683 closed

[2020-02-10 15:31] oxddr commented on #82378
/retitle Investigate issues with Network Programming Latency SLO

[2020-02-10 15:38] sanmai-NL commented on #87946
What OS, C standard library implementation, etc. in the 'bare metal' case?

[2020-02-10 15:39] akutz commented on #87961
Hi @ncdc,

It depends on the entry in the `runcmd` config. Per the module's [source code](https://github.com/canonical/cloud-init/blob/890aca4777ab61e54b6b96d251c3022cbe0b108c/cloudinit/config/cc_runcmd.py#L29-L39), the entry is either written to a file and executed with `sh` or executed with `execve`, depending on whether or not the entry was a list.

The command written to a shell script won't c

[2020-02-10 15:40] liggitt commented on #87441
I'd like to see if we can root cause what changed around 1/27-1/29 that greatly increased this

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-02-08&ci=0&pr=1&text=push-build&job=e2e-gce%24

[2020-02-10 15:41] alculquicondor commented on #87784
Since there is no consensus, I'll add this as a discussion item for next SIG meeting.

[2020-02-10 15:42] ncdc commented on #87961
I think https://github.com/kubernetes/kubernetes/pull/87585 is what broke us

[2020-02-10 15:43] ncdc commented on #87961
Thanks @akutz!

[2020-02-10 15:49] alculquicondor commented on #87784
Actually, let me add some clarification:
This question is not referring to keeping `hardPodAffinitySymmetricWeight` in the root of `KubeSchedulerConfig`. We already decided to just use PluginConfig for that.
The proposal here is to move `interpodaffinity.Args` to `pkg/scheduler/apis/config` and its versioned counterparts. The appeal is that of versioning and perhaps early validation.

[2020-02-10 15:51] ahg-g commented on #87784
PluginConfigs of the various in-tree plugins are part of the scheduler's config api, so ```pkg/scheduler/apis/config``` seems the natural place for it.

[2020-02-10 15:53] danwinship commented on #87197
The problem doesn't really appear to be cross-compiling...

Well... I guess if you were doing really hacky stuff somehow then there might be problems. The error is consistent with the possibility that the s390x image has all of the right packages installed but the post-install scripts didn't get run when installing them...

[2020-02-10 16:01] ncdc commented on #87960
This is still not going to work because k/k has removed the .deb files we've been downloading from the CI artifacts: https://github.com/kubernetes/kubernetes/pull/87585

[2020-02-10 16:01] jayunit100 commented on #87709
Once we log these explicitly, we also can dump these as output from the network policy e2es, which would make them easier to understand, as well

[2020-02-10 16:07] #79001 closed

[2020-02-10 16:20] ncdc commented on #87961
FYI we are discussing in Slack how to proceed to resolve this. I doubt it will be a simple, quick fix, though.

[2020-02-10 16:20] ncdc commented on #87960
FYI we are discussing in Slack how to proceed to resolve this. I doubt it will be a simple, quick fix, though.

[2020-02-10 16:38] liggitt commented on #87441
kubernetes/kubernetes changes:
* 1/26, ~6am UTC: e2b823fa7dd1ef61debc524e0e07f74db8ba4d91
* 1/28: ~6pm UTC: 53376cdf12b31c3c2405758c97e2ebca442ea7ea
* https://github.com/kubernetes/kubernetes/compare/e2b823fa7dd1ef61debc524e0e07f74db8ba4d91..53376cdf12b31c3c2405758c97e2ebca442ea7ea

test-infra changes:
* 1/25, ~3pm UTC: 2dfd2d812e2f294eb66e7438c0acc1281df5c5dc
* 1/28: ~8pm UTC: 15e661e6a2798eb5053

[2020-02-10 16:48] BenTheElder commented on #87441
It doesn't have to be one, the CI is run overcommitted with no limits,
something else could be upping memory pressure..?

On Mon, Feb 10, 2020, 08:38 Jordan Liggitt <notifications@github.com> wrote:

[2020-02-10 16:56] liggitt commented on #87441
ok... after sweeping k/k and test-infra for that time period, nothing clear emerged, and the bazel bandaids seem to be holding for now. unsatisfying :-/

/close

[2020-02-10 16:56] #87441 closed

[2020-02-10 17:08] #82544 closed

[2020-02-10 17:08] #77986 closed

[2020-02-10 17:11] kfox1111 commented on #70496
This may be covered by the Sidecar container use case?

[2020-02-10 17:44] danwinship commented on #87366
"add an appropriate tool to the image"?

Alternatively, use something like the operator pattern, where both the client and server Pod resources would be created by some other pod, which can then fill in an environment variable in the client Pod's spec pointing to the appropriate port in the server pod.

[2020-02-10 17:59] Huang-Wei commented on #87784
I suppose the `runtime.Unknown` type of `PluginConfig.Args` remains unchanged, right? i.e., it still accepts arbitrary bytes data, and decoded into particular Args type in runtime. It's just the particular Args are going to be held in a versioned manner.

[2020-02-10 18:08] mtaufen commented on #84922
Yes, CLI gates merge piecewise and take precedence over those in a config file. Each feature gate should be treated as an independent flag/field that enables or disables a feature.

[2020-02-10 18:09] ahg-g commented on #87784
Yes, we are not changing the current API. We are just declaring that whatever we parse from ```runtime.Unknown``` for a specific plugin is versioned and is part of the api.

[2020-02-10 18:10] cja000 commented on #74340
Hi,
I have tried with Calico, Flannel and WeaveNet, all with the same result.
Also, I've tried in a VBox just to install `kubeadm` and it was stable for more than 1h. No restart from `controler` neither `scheduler`.
I think that the problem is in the `etcd`.

[2020-02-10 18:10] roycaihw opened #87988 "Node performance tests are continuously failing"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-flaky

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
A long time ago: https://github.com/kubernetes/kubernetes/pull/76799, https://github.com/kubernetes/kubernetes/pull/78548

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-flaky

**Reason for failure**:
These tests create workloads that ea

[2020-02-10 18:12] neolit123 commented on #74340
to debug etcd you can use [etcdctl](https://github.com/etcd-io/etcd/tree/master/etcdctl) and you can feed it the certificates that kubeadm generates under `/etc/kubernetes/pki/etcd`.

[2020-02-10 18:26] droslean opened #87989 "[Failing Test] gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)"
**Which jobs are failing**:
`gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)`

**Which test(s) are failing**:
[code]
[code]

**Since when has it been failing**:
`2nd Feb 05:22 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-containerd

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernete

[2020-02-10 18:34] tedyu commented on #57291
[code]
It is a subjective matter defining normal pattern. From the above comments, some use cases would restart container constantly (https://github.com/kubernetes/kubernetes/issues/57291#issuecomment-561634523).

My suggestion from https://github.com/kubernetes/kubernetes/issues/57291#issuecomment-553520647 can be refined by putting lower bound on the backoff interval - say 10 seconds.

This way,

[2020-02-10 18:34] droslean opened #87990 "[Failing Test] gce-windows-1909-master (ci-kubernetes-e2e-windows-gce-1909)"
**Which jobs are failing**:
`gce-windows-1909-master (ci-kubernetes-e2e-windows-gce-1909)`

**Which test(s) are failing**:
[code]
[code]

**Since when has it been failing**:
`2nd Feb 07:03 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-g

[2020-02-10 18:42] liggitt commented on #87989
For `PodSecurityPolicy should allow pods under the privileged policy`:

https://github.com/kubernetes/kubernetes/blob/bb3cddc24f5c7d02b81573453f934826fc731401/test/e2e/auth/pod_security_policy.go#L171-L178

https://github.com/kubernetes/kubernetes/blob/bb3cddc24f5c7d02b81573453f934826fc731401/test/e2e/auth/pod_security_policy.go#L376-L379

https://github.com/kubernetes/kubernetes/blob/bb3cddc24f5c

[2020-02-10 18:44] dims commented on #87989
/assign @dims

[2020-02-10 18:45] dims commented on #87989
/priority important-soon

this is a new job :) it's in informing, not blocking

[2020-02-10 18:47] dims commented on #87989
/remove-priority critical-urgent

[2020-02-10 18:48] dims commented on #87989
a new presubmit in https://github.com/kubernetes/test-infra/pull/16213 will help with coming up with a fix for this issue

[2020-02-10 18:55] cji commented on #81143
/lifecycle frozen

[2020-02-10 18:55] cji commented on #81124
/lifecycle frozen

[2020-02-10 18:55] lavalamp commented on #87869
/priority awaiting-more-evidence

From my perspective the work required to do this is vastly larger than would be justified by the benefit.

Why?

Why? Is this really true of everyone with access to kubectl?

Personally, I think the place to solve this problem is in the operator/environment running the control plane. E.g., if you run an app inside Kubernetes, everything is visible from the api: yo

[2020-02-10 19:02] pjh commented on #87785
/kind failing-test

[2020-02-10 19:03] pjh commented on #87990
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/87785.

/close

[2020-02-10 19:03] #87990 closed

[2020-02-10 19:35] damemi commented on #87526
/assign

[2020-02-10 19:35] tedyu commented on #57291
Snippet showing the above idea:
[code]

[2020-02-10 19:39] bitva77 opened #87993 "Release Notes links is 404"
**What happened**:

Not a bug in Kubernetes per say but it is inhibiting my style when about to upgrade.  Before upgrading I like to look at what's changed so I check the release notes but they all seem to be missing:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md

**What you expected to happen**:

Was hoping to read the notes

**How to reproduce it (as minimally and preci

[2020-02-10 19:40] bitva77 commented on #87993
/sig Docs

I think

[2020-02-10 19:41] alculquicondor commented on #87526
/unassign

[2020-02-10 19:51] freehan commented on #86866
I have been looking at this particular problem for a while. Found some blog posts summarizing the root causes and mitigation ideas: [link1](https://learnk8s.io/kubernetes-long-lived-connections) [link2](https://kubernetes.io/blog/2018/11/07/grpc-load-balancing-on-kubernetes-without-tears/)

There is no perfect solution for this problem yet. This is mostly due to the limitation of the standing K8s

[2020-02-10 20:02] davidz627 commented on #87964
ack, I like the idea

Will work on a fix today and cherry-pick it as necessary

[2020-02-10 20:21] dims commented on #87989
Apparent fix in `kind` was https://github.com/kubernetes-sigs/kind/pull/914

[2020-02-10 20:46] leodotcloud commented on #86091
It's mostly like a config issue on our end (rke/kdm). Thank you all for looking into this.

[2020-02-10 20:46] #86091 closed

[2020-02-10 21:35] roycaihw commented on #87889
This sounds like a client issue. Could you file an issue in the Java client repo?

[2020-02-10 22:18] liggitt commented on #87668
Further debugging of GC lag issues in kube-controller-manager in e2e (after #87957 merged)

Combined log of e2e+kcm+apiserver for the timeout test failure from https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1226918786276265984 is at https://gist.github.com/liggitt/8b9899559688c37c3b20623d4af48cb8

The RC is deleted:
[code]

GC starts running attemptToDele

[2020-02-10 22:23] jpbetz commented on #87668
cc @caesarxuchao

[2020-02-10 22:25] liggitt commented on #87668
The informer resync is not unexpected, because we have lots of parallel e2e tests that add/remove CRDs. The extra time for GC to recover from an API group sync failure is not included in most of the GC e2e timeout periods.

The 17 and 15 second execution times for attemptToDelete are worthy of more investigation.

[2020-02-10 22:37] davidz627 commented on #80069
/remove-lifecycle stale

[2020-02-10 22:46] egernst commented on #87259
Through kube-state-metrics/#1053, I think we have in place the appropriate metrics now for providing this visibility. Closing.

[2020-02-10 22:46] #87259 closed

[2020-02-11 00:02] davidz627 commented on #87282
@tedyu can you link the patch here, I can't seem to see it

[2020-02-11 00:03] tedyu commented on #85155
If this is still relevant, I can try to help.

[2020-02-11 00:09] tedyu commented on #87282
@davidz627
See #88006

[2020-02-11 00:19] nileshkumar01 commented on #64801
@PatrickLang This is something that the client i am working with is also very interested in getting working. I tested the volume mount policy for Windows and it doesn't seem to be working.

[2020-02-11 00:28] OJFord commented on #80399
/remove-lifecycle rotten

[2020-02-11 00:29] OJFord commented on #80399
/reopen

[2020-02-11 00:44] leizhiyuan opened #88008 "seems this pr 'Enable selinux tags in make targets ' make the build fail"
**What happened**:

in master branch， when we exec `make` , it will fail

[code]

**What you expected to happen**:

build sucessfully

**How to reproduce it (as minimally and precisely as possible)**:

just build

**Anything else we need to know?**:

it seems dfd8e4e4670918e5879215710b43a42cde4f6482 add a comma to tags?

in golang.sh
[code]

but action.go check this

[code]

**Environment**: local

[2020-02-11 01:53] moonek commented on #87993
It appears to have been moved to a new folder named `CHANGELOG`.
https://github.com/kubernetes/kubernetes/tree/master/CHANGELOG

The document does not appear to reflect the new link.

[2020-02-11 01:53] liggitt commented on #88008
cc @dims

[2020-02-11 02:03] liggitt commented on #87993
That is the new correct location. Are there specific places you see stale links to the old locations?

[2020-02-11 02:06] 372046933 commented on #87277
@rikatz It's iptables. And all nodes are in the same LAN. RTT between nodes is around 50~60us. Network plugin is flannel

[2020-02-11 02:17] #82512 closed

[2020-02-11 02:26] moonek commented on #87993
All CHANGELOG-1.XX.md links on the release page are still at the old address.
https://github.com/kubernetes/kubernetes/releases

[2020-02-11 02:43] liggitt commented on #87993
cc @justaugustus

[2020-02-11 02:48] BenTheElder commented on #88008
what go version are you using? we require go 1.13+

also this is a problem for backport :man_facepalming:

[2020-02-11 02:49] BenTheElder commented on #88008
https://github.com/golang/go/commit/80e7832733fd245181af3394077f2df21303a4aa ... we can only backport this to kubernetes branches using go1.13+

probably the make rules should validate go version ...?

[2020-02-11 02:50] liggitt commented on #88008
1.16 and 1.17 are on go1.13

[2020-02-11 02:50] leizhiyuan commented on #88008
I use go1.13.6

[2020-02-11 02:58] dims commented on #88008
what do you see when you run `go help build`? (see below about comma separated tags)

[code]

[code]

[2020-02-11 02:59] dims commented on #88008
@leizhiyuan ^

[2020-02-11 03:01] leizhiyuan commented on #88008
I see,  It read the env in profile，not the temp value in the console of Goland.

I saw the `go version` is right when I run make in the console of Goland.

It solved now, thanks for your help~

[2020-02-11 03:02] dims commented on #88008
whew!

/close

[2020-02-11 03:02] #88008 closed

[2020-02-11 03:19] pjh opened #88011 "Dump list of test containers on Windows test nodes"
When a test run completes it would be useful to have a list of all the test containers that were pulled onto the node - see https://github.com/kubernetes-sigs/windows-testing/pull/126#discussion_r377413135 for the motivation. Let's add a call to `docker image list` at https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L249 - just after `export-windows-docker-event-lo

[2020-02-11 03:20] pjh commented on #88011
/assign @YangLu1031

Yang, we should also consider adding `docker image list` to the log gathering that the GCE diagnostics tool does :)

[2020-02-11 03:20] pjh commented on #88011
/sig windows

[2020-02-11 04:19] #79209 closed

[2020-02-11 06:44] itsecforu opened #88012 "Can't get service via NodePort"
Some time ago, my cluster worked fine and there were no network problems. After several experiments with External connections, the address of one of the moss nodes was registered on all nodes in the kube-ipvs0 interface.

Next i delete it vi ip addr del dev kube-ipvs0.

AFter this i met network problems on my nodes.

In my k8s I got deploytment:

[code]

and service:

[code]

All system pods and n

[2020-02-11 07:17] cja000 commented on #74340
Thank you for your support @neolit123

It looks like it is taking toooooooo much time to process anything:
[code]
Any suggestion of the delay for processing the queries?

[2020-02-11 07:33] stefanjacobs commented on #17512
Inspired by the scripts above I created the following script too view the usage, requests and limits:
[code]

Because join expects a sorted list, the scripts before failed for me.

You see as a result the current usage from top and from the deployment the requests and the limits of (here) all namespaces:
[code]

Noteworthy: You can sort over CPU consumption with e.g.:
[code]

This works on Mac - I

[2020-02-11 08:04] lzang commented on #87709
Traffic doesn't get denied due to a particular network policy as we are following a white list model and one pod can have multiple policy objects applicable to it. On the other hand, we can consider a policy having no allow rule as a deny rule, such as this one https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-deny-all-ingress-traffic
So it is possible to use the lo

[2020-02-11 08:39] d-Pixie commented on #67966
Another note for the future: our problem was not quoting `nginx.ingress.kubernetes.io/ssl-redirect: true`, it should, apparently, be `nginx.ingress.kubernetes.io/ssl-redirect: "true"` or it will drop all annotations. That cost me about a day ...

[2020-02-11 08:45] dudicoco commented on #87366
@danwinship modifying an image is not really viable for third party applications.

As I wrote in the first comment, the alternative would indeed be an init container or a dedicated controller to perform the lookup but it seems like an overkill.

[2020-02-11 09:11] FritschAuctores commented on #77258
/remove-lifecycle stale

The problem is still there

[2020-02-11 09:12] FritschAuctores commented on #77258
/remove-lifecycle rotten

The problem is still there.

[2020-02-11 09:23] lyveng commented on #86944
A colleague of mine @neerajb pointed out this PR #52864 that had introduced this bug.
The PR is for avoiding non-actionable error logs due to non-existent network namespace that gets generated when cmdDel is called multiple times.
The serialization of cni plugin execution is taken care of inside [PluginManager.SetupPod](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/ne

[2020-02-11 09:23] lyveng commented on #86944
Thank You.

[2020-02-11 09:31] andreas-eberle commented on #73692
@cben: Any news on this?

[2020-02-11 09:32] bertinatto commented on #80186
/remove-lifecycle stale

[2020-02-11 10:13] vatsramkesh commented on #51096
Here facing the same issue `Readiness probe failed: Get http://127.0.0.1:8085/healthz: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)` even though service return 200 response

[2020-02-11 10:15] lwx294821 opened #88013 "Resource requirements for own components"
K8s has core components and I want to know the minimum resource requirements for each component. For example, the resource requests for kube_controller is as follow "memory_limit: 512M
cpu_limit: 250m, memory_requests: 100M,cpu_requests: 100m". who can help me?

[2020-02-11 10:21] ingvagabund commented on #85685
/reopen

[2020-02-11 10:32] DrissiReda commented on #83125
I have the same issue, any workarounds?

[2020-02-11 11:00] jenting commented on #87231
If I install the [v1beta1 CRD yaml](https://github.com/dexidp/dex/blob/34dcf6c/scripts/manifests/crds/authcodes.yaml) on k8s 1.16+ cluster. It would be converted to `apiVersion: apiextensions.k8s.io/v1` via webhook conversion.

Then, after that, when I want to back up this CRD, how do I know the CRD originally version was?

[2020-02-11 11:07] LaysDragon commented on #43916
I ran into same problem too,isn't there any plan to fix the behavior of kubectl?

[2020-02-11 11:28] cja000 commented on #78068
Hi,
I have the same problem
Look at [74340](https://github.com/kubernetes/kubernetes/issues/74340)
I think it is a `etcd` problem but I cannot find the cause.

[2020-02-11 11:45] andyzhangx opened #88015 "azure disk migration does not work on CSINode"
**What happened**:
azure disk migration does not work on CSINode

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network

[2020-02-11 11:52] weshouman commented on #38849
@falfaro, that could be a bit late, but in case anybody else is stuck with this issue.
The code that implements the solution of @dennisxrow, can be found in the first revision of this [fork](https://gist.github.com/weshouman/e7b70adb46309e5532d1209657781eee/revisions)

Thanks @dennisxrow, for pointing out the solution, I'm not sure though how did you manage to know the cause, and how would the nam

[2020-02-11 11:55] marquiz commented on #87862
The documentation is probably a bit misleading. I think `isolcpus` was mentioned to highlight that this way you could ensure that nothing gets scheduled on these cores (except for possibly some kernel rcu callback threads) unless explicitly pinned on those. I don't think that this is necessarily optimal, in general, because those cores are removed from the kernel scheduler load balancing. This mea

[2020-02-11 11:57] jsafrane commented on #83382
I went through all block volume usage in e2e tests:

disruptive.go
multivolume.go
volume_expand.go
volumemode.go
volumes.go

All of them but one wait for their pods to be deleted. I'm fixing the remaining volumes.go test in #88016

[2020-02-11 13:08] droslean commented on #86787
@dims Any advice on which team is responsible? It seems there is not any maintainer for this job.

[2020-02-11 13:13] sylr commented on #86667
I haven't done any tests but I think that in case of long connections the load balancer continues to forward requests to the host it started with even if the load balancer probes removed the host from the backend pool.

If it is really what's happening then I agree with you that the load balancer should reset connections that are tied to a host that has been scraped from the backend pool.

[2020-02-11 13:29] neolit123 commented on #74340
please check this comment and the discussion bellow it.
https://github.com/kubernetes/kubernetes/issues/70082#issuecomment-434419606

i don't have any suggestions for solving the issue.

[2020-02-11 13:30] neolit123 commented on #70082
/remove-lifecycle rotten
this issue needs clarifications around root causes and possible etcd documentation updates.

[2020-02-11 13:43] feiskyer commented on #86667
@sylr Thanks for the update. By the way, could you upgrade to >=v1.16.0 and check whether it would happen? TCPReset is enabled by default since v1.16, I think it may help with the issue.

[2020-02-11 13:45] sylr commented on #86667
That's no something I can do. I have clusters deployed with an heavily customized aks-engine and they are running `1.13.12`. I'm not able to upgrade those clusters.

[2020-02-11 13:47] jsafrane commented on #79780
I am adding CSI directories cleanup in #87978

[2020-02-11 13:50] feiskyer commented on #86667
@sylr If so, could you modify the LoadBalancer rules and enable tcpreset? the setting may be lost on next cloud provider sync , but it could help to identify whether it is caused by tcpreset issues.

[2020-02-11 14:02] jsafrane commented on #74914
Checked with CSI GCE PD and AWS, both survive reboot just fine. See https://github.com/kubernetes/enhancements/issues/565#issuecomment-584590923

[2020-02-11 14:03] neolit123 commented on #88012
/sig network
/triage support

[2020-02-11 14:03] jsafrane commented on #74914
I think this issue has been dealt with, feel free to reopen if I missed anything.

/close

[2020-02-11 14:04] #74914 closed

[2020-02-11 14:08] neolit123 commented on #87960
me and @justaugustus did mention this on the k-dev:
https://groups.google.com/forum/#!msg/kubernetes-sig-cluster-lifecycle/q934Ah3SD64/JukDA9wsAgAJ

given there were no replies we assumed there are no users.
but this is definitely for the better as we removed the Bazel build of packages from k/k.

@fabriziopandini 's PR seems to use binaries directly:
https://github.com/kubernetes-sigs/cluster-api

[2020-02-11 14:11] dims commented on #86787
try talking to @cheftako please

[2020-02-11 14:14] Felihong commented on #44273
Also seeing this on `1.14.9-gke.23`.

[2020-02-11 14:18] mvisonneau commented on #87408
I believe you can retry @andrewsykim, the test fix has now been merged!

[2020-02-11 14:21] choury opened #88020 "kube-proxy will crash with healthz-port=0"
kube-proxy crash like this:
[code]
It should check nil interfaces properly

/sig network
/kind bug
/assign

[2020-02-11 14:35] aojea commented on #88020
@choury this seems a d duplicate of https://github.com/kubernetes/kubernetes/issues/87854

[2020-02-11 14:44] ncdc commented on #87961
The issue that was preventing machines from bootstrapping has been resolved. Recent test runs have proceeded past that issue and appear to have varying amounts of flakey tests.

[2020-02-11 14:46] #87783 closed

[2020-02-11 14:48] asheynkman78 opened #88023 "Problem with pods that use hostNetwork in kubernetes v1.17.x"
**What happened**:

I have 2 deployments. First deployment is 1 pod nginx web server with a sample home page, and it also has a ClusterIP service for the deployment.
The second deployment is busybox pod with curl, running with hostNetwork=true statement.

When I go into busybox pod and I try to do curl http://<service ip address>:port  it takes a long time to come back with the response and someti

[2020-02-11 14:50] asheynkman78 commented on #88023
/sig network

[2020-02-11 15:04] markyjackson-taulia commented on #74375
Hello, @alejandrox1 @mariantalla @alenkacz,
Another gentle ping here.
I wanted to check in on this issue to ensure it was still on track for the v1.18 release cycle.

[2020-02-11 15:06] markyjackson-taulia commented on #82296
Hi @liggitt

Gentle ping to see if this is staffed for v1.18

[2020-02-11 15:06] markyjackson-taulia commented on #82765
@khenidak
Gentle ping to see if this will make the v1.18 release?

[2020-02-11 15:07] choury commented on #88020
/close

[2020-02-11 15:07] #88020 closed

[2020-02-11 15:17] aojea commented on #82765
I think that this was already fixed by #84732

[2020-02-11 15:28] antoinetran commented on #60134
Might be linked to https://bugzilla.redhat.com/show_bug.cgi?id=1768206

[2020-02-11 15:40] andrewsykim commented on #87408
/close

thanks!

[2020-02-11 15:40] #87408 closed

[2020-02-11 15:51] liggitt commented on #87231
that information is not available from the API server

[2020-02-11 15:53] liggitt commented on #82296
@maikelvl your issue is distinct. 12345678e2 is a valid number (it's numeric value is 1234567800), so you need to quote it to specify it in a string field.

@markyjackson-taulia it is not yet staffed. higher priority issues are being worked on currently.

[2020-02-11 15:57] damemi commented on #87427
@fengzixu are you still working on a PR for this? If so please link it to this issue so we can track it

[2020-02-11 15:58] damemi commented on #87429
@haosdent are you still planning to work on updating these docs?

[2020-02-11 15:58] marquiz commented on #87150
Yes, the master dictates this.

The cidr is configured via the `--cluster-cidr` flag of kube-controller-manager. You could try editing the controller-manager manifest on the master node (adding/editing `--cluster-cidr` and setting `--allocate-node-cidrs=true`. I'm not sure if you would need to delete/re-add the worker nodes

[2020-02-11 16:00] tongchao199 opened #88025 "CronJob controller does not use shared informers and causes etcd cluster slow log alarm"
/sig apps
/sig scalability

**What happened**:
* Slowly increasing number of etcd cluster log alerts in our production environment
* Print etcd cluster slow log alarm
[code]

**What you expected to happen**:
* Etcd cluster reduces 100ms slow log alert

**How to reproduce it (as minimally and precisely as possible)**:
* Create 3 copies of etcd cluster
* Create more than 260,000 jobs
* View etcd clu

[2020-02-11 16:09] markyjackson-taulia commented on #82765
If that is the case, can this issue be closed @aojea ?

[2020-02-11 16:10] markyjackson-taulia commented on #82296
@liggitt are we ok to move this into v1.19 milestone or remove the milestone until staffing is available?

[2020-02-11 16:35] JerrySunWRS opened #88026 "Kube-apiserver token authentication is case-sensitive for IPv6"
**What happened**:
Set up Kubernetes cluster with OIDC parameters on the kube-apiserver.
Deploy Dex for authentication and obtain a token for kube-apiserver
create a kubernetes context and user for authentication with Dex
run "kubectl get pods", authentication fails
the following is seen in the logs:
2020-02-10T20:19:54.523842199Z stderr F E0210 20:19:54.523584 1 oidc.go:232] oidc authenticator: i

[2020-02-11 16:41] JerrySunWRS commented on #88026
/sig auth

[2020-02-11 16:46] bismitaguha commented on #87683
@neolit123 The documentation can be changed and `omitempty` variable should be removed from the `Type` field.
Can I work on this issue?

[2020-02-11 16:53] alculquicondor opened #88027 "Scheduler: Add compatibility tests for framework configuration"
`pkg/scheduler/apis/config/testing` has compatibility tests for Policy v1.

We are lacking similar tests for other options of `scheduler.New`, such as:

- [x] `WithFrameworkPlugins`: This can be added right away to test that default plugins can be disabled, changed order, etc.
- [ ] `WithFrameworkPluginConfig`: This one is trickier, as it requires a new method in `Framework` to expose all configur

[2020-02-11 16:54] max-rocket-internet commented on #20473
Once you hit the issue of having a few 500 errors served during a rolling update and then search for a solution, it seems the answer is to create a `preStop` lifecycle hook. For example: https://blog.gruntwork.io/delaying-shutdown-to-wait-for-pod-deletion-propagation-445f779a8304

And the reasoning is that we need to give k8s time to remove the pod form the endpoints controller.

But how long are

[2020-02-11 16:56] neolit123 commented on #87683
@bismitaguha
giving this is suggesting a change in a core v1 API you should ideally ask in the #api-review or #sig-api-machinery channels on slack, before sending the PR.

[2020-02-11 16:57] skilxn-go commented on #88027
/assign

[2020-02-11 17:03] alculquicondor opened #88028 "Scheduler: Add tests for server.go for close-to-full E2E setup"
We are lacking tests that exercise a full scheduler setup, all the way from config files and command line flags to what plugins end up instantiated.

The best candidate for this is `cmd/kube-scheduler/app/server.go`, but this needs tweaking. Basically, we need to split `runCommand` in two functions: `setupCommand` and the already existing  `Run` (which already has a test). Maybe we can have the te

[2020-02-11 17:05] alculquicondor commented on #83574
/close

because of the scope being too broad. I'm opening specific issues as I see fit.

[2020-02-11 17:05] #83574 closed

[2020-02-11 17:08] skilxn-go commented on #88028
/assign
I'm interested in e2e test. I can take it, too.

[2020-02-11 17:20] haosdent commented on #87429
sry, @damemi . assign by mistake. let me unassign.

[2020-02-11 17:46] alculquicondor commented on #88027
@skilxn-go, you can work on the first one.

I'll have a PR soon that should clarify how the second one should be done.

[2020-02-11 17:48] alculquicondor commented on #88028
Just to avoid too much burden on you, let's leave this open to other contributors. WDYT?

[2020-02-11 17:51] skilxn-go commented on #88028
Sure, I will unassign it.

[2020-02-11 17:58] aojea commented on #82765
/close
I think that this wasn't closed automatically by #84732 because there was 2 `#` on the description

[2020-02-11 17:58] #82765 closed

[2020-02-11 18:09] notpad commented on #88028
/assign
/remove-help

[2020-02-11 18:12] liggitt commented on #88026
The [OIDC spec](https://openid.net/specs/openid-connect-core-1_0.html#Terminology) explicitly says the issuer is case-sensitive:

[2020-02-11 18:13] liggitt commented on #88026
Are you encountering a scenario where normalization makes it impossible to configure the issuer to match, or was it just unexpected that the value would be case-sensitive?

[2020-02-11 18:22] liggitt opened #88031 "managedFields updates for no-op writes"
**What happened**:

On a resource with managedFields populated, a no-op patch modified the serialization order of managedFields.

**What you expected to happen**:

No-op patches do not result in a write to etcd.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

watch.txt contains:
* the initial ADDED event from kubectl
* MODIFIED events from kube-controller-manager
* one

[2020-02-11 18:24] liggitt commented on #88031
/sig api-machinery

[2020-02-11 18:25] liggitt commented on #88031
/wg apply

[2020-02-11 18:26] marosset commented on #87339
/close

[2020-02-11 18:26] #87339 closed

[2020-02-11 18:40] apelisse commented on #88031
Can you print the before after fieldmanager? I can't quite figure out what the actual values are.
The code that sorts that is located [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go#L189-L215)

[2020-02-11 18:45] liggitt commented on #88031
updated to unified diff and attached:
* [1.txt](https://github.com/kubernetes/kubernetes/files/4187573/1.txt)
* [2.txt](https://github.com/kubernetes/kubernetes/files/4187569/2.txt)
* [watch.txt](https://github.com/kubernetes/kubernetes/files/4187572/watch.txt)

[2020-02-11 18:47] lavalamp commented on #88031
If you explicitly set the field manager to something unique, does it happen every time?

[2020-02-11 18:50] lavalamp commented on #88031
hm, no, it's definitely an ordering swap

[2020-02-11 18:50] apelisse commented on #88031
1.txt is not sorted properly, since `kube-controller-manager` should come before `kubectl`.

[2020-02-11 18:51] kfox1111 commented on #20473
I think nginx-ingress has a 30 second default timeout too.

After that timeout, I usually do a prestop hook checking for tcp connections to the listening ports, send a safe shutdown, and wait for a drain. Scripting that can be a real pain. Having some more generic feature for that would be great.

[2020-02-11 19:01] aledbf commented on #20473
This is not true since 0.26.0 (Sept 2019)
Default now is `terminationGracePeriodSeconds=300s` and `worker-shutdown-timeout=240s`

[2020-02-11 19:04] lavalamp commented on #88031
We seem to also sort it in a second place: https://github.com/kubernetes/kubernetes/blob/574acbe31025bd7a298eae5dc72b0256a7a9b11a/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers.go#L80-L91

[2020-02-11 19:18] lavalamp commented on #88031
Theory: the first time it goes through, the time is accurate to the nanosecond; the second time, it's accurate to the second

[2020-02-11 19:19] lavalamp commented on #88031
Yeah OK I'm pretty sure that's it, both times are the same second. Serialization drops the fractional part.

[2020-02-11 19:20] JerrySunWRS commented on #88026
It was just unexpected that the value would be case-sensitive given that IPv6 addresses are not. I will close this bug.

[2020-02-11 19:20] #88026 closed

[2020-02-11 19:37] dims commented on #87989
fyi, the fix for the 2 failures are across the following PR(s):
- https://github.com/kubernetes/test-infra/pull/16221
- https://github.com/kubernetes/kubernetes/pull/88033
- https://github.com/kubernetes/kubernetes/pull/88010

[2020-02-11 19:50] kfox1111 commented on #20473
From what I understood, maybe I'm wrong, that it could take up to 30 seconds for nginx-ingress to notice a pod was terminating before stopping sending it new traffic. So pods themselves should wait at least 30 seconds for new connections before then attempting to safely shutdown the existing tcp connections it has still established. Otherwise a new incoming connection could be dropped while the po

[2020-02-11 20:10] drekle commented on #36391
I am also experiencing this with creationTimestamp queries

[2020-02-11 20:33] ingvagabund commented on #87429
What's the ETA? Till Friday?
/assign

[2020-02-11 20:46] cheftako commented on #86787
/assign

[2020-02-11 20:55] hh commented on #82545
/close
This was the older workflow based on increasing PodSpec field coverage .

[2020-02-11 20:55] #82545 closed

[2020-02-11 21:08] liggitt opened #88037 "[Flaky test] [sig-storage] Mounted volume expand Should verify mounted devices can be resized"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
* `[sig-storage] Mounted volume expand Should verify mounted devices can be resized`

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:
Appears to have started flaking around 1/16
* https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-01-22&pr=1&job=e2e-gce%24&test

[2020-02-11 21:11] markyjackson-taulia commented on #87510
@deads2k @mfojtik
Hello, bug-triage here. Just want to make sure we are still staffed and on-track for v1.18 code freeze

[2020-02-11 21:12] mfojtik commented on #87510
@markyjackson-taulia thanks, I will get to this tomorrow.

[2020-02-11 21:12] markyjackson-taulia commented on #87574
@jayunit100 @sureshpalemoni
Hello, bug-triage here. Just want to make sure we are still staffed and on-track for v1.18 code freeze

[2020-02-11 21:14] markyjackson-taulia commented on #18394
@liggitt, @mikedanese
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

[2020-02-11 21:14] markyjackson-taulia commented on #74379
@dims @cheftako
Are we staffed and still on-track for v1.18 release? Code freeze is slated for 3/5

[2020-02-11 21:15] fedebongio commented on #87915
Maybe an item to discuss live in SIG meeting?

[2020-02-11 21:15] fedebongio commented on #87915
/assign @lavalamp

[2020-02-11 21:18] AdriseYounis commented on #87934
/kind/bug

[2020-02-11 21:19] AdriseYounis commented on #87934
/sig scheduling

[2020-02-11 21:19] AdriseYounis commented on #87934
/cc

[2020-02-11 21:22] AdriseYounis commented on #87934
/kind bug

[2020-02-11 21:26] bismitaguha opened #88038 "Scheduler: Add tests for metrics recorder in framework/v1alpha1"
**What would you like to be added**:
Tests for `metrics_recorder.go`.

/sig scheduling
/help
/kind cleanup
/assign

[2020-02-11 21:31] liggitt commented on #88037
/assign @gnufied

[2020-02-11 21:40] jdumars commented on #85443
thanks for your help with this! When it is fixed I need to know where to send treats!

cc: @khenidak (you get treats too)

[2020-02-11 21:43] BobyMCbobs opened #88039 "Update conformance.txt testdata generate command"
# Issue
The currently provided command for generating `test/conformance/testdata/conformance.txt` requires bazel, the command should be updated to one which does not require bazel

Currently:
[code]

Suggested:
[code]

/sig testing
/sig architecture
/area conformance

[2020-02-11 21:59] bowei commented on #70707
/remove-lifecycle rotten

[2020-02-11 22:00] bowei commented on #70707
What is the status of this? Also, does it make more sense for the kubeadm folks to own this bug?

[2020-02-11 22:00] bowei commented on #70707
We need to scope what "different cluster creation tools" entails (e.g. which ones after which we consider this to be done)

[2020-02-11 22:47] neolit123 commented on #70707
kube-up already has this:
https://github.com/kubernetes/kubernetes/pull/70555/files

for kubeadm we delegated this work to the future addon installer.
https://github.com/kubernetes/kubeadm/issues/1220#issuecomment-553530193
i.e. making it as an optional addon.

for the rest of the deployers out there i think it makes sense to track the related work with individual tickets.

/close

[2020-02-11 22:47] #70707 closed

[2020-02-11 23:01] EdwinRobbins opened #88042 "Dynamic audit-webhook generates excess inflight requests"
**What happened**:
Number of inflight requests was measured higher than what throttle and timeout should have allowed. Build up of inflight requests increased memory usage of apiserver and caused OOM. Particularly in this case all of the audit-webhook pods were not scheduled which was responsible for the build up.

With a policy that specified a throttle qps of 100 we observe continuous growth of

[2020-02-11 23:03] EdwinRobbins commented on #88042
/SIG ApiMachinery

[2020-02-11 23:03] tedyu commented on #77638
I think this should not have been closed - the issue seems to be unresolved.

[2020-02-11 23:06] bukowa opened #88043 "Broken links for changelogs in Github Release emails."
Here are example links for changelog i receive for github release emails

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.17.md#v173
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#v11510
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#downloads-for-v11510
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#downloads

[2020-02-11 23:16] EdwinRobbins commented on #88042
/sig api-machinery

[2020-02-11 23:16] EdwinRobbins opened #88044 "Auditing dynamic backend prevents buffered audit backend starting"
**What happened**:
If using both runtime specified audit webhook with dynamic backend enabled the buffered backend for the runtime audit-webhook will not be started

**What you expected to happen**:
Both backends should start

**How to reproduce it (as minimally and precisely as possible)**:
- Enable feature gates and api for dynamic auditing
- Supply a runtime config for audit-webhook
- Observe a

[2020-02-11 23:16] EdwinRobbins commented on #88044
/sig api-machinery

[2020-02-11 23:16] EdwinRobbins opened #88045 "audit-webhook client request timeout should be configurable"
**What would you like to be added**:
A flag or other config setting configuring the client timeout for both the runtime and dynamic audit-webhook configurations should be added to allow for tuning the number of inflight requests to audit-webhooks can generate. Currently this is defaulted to 30s

**Why is this needed**:
The high default timeout caused memory impact and OOM to apiservers due to caus

[2020-02-11 23:17] EdwinRobbins commented on #88045
/sig api-machinery

[2020-02-11 23:17] EdwinRobbins commented on #88045
High default timeout contributed to https://github.com/kubernetes/kubernetes/issues/88042

[2020-02-11 23:19] cprivite commented on #74151
/remove-lifecycle stale

[2020-02-11 23:41] invidian opened #88046 "Kubelet makes credentials discovery even if --cloud-provider flag is set to empty string, which slows down start process"
**What happened**:

While starting `kubelet` configured to use Docker as container runtime, it tries to discover Docker credentials for all in-tree cloud providers, which blocks `kubelet` from starting fast, taking ~20 seconds.

**What you expected to happen**:

`kubelet` should not try to discover Cloud provider credentials when `--cloud-provider=""` flag is set.

**How to reproduce it (as minima

[2020-02-11 23:41] invidian commented on #88046
/sig node

[2020-02-11 23:46] fengzixu commented on #87427
@damemi Yep. Actually I have moved it into the eviction directory. I am revising it according to `move to sig-node` suggestion. Submit PR by tomorrow.

[2020-02-11 23:48] heybronson opened #88047 "Wrong node capacity on EC2 nodes with large EBS root volumes"
**What happened**:
`kubectl get nodes <node-name>` shows incorrect `ephemeral-storage` capacity on EC2 Instances with an EBS root volume of 4TB or more.

**What you expected to happen**:
the `ephemeral-storage` on the k8s node object should be the same as the capacity of the EBS volume

**How to reproduce it (as minimally and precisely as possible)**:
Create an EC2 instance node with a root EBS vo

[2020-02-11 23:59] erictune commented on #82292
The `$ref` option seems like it will help with the problem of including pod templates (while also changing the behavior of the CRD when the core kubernetes version is upgraded).

It doesn't seem like it would help with the problem where descriptions are simply too long, but where you want to include the rest of the

Since `$ref` replaces all the properties at its level, you can't replace the value

[2020-02-12 00:00] jodavis-suse commented on #87867
Thanks for the history links, @liggitt
So I'm still new to Kubernetes and may be missing something.  Are you saying that the logging conventions were not properly reviewed before they were merged, so a change should be made to the conventions to mark them as invalid?
I will agree that the guidelines in the document need to be interpreted depending on the purpose of the code they are applied to.

[2020-02-12 01:06] #87794 closed

[2020-02-12 01:50] cheftako commented on #74379
@nckturner ?

[2020-02-12 01:51] ottoyiu commented on #67592
We're also running into the issue. I think this ticket is worth re-opening. Since we don't have permissions, perhaps we will just re-create?

/reopen

[2020-02-12 01:56] tallclair commented on #85191
@pjbgf any updates on this issue?

[2020-02-12 02:01] caiohasouza commented on #84142
+1

[2020-02-12 02:22] tallclair commented on #56374
Yeah, I think so. What exactly are you trying to accomplish?

For binding to low number ports, you could always just bind to a higher port and use a service to map to a low port.

I would be in favor of adding an ambient capabilities field. I agree that it would make sense to copy the explicitly added capabilities to the ambient set, but making that change might be tricky for backwards compatibili

[2020-02-12 02:36] tanjunchen commented on #88043
refer to https://github.com/kubernetes/kubernetes/issues/87993

[2020-02-12 02:46] julianvmodesto opened #88051 "Remove deprecated command `kubectl rolling-update`"
`kubectl rolling-update` has been deprecated and hidden since April 2018 (https://github.com/kubernetes/kubernetes/pull/61285) in v1.11, and has been replaced with `kubectl rollout`.

Let's remove it completely from kubectl and tests, and then the website and any docs.

/sig cli

[2020-02-12 02:47] julianvmodesto commented on #88051
/kind cleanup

[2020-02-12 02:48] julianvmodesto commented on #88051
/remove-kind feature

[2020-02-12 03:13] alejandrox1 commented on #86787
Turning to the question of whether these tests are actually useful...

One of the tests that has been continuously failing is this one https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cloud/gcp/reboot.go#L114-L117
Which essentially does
[code]
because
[code]

From the logs (example https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/122739272361548595

[2020-02-12 03:14] alejandrox1 commented on #86787
/assign

[2020-02-12 03:24] liggitt commented on #88043
/sig release
/cc @justaugustus

[2020-02-12 03:24] liggitt commented on #87993
/remove-sig docs
/sig release

[2020-02-12 03:34] julianvmodesto commented on #88051
/area kubectl

[2020-02-12 03:42] justaugustus commented on #88043
Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/87993.
Please follow the conversation over there.
/assign
/close
/area release-eng

[2020-02-12 03:42] #88043 closed

[2020-02-12 03:45] justaugustus commented on #87993
Yep, this was changed in https://github.com/kubernetes/kubernetes/pull/87879.
We're working on fixing this. Will update here once it's resolved.

/assign
/priority important-soon
/area release-eng
/milestone v1.18

[2020-02-12 03:48] msau42 opened #88055 "Move tests from pd.go and persistent_volumes-gce.go to the e2e storage testsuites"
**What would you like to be added**:
Most of the functionality tested in those files can be generalized and tested through the storage testsuites that can run against any storage driver.

**Why is this needed**:
Helps increase test coverage for other plugins, and also helps us reduce provider-specific e2es.

/assign

[2020-02-12 03:48] msau42 commented on #88055
@kubernetes/sig-storage-misc

[2020-02-12 04:07] justaugustus commented on #87993
/assign @saschagrunert

Sascha, assigning you as well in case you can get to this before me.

We need to make sure that both the release template that gets uploaded to GH AND the release-notify template that we use for the announce mails are updated to point to the new location.

It's probably easiest if we parameterize (something like `CHANGELOG_BASE_URL`) so the locations stay in sync with each

[2020-02-12 04:27] justaugustus commented on #87325
Should be fixed in https://github.com/kubernetes/kubernetes/pull/87954.

[2020-02-12 04:54] msau42 opened #88058 "Consolidate pod creation methods in storage testsuites"
**What would you like to be added**:
As seen in https://github.com/kubernetes/kubernetes/pull/88054, there are many different ways the storage testsuites create pod objects. It would be nice to consolidate all the different methods into one common pod creation util, like `e2epod.MakeSecPod`, so that all the tests will automatically support setting fsgroup, selinux, node affinity, etc.

I think thi

[2020-02-12 05:39] 249043822 opened #88061 "TestMetricsDuGetCapacity unit test fails on 1.17.2"
**What happened**:
13:12:11 === RUN   TestMetricsDuGetCapacity
13:12:11 --- FAIL: TestMetricsDuGetCapacity (0.01s)
metrics_du_test.go:100: Unexpected Used for directory with file.  Expected 4096, got 0.

**What you expected to happen**:
should SUCCESS
**How to reproduce it (as minimally and precisely as possible)**:
make test
maybe this pr  ##82474 caused

**Anything else we need to know?**
I have

[2020-02-12 05:41] 249043822 commented on #88061
/sig volume

[2020-02-12 05:43] 249043822 commented on #88061
/sig testing

[2020-02-12 06:05] 249043822 commented on #88061
additional info:
$docker info
14:00:33 Containers: 0
14:00:33  Running: 0
14:00:33  Paused: 0
14:00:33  Stopped: 0
14:00:33 Images: 44
14:00:33 Server Version: 1.12.6
14:00:33 Storage Driver: overlay2
14:00:33  Backing Filesystem: xfs
14:00:33 Logging Driver: json-file
14:00:33 Cgroup Driver: cgroupfs
14:00:33 Plugins:
14:00:33  Volume: local
14:00:33  Network: host null bridge overlay
14:00:33 Sw

[2020-02-12 06:05] LorrieS commented on #43916
I am also experiencing this problem.  I will try the workaround of setting memory limit to memory request but, I would like to know if there are any plans to update how kubernetes calculates memory used (specifically it should not count buffer cache to determine OOM trigger)

[2020-02-12 06:57] timyinshi opened #88063 "Kubelet restart unexpectedly"
**What happened**:
my kubelet restart unexpectedly,i find log info has more "Failed to list" info and has fatal error: go of nil func value,and then kubelet restart

Feb 02 17:46:25 mgt15 kubelet[6914]: E0202 17:46:25.752271    6914 reflector.go:126] object-"logging"/"elasticsearch-token-99wc2": Failed to list *v1.Secret: Get https://vip-apiserver.inspur.com:8443/api/v1/nam
Feb 02 17:46:25 mgt15 k

[2020-02-12 07:04] timyinshi commented on #88063
/sig node
/wg node
/committee node

[2020-02-12 07:12] mleonhard commented on #87634
Examples-based documentation is fine if there are comprehensive examples with comments explaining what each option means and the available values.  Kubernetes does not have that kind of documentation.

The APIs I need to use are not changing.  I'm not doing anything complicated.

Kubernetes is an example of [API Practices If You Hate Your Customers - Technique #4: Hide the API docs from Search Eng

[2020-02-12 07:12] vrothberg commented on #87325
Thanks a lot to all involved!

[2020-02-12 07:16] #88015 closed

[2020-02-12 07:16] #88031 closed

[2020-02-12 07:46] #65274 closed

[2020-02-12 07:59] matthyx commented on #8116
Hi, is this issue still relevant today?

[2020-02-12 08:07] saschagrunert commented on #87993
Working on fixes now. As a summary:

- We have to be careful that timing might play an important role here. For example, the latest patch releases from yesterday contain the correct links to the CHANGELOG files, for example
  https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md#v1173
  Unfortunately, the only way to fix that for previous releases would be manually.
  We

[2020-02-12 08:34] sureshpalemoni commented on #87574
/close

[2020-02-12 08:35] sureshpalemoni commented on #87574
PR has already been merged. This issue can be closed actually.

[2020-02-12 10:04] duylong opened #88068 "Mount NFS after container creating"
Hi,

I would like to mount NFS volumes in containers. The mount currently uses the IP address of the source host to perform the mount. However, the host is not authorized to access it. The network part works at home, I have several routes to several interfaces. So I would like to be able to mount the volumes after the network initialization of the container and be able to mount the volumes with th

[2020-02-12 10:19] duylong opened #88069 "advertise-address and dualstack ipv4/ipv6"
Hi,

I tried to create a Kubernetes instance. I used the "kubeadm init" command for this with a yaml configuration file. However I have a problem when I use the "advertise-address" option with an IPv6 address and the IPVS option.
After creating the cluster, the "kubernetes" service is created with the IP 10.96.0.1. However, this service does not work and when I describe this service, I notice that

[2020-02-12 10:33] droslean commented on #87989
job is green. Closing...
/close

[2020-02-12 10:33] #87989 closed

[2020-02-12 11:03] dims commented on #87989
thanks @droslean !

[2020-02-12 11:53] akokshar commented on #86715
Have just installed fresh 1.17.2 and see the same issue:
[code]

[2020-02-12 12:08] wojtek-t commented on #88025
There is a KEP in-review to address this (and couple other) issues.

[2020-02-12 12:09] wojtek-t commented on #88025
https://github.com/kubernetes/enhancements/pull/978/files

[2020-02-12 12:10] #87325 closed

[2020-02-12 12:12] jtslear commented on #77095
Hello @MorrisLaw, @johnSchnake, and @andrewsykim
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

[2020-02-12 12:13] jtslear commented on #86417
Hello @liggitt and @fedebongio
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

[2020-02-12 12:20] jtslear commented on #73084
Hello @yujuhong
Bug Triage team here for the 1.18 release. Is there anything else required for this issue?  I see that https://github.com/kubernetes/kubernetes/pull/76415 was closed without a merge and suspect we still need to complete some work.  This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18?

cc @dchen1107 and @liggitt as K

[2020-02-12 12:34] jtslear commented on #78995
Hello,
Bug Triage team here for the 1.18 release. It appears that linked PR https://github.com/kubernetes/kubernetes/issues/82532 has been bumped to milestone 1.19.  I'm proceeding to do the same on this issue.  Should anyone disagree with this, please feel free to re-assign.

/milestone v1.19

[2020-02-12 12:50] gianarb commented on #72956
Hello @BenTheElder   !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-12 12:50] gianarb commented on #73723
Hello @apelisse   !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-12 12:51] gianarb commented on #87466
Hello @jennybuckley    !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-12 12:52] gianarb commented on #58211
Hello @tallclair   !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-12 12:53] spaced commented on #83679
can someone confirm that 1.16.7 / 1.17.3 binaries are built with the selinux tags in make targets?

[2020-02-12 12:53] droslean commented on #87387
@davidz627 Any news?

[2020-02-12 13:10] simonswine commented on #83679
No they haven't as #87753 #87752 haven't been merged. Feel free to ask on those PRs again, I have not been successful, convincing that this should be merged with at least some priority

[2020-02-12 13:32] sco11morgan commented on #8116
Yes still relevant.  Getting validation constraints into the JSON schema will improve tooling that uses the schema.  https://github.com/instrumenta/kubeval/issues/18#issuecomment-319592446

[2020-02-12 13:59] duylong commented on #88068
It is more complicated, because when I mount an NFS volume myself, I can contact the remote server but it cannot reach me. It has my return address (based on EXTERNAL-IP service) but unfortunately does not have the port number. I only have an IP / PORT redirection with IPVS, this port number being fixed in advance.

[2020-02-12 14:07] panicbit commented on #69676
/remove-lifecycle stale

[2020-02-12 14:11] liggitt commented on #87867
The two main issues are:
1. The current state of our log levels is wildly out of step with the guidelines
2. If we followed the guidelines as written, our log volume would increase to problematic levels at current scale and would not be usable

[2020-02-12 14:17] Robert-Stam commented on #68427
@andyzhangx : Any news on this? Please provide a ballpark estimate if a solid ETA cannot be provided atm. Thanks in advance! Robert

[2020-02-12 14:22] elranr commented on #63615
How can I implement this?

[2020-02-12 14:27] jswierad commented on #19171
How did you use weave-net to manage multicasts from outside the cluster?

[2020-02-12 14:27] lovexiongmao commented on #78645
@Ankur7890 @oded-dd hello, have you solve the problem? i get the same issue. now

[2020-02-12 14:37] michaelgugino commented on #80389
/remove-lifecycle stale

[2020-02-12 14:38] lovexiongmao commented on #74551
@dwbrown2 have you solve the problem? i get the same issue,now. and It affects my production environment

[2020-02-12 14:42] thecosmicfrog commented on #60134
Facing this issue on Amazon Linux 2 also.

[2020-02-12 14:48] masterkain commented on #60987
getting spammed by this on EKS, cloudwatch ain't free

[2020-02-12 15:04] hoyho opened #88075 "Code-generator: cheme.Codecs.WithoutConversion undefined in generated client code"
**What happened**:
I tried
1.  import _ "k8s.io/code-generator" in another go project
2. run `go mod vendor` to update vendor.
so that I have code-generator in my vendor folder
3. running a script to generated client code:
`./vendor/k8s.io/code-generator/generate-groups.sh deepcopy,client,informer,lister github.xsky.com/xsky/xsky-csi/pkg/crd-client github.xsky.com/xsky/xsky-csi/pkg/apis xskycontro

[2020-02-12 15:17] MansM commented on #87852
I have kinda the same issue.
using the netdata helm chart the pods have hostnetwork true and ClusterFirstWithHostNet.
only the pod that is on the same host as the master (where the service is pointing to) can reach the service.
[code]

Logs are pretty clear:
[code]

using the serviceIP I cant curl it, using the podIP I can curl it directly

[2020-02-12 15:21] rakan530 commented on #79523
Because very few protocols have ever needed UDP load balancing. DNS deployments (think services the size of 8.8.8.8) typically use Anycast to distribute load. NTP can't really be load-balanced, as client and server state are intrinsically tied together. RTP and Syslog are "one-way", where packets go from sender to receiver and only "return path" via a different protocol.

[2020-02-12 15:23] RinckFox opened #88077 "Logging of priority policies scoring"
**What would you like to be added**:
Logging getting points for ALL priorities set in the default scheduler policy

**Why is this needed**:
We have Kubernetes v1.14 with a problem of planning pods for three nodes. The problem is that the scheduler unevenly distributes the pods across the nodes. For example, the CPU on two nodes Node02 and Node03 are 50% loaded, while the CPU on the third Node01 is

[2020-02-12 15:24] aojea commented on #87852
....

that sounds more related to a connectivity problem, maybe related to the CNI, maybe related to iptables, .... that you are not able to access the services from the nodes 🤷‍♂

[2020-02-12 15:25] RinckFox commented on #88077
/sig scheduling

[2020-02-12 15:30] aojea commented on #88069
@duylong in dual-stack order matters, and the cluster takes the IP family of the first CIDR configured.
If you want to use IPv6 for your apiserver, just pass to kubeadm the subnets in the order <IPv6>,<IPv4>

[2020-02-12 15:34] MansM commented on #87852
If I do a kubectl run and it ends up on the same node: zero issues. Will try if I can adjust the pod to dns by podIP and see if that connects

[2020-02-12 15:43] duylong commented on #88069
I did not know that order mattered. I'm going to try, I just hope I shouldn't reset everything.

[2020-02-12 15:45] ehsanrocket commented on #87946
Ubuntu OS
we have containerized a java  application (spring boot)
I think the problem is the java application that when is containerized, it will not work as well as non containerized one.

[2020-02-12 15:49] liggitt commented on #88075
ensure you have selected matching levels of kubernetes libraries:

for example, instead of:
[code]

do
[code]

[2020-02-12 15:49] #88075 closed

[2020-02-12 15:50] dwbrown2 commented on #74551
No great solutions here... we are just using port forwarding a lot less for the time being :(

[2020-02-12 16:18] liggitt commented on #88063
fix is in #88079

[2020-02-12 16:19] liggitt commented on #88063
/sig auth

[2020-02-12 16:24] liggitt commented on #18394
/milestone v1.19

https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md#implementation-timeline has the last step of label restrictions being implemented in 1.19

[2020-02-12 16:31] ssuchter commented on #24420
This issue is now hitting downstream projects (e.g. Istio). See [this Istio discuss thread](https://discuss.istio.io/t/solved-error-installing-istio-using-istioctl/5254). The user didn't have a ~/.kube/config and got this inscrutable message:

Fortunately the user noticed the localhost:8080 in there and was able to proceed.

I have the perception that localhost connections are very likely to succe

[2020-02-12 17:00] neolit123 commented on #88068
/sig storage

[2020-02-12 17:03] neolit123 commented on #88069
you should move to the latest MINOR version of the 1.17 control-plane components as 1.17.0 had some service CIDR bugs.

[2020-02-12 17:03] apelisse commented on #87466
I think this is obsolete? Joe did bump smd through another PR, am I correct @jennybuckley ?

[2020-02-12 17:14] lavalamp commented on #8116
Yes. We intend to use the serverside apply code to do general schema things like this, as we haven't had a schema-aware universally-run code location yet. So, this will become doable soon.

@apelisse

[2020-02-12 17:15] tedyu opened #88083 "'subPath should support existing single file' is flaky"
**Which jobs are flaking**:

**Which test(s) are flaking**:
[sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: tmpfs] [Testpattern: Pre-provisioned PV (default fs)] subPath should support existing single file [LinuxOnly]

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86896/pull-kubernetes-e2e-gce/1227627656124567552/

**Reason for failure**:
[code]
**A

[2020-02-12 17:29] erenbz commented on #72597
feature is certainly needed, just has spent 6 hours debugging pod networking ending up realizing the port was just bound to interface ip addr so socat fails. maybe additional improvement would be not defaulting to 127.0.0.1 but iterating through binding list and getting first instance of port x.

[2020-02-12 17:32] smourapina commented on #70131
Hello @dims and @saschagrunert!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is about 3 weeks from now. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-02-12 17:33] smourapina commented on #75564
Hello @liggitt  and @kwiesmueller!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is about 3 weeks from now. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-02-12 17:35] smourapina commented on #81134
Hello @liggitt and @zouyee !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is about 3 weeks from now. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-02-12 17:36] shensonj commented on #43916
@bitglue @nvanheuverzwijn  @shadycuz @oleg-filiutsich @berlincount

Hello Guys...Any suggestion or workaround for this problem

[2020-02-12 17:37] JacobHenner commented on #68211
/reopen
/remove-lifecycle rotten

Seeing this on:

[code]

[2020-02-12 17:37] smourapina commented on #75601
Hello @neolit123 and @tanjunchen !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is about 3 weeks from now. Are you still targeting being ready before then, or would it be better if we move the milestone?

[2020-02-12 17:41] kwiesmueller commented on #75564
The KEP is merged and I plan to get this ready before code freeze. Yes.

[2020-02-12 17:46] smourapina commented on #84804
Hello @PatrickLang and @adelina-t!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March, which is about 3 weeks from now. Is this issue still intended for milestone 1.18? I see that the PR mentioned above was merged already.
Thanks in advance!

[2020-02-12 17:49] smourapina commented on #73286
Hello @justaugustus!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is approaching, and you might want to check if you still intend to complete this issue for 1.18. Thanks in advance!

[2020-02-12 17:52] smourapina commented on #85892
Hello @BenTheElder, @jimangel !
Bug Triage team here for the 1.18 release pinging issues without recent activity. This is a friendly reminder that code freeze is approaching (5 March). Do you still intend this issue for 1.18, or should we adjust the milestone?

[2020-02-12 17:52] ottoyiu opened #88085 "Ability to have Pod not be removed from endpoints list for service when "preStop" is executing - set to NotReady instead"
**What would you like to be added**: Pod is immediately removed from endpoints list for service after user sends command to delete Pod, even if it has a 'preStop' hook defined. This causes the loadbalancer to remove the endpoint which causes existing connections to immediately close without having a chance to be drained by the application.

See:
https://kubernetes.io/docs/concepts/workloads/pods/p

[2020-02-12 17:54] smourapina commented on #58012
Hello @justaugustus, @cpanato, @ameukam!
Bug Triage team here for the 1.18 release pinging issues without recent activity. This is a friendly reminder that code freeze is approaching (5 March). Do you still intend to include this issue for 1.18? Thanks in advance!

[2020-02-12 17:58] alejandrox1 commented on #75601
Thank you Silvia for the reminder.
/milestone v1.19

[2020-02-12 18:06] alejandrox1 commented on #86787
Wanted to triple check on the test looking for nodes to be back up after being rebooted: I dont think 5 minutes is a hard deadline - only SLOs I could find were for scalability https://github.com/kubernetes/community/blob/master/sig-scalability/slos/slos.md.

[2020-02-12 18:09] jsafrane opened #88086 "CSI block volumes don't support Uncertain state of volumes"
**What happened**:
CSI volume plugin does not pass operation status (in progress / finished) to operation executor, so kubelet cannot do well informed decision if an operation could be in progress or not.

**What you expected to happen**:
The same uncertain volume handling as filesystem volumes.

/assign
/sig storage

[2020-02-12 18:10] tedyu commented on #88085
[code]
What's the expected period of time 'notReadyAddresses' is supposed to be effective ?
What if the preStop hook takes long time to finish ?

Thanks

[2020-02-12 18:12] liggitt commented on #88063
/assign

[2020-02-12 18:30] ottoyiu commented on #88085
@tedyu It would be in the notReady set of addresses until completion, regardless of how long it takes.

AFAIK, this problem was dealt with and was implemented in the form of 'Graceful Termination' within the IPVS proxier. The proxier would put the RealServer into a graceful termination bucket - which marks the IPVS destination to a weight of 0, and waits until all TCP connections have expired befo

[2020-02-12 18:34] davidz627 commented on #87387
I've had other stuff on my plate, will look into this today

[2020-02-12 18:38] dims commented on #70131
/milestone clear

@smourapina clearing the milestone. thanks!

[2020-02-12 18:40] gnufied opened #88088 "pv controller processes same object multiple times for same delete event"
PV controller appears to be processing same object multiple times for same PVC delete event. The reason is mainly because when a PVC is deleted and PV is synced(either because of an event or because of resync), then each update to PV object causes another event which gets processed until PV object is removed from informer/store and really marked as deleted.

This results in multiple delete request

[2020-02-12 18:51] jayunit100 opened #88090 "Node targeted policy tests"
**What happened**:

We recently came across an issue wherein you can implement the NetworkPolicy interface and pass all tests even though certain polices for pods on single nodes arent actually applied.

In https://github.com/vmware-tanzu/antrea/issues/381

I'm filing this as a broader testing improvement initiative to make the bar for CNI's higher and more predictable in terms of how network poli

[2020-02-12 18:51] jayunit100 commented on #88090
/sig network

[2020-02-12 18:57] #82302 closed

[2020-02-12 19:04] Soyofuki commented on #87048
We face exactly the same issue and our application totally down with the lost of DNS.
This is really a critical bug which cause the whole network lose connection.

[2020-02-12 19:07] msau42 commented on #87387
/assign @ahg-g
to look into sig-scheduling test failures.

In the future, it would be better to open separate issues per sig for test failures to make it easier to track unrelated tests and who is looking at what.

[2020-02-12 19:23] julianvmodesto opened #88091 "Provide server-side apply capability in client-go"
**What would you like to be added**:
Provide an interface to run `Apply` in client-go.

**Why is this needed**:

Currently, `kubectl apply` is the canonical example of how to call server-side apply in a client.

https://github.com/kubernetes/kubernetes/blob/1e12d92a5179dbfeb455c79dbf9120c8536e5f9c/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go#L388-L433

However, we need to package this into cl

[2020-02-12 19:29] julianvmodesto commented on #88091
Some suggestions from @lavalamp from the sig-apimachinery meeting:
- Structured objects won't work since server-side apply accepts `yaml` as the format. Pointers for fields to capture `nil` in our generated resource structs is not great for usability.
- Thus, an interface could take `yaml` as a format
- A DynamicClient Apply interface that accepts a map or resource with setters and getters, and co

[2020-02-12 19:36] alculquicondor opened #88093 "Validate Plugin and PluginConfig for KubeSchedulerConfiguration"
Today, we are doing validation of the framework configuration (plugins and plugin config) during the framework instantiation (`framework.NewFramework`) which happens during scheduler instantiation (`scheduler.New`).

This was a a good first step during the Framework migration. However, as we prepare to move component config to beta (aiming for 1.19), we should start replicating some of the validat

[2020-02-12 19:38] alculquicondor commented on #88093
/assign

[2020-02-12 19:41] alculquicondor commented on #88093
We could further validate specific plugin configs if we decide to do #87784

[2020-02-12 20:26] diepes commented on #54491
I think the container exiting on it's own,  e.g. app detecting a missing value at startup or faulty db connection and then electing to exit.

[2020-02-12 20:31] gavinfish commented on #88058
/cc

[2020-02-12 20:33] gnufied commented on #88088
It looks like this is to some extent by design because events are pulled from workqueue by one goroutine and then do some proccessing and then put into another goroutine via nestedpendingoperations thingy.  The problem is, this is inherently "racy" because first goroutine might be pulling events that were triggered by second goroutine and hence causing processing of events that are still in-progre

[2020-02-12 20:43] lavalamp commented on #24420
Maybe it should just always print a warning when there's no .kube/config file. `Warning: You have no ~/.kube/config; assuming a local cluster in insecure mode (localhost:8080). Please make a ~/.kube/config file to ensure you're talking to the cluster you intend to talk to.`

Personally I think it'd be better to refuse to connect without an explicit destination, but almost certainly that'd be "fixi

[2020-02-12 20:54] GaurangRLB commented on #87048
@Soyofuki You can find more details on this at https://github.com/Azure/AKS/issues/1376 . V1.15.8  might have patch for this.

[2020-02-12 21:33] matthyx commented on #8116
Ok, so @lavalamp can I help somehow here? How can we help tools like `kubeval` have a better validation?

[2020-02-12 21:37] lavalamp commented on #8116
What is `kubeval`?

The proper way to consume schema data as a client is to read the cluster's OpenAPI spec. We will be adding more `x-kubernetes-*` tags in places where there aren't existing OpenAPI tags to express the concept.

[2020-02-12 21:56] matthyx commented on #8116
`kubeval` is what @sco11morgan mentioned in his comment... I took it as an example of an OpenAPI consumer.

Alright, so as I understand it, sig/api-machinery is already on it and I don't have to jump in?

[2020-02-12 22:20] lavalamp commented on #8116
Ah sorry, didn't see that-- one other thing that might help today, is server side dry-run, which is beta and going GA this release.

If you have cycles to spare and energy for this, the [apply working group](https://github.com/kubernetes/community/tree/master/wg-apply) might be something to check out.

[2020-02-12 22:30] apelisse commented on #8116
Client-side validation has benefits over "server-side dry-run". Ideally we'd like to reduce that gap as much as possible, but there are things that are very hard to do with dry-run, including: bootstrapping (CRs need the CRD, objects needs their namespace), and permissions (one needs write permission to the cluster to dry-run).

As Daniel mentioned, there are many things that we're trying to add t

[2020-02-12 22:39] luisdavim opened #88097 "Garbage collector deleted wrong resources"
**What happened**:
Today I ran into a problem that seems to be a race condition in the way kube-controller-manager primes the cache before starting the garbage collection. We have a cluster with hundreds of namespaces and thousands of custom resources that have parent child relationships and during a cluster upgrade, whilst replacing the control plane nodes the garbage collector deleted some resou

[2020-02-12 22:42] neolit123 commented on #88097
/sig api-machinery

[2020-02-12 22:42] neolit123 commented on #88083
/sig storage

[2020-02-12 22:53] jjshanks commented on #84203
/remove-lifecycle stale

[2020-02-13 00:22] ahg-g commented on #88093
We can do some validation for Plugin and PluginConfig of KubeSchedulerConfiguration, but I don't think we should remove the one done at Framework instantiation for two reasons: 1) external components like CA create a Framework instance directly, 2) the logic that creates the final set of plugins (i.e., after disabled plugins are removed and the special * symbol is processed) is done at a later sta

[2020-02-13 00:23] davidz627 commented on #68586
/remove-lifecycle stale

[2020-02-13 00:27] rikatz commented on #87277
Hum, ok. Just to start eliminating some possible cause, can you please try running kube-proxy with IPVS mode instead of iptables, or is this a production environment that you can't change.

The idea here is to eliminate some condition caused by IPtables from kubelet x kube-proxy x flannel :)

Thank you

[2020-02-13 00:47] robscott commented on #87979
/remove-triage unresolved

[2020-02-13 02:02] timyinshi commented on #88063
@liggitt  thanks，what version is this bug been fixed?

[2020-02-13 02:16] farvour commented on #67676
This is ridiculous. The `use-context` subcommand at the VERY LEAST should *NOT* care if the filesystem in which the config is on is writable. All of these workarounds are ridiculous.

[2020-02-13 02:31] vishal49naik49 opened #88101 "Issue with Kubernetes Service"
**What happened**:
We have a service which opens 30000 port on worker node connecting the pod running on port 3000.
Once the pod on this worker node is deleted, we expect worker node to be non responsive on port 30000. However we see the worker node still provides a response.

**What you expected to happen**:
If the pod is deleted on the node, worker node should not have responded on port 30000

*

[2020-02-13 02:32] vishal49naik49 commented on #88101
/sig Network

[2020-02-13 02:52] alculquicondor commented on #88093
That is true. I updated the issue description. That said, I don't plan to work on this until profiles land.

[2020-02-13 04:04] BenTheElder commented on #85892
I am not working on this. @justaugustus ?

[2020-02-13 04:32] liggitt commented on #88097
this is likely the same issue as https://github.com/kubernetes/kubernetes/issues/65200

are your owner resources namespaced or cluster-scoped?
are your child resources namespaced or cluster-scoped?
if both are namespaced, are the child resources in the same namespace as the parent?

[2020-02-13 04:34] liggitt commented on #88063
The fix is not yet merged, but I plan to backport the fix to 1.15.x, 1.16.x, 1.17.x (the exact patch versions depend on when the backports are merged)

[2020-02-13 04:47] alejandrox1 commented on #74352
Im pretty sure this is still something we want to move towards.
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-02-13 05:07] hakman commented on #78994
/remove-lifecycle stale

[2020-02-13 05:27] annajung commented on #78904
Hello @tnozicka, checking with you again. Is this issue intended for milestone 1.18?

[2020-02-13 05:29] annajung commented on #43214
Hello @liggitt  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-13 05:31] annajung commented on #76064
Hello @cadmuxe @hantaowang 👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-13 05:31] annajung commented on #86484
Hello @wojtek-t @answer1991  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-13 05:32] annajung commented on #86967
Hello @roycaihw  @sttts  👋 I'm one of the Bug Triage shadows for the 1.18 release. Since this issue is tagged for 1.18, I'd like to check its status. Is this issue intended for milestone 1.18?

Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-13 05:33] zhangguanzhang commented on #75443
切片对应的yaml就是数组，例如
key1:
  - value1
  - value2

[2020-02-13 05:37] #82781 closed

[2020-02-13 05:41] Dogstarsuper commented on #87935
same issue.
Environment:
centos 7.4 / Kubernetes  1.14.1 /metrics-server  0.3.4
Kubernetes  installed with kubeadm
metrics-server installed with yaml from github.
kubectl top nodes  &  kubectl top pods   work fine.
metrics-server command:
`  /metrics-server
            - --kubelet-preferred-address-types=InternalIP
            - --kubelet-insecure-tls`
test pod running with
`resources:
          r

[2020-02-13 06:52] anderseknert commented on #87369
Having spent some time on this in the debugger, it seems somewhat more intricate than I first thought. Turns out the exec plugin is executed whether the `--token` presented is invalid _or valid_ - the exec action is actually called before the first call is even dispatched. This due to the exec credential plugin possibly being needed to setup the client certificate requested for the transport. Once

[2020-02-13 07:02] luisdavim commented on #88097
Hi, yes, the resources are all namespaced and the parents and children are in the same namespace.

[2020-02-13 07:07] luisdavim commented on #88097
The description in the issue you linked seems like the opposite of what I'm describing. In my case the children had valid owner references pointing to valid parents that were not marked for deletion.

The garbage collector deleted resources that should have not been deleted.

[2020-02-13 07:08] #50898 closed

[2020-02-13 07:20] 372046933 commented on #87277
@rikatz  I have tried putting the POD's IP in Nginx. Thus no iptables is required. I also tried replacing Nginx with F5. Problem exists anyway.

[2020-02-13 07:46] andye2004 commented on #63629
@glb Whatever happened to this?

[2020-02-13 08:10] bmwiedemann commented on #70131
I recently had a look at 1.17 results and there were still issues left, even when building with go-1.13.

`/usr/bin/kube-apiserver differs in ELF section .typelink`

`/usr/bin/kube-scheduler differs in ELF section .note.go.buildid`

[2020-02-13 08:59] matti commented on #69696
/remove-lifecycle stale

[2020-02-13 09:01] jannomeister opened #88106 "How to disable the support for TLS v1.0 and v1.1?"
Right now I'm using a ConfigMap and added **ssl-protocols** set to `TLSv1.2`. When when I tested it using https://ssllabs.com/ssltest/analyze.html, I can see It still supports TLS v1.0 and TLS v1.1. What is the configMap settings to disable the support for these two TLS version permanently?

[2020-02-13 09:04] dhanvi commented on #50898
/reopen
/remove-lifecycle rotten

[2020-02-13 09:05] sftim commented on #87869
@lavalamp let's say I have developers who don't have any privileged access to the hosts running the control plane.

Those people want to know how the cluster is set up. If I self-hosted the control plane then, yes, those colleagues can see the setup. However, I might not self-host it. I might not run the control plane as Pods. Also, my colleagues didn't want to care about those details. They just

[2020-02-13 09:12] duylong commented on #88069
Okay finally I reset the cluster by changing the order of declaration and everything seems to go back to normal. Too bad we don't have a warning when we incorrectly declare the "advertise-address" parameter.

I also updated the cluster, actually I no longer have a CIDR problem, I just still have these errors in the proxy:
[code]
It seems to me that this problem will be fixed in the next version.

[2020-02-13 09:23] MansM commented on #87852
Didnt work

[2020-02-13 09:24] AL-Cui commented on #75443
你说的yaml文件是指哪个yaml文件？我的kube-proxy服务是用system service。还是不太懂应该在哪添加我的vip地址

[2020-02-13 09:32] AL-Cui commented on #75443
可是--nodeport-address这个参数不配置的话，不是默认使用所有本地IP吗？

[2020-02-13 09:32] aojea commented on #88069
@liggitt should we check that the apiserver advertise address belongs to the cluster primary IP family?

[2020-02-13 10:18] VGerris commented on #56850
None of the above options works for me.
rpm -qa | egrep "kube|docker|systemd|containerd" | sort -n
docker-1.13.1-108.git4ef4b30.el7.centos.x86_64
docker-client-1.13.1-108.git4ef4b30.el7.centos.x86_64
docker-common-1.13.1-108.git4ef4b30.el7.centos.x86_64
kubeadm-1.17.3-0.x86_64
kubectl-1.17.3-0.x86_64
kubelet-1.17.3-0.x86_64
kubernetes-cni-0.7.5-0.x86_64
oci-systemd-hook-0.2.0-1.git05e6923.el7_6.x8

[2020-02-13 10:31] chansonzhang commented on #43045
@vishh excuse me, can I ask if you know any methods to get the amounts of unscheduled resources ?

[2020-02-13 11:08] Timvissers opened #88108 "A large amount of Pending pods waiting for resources seems to impact a new pod for which resources are available"
**What happened**:
Context: A kubernetes cluster with 2 custom namespaces: 'backend' and 'jobs'.
- backend namespace contains up to 200 microservices pods.
- jobs namespace contains processing jobs/pods. These are heavy jobs that might take an hour of processing. There are added by incoming events.

Now, it can occur that suddenly 3000 events come in, resulting in 3000 kubernetes **jobs** being cr

[2020-02-13 11:11] Timvissers commented on #88108
/sig Scheduling

[2020-02-13 11:40] munnerz commented on #87683
Looking through the codebase, I cannot see any place where the `Type` field is defaulted, and the LimitRange admission plugin seems to gate on this field being set to one of the recognised values.

Digging back through `git blame`, it appears that this field did *NOT* originally have `// +optional` as the object was first introduced pre-1.0 when we didn't have OpenAPI schema tags in the same way.

[2020-02-13 12:05] cja000 opened #88111 "kube-controller-manager and kube-scheduler restarting in a clean installation"
**What happened**:
Just after a installation `controller` and `scheduler` begin to restart.

**What you expected to happen**:
I wish to have a stable kubernetes installation without restarts

**How to reproduce it (as minimally and precisely as possible)**:
I only see this problem in our "production" environment. Testing the same procedure with Virtual Box even in a laptop I cannot reproduce it.

[2020-02-13 12:09] cja000 commented on #88111
/sig node

[2020-02-13 12:13] #82529 closed

[2020-02-13 12:29] martinwoods opened #88112 "K8s EKS Scheduler possibly not respecting node score for nodeAffinity & nodeAnti-Affinity"
**What happened**:
node has the following label and taint
`Labels: lifecycle=on-demand`
`Taints: on-demand=true:PreferNoSchedule`

number of stateful apps that we'd PREFER that they run on on-demand, example stateful app could be elasticsearch where the Affinity is as:
[code]
Running 6 on-demand and 6 spot in my EKS cluster

If we reduce the number of on-demand from 6 to 3, we're left with 3 on-de

[2020-02-13 13:16] #87586 closed

[2020-02-13 13:20] liggitt commented on #43214
@cmluciano, @robscott, and @bowei have point on the ingress v1 work, I'll defer to them for status on getting that merged in 1.18

[2020-02-13 13:22] martinwoods commented on #88112
/sig scheduling

[2020-02-13 13:27] bismitaguha commented on #87683
@munnerz Since this is a change in the `core`, also aligning to what the docs say I removed the `omitempty` behaviour, but if the requirement is of not enforcing any information on the user, I would push a commit to modify it.
It's my first contribution, so I would like to have your suggestions on the PR.

[2020-02-13 13:37] liggitt commented on #88069
I'll defer that question to sig-network folks

[2020-02-13 13:42] liggitt commented on #87683
The API server already rejects requests with empty Type fields:

[code]

Since the field is actually required (and is not defaulted), it should not be marked omitempty or optional.

[2020-02-13 13:46] munnerz commented on #87683
Digging back into the validation package I can see that now 👀 not sure how I missed it in the first place!

[2020-02-13 13:48] al45tair commented on #81089
This issue is particularly annoying when you're using software that:

* Is not running as root
* Uses e.g. SSL certs or SSH keys
* Checks the security on the relevant files to make sure they aren't world readable

It's made worse if you're using something like cert-manager to automate certificate issuance, because in that case, it's quite likely that the certificate secret will be updated, and so

[2020-02-13 14:00] pohly commented on #72031
/assign

[2020-02-13 15:14] tiagodexter commented on #50375
+1

[2020-02-13 15:17] rice904 commented on #50375
+1

[2020-02-13 15:18] al45tair commented on #81089
To add to my previous remark, in my specific case I _may_ be able to use `fsGroup` to work around the issue.

[2020-02-13 15:22] aojea commented on #88069
/assign
/triage resolved

[2020-02-13 15:23] aojea commented on #88069
/remove-triage unresolved

[2020-02-13 15:30] Cynerva commented on #85314
It looks to me like this was fixed by https://github.com/kubernetes/kubernetes/pull/85406 (thanks!) and can be closed.

[2020-02-13 15:44] al45tair commented on #81089
Yes, `fsGroup` with the `defaultMode` set to `0640` works for me. I took a quick look at the k8s source code to see how easy this issue was to fix (by adding UID support); the answer is that it's decidedly non-trivial, so I can well understand the reluctance to resolve it given that `fsGroup` is quite likely a good solution in many cases.

[2020-02-13 15:57] esnible commented on #86739
I took a look at this.  The problem can be reproduced with this code:

[code]

Is `protobuf:"-"` a valid tag?  If so, fix https://github.com/gogo/protobuf/blob/master/proto/properties.go#L368 so that it ignores `"-"` the same way it ignores `""`.   If not, replace `"-"` with something valid.

[2020-02-13 16:26] jprzychodzen commented on #83375
It's not closed - all testes must be submitted and appropriate documentation must be added

[2020-02-13 16:38] MorrisLaw commented on #77095
Not sure of the others, but I'm working on another PR to move the rest of `kubectl` related stuff out  to the `framework/kubectl` subpkg. Should have that out soon. Then that part will be done @jtslear

[2020-02-13 16:40] #82011 closed

[2020-02-13 16:46] zhangguanzhang commented on #75443
我是写yaml配置的，如果命令行参数的话你的得写
[code]

[2020-02-13 16:48] bor8 commented on #76447
I couldn't agree more. Is there any progress here? Has anyone started a KEP? I found "Kubernetes Transparent Proxy" on Google. Is this an alternative compared to the suggestion of the original poster?

[2020-02-13 17:07] ticpu commented on #70047
/remove-lifecycle stale

Patching kube-apiserver to ignore this limitation fixes the problem and makes restarting Pod use the new monitors.

[code]

Then...
[code]

Should I submit a pull request?

[2020-02-13 17:24] SomtochiAma commented on #87211
How can we know which requests are "self-requests"?

For the healthz and livez checks, we could check the url's path.

[2020-02-13 17:32] lavalamp commented on #87211
apiserver uses a special bearer token to identify itself; I'd look at the
authn handler to see how it figures it out.

On Thu, Feb 13, 2020 at 9:24 AM Somtochi_Onyekwere <notifications@github.com>
wrote:

[2020-02-13 17:39] cmluciano commented on #43214
Yes this is intended for 1.18, the major tracking issue is https://github.com/kubernetes/enhancements/issues/1453

[2020-02-13 17:40] cpuguy83 commented on #78893
HTTP headers are configured when creating the client.
You can set them afterwards but this is deprecated.

Here's the deprecated method: https://github.com/moby/moby/blob/3af8d484b132a492bd6f159e454560b7d7691fa9/client/client.go#L293-L297

The updated one is an function option passed when creating the client: https://github.com/moby/moby/blob/28d7dba41d0c0d9c7f0dafcc79d3c59f2b3f5dc3/client/options

[2020-02-13 17:47] lavalamp commented on #87869
It's not quite as bad if you literally just want the feature gates, usually people want to see everything :)

Really we should put them in a resource anyway; sending them as separate flags to each binary is just asking for mistakes. That's still a lot of work :(

[2020-02-13 17:55] cblecker commented on #81518
/remove-lifecycle stale

[2020-02-13 18:17] liggitt commented on #84040
Added to the [sig-auth agenda](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit#) for discussion on 2/19

[2020-02-13 18:22] aojea commented on #88069
I was looking more into this and my understanding is that you'll face the same problem if you just specify an incorrect IP of the same family. My point is that since this is a custom field provided by the user I don't see a simple way to validate its correctness and doing that based on IPFamily may conflict with the DualStack feature in a short future.

However, @danwinship implemented in 1.17 a n

[2020-02-13 18:22] #88069 closed

[2020-02-13 18:36] ticpu commented on #70047
So to add more options to this, the patch could also
1. Add back the check for PV that must be persistent.
2. Only allow modifications to monitors (I'm against that, make something immutable really must have a reason).
3. Make certain subsection immutable, like volumeMode, storageClass...

Another way to make this work correctly would be to remove the monitors from the PV and look in the StorageCl

[2020-02-13 18:38] riking commented on #85652
I'm unsure this is a long enough timeline for blog posts & stuff to get updated - you may need to target a large educational campaign to avoid widespread breakage.

I'd expect to live with the defaulting for at least a year.

[2020-02-13 18:42] alculquicondor commented on #87784
Update from SIG meeting: we are onboard with this change.

I'll work on it (or open for contributors) once multi scheduler profiles land.

[2020-02-13 18:45] robscott commented on #43214
/assign

[2020-02-13 18:46] apelisse commented on #85652
Thanks for your comment @riking. We're are going to update as much as we can, at least to the extend of "kubernetes" website, documentation, tests and references. I agree with you that there is going to be a long tail of things to be updated. With the current plan, this offers more than 6 months for this to happen. Obviously, we can reconsider in 6 months and adjust that as needed. The goal is to

[2020-02-13 18:49] riking commented on #85652
With the context of that plan, it makes a lot more sense - should probably be included in the deprecation messaging, then!

[2020-02-13 18:50] apelisse commented on #85652
Thanks, I'll look at it

[2020-02-13 18:51] enj commented on #84040
If one wants to avoid restarting the API server, a simple approach would be to remove the desired `nonResourceURLs`:

[code]

The `rbac.authorization.kubernetes.io/autoupdate: "false"` annotation will prevent the API server from reconciling the cluster role.

I find this to be the most targeted approach.  You do take ownership of maintaining the `system:public-info-viewer` cluster role over time,

[2020-02-13 18:54] onlynone opened #88127 "CronJobs should get the labels from their PodTemplateSpec like Deployments do"
**What would you like to be added**:

`Deployments` seem to pickup the `metadata.labels` from their `PodTemplateSpec` such that if I apply the following yaml:

[code]

Then I'll be able to find that deployment later by doing `kubectl get deployment -l foo=bar`. The same is not true for `CronJob`s. They don't get any labels from either their `JobTemplateSpec` nor `PodTemplateSpec`.

**Why is this n

[2020-02-13 19:02] sneko commented on #48912
Hi,

I installed "Velero" and this one tries to exec something on a volume that was by default mounted from an `emptyDir` but it fails because of permission.

I'm the only one having that, I just ran the commands listed in the how-to.

Note that a year ago I got problems with Jenkins too, I had mount its volumes on the host volume otherwise it was unable to run its custom Jenkins scripts.

I'm wit

[2020-02-13 19:08] onlynone commented on #88127
It looks like this is where that happens for `Deployment`s:

https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/apis/extensions/v1beta1/defaults.go#L75

[code]

Can something like that be done for `CronJob`s?

[2020-02-13 19:15] liggitt commented on #87668
adding fine-grained trace.LogIfLong statements to attemptToDelete in particular might be helpful in revealing exactly where we are spending so much time

[2020-02-13 19:24] #81364 closed

[2020-02-13 19:46] BenTheElder commented on #87953
https://github.com/kubernetes-sigs/kind/issues/1248#issuecomment-585939103 :crossed_fingers:

[2020-02-13 19:46] BenTheElder commented on #87953
/assign
/assign @pohly
/lifecycle active

[2020-02-13 19:58] riking commented on #65200
Can the apiserver block creation of these invalid cross-namespace ownerReferences?

[2020-02-13 20:16] lavalamp commented on #65200
No, apiserver doesn't enforce references. For better or worse, but I don't see us starting now.

[2020-02-13 20:21] verult opened #88132 "Flexvolume e2e tests are skipped in sig-storage test dashboards"
**What happened**: Flexvolume e2e tests are skipped in https://k8s-testgrid.appspot.com/sig-storage-kubernetes, so as far as I can tell we don't have Flexvolume test coverage.

They are skipped because they require SSH access to drop the Flexvolume plugin onto the host, but these test clusters do not have SSH access.

We should change all Flexvolume tests to use the DaemonSet installation mechanis

[2020-02-13 20:23] verult commented on #87815
ACK. Created an issue to make sure Flexvolume tests are running in the regular test suites: https://github.com/kubernetes/kubernetes/issues/88132

Since the test has only flaked once, I think the priority should be longterm. WDYT?

I can't find the test in https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness anymore. Where did it go?

[2020-02-13 20:25] onlynone commented on #88127
@tedyu awesome. That looks like it would do the trick.

[2020-02-13 20:37] robscott commented on #43214
@liggitt I'm a little confused on what we should be doing for extensions/v1beta1 in 1.18. I'm thinking we should disable the version entirely in 1.18, but I'm not sure since the checklists above don't actually include that step here.

In the 1.14 checklist we have "announce extensions/v1beta1 Ingress deprecated, to no longer be served in 1.18", but we don't have a corresponding bullet point for 1.

[2020-02-13 20:40] liggitt commented on #43214
The timeline has slipped several times since the 1.14 days (originally v1 was planned for 1.14). To avoid making people migrate manifests and clients multiple times, we wanted to overlap keep extensions/v1beta1 available until all supported versions had v1.

[2020-02-13 20:52] robscott commented on #43214
So if Ingress v1 makes it into 1.18, extensions/v1beta1 can move to being disabled by default?

[2020-02-13 20:54] liggitt commented on #43214
in Ingress v1 makes it into 1.18, then 1.20 will be the first release in which all supported versions have v1 available (1.18, 1.19, 1.20). It will take significant time to migrate controllers and manifests to v1 across the ecosystem, so planning to disable v1beta1 in 1.21 seems realistic.

[2020-02-13 21:18] daniel-bejarano commented on #26050
I had the same issue as originally stated on this thread. For me the issue was resolved by typing spaces instead of tabs. Solution was suggested here: https://github.com/kubernetes/kubernetes/issues/26050#issue-156201035

[2020-02-13 21:26] oyosefi commented on #84214
We are hitting this consistently when using a combination of init containers and `docker system prune`.
Prune will clean the init container's image and then when the pod gets deleted (e.g. with a new deployment), it gets stuck in `Deleting` state

[2020-02-13 21:28] ahg-g commented on #88108
/remove-kind bug
/kind feature

[2020-02-13 21:39] ahg-g commented on #88108
If all the pods have the same priority, then the scheduling is near FIFO. Unschedulable pods will be retried according to an exponential backoff heuristic, so some of those unschedulable pods are consuming scheduling cycles and hence blocking the schedulable pod from getting scheduled as fast.

Two things we did recently that should improve your situation:

1) The scheduler performance improved dr

[2020-02-13 21:56] liggitt commented on #88127
Defaulting one field from another has proven extremely problematic in the past, especially when there are validation requirements between the two fields

Scenario:
1. user submits an object with no selector with labels set to `foo=bar,version=1`
2. the proposed defaulting copies the user value from labels to selector
3. validation ensures the selector overlaps with the labels
4. user updates the o

[2020-02-13 21:56] #88127 closed

[2020-02-13 21:57] sneko commented on #69314
Any solution? I created a static IP address as Standard, and even if I set the annotation my Nginx ingress service throw this error:
[code]

[2020-02-13 22:13] #87657 closed

[2020-02-13 22:14] #73084 closed

[2020-02-13 22:16] julianvmodesto commented on #84530
/wg apply

[2020-02-13 22:26] BenTheElder commented on #87325
https://github.com/kubernetes/kubernetes/pull/88129
https://github.com/kubernetes/kubernetes/pull/88137 (whoops :|)

building the images now, then we'll start updating references to it.

[2020-02-13 22:31] pjh commented on #87974
This is a duplicate of #87785.

/close

[2020-02-13 22:31] #87974 closed

[2020-02-13 22:32] onlynone commented on #88127
So, can the reverse be done? Can a `CronJob` create a `Job` with a default set of labels from the `CronJob`, and same for `Job`s to `Pod`s?

[2020-02-13 22:33] MarkPare commented on #38988
I think the original issue here is still not resolved.  When a node goes away / comes back, any manually applied labels on the node are lost.  I'm still unclear if this is a feature or a bug.

[2020-02-13 22:34] julianvmodesto commented on #88051
I'm not sure if or when we could do this, but I've opened #88057 as a WIP.

[2020-02-13 22:35] zerkms commented on #42649
/remove-lifecycle stale

[2020-02-13 22:47] EmandM commented on #74609
/remove-lifecycle stale

Is there any way to set propagation policy outside of curl?

[2020-02-13 23:00] andrewsykim commented on #86907
/remove-triage unresolved

[2020-02-13 23:00] glb commented on #63629
@andye2004 I wasn't able to figure out the changes I needed to make end-to-end, didn't get any engagement here from the SIG, and didn't know at the time that raising the idea in Slack might help. Personally I still think it would be really helpful to have the ability to see image labels in pod status, but I don't have the cycles to figure it out at the moment.

[2020-02-13 23:01] BenTheElder commented on #87325
https://github.com/kubernetes/kubernetes/pull/88139 -> the image is now pushed to staging after sorting out the manifest .. will file a promotion to prod now

[2020-02-13 23:19] shyamjvs commented on #86907
To me, it doesn't seem like an AWS-specific issue, but a behavior particular to service-controller. I agree with Justin about adding reconciliation logic for the same.

/remove-area provider/aws

[2020-02-13 23:26] AndrewSav commented on #78564
/remove-lifecycle stale

[2020-02-13 23:39] shyamjvs commented on #86624
This seems to be a feature-request rather than bug. Assigning to @M00nF1sh per his request.

/remove-kind bug
/kind feature
/assign @M00nF1sh

[2020-02-13 23:39] liggitt commented on #88106
What component is this issue referring to?

[2020-02-13 23:43] shyamjvs commented on #66306
/remove-lifecycle stale
/lifecycle frozen

/assign @Jeffwan
As he has a potential fix for this in flight.

[2020-02-13 23:57] nckturner commented on #68684
I think your request is more of a feature request, because the current behavior is that AWS has an inherent limitation that does not allow it to support more than 50 loadBalancerSourceRanges, and it already notifies the user that its not supported.  Whether or not your proposed solution is a good idea is a worthy discussion though.

/kind feature

[2020-02-14 00:00] nckturner commented on #68684
/remove-kind bug

[2020-02-14 00:01] nckturner commented on #68684
/remove-lifecycle rotten
/lifecycle frozen

[2020-02-14 00:04] nckturner commented on #83070
/lifecycle frozen

[2020-02-14 00:06] shyamjvs commented on #40555
Too old issue (k8s version 1.5).

/close

[2020-02-14 00:06] #40555 closed

[2020-02-14 00:06] shyamjvs commented on #86441
@AlexShemeshWix In the description you mentioned only exposing 2 ports (80, 443) per node, with 350 nodes. That should be 700 backends for target group. Wondering how it's complaining with 2000:

[code]

[2020-02-14 00:10] mshahat commented on #67345
@dmfenton Hi Daniel, have you every figured this out? I'm trying to know what ca store kubectl refers to? and whether ca in keychain on macOS could be used.   Cheers,

[2020-02-14 00:19] wongma7 commented on #61921
@jnicholls

It doesn't choose blindly, it's supposed to sort by device-number https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L1409 so eth0 should be the default.

Feel free to create a new issue to discuss further, IMO it's a bit confusing to continue discussion here as technically the original issue has been fixed.

[2020-02-14 00:19] wongma7 commented on #61921
/close

[2020-02-14 00:19] #61921 closed

[2020-02-14 00:29] neolit123 commented on #88111
looks like you logged a separate issue after our discussion here:
https://github.com/kubernetes/kubernetes/issues/74340#issuecomment-584037385

this seems like an isolated case related to your setup (or just something rare).

[here](https://github.com/kubernetes/kubernetes/issues/74340#issuecomment-584256142) you mentioned that you have tried a number of different CNIs, but if that is true why are

[2020-02-14 00:34] alexandrsemak commented on #78600
Hello @liggitt , what about `extensions/v1beta1 and apps/v1beta2` depreciation? as i understood you can't gracefully update  `extensions/v1beta1 or apps/v1beta2` to `apps/v1`? We just already have ~50 services with `extensions/v1beta1` in k8s 1.14 but for migrating to 1.16 we need update old apiversion, even if we rewrite deployment correctly we can't just apply it(btw we use helm which the same c

[2020-02-14 00:35] mrueg opened #88142 "Kubernetes should warn when referenced imagePullSecret does not exist"
**What would you like to be added**:
A warning (or even error) should be emitted, when a scheduled workload references a non-existing imagePullSecret.
**Why is this needed**:
An imagePullSecret is necessary for running images from private registry. They are often referenced in the Pod, parent object (e.g. deployment) or ServiceAccount. They might not need to exist yet, when the parent object or se

[2020-02-14 00:41] liggitt commented on #78600
Existing data you have already persisted via extensions/v1beta1 can be read/written via the new apiVersions (even in releases prior to 1.16)

[2020-02-14 00:45] thockin commented on #85809
Is the node IPAM controller running?  E.g. look for a controller-manager log like "Starting ipam controller"

[2020-02-14 00:46] alexandrsemak commented on #78600
@liggitt so if we upgrade cluster to 1.16 with deployment which have `apiVersion: extensions/v1beta1` it will works fine? but we still can't update only delete/apply, `kubectl` doesn't provide smt like `--force`, `--api-version-update` or `--your-own-risk`

[2020-02-14 00:52] andye2004 commented on #63629
@glb, thanks for the feedback. I guess what's really frustrating about this is that the data is already there. Oh well, maybe later.....

[2020-02-14 00:52] liggitt commented on #78600
I'm not sure I understand what you are asking.

After upgrading to 1.16+, you will need to use apps/v1 Deployment manifests.

You can use those apps/v1 Deployment manifests to update/apply existing Deployment objects in the upgraded cluster that were created from extensions/v1beta1 manifests prior to upgrade.

[2020-02-14 00:54] #85908 closed

[2020-02-14 00:55] #87966 closed

[2020-02-14 00:55] #88063 closed

[2020-02-14 00:55] #86787 closed

[2020-02-14 01:09] kkmsft commented on #64612
@liggitt : For (1) and (2) did you mean something similar to the following ('list' is the list version of the object, resource filled with required resource, and json being encoding/json) ? Is there a simpler way ?

[code]

[2020-02-14 01:13] alexandrsemak commented on #78600
@liggitt We have kubernetes cluster 1.14 with services which use deployment `apiVesrion: extensions/v1beta1` and we want upgrade cluster to 1.16 but if you try do `kubectl apply or patch` you will get error:
[code]
or if you try edit current deployment:
`error: At least one of apiVersion, kind and name was changed
`if you deploying using helm you will get error that resource already exist: https:/

[2020-02-14 01:16] BenTheElder commented on #87953
looks green after https://github.com/kubernetes/test-infra/pull/16278

we'll want to tweak that setup slightly but I think it should hold now. we're also looking at https://github.com/kubernetes-sigs/kind/issues/1333 for follow up

[2020-02-14 01:19] BenTheElder commented on #87953
tentatively closing https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&width=5
/close

[2020-02-14 01:19] #87953 closed

[2020-02-14 01:21] mrunalp commented on #87901
@haircommander @umohnani8 something we can look into.

[2020-02-14 01:21] mrunalp commented on #87901
Also, @kolyshkin

[2020-02-14 01:51] liggitt commented on #78600
I think there is a misunderstanding about what you need to update. The things you have added to the API server are already accessible via the new API. You can verify that by doing `kubectl get deployments.v1.apps $MY_DEPLOYMENT_NAME -o yaml` and seeing the API server can return the existing persisted object in the new API version.

After you update to 1.16, you will only be able to fetch/update th

[2020-02-14 02:03] msau42 commented on #87855
Flakes have significantly dropped, csi mock tests still slightly flaky (as expected).

Still no clear reason why only pull jobs were impacted.

[2020-02-14 02:24] #86312 closed

[2020-02-14 02:54] oomichi commented on #86678
After adding log of portforwardtester pod with https://github.com/kubernetes/kubernetes/pull/87057 the log is like
[code]
as https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1227730879254630401

[2020-02-14 03:15] markyjackson-taulia commented on #76342
Hello, @claudiubelu gentle ping here in regards to this issue.
Are we close to completing this so it will make it in the v1.18 release? Code freeze is coming soon

[2020-02-14 03:35] julianvmodesto commented on #87873
I'm interested in adding context + options to scale!

https://github.com/kubernetes/client-go/blob/0ff5a65499e672956d25228b15354d4083973fe7/scale/interfaces.go#L32-L44

Not sure if this is the right issue for tracking this, though!

[2020-02-14 03:46] julianvmodesto commented on #87600
cc @apelisse

[2020-02-14 03:47] julianvmodesto commented on #87600
/wg apply

[2020-02-14 03:47] julianvmodesto commented on #87840
cc @apelisse

[2020-02-14 03:48] julianvmodesto commented on #87840
/area kubectl

[2020-02-14 03:54] timyinshi commented on #78068
i think controller-manager and scheduler can use more cpu and memory. or modify the --leader-elect-renew-deadline to 20s

[2020-02-14 03:56] julianvmodesto commented on #87600
cc @kwiesmueller

[2020-02-14 04:03] gavinfish commented on #86526
/cc

[2020-02-14 04:04] liggitt commented on #86318
The "error getting c-m metrics" failures appear to have just restarted:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=Error%20getting%20c-m%20metrics

[2020-02-14 04:09] apelisse commented on #87600
I agree, we clearly missed that. Would you mind sending the fix in the form of a PR? Also please include a test, because that shouldn't have happened if I had tested my code properly :-(

[2020-02-14 04:29] #82547 closed

[2020-02-14 04:39] ofrivera opened #88148 "Flannel / iptables: resource temporarily unavailable"
Networking between (some) pods stops working, I could ping some containers from one of the host(s), but not others. Restart **flanneld** on the subset of nodes not responding might help. As we looked closer to this issue we started noticing iptables errors affecting flanneld, kube-proxy and kubelet.

Sometimes the issue my correct on its own or after a few hours, but worst case scenario nodes can

[2020-02-14 04:40] liggitt commented on #86318
/priority critical-urgent

bumping priority since we're seeing significant numbers of failures that just started in the last two days

[2020-02-14 04:40] ofrivera commented on #88148
/sig network

[2020-02-14 04:58] liucimin commented on #75443
Thx，this fix my problem.

[2020-02-14 05:10] #87683 closed

[2020-02-14 05:14] cofyc opened #88150 "use ControllerRevisionControllerRefManager in StatefulSet like DaemonSet"
**What would you like to be added**:

update StatefulSet to use `ControllerRevisionControllerRefManager`, xref: https://github.com/kubernetes/kubernetes/pull/84984/files#r344144617

**Why is this needed**:

this can simplify the code in StatefulSet

[2020-02-14 05:15] cofyc commented on #88150
/sig apps

[2020-02-14 05:24] feiskyer opened #88151 "Azure route table conflicted updating because of concurrent API calls"
**What happened**:

Azure NRP doesn't support concurrent updates on route table, while route controller updates route for each node concurrently. Because of this, there would be a lot of conflicted errors from Azure cloud provider and a lot of retries are required to complete route update operations.

Related logs:

[code]

**What you expected to happen**:

No conflicted errors and hence fewer ret

[2020-02-14 05:24] feiskyer commented on #88151
/assign

[2020-02-14 05:25] feiskyer commented on #88151
/milestone v1.18

[2020-02-14 05:53] krmayankk commented on #82523
/remove-lifecycle rotten

[2020-02-14 06:27] jannomeister commented on #88106
im possibly referring to `ConfigMap` and `Ingress`

[2020-02-14 06:44] #73157 closed

[2020-02-14 07:35] iusergii commented on #81584
Also looking forward for this.

[2020-02-14 07:50] whypro commented on #63018
The issue is still existing in kubernetes v1.14.4, without init containers to pod spec.
Some way below may reproduce it:
1. make container crash on a node frequently and then delete the pod.
2. create a new pod and schedule to this node.
Is this already fixed on master branch?

[2020-02-14 07:54] #66766 closed

[2020-02-14 07:59] gitbeyond commented on #85422
@zh168654

Unfortunately, this is not the case for me. I have recently upgraded my cluster to v1.15.9, which still exists.

[code]

[2020-02-14 08:07] sylr commented on #86667
@feiskyer I'll try that next week.

[2020-02-14 08:11] wojtek-t commented on #86484
Unfortunately it may not happen...

[2020-02-14 08:22] duylong commented on #88068
Initcontainer don't succeed because the service does not yet have the path to the container (with IPVS).

[2020-02-14 08:52] zerkms commented on #66450
/remove-lifecycle stale

[2020-02-14 09:06] #84982 closed

[2020-02-14 09:14] MarkPare commented on #18307
Question: Is this feature (persisting node labels) available via the k8s api? I'm trying to figure out if this is a limitation of k8s or of GKE.

[2020-02-14 09:18] YangLu1031 opened #88153 "Windows node `PLEG not healthy` during load test with 1pod/s rate"
**What happened**:
When running windows [pod startup latency load test](https://github.com/kubernetes/test-infra/blob/f51bb12132dbc3b35a9223d1d4caf8d6361c1555/config/jobs/kubernetes/sig-windows/windows-gce.yaml#L315) with pod creation speed 1pod/s, the kubelet on the node will become Not Ready with error message `PLEG is not healthy: pleg was last seen active 3m8.068354s ago; threshold is 3m0s`

[

[2020-02-14 09:25] Timvissers commented on #88108
Thanks for your response!
Still a bit strange to me that it takes eg 6 minutes in case of about 3000 pending pods.

I'm on 1.13. As a solution, I will try to workaround this using priorities

[2020-02-14 09:35] wojtek-t commented on #82364
/remove-lifecycle stale

[2020-02-14 10:02] cja000 commented on #88111
Yes, I created this new issue
I think it is something related with the environment but I cannot get any clue from the pods logs
[code]

Just in case someone is interested, the script `get_logs.sh` used is:
[code]

[2020-02-14 10:20] cja000 commented on #88111
Regarding the metrics:
With this script:
[code]
I have this values:
[code]

[2020-02-14 10:35] Nastradamus opened #88154 "Request for Nodelocal DNS Dockerfile and building/compiling scripts"
**What would you like to be added**:
- Documentation for building own **nodelocaldns** Docker image

**Why is this needed**:
- To fix bugs (such as memory leaks)

Now we don't have any information how is actually Docker image builds "[k8s.gcr.io/k8s-dns-node-cache:1.15.7"](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml#L136)

[2020-02-14 10:36] Nastradamus commented on #88154
/sig nodelocaldns

[2020-02-14 10:36] Nastradamus commented on #88154
/sig network

[2020-02-14 11:26] martinwoods commented on #88112
I attempted to create a priorityClass to see if it would help the scheduler treat the stateful pods differently

[code]
apply it:
[code]
then picked elasticsearch.data to test this priorityClass by setting my yaml as per the helm chart data.priorityClassName:
[code]
When I run:
[code]

But once again when I test my scenario I still end up with pods binding to spot:
[code]

[2020-02-14 12:07] thomacos opened #88157 "Registering device plugins fail for Windows nodes"
**What happened**:

Registering a device plugin fails under Windows.

**What you expected to happen**:

Registering a device plugin to work not only under Linux, but also under Windows.

**How to reproduce it (as minimally and precisely as possible)**:

Try to register the device plugin https://github.com/aarnaud/k8s-directx-device-plugin.

**Anything else we need to know?**:

The PR https://githu

[2020-02-14 12:59] andyzhangx opened #88159 "get azure disk lun timeout issue"
**What happened**:

regarding nodeserver.go - yes it polls every second, but if /dev/... is not there (findDiskByLun returns "") it returns fmt.Errorf("azureDisk - findDiskByLun(%v) failed within timeout", lun). and exits from wait.Poll
It causes to kubelet retry NodePublishVolume with exponensial backoff, and because /dev/disk/azure/... can appear 15-60s after first first call it can reach 2m tim

[2020-02-14 13:01] andyzhangx commented on #80488
@gnufied any progress to make this feature into CSI driver?

[2020-02-14 13:16] jsafrane commented on #87901
The tests expect that SELinux blocks a pod with label "s0:c2,c3" reading a file created by a pod with label "s0:c0,c1". Since the test runs on GCI, where SELinux is not available, nothing blocks the read and the test can't ever pass.

The test should check that the node has SELinux in Enforcing mode and skip the test otherwise. Somewhere around these parts, where we write/read a file in the first

[2020-02-14 13:23] duylong commented on #88068
The only solution for now is to mount the volume directly in the container, it's less flexible but it works.

[2020-02-14 13:34] zeph commented on #38176
@rogeruiz https://github.com/helm/charts/issues/20481#issuecomment-586284301 not sure that would be a solution

[2020-02-14 14:19] ingvagabund commented on #86972
PR got merged!!!

We need https://github.com/kubernetes/kubernetes/pull/88162 to get merged as well to have the metrics stored under artifacts directory. Then, we can start collecting the metrics as well.

[2020-02-14 14:24] aojea commented on #87236
/remove-triage unresolved

[2020-02-14 14:25] aojea commented on #86518
/remove-triage unresolved

[2020-02-14 14:57] liggitt commented on #88106
ah, looks like https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/

issues for that component are managed in https://github.com/kubernetes/ingress-nginx/issues, I would suggest asking your question there

[2020-02-14 15:07] Timvissers commented on #88108
The workaround using priorities works!! Thanks @ahg-g

[2020-02-14 15:07] #88108 closed

[2020-02-14 15:20] ahg-g commented on #88112
Copying the response I posted on slack:

The default scheduler is configured to prefer nodes with lower utilization, which I think is conflicting with the preferred affinity you are setting. You can fix this by configuring the scheduler to give a higher weight to pod/node affinity priorities.

In general, I think that all priorities that act on pod-specific configuration (affinities and the new sp

[2020-02-14 16:41] onlynone commented on #88127
@liggitt I'm not sure I totally understand the issue. The scenario you describe seems to be about copying labels to matchLabels within the same object. What I was looking for was defaulting of labels between a controller object and the objects it creates. This would make it so that if a `CronJob` has label: `env=test` then the `Job`s it creates would also have the labels`env=test` (and then the `P

[2020-02-14 17:01] davispw commented on #79606
Would be nice to be able to wait for statefulsets as easily as deployments.

/reopen I'm not a collaborator, but I am frustrated by so many real issues getting closed and so much lifecycle spam.

[2020-02-14 17:28] liggitt commented on #88127
I see. Defaulting of labels of a parent object from the child object is generally seen to have been a mistake (and was removed in apps/v1). The labels on the parent/child are unrelated and so should not be defaulted at the API level.

If you simply want to avoid duplication, I've seen approaches like this:
[code]

Since the selector is immutable as of apps/v1, be careful you don't add label values

[2020-02-14 17:35] campoy opened #88166 "Pod stuck at ContainerCreating when given an invalid Pod definition"
**What happened**:

I created a pod with a `downwardAPI` volume where I exposed a `resourceFieldRef` with a `containerName` that didn't match the name of any of the containers in the pod.

I would have expected this to fail the container creation.
Instead, it just got stuck indefinitely.

**What you expected to happen**:

I would have expected the pod to fail to create and a clear error to appear

[2020-02-14 17:37] campoy commented on #88166
/sig usability

[2020-02-14 17:42] schollii commented on #24903
For minikube to pull from your own local docker registry, the tag affects the pull policy. Per [Images docs](https://kubernetes.io/docs/concepts/containers/images), pull policy is `IfNotPresent` by default EXCEPT if
- you use `:latest` as the tag for the image to use
- OR you omit the tag for the image to use.

In those cases the pull policy will effectively default to `Always`, which will attempt

[2020-02-14 17:43] Huang-Wei opened #88168 "Enable PodTopologySpread in kube_features.go and add e2e tests"
To make PodTopologySpread (featuregate `EvenPodsSpread`) valid for beta, we need to:

- enable it in `kube_features.go`
- cover happy paths with e2e tests

Part of #87662.

/sig scheduling

[2020-02-14 17:57] #82793 closed

[2020-02-14 18:18] cblecker commented on #88037
/kind cleanup
/priority ignore-this-im-testing

[2020-02-14 18:18] cblecker commented on #88037
/remove-kind cleanup

[2020-02-14 18:33] KIVagant commented on #60987
@masterkain , but K8s is free, right? ;)

[2020-02-14 18:33] gnufied commented on #87901
There are two problems. First one is obviously - the test can't run on non-selinux systems, but second one is - it is also broken on selinux enabled systems as per https://github.com/kubernetes/kubernetes/pull/87658#issuecomment-582407413

[2020-02-14 18:40] JonathanRRogers commented on #81089
The combination of "fsGroup" and "defaultMode" are sufficient for some use cases, but not all. For example, I run PostgreSQL configured to use TLS certificates managed by cert-manager. The postgres process runs as non-root and checks that private key files are readable by only the UID it runs as. I must use an initContainer to set ownership of private key files or postgres simply ignores them.

[2020-02-14 18:48] alculquicondor commented on #87523
Hello @skilxn-go, thanks a lot for your first PR.

Just checking if you can still work on the 2nd PR (remove the argument from the interface).

[2020-02-14 19:07] sftim commented on #87869
If this information is readable via the Kubernetes API, it is more widely useful.

Some examples:
- a controller that wants to know whether to watch Endpoints or EndpointSlices
- a cloud-aware application that applies special configuration if the Sysctls feature gate is disabled
- a custom scheduler that adapts to TaintNodesByCondition
- a DaemonSet and its Pods that implements a logging helper an

[2020-02-14 19:29] #88159 closed

[2020-02-14 20:32] ahg-g opened #88174 "Increase the default weight of pod topology spread"
**Problem:**
Preferred pod/node affinity and preferred PodTopologySpread may not be respected because of conflicts with other scoring functions, like node utilization or image locality.

Scheduler Scoring functions have weights, by default they are all set to 1 (apart from one): https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithmprovider/registry.go#L118-L125. Having equal

[2020-02-14 20:55] ahg-g commented on #88174
Quote from the [deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-feature-or-behavior):

I think rule doesn't apply to this proposal since it is not impacting the correctness of applications or impact administration of the cluster.

[2020-02-14 20:59] Huang-Wei commented on #88174
As nodepreferavoidpods already exercised to set its weight to 1000 by default, it sounds fair to me to increase the default weight for inter-pod affinity, node affinity, taint/toleration and pod topology spread.

[2020-02-14 21:08] jhohertz commented on #87852
Seeing the same thing when trying to run kiam on 1.17, seen the issue from at least rc.2 through 1.17.3, but wasn't sure at the time where the issue was.

Ticket I logged w/ the kiam folks: uswitch/kiam#378
Ticket I logged w/ the kops folks: kubernetes/kops#8562

As this seems networking related, I will state we are running Calico CNI, and IPVS mode of kube-proxy.

[2020-02-14 21:11] #87832 closed

[2020-02-14 21:15] alculquicondor commented on #87850
@denkensk are you still working on the simulation?

[2020-02-14 21:18] alculquicondor commented on #86373
#87948 merged :smiley:
This should be a second mitigation for the static cluster case. Basically, pods would still get back after 60s, but they would respect the previous backoff.

[2020-02-14 22:01] liggitt commented on #86312
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=already%20dead&job=e2e-gce%24 looks clean after https://github.com/kubernetes/kubernetes/pull/88102 merged. I verified the only flakes occurring after that was merged were on past branches still using the older COS versions.

Next week, we can update the non-test kube-up config file to use the fixed version of COS as well if

[2020-02-14 22:39] BenTheElder commented on #72956
we'll have to punt this one again, we have made a little progress but it's getting harder to get approvals on the remaining files (I can't approve these :(). I would guess we need at least 1.19 if not 1.20 to finish.

[2020-02-14 23:03] mateuszlitwin opened #88179 "Move scheduler's framework permit API to the scheduling cycle and wait in the binding cycle"
**What would you like to be added**:
I suggest moving execution of permit plugins and the creation of a waiting pod to the scheduling cycle, right after reservation, but keep waiting on a waiting pod's channel in the binding cycle.

- This way permit plugins will be executed sequentially and result of a previous permit plugin execution will be visible during a next execution.
- With this change it

[2020-02-14 23:23] al45tair commented on #81089
@JonathanRRogers You say that, but that is _the exact situation_ I was in. I, like you, am running PostgreSQL with TLS certs managed by cert-manager. Mine now works, with no init container needed.

I'm using Bitnami's PostgreSQL container, which (bizarrely) has the "postgres" group with GID 0, so configuring things with `fsGroup` set to 0 and `defaultMode` set to `0640` works just fine.

[2020-02-14 23:31] lavalamp opened #88180 "apiserver: Don't log stack traces on context cancellation?"
If you look at apiserver logs for any recent e2e test run, you'll see stack traces resulting from "context cancellation" which return 500 status code. Often seemingly from Dynamic PV tests.

I think we shouldn't return a 500 and enormous stack trace on this?

/sig api-machinery
/help-wanted

[2020-02-14 23:50] spiette commented on #67250
/remove-lifecycle stale

[2020-02-15 00:06] BenTheElder commented on #87325
https://github.com/kubernetes/kubernetes/pull/88173 actually updates to the new image, which should now be live at `k8s.gcr.io/pause:3.2`

[2020-02-15 00:10] BenTheElder commented on #56374
this is a "baremetal ingress" so binding to a higher port and using a service doesn't quite do what we want.

IIRC we also tried to do hostnetworking and still ran into issues.
I need to find some time to debug this more deeply, ambient capabilities are a new concept for me :upside_down_face:

[2020-02-15 00:15] lavalamp opened #88182 ""SHOULD NOT HAPPEN" should not happen"
Seen in the KIND e2e test:

[code]

a) maybe we shouldn't log this more than 1x per second or something?
b) maybe the error could make it clearer that the problem is the user's data?
c) maybe we could fix the test triggering this?

/sig api-machinery
/wg apply

Logs that I saw this in: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/88177/pull-kubernetes-e2e-kind/1228463295606820865

[2020-02-15 00:15] lavalamp commented on #88182
@jennybuckley

[2020-02-15 00:38] timfallmk opened #88183 "Transitive imports of client-go fail dependency check due to OpenAPIv2 capitalization"
**What happened**:
When building a package that contains a dependency on `k8s.io/client-go`, downloading imported dependencies will fail due to a change of package name on `github.com/googleapis/gnostic/OpenAPIv2`

For example, when building [ksync](https://github.com/ksync/ksync) :
[code]
This appears to be due to a renaming of the noted package to `openapiv2` to follow the (proper) style guide r

[2020-02-15 00:38] #88106 closed

[2020-02-15 00:43] timfallmk commented on #88183
I'm not entirely convinced this is the right place to file this, so let me know if it isn't.

[2020-02-15 01:03] AnishShah opened #88184 "wait pkg functions from apimachinery behave weirdly when stopCh is nil"
**What happened**:
Prints "hello" in an infinite loop.

**What you expected to happen**:
Nothing or error?

**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L89

[code]

Is this the expected behavior of this code?

[2020-02-15 01:03] AnishShah commented on #88184
/sig api-machinery

[2020-02-15 01:30] Huang-Wei commented on #88179
A scheduling cycle blocks the next one. If we move execution of permit plugin to scheduling cycle, you have to run it in a goroutine as permit plugin is meant to perform conditional waiting. In that case, the benefits you listed doesn't sound fair:

Are you trying to say permit plugins for different pods will be executed sequentially? If so, as I mentioned above, permit plugin shouldn't block sche

[2020-02-15 01:48] mateuszlitwin commented on #88179
Wait plugin does not actually wait, it returns `Success` or `Wait` status codes (or `Error`, etc.), if `Wait` is returned then scheduler will create `WaitingPod` that can be allowed or rejected. Problem is that after permit plugin returns `Wait` status code, there are not guarantees when pod for which `Wait` was returned will be available as `WaitingPod` in the `FrameworkHandle`.

[2020-02-15 02:20] tedyu commented on #88184
I wonder why nil is passed for stop channel.
What's the use case ?

[2020-02-15 02:37] wgliang commented on #88174
Strongly agree with this change. But, IMO, we may need to reconsider the default impact weights of each scoring plugin. Maybe they should have more weight ladders, rather than simply 1 or 1000. For example, from practical experience, in most cases `nodeaffinity` should not be set to the same weight as `nodepreferavoidpods`, `nodepreferavoidpods`, etc. (Yes, we need to consider this for users, beca

[2020-02-15 03:17] tedyu commented on #88182
The 'duplicate entries for key' error came from validatingObjectWalker#visitListItems.

[2020-02-15 03:53] liggitt commented on #88183
See resolution in https://github.com/kubernetes/client-go/issues/741#issuecomment-580957445

Using a specific version of client go will correctly fetch compatible versions of dependencies

[2020-02-15 03:54] #88183 closed

[2020-02-15 04:53] #26895 closed

[2020-02-15 04:58] JonathanRRogers commented on #81089
That's what I'm getting at: you have to do bizarre things to get around Kubernetes' limitation. It should be possible to run a *nix daemon without modifying the daemon or compromising on security. Postgres doesn't need any extra capabilities implied by running as UID 0.

[2020-02-15 05:01] apelisse commented on #87600
Clearly we should also cherry-pick that into 1.17. @hatoka, I'll send the PR on Monday if you prefer! Thanks.

[2020-02-15 06:12] skilxn-go commented on #87523
Yep, just send my pr.

[2020-02-15 06:15] caesarxuchao opened #88190 "hack/update-bazel.sh fails with incompatible RULES_GO_VERSION"
**What happened**:

When run hack/update-bazel.sh from the latest master branch (commit 3e3a3599ca41ed98240170cd59018a743b97b6e7), it reported:
gazelle: Found RULES_GO_VERSION 0.17.2. Minimum compatible version is 0.19.0.
Gazelle may not be compatible with this version of rules_go.
Update io_bazel_rules_go to a newer version in your WORKSPACE file.

**What you expected to happen**:

**How to repro

[2020-02-15 06:16] caesarxuchao commented on #88190
/sig testing

[2020-02-15 06:20] Huang-Wei commented on #88179
I see the point.

Instead of separating the Permit extension point into two, is it possible to add a lock in the permit plugin implementation, so that the execution on pod A would block pod B? Per my understanding, why the racing issue can emerge is due to slight slow processing on pod A. In that case, moving Permit plugins to scheduling cycle wouldn't desirable as it would slow down the main sche

[2020-02-15 06:30] Huang-Wei commented on #88174
IMO a reasonable criterion to guide which Score plugins should have non-default weight is: whether the Score plugin is associated with an API (e.g., PodTopologySpread Score plugin is associated with `.spec. topologySpreadConstraints[*].whenUnsatisfiable == ScheduleAnyway`.

[2020-02-15 07:09] #87898 closed

[2020-02-15 08:13] SomtochiAma commented on #88180
What should be returned instead?

[2020-02-15 08:32] fribourgpierre commented on #83834
Hi,

I'm coming from #83835 about the same issue.

I am facing the same problem of old pods scheduled latter than new pods on a static cluster (see https://github.com/kubernetes/kubernetes/pull/83835#issuecomment-584576933)

@yqwang-ms suggest me to use #83835 PR but I may then face starvation issue mentioned in #86373. He also mention that I could leverage the queue sort plugin.

I didn't knew ab

[2020-02-15 09:26] yqwang-ms commented on #83834
right you need to write your own plugin by the link you provided

[2020-02-15 09:42] kpkaur2015 commented on #68542
I forgot to disable my selinux on client nodes , which gave me same issue of client not ready.
Once port setting and Selinux fixed , issue got resolved.

Before fixing

[root@kubemaster ~]# kubectl get nodes
NAME                      STATUS     ROLES    AGE   VERSION
kubeclient1.localdomain   NotReady   <none>   16s   v1.17.3
kubeclient2.localdomain   NotReady   <none>   36s   v1.17.3
kubemaster.l

[2020-02-15 09:53] olivierlemasle commented on #86356
/sig api-machinery
/sig instrumentation

[2020-02-15 11:00] msschl commented on #43784
This is still an issue on v1.17.3. Are there any plans e.g. a separate port for health checks?

[2020-02-15 12:34] MansM commented on #87852
Did find a workaround: switching flannel to host-gw instead of vxlan:
https://github.com/coreos/flannel/issues/1245#issuecomment-582612891

[code]
- replace vxlan with host-gw
- save
- not sure if needed, but I did it anyway: ```kubectl delete pods -l app=flannel -n kube-system```

[2020-02-15 12:42] justaugustus commented on #87960
Closed via https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/284.

There is a possibility we will publish debs again in the future (via [`kubepkg`](https://github.com/kubernetes/release/tree/master/cmd/kubepkg)), but while that tool is in flux, I don't want anyone depending on it.

Thanks for the fix, @fabriziopandini!
/close

[2020-02-15 12:42] #87960 closed

[2020-02-15 12:43] justaugustus commented on #87961
Closed via https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1546.

There is a possibility we will publish debs again in the future (via [`kubepkg`](https://github.com/kubernetes/release/tree/master/cmd/kubepkg)), but while that tool is in flux, I don't want anyone depending on it.

Thanks for the fix, @fabriziopandini!
/close

[2020-02-15 12:43] #87961 closed

[2020-02-15 13:36] gavinfish commented on #88150
I want to have a try for this.

Besides using `ControllerRevisionControllerRefManager`, I think the logic change here is that adopting orphan revisions is not enough for `sync(key string)`? More actions need to be done like
- Release owned revisions if the selector no longer matches
- Cleanup old stateful set revisions

/assgin

[2020-02-15 13:36] gavinfish commented on #88150
/assign

[2020-02-15 14:54] SerialVelocity opened #88193 "Pod is stuck in "ContainerCreating" when "RestartPolicy: Never" and "FailedMount""
**What happened**:
I started a pod with `RestartPolicy: Never` set and it couldn't mount a volume (I had a bad iptables rule).

It got stuck in "ContainerCreating" and never retried mounting the volume.

**What you expected to happen**:
Retry mounting the volume until the pod is created.

**How to reproduce it (as minimally and precisely as possible)**:
Start a pod with `RestartPolicy: Never` wher

[2020-02-15 14:56] silenceper opened #88194 "when use leaderelection failed to release lock"
**What happened**:
when use leaderelection failed to release lock
[code]
**What you expected to happen**:
release lock success
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
lock type is lease
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel

[2020-02-15 15:16] ingvagabund opened #88195 "Switch scheduler performance integration tests to new metrics-based suite"
Scheduler integration tests under `test/integration/scheduler_perf` for performance measurement of kube-scheduler component has recently underwent code refactoring and major improvements in what is measured and collected. Right now, there are two test suites running on top of Golang benchmark framework:
- tests prefixed with `BenchmarkScheduling` (10 in total)
- tests prefixed with `BenchmarkPerfS

[2020-02-15 15:20] alculquicondor commented on #83834
/cc

[2020-02-15 15:33] alculquicondor commented on #83834
Maybe this was asked before, but, if so, better resurface those conclusions in this issue.

Why should the scheduler be near FIFO? If a user comes in with a lot of jobs, they will almost completely starve other users that would come later. This is not like that in modern operating systems. Instead, I believe our current strategy tries to be more responsive to new jobs.

[2020-02-15 17:09] ahg-g commented on #88195
I suggest we keep the old one for now:
1) rename the file ```scheduler_perf_legacy_test.go```
2) rename the test suite ```BenchmarkSchedulingLegacy```
3) rename the new test suite ```BenchmarkScheduling```
4) use the new test suite in the per dashboard

The reason I want to keep the old one for now is that we can still use it to compare performance against older releases. We can remove it after a

[2020-02-15 17:21] liu-cong commented on #88195
Can we run both the old and new tests for a while so that we can compare the results and get more confidence on the new metrics? Meanwhile we can have some time to get feedbacks.

[2020-02-15 17:29] mateuszlitwin commented on #88179
I think lock will work as well to address this particular problem, but in my opinion running plugins in the scheduling cycle might be preferable because:

1. It guarantees the order in which permit plugins will be executed relative to other plugins. Consider for example situation where following happens: `reserve(podA), reserve(podB), ..., permit(podB), permit(podA)` in some cases it might lead to

[2020-02-15 17:35] fribourgpierre commented on #83834
@alculquicondor it don't have to be like this, anyway we are searching a possibility to configure it this way for some use cases.
eg. a limited nb of available nodes and a large number of jobs coming in that needs to provide a answer as fast as possible regarding their arriving time.

[2020-02-15 18:00] ahg-g commented on #88179
I think this is a fair suggestion, we can split RunPermitPlugins into two phases:

1) RunPermitPlugins doesn't block and returns a Status and WaitingPod instance and is executed at the end of the scheduling cycle.
2) The WaitingPod [channel](https://github.com/kubernetes/kubernetes/blob/1c60045db0bd6efbb2827063e39f515b95c2bfa4/pkg/scheduler/framework/v1alpha1/waiting_pods_map.go#L84) should be buf

[2020-02-15 18:17] ingvagabund commented on #88195
As we discussed on the Slack we need other than `BenchmarkScheduling` prefix if we want to keep the jenkins jobs running the suite unchanged:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L376-L377

as @ahg-g suggested we can go with LegacyBenchmarkScheduling

[2020-02-15 18:23] ingvagabund commented on #88195
I am not against, the last time I checked it should be easy to add the new job into the perf dashboard.

[2020-02-15 19:22] #87934 closed

[2020-02-15 20:37] al45tair commented on #81089
@JonathanRRogers Indeed not, but my Postgres isn’t running with UID 0. It’s running, as intended, with UID 1001. And I have TLS configured and working, using just `fsGroup` and `defaultMode`. No security compromise.

Making it so you can specify ownership is hard because k8s tries to share the data between containers in a pod, which won’t work if they want things to have different UIDs. That’s why

[2020-02-15 20:38] liggitt commented on #88190
Do you see that if you `make clean`? Do you have a stale bazel/gazelle binary?

[2020-02-15 21:29] #87523 closed

[2020-02-15 21:35] #83256 closed

[2020-02-15 21:35] HimanshuPanwar004 commented on #73140
Waited for long to let kubernetes refresh it but issue still persist.
Alternative:
1) Create a fresh service by delete the service associated by running "kubectl delete svc <service-name>". service name can listed with command "kubectl get services -o wide".
2) Change the port number in your services yaml config file.

[2020-02-15 22:38] riking commented on #88180
If the request (the context) is cancelled, there's no need to log anything. You can check with [`errors.Is`](https://golang.org/pkg/errors/#Is)`(err, `[`context.Canceled`](https://godoc.org/context#pkg-variables)`)`

[2020-02-15 22:55] olegch opened #88197 "kubelet incorrectly configures `kubepods.slice` systemd unit when kube-reserved and/or system-reserved is used"
**What happened**:

Kubelet is started on CentOS 7 with systemd with the following switches (among others) `--cgroup-driver=systemd`, `--enforce-node-allocatable=pods`, `--kube-reserved=cpu=100m,ephemeral-storage=2Gi,memory=1.5Gi`

With these settings kubelet correctly creates `kubepods.slice` cgroup with memory limit set to total RAM on the node (~4Gi in this example) minus kube-reserved (1.5Gi i

[2020-02-15 23:00] olegch commented on #88197
/sig node

[2020-02-15 23:11] #73856 closed

[2020-02-15 23:20] olegch commented on #88197
I created a pull request that partially fixes this issue: https://github.com/kubernetes/kubernetes/pull/88198

The pull request introduces a change to `kubepods.slice` unit creation code so that the memory limit is set correctly the first time.

This change does not solve the problem of changing the limit if the unit already exists.
For example, if kubelet is restarted with a different kube-reserv

[2020-02-16 00:08] neolit123 commented on #78534
/lifecycle active

[2020-02-16 00:51] mateuszlitwin commented on #88179
@ahg-g Why the channel should be buffered?

You can see initial draft here https://github.com/kubernetes/kubernetes/pull/88199.

[2020-02-16 01:30] annajung commented on #80916
Hey @apelisse checking in again! Do you still think this looks good for 1.18?
Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-16 01:31] annajung commented on #77019
Hello @nckturner @justinsb @sethp-nr Checking in again. Do you think this will make it in for 1.18 release?
Friendly reminder: Code freeze is scheduled for March 5th.

[2020-02-16 01:34] annajung commented on #76064
Hello @cadmuxe @hantaowang @dcbw Checking in again. Do you think this will make it in for 1.18 release?

[2020-02-16 01:35] annajung commented on #86484
Thank you for letting me know, I will remove this issue from being tracked by the bug triage team for 1.18 release.

[2020-02-16 01:35] Huang-Wei commented on #88179
Thanks @mateuszlitwin for the explanation. It sounds fair that the benefits of handling this problem in the framework side outweigh doing so at the Permit Plugin side.

@ahg-g, do you think we should include this in the 1.18 cycle? If so, we are close to code freeze (~2 weeks), we should start updating the KEP and working on the PR right away.

@mateuszlitwin, if we come to a consensus, do you hav

[2020-02-16 01:36] annajung commented on #86967
Hello @roycaihw @sttts 👋 Checking in again. Do you think this will make it in to 1.18 release?

[2020-02-16 01:45] tedyu commented on #88180
diff --git a/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go b/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go
index 5a845435033..d7d3a187ad7 100644
--- a/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go
+++ b/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.go
@@ -17,6 +17,8 @@ limit

[2020-02-16 01:50] yqwang-ms commented on #83834
Seems when no explicit defined policies to judge the priority of 2 tasks (such as priority field, user max tasks limit, etc), the FIFO rule can be the default policy which meets most human sense.

[2020-02-16 01:58] Huang-Wei commented on #88179
cc/ @everpeace @denkensk @hex108

[2020-02-16 01:58] Huang-Wei commented on #88179
That doesn't sound necessary to me either.

[2020-02-16 02:03] mateuszlitwin commented on #88179
@Huang-Wei Yes, I should have a bandwidth, I should have most of the PR ready today. I really want this to make 1.18.

[2020-02-16 02:23] tyrken commented on #67250
What can we do to get this going again?  It sounds like @janetkuo, @enisoc & probably others feel it's unsafe to delete a Pending pod if it's started running at all - at least until we can introduce a new explicit safe-to-proceed flag like:

[code]

If this can't happen until an apps/v2, then can we come up with a new test a bit like #78709 by @TopherGopher but stricter than IsPending, outdated &

[2020-02-16 03:14] ahg-g commented on #88179
Because there could be a race between waiting and allowing/denying:

1) podA returned wait and is added to the wait map
2) before the binding go routine of podA blocks on channel receive, podB scheduling cycle starts and it tries to allow/deny podA through a non blocking send
3) podA binding go routine blocks on channel receive, hence missing on podB's signal since it wasn't buffered

[2020-02-16 03:31] tedyu commented on #88180
/assign

[2020-02-16 04:13] lavalamp commented on #88180
Please note the implied requests in an issue like this, which I didn't
explicitly state:

* is this a bug? Why is the context getting cancelled?
* If not a bug, then 500 is probably not the right return code

To adequately address this, we should understand who/what is cancelling the
context and why.

On Sat, Feb 15, 2020, 7:31 PM Ted Yu <notifications@github.com> wrote:

[2020-02-16 04:16] everpeace commented on #88179
Thanks for the good suggestion @mateuszlitwin .  I see your point and agree with your suggestion.

And, @ahg-g 's plan also looks good to me.  I think the important thing is that we can guarantee not to block scheduling cycle because of this change.

// Thanks @Huang-Wei for ping me 👍

[2020-02-16 04:50] caesarxuchao commented on #88190
Yeah, I tried "make clean". I also manually removed the `_output` directory.

And in my environment, "which bazel", "which gazelle" both return empty. Also, the hack/update-bazel.sh [installs](https://github.com/kubernetes/kubernetes/blob/3b22fcc7bdcf5cb6eac2e4bb10f3b943ba94e2f2/hack/update-bazel.sh#L29-L31) gazzelle, so I think the problem is not caused by the gazelle version.

[2020-02-16 04:59] tedyu commented on #88180
Here was the last occurrence of 'an error that is not an metav1.Status' in kube-apiserver.log:
[code]
This was the first line in e2e-gce output:
[code]
Note that the error was prior to test run.

Trying to figure out what activity the context cancellation corresponded to.

[2020-02-16 05:24] dims commented on #79606
/reopen

[2020-02-16 06:04] qhh0205 opened #88203 "Insufficient permissions for RBAC role system:kube-controller-manager for clusterroles resource"
**What happened**:
I startup kube-controler-manager with binary, the CA cert user is system:kube-controller-manager, but that report the RBAC permission related issues as following:
[code]
 _**I have read related issues, but still not work for me: #48208**_
**What you expected to happen**:
No such error logs!
**How to reproduce it (as minimally and precisely as possible)**:
Start the kube-controll

[2020-02-16 06:12] YanzheL commented on #60987
same issue on k8s 1.16.3 with CRI-O 1.15.2-1.el7

[2020-02-16 06:20] zerkms commented on #78007
/remove-lifecycle stale

[2020-02-16 07:19] #82824 closed

[2020-02-16 07:35] stevenruizhang opened #88205 "After reboot Centos7 server , when run kubectl get pod get error: the connection to the server localhost:8080 was refused - did you specify the right host or port?"
**What happened**:
when i reboot the centos7 server, and run get pod see below error
The connection to the server localhost:8080 was refused - did you specify the right host or port?
**What you expected to happen**:
before i reboot the system, the kubernetes have three nodes, and pods/service/,.. all working file
**How to reproduce it (as minimally and precisely as possible)**:
1) reboot the serve

[2020-02-16 09:08] skycastlelily2 opened #88207 "cluster unjoin node failed"
**What happened**:
cluster unjoin node  nodename failed

[root@dell-pem905-01 lnie]# cluster unjoin node dell-pe-fm120-1b.dell2.lab.eng.bos.redhat.com
Can't open unjoin
Can't open node
Can't open dell-pe-fm120-1b.dell2.lab.eng.bos.redhat.com

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
always
**Anything else we need to know?**:

**Environment

[2020-02-16 09:57] cja000 commented on #78068
All processes have CPU below 5%
It just installed the cluster and nothing else.
I will try changing the deadline but I would like to know what it is happening just in case it is a bigger problem.
Thank you

[2020-02-16 10:47] tamalsaha opened #88208 "GPLv3 dependency?"
While this project uses Apache v2 license, this depends on `https://github.com/libopenstorage/openstorage` (Apache v2), which depends on   `gopkg.in/jmcvetta/napping.v3` package which uses GPL v3 license.

https://github.com/libopenstorage/openstorage/blob/d1e3fd845368e7a0550a2b597015eb3d865dbd0b/volume/drivers/coprhd/coprhd.go#L9

This seems problematic. I filed an issue at upstream https://githu

[2020-02-16 11:43] loozhengyuan commented on #87840
I thought it would be helpful if I further elaborate the desired outcome of this feature.

Currently, say if I were to [create a Kubernetes secret using Kustomize](https://kubernetes.io/docs/concepts/configuration/secret/#generating-a-secret-from-string-literals), I will run the following command:

[code]

However, as part of my CI/CD pipeline, I intend to preview all changes before they actually

[2020-02-16 11:46] piroszhog commented on #85630
+1, need this too. For now I have to run kubectl as a subprocess.

[2020-02-16 12:05] piroszhog commented on #85630
I did a small study, and it seems it's impossible for now to add the same feature to client, since there is no API method to get "mounted by" pods list.
Kubectl just gets all pods list from `/pods` and iterates them to form "mounted by" list. Not the best way as for me, I think it should be in API.

[2020-02-16 12:25] skycastlelily2 opened #88210 "failed to join the cluster with /usr/libexec/kubernetes: read-only file system"
**What happened**:
I have create a cluster on fedora coreos with kubeadm,
but failed to join in the cluster，
systemctl status kubelet shows:mkdir /usr/libexec/kubernetes: read-only file system
I then tried to add KUBELET_VOLUME_PLUGIN="--volume-plugin-dir=/var/lib/kubelet/volumeplugins" to /var/lib/kubelet/kubeadm-flags.env,but still failed the same.

**What you expected to happen**:

**How to rep

[2020-02-16 13:12] agowa338 commented on #23864
This feature would also be handy for running a samba DC within kubernetes, as required ports are all rpc ports: 53 53/udp 88 88/udp 135 137-138/udp 139 389 389/udp 445 464 464/udp 636 3268-3269 49152-65535

[2020-02-16 13:14] skycastlelily2 opened #88211 "k18s doesn't work with cgroupv2?"
**What happened**:
I create a cluster with kubeadm init on fedora 30 with docker runtime
the join the cluster on another fedora31 system with cgroupv1 reverted and docker runtime,
then I change runtime to crio,it seems work.
then I change back to cgroupv2 and have crio as the runtime, this time kubelet fails to start
**What you expected to happen**:

**How to reproduce it (as minimally and precise

[2020-02-16 13:30] dims commented on #88208
@tamalsaha per https://github.com/kubernetes/kubernetes/issues/80029 we will hopefully *never* touch this dependency again (we are at v1.0.0).

cc @lpabon

/close

[2020-02-16 13:30] #88208 closed

[2020-02-16 13:47] lbernail opened #88212 "kube-proxy in ipvs mode has high cpu usage with thousands of services"
**What happened**:
Most of our workloads use headless services but on a specific clusters we have 2000 services with a ClusterIP and ~50 with Nodeports.
While looking a depth at node not performing as expected, we noticed that kube-proxy was using 65+% of core almost constantly.

We took a flamegraph of kube-proxy and noticed that GetNodeAddresses was a very user (accounting for 40+% of cpu usage)

[2020-02-16 13:49] sftim commented on #87634
also
/sig cli

[2020-02-16 13:49] liggitt commented on #88190
Strange, it works well for me and in CI

[2020-02-16 14:44] aojea commented on #88211
AFAIK cgroups v2 is a WIP
https://github.com/kubernetes/enhancements/pull/1370

[2020-02-16 15:39] agowa338 commented on #23864
Also deploying this service is therefore currently impossible, as a `kubectl apply -f samba-dc.yaml` fails with:

it is also impractical to handle such a large deployment file e.g.  https://termbin.com/mk8d

[2020-02-16 15:47] julianvmodesto commented on #87840
@loozhengyuan this is probably a concern delegated to application-layer secrets encryption, since masking output is not provided in our types, by the apiserver nor any client utilities including kubectl and client-go, and any other languages.

What distribution of Kubernetes are you using? If it’s a cloud distribution, does it support a KMS plugin?

- [Kubernetes KMS plugins](https://kubernetes.io

[2020-02-16 15:54] windnod commented on #60987
same issue on k8s 1.17.2 with Docker 19.03.5

[2020-02-16 16:06] windnod commented on #60987
#485

[2020-02-16 16:08] AanchalSharma1108 commented on #80897
We are experiencing the same issue. Setting `externalTrafficPolicy: "Cluster"` does not work as well . Does anyone have a solution yet ?

[2020-02-16 16:36] neolit123 commented on #88194
/sig api-machinery

[2020-02-16 16:39] neolit123 commented on #88211
yes, cgroups v2 is not supported.
in terms of kubeadm checking if the node has v2 the PR to add that is on hold, until k8s actually supports v2:
https://github.com/kubernetes/system-validators/pull/12

/sig node
/remove-kind bug
/triage support
/close

[2020-02-16 16:39] #88211 closed

[2020-02-16 16:39] neolit123 commented on #88142
/sig node

[2020-02-16 16:45] neolit123 commented on #88210
closing in favor of:
https://github.com/kubernetes/kubeadm/issues/2031

the KCM default for flex-volumes points to a path that is R/O:
`--flex-volume-plugin-dir string     Default: "/usr/libexec/kubernetes/kubelet-plugins/volume/exec/"`
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

[2020-02-16 16:45] neolit123 commented on #88210
/close

[2020-02-16 16:45] #88210 closed

[2020-02-16 16:51] neolit123 commented on #88207
i don't know where this command is coming from:
[code]

but i don't think this `cluster unjoin` is a tool maintained by the k8s project.

as far as kubeadm managed clusters goes do remove nodes you can do:
[code]

/close

[2020-02-16 16:51] #88207 closed

[2020-02-16 16:53] neolit123 commented on #88203
/sig auth