[2015-11-06 22:17] stevekuznetsov commented on #16901
@paralin That's great news! I appreciate the time you took to debug that. I noticed three differences between your script and the one currently in the README:
* change `-e=KUBECONFIG=/config/admin.kubeconfig` to `-e KUBECONFIG=/kubeconfig` and add `-v ${HOME}/.kube/config:/kubeconfig`
* change `openshift/origin` to `openshift/origin:v1.0.3`
* change `examples/openshift-origin/secret.json` to `${OP

[2015-11-06 22:17] janetkuo opened #16957 "kubectl annotate to support label query"
something like `kubectl annotate pods -lapp=nginx ...`

[2015-11-06 22:23] lavalamp commented on #16871
https://github.com/kubernetes/kubernetes/blob/f4b2d8358f53b79b1ef1e73218c23e62043829f0/pkg/controller/node/nodecontroller.go#L350

does a node list every 5 seconds, and there's already a node cache it could use instead.

[2015-11-06 22:23] vishh commented on #16943
@derekwaynecarr: I meant the number of pods a node can run without compromising reliability and performance.

v1.1 includes quite a bit of optimization as illustrated by @yujuhong's data. Do you think those numbers are not acceptable for production scenarios?

By `small clusters` are you referring to the size or number of nodes? Based on the current data 95%ile CPU overhead on the nodes is ~1cpu.

[2015-11-06 22:41] dchen1107 commented on #16943
@yujuhong Please indicate that your memory stats for both Kubelet and Docker by applying hard limit to memcg group which tricks the dirty pages to flush to the disk more frequently. But 1.1 release by default, there is no hard limit to apply to those daemons' memcg cgroup. We plan to have this for 1.2 release (aggressive goal). To document those number, so that we have a benchmark to compare for f

[2015-11-06 22:47] bgrant0607 commented on #260
@smarterclayton @thockin

Thoughts while biking to the office a few days ago:

I'm currently thinking of this as a PetSet controller, or maybe ShardSet controller, if people want to think about it that way, as discussed back at the beginning: https://github.com/kubernetes/kubernetes/issues/260#issuecomment-57671926.

The case we're trying to address is where there are N similar pets, but they are

[2015-11-07 00:17] lavalamp commented on #16395
@nikhiljindal did we fix this?

[2015-11-07 00:31] huang195 commented on #16663
Looks like k8sm scheduler only takes into account of a mesos offer, which includes things such as cpu, memory, network ports, etc., that are common across mesos and k8s, but k8s-specific resources such as `--max-pods` are not considered at all.

[2015-11-07 00:51] JunejaTung commented on #16836
@ArtfulCoder  now the commands `kubectl exec busybox -- nslookup kubernetes.default.svc.cluster.local 10.254.237.18` can works, my kubernetes version is 1.1.0:
[code]

[2015-11-07 01:07] yujuhong commented on #16943
I did in my original comment :)

- For 1), kubelet tries to respond as quickly as possible after it sees the pod from watch.
- For 3), we have per-container probing period defined in the pod spec. They will be respected as much as possible.

Both (1) and (3), should be fine as long as kubelet doesn't go crazy with the resource usage (which it might today).
My main problem is with (2), as it's not

[2015-11-07 01:13] vishh commented on #16943
AFAIK, we are only publishing SLI. I don't think there are any SLO's documented.

IIUC, the improvements you have in pipeline for node scalability should also result in reduced resource consumption right?

[2015-11-07 01:17] yujuhong commented on #16943
My focus is mainly on detection the container failure -- sorry if I didn't make it clear in the original comment. If all we need is ~5 second latency (from container failure to pod worker waking up, excluding the actual container creation time), we might even get by with relisting PLEG + a dumb pod cache with a global update timestamp. Pod workers only have to wake up and see if the timestamp is n

[2015-11-07 01:22] yujuhong commented on #16943
Please see https://github.com/kubernetes/kubernetes/issues/16943#issuecomment-154594323 for the potential implementation if we can relax the delay :)
In short, pure relisting does not scale, but with relaxed reaction time, kubelet may just get by for our v1.2 goal. If we need to scale to more pods, this could become the bottleneck though.

Probing is the missing piece of the puzzle in my measureme

[2015-11-07 01:27] yujuhong commented on #16943
I agree with @derekwaynecarr on this. The management overhead for a node in the steady state is quite high today. Reducing kubelet's and docker's cpu usage would help us scale the #pods on the node, but more importantly, it would reduce the resource footprint even for fewer (<= 40) pods.

However, for a smaller cluster in quite a few user reports, it was the monitoring/logging pods that were hoggi

[2015-11-07 01:30] dchen1107 commented on #16943
@yujuhong yes, we only have issue with 2) case I listed above. What is the interval of relist in your mind? We can do some measurement with it.

Honestly I don't think there is a big issue since we already introduced backoff on restarting dead containers. If some users really care about the react time for 2), we can add support for using the docker container event stream to cover it. Just need to

[2015-11-07 02:02] chrislovecnm commented on #15524
@saad-ali let me know when we will have a timeline on this ... bosses are asking :smile:

[2015-11-07 02:07] aaronlevy opened #16961 "Unable to schedule pods in mixed version cluster (scheduler=1.0.7, kubelet=1.1.1-beta.1)"
When testing a mixed-version cluster it seems that pods will not be scheduled due to an issue with how multiple node conditions are evaluated.

In this case kubelet=v1.1.1-beta.1 and scheduler (and all other components) are v1.0.7.

It seems the issue is surfaced by adding a second node condition (and was also resolved) here:  https://github.com/kubernetes/kubernetes/commit/a2570926da1b87856351c78

[2015-11-07 03:20] Pendoragon commented on #16431
AFAIU, OPTIONS does contain a path but the server will just return 204 regardless of whether the path exits or not. The response to OPTIONS only indicates that server is aware of CORS.

[2015-11-07 03:34] ArtfulCoder commented on #16836
Can you paste the spec of your busybox pod ?

[2015-11-07 06:04] pmorie commented on #15524
@kubernetes/rh-cluster-infra

On Fri, Nov 6, 2015 at 9:02 PM, Chris Love <notifications@github.com> wrote:

[2015-11-07 06:17] MikeSpreitzer commented on #9288
I am suffering from this problem too, and wonder if the following alternative would be easier to approve.  How about adding a new flag that is specifically for overriding the choice of IP address to put into the iptables rules?

[2015-11-07 07:05] wojtek-t commented on #16791
It seems that #16788 fixed the problem.

[2015-11-07 07:05] #16791 closed

[2015-11-07 07:23] pmorie commented on #13424
@kubernetes/rh-cluster-infra

[2015-11-07 07:25] pmorie commented on #13935
Corollary: we should probably have some guidance on when your PR has an intrinsic risk of not being mergeable however high the quality of code, like when it affects something consensus / discussion is needed around.

[2015-11-07 07:43] dalanlan commented on #13424
My guess is that we do need `--service-account-key-file` or `--tls-private-key-file`. (didn't follow this thread for a while, though)

[2015-11-07 08:03] jdoliner commented on #16909
Sorry should have included that.

K8s is deployed on Docker as per: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md. Only thing I've changed is add `--allow-privileged` to the services.

[2015-11-07 08:27] davidopp commented on #9044
And the ones that Swarm automatically populates are on this page
https://docs.docker.com/swarm/scheduler/filter/

[2015-11-07 08:31] davidopp commented on #16466
Somewhat related: we should add a priority function that prefers to put a pod onto a machine where the largest number of images required by the new pod are already installed. (Borg has this, and Swarm has it and calls it "image affinity".)

[2015-11-07 08:36] davidopp commented on #16022
@kubernetes/sig-big-data

[2015-11-07 09:07] davidopp commented on #341
In #15350 we said we would introduce a NodeSelector that is like PodSelector but for selecting nodes. I'm copying some of the notes from there (and adding a couple), since that was a PR and hence not a great place to record general discussion about an issue.

------------------

@bgrant0607 , @mikedanese , and I discussed at some length; I don't have time to summarize the meeting now but one key d

[2015-11-07 09:07] davidopp commented on #341
BTW I did not intend for that one paragraph to be so huge ... not sure why it was.

[2015-11-07 09:35] #12866 closed

[2015-11-07 09:53] luxas commented on #13424
@dalanlan An interesting thing is that `docker exec <apiserver> ls /var/run/kubernetes` returns two files:
 - apiserver.key
 - apiserver.crt

apiserver help (v1.2.0-alpha.3):
[code]
`docker logs <apiserver>`
[code]
WDYT?
/cc @fgrzadkowski

[2015-11-07 09:58] JunejaTung commented on #16836
@ArtfulCoder  sorry for response you so late!
[code]

[2015-11-07 10:37] Smana commented on #11869
Hi,

Actually i just want to know if someone managed to install openshift on top of kubernetes with the "NodePort" loadbalancing type.
I guess on GCE it works as expected but on my own servers, i'm still looking for a way.
I will open a new ticket because with the following branch https://github.com/paralin/kubernetes/tree/fix-openshift-example I'm able to create a controller but i've other errors

[2015-11-07 10:37] #11869 closed

[2015-11-07 10:38] antoineco commented on #2630
@pmorie looks good in terms of usability! Thanks a lot for working on this.
Will it also be possible to set a more fine-grained mode on the mountpoint? Right row RW volumes are mounted with 0777 (1.1-beta.1). I have a use case where this causes minor issues:

[code]

[2015-11-07 10:39] #16800 closed

[2015-11-07 11:09] luxas commented on #13424
Now I compared `hack/local-up-cluster.sh` to `docker.md` above

When running `hack/local-up-cluster.sh`, the tmpfs is created correctly:
[code]

But, no such mounts when running in docker.
It seems like dockerized kubelet can't mount `tmpfs` on host's `-v /var/lib/kubelet:/var/lib/kubelet:rw`.
Another thing is that dockerized kubelet doesn't either make the `kubernetes.io~secret` dir. Maybe becaus

[2015-11-07 11:20] davidopp commented on #16871
Yeah we have a
 TODO: Change node status monitor to watch based.
in NodeController but never did it.

@hongchaodeng if you'd like to implement that, and can do it quickly, please go ahead.

That said, it shouldn't be running every 0.3 seconds (!), as @lavalamp said it should be every 5 seconds (https://github.com/kubernetes/kubernetes/blob/c3a072768bb8983c3f43e4ab50e379b8bef4760a/cmd/kube-controll

[2015-11-07 11:38] saturnism commented on #15924
@deads2k i feel primary use-case is subjective to what people are trying to do. headless services are common when running certain class of services/apps that simply don't need a cluster IP.

[2015-11-07 11:45] guybrush commented on #13424
@luxas i think these are related: #13791 #16055

as far as i understand you might be able to get it running by using a hyperkube image built from current master (but i did not try it myself yet)

[2015-11-07 11:49] dalanlan commented on #13424
It should be since #13791 was merged (Sep 18th), yet i built one from HEAD on Oct 16th, only to find it did not.
I find it necessary to file another issue to track this. Stay tuned.

[2015-11-07 11:57] dalanlan opened #16965 "containerized controller manager doesn't generate secrets w/ default configuration"
As specified in #13557, containerized kubelet has a problem when it comes to secrets thing. #13791 (merged on Sep. 18th) should make it right.
Yet I built one from HEAD on Oct 16th, and here is what i got.
[code]
Am i missing something?

/cc @fgrzadkowski  @pmorie

[2015-11-07 11:59] dalanlan commented on #13424
#16965 manage to track this issue.

[2015-11-07 12:00] dalanlan commented on #13424
And it has nothing to do with the param configuration. Sorry for my misleading, if there is any.

[2015-11-07 12:10] dalanlan commented on #16965
What's expected in my mind
[code]

[2015-11-07 12:26] davidopp commented on #473
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability.md
describes how the current HA approach works.

[2015-11-07 12:33] deads2k commented on #16732
I think just `apiGroup` is a reasonable place to start.

[2015-11-07 13:28] davidopp commented on #16837
We've started on (1) in #11988/#12513 but currently don't have the cycles on our team to turn this into a full-fledged resource with scheduling like memory and cpu. If you'd like to implement something like that, feel free to add a concrete design to #2856 and we can discuss there. Please read the discussion on #12187 first -- you'd probably want to reuse parts of that PR.

(2) is more complicated

[2015-11-07 13:28] #16837 closed

[2015-11-07 13:36] sttts commented on #16663
@huang195: right, the scheduler does not consider that, but should.

Closing this ticket in favor of https://github.com/mesosphere/kubernetes-mesos/issues/613.

[2015-11-07 13:36] #16663 closed

[2015-11-07 13:41] luxas commented on #13424
@guybrush As I said [above](https://github.com/kubernetes/kubernetes/issues/13424#issuecomment-154548020), I used `v1.2.0-alpha.3`, where #13791 is merged. That patch doesn't seem to fix it

We'll track this issue in @dalanlan's #16965 from now on I think

[2015-11-07 13:55] guybrush commented on #13424
ah sorry, i totally missed that comment :D

[2015-11-07 14:16] zmerlynn commented on #16022
@ntquyen: Yeah, unfortunately right now, there's a little bit of a wart around storage here. As @markturansky is suggesting, we'd highly recommend you not use `HostPath` and node selectors to pin the pods - that results in a brittle system and basically ruins the schedulers ability to do anything. There are plans in the works for something like a `PVClaim` pool that is more reasonable to tie to an

[2015-11-07 14:17] luxas commented on #16965
Yes, it should be like that, and it works when using `hack/local-up-cluster.sh` from HEAD.
When it works with local-up-cluster:
[code]

But, not when running `kubelet` under docker.
When executing the commands above using dockerized kubelet `v1.2.0-alpha.3` with `--privileged` and `--containerized`, it doesn't return anything.
I'll try to set `-v=3` and see if kubelet says something new. Now, no e

[2015-11-07 14:17] davidopp commented on #12611
Not really. Deployment already has maxUnavailable, and I assume we want that. Presumably we want evictions/time as well, as you mentioned. I'm not sure we need anything else, at least for now.

[2015-11-07 14:20] timothysc commented on #16022
@davidopp @zmerlynn at some point we are going to need to support persistent local storage via "forgiveness", but I've seen no "complete" design proposals on the topic.

[2015-11-07 14:51] zmerlynn commented on #16961
cc @ihmccreery

[2015-11-07 14:56] davidopp commented on #13430
Yes, see the first couple of entries in #13412.

As @quinton-hoole alludes to, we are quickly moving to larger cluster sizes -- hundreds of nodes for the 1.1 release, >= 1000 for the 1.2 release -- so I do think we want to move to percentages soon.

[2015-11-07 14:59] #16121 closed

[2015-11-07 15:14] luxas commented on #13424
Yeah, that happens :)

[2015-11-07 15:16] davidopp commented on #16652
For (1) what information are you referring to when you say "What about exposing the information to client level when it is in Pending stat"? For the second part of (1), I don't think there's a good general way to do this because a new Pod may have a shape that fits even though there is a large pending queue. What you're really asking for, as you mention in (2), is "reject the pod if there are a lo

[2015-11-07 15:31] #16721 closed

[2015-11-07 15:51] paralin opened #16967 "DaemonSet scheduling pods on SchedulingDisabled nodes"
On my GCE cluster the master appears as a `SchedulingDisabled` node. It looks like DaemonSet is trying to schedule something on it and failing with "InsufficientCpu" every few seconds.

Either it should bypass this restriction or it should stop trying. Trying every couple seconds and flooding hte logs is bad.

[2015-11-07 16:26] luxas commented on #16965
@dalanlan I've found an interesting thing. It is working to follow the guide: https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/secrets

I got secrets working with dockerized kubelet after #13791. Prior to the patch, secrets didn't mount.
Output:
[code]
(The reason why `tmpfs` is mounted twice, is probably because I tried this some times)

So, according to this, it seems like do

[2015-11-07 16:51] onorua opened #16968 "gcr.io is outdated and will not be supported in a future versions of docker"
Guys, just to let you know, docker 1.9 released, I has pretty interesting message I've discovered by accident:
[code]
Which means, gcr.io need to be updated or images must be moved to some other registry, otherwise in a couple of months a lot of test environments will be broken around the world, no to tell some production system too.

[2015-11-07 16:57] smarterclayton opened #16970 "io.SavePodToFile does not belong in pkg/util/io"
That's a generic package - if we need a utility for "write pod to file" it should be in a sub package of volumes (if it's only used there) or a sub package of api.  It's also the wrong signature - it shouldn't assume anything about the codec its running under.

[2015-11-07 17:27] smarterclayton opened #16971 "NsenterWriter is an arbitrary shell-execution / path traversal attack waiting to happen"
EDIT: This is not a vulnerability right now, but it is a potential one.

While fixing #16969 we noticed that NsenterWriter has the potential for arbitrary shell-execution if a caller doesn't validate their paths.  We need to ensure that is impossible by invoking `filepath.Clean` on the passed input, and then using `%q` to verify that the shell we generate cannot be escaped.  However, we may need t

[2015-11-07 17:29] smarterclayton commented on #16971
A quick review indicated this is the only potential spot for this in the codebase right now but that could change.

[2015-11-07 17:33] pmorie commented on #2630
@antoineco Are you using an emptyDir for that volume?  I think I will create an issue to change the behavior so that emptyDirs are `chmod a-rwx` if `FSGroup` is specified.

[2015-11-07 17:39] ihmccreery commented on #16961
[Our upgrades policy](https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md#upgrades) is somewhat ambiguous, but more or less suggests that the master version, (of which the scheduler is a part,) should be ahead of the Kubelet versions at all times.  I'd like to suggest that we make it clearer that masters should always be ahead of Kubelets, and close this issue as unsuppo

[2015-11-07 17:39] ihmccreery commented on #16961
cc @quinton-hoole @mikedanese

[2015-11-07 17:40] mingfang commented on #13424
I have been running the Master and Nodes inside Docker for many months now.
Instructions can be found here https://github.com/mingfang/diy-kubernetes
Note it has the same volume mounting limitations.

[2015-11-07 17:43] antoineco commented on #2630
Yes, it's an emptyDir volume.

[2015-11-07 17:52] luxas commented on #13424
@mingfang Yeah, me too. On Raspberry Pi 2s. My project is here: https://github.com/luxas/kubernetes-on-arm
But it would be great to be able to use `secrets`, `volumes` and `serviceAccounts` too.
Because of that, we are trying to solve these problems: #16965. #13791 already fixed `volumes`

[2015-11-07 18:11] pmorie commented on #2630
@antoineco Okay, I am packing for a trip next week today, but I will make an issue for this and tag you into it.  Do the semantics I mentioned work for you?

[2015-11-07 18:29] antoineco commented on #2630
(Did I hear "KubeCon“? 😄)
What you suggested would work, but you probably meant **o**-rwx, which would set the mode and owner as follows: `0770   root : FSGroup`. Or did I get everything wrong?

[2015-11-07 19:08] luxas commented on #16965
@dalanlan @fgrzadkowski @resouer @pmorie I got this working! :smile:

I've been searching for this problem today and now I've found the solution.
First off, this hadn't been possible without: #13791

The problem was the `controller-manager`, because it includes the **serviceaccounts controller**
It didn't know about the self-signed certs, so it didn't inject the serviceaccount secret volumes to ev

[2015-11-07 19:13] pmorie commented on #16965
Glad to hear you got is working @luxas.  This is going to get a lot easier once the mount propagation control lands in docker.  Right now we have to do some hacks using nsenter to mount and write data into the host's mount namespace when the kubelet is containerized so that the volumes are visible to other containers.  That's the issue you were running into, but as you say, #13791 solves this by n

[2015-11-07 19:33] pmorie commented on #2630
@antoineco You did :)

I think it articulated things the wrong way -- what I meant was that emptyDir should be `0770 root:fsgroup g+s`.

[2015-11-07 19:54] mikedanese opened #16973 "kubectl is printing pods twice"
First time it prints all pods, it's not formatting either:

[code]
@kubernetes/kubectl

[2015-11-07 20:26] liggitt opened #16974 "service.ResourceLocation should match port numbers against service port declarations"
https://github.com/kubernetes/kubernetes/pull/15845 added port number lookup to service resourcelocation, but is not matching the port number against the service ports.

example service declaration (excerpt of e2e proxy test):
[code]

example pod declaration:
[code]

ResourceLocation of service `proxy-service:80` should route to service port 80 -> target port "dest1" -> pod port 160

[2015-11-07 20:28] liggitt commented on #16974
cc @ddysher @thockin

[2015-11-07 20:48] pmorie commented on #13424
@mingfang You need to use `--containerized` when running kubelet in container -- see `local-up-cluster.sh`

[2015-11-07 21:30] cdpb commented on #16906
Found the error, it's more a docker registry bug/feature.

If the service name is equal to the pod name ( registry ) it will fail because there is a environment variable that disturbed docker registry.

[2015-11-07 21:30] #16906 closed

[2015-11-07 21:49] smarterclayton opened #16976 "API server should return Date header?"
To allow clients to at least understand the time frame the master operates in.  Also, infrastructure clients pushing updates that include dates should also include a Date header on their writes.  Client clocks (regular users) are often unsynchronized, and it's hard to present meaningful dates when the client diverges by minutes from the server.

[2015-11-07 21:57] eknkc opened #16977 "Rolling update without any changes"
Is it possible to invoke a rolling update for image but without changing the image?
I mean, say I have a rc with image `foo:latest`. After pushing a new `latest` tag, how would one update the rc? I currently push a new tag each time but it would be great if we could just "rolling restart" kind of operation. Is it possible now?

[2015-11-07 22:05] hongchaodeng commented on #16871
It's definitely a good thing to react on node status update based on watch/notify mechanism.

I was having difficulty on the monolithic logic of [nodecontroller#monitorNodeStatus](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L349-L466). I guessed it was doing some diff and should changed to react to watch updates. The logic, however, wasn't clear to me

[2015-11-07 23:04] pmorie commented on #16965
@dalanlan Check out `local-up-cluster.sh` -- you need to use `--containerized` and some specific bind-mounts for kubelet to function properly in a container.

[2015-11-08 01:26] dalanlan commented on #16965
@pmorie I did. The upstart params for containerized kubelet i used are listed following
[code]

[2015-11-08 01:33] dalanlan commented on #16965
I had done several experiments w/ `--service-account-private-key-file` & `--root-ca-file` filled for controller manager months ago, and it should work indeed. Yet i expect secrets should be generated automatically (at least it does on bare-metal ubuntu now) w/o passing these flags (correct me if i'm wrong). Maybe that's another issue with controller manager.

[2015-11-08 01:56] mingfang commented on #13424
@pmorie I tried ```--containerized``` but since secrets still does not work using it in v1.1.1-beta.1, I'm not sure what other benefits would it give me.
Also when using ```--containerized```, running this command ```nsenter --mount=/rootfs/proc/1/ns/mnt -- /bin/findmnt --target /var/lib/kubelet ``` always returns nothing.
Is there a trick to get ```--containerized``` to work?

[2015-11-08 01:58] dalanlan commented on #13424
@mingfang  Pull from HEAD and give it a try

[2015-11-08 02:05] bprashanth commented on #13117
strikes again: https://app.shippable.com/builds/563ea08e722b480e00af3645

[code]

[2015-11-08 02:12] pmorie commented on #15524
@saad-ali Do you mean this to apply to persistent volumes only?  Ie, if I use a raw aws ebs volume, do I get this treatment?

[2015-11-08 03:51] ntquyen commented on #16022
@zmerlynn and @markturansky  I know that using `HostPath` and local persistent storage will limit the power of Kubernetes and have considered to switch to other volume plugin. But I also concern about the performance of network storage like ISCSI or GCEPersistentStorage, are they recommended to be used for database engine like rethinkdb, which requires high IOPS?

Besides, I'm using self-hosted Co

[2015-11-08 05:01] xiang90 commented on #13117
@bprashanth I think we have fixed them in master. We will backport the fix next week.

[2015-11-08 05:09] bgrant0607 commented on #16732
apiVersion cannot be removed.

[2015-11-08 05:09] thockin commented on #15858
+1, I can't really find much in the way of concise docs on jsonpath, and I am wrestling to do with it what I know how to do in go-template, and I don't even know go-template very well.

[2015-11-08 05:12] bgrant0607 commented on #16732
In particular, kinds can be renamed across api versions (e.g., minion to node), so the version is necessary.

[2015-11-08 05:13] thockin opened #16981 "jsonpath docs are non-existent, struggling to make equivs of go-template"
[code]

How do I do this in jsonpath?  The closest I can get is:

[code]
...which isn't even close.

[2015-11-08 05:52] brendandburns opened #16982 "Nodes test needs to wait for kube-system pods to be running and ready, not just test pods"
The Nodes test adds and deletes nodes.  This obviously causes re-scheduling events to occur across the cluster.

The nodes test verifies that the pods that it created are successfully ready and running, but it does not attempt to validate that pods in the `kube-system` namespace are ready and running.  In general, it should take a census of all pods running prior to resize, and validate that the s

[2015-11-08 06:02] pmorie commented on #13424
@mingfang Did you bind-mount `/proc` on the host to `/rootfs/proc` in the kubelet container?

[2015-11-08 06:20] mingfang commented on #13424
@pmorie I think so.  This is the relevant parts of run script,
[code]

[2015-11-08 06:36] pmorie commented on #13424
@mingfang Could you run the secrets e2e against the containerized kubelet and post the kubelet log from that run?  That will help us debug.

[2015-11-08 06:42] pmorie commented on #15524
@saad-ali If we only mean this to apply to PVs, the mount controller can annotate the PV and the kubelet can watch those annotations.  That might be better than adding an API to the kubelet.

[2015-11-08 06:47] bprashanth opened #16985 "GCE client flakes on oauth"
The GCE client flakes on oauth from time to time with:

[code]

Which is weird, because the client should really refresh the token transparently, and the "Not on GCE" message looks suspicious. The controller creates the client in pretty much the same way the Kubernetes cloudprovider module does (https://github.com/kubernetes/contrib/blob/master/Ingress/controllers/gce/cluster_manager.go#L147), so

[2015-11-08 06:50] bprashanth commented on #16985
kubernetes-e2e-gce-disruptive-1.1 # 101 L7 test for example failure

[2015-11-08 06:57] mingfang commented on #13424
@pmorie Sorry I don't know how to run these tests.
Here is more info that I hope is helpful.

Host
[code]
findmnt from host
[code]
Inside kubelet
[code]
Test secret(relevant parts only)
[code]
RC using test secret
[code]
This is the kind of errors I'm seeing in /var/log/kubelet
[code]

Please let me know if I can provide anymore information.

[2015-11-08 07:02] bprashanth commented on #16985
@kubernetes/goog-gke in case anyone knows of a recent fix I should rev the godep in contrib to pick up

[2015-11-08 07:02] a-robinson commented on #16985
For what it's worth, I believe that's the error message the google api client gives when it can't reach the local metadata server to get an access token.

[2015-11-08 07:04] a-robinson commented on #16985
So the problem is flakiness hitting the metadata server, either due to the DNS lookup for metadata.google.internal or due to the metadata server itself. Both of which suggest an issue with either GCE itself or with node networking.

[2015-11-08 07:05] a-robinson commented on #16985
I'm not aware of any recent fixes, but these are the relevant chunks of the client:
https://github.com/golang/oauth2/blob/master/google/google.go#L118
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/compute/metadata/metadata.go#L155

[2015-11-08 07:07] bprashanth commented on #16985
Hmm, I feel like retrying should fix connectivity flakes (which I believe the controller does, but perhaps I'm dropping it).

[2015-11-08 07:09] bprashanth commented on #16985
https://github.com/kubernetes/kubernetes/pull/16979 will help clear confusion around retries

[2015-11-08 07:28] dalanlan commented on #13424
@mingfang  Ref https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#end-to-end-tests on how to run e2e tests.

[2015-11-08 07:31] dalanlan commented on #16965
@pmorie  Could you clarify this for me? Is it expected that w/ [these configuration](https://github.com/kubernetes/kubernetes/issues/16965#issuecomment-154769226), secrets would be generated automatically (just as directly run on bare-metal ubuntu) or not?

[2015-11-08 07:38] dalanlan commented on #16965
Oh, guess what... I could labour a delusion of this whole thing. There is no way SA controller would generate secrets automatically.
Closing it. And sorry for the chaos.

[2015-11-08 07:48] dalanlan commented on #13424
It could be a little messy, yet i have reason to believe that containerized kubelet works with secrets now (at least from HEAD, not sure about specific release, cherry-pick thing).

Secrets would not be generated automatically until you enable flags for controller-manager and api-server (`--admission-control`).

Feel free to ref @luxas's work specified [#16965(comment)](https://github.com/kubernet

[2015-11-08 08:15] #16838 closed

[2015-11-08 08:45] luxas commented on #16965
@dalanlan Should we open a new issue for enabling secret functionality by default in hyperkube?

IMO, `secrets` and `serviceAccounts` are quite a big part of k8s, and the `k8s-in-docker` setup will suffer a lot if these aren't default.

[2015-11-08 08:49] luxas commented on #13424
@dalanlan @mingfang `git describe --contains 7fe34f205020874885a1063f471ede4a5bee3176` returns `v1.2.0-alpha.1~204^2`, so at least in `v1.2.0` #13791 is included (and HEAD, of course)

TL;DR https://github.com/kubernetes/kubernetes/issues/16965#issuecomment-154740451
 - apiserver `--admission-control=ServiceAccount` is required for `/var/run/secrets` in containers.
 - #13791 needs to be merged for

[2015-11-08 09:30] resouer commented on #9808
@roberthbailey I think we can close this issue, as 1) it is actually a combination of a batch of beginner's problem, 2) the author is not playing with it recently 3) we can not do anything to improve it, because it is not a specific problem.

Please feel free to fire up new issue when you back to this work and encountered specific problem @mpilant

[2015-11-08 10:15] #16686 closed

[2015-11-08 10:40] dalanlan opened #16987 "enable automatic generation of service account tokens in hyperkube"
Copied from [#16965(comment)](https://github.com/kubernetes/kubernetes/issues/16965#issuecomment-154789717)

It did bother a lot (ref #13424) w/o secrets being generated automatically. If no one goes against it, i could send a pr for this.
/cc @luxas

[2015-11-08 11:26] luxas commented on #16987
@dalanlan Yes, I think we should try at least.

If we do this, we have to discuss which alternative should be default.
I lean towards `emptyDir` as default and then some instructions how to customize it.
That is the easiest solution and fixes the problem without adding more complexity.

Who knows about which `--admission-control` options should be passed?
It defaults to `AlwaysAdmit`, so one optio

[2015-11-08 11:42] dalanlan commented on #16987
Speaking of `admission control', i believe it would be just fine to follow 'local-up-cluster.sh' w/ `--admission-control=NamespaceLifecycle,SecurityContextDeny,LimitRanger,ServiceAccount,ResourceQuota`, (deprecate `NamespaceAutoProvision` in favor of `NamespaceLifecycle` though)

[2015-11-08 11:51] dalanlan commented on #16987
OTOH, using emptyDir w/ self-signed key file would be an easy solution. Yet there could be race condition in some way.
Since we cannot guarantee the upstart order of the container within a pod, this could happen: when `controller-manager` loads the required key-file, `api-server` has not well prepared by that time.
This doesn't happen a lot ('cause in most cases, container[0] would be raised befor

[2015-11-08 12:58] dalanlan commented on #14403
#16563 explains this at a high level

[2015-11-08 13:20] markturansky commented on #15524
@pmorie the requirement to attach volumes exists for regular volumes and PV usage.  The controller will need to do both.  Regular volumes in pods are probably easier.  No need to look up what backs the persistent-volume plugin.

[2015-11-08 13:27] luxas commented on #16987
Yes, that race condition is unusual, but unfortunately possible.
What happens if the certs doesn't exist when `controller-manager` starts?
Does it fail or does it try again later?

Should I switch the position of `controller-manager` (currently container[0]) and `apiserver`?
I'll update the `--admission-control`

[2015-11-08 14:09] pmorie commented on #15524
@markturansky What I'm asking is whether volumes not wrapped in a PV also get this treatment.

@saad-ali Also, which volume types get this treatment?  System-generated volumes like secrets, emptyDir, and downward API don't need it (afaict).  How do we distinguish the two classes of volumes?  Is it an attribute, like the ones discussed in #16614 ?  cc @vishh

[2015-11-08 14:13] kargakis commented on #14521
@bgrant0607 this is fixed in https://github.com/kubernetes/kubernetes/pull/15809

[2015-11-08 14:17] markturansky commented on #15524
@pmorie I understand.  I'm saying this should also apply to volumes not wrapped in a PV.

[2015-11-08 14:18] stevesloka commented on #15852
This was merged in #15946 and can be closed.

[2015-11-08 14:27] kargakis commented on #15692
@derekwaynecarr I remember I could run quick-release w/o a problem.

I updated both vagrant and virtualbox since to 1.7.4 and 5.0.8 respectively and can run on latest master w/o any problem.

[2015-11-08 14:50] markturansky commented on #15524
@pmorie Clarification, this applies, I believe, to volumes that require attaching and that applies regardless of whether that volume is within a PV or not.

[2015-11-08 15:08] Galexrt opened #16988 "CentOS7.1 Kubelet causes OOM"
### Info
* Server is a VM
    * CPU: 2 vCores
    * RAM: 6GB
* OS: `CentOS Linux release 7.1.1503 (Core)`
* Kernel: `Linux node1 4.3.0-1.el7.elrepo.x86_64 #1 SMP Tue Nov 3 20:15:39 EST 2015 x86_64 x86_64 x86_64 GNU/Linux` and the "default" installed `3.10 229` kernel
* Kubernetes version
    * `v1.0.3` runs as expected, no OOMs.
    * `v1.0.7` and `v1.1.1-beta.1` cause OOMs.
* etcd version: `2.2.1

[2015-11-08 15:09] mingfang commented on #13424
How important is setting ```--resource-container=""```? ref https://github.com/kubernetes/kubernetes/issues/12386

[2015-11-08 15:33] tom-haines commented on #10906
I resolved the issue under vmware_fusion by leaving the default SSH insecure vagrant keys in place while building the middle box solution that @dguerri suggested.

    mkdir kubertemp && cd kubertemp
    vagrant init kube-fedora20

    # add config.ssh.insert_key = false into Vagrantfile

    vagrant up

    vagrant ssh -- sudo rm -f /etc/udev/rules.d/70-persistent-net.rules
    vagrant ssh -- sud

[2015-11-08 15:40] pmorie commented on #15524
@markturansky @saad-ali I'm having bad luck w/ GH on the road today...

Seems like this implies that we would annotate both pods and PVs -- let's have all the mechanics spelled out in the design proposal.

I am pretty stoked about this, looking forward to seeing more :)

[2015-11-08 15:52] babusatasiya commented on #16652
Thank you for updates.
1. I like the idea of admission control, I hear you one can write a wrapper to make a API call and if there is a number of Pending pods, before executing kubectl to add more pods. But that would not be clean solution, scheduler has almost all details in terms of cluster capacity and it can turn RED TRAFFIC LINE. When there is a no room for more POD to be added to the cluster

[2015-11-08 16:00] mingfang commented on #13424
In the kubelet logs I'm seeing these messages
```docker.go:369] Docker Container: /sharp_hodgkin is not managed by kubelet.``
In this case, ```/sharp_hodgkin``` is the name of the kubelet container itself.
[code]
There are no apparent adverse effects other than populating the logs though.

[2015-11-08 16:31] pmorie commented on #13424
@mingfang That shouldn't be a problem.

[2015-11-08 16:36] luxas commented on #13424
@mingfang Do you have `--v=3`?
Decrementing the log level makes you get rid of the msgs.
But, as @pmorie say, no problem.

[2015-11-08 16:46] pmorie commented on #16987
This is really about enabling automatic generation of service account tokens, right?

[2015-11-08 16:51] pmorie commented on #16971
Touchpoint: containerized exec #13691

Also, if we have to support containerizing the kubelet on pre-1.10, we will need to keep this around :-/

@smarterclayton, do you think that will be a need?

[2015-11-08 16:59] arun-gupta opened #16989 "Add docs to setup Couchbase cluster on Kubernetes"
This would be a great addition to http://kubernetes.io/v1.0/deploy-clusters.html.

Am happy to take ownership of this bug and will send a PR. Can somebody assign it to me?

[2015-11-08 17:12] pmorie commented on #16863
Afaik the format requirements of env var names are implementation dependent and the C_IDENTIFIER format is the lowest common denominator.  There are a ton of ways to externalize configs for spring - can you use a properties file as a work around instead of environment variables?  It does look to me like spring's `SystemEnvironmentPropertyLoader` only attempts to resolve `.` to `_` in var names (ht

[2015-11-08 17:13] luxas commented on #16987
@pmorie Yes. For containerized kubelet.
1. So serviceAccounts that are created gets a `secret` associated with it. Especially `default`
2. So `apiserver` tells `kubelet` to mount the `/var/run/secrets/kubernetes.io` that containers use.

Do you have any thoughs about the race condition?
See the file above.

[2015-11-08 17:13] pmorie commented on #16845
@timothysc

[2015-11-08 17:17] pmorie commented on #16779
@mikedanese @justinsb actually, this is possible - you need to remove the `ServiceAccount` admission controller from your cluster.  I don't think there's an easy way to do this selectively, though. @liggitt?

[2015-11-08 17:37] mingfang commented on #13424
@luxas @pmorie Yes my log level was ```--v=5``` because I was trying to debug the volume mounting issues.  I can confirm that there are no more printouts with ```--v=2```.  Thanks for  confirming that this is a non-issue.

[2015-11-08 17:38] pmorie commented on #16627
OT: the title of this issue made me lol

[2015-11-08 17:42] liggitt commented on #16779
Removing the service account admission controller from the list will keep pods from being automatically given an API token.

If you remove the service account private key arg when starting the controller manager, no tokens will be created at all.

As you say, enabling authorization is really the right fix. Starting with authorization mode AllowAll is not something a security conscious cluster shou

[2015-11-08 18:05] arun-gupta opened #16990 "Kubernetes using Docker instruction needs to be updated"
http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html uses boot2docker and instead should use Docker Machine and Compose. A sample Docker Compose file is available at:

https://github.com/arun-gupta/docker-images/blob/master/kubernetes/docker-compose.yml

[2015-11-08 21:04] #14521 closed

[2015-11-08 22:50] shettyg commented on #13375
I connect my pod interface to a Open vSwitch bridge. Since this code does not find a peer interface on a linux bridge, it just enabled hairpin mode in every linux bridge on my host. This completely breaks my host where I do not want hair pin mode enabled. It took me a good 2 days to figure out why things break in my setup. This feels like a very bad way to solve problems.

[2015-11-08 23:50] rroopreddy commented on #13382
Seeing same issue once in couple of days; running Kubernetes 1.0.7 on AWS

$ ./cluster/kubectl.sh get pods -o wide
error: couldn't read version from server: Get https://<kuber_master_ip_address>/api: net/http: TLS handshake timeout

After this error, I can not even SSH into kube_master as if all the processes are killed. Have to restart the cluster from scratch

[2015-11-09 00:34] bprashanth commented on #16985
This should only happen when this test runs right after the reboot test. It's a race of resolving the metadataserver and the loadbalancer pod creating the client. The easiest solution does seems to be a liveness probe that wacks the pod, though really I just want control over the client so I can recerte it at will (I mean, just do this again: https://github.com/kubernetes/kubernetes/pull/14574).

[2015-11-09 00:34] MikaelCluseau commented on #13375
@shettyg Thank for the feedback. This fallback is considered the safest, since it logs the switch to fallback mode at the info level, but this can change. The simplest "fix" is probably to provide an option.

@thockin Should we (1) include an option to disable the fallback, (2) another one to disable hairpin mode completely? (3) Try to detect if the container's interface is a veth? I think (1) is

[2015-11-09 00:42] paralin commented on #13382
@rroopreddy Your master ran out of memory. Force reboot it via your cluster.

On the master, after it comes back up:

[code]

This will automatically scale swap so that you never run out of memory and deadlock yourself out.

[2015-11-09 00:49] paralin commented on #16989
I'd also be interested in this, if you'd like I can work with you to test / debug / write the example.

[2015-11-09 01:01] rroopreddy commented on #13382
@paralin, I could not ssh into master and hence had to reboot through AWS console. Processes seem to have not started after AWS console restart. Are separate scripts for cube master and minions to inject these commands so that it is done automatically with "cube_up.sh" command, thanks

[2015-11-09 01:36] paralin opened #16994 "Kubectl seems to be printing everything twice"
With the latest commit HEAD (id c095e35f1be197b2ba88f869bf39a7313494da6b)

It seems that kubectl is printing out everything twice, once without formatting, once with:

[code]

Any reason why this would be happening?

[2015-11-09 01:42] paralin commented on #16994
Happening on the server as well.

[2015-11-09 01:43] dalanlan commented on #16987
Does it fail or does it try again later?

My guess is that it will fail. Or we won't have #12588 then.

That won't make a guarantee unfortunately, since kubelet does not ensure the upstart order of the containers within a pod itself.

[2015-11-09 02:03] paralin commented on #16994
Duplicate #16973

[2015-11-09 02:03] #16994 closed

[2015-11-09 02:03] paralin commented on #16973
Also seeing this.

[2015-11-09 02:31] mikedanese commented on #16967
cc @davidopp

[2015-11-09 02:33] mikedanese commented on #16946
Can you open this issue in the kube-ui repo? https://github.com/kubernetes/kube-ui

[2015-11-09 02:33] #16946 closed

[2015-11-09 02:41] dalanlan commented on #16987
Given a second thought, i bet it won't be easy for this currently.
We cannot use a `hostPath` in the building process anyway, and `emptyDir` is not a good choice. I'm going to close it, unless you guys think otherwise :-)

[2015-11-09 02:41] davidopp commented on #16967
Which Kubernetes release are you running, or are you running from HEAD?

[2015-11-09 02:44] mikedanese commented on #16967
This is on HEAD and in 1.1. I thought this was by design.

[2015-11-09 02:46] mikedanese commented on #16967
Daemon controller bypasses the scheduler by directly writing nodeName and doesn't care whether the node is unschedulable.

[2015-11-09 02:49] mqliang opened #16995 "`kube::util::sortable_date': not a valid identifier"
I run `./update-generated-conversions.sh` on my mac, using zsh, and get such an error:
[code]
detailed information is as follows:

[code]

I an not sure it's a bug or I miss some prerequisites before my running this script.

[2015-11-09 02:50] davidopp commented on #16967
Looks like we forgot that Kubelet will reject the Pod if it doesn't meet the predicate checks.

[2015-11-09 02:52] davidopp commented on #16967
(The ones that are built into Kubelet).

[2015-11-09 02:52] mikedanese commented on #16967
Yet another reason to fold daemonsetcontroller into nodecontroller.

[2015-11-09 02:56] davidopp commented on #16967
I don't think that will help -- Kubelet will still do a feasibility check. The Huawei folks offered to implement library with the predicates shared between Kubelet and schedulers; we should use that when scheduling daemons and anything else that writes NodeName directly.

[2015-11-09 03:40] ZhuPeng opened #16996 "master::setDefaults: when PublicAddress get error, `continue` should after the `Sleep` func to assure try again in 5 seconds"
I was just beginning to read the Kubernetes source code. In the package of `Master`, I think this code will raise some error in `setDefaults` method, `continue` should execute after `Sleep` function.
[code]

[2015-11-09 04:00] paralin commented on #16967
@davidopp HEAD, to confirm.

[2015-11-09 04:01] paralin commented on #16996
You can just add the line and send  PR. I'm sure it would be accepted.

[2015-11-09 04:03] davidopp commented on #12744
We should also use this when scheduling DaemonSet, to prevent the problem reported in #16967

[2015-11-09 04:04] paralin commented on #13382
@rroopreddy I would just manually install it for now as it's kind of a temporary fix before a new release with the OOM fixes are cut. Just SSH in when the server is working and install the package.

If you want to customize the boot process on AWS edit

[code]

The shell scripts in there are combined to form the boot script.

[2015-11-09 04:19] roberthbailey commented on #9808
Sounds good to me. @mpilant please re-open (or create a new issue) if you disagree.

[2015-11-09 04:19] #9808 closed

[2015-11-09 04:20] davidopp commented on #12744
@HaiyangDING @hurf

[2015-11-09 04:21] resouer commented on #14484
What's the difference between spreading pods of the same RC at best effort VS mixing pods of different RC at best effort?

What i can see here is actually we just want to tuning the original `CalculateSpreadPriority`

@thockin @davidopp

[2015-11-09 04:41] arun-gupta commented on #16989
@paralin excellent, sounds good.

I'm busy at Devoxx this week but will share my outline early next week.

[2015-11-09 05:52] HaiyangDING commented on #12744
Noted.

[2015-11-09 05:52] luxas commented on #16987
@dalanlan Can you give it a little more time? This would be really great to have.
I got this while starting the pod.
[code]

This sounds like the race condition, but `kubelet` solves this by restarting some secs later.
Is this true? Will check the source.

[2015-11-09 06:11] luxas commented on #16987
That event happens twice, 0.2 s between events:
[code]

However, `controller-manager` works fine after that.

[2015-11-09 06:31] dalanlan commented on #16987
That could be possible since `kubelet` changes its way to sync pods with time. We'd better be cautious.

@yujuhong Could you kindly clarify this? Say we have a static pod, within which containers A (`controller manager)` is expected to use a file as its upstart flag that is generated by container B(`apiserver`) via `emptyDir`. What would happen when there is a [race condition](https://github.com/k

[2015-11-09 06:39] janetkuo opened #16998 "Clean up copies of individual resources in examples/guestbook"
Follow-up #14256. See https://github.com/kubernetes/kubernetes/pull/14256#issuecomment-154583601

cc @linzichang @bgrant0607

[2015-11-09 06:50] #16996 closed

[2015-11-09 06:51] resouer commented on #8841
@tmandry So the expected way is when tag is `:latest` or `null` then policy is always?

[2015-11-09 06:55] johanhaleby commented on #16863
Thanks for your reply.

While I could do it I don't think it would be optimal for us (please correct me if I'm wrong). We're using continuous delivery and we build one image (containing the spring uberjar for example) but we deploy this image to multiple environments with different configurations. We are currently specifying the configuration in environment variables being read from by Spring. We

[2015-11-09 07:12] paralin opened #17000 "RollingUpdate fails when no pods are scheduled with percentage based limits"
See https://github.com/openshift/origin/issues/5787

This is due to rollingUpdate requiring maxSurge or maxUnavailable as seen here:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rolling_updater.go#L213

Despite my dc having this:

[code]

I think the solution is to just set one of the two to 1 if 25% * pod count = 0. It's a bit difficult to code though, as you would have to tr

[2015-11-09 07:27] brendandburns opened #17001 "Track GCE reboot and readiness in reboot tests"
We should add testing that validates that a node is SSH-able before we wait for it to go ready.

This is mostly so that we can get visibility into what went wrong, when things go wrong.

[2015-11-09 07:40] thockin commented on #16863
I'm a little surprised that env vars are allowed to be non-C-identifiers,
but POSIX does actually allow it.  It's completely incompatible with
shells, but I guess it is allowed.  I've never ever EVER seen that in 20+
years of futzing with UNIXes.

We should fix it, but document it carefully.

On Sun, Nov 8, 2015 at 10:55 PM, Johan Haleby <notifications@github.com>
wrote:

[2015-11-09 07:56] rafael commented on #8190
:+1 for using Kong. I've been using it myself with Kubernetes and they integrate pretty nicely.

[2015-11-09 07:57] MikeSpreitzer commented on #9288
Looking at the current code, it looks like the original proposal has been implemented.  And I have experimentally verified this.  To be clear, I am using the userspace proxy.

[2015-11-09 08:13] kevin-wangzefeng commented on #14484
What do you mean "mixing pods of different RC at best effort"?

[2015-11-09 08:15] #16973 closed

[2015-11-09 09:07] kevin-wangzefeng commented on #14484
In our scenario, when deploying a multi-layer application, the user want to place the pods of different layers together(on the same node or in the same AZ), to share the electricity, networking, etc.

[2015-11-09 10:48] levackt commented on #15692
@kargakis confirmed, thanks

[2015-11-09 10:55] kargakis commented on #17000
I think this works as expected since we support only symmetric updates for the time being.

cc: @ironcladlou

[2015-11-09 11:56] #16797 closed

[2015-11-09 12:50] johanhaleby opened #17010 "Create a test for kubectl rolling-update --rollback"
I'm using GKE and Kubernetes 1.0.6 and I read in the [docs](https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/design/simple-rolling-update.md#aborting-a-rollout) that you should be able to rollback a release like this:

[code]

However I don't get this to work. I'm initializing a rolling-update like this:

[code]

I deliberately abort the update (ctrl+c) when I see that app-v2 is bein

[2015-11-09 14:05] #16091 closed

[2015-11-09 14:14] wojtek-t commented on #15349
A bunch of things on the above list are unrelated (e.g. pkg/controller/replication/replication_controller_test.go is using non-etcd related FakeClient).

When looking into the code now, it seems that there are 3 things to be done:
- [ ] contrib/mesos/pkg/election/etcd_master_test.go
- [ ] pkg/master/master_test.go
- [ ] pkg/registry/*/etcd/etcd_test.go (and all of them are exactly the same thing,

[2015-11-09 14:59] yghannam opened #17012 "Build on arm64/aarch64"
Support building on arm64/aarch64 hosts. The biggest part of this is to update the Godeps to support building on arm64.

Here is a branch based on v1.2.0-alpha.2, and that builds and passes make check and make test_integration tests.
https://github.com/yghannam/kubernetes/tree/v1.2.0-alpha.2-arm64

Here is a branch that is tracking kubernetes:master.
https://github.com/yghannam/kubernetes/tree/aar

[2015-11-09 15:12] MikeSpreitzer opened #17013 "cluster/ubuntu/util.sh vs. multiple NICs"
Issue #9288 seems to have been addressed, at least for the userspace proxy, in the proxy code.  However, the script for creating a cluster on Ubuntu does not take advantage of this.  I have a cluster where each node has multiple NICs, and the default route is *not* through the NIC that: the flannel network should be constructed upon, the API server should use in its advertised URL, and to which ku

[2015-11-09 15:14] MikeSpreitzer opened #17014 "cluster/ubuntu/util.sh has dquoted strings with un-escaped internal dquotes"
For example, in provision-node, there is a big multi-line string being passed to `ssh` but it has un-escaped internal quotes --- for example, around `${MASTER_IP}`.

[2015-11-09 15:24] slimshady986 opened #17015 "MESOS: issue with data transfer using Kubernetes service endpoint"
Hello,
I wanted to test the throughput of k8s service endpoint on my 3 nodes cluster. So I have settled up a kubernetes service:

[code]

I go into the docker and I use a simple netcat process listening on the port 7000 (nc -l -p 7000)
on another of my slaves, I send some data:
dd if=/dev/urandom bs=1024 count=100 | pv | nc server_ip 7000

Everything works fine, when the amount of data is small. b

[2015-11-09 15:29] deads2k opened #17016 "jsonpath evaluation can panic"
Using `-o jsonpath` against an index that doesn't exist panics.

[code]

[2015-11-09 15:49] #16477 closed

[2015-11-09 16:26] timothysc commented on #15349
@wojtek-t I'm working on 'pkg/registry/*/etcd/etcd_test.go'

[2015-11-09 16:37] timothysc commented on #16845
This touches on a number of other issues as well.  1st and foremost, is multiple schedulers.

/cc @kubernetes/sig-scalability

imho , we should probably move to consolidate around a couple of main epics.

[2015-11-09 16:42] ncdc opened #17018 "Flaky: k8s.io/kubernetes/pkg/controller/framework_test.TestUpdate"
[code]

I got this by running the following against commit d65c61f:

[code]

There have been previous attempts to fix this:

- #13058
- #14881

It appears it's still an issue :cry:

We're also seeing it in OpenShift (https://github.com/openshift/origin/issues/5389), although our code hasn't pulled in the fix from #14881 quite yet.

[2015-11-09 17:01] justingrayston opened #17019 "Running Kubernetes via docker with DNS set up issues."
I am opening this issue off of the back of #12534 and http://stackoverflow.com/questions/33255676/configure-kube-dns-when-running-kubernetes-via-docker

I am trying to get a simple set up via docker for devs to be able to develop locally with kubernetes running in docker. https://github.com/justingrayston/kubernetes-docker-dns

The docker.md got me up and running quite quickly, and I was able to g

[2015-11-09 17:33] yujuhong commented on #16987
@dalanlan, if a container failed to start, kubelet would set a exponential backoff timer for the specific container. The container would only be restarted again when the backoff period is met (e.g, in this case, it's 10 second). Before the backoff period expires, if kubelet tries to sync the pod, it would discover that the requirement is not met, records an event (as seen in https://github.com/kub

[2015-11-09 17:39] yujuhong commented on #16627
I'm glad that it provided some entertainment value, even though no definite conclusions could be drawn from the discussions yet ;)

[2015-11-09 18:12] mikedanese opened #17021 "Deployment should give created RCs a similar name"
Right now a deployment named `kube-app` creates an rc of name `deploymentrc-{some generated string}`.

The name of the RC should be `kube-app-{some generated string}`.

ref #15313

cc @nikhiljindal @bgrant0607

[2015-11-09 18:34] kargakis opened #17022 "Should CreateTwoWayMergePatch return any bytes in case of no diff?"
I was playing around with patching and stumbled upon CreateTwoWayMergePatch always returning a diff. I created a unit test verifying that:
[code]
[code]
Is this expected? Should CreateTwoWayMergePatch return any bytes in case of no diff between original and modified content?

@jackgr

[2015-11-09 18:40] kargakis opened #17023 "Internal deployment .spec.replicas is not optional"
https://github.com/kubernetes/kubernetes/blob/d65c61f15a633ef682b34a0b768461695410d7fa/pkg/apis/extensions/types.go#L202

aka it's not a pointer as the respective v1beta1 field.

Is this known? Is this an issue at all? @bgrant0607 @nikhiljindal

[2015-11-09 18:46] kargakis commented on #4251
What this issue suggests is unfortunately impossible to happen due to the ratio things get into master.

[2015-11-09 18:46] #4251 closed

[2015-11-09 18:47] jackgr commented on #17022
Yes, it returns an empty patch, which if applied to the original, yields
the same thing. That is the correct and intended behavior. See, for
example, the test cases that expect an empty patch.

On Monday, November 9, 2015, Michail Kargakis <notifications@github.com>
wrote:

--
Jack Greenfield | Google

[2015-11-09 18:51] kargakis commented on #17022
Thanks, closing this.

[2015-11-09 18:51] #17022 closed

[2015-11-09 19:11] jlowdermilk commented on #14751
ref #16874

[2015-11-09 19:11] #14751 closed

[2015-11-09 20:00] zmerlynn opened #17027 "RFC: Where to put official Kubernetes packages / templates / etc.?"
We're starting work on building more baked, fully formed sets of resources and images running on Kubernetes (see #16517, which is still very much in pre-alpha, but defines an epoch to get Spark to a respectable place). Right now, we (the Kubernetes team) have been checking the pieces for this into the `examples/` directory into the main https://github.com/kubernetes/kubernetes repo. That's startin

[2015-11-09 20:11] #17016 closed

[2015-11-09 20:12] esecules commented on #16454
alright, it seems like all you need to do is change the version number in all the ExecStartPre download steps. but this still should be dealt with.

[2015-11-09 20:14] bparees commented on #17027
I like the idea of moving them out of the k8s repository.  In openshift we've taken the approach of creating standalone repositories for fully baked examples of things.  That way they can live and evolve on their own.  The downside is that it's harder to include them in tests to ensure they don't bit-rot.

Here are a couple of them in case you want to see what they look like:
https://github.com/op

[2015-11-09 20:17] zmerlynn commented on #17027
Yeah, I was considering the "repo per package" approach as well, and I can't tell if it's worthwhile to go that file-grained or not. It certainly makes sense from an issue-subscription point-of-view, and means that a package contributor only has to subscribe to part of the firehose (which is a huge advantage), but it makes the top-level repo that much more balkanized. I guess that's not *that* big

[2015-11-09 20:22] ericandrewlewis opened #17028 "kubectl patch should accept stdin for -p"
kubectl patch requires input via an argument with the `-p` flag.

e.g.

[code]

Attempting to do this with stdin will result in various error messages.

[code]

[code]

[2015-11-09 20:24] ericandrewlewis commented on #17028
Also

[code]

[2015-11-09 20:25] bprashanth commented on #16891
I like the annotation override, but a lot of people have an aversion to stringly typed interfaces (@thockin I'm looking at you). Eitherway, I think we should target some basic use cases and make sure people can achieve them without annotations.

Lb configuration is possible at at least 3 scopes:
* per backend
* loadbalancer global
* frontend

I'd like to somehow consolidate all these into a relati

[2015-11-09 20:54] timothysc commented on #17027
fwiw repo-per-package enters into the distribution space, which is kinda where we're going right.?.?

e.g. Meaning
- well defined semantics around versioning etc.
- ability to earn package acceptance
- feedback mechanics for failed packages
- etc, etc.

[2015-11-09 20:57] Galexrt commented on #16988
I still get OOMs on the v1.1.1 version with kubelet.

[2015-11-09 20:58] zmerlynn commented on #17027
Fair. I might be sold.

[2015-11-09 21:08] timothysc commented on #17027
This is such a broad topic that will literally impact everyone, I'm all for adding this as a community topic.

[2015-11-09 21:19] zmerlynn commented on #17027
@timothysc: Seems reasonable. I'll see if I can get my microphone not to freak out over Zoom first. :p

[2015-11-09 21:35] bgrant0607 commented on #14961
cc @smarterclayton

[2015-11-09 22:12] zmerlynn opened #17032 "Zeppelin doesn't work over application proxy"
After PR #17025, if you do a `kubectl create -f example/spark`, this works `kubectl port-forward zeppelin-controller-84p9o 8080:8080`.

If you then connect to [http://localhost:8080](http://localhost:8080), you'll get a "connected" Zeppelin (see the green or red dot in the top right corner). However... `kubectl proxy --port=8001`, then: [http://localhost:8001/api/v1/proxy/namespaces/default/servic

[2015-11-09 22:14] thuey commented on #11775
I'm having the same followup issue:
[code]
Was a SO post ever created? Or a solution found?

[2015-11-09 22:25] a-robinson commented on #17028
cc @jlowdermilk

[2015-11-09 22:32] a-robinson commented on #17018
cc @lavalamp

[2015-11-09 22:33] a-robinson commented on #17014
Thanks for reporting the issue, @MikeSpreitzer! Would you be interested in also creating a pull request with a fix?

[2015-11-09 22:36] a-robinson commented on #17015
Hey @slimshady986, can you give a little more info on where you're running this (gce? aws? bare metal?) and which OS you're using on the nodes?

[2015-11-09 22:51] a-robinson commented on #16995
It's something wrong with your environment or the way that you're running the script, because it works fine for me (running it directly from the top level directory, i.e. `./hack/update-generated-conversions.sh`).

[2015-11-09 22:51] #16995 closed

[2015-11-09 22:52] eosrei commented on #15571
Github pages will serve `.json` files as the correct MIME type, but it doesn't recognize `index.json` as a website index file. I tried renaming the files to `index.json` and Github serves the files as `application/json`, but Swagger cannot access.

MIME types on GitHub Pages: https://help.github.com/articles/mime-types-on-github-pages/

Hopefully this is some help as a starting point for a resolut

[2015-11-09 22:54] a-robinson commented on #16977
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-11-09 22:54] #16977 closed

[2015-11-09 22:56] ihmccreery commented on #11751
@quinton-hoole I'm assigning this to you as the release-oncall.  Let me know if you need help.  We're consistently not pushing images as part of our releases, and that needs to be fixed ASAP.

[2015-11-09 22:57] soltysh commented on #14961
/sub

[2015-11-09 22:59] a-robinson commented on #16968
Docker is (very quickly) deprecating its original registry protocol/API and has replaced it with a v2 registry. Google Container Registry also supports the new API, and you can find docs on how to use it [here](https://cloud.google.com/container-registry/#using_the_docker_registry_v2_api).

cc @mattmoor in case he wants to add anything or link to better docs.

[2015-11-09 22:59] #16968 closed

[2015-11-09 23:00] a-robinson commented on #16961
Agreed on not supporting bidirectional version skew

[2015-11-09 23:09] #16856 closed

[2015-11-09 23:10] a-robinson commented on #16848
Looks like #16849 fixed this, so marking as done.

[2015-11-09 23:10] #16848 closed

[2015-11-09 23:12] ixdy commented on #16562
@lavalamp in that most recent one the tests timed out, so the test report generation never occurred.

[2015-11-09 23:14] a-robinson commented on #16875
You can't access them because the pods aren't running yet (the status is `PENDING`). This can occur for a number of reasons, some of which are explained here: https://github.com/kubernetes/kubernetes/wiki/Debugging-FAQ#by-symptom

If you have further questions on getting set up, StackOverflow is the place to ask them so that answers to past questions are more discoverable. Please reserve Github is

[2015-11-09 23:14] #16875 closed

[2015-11-09 23:20] ihmccreery commented on #16961
I'm assigning myself to clarify the documentation that we don't support bidirectional version skew.

[2015-11-09 23:45] alex-mohr commented on #9576
@rassie sorry about that.  @ihmccreery is doing the 1.1.1 release and has been improving release scripts -- is 1.1.1 good re: permissions?

[2015-11-09 23:49] zmerlynn commented on #9576
`1.0.7` was not built by `build-official-release.sh`.

[2015-11-09 23:49] ihmccreery commented on #9576
Reassigning to @quinton-hoole as release-oncall.  Quinton, I can mentor or advise as necessary.

[2015-11-09 23:51] erictune opened #17035 "Sketch of GPU support"
GPU support:
1. scheduler support (most important)
2. kubelet looks in some flag-configured directory, and sees a file or files that tell it "you have this many of resource example.com/mygpu"
3. scheduler feasibility check that uses any type of resource that any pod or node mentions wanting/having.
4. kubelet support for logical devices, so that containers only see their own GPUs. (less important,

[2015-11-09 23:54] zmerlynn commented on #9576
And yeah, `v1.1.1` is fine:

[code]

There's no real bug here. There was a process issue that occurred with 1.0.7. We can rebuild the binaries if we need to.

[2015-11-09 23:58] erictune commented on #17035
Bonus points:

Say you have GPUs which are of different vintages, and some pods want vintage A, and some want vintage B, and others do not care which vintage they get.  For that you need to either have `example.com/my-any-gpu` be equal to the sum of `example.com/my-new-gpu` and `example.com/my-older-gpu` (a derived resource capacity), or have `example.com/my-any-gpu` decrement one resource or the

[2015-11-09 23:58] erictune commented on #17035
Hack workaround:

If you only want one GPU pod per machine, you can use a hostPort that represents the GPU resource.

[2015-11-10 00:00] erictune commented on #10439
@gurvindersingh you asked me about this issue at KubeCon

[2015-11-10 00:02] erictune commented on #10439
The use case mentioned by @gurvindersingh was that companies have secrets that are stored in vault and they have some machines with kubernetes, and some that are non part of a kubernetes cluster.  They do not want to store all secrets in kubernetes (reasonable), and they do not want to store secrets in two places (maybe reasonable).

[2015-11-10 00:20] zmerlynn commented on #17027
Actually, it looks like after https://github.com/deis/helm/pull/162, you can actually add alternate git remotes as chart repos in helm. I think certainly helm, there might be a downside in keeping one-package-per-repo. And thinking about it more, if you ever want to do anything that involves more than one package (e.g. maintain a distribution of packages like a Spark/Hadoop "package set" or someth

[2015-11-10 00:26] mattmoor commented on #16968
That shouldn't even be needed anymore.  Our usual domains now use v2 by default, a docs update is coming.

That said, images must be repushed via v2 to benefit from it.  `pause:0.8.0` was pushed with v1, so it still pulls via v1.  `pause:2.0` was pushed with v2, so you should see v2 pulls.

[2015-11-10 00:35] pmorie commented on #16627
@yujuhong Entertainment value is always appreciated :)

I was talking to @spencerbrown today and he has a use-case for static pods.  This is the first data point that I personally have of someone actually using the kubelet in standalone mode to launch static pods in production, but it seems like there is at least one person doing this.  Let that be considered while we debate the fate of these feat

[2015-11-10 00:42] mikedanese commented on #16627
StaticPod != MirrorPod. IIUC we are not discussing the fate of static pods, we like those. We are discussing the fate of the practice of pushing a read-only representation of them into the API server.

[2015-11-10 00:42] a-robinson opened #17037 "Job e2e test flake on release-1.1 branch: should run a job to completion when tasks sometimes fail and are locally restarted"
It may just be that our timeout isn't long enough or something, but this test doesn't seem like GCE flakiness would affect it, meaning the issue is with the test itself. More worrisome than the average flake because it's on the 1.1 branch.

cc @erictune

Test output:
[code]

[2015-11-10 00:44] pmorie commented on #16627
@mikedanese I agree -- the use case we were discussing had a touchpoint with mirror pods.

[2015-11-10 00:50] mikedanese commented on #16627
Ok I missed it

[2015-11-10 00:53] pmorie commented on #16627
@mikedanese You didn't miss it -- I didn't write it :)  Was more tagging spencer in so he could weigh in.

[2015-11-10 01:13] #15829 closed

[2015-11-10 01:47] mali11 commented on #16845
@timothysc
Agreed, thanks for noticing me of multiple schedulers, one of the consequences I could imagine of adopting group scheduling is that it could lower the efficiency of the shared state and optimistic concurrency control based schedulers like google’s omega, making decisions for more hosts lead to more conflicts after all.
We may need to take group scheduling into consideration when choose

[2015-11-10 01:50] erictune commented on #16741
@pmorie @mikedanese we talked about this.

[2015-11-10 01:51] erictune commented on #16741
I think the requirement here is that all popular linux distros used with Kubernetes should come with the vfs driver and mount helper already installed.  Not sure if ceph of nfs meet this requirement.

[2015-11-10 04:05] jackgr commented on #17027
With [dm](https://github.com/kubernetes/deployment-manager), you can put types in any Github repository. You just need a top level `/types` folder. Types live in version folders (e.g., types/redis/v1, types/replicatedservice/v2, etc.). See the [README](https://github.com/kubernetes/deployment-manager/blob/master/README.md) for details.

I'm not a fan of repo per type, since that would led to a LOT

[2015-11-10 04:45] bgrant0607 commented on #17027
Agree that examples don't belong in the main repo. This was discussed when moving to the kubernetes github org, but we need to change the way we test many of the examples to make that feasible. cc @mikedanese

I'm fine with one repo per example, if we put them in a separate github org. They'd create too much noise in the main kubernetes repo.

Related: #15193, #5465, #4926

cc @jeffmendoza @amygda

[2015-11-10 04:56] bgrant0607 commented on #17023
@kargakis

This is no different than for ReplicationController:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1135

The field is optional in the versioned API, but is always initialized in the internal rep by the defaulting pass.

None of the fields of the internal rep should have json tags, so the omitempty inconsistency isn't important.

cc @nikhiljindal @ironcladlou @ja

[2015-11-10 04:56] #17023 closed

[2015-11-10 04:57] bgrant0607 commented on #17021
Yes, I agree.
cc @ironcladlou @janetkuo

[2015-11-10 05:18] MikeSpreitzer commented on #17014
Yes, I have one ready.  But, as far as I know, the corporate CLA has not been signed yet.

[2015-11-10 05:19] resouer opened #17039 "Consider a automatic way to match privileged and hostnetwork constraint"
Copied from: [this thread](https://groups.google.com/forum/#!topic/kubernetes-dev/VWpCdEF2rgk)

Personally, I'm not strongly request for this,  just feel better if we have.

btw, most of  boolean declarations in Pod are tend to be automatically matched, instead of manually configure node selector , I think.

[2015-11-10 05:23] MikeSpreitzer commented on #17014
BTW, I think this issue is only a matter of hygene, particularly after having gone through the fixing and seen the same variables referenced both with and without surrounding quotes.  If any licensed contributor wanted to fix this, it would be very easy.

I am more interested in issue #17013.  I have a fix for that one too.

[2015-11-10 06:10] luxas commented on #16987
@yujuhong So, may we use it?
AFAIU Kubelet just waits 10 secs, restarts the container, and it's OK.
For me at least, it worked fine.

However I didn't really get the last sentence:

[2015-11-10 06:24] caesarxuchao opened #17040 "gh-pages 404 redirect not working"
The 404 page is redirected to v1.0, though the code is pointing to v1.1 (https://raw.githubusercontent.com/kubernetes/kubernetes/gh-pages/docs/index.md).

I knew a hacky work around that would probably work, but will try to find the root cause.

@janetkuo @bgrant0607 @nikhiljindal

[2015-11-10 06:29] dalanlan commented on #16987
@yujuhong Thanks:-)
That said, `kubelet` would take care of race condition itself and we won't suffer #12588 theoretically.
If that's the case, `emptyDir` fits this scenario.

[2015-11-10 06:37] davidopp commented on #17027
It sounds like Zach's most recent comment was leaning towards one repo, which seems fine to me. IIUC the only downside is you'd be all-or-nothing in subscribing to the notification emails?

[2015-11-10 06:38] davidopp commented on #17027
Oh, I guess @timothysc also had some arguments for one repo per package... It does seem like a lot of repos, though. (Though assuming they're all sub-repos of one repo, it might not be too bad...)

[2015-11-10 07:06] dalanlan commented on #17014
I'll take a look then;-)

[2015-11-10 07:15] dalanlan commented on #17013
/cc @resouer  @WIZARD-CXY

[2015-11-10 07:33] kevin-wangzefeng commented on #13056
/sub @kevin-wangzefeng

[2015-11-10 07:43] janetkuo commented on #17040
Looks like it's fixed. Thanks!

[2015-11-10 07:43] #17040 closed

[2015-11-10 07:46] slimshady986 commented on #17015
Hello @a-robinson, my cluster is deployed on 3 VMs on my company private cloud. These VMs run centos 7.
Thanks in advance

[2015-11-10 08:14] justingrayston commented on #17019
Ooo. I note this merge...https://github.com/kubernetes/kubernetes/pull/16440 that the multi-node documentation has the dns set up in it....I was using the single node docker.md instructions...off to try multi node now.

[2015-11-10 08:31] davidopp commented on #17035
Was @therc requesting merely to schedule at most one GPU-requiring pod per machine (in which case your last comment solves the problem), or something more complicated?

[2015-11-10 08:44] frosenberg commented on #16651
I see the same messages in `syslog` but in a slightly different context: some of my containers fail due to some aufs issue:

[code]

At a later point I see the following (repeating):
[code]

This is a brand new install of 1.2.0-alpha.2 (also tried beta 1.1.1 and 1.0.7 it is the same).

[2015-11-10 08:51] justingrayston commented on #17019
Fantastic! It is working. 2 changes were made. Changed the Master to use manifest-multi, that then allowed kube2sky to access the master api via the docker machine IP on port 8080. DNS now works!!

Thanks to @thockin for his help in the other threads!

[2015-11-10 08:51] #17019 closed

[2015-11-10 10:16] kargakis commented on #17027
Separate org (@kubernetes-examples ?) and one repo per example seems appealing..

[2015-11-10 10:17] resouer commented on #16741
@erictune I think any fs will require a client installed ... unless we use a Pod to consume the fs, ceph can work better than glusterfs in this case.

[2015-11-10 10:17] feiskyer commented on #17027
+1 for separate github org

[2015-11-10 10:18] jimmidyson commented on #17027
I also like separate org & repo per example.

[2015-11-10 10:37] resouer commented on #16706
@lavalamp  sounds interesting #dibs

[2015-11-10 11:26] WIZARD-CXY commented on #17013
Would you please list the extra argument which you want to add ?

[2015-11-10 11:30] #17021 closed

[2015-11-10 12:12] pidah commented on #13056
hi @justinsb – just following you up on our conversation at kubecon yesterday about multi-AZ  🙏

[2015-11-10 13:12] stephenR commented on #16431
I agree with @Pendoragon, it should be fine to ignore the path in the options request.

[2015-11-10 13:51] mattf commented on #17027
what if examples are just starting points for developers wanting to work w/ kubernetes and they keep living in the kubernetes repo as they are today. packages/templates/etc are a step beyond examples, with dm / helm / openshift templates as proposals for how to develop and manage them.

examples would be...

 * maintained by the kubernetes community
 * functional with master
 * single version (e.g

[2015-11-10 14:05] odigity commented on #10439
(Disclaimer: Just discovered Vault last week, but have now read all the docs and am thoroughly in favor of it.)

Now that Vault exists, it seems reasonable to expect all open source systems that need to store secrets to move in a direction that would allow Vault to serve that function.  One purpose per tool and best tool for the job, right?  Just like:

 - auth  (LDAP, OAuth2)
 - storage  (etcd, C

[2015-11-10 14:18] wojtek-t commented on #15349
https://github.com/kubernetes/kubernetes/pull/17057 is removing the usage from mesos tests.

[2015-11-10 14:21] MikeSpreitzer commented on #17013
The extra argument is an IP address of the node where the command is running.  In the provision-master* functions, that is $MASTER_IP; in the provision-*node functions, it is ${1#*@}.

[2015-11-10 14:48] gurvindersingh commented on #10439
@erictune thanks for the reference to issue. As discussed earlier in the issue by others ad you mentioned in the comment above, having ability to use vault to store secret would be really useful. To get started we can simply have a hook when pod is starting up, it can make a REST request to Vault and get secrets written to tempfs as secrets are written now. This I think should result in small chan

[2015-11-10 14:57] timothysc commented on #17032
IMHO we should hold off #17025 for a couple of reasons now.

[2015-11-10 15:00] piosz commented on #14652
closing the issue after #16920 is merged

[2015-11-10 15:00] #14652 closed

[2015-11-10 15:11] #16439 closed

[2015-11-10 15:12] markturansky commented on #9802
I just realized how easy this would make local storage.  HostPath is a PV (for test and development only).

If a volume has a NodeSelector and that is used when scheduling, pods can land on nodes with HostPath PVs.

Pretty sure folks will hate that idea.

[2015-11-10 15:19] zmerlynn commented on #17027
That was my original point. I'd actually like `examples/` to become more like ABC building block examples, and we should eliminate whole apps (unless the blocks build a single one up). We can use them to demonstrate, like you do with example config files that have *all* the options, etc. But `examples/` right now is just full of very similar looking apps that aren't actually revealing a whole ton,

[2015-11-10 15:39] justinsb opened #17059 "(Tracking Issue) Ubernetes (Federation) Lite"
This issue is to track progress on Ubernetes (Federation) Lite.

Ubernetes Lite is a single k8s cluster running across multiple availability zones (AWS) or zones (GCE).  Other clouds & bare metal will also be possible, but won't be implemented as part of this proposal.  (But much of the infrastructure should be the same, e.g. for bare metal, if you tag nodes & volumes correctly the scheduler const

[2015-11-10 15:45] markturansky commented on #7534
Half of this issue is obsolete.  All generic etcd registries use GuaranteedUpdate.
https://trello.com/c/4PQjMIuF/191-spike-investigate-shrinking-or-expanding-persistent-volumes

[2015-11-10 16:00] soltysh commented on #17037
This was fixed on master with this PR https://github.com/kubernetes/kubernetes/pull/16196, where @erictune remove those randomness failures in favor for one failure at the beginning. I'd propose cherry picking that PR.

[2015-11-10 16:04] lavalamp commented on #16732
Argh, good point, Brian. So I'm back to recommending a field called
"apiVersion" of type GroupVersion.

On Sat, Nov 7, 2015 at 9:12 PM, Brian Grant <notifications@github.com>
wrote:

[2015-11-10 16:05] justinsb commented on #13056
Hi @pidah - I also opened #17059 as a tracking issue / TODO list

[2015-11-10 16:06] lavalamp commented on #16431
Thanks for the clarification! In that case it sounds logical to change the
order, and make sure that OPTIONS response does not depend on the path.
I'll happily take a PR that changes this.

On Tue, Nov 10, 2015 at 5:12 AM, stephenR <notifications@github.com> wrote:

[2015-11-10 16:22] luxas opened #17060 "Kubernetes just compiles on amd64"
Hello,
Since you vendored docker libcontainer, a bug also came along: https://github.com/docker/docker/issues/15053

Very easy to fix indeed:
[code]

It doesn't work on ARM at least.
Is there anything we can do to support out-of-the-box other platforms also?

[2015-11-10 16:22] lavalamp commented on #17018
What go version are you using? Previously this test has been catching legit bugs, so I'm not sure about the "flaky" moniker.

[2015-11-10 16:29] lavalamp commented on #16706
@resouer I can't promise speedy reviews, but you are welcome to take a stab at this.

@errordeveloper is there no way you can run a script to discover the correct address and then pass it in? I'm just trying to think of ways to avoid adding more flags.

[2015-11-10 16:32] ArtfulCoder commented on #16836
maybe, if you ran kubectl get pod busybox -o yaml --namespace=default, I would be able to see the DNS policy being used for the pod..

[2015-11-10 16:35] Pendoragon commented on #16431
Thanks! I will work on a PR for this!

[2015-11-10 16:37] ncdc commented on #17018
@lavalamp go 1.5.1. I noticed you had a comment in another issue or PR about this possibly being a bug in Go itself (or did I misread)?

[2015-11-10 16:41] yujuhong commented on #16987
Unfortunately, there is no notion to define container startup ordering in k8s, so kubelet can't really do anything :-(
On the other hand, I am unsure this level of coordination between containers should be handled by kubelet (i.e., handling depenencies). Containers should be able to coordinate on their own, either through shared file or other communication channels.

[2015-11-10 17:18] ihmccreery opened #17062 "1.1.1 Hyperkube image not configured correctly"
Not sure the details here; @brendandburns, can you fill in?

This is somewhat related to #11751, which is for including the Hyperkube image in the releasing process.

[2015-11-10 17:18] jayunit100 opened #17063 "dont use docker-machine for k8petstore on linux"
no need for docker machine  tooling for people hacking on k8petstore on a linux box.
easy patch , one liner, will submit shortly

[2015-11-10 17:25] zmerlynn commented on #17032
@timothysc: I actually think we should proceed with #17025. I included the `port-forward` workaround and a reference to the bug. Having that PR committed will make debugging this easier, and we're at the early side of the 1.2 release cycle, so with any luck will get it fixed before anything is visible.

[2015-11-10 17:26] zmerlynn commented on #17032
(And with any luck it's something that can be cherry-picked, because I'd really like Spark to work elsewhere.)

[2015-11-10 17:36] brendandburns opened #17064 "Add an opaque "container runtime params" object to api.Container"
We need to be able to parameterize the various container runtimes without having to add ever single configuration variable into our API.

To achieve this, we should add an opaque `params` object to `Container` this params field will be raw JSON, we can then use reflection to dynamically populate the API calls to the container runtimes.

@bgrant0607 @dchen1107

[2015-11-10 17:57] bprashanth commented on #17064
Can't we just give annotaitons to subobjects? I want this for Ingress configuration too (https://github.com/kubernetes/kubernetes/issues/16891), configuring sub-objects (in this case IngressBackends) through a single global annotation dict gets nasty.

[2015-11-10 17:58] somejfn commented on #11543
Any traction on moving nodename to InstanceId ?   This bug is still a blocker to get ELB integration on v1.1.1 working for a k8s deployment with an existing vPC

[2015-11-10 18:02] brendandburns commented on #17064
Yes, one option here would be to use annotations, but I would like annotations to be `map[string]interface{}` rather than `map[string]string` which is a breaking API change, so we'd have to introduce a separaete `params map[string]interface{}` rather re-using annotations.

--brendan

[2015-11-10 18:05] bprashanth commented on #17064
Eitherway I would find this useful. There's high enough variance between loadbalancers that I'm not comfortable making these "runtime params" fields on the top level object. The top level yaml should be cross platform, users of the runtime params understand the consequences of lock-in.

[2015-11-10 18:07] jk-shah opened #17066 "Passing --device flag to docker run command (and its support in spec file)"
We seem to have hit a requirement where we need to pass

--device=[]: Allows you to run devices inside the container without the --privileged flag.

Looking at  https://cloud.google.com/container-engine/docs/spec-schema  (which I have been using heavily as I could not see any other current doc) I have not figured how to pass that through the spec file.

Talking to @brendandburns on Mailing list hi

[2015-11-10 18:21] vishh commented on #16988
Can you post pprof output from kubelet? You can run `kubectl proxy` and then run the following command:
`go tool pprof http://localhost:8001/api/v1/proxy/nodes/<node_name>/debug/pprof/profile`

[2015-11-10 18:22] vishh commented on #16988
We haven't tested kubelet against all distributions yet. Thanks for filing and helping debug the issue.

[2015-11-10 18:22] brandoncole commented on #14404
We also see this occasionally, it's hard to reproduce.  Here's our logs.  In this situation, Kubernetes will never self heal, we can delete the pod manually and it'll recover just fine though.
[code]

[2015-11-10 18:27] dchen1107 commented on #17066
@jk-shah Thanks for reporting the issue and feel free to send us the pr.

[2015-11-10 18:34] erictune commented on #17035
He has multiple GPUs per machine and pods with varying GPU count requirements.

[2015-11-10 18:42] erictune commented on #17035
If we have a generic counted resource, and if the user has  one type of GPU per node, then the user can:

- use a "generic" counted resource for GPU
- label nodes with the specific GPU flavor
- pods that need a specific flavor use a node selector
- pods that don't care don't use a node selector

Of course, this makes resource fragmentation, quota, node autoscaling harder.  But it is still an impro

[2015-11-10 18:45] yujuhong commented on #14404
@brandoncole, does the container show up in `docker ps -a`? If so, what's the status and could you inspect it? I suspect that the first creation failure left the state inconsistent, so `docker ps` could still lists the container, but inspect fails. We should find out why the creation failed at the first place, and why the inspection didn't work afterwards.

[2015-11-10 18:52] paralin commented on #17060
I think cross-compilation works, but compilation *on* those platforms does not.

[2015-11-10 18:56] paralin commented on #16998
I can work on this if needed

[2015-11-10 19:03] janetkuo commented on #16998
@paralin thanks!

[2015-11-10 19:05] jlowdermilk commented on #17028
Where in the docs are you seeing that patch *should* accept input from stdin? The help text for the command indicates `-p` is required.

[2015-11-10 19:09] jayunit100 commented on #17063
jeff found a couple cleanups we can do for the redis base images also
looks like Dockerfiles are out of date.  we can update that in this PR also...

[2015-11-10 19:11] paralin commented on #16998
@janetkuo What needs to be done here, exactly? I've read through all the test code for the guestbooks and it seems to be in order, even with the patch. Are there resources here that need to be removed? Do the old tests for this need to be taken out?

[2015-11-10 19:11] ericandrewlewis commented on #17028
@jlowdermilk  Sorry I should've mentioned that!

[In the man page](https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.3/docs/man/man1/kubectl-patch.1#L6)

[In the kubectl user documentation](https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.3/docs/user-guide/kubectl/kubectl.md)

[In the kubectl patch user documentation](https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.3/

[2015-11-10 19:12] ericandrewlewis commented on #17028
Another question/discussion is whether kubectl patch *should* accept stdin.

[2015-11-10 19:13] yujuhong commented on #12619
After thinking about it more, I propose that we add a new type `RawPodStatus` in the container runtime. The `RawPodStatus` represents the current state of the pod in the container runtime, without knowing the original pod spec.

At kubelet startup, it can ask the container runtime for the `RawPodStatus` of all pods running on the node, and even populate the cache. It does not need to wait until ku

[2015-11-10 19:14] brendandburns commented on #13904
@lavalamp I'm worried about taking this as the default solution.  If someone runs under docker on Linux (instead of virtual box) their master will be unsecured and running on a public interface, which is a recipe for an exploited box.

I think we can update the docs describing what to do for VirtualBox/Docker machine based installs, but we shouldn't update the default config.

A different option i

[2015-11-10 19:17] brandoncole commented on #14404
I already corrected the situation last time it happened, when it happens again I'll update the group.  I've seen a couple different failures, I've seen the `cannot allocate memory` and `file exists` error.  Give me a day and I should have an update.

[2015-11-10 19:20] janetkuo commented on #16998
@paralin since those guestbook example files are still required in tests (xxx_test.go and hack/test-cmd.sh), please move the files required for testing to hack/testdata/ and change the path accordingly. Note that those files may be referenced in .md files and should be fixed too.

[2015-11-10 19:20] jlowdermilk opened #17068 "e2e broken: Kubelet regular resource usage tracking over 30m0s with 0 pods per node."
Kubelet regular resource usage tracking over 30m0s with 0 pods per node.

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubelet_perf.go:129
Test Panicked

It's failing on [kubernetes-soak-continuous-e2e-gce-1.1](http://kubekins.dls.corp.google.com/view/CI%201.1/job/kubernetes-soak-continuous-e2e-gce-1.1/), and [kubernetes-e2e-gke-staging](http://kubekins.dls.corp.g

[2015-11-10 19:21] brendandburns commented on #13441
Closing this since we seem to be ok w/ the status quo...

[2015-11-10 19:21] #13441 closed

[2015-11-10 19:22] brendandburns commented on #13346
Yes.  Leaving open to consider adding explict health checks too...

[2015-11-10 19:24] erictune commented on #17035
@smarterclayton we just talked about how a generic counted resource could be used by a hypothetical customer who is very latency sensitive (e.g. HFT) and cares about NUMA latency too.

You can either use a generic counted resource for individual cores, or for NUMA-node-sized blocks of cores, and treat that as a counted resource.  You still need to have some code added to kubelet to allocate that c

[2015-11-10 19:36] paralin commented on #16998
@janetkuo They're referenced a lot in the readme: https://github.com/kubernetes/kubernetes/blame/master/examples/guestbook/README.md#L253

Should I change those references to all-in-one then?

[2015-11-10 19:45] zmerlynn commented on #17027
@jackgr: Updated the top comment to reflect conformance more strongly. I don't necessarily want to get bogged down in it from the get go (I think we need an "if you build it, they will come", and in part that includes the test pieces), but I do think it's an important goal to have, and possibly a reason to centralize.

[2015-11-10 19:54] yujuhong commented on #12619
Also cc @kubernetes/goog-node

The specific problem is that
 - SyncPod relies on `api.PodStatus` as its input (and source of container statuses)
 - Generating `api.PodStatus` requires `api.Pod` (a.k.a, the pod spec)

To populate the cache for SyncPod to consume, PLEG would need to generate `api.PodStatus`, i.e., it needs access to the pod specs (api.Pod). We could pass the pod manager to the PLEG,

[2015-11-10 19:54] jackgr commented on #17027
@zmerlynn Thinking about your comment re: support for multiple managers.  Currently, the managers are quite different...

* helm is YAML without parameters and runs client side only.
* openshift is flat parameterized YAML and runs client and server side.
* dm is parameterized YAML with types and runs client and server side.

Trying to span all 3 (or more) configuration formats for a single applica

[2015-11-10 19:55] janetkuo commented on #16998
- examples/guestbook/all-in-one/ should only have guestbook-all-in-one.yaml
- examples/guestbook/ should have redis-master-controller.yaml, redis-master-service.yaml, redis-slave.yaml, and frontend.yaml (since they're required in examples/guestbook/README.md)
- other files under examples/guestbook/ should be removed or moved to hack/testdata/ if used in tests.
- .md files, including examples/guest

[2015-11-10 19:56] scrisenbery commented on #831
@kjvalencik How are you achieving your first solution right now? I am trying a similar solution but it doesn't appear as though the container holding the files is starting first, so the container that needs the files is failing to start because it cannot find them.

[2015-11-10 19:59] luxas commented on #17060
That sounds logical.
However, is it possible to cross-compile dynamically?
E. g. hyperkube requires that.

[2015-11-10 20:01] zmerlynn commented on #17027
@jackgr: I think what you'd end up with is a `helm` package that was very limited, then DM/OS templates that were much richer, and probably it would depend on the package maintainer as to what was even picked up and used.

Do you have a better proposal? The existing `examples/` dir is not tenable, and one of the commonalities of all of those templates is a set of supported Docker images, regardles

[2015-11-10 20:04] yifan-gu commented on #12619
Sounds reasonable. Another thing I can take from this is seems the relisting of podstatus requires one `List` + n `Inspect`, so I think for rkt api-service, I might need to add an option(e.g. `detail=true`) in the request, so the ListPod() can return as much as info as possible to avoid a loop of `InspectPod`

[2015-11-10 20:11] kjvalencik commented on #831
@scrisenbery A bash start script that waits for the files to exist. Example:

*Container providing files*
[code]

*Container that requires files*
[code]

[2015-11-10 20:15] bkeroackdsc commented on #831
@kjvalencik Perhaps your experience is different, but I could not get that solution to work reliably. Often the files would get copied over successfully but would never be "seen" by the consuming container.

[2015-11-10 20:17] beeradb opened #17072 "Document requirement for DNS Hostnames in AWS VPC"
## Issue summary

I recently worked through an installation of kubernetes into an AWS VPC which was created outside of kube installation scripts. I found this difficult on several fronts, but my biggest issue is that the VPC I was trying to install into didn't have "EnableDNSHostnames" enabled.

Attempting the installation without that setting enabled does not cause the kube-up.sh script to output

[2015-11-10 20:17] paralin commented on #16998
@janetkuo A lot of the test commands will add the entire directory using -f. Because of this I think it's best to put all of the old files into test-resources to make sure the tests are using the same files they were before. I'm going to go ahead with this because I've tried a few other options (instead of adding a directory, add the all-in-one and update the expected outputs, and also just add th

[2015-11-10 20:21] paralin commented on #16998
This line here just doesn't make any sense:

[2015-11-10 20:27] yujuhong commented on #12619
Hmm...you are right. For rkt, listing can actually provide more information, but I am not sure if we can optimize that in a generic, runtime-agnostic implementation...

When relisting,
1. `GetPods`to gets all the high-level pod information
2. `GetRawPodStatus` gets the detailed information for each of the pod that looks different than the last time.

This is a compromise between docker and rkt. Fo

[2015-11-10 20:40] #17068 closed

[2015-11-10 20:42] bprashanth commented on #17072
@justinsb

[2015-11-10 20:42] scrisenbery commented on #831
Currently we are using the containers entrypoint (it is logstash in this case) and sending it an argument to find the config file in the mounted directory.

Part of the reason we want config files separated from the main images is so we can maintain them separately and utilize the official images available on the Docker Hub. If we have to bake in a script to the main container anyway it defeats th

[2015-11-10 20:49] luxas commented on #16987
@yujuhong I think it's (for this case) OK for kubelet just to restart the container.
It will work fine after the restart.

@dalanlan However, if we want to avoid this restart we may do something like this:
[code]

Yeah, I know this is very hackish, but a such wait for the file would not result in a restart of the container.

But, this makes `sh` or `bash` a dependency, and even though `hyperkube`

[2015-11-10 20:55] eosrei commented on #1111
My above referenced PR includes ~400 of the ~1200 instances of "minion" in the codebase in three  commits. I started with the environment variables, kube-util helper functions, and Vagrant provider. Not sure if I should expand this one PR to include all ~1200 uses or break it apart into multiple PRs. Review and/or thoughts appreciated.

[2015-11-10 20:59] jlowdermilk commented on #17068
Thanks for the quick fix!

[2015-11-10 21:02] jlowdermilk commented on #17028
I'm not convinced it should, but I can at least fix the help text.

[2015-11-10 21:19] abevoelker commented on #2156
It would be neat if this distributed cron allowed the use of [ISO8601 repeating interval](https://en.wikipedia.org/wiki/ISO_8601#Repeating_intervals) notation like Chronos uses, because it's impossible to express some types of schedules with cron's limited modulo syntax.

[2015-11-10 21:41] kjvalencik commented on #831
@scrisenbery You can still use the default image, but you need to provide your own entrypoint that then calls the default. Untested example:

[code]

@bkeroackdsc I haven't had any issues doing this. The key is to ensure that the files all become available atomically--hence, the `cp` to a temporary location and then a `mv` command.

With that said, I would still like to see this feature implemente

[2015-11-10 21:49] yifan-gu commented on #12619
@yujuhong Sorry for the confusion, but actually I mean the InspectPod() and ListPods() for rkt's own api. So for kubelet's ListPods(), it can invoke rkt.ListPods(simple), and for kubelet.GetRawPodStatus(), it can invoke rkt.InspectPod(). If we want to get all raw pod statuses, it can do rkt.ListPods(detailed).

[2015-11-10 21:53] nikhiljindal commented on #16977
https://github.com/kubernetes/kubernetes/issues/13488 tracks this feature request.

[2015-11-10 21:55] kjvalencik commented on #831
@scrisenbery Example using secrets.

Create this file in the same directory as your `logstash.conf`.
`logstash-secret.yaml.sh`
[code]

Create the secret
[code]

Logstash pod
[code]

[2015-11-10 21:58] dchen1107 commented on #14532
cc/ @janetkuo @caesarxuchao

[2015-11-10 22:02] bprashanth commented on #12732
@jimmidyson took a look at your WIP. It seems useful but why put it in the master? That makes anything other than exec-ing a local binary hard to achieve (eg: waiting for a CA to sign a CSR).

I think it would be more useful to define a claim-like resource that individual controllers can watch and fulfill. That way I can write a CA controller that generates 3 types of CA requests (eg: clusterlocal

[2015-11-10 22:03] buth commented on #17028
@jlowdermilk There's already precedence for this with the `-f` flag for other commands (including this one). For instance, this works:

[code]

Which then makes it seem strange that this does not:

[code]

This is a problem in our use-case because we are using `kubectl` over SSH.

[2015-11-10 22:07] scrisenbery commented on #831
@kjvalencik So instead of having a second container, use a secret that can be mounted and when mounted contains the file I need? It looks promising but how do you update the config file when the time comes?

[2015-11-10 22:21] Galexrt commented on #16988
@vishh Here you go. https://drive.google.com/open?id=0B_zLDa2CD7z4czBjRzVTMkRYSE0
I think the server when I ran the `go tool pprof` on was using v1.1.1-beta.1. With self compiled v1.1.1 binaries I ended up in OOMs too.

[2015-11-10 22:22] bprashanth commented on #12732
Thinking about it a little more, you can still do this through a secret/request subreqource endpoint on the master, it's just not satisfied by the master but by an external controller.

[2015-11-10 22:24] Symmetric commented on #14505
This sounds like a simple use-case for the sort of generic network policy language we have been discussing, so I reckon it's a good candidate to be included in the policy discussions.

To handle this you need a way to define the set of LB IPs; this can currently be implemented with a headless Service with a custom EndpointSet, or we could add a more simple/less overloaded "IP Set" entity.

Then we

[2015-11-10 22:32] onlyjob opened #17077 "Please don't vendor unreleased components"
Kubernetes v1.1.1 bundles unreleased snapshot of https://github.com/appc/cni:
https://github.com/kubernetes/kubernetes/blob/v1.1.1/Godeps/Godeps.json#L31
which is used in https://github.com/kubernetes/kubernetes/blob/v1.1.1/pkg/kubelet/network/cni/cni.go#L21 (and maybe in other places).

The problem is that appc-cni have a formal release which may be more API stable or better tested than random sn

[2015-11-10 22:33] nikhiljindal commented on #17010
[code]
is the right usage.
FWIW, that works for me on HEAD.

cc @ironcladlou

[2015-11-10 22:39] onlyjob commented on #17077
FYI @rajatchopra

[2015-11-10 22:43] jackgr commented on #17027
No dispute with the desire to make /examples a collection of curated tutorials, since that's its purpose. Also, no dispute that collections of real world applications and application components (microservices?) are much needed, and that they should be distinct from /examples.

For now, to your point, since Docker images and Kubernetes YAML files are only de facto standardized foundations at this p

[2015-11-10 22:47] kjvalencik commented on #831
Secret volumes are created and mounted at pod start. Once the pod is started, they are not tied to the secret, which means it is safe simply delete the secret and re-create it. Essentially the workflow looks like this:

1. Delete the old secret
1. Create the new secret
1. Rolling restart of pods that use the secret

[2015-11-10 22:50] derekwaynecarr commented on #15692
closing issue based on acks from others.

[2015-11-10 22:50] #15692 closed

[2015-11-10 22:59] jlowdermilk commented on #17028
Reopened and changed title.

@buth, making `-p` accept stdin is stricky because it also takes a `-f` file that can parse from stdin. It's possible to have `-p` read from stdin and validate that only one or the other does, it's just not a quick fix.

@kubernetes/kubectl if someone wants to pick it up. Also cc @bgrant0607 to prioritize.

[2015-11-10 23:27] liggitt commented on #12732
submission of a request for a secret to be generated, followed by waiting for the thing to actually be generated before using it sounds good on paper, but needs some sort of "initialization" support to be usable...

service account tokens are currently asynchronously generated into secrets of a given type, and we've found that to be painful to request and use. Pods that require those secrets curre

[2015-11-10 23:27] liggitt commented on #12732
See https://github.com/kubernetes/kubernetes/pull/8866 as an example of what I started to pull service account token generation back into the master, and why

[2015-11-10 23:29] zmerlynn commented on #17032
The issue here is that Zeppelin is using absolute URLs for a couple of things and we're not rewriting properly:

[code]

@brendandburns and I chatted about this for a bit, and `port-forward` is probably the better solution. Getting all the corner cases of rewrite correct is not going to be easy here.

cc @liggitt @jlowdermilk

[2015-11-10 23:31] liggitt commented on #17032
agree on port-forward... I think a rewriting proxy is a losing battle

[2015-11-10 23:33] liggitt commented on #17032
also, trying to understand the particular thing rewrite was missing here... was it not rewriting data coming back over an upgraded connection?

[2015-11-10 23:35] jlowdermilk commented on #15243
Ref #12179. Fixing the 6minute ttl on proxy tunnels should (in theory) resolve this.

[2015-11-10 23:36] nikhiljindal commented on #16395
Not yet.
cc @caesarxuchao if he can get to this before me.

[2015-11-10 23:37] zmerlynn commented on #17032
@liggitt: I'm not sure. The `/ws` is the WebSocket URL, so I'm guessing it upgraded then tried to establish the socket, but I'm not sure where that URL came from (probably JS on the client).

[2015-11-10 23:40] shaylevi2 commented on #3595
Where does this stand? is it available through any config?

[2015-11-10 23:43] liggitt commented on #17032
Ah, JS would make sense as well, since that doesn't get rewritten

[2015-11-10 23:48] janetkuo commented on #16998
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/replace_test.go#L150 uses a fake HTTP client so it doesn't actually reference the files in examples/guestbook.

-f with a directory creates everything in that directory. If "examples/guestbook" (the whole directory) is referenced in tests, you can either keep it as is (since after you moved the files as I suggested in https://git

[2015-11-10 23:49] markpollack commented on #10906
Just to help a bit, I am on ubuntu 14.04 with workstation 10.0.6 and vagrant 1.7.4.  I had the same MAC address issue.  I tried upgrading to the fedora21 box and got past the network adapter configuration but ran into another error

[code]
I'll try @tom-haines suggestion another time....

[2015-11-10 23:50] jlowdermilk opened #17079 "Feature request: test dashboard to view results/history for all test runs across jenkins jobs and branches"
Right now visibility is the biggest problem we have with e2e tests. We have too many jenkins jobs to keep track of test history for each one manually, and with test filters becoming increasingly targeted, there is no easy way to know what job a particular test is running in. Moreover, because test filters are shared across jobs, changing them can result in a set of tests that _should_ be running o

[2015-11-11 00:00] ihmccreery opened #17080 "Move docs for "GCE Load-Balancer Controller (GLBC) Cluster Addon" into k8s.io"
The doc at https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/addons/cluster-loadbalancing/glbc/README.md doesn't seem to be accessible on k8s.io, presumably because it's a README buried in `cluster/`.  Can we move it out into a place that will be more accessible to users?

[2015-11-11 00:24] bprashanth commented on #12732
fair enough, perhaps its easiest to keep the cluster CA a cluster CA and figure out a more generic model for external resource acquisition that ends up creating the right type of secret using an intermediate claim object

[2015-11-11 00:36] davidopp commented on #17027
There's a limit to how much we can punt on picking (a) solution(s). The whole point of the project Zach is doing is to address the common (and valid) complaint we get that Kubernetes can't easily be used for production deployments of Spark, Cassandra, etc. There are a number of pieces of this -- missing k8s features (like nominal services), inadequate or nonexistant k8s configs for these systems,

[2015-11-11 00:39] markpollack commented on #10906
Looks like creating a vmware provider package is rather complicated.... so guess I'll have to try another way to run k8s.  Hope this gets sorted out soon.

[2015-11-11 00:42] pmorie commented on #14186
I was speaking to @sdminonne today, and he needs (1) from Eric's list.  @bgrant0607 @erictune are you open to a PR adding (1), as it seems to be relatively non-controversial?

[2015-11-11 01:01] JunejaTung commented on #16836
@ArtfulCoder thans for your attention, the dns policy is:
[code]

[2015-11-11 01:04] ArtfulCoder commented on #16836
dns policy does seem to be ClusterFirst. that is indeed surprising..
I was hoping that was not the case..
Is there any way I can debug on your machine.. At this point, there is not much I can go on.

[2015-11-11 01:19] zmerlynn commented on #17032
Could we do something like a sticky URL reverse proxy with some sort of session cookie? It seems like we could do something clever where when you browse to http://localhost:8001/api/v1/proxy/namespaces/default/services/foo, we hijack and add a get a session cookie for "kubernetes service foo", at which point if your browser then asks for `/bar`, we see the cookie and say "oh, you mean service `foo

[2015-11-11 01:31] bradfordcp commented on #12167
I am seeing this issue with only a single SSH key inside of Compute Engine Metadata.

[2015-11-11 01:31] therc commented on #8132
I mentioned this at Kubecon, but adopting gRPC would also bring in Census with it, one day. Most Googlers I have talked to seem unaware that the C++ gRPC codebase contains incomplete code and documentation for a Census reimplementation:

https://github.com/grpc/grpc/tree/master/src/core/census

I'm assuming the Go tree would have the same, eventually. A full Census implementation would be very hel

[2015-11-11 01:34] nckturner commented on #12167
Saw this in GKE with a lot of keys in metadata.  Deleted the majority of the keys and everything worked again.

[2015-11-11 01:41] boulos commented on #14188
First, thanks for renaming Nominal to Indexed.

I agree that ```.spec.completions``` is bizarre and seemingly unnecessary.  You either want to run to completion once (per item), or basically run until something is drained (which you can signal out of band or simply exit).  I'm not sure I agree about your "as soon as one pod signals", particularly in systems where work items can spawn new work: it'

[2015-11-11 01:44] boulos commented on #14186
Why put Deadline only in Job?  It seems like lots of things can/should may wish to get recycled with some periodicity (e.g. terrible Ruby programs expected to leak).  Also, could I convince you to rename Deadline (which implies a fixed timestamp) to Duration?  A Deadline is something that has to be entered for each invocation (often as Now() + Duration), while a Duration is nice and stable.

[2015-11-11 02:39] WIZARD-CXY commented on #17013
hmm, small change

[2015-11-11 02:54] eliaslevy opened #17084 "Pods on AWS with native networking can't access Amazon provided DNS"
When using native networking in in AWS (i.e. with options `cloud-provider=aws`, `cluster-name=<cluster_name>`, `allocate-node-cidrs=true`, `cluster-cidr=<pod_network>`, `configure-cbr0=true`, `bridge=cbr0`, `iptables=false`, and `ip-msq=false` as appropriate to `kube-apiserve`r, `kube-controller-manager`, `kubelet`, and `docker`), everything works except that Pods, including kube-dns, can't make D

[2015-11-11 03:34] liggitt commented on #17032
Sounds like a reach to make work well. I definitely wouldn't want that in the API server.

[2015-11-11 04:07] utahcon commented on #12459
Ran into this error on the CoreOS Alpha image today.

[code]

here is my container definition:

[code]

[2015-11-11 04:18] michaelukpong opened #17086 "Pod on GKE cannot pull image from GoogleContainerRegistry"
I created an image and pushed it to GCR using:
```gcloud docker push gcr.io/{project-id}/{image-name}```.

 I can see the image when I log into GCR so all seems fine.  But however, when I run
 ```kubectl run {pod-name} --image=gcr.io/{project-id}/{image-name}```
```kubectl get pods```

I get the following error:
```image pull failed for gcr.io/td-middleware/tdb, this may be because there are no cr

[2015-11-11 04:40] paralin opened #17088 "Cross-namespace Ingress"
As far as I can tell right now it's only possible to create an ingress to address services inside the namespace in which the Ingress resides. It would be good to be able to address services in any namespace.

It's possible that I'm missing something and this is already possible - if so it'd be great if this was documented.

[2015-11-11 04:52] utahcon opened #17090 "kube-proxy fails to start on node complaining about iptables"
Ran into this error on the CoreOS Alpha image today.

### OS Version
[code]

### Error
[code]

### Container Definition
[code]

[2015-11-11 04:54] mikedanese commented on #17090
Are you running the kube-proxy as root?

[2015-11-11 04:55] utahcon commented on #17090
I am starting kube-proxy as part of cloud-init from systemd -- I am new to this -- but yes I assume that means it is starting as root.

[2015-11-11 05:00] saad-ali opened #17092 "Add/improve E2E testing of of persistent volumes claims (PVC)"
We should improve E2E testing of persistent volumes claims (PVC).
- The existing test (`test/e2e/persistent_volumes.go`) uses NFS and is disabled for regular test runs.
- We should add a few GCE PD based test so that PVC code is regularly tested as part of Jenkins `kubernetes-e2e-gce` build.

[2015-11-11 05:04] mikedanese commented on #17090
Are you following the guide on coreos site? might want to try posting an issue to https://github.com/coreos/coreos-kubernetes. cc @aaronlevy @yifan-gu

[2015-11-11 05:07] bgrant0607 commented on #15032
And more analogies/translations from other systems, such as GCE and EC2.

| EC2 | GCE | K8s |
| Instance | Instance | Pod |
| Autoscaling group | Managed instance group | Replication controller |
| Elastic load balancer | Forwarding rule | Service |

[2015-11-11 05:35] ztao1987 opened #17094 "HDFS cluster can't work with kubernetes + flannel"
Hi,

I deployed kubernetes with flanneld.service enabled in coreos. And then I started hdfs namenode and datanode via kubernetes replication-controller. I also created kubernetes service for namenode. The namenode service ip is 10.100.220.223, while the pod ip of namenode is 10.20.96.4. In my case, one namenode and one datanode happens to be on same host. And namenode pod and datanode pod can ping

[2015-11-11 05:39] okigan commented on #14232
This issue is reproducible with try out instruction for [k8s](http://kubernetes.io/v1.1/docs/getting-started-guides/vagrant.html) and for k8s v.1.1.1 following services listed:

./cluster/kubectl.sh cluster-info
Kubernetes master is running at https://10.245.1.2
Heapster is running at https://10.245.1.2/api/v1/proxy/namespaces/kube-system/services/heapster
KubeDNS is running at https://10.245.1.2/

[2015-11-11 05:55] liggitt opened #17095 "JSON clients have trouble with ints >= 53 bits"
There are several fields in the API that use int64 types (uid, gid, etc). Any int >= 53 bits will not be preserved when read using some JSON clients that treat all JSON numbers like float64s (notably, browsers).

That means web clients cannot create items containing ints >= 53 bits (it will serialize them as floats, which will lose precision at best, and break go decoding at worst)

We should inve

[2015-11-11 05:55] liggitt commented on #17095
cc @pmorie @jwforres

[2015-11-11 06:04] smarterclayton commented on #17095
Also broke my kubecon demo but in an impressive way :)

[2015-11-11 06:04] smarterclayton opened #17097 "Configurable pod defaulting"
Two other notes - Brian and I and a few others discussed defaulting and how that's technically the role of LimitRanger in general (to apply a default to a pod resource).  We discussed having LimitRange evolve into PodPolicy which is the more generic complement to PodSecurityPolicy - to apply simple defaults to pods that are created.  Things that could be defaulted / ranged per namespace:
- node se

[2015-11-11 06:07] liggitt commented on #17095
@smarterclayton, fwiw, 1000000000 worked for me with https://github.com/openshift/origin/pull/5774 / https://github.com/kubernetes/kubernetes/pull/16964 ... only values over 53 bits broke in my tests from the browser

[2015-11-11 06:09] smarterclayton commented on #1589
As discussed at a recent community hangout it would be valuable to allow a pod to contain a single run once pod that functions as an "initializer" for the pod.  The initializer could do anything a regular container could do, including mutating filesystem or waiting for external services, or ensuring a remote system is ready to accept connections from this pod.  Many PreStop scenarios would instead

[2015-11-11 06:51] smarterclayton opened #17098 "Add support in quota to allow run once pods to satisfy a maximum "rate""
Run once pods are not well accounted for by the current quota system, because run-always pods can absorb the quota and prevent jobs from running (builds, scheduled tasks).  We discussed today a "pods per unit time" measure with "max run once pods" that allow for users to run short jobs in parallel or over a longer time.

Since run always pods are typically "run up to N pods that run 24 hours a day

[2015-11-11 06:52] smarterclayton commented on #17098
@derekwaynecarr

[2015-11-11 06:56] lordnynex commented on #11543
Hello. I'm experiencing the same issue with a completely different piece of software (ironically also AWS EMR) in AWS VPC's. I was googling around and this issue came up so I thought I'd share my thoughts. (Fair warning, I have no idea what kubernetes is nor have I ever used it).

The issue is sporadic and selective editing of AWS documentation. It used to be that setting domain-name in VPC DHCP o

[2015-11-11 07:00] bgrant0607 commented on #14186
@boulos We already have a Pod-level deadline field called `ActiveDeadlineSeconds`. The units make it clear that it's not an absolute time. Also, in Go and in our API, "duration" refers to a specific encoding of units.

[2015-11-11 07:01] bgrant0607 commented on #14186
@pmorie I'm fine with adding the deadline, though it's most effective when combined with backoff.

[2015-11-11 07:55] feihujiang commented on #16670
I looked into the error of "Unrecognized input header". I tested the following example, and found if we set the field```tty:true``` on a container, then used ```kubectl logs``` on that container, the error "Unrecognized input header" occurs whenever the pod is running or completed. And the error is returned from "/home/src/k8s.io/kubernetes/Godeps/_workspace/src/github.com/fsouza/go-dockerclient/e

[2015-11-11 07:56] bgrant0607 commented on #17028
-p should be deprecated in favor of the longer form of the argument, --patch.

It can't take stdin or a file, since that would be ambiguous. We'd need a new argument, like --patch-file.

The reason we can use `-f` is because that's reserved for expressing the resource to operate on.
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_patch.md

Note that you can als

[2015-11-11 08:06] davidopp commented on #14188
@boulos Gang scheduling was requested in #16845. Modulo that, I think this issue actually does what you want, with the possible exceptions that you want to specify the exact number of pods the system should create initially (which is also be the number of completions) rather than allowing it to choose the parallelism. Of course it cannot guarantee there will never be two of the same index running

[2015-11-11 08:32] changx commented on #15291
I can not reproduce the problem in the past 30 days, this issue could be closed.

[2015-11-11 08:32] #15291 closed

[2015-11-11 08:46] jstrachan commented on #17027
I like the idea of a federated set of github repos; so different communities can curate their own charts/packages without requiring approval from some central organisation for every change to a chart/package - this will help accelerate the creation of OOTB charts/packages and fast iteration by their users.

Though it would be nice to have a global index of all chart/package git repos; so that folk

[2015-11-11 08:49] davidopp commented on #17027
How about one new repo (and one organization), with sub-repos for each app/framework?

[2015-11-11 09:15] jimmidyson commented on #12732
I've found the same problems as @liggitt describes above when going for the controller approach (similar to the original approach I tried actually). I want to be able to request a secret be generated & it be generated before I move on to the next request, to create a pod, etc. so that it is ready to be used. Otherwise, as @liggitt says, continual rejection by admission controller until secret is g

[2015-11-11 09:18] davidopp commented on #17035
* GPU is simple; I agree with @erictune 's analysis. Though I would say that whether we want to implement a generic counted resource now is debatable. Just doing GPU as a new resource like CPU or memory is a bit easier.

* Reserved cores and NUMA nodes are more complicated because the input from the user is likely to be aggregate CPU or aggregate memory, and then either the scheduler has to know t

[2015-11-11 09:21] kevintsai opened #17103 "The v1.1 of Kubernetes Installation for CentOS is point to v0.18"
Hi, I follow the document [1] to install the v1.1.1 which Kubernetes released the very nice new features and improvements [2].
The environment that I use is CentOS 7.1.
I found the virt7-testing is pointing to v0.18, and also I tried default repo is v1.0.3,
 and virt7-docker-common-candidate repo is 1.2.0.alpha1.

I wonder whether CentOS users could have an official way to install the v1.1.1 by th

[2015-11-11 09:45] jstrachan commented on #4210
My initial motivation for this issue was the idea of tooling so that folks could configure an app/chart/package that was installed in kubernetes (and so editing the RC / DC / pod) using automated tooling which grokked the shape of the configuration (mostly env vars really). Particularly with the idea of consuming OOTB apps (e.g. with things like Helm) or moving apps between environments and making

[2015-11-11 10:26] llarsson opened #17104 "mysql-wordpress-pd missing nodePort definition in mysql Service"
When I try to run the [mysql-wordpress-pd](https://github.com/kubernetes/kubernetes/tree/release-1.1/examples/mysql-wordpress-pd) example, I get the following error:

[code]

Obviously, I do not want to expose the MySQL service to the public internet, so what should I change to make this work?

I am running the following versions (installed today using the official installation script onto AWS).

[2015-11-11 10:46] llarsson commented on #17104
It could be that I mistakenly thought 1.1.1 was the latest stable version, but according to the [stable version URL](https://storage.googleapis.com/kubernetes-release/release/stable.txt) used by get.k8s.io, 1.0.7 is. That would explain why my server is a different version than my command line client.

[2015-11-11 10:49] llarsson commented on #17104
Yes, sure enough, using the same version of the command line client as the server made it work.

The error message is still interesting, though, since a `nodePort` really should not be required since the service type is `ClusterIP` (default value chosen due to not being specified).

[2015-11-11 10:50] #17104 closed

[2015-11-11 10:52] llarsson opened #17105 "Stable release finder URL still reports v1.0.7"
https://storage.googleapis.com/kubernetes-release/release/stable.txt

The above link, as of right now, reports v1.0.7 as the stable release, even though v1.1.1 came out two days ago. This caused me to experience #17104. Please fix.

[2015-11-11 11:15] remoe opened #17107 "Migration Guide for 1.0.x to 1.1.x ?"
I didn't found any migration guide from 1.0.x to 1.1.x. Is it backward compatible?

[2015-11-11 11:20] biswars commented on #14170
Useful. But how to schedule the fluentd-elasticsearch pod on **all the nodes** of the cluster ? On GCE, it runs on all nodes after the cluster set up is successful.
What would be the RC specification (yaml file) to achieve the same if the cluster set up is manual i.e, bare metal ubuntu/centos machines.

[2015-11-11 11:46] leonfs commented on #4710
+1. It would be great to set environment variables from a file in a Pod. Docker already support this feature with property --env-file. This feature mixed with secrets makes a powerful combination.

http://docs.docker.com/v1.8/reference/commandline/run/

At the moment I'm having to use a quirky modification to the command:
command: ["/bin/sh", "-ac", ". /var/my-environment-file; /app/myapp"]

[2015-11-11 12:21] dalanlan opened #17109 "[v1.1.1] controller manager fails immediately when api-server is not up"
IIUC, `controller manager` is expected to wait 10s before it fails when `api-server` is not up (Ref #16413). Yet it doesn't.

[code]
k8s version

[code]

[2015-11-11 12:21] dalanlan commented on #17109
/cc @WIZARD-CXY

[2015-11-11 13:02] llarsson commented on #3920
I would like something similar to this, because some tasks require logging in to each node and modifying it.

One such case is installing GlusterFS on the nodes themselves, as mentioned in [the official GlusterFS example](http://kubernetes.io/v1.0/examples/glusterfs/).

[2015-11-11 13:26] brandoncole commented on #14404
Okay, we got it again this morning.  Here's how the pod is described:

[code]

And here are the docker processes on the minion:

[code]

It never recovers from this state unless we explicitly delete the pod `geometry-bwhet`  Based on the annotation of `docker ps` it looks like the `ce0337141e7e` is the expected container, but Kubernetes is looking for `abdf6642fa383`

[2015-11-11 13:39] feiskyer commented on #13768
@brendandburns @dchen1107 Filed design for client/server implementation of the container runtime at #17048

[2015-11-11 13:40] jon-shanks opened #17112 "security improvement on restrictions on pod schema"
Hi,

As an organisation, we have a requirement to restrict what type of requests we want to handle in relation to the json schema someone will supply i.e. The admissioncontroller is already mitigating some parts of this i.e. resource limits etc. However, we also want to prevent people running containers in privileged mode or adding specific capabilities or perhaps mounting specific OS filesystems

[2015-11-11 13:50] apeeyush opened #17113 "Incorrect OOM score description in kubelet/qos"
The comment in qos code says

    The OOM score of a process is the percentage of memory it consumes
    multiplied by 100 (barring exceptional cases) + a configurable quantity
    which is between -1000 and 1000.

Here, it should be 10 and not 100 as mentioned in http://serverfault.com/questions/571319/how-is-kernel-oom-score-calculated and https://lwn.net/Articles/391222/

[2015-11-11 14:34] zmerlynn opened #17115 ""kubectl proxy" could rewrite absolute URLs using session cookies"
Springboarding off https://github.com/kubernetes/kubernetes/issues/17032#issuecomment-155622936: Right now, `kubectl proxy` (and the apiserver proxy) can't handle applications that do things like request absolute URLs in JavaScript. As more and more modern frameworks do this, this is going to limit the usefulness of the proxy. A proposal for a possibly evil way to handle this in `kubectl proxy`:
-

[2015-11-11 14:40] zmerlynn commented on #17027
@davidopp: I'm trying to figure out what distinction you're making here. Are you proposing a common repo for metadata (e.g. a place for helm / DM / etc to grab), with separate repos for each thing? I considered that briefly, but the referential integrity makes me not want to do that: You really want to store k8s resources at the same time as you're updating a DM template or helm package, I think.

[2015-11-11 14:59] zmerlynn commented on #17027
FWIW, I'm leaning towards two wildly different directions:

1. A central repo (and possibly separate org) where we are fairly open on who can contribute, though I expect you'd be expected to play within your playground. (I expect this would probably still be Google CLA, though.)
1. A loose confederacy of Git URLs, centrally maintained, where one can find DM, OpenShift, helm, etc. templates. At the

[2015-11-11 15:27] PeterLamar commented on #11696
Looks like solution is merged with #11720. Close issue?

[2015-11-11 15:54] derekwaynecarr commented on #17098
**Some background:**
I am working on making the quota system more rapidly observe freed up compute resources in response to pod state changes.  This will greatly assist users that want to run many short-lived run-once pods by not having to wait for the quota system to recognize that compute resource is available.  Hope to have a PR this week.  We should then provide some measure of QoS on how rapi

[2015-11-11 15:57] bgrant0607 commented on #17064
I agree this would be useful, but there are details to figure out.

Presumably these params would map to the Docker client we use, rather than the remote API itself?
https://github.com/fsouza/go-dockerclient/blob/master/container.go#L187

And the params would be deserialized directly into that struct? We'd still be limited by the version of that client we were pinned to.

We'd need to document tha

[2015-11-11 16:00] pidah commented on #13056
@justinsb :+1:

[2015-11-11 16:06] PeterLamar commented on #284
Issue seems out of date. Close?

[2015-11-11 16:10] derekwaynecarr commented on #17097
I like this.

[2015-11-11 16:19] utahcon commented on #17090
Yes, following the coreos guide, and I have posted there as well. Thanks.

[2015-11-11 16:25] timothysc commented on #17027
As a community option 1 would have to be cncf owned, not directly under googles perview.

[2015-11-11 16:39] mattmoor commented on #17086
@dchen1107 I see a ton of unauthenticated requests for this project.

[2015-11-11 17:03] lavalamp commented on #17018
I doubt it's a bug in go. (go1.5 had an unrelated bug, maybe that's what you're thinking of.) We haven't actually flipped 1.5 on so I may sit on this for a bit.

[2015-11-11 17:04] thockin opened #17116 "RepackSubsets (endpoints) loses invalid subsets"
If I submit an Enpoints object that has no addresses or notReadyAddresses (which is invalid and covered by validation), the whole subset gets silently dropped.

We should a) not do that and b) test for that.

[2015-11-11 17:07] zmerlynn commented on #17027
@timothysc: Fixed comment. I expect at some point the @googlebot will magically transform into @cncfbot anyways.

[2015-11-11 17:08] thockin commented on #17116
@smarterclayton This is an interesting case.  We're calling repack to "canonicalize" the representation, but we're calling it from strategy.PrepareForCreate() which is BEFORE strategy.Validate(), but I really want to run it AFTER validation.  Consider that there is an error in validation - I might feed back field paths or indexes that don't match what the user gave us.

What think of a post-valida

[2015-11-11 17:08] #11696 closed

[2015-11-11 17:21] mikedanese commented on #17090
coreos/coreos-kubernetes#140

[2015-11-11 17:26] eliaslevy opened #17117 "Podmaster should be integrated into hyperkube"
Podmaster is an integral component of a Kubernetes HA cluster.  It should be released within hyperkube along with other k2s components to ensure compatibility of releases and ease of set up.

[2015-11-11 17:31] mattmoor opened #17118 "RegistryPullQPS should have a sane default"
We've seen several instances now where folks in a crash loop run afoul of GCR's Denial of Service limits (HTTP status: 429), due to a mix of pull policy (e.g. PullAlways) and no configured registry QPS throttle:
https://github.com/kubernetes/kubernetes/blob/bfc60709b1fe69d1d4509f5ba1c83156b84d5c33/cmd/kubelet/app/server.go#L225

There is the customer issue: The kubelet shouldn't eat through a user

[2015-11-11 17:31] mattmoor commented on #17118
@dchen1107 @roberthbailey FYI

[2015-11-11 17:34] mattmoor commented on #17086
@brendandburns FYI

[2015-11-11 17:36] quinton-hoole commented on #17035
@erictune @therc Can either of you shed any more light on the details of the use case here?  There are several major use cases for GPU's (movie rendering, machine learning...), and they can have substantially different requirements beyond the actual GPU specifics (storage, network bandwidth etc).  We should make sure that we enable the whole use case, not just the GPU part of it.

[2015-11-11 17:39] yujuhong commented on #14404
kubelet looks at the dead containers as well to report status such as "LastTerminationState".

The status of the `abdf6642fa383` is what interests me.

@brandoncole, next time when it happens, could you check the status of the container that kubelet failed to query? Thanks!
 -  `docker ps -a | grep abdf6642fa383`
 -  `docker inspect abdf6642fa383`

[2015-11-11 18:00] bprashanth commented on #12732
Oh, I thought you'd have some fallback option that self signed the cert using openssl -x509.

Yeah I'm trying to figure out a non-manual cert generation strategy for "real" domain names that one would acquire via cloud dns, say.

[2015-11-11 18:04] jlowdermilk opened #17119 "Concurrent runs of L7 E2Es can't share a project"
Test is now permanently failing (see [gce-disruptive-1.1](http://kubekins.dls.corp.google.com/view/CI%201.1/job/kubernetes-e2e-gce-disruptive-1.1/178/testReport/history/)). It's failing in the cleanup step waiting for the backends to be removed.

It looks like it the backends are eventually removed, since the project isn't filling up with old ones. Not sure if the timeout is too short or something

[2015-11-11 18:09] dchen1107 commented on #17086
An update: @brendandburns figured out the root cause of the issue: Pantheon is creating clusters w/o the storage read scope, and oncall is fixing it.

[2015-11-11 18:13] dchen1107 commented on #17118
Which version of Kubelet? Kubelet 1.1 has image pulling backoff.

[2015-11-11 18:20] bprashanth commented on #17119
It's failing to start because it asserts the initial condition that no l7s exist. I would expect this to happen if 2 instances of the same test ran in parallel somehow, since the last run that passed checked that no l7s exist, and then it started failing. Will follow up.

[2015-11-11 18:23] roberthbailey commented on #17086
@michaelukpong does your GKE cluster still exist?

[2015-11-11 18:27] roberthbailey commented on #17086
It looks like you deleted your cluster already. Creating a new cluster should resolve this issue for you. Sorry for the trouble.

[2015-11-11 18:27] #17086 closed

[2015-11-11 18:29] dchen1107 commented on #17118
Also with Kubelet 1.1, we disabled concurrent docker pulling by default on kubelet too.

[2015-11-11 18:30] jayunit100 commented on #17063
jeff reply `@googlebot i signed it!`

[2015-11-11 18:31] pmorie opened #17120 "Clean up code in reflector example"
It's a little messy and hard to understand -- @jeffvance @jayunit100 are interested in this, I think.

[2015-11-11 18:31] roberthbailey commented on #17118
This was seen with 1.0.x kubelets.

[2015-11-11 18:32] aveshagarwal commented on #6596
@pmorie could you close it please?

[2015-11-11 18:32] yujuhong commented on #12619
Understood. Thanks for the explanation.

Adding the raw pod status would involve some significant refactoring. I have the first batch of WIP commits to add this in the runtime interface, along with the implementation in dockertools https://github.com/yujuhong/kubernetes/tree/raw_status. If we decide to do it, the TODOs will be
 - Add the implementation in rkt too
 - Change kubelet code to use RawP

[2015-11-11 18:34] jlowdermilk commented on #17119
It can't make the initial assumption that no l7s exist, otherwise you can't run more than one instance of the test per project (which is what we are currently doing on kubernetes-jenkins). It's unfortunate that backends aren't created with an identifying name, otherwise we could assert that the ones the test created get cleaned up.

[2015-11-11 18:43] bprashanth commented on #17119
Yes, the test should be resilient to parallel execution. Backends are ref counted because they're so limited in quota, so a backend existing is completely fine. Ref counting gets messy if you try to segment backends per test. WDYT about disabling the test on soak (which I think is the only other suites that does this) till I've done what I need to?

[2015-11-11 18:43] jimmidyson commented on #12732
I'm probably going to add a self-signed cert generator but programatically rather than execing openssl.

[2015-11-11 18:48] boulos commented on #14186
@bgrant0607 Ahh, I didn't realize ```ActiveDeadlineSeconds``` was on Pods already (rather than just proposed as part of step 1).  Why do we need an additional one then?  Would a ```Job```'s deadline override the per-Pod description?  What happens when you don't specify this on the Job but the underlying Pods?  Scanning through #11746, I don't see a convincing argument (other than "yeah, specify it

[2015-11-11 18:53] bacongobbler commented on #17027
Just poking in this thread now, but helm does have support for alternate git paths:

[code]

If we change the `default` value in config.yaml to `bacongobbler`, it now becomes the default repository:

[code]

Just trying to clear up some information on this. Always happy to answer more questions. Obviously we'd love more feedback on helm and https://github.com/deis/charts (which is where we store o

[2015-11-11 18:57] boulos commented on #14188
@davidopp yeah, I didn't see that one linked anywhere (thanks).  And yes, as @erictune said earlier: if I'm running a Job for an hour or so, I'm not super concerned about partitions causing me to get into some weird state.  In particular, any system that relies on cooperation is going to realize his buddies are gone (e.g. Hadoop or MPI) and likely kill the whole thing.  We obviously don't promise

[2015-11-11 18:58] zmerlynn commented on #17027
@bacongobbler: Thanks, I actually corrected in https://github.com/kubernetes/kubernetes/issues/17027#issuecomment-155241457, I just forgot to correct the first comment. I will soon (when I finish putting out another fire). :)

[2015-11-11 19:01] jayunit100 commented on #17120
yup, i had #15782 but now jeff will take over, goals

-  figure out how to test `Delete`, right now, the delete on the `downstream` source has no tested consequence.
- annotate the variables better in comments.
- conslolidate the asserted channel vals `"a","b","c"`

[2015-11-11 19:03] vishh commented on #3595
@shaylevi2: Look at the previous comment. Docker's current implementation isn't what we need.

[2015-11-11 19:11] thockin opened #17124 "ThirdPartyResource validation does not call ValidateObjectMeta()"
Instead, it does some minor form of manual validation.  It's not clear whether this is intentional or not.  We need either to fix it or a comment about why it is this way.  Ditto for updates.

@brendandburns

[2015-11-11 19:15] jayunit100 opened #17125 "Move Latency metric into retry block"
The Latency metrics in request.go are occuring at too high a granularity.

If they are only meant to measure the total time for request success (ignoring retries), we should comment them as such.

Otherwise, lets move them into the most granular part of the request() function,

See #16271 for origin of this discussion.

[2015-11-11 19:25] bgrant0607 commented on #831
cc @kelseyhightower @smarterclayton

[2015-11-11 19:25] quinton-hoole commented on #9576
@ihmccreery FYI, leaving this issue closed, as per @zmerlynn 's comment above. If anyone disagrees, please re-open this issue.

[2015-11-11 19:27] timstclair opened #17128 "Documentation search gives v1.0 results"
The google custom search on http://kubernetes.io/v1.1/ gives results for both v1.0 and v1.1, and the 1.0 results are often ranked higher than the 1.1 results. We should either update the custom search config to only crawl the latest version of the docs, or create multiple custom searches so searching from the 1.0 docs will give 1.0 results.

[2015-11-11 19:27] jeffvance commented on #17120
In Process this code block can be commented out with no negative impact on the test results:
...
} else {
                                // Update our downstream store.
                                //err := downstream.Delete(newest.Object)
                                //if err != nil {
                                //      return err
                                }
...

[2015-11-11 19:28] janetkuo commented on #15893
I merged the PR that updates robots.txt, regenerated sitemap.xml, and ran "resubmit sitemap" in [search console](https://www.google.com/webmasters/tools/sitemap-list?hl=en&siteUrl=http://kubernetes.io/#CARD_TAB=-1&MAIN_TAB=0).

[2015-11-11 19:29] jlowdermilk commented on #17119
fwiw, I'm not sure that multiple jobs running this test on the same project is the root cause. It's also failing on [gke-1.1-features](http://kubekins.dls.corp.google.com/view/GKE/job/kubernetes-e2e-gke-1.1-features/), which runs in a dedicated project.

[2015-11-11 19:30] timstclair opened #17129 "kubernetes.io/docs latest version link loses place"
The link on the 1.0 documentation "View the latest version here" should point to the 1.1 version of the same page (if it exists). Currently, it just navigates to the root page (http://kubernetes.io/docs).

[2015-11-11 19:35] quinton-hoole commented on #16961
@ihmccreery @a-robinson Agree on not supporting bidirectional version skews, unless someone comes up with a legitimate use case for that.  My preference would be to eliminate version skew to the maximum extent possible (e.g. mandate a strict ordering of master upgrade before node upgrade, and restrict version skew in that case to a maximum of one minor version difference, purely to allow asynchron

[2015-11-11 19:40] scrisenbery commented on #831
@kjvalencik Will the pod work in JSON?

[2015-11-11 19:40] bgrant0607 commented on #831
Quick note:

We need (at least) 2 things:
1. mount from another image
2. run container to populate a volume

[2015-11-11 19:46] scrisenbery commented on #831
I think the config file use case is a good one for this issue though. While a secret does appear to provide the functionality I need, I suspect that isn't really what a secret is meant for.

[2015-11-11 19:48] bgrant0607 commented on #1589
The init container should be in its own pid namespace.
cc @vishh

[2015-11-11 19:52] timstclair commented on #17129
Duplicate of https://github.com/kubernetes/kubernetes/issues/15893

[2015-11-11 19:55] jayunit100 commented on #17125
cc @jeffvance

Look at the comments in PR https://github.com/kubernetes/kubernetes/pull/16271/files , specifically, lets move Latency metric into the for loop.

[2015-11-11 19:55] zmerlynn commented on #831
@scrisenbery: I believe #6477 is meant to cover the config file case well before we hit this issue. I'm actually looking forward to this issue for large blob sidecars: things like `.jar` files, or Jenkins plugins, etc., that you want to compose with a base image.

[2015-11-11 19:55] technosophos commented on #17027
The central problem @zmerlynn raises is _exactly_ what we were trying to address by building Helm. We're not trying to solve deployment, CI/CD, templating, etc. [Helm](helm.sh) is intended to make it easy to find, modify, and use Kubernetes manifests for a wide variety of apps. So I'm really excited to see this post here because it's a topic we are really passionate about.

I would like to weigh i

[2015-11-11 19:55] derekwaynecarr opened #17130 "CronJob controller should use shared informers"
All of these controllers follow the same basic pattern.

Internally, maintain a cache.Store of X.
Watch for changes to Y.
When Y changes to a GetThingThatManagesY

That last function is usually like:
store.GetPodControllers()

which does an O(N) search to find matching rc by namespace and label selector.

All of these controllers should use an IndexerInformer to at least filter first on namespace

[2015-11-11 19:57] jayunit100 commented on #17063
Closing, as this PR is pending...

[2015-11-11 19:57] #17063 closed

[2015-11-11 19:59] jackgr commented on #17027
@davidopp My suggestion was not that @zmerlynn wait to see what format the community settles on, but rather for /examples to wait on adopting any templating format until we see what the community wants. Clearly, @zmerlynn needs to pick something that helps him deliver turn key solutions, given the project charter.

[2015-11-11 20:00] scrisenbery commented on #831
Thanks @zmerlynn, I had not come across that one before. It seems like that's still a work-in-progress too, right? So for the moment I'm limited to secrets?

[2015-11-11 20:14] therc commented on #17035
This is for machine learning. GPU resource scheduling is, as pointed out, just the tip of the iceberg, but it'd be a start, even in a limited form. An added twist is that, in addition to getting exclusive access to /dev/nvidiaX, the container needs shared access to /dev/nvidiactl and /dev/nvidia-uvm. (I'm trying to not only get something running under Kubernetes, but also tighten the setup)

[2015-11-11 20:18] aaronlevy commented on #16961
CoreOS currently ships the Kubelet as part of the OS image, and the scenario I was testing against is an updated kubelet (1.1) shipping with a new OS version, while the master components remain unchanged.

If this type of use case isn't supported, it means an automated global update of the kubelet in the OS image requires a manual step by all CoreOS/Kubernetes users. For example, all users would n

[2015-11-11 20:22] jackgr commented on #17027
@technosophos +1 to your points about the motivation for repos that hold multiple types/packages. One repo per type/package would lead to a massive proliferation of repos.

That said, I believe @zmerlynn is touching on a different issue: whether or not there should be a CNCF owned *official* repository. We agree with him that there should be such a thing, and that CNCF should own it.

Of course, a

[2015-11-11 21:00] timstclair commented on #17129
Closed the wrong issue. Sorry for the spam.

[2015-11-11 21:01] timstclair commented on #17128
Duplicate of #15893

[2015-11-11 21:01] #17128 closed

[2015-11-11 21:14] ixdy commented on #17079
related #4871

[2015-11-11 21:20] janetkuo commented on #17010
@nikhiljindal file names / image specified when rolling-back will generate error `Don't specify --filename or --image on rollback` on HEAD (but not v1.0.6).

I'll update the help text of `kubectl rolling-update` for --rollback.

[2015-11-11 21:23] pmorie commented on #14186
@bgrant0607 Can you clarify what type of backoff you're referring to here?

[2015-11-11 21:38] bprashanth commented on #17088
Nope, not allowing this was a conscious decision (but one that I can be convinced against). Can you describe your use case? The beta model partitions users on namespace boundaries and disallows service sharing across namespaces. You might argue that you want a single loadbalancer for the entire cluster, to which I ask, what is in the namespaces? i.e why not use 1 namespace if you want to allow sha

[2015-11-11 21:40] paralin commented on #17088
@bprashanth I'm running multiple projects on a cluster - kubernetes tests, blog, API for a project. I want to address these as subdomains on my domain using a single ingress controller because load balancers and IP addresses are expensive on GCE.

[2015-11-11 21:50] quinton-hoole commented on #11751
Given that this has remained unresolved for several months, I'm having a hard time understanding why it's suddenly P0, given that we did not block the release of v1.1 on this.  Reducing to P1.

[2015-11-11 21:59] timothysc commented on #1957
just giving this a poke as @wojtek-t and myself have been slowly "exorcising" the code base to enable multiple backends which should be predicated on leveraging the storage abstraction layer.

[2015-11-11 21:59] bprashanth commented on #17119
Aha, ok multiple issues all probably my problem in some way.

* Why was gke-1.1-features complaining?

Test uses `gcloud compute` to list backends, on jenkins master
[code]
So even though there were no backend services in gke-1.1-features the test thought there were.

* Where did these backend services come from?

Gce-soak

* Why did they keep coming back?

This is a hard one. Everytime the l7-con

[2015-11-11 22:17] #6532 closed

[2015-11-11 22:19] bgrant0607 commented on #16998
I want the examples test to be able to test the multiple-resource files.

[2015-11-11 22:22] paralin commented on #16998
That's going to require modifying the example_test.go I think.

[2015-11-11 22:24] nikhiljindal commented on #17010
I synced my code to HEAD again and I get that error now.
Thanks @janetkuo

[2015-11-11 22:31] technosophos commented on #17027
@timothysc you listed three things that you thought were important:

- well defined semantics around versioning etc.
- ability to earn package acceptance
- feedback mechanics for failed packages

I think you're exactly right about that (we've basically been trying to [formalize](https://github.com/deis/helm/blob/master/docs/architecture.md#the-chart-metadata-file) [that](https://github.com/deis/he

[2015-11-11 22:43] technosophos commented on #17027
Having re-read the thread, I feel like consensus seems to be developing around a few central themes:

- There should be a collection of Kubernetes manifests that represent "vetted" packages
- There should be a set of best practices that include versioning semantics, transparency of the package vetting process, and testing
- There has been discussion of whether it should be one package per repo or

[2015-11-11 22:52] timothysc commented on #17027
If I use fedora/EL as a baseline example of how-to create a os/dcos distribution, which is what this is, then an analogous representation would be a list of independent git repositories with defined branches (f21, f22, f23, rawhide) those branches represent the particular distribution in this case it would be k8s11, k8s12, etc.

Those repositories are then tied to a main repository/db that referen

[2015-11-11 23:13] jlowdermilk commented on #14335
Fixed by #16345, and fix made it into 1.1.1, so closing this. If you want to spin up a cluster that uses existing kubeconfig credentials, export the context to use as `KUBE_CONTEXT` before running `kube-up.sh`

[2015-11-11 23:13] #14335 closed

[2015-11-11 23:17] tombenner commented on #14335
Great, thanks!

[2015-11-11 23:22] bgrant0607 commented on #11492
Special case: a service and corresponding access secret(s) and client config.

[2015-11-11 23:27] janetkuo commented on #15893
Closing this since all todos are done.

[2015-11-11 23:27] #15893 closed

[2015-11-11 23:30] janetkuo commented on #17129
This is expected behavior, and http://kubernetes.io/docs should always redirect to the latest release (i.e. http://kubernetes.io/v1.1/). Are you not seeing it redirects to v1.1 docs?
cc @caesarxuchao

[2015-11-11 23:35] timstclair commented on #17129
What I meant is if I'm on (for example) http://kubernetes.io/v1.0/docs/user-guide/downward-api.html and click "View the latest version here" link, it should take me to http://kubernetes.io/v1.1/docs/user-guide/downward-api.html, not http://kubernetes.io/docs

[2015-11-11 23:35] timstclair commented on #17129
I have a fix, just cleaning it up.

[2015-11-11 23:38] janetkuo commented on #17129
@timstclair I see. Thanks for the upcoming fix.

[2015-11-12 00:17] lavalamp opened #17139 "Sort out $GOPATH dependencies in hack/* scripts"
I notice that we could eliminate a ton of bash building logic if we just required people to set up their GOPATH correctly. That means:

1. Make a new GOPATH for kubernetes.
2. Your kubernetes source code is located at $GOPATH/src/k8s.io/kubernetes
3. You've run `godep restore`. (and re-run as necessary when deps change) (or you're willing to say `godep go build ...` everywhere.)

Anyone using tool

[2015-11-12 00:42] janetkuo opened #17143 "Support autoscale deployments"
Follow up #15739
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L298

[2015-11-12 01:06] JunejaTung commented on #16836
@ArtfulCoder  I'm sorry! My kubernetes is in private network, cann't access outside! Maybe we can try QQ (Provide by tencent) IM  to remote control my vitrual-machine? or other IM ? I'm in city hangzhou, china.
Another way, can you tell me what to debug? I can try it out.

[2015-11-12 01:10] bgrant0607 commented on #16961
Alex mentioned this to me at Kubecon.

Does CoreOS have continuous version-skew testing in this direction (node first, then master)?

[2015-11-12 01:11] bprashanth opened #17144 "Kubectl can do smart things with partial names"
I create RCs with proper names, like nginx, and my pods end up being named nginx-12kl or something. So everytime I need the logs of a pod, i need to get all pods, find this pod, copy the name, get logs. Same for exec. I feel like `kubectl action nginx` can do smart things:
1. List pods
2. If theres only 1 pod with that prefix, use it
3. If there are multiple pods, output `No pod named nginx, do yo

[2015-11-12 01:17] bgrant0607 commented on #17064
Re. a more general form of annotations: #12226

[2015-11-12 01:53] dalanlan commented on #16987
@yujuhong What's bothering me is that I cannot really catch the real reason for this potential race condition, even though I'm fully aware that `kubelet` doesn't either guarantee the upstart order nor handle container dependencies.
Say `api-server` is up expectedly while `controller-manager` fails 'cause lack of the key files. In this case, `kubelet` would sync pod continuously and even restart `c

[2015-11-12 02:11] aaronlevy commented on #16961
In this case the version skew testing was done manually, but this is something we would add to test kubelet updates in the OS releases.

[2015-11-12 02:28] ztao1987 commented on #17094
I got explanation for case #1 from flannel community, it's mentioned that "Because namenode is accessed as a service, the connection goes through kube-proxy, so all connections are actually coming from it (and its connections bind to docker0 interface). I think it would be best to ask Kubernetes community for best practices for working around this problem.". So I am wondering if there is any worka

[2015-11-12 02:31] resouer commented on #14484
Just some thoughts ...

1. When the cluster is small, this is doing the same thing as `CalculateSpreadPriority` did.

2. It's a soft constraint, I'm not very convinced that it can contribute enough to resource efficiency and PUE, especially when considering it with all other priorities.

3. This use case is user/upper layer specific, default scheduler is expected to be more generic, otherwise, use

[2015-11-12 02:32] resouer commented on #14816
@davidopp Any update here?

[2015-11-12 02:34] resouer commented on #831
See my comments about the sidecar mode in my gist: https://gist.github.com/resouer/378bcdaef1d9601ed6aa

And sorry for my late response.

[2015-11-12 02:34] resouer commented on #831
See my comments about the sidecar mode in my gist: https://gist.github.com/resouer/378bcdaef1d9601ed6aa

And sorry for my late response.

[2015-11-12 02:34] resouer commented on #831
See my comments about the sidecar mode in my gist: https://gist.github.com/resouer/378bcdaef1d9601ed6aa

And sorry for my late response.

[2015-11-12 02:44] bgrant0607 commented on #16089
We also should link from the overview to the generated reference docs.

[2015-11-12 02:48] bgrant0607 commented on #17129
cc @caesarxuchao

[2015-11-12 02:48] dalanlan opened #17146 "kubelet should clean up volume(secrets) when it deletes pods"
Yet it doesn't currently.
[code]

[2015-11-12 02:54] bgrant0607 commented on #16981
@daizuozhuo could you please write a doc to explain the syntax and some examples?

[2015-11-12 02:55] bgrant0607 commented on #7034
Done

[2015-11-12 02:55] #7034 closed

[2015-11-12 02:55] bgrant0607 commented on #17146
cc @pmorie

[2015-11-12 02:56] bgrant0607 commented on #17146
Could this be due to graceful pod termination? Do the pods still exist?

[2015-11-12 02:59] bgrant0607 commented on #14924
Dupe of #11933, but we need the content in that other issue as well.

[2015-11-12 03:02] dalanlan commented on #17146
You caught me! Volume mount only exists when the pod is `Terminating`, and it takes quite a while.
Thanks. Closing it.

[2015-11-12 03:02] #17146 closed

[2015-11-12 03:06] bgrant0607 commented on #16715
cc @jeffmendoza @amygdala

[2015-11-12 03:10] bgrant0607 commented on #16454
Thanks. They have been updated in head, but need to be updated again. A PR would be welcome.

[2015-11-12 03:10] HaiyangDING commented on #14484
I have not communicated with @kevin-wangzefeng on this issue, yet. I think @resouer does have some point here. Just post some of my thoughts to share with @resouer and @kevin-wangzefeng .

I do not think they are the same thing. `CalculateSpreadPriority` considers only pods belonging to the same service (call serviceA here) while what @kevin-wangzefeng is trying to do is to take those pods belongi

[2015-11-12 03:13] dalanlan opened #17147 "[ubuntu] kube-down gracefully"
kube-down should be conducted only after all of the resouces being deleted completely. Otherwise we would suffer
[code]

[2015-11-12 03:17] bgrant0607 commented on #16087
Annoyingly, the 1.1 docs use 1.0.1. We need to munge these references, similar to links to version-specific docs.

[2015-11-12 03:21] bgrant0607 commented on #14304
See also #14961: controllerRef would help

[2015-11-12 03:24] bgrant0607 commented on #9097
What's left to do here?

[2015-11-12 03:26] bgrant0607 commented on #15916
Can we write a link checker?

[2015-11-12 03:38] resouer commented on #16706
@lavalamp I am also hesitate to add a more flags. So watch this to see if any work around ...

[2015-11-12 04:15] bgrant0607 commented on #2839
http://www.literateprogramming.com/documentation.pdf has a useful breakdown on page 5.

[2015-11-12 04:31] resouer commented on #16741
Here's my thoughts. **I don't think there is an "easy" example here**, since:

There's no problem to have a easy network fs server running in Pods. (actually, I tested both glusterfs & ceph server in pods, it works).

But:
1. Any client pod have to **require fs utils/client** installed on the host, I'm afraid that's how volume plugins implemented now: it requires mounter is available on the host.

[2015-11-12 04:32] resouer commented on #16741
@erictune Er ... and I noticed you did not mention flocker in the issue ...

[2015-11-12 04:44] daizuozhuo commented on #16981
Of course. I will write it.

2015年11月12日星期四，Brian Grant <notifications@github.com> 写道：

--
Daizuozhuo戴作卓<daiuzuozhuo@gmail.com>

[2015-11-12 04:53] sgoings commented on #16913
I can't seem to reproduce this, @feiskyer - are you still having this problem? If so, what commit of Kubernetes are you using?

[2015-11-12 05:01] bprashanth commented on #17080
The docs on k8s.io don't seem to contain https://github.com/kubernetes/kubernetes/pull/16959. The plan was to include a link to cluster/addons from there. Presumably that cherry-pick missed some k8s.io doc train, @caesarxuchao do you know what one needs to do to update docs on k8s.io?

[2015-11-12 05:04] mikedanese commented on #16741
Flocker isn't a storage provider AFAIK.

[2015-11-12 05:07] sgoings commented on #15424
The rm that fails is visible in the stacktrace posted above and is correctly executing an `rm -rf`:
https://github.com/kubernetes/kubernetes/blob/master/Makefile#L97

After reviewing the call stack here... and looking at the code around the failure: I think there might be something more suspicious happening on the Teamcity build agent (both failures happened on EC2-i-25a07df1-1, which seems to no

[2015-11-12 05:08] bgrant0607 commented on #16938
The resource-centric reference docs might be useful:
docs/pods/index.md
docs/pods/single-container.md
docs/pods/multi-container.md
docs/replicationcontrollers/index.md
docs/replicationcontrollers/operations.md
docs/services/index.md
docs/services/operations.md
docs/load-balancer.md

HOWEVER, these docs need to be updated to 1.1/HEAD, and we'd want to add such docs for the other resources.

I suspe

[2015-11-12 05:13] resouer commented on #16741
@mikedanese I'm not very faimilar about flocker,  it seems the main function of flocker is to fix volume to specific container?  So ,it's a volume management tool, right?

It makes things worse ... sad

[2015-11-12 05:17] luxas commented on #16987
@dalanlan Yes, I just said it might be possible, not proposed as an option for this file :)

[2015-11-12 05:18] philips commented on #16961
I think a very reasonable use case for version skew is simply being able to roll back a cluster upgrade midstream. Imagine I upgrade to kubernetes 1.1 and then start upgrading my kubelets. Then I find that kubernetes 1.1 control plane has a bug/performance problem/etc and so I rollback to kubernetes 1.0 control plane until I can solve the issue in 1.1.

I agree we should minimize version skew but

[2015-11-12 05:22] resouer commented on #17147
You mean we should `kubectl delete xxx --all` first?

[2015-11-12 05:27] dalanlan commented on #17147
We have done that, yet it takes time to finish, which we didn't take that into account.
That said, in most cases, especially there exist a large number of pods, things are not handled well.
I have a pr for this.

[2015-11-12 05:43] caesarxuchao commented on #17080
See https://github.com/kubernetes/kubernetes/pull/16567#issue-114174773.

After running the script, you can just check in the file you are interested.

Let me know if this doesn't work.

[2015-11-12 06:07] caesarxuchao commented on #9097
There are no big problems, but several enhancements nice to have. The left issues from smarterclayton's first comment
- [ ] Swagger model order is random because ApiDeclarations.Models is a map[string]Object. We need to convert it to a []... in the swagger serialization format.
- [ ] Our operation descriptions should be capitalized - those are used as headers and TOC lines in doc
- [ ] Our paths s

[2015-11-12 06:08] feiskyer commented on #16913
I'm using master branch of kubernetes.

[2015-11-12 06:08] feiskyer commented on #16913
Oh, Got it. It is because of symlink. There is no such problem if I change to real k8s path.

[2015-11-12 06:09] #16913 closed

[2015-11-12 06:15] feihujiang commented on #15830
Is there anybody working on this now? If not, I'd like to volunteer myself to do this work.

[2015-11-12 06:19] feihujiang commented on #15830
@lavalamp What does the ```help-wanted``` label mean?

[2015-11-12 06:20] dalanlan commented on #16987
/cc @brendandburns

[2015-11-12 06:29] aronchick opened #17150 "Kubernetes.io shows generic snippet when posting in #Kubernetes-users slack"
When pasting this URL into slack "http://kubernetes.io/v1.0/docs/user-guide/volumes.html#hostpath"

The snippet is not very useful. I would expect it to show a thumbnail that's more useful, or suppress the thumbnail. Can we update k8s.io to improve the snippet generation for our slack channel?

[2015-11-12 06:36] smarterclayton commented on #17035
Agree it's more complicated (Numa) but we're looking to enable the bare
minimum support that makes something usable possible for folks who are
already starting to exercise CPU/Numa aware workloads on Kube.  As
discussed with Eric we don't need efficient packing to start, but we do
want to ensure some minimal sanity.  Generic counted (or something like it)
is a good step in that direction if we can

[2015-11-12 06:42] smarterclayton commented on #1589
Draft concept:

1. Start the pod infra container
2. Setup networking
3. Initialize volumes
4. Start the "init" container and let it run to completion
5. Report init container status as normal from Kubelet
6. When init container succeeds, fails, or (maybe?) exceeds
InitDeadlineSeconds the container is terminated.  Any other result than
success should tear down the volumes and reset to step 3 (incre

[2015-11-12 06:51] davidopp commented on #17035
@smarterclayton Can you say more about the requirements and how you see it working? Is what you have in mind that a user would request some number of NUMA nodes, rather than aggregate memory request? If so, it seems you could instead just have the user request aggregate memory and then have the scheduler round it up to the NUMA node size, without having to introduce a new resource. For example, if

[2015-11-12 06:53] zhengguoyong commented on #17130
/sub

[2015-11-12 06:54] smarterclayton commented on #17116
Or PostValidation?  Agree for the need, I don't care strongly on the name.

On Nov 11, 2015, at 9:08 AM, Tim Hockin <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> This is an interesting
case. We're calling repack to "canonicalize" the representation, but we're
calling it from strategy.PrepareForCreate() which is BEFORE
strategy.Validate(), but I really want

[2015-11-12 07:03] smarterclayton opened #17151 "Upstream project node selector until #17097 is more general"
Origin project node selector allows an admin to:

* guarantee non cluster-admin upods can NOT land on a subset of nodes unless the admin wishes it
* ensure a namespace is forced to land pods on a default set of nodes

Until initializers are possible, or LimitRange is more flexible #17097, admins cannot isolate pods away from infra by default.

Add an optional admission controller that uses a clust

[2015-11-12 07:11] davidopp commented on #14816
Sorry, no. We had a lot of last-minute work for the 1.1 release and then I was out of the office for the lat week and a half. I will get back to this issue soon.

[2015-11-12 07:15] pikeas commented on #16083
+1, same setup as @chrisleck, which I believe is pretty common and considered best practices in AWS-land.

[2015-11-12 07:27] pikeas commented on #3920
+1, being new to k8s, I'd like to explore my masters and minions, which would be much easier if I could run `kubectl ssh <master or minion>`

[2015-11-12 07:31] pikeas commented on #14762
@vishh Ubuntu 15.04 is the default OS for AWS `kube-up`. I expect k8s to be well tested on this platform, or to switch the default install to a different OS.

Are there any other known issues or reasons not to run k8s on 15.04?

[2015-11-12 07:37] jimmidyson commented on #14762
I'm a little surprised it's the default. Could you share output from `docker info`?

[2015-11-12 07:42] pikeas commented on #16469
+1. Regarding whether to delete the EIP, could `kube-down` prompt the user for a Y/n?

Also, and this may be worth opening a separate issue, is there documentation somewhere on how to add an additional master? `kube-up` on AWS is single master. HA with an ELB would be nice to have, but multi-master should be supported out-of-the-box.

[2015-11-12 07:50] pikeas commented on #11934
+1, AWS should come up with an ASG in front of the master for self healing (in conjunction with master using an EIP, can't seem to find the issue # at the moment), or be configured with multiple masters (preferably still behind an ASG!).

[2015-11-12 07:52] #16626 closed

[2015-11-12 08:09] pmorie commented on #6596
Yep, thanks @aveshagarwal!

[2015-11-12 08:09] #6596 closed

[2015-11-12 08:20] llarsson commented on #3920
Not just for exploration, but those publicly exposed machines need software updates, too!

[2015-11-12 08:26] wojtek-t commented on #17139
I'm all for simplifying the scripts, but I'm not sure if you can get a lot out of the changes you're suggesting.
Do you have any concrete examples of a script that can be simplified with the change you suggested?

[2015-11-12 08:32] #17113 closed

[2015-11-12 09:11] michaelukpong commented on #17086
@roberthbailey Thanks guys, deleted the cluster and setting up a new cluster worked.

[2015-11-12 09:14] shenshouer opened #17154 "Cannot create rc: no nodes available to schedule pods!"
when I exec `kubectl create -f rc-nginx.yaml`,  all the status of pod is `Pending `, and got scheduler event :`no nodes available to schedule pods`
The version is v1.1.1 and coreOS 766.5.0
the status of nodes is:
<pre>
core@core-1-85 ~ $ kubectl get node
NAME         LABELS                              STATUS    AGE
10.12.1.89   kubernetes.io/hostname=10.12.1.89   Ready     16m
10.12.1.90   kubern

[2015-11-12 09:45] Random-Liu commented on #12619
Hmm...My understanding is that currently we do generatePodStatus() before and after SyncPod. However, only the "runtime related status" is needed during SyncPod(). Something like Phase, Condition etc. relies on the PodSpec and is never needed in SyncPod().
So in fact there should be two kinds of "PodStatus": one shows the up-to-date runtime status[Needed in SyncPod()]; another is generated before

[2015-11-12 09:51] bronger commented on #13761
Installing ethtool did not help me.  Upgrading to VirtualBox 5.0.10 did help.  Well, at least I got one step further.

[2015-11-12 10:02] soltysh commented on #14186
@sdminonne are you planning to putting a PR for this, if not I can handle it for you.

[2015-11-12 10:45] #16600 closed

[2015-11-12 11:02] orfjackal opened #17155 "API Reference: shows "(VAR_NAME)" instead of "$$(VAR_NAME)""
In <http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_container> it reads `The $(VAR_NAME) syntax can be escaped with a double , ie: (VAR_NAME).` but it should read `The $(VAR_NAME) syntax can be escaped with a double $$, i.e. $$(VAR_NAME).`

[2015-11-12 11:38] marcolenzo commented on #2630
@antoineco You suggested as a workaround for 1.0.X to perform a chown from the container's entrypoint. Do you have an example of that?

I can't seem to be able to see the mounted volume when I execute such command as the entrypoint. Is the volume mounted at a later stage?

[2015-11-12 11:57] nancykyo commented on #17103
seems that the repo file hasn't been updated.

[2015-11-12 11:58] nancykyo commented on #17154
I ran into same problem there. check your kube-scheduler process and log

`systemctl status kube-scheduler -l`
`journalctl -u kube-scheduler  -f`

[2015-11-12 12:32] 2opremio opened #17157 "Port-forwarding not working in containerized hyperkube due to missing socat command"
When trying to use `kubectl port-forward` against a containerized kubernetes cluster (i.e. deployed following https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md ) I get the following errors:

[code]

This is simply because the `socat` command is missing in the hyperkube container image. I will be creating a PR with a fix shortly.

[2015-11-12 12:36] zhengguoyong opened #17158 "Run unit test fail"
i run make first, and it success, then i run hack/test-go.sh, it failed,
follow is the log, would somebody know why? how should i fix this?
thanks so much.

root@zgy:~/code/kubernetes/src/k8s.io/kubernetes# make
hack/build-go.sh
+++ [1112 20:29:07] Building go targets for linux/amd64:
    cmd/kube-proxy
    cmd/kube-apiserver
    cmd/kube-controller-manager
    cmd/kubelet
    cmd/kubemark
    cmd

[2015-11-12 13:22] remoe commented on #17107
I've found this:

https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md#upgrades

So it should run?

[2015-11-12 13:23] pavelbucek commented on #13321
this is not just about OpenSSL. I had very same issue with missing "sudo" command.

see around line 225:
[code]

[2015-11-12 13:24] roflmao opened #17160 "elasticsearch-logging-v1 dies and is gone after some minutes"
Trying to start a elasticsearch-logging-v1 in my GKE 1.1.1 cluster.

Starting with: kubectl create -f es-controller.yaml
I see my 2 pods with  kubectl get pods --namespace kube-system and can log into the pods and see that elasticsearch runs.
After some minutes i get thrown out and my 2 pods are gone. I can not locate any logs regarding this. Where should i start to look?

es-controller.yaml:
[cod

[2015-11-12 13:30] justinsb commented on #11934
Good news is I have this working on a branch.  Bad news is that the diff is pretty substantial.  I am cherry picking smaller PRs across so that the remaining changes become palatable!

[2015-11-12 14:18] bronger commented on #13761
[I removed my previous message from Github as it turned out to be incorrect.]

I installed ethtool, but it didn't change anything for me.  An update of VirtualBox to 5.0.10 at least sometimes brings me one step further: Instead of "connection reset by peer" as decribed in the first post of this issue, I get "couldn't read version from server: Get https://10.245.1.2/api: dial tcp 10.245.1.2:443: co

[2015-11-12 14:25] antoineco commented on #2630
@marcolenzo Nothing fancy, I use a tiny bash script as my entrypoint: `ENTRYPOINT ["/run.sh"]`
This script sets the correct permissions on the shared volume(s) and then starts my service. Example:

[code]

[2015-11-12 14:26] apeeyush commented on #13761
@bronger  `couldn't read version from server: Get https://10.245.1.2/api: dial tcp 10.245.1.2:443: connection refused` might be caused because of insufficient memory in the master node. You could try increasing the memory allocated to the master node (and maybe minion as well) in the Vagrantfile.

[2015-11-12 14:45] onlyjob opened #17162 "Noisy logs with latest github.com/golang/glog"
Almost every logged message is prefixed with `ERROR: logging before flag.Parse` if [github.com/golang/glog](http://github.com/golang/glog) is updated to the latest snapshot.
Apparently it is caused by https://github.com/golang/glog/commit/65d674618f712aa808a7d0104131b9206fc3d5ad which requires changes in Kubernetes...

[2015-11-12 14:51] schristann commented on #11172
--cloud-provider=""

This empty string really helped a lot ^^ .. thank you

[2015-11-12 14:57] andrewmichaelsmith commented on #11172
hit this upgrading from 1.0.6 to 1.1

[2015-11-12 15:36] bronger commented on #13761
Unfortunately, increasing memory to 2 or 3GB does not help.  (WIth 3GB, the minion provisioning abort with "Failed to run install_fedora_deps()!!!" --- never had this before.)

[2015-11-12 15:40] quinton-hoole commented on #16961
Thanks @aaronlevy @philips - yes, those are exactly the types of legitimate use cases that I was hoping to illicit.  I think that we need to support this.

[2015-11-12 16:33] drora commented on #13997
just deployed kube release v1.1.1 on t2.medium instances with 32gb ebs
minion-nodes started to fail in less then 24hrs while their EBS was almost full.
this issue is NOT solved in 1.1.1

"NodeNotReady :: OutOfDisk  KubeletHasSufficientDisk  kubelet has sufficient disk space available"
"df -h" ::
Filesystem      Size  Used Avail Use% Mounted on
/dev/xvda1       32G  7.5G   23G  25% /

[2015-11-12 17:23] bgrant0607 commented on #14519
Need a condition, like Progressing or Stuck.

[2015-11-12 17:24] bgrant0607 opened #17164 "Deployment status"
Status:
* Number of pods of each version
* Number ready/not ready (should add to RC also)

cc @nikhiljindal @janetkuo @ironcladlou @ncdc

[2015-11-12 17:27] jimmidyson opened #17165 "Validation for fields in wrong place, extra fields, etc"
Right now the validation seems to consist of validating well-formed doc & validating fields. It does not validate fields that are in the wrong place in a manifest or indeed extra, unknown fields. These are silently ignored. This is especially annoying when you're using YAML & e.g. you've messed up indentation of an optional field. Hard to troubleshoot.

Would be good to validate extraneous fields

[2015-11-12 17:34] bgrant0607 commented on #14512
Related: #3585

[2015-11-12 17:41] bgrant0607 commented on #14510
I think custom strategies are more relevant to DaemonSet and PetSet (#260).

[2015-11-12 17:50] bgrant0607 commented on #3024
We need to create a new controller in order to adopt the new label selector:
https://github.com/kubernetes/kubernetes/issues/341#issuecomment-140809259

Back to original plan:
ReplicationController replacement should be called ReplicaSet
Deployment will not be renamed.

[2015-11-12 17:55] bgrant0607 commented on #14062
We need these annotations in order to facilitate re-adoption after orphaning.

[2015-11-12 18:03] lavalamp commented on #15830
@feihujiang It means we'd love for you to go do this. :)

[2015-11-12 18:04] bgrant0607 commented on #1535
We need existence dependencies for cascading deletion in the server. Deployments generate ReplicaSets which generate Pods. Doing cleanup in the client will be fragile and unfriendly to non-kubectl clients.

cc @nikhiljindal @janetkuo @ironcladlou @ncdc

[2015-11-12 18:11] ironcladlou commented on #14510
I think it would be enough to provide an interface in the deployment controller for downstream code to plug in custom reconcilers per strategy type. Then kube could accept a deployment using strategy=<anything> and openshift could registry a reconciler to handle it. That would require less validation around the strategy, as @smarterclayton mentioned.

[2015-11-12 18:17] nikhiljindal opened #17168 "Develop Deployment UX equivalent to kubectl rolling-update"
Forked from https://github.com/kubernetes/kubernetes/issues/12143

Now that we have deployment resource, we should use that in kubectl rolling-update, instead of maintaining duplicate client side logic.

cc @ironcladlou @janetkuo @bgrant0607

[2015-11-12 18:19] bprashanth commented on #17119
Fyi will probably not get a chance to work on this till EoW (maybe friday) because I'm on call, but tests look mostly green now.

[2015-11-12 18:20] kargakis commented on #17143
We should also support manually scaling a deployment. `kubectl scale` would update the deployment with the desired replica count and the controller would actually do the scaling when reconciling the deployment. The reconciling should happen on the spot though, instead of the 30s time window that exists right now.

@bgrant0607 @ironcladlou @nikhiljindal

[2015-11-12 18:23] PeterLamar commented on #241
Isn't this effectively done already?

[2015-11-12 18:27] nikhiljindal commented on #14519
We discussed adding a timeout param in the spec, which controls the failed condition. (DeploymentController sets that condition on the deployment, if there has not been any progress for that much time). One of the name suggested was maxProgressThreshholdSeconds.

We also discussed adding a subresource `deployments/retry` to clear the failed condition in deployment..

[2015-11-12 18:29] vishh commented on #1589
InitDeadlineSeconds the container is terminated.  Any other result than
success should tear down the volumes and reset to step 3 (incrementing
restart counter on the init container)

I assume you are referring to volumes that are not `PV` here.

If the init container is expected to run to completion, then why would readiness matter?

@thockin and @pmorie were discussing running the mounter for cer

[2015-11-12 18:30] nikhiljindal commented on #17143
+1

Regarding the 30s time window: @ironcladlou is going to send a PR to move DeploymentController to the informers pattern which will fix this (We will start watching resources instead of polling them)

[2015-11-12 18:35] kargakis opened #17170 "Support manually scaling deployments"
See https://github.com/kubernetes/kubernetes/issues/17143#issuecomment-156190025

@ironcladlou @bgrant0607 @nikhiljindal @janetkuo

[2015-11-12 18:36] kargakis commented on #17143
Yep, already familiar with his branch:)

Opened https://github.com/kubernetes/kubernetes/issues/17170 for manually scaling.

[2015-11-12 18:46] ironcladlou commented on #14062
Doesn't the new deployment controller rolling updater design invalidate my original issue? The autoscaler (and scaling endpoint) should be mutating only the deployment spec replicas (not the RCs directly). The reconciler will consider the latest deployment spec replicas each interval.

[2015-11-12 18:59] bgrant0607 commented on #16910
We try not to put secrets into Pod.
cc @pmorie @timstclair

[2015-11-12 19:07] brendandburns opened #17172 "SSH tunnel forwarding needs to handle alternate proxy URLs"
There are two valid proxy URLs:

http://localhost:8001/api/v1/proxy/namespaces/default/pods/nginx-y0iu3:80/

and

http://localhost:8001/api/v1/namespaces/default/pods/nginx-y0iu3:80/proxy/

When we are using SSH tunnels for proxying, the latter URL doesn't work.

We need to add an e2e test for this and fix the code.

@cjcullen @lavalamp

[2015-11-12 19:20] #16793 closed

[2015-11-12 19:38] karlkfi commented on #15867
We use OverlayFS in our docker-in-docker testing for k8s on mesos (based on https://github.com/mesosphere/mesos-slave-dind). It works pretty well for that use case, but there have been some obnoxious recent kernel bugs that we have to test for and avoid. We fallback to AUFS on loop-device on AUFS if overlay isn't working or isn't available.

We're not using OverlayFS in production.

[2015-11-12 19:41] karlkfi commented on #16110
Are the new /etc/hosts changes going to be an issue?

[code]
https://github.com/docker/docker/pull/17325

[2015-11-12 19:48] vishh commented on #16110
@karlkfi: AFAIK, we want docker to **not** touch `/etc/hosts` once the container is created.

[2015-11-12 19:51] jcderr opened #17174 "apiserver and kubelet don't agree on what names to use in TLS verification"
The kubelet will generate its own self-signed TLS certificates if none exist, and it uses the public IP of the server as the identifier.

apiserver, however, will attempt connections using hostnames where possible. This can cause a mismatch, such as when using `kubectl exec`, where an error will be thrown in the form of:

[code]

The kubelet should probably attempt to determine its hostname via re

[2015-11-12 20:35] paralin opened #17176 "Version API in swagger spec return type is void"
https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/version.json#L12

Why is this void? Makes no sense.

[2015-11-12 20:39] bprashanth commented on #17176
@nikhiljindal

[2015-11-12 20:40] paralin commented on #17176
Same goes for the other GetAPIVersions calls.

Produced C# code is of type void:

https://github.com/paralin/KubeNET/blob/master/KubeNET/Swagger/Api/VersionApi.cs#L23

[2015-11-12 21:01] thockin commented on #16110
re:/etc/hosts - we have our workaround which should dodge it entirely.

On Thu, Nov 12, 2015 at 11:48 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-11-12 21:08] paralin commented on #13414
Another case for this is that swagger-1.0 doesn't support key value responses. The type "any" on labels on ObjectMeta is currently making the labels field not parseable from code generated by swagger-codegen.

[2015-11-12 21:09] paralin commented on #13414
Also any reason to not use this?

https://github.com/go-swagger/go-swagger

[2015-11-12 21:17] thockin commented on #17116
I think I'd rather not name hooks relative to each other, especially if
things like validation will eventually be versioned, which means it has to
change position anyway.

On Wed, Nov 11, 2015 at 10:54 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-11-12 21:28] saad-ali commented on #9453
Closing this as obsolete: This code/tests has since been significantly modified.

[2015-11-12 21:28] #9453 closed

[2015-11-12 21:34] smarterclayton commented on #1589
Re: PV, yes, only tear down local volumes

Re: readiness, because clients need to interpret what the init container is
doing.

Re: multiple initializers, sounds pretty complex, but moving complex
mounters *out* of the Kubelet is one of the points of init.

Shouldn't fuse be a daemon set pod supporting a custom volume to the
Kubelet?

Cascading / long running initializers *sounds* like solving the

[2015-11-12 21:39] smarterclayton commented on #14510
A custom strategy is really an evolving triggered job.  The question is -
anything that is totally declarative is a candidate for some sort of
reconcile / adapt path, which of necessity is iterative (one at a time
semantics), with all of the implications of deployment.  So if we don't do
custom strategies in deployment, we're (Openshift) going to need to create
something that can represent it.

On

[2015-11-12 21:48] vishh commented on #1589
Kubelet?

Yeah. With this approach though, the resource usage of FUSE daemon might
have to be accounted as infrastructure overhead.

[2015-11-12 21:56] bgrant0607 commented on #16938
@MikeJeffrey Which docs contain new content, as opposed to being composed from pieces of github docs?

[2015-11-12 21:59] caesarxuchao commented on #16173
@deads2k thank you very much for submitting #17175. I'm working on the same issue since yesterday because the issue is assigned to me. In the future may we coordinate in the issue page to avoid duplicated efforts? Thank you for the understanding :)

[2015-11-12 22:23] janetkuo commented on #16998
To be more clear,
- The following single resource files should be removed from `examples/guestbook`:
  - `frontend-controller.yaml`
  - `frontend-service.yaml`
  - `redis-slave-controller.yaml`
  - `redis-slave-service.yaml`
- Some tests (*excluding* example tests), such as `test-cmd.sh` or `apply_test.go`, use the single resource example files that need to be removed from `examples/guestbook`. So

[2015-11-12 22:35] janetkuo opened #17179 "Examples test should be able to test example files containing multiple resources"
Follow up #14256

Examples test should be able to test files containing multiple resources (currently under examples/guestbook/all-in-one/). See https://github.com/kubernetes/kubernetes/blob/master/examples/examples_test.go#L168.

cc @paralin @linzichang

[2015-11-12 22:38] paralin commented on #17179
Looking into it

[2015-11-12 22:40] utahcon commented on #17090
Turned out the problem was a typo in my securityContext. Thanks for looking!

[2015-11-12 22:40] #17090 closed

[2015-11-12 22:42] brendandburns opened #17181 "unit flake: exec.TestSelectPlugin is flaky"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/1515/

[2015-11-12 22:44] janetkuo commented on #17179
@paralin Thanks! `ExtractList` might be helpful: https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/helper.go#L62-L89.

[2015-11-12 22:49] eliaslevy opened #17182 "DaemonSet should allow for a RestartPolicy of OnFailure"
There are situations where we would like to run a container on each node, but the container is not meant to execute indefinitely, so that a `RestartPolicy` of `Always` is not desirable.  Consider a container that queries the AWS metadata service and applies appropriate labels to the node (e.g. region, zone, security groups, etc).  Currently this can be accomplished with static pods, but K8s recomm

[2015-11-12 22:55] deads2k commented on #16173
Sorry, I had a couple hours free, figured I'd help.  I'll open a detailed issue tomorrow with the known hot spots.  Then we can sort of check them out as we go along and work together.  There's enough touch points that a big bang is untenable.  Looks like each minor piece is going to take a few hours to do.

[2015-11-12 22:56] bgrant0607 commented on #9044
Zone/region labels were added by #16866

[2015-11-12 22:57] aaronlevy commented on #16961
I'd be happy to try to contribute a fix for this specific issue, but I was unsure if this is something that would be considered upstream.

Given that it would currently require a fix in the kubelet itself -- is this something that might be reasonable? One possibility might be retrieving the master component versions prior to building the node status payload?

[2015-11-12 23:05] caesarxuchao commented on #16173
Thank you @deads2k. I have the PR with many TODOs passing unit tests. I think it should cover most hot spots. I'll push it so we can take it as a reference.

[2015-11-12 23:07] yujuhong commented on #12619
@Random-Liu, your summary is correct. `api.PodStatus` includes high-level information that are irrelevant to the container runtime. This kind of information can be handled by kubelet itself. SyncPod would only need RawPodStatus (the actual state) AND api.Pod (the desired state) to do its job :)

[2015-11-12 23:10] bgrant0607 opened #17183 "Log management roadmap"
We need to decide where we're going with log management.

We have kubectl logs and the fluentd and ELK setups. We're not currently using Docker logging plugins.

More specific open issues:
- rotation configuration, both for Docker logs and file-based logs, as in #13010
- kubectl logs #11046 vs. Fluentd and other agents to push off node
- how to capture kubernetes metadata: #8001

Forked from #1688

[2015-11-12 23:10] quinton-hoole commented on #16961
@aaronlevy Yes, contributing a fix upstream would be the ideal solution.  What I suggest is that you start with a short problem statement and design proposal document (in the form of a PR).  That way community members will have the opportunity to weigh in on alternative approaches (in the form of PR review comments) before you expend effort on a concrete implementation, that might get shot down fo

[2015-11-12 23:21] ihmccreery opened #17184 "Clarify (and perhaps loosen) our version-skew policy between master and Kubelet"
Per #16961, it seems there are needs for running Kubelets at versions ahead of masters.  This is not currently recommended in [our versioning policy](https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md#upgrades).

There are a number of considerations here, (not the least of which is the feasibility of guaranteeing and testing version skews,).  This issue is meant to be a

[2015-11-12 23:23] ihmccreery commented on #16961
Opened #17184 for the more general issue of version-skew between masters and Kubelets.  Assigning this specific issue, (the resolution of the 1.0-1.1 problem,) to @quinton-hoole.

[2015-11-12 23:28] bgrant0607 opened #17186 "Out of resource killing"
Forked from https://github.com/kubernetes/kubernetes/issues/14452#issuecomment-142758038, #15673, #16889, #13006, #14943, and other issues/PRs.

We need a model for out of resource killing on overcommitted nodes.

cc @dchen1107 @vishh @davidopp @derekwaynecarr

[2015-11-12 23:33] yujuhong commented on #16987
@dalanlan, how is this different from today's behavior? I may have missed something...

[2015-11-12 23:39] karlkfi opened #17189 "Pull Request Process doc out of date"
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/pull-requests.md

The links for `on call`, `submit queue`, and `whitelist` are all broken.

Where should those link to?

[2015-11-12 23:54] davidopp opened #17190 "Implement dedicated machines"
This is really a meta-feature; it can be built from other features that we already have or plan to have.

The requirements are
* nodes are partitioned into groups
* administrator can specify a policy that forces pods meeting particular criteria to only run on machines in one of these groups
* optionally, the policy can say that pods that do *not* meet the criteria can *not* run on those machines

[2015-11-13 00:02] caesarxuchao commented on #16173
@deads2k here is my laundry list. https://github.com/kubernetes/kubernetes/pull/17185#issuecomment-156273462
You are welcome to edit it or open another issue.

[2015-11-13 00:05] davidopp commented on #12744
Since we want this to work in a system with multiple schedulers and a rescheduler, the right factoring is probably
* a library containing the kubelet predicates; it is used by all schedulers and rescheduler
* for each scheduler S, a library containing S's additional predicates; it is used by S and the rescheduler

[2015-11-13 00:06] nikhiljindal commented on #16558
Wrote up a proposal in https://github.com/kubernetes/kubernetes/pull/17191

[2015-11-13 00:16] Random-Liu commented on #12619
@yujuhong Ha, thanks for your explanation. :)

[2015-11-13 00:48] davidopp commented on #12140
The main things blocking this right now are
(1) factor predicates into a library (#12744)
(2) a way to delete a pod with a signal that causes the scheduler to not reschedule it back to the same machine

(Obviously we also need to implement the rescheduler itself -- I am just talking about building blocks that we are missing.)

A couple of comments:

* (2) is a little tricky because we don't really

[2015-11-13 00:52] liggitt commented on #17172
Was this seen in master or 1.1?

[2015-11-13 00:54] bgrant0607 commented on #17010
Do we have a test for rollback?

[2015-11-13 00:55] liggitt commented on #17172
There is an e2e test in master for this, which should be exercised in gke
Fixed in master in https://github.com/kubernetes/kubernetes/pull/15224
Cherry pick to 1.1 is https://github.com/kubernetes/kubernetes/pull/17127

[2015-11-13 01:03] davidopp commented on #1957
@feihujiang

[2015-11-13 01:04] liggitt commented on #17115
Hmm, not really a fan of the proxy trying to handle URLs statefully. A simple thing like having two browser tabs open would be enough to break this, and I think the complexity makes behavior harder to reason about.

[2015-11-13 01:08] liggitt commented on #17112
https://github.com/kubernetes/kubernetes/pull/7893 might be of interest

[2015-11-13 01:14] liggitt commented on #17088
It was intentionally avoided. Cross namespace references would be a prime source of privilege escalation attacks.

cc @kubernetes/kube-iam

[2015-11-13 01:15] yujuhong commented on #13562
We can have a high-level, runtime-agnostic garbage collector that receives the updates from the channel, and calls the runtime-provided garbage collection function to either 1) perform generic GC, or 2) delete specific pods.
This would allow GC to be more aggressive, preventing too many dead containers from downgrading the docker performance (as suggested by your benchmarking results).

[2015-11-13 01:20] liggitt commented on #16543
@deads2k this is related to what we were discussing today

[2015-11-13 01:22] dchen1107 opened #17196 "Exposing image information from node"
Node should expose installed image information, so that scheduler can use that information to do better scheduling.

cc/ @bgrant0607 @davidopp @kubernetes/goog-node

[2015-11-13 01:26] liggitt commented on #16449
What is tricky is that the master requires a long list of SANs that would be hard to get in a cert from a real CA (first service IP, "kubernetes", "kubernetes.default.svc", etc)

 If they want to provide certs for use with specific host names, SNI might be worth looking into, providing a list of cert/keys which would be used for all the DNS SANs they contain.

[2015-11-13 01:28] davidopp commented on #17196
ref/ #9044

[2015-11-13 01:29] davidopp commented on #17196
Can you explain what you mean by "better scheduling"? What rules would you like to see the scheduler apply?

[2015-11-13 01:34] yujuhong commented on #17196
I imagine scheduler would try to assign a pod to the node where the image already exists, to eliminate the pull time.

I think even today scheduler can get images from all pods assigned to the node, which gives it some information to go on, though not all.

[2015-11-13 01:37] vishh commented on #17196
@davidopp: Scheduler affinity towards nodes that have the the required images for a pod already pulled.
BTW, cAdvisor already [exposes images](https://github.com/google/cadvisor/blob/master/manager/manager.go#L111)

[2015-11-13 01:38] davidopp commented on #17196
Oh sorry, I mis-read the issue, I thought you meant docker version number. So nevermind my mentioning #9044.

Yes, I agree this is a good idea. I had also mentioned it here
https://github.com/kubernetes/kubernetes/issues/16466#issuecomment-154656277

[2015-11-13 01:42] vishh commented on #13562
GC is closely related to Disk accounting. I'd prefer typing them together.
The GC logic should derive the state of the system from a central location
though.

On Thu, Nov 12, 2015 at 5:16 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-11-13 01:44] jdoliner commented on #16909
Just tried this with 1.1.1 and still no luck. I feel like I'm missing something kind of obvious here. Do I need to specify somewhere in the manifest that I want the kubernetes credentials to be visible to the pod or do they just get injected automatically?

[2015-11-13 01:53] Random-Liu commented on #13562
1) Now garbage collector also calls List and Inspect to get the status of containers, which will have already been cached in runtime pod cache (we are going to implement it). It seems that garbage collector doesn't need to access the runtime again.
2) If we want to mark something like GC-eligible, we have to do that in pod management components such as PLEG.
So at least, garbage collector should r

[2015-11-13 01:58] linzichang commented on #17179
Duplicate with https://github.com/kubernetes/kubernetes/issues/16444

[2015-11-13 01:59] HaiyangDING commented on #12744
This has been delayed for a while, and the blame is on me. I will start working right away.

As for:

Noted.

Does this mean we should make a library for each of schedulers in Kubernetes? For default scheduler, it is easy to do since the predicates used by default scheduler are known.

But what if for user-provided scheduler whose predicates we can not know ahead of compiling the rescheduler?