[2016-05-22 15:40] xiang90 commented on #26015
Also by etcd, I mean both the server and client. If Kubernetes has 10 clients issues 10 list at the same time, Kubernetes API server itself will suffer from high network bandwidth usage, CPU usages and slow down other operations.

[2016-05-22 15:53] codefx9 opened #26039 "Kubernetes networking options for Azure"
Hi,
I am trying to setup a Kubernetes cluster for Azure. What are my networking options? I have found some articles and a CoreOS based setup with Weave. I am interested in using their new resource group model instead of the classic VMs.

Thanks.

[2016-05-22 16:37] saad-ali commented on #25828
Hey Peter, looks like you're hitting two known, and really annoying, issues with persistent disks in Kubernetes v1.2:

This is most likely issue https://github.com/kubernetes/kubernetes/issues/19953

This is most likely issue https://github.com/kubernetes/kubernetes/issues/14642

Both of these issues have the same root cause, and the fix will be part of the upcoming v1.3 release.

Work around for

[2016-05-22 18:54] Perfect-Web opened #26040 "glusterfs volume doesnt work"
i get this in the logs

[code]

and in my controller i have

[code]

what could be the issue with this ? i can manually mount the glusterfs volumes on the nodes, but not in the pods

[2016-05-22 19:00] #24088 closed

[2016-05-22 19:15] Perfect-Web commented on #16585
i have the same problem but with the glusterfs volume, i have the master code

[2016-05-22 20:25] timoreimann opened #26041 "hack/install-etcd.sh installs Linux binary on non-Linux machines"
`hack/install-etcd.sh` is [hard-wired to download a Linux binary](https://github.com/kubernetes/kubernetes/blob/52707ac7ee95e4fd4ee67c167785920cdbdc8ec4/hack/lib/etcd.sh#L71) and does not honor the platform it is invoked on. I noticed this when I needed to install etcd on my Mac (which, in turn, was required by `hack/update-swagger-spec.sh` and transitively by the pre-commit hooks) and later faile

[2016-05-22 20:35] Random-Liu opened #26042 "e2e flake: Docker failed to start with "Couldn't create Tag store repositories-aufs: EOF""
I observed this in https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17416/

Master kubelet.log is full of the following log
[code]

Master supervisord.log:
[code]

Master docker.log is full of:
[code]

This may be related to https://github.com/docker/docker/issues/17426.

[2016-05-22 20:54] hongchaodeng opened #26043 "Scheduler cache could double assume pods"
Recently bind action was made asynchronous. However, a pod is **assumed** before bind:

https://github.com/kubernetes/kubernetes/blob/57f63217886937888a9d27c60b9e8cb5374cdf55/plugin/pkg/scheduler/scheduler.go#L122-L122

If bind failed, it will call Error(), which is this func:

https://github.com/kubernetes/kubernetes/blob/57f63217886937888a9d27c60b9e8cb5374cdf55/plugin/pkg/scheduler/factory/facto

[2016-05-22 20:54] hongchaodeng commented on #26043
@wojtek-t @xiang90 @kubernetes/sig-scheduling

[2016-05-22 21:25] ngtuna opened #26045 "Add CloudStack cloud provider"
I have been working on CloudStack cloudprovider integration. PR is coming soon.

[2016-05-22 21:45] NiclasHedam commented on #25958
I don't think I have access to the Kubernetes master on GKE. Correct me if I'm wrong.

[2016-05-22 22:32] smarterclayton commented on #17470
Spoke with some folks internally, we think this is a good path of investigation (although expensive).

[2016-05-22 22:34] smarterclayton commented on #24322
Both IPVS (https://github.com/kubernetes/kubernetes/issues/17470) and some form of conntrack based observation have the potential to identify connections that are denied / ignored by the remote endpoint.

[2016-05-22 23:53] anguslees commented on #22063
@liggitt: this was before TLS support came in (iirc), so that wasn't a problem ;)

So in my head we *should* have something like (correct me if I've missed anything):
- an arbitrary unique string used to identify the node internal to the kubernetes code/API
- a list of ("internal"?) addresses where the control plane can reach that node (found via `cloudprovider.NodeAddresses(name)`)
- the node has

[2016-05-22 23:58] thockin commented on #17470
Expensive in what regard?
On May 22, 2016 3:32 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-05-23 00:00] liggitt commented on #22063
I'm referring to TLS serving by the kubelet, which has existed since 1.0. The master needs to contact the node on a hostname or IP that is valid for the serving cert presented by the node. Are you assuming the thing generating serving certs for nodes will be happy signing a cert for an IP?

[2016-05-23 00:04] liggitt commented on #22063
Also I'm not sure what you mean by "primary key associated with the node for TLS"

[2016-05-23 00:05] anguslees commented on #22063
@liggitt: urgh, sorry - corrected that to "private key"

[2016-05-23 00:35] smarterclayton commented on #17470
Developer time.

[2016-05-23 00:45] thockin commented on #25793
@girishkalele

[2016-05-23 00:51] thockin commented on #26009
The host's resolv.conf entries should be populated into containers.  Are
you running kubelet with a --resolv-conf flag?  Does your pod have an
dnsPolicy of "Default" ?  What does /etc/resolv.conf look like in your
container?

On Fri, May 20, 2016 at 10:54 PM, Jan Krueger <notifications@github.com>
wrote:

[2016-05-23 00:53] anguslees commented on #22063
@liggitt: I don't think I understand your concern, so I'm sorry for appearing dense.  We just need something that the CA and master agree they're going to provide and look for in subject/subjectaltname - correct?  So that could be a real DNS entry (if such a thing exists), or some sort of fake hostname (which might be DNSified versions of nodename, or provider ExternalID), or IP addresses, the Ins

[2016-05-23 00:54] thockin commented on #25585
Ehh?  Can you post a full but minimized yaml that I can run to reproduce it?

On Fri, May 20, 2016 at 4:21 PM, drashkov <notifications@github.com> wrote:

[2016-05-23 01:08] liggitt commented on #22063
Not for verifying the node's serving cert, no. The subject's CN (or a DNS subjectAltName) has to match the hostname used to contact the node, or an IP subjectAltName has to match the IP used to contact the node.

Requiring the serving cert to match the TCP endpoint address used to contact the secured server is the point of serving cert validation.

You can make this work if you *always* have a CA

[2016-05-23 01:16] feiskyer commented on #17470
Maybe we could make kube-proxy pluggable, so everyone can integration with their own implementation as needed.

[2016-05-23 01:26] thockin commented on #17470
That's sort of the idea.  We will build a few implementations I to it, but
people who want other types of proxies can do their own.
On May 22, 2016 6:17 PM, "Pengfei Ni" <notifications@github.com> wrote:

[2016-05-23 01:51] bprashanth commented on #6428
@kubernetes/sig-node what's the trick to do that?

[code]

[2016-05-23 03:32] thockin commented on #25958
Disabling kube-dns will cause some components to fail to operate.  It is,
for all intents, required.  What are you hoping to achieve?

On Fri, May 20, 2016 at 2:49 AM, Niclas Hedam <notifications@github.com>
wrote:

[2016-05-23 03:42] thockin commented on #26036
[code]

[2016-05-23 04:26] pwittrock commented on #23916
Should have be resolved by #25916

[2016-05-23 04:26] #23916 closed

[2016-05-23 04:28] #24905 closed

[2016-05-23 05:12] philips opened #26050 "kubectl: edit + boolean leads to confusing error"
I edit a pod with some metadata such as:

[code]

Then I close the file and it pops back open with this message after I add `fun: true` label:

[code]

Putting the error in the comment header is OK but I was very confused when this happened to me and didn't notice the errors at all. A few potential fixes:

1. Print out the errors and then ask the user to "press enter" to fix, then launch the $EDIT

[2016-05-23 05:25] luxas commented on #26038
cc @vishh

If 'cpuset` and `cpuacct` only are soft requirements, we should definitely fix this before `v1.3`

[2016-05-23 05:30] piosz commented on #23376
All required steps are done, so closing the issue.

[2016-05-23 05:30] #23376 closed

[2016-05-23 05:41] philips commented on #19443
@justinsb to be clear this issue is about running etcd on cloud providers, not on top of an existing k8s cluster, right?

[2016-05-23 06:24] wojtek-t commented on #26036
@thockin - something has changed recently - it used to work ~month ago. I will take a look (I can reproduce it locally).

[2016-05-23 06:35] wojtek-t commented on #26036
Yeah - actually it was added ~2 weeks ago in:
https://github.com/kubernetes/kubernetes/pull/25033

@smarterclayton

Though, after this change, if we simply get rid of "inputs.Has(...)" there, it will try to generate files also from non-k8s dependencies, which we don't want.

I will try to do some quick fix for now.

[2016-05-23 06:46] AdoHe commented on #23166
@lavalamp what's the status of this issue? Besides the default `--storage-version` now is:
[code]
you mean we should change this for kubernetes 1.3?

[2016-05-23 06:48] wojtek-t commented on #26036
https://github.com/kubernetes/kubernetes/pull/26051 is a quick fix for that

However, we can probably solve it differently at some point. Though that PR should reduce priority of this bug.

[2016-05-23 06:49] AdoHe commented on #23508
@lavalamp also what's status of this issue?

[2016-05-23 07:18] Random-Liu commented on #25919
A lot more failures:
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17445/
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17439/
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17426/

[2016-05-23 07:21] wojtek-t commented on #26043
I think this is a result of #24459

@fgrzadkowski @davidopp

[2016-05-23 07:22] piosz commented on #25953
@xiang90 sent #26013 which should fix this

[2016-05-23 07:23] #25953 closed

[2016-05-23 07:28] zefciu commented on #19163
OK, now I get it. I was testing it on secrets, which apparently have only one version of API registered. So the two questions are:

1. What should be the behaviour when --output-version is set to a completely nonexistent version
2. What should be the behaviour when it is set to an existing version, but one that is unavailable for a given object type

Could someone decide and either close this tick

[2016-05-23 07:34] piosz opened #26053 "Fluentd not ready in scalability suite"
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-scalability/7705/
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/7705

[2016-05-23 07:34] piosz commented on #26053
cc @gmarek

[2016-05-23 07:36] wojtek-t commented on #26015
@xiang90 - sorry I'm not really following this issue.

We explicitly set 0 resync period here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L164

so unless we don't go out of history window in etcd with the watch, we will never do a full relist on etcd. And to be honest, I've never seen that in our performance tests.

Second, as etcd3 supports consistent snapshot and

[2016-05-23 07:42] gmarek commented on #26053
cc @lavalamp

[2016-05-23 07:46] malachib commented on #7581
Same (poor) results here also.

[2016-05-23 08:00] nebril commented on #25417
@AdoHe Can you point me out to what can I do to have above PR merged?

[2016-05-23 08:06] mqliang commented on #26015
@wojtek-t I think @xiang90 means the [first list](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/reflector.go#L262) when reflector start. Since etcd v3 could keep all the history(unless explicit compaction), it's possible to replace the first list to watch if the [resource version](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/reflector.go#L261) we wa

[2016-05-23 08:08] NiclasHedam commented on #25958
Which? As far as I can read, the kube-dns service is only a nameserver. Which internal components will fail?

I'm hoping to free CPU and memory. There is no need to have unused pods, when their space can be used by replicas.

[2016-05-23 08:17] borismattijssen commented on #26003
That's because the dynamic client returns UnstructuredList with Unstructured items, when listing. These do not match api.Node.
@sjenning is working on this.

[2016-05-23 08:18] AdoHe commented on #25417
cc @bgrant0607 @janetkuo

[2016-05-23 08:22] AdoHe commented on #12231
@bgrant0607 for:
[code]
I guess you mean here:
[https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L380](https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L380)

The original PR #25038 is good, but if we can move this error handling to specific decoder,  I think we can solve the remaining issues.

[2016-05-23 08:30] Random-Liu commented on #25919
I looked into https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17426/, and found the reason.

Here is the timeline:
* All 3 containers (2 init containers and 1 application container) in the pod only run `/bin/bash`, so the pod finished soon after created.
[code]
* The first init container `init1` was removed (twice).
[code]
* The first pod status is updated, beca

[2016-05-23 08:31] pigmej commented on #25180
Shouldn't it be closed?

[2016-05-23 08:46] AdoHe commented on #26015
@mqliang @xiang90 @wojtek-t , in the current implementation, the first list is mainly used to retrieve resource version, then we use correct resource version to do watch operation. If etcd v3 could keep all the history, the first list may be unnecessary. The question is every time reflector start, how to know the resource version, if we don't do list.

[2016-05-23 08:47] jsafrane commented on #25967
#25881 should help a lot, still there will be a short window where the test could get wrong. Patch will follow when #25881 is merged.

[2016-05-23 08:53] wojtek-t commented on #26015
@AdoHe @mqliang - no; it's not used just for resourceVersion; we NEED to know all elements and their state in the cache, because we are also serving lists from cache;
but even if we wouldn't we need it because we need to know the previous state of the object to correctly send a watch event (e.g. if there is some label selector, depending on the previous labels in the object, the new event may be a

[2016-05-23 09:12] workhardcc opened #26056 ""kubectl patch" can not update nodes' label"
Hi everyone,
`kubectl patch node $node -p '{"metadata":{"labels":"app=xg"}}'`
`Error from server: [pos 98]: json: expect char '{' but got char '"'`
This json absolutely correct!  Why report an error?
Change this command as below( add some space ):
`kubectl patch node $node -p '{ " metadata " : { " labels " : " app=xg " }}`
`"$node" patched`
Seems good, but there is no label added in this $node.
Is

[2016-05-23 09:29] AdoHe commented on #25905
This error is a little bit tricky:
[code]
From this we can see there are six pods available, two pods failed to sync:
[code]

[2016-05-23 09:30] zefciu commented on #17542
Looking at this...

[2016-05-23 09:38] workhardcc commented on #26056
oops!
I think i got a mistake. I should do it like this:
kubectl patch node $node -p '{"metadata":{"labels":{"idc":"xg1"}}}'
thanks! I close this issue.

[2016-05-23 09:38] #26056 closed

[2016-05-23 09:52] gmarek opened #26058 "unit flake: reflector_test.go:384: expected exiting from err expected resync reached, got: <nil>"
In per-PR build:
[code]
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26054/kubernetes-pull-test-unit-integration/27306/

cc @kubernetes/sig-api-machinery @wojtek-t @lavalamp

[2016-05-23 09:54] wojtek-t commented on #26058
@rrati @xiang90

[2016-05-23 10:07] wojtek-t commented on #26058
This is not a flake - it's broken.
I will send a fix for it in few minutes.

[2016-05-23 10:11] #26058 closed

[2016-05-23 10:31] dims commented on #13321
openssl failure has been addressed here:
https://github.com/dims/kubernetes/commit/e9045bea222823d12449fd98ac305225e21ab87b

So we should close this issue

[2016-05-23 10:46] gmarek opened #26062 "Docker failed to start on 1500/2000 machines on flannel cluster"
The reason is a crashloop with the error:
[code]

If I'm not mistaken `cbr0` should have been created by Kubelet.

@kubernetes/sig-node @dchen1107

[2016-05-23 11:07] kargakis opened #26065 "broken pkg/client/cache unit test"
[code]

[2016-05-23 11:23] wojtek-t commented on #26065
Dup of #26058

[2016-05-23 11:23] #26065 closed

[2016-05-23 11:24] gmarek commented on #25969
Logs from flannel_etcd (repeating over and over again):
[code]

[2016-05-23 11:37] gmarek opened #26067 "unit flake: PersistentVolumeController could not update claim "default/claim5-2""
[code]

cc @lavalamp

[2016-05-23 11:49] wojtek-t commented on #25969
The problem is that logs from etcd are completely unuseful in this case. We need to really confirm that those aren't OOMs or sth like that.

[2016-05-23 11:51] gmarek commented on #25969
There are no OOMs mentioned in kern.log.

[2016-05-23 12:11] wojtek-t commented on #8132
We finally made a decision to:
1. switch on protobufs by default in 1.3 for communication between components in k8s
[This is done in #25738]
2. decided NOT to switch on protobufs as a storage format in 1.3 release - we will do it in 1.4

[2016-05-23 12:29] termie commented on #11606
tossing in there that even trivial usages of the api cause cross-compile issues frequently due to changes deep in this gigantic dep tree

[2016-05-23 12:33] gmarek commented on #26062
Failed Nodes have the following log every 30 seconds:
[code]

I guess some of the recent changes made flannel daemon unhappy.

[2016-05-23 12:49] soltysh commented on #25908
/sub

[2016-05-23 12:55] gmarek commented on #25969
But we have following logs in master's kubelet:
[code]
[code]

I'm trying to bump CPU limits for the etcd container.

[2016-05-23 13:04] gmarek commented on #25969
Bumping CPU didn't help (which wasn't too big of a surprise). Generally etcd for this cluster stops responding to health checks ~1 minute after the start, which triggers its restart.

[2016-05-23 13:06] pnovotnak commented on #25828
Thanks @saad-ali! Seems like those two issues will indeed resolve the issues I'm seeing, but yes, let's let it be for now. I'll set up some reminders for myself to update this issue after 1.3 hits.

[2016-05-23 13:13] jayunit100 opened #26074 "Flake? "Received interrupt. Running AfterSuite...""
@timothysc @kubernetes/sig-testing ...

**Problem**

Seems like some kind of weired interrupt can cause a test failure.  But we don't see the name of the test that actually failed.
[code]

**Solution**

Not sure, but I think we need to see how interrupts get sent into the build server, and wether or not that constitutes a flake.

**Details**

```  /tmp  cat pr-logs%2Fpull%2F25280%2Fkubernetes-pull

[2016-05-23 13:14] gitfred commented on #25234
Can be useful in this issue https://github.com/spf13/cobra/issues/15

[2016-05-23 13:22] ncdc commented on #19765
@cmpmohan yes, socat is needed on the nodes for port forwarding to work.

[2016-05-23 13:38] smarterclayton commented on #26036
I noticed this yesterday and thought I was crazy.

[2016-05-23 13:39] piosz opened #26075 "e2e flake: node-problem-detector has container with no ready status in scalability suite"
http://kubekins.dls.corp.google.com/view/Submit%20Queue/job/kubernetes-e2e-gce-scalability/7739
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/7739

[code]
It seems this is due to fail while pulling image but I let @Random-Liu to investigate deeper.

cc @dchen1107

[2016-05-23 13:48] smarterclayton commented on #26036
These directories should be in the "inputs"

[2016-05-23 13:50] gmarek commented on #26062
I tested it with 1000 Node cluster - also 441 Nodes are able to come up correctly (the same number as in the case of 2k Node cluster). It seems that it's a configuration issue.

[2016-05-23 13:50] gmarek commented on #26062
cc @bprashanth

[2016-05-23 13:51] gmarek commented on #25969
For 1000 Nodes it's working normally.

[2016-05-23 13:52] piosz opened #26076 "e2e flake: Pod Disks tests are very flaky"
The following tests failed multiple times both in GCE and GKE suites:
[code]
The error message is the same:
[code]

Logs:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5896
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5899
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/k

[2016-05-23 13:53] piosz commented on #26076
Assigning @thockin for fix or triage.
cc @kubernetes/sig-storage

[2016-05-23 13:56] wojtek-t commented on #25969
@xiang90 - since this is etcd-related, maybe you have any ideas?
@gmarek manually checked that after few seconds (30?) etcd stops responding to /health requests (if we have more 2000 nodes in a flannel cluster).

[2016-05-23 13:58] ncdc commented on #26074
AFAIK the interrupt comes when the overall Jenkins job times out. And if there are multiple tests running in parallel, they should all show the "Received interrupt" message.

[2016-05-23 13:59] gmarek commented on #26062
Logs from flannel daemon on unhealthy Kubelets:
[code]

[2016-05-23 14:05] smarterclayton commented on #25919
Originally, the status was inferred from the most recent init container (so
the older ones being deleted was ok).  Now we need it to calculate the full
pod status.

Two options:

1. Keep exactly one of all init containers as long as the pod is alive for
status generation
2. Keep only the latest init container (furthest along) and keep whatever
status we have as long as we can (violates the "can be

[2016-05-23 14:14] xiang90 commented on #26015
@AdoHe As @wojtek-t mentioned, the first list is needed anyway. I hope to avoid any large lists afterwards.

Oh. I was not aware of that 0 means give me the "fresh" items in the store. I was thinking 0 requires the fresh items, which should be in etcd thus forcing a relist. I double check the watchCache code, I think you are right. Sorry for the noise.

I do observe relist in my test. There might

[2016-05-23 14:16] gmarek commented on #25969
I scaled 1000 Node cluster to 2000 Node one. ETCD started to fail around 1800th Node.

[2016-05-23 14:21] xiang90 commented on #25969
@gmarek logs from etcd?

[2016-05-23 14:23] gmarek commented on #25969
I'm seeing following things in logs:
[code]

[2016-05-23 14:23] gmarek commented on #25969
@xiang - logs from flannel etcd are in my post https://github.com/kubernetes/kubernetes/issues/25969#issuecomment-220954200

[2016-05-23 14:24] timothysc commented on #26015
imho that code is very confusing, both @rrati and myself were tripped up by the subtleties.

post recent mods we do not see a relist, except on a watch fail of some kind.

FWIW a net-split could force a thundering re-list, that condition still remains.

[2016-05-23 14:25] gmarek commented on #25969
After processing ~440 `leases?next` requests there are only
[code]

[2016-05-23 14:27] xiang90 commented on #25969
@gmarek I mean the log from etcd server. I do not think these log are from etcd.

[2016-05-23 14:29] zmerlynn commented on #26002
Sorry, I should have caught this in review, too. This flag should default to empty if it's not specified, it's a relatively easy fix.

[2016-05-23 14:29] xiang90 commented on #26015
Even a watch fail should not trigger re-list for normal case, since we still have state in the cache. It should catch up from the cached store.

Yes. We need pacing all the relist in the future.

[2016-05-23 14:29] zmerlynn commented on #24547
#19242 is merged, this is fixed.

[2016-05-23 14:29] #24547 closed

[2016-05-23 14:30] wojtek-t commented on #25969
@xiang90 - those are logs from etcd - we don't have anything else.

[2016-05-23 14:35] zmerlynn commented on #24295
@dchen1107 @thockin - Which of you is driving this? I thought someone had the ball on this bug.

[2016-05-23 14:36] xiang90 commented on #25969
@wojtek-t The log format of etcd is like

[code]

not
[code]

Also there is not http_logger.go in etcd I think.

[2016-05-23 14:37] wojtek-t commented on #25969
@xiang90 - sorry, I meant these logs:
https://github.com/kubernetes/kubernetes/issues/25969#issuecomment-220954200

[2016-05-23 14:38] xiang90 commented on #25969
@wojtek-t But from that log, etcd is just fine. No leader election and no errors. Is it just OOM? How do you know etcd is abnormal? Is it restarted? How does the log repeat?

[2016-05-23 14:45] AdoHe commented on #26015
@xiang90 @wojtek-t yes, the first list is needed anyway.

[2016-05-23 14:47] kargakis opened #26079 "Deployment controller requeues on pod events"
This makes the deployment being requeued a lot during rollouts / scaling events.

We already requeue on replica set events, why isn't that enough?

cc: @kubernetes/deployment

[2016-05-23 14:50] jnardiello commented on #15478
+1 on this.
Not being able to control how docker logging is handled implies that the only sane logging option is using the tools shipped with k8s, which is an incredible limitation.

@timothysc here our use-case. We have a complex dynamic infrastructure (~100 machines) with a lot of existing services running on them, with our own `logstash` to gather logs. Well, we are now trying to move our servi

[2016-05-23 14:52] timothysc commented on #22448
We've run into some issues, and are digging.

[2016-05-23 14:53] matthiasr opened #26080 "`kubectl drain` should ignore or delete Completed pods"
When using `kubectl drain`, one node could not be drained with a message:

I had a bit of a rough time tracking it down, because as it turns out, this pod was in the Completed status and had never been cleaned up by the user (which happened to be me, so I knew where to look). Finding it was made difficult by that message not saying which namespace this is in, and `kubectl describe node` not listin

[2016-05-23 14:56] rootfs commented on #26076
I can work on this, as I am writing tests for openstack in `pd.go`.

[2016-05-23 15:02] pskrzyns opened #26081 "After last merge can't create pod witk rkt-kvm and get pod ip with rkt-coreos"
After merge of https://github.com/kubernetes/kubernetes/pull/25062/
i cant create pods using rkt-kvm

[code]
--net=host isn't supported with kvm flavor

also with coreos flavor i don't have any information about pod ip

[code]

[code]

[2016-05-23 15:05] ncdc commented on #25975
@richm the container hash is the checksum of the container's definition. It's used to compare the running container with its desired spec.

The hex at the end is random. It's there to prevent collisions if you had two instances of the same container for the same pod/pod UID. See https://github.com/kubernetes/kubernetes/blob/7796b619fdfd4e492616346cd61913ff1173b248/pkg/kubelet/dockertools/docker.go

[2016-05-23 15:08] pigmej commented on #25234
I will work on this issue, if nobody is already working on it ( @gitfred is not working on it).

[2016-05-23 15:09] smarterclayton commented on #15478
So in your scenario logs are truly "per application", but you have to
ensure the underlying host supports those logs?  That's the concern we're
discussing here - either we do cluster level, or node level, but if we do
pod level, then the scheduler would have to be aware of what log drivers
are present where.  As much as possible we try to avoid that.

On Mon, May 23, 2016 at 10:50 AM, Jacopo Nardi

[2016-05-23 15:09] pskrzyns commented on #26081
cc @yifan-gu @euank @dcbw @jellonek

[2016-05-23 15:09] aarondav commented on #25602
Out of curiosity, what is the use-case resolved by `allocate-node-cidrs=true` and `configure-cloud-rotes=false` which is not satisfied by a networking overlay such as flannel? It sounds like you want to build your own network overlay using GRE tunnels.

[2016-05-23 15:15] jsafrane opened #26082 "Racy controller from framework.NewInformer?"
When I stress-test PersistentVolume controller I sometimes get (correct) "PersistentVolumeClaim deleted" event followed by (wrong) "PersistentVolumeClaim added". This happens very rarely (<0.01%) when I delete a PersistentVolumeClaim and the controller is under heavy load.

I use `framework.NewInformer` ([link](https://github.com/jsafrane/kubernetes/blob/master/pkg/controller/framework/controller.

[2016-05-23 15:19] jsafrane opened #26083 "Racy controller from framework.NewInformer?"
When I stress-test PersistentVolume controller I sometimes get (correct) "PersistentVolumeClaim deleted" event followed by (wrong) "PersistentVolumeClaim added". This happens very rarely (<0.01%) when I delete a PersistentVolumeClaim and the controller is under heavy load.

I use `framework.NewInformer` ([link](https://github.com/jsafrane/kubernetes/blob/master/pkg/controller/framework/controller.

[2016-05-23 15:23] piosz commented on #26076
It would be great!

[2016-05-23 15:23] pskrzyns commented on #26081
cc @euank @yifan-gu @dcbw @jellonek

[2016-05-23 15:27] jsafrane opened #26084 "Racy controller from framework.NewInformer?"
When I stress-test PersistentVolume controller I sometimes get (correct) "PersistentVolumeClaim deleted" event followed by (wrong) "PersistentVolumeClaim added". This happens very rarely (<0.01%) when I delete a PersistentVolumeClaim and the controller is under heavy load.

I use `framework.NewInformer` ([link](https://github.com/jsafrane/kubernetes/blob/master/pkg/controller/framework/controller.

[2016-05-23 15:35] bprashanth commented on #25969
You should be able to check the keys flannel is storing in etcd. I think it's under /coreos.com and each node is going to request a /24, the available network size is a /12 so there should be enough space (https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel-server/network.json#L2).

You can also try pointing flannel at the master etcd as an experiment.

The  "cannot

[2016-05-23 15:36] bprashanth commented on #25969
[code]

[2016-05-23 15:41] thockin commented on #24295
I was not driving a docker fix, and I think we prioritized this down for
now, but I admit that I looked away.

On Mon, May 23, 2016 at 7:36 AM, Zach Loafman <notifications@github.com>
wrote:

[2016-05-23 15:44] pwittrock commented on #25966
I have been working on this, and hope to get a PR out today.  Will update when sent.

[2016-05-23 15:46] bprashanth commented on #26062
The nodes won't come up till flannel on the master is up, this sounds like: https://github.com/kubernetes/kubernetes/issues/25969

This will prevent a node from entering ready, because it doesn't have a subnet
[code]
It's complaining that it can't find the network.json
[code]

This network config is: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel-server/network.

[2016-05-23 15:53] caseydavenport commented on #22469
v1beta1 API has been merged to master as of #25638

[2016-05-23 15:54] jeremyeder commented on #25762
https://github.com/kubernetes/kubernetes/issues/23349

[2016-05-23 15:55] enlinxu commented on #9125
@thockin Hi Tim, does Dongyi's proposal make sense to you?
Thanks.

[2016-05-23 15:56] #25958 closed

[2016-05-23 15:56] thockin commented on #25958
DNS lookups are done by a great number of examples and docs.  Without
kube-DNS, things like `https://kubernetes.default/` will not work.  DNS is
required and it's relatively low overhead.  Disabling it is not "supported"
- proceed at your own risk.

On Mon, May 23, 2016 at 1:09 AM, Niclas Hedam <notifications@github.com>
wrote:

[2016-05-23 15:59] #26083 closed

[2016-05-23 15:59] thockin commented on #9125
There's not enough information there to evaluate.  What is the performance
of this?  What is the overhead?  What stats will it produce?  What is the
fidelity of the stats?

If you want to proceed on this, i think we need a small design spec with
some details and some coarse measurements of impact.

On Mon, May 23, 2016 at 8:56 AM, Enlin Xu <notifications@github.com> wrote:

[2016-05-23 16:05] thockin commented on #26076
Huamin,

Thanks for jumping on this.  Please consider it priority - flaky tests are
killing us, and if this turns out to be real, we need it fixed.

On Mon, May 23, 2016 at 7:57 AM, Huamin Chen <notifications@github.com>
wrote:

[2016-05-23 16:06] thockin commented on #26036
Then we need to distinguish which inputs self-register and which do not.

On Mon, May 23, 2016 at 6:49 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-05-23 16:10] krousey commented on #24620
Closing this as a lot of the complexity was removed. Reopen if it flakes again.

[2016-05-23 16:10] #24620 closed

[2016-05-23 16:13] smarterclayton commented on #25919
I think #1 is probably the approach we have to take today.  I'll make a
change to support that by ensuring init containers to keep preserves the
right containers.

On Mon, May 23, 2016 at 10:05 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-23 16:20] therc commented on #22537
I've been using the very latest fabric8/fluentd-kubernetes image with a bunch of tweaks, including `type elasticsearch_dynamic`. It's better, but I can still get it to fill up buffers. The worst part is that it's very opaque, even after inspecting the logs. It would be nice if fluentd (or anything else doing the same thing) had an HTTP endpoint reporting for each file the timestamp of the last log

[2016-05-23 16:30] jlowdermilk commented on #25140
This should be addressed (for now) by #25548. We'll eventually need another node in test clusters, but lowering parallelism is reasonable bandaid.

[2016-05-23 16:30] #25140 closed

[2016-05-23 16:35] rootfs commented on #26076
sure

[2016-05-23 16:47] smarterclayton commented on #25919
Actually, we always keep *at least one* init container, AND additional ones
if initContainersToKeep calls them out.

On Mon, May 23, 2016 at 12:13 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-23 16:48] smarterclayton commented on #25919
pruneInitContainersBeforeStart assumes status is sorted in order of newest
to oldest.  I wonder if that's not the case.

On Mon, May 23, 2016 at 12:47 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-23 16:48] vishh commented on #26038
@luxas We will need those cgroups in the near future. Instead of introducing a breaking change later, we decided to require them from the beginning. Do you still think its necessary to remove those cgroups?
Is this a technical issue or a documentation issue?

[2016-05-23 16:50] smarterclayton commented on #25919
I think I see the problem - we're supposed to be preserving ALL init
containers, but we are only preserving the *latest* init containers.  Going
to add a test case and send a fix.

On Mon, May 23, 2016 at 12:48 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-05-23 17:00] dims commented on #26084
Duplicate of https://github.com/kubernetes/kubernetes/issues/26082 ? Can you please close one?

[2016-05-23 17:10] yujuhong commented on #6428
We don't provide logs for the master components as @bprashanth pointed out. The master components currently dump logs to /var/log/ directly.

[2016-05-23 17:12] girishkalele commented on #25793
@rancohen1

Your observation about the intermittent duplication of packets only in the case of same node + service IP is the same as we observed recently. There is intermittent duplication of TCP packets too, mostly the smaller TCP ACKs.
The root cause is due to the bridge cbr0 being configured in promiscuous mode. This was introduced to workaround a kernel bug https://github.com/kubernetes/kubern

[2016-05-23 17:13] girishkalele commented on #25793
cc@bprashanth

[2016-05-23 17:14] yujuhong commented on #25919
Yes, we want to get rid of the "preserving at least one container" per container name policy, but we're not there yet. It's easier for now to make init container behave like other containers, i.e., always leaving one dead container.

[2016-05-23 17:14] gmarek commented on #26062
Flannel on master on 1000 Node cluster is up. So this is not #25969

[2016-05-23 17:15] dchen1107 commented on #25543
PR of introducing NodeProblemDetector was merged last week, and the pr to enable it by default for Kubernetes cluster was merged over the weekend. So far everything works fine.

Even it is an alpha feature, GKE folks agreed to enable it for GKE. To workaround this particular issue before we have proper docker fix, we can easily extend today's KernelMonitor module of NodeProblemDetector to monitor

[2016-05-23 17:15] smarterclayton commented on #25919
Fix up.

[2016-05-23 17:16] bprashanth commented on #26062
Hmm flannel master is up? then what's with:

E0523 13:58:11.611454 03203 network.go:53] Failed to retrieve network config: 500 Internal Server Error: 100: Key not found (/kubernetes.io) [3]

[2016-05-23 17:17] bprashanth commented on #6428
so re-open or WAI? Dumping to /var/log makes runtime debugging and log aggregation harder.

[2016-05-23 17:18] bprashanth commented on #6428
I'm moving a cluster addon to a static pod on master (the loadbalancer controller), so I'm asking because this would be a "regression" is usability

[2016-05-23 17:19] jsafrane commented on #26084
Yes, it's dupe of course, some github hiccup.

[2016-05-23 17:19] #26084 closed

[2016-05-23 17:20] jayunit100 commented on #5465
https://github.com/kubernetes/kubernetes/issues/5465 @chrislovecnm heres the dupe :) ?

[2016-05-23 17:21] jayunit100 commented on #26023
https://github.com/kubernetes/kubernetes/issues/5465 I kinda think we should close that issue since this issue solves both without-loss-of-generatilty.

[2016-05-23 17:21] dchen1107 commented on #24295
What the difference between this issue and #25543? I thought we moved all the discussion to the new issue #25543 for a temporary workaround for 1.3. I just updated #25543 with the latest proposal.

@zmerlynn Could you please file a separate issue against docker? I agreed with @mikedanese above it is a different docker issue: docker/docker#7101

[2016-05-23 17:22] jayunit100 commented on #5465
Can we close this in favor of  26023 ^ ?  the newer issue solves this without loss of generality.  And we already know that the `examples/` is going to obsoleted soon enough probably

[2016-05-23 17:23] wojtek-t commented on #26036
Yeah - we probably need another flag to pass those that shouldn't be registered.

[2016-05-23 17:23] jlowdermilk commented on #25773
IMO a flag for showing all conditions isn't necessary. `kubectl describe` is already a cherrypicked selection of info that is intended to be 'just the important bits'. If you want everything you can dump yaml with `kubectl get nodes $nodename -o yaml`.

[2016-05-23 17:25] ixdy commented on #26074
Yeah, "received interrupt" means timeout. "2974.775 seconds" is also a pretty big clue - PR e2e runs take around 8 minutes usually.

[2016-05-23 17:27] gmarek commented on #26062
I wish I knew;)

[2016-05-23 17:28] wojtek-t commented on #26062
This seems like a message from etcd. Some data is missing in etcd?

@xiang90 - does this error look for you like response from etcd?

[2016-05-23 17:28] freehan opened #26087 "unit test flake: TestReflectorResync"
[code]

[2016-05-23 17:32] bprashanth commented on #26062
The flannel master setup consists of:
* flannel etcd
* flannel helper that writes network.json to etcd, then serves /healthz
* actual flannel runnign in server mode, using flannel-etcd, network config from `/kubernetes.io/network` and listening for incoming connection on 10253

If that last bit is not running the nodes won't get a subnet

[2016-05-23 17:36] smarterclayton commented on #26036
In the proto code I used the "-" prefix to indicate a package that is
included in the search order, but should not automatically generate
messages for everything.

On Mon, May 23, 2016 at 1:23 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-05-23 17:38] ixdy commented on #25140
Do we have a way to monitor test cluster usage so we can address these issues proactively?

[2016-05-23 17:39] spxtr commented on #26076
These two tests are so flaky that they will block the merge queue for over half of the time it takes to merge a fix. If you think the fix will take more than a day, I'd suggest moving these to the flaky suite until they're fixed.

[2016-05-23 17:39] caesarxuchao commented on #25890
There is a slight change #25599 will fix this, there is a potential race on the graph in this test, though I would expect go's race detector would have caught it.

[2016-05-23 17:42] ixdy commented on #26076
I'd suggest tagging them flaky ASAP. Whenever they get fixed they can be untagged.

[2016-05-23 17:42] dchen1107 commented on #25977
@andyzheng0831 is out for vacation, @wonderfly could you please pick up this one? I think we agreed to have a separate jenkins job as one more pr builder, which have the master node on GCI image and rest of nodes on ContainerVM. The newly created job should only run the basic test suites.

If you need some help, please ask @lavalamp

[2016-05-23 17:46] derekwaynecarr commented on #25773
@vishh - the assumption is that all node conditions should correspond to problem states, and therefore `True` corresponds to a problem always.  Of course, ready is not this way today.  I would prefer that we state this assumption in api-conventions and that we change `Ready` to `NotReady` if we wanted to pursue this.  I tried to look at the list of conditions that will be reported in the `node-pro

[2016-05-23 17:49] derekwaynecarr commented on #25773
I don't want to be the hold out, its a shame `Ready` has the wrong polarity.  I am fine with this if we document the convention.  I know I would miss it in code reviews.

[2016-05-23 17:49] roberthbailey commented on #6428
We turned off the /exec and /attach endpoints on the master due to security concerns. I'm not sure that the /logs handler is as dangerous or if it can be enabled while keeping the other two turned off.

[2016-05-23 17:49] janetkuo commented on #25925
`Edit cancelled, no valid changes were saved.`

Somehow the `edit` command didn't edit the resource.

[2016-05-23 17:54] pmorie commented on #26076
I am okay with moving these to the flaky suite until we can get some focus on it. @childsb

[2016-05-23 17:59] zmerlynn commented on #24295
I was wondering why #25543 was opened at all, it's basically a dupe. :)

[2016-05-23 17:59] yujuhong commented on #23355
Fixed by #25328

[2016-05-23 17:59] #23355 closed

[2016-05-23 18:00] zmerlynn commented on #24295
Honestly, I forgot that a dupe had been opened. We still need traction on *that* bug.

I don't have time to chase this issue with Docker, and the last time I pinged them, they told me to GFY until we were on 1.11: https://github.com/docker/docker/issues/7101#issuecomment-216529817

[2016-05-23 18:04] yujuhong commented on #23397
@Random-Liu, 200 running containers won't hit this case. In addition to that, one needs to run the benchmark using a containerVM instance to hit this case (or it depends on the settings on your desktop). We should get your PR in to at least surface the errors when running the microbenchmark

[2016-05-23 18:09] derekwaynecarr commented on #25239
@vishh - I moved this out of 1.3.

[2016-05-23 18:10] spxtr commented on #26076
PR is #26089, will likely need a manual merge since the SQ is so blocked.

[2016-05-23 18:13] smarterclayton commented on #16707
Yes

[2016-05-23 18:19] derekwaynecarr commented on #25239
(but am still working on PRs that will sit...)

[2016-05-23 18:20] smarterclayton commented on #25761
Secrets definitely will be limited.  And yes, they will be namespace scoped where possible.

It's useful to think about capabilities - if every cluster needs access to every other cluster's secrets, we have a challenge that a compromise of any cluster is a compromise of all clusters.  The answer to that is usually that if you care about that, you limit the access the federated API server has (so i

[2016-05-23 18:21] mikedanese opened #26090 "min-turnup: implement a phase 1 for GCE using deployment manager"
https://cloud.google.com/deployment-manager/docs/

[2016-05-23 18:22] saad-ali commented on #26076
Hang on this looks like it was broken by a PR merged on Sunday: https://github.com/kubernetes/kubernetes/pull/21709

Test Run http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-slow/5873/ and earlier are Green.
Test Run http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-slow/5874/ (after this PR was merged) are Flaky.

CC @swagiaal

I'll prepare a roll back.

[2016-05-23 18:23] jellonek commented on #26081
There is no ip in coreos flavor because rkt is used without networking configured by rkt, it uses external network namespace with host networking, which is supported only by cgroups based execution runtimes.
If someone will add e.x. vmware based runtime or xen based runtime - they will also be unusable there because of that.

This is not the first time when someone is adding features which are ava

[2016-05-23 18:27] rootfs commented on #26076
@saad-ali good catch, i'll take a look at the gce attacher.

[2016-05-23 18:27] sjpotter commented on #25932
for the issue I mentioned above about pkg/kubelet/pod import, might it be better to rename pod to podmanager as that's actually what it is.

[2016-05-23 18:30] jayunit100 commented on #26074
ahhhhh ok  thanks.

[2016-05-23 18:30] #26074 closed

[2016-05-23 18:38] vishh commented on #25239
@derekwaynecarr Should we work against a common branch?

[2016-05-23 18:38] dchen1107 commented on #23397
@Random-Liu and I talked about this last week, and we are extending the test suite for this.

[2016-05-23 18:39] Random-Liu commented on #23397
@dchen1107 ACK. Will increase the max container number in benchmark test.

[2016-05-23 18:41] luxas opened #26093 "Identify, document and maybe remove kubelet dependencies"
Kubelet has a few dependencies, and we should be aware of them, document them so users know what's the minimum amount of other programs kubelet needs around it to execute successfully.

I'm testing this by compiling kubelet statically and running it in a `busybox` container with absolutely nothing. I've been surprised how well it runs after all.

I'm listing some, both hard and soft dependencies:

[2016-05-23 18:42] luxas commented on #26038
Didn't know you're planning to use them soon.
Then it's a documentation issue. See: #26093

[2016-05-23 18:51] janetkuo commented on #25905
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/17442/build-log.txt

Another symptom:
[code]

Looks like the deployment reaper timed-out.
[code]

[2016-05-23 18:57] tatroc commented on #22676
I am having a similar issue. How/where do I set the end point for heapster ? I am unsure where to configure this.

[code]

[code]

[2016-05-23 18:58] rootfs opened #26095 ""go run hack/e2e.go -v -build" failed with redundant :Z option"
kube version:
[code]

error message:
[code]

docker version: 1.11

@soltysh

[2016-05-23 19:10] vishh commented on #26093
@pwittrock What is the best way to document these requirements moving forward?

[2016-05-23 19:17] piosz commented on #22676
@tatroc could you please verify whether Heapster is working? Could you please take a look into Heapster logs and verify whether you can see anything suspicious?

[2016-05-23 19:21] vishh commented on #25773
@derekwaynecarr +1 for documentation. The purpose of this issue was to figure out a convention.
@bgrant0607 Any objections towards treating Node Conditions as `problem` states?

As for `Ready`, we can also have `kubectl describe` treat it as a special case for now, by outputting a custom string instead of the Condition itself.

[2016-05-23 19:29] krmayankk commented on #25788
@dshulyak are you still taking care of this one ? I am searching for some easy to do PR to just get familiar with the process and put my first PR in.

[2016-05-23 19:32] piosz commented on #23538
@dchen1107 @vishh do you know who created the suite? What should it test? The suite passed only 1/1175 runs.

[2016-05-23 19:33] rootfs commented on #26076
@saad-ali give me some moments to figure out a fix

[2016-05-23 19:37] pmorie commented on #26093
@luxas Classy digging, and this is super-useful to have.  +100

We should decide at what level we want to document transitive deps.  For example, cadvisor is going to begin calling `thin_ls` to monitor containers backed by devicemapper thin pools.  Since disk eviction is going to use this, I would want to know about that specific dep, though it is not strictly a dependency of the kubelet itself.

[2016-05-23 19:41] vishh commented on #23538
@piosz: @pwittrock had setup these jobs originally as part of migrating over to k8s jenkins server from my own jenkins server. The PR builder and HEAD CI should both be sharing the same framework ideally.

[2016-05-23 19:46] piosz commented on #23538
Thanks @vishh for the explanation. What is HEAD CI? I'll try to resurrect the suite.

@pwittrock did you finish all the required work on this? Especially the suite passed only once and then failed 1000+ times.

[2016-05-23 19:46] #23607 closed

[2016-05-23 19:47] dshulyak commented on #25788
@krmayankk I created pr some time ago to close this issue #25802

[2016-05-23 19:48] vishh commented on #11710
cc @timstclair

[2016-05-23 19:49] vishh commented on #5671
cc @dubstack Your pending proposal on pod level cgroups is tied to this upstream issue.

[2016-05-23 19:53] krmayankk commented on #25788
@dshulyak great thanks :-)

[2016-05-23 19:58] ncdc commented on #26095
See #25973

[2016-05-23 20:02] #26095 closed

[2016-05-23 20:11] tatroc commented on #22676
heapster logs look clean to me, except for a connection timeout when influxdb was starting

I also connected to the influxdb and verified that data is being inserted.

[code]

[2016-05-23 20:15] nikhiljindal commented on #25761
Discussed this with @erictune and here is one way this can work:
* Federation control plane can get secrets containing kubeconfig for each k8s cluster using the apiserver of the "bootstrap k8s cluster". bootstrap k8s cluster is the k8s cluster on which the federation control plane pods are running. This is special since the federation control plane pods can access this apiserver with just the defa

[2016-05-23 20:18] tatroc commented on #22676
The messages are coming in pairs kube-apiserver and kube-controller-manager.

The whole reason I am trying to get heapster running is so I can do auto scaling. CURRENT is in a <waiting> status.
[code]

[code]

[2016-05-23 20:24] pwittrock commented on #25966
Working on this in #26101

[2016-05-23 20:25] euank opened #26102 "rkt networking discussion"
There are a number of small pieces of discussion scattered across this and the rkt repository related to how to handle networking setup; I'd like to consolidate this discussion here, talk about all the issues and options I know about, and hopefully figure out what the best option is.

Discussion refs:
https://github.com/coreos/rkt/issues/2249
https://github.com/kubernetes/kubernetes/issues/26081
h

[2016-05-23 20:28] euank commented on #26081
The lack of IP in coreos flavour is my fault; I didn't fully get the implications of that PR. It should be fixed by #26096.

I've created a more broad discussion issue (see xref above) where I'd like to discuss further the right way forwards here.

[2016-05-23 20:34] darkhuwk commented on #11935
+1

[2016-05-23 20:36] euank commented on #21923
This will be fixed by the combination of #25902 and #26096 being merged.

[2016-05-23 20:36] Random-Liu commented on #26075
This seems like https://github.com/kubernetes/kubernetes/issues/25277, I saw this in log:
[code]

[2016-05-23 20:42] dchen1107 commented on #26075
Yes it is dupe of #25277

[2016-05-23 20:43] dchen1107 commented on #26075
I am closing this issue, and we should fix the image pulling flakiness separately. Hope proposal #25784 can get us to a better situation.

[2016-05-23 20:43] #26075 closed

[2016-05-23 20:46] timstclair opened #26103 "logo inconsistencies"
The logo `name_*.svg` ([blue](https://github.com/kubernetes/kubernetes/blob/master/logo/name_blue.svg), [white](https://github.com/kubernetes/kubernetes/blob/master/logo/name_white.svg)) font does not match the others. I believe the png/pdf versions are correct.

[2016-05-23 20:46] MHBauer commented on #26041
Oh wow, that explains my failures. I ended up using homebrew.

[2016-05-23 20:53] derekwaynecarr opened #26104 "Vagrant using fedora is not working"
Investgating...

[2016-05-23 20:56] derekwaynecarr commented on #26104
There is an error when attempting to update

[code]

The update fails for some reason.

Related: https://github.com/saltstack/salt/issues/31001

[2016-05-23 20:57] derekwaynecarr commented on #26104
[code]

[2016-05-23 20:59] pwittrock commented on #25966
@fgrzadkowski Where do I need to put the junit01.xml files?  Since the test suite is run on different hosts, there are several junit01.xml files I need to copy over from the remote hosts.

[2016-05-23 21:19] janetkuo commented on #25911
Another failure in gce-flaky:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-flaky/17417/artifacts/jenkins-e2e-minion-yj4y/

kubelet logs:
[code]

Kubelete failed to pull images (net/http: request canceled).

[2016-05-23 21:20] mml opened #26107 "TestStoreToReplicationControllerLister does not reset state between cases"
Each test case modifies the state left by the previous case because `store` is only created once, at the start of the test.
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/listers_test.go#L126

The test cases contain little thunks that refer to `store` and `lister` as captured variables, so a simple reordering that moves `store` creation inside the test case loop won't work,

[2016-05-23 21:20] janetkuo commented on #25911
@kubernetes/sig-node

[2016-05-23 21:20] janetkuo commented on #25911
#25784 may help

[2016-05-23 21:22] abithap opened #26108 "Add vsphereVolume source validation in api/validation"
vSphere volume spec fails with the following error, as its not been added in api/validation.
"spec.volumes[0]: Required value: must specify a volume type"

Fixed in PR #26121

[2016-05-23 21:22] nickcarenza commented on #26104
Getting a similar error.

[code]

except that my dnf update reports success

[code]

[2016-05-23 21:23] quinton-hoole commented on #25761
@nikhiljindal As discussed, SGTM.

[2016-05-23 21:25] derekwaynecarr commented on #26104
Yeah, so the root error is when salt is installed and begins to provision:

[code]

[2016-05-23 21:27] derekwaynecarr commented on #26104
The salt repo implied 0.16 worked, but that is no longer available in fedora repos...

Problem is `python-dnf-plugins-core` is not installing, and then problems cascade from there...

[2016-05-23 21:28] bprashanth opened #26110 "Improve tooling and process around image prepulling in e2es"
There are several improvements that we just didn't do in the interest of time:
1. Auto(gen, verify) and check-in the image list. Currently it's hardcoded in the yaml. See discussion on pr (https://github.com/kubernetes/kubernetes/pull/25784).
2. Make the static pod a daemon set
3. Make it work cross platform by generating a daemon/pod that has each image in the checked in list from (2) as a contai

[2016-05-23 21:34] nikhiljindal opened #26111 "federation-apiserver: error in converting api.ServiceList to v1.ServiceList"
I started the federation-apiserver and went to `/api/v1/services` and got the following output:

[code]

Expected: I should have got an empty v1.ServiceList

@kubernetes/sig-api-machinery @wojtek-t Any idea on what we are doing wrong?

@jianhuiz @mfanjie @kubernetes/sig-cluster-federation Have you guys seen this error?

[2016-05-23 21:40] girishkalele commented on #25793
The fix for this issue (changing default hairpin_mode to hairpin_veth) is gated by the fix for the kernel hosed issue; without the kernel fix, soak tests running hairpin_veth mode consistently are seeing hung nodes.

[2016-05-23 21:44] philips commented on #21702
cc @colhom as you setup fluentd on our prod CoreOS cluster.

[2016-05-23 21:45] nickcarenza commented on #26104
Looks like there is a conflict:

[code]

Salt seems to require python3-dnf-plugins-core which prevents python-dnf-plugins core from being installed.

[2016-05-23 21:49] timstclair opened #26112 "e2e flake: should support rolling-update to same image [Conformance]"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25914/kubernetes-pull-build-test-e2e-gce/41555/

[2016-05-23 21:50] lavalamp commented on #26111
I think your deep copiers or conversion functions are not getting
registered properly. If you look at my change in #25526, some places are
inappropriately registering with api.Scheme instead of the passed in
scheme. Maybe you have that problem or a similar one, since I think you
guys copied some code.

On Mon, May 23, 2016 at 2:34 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-05-23 21:52] pwittrock commented on #25966
It looks like I just dump them in the artifacts directory with a count suffix.

[2016-05-23 21:54] smarterclayton commented on #26111
Deep copy generation was slightly broken as well - you may want to double
check that they are registered.

On May 23, 2016, at 5:50 PM, Daniel Smith <notifications@github.com> wrote:

I think your deep copiers or conversion functions are not getting
registered properly. If you look at my change in #25526, some places are
inappropriately registering with api.Scheme instead of the passed in
scheme.

[2016-05-23 21:57] thockin commented on #25835
I don't think inline helps, either.  This applies to maps as well as slices.

https://play.golang.org/p/XCSKUbifxB

@girishkalele

If we think we should optimize for JSON clarity, then it falls on the
protobuf impl to handle the mess.  I can live with that.  I don't know if
there are any places that currently need to know empty vs null for slices
(except the new ones I want) but there are old-styl

[2016-05-23 21:59] brendandburns commented on #26087
Dupe of https://github.com/kubernetes/kubernetes/issues/26058

Closing.

[2016-05-23 21:59] #26087 closed

[2016-05-23 21:59] smarterclayton commented on #25835
I definitely have to solve empty but not nil for Openshift.

I'm not aware of any other special old selector fields.

[2016-05-23 22:13] zmerlynn commented on #23327
This is actually much worse on larger clusters, though I think we need some work in the route controller to fix "Rate Limit Exceeded" errors there as well. We eventually reconcile, but we can do better.

[2016-05-23 22:14] bprashanth opened #26116 "kube-dns panic"
crashlooping on my cluster:

[code]

@ArtfulCoder

[2016-05-23 22:14] girishkalele commented on #25835
I did some quick tests with a service created with a selector and then patched with selector:null vs selector:{}, I also dumped the etcd authoritative source of JSON entry at every step.

I see _no_ difference in the JSON between nil vs {} - the selector field is omitted in both cases.

[code]

[2016-05-23 22:23] yifan-gu opened #26117 "rktnetes should use `--user-config` to point to a tmp dir per pod run to store the docker auth config"
Today, the docker auth config is written to the `--user-config` (or `--local-config` if the former doesn't exist) directory. However we don't create a tmp dir for each pod, which causes different users share the same auth configs. Thus is bad.

cc @kubernetes/sig-node @philips

[2016-05-23 22:23] fejta opened #26118 "Need OWNERS for pkg/storage"
https://github.com/kubernetes/kubernetes/tree/master/pkg/storage

For https://github.com/kubernetes/kubernetes/issues/24679

@bgrant0607 @brendandburns @dchen1107 @lavalamp @smarterclayton @thockin

[2016-05-23 22:24] fejta commented on #24679
Assigning to @brendandburns per https://github.com/kubernetes/kubernetes/blob/master/pkg/OWNERS

Please address https://github.com/kubernetes/kubernetes/issues/26118 if you do not like this assignment.

[2016-05-23 22:24] zmerlynn opened #26119 "On large cluster, routecontroller takes forever to program routes due to rate limit errors / reconcile"
On a large cluster, the routecontroller basically makes O(n) `Routes.Insert` requests all at once, and most of them error out with "Rate Limit Exceeded". We then wait for operations to complete on the ones that *did* stick, and damn the rest, they'll be caught next reconcile (which is a *while*).

In fact, in some cases it appears we're spamming hard enough to get rate limited by the upper-level A

[2016-05-23 22:25] fejta commented on #25058
Assigning to @spxtr per @roberthbailey comment

[2016-05-23 22:26] fejta commented on #25082
Assigning to @dchen1107 per team/node label

[2016-05-23 22:27] fejta commented on #25138
Assigning to @nikhiljindal per https://github.com/kubernetes/kubernetes/blob/master/federation/cmd/federated-apiserver/OWNERS

[2016-05-23 22:27] zmerlynn commented on #26119
c.f. #23327, which is the other leg of this problem

[2016-05-23 22:28] fejta commented on #25047
Assigning to @wojtek-t per https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/OWNERS

[2016-05-23 22:29] fejta commented on #25278
Assigning to @smarterclayton per https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/OWNERS

[2016-05-23 22:29] hongchaodeng commented on #24679
This is already fixed by #24638.
Can we close this?

[2016-05-23 22:30] fejta commented on #25349
Assigning to @jdef per https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/OWNERS

[2016-05-23 22:30] roberthbailey commented on #25977
After talking with @lavalamp and @dchen1107 we came to the following agreement:

1. We will switch the default base image for master nodes running on GCE from debian container-vm to GCI.
1. We will add a jenkins job that runs periodically (post-submit) that will continue to test master nodes running the debian container-vm, initially running against the master branch.
1. We will pin this job to th

[2016-05-23 22:31] fejta commented on #25513
Assigning to @lavalamp per https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/OWNERS

[2016-05-23 22:31] fejta commented on #25556
Assigning to @thockin per team/cluster label

[2016-05-23 22:32] fejta commented on #24269
Assigning to @davidopp per team/control-plane label

[2016-05-23 22:32] fejta commented on #24577
Assigning to @dchen1107 per team/node label

[2016-05-23 22:33] fejta commented on #25479
Assigning to @thockin per team/cluster label

[2016-05-23 22:33] fejta commented on #24483
Assigning to @dchen1107 per team/node label

[2016-05-23 22:34] fejta commented on #25594
Assigning to @derekwaynecarr per https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/OWNERS

[2016-05-23 22:35] spxtr commented on #25058
Oh, sorry didn't see this. It's not related to anything I did, and the problem seems to be fixed. If it was failing continuously then this isn't a flake. Okay to close this?

[2016-05-23 22:35] wonderfly commented on #25977
A am going to work on a PR for no. 1.

cc/ @kubernetes/goog-image

[2016-05-23 22:35] fejta commented on #25691
Assigning to @smarterclayton per  https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/OWNERS

[2016-05-23 22:36] fejta commented on #25760
Assigning to @mikedanese per @ihmccreery comment

[2016-05-23 22:37] mikedanese commented on #25647
who usually updates this? cc @vishh

[2016-05-23 22:39] nickcarenza commented on #26104
Solved the issue for me by editing `./cluster/vagrant/provision-utils.sh` with `yum --enablerepo=updates-testing install -y salt-minion` right before `echo "Running release install script"` [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/provision-utils.sh#L106). This solution has not been thoroughly tested by any means. It has just allowed `./cluster/kube-up.sh` to run

[2016-05-23 22:50] fejta commented on #25713
assigning to @dchen1107 per team/node label

[2016-05-23 22:50] fejta commented on #25116
assigning to @dchen1107 per team/node label

[2016-05-23 22:51] fejta commented on #25849
Assigning to @gmarek per kubemark

[2016-05-23 22:51] derekwaynecarr commented on #26104
Will try the same.  Thanks for the help.  Hope to have a PR tomorrow morning.

[2016-05-23 22:54] mikedanese commented on #26090
Wrong repo.

Redo here:

https://github.com/kubernetes/kube-deploy/issues/37

[2016-05-23 22:54] #26090 closed

[2016-05-23 22:54] Random-Liu commented on #25116
@fejta This should have been solved by #25944

[2016-05-23 22:55] caesarxuchao opened #26120 "[Garbage Collector] Umbrella: known issues of garbage collector"
This is a umbrella issue for Todos and known problems of the garbage collector that we have to solve before graduating GC to beta.

**_Functionalities**_
1. [optional]
   **This race will cause `DeleteOptions.OrphanDependents=true` not orphan all dependents. We expect this race to be rare**. Here are the details: there is no guarantee on the ordering of the events of different resources, it's poss

[2016-05-23 22:55] fejta commented on #24971
Assigning to @bprashanth per https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/OWNERS

[2016-05-23 22:55] Random-Liu commented on #25116
Close this one since it has been solved in #25944

[2016-05-23 22:55] #25116 closed

[2016-05-23 22:55] mikedanese commented on #26039
cc @colemickens

[2016-05-23 22:55] fejta commented on #25510
Assigning to @bgrant0607 per team/ux label

[2016-05-23 22:56] fejta commented on #25901
Dup of https://github.com/kubernetes/kubernetes/issues/25926

[2016-05-23 22:56] #25901 closed

[2016-05-23 22:56] lavalamp commented on #25835
Well, I guess it's a good thing no one would want that behavior, then...

On Mon, May 23, 2016 at 3:15 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-05-23 22:56] fejta commented on #25856
Assigning to @thockin per team/cluster label

[2016-05-23 22:59] janetkuo commented on #26112
@pwittrock

[2016-05-23 23:00] lavalamp commented on #25966
Yup, just dump them all there and make sure the numbers are continuous.

On Mon, May 23, 2016 at 2:52 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-05-23 23:00] colemickens commented on #26039
Networking options? Today you'll want to run an overlay network like flannel. I'm working on a cloudprovider implementation for Azure that will use User Defined Routes (like on GCE/AWS) for native routing, but that's still a couple weeks away at least.

[2016-05-23 23:02] brendandburns commented on #26067
My guess is that the failure here is in `waitTest` in `framework_test.go` it's waiting for idle across 10millis which seems like a pretty short period of time.

I think a better approach would be to assert an expected number of changes, and then wait for that.

[2016-05-23 23:03] fejta commented on #25872
Looks like a flake of `docker build -t gcr.io/kubernetes-scale/kubemark .` however I cannot determine which line of `./test/kubemark/start-kubemark.sh` triggers this call.

[2016-05-23 23:04] fejta commented on #25845
Assigning to @davidopp per team/control-plane label

[2016-05-23 23:04] fejta commented on #25277
Assigning to @bprashanth per https://github.com/kubernetes/kubernetes/pull/25784 (nice!)

[2016-05-23 23:05] fejta commented on #25812
Assigning to @liangchenye per @Random-Liu comment

[2016-05-23 23:06] fejta commented on #25827
Assigning to @davidopp per team/control-plane label

[2016-05-23 23:06] jellonek commented on #26081
Ack. I'll look.

[2016-05-23 23:06] fejta commented on #25891
Assigning to @karlkfi per https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/OWNERS

[2016-05-23 23:07] fejta commented on #25855
Assigning to @thockin per team/cluster label

[2016-05-23 23:08] roberthbailey commented on #25977
no. 2 is being added in https://github.com/kubernetes/test-infra/pull/70

[2016-05-23 23:08] fejta commented on #25834
Assigning to @bgrant0607 per team/ux label

[2016-05-23 23:09] yujuhong commented on #26075
I don't think #25784 will solve problems like this, where image pulling failed at the cluster bringup stage. The node in question tried pulling the image 5 times and all failed.

OK. I think this is caused by the docker operation timeout that was added to our docker client.

When setting the default context timeout to "12s", the request timed out after 12s exactly. The error "net/http: request can

[2016-05-23 23:09] #24782 closed

[2016-05-23 23:09] fejta commented on #25993
Assigning to @dchen1107 per team/node label

[2016-05-23 23:11] fejta commented on #25645
Assigning to @janetkuo per test-cmd.sh

[2016-05-23 23:12] yujuhong commented on #25277
See also https://github.com/kubernetes/kubernetes/issues/26075#issuecomment-221122556

The 2min image pulling timeout that was added to kubelet has been causing the "net/http: request canceled" errors.
This also prevents any image to be pulled if it takes > 2 mins. I am sending a PR to disable it for now.

[2016-05-23 23:12] fejta commented on #25878
Assigning to @thockin per team/cluster label

[2016-05-23 23:17] lavalamp commented on #25837
IMO you should not wipe out the endpoints list, like I think this issue is
asking for a thing that we should not be doing. Maybe Tim disagrees?

On Fri, May 20, 2016 at 4:51 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-05-23 23:20] hongchaodeng commented on #26120
Can you give an example for "Update event of the owner resource", "creation/update of some dependents"?

Where does the event come from? Why aren't they ordered?

[2016-05-23 23:21] Random-Liu commented on #26075
@yujuhong I checked the code of engine-api again, you are right, the timeout is applied on the whole image pulling:
https://github.com/docker/engine-api/blob/master/client/transport/cancellable/cancellable.go#L77-L84

[2016-05-23 23:29] brendandburns commented on #26067
Closing as a dupe of https://github.com/kubernetes/kubernetes/issues/25967

[2016-05-23 23:29] #26067 closed

[2016-05-23 23:30] caesarxuchao commented on #26120
@hongchaodeng, Let's use a replication controller and its pods as an example.
In the real time, things happen in this order:
* the replication controller `R` is created;
* the replication controller manager creates several pods `P1`-`Pn`, which are the dependents of `R`;
* user deletes `R` with `DeleteOptions.OrphanDependents=true` and expects `P1`-`Pn` are deleted.

But from the GC's perspective,

[2016-05-23 23:31] thockin commented on #25837
Daniel is, not surprisingly, correct.  Once we write a nil/empty selector
the controller has no idea whether the endpoints that exist are there
because a human wanted them there or because they are leftover.  We should
leave them alone.  If we REALLY want to clear them automatically, we would
need an annotation that tells the service controller "I did this", and I
don't think we need that without

[2016-05-23 23:32] mikedanese commented on #25760
I'm going to push back onto the test-infra team. There is nothing in the logs that indicated what failed. No logs were collected from any instance. Without more information, I can't know what actually happened. This is not possible for me to investigate.

[2016-05-23 23:32] bgrant0607 commented on #26118
Part of the problem is the lack of top-level OWNERS.

cc @mikedanese @eparis

[2016-05-23 23:33] mikedanese commented on #25760
Transient GCE issues can cause this behavior. What would we do to fix this if that turned out to be the cause? Regardless, seems like we need more debug info.

cc @ixdy

[2016-05-23 23:35] derekwaynecarr commented on #25594
Ouch will investigate this week!

On Monday, May 23, 2016, Erick Fejta <notifications@github.com> wrote:

[2016-05-23 23:35] thockin commented on #26118
Surprisingly pkg/storage has nothing to do with storage in kubernetes and
everything to do with the API implementation

On Mon, May 23, 2016 at 4:33 PM, Brian Grant <notifications@github.com>
wrote:

[2016-05-23 23:36] bgrant0607 commented on #26118
BTW, area/component owners are listed here:
https://github.com/kubernetes/kubernetes/wiki

Confusingly, pkg/storage is not about cluster storage, though.

@lavalamp @smarterclayton @wojtek-t Who would you like to be in the initial reviewers list?

[2016-05-23 23:38] thockin commented on #25835
So I think we should un-document the "selects all" behavior of
service.spec.selector.  For medium term we need to decouple "omitempty"
from "optional" in swagger (use a different tag, I guess) and then we can
mark these fields as optional, but not omitempty.  This will keep JSON
happy and simple, and leave the fugliness to protobuf's impl.

On Mon, May 23, 2016 at 3:57 PM, Daniel Smith <notificati

[2016-05-23 23:39] yujuhong commented on #25479
Closing as a dup of #25277

[2016-05-23 23:39] #25479 closed

[2016-05-23 23:41] thockin commented on #26039
@colemickens - AWESOME news!!

On Mon, May 23, 2016 at 4:00 PM, Cole Mickens <notifications@github.com>
wrote:

[2016-05-23 23:42] derekwaynecarr commented on #25239
Yeah.  That sounds good to me.  I will send a branch today or tomorrow.

On Monday, May 23, 2016, Vish Kannan <notifications@github.com> wrote:

[2016-05-23 23:43] #25837 closed

[2016-05-23 23:44] yujuhong commented on #26075
Yes, I also noticed that :-)

[2016-05-23 23:45] Random-Liu commented on #26075
@yujuhong Thanks a lot for finding this. Sorry I didn't catch this before. :(

[2016-05-23 23:51] jimmycuadra commented on #11935
Please stop commenting "+1". Do you all not notice that every such comment is being marked with thumbs down? If you want to follow this issue, click the subscribe button on the right. If you want to express your support of the idea, add a reaction to the original post.

[2016-05-23 23:51] ixdy commented on #25760
At little earlier in the log, you can see that the issue is quota:
[code]
This probably happened during the fire we had last week when the node e2e tests were leaking VMs everywhere.

Who owns the `cluster/gce` scripts? Better error handling/logging of cluster turn-up probably belongs to them.

[2016-05-23 23:53] smarterclayton commented on #26118
@liggitt, someone involved in the recent etcd3 work.

It should be a subset of the apimachinery owners under that sigs work.  We
should do a few clarifying refactors post 1.3 to make that clearer.

On May 23, 2016, at 7:36 PM, Brian Grant <notifications@github.com> wrote:

BTW, area/component owners are listed here:
https://github.com/kubernetes/kubernetes/wiki

Confusingly, pkg/storage is not abo

[2016-05-23 23:54] dchen1107 commented on #26118
pkg/storage actually is the backend package for apiserver, not real storage related work.

[2016-05-23 23:54] yujuhong commented on #26075
No worries. In only checked because the test failed to pull the same image for 5 times with the "request canceled" message :)

Checking image progress sounds reasonable to me. Maybe we can detect and cancel the request when the progress is stalled for a prolonged period of time.

[2016-05-23 23:56] Random-Liu commented on #26075
@yujuhong I'll send a PR to at least properly log the image pulling progress.

[2016-05-23 23:59] bgrant0607 commented on #25834
cc @pwittrock

[2016-05-23 23:59] pwittrock commented on #25468
@likku3 For troubleshooting help please see the instructions [here](http://kubernetes.io/docs/troubleshooting/) to post this to either stack overflow or the slack channel.  Your issue will get more attention that way.

[2016-05-23 23:59] #25468 closed

[2016-05-23 23:59] mikedanese commented on #25760
ugh. :) I will reclaim. Thanks for the tip @ixdy

[2016-05-23 23:59] yujuhong commented on #26075
SGTM. Thanks!

[2016-05-24 00:00] bgrant0607 commented on #25510
cc @pwittrock @janetkuo

[2016-05-24 00:00] pwittrock commented on #25529
@vishh You mentioned you had some bandwidth to help out with docs a bit.

[2016-05-24 00:01] girishkalele commented on #25878
@thockin @ArtfulCoder

Looking to pickup a test flake issue - Is it worth investigating this or wait for the next run now that #23930 is merged ?

[2016-05-24 00:02] spxtr commented on #26076
I think the appropriate thing to do here was to move them into the flaky suite or revert the offending PR right away.

[2016-05-24 00:03] yujuhong commented on #23545
Just saw this on kubernetes-e2e-gke

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7616/
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7615/

[2016-05-24 00:04] dims commented on #19765
fyi, there's a list being compiled here ("New issue Identify, document and maybe remove kubelet dependencies"):
https://github.com/kubernetes/kubernetes/issues/26093

[2016-05-24 00:07] bprashanth commented on #25878
There is a much higher chance this is team/control-plane and not team/cluster give https://github.com/kubernetes/kubernetes/issues/25878#issuecomment-220379438

Also I'm not sure this failure mode will occur post kube-dns rewrite

[2016-05-24 00:08] pwittrock commented on #25603
@bprashanth Anything like this in PetSets?

[2016-05-24 00:10] mikedanese commented on #24476
This is happening again cc @spxtr @ixdy

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-5-gce/4921/console

[2016-05-24 00:13] saad-ali commented on #26076
Agreed, this could've been handled better.

[2016-05-24 00:16] mikedanese commented on #24476
Multiple suites:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/7617/console

[2016-05-24 00:19] Random-Liu commented on #25773
Yeah, all conditions reported by node-problem-detector should be a permanent problem, `Status=True` means the problem happened, while `Status=False` means not happened.

[2016-05-24 00:22] fejta commented on #24476
`gcloud compute ssh jenkins-builder-4 gcloud compute instances list` works for all nodes on http://kubekins.dls.corp.google.com/computer/

[2016-05-24 00:25] mikedanese commented on #24476
Thanks!

[2016-05-24 00:26] lavalamp commented on #24476
@fejta what was the root cause here? did we do something so this won't reoccur?

[2016-05-24 00:29] saad-ali commented on #26076
PR marking tests as flaky (https://github.com/kubernetes/kubernetes/pull/26089) has been merged. @rootfs will follow up with his PR (https://github.com/kubernetes/kubernetes/pull/26100) to see if he can fix the test, if so, he will move the tests back out of flaky.

[2016-05-24 00:32] fejta commented on #24476
Root cause was one of the instances doesn't auto restart the metadata server, which I'm fixing. This is tangential to the original problem of this issue. Happy to explain in more detail in a new issue, alternatively see https://github.com/kubernetes/test-infra/pull/63 and https://github.com/kubernetes/test-infra/pull/69

[2016-05-24 00:32] pwittrock commented on #25834
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7289 : Image Pull failure:
[code]

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17236/ : Image pull failure:

[code]

[2016-05-24 00:33] pwittrock commented on #25834
First one is also an image pull failure:
[code]

[2016-05-24 00:35] bprashanth commented on #25856
Bah no logs. I'm closing this as a dupe of image pull timeout (without any evidence, because none has been presented. Followe it back up to the pr, but no logs there either).

[2016-05-24 00:35] #25856 closed

[2016-05-24 00:35] pwittrock commented on #25834
The last event in all of the failed test runs is to start pulling the image.  If the image pull succeeded we would expect to see another event saying the image pull completed.  Closing this as a duplicate of #25277.  #25784 will help address this.

[2016-05-24 00:35] #25834 closed

[2016-05-24 00:39] dchen1107 commented on #25773
+1 for document for now.

I am ok to make one:one mapping between node condition to problem state in next release or later. But before to do that, we need to change today's ready condition which hides several problem states: runtime, network configuration, etc. Then we need to push today's logic of readiness in kubelet code to node controller / remedy controller.

[2016-05-24 00:39] bprashanth commented on #26053
This is a dupe of image pulling flake, I only see one:
`event for fluentd-elasticsearch-e2e-scalability-minion-r1s0: {kubelet e2e-scalability-minion-r1s0} Pull`
and no corresponding "Pulled" event. It's really weird that we timed out on image pulling on a static pod.

@girishkalele can you check the docker logs of the node that pod landed on, and generally grep around kubelet logs for anything sus

[2016-05-24 00:43] bprashanth commented on #26112
I think this'll get fixed with https://github.com/kubernetes/kubernetes/pull/25171

[2016-05-24 00:50] Random-Liu commented on #25773
Strongly +1. :)

[2016-05-24 00:50] liggitt commented on #22655
similar symptom in https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25787/kubernetes-pull-build-test-e2e-gce/41584/, though it might be the nodes failing to come up

[2016-05-24 00:55] lavalamp commented on #19953
This is breaking often enough that it's bypassing my submit queue optimization - can we move this test to flaky until we get it fixed?

[2016-05-24 00:55] lavalamp commented on #19953
Specifically the test "Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession"

[2016-05-24 00:57] pwittrock commented on #26093
@vishh I think adding a page to the "Administering Clusters" at http://kubernetes.io/docs/ would be the best place

[2016-05-24 01:03] saad-ali commented on #19953
Done, see PR https://github.com/kubernetes/kubernetes/pull/26089
There was a PR that went in over the weekend (#21709) that destabalized this test.

[2016-05-24 01:03] pwittrock commented on #25379
@kelseyhightower Do you know how folks normally figure this out?

[2016-05-24 01:19] pwittrock commented on #25511
Duplicate of #25277

[2016-05-24 01:19] #25511 closed

[2016-05-24 01:28] pwittrock commented on #25554
I prefer using the second annotation so we always know where each came from.

[2016-05-24 01:29] mfanjie commented on #26111
@nikhiljindal I got the same error with latest branch, as I was swamping on service controller, so I use a previous version and worked around it.

[2016-05-24 01:29] bprashanth commented on #25082
One weird transient thing:
[code]

But then
[code]

Looks like a race somewhwere.

That said, the cluster didn't come up because of fluentd-elasticsearch-e2e-gce-master-0-minion-oh9e on e2e-gce-master-0-minion-oh9e, and that looks like the old image pull hang.

[2016-05-24 01:33] pwittrock commented on #25592
@jianhuiz Should this issue be closed now?

[2016-05-24 01:34] thockin commented on #26103
What other ones?  It should be the same font - they look the same to me...

[2016-05-24 02:04] k8s-merge-robot opened #26125 "[k8s.io] Addon update should propagate add-on file changes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/17489/

Failed: [k8s.io] Addon update should propagate add-on file changes {Kubernetes e2e suite}

[code]

[2016-05-24 02:04] k8s-merge-robot opened #26126 "[k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17490/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 02:04] k8s-merge-robot opened #26127 "[k8s.io] Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5920/

Failed: [k8s.io] Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}

[code]

[2016-05-24 02:04] k8s-merge-robot opened #26128 "[k8s.io] Services should be able to up and down services {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17489/

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]

[2016-05-24 02:24] k8s-merge-robot opened #26129 "[k8s.io] SSH should SSH to all nodes and run commands {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7625/

Failed: [k8s.io] SSH should SSH to all nodes and run commands {Kubernetes e2e suite}

[code]

[2016-05-24 02:27] vishh commented on #25647
@mohanbmahajan Can you open this issue against kubernetes/heapster? As of now Grafana integration is community maintained.

[2016-05-24 02:39] liggitt opened #26130 "Client interfaces should not expose internal rest clients"
https://github.com/kubernetes/kubernetes/pull/24220 added getters to expose internal RESTClient objects in Client interfaces. That tightly couples those interfaces to a particular implementation, which doesn't make sense (as evidenced by the fake clients returning nil, and anything calling those getters having to handle nils)

cc @krousey @smarterclayton @gmarek

[2016-05-24 02:42] smarterclayton commented on #26130
Yeah, originally that was abstracted intentionally so they were testable.
If we had a factory approach for controller clients that would alleviate
some of this (by letting us pass the rate limiter in).

We're going to have to open up construction of the client a bit more anyway
(since Config was not intended to be a straightjacket).

On Mon, May 23, 2016 at 10:40 PM, Jordan Liggitt <notifications@

[2016-05-24 02:46] AdoHe commented on #25554
I prefer adding a new annotation, so we can track this. Also we need to do some limitation.

[2016-05-24 03:11] nikhiljindal commented on #25592
No this is not fixed yet.
The referenced PR added `kubectl get clusters` command. We still need to surface it in `kubectl help`

[2016-05-24 03:21] childsb commented on #25697
The reason to keep CEPH secret in its own namespace is security.  If CEPH secret is in the default namespace a malicious user could access backing volume.

I'll leave this open as a documentation bug.

[2016-05-24 03:24] k8s-merge-robot opened #26131 "[k8s.io] Pods should invoke init containers on a RestartNever pod {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7628/

Failed: [k8s.io] Pods should invoke init containers on a RestartNever pod {Kubernetes e2e suite}

[code]

[2016-05-24 03:35] AdoHe commented on #26118
I agree with @dchen1107 pkg/storage is not real etcd storage related work, we should assign different OWNERS.

[2016-05-24 03:43] asalkeld commented on #21971
Should be fixed by https://github.com/kubernetes/kubernetes/commit/18e7a3eb243f4fa74ea3258dad946999c327da01

[2016-05-24 04:06] k8s-merge-robot opened #26134 "[k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5926/

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]

[2016-05-24 04:10] pwittrock commented on #25889
1. install local repo
2. push the docker to local repo

Are these steps to run a docker registry inside the cluster?  Sorry if this was discussed already, but why is this necessary?

[2016-05-24 04:13] pwittrock commented on #26112
@bprashanth awesome

[2016-05-24 04:19] saad-ali commented on #26127
Duplicate of https://github.com/kubernetes/kubernetes/issues/26076

[2016-05-24 04:23] pwittrock commented on #23538
@piosz I believe the suite was passing before the failures you see, but when it was converted to use jenkins-job-builder, the job was renamed and the count reset.  It is possible the failures are related to something with the jjb change.  After the initial migration from vish's jenkins server, I remember that they were passing for a while.

[2016-05-24 04:24] k8s-merge-robot opened #26135 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/7761/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

[2016-05-24 04:25] pwittrock commented on #23538
CI head is the "heapster-gce-e2e-ci" job running on the jenkins continuous integration server (as opposed to the jenkins PR builder server)

[2016-05-24 04:31] pwittrock commented on #25889
Nevermind, I see this is to test the image from #26023

[2016-05-24 04:50] adohe opened #26137 "whether kubelet should add a network-mode flag"
FYI. I am thinking about this recently when I am integrating kubernetes 1.2 with docker 1.10, and also some docker network plugins. I think after docker provides `docker network` command, `--net` option is not just `none, bridge, host, container, default`. Some docker network plugins may create other meaningful network name. I am not sure whether kubelet should support this case, but I can it's in

[2016-05-24 05:02] piosz commented on #22676
This looks like a problem with endpoint controller.

cc @bprashanth @thockin @kubernetes/goog-cluster

[2016-05-24 05:06] caseydavenport commented on #26039
@colemickens - Awesome! Really excited for that :)

@codefx9 - As mentioned above, flannel (vxlan backend) is a good choice here.  We've been working with the CoreOS folks on [canal](https://github.com/tigera/canal), which combines the numerous backends provided by flannel together with the security policy from Calico.  Details on how to try it out can be found here: https://github.com/coreos/core

[2016-05-24 05:10] bprashanth commented on #22676
Is heapster "Ready"?

[2016-05-24 05:16] wojtek-t commented on #25849
This is not related to kubemark. It seems like infrastructure problem.

[2016-05-24 05:24] k8s-merge-robot opened #26138 "[k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7634/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 05:38] bpradipt commented on #25886
The issue on PowerPC is both for cross and native-builds. The issue appears to be with the toolchain (golang) and how the linking is being done. The object sections have grown too large to link. We are looking at it
cc @laboger

[2016-05-24 05:41] wojtek-t commented on #24679
Yeah - it was duplicate of #24528

Fixed by #24638

[2016-05-24 05:41] #24679 closed

[2016-05-24 05:46] wojtek-t commented on #26118
I'm happy to be one of the owners.

[2016-05-24 05:54] pmorie commented on #24957
I also view this as notification.  I would prefer to expose an intentional API instead of something in terms of POSIX signals.  I would take two actions to start with:

1.  `bump` - signal the container somehow that a reload should happen of any config
2.  `restart` - what it says on the tin

The problems with an intentional API  are:

1.  The ways of carrying out intent are not going to be univer

[2016-05-24 05:55] pmorie commented on #24957
Also, for the record, seems plausible that we would constrain the list of signals you could send in an API using `PodSecurityPolicy`.

[2016-05-24 05:57] wojtek-t commented on #26119
I took a look into code and it seems that we are doing full reconciliation every 10s. If we need to create 2000 routes at the beginning it seems to frequently.

I think that we need to:
- first compute how many routes we have to create
- based on that try to spread them over some time to reduce possibility of causing 'rate limit exceeded'

I will try to put some small PR together as a starting poi

[2016-05-24 05:59] thockin commented on #26137
There's not a concept of Network (as a noun) in Kubernetes yet, and when there is, it will not necessarily map to Docker's model.  We already barely use Docker for networking, by default.  That said, we already have a `hostNetwork` field.

[2016-05-24 06:12] mqliang commented on #26015
@xiang90

Could [chunked encoding](https://www.httpwatch.com/httpgallery/chunked/)  help in such a case?  Maybe we could break large list response into several chunks.

[2016-05-24 06:13] lavalamp commented on #26127
@saad-ali see my email to kubernetes-dev-- the bot's not smart enough to understand your fancy duplicate terminology. #26076 is a dup of this :)

[2016-05-24 06:14] lavalamp commented on #26076
Occurrences tracked automatically in #26127. I don't care if you leave this one open too.

[2016-05-24 06:19] bgrant0607 commented on #20961
@chrislovecnm

The e2e test is still continuously failing:
[code]

Are #17275 and #10931 still problems?

Are there individual issues filed for outstanding AIs mentioned above?

[2016-05-24 06:20] AdoHe commented on #26137
@thockin I did understand what you say. I am just wondering what should we do in cases where we have to specify the network name. In our current implementation, we have `hostNetwork` field, and if we use kubernetes network plugin, the network is `none`. What if the user is using docker's network plugin and have to set the network name when run containers?

[2016-05-24 06:21] AdoHe commented on #26137
I did agree that we have to need to map to Docker's network model.

[2016-05-24 06:22] lavalamp commented on #26135
It's a bug that we're getting these IMO. https://github.com/kubernetes/contrib/issues/1046

[2016-05-24 06:27] k8s-merge-robot opened #26139 "[k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/17503/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 06:28] AdoHe commented on #26118
I'm happy to be one of the owners too if possible.

[2016-05-24 06:35] saad-ali opened #26141 "Fix PD tests and move out of flaky"
PR #https://github.com/kubernetes/kubernetes/pull/26089 moved some PD tests to flaky to resolve issue https://github.com/kubernetes/kubernetes/issues/26127 (and duplicate #26076). These tests started failing due to PR #21709.

@rootfs is working on a patch to de-flake the tests.

This issue is to track the fix and should be closed when:

1. The PD tests have been deflaked (verify by running the "p

[2016-05-24 06:39] saad-ali commented on #26076
Closing this in favor autogenerated #26127

[2016-05-24 06:39] #26076 closed

[2016-05-24 06:41] saad-ali commented on #26127
Tests marked as flaky in PR #26089. Issue https://github.com/kubernetes/kubernetes/issues/26141 opened to track fix.

[2016-05-24 07:21] gmarek commented on #25872
It's the `make` call in line https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/start-kubemark.sh#L60

[2016-05-24 07:24] gmarek commented on #25135
It's not fixed.

[2016-05-24 07:28] krmayankk commented on #23838
i could give this a try as my first PR. would need some hand holding though. Not very familiar with kubectl code. What is the final decision on this, do we just want a new column for the resource type or do we want resource type on a line by itself. I prefer the former. I am thinking more in terms of piping the output of kc get all and doing some machine grepping/cutting. thoughts ?

[2016-05-24 07:31] krmayankk commented on #23007
What is remaining here ? it seems this is already fixed in #23175 or else i can try sending this as my first PR

[2016-05-24 07:35] AdoHe commented on #23838
@kubernetes/kubectl we need to make a final decision. @krmayankk it would be great if you have bandwidth to do this. I can help reviewing your code. Also if any problem please comment here.

[2016-05-24 07:35] bgrant0607 commented on #25417
@nebril We're focused on wrapping up 1.3 and fixing test failures at the moment. Please subscribe to kubernetes-dev@googlegroups.com for status updates.

[2016-05-24 07:41] nikhiljindal commented on #26111
deep copies were indeed missing, but adding them hasnt fixed the issue. Will debug more.
https://github.com/kubernetes/kubernetes/pull/26142 is my PR to add the deep copies

cc @mfanjie Please feel free to file issues for any such problem you face. We need to fix all these issues. Its good if we know about them early. Thanks!

[2016-05-24 07:43] wojtek-t commented on #26015
Even a watch fail should not trigger re-list for normal case, since we still have state in the cache. It should catch up from the cached store.

Assuming that we have enough history etcd, I agree. We should probably do it at some point.

[2016-05-24 07:43] thockin commented on #26137
Sorry.  I didn't mean to close it.  Those buttons are too close.  The problem is that we do not have a model for Networks yet and therefore we have no way to represent different networks.  I would be open to having a network mode for kubelet that was "native" or something that maybe looked at annotations or some external config and used that do program docker networks.

[2016-05-24 07:54] AdoHe commented on #26137
@thockin This is just what I am considering. Actually in our internal version of kubernetes we have updated this since we are using docker network plugin to configure container network. And there are different docker networks in our container infrastructure, we need a way to set this when we are creating pod.

[2016-05-24 07:58] gmarek commented on #25849
It seems that the test hang on starting etcd on master machine (docker run ...).

[2016-05-24 07:59] gmarek commented on #25849
We don't have logs from master machine, so it's impossible to debug.

[2016-05-24 08:00] nebril commented on #25417
Thanks for the info!

[2016-05-24 08:00] davidopp opened #26144 "Fix performance problem of pod affinity"
We can use this issue to discuss ideas.

Suggestions so far have been indexing and equivalence classes+caching (or both).

cc/ @wojtek-t @kevin-wangzefeng

ref/ #25319 #25313

[2016-05-24 08:16] wojtek-t commented on #26144
Let me get back to it, after I'm done with my 1.3 work.

[2016-05-24 08:18] jsafrane commented on #26082
@lavalamp, you're author of the potentially racy code, can you please take a look?

[2016-05-24 08:26] AdoHe commented on #26137
[code]
I am afraid this is not that enough, having a network mode for kubelet means that all pods managed by this kubelet will have same network mode, which also means that all pods on a minion node will have same network mode, this may be not what users expect.

[2016-05-24 08:39] gmarek commented on #26062
I was starting 1000 node cluster and got an error loop:
[code]

The flannel server is running:
[code]
(Restart happened for not apparent reason 5 minutes after it started - but it's stable since then)

I don't think it's the lack of the file altogether, as >400 Nodes are working perfectly fine with logs like:
[code]

Non working Nodes have logs:
[code]

The fun part is that I can't see any entries

[2016-05-24 08:47] z32109571 opened #26148 "kube-proxy proxier.getServiceInfo(serviceName) is very slow"
we have 700 services.But when created a servicce for a pod ,we found the create iptables  rule was very slow.The Pod usually was connected by services after 10 minutes。So I chage the code for logging the execution time。
the code at pkg/proxy/userspace/proxier.go
` for i := range services {
        service := &services[i]
        glog.V(1).Infof("muke-debug:get service: %+v", service)

[code]

I ad

[2016-05-24 08:47] kargakis commented on #25905
The deployment reaper has a bug in that it doesn't recognize correctly notfound errors coming from the scaler. I have a commit (https://github.com/kubernetes/kubernetes/pull/20273/commits/35762336d116bd701f8d2dc7f7f259d77c860958) fixing that in https://github.com/kubernetes/kubernetes/pull/20273 and it may be the issue behind the reaper timeouts (I was seeing those in my pull prior to adding that

[2016-05-24 08:48] wojtek-t commented on #26062
One more data points - logs from flannel-server-helper:
[code]

[2016-05-24 08:49] wojtek-t commented on #26062
Which seems to be consistent with the config file there is on the machine.

Though, etcd seems to be empty (as @gmarek wrote above).

[2016-05-24 08:50] k8s-merge-robot opened #26149 "[k8s.io] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7644/

Failed: [k8s.io] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod to 2 pods {Kubernetes e2e suite}

[code]

[2016-05-24 09:05] wojtek-t commented on #26062
OK - I think we understand the reason.

As @gmarek observed, etcd was restarted after some time. And after that we lost all the data from it.

The problem is that config for etcd is broken (we are NOT persisting data). There are problems with volumes.

I will send out a fix for it soon.

[2016-05-24 09:09] gmarek commented on #26062
We still don't know why etcd has restarted after 5 minutes, but at least we know how to fix this problem.

[2016-05-24 09:35] piosz commented on #23538
Thanks @pwittrock for clarification.

[2016-05-24 09:42] k8s-merge-robot opened #26151 "[k8s.io] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7646/

Failed: [k8s.io] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}

[code]

[2016-05-24 09:46] piosz commented on #25815
cc @jszczepkowski

[2016-05-24 09:46] nowprovision opened #26152 "Multiple Third Party Resources failing in 1.3.0-alphav"
Using latest release of kube-apiserver and kubectl, with etcd 2.2.1 and a fresh data directory

`Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.4", GitCommit:"9990f843cd62caa90445cf76b07d63ba7b5c86fd", GitTreeState:"clean", BuildDate:"2016-05-17T21:58:54Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3+",

[2016-05-24 09:47] jszczepkowski commented on #25815
+1

[2016-05-24 09:52] blerko commented on #25406
Finally got the cla check to pass, hope this is OK:

Modify ha diagrams to remove podmaster #26143

On 2016-05-20 23:13, Janet Kuo wrote:

[2016-05-24 10:03] gmarek commented on #23327
I don't have any idea for an easy fix - NodeProblem API would be perfect, but I don't think it's mature enough and is supported by the scheduler @dchen1107 @davidopp.

If we decide to fix it for 1.3 and the only way of making the node unschedulable is to set its state to NotReady (please tell me if that's no longer the case), then we'd need to have RouteController to update NodeStatus and make sur

[2016-05-24 10:03] piosz commented on #24973
@gouyang sent fix

[2016-05-24 10:07] gmarek commented on #25919
Dupe of #26131

[2016-05-24 10:35] gitfred commented on #2049
Is this bug still valid?

[2016-05-24 10:52] sttts commented on #26126
This looks like a simple docker-pull timeout:

[code]

It only waits 90 seconds. The pull took 89 seconds. With scheduling and other latency we were probably over 90 seconds until the pod got ready.

[2016-05-24 11:03] mkumatag commented on #24984
Rightnow I don't see a way to establish a insecure connection via gophercloud package instead we can add a keystone ca.pem to the trusted directory, instruction mentioned [here](http://kb.kerio.com/product/kerio-connect/server-configuration/ssl-certificates/adding-trusted-root-certificates-to-the-server-1605.html) for more information.

IMO with this we can close this issue.

[2016-05-24 11:39] mqliang opened #26158 "Question: what's the functionality of SelfLink in ObjectMeta?"
May I ask what's the functionality of SelfLink in ObjectMeta?

It seems that we don't use it for any feature whereas it may affect performance, since we don't set SelfLink at object creation time but generate it every time when server response, see [setSelfLink](https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L115).

@caesarxuchao @wojtek-t

[2016-05-24 11:40] mqliang commented on #26158
I am sorry that this is not a issue reporting. I am really curious about this.

[2016-05-24 12:08] tatroc commented on #22676
Yes heapster is "Ready"

[code]

[code]

[2016-05-24 12:09] jellonek commented on #26102
Very good and detailed summary.

Because of mentioned narrowing of `rkt` possibilities I have to opt on first proposal.

Second option looks a bit like usage of ORM which have abstraction for multiple databases, but is using only features found in each of them, so e.x. not using foreign keys given by postgres, because we have similar functionality on ORM side prepared for databases like mysql, whi

[2016-05-24 12:11] #17899 closed

[2016-05-24 12:18] nhlfr commented on #21317
The PR #26160 is introducing node name in environment variables.

To sum it up, both PR-s are introducing the following downward API for node information:

* environment variables
  * node's name
  * node's IP address
* volume
  * node's labels
  * node's annotations

[2016-05-24 12:34] wojtek-t commented on #26062
OK - it seems that my PR is fixing the problem of "disappearing data".

We still have problem of crash-looping etcd.

[2016-05-24 13:13] jellonek commented on #25404
@steveeJ no, we don't have an issue for this and this is same when rkt is started by k8s or manually.

[2016-05-24 13:22] sttts commented on #21484
Some analysis:

- because the proxy error log output of https://github.com/golang/go/blob/91911e39f0fdfecc5453f9eca7ff74215ffb28a2/src/net/http/httputil/reverseproxy.go#L212 is not visible, the `WriteHeader` call we see in https://github.com/kubernetes/kubernetes/issues/21484#issuecomment-193437399 is actually this: https://github.com/golang/go/blob/91911e39f0fdfecc5453f9eca7ff74215ffb28a2/src/net

[2016-05-24 13:24] jsafrane commented on #26082
I have reproduced of the observed behavior. Get it at [reproduce-informer-race branch](https://github.com/jsafrane/kubernetes/tree/reproduce-informer-race) of my Kubernetes fork, patch https://github.com/jsafrane/kubernetes/commit/0b5bc1dc2fb1cc7c1e5fdb0d7cf4878f298d1b85

Compile it:
[code]

Run etcd somewhere and then run the test:
[code]
(with `-v 3` you get some logs I added to the informer and

[2016-05-24 13:32] gitfred commented on #24133
I will investigate the issue

[2016-05-24 13:39] eparis commented on #24753
I just got an e-mail from github support that they added an API to be able to view when a PR referenced a given PR. Which means we should today at least have the API information to be able to tell how many times people requested a retest for a given issue...

[2016-05-24 13:43] kfox1111 commented on #24984
I have added it to the proposed keystone token authentication docs.

[2016-05-24 13:43] kfox1111 commented on #24984
I have added it to the proposed keystone token authentication docs.

[2016-05-24 13:43] #24984 closed

[2016-05-24 13:45] k8s-merge-robot opened #26164 "[k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7657/

Failed: [k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 13:48] liangchenye commented on #25812
this [PR](https://github.com/kubernetes/kubernetes/issues/25703) fixes this.

[2016-05-24 13:52] wojtek-t commented on #26119
I'm reopening this one, since this doesn't seem to be solved.

So basically something strange is happening here. With @zmerlynn PR we have 10/s limit on API calls send to GCE. And we are still rate-limitted.

However, according to documentation we are allowed for 20/s:
https://cloud.google.com/compute/docs/api-rate-limits

So something either doesn't work or is weird.

[2016-05-24 14:06] wojtek-t commented on #26119
What is super interesting from the logs of recent run:

It starts to creating routes:
[code]

After 2 minutes from that, we are hitting "Rate limit Exceeded" for the first time:
[code]

And only after 9 minutes we create the first route ever.
The second one is created after 15 minutes, and from that point we create a number of them
[code]

So it seems that nothing useful is happening for the first

[2016-05-24 14:08] derekwaynecarr commented on #26104
Posted a fix here: https://github.com/kubernetes/kubernetes/pull/26166

[2016-05-24 14:11] jsafrane commented on #26082
I have sort of fix, please review very carefully #26167

[2016-05-24 14:11] wojtek-t commented on #26119
OK - so I think that what is happening is that all controllers are sharing GCE interface (and thuse they have common throttling).

So if one controller is generating a lot of API calls, then other controllers may be throttled.

@gmarek has a hypothesis that it may be caused by nodecontroller.

[2016-05-24 14:12] zmerlynn commented on #26119
One thing my PR didn't address (because it was late): Now we have some obnoxious differences in logging when you go to make a request, because the `Creating route` versus `Created route` could actually be absorbing a fair amount of ratelimiter. It could before because of the operation rate limiter and operation polling anyways.

[2016-05-24 14:13] wojtek-t commented on #26119
@zmerlynn - yes I'm aware of that. And probably this is exactly the case here.

[2016-05-24 14:14] gmarek commented on #26119
I got fooled by that - I guess we should fix it somehow.

[2016-05-24 14:15] k8s-merge-robot opened #26168 "[k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7658/

Failed: [k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 14:19] zmerlynn commented on #26119
One approach to fixing it is a similar approach to the operation polling code, but in the `RoundTripper`: warn if we ratelimited for more than N seconds (and dump the request or something? not clear how to clarify what we were sending).

[2016-05-24 14:21] wojtek-t commented on #26119
I found something else - Kubelet is also building GCE interface:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L337

We have 2000 kubelets, so if all of them send multiple requests to GCE, we may hit limits.

[2016-05-24 14:25] gmarek commented on #26119
Any idea in what circumstances Kubelet will contact cloud provider? @dchen1107

[2016-05-24 14:26] wojtek-t commented on #26119
Hmm - it seems it contacts GCE exactly once at the beginning. So it doesn't explain much.

[2016-05-24 14:26] zmerlynn commented on #26119
I think it's only here: https://github.com/kubernetes/kubernetes/blob/6224f44717effa17914fac41f13a4f2be7b5c21b/cmd/kubelet/app/server.go#L622

I've rarely seen GCE ratelimit readonly calls, in practice, and kubelets come up pretty well staggered.

[2016-05-24 14:32] chrislovecnm commented on #20961
@bgrant0607 I am having issues getting a v9 image in that works when it is deployed to gcr.io - I have had two different PRs go in that both worked locally, and then don't work when they built by someone else. So currently the v9 image is not stable. I have not had time to look at the e2e tests and they need to be improved as well. I have put in https://github.com/kubernetes/kubernetes/issues/2588

[2016-05-24 14:42] peijunfu commented on #25939
Any one can help on this topic? Thank you.

[2016-05-24 15:00] k8s-merge-robot opened #26171 "[k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7659/

Failed: [k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 15:00] k8s-merge-robot opened #26172 "[k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7659/

Failed: [k8s.io] Services should create endpoints for unready pods {Kubernetes e2e suite}

[code]

[2016-05-24 15:04] yujuhong commented on #25919
Let's close this one and use #26131 since I don't think the merge bot is smart enough to redirect its posts.

[2016-05-24 15:04] #25919 closed

[2016-05-24 15:05] yujuhong commented on #26131
The original issues is #25919
The fix is up, waiting to be merged #26086

[2016-05-24 15:14] pieterlange commented on #13305
Ping: are there still plans to change the docker health check to use docker ps instead of docker version?

Had this exact problem on 2 coreos 1032.1.0 nodes today; the docker daemon is completely unresponsive (except for version), but this didn't get picked up by kubernetes. Node remains healthy.

[2016-05-24 15:20] rca commented on #14276
I just ran into this on a week-old cluster.  On `m3.medium` instances, there is plenty of disk on the root partition, however docker's filesystem lives on the tiny 4G partition:

[code]

Is there a short-term fix for the time being?

[2016-05-24 15:30] pwittrock commented on #23538
@piosz Let me know if it would be helpful to do a knowledge transfer about how the jenkins jobs are setup.

[2016-05-24 15:32] rca commented on #14276
Answering my own question, I created an EBS volume and manually attached it to the instance as `/dev/xvdz`.  Once the volume was attached I added it to LVM:

[code]

[2016-05-24 15:36] AdoHe commented on #26148
@z32109571 `getServiceInfo` just do a map get operation, it should be fast normally. But if the lock is already in use by other goroutine, for example the periodically sync loop may hold the lock and do some slow operations. You could add more logs to the `Sync` process.

[2016-05-24 15:41] k8s-merge-robot opened #26175 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7661/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 15:46] cjcullen commented on #23327
The Ready/NotReady logic in the NodeController is pretty complex. I'd hesitate to let the RouteController also modify the Ready condition. Would there be a way to let the RouteController set something in the NodeStatus that the NodeController would be waiting for?

I will not have time to own this for 1.3. Any volunteers?

[2016-05-24 16:00] wojtek-t commented on #23327
I agree with @cjcullen that letting RouteController modify Ready condition is risky.

Would there be a way to let the RouteController set something in the NodeStatus that the NodeController would be waiting for?

That's an interesting question. Can we introduce another condition (like NetworkReady or sth like that) and that can be set only by RouteController?
The NodeController may potentially pro

[2016-05-24 16:01] yujuhong opened #26176 "kube-dns pod is missing in GKE/GCI"
A lot of tests have started failing in kubernetes-e2e-gke since build 7657
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/7657/

One symptom is the missing KubeDNS service: `06:17:52 May 24 06:17:46.123: INFO: Missing KubeDNS in kubectl cluster-info`
I grepped "kube-dns" in the build.log, which dumped the list of pods multiple times due to test failures, and it was nowhere to be seen.

[2016-05-24 16:02] yujuhong commented on #26176
Related failures: #26172, #26175, #26171, #26168, #26164

[2016-05-24 16:05] AdoHe commented on #26148
@thockin ptal.

[2016-05-24 16:10] derekwaynecarr opened #26178 "ResourceQuota on updates should use prevItem passed in admission"
https://github.com/kubernetes/kubernetes/pull/25787 added the ability to get the previous version of an object directly via admission control.

As a result, `ResourceQuota` admission code can now use this rather than fetching the object directly.

Need to update:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/resourcequota/controller.go#L370

[2016-05-24 16:10] derekwaynecarr commented on #26178
/cc @liggitt @smarterclayton @deads2k - this is a necessary follow-up, will get to it soon.

[2016-05-24 16:13] yujuhong commented on #13305
@pieterlange, we already switched our [docker checking script](https://github.com/kubernetes/kubernetes/blob/e6af5ee2965ec47d02d6609f67a9526819872fcb/cluster/saltbase/salt/supervisor/docker-checker.sh#L46) to use `docker ps` as the health check. The babysitter will restart docker if it hangs.

In addition to that, we also added timeout to docker calls in kubelet, so that even if docker hangs, kube

[2016-05-24 16:13] #13305 closed

[2016-05-24 16:13] smarterclayton commented on #26036
Opened #26179, I prefer this over #26051 because it keeps OpenShift not broken and also fixes a few other DeepCopy issues.

[2016-05-24 16:15] k8s-merge-robot opened #26180 "[k8s.io] Kubernetes e2e DNS suite started running before kubedns pod was ready"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7662/

Failed: [k8s.io] DNS should provide DNS for pods for Hostname and Subdomain Annotation {Kubernetes e2e suite}

[code]

[2016-05-24 16:18] dchen1107 commented on #23327
Today's NodeProblemDetetor only detects kernel related issues, not other issues. We could extend it to report docker related problem for 1.3 release timeline. Detecting software bugs shouldn't be NodeProblemDetector's goal, especially the pieces / components controlled by us. Please not abuse it.

Also please not create a "reflector Pod" in fly to complicate the logic since RouteController already

[2016-05-24 16:19] quinton-hoole commented on #25967
Today I saw a very similar error to the one reported in #26067, but seeing as that was closed as a dupe of this, adding details here:

https://github.com/kubernetes/kubernetes/pull/26105#issuecomment-221321773

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26105/kubernetes-pull-test-unit-integration/27563/
[code]

https://pantheon.corp.google.com/storage/browser/

[2016-05-24 16:25] dchen1107 commented on #13305
@pieterlange We are using docker ps to do healthcheck in 1.2 release. Also incoming 1.3 release, we switch to docker native client library so that we can apply timeout to all docker API calls except pulling images. Thanks for reporting the issue.

[2016-05-24 16:27] verdverm commented on #25238
@bgrant0607 @DirectXMan12

Your suggested changes makes the observed behavior in line with what we were expecting.
Maybe an update to the docs to make this more explicit would be helpful.

Thanks for all your help!

[2016-05-24 16:29] zmerlynn commented on #23327
@davidopp asked separately about priority (offline), answering here. The priority of this bug is inversely related to #26119. If we can get route programming on large clusters down to O(minutes), this bug is back to being a nuisance that we can grit our teeth and ship without. As it is, after a little work on #26119, we still have laggard routes that aren't getting created for a *while*.

[2016-05-24 16:39] chrislovecnm commented on #25889
@pwittrock I thought of pushing the image to a local google project registry, but then the e2e test would only work when hosted in Google cloud.

Maybe both?

[2016-05-24 16:39] brendandburns opened #26181 "TestPersistentVolumeMultiPVs is flaky"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24882/kubernetes-pull-test-unit-integration/27477/

[2016-05-24 16:44] Perfect-Web commented on #26040
any news about this ?

[2016-05-24 16:46] pwittrock commented on #25889
@chrislovecnm Is the image built as part of the example, or can we pre-build it and get someone with permissions to stick it in gcr.io?

[2016-05-24 16:48] girishkalele commented on #26053
@bprashanth

Thanks for the pointer - I will take a look

[2016-05-24 16:53] bgrant0607 commented on #18206
Some errors are listed here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/sync_result.go#L29

[2016-05-24 16:56] wojtek-t commented on #23327
@dchen1107 - what you suggested is exactly what I suggested in the post above yours. So it seems that at least we have a similar view on it.

[2016-05-24 17:05] bprashanth commented on #22676
and kubectl get ep doesn't show anything for heapster? did you modify the svc or pod labels/selectors? can you give me your kube-controller-manager logs?

[2016-05-24 17:06] cjcullen commented on #12167
The flakiness of tunnels has been reduced, and the error message has been updated. Closing.

[2016-05-24 17:06] #12167 closed

[2016-05-24 17:09] yujuhong commented on #24508
This hasn't happened for a while and I'm not actively looking at it. Unassign myself for now.

[2016-05-24 17:15] gmarek commented on #23327
NC does not set 'ready = true' status, Kubelet does. NC sets only false and unknown statuses. I think that adding the new Status object and making NC/Kubelet pipe it to the NodeStatus is similar to setting NodeStatus in RC in terms of the risk.

As for reflector - we'd need to do some kind of network-based health at some point. Doing it in RC makes it GCE/GKE specific, which is fine, as it's easie

[2016-05-24 17:18] gmarek commented on #23327
We probably should think about renaming "NodeReady" to "NodeReachable" or sth if we want to add more Conditions.

[2016-05-24 17:26] wonderfly opened #26183 "OS_DISTRIBUTION should be split into two vars"
This came up while I was working on #25977, for which I am adding support to run clusters with the master on GCI and nodes on Debian. I find it difficult to do within current framework that uses a single env var, `OS_DISTRIBUTION`, to select the OS distro for both the master and nodes. Different distros tend to have different configs, ranging from instance metadata to initialization instructions,

[2016-05-24 17:26] wonderfly commented on #26183
cc/ @dchen1107 @roberthbailey @andyzheng0831

[2016-05-24 17:28] dchen1107 commented on #24577
@vishh Can you take a look at this?

[2016-05-24 17:29] mikedanese opened #26184 "kubemark-500-gce critical build failing"
[code]

http://kubekins.dls.corp.google.com/job/kubernetes-kubemark-500-gce/3360/
http://kubekins.dls.corp.google.com/job/kubernetes-kubemark-500-gce/3359/
http://kubekins.dls.corp.google.com/job/kubernetes-kubemark-500-gce/3362/

[2016-05-24 17:30] mikedanese commented on #26184
cc @fejta @ixdy

[2016-05-24 17:35] k8s-merge-robot opened #26185 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/4982/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

[2016-05-24 17:36] relaxdiego commented on #25697
Thanks @childsb! If I understand it correctly, part of the documentation fix is to change the instruction to use a Ceph user key instead of a Ceph admin key otherwise any project that uses the Ceph backend will have a copy of the admin key. Is that correct?

[2016-05-24 17:39] dcbw commented on #25092
FWIW, the upstream CNI fix got merged for CNI 0.3.0

[2016-05-24 17:39] dcbw commented on #25143
The upstream CNI fix got merged for CNI 0.3.0.

[2016-05-24 17:42] mikedanese opened #26186 "jenkins getting 503 curling github"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-5-gce/4980/console
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-500-gce/3361/console

cc @fejta @ixdy

[2016-05-24 17:49] yujuhong commented on #26176
/cc @k8s-oncall, this has blocked the submit queue for hours.

[2016-05-24 17:58] wojtek-t commented on #23327
This might get piped as a NodeReady status, or we can have scheduler skip "NetworkConfigured = false" Nodes when scheduling.

Yeah - this is more a technical detail at this point.

We probably should think about renaming "NodeReady" to "NodeReachable" or sth if we want to add more Conditions.

I don't understand this one. At the level of API you have "NodeCondition". Currently one condition is "No

[2016-05-24 17:59] andyzheng0831 commented on #26176
I find what is wrong. The PR #26159 is incorrect. Here is error log:

configure-helper.sh[1093]: /home/kubernetes/bin/configure-helper.sh: line 661: base_metrics_memory: command not found

I will fix it immediately

[2016-05-24 18:05] mikedanese commented on #25143
cc @freehan

[2016-05-24 18:06] yujuhong commented on #26176
@andyzheng0831 Thanks! Assigning the issue to you for ease of tracking.

[2016-05-24 18:09] Random-Liu commented on #26004
Another occurence: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/26145/node-pull-build-e2e-test/7658/build-log.txt

[2016-05-24 18:09] smarterclayton opened #26187 "e2e failure: Failed to create firewall e2e-gce-jenkins-pr-agent-20160523-2-2-minion-e2e-gce-jenkins-pr-agent-"
[code]

[2016-05-24 18:10] ixdy commented on #26184
Something broken in cloud? Even build 3358 was starting to show failures:
[code]

[2016-05-24 18:10] Random-Liu commented on #26004
It's wired that each time docker hung starts during container runtime conformance test. @liangchenye

[2016-05-24 18:10] yifan-gu commented on #23706
This can be closed, right? @sjpotter

[2016-05-24 18:11] andyzheng0831 commented on #26176
Root cause: The PR #26159 used metrics_memory="$(base_metrics_memory)", in which "(" and ")" should be "{" and "}". The script configure-helper.sh has a protective setting existing on error. So, it fails on setting up heapster and exist. The step for setting up remaining addon pods are skipped. This is intentionally, so that the breakage can be seen easily.

I am verifying my fix and then send out

[2016-05-24 18:11] Random-Liu commented on #25993
It's wired that each time docker hung starts during container runtime conformance test. @liangchenye
I believe it is related with the docker hung problem.

[2016-05-24 18:11] Random-Liu commented on #26004
Close this one and track the issue at #25993.

[2016-05-24 18:11] #26004 closed

[2016-05-24 18:15] yujuhong commented on #26176
@andyzheng0831 where was the error printed? I also suspected that the script errored out, but wasn't sure where to look (and I didn't spend more time digging). In the case where the setup fails, it'd be great if we can surface that, instead of continue running all the tests.

[2016-05-24 18:25] ixdy commented on #26184
From kubernetes-kubemark-500-gce/3319 ~4 days ago:
[code]

Job didn't fail, though.

[2016-05-24 18:25] andyzheng0831 commented on #26176
@yujuhong when you ssh into an instance, you should see broken motd information printed out by code block https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure.sh#l27-38. Use the "systemctl" commands there to see the log of gci cluster configuration.

[2016-05-24 18:25] k8s-merge-robot opened #26191 "[k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7667/

Failed: [k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive {Kubernetes e2e suite}

[code]

[2016-05-24 18:26] mikedanese commented on #26184
I'm going to remove the build from SQ critical. I'm pretty sure this is not a k8s issue.

[2016-05-24 18:26] ixdy commented on #26184
kubernetes-kubemark-gce-scale/1175 also:
[code]

So far it seems that only kubemark builds are affected.

[2016-05-24 18:27] yujuhong commented on #26176
@andyzheng0831 I was hoping the log would be collected and uploaded to the google storage bucket :\

[2016-05-24 18:27] andyzheng0831 commented on #26176
The fix https://github.com/kubernetes/kubernetes/pull/26190 is out for review. I am officially on vacation these days, so please not be surprised if I don't respond promptly.

[2016-05-24 18:28] andyzheng0831 commented on #26176
@yujuhong The motd is in the same way as ContainerVM. If the log collection is in the image, please log an issue for GCI team. If the log collection mechanism is out-of-box, please point its configuration to me, so that I can make it work with GCI.

[2016-05-24 18:31] andyzheng0831 commented on #26176
@yujuhong There is an internal issue logged by GKE team for bridging the log collection. More specifically, that is for uploading logs collected by journald. The cluster initialization is written as systemd jobs, so the log is collected by journald.

[2016-05-24 18:32] roberthbailey commented on #26183
That sounds reasonable to me.

[2016-05-24 18:39] freehan commented on #25143
Great. Will clean up for the next version bump.

[2016-05-24 18:40] pwittrock commented on #26138
Should be fixed with #25171

[2016-05-24 18:41] Random-Liu commented on #23706
@yifan-gu We could close this one and track #25326 on #24702.

[2016-05-24 18:41] pwittrock commented on #26112
Duplicates #26138

[2016-05-24 18:41] #26112 closed

[2016-05-24 18:41] pwittrock commented on #26138
cc @bprashanth

[2016-05-24 18:46] k8s-merge-robot opened #26194 "[k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7668/

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 18:46] tatroc commented on #22676
End points appear to be good.
[code]

Here is the contents of: heapster-service.yaml
[code]

In the kube-controller-manager log all I see are the following messages.
``May 24 13:43:23 servername kube-controller-manager: W0524 13:43:23.205409    3878 horizontal.go:108] Failed to reconcile nodetestv2: failed to compute desired number of replicas based on CPU utilization for ReplicationController/def

[2016-05-24 18:47] vishh commented on #24677
cc @kubernetes/sig-node

[2016-05-24 18:48] smarterclayton commented on #25691
@timothysc etcd failed to come up within a reasonable window, i don't see a recent etcd bump, so this seems more likely that CPU was so heavily starved that we didn't start within 5s.

[2016-05-24 18:48] tmrts commented on #24677
cc @yifan-gu @euank @jonboulle @alban

[2016-05-24 18:49] ncdc commented on #24677
cc @timothysc @richm

[2016-05-24 18:49] smarterclayton commented on #25691
Dupe of #25278

[2016-05-24 18:51] mikedanese commented on #25977
It happened again: https://github.com/kubernetes/kubernetes/pull/26190

[2016-05-24 18:52] vishh commented on #24577
Looking at this test.

[2016-05-24 18:53] thockin commented on #2049
yes, but now it in L78:

[code]

This is not a huge deal, but it is wrong.  It should call `api.DeepCopy_api_Service`

[2016-05-24 18:54] ncdc commented on #19077
/me digs out an old comment from @vishh

`pulled`](

With the serialized image puller, you don't actually get the "pulling" event until the puller receives the request from the channel. Unfortunately, if a pull "hangs" for whatever reason, other pods will get stuck in Pending with no visible information and no events, because they're waiting for the serialized image puller to process the pull requ

[2016-05-24 18:55] gmarek commented on #23327
If we want to add a new condition for route rediness (however we call it), then in practice "NodeReady" understood as "Node is ready to run Pods" would be a conjunction of current "NodeReady=true" (which really means that the Node is reachable now) and "RouteReady=true". I think that may be confusing.

[2016-05-24 18:56] derekwaynecarr opened #26198 "systemd based node images need to enable accounting for node e2e"
The following PR is blocked by this problem (best I can tell)
https://github.com/kubernetes/kubernetes/pull/25982

Change needed:

[code]

To verify accounting is enabled, you should restart the kubelet and docker

[code]

Where the important thing to very is that the cpu,cpuacct and memory have an entry that is not `/` and matches where the unit is launched.

@pwittrock - as discussed in today's

[2016-05-24 18:56] mikedanese commented on #25645
Flaked again https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26190/kubernetes-pull-test-unit-integration/27676/

[2016-05-24 18:57] yujuhong commented on #26176
@andyzheng0831 thanks for fixing it!

[2016-05-24 19:01] smarterclayton commented on #25835
What was the NetworkPolicy field that you wanted to support here?  Is it critical for 1.3?  Trying to decide whether to do the cheap or hard fix.

[2016-05-24 19:20] vishh commented on #24677
@dcowden SGTM

[2016-05-24 19:21] yujuhong opened #26199 "kubenet: failed to "TeardownNetwork""
Kubelet log is full of errors from tearing down network at HEAD.

[code]

From the log, a lot of them were the result of trying to access `/proc/0/ns/net`. Note that if you `docker inspect` an exited container, the returned PID will be 0. Therefore, my guess is that kubelet tried to tear down the network *after* the container has already exited. I didn't dig further.

@freehan could you take a loo

[2016-05-24 19:23] yujuhong commented on #26199
/cc @dcbw @kubernetes/sig-node

[2016-05-24 19:36] dchen1107 commented on #26183
hmm, we used to have that OS_DISTRIBUTION variable or something similar which I added to have a CoreOS & rkt demo by bringing up a hybrid cluster. I guess ppl deprecated that variable. SGTM

[2016-05-24 19:38] philips commented on #12533
@aaronlevy @pbx0 does this still happen with the kubelet wrapper?

[2016-05-24 19:40] jimmycuadra commented on #17088
This limitation throws a big wrench in how my company was planning to use ingresses. Our use case is running multiple copies of the same application stack at different versions, and to keep the stacks isolated from each other, we use namespaces. We'd planned to run a single ingress controller that knows how to determine which applications and versions of those applications by the subdomain of the

[2016-05-24 19:42] dchen1107 opened #26201 "Document rkt known issue for kubernetes 1.3 release"
For each release, we test and validate docker as runtime, and document the known issue. rktnetes 1.0 is targeted for Kubernetes 1.3 release, let us also document the known issues related to rkt as the runtime.

[2016-05-24 19:43] lavalamp opened #26202 "`kubectl apply deployment -f` doesn't accept label/selector changes"
I got errors complaining about the selector and labels not matching even if I explicitly specified both. Showed @janetkuo.

[2016-05-24 19:45] dcbw commented on #26102
First, I (and others) are aware that the current Runtime object model doesn't work well for VM-style runtimes and I know ther'es ongoing work to fix that.  I don't think that precludes using Kubernetes network plugins for VMs as long as the net plugin API is sufficient generalized.  The only pain point I can think of right now is GetNetNS() which assumes a network namespace.  That's clearly not go

[2016-05-24 19:48] robdaemon commented on #25823
@lavalamp I urge you to reconsider this - it does not build properly for people that are depending on the Kubernetes client APIs and have to vendorize them. 1.2 is still the stable, released version.

This change is forcing me to move a product to an alpha version of Kubernetes at this time. You cannot godep restore anymore:

[code]

[2016-05-24 19:51] dchen1107 commented on #26201
cc/ @yifan-gu

[2016-05-24 19:54] dchen1107 commented on #26187
This is really a p0 since it is one of the breakages blocks our merge-bot completely.

[2016-05-24 19:54] freehan commented on #26199
Is this a dup of #20379?
IIUC, we can add a safe guard to prevent TearDown to proceed, but it will not solve the root cause.

[2016-05-24 19:55] dchen1107 commented on #26187
cc/ @mikedanese

[2016-05-24 19:57] bgrant0607 commented on #23174
@elsonrodriguez Many in the community have chosen not to use Salt and nobody is in love with it.

The overall cluster-deployment proposal is here:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/cluster-deployment.md

Focusing on building blocks to make cluster creation simpler, regardless of Salt vs. Ansible vs. whatever, would benefit everyone.

@mikedanese Is there a list of

[2016-05-24 20:00] Random-Liu opened #26203 "Node E2E: Failed to pre-pull image"
[code]

@ncdc translated the string part:
[code]

Since the node e2e test uses "docker pull" command directly, so there may be a docker cli operation timeout.

[2016-05-24 20:02] ryansavino commented on #25650
I am seeing the same issue. I have a 3 node setup, all with "Ubuntu 14.04.3 LTS". However, none of my kubectl status commands are working; they report the same error.

error:
root@mh-node-savino-70-40:~/kubernetes/cluster# KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
... Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /root/.ssh/id_rsa (/root/.ssh/id_rsa)
... calling

[2016-05-24 20:03] mikedanese commented on #26187
@fejta @ixdy @spxtr

[2016-05-24 20:03] ryansavino commented on #25650
from /var/log/upstart/kube-proxy.log:
E0524 11:28:39.645186   23228 server.go:340] Can't get Node "10.1.70.40", assuming iptables proxy: Get http://10.1.70.40:8080/api/v1/nodes/10.1.70.40: dial tcp 10.1.70.40:8080: connection refused
I0524 11:28:39.646192   23228 server.go:200] Using iptables Proxier.
I0524 11:28:39.646284   23228 proxier.go:208] missing br-netfilter module or unset br-nf-call-ipt

[2016-05-24 20:04] dchen1107 commented on #26203
Is this part of runtime conformance tests?

[2016-05-24 20:06] Random-Liu commented on #26203
@dchen1107 No. This happens during prepull all node e2e images. Ref #25944.

[2016-05-24 20:15] tym-oao commented on #23417
I hope this is the right place to note that the suggested port-forwarding workaround for OS X doesn't work with the new native Docker for Mac beta, there not being a `docker-machine` VM to ssh to. The `xhyve` hypervisor included with Docker for Mac does not include a ssh daemon AFAIK.

[2016-05-24 20:15] dchen1107 commented on #26062
cc/ @xiang90  @lavalamp  for crash-looping etcd.

[2016-05-24 20:20] dchen1107 commented on #26203
Ok, since it is a best-effort thing to help with deflake the test failures caused by slow pulling, can we either add retry logic or at least not fail the entire test suite?

cc/ @pwittrock

[2016-05-24 20:22] smarterclayton opened #26204 "e2e flake: RecreateDeployment should delete old pods and create new ones"
[code]

[code]

[2016-05-24 20:22] yujuhong commented on #26176
#26195 was merged and the build is green. Closing the issue.

[2016-05-24 20:22] #26176 closed

[2016-05-24 20:22] timstclair commented on #26185
Dupe of https://github.com/kubernetes/kubernetes/issues/25827

[2016-05-24 20:23] yujuhong commented on #26172
Fixed by #26195

[2016-05-24 20:23] yujuhong commented on #26175
Fixed by #26195

[2016-05-24 20:23] #26175 closed

[2016-05-24 20:23] yujuhong commented on #26171
Fixed by #26195

[2016-05-24 20:23] #26171 closed

[2016-05-24 20:23] yujuhong commented on #26168
Fixed by #26195

[2016-05-24 20:23] #26168 closed

[2016-05-24 20:23] yujuhong commented on #26164
Fixed by #26195

[2016-05-24 20:23] #26164 closed

[2016-05-24 20:23] yujuhong commented on #26191
Fixed by #26195

[2016-05-24 20:23] yujuhong commented on #26194
Fixed by #26195

[2016-05-24 20:23] #26194 closed

[2016-05-24 20:24] timstclair commented on #25827
Closing in favor of auto-created issue: https://github.com/kubernetes/kubernetes/issues/26185

[2016-05-24 20:24] #25827 closed

[2016-05-24 20:26] dchen1107 commented on #25911
I think https://github.com/kubernetes/kubernetes/pull/26122 should fix this issue.

[2016-05-24 20:34] paralin commented on #17088
@jimmidyson You should use the approach that our group is using for Ingresses.

Think of an Ingress not as much as a LoadBalancer but just a document specifying some mappings between URLs and services **within the same namespace**.

An example, from a real document we use:

[code]

We make one of these for each of our namespaces for each track.

Then, we have a single namespace with an Ingress Con

[2016-05-24 20:34] #17088 closed

[2016-05-24 20:39] lavalamp opened #26205 "Stop checking in generated docs"
Instead, have a presubmit test that verifies that the docs can be generated. This will reduce the number of conflicts & rebases, therefore increase speed through the queue.

Confirmed with @bgrant0607 that nothing depends on these docs at the moment.

@johndmulhausen fyi, some manual process might have to change once this is in.

[2016-05-24 20:43] luxas commented on #26093
@pmorie Thanks :) It took some time to dig it out.

When we document it, I think we should present them in groups, e.g. always required, required with option `--xxx`, required when using yyy as the storage driver, and nice-to-haves.

But we should also get rid of some:
 - `glibc`: #26028
 - `touch` when using `rkt`. Seems simple enough to remove.
 - `iptables` we shouldn't call `NewFlannelOverlay(

[2016-05-24 20:44] paralin commented on #17088
I might open up another issue about actually properly documenting this with examples. Seems there's some confusions around Ingresses. They're really powerful when applied correctly.

[2016-05-24 20:47] jellonek commented on #26102
FYI: kvm flavored rkt does not use all CNI network plugins, only IPAM plugins. Rest of them (flannel, bridge, macvlan...) are reimplemented in `rkt` code to function like they. Because of that, current implementation requires that network should be configured internally by `rkt`.
We could discuss about additional step, like already existing "prepare", but for networking. This would help a bit with

[2016-05-24 20:58] lavalamp commented on #25823
@roberthbailey has been gatekeeping cherry-picks.

[2016-05-24 21:04] yujuhong commented on #26199
See also #26204

[2016-05-24 21:24] bgrant0607 commented on #25823
@robdaemon You might also take a look at work others have done to tease out the client code, such as:
https://github.com/technosophos/kubelite

[2016-05-24 21:24] pwittrock commented on #26198
@derekwaynecarr would you update [setup_host.sh](https://github.com/kubernetes/kubernetes/blob/11105355fc19ee124013554398355eeac36356d2/test/e2e_node/environment/setup_host.sh) with the proposed change and make sure running it on a clean rhel instance will give the desired result?

[2016-05-24 21:25] bgrant0607 commented on #25590
cc @kubernetes/examples

[2016-05-24 21:25] k8s-merge-robot opened #26209 "[k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/7674/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 21:27] bgrant0607 commented on #25590
cc @ncdc

[2016-05-24 21:27] freehan commented on #26204
Dig up something interesting from the kubelet log:

[code]

[2016-05-24 21:29] brendandburns commented on #25925
I actually think this was caused by something in my PR.  closing this issue.

[2016-05-24 21:31] pwittrock commented on #26203
Retrying pre-pulling failed images SGTM.  Maybe 5 times each?

[2016-05-24 21:31] pwittrock commented on #26203
It is nice that the test failure reason is obvious :)

[2016-05-24 21:32] bgrant0607 commented on #26205
Yes, we want to generate the docs into kubernetes.github.io, anyway.

cc @kubernetes/docs

[2016-05-24 21:33] lavalamp commented on #23166
@AdoHe that list looks correct.

[2016-05-24 21:33] lavalamp commented on #23166
We'll leave this issue open to make sure we get this in the release notes.

[2016-05-24 21:36] lavalamp commented on #23508
I believe @deads2k added the ability to do this in code. It's not hooked up to the command line flags afaik. I think this should only affect alpha things so it's not urgent.

[2016-05-24 21:37] pwittrock commented on #23417
@tym-oao Thanks for letting us know.  Do you have a work around we can add to the documentation, or would you be interested in creating a PR to update it?

cc @dlorenc

We are working on an alternative solution to replace the dockerized hyperkube (called 'minikube').

[2016-05-24 21:37] ixdy commented on #26187
the new Jenkins agents have names that are too long...

[2016-05-24 21:42] jimmycuadra commented on #17088
I think your @-mention was the wrong person. :P

I understand the difference between ingress resources and the ingress controller, but I'm not sure I understand why my use case is not appropriate here, or how the setup you describe does the same thing we're trying to do.

In our imagined setup, the ingress controller and all ingress resources exist in one namespace. However, we create ingress reso

[2016-05-24 21:43] vishh commented on #23417
Docker for Mac is untested. We are working on `minikube` which will replace
the current docker based setup soon.

On Tue, May 24, 2016 at 1:56 PM, Thomas Yager-Madden <
notifications@github.com> wrote:

[2016-05-24 21:43] wonderfly commented on #26131
Another one:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26197/kubernetes-pull-build-test-e2e-gce/41811/

[code]

[2016-05-24 21:46] k8s-merge-robot opened #26210 "[k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/7676/

Failed: [k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 21:49] MartinSoto commented on #13313
Being hit by this right now. Any suggestions for a workaround. Is fixing the fluentd containers manually a solution at all? What happens when new nodes are added to the cluster?

[2016-05-24 21:54] zmerlynn opened #26211 "nodecontroller never finishes updates on 2k nodes"
My cluster has been up for 20m or so and the `nodecontroller` is going crazy (this is filtering out "observed a new Node" messages, because they're *very* spammy):

[code]

[2016-05-24 21:55] yujuhong commented on #26204
Link to the log would help:
https://console.cloud.google.com/storage/kubernetes-jenkins/pr-logs/pull/26086/kubernetes-pull-build-test-e2e-gce/41776

[2016-05-24 21:56] pwittrock opened #26212 "Node e2e tests run as part of conformance suite of tests"
Node e2e test should be run as part of the e2e conformance test suite.
- figure out if the node e2e test should be run against every node in the cluster or just 1 node
- support running tests using hooks provided by the cluster e2e framework for talking to the nodes
- hook into existing test scripts
- build node e2e with cluster e2e

[2016-05-24 21:57] zmerlynn commented on #26211
@dchen1107: Can you find someone to maybe look at this or triage further?

[2016-05-24 21:59] drashkov commented on #25585
We use JSON files, here is the full one. "SLACK_ENDPOINT" does not appear as an environment variable in the pods. Doing "kubectl apply -f <thisfile>.json" does not create new pods, and does not pass these variables to the pods. If I change the number of replicas and add a new pod, that pod will be created, but won't have that varible.

`
{
    "apiVersion": "extensions/v1beta1",
    "kind": "Deplo

[2016-05-24 21:59] pwittrock opened #26213 "Node e2e tests run against same releases and targets as e2e"
Cluster e2e tests run against several different environments such as previous releases and GKE.  We need to run against the same targets.  May tie in to #26212

[2016-05-24 22:00] pwittrock opened #26214 "Node e2e images and instances should be in their own jenkins project"
To prevent Dosing other jobs in the jenkins project, node e2e instances should be created in their own project.

[2016-05-24 22:02] pwittrock opened #26215 "Node e2e test harness should support running tests in parallel"
Node e2e tests should be run in parallel:

- Tests that do not require isolation / are non-disruptive can be run together on the same host in parallel
- Tests that require isolation / are disruptive need to be run in serial (maybe on a separate host)

[2016-05-24 22:03] paralin commented on #17088
Yeah whoops. I just assumed the first jimmy in the @ list was you.

There's absolutely no reason to have your ingress resources in one namespace, as far as I can tell. What's keeping you from putting the routes for your app into a single Ingress object and then replicating this object for each namespace you want to run? It just makes sense from a symmetry perspective - if every namespace has the s

[2016-05-24 22:05] pwittrock opened #26216 "Node e2e processes for updating images from outside google"
Currently creating and updating images is done by Googlers.  We need a way for contributors outside Google to at least provide images that are copied into the node e2e project (TBD).  This might mean direct access to updating an image project, or something else.

[2016-05-24 22:09] dchen1107 commented on #26211
@Random-Liu Can you take a look at this to make sure the issue is not caused by NodeProblemDetector updating a new NodeCondition?

[2016-05-24 22:10] Random-Liu commented on #26211
Sure!

[2016-05-24 22:10] pwittrock opened #26217 "Node e2e support running tests against different kubelet flag values for the same flag"
We want to support testing the kubelet under different flag configurations.  Currently only a single static list of flags is supported.  The flags are defined in [e2e_remote.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_remote.go).

Possible approach
- Individual tests can define a specific flag configuration(s) they require
- For each flag configuration set, the suite

[2016-05-24 22:12] Random-Liu commented on #26211
@dchen1107  Normally node-problem-detector should not update node object so frequently.
@zmerlynn Could you paste the `kubectl describe nodes` result here?

[2016-05-24 22:13] pwittrock opened #26218 "Node e2e remote copy kernel logs from runs"
Node e2e tests will only copy the kubelet.log, kube-apiserver.log, etcd.log, and junit.xml files as test artifacts. - to be done in #26101  Copy additional useful logs, such as kernel logs and even container logs.

[2016-05-24 22:13] lavalamp commented on #26118
@fejta: Let's start with this list: @wojtek-t, @liggitt, @lavalamp, @timothysc, maybe @xiang90 if he wants.

@AdoHe: We're looking for people who've contributed a significant amount of code to this particular directory and understand the goals in the area deeply-- I appreciate your enthusiasm but this may not be the best place for you to help review quite yet. :)

[2016-05-24 22:15] xiang90 commented on #26118
@lavalamp Sure. I would like to review/improve the storage related code.

[2016-05-24 22:18] pwittrock opened #26219 "Node e2e dump namespace debug info on failed tests"
When a test expectation fails, we should dump as much contextual debug information as possible so we don't have to comb through logs to figure out the context.  It would be helpful to use tools such as [DumpAllNamespaceInfo](https://github.com/kubernetes/kubernetes/blob/316103875e91511268bd0c2b4221a5a982275e5f/test/e2e/framework/util.go#L2250) to display the test state.

[2016-05-24 22:18] girishkalele commented on #26053
Duplicate of image pulling flake - only 2 minions experienced fatal pull errors for the fluentd 1.15 image from the GCR repository.
Kubelet and docker logs show no other errors.
Running the docker daemon in -D debug mode might help shed more light on the exact image pull failure that we can provide to the GCE folks.

[2016-05-24 22:18] #26053 closed

[2016-05-24 22:19] pwittrock opened #26220 "Node e2e reporting"
It would be useful to have daily or per-pr reports about the health of each distro and publish it to a dashboard somewhere

[2016-05-24 22:19] girishkalele commented on #26053
Duplicate of #25277

[2016-05-24 22:19] MartinSoto commented on #17681
This seems to be a duplicate of #13313. Unfortunately, no fix or workaround is suggested there either.

[2016-05-24 22:19] pwittrock opened #26221 "More node e2e test coverage"
Continue to add test cases outlined in [this doc](https://docs.google.com/spreadsheets/d/1qV38BesOaH70bzd_7g_YgUzpI4dZetGwxljL-saUVzw/edit)

[2016-05-24 22:20] vishh commented on #13313
#25712 attempts to address the docker log path issue.

[2016-05-24 22:20] yujuhong commented on #26204
@freehan I think the teardown failures were red herrings. The pods were already deleted from the etcd, and the race condition that caused the second teardown should not have affected the deployment test at all. By the way, I believe this happened in the test cleanup, *after* the test has failed.

@kubernetes/deployment, it's unclear from the test output *what* failed. Please triage and reassign.

[2016-05-24 22:27] krmayankk commented on #23838
@AdoHe sure, will start looking where this change is needed as soon as we have a decision on this.

[2016-05-24 22:27] pwittrock commented on #26212
Current process for adding images is to:
- Create a new host from a base image in the `kubernetes-jenkins-pull` gcloud project
- Run the [setup_host.sh](https://github.com/kubernetes/kubernetes/blob/11105355fc19ee124013554398355eeac36356d2/test/e2e_node/environment/setup_host.sh) script on the host
- Convert the running instance to an image via: Create Snapshot -> Create Disk -> Create Image
- Cop

[2016-05-24 22:28] roberthbailey commented on #25823
I would consider a cherry pick for the 1.2 branch if it was small and easily reviewable. This is a reported bug; is anyone volunteering to send a cherry pick PR?

[2016-05-24 22:28] pwittrock commented on #26215
To run multiple hosts in parallel, see [run_e2e.go](https://github.com/kubernetes/kubernetes/blob/11105355fc19ee124013554398355eeac36356d2/test/e2e_node/runner/run_e2e.go).  To update the test suite harness, see [e2e_node_suite_test.go](https://github.com/kubernetes/kubernetes/blob/11105355fc19ee124013554398355eeac36356d2/test/e2e_node/e2e_node_suite_test.go)

[2016-05-24 22:29] janetkuo commented on #26202
To reproduce:

First create a Deployment via `apply -f`
[code]

Then remove any of the labels in the file, and `apply -f`
[code]

@kubernetes/kubectl @AdoHe

[2016-05-24 22:31] yujuhong commented on #26199
I don't think #26204 failed because of this.

@freehan this is probably caused by #26204, like you said. The fact that we are seeing more errors than before is likely due to #24964, which enforces graceless namespace deletions. Before that, most objects in the e2e were deleted gracefully and the race condition was rarely hit. Now most objects will hit this path.

It'd still be a good idea to add a

[2016-05-24 22:31] saad-ali opened #26222 "Reorganize Volume Controllers"
Put PV/PVC and Attach/Detach controllers under one volume dir

e.g.
[code]

[2016-05-24 22:32] dchen1107 commented on #26212
cc/ @vishh and @timstclair

[2016-05-24 22:32] lavalamp commented on #26082
I was pretty sure there was a race in there, but never able to repro, thanks.

[2016-05-24 22:32] dchen1107 commented on #26213
cc/ @vishh and @timstclair

[2016-05-24 22:32] yissachar opened #26223 "Can't populate volume from ConfigMap"
According to the [ConfigMap docs](http://kubernetes.io/docs/user-guide/configmap/) it should be possible to create a volume from a ConfigMap and populate the files with the value of a given key from the ConfigMap.

I have created the example Redis ConfigMap and Pod as described in the docs, but the container fails to start due to the file not existing:

[code]

[2016-05-24 22:33] dchen1107 commented on #26219
cc/ @vishh and @timstclair

[2016-05-24 22:35] caesarxuchao commented on #26158
My understanding is that SelfLink is used for a human or a script or a thirdparty client to quickly figure out where to find the object on the server.

Do you have access to Slack or StackOverflow? They are more proper places for this kind of questions and probably you can get an answer more quickly :)

[2016-05-24 22:38] brendandburns commented on #25823
@robdaemon can you send the cherry pick?

[2016-05-24 22:40] Random-Liu commented on #26211
@dchen1107 There is no NodeProblemDetector running in this cluster. :)

[2016-05-24 22:41] jingxu97 commented on #18396
Currently, the following objects already have description.
Firewall, ForwardingRule, TargetPool, Router, Disk
The objects that are missing description include UrlMaps, TargetHttpProxy, GlobalForwardingRule. Already add code to add description for clustername, zone and project name. But the testing requires godep update. Will work on this step because of the priority.

[2016-05-24 22:41] saad-ali commented on #14217
In addition to the VolumeHost cleanup mentioned above, we need to clean up the volume initialization code (e.g. cmd/kube-controller-manager/app/plugins.go). Consider a putting all plugins into one package at the very least.

[2016-05-24 22:43] dims commented on #26210
We are treating http error code 0 with no body as an error:
"May 24 14:24:12.349: INFO: /api/v1/namespaces/e2e-tests-proxy-5q81p/pods/proxy-service-xugyo-n1z2c:80/proxy/: no body (0; 13.886231ms)"

here:
https://github.com/dims/kubernetes/blob/326b2132311214b274b833584578fd7f81d6a659/test/e2e/proxy.go#L226-L226

May be we should relax this a bit?

[2016-05-24 22:46] johndmulhausen commented on #26205
Excellent. One closer step to YAML generation, I hope. :)

[2016-05-24 22:49] yujuhong commented on #26218
+1 for container runtime logs (e.g., docker.log)

[2016-05-24 22:49] caesarxuchao commented on #21484
@sttts do you want to take this one? I haven't started working on it (I was OOO until this week) and have no prior knowledge.

[2016-05-24 22:50] lavalamp commented on #26062
Flannel is using a different etcd or the same etcd as apiserver?

etcd crashlooping probably means it's OOMing

[2016-05-24 22:50] smarterclayton commented on #26202
Is there a bug already open for all that proto crap?  I had not seen that
showing up before - I would not expect it.

On May 24, 2016, at 6:29 PM, Janet Kuo <notifications@github.com> wrote:

To reproduce:

First create a Deployment via apply -f

apiVersion: extensions/v1beta1kind: Deploymentmetadata:
  name: nginx-deploymentspec:
  replicas: 3
  template:
    metadata:
      labels:
        app:

[2016-05-24 22:51] pwittrock commented on #25023
@dlorenc FYI

[2016-05-24 22:52] bprashanth commented on #26062
Different etcd (https://github.com/kubernetes/kubernetes/issues/26062#issuecomment-221039546), @gmarek said there was no sign of oom

[2016-05-24 22:53] jimmycuadra commented on #17088
I don't think duplication of ingress objects would be a big deal, but needing an ingress controller for each namespace would be a problem, as we want to have a single entrypoint for requests going into the cluster. If each namespace had it's own ingress controller, we'd need a separate ELB with its own DNS records for each namespace, which is not something we want.

[2016-05-24 22:53] johndmulhausen commented on #24160
@lavalamp - Yes, in the docs repo. There are no subdirectories per version, just branches. See: release-1.1 and release-1.3

[2016-05-24 22:55] k8s-merge-robot opened #26224 "[k8s.io] Pods should be submitted and removed [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/17549/

Failed: [k8s.io] Pods should be submitted and removed [Conformance] {Kubernetes e2e suite}

[code]

[2016-05-24 22:56] janetkuo commented on #26202
The problem is that the `apply` annotation didn't record `.spec.selector` when it's defaulted from `.spec.template.labels` and it caused problems when calculating diff:

`
kubectl.kubernetes.io/last-applied-configuration: '{"kind":"Deployment","apiVersion":"extensions/v1beta1","metadata":{"name":"nginx-deployment","creationTimestamp":null},"spec":{"replicas":3,"template":{"metadata":{"creationTime

[2016-05-24 22:57] the-destro commented on #23417
I'll happily help with testing it out on the Docker for Mac stuff if you need testers.

[2016-05-24 22:58] pwittrock commented on #25023
We hope to be fixing this in [minikube](https://github.com/kubernetes/minikube).

[2016-05-24 22:58] #25023 closed

[2016-05-24 23:02] rootfs commented on #26141
@piosz, how to watch the submit queue and find if the flake is gone?

[2016-05-24 23:02] dchen1107 commented on #26211
output of kubectl describe nodes?

[2016-05-24 23:03] pwittrock commented on #25966
@fgrzadkowski I may have miss understood what is required here.  Can you tell me how the tests should be run (not manually as a go command?)  I have another PR to export the junit.xml files.  Is this what the merge queue expects?

[2016-05-24 23:05] pwittrock commented on #23417
@the-destro Cool.  You can checkout the pre-release from [minikube](https://github.com/kubernetes/minikube)

[2016-05-24 23:14] Random-Liu commented on #26211
Here is the result of "kubectl get nodes gke-jenkins-e2e-default-pool-4-25892338-ztv5 -o yaml"
[code]
We can see that the transition time of Ready and OutOfDisk is just around `20:57:58`, and the transition time of MemoryPressure is around `20:12:08`.

Then in controller log, the first race happens at `21:29:15`.
[code]
Last one happens at `21:51:11`:
[code]

[2016-05-24 23:18] xiang90 commented on #26062
@gmarek Do you have any log of the crashing loop that I can look at? Also have you tried to monitor the memory usage of etcd?

[2016-05-24 23:23] xiang90 commented on #26015
Actually hongchao and I have some time now. So we can help on this now, just because we already have etcd3 support.

One more thing is that etcd2 itself will actually stupidly disconnect watch. The client API we use today hides that reconnecting details, but yes it still does that underneath. So if k8s is under highload, relist might still be triggered by etcd itself. We will solve them all soon.

[2016-05-24 23:25] pwittrock commented on #25510
Jenkins GCed the results, but still available in gcs at

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25045/kubernetes-pull-build-test-e2e-gce/39212/

[2016-05-24 23:27] tatroc commented on #22676
@bprashanth

I believe I have resolved the issue. Since making the changes below to heapster-service.yaml the above message:
`failed to get CPU consumption and request: metrics obtained for 0/1 of pods` does not get logged anymore. I also generated some load on the application and the auto scaling is working beautifully now. Thanks for all the help!

Put double quotes around "true" and "Heapster"

[2016-05-24 23:27] yifan-gu commented on #25928
@yujuhong Where can I disable the docker runtime in the code just for now? Comment out the ones in the TargetContainers() ?

[2016-05-24 23:29] caesarxuchao commented on #25589
I'm working on this and will let you review.

[2016-05-24 23:36] ghodss opened #26229 "kubectl apply results in incorrect/corrupted config if a fieldRef env var is added"
[code]

Happens on both 1.2.0 and HEAD (69b90028cf1527).

Notice that POD_NAMESPACE is missing in the spec, but is present in last-applied-configuration. Also, EXAMPLE_VAR *must be present* for this bug to reproduce.

This is a pretty severe issue IMO and ideally would be fixed in a 1.2.x point release (as well as 1.3) - we ended up with corrupted data because of it because we were referring to $(

[2016-05-24 23:36] yujuhong commented on #25928
Yes, TargetContainers should not include "runtime" for rkt.

To actually fix this, TargetContainers should be pass to the resource collector, instead of being hard-coded. The test should checks the name of the runtime to decide what the target containers are.
For example, see https://github.com/kubernetes/kubernetes/commit/9af7953e3a2735cf86dc97051684cedebe866a1b to get the idea. This commit needs

[2016-05-24 23:43] thockin opened #26230 "Volume plugins cleanup"
Filing this for future work.

pkg/volume/plugins.go defines a set of `*VolumePlugin` types that all implement small interfaces like `NewDeleter()`.  This started with `NewMounter()` and `NewUnmounter()` which plugins implement with different structs and are passed around.  It got cargo-culted into a half dozen other such interfaces that do not have the same restrictions, and generally are called l

[2016-05-24 23:44] bgrant0607 commented on #26229
cc @kubernetes/kubectl

[2016-05-24 23:45] srkiNZ84 commented on #17994
This is really annoying. The cluster Nodes shouldn't be using ephemeral storage at all as it's just too small.

Additionally, it seems that if you add the "--docker-root" parameter and then reboot the instance, your change is lost (I'm assuming this is because of the EC2 instance bootstrap scripts) and you have to add it again and restart the "kubelet" service.

Please don't use ephemeral storage

[2016-05-24 23:58] #25977 closed

[2016-05-24 23:59] pwittrock commented on #26139
Another instance of failing to pull the image:

STEP: Collecting events from namespace "e2e-tests-kubectl-c2tmz".
May 23 23:01:15.265: INFO: At {2016-05-23 22:59:45 -0700 PDT} - event for redis-master: {replication-controller } SuccessfulCreate: Created pod: redis-master-aqr5p
May 23 23:01:15.265: INFO: At {2016-05-23 22:59:45 -0700 PDT} - event for redis-master-aqr5p: {default-scheduler } Schedul

[2016-05-25 00:00] thockin commented on #26223
Please post full yaml of a minimal failure case

[2016-05-25 00:00] thockin commented on #26223
Also, this belongs on Stack Overflow where it is more easily discovered.

@pmorie

[2016-05-25 00:00] #26223 closed

[2016-05-25 00:01] jeffvance opened #26233 "mismatch between user-bound claim and pv"
k8s version:
[code]
It is fairly simple to reproduce the situation of 2 pvs and 2 claims where a "user-bound" (pre-bound) claim is not bound to its target pv due to the other claim binding first.  Eg:
[code]
pv1 is Available since claim2 is pre-bound to pv2, but pv2 was _claimed_ by claim1 first.
**Note:** pre-binding a pv (via claimRef) does not exhibit the same result. In my testing using severa

[2016-05-25 00:07] vishh commented on #26212
What is the purpose of node conformance testing? Is it to validate if a machine is safe to be added as a Kubernetes node or is it to validate existing nodes in a cluster.
If nodes are already part of a cluster, it is highly likely that the node is meeting our conformance requirements.

A simple solution for this issue might be that of improving our existing documentation around [Conformance testin

[2016-05-25 00:09] vishh commented on #26212
AFAIK the most urgent need for node level conformance testing is to avoid duplication of tests between cluster and node e2e. To port existing cluster level e2es that are part of the conformance suite, we need to include node e2es in conformance testing.

[2016-05-25 00:10] vishh commented on #26213
@pwittrock Are the branches controlled via jenkins?

[2016-05-25 00:11] the-destro commented on #23417
@pwittrock looks like it is vbox only right now. I can poke around at some of the internals to see if I can coax a docker for mac setup out of it

[2016-05-25 00:12] bgrant0607 opened #26234 "Create fuzz testing for kubectl apply"
We discover bugs in kubectl apply on a field-by-field basis: #26229, #23551.

We don't have rigorous testing of the diff and patch code, nor of the API spec itself. There are many known problems, such as lack of ability to distinguish unset fields from Go default values for non-pointer primitive fields.

We should develop a random fuzz tester for kubectl apply.

cc @ghodss @kubernetes/kubectl

[2016-05-25 00:12] dchen1107 commented on #26211
@zmerlynn Can we have related Kubelet logs?

[2016-05-25 00:14] zmerlynn commented on #26211
I gave @Random-Liu access.

[2016-05-25 00:16] dchen1107 commented on #26211
Looks like we rule out two potential causes based on above output: 1) NodeProblemDetector 2) Out-of-Resource condition updates. Looks like this is specific failure caused by those hollow nodes. cc/ @wojtek-t

[2016-05-25 00:17] dchen1107 commented on #26211
cc/ @lavalamp Just mentioned that Kubemark test was disabled this morning due to some failure. @zmerlynn you might run into the same issue?

[2016-05-25 00:21] paralin commented on #17088
@jimmycuadra Read through my comment again. I said you would have a single ingress controller for the entire cluster, exactly as you want...

[2016-05-25 00:22] zmerlynn commented on #26211
What do you mean by hollow nodes?

[2016-05-25 00:24] zmerlynn commented on #26211
(This is a real 2k node cluster.)

[2016-05-25 00:27] #25925 closed

[2016-05-25 00:29] ihmccreery opened #26235 "Master PD file location inconsistent between Debian & GCI"
The location of apiserver auth certs and keys and the kube-apiserver SSH keys are inconsistent between Debian and GCI.  This means that master upgrades from Debian to GCI are broken.

In Debian, Salt puts these files in `master-pd/srv/kubernetes` (via `/srv/salt-overlay/salt/kube-apiserver/basic_auth.csv` and `/srv/kubernetes/basic_auth.csv`, see [configure-vm.sh](https://github.com/kubernetes/kub

[2016-05-25 00:29] vishh commented on #26219
@pwittrock Is this as simple as setting `--dump-logs-on-failure=true` as part of the e2e?

[2016-05-25 00:30] girishkalele commented on #25556
@thockin @saad-ali

Job 16770 was pretty old and seems to have been cleaned up - I will look for a more recent occurrence of the same failure.

[2016-05-25 00:31] janetkuo commented on #25645
The flake actually happens when pausing the deployment. Changing issue title.

[2016-05-25 00:31] vishh commented on #26215
I feel this is a P1. This will help reduce our testing duration. AFAIK, we do not have any disruptive tests as of now.

[2016-05-25 00:31] k8s-merge-robot opened #26236 "BeforeSuite {Kubernetes e2e suite}"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/7790/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

[2016-05-25 00:33] Random-Liu commented on #26211
@zmerlynn Sorry, I misunderstand what you said. I thought you were saying "kubernetes e2e scalability test"

[2016-05-25 00:36] bgrant0607 commented on #26229
@ghodss Output of kubectl version and dump of the patch request please.

[2016-05-25 00:36] jimmycuadra commented on #17088
It does look like I misunderstood what this issue was about! It sounds like ingress *controllers* **do** work across namespaces, but ingress *resources* cannot see outside of thier own namespaces, which was the subject of this issue. Apologies for the confusion and thanks for your responses!

[2016-05-25 00:40] derekwaynecarr commented on #25113
i assume we can only drop it when we validate that we can support the alternate route?  for example, we can't move to container runtime until we have port fowarding using the alternate proposal?

[2016-05-25 00:42] yifan-gu commented on #25117
Tested, this will be fixed once https://github.com/kubernetes/kubernetes/pull/26096 and https://github.com/kubernetes/kubernetes/pull/25902 is merged:

[code]

[2016-05-25 00:43] janetkuo commented on #25645
When `kubectl rollout pause -f hack/testdata/recursive/deployment --recursive`, sometimes one of the deployments isn't paused.

cc @metral @kargakis

[2016-05-25 00:50] nikhiljindal commented on #26187
This seems to be failing consistently for me. Doesnt look like just a flake :)

[2016-05-25 00:51] ihmccreery commented on #26235
It terrifies me that this is such a strong coupling between these two scripts, which are approximate—but not exact—duplicates of each other.  @roberthbailey, I'm worried there might be other pernicious problems here; should we prioritize a refactor that DRYs the code to reduce risk for v1.2-v1.3 release?

[2016-05-25 00:53] andyzheng0831 commented on #26235
This is intentionally. The dirs in containervm may not be in GCI. You
cannot expect everything is exactly the same in both images. The only
concern is that /etc in GCI is stateless. So we may put master certs in
/var.
On May 24, 2016 2:30 PM, "Isaac Hollander McCreery" <
notifications@github.com> wrote:

[2016-05-25 00:53] nikhiljindal commented on #26187
@ixdy What do you mean by "too long"?
Looking at the expression: `'[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'` do we want to restrict the name to 62 chars? Will increasing that number fix this failure? Any harm in increasing that number?

[2016-05-25 01:02] ihmccreery commented on #26235
For master upgrades to work properly, we should expect that data stored on the PD will persist.  Without that assumption, how can we expect master upgrades to work at all?

[2016-05-25 01:03] andyzheng0831 commented on #26235
The auth file path in containervm contains"salt", which does not make sense
in GCI, as GCI does not use salt
On May 24, 2016 2:53 PM, "Andy Zheng" <qzheng@google.com> wrote:

[2016-05-25 01:10] ixdy commented on #26187
That's a GCP restriction, so out of our control.

On PR Jenkins e2e, we set `E2E_NAME="e2e-gce-${NODE_NAME}-${EXECUTOR_NUMBER}"`. This gets reused in a few places, occasionally multiple times in the same name (as we've seen here).

The Jenkins agents used to be named things like builder-1, builder-2, etc. Some newer ones are named  things like jenkins-pr-agent-20160523-1, which ends up making ever

[2016-05-25 01:13] dims commented on #26236
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/26135

[2016-05-25 01:36] yujuhong commented on #26236
@lavalamp why did merge bot create a new issue?

[2016-05-25 01:37] metral commented on #25645
I can't access the internal Google logs to examine the cause, nor can I reproduce this issue locally. Is there any additional information that you can provide to help troubleshoot the flake?

[2016-05-25 01:42] fejta commented on #26187
We need to update whatever sets E2E_NAME to set a ceiling on the length and auto-truncate (or fast-fail).

In the mean time I'll create slaves with shorter names.

[2016-05-25 01:49] ixdy commented on #26187
We probably want to use a suffix of the NODE_NAME, since that's where the uniqueness is.

[2016-05-25 01:52] ixdy commented on #26187
something like
[code]
might work.

[2016-05-25 01:56] fejta commented on #26187
Do we need e2e_name?

[2016-05-25 02:09] fejta commented on #25833
I suspect this is just the metadata server not restarting, which is fixed.

[2016-05-25 02:09] #25833 closed

[2016-05-25 02:32] srkiNZ84 commented on #17994
Ok, I added the "--docker-root=/opt/docker" option and it _still_ didn't use the main disk. Ended up running:
[code]
which finally got it to use the correct disk.

[2016-05-25 02:35] bprashanth opened #26239 "Deploy kubedns instead of kube2sky+skydns"
We recently moved to gci and using cloud-init instead of salt. This reverted our recent kube-dns rewrite by continuing to deploy the skydns rc, as is evident from this run: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/17559/consoleFull
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/17559/

[code]

@wonderfly assuming https://github.com/kub

[2016-05-25 02:42] ixdy commented on #26187
@fejta we use `E2E_NAME` to set a bunch of other names: https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/global.yaml#L169-L180

[2016-05-25 02:43] fejta commented on #26187
Sorry I meant do we need executor number in the e2e name?

[2016-05-25 02:46] adityakali commented on #26235
Its not really a strong coupling. The setup on each distro is expected to be different. Hence there are so many environment vars which allows decoupling.
I expect this particular case of switching underlying OS_DISTRO for the same master to be very uncommon (once in a lifetime kind of thing?).

[2016-05-25 02:48] bprashanth commented on #26116
Turns out this is because of an SRV lookup (and according to @thockin it's a malformed SRV lookup, but I got the idea from: https://github.com/skynetservices/skydns#srv-records; so file a bug on mikeg? :)

Anyway, first bring up a cluster without https://github.com/kubernetes/kubernetes/issues/26239:
[code]

This is happening because skydns tries to construct the target of SRV and NS lookups from

[2016-05-25 02:49] AdoHe commented on #26229
@ghodss also could you tell me how you you create the original source? I tried to reproduce this issue on HEAD but just failed. Below are steps to reproduce:
[code]
here the `new-simple-dpl.yaml` is:
[code]
after apply the `new-simple-dpl.yaml` the deployment is:
[code]
Also just as @bgrant0607 said, could you provide the dump of the patch request?

[2016-05-25 02:49] ixdy commented on #26187
yes, otherwise parallel runs on the same VM will collide.

[2016-05-25 02:54] tym-oao commented on #23417
@pwittrock @the-destro Yes I took a look at minikube first, but since it requires a VM anyway I figured I can just use hyperkube in docker-machine for now.

As for workaround or fix in Docker for Mac, the one idea I've had is to get the `apiserver` container to expose port 8080, either by adding a `ports` element to the spec in `master.json` or setting up each of the kube-system pods with a docker

[2016-05-25 03:04] dlorenc commented on #23417
We're looking at using the Docker for Mac setup in minikube, but don't have
anything to report yet. It's definitely in our roadmap. I haven't played
with it too much yet, but I've also had some trouble with connectivity.

On Tue, May 24, 2016, 7:55 PM Thomas Yager-Madden <notifications@github.com>
wrote:

[2016-05-25 03:05] bgrant0607 commented on #23327
Schedulers shouldn't need to reason about any new conditions directly.

[2016-05-25 03:07] bgrant0607 commented on #23327
And changing Ready would be a non-backward-compatible API change, as well.

[2016-05-25 03:12] metral opened #26241 "recursive kubectl get on non created resources returns errors as a map"
i.e. if the resources in `hack/testdata/recursive/rc` haven't been created yet, then doing

`kubectl get -f hack/testdata/recursive/rc -R` returns a map:

[code]

when it should be returning separate lines for each error so that its more user-friendly:

[code]

[2016-05-25 03:13] bgrant0607 commented on #23327
Conditions have reasons, so NoPodNetworking or somesuch could be a reason for Ready=false.

[2016-05-25 03:22] gouyang commented on #24973
@piosz updated again.

[2016-05-25 04:00] pwittrock commented on #26213
The different environments are separate jenkins jobs.

[2016-05-25 04:00] AdoHe commented on #26202
That's because the `last-applied-configuration` is just the resource content read from user input when we use apply to create resource. Also the `.spec.selector` is derived from `.spec.template.labels` rule is not used in client side.

[2016-05-25 04:01] pwittrock commented on #26219
:P  It might be, I haven't looked into it.  I ran into some issues when trying to parse the framework flags, which may prevent using that feature.

[2016-05-25 04:06] yissachar commented on #26223
@thockin I posted here because it seems like it could be a docs issue, since I am literally just copying the yaml posted in the guide linked above and running it.

But I've posted in Stack Overflow now if that helps: https://stackoverflow.com/questions/37427625/populating-kubernetes-volume-from-conigmap

[2016-05-25 04:14] asalkeld commented on #17778
I can work on this.

[2016-05-25 04:22] krmayankk commented on #22368
I can help too. Just getting started on familiarizing myself with the PR process and k8s codebase, so this may be challenging for me, but if no one is working on it i can start looking.

[2016-05-25 04:26] fejta commented on #24754
Please see https://groups.google.com/d/msg/kubernetes-dev/Cq7rrGIbQ8w/2vES0WZ9AwAJ and sign up to maintain your favorite tests!

[2016-05-25 04:43] lavalamp commented on #26185
Went from flaky to solid broken right around when #26197 merged.

[2016-05-25 04:45] lavalamp commented on #26185
@wojtek-t (scalability)

@mohr (build cop tomorrow)

@mikedanese (build cop today)

@jszczepkowski (on call in WAW)

[2016-05-25 04:52] metral commented on #25645
I've gone ahead and attempted a fix for this in https://github.com/kubernetes/kubernetes/pull/26243

[2016-05-25 04:56] lavalamp commented on #26185
I don't really want to roll back #26197 because then we'll again not have presubmit coverage for GCI. On the other hand, if I don't roll it back, nothing is going to merge until WAW wakes up and fixes the problem.

[2016-05-25 05:14] zmerlynn commented on #26187
Is there an ETA on fixing this? WAW is coming online soon.

[2016-05-25 05:23] gmarek commented on #26062
All the etcd logs looks like ones I mentioned in https://github.com/kubernetes/kubernetes/issues/26062#issuecomment-221203074

I didn't looked into memory usage, but I inspected kernel messages file, and there was no ooms.

[2016-05-25 05:24] gmarek commented on #23327
@bgrant0607 - IIUC you're saying that we should add a new Condition and something should pipe it to NodeReady?

[2016-05-25 05:25] thockin commented on #14217
to clarify the last point for posterity: consider making an all_plugins pkg that just has one function which returns all of the plugins, rather than open-coding the list of them in multiple places, like we are now.

[2016-05-25 05:27] roberthbailey commented on #26239
Do we have any tests that differentiate between the two dns implementations?

[2016-05-25 05:29] bprashanth commented on #26239
I don't think so, the rewrite was supposed to be compatible (though https://github.com/kubernetes/kubernetes/issues/26116 indicates some differences, we apparently don't capture it in a test). Some of the newer ubernetes features aren't present in the old dns, but I don't think we're e2e testing ubernetes yet.

[2016-05-25 05:34] tingzhang opened #26245 "skydns health check failed which cause pod restart again and again"
Hi, we have kube up a cluster but Skydns seems not working
[code]
the log shows that previously it first up correctly but after healthy check, it can't get the status, and then killed and restart it again and again
[code]
[code]
[code]
and i have login to the container, it seems that nslookup can get the correct response
[code]
Is there any expert can take a look?

[2016-05-25 05:35] bobintornado opened #26246 "Too many open files error in small cluster"
I am running a very small cluster (4 VMs) with CoreOS, but keep hitting the following "Too many open files" error while trying to do some very basic deployment.

I wonder if this is the same issue as https://github.com/kubernetes/kubernetes/issues/6351, but I am running a very small cluster and very few deployments (like 10 pods max).

So I wonder if this is a etcd or kubernetes leaking issues, as

[2016-05-25 05:35] saad-ali opened #26247 "Persistent Volume Controller should use Shared Informer"
The attach detach controller (PR https://github.com/kubernetes/kubernetes/pull/25457) introduces shared PV/PVC informers that all controllers can share. After it goes in, we should refactor `pkg/controller/volume/persistentvolume/controller_base.go` to use them.

[2016-05-25 05:36] bprashanth commented on #26239
As Robbie mentioned elsewhere, we've probably also skewed GKE and OSS since the new dns went in for pretty much the same reason

[2016-05-25 05:49] fejta commented on #26187
All the PR jenkins instances have short names again.

[2016-05-25 05:50] zmerlynn commented on #26187
@fejta: Cool, thanks!

[2016-05-25 05:51] roberthbailey commented on #26185
/cc @vishh

It looks to me like this is the result of GCI having cpu enforcement enabled (the debian image didn't) and the fluentd pod running on the master exceeds it's reservation of 100 mili-cpus as we run the density tests.

[2016-05-25 06:04] AdoHe commented on #26202
@janetkuo I am considering adding the default `.spec.selector` to `last-applied-configuration` annotation/ WDYT?

[2016-05-25 06:06] xiang90 commented on #26062
@gmarek https://github.com/kubernetes/kubernetes/issues/26062#issuecomment-221203074 is not logs from etcd I think. They are from flannel or somewhere else.

[2016-05-25 06:09] #26187 closed

[2016-05-25 06:11] zmerlynn commented on #23327
Wait, things might have changed...
[code]

I just brought up a 1000 node cluster, and due to some other issue, I only have 136 routes and 136 `Ready` nodes. The rest have the above log message and no GCE route assigned. Are we doing the right thing?

[2016-05-25 06:14] wojtek-t commented on #26185
There are basically 2 different issues here:

- one is fluentd exceeding expected CPU usage.
@roberthbailey - the way we measure CPU usage is not not very sophisticated, so it may be also problem on our side
I will send a quick PR to increase the max expected cpu usage for fluentd in few minutes

- the other issue (less frequent, but still) are too high metrics; and it seems that something strange

[2016-05-25 06:16] roberthbailey commented on #26185
Will the high latency issue cause test failures (assuming that the first issue is fixed)?

[2016-05-25 06:17] wojtek-t commented on #26185
@roberthbailey - it will. I've just send the PR fixing the first issue and I'm starting to look into the second one right now.

[2016-05-25 06:17] gmarek commented on #26185
@wojtek-t The CPU tracking never caused any problems, so I expect that something really bumped CPU usage of fluentd-es. We can bump the threshold, but I think we should understand what happened.

[2016-05-25 06:18] roberthbailey commented on #26185
@wojtek-t and I sent two PRs that change the CPU tracking in different places....

[2016-05-25 06:22] lavalamp commented on #26185
I have to turn in. I think WAW has us covered :)

[2016-05-25 06:24] saad-ali opened #26250 "Attach Detach Controller Data Structs should be keyed of opaque type"
Attach Detach Controller Data Structs ("actual state of world", "desired state of world", etc.) use strings as keys for pod/volume/node types. Instead they should use opaque types to get the benefits of type safety.

[2016-05-25 06:24] gmarek commented on #23327
No, we're not. This is the situation when NC didn't assign CIDR to the Node. NC and RC do not communicate directly, but RC need PodCIDR to be assigned to create routes.

In other words - this failure is an earlier one, Node will become ready when PodCIDR will be allocated and route creation may still fail.

[2016-05-25 06:27] piosz commented on #26141
I don't know.

@fejta is there any way @rootfs can verify whether test is no longer flaky?

[2016-05-25 06:28] zmerlynn commented on #23327
Oh, my cluster is just hosed for a different reason. That's good. :)

[2016-05-25 06:31] piosz commented on #22676
Thanks @tatroc for the update. Closing the issue. Feel free to re-open in case of problems.

[2016-05-25 06:31] #22676 closed

[2016-05-25 06:33] piosz commented on #24973
Looks reasonable right now. Did you have a chance to test it?

[2016-05-25 06:33] krmayankk commented on #16508
i am interested in the status of this ? I thought kubectl running in container was experimental. Are those issues resolved  or is this just about using hyperkube, non containerized ?

[2016-05-25 06:34] caesarxuchao commented on #26130
subscribe.

[2016-05-25 06:34] bgrant0607 commented on #8700
@xiang90 is this still an issue?

[2016-05-25 06:35] fgrzadkowski commented on #25663
@wojtek-t @davidopp After #25741 we will only update the pod once, when updating pod condition for the first time. That means that back-off mechanism will be working, but the first re-iteration will too quickly (immediately after updating pod condition). After offline discussion with @wojtek-t I believe this is now P1 and is not blocking 1.3. Do you confirm? Can we remove 1.3 mileston?

[2016-05-25 06:36] bgrant0607 commented on #8708
Obsolete.
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides/centos/centos_manual_config.md

[2016-05-25 06:36] #8708 closed

[2016-05-25 06:37] bgrant0607 commented on #8709
Obsolete.
https://github.com/kubernetes/kubernetes.github.io/tree/master/docs/getting-started-guides/coreos/cloud-configs

[2016-05-25 06:37] #8709 closed

[2016-05-25 06:38] bgrant0607 commented on #8712
Obsolete.
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides/libvirt-coreos.md

[2016-05-25 06:38] #8712 closed

[2016-05-25 06:39] bgrant0607 commented on #8723
cc @derekwaynecarr

[2016-05-25 06:40] tingzhang commented on #26245
linking issue - https://github.corp.ebay.com/tess/tess/issues/708

[2016-05-25 06:42] bgrant0607 commented on #8738
See also #18372

[2016-05-25 06:44] bgrant0607 commented on #8761
Obsolete

[2016-05-25 06:44] #8761 closed

[2016-05-25 06:45] bgrant0607 commented on #8790
@xiang90 Is this still an issue?

[2016-05-25 06:46] bgrant0607 commented on #8792
Obsolete

[2016-05-25 06:46] #8792 closed

[2016-05-25 06:47] xiang90 commented on #8790
not sure. will take a look this week.

[2016-05-25 06:52] codefx9 commented on #26039
@colemickens - This is GREAT news!!!

[2016-05-25 07:04] #26039 closed

[2016-05-25 07:05] jingxu97 commented on #21367
This issue was observed again and filed as #26224 by kubernetes bot.

[2016-05-25 07:12] mikedanese commented on #26184
why is this not a test-infra issue? what team does this fall under?

[2016-05-25 07:13] dchen1107 commented on #25773
re: https://github.com/kubernetes/kubernetes/issues/25773#issuecomment-219966814

We should well defined those problem related node condition, not like what we had today with NodeProblemDetector because

1) We want scheduler only understands taints, neither condition nor events.
2) Remedy controller / node controller will take action on those conditions. To do that, the conditions have to be pre-d

[2016-05-25 07:14] mikedanese commented on #26158
This would be a good question for kubernetes-dev mailing list

[2016-05-25 07:14] #26158 closed

[2016-05-25 07:21] zhouhaibing089 commented on #26245
/cc @thockin

[2016-05-25 07:24] nikhiljindal commented on #26191
happened again https://github.com/kubernetes/kubernetes/pull/26142#issuecomment-221493052

[code]

[2016-05-25 07:26] wojtek-t commented on #26185
Let me get back to the second problem here.
From the logs I pasted above:
[code]

So basically, object is already stored in etcd at:
[code]
However, something else is happening after that, before actually
[code]
is traced.

I looked into the code, and to be honest there shouldn't be anything there. I will try to look deeper.

[2016-05-25 07:31] mikedanese commented on #25924
@kubernetes/deployment

[2016-05-25 07:32] roberthbailey commented on #26185
On the tests that were passing, we were never reporting any cpu usage for fluentd on the master because that container wasn't running. When we switched to GCI on the master node, the test started failing because the container now existed. I'm not sure why https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/fluentd-es/init.sls specifically excludes the master node, but it was

[2016-05-25 07:34] #25937 closed

[2016-05-25 07:35] wojtek-t commented on #8700
No - we can definitely close it now.

[2016-05-25 07:35] #8700 closed

[2016-05-25 07:39] mikedanese commented on #25613
@kubernetes/goog-cluster

[2016-05-25 07:40] mikedanese commented on #25626
yes

[2016-05-25 07:40] #25626 closed

[2016-05-25 07:44] mikedanese commented on #26236
dup of #26135 so closing. let's see how the bot handles it.

[2016-05-25 07:44] #26236 closed

[2016-05-25 07:53] gmarek commented on #26184
It is a test-infra issue. The failure didn't happen in start-kubmark code, but in starting external cluster.

[2016-05-25 08:05] kargakis commented on #25645
We should fix this in https://github.com/kubernetes/kubernetes/issues/20437 eventually

[2016-05-25 08:08] sttts commented on #21484
@caesarxuchao @krousey I can continue to investigate that. Feel free to assign it to me.

[2016-05-25 08:32] erez-rabih opened #26255 "Duplicate UDP packets between pods"
We're using Kubernetes 1.2.1 on AWS.

We've been experiencing duplicate UDP packets. It happens only on a very specific setup:
1. A pod (pod1) that exposes some UDP port
2. A service that directs traffic to that pod
3. Another pod (pod2) to send UDP packets (we used netcat for this)
4. The pods must be running on the **same** node

When pod2 sends a UDP message to pod1 via the **service** pod1 sho

[2016-05-25 08:34] jsafrane opened #26256 "integration flake: PersistentVolumeController could not update claim "default/fake-pvc""
PersistentVolume integration tests fail sometimes:
https://console.cltoud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26105/kubernetes-pull-test-unit-integration/27563/

[code]

There are some interesting reports in the log like:

[code]

Thans @quinton-hoole  for report.

[2016-05-25 08:35] jsafrane commented on #25967
@quinton-hoole, this looks like something new. Let's keep this issue open for this unit test flake:

[code]

I filled #26256 for integration test flake you reported.

[2016-05-25 08:40] wojtek-t commented on #26119
OK - so with logs that I added, it is pretty clear that we are very heavily throttled on GCE api calls.

In particular, when I was running 1000-node cluster, I see lines where we were throttle for 1m30. I'm pretty sure it's significantly higher in 2000-node cluster.
[code]

I'm going to investigate a bit more where all those reuqests come from.

[2016-05-25 08:41] kargakis commented on #26050
cc: @kubernetes/kubectl

[2016-05-25 08:47] AdoHe commented on #26255
@thockin ptal.

[2016-05-25 08:47] koep opened #26257 "Elasticsearch example fails on Kubernetes 1.1.x"
The elasticsearch example (production cluster) fails on Kubernetes 1.1.x due to an invalid volume decription in the replication controller files.

[code]

[code]

[code]

I was able to fix this by updating the volume description (PR incoming).
[code]

[2016-05-25 09:10] wojtek-t commented on #26119
Actually - it seems that we have a pretty big problem here.
Basically, Kubelet seems to send a lot of requests to GCE.

So to clarify:
- every time Kubelet is updating NodeStatus (so every 10s by default) it is sending an API call to GCE to get it's not addresses:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2960
- that means, that if we have 2000 nodes, kubelets ge

[2016-05-25 09:11] wojtek-t commented on #26119
The second issue is that we are throttled at the controller level too, and this one I'm tryin to understand right now.

[2016-05-25 09:15] wojtek-t commented on #26119
@zmerlynn - that said, any rate-limitting on our side, will not solve the kubelet-related problem

[2016-05-25 09:29] Gnouc opened #26259 "Kubelet failed to detect running docker process when name is not `docker`"
I used [this instructions](https://docs.openshift.org/latest/getting_started/administrators.html) to install Openshift Origin v3, along with its embed Kubernetes. All thing is fine until I get the error:

[code]

It's weird, I'm sure that docker was started:

[code]

I go through `kubelet` and seems to find the culprit, in [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubele

[2016-05-25 09:29] wojtek-t commented on #26119
Hmm - actually looking into implementation it seems that NodeAddresses are only contacting metadata server, so I'm not longer that convinced...

[2016-05-25 09:39] wojtek-t commented on #26119
Also, I think that important thing is that a single call to GCE API can translate to multiple api calls to GCE. In particular - CreateRoute translates to:
- get instance
- insert route
- a bunch of getOperation (until this is finished)

[2016-05-25 09:46] zoidbergwill commented on #5017
So we're currently running Kafka and Zookeeper in replication controllers (soon deployments), if it helps at all. But I'll add to the PetSet issues if I can help at all.

[2016-05-25 09:54] HuKeping commented on #22469
Hi, team:

I see the docs about the network-policy says that
[code]

I'm a little confused about the `If present but empty, this selector selects all pods in this namespace`,
what does the `this namespace` mean? For example:
[code]
Does it mean the namespace with label `blah:bar` or the namespace the same as the selected pod which with label `tier:database`?

Thanks.

[2016-05-25 10:05] NiclasHedam opened #26260 "livenessProbe and readinessProbe always fails"
No matter what I do, the probes always fails.

`kubelet gke-cluster-1-default-pool-441034bf-vddb}	spec.containers{web-http}	Warning		Unhealthy	Readiness probe failed: Get http://10.112.2.4:80/health_check: read tcp 10.112.2.4:80: use of closed network connection`

.. or from another pod ..

`{kubelet gke-cluster-1-default-pool-441034bf-vddb}	spec.containers{web-http}	Warning	Unhealthy	Readiness pr

[2016-05-25 10:42] mattymo commented on #23619
Two simple options to avoid this problem are:
1 - Create a copy of generate-cert and put it in cluster/ubuntu directory
2 - Stop deleting cluster/saltbase when runing make release.

#2 is much easier, but adds 572kb of uncompressed data to release. I think it is the easier option.

[2016-05-25 10:46] AdoHe commented on #26137
@thockin I am not sure whether it's good for user to specify network in the pod definition, for a short term, maybe we can add a flag to kubelet, but we still need to think about how to program docker network.

[2016-05-25 10:51] xiangpengzhao opened #26261 "Need to export no_proxy in the building scripts ?"
When I run `git commit`, the command will call pre-commit hooks but sometimes it fails.  It shows `Timed out waiting for etcd`, but actually I can see the etcd running by `ps -ef | grep etcd`. Finally I find that I forget to set `export no_proxy` for localhost. (My building env is behind proxy, so I have to set http_proxy/https_proxy for internet connection).

Do we need to set `export no_proxy=12

[2016-05-25 10:51] dims commented on #26259
@Gnouc It's probably best to open a bug against OpenShift Origin and close this one:
https://github.com/openshift/origin/issues

[2016-05-25 10:59] dims commented on #26246
@bobintornado Did you already rule out docker itself? (Check docker logs?)

[2016-05-25 11:22] jsafrane commented on #26256
It turns out that volume integration tests have no logs at all, `err` was not checked and I don't really know what's going on there. #26262 adds error checks to help me find out what's wrong there. Still, I suspect there are some troubles with etcd, not related to the test itself.