[2022-03-25 17:37] aojea commented on #109022
[code]

[2022-03-25 17:41] aojea commented on #109022
who is logging those lines with the EOF error?

[2022-03-25 17:44] JamesLaverack commented on #109027
/milestone v1.24
/triage accepted
/lifecycle frozen

[2022-03-25 18:11] marosset commented on #108886
/milestone v1.25

[2022-03-25 18:16] marosset commented on #108868
(Copying from my commnets in slack)

I can confirm that `volumeClaimTemplates` in statefulsets work nodes.
I regularly test this this deployment - https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/windows/statefulset.yaml

There may be an issue with how the paths in `volumeMounts.mountPath` are getting processed.
In your examples can you try updating `"c:\\var\\run

[2022-03-25 18:18] liggitt commented on #109026
all the panics I see are:

[code]

[2022-03-25 18:18] liggitt commented on #107727
did this get fully reverted? we're still seeing panics in integration tests over this:

https://github.com/kubernetes/kubernetes/issues/109026

[2022-03-25 18:19] liggitt commented on #107727
bumping priority and milestoning until we know we're not currently triggering panics

[2022-03-25 18:25] aojea commented on #109021
I suggest to not add more intelligence to client-go without a clear indication that this really solves a problem, is really some use case for retries on Stream?
current code with retries is complicated and we have subtle bugs like https://github.com/kubernetes/kubernetes/pull/109028/

[2022-03-25 18:25] thockin commented on #108523
@qabpea:

It's a hypothetical - I don't know how it would actually be implemented.  Why is this important to me?

Here's the common case:

* server pod is running
* client is connected via the service IP
* conntrack record exists
* server pod becomes terminating (graceful)
* endpoint is either removed from Endpoint{s,Slice} or marked `terminating`
* conntrack record still exists
* client connectio

[2022-03-25 18:27] liggitt commented on #109026
looks like https://github.com/kubernetes/kubernetes/issues/107727 again, due to https://github.com/kubernetes/kubernetes/pull/108383

[2022-03-25 18:42] liggitt commented on #107727
looks like it got reintroduced in #107797, reverting open in #109030

[2022-03-25 18:55] Huang-Wei commented on #108931
I took a quick look at the error strings, it seems all strings are fairly concise except for the [taint error](https://github.com/kubernetes/kubernetes/blob/b33897f36d219b644f2222c34730ec29aff228c1/pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go#L79).

[2022-03-25 19:16] liggitt commented on #109022
http.Server

[2022-03-25 19:20] liggitt commented on #108906
Looks like there is a golang regression in go1.18 (https://github.com/golang/go/issues/51907#issuecomment-1078433932), but *also* we are not resetting the body correctly relative to draining and closing the response body. Details in https://github.com/golang/go/issues/51907#issuecomment-1077927934 and https://github.com/kubernetes/kubernetes/pull/109028

[2022-03-25 19:36] liggitt commented on #108854
fixed by https://github.com/kubernetes/kubernetes/pull/108159

[2022-03-25 19:36] #108854 closed

[2022-03-25 19:36] liggitt commented on #106276
fixed by https://github.com/kubernetes/kubernetes/pull/108159

[2022-03-25 19:36] #106276 closed

[2022-03-25 19:36] liggitt commented on #105841
fixed by https://github.com/kubernetes/kubernetes/pull/108159

[2022-03-25 19:36] #105841 closed

[2022-03-25 19:50] ArangoGutierrez opened #109034 "Re work pkg/util/ipset.Validate()"
### What would you like to be added?

As discussed at https://github.com/kubernetes/kubernetes/pull/108946#discussion_r835426136

Slightly larger comment:  This API is very weak on "hiding".

The question left is, if it would be better to make a bigger change and use a constructor, like:

[code]

or even this (I am not an ipset expert so my name choices may not be good :):

[code]

Also HashFamily

[2022-03-25 19:51] ArangoGutierrez commented on #109034
@thockin  feel free to assign this to me if you feel proper

[2022-03-25 19:56] thockin commented on #109034
Go ahead and jump on it if you like - emphasis on exposing as little as possible and keeping it as simple as possible (users should not need to set fields they don't use, etc).

[2022-03-25 20:22] Jefftree opened #109036 "Should defaults for non-nullable structs be published in OpenAPI"
### What happened?

The defaulting KEP introduces the default annotation that can be added for types and CRDs to publish default values for types to the OpenAPI. As a part of this, defaults for non-nullable fields are also published to illustrate how fields with no value set will have a default value set upon apply. For primitives, this makes sense as it would be useful to see how int fields are d

[2022-03-25 20:30] liggitt commented on #108977
/remove-kind bug
/kind feature

It's unclear that the name in the template should be used this way. This seems more like a feature request than a bug.

Do other workload controllers use the name in the pod template this way? What would happen if the name in the template is the maximum length, and no suffix could be appended?

[2022-03-25 20:32] mkimuram opened #109037 "[flake][sig-network] Proxy version v1 A set of valid responses are returned for both pod and service ProxyWithPath [Conformance]"
### Which jobs are flaking?

pull-kubernetes-e2e-kind-ipv6

### Which tests are flaking?

- `[sig-network] Proxy version v1 A set of valid responses are returned for both pod and service ProxyWithPath [Conformance]`
- `[sig-network] Proxy version v1 A set of valid responses are returned for both pod and service Proxy [Conformance]`

### Since when has it been flaking?

Not sure.

### Testgrid link

[2022-03-25 20:33] liggitt opened #109038 "pull-kubernetes-integration failing ~60-90% of runs - updated 2022-03-31"
### Which jobs are failing?

pull-kubernetes-integration

### Which tests are failing?

inconsistent, but seeing failure rates of ~50% today

### Since when has it been failing?

Failing 75% of runs starting the morning of 2022-03-25, but the "Malformed artifacts: ... junit xml too large" errors occurred before that

Two reverts landed (https://github.com/kubernetes/kubernetes/pull/109040 and http

[2022-03-25 20:36] liggitt commented on #109038
From https://github.com/kubernetes/kubernetes/pull/109030#issuecomment-1079406335

no config change I know of (etcd defaults to 100 retries), but the grpc client did bump last night, so something could be failing / triggering more retries

[2022-03-25 20:47] aojea commented on #109038
Those errors are common

[2022-03-25 20:53] #95570 closed

[2022-03-25 20:57] liggitt commented on #109038
@jpbetz is going to back out https://github.com/kubernetes/kubernetes/pull/108954 to see if that cleans things up. If it does, we'll have to dig into the grpc 1.40 → 1.44 delta and the implications on the etcd client

[2022-03-25 21:43] lavalamp commented on #109026
https://github.com/kubernetes/kubernetes/blob/77eb1a03df5ed29db8b093bc1b89778388593c2f/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L476

Looks like some integration tests must not be enabling SSA.

[2022-03-25 21:47] liggitt commented on #109026
that's what https://github.com/kubernetes/kubernetes/issues/107727 is still open for

[2022-03-25 21:49] lavalamp commented on #107727
For integration tests, maybe we can cheat and cache the OpenAPI data, so that it's not recomputed for each test?

[2022-03-25 21:51] liggitt commented on #107727
:-/

maybe... but I really don't want to have non-real init paths in integration if at all possible

[2022-03-25 21:51] tkashem commented on #109038
it's unlikely, but https://github.com/kubernetes/kubernetes/pull/106591 updates etcd client and merged yesterday

[2022-03-25 21:52] #105863 closed

[2022-03-25 21:54] liggitt commented on #109038
I saw that, but that consisted of a single change that I cannot see how it would impact a client running against a single-server etcd instance

[2022-03-25 22:08] endocrimes commented on #108118
/triage accepted
/priority backlog

seems like a useful addition especially as we migrate more configuration

[2022-03-25 22:34] #94927 closed

[2022-03-25 22:34] #108816 closed

[2022-03-25 22:35] #108801 closed

[2022-03-25 22:51] ehashman commented on #108991
/triage accepted

[2022-03-26 01:12] liggitt commented on #108989
go1.18 requires changing the invocation to go install.

[2022-03-26 01:40] liggitt commented on #108989
Doesn't the job config require update here: https://grep.app/search?q=go%20get%20sigs.k8s.io/kubetest2%40latest ?

[2022-03-26 01:57] dims commented on #108989
i'll file one now @liggitt

[2022-03-26 02:17] #109026 closed

[2022-03-26 02:44] ritpanjw commented on #68397
Hi 👋 Im checking in from bug triage team for release 1.24, we are very near to code freeze, could you please update?

[2022-03-26 02:45] ritpanjw commented on #100313
@andrewsykim if it is being fixed in https://github.com/kubernetes/kubernetes/pull/106497, can we close this PR ?

[2022-03-26 02:47] ritpanjw commented on #105019
@pacoxu Hi 👋 Im checking in from bug triage team for release 1.24, we are very near to code freeze, would we be able to pull this in since you mentioned there is a little risk ?

[2022-03-26 02:57] #105880 closed

[2022-03-26 03:12] brianpursley commented on #108741
Unfortunately, as you discovered, grace period is confusing because `--grace-period 0` behaves differently depending on whether you are using the `--force` flag or not:

* Without `--force`, grace period 0 gets changed to 1.
* With `--force`, grace period 0 is not changed.  In fact, if it is < 0, it is converted to 0.  And there is a check elsewhere in the code that returns an error if you try to

[2022-03-26 04:45] liggitt commented on #109038
two reverts landed (https://github.com/kubernetes/kubernetes/pull/109040 and https://github.com/kubernetes/kubernetes/pull/109030)

runs are better, but still not great. regularly seeing errors in testgrid with "Malformed artifacts: ... junit xml too large"

next step would be to compare the junit xml from those failed jobs to junit xml from passing jobs and see what is blowing them up

failed run

[2022-03-26 04:50] Abirdcfly commented on #108610
I think #109043 can fix part of this issue.

[2022-03-26 06:50] SergeyKanzhelev commented on #107067
the test is green now. There was the recent PR from @vteratipally that fixed it

[2022-03-26 06:50] #107067 closed

[2022-03-26 07:04] uablrek commented on #108523
Please see https://github.com/kubernetes/kubernetes/issues/108523#issuecomment-1062747798.

A server temorary makes itself "not-ready" to avoid new connection, while still serving the existing ones. This is the best use-case I have seen. What the user expects in other cases (changing labels, removing endpoints) I think varies.

[2022-03-26 07:11] Dingshujie opened #109047 "kubelet nestedPendingOperations may leak operation lead same pv not to do mount or umount operation"
### What happened?

on my scenes，create same cronjob use same sfs(the nfs storage on Huawei Cloud) type storage by pvc to do same training work. At the same time, a node will schedule many pods using the same pvc, and there will be many mount and umount tasks about this pvc executed at the same time. And we find all pods on a node at container creating state, because of waiting pvc to mount.
check

[2022-03-26 07:20] Dingshujie commented on #109047
/sig-storage

[2022-03-26 07:22] Dingshujie commented on #109047
/sig storage

[2022-03-26 07:29] aojea commented on #109038
similar symptons, https://github.com/kubernetes/kubernetes/issues/107857#issuecomment-1025891771

some tests fail, lots of communication errors with etcd on those tests and as a result the job stops moving forward and hangs ... is like etcd is not able to respond ....

[2022-03-26 08:01] aojea commented on #109038
there are some suites that run a lot of test, and take a very long time
[code]

since every  folder runs in its own test binary, I think a good first step will be to decouple some of the expensive tests to reduce load and pressure in etcd, since it will also reduce the number of goroutine leaked https://github.com/kubernetes/kubernetes/issues/108483

[2022-03-26 08:59] Dingshujie commented on #109047
@saad-ali @jingxu97 @msau42 @jsafrane

[2022-03-26 11:35] #109037 closed

[2022-03-26 11:54] dims commented on #108989
this is green now https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master%20-%20kubetest2

[2022-03-26 11:54] #108989 closed

[2022-03-26 11:59] leonardpahlke commented on #109003
This job does not seem to fail consistenty after the issue has been opened. I pulled to on the ci signal project board from failing to observing.

[2022-03-26 13:16] jmcmeek commented on #108266
It appears that deleting the Pending pod gets the rollout to continue - maybe anything that the right controller sees as a change would do the trick.

[2022-03-26 13:25] dims commented on #106917
removing `release-blocker`

[2022-03-26 13:27] dims commented on #100460
this one keeps moving down the milestones. i don't see any activity since november. So kick the can down the road

/milestone v1.25

[2022-03-26 13:27] dims commented on #97026
/milestone v1.25

kick the can down the road

[2022-03-26 13:28] dims commented on #70249
/milestone v1.25

kick this down the road, no activity.

[2022-03-26 13:30] dims commented on #68397
@krmayankk let's take this off 1.24 as the code freeze is next week. tests can still merge and we can reinstate the v1.24 milestone if you are able to make progress on the tests. let's take the pressure of this on the release team.

/milestone v1.25

[2022-03-26 13:31] dims commented on #100313
https://github.com/kubernetes/kubernetes/pull/106497 is still open

[2022-03-26 13:32] dims commented on #94626
kick the can down the road

/milestone v1.25

[2022-03-26 14:05] kkkkun commented on #108118
/assign

[2022-03-26 14:06] timaebi opened #109052 "kube-proxy crash loop"
### What happened?

In IPVS mode if kube-proxy tries to bind to an ipv6 port which is already in use, I get the following error message and kube-proxy crashes.

[code]

[code]

Having a quick look at the code I think this nil dereference happens when kube-proxy tries to record the event in [proxier.go line 1263](https://github.com/kubernetes/kubernetes/blob/v1.22.4/pkg/proxy/ipvs/proxier.go#L1263)

[2022-03-26 14:10] timaebi commented on #109052
/sig network

[2022-03-26 14:55] kkkkun commented on #108118
Great. Please go on.
/unassign

[2022-03-26 14:57] liggitt commented on #109038
I think individual packages are failing much earlier than the 2 hours timeout due to etcd communication failures, spewing logs, and preventing the overall job from summarizing junit results

[2022-03-26 14:59] liggitt commented on #109038
it would be good to capture package run times when they *pass*, to see what the actual execution time is. I suspect some of those times are package timeouts stuck on etcd communication failures

[2022-03-26 15:58] #95693 closed

[2022-03-26 16:33] liggitt commented on #109038
pass rate is around 50% today :-(

[2022-03-26 16:37] dims commented on #107290
@claudiubelu let's please clear the milestone if there is no urgency?

[2022-03-26 16:37] liggitt commented on #108040
seen in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109048/pull-kubernetes-unit/1507725298571939840

this spiked in the last couple days - https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestLocalStorage

is this related to the klog bump (https://github.com/kubernetes/kubernetes/pull/108725)?

cc @pohly

/priority critical-urgent
/milestone v1.24

[2022-03-26 16:40] liggitt commented on #108891
still flaking - https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109048/pull-kubernetes-e2e-kind-ipv6/1507725298496442368

[2022-03-26 16:58] liggitt commented on #108040
increasing priority since it is impacting test runs, and marking as blocker until root causes and we understand whether it is prod-impacting

[2022-03-26 17:03] liggitt commented on #108891
flaking conformance tests are concerning and should take priority over new conformance test additions

[2022-03-26 17:07] liggitt commented on #108933
that has to do with how the shell tokenizes arguments to pass to the kubectl process:

[code]

internal quotes are dropped by the shell, and non-whitespace characters outside quotes are still considered part of the same arg

/close

[2022-03-26 17:07] #108933 closed

[2022-03-26 17:58] liggitt commented on #107499
I think the best resolution of this issue, given the number of times this dependency has reversed behavior on minor bumps (and the fact that the current version seems to introduce new bugs), would be to eliminate use of the dependency and write our own merge of our narrow use

[2022-03-26 18:10] oliviermichaelis commented on #108354
From what I understand, we observed the following behaviour:
1. Initially, there are `4` pods. The HPA scales up `4` new pods, so we have `8` in total.
2. Then, `2` pods are scaled down, so we have `6` in total.
3. The HPA calculates the desired Replicas with ` 6 currentReplicas * (20 currentMetricValue / 5 desiredMetricValue) = 24 desiredReplicas`.
Since all scaling events happened within the `sc

[2022-03-26 19:13] jmcmeek commented on #108266
Looking at:
https://github.com/kubernetes/kubernetes/blob/542a979c036e7cab16f12c324aa93b0149a81c1c/pkg/controller/replicaset/replica_set.go#L466-L471

I wonder if that needs to check if the pod is not yet available - [IsPodAvailable](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/kubectl/pkg/util/podutils/podutils.go#L32) takes into accoun

[2022-03-26 20:59] endocrimes commented on #108040
/assign

^ I'll take this one up on monday - @utkarsh348 still feel free to open a PR if you have WIP investigation/research

[2022-03-26 22:02] #105856 closed

[2022-03-26 22:40] qabpea commented on #108523
@thockin

I tend to look at the service and connections generated towards the pods as part of a contract.
I agree with you regarding case #1 the connections should stay in place and gracefully shutdown.

Regarding both case #2 and #3 I see it as the contract has been broken and that all connections should be severed directly as a  consequence of this.

For the SCTP, I will read through the RFC pro

[2022-03-26 23:20] thockin commented on #108523
This is different than the cited condition, which is specifically "this endpoint is no longer part of the endpoint set".  We can now distinguish the difference between "not ready" and "not part of the set".

[2022-03-27 01:41] apelisse commented on #107727
I wish we could go a little further in lazily initializing openapi (especially v2), so let's see what we can do here (after code-freeze probably)

[2022-03-27 01:49] liggitt commented on #107727
if SSA is actively using the openapi, it being lazy won't help, right?

[2022-03-27 02:04] lxtywypc commented on #108354
Thanks for your comment.
In fact, I knew this was caused by the calculating method of "getReplicasChangePerPeriod" and mentioned it in the "Anything else we need to know" of this issue. What I wonder now is that if it is an expected action or it is just a bug. If it quite is a bug, I hope I could contribute as well.

[2022-03-27 02:06] #105680 closed

[2022-03-27 03:36] brianpursley commented on #93474
/remove-lifecycle rotten

[2022-03-27 03:59] MadhavJivrajani commented on #108040
@endocrimes please see https://github.com/kubernetes/kubernetes/pull/108193
if you have comments/inputs on the already open one.

[2022-03-27 04:09] kerthcet opened #109056 "unexpected failure report while all integration tests passed"
### Which jobs are failing?

Refer to this integration report https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108884/pull-kubernetes-integration/1507912814944063488

Although all the tests passed successfully, but job is failed, I have met this for several times.

### Which tests are failing?

Integration tests.

### Since when has it been failing?

I have no idea.

### Testgrid link

[2022-03-27 06:07] #95367 closed

[2022-03-27 06:07] #104945 closed

[2022-03-27 06:10] xcompass commented on #108908
Updated to 1.21.11. Issue fixed. Thanks.

[2022-03-27 12:55] #108040 closed

[2022-03-27 13:02] dims commented on #109056
@kerthcet digging into logs i can see some failures.

[code]

[2022-03-27 13:02] dims commented on #109056
[code]

[2022-03-27 13:04] dims commented on #109056
there are 3 xml(s), one of them has the error. it's quite possible that this is a testgrid bug, where it is not considering the total number of tests and total number of failures properly
[code]

[2022-03-27 13:23] dims commented on #107727
@liggitt does the revert https://github.com/kubernetes/kubernetes/pull/109030 mean that we can remove milestone v1.24 from this issue?

[2022-03-27 13:53] khalilnechi commented on #37922
try to set repo_gpgcheck=0

[2022-03-27 14:02] cyclinder commented on #109052
I agree initialize Ipv6 proxier with non-nil recorder. I'm curious as to why the initialization of IPv6 proxier with the nil recorder, Here are some reasons?

[2022-03-27 16:07] liggitt commented on #107727
Yes, cleared

[2022-03-27 16:12] apelisse commented on #109036
/triage accepted

[2022-03-27 16:38] MadhavJivrajani commented on #109056
/remove-kind failing-test

[2022-03-27 16:41] MadhavJivrajani commented on #109056
/transfer test-infra
I've seen this happen as well.
Transferring to test-infra for further discussion.

[2022-03-27 16:57] misko commented on #53533
I have been trying to find work arounds for swap and eventually I just wrote a user space based swap solution using mmap. I've been using it for a week now and it seems to work pretty good https://github.com/misko/bigmaac.git  . Not sure if this helps anyone here, to swap a process use `LD_PRELOAD=./bigmaac.so your-exec with args` if you want to only swap memory allocations > Xbytes, `LD_PRELOAD=.

[2022-03-27 17:23] vaibhav2107 commented on #106896
/remove-lifecycle stale

[2022-03-27 17:29] vaibhav2107 commented on #101945
/remove-lifecycle stale

[2022-03-27 17:30] vaibhav2107 commented on #101786
/remove-lifecycle stale

[2022-03-27 17:31] vaibhav2107 commented on #101655
/remove-lifecycle stale

[2022-03-27 18:37] #103838 closed

[2022-03-27 18:41] neoaggelos commented on #108118
/assign

[2022-03-27 19:09] lauralorenz commented on #107530
Hi again from CI Signal shadow, x-posting from Slack: boosting this again as this Wednesday 3/30 we plan to cut the 1.24.0-beta.0 release and I would like input as to whether this flake should be considered release blocking since the next candidate is our first (and only) beta candidate.

[2022-03-27 19:16] dims commented on #107530
Looking at https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1507923649141673984

[code]

The problem is with the underlying cloud provider, not in our code. So i'd NOT consider this release-blocking.

[2022-03-27 20:44] jmcmeek commented on #108266
That tweak didn't do anything obvious.  I think I need to understand the deployment / rollout code.  It seem odd to see:
[code]
and these logged by the kube-controller-manager:
[code]
If I search for replica_set I see:
[code]
I see the enqueue at 18:48:02 and expected / hoped I'd see more logged by replica_set.go 30s later.

[2022-03-27 21:32] chefchanyu commented on #77258
you need to deleting the resource in order. delete pod -> delete pvc -> delete pv

[2022-03-27 22:07] #105984 closed

[2022-03-28 00:04] aojea commented on #107530
is NOT a release blocker

[2022-03-28 00:08] #103576 closed

[2022-03-28 01:12] 249043822 commented on #107226
/remove-lifecycle stale

[2022-03-28 02:28] xzycn commented on #30189
How about to deployment? Dose kubelet will sync configmap immediately when restart a deployment?

[2022-03-28 02:41] #12123 closed

[2022-03-28 02:44] astraw99 commented on #108977
Checked other workloads (deployment, statefulset, daemonset), they all ignored the template metadata.name/namespace info, except for the labels.

So is it the design of template to automatically generate pod names, or is it an ignored feature implementation?

[2022-03-28 03:02] zou2699 commented on #30189
you need to update the annotation directly on the pod not the deploy or sts.

[2022-03-28 03:19] HirazawaUi opened #109063 "When define nodeName field in deployment yaml, cannot bind local persistent volume through nodeAffinity"
### What happened?

I use local volume as persistent volume and local StorageClass, the volumeBindingMode field of StorageClass is WaitForFirstConsumer. I want define nodeName field in deployment yaml for scheduling pods to nodes and I defined the filed of nodeAffinity in pv yaml, But the pod is in the ContainerCreating state, and kubectl describe displays the error "error processing PVC mysql/mys

[2022-03-28 03:34] xzycn commented on #30189
@zou2699
This is a weird way to do this，in most cases we  manage pods  through deployment or statefulset instead  of managing pods directly. If you update the annotation of a pod templdate, then deployment will rolling upgrade the existing pods, in this case,
dose kubelet will sync configmap immediately?

[2022-03-28 04:25] Dingshujie commented on #108009
may be same problem with #109047, and may be leak umount operation in nestedpendingoperations queues.
do you have a lot of pods with same pvc that execute in one nodes?

[2022-03-28 04:27] Dingshujie commented on #109047
/sig node

[2022-03-28 04:28] Dingshujie commented on #109047
@rphillips @ehashman

[2022-03-28 05:16] zou2699 commented on #30189
yes, but update the pod's annotation kubelet will not recreate pod, just reconcile it

[2022-03-28 05:46] lsc615 opened #109064 "kubetnetes1. 23 flannel configuration directrouting is not effective #1554"
### What happened?

I want to set Flannle to directrouting mode, but it doesn't work
I have added configuration "Directrouting": true，but The route is still via flannel.1 onlink
[code]
[root@hecs-kube-0001 manifests]# ip route
default via 192.168.0.1 dev eth0 proto dhcp metric 100
10.244.0.0/24 dev cni0 proto kernel scope link src 10.244.0.1
10.244.1.0/24 via 10.244.1.0 dev flannel.1 onlink
10.244

[2022-03-28 05:50] lsc615 commented on #109064
/sig network
/sig node

[2022-03-28 06:35] xiaoping8385 commented on #108868
Thanks @marosset  It turns out that if we change the path: "/Users" to  path: "/tmp", then the problems resolved. The "/Users" path is doesn't allow write, while the /tmp folder can be read and write.
However, the /Users folder is working for docker +windows environment.  So I would guess the containerd don't handle such folder (that has write restriction) the same as docker.

[2022-03-28 06:54] daro1337 commented on #106870
I also have a problem with metrics over TLS, I did not find any option that would enable it by default like `--secure-port` in other components

[2022-03-28 07:03] aojea commented on #109064
I suggest you to open the issue on the flannel project https://github.com/flannel-io/flannel , this is for Kubernetes only issues

Thanks

/close

[2022-03-28 07:03] #109064 closed

[2022-03-28 07:20] xhejtman commented on #108009
yes, it is exactly this case, lot of pods using the same pvc (like 100-400, and about 40 at one node)

[2022-03-28 07:29] pohly commented on #108040
I don't see how the klog bump could have made it worse. Perhaps the change around the flush daemon changed some timing conditions, but that's a rather wild guess. These tests have been faulty all along and need to be fixed.

What klog can do is support unit tests like this better. I've opened two issues:
- short term: [restore state in unit tests](https://github.com/kubernetes/klog/issues/318)
- l

[2022-03-28 07:32] MadhavJivrajani commented on #108040
@liggitt I think it's safe to remove the release-blocker here. The root cause is largely as explained here: https://github.com/kubernetes/kubernetes/issues/108040#issuecomment-1040122707 (appears to be test-only)

[2022-03-28 07:41] #106870 closed

[2022-03-28 07:48] matthyx commented on #107802
@SergeyKanzhelev I wonder if it's not always running on the same NS `k8s-jkns-e2e-gci-gce-soak-1-4` which has issues being cleared...
Do you think there is a way to dump and recreate this "project"?

[2022-03-28 08:48] HirazawaUi commented on #109063
/sig Scheduling

[2022-03-28 08:58] denkensk commented on #109063
I think I need to change to use `node selector` or `node affinity`.  If you skip the schedule process, the bind with persistent volume is also skipped.

[2022-03-28 09:07] heartlock commented on #109047
+1 meet the same problem

[2022-03-28 09:25] maaoBit commented on #109047
I don't know much about volumeManager. It seems that there is a problem with the override mechanism.
Can mount and unmount of the same volume be executed at the same time? If it can, mount should not override any unmount operation. Otherwise, the mount operation should override all matched operations, not just the first one.

[2022-03-28 09:32] HirazawaUi commented on #109063
Skipping the schedule process is the default behavior of kube-scheduler, is that reasonable?

[2022-03-28 09:39] denkensk commented on #109063
It's reasonable to skip the schedule process if nodename isn't empty in podSpec. The scheduler needs to use this information to rebuild the internal cache on restart.

Writing `nodename` directly is highly discouraged behavior.

[2022-03-28 09:52] Dingshujie commented on #109047
also don't know much about design history background, but comments in volume manager seems to conflict with each other among UmountDevice and UnmountVolume.

[code]

need sameone who familar with it to explain。

yes, must discuss rules for the existence of an operation。

[2022-03-28 10:55] aojea commented on #109022
I've found the cause, but there are several things I'd like to sort out first

[2022-03-28 11:26] soltysh commented on #47202
Please follow this enhancement https://github.com/kubernetes/enhancements/issues/3140

[2022-03-28 11:43] soltysh commented on #108609
Exactly what Tim said above, we never said anywhere or explained how the name is created, this is implementation details that users should not rely on. If there's a desire to have such a value exposed, then that's doable and I can totally see something like that being expressed possibly through an annotation which can be then easily injected into running pod. Having said that this functionality **

[2022-03-28 11:54] qabpea commented on #108523
@teiclap the draft RFC is good and puts a spot light on many of the problems we see here.
I assume that we can disregard multihoming in this discussion and only look at single path.

My first reaction is that the proposed behavior for a SCTP NAT is so different and that SCTP actually need a completely different mechanism then what the proxy and services offer. That said, this will not happen and w

[2022-03-28 11:55] sftim commented on #108993
A changelog is a log of changes. Both of those changes _did_ happen between the 1.21.9 release and the 1.21.10 release.
I don't think that #108102 should have triggered the removal of the previous change from the log.

We could find a document on how software changelogs typically work, and hyperlink to that so that readers are aware of the conventions we follow as a project.

[2022-03-28 12:03] bruno-yamada commented on #81683
/reopen

[2022-03-28 12:18] carantunes commented on #108609
Ok, that's understandable.
And thank you. Indeed, having that value available and officially supported with downward api or something would be the ideal setup!

You can see it's a recurrent question, without a clear solution: eg https://stackoverflow.com/questions/56024617/is-there-a-way-to-know-at-which-time-pod-should-be-executed and https://stackoverflow.com/questions/55694707/access-scheduled-

[2022-03-28 12:19] jsafrane commented on #108980
@andyzhangx can you please check my previous comment? In what cases would be translating "0" to "" worse than the translation code we have today?

[2022-03-28 12:20] krishnakc1 commented on #89898
I have the same issue of kubelet timing out on the liveness and readiness probe on a pod only during the load testing. The resources on the pod do not go beyond the limits. The strange thing is the same application pod works well in the same cluster but on the different nodes. That isolates the problem to a particular node. I did a curl of readiness and liveness probes within the pod and also from

[2022-03-28 12:23] liggitt commented on #108977
Yes, all the workload controllers generate names based on the parent object

[2022-03-28 12:27] andyzhangx commented on #108980
@jsafrane it's not worse or better, a single num (`0`) is actually not a valid zone, such `allowedTopologies` in sc is actually not valid.

[2022-03-28 12:32] Riaankl commented on #108641
/reopen

[2022-03-28 12:36] uablrek commented on #108523
I _totally agree_ on this. I think more advanced SCTP users (telco) _must_ write customized proxiers. Probably with [kpng](https://github.com/kubernetes-sigs/kpng). I made a https://github.com/kubernetes/kubernetes/issues/92369#issuecomment-650034563 about using a customized SCTP proxier at the birth of kpng. If this is kind of accepted then the `kube-proxy` can target the sctp-as-packet-based-tcp

[2022-03-28 12:39] #107333 closed

[2022-03-28 12:51] soltysh commented on #108609
I totally agree that this is something we can easily expose. @carantunes if you're up to make it happen, I'll gladly accept PR :smiley:  feel free to ping me on slack if you need any help with it or push it through reviews.

[2022-03-28 13:03] dalgibbard opened #110346 "Use TLS 1.3 by default"
Hi all,
In relation to: https://github.com/kubernetes-sigs/metrics-server/issues/985

Given that pretty much all libraries/clients out there have supported TLS1.3 for quite a while now, it would be great to move towards deprecating TLS1.2 and lower -- this removes the need to employ Server-side Ciper ordering, and/or enabling/disabling various ciphers which are deemed insecure (ie. 3DES, CBC); mit

[2022-03-28 13:18] neolit123 commented on #109052
Option 1 sounds better but i have not looked at the code.

[2022-03-28 13:22] teiclap commented on #108523
@qabpea I see that the current support of SCTP is only a subset of what the protocol does and is not enough yet even for basic SCTP users. SCTP without multihoming is actually not SCTP.
On SCTP it's not the local node that decides on multihoming support, it's rather the peer that, either with the legacy support of IP addresses as embedded in the INIT/INIT-ACK chunks or with the ASCONF procedure.
L

[2022-03-28 13:27] jsafrane commented on #109047
cc @gnufied

[2022-03-28 13:43] #106677 closed

[2022-03-28 13:44] #107665 closed

[2022-03-28 13:44] mohanr commented on #106977
Is there a way to move forward now ? Is this the same issue reported here ?

_RETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"_

[code]

[2022-03-28 14:01] alculquicondor commented on #108931
I think it's useful to know the taint. Can we start by just reducing the text?

`(s) had untolerated taints {key, val}`

[2022-03-28 14:08] alculquicondor commented on #108931
I think we can fix a few more:

`node(s) didn't satisfy existing pods anti-affinity` (remove word rules)

`node(s) didn't have free ports for the incoming pod`

[2022-03-28 14:49] aojea commented on #109052
/area ipvs

That code has been removed recently https://github.com/kubernetes/kubernetes/commit/c4a00b7d90a3df2dc917c0881e3ef0461263da23

[2022-03-28 14:54] liggitt commented on #108940
https://github.com/kubernetes/kubernetes/pull/109024 adds the metrics. the release note on that issue describes the go change, links to go docs, describes use of the `GODEBUG` option, the new metrics, and the kube-apiserver logs

@neolit123, what would you expect kubeadm to do with this?
1. leave GODEBUG off by default and let users override GODEBUG on their own (is this possible)?
2. set GODEBUG

[2022-03-28 14:56] liggitt commented on #109027
go1.18 changes certificate validation - https://github.com/kubernetes/kubernetes/pull/109024 adds metrics/logs needed to monitor for impact; the release note there describes the issue and what users should do if they are unsure whether they are impacted

[2022-03-28 15:40] lauralorenz commented on #109003
This is reliably passing now for over 10 runs so closing this issue, will open a new one if behavior changes.

/close

[2022-03-28 15:40] #109003 closed

[2022-03-28 15:49] marosset commented on #108868
@dcantah @kevpar @gabriel-samfira @immuzz FYI

I can check if dockershim is doing anything special with permissions for /Users.
If not an issue should be opened in containerd.

Out of curiosity @xiaoping8385 what are you mapping into /Users?

[2022-03-28 16:08] evanfoster commented on #102259
/remove-lifecycle stale

[2022-03-28 16:08] afbjorklund commented on #106917
It seems the developer documentation for cri-dockerd gives just enough information to get started, but not to complete...

Missing some requirements like os version and go version, and missing the version linker flags that are provided by `make`

[2022-03-28 16:28] liggitt commented on #108940
that's helpful, thanks

agreed. weird, I set `release-note-action-required`, but the label didn't get added. added the label manually.

[2022-03-28 16:32] liggitt commented on #108956
this needs an assignee and a reproducer we can file as an upstream issue for golang to ask why previously valid certificates now fail validation

[2022-03-28 16:32] ehashman commented on #105978
/milestone clear

Per https://github.com/kubernetes/enhancements/issues/2400#issuecomment-1068228077 this was removed from milestone

[2022-03-28 16:32] ehashman commented on #105025
/milestone clear
per https://github.com/kubernetes/enhancements/issues/2400#issuecomment-1068228077

[2022-03-28 16:34] ehashman commented on #105023
/milestone clear
per https://github.com/kubernetes/enhancements/issues/2400#issuecomment-1068228077

[2022-03-28 16:37] ehashman commented on #105022
@249043822 @yangjunmyfm192085 thanks for looking into this. What metrics would a cluster operator look at to determine node performance with swap enabled? We would like to specifically call out some Prometheus metrics, it's unlikely for people to look directly at the cgroups.

We'd also like to look at the performance of nodes with swap under high load/pod density/oversubscription, I'm not sure if

[2022-03-28 16:37] ehashman commented on #105022
/milestone clear
per https://github.com/kubernetes/enhancements/issues/2400#issuecomment-1068228077

[2022-03-28 16:38] ehashman commented on #105020
/milestone clear
per https://github.com/kubernetes/enhancements/issues/2400#issuecomment-1068228077

[2022-03-28 16:38] ehashman commented on #105019
/milestone clear
per https://github.com/kubernetes/enhancements/issues/2400#issuecomment-1068228077

[2022-03-28 16:41] dims commented on #109038
@liggitt the following look way better today (and over the weekend as well)

- https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&job=pull-kubernetes-integration
- https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&job=pull-kubernetes-integration

[2022-03-28 16:44] dims commented on #109038
The companion periodic job, looks solid as well:
- https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

[2022-03-28 16:46] liggitt commented on #109038
is the presubmit much better today? it still looks like a significant number of "failed outside of test results" errors

[2022-03-28 16:53] sftim commented on #108807
Part of the answer here could be a blog article about PodSecurity. The article could include a survey of ways to check your manifests without access to the target cluster.

@Cajga perhaps you'd be interested in writing that up?

[2022-03-28 16:53] liggitt commented on #108940
and there's a way for them to set that envvar in kube-apiserver manifests when using kubeadm?

[2022-03-28 16:54] aojea commented on #109038
much better, and no timeouts https://prow.k8s.io/?job=pull-kubernetes-integration

[2022-03-28 16:56] liggitt commented on #109038
ok... that is better, but still significant failure rates, right? (~20%)?

[2022-03-28 16:57] aojea commented on #109038
@BenTheElder  is the expert on the metrics, I always take >75% as good in presubmits

[2022-03-28 17:50] dims commented on #108956
On linux it works fine:
[code]

on MacOS, it fails:
[code]

[2022-03-28 17:54] dims commented on #108956
Looks like the change in golang that broke the scenario was:
https://github.com/golang/go/commit/feb024f4153395e5bbb2a51bb3d1ddc4f5b0d2dc

[2022-03-28 17:54] BenTheElder commented on #108940
There's been a lot of intermittent github webhook delivery issues in the past few weeks or so, slash commands are going to be somewhat unreliable :/

[2022-03-28 18:01] BenTheElder commented on #109038
Sadly 20% failure rate is not surprising, though *some* of that should be just from bad PRs. I dream for a metric that excludes obviously bad PRs ...

If you look at the flamegraph at https://prow.k8s.io/?job=pull-kubernetes-e2e-kind you can see very short runtime failures at the bottom, those are near always unbuildable code and an expected portion of the failure rate.

Right now 80% looks about

[2022-03-28 18:06] BenTheElder commented on #109038
The other issue is, we use the same names on all branches, and you cannot filter the page by target branch, so some of the data is from release branches. But we can still compare relative rates and see integration is at `3h0s: 77%, 12h0s: 79%, 48h0s: 78%` which is not great but not massively worse than https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd `3h0s: 87%, 12h0s: 81%, 48h0s

[2022-03-28 18:06] neolit123 commented on #108940
they could use kubeadm patches to override the YAML manifest defaults - i.e. the contents of v1.Container -> Env:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#patches

[2022-03-28 18:14] dims commented on #108956
reproducer test case here.  this one has no issues under go 1.17 and fails with go 1.18

console:
[code]

`main.go`:
[code]

[2022-03-28 18:37] dims commented on #108956
the new error message is minted here:
https://github.com/golang/go/commit/feb024f4153395e5bbb2a51bb3d1ddc4f5b0d2dc#diff-9e2a37df9605e8b207365b51999e6b14e1f5db72b27ad33514dbac502d477c25R212

i suspect it is related to:
- https://groups.google.com/a/chromium.org/g/ct-policy/c/22R_wrH9WzE

So essentially this seems to be something that may hit `kubectl` in our case. right?

[2022-03-28 18:41] liggitt opened #109077 "KeyEncipherment usage should not be required for non-RSA kubelet client/serving CSRs"
### What happened?

https://github.com/golang/go/issues/36499 describes why the KeyEncipherment extended key usage does not make sense (and in some cases, is not allowed) for ECDSA keys.

The Kubernetes `kubernetes.io/kubelet-serving` and `kubernetes.io/kube-apiserver-client-kubelet` signer names require a `key encipherment` usage.

If the kubelet is not using an RSA key (which it does not [by def

[2022-03-28 18:42] liggitt commented on #109077
/sig auth

[2022-03-28 18:43] liggitt commented on #108956
yeah, if this is scoped to just darwin clients, and only ones using system roots, that _greatly_ narrows the impact

[2022-03-28 18:59] dims commented on #108956
Asked on gophers slack - https://gophers.slack.com/archives/C6CKB7AA2/p1648493966253749

[2022-03-28 19:16] dims commented on #108956
xref: https://github.com/golang/go/issues/51991

[2022-03-28 19:21] JawnnyB commented on #89898
On v1.21.2 AKS - same issue.  Resolved using @mayanksinghse's fix increasing timeoutSeconds to 10.  Default-backend has timeoutSeconds set to 5 by default.  Will attempt to decrease from 10 and look for anything useful.

Odd issue since it's only impacting single cluster -- others with same config intermittently show the same error but do not go into CrashLoop.

[2022-03-28 19:30] travisghansen opened #109081 "kubelet sending invalid grpc header during plugin registration"
### What happened?

When registering a new `csi` driver the `grpc` client is sending the filepath of the `uds` socket as the `host`/`authority` header instead of `localhost`. In practice almost all `grpc` / `http2` servers outright reject this as invalid. Given that the `grpc-go` client was updated years ago I'm unclear why this problem still persists to this day :(

- https://github.com/grpc/grpc

[2022-03-28 19:31] travisghansen commented on #109081
/sig storage

[2022-03-28 19:45] ehashman opened #109082 "[sig-node] Summary API [NodeConformance] when querying /stats/summary ... networking info is nil on containerd"
### Failure cluster [79384df20f4e672ed9e1](https://go.k8s.io/triage#79384df20f4e672ed9e1)

Test: [sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api
Job:
- ci-cgroup-systemd-containerd-node-e2e
- ci-cos-containerd-node-e2e
- pull-kubernetes-node-e2e-containerd

##### Error text:
[code]
#### Recent failures:
[3/27/2022, 9:20:16 AM

[2022-03-28 19:51] liggitt commented on #109082
previously reported in https://github.com/kubernetes/kubernetes/issues/108836 and duped against https://github.com/kubernetes/kubernetes/issues/104292, but both of those are closed now

[2022-03-28 19:52] ehashman commented on #109082
@liggitt this test is generally very flaky in part because it tests so many (too many?) things...

https://github.com/kubernetes/kubernetes/issues/108836 had issues with CPUStats
https://github.com/kubernetes/kubernetes/issues/104292 was swap-only?

This failure is networkstats timing out specifically.

[2022-03-28 19:54] liggitt commented on #109082
👍  explanation; 👎  for unclear test signal :)

[2022-03-28 19:54] ehashman commented on #109082
PRs that merged in Kubelet before first flake at 1pm PT 03/23...

- https://github.com/kubernetes/kubernetes/pull/107845
- https://github.com/kubernetes/kubernetes/pull/107986
- https://github.com/kubernetes/kubernetes/pull/108597

My suspicion is the prep for runc bump but haven't dug very deeply.

[2022-03-28 21:19] #100313 closed

[2022-03-28 21:21] Huang-Wei commented on #93591
/remove-lifecycle stale

[2022-03-28 22:38] xing-yang opened #109086 "Failing tests: In-tree Volumes [Driver: gcepd]"
### Failure cluster [9dad1e859c185d9628c2](https://go.k8s.io/triage#9dad1e859c185d9628c2)

##### Error text:
[code]
#### Recent failures:
[3/28/2022, 10:59:10 AM ci-kubernetes-e2e-prow-canary](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-prow-canary/1508458679211397120)
[3/28/2022, 9:59:10 AM ci-kubernetes-e2e-prow-canary](https://prow.k8s.io/view/gs/kubernetes-jenkins/log

[2022-03-28 22:39] xing-yang commented on #109086
/triage accepted

[2022-03-28 22:40] xing-yang commented on #109086
/assign @msau42 @mattcary

[2022-03-28 22:41] xing-yang commented on #109086
CC @dims

[2022-03-28 22:56] mattcary commented on #109086
/assign @leiyiz

I presume these test configs should have the same thing done as in https://github.com/kubernetes/test-infra/pull/24438, https://github.com/kubernetes/test-infra/pull/24425, etc.

The should be covered by cloud-provider-gcp tests and not from these jobs.

[2022-03-29 00:12] jallirs commented on #108876
I have the same issue on 1.21.2, I think my application is missing the first packet. In my case also listen-only udp. Interestingly enough, issue occurs more when I delete a pod or reboot a vm while doing load testing. Tried with 1.21.9, same problem.

[2022-03-29 00:15] tallclair opened #109087 "Clean up audit logging"
Problems with audit logging:
1. Information is added to the context in stages, and it's not clear what is available at a given time.
2. 4 separate pieces of audit info are stored on the context (ID, AuditContext, annotations, and mutex with https://github.com/kubernetes/kubernetes/pull/109078)
3. Audit logic is scattered across the code, and often mutates the shared audit event directly.

Proposal

[2022-03-29 01:18] 249043822 commented on #105022
okay, We will supplement this part. @ehashman

[2022-03-29 01:57] xiaoping8385 commented on #108868
the yaml is like this: ```apiVersion: v1
kind: PersistentVolume
metadata:
  name: my-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/Users"
[5:10](https://vmware.slack.com/archives/D033L6WSTFA/p1647940251968009)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-claim
spec:
  storageC

[2022-03-29 01:58] xiaoping8385 commented on #108868
The yaml is like this:
apiVersion: v1
kind: PersistentVolume
metadata:
  name: my-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/Users"
[5:10](https://vmware.slack.com/archives/D033L6WSTFA/p1647940251968009)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-claim
spec:
  storageClas

[2022-03-29 02:05] xiaoping8385 commented on #108868
I don't know much about the application,  it just allocate some storage from /Users, and mount a folder to that. you may check the yaml I posted above

[2022-03-29 02:09] mason1kwok commented on #105025
/unassign

[2022-03-29 03:36] l1b0k commented on #90298
1. create pod at `2022-03-29T02:01:09.827234619Z`

[code]

2. change time to `10:00` and recreate container

[code]

3. pod won't start

[code]

[2022-03-29 03:37] wongma7 commented on #105642
@jsafrane it's not needed to read /proc/mounts before unmount at all because `umount` already does it for us (assuming my reading of their code is correct...) [1]. And we can even pass it -q [2] to suppress the "not mounted" error so we could basically treat `umount -q` as an idempotent operation to avoid reading mount table ourselves. And this works independent of the mount helper, i.e. whether w

[2022-03-29 04:07] wongma7 commented on #105642
I repeated the test you guys did in #104976 in a 1.20 cluster recently and observed indeed there is improvement to be made in operation_generator as well. Right now we are incorrectly classifying EFS as device mountable and indexing EFS operations only by volName forcing them to happen serially. Patch https://github.com/kubernetes/kubernetes/pull/109011 treats EFS as NOT device mountable so that o

[2022-03-29 04:27] uablrek commented on #108876
It doesn't seem to be the same problem. In this issue the user is missing all packets _except_ the first.

[2022-03-29 07:02] krmayankk commented on #68397
@dims  this is merged now https://github.com/kubernetes/kubernetes/pull/82162 , we can close this issue now

[2022-03-29 07:03] krmayankk commented on #68397
/milestone v1.24

[2022-03-29 07:39] mengjiao-liu commented on #103546
/remove-lifecycle stale

[2022-03-29 07:40] pacoxu opened #109096 "E2eNode Suite: [sig-node] Security Context when creating a pod in the host PID namespace should show its pid in the host PID namespace [NodeFeature:HostAccess]"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-features

### Which tests are failing?

- E2eNode Suite: [sig-node] Security Context when creating a pod in the host PID namespace should show its pid in the host PID namespace [NodeFeature:HostAccess] expand_less

[code]

### Since when has it been failing?

since last night.

### Testgrid link

https://

[2022-03-29 08:20] aojea commented on #108876
maybe we have to add something to deal with one-way services, I think that the rule will look like

[code]

I'm going to be busy for a time, can anybody test that?

[2022-03-29 08:51] ialidzhikov opened #109099 "apiserver: Request for a custom resource leads to > 1000% CPU usage increase for more than 10min"
### What happened?

We observe a high CPU usage of apiserver replicas while other replicas are idling:

[code]

After investigations we managed to drill down to a custom resource create/update requests that cause this high CPU usage (See the steps to reproduce for more details). It makes sense to mention that the above `k top po` output is from a single Node cluster.

We observe that after such re

[2022-03-29 08:52] ialidzhikov commented on #109099
/sig api-machinery

[2022-03-29 09:58] arman-zhumakhan commented on #53881
I solved it without restarting minikube.
1. I stopped it `minikube stop`,
2. Started again `minikube start --driver=docker`

[2022-03-29 09:58] #107790 closed

[2022-03-29 10:21] dims commented on #68397
/milestone v1.24
/close

[2022-03-29 10:21] #68397 closed

[2022-03-29 10:42] dipankardas011 opened #109100 "Output format for kubectl get"
### What would you like to be added?

<img width="644" alt="image" src="https://user-images.githubusercontent.com/65275144/160594060-adee42aa-9a0c-4c33-88f1-d390943a9570.png">

### Why is this needed?

The second one is easier to read at a glance

[2022-03-29 11:04] dipankardas011 commented on #109100
[code]
Is this the path that has src for the kubectl get ... ?

[2022-03-29 11:18] konstantin-tkachuk commented on #104629
I apologize for the late response. We have decided not to investigate this further, as it does not actually have an impact on our service.

I would love to use the latest k8s version, but sadly due to internal processes in our company it is very slow going.

[2022-03-29 11:25] cschlesselmann commented on #79547
This is still annoying

/remove-lifecycle rotten

[2022-03-29 12:25] cyclinder commented on #109052
so we only should fix it to 1.22 and 1.23?

[2022-03-29 12:51] ravisantoshgudimetla commented on #108931
+1 - I think we should have taint info at the least

[2022-03-29 13:01] ravisantoshgudimetla commented on #91633
Any update on this? I think being behind RBAC would be super helpful from developer and admin standpoint.

[2022-03-29 13:12] liggitt commented on #91633
I don't think it's appropriate to put control over scheduler config/operation on pod-level API like this.

[2022-03-29 13:41] enj commented on #109087
/triage accepted

[2022-03-29 13:43] aojea commented on #109052
1.23, if this is a dual stack bug only, https://kubernetes.io/blog/2021/12/08/dual-stack-networking-ga/
betas don't use to receive backports

[2022-03-29 13:45] aojea commented on #109052
oh, wait, this is going to be backported already https://github.com/kubernetes/kubernetes/pulls?q=is%3Aopen+is%3Apr+author%3Aaramase+port+opener

[2022-03-29 14:11] Pastor-David opened #109105 "Error: failed to create containerd task: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: process_linux.go:508: setting cgroup config for procHooks process caused: openat2 /sys/fs/cgroup/kubepods/burstable/pod03f3a69f-82ff-4368-a1aa-16ddaf74ac22/xmrig/memory.max: no such file or directory: unknown"
/**sys/fs/cgroup/kubepods/burstable**/pod03f3a69f-82ff-4368-a1aa-16ddaf74ac22/xmrig/memory.max: no such file or directory
The path should be /**sys/fs/cgroup/devices/kubepods/burstable**/pod...
Where do i update the path to include the /devices/ in the path?
/sig kubernetes

[2022-03-29 14:20] mborsz opened #109106 "APF improperly estimates cost for LIST aggregated calls"
### What happened?

I started API call like:

[code]

Based on kube-apiserver logs I think that this call has taken `maximumSeats` for entire duration of the call (which was 10s due to reentrant call made by service handling this call and using the same priority-level).

In my opinion we shouldn't use `maximumSeats` in case of delegated calls as they do not consume much kube-apiserver resources +

[2022-03-29 14:22] mborsz commented on #109106
/cc @wojtek-t
/cc @MikeSpreitzer
/cc @tkashem

[2022-03-29 14:23] mborsz commented on #109106
/sig api-machinery

[2022-03-29 14:37] mborsz commented on #109106
I think we have at least two options on the table:
* Detect in listWorkEstimator that the call we handle is for external apiservice and return smaller value
* Similarly to https://github.com/kubernetes/kubernetes/pull/105511, once we pass the request to external service, unblock queue

I prefer 1 as this avoid case when we block `maximumSeats` seats before the request starts, but as discussed with

[2022-03-29 14:51] mborsz opened #109108 "Improve observability of execution latency in APF"
### What would you like to be added?

When I debug some slow API calls where API Priority and Fairness started throttling requests, it's often hard to tell which requests are in fact throttled due to priority level being throttled vs simply being slow. We have added already fl_priorityandfairness which shows how much time we have spent on waiting for request to start, but it is still harder than i

[2022-03-29 14:52] neolit123 commented on #109100
/sig cli

[2022-03-29 14:59] Pastor-David commented on #109105
this is my first post .. I dont know how to add sigs to my post...
Everything is up to date and the newest Kubernetes.
I would not mind rephrasing the title to:
Problems with Kubernetes setting cgroup config for procHooks WRONG PATH
perhaps if you explain how to format the message properly,(ie sigs and
anything else I need to know) we can delete this one and re-submit in a
better format

On Tue, M

[2022-03-29 15:07] rphillips commented on #106884
@xhejtman The fix will be in 1.23.5

[2022-03-29 15:11] liggitt commented on #108956
opened https://github.com/kubernetes/kubernetes/pull/109102 to tolerate the additional errors

discussion in https://github.com/golang/go/issues/51991 indicates the tightened validation is very bounded (darwin-only, so clients-only, system roots only), and certificates issued by public CAs would be expected to pass this validation

dropping release-blocking label and priority to important-soon, bu

[2022-03-29 15:13] wedaly commented on #108525
completed in [#25606](https://github.com/kubernetes/test-infra/pull/25606) and [#25743](https://github.com/kubernetes/test-infra/pull/25743)

[2022-03-29 16:22] marosset commented on #108711
We saw another issue during our tirage meeting.
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1508628790731870208

[code]

@jayunit100 @daschott - would either of you be able to help look into these test flakes?

/cc @ravisantoshgudimetla

[2022-03-29 16:44] gregth opened #109113 "PersistentVolumeController checks for annotation on PVC instead of PV"
### What happened?

I was trying to understand the operation logic of the Persistent Volume controller by going through the code and I think I noticed a bug.

`syncUnboundClaim()` which syncs unbound claims:
1. Checks if the requested PV is bound to another claim.
2. If the PV is bound to another claim, then it shall check if the binding was done by the controller or the user.
3. It should check i

[2022-03-29 16:46] daschott commented on #98680
[KB5011551](https://support.microsoft.com/en-us/topic/march-22-2022-kb5011551-os-build-17763-2746-preview-690a59cd-059e-40f4-87e8-e9139cc65de4) released to support >64 backends per Kubernetes service (up to 1024)

[2022-03-29 16:46] gregth commented on #109113
/sig storage

[2022-03-29 17:30] dobsonj commented on #61446
The in-tree hostPath driver makes no attempt to unmount:
https://github.com/kubernetes/kubernetes/blob/6c96ac04ff970809d815c871958be702d3065db1/pkg/volume/hostpath/host_path.go#L266-L274
Once that is fixed, these skips need to be removed:
https://github.com/kubernetes/kubernetes/blob/6c96ac04ff970809d815c871958be702d3065db1/test/e2e/storage/testsuites/subpath.go#L347-L350
https://github.com/kubern

[2022-03-29 17:34] MbolotSuse opened #109115 "Client-go thread_safe_store removes still-valid values on update"
### What happened?

This was the root cause of rancher/rancher#37057.

In `thread_safe_store.go`, when `updateIndices` is called, it is given the oldVersion of an object and the newVersion of the object. It then uses the indexers `indexFunc` to calculate the old values (from the old version) and the new updated values.

https://github.com/kubernetes/kubernetes/blob/e0ca5cfd73bd046ee5fbdef50e073842

[2022-03-29 17:34] MbolotSuse commented on #109115
/sig api-machinery

[2022-03-29 17:39] liggitt commented on #105589
this started flaking more on 3/21 - https://storage.googleapis.com/k8s-triage/index.html?date=2022-03-25&pr=1&text=podWorker%20state%20should%20not%20be%20marked%20terminated%20for%20a%20running%20pod

adding to the milestone for investigation

[2022-03-29 17:39] liggitt commented on #105589
cc @kubernetes/sig-node-test-failures

[2022-03-29 17:47] wongma7 commented on #105642
Opened https://github.com/kubernetes/kubernetes/pull/109117 to use umount -q when cleaning up subpaths

[2022-03-29 18:03] ehashman opened #109118 "[Flaky test] [sig-node] Pods Extended Pod Container lifecycle should not create extra sandbox if all containers are done"
### Failure cluster [b3645b5ba139a7810417](https://go.k8s.io/triage#b3645b5ba139a7810417)

Test: [sig-node] Pods Extended Pod Container lifecycle should not create extra sandbox if all containers are done

##### Error text:
[code]
#### Recent failures:
[3/28/2022, 6:21:14 PM pr:pull-kind-e2e-kubernetes](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/2696/2676/pull-kind-e2e-kubernetes/

[2022-03-29 18:04] BenTheElder commented on #109038
pass rates are still terrible looking across the board but it mostly seems to be PRs that don't build. skimming recent runs https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108941/pull-kubernetes-integration/1508857141337788416 jumps out as the one flake.

[2022-03-29 18:04] ehashman commented on #109118
dupe https://github.com/kubernetes/kubernetes/issues/106904, oops

[2022-03-29 18:04] #109118 closed

[2022-03-29 18:19] Huang-Wei commented on #108931
I'm going to make this minimum change in 1.24. And in 1.25, come up with a way to make the message compact and adaptive (like setting a maximum length limit for each plugin's failure message, and if it exceeds, fall back to a compact messaging mode)

[2022-03-29 18:32] damemi commented on #91633
Not trying to be pedantic, but if you consider things like affinity, nodeselector, podtopology etc there are already scheduler options on the pod level. These are meant to control individual pod-specific behavior (eg we don't just require one top-down nodeaffinity setting)

I see the security risk but if this is behind good RBAC then are there other differences between settings like that and somet

[2022-03-29 19:16] oomichi commented on #93793
There is still an active pull request for this issue.

/remove-lifecycle rotten
/reopen

[2022-03-29 19:21] dims commented on #106893
@reylejano it's fine, it will just have a LOOOOOOOONG deprecation cycle. there was a plan in sig-node to augment CRI to query this image name from the CRI impl, need to check current status.

[2022-03-29 19:24] afbjorklund commented on #106893
It looks like we will go for pause 3.1 for docker in k8s 1.24 ?

[2022-03-29 19:29] dims commented on #106893
@afbjorklund pause 3.6 or 3.7 ( https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L146-L153 )

[2022-03-29 19:37] afbjorklund commented on #106893
I think I saw 3.1 in cri-dockerd 0.2.0

[2022-03-29 19:59] gnufied commented on #105626
/assign

[2022-03-29 20:03] smarterclayton commented on #91633
This sounds like “debugging info per pod for scheduler / cluster admins”, not “debugging info for users who don’t understand why pods weren’t placed”, especially when we’re talking about the log output of the scheduler.  The latter is generally a much higher bar and doesn’t map to 100% of cluster types (those where end users are heavily isolated from scheduler logs).

At some level, for the former

[2022-03-29 20:06] ehashman commented on #109096
This is failing on a ton of jobs.

/kind regression
/priority important-soon
/milestone v1.24

Triage dump:

### Failure cluster [43ba1558eec5d3201112](https://go.k8s.io/triage#43ba1558eec5d3201112)

##### Error text:
[code]
#### Recent failures:
[3/29/2022, 8:34:07 AM ci-crio-cgroupv1-node-e2e-features](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-features/1508829

[2022-03-29 20:06] ehashman commented on #109096
/triage accepted

[2022-03-29 20:24] cici37 commented on #109099
/cc @jpbetz Would you mind to take a look? Thank you

[2022-03-29 20:24] cici37 commented on #109106
/triage accepted

[2022-03-29 20:25] cici37 commented on #109108
/triage accepted

[2022-03-29 20:26] cici37 commented on #109115
/assign @wojtek-t Would you mind to take a look? Thank you
/triage accepted

[2022-03-29 20:26] cici37 commented on #109026
/triage accepted

[2022-03-29 20:28] ehashman commented on #109105
@Pastor-David if you fill out https://github.com/kubernetes/kubernetes/issues/new?assignees=&labels=kind%2Fbug&template=bug-report.yaml it will walk you through all the details required in a bug report.

[2022-03-29 20:29] ehashman commented on #108364
/remove-triage needs-information

[2022-03-29 20:30] jsturtevant commented on #107114
failed again this week https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-nightly-windows/1506689256301531136

In this case the failed volume mount error was not present

[2022-03-29 20:34] jsturtevant commented on #107114
When this is successfull the `in-cluster` provider is [successful](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-nightly-windows/1507051791278149632/build-log.txt):

[code]

In failure case the (see above too) the incluster validation fails and it falls back to external discovery:

[code]

[2022-03-29 20:47] deads2k commented on #108373
Does the reference objects have finalizers present or, if it is a namespace, does it have spec/finalizers and perhaps a status condition explaining why the namespae cannot be deleted?

[2022-03-29 20:54] aojea commented on #108483
hmm, not doing better https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/109031/pull-kubernetes-integration/1508893646152273920/

[code]

[2022-03-29 20:57] vij2 opened #109126 "error: no objects passed to create"
### What would you like to be added?

Gets the below error message below,

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
+ kubectl create -f -
error: no objects passed to create

My parameters are in place

### Why is this needed?

Gets the below error message below,

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
+ kubectl creat

[2022-03-29 20:59] jsturtevant commented on #107114
The following error seems to be the root:

[code]

Search briefly on `connectex: An attempt was made to access a socket in a way forbidden by its access permissions.` for windows this seems to happen when using a port that is already allocated or don't have enough permissions. Since we seem to have enough permissions I believe that we are trying to re-use an ephemeral port that is already in use.

[2022-03-29 21:11] jsturtevant commented on #107114
for what its worth I ran just this test with `GINKGO_UNTIL_IT_FAILS` and it hasn't failed yet:

[code]

[2022-03-29 21:16] bobbypage opened #109127 "Many tests failing in sig-node-containerd feature tests failing (containerd-node-e2e-{1.5,1.4} and containerd-node-e2e-features-{1.5,1.4})"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.4&width=20
https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.5&width=20
https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-features-1.4&width=20
https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-features-1.5&width=20

### Which tests are failing?

all tests, see

[2022-03-29 21:17] bobbypage commented on #109127
Example test - https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-features-1.5&width=20

Last passing - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-node-e2e-features-1-5/1506364898584563712
First failing - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-node-e2e-features-1-5/1506380250072748032

[2022-03-29 21:18] bobbypage commented on #109127
/cc @kubernetes/sig-node-test-failures

[2022-03-29 21:19] bobbypage commented on #109127
failure:

[code]

no kubelet log, so guessing kubelet / the test is unable to start

[2022-03-29 21:25] bobbypage commented on #109127
Error in  https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-node-e2e-features-1-5/1506380250072748032/artifacts/tmp-node-e2e-93612112-cos-89-16108-604-22-system.log

looks suspicious

[code]

[2022-03-29 21:34] vij2 commented on #109126
Now gets the below error message,

error validating "appcode/ci/xxx/Chart.yaml": error validating data: kind not set; if you choose to ignore these errors, turn validation off with --validate=false
error parsing appcode/ci/xxxx/templates/pgpool-deployment.yaml: error converting YAML to JSON: yaml: invalid map key: map[interface {}]interface {}{".Values.pgpool_deployment.replicas":interface {}(nil)

[2022-03-29 21:36] vij2 opened #109129 "error validating data: kind not set; if you choose to ignore these errors"
### What would you like to be added?

Now gets the below error message,

error validating "appcode/ci/xxx/Chart.yaml": error validating data: kind not set; if you choose to ignore these errors, turn validation off with --validate=false
error parsing appcode/ci/xxxx/templates/pgpool-deployment.yaml: error converting YAML to JSON: yaml: invalid map key: map[interface {}]interface {}{".Values.pgpool_

[2022-03-29 22:18] isibeni opened #109131 "Make indices of IndexedJob pods configurable"
### What would you like to be added?

As a user I would like to be able to configure with which index the pods of a IndexedJob are getting created.

By introducing a new field to the job spec API (possible name: `indices` -> TBD) we can influence with which index the controller would create pods.

This field then has a mutually exclusive relation to the `completions` field.

Ideally, we could also

[2022-03-29 22:22] isibeni commented on #109131
/wg batch

[2022-03-29 22:24] isibeni commented on #109131
/sig apps

[2022-03-29 22:53] jsturtevant commented on #107114
I got a repo on this after 111th run. I created a pod with the same spec in the failed namespace as the one that failed in the test but it connected fine.  This does lead me to believe that the port is being opened in a reserved space.

We had some port reservation issues in the past and this was suppose to help: https://github.com/kubernetes-sigs/image-builder/pull/750. I confirmed the node I got

[2022-03-29 23:07] PhanLe1010 opened #109132 "Kubelet cannot finish terminating a pod that uses a PVC with `volumeMode: Block` if the underlying block device is accidentally disconnected from the node"
### What happened?

A pod uses a PVC with `volumeMode: Block`. The block volume is backed by a block device on the node (which is created by some CSI storage providers).  If the underlying block device corresponding to the volume is accidentally disconnected from the node (due to network, hardware problem, etc...), the user cannot delete the pod. The pod would be stuck in terminating forever since

[2022-03-29 23:12] PhanLe1010 commented on #109132
/sig storage

[2022-03-29 23:13] PhanLe1010 commented on #109132
Ref: https://github.com/longhorn/longhorn/issues/3778

[2022-03-29 23:15] jpbetz commented on #109099
Thank you for the detailed report @ialidzhikov. Did you see anything in the apiserver logs that might be related to the CPU utilization?

cc @apelisse

[2022-03-29 23:16] ErickStaal commented on #108373
The info about the namespace knative-serving, garbagecollector.go seems to be complaining about (btw the namespace shouldn't disappear, since it has lots of objects in it):

# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will be
# reopened with the relevant failures.
#
apiVersion: v1
kin

[2022-03-29 23:48] deads2k commented on #108373
do you have this message repeating as well: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L623

[2022-03-30 00:34] #93100 closed

[2022-03-30 00:34] #108140 closed

[2022-03-30 00:35] #99955 closed

[2022-03-30 01:48] pacoxu opened #109133 "TestPreShutdownHooks flakes in pull-kubernetes-unit"
/kind flake
/sig api-machinery

TestPreShutdownHooks flakes a lot after this pr was merged.

- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/1508966938808684544
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108492/pull-kubernetes-unit/1508972217449320448
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit

[2022-03-30 02:09] dims commented on #109038
i think we can lower the priority now @liggitt @BenTheElder

[2022-03-30 02:10] dims commented on #108906
@liggitt @MadhavJivrajani do we have a plan of action for this? do we call this a blocker for v1.24 release?

[2022-03-30 02:43] jpbetz commented on #109099
@apelisse is this maybe another case of the O(2^n) merge issue? There is a largish CR with no schema and with enough levels of depth to maybe trigger that.

[2022-03-30 02:47] liggitt commented on #109038
ack. can also collapse this to existing integration omnibus issues if we've returned to baseline failure rates

[2022-03-30 02:48] liggitt commented on #108906
Definitely release blocking. @smarterclayton is digging into the area and is on the proposed PRs

[2022-03-30 03:36] #109096 closed

[2022-03-30 03:36] #108956 closed

[2022-03-30 03:37] #108940 closed

[2022-03-30 03:47] waynerv opened #109145 "webhooks has 2 compatible issues with kubernetes v1.18"
I'm using kubernetes 1.18.17 and I'm experiencing the following compatibility issue when I try to enable pod-security-admission by installing webhook as per the documentation instructions.

1. kustomize not support "replacements" field:
[code]
   Workaround: install latest kusomize and run `kustomize build . | kubectl apply -f -`
2. unknown field "seccompProfile" in `50-deployment.yaml`
[code]

[2022-03-30 04:06] ErickStaal commented on #108373
Not that message with the attemptToDelete: just checked the logs again for an example:

[code]
This is the pair of messages which are continuously appearing in the logs.

[2022-03-30 04:23] lauralorenz opened #109136 "[Failing test] sig-release-master-blocking#ci-kubernetes-unit"
### Which jobs are failing?

[sig-release-master-blocking#ci-kubernetes-unit](https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit)

### Which tests are failing?

k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/server.TestPreShutdownHooks

### Since when has it been failing?

17:42 PDT 3/29

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit

[2022-03-30 04:25] lauralorenz commented on #109136
Looks like this is also being discussed [#sig-testing slack](https://kubernetes.slack.com/archives/C09QZ4DQB/p1648607376354129) and x-ref this test was merged 4 hours ago https://github.com/kubernetes/kubernetes/pull/108033#issuecomment-1082531826

[2022-03-30 04:26] lauralorenz commented on #109136
/sig api-machinery

[2022-03-30 04:33] lauralorenz commented on #109136
More x-ref:
SIG api machinery is tracking it themselves in #109133
There is a PR to increase the timeout in #109134

[2022-03-30 04:41] lauralorenz commented on #109136
More x-ref:
Same post in the [#sig-api-machinery slack](https://kubernetes.slack.com/archives/C0EG7JC6T/p1648606081058449).

[2022-03-30 05:02] Kartik494 commented on #109113
@gregth If we want to set the annotation on Volume instead of claim, then [`else`](https://github.com/kubernetes/kubernetes/blob/1ea07d482a5ec15afac5ea837585174579fc0f57/pkg/controller/volume/persistentvolume/pv_controller.go#L458) should need to modify also on the volume part instead of claim

[2022-03-30 05:14] Kartik494 commented on #109113
https://github.com/kubernetes/kubernetes/blob/1ea07d482a5ec15afac5ea837585174579fc0f57/pkg/controller/volume/persistentvolume/pv_controller.go#L449-L460

I think else part comment is misleading as in  we are checking for `AnnBoundByController` annotation and commented for `AnnBindCompleted`

/assign

[2022-03-30 05:32] lauralorenz commented on #109136
Per [#sig-testing slack thread](https://kubernetes.slack.com/archives/C09QZ4DQB/p1648615574595719?thread_ts=1648607376.354129&cid=C09QZ4DQB) this should be resolved and not be a blocker, testgrid is still red but I think the expectation is that it should clear up. Leaving this open for now but currently expecting this not to block release cut tomorrow.

[2022-03-30 05:54] bobbypage commented on #109127
Test infra diff - https://github.com/kubernetes/test-infra/compare/c5eee4378...a6fe00c22

[2022-03-30 06:00] bobbypage commented on #109127
another big change between failing and passing run was upgrade to golang 1.18 in the kubekins image. The https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-features-1.5&width=20 job is running against k8s 1.22, so I'm unclear if k8s 1.22 even supports golang 1.18 (it seems like older k8s versions should have the golang version pinned?)

[2022-03-30 06:17] BenTheElder commented on #109136
this is the same root issue as https://github.com/kubernetes/kubernetes/issues/109133 (same flake is occurring in PR unit testing)

[2022-03-30 06:19] bobbypage commented on #109127
xref: https://github.com/kubernetes/test-infra/pull/25812

[2022-03-30 06:21] bobbypage commented on #109127
Local run against 1.22 release branch with go1.18 was panicking (https://gist.githubusercontent.com/bobbypage/ac8bb626b6e6811bf3ea530ad9994774/raw/f5f7ac8e8724536244f7d1d1d9b98fb1e556ceb2/log_panic.txt)(for some reason these logs aren't showing up in prow?).

https://github.com/kubernetes/test-infra/pull/25812 will pin to use the correct kubekins version which will pick up the right golang version

[2022-03-30 06:27] BenTheElder commented on #109038
12 and 48 hour pass rates are now comparable

But uh, hopefully that 3 hour is just a blip with PRs being hacked on this evening 🤞

Unit tests are horrible at the moment seemingly due to #109133

The gold standard is typecheck which is non-flaky and only fails on code that doesn't typecheck ™️ (though there are other ways code can be unbuildable, e.g. bad build script changes, which affect e.g. e2

[2022-03-30 06:30] pacoxu commented on #109038
Unfortunately, some PRs were not merged due to the CI flakes. Those PRs were approved before the code freeze. 😂

[2022-03-30 06:49] BenTheElder commented on #109038
yes though they should still merge regardless of freeze. folks will do a sweep and put them in the milestone as needed
https://kubernetes.slack.com/archives/C2C40FMNF/p1648601324494429?thread_ts=1648601208.585479&cid=C2C40FMNF

[2022-03-30 07:12] wojtek-t commented on #109115
Thanks for reporting the issue.
https://github.com/kubernetes/kubernetes/pull/109137 will address this issue

[2022-03-30 07:38] piratf commented on #40651
This annotation still doesn't exist in v1.21.8.

[2022-03-30 08:19] chendave commented on #107936
This will be addressed in this pr: https://github.com/kubernetes/kubernetes/pull/109111

A separated will dedicatedly address the reporter migration.

[2022-03-30 08:20] #109136 closed

[2022-03-30 08:27] pacoxu commented on #109133
closed as #109134 is merged

[2022-03-30 08:27] #109133 closed

[2022-03-30 08:40] gregth commented on #109113
I'd like to understand a bit more:
1) This [else](https://github.com/kubernetes/kubernetes/blob/1ea07d482a5ec15afac5ea837585174579fc0f57/pkg/controller/volume/persistentvolume/pv_controller.go#L446) part is executed in the case a `pvc.Spec.VolumeName != nil` AND the requested volume is bound to another claim. Right?
2) `syncUnboundClaim()` is called in case the claim does not have  `AnnBindComplet

[2022-03-30 08:46] mengjiao-liu opened #109140 "[Flaking Test] ci-kubernetes-node-kubelet-serial-containerd failed because of too high pod startup latency 50th percentile"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-node-release-blocking#node-kubelet-serial-containerd

### Which tests are flaking?

- ci-kubernetes-node-kubelet-serial-containerd
- E2eNode Suite.[sig-node] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background
- kubetest.Node Tests

### Since when has it been flakin

[2022-03-30 09:02] 12cew commented on #109113
Should this issue be labeled as priority/awaiting-more-evidence or priority/backlog or priority/important-longterm?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, th

[2022-03-30 09:20] pacoxu commented on #109140
dup with #108774 which may be fixed by #108958.

[2022-03-30 09:30] ialidzhikov opened #109142 "NodePublishVolume fails with "special device <omitted>/globalmount does not exist""
### What happened?

We relatively ofter see Pods that fail to mount their volumes:
[code]

kubelet logs:
[code]

In short,
1. StatefulSet rollout triggered termination for Pod `9fb87a57-b02c-4800-8e2f-d5ee2bda6b2a`.
2. `NodeUnstageVolume` call failed with `context deadline exceeded`.

[code]

   While on the gcp csi-driver logs I see that the `NodeUnstageVolume` completed successfully.
[code]
3. `

[2022-03-30 09:31] ialidzhikov commented on #109142
/sig storage

[2022-03-30 09:32] pacoxu commented on #109131
/area batch

[2022-03-30 09:45] pacoxu commented on #109126
/kind support
Could you provide more detailed steps on how to reproduce the problem?

[2022-03-30 10:05] skywaterxyz opened #109143 "init k8s master node : cannot create certificate signing request: dial tcp x.x.x.x:6443: connect: connection refused"
### What happened?

I installed kubernates and init master node with kubeadm by the following commands:
[code]
When starting kubelet, it always said that "dial tcp 172.22.61.118:6443: connect: connection refused", the detailed starting log shows as follow:
[code]

### What did you expect to happen?

master node start normally

### How can we reproduce it (as minimally and precisely as possible)?

[2022-03-30 10:08] dims opened #109144 "[prune-junit-xml] follow up needed for 109112"
Please see notes from @BenTheElder in:
https://github.com/kubernetes/kubernetes/pull/109112#pullrequestreview-925611046

[2022-03-30 10:09] dims commented on #109144
/assign

[2022-03-30 10:10] pacoxu commented on #109082
#107913 fixed old problems by adding some more times.😂

[2022-03-30 10:43] liggitt commented on #109106
If there's not a clear low-risk solution immediately available, is there a 1.23 change that should be reverted to resolve the regression and regain status quo in 1.23?

[2022-03-30 10:47] MadhavJivrajani commented on #109143
/sig cluster-lifecycle

[2022-03-30 11:01] Zetanova commented on #40651
@piratf I followed this topic only lax, but of my knowledge there was no improvement.
The statefulset will generate simply a well-known pod name.
This well-known name can be used to pre-create resources like pvc, databases, users ...
or ordinal index can be extracted at runtime from inside the container at runtime

[2022-03-30 11:06] sanposhiho commented on #105977
Providing this feature with a new `whenUnsatisfiable ` like `DoNotSchedule_BestEffort` (This is a tentative name. i couldn't think of a good name.) looks good to me. This can be implemented simply.
If `whenUnsatisfiable` is `DoNotSchedule_BestEffort`, Pod Topology Spread behaves as `DoNotSchedule` basically, but if Pod cannot be scheduled in a defined period of time, then it changes the behavior t

[2022-03-30 11:08] sanposhiho commented on #108903
/cc @Huang-Wei

[2022-03-30 11:21] ialidzhikov commented on #109099
The logs related to such request seems to be:
[code]

After ~5min there is also the following interesting log:
[code]

It probably makes sense to mention that the examples from https://github.com/kubernetes/kubernetes/issues/109099#issue-1184529436 are against apiservers Pods without a CPU limit. We initially noticed the issue on apiserver with a cpu limit of `1` core. In this case the Pod was con

[2022-03-30 11:34] MadhavJivrajani opened #109146 "Increased resource usage in the scalability jobs"
### What happened?

There seem to be increased resource usage for the kube-api-server in the `kubemark-500nodes` job:
CPU:
http://perf-dash.k8s.io/#/?jobname=kubemark-500Nodes&metriccategoryname=E2E&metricname=LoadResources&PodName=apiserver%2Fapiserver&Resource=CPU

![Screenshot from 2022-03-30 16-49-13](https://user-images.githubusercontent.com/12381034/160823005-b5e52b83-285b-4407-a10f-57c4c775

[2022-03-30 11:38] pacoxu commented on #109146
the increase is huge, we may fix it in v1.24.

[2022-03-30 11:41] mengjiao-liu commented on #109140
Closing this issue because of duplication.
/close

[2022-03-30 11:42] #109140 closed

[2022-03-30 11:42] liggitt commented on #109145
Using the newest version of kubectl is recommended and will allow applying the manifest.

For the seccomp field, that is available in 1.19+ and in all supported versions of Kubernetes (currently 1.21+). You can bypass the client-side complaint about the unknown field with the flag --validate=false to continue creating the manifest on older versions.

A PR updating the readme with that information

[2022-03-30 11:42] #109145 closed

[2022-03-30 11:45] ialidzhikov commented on #109142
I think my observations are matching also the description of https://github.com/kubernetes/kubernetes/issues/106729 where @jsafrane commented https://github.com/kubernetes/kubernetes/issues/106729#issuecomment-995837974 (that this issue is fixed with https://github.com/kubernetes/kubernetes/pull/100183 and present in 1.21+).
@jsafrane can you by any chance confirm that? Thanks in advance!

[2022-03-30 11:49] dzmitry-lahoda commented on #98102
I got this eror message, not sure if root cause is same on ASK 1.23.3 allocating Windows pods
[code]

[2022-03-30 12:04] wojtek-t commented on #109146
The increase is huge, so marking as a release-blocker.

@liggitt - FYI

[2022-03-30 12:04] mborsz commented on #109146
Let's focus on gce-100Nodes as it's the most impactful regression.

We see also increase on etcd's CPU usage which suggest that the growth is caused by some additional calls.

![image](https://user-images.githubusercontent.com/2559168/160830346-f641fce1-7d31-456e-a28f-b5b38d9bb54b.png)

[2022-03-30 12:04] mborsz commented on #109146
/assign

[2022-03-30 12:10] pacoxu commented on #109143
/area kubeadm
The problem seems to be with static pods: etcd/apiserver may not be started correctly.

[code]
Run crictl to check the containers.

[2022-03-30 12:15] wojtek-t commented on #109106
I don't think there is a single PR that would be easily to revert.
As for low-risk mitigation - we may consider switching off this behavior and fallback to previous behavior and just simply set the width of the request always to 1.
Basically adding something like:
[code]
here:
https://github.com/kubernetes/kubernetes/blob/release-1.23/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/request/width

[2022-03-30 12:16] liggitt commented on #109146
do we have a good/bad commit range to bisect?

[2022-03-30 12:20] MadhavJivrajani commented on #109146
@liggit from the ranges I saw (based on the graph going low -> high), a potential commit range could be:
`1ea07d482a5ec15afac5ea837585174579fc0f57` - `7c46f40bdf89a437ecdbc01df45e235b5f6d9745`
with `61b3c028ba618a939559c39befb546ae5e5fd0b9` as a potential candidate for the cause.

[2022-03-30 12:22] pacoxu commented on #109146
https://github.com/kubernetes/kubernetes/commit/7c46f40bdf89a437ecdbc01df45e235b5f6d9745
to
https://github.com/kubernetes/kubernetes/commit/1ea07d4

if I understand correctly.

[2022-03-30 12:26] wojtek-t commented on #109146
I didn't double check the range - but it's very clear from the 100-node tests:
http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=E2E&metricname=LoadResources&PodName=kube-apiserver-e2e-big-master%2Fkube-apiserver&Resource=CPU

And they are running every hour.
So basically we have 1h commit range - so shouldn't be that hard to find the right one (and very easy repro).

[2022-03-30 12:31] liggitt commented on #109146
cc @smarterclayton @thockin on possible churn related to https://github.com/kubernetes/kubernetes/pull/101566

hoisting from https://github.com/kubernetes/kubernetes/pull/101566/files#r838484530

[2022-03-30 12:35] liggitt commented on #109146
do we have the ability to do a presubmit run on a revert of https://github.com/kubernetes/kubernetes/pull/101566 to see if that resolves the issue?

[2022-03-30 12:49] wojtek-t commented on #109146
@liggitt - yes - it should be visible from the presubmit directly

[2022-03-30 12:50] wojtek-t commented on #109146
Unfortunately - this can't be automatically reverted:
"Sorry, this pull request couldn’t be reverted automatically. It may have already been reverted, or the content may have changed since it was merged."

[I won't get to this today - if someone does that I would be able to look into results of the presubmit later today.]

[2022-03-30 12:57] liggitt commented on #109146
I can open one, it was a generated openapi json file that conflicted

[2022-03-30 13:00] Argh4k commented on #109146
I've created https://github.com/kubernetes/kubernetes/pull/109151 but I believe I need /ok-to-test from someone in organization to launch presubmit.

[2022-03-30 13:04] dims commented on #109146
wow we tracked this down pretty fast :) Nice job you all!

[2022-03-30 13:08] liggitt commented on #109146
seeing lots of this in kubelet logs on e2e runs, so I think the answer is yes:

[code]

[2022-03-30 13:15] NobleYd opened #109152 "service not work right with pod with ip in 169.254/16 ?"
### What happened?

I create a deployment and a service using nginx. But the service is not work right.

### What did you expect to happen?

why the warning event is shown when I describe my service?

and why the endpoints is <none>, which is not right I think?

### How can we reproduce it (as minimally and precisely as possible)?

my-deployment
[code]
my-service
[code]

kubectl create -f my-deplo

[2022-03-30 13:27] alculquicondor commented on #109131
cc @soltysh

The field probably needs to be a string and it should have some limit for the number of characters.

As for the status, it might be harder to limit. In Indexed Jobs we limit `parallelism` to indirectly limit the number of characters in `completedIndexes`. We need to make a similar analysis to guarantee that the field doesn't grow indefinitely.

https://kubernetes.io/docs/reference/kub

[2022-03-30 13:30] liggitt commented on #101565
reopening since #101566 is reverted in #109151

[2022-03-30 13:30] liggitt commented on #85443
reopening since https://github.com/kubernetes/kubernetes/pull/101566 is reverted in https://github.com/kubernetes/kubernetes/pull/109151

[2022-03-30 13:31] liggitt commented on #85443
oh, I guess https://github.com/kubernetes/kubernetes/issues/101565 was the canonical issue tracking this

[2022-03-30 13:31] #85443 closed

[2022-03-30 13:50] jpbetz commented on #109099
Okay, I'll let @apelisse confirm, but this has the hallmarks of an issue discovered recently. I'll try to describe it:

When a CRD uses `preserveUnknownFields: true` in the OpenAPIv3 schema, Server Side Apply refers to the contents as a "deduced type".  There is an issue where when some operations are performed on a deduced type, Server Side Apply performs a compare of the custom resource against

[2022-03-30 13:51] neolit123 commented on #109152
/kind support
/sig network

Might be better to ask for support outside of gh first
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-03-30 13:53] neolit123 commented on #109143
This can be due to a variety if reasons.

We don't keep support tickets here but you can continue the conversation
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-03-30 13:54] neolit123 commented on #109143
/kind support

[2022-03-30 13:54] #109143 closed

[2022-03-30 13:56] liggitt commented on #109106
it seems like it will require breaking some of the desired API server layering to get that information up at the APF filter layer

[2022-03-30 13:57] liggitt commented on #109106
(cc @deads2k for API server layering)

[2022-03-30 13:58] liggitt commented on #109106
unbreaking 1.22 → 1.23 upgraded users is higher priority, if we have to choose

[2022-03-30 14:06] #109152 closed

[2022-03-30 14:29] MadhavJivrajani commented on #109146
Looks like its back to normal: https://github.com/kubernetes/kubernetes/pull/109151#issuecomment-1083208771

[2022-03-30 14:47] eddiezane commented on #103769
/reopen

[2022-03-30 15:09] liggitt commented on #109106
That sounds like a potentially big change to pick back to 1.23.

What would the alternative of reverting the 1.23 change to 1.22 behavior look like?

[2022-03-30 15:10] #109129 closed

[2022-03-30 15:10] neolit123 commented on #109126
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-03-30 15:11] neolit123 commented on #109126
/close

[2022-03-30 15:11] #109126 closed

[2022-03-30 15:21] DiptoChakrabarty commented on #107290
@claudiubelu I am the  bug triage shadow , since we are in 1.24 code freeze  I  wanted to check if this could be moved to the next milestone

[2022-03-30 15:52] tkashem opened #109155 "client-go: the retry logic in rest.Request should be thread safe"
### What happened?

the newly refactored retry logic introduced in 1.22 by https://github.com/kubernetes/kubernetes/pull/102217 broke the thread safety of `*Request`. According to Clayton, it's not a release blocker for 1.24.
So the goal is to fix it in 1.25 and then back port all the way to 1.22.

Please note that there are other members (not related to retry logic) of `Request` that are not thre

[2022-03-30 15:53] tkashem commented on #109155
/sig api-machinery
/assign

[2022-03-30 16:04] doodlesbykumbi commented on #89163
I have some bandwidth and would be happy to pick this up

[2022-03-30 16:19] wojtek-t commented on #109106
I think there are other options that should mitigate them. One of them is to keep estimation as is, just "finish the request from P&F perspective" as soon as it's actually delegated to aggregated apiserver. We did something similar for the purpose of watch initialization in: https://github.com/kubernetes/kubernetes/pull/105511/files and if we ignore the test there, it's actually pretty small and i

[2022-03-30 16:22] wojtek-t commented on #109115
Reopening - since we need to cherrypick back to 1.23

[2022-03-30 16:28] nckturner commented on #108952
We discussed this in sig-cloud-provider today and determined we would like to ask for an exception for code freeze.  The change is small and removes insecure serving configuration from cloud-controller-managers which has been deprecated for 4 years.

/triage accepted
/milestone v1.24

[2022-03-30 16:30] aojea commented on #109022
Webhooks has a very interesting and complex setup, let me write it down for reference:

Webhooks inside the apiserver use a RESTClient to contact the webhooks, this is handled by the `ClientManager`

https://github.com/kubernetes/kubernetes/blob/dda9bcb082be058c30c83d45e757edbaac8dc65f/staging/src/k8s.io/apiserver/pkg/util/webhook/client.go#L65-L66

conversion and validationg/mutation webhooks doe

[2022-03-30 16:58] dobsonj commented on #61446
So it's not really the TearDown code I quoted above, the subpaths would normally be cleaned up here:
https://github.com/kubernetes/kubernetes/blob/2e55595d3baeedcab09745355824f38a60cf6d08/pkg/volume/util/operationexecutor/operation_generator.go#L825-L830

But we never make any attempt to call UnmountVolume in this scenario.
https://github.com/kubernetes/kubernetes/blob/2e55595d3baeedcab09745355824

[2022-03-30 17:00] aojea commented on #109022
/priority important-soon

[2022-03-30 17:02] seans3 commented on #106284
Unfortunately, this is a known issue that can not be fixed. There is no way the current apply can know about namespaces applied previously; it can only know about namespaces currently being applied. It is one of the reasons that `kubectl apply --prune` is still alpha after many years and will not graduate to beta.

/close

[2022-03-30 17:22] marosset opened #109161 "Cannot modify registry keys during Windows pause image build process"
### What happened?

The Windows pause images is built using buildkit on Linux hosts and this configuration does not allow for the Windows registry to me modified during the container build process.

When Windows containers are built on Windows host machines part of the build process creates 'delta' registry files when get stored in the layer files. These 'delta' registry hive files are applied to

[2022-03-30 17:24] marosset commented on #109161
/cc @dims @chewong @jsturtevant

[2022-03-30 17:26] SergeyKanzhelev commented on #109127
/triage accepted
/priority important-soon

[2022-03-30 17:27] eddiezane commented on #109100
This isn't a change we'd make to the current printers but you could consider creating a kubectl plugin or using the json output to format how you like.

Also have a look at https://github.com/kubernetes-sigs/kui

/triage unresolved
/close

[2022-03-30 17:28] #109100 closed

[2022-03-30 17:28] SergeyKanzhelev commented on #109047
/remove-sig node

for sig storage to triage

[2022-03-30 17:29] eddiezane commented on #108840
As Arda mentioned this seems like the result of kubectl defaulting to localhost. Please make sure you are using the correct kubeconfig and have the context set.

ref https://github.com/kubernetes/kubernetes/issues/93188

/triage unresolved
/close

[2022-03-30 17:29] #108840 closed

[2022-03-30 17:33] dims commented on #109161
my first concern was. will a community member be able to build this image themselves (will the sources be available and up-to-date and the image built from it). We could also do a github hosted windows runner to build / publish this new image as well. let's please revisit this once we wrap 1.24.

[2022-03-30 17:33] ehashman commented on #109082
/triage accepted
clearly still flaking

[2022-03-30 17:34] marosset commented on #109161
/milestone v1.25

[2022-03-30 17:36] ehashman commented on #109082
Possible actions to take here:
- [ ] Determine the source of the network perf regression, try to pinpoint to one of the associated PRs
- [ ] Split this test up into smaller tests so that the failures for different stats (memory, network, CPU, etc.) are not all grouped under the exact same test name failure

[2022-03-30 17:36] ehashman commented on #109082
/assign

[2022-03-30 17:38] ehashman commented on #105589
/unassign @cynepco3hahue
/assign @rphillips

[2022-03-30 17:39] marosset commented on #109161
We created https://github.com/microsoft/windows-pause-image-base which has the source/docker files used to build `mcr.microsoft.com/oss/kubernetes/windows-pause-image-base:v0.1`.

AKS has made a pause image based on image available to some customers out of necessity to unblock some scenarios.
We'd like to upstream the changes - and do so with as little destabilization to Kubernetes project as poss

[2022-03-30 17:39] BenTheElder commented on #109161
Seems like the intermediate base image step would be reasonable. I don't think community members can build the existing base windows images either for the same reason of depending on windows.

[2022-03-30 17:41] marosset commented on #109161
The windows pause image is based on 'nanoserver' which is one of several container base images provided by Microsoft (and only Microsoft can produce container base images).

https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-base-images

[2022-03-30 17:46] dims commented on #109161
@marosset yep. i'd expect community downstream teams (for example) would like to start with this nanoserver, have a set of dockerfiles to build this new image ... then build their own pause images based on this new image

[2022-03-30 17:47] dims commented on #109161
or in other words if MSFT wants to roll all the changes into nanoserver itself (since we all already know that only MSFT can produce this), then there is no debate after that

[2022-03-30 17:51] ehashman commented on #106917
/milestone clear
as this is not actionable for the 1.24 release

/lifecycle frozen
as we will want to continue collecting feedback for some time :)

[2022-03-30 17:54] marosset commented on #109161
We can't roll these changes into nanoserver because they may break other scenarios.
Because of that having an intermediate layer built somewhere was the best solution we came up with without forking the build process for the pause image.

Microsoft is willing to host build/host the intermediate layers/images from open-sourced docker files.
If we want to build the intermediate layers somewhere else

[2022-03-30 18:00] LP0101 opened #109162 "Delay in processing HNS LB policies on kube-proxy start on Windows nodes results in unreachable services"
### What happened?

When starting windows nodes with a high number of HNS LB policies/rules on the cluster, there is a delay in processing them. This leaves services unreachable during the delay, which takes about half a minute per policy. This can be substatial given enough rules.

This occurs when restarting kube-proxy and rebooting the host. Once the system does reach a state where all the poli

[2022-03-30 19:00] anik120 opened #109164 "batch/v1/job not transitioning to `Succeeded` after successful underlying pod run completion"
### What happened?

We have a controller that creates a job for unpacking the contents of a container image hosted in a container registry. After updating to kube 1.23.5, the Jobs created by the controller sometimes don't transition to `Complete:True`, despite the fact that the underlying pod runs to completion. Instead, the underlying pod is listed in `status.uncountedTerminatedPod.succeeded` ind

[2022-03-30 19:06] anik120 commented on #109164
/sig api-machinery

[2022-03-30 19:07] ehashman commented on #109082
/help

I plan on putting some time into this tomorrow but I will be sporadically available the rest of the week. Don't block on me for this issue - help appreciated!

[2022-03-30 19:09] ehashman commented on #109082
To fix a possible performance regression in 1.24 that is affecting CI signal.

Unclear at this point; we need to look through recent changes and determine what code change caused the code regression before we can update code.

/cc @kolyshkin
since this may be runc related?

Low but not no

Please reach out/discuss in #sig-node

[2022-03-30 19:30] alculquicondor commented on #109164
/remove-sig api-machinery
/sig apps
/area batch
/triage needs-information

[2022-03-30 19:32] alculquicondor commented on #109164
This Job has `activeDeadlineSeconds: 600`.

Do you know if it's possible that this pod finished running at roughly the same time that the `activeDeadlineSeconds` fulfilled?

[2022-03-30 19:33] alculquicondor commented on #109164
And do you have the output for `k describe job`?

[2022-03-30 19:46] anik120 commented on #109164
@alculquicondor
From the logs that I can (whatever's pasted above):

Looks like the job was created at `creationTimestamp: "2022-03-29T19:17:43Z"`
and the last pod log is from `2022-03-29T19:17:49Z`
here
[code]

So I'm guessing the pod finished executing successfully almost immediately (i.e much before the `activeDeadlineSeconds`

I unfortunately didn't grab that either from the last cluster. I'll

[2022-03-30 20:02] luisgc93 commented on #73738
It seems like this hasn't been updated yet right?

[2022-03-30 20:14] isibeni commented on #109131
Agree. I would propose that it should have the same format as the `status.completedIndexes` field. e.g. `1,3-5,7` for 1, 3, 4, 5 and 7.
If we then would also introduce a `status.failedIndexes` field a operator would then be able to just copy the string and insert it into the indexes field to retrigger a new job

[2022-03-30 20:19] alculquicondor commented on #109164
Maybe the Pod got stuck terminating?

I think graceful termination is well tested, so I'm looking for possible repros for which we don't have a test in combination with job tracking with finalizers (like activeDeadlineSeconds)

The full output of `k describe pod` might help us determine if the pod finished.

[2022-03-30 20:32] isibeni commented on #109131
@alculquicondor Could you elaborate a bit what the problem with that is? Performance and memory consumption problems for scenarios where we can't simplify the string (e.g. all pods with even indexes are completing first)?

[2022-03-30 20:37] #93456 closed

[2022-03-30 20:40] neolit123 commented on #109161
/sig windows

[2022-03-30 20:41] neolit123 commented on #109162
/sig windows network

[2022-03-30 20:52] alculquicondor commented on #109131
Not just performance, but actually the etcd database has limits. You have identified the correct challenging scenario.

[2022-03-30 21:12] varunbpatil commented on #74551
I'm having this issue with applications that expose a web-UI like temporal, pgadmin, etc. The only thing that works for me is to have a completely unrelated upload running in the background continuously. I know, doesn't make sense to me either, but leaving something like speedtest-cli running in a loop in a terminal makes kubectl port-forward work without any issues and much more snappier than bef

[2022-03-30 21:15] d-honeybadger commented on #104012
Was able to reproduce incorrect scheduling by restarting kube-controller-manager:
- spun up a minikube `minikube start --kubernetes-version=v1.22.3`
- created a cronjob with `@every 3m` schedule, which initally was scheduled as expected
- ~1min after the last job ran, restarted kube-controller-manager (by removing the static pod manifest from /etc/kubernetes/manifests and then putting it back)
- t

[2022-03-30 21:51] liuwh08 opened #109168 "Update gmp in debian-base:buster-v1.10.0 (latest) and debian-base-amd64:bullseye-v1.1.0 to patch CVE-2021-43618"
### What happened?

Both k8s.gcr.io/build-image/debian-base-amd64:bullseye-v1.1.0 and k8s.gcr.io/build-image/debian-base-amd64:buster-v1.10.0 has this vulerbility. Both are latest.

Debian fix is https://security-tracker.debian.org/tracker/CVE-2021-43618.

[code]

[code]

### What did you expect to happen?

N/A

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anythi

[2022-03-30 21:57] liuwh08 commented on #109168
/sig release

[2022-03-30 23:37] dims commented on #109086
@leiyiz please revisit all the failing jobs and not just that cluster from above. thanks!

https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=.*Driver.*gcepd

[2022-03-31 01:03] #108952 closed

[2022-03-31 02:04] brandonros commented on #105204
[code]

using k3s on arm64

[2022-03-31 02:50] Abirdcfly commented on #108982
origin issue: https://github.com/kubernetes/enhancements/issues/166

I think there is a small problem here:
1. if TolerationSeconds should not be updated after setting, kube-apiserver should reject the update request and return 403, at least the documentation should state that the update will not work for scheduling;
2. if TolerationSeconds can be updated, at least this old test should be removed

[2022-03-31 02:59] kerthcet commented on #106361
/remove-lifecycle rotten

[2022-03-31 03:00] liggitt commented on #99716
fixed in https://github.com/kubernetes/kubernetes/pull/108219

[2022-03-31 03:00] #99716 closed

[2022-03-31 03:14] liggitt opened #109174 "Dry run create requests clear metadata.name if metadata.generateName is set"
https://github.com/kubernetes/kubernetes/pull/107088 changed behavior of dry run requests to clear the name of an object if metadata.generateName is set

That is not correct if both metadata.name and metadata.generateName are set in the create request.

Rather than changing behavior from <1.23, then changing it again if/when we are able to distinguish when the user only set generateName, I think w

[2022-03-31 03:15] liggitt commented on #109174
cc @deads2k as original approver

[2022-03-31 04:01] yangjunmyfm192085 opened #109176 "pull-metrics-server-verify logcheck failed"
### What happened?

Update pr https://github.com/kubernetes-sigs/metrics-server/pull/972, verify check failed. Error message:

d/openapi/ -O zz_generated.openapi -o /home/prow/go/src/sigs.k8s.io/metrics-server -h /home/prow/go/src/sigs.k8s.io/metrics-server/scripts/boilerplate.go.txt -r /dev/null
go install -mod=readonly k8s.io/klog/hack/tools/logcheck
/home/prow/go/bin/logcheck ./... || (echo 'Fi

[2022-03-31 04:01] yangjunmyfm192085 commented on #109176
/sig instrumentation

[2022-03-31 04:03] yangjunmyfm192085 commented on #109176
/wg structured-logging

[2022-03-31 04:19] NobleYd commented on #109152
Ok, I think so.
and the tip 'Invalid value: "169.254.130.20": may not be in the link-local range (169.254.0.0/16, fe80::/10)', which use may not be in the link-local.
My understand by 'may not be in' is it should be in...
Use 'can not be in ...' may be better?

[2022-03-31 04:48] elulcao commented on #67676
I got this error when running `kubectl config use-context "clustercontextname2` whiting a devcontainer.
if the same command is executed outside the devcontainer no error is reported.
Notice that `config.lock` is created with `000` ownership so it's unaccessible to kubectl.
No chance to use the command within the devcontainer.

`vscode@docker-desktop` is the devcontainer
`/home/user/.kube/` is the

[2022-03-31 05:04] liggitt opened #109177 "OpenAPIEnums produce generated clients that are not forwards compatible"
Some of the currently marked `+enum` fields are documented to allow expansion in the future, which would break clients generated against earlier openapi schemas:

* ```
  // CompletionMode specifies how Pod completions of a Job are tracked.
  // +enum
  type CompletionMode string

	// More completion modes can be added in the future.
[code]
  // RequestConditionType is the type of a CertificateSig

[2022-03-31 05:10] liggitt commented on #109177
/cc @jiahuif

[2022-03-31 05:18] pacoxu commented on #109168
https://github.com/kubernetes/k8s.io/blob/2c2835bc0b0bd69fbef3aa2fd0cdf885f0453cff/k8s.gcr.io/images/k8s-staging-build-image/images.yaml#L1-L22

/cc @cpanato @justaugustus

[2022-03-31 05:49] pacoxu commented on #108774
http://perf-dash.k8s.io/#/?jobname=kubemark-500Nodes&metriccategoryname=E2E&metricname=LoadHighThroughputPodStartup&Metric=pod_startup
![image](https://user-images.githubusercontent.com/2010320/160984677-e615808f-6135-4417-83f6-4e834b6103aa.png)

This is caused by https://github.com/kubernetes/kubernetes/pull/101566 as #109146.

The commit will be reverted, and it make https://testgrid.k8s.io/sig-

[2022-03-31 05:50] maxwolffe opened #109180 "Service controller reconciles static node set causing UpdateLoadBalancerFailed events"
### What happened?

We're managing our own Kubernetes cluster on Azure. During node refreshes (in which we're aiming to update the node pool with new VMs with updated VHDs) - we add several new nodes to the cluster, select several old nodes to remove, drain those nodes, and then delete the underlying VM (part of a VMSS) and the old node one at a time. During deletion of these old nodes, we frequen

[2022-03-31 05:55] BenTheElder commented on #109176
this issue should be filed against https://github.com/kubernetes-sigs/metrics-server/issues

[2022-03-31 05:55] #109176 closed

[2022-03-31 05:57] wojtek-t commented on #109115
Cherrypick is merged - closing.

[2022-03-31 05:57] #109115 closed

[2022-03-31 05:57] maxwolffe commented on #109180
/sig cloud-provider

[2022-03-31 05:57] maxwolffe commented on #109180
/area provider/azure

[2022-03-31 05:58] liggitt opened #109182 "e2e flake: OCI runtime create failed: runc create failed: unable to start container process: unable to apply cgroup configuration: failed to write"
Looks like we just got a spike of a new run failure message in master: https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=unable%20to%20apply%20cgroup%20configuration&xjob=1-2

Seen in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109178/pull-kubernetes-conformance-kind-ga-only-parallel/1509397620936675328

    }
    pod "oidc-discovery-validator" failed with status: {Pha

[2022-03-31 06:08] liggitt commented on #109038
flake rate on https://github.com/kubernetes/kubernetes/pull/109151 is 89%

[2022-03-31 06:09] sanposhiho opened #109183 "run govet in golangci-lint instead of ./hack/verify-govet.sh in pull-kubernetes-verify"
### What would you like to be added?

run govet in golangci-lint instead of ./hack/verify-govet.sh.

### Why is this needed?

govet can be used in golangci-lint. We don't need to run govet with `./hack/verify-govet.sh`
Also, govet itself doesn't have a way to ignore issues from the lint, but golangci-lint has.
In some case, we may want to ignore issues from govet.
For example: https://github.com/k

[2022-03-31 06:10] sanposhiho commented on #109183
/assign
/remove-kind feature
/kind cleanup

[2022-03-31 06:21] Kartik494 commented on #109113
@gregth i am waiting for more inputs from sig storage side to proceed. Till that i am putting that on hold
/hold

[2022-03-31 06:23] kerthcet commented on #108483
I'll take the scheduler part for a deep investigate.

[2022-03-31 06:25] BenTheElder commented on #109038
y i k e s

nothing super obvious from go.k8s.io/triage :\

[2022-03-31 06:37] Kartik494 commented on #106589
Hi @neolit123 as #106591 has been merged, so can we close this issue?

[2022-03-31 06:53] pacoxu opened #109186 "ci-cadvisor-e2e failed"
### Which jobs are failing?

ci-cadvisor-e2e

### Which tests are failing?

[code]

### Since when has it been failing?
Since 03-22.

Changes list that may

- https://github.com/kubernetes/kubernetes/compare/dd604a0f9a2e015a869d01957297e33f2c0c7025...95e30f66c?
- - Candidate1: https://github.com/kubernetes/kubernetes/pull/108704 （but for windows）
- https://github.com/kubernetes/test-infra/compare/

[2022-03-31 07:12] aojea commented on #109152
hmm, I think that I didn't say it well, you can create a service with that IP if you want meanwhile you access it from the same host... but endpoints will not be generated wit those IPs, is the pod-network-cidr range here the one that is creating problems ...

It is "may" because you can choose to use it, other thing is that the endpoints are not going to be generated, is  a networking decision, p

[2022-03-31 07:38] xhejtman commented on #70013
did you open source already?

[2022-03-31 07:42] mborsz commented on #109106
I implemented a solution described in https://github.com/kubernetes/kubernetes/issues/109106#issuecomment-1083255960: https://github.com/kubernetes/kubernetes/pull/109187

The fix is quite small (in terms of lines) and more with relatively low complexity (as they are mostly mechanical).

Anyway, we discussed this with @wojtek-t and it sounds like for backport purposes partial revert of the listWor

[2022-03-31 07:43] andyzhangx commented on #70013
@xhejtman Azure Blob CSI driver uses similar fuse proxy solution, and it's open source, check details here: https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/deploy/blobfuse-proxy

[2022-03-31 07:45] wojtek-t commented on #109106
Yeah - as @mborsz wrote above, I looked into the solution I described above and this won't be cherrypickable.

I think the solution that @mborsz is proposing above is a reasonable path forward, but I actually came up with another idea (that Maciek mentioned above), which is basically to change the error handling there.
This mitigates the issue of delegated requests, without reverting the whole sup

[2022-03-31 07:47] xhejtman commented on #70013
Thank. I was also interested in truly restartable fuse driver, at least I understand what @jim3ma talk about - track everything fuse needs for restart.

[2022-03-31 07:51] mborsz commented on #109106
Also I was thinking about other potential solutions for future k8s versions and I think that we may actually want do small refactoring in master: instead of teaching listWorkEstimator about internals of all future request handlers chain, create a similar chain of EstimateWork calls that matches ServeHTTP chain:

* We have `DefaultBuildHandlerChain -> aggregator server.ServeHTTP() -> kube-apiserver

[2022-03-31 07:55] pacoxu commented on #109132
/cc @jsafrane

[2022-03-31 08:05] raesene commented on #107150
I think this may be effectively addressed by the [Bound Service Account Token Volume](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume) feature which is GA in Kubernetes 1.22, This moves from the secret based non-expiring tokens to a projected volume which has expiry.

[2022-03-31 08:30] yylt opened #109191 "pod created failed when devices resource request is 0"
### What happened?

1 create deployment by yaml below
[code]

2 create pod failed, the reason is

[code]

### What did you expect to happen?

expect the pod create success, the request resource is 0, and it must not exceed

so it failed by somewhere unreasonable judgment

### How can we reproduce it (as minimally and precisely as possible)?

1 create pod `a` which use hot pluggable device in resou

[2022-03-31 08:31] yylt commented on #109191
/sig scheduling

[2022-03-31 08:41] pacoxu commented on #109082
My suspicion is https://github.com/kubernetes/kubernetes/pull/109029 for the https://github.com/kubernetes/kubernetes/pull/109029#issuecomment-1081067629 and http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-master&metriccategoryname=E2E&metricname=LoadResources&PodName=e2e-big-minion-group%2Fkubelet&Resource=CPU small performance change.
![image](https://user-images.githubusercontent.com/2010320/16

[2022-03-31 09:07] mkumatag commented on #109161
If this intermediate image used only by k8s then it is a good idea to build the image via GH actions in the kubernetes org so that k8s maintainers have better control on this or if this image is going to be generic for anyone to use then MSFT can build one and host it somewhere.

[2022-03-31 09:21] aojea commented on #109038
Checking https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/109151/pull-kubernetes-integration/1509405665058099200/artifacts/

The test that fails can not connect to etcd

[code]

etcd starts to log timeout messages at
[code]

and stops at

[code]

this seems to show up on the test some minutes later:

[code]

and ends

[code]

interestingly there is practically no logs from 6:08 to 6:12

[

[2022-03-31 09:26] dalgibbard commented on #91444
Could I propose that the simplest solution here is to just set TLS1.3 to the min version by default?
By now, most/all clients should really support it?

Browsers: https://docs.w3cub.com/browser_support_tables/tls1-3.html
Java; since ~8u262
etc.

TLS1.3 was finalised around Summer 2018, so we're four years down the line now.

[2022-03-31 09:38] mengjiao-liu commented on #109183
/sig testing

[2022-03-31 09:43] mengjiao-liu commented on #109144
/sig testing

[2022-03-31 09:45] mengjiao-liu commented on #109036
/sig api-machinery

[2022-03-31 09:49] mengjiao-liu commented on #109034
/sig network

[2022-03-31 10:05] mengjiao-liu commented on #108980
/sig storage

[2022-03-31 10:05] mengjiao-liu commented on #108980
/sig cloud-provider

[2022-03-31 10:08] mengjiao-liu commented on #107726
/sig testing

[2022-03-31 10:16] dims commented on #109177
/milestone v.124
/priority critical-urgent

[2022-03-31 10:51] ynarwal commented on #60140
In my case it was VPN configuration that was causing the problem. I turned off VPN and no error, just works!

[2022-03-31 11:29] denkensk commented on #109191
Why you set `nvidia.com/gpu` as `0`, if you don't want to request the resource.

[2022-03-31 11:54] soltysh commented on #108573
This is not a bug, this is working as designed. I do understand that this is causing a lot of confusion, but in your case the problem is not with `kubectl` which is reading information from API discovery and picking one resource over the other, but rather it's coming from the fact that you're using an alias to a resource which any resource can define freely when registering CRD. In those cases whe

[2022-03-31 12:08] liggitt commented on #91444
I don't anticipate us being able to do that any time soon. Clients of wildly varying ages talk to Kubernetes servers.

[2022-03-31 12:30] neolit123 commented on #106589
Yes, we can close this but we would  need a tracking issue for the inbound
3.5.3 bump and we may have to backport it (at least the server bump).

Ideally we should have separate tracking for client / server.

/close
On Mar 31, 2022 09:37, "Kartik Sharma" ***@***.***> wrote:

[2022-03-31 12:36] Addyvan commented on #19475
We already have the following which is supported:
[code]

It feels incomplete to not also provide access to the limited number of other fields with something like:
[code]

[2022-03-31 12:54] yylt commented on #109191
I think so, but it is legal even if set resource `nvidia.com/gpu` as `0`.

device `nvidia.com/gpu` is  hot plugging. and more magical is the device  was removed when pod is running which is using, and create another pod which set resource is `0` at once.
thus lead to `nodeInfo.Allocatable.ScalarResources[rName] - nodeInfo.Requested.ScalarResources[rName]` is negative number

[2022-03-31 13:14] liggitt commented on #109146
revert is still pending, integration job failures have blocked its merge (12/14 runs failed - 86% failure rate)

[2022-03-31 13:27] aojea commented on #109038
another occurrence showing problems with etcd, some queries take more than 1 minute before they start to fail

[code]

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/109193/pull-kubernetes-integration/1509474288292335616/artifacts/

[2022-03-31 13:48] ravisantoshgudimetla commented on #91633
@liggitt - I agree with your point however I think that this is a problem of UX vs security(possibility of DOS). To me the problem here is age old and we have never thought of scheduling as a security boundary. Just to add to what @damemi suggested, some user can set nodeName or nodeAffinity, podAffinity, tolerations etc on the pod and can still DOS the node.

Thinking out loud here, if you're say

[2022-03-31 14:23] MadhavJivrajani commented on #109146
Revert merged, thank you!
I guess we can close this out once the scalability jobs run with the fix merged (just to be extra sure things are back on track :))

[2022-03-31 14:25] wojtek-t commented on #109146
Can we wait a bit until we get full confirmation about this in dashboards?

[2022-03-31 14:29] wojtek-t commented on #109038
FWIW - I think this shows that the problem exists even within "etcd to itself" communication. So we can exclude things like "etcd client" per-se as a sole problem of that - this seems to show that etcd itself is not able to operate normally (potentially due to overload, but I'm not sure if it's a root cause yet)

[2022-03-31 14:57] aojea commented on #109038
[tried with etcd 3.4.18 ](https://github.com/kubernetes/kubernetes/pull/109198) and similar results

[code]

tests fail at same time
[code]

[2022-03-31 15:08] alculquicondor commented on #109164
Also, what's the scale you were running at? How many pods did your cluster have? How many Jobs are you running in parallel? Is it possible that you hit the terminated pods threshold for the garbage collector?

[2022-03-31 15:10] ptabor commented on #109038
It does look look etcd overload, e.g. very slow disk underneath or/and long queue to be applied.

The timeout seems to originate from this line:

https://github.com/etcd-io/etcd/blob/12ceac6fdd8e019274c822aea3ef3488d180ad56/server/etcdserver/v3_server.go#L681

So the request is pushed into RAFT but before it's applied/propagated the timeout happens.
The timeout seems to be hardcoded as ~5s + 2 * E

[2022-03-31 15:31] ptabor commented on #109038
It does not have real impact on RAFT ... but it has impact on the timeout definition that interrupts the call.
It will not solve the root problem why etcd slow is most likely (unless it's a retryLoop of RevokeLease), but it should at least lower number of this log-lines.

I'm not familiar with k8s testing harness. Is there a way to see etcd-exposed metrics during the run ?

[2022-03-31 15:42] lauralorenz opened #109203 "[Failing test] gce-master-scale-performance"
### Which jobs are failing?

[sig-release-master-informing#gce-master-scale-performance](https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance)

### Which tests are failing?

[code]

### Since when has it been failing?

3/30, on 2e55595d3

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance

### Reason for failure (if pos

[2022-03-31 15:50] lauralorenz opened #109204 "[Failing test] gce-cos-master-serial"
### Which jobs are failing?

[sig-release-master-informing#gce-cos-master-serial](https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial)

### Which tests are failing?

Kubernetes e2e suite.[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (block volmode)] disruptive[Disruptive][LinuxOnly] Should test that pv used in a pod that is deleted while the kubel

[2022-03-31 15:54] alculquicondor commented on #109164
I had a look at the code, added some extra unit and integration tests, but nothing failed. Hopefully you can send us some events and logs so we can narrow down this problem.

[2022-03-31 15:59] neolit123 commented on #109203
could be temporary latency.
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1509214303809441792
ideally more runs should confirm a failure. the job runs 8 times a day.

diff for first k/k failing commit (03-23):
https://github.com/kubernetes/kubernetes/compare/6c96ac04f...2e55595d3

last change in perf-tests is from 3 days ago:
https://github.com/kuberne

[2022-03-31 16:34] ialidzhikov commented on #106842
/remove-lifecycle stale

[2022-03-31 16:42] wojtek-t commented on #109038
Building a bit on that.
@liggitt @BenTheElder - is it true that still the disk backing etcd in integration tests is the boot disk of the VM?
If so - maybe we should consider adding possibling to mount PD SSD and back etcd with that?
[If it's a bootdisk - then the more logs are created from this job (or other jobs running on the same underlying VM), then the slower it gets.]
Or are we using tmpfs a

[2022-03-31 16:43] fedebongio commented on #109099
/assign @apelisse
/triage accepted

[2022-03-31 16:44] fedebongio commented on #109155
/triage accepted
thanks Abu!

[2022-03-31 16:44] Bjohnson131 commented on #78854
/reopen

[2022-03-31 16:45] fedebongio commented on #109174
@joejulian are you planning to work on this one? thanks!

[2022-03-31 16:57] vincent5753 opened #109207 "resove failed"
### What happened?

I had my cluster setup and can ping to google.com in pod, but can resolve any services.
I try debugging using the [doc](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/)
Here's the outputs

vp@vp-VirtualBox:~$ kubectl exec -it ubuntu-pod -- bash
[code]

vp@vp-VirtualBox:~$ kubectl get pods --namespace=kube-system -l k8s-app=kube-dns
[code]

vp@vp-Vi

[2022-03-31 17:02] liuwh08 commented on #109168
Thanks, didnt know the debian version got dropped. I tried latest v2.1.2 but still got same vulnerbility.

[2022-03-31 17:05] paralin commented on #96564
This is definitely not fixed.

[2022-03-31 17:05] paralin commented on #96564
/reopen

[2022-03-31 17:13] BenTheElder commented on #109038
The boot disk is a local SSD IIRC.

GCE throttling if we're hitting it applies at the VM level so the only option to go faster is a tmpfs.

We may have a noisy neighbor test pod, but I still have concerns that these tests presumably can't pass without consuming maximum I/O available 🤨

[2022-03-31 17:14] lavalamp commented on #109021
I agree with @aojea -- did this cause an actual bug, or is it just theoretically not correct?

[2022-03-31 17:16] BenTheElder commented on #109038
You can see the cluster and node used in a prow.k8s.io job link and the config for the k8s-infra clusters are in the k8s.io repo.

[2022-03-31 17:27] yangl900 commented on #109180
@feiskyer what do you think? Does it make sense for service controller to refresh the node list before it sends to cloud provider to reconcile service? Or, should the azure provider EnsureHostsInPool ignores the stale, has been deleted nodes?

[2022-03-31 17:35] liuwh08 commented on #109168
oops, didn't see v2.1.3. Also tried that but the CVE still exist.

[2022-03-31 17:39] neolit123 commented on #109207
hi, this is unlikely a bug in core k8s; probably setup related. please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-03-31 17:39] #109207 closed

[2022-03-31 17:40] neolit123 commented on #109207
you can also report it to the kurl project.

[2022-03-31 17:46] VictoryAnn commented on #106714
/close

[2022-03-31 17:46] #106714 closed

[2022-03-31 17:46] wojtek-t commented on #109038
It's actually more complicated than that.
There are multiple levels of I/O throttling. Most often indeed the VM-level limit is hit, but splitting into a separate disk can in some situations buy you something too

But if we're using local SSD, assuming it's reasonably big it's probably should be fine.
Let me just check what size of the local ssd we're using.

[2022-03-31 17:50] wojtek-t commented on #109021
Not that I'm aware.

I suggested that in one of the reviews to purely unify across Do, Watch and Stream - each of them works slightly differently and there are things that could be unified across them - it would make reasoning about them slightly easier.

[2022-03-31 17:55] anik120 commented on #109164
@alculquicondor  Okay I have another cluster that's hit this issue:

[code]

[Here's the `k get job -o yaml` output](https://gist.github.com/anik120/333de6716e23fa262ab8a9e1ab7fdc88#file-job-yaml)

[Here's the `k describe pod` output](https://gist.github.com/anik120/333de6716e23fa262ab8a9e1ab7fdc88#file-describe-pod-yaml)

[And the ` k describe job` output](https://gist.github.com/anik120/333de671

[2022-03-31 17:58] anik120 commented on #109164
It's just a test cluster with 3 masters and 3 workers, with just a couple of jobs, besides the default openshift workload

Here's all the jobs that ran on the cluster since it's inception:
[code]

[2022-03-31 18:12] liggitt commented on #109177
Changes for 1.24 are merged, lowering priority and removing from milestone

[2022-03-31 18:13] liggitt commented on #109177
This still needs to be addressed in the KEP and coordinated with generated clients before the feature hits GA and our static snapshot unconditionally contains enum info

[2022-03-31 18:13] neolit123 commented on #109203
perhaps related to https://github.com/kubernetes/kubernetes/issues/109146

[2022-03-31 18:16] alculquicondor commented on #109164
Do you have the output for `k get pod -o yaml`?

[2022-03-31 18:16] AdamMAtWork commented on #52326
@liggitt @zatricky  The ability to operate on multiple namespaces doesn't need to work for all commands - it'd be sufficient for just "get", since "get" already supports either one namespace or all namespaces.

/reopen

[2022-03-31 18:18] alculquicondor commented on #109164
And any logs from the job controller?

[2022-03-31 18:19] anik120 commented on #109164
[code]

[2022-03-31 18:20] joejulian commented on #109174
I am, yes. I'll try to do something by the end of the week.

[2022-03-31 18:22] deads2k commented on #108373
Near as I can tell,  https://github.com/kubernetes/kubernetes/blob/release-1.23/pkg/controller/garbagecollector/garbagecollector.go#L595 is the only point that queues into that workqueue.

https://github.com/kubernetes/kubernetes/blob/release-1.23/pkg/controller/garbagecollector/garbagecollector.go#L468-L469 tells us that `!item.isObserved()` is false and https://github.com/kubernetes/kubernetes/b

[2022-03-31 18:26] anik120 commented on #109164
I do see this in the controller manager logs:

[code]

[2022-03-31 18:28] alculquicondor commented on #109164
Thanks. Imporant details:

[code]

- The controller reference is still there :heavy_check_mark:
- There is no deletion timestamp (not expected to be there, but might be relevant to debugging)
- The finalizer is still there :x:
- There is a failed Pod update coming from the job controller.

Do you see those errors repeatedly? That means that the job controller is stuck, failing to remove the finali

[2022-03-31 18:30] anik120 commented on #109164
Yup I see that same error repeatedly.

[2022-03-31 18:32] alculquicondor commented on #109164
Thanks, at least this all makes sense from a job controller sync perspective. Now I need to understand what's wrong with this Pod or API request. I'll continue the investigation.

[2022-03-31 18:38] liggitt commented on #109164
Should we turn the feature gate off in 1.24/1.23 in the meantime while there's a known regression?

[2022-03-31 18:42] alculquicondor commented on #109164
It depends... when is the next release scheduled for? Maybe there is enough time to debug

[2022-03-31 18:52] liggitt commented on #109164
Our default should be to roll back feature enablement when one demonstrates instability. Deadline for next 1.23 patch release is next week, but I think we should restore stability to 1.23 and 1.24 branches while investigation is ongoing.

[2022-03-31 19:25] dims commented on #109146
/woof
/meow

[2022-03-31 19:31] alculquicondor commented on #109164
If you do have a webhook, can you check the audit log for `...patch.webhook.admission.k8s.io...` audit annotations on the pod request?

Although I don't understand why the output of `k get pod -o yaml` wouldn't contain the `PriorityClassName` either.

[2022-03-31 19:35] ahg-g commented on #109164
perhaps the webhook is misconfigured to add the `priorityClassName` on pod update, and so it wouldn't show up in `k get pod -o yaml` because the update was rejected.

[2022-03-31 19:36] ahg-g commented on #109164
meaning `PriorityClassName: "sandbox-users-pods",` is what the update is includes, and the `PriorityClassName: "",` is what the api-server have in etcd

[2022-03-31 19:40] alculquicondor commented on #109164
/priority awaiting-more-evidence

[2022-03-31 19:45] liggitt commented on #109164
https://github.com/kubernetes/kubernetes/pull/103036/files fixed the diff order in 1.24 ... prior to that, the diff was new → old

[2022-03-31 19:45] ahg-g commented on #109164
where is the diff  `- 	PriorityClassName: "sandbox-users-pods",` coming from, the incoming update? if yes, then clearly they have a webhook that is adding that on update.

[2022-03-31 19:46] liggitt commented on #109164
so yes, in 1.23, that message means that something is trying to change PriorityClassName from "" to "sandbox-users-pods"

since nothing built-in changes PriorityClassName on update, it must be a webhook

[2022-03-31 19:51] alculquicondor commented on #109164
Perfect... all figured out:

There is a buggy webhook adding `.spec.priorityClassName` during pod update, which violates immutability. This causes the job controller to fail to remove the finalizer from the Pod.

/close

[2022-03-31 19:51] #109164 closed

[2022-03-31 19:56] alculquicondor commented on #109164
The difference might be that those other actions use PUT, instead of PATCH. So maybe the webhook is using the verb to distinguish updates, and forgot to check for PATCH.

[2022-03-31 20:12] liggitt commented on #109164
since it looks like the only thing that webhook is changing is the priorityClassName and priority fields (https://github.com/codeready-toolchain/member-operator/blob/60d491ac9f99e86ed90ec01205167e1927d04a39/pkg/webhook/mutatingwebhook/mutate.go#L35-L46), it should avoid intercepting pod update requests, since neither of those fields can be changed in update requests.

[2022-03-31 20:17] alexeykazakov commented on #109164
Thank you for the investigation and the details! And sorry for the noise.

[2022-03-31 20:24] thockin commented on #108587
Is there anything special about the way preStop is run?

[2022-03-31 20:26] thockin commented on #108579
What's the next step on this?  Should we accept the bug as real?

[2022-03-31 20:49] thockin commented on #107743
We have all tried and failed to repro this.  @damalhot I apologize for repetitiion, but I want to recap:

You assert:

1) `kubectl logs` fails with a Gateway Timeout
2) apiserver got the `kubectl logs` request
3) apiserver claims it sent a logs request to kubelet
4) kubelet shows no such request
5) manual `curl` of the kubelet from the apiserver works

Am I missing anything?

(5) suggests that the

[2022-03-31 21:20] danwinship commented on #108876
or possibly the `-m conntrack --ctstate NEW` should be `-m conntrack ! --ctstate ESTABLISHED`. Not sure which is better...

[2022-03-31 21:20] ca-scribner opened #109210 "`StatefulSetStatus` attribute `availableReplicas` set to required by mistake?"
### What happened?

Looking at the [swagger specifications](https://github.com/kubernetes/kubernetes/blob/17381762dd6caafe72cda9e9c39e42405391f1e9/api/openapi-spec/v3/apis__apps__v1_openapi.json#L1207) for `StatefulSetStatus`, it defines `availableReplicas` as a required attribute.  But looking at the [description](https://github.com/kubernetes/kubernetes/blob/17381762dd6caafe72cda9e9c39e42405391f

[2022-03-31 21:38] thockin commented on #74383
Discussed in sig-net, this is WAI.  For ETP=Local, don't use node-ports on nodes that don't have backends.

[2022-03-31 21:38] #74383 closed

[2022-03-31 21:43] jindijamie opened #109211 "admission chain is given authorizer that doesn't include superuser fallback"
### What happened?

I created a v1.21.5 cluster. After I deleted the default cluster-admin clusterrolebinding with group "system: master", I failed to approve a pending csr with "kubectl certificate approve csr" and get the following error
Error from server (Forbidden): certificatesigningrequests.certificates.k8s.io "csr-abcdefg" is forbidden: user not permitted to approve requests with signerName

[2022-03-31 21:45] jindijamie commented on #109211
/sig auth api-machinery

[2022-03-31 21:47] jindijamie commented on #109211
/cc liggitt

[2022-03-31 21:49] liggitt commented on #109211
I suspect the admission plugin initializers are getting constructed before the wrapping/prefixing of the authorizer with the superuser authorizer

cc @deads2k

[2022-03-31 21:54] neolit123 commented on #109210
alpha:
https://github.com/kubernetes/kubernetes/pull/100842
https://github.com/kubernetes/kubernetes/pull/100842#pullrequestreview-667129670
has `+optional` that is planned for removal in beta.

beta:
https://github.com/kubernetes/kubernetes/pull/104045/files
removes the `+optional`

this might be a question whether feature gate controlled fields must remain `+optional` until the feature gate is r

[2022-03-31 21:56] aojea commented on #108876
my apologies, and thanks to Lars, Tim, Dan and the sig-network people that clarified my mistake, I was confused with the nat and filter tables, and I don't know how many times I have checked this diagram :upside_down_face:

![image](https://user-images.githubusercontent.com/6450081/161154436-6b8883c8-1229-414f-9068-ed646f3e63d8.png)

So, if you set your default FORWARD policy to DROP, you should a

[2022-03-31 21:56] #108876 closed

[2022-03-31 22:06] jsturtevant commented on #109162
/triage accepted

There are more details on timing in the fix that @daschott opened https://github.com/kubernetes/kubernetes/pull/109124

When doing a sync of Services on a new node joining the cluster, the HNS is queried for state on every endpoint in a service which is expensive. When iterating over thousands of services, this can take hours (!) when there are lots of services.

The fix proposed

[2022-03-31 22:09] bobbypage commented on #109127
The jobs

[code]

are passing now

[2022-03-31 22:09] bobbypage commented on #109127
/close

[2022-03-31 22:09] #109127 closed

[2022-04-01 00:09] BenTheElder commented on #83107
cc @pacoxu seems like the related keep is ongoing? https://github.com/kubernetes/enhancements/issues/1029#issuecomment-1004592859

[2022-04-01 02:21] astraw99 commented on #108839
OK, got it.

[2022-04-01 02:32] liggitt commented on #91633
Fields on the pod to control where they are scheduled makes sense to me. Fields on the pod to control debug settings on the scheduler doing the scheduling does not make sense to me.

[2022-04-01 03:13] liggitt commented on #109106
mitigation merged to 1.24, ready to pick to 1.23
/milestone v1.23

[2022-04-01 03:14] liggitt commented on #109210
new fields added to existing types must always be marked as +optional, since clients are not required to specify them

[2022-04-01 03:16] liggitt commented on #109210
please open a PR adding back the +optional tag, regenerate openapi, and open picks back to 1.23 and 1.22

[2022-04-01 03:27] liggitt commented on #109038
we probably only need one issue between this and https://github.com/kubernetes/kubernetes/issues/107857

@aojea, you have a preference?

[2022-04-01 04:26] MikeSpreitzer commented on #107534
1. I agree, `ptrToType` holds a pointer --- but that's not the problem.  The question is, to what does the pointer point?  The name says that the pointer points to a type, but I suspect the truth is that the pointer points to an _instance_ of the _relevant type_.  In short, an "object" (in the jargon used elsewhere here) --- I mean, _of course_ it would be an object of the relevant type.  I think

[2022-04-01 04:34] mengschin opened #109214 "HPA does not scale down when it fail to fetch external data"
**What happened?**
I have a HPA which use datadog metric as metric input, and the metric is capturing the request count for an endpoint. The HPA scale out the pod(s) as expected when there is request count receive. However, I notice the scale down doesn't happen when there is no metric value received for the HPA.

Sample HPA and Warning raised:
Behavior: The current target average value is stay at

[2022-04-01 04:37] mengschin commented on #109214
/sig Autoscaling

[2022-04-01 05:25] Kartik494 commented on #103355
/remove-lifecycle rotten

[2022-04-01 05:30] pacoxu commented on #109214
similar to #79365 and #106247
/cc @mwielgus

[2022-04-01 05:31] pacoxu commented on #106247
/remove-lifecycle stale

[2022-04-01 05:35] pacoxu commented on #106247
/remove-lifecycle rotten

[2022-04-01 05:42] pacoxu commented on #109146
/close
per dashboard
🎉

![image](https://user-images.githubusercontent.com/2010320/161202168-dae92dac-7395-41dc-b1ab-7919ff8281db.png)

[2022-04-01 05:42] #109146 closed

[2022-04-01 05:50] pacoxu commented on #109082
After revert #109151 was merged yesterday, 14 test failures (0 today).

[2022-04-01 05:57] uablrek opened #109215 "server-side field validation rejects metadata fields as unknown fields"
### What happened?

When creating a CRD object this error is printed;
[code]
When trying to add the metadata fields in the CRD spec, this error is received;
[code]

### What did you expect to happen?

CDRs that worked in v1.23.x should work in v1.24.x. If there will be an NBC it should be preceeded with a warning printout before applied.

### How can we reproduce it (as minimally and precisely as

[2022-04-01 06:01] feiskyer commented on #109180
thanks @maxwolffe and @yangl900 raising the issue. I think it makes sense for `EnsureHostsInPool()` to ignore the deleted nodes instead of refreshing node list. Note that node deletion may have some delays after VM deletion, hence even if node list refreshed, the same issue may continue to happen.

[2022-04-01 06:01] feiskyer commented on #109180
@nilo19 let's get this fixed

/assign @nilo19

[2022-04-01 06:02] nilo19 commented on #109180
/triage accepted

[2022-04-01 06:33] denkensk commented on #109191
Thanks. I may understand the problem you faced here. There is indeed a problem. The pod which is set `nvidia.com/gpu` as `0` is rejected by `kubelet` just because of out of the `OutOfnvidia.com/gpu`.  I think it's better to fix it in that part of the `kubelet` rather than in `scheduler`.

[2022-04-01 06:34] denkensk commented on #109191
/sig node

[2022-04-01 06:55] Abirdcfly opened #109220 "TestValidateCronJob cant pass in macos"
### What happened?

[code]

### What did you expect to happen?

test withnot FAIL

### How can we reproduce it (as minimally and precisely as possible)?

In a macos.
do `make test` or `go test ./pkg/apis/batch/validation -run  TestValidateCronJob`

### Anything else we need to know?

https://github.com/golang/go/issues/21512  golang upstrem disscusion.

We use time.LoadLocation to validate time_zo

[2022-04-01 06:58] Abirdcfly commented on #109220
/sig test
(I guess)

[2022-04-01 06:59] Abirdcfly commented on #109220
/sig testing
(I guess)

[2022-04-01 07:15] aojea commented on #107857
new development happening here https://github.com/kubernetes/kubernetes/issues/109038

Closing as duplicate
/close

[2022-04-01 07:15] #107857 closed

[2022-04-01 07:23] pacoxu opened #109221 "Flaky [sig-node] kubelet host cleanup with volume mounts [HostCleanup][Flaky]"
### Failure cluster [40476fd6c5f93bc05764](https://go.k8s.io/triage#40476fd6c5f93bc05764)

##### Error text:
[code]
#### Recent failures:
[2022/4/1 10:47:37 ci-kubernetes-e2e-gci-gce-flaky](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-flaky/1509724110916161536)
[2022/4/1 10:45:36 ci-kubernetes-e2e-gci-gce-flaky-repro](https://prow.k8s.io/view/gs/kubernetes-jenkins/

[2022-04-01 07:32] pacoxu commented on #109221
There is no other failures in https://storage.googleapis.com/k8s-triage/index.html?text=PodSecurity
- [x] #109097 fixed https://storage.googleapis.com/k8s-triage/index.html?text=PodSecurity#ca37efcc6ddbe7f50ace

[2022-04-01 07:33] pacoxu commented on #109221
/sig auth
/priority important-soon
/milestone v1.24

[2022-04-01 08:12] pacoxu opened #109223 "[sig-network] Services should fallback to terminating endpoints when there are no ready endpoints with externallTrafficPolicy=Cluster [Feature:ProxyTerminatingEndpoints]"
### Failure cluster [eaae6b081be71c9eb16c](https://go.k8s.io/triage#eaae6b081be71c9eb16c)

##### Error text:
[code]
#### Recent failures:
[2022/4/1 10:08:35 ci-kubernetes-e2e-ubuntu-gce-network-policies](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-network-policies/1509714296592928768)
[2022/4/1 04:08:30 ci-kubernetes-e2e-ubuntu-gce-network-policies](https://pro

[2022-04-01 08:13] pohly commented on #91633
Let me bring up a different approach. Instead of extending the Pod spec, a new, separate `SchedulePod` object could be created that references a Pod. RBAC permissions for that new type then can be chosen as intended for the cluster, for example only allow an admin to create such objects.

When kube-scheduler starts a scheduling attempt for a Pod, it would need to check for a matching `SchedulePod`

[2022-04-01 08:13] pacoxu commented on #109223
The failure may be related to commits https://github.com/kubernetes/kubernetes/compare/dd1e43332a478f64a861a576975a679697cd52a5...ba1bbb5ac67084b25a17622a6573e648f88f440b.

My suspicion is https://github.com/kubernetes/kubernetes/pull/108691 as other commits are not related to service externallTrafficPolicy.

[2022-04-01 08:14] pacoxu commented on #109223
/cc @andrewsykim @thockin

[2022-04-01 08:38] nilo19 commented on #109180
We have a fix for this. https://github.com/kubernetes/kubernetes/pull/105188. But it's not in your version v1.16.12. Can you switch to a newer version that has the fix? @maxwolffe

[2022-04-01 08:58] pacoxu opened #109225 "TestValidationExpressions timeout 10m"
### Failure cluster [375262914f6b6fdcb255](https://go.k8s.io/triage#375262914f6b6fdcb255)
https://storage.googleapis.com/k8s-triage/index.html?text=TestValidationExpressions

##### Error text:
[code]
#### Recent failures:
[2022/4/1 07:51:37 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1509679315376148480)
[20

[2022-04-01 09:01] pacoxu commented on #109225
The flake started after #108073 was merged.
/cc @benluddy @jpbetz

[2022-04-01 09:25] cyclinder commented on #105742
A situation:

when there is a service or endpoint is constantly updated (which will update the `lastQueued`):
https://github.com/kubernetes/kubernetes/blob/f2e5c16545027fbe04cc33d4ef59cd01de6b9967/pkg/proxy/iptables/proxier.go#L509

so there is a high probability that the difference between the `current time` and the `lastQueued` is less than the `healthTimeout`, so this will be considered healthy

[2022-04-01 09:38] aojea commented on #109223
/assign @andrewsykim

you are right, we only skipped on the presubmit job

https://github.com/kubernetes/test-infra/commit/580ba2845995ca3c3293606dfa2a39f4fa11bdb2

it has to be skipped on the periodic job too, thanks for catching it

[2022-04-01 10:44] sanposhiho opened #109229 "go vet lostcancel errors in legacy-cloud-providers files"
### What happened?

We found go vet issues of `lostcancel` in #109184. (It seems that go vet checks are not running under `/staging` dir.)

[code]

### What did you expect to happen?

These issues from go vet are fixed.

### How can we reproduce it (as minimally and precisely as possible)?

Running go vet under `staging/src/k8s.io/legacy-cloud-providers/`

### Anything else we need to know?

_No r

[2022-04-01 10:45] sanposhiho commented on #109229
/sig cloud-provider

[2022-04-01 10:51] sanposhiho commented on #109183
#109184 found:

https://github.com/kubernetes/kubernetes/issues/109197

We need to fix them before enabling this in golangci-lint

[2022-04-01 11:03] PeterAndreus opened #109230 "Ingress rewrite-target annotation affects ingress across whole namespace"
### What happened?

In my project i need rewrite one path in ingress, so i looked at documentation:
https://kubernetes.github.io/ingress-nginx/examples/rewrite/

My ingress:
[code]
another Ingress specification:
[code]

Rewrite works fine, access to reg services too.
**HOWEVER**
When there is rewrite target annotation i can access even `foo.bar.sk/regSomething/url`. If i disable rewrite target ann

[2022-04-01 11:18] PeterAndreus commented on #109230
/sig network

[2022-04-01 11:39] damalhot commented on #107743
@uablrek : Let me try with cri-o. After creating this issue, I also tried with containerd, but no luck.

[2022-04-01 12:02] kerthcet commented on #108982
/remove-sig scheduling
/sig apps

[2022-04-01 12:11] pacoxu commented on #109225
/sig api-machinery testing

[2022-04-01 12:16] wojtek-t commented on #109038
From this run (it's where @aojea bumped the election timeout to 50s)
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109202/pull-kubernetes-integration-go-canary/1509826346379907072

We're now seeing a bunch of logs like this
[code]
etcd_debugging_mvcc_keys_total 21153
[code]
etcd_debugging_mvcc_slow_watcher_total 167
etcd_debugging_mvcc_watcher_total 3291
[code]
etcd_mvcc_db_total_siz

[2022-04-01 12:41] Abirdcfly commented on #108982
That is OK.😊

I'm just curious whether updating the TolerationSeconds field is allowed. Because it looks like the original test clearly states that updating this field is denied. Maybe we should cc @kubernetes/sig-apps-bugs

[2022-04-01 12:46] wojtek-t commented on #109038
also copying some comments from @ptabor whom I asked offline to take a quick glance for something suspicious
[code]

[2022-04-01 12:59] damalhot commented on #107743
The cluster is initialized by kubeadm. CN and SAN of kubelet's certificate does not have IPv6 address of the node. Would this cause kube-apiserver to not connect on node's IPv6 address? I believe, by default, kube-apiserver does not validate kubelet's certificate, but still asking.

[2022-04-01 13:04] alculquicondor commented on #109164
No need to apologize. This is a new feature, so we need to investigate any bug report. I'm glad to know that the job controller worked as intended and tried to remove the finalizer :)

[2022-04-01 13:24] kerthcet commented on #108982
get some support here: https://github.com/kubernetes/kubernetes/pull/40355/files#r100684366 , always glad to hear advices.

[2022-04-01 13:25] fusida opened #109233 "failed to verify JWS signature of received cluster info object, can't trust this API Server"
### What happened?

we usually find kubeadm join has the problem:
failed to verify JWS signature of received cluster info object, can't trust this API Server
or
could not find a JWS signature in the cluster-info ConfigMap for token ID
when we update cluster-info or bootstrap-token, the controller-manager didn't update the cluster-info.data.jws-token.

### What did you expect to happen?

kubeadm jo

[2022-04-01 13:28] andreaskaris opened #109234 "agnhost netexec http dialer resolves hostnames and sets host: field to IP address"
### What happened?

agnhost netexec http dialer resolves hostnames and sets host: field to IP address

netexec resolves here:
https://github.com/kubernetes/kubernetes/blob/master/test/images/agnhost/netexec/netexec.go#L380
with: https://pkg.go.dev/net#ResolveTCPAddr

But then when calling the actual URL, the host field is set to the IP address, and not to the URL that was used:
https://github.com/

[2022-04-01 13:29] aojea commented on #109038
there are some test that create etcd instances

https://github.com/kubernetes/kubernetes/blob/af61e8fbdf3d83e2b287721fe0d57dd4a2234450/test/integration/apiserver/watchcache_test.go#L37-L41

maybe related?

probably a lot of the leaked goroutines are controllers

https://github.com/kubernetes/kubernetes/issues/108483

[2022-04-01 13:32] wojtek-t commented on #109038
But I would expect those to last for couple minutes. And we see 3 etcd instances for almost the whole time.
So I think that either we're not cleaning those up (which I can't exclude) or it's something else.

OK - that's a fair point.

[2022-04-01 13:41] dims commented on #107290
Doesn't seem like there is any urgency or priority. clearing milestone.

/milestone clear

[2022-04-01 13:42] Elyytscha commented on #72811
well weird, but i'm fine with cpu requests: 100m, cpu limit: 1, autoscaling percentage: 850 (85% before limit will throttle) :D

[2022-04-01 13:52] alculquicondor opened #109236 "Nominated node in cache didn't match Pod status"
### What happened?

The scheduler cache entered a corrupted state where a Pod, according to the cache dump, was nominated to node A, while the status said it was nominated to node B.

This lead to unschedulable low priority pods due to the phantom pod in the nominator cache.

### What did you expect to happen?

The cache to match the Pod status

### How can we reproduce it (as minimally and precis

[2022-04-01 13:52] alculquicondor commented on #109236
/sig scheduling
cc @Huang-Wei

[2022-04-01 14:10] ptabor commented on #109038
I think the node is overloaded on CPU.  There are some concurrent "compile & link" processes running on the same node to the test and they are completely saturating CPU. Especially its visible

[code]

That is the exact time as the problems mentioned by Wojtek:
[code]

  Is it possible that the same node is being used for a concurrent test  that is very CPU heavy ?
That the test/pod does not speci

[2022-04-01 14:11] aojea commented on #109038
I think that you are right @ptabor , and that is the root cause.

let me try to see if we can avoid linking and testing in parallel,

[2022-04-01 14:12] zoranjurcevic commented on #52345
bump

[2022-04-01 14:15] ptabor commented on #109038
Note: The test is running on: n1-standard-8 VM. This is 8VCPUs and 4 physical cores Virtual machine.
So oven if we see `47.7% idle` in the TOP... it means >4VCPU out of 8VCPUs are not utilized... but as we talk about compile activicities, they are very likely to well utilize whole physicial core using a single thread.

[2022-04-01 14:15] alculquicondor commented on #109236
This Pod actually got scheduled:

[code]

The cache dump was obtained much later at `0331 14:21:53.634291`:

[code]

I think the problem is that we got an update for the Pod (probably the nominated node itself), scheduled it again and assigned a second nominated node for it. The second binding failed, but we didn't clear the cache.

[2022-04-01 14:38] MikeSpreitzer commented on #109038
@MikeSpreitzer

[2022-04-01 14:44] BattlefieldTsk commented on #97153
Same issue.

**My environment:**
**Kubernetes version**
[code]
**Cloud provider**
bare metal

**OS version**
[code]
[code]
**Install tools**
As Red Hat-based distributions native package management - https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#kubectl-install-1

**Docker version**
[code]

**The solution for me**
Change the node's network interface IP-address from dynamic to stati

[2022-04-01 14:47] aojea commented on #109038
[code]

[2022-04-01 14:56] alculquicondor commented on #109236
/triage accepted

[2022-04-01 15:17] 12cew commented on #109047
Should this issue be labeled as priority/critical-urgent?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other informati

[2022-04-01 15:21] aojea commented on #109038
ok, this is the thing, for integration we should not run all the test in the same `go test`

https://github.com/aojea/kubernetes/blob/45f626163d90c10e6532c5295c0d8c01318c29c8/hack/make-rules/test.sh#L260-L264

[2022-04-01 15:24] lauralorenz commented on #109204
This appears to have recovered for the past 4 runs and exhibited closer to flaky behavior in the first place; will reopen if it goes back into failing state.

/close

[2022-04-01 15:24] #109204 closed

[2022-04-01 15:31] liggitt commented on #109038
[code]

[2022-04-01 15:31] pohly commented on #109038
It could be split up in https://github.com/kubernetes/kubernetes/blob/885f14d162471dfc9a3f8d4c46430805cf6be828/hack/make-rules/test-integration.sh#L72-L77 by invoking make for each test.

Just beware that https://github.com/kubernetes/kubernetes/blob/885f14d162471dfc9a3f8d4c46430805cf6be828/hack/make-rules/test.sh#L174-L181 assumes that tests are not started in the same second, otherwise the `juni

[2022-04-01 15:41] apelisse commented on #109036
We've very carefully crafted the defaults for built-in types to describe their implicit behavior, also so that they do match with the behavior of CRDs. I don't think we should hide that away, since it makes the OpenAPI more consistent for built-ins and CRDs.

[2022-04-01 15:41] liggitt commented on #109038
opened https://github.com/kubernetes/kubernetes/pull/109239 as a quick experiment to lower parallelism to 4. if we end up doing something along those lines and default to something other than 1, I'm not sure where that should live... the test-infra config knows the most about the machine the job is getting scheduled to

[2022-04-01 15:54] liggitt commented on #109038
That seems like a likely explanation, especially if we were on the edge of overloading the machine (which this test has been for a while). From go1.18 release notes:

[2022-04-01 15:56] danwinship commented on #108526
So this is _mostly_ now resolved and just waiting for doc updates; we have settled on the destination model, with the exception that pod-to-same-node-NodePort / pod-to-ExternalIP / pod-to-LoadBalancer IP are special-cased and handled via Cluster traffic policy regardless of iTP and eTP.

So:
- Traffic from an internal client (pod, node) to an internal destination IP (ClusterIP) gets internal traff

[2022-04-01 15:59] #104095 closed

[2022-04-01 16:03] lavalamp commented on #107534
History: `ptrToType` smells like a variable name from before we had the runtime.Object type definition, the name was telling you what should be passed given the `interface{}` type. We have better enforcement now that things are passed as boxed pointers, so the name can probably be changed.

[2022-04-01 16:12] alculquicondor commented on #109236
/priority important-soon

[2022-04-01 16:29] Huang-Wei commented on #109236
Sounds like #106816 is related?

[2022-04-01 16:30] alculquicondor commented on #109236
It could be the same, or it could be another bug. Note that this is a second scheduling attempt.

[2022-04-01 16:35] liggitt commented on #109038
lowering GOMAXPROCS to 4 passed on the first try, with no discernible slow down of the job - https://github.com/kubernetes/kubernetes/pull/109239#issuecomment-1086117688

[2022-04-01 16:49] liggitt commented on #109038
I cleaned up https://github.com/kubernetes/kubernetes/pull/109239 and made it use the existing KUBE_INTEGRATION_TEST_MAX_CONCURRENCY envvar

[2022-04-01 17:06] andrewsykim commented on #109223
Will get around to adding the skip filter to periodics soon

[2022-04-01 17:12] lavalamp opened #109243 "apiserver: add a --yolo flag to run without validation"
As a cluster admin, sometimes I want to make advanced changes to objects in the cluster, but apiserver rejects them due to "validation errors". I should be able to pass a `--yolo` flag to apiserver so that I can make the changes that normal users are prevented from making.

[2022-04-01 17:12] lavalamp commented on #109243
/sig api-machinery

[2022-04-01 17:29] BenTheElder commented on #109038
AHHH I should have recalled this!

fun fact: default GOMAXPROCS is *not* cgroups aware ... https://github.com/golang/go/issues/33803

[2022-04-01 17:30] BenTheElder commented on #109038
https://github.com/uber-go/automaxprocs is sometimes used for this, but ... https://github.com/uber-go/automaxprocs/issues/21 => https://github.com/golang/go/issues/33803 (they'd prefer to focus on fixing this in go upstream, which seems like a really good idea 🙃 )

[2022-04-01 17:59] damalhot commented on #107743
@thockin Hi Tim, your inputs just ignited a series of thoughts in my mind. Especially this point:
(5) suggests that there is not a firewall in between apiserver and kubelet, but (4) suggests there is.

Turns out there is indeed something in between. And that is corporate HTTP proxy. My kube-apiserver had HTTP Proxy set as environment variable. I did not provide it, seems like, kubeadm "automatical

[2022-04-01 17:59] #107743 closed

[2022-04-01 18:05] BenTheElder commented on #109038
we're probably fighting with this in any number of other places ...

[2022-04-01 18:06] liggitt commented on #109038
yeah, some of our unit tests are pretty heavy as well

[2022-04-01 18:07] liggitt commented on #109243
context might be things like https://github.com/kubernetes/kubernetes/pull/103902#issuecomment-888452960

[2022-04-01 18:17] lavalamp commented on #109243
(the context is today's date, shhhhh)

On Fri, Apr 1, 2022 at 11:07 AM Jordan Liggitt ***@***.***>
wrote:

[2022-04-01 19:18] alculquicondor commented on #109236
My theory of events:

1. Pod X doesn't fit, it gets nominated to `node-y` and added back to scheduling queue.
2. We start a second scheduling attempt for Pod X.
3. We get a Pod update for the `.status.nominatedPodName`. This puts the pod back into the scheduling queue.
4. The second scheduling attempt finishes and schedules the pod successfully in `node-y`
5. We start a third scheduling attempt fo

[2022-04-01 20:41] tallclair commented on #101097
Duplicate of (already fixed) https://github.com/kubernetes/kubernetes/issues/108043

[2022-04-01 20:41] #101097 closed

[2022-04-01 20:50] #109223 closed

[2022-04-01 20:59] liggitt commented on #109038
https://github.com/kubernetes/kubernetes/pull/109239 is merged

will watch https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration for jobs kicked off after 5pm ET on 2022-04-01

[2022-04-01 21:01] liggitt commented on #109038
just for posterity, this was the state before:

![image](https://user-images.githubusercontent.com/980082/161340658-af532114-eb36-47d3-8399-b8ca5caf672f.png)

[2022-04-01 21:24] Huang-Wei commented on #109236
@alculquicondor thanks for raising up this and the fix. Could you update the "How can we reproduce it (as minimally and precisely as possible)?" section a bit?

Per our offline conversation, the issue will leave a "phantom" pod holding a number of resources in the internal nominator cache. And due to that unnecessary resource reservation, low-priority pods may not get scheduled while they should h

[2022-04-01 21:42] alculquicondor commented on #109236
Updated the description. I will update the PRs on Monday.

[2022-04-01 21:44] liggitt commented on #109038
To recap, we think the root cause was resource starvation, due to a combination of:
* go1.18 making builds 15% more expensive (as [documented](https://go.dev/doc/go1.18#compiler))
* 40k panics/logs from https://github.com/kubernetes/kubernetes/pull/108383#issuecomment-1079291157
* 20k log lines from https://github.com/kubernetes/kubernetes/pull/109078/files#r839205102
* goroutines not getting clea

[2022-04-01 22:25] wreed4 commented on #39113
/reopen

[2022-04-01 22:29] wreed4 commented on #39113
Is there any likelihood that this will get actioned and fixed?? In particular using https://argoproj.github.io/argo-workflows/, we run hundreds or thousands of workflows at once time which launch hundreds or thousands of pods onto ~300 nodes.  it's very very common that >50 of them will get scheduled onto a node at once time.  further more, these pods are short-lived, so they are replaced by other

[2022-04-01 22:41] dims commented on #39113
/reopen

cc @SergeyKanzhelev @ehashman

[2022-04-01 23:34] hexfusion commented on #109243
/approve

[2022-04-02 00:04] #109225 closed

[2022-04-02 01:01] #94029 closed

[2022-04-02 02:08] fusida commented on #109233
/sig auth

[2022-04-02 02:52] #109210 closed

[2022-04-02 03:04] liggitt commented on #109038
100% pass rate since merge (other than failures caused by unmergeable PRs, etc)

![image](https://user-images.githubusercontent.com/980082/161363415-f83dabe4-77d3-4d1f-b903-2fc2c00c136b.png)

/close

[2022-04-02 03:04] #109038 closed

[2022-04-02 03:35] jonyhy96 commented on #106977
This issue already been solved,and #109029 update the cadvisor dependency on master.

[2022-04-02 03:36] jonyhy96 commented on #106977
You can try the latest master code which contains the fix.

[2022-04-02 03:40] pnjihia commented on #51835
I was only able to get rid of the "stuck in terminating" pods by deleting the fnalizers:
`kubectl patch -n mynamespace pod mypod -p '{"metadata":{"finalizers":null}}' `
`The kubectl delete pod mypod --force --grace-period=0` didn't work for me

[2022-04-02 04:22] #109221 closed

[2022-04-02 05:30] sanposhiho commented on #109229
@liggitt so is this should be resolved in v1.24?

[2022-04-02 06:41] pacoxu commented on #83107
The feature is still alpha. I think with the LocalStorageCapacityIsolationFSQuotaMonitoring enabled, user will meet less problems like this. I may try to reproduce it with https://github.com/Ottovsky/keep-open-deleted to check if the feature is stable.

/assign

[2022-04-02 07:45] deepakkinni opened #109253 "Fix PV Controller to add the PV Deletion protection finalizer on statically provisioned volumes"
### What happened?

The newly introduced PV Deletion Protection finalizer is not being added on statically provisioned volumes.
The finalizer needs to be added only when the reclaimPolicy is Delete

### What did you expect to happen?

Statically provisioned PV is expected to have the finalizer.

### How can we reproduce it (as minimally and precisely as possible)?

Unit tests.

### Anything else w

[2022-04-02 07:46] deepakkinni commented on #109253
/sig storage

[2022-04-02 07:46] deepakkinni commented on #109253
/assign @deepakkinni
cc: @xing-yang @jsafrane

[2022-04-02 08:09] aojea commented on #109038
Bye bye 👋👋 cocodrile

[2022-04-02 08:53] chendave opened #109255 "invalid memory address or nil pointer dereference"
### What happened?

script [spec-to-yaml.sh](https://github.com/kubernetes/kubernetes/blob/master/test/conformance/spec-to-yaml.sh) result to a nil pointer dereference exception

e.g.
`go run ./test/conformance/walk.go --source=/go/src/k8s.io/kubernetes ./_output/specsummaries.json > ./_output/conformance.yaml`

show the below exception,
[code]

### What did you expect to happen?

no exception fou

[2022-04-02 08:53] chendave commented on #109255
/assign

[2022-04-02 09:07] #106079 closed

[2022-04-02 09:26] pacoxu commented on #107374
dup with #109037 which was closed by a fix #109039
- Use WaitForPodRunningInNamespace for flakey proxy e2e tests. It will increase the time out from [1 * time.Minute](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/proxy.go#L61) to [5 * time.Minute](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/pod/wait.go#L53), which is expected to deflake the tests

[2022-04-02 09:59] pacoxu commented on #107374
After some log investigation, some failures on the windows node(I have no experience with that.) and some failed for configmap mount.

Take https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-latest-upgrade-cluster-parallel/1509562493612068864 for example.

[code]

[2022-04-02 10:08] #104147 closed

[2022-04-02 11:18] dims commented on #109038
THAT WAS SOMETHING!!! Nice work you all!

[2022-04-02 11:38] babaksit commented on #30189
In the case of Prometheus, I have a ServiceMonitor for a pod that I need to be synced immediately, should I update the pod's annotation which is being monitored or Prometheus pod ? and It could be any annotation right? Because when I update the pod's annotation it still takes around 1 minute to get updated

[2022-04-02 12:19] liggitt commented on #109229
This has existed for 4 years, so it's not release blocking

[2022-04-02 13:19] qixiaobo commented on #85643
Same issues here.
I just want to add a validatingwebhookconfiguration.
Then this hook always return false util we set the weight to zero of this endpoint in lb  then it will return true.
In this way , it's a pre-prestophook.

[2022-04-02 13:33] qixiaobo commented on #85643
Now https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy
`ProxyTerminatingEndpoints` supports

[2022-04-02 13:50] #105589 closed

[2022-04-02 16:02] xing-yang commented on #109253
/triage accepted

[2022-04-02 16:59] neolit123 commented on #109255
/sig apps
/area conformance

[2022-04-02 17:13] #100230 closed

[2022-04-02 17:18] liggitt opened #109258 "[Flake] k8s.io/kubernetes/test/integration/deployment.TestDeploymentAvailableCondition"
### Which jobs are flaking?

pull-kubernetes-integration

### Which tests are flaking?

TestDeploymentAvailableCondition

https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestDeploymentAvailableCondition

### Since when has it been flaking?

Several weeks according to https://storage.googleapis.com/k8s-triage/index.html?date=2022-03-26&pr=1&test=TestDeploymentAvailableCondition

###

[2022-04-02 17:19] liggitt commented on #109038
clearer signal allows us to actually notice real specific test flakes and file issues like https://github.com/kubernetes/kubernetes/issues/109258 🎉

[2022-04-02 17:20] liggitt commented on #107414
this is the top unit test flake according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2022-04-02 17:21] neolit123 commented on #109233
/sig cluster-lifecycle
/triage needs-information

I saw a few users reporting this on slack recently.
We are not seeing this in the kubeadm e2e tests.
JWS are always populated and valid.

You seem to show source code, but what are the actual reproduction steps?
Any logs from controller manager?

[2022-04-02 20:34] marioem commented on #106977
Still present in 1.23.5

[code]

[2022-04-02 21:16] dims commented on #107414
cc @xing-yang

[2022-04-02 22:06] ElijahMendez opened #109260 "Horizontal Pod Autoscaling Targets shows <unknown>/50% with "kubectl get hpa""
### What happened?

Attempting to deploy autoscaling to my cluster, but the target shows "unknown", I have tried different metrics servers to no avail. I followed [this githhub issue](https"//github.com/kubernetes/minikube/issues4456/) even thought I'm using Kubeadm not minikube and it did not change the problem.

I'm running Ubuntu 20.0.4 LTS.

Using kubernetes version 1.23.5, for kubeadm ,kubcec

[2022-04-02 22:16] ElijahMendez commented on #109260
/sig autoscaling

[2022-04-03 02:12] dims commented on #109243
LOL

[2022-04-03 02:13] #105616 closed

[2022-04-03 02:23] dims commented on #109220
see https://github.com/golang/go/issues/21512

[2022-04-03 02:49] dims commented on #106977
/close

fixed in master which will show up in 1.24 when we get that out the door.

[2022-04-03 02:49] #106977 closed

[2022-04-03 08:37] nonylene commented on #102537
/remove-lifecycle stale

[2022-04-03 09:15] #103009 closed

[2022-04-03 10:02] FeLvi-zzz opened #109262 "kubelet --node-labels flag doesn't validate labels"
### What happened?

kubelet won't return error when invalid node labels are passed to `--node-labels` flag, and node can't take part in a cluster.

### What did you expect to happen?

kubelet should return errors when invalid node labels are passed.

### How can we reproduce it (as minimally and precisely as possible)?

You pass `--node-labels=foo/bar=baz/qux` flag to kubelet (value is invalid), n

[2022-04-03 10:07] FeLvi-zzz commented on #109262
/sig node

[2022-04-03 10:40] olemarkus opened #109264 "Several in-tree volumes tests started failing with nil pointer errors"
### What happened?

The following test failures started happening on 30th March:
* Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: aws] [Testpattern: Inline-volume (default fs)] volumes should allow exec of files on the volume
* Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: aws] [Testpattern: Inline-volume (default fs)] volumes should store data
* Kubernetes e2e suite.[si

[2022-04-03 10:40] olemarkus commented on #109264
/cc @gnufied

[2022-04-03 10:42] olemarkus commented on #109264
/sig storage

[2022-04-03 11:17] #101682 closed

[2022-04-03 12:16] andreaskaris commented on #109234
Yeah I was actually trying to run a /dial against one of our own OpenShift routes for a downstream test and for obvious reasons, that failed. I worked around this with something else and I do not need this right now, but I think it would be nice to be able to query our own routes (which are obviously virtual hosts). So even if I do not need it now, I think it makes sense to at least have a switch

[2022-04-03 13:54] aojea commented on #109234
/sig testing
/sig network

but why do you do
[code]

instead of
[code]
directly?

[2022-04-03 15:21] #104462 closed

[2022-04-03 16:06] ElijahMendez commented on #109260
Issue was

`- --kubectl-insecure-tls`

it should be

`        - --kubelet-insecure-tls`

Correcting this in the metric-server yaml and reapplying the metric-server fixed the problem.

[2022-04-03 16:06] #109260 closed

[2022-04-03 16:22] #105747 closed

[2022-04-03 16:24] c-salib commented on #86186
I respectfully disagree. In our use case, the secret should be read only once on startup by the application. After that, it is a liability to keep the secret during runtime, unencrypted  and accessible by the user of the app (file or env). It would be nice if Kubernetes provided the option to unmount the secrets after the pod becomes ready for the first time. A "postReady" Hook that unmounts volum

[2022-04-03 19:05] thockin commented on #86186
Your app never crashes?  I know that's not true, because sometimes machines go OOM.  So even if you write code like it's sending people to the moon, app crashes are not _entirely_ in your control.

So: WHEN your app crashes and restarts, how do you want to get the secret value?  You "unmounted" it the first time you ran.

[2022-04-03 21:31] dims commented on #109215
cc @liggitt

[2022-04-03 21:33] dims commented on #109144
notes from @BenTheElder are already taken care of

[2022-04-03 21:36] dims commented on #108942
/area code-organization

[2022-04-03 21:47] liggitt commented on #109215
/assign @kevindelgado
cc @apelisse
/kind regression
/milestone v1.24

[2022-04-04 00:12] Stanford-Peng commented on #58908
Still not fixed I guess

[2022-04-04 02:09] liggitt commented on #109215
It looks like this is an issue with CRDs which declare a metadata stanza:

[code]

CRDs are only allowed to declare (at most) `name` and `generateName` properties within `metadata`. Pruning is supposed to ignore content within `metadata` and lean instead on direct decoding into the ObjectMeta type. The pruning bit is actually unit tested to not return "unknown field" errors for unknown fields with

[2022-04-04 03:30] liggitt commented on #109230
/transfer ingress-nginx

[2022-04-04 03:39] liggitt opened #109275 "openapi for custom resources references second set of meta types (ObjectMeta_v2, etc)"
Noticed while reproducing https://github.com/kubernetes/kubernetes/issues/109215#issuecomment-1087037419 with client-side validation:

The `ObjectMeta_v2` bit was weird...

Steps to reproduce:

1. Verify published openapi only contains expected metadata definitions:

[code]

2. Create a CRD, e.g. simple-crd.yaml:
[code]

[code]

3. Look at published openapi:

[code]

4. See where the _v2 definitio

[2022-04-04 03:39] liggitt commented on #109275
/sig api-machinery
/priority important-longterm

[2022-04-04 03:39] liggitt commented on #109215
Also opened https://github.com/kubernetes/kubernetes/issues/109275 since the client-side validation error citing "ObjectMeta_v2" looked weird

[2022-04-04 03:41] liggitt commented on #109275
cc @jiahuif @Jefftree @apelisse - this is the sort of thing I was remembering which prompted the question about merging openapi internally (https://github.com/kubernetes/kubernetes/pull/108713#issuecomment-1080863400)

This needs to be resolved and test coverage improved here ahead of making v2-facing openapi changes

[2022-04-04 04:46] MadhavJivrajani commented on #109220
/remove-sig testing
/sig apps

[2022-04-04 04:46] r0bj commented on #85643
@qixiaobo thanks for info.
There is however some confusion between docs related to `ProxyTerminatingEndpoints ` and KEP-1669 (Proxy Terminating Endpoints).
Quote from the docs https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy:

So traffic is send to endpoints on **other nodes** if all local endpoints are in terminating state.

Quote from KEP-1669 (https://git

[2022-04-04 05:16] uablrek commented on #109215
Is there something "Spire" should correct? That is, shall I write an issue to them?

[2022-04-04 06:34] isibeni commented on #109131
And with introducing the new field the challenging scenario would be when every other index fails directly (e.g. `1,3,5,7,9,11,13,15`). We then would have the same value in `completedIndexes` and `failedIndexes`. Another one would be when every other index fails and every fourth index succeeds. `completedIndexes` could then contain the following value `1-3,5-7,9-11,13-15` while `failedIndexes` con

[2022-04-04 06:37] aramase commented on #104584
/remove-lifecycle stale

[2022-04-04 06:45] MOHAMMEDSADIQ-infrrd commented on #88574
Why is this issue closed? There is no concrete solution found yet. I am facing the same issue today

[2022-04-04 07:09] mborsz commented on #96752
Fixed in https://github.com/kubernetes/kubernetes/pull/104966

/close

[2022-04-04 07:10] #96752 closed

[2022-04-04 07:21] pohly commented on #107286
/assign
/remove-lifecycle stale

[2022-04-04 07:55] c-salib commented on #86186
When my app crashes, I personally don't care about what happens to a stateless pod. One of the best things of kubernets, which you might have designed yourself, is that the container orchestrator deploys another clean pod. Personally, I would prefer that old  pods that try to restart the software internally don't succeed in their restart securitywise, for those containers might be breached and tem

[2022-04-04 08:27] liggitt commented on #109215
No, it's an issue on our side.

[2022-04-04 08:41] leonardpahlke opened #109280 "[Flaky test] gce-cos-master-default, e2e test cannot create ns"
### Which jobs are flaking?

- sig-release-master-blocking gce-cos-master-default

### Which tests are flaking?

Kubernetes e2e suite.[sig-apps] Job should delete pods when suspended

### Since when has it been flaking?

not clear

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

### Reason for failure (if possible)

[test/e2e/apps/job.go:141](https://

[2022-04-04 08:49] leonardpahlke opened #109281 "[Flaky test] gce-cos-master-default, node problem detector"
### Which jobs are flaking?

- sig-release-master-blocking gce-cos-master-default

### Which tests are flaking?

- Kubernetes e2e suite.[sig-node] NodeProblemDetector should run without error

### Since when has it been flaking?

not clear

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

### Reason for failure (if possible)

[test/e2e/node/node_proble

[2022-04-04 08:56] Abirdcfly commented on #109220
I was very surprised to find that this error only occurs on darwin, and does not occur on windows, although windows is also case-sensitive by default.

When using `time.LoadLocation("AMERICA/new_york")`, windows finally use `runtime.GOROOT() + "/lib/time/zoneinfo.zip"` (see https://github.com/golang/go/blob/go1.18/src/time/zoneinfo_windows.go#L14 ), but darwin and linux have more choices (see http

[2022-04-04 09:02] aojea commented on #108483
### Current status:

For people that want to get access to the stack traces, just apply this patch, so the framework will dump the output of the goroutines after each execution:

[code]

- [x] Apiserver was shutting down the listener before the hooks could finish, hence the controllers couldn't shutdown gracefully since there was no http server https://github.com/kubernetes/kubernetes/pull/108033

[2022-04-04 09:26] VirrageS opened #109282 "PVCProtectionController can be slow for larger clusters"
## References
* https://github.com/kubernetes/kubernetes/issues/76703
* https://github.com/kubernetes/kubernetes/issues/75980
* https://github.com/kubernetes/kubernetes/pull/80492
* https://github.com/kubernetes/design-proposals-archive/blob/main/storage/postpone-pvc-deletion-if-used-in-a-pod.md

## Overview

As described [here](https://github.com/kubernetes/design-proposals-archive/blob/main/stor

[2022-04-04 09:31] VirrageS commented on #109282
/sig storage

[2022-04-04 10:02] StevenJDH commented on #99061
@andyzhangx do we know what version of AKS will contain this fix? 1.22.6 has the issue as well apart from 1.22.4 reported above by @mcaden

[2022-04-04 10:28] carantunes commented on #108609
Ok, I will give it a go! Thank you.
You can assign it to me, (if that's how it works :) ) I will ping on slack when I'll get on with it.
Cheers!

[2022-04-04 10:34] soltysh commented on #109220
/triage accepted

[2022-04-04 11:03] mdnfiras commented on #51475
I suggest we have a `--local` flag to run a truely client side check that would exclude any checks that require server connection.

[2022-04-04 11:09] andyzhangx commented on #99061
@StevenJDH are you referring to this issue? https://github.com/Azure/AKS/issues/2871

[2022-04-04 11:49] atiratree commented on #106697
The behavirour was made more clear in the docs with https://github.com/kubernetes/website/pull/31226. And the availability issue could not be reproduced.

/close

[2022-04-04 12:11] andreaskaris commented on #109234
It was meant as a test for the OpenShift EgressIP feature.

Sorry for the bad example above, I was of course not just calling localhost in the tests where I had thought I needed it.

I rather had something like this in mind (and actually would still like it to work for my tests):
* Caller -> `curl <url of service endpoint>/dial?host=myvirtualserver.example.com&port=80&request=/clientip&protocol=ht

[2022-04-04 12:34] ingvagabund opened #109285 "scheduler: enabled plugins not logged during initialization"
Nowadays, when the kube-scheduler is initialized, the provided component config (via `--config` flag) is logged. E.g.
[code]

Unfortunately, the printed config does not mention which plugins are enabled besides those which are explicitly mentioned in the configuration (through enabled and disabled fields). A developer can determine all the enabled plugins based on taking all plugins enabled by def

[2022-04-04 13:39] dims commented on #109215
Thanks a ton for filing this @uablrek ! we are landing https://github.com/kubernetes/kubernetes/pull/109271 now for upcoming 1.24 rc.0 please be sure to try that too to confirm that you are unblocked.

[2022-04-04 14:01] alculquicondor commented on #109131
If an index fails, but succeeds with a follow up pod, we shouldn't list it in `failedIndexes`.

For `completedIndexes`, `.spec.parallelism` limits how many non-continuous indexes can complete, because we create the indexes in order. Can the same rationale be applied for `failedIndexes`?

[2022-04-04 14:05] ScheererJ opened #109286 "Kube-proxy fails to cleanup properly in IPVS mode"
### What happened?

Before switching the `kube-proxy` modes from `IPVS` to `IPTables` it makes sense to cleanup unnecessary `iptables` rules. This can be done using the `--cleanup` command line option of `kube-proxy`. Unfortunately, this does not work anymore since `KUBE-NODE-PORT` was introduced into the `filter` table with https://github.com/kubernetes/kubernetes/commit/4cd1eacbc1f90e60061818d1b

[2022-04-04 14:12] wastrachan opened #109287 "CronJobs Stall After Update - Existing Jobs Not Removed"
### What happened?

A `CronJob` that is scheduled to run every minute is updated. After the update, the `CronJob` stops scheduling.

Investigation reveals the following:

1. The existing `Job` and it's associated `Pod` remain in a `completed` state, and are not removed by the scheduler
2. The `CronJob` reports `too many missed start times: 0`
3. The `CronJob` does not reschedule

### `kubectl get

[2022-04-04 14:14] ScheererJ commented on #109286
/sig network

[2022-04-04 14:19] gnufied commented on #109264
/assign

[2022-04-04 14:34] aojea commented on #109286
@hanlins it seems we forget to clean these new rules :smile:

https://github.com/kubernetes/kubernetes/pull/97824

[2022-04-04 14:38] #109220 closed

[2022-04-04 14:38] gnufied commented on #109264
@olemarkus not having debugging kops builds for awhile, are kubelet logs attached in prow? I don't see them...

[2022-04-04 14:45] wojtek-t commented on #108483
I think I made some progress with it.
I was playing with ttlcontroller test (as it's fairly simple one for the playground and I'm familiar with it, but symptoms in many tests are exactly the same)

In https://github.com/kubernetes/kubernetes/pull/109284 I actually managed to reduce amount of leaked goroutines from 1023 to 85. It's not mergable in this state, but it clearly shows that destroy funct

[2022-04-04 14:50] gottwald opened #109289 "Memleak in client-go transport.tlsCache"
### What happened?

We're using a long-running process that connects to thousands of kubernetes cluster via client-go (not all simultaneously).
We noticed that the more kubernetes clusters we connect to and the longer the process runs, the more memory our process consumes over time.
An analysis with pprof confirmed that it looks like a memory leak in transport.tlsCache.

### What did you expect to

[2022-04-04 14:50] dims commented on #109182
cc @SergeyKanzhelev @ehashman @endocrimes

[2022-04-04 14:54] aojea commented on #109286
/assign @ScheererJ
/triage accepted

[2022-04-04 14:56] dims commented on #109174
/assign @joejulian

[2022-04-04 14:57] gnufied commented on #109264
Spoke with @olemarkus offline. It looks like we don't have kubelet logs captured in these tests. I need complete kubelet logs to make sense of these errors because testgrid shows inline volume tests as failing and code in question should not be called or inline volumes (because they can not be expanded). If that code fails, it would have been failing before too.

I will wait for logs from @olemark

[2022-04-04 14:57] gottwald commented on #109289
/sig api-machinery

[2022-04-04 14:59] dims commented on #108910
@MadhavJivrajani do you wanna open a CL in golang repo? https://github.com/golang/go/issues/51852#issuecomment-1086126145

[2022-04-04 15:00] dims commented on #109264
thanks @gnufied

[2022-04-04 15:02] aojea commented on #109289
@liggitt what do you suggest , an LRU cache like the ones used by the webhooks ?

https://github.com/kubernetes/kubernetes/blob/e0ca5cfd73bd046ee5fbdef50e073842e6fbc52f/staging/src/k8s.io/apiserver/pkg/util/webhook/client.go#L66-L68

[2022-04-04 15:02] liggitt commented on #108910
don't open a new CL, the one against master is under review and will be picked once ready

[2022-04-04 15:10] dims commented on #108910
@liggitt thanks. the linked comment caused me to wonder!

[2022-04-04 15:29] ThomasSteinbach commented on #66450
This issue makes GitOps tools like Flux ( https://github.com/fluxcd ) and ArgoCD ( https://github.com/argoproj ) never finish their sync of resources. Or in other words - GitOps tools try to synchronize the disired state of the repository with the actual state of the cluster resources until `kubectl apply` will report `unchanged`. However for some resources - especially custom resource definitions

[2022-04-04 15:44] apelisse commented on #51475
We have a fix for this bug that doesn't require a new flag (we've removed the server dependency here). Unfortunately, it failed to go in 1.24 by a string, this will be fixed in 1.25, thanks.

[2022-04-04 15:52] gnufied commented on #109264
Looks like this is happening for inline volumes if CSI migration is enabled for them. We construct a "fake" `PersistentVolume` object on the fly for migration enabled plugins even though volume is inline, which is causing this condition to fail. It should be simple fix.

[2022-04-04 16:29] ritazh commented on #106110
/triage accepted

[2022-04-04 16:36] palnabarun commented on #108906
With #102217 merging, is this resolved? If not, where are we currently with respect to this blocker?

[2022-04-04 16:40] MadhavJivrajani commented on #108906
@palnabarun yes, that will help to a good extent and will close this out.

Some more context:
- the primary source of race condition was that we weren't fully closing out the response body before reading (`Seek()`) the request body
- this will _fully_ get resolved when the existing race condition in upstream Go (currently under investigation) gets fixed as well, see https://github.com/kubernetes/k

[2022-04-04 16:47] MadhavJivrajani commented on #108906
@palnabarun re-read your comment, https://github.com/kubernetes/kubernetes/pull/102217 is what partially introduced the problem.

#109050 will fix this issue.

[2022-04-04 16:58] liggitt commented on #108910
golang master CL merged, pick open to release-1.18 https://go-review.googlesource.com/c/go/+/398074

[2022-04-04 17:05] dims commented on #108910
for this one ... i want to be proven wrong :) (i said, it may not go into 1.18.1 on record!)

[2022-04-04 17:17] gnufied commented on #109264
opened https://github.com/kubernetes/kubernetes/pull/109290 to fix the problem. The code change is just one line but has tests.

[2022-04-04 17:24] thockin commented on #86186
But this is not true.  A crashed container will be restarted in-place.  This is why I continue to assert that "unmount" is the wrong mental model.  It feels more like a consumption model.  `it's not a "one time" thing but a "one time per restart" thing`.  Additionally, some apps DO handle secrets changing, so it's really `"one time per-restart or when the secret changes"`.

A restart gets a "clean

[2022-04-04 18:28] What871As opened #109291 "[plugins.cri]"
[plugins.cri]
  stream_server_address = "127.0.0.1"
  stream_server_port = "0"
  enable_tls_streaming = false

_Originally posted by @What871As in https://github.com/kubernetes/kubernetes/issues/64644#issuecomment-1087877691_

[2022-04-04 18:28] uablrek commented on #109215
Works with
[code]

[2022-04-04 18:31] #106060 closed

[2022-04-04 18:55] collimarco commented on #106802
/remove-lifecycle stale

[2022-04-04 19:08] alculquicondor commented on #106802
Did you ever bring this up to the SIG Apps meeting?

Also @imjasonh, this kind of sounds similar to what you were talking about at WG Batch

[2022-04-04 19:08] wojtek-t commented on #108483
https://github.com/kubernetes/kubernetes/pull/109292 is out for review and it's making most of the job here

There are still leftovers, but those are mostly oneof's here and there - we should address them independently.

[2022-04-04 19:55] #109236 closed

[2022-04-04 20:12] palnabarun commented on #108906
#109050 has merged! 🎉

[2022-04-04 20:14] #108906 closed

[2022-04-04 20:50] ehashman commented on #109182
/triage accepted
/priority critical-urgent

/cc @kolyshkin @rphillips

[2022-04-04 21:04] ehashman commented on #109281
/triage accepted

### Failure cluster [60e158d84bb0d0abb118](https://go.k8s.io/triage#60e158d84bb0d0abb118)

##### Error text:
[code]
#### Recent failures:
[4/1/2022, 3:22:39 AM ci-kubernetes-e2e-gce-stable1-latest-upgrade-cluster-new-parallel](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-latest-upgrade-cluster-new-parallel/1509838617164386304)
[3/31/2022, 5:09

[2022-04-04 21:07] ehashman commented on #108774
Editing title as this was also failing on containerd:

### Failure cluster [c181fab877561bdb3e86](https://go.k8s.io/triage#c181fab877561bdb3e86)

##### Error text:
[code]
#### Recent failures:
[3/31/2022, 6:36:23 AM ci-kubernetes-node-kubelet-serial-containerd](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-containerd/1509524995452178432)
[3/31/2022, 2:35:23

[2022-04-04 21:07] #108774 closed

[2022-04-04 21:08] ehashman commented on #109082
We had one more failure on 03/31: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-containerd-node-e2e/1509696931939487744

[2022-04-04 21:18] ruiwen-zhao opened #109295 "[sig-node] Node Performance Testing [Serial] [Slow] Run node performance testing with pre-defined workloads TensorFlow workload"
### Which jobs are failing?

[sig-node-containerd#node-kubelet-containerd-performance-test](https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-performance-test)

### Which tests are failing?

E2eNode Suite.[sig-node] Node Performance Testing [Serial] [Slow] Run node performance testing with pre-defined workloads TensorFlow workload

### Since when has it been failing?

From the te

[2022-04-04 21:19] mrunalp commented on #109182
Was the runc binary updated on these jobs?

[2022-04-04 21:35] #108663 closed

[2022-04-04 21:35] #109264 closed

[2022-04-04 21:36] ruiwen-zhao opened #109296 "[sig-node] CriticalPod [Serial] [Disruptive] [NodeFeature:CriticalPod] when we need to admit a critical pod [Flaky] should be able to create and delete a critical pod"
### Which jobs are failing?

sig-node-cri-o#ci-crio-cgroupv1-node-e2e-flaky

### Which tests are failing?

E2eNode Suite.[sig-node] CriticalPod [Serial] [Disruptive] [NodeFeature:CriticalPod] when we need to admit a critical pod [Flaky] should be able to create and delete a critical pod

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-flaky/1511063186235723776

### Si

[2022-04-04 21:47] Frankkkkk commented on #97328
/remove-lifecycle stale

[2022-04-04 21:57] kolyshkin commented on #109182
Support for RDMA controller was indeed added to runc 1.1 (in https://github.com/opencontainers/runc/pull/2883).

The error message says that write failed. That write happens right after mkdir, which (apparently) succeeded.

[2022-04-04 22:04] tallclair opened #109297 "Detect log-spam in tests"
When adding log statements in Kubernetes it can sometimes be difficult to tell just how frequent a code path is. For example: https://github.com/kubernetes/kubernetes/pull/109181, or any of about 500 issues & PRs: https://github.com/kubernetes/kubernetes/issues?q=log+spam

I'd like to add infrastructure to all our test frameworks (unit, integration & E2E) to detect log spam. Things that would be i

[2022-04-04 22:06] #109291 closed

[2022-04-04 22:07] dims commented on #109215
@uablrek thanks Lars!

[2022-04-04 22:46] kolyshkin commented on #109182
kubelet log also shows (this is the earliest mention of rdma):

[code]

Note that support for hybrid unified hierarchy was also appeared in runc 1.1.

[2022-04-05 00:00] kolyshkin commented on #109182
The removal failure happens because allegedly there is a process(es) left in rdma and unified cgroups which prevent the cgroup removal. I can't figure out why this can ever happen (kubelet does not know anything about rdma or unified, but it should not break things).

My preliminary theory is, inability to write a pid to rdma is caused by too many rdma cgroups.

In any case, we should figure out w

[2022-04-05 00:02] SergeyKanzhelev commented on #109281
Issue with the timeout is likely some infra problem. Many tests are failing during the  run and the node has no kubelet log, just the serial log in artifacts. It is likely different problem than the original issues posted about SSH issue.

On this tab https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default most flakes are caused by SSH issue.

SSH issue is quite strange, I see t

[2022-04-05 00:04] kolyshkin commented on #109082
From the quick glance, I don't see how this might be runc bump related. OTOH since it is in the middle of everything, it could be, I just don't see how.

[2022-04-05 01:08] mrunalp commented on #109182
Any possibility of processes stuck in 'D' state?

[2022-04-05 02:37] kolyshkin commented on #109182
So, I added some debug in https://github.com/kubernetes/kubernetes/pull/109298 to see what is going on.

Here is an excerpt from the kubelet log:

Apr 05 01:54:38 kind-worker kubelet[261]: time="2022-04-05T01:54:38Z" level=error msg="Failed to remove cgroup" error="rmdir /sys/fs/cgroup/unified/kubelet/kubepods/burstable/pod1883213d8fec799ee2b7bf9f2185a5c7/5b078c521eefb476090c430cac51c128fabcd9094e

[2022-04-05 02:38] kolyshkin commented on #109182
@mrunalp Looks like it's not it, cgroup.procs show no entries (nor any in the subdirectories) -- see the previous comment.