[2019-03-08 00:26] shigy123456 commented on #74940
iptables -t nat -L
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
cali-PREROUTING  all  --  anywhere             anywhere             /* cali:6gwbT8clXdHdC1b1 */
CNI-HOSTPORT-DNAT  all  --  anywhere             anywhere             ADDRTYPE match dst-type LOCAL
KUBE-SERVICES  all  --  anywhere             anywhere             /* kubernetes service portals */

[2019-03-08 00:30] Huang-Wei commented on #73572
/reopen

[2019-03-08 00:41] thockin commented on #74940
Hi,

We can't really do support on github.  You should re-ask this question on slack, discuss, or stack overflow to get the best help.  That said it sounds like your networking is not set up properly.  That is a broad statement, and there could be many many things wrong.  You have not said what network drivers you are using or what environment/cloud.  Those will be critical information to help deb

[2019-03-08 00:41] #74940 closed

[2019-03-08 01:08] joeke80215 commented on #68447
same as me,1.12.3

[2019-03-08 01:09] MrHohn commented on #74887
@mariantalla From sig-network dashboards we run the same test but that doesn't trigger the upgrade path:
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial.

This test is passing in another upgrade job though: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel&include-filter-by-regex=firewall

[2019-03-08 01:45] dhawal55 commented on #57961
[code]

[2019-03-08 01:48] msau42 commented on #57961
Thanks, it's missing the roles referenced [here](https://github.com/kubernetes/kubernetes/issues/57961#issuecomment-357584046).  Is this from a freshly created cluster at 1.11?  Can you also show the cmd line arguments when starting the kube-apiserver?

[2019-03-08 02:22] dunjut commented on #74950
@prameshj Could you try to remove the `spec.serviceName` field in StatefulSet and resolve again?

I think this may be by design but I don't know why `serviceName` is needed since we already have a name for Service...

[2019-03-08 02:26] seh commented on #71466
Having set high priorities on pods that lacked them previously, we haven't seen this problem lately—especially with Kubernetes version 1.13.3.

I'll close this now, and come back if we see the problem arise again.

[2019-03-08 02:26] #71466 closed

[2019-03-08 02:32] KnicKnic commented on #75148
I fwd'ed the dmp internally

[2019-03-08 02:39] msau42 commented on #75052
/close

[2019-03-08 02:39] #75052 closed

[2019-03-08 02:39] #70514 closed

[2019-03-08 02:43] msau42 commented on #74978
There have been no flakes on master since #75011 merged
/close

[2019-03-08 02:43] #74978 closed

[2019-03-08 02:43] msau42 commented on #74978
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce%24&test=subPath%20should%20verify%20container%20cannot%20write%20to%20subpath%20readonly%20volumes

[2019-03-08 02:55] annProg commented on #73154
Is there any progress on this issue? @lbernail

[2019-03-08 03:09] michmike opened #75154 "cherry pick fix for smb unmount issue on Windows"
Cherry pick PR https://github.com/kubernetes/kubernetes/pull/75087 back to 1.11, 1.12, 1.13

Instructions at https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md

/sig windows

[2019-03-08 03:10] chenk008 commented on #12430
I need this feature too.It's useful for administer.

[2019-03-08 03:20] pjh commented on #75148
Thanks! @PatrickLang also passed this along internally. I'll leave this issue assigned to me while awaiting updates from Microsoft.

[2019-03-08 03:24] #61994 closed

[2019-03-08 03:44] lavalamp commented on #12430
Serverside apply will effectively be adding this.

[2019-03-08 03:59] zhangxiaoyu-zidif commented on #55045
yes，agreed. it's necessary to add an explicit option to mark the sts.

[2019-03-08 04:33] smarterclayton commented on #62161
I just realized why

[code]

is so flaky.  The node sees the pod and starts trying to get its service account secret, but then the pod and the namespace and the secret all get deleted, so it goes into a loop and just waits.... and waits...

Will follow up with an issue, that one needs to stay in conformance.

[2019-03-08 04:38] smarterclayton commented on #47350
I'm going to necro this bug because I figured out why it's failing

1. create pod
2. kubelet starts trying to get pod
3. delete namespace
4. kubelet starts trying to get the service account secret, but it's been deleted
5. kubelet keeps trying and trying and trying

[code]

Logs above are from 1.12.

When a pod is detected as deleted, we're trying to unmount a secret that can't / doesn't exist.  T

[2019-03-08 04:41] smarterclayton commented on #47350
It is different than the other cause but we should assess which linked issues are actually this problem.

[2019-03-08 04:51] msau42 commented on #47350
cc @gnufied fixed a secret teardown issue in the past

[2019-03-08 05:02] thockin commented on #72270
One better - if this still exists, please reopen

[2019-03-08 05:02] #72270 closed

[2019-03-08 05:05] thockin commented on #71695
I don't think you want to do this because a single Ingress controller can host several Ingresses.

Either way, this should be filed against ingress-nginx

[2019-03-08 05:06] #71695 closed

[2019-03-08 05:06] #74955 closed

[2019-03-08 05:07] #74255 closed

[2019-03-08 05:10] smarterclayton commented on #73425
These are all approved by the SIG?

[2019-03-08 05:11] thockin commented on #73579
There's no general Ingress API for this but there might be an nginx-specific way. This needs to be filed against kubernetes/ingress-nginx

[2019-03-08 05:11] #73579 closed

[2019-03-08 05:11] #73496 closed

[2019-03-08 05:13] thockin commented on #72609
Are you using Istio?

This is not a systemic problem, it's a setup problem.  Github is for bugs - If this persists, please take it to slack, discuss, or stackoverflow and include details about your cloud env, network driver, and setup tools.

[2019-03-08 05:13] #72609 closed

[2019-03-08 05:13] thockin commented on #72331
This depends on which Ingress controller you are using.

[2019-03-08 05:13] #72331 closed

[2019-03-08 05:16] #71347 closed

[2019-03-08 05:18] thockin commented on #70977
nginx-service-0 is not supposed to resolve.  You must include the service name.

[2019-03-08 05:20] #72920 closed

[2019-03-08 05:21] thockin commented on #70411
#43784

[2019-03-08 05:21] #70411 closed

[2019-03-08 05:22] k-toyoda-pi commented on #72956
Fixed by #75158
[code]

[2019-03-08 05:26] #50248 closed

[2019-03-08 05:31] liggitt opened #75159 "TestAttacherWithCSIDriver flakes"
**Which jobs are failing**:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=TestAttacherWithCSIDriver

[code]

/sig storage
/kind flake

[2019-03-08 06:00] michmike commented on #73425
for the most part yes. is there anyone from sig-network we should be working closely with in the future?

[2019-03-08 06:09] andyzhangx commented on #75154
/assign

[2019-03-08 06:28] #74069 closed

[2019-03-08 06:30] wavezhang opened #75160 "Most of nodes not ready and serivce connections refused after one master down"
**What happened**:
One of masters （three k8s master）suddenly down，and 2/3 of nodes became not ready. Meanwhile some service return connection refused when trying to visit.

PS: The error is auto recovered after about 15min.

**What you expected to happen**:
Everything should be OK even one master down.

**How to reproduce it (as minimally and precisely as possible)**:
I don't know.

**Anything els

[2019-03-08 06:44] #75100 closed

[2019-03-08 06:48] denglouping opened #75162 "deployment scaling replicaset itself without any update or container down"
**What happened**:
I noticed that my pod's running time is very short (like hours), but I didn't found any errors, restarts or something like these, and I didn't update my deployment for days.

Found that deployment start scalingreplicaset itself

And a bunch of old replicasets

**What you expected to happen**:
I think the right status is that if nothing happened the pod will keep running status f

[2019-03-08 06:49] iwilltry42 commented on #43874
This project might be interesting for you: https://github.com/tumblr/k8s-sidecar-injector
I admit, that using PodPresets for this would be even better, but I think this also does a good job :+1:

[2019-03-08 08:16] WanLinghao commented on #75117
My best guess is you didn't configure your kube-controller-manager correctly.
This component would keep the cluster the same with our expectations, which includes serviceaccounts creation.
Before configuring kube-controller-manager, you could fix this by creating serviceaccount in hand like:
`kubectl create sa default `

[2019-03-08 08:29] #63005 closed

[2019-03-08 08:53] mm4tt commented on #75095
@krzyzacy, which log line are you talking about?

Regarding your other suggestions, the thing is that this job has been running with the same requirements (6cpu, 16G ram) for a really long time without any issues.
Before run 209 it used to take 1h30min-1h40min on average, see
![ckwymz9ppnw](https://user-images.githubusercontent.com/2604887/54017773-55f4ae80-4187-11e9-8c21-840050527204.png)
![yz39u

[2019-03-08 09:00] mm4tt commented on #75095
Last run (215), has exactly the same issue as the previous ones. We don't have any entries in the build-log.txt for over 2h
[code]

And we still have lines like this one (5 min difference between log time and log write time):
[code]

Given that we see the same pattern in all time-out failures I'd be surprised if it turned out to be a prow issue.

My guess is that there is something that takes real

[2019-03-08 09:47] cbharathnoor commented on #74056
@hello2mao thanks for the details, HPA behavior looks fine.

[2019-03-08 09:47] #74056 closed

[2019-03-08 09:55] qmfrederik commented on #74412
@liggitt #74841 hasn't been merged yet, so this now got fixed for 1.12 and master, but not 1.13. Is there any chance of getting #74841 merged?

[2019-03-08 10:12] superbrothers commented on #74178
I try to implement completion for kubectl plugins!

[2019-03-08 10:26] aspyct commented on #51901
Just stumbled upon this today, through openshift 3.11. Seems it is still a thing.

/reopen
/remove-lifecycle rotten

[2019-03-08 10:42] #71845 closed

[2019-03-08 10:44] krzysied opened #75171 "gci-gce-scalability flakes - get configmaps latency issue"
**Which jobs are failing**:
gci-gce-scalability - this is 100 nodes test for gce. This test is flaking.
**Which test(s) are failing**:
Density test

**Since when has it been failing**:
First fail can be seen in run 23438

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/23438

**Reason for failure**:
99th percentile of GET configmaps cal

[2019-03-08 10:50] krzysied commented on #75171
/sig scalability

[2019-03-08 10:57] Madhav1217 commented on #25795
hi frds i tried kubernetes deployment in jenkins via terraform file i got error please help me
04:42:20 * kubernetes_deployment.polaris-administration: Failed to create deployment: Post http://localhost/apis/apps/v1/namespaces/default/deployments: dial tcp [::1]:80: connect: connection refused

[2019-03-08 11:00] krzysied commented on #75171
![configmaps](https://user-images.githubusercontent.com/25119199/54024584-7a0cbb80-4198-11e9-90a6-a8719a5b25ea.png)

It looks like the problem is related to the increased number of get configmaps call. When the get configmaps calls happen at the same time as saturation pods creation, their latencies significantly increase.

IIUC the increased number of get configmaps calls is due to https://github

[2019-03-08 11:19] schrodit opened #75172 "Network internet test for pod fails on azure"
**Which jobs are failing**:
N/A
**Which test(s) are failing**:
[code]
**Since when has it been failing**:
Ever
**Reason for failure**:
Vm on Azure with no public IP assigned aren't able to perform a `ping` command to the internet.

**Anything else we need to know**:
[code]
The test (see [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/networking.go#L48)) tries to test t

[2019-03-08 11:20] schrodit commented on #75172
/sig network /sig testing /sig azure

[2019-03-08 12:10] defaulteg opened #75173 "DNS resolution fails occasionally after upgrade to CoreDNS"
**What happened**:
After Kubernetes cluster upgrade from 1.10.6 to 1.11.8 we've started to use CoreDNS instead of kube-dns.

Starting from this point DNS resolution suffer from intermittent failures for external and internal lookups.

Because of that our pods from time to time are getting into CrashLoopBackOff/Error state as some commands are failing (e.g. contacting rabbitmq service, composer ins

[2019-03-08 12:12] defaulteg commented on #75173
/sig dns

[2019-03-08 12:13] defaulteg commented on #75173
/sig network

[2019-03-08 12:30] mm4tt commented on #75095
I think I've found a plausible explanation.

There are few issues here that need to be clarified.

1. Tests run in parallel, in case of gce-scale-correctness we use 40 nodes (executors):
[code]
2. In Ginkgo, logging is buffered (and may be delayed). There is a concept of GinkoWriter that aggregates logs and writes them in one piece after a test/suite is done.
    It makes sense, given that tests a

[2019-03-08 12:30] krishn10 opened #75175 "VSphere cloud provider settings with secret not working."
**What happened**:

VSphere cloud provider settings with secret not working. Kubernetes node goes into "Not-ready" state when the "/etc/cfc/conf/vsphere_cloud_conf" file is modified to use a secret (as stated in the vsphere support document here: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html   Under point number 2.). The moment a secret file is created with a

[2019-03-08 12:59] krzysied commented on #75171
#74755 should be only a temporary change. I expect that get configmap latency issue should resolve on its own.

/assign
I will try to debug it and find the bottleneck anyway.

[2019-03-08 13:01] harshaperera532 opened #75180 "Failure to mount/remount Azure files"
**What happened**:
I am using Windows containers (Server Core ltsc 2019). These all have volumes mounted to three different Azure file shares under a single storage account. Multiple instances of these containers run on each node. On deploying the containers I get the following errors. Sometimes this does manage to resolve itself.

MountVolume.SetUp failed for volume "log-share" : Remove-SmbGlobal

[2019-03-08 13:05] harshaperera532 commented on #75180
/sig Azure

[2019-03-08 13:06] harshaperera532 commented on #75180
/sig windows

[2019-03-08 13:18] krzysied commented on #75171
/cc @mm4tt
/cc @wojtek-t

[2019-03-08 13:39] pacoxu commented on #75172
you may refer to https://github.com/Azure/azure-container-networking/issues/128#issuecomment-448367076

[2019-03-08 14:10] jsafrane commented on #71750
I like it.

[2019-03-08 14:14] gyliu513 commented on #74947
/cc @@smarterclayton @gmarek

Can you please show some of your comments here?

[2019-03-08 14:16] mariantalla commented on #75125
cc @kubernetes/sig-api-machinery-test-failures

It looks like this started failing right after this merge: https://github.com/kubernetes/kubernetes/pull/71192 (commit [0b48018a3](https://github.com/kubernetes/kubernetes/commit/0b48018a3))

[2019-03-08 14:20] gnufied opened #75183 "Flaky test: subresource_test integration test is failing with panic error"
It looks like subresources_test.go is flaking with:

[code]

/sig api-machinery

Link to failing test - https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/75131/pull-kubernetes-integration/48253/

[2019-03-08 14:24] #74147 closed

[2019-03-08 14:26] liggitt commented on #75125
fix in https://github.com/kubernetes/kubernetes/pull/75184

[2019-03-08 14:38] chrisohaver commented on #75173
what version of coredns are you using?

[2019-03-08 14:44] pacoxu commented on #75173
Only suspect that it is  related with "search". Have you try to “nslookup srv-12.usg.loc”  directly.
 "search usg.loc"

ignore empty_service returns NXDOMAIN for services without any ready endpoint addresses (e.g., ready pods). This allows the querying pod to continue searching for the service in the search path. The search path could, for example, include another Kubernetes cluster.

[2019-03-08 14:46] liggitt commented on #74412
yes, it is in process

[2019-03-08 15:06] marcstreeter commented on #74961
Since heapster was removed with `1.13`([source](https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md)), will `kubectl top` start referring to the [metrics server](https://github.com/kubernetes-incubator/metrics-server)?

[2019-03-08 15:17] marcstreeter commented on #74961
ok, never mind (I'm still combing through my email, I got the answer to this in [another thread](https://github.com/cloudability/metrics-agent/issues/19)).

[2019-03-08 15:17] #74961 closed

[2019-03-08 15:28] cheyang commented on #52757
Yes,  your understand is correct.

[2019-03-08 15:34] Sennahoi commented on #73188
I just had the same problem. I installed two nginx-ingress controllers with that policy and found out that the load balancer forwards traffic to the same ports, i.e.

IP1:80 -> 80
IP1:442 -> 443
AND
IP2:80 -> 80
IP2: 443 -> 443

In my opinion, this doesn't make sense. Two services can't use the same node port. So, my guess is:

For each external port, only one service can use this policy.

[2019-03-08 15:38] danwinship commented on #73765
(as above, doesn't seem to be a problem in kubernetes itself)
/close

[2019-03-08 15:38] #73765 closed

[2019-03-08 15:38] mariantalla opened #75186 "[Failing test] gce-cos-<branch>-ingress are timing out"
**Which jobs are failing**:
* [`ci-kubernetes-e2e-gci-gce-ingress`](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/20602)
* [`ci-kubernetes-e2e-gce-cos-k8sbeta-ingress`](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/6339)

**Which test(s) are failing**:
The jobs are timing out, but just before that, the follow

[2019-03-08 15:38] mariantalla commented on #75186
/milestone v1.14

[2019-03-08 15:47] nukepuppy commented on #55046
@davidopp also `kubectl top` relies on heapster.. which is.. not the future.

[2019-03-08 15:59] jsafrane commented on #64952
I can't reproduce the issue, @smarterclayton, do you remember what you did?

From the logs it seems that Watch channel consistently returns `watch.Error` so new `waitForVolumeAttachmentInternal` is called recursively (beware, 1.10 code, but it's very similar in master):

https://github.com/kubernetes/kubernetes/blob/a6089936e170af53479bea7c0d37266fa187c891/pkg/volume/csi/csi_attacher.go#L195-L197

[2019-03-08 16:18] dhawal55 commented on #57961
@msau42 Thanks for your quick response and helping me with this issue.

Yes, this is from a freshly created v1.11.8 cluster.

The code you referenced is not in `master` branch or any of the previously tagged versions. I see it for `system:persistent-volume-provisioner` role but not for `system: kube-scheduler` role. Also, I get this issue sometimes only. I have fully working clusters with the same

[2019-03-08 16:19] smarterclayton commented on #73425
I'd like to see a tech lead from sig-network document that each of these belongs in conformance because they are part of a "required for all distributions API" and are not optional in any case.

[2019-03-08 16:21] neolit123 opened #75188 "error converting LeaderElectionConfiguration from external to internal type"
**What happened**:

@pohly reported on slack that he is seeing this in the scheduler logs:
[code]

`LeaderElect` under `LeaderElectionConfiguration` seems to have a version with and without pointer in the external / internal types.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/config/types.go#L45

https://github.com/kubernetes/kubernetes/blob/master/stagin

[2019-03-08 16:22] stafot opened #75189 "kube-proxy related dns errors"
**What happened**:
We run on` AWS EKS`. We had a node that gone in "Node Not Ready" state. At the same time we got some DNS lookup errors from a service. At the failed node neither a `replica/pod` of this service was running nor a `coredns` pod. So our leading theory is that the dns lookups are related to `kube-proxy` daemonset.
**What you expected to happen**:
If probes in place might the errors

[2019-03-08 16:23] stafot commented on #75189
/sig aws

[2019-03-08 16:24] dims commented on #47350
/area conformance

[2019-03-08 16:25] andrewsykim commented on #73794
/area testing

[2019-03-08 16:27] gnufied commented on #75183
cc @liggitt , is this a new flake? worth marking for 1.14 milestone?

[2019-03-08 16:41] liggitt commented on #75183
not new, dupe of https://github.com/kubernetes/kubernetes/issues/72493

/close

[2019-03-08 16:41] #75183 closed

[2019-03-08 16:43] liggitt commented on #75183
(the panic is because the test doesn't fatal on line 537, but continues on, and `createdNoxuInstance` is nil)

[2019-03-08 16:43] ejweber opened #75191 "FC Plugin Support for Mount Options"
**What would you like to be added**:

Currently many in-tree storage plugins, including the iSCSI plugin, support mount options. The FC plugin does not. I have poked around the code enough to know where the plugin reports that mount options are not supported, but it isn't clear to me WHY they aren't supported.

**Why is this needed**:

Mount options can drastically change the performance and data

[2019-03-08 16:44] liggitt commented on #72493
adding to the milestone for investigation

[2019-03-08 16:45] ejweber commented on #75191
@kubernetes/sig-storage-feature-requests

[2019-03-08 16:55] andrewsykim commented on #73794
/area test

[2019-03-08 16:56] fraoustin commented on #74850
Hi

I try again and i have a same result

kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.0.129

 systemctl status kubelet

first error in journalctl -xeu kubelet

docker ps -a | grep kube | grep -v pause

do you have a idea?

[2019-03-08 17:08] rmohr opened #75193 "Intercepting the "pods/eviction" subresource via validating webhooks should work"
**What would you like to be added**:

It would be great if I could intercept the "pods/eviction" call for actions with side effects. It is right now possible to register a webhook, but it has no effect.

**Why is this needed**:

Right now it is not possible for controllers to see if pods which they manage are evicted or not. Intercepting "pods/eviction" and performing acthions (e.g. a patch on a r

[2019-03-08 17:09] rmohr commented on #75193
@liggitt already created a PR which covers that: https://github.com/kubernetes/kubernetes/pull/72951.

[2019-03-08 17:09] rmohr commented on #75193
/sig api-machinery

[2019-03-08 17:10] kacole2 opened #75194 "[Failing Test] [sig-vmware] [sig-api-machinery] Aggregator Should be able to support the 1.10 Sample API Server using the current Aggregator [Conformance]"
**Which jobs are failing**:
Conformance - [sig-release-master-informing#Conformance-vSphere-cloud-provider](https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20vSphere-cloud-provider) latest #1551734694

**Which test(s) are failing**:
`[sig-api-machinery] Aggregator Should be able to support the 1.10 Sample API Server using the current Aggregator [Conformance]`

**Since when has

[2019-03-08 17:13] kacole2 commented on #75194
/milestone v1.14

[2019-03-08 17:13] michmike commented on #73425
@adelina-t  and @bclau  can you please work with sig-network on the ask above by @smarterclayton .
cc: @craiglpeters

[2019-03-08 17:17] #75068 closed

[2019-03-08 17:18] kacole2 opened #75195 "[Flaky Test] [k8s.io] [sig-node] NodeProblemDetector should run without error"
**Which jobs are failing**:
[sig-release-master-informing#gce-master-scale-correctness](https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&width=20)

**Which test(s) are failing**:
`[k8s.io] [sig-node] NodeProblemDetector should run without error`

**Since when has it been failing**:
2019-03-07 @ 22:52

**Testgrid link**:
[sig-release-master-informing#gce-master-scal

[2019-03-08 17:20] bclau commented on #73425
Please consult this doc [1] before promoting tests to Conformance. If it's already passing, I'm fine with promoting them to Conformance. If not, ask us to look into them or see what the failure is about. At the very least, if you really want to promote failing tests to Conformance, please add the [LinuxOnly] tag in the test name, so they're automatically skipped by all the Windows jobs in testgrid

[2019-03-08 17:22] kacole2 commented on #74890
This is also flaking on [sig-release-master-upgrade#gce-new-master-upgrade-master-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel) @mariantalla

[2019-03-08 17:28] kacole2 opened #75196 "[Flaking Test] [sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-master-new-downgrade-cluster` [sig-release-master-upgrade#gce-master-new-downgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster&width=20)

**Which test(s) are failing**:
`[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracef

[2019-03-08 17:31] benmoss opened #75197 "Windows vSphere e2e test nodes crashing from VFP syscall"
We have been seeing periodic node crashes on the [vSphere Windows test job](https://k8s-testgrid.appspot.com/sig-windows#cfcr-vsphere-windows-master) all originating in `tcpip.sys`. We have shared a memory dump with Microsoft folks but are after seeing #75148 figured we could track it as a bug here as well.

- [WinDbg logs](https://gist.github.com/benmoss/2704888a996e955caf5842b12302a649)
- [Crash

[2019-03-08 17:43] weinong opened #75198 "[Azure] controller-manager is stuck in deleting LB because it's unable to delete a failed service referencing a non-existent IP"
**What happened**:
controller-manager is stuck in deleting an incorrectly configured LB type service. it cannot be recovered until restarted.

**What you expected to happen**:
controller-manager should recover. At least it should allow us to create the service without restarting it.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
put a random IP in above yaml and make sur

[2019-03-08 17:43] weinong commented on #75198
/sig azure

[2019-03-08 17:50] gnufied commented on #68809
/remove-lifecycle rotten

[2019-03-08 18:13] tpepper commented on #75195
/sig scalability

[2019-03-08 18:22] tpepper commented on #75195
/assign @Random-Liu

[2019-03-08 18:26] tpepper commented on #75195
/priority critical-urgent

[2019-03-08 18:29] BenTheElder commented on #75188
cc

[2019-03-08 18:35] krzyzacy commented on #75095
cc @wangzhen127 for the npd test above ^^

[2019-03-08 18:45] nikopen commented on #75186
@kubernetes/sig-network-bugs

[2019-03-08 18:50] liggitt opened #75205 "flake: NodeLease when the NodeLease feature is enabled the kubelet should report node status infrequently"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=node_lease.go

[code]

/assign
/milestone v1.14

[2019-03-08 19:05] weinong commented on #75198
I also want to add that the above repro is stuck in 403. It's possible for it to be stuck in 404 as well when the SP has the right permission.

[2019-03-08 19:31] soggiest commented on #73111
@kubernetes/sig-cli-maintainers We're in 1.14 code freeze and this looks to be relevant for the 1.14 release. Can we get some more eyes on this?

[2019-03-08 19:36] soggiest commented on #74150
We're in 1.14 code freeze. Can we get a review on this issue or can we move this to 1.15?
@kubernetes/sig-storage-bugs @kubernetes/sig-storage-pr-reviews

[2019-03-08 19:36] gnufied opened #75209 "Backoff timer is shared between different operations on a volume"
This is similar to issue I filed awhile ago - https://github.com/kubernetes/kubernetes/issues/41307 which is basically, if `Attach` of a volume keeps failing for quite awhile then `Detach` also won't be attempted until `maxDurationBeforeRetry` (2 min 2s currently) if exponential backoff does reaches that threshold.

I think we should not let concurrent operation on a volume but when nature of oper

[2019-03-08 19:36] gnufied commented on #75209
/sig storage

[2019-03-08 19:37] mfilotto commented on #55046
I'm pretty sure `kubectl top` can be used with metric server, so do not rely on heapster anymore
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/#resource-metrics-pipeline

@smarterclayton please do not remove `kubectl top`, we use it on a daily basis to check the ressource state of nodes and pods. It's so usefull that many other probably use it too

[2019-03-08 19:43] gnufied commented on #47350
@smarterclayton I am not sure if it is a bug as such.  It is true that when pod is removed, volumemanager tries to mount the volume anyways and since it fails to fetch secret, it keeps failing.

1. Failing to fetch secret is a non-fatal error and volumemamanger is right in retrying that operation.
2. I think bit that is problematic is - mount and unmount operation basically share the exponential b

[2019-03-08 20:17] wongma7 commented on #75159
/assign
The fake watch is not set up correctly.

[2019-03-08 20:18] khenidak commented on #75198
Can you share the log for 404?

[2019-03-08 20:25] falencastro commented on #70543
This is still happening on kubernetes 1.13/cri-o 1.13. I too would like to know if there's an issue open with the cri-o team so we can keep track.

[2019-03-08 20:32] derekwaynecarr opened #75212 "Init containers are not looked at when calculating quality of service class"
**What happened**:
A pod that has init container with request for cpu and memory, and containers that make no request for cpu or memory reports a BestEffort QoS class.  This is incorrect.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/util/qos/qos.go#L35

**What you expected to happen**:
Containers that make requests independent of lifecycle phase should impact quality of servic

[2019-03-08 20:35] steven-sheehy commented on #70543
@falencastro There doesn't look to be. You might want to create one.

[2019-03-08 20:37] derekwaynecarr commented on #75212
[code]

[2019-03-08 20:38] derekwaynecarr commented on #75212
/priorty important-soon

[2019-03-08 20:58] prameshj commented on #74950
I can't remove the serviceName : 'missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec'

if you don't specify serviceName, I don't see how the endpoints for the headless service can be updated to include the pods in the statefulSet. Can you share the yamls for how you created the service and statefulSets. It looks like this is working as intended.

[2019-03-08 21:05] preddys75 opened #75216 "Scale statefulset with precision"
**What would you like to be added**:  I would like to ability to scale down a stateful set and enter the pod I want to target to be removed from the statefulset as a result of this command. I would then like to add the name of the node when I request the statefulset to scale back up.

**Why is this needed**: This will help greatly in applications with large statefulsets during maintenence. It will

[2019-03-08 21:15] weinong commented on #75198
[code]

[2019-03-08 21:20] soggiest commented on #74699
We're in code freeze for 1.14. If this issue is not necessary for 1.14 can we please move it out of the milestone?

[2019-03-08 21:22] neolit123 commented on #75188
although i tried reproducing the problem myself and couldn't:
https://kubernetes.slack.com/team/U83J4CS3S

[code]

[code]

[code]

@pohly could you please provide more details for the ticket?

[2019-03-08 21:31] #73929 closed

[2019-03-08 21:35] johnSchnake commented on #75142
Day late and a dollar short. Issue already identified and resolved: https://github.com/kubernetes/kubernetes/pull/71256

In an effort to fight the version skew of my server I was using the k8s code version that I had the issue on and only after fixing the issues I found the fix was already on the master tip.

[2019-03-08 21:35] #75142 closed

[2019-03-08 21:49] smarterclayton commented on #75209
Definitely a latency / scalability issue with removing and reacting to dead pods / namespaces.

[2019-03-08 21:51] smarterclayton commented on #55046
We are going to replace it with `kubectl get podmetrics`.  Which should and
can do everything kubectl top does.

On Fri, Mar 8, 2019 at 2:37 PM Mathieu Filotto <notifications@github.com>
wrote:

[2019-03-08 22:01] vladimirvivien opened #75220 "CSI Inline - code enhancement post alpha"
Code enhancements based on code review from @davidz627 from #74086

* Consolidate functions which returns source from volume.Spec (https://github.com/kubernetes/kubernetes/pull/74086/commits/923ad369c8a65c8aac47b22457e7e18bbcc1f335#r263187404)
* Standardize on volumeHandle for consistency (https://github.com/kubernetes/kubernetes/pull/74086/commits/923ad369c8a65c8aac47b22457e7e18bbcc1f335#r2631876

[2019-03-08 22:02] vladimirvivien commented on #75220
/assign
/sig storage

[2019-03-08 22:06] philips commented on #70132
/remove-lifecycle rotten

we have to start doing this stuff this year.

[2019-03-08 22:28] vladimirvivien opened #75222 "CSI Inline - Update CSIDriver to indicate driver mode"
Currently, the alpha implementation of CSI inline implicitly relies on the source from volume.Spec to determine ephemeral vs persistent as done here https://github.com/kubernetes/kubernetes/blob/9fd3d2718b1d77849b92cf287c2ae70dd65d5912/pkg/volume/csi/csi_plugin.go#L787

This change modifies the storage CSIDriver object to carry that information as outline in the original  [KEP here](https://github

[2019-03-08 22:28] vladimirvivien commented on #75222
/assign
/sig storage

[2019-03-08 22:38] spiffxp commented on #74308
/milestone clear
I feel like this is... basically done, at this point, so I'm removing from the milestone.  It's just not super clear whether this should be cherry-picked back to other branches, and the gke jobs still seem to be flaking

[2019-03-08 22:41] spiffxp commented on #75125
/reopen
For CI Signal to verify that things look green once we got more job runs

[2019-03-08 22:49] awsfanatic commented on #30518
+1

[2019-03-08 22:51] alejandrox1 commented on #74699
Tests mentioned in this issue were removed from the specified job.
/close

[2019-03-08 22:51] #74699 closed

[2019-03-08 22:55] alejandrox1 commented on #74897
All but `[k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 100 pods per node` in [sig-release-1.14-all#soak-gci-gce-1.14](https://testgrid.k8s.io/sig-release-1.14-all#soak-gci-gce-1.14) have cleared out.

The aforementioned tests in [sig-release-1.14-all#gke-cos-1.14-default](https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.

[2019-03-08 23:20] soggiest commented on #74745
We in code freeze for 1.14. If this issue is blocking the 1.14 release can we please get an update on whether this issue will be closed in the next week? If this issue is not blocking 1.14 can we move it to 1.15?

@pbarker

[2019-03-08 23:22] alejandrox1 commented on #74701
Tests mentioned in this issue were removed from the specified job.
/close

[2019-03-08 23:27] soggiest commented on #74887
Hello! We are in code freeze for 1.14. It looks like investigation is still underway for this issue, will this issue be resolved in the next week? If this is a non-release blocking issue can we move it to 1.15?

[2019-03-08 23:29] soggiest commented on #74893
Hello! We are in code freeze for 1.14. If these issues are not release blocking can we move this issue to 1.15?

[2019-03-08 23:30] soggiest commented on #74897
Hello! We are in code freeze for 1.14. It looks like this issue is not blocking 1.14. Can we move it to 1.15?

[2019-03-08 23:32] soggiest commented on #75039
Hello! We are in code freeze for 1.14. Since this test is release blocking can we get some more reviews on this issue.

@dchen1107 @derekwaynecarr

[2019-03-08 23:33] inoam opened #75227 "kubectl wait should not return if resource not yet exist"
Hi! This is my first submitted issue so feel welcome to point me anywhere :)
Consider the following example:
I install my application (using helm but it does not matter).
As part of installation some pods are being created. Suppose pod A the was created directly by helm, is creating pod B, at some point.
I have a script that wishes to wait until pod B is ready/Running.
I wish to use kubectl wait.

[2019-03-08 23:35] inoam commented on #75227
/sig api-machinery

[2019-03-08 23:36] soggiest commented on #75095
Hello! We are in code freeze for 1.14. Since this test in not blocking the release can we move it to 1.15?

[2019-03-08 23:37] alejandrox1 commented on #74897
@soggiest it isn't release blocking but we are keeping it within the v1.14 milestone as it is in the [sig-release-1.14-all](https://testgrid.k8s.io/sig-release-1.14-all) dashboard.

[2019-03-08 23:38] inoam commented on #75227
/sig cli

[2019-03-08 23:43] alejandrox1 commented on #75095
@soggiest tracking this in milestone v1.14 because the mentioned test is part of [sig-release-master-informing#gce-master-scale-correctness](https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness).

[2019-03-08 23:46] alejandrox1 commented on #74893
@soggiest we are tracking this in milestone v1.14 because the aforementioned tests are part of https://testgrid.k8s.io/sig-release-1.14-all#gce-1.13-1.14-upgrade-cluster

[2019-03-08 23:47] soggiest commented on #75196
Hello! We are in code freeze for 1.14. If this issue is release blocking, can we get a review on this issue? If this issue is not release blocking can we move it to 1.15?

@kubernetes/sig-storage-misc

[2019-03-08 23:52] alejandrox1 commented on #74887
@soggiest we are tracking this issueunder milestone v1.14 because these are failures in master-upgrade.

[2019-03-08 23:53] alejandrox1 commented on #74887
@MrHohn I see the tests clearing up in both of the aforementioned jobs but no reference to PRs referencing this issue. Did something else happened? :thinking:

[2019-03-09 00:01] alejandrox1 commented on #74745
Seems like #74915 did resolve this issue.
The failed tests in this issue have cleared out.
/close

[2019-03-09 01:04] MrHohn commented on #74887
I'm guessing it will flake again --- still seeing the same error on some latest runs.

[2019-03-09 01:05] feiskyer commented on #75198
Thanks for reporting the issue.
/assign

Do you mean other services couldn't be configured when this happens?

[2019-03-09 01:19] msau42 commented on #75196
We have not triaged the "gracefully deleted" test case, only the "force deleted" test case.  cc @cofyc @jingxu97 if this is the same issue or not

[2019-03-09 01:19] msau42 commented on #75196
@kubernetes/sig-storage-test-failures

[2019-03-09 01:24] stewart-yu commented on #75188
![image](https://user-images.githubusercontent.com/30410021/54064151-caddec00-424c-11e9-93bc-acad64cbfabc.png)
one is pointer, one not. that's right

[2019-03-09 01:29] weinong commented on #75198
@feiskyer correct.

[2019-03-09 01:33] neolit123 commented on #75175
/sig vmware

[2019-03-09 01:33] neolit123 commented on #75175
@kubernetes/cloud-provider-vsphere-maintainers

[2019-03-09 01:35] neolit123 commented on #75216
/sig apps

[2019-03-09 01:38] neolit123 commented on #75028
hi, is this the command you are looking for?
[code]

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-kubeconfig

[2019-03-09 01:41] neolit123 commented on #75173
i don't know what may be causing your exact problem, but we have this information about CrashLoopBackOff / CoreDNS state.

https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state

but also it's time to upgrade to 1.12 at least, because 1.11 is going out of support in the end of March when 1.14 is released.

[2019-03-09 02:09] anfernee commented on #74839
I created a small app to reproduce this issue: https://github.com/anfernee/k8s-issue-74839

[2019-03-09 02:19] mrbobbytables commented on #75089
@vinilvadakkepurakkal - Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

The Kubernetes project does not manage the nvidia device plugin. It is managed by nvidia.

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier

[2019-03-09 02:19] mrbobbytables commented on #75089
/close

[2019-03-09 02:19] #75089 closed

[2019-03-09 02:33] mrbobbytables commented on #75069
/sig api-machinery

[2019-03-09 02:41] mrbobbytables commented on #75117
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2019-03-09 02:43] mrbobbytables commented on #75117
/kind triage support
/close

[2019-03-09 02:43] #75117 closed

[2019-03-09 02:58] cwdsuzhou opened #75230 "CSI dirver that implemented attacher would not be called by kubelet to mount volume in time"
**What happened**:

csi driver that implemented attacher  would not be called by kubelet to mount volume in time though it aleady attached the volume to a node.

**What you expected to happen**:

When a pv is attahced to a node, `mount` should be called in time.

**How to reproduce it (as minimally and precisely as possible)**:

1. Using an existing pv in the pod and the pV driver is a csi driver

[2019-03-09 03:04] mrbobbytables commented on #75031
This was accidentally introduced not too long ago in [#74257](https://github.com/kubernetes/kubernetes/pull/74257#discussion_r262554139) and should be resolved by #74970 .
Would you mind pulling down a more recent copy and trying again?
/assign
/sig testing

[2019-03-09 03:10] cwdsuzhou commented on #75230
/assign

[2019-03-09 03:11] cwdsuzhou commented on #75230
/sig storage

[2019-03-09 03:15] neolit123 commented on #74890
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/cluster_upgrade.go#L435-L455

i would try this to see what happens with primitives only vs the go routine mutex wakeup problem:
[code]

[2019-03-09 03:44] mlmhl commented on #74929
What's the `StorageClassName` of your PV? The PV controller only binds PVC and PV which have same `StorageClassName`.

[2019-03-09 04:51] exodussystem commented on #69082
Latest kubespray removed the option to deploy hyperkube as container.
With rbd binary removed and K8s/Ceph nodes are running on CoreOS, is there anyway to rbd work?
I tried ceph/container but it did not work.

[2019-03-09 06:50] #69564 closed

[2019-03-09 07:32] aseempatni commented on #70334
Any updates on this yet? I'm also facing the same issue on Kubernetes v1.13.4

[2019-03-09 07:53] kahou82 opened #75232 "Unable to set IPv6 cluster cidr in kube-proxy"
**What happened**:
I am trying to set cluster cidr in kube proxy but I got the following error:

`F0309 07:45:50.879509       1 server.go:379] unable to create proxier: clusterCIDR fd02::/112 has incorrect IP version: expect isIPv6=false`

My kube-proxy pod looks like the following:

[code]

**What you expected to happen**:
Expect kube-proxy should be running with v6 cidr range

**How to reproduce

[2019-03-09 08:22] andrewsykim commented on #70526
/remove-lifecycle rotten

[2019-03-09 08:52] #66300 closed

[2019-03-09 09:02] hzxuzhonghu commented on #26923
/reopen

[2019-03-09 09:04] hzxuzhonghu commented on #26923
We also has a case which depend on get container logs when the job completed successfully.

[2019-03-09 09:05] xmudrii commented on #73503
@Random-Liu Now that #74441 is merged should this issue be closed?

[2019-03-09 09:25] mm4tt commented on #75095
@alejandrox1, can we mark the https://github.com/kubernetes/kubernetes/pull/75177 as milestone v.1.14 in that case?
It's currently blocked on merging due to missing milestone v.1.14 tag. There is a big chance that, once merged, it will fix the [sig-release-master-informing#gce-master-scale-correctness](https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness)

[2019-03-09 09:36] Dhruv34788 commented on #45300
@amelbakry I need to setup active/standby application where they are sharing one directory to store their config files. And it's a stateful application so only active one can interact with the filesystem and in the case of failure, they will swap the position and also the ownership of the shared filesystem. Any idea how can I achieve this?

[2019-03-09 10:32] 13567436138 commented on #73777
https://github.com/AliyunContainerService/alicloud-controller-manager
this one

[2019-03-09 10:34] lbernail commented on #72779
This is similar to #71555

We've had a discussion there on how to best implement a solution but haven't decided yet
I'm in favor of flag which defaults to the previous behavior to avoid breaking existing setups (alternatives are cleaner but involve creating an additional arptable rule per service which I think we should avoid)

@m1093782566 what do you think?

[2019-03-09 10:42] m1093782566 commented on #72779
OK

[2019-03-09 10:42] lbernail commented on #72197
I think we close this issue (duplicate  #71071 and fixed)

[2019-03-09 10:45] m1093782566 commented on #72197
/close

[2019-03-09 10:45] #72197 closed

[2019-03-09 10:46] lbernail commented on #71071
@m1093782566 , @thockin I think we can close this issue (no new reports in about 2 months)

For reference, bug impacts initial releases with graceful termination:
- 1.11.5 - 1.11.6
- 1.12.2 - 1.12.4
- 1.13.0 - 1.13.1

Fix is present after:
- 1.11.7
- 1.12.5
- 1.13.2

[2019-03-09 10:48] m1093782566 commented on #71071
/close

[2019-03-09 10:48] #71071 closed

[2019-03-09 10:54] #62500 closed

[2019-03-09 10:54] lbernail commented on #72236
I'm not sure if there is an easy way to solve this
We could probably use a drop iptables rule with an ipset and drop everything sent to clusterIPs and not matching clusterIP:servicePort

@uablrek when you remove the kube-ipvs0 entries from the local route table, are ClusterIPs still working? I would expect IPVS to require a local address in the routing table (I'm not sure though, the IPVS datapath

[2019-03-09 11:21] andyzhangx opened #75233 "pod could not be terminated when pod volume path is corrupted"
**What happened**:
pod could not be terminated when pod volume path is corrupted, and it looks like it mainly affect flexvolume, not sure

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create a pod with smb mount (we use flexvol in this case, driver is [here](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/smb))
2.

[2019-03-09 11:26] shivakumargn commented on #36653
/reopen

[2019-03-09 11:36] rdrgporto commented on #59959
Hi, @harshneelmore

You should try with:

[code]

Regards

[2019-03-09 11:39] lbernail commented on #73154
@annProg I've started looking into this
Just to understand well: you notice an increased latency for new connections to a clusterIP during the restart phase?
Things a fine during the deletion fine ? (and while kube-proxy is not running?)

[2019-03-09 11:54] lbernail commented on #73154
It seems you mean that for a short while the clusterIP is not even working (given what you mentioned on coredns). Is this correct?

[2019-03-09 11:55] #55219 closed

[2019-03-09 14:28] annProg commented on #73154
Yes, seems ipvs rule will be recreated when restart kube-proxy

[2019-03-09 14:47] kant111 opened #75235 "Does Kubernetes plan to support orchestrating raw binaries like nomad?"
Does Kubernetes plan to support orchestrating raw binaries(like say executing python script without containerizing) like nomad although I understand they both are built for different purpose etc! I see that there are still some companies in the industry doesn't want to move towards using containers yet therefore my question.

[2019-03-09 15:06] azmim commented on #46915
Having same issue as well. Im using 1.13
.
[code]

[2019-03-09 15:13] praseodym opened #75236 "vSphere Cloud Provider "Failed to patch IP" log spam"
On Kubernetes v1.13.4 nodes with the vSphere Cloud Provider I see a lot of log spam (15k messages in one hour, with many duplicate messages logged just microseconds apart) like this one:
[code]
This MAC address belongs to the `kube-ipvs0` interface which is (afaik) created by kube-proxy running in IPVS mode. I see the same message for the MAC address belonging to the `cni0` interface created by Fl

[2019-03-09 15:13] praseodym commented on #75236
/sig vmware

[2019-03-09 15:14] praseodym commented on #75235
I think this topic is better discussed on the [Kubernetes forum](https://discuss.kubernetes.io/).

[2019-03-09 16:53] neolit123 commented on #75188
yes. but why the error

(v1alpha1.LeaderElectionConfiguration) to (config.LeaderElectionConfiguration): type names
don't match (, bool), and no conversion 'func (*bool, bool) error' registered.

[2019-03-09 16:55] ibrasho commented on #75039
@derekwaynecarr is not available currently (hope the kid gets better soon ❤️).

Anyone else in @kubernetes/sig-node-test-failures can help with this? (@Random-Liu can you shed more light on what change could have cause this?)

[2019-03-09 16:59] ibrasho commented on #74897
Hey @alejandrox1! Is anyone currently working on this? Just to make sure it's moving along :grin:

[2019-03-09 17:35] alejandrox1 commented on #74897
Hi @ibrasho, usually, if there is no one assigned to an issue then there is no one is working on it.

[2019-03-09 17:49] ojizero commented on #68578
@rajathagasthya any updates in this? I'm willing to take a shot at it case you're unable to complete it 😬

[2019-03-09 17:53] lbernail commented on #73154
I think I have reproduced this (using wrk2 and deleting the kube-proxy process while it's running)

I wonder if it is related to this part of the code that is run at start-up: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/graceful_termination.go#L207-L221

It will delete all RS that have no connections and set the weight of the other to 0, which means we won't be able to esta

[2019-03-09 18:15] alejandrox1 commented on #75095
@mm4tt thank you for your comment! Added #75177 to the v1.14 milestone

[2019-03-09 18:35] alejandrox1 commented on #74814
Had a recent failure so im labeling as a flake again
/kind flake

[2019-03-09 18:39] alejandrox1 commented on #74742
Needed more runs to better evaluate, this is not much of a flake
/remove-kind flake

[2019-03-09 18:41] alejandrox1 commented on #74821
/remove-kind flake

[2019-03-09 18:52] alejandrox1 commented on #75125
All green :tada:
/close

[2019-03-09 18:52] #75125 closed

[2019-03-09 19:13] pohly commented on #75188
False alarm. When I started to reproduce this manually, I noticed that my checked out Kubernetes source code had a local modification:
[code]

This is not something that I modified myself. It must have been the result of building Kubernetes repeatedly in the same directory, combined with updating the source code.

Anyway, after cleaning up the repo everything is fine again.

/close

[2019-03-09 19:13] #75188 closed

[2019-03-09 19:26] BenTheElder commented on #75188
heh, thanks for following up!

[2019-03-09 20:17] philpep commented on #33664
Hi,

My usecase is to deploy security updates automatically, in this case the image tag doesn't change while target image is updated. I wrote a tool to ensure my pods are running on the latest digest, also this avoid having some nodes not running exactly the same image.

The code is available at https://github.com/philpep/imago

The main idea is to update deployments/daemonset to use images specif

[2019-03-09 20:34] praseodym opened #75238 "kube-proxy in IPVS mode does not work on containerd with AppArmor runtime default profile"
**What happened**:
Installed a new node (joining existing cluster) with Kubernetes v1.13.4 using kubeadm and containerd v1.2.4 as the container runtime. kube-proxy was configured in IPVS mode and crashed immediately with the following error:
[code]

It looks like containerd is blocking writes to procfs and sysfs.

**What you expected to happen**:
kube-proxy starts like it does with docker-ce (v18.

[2019-03-09 20:34] praseodym commented on #75238
/sig sig-node
/sig cluster-lifecycle

[2019-03-09 20:36] micw commented on #33664
Hello @philpep ,
this is great stuff! On plain docker there was a tool called "watchtower" doing similar. Up to now I did not find a k8s counterpart. I'm very happy that we do have a similar tool for k8s now.
The admission controller would be an excelent extension to it because it would ensure that when one deploys a mutable tag, that the whole cluster runs the same version/hash of it. It also wou

[2019-03-09 21:04] #69632 closed

[2019-03-09 21:04] #62492 closed

[2019-03-09 21:36] twillert commented on #71034
@iammrchetan I have the same issue with a fresh CentOS 7.6 installation. Did you manage to find out the cause of this?

[2019-03-09 21:43] vllry commented on #75236
/remove sig-network

[2019-03-09 21:44] vllry commented on #75236
/remove-sig network

[2019-03-09 21:53] vllry commented on #75189
@stafot I'm not 100% sure, but I think kube-proxy will be used to route requests to CoreDNS. Are you able to get more debug information about what condition is causing the node's state?

[2019-03-09 22:05] spiffxp commented on #73723
/assign @jennybuckley
v1.14 release lead here... a number of the "alpha-blocking" checkboxes remain unchecked, it looks like we're missing some docs and tests, can we have an update on this?

[2019-03-09 22:18] alejandrox1 commented on #74482
The flaky tests for this issue seemed to be `[k8s.io] [sig-node] Security Context should support volume SELinux relabeling`, which is not present in the aforementioned testgrid dashboards. Given that I'll close this issue.
/close

[2019-03-09 22:18] #74482 closed

[2019-03-09 22:30] alejandrox1 opened #75239 "[Umbrella issue for tracking] ci-kubernetes-e2e-gce-new-master-upgrade-cluster is flaky in 1.14"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster` in [sig-release-master-upgrade#gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:
Some of the flaking tests are:
* `[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] su

[2019-03-09 22:44] kwiesmueller commented on #73723
I'll look into the docs as much as I can @jennybuckley but haven't worked on website yet so might need help/guidance

[2019-03-09 22:47] apelisse commented on #73723
@spiffxp We need to work on the documentation, but at this point we're quite happy with what we have. We could rename "Alpha blocking" into "Alpha nice-to-have" :-)

[2019-03-09 22:50] alejandrox1 commented on #74150
Please correct me if I'm wrong but I will be taking this issue off CI signal and off the v1.14 milestone as it doesn't seem to be tracked by any of the sig-release dashboards.
/remove-milestone v1.14

[2019-03-09 22:51] alejandrox1 commented on #74150
oops, wrong cmd
/milestone clear

[2019-03-09 22:56] alejandrox1 commented on #74150
Actually, I don;t have any background on this issue so I will leave it on the v1.14 milestone for now
/milestone v1.14

[2019-03-09 22:58] alejandrox1 commented on #73111
Please correct me if I'm wrong, but the test failure mentioned in this issue, `[sig-cli] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] 6.73s` doesn't appear in the sig-release dashboards so I will take this one off the CI signal project.

[2019-03-09 23:01] alejandrox1 commented on #75145
sig gcp may be of help here
/sig gcp

[2019-03-09 23:06] #67479 closed

[2019-03-09 23:35] alejandrox1 commented on #72661
Please correct me if I'm wrong but this issue doesn't seem related to a failure in the sig-release dashboards. I'll remove it from the CI signal project

[2019-03-09 23:40] alejandrox1 commented on #74813
Still flaking a lot
/reopen

[2019-03-09 23:50] stafot commented on #75189
@vllry I agree. For this reason I think that trying to lookup a service, and fails at kube-proxy of the failed node. Because while neither the service nor coredns are in this node these failed requests passed through kube-proxy of this node. And this is the reason that I believe  at a `livenessProbe` could help. My problem is that is hard to test as I cannot cause a node failure on purpose. I migh

[2019-03-10 01:18] cscetbon commented on #74374
Hey @msau42 thank you for having opened the issue and the temporary workaround

any news on that bug ?

[2019-03-10 04:06] marckhouzam commented on #52050
Not sure if this is still issue is still relevant but still, in case it can help someone.

For me, zsh completion works great with *aliases* but not with *functions*.
If you define kc as a function:
[code]
then completion does not work (or at least I don't know how to make it work).
But if you define kc as an alias:
[code]
then completion works great.

[2019-03-10 06:02] grayluck commented on #71423
The test is no longer flaky: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow&include-filter-by-regex=session%20affinity&width=20
Thanks everyone!

[2019-03-10 06:55] kahou82 commented on #75232
I think I get a working kube-proxy by not having the IPv4 address in my network interface that has the IPv6 address (it is being use as the api server advertised address).

However, all my pods (including coredns) has the following error:

`  Warning  FailedCreatePodSandBox  48s                     kubelet, kahou-master  Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up

[2019-03-10 09:11] nikhita commented on #44873
https://github.com/kubernetes/kubernetes/pull/74877

[2019-03-10 10:17] #60660 closed

[2019-03-10 10:20] jerlam06 commented on #25408
same here!

[2019-03-10 12:08] lbernail commented on #73154
@annProg : I tested my idea (not deleting RS at start-up) and initial tests looks promising:
- max latency does not change during a restart of the kube-proxy process (in my very simple wrk test)
- VS and RS reconciliation still work fine without the deletion (very limited testing there: I deleted a service and scaled down a deployment backing another while kube-proxy was not running and at restart

[2019-03-10 15:04] prometherion commented on #71843
/remove-lifecycle stale

[2019-03-10 17:24] #66134 closed

[2019-03-10 17:32] #75235 closed

[2019-03-10 17:51] ardalanrazavi commented on #51835
I have the same issue that pod is in "Terminating" state for almost 2 days.
I am using Minikube on Linux machine (Debian).

Kubectl version:
`Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:00:57Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
`
Minikube Ve

[2019-03-10 18:04] aojea commented on #70248
I've started to work on this, @timothysc @thockin feel free to assign this issue to me.
The plan I have in mind is:

### Fix current known issues with IPv6 and e2e tests:

- [x] Kubernetes e2e suite.[sig-node] Downward API should provide pod name, namespace and IP address as env vars [NodeConformance] [Conformance] #75237
- [ ] Kubernetes e2e suite.[sig-apps] StatefulSet [k8s.io] Basic StatefulSet

[2019-03-10 21:12] nmors commented on #51835
@ardalanrazavi why is it terminating for two days? Just force delete if it doesn't delete after 5 minutes

[2019-03-10 21:17] AndrewSav commented on #51835
@nmors

That's a good question. We all would like to know that.

No, don't force delete. It leaves the cluster in inconsistent state.

[2019-03-10 21:34] nmors commented on #51835
@AndrewSav

I don't see any other solutions here to be frank.

Sure, the cluster will be left in an "inconsistent state". I'd like to understand what you mean exactly by this. Force closing is bad. I also don't like it, but in my case, I am comfortable destroying and redeploying any resources as required.

In my case, it seems to only get stuck terminating on the pods which have an NFS mount. And

[2019-03-10 23:12] dmarkey opened #75247 "HPA scales over MaxReplicas and then wont scale down."
**What happened**:
I was testing HPA with a custom metric, and the deployment gets scaled one over maxPods and will refuse to scale down. Also the metric is read as "Unknown" even though it is available via the custom metric API.

Scaling the deployment down manually rectifies the situation.

**What you expected to happen**:

That the deployment doesn't scale beyond the desired amount of pods and

[2019-03-10 23:14] dmarkey commented on #75247
/sig autoscaling

[2019-03-10 23:16] craigbox commented on #56306
/lifecycle frozen
/remove-lifecycle stale

[2019-03-11 00:02] KevinRiordan commented on #51835
I fixed the issue, I was able to isolate that all pods stuck terminating were all on one node, node was restarted and problem has been gone.

[2019-03-11 00:58] leonaves commented on #53533
Hi is there any public discussion of this issue happening currently? (The k8s slack is not open to everyone at the moment, and I assume won't be for some time).

[2019-03-11 01:00] dave-tock commented on #67250
+1. This is a pretty big landmine in using StatefulSet, if you ever make any mistake you're stuck with just destroying your StatefulSet and starting over. IOW, if you ever make a mistake with StatefulSet, you need to cause an outage to recover :(

[2019-03-11 01:13] dims commented on #53533
@leonaves there is no discussion on slack going on currently AFAIK. the last comment from @guslees is the last of the discussion. Note that there will have to be a KEP with details in the kubernetes/enhancements repo to kick things off and probably mailing list threads too.

There does seem to be an end of the tunnel for the slack re-opening as well pretty soon. cross my fingers.

[2019-03-11 01:26] gyliu513 commented on #74947
/area app-lifecycle
/area stateful-apps
/area usability
/area node-lifecycle
/area nodecontroller

[2019-03-11 01:44] yoliander opened #75248 "mountOptions enable-ino32 for gluster storageclass fail."
**What happened**:
I'm trying to add mountOptions (enable-ino32) to the StorageClass, but when i create a PVC, the PV is created without the enable-ino32 mountOption.

**What you expected to happen**:
 PV created with mountOptions enable-ino32

**How to reproduce it (as minimally and precisely as possible)**:

Create a storage class like this:

[code]

=======================================

Crea

[2019-03-11 01:49] yoliander commented on #75248
@kubernetes/sig-storage

[2019-03-11 01:50] yoliander commented on #75248
/sig storage

[2019-03-11 02:03] yoliander commented on #75248
I have an issue open to the Heketi team:

[Heketi Issue](https://github.com/heketi/heketi/issues/1525)

[2019-03-11 02:16] feiskyer opened #75249 "Clean the workaround of duplicate interface stats for windows containers"
**What happened**:

PR #74788 introduces a workaround for [duplicate interface stats for containers](https://github.com/kubernetes/kubernetes/pull/74788#issuecomment-469722598):

https://github.com/kubernetes/kubernetes/blob/01c9edf7fa587090458e03e3a10884817f5aff8d/pkg/kubelet/stats/cri_stats_provider_windows.go#L70-L85

It has been confirmed this is caused by a bug in HCS. After fixing the bug in

[2019-03-11 02:21] adampl commented on #52757
Just don't specify the GPU in resource limits/requests and all containers will have full access to all GPUs. The only downside is that you cannot enforce any limits.

Looking at all available GPUs as equal resources is a poor solution, so you don't lose much anyway. Imagine how would it work if two different GPUs with different capabilities were randomly assigned to pods doing different tasks...

[2019-03-11 02:21] ScorpioCPH commented on #75108
/test

[2019-03-11 02:33] #69712 closed

[2019-03-11 02:37] khteh opened #75250 "JMeter load tests on multi-node EKS is slower than single-node cluster"
**Which jobs are failing**:

**Which test(s) are failing**:
jmeter-5.1
**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:
Load test reports show that repsonse time from applications running on multi-node full-blown EKS cluster is much much slower than that from the same application running on a single-node EC2 cluster.

**Anything else we need to know**:
I have a full

[2019-03-11 02:39] neolit123 commented on #68244
/remove lifecycle-stale

[2019-03-11 02:40] neolit123 commented on #68244
/remove-lifecycle stale

[2019-03-11 02:46] zimmertr commented on #60807
Wow, finally got rid of it. Thanks for the commands @mingxingshi !

[2019-03-11 03:34] #65192 closed

[2019-03-11 03:43] #75232 closed

[2019-03-11 04:01] khteh commented on #75250
Here are the figures with `curl`, `ntimes` and `percentile`:
[code]

[2019-03-11 04:01] krmayankk commented on #75239
Hello! We are in code freeze for 1.14. If this issue is release blocking, can we get a review on this issue? If this issue is not release blocking can we move it to 1.15?

[2019-03-11 04:01] krmayankk commented on #75239
/sig storage

[2019-03-11 04:02] krmayankk commented on #75239
@kubernetes/sig-storage-bugs

[2019-03-11 05:11] soggiest commented on #68244
Hello @luxas we're in code freeze for 1.14. There are a couple of PRs that are referencing this issue that are open. Can we move this issue and the PRs to 1.15?

[2019-03-11 05:17] soggiest commented on #75195
@Random-Liu  We are in code freeze for 1.14. Will this be closed in the next week? Or, if it isn't release blocking can we move it to 1.15?

[2019-03-11 05:21] soggiest commented on #75194
@kacole2 We are in code freeze for 1.14. Can we move this to 1.15 if it isn't release blocking?

[2019-03-11 05:52] Erically commented on #60987
remove orphaned pod saved the problem
`
#!/bin/sh

orphanedPods=`cat /var/log/messages|grep 'Orphaned pod'|awk -F '"' '{print $2}'|uniq`;
orphanedPodsNum=`echo $orphanedPods|awk -F ' ' '{print NF}'`;
echo -e "orphanedPods: $orphanedPodsNum \n$orphanedPods";

for i in $orphanedPods
do
echo "Deleting Orphaned pod id: $i";
rm -rf /var/lib/kubelet/pods/$i;
done
`

[2019-03-11 05:57] spiffxp commented on #75095
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/219 - most recent run was green

[2019-03-11 06:45] akki commented on #8976
Hi
Can this ticket be marked as closed or is there anything left? I would like to help, if required.

[2019-03-11 06:45] zouyee commented on #68969
/remove-lifecycle stale

[2019-03-11 06:46] zouyee commented on #68969
/reopen

[2019-03-11 06:55] Hashfyre commented on #57838
Can this issue be re-opened please?
cc @nikhita

[2019-03-11 07:08] #73738 closed

[2019-03-11 07:08] wojtek-t commented on #73519
@spiffxp - it's not 1.14 - it's not breaking nor blocking anything.

[2019-03-11 07:09] #70977 closed

[2019-03-11 07:33] nikopen commented on #70707
/milestone v1.15

if otherwise, let me know

[2019-03-11 07:36] shenlanse commented on #52757
mark

[2019-03-11 07:38] #69096 closed

[2019-03-11 07:41] nikopen commented on #69376
This is an important bug but the fix in #72927 still needs work @runyontr

Shifting milestones
/milestone v1.15

@kow3ns @spiffxp

[2019-03-11 08:01] nikopen commented on #64164
/milestone clear

we're in code freeze, doesn't look important. let me know if otherwise.

[2019-03-11 08:07] nikhita commented on #57838
Yup, makes sense.

/remove-lifecycle rotten
/reopen

[2019-03-11 08:12] nikopen commented on #45419
/milestone v1.15

[2019-03-11 08:18] jihoon-seo commented on #35190
These links might be helpful:

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#hdr-Kubeadm_init_configuration_types

[2019-03-11 08:19] nikopen commented on #74383
/milestone clear

[2019-03-11 08:24] stewart-yu commented on #68244
move to 1.15 please, thanks  for your reminder @soggiest

[2019-03-11 08:25] nikopen commented on #72956
E_TOO_MUCH_BASH

/milestone v1.15
just moving it for tracking purposes as it's too big - work can continue normally

[2019-03-11 08:33] nikopen commented on #64952
clearing the milestone for tracking purposes to let the fix land in its own time
/milestone clear

[2019-03-11 08:46] nikopen commented on #71470
Hey @gnufied , in terms of v1.14 release, how close is the fix for this / what's the current status?

[2019-03-11 08:50] smileusd opened #75257 "firstly get rbd adminid and secret from pv"
The secret and adminId all should have in pv if created by dynamic provisioning. It no need to get from storageclass and the storageclass may not store the information (I think it also do not have to do). [getAdminAndSecret](https://github.com/kubernetes/kubernetes/blob/3624c74ce880168eb456f15ef50a92d1cbff8da1/pkg/volume/rbd/rbd.go#L138)

[2019-03-11 08:51] smileusd commented on #75257
/sig storage

[2019-03-11 08:59] smileusd commented on #75257
/kind cleanup

[2019-03-11 08:59] timchenxiaoyu opened #75259 "delete recycler pod not found error"
kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea", GitTreeState:"clean", BuildDate:"2018-11-26T14:41:50Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea", GitTreeStat

[2019-03-11 09:01] wojtek-t commented on #74412
Sorry - it was unfortunate that I was OOO exactly whe this was discovered. Reverting (given that it was 3-line change) seemed like the most reasonable option.

Regarding testing that, I actually don't think we need large cluster to test this.
This can be fully tested in small (even 1-node cluster) and i think that's the direction we should go with.
Two weeks ago or sth I added this new job (it was

[2019-03-11 09:02] mm4tt commented on #75095
Seems like https://github.com/kubernetes/kubernetes/pull/75177 fixed the problem.
Will wait for one more successful run before closing the issue.

[2019-03-11 09:03] xmudrii commented on #68244
/milestone v1.15

[2019-03-11 09:07] zouyee commented on #68969
/cc @dims  Hi, dims WDYT

[2019-03-11 09:45] #74519 closed

[2019-03-11 09:58] knoppiks commented on #75236
We are experiencing the same even though we fixed the ip address using `--node-ip` flag on the kubelet.

[2019-03-11 10:12] xpetoox commented on #45779
Hello guys, same issue here. K8s version 1.11.5 and also 1.12.6, StatefulSet with headless service can resolve long hostnames but can't resolve the short one. Is this a bug, feature or can be a problem with configuration?
Any help appreciated.. Need this to work (or workaround) for one of the Oracle apps (running on Docker it self just fine, issues only on K8s). Thank you.

Peter

[2019-03-11 10:30] limbuu commented on #37705
@Rub21 has upgrading cluster  to 1.11 worked for you? It didnt work on mine.

[2019-03-11 11:07] antonlisovenko commented on #65973
I absolutely support this feature. Webhooks require long time to develop and support, but we meet the use case of immutable fields again and again, the easy way is to add the field into status and mark the CR as failed in case the spec field has diverged but putting the fields to status only to support contract is a quite ugly way

[2019-03-11 11:38] matti commented on #45779
@xpetoox what is a "short one"

[2019-03-11 11:42] #69653 closed

[2019-03-11 11:50] jnicholls commented on #45779
For me, I think the resolution for the shorthand format (no namespace.svc.cluster.local) only worked inside of pods within the statefulset, not pods outside of it. I could be mistaken as it’s been months since I’ve had similar issues and am only recalling off the top of my head.

[2019-03-11 11:51] xpetoox commented on #45779
I mean, it can resolve the long hostname (example: web-0.nginx.foo.svc.cluster.local) but can't resolve the short hostname (example: web-0).

[2019-03-11 12:07] timchenxiaoyu commented on #62061
I think   rbd   iscsi  or  fc   A/D controller doesn't support attach or detach

[2019-03-11 12:08] xpetoox commented on #45779
Yes, this is how it's behave right now. But my application need also short hostname resolvable between different pods. How can I achieve that?

P.

[2019-03-11 12:13] akki commented on #69905
/remove-good-first-issue

[2019-03-11 12:27] JulienBalestra commented on #67789
/remove-lifecycle stale

[2019-03-11 12:37] jpiper opened #75262 "externalTrafficPolicy:Local and proxy-mode=ipvs blackholes traffic on"
@kubernetes/sig-network-bugs

**What happened**:
This is similar/follow on from #71596

When using externalTrafficPolicy:Local and proxy-mode=ipvs, kube-proxy is creating an IPVS entry with no endpoints on nodes that don't host that workload. i.e.

[code]

[code]

Which blackholes all traffic from this node (and pods on this node) trying to access the loadbalancer using the external IP.

**What yo

[2019-03-11 12:38] jpiper commented on #75262
/sig network
/area ipvs

[2019-03-11 12:58] xiaods commented on #9043
@vinaykul yes, this is very complicated concerns for how-to implement in-place task. i will look for this review docs. thanks a lot.

[2019-03-11 13:31] neolit123 commented on #75259
/sig storage

hi, if you don't get a response soon, consider upgrading because 1.11 is going out of support at the end of this month.

[2019-03-11 13:32] neolit123 commented on #75250
/sig aws

[2019-03-11 13:58] mritd commented on #72029
1.13.4 have the same problem

**Environment:**

- Kubernetes version (use kubectl version): 1.13.4
- Cloud provider or hardware configuration: Baremetal
- OS (e.g. from /etc/os-release): Ubuntu 18
- Kernel (e.g. uname -a): 4.15.0-46-generic
- Install tools: Manual, Systemd
- Others:

[2019-03-11 14:18] drewhemm commented on #67342
Seeing this issue in AWS EKS, for which the highest available version is currently `1.11.5`:

https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html

A backport would be greatly appreciated.

[2019-03-11 14:41] brtknr commented on #73407
I can confirm that I have the same problem but with flannel backend. The nodes keep getting allocated different IPs. I have gotten around the problem by prioritising DNS as the way to address nodes instead of InternalIP.

[2019-03-11 14:45] #67355 closed

[2019-03-11 14:55] benmoss opened #75263 "Windows vSphere e2e test nodes crashing from PtGetLongestMatch"
We have been seeing another BSOD crash on the [vSphere Windows test job](https://k8s-testgrid.appspot.com/sig-windows#cfcr-vsphere-windows-master).

- [WinDbg logs](https://gist.github.com/benmoss/95c676f022aed4755d26dd4b26fadfd5)
- [Crash dump file](https://storage.googleapis.com/pivotal-e2e-results/crash%20dumps/dump03112019.dmp.tgz)

Windows version:
[code]

cc @PatrickLang  @daschott @michmike

[2019-03-11 15:06] kacole2 commented on #75194
@soggiest this question should be handled by one of the SIGs. I'm merely creating an issue based on the CI Signal overview.

I'm unaware of who to assign to this particular issue.

[2019-03-11 15:08] kacole2 commented on #75194
@soggiest looking at the currenty CI dashboard, we've got green lights. So it needs to be monitored for the moment.

[2019-03-11 15:12] kow3ns commented on #74741
/assign @soltysh

[2019-03-11 15:12] kow3ns commented on #74741
/assign @janetkuo

[2019-03-11 15:15] kow3ns commented on #74916
/assign

[2019-03-11 15:29] kow3ns commented on #74916
As in #74941. Even thought the StatefulSet controller looks for the PVC by name (not by label) we generate labels for the PVC based on the StatefulSet's selector. Removing this would be a backward incompatible change to a v1 API contract (can't do that). Adding additional labels might be acceptable, but, If you want to change the behavior of the controller wrt to this, I'd like to see a (small) KE

[2019-03-11 15:42] matti commented on #45779
you have to use `podname-0.namespace`, `podname-0` won't resolve (by design)

[2019-03-11 15:51] xpetoox commented on #45779
..and that's the problem that I have.. application that I try to run in k8s use combination of FDQN and hostname by design.. I can't change this behavior so I need to figure out how k8s can support this requirement..

[2019-03-11 15:54] matti commented on #45779
custom dns record? a service with endpoints?

[2019-03-11 16:05] andrewsykim commented on #73777
This seems like a configuration issue with your cluster and the cloud provider, I think you'll be able to get more help if you open an issue here https://github.com/kubernetes/cloud-provider-alibaba-cloud. Hope that helps, feel free to reopen this issue otherwise!

[2019-03-11 16:06] andrewsykim commented on #73777
/close

[2019-03-11 16:06] #73777 closed

[2019-03-11 16:22] kow3ns commented on #75034
/assign @mml
Matt I believe you helped with these upgrade tests for StatefulSet during the initial implementation phase. Do you have the context on what happened here?

[2019-03-11 16:30] oxddr commented on #75162
Hi @denglouping , could you provide list of steps to reproduce the problem. Based on your description it's hard to tell what's the problem.
Also, do you observe the same behavior with pods that just sleep indefinitely?

[2019-03-11 16:32] kow3ns commented on #74947
1. StatefulSet does not do Node failure detection.
1. > If the worker nodes goes down for a while after a specified timeout window or a specified retry number, all of the pods on this node should be evicted including statefulset pods so that pods for statefulset can be rescheduled.
This describes what happens if node permanently fails today. See [Node Controller](https://kubernetes.io/docs/concept

[2019-03-11 16:39] #72500 closed

[2019-03-11 16:41] mariantalla commented on #75186
@kubernetes/sig-gcp-test-failures could this be a gcp issue?

[2019-03-11 16:44] mml commented on #75034
I'm not sure why the images disappeared, but we did have a long conversation at the time about where the source code to the images should be stored.  I think mine is actually still in a git repo on my workstation.  :fearful: @maisem do you happen to have the one you wrote?

[2019-03-11 16:48] llamasoft commented on #74916
I very much think this would be a good discussion to have.  If you could, please let me know what's required to start a KEP on this topic.

As I see it, the current implementation is in violation of the API: the [StatefulSet's](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#statefulsetspec-v1-apps) volumeClaimTemplates data type is listed as "[PersistentVolumeClaim](https://k

[2019-03-11 16:49] mariantalla commented on #74960
Just to clarify on `/milestone`:
* for discovery purposes; makes sense, this work is very relevant to 1.14, and includes issue that are targetted for this release.
* for completion purposes; there's a good chance that this umbrella issue won't be "finished" by 1.14, and will likely be relevant to future releases. I think that's still ok - did you think the same @spiffxp ?

[2019-03-11 17:00] mariantalla commented on #75186
also cc'ing the sig-network chairs; could you help to triage this please? 🙏🏻

@thockin @dcbw @caseydavenport

[2019-03-11 17:02] marcomancuso commented on #45509
Anyone having success scaling up/down using custom controllers? Would it be feasible?

[2019-03-11 17:18] harshneelmore commented on #59959
Should I do this even if I am running Ubuntu 18.04(bionic) and not 16.04(xenial)?

[2019-03-11 17:20] bsklaroff commented on #45509
My workaround is to have idle pods delete themselves specifically with `kubectl delete pod {hostname} --timeout=1s`, and then immediately scale down the deployment by one replica. This will kill only the idle pod and none of the running ones.

Unfortunately, deployment upgrades still kill my pods with long-running jobs. To combat this, I set the terminationGracePeriod to 100 days, and I catch the

[2019-03-11 17:29] krmayankk commented on #67250
/remove-lifecycle rotten

[2019-03-11 17:38] spdo88 commented on #61224
Have the same problem on V1.13.3. If I down grade it to V1.12., it works perfectly without any problem.
but it shows the worker  node is running on the get pods command:
10.46.29.98   is the master node
10.46.29.68   is the worker node

# kubectl get pods -o wide --all-namespaces
NAMESPACE     NAME                                                           READY   STATUS    RESTARTS   AGE   IP

[2019-03-11 17:47] MrHohn commented on #75186
Seems like Ingress controller kept panicing during the test (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/6367/artifacts/test-6724261826-master/glbc.log):
[code]

/cc @rramkumar1

[2019-03-11 17:50] bsalamat opened #75267 "Add more metrics to the scheduler for the number of pods scheduled and pending"
**What would you like to be added**:
Add more [scheduler metrics](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go) to count the number of pods scheduled and the number of pending pods in the scheduling queue.

**Why is this needed**:
These metrics are helpful to debug scheduler and find about its health. It also provides insight to users about their cluster st

[2019-03-11 18:15] mariantalla commented on #75196
Hey @msau42 / @kubernetes/sig-storage-test-failures , any updates on this?

For more info: it's also had consecutive failed runs in https://testgrid.k8s.io/sig-release-1.14-all#gce-1.14-1.13-downgrade-cluster.

[2019-03-11 18:17] fturib commented on #74849
(reformatting the msg...)

```plugin/errors: 2 8678857457967447011.5992709372429440277. HINFO: unreachable backend: no upstream host```

i get this error ,when i se logs on kube-dns, because of this i cant curl any endpoint and nslookup to kubernetes.default is not reachable #74849

[2019-03-11 18:19] daschott commented on #75263
Thanks, we're starting an internal investigation on this issue with netio.sys team

[2019-03-11 18:23] mariantalla commented on #75205
@kubernetes/sig-node-test-failures & cc @dchen1107 @derekwaynecarr

Hey sig-node, could we have some help with this issue please?

It's currently flaking 8% of the time in [`ci-kubernetes-e2e-gci-gce`](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce%24&test=NodeLease%20when%20the%20NodeLease%20feature%20is%20enabled%20the%20kubelet%20should%20report%20

[2019-03-11 18:24] msau42 commented on #75196
Will investigate today.

[2019-03-11 18:26] MQasimSarfraz opened #75268 "Allow kubectl to use absolute path"
**What would you like to be added**:
Currently `kubectl` is looking for kubeconfig in user home directory (relative path) but It would be great if `kubectl` supports a global path (absolute path) e,g `/etc/kubernetes/kubeconfig.yaml`.

**Why is this needed**:
I have a kubernetes cluster that is being shared between multiple people. All of them have different Linux users but want to access the k8s

[2019-03-11 18:28] MQasimSarfraz commented on #75268
/sig cli

[2019-03-11 18:29] MQasimSarfraz commented on #75268
@kubernetes/sig-cli-feature-requests

[2019-03-11 18:31] mariantalla commented on #75205
(Edit: Removed comment to ask for help, noticed open PR later...

For context/help to measure change post #75206 merge:
This is currently failing about 8% of the time in `ci-kubernetes-e2e-gci-gce`, and an average of ~15% of the time across all jobs it's a part of)

[2019-03-11 18:47] seanturner83 commented on #36601
Is this really never going to be done? :(

[2019-03-11 18:51] rdrgporto commented on #59959
Hi,

For the moment, it is necessary to use Xenial repository, although you use Bionic.

You can find more information: https://kubernetes.io/docs/setup/independent/install-kubeadm/

Regards

[2019-03-11 18:58] yujuhong commented on #64531
This function implemented by the CRI shim, which is capable of finding out the IP address by `podSandboxID`.

/cc @tallclair

[2019-03-11 19:05] kfox1111 commented on #29582
/remove-lifecycle rotten

[2019-03-11 19:21] timothysc commented on #75145
/assign @justinsb

for routing from SCL side.  These are google owned tests.

[2019-03-11 19:48] wdec commented on #70924
/remove-lifecycle rotten

[2019-03-11 19:54] mitpwd commented on #74901
Hi @bowei ,
here is an example error message I receive on a Deployment (kubectl apply -f deployment.yml).
I am using K8S 1.11.8 and kubectl 1.11.8.

`
$ kubectl apply -f reshifter-app.yaml
error: error validating "reshifter-app.yaml": error validating data: ValidationError(Deployment.spec): unknown field "hostAliases" in io.k8s.api.extensions.v1beta1.DeploymentSpec; if you choose to ignore these e

[2019-03-11 19:57] bowei commented on #74901
Don't you need to put the hostAliases in the `template:` section of the Deployment?

[2019-03-11 20:08] mitpwd commented on #74901
Yes, that solved the problem.

Would it make sense to add an example to the existing documentation for a Deployment?

It would help new users of Kubernetes. I am happy to raise a PR.

Thank you!

[2019-03-11 20:15] wongma7 commented on #74313
@redbaron @bswartz https://github.com/kubernetes/kubernetes/pull/74627#issuecomment-471708305 is ready for review, have e2e tests verifying it now. Commit 2 is where the fix is.

[2019-03-11 20:46] ssgtmas commented on #56430
/reopen
This is still an issue. v1.13.3. Remove the metrics-server deployment, but not the apiservice to recreate. Here are the full steps:
1) Apply metrics-server (k8s.gcr.io/metrics-server-amd64:v0.3.1)
2) Create a namespace
3) Delete the metrics server deployment only.
4) Try to delete the namespace
It stays there forever in 'Terminating' state.

[2019-03-11 21:01] erictune opened #75271 "apiregistration status should list kinds of a group/version"
**What would you like to be added**:
I want to be able to list all the kinds in my cluster using just `kubectl`.

Today, I can see all the groups and versions with `kubectl get apiversions`.
But I can't see what kinds are in that group.

(You can get this from swagger, but that requires using e.g. `curl`.)

The aggregation layer already sets the status for APIService kind.
It could set the list of

[2019-03-11 21:03] erictune commented on #75271
/sig api-machinery

[2019-03-11 21:15] mbohlool commented on #75193
/assign @liggitt

[2019-03-11 21:15] stefanlasiewski commented on #56430
@goblain Are you able to re-open this? It was still an issue when I checked recently (Running Rancher, as shown in rancher/rancher#17248), and it's an issue for @ssgtmas as well.

[2019-03-11 21:16] mbohlool commented on #75194
/sig cloud-provider
/cc @mbohlool @cheftako
/remove-sig api-machinery

[2019-03-11 21:17] mbohlool commented on #75227
/remove-sig api-machinery

[2019-03-11 21:18] mbohlool commented on #75271
what about `kubectl api-resources`?

[2019-03-11 21:44] erictune commented on #75271
Whoa.  TIL.

[2019-03-11 21:44] #75271 closed

[2019-03-11 22:01] goblain commented on #56430
/reopen

[2019-03-11 22:04] bowei commented on #74901
`hostAliases` is a field in the Pod spec, and there are no spec fields from pod in the top-level for Deployment, so I'm hesitant to add docs for this (it's a schema error...) that could apply to any field.

/close

[2019-03-11 22:04] #74901 closed

[2019-03-11 22:11] Huang-Wei commented on #75267
I will take it as I haven't got a chance to explore metrics related code.

/remove-help
/assign

[2019-03-11 22:50] davidz627 commented on #75220
more post-merge comments:
https://github.com/kubernetes/kubernetes/pull/74086#discussion_r264021318
https://github.com/kubernetes/kubernetes/pull/74086#discussion_r264015162

[2019-03-11 22:51] davidz627 commented on #72500
I don't think this has been resolved?
/open

[2019-03-11 22:52] davidz627 commented on #72500
/open

[2019-03-11 22:58] andrewsykim commented on #75262
It's been a while since I dug into the kube-proxy code but IIRC this behaviour is expected. Local only traffic should be blackholed if there are no endpoints on that node.

[2019-03-11 22:59] andrewsykim commented on #75262
/assign

[2019-03-11 23:01] msau42 commented on #72500
Pr #74652 should hopefully address this issue.  It just merged this morning, so it will take some time to see if the serial tests start passing

[2019-03-11 23:29] jpiper commented on #75262
@andrewsykim Ah yes, I can see here

https://kubernetes.io/docs/tutorials/services/source-ip/

```If there are no local endpoints, packets sent to the node are dropped, so you can rely on the correct source-ip in any packet processing rules you might apply a packet that make it through to the endpoint.```

In this case this is frustrating for me as it means I am unable to speak to a loadBalancer I

[2019-03-11 23:31] jpiper commented on #75262
However, it does seem like an issue that if you have an LB IP on a single node, this means that none of the pods on the other nodes can speak via this LB ip... Is this behaviour more acceptable than allowing misrouted connections to hang?

[2019-03-11 23:34] BenTheElder commented on #72956
thanks for moving this, +1 for 1.15, we might actually finish by then :sweat_smile:

[2019-03-11 23:34] jingxu97 opened #75273 "Simplify CleanupMountPoint workflow by removing IsCorruptedMnt and IsNotMountPoint"
By reviewing PR #75087 and the relevant code, we think the function in CleanupMountPoint could be much simplified. In current workflow it does

1. Check path exist or not, if not, return with error
2. Check path is considered corrupted mount point (here we are not very clear what errors should be considered as corrupted mount points in Linux and Windows). If not corrupted mount points, return with

[2019-03-11 23:35] bsalamat opened #75274 "Scheduler should spread pods among physical host"
Scheduler has a spreading mechanism that is enabled by default and spreads pods of a collection (ReplicaSet, etc) among nodes of a Kubernetes cluster. This works reasonably well in cloud environments, but it is not enough in on-prem clusters. Most users run a virtualization layer (KVM, vSphere, etc) on their physical machines and the guest VMs running on these physical machines act as nodes of Kub

[2019-03-11 23:35] jingxu97 commented on #75273
cc @msau42 @saad-ali

[2019-03-11 23:49] msau42 commented on #75273
@kubernetes/sig-storage-bugs

[2019-03-11 23:49] BenTheElder commented on #75095
aside: the CPU / RAM requests are intentionally oversized to make this job ~un-evictable. pretty much everything we're running is best effort QOS rather than guaranteed.

[2019-03-11 23:50] msau42 commented on #75273
I think we can also simplify PathExists by always returning true if err is returned.  Right now it returns false if some non-corrupted err is returned, which I don't think is a safe assumption

[2019-03-11 23:53] bsalamat commented on #75274
There is a related effort (which looks abandoned) by vmware: https://github.com/vmware/vsphere-affinity-scheduling-plugin.
I haven't looked closely at the project, but there are probably many ideas there that we can use here. It seems that it uses an scheduler extender to achieve spreading. We don't want to build an extender for performance reasons, but the spreading algorithm is probably the same

[2019-03-11 23:53] jayunit100 commented on #48792
@liggitt  it makes sense that right now we cannot do this.  In the future, could we make the proxy more configurable ? Example of where it would be nice to have this bifurcated traffic: some proxy's are slow.  I recently saw some sputtering performance in a control plane and , although I never confirmed, i noticed that this might be correlated to air-gapped kubernetes clusters that have proxying t

[2019-03-12 00:00] nhooyr commented on #61239
@liggitt the docs don't seem to have been updated for this. They don't mention the exception.

[2019-03-12 00:02] davidz627 commented on #70773
/remove-lifecycle rotten
/cc @msau42 @xing-yang
not sure if related to current work for `CSIDriver` but just flagging this in case

[2019-03-12 00:05] msau42 commented on #70773
@xing-yang 's PR is not addressing this but will help.

[2019-03-12 00:13] mariantalla opened #75275 "[Flaky test] [sig-storage] [Serial] Volume metrics PVController should create bound pv/pvc count metrics for pvc controller after creating both pv and pvc"
**Which jobs are flaking**:
* [ci-kubernetes-e2e-gce-new-master-upgrade-master](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/2312) ([testgrid](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master
))
* [ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/2154](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci

[2019-03-12 00:16] davidz627 commented on #70773
related PR referenced above: https://github.com/kubernetes/kubernetes/pull/75129

[2019-03-12 00:16] Huang-Wei commented on #75274
It might need to involve sig-cloudprovider, so that right after provisioning, the bm/vm can be tagged properly.

[2019-03-12 00:21] bsalamat commented on #75274
Good point. In fact, it may be useful to have the physical label for nodes running in "cloud" as well.

[2019-03-12 00:34] msau42 commented on #75275
/assign @gnufied

[2019-03-12 00:52] msau42 commented on #75239
This is probably the same issue as https://github.com/kubernetes/kubernetes/issues/72500.

[2019-03-12 00:58] #75025 closed

[2019-03-12 01:08] clkao commented on #74669
Not that since the code path is wrapped with the KubeletPluginsWatcher feature gate, disabling it should theoretically fix this issue, if you don't need csi probing. However the documentation is unclear if the feature gate is required for csi and device plugins to register, or is used for watching newly installed plugins while kubelet is running.

[2019-03-12 01:19] krmayankk commented on #75239
https://github.com/kubernetes/kubernetes/pull/74652 adding the pr that is fixing #72500 and probably this

[2019-03-12 01:37] justinsb commented on #75145
Looking into this now.  Any other googlers also doing so feel free to ping me :-)

[2019-03-12 01:40] cofyc commented on #75196
/assign

[2019-03-12 01:46] denkensk commented on #75274
Maybe I can try to work on it.
/assign
/remove-help

[2019-03-12 02:35] dkrieger commented on #60916
Similarly, when applying a multi-resource yaml file (separated by "---"), the line number given is relative to the resource, rather than the source file. This makes debugging errors when applying e.g. the output of `helm template .` extremely challenging.

[2019-03-12 03:24] #75205 closed

[2019-03-12 03:36] daixiang0 commented on #74801
@liggitt any input?

[2019-03-12 03:46] draveness commented on #75268
Do you suggest that kubectl needs to find the config file in multiple paths by default?

[2019-03-12 03:47] andyzhangx commented on #68791
/reopen

[2019-03-12 03:58] justinsb commented on #75145
Looks like this bug is known with a fix in flight: https://github.com/kubernetes/kubernetes/pull/75129

cc @msau42 @davidz627

[2019-03-12 04:10] msau42 commented on #75145
/assign

[2019-03-12 04:29] andrewsykim commented on #75262
My guess would be [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1574-L1576) but I would advise against this since you may unexpectedly change other parts of the network by doing this.

There is a lot of context to unravel here to answer this question properly :P but overall yes because in most cases the connection wouldn't be misrouted. The proxy rules have

[2019-03-12 04:38] MrHohn commented on #75186
Seems like @freehan has filed https://github.com/kubernetes/ingress-gce/issues/675.

[2019-03-12 06:14] nikopen commented on #75186
this https://github.com/kubernetes/ingress-gce/pull/678 will likely mitigate the CI failures

[2019-03-12 06:22] uablrek commented on #75262
You should probably also remove the loadBalancerIP from the `kube-ipvs0` device. The loadBalancerIP would still not be usable on a local node without endpoints but you will probably get an ICMP or RST back instead of nothing (black-hole).

I thought the same applied for proxy-mode=iptables. Is it really different?

[2019-03-12 06:33] WanLinghao commented on #75274
/cc

[2019-03-12 06:52] herzcthu commented on #42544
+1
It would be nice if we have this features.

[2019-03-12 07:05] annProg commented on #73154
@lbernail I had compiled kube-proxy use the new code in `lbernail/graceful-restart`, and tested with `dig`,
[code]

When restart kube-proxy, all DNS queries have succeeded while original kube-proxy will have some failed query.

[2019-03-12 08:20] MQasimSarfraz commented on #75268
Yes. We can decide if we want to merge both the configs are prioritize relative path (user's home directry) over absolute path to maintain compatibility with existing setups. Do you see any issues with it?

[2019-03-12 08:23] joshshn commented on #40651
+1

[2019-03-12 08:25] mm4tt commented on #75095
Last two runs were successful
![0TGJ4Efzv0i](https://user-images.githubusercontent.com/2604887/54185209-bac24880-44a8-11e9-8b4d-be7972f313ea.png)

/close

[2019-03-12 08:25] #75095 closed

[2019-03-12 08:33] lbernail commented on #73154
@annProg this looks really promising
I'm creating a PR. If there is any doubt on the impacts we can discuss there

[2019-03-12 08:36] feiskyer opened #75281 "Azure outbound rules is not taking effect when using together with standard loadbalancer"
**What happened**:

[Outbound rules](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview) is the recommended way to configure the outbound networks together with Azure standard loadbalancer (SLB).

However, `disableOutboundSNAT` for load balancer rules are disabled by default. That means all frontend IPs would be used as the SNAT IPs for virtual machines, acc

[2019-03-12 09:09] pontiyaraja commented on #68066
@dims can we convert it to conformance now??

[2019-03-12 09:43] danielqsj commented on #75274
/cc

[2019-03-12 09:52] #75198 closed

[2019-03-12 09:54] uablrek commented on #75262
On second thought it may be a bad idea to remove the loadBalancerIP from the `kube-ipvs0` device. An incoming packet would be routed, probably to the default route and back again, until the TTL runs out.
But if the loadBalancerIP remains the `kube-ipvs0` and there is no ipvs entry the packet is treated by the local stack on the node.

[2019-03-12 09:56] mm4tt opened #75284 "[Failing Test] gce-scale-performance failed due to high latency Endpoints POST request"
**Which jobs are failing**: ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are failing**: Density (testing/density/config.yaml)

**Since when has it been failing**: March 11th 2019

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance

**Reason for failure**:
[code]

[2019-03-12 09:56] mm4tt commented on #75284
/sig scalability

[2019-03-12 09:58] uablrek commented on #72236
@lbernail The clusterIP worked from the k8s node main netns but not from a pod on that node. I can't say I understand why. I totally argee on;

[2019-03-12 09:58] dims commented on #68066
Once 1.15 opens up

[2019-03-12 10:08] tghartland opened #75285 "Cloud controller manager is initializing nodes multiple times, slow to finish initializing all nodes"
**What happened**:

When creating a cluster with a fairly large number of nodes (~50), some nodes take up to 30 minutes after being added to the kubernetes node list to be fully initialized. I am using the openstack external cloud provider. Each call of the AddCloudNode method (in `kubernetes/pkg/controller/cloud/node_controller.go`) takes around 2-4 seconds, though this occasionally spikes up to

[2019-03-12 10:08] tghartland commented on #75285
/sig cloud-provider
/area controller-manager

[2019-03-12 10:10] confiq commented on #19317
This didn't work on me in EKS.

[2019-03-12 10:19] mm4tt commented on #75284
This is the call that made the test fail

[code]

It was issued by the Prometheus Operator.

It looks like there was only one POST on endpoints resource made by the Prometheus Operator throughout whole run (not only this particular test).

[2019-03-12 10:23] jpiper commented on #75262
I'm using [metallb](https://github.com/google/metallb) to implement the LoadBalancer type - after reading all these comments I think with my setup, the best way forward is a simple one-line modification that forces MetalLB to work in "local" mode even when the externalTrafficPolicy is set to cluster.

[2019-03-12 10:44] Cherishty commented on #33074
Meet the same issue, any workaround?

[2019-03-12 10:44] mm4tt commented on #75284
It looks similar call happens in all tests with Prometheus stack enabled, the difference is that they happen outside of density/load test and the api call latency is not measured for them.

E.g. run 328 (successful):

[code]

Whereas in run 330 the api call was made after the test started

[code]

[2019-03-12 10:49] mm4tt commented on #75284
Actually, looks like the prometheus stack wasn't created successfully in this test

[code]

Because of that we logged warning and didn't wait for the stack to be healty, this is why the kubelet endpoints object was created during density test

[2019-03-12 10:55] mm4tt commented on #75284
To summarize, AIs coming from this issue:

1. Configure Prometheus Operator to not create kubelet Endpoints - we don't monitor kubelets in our scale tests so we don't need it. Alternative is to wait for the kubelet Endpoints object to be created in the `waitForPrometheusToBeHealthy`

2. Make sure we retry errors like `Post https://34.73.197.67/apis/rbac.authorization.k8s.io/v1/clusterrolebindings:

[2019-03-12 12:42] lidongdong536 opened #75286 "I can`t run the build/run.sh while i checkout to release-1.13"

[2019-03-12 12:47] lidongdong536 commented on #75286
I can`t run the build/run.sh while i checkout to release-1.13
   at a week ago i`ll clone the k8s code at my machine & i notice the cross`s version is v1.12.0-1,then i download the image and load on my machine ,i can run the command "build/run.sh make kubectl KUBE_BUILD_PLATFORMS=linux/amd64",the command wass success.But this day i run it become failed.And i already download the right version cors

[2019-03-12 12:48] konghui opened #75287 "connect to validate service timeout"
**What happened**:
Apiserver always display
[code]
10.254.76.42 is the address of the webhook service.

**What you expected to happen**:
apiserver can connect webhook server

**Anything else we need to know?**:
1:I can successful connect this port in the container. But in the host I can't. My Apiserver is running on the host, not in the container
2: I run the kube-proxy in the host of apiserver bu

[2019-03-12 12:57] xiaomj commented on #63900
worked.But why deploy twice solved? I checked route items using `ip route`, found nothing different.

[2019-03-12 13:06] sorenmat commented on #23581
@k this is exactly what https://github.com/sorenmat/k8s-rds is all about :)

[2019-03-12 13:13] lidongdong536 commented on #75286
@tallclair

[2019-03-12 13:21] strangedev commented on #70334
I am also experiencing this issue on Kubernetes v1.13.4.
I am running Kubernetes with Docker 18.06.3-ce (d7080c1) on Debian 9 stable.

[2019-03-12 13:25] IvanovOleg opened #75288 "Azure disk PVC resizing doesn't work"
**What happened**: I tried to resize the PVC (Azure managed disk) attached to the cassandra pod. I've changed the pvc request size, but the status of the pv has not been changed as described [here](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/)

When I describe that PVC it displays the next error:
` Warning    VolumeResizeFailed  94s                    volume_

[2019-03-12 13:25] IvanovOleg commented on #75288
/sig Azure

[2019-03-12 13:28] nikopen commented on #71143
#71192  has been merged, is this good for closing? @liggitt @roycaihw

[2019-03-12 13:43] val1715 commented on #44815
According to @leebenson  answer: can anyone explain where from is coming `append: true` option ??

it does not work for me, i got:
[code]

Also, it is not present in api docs for volume mount :
https://k8smeetup.github.io/docs/api-reference/v1.9/#volumemount-v1-core

[2019-03-12 14:01] cmluciano commented on #75186
Assigning to freehan and kubernetes/ingress-gce#678 's reviewer

/assign @MrHohn @freehan

[2019-03-12 14:03] cmluciano commented on #75186
@nikopen Can we move this to "Under investigation" on the CI project board?

[2019-03-12 14:21] nikopen commented on #75186
@mariantalla ^^

[2019-03-12 14:27] SeniuuS opened #75290 "Kube Proxy IPVS Mode with ExternalIP resulting in disconnected workers (with itself loopback)"
**What happened**:
I am using Kubernetes in my project to deploy and access my multiple backend API components. I installed it with kubeadm and kubectl. I have one master (192.168.101.7) and two nodes (192.168.101.4, 192.168.101.6). Everything is working fine with the default proxy mode of kube-proxy : iptables. I have deployed nginx-ingress and my API. The service for nginx-ingress is of type Ext

[2019-03-12 14:35] futare commented on #51096
Same experience.  I'm using kops on AWS v1.10.6.  `timeoutSeconds` to 5 (I tried higher also) but metrics show sub second response time.  Using tomcat in pod.  Get `200` in tomcat access logs and externally app responds fine. Can reach from kubelet host fine also. Using `r5` instances.  Anyone here have suggestions?

[2019-03-12 14:38] cmluciano commented on #75262
/triage support

[2019-03-12 14:44] GuilleCabrera commented on #75236
Hello, when updating from v1.12.5 to v1.12.6, the following message appears:

[code]
This MAC corresponds to the Docker NIC:

[code]
This error does not appear in version v1.12.5

[2019-03-12 14:48] cmluciano commented on #75189
/triage unresolved

[2019-03-12 14:51] coneking commented on #75236
Hi,

Same issue here. Upgrading our cluster to v1.12.6 we have this message.

[code]

In previous version (v.1.12.5) everything was fine

[2019-03-12 14:57] soggiest commented on #70249
We're well into code freeze for 1.14, is this necessary/release-blocking? Also, this seems to be a major enhancement without a KEP as mentioned above. Based on the work defined above that's appears to be remaining and there is no KEP associated with this do you mind if we push this to 1.15?

[2019-03-12 14:59] soggiest commented on #48719
We are in the middle of code freeze for 1.14. can we get some more reviews on this and someone assigned to work on it?
@kubernetes/sig-network-bugs

[2019-03-12 15:05] cmluciano commented on #75238
@praseodym Can you docker inspect the proxy pod and put the list of masked/read-only paths as a snippet here?

[2019-03-12 15:06] gnufied commented on #75275
@bertinatto has volunteered to work on this. Assigning it to him.

/assign @bertinatto

[2019-03-12 15:07] cmluciano commented on #75238
/triage needs-information

[2019-03-12 15:07] gnufied commented on #75275
Fabio has volunteered to work on this.

/assign @bertinatto

[2019-03-12 15:11] hoegaarden commented on #71677
/milestone 1.15
As discussed amongst @spiffxp @timothysc @hoegaarden and others

[2019-03-12 15:17] soggiest commented on #70816
@pbarker we're well into Bug Freeze and there seems to be quite a bit of work associated with this. Can we move it to 1.15?

[2019-03-12 15:26] andrewsykim commented on #75262
/close

Closing this for now given the proxy is behaving as expected.

[2019-03-12 15:26] #75262 closed

[2019-03-12 15:45] cmluciano commented on #75186
/triage unresolved

[2019-03-12 15:47] mariantalla commented on #74893
@justinsb Is this something you could help with?

[2019-03-12 15:51] bclau opened #75292 "Some HostPath tests do not require privileged Containers to pass"
/sig testing
/sig windows

/area conformance

**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    [sig-storage] HostPath should support r/w [NodeConformance]
    [sig-storage] HostPath should support subPath [NodeConformance]

**Since when has it been failing**:

Before 2019-03-07. Since then, the Windows nodes' kubelet service has been passed the ``--allow-privileged=true``, whi

[2019-03-12 15:51] mikebrow commented on #75238
@Random-Liu I'm not sure why exactly ... but it looks like we might need to filter the mask requests when they also want privilege, would prefer this get filtered on the kublet side. Maybe discussion the node call?

https://github.com/containerd/cri/commit/3e4cec8739bbb0db0764f6db80a25a3f75411c0b#r30721207

[2019-03-12 15:57] cmluciano commented on #75172
cc @caseydavenport @dcbw @thockin

WDYT about the proposal to change this from an ICMP call?

We probably need input from sig-architecture as well since this as well

/sig architecture

[2019-03-12 15:58] cmluciano commented on #75172
/triage unresolved

[2019-03-12 16:01] pbarker commented on #70816
yes no problem @soggiest, thank you

[2019-03-12 16:02] johnbelamaric commented on #63900
It is certainly strange. I would want to see:

1) your service, deployment and configmap resources, along with some event history (kubectl describe or kubectl get events) - before and after the issue
2) logs from the CoreDNS containers both working and not working

[2019-03-12 16:02] cmluciano commented on #75238
Talked to @mikebrow about this and we agreed that this is a sig-node issue.

/assign @mikebrow

/remove-sig network cluster-lifecycle

[2019-03-12 16:03] cmluciano commented on #75238
/triage unresolved

[2019-03-12 16:04] mariantalla commented on #75045
This is still flaking quite heavily, even after #72500 was closed. Could it be prioritized please @msau42 ?

[2019-03-12 16:05] mariantalla commented on #74813
Hi, is this still flaking, could it be prioritized please @msau42 ?

[2019-03-12 16:09] #69715 closed

[2019-03-12 16:09] #69679 closed

[2019-03-12 16:18] dims opened #75293 "Extracting CRI API to a new staging repository"
Looking at say some of the end users of the CRI API

CRI-O : https://github.com/kubernetes-sigs/cri-o/tree/master/vendor/k8s.io/kubernetes/pkg/kubelet
Kind : https://github.com/kubernetes-sigs/kind/tree/master/pkg/container/cri
cri-containerd : https://github.com/containerd/cri/tree/master/vendor/k8s.io/kubernetes/pkg/kubelet/apis/cri/runtime/v1alpha2

Can we please use a staging/ repository and e

[2019-03-12 16:19] dims commented on #75293
cc @runcom @vbatts @mrunalp @BenTheElder @derekwaynecarr

[2019-03-12 16:20] dims commented on #75293
kind of related to https://github.com/kubernetes/enhancements/pull/866

[2019-03-12 16:20] dims commented on #75293
/sig node

[2019-03-12 16:20] dims commented on #75293
@kubernetes/sig-node-feature-requests

[2019-03-12 16:22] mm4tt opened #75294 "Creating large Endpoints objects in large clusters takes long"
**What happened**:
Creating large (e.g. mapping to 5K pods) Endpoints objects takes really long - from a few seconds to over ten seconds.
We've noticed that in recent runs of our scalability tests (see https://github.com/kubernetes/kubernetes/issues/75284).
Below few examples (all from 5k nodes clusters)

1.  Creating Endpoints object for 5K kube-proxy pods:

    [Run 330](https://prow.k8s.io/view

[2019-03-12 16:23] mm4tt commented on #75294
/sig scalability
/assign

[2019-03-12 16:25] soggiest commented on #70816
/milestone v1.15

[2019-03-12 16:27] mariantalla commented on #71423
Thanks!

Will keep an eye on it for a few days, on the following dashboards:
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster&width=20
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster&width=20
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster&width=20
* https://testgrid.k8s.io/sig-release-ma

[2019-03-12 16:30] vbatts commented on #75293
And Alibaba pouch

-------- Original Message --------
On Mar 12, 2019, 12:23, Davanum Srinivas wrote:

[2019-03-12 16:34] soggiest commented on #74903
Hello, with the associated PRs for this issue merged can we close this issue?

[2019-03-12 16:34] dims commented on #75293
https://github.com/alibaba/pouch/tree/master/cri/apis/v1alpha2 thanks @vbatts

[2019-03-12 16:41] liggitt commented on #74903
/close

[2019-03-12 16:41] msau42 commented on #75045
@mariantalla I took a quick look at the logs, and it looks like upgrading the nodes to master failed, so the tests afterwards ran against 1.13, which does not have this fix.

I would focus efforts on triaging why the upgrade from 1.13 to 1.15 failed first.

[2019-03-12 16:44] koalalorenzo commented on #33074
Yes: Don't use Microsoft Azure.

[2019-03-12 16:49] msau42 commented on #75045
This is probably similar to the failed cluster upgrade in https://github.com/kubernetes/kubernetes/issues/74890

[2019-03-12 16:50] michmike commented on #74218
@craiglpeters already worked with msft to publish this image at mcr.microsoft.com/k8s/core/pause:1.0.0
can we close this issue now?

cc: @neolit123

[2019-03-12 16:54] msau42 commented on #74813
@mariantalla what's the difference between this issue and #75045? They're both pointing to the same testgrid job... gce-new-master-upgrade-cluster

[2019-03-12 17:07] chancez commented on #67728
/remove-lifecycle rotten

[2019-03-12 17:07] msau42 commented on #75045
/remove-sig storage
/sig cluster-lifecycle
cc @justinsb

[2019-03-12 17:07] chancez commented on #67728
Is there a similar issue for logs? I'm not finding one.

[2019-03-12 17:13] jethrogb commented on #58477
/remove-lifecycle stale

[2019-03-12 17:16] soggiest commented on #74150
@jsafrane Can we move this to v1.15?

[2019-03-12 17:16] timothysc commented on #74893
/assign @justinsb
/cc @kubernetes/sig-gcp-bugs

These tests should probably change ownership to GCP now-a-days b/c the sig does not maintain them and they are only owned by google.

[2019-03-12 17:16] caseydavenport commented on #74298
The Calico CNI plugin makes calls to the Kubenretes API usually using the `kubernetes.default` service, so it's relying on kube-proxy to get there. Often when this fails, it's due to something on the kube-proxy side (e.g, not running, misconfigured, etc).

Is the error persistent? Or does it eventually resolve itself and the Pod launches? I'm wondering if this might be a transient effect of the re

[2019-03-12 17:19] jsafrane commented on #74150
Yes, we can. I am still waiting for test system from Mrunal.

/assign @mrunalp

[2019-03-12 17:23] 1VarunCh1 opened #75296 "CPU resource limit is not working with windows containers"
**What happened**: CPU resource limit is not working for windows containers

**What you expected to happen**: Container should get terminated when it uses more resources than the specified limit.

**How to reproduce it (as minimally and precisely as possible)**: Create cluster using the following version of aks-engine and Kubernetes.
aksengineVersion: v0.30.0
orchestrator : kubernetes:1.12.5

Crea

[2019-03-12 17:24] soggiest commented on #74150
/milestone 1.15

[2019-03-12 17:25] soggiest commented on #74150
/milestone v1.15

[2019-03-12 17:29] liggitt commented on #71143
yes

/close

[2019-03-12 17:29] #71143 closed

[2019-03-12 17:31] neolit123 commented on #74218
@michmike

just tried the image and it runs fine on my 1809.
also i'm seeing the image is a schema v2, nano server based.

so yes, i think we can close.
thanks for the update!

/close

[2019-03-12 17:31] #74218 closed

[2019-03-12 17:33] liggitt commented on #61430
kubectl work on this is complete, green CI with the extensions/v1beta1 resources disabled [required no kubectl changes](https://github.com/kubernetes/kubernetes/pull/70672)

/close

[2019-03-12 17:33] #61430 closed

[2019-03-12 17:34] dchen1107 commented on #75195
@wangzhen127 can you take a look at this issue too? Thanks!

[2019-03-12 17:35] kow3ns commented on #74916
@llamasoft The KEP process is described [here](https://github.com/kubernetes/enhancements/). You can open a KEP via a PR against the SIG Apps repository. You can use me as your approver.

As to the compatibility of the current PR, the current label generation is v1 and has worked the same way for several years now. Users that select the PVCs created by the controller have a reasonable expectation

[2019-03-12 17:37] ncdc opened #75297 "Support Kubernetes versions with semver build metadata (+)"
**What happened**:
Some portions of the build scripts do not allow the Kubernetes version to contain semver build metadata, which is delineated using a `+`, such as `v1.13.4+foo.bar.baz`.

**What you expected to happen**:
We should allow semver build metadata.

**How to reproduce it (as minimally and precisely as possible)**:
Create a git tag such as `v1.13.4+foo` and try to get all the builds & t

[2019-03-12 17:38] ncdc commented on #75297
cc @rdodev @ixdy @dims @frapposelli @figo @akutz @timothysc

[2019-03-12 17:40] JanBielawski commented on #57801
Still not work!

Even if you use "apiVersion: extensions/apps/v1" as the K8s V1.13 documentation recoments.

Get
`error validating data: ValidationError(Deployment.spec.template.spec.containers[0]): unknown field "imagePullSecrets" in io.k8s.api.core.v1.Container; if you choose to ignore these errors, turn validation off with --validate=false`

For:
[code]

[2019-03-12 17:43] kow3ns commented on #75216
This is too far from the current design of statefulset. If you are interested in implementing this you can implement a custom controller using [kubebuilder](https://book.kubebuilder.io/). If you disagree and you want to offer a design for community discussion you can offer a [KEP](https://github.com/kubernetes/enhancements) in SIG Apps and present it to the community.
/close

[2019-03-12 17:43] #75216 closed

[2019-03-12 17:46] 1VarunCh1 commented on #75296
@kubernetes/sig-windows-bugs

[2019-03-12 17:47] dchen1107 commented on #75039
@dashpole Can you please triage the failing test? Thanks!

[2019-03-12 17:49] frapposelli commented on #75297
/priority important-soon

[2019-03-12 17:50] benmoss commented on #74759
yes, there's no reason that these plugins need to live in https://github.com/containernetworking/plugins, there are lots of CNI plugins that aren't in that repo. It'd be great if Microsoft released these as a normal software project.

[2019-03-12 17:50] kow3ns commented on #75136
Please offfer a [KEP](kubernetes/enhancements) for this proposal if you intend to implement it. You can add me as an approver along with @janetkuo.

[2019-03-12 17:50] kow3ns commented on #75136
/assign

[2019-03-12 17:50] dchen1107 commented on #74897
This is not a release blocker.

[2019-03-12 17:57] Random-Liu commented on #75195
@kacole2 I don't see the test running in sig-release-master-informing#gce-master-scale-correctness.

Are you sure that is the correct job?

[2019-03-12 17:57] wangzhen127 commented on #75195
I will take a look now.

[2019-03-12 18:01] csgcp commented on #44665
I got this error on `kubectl get all` because there was no cluster created. After creating a cluster with `gcloud container clusters create` the error went away and the kubectl command worked.

[2019-03-12 18:02] soggiest commented on #74897
Since this is not a release blocker I'm going to remove the 1.14 milestone.
/milestone clear

[2019-03-12 18:02] mariantalla commented on #74897
@dchen1107 Makes sense. As it's still release informing - are you concerned about the memory usage exceeding the limits expected by the test?

[2019-03-12 18:07] justinsb commented on #74890
@neolit123  great find!  I'm trying to figure out why that is panic-ing - do you have any links for the "go routine mutex wakeup problem" you referenced?

[2019-03-12 18:11] mariantalla commented on #75039
The `0 pods per node` test is also flaking in the upgrade dashboards (not as heavily; [testgrid](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new&width=20)), due to memory usage exceeding the expected limits.

Will create a separate issue and link here.

[2019-03-12 18:19] donbowman commented on #57801
in your example you still have it in the wrong spot. it needs to be peer to containers. not under a specific container.

[2019-03-12 18:23] zhan849 commented on #75136
thanks @kow3ns ! The KEP link you provided does not work, and can you pls point me to a past KEP example as well?

[2019-03-12 18:26] cmluciano commented on #48719
@soggiest This should be fixed as soon as https://github.com/kubernetes/kubernetes/pull/74394 merges. It's mostly approved and is currently running through CI.

[2019-03-12 18:35] mariantalla opened #75298 "[Flaky test] [k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 0 pods per node"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gce-new-master-upgrade-master`
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new`

**Which test(s) are failing**:
`[k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 0 pods per node`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-c

[2019-03-12 18:36] mariantalla commented on #75298
Adding it to 1.14 for now, but it's lower priority than https://github.com/kubernetes/kubernetes/issues/75039.

/milestone v1.14

cc @smourapina @alejandrox1 @kacole2 @mortent

[2019-03-12 18:39] jeff1985 commented on #28746
Is there a workaround for this problem? I currently have a usecase, where I'm trying to catch the output of a started Job in CI. And I was thinking, that I could at least wait for the "active" status of the job by this the following shell script:

    'while  [ "$(kubectl -n $NAMESPACE get jobs/$MIGRATIONS_JOB -o yaml | grep active)" != "  active: 1" ]; do printf "."; sleep 1 ; done'

But no! It i

[2019-03-12 18:43] mariantalla commented on #75186
Hey @cmluciano I noticed the `triage/unresolved` label - does that mean that it won't be resolved (as is documented [here](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md)) or that it hasn't been yet?

[2019-03-12 18:45] Huang-Wei commented on #75172
An alternative is to issue a TCP/UDP request to 8.8.8.8 on port 53.

[2019-03-12 18:54] benmoss opened #75299 "Windows Host Compute Service (HCS) hangs causing PLEG to become unhealthy"
**What happened**:
While running e2e tests on the [vSphere Windows test job](https://k8s-testgrid.appspot.com/sig-windows#cfcr-vsphere-windows-master) we have seen nodes become `NotReady` with an error like "PLEG is not healthy: pleg was last seen active 41m55.9286222s ago; threshold is 3m0s."

Tracing the code, it seems that the GenericPLEG will call [GetPodStatus](https://github.com/kubernetes/k

[2019-03-12 19:04] michmike commented on #74218
perfect thanks @neolit123

[2019-03-12 19:08] michmike commented on #75296
@1VarunCh1 please note the memory over provisioning section of the KEP that explains part of what you are seeing. this is not fully implemented in k8s yet for windows.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md#memory-overprovisioning

@feiskyer can you also please take a look?

[2019-03-12 19:09] cmluciano commented on #75186
@mariantalla No this is a misunderstanding on my part with what this label meant. I thought it signified "open but unassigned" .

/remove-label triage/unresolved

[2019-03-12 19:12] #69774 closed

[2019-03-12 19:14] 1VarunCh1 commented on #75296
@michmike I have updated the issue description with an example which shows the wrong value being passed to HCS. I'm using Standard_DS13_v2 machines with 8 cores. So I would expect ProcessorWeight to be 1250 (for the container with cpu limit 1) and 125 (fir the container with cpu limit 100m) instead of 5000 for both the containers.

[2019-03-12 19:15] michmike opened #75300 "Remove public visibility on Trello Board"
please remove the public visibility option from the old board https://trello.com/b/rjTqrwjl/windows-k8s-roadmap

people have found it through google search

[2019-03-12 19:16] michmike commented on #75300
/sig windows
/assign @PatrickLang

[2019-03-12 19:25] wangzhen127 commented on #75195
@kacole2, can you update the test grid link? I don't see the test, either. And FYI, this test is now disabled on large clusters. See https://github.com/kubernetes/kubernetes/pull/75177.

[2019-03-12 19:33] daschott commented on #75299
@nagiesek FYI

[2019-03-12 19:42] fturib commented on #74849
Hi,

We can't really do support on github. You should re-ask this question on slack, discuss, or stack overflow to get the best help.

[2019-03-12 19:43] fturib commented on #74849
That said, it sounds like you have no upstream DNS service configured.
In that case you can just remove the directive `loop` from the coredns Configmap: in suche case there will be no loop detection tentative, and you will not get this error.

[2019-03-12 19:44] fturib commented on #74849
/close

[2019-03-12 19:45] rajansandeep commented on #74849
/close

[2019-03-12 19:45] #74849 closed

[2019-03-12 19:48] neolit123 commented on #74890
@justinsb

i tried looking for where the error string is coming from and ended up here:
https://github.com/golang/go/blob/release-branch.go1.12/src/sync/mutex.go#L143

also:
https://github.com/golang/go/blob/release-branch.go1.12/src/sync/mutex.go#L42

so a routine was woken, it attempts to acquire a lock, but it fails and the mutex enters starvation mode.
the FIFO waiters are supposed to set the

[2019-03-12 19:54] nagiesek commented on #75299
@madhanrm  Whats the version number of your windows build?

[2019-03-12 19:58] benmoss commented on #75299
Windows version:
[code]

[2019-03-12 20:00] mariantalla commented on #74813
Yep they look the same, just a week or so apart. What probably happened is we closed this as it was passing, then opened https://github.com/kubernetes/kubernetes/issues/75045, then reopened this.

I'll close this in favour of https://github.com/kubernetes/kubernetes/issues/75045, as the most recent conversation is there.

/close

[2019-03-12 20:00] #74813 closed

[2019-03-12 20:06] tallclair commented on #68717
Where are you getting the calico setup from? In the Kubernetes addons directory, the calico node daemonset uses the "calico" service account: https://github.com/kubernetes/kubernetes/blob/ede55fd572985547208c79eb73c122f3e8f7f79c/cluster/addons/calico-policy-controller/calico-node-daemonset.yaml#L27

And includes a PodSecurityPolicy binding for that SA: https://github.com/kubernetes/kubernetes/blob

[2019-03-12 20:09] mikebrow commented on #75293
hmm..

Might want to add this as a task within the kep we talked about the last couple weeks for removing dockershim from the kublet tree and moving to CRI from alpha to ga, as these are IMO interrelated activities.

[2019-03-12 20:16] praseodym commented on #75238
@cmluciano Sure thing:

<details>
<summary>crictl inspect</summary>

[code]
[code]

</details>

It has a privileged security context:
<details>
<summary>kube-proxy ds</summary>

[code]

</details>

[2019-03-12 20:18] #48719 closed

[2019-03-12 20:19] #75135 closed

[2019-03-12 20:20] praseodym commented on #75236
This is the relevant PR that was backported to v1.11.7, v1.12.6 and v1.13.4: https://github.com/kubernetes/kubernetes/pull/73721/files

[2019-03-12 20:24] andrewsykim commented on #69585
/assign

[2019-03-12 21:19] vinsguru commented on #75250
@khteh
The JMeter test - is that something you could share?

[2019-03-12 21:26] neolit123 commented on #75287
/sig network

[2019-03-12 21:26] neolit123 commented on #75290
/sig network

[2019-03-12 21:27] justinsb commented on #74890
Great analysis @neolit123 ... I agree that something is weird, and I agree that it seems like the 1.12 update is probably not unrelated.  Re-creating sync.Once without a mutex is a bit tricky, but your suggestion looks right (though it probably should use sync.CompareAndSwapUint32).  I can send a PR, unless you want to?

[2019-03-12 21:42] obitech commented on #68026
#75303:

[code]

[2019-03-12 21:46] neolit123 commented on #74890
i really don't have a setup to debug this failure properly. :\
any chance we can get the attention of krousey on this, as he is the author of the upgrade framework logic?

[2019-03-12 21:50] saiyan86 commented on #75132
I will fix this issue.

[2019-03-12 21:53] tallclair commented on #70249
Definitely not release-blocking.
/milestone v1.15

@yuwenma it sounds like there's demand for a KEP. Would you mind translating your design doc into a KEP? Follow https://github.com/kubernetes/enhancements/blob/master/keps/0001-kubernetes-enhancement-proposal-process.md for guidelines.

[2019-03-12 21:56] tallclair commented on #64531
I'm a bit ignorant of all things windows. Does "all processes" really mean everything, including unprivileged containers, or do you just mean all processes in the host network namespace (or whatever the windows equivalent is)?

[2019-03-12 21:57] benmoss commented on #75132
@saiyan86 sorry I forgot to link my PR, already sent one in for this and other security context fields

[2019-03-12 22:04] justinsb commented on #74890
I did ping @krousey and (I think) he concurs.  Your analysis was much deeper than what I did @neolit123 :-)  I was thinking it was something to do with copying the mutex somehow.

What I propose we do is that we get a compare-and-swap in there (I'll send a PR) and then we get the attention of the go team as it feels like a 1.12 regression if it does fix it.

I haven't been able to reproduce the pr

[2019-03-12 22:06] james-callahan commented on #64547
/remove-lifecycle stale

[2019-03-12 22:12] justinsb commented on #74890
CAS idea is in #75305.  I don't have a better idea than trying it and seeing if it works...

[2019-03-12 22:14] yastij commented on #75285
/sig scalability

Doing so might overload the apiserver, as for each update event we request against a node object against the apiserver.

cc @wojtek-t @andrewsykim

[2019-03-12 22:32] andrewsykim commented on #75285
@tghartland thanks for reporting this issue! Can you share what version of the OpenStack external cloud controller manager you are using? cc @dims

[2019-03-12 22:32] andrewsykim commented on #75285
/assign

[2019-03-12 22:32] andrewsykim commented on #75285
/area cloudprovider

[2019-03-12 22:44] #73648 closed

[2019-03-12 23:03] dashpole commented on #75039
[code]

It looks like we must have added an additional pod to each node at some point...  Ill dig and try and find which pod that is.

[2019-03-12 23:10] dmarkey commented on #75247
I think I have some more information that might help. At the time of the autoscaling, there was 2 ReplicaSets in flight due to a deployment that was not rolling out properly.. I think this confused the HPA

[2019-03-12 23:21] dashpole commented on #75039
It looks like these tests are being run in parallel?  I see a bunch of pods from other tests on the node:
[code]

For example, `res-cons-upgrade` is from the HPA test.

[2019-03-12 23:36] dashpole commented on #75039
Either way, this is not release blocking, as the test is only failing because of improper test setup.  Tests marked `[Serial]` must be run serially, and often rely on all node resources (including `Pods`) being available.

[2019-03-12 23:40] dashpole commented on #75039
/priority important-soon

cc @krzyzacy @justinsb
Who have worked on this test recently, and may have context.  This coincides with the 1.12 update (https://github.com/kubernetes/test-infra/pull/11583).  It looks like the test suite is incorrectly running tests in parallel, but i'm not sure how the two are related.

[2019-03-12 23:46] krzyzacy commented on #75039
/cc @amwat
poking

[2019-03-12 23:51] krzyzacy commented on #75039
I don't think it's running in serial?
[code]

Oppose to the parallel suite where you can see logs like

[code]

I'm more worry about the actual UpgradeTest itself is panicking, anything running afterwards will not be a valid signal.

[2019-03-12 23:56] amwat commented on #75039
I think it might be  related to the go1.12 update, there are other failures in the upgrade jobs that are legitimate failures: https://github.com/kubernetes/kubernetes/issues/74890

[2019-03-13 00:12] tghartland commented on #75285
@andrewsykim I think in our production kubernetes deployments it's version 0.2, but for my own testing I was replacing with openstack-cloud-controller-manager built from the master branch (and modifying the vendored k8s.io/kubernetes, which was 1.13). Both were affected.

@yastij if getting the current state of the node is not feasible at scale, is there any way to determine the age of the Update

[2019-03-13 00:56] khteh commented on #75250
Share what?

[2019-03-13 01:09] BrendanThompson commented on #70147
Would love to see if there is any progress on discussions with this feature. There is definitely a need for it, especially when it comes to `imagePullSecrets` for pulling Docker images from a private repository. Seems as though the only way to do it currently it to create secret for each namespace, which could cause issues if namespaces were to get out of sync, lets say, if the credentials were to

[2019-03-13 01:47] vinsguru commented on #75250
The jmeter .jmx

[2019-03-13 01:51] khteh commented on #75250
What do you want to do with it?

[2019-03-13 01:52] andrewsykim commented on #75285
This isn't ideal, but it's not completely unreasonable given how many calls to the cloud provider is done as part of node registration.

Yeah, this is a bit unfortunate and I would be happy to discuss ways to improve this. The reason this is hard to work around is that node update events happen frequently due to updates that are triggered from node heartbeats so it's very likely that we receive an

[2019-03-13 02:00] andrewsykim commented on #75285
I opened a tracking issue for this here https://github.com/kubernetes/cloud-provider/issues/18, this will probably be p0 or p1 (high priority) for v1.15. Thanks for reporting it!

[2019-03-13 02:01] wgliang commented on #72506
link https://github.com/kubernetes/enhancements/pull/890

[2019-03-13 02:19] #69778 closed

[2019-03-13 02:20] liggitt commented on #74801
information about immutability of fields is not consistently published today

[2019-03-13 02:30] WanLinghao opened #75311 "Pod status update bug when node was lost"
**What happened**:
When TaintBasedEvictions is enabled, if node was lost, the pods running on that node would not change their status.

**What you expected to happen**:
The node controller should update their states to be unknown/nodelost.

[2019-03-13 02:31] shigy123456 commented on #74929
This problem has been resolved by simply shutting down the defaultstorageclass controller with the following configuration：
- --disable-admission-plugins=DefaultStorageClass

@mlmhl  Thank you for your attention.

[2019-03-13 02:31] #74929 closed

[2019-03-13 02:33] dunjut commented on #74950
@prameshj Sorry I just noticed your reply.

This should be easy to reproduce, you can change `serviceName` to 'web' and keep the real headless service's name being 'nginx', then dns fails.

The headless service with a selector already includes the pods in StatefulSet, I just don't understand why `serviceName` is needed.

[2019-03-13 02:49] WanLinghao commented on #75311
/sig cluster-lifecycle

[2019-03-13 02:53] feiskyer commented on #75293
Looks reasonable. We may need another KEP for CRI GA, as there're still some issues to solve, e.g. streaming APIs and version compatibility. Those issues are independent of any runtimes. @yujuhong

[2019-03-13 03:01] daixiang0 commented on #74801
@liggitt hi, i add a comment as #75316, may be helpful for confused users like me.

[2019-03-13 03:06] d-nishi commented on #73810
/close as @itskarthikholla did not respond.

Please refer to this issue and reopen if you face the same issue.

[2019-03-13 03:06] reaperes commented on #64137
Same hacks for here. I used these systemd unit.
https://gist.github.com/reaperes/34ed7b07344ccc61b9570c46a3b4e564

[2019-03-13 03:19] cofyc commented on #75196
The test '[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]' does not fail [in recent runs](https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster&width=20&include-filter-by-regex=subPath%20should%20unmount%20if%20pod%20is%20gracefully%2

[2019-03-13 03:57] michmike opened #75319 "Identify better logging options for windows kubelet and kube-proxy"
Identify better logging options for the windows version of the kubelet and kube-proxy

some initial requirements include
-log rotation
-log retention size
-document the above solution to our public docs

/sig windows

[2019-03-13 03:58] michmike commented on #75319
this email thread has some additional detail - https://groups.google.com/forum/#!topic/kubernetes-sig-windows/EFH1QMTAYyA

[2019-03-13 03:59] justinsb commented on #75039
@krzyzacy I think you meant "I don't think it is running in parallel"?

That was the conclusion I came to also - that there was only one ginkgo runner visible.

Both jobs are showing the scary "fatal error: sync: inconsistent mutex state" panic which #74890 is a best-guess effort to solve.  It really is just trying to gather more data though, it's not really a fix...

[2019-03-13 04:27] rafmonteiro commented on #52757
@cheyang Thank you for opensourcing this solution! However I'm a bit confused... Looking at the Installation Guide Step 1 is to download `https://raw.githubusercontent.com/AliyunContainerService/gpushare-scheduler-extender/master/config/gpushare-schd-extender.yaml` then on Step 2 you mention `kube-scheduler.yaml` So I'm not sure if I should modify something on Step 1 or not.
My second question is:

[2019-03-13 04:39] andreykaipov commented on #62841
@Stono Your StatefulSet example doesn't work as expected because your service selector is `name: busybox`, but the labels in the pod spec template are `app: busybox`.

The following example works for me.
[code]

Pods can resolve other pods through `test-<index>.headless.default.svc.cluster.local`. I tested this out on GKE v1.12.5-gke.10. Note the headless service doesn't specify any ports. The dum

[2019-03-13 05:29] prameshj commented on #74950
I understood the issue now, maybe it should read "Pod's dns subdomain cannot be resolved if headless service name not same as serviceName in StatefulSet spec"? This is working as intended. From the api doc:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#statefulset-v1-apps

"selector is a label query over pods that should match the replica count. It must match the pod templa

[2019-03-13 05:29] #74950 closed

[2019-03-13 06:32] RahulG115 commented on #33671
dont forget to fflush default iptable rules on centos  before running kubelet service

[2019-03-13 07:22] mm4tt opened #75322 "[Failing Test] gci-gce-scalability-1.11/1.12/1.13/1.14 fails when setting up Prometheus stack"
**Which jobs are failing**: gci-gce-scalability-1.11, gci-gce-scalability-1.12, gci-gce-scalability-1.13, gci-gce-scalability-1.14

**Which test(s) are failing**: ClusterLoader2

**Since when has it been failing**: 13.03.2019

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gci-gce-scalability-1.11, https://k8s-testgrid.appspot.com/sig-scalability-gce#gci-gce-scalability-1.

[2019-03-13 07:23] mm4tt commented on #75322
/sig scalability
/assign

[2019-03-13 07:33] xiaoxubeii commented on #75274
/cc

[2019-03-13 07:39] zhtangsh commented on #73140
Just came into same issue with v1.11.2. In my case, node port got released after sleep 60 seconds.

[2019-03-13 07:45] mm4tt commented on #75322
We stopped exposing metrics on 0.0.0.0 in previous releases due to https://github.com/kubernetes/kubernetes/issues/74123 - https://github.com/kubernetes/test-infra/pull/11313
Looks like the issue was fixed by https://github.com/kubernetes/kubernetes/pull/72682, which was cherry-picked recently

We should be good to revert https://github.com/kubernetes/test-infra/pull/11313, which should fix this i

[2019-03-13 07:56] mm4tt commented on #73461
Recent failure should be investigated - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/2286
Looks like a flaky failure, will take a look later

[2019-03-13 08:00] mm4tt commented on #75322
https://github.com/kubernetes/test-infra/pull/11748 should fix the problem.

Let's wait for the next test runs to verify before closing.

[2019-03-13 08:09] mm4tt commented on #75294
I tried to reproduce it on smaller cluster (50 nodes), with artificially big master (n1-standard-64, to match the 5K cluster setup).

I created a big endpoints object (8192 ip addresses) via kubectl apply, but the latency was satisfactory. I repeated the test few times and every time it took ~1s and generated a trace similar to this one:

[code]

[2019-03-13 08:28] mm4tt commented on #75294
I've reserved a scale-testing slot on 03/26 to reproduce the issue on the real 5K node cluster

[2019-03-13 08:52] nikopen commented on #75186
/remove-triage unresolved

triage labels seem to be a bit old, they should be revamped

[2019-03-13 09:07] mm4tt commented on #75294
One more thing to add. I've analyze the two runs of the scale tests where the issue manifested.

**Run 328**
![AtXx1uk8T5j](https://user-images.githubusercontent.com/2604887/54266135-178c3480-4577-11e9-9186-38ea2f95eb84.png)

**Run 330**
![COB24XApjh6](https://user-images.githubusercontent.com/2604887/54266080-f75c7580-4576-11e9-9891-8f726e55814e.png)

It looks like the issue manifests only in big

[2019-03-13 09:22] mgdevstack opened #75324 "Unable to Promote e2e which are using optional Condition fields such as Reason or Message"
**Issue**: Many e2e are using optional condition fields such as Reason or Message to verify whether pod is failed or reached to the expected state having known expected reason and message.

These are valid scenarios but we can not promote such e2e to Conformance as these Reasons and Messages may change over a period of time.

This is observed mostly if we are expecting Pods/Jobs to get failed due

[2019-03-13 09:30] mariantalla commented on #75039
/remove-priority critical-urgent

fyi https://github.com/kubernetes/kubernetes/pull/75305 (investigation/speculative workaround for golang 1.12 related issues) is currently merging. Will keep an eye on changes 👀

[2019-03-13 09:32] sadlar commented on #1513
k8s dashboard 实现了ssh，但是也没有在docker里开ssh，dashboard的源码看一下，是不是调用的kubelet某些我们不知道的接口？

[2019-03-13 09:34] TarekAS commented on #40908
I honestly thought this was the default behavior. I've always thought of a Pod as a single unit, through and through.

In my opinion, the docs should make it clear that that the lifecycle of a container is independent of other containers (or volumes) in the same pod.

An alternative way to share container lifecycle is to simple merge both containers into a single one. But that has many downsides a

[2019-03-13 09:52] mariantalla commented on #75039
@dashpole - as we can't rely on this test for CI signal for now, are there other tests that cover the same use cases? e.g. are the [node-kubelet-benchmark](https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-benchmark) look similar?

In other words, if someone asks whether node resource usage has deteriorated with the 1.14 release, where can we look to confidently answer that question?

[2019-03-13 09:57] mariantalla commented on #75275
Hey @bertinatto @gnufied just checking in on this. Any findings?

[2019-03-13 09:57] codemug commented on #28167
Any updates on this?

[2019-03-13 10:14] tghartland commented on #75285
@andrewsykim before I made the change checking the current state of the node, I did try a quick change which was to store the node names that have already been processed in a map, and check that to skip nodes in the Update event (which also worked). I thought that might cause issues later on, though. Is it definitely the case that a node should never be reprocessed by an Update event -> AddCloudNo

[2019-03-13 10:19] mariantalla commented on #74814
/remove-sig node

This is flaking over 10% of the time, will open separate issue.

[2019-03-13 10:29] mariantalla opened #75326 "[Flaking test] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down"
**Which jobs are flaking**:
* ci-kubernetes-e2e-gce-new-master-upgrade-cluster
* ci-kubernetes-e2e-gce-master-new-downgrade-cluster
* ci-kubernetes-e2e-gce-new-master-upgrade-master

**Which test(s) are flaking**:
`[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disru

[2019-03-13 10:31] mariantalla commented on #75326
@msau42 Could you have a look please? (this is for graceful pod deletion, pd.csi.storage.gke.io driver)

Adding it to v1.14 unless we learn otherwise.

/milestone v1.14

[2019-03-13 10:38] Madhav1217 opened #75327 "ca authority in kubernets"
Failed to create deployment: Post https://k8s-single.dev1.mdmgr.net/apis/apps/v1/namespaces/default/deployments: x509: certificate signed by unknown authority

[2019-03-13 10:40] mariantalla commented on #71423
It's stabler now, but still flaking once/twice a day, e.g. in [upgrade tests](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce.*master.*&test=Services%20should%20have%20session%20affinity%20work%20for%20LoadBalancer%20service%20with%20ESIPP%20on).

@grayluck - Is this the same issue as you looked at? Is there more to be done here?

/reopen

[2019-03-13 10:57] fsniper commented on #73692
I also hit this with kube-graffiti while trying to patch a deployment/v1beta1:

My json-patch:
[code]
Error I get:
[code]

[2019-03-13 11:16] mritd commented on #68447
same problem

OS: Ubuntu 18
kernel: 4.15.0-46-generic
Kubernetes: 1.13.4

[2019-03-13 11:19] robinchm commented on #44370
Encountered the same issue when testing a local installation. Simply googling the error message in pod creation does not help. I went into provisioner pod and googled the logged error message which finally led me to this thread.

I agree that backfilling might not be a good idea. But maybe this can be mentioned in the official documentation of storage class (or somewhere appropriate).

[2019-03-13 11:28] mariantalla opened #75328 "[Flaky test] When kubelet restarts Should test that a volume mounted to a pod that is deleted while the kubelet is down unmounts when the kubelet returns"
**Which jobs are flaking**:
* ci-kubernetes-e2e-gce-new-master-upgrade-master
* ci-kubernetes-e2e-gce-new-master-upgrade-cluster
* ci-kubernetes-e2e-gce-master-new-downgrade-cluster
* ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new

**Which test(s) are failing**:
`When kubelet restarts Should test that a volume mounted to a pod that is deleted while the kubelet is down unmounts when the kubel

[2019-03-13 11:31] mariantalla commented on #75328
@msau42 - sending this your way too for triage.
https://github.com/kubernetes/kubernetes/issues/75326, https://github.com/kubernetes/kubernetes/issues/75275, https://github.com/kubernetes/kubernetes/issues/75196 are higher priority in my head (because they flake more frequently)

Adding it to v1.14 for now.

/milestone v1.14

[2019-03-13 11:33] #75281 closed

[2019-03-13 11:40] mariantalla commented on #75328
Yep, fair enough robot friend.

/remove-kind failing-test

[2019-03-13 12:22] dims commented on #75293
@feiskyer +1 to KEP for GA. In this Issue, we should concentrate on just the mechanics of creating a new repo and publishing code from staging/ to this new repo.

[2019-03-13 12:28] feiskyer commented on #75293
@yujuhong Any ideas on this? we'd make this before extracting dockershim out. Let me draft a KEP for detailed discussion.

[2019-03-13 12:28] Imunhatep commented on #59406
/remove-lifecycle stale

[2019-03-13 13:02] mikespokefire commented on #74900
Encountering similar behaviour to this myself. Is there any chance whatever fixes get applied can also be applied to the `1.12.x` branch? Since that also has strange behaviour around logs with label selectors and setting `--tail`. See https://github.com/kubernetes/kubernetes/blob/v1.12.6/pkg/kubectl/cmd/logs.go#L180-L184

[2019-03-13 13:08] mariantalla commented on #75145
Thanks @msau42 !

Will keep an eye on this for >5 consistent passes, will reopen if there's a problem.

[2019-03-13 13:30] mariantalla commented on #75298
Hi @dashpole - could you have a look please? This just failed in `gce-cos-master-serial`: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4779

[2019-03-13 13:59] PascalBourdier commented on #60807
The solution for me was:

`kubectl delete apiservice v1beta1.metrics.k8s.io`

[2019-03-13 14:13] bhack commented on #72025
/remove-lifecycle stale

[2019-03-13 14:19] wojtek-t commented on #75284
The only missing bit here is https://github.com/kubernetes/kubernetes/issues/75294 - so I'm closing in favor of that one

[2019-03-13 14:19] #75284 closed

[2019-03-13 14:37] gnufied commented on #71760
@wongma7 has agreed to work on this. Assigning it to him.

/assign @wongma7

[2019-03-13 14:44] bertinatto commented on #75275
I've run this test in a loop for around 1.5 hours but hasn't flaked.

This is what I think is happening:

1. PV Controller is running and has some not-yet-syncronized metrics in-memory. The standard interval that metrics are collected is 1m: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file
2. PV Controller is upgraded and restarted
3. The running test ch

[2019-03-13 15:33] liggitt commented on #74890
fyi, the only change in the sync package between go 1.11 and 1.12 was in sync.Map:

[code]

[2019-03-13 15:43] neolit123 commented on #74890
as per https://github.com/golang/go/commit/91fd14b82493e592730a3e459ef6610195b854c2 something else to try (which is actually the better test solution here) is to declare the symbol of the deferred function.

pseudo:
[code]

[2019-03-13 15:47] mariantalla commented on #75275
Thanks @bertinatto . Is this expected? Is the PV controller expected to have persisted any in-memory metrics before shutting down? Or is it best-effort?

[2019-03-13 15:52] tpoindessous commented on #66450
/remove-lifecycle stale

[2019-03-13 15:54] tpoindessous commented on #52577
Hi @soltysh , could be please re-open this issue if it's not finished ?

Thanks !

[2019-03-13 15:56] wojtek-t commented on #75294
I think we roughly understood that (it doesn't seem to be a regression which is the most important thing). @mm4tt will describe a bit more details soon

[2019-03-13 15:58] thockin commented on #47893
Are the redirects being used actually valid?  They should be followed.

[2019-03-13 16:00] lavalamp commented on #73648
Thanks, @ajatprabha!

[2019-03-13 16:01] thockin commented on #47893
Anyone having this problem, can you crank up Kubelet logs to --v=4 and look for "Probe succeeded for" or "Probe failed for" lines?

[2019-03-13 16:13] tghartland commented on #75285
https://github.com/tghartland/kubernetes/commit/50d88ca5ae8f9f1a470b933bb163763408d271a5
This is enough to fix the problem. The machineIDs are tracked as well since a resize down and then back up can bring back nodes with the same names as old ones. Those nodes would skip the check in Update and go to the Add event first which would replace the name->ID in the map, so it shouldn't really matter,

[2019-03-13 16:24] benmoss commented on #64531
It would have been just the host network namespace. This approach didn't really pan out though. @astrieanna is investigating another approach that more closely matches the way it works on Linux.

[2019-03-13 16:28] thockin commented on #73172
There's some confusion.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ says:

     Any code greater than or equal to 200 and less than 400 indicates success. Any other code indicates failure.

https://github.com/kubernetes/kubernetes/issues/18233 was a bug about not following redirects, and https://github.com/anfernee/kubernetes/commit/3c6fd0ed470ba6

[2019-03-13 16:29] thockin commented on #47893
Please see https://github.com/kubernetes/kubernetes/issues/73172#issuecomment-472499665 - we do follow redirects and I can prove it.  Whether that is correct or not is TBD.  Closing this, please followup there.

[2019-03-13 16:29] #47893 closed

[2019-03-13 16:31] liggitt commented on #74890
we'll need a go1.12.1 for that... we shouldn't try to sweep use of sync.Once to adjust to the go1.12 bug... there are too many uses inside vendor

[2019-03-13 16:33] allamand commented on #28969
Does someone have tested the option from calico :
[code]
source: https://docs.projectcalico.org/v3.5/reference/cni-plugin/configuration

[2019-03-13 16:35] dashpole commented on #75039
Yeah, the node-kubelet-benchmark is the test suite we rely on for resource tracking signal.

[2019-03-13 16:46] msau42 commented on #75145
/reopen
Most gke jobs are able to create clusters now, however the serial jobs are still seeing failures

[2019-03-13 16:49] leblancd opened #75337 "Include CSR-signing CA cert bundle in default service account token secret"
**What would you like to be added**:
*Usually*, the cluster-signing CA certificate bundle that is used for signing CSRs (see [Manage TLS Certificates in a Cluster](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/)) is the same as the cluster's Root CA. This root CA is readily available by someone who needs to import the CA into their clients' trust chain, since it is included as dat

[2019-03-13 16:53] cmluciano commented on #75238
/remove-triage unresolved

[2019-03-13 16:54] ye commented on #52386
I am also running into "kubelet has insufficient memory available" issue but the describe node output doesn't show obvious issues - @saiwl was there resolution / explanation you found on your case that can be shared?

[2019-03-13 16:57] gertvdijk commented on #73172
Cool, great work to work all that out! :+1:

What's the version of Kubernetes that you've used to test it?

* Option **a** may not be very silly - command line `curl` without `--location` option also returns success without following a redirect. :man_shrugging:
* Option **b** could be implemented by only allowing a Location response header if they are either relative _or_ absolute _and_ share the

[2019-03-13 16:58] leblancd commented on #75337
/sig auth

[2019-03-13 16:58] liggitt commented on #73324
given this is not a regression, it doesn't seem release blocking

[2019-03-13 17:03] pohly opened #75338 "k8s.io/apiextensions-apiserver misses the generated code"
**What happened**:

I'm trying to vendor k8s.io/kubernetes/test/e2e, which due to (recently added ?) code in test/e2e/framework/crd_util.go depends on k8s.io/apiextensions-apiserver. The problem now is that the content of k8s.io/apiextensions-apiserver is incomplete:
apiextensions-apiserver/pkg/controller/openapi/builder.go calls generatedopenapi.GetOpenAPIDefinitions, but apiextensions-apiserver/

[2019-03-13 17:04] neolit123 commented on #74890
i completely agree.
i'm just proposing random fixes to isolate the golang bug.
(though, at this point we are not even sure if we are actually encountering the exact same bug)

will request from on-call to retrigger one of the jobs before we jump into reverting.
but it seems reverting is the plan for now...

[2019-03-13 17:04] dims commented on #75338
/assign @nikhita @sttts

[2019-03-13 17:04] dims commented on #75338
/sig release

[2019-03-13 17:06] bertinatto commented on #75275
Unfortunately so far I couldn't neither reproduce the flake nor find any proof that my theory is correct.

@mlmhl, since you created that test, do you have any thoughts on why this fake is happening?

PS: My suspicion comes from the fact that the flake only happens in `*upgrade` jobs, but I couldn't find any proof that it's correct.

[2019-03-13 17:06] liggitt commented on #75338
/assign @roycaihw

[2019-03-13 17:17] msau42 commented on #75326
gce-new-master-upgrade-master: this test job only upgrades the master, and not the nodes.  The fix is only in master/1.14, so we'll need to backport it to 1.13 to fix the flakiness here.

gce-new-master-upgrade-cluster: the failure is due to cluster-upgrade failing, which left the nodes at 1.13 which still has the issue.  Fixing the cluster upgrade should address this.  We can also backport the fi

[2019-03-13 17:19] mm4tt commented on #75322
All tests passed.
This is fixed.

[2019-03-13 17:19] #75322 closed

[2019-03-13 17:19] msau42 commented on #75326
/assign

[2019-03-13 17:22] tpepper commented on #74890
Do we have a list of golang project issues/prs/commits we're looking at here?  Like do we have concrete reason to believe some specific relevant things would be in a 1.12.1 (hopefully soon)?

[2019-03-13 17:23] neolit123 commented on #74890
all is speculation as per debugging mutexes on a super slow e2e test job.

[2019-03-13 17:24] mm4tt commented on #75294
I was able to reproduce it on my "fake large" cluster (50 nodes, n1-standard-64 master).

The difference now is that I started 5000 watches on the Endpoints objects to simulate what kube-proxy does in the real large cluster.
With the watches the request to create a large Endpoints (8K adresses) took 4s and has very similar trace to the real one:
[code]

This is related strictly related to what htt

[2019-03-13 17:29] neolit123 commented on #74890
i don't know when 1.12.1 is coming out but i see some a number of open tickets here:
https://github.com/golang/go/milestone/92

[2019-03-13 17:36] andrewsykim commented on #75285
To be clear, I think the map should only contain nodes that are undergoing registration, not nodes that are already registered. That way if a node wants to register again we can do so.

If a node is shut down & its addresses change, we have a controller to catch that which is separate from node registration. See https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_control

[2019-03-13 17:39] #58640 closed

[2019-03-13 17:40] wenjiaswe commented on #74707
Thanks for the explanation.

I read the trace code in /vendor/k8s.io/utils/trace/trace.go for [New()](https://github.com/kubernetes/kubernetes/blob/8d69dc630ba66d05ad95146583a7482ed1eb3f82/vendor/k8s.io/utils/trace/trace.go#L42), [trace.Step("stepMsg")](https://github.com/kubernetes/kubernetes/blob/8d69dc630ba66d05ad95146583a7482ed1eb3f82/vendor/k8s.io/utils/trace/trace.go#L47), [trace.LogIfLong()

[2019-03-13 17:42] dims commented on #74890
@rsc @bradfitz @Sajmani Looks like we have to move to upcoming golang 1.12.1 to pick up [1] or go back to 1.11.5 (lot of things to switch back!). Can you please advise when 1.12.1 may be available?

[1] https://github.com/golang/go/commit/91fd14b82493e592730a3e459ef6610195b854c2

[2019-03-13 17:44] jingxu97 commented on #75049
cc @andyzhangx

Could we fix this issue this the package mentioned by @yujuhong? https://github.com/hectane/go-acl

[2019-03-13 17:57] roycaihw commented on #75338
sent a fix in https://github.com/kubernetes/kubernetes/pull/75339

[2019-03-13 17:57] thockin commented on #73172
I tested against HEAD from a few weeks ago.

I am loathe to make new options, but it may be all we can do.  I am not
sure it belongs in the pod itself, though.  Maybe it is an externally
enforced policy?

On Wed, Mar 13, 2019 at 9:58 AM Gert van Dijk <notifications@github.com>
wrote:

[2019-03-13 18:01] andrewsykim commented on #75285
Add & Update functions are intentionally different due to logging https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L200-L227

[2019-03-13 18:08] MrHohn commented on #71423
@grayluck @mariantalla we should probably cherrypick https://github.com/kubernetes/kubernetes/pull/75073 into 1.13 in case of deflaking upgrade/downgrade job, because those jobs would run 1.13 tests against 1.14 (upgraded) cluster or 1.13 (downgraded) cluster.

FYI we've hit similar situation for DNS test (ref https://github.com/kubernetes/kubernetes/issues/74543#issuecomment-467973692).

[2019-03-13 18:25] srinivasrk commented on #34583
Any update on this ? Since Node affinity is a beta feature causing this issue?

[2019-03-13 18:36] jbtuck commented on #67059
/remove-lifecycle rotten

[2019-03-13 18:36] jbtuck commented on #67059
This issue is still reproducible.

[2019-03-13 18:48] msau42 commented on #75275
This test is not run *across* an upgrade.

The upgrade happens and finishes, and then the test will run.

[2019-03-13 18:52] msau42 commented on #75196
The downgrade test is running against a 1.13 cluster.  We will need to backport the fix to 1.13 if we want to fix these flakes.

[2019-03-13 18:53] msau42 commented on #75328
This test is different than the CSI reconstruction issues because it's testing in-tree default storageclass.

[2019-03-13 18:54] bradfitz commented on #74890
I've started a discussion with the release team. Hopefully soon. It's been long enough since the Go 1.12(.0) release and we have a few things on or ready for the Go 1.12 branch. We'll keep you updated.

/cc @andybon @dmitshur @bcmills @ianlancetaylor

[2019-03-13 18:54] msau42 commented on #75328
/assign @jingxu97

[2019-03-13 19:00] ksandermann opened #75342 "Vsphere Cloud Provider: failed to detach volume from shutdown node"
**What happened**:
I have a pod with a pv attached to it running on node1.
When I shutdown node1 to simulate node-failure, Kubernetes detects the unhealthy node in the configured timeframe and tries to re-schedule the pod on node2 following the --pod-eviction timeout.
When trying to start the pod on node2, the pv can not be attached as it is still attached to the shutdown node1:
[code]
Also, the p

[2019-03-13 19:01] ksandermann commented on #75342
/sig vmware

[2019-03-13 19:03] ksandermann commented on #75342
@kubernetes/sig-vmware-bugs

[2019-03-13 19:09] justinsb commented on #74890
Great find on the (likely) underlying issue @dims.  And I think you're right @neolit123 that even the workaround will not work, because it'll (probably) hit the same bug.  I suspect it might not panic so it might actually end up working "accidentally" - we'll see.

But - regardless - feels like we have a root-cause.  We can try your workaround @neolit123 if we think it'll help get us test signal a

[2019-03-13 19:16] tallclair commented on #73172
I think changing scheme & port should be allowed, as long as the host is unchanged. This is what we do for `ValidatProxyRedirects`: https://github.com/kubernetes/kubernetes/blob/118e33dfcd8bf052f34d9a922145ab5f97e6a354/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L409

[2019-03-13 19:36] #67142 closed

[2019-03-13 19:42] yastij commented on #75285
I agree, the map should contain contain only nodes going through registration. As for deduplication, we can log when initializing the nodes, this might help us refactor this. But this is not a blocker for this one.

[2019-03-13 19:46] cyrus-mc commented on #62334
Somewhat tangential to this, but more of an informational thing. From the network perspective, what sort of things are namespaced and what isn't? I am currently trying to debug a "performance" issue and was starting to focus on the network.

From my research it appears settings like tcp_rmem and tpc_wmem (read and right buffers) are namespaced. Meaning you can set those values within a container a

[2019-03-13 19:52] djsly commented on #75198
FYI, we had the same issue when the Idle Timeout annotation was set to "3" which isn't a supported case.

Will this PR also cover this edge case ?

[2019-03-13 20:01] Random-Liu commented on #73275
I think this is caused by
https://github.com/moby/moby/issues/38865

[2019-03-13 20:03] tghartland commented on #75285
At what point should a node be removed from the map? When the Update method no longer has the uninitialized taint on it's node object?

[2019-03-13 20:15] andrewsykim commented on #75285
Yes, I think here would be fine https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L322. Would be even better if you do it in a `defer` line after you add the node to the map.

[2019-03-13 20:31] msau42 commented on #75145
Nevermind, it's because the serial job with the fix is still running.  I've verified that the cluster creation succeeds in the latest job.
/close

[2019-03-13 20:31] #75145 closed

[2019-03-13 20:33] tghartland commented on #75285
The problem isn't that the Add and Update events are being processed at the same time, not at all. For example in these logs the initializations of a single node are spread far apart.
[code]

If my understanding is correct, these would have been the first Add and first 8 Update events triggered after the node appeared in kubernetes. It's just that with the huge volume of Updates from all the other

[2019-03-13 20:36] ducttapecoder-vt commented on #45459
@zatricky Is that on the master, worker, or both?

[2019-03-13 20:56] andrewsykim commented on #75285
Seems to me like some API calls to the provider is taking a really long time there which leads to multiple update events piling up before the node was successfully registered.

If a node exists in the map (i.e it's currently being initialized) then just drop the update event. I think it achieves the same behavior but it's easier to understand when you read the controller. You also wouldn't check t

[2019-03-13 21:02] dims commented on #70819
/close

[2019-03-13 21:02] #70819 closed

[2019-03-13 21:07] spiffxp commented on #74890
@bradfitz to give some context, we are currently scheduled to lift our code freeze by Tuesday March 19th, and stop accepting changes by Thursday March 21st (https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#timeline)

I'm willing to push out code freeze for a day or two for this, but if we can't try go1.12.1 by the 19th my gut says we need to revert.  Would really make ou

[2019-03-13 21:13] tghartland commented on #75285
Sorry, I should clarify, in the logs in my previous comment I was grepping for that one particular node - there were other nodes being initialized in between those lines.

The rate of initializations was fairly constant, looking to be around 2 seconds each. After 30 minutes all nodes are properly initialized and there is a big queue of Update events from just the last couple of nodes left over - I

[2019-03-13 21:31] andrewsykim commented on #75285
Sorry if I'm missing anything here. For any node with a cloud taint, if we record (via a map) that the node is being initialized (i.e. before we call `initializeNode(node)`), then all following update events where the node still has a taint can be ignored (we can check that by looking at the map). When `initializeNode(node)` returns without error, we can remove the node from the map.

That should

[2019-03-13 21:34] yujuhong commented on #75319
I think it'd be good for SIG windows to suggests/document how logs should be handled when running kubelet/kube-proxy as Windows services.

For the record, in GCE, kubelet and kube-proxy are configured run as Windows services (without third-party service managers such as NSSM), so we (really just @mtaufen) ended up having roll our own log rotation service. Sending everything to Windows event logs w

[2019-03-13 21:35] jingxu97 opened #75345 "Volumes fail to clean up when kubelet restart due to race between actual and desired state"
We have tests to delete pods while kubelet restarts, the test is a little bit flaky because the following race condition
1. stop kubelet, delete pod gracefully and restarts kubelet
2. pod's volumes are first put into the volume desired state. Then populator will try to remove it because pod is deleted. However, it is normally failed because we check whether actual state already has the volume reco

[2019-03-13 21:36] jingxu97 commented on #75328
I think the root cause is because of this issue https://github.com/kubernetes/kubernetes/issues/75345
will try to work on a fix soon.

[2019-03-13 21:45] tghartland commented on #75285
My thought was that the node should be added to the map at the (successful) end of the Add event initializeNode. If the Add fails then the Update should be able to try again, yes?

Which call of initializeNode? The initial one from the Add event? Because that should be the only time initializeNode actually get called as long as there are no errors. If you add to the map at the start of the Add ini

[2019-03-13 21:51] spiffxp commented on #73324
/milestone clear
v1.14 release lead here, at this late stage in the release cycle, this doesn't seem like it's destined for this release.

Please come talk to us in #sig-release if you feel this was done in error

[2019-03-13 21:55] mtaufen commented on #75319
If we choose the event log solution, I think we'd need to add that integration to klog.

[2019-03-13 22:04] andrewsykim commented on #75285
For this particular case, we have to treat Add & Update events in the same way because Add events can be missed (for various reasons). The only thing that matters when either event is being processed is whether or not the taint exists. So we would add a node into the map on the first event (Add or Update) where we see that it needs to be initialized.

This is fine, the node controller doesn't care

[2019-03-13 22:04] spiffxp commented on #75195
/close
Agree this is taken care of by #75177

[2019-03-13 22:04] #75195 closed

[2019-03-13 22:07] ducttapecoder-vt commented on #33798
Sorry to bump an old thread but the net.bridge.bridge-nf-call-iptables=1 didn't solve the issue for me.
Rather than spamming here, could someone pop by my [MS thread](https://social.msdn.microsoft.com/Forums/en-US/77994c1f-a330-49df-8b92-5135dfb3e1b4/kubedns-is-not-accessible-from-ws2019-worker-node-unless-centos-7-master-firewalld-is-stopped?forum=windowscontainers) for some help?

[2019-03-13 22:07] tghartland commented on #75285
Yes but the problem here is that an update event created before the initialization but only processed after the initialization *is* cared about, and it shouldn't be.

[2019-03-13 22:09] neolit123 commented on #74890
the last two runs with this patch: https://github.com/kubernetes/kubernetes/pull/75305
don't have the mutex failure it seems:
https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster
see ..42, 43.

but 1.12.1 is still ideal, as noted here: https://github.com/kubernetes/kubernetes/issues/74890#issuecomment-472500878

[2019-03-13 22:21] otakumike commented on #27308
The problem with aliases is that they read the value of variables like KUBECTL_NAMESPACE at the time the alias is assigned, not when it is called. For example:

[code]

So while this does work, it's still a bother. I've been working around this so far by wrapping my variable declaration into the alias command and just re-running that:

`export KUBECTL_NAMESPACE=au10561 && alias k='kubectl --namesp

[2019-03-13 22:25] sbueringer commented on #27308
Should also be possible to just escape $ so it isnt directly evaluated

[2019-03-13 22:45] bradfitz commented on #74890
We're aiming for a Go 1.12.1 soon: tonight at earliest, but likely tomorrow. Or worst case Friday if there are surprises.

[2019-03-13 22:49] samuela commented on #71870
/remove-lifecycle stale

[2019-03-13 22:57] Huang-Wei commented on #70450
Close this as fix has been applied to 1.11+ k8s versions.

/close

[2019-03-13 22:58] #70450 closed

[2019-03-13 23:03] dims commented on #74890
@bradfitz you all rock!

[2019-03-13 23:23] roycaihw commented on #68690
/reopen
/remove-lifecycle rotten

[2019-03-13 23:29] integrii commented on #50032
Please reopen! /reopen

[2019-03-13 23:41] thockin commented on #62841
Thanks!

[2019-03-13 23:41] #62841 closed

[2019-03-13 23:44] andrewsykim commented on #75285
I think this is true for most controllers, but this controller is slightly different IMO. We don't care about subsequent updates (unless it's an update from the cloud-controller-manager itself) since any relevant information regarding the cloud provider will get overwritten anyways. The provider is also very unlikely to change any information about the node if you asked it again. Even after accoun

[2019-03-13 23:49] dashpole commented on #75298
This looks like the same as #75039.  There are pods running on the node that are not from this test.  That very likely is the reason the kubelet has higher memory usage in some runs:

[code]

[2019-03-13 23:49] enisoc commented on #67250
I apologize for letting this bug slip through the cracks, and for implying in [my earlier comment](https://github.com/kubernetes/kubernetes/issues/67250#issuecomment-414754525) that the current behavior is expected and acceptable. My intention was to report that I can confirm the bug exists and that it appears to be a design flaw rather than a regression.

As @MrTrustor noted in the original post,

[2019-03-13 23:53] saad-ali commented on #50898
PVCs are not the correct place to specify implementation specific parameters. The Kubernetes PVC object is intended for application portability. When we start leaking cluster/storage implementation specific details in to it, we are violating that principle. And considering that workload portability is a cornerstone of Kubernetes, we should have very strong justification to violate it.

So, we have

[2019-03-13 23:54] andrewsykim commented on #75285
In other words, the update event handler is only there to trigger the initialization process but the initialization logic will run independently of the node object passed into the event. Whether this is the correct behavior or not is likely for a different issue :)

[2019-03-14 00:05] brahmaroutu opened #75348 "Daemon Set Conformance test fails on Kind Cluster using ci-kubernetes-conformance-image job."
**What happened**:
When running conformance test suite using ci-kubernetes-conformance-image job in the CI process the following test fails as it tries to calculate the number of worker nodes incorrectly.
[sig-apps] Daemon set [Serial] should rollback without unnecessary restarts [Conformance]

**What you expected to happen**:
The test must read the number nodes correctly so that the checks in the

[2019-03-14 00:31] msau42 commented on #75326
@cofyc can you look at cherry picking the two fixes to 1.13?

[2019-03-14 01:08] roycaihw commented on #67718
/reopen
/remove-lifecycle rotten

[2019-03-14 01:26] sailinnthu commented on #58876
By default, when we create VMs in VirtualBox using Vagrant, every VM will get an IP address of 10.0.2.15/24 with same MAC address on every VMs.
Get the IP Addresses of the Nodes. example:
Master - 192.168.33.101/24
Worker1 - 192.168.33.102/24
Worker2 - 192.168.33.103/24

Run the below command on master
==========================
`kubeadm init --apiserver-advertise-address=192.168.33.101`

[2019-03-14 01:40] khteh opened #75350 "`kubectl top pod` does not show any utilization %"
**What happened**:
`kubectl top pod` does not show any utilization %
**What you expected to happen**:
`kubectl top pod` shows utilization %
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
`kubectl top node` shows utilization % but not `kubectl top pod`
**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.4
- Cloud provider or h

[2019-03-14 01:42] Random-Liu commented on #73503
Yeah, let's close this.

[2019-03-14 01:42] #73503 closed

[2019-03-14 02:00] vladimirvivien opened #75352 "CSI - Ability to skip DeviceMount operations for ephemeral volumes"
Inline CSI volumes that are embedded in Pod specs still trigger all volume operation stages (attach, device mount, mount).  Similar to plugin.CanAttach, a new plugin-wide method should be able to turn device mount off when the source is ephemeral volume.

**References**
See volume mount operation : https://github.com/kubernetes/kubernetes/blob/897d62ace79a8fa72f9825e065b2b67fdba65bec/pkg/volume/ut

[2019-03-14 02:00] vladimirvivien commented on #75352
/sig storage
/assign

[2019-03-14 02:02] roycaihw commented on #60937
/reopen
/remove-lifecycle rotten

[2019-03-14 02:40] mlmhl commented on #75275
Hi @bertinatto

From the error message, we can see that the bound pvc number is incorrect. However, in the test case, we check the bound pv number first before checking bound pvc number, so this means the bound pv number is correct, but bound pvc number is incorrect. This is odd.

Can anyone help to post more details of the upgrade job?

[2019-03-14 02:47] vladimirvivien opened #75353 "CSI ephemeral volume hangs in reconciliation loop on startup"
**What happened**:
When an inline CSI volume is used, the volume controller hangs during reconciliation when attempting to any previously existing volume.

**What you expected to happen**:
Expected the CSI inline volume to properly mount.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a pod spec with a an ephemeral CSI volume.

/sig storage

[2019-03-14 03:00] ardalanrazavi commented on #51835
@nmors @AndrewSav I have done force delete as well.

[2019-03-14 03:11] msau42 commented on #51835
Deleting your nfs server before you delete your pods is known to cause unmount to hang forever. It's best to order your deletions in that case so that your nfs server is always deleted last.

[2019-03-14 03:28] alejandrox1 opened #75355 "[Flaky test] [k8s.io] Pods should support pod readiness gates [NodeFeature:PodReadinessGate]"
**Which jobs are failing**:
[ci-kubernetes-e2e-gce-cos-k8sbeta-default](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/9858)

**Which test(s) are failing**:
`[k8s.io] Pods should support pod readiness gates [NodeFeature:PodReadinessGate] ` [build 9858](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/9858

[2019-03-14 03:28] daixiang0 commented on #70321
@thockin there is some misunderstand among us about valid CIDR address, refer to https://stackoverflow.com/questions/50084229/bash-check-if-cidr-address-is-valid

[2019-03-14 03:38] daixiang0 commented on #70321
yes, i specify dns address and then specify other settings based on it, but i do not know the auto change about it before debug.

[2019-03-14 03:44] #69789 closed

[2019-03-14 03:52] alejandrox1 commented on #75355
Latest PR to touch that test https://github.com/kubernetes/kubernetes/pull/67406

[2019-03-14 04:39] feiskyer commented on #75198
Unfortunately , this is still not fixed. The idle timeout is not 403 or 404. We need another fix for this (and possibly more for other annotations)

[2019-03-14 04:45] feiskyer opened #75356 "kube-controller-manager is stucking in deleting Azure LB because of wrong idle timeout set"
**What happened**:

When the Idle Timeout annotation was set to "3" which isn't a supported case, kube-controller-manager is stuck in deleting Azure LB. New service with the same name couldn't be created again even without the annotation.

**What you expected to happen**:

New service should be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

[2019-03-14 05:10] liggitt commented on #75337
those two trust bundles are distinct, and should not be combined by the controller manager. if the cluster admin wishes to distribute the CSR signing roots that way, they can include the signing CA in the root-ca-file

/close

[2019-03-14 05:10] #75337 closed

[2019-03-14 05:10] nmors commented on #51835
@msau42 My NFS server is not part of the k8s cluster - it's a seperate appliance and machine all together

[2019-03-14 05:17] msau42 commented on #51835
It doesn't matter if it's part of the k8s cluster or not. If the nfs server is inaccessible, then unmount will hang until it becomes accessible again.

[2019-03-14 05:23] xujihui1985 opened #75357 "Share namespace of specific containers"
**What would you like to be added**:
Share namespaces like pid, net of specific containers

**Why is this needed**:
I'm trying to move legacy old fat pod into sidecar pattern, in that case I want to move process like monitor agent into a sidecar container, and keep application container clean that use application process as pid1, so I hope monitor agent in sidecar container can see the process in

[2019-03-14 05:27] xujihui1985 commented on #75357
/sig proposals

[2019-03-14 05:32] mucahitkurt commented on #74930
Hey @msau42 , I want to work on this issue.

[2019-03-14 05:34] xujihui1985 commented on #75357
/sig api-machinery-proposals

[2019-03-14 05:57] nmors commented on #51835
@msau42 that's strange, because I'm pretty sure that even when it came back online, the pods were still stuck terminating. new pods start up and connect fine.

[2019-03-14 06:03] jochenhebbrecht commented on #64148
Hi,

Can somebody confirm in which version(s) of K8S this issue is fixed? We are bumping into the same issue and we are on `1.11.6`.

Thanks,
Jochen

[2019-03-14 06:08] shinebayar-g commented on #51835
I use NFS server on kubernetes followed by[ this](https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs) example and this happens quite often unfortunately ..

[2019-03-14 06:20] LinAnt commented on #75342
It is even worse if you drain a node for an upgrade and then delete the VM. The disks that remain attached will be gone as well as the vm. This is not a recent issue, it has been like this since 1.8.x or 1.9.x.

[2019-03-14 06:31] tongchao199 commented on #75028
thanks，this command can config temporary config for client-name, but i want change to kubeadm init default client-name:kubernetes-admin, like change default cluster name

- context:
    cluster: kubernetes-us
    user: kubernetes-admin

[2019-03-14 06:37] PaulFurtado opened #75360 "Restarting iptables kube-proxier causes connections to fail"
**What happened**:
When restarting kube-proxy in iptables mode, there will be several seconds of timeouts because it flushes the KUBE-SERVICES nat chain and several others.

**What you expected to happen**:
Restarting kube-proxy should not impact traffic in any way.

**How to reproduce it (as minimally and precisely as possible)**:
1. Run an HTTP server behind a ClusterIP service
2. Run an http cl

[2019-03-14 06:37] PaulFurtado commented on #75360
/sig network-bugs

[2019-03-14 06:39] PaulFurtado commented on #75360
@kubernetes/sig-network-bugs

[2019-03-14 06:40] PaulFurtado commented on #73154
Turns out the iptable proxier has similar issues (for different reasons): https://github.com/kubernetes/kubernetes/issues/75360

[2019-03-14 06:42] nmors commented on #51835
@shinebayar-g I also followed that guide, but now I have gotten rid of the PVs and PVCs and defined my volume directly in the deployment, like so:
[code]
I haven't had any issues since, I changed this only about a week hoping that the simpler config would be more reliable.. let's see...

[2019-03-14 07:01] mm4tt commented on #75294
https://github.com/kubernetes/kubernetes/pull/71376 helps significantly. With the same setup (50 nodes, n1-standard-64 master, 5K endpoints watches), creation of a large Endpoints (8K addresses) object took ~600ms. That's almost 8 times faster and what's more important it didn't slow down the whole api server.

[code]

[2019-03-14 07:03] myniva commented on #70238
Is this maybe fixed by https://github.com/kubernetes/kubernetes/pull/70647?

[2019-03-14 07:03] nmakhotkin commented on #51835
As a workaround I wrote a script which grabs some last lines from `/var/log/syslog` and search for errors like "Operation for...remove /var/lib/kubelet/pods ... directory not empty" or "nfs...device is busy...unmount.nfs" or "stale NFS file handle".
Then it extracts either pod_id or pod full directory and see what mounts it has (like `mount | grep $pod_id`), then unmounts all and removes the corre

[2019-03-14 07:05] marckamerbeek commented on #50375
Would like to see this option aswell. Does anybody know a hack?

[2019-03-14 07:08] mm4tt opened #75361 "[Flaky Test] gce-scale-correctness : [sig-network] Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec"
**Which jobs are failing**: ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**:  [sig-network] Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec

**Since when has it been failing**: It failed yesterday (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/221), passed today

**Testgrid link**: https://k8s-testgrid.appspot.com/

[2019-03-14 07:09] mm4tt commented on #75361
/sig scalability
/sig network

@kubernetes/sig-network-test-failures, could you triage?

[2019-03-14 07:28] wojtek-t commented on #75294
That's great new.
I'm waiting for one more experiments (to see how much it helps for memory allocations). But it seems pretty clear we need to prioritize it for 1.15. I will keep that in mind.

[2019-03-14 07:54] warmchang commented on #26507
There are any news about this feature? Thanks!

[2019-03-14 08:14] bertinatto commented on #75275
@mlmhl, I think we do get at least 1 PV/PVC when we wait [here](https://github.com/kubernetes/kubernetes/blob/897d62ace79a8fa72f9825e065b2b67fdba65bec/test/e2e/storage/volume_metrics.go#L417-L418), however, the test fails [here](https://github.com/kubernetes/kubernetes/blob/897d62ace79a8fa72f9825e065b2b67fdba65bec/test/e2e/storage/volume_metrics.go#L353-L358) when we check the number of PVCs again

[2019-03-14 08:22] dbazhal commented on #70238
Don't know - too few details i know about both cases. Will test after release, and close if issue is outdated or collect more info.

[2019-03-14 10:04] tghartland commented on #75285
Then at the very least we should add another one of these checks after the latest version of the node object is retrieved.
https://github.com/kubernetes/kubernetes/blob/897d62ace79a8fa72f9825e065b2b67fdba65bec/pkg/controller/cloud/node_controller.go#L207-L211
Otherwise the whole initialization is being done again on nodes that do not need it.

The decision of whether or not to do the initializatio

[2019-03-14 10:14] oxddr opened #75365 "gce-scale-correctness: multiple sig-storage tests failed"
**Which jobs are failing**: ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**: multiple sig-storage tests

**Since when has it been failing**: there is failed run from yesterday

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

**Reason for failure**: timeout

/sig scalability
/sig storage

[2019-03-14 10:31] pohly commented on #74352
That change would also be a good time to split the monolithic test/e2e/framework into smaller packages. Allowing users to vendor only the functionality that they really need still has the potential to cut down on the number of packages that get imported, as seen in PR #75340.

There are several utility packages under test/utils which should also be moved.

Here's a rough outline of what the packag

[2019-03-14 10:42] saqibahmed515 commented on #57291
#MeToo

[2019-03-14 10:46] nikopen commented on #70890
looks like a long-standing niche bug that is non-release blocking, plus no PR and difficult to reproduce.

clearing the milestone to be fixed at another point (and cherry picked to previous patch releases too)

if there are objections let us know at #sig-release

/milestone clear

[2019-03-14 11:02] mariantalla commented on #74893
/remove-priority critical-urgent
(sorry, it was because I edited the original description of the issue)

[2019-03-14 11:02] wojtek-t commented on #71028
/remove-lifecycle rotten

[2019-03-14 11:08] andyzhangx commented on #75288
hi @IvanovOleg it's expected, check issue: https://github.com/kubernetes/kubernetes/issues/68427
In brief, it's a limit by azure disk feature

[2019-03-14 11:15] andyzhangx commented on #75180
/assign

[2019-03-14 11:16] daixiang0 commented on #70321
@thockin another question, which rule does it based on to do auto change?

[2019-03-14 11:20] nikopen commented on #75239
@alejandrox1 #74652 has been merged, is this behaving better?

[2019-03-14 11:46] andyzhangx commented on #75180
hi @harshaperera532 in your logs, the remotepath is `storageaccounturl\logs`, so `logs` is the share name? also, could you log on to that agent node, and provide kubelet.err.log, there are logs like `SMB Mapping(%s) already exists, now begin to remove and remount`

[2019-03-14 11:48] oxddr commented on #75365
@kubernetes/sig-storage - can you please have a look?

[2019-03-14 11:56] mlmhl commented on #75275
Yeah, I agree with this. So I wonder if we have multi jobs running in parallel? For example:

1. Before we starting this test, some other jobs created a PVC `A`, and the original bound PVC number would be 1
2. Then this test started and created a PVC `B` too, meanwhile the other job deleted the PVC `A`, so the updated PVC number is till 1, and the `calculateRelativeValues` method will return 0.

[2019-03-14 11:58] kellycampbell commented on #64148
Please check the changelog files posted on git.

On Thu, Mar 14, 2019, 2:04 AM jochenhebbrecht <notifications@github.com>
wrote:

[2019-03-14 12:07] slimhazard commented on #59822
Is there a workaround for this issue, if I'm using a version of client-go in which the fix is not implemented?

I'm writing controller code that is obliged to run in a productive cluster at k8s version 1.9.7. The compatible client-go version is 6.0.0, if I want the "checkmark" level in the [compatibility matrix](https://github.com/kubernetes/client-go#compatibility-matrix). I'm reliably getting th

[2019-03-14 12:15] bertinatto commented on #75275
@mlmhl, since this in the `[Serial]` test suit there shouldn't be other jobs running, no?

[2019-03-14 12:21] mariantalla commented on #75355
/remove-kind failing-test

@dashpole sending this your way for triage too - could you have a look please? I wonder if it's a node problem or if timeouts are originating elsewhere 🤔

fwiw, it's failing about 10%-15% of the time in e2e tests: [triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Pods%20should%20support%20pod%20readiness%20gates)

[2019-03-14 12:31] dims commented on #74352
@pohly on the last part, we do have `hack/verify-import-boss.sh` and `hack/verify-imports.sh` for enforcing restrictions on dependencies :)

[2019-03-14 12:32] huzhengchuan commented on #70411
fix the problem like [it](https://serverfault.com/questions/924477/haproxy-health-check-for-https-backend)

[2019-03-14 12:37] jochenhebbrecht commented on #64148
@kellycampbell thanks! Just located this file: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md and I've noticed it should be fixed in 1.11.6. Unfortunately, that's the version we are on and we're still facing the issue.

From what I can read from the logs, it seems that the leader `kubectl-controller-manager` pod is stuck. It stopped updating the security group rules.

[2019-03-14 12:46] viveksinghggits commented on #34314
@axsuul were you able to resolve the issue, can you share the details. I also encountered the same issue where the master and worker is on the same node (one node cluster).

[2019-03-14 13:07] mariantalla commented on #75196
/remove-kind failing-test

[2019-03-14 13:13] mrbobbytables commented on #75031
I think this is safe to close at this point. If you have problems. Please feel free to reopen.

/close

[2019-03-14 13:13] #75031 closed

[2019-03-14 13:25] mariantalla opened #75370 "[Flaky test] NodeLease when the NodeLease feature is enabled the kubelet should report node status infrequently"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gci-gce` ([testgrid](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=20)) ([build 35714](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/35714))
* `ci-kubernetes-e2e-gce-cos-k8sbeta-default` (testgrid(https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-default&width=20)) ([bu

[2019-03-14 13:26] mariantalla commented on #75370
This test is currently flaking up to 5% of the time in these jobs.That's not terrible, but the jobs are among the flakiest, so stabilizing it would really help.

[2019-03-14 13:30] yastij commented on #75356
/assign

Since I'm seeing this on some of our clusters

[2019-03-14 13:30] yastij commented on #75356
/priority important-soon

[2019-03-14 13:32] yastij commented on #75342
There's a KEP opened for this kubernetes/enhancements#719

/priority important-soon

[2019-03-14 13:43] justinsb commented on #74890
Looks like the hackaround in #75305 did "work" in that UpgradeTest is no longer panic-ing and we are getting test signal again.  The locking is probably incorrect now and probably is still hitting the same bug and we just aren't panicing, but we have test signal!

Results look not-terrible - some flakes on ESIPP and storage, but not on the same test in the (very small) sample so far.  And kudos to

[2019-03-14 13:45] mikebrow commented on #75238
@cmluciano turns out we are doing the masks correctly.. They were being set to nil if privileged a dozen or so lines down from where I looked. My tests confirm we are not applying these requested masks if the container is privileged. So this needs more debug.

[2019-03-14 13:53] neolit123 commented on #74890
indeed, and the diffResources test passes now.

yes, once we revert our hack patch after a 1.12.1 bump we will be sure.

[2019-03-14 13:59] andrewsykim commented on #75285
If we record what nodes are currently being initialized, we can prevent this IMO.

Yeah, the taint determines whether or not to trigger the initialization, but the logic is independent of that & is also idempotent.

[2019-03-14 14:11] mikebrow commented on #75238
Note in the above inspect... the config includes the masked/readonly paths because kubelet passed them in.. but in the "runtimeSpec" under the "linux" fields there are no masked/readonly paths.. because containerd filtered them out.

[2019-03-14 14:21] tghartland commented on #75285
Storing the name in the map of nodes being initialized "currently" won't work. In the logs in my previous comment the node was initialized both at `15:16:44` and `15:27:51`. There's nothing current about that, that's 11 minutes apart. The record in the map needs to persist after the initialization is complete.

As long as the events are processed in order of creation, it would be possible to add s

[2019-03-14 14:22] neolit123 commented on #75028
you cannot change the cluster name of a running cluster because of service binding.
so you have to recreate the cluster and use the config field `clusterName: ...` under ClusterConfiguration.
see here: https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-03-14 14:43] kellycampbell commented on #64148
It's in 1.11.7. Maybe you were confused by the changelog title "Changelog
since v1.11.6" ?

On Thu, Mar 14, 2019 at 8:38 AM jochenhebbrecht <notifications@github.com>
wrote:

[2019-03-14 14:54] vladimirvivien commented on #75220
Thank you.

[2019-03-14 15:09] andrewsykim commented on #75285
^ hard to gauge what this really means. Both initialization loops could be starting seconds away but finishing 11 minutes apart for various reasons (most likely a call to the provider is hanging?). Can you also log the timestamp at the start of `initializeNode`?

As I mentioned in a previous comment, I think both approaches would work but semantically it would make sense to remove the node in the

[2019-03-14 15:32] mariantalla commented on #74960
Update on flake-rate-over-the-last-week:
* 44% for master-default
* 62% for 1.14-default

[2019-03-14 15:49] penrique commented on #25408
same issue

[2019-03-14 15:51] bertinatto commented on #75275
We do run serial and [disruptive tests along with serial:](https://github.com/kubernetes/test-infra/blob/f9d36b8fe58dc85f6f2c59106cca64f529ff06ac/config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml#L544). Looks like this change is [fairly recent](https://github.com/kubernetes/test-infra/commit/29362201b30f4f8b8d7a3c0dfa68d67915447b88).

@msau42, do you think this makes sense?

[2019-03-14 16:07] spiffxp opened #75372 "Umbrella issue: migrate kubernetes to Go 1.12.1"
The Go release team hopes to have 1.12.1 out sometime between today and tomorrow https://github.com/kubernetes/kubernetes/issues/74890#issuecomment-472558713

We believe this will fix an issue we're working around in one area of our upgrade tests, but may be lurking in all of our vendored code https://github.com/kubernetes/kubernetes/pull/75305

Let's use this issue to put together the steps to ro

[2019-03-14 16:11] spiffxp commented on #75372
FYI @bradfitz
FYI @justinsb @liggitt @neolit123 @dims @tpepper
I don't want to voluntold one of you to lead this but you've all got more context than I
/assign @amwat
I know release team's test-infra role needs to be involved

/sig release
/sig testing

[2019-03-14 16:17] spiffxp commented on #75372
/assign @munnerz
since @dims pinged you in #sig-testing

[2019-03-14 16:18] jochenhebbrecht commented on #64148
Yes, sorry, that title confused me.
Ok, we'll try to upgrade our K8S cluster and we'll verify if the issue pops up again or not.

[2019-03-14 16:23] spiffxp commented on #74890
I opened https://github.com/kubernetes/kubernetes/issues/75372, I want us to be ready with next steps.  Who wants to take the lead on pushing it forward?  I took a guess at the required steps in the description, please comment if I got anything wrong

I feel like we should also have an issue open to plan out what a rollback to go 1.11.5 would look like _just in case_, because I'd like to understan

[2019-03-14 16:26] msau42 commented on #75275
I think running serial and disruptive together is fine. We do that for non-upgrade jobs too.

[2019-03-14 16:35] mariantalla opened #75373 "[Flaky test] [sig-apps] DaemonRestart [Disruptive] Kubelet should not restart containers across restart"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gci-gce-serial` ([testgrid](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial)) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-serial%24&test=Kubelet%20should%20not%20restart%20containers%20across%20restart))
* `ci-kubernetes-e2e-gce-cos-k8sbeta-serial` ([testgrid](http

[2019-03-14 16:37] jcrowthe commented on #70082
As an update here, I'm seeing this same `read-only range request ... took too long` error in Azure k8s clusters with ~200 nodes, but notably the etcd data is mounted on ramdisk. This means that our 99th percentile backend commit duration is ~6ms, indicating this is not due to slowness of disk.

Have we identified if this is due to the version of etcd? Currently 3.2.24 is the recommended etcd versi