[2021-07-29 16:34] aojea commented on #103857
hmm I don't know how kubectl prints the information, but you can check the fields with
`kubectl get service -o yaml` and you could see that ExternalIPs and LoadBalancer.IngressIP are different fields, actually one is in the Status and other in the Spec

[2021-07-29 16:35] brancz commented on #103887
This is Kubernetes, not k3s, even though there might be similarities we have no idea about k3s. Please report this over at k3s.

[2021-07-29 16:36] brancz commented on #103887
/triage needs-information

[2021-07-29 16:38] rphillips commented on #103879
@smarterclayton I do not see a failed sandbox creation there. However, the Kubelet is racing at the same spot with a configmap update, and then restarting Kubelet within the same second of the garbage-collect test pod.

[code]

[2021-07-29 16:38] dgrisonnet commented on #104008
/sig instrumentation

[2021-07-29 16:41] rphillips commented on #104008
/triage accepted

[2021-07-29 16:42] sanya301 commented on #102405
@apoorvajagtap didn't read through the entire thread before, were you planning on working on this? I'm also new to the community, let me know if I can help!

[2021-07-29 16:42] bootc commented on #104012
/sig apps

[2021-07-29 16:43] dkulchinsky commented on #103857
interesting, so in the `-o yaml` output, I can only see the `status.loadBalancer.ingress.ip`, there's actually no mention of `External IP` here:
[code]

That's why I always assumed that this is referring to the same thing/attribute.

[2021-07-29 16:49] marosset commented on #92963
We should now have all the CRI calls wired up to support this functionality (changes came in with #99576) but there may still be some changes needed in containerd to enable this.

[2021-07-29 16:50] marosset commented on #92963
@KevPar @dcantah FYI

[2021-07-29 16:52] mengyaoyang11 commented on #103923
/assign mengyaoyang11

[2021-07-29 17:02] marosset commented on #103032
/help-wanted

[2021-07-29 17:03] marosset commented on #103032
/help

[2021-07-29 17:03] marosset commented on #102954
/help

[2021-07-29 17:05] marosset commented on #102686
It does work to set requests lower than limits but in our experience your are likely to run into resource starvation issues on the host when this happens because eviction / memory pressure warnings do not work for windows.

We can update the docs on the website clarify this and say it will work but we strongly recommend against it.

[2021-07-29 17:06] marosset commented on #102737
@andyzhangx is there an issue / PR we can link to here for the fix?

[2021-07-29 17:33] neolit123 commented on #104005
/sig cli

[2021-07-29 17:34] neolit123 commented on #104005
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.16-eks-7737de", GitCommit:"7737de131e58a68dda49cdd0ad821b4cb3665ae8", GitTreeState:"clean", BuildDate:"2021-03-10T21:33:25Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

not this is not a support skew between client/server:
https://kubernetes.io/releases/version-skew-policy/

this seems like a missing feature

[2021-07-29 17:34] ehashman commented on #103879
Question: if we take https://github.com/kubernetes/kubernetes/pull/103992 can we fix the rest of these issues in backports? I'd like to unblock the release if at all possible.

[2021-07-29 17:36] neolit123 commented on #104001
if supported might be good to document this at the k8s.io website.

/kind documentation
/sig api-machinery

[2021-07-29 17:36] neolit123 commented on #104000
/are code-organization

[2021-07-29 17:37] neolit123 commented on #104000
/area code-organization
/kind cleanup

[2021-07-29 17:50] kevpar commented on #92963
I filed containerd/containerd#5812 to track the containerd changes for this.

[2021-07-29 17:58] cheftako commented on #103742
Investigating. Sadly we do not seem to be capturing the either konnectivity-server or konnectivity-agent logs. containerd/kubelet logs show that we are seeing the konnectivity-agent failing a health check at about the time of some of the failures. Right now trying to get the logs captured so we are better set up to investigate.

[2021-07-29 18:17] mac-chaffee commented on #60140
I investigated this issue a little bit, but unfortunately I didn't find the fix. Maybe this info could help someone else.

When the issue happens, Kubelet logs:
[code]
(port 45563 is the kubelet port)

And kube-apiserver logs:
[code]
(172.25.16.204 is the master node where kube-apiserver is running, 172.25.16.208 is the worker node where the container with the file is running)

To help replicate t

[2021-07-29 18:21] alculquicondor opened #104013 "[Discussion] should Pods be placed in backoff when internal errors happen?"
Today, when a Pod fails to schedule, we put it in the unschedulable queue regardless of the reason why it failed.

Pods only exit the unschedulable queue for 2 reasons:
- An external event happens (pod deleted, node created, etc)
- The flush (1 min by default)

In some cases, the errors could be transient, and the Pod should not be penalized by landing in the unschedulable queue.
The most obvious

[2021-07-29 18:21] alculquicondor commented on #104013
/sig scheduling

[2021-07-29 18:36] alculquicondor commented on #103853
I almost opened a new issue, but better expand this thread:

The error handling is currently split in 2 places with no clear reason for the separation:
- `MakeDefaultErrorFunc` in `pkg/scheduler/factory.go`
- `recordSchedulingFailure` in `pkg/scheduler/scheduler.go`.

Moreover, `recordSchedulingFailure` is called from several places and #103805 is adding more calls.

My proposal:
- Merge the 2 fun

[2021-07-29 18:44] alculquicondor commented on #104013
Might we wise to solve this along with the refactorings in #103853

[2021-07-29 18:45] alculquicondor commented on #104013
cc @ahg-g @Huang-Wei

[2021-07-29 18:48] dcantah commented on #92963
Thanks @kevpar. I guess I can take on the work to utilize the fields once 1.22 deps get vendored.

[2021-07-29 18:53] Huang-Wei commented on #104013
SGTM. Prior to the implementation, need to pre-refactor the plugins to ensure (1) transient failures are returned as Error status and (2) non-transient failures are categorized as Unschedulable(AndUnresolvable) properly.

[2021-07-29 18:55] thockin commented on #103286
https://github.com/kubernetes/kubernetes/pull/104014 offered

[2021-07-29 19:17] ccampo133 commented on #86881
I'm working on a PR for this using the work already done. Should be able to
get to it next week.
/cc

On Tue, Jul 27, 2021 at 6:26 PM SpootyMcSpoot ***@***.***>
wrote:

[2021-07-29 19:31] knabben commented on #101986
@wesleyw72 Correct, this is mostly the main idea but needs more discussion around the new structure.

It Can be a good idea to spec out a proposal and bring to the SIG node CI meeting.

/cc @SergeyKanzhelev @ehashman

[2021-07-29 19:51] SergeyKanzhelev commented on #103879
Serial was not a blocking for previous releases and this is outstanding progress that for 1.22 we investigated so many of the failures. Since we are not running serial on 1.22 branch, unless we will find critical product issues, test fixes may not need to be backported. Perhaps we can discuss to start running serial on release branches once they are stabilized in master. So unless there are known

[2021-07-29 20:12] smarterclayton commented on #103879
In https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1420578748725465088 `E2eNode Suite: [sig-node] Restart [Serial] [Slow] [Disruptive] [NodeFeature:ContainerRuntimeRestart] Container Runtime Network should recover from ip leak expand_more` is failing because it takes 1h30m to terminate the pod `test-e7842f3f-c74c-4285-9b78-3d26c9d53bac`.  Looking through logs

[2021-07-29 20:15] fedebongio commented on #104001
/assign @Jefftree @leilajal
/triage accepted

[2021-07-29 20:16] fedebongio commented on #103998
/help
/assign @jpbetz
/triage accepted

[2021-07-29 20:17] fedebongio commented on #103845
/triage accepted

[2021-07-29 20:46] smarterclayton opened #104017 "dockershim takes 1h30m to successfully kill a pod in node-serial tests"
In https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1420578748725465088 `E2eNode Suite: [sig-node] Restart [Serial] [Slow] [Disruptive] [NodeFeature:ContainerRuntimeRestart] Container Runtime Network should recover from ip leak expand_more` is failing because it takes 1h30m to terminate the pod `test-e7842f3f-c74c-4285-9b78-3d26c9d53bac`.  Looking through logs

[2021-07-29 20:46] smarterclayton commented on #103879
Spawned https://github.com/kubernetes/kubernetes/issues/104017

[2021-07-29 20:52] ehashman commented on #104008
/cc

[2021-07-29 21:01] #98605 closed

[2021-07-29 21:21] ehashman commented on #104017
/triage accepted
/milestone v1.22

[2021-07-29 21:32] smarterclayton commented on #104017
Note that prior to #102344 this would have been ignored (we added an assertion that the container runtime was doing its job) so things would have silently failed before and reported success to the test.  Unsure what exactly is going on here though.

[2021-07-29 21:32] ehashman commented on #104008
@deads2k do we have a k/k revert open yet for testing?

[2021-07-29 21:56] xing-yang commented on #101728
Please add the following to the Known Issues section of the 1.22 Release Notes:
[code]
CC @divyenpatel @SandeepPissay @msau42 @jsafrane @gnufied

[2021-07-29 21:56] jsturtevant commented on #98499
We are still seeing this occasionally. I believe it is either an OS bug or a race condition with kube-proxy and container start up.

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1417370848683102208
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd-1-22/1419954732759257

[2021-07-29 22:04] msau42 commented on #101728
@xing-yang Can you also mention the CSIMigrationVSphere feature gate in the note as well?

[2021-07-29 22:06] xing-yang commented on #101728
@msau42 what should I mention about the CSIMigrationVSphere feature gate?

[2021-07-29 22:11] Sebor commented on #89903
Honestly I don't. I suppose kubelet service should has been restarted, but I didn't do that

[2021-07-29 22:26] Porges commented on #84539
/remove-lifecycle rotten

This is still an issue at the moment. Yesterday I helped guide a customer to diagnose this problem on one of their clusters. `enableServiceLinks` can easily cause Kubelet to make pods inoperable when there are many active Services in a namespace.

[2021-07-29 22:42] msau42 commented on #101728
If the feature gate is enabled, they should also hold off on upgrading to 1.22

[2021-07-29 22:48] verult commented on #74988
Per @msau42 's suggestion, for mount events we could disable events only for remountable volumes (secrets/configmaps/etc., CSI volumes with [this field](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/storage/types.go#L397) set).

Also consider adding failure events for other volume operations, most importantly teardown operations such as unmount and detach.

[2021-07-29 22:50] #43846 closed

[2021-07-29 23:08] msau42 commented on #74988
This original issue is tracking a problem where we generate events outside of the operation executor, which means that any errors that happen are event spammed without backoff.

[2021-07-29 23:12] ehashman commented on #104017
Looking at the timeout failure on **[sig-node] Dockershim [Serial] [Disruptive] [Feature:Docker][Legacy:Docker] When all containers in pod are missing
  should complete pod sandbox clean up based on the information in sandbox checkpoint**

I am able to reproduce the failure locally. I notice that the test times out, but as far as I can see from inspecting docker, the container is already gone. For

[2021-07-29 23:13] #103286 closed

[2021-07-29 23:50] gnufied commented on #101728
The main concern as far as k8s release is - it is intree to CSI migration of vSphere volumes that is broken in 1.22. So I think our release note should say something like:

[2021-07-30 00:18] YanzhaoLi commented on #89903
Maybe. The containerd client only initializes once: https://github.com/google/cadvisor/blob/6acde093f1acbf315025c4bf249d3c72de078ea2/container/containerd/client.go#L57

[2021-07-30 01:14] Lovnx commented on #103996
Hope that will be : )

[2021-07-30 01:14] #103996 closed

[2021-07-30 01:25] RyanAoh commented on #101648
/remove-lifecycle stale

[2021-07-30 02:09] RyanAoh commented on #101648
maybe  /area api

[2021-07-30 02:11] RyanAoh commented on #101648
/area api

[2021-07-30 02:19] Patrick0308 commented on #104005
@neolit123 All right. Information prompt is not friendly. It make me think it's a bug.

[2021-07-30 02:32] zhiweiv commented on #102686
Anyway, it is not related to k8s scheduler, right? An Azure support engineer asked me to follow the rule(must set only limits or limits must equal requests) in pod schedule issue, I have doubt with this solution.

[2021-07-30 03:09] jacky68147527 opened #104023 "Container probes support hooks?"
I hope to take more actions based on the probes results, such as synchronize permissions, notify services outside the kubernetes cluster, and so on......

[2021-07-30 04:10] sanposhiho commented on #99605
Good, it would be simpler if one backend didn't have to deal with multiple users. This one will be a further goal.

Ok, simulator only require nodejs(+ yarn), etcd(installed with /hack/install-etcd.sh) and Golang, and there is Makefile to execute. So it is not difficult for users to execute.
I'll add some documents to describe how to execute and use simulator in detail.

[2021-07-30 06:05] #95421 closed

[2021-07-30 06:22] mukul-seagate11 opened #104026 "Best approach to write data to /sys/block/mdX/md/sync_action as its failing"
<!-- Please use this template while reporting a bug and provide as much info as possible. Not doing so may result in your bug not being addressed in a timely manner. Thanks!

#### What happened:
Best approach to write data to /sys/block/mdX/md/sync_action as its failing

#### What you expected to happen:
To define a spec where data can be written in /sys/block/mdX/md/sync_action to scrub the drive

[2021-07-30 07:29] aojea commented on #103860
I've just realized we have to remove it form the website docs too:
https://github.com/kubernetes/website/blob/main/content/en/docs/concepts/services-networking/service.md#user-space-proxy-mode-proxy-mode-userspace

[2021-07-30 07:36] mcbenjemaa commented on #104023
/kind support

[2021-07-30 08:34] richardcase commented on #98380
I'll take a look at this:

/assign

[2021-07-30 09:30] mcbenjemaa commented on #104026
/triage needs-information

[2021-07-30 11:30] CermakM commented on #103975
@Huang-Wei that's an interesting point, thanks for the advice, I'll take a closer look at my code and see what can be fixed on my side. Also, thanks for the fix in the new release!

That being the case, I think we can close this issue. Cheers!

[2021-07-30 11:30] #103975 closed

[2021-07-30 12:27] chansonzhang commented on #63128
@pehlert I'am wondering the apiserver docker container remained untouched after the pod had beed deleted is a bug or feature? Do you have any idea?

[2021-07-30 12:41] s-urbaniak commented on #104008
@ehashman I submitted https://github.com/kubernetes/kubernetes/pull/104033: let me know if this looks good to you.

[2021-07-30 13:31] wojtek-t commented on #103822
@msau42 - thanks!

It looks much better now, but still imperfect.
In particular the pv-metrics related tests are failing. It seems to be similar to https://github.com/kubernetes/kubernetes/issues/102865

@mauriciopoppe @pohly @aojea - can you please take a look as you were involved in the original bug?
[ I guess it's a matter of cherrypicking something]

[2021-07-30 13:36] sbwfnhn opened #104034 "POD is OOM.Can't get the limited memory of the container"
POD is OOM.
k8s v1.19.4+docker is OK. but v1.21+cri-o+buildah does not work properly.
Why the limits are not effective.Not the container limit memory, It's physical memory

centos7
[code]

kernel
[root@master01:.docker_temp] # uname -r
5.4.126-1.el7.elrepo.x86_64

use  limits
[code]

memory
[code]

use -XX:+UseContainerSupport
[code]

Cannot read memory.limit_in_bytes
[code]

k8s version
[code]

c

[2021-07-30 14:24] Kumar6295 opened #104035 "Unable to access outside ip with domain name , when it is not in /etc/hosts file of pods"
Hi,
We are using kubernetes cluster with 1 master node and 2 worker nodes.
We deployed pods in master node and enabled engress and ingress for pods and able ping particular domain name like below

ping  identity.ns.ai
PING identity.ns.ai (46.xx.xx.188): 56 data bytes
64 bytes from 46.xx.xx.188: seq=0 ttl=50 time=30.160 ms
64 bytes from 46.xx.xx.188: seq=1 ttl=50 time=28.350 ms
64 bytes from 46.xx.

[2021-07-30 14:31] Kumar6295 opened #104036 "unable to access outside ip address in worker nodes"
Hi,
We are using kubernetes cluster with 1 master and 2 workers.
Create network policy for engress and ingress for all the pods.
We are able to ping and nslookup in master node pods it is working but we are try sample in worker nodes pods it is not working.
Need to add any separate policy for worker nodes?

[2021-07-30 14:32] kerthcet commented on #104034
/sig node

[2021-07-30 14:37] kerthcet commented on #104023
`exec command` can not meet your needs?

[2021-07-30 14:41] kerthcet commented on #104023
I do think probes should not process with heavy logic, which may lead to unexpected phenomenon.

[2021-07-30 14:49] #104008 closed

[2021-07-30 15:21] neolit123 commented on #104036
hi, please try the support channels first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

we try to keep the issue trackers for bugs/features only.

/kind support
/close

[2021-07-30 15:21] #104036 closed

[2021-07-30 15:56] jsafrane commented on #103754
`read()` can return a half of a line, with the rest of it in a subsequent `read()`. But the second `read()` can be with a different mount table. Hence the line with the mount that the code is interested in may be inconsistent too.

Nr. of /proc/mount read attempts has been increased recently. How often do you see `could not get consistent content of /proc/mounts` in your logs? Kubelet already retr

[2021-07-30 15:56] ehashman opened #104038 "Kubelet serial tests fail to consistently run to completion"
#### Which jobs are flaking:

kubelet-serial jobs (pull/ci)

/sig node

#### Which test(s) are flaking:

Does not seem to be confined to a specific tst.

#### Testgrid link:

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

#### Reason for failure:

It seems that the kubelet fails to restart with a new DynamicKubeletConfig, times out, and the tests panic and print a massive backtrace.

[2021-07-30 15:57] ehashman commented on #104038
/triage accepted
/milestone v1.23

[2021-07-30 16:23] marosset commented on #102686
@zhiweiv can you explain the problems you were seeing that prompted the support engineer to follow this rule?

The centralized scheduler uses requests to decide if the node has enough resources to run the pod. (If requests are omitted then then limits value is used)
The kubelet running on each node is responsible for making sure that the containers in the pods don't use more than the specified res

[2021-07-30 16:33] #101728 closed

[2021-07-30 17:11] adtac commented on #99605
re new repo: yes, I was thinking of the same but I wasn't sure how to proceed with getting a new repository. Pinging @Huang-Wei for help :)

Just to set the expectations right in the context of GSoC, while I like the idea of a separate instance of the binary for each user as a security model, I'd like to mention that it's out of scope for this project. However if Kensei wants to work on it, then t

[2021-07-30 17:12] msau42 commented on #103822
Also looks like the hostpath reconstruction tests are failing. I'll work on backporting #103937

[2021-07-30 17:22] Huang-Wei commented on #99605
Sure, I can help setup a repo. Before we head to the repo creation, let's clarify our expectations:

- Is this repo for the all-in-one web simulator ? i.e., the frontend UI (maybe also includes user session mgmt) + backend (running the simulation)
- or, are we going to host two repos - a repo for web simulator SDK (external integrator can benefit from this), and a repo for frontend UI
- and, are w

[2021-07-30 18:00] ehashman opened #104041 "Revert bump of DynamicKubeletConfig metrics deprecation to 1.23"
This shipped in 1.22 as deprecated in 1.22. As a hacky fix to unbreak tests on 1.23 dev, I bumped the deprecation policy one release: https://github.com/kubernetes/kubernetes/pull/103980#issuecomment-888510879

We will need to revert that before 1.23 ships and figure out a better solution.

/kind cleanup
/milestone v1.23
/sig node

[2021-07-30 18:02] ehashman commented on #104041
/triage accepted

[2021-07-30 18:09] mauriciopoppe commented on #103822
@aojea do you know which PRs in addition to #103806 should be backported? I found a few that were related #102050, #101960, #101895

[2021-07-30 18:13] maniator commented on #102822
https://hub.docker.com/r/maniator/dind-buildx has been updated to use the official binary buildx image

[2021-07-30 18:21] damemi commented on #89178
/remove-lifecycle stale

[2021-07-30 19:47] manugupt1 commented on #81134
Hello,

Combed through https://github.com/kubernetes/kubernetes/issues/81134#issuecomment-868282923:

| file | PR/ commit | status |
-- | -- | --
staging/src/k8s.io/kubectl/pkg/scale/scale.go |  [commit](https://github.com/manugupt1/kubernetes/commit/ef469a740a24b87f501606c897ea849d6478e162) |  merged
staging/src/k8s.io/apimachinery/pkg/runtime/codec_check.go | [commit](https://github.com/manugupt

[2021-07-30 20:03] getpawarful commented on #104035
/assign

[2021-07-30 20:04] getpawarful commented on #104035
triage/accepted

[2021-07-30 20:09] getpawarful commented on #104035
Looks like a DNS issue to me, please find this for reference https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

[2021-07-30 20:13] manugupt1 commented on #81134
I think the below two are left. I have added the query that I used below and all the results.

*** src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
47:	return fmt.Sprintf("{datacenter: %v, vm: %v, vcServer: %s, vmUUID: %s, zone: %v}",

***  src/k8s.io/apiserver/pkg/util/flowcontrol/format/formatting.go
190:		buf.WriteString(fmt.Sprintf("{Kind: %q", subj.Kind))

Q for maintainers: Is it oka

[2021-07-30 20:45] pmorie commented on #92506
I have recently hit this as well :)

[2021-07-30 21:44] ehashman commented on #82440
/lifecycle frozen
:skier:

[2021-07-30 21:44] ehashman commented on #82440
/help-wanted

[2021-07-30 21:44] ehashman commented on #82440
/help

[2021-07-30 22:14] aojea commented on #103822
All those PRs were already backported, there should not be much difference right now between master and 1.22 ... let me check next week some of the failures to understand the cause

[2021-07-31 00:00] bobbypage commented on #103366
I believe it's expected that the cgroup naming will differ when using systemd cgroup driver vs cgroupfs. Kubelet internally has some logic for parsing and converting between the two different formats, e.g.

https://github.com/kubernetes/kubernetes/blob/5be21c5/pkg/kubelet/cm/cgroup_manager_linux.go#L132-L134
and
https://github.com/kubernetes/kubernetes/blob/5be21c5/pkg/kubelet/cm/cgroup_manager_li

[2021-07-31 00:16] #94198 closed

[2021-07-31 01:41] kaitoy commented on #74839
[The fix for this issue](https://github.com/kubernetes/kubernetes/pull/74840) was put to iptables mode but not to [ipvs mode](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1817), right?

Isn't ipvs mode affected by this issue, too?

[2021-07-31 02:27] bbagwellffn opened #104050 "Pods stuck in 'Pending' or 'Terminating' after upgrading kube-apiserver/controllermanager/scheduler to 1.21.3"
Hello all,

I have recently upgraded this cluster from 1.16 to 1.21 (stepping up each of the masters and kubelets), and have noticed that we're having issues getting new pods scheduled to the nodes.

NFS is mountable, and this is reproducible even on pods with no PVCs assigned to them.

Specifically, pods are showing up as 'Pending' (despite kubectl describe showing them assigned to a particular n

[2021-07-31 05:19] zhiweiv commented on #102686
Thanks for the detailed explanation.

About the schedule issue, we use bare pods to run background tasks, when task comes, our task controller create a pod to run it, then delete the pod after it run to complete. We found occasionally the scheduler assign all new pods to only one node although there were no pods running in other nodes at same AKS node pool, when the issue happens, it will come bac

[2021-07-31 10:22] grishy opened #104052 "client-go: PatchType is not supported for ApplyPatchType in fake"
Hi,
When I write a tests:
[code]

After try to apply:
[code]

I get: **PatchType is not supported**

Because we have 4 of const:
**k8s.io/apimachinery@v0.21.0/pkg/types/patch.go:25**
[code]

But in switch only 3 case:
https://github.com/kubernetes/client-go/blob/master/testing/fixture.go#L150

Original issue: https://github.com/kubernetes/client-go/issues/970

[2021-07-31 12:46] grishy commented on #104052
/sig  api-machinery
/wg  api-machinery

[2021-07-31 12:47] grishy commented on #104052
/sig api-machinery

[2021-07-31 13:49] vishal-yadav commented on #99399
/remove-lifecycle rotten

[2021-07-31 14:29] sanposhiho commented on #99605
As @adtac, and @alculquicondor said, for GSoC, it should be the priority to make the simulator easy for users to use their own machine. So, in the rest of GSoC, I'll add some docs, write the blog post and the final report and improve the code to be easy to maintain.
And, about hosting, I know that this will require a lot of further work and resources. If we can reach an agreement to create a websi

[2021-07-31 15:41] mritunjaysharma394 commented on #104052
I tried to look in https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apimachinery/pkg/util/ and found that while [strategicpatch](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch), exists and similarly exists `jsonmergepatch `and `mergepatch`, I guess, when we will try to fix this issue, we will have to add `applypat

[2021-07-31 20:22] #91727 closed

[2021-08-01 00:26] #97840 closed

[2021-08-01 03:31] evanlixin commented on #103789
@aojea @deads2k  i don't hang informer hander by fifo queue,  i find that  memory will come down when lots of create and delete pods。but i running code online，the streamwatcher still exist high memory usage 。 as follows pprof
[0801heap.pdf](https://github.com/kubernetes/kubernetes/files/6912102/0801heap.pdf)，Please take a look at it。

[2021-08-01 04:53] sanposhiho commented on #103816
Hello.
OK, So this issue is duplicated with #99953. I'll close it with #103821, thanks

[2021-08-01 06:10] vikramcse opened #104057 "The test `TestVolumeUnmountAndDetachControllerDisabled` test if failing from `kubelet_volumes_test.go`"
#### Which jobs are failing:
pull-kubernetes-unit

#### Which test(s) are failing:
TestVolumeUnmountAndDetachControllerDisabled

#### Since when has it been failing:
It failed on `07/24/2021` but after that the test is passing

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103631/pull-kubernetes-unit/1418992044973494272#1:build-log.txt%3A2386

#### Reason for fail

[2021-08-01 06:11] vikramcse commented on #104057
/sig testing

[2021-08-01 08:07] wojtek-t commented on #103822
@aojea - the upgrade tests are from stable1 to latest, which I think is 1.21 not 1.22 now.

[2021-08-01 08:13] melpeln commented on #102545
/assign

[2021-08-01 13:37] RinkiyaKeDad commented on #104007
Looks like @Haimantika is already on it 🙂 thanks!

/unassign

[2021-08-01 18:18] aojea commented on #103822
I don't know how these jobs works for upgrades, but checking one of the ocurrences https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-latest-upgrade-cluster/1421760579051196416/build-log.txt
it seems that first runs the e2e test binary from master version against a cluster with the version 1.21.
[code]

then it runs the e2e test binary from version 1.21 against th

[2021-08-01 19:58] akshitgrover commented on #103304
@liggitt
Does it make sense to take it up now?
I think we already have a couple of RC builds after the code freeze

[2021-08-01 20:33] #99790 closed

[2021-08-02 00:25] houfangdong commented on #97942
/close

[2021-08-02 00:25] #97942 closed

[2021-08-02 01:41] sbwfnhn commented on #104034
Supplement

v19+docker
[code]

v21+cri-o+buildah
[code]

[2021-08-02 01:58] manugupt1 commented on #81134
Found a bit more results.

[code]

Is an equality test, so it can probably be ignored.
pkg/util/pod/pod.go:	return patchBytes, bytes.Equal(patchBytes, []byte(fmt.Sprintf(`{"metadata":{"uid":%q}}`, uid))), nil

staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go:		patchBytes := []byte(fmt.Sprintf(`{"status": {"conditions": [ %s ] } }`, string(enc))) ---> https://github.com/kubernete

[2021-08-02 02:41] daDangminh commented on #98414
@damemi Hi, I am currently facing the same issue with trying enable RequestedToCapacityRatio plugin in K8s 1.16. What I attempted to do is writing a KubeSchedulerConfiguration YAML file at `/etc/kubernetes/scheduler-config.yaml`, which I then refer to inside the YAML file defining the scheduler pod at `/etc/kubernetes/manifests/kube-scheduler.yaml`.

Here's the content of `/etc/kubernetes/schedule

[2021-08-02 02:43] daDangminh commented on #98414
@damemi Hi, I am currently facing the same issue with trying enable RequestedToCapacityRatio plugin in K8s 1.16. What I attempted to do is writing a KubeSchedulerConfiguration YAML file at `/etc/kubernetes/scheduler-config.yaml`, which I then refer to inside the YAML file defining the scheduler pod at `/etc/kubernetes/manifests/kube-scheduler.yaml`.

Here's the content of `/etc/kubernetes/schedule

[2021-08-02 02:48] kerthcet commented on #104050
/sig scheduling

[2021-08-02 03:16] huzhengchuan commented on #103910
thanks!  close this issue first, the feature about the strict isolated cpu manager need more discuss

[2021-08-02 03:16] #103910 closed

[2021-08-02 03:24] m-Bilal opened #104067 "Building Kubernetes using Docker doc does not mention the requirement of buildx cli plugin for Docker"
[Building Kubernetes using Docker Doc](https://github.com/kubernetes/kubernetes/blob/5be21c50c269fc1d28e0bd31ab9dcb572ae7fac5/build/README.md) does not explicitly mention that buildx cli plugin is required for this operation.
If buildx is not present, running `./build/run.sh` gives the following error (which is not very helpful.)
[code]
Running the manual command also results in the same error.

I

[2021-08-02 03:26] m-Bilal commented on #104067
/sig contributor-experience

[2021-08-02 03:34] ydcool commented on #98218
/reopen

[2021-08-02 03:47] gjkim42 commented on #104050
Skipping minor versions when upgrading is unsupported.

---

By the way, what makes you think there is a scheduling issue?

Maybe there are some issues in kubelet. It would be helpful to post kubelet's log.

[2021-08-02 03:53] pacoxu commented on #104067
/kind documentation

[2021-08-02 06:01] i1337m commented on #101378
Any progress regarding this bug?

[2021-08-02 06:02] eliekoren commented on #101378
Same question

[2021-08-02 06:26] Ferenc- commented on #89899
/remove-lifecycle stale

[2021-08-02 06:36] Kumar6295 commented on #104035
Thanks , we will look into

[2021-08-02 07:46] mborsz opened #104071 "Use github.com/klauspost/compress/gzip in kubernetes"
#### What would you like to be added:
This is an optimization proposal: In some cases (when a lot of large LIST calls happens at roughly the same time) it looks like a significant part of CPU usage is generated by gzip compressing.

There is an alternative implementation of gzip library which seems to be less CPU-consuming.

I think we should investigate if migration from golang's compress/gzip li

[2021-08-02 08:38] verb commented on #85545
/reopen
/remove-lifecycle rotten

[2021-08-02 09:21] bunniseng commented on #103423
Just realized this looks like a duplicate issue and looking as fixed by PR [103424](https://github.com/kubernetes/kubernetes/pull/103424)

Both this issue and [103424](https://github.com/kubernetes/kubernetes/pull/103424) were raised by Zac

[2021-08-02 09:21] bunniseng commented on #103423
/unassign

[2021-08-02 09:21] bunniseng commented on #103423
/close

[2021-08-02 09:22] bunniseng commented on #103423
Didn't think I could close this, leaving this with @dashpole @ehashman

[2021-08-02 09:22] jyz0309 commented on #104041
I want to try it. Can I take this issue? @ehashman

[2021-08-02 09:41] mindw commented on #40651
/remove-lifecycle stale

[2021-08-02 09:44] bunniseng commented on #99483
/assign

[2021-08-02 09:45] bunniseng commented on #102285
/assign

[2021-08-02 10:02] pohly commented on #103430
Let me double-check...

/assign

[2021-08-02 10:37] #99832 closed

[2021-08-02 10:40] StephanDollberg commented on #92636
Does k8s actually support those extended features (# offset etc)?

Can't find it in the docs anywhere.

[2021-08-02 11:03] mritunjaysharma394 commented on #104071
/assign

[2021-08-02 11:27] kerthcet commented on #103607
i think it's due to the upgrade of your cluster. The error means resource version can not match? what's your cluster version before?  @craig-riecke

your new created cronjob is working well, right? like below:
[code]

[2021-08-02 11:33] rtheis commented on #83332
/remove-lifecycle rotten

[2021-08-02 12:50] alikhil commented on #83111
/remove-lifecycle stale

[2021-08-02 13:11] vpnachev opened #104073 "Misleading documentation about the supported OIDC signing algorithms"
#### What happened:
A kube-apiserver does not support all of the signing algorithms listed in RFC 7518 https://tools.ietf.org/html/rfc7518#section-3.1.
It fails with something like
[code]

When looking into the [documentation](https://v1-20.docs.kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) or in the code https://github.com/kubernetes/kubernetes/blob/5be21c50c269fc1d28

[2021-08-02 13:14] vpnachev commented on #104073
/sig auth
/kind documentation

[2021-08-02 13:17] pohly commented on #103430
There are indeed `<skipped>` entries when testing with Kubernetes master. I must have looked at a run with Kubernetes 1.21 or older when filing this issue.

Example from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-csi-1-21-on-kubernetes-master/1422109884308000768/artifacts/junit_parallel.xml

[code]

However, prow.k8s.io does not show the skip reasons: https://prow.k8s.io/

[2021-08-02 13:41] michaelgugino commented on #99598
/remove-lifecycle rotten

[2021-08-02 13:41] michaelgugino commented on #99598
/reopen

[2021-08-02 14:43] damemi commented on #100400
/remove-lifecycle rotten

[2021-08-02 14:47] bbagwellffn commented on #104050
My apologies for the lack of clarification gjkim42.  By 'stepping up each of the masters and kubelets', I meant that no skips were done.  I went form 1.17 -> 1.18 -> 1.19 -> 1.20, all while maintaining no more than one minor version difference the masters and the kubelets.

The reason I suspected the scheduler was that my understanding was that the necessary and sufficient condition for a pod to n

[2021-08-02 14:50] sftim commented on #67250
From https://github.com/kubernetes/kubernetes/issues/67250#issuecomment-472650229:

A new subresource perhaps? Maybe a `RollingUpdateOverride`? If so, I assume that'd need its own KEP.

[2021-08-02 14:54] bbagwellffn commented on #104050
I will add that when I put the kube-scheduler into --v=9 logging mode, I do see the entry below

[code]

so you may indeed be correct that this is an issue with the kubelets not taking up the work.

[2021-08-02 15:19] bbagwellffn commented on #104050
Investigating the kubelet, I performed the following actions:

* Removed the default/bbagwell pod (it's just an nginx pod with no storage or ports)
* Clear systemd logs
* Configured kubelet to verbose=9 and restarted it
* kubectl added default/bbagwell

Logs attached here.

The pod stays in 'pending' forever it seems, and the only instance of it I can find is:
[code]

Verbose Log here:  https://ap

[2021-08-02 15:36] dims commented on #104017
I don't see this failing in the containerd+serial job:
https://testgrid.k8s.io/sig-node-kubelet#pr-node-kubelet-serial-containerd&include-filter-by-regex=ip%20leak

So this is not a release blocker (as the original problem is only on docker+serial job only)

[2021-08-02 15:51] txj-xyz commented on #92460
/remove-lifecycle stale

[2021-08-02 15:51] txj-xyz commented on #92460
Same issue on 1.20.9

[2021-08-02 16:14] ehashman commented on #103423
@bunniseng this will be automatically closed once the PR merges

[2021-08-02 16:18] bbagwellffn commented on #104050
lol, well, seems rebooting the physical host (kubelet) fixed it and a lot of other issues.

No telling.  I'm happy calling it a gremlin of some kind.

*shrugs*

[2021-08-02 16:18] #104050 closed

[2021-08-02 16:25] marosset commented on #102686
Oh - interesting issue you are running into.
Thanks for providing more details.

I'll keep an eye on this issue. Let us know if your investigations find anything interesting or in need of fixing.

[2021-08-02 16:52] jingxu97 commented on #101911
After Clayton's change in kubelet, I think that is the behavior now.

[2021-08-02 16:58] neolit123 commented on #104071
/sig api-machinery

[2021-08-02 16:59] neolit123 commented on #104023
/sig node
/kind feature
/triage needs-information

[2021-08-02 17:00] neolit123 commented on #104035
please try the support channels for help / questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-08-02 17:00] #104035 closed

[2021-08-02 17:04] damemi commented on #98414
It might be the case that the plugin name is actually `RequestedToCapacityRatioResourceAllocation`, though the yaml example only shows `RequestedToCapacityRatio`. If that's so, then we should update this docs page

[2021-08-02 17:16] #101378 closed

[2021-08-02 17:25] bacongobbler commented on #103151
Can confirm it was the Helm project (@spiffxp and I chatted about this at the first Helm Summit).

[2021-08-02 17:38] #99618 closed

[2021-08-02 17:43] smarterclayton commented on #104017
I agree, if this is only dockershim and we have no evidence this is a regression vs a latent issue that 1.22 detects and exposes I would agree this is not a release blocker.

[2021-08-02 17:53] ehashman commented on #104026
/sig storage

Please add more information to this bug report. How is your action failing? What version of Kubernetes are you using?

[2021-08-02 17:54] ehashman commented on #104023
Kubernetes SIG Node does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/) or Slack.

/kind support
/close

[2021-08-02 17:54] #104023 closed

[2021-08-02 17:55] ehashman commented on #104017
/milestone v1.23

bumping to next release

[2021-08-02 17:59] haircommander commented on #104034
/assign

taking a look, thanks for opening the issue @sbwfnhn

[2021-08-02 18:00] ehashman commented on #103879
Original issue as reported, failures that started 07/20 on https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial are now resolved due to https://github.com/kubernetes/kubernetes/pull/103980 landing on 07/28.

I have filed #104041 to revert the workaround with a proper fix in 1.23.

We still have work to do on ensuring the kubelet serial tests complete a full run, but they are looking much b

[2021-08-02 18:00] #103879 closed

[2021-08-02 18:03] ehashman commented on #103651
Can this be removed from the milestone now that the workarounds have been merged, while leaving this issue open to track further work?

[2021-08-02 18:03] haircommander commented on #104034
https://github.com/oracle/docker-images/issues/1939 seems relevant, have you checked your kernel supports the memory cgroup (I know docker does work, but let's sanity check first)

I checked on my machine (fedora 34) and successfully can see usage_in_bytes in a container on our latest 1.22 branch.

also, attaching the crio logs will likely help me debug

[2021-08-02 18:04] ehashman commented on #104041
I have explained how to fix this on @kerthcet's PR: https://github.com/kubernetes/kubernetes/pull/104075#issuecomment-891208939

[2021-08-02 18:09] haircommander commented on #104034
also curious about the runc version

[2021-08-02 18:18] msau42 commented on #103651
We can use existing issue https://github.com/kubernetes/kubernetes/issues/79980 to track the real fix.

/close

[2021-08-02 18:18] #103651 closed

[2021-08-02 21:32] vinayakankugoyal opened #104083 "Update systemd in debian-base:buster-v1.8.0 (latest) to patch CVE-2021-33910"
Need to update debian-base for this vuln: https://security-tracker.debian.org/tracker/CVE-2021-33910.

[code]

The current version of libsystemd0 we have is 241-7~deb10u7 and the one we want is 241-7~deb10u8

[code]

[2021-08-02 21:32] vinayakankugoyal commented on #104083
/sig release

[2021-08-02 21:39] sysedwinistrator opened #104085 "coredns:v1.8.0 and etcd:3.4.13-0 on arm64 have the wrong architecture in their manifests; kubeadm init fails"
#### What happened:
Cluster initialization on arm64 via `kubeadm init` using CRI-O would fail after a timeout.
`watch crictl ps` wouldn't show any containers starting.
CRI-O logs show the following:
[code]
The inspection of the images' manifests seems to confirm the initial assumption that some of them were pulled with the wrong architecture:
[code]
But all the other images are fine:
[code]

To ru

[2021-08-02 21:46] sysedwinistrator commented on #104085
/sig release

[2021-08-02 21:46] vinayakankugoyal commented on #104083
/cc @justaugustus

[2021-08-03 00:27] PaulFurtado opened #104088 "Support multiple IPv4 address ranges for service Cluster IPs"
#### What would you like to be added:
Kubernetes should allow you to add additional IP ranges for ClusterIP services as your clusters grow.

#### Why is this needed:
Kubernetes clusters naturally grow over time and at large enterprises you can't hand out massive address ranges to each kubernetes cluster on the day they are created given how small the available number of private IPv4 IPs is.

We cu

[2021-08-03 00:27] PaulFurtado commented on #104088
/sig network

[2021-08-03 01:24] robscott opened #104090 "CRD validation does not immediately reject unknown fields"
#### What happened:
For gateway-api we have a [simple verification test](https://github.com/kubernetes-sigs/gateway-api/blob/master/hack/verify-examples-kind.sh) that essentially installs our CRDs and then installs all our examples. It's become somewhat flaky recently, and it appears this could be related. Recently a PR added a field that was unknown/undefined in the API Version of the example. Th

[2021-08-03 01:39] lianghao208 opened #104091 "Default Scheduler Improvement: take node's allocatable pod ip into consideration"
#### What would you like to be added:

Adding a scheduling condition in default scheduler to take allocatable IP from node's `.spec.PodCIDR` into consideration.

related KEP PR in sig-scheduling: [PR#219](https://github.com/kubernetes-sigs/scheduler-plugins/pull/219)

#### Why is this needed:
For now, the default scheduler only takes .status.Allocatable["pods"] into consideration when scheduling.

[2021-08-03 01:41] lianghao208 commented on #104091
/sig scheduling
/sig node

[2021-08-03 01:42] RyanBouchard commented on #103853
Hi @kerthcet, really sorry for missing your comment. Any help is welcome. I actually have to back off for now. Just have too much on my plate at the moment.

[2021-08-03 01:42] RyanBouchard commented on #103853
/unassign

[2021-08-03 01:57] adammw opened #104093 "Add metrics to apiserver tracking the service IP allocator"
#### What would you like to be added:
Add metrics to apiserver tracking the service IP allocator - around how many IP addresses are used(allocated) vs available, and/or if there were any errors allocating service IPs to a service.

#### Why is this needed:
We want to track if we are approaching the limit of the ServiceClusterIPRange, which is a fixed CIDR and difficult to change. Currently while w

[2021-08-03 01:59] yuchen-sun commented on #103853
/assign

[2021-08-03 02:59] sbwfnhn commented on #104034
cri-o logs
[code]

runc
[code]

Looks like a problem with group v1
[code]

[2021-08-03 05:35] boenn opened #104094 "[Failing Test] pull-kubernetes-e2e-gce-100-performance jobs failing"
#### Which jobs are failing:

The two job failure scenarios are similar
pull-kubernetes-e2e-gce-ubuntu-containerd
pull-kubernetes-e2e-gce-100-performance

#### Which test(s) are failing:

[pull-kubernetes-e2e-gce-ubuntu-containerd](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103934/pull-kubernetes-e2e-gce-ubuntu-containerd/1422402493962260480/)
[pull-kubernetes-e2e-gce-100-performa

[2021-08-03 05:38] boenn commented on #104094
/sig testing

[2021-08-03 06:18] mukul-seagate11 commented on #104026
I want to write some data from container to host file having below permission without running container in privileged mode,

[root@k8s]# ls -l /sys/class/block/md0/md/sync_action
-rw-r--r-- 1 root root 4096 Jul 18 01:00 /sys/class/block/md0/md/sync_action

[2021-08-03 06:20] mukul-seagate11 commented on #104026
[root@hpe04-m09 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", 18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", 15T20:56:38Z", GoVersion:"go1.15.14", Compiler:"gc", Platform:"linux/amd64"}

[2021-08-03 06:20] mukul-seagate11 commented on #104026
[root@hpe04-m09 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", 18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", 15T20:56:38Z", GoVersion:"go1.15.14", Compiler:"gc", Platform:"linux/amd64"}

[2021-08-03 06:48] neolit123 commented on #104094
/sig scalability

[2021-08-03 06:51] neolit123 commented on #104094
pull* jobs are persubmits that run before a PR merges.
i think this qualifies more as `/kind flake` i.e. it could be temporary or due to the contents of specific PRs:

test-grid link:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance

[2021-08-03 06:51] neolit123 commented on #104094
/triage needs-information

[2021-08-03 06:54] neolit123 commented on #104067
that seems like a valid improvement.
if someone wants to take this, PRs are welcome.

[2021-08-03 06:55] juanyque opened #104095 "Add multiple Ceph file systems support to CephFSVolumeSource"
/sig community-groups

Beginning with the Ceph Pacific release, [multiple file system](https://docs.ceph.com/en/latest/cephfs/multifs/) support is stable and ready to use.

Then it's posible to create more than one CephFS on same Ceph cluster and specify which of them mount, using _fs_ or _mds_namespace_ params. ej:

[code]
or using helper:
[code]

__fs__ and/or __mds_namespace__ could be good par

[2021-08-03 06:59] juanyque commented on #104095
/sig community-groups

[2021-08-03 07:26] harche opened #104096 "All CRIO node e2e jobs failing"
#### Which jobs are failing:
ci-crio-cgroupv1-node-e2e-conformance
ci-crio-cgroupv1-node-e2e-features
ci-crio-cgroupv2-node-e2e-conformance
pull-kubernetes-node-crio-e2e

etc.

#### Which test(s) are failing:
All tests

#### Since when has it been failing:
After https://github.com/kubernetes/kubernetes/pull/104047 is merged.

#### Testgrid link:
[prow dash for crio](https://prow.k8s.io/?job=*crio*

[2021-08-03 07:26] harche commented on #104096
cc @ehashman

[2021-08-03 07:26] harche commented on #104096
/sig node

[2021-08-03 08:05] boenn commented on #104094
/kind flake

Here are some logs, The two jobs are almost the same error.

[code]

[2021-08-03 08:26] boenn commented on #104094
I checked some component logs at https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/103934/pull-kubernetes-e2e-gce-ubuntu-containerd/1422402493962260480/artifacts/e2e-15f8fe8240-a7d53-minion-group-cc4n/kubelet.log shows **Failed to connect to apiserver**. But the log of apiserver is empty.

I also checked https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/103934/pull-kubern

[2021-08-03 09:38] serathius opened #104097 "Migrate Json logging format to use zapr"
#### What would you like to be added:

/cleanup
[Structured Logging KEP](https://github.com/kubernetes/enhancements/issues/1602) proposed to introduce alternative JSON logging format, that is injected into klog by providing a [logr.Logger](https://github.com/go-logr/logr) interface implementation.

When Json format was originally implemented we decided to write our own logr.Logger implementation t

[2021-08-03 09:38] serathius commented on #104097
/type cleanup

[2021-08-03 09:39] serathius commented on #104097
/triage accepted

[2021-08-03 10:06] empinator commented on #65966
as suggested by [this comment](https://github.com/rancher/rancher/issues/33651#issuecomment-885269904) we ended up giving more RAM to our rancher instances. After that we haven't seen any crashes anymore

[2021-08-03 10:18] tonyaw opened #104098 "Kubernetes doesn't clear conntrack entry for TCP"
#### What happened:
When a Kubernetes node becomes NotReady, kube-proxy can delete conntrack entry for UDP, but can't delete conntrack entry for TCP.

#### What you expected to happen:
kube-proxy can delete conntrack entry for both UDP and TCP.
#### How to reproduce it (as minimally and precisely as possible):
1. Create a Service with TCP/UDP Endpoints.
2. Make one node that one Endpoint is on be

[2021-08-03 10:58] saschagrunert commented on #104096
Fix is incoming in https://github.com/kubernetes/test-infra/pull/23110

[2021-08-03 11:35] pohly commented on #104097
I can have a look at this soonish if no-one else volunteers.

[2021-08-03 12:09] serathius commented on #104097
/cc @yangjunmyfm192085 @yuzhiquan

[2021-08-03 12:12] cynepco3hahue opened #104099 "Resource managers can remove allocated resources for terminating pods"
#### What happened:
It is possible that resource managers
- CPU
- Memory
- Device
will remove the resource allocation for terminating pods. See the discussion https://github.com/kubernetes/kubernetes/pull/103979#discussion_r678587770.

#### What you expected to happen:
The resource managers should not remove pod allocated resources until it not ended the termination process.

#### How to reproduce

[2021-08-03 12:12] cynepco3hahue commented on #104099
/sig node

[2021-08-03 12:12] dims commented on #104017
One more data point, the `ip leak` test seems to work fine on cos-stable* images, flaky just on ubuntu+docker combination:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&include-filter-by-regex=ip%20leak

[2021-08-03 12:13] cynepco3hahue commented on #104099
/priority long-term

[2021-08-03 12:17] cynepco3hahue commented on #104099
/priority important-longterm

[2021-08-03 12:22] fromanirh commented on #104099
/cc

[2021-08-03 12:34] yangjunmyfm192085 commented on #104097
My opinion: migrate now, I prefer to migrate as soon as possible to verify the implementation of zapr.
I'll take a look it, what about @yuzhiquan's suggestion?

[2021-08-03 12:35] adabuleanu commented on #101727
hey. did anyone had time to do triage for this issue?

[2021-08-03 13:16] neolit123 commented on #104098
/sig network

[2021-08-03 13:22] danwinship commented on #103802
I don't understand this. What exactly will `KubePod` do with the `protocols`, and how will this reduce "resource requirements", and how will reducing those resource requirements result in pods starting up faster?

[2021-08-03 13:41] pohly commented on #104097
We definitely should start now.

I would do this together with updating klog to the (currently unreleased) code which uses logr 1.0, otherwise we just end up with another dependency on an obsolete external package (zapr v0.4.0) with known bugs (V handling apparently was broken and was fixed as part of the API change in https://github.com/go-logr/zapr/commit/7bc31c25c5f9c6dec785dd1f96b1ad49139d622a

[2021-08-03 13:53] aojea commented on #104098
There are several issues duplicate of this

TCP connections need to allow graceful terminations, i.e if the pod is termination, kube-proxy can delete the TCP entries abruptly and should allow the app to terminate the connection, you can read more about this here:
https://github.com/kubernetes/kubernetes/issues/100698#issuecomment-812065536

However, there was a bug in the kernel where a TCP SYN st

[2021-08-03 14:36] #104096 closed

[2021-08-03 14:39] sysedwinistrator commented on #104085
It turns the wrong architecture in the manifests was not the reason the pods weren't starting.
I couldn't quite figure out what was the issue. Cluster initialisation would work after `kubeadm reset`, completely resetting the container storage and "stopping" all cgroup slice units related to k8s.

 Since the latest images of etcd and coredns are still affected, I'm going to keep the issue open.

[2021-08-03 15:04] jyz0309 commented on #104091
Can I try this issue if it's accepted? I am interested in this one~
/assign
If I can't, just cancel my assign😝

[2021-08-03 15:08] saschagrunert commented on #104085
CoreDNS as well as etcd are released in their own process and are not in the scope of SIG Release. For etcd, the image lives there: https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/Dockerfile

Indeed, the architectures for non amd64 images are wrong, so we can do two things:
* use the `--from` syntax in the Dockerfile
https://github.com/kubernetes/kubernetes/blob/9ff3b7e744

[2021-08-03 15:15] smarterclayton commented on #104099
So to make this work we need to expose a core mechanism in the kubelet to summarize pods in config AND pods out of config (force deleted but still processing).  That requires some up front thinking because we are reconstructing pod state, so the prereq to execution is agreement there which I will drive.

/assign

[2021-08-03 15:21] pohly commented on #104097
@yangjunmyfm192085 are you working on this?

I had a quick look and updating klog, logr and using zapr is straight-forward, except for one issue: the json.go fork of of zapr logs verbosity of a message with a "v" field. go-logr/zapr doesn't do that.

I now wonder whether this should be treated as a Kubernetes specific extension or get added to go-logr/zapr. Thoughts?

[2021-08-03 15:22] squeed commented on #103802
Additional suggestion: Rather than issuing lots and lots of `Exec()`s, issue one Exec per pod, and execute multiple commands in them.

[2021-08-03 15:32] lianghao208 commented on #104091
For now, it's just an idea to bring up the discussion. You can learn more details in [PR#219](https://github.com/kubernetes-sigs/scheduler-plugins/pull/219)
I have already worked on fixing this this issue though. If you have any suggestions, we can discuss on this issue. Thanks for the reply!
@jyz0309

[2021-08-03 15:41] neolit123 commented on #104085
is there a way to tell cri-o to ignore the mismatch in the images temporary?
we should certainly fix these images though.

cc @jpbetz @wenjiaswe

cc @chrisohaver @johnbelamaric @rajansandeep

i think the image is build from the Docker file at:
https://github.com/coredns/coredns

/sig api-machinery network

[2021-08-03 15:45] #99672 closed

[2021-08-03 15:47] caseydavenport commented on #100492
/remove-kind bug
/kind support

I agree with @aojea - established connections shouldn't be reset by the kube-proxy, but new connections should stop being forwarded to the unready endpoint. So, I think that's working as intended.

[2021-08-03 15:51] haircommander commented on #104034
hm the memory cgroup seems to be enabled. what is the image you're using?

[2021-08-03 15:51] apelisse commented on #104090
/triage accepted

[2021-08-03 15:51] apelisse commented on #104090
/cc @kevindelgado

[2021-08-03 15:53] caseydavenport commented on #100492
/triage accepted
/close

The docs do also say this:

Which is not explicit, but does imply that going unready provides a chance for the pod to gracefully terminate existing connections.

[2021-08-03 15:53] #100492 closed

[2021-08-03 15:55] neolit123 commented on #104085
related:
https://github.com/kubernetes/kubernetes/issues/102315

note, this test is catching problems in etcd, coredns, kube-proxy, conformance image:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#periodic-manifest-lists
https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-kubernetes-e2e-manifest-lists/1422389464386244608/build-log.txt

it's just reporting warnings because

[2021-08-03 15:56] chrisohaver commented on #104085
FWIW, This may be an artifact of how multi-arch manifests when creating them from a single arch system.

In the past, when looking into similar issue, I had experimented with a various image build tools: docker with experimental buildx, and "manifest-tool". All resulting in the same issue, that individual images have the wrong arch, however the manifest metadata was correct.

[2021-08-03 15:59] caseydavenport commented on #103765
I'm not sure I see any indication in those logs that the network plugin is to blame, but it could be.

I suspect this is a general node health problem with host network access.

@imkos what is running at 127.0.0.1:9946?

[2021-08-03 16:01] pohly commented on #104097
Let me share what I have right now: https://github.com/kubernetes/kubernetes/pull/104103

[2021-08-03 16:10] jkaniuk commented on #97071
We have few more flakes lately:
![image](https://user-images.githubusercontent.com/5487158/128049507-fa4903ca-a64a-4237-9dc6-02885ac130e2.png)

Fingers crossed

[2021-08-03 16:12] jkaniuk commented on #97071
/priority important-soon
/sig scalability

[2021-08-03 16:28] aojea commented on #101607
upstream patch to implement kernel side filtering, so an userspace application can query only the SYN (not established) entries
http://patchwork.ozlabs.org/project/netfilter-devel/patch/20210730131422.16958-3-fw@strlen.de/

[2021-08-03 16:45] loliveira-itp commented on #86881
I'm interested in this as well!

[2021-08-03 16:46] #99129 closed

[2021-08-03 17:13] craig-riecke commented on #103607
The previous cluster version was 1.18, and yes I know we did a bad thing by skipping two minor releases.

The newly created cronjob is working fine. And strangely, there are no old jobs that `vet-messenger-batch-prod-hourly` spawned - except for the three most recently run, all of them obviously created in the new cluster (we use the defaults here).  So jobs ARE getting cleaned up.  That's what ma

[2021-08-03 17:22] Huang-Wei commented on #104091
A couple of questions, which may need input from sig-node / sig-network:

1. Is a node's `.spec.PodCIDR` always be honored when allocating an IP on CNI side?
2. When IPv4/IPv6 dual-stack is enabled, can the pod **_always_** get an (IPv6) IP regardless of the IPv4 CIDR's exhaustion?
3. If we put IPv6 aside, is `min(ip # of .spec.PodCIDR, .status.Allocatable["pods"])` an accurate formula to calculat

[2021-08-03 17:39] 2rs2ts opened #104105 "externalTrafficPolicy: Local does not work for NodePort Services"
#### What happened:

NodePort Services with `externalTrafficPolicy: Local` do not actually direct traffic exclusively to local pods. Instead, load balancer rules are created in iptables that will route traffic to other nodes' pods.

#### What you expected to happen:

The behavior documented [here](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving

[2021-08-03 17:40] 2rs2ts commented on #104105
/sig network

[2021-08-03 18:04] rpasche commented on #100492
The thing is, I do not want the pod to get restarted in certain cases. That is our issue. I want the pod and the process to continue running (so being able to still process "queued" events) whole *no new events* should get - still? - routed to that pod.

[2021-08-03 18:10] apelisse commented on #104090
Actually, @Jefftree and @jpbetz might know something about that too

[2021-08-03 18:40] ptnapoleon opened #104107 "Kubelet reporting 137 exit code for a container whose exit code 0 was previously known"
#### What happened:
I have pods with a `RestartPolicy: Never` that perform a task, wait for a sigterm, clean up and then exit. These pods have only one container inside them. I have observed on kubernetes > 1.20.0, that after issuing a graceful delete, sometimes these pods will be stuck in `Terminating`. Upon describing the pod, I can see the following state:

[code]

I have confirmed from the `co

[2021-08-03 18:42] ptnapoleon commented on #104107
/sig node

[2021-08-03 18:42] ptnapoleon commented on #104107
/area kubelet

[2021-08-03 19:01] pwittrock opened #104108 "Record node authorizer update graph latency"
#### What would you like to be added:

Log statements and metrics indicating when the node authorizer graph has be updated for a pod.

There is already a log statement for when the graph starts an update, but this is before the graph lock is obtained and doesn't tell when the graph update is completed.

#### Why is this needed:

We are seeing node authorizer failures which prevent pods from starti

[2021-08-03 19:17] phlogistonjohn commented on #104007
As I mentioned in heketi/heketi#1871  - I don't quite see what's better about this jwt fork than the previous jwt fork and I don't have the ability to investigate it deeply. If this is the consensus in kubernetes-land that's good enough for me. I am just unsure that, from the this issue alone, this where the rest of the k8s & the wider golang community is definitely going yet.  Pluse, the recent c

[2021-08-03 20:14] caesarxuchao commented on #104071
/cc @wojtek-t
/triage accepted

[2021-08-03 20:19] caesarxuchao commented on #104052
This seems to be duplicate of https://github.com/kubernetes/kubernetes/issues/103816 and https://github.com/kubernetes/kubernetes/issues/99953.

And there is PR (https://github.com/kubernetes/kubernetes/pull/103821) fixing those two.

/triage accepted

[2021-08-03 20:21] pmanno commented on #101743
bump

[2021-08-03 20:46] #98784 closed

[2021-08-03 21:18] aojea commented on #104105
the traffic is coming from inside the cluster, hence `externalTrafficPolicy` doesn't apply.
There is a new feature `internalTrafficPolicy` that was added in 1.21 and is going to be beta in 1.22 that does what you want
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy

/remove kind-bug

[2021-08-03 21:49] neolit123 commented on #104108
/sig auth

[2021-08-03 21:50] ramrodo opened #104110 "[Flaking test] [sig-network] timed out waiting for service "mutability-test" to have no load balancer"
#### Which jobs are flaking:

[gce-cos-k8sbeta-slow](https://testgrid.k8s.io/sig-release-1.22-informing#gce-cos-k8sbeta-slow)

#### Which test(s) are flaking:

- Kubernetes e2e suite: [sig-network] LoadBalancers should be able to change the type and ports of a TCP service [Slow]

#### Testgrid link:

https://testgrid.k8s.io/sig-release-1.22-informing#gce-cos-k8sbeta-slow

#### Reason for failure:

[2021-08-03 21:50] neolit123 commented on #104095
/sig storage
/kind feature

[2021-08-03 21:54] aojea commented on #104093
/triage accepted
/assign

I see something like this, gauges for `usage_cluster_ip` and `available_cluster_ip`

can you expand on this? a counter incremented each time an IP allocation fails?

[2021-08-03 21:58] aojea commented on #104088
we have discussed this heavily in this thread https://github.com/kubernetes/enhancements/pull/1881 ,
 TL;DR we may be there incrementally, but don't expect this to be a thing soon, this is complex to implement, there are a lot of internal details that needs to be solved first

[2021-08-03 22:16] dims commented on #104094
we've had a few green runs in both now ... So let's call them flaky :)

![image](https://user-images.githubusercontent.com/23304/128093296-e1cc5af1-b88e-4ecf-bc63-8bcfdcd89e26.png)
![image](https://user-images.githubusercontent.com/23304/128093328-61d7092c-56fb-4cc4-a461-14075de6756d.png)

[2021-08-03 22:59] BenTheElder commented on #94029
/remove-lifecycle stale

Is this tracked anywhere in the etcd repo currently?

[2021-08-03 23:31] jsturtevant opened #104111 "Concurrent calls to collect stats on Windows using containerd hangs the metrics endpoint"
#### What happened:

Concurrent calls to collect stats  on Windows using containerd hangs the metrics endpoint.

#### What you expected to happen:

Should be able to call metric endpoint (used by metric server)

#### How to reproduce it (as minimally and precisely as possible):

open a proxy to the node: `kubectl proxy`

run the program from https://gist.github.com/jsturtevant/c6c35378617073c0b9a6

[2021-08-03 23:34] jsturtevant commented on #104111
possibly related to https://github.com/containerd/ttrpc/issues/72 and https://github.com/containerd/ttrpc/pull/73 thought stack traces don't match directly

[2021-08-04 01:02] caleb15 commented on #100248
@rikatz This issue is for OR'ing of conditions, whereas the other one is for AND'ing. Whether or not this issue is a duplicate depends on whether the implementer wants to tackle both features at once because they are related or do them separately.

[2021-08-04 01:05] caleb15 commented on #100248
It looks like https://github.com/kubernetes/kubernetes/pull/97411 is doing both of the features, so one of these issues should be closed as a duplicate and the other reopened.

[2021-08-04 01:08] yuzhiquan commented on #104097
IMO, it's right time to do this, and plz ping me, if need any help.

[2021-08-04 02:11] yangjunmyfm192085 commented on #104097
I am not working on this now, I think you can continue worke on it, any help or need can ping me too.

[2021-08-04 02:12] yangjunmyfm192085 commented on #104097
/cc @yuzhiquan

[2021-08-04 02:47] adammw commented on #104093
that is one option. for contrast the nodeipam metric has an 'allocation_tries_per_request' metric - i was imagining something similar to an 'attempts', but with a success:true/false tag/facet so we could compare how often allocations are attempted/how often they fail. I will defer to the experts here as I'm not sure what the status quo for reporting attempts/failures are.

I'm not sure if there's

[2021-08-04 02:56] sbwfnhn commented on #104034
[code]

[2021-08-04 03:26] yuzhiquan commented on #104097
This "v" field is follow design in https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging,  specific for kubernetes, But if zapr set this "v " as default field, may be more available.
/cc @serathius @thockin

[2021-08-04 04:35] MikeSpreitzer commented on #81134
I am confused here.  The exploit cited in the opening comment,

... has nothing to do with JSON construction; that exploit is about logging too much well-formed information.  I see associated PRs, such as #104064, that are changing the code that marshals data that is not security sensitive and will get logged anyway.

[2021-08-04 05:27] BenTheElder commented on #103822
I don't recall for certain anymore, but i thought it was one.

[2021-08-04 05:35] vebbeb commented on #101631
I see this behavior if the `.kube` folder does not belong to the same user and group who executes the `kubectl` command. Therefore, the following did the trick for me:

[code]

[2021-08-04 05:58] antzjm opened #104115 "Kubernetes cache data error that block helm install command"
#### What happened:
When I install a helm chart, but return some error.
Sometimes the error info like that:
**Error: unable to build kubernetes objects from release manifest: string field contains invalid UTF-8**
And sometimes the error info like that:
**[2021-07-28T03:00:35.441Z] Error: unable to build kubernetes objects from release manifest: proto: invalid field number**
#### What you expected

[2021-08-04 07:16] MadhavJivrajani commented on #102744
I was able to reproduce this and I had a few questions, I've started a discussion in sig-node: https://kubernetes.slack.com/archives/C0BP8PW9G/p1628061313065700

[2021-08-04 07:17] tonyaw commented on #104098
Thanks for your info. It looks like a very complex issue. :-)
Followup questions:
1. I only care about the node NotReady case. For that case, can I say after EndpointSliceTerminatingCondition KEP is implemented, Kubernetes can add logic to delete TCP conntrack entries?
2. I didn't get the point of your second comment. Why we care about SYN entry since Kubernetes will delete all TCP related conntra

[2021-08-04 07:58] zwpaper commented on #64623
I will try to look into this
/remove-lifecycle stale

[2021-08-04 08:34] 249043822 opened #104117 "kubelet support pleg-channel-capacity configurable"
#### What would you like to be added:
Add plegChannelCapacity to KubeletConfigutation
#### Why is this needed:
For single node with hundreds and thousands of pods and containers, restart kubelet, cause such errors below:

[code]
so we should make the pleg event receiving channel size configurable

[2021-08-04 08:35] 249043822 commented on #104117
/sig node

[2021-08-04 08:36] 249043822 commented on #104117
/assign @ehashman

[2021-08-04 08:43] aojea commented on #104098
because those entries will become stale and can blackhole traffic, it is a corner case for TCP when it reuse the source port, the long explanation is the thread

Maybe I didn't understand well your question, if the node is not ready? do you want to delete the conntrack entries on the node that is that notReady?
that node will not receive more traffic, why do you need to delete the conntrack entrie

[2021-08-04 08:43] rajaskakodkar commented on #103802
By default every Pod is creating 6 containers (2 for each of the protocols), we can limit this by making it create containers for the protocols used in any particular test.

[2021-08-04 08:58] saschagrunert commented on #104085
Fixes for coredns and etcd are in flight.

[2021-08-04 09:01] saschagrunert commented on #102315
Hey @vielmetti, thank you for the report! We explicitly decided  to not backport the fixes to the conformance image to release-1.19 to not silently break downstream consumers: https://github.com/kubernetes/kubernetes/pull/102126

Closing this for now, feel free to reopen if there is anything missing.

/close

[2021-08-04 09:01] #102315 closed

[2021-08-04 10:07] humblec commented on #95367
@gnufied are you already on this ? if not, please feel free to assign to me.

[2021-08-04 10:48] boenn commented on #104094
fine.. I will conduct further inspections :)

[2021-08-04 10:54] #99818 closed

[2021-08-04 11:08] fromanirh opened #104122 "kubelet: podresources GetAllocatableResources doesn't take into account unhealthy devices"
#### What happened:
When calling GetAllocatableDevices, the API returns all the registered devices, regardless of their health status. Thing is, the [device manager won't allocate unhealthy devices](https://github.com/kubernetes/kubernetes/blob/f27a0868d5864a74f8e8f3de1bb395ff2bc4a8bf/pkg/kubelet/cm/devicemanager/manager.go#L665) - and in general doesn't make much sense to report as allocatable Un

[2021-08-04 11:08] fromanirh commented on #104122
/sig node

[2021-08-04 11:19] aojea commented on #103822
I can't find the logic that runs the e2e tests, and where it decides which e2e.test version to use

[2021-08-04 11:50] asinitson commented on #60748
/remove-lifecycle rotten

This is still very applicable, especially in IoT use cases.

[2021-08-04 12:12] matthyx commented on #81129
@thockin what do you think about this proposal from @tallclair

[2021-08-04 12:37] michaelgeorgeattard commented on #92287
/cc

[2021-08-04 12:43] liggitt commented on #103304
sure, it's fine to start work in a branch in your fork and have a WIP PR open, even before master reopens for 1.23 work

[2021-08-04 13:08] alculquicondor commented on #100467
/reopen
@neolit123 any ideas?

[2021-08-04 13:28] neolit123 commented on #100467
sounds like something that regressed after the node sync changes, but the second one (that i did) did not fix it.

the change that i did:
https://github.com/kubernetes/kubernetes/pull/99336

was technically a refactor on what was already established by the previous change:
https://github.com/kubernetes/kubernetes/pull/94087

this seems racy and should be brought to discussion at the SIG Node meeti

[2021-08-04 14:13] tonyaw commented on #104098
My scenario:
client --> conntrack entry --> backend
The node that backend is on becomes NotReady, such as ungraceful shutdown.

I need to delete conntrack entry to let client receive RST so that client can establish a new connection to other backend via iptables.

[2021-08-04 14:14] manugupt1 commented on #81134
I did not have access to the security report. I am going by the short term recommendation and previous patches on the issue which basically asks us to encode all json properly. Please let me know if I missed anything.

[2021-08-04 14:35] aojea commented on #104098
???
"to let the client receive the RST" you need to keep the conntrack entry so the TCP connection is not closed, if you remove the conntrack entry any new packet will not be directed to the backend

[2021-08-04 14:35] gnufied commented on #95367
/assign @humblec

[2021-08-04 14:38] justaugustus commented on #104083
/assign
/triage accepted
/area release-eng
FYI @kubernetes/release-engineering

[2021-08-04 14:52] tonyaw commented on #104098
Let's say there are two backends(be01 and be02), and one clusterIP is in use.
client establishes TCP connection to be01 first by clusterIP. --> node that be01 is on is ungraceful shutdown. --> client doesn't know it, and continues send packets to be01 via clusterIP, and no response.
What I expect is:
Kubernetes can delete related conntrack entry on client kubernetes node --> client receives a RST

[2021-08-04 14:54] sir-farfan commented on #27308
This works for me in Bash 5 and doesn't break if the environment variable isn't set:
[code]
Now I can actually compare our 4 clusters from different terminals at the same time.

[2021-08-04 14:56] justaugustus commented on #104083
In progress here: https://github.com/kubernetes/release/pull/2189

[2021-08-04 14:59] m-Bilal commented on #104067
Happy to help here

Docker Buildx installation can be verified by checking if `docker-buildx` file is present in `~/.docker/cli-plugins`.
Buildx can be installed by the following sequence of commands ([source](https://github.com/docker/buildx/issues/226#issuecomment-765885813)):
[code]
Also, @neolit123 should this issue be left open for community (such as first time contributors) or should I make

[2021-08-04 15:04] neolit123 commented on #104067
if you think you can make the change, please go ahead.
thanks

[2021-08-04 15:11] aojea commented on #104098
I see, so the problem is that there is no way today, that kube-proxy on the node with the client, can know be01 is terminating gracefully or it just has disappeared, if it blindly removes the conntrack entry it can break a graceful termination ...
Maybe when the terminating endpoints feature is ready it can be done, but adding heuristic based on nodes events doesn't sound an option to me ...

Besi

[2021-08-04 15:15] sanposhiho commented on #93792
/remove-lifecycle stale

[2021-08-04 15:27] serathius commented on #102430
Hmm, looks there is pretty large variance in tests, if there is difference it's smaller than variance. In such cases we will need to use some statistical analysis to see if there is an improvement. I have three ideas to improve quality of tests:
* Eliminate as much noise during tests as possible. Basically try to turn off any other programs and disable CPU bursting, best run in VM with preallocate

[2021-08-04 15:40] thockin commented on #104097
zapr takes a `zap.Logger` which can be set up in a lot of different configurations.  In the zapr example it logs `"level":"info"`, for example.

If we want to add an optional `v` to zapr itself, I don't particularly object, but we'd need a new `NewWithOptions()` function, carrying an optional "LogNumericV" flag (or something like that).  PRs welcome - glogr has an Options variant, so you can sort

[2021-08-04 16:31] ehashman commented on #51798
/assign @haircommander

[2021-08-04 16:31] msau42 commented on #103822
It is intended for the upgrade job to run e2e from a previous release against a newer release, to test that the newer release is backwards compatible. Although I believe we usually only test 1 version skew, not 2. However, I'm not sure that makes a difference here, as I understand, we had to make a number of changes in 1.22 to get the metrics tests to pass. Are those changes able to handle the met

[2021-08-04 16:32] msau42 commented on #100840
/remove-lifecycle rotten

[2021-08-04 17:08] ciuffoly opened #104127 "kubectl - Error from server (Forbidden): users “xxx@xxx.it” is forbidden: User “system:serviceaccount:gke-connect:connect-agent-sa”"
I have this strange situation, how I can solve this problem ?

`ubuntu@anth-mgt-wksadmin:~$ kubectl get nodes
error: the server doesn't have a resource type "nodes"

ubuntu@anth-mgt-wksadmin:~$ kubectl cluster-info
To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
error: the server doesn't have a resource type "services"

ubuntu@anth-mgt-wksadmin:~$ kubectl cluster-i

[2021-08-04 17:11] ciuffoly commented on #104127
/sig auth

[2021-08-04 17:13] ciuffoly commented on #104127
/triage accepted

[2021-08-04 17:23] ehashman commented on #100467
/remove-triage duplicate
/triage needs-information

[2021-08-04 17:35] ehashman commented on #104038
/area test

[2021-08-04 17:39] ehashman commented on #104038
#104047 should address the lack of logs.

[2021-08-04 17:42] SergeyKanzhelev commented on #104038
/assign @cynepco3hahue

[2021-08-04 17:43] ehashman commented on #104117
/sig scalability

Are we able to support workloads that large on single nodes?

[2021-08-04 17:48] SergeyKanzhelev commented on #86080
/assign @haircommander

[2021-08-04 18:12] pohly commented on #103822
Those changes were all in the e2e.test binary, not core Kubernetes. So the root problem then is that e2e.test from Kubernetes 1.21 makes an assumption ("insecure port is enabled") that is no longer true for Kubernetes 1.22. The tests in e2e.test 1.21 which depend on metrics grabber simply won't work. Can we disable them?

To fix this, we would have to add code in 1.21 which detects the Kubernetes

[2021-08-04 18:21] MikeSpreitzer commented on #81146
FYI, the location of the 2019 audit materials has changed.  They can now be found in https://github.com/kubernetes/community/tree/master/sig-security/security-audit-2019 .  For example, the final report is at https://github.com/kubernetes/community/raw/master/sig-security/security-audit-2019/findings/Kubernetes%20Final%20Report.pdf .

[2021-08-04 18:39] MikeSpreitzer commented on #81134
@manugupt1 : I'll bet you _do_ have access, the problem is that the location of the audit materials has changed.  The relevant document and section reference is now https://raw.githubusercontent.com/kubernetes/community/master/sig-security/security-audit-2019/findings/Kubernetes%20Final%20Report.pdf#h.ovfpcse8zb7i .  This particular "finding" is pretty unimpressive, to my taste.  The cited exploit

[2021-08-04 18:47] tallclair commented on #60001
Notes from sig-auth discussion, to be documented... somewhere:
- Distinguish between control plane (admission-time) policy, and data-plane/runtime policy (NetworkPolicy)
- Control plane policy should be bound to namespaces (or cluster). Depending on goals, there are a few valid approaches:
    1. Cluster-scoped resource or global configuration, bound to namespaces with namespace labeling - use thi

[2021-08-04 18:57] lizhuqi opened #104131 "Leaked networking resources for k8s e2e test running in gce"
#### What happened:
In this [run](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/333/pull-csi-driver-smb-e2e-gce/1422677641495842816) network is not cleaned up which leads to leaked resources

Sample error messages:
Error: 40 leaked resources
+default-route-0cf118489048be19  e2e-94848bfe71-6d836  10.162.0.0/20  e2e-94848bfe71-6d836      0
.....
+default-r

[2021-08-04 19:08] wojtek-t commented on #103822
+1 to what Michelle wrote above - we run tests from newer release to ensure backward compatibility.

Why do we need a code that is detecting versions?
Based on https://github.com/kubernetes/kubernetes/issues/103822#issuecomment-890564981 I see that the problem is connected to using insecure port. Can't we just backport the change that switched to secure port instead? [IIRC we had both secure and i

[2021-08-04 19:48] aojea commented on #103822
Is not a clean backport

[2021-08-04 20:06] msau42 commented on #104131
@kubernetes/sig-testing

[2021-08-04 20:08] msau42 commented on #103822
The 1.21 test runs both against release-1.21 and later versions. So my understanding is that the test needs to be able to handle both secure and insecure port configs.

[2021-08-04 20:25] cheftako commented on #103994
/triage accepted
/assign @BridgetKromhout

[2021-08-04 20:26] cheftako commented on #103742
/assign
/triage accepted

[2021-08-04 20:27] cheftako commented on #103622
/triage accepted
/assign @bridgetkromhout

[2021-08-04 20:27] cheftako commented on #103348
/triage accepted
/assign @bridgetkromhout

[2021-08-04 20:30] cheftako commented on #99451
/sig network

[2021-08-04 20:34] rphillips opened #104136 "Node image reporting can return indeterminate results to the API server"
#### What happened:
The Kubelet defaults nodeStatusMaxImages to 50 images to report to the API server. The [Images](https://github.com/kubernetes/kubernetes/blob/026fb3bf35915c9b4e2029ce162724648854a291/pkg/kubelet/nodestatus/setters.go#L459) function does a truncate before the sort. This could cause the kubelet to report images in an indeterminate way depending on how the remote container runtime

[2021-08-04 20:57] rphillips commented on #104136
Sorry, this is working correctly.

[2021-08-04 20:57] #104136 closed

[2021-08-04 21:00] yongxiu opened #104137 "api server's ValidateCustomResource failed for map with additionalProperties of string type"
#### What happened:

Trying to use k8s.io/apiextensions-apiserver/pkg/apiserver/validation to validate a YAML file with OpenAPI.

The YAML file contains a map:
[code]

And the openAPIV3Schema generated by kubebuilder contains below logic:
[code]

When I use this openAPIV3Schema to verify my YAML file, it will have errors:
[code]

#### What you expected to happen:

It should not throw error

#### H

[2021-08-04 21:03] pohly commented on #103822
That's exactly the reason.

[2021-08-04 21:21] aojea commented on #104131
/sig testing

[2021-08-04 22:12] jsturtevant commented on #104111
Tested the above with the changes in https://github.com/containerd/ttrpc/pull/73 and there is no deadlock

[2021-08-04 23:12] howardjohn opened #104138 "Describe CRD gives confusing results for condition"
All of the elements of a `conditions` list in `kubectl describe` are flattened together. For example (from Gateway CRD http://gateway-api.org/):

describe output:
[code]

This is confusing since it looks like a single condition that somehow repeats "Status" and other fields multiple times

Compare to -oyaml output, which has the `-` to delimit the list:
-oyaml output:
[code]

/sig api-machinery

[2021-08-04 23:51] manugupt1 commented on #81134
@MikeSpreitzer I did not know this existed in the archives as well. I think the finding itself may not be useful.

When I was thinking about this, I had the same thoughts. However, I think it is still better for us create objects for json wherever possible rather than creating the string manually. LMK what do you think.

[2021-08-05 01:01] karunasagark commented on #95460
@apelisse will be this addressed before SSA goes GA?

I think it should be addressed on or before GA, since controllers cannot use SSA and will end up infinite reconcile loops.

[2021-08-05 01:05] coderanger commented on #95460
@karunasagark SSA went GA this morning.

[2021-08-05 01:24] karunasagark commented on #95460
Oh, that is good news. Congratulations and thank you!

Coming to this bug, any updates?

[2021-08-05 01:26] pacoxu commented on #104138
/sig cli
/kind bug

[2021-08-05 01:55] MatteoGioioso commented on #72597
Any update? The socat workaround does not work for me

[2021-08-05 01:59] #102750 closed

[2021-08-05 02:00] #102932 closed

[2021-08-05 02:00] #103375 closed

[2021-08-05 02:00] #103239 closed

[2021-08-05 03:22] dmitry-irtegov commented on #103348
As I understand, it was fixed by https://github.com/kubernetes/kubernetes/pull/103997

[2021-08-05 03:41] kerthcet commented on #103607
`successfulJobsHistoryLimit` is set to default 3, `.spec.failedJobsHistoryLimit` is set to default 1.
see https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#jobs-history-limits for details.

[2021-08-05 03:41] kerthcet commented on #103607
`successfulJobsHistoryLimit` is set to default 3, `.spec.failedJobsHistoryLimit` is set to default 1.

[2021-08-05 04:33] akshitgrover commented on #103304
Awesome, I'll start working on it
Thank you

[2021-08-05 04:44] rymnc commented on #20227
Having a kubectl native method to support remote port forwarding would be great

[2021-08-05 05:12] #99648 closed

[2021-08-05 05:12] #103749 closed

[2021-08-05 05:12] #103737 closed

[2021-08-05 06:14] wojtek-t commented on #101667
/remove-lifecycle stale

[2021-08-05 06:32] yuswift commented on #104138
/assign

[2021-08-05 06:55] wojtek-t commented on #103822
Doesn't 1.21 expose both ports? [And just starting 1.22 we deprecated only the insecure]

[2021-08-05 06:59] yuzhiquan commented on #102434
Hi,  @Priyankasaggu11929 we can cotinue now.

[2021-08-05 07:01] yuzhiquan commented on #102434
Our implement will be pacth to k/k in this https://github.com/kubernetes/kubernetes/pull/104103

[2021-08-05 08:40] MikeGoltsov opened #104147 "[kubelet] incompatibility static cpu policy with exclusive system CPU reservation"
#### What would you like to be added:
I suggest adding an option like StrictCPUReservation to policy-option framework, which removes cores listed in kubelet option ReservedSystemCPUs from non-guaranteed containers cpuset.cpus cgroup config.

#### Why is this needed:
In some situations exclusive system CPU reservation is used to reduce latency or improve performance. If you want to move system daem

[2021-08-05 08:43] #103753 closed

[2021-08-05 08:44] #103441 closed

[2021-08-05 08:44] #95875 closed

[2021-08-05 08:48] pohly commented on #103822
Hmm, good point. I don't know.

[2021-08-05 08:51] MikeGoltsov commented on #104147
/sig node

[2021-08-05 08:51] Priyankasaggu11929 commented on #102434
Thanks @yuzhiquan. I’ll pick up the items.

[2021-08-05 08:51] tonyaw commented on #104098
Thanks for your support!
Is there any schedule plan for KEP EndpointSliceTerminatingCondition so that you can plan the enhancement to delete TCP conntrack entry?

[2021-08-05 09:52] CatalinMustata commented on #72216
Any updates on this?

[2021-08-05 09:58] reitzig commented on #14987
Maintenance seems to have moved via [instrumenta/kubernetes-json-schema](https://github.com/instrumenta/kubernetes-json-schema) (which is hosted on [kubernetesjsonschema.dev](https://kubernetesjsonschema.dev)) to [yannh/kubernetes-json-schema](https://github.com/yannh/kubernetes-json-schema) (which doesn't seem to be hosted similarly).

Maybe an integration into the kubernetes organisation would m

[2021-08-05 10:31] kerthcet commented on #104115
i think it's not a bug of kubernetes. have you tried other helms for test

[2021-08-05 10:42] leoskyrocker commented on #60140
@caimez

file.
Ex:
kubectl exec -i [pod name] -c [container name] -- cat [path to file] > [output file]

I've found that this works but still not super stable.
I changed it to this for images that ships with bash, and it seems a little bit more reliable (not exactly clear how it's more reliable though):
`kubectl exec -i [pod name] -c [container name] -- bash -c "cat [path to file]" > [output file]

[2021-08-05 11:23] bydga opened #104155 "kube get pods --watch doesn't always report terminal status with exitCode during Deployment update"
#### What happened:
When updating an existing Deployment (`kubectl replace -f deployment.yaml`), new pods are being created and old pods are killed. We are constantly doing `kubectl get pods --watch` to do some internal monitoring, however sometimes (cca 30-50% of the cases) we don't receive the final update (for the old pod that is being stopped). Expecting somthing like:
[code]
Instead the last

[2021-08-05 11:28] bydga commented on #104155
/sig api-machinery
/sig cli

[2021-08-05 11:32] BinZhiZhu commented on #60884
same with v1.21.2 Mac os

[2021-08-05 11:35] Lovnx opened #104156 "Pod restarting depends on one of containers status"
There is a pod which contains 2 containers, We hope restart pod when one of containers shutdown, how to achieve this?

[2021-08-05 11:59] mcbenjemaa commented on #104156
/kind support
/sig node

Define LivenessProbe for each container, the kubelet should restart the pod if one of your containers has failed.
[configure-liveness-readiness-probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes)

- Please use slack for those kind of support request! [k8s-slack](https://github.com/kubernetes/community/tree/master/co

[2021-08-05 12:00] mcbenjemaa commented on #104156
/kind support
/sig node

Define LivenessProbe for each container, the kubelet should restart the pod if one of your containers has failed.
[configure-liveness-readiness-probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes)

- Please use slack for those kind of support request! [k8s-slack](https://github.com/kubernetes/community/tree/master/co

[2021-08-05 12:03] mcbenjemaa commented on #104156
/remove-kind feature

[2021-08-05 12:44] kundan2707 opened #104159 "broken link on sig-network page"
#### What happened:
Following link on sig-network page (https://github.com/kubernetes/community/blob/master/sig-network/README.md) is broken
- https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/OWNERS
#### What you expected to happen:
Link should be working
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Enviro

[2021-08-05 12:45] kundan2707 commented on #104159
/sig-network

[2021-08-05 12:47] kundan2707 commented on #104159
/sig network

[2021-08-05 14:14] oleg-webdeveloper commented on #79365
I`ve got this issue when all my pods were under one selector an I had to explicity fill resoures blocks for each pod affected this selector

[2021-08-05 14:22] markusthoemmes commented on #25231
To add to this: It'd be super useful if we could surface the pod's IP in the status as soon as we actually know it (rather than waiting for a PLEG relist) as that'd enable endpoints and services to start picking up on it while the kubelet is doing its job to complete the pod's readiness.

I'd be very happy to pick this up if anybody would help guide me a little in the process.

[2021-08-05 14:22] oeotvos opened #104162 "[sig-network] Ingress API should support creating Ingress API operations [Conformance]"
#### Which jobs are failing:
sonobuoy run --e2e-focus="Ingress API should support creating Ingress API operations" --kube-conformance-image-version v1.19.8

#### Which test(s) are failing:
`[sig-network] Ingress API
/workspace/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/network/framework.go:23
should support creating Ingress API operations [Conformance] [It]
/workspa

[2021-08-05 14:24] JasonShenk commented on #102881
(from above) Kubernetes v1.20.2 on Docker 20.10.5

[2021-08-05 14:35] oeotvos commented on #104162
/sig network
/sig testing
/wg k8s Infra

[2021-08-05 14:55] cbron commented on #97110
The question by @zhousam still needs to be addressed. If the PR is merged and already live in the now released k8s 1.21, should this issue be resolved or is there additional work needed ? cc @thockin @tallclair

[2021-08-05 15:13] #98084 closed

[2021-08-05 15:17] #103867 closed

[2021-08-05 15:21] fritzduchardt opened #104165 "Custom resources don't get encrypted in etcd"
#### What happened:
Trying to encrypt a custom resource in etcd with the following EncryptionConfiguration in kube-apiserver does not lead to encrypted state in etcd.

In this example the custom resource is named "tokens" and belongs to the group "management.cattle.io":

`apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
- providers:
  - aescbc:
      keys:
      - na

[2021-08-05 15:36] Lovnx commented on #104156
could you show me an example? by using tcp probe.

[2021-08-05 16:02] henro001 opened #104169 "kube-controller-manager leader election triggers DetachVolume.Detach"
#### What happened:

When kube-controller-manager process in terminated on a leader node, a new leader election starts. This will trigger DetachVolume.Detach for all persistent volumes in the cluster. In our case, we use Cinder CSI driver, the volumes are detached in cinder, but the volumeattachmens are not deleted/updated, so this requires manual intervention to clean up the statefulsets/volumeat

[2021-08-05 16:02] henro001 commented on #104169
Logs:

`I0805 15:31:30.000521       1 event.go:291] "Event occurred" object="kube-system/kube-controller-manager" kind="Endpoints" apiVersion="v1" type="Normal" reason="LeaderElection" message="green-m4_3c8f3404-f0c0-4789-8610-342
c381665ac became leader"
I0805 15:31:30.000559       1 event.go:291] "Event occurred" object="kube-system/kube-controller-manager" kind="Lease" apiVersion="coordination.

[2021-08-05 16:09] raelga commented on #78352
/remove-lifecycle stale

[2021-08-05 16:10] msau42 commented on #99468
/remove-lifecycle stale
/triage accepted

[2021-08-05 16:19] joell opened #104171 "List watch request for Events with stale resourceVersion responds immediately without error"
#### What happened:
Per the [documentation on using watches](https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes) I attempted to resume a timed out watch for `events.k8s.io/v1` `Event` objects by issuing a new List request with the `watch` parameter set and the `resourceVersion` set to the last `Event` object I'd received on the watch.

However, by the time

[2021-08-05 16:26] joell commented on #104171
/sig api-machinery

[2021-08-05 16:26] joell commented on #104171
(Please forgive me if that's not the right SIG, but it looked like the closest match from the SIG list to me.)

[2021-08-05 16:52] liggitt commented on #100024
was this resolved in 1.22?

[2021-08-05 17:04] spencer-p commented on #101078
/remove-lifecycle stale

[2021-08-05 17:22] MikeSpreitzer opened #104173 "[Flaking test] DATA RACE in TestVolumeUnmountAndDetachControllerEnabled"
#### Which jobs are failing:
pull-kubernetes-unit

#### Which test(s) are failing:
k8s.io/kubernetes/pkg/kubelet: TestVolumeUnmountAndDetachControllerEnabled

#### Since when has it been failing:
I just noticed it today, 5 Aug 2021.

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104002/pull-kubernetes-unit/1423295539780259840

#### Reason for failure:
data race be

[2021-08-05 17:23] MikeSpreitzer commented on #104173
@kubernetes/sig-node-bugs

[2021-08-05 17:24] MikeSpreitzer commented on #104173
/label kind/flake

[2021-08-05 17:25] MikeSpreitzer commented on #104173
/kind flake

[2021-08-05 17:31] ykakarap commented on #98368
@howardjohn Hey, sorry that I have not been able to get to this. But I see that you have a PR for this, awesome! 😃
I am going to unassign myself.

/unassign

[2021-08-05 17:34] Type1J commented on #72597
I'm not sure if this is going to happen. If somebody made a pull request, would it be accepted?

[2021-08-05 17:47] ahg-g commented on #89036
/remote-lifecycle stale

I think it is still worth pursuing the idea of tracking the lowest pod priority in the cluster and short circuit preemption if the unschedulable pod belongs to that priority.

[2021-08-05 17:47] ahg-g commented on #89036
/remove-lifecycle stale

[2021-08-05 17:49] neolit123 commented on #104115
agreed.

you should report this to the authors of the helm chart or to helm.

/kind support
/close

[2021-08-05 17:49] #104115 closed

[2021-08-05 17:50] neolit123 commented on #104115
to ask other users if they have seen this you can also try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-08-05 17:50] neolit123 commented on #104137
/sig api-machinery

[2021-08-05 17:52] neolit123 commented on #104169
/sig storage

[2021-08-05 17:52] neolit123 commented on #104165
/sig api-machinery

[2021-08-05 17:52] neolit123 commented on #104165
/sig auth

[2021-08-05 17:55] ehashman opened #104175 "[Failing test] [sig-node] NVIDIA GPU Device Plugin [Feature:GPUDevicePlugin][NodeFeature:GPUDevicePlugin][Serial] [Disruptive] DevicePlugin checks that when Kubelet restarts exclusive GPU assignation to pods is kept."
I can't find a single instance of this test passing in testgrid.

Run via https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial and potentially other suites.

/sig node
/kind failing-test

[2021-08-05 17:56] neolit123 commented on #104165
can you please format the example properly with ```

are you seeing any complains from the kube-apiserver about the given configuration?

[2021-08-05 18:05] ciuffoly opened #104176 "What to do ? "cloud-console-reader" is forbidden: User "system:node:anth-admin-host1" cannot get resource "clusterroles" in API group "rbac.authorization.k8s.io""
ubuntu@anth-mgt-wksadmin:~$ cat cloud-console-reader.yaml
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cloud-console-reader
rules:
- apiGroups: [""]
  resources: ["nodes", "persistentvolumes"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["storage.k8s.io"]
  resources: ["storageclasses"]
  verbs: ["get", "list", "watch"]

ubuntu@anth-mgt-wksadmin:~$ kubectl apply

[2021-08-05 18:06] adtac commented on #99605
@Huang-Wei agreed on (3), I don't think that's an immediate goal of the project. For now, we're focusing on building something that you can run locally on your machine.

re (2): I disagree, I think the frontend and the backend should be in the same repo. They're very closely coupled at the moment so I think it makes sense to keep them tightly integrated. We can always refactor things to be more us

[2021-08-05 18:07] ciuffoly commented on #104176
/sig auth

[2021-08-05 18:07] ahg-g commented on #93079
The image locality plugin can be disabled via the scheduler's configuration.

[2021-08-05 18:28] alculquicondor commented on #99605
+1 on (1) and the repo name. An alternative would be `kubernetes/scheduling-visualizer`

[2021-08-05 19:15] ahg-g commented on #85677
what are the implications of not clearing the nominated node name?

[2021-08-05 19:22] ahg-g commented on #93552
Is this still an issue now that https://github.com/kubernetes/kubernetes/issues/94009 is fixed and plugins are able to register for events to move pods out of unschedulable queue?

@cofyc I am not sure I understand why the cache is stale? don't we build this cache in [PreFilter](https://github.com/kubernetes/kubernetes/blob/542829d30d2e48abb802e4f4499dc63dd8076c3d/pkg/scheduler/framework/plugins/v

[2021-08-05 19:32] 2rs2ts commented on #104105
Why was a new feature needed instead of a bug fix? Who could possibly want to contact the NodePort instead of the ClusterIP–something that takes extra configuration to do–if not to circumvent the ClusterIP load balancing?

[2021-08-05 19:34] ahg-g commented on #104013
I don't think we should do this for "not found" errors, those should continue to return unschedulable (events will move the pod out of unschedulable when the missing resource becomes available).

While in theory it sounds plausible to put the pod directly in backoff upon transient errors, do we have evidence that this is actually a problem? My concern is that as we continue to fine tune error clas

[2021-08-05 19:42] alculquicondor commented on #104013
My proposal is that any error (that is **not** NotFound) is treated as transient, thus puts the pod back in backoff. But that should be done after a more detailed survey than the one I already did.

I do not have evidence of the current error handling (put in unschedulable) being a problem. Perhaps it would show in the metric `pod_scheduling_duration_seconds` for the existing performance and scala

[2021-08-05 19:48] teeohhem commented on #78902
/reopen

[2021-08-05 20:09] caesarxuchao commented on #104085
/triage accepted

[2021-08-05 20:10] caesarxuchao commented on #104137
/assign @Jefftree
/triage accepted

[2021-08-05 20:12] caesarxuchao commented on #104138
/remove-sig api-machinery

I think the `kubectl describe` is more related to sig cli.

[2021-08-05 20:16] caesarxuchao commented on #104165
/remove-sig api-machinery
please re-tag us if sig auth needs support from sig apimachinery on this issue.

[2021-08-05 20:18] Huang-Wei commented on #99605
@adtac I always believe the core value of this project is not the UI, it's the fine-grained abstracted simulation SDKs that **all** integrators can benefit from. UI is only one kind of consumer. That's why I'm inclined to separate the logic in the beginning and treat SDKs as the 1st class citizen, instead of UI.

However, I understand that GSoC must have a deliverable MVP upon a due date, so prior

[2021-08-05 20:31] thockin commented on #104162
This is not a standard thing.  The kubernetes semantic is that the service DOES NOT need to pre-exist.  I can't see where this validation is being done in k/k.  I don't believe it *is* being done in k/k

I don't know what exactly this means (in terms of "how") but your cluster seems to be intentionally non-conformant.  This is not a bug in Kubernetes as far as I can see?  What resolution are you h

[2021-08-05 20:32] neolit123 commented on #103068
https://github.com/kubernetes/kubernetes/pull/103801#issuecomment-893776328

looks like we should tell go-openapi/jsonreference to stop using the library too.

[2021-08-05 20:35] thockin commented on #104088
/triage accepted

[2021-08-05 20:37] thockin commented on #103888
ping @robscott

[2021-08-05 20:37] mritunjaysharma394 commented on #104071
I personally feel that this shouldn't be a problem as this library is being actively maintained by the maintainer and in fact, it's latest 1.13.3  version was released 3 days ago only (https://github.com/klauspost/compress) but of course, we would love to have views of other folks in the community.

I think we will have to reach out to other community members to discuss security aspect but I tried

[2021-08-05 20:39] robscott commented on #103888
Thanks for the reminder on this one! I've been digging through the code and also don't have a great answer for what's happening here. I think that means we need more logging as a starting. I'll work on adding that.

[2021-08-05 20:39] robscott commented on #103888
/triage accepted

[2021-08-05 20:41] thockin commented on #103546
PIng @robscott seems like we should accept triage on this?  It also seems like a relatively simple change.  If someone writes it up well, there are lots of people who jump on "easy to approach" issues.

[2021-08-05 20:44] thockin commented on #102085
Hi, any updates here?

[2021-08-05 20:46] thockin commented on #99451
Assigning to Minhan, but @bowei for viz.

Should this request move to a Google-specific CCM repo now?

[2021-08-05 20:46] thockin commented on #98570
ping

[2021-08-05 20:47] thockin commented on #66607
I'm going to close this as a dup, since we do have the KEP open

[2021-08-05 20:47] #66607 closed

[2021-08-05 20:59] neolit123 commented on #104071
that is good analysis, mritunjaysharma394 . thank you for that.

of course, i'm not questioning whether the project is poorly maintained or insecure.
but one example is that we are currently trying to decouple k/k from the project https://github.com/PuerkitoBio/purell which is a well written library for URL normalization, but it has become stale and unmaintained.

the judgement is in the hands of

[2021-08-05 21:00] robscott commented on #103546
/triage accepted

[2021-08-05 21:09] #99979 closed

[2021-08-05 21:09] #103068 closed

[2021-08-05 21:10] #103808 closed

[2021-08-05 21:10] #103789 closed

[2021-08-05 21:11] #103857 closed

[2021-08-05 21:14] uablrek commented on #104105
Please see also https://github.com/kubernetes/kubernetes/issues/93456. In ipvs mode traffic is blackholed if no local pod exists.

[2021-08-05 21:30] freehan commented on #99451
Thank you very much for the write up.  We have similar feature request on the roadmap. We will evaluate and come back.

+1 to move this into Google CCM repo.

@skmatti

[2021-08-05 21:37] thockin commented on #104105
Discussed at sig-net today.  I have a distinct memory (rare for me!) of discussion this design point and it came down to a lesser-evil choice.  We could either treat ALL traffic to a NodePort as external (in which case hitting the NodePort on your pod's node could blackhole) or treat internal traffic to a NodePort as internal.  We know that some users *do* hit their local nodeport and breaking the

[2021-08-05 21:39] bridgetkromhout commented on #104159
/triage accepted

[2021-08-05 21:44] thockin commented on #104098
Discussed at sig-net today.

We can't simply nuke the conntrack records when an endpoint becomes unready.  That would break traffic draining.

If I understand correctly, you need some sort of protocol-aware indication of a dead peer.  If you are not able to close the TCP session (e.g. node crash) then you need either something that watches TCP and resets connections from the middle after some inac

[2021-08-05 21:45] thockin commented on #104098
and BTW, the fact that we do it for UDP is sketchy for the same traffic draining reason.  It's just less commonly needed on UDP.

[2021-08-05 21:48] thockin commented on #104098
So, unless I misunderstand, I think this is a "won't fix" scenario.  @aojea suggested it might be a good doc or blog post, though.

If I don't hear otherwise, I will close this.

[2021-08-05 22:19] robscott commented on #98570
I may be misunderstanding this, but it sounds like the issue here is that it can take >10s on GKE for Service creates/updates to be represented in iptables rules programmed by kube-proxy. That seems to be directly related to the `--iptables-sync-period=1m --iptables-min-sync-period=10s` configuration which limits how frequently iptables will be programmed.

This kube-proxy configuration is not uni

[2021-08-05 22:19] #98570 closed

[2021-08-05 22:32] cheftako commented on #99451
https://github.com/kubernetes/cloud-provider-gcp/tree/master/cmd/cloud-controller-manager for reference

[2021-08-05 22:40] chance2021 commented on #83125
I got the exact same error as you showed.

In my case, the issue was the folder defined in volume **hostPath** was not created. Once the folder was created in **the worker node server**, the issue was addressed.

[2021-08-05 22:45] SergeyKanzhelev opened #104184 "Log attempts to output resp.Body"
#### What happened:

Log messages like `body of failing http response: &{0x531900 0xc0010d2780 0x775180}` are not very informative.

/sig cloud-provider

#### What you expected to happen:

Either actual response body or none of it if this is a security concern.

/sig security

sig security to confirm it is ok to change this to log an actual response body.

#### How to reproduce it (as minimally an

[2021-08-05 22:46] khenidak commented on #103363
I believe this should be up to the user to mount the cgroup fs into the pod which will have to be running as a privileged pod anyway. I understand the use case but it is really - so far at least - a slim use case very specific certain BPF scenarios.

I think we should close this issue. Re-open as more information/use-cases arrise.

/close

[2021-08-05 22:46] #103363 closed

[2021-08-05 22:46] SergeyKanzhelev commented on #104184
/help
/good-first-issue

[2021-08-05 22:46] neolit123 commented on #104176
hi, this doesn't seem like a bug in k8s, but rather a request for support.
please try getting help at the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-08-05 22:46] #104176 closed

[2021-08-05 22:57] ehashman commented on #60140
/remove-triage unresolved

[2021-08-05 23:01] ehashman commented on #72320
/remove-priority awaiting-more-evidence

Correct. A `Failed` pod is considered terminated and will never restart.

I don't think this is accurate. If a pod is in `CrashLoopBackOff` the kubelet is still attempting to run containers, it's just rate limiting the process. Since the docs are misleading, I suggested we fix them.

I don't think there is currently any appetite to add a new pod phase.

[2021-08-05 23:02] ehashman commented on #74151
I'm not sure if this is a bug per se, it feels a bit more like some feature work... in any case,

/remove-lifecycle rotten
/lifecycle frozen

[2021-08-05 23:04] ehashman commented on #35521
/milestone clear

[2021-08-05 23:07] ehashman commented on #102517
/remove-priority awaiting-more-evidence
/triage not-reproducible

[2021-08-05 23:07] ehashman commented on #102517
/remove-triage accepted

[2021-08-05 23:08] ehashman commented on #103366
/priority important-soon

[2021-08-05 23:16] ehashman commented on #104107
/assign

[2021-08-05 23:18] ehashman commented on #104156
Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/close

[2021-08-05 23:18] #104156 closed

[2021-08-05 23:19] ehashman commented on #103765
/triage needs-information

[2021-08-05 23:20] ehashman commented on #104034
/triage needs-information

[2021-08-05 23:26] ehashman commented on #98218
/remove-lifecycle rotten

[2021-08-05 23:26] ehashman commented on #98218
/triage accepted

[2021-08-05 23:28] ehashman commented on #101989
/priority important-soon

[2021-08-05 23:30] ehashman commented on #103764
/kind cleanup

[2021-08-06 00:06] liggitt commented on #104071
my first thought is that if there is a demonstrable bottleneck due to the stdlib gzip implementation, I'd like to see if that could be reported/improved there first. This is a large and difficult to review dependency to add... I'd like to avoid it if possible.

[2021-08-06 00:20] lawliet89 commented on #68737
/remove-lifecycle stale

[2021-08-06 00:23] rwkarg commented on #83242
We have the same exact use case (OPA Gatekeeper). We are also applying it via terraform so a bash/wait loop is not a viable alternative for us.

Additionally, we configure Cilium with Dataplane V2 on GKE (not specifically important, but what is:) that, at some point, creates a `NetworkLogging` resource that I need to `patch`/update. But I can't patch it until it's been created by the networking co

[2021-08-06 00:26] 2rs2ts commented on #104105
I think that's also what happens in iptables mode, though–at least, for traffic coming from outside the cluster. My brief reading of that issue leads me to believe that ipvs mode's problem is that it is not load balancing traffic sent to the ClusterIP, which I agree is definitely a bug–but I was just talking about the NodePort.

I do not know as much about ipvs as I do about iptables; if ipvs is u

[2021-08-06 00:47] 2rs2ts commented on #72320
I'm all for updating the docs regardless of whatever other solution comes out of this issue!

To add on to that: from my perspective, if `kubectl get` is capable of telling me that a pod is in a `CrashLoopBackOff` state, so kubelet is also capable of seeing that information and acting upon it. If that doesn't manifest as a pod phase, so be it; that Pod in a `CrashLoopBackOff` state isn't contribut

[2021-08-06 00:55] DaveWHarvey commented on #72320
statefulSets and deployments control the number of pods in existence.  As with Jobs, we could set the pod's restartPolicy:Never, and  that should cause the pod to terminate if it crashes, and the statefulSet should recreated it.    But unlike Jobs, statefulSets have no mechanism for controlling behavior on pod failures, and therefore it would try to create the pod forever as fast as possible.   Pe

[2021-08-06 00:59] lengrongfu commented on #26507
I've found this, conntainerd add traceing.
https://github.com/containerd/containerd/pull/5731

[2021-08-06 01:28] yuzhiquan commented on #104184
FYI, `InfoS` already handle []byte display in https://github.com/kubernetes/klog/pull/237, may be we can move this to structured-logging.

[2021-08-06 01:35] comsky commented on #63900
@ngocson2vn Worked. This solution save my day.

[2021-08-06 02:14] wzshiming commented on #104005
https://github.com/kubernetes/kubernetes/blob/13c74c430927d37f4c437faac9baa17a7e8ce087/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go#L85-L95

It seems that socks5 does not support spdy

[2021-08-06 02:14] feeltimeQ commented on #104184
l can fix this

[2021-08-06 02:15] feeltimeQ commented on #104184
/assign

[2021-08-06 02:18] tonyaw commented on #104098
@thockin and @aojea,
So the current decision is:
Even if KEP EndpointSliceTerminatingCondition is implemented, Kubernetes doesn't have plan to delete TCP conntrack entry. Is it right?
KEP EndpointSliceTerminatingCondition plans to add a new Terminating condition.
Can kube-poxy use Terminating condition to know it is a "graceful shutdown" case?

[2021-08-06 02:44] #99182 closed

[2021-08-06 05:30] adtac commented on #99605
That's a fair point. Out of curiosity, do you have any external integrations in mind?

Also thanks, I'll open an issue there :+1:

[2021-08-06 06:12] antaloala commented on #40610
What about implementing it as a new kind of volume (e.g. nodeProperties) that a pod spec could require?
kubelet would be in charge of representing the requested node properties (in the volumes entry definition included in the Pod spec) as files, "mounting" it in the pod's container's specified path; those requested node properties (i.e. labels) configured in kubelet as "restricted" would be expose

[2021-08-06 06:18] #97802 closed

[2021-08-06 06:34] oeotvos commented on #104162
Thank you for the explanation and confirmation!

[2021-08-06 06:34] #104162 closed

[2021-08-06 07:08] ydcool commented on #86499
/reopen
We have the same issue.

[2021-08-06 08:15] knight42 commented on #104173
I have filed #104193 to address this issue.

[2021-08-06 08:27] andrey-gava commented on #24873
@mohamedelhabib @nathan-c @scones

Nice, but what about none namespaced resources? Like pv,crd,psp,clusterrolebindings,clusterroles,sc? Its great to have them too.
Is there way not to add one more while loop to the script?
(warning I'm use kubectl-neat binary for last get)
[code]

Second problem with repeated resources, which produce duplicate iterate. See output with and without sort | uniq (v1.1

[2021-08-06 08:34] uablrek commented on #104105
Of course that works, that is basic functionality. The issue is about traffic to a loadBalancerIP or nodePort. Also please note that a PR that fixes the problem (or makes the behaivor the same as for iptables) for ipvs exists.

Um, that is the third option when no local pod exists?

The use-case that sending traffic from an internal pod directed to a loadBalancerIP/nodePort to another node even wi

[2021-08-06 08:39] fjammes commented on #97103
Is there some news about this interesting feature?

[2021-08-06 08:43] triii10 opened #104195 "StatefulSet name accepts DNS subdomain standard, but Pods controlled by StatefulSet accepts DNS label standard"
#### What happened:

Names allowed for Pods, Deployment, StatefulSet follow DNS subdomain name defined in RFC 1123.
Pods controlled by Deployment follows DNS subdomain name standard as well.

However, Pod controlled by StatefuSet is following DNS label standard.
StatefulSet allows names with "." , but Pods created by the StatefulSet fails with error --

[code]

#### What you expected to happen:

S

[2021-08-06 08:53] triii10 commented on #104195
/sig api-machinery

[2021-08-06 10:01] tsuna commented on #73056
This is still happening.

[code]

I was in a `kubectl exec -it` session and my VPN session broke down and I got kicked out and `kubectl` exited 0.

[2021-08-06 10:24] linghaoSu commented on #103609
This is due to the lack of styles in the libraries that the build documentation depends on

Here `brianpursley/brodocs` is used to convert `markdown` documents to `html`
[build markdown link here](https://github.com/kubernetes-sigs/reference-docs/blob/0d8dae580513927cf1248bebd1c447ae8416d0e2/Makefile#L48)
[code]

Missing width restriction for `ol > li`
[missing style here](https://github.com/brian

[2021-08-06 10:50] antzjm commented on #104115
@neolit123 I remove k8s cache to solve this issue, So I guess the root cause is related with k8s.

[2021-08-06 11:37] JasonRD commented on #85418
Had the same problem.  In the cluster of someone cloud vendor, which set apiserver with option --service-node-port-range=30000-50000, the streaming server startup with port 32859, it conflicted with nodeport of one service.

AFAIK, the 'redirect-container-streaming' options will disable streaming server, but it had been removed from v1.20.
So, in the case,  set option service-node-port-range with

[2021-08-06 11:49] pohly commented on #104097
/assign

[2021-08-06 12:10] michaelgugino commented on #72320
As of kube-1.20 (or perhaps earlier, I don't recall) you can successfully evict a crashed pod (or any other not-ready pod) as long as you have not exceeded your disruption budget.  If you have a disruption budget of 1, and 1 pod is in crash loop backoff, you can successfully evict that pod.

If you're using drain as a library in an automated controller, there's an ability to add custom pod filters

[2021-08-06 12:18] pohly commented on #104097
While looking at the current json.go, I noticed that errors also have a "v" field. In the test it is zero:
https://github.com/kubernetes/kubernetes/blob/8c64743d73f206bf633828a7fa1dd014ce153209/staging/src/k8s.io/component-base/logs/json/json_test.go#L150

However, it's implemented the same way as Info, so `logger.V(5).Error` records "v=5". That doesn't make sense to me.

My suggestion is to alway

[2021-08-06 12:23] pohly commented on #104097
And perhaps "v=-2" for panics?

[2021-08-06 13:01] shubheksha opened #104197 "Structured Logging migration: selecting component(s) for 1.23 cycle"
After successfully migrating Kubelet to the new structured logging format in 1.21, we spent 1.22 streamlining processes and forming the working group now spearheading the migration as a whole.
For 1.23, we'd like to pick a new component to start migrating over the new format. This requires a partnership between the WG and the responsible SIG.

What WG structured logging will do:
- Migration the co

[2021-08-06 13:02] shubheksha commented on #104197
/sig instrumentation
/wg structured-logging

[2021-08-06 13:51] gkarthiks commented on #103068
@neolit123 done. Created an issue in their repo as well https://github.com/go-openapi/jsonreference/issues/10 and offered to create a PR if they are willing to move forward with in-sourcing the logic.

[2021-08-06 14:19] neolit123 commented on #103068
@gkarthiks thanks!

[2021-08-06 16:33] apelisse commented on #95460
That's definitely an important issue to look at, I'll give it a look.

[2021-08-06 16:34] pohly commented on #104097
Another question about json.go: should the log level of a component influence which messages get logged?

The constructor doesn't take a parameter to specify the component's log level: https://github.com/kubernetes/kubernetes/blob/5dd4d3c7f7f5e83a2a62190332eaa6a3c916f955/staging/src/k8s.io/component-base/logs/json/json.go#L42-L48

And the test just checks that messages at all levels are enabled:

[2021-08-06 16:45] watkinsmike commented on #67250
This continues to bite us. How are people managing this in the meantime? The manual intervention of deleting the stuck pod is not very ideal.

[2021-08-06 17:44] ehashman commented on #104197
/triage accepted

[2021-08-06 17:54] ehashman commented on #104041
/reopen

reverted in https://github.com/kubernetes/kubernetes/pull/104202 as fix did not work

[2021-08-06 18:23] thockin opened #104207 "declarative defaults need to handle const values"
Declarative defaulting is awesome.  For literal values, it is super useful.

HOWEVER...

Many (most) of our default values are `const` and it seems wrong to copy the values into the API comments. For example:

[code]

in defaults.go, we find:

[code]

If I delete this defaulting code (win!!!) and use declarative defaults, I WANT to say:

[code]

...but that doesn't work.  The defaulter code calls

[2021-08-06 18:26] haircommander commented on #104034
what cgroup manager are you using?

[2021-08-06 19:12] thockin commented on #104207
I started, but it's been a long time since I touched defaulter and I don't know what the best way is to add imports any more:

[code]

[2021-08-06 19:13] apelisse commented on #104207
cc @jpbetz @Jefftree

[2021-08-06 20:46] lavalamp commented on #98541
/reopen
/lifecycle frozen

[2021-08-06 21:00] RobertFr0st commented on #39178
This appears to me to still be an ongoing issue.

[2021-08-06 21:29] 2rs2ts commented on #72320
Yeah, that's what we're forced to do now when we run manual operations, but it's just annoying and a waste of time. Why wait all that time if we already know that Pod's dead?

I'm not sure I understand how this is set up, especially since I don't use static pods, but as I understand it, static pods aren't managed with a replication controller or anything of the sort, so I'm not quite sure where th

[2021-08-06 21:39] michaelgugino commented on #72320
Static pods can't be drained.  We use canary pods (normal pods) that a pod-affinity scheduled to the static pods.  This in effect keeps too many static pods from being stopped (eg, a node gets automatically removed).

[2021-08-06 22:33] adtac commented on #99605
I'd also like to talk to somebody about scheduling a potential blog post at the end of GSoC (authored by @sanposhiho). Whom should I talk to?

[2021-08-06 23:17] #99993 closed

[2021-08-06 23:45] bnu0 commented on #90922
I dont think the KEP covers what is being demonstrated here, which really seems like a bug (one which I hit today trying to change kube-controller-manager's default node podcidr prefix from a /24 to a /23).

As far as I can tell, this issue is not looking for a way to re-ip existing nodes. It is showing that if you change the kube-controller-manager argument from /24 to /23, then when a new node r

[2021-08-07 00:16] 2rs2ts commented on #104105
I'm not really following your example–it sounds as though something like coredns would be able to solve it–but I will chalk this up to my inexperience. I can at least take away that you can't know what the client intended by the time the request goes through kube-proxy's rules, and that sometimes clients hit the NodePort without specifically trying to circumvent load balancing, even if I can't con

[2021-08-07 00:16] #104105 closed

[2021-08-07 01:49] jyz0309 commented on #103207
@tallclair Hello! I have worked for this issue a few days. Actually, Now I can get the Operator and Resource labels in RecordEvaluation() by attrs.GetOperation() and attrs.GetResource(). But I don't know how to get other labels😭 Can you teach me how to get other labels?

[2021-08-07 04:10] Static-Flow opened #104213 "Pod Anti-Affinity scheduling fails when scheduling multiple pods concurrently"
#### What happened: I have a batch of jobs to run in parallel and I want the job pods to each run on their own node. Should be simple enough with pod level anti-affinity but when I create the jobs with `kubectl apply -f ./jobs` multiple pods are assigned to the same pod.

**Example job yaml:**
[code]

My guess is that because they are all started at the same time, POD A is assigned to Node 1, but

[2021-08-07 04:11] Static-Flow commented on #104213
/sig scheduling

[2021-08-07 06:52] mohjam2004 commented on #102085
Hi,
based on @aojea help, The problem has been resolved.
because of disk latency I had etcd cluster unhealthy and this caused the issue.
I had a wazuh-agent service on my nodes that sent many logs to the server.
regards

[2021-08-07 06:52] #102085 closed

[2021-08-07 13:26] #98539 closed

[2021-08-07 13:26] #99502 closed

[2021-08-07 14:37] RyanAoh commented on #104195
/assign

[2021-08-07 15:26] cbandy commented on #100898
There is a label with the pod name that can be put into an environment variable using the downward API.

- https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-name-label
- https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#the-downward-api

[2021-08-07 15:46] kerthcet commented on #104213
It should behave as expected. Can this be reproduced each time?

[2021-08-07 16:03] Static-Flow commented on #104213
Hmm tried it again and it works as expected. This might just be a 1.20 problem because last night I upgraded the cluster to 1.21 and it _just works_ now. 🤷‍♂️ Might be worth looking into for 1.20 but I'm happy to close this issue since it's working for me now.

[2021-08-07 16:27] #96648 closed

[2021-08-07 16:51] kerthcet commented on #104213
Maybe more information is helpful. I think it should be worked as well as in release1.20.
/triage needs-information

[2021-08-07 16:52] Static-Flow commented on #104213
What would you like to know?

[2021-08-07 17:13] kerthcet commented on #104213
well, I haven't experimented with release 1.20, so if you can repro it, you should detail the steps. any logs is better. like scheduler and kubelet. 😃

[2021-08-07 17:18] Static-Flow commented on #104213
I've upgraded the cluster already and no longer have the logs from the runs on 1.20.

The repro steps are fairly simple:
1. create 1.20 K8s cluster with 3 nodes.
2. Use the above yaml, copied 3 times, in a folder to run a 3 jobs
3. Run the jobs via kubectl like so `kubectl apply -f ./folder`
4. Note that is does not position the pods to run 1 per node.

[2021-08-07 20:02] ricjhill opened #104221 "Kompose generated network YAML cannot be applied because there are o matches for kind "NetworkPolicy" in version "extensions/v1beta1""
#### What happened:

In a powershell terminal from a dir containing  the  docker  compose file   [docker-compose.prod.yml](https://raw.githubusercontent.com/doccano/doccano/master/docker-compose.prod.ymll).  I ran the command

`kompose convert -f .\docker-compose.prod.yml
`

I then applied  the manifests created to my local minkube cluster

[code]

The error messages were corrected by  updating th

[2021-08-07 21:55] a-glanville commented on #93472
It looks like you then you can remove the line "- --port=0" from /
etc/kubernetes/manifests/kube-scheduler.yaml and
/etc/kubernetes/manifests/kube-controller-manager.yaml
next restart kubectl and test it again.
I am running version v1.20.1 and this has resolved the error.  The actual services do appear to be up and returning "ok" when queried.

[2021-08-07 22:10] mritunjaysharma394 commented on #104071
thanks a lot for your feedback @neolit123 and @liggitt.

I am not sure if it's a bottleneck but the results in optimizing the CPU usage seems to have shown good results in this direction in not only the PR #99300 but also in the benchmark tests that I ran on my system also showed some good results.

For an example, I would like to show the results of two such benchmark results:

- For stdlib gzip,

[2021-08-08 06:01] zerkms commented on #67250
manually :-(

[2021-08-08 06:05] zerkms commented on #89938
/remove-lifecycle stale

[2021-08-08 07:38] 249043822 commented on #104117
We have this scale in video cloud field, may 500 ~ 1000 pod per high perf physical node(2 Intel 5218 CPU + 256G Memory)， so we have high performance requirements for kubelet

[2021-08-08 08:47] CzarMich commented on #93472
unsubscribe

On Sat, Aug 7, 2021 at 11:55 PM Angus ***@***.***> wrote:

--
Michael Anywar

[2021-08-08 09:31] #95750 closed

[2021-08-08 11:58] RPing commented on #98607
@pacoxu have you already worked on this?
If no, I hope to try adding it.

[2021-08-08 13:35] #99770 closed

[2021-08-08 13:36] kerthcet commented on #104221
/sig network

[2021-08-08 14:22] jyz0309 commented on #104197
Hello! I want to help with the migration... Can you tell me some relevant background (just like issue or PR)?😊 @shubheksha

[2021-08-08 14:59] skywe-tang commented on #104184
Hi, @feeltimeQ I just found a place to test my first submit. If you are still working on this, please let me know. I'll close my PR

[2021-08-08 15:33] fnkr commented on #76928
/remove-lifecycle rotten

[2021-08-08 15:40] nibbl opened #104230 "Deprecated documentation page"
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

yaml on this page will initialize a cluster not correctly
during startup we will see requests to deprecated 10248 port

kubeadm init --config kubeadm-config.yaml:
`[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get "http://localhost:10248/healthz": dial tcp [:

[2021-08-08 18:35] #100095 closed

[2021-08-08 18:50] jayunit100 commented on #103802
Ok, we've got this done now , rajas has ccd the mailing list w the results, so I think we will merge the PR in the next few days .

Overall results are as we predicted, implementing most of the ideas in this thread , empirically seeing 2/3->1/3 reduction in test times as expected ! :)

[2021-08-08 18:51] jayunit100 commented on #103802
https://github.com/kubernetes/kubernetes/pull/104086

[2021-08-08 20:08] aojea commented on #104221
/close
this is not a kubernetes bug, yaml files should have the right version,  AFAIK kustomize only parses and modifies files .and kubernetes 1.22 doesn't support ingress v1beta1, it was announced in the release notes

[2021-08-08 20:08] #104221 closed

[2021-08-08 20:33] aojea commented on #90922
ah, right, sorry, I overlooked all the details.
The KEP allows to use different sizes but it keeps the limitation about not able to change the size of the assigned CIDR.
It is a known limitation, maybe should be better documented, but this field was close to be deprecated too https://github.com/kubernetes/kubernetes/issues/57130 :shrug:

[2021-08-08 23:35] #99938 closed

[2021-08-09 01:15] #102754 closed

[2021-08-09 01:55] sbwfnhn commented on #104034
kubeadm
[code]

kubectl config
[code]

crio
[code]

ps aux|grep kubelet
[code]

[2021-08-09 02:35] #100159 closed

[2021-08-09 02:48] feiskyer commented on #103994
This is not a supported feature in AKS.

Cloud provider supports network resources in a different subscription by config `networkResourceSubscriptionID` (docs https://kubernetes-sigs.github.io/cloud-provider-azure/install/configs/#host-network-resources-in-different-aad-tenant-and-subscription). However, that is only supported when all network resources are put in the networkResourceSubscriptionID

[2021-08-09 02:48] #103994 closed

[2021-08-09 02:52] feiskyer commented on #103622
this is an expected behavior and cloud provider would retry on the errors.

Because of throttling and potentially failures from LB API, you could use a fixed NodePort to reduce number of updates (e.g. enabling Local traffic policy and use patch method for later updates).

[2021-08-09 02:52] #103622 closed

[2021-08-09 02:52] yuswift commented on #104230
/sig docs

[2021-08-09 02:56] feiskyer commented on #103348
The issue has been fixed in https://github.com/kubernetes/kubernetes/pull/104068 and would be included in v1.20.10.

[2021-08-09 02:56] #103348 closed

[2021-08-09 03:35] pacoxu commented on #98607
I just give one possible idea on it and don't start on working it out.
Feel free to assign and work on it.

[2021-08-09 03:57] SataQiu commented on #104230
@nibbl
I guess this is because the docker in your environment is using `cgroupfs` driver instead of `systemd`.
You can check it with `docker info | grep Cgroup`:
[code]

You can also check why `kubelet` failed to start by `journalctl -xeu kubelet`.

[2021-08-09 03:59] liggitt commented on #104090
I suspect the rejection you are seeing is happening client side. The server does not reject unknown fields (it either drops them, or preserves them if x-kubernetes-preserve-unknown-fields is set).

If kubectl creates the object when the endpoint is registered and the endpoint is accepting create requests, but before the server openapi schema is updated (or there is a race with kubectl checking for

[2021-08-09 04:21] robscott commented on #104090
Woops, sorry I missed adding the actual error message I was seeing. You're completely right @liggitt, I was seeing/expecting the client-side validation here. Somehow I'd thought that there was more to it than that. Is there any server side validation that prevents unknown CRD fields from being persisted?

[2021-08-09 04:23] YouHang commented on #104171
Copy from the doc: https://kubernetes.io/docs/reference/using-api/api-concepts/#watch-bookmarks
[code]
To my understanding, `410 Gone` only means that the client requests a resourceVersion older than the server has retained rather than the resourceVersion is stale.

[2021-08-09 04:44] RPing commented on #98607
/assign

[2021-08-09 06:11] feeltimeQ commented on #104184
Hi, @skywe-tang, l still working on this issues, thanks .

[2021-08-09 07:02] skywe-tang commented on #104184
OK, go ahead. This PR #104225 can be used as a reference, I‘ll close it

[2021-08-09 08:30] aojea commented on #104105
@thockin  the healtcheck is only used by the external loadbalancers to know if they should forward traffic to that node, no?

[2021-08-09 08:49] aojea commented on #104098
When a node becomes not ready, , is not a graceful shutdown, bear in mind a TCP session can survive network hiccups, if the node becomes ready and pods available again, the TCP session will be working again.

I really think that for TCP, we should not workaround the application problems using the network, TCP already has all the mechanisms needed for handle these scenarios, and the risk of breakin

[2021-08-09 08:51] ceteongvanness opened #104233 "Error: error: deployment "xxx-sit" exceeded its progress deadline & Rollout status check failed"
I get an error from the Azure DevOps with the yaml file, should I add a namespace 'svc-sit' as my namespace when I just get an error for the Deploy Kubernetes Cluster only?
here is my log for the error and YAML
YAML
[code]
Log
[code]
Thanks for the helps

[2021-08-09 09:42] cchxn258886 commented on #71706
my cluster is 1.17 .i also get this problem。but the cluster has 10nodes 。only 2node have this probelm。when i look for this problem。the ipvs handle book tell me。nodePort can make ipvs rollback iptables 。so what can i do to resolve this problem？

[2021-08-09 09:48] tonyaw commented on #104098
Yes. Application can handle it, but needs effort since our product is complex.
We expected Kubernetes(infrastructure layer) can handle it. :-)
I got your point from Kubernetes perspective.
You can close this issue now.
Thanks for your great support! :+1:

[2021-08-09 09:51] cchxn258886 opened #104234 "kube-proxy should log the payload when iptables-restore fails"
my k8s cluster version is 1.17.x 。this cluster has 10 nodes.one master 。
only  2 nodes get problem.
[code]
it make my svc sometime can use。sometime can timeout。
what can i do can resolve this problem ?
this 2 node's svc is nodeportType 。

[2021-08-09 09:54] cchxn258886 commented on #104234
@Network

[2021-08-09 10:12] fabiand commented on #104136
Could you elaborate on why this is working as expected?

[2021-08-09 10:15] aojea commented on #104098
Thanks for your comprehension
/close

[2021-08-09 10:15] #104098 closed

[2021-08-09 10:41] aojea commented on #97110
The field is part of Services API that is GA, is not likely to be removed, see comment https://github.com/kubernetes/kubernetes/issues/97110#issuecomment-740714200

@thockin refers to https://gateway-api.sigs.k8s.io/ , I think that he means that any attempt to redesign will come from that new API

Hope that answers the remaining questions
/close

[2021-08-09 10:41] #97110 closed

[2021-08-09 10:49] aojea commented on #104234
you can increase kube-proxy verbosity adding `-v7` flag and you should get more information about the cause of the error

Kubernetes 1.17 is EOL, so you should upgrade to 1.19 at least https://kubernetes.io/releases/

[2021-08-09 10:55] bunniseng commented on #102285
PR's pending for runc 1.0.1 version backport from master into 1.20 & 1.19

- 1.20: https://github.com/kubernetes/kubernetes/pull/104237
- 1.19: https://github.com/kubernetes/kubernetes/pull/104238

Preexisting backport pending for 1.21: https://github.com/kubernetes/kubernetes/pull/103746

[2021-08-09 11:39] endocrimes commented on #104107
/triage accepted

[2021-08-09 12:08] mccricardo commented on #101538
@madarez I'm not able to reproduce this on normal setup.

[2021-08-09 12:27] #103952 closed

[2021-08-09 13:14] neolit123 commented on #104230
during startup we will see requests to deprecated 10248 port

the kubelet healthz port 10248 is not deprecated.

i don't see anything wrong with the page.

make sure you configure both the CR and the kubelet with matching drivers.
also see this about the 1.22 release notes:
https://github.com/kubernetes/kubeadm/issues/2541#issuecomment-895176372

/close
/kind support

[2021-08-09 13:14] #104230 closed

[2021-08-09 13:22] Horgix opened #104241 "Documentation snapshots for version prior to `1.17` are served with an invalid certificate"
#### What happened:

When trying to view Kubernetes documentation snapshots for versions prior to `1.17`, it is served using a generic Netlify TLS certificate, therefore not matching the doc domain, and thus ending up in a browser warning:

![screenshot_2021-08-09-151254_915x660_selection](https://user-images.githubusercontent.com/4584397/128712867-3611e1c7-415a-4eab-a19d-cd0a82d42d90.png)

#### W

[2021-08-09 13:27] dsaydon90 opened #104242 "loadBalancerSourceRanges is still not respected on nlb with tls listener and ip target on AWS EKS"
#### What happened:
Even if I'm using `loadBalancerSourceRanges` to restrict access to my service with a specific client ip (like `192.116.14.31/32`) I still can access to my service from a different ip

#### What you expected to happen:
client ips that not  in `loadBalancerSourceRanges` should be blocked

#### How to reproduce it (as minimally and precisely as possible):

create svc like that:
[c

[2021-08-09 13:27] neolit123 commented on #104241
please log this in the kubernetes/website repository where the website source is.

/kind documentation
/close

[2021-08-09 13:27] #104241 closed

[2021-08-09 13:29] Horgix commented on #104241
My bad, will do. Thanks!

[2021-08-09 13:32] pohly commented on #104097
PR for zapr is here: https://github.com/go-logr/zapr/pull/37

With that change, https://github.com/kubernetes/kubernetes/pull/104103 passes the JSON unit tests with some (minor) modifications.

[2021-08-09 13:33] #104159 closed

[2021-08-09 13:35] liggitt commented on #104090
setting `preserveUnknownFields: false` will drop the unknown fields instead of persisting them, but there is not a "reject request with unknown fields" option

[2021-08-09 13:38] alculquicondor commented on #99605
Ask the owners https://github.com/kubernetes/website/blob/main/OWNERS_ALIASES#L2

[2021-08-09 13:53] ingvagabund commented on #91782
/remove-lifecycle rotten

[2021-08-09 14:02] enj commented on #104127
Please reach out to GKE support for configuration issues related to their gateway agent.

You likely have a type somewhere in your RBAC configuration.

/close

[2021-08-09 14:03] #104127 closed

[2021-08-09 14:12] TheFrisianClause commented on #92463
Well I am trying to automate this process with Ansible as well on RockyLinux 8 but I seem to get this error to. This is the debug:

fatal: [kube-worker-02]: FAILED! => {"changed": false, "failures": [], "msg": "Depsolve Error occured: \n Problem: cannot install both kubelet-1.18.4-0.x86_64 and kubelet-1.22.0-0.x86_64\n  - cannot install the best update candidate for package kubernetes-cni-0.8.7-0.

[2021-08-09 14:14] pohly commented on #104097
Kubernetes handles that in klog: klog checks the component log level, then calls the logger only if the message is to be printed.

[2021-08-09 14:14] pacoxu commented on #104041
/cc @kerthcet

[2021-08-09 14:26] joell commented on #104171
@YouHang: My choice of words could have been better.  When I wrote that a `resourceVersion` was "stale" what I meant was that the `resourceVersion` was expired and no longer retained by the API Server.  Hopefully this is made more clear if you closely examine the reproduction example I gave which uses a parameter `resourceVersion=1`, a choice explicitly intended to never be recognized as recent by

[2021-08-09 14:30] enj commented on #104165
Adding back API machinery since this is a known issue with the wiring of the `createAPIExtensionsConfig`.  It drops the `RESTOptionsGetter` from KAS:

https://github.com/kubernetes/kubernetes/blob/6a043332bed986be691f9446c6b97ce3e7217c64/cmd/kube-apiserver/app/apiextensions.go#L53

But then fails to account for `EncryptionProviderConfigFilepath` which would set `TransformerOverrides` (other aspect

[2021-08-09 14:36] enj commented on #104165
Note that there has been discussion in the past on how best to handle encryption at rest for resources that are dynamically created via CRDs.  i.e. having to provide static config to KAS for some unknown future resource does not really fit the model.   IIRC there was some desire to be able to mark a CRD as "sensitive" to indicate that it needs encryption at REST.  This would then be dynamically ho

[2021-08-09 14:44] enj commented on #101762
/remove-lifecycle stale

[2021-08-09 15:47] MadhavJivrajani commented on #104242
/sig network

[2021-08-09 15:47] MadhavJivrajani commented on #104234
/sig network

[2021-08-09 15:48] MadhavJivrajani commented on #104233
/sig apps

[2021-08-09 16:16] enj commented on #100466
/remove-lifecycle rotten
/triage accepted

I have not confirmed that this bug exists, but I suspect that it does.  It may be tricky to fix based on when the storage layer fills out the generated name vs when the audit layer runs.

[2021-08-09 16:27] enj commented on #100588
/triage accepted
/remove-lifecycle rotten

Metrics related to authorization seem like a reasonable addition.

[2021-08-09 16:30] enj commented on #100588
@logicalhan @liggitt do we require a KEP for new metrics?

[2021-08-09 16:45] logicalhan commented on #100588
No, I don't think that's necessary, but please tag instrumentation for reviews, we've had some problematic metrics recently.

[2021-08-09 16:56] neolit123 opened #104246 "update k8s.io/system-validators for 1.23"
every k8s release, if changes are added to https://github.com/kubernetes/system-validators we release a new version of the library and vendor it in this repository.

TODO:
- [ ] wait for changes to accumulate in https://github.com/kubernetes/system-validators
https://github.com/kubernetes/system-validators/network
- [ ] add new release in https://github.com/kubernetes/system-validators before the

[2021-08-09 16:56] neolit123 commented on #104246
/sig cluster-lifecycle node
/milestone v1.23
/assign

[2021-08-09 16:57] neolit123 commented on #104246
/triage accepted

[2021-08-09 17:25] ehashman commented on #104197
API server would be high impact.

Scheduler might be smaller scope/more self-contained.

Have we reached out to particular SIGs to get their feeling on this?

[2021-08-09 17:38] haircommander commented on #86080
looking at the test case, it still seems to be flaky, though it's not clear why: https://testgrid.k8s.io/google-gce#gci-gce-flaky&sort-by-flakiness=&width=20&include-filter-by-regex=SELinux

A container that is supposed to `sleep 6000` seems to run to completion:
[code]

which is.. odd.

I would otherwise propose we drop the `[Flaky]` label, and then they'd be running in the CRI-O e2e tests, which

[2021-08-09 17:46] sudeep-ib commented on #15478
Any updates on the status of this feature requesT?

[2021-08-09 17:46] sudeep-ib commented on #15478
/reopen

[2021-08-09 18:12] virtyos opened #104249 "Kubernetes apply command produces 'wrong encoding error'"
I'm trying to execute `microk8s kubectl apply -f  deployment.yaml` and always getting

`error: string field contains invalid UTF-8`
No matter what file I'm trying to use. Even if I execute

`microk8s kubectl apply -f  blablabla`
Result is the same

[2021-08-09 18:45] lavalamp commented on #96486
/lifecycle frozen

[2021-08-09 19:01] #96478 closed

[2021-08-09 19:05] pohly opened #104250 "scheduler: trigger pod scheduling when CSIStorageCapacity or CSIDriver.Spec.StorageCapacity change"
#### What would you like to be added:

When CSIStorageCapacity changes or `CSIDriver.Spec.StorageCapacity` is reset from `true` to `false`, pods that were blocked by a lack of storage capacity might become scheduable. `kube-scheduler` could watch those objects and selectively (?) add affected pods to the work queue.

See https://github.com/kubernetes/kubernetes/pull/101789#discussion_r643593390.

[2021-08-09 19:05] pohly commented on #104250
/assign

[2021-08-09 19:19] pohly commented on #104250
/sig storage

[2021-08-09 19:20] enj commented on #104127
Support info: https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support

[2021-08-09 19:25] alculquicondor commented on #104250
I believe this is already the case https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/volumebinding/volume_binding.go#L116

[2021-08-09 19:44] ialidzhikov commented on #80289
What is the status with this issue? I see that #94603 already switched kube-controller-manager, kube-scheduler to use leases for leader election. Are there any other leftovers to do as part of this issue?

[2021-08-09 19:48] liggitt commented on #104071
My naive approach would be to profile the stdlib impl and this proposed replacement and see if there are corresponding steps in the stdlib impl that perform poorly, to see if there are possible individual improvements that could be made.

I was referring to the review of the dependency itself, not the call sites.

[2021-08-09 20:01] subourbonite commented on #74099
Can confirm that this is an issue for GitOps-style synchronization of HPA objects. As we don't always have control over how external Helm charts order their HPA entries, it would be extremely helpful to have this resolved.

[2021-08-09 20:16] neolit123 commented on #104249
hi, please report this to microk8s first:
https://github.com/ubuntu/microk8s
make sure you include the version too.

to discuss with other users, use the k8s support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-08-09 20:17] #104249 closed

[2021-08-09 20:22] reduardo7 commented on #95759
/reopen

[2021-08-09 20:22] reduardo7 commented on #95759
/remove-lifecycle rotten

[2021-08-09 20:51] pohly commented on #104250
It looks like you are right. I didn't know that this had already been addressed.

For my own understanding: are events tracked by pod, i.e. are only those pods checked again which previously failed volume binding? The comment function implies that this is the case (although "make a Pod failed by this plugin schedulable" sounds a bit odd to me).

[2021-08-09 21:15] RichardoC opened #104252 "Inconsistent reset of changes to kubernetes endpoints"
#### What happened:
If you change some attributes of the kubernetes endpoint in the default namespace, they are not reset

##### Attributes that are reset (correctly)
* IP address

##### Attributes that are not reset (incorrect)
* Port
* Port name
* Protocol

If you change those attibutes of the kubernetes endpoint in the default namespace it is not reset to the correct value. This differs from th

[2021-08-09 22:54] aojea commented on #101070
/remove-lifecycle stale

[2021-08-09 23:43] #97940 closed

[2021-08-10 00:52] cchxn258886 commented on #104234
hello bro。my cluster is use kubeadm init .so what should i do .i know this is use configmap 。but in this i can not found how edit this configmap is available？about upgrade this cluster .this time is impossible。

[2021-08-10 00:53] cchxn258886 commented on #104234
about stack. i only get this log.
[code]

[2021-08-10 01:43] andyzhangx commented on #102737
@marosset this issue was fixed in csi-proxy v1.0.0, related PR: https://github.com/kubernetes-csi/csi-proxy/pull/123

[2021-08-10 01:51] bridgetkromhout commented on #102737
Thanks, @andyzhangx. Until the above-linked fix is available on AKS, Andy mentioned to me that a possible workaround is using a windows label (to prevent linux-only workloads from being scheduled on windows nodes): https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/#ensuring-os-specific-workloads-land-on-the-appropriate-container-host

[2021-08-10 02:42] pacoxu commented on #103110
I only met similar issues in some private clouds or bare metal private machines. It would be a problem for them.
IMO, this may not be a bug, but something we can tolerate.

There are three ways:
1. like PR #103183, return an empty `resolv.conf` file. (I prefer this because in some cases the `/etc.resolv.conf` has no nameservers and the pod can start. File-not-exists is the same to me as no nameser

[2021-08-10 05:34] trastle commented on #99009
/reopen (if I am allowed)

Having looked at the above container runtime features mentioned by @haircommander I don't think they quite cover the case mentioned above.

Setting the image pull policy to Always with a fallback of IfNotPresent would allow the use of the latest image from the remote registry with a fallback to a locally cached copy of the image if the remote registry pull is temporarily

[2021-08-10 05:40] mythi commented on #92211
update: the CRI-O PR is merged, containerd PR pending review

[2021-08-10 06:06] BenTheElder commented on #102607
https://github.com/kubernetes/kubernetes/issues/102754 was fixed (thanks @eddiezane !), there's a new failure though so I guess I won't close this yet ...

[code]

without checking yet, I strongly suspect this is a umask problem 🙃

[2021-08-10 06:07] wojtek-t commented on #80289
IIRC cloud-controller-manager is one thing

And we would like to move other out-of-tree addons/controllers too.

[2021-08-10 06:08] BenTheElder opened #104265 "`k8s.io/kubernetes/cmd/kubeadm/app/phases/copycerts` `TestDownloadCerts` fails"
#### Which jobs are failing:

Running `make test` locally.

#### Which test(s) are failing:

`k8s.io/kubernetes/cmd/kubeadm/app/phases/copycerts` `TestDownloadCerts`

#### Since when has it been failing:

Today?

#### Testgrid link:

There is none, but I'm not filing this as a flaking test because it's a dependable failure, not a flake.

#### Reason for failure:

I suspect this depends on the user

[2021-08-10 07:57] aojea commented on #104234
To increase the verbosity on kube-proxy on a kubeadm deployment you can do
[code]
and wait until pods are restarted.

Despite that, if there is a bug, it will not be backported to 1.17, so you have to go to a supported version first

[2021-08-10 08:00] thesuperzapper commented on #89938
Just wanted to say, this behaviour causes problems for helm, see https://github.com/helm/helm/issues/10010.

_NOTE: Helm charts often template Secret YAML to add/remove/change keys depending on the chart's values._

---

This `stringData` behaviour is a timebomb, as it violates the core principle of Kubernetes that __the YAML is declarative__. If I apply some YAML to the cluster, I don't expect th

[2021-08-10 08:01] aojea commented on #103110
what if the resolv.conf is added later? this can race ...

if the resolv.conf is needed/required for a cluster to work well, that I think it is, I think this is a good option

at least is the one that we always had :smile: :smile:

[2021-08-10 08:03] aojea commented on #101324
Just for reference, in the meantime,  there is a solution using the exec probe and curl ...

[2021-08-10 08:03] chendave opened #104266 "revisit `PodEligibleToPreemptOthers` func from default preemption"
#### What happened:
As the comment here explained, the logic of `PodEligibleToPreemptOthers` func from default preemption is not accurate enough, the deleting pod should be a preemption victim instead of normal deleted pod.
https://github.com/kubernetes/kubernetes/pull/104030#discussion_r680138858

Quote from @Huang-Wei

#### What you expected to happen:
Refine the logic to make sure the deleting

[2021-08-10 10:25] bart0sh commented on #103587
/assign

[2021-08-10 12:15] tpo commented on #56272
:+1: me too

I'd need to know when a pod was evicted in order to do event correlation - aka our monitoring system tells us some service went down and I'd like to know wheter that happend at the moment when some pod was evicted.

The eviction time does not seem to be visible with `kubectl describe pod pod-xxxx`

[2021-08-10 12:18] tpo commented on #56272
/reopen

[2021-08-10 12:21] tpo commented on #56272
I can't reopen this issue since I'm not the author. Could you please reopen this issue @jiaxuanzhou or maybe @stewart-yu ?

[2021-08-10 12:33] njucjc commented on #97908
### **Our solution as follows：**

- First of all，It requires that the **persistentVolumeReclaimPolicy** of the source **PV** must be **Retain**.
- Secondly, We should add an **annotation** in the source **PVC** like that:
[code]
- Thirdly, when we want to share  **PV** by the source **PVC**,  we can add two **annotation* in the second **PVC** like that:
[code]
### **Volume create as follows：**
CSI

[2021-08-10 12:39] SataQiu commented on #104265
/assign

[2021-08-10 12:55] #104067 closed

[2021-08-10 13:04] alculquicondor commented on #104250
Yes, they are tracked by pod

[2021-08-10 13:30] haircommander commented on #99009
yeah that is a good point, I am not sure I properly understood the request when making that comment :upside_down_face:

However, wouldn't having a local cache registry for the mirror satisfy this need? It could basically serve the images the node currently has, so if the pull failed, it would fall back to the local image. It is a roundabout way of satisfying this need, but it is possible now and d

[2021-08-10 13:46] alculquicondor commented on #104013
@Jerry-Ge maybe you would be interested in taking a stab at this

[2021-08-10 14:05] alculquicondor commented on #104266
Do we have a way to tell? Add a Pod condition perhaps? Is it worth the extra API call?

[2021-08-10 14:28] sebsoto opened #104269 "Windows Kubelet should prefer using the network interface with the default gateway when picking the Node IP"
#### What happened:
On a Windows node with no cloud provider, the Windows kubelet chooses an arbitrary network interface to use as the Node IP.
#### What you expected to happen:
I expect the interface used as the default gateway to be chosen, [as documented in the code](https://github.com/kubernetes/kubernetes/blob/bb793e8d4bddba864dd7f3eeb52b33271fc177c8/pkg/kubelet/nodestatus/setters.go#L216). T

[2021-08-10 14:29] sebsoto commented on #104269
/sig windows

[2021-08-10 14:33] vladimir259 commented on #79365
Had same issue with a deployment that could not scale because of the

`"failed to get cpu utilization: missing request for cpu"`

error that the HPA of the deployment was showing.

Finally got it fixed now.

Here the reasons &  background:

My deployment consist of a
* Job that run at the beginning
* regular POD with *three* containers - two "sidecar" containers and one with the main app

The "mai

[2021-08-10 15:08] chrispytoes opened #104272 "Namespace deletions stuck in "Terminating" after upgrading to new cert-manager version"
#### What happened:
When I originally set up this cluster, I had used the older certmanager version that uses the `certmanager.k8s.io` API. I eventually upgraded it when I realized that by deleting the old `certmanager` namespace, and all CRDs with the `certmanager.k8s.io` API, and installing the new `cert-manager.io` version. I then updated my ClusterIssuer resources to match the new API version,

[2021-08-10 15:14] chrispytoes commented on #104272
/sig api-machinery

[2021-08-10 15:51] perithompson opened #104273 ""should run iperf2" test fails to get EndpointSlice"
#### What happened:
When running
[code]

The test fails to run get the endpoint slice and fails the test

[code]
#### What you expected to happen:
Test should pass

#### How to reproduce it (as minimally and precisely as possible):
Deploy a cluster and run e2e using the local provider with ginkgo focus "should run iperf2"

#### Anything else we need to know?:

#### Environment:
- Kubernetes versio

[2021-08-10 16:27] marosset commented on #102100
/triage accepted

It looks like there are timeouts that occasionally hit if this test pulls the agnhost image on windows tests.
Looking at the logs the containers start right as the tests hit the timeout.

One option may be to pre-pull images again.

- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-20-windows-containerd/1421516215053979648
- https://prow.k

[2021-08-10 16:34] neolit123 commented on #104265
there were related changes to TestDownloadCerts last month:
https://github.com/kubernetes/kubernetes/commit/5c00024c70bee36d12a1a5293a1940f2bb7de95b

we could pin the mode for these newly created files in kubeadm.
/triage accepted

[2021-08-10 16:55] neolit123 commented on #104265
but the problem seems odd.

kubeadm uses client-go utils for writing a cert file with mode 644:
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/client-go/util/cert/io.go#L61-L70

i don't understand why something would override this mode to 0640.

[2021-08-10 17:19] khenidak commented on #101324
This should work. But we need a solution. I think.

Here are some basic ideas for those thinking about it:
1. PodIP is a struct. PodIPs is a list of that struct. The struct is meant to carry additional fields. We had `Properties map[string]string` And we removed it because we didn't find any use and we couldn't find the best way to validate it.
2. PodIPs is not fed from CNI. Only `PodIP as string`

[2021-08-10 17:19] khenidak commented on #101324
Finally i think we should keep this issue open. for tracking purposes

[2021-08-10 17:27] liggitt commented on #103722
Kubernetes does not make use of the NewServerConn() method affected by CVE-2020-29652.

[2021-08-10 17:27] #103722 closed

[2021-08-10 17:47] khenidak commented on #96909
@thockin I don't see how anybody can be using this today. Yes the api might be saved but it will break kube-proxy https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L766

I think we should validate it.

[2021-08-10 18:02] BenTheElder commented on #104265
From the initial issue filing:

https://en.wikipedia.org/wiki/Umask -- users may be running in an environment with a less permissive umask, but the test depends on a full permissive umask. https://stackoverflow.com/questions/10220531/how-to-set-system-wide-umask

[2021-08-10 18:04] Huang-Wei commented on #104266
It doesn't worth an extra API call.

A possible way is to handle it in [nominator](https://github.com/kubernetes/kubernetes/blob/95ff56c201ae7ccdcd1f01bc36646d1d6496483a/pkg/scheduler/internal/queue/scheduling_queue.go#L828), by introducing a `nominatedPodToVictims` map.

[2021-08-10 18:05] alculquicondor commented on #104266
But then it has to be best effort (in case kube-scheduler restarts). What would happen if the information is not present?

[2021-08-10 18:12] ksliu58 commented on #86064
EBS had deployed a fix for the latest generation Nitro instances, so that unwritten blocks on an encrypted EBS volume will no longer return random data. We are actively working to deploy the fix on Xen instances later this year.

[2021-08-10 18:29] SergeyKanzhelev commented on #103807
/cc @bobbypage @qiutongs @SergeyKanzhelev

[2021-08-10 18:32] neolit123 commented on #104265
ok, right.

https://man7.org/linux/man-pages/man2/open.2.html

[code]

a quick fix would be to get the current process umask and expect it to be applied to the file permissions:

[code]
       It is impossible to use umask() to fetch a process's umask
       without at the same time changing it.  A second call to umask()
       would then be needed to restore the umask.  The nonatomicity of

[2021-08-10 18:33] SergeyKanzhelev commented on #103255
I think this is by design. Kubelet doesn't keep track of the list of images that was previously used by one of containers. So there is no way to differenciate manually pulled and kubelet-pulled images.

Why do you need to pull extra images without scheduling pods? What is the scenarios?

[2021-08-10 18:38] BenTheElder commented on #104265
I think it would be reasonable to just set umask without getting it in the TestMain for the package.

IIRC go runs tests as a binary / process per package, so it would only affect that package.

We could make setting the umask only happen on unix without making the tests unix only as well, by using a conditionally compiled wrapper.

I can send a PR for this, I suspect the system umask is google's

[2021-08-10 18:40] Huang-Wei commented on #104266
Yes.

It would fall back to the current logic - once a nominated pod finds terminating and low-priority pods on a node, it doesn't proceed preemption attempt on that node.

[2021-08-10 18:41] rtheis opened #104276 "kubectl get -o jsonpath no longer continues parsing an item when a key is encountered that has no value"
#### What happened:

`kubectl get -o jsonpath` no longer continues parsing an item when a key is encountered that has no value.  This appears to be a behavior change introduced in Kubernetes version 1.22.

#### What you expected to happen:

`kubectl get -o jsonpath` will continue .

#### How to reproduce it (as minimally and precisely as possible):

Run the following commands against a cluster run

[2021-08-10 18:42] rtheis commented on #104276
**Debug data for Kubernetes version 1.21 cluster:**

[code]

[2021-08-10 18:43] rtheis commented on #104276
**Debug data for Kubernetes version 1.22 cluster:**

[code]

[2021-08-10 18:43] rtheis commented on #104276
/sig cli

[2021-08-10 18:45] SergeyKanzhelev commented on #96411
@jackfrancis , when working on https://github.com/kubernetes/kubernetes/issues/101035, can you please consider if adding these metrics will also be beneficial

[2021-08-10 19:15] neolit123 commented on #104265
the test would fail on Windows because `os.Stat()` -> `stat.Mode()` would always return `-rw-rw-rw-` there.
so we should os-branch the `stat.Mode()` checks.

[2021-08-10 20:12] jayunit100 opened #104277 "further reduce resource foot print of networkpolicy tests"
after https://github.com/kubernetes/kubernetes/pull/104086 im pretty sure we'll have no flakes on the networkpolicy tests.
that said, we can make them even more resource parsimnious by implementing the comments in https://github.com/kubernetes/kubernetes/pull/104086#issuecomment-896236775.

Specifically:

- parameterize wether we want 80 + 81 ports in all tests
- regroup the tests so that they can

[2021-08-10 20:12] jayunit100 commented on #104277
/sig network

[2021-08-10 20:12] jayunit100 commented on #104277
/assign @rajaskakodkar

[2021-08-10 20:13] jayunit100 commented on #104277
- instead of running containers on both ports 80 and 81 for all tests, let's just run containers on a single port for most tests, and multiple ports ONLY for the tests which specifically need that
- reorganize tests so that they're grouped by the ports/protocols that they use

[2021-08-10 20:14] fedebongio commented on #104155
/help

[2021-08-10 20:15] fedebongio commented on #104171
/assign @jpbetz
/triage accepted

[2021-08-10 20:16] fedebongio commented on #104195
/assign @kubernetes/api-reviewers
@RyanAoh are you planning to work in a PR for this?
/sig apps
/remove-sig api-machinery

[2021-08-10 20:17] fedebongio commented on #104207
/triage accepted

[2021-08-10 20:18] fedebongio commented on #104272
/assign @caesarxuchao
/triage accepted

[2021-08-10 20:22] caesarxuchao commented on #104272
Duplicate of #102641

[2021-08-10 20:37] bobbypage commented on #103807
Seems like there's two reasons for this issue:
1) Using systemd cgroup driver (instead of cgroupfs)
2) Non default containerd container runtime endpoint #89903

Reason 1 fix is being worked on in https://github.com/kubernetes/kubernetes/pull/104039

[2021-08-10 20:42] chrispytoes commented on #104272
I did see that issue earlier but I wasn't sure if it was relevant to my problem. That one refers to a problem when upgrading from `cert-manager.io/v1alpha2` to `cert-manager.io/v1`. My problem is with an upgrade from `certmanager.k8s.io` to `cert-manager.io`, so I wasn't sure.

[2021-08-10 20:52] arianitu commented on #7452
Just want to mention that nginx does not support HTTP/2 when proxying. Are you guys sure you want to use HTTP/2?

Specifically:

client (http2) -> nginx -> (http2 does not work here) kube-api-server

We are running into essentially the same issue with our API (picking a good bidirectional streaming protocol) and we're trying to pick a good option that works well with proxying servers like nginx. W

[2021-08-10 21:16] BenTheElder commented on #104265
I'm not sure I understand the windows part tbh, I think this particular failure can be addressed without affecting windows though.

After meetings I got around to confirming on my personal debian stable instance `umask` reports `0022` while on my "gLinux" (~debian testing) workstation it reports `0027`. AFAICT `0022` should be more or less the standard across distros but debian and ubuntu at least

[2021-08-10 21:17] aojea commented on #104273
you are running the e2e.test against a different version of kubernetes
[code]

e2e test must match the kubernetes version, there is no compatibility guarantee regarding the e2e.test binary

[2021-08-10 21:31] neolit123 commented on #104265
yeah, the test is already broken on non-Unix, so we could just set the umask to make the test happy.
the non-Unix fix seems like something that can be done separately.

[2021-08-10 22:03] liggitt commented on #102676
still an issue with runc 1.0.1 according to https://github.com/kubernetes/kubernetes/pull/103743#issuecomment-896339048

[2021-08-10 22:12] odinuge opened #104280 "Kubelet regularly freeze control groups causing issues further down"
#### What happened:

On cgroup v1 when using systemd cgroup driver, kubelet regularly freeze and thaw its control groups, and that is causing issues further down.

#### What you expected to happen:

No freeze

#### How to reproduce it (as minimally and precisely as possible):

Running the command below should never print anything, since freezer.state should always be `THAWED`.

[code]

However, wh

[2021-08-10 22:13] odinuge commented on #102676
The "new" issue/regression is a bit different. Created https://github.com/kubernetes/kubernetes/issues/104280 to make it a bit more clear.

[2021-08-10 22:14] odinuge commented on #104280
/sig node
/priority critical-urgent

[2021-08-10 22:24] liggitt commented on #104280
Thanks for opening this. IIUC, this issue is limited to:
* cgroup v1
* systemd cgroup driver
* runc 1.0.1+

[2021-08-10 22:25] liggitt commented on #102676
Thanks for opening #104280.

if I'm understanding correctly, this issue (#102676) describes a problem that is still present in release-1.21 (runc rc95+), but we can't pick up the runc version that fixes it (1.0.1) because of #104280?

[2021-08-10 22:34] odinuge commented on #102676
Yeah, that is right.

Imo. both this and #104280 are quite critical, and makes k8s unusable in a production environment, so it is a bit like choosing between two bad issues. The especially bad thing about #104280 is that user will not see any logs indicating that things are critically wrong, while this issue at least gives some context.

[2021-08-10 22:39] odinuge commented on #104280
Well, yeah, kinda. It is a bit of a matrix

As long as

- cgroup version = v1
- cgroup driver = systemd

the freezing will occur. The freezing is unnecessary, and creates a big overhead on machines with huge number of processes.

However, if runc (the binary used by the container runtime) is v1.0.0 or before, the permanent freeze of containers can occur. If using runc (the binary) v1.0.1, the perm

[2021-08-10 23:59] jsturtevant opened #104283 "Context Deadline exceeded when Metrics Server calls Windows Stats endpoint"
#### What happened:

Metric server reports "context Deadline exceeded when calling metrics endpoint.  This cause its with `kubectl top pods` and potentially HPA if it is being used.

[code]

Looking at kubelet logs this with `-v5` we can see the request is return in time but is over the 60sec timeout the metric server defaults.

[code]

When I am able to reproduce this I can see several components

[2021-08-11 00:01] jsturtevant opened #104285 "Windows kubelet using dockershim makes two stats calls in a single request"
#### What happened:

CRI stats provider calls listcontainerstats then calls listcontainerNetworkstats

https://github.com/kubernetes/kubernetes/blob/938d31e273328bc3982e74efd84be83ddd3698ea/pkg/kubelet/stats/cri_stats_provider.go#L148

https://github.com/kubernetes/kubernetes/blob/938d31e273328bc3982e74efd84be83ddd3698ea/pkg/kubelet/stats/cri_stats_provider.go#L168

These both open the containers

[2021-08-11 00:12] jsturtevant opened #104286 "containerd on windows doesn't return network stats"
#### What happened:

When curling the endpoint for stats we don't see network stats.

[code]

#### What you expected to happen:

Network stats to be included when calling the summary.  This works with dockershim for windows.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

This happens because Windows containerd uses hcsv2 to create contain

[2021-08-11 00:12] RyanAoh commented on #104195
@fedebongio Yes，I’ve found the cause of this problem. I will submit a PR recently.

[2021-08-11 00:21] BenTheElder commented on #104265
filed https://github.com/kubernetes/kubernetes/pull/104284 to set it to 0 in test main so it would be technically not umask sensitive anymore on linux and macOS at least.

[2021-08-11 02:04] sfxworks commented on #7452
I believe that would work out of the box with cloudflare

[2021-08-11 03:36] mengjiao-liu commented on #104276
/assign

[2021-08-11 04:13] triii10 opened #104288 "Pod sandbox creation fails when Namespace name + Pod name is more than 217 characters"
#### What happened:

DNS Subdomain name standard allows the maximum length of the Pod name to be 253 characters.
However, Pod sandbox creation fails when Namespace name + Pod name is greater than 217 characters.

[code]

#### What you expected to happen:

Pod creation should succeed if name length satisfies the DNS subdomain name standard.

#### How to reproduce it (as minimally and precisely as p

[2021-08-11 04:54] AmazingPangWei opened #104289 "cgroup refresh after daemon-reload"
#### What happened:
When I run kubelet on my CentOS7.7, I add some arguments as follows:
[code]
then, I check memory limit like this:
[code]
Everything is OK. But after that, I happen to execute `systemctl daemon-reload` and `systemctl restart my-service`。Next, I check memory limit again, but it has changed:
[code]

#### What you expected to happen:

So, is there a way to keep system.slice/ stable

[2021-08-11 05:35] BenTheElder commented on #104131
Arguably no SIG is responsible for this deprecated GCE code or maybe SIG cloud provider 😁

At the moment it is not formally owned by SIG testing.

cc @liggitt @spiffxp @cheftako

[2021-08-11 05:39] BenTheElder commented on #103936
SIG testing owns test frameworks, CI tools, and other things that facilitate testing, however the ask here appears to be for more tests of SIG storage code, which would be owned by SIG storage then.

FWIW this sounds like a good idea.

[2021-08-11 05:40] BenTheElder commented on #102549
/remove-sig testing
I think this remains squarely in the hands of SIG Architecture, I don't think SIG Testing can do anything further at this time.

[2021-08-11 05:41] aimuz commented on #98714
/remove-lifecycle stale

[2021-08-11 06:16] narendra-cloudthat commented on #95983
Use following command to patch and delete the ingress-2048

kubectl patch ingress <name-of-the-ingress> -n<your-namespace> -p '{"metadata":{"finalizers":[]}}' --type=merge

[2021-08-11 06:24] #101841 closed

[2021-08-11 06:25] zendevil opened #104291 "mounted directory has the wrong ownership"
I have the following kubernetes yaml file:

[code]

But the pod is giving the following logs:

[code]

Whereas clearly I have the fsGroup, runAsUser and runAsGroup specified. What might be causing this error?

[2021-08-11 07:06] pohly commented on #104250
/close

Already working as intended. :smile:

[2021-08-11 07:07] #104250 closed

[2021-08-11 07:13] pacoxu opened #104292 "ci-kubernetes-node-swap-fedora: timeout when querying /stats/summary should report resource usage through the stats api"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-swap-fedora

#### Which test(s) are failing:
 when querying /stats/summary should report resource usage through the stats API

#### Since when has it been failing:
always failed

#### Testgrid link:

#### Reason for failure:
[code]

#### Anything else we need to know:
#103842  fixed similar issue #100788 in 1.23

[2021-08-11 07:16] pacoxu commented on #104292
/sig node

Some failure of cadvisor in kubelet log: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-swap-fedora/1425288171079340032
[code]

[2021-08-11 07:20] EladDolev commented on #86064
encountering on t3a @ksliu58

[2021-08-11 07:27] gxglls commented on #103936
@BenTheElder ，Thank you for your answer

Should it remove the testing tag instead of the storage tag?

[2021-08-11 07:53] slandelle commented on #7452
@lavalamp Why is that?

[2021-08-11 08:08] pacoxu commented on #104289
/sig node
/area kubelet

[2021-08-11 08:23] saschagrunert commented on #104085
The issue should be solved with the next Kubernetes minor release (v1.23) for etcd, and with the next coredns release.

[2021-08-11 08:23] #104085 closed

[2021-08-11 08:37] pacoxu commented on #103110
That would be a problem with this PR merged.
1. **No `resolv.conf` file**: Pod created with empty  `resolv.conf` file.
2. the correct `resolv.conf` is added.
3. New pod will use the correct  `resolv.conf`. But the old Pods is using the empty  `resolv.conf`.

Currently behavior
1. **No `resolv.conf` file**: Pod  cannot be created
2. the correct `resolv.conf` is added.
3. All running pods will use t

[2021-08-11 09:07] zhougw001 opened #104295 "kubectl describe node have a error value. When looking at HugePage data, the data "hugepage-1Gi" and "hugepage-2Mi" are incorrect"
#### What happened:
I use "kubectl describe node node1" to check the value of HugePage, the data in Allocatable is incorrect. The hugepages-1Gi is not equal to the data in Allocated resources. I test some times, the data in Allocated resources is correct, the data in Capacity and Allocatable is error.
#### What you expected to happen:
The data "hugepages-1Gi" and "hugepages-2Mi" in Capacity/Alloca

[2021-08-11 09:45] JacobX33 opened #104297 "cluster/images/etcd uses old golang version and does not build"
Right now the golang version in the Makefile is set to GOLANG_VERSION?=1.12.17.

Build fails with "src/k8s.io/kubernetes/vendor/golang.org/x/net/http2/client_conn_pool.go:305:6: undefined: errors.Is", presumably because errors.Is didn't exist in golang 1.12.

[2021-08-11 09:49] serathius commented on #104297
I can take a look.

[2021-08-11 09:50] serathius commented on #104297
/triage accepted

[2021-08-11 10:08] pacoxu commented on #104291
/sig storage
I have deployed an official one using the image `postgres:9.5` successfully.

[code]
After changing the image to `prikshet/postgres`, the pod crashed. Not sure if it is the reason.

[2021-08-11 10:09] xmudrii opened #104298 ""Kubelet fails to start if the SeccompDefault feature gate is enabled via the KubeletConfiguration file""
#### What happened:

Since Kubernetes 1.22.0, it's required to enable the `DynamicKubeletConfig` feature gate on Kubelet to use the `--dynamic-config-dir` flag. Enabling the feature gate via the KubeletConfiguration file causes Kubelet to fail to start. I've used a configuration file such as the following one:

[code]

I've got the following error when trying to start Kubelet:

[code]

However, if

[2021-08-11 10:18] harche commented on #104280
@odinuge

I am seeing a lot of flakiness lately in systemd node e2e jobs using crio,
https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance

Almost all of them fail with container not being able to come up with following error,
`cannot start a container in the paused state`

That seems to be coming from https://github.com/opencontainers/runc/blob/0d49470392206f40eaab3b2190a57

[2021-08-11 10:23] xmudrii commented on #104298
I've created #104299 to try to solve this issue.

[2021-08-11 10:31] pacoxu commented on #104297
According to https://github.com/etcd-io/etcd/blob/main/CHANGELOG-3.5.md#go, we should use 1.16.
/kind bug
/area release-eng

[2021-08-11 10:32] pacoxu commented on #104295
/sig node

[2021-08-11 10:56] codearky commented on #104155
I was able to reproduce, but feels like these false containers status reports originate in kubelet (?)
Will keep investigating and update
/assign

[2021-08-11 11:31] serathius commented on #104297
I send a fix. It would be good to make sure this doesn't break in the future. Question to @kubernetes/sig-testing: How we can include building cloud/image as part of presubmits?

[2021-08-11 11:38] soltysh commented on #98180
@atiratree I'd probably leave it as is, 1.20 will be shortly out of support. If the problem doesn't happen in master we can close as is.

[2021-08-11 12:00] atiratree commented on #98180
ok, it would be good to analyse all the failures again in a new timeframe before closing this

[2021-08-11 12:10] AjithPanneerselvam commented on #83094
/assign

[2021-08-11 12:15] MadhavJivrajani commented on #83094
/unassign @hpandeycodeit
Un-assigning due to inactivity.
Please feel free to provide inputs/feedback/re-assign it to yourself at a later point if @AjithPanneerselvam can't work on this, thanks! :)

[2021-08-11 13:00] jayunit100 commented on #104273
might have been a while since we ran these iperf tests though.  im going to test them today to make sure they work, at all :)

[2021-08-11 13:01] perithompson commented on #104273
/sig network

[2021-08-11 13:03] jayunit100 commented on #104273
https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/ :) looks related to those api changes

[2021-08-11 13:07] jayunit100 commented on #104273
ah yup, we graduated the EndpointSlice stuff i guess here https://github.com/kubernetes/kubernetes/commit/3ef94fbe3e4d9e43bc3ace56b14885670d0c8a24#diff-c70b0afa39c9d7108ad9cd29eee4a49894807e5044eb82b348919109b6ae8b6e

So these tests are not backwards compatible with the older ones.

@perithompson 's issue is resolved now...  thanks peri for noting this !

[2021-08-11 13:16] jayunit100 commented on #104273
to close the circle is it possible to easily make this work with older api versions ? just curious.
then i guess we can close this either way

[2021-08-11 13:19] #104265 closed

[2021-08-11 13:21] Shamsherocode commented on #75803
When I run this command: kubeadm init
I got this error:
[control-plane] Creating static Pod manifest for "kube-scheduler"
[etcd] Creating static Pod manifest for local etcd in "/etc/kubernetes/manifests"
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s

[2021-08-11 13:44] sknot-rh commented on #43805
With minikube 1.22.0 I had to change `cgroupDriver` in `/var/lib/kubelet/config.yaml`

[2021-08-11 13:45] ClementGautier opened #104303 "Kube-proxy won't start, failed complete: too many open files"
#### What happened:
Hi 👋 , I restarted kube-proxy after a change in the configmap (to expose the metrics) and the kube-proxy now won't start, telling that have too many open files. Here is the stack trace:

[code]

Here is my docker config
[code]

There is some open files but nothing near the limits
[code]

Thank you for any help you can provide 🙏

#### What you expected to happen:
kube-proxy star

[2021-08-11 13:49] ClementGautier commented on #104303
/sig node

[2021-08-11 14:07] liggitt commented on #104280
cc @mrunalp @derekwaynecarr

[2021-08-11 14:16] aojea commented on #104273
nope , e2e.test only guarantees compatibility for the same kubernetes version, adding compatibility to the e2e tests will require a lot of effort for small ROI ...

[2021-08-11 14:22] danopia commented on #7452
I'm a user of Kubernetes so the below is my own viewpoint as an API consumer, not a Kubernetes contributor.

When the API server makes HTTP calls to a particular kubelet, the connection is generally made without an HTTP proxy in the way; the kubelets each have their own TLS certificates and the apiserver checks this encryption, so installing an HTTP proxy in between would introduce MITM-like secur

[2021-08-11 14:34] sebsoto commented on #104269
/assign

[2021-08-11 15:20] spiffxp commented on #97130
/milestone v1.22

[2021-08-11 15:29] msonnleitner commented on #79365
Also run into this. Had some old pods without requests which were in `Shutdown` state (because of preemptible nodes). Deleting these pods got the HPA working.

[2021-08-11 15:33] kavyabgowda commented on #52336
Is there any fix for this issue. Still facing the same issue with Kubernetes v1.20.4.
"Kubectl is evicting pods throwing  failed to release ephemeral-storage and node is under disk pressure."

[2021-08-11 15:37] jayunit100 opened #104305 "Coalesce exec calls in networkpolicy tests"
#### What happened:

we can still make things faster :)

#### What to do

Coalesce of `exec` calls in netpol tests would result in alot snappier probing.

Right now, we do:
- pod a -> pod a (1 sec)
- pod a -> pod b (1 sec)
- pod a -> pod c (1 sec)

It would be faster if we do

- pod a -> pod x/a, x/b, x/c, y/a, y/b, y/c , and pod a returns a `[fail, pass, pass, pass, fail,... ]` array.
- pod b ->

[2021-08-11 15:41] jayunit100 commented on #104305
/sig network

[2021-08-11 15:42] jayunit100 commented on #104305
/assign @rajaskakodkar

[2021-08-11 15:53] jayunit100 commented on #104305
cc @mattfenwick

[2021-08-11 16:06] fabiand commented on #104136
This got also discussed in #93488

[2021-08-11 16:09] alculquicondor commented on #94696
/remove-lifecycle stale

@gavinfish can you still gradually remove the remaining usages?

[2021-08-11 17:03] manugupt1 commented on #86843
Can I work on

[code]

Thanks!

[2021-08-11 17:13] mattcary commented on #97071
#104282 is out to fix the linux versions of this test. Is there anyone here who can authoritively say that mkfs -K is the right thing to do? If so, please comment on the PR :-)

[2021-08-11 17:18] johngmyers commented on #94698
/reopen

[2021-08-11 17:21] johngmyers commented on #94698
/remove-lifecycle rotten

I also ran into this. A service had changed the names of containers and volumes and that apply had gotten rolled back. Upon rolling forward again, the old containers/volumes were not removed.

[2021-08-11 17:29] johngmyers commented on #94698
Reproduction procedure:

[code]

Expected result: Deployment containing one container named `bar`.
Actual result: Deployment containing two containers: `foo` and `bar`.

[2021-08-11 17:35] johngmyers commented on #94698
@pacoxu your comment does not address the issue as described. This is about `kubectl.kubernetes.io/last-applied-configuration`, not `kubernetes.io/change-cause`.

[2021-08-11 17:41] mcandre opened #104306 "Image pull policy to automate rolling updates upon image tag changes"
#### What would you like to be added:

A new image pull policy option, which communicates to Kubernetes the desire to automatically perform a rolling restart of pods when the image tag receives an update. For example, the image pull policy could be called `FollowTagUpdates`.

This would work well for engineering teams that use `latest`, `stable`, `devel`, `<major-version>`, `<major>.<minor>`, or s

[2021-08-11 17:44] jackfrancis commented on #101035
See here for a prototype reference of a metric:

- https://github.com/kubernetes/kubernetes/pull/95429/files#diff-c3e7f724d1b0dcee40df80716ed57d90d2649710150fa92bf9822bdad35e0429

[2021-08-11 17:45] ehashman opened #104307 "[Failing test] [sig-node] Lock contention [Slow] [Disruptive] [NodeFeature:LockContention] Kubelet should stop when the test acquires the lock on lock file and restart once the lock is released"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-features-master

#### Which test(s) are failing:

`[sig-node] Lock contention [Slow] [Disruptive] [NodeFeature:LockContention]` tests

#### Since when has it been failing:

08/11 ~2:30PDT
First fail run https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-features/1425389087623221248

####

[2021-08-11 17:52] ehashman commented on #104292
/triage accepted

might be an issue with the fedora image?

[2021-08-11 17:58] liggitt commented on #100895
@thockin, go 1.17 is at rc2... is there an ETA for getting the k/k changes associated with this completed?

[2021-08-11 18:11] rtheis commented on #73698
/remove-lifecycle rotten

[2021-08-11 18:11] ipochi commented on #104307
@ehashman

Hi thanks for pointing out.

I was looking at this https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-lock-contention

I thought I saw green runs in the latest tests.
Please.correct me if I am wrong.

[2021-08-11 18:39] ehashman commented on #104307
They're fine on that tab but they're broken in https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-features-master

[2021-08-11 18:40] ehashman commented on #104307
I'm puzzled why they're even getting pulled into that job since they're marked `Disruptive`...

[2021-08-11 18:41] ehashman commented on #104307
@ipochi why does this feature need its own separate job for a single test?

[2021-08-11 18:51] odinuge commented on #104280
Yes @harche, that looks like a result of this issue. Thanks for the detailed information!

@saschagrunert:

This was issue in k8s (the freezing) was introduced in https://github.com/kubernetes/kubernetes/pull/103743. As disucssed here: https://github.com/kubernetes/kubernetes/issues/102676#issuecomment-880653430, freezing would cause issues, and the runc bump was merged before it was properly test

[2021-08-11 18:52] liggitt commented on #82531
/sig api-machinery

/assign @thockin
for go2make

/assign @sttts
for code generation

[2021-08-11 18:53] ipochi commented on #104307
Apologies, I'm not sure of the conventions for the tests.

I wasn't given info/notified regarding this. Where else could I have put a test for this ?

[2021-08-11 18:53] #104307 closed

[2021-08-11 19:13] ehashman commented on #104307
@ipochi since it's just the one test there are a number of jobs we could add this to. Let's discuss at the CI subproject tomorrow? I'll add this to the agenda.

[2021-08-11 19:16] ipochi commented on #104307
When does the CI subproject happen ?
If it fits the timezone, if like to atttend.

I'd very much like to re-revert the changes and out this test in proper place with green runs

[2021-08-11 19:20] ehashman commented on #104280
/triage accepted

[2021-08-11 19:30] odinuge commented on #104280
This issue will be fixed by https://github.com/opencontainers/runc/pull/3143 or any similar way to avoid the freeze.

[2021-08-11 19:39] thockin commented on #82531
If they force GO111MODULE to be ignored, our builds will slow down by a
TON.

https://groups.google.com/d/msgid/golang-nuts/CAO_Rewa6rMW79iBHj2Jz6HfJ-tCFLFhNAhYiwDh%3DNy6M35Y91Q%40mail.gmail.com

On Wed, Aug 11, 2021 at 11:52 AM Jordan Liggitt ***@***.***>
wrote:

[2021-08-11 19:45] mrunalp commented on #104280
cc: @kolyshkin

[2021-08-11 19:45] ehashman commented on #104307
Agreed! It's tomorrow at 8am Pacific Time: https://www.google.com/calendar/event?eid=MDV0Y3ZoNWd1OGtpNWtmc2lncTd2NW9tb21fMjAyMTA4MTJUMTUwMDAwWiBjYWxlbmRhckBrdWJlcm5ldGVzLmlv

[2021-08-11 19:45] liggitt commented on #82531
I'd take slow-but-correct as a starting point, but right now, the gengo/code-generation bits fail if you try to build with GO111MODULE=on (their internal logic about package paths, vendoring, etc, do not hold)

[2021-08-11 20:08] mritunjaysharma394 commented on #104071
Thanks a lot @liggitt! This leaves me with another question, do we need to modify the individual components in the [staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go) or modify stdlib impl (maybe a fork of it, which I think we very likely

[2021-08-11 20:21] BenTheElder commented on #82531
We now have confirmation that go 1.17 at least will not drop non module mode.

[2021-08-11 20:33] ialidzhikov commented on #80289
CCMs are no longer built and released as part of k/k repository. And as far as I see k8s.io/cloud-provider is defaulting to leases when the resource lock is not specified.

https://github.com/kubernetes/cloud-provider/blob/72d85b9959f0d3355859b2411e4922b8cd719097/config/v1alpha1/defaults.go#L49

https://github.com/kubernetes/controller-manager/blob/385c02a3964be0e326cc5803e410aa1028939249/config/v

[2021-08-11 20:48] BenTheElder commented on #104297
Somehow I thought maybe we'd switched to an ectd image built from the etcd project and needed to eventually drop this one? If not this is rather concerning.

We don't have a great presubmit to shove this in, I would suggest a run_if_changed presubmit to let reviewers of this image know if it builds w/o making it a required job on all PRs (since also changes should be scoped to a directory and infr

[2021-08-11 20:49] BenTheElder commented on #104297
For example the conformance image works this way

[2021-08-11 20:50] liggitt commented on #104071
I was suggesting profiling and proposing changes to the stdlib implementation at https://github.com/golang/go/blob/master/src/compress/gzip, then picking them up here once they are released in a new golang version.

[2021-08-11 21:04] thockin commented on #82531
gengo does make some dubious assumptions.

On Wed, Aug 11, 2021 at 12:46 PM Jordan Liggitt ***@***.***>
wrote:

[2021-08-11 21:06] thockin commented on #82531
From the linked thread: "Despite what the blog post says, Go 1.17 won't
drop support for GO111MODULE or GOPATH mode. It will be more or less the
same as GOPATH mode."

I think we can count on them not dumping it until our class of problems is
dealt with.

[2021-08-11 21:18] mritunjaysharma394 commented on #104071
Thank you so much

Thank you so much @liggitt, I have read the gzip code of stdlib and the drop-in replacement of gzip, and I agree with your suggestion, I will try to propose the corresponding changes for the new golang version to make it more optimal for us and as well as in general.

Till then, would love to know your opinion on this issue? Should we close it and create an issue in golang’s rep

[2021-08-11 22:18] frittentheke commented on #69676
/remove-lifecycle stale

[2021-08-11 22:31] neolit123 commented on #104303
/sig network

[2021-08-11 22:37] lukeschlather commented on #69676
So it's been 4 months and it sounds like the consensus of the reviewers is that the implementation for the PR is wrong and it needs to be reworked. I don't know enough about the internals to know how difficult the suggested alternate implementation is.

[2021-08-11 22:54] karunasagark commented on #95460
Also, I noticed that when I repeatedly update the same status over and over again, the resource version is bumped up each time. I'm using status subresource to update.

I don't think this is expected? Also, I'm not sure if this SSA related i.e. should this be a separate bug?

[2021-08-11 23:06] danielfoehrKn commented on #72881
What @fgiloux correctly pointed out here is that users THINK they reserved 5 CPU cores, but in fact here they only reserved 0.1 cores.
I think that's pretty important & I think a bunch of people have misconfigured their kube/system-reserved settings because of that.

On the same page, always assigning 1024 shares for peer groups of `kubepods`, does not allow to lower the minimally guaranteed CPU t

[2021-08-11 23:49] lavalamp commented on #7452
Thanks for the websocket feedback. I don't know if anyone is working on this right now, though. It may be a good idea to file a separate issue about that for visibility.

[2021-08-12 00:00] ehashman commented on #104295
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

At minimum, please paste the full output of `kubectl describe node` with the expected and actual behaviour.

Once more details are prov

[2021-08-12 00:03] ehashman commented on #104289
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Furthermore, you should include the full systemd service manifests. It's possible that the way you defined your restart command is inco

[2021-08-12 00:04] ehashman commented on #104303
/remove-sig node

[2021-08-12 00:04] ehashman commented on #104122
/triage accepted

[2021-08-12 00:05] #100089 closed

[2021-08-12 00:09] PaulFurtado commented on #104088
I'll also mention here that I worked around this in our infrastructure by shifting the IP allocation to an admission controller and widening the range the API server was told to use. So for example, in a test cluster, the IP range was a tiny `172.19.32.0/22` originally. So I told the API server that the range was now `172.16.0.0/12`, and then created an admission controller that allocates IPs out

[2021-08-12 01:16] Haleygo commented on #103110
@aojea @pacoxu thanks for explanation.
Apparently, making up a default resolv.conf is a reckless move.
Sounds like we should leave the pod creating process as it was, and it will be nice if there is a pre-check in installers or kubelet start-up.

[2021-08-12 01:20] schellj commented on #99986
Not sure if this is the best place, but we're being affected by this topic and I'd like to to add some context.

GKE users making use of preemptible nodes, which have a lifetime of ~24 hours, are being affected by the change in graceful node shutdown behavior introduced in 1.20 in that pods scheduled on preemptible nodes that have been shut down do not get deleted. As issue https://github.com/kube

[2021-08-12 01:38] #95131 closed

[2021-08-12 01:41] gjkim42 commented on #103110
`resolv.conf` file that a pod uses can be changed somehow. Because it is loaded when creating the pod.
This issue is not relevant to the race itself.

I think the main issue here is that whether we want kubelet to support the absence of `resolv.conf` or not.
**I am not claiming that it is necessary.**
However it seems that the case without `resolv.conf` is also a valid configuration.

[2021-08-12 02:20] pacoxu commented on #104306
In the testing environment, we set the image pull policy to be `Always` so that pod is running with the newer image once being recreated.

In my practice, we add a continuous delivery process for the registry. The CD process will update/restart the deployment(after update/restart, a new pod will trigger image pull as the imagePullPolicy is always) once the tag is changed/updated.

[2021-08-12 02:41] cbandy opened #104318 "Cannot sort multiple kinds with kubectl get"
#### What happened:

I am able to `kubectl get` two kinds at once by separating them with comma: `kubectl get cm,secret`

However, I get an error when I try to do the same with sorting: `--sort-by='{.metadata.name}'`

#### What you expected to happen:

I expected the same objects returned in sorted order.

#### How to reproduce it (as minimally and precisely as possible):

1. Create some objects i

[2021-08-12 02:43] cbandy commented on #104318
/sig cli

[2021-08-12 02:44] pacoxu commented on #104306
/sig api-machinery

[2021-08-12 02:47] pipijiev12 opened #104319 "run k8s source code on IDE (such as :goland)"
How to run k8s source code on IDE? What environment need to be configured?

[2021-08-12 03:32] zffocussss commented on #24957
it is a useful way for us to control process life inside the application container in the same pod.
May I know if there is a common way(maybe CRD, controller) to manage all the pods in a center container/pod?

[2021-08-12 06:30] woosley commented on #81775
although this is a closed issue, I would like to know if the case can happen for long lasting tcp connections? for example, grpc. in this case, the client keeps the connection open and always re-use the source port, then IPVS would not cleanup the connection neither? @lbernail

[2021-08-12 06:37] wojtek-t commented on #103788
Actually, I started thinking about this after our last discussion about it, and I now think it's actually we shouldn't introduce it.
The rationale behind it is that users can't control the width of the request, we want to have the ability to arbitrarily change that in the future to provide better overload protection etc. Which means that users would be setting a limit for something that is an impl