[2018-01-10 21:28] jordanwilson230 commented on #30656
@liggitt I'm sorry, I don't quite know how to explain in a more clear way.  Regarding your above comment, try this:
* ssh onto the node running your pod (my pod is running Kafka, with the kafka user also set in the pod.spec)
[code]
Having established that this is already possible from a GKE perspective (albeit in a seriously annoying way), what new security concerns are you thinking of?  This issu

[2018-01-10 21:29] #57860 closed

[2018-01-10 21:31] liggitt commented on #30656
The issue is exposing power via the kubernetes API that is not there today. It is normal for a user to be allowed to run workloads via the API and not be allowed ssh access to the node

[2018-01-10 21:40] liggitt opened #58106 "cross-build broken"
cadvisor packages are being imported unconditionally, and only build on linux

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-cross-build/
[code]

[2018-01-10 21:41] liggitt commented on #58106
fixed in https://github.com/kubernetes/kubernetes/pull/58095

[2018-01-10 21:59] jordanwilson230 commented on #30656
@liggitt Absolutely right. So, having narrowed down the scope of the security implications to _node_ access, we (@johnjjung and others) can finally start to use this discussion for actionable substance.  I've started a kubectl plugin for execing as root on the GKE platform. It will take a bit of time for me to get around to AWS and others.  @johnjjung are you still willing to pick up on your end?

[2018-01-10 22:02] jordanwilson230 commented on #30656
@liggitt Just saw the edit you made, that will be useful moving forward on this. Thanks.

[2018-01-10 22:08] liggitt commented on #30656
For related discussion, see the proposal to allow running arbitrary containers, including separately specified user IDs, in an existing pod - https://github.com/kubernetes/community/pull/1269

The more the security aspects of what you want to run depart from the original container, the more important it is for the entire spec to be able to be validated  by existing admission mechanisms as a cohere

[2018-01-10 22:13] lavalamp opened #58112 "Don't make it easy to do bad things with resource versions"
Right now, people looking at resource versions could easily make some assumptions about them which are true at the moment but might not be true in the future. If people bake these poor assumptions into enough clients, it could tie our hands in the future when we go to improve our storage stack.

I propose we perform a simple obfuscation step in the storage layer to expose any faulty assumptions no

[2018-01-10 22:15] spiffxp commented on #57559
Will wait to see what the results of the latest sync bring

[2018-01-10 22:18] johnjjung commented on #30656
@jordanwilson230 Been reviewing the codebase, I found the points of integrations for kubectl exec commands, which is a good starting point, I'm not sure where I'd have to make changes in the other kubernetes codebase where we can allow the docker -u flags. That being said, I think I can start somewhere there, and circle back to this issue with cluster admins / pod security policies, etc... One ste

[2018-01-10 22:21] garethr commented on #49325
/remove-lifecycle stale

[2018-01-10 22:32] mkotsollaris commented on #57203
Thanks, `NewQuantity` works too!

[2018-01-10 22:36] timothysc commented on #56694
/assign @timothysc @wojtek-t

[2018-01-10 22:40] yastij commented on #56694
So from what I've read event series are a set of ismorphic events happening not farther away from each other, how should we estimate this lapse of time ? cc @timothysc @wojtek-t @gmarek

[2018-01-10 22:53] mtaufen commented on #58106
Why didn't pull-kubernetes-cross catch this?

[2018-01-10 22:54] mtaufen commented on #58106
/cc @BenTheElder @krzyzacy

[2018-01-10 22:56] BenTheElder commented on #58106
https://github.com/kubernetes/kubernetes/pull/57613 didn't run cross, it runs on a regex for certain file changes.

[2018-01-10 22:59] yyefet commented on #54918
FYI, I ran into the same issue and the following worked:

#re-deploy weave network (in my case)
export kubever=$(kubectl version | base64 | tr -d '\n')
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$kubever"
..then..
systemctl restart docker && systemctl restart kubelet

[2018-01-10 23:05] jingxu97 commented on #43607
/remove-lifecycle stale

[2018-01-10 23:13] #58106 closed

[2018-01-10 23:34] ofanged1 commented on #20786
@Aaron3 [adding-imagepullsecrets-to-a-service-account](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#adding-imagepullsecrets-to-a-service-account)

[2018-01-10 23:34] RenaudWasTaken commented on #56649
Sorry to bring up this topic a bit late (feature freeze is the 22nd of Jan).
Here are the features we (NVIDIA) consider important or blocker before entering beta:
- [BLOCKER] Per container allocation
- Add labels during device plugin registration (e.g: gpu-family: tesla)
- Add annotations to a container for beta and add an option to CRI for GA to support OCI hooks
- Daemonset restart policy: OnFai

[2018-01-10 23:44] caesarxuchao commented on #57964
@lavalamp raised up a security issue regarding `objectLabelSelector`. A user can change labels to skip webhooks. `namespaceSelector` doesn't have this issue because a user usually doesn't have permission to change the namespace's labels.

[2018-01-11 00:03] jiayingz commented on #56649
Thanks a lot for your input, @RenaudWasTaken

For per container allocation, I think we should be able to implement it in 1.10. I think we should be able to support ER quota in 1.10 as well.

I think allowing device plugins to export device properties is an important feature, especially when we introduce ResourceClass, but I don't think it is a beta blocker.

For "Add annotations to a container for

[2018-01-11 00:03] Random-Liu commented on #58102
@mikebrow I prefer option 1. Given our discussion, we are still at the stage that we can make non-backward-compatible change to do things right. And I believe only `cri-containerd` implements the debug field today.

/cc @mrunalp @runcom
/cc @yujuhong

[2018-01-11 00:04] mtaufen commented on #47184
/remove-lifecycle stale

[2018-01-11 00:07] mtaufen commented on #50217
/remove-lifecycle stale

[2018-01-11 00:22] RenaudWasTaken commented on #56649
Sorry, I meant from the device plugin.
i.e: the device plugin's `AllocateResponse` returns container annotations for beta

Product wise this would allow us to have the nvidia-runtime be supported by CRI-O (which allows hooks through container annotations)  as well as docker + nvidia as the default runtime.
BTW That would allow a convergence towards a single device plugin in beta.

As for GA this w

[2018-01-11 00:28] mikebrow commented on #58102
Sure, if we are allowed to break backward compatibility let's go with option 1 and use the same variable name. As for array of KeyValue struct vs [][]string{}, that works for me,.. and that gives the ability to easily add additional field(s) later on.

[2018-01-11 00:39] dims commented on #22984
related to https://github.com/kubernetes/kubernetes/issues/54482

[2018-01-11 00:48] #49432 closed

[2018-01-11 01:03] spzala commented on #49458
@kamilgregorczyk thanks for the update, so can we close the issue now?

[2018-01-11 01:27] arno01 opened #58120 "sha256 checksum does not match for 1.9.1 kubernetes packages"
According to the [CHANGELOG-1.9](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#client-binaries) the ``kubernetes-client-linux-amd64.tar.gz`` should give ``fe8fe40148df404b33069931ea30937699758ed4611ef6baddb4c21b7b19db5e`` sha256 hashsum, but it gives ``cb6589e38b6808c967c828e7ec0288ecdb463ce76f79969ca34a12b852bf811f``.

I checked few more packages, it appears that all of th

[2018-01-11 01:35] arno01 commented on #58120
/sig release

[2018-01-11 01:39] jiayingz commented on #56944
From offline discussions with a few folks, the general feedback is that although both approaches can be made to work, consistency and simplicity are also important.
This puts in favor of the kubelet probing model. I think we can make the call to use that model in the general kubelet plugin pkg and start implementing that now.

@chakri-nelluri please feel free to assign this issue to yourself if yo

[2018-01-11 01:51] arno01 commented on #58120
Ok, I guess I have figured this out. The changelog 1.9 has the links to private repository of @mehdy .

[code]

VS

[code]

[2018-01-11 02:00] MrHohn opened #58121 "Ingress e2e testcases may interfere each other"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area test

**What happened**:
In e2e ingress test, the `IngressTestJig` struct (shared by a Describe block) only stores one ingress object during test, but different testcases may overwrite it while creating test ingress. Many implemented util functions depend on the saved ingress object, hence unexpected result might happen whi

[2018-01-11 02:03] arno01 commented on #58120
Checked the binary difference just for 1 binary ``amd64``:

[code]

Looks like at least for this binary we are safe :-) I believe for the rest too. I am stopping here.

[2018-01-11 02:06] liggitt commented on #58120
/assign @mbohlool

[2018-01-11 02:21] MrHohn commented on #58121
Actually, `IngressTestJig` is being recreated in each `It` block. I had the wrong signal.

[2018-01-11 02:28] mkumatag commented on #49838
No activities since 5months
/close

[2018-01-11 02:28] #49838 closed

[2018-01-11 02:31] msau42 commented on #49906
/remove-lifecycle stale
/lifecycle frozen

[2018-01-11 02:32] Random-Liu commented on #58102
Actually another option is that, if people are fine with the current one field approach, we can keep current API, which avoids breaking change.

Here is an example of `crictl inspect` output today:

<p>
  <details>
    <summary>crictl inspect output exapmle</summary><p>

    {
      "status": {
        "id": "6dce0bc1e1ec1a0c55db8d43097b1091a12e9160c5c2a06f3b2175f89d7c0154",
        "metadata": {

[2018-01-11 02:36] FengyunPan commented on #57765
cc @dims

[2018-01-11 02:38] dada941 commented on #45419
In our case it is related to https://github.com/moby/moby/issues/33820
Stopping docker container timeouts, and then the node starts flapping between ready/notReady with the PLEG message.

[2018-01-11 02:59] feiskyer commented on #58102
What about just keeping current API and outputs the info alphabetically on the keys? We may add some helpers in crictl to facilitate users finding specific information, e.g. by keys or jsonpath?

[2018-01-11 03:40] nikhita commented on #49489
/remove-lifecycle stale

[2018-01-11 03:46] nikhita commented on #50048
/remove-lifecycle stale

[2018-01-11 04:09] fejta-bot opened #58125 "pr:pull-kubernetes-e2e-kubeadm-gce flaked 11 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-kubeadm-gce
 Flakes in the past week: **11**
 Consistency: **79.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 7 |

#### Previously closed issues for this job flaking:
#52952

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-01-11 04:09] fejta-bot opened #58126 "Failure cluster [23ffc3...] failed 213 builds, 14 jobs, and 1 tests over 1 days"
### Failure cluster [23ffc39ce13091ce9a28](https://go.k8s.io/triage#23ffc39ce13091ce9a28)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    14 jobs failed,    213 builds failed.
Failure stats cover 1 day time range '10 Jan 2018 02:51 UTC' to '11 Jan 2018 02:51 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 14 |

##### Top

[2018-01-11 04:09] fejta-bot opened #58127 "Failure cluster [615023...] failed 172 builds, 44 jobs, and 1 tests over 1 days"
### Failure cluster [615023c3e7cfbdaf07df](https://go.k8s.io/triage#615023c3e7cfbdaf07df)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    44 jobs failed,    172 builds failed.
Failure stats cover 1 day time range '10 Jan 2018 02:51 UTC' to '11 Jan 2018 02:51 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Deferred TearDown | 4

[2018-01-11 04:09] fejta-bot opened #58128 "Failure cluster [6b80b4...] failed 111 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [6b80b40b4ad8820bfcd4](https://go.k8s.io/triage#6b80b40b4ad8820bfcd4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    111 builds failed.
Failure stats cover 1 day time range '10 Jan 2018 02:51 UTC' to '11 Jan 2018 02:51 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 8 |

##### Top fa

[2018-01-11 04:09] fejta-bot opened #58129 "Failure cluster [52d977...] failed 88 builds, 76 jobs, and 1 tests over 1 days"
### Failure cluster [52d97722fe168ec6a414](https://go.k8s.io/triage#52d97722fe168ec6a414)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    76 jobs failed,    88 builds failed.
Failure stats cover 1 day time range '10 Jan 2018 02:51 UTC' to '11 Jan 2018 02:51 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| diffResources | 76 |

[2018-01-11 04:09] fejta-bot opened #58130 "Failure cluster [5b511b...] failed 87 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [5b511b8b44c164c79dbb](https://go.k8s.io/triage#5b511b8b44c164c79dbb)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    87 builds failed.
Failure stats cover 1 day time range '10 Jan 2018 02:51 UTC' to '11 Jan 2018 02:51 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 12 |

[2018-01-11 04:14] nikhita commented on #52741
/remove-lifecycle stale

[2018-01-11 04:15] vikaschoudhary16 commented on #56944
yeah, lets target to get it merged in 1.10. @chakri-nelluri please let me know in case you need any help.

[2018-01-11 04:22] antime commented on #53333
i also meet this question and i try many methords,but it can not solutied

[2018-01-11 04:22] gyliu513 opened #58131 "app/v1 show as extensions/v1beta1 when `kubectl get xxx -oyaml`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubectl version
[code]

Deployment file with `apps/v1` as apiVersion.
[code]

Create the deployment
[code]

After deployment finished, check the deployment yaml output, it was still using
[code]

/sig api-machinery
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anyt

[2018-01-11 04:25] gyliu513 commented on #58131
@liggitt @kow3ns

[2018-01-11 04:26] MrHohn commented on #58121
In fact, when run in parallel with ginkgo, it seems that each It block will have a fresh context (different from go routine), so they are not interfering each other.

[2018-01-11 04:26] #58121 closed

[2018-01-11 04:38] whereisaaron commented on #30656
Hi @johnjjung. Once upon a time (<1.6), Kubernetes `kubelets` did use Docker directly and could just pass options like this. Now there is a standard interface to support multiple runtimes, CRI. It is the capabilties of CRI that determine what instructions can be passed to the runtimes, like Docker.

Kubernetes tells the various container runtimes (`dockershim`+Docker+`containerd`, `cri-containerd`

[2018-01-11 04:44] liggitt commented on #58131
`kubectl get deployment foo` is ambiguous, since the server has deployments in multiple api groups. When a resource exists in multiple api groups, kubectl uses the first group listed in discovery docs published by the server which contains the resource. For backwards compatibility, that is the extensions api group.

If you want to ensure you get a deployment in the apps api group, fully qualify th

[2018-01-11 04:44] #58131 closed

[2018-01-11 04:55] jordanwilson230 commented on #30656
@whereisaaron your post is a great help. Thanks for writing that all out in detail.

[2018-01-11 05:05] whereisaaron commented on #29298
You can [read the code](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2908) @2rs2ts  to understand the process of finding a subnet.

1. The AWS support first [finds all the subnets you have associated with your cluster](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2908) via the tag `kubernetes.io/cluster

[2018-01-11 05:39] goby commented on #49549
/lifecycle frozen

[2018-01-11 05:53] karataliu commented on #44085
/remove-lifecycle stale

cc @andyzhangx  Let's check whether `volume.SetVolumeOwnership` works for azure file.

[2018-01-11 05:57] vasili439 commented on #54482
I think you need to debug what kubeadm performs when you're using it with `--node-name=$(curl http://169.254.169.254/latest/meta-data/local-hostname)` flag. In my case I've migrated to kubespray as cluster management solution and this is what I found in kubespray aws integration doc:

so if you want to integrate your k8s cluster with aws you need to leave your hostname as is and tag your aws resou

[2018-01-11 06:00] andyzhangx commented on #44085
/sig azure

[2018-01-11 06:13] #49646 closed

[2018-01-11 06:14] #57769 closed

[2018-01-11 06:19] CalvinHartwell opened #58135 "Make hard limits for cluster configurable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**: Hard limits for cluster are defined within kubernetes itself ([https://kubernetes.io/docs/admin/cluster-large/](https://kubernetes.io/docs/admin/cluster-large/)). I would like to see these hard-limits become configurable through a configuration file even if the cluster becomes unsupported.

**What you expected to happe

[2018-01-11 06:24] ganeshmedhekar opened #58136 "kubernetes setup with master and worker node in separate VPC"
Hi,

We would like to deploy the kubernetes master and worker node in separate AWS-VPC . Is there is any way to do this. We have tried with KOPS but it doesn't support.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.4
- Cloud provider or hardware configuration: AWS
- OS (e.g. from /etc/os-release): CoreOS or CentOS
- Kernel (e.g. `uname -a`):
- Install tools: Right now used KO

[2018-01-11 06:29] resouer commented on #50419
@yastij Any progress may I ask? You can always ping me to review you know that :)

[2018-01-11 06:31] rahmonov commented on #58076
@liggitt any ideas?

[2018-01-11 06:40] nikhita commented on #50342
/remove-lifecycle stale

[2018-01-11 06:42] rahmonov commented on #58076
This is happening in all three clusters that I have in GKE.

[2018-01-11 06:44] piosz commented on #55887
It's not about Heapster but Metrics Server. I agree with Wojtek - most likely it's a configuration issue.

[2018-01-11 06:53] cofyc commented on #56990
@MengZn See this issue https://github.com/kubernetes/kubernetes/issues/38923, and my comment https://github.com/kubernetes/kubernetes/issues/38923#issuecomment-315255075. It's better to use external [rbd-provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd).

[2018-01-11 06:57] nikhita commented on #29698
For the record, generic scale client has been implemented: https://github.com/kubernetes/kubernetes/pull/53743.

[2018-01-11 07:00] jcxian opened #58138 "touch: cannot touch '_output/bin/deepcopy-gen': No such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
git clone git@github.com:kubernetes/kubernetes.git
git checkout v1.8.1
make all

+++ [0111 14:56:45] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
+++ [0111 14:56:46] Generating bindata:
    test/e2e/generated/gobindata_util.go
/opt/go/

[2018-01-11 07:07] jacobpm opened #58139 "Kubernetes Baremetal / VM setup - externalTrafficPolicy : false not working"
/kind bug

We are running a CoreOS and Kubernetes environment on Bare-metal as well as VM.  nginx is running as a NodePort service.  There is no other load balancer involved (external or otherwise).  Kubernetes performs source NAT of incoming requests as described [here](https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-typenodeport).

In our case, nginx and othe

[2018-01-11 07:15] jacobpm commented on #58139
@kubernetes/sig-network-bugs
@kubernetes/sig-onprem-bugs

Adding a couple of mailers

[2018-01-11 07:15] jacobpm commented on #58139
@kubernetes/sig-network-bugs
@kubernetes/sig-onprem-bugs

Adding a couple of mailers

[2018-01-11 07:53] sttts commented on #57964
Users normally cannot create cluster-scoped objects either. But techincally it's a valid point.

On the other hand, my main use-case are CRDs. They are not critical to the cluster health (maybe self-hosted clusters are different with etcd operator), i.e. you normally cannot shoot yourself into the foot with a webhook on them. For CRDs we do not need a selector at all.

In other words: IMO we shoul

[2018-01-11 07:57] sttts commented on #49536
With https://github.com/kubernetes/client-go#kubernetes-tags and the bot running again, I will close this issue. Reopen if you think otherwise.

[2018-01-11 07:57] #49536 closed

[2018-01-11 08:01] Venkat-Sudharsanam commented on #58055
I tried with the solution in #43805 & #53333

cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false"
Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs"

Still getting the same error:

Below the output you have asked for:

-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit kubelet

[2018-01-11 08:22] shenlanse commented on #51313
I am wrong. When relist and watch, DeltaFifo will exec replace func and it will create delete event for ‘delete event lost circumstance’. So from client view, delete event will never be lost.

[2018-01-11 08:22] #51313 closed

[2018-01-11 08:33] arunm8489 commented on #40969
i swithoff the swp memory.But i still faces the same problem

[2018-01-11 08:45] brancz commented on #57686
In Prometheus, a time-series goes stale as soon as it disappears from a target or the target itself disappears. So yes, with a custom collector this is perfectly possible, as you can generate metrics on a metrics request from Prometheus :slightly_smiling_face: . Aside from that, the Prometheus client lib for go also allows removing metrics at runtime, only caveat is you need the previously registe

[2018-01-11 08:49] FrederikNS commented on #48180
This would also be very useful when running a service mesh like Linkerd within the cluster, as you have to set the `http_proxy` environment for everything that should use it.

[2018-01-11 08:49] rahmonov commented on #58076
My apologies. Looks like it is my ISP. Turned on VPN and it worked.

[2018-01-11 08:49] #58076 closed

[2018-01-11 08:49] yastij commented on #50077
@insoz - Is this still happening ?

[2018-01-11 08:50] yastij commented on #49564
This will be waiting for event v2

/remove-lifecycle stale

[2018-01-11 08:59] FrederikNS commented on #45746
/remove-lifecycle stale

[2018-01-11 09:21] krlng opened #58145 "kubelet fails when cloudprovider openstack is used and should manage loadbalancer security group"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-openstack

**What happened**:
kubelet fails when Kubernetes master gets started using cloud-provider openstack und kubeadm init command. `journalctl -u kubelet.service` says:

[code]

**What you expected to happen**:

kubelet starts and manages the loadbalancer and its security group.

**How to reproduce it (as minimally and

[2018-01-11 09:23] Stono opened #58146 "PodDisruptionBudgets to control multiple StatefulSet rollouts"
Hey,
I don't know if this is something that would be of use to other people, but I'd quite like to use PDB's to control the maximum number of unavailable pods across multiple statefulsets.

Take this example, where I have pushed an upgrade to my base elasticsearch image.  My Hot, Warm and Master nodes all use this image, and to minimise stress on the cluster I would ideally like to only down one o

[2018-01-11 09:24] jsafrane opened #58147 "Allow update of PV/PVC.Spec.StorageClassName when moving from beta annotation"
We should provide an upgrade path from PV/PVC with storage class specified in beta annotation to storage class specified in attribute. Right now, any update of `PV.Spec.StorageClassName` and `PVC.Spec.StorageClassName` is blocked by validation once a PV/PVC is created. The validation should allow update of `StorageClassName` if its value is the same as beta annotation.

/kind bug
/sig storage
@kub

[2018-01-11 09:33] ricklagerweij commented on #58067
@liggitt thanks for your feedback, every action gives the following output;
Error from server: etcdserver: mvcc: database space exceeded

Apparently there is a 2gb quota by default which is exceeded by 2/3 of our etcd nodes (replication I assume) which causes these other issue's.

[2018-01-11 09:37] arunm8489 commented on #40969
#yum install -y kubelet kubeadm kubectl docker
Jst try installing docker 1.12...iam not getting solution with docker 1.17ce.( i think its not supported with kubelet)
Make swap off by #swapoff -a
Now reset kubeadm by #kubeadm reset
Now try #kudeadm init
after that check #systemctl status kubelet
it will be working

[2018-01-11 09:37] krlng commented on #58145
@kubernetes/sig-openstack
/sig cloud-provider

[2018-01-11 09:41] arunm8489 commented on #54542
#yum install -y kubelet kubeadm kubectl docker
Jst try installing docker 1.12...iam not getting solution with docker 1.17ce.( i think its not supported with kubelet)
Make swap off by #swapoff -a
Now reset kubeadm by #kubeadm reset
Now try #kudeadm init
after that check #systemctl status kubelet
it will be working

[2018-01-11 09:41] banchee commented on #33664
Bump

[2018-01-11 09:42] arunm8489 commented on #37063
#yum install -y kubelet kubeadm kubectl docker
Jst try installing docker 1.12...iam not getting solution with docker 1.17ce.( i think its not supported with kubelet)
Make swap off by #swapoff -a
Now reset kubeadm by #kubeadm reset
Now try #kudeadm init
after that check #systemctl status kubelet
for me it worked

[2018-01-11 09:42] #53837 closed

[2018-01-11 09:42] #53469 closed

[2018-01-11 09:43] #54178 closed

[2018-01-11 09:43] jsravn commented on #50915
/remove-lifecycle stale

[2018-01-11 09:43] krlng commented on #58145
@k8s-sig-openstack-bugs

[2018-01-11 09:44] #52925 closed

[2018-01-11 09:44] #53838 closed

[2018-01-11 09:44] #53468 closed

[2018-01-11 09:45] #54589 closed

[2018-01-11 09:45] #54662 closed

[2018-01-11 09:46] #54664 closed

[2018-01-11 09:46] #54590 closed

[2018-01-11 10:26] vdboor commented on #13488
A small change to #issuecomment-240393845: make sure the `date` is evaluated within the shell:

[code]

[2018-01-11 10:32] squeed commented on #56794
@cmluciano This definitely doesn't belong in either the CNI plugin or the CNI kubernetes plugin. It should be a part of the kubelet ready logic, where everything else is.

[2018-01-11 10:58] tlvenn commented on #24745
I am facing the same issue as @obeleh Has anyone figured out why google LB is responding with a 501 ?

[2018-01-11 11:38] Stono commented on #58146
/sig feature-requests

[2018-01-11 11:42] 4c74356b41 commented on #56076
the explantion doesnt make sense. [Standalone VM with no Instance Level Public IP address](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#standalone-vm-with-no-instance-level-public-ip-address) has internet in Azure by default (unless you block it with NSG). And NSG allow internet (outbound) by default. Also, agent nodes ARE attached to the load balancer an

[2018-01-11 11:53] shaharmor commented on #24745
Could it be related to this? https://issuetracker.google.com/issues/70274716

[2018-01-11 11:58] yastij commented on #50419
@resouer - this should be closed as predicates ordering was merged

[2018-01-11 12:01] ravisantoshgudimetla commented on #57579
Thanks @misterikkit, I was too hasty in my earlier comment. Can you please break this into sub-issues or remove sig-scheduling label. The only problem I have with single issue with all the labels is if I query for issues with sig-scheduling label, this issue shows up even though there is no action item remaining on the scheduling side.

[2018-01-11 12:05] mlmhl commented on #57985
Thanks @jsafrane , I will try to improve the proposals as best as I can.

[2018-01-11 12:12] mlmhl commented on #57544
Thanks @mtanino , @rootfs . I will try my best and post any progress in issue #54108 .

[2018-01-11 12:13] mlmhl commented on #54108
I'm working on this.

[2018-01-11 12:19] ravisantoshgudimetla commented on #49492
@andor44 - Can you please change the labels as this issue is not related to sig-scheduling anymore? I think adding appropriate labels might help in getting the attention of sig's

[2018-01-11 12:24] #50004 closed

[2018-01-11 12:24] #57497 closed

[2018-01-11 12:27] elemental-lf opened #58151 "Output from Kubelet's configz endpoint is missing volumePluginDir field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Rook uses the Kubelet's configz endpoint to discover the volume plugin directory. This discovery no longer works as the volumePluginDir field has been removed from the kubeletconfig structure by https://github.com/kubernetes/kubernetes/pull/55562 which is included in 1.9.0 and later.

**What you expected to happen**:

Ro

[2018-01-11 12:36] MatMaul commented on #49867
@dims I didn't send it since it looks that we agreed it was not going to be integrated no ? The patch was very simple, I didn't even put an expiration to the cache at the time:
https://github.com/MatMaul/kubernetes/commit/a659d027a5a165c6c478e446f0d07c0da3438d7f

@rochaporto if we get a ok for that I can do it or help, let me know.

[2018-01-11 12:45] dims commented on #22984
for the record, what we should be doing from @liggitt : https://github.com/kubernetes/kubernetes/pull/58114#discussion_r160840393

[2018-01-11 12:51] zetaab commented on #53059
cinder detach is fixed here https://github.com/kubernetes/kubernetes/pull/56846 However, there is new ticket https://github.com/kubernetes/kubernetes/issues/58079 about pod failover times. This pod with pv failover times is same problem in all cloud providers not just openstack.

[2018-01-11 12:53] zetaab commented on #56455
/close

[2018-01-11 12:54] zetaab commented on #56455
@dims can you close this

[2018-01-11 12:59] tlvenn commented on #24745
I am not sure @shaharmor, I tested that our server is indeed replying with a 101 when there is no google http LB in front of it.

[2018-01-11 13:00] dims commented on #56455
/close

thanks @zetaab

[2018-01-11 13:00] #56455 closed

[2018-01-11 13:03] ricklagerweij commented on #58067
@liggitt currently we can't get seem to get the kube-apiserver running again after a kubelet restart, I've extended the quota backend size of etcd. 2 etcd nodes give an error on startup right now "another etcd process is using "/var/lib/etcd/member/sna p/db" and holds the file lock." These db files are 2.1gb, the other db file is 32mb on the first node, a significant difference in sizes.
Trying to

[2018-01-11 13:04] liggitt commented on #58151
/assign @mtaufen

[2018-01-11 13:06] porridge opened #58152 "Move perfdash to a new home"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
@kubernetes/sig-scalability-misc

First suggested in https://github.com/kubernetes/contrib/issues/762
Reminded by @foxish in  https://github.com/kubernetes/contrib/pull/2825#issuecomment-356925454

TODO:
- [ ] find a new home
- [ ] move code and related issues (e.g. #483)
- [ ] ...
- [ ] profit!

[2018-01-11 13:07] porridge commented on #58152
I have no strong feelings regarding the new place. test-infra? dedicated repo?
@kubernetes/sig-testing-feature-requests @krzyzacy @BenTheElder @lavalamp

[2018-01-11 13:08] porridge commented on #58152
cc @shyamjvs

[2018-01-11 13:11] porridge commented on #29597
http://perf-dash.k8s.io/ can display memory across runs since https://github.com/kubernetes/contrib/pull/2790 and https://github.com/kubernetes/contrib/pull/2796
/close

[2018-01-11 13:11] #29597 closed

[2018-01-11 13:12] porridge commented on #29597
/remove-lifecycle stale

[2018-01-11 13:12] ricklagerweij commented on #58067
"Unable to register node"

[2018-01-11 13:13] elemental-lf commented on #58151
I'm unsure which sig labels to add. Adding both node (because of kubelet) and storage (because of volume plugin relation).

@kubernetes/sig-node-bugs
@kubernetes/sig-storage-bugs

[2018-01-11 13:19] shyamjvs opened #58154 "System-wide performance benchmarks & setting up CI-testing for them"
This has been under discussion for a while now and it's time to finally do it. Opening this issue as an umbrella for benchmarks across the system.
FMU there seem to be 2 kinds of those in the codebase atm:
- benchmark unit tests (e.g `BenchmarkQuantityMarshalJSON`, `BenchmarkWatchHTTP`, `BenchmarkRandomStringGeneration`): Like normal unit tests, these are runnable using a single test binary - and

[2018-01-11 13:19] shyamjvs commented on #58154
/cc @kubernetes/sig-scheduling-misc @misterikkit

[2018-01-11 13:22] ankon commented on #26923
This issue is still very much relevant for us: having access to the logs of a dead container is needed, but most of the container itself is just using disk space that should be reclaimed and better used for something more productive.

[2018-01-11 13:24] porridge commented on #58154
+1
As part of this we should make sure the results are exported and graphed
(probably on perfdash).

[2018-01-11 13:24] venkat-443 commented on #57042
Facing the same issue on 1.9.1, CRD AGE never changed from <invalid>.

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T11:52:23Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"", Minor:"", GitVersion:"v1.9.1+coreos.0", GitCommi

[2018-01-11 13:47] aveshagarwal commented on #57471
@bsalamat sure @ravisantoshgudimetla  and I can surely work on some of the items.

[2018-01-11 13:48] aveshagarwal commented on #57471
@bsalamat I will go through your design doc soon,

[2018-01-11 13:54] ravisantoshgudimetla commented on #43992
/sig node

[2018-01-11 13:58] ravisantoshgudimetla commented on #57471
@bsalamat - I will also go through the docs. I believe I can get started on adding metrics preemptions in meanwhile.

[2018-01-11 14:27] mikebrow commented on #58102
The issue with alphabetic is alphabetic may be the worst sequence to use. Gives no control over to the runtimes other than adding alphabetic prefixes to the keys, or doing what we had to do in cri-containerd and creating one mega entry in the map.

[2018-01-11 14:32] huzhengchuan commented on #50751
close it, If some one thinks its needed, other open it.

[2018-01-11 14:32] #50751 closed

[2018-01-11 14:36] #51855 closed

[2018-01-11 14:38] mikebrow commented on #58102
Ok updated the options let's vote :-)  The only option I don't like is do nothing. My favorite option is option 2 because it's both non breaking and allows runtimes to optionally set the order they want for their keys when in verbose mode.

[2018-01-11 14:38] dims commented on #58145
Looks like @FengyunPan added auto-probing for for `node-security-group`(s), please see [1] and [2]. Apologies, the deprecation should have been handled better.

[1] https://github.com/kubernetes/kubernetes/issues/50726
[2] https://github.com/kubernetes/kubernetes/pull/50836

[2018-01-11 14:39] huzhengchuan commented on #58154
/cc

[2018-01-11 14:46] harryge00 commented on #57865
@antoniaklja I think when set the replicas to 0, all pending or crashed pods should be included in the `condemned` array and then removed.

[2018-01-11 15:04] #41141 closed

[2018-01-11 15:10] #50261 closed

[2018-01-11 15:15] bgrant0607 commented on #51647
wiki is gone

[2018-01-11 15:15] #51647 closed

[2018-01-11 15:40] felixPG commented on #52084
remove-lifecycle stale

[2018-01-11 15:40] tangzhankun commented on #51999
/remove-lifecycle stale

[2018-01-11 15:43] tangzhankun commented on #51999
Please don't close this issue since the Intel-Docker on the FPGA accelerator is making headway. The plugin is too.

[2018-01-11 15:44] dims commented on #51999
/lifecycle frozen

[2018-01-11 15:46] vladimirvivien commented on #57161
@mlmhl not fixed yet.  PR welcome :)

[2018-01-11 15:47] krlng commented on #58145
@dims If I understand you correctly, this cloud-config would be enough:

[code]

If I try this, no Loadbalancer gets created at all and the service which requests type LoadBalancer says:
`Warning  CreatingLoadBalancerFailed  2m (x6 over 4m)  service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service kube-system/bald-leopard-nginx-ingress-controller: e

[2018-01-11 15:47] #51547 closed

[2018-01-11 15:49] vladimirvivien commented on #51555
This was implemented in PR #54013

[2018-01-11 15:49] #51555 closed

[2018-01-11 15:49] #51897 closed

[2018-01-11 15:50] #57636 closed

[2018-01-11 15:54] linyouchong opened #58163 "CSI Volume plugin: should check driver name in API validation"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

What happened:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go
CSI volume plugin check driver when mounting the PV

What you expected to happen:
should check driver name in API validation

[2018-01-11 15:55] linyouchong commented on #58163
/sig storage

[2018-01-11 16:09] dims commented on #58145
/sig openstack

[2018-01-11 16:10] piosz commented on #57660
@MaciekPytel @mwielgus @kubernetes/sig-autoscaling-feature-requests

[2018-01-11 16:11] tlbdk commented on #50845
All issues seems to have been fixed now, so closing

[2018-01-11 16:11] #50845 closed

[2018-01-11 16:19] cmluciano commented on #51326
/close

[2018-01-11 16:19] #51326 closed

[2018-01-11 16:20] cmluciano commented on #50881
/close

[2018-01-11 16:20] #50881 closed

[2018-01-11 16:22] cmluciano commented on #50868
fixed in #6319

[2018-01-11 16:22] #50868 closed

[2018-01-11 16:24] cmluciano commented on #15990
cc @bowei @nicksardo Do we have other issues that supplant this one?

[2018-01-11 16:24] discordianfish commented on #50622
/remove-lifecycle stale

[2018-01-11 16:24] cmluciano commented on #44078
/close

[2018-01-11 16:24] #44078 closed

[2018-01-11 16:25] cmluciano commented on #27718
/close

[2018-01-11 16:25] #27718 closed

[2018-01-11 16:25] cmluciano commented on #9914
/close

[2018-01-11 16:25] #9914 closed

[2018-01-11 16:26] cmluciano commented on #31916
/close

[2018-01-11 16:26] #31916 closed

[2018-01-11 16:27] Prabhareg2 opened #58164 "Kubernetes"
se word fu ("福", sometimes transliterated foo), which can mean happiness or blessing.[2]

The first known use of the terms in print in a programming context appears in a 1965 edition of MIT's Tech Engineering News.[4] Foobar may have come about as a result of the pre-existing "Foo" being conjoined with "bar" an addition borrowed from the military's FUBAR. The use of foo in a programming context is

[2018-01-11 16:33] bkochendorfer commented on #54482
@2rs2ts and I do not use `kubeadm` or `kubespray` to setup our test cluster. This appears to be an issue with `kubelet` itself.

[2018-01-11 16:40] caseydavenport commented on #56794
Yeah, I don't think this belongs in the CNI plugin itself. It raises a question though of how do we get a full picture of network readiness, since many CNI plugins also rely on one or more daemons running on the node.

Perhaps that's up the each plugin to figure out, or perhaps the kubelet needs some sort of readiness discovery mechanism to check that the requisite bits of code are available / run

[2018-01-11 16:48] java8dev opened #58165 "Kubernetes not able to pullImages and hence my deployment and tests failed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

<img width="1380" alt="screenshot 2018-01-11 16 47 42" src="https://user-images.githubusercontent.com/7526405/34836239-33edd7dc-f6ef-11e7-9e5e-9daf4b005a6c.png">

**What happened**: when i tried to deploy my docker image into minikube, these fail.

**What you expected to happen**: minikube dashboard shows errors of imagepullFailed.if evrything works f

[2018-01-11 16:51] java8dev commented on #58165
@kubernetes/sig-test-failures

[2018-01-11 17:05] chakri-nelluri commented on #50677
@heartlock Did you try with the latest NFS example. Do you still see an issue?

[2018-01-11 17:06] chakri-nelluri commented on #51407
/assign chakri-nelluri

[2018-01-11 17:08] chakri-nelluri commented on #51407
/close

[2018-01-11 17:08] #51407 closed

[2018-01-11 17:10] chakri-nelluri commented on #56944
/assign chakri-nelluri

[2018-01-11 17:11] chakri-nelluri commented on #56944
@vikaschoudhary16 @jiayingz Assigned it to myself and will target it for 1.10.

[2018-01-11 17:22] caesarxuchao commented on #57964
Sounds reasonable. I'll create a PR.

[2018-01-11 17:31] dims commented on #53905
looks like the following was the problem. please see https://github.com/kubernetes/kubernetes/issues/3595 on how to change rlimit
[code]

/close

[2018-01-11 17:31] #53905 closed

[2018-01-11 17:41] timoreimann commented on #52381
As mentioned, the feature shipped in 1.8.

Please close this issue. Thanks.

[2018-01-11 17:42] jesseshieh opened #58166 "GCE is reserving 10.128/9. Instructions for how to migrate Kubernetes instances using 10.244/14 CLUSTER_IP_RANGE."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I got an email saying that Google Compute Engine is reserving the 10.128/9 ip subnet. I am running Kubernetes 1.6.0 on GCE which by default uses 10.244/14 for the CLUSTER_IP_RANGE. I'm not sure how to change my CLUSTER_IP_RANGE without downtime to get out of the 10.128/9 subnet.

I noticed that current versions of Kube

[2018-01-11 17:47] jesseshieh commented on #58166
/sig network
/sig gcp

[2018-01-11 18:14] misterikkit commented on #57579
I have modified this issue to be scheduler-specific, and I will file new ones for the remaining work.

[2018-01-11 18:15] resouer commented on #50419
close in favor of #57168

[2018-01-11 18:15] #50419 closed

[2018-01-11 18:15] misterikkit commented on #57579
/remove-sig auth
/remove-sig node

[2018-01-11 18:15] kow3ns commented on #58032
I don't think we actually have this issue anywhere else ATM. DS, STS, Job, ChronJob, Node, PV, and PVC should no be susceptible at least.

[2018-01-11 18:17] #57579 closed

[2018-01-11 18:19] misterikkit opened #58167 "Move admission out of plugin directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

There is not much value in keeping a few components in plugin/pkg when everything else lives in and pkg/

This follows the work to move scheduler out of the plugin directory from #57579 (The end goal being to delete the plugin directory.)

**What you expected to happen**:

Components that would be moved:
plugin/pkg/a

[2018-01-11 18:27] misterikkit opened #58168 "Move auth out of plugin directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

There is not much value in keeping a few components in plugin/pkg when everything else lives in and pkg/

This follows the work to move scheduler out of the plugin directory from #57579 (The end goal being to delete the plugin directory.)

**What you expected to happen**:

Components that would be moved:
plugin/pkg/a

[2018-01-11 18:39] krzyzacy commented on #58152
cc @fejta @spiffxp

[2018-01-11 18:41] ncdc commented on #58068
Have you looked at the lease endpoint reconciler? https://kubernetes.io/docs/admin/high-availability/#endpoint-reconciler

[2018-01-11 18:41] misterikkit commented on #58167
/remove-kind feature

[2018-01-11 18:45] yujuhong commented on #58167
I think this belongs to sig-scheduling.

[2018-01-11 18:46] ncdc commented on #58065
exec and port-forward do support using a proxy using the http/https `CONNECT` mechanism. I'm thinking that maybe SOCKS is the issue? cc @liggitt

[2018-01-11 18:49] adrianchifor commented on #52434
/remove-lifecycle stale

[2018-01-11 18:55] misterikkit commented on #58167
@derekwaynecarr @deads2k You are listed as the owners of the code in question. Can you verify that this issue is in the correct SIG?

[2018-01-11 18:55] rocketraman commented on #52847
/remove-lifecycle stale

[2018-01-11 18:56] jiayingz commented on #52189
/remove-lifecycle stale

The first two parts are already tested by the added test/e2e/scheduling/nvidia-gpus.go, test/e2e_node/gpu_device_plugin.go, and the stub device plugin based test/e2e_node/device_plugin.go that @ScorpioCPH is working on. Once the stub device plugin based test/e2e_node/device_plugin.go is in, I am hoping we can extend it to test the device failure part.

[2018-01-11 19:02] sjenning commented on #51798
/remove-lifecycle stale

[2018-01-11 19:03] johnjjung commented on #30656
@whereisaaron thanks for the details. If i'm understanding you, it seems like the debug proposal (if it goes through) might be the best place to put this at the end of the day. Not sure if it got approved to be worked on, but it basically allows you to attach a container of your choice to that pod to debug that pod (which sounds awesome). So does that mean we should wait or go ahead with a patch u

[2018-01-11 19:11] discordianfish commented on #52279
Oh damnit, this is now the 6th ticket that I need to un-stale.
/remove-lifecycle stale

[2018-01-11 19:12] deads2k commented on #58167
I would not move these until the kube-apiserver moves into staging.  Even then, these will move with the kube-apiserver, but the plugin mentality is still a good one.  No back references, code that lives in one process that owned by other sigs, etc.

I'm against moving the admission plugins to something specific like the scheduler.  The kube-apiserver isn't going to depend on the scheduler.  The s

[2018-01-11 19:20] discordianfish opened #58170 "Improve autoclosing of properly labeled issues"
Hi,

@fejta-bot closes all(?) issues after 90d of inactivity. I understand the reasons but find that quite aggresive.

If an issue was labeled properly and there isn't any other indicator that it might got stale (as in nobody cares anymore about it), it shouldn't get auto-closed. There is no reason to believe it got stale if in fact just nobody had time to look into it. It also sets an incentive t

[2018-01-11 19:34] misterikkit commented on #58167
Thanks for the quick reply. I am still new to this community, so I apologize for any missteps. I agree that these admission controllers are very plugin-like.

I wasn't aware of the plan to move kube-apiserver into a separate repo. I see that plugin/pkg/admission would have to move along with it. What is the plan for pkg/kubeapiserver? Is there an issue I can follow?

[2018-01-11 19:43] racyber commented on #43515
@gnufied @jingxmlu97

I found the issue, and it was the fact that i used c5 instances with nvme, this is why the volume never been attached as k8s looking for /dev/xvdXX and with nvme that path is different. I did notice that in 1.9 k8s should support nvme natively but it seems that it's still not stable.

thanks

[2018-01-11 19:45] gnufied commented on #43515
@racyber oh weird. You should open  a bug about NVMe support then. I was thinking it would just work.

[2018-01-11 19:58] whereisaaron commented on #30656
@johnjjung I believe the debug container have been approved to be implemented as an 'alpha' feature in Kubernetes 1.9 (turned off unless you explicitly enable the feature). I don't think they made it into 1.9 though. So probably not until 1.10 or later.

As I understand it, debug containers run as a process inside the target Pod 'being debugged', so they are in the same kernel security context as

[2018-01-11 20:05] deads2k commented on #58168
This is suggesting that we move code that plugs into the kube-apiserver, but isn't directly owned by the kube-apiserver (apimachinery) out of plugins.  Why wouldn't we continue to consider this a plugin?

[2018-01-11 20:23] 2rs2ts commented on #53347
/remove-lifecycle stale

[2018-01-11 20:32] luisyonaldo commented on #58065
I also tunneled socks proxy to a http proxy but now kubectl doesn't work.

[code]
as you can see is using `CONNECT` mechanism but still doesn't work.

[2018-01-11 20:33] deads2k commented on #58167
@sttts did you create one?

@misterikkit there are multiple issues that need resolution before we can completely such a move.  I just don't want to see a loss of the structure we already have and more "bad" package dependencies appearing.  sig-scheduling may own the code, but the admission plugin itself belongs in the kube-apiserver (as a plugin) for the time being.

[2018-01-11 20:38] kinghrothgar commented on #52315
I believe we maybe running into this.  When we spin up a federated ingress-gce, one of the 4 regions randomly ends up with in an extra unused backend:

![2018-01-11_15-19-45](https://user-images.githubusercontent.com/1952767/34846123-28c2787c-f6e5-11e7-9570-1e39bb198b43.png)

One region also always randomly gets set to CPU Utilization instead of Rate:

![2018-01-11_15-19-32](https://user-images.gi

[2018-01-11 20:49] sttts commented on #58167
Don't think there is any. We should start one, with the big milestones of such a move.

I want to second that I don't like the idea of moving the plugins back into pkg. It would be a move into the wrong direction. Instead of separate discoupled packages we have to kill pkg, or at least move towards that.

[2018-01-11 21:12] jennybuckley commented on #57983
/cc @yliaog

[2018-01-11 21:14] jennybuckley commented on #58017
/cc @jennybuckley

[2018-01-11 21:15] jennybuckley commented on #58050
cc @lavalamp

[2018-01-11 21:15] jennybuckley commented on #58050
cc @yliaog

[2018-01-11 21:17] jingxu97 commented on #43515
cc @davidz627 Is there an issue related to nvme support?
@racyber please let us know any issues you still have with 1.9. Thanks!

[2018-01-11 21:17] jennybuckley commented on #58065
/remove-sig api-machinery

[2018-01-11 21:18] jennybuckley commented on #58067
/cc @jpbetz

[2018-01-11 21:20] jennybuckley commented on #58083
/remove-sig api-machinery

[2018-01-11 21:20] lavalamp commented on #58067
Something is wrong with your etcd cluster, this is almost certainly not an apiserver problem. There's an alarm you might need to disable.

[2018-01-11 21:30] mbohlool commented on #58120
Look like an issue with anago. I will investigate and also will send a PR to fix the changelog.

[2018-01-11 21:31] ricklagerweij commented on #58067
There was indeed an alarm, solved this issue by compacting the latest revision, defrag and turn the alarm off.

[2018-01-11 21:31] #58067 closed

[2018-01-11 21:31] mtaufen commented on #58151
I wouldn't rely on configz (at least as it stands today) for a production use case. It only exists for debugging the Kubelet. It's mentioned in that tutorial for no other reason than that it's a convenient shortcut, the tutorial even calls it out as a hack:

I will look into why the field is missing, however.

[2018-01-11 21:32] lavalamp commented on #58050
This is a (if not "the") fundamental scaling limitation of the system right now, it needs to be fixed before we can grow beyond 5k nodes.

Endpoint controller could be modified to batch up modifications (works if it's the same endpoints changing over and over again).

Alternatively we need to batch delivery to kube-proxies.

You could try running more parallel instances of kube-apiserver to distri

[2018-01-11 21:34] mtaufen commented on #58151
Regarding the field: if you think it should be in the KubeletConfiguration struct, feel free to send a PR w/ justification to add it back in.

[2018-01-11 21:44] jordanwilson230 commented on #30656
For those running on GKE, I've made an ad-hoc kubectl plugin for exec'ing with the user [-u] flag: https://github.com/BitBrew/homebrew-kubectl-plugins

Feel free to modify/copy that plugin or all of them. Just run the install script or follow the readme to install via homebrew.

Just an ad-hoc solution until @johnjjung and others are able to take more on.

[2018-01-11 21:46] nicksardo commented on #57860
Cherrypicked and will land in 1.8.7 and 1.9.2.

[2018-01-11 21:50] dcbw commented on #44409
/lifecycle frozen

[2018-01-11 21:52] msau42 commented on #43515
This is nvme on AWS, not related to the work @davidz627 is doing on gce.

[2018-01-11 21:54] mbohlool commented on #58120
I sent a fix. I have a fair idea what went wrong with anago. It had something to do with staging with mock flag and releasing with nomock flag that should not be allowed. File differences should be minimal if any (probably it is only timestamps as I did a mock release before actual release and those files are from the successful mock release).

[2018-01-11 21:57] kokhang commented on #58151
Thanks @mtaufen. I think it would still beneficial for flexvolume consumers to get this field added so that it can be dynamically configured.

[2018-01-11 22:09] RenaudWasTaken commented on #56649
Not saying it's a beta blocker but it would be useful to have labels on homogeneous nodes about what devices are present. Especially:
- GPU memory
- GPU compute capability
- ...

It's also not a big change, it just requires consensus

[2018-01-11 22:12] spiffxp commented on #37297
/close
I'm happy to close given the above.  Please /reopen if you're still able to repro this.

[2018-01-11 22:12] #37297 closed

[2018-01-11 22:14] verb commented on #53188
/remove-lifecycle stale

[2018-01-11 22:17] bowei commented on #58084
/cc @bowei

[2018-01-11 22:26] RenaudWasTaken commented on #36601
Hello !

I'd like to contribute another use case. Running a job on each nodes to detect GPUs and label the node accordingly.

Currently for mixed clusters (GPUs and non GPUs nodes), which are pretty common, the NVIDIA GPU [device plugin](https://kubernetes.io/docs/concepts/cluster-administration/device-plugins/) which is a daemonset will be deployed on all nodes.

When it detects that a node does

[2018-01-11 22:26] huang-jy opened #58176 "Specify if a pvc should be pod-level or deployment level?"
When dynamically creating a pvc and then referencing it from within a deployment, this claim becomes global across the deployment. So if I increase the deployment to more than one pod, everything from pod no. 2 onwards will fail as it the other pods will also attempt to claim the volume, but will be unable to do.

I want to be able to dynamically create a pv *per pod*, so that it provisions and te

[2018-01-11 22:37] rothgar commented on #36601
Having a cron target of `@reboot` would be really handy for this. But need a way to do it on a per node basis. Would be much cleaner than long running daemons but may have complications with nodes where GPUs are hot pluggable.

If we do at `@reboot` can we also make sure we get `@teatime`?

[2018-01-11 22:54] feiskyer commented on #53769
/lifecycle frozen

[2018-01-11 23:01] #58120 closed

[2018-01-11 23:16] Cryptophobia commented on #50622
/lifecycle frozen

[2018-01-11 23:17] Cryptophobia commented on #50622
This would be a really nice feature. I wish I knew more Go so I could help out.

[2018-01-12 00:03] resouer opened #58179 "[1.9 bug] v1.List error: unable to recognize apps/v1, Kind=DaemonSet: no matches for apps/, Kind=DaemonSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:

[code]

**What you expected to happen**:

Should be able to use `- apiVersion: apps/v1` in` v1.List` object.

**How to reproduce it (as minimally and precisely as possible)**:

Create a v1.List in 1.9 cluster with DaemonSet

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2018-01-12 00:16] bsalamat commented on #51331
This looks to me like another manifestation of scheduler cache having stale data: #56057, #56261. In that case, #56622 has fixed the problem.

[2018-01-12 00:17] bsalamat commented on #51331
/close
Please reopen if you encounter the issue again.

[2018-01-12 00:17] #51331 closed

[2018-01-12 00:26] m1093782566 commented on #46664
There is a survey related to this issue, check https://goo.gl/forms/xyfDoX62mPh0NCDG2

[2018-01-12 00:37] resouer commented on #58179
/kind bug

[2018-01-12 00:37] resouer commented on #58179
/priority important-soon

[2018-01-12 00:41] drf opened #58180 "Pods can't resolve DNS on nodes with IPv6-only nameservers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Installing a new cluster with kubeadm on a set of baremetal machines with the following content in /etc/resolv.conf

    nameserver 2001:4860:4860::8888

Results in a working cluster, but pods aren't capable of resolving DNS such as google.it (internal resolution works fine). Apparently, pods can't understand IPv6-only n

[2018-01-12 00:44] drf commented on #58180
/sig network

[2018-01-12 00:51] liggitt commented on #43409
/lifecycle frozen

[2018-01-12 00:53] dashpole commented on #53902
/remove-lifecycle stale

[2018-01-12 00:57] jbeda commented on #58039
/sig api-machinery

What is the impact on users?  From what I see, this is a non-mutating admission controller and so there shouldn't be a problem with the order.

But I'm not expert here so someone from api-machinery should verify.

[2018-01-12 01:15] negz opened #58181 "Panic in Cloud CIDR Allocator"
/kind bug

**What happened**:
I'm running Kubernetes on GCE (not GKE). I deploy the API server, scheduler, and controller manager to CoreOS 'master' nodes. Note that the etcd cluster runs elsewhere. I'm using GCE's Alias IP Ranges, i.e. I'm running the controller manager with:
[code]

Upon a rolling update of the aforementioned 'master' nodes the controller manager entered crash loop backoff. It s

[2018-01-12 01:16] negz commented on #58181
/sig gcp

[2018-01-12 01:30] mlmhl commented on #57161
Hi @vladimirvivien
I read this code again and find that currently only five volume plugins implement `ExpandableVolumePlugin` interface: `aws ebs`, `cinder`, `gce pd`, `glusterfs` and `rbd`, bu we passed all volume plugins to expand controller, include CSI plugin. If we want to remove CSI plugin here, maybe we need to remove all other plugins not implement `ExpandableVolumePlugin` too?

However, w

[2018-01-12 01:34] hzxuzhonghu commented on #58039
commented on https://github.com/kubernetes/kubernetes/pull/58040#issuecomment-357116973

[2018-01-12 01:35] negz commented on #58181
https://github.com/kubernetes/kubernetes/blob/v1.9.1/pkg/controller/node/ipam/cloud_cidr_allocator.go#L205
https://github.com/kubernetes/kubernetes/blob/95f381b/pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go#L205

I'm guessing the issue is that `node` is still nil here when we try to access `node.Name`, and that we should probably log `nodeName` instead.

[2018-01-12 01:38] vladimirvivien opened #58183 "CSI - fsType is not being passed to driver"
/kind bug

**What happened**:
Unable to specify fsType from a CSI PV.  The fsType is currently hardcoded to ext4.

**What you expected to happen**:
Being able to specify fsType when creating a CSI PV
[code]

[2018-01-12 01:51] hzxuzhonghu commented on #52345
/cc @Random-Liu @yujuhong

[2018-01-12 01:55] zapman449 commented on #51785
On my v1.7.10, I can replicate this behavior with `kubectl apply -f file.yaml` with the following:

[code]

If I do `kubectl edit ds registry-proxy` and delete the `last-applied-configuration` annotation, the pods will spawn.

[code]

[2018-01-12 01:56] zapman449 commented on #51785
I have a different spin on the above which will deploy successfully, then will deploy at zero, then will deploy successfully.......

[2018-01-12 01:58] zapman449 commented on #51785
More info:

[code]

[2018-01-12 02:26] bsalamat commented on #42001
We can close this.

[2018-01-12 02:29] FengyunPan commented on #58145
@krlng

From that, 'acc99e4cff6e111e7a9f4fa163e0778b' is your service name and 'b8fad265-202f-4d44-a538-26f2c4b9525d' is your subnet id, can you ensure 'b8fad265-202f-4d44-a538-26f2c4b9525d' exist?

Is it "38264923-c60c-48cb-a146-1c707b2b5b8d"?

 I suspect that failed to autoprobe subnet. Can you give me more logs from kube controller manager？

[2018-01-12 02:59] tlvenn commented on #24745
I found the issue in my case which was how the ingress spec rules were specified. The issue is with the path, is must end with `/*` and not simply with `/`.

So for example, the following does not work:

[code]

While this will work:

[code]

Hope it helps

[2018-01-12 03:08] ravisantoshgudimetla commented on #57579
Thanks @misterikkit

[2018-01-12 03:08] ravisantoshgudimetla commented on #57726
/remove-sig scheduling
/sig node

[2018-01-12 03:13] fandaye opened #58188 "kubeadm TLS One-year term"
sig/tls

    cat /etc/kubernetes/kubelet.conf |grep "client-certificate-data:" | awk -F ': ' '{print $2}' |base64 -d | openssl x509 -noout -text | grep Not
                Not Before: Jan 12 03:02:07 2018 GMT
                Not After : Jan 12 03:02:11 2019 GMT

The default certificate is only one year limit. How can I generate a new certificate if the one-year limit expires? Manual generation?

[2018-01-12 03:24] ravisantoshgudimetla commented on #56306
@craigbox Can you please let us know, if the issue still persists with pod anti-affinity with requiredDuringSchedulingIgnoredDuringExecution flag? If not, can you close this issue?

[2018-01-12 03:26] ravisantoshgudimetla commented on #55877
/remove-sig scheduling
/sig api-machinery
/sig storage

[2018-01-12 03:30] ravisantoshgudimetla commented on #55630
/sig autoscaling
/remove-sig scheduling

[2018-01-12 03:32] linyouchong commented on #58092
hi, @lpabon I can help fix that.

[2018-01-12 04:09] mtaufen opened #58190 "Hyperkube starts the Kubelet differently, and diverges from bootstrap logic as a result"
@liggitt noticed that hyperkube is not starting Kubelet in a way that triggers pre-Run bootstrap logic.

See hyperkube: https://github.com/kubernetes/kubernetes/blob/master/cmd/hyperkube/kubelet.go
vs. vanilla Kubelet: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/kubelet.go

The current approach of calling directly into Run leaves hyperkube to diverge from pre-Run additions to

[2018-01-12 05:15] adnavare commented on #57362
Hi @steveperry-53 : I can look into this issue if you are fine?

[2018-01-12 05:20] #56627 closed

[2018-01-12 05:38] chenk008 commented on #52345
/remove-lifecycle stale

[2018-01-12 05:41] chenk008 commented on #52345
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#pod-restart-reasons

When all containers are terminated, the pod didn't restart, and the Init Container didn't rerun.

[2018-01-12 05:45] chrislovecnm commented on #30338
/lifecycle frozen

[2018-01-12 05:55] jesseshieh commented on #58166
I just tried updating the kube-env on my minions setting CLUSTER_IP_RANGE to 10.64.0.0/14 and it caused weird sporadic pod failures so I rolled it back.

Next, I'll try updating the kube-env on my masters setting CLUSTER_IP_RANGE to 10.64.0.0/14 and see what happens.

[2018-01-12 06:02] ravisantoshgudimetla commented on #58154
/cc

[2018-01-12 06:11] shoneSolomon opened #58191 "Can I not change my pod ip address and update yaml command and args ?"
I want ip addr to do distributed tensorflow.
The pod rc type always restart new containner and new ip addr,
The pod job type has  a stable ip but cant update his yaml command and args.
Can I not change my pod ip address and update yaml command and args ?

**Environment**:
- Kubernetes version (use `kubectl version`):1.8
- Cloud provider or hardware configuration:normal
- OS (e.g. from /etc/os-rele

[2018-01-12 06:18] #58164 closed

[2018-01-12 06:39] jpiper commented on #4672
Just hit this on a cluster I set up a year ago with certs that expired for the service account token validation.

Really frustrating to fix as you have to have to delete all the service account tokens from secrets to get them to refresh, and you then have to restart any pods that need any of those secrets.

[2018-01-12 06:50] wackxu commented on #57471
/cc

[2018-01-12 07:01] porridge commented on #58154
Kindly please use the "Subscribe" button on the right in the "Notifications" section rather than spam the bug with useless comments.

[2018-01-12 07:02] ravisantoshgudimetla commented on #57471
@bsalamat Can you explain "Get rid of the rescheduler" means?

[2018-01-12 07:04] Davidrjx opened #58194 "how one container stop the other one in same pod"
there was a pod consisting of two containers: one would be terminated while the other would be running.
currently, i intend to stop running container by some trigger mechanism from one to be terminated, namely before its termination.

[2018-01-12 07:05] GoodJoey opened #58195 "how to access dashboard through external ip?"
my cluster is deployed by kubeadm.
i've made the rolebinding, and can access the dashboard through kubectl proxy.
but i can't access it with external ip.
i've tried open a nodePort but, still can't make it work.
get error:
"status": "Failure",
  "message": "services \"https:kubernetes-dashboard:\" is forbidden: User \"system:anonymous\" cannot get services/proxy in the namespace \"kube-system\"",

[2018-01-12 07:10] hzxuzhonghu opened #58196 "In some admission plugins Validate is called twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
in some admission plugins, ValidationInterface.Validate will be called twice, like `ServiceAccount`.
https://github.com/kubernetes/kubernetes/blob/a19f6d147c3775efd2d91c69be95e9a02934223f/plugin/pkg/admission/serviceaccount/admission.go#L180

Secondly called https://github.com/kubernetes/kubernetes/blob/a19f6d147c3775efd

[2018-01-12 07:10] hzxuzhonghu commented on #58196
/sig auth
/kind bug

[2018-01-12 07:13] hzxuzhonghu commented on #58196
open a pr #58197 to fix it.

[2018-01-12 07:17] csunny commented on #55100
@ianchakeres   At the beginning,  my docker memory is 2.0G,  and then i increased to 3.5G, but the problem was also  here, finalily, I increased to 5.0, and i was successful.    so happy,  thank you very much.

[2018-01-12 07:18] Davidrjx commented on #58194
/sig cluster-lifecycle

[2018-01-12 07:21] wojtek-t commented on #58050
I agree it is "the".
I don't think we have any plans to grow beyond in 5k at least now.

It already does batching. We may just want to be more conservative with it.

Yes this will work (if we want to workaround it somehow now).

[2018-01-12 07:50] johscheuer commented on #58068
Yes, we also set the `--apiserver-count` to 3. Actually the strange thing is that all requests stop working since we would expect that ~2/3 of the requests should still work.

[2018-01-12 07:55] beatlejuse commented on #57922
this is not entirely true. key "externalTrafficPolicy=Local" needs to be a solution to the problem of obtaining the real IP of the client, but this is not happening. If we do masq, we will not lose the source IP, because now he doesn't work (version 1.8.1)

the problem with the inaccessibility of the actual source IP (https://github.com/kubernetes/kubernetes/issues/58139) in version 1.8.1 is still

[2018-01-12 07:58] Dieken opened #58198 "[FEATURE REQUEST] need a PodNodeAffinity admission control just like PodNodeSelector"
According to https://kubernetes.io/docs/concepts/configuration/assign-pod-node/, nodeAffinity is more powerful than nodeSelector, and will replace nodeSelector,  so could you provide another admission control plugin "PodNodeAffinity"?

I need PodNodeSelector or better PodNodeAffinity to dedicate some worker nodes for a namespace, so I can divide a physical huge K8S cluster into some small virtual

[2018-01-12 08:00] wangKuma commented on #58191
You want to assign a static ip to a pod?

[2018-01-12 08:00] #57701 closed

[2018-01-12 08:02] m1093782566 commented on #58139
Y

If set `"externalTrafficPolicy": "Local"`, then access service via nodeport will only forward to the backend in the same node and there is no masq. In other words, source IP will be preserved.

[2018-01-12 08:03] m1093782566 commented on #58139
I can't catch any bugs?

[2018-01-12 08:07] m1093782566 commented on #57922
@beatlejuse

Without masq, nodeport for localhost when set "externalTrafficPolicy=Local" won't work. If service is not reachable, say "how to preserve source IP" won't make sense.

Listen, masq is used for someone who want to visit node via localhost when set "externalTrafficPolicy=Local" and don't require preserving source IP. If source IP is really important to you, you can just ignore the `127.

[2018-01-12 08:14] Venkat-Sudharsanam opened #58199 "HA KubernetesnCluster"
Hi,

Is there any documentation to install Kubernetes HA cluster other than the below:
https://kubernetes.io/docs/admin/high-availability

Im trying to setup from scratch but very difficult in understand it.

[2018-01-12 08:25] krlng commented on #58145
@FengyunPan Actually, b8fad265-202f-4d44-a538-26f2c4b9525d is a network, not a subnet.
[code]

The subnet has the ID 9208f050-c1d5-4cc1-8b98-a5f691769b25
[code]

[2018-01-12 08:34] lcfang opened #58200 "field of Namespace in nodeRef is so odd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I see the code in [https://github.com/kubernetes/kubernetes/blob/a97ce942e98441425b7ede4341dd4b0663164737/pkg/kubelet/kubelet.go#L459](https://github.com/kubernetes/kubernetes/blob/a97ce942e98441425b7ede4341dd4b0663164737/pkg/kubelet/kubelet.go#L459)
Here is the `nodeRef`, and these all fields are optional, since there is no `Names

[2018-01-12 08:34] lcfang commented on #58200
/sig node

[2018-01-12 08:36] lcfang commented on #58200
cc @Random-Liu @dchen1107 @yujuhong @vishh

[2018-01-12 08:39] ConnorDoyle commented on #58154
/sig node
This topic was discussed recently in the resource management WG too

[2018-01-12 08:41] krlng commented on #58145
And here the relevant logs from kube-controller-manager,first:
[code]

And then it keeps repeating:
[code]

[2018-01-12 08:42] shoneSolomon commented on #58191
@wangKuma I want to get started containner ip and update yaml to update the containners command to run distributed tenserflow.

[2018-01-12 08:45] beatlejuse commented on #57922
@m1093782566
I do not understand what do you mean "you can just ignore the 127.0.0.1". could you describe in detail how to configure the service to get the real source IP?

[2018-01-12 08:49] m1093782566 commented on #57922
1. ClusterIP type service, externalTrafficPolicy=[Local | Cluster]

2. NodePort type service, externalTrafficPolicy=Local, but don't try to access `127.0.0.1:port`

3. LoadBalancer type service, externalTrafficPolicy=Local

[2018-01-12 08:51] alphashuro opened #58201 "SandboxChanged whenever a job pod completes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Getting a SandboxChanged event on all successfuly completed pods created by cron job.

**What you expected to happen**:

No SandboxChanged event published by jobs that completed successfully

**How to reproduce it (as minimally and precisely as possible)**:

* Create a cron job
* Run `kubectl get pods -a | grep 'Complete

[2018-01-12 08:58] jayme-github commented on #51581
@imiskolee why is this closed? Is it fixed (in which version?)

[2018-01-12 09:00] #56827 closed

[2018-01-12 09:03] chengzhang1016 commented on #46482
close issue since this issue have been fixed. thanks.

[2018-01-12 09:03] #46482 closed

[2018-01-12 09:16] gyliu513 opened #58202 "ipvs NodePort is not working if host not using eth{i} as nic name in 1.9.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Deploy an application as following:
[code]

After application deployed:
[code]

ClusterIP works fine
[code]
NodePort does not work
[code]

/cc @m1093782566
/sig network
/area ipvs
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Env

[2018-01-12 09:16] gyliu513 commented on #58202
I think we should merge https://github.com/kubernetes/kubernetes/issues/55923 back to 1.9.0

[2018-01-12 09:17] jacobpm commented on #58139
First of all, thank you for the response.
My issue is I still don't see the source IP getting preserved even after setting "externalTrafficPolicy": "Local".

[2018-01-12 09:17] mdshuai commented on #46482
[code]

[2018-01-12 09:33] Blasterdick commented on #53566
@tommyknows great thanks, mate, but sure it has to be solved by devs, as it's such a duct tape fix for a project like k8s :)

[2018-01-12 09:55] squeed commented on #56794
While making the CNI interface richer is definitely on my list, we currently have an undocumented standard that writing a CNI configuration file to disk signifies network readiness. This PR is just about hooking that up with the already existing network status, instead of node status.

[2018-01-12 10:02] imdario commented on #27543
Please, check this issue related to Kubernetes and Mergo: https://github.com/imdario/mergo/issues/33#issuecomment-357105051

I just released version 0.3.0, which introduces transformers and fixes several bugs.

[2018-01-12 10:10] manuperera commented on #52096
There are any news about the solution of this problem?

[2018-01-12 10:11] FengyunPan commented on #58145
Oh, I see.
Oops, should get 'sub network id', not 'network id'.
I will fix it soon.

[2018-01-12 10:20] beatlejuse commented on #57922
@m1093782566
2. as i wrote above, NodePort type service with externalTrafficPolicy=Local blocking the transmission of traffic to the pod. I'm trying to connect to node_ip:port.
maybe this is a bug? I could demonstrate this.

[2018-01-12 10:28] NickrenREN commented on #58183
/assign

[2018-01-12 10:28] cpointner commented on #51017
/remove-lifecycle stale

[2018-01-12 10:43] beatlejuse commented on #57922
oh, sorry )) i'm connecting to wrong node ))
yes, now traffic is gone.
but ip is not source!
with "externalTrafficPolicy=Cluster" i getting ip 10.1.29.21 (node ip)
with "externalTrafficPolicy=Local" i getting ip 10.4.62.1 (pods network ip - not real source ip)

[2018-01-12 11:15] cezarsa commented on #51142
I was still able to reproduce the issue following the steps in the description using Kubernetes v1.9.1.
I can see that @xingzhou's fix in #51309 was closed automatically and had some failing tests. If I find some time later this month I may be able to help rebasing it and checking the tests.

/remove-lifecycle stale

[2018-01-12 11:25] soltysh commented on #32661
It looks like we're good with this, just checked the code.

[2018-01-12 11:25] #32661 closed

[2018-01-12 11:37] nikhita commented on #24855
/remove-lifecycle stale

[2018-01-12 12:03] pvanderlinden opened #58211 "Document Kubernetes seccomp support"
I'm trying to use the seccomp feature as we need to give an application some more permissions, so we need a custom seccomp profile.

There are 2 problems with the current feature:
- custom seccomp profiles need to be in a file on the node, this does not only break how kubernetes is configured, it also impossible in various setups (example: we are in GKE and can't just modify the image)
- no docs:

[2018-01-12 12:05] #52861 closed

[2018-01-12 12:12] y325A commented on #58019
I am also experiencing this issue using a service with externalIPs.

My Windows nodes can connect to the service using the external IP (without going out to the internet) but my Linux master is unable to. I can provide additional debug information if anyone needs me to run anything.

[2018-01-12 12:20] soltysh commented on #24649
/lifecycle frozen

[2018-01-12 12:21] pvanderlinden commented on #58211
@kubernetes/docs/sig-docs-feature-requests @kubernetes/docs/sig-api-machinery-bugs

[2018-01-12 12:21] soltysh commented on #24649
/remove-lifecycle stale

[2018-01-12 12:22] pvanderlinden commented on #58211
/sig docs
/sig api-machinery

[2018-01-12 12:23] mlmhl commented on #58056
@rootfs
What if this approach: We use a type as follows to indicate the pool and image:

[code]

Then we encode this info by `bencode` method, and use the encoded data as the global mount path. This approach can avoid the two problems we mentioned earlier.

[2018-01-12 12:27] alphashuro commented on #58201
@kubernetes/sig-node

[2018-01-12 12:29] alphashuro commented on #58201
@kubernetes/sig-node-bugs

[2018-01-12 12:43] beatlejuse commented on #57922
@m1093782566
oh, sorry )) i'm connecting to wrong node ))
yes, now traffic is gone.
but ip is not source!
with "externalTrafficPolicy=Cluster" i getting ip 10.1.29.21 (node ip)
with "externalTrafficPolicy=Local" i getting ip 10.4.62.1 (pods network ip - not real source ip)

[2018-01-12 12:47] wknapik opened #58212 "kubectl patch should not exit with a non-zero exit code on no changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`kubectl patch` exits with exit code 1 when there are no changes.

**What you expected to happen**:
I expected the exit code to be 0.
A warning could be printed to stderr, but the exit code should be 0, since no error occurred.
This is really annoying in automation, where the non-zero exit code means "something went wrong,

[2018-01-12 13:04] SriharshaAngadi opened #58213 "Minikube on windows does not start with a corporate proxy"
/kind bug

**What happened**:

Trying to start minikube with command as :
**C:\>minikube start --docker-env="HTTP_PROXY=http://XXXX/YYY" \ --docker-env="HTTPS_PROXY=http://XXX/YYY" --alsologtostderr**
 over windows with corporate proxy, with Virtual box VM. It fails to start with the following error (Attached):
[ErrorWithoutStdErrorLog.txt](https://github.com/kubernetes/kubernetes/files/1626004/Er

[2018-01-12 13:11] GitHubxsy commented on #58081
+1

[2018-01-12 13:16] wknapik commented on #58212
If it was at least a unique exit code, I could do `|| [[ "$?" -eq 1 ]]` and be done with it, but exit code 1 is used for actual errors, like "Error from server (NotFound)", etc.

[2018-01-12 13:19] tobiasetter opened #58214 "Kubeadm init blocks at "This might take a minute or longer if the control plane images have to be pulled.""
/kind bug

**What happened**:
I tried to run kubeadm init.

**What you expected to happen**:
I wanted the kubernetes master to set up.

**Environment**:
- Kubernetes version (use `kubectl version`):  v1.9.1
- Cloud provider or hardware configuration: contabo.com
- OS (e.g. from /etc/os-release): Ubuntu 16.04

I run:

 "kubeadm init"

what I can see in the console:

[init] Using Kubernetes version:

[2018-01-12 13:28] tobiasetter commented on #58214
/sig cluster-lifecycle

[2018-01-12 13:30] wknapik commented on #58212
Also, the 'configmap "foo" not patched' is printed to stdout, instead of stderr.

[2018-01-12 13:33] SriharshaAngadi commented on #58213
I am not an able to add labels

[2018-01-12 13:38] dims commented on #58081
duplicate of https://github.com/kubernetes/kubernetes/issues/10421 ?

[2018-01-12 13:43] crassirostris commented on #58083
Audit logging is a shared effort between sig-auth and sig-api-machinery

[2018-01-12 13:58] boeboe commented on #45911
Same issue here... a small init script with executable permissions...

[2018-01-12 14:06] nikhita commented on #58212
/sig api-machinery

[2018-01-12 14:13] danwinship commented on #46664
@m1093782566 I think you added that comment to the wrong bug?

[2018-01-12 14:18] yangyumo123 commented on #58212
/sig maybe this is not a bug, if you think this is a bug, you can modify like this,
remove below code in pkg/kubectl/cmd/patch.go   RunPatch function.
or add some condition，like GCE or AWS platform judge，first patch，second patch，and so on.

// if object was not successfully patched, exit with error code 1
if !didPatch {
  return cmdutil.ErrExit
}

[2018-01-12 14:35] justinsb commented on #51785
Reopening.

@resouer what was the commit that addressed this?

[2018-01-12 14:41] soltysh commented on #47538
There was a discussion about it early on when I was proposing to combine the two (see https://github.com/kubernetes/kubernetes/pull/11746) but it was then we decided to split it into two separate entities. CronJob is not a special case of a Job. Job is meant to run once and finish. CronJob add additional level of complexity which we decided to express through a separate controller. This issue and

[2018-01-12 14:48] ncdc commented on #55877
#45143 was fixed by #55824 - can we close this issue now?

[2018-01-12 14:58] #55877 closed

[2018-01-12 14:58] ncdc commented on #58068
There's no need to set `--apiserver-count` if you're using the lease endpoint reconciler. I just noticed however that your server is 1.8.5. The lease endpoint reconciler wasn't added until 1.9. You'll need to upgrade if you want to take advantage of it.

[2018-01-12 14:58] RenaudWasTaken commented on #36601
FWIW we don't really support Hot pluggable GPUs or with very specific hardware.

[2018-01-12 15:02] aveshagarwal commented on #57471
@ravisantoshgudimetla this rescheduler: https://github.com/kubernetes/contrib/tree/master/rescheduler which is based on critical pod annotation, as the same functionality will be handled by priority and preemption feature.

[2018-01-12 15:07] mtanino commented on #57345
@msau42 @saad-ali @gnufied

Sorry for my late response.
I tried shared bind mount using following command as @msau42 mentioned but I didn't see any "loaded inactive dead" on my 'systemctl list-units'.

`for i in $(seq 1 32767); do echo $i; mkdir -p /var/lib/kubelet/test/$i; mkdir -p /var/lib/kubelet/test-sharedbind/$i; mount -t tmpfs tmpfs /var/lib/kubelet/test/$i; systemd-run --scope -- mount --m

[2018-01-12 15:13] SriharshaAngadi commented on #58213
/sig Bug

[2018-01-12 15:34] cjyar commented on #45911
I think this is a duplicate of #52172. There are a couple of workarounds posted in the comments section over there.

[2018-01-12 15:35] gabriel-tincu commented on #15478
@crassirostris I agree that you can set that up __before__ setting up the environment, but if there's a way to actively update the docker log driver after the environment is already setup then it eludes me at the moment

[2018-01-12 15:44] patrickf55places commented on #52172
@joelittlejohn @cjyar Could you guys to attach a license to that code (e.g. MIT) so that others can (safely) use it?

[2018-01-12 16:02] derekwaynecarr commented on #47943
this should now be fixed by the referenced change in cAdvisor.

[2018-01-12 16:02] #47943 closed

[2018-01-12 16:08] derekwaynecarr commented on #58167
I agree w/ @deads2k and @sttts , each plug-in is managed by a discrete sig as well depending on the use case.

[2018-01-12 16:18] k4k commented on #50619
/lifecycle frozen

[2018-01-12 16:28] duffqiu opened #58217 "Fail to get rootfs information unable to find data for container /"
Hi all,

I use systemd to start kubelet,
but log show these error:

[code]

but I still can create the pod successfully.
anyone can help?

the version is 1.9

/sig Apps

[2018-01-12 16:48] liggitt commented on #49038
This was fixed in 1.9 - https://github.com/kubernetes/kubernetes/pull/55127

[2018-01-12 17:25] php-coder commented on #58211
Here is my request to add the docs: https://github.com/kubernetes/website/issues/3173

Also, I think that seccomp is more
/sig auth
than
/remove-sig api-machinery

[2018-01-12 17:26] php-coder commented on #58211
@kubernetes/sig-auth-feature-requests

[2018-01-12 17:31] mattfarina commented on #44478
@Thermi does #45345 fix your issue? If now, what else is missing?

[2018-01-12 17:46] Maslow commented on #56038
who u r

[2018-01-12 18:22] Thermi commented on #44478
Well, I guess it could. It'd be better though to have it as a part of a claim, because then it can be specified in the application's kubernetes file, instead of having to create a seperate StorageClass each time a new FS is required.

[2018-01-12 18:34] leifmadsen opened #58220 "[request] backport #56820 from master to 1.9"
/kind bug

**What happened**: Unable to use artifacts created with Bazel on k8s 1.9

**What you expected to happen**: Artifacts created by Bazel on k8s 1.9 results in a Go coredump when attempting to install via kubeadm

**How to reproduce it (as minimally and precisely as possible)**: Use planter to build k8s 1.9. Load the resulting .tar container files into Docker via `docker load -i`, retag for

[2018-01-12 18:34] leifmadsen commented on #58220
/cc @BenTheElder
/cc @ixdy

[2018-01-12 19:16] misterikkit opened #58222 "Move equivalence class based scheduling to beta"
# Feature Description
- One-line feature description (can be used as a release note): Cache scheduling decisions of equivalent pods
  (It has been noted that this feature isn't user-facing, and we may not include it in release notes.)
- Primary contact (assignee): @resouer, @misterikkit
- Responsible SIGs: @kubernetes/sig-scheduling-feature-requests
- Design proposal link (community repo): [Equiva

[2018-01-12 19:19] dhgdomino commented on #57718
anyone know why this closed?

[2018-01-12 19:39] enisoc commented on #36601
@RenaudWasTaken wrote:

What about a DaemonSet with [node anti-affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity) for any Node that already has been labeled (one way or another) with the relevant label key? Assuming DS re-syncs when Node labels change, the controller should remove the Pod after it does its job.

[2018-01-12 19:40] rphillips commented on #57617
Thanks @luxas. I can take this on.

[2018-01-12 19:41] rphillips commented on #57617
Could someone point me to where the manifests are for the e2e test suites, I am happy to submit the patches?

[2018-01-12 19:49] liggitt commented on #58220
that seems like a significant change for a maintenance branch... have those changes been given enough soak time?

[2018-01-12 19:52] dims commented on #57718
@dhgdomino are you running into a similar situation? do the tips above help?

[2018-01-12 20:00] caseydavenport commented on #56794
Yes, sorry. Didn't mean to try and hijack :)

[2018-01-12 20:03] resouer commented on #58222
Thanks @misterikkit for bringing this up! We may want to start with `Compute pod equivalence based on pod properties and not OwnerReference.` which looks like a fundamental issue?

 (I'm currently OOO and will back next week, sorry for response delay)

[2018-01-12 20:07] whereisaaron commented on #15478
@gabriel-tincu @vhosakot the direct interface that used to existing between k8s and Docker back in the 'olden day' of >=1.5 is deprecated and I believe the code totally removed now. Everything between the kubelet and the run-times like Docker (or the others like rkt, cri-o, runc, lxd) goes through CRI. There are lots of container runtimes now and Docker itself is likely to be deprecated and remove

[2018-01-12 20:12] cmluciano commented on #53102
/close

inactive

[2018-01-12 20:12] #53102 closed

[2018-01-12 20:42] sstelfox commented on #57981
@hzxuzhonghu That is actually included in the kubernetes version but specifically:

[2018-01-12 20:52] RenaudWasTaken commented on #36601
I think we can do that for now, but that sounds like a side effect that I'm not sure we can rely on.
Anyways I'll be testing that :)

[2018-01-12 21:01] dhgdomino commented on #57718
I am having issues with the AWS cloud provider.  Have not reached resolution yet.

[2018-01-12 21:15] dims commented on #57718
@dhgdomino can you please open a fresh issue with details? logs?

[2018-01-12 21:19] misterikkit commented on #58222
@resouer Thanks. For changing the equivalence computation, the existing logic is pretty well isolated. I should only need to change EquivalencePodGenerator.getEquivalencePod in pkg/scheduler/algorithm/predicates/utils.go.

However, I propose to refactor a lot of that logic to simplify it and make code updates easier. I'll try to send a PR for that soon.

[2018-01-12 21:20] arno01 opened #58227 "Support EC TLS secrets"
It appears that EC keys are not supported when attempting to create a TLS secret using kubectl command.

Tested with kuberenetes (server side and the CLI side): ``v1.9.1``

[code]

[2018-01-12 21:26] lpabon commented on #58092
@linyouchong I did not see your PR until after I submitted.

[2018-01-12 21:28] arno01 commented on #58227
/sig cli

[2018-01-12 22:43] jingxu97 commented on #29324
The original issue on this post about "Wrong AWS volume can be mounted" is solved already. The other issue mentioned related to detach delay is addressed in other issues https://github.com/kubernetes/kubernetes/issues/52735, https://github.com/kubernetes/kubernetes/issues/53059 . Close this one.

[2018-01-12 22:43] #29324 closed

[2018-01-12 22:47] jingxu97 commented on #53059
@diogo-reis, sorry for the late reply. You mentioned you "When i move a Pod with the expression "nodeSelector:" to another Node ". Could you please confirm that the pod is first killed from node 1 and then started on node 2. Is node 1 still running?

[2018-01-12 23:22] bschwartz757 commented on #24745
@tlvenn Thanks for the idea - I looked into it and our ingress seems to be set properly:
[code]

[2018-01-12 23:55] abhgupta opened #58232 "Considering PVC as a resource for balanced resource utilization in the scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The scheduler currently does not have a priority function to properly spread out pods that request PVCs. In the absence of such a priority function, scheduling of pods with PVCs could be skewed resulting in:
 - some nodes exhaust their allocatable PVC limits, while still having enough schedulable cpu/memory resources

[2018-01-12 23:57] abhgupta commented on #58232
cc @derekwaynecarr @aveshagarwal

[2018-01-12 23:58] abhgupta commented on #58232
/sig scheduling

[2018-01-13 00:26] #58085 closed

[2018-01-13 01:21] bschwartz757 commented on #51133
I'm getting this error when trying to convert deployment from `apiVersion: extensions/v1beta1` to `apiVersion: apps/v1beta2`. We have an existing k8s cluster in GKE and recently upgraded to their latest available version of Kubernetes (v1.8.5) and I've tried many combinations of replacing, deleting, converting and creating the deployment. For example (following the docs/help for `kubectl convert`:

[2018-01-13 01:32] tlvenn commented on #24745
You could try to add a default backend as well if not already done such as:

[code]

If you actually have a dedicated ip for `foo-svc`, try to remove the rules entirely, leaving the default backend only.

[2018-01-13 01:48] bsalamat commented on #51785
Couple of things to mention:
1. DaemonSets are not scheduled by scheduler. They are scheduled by DaemonSet controller. So, this is not a scheduler bug.
2. If DS controller finds that a node is not feasible for a DS Pod, for example because the node does not have enough resources, has port conflict, etc., it won't create a pod for the node. So, in order to debug this issue we need to know states of

[2018-01-13 01:49] wackxu commented on #58222
/cc

[2018-01-13 02:11] nickray commented on #55238
Just want to remark that I too did this separation of concern architecture and had the equivalent problem running the [dashboard](https://github.com/kubernetes/dashboard).

[2018-01-13 02:51] enisoc commented on #51133
@bschwartz757 Your updated deployment looks correct as far as the API change is concerned.

Keep in mind that `kubectl edit` won't necessarily show you the object in the same apiVersion you used to create it. The same object can be viewed through the lens of any apiVersion supported by the k8s master you're running, so `kubectl edit` just chooses one for you by default.

If you like, you can force

[2018-01-13 03:02] cblecker commented on #58213
This repo is for the kubernetes software itself, not minikube. You may wish to open an issue with them directly: https://github.com/kubernetes/minikube/issues

/remove-kind bug
/kind support
/close

[2018-01-13 03:02] #58213 closed

[2018-01-13 03:17] mlmhl commented on #58176
`Deployment` doesn't support this feature right now, maybe [StatefulSet](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage) can satisfy your demand, it will create PV for each pod.

[2018-01-13 03:26] janetkuo commented on #49734
/remove-lifecycle stale

[2018-01-13 03:53] Lion-Wei commented on #58202
Yeah, this pr #56685 do solved this problem, maybe we should cherry-pick this to 1.9.0.
@m1093782566

[2018-01-13 03:55] #57241 closed

[2018-01-13 04:04] liggitt commented on #58212
Related to https://github.com/kubernetes/kubernetes/pull/52647#issuecomment-335114382 and #52577

[2018-01-13 04:10] fejta-bot opened #58233 "Failure cluster [c5c4ad...] failed 98 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [c5c4ad0c213091f419da](https://go.k8s.io/triage#c5c4ad0c213091f419da)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    98 builds failed.
Failure stats cover 1 day time range '12 Jan 2018 02:39 UTC' to '13 Jan 2018 02:39 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Node Tests | 12 |

###

[2018-01-13 04:19] ravisantoshgudimetla opened #58234 "Enable golinting for scheduler packages"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
While working on #58061, noticed that following packages are excluded from golint checks:

pkg/scheduler/algorithm
pkg/scheduler/algorithm/predicates
pkg/scheduler/algorithm/priorities
pkg/scheduler/algorithm/priorities/util
pkg/scheduler/api
pkg/scheduler/api/latest
pkg/scheduler/api/v1
pkg/scheduler/core
pkg/schedu

[2018-01-13 04:19] ravisantoshgudimetla commented on #58234
/sig scheduling

[2018-01-13 04:30] varsharaja commented on #39334
Thank you. Will do.

On 10-Jan-2018 23:20, "David Ashpole" <notifications@github.com> wrote:

[2018-01-13 04:34] #58181 closed

[2018-01-13 04:34] #45972 closed

[2018-01-13 05:34] #57882 closed

[2018-01-13 06:04] rramkumar1 opened #58235 "Result of kubelet health checks not exposed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

The result of liveness and readiness probes performed by kubelet is not easily available other than through kubectl. Currently if a user wanted a time series graph detailing the health of their pod/container, it would not be possible.

If the results of these checks were properly exposed through a medium such as a Prometheus metric, it would highly be

[2018-01-13 06:04] rramkumar1 commented on #58235
/sig node

[2018-01-13 06:59] liggitt commented on #58200
v1.ObjectReference is a generic object reference struct, used for both namespaced and unnamespaced references.

"" is the zero value for the namespace field. Omitting `Namespace:""` would result in an identical value

[2018-01-13 06:59] #58200 closed

[2018-01-13 07:03] ravisantoshgudimetla commented on #57471
I am off next week but I will get started on following items

Change critical pods’ template to use priority
Get rid of the rescheduler

unless someone has already started on it.

[2018-01-13 07:04] liggitt commented on #58196
this is not a bug, it is an intentional factoring.

during the Admit phase, these plugins do some mutation and some validation. if the validation fails, we want to reject early.

during the Validate phase, they recheck that the result is still valid (and hasn't been invalidated by other things in the Admit phase)

[2018-01-13 07:04] #58196 closed

[2018-01-13 07:16] liggitt commented on #58179
cannot recreate this:

list.yaml:
[code]

[code]

[2018-01-13 07:50] #57152 closed

[2018-01-13 10:00] haukurk commented on #41444
+1

[2018-01-13 10:32] tonyshare opened #58236 "This computer doesn's have VT-x/AMD-v enabled"
I am install debian stretch9.3 on vmware EXSi 6.0 , and enable the VT-x/AMD-v configration on vmware virtual host selection penal.
According the instruction on [edx course](https://courses.edx.org/courses/course-v1:LinuxFoundationX+LFS158x+2T2017/),  I am installed virtualbox 5.2 and kublemini 1.9.1.
when i run the command
`kubemini start`

the host gives such infomation:

@kubernetes sig/cli

[2018-01-13 11:10] vikaschoudhary16 commented on #56943
/assign

[2018-01-13 11:11] vikaschoudhary16 commented on #56943
I have started working on this.

[2018-01-13 11:21] gyliu513 commented on #58202
Thanks @Lion-Wei , I think that it should be in 1.9.0, otherwise, we cannot claim that ipvs is beta. @m1093782566

[2018-01-13 11:32] huang-jy commented on #58176
I took a look at that, but I cannot get it to work. For example, using the example provided on the documentation

https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

and

https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/

I get the following:
[code]

(I then have to delete the nginx service )

Is there something I need to add or apply to the cluster

[2018-01-13 11:34] #55920 closed

[2018-01-13 11:48] #58214 closed

[2018-01-13 12:06] huang-jy commented on #58176
Had to change top of the yaml to

[code]

But it seems to work now.

I'm noticing that it is not deleting the pvcs and pvs if I delete the sts - so if I create a sts, it will create the pvc and pv for the first pod as expected. If I scale up it will create pvc and pv for that one, but if I delete the sts entirely, all the pvcs and pvs are not deleted. is this intended?

[2018-01-13 12:43] kamilgregorczyk commented on #49458
yes

[2018-01-13 13:51] haf opened #58238 "Broken link"
The link in the readme here https://github.com/kubernetes/kubernetes/tree/master/examples/kubectl-container is broken.

(As a wider effect; it's almost impossible to find a good example of a tool-type container to run with CronJobs that has kubectl already installed)

[2018-01-13 13:56] mlmhl commented on #58176
Yeah, this is intended, you need to delete all PVCs manually after pods or sts deleted.

[2018-01-13 13:59] huang-jy commented on #58176
It makes sense, I guess -- if I was to recreate the sts, it would reattach to the same pvcs right?

[2018-01-13 14:10] spzala commented on #49458
thanks @kamilgregorczyk

[2018-01-13 14:10] spzala commented on #49458
/close

[2018-01-13 14:10] #49458 closed

[2018-01-13 14:44] Stono opened #58239 "Mount Options not honored for Persistent Volume Claim Tempaltes"
Hi,
I am trying to mount a persistent volume in a statefulset with some custom options.  This does not appear to be working.

Kubernetes 1.8.5 on GKE.

I have the following StatefulSet:
[code]

Which creates the following pvc, with my annotations:
[code]

Which creates the following pv (without the volume.beta.kubernetes.io/mount-options):
[code]

Which in turn does not mount my disk with the opti

[2018-01-13 14:47] henrywang opened #58240 "Kubernetes 1.9.1 component status checking does not work with bool value {"health":true} returned by etcd health monitoring API /health."
The etcd exposes health information via HTTP at /health in JSON format. The latest released etcd 3.3 changed in /health endpoint response value. This change can be found from [Upgrade etcd from 3.2 to 3.3](https://github.com/coreos/etcd/blob/91996607a347b3bb3bfdfd6543ab66b5a5da0694/Documentation/upgrades/upgrade_3_3.md).
Before
[code]
After
[code]
But when it integrated with Kubernetes 1.9.1, the

[2018-01-13 14:56] Stono commented on #58239
@kubernetes/sig-gcp-bugs

[2018-01-13 15:30] haf commented on #58238
@kubernetes/sig-docs

[2018-01-13 15:35] ravisantoshgudimetla opened #58242 "Add dry-run option to scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
As of now, scheduler doesn't support dry-run. It would be great to have an option like that.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hard

[2018-01-13 15:36] ravisantoshgudimetla commented on #58242
/sig scheduling
/cc @bsalamat for UX

[2018-01-13 16:03] #17792 closed

[2018-01-13 16:04] #12457 closed

[2018-01-13 16:04] #20088 closed

[2018-01-13 16:04] #29916 closed

[2018-01-13 16:04] #33452 closed

[2018-01-13 16:04] #38856 closed

[2018-01-13 16:04] #44542 closed

[2018-01-13 16:07] ndeloof opened #58245 "add support for "cache"-style volumes"
**FEATURE REQUEST**: cache style volumes
/kind feature

**What happened**:
My application uses filesystem as a cache for some data. It can restart from sratch, but would benefit a "hot" cache on startup.
I only can use an `emptyDir` volume for now, as all other volumes strategies involve distributed storage or strong persistence constraints, while I'm looking for fast I/O.

**What you expected to

[2018-01-13 16:10] ndeloof commented on #58245
@kubernetes/sig-Storage

[2018-01-13 16:54] mjaow commented on #58081
@dims it seems that latest k8s with cAdvisor still not solve this issue

[2018-01-13 17:04] ravisantoshgudimetla commented on #58234
/help

[2018-01-13 17:15] ravisantoshgudimetla commented on #58234
Procedure to verify:
 - Remove the entry(dirs from previous comment, for example:  pkg/scheduler/metrics) from hack/.golint_failures file.
- Run hack/verify-golint.sh. You will notice an error like this:
`pkg/scheduler/metrics/metrics.go:110:1: comment on exported function SinceInMicroseconds should be of the form "SinceInMicroseconds ...`
- Make changes to pkg/scheduler/metrics/metrics.go so that

[2018-01-13 18:26] liggitt commented on #58240
That seems like a breaking change in the etcd healthz api

[2018-01-13 18:34] #16891 closed

[2018-01-13 20:08] #54205 closed

[2018-01-13 20:33] #13713 closed

[2018-01-13 20:34] #43991 closed

[2018-01-13 20:44] zapman449 commented on #51785
I'm happy to provide the above detail.  However, considering that the pods sprang to life immediately when I ran `kubectl -n pd-system annotate ds registry-proxy kubectl.kubernetes.io/last-applied-configuration-`, the nodes had sufficient resources.

[2018-01-13 21:43] bschwartz757 commented on #51133
@enisoc Thanks, that's definitely good to know!! And not something I would have figured out on my own from the documentation I've seen. I'll give that a try.

Looking the deployment in the cluster using that command, I can see that it does indeed show the new apiVersion. That does make the error output from the command
[code]
a little confusing, since the command actually succeeded.

It also seems

[2018-01-13 23:43] cceckman commented on #58238
@kubernetes/sig-docs-bugs , maybe (including `<group-suffix`)?

[2018-01-14 00:00] henrywang commented on #58240
/sig api-machinery

[2018-01-14 01:00] tonyshare commented on #58236
/sig cli
/sig help

[2018-01-14 01:36] mlmhl commented on #58245
/sig storage

[2018-01-14 01:48] mlmhl commented on #58239
`volume.beta.kubernetes.io/mount-options` is an annotation for PV, not for PVC. Currently you cannot specify volume parameters in PVC, for dynamic provisioning, maybe you can put the mount operations in `StorageClass.MountOptions`.

[2018-01-14 01:48] mlmhl commented on #58239
/sig storage

[2018-01-14 02:36] wenlxie opened #58251 "privileged container can't see custom mapping device name inside the container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Now k8s start to support raw block device.
When I start to run a pod like:
[code]
The container is run as `--priviledged`, but I can't see the device /dev/vda when exec to the container.
When I run the following command to start a container via  docker directly:
`docker run -it --device=/dev/sdc4:/dev/vda --privileged ubu

[2018-01-14 02:49] wenlxie commented on #58251
/sig-node

[2018-01-14 02:59] wenlxie commented on #58251
@sig storage

[2018-01-14 04:11] fejta-bot opened #58252 "Failure cluster [b3bcbd...] failed 94 builds, 19 jobs, and 1 tests over 1 days"
### Failure cluster [b3bcbd6b97e13abc7051](https://go.k8s.io/triage#b3bcbd6b97e13abc7051)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    19 jobs failed,    94 builds failed.
Failure stats cover 1 day time range '13 Jan 2018 03:01 UTC' to '14 Jan 2018 03:01 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 19 |

##### Top f

[2018-01-14 04:11] fejta-bot opened #58253 "Failure cluster [236a7a...] failed 71 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [236a7af9f54dc174bc57](https://go.k8s.io/triage#236a7af9f54dc174bc57)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    71 builds failed.
Failure stats cover 1 day time range '13 Jan 2018 03:01 UTC' to '14 Jan 2018 03:01 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Node Tests | 8 |

#####

[2018-01-14 05:19] k82cn commented on #58242
that's a great feature; would you share some specific user case?

[2018-01-14 05:20] k82cn commented on #58242
@kubernetes/sig-scheduling-feature-requests

[2018-01-14 05:37] roberthbailey commented on #20424
/close

[2018-01-14 05:37] #20424 closed

[2018-01-14 06:19] resouer commented on #58179
That's weird, I will test it on more clusters and feed back soon.

[2018-01-14 07:00] dhilipkumars commented on #55559
@at1984z I dont think this is a Bug, i think this usecase is probably addressed by a side-car which is aware of the `active 'replica' `.

I believe GC does not pick this up yet as the pod is still active and running.

cc: @kow3ns

[2018-01-14 08:22] Ragnaroek commented on #58019
I found out what the problem was. It was NOT in Kuberetes.
The prozess in the docker container did only accept connections from localhost by default for security reasons.

Very helpful was this document:
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#running-commands-in-a-pod

[2018-01-14 08:22] #58019 closed

[2018-01-14 09:37] k82cn commented on #57181
I'd like to add sig-arch for a broader discussion about this feature. Currently, controllers manage pod's lifecycle, and scheduler handles resource assignment (except DS); if want to handle such case, controller may delegate some lifecycle handler to scheduler, e.g. eviction, or involves some scheduler's policy check in controllers. That's case definitely need more discussion :).

/cc @bgrant0607

[2018-01-14 09:41] k82cn commented on #57002
@gmflau , `preferredDuringSchedulingIgnoredDuringExecution` is used which choosing a 'better' node, it's not a hard restriction of node. Please try `requiredDuringSchedulingIgnoredDuringExecution`

[2018-01-14 10:26] mlmhl commented on #58147
I've post a PR to admit upgrading storage class of PVC: #58256
By the way, we needn't extra work for upgrading storage class of PV right now, because [`ValidatePersistentVolumeUpdate`] doesn't validate the equality of `PersistentVolume.Annotations` and `PersistentVolume.Spec.StorageClass`.

[2018-01-14 11:30] k82cn commented on #57576
if we deprecated and removed them in future, can we achieve the same behaviour by other features or predicates/priorities? If not, what's our suggestion to the cases, ignore it?

Here's some input for those two predicates/priorities:
1. Regarding ServiceSpreadingPriority, can we use [controllerOf](https://groups.google.com/forum/#!topic/kubernetes-dev/KCAwOKy4WAQ) instead of watching RC?
2. Regard

[2018-01-14 11:31] k82cn commented on #50516
/remove-lifecycle stale

[2018-01-14 11:45] frodenas commented on #53968
/remove-lifecycle stale

[2018-01-14 12:01] k82cn commented on #54313
List tasks here:
- [ ] Report PID pressure condition (https://github.com/kubernetes/kubernetes/pull/57136)
- [ ] Taint nodes for PID pressure
- [ ] Update related docs for PID pressure

[2018-01-14 12:48] andyzhangx commented on #44085
`mountOptions` is another way to set groupid(gid)
While according to this [doc](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/), we also need to support `securityContext`
[code]

Here is the code [reference](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L481) about setting fsgroup from securityContext.

I w

[2018-01-14 12:52] andyzhangx commented on #44085
BTW, this is all for Linux(UserID, GroupID), is there an identical setting for Windows container? @PatrickLang

[2018-01-14 14:07] radu-matei commented on #58238
@haf - here's the reason why you don't find it anymore - it has been removed - https://github.com/kubernetes/examples/commit/559c64edb3639fe5b34637928e06ba28b308fa07

What exactly are you trying to do?

[2018-01-14 14:39] dhilipkumars commented on #57167
@janetkuo Are RollBacks not deprecated in `apps/v1` ?

[2018-01-14 14:40] huangjiasingle opened #58257 "kubeamd should support customize k8s's images"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
when l use kubeadm tools to create k8s cluster，it's default to pull imgaes from gcr.io , l think it's should support customize images by myself .
**Environment**:
- Kubern

[2018-01-14 14:49] huangjiasingle commented on #58257
@kubernetes/sig-Kubeadm

[2018-01-14 14:52] huangjiasingle commented on #58257
@kubernetes/sig-kubeadm-feature

[2018-01-14 14:56] huangjiasingle commented on #56996
@StephenLU0422  you problem coused by the mutil sandbox container in you node. please restart the kubelet, is't will be ok.

[2018-01-14 15:10] liggitt commented on #26202
This was resolved in apps/v1beta2 and forward by requiring selectors to be explicitly defined, disallowing mutation on those fields

[2018-01-14 15:10] #26202 closed

[2018-01-14 15:25] liggitt commented on #50886
It is normal for creations to be rejected while a namespace is terminating. In this case, the error is harmless, but we still want it logged for cases where the create failed and the namespace was not terminating

/close

[2018-01-14 15:25] #50886 closed

[2018-01-14 15:26] liggitt commented on #49000
Duplicate of https://github.com/kubernetes/kubernetes/issues/48790

[2018-01-14 15:26] #49000 closed

[2018-01-14 15:28] liggitt commented on #17612
Duplicate of https://github.com/kubernetes/kubernetes/issues/11338
/close

[2018-01-14 15:28] #17612 closed

[2018-01-14 15:29] liggitt commented on #19163
--output-version has been deprecated

/close

[2018-01-14 15:29] #19163 closed

[2018-01-14 15:38] liggitt commented on #58183
/sig storage

[2018-01-14 15:42] liggitt commented on #5471
events are intended for best effort advisory information. they already depend on well-behaved clients, and there is already existing client-side compression that can drop events in high volume scenarios.

getting a slightly different count or lastseen in the case where an identical event is being created rapidly is not concerning.

[2018-01-14 15:42] #5471 closed

[2018-01-14 15:47] liggitt commented on #43211
/close

[2018-01-14 15:47] #43211 closed

[2018-01-14 15:52] liggitt commented on #48181
a 401 response to an invalid token is correct

/close

[2018-01-14 15:52] #48181 closed

[2018-01-14 15:54] liggitt commented on #48792
kubelet cannot assume you don't want to go through the configured proxy in order to reach the pod network.

kubernetes components support CIDR in NO_PROXY. See https://github.com/kubernetes/kubernetes/pull/23003

[2018-01-14 15:54] #48792 closed

[2018-01-14 15:55] liggitt commented on #50699
/close

[2018-01-14 15:55] #50699 closed

[2018-01-14 16:06] liggitt commented on #38349
@jhorwit2 is this related to what you were working on?

[2018-01-14 16:08] liggitt commented on #42960
/lifecycle frozen

[2018-01-14 16:35] dims commented on #58257
@huangjiasingle yes, it's already there i believe. see at `unifiedControlPlaneImage` at https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2018-01-14 17:49] Stono commented on #58239
@mlmhl
[code]

[2018-01-14 18:47] haf commented on #58238
@radu-matei I was just trying to use kubectl from the smallest possible container — in my case it became:

[code]

But this had to be scavenged from github; it would be good to have a sample of using kubectl from within Kube somewhere in the docs; that's what I thought this link would link to.

I think you should remove examples that have been deprecated.

[2018-01-14 19:12] PatrickLang commented on #44085
No, setting user for volumes doesn't work on Windows. Only the rw/ro options are implemented.

[2018-01-14 19:47] jhorwit2 commented on #38349
@liggitt this seems related to this PR https://github.com/kubernetes/kubernetes/pull/56448 which I ended up having to close. It _should_ be resolved with my finalizer PR. The only reason we have the cached objects is for deletion so moving to finalizers removes that code. I'm hoping to have that ready for review by Wednesday.

I also plan to submit another PR to move from update to patch which wil

[2018-01-14 20:51] honnix commented on #57345
Just to confirm this is still happening on GKE 1.8.5 nodes.

[2018-01-14 23:14] renan commented on #17199
/remove-lifecycle stale

[2018-01-14 23:40] davidjbrady opened #58262 "RBAC list operations are not yet filtered and scoped to objects that a subject is able to get"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: Running '**kubectl get namespaces**' returns '**Cannot list namespaces at the cluster scope**' when the following RBAC Cluster Role is bound to a subject.

[code]

**What you expected to happen**: Ideally for  '**kubectl get namespaces**' to return a filtered list of namespaces as described in the 'resourceNames' fiel

[2018-01-15 00:12] davidjbrady commented on #58262
Exploring this limitation further I've noticed the openshift team have developed a solution to this for there projects custom resource. []( https://github.com/openshift/kube-projects).

Hopefully there method can be explored as a possible solution.

[2018-01-15 01:22] mlmhl commented on #58239
I guess you put the mount options in the wrong field. You should put these options in `StorageClass.MountOptions`, not `StorageClass.Parameters`, see this [doc](https://kubernetes.io/docs/concepts/storage/storage-classes/#mount-options).

[2018-01-15 01:23] tossmilestone commented on #58234
@ravisantoshgudimetla I could work to fix this issue

[2018-01-15 01:36] k82cn commented on #58042
It works by local startup, any log to share?

[code]

[code]

[2018-01-15 01:37] k82cn commented on #58234
@tossmilestone , please go ahead to work on it.

[2018-01-15 01:45] Davidrjx commented on #55807
i was faced with same issue, but now not found anybody could answer the kind appropriately

[2018-01-15 01:46] m1093782566 commented on #57922
You probably should check the iptables applied in your host, is there any masq rules created by other processes other than kube-proxy?

It preserves the source IP of client - I double checked it.

BTW, you can create another thread for discussing your problems. I feel like this issue is orthogonal with your question.

[2018-01-15 01:54] shinji62 commented on #56569
/area platform/openstack

Same issue with Openstack, I am willing to add the support in Openstack Cloud provider does this seems to be acceptable ?

[2018-01-15 02:02] dixudx commented on #52381
/close

[2018-01-15 02:02] #52381 closed

[2018-01-15 02:11] lcfang commented on #58200
Hi @liggitt ，thanks for your reply, I agree the result will be the same.

[2018-01-15 02:18] CaoShuFeng commented on #44703
Hi, @liggitt . Is there some new situation about this?

[2018-01-15 02:22] liggitt commented on #44703
No, all the same issues mentioned in https://github.com/kubernetes/kubernetes/issues/44703#issuecomment-324826356 still apply

[2018-01-15 02:28] liggitt commented on #58262
Covered by https://github.com/kubernetes/kubernetes/issues/40403

Any ACL filtered list operation breaks standard watch semantics, so it is unlikely it will ever be applied to core kubernetes APIs

[2018-01-15 02:28] #58262 closed

[2018-01-15 02:30] liggitt commented on #37455
Corrected the message in https://github.com/kubernetes/kubernetes/pull/58258
Added support for yaml in https://github.com/kubernetes/kubernetes/pull/58260

/assign

[2018-01-15 02:32] CaoShuFeng commented on #44703
/cc @WanLinghao

[2018-01-15 02:42] liggitt commented on #50357
/close

[2018-01-15 02:42] #50357 closed

[2018-01-15 02:43] liggitt commented on #50695
The panicking kernel image has been retired
/close

[2018-01-15 02:43] #50695 closed

[2018-01-15 02:43] gyliu513 commented on #58042
Where is you `NotReady` taint for the host?

[2018-01-15 02:44] gyliu513 commented on #49693
This is because of kube version, we should follow the semantic versioning here https://semver.org/ for kube version as well.

[2018-01-15 02:44] #49693 closed

[2018-01-15 02:52] liggitt commented on #51485
This is working as designed
/close

[2018-01-15 02:52] #51485 closed

[2018-01-15 02:54] liggitt commented on #52123
Please open in the kubernetes/federation repo, as issues and code are being tracked there for federation

/close

[2018-01-15 02:56] k82cn commented on #58042
Node is ready is in my test.

[2018-01-15 03:00] warmchang commented on #51017
We have the same problem in our environment.

@yujuhong https://github.com/kubernetes/kubernetes/issues/46255, what advice or plans does the community have? Thank you!

[2018-01-15 03:03] liggitt commented on #52159
field selectors are run through a per-version conversion function that has the opportunity to transform them from the specified name (which matches the external field of the version they are run against) to the internal key (which matches the key of the fieldset built for matching against).

We happen to have not made use of field selector name changes across versions, but the capability is there

[2018-01-15 03:03] liggitt commented on #52159
/close

[2018-01-15 03:03] #52159 closed

[2018-01-15 03:09] gyliu513 commented on #58042
You can reproduce the issue as this: Set up multiple node cluster with calico as network manager, then stop calico, all node should become `NotReady`, then check node `taint` section, there is no taint added for the node due to `NotReady` node status.

[2018-01-15 03:09] liggitt commented on #53188
Can probably close this, addressed by https://github.com/kubernetes/community/pull/1269

[2018-01-15 03:18] k82cn commented on #58042
would you share controller-manager's log? this logic is not related to calico :).

[2018-01-15 03:22] liggitt commented on #54130
Closing this issue as fixed since 1.9 is used to build now
/close

[2018-01-15 03:22] #54130 closed

[2018-01-15 03:24] alahijani commented on #53201
For .Net Core, the current (ugly) workaround is to use double underscores, like `Logging__LogLevel__Default` instead of `Logging:LogLevel:Default`.

It's documented [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?tabs=basicconfiguration#simple-configuration).

[2018-01-15 03:28] nikhita commented on #49504
/remove-lifecycle stale

[2018-01-15 03:35] gyliu513 commented on #58042
do not have the env now, will append log later.

[2018-01-15 03:36] liggitt commented on #54878
When resource version is unspecified, you get an ADDED event for every object in existence at the point in the when the watch is started, and all subsequent ADDED/MODIFIED/DELETED events for changes from that point.

[2018-01-15 03:38] liggitt commented on #54810
Fixed in https://github.com/kubernetes/kubernetes/pull/53046

/close

[2018-01-15 03:38] #54810 closed

[2018-01-15 03:39] liggitt commented on #54859
/assign @apelisse

[2018-01-15 03:42] k82cn commented on #58042
btw, for `Ready`, please try `TaintBasedEvictions=True`.

`TaintBasedEvictions` handles Ready and Unreachable, `TaintNodeByCondition` handles memory, disk and network. Both are alpha features now.

[2018-01-15 03:42] liggitt commented on #55002
/close

[2018-01-15 03:42] #55002 closed

[2018-01-15 03:48] liggitt commented on #55541
When I try to establish a watch requesting proto content, I get a 415 error as expected. Are you seeing something different?

[2018-01-15 03:53] liggitt commented on #56060
Your pod spec is referencing a config map named "upload-ini", but the actual name is "uploads-ini"

/close

[2018-01-15 03:53] #56060 closed

[2018-01-15 03:57] liggitt commented on #56730
Picks appear to have merged

/close

[2018-01-15 03:57] #56730 closed

[2018-01-15 04:01] nikhita commented on #33767
/remove-lifecycle stale
Fixed by https://github.com/kubernetes/kubernetes/pull/57937.

[2018-01-15 04:04] liggitt commented on #56764
/close

[2018-01-15 04:04] #56764 closed

[2018-01-15 04:12] fejta-bot opened #58265 "Failure cluster [2d12f2...] failed 277 builds, 13 jobs, and 1 tests over 1 days"
### Failure cluster [2d12f2d6eb23d44aa3a6](https://go.k8s.io/triage#2d12f2d6eb23d44aa3a6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    13 jobs failed,    277 builds failed.
Failure stats cover 1 day time range '14 Jan 2018 03:28 UTC' to '15 Jan 2018 03:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 13 |

##### Top

[2018-01-15 04:12] fejta-bot opened #58266 "Failure cluster [428def...] failed 105 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [428defc975939ea622dc](https://go.k8s.io/triage#428defc975939ea622dc)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    105 builds failed.
Failure stats cover 1 day time range '14 Jan 2018 03:28 UTC' to '15 Jan 2018 03:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 8 |

##### Top fa

[2018-01-15 04:12] fejta-bot opened #58267 "Failure cluster [5d226a...] failed 89 builds, 30 jobs, and 2 tests over 1 days"
### Failure cluster [5d226a0c4b4ee451def8](https://go.k8s.io/triage#5d226a0c4b4ee451def8)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    30 jobs failed,    89 builds failed.
Failure stats cover 1 day time range '14 Jan 2018 03:28 UTC' to '15 Jan 2018 03:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Deferred TearDown | 29

[2018-01-15 04:39] shenshouer commented on #58217
error log from kubelet v1.9.1:

[code]

[2018-01-15 04:41] shenshouer commented on #45419
The same error log with kubelet v1.9.1:

[code]

[2018-01-15 04:48] liggitt commented on #57024
Those logs occur when /healthz is hit when one of the health checks is failing. Those can fail for various reasons, like etcd not being available or writeable, or startup having not completed. Check the particular health checks that are failing for more info

/close

[2018-01-15 04:48] #57024 closed

[2018-01-15 04:53] liggitt commented on #57279
/close

[2018-01-15 04:53] #57279 closed

[2018-01-15 04:56] liggitt commented on #57342
Fixed in https://github.com/kubernetes/kubernetes/pull/57805

/close

[2018-01-15 04:56] #57342 closed

[2018-01-15 04:57] zhouhaibing089 commented on #53854
/remove-lifecycle stale

[2018-01-15 04:59] liggitt commented on #57529
/close

[2018-01-15 04:59] #57529 closed

[2018-01-15 05:03] liggitt commented on #57961
Can you provide the content of the `system:kube-scheduler` clusterrole you see after starting the apiserver with the PersistentLocalVolumes feature gate enabled?

[2018-01-15 05:07] liggitt commented on #57961
As mentioned by @msau42 those permissions get included in the role automatically when the apiserver is started with those feature gates

https://github.com/kubernetes/kubernetes/blob/5911f87dadb91a0670183ece1cefce9c24ff4251/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L485-L495

[2018-01-15 05:09] liggitt commented on #58005
/close

[2018-01-15 05:09] #58005 closed

[2018-01-15 05:14] liggitt commented on #58242
Cc @derekwaynecarr

[2018-01-15 05:17] liggitt commented on #58236
Sounds like an issue with the host environment

Please reopen against https://github.com/kubernetes/minikube/issues for issues specific to that tool

/close

[2018-01-15 05:17] #58236 closed

[2018-01-15 05:47] andyzhangx commented on #44085
According to my investigation, though I put the following code in azure file https://github.com/andyzhangx/kubernetes/commit/92bfffc2a6f668d7318cd82bbab8f26f8b0de34c, it does **not** take effect.
[code]

The reason is `gid`(aks fsGroup) will be overwritten by azure file(cifs) mount, by default `gid` would be 0(root)

[code]

So in summary, set fsGroup code in azure file is useless, user could set

[2018-01-15 05:55] gyuho commented on #58240
k8s needs something like this

[code]

And regenerate `vendor` directory to include `"github.com/coreos/etcd/etcdserver/api/etcdhttp/metrics.go"` file, which defines `etcdhttp.Health`.

[2018-01-15 06:08] liggitt commented on #58240
Etcd client upgrades are typically significant (see example impact in https://github.com/kubernetes/kubernetes/pull/57160). We're on the 3.2.x stream for 1.10, so I wouldn't expect a 3.3.x upgrade before the next release

[2018-01-15 06:19] liggitt commented on #58240
If it's just a matter of loosening the typing on the health struct in that package, that's way more contained.

We have to continue working with etcd 3.1.x and 3.2.x servers, so switching to the 3.3 strongly typed struct isn't an option for us.

[2018-01-15 06:30] gyuho commented on #58240
Since 3.3 has not been released, etcd can still revert this change (just changing the type back to `string` should be enough).

We will get back to this next week.

[2018-01-15 06:32] liggitt commented on #58240
Ah, excellent, I thought 3.3 was out already. I would strongly recommend keeping the current type intact

[2018-01-15 06:35] rfranzke commented on #57961
Thanks for taking a look - I tried once again with a fresh cluster and now it worked as expected. Probably I have misspelled something in the apiserver configuration last week. Closing the ticket therefore. Again, thank's for your time!

[2018-01-15 06:35] #57961 closed

[2018-01-15 06:39] resouer commented on #33458
/remove-lifecycle stale

[2018-01-15 06:39] resouer commented on #33458
This is a issue that should be fixed!

[2018-01-15 06:51] lichuqiang commented on #58242
/cc

[2018-01-15 06:54] liggitt commented on #58240
opened https://github.com/coreos/etcd/pull/9143, in case it helps

[2018-01-15 06:55] liggitt commented on #58240
closing this issue, since I don't expect kubernetes to need to make changes here
/close

[2018-01-15 06:55] #58240 closed

[2018-01-15 07:08] AnkitVaidya01 opened #58271 "Can we get time stamps for each stage of POD start i. e. from POD in pending state to running state"
Can we get time stamps for each stage of POD start i. e. from POD in pending state to running state

[2018-01-15 07:46] xingzhou opened #58272 "Record a volume processing failure event for pod while volume mgr start to process volumes."
Happened to see this issue when using FlexVolume.

If we configured pod with a wrong name of FlexVolume, the volume manager will only report a time out event with no error details like the following:

[code]

So user needs to check the kubelet log and see a lot of errors like:

[code]

At present, this single time out event is not good enough for user to detect what had happened:
User have to wait

[2018-01-15 07:49] hdksky commented on #32266
Ping!  Any progress?

[2018-01-15 07:50] feiskyer opened #58274 "Failed to get external ID from cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig azure

**What happened**:

When vmss is used on Azure, kubelet reports `Failed to get external ID from cloud provider` error and couldn't recovert itself.

**What you expected to happen**:

Kubelet should register itselft correctly.

**How to reproduce it (as minimally and precisely as possible)**:

Create a Kubernetes cluster with vmss

[2018-01-15 08:00] lzbgt commented on #19405
For who come up with this issue like me, just truncate the docker logs to size 0.
`sudo salt '*' cmd.run 'truncate -s 0 /var/lib/docker/containers/*/*-json.log'`

Reason for this situation in my case is that the elasticsearch ds cluster was down for some days , when the ds comes back online, fluentd pods will be overwhelmed by sending all the the stashed logs.

[2018-01-15 08:10] liggitt commented on #58227
it actually does support EC keys, just not that particular curve, apparently.

https://play.golang.org/p/FQE9bt76mQk

[code]

[2018-01-15 08:26] liggitt commented on #56963
it looks like the container lifecycle http requests are somewhat underspecified. only a hard fail in the get will result in an error. also, some of the fields (scheme and headers) in the http get action aren't honored by lifecycle

[2018-01-15 08:38] lmq3342xja opened #58277 "Do you want to support mips? Do you have a plan?"
Do you want to support mips? Do you have a plan?

[2018-01-15 08:50] dixudx commented on #56451
Correct. The only signals that can be sent to process ID 1, the init process, are those for which init has explicitly installed signal handlers. *This is done to assure the system is not brought down accidentally.*

[2018-01-15 09:01] radu-matei commented on #58238
@cceckman -  should I remove the example completely, or should we add to the docs documentation on how to use a `kubectl` container?

I am thinking both in-cluster and out of cluster authentication (mounting the kubeconfig file inside the container)?
Thanks!

[2018-01-15 09:09] wackxu commented on #58198
@kubernetes/sig-scheduling-feature-requests

[2018-01-15 09:09] wackxu commented on #58198
@kubernetes/sig-scheduling-feature-requests

[2018-01-15 09:12] wackxu commented on #58198
Is it needed since we have `taint` and `toleration` ?  What is difference between `PodNodeSelector ` and taint ? If it is necessary, I can help fix it.

[2018-01-15 09:13] wackxu commented on #58198
@k82cn @resouer

[2018-01-15 09:31] mdshuai commented on #37809
/close

[2018-01-15 09:31] #37809 closed

[2018-01-15 09:34] Stono commented on #58239
@mlmhl that worked a treat!  Thank you.
I think it'd be nice for the storageOptions in Parameters to be rejected if invalid.
Also maybe worth noting for others that if you update a storageclass with these mount options you actually have to delete and recreate the PVC/PV (thus losing your data) in order to get it picked up.

[2018-01-15 10:11] mfaizanse commented on #34327
/remove-lifecycle stale

[2018-01-15 10:19] errordeveloper commented on #19309
/lifecycle frozen

[2018-01-15 10:29] shyamjvs opened #58280 "'Volume plugin streaming [Slow] NFS...' e2e test failing on large clusters"
Noticing this is in our gce 5k-node cluster tests. It has been continuously failing for 4 runs now already:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/37
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/38 (and 39 and 40)

The e2e test concerned is - Volume plugin streaming [S

[2018-01-15 10:30] shyamjvs commented on #58280
cc @msau42 @saad-ali - Could one of you PTAL or redirect as apt?

[2018-01-15 10:33] CaoShuFeng opened #58281 "deviceplugin unit test failure"
This is not 100% reproducable in my cluster.

There is 20% chance of failing in my environment.

[code]

[2018-01-15 10:34] shyamjvs commented on #58280
FTR, it is passing on small scale - https://k8s-testgrid.appspot.com/google-gce#gci-gce-slow

I took a quick look at the [diff](https://github.com/kubernetes/kubernetes/compare/6d98cdbbf...dc44a3174) and the following PR catches my attention at first sight:

#57037 test: e2e: support NFS test on overlayfs

[2018-01-15 10:36] shyamjvs commented on #58280
@porridge Do we have some umbrella issue for failing correctness tests on large scale atm?

[2018-01-15 10:50] slallema commented on #53601
Sorry for the delay, I was off last week.
We (BlaBlaCar) are moving away from rktnetes implementation so it's ok for us if it gets deprecated.
Thanks for asking :)

[2018-01-15 10:53] RenaudWasTaken commented on #58281
/area hw-accelerators

@jiayingz mentioned a root cause that might be due to unit tests sharing the same Unix socket and interfering with each others.

[2018-01-15 11:06] porridge commented on #58280
Not really, we have https://github.com/kubernetes/kubernetes/issues/57323,
though.

[2018-01-15 11:20] vikaschoudhary16 commented on #58281
@CaoShuFeng Can you please share latest commit id of your code base using `git log`?

[2018-01-15 11:50] sybnex commented on #45419
Does anybody have this problem with docker > 12.6 ??? (Except the unsupported version 17.09)

I'm just wondering if switching to 13.1 or 17.06 would be helpfull.

[2018-01-15 11:51] ScorpioCPH commented on #58281
@CaoShuFeng Thanks very much, can you try the follow command please:

[code]

[2018-01-15 12:02] HcgRandon commented on #17657
Absolutely agree with @geoah this is something that should be handled by k8s.

I think a new resource should be created called 'registries'
so simply `kubectl create registry --server custom.docker.registry.tld --username foo --password bar`

and then anytime an image on `custom.docker.registry.tld` is seen k8s will simply use the username and password to authenticate

If you are looking for someo

[2018-01-15 12:03] warmchang commented on #10782
Can we try this VPA feture in K8S release 1.8?

[2018-01-15 12:30] wottui opened #58285 "Kube-dns can not start, who can help me"
[root@k8s_master network]# docker logs -f k8s_kubedns_kube-dns-7c8795467f-ddlfx_kube-system_3e2c1b1b-f9ef-11e7-8bc5-080027f57e7e_1
I0115 12:27:11.088709       1 dns.go:48] version: 1.14.4-2-g5584e04
I0115 12:27:11.113518       1 server.go:70] Using configuration read from directory: /kube-dns-config with period 10s
I0115 12:27:11.115558       1 server.go:113] FLAG: --alsologtostderr="false"
I0115

[2018-01-15 12:46] #58168 closed

[2018-01-15 12:54] Sh4d1 commented on #58214
@tobiasetter did you manage to fix it ? I'm running into the same problem..

[2018-01-15 13:01] andor44 commented on #49492
I don't know what sig is appropriate, maybe API machinery?

[2018-01-15 13:07] shyamjvs commented on #58154
Yes.. most probably here - http://perf-dash.k8s.io

[2018-01-15 13:11] pkaramol commented on #33664
any approach getting the

consensus yet?

is currently the ad hoc change of a key/value pair for an environment variable specifically used for this purpose the best solution up till now? (as proposed by @max-vogler in this [post](https://github.com/kubernetes/kubernetes/issues/33664#issuecomment-292895327))

[2018-01-15 13:22] angadn opened #58286 "Services unreachable as they age"
As seen on: https://stackoverflow.com/questions/48263580/kubernetes-services-unreachable-as-they-age

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I've been having a really frustrating issue where Kubernetes services randomly stop being available on their cluster IPs after around a few hours of deployment. They almost seem to be ageing.

My pods are having `hostNetw

[2018-01-15 13:26] angadn commented on #58286
@kubernetes/sig-network-bugs

[2018-01-15 13:34] novioleo opened #58288 "Cluster CAN NOT init normally."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I setup a k8s cluster via ansible,all the progress is success.however,i got some unfigurable error.
None of hosts can join into cluster.i have 5 servers to setup,and there are status of every node.
and all looks good.
master:
[code]
etcd1,node4:
[code]
etcd2,node5
[code]

**What you expected to happen**:
when i finish setup my clust

[2018-01-15 13:46] errordeveloper commented on #23349
`/lifecycle frozen`

[2018-01-15 13:50] rhcarvalho commented on #43811
This is a duplicate of #26895.

[2018-01-15 13:51] errordeveloper commented on #23349
It'd be very interesting to hear whether `cri-containerd` might provide some improvements vs latest version of Docker daemon and whether getting rid of pause containers could have any additional improvements.

[2018-01-15 13:53] errordeveloper commented on #50454
`/lifecycle frozen`

[2018-01-15 13:55] errordeveloper commented on #23816
`/lifecycle frozen`

[2018-01-15 13:55] errordeveloper commented on #12089
`/lifecycle frozen`

[2018-01-15 13:55] rhcarvalho commented on #26895
@kubernetes/sig-node-bugs (cc @derekwaynecarr)

FYI, I haven't worked on k8s for months now, I don't know the current state of this issue, but I believe it to be interesting enough to get someone's attention.

[2018-01-15 13:56] errordeveloper commented on #19310
`/lifecycle frozen`

[2018-01-15 13:57] chaosaffe commented on #23518
This can be handled as part of the CSI initiative, and does not belong in upstream any longer

[2018-01-15 13:57] #23518 closed

[2018-01-15 13:57] errordeveloper commented on #19310
/lifecycle frozen

[2018-01-15 13:57] errordeveloper commented on #23816
/lifecycle frozen

[2018-01-15 13:58] errordeveloper commented on #12089
/lifecycle frozen

[2018-01-15 13:58] errordeveloper commented on #50454
/lifecycle frozen

[2018-01-15 14:04] ianchakeres commented on #32266
I've started working on this issue with another team member at Salesforce. We'll update this issue when we have a new PR leveraging rbd-nbd.

/assign @ianchakeres

[2018-01-15 14:10] dillaman commented on #32266
As an FYI, I believe there is also an effort just getting underway to implement Container Storage Interface drivers for RBD and CephFS for use by k8s [1] to eventually replace the in-tree drivers.

[1] https://github.com/ceph/ceph-csi

[2018-01-15 14:15] php-coder commented on #58194
/king support

[2018-01-15 14:17] avaranovich commented on #44085
@andyzhangx, is this true, that cifs does not support guid setting?

https://unix.stackexchange.com/questions/68079/mount-cifs-network-drive-write-permissions-and-chown

https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux

[2018-01-15 14:19] php-coder commented on #58238
@kubernetes/sig-docs

[2018-01-15 14:19] nikhita commented on #50454
@errordeveloper Like @xingzhou mentioned, we can only use `--export=true` against a singular resource name. There is already an issue open for the same: https://github.com/kubernetes/kubernetes/issues/24855#issuecomment-329889844.

Did you face any other issues with respect to custom objects?

[2018-01-15 14:41] k82cn commented on #58198
@kubernetes/sig-scheduling-feature-requests

1. taint means which node pod can **NOT** use, selector means which nodes pod can **ONLY** use
1. regarding the PodNodeSelector admission, it's a kind of hard restriction; toleration is a kind of soft restriction, e.g. any pod can add toleration to use those nodes.

[2018-01-15 14:43] ITler opened #58290 "DNS problems from within container on AzureGermanCloud with multi-agent-k8s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Deploying a fresh K8s cluster on **AzureGermanCloud** shows DNS issues from within containers. Seems independent to pod's/container's internal Linux (issue seen with Debian, Ubuntu, Alpine). Should be reproducible with any kind of app image, I can using my own image and public nginx image as well as busybox.
Issue occurre

[2018-01-15 14:47] kweisamx opened #58291 "kubeadm crt for kube-apiserver"
I want to use the restful api to call  kubernetes apiserver to get information
But When I try this

[code]
and It will output
[code]

I give the crt and token, but why it still show system:anonymous?

**Environment**:
- Kubernetes version (use `kubectl version`):
1.9.0
- Cloud provider or hardware configuration:
bare metal
- OS (e.g. from /etc/os-release):
ubuntu
- Install tools:
kubeadm

[2018-01-15 14:50] ITler commented on #58290
/sig-azure

[2018-01-15 14:54] #42001 closed

[2018-01-15 14:55] andyzhangx commented on #44085
@avaranovich Of course cifs support gid setting, see example:
https://github.com/andyzhangx/Demo/blob/master/pv/storageclass-azurefile-mountoptions.yaml
I mean cifs does not support second time gid setting, kind of differnet than azure disk. Anyway, I am working on a PR to support `securityContext.fsGroup` if no gid setting in azure file storage class, while if both sets, only gid from storage cla

[2018-01-15 14:58] andyzhangx commented on #44085
@avaranovich while the code is quite different than just add below 3 lines of code, actually below does not work:
[code]

I will show you the PR tomorrow.

[2018-01-15 14:59] sttts opened #58292 "Move pkg/api helpers into pkg/apis/core"
Follow-ups of https://github.com/kubernetes/kubernetes/pull/53651:

- [ ] move pkg/api/v1/service https://github.com/kubernetes/kubernetes/pull/58297
- [ ] move pkg/api/pod
- [ ] move pkg/api/v1/pod
- [ ] move pkg/api/endpoints
- [ ] move pkg/api/v1/endpoints
- [ ] move pkg/api/resource
- [ ] move pkg/api/v1/resource
- [ ] move pkg/api/v1/node
- [ ] move pkg/api/ref
- [ ] Move pkg/api/ref to only

[2018-01-15 15:03] hzxuzhonghu commented on #58292
/cc

[2018-01-15 15:25] tnozicka opened #58296 "kubelet: Failed to find subsystem mount for subsystem: hugetlb"
If I run `hack/local-up-cluster.sh` first time it goes fine (after reboot). For subsequent runs I get nodes NotReady. I've tried restarting docker but that won't help. Before christams this used to work all the time. Running Arch Linux if it helps.

[code]

In `/tmp/kubelet.log` I see
[code]

[code]

[2018-01-15 15:55] crassirostris commented on #54063
Fluentd was moved out of the host network

[2018-01-15 15:55] #54063 closed

[2018-01-15 15:59] ivan4th commented on #51133
@everett-toews I also was only able to figure this out thanks to this issue and your comment.

[2018-01-15 16:03] vikaschoudhary16 commented on #58281
/assign

[2018-01-15 16:13] sttts commented on #58292
Commits are here https://github.com/kubernetes/kubernetes/pull/55492, but that monster PR is hard to review.

[2018-01-15 16:18] sohel2020 opened #58299 "unable to access apiserver using service IP from inside pod"
I'm able to communicate to apiserver using service IP from any node / minions
core@ip-10-112-17-200 ~ $ curl -k https://172.30.0.1:443/api/v1/endpoints?resourceVersion=0
Unauthorized

[root@test-1321332330-6td2z /]# curl -k https://172.30.0.1:443/api/v1/endpoints?resourceVersion=0 -m 10
curl: (28) Connection timed out after 10001 milliseconds
but If i try it from inside of pod then its timeout. (t

[2018-01-15 16:32] novioleo commented on #58288
/sig node

[2018-01-15 16:45] tnozicka commented on #58296
/sig node

[2018-01-15 16:52] kfox1111 commented on #32266
@sbezverk fyi

[2018-01-15 16:54] liggitt commented on #58291
verify $TOKEN actually contains the content you expect... if you are actually passing a token, you'll either get a 401 or be treated as the user the token identifies, not be treated as system:anonymous

this might be a better way to extract the token:

[code]

/close

[2018-01-15 16:54] #58291 closed

[2018-01-15 16:55] liggitt commented on #58299
/sig network
/kind support

[2018-01-15 16:57] liggitt commented on #58288
do you have the full command used to start the kubelets? are you pointing them at the apiserver (with a `--kubeconfig` flag) so they can register themselves, or  running them in standalone mode?

[2018-01-15 17:00] yastij commented on #25320
ping @gmarek

also cc @etiennecoutaud

[2018-01-15 17:12] Diggsey commented on #53495
This was fixed at some point.

[2018-01-15 17:12] #53495 closed

[2018-01-15 18:05] pschuegr commented on #53654
@zreigz Did you solve this issue?  If so, how?  seeing the same set of errors.

[2018-01-15 18:24] CindyXing commented on #52419
What's the plan for this bug? We hit the same in our lab. Thanks!

[2018-01-15 18:50] KeithTt commented on #57442
Close it.

[2018-01-15 18:50] #57442 closed

[2018-01-15 18:52] PatrickLang commented on #52419
I have someone looking into it but need to check back next week on status.

[2018-01-15 19:29] nikhita commented on #52653
/remove-lifecycle stale

[2018-01-15 19:33] cceckman commented on #58238
Examples are useful for establishing / encouraging best practice- so if there's a best practice for "`kubectl` in container," sure, would be good to capture that. If it's discouraged, thenit should be removed. I've no idea which of those is preferred.

(I'm just a novice k8s user, not part of sig-docs- just stopped by to help get the group's attention. :-) )

[2018-01-15 19:41] simonswine commented on #49387
@dixudx thanks for the PR for the field-selector. But I think this is not what I had in mind. I wanted to be able figure out pods that have one or more container that are not passing the readiness checks.

Given that I have non ready pod (kubectl v1.9.1) `READY  0/1`:
[code]
This pod is still in Phase running, so I can't get it using your proposed filter:

[code]

[2018-01-15 19:42] simonswine commented on #49387
/reopen

[2018-01-15 20:07] padgyx commented on #45961
You should install heapster to get the metrics for resource cpu:

[code]

[2018-01-15 20:40] bschwartz757 commented on #24745
@tlvenn so going back to one of your previous comments -

Does that mean you're using a service with `type: loadBalancer`? I thought ingress was supposed to be used only with `nodePort`. The service I'm using is type `nodePort` but the ws connection times out when the server returns a 101 status code. Just curious.

I tried removing the `rules` from my ingress as you suggested above, unfortunately

[2018-01-15 21:33] zetaab commented on #56657
@FengyunPan imo it has health-check https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L836 That is added to each member in lbaas pool. It means that if member does not answer it is dropped away from the load.

[2018-01-15 21:35] zetaab commented on #56855
@akalambu can you provide more information, like what version of kubernetes and when creating service type: loadbalancer information about all resources. For instance kubectl get svc -o wide and neutron lbaad-loadbalancer-list and then list pool members and stuff like that. Also controller logs are needed

[2018-01-15 21:42] tenkjm opened #58308 "Error to deploy mongo with azure file storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-Azure-azure

**What happened**: When i tired to deploy mongo with persistent storage mongo error was detected

**What you expected to happen**:

Error has happend when i try to deploy mongo with azure file storage.
Share mongo was created in azure.

**How to reproduce it (as minimally and precisely as possible)**:
I used:

[

[2018-01-15 21:43] zetaab commented on #42574
this can be closed https://github.com/kubernetes/kubernetes/commit/9bdf2cc0e7523bcb2146fa859759f5865635128e its already there. So annotation exist

[2018-01-15 21:58] jhorwit2 opened #58309 "OpenAPI generation should escape quotes when outputing `x-kubernetes-print-columns`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The [`CustomColumnPrinter`](https://github.com/kubernetes/kubernetes/blob/9af339885b68990a96470cc4350514d2a1ec30c8/pkg/printers/customcolumn.go#L71) mentions that it supports jsonpath. I tried to use jsonpath which worked with `kubectl` directly, but when I attempted to use it with the comment like so

`// +k8s:openapi-g

[2018-01-15 22:15] #58309 closed

[2018-01-15 22:16] jhorwit2 opened #58310 "OpenAPI generation should escape quotes when outputing `x-kubernetes-print-columns`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The [`CustomColumnPrinter`](https://github.com/kubernetes/kubernetes/blob/9af339885b68990a96470cc4350514d2a1ec30c8/pkg/printers/customcolumn.go#L71) mentions that it supports jsonpath. I tried to use jsonpath which worked with `kubectl` directly, but when I attempted to use it with the comment like so

`// +k8s:openapi-g

[2018-01-15 22:53] alexbrand commented on #52419
Adding @bsteciuk and @michmike.

[2018-01-15 23:16] #26452 closed

[2018-01-15 23:18] euank commented on #25766
/remove-lifecycle rotton

I think this issue is still valid, if not high priority

[2018-01-15 23:20] euank commented on #26903
There was an additional issue related to this, specifically the issue discussed in https://github.com/google/cadvisor/pull/1792. I think this is safe to close

/close

[2018-01-15 23:20] #26903 closed

[2018-01-15 23:44] munnerz opened #58311 "CRD validation fails with array type when field is not set in resource"
**What happened**:

I created a CRD with validation enabled (https://github.com/jetstack/cert-manager/pull/222/files). Our e2e tests with Kubernetes 1.9.1 failed when the `spec.dnsNames` field is empty. The build log is here: https://jetstack-build-infra.appspot.com/build/jetstack-logs/pr-logs/pull/jetstack_cert-manager/222/cert-manager-e2e-v1-9/45/

The relevant error:

[code]

`spec.dnsNames` is

[2018-01-15 23:49] liggitt commented on #58288
/kind support

[2018-01-16 00:02] liggitt commented on #26003
Yes, the client scheme used to watch must have v1 Status registered. I haven't seen this with custom resources with a correctly configured client

/close

[2018-01-16 00:02] #26003 closed

[2018-01-16 00:07] liggitt commented on #38117
Validation is available now. Additional changes will have their own proposals/trackers

/close

[2018-01-16 00:07] #38117 closed

[2018-01-16 00:17] liggitt commented on #40841
These exist now:

https://github.com/kubernetes/kubernetes/blob/bc0e706a0a4f8a67b6e0d0525baac42c198c4f47/hack/make-rules/test-cmd-util.sh#L1731-L1852

/close

[2018-01-16 00:17] #40841 closed

[2018-01-16 00:20] liggitt commented on #49878
APIService objects are registered with the aggregation server for every CRD-backed API group, just like every aggregated API group

/close

[2018-01-16 00:20] #49878 closed

[2018-01-16 00:23] jhorwit2 opened #58312 "Custom column printer doesn't handle column spacing well"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli
/area kubectl

**What happened**:

I have a custom resource type (aggregated apiserver) that sets the openapi fields for custom columns like so:
[code]
As you can see, the spacig is off for REGISTERED. I figured it might be a max size issue but looking around i see some columns that are larger like the following and they're displaye

[2018-01-16 00:31] trinitronx commented on #24349
Looks like `kubectl` binary is now copied from correct location in [`Makefile`](https://github.com/kubernetes/kubernetes/blob/e9dd8a68f60d2565069caed068f8fe4d493ea5ce/examples/kubectl-container/Makefile#L27), now using `GOARCH`, and `GOOS` variables detected from `go env` tool.

This is safe to /close

[2018-01-16 00:32] #24349 closed

[2018-01-16 00:48] liggitt commented on #3268
magic implicit file input doesn't seem great... what was the reason for reopening this?

[2018-01-16 01:30] CaoShuFeng commented on #58281
The latest commit id of my code base:
a698bc73eb0661d879832da388feba49ff88740a

[2018-01-16 01:33] novioleo commented on #58288
@liggitt  thks for your reply.
i start kubelet with service,the service execstart wrote with this:
[code]
you can notice that the kubeconfig flag was filled with `/etc/kubernetes/bootstrap.kubeconfig`
and there is what bootstrap.kubeconfig wrote:
[code]
all of these are from master.

[2018-01-16 01:33] CaoShuFeng commented on #58281
I found this is not 100% reproducable in my cluster.

There is 20% chance of failing in my environment.

[2018-01-16 01:36] CaoShuFeng commented on #58281
[code]

[2018-01-16 01:56] CaoShuFeng commented on #58281
Result of go test command:
[code]

[2018-01-16 02:17] #57979 closed

[2018-01-16 02:29] liggitt commented on #58310
/assign @mbohlool

[2018-01-16 02:33] InAnimaTe commented on #35890
`roleRef` in that format doesn't work for me either....from the default `ClusterRoleBinding` portworx provides:

[code]

[2018-01-16 02:42] tlvenn commented on #24745
No sorry for the confusion, I was just merely pointing at the google cloud http load balancing part.

Weird.. You might want to try deploying the websocket example to check wether you can make it work in your cluster or not.

[2018-01-16 02:42] liggitt commented on #35890
@InAnimaTe  that works fine for me... what version of kubectl are you using?

[code]

[2018-01-16 03:07] liggitt commented on #58179
Closing since this isn't recreatable. Please reopen with more details if you can reproduce

/close

[2018-01-16 03:07] #58179 closed

[2018-01-16 03:08] srikumarb commented on #55807
I ended up using livenessProbe with a timestamp file to know the liveliness of the container from sidecar container. Hope that helps as a workaround for you also

[2018-01-16 03:10] liggitt commented on #7547
Closing because of the usability issues that would be caused by adding this
/close

[2018-01-16 03:10] #7547 closed

[2018-01-16 03:32] InAnimaTe commented on #35890
Slightly older:

[code]

[2018-01-16 03:47] liggitt commented on #35890
I get the same result with those versions

[code]

[2018-01-16 05:03] liggitt commented on #21476
/close

[2018-01-16 05:03] #21476 closed

[2018-01-16 05:15] liggitt commented on #44177
that is correct
/close

[2018-01-16 05:15] #44177 closed

[2018-01-16 06:04] sunriax commented on #57870
The Problem is that there is an Issue so that the Kubernetes Master ETCD can´t start up you have to create a kubernetes config file for kubeadm init and try this #57709 Take a look on @Arnavion Anarvions comment!

[2018-01-16 06:07] jacobpm commented on #58139
@thockin @m1093782566 @kubernetes/sig-network-bugs
Could you please help shed some light on this issue.  It's turning out to be a blocker for us.  Hence the request.

[2018-01-16 06:13] #42364 closed

[2018-01-16 06:13] #57379 closed

[2018-01-16 06:26] porridge commented on #58152
There are no comments, so unless someone objects, I'm going to move contrib/perfdash to test-infra/perfdash.

[2018-01-16 06:27] #58274 closed

[2018-01-16 06:35] nikhita commented on #58311
@munnerz If I understand correctly, it is working as intended. Can you comment if the below cases make sense with regards to what you are doing?

**Create the CRD**:

[code]

1. **Create a certificate without `spec.dnsNames`**: The certificate is created since `spec.dnsNames` is not required.

[code]

2. **Create a certificate with an empty `spec.dnsNames`**:

[code]

3. **Create a certificate wit

[2018-01-16 06:54] timoreimann commented on #25251
@smarterclayton have you had a chance to discuss the matter?

[2018-01-16 06:55] sttts commented on #58311
As counter-intuitive as this is, I think @nikhita is right. The last example translates to a null type. Null types are no arrays in JSON-Schema (the base of OpenAPI validation).

You have to use `anyOf` to allow null as well.

[2018-01-16 07:19] jianglingxia commented on #57639
the first requet and response
![image](https://user-images.githubusercontent.com/25783555/34975875-d67ace6e-face-11e7-8d1a-ab300ff7c54e.png)
![image](https://user-images.githubusercontent.com/25783555/34975958-30c607da-facf-11e7-932c-5a4292c5e117.png)
the second request and response
![image](https://user-images.githubusercontent.com/25783555/34976010-7a8d31cc-facf-11e7-92c1-2034de7ac381.png)
![ima

[2018-01-16 07:26] gyliu513 commented on #51290
/remove-lifecycle stale

[2018-01-16 07:55] Davidrjx commented on #55807
@srikumar-b liveness probe utils is used to check when to restart one container. i am not clear why it could be as an option to deal with this issue

[2018-01-16 07:59] miaoyq opened #58321 "Benchmark test should be generic to all CRI container runtimes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Now, benchmark test make docker as the only runtime.

**What you expected to happen**:
benchmark test should be generic to all CRI container runtimes
Related to #57977
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2018-01-16 08:05] miaoyq commented on #58321
/sig test

[2018-01-16 08:08] miaoyq commented on #58321
/area test
/area node-e2e

[2018-01-16 08:40] yu-yang2 commented on #45419
@sybnex 17.03 also have this problem in our cluster, It is most like a CNI bug.

[2018-01-16 08:47] vikaschoudhary16 commented on #56307
IMO this is not a valid issue. If a resource allocation is success for init containers and allocation fails for regular containers, pod will not be in active state eventually. And for any allocation calls in future, `m.allocatedDevices` is updated again before starting allocation process.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/deviceplugin/manager.go#L603

[2018-01-16 08:49] hzxuzhonghu opened #58325 "azure TestGetInstanceIDByNodeName data race"
/kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58320/pull-kubernetes-bazel-test/25992/
[code]

[2018-01-16 08:50] hzxuzhonghu commented on #58325
/area azure

[2018-01-16 08:51] hzxuzhonghu commented on #58325
I find the root cause, and can fix it.

[2018-01-16 09:03] hzxuzhonghu commented on #58325
/kind bug

[2018-01-16 09:05] hzxuzhonghu commented on #58325
/cc @andyzhangx @feiskyer

[2018-01-16 09:11] feiskyer commented on #58325
@hzxuzhonghu Cool, thanks

[2018-01-16 09:31] ev4ern opened #58328 "Disable ssl redirect for specified path (HTTPIngressPath) in ingress"
/kind feature

Sometimes we need to disable ssl redirect for specified path (HTTPIngressPath) in ingress.
There is no way to do it :(

[2018-01-16 09:38] sunriax commented on #57709
Maybe this issue happens because the etcd tries to resolve localhost with dns and not with the /etc/hosts files. We have got the same issue and tried your config which works fine. After a while we tried to resolve localhost with dns and there was a dns entry to an other server ;-). So etcd tried to bind to this address. We did not check again if this was the problem but we will try the next time a

[2018-01-16 09:43] tjliupeng commented on #57870
This issue is resolved.

[2018-01-16 09:43] #57870 closed

[2018-01-16 09:46] ev4ern commented on #58328
/apps

[2018-01-16 09:46] ev4ern commented on #58328
/sig apps

[2018-01-16 10:03] dbaumgarten commented on #42574
Closed, als this is implemented with https://github.com/kubernetes/kubernetes/commit/9bdf2cc0e7523bcb2146fa859759f5865635128e

[2018-01-16 10:03] #42574 closed

[2018-01-16 10:18] cpnielsen opened #58329 "Add option to configure load balance algorithm to service"
Feature request:

When using `ipvs`, it is possible to set a specific scheduler up that determines, cluster-wide, which algorithm to use; `round-robin`, `least-connection`, etc.

It would be useful to have this option available on individual services. When no annotation is set or an unsupported algorithm is defined (or `ipvs` is not used), the service would fall back to the default set up for `kub

[2018-01-16 10:20] cpnielsen commented on #58329
/sig network

[2018-01-16 11:02] gmarek commented on #25320
IIRC `Unschedulable` was supposed to be deprecated in favor of Taints. Desired usecase for it was to allow cluster operator to tell the system where it shouldn't schedule Pods, which currently can be done by Taints in much better and more configurable way.

If anything currently depends solely on `Unschedulable` it's a bug and should be migrated to look at NoSchedule/NoExecute Taints as well. @dav

[2018-01-16 11:07] munnerz commented on #58311
Ah - you are correct @nikhita! This was all being handled by my client library, meaning the actual on-the-wire JSON was 'hidden' from me. Adding `omitempty` to the fields JSON struct tags have resolved this problem for me. Thanks!

/close

[2018-01-16 11:07] #58311 closed

[2018-01-16 11:32] m1093782566 commented on #44409
/assign

[2018-01-16 11:32] nikhita commented on #48211
/remove-lifecycle stale

[2018-01-16 11:32] nikhita commented on #49075
/remove-lifecycle stale

[2018-01-16 11:35] hzxuzhonghu commented on #58329
/cc @m1093782566

[2018-01-16 11:36] m1093782566 commented on #38890
/assign

[2018-01-16 11:39] m1093782566 commented on #58329
The problem is only IPVS proxier support algorithm other than rr and IPVS proxier is still an beta feature although there is a plan for moving it forward GA in v1.10.

[2018-01-16 11:40] yastij commented on #25320
@gmarek - some parts still depends on this(kubelet and service_controller and some other parts), It'll be migrated with the nodeConditions.

[2018-01-16 11:43] manojdevs commented on #58285
/addons

[2018-01-16 11:45] errordeveloper commented on #44025
/lifecycle frozen

[2018-01-16 11:45] manojdevs commented on #58285
did you apply the iptable-rules to route the requests to the api service?

[2018-01-16 11:46] cpnielsen commented on #58329
@m1093782566 I can understand, and it's not urgent, but I imagine there is most definitely a use case although it likely falls in the "nice to have"-category. My impression is also that above a certain size, IPVS is the only option (due to performance regressions at scale with iptables-based routing).

[2018-01-16 11:47] errordeveloper commented on #33877
/close

I haven't seen this behaviour in a while...

[2018-01-16 11:47] #33877 closed

[2018-01-16 11:48] errordeveloper commented on #42789
Closing, as it's inconclusive.

[2018-01-16 11:48] #42789 closed

[2018-01-16 11:49] wottui opened #58333 "kubedns stop worker"
W0116 11:46:43.125962       1 server.go:64] Error getting metrics from dnsmasq: read udp 127.0.0.1:57441->127.0.0.1:53: read: connection refused

[2018-01-16 11:51] errordeveloper commented on #53224
[code]

[2018-01-16 11:53] errordeveloper commented on #37576
Closing in favour of #53224.

[2018-01-16 11:53] #37576 closed

[2018-01-16 11:54] errordeveloper commented on #19329
Closing in favour of #19432.

[2018-01-16 11:54] #19329 closed

[2018-01-16 12:01] jsravn commented on #50915
I'm not sure this behavior is desirable at all, actually. If there is some issue in the cloud provider, the controller manager will indiscriminately delete nodes (and their pods), even if the node itself is up and happy and reporting okay status.

[2018-01-16 12:06] jsravn opened #58334 "controller manager deletes nodes before they have a chance to get ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cloud provider was having issues, so a newly provisioned node was not found shortly after creation. As soon as the node registers itself to apiserver, controller-manager immediately deletes it. This leads to error loops in kubelet on the new node as it doesn't expect itself to be deleted asynchronously, and also prevents

[2018-01-16 12:06] jsravn commented on #50915
Made https://github.com/kubernetes/kubernetes/issues/58334 in favor of this.

[2018-01-16 12:06] #50915 closed

[2018-01-16 12:22] awh opened #58335 "Kubelet sandbox GC can close hostPorts that are in use by a different pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

It is possible for sandbox GC to close a hostPort that is held open by kubelet, even though that hostPort is in use by a running pod.

**What you expected to happen**:

Sandbox GC should only close hostPorts if they were opened by kubelet on behalf of the sandbox in question.

**How to reproduce it (as minimally and prec

[2018-01-16 12:27] errordeveloper commented on #31417
I don't see this happening any more, must have been fixed.

[2018-01-16 12:27] #31417 closed

[2018-01-16 12:28] mlmhl commented on #54108
@mtanino
I'm not sure if this [method](https://github.com/kubernetes/kubernetes/blob/a6710f3b8751154596ebf29feecd4b90d06ad4bc/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L139) is the **AccessModes enforce via A/D controller** as you mentioned above.

IIUC, this method is introduced to let attach operation fails fast for special case(`AzureDisk`), avoid A/D controller hangs on a sin

[2018-01-16 12:32] awh opened #58336 "Traffic to hostPorts blackholed/misdirected when hostPort's pod IP changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Stale conntrack mappings resulting from hostPort NAT rules can cause traffic to be blackholed/sent to the wrong pod when the IP of the hostPort pod changes.

**What you expected to happen**:

Conntrack mappings should be deleted by kubelet when it changes the NAT mappings for a hostPort.

**How to reproduce it (as minima

[2018-01-16 12:36] discordianfish commented on #30645
/lifecycle frozen

[2018-01-16 12:37] awh commented on #58335
/sig network

[2018-01-16 12:38] awh commented on #58336
/sig network

[2018-01-16 12:58] nikhita commented on #21402
/remove-lifecycle stale

[2018-01-16 12:59] soltysh commented on #14961
/remove-lifecycle stale
/lifecycle frozen

[2018-01-16 13:01] igorpeshansky commented on #23195
@crassirostris Hasn't this been addressed already?

[2018-01-16 13:19] nikhita commented on #58312
Dupe of https://github.com/kubernetes/kubernetes/pull/56629.

There is a PR open - https://github.com/kubernetes/kubernetes/issues/56282. :)

/close

[2018-01-16 13:19] #58312 closed

[2018-01-16 13:38] beatlejuse opened #58338 "externalTrafficPolicy=Local(NodePort) source IP error"
i set key externalTrafficPolicy=Local in service type NodePort
and get wrong source IP: 10.1.29.23 and 10.4.59.1
10.1.29.x - k8s nodes subnet, 10.4.x.x - k8s pods subnet.

https://github.com/kubernetes/kubernetes/issues/57922#issuecomment-357562970

/kind bug
/sig network

**Environment**:
- Kubernetes version (use `kubectl version`): api v1.8.1 / kubectl v1.6.1
- Cloud provider or hardware config

[2018-01-16 14:18] klausenbusk commented on #32334
/close

https://github.com/kubernetes/kubernetes/issues/39326#issuecomment-354020014

+ there is some work going on, moving all volume plugins out-of-tree and new in-tree volume isn't accepted (IIRC).

[2018-01-16 14:18] #32334 closed

[2018-01-16 14:21] klausenbusk commented on #34783
I assume we can close this? DigitalOcean now provide a cloud-controller https://github.com/digitalocean/digitalocean-cloud-controller-manager + there is a digitalocean block storage provisioner (including a flexplugin): https://github.com/kubernetes-incubator/external-storage/tree/master/digitalocean

[2018-01-16 14:26] nikhita commented on #53777
/assign

[2018-01-16 14:42] #37455 closed

[2018-01-16 14:42] #58325 closed

[2018-01-16 15:20] #57760 closed

[2018-01-16 15:22] flyingcougar commented on #57681
cpu manager supports checkpointing now - please retest

[2018-01-16 15:26] flyingcougar opened #58339 "CPU Manager using Node-level Checkpointing manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
CPU manager uses its own checkpointing mechanism.

**What you expected to happen**:
CPU Manager uses Node-level Checkpointing manager (#56040)

[2018-01-16 15:27] flyingcougar commented on #58339
/kind feature

[2018-01-16 15:56] cwingrav commented on #40968
Completely agree about toggling contexts. While not helpful to the CLI UX, for mac users, I suggest a bit of AppleScript to open a popup that shows the current context and then a menu selector to toggle the context. Hopefully this isn't too off-topic:

This is AppleScript. I activate it via (shift-cmd-x) via FastScripts (set a key combo). Place this AppleScript in this directory: $(HOME)/Library/S

[2018-01-16 16:04] nikhita commented on #38759
We have the generic scale client now. Closing.

/close

[2018-01-16 16:04] #38759 closed

[2018-01-16 16:09] shiywang commented on #40968
thanks for all this feedback, will take a look this tomorrow : )

[2018-01-16 16:21] bsteciuk commented on #52419
Volume mounting secrets is currently a documented known limitation at the moment https://kubernetes.io/docs/getting-started-guides/windows/ .  @PatrickLang glad to hear somebody is looking into it, that's great news!

[2018-01-16 16:21] gempesaw commented on #33777
We had this same issue: we could schedule pods with CPU resources initially, over time the master(?) seemed to fall out of sync and wouldn't schedule any pods with CPU resources despite `describe nodes` reporting plenty of capacity - at which point, restarting the master temporarily restores functionality until it thinks the nodes are full again.

As part of coreOS updates, we bumped our etcd vers

[2018-01-16 16:39] #54075 closed

[2018-01-16 16:42] sbezverk opened #58343 "CSI plugin does not support user credentials"
Currently CSI plugin does not pass user credentials in NodePublishVolume and NodeUnpublishVolume calls.
/sig storage
/kind bug
/assign @sbezverk

[2018-01-16 16:48] rootfs opened #58344 "Invalid Azure disk stops other disk attaching"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG
/kind bug

**What happened**:
Invalid azure disk URIs is not cleared and it keeps other disk attach fail.

**What you expected to happen**:
The bad request should be cleared so it shouldn't block other disk attach

**How to reproduce it (as minimally and precisely as possible)**:

Create Pod A with bad URI
[code]
Pod A keeps spinning at ContainerCr

[2018-01-16 16:55] php-coder opened #58346 "hack/local-up-cluster.sh passes deprecated options to scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I run local cluster by `hack/local-up-cluster.sh` command, I see a warning in a scheduler log:
[code]

**What you expected to happen**:
No such warning.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
[code]

[2018-01-16 16:55] php-coder commented on #58346
I don't know who is responsible for `local-up-cluster.sh` script, so I can't assign a proper SIG.

[2018-01-16 16:57] jrife opened #58347 "Kubernetes Keeps Restarting Pods of StatefulSet With “Need to kill pod” As The Only Indication Why"
/kind bug
@kubernetes/sig-api-machinery-bugs
**What happened**:
The problem that I am facing is that I have several statefulsets created in minikube each with one pod.

Sometimes when I start up minikube my pods will start up initially then keep being restarted by kubernetes. They will go from the creating container state, to running, to terminating over and over.

I've seen kubernetes kill and re

[2018-01-16 16:59] rootfs commented on #58344
/sig azure
/sig storage

[2018-01-16 17:00] php-coder commented on #58346
The similar messages in the `/tmp/kubelet.log`:
[code]

[2018-01-16 17:09] #30820 closed

[2018-01-16 17:13] php-coder opened #58348 "GET /healthz panics during startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I run local cluster by `hack/local-up-cluster.sh` command, in the api-server log I see that `GET /healthz` request was panicked.

**What you expected to happen**:
It shouldn't panic.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Excerpt from `/tmp/kube-apiserver.l

[2018-01-16 17:13] php-coder commented on #58348
`[-]poststarthook/rbac/bootstrap-roles failed: reason withheld` <-- could it be related to RBAC?

[2018-01-16 17:15] jrife commented on #58347
/sig api-machinery

[2018-01-16 17:45] david-mcmahon commented on #28405
I would say this is now handled by the release note drafts that accompany our regular minor releases.

[2018-01-16 17:45] #28405 closed

[2018-01-16 18:19] yujuhong commented on #12826
Still relevant, but we don't plan to work on this until rktnetes is removed (to reduce the scope and complexity of the refactoring).

[2018-01-16 18:25] yujuhong commented on #26464
We should repurpose this bug to test pulling images in CRI runtimes.

[2018-01-16 18:37] mtaufen commented on #29391
/lifecycle frozen
We should do something like this, but won't get to it this quarter.

[2018-01-16 18:38] MrHohn commented on #58338
Trying to understand --- does the request come out of a pod that locates on the same node?

In current implementation, when externalTrafficPolicy=Cluster, all packets targeting a nodePort service will traverse KUBE-MARK-MASQ chain first, which means:
- If a packet is forwarded to a pod on a different node, its source IP will be the node IP.
- If a packet is forwarded to a pod on the same node, its

[2018-01-16 18:52] yujuhong commented on #19519
This is outdated due to CRI

[2018-01-16 18:52] #19519 closed

[2018-01-16 18:57] yujuhong commented on #15564
I think this is still relevant, but would like input from @dashpole

[2018-01-16 19:00] bgrant0607 commented on #17447
This has been superseded by work in SIG Service Catalog and in the Application Definition Working Group. In both cases, ongoing work isn't in this repo, so closing as obsolete.

[2018-01-16 19:00] #17447 closed

[2018-01-16 19:00] bgrant0607 commented on #29776
Out of scope for ConfigMap.

[2018-01-16 19:00] #29776 closed

[2018-01-16 19:06] shay-berman opened #58352 "Automatic plugin discovery should trigger plugin init only for the relevant plugin (and not to all the existing plugins)"
/kind bug

**What happened**:
When you update a specific plugin in the /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ kubernetes will trigger init to all the plugins in the  /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ directory.
For example if you have the IBM flexvolume plugin installed in /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ibm~ubiquity-k8s-flex/ubiquity-k8s-flex,

[2018-01-16 19:06] minherz commented on #55894
I have similar issue when using Kubernetes 1.8.5-gke.0 in GKE.

[2018-01-16 19:08] msau42 commented on #58280
#57037 does look very suspicious.  Before, the NFS server test image would use the container image layer for its data, and this change makes it use emptydir tmpfs instead.  @shyamjvs for the large scale tests, do you guys have default memory limits for pods?  That could potentially explain why it's failing on large scale tests and not the regular tests.

A possible fix could be to change it to use

[2018-01-16 19:14] #30117 closed

[2018-01-16 19:21] DirectXMan12 commented on #10782
not really.  None of the work has really landed yet (except for @mhausenblas's PoC called `resourcerer`, but that's not quite the same as the final design).

[2018-01-16 19:22] DirectXMan12 commented on #28986
/close

[2018-01-16 19:22] #28986 closed

[2018-01-16 19:23] jrife commented on #58347
After adjusting the log level I keep seeing this message in the minikube logs.

[code]

Googling this error yields this post which looks like a similar problem:
https://github.com/openshift/origin/issues/17435
which links to
https://github.com/kubernetes/kubernetes/issues/56355

If I run the following command it shows two controller revisions for the mongo statefulset

[code]

which seems to line

[2018-01-16 19:24] bgrant0607 commented on #24064
Now officially `Port`. This is something a linter could have caught.

[2018-01-16 19:24] #24064 closed

[2018-01-16 19:27] khenidak commented on #40686
This has been stalling for a year now.

@djsly can we have a use case for this? or else let us put a low pri on it?

[2018-01-16 19:34] khenidak commented on #40684
This has stalled for a year now. @jdumars Can we close if we don't have a use case?

@djsly Kubernetes scheduler does not recognize FD/UD, it only understand zones. let us say you have Availability Set (or VMSS) deployed on Azure as agent pool what you will end up is something like this (if you used ud = 5)

node 1: fd1 ud1
node 2: fd2 ud2
node 3: fd3 ud3
node 4: fd1 ud4
node 5: fd2 ud5
node 6: fd

[2018-01-16 19:36] khenidak commented on #40913
The progress on this can be tracker here https://github.com/kubernetes/kubernetes/issues/43287

[2018-01-16 19:40] nikhita commented on #49465
This is still not fixed (even after kubectl moving to OpenAPI).

There are two problems here:

1. kubectl uses groups registered into a group registry. This can be fixed by:

[code]

However, after this it gives:

[code]

2.  This occurs because of incorrect openAPI schema. The schema does not contain apiextensions and apiregisteration.

kubectl explain looks up the gvk of the resource in question

[2018-01-16 19:40] tallclair commented on #56586
I'm going to argue against this feature for 2 reasons:
1. Annotations can contain arbitrary data, and thus be arbitrarily large. The matadata log-level should not (for performance & storage).
2. The metadata log-level does not include any information from the request object, so the object doesn't need to be decoded to log it. This is beneficial for performance, but also lets us log (at metadata) o

[2018-01-16 19:41] nikhita commented on #52741
Looks like this blocks https://github.com/kubernetes/kubernetes/issues/49465.

[2018-01-16 19:47] shyamjvs commented on #58280
FMU we're not setting any memory limits for pods explicitly and it's the same e2e test running on both the large cluster and the small cluster. I'm not sure if there's sth (like an admission plugin) which secretly sets memory limits for pods based on cluster size - I'd be quite surprised if that's the case.

[2018-01-16 19:48] djsly commented on #40686
One Use Case

We have different node pool type in our k8s cluster, We tag the VM in Azure with different metadata. e.g. SSD / tenantID / etc

Those tags are used by billing and the team in charge of breaking down the cost across tenants and other dimensions and we also need to redo the same mapping at the Kubernetes level to enable proper node selectors in our manifest based on Node Labels.

[2018-01-16 19:50] nikhita commented on #49325
Weird, the bot did not remove the `lifecycle/state` label even after commenting.

/remove-lifecycle stale

[2018-01-16 19:51] nikhita commented on #49391
/remove-lifecycle stale

[2018-01-16 19:52] DirectXMan12 commented on #51650
/remove-lifecycle stale

[2018-01-16 19:53] nikhita commented on #49038
/remove-lifecycle stale

[2018-01-16 19:54] msau42 commented on #58280
Hmm or it could be that in the scale test, the nodes are more loaded, so resources could be more constrained.  In any case, I think it's better for this test to not write to tmpfs, because it can write gigs of data.

[2018-01-16 19:55] DirectXMan12 commented on #29698
and PRs to make kubectl scale aware of that are being finished up: #58298

[2018-01-16 19:57] khenidak commented on #49857
I looked at the logs. With the very limited details I have i noticed the following:
- docker's unix socket broke and dockerd couldn't recover after. The service hanged because **i think** docker was not designed for cases where the socket was forcibly closed outside the daemon.

I noticed that you are running gitlab (on master?), are you mounting the docker socket inside this container?

[2018-01-16 19:58] bgrant0607 commented on #25521
/remove-lifecycle rotten

[2018-01-16 19:59] liggitt commented on #58352
/sig storage

[2018-01-16 19:59] nikhita commented on #20978
/lifecycle frozen

[2018-01-16 19:59] nikhita commented on #20978
/remove-lifecycle stale

[2018-01-16 20:01] liggitt commented on #58348
it's not a panic, it's an intentional stack trace log that is done for any server error http status (which /healthz returns while startup is happening and the server isn't healthy yet):

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go#L207

I think it's silly, but it's intentional

/close

[2018-01-16 20:01] #58348 closed

[2018-01-16 20:02] bgrant0607 commented on #3268
@liggitt Current default behavior is to look for files with .yaml, .yml, and .json suffixes in a directory. Keeping this open regarding providing a way to override that behavior with a file of a well known name.

[2018-01-16 20:02] liggitt commented on #58346
/sig scheduling

[2018-01-16 20:02] shyamjvs commented on #58280
I would be surprised a bit if that was the case - as this test was passing for quite some time (https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness). So mostly unless sth changed around this e2e test or with storage/kubernetes, it doesn't seem to be so.

Anyhow, not writing gigs of data to tmpfs does sound good to me :) One more thing to note is we're using the following con

[2018-01-16 20:02] bgrant0607 commented on #3268
/lifecycle frozen

[2018-01-16 20:03] nikhita commented on #45539
/remove-lifecycle stale

[2018-01-16 20:04] nikhita commented on #44620
/remove-lifecycle stale

[2018-01-16 20:05] liggitt commented on #58334
/sig aws

[2018-01-16 20:07] liggitt commented on #58343
this is covered in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#csi-credentials and is not part of the initial alpha release, but is planned

/close

[2018-01-16 20:10] nikhita commented on #46107
There is a PR open: https://github.com/kubernetes/kubernetes/pull/53185.

/remove-lifecycle stale

[2018-01-16 20:11] djsly commented on #40684
You model works as long as you have less then 15 nodes. After that the FD/UD pair starts repeating and you start having risk of having the same FD/UD pair running you X replicas.
Your 5 replicas could end up on 5 nodes with the same UD.

Node 1: fd1 ud1
Node 11: fd2 ud1
Node 6: fd3 ud1
Node 16: fd1 ud1
Node 21: fd3 ud1

Another Meltdown maintenance window would have brought down all 5 replicas.

W

[2018-01-16 20:15] sbezverk commented on #58343
@liggitt I am working on adding this functionality to CSI and this issue was opened to match with PR I am about to push. Please do not close right away, without at least asking in the thread the reason for this issue.

[2018-01-16 20:16] bgrant0607 commented on #6439
That error is emitted by kubectl rather than by apiserver, but I suppose this could be lumped into #5889

[2018-01-16 20:17] khenidak commented on #47733
@edevil The error is coming from the controller itself. azure would have its logs (it it was called by the controller). These log likes should be (if indeed a call executed) just before the service_controller failure. Can you please share them?

[2018-01-16 20:19] liggitt commented on #58343
Sorry for the confusion. If it is tracking current feature work it should not be classified as a bug

/open
/kind feature

[2018-01-16 20:23] bgrant0607 commented on #33664
Translate tag to digest. Discussed in more detail in #1697

[2018-01-16 20:25] nikhita commented on #46895
/remove-lifecycle stale

[2018-01-16 20:27] sbezverk commented on #58343
@liggitt thanks, I was not sure whether it was a feature or bug, since certain fields were just missing from NodePublishVolumeRequest struct.

[2018-01-16 20:27] nikhita commented on #44154
/remove-lifecycle stale

[2018-01-16 20:33] sjenning commented on #33049
This was fixed in https://github.com/kubernetes/kubernetes/pull/42435

[2018-01-16 20:33] #33049 closed

[2018-01-16 20:40] cmluciano commented on #51451
/close

stale

[2018-01-16 20:40] #51451 closed

[2018-01-16 20:42] cmluciano commented on #53657
/remove-label sig-network

@kubernetes/sig-gcp-bugs

[2018-01-16 20:43] cmluciano commented on #58180
@kubernetes/sig-network-bugs

cc @danehans

[2018-01-16 20:44] msau42 commented on #58280
Yah so this test got changed from using disk to using memory by #57037, which is when this test started failing.  So I suspect it is related to either a memory limit or memory pressure.

[2018-01-16 20:45] wojtek-t commented on #32726
/remove-lifecycle rotten.

[2018-01-16 20:50] vladimirvivien opened #58355 "CSI - Node Authorizer for VolumeAttachment objects"
/kind feature
This issue is to ensure that the there is a node authorizer rule added to ensure that Kubelets are only allowed to access CSI VolumeAttachment objects related to the node.  For instance, during volume.SetupAt,  the CSI code creates a VolumeAttachment and saves it as an API object.  The authorizer would ensure that the new object can only come from a pod corresponding to volume refere

[2018-01-16 20:50] vladimirvivien commented on #58355
/sig storage

[2018-01-16 21:01] rjmorse commented on #34327
Is this issue still outstanding? Are there metrics that are currently missing for this to be considered complete?
These PRs look to have addressed Windows metrics between August and November for the 1.9 release:
https://github.com/kubernetes/kubernetes/pull/51152 Implement CRI stats in Docker Shim
https://github.com/kubernetes/kubernetes/pull/50396 Add Windows Server Containers Stats and Metrics t

[2018-01-16 21:07] cmluciano commented on #9172
/close

should be covered in e2e

[2018-01-16 21:07] #9172 closed

[2018-01-16 21:10] kmcnellis commented on #21967
/remove-lifecycle stale

[2018-01-16 21:13] beatlejuse commented on #58338
request out of the ыныеуь, which is outside the Kubernetes cluster

[2018-01-16 21:16] cmluciano commented on #50495
/lifecycle frozen

[2018-01-16 21:31] liggitt commented on #58355
/sig auth

[2018-01-16 21:31] itowlson opened #58357 "Azure Application Gateway ingress controller"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

**What happened**: We have a customer request (via Kubernetes Slack sig-azure channel) for ingress controller for Azure Application Gateway.  I have started some work on this (in a separate repo) but it's not yet ready for even kicking the tyres.  This is a tracking issue for people to discuss requirements and progress.

[2018-01-16 21:31] itowlson commented on #58357
/sig azure

[2018-01-16 21:32] bsalamat commented on #58242
This is a very useful feature that has been in our radar for a while. I can think of two possible implementation options: 1. add a feature to the scheduler to support dry-run, 2. create a separate tool that simulates a cluster by replicating its state on a independent machine and allows user to play with it. The two approaches have their own pros and cons. I think we should have a design doc to li

[2018-01-16 21:33] dashpole commented on #15564
My impression is that https://github.com/kubernetes/kubernetes/issues/57006 is the primary issue driving user confusion.  I am not aware of any major bugs with it, but the events can be misleading, since they "fail", even when the system is WAI.  I believe https://github.com/kubernetes/kubernetes/pull/58229, and https://github.com/kubernetes/kubernetes/pull/57020 will solve this.

[2018-01-16 21:34] #58280 closed

[2018-01-16 21:38] liggitt commented on #58242
for reference, openshift has cluster capacity tool that takes the current state of a cluster as a starting point, then runs simulated schedules of a prototypical pod for capacity calculations:
* https://docs.openshift.com/container-platform/3.6/admin_guide/cluster_capacity.html
* https://www.youtube.com/watch?v=uNQt5Y8RTZk

cc @aveshagarwal

[2018-01-16 22:01] bobhenkel commented on #52423
I see something similar.
3 masters
5 workers

On AWS terminate 1 master down to 2 masters
kubectl run bob-workstation and kubectl delete pod tillerXYZ on existing pods results in this

[code]

Still looking into how to fix this, this is a nonprod single user cluster now so not a rush job just want to learn.

[2018-01-16 22:25] gerardo8a opened #58361 "Unable to decrypt ETCD data"
/kind bug

**What happened**:
I encrypted the ETCD data using this documentation https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

**What you expected to happen**:
Before encrypting I verified the data in ETCD was not encrypted. After encrypting all data I verified again in ETCD and data was encrypted. Verified by following the steps on the documentation.

I followed the de-encryp

[2018-01-16 22:36] cmluciano commented on #58281
/sig scheduling

[2018-01-16 22:50] bsalamat commented on #57576
PodFitsHostPorts covers PodFitPorts, but ServiceSpreadingPriority does not have a replacement and I think should be kept or replaced by another function.
Speaking of deprecation, we also have Service Affinity predicate which is not enabled by default. I am not sure if it is being used. I think it should be removed from the the main scheduler and go to an extender if anyone needs it.

[2018-01-16 22:57] euank commented on #24563
Closing this as stale; rktnetes has transitioned to [rktlet](https://github.com/kubernetes-incubator/rktlet/), if this failure is relevant there it should be filed there

/close

[2018-01-16 22:57] #24563 closed

[2018-01-16 23:09] spiffxp commented on #23349
/lifecycle frozen
/remove-lifecycle stale
per @errordeveloper's comment above

[2018-01-16 23:10] euank commented on #23765
This is stale; how metrics and HPA will be handled in a CRI world is discussed in other topics, and rkt-specifc work should be tracked in [rktlet](https://github.com/kubernetes-incubator/rktlet/) instead.

/close

[2018-01-16 23:10] #23765 closed

[2018-01-16 23:11] euank commented on #28804
Closing as stale, [rktlet](https://github.com/kubernetes-incubator/rktlet/) doens't suffer from this problem in any case, and is the successor to rktnets.

/close

[2018-01-16 23:11] #28804 closed

[2018-01-16 23:12] euank commented on #25493
Closing as stale, if still relevant this should be re-filed against [rktlet](https://github.com/kubernetes-incubator/rktlet/) instead.

/close

[2018-01-16 23:12] #25493 closed

[2018-01-16 23:13] euank commented on #26370
Closing as stale; If this is still relevant it should be filed against [rktlet](https://github.com/kubernetes-incubator/rktlet/) instead.

/close

[2018-01-16 23:13] #26370 closed

[2018-01-16 23:13] euank commented on #25988
This works in [rktlet](https://github.com/kubernetes-incubator/rktlet/), and the in-tree rkt implementation is being deprecated.

/close

[2018-01-16 23:13] #25988 closed

[2018-01-16 23:14] euank commented on #28125
No longer relevant with the deprecation of rktnetes in favor of [rktlet](https://github.com/kubernetes-incubator/rktlet/)

/close

[2018-01-16 23:14] #28125 closed

[2018-01-16 23:16] euank commented on #31544
Image policy is handled differently via CRI, closing this as stale since rktnetes is being replaced by the CRI [rktlet](https://github.com/kubernetes-incubator/rktlet/).

/close

[2018-01-16 23:16] #31544 closed

[2018-01-16 23:29] caseydavenport commented on #53680
@dnardo @bowei IIRC, I think we've opted _not_ to run ip-masq-agent by default?

If so, I can close this.

[2018-01-16 23:32] dnardo commented on #53680
Yes, for 1.7.12 and 1.8.6 we add the appropriate rules.  I think this can be closed.

[2018-01-16 23:35] mtaufen opened #58362 "Add a subresource for Node.ConfigSource?"
Use-cases:
- Restrict access to the config source as tightly as possible, even if write access to other parts of Node is more widespread
- Providers can use webhook authorizers that return a deny response to block access to Node.ConfigSource, in the case that they are responsible for managing node config, without having to restrict write access to the entire Node.

This needs to be figured out bef

[2018-01-16 23:37] #53680 closed

[2018-01-16 23:38] liggitt commented on #58362
/sig auth

[2018-01-16 23:47] errordeveloper commented on #50454
I haven't had a chance to try this again yet, but if you are quite sure
this should work fine, please feel free to close.

On Mon, 15 Jan 2018, 2:19 pm Nikhita Raghunath, <notifications@github.com>
wrote:

[2018-01-16 23:51] erictune commented on #29229
/remove-lifecycle stale

[2018-01-17 00:13] thockin commented on #52185
Any status update here?   We'd like to remove the deprecated v1beta1 NetworkPolicy.

[2018-01-17 00:18] liggitt commented on #52185
I haven't seen a better suggestion than a no-op read/write cycle via the API on the affected resources.

Enforcing that is done seems like the responsibility of the deployment mechanism, so it can be staged after all apiservers in a HA deployment are upgraded.

[2018-01-17 00:31] liggitt commented on #52185
In the meantime, you can start disabling *serving* the deprecated object by default. The types still remain, so they can be read from storage, and we still have the in tree debt, but it pushes people to use the new types as new clusters are deployed.

[2018-01-17 00:35] itowlson commented on #58357
One issue that currently affects this is https://github.com/Azure/acs-engine/issues/2063.  It seems like the gateway has to be created in its own subnet (Azure restriction), but if we do this it messes with acs-engine scaling (acs-engine issue).

[2018-01-17 00:41] yanxuean commented on #58321
/sig node

[2018-01-17 00:44] tallclair commented on #53615
That's definitely good to do, but I don't think it's a blocker for removing the cAdvisor endpoint. We can disable the endpoint while still runnnig cAdvisor internally to scrape the metrics.

[2018-01-17 00:49] bgrant0607 commented on #57667
One more thing that requires write permission:
AFAIK, we don't have tooling to create/delete/close milestones yet.

[2018-01-17 00:54] oomichi commented on #55471
I also is facing the same issue on k8s v1.9.1 with calico like

$ kubectl get pods --all-namespaces
[..]
kube-system   kube-dns-6f4fd4bdf-tcpvk                 2/3       CrashLoopBackOff   3320       6d

$ kubectl logs --namespace=kube-system kube-dns-6f4fd4bdf-tcpvk -c kubedns
[..]
I0117 00:44:06.332308       1 dns.go:173] Waiting for services and endpoints to be initialized from apiserver...
F01

[2018-01-17 00:55] bgrant0607 commented on #57667
@spiffxp Re. build cops and queue labels: If the build is broken, how would the fix be merged? Or is the problem of broken builds somehow going away (e.g., by eliminating merge freezes or even post-merge testing)?

[2018-01-17 00:59] mgalgs commented on #51096
@saurabhdevops You can increase the probe timeout if you don't expect the container to respond within 1 second (`livenessProbe.timeoutSeconds`).

[2018-01-17 01:02] bowei opened #58363 "Move test related instances function out from the GCE cloud provider"
These methods should ideally be in a e2e specific utility function and not part of the cloud provider library.
* AddInstance
* GetAllZonesFromCloudProvider
* DeleteInstance
...

[2018-01-17 01:10] bowei commented on #58363
/sig gcp
/assign @davidz627

[2018-01-17 01:15] liggitt commented on #58361
/sig auth
/assign

[2018-01-17 01:15] feiskyer commented on #40913
@guoshimin  VMSS support is targeted at v1.10. All versions before v1.10 don't support VMSS.

[2018-01-17 01:16] feiskyer commented on #40913
Please refer #43287 for current progress of VMSS support.

[2018-01-17 01:16] #40913 closed

[2018-01-17 01:16] liggitt commented on #58361
Sounds like the same issue as https://github.com/kubernetes/kubernetes/issues/49565

[2018-01-17 01:16] liggitt commented on #58361
/sig api-machinery

[2018-01-17 02:00] dixudx commented on #9085
/remove-lifecycle stale

[2018-01-17 02:02] mikedanese commented on #58362
This is the approach we should take if we want to lock down node config updates separately from node spec updates.

[2018-01-17 02:04] k82cn commented on #58242
+1 to @bsalamat 's case
-100 for case https://github.com/kubernetes/kubernetes/issues/48657 :).

[2018-01-17 02:20] k82cn commented on #57576
Seems it's only a "name" deprecation (both point to `predicates.PodFitsHostPorts`), I'm ok with that.

+1, we can not put every policy in upstream :).

[2018-01-17 02:26] verult commented on #58352
cc @chakri-nelluri

This bug essentially causes two or more unrelated Flexvolume driver installations to interfere with each other. To fix this bug, a lot of the Flexvolume prober logic needs to be changed. Currently, the prober initializes every driver it probes, which is everything under the Flexvolume directory. Going forward, it should only initialize plugins with updates, but in order to do t

[2018-01-17 02:36] stewart-yu opened #58366 "Should check ip set exist or not before destroy it"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Others

**What happened**:
when run `hack/local-up-cluster.sh` with 'iptables' proxymode, check `/tmp/kube-proxy.log` after cluster succeed, you can see some error message like that
[code]
I think that when we first setting up cluster with `iptables` proxymode, calling  `ipvs.CleanupLeftovers()` function which destroy ip sets created by ipvs Proxier is

[2018-01-17 02:38] stewart-yu commented on #58366
/sig network

[2018-01-17 02:54] jesseshieh commented on #58166
Tried updating the kube-env on masters setting CLUSTER_IP_RANGE to 10.64.0.0/14 and got errors in kube-controller-manager.log
[code]

[2018-01-17 02:56] xiangpengzhao commented on #49465
/reopen

[2018-01-17 03:12] #58281 closed

[2018-01-17 03:12] #58344 closed

[2018-01-17 03:15] CaoShuFeng commented on #58281
Thanks! 👍

[2018-01-17 03:18] smarterclayton commented on #57865
I've observed this as well - I think it may be a Kubelet issue though, because what I see is:

1. create a stateful set size 1 with a pod that crash loops
2. delete the pod directly
3. if pod is in `Running`, pod is deleted quickly
4. if pod is in `CrashLoopBackoff`, pod takes tens of seconds to be deleted

My suspicion is that there is a node level issue as well where the pod worker on the kubele

[2018-01-17 03:50] ScorpioCPH commented on #58281
@CaoShuFeng Hi, does these unit tests pass with PR https://github.com/kubernetes/kubernetes/pull/58319?

[2018-01-17 04:05] BrianBlandKY opened #58369 "Bug v1:Endpoint - Required value: must specify `addresses` or `notReadyAddresses`"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Unable to create Endpoint on v1.

**What you expected to happen**:
Create an Endpoint

**How to reproduce it (as minimally and precisely as possible)**:
See YAML below

[code]
Result:
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
Bare Metal
- OS (e.

[2018-01-17 04:10] BrianBlandKY commented on #58369
/sig network

[2018-01-17 04:23] smarterclayton opened #58370 "Pods that run as restartPolicy=Always can't set activeDeadlineSeconds"
I've noticed that for many simple logical loop behaviors having a pod that runs to completion, exits, and is restarted (after some sleep interval) is a pretty normal sanity check / reconciliation loop.  I.e.:

[code]

This works pretty well for things like config appliers, host checks, sanity checking, etc.

I kind of expected to be able to use `activeDeadlineSeconds` with a restartPolicy=Always f

[2018-01-17 04:26] BrianBlandKY commented on #58369
Please ignore. I'm an idiot.

Solution:
[code]

[2018-01-17 04:26] #58369 closed

[2018-01-17 04:33] smarterclayton opened #58371 "kubectl expose doesn't work for stateful sets in 1.9"
Got this on 1.9.  Might be something about my environment, but this should work (anything with a pod template should be exposable.

[code]

[2018-01-17 04:39] ScorpioCPH opened #58372 "[DevicePlugin] Should we retry when ListAndWatch gRPC call failed?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/area hw-accelerators
/sig node

**What happened**:

We return immediately when endpoint `ListAndWatch` gRPC call failed and endpoint will stop:
[code]
Should we give another chance (e.g. wait 3 seconds) to wait for device plugin client to come up?

Another thing: maybe this is why we get so many gRPC error message in unit test randomly.

**What you e

[2018-01-17 04:40] ScorpioCPH commented on #58372
/assign

[2018-01-17 04:41] bryanleekw commented on #41336
same as me... showing the following message and no response
===========================
Waiting for rollout to finish: 0 of 1 updated replicas are available...
===========================
How can I check the rollout status?