[2017-11-20 05:22] davidopp opened #56032 "Measure performance/scalability impact of preemption"
Our scheduling SLO and associated scalability tests don't involve preemption. We should at least measure the performance impact.

cc/ @bsalamat @shyamjvs

/kind feature
/sig scheduling
/sig scalability

[2017-11-20 05:52] humblec commented on #55937
Completely agree to what @gnufied wrote. @saheienko thanks for the PR.

[2017-11-20 05:56] humblec commented on #55937
/assign @humblec

[2017-11-20 05:59] m1093782566 commented on #55923
/area ipvs

[2017-11-20 06:00] m1093782566 commented on #56030
It's fixed now. Thanks @thockin

/close

[2017-11-20 06:00] #56030 closed

[2017-11-20 06:00] m1093782566 commented on #55857
/area ipvs

[2017-11-20 06:00] dhilipkumars commented on #55559
@at1984z Hi this is really disruptive to that `set`.  The statefulset controller will try to create (re-create) the pod with name `sset-2` and will never be able to succeed as that pod is alive and sleeping infinitely.

Im just curious what is the usecase to do this? why would we want to intentionally remove this pod from being maintained, Statefulset controller?

[2017-11-20 06:01] m1093782566 commented on #54203
/area ipvs

[2017-11-20 06:01] m1093782566 commented on #51602
/area ipvs

[2017-11-20 06:03] m1093782566 commented on #55975
/area ipvs

[2017-11-20 06:05] m1093782566 commented on #54916
/area ipvs

[2017-11-20 06:07] m1093782566 commented on #44063
/area ipvs

[2017-11-20 06:08] m1093782566 commented on #55854
/area ipvs

[2017-11-20 06:08] m1093782566 commented on #54497
/area ipvs

[2017-11-20 06:09] #54203 closed

[2017-11-20 06:10] m1093782566 commented on #53801
/area ipvs

[2017-11-20 06:26] m1093782566 commented on #51679
/area ipvs

[2017-11-20 06:26] m1093782566 commented on #51679
/close

[2017-11-20 06:26] #51679 closed

[2017-11-20 06:29] m1093782566 commented on #51920
/area ipvs

/close

[2017-11-20 06:29] #51920 closed

[2017-11-20 06:35] m1093782566 commented on #53393
/area ipvs

@song-jiang the bug fix already goes in - at least it works for me. Would you please check the HEAD?

[2017-11-20 06:43] m1093782566 commented on #53736
/area ipvs

[2017-11-20 07:09] notjames commented on #54138
we were seeing similar, if not the same, issues tracked here https://github.com/samsung-cnct/kraken/issues/203 et al. Turns out the fix for us was updating to k8s 1.8.2. The version of etcd was irrelevant for the symptoms we were experiencing. Sadly, we did not continue seeking a root cause once we found 1.8.2 solved our problems. Disregard the linked issues specifying the etcd version as fixing t

[2017-11-20 07:32] vfreex commented on #55857
@m1093782566 Actually... no.

[2017-11-20 07:37] porridge commented on #55589
With the retries added, this should be much less frequent now. I still think we should not be installing dependencies during cluster setup, but I don't have enough project knowledge to drive such change.

[2017-11-20 07:45] bsalamat commented on #54370
@jakexks From the logs you posted, it looks like `EnableEquivalenceClassCache` is set to true. Have you tried disabling the equivalence cache by setting `EnableEquivalenceClassCache:false` (or just not enabling it) and see if you still see the same problem of the predicate not being called for the second pod?

[2017-11-20 08:00] m1093782566 commented on #53775
@xujieqwe

I believe it's fixed by #54219. Please check the HEAD.

[2017-11-20 08:00] m1093782566 commented on #53775
/area ipvs

[2017-11-20 08:14] m1093782566 commented on #51602
We are almost reaching the beta, except GCE CI failures, see #54916

The failure is the case that, visiting Cluster IP from Pod A, and the backend Pod B is in the same host with the Pod A. Pod A failed to get response from Pod B until timeout.

I can reproduce the failures in my GCE cluster, but it works fine in my local-up cluster and people has never reported the issue yet.

@Lion-Wei and I are

[2017-11-20 08:34] dixudx commented on #55958
@hosein33 Please run `kubectl describe pod archiva-deploy-868271406-p7v7q` to see the detailed events.

Also this may not be a bug of kubernetes. Please ssh to the docker host and find the root cause.

[2017-11-20 08:36] Theoooooo commented on #55170
Hey i open this again because maybe i find why this is hapenning.
When you reset your cluster and launch it again, all the serviceaccounts are not deleted (i think). Because of this, when i try to do any command, i don't have any authorization because kubectl use the previous account, which is forbidden :
`Error from server (Forbidden): serviceaccounts is forbidden: User "system:node:sca4-rt" cann

[2017-11-20 08:39] waterings commented on #50125
I got the same problem, and I think you are in the same situation with me .
use bash instead of sh to execute this shell.

/bin/bash  cluster/common.sh

[2017-11-20 08:50] dixudx commented on #55928
/close

Move discussion to  #48219.

[2017-11-20 08:50] #55928 closed

[2017-11-20 08:53] roffe commented on #55886
Thanks both of you 👍

[2017-11-20 08:59] duansheli opened #56038 "too hard to install k8s in china"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
in china
it's difficult to install k8s
we have great greatfire

we can not reach the site
http://packages.cloud.google.com/yum/repos
gcr.io

**What you expected to happen**:
get install k8s successful

**How to reproduce it (as minimally and precisely as possible)**:

we need yum repo mirror
and gcr.io images

**Anythi

[2017-11-20 09:07] fgbreel commented on #54138
I also upgraded from `1.8.0` to `1.8.3` and now seems to be more manageable, but I still have the crontab entry to remove `kube-apiserver` container every morning.

![conntrack](https://user-images.githubusercontent.com/893920/33010331-6b36c2a0-cdda-11e7-8ea1-da602411ef52.png)

I'll remove it today and keep it running during the week to observe the number of established connections.

[2017-11-20 09:12] fluffywar commented on #56038
@team/huawei

[2017-11-20 09:16] fluffywar commented on #56038
/assign [@team/huawei]  /sig team/huawei

[2017-11-20 09:17] fluffywar commented on #56038
/assign @team/huawei
/sig team/huawei

[2017-11-20 09:44] porridge opened #56041 "Test "[sig-storage] Pod Disks schedule a pod w/ RW PD(s) mounted to 1 or more containers, write to PD, verify content, delete pod, and repeat in rapid succession [Slow] using 1 containers and 2 PDs" sometimes fails at large scale"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

This test failed in the 5000 node test: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/30

Perhaps this is the same as https://github.com/kubernetes/kubernetes/issues/30689, I have not investigated.

@kubernetes/sig-storage-bugs
/priority failing-test

[2017-11-20 09:45] porridge commented on #56041
Umbrella issue - #55194

[2017-11-20 09:48] ShualLiu commented on #56038
@fluffywar It's a good idea to build a ss server for yourself... I bought a remote server to set the proxy. Then you could use such as Prioxy to set global agent.
 `God bless you.`

[2017-11-20 09:50] porridge opened #56044 "Test failing with [discovery error for unexpected group: schema.GroupVersion{Group:"metrics.k8s.io", Version:"v1beta1"}]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/27 failed with:
[code]

Dear @kubernetes/sig-api-machinery-bugs can you please help figure out what this means?
/priority failing-test

Umbrella issue - #55194

[2017-11-20 09:56] porridge commented on #55860
Another scalability job failed due to this. Added link to first comment.
Putting under umbrella issue - #55194

[2017-11-20 10:14] wrfly commented on #29727
Not only the DNS, but also other components:

[code]

[2017-11-20 10:20] keithjohnhowe commented on #55994
This worked a treat - logged into minikube with
ssh -i ~/.minikube/machines/minikube/id_rsa docker@$(minikube ip)
Then changed to the directory /etc/kubernetes/addons
and deleted all the related resources.
-- Many thanks for help Surajssd.

[2017-11-20 10:20] #55994 closed

[2017-11-20 10:23] stewart-yu commented on #56044
i will help fix it

[2017-11-20 10:27] mfojtik commented on #56018
@nikhita https://github.com/soltysh/origin/pull/8 reverts the JSON parser back to stdlib (which also revealed some problems in k8s fuzzer (https://github.com/openshift/origin/pull/17115/commits/8ef5b4106818ed5959a79a277f65a0b057536752#diff-cebb28754bf68601a0cee0fefad51ceeR144).

[2017-11-20 10:28] #55937 closed

[2017-11-20 10:37] runcom commented on #55414
@feiskyer What I had in mind was a best effort using the Status.Response.Info. We can define some keys for graphdriver but I won't have them mandatory, I can work on this BTW.

[2017-11-20 10:44] porridge opened #56046 "ci-kubernetes-e2e-gce-scale-correctness stuck doing nothing for over 8 hours"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/31 timed out with
[code]

@kubernetes/sig-scalability-bugs
/kind failed-test

[2017-11-20 10:44] porridge commented on #56046
Umbrella issue - #55194

[2017-11-20 10:49] porridge opened #56047 "ci-kubernetes-e2e-gce-scale-correctness run 32 failed in a mysterious way"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/32 failed.

[code]

Then not a very long time afterwards:

[code]

[code]

[code]

Umbrella issue - #55194

[2017-11-20 10:49] porridge commented on #56047
@kubernetes/sig-scalability-bugs
/kind failed-test

[2017-11-20 11:08] stephenbm commented on #53566
+1 on Openstack 1.8.3
[code]

[2017-11-20 12:07] #54962 closed

[2017-11-20 12:08] porridge opened #56051 "L7 LB controller using too much CPU in the 5k-node density test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

@kubernetes/sig-network-bugs
@kubernetes/sig-scalability-bugs
/priority failing-test

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/65 failed with:
[code]

Attached graph shows that it's not a huge increase from normal usage.
Dear SIG networking, is this expected?

[2017-11-20 12:49] porridge opened #56052 "[job failure] gce-scale-performance"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

This is an umbrella bug for https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/ problems.

@kubernetes/sig-scalability-bugs
/priority test-failure

[2017-11-20 12:50] porridge commented on #56051
Umbrella bug: https://github.com/kubernetes/kubernetes/issues/56052

[2017-11-20 12:50] porridge commented on #56052
/assign

[2017-11-20 12:55] porridge commented on #55229
Current status:
- the error handling improved in  #55675 was enough to establish that the root cause for these failures was in fact the same as #55589, which will be tracked there
- the only other thing worth leaving here is improving the error handling of certificate setup code, possibly via rewriting that whole area as a small go program in place of bash functions, retitling this issue to that e

[2017-11-20 12:57] porridge commented on #55777
Umbrella issue: #56052

[2017-11-20 13:01] dims commented on #50125
both cluster/centos/config-default.sh and cluster/common.sh specify `#!/bin/bash` . Anything else we can do to advertise this better?

[2017-11-20 13:06] shyamjvs commented on #55589
On a side note - this issue is part of kube-up and not e2e test. You might want to change the title.

[2017-11-20 13:21] porridge opened #56053 "Intermittent elevated long tail pod startup latency"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Max pod startup latency on a 100-node cluster used to be rock-steady in the 1.7 branch.
Never exceeded 2 seconds even at high percentiles.

But it looks like some recent change caused a regression: there were 3 runs when the latency is 2-10 times higher than the previous maximum:
- 4.8s: https://k8s-gubernator.appspot.com

[2017-11-20 13:25] porridge commented on #56053
[code]

Looks like it was density-latency-pod-76-zx7jq on e2e-scalability-1-7-minion-group-q3fk

[2017-11-20 13:32] porridge commented on #56053
Found the following in [`kubelet.log`](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability-release-1-7/469/artifacts/e2e-scalability-1-7-minion-group-q3fk/kubelet.log):

[code]

[2017-11-20 13:37] gyliu513 opened #56054 "Failed to create deployment with ipvs enabled in 1.8.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1) Start kube proxy as following:
[code]

2) Create an deployment as following:
[code]

3) Create the deployment and service, got error log in kubelet

[code]

[code]

[code]
**Anything else we need to know?**:

**Environm

[2017-11-20 13:41] gyliu513 commented on #56054
/area ipvs

[2017-11-20 13:42] andyzhangx commented on #55763
@brucemartins
thanks for reporting this issue, could be something wrong with `formatAndMount` code. I would like to repro it on azure by myself.
Do you have guideline or best practice how to deploy k8s on centos? I used to deploy on Ubuntu by acs-engine.

[2017-11-20 13:47] fvigotti opened #56056 "kube-proxy/iptables commands should use the wait ("-w") param"
/kind bug

currently running kubernetes  1.8.2 but the same affect all versions up to 1.8.4 and I suppose 1.9.x

I have some programs that works with iptables ( weave-cni , custom firewalls , stats, etc )
I've noticed sporadic errors logged from various instances of kube-proxy
ie:
[code]

looking at proxier.go I've seen that you are not using the "-w" iptables arguments which is a MUST when you ar

[2017-11-20 13:50] JorritSalverda opened #56057 "Pending pods with affinity rules looking for non-existing node"
/kind bug

**What happened**:

I upgraded a Kubernetes Engine cluster from 1.7.2 to 1.8.3-gke.0. All pods for deployments and statefulsets using a `podAntiAffinity` rule with `requiredDuringSchedulingIgnoredDuringExecution` stay pending with the following message

[code]

This node actually doesn't exist. And all pending pods show this same node name for the reason it's still pending.

As soon as

[2017-11-20 13:50] jonhosmer commented on #55418
After terminating (via aws console) one of the 3 master nodes (a node which was _not_ the leader for the controller manager / scheduler / etcd server / etc) and letting the autoscaling group create a new one in its place, all HPA's suddenly started working again..

[2017-11-20 13:54] JorritSalverda commented on #56057
/sig scheduling

[2017-11-20 13:59] porridge commented on #56053
Can someone from @kubernetes/sig-node-bugs please take a look at these logs?

[2017-11-20 14:07] shyamjvs opened #56058 "AfterSuite failures in gce-(large/scale)-correctness tests"
I'm seeing the jobs go through fine, but failing during AfterSuite action. E.g:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/15
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/32

From the [build-log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-

[2017-11-20 14:08] shyamjvs commented on #56058
@porridge Could you take a look into this?

[2017-11-20 14:13] porridge commented on #56058
I wonder whether it's related to https://github.com/kubernetes/kubernetes/issues/56046 or https://github.com/kubernetes/kubernetes/issues/56047

[2017-11-20 14:15] porridge commented on #56058
/assign

[2017-11-20 14:17] funkydorian opened #56060 "configmap cannot be mounted as a file"
/kind bug
/sig GCP
/area/configmap-api

**What happened**:
I have a configmap, but cannot map it as file to the container.

I have found similar issues #45000 #44815 #29297 but seems not helping my case...

Configmap:

kubectl get configmaps uploads-ini -o yaml

[code]

Deploy YAML:

[code]
Pod describe:

kubectl describe po kloiacom-wpress-3349396449-v1fth

[code]

**What you expected to happen**

[2017-11-20 14:21] shyamjvs commented on #56058
Yeah.. this seems like the same one as #56047 (however slightly demystified here :).

So on slightly digging up a bit, it seems like this StopAndSummarize() function is called on the resourceGatherer after each e2e tests.
And these correctness e2e tests are run with some parallelism (25 iirc) on ginkgo - which means that this channel was possibly tried to be closed by an e2e while the other one wa

[2017-11-20 14:22] porridge opened #56061 "apiserver memory usage increased by 10-20% after addition of admission metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Four medium-scale e2e performance test runs failed recently due to errors such as the following:
[code]

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8046
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8059

[2017-11-20 14:22] shyamjvs commented on #56058
/assign
I'll also try taking a look into this, maybe later in the day.

[2017-11-20 14:26] shiywang commented on #55720
/close

[2017-11-20 14:27] porridge commented on #56061
Three most recent failures are seen on this graph.

![apiserver](https://user-images.githubusercontent.com/489420/33023004-264118f8-ce07-11e7-852d-8f0d7cbb36cf.png)

This graph clearly shows a bi-modal distribution: ~900MiB vs ~1400MiB of memory usage across runs.
Does anyone from the @kubernetes/sig-api-machinery-bugs know why it could be so?

[2017-11-20 14:33] porridge opened #56062 "Umbrella bug for gci-gce-scalability* failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs

[2017-11-20 14:33] porridge commented on #56062
/assign

[2017-11-20 14:33] porridge commented on #56061
Umbrella bug: https://github.com/kubernetes/kubernetes/issues/56062

[2017-11-20 14:34] php-coder commented on #56012
/sig auth

[2017-11-20 14:36] vglisin commented on #35536
Hello. Can you "kubernetes masters" stop showing off how smart you are and give people who are very brand new in Kubernetes how to pass that famous: "Kubernetes Dashboard" with Kubeconfig & Token ANY idea HOW to login??? I can't explain how much this is irritating and how much you are too proud of things you already know and how FAR you are from people how are starting to learn. This is one of rea

[2017-11-20 14:41] porridge commented on #56058
Umbrella issue - #55194

[2017-11-20 14:42] porridge commented on #56047
/close
In favor of #56058 somewhat demystified by @shyamjvs

[2017-11-20 14:42] #56047 closed

[2017-11-20 14:43] porridge commented on #56058
/kind bug

[2017-11-20 14:48] jchv opened #56063 "Google OIDC ID tokens unexpectedly lose their audience when refreshing w/ kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig auth

**What happened**:

I am using Google as an OIDC provider. In order to use web-based authorization alongside `kubectl`/the CLI, I have set up the recommended configuration with two separate sets of OAuth2 client credentials, with the web client ID being the client ID set on the API server. This does work and we've been able to aut

[2017-11-20 14:51] php-coder commented on #55973
This is expected behavior. Here is a quote from [PSP docs](https://kubernetes.io/docs/concepts/policy/pod-security-policy/):

I know, it could be confusing for the first time, but it looks logical from Kubernetes point of view: it checks who is creating a pod. When user uses Deployments, ReplicaSets, etc, he doesn't create a pods, but only initiate it's creation and controller creates pods for a u

[2017-11-20 14:51] porridge opened #56064 "gci-gce-scalability tests fail due to "watch closed before Until timeout""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test
Umbrella issue: #56062
@kubernetes/sig-scalability-bugs

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8136 failed with:

[code]

@shyamjvs this error message sounds a little like a transient failure that should be retried, rather than cause th

[2017-11-20 14:57] porridge opened #56065 "prometheus-to-sd-exporter and fluentd-gcp pods unready during e2e-gci-gce-scalability medium-scale cluster setup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
Umbrella issue: #56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8125 failed with:
[code]

[2017-11-20 14:58] deads2k commented on #55822
I don't think that this should be a starting recommendation.  In the general case, a portable pod spec would need understand the distinction between trust for various actors.  Assuming that the same signing key signed both doesn't seem right.

I would not have started designing an API there.  It seems like the general case is "subject A requests a certificate for subject B".  I'd want to work out

[2017-11-20 15:05] porridge opened #56066 "replicationcontrollers POST latency SLO violation in gci-gce-scalability run 8147"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test
@kubernetes/sig-scalability-bugs
Umbrella issue: #56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8147 failed with:
[code]

[2017-11-20 15:08] crassirostris commented on #44976
@Random-Liu I run the same code, with or without actual writing to file, results below. I see that writing takes more time that serialization. Ofc, it's a single data point, but it means that faster serialization will not always provide higher logging throughput on the same disk. From my perspective, this makes performance consideration not that important: all extra time spent is on not-time-sensi

[2017-11-20 15:13] sttts commented on #56018
Even after the bump our used `ConfigFastest` "by definition" expects simple strings as object keys. This does not match the stdlib.

I have prepared https://github.com/kubernetes/kubernetes/pull/56055 to fix flakes in roundtrip tests because the go fuzzer fills in newlines and other escape sequences.

[2017-11-20 15:14] guangxuli commented on #55333
okay, got it, thanks, hmm, i think the event we receive when an unassigned pod is assigned is in the[ here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/controller.go#L238), do you mean we should add the comments to function `addPodToCache` or other places?

[2017-11-20 15:16] sttts commented on #56018
/cc @deads2k

[2017-11-20 15:24] #55609 closed

[2017-11-20 15:24] #55774 closed

[2017-11-20 15:31] ieugen commented on #831
Hi,

I'm adding my use case as an example. docker-flexvol seems to be what I need. Using eemptyDir with copy should also work but it's nasty.

We have a few single page front-end applications: compiled JS+CSS and other resources.
I would like to serve these apps using a single nginx server, replicated. No need to use more.
I would like to consume the apps and benefit from things like easy rollback

[2017-11-20 15:33] tobsch commented on #7890
+1

[2017-11-20 15:40] iahmad-khan commented on #34406
Yes , I faced the same problem.

I resolved by:

killall kubelet
run the kubectl join command again
and start the kubelet service

[2017-11-20 15:41] luckyfengyong commented on #55973
@php-coder Thanks for the response. I understand that is the current behavior. However it really confuse users. Whether the pod is created by ReplicateSets Controller Mananger, StatefulSet Controller manager and so on, is just kubernetes internal implementation. From end user's point of view, the resources are all created by user.

It is strange that PSP policy validate the permission based on whe

[2017-11-20 15:44] dims commented on #831
@ieugen i believe yes, you should be able to do that. It's a pretty simple shell script so feel free to try it and let me know if you see issues.

As for upstream kubeadm etc. if someone wants to take the initiative, i can help.

Thanks,
Dims

[2017-11-20 15:48] shyamjvs commented on #56064
I suppose so. It seems like as part of our RC scale operation, we're first setting the replica count to the new value and then watching until the desired count matches the actual no. of replicas. Ref:

https://github.com/kubernetes/kubernetes/blob/98fb71e8ce2caa3062f3f0b0ed4ab470683f5578/pkg/kubectl/scale.go#L233-L246

Ideally, before returning with an error at the end, we should check if it's a `

[2017-11-20 15:54] ncdc commented on #56064
See: https://github.com/kubernetes/kubernetes/pull/50102

[2017-11-20 15:56] shyamjvs commented on #56064
Also, seems like the kubectl Scale() function logic is different for RCs from others (i.e RS, jobs, deployments, etc). For others we're doing periodic polling to check the condition:

https://github.com/kubernetes/kubernetes/blob/98fb71e8ce2caa3062f3f0b0ed4ab470683f5578/pkg/kubectl/scale.go#L313

Should we move all of them also to watch or move RC to polling?

[2017-11-20 15:56] php-coder commented on #55973
It still based on by who (the user or sa) the resource is being created. But services accounts are namespaced and `default` SA from the `test` namespace` is a different from `default` SA from `default` namespace. If you look at the error message, you will find that all service account names has project names in their names: `system:serviceaccount:test:default`.

Kubernetes itself doesn't have user

[2017-11-20 16:01] shyamjvs commented on #56064
That's great @ncdc - just what I was wanting :)
And for https://github.com/kubernetes/kubernetes/issues/56064#issuecomment-345738834, I'll file another issue.

[2017-11-20 16:09] shyamjvs opened #56071 "Make kubectl Scale function for RS, Deployments, Job, etc watch-based"
Offshoot of https://github.com/kubernetes/kubernetes/issues/56064#issuecomment-345738834

As part of the kubectl Scale() function, we can optionally waitForReplicas to reach the desired count.
Currently, we're polling periodically to check that happens (for RS, jobs, etc). We should move them to use Watch instead - like we're doing for RCs currently:

https://github.com/kubernetes/kubernetes/blob/

[2017-11-20 16:10] gree-gorey commented on #55975
OK, now I get it.
Yes, it does add rules.
But the problem still is that it takes very long time to loop through all the services and add them.

[2017-11-20 16:10] shyamjvs commented on #56071
/sig apps
(can't think of a better one)

[2017-11-20 16:16] #53728 closed

[2017-11-20 16:19] wojtek-t commented on #56064
wait.Until is know to be broken:
https://github.com/kubernetes/kubernetes/issues/31345

So this is pretty much duplicate of that issue

[2017-11-20 16:23] crassirostris commented on #53006
I think this is an important bug that we're not testing audit logging at scale

[2017-11-20 16:32] skylabreddy commented on #34314
I am also facing same issue.

I see some issue after deploy the app. App is deployed success But running is 0.

root@kubernetes:~# kubectl run kubernetes-bootcamp --image=docker.io/jocatalin/kubernetes-bootcamp:v1 --port=8080
deployment "kubernetes-bootcamp" created
root@kubernetes:~# kubectl get deployments
NAME                  DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
kubernetes-bootcamp

[2017-11-20 16:45] kfox1111 commented on #831
Would be interested in getting this into a helm chart somehow... I saw containerized mount utils merged but they say it doesnt work with flexVolumes. Maybe something like:
https://github.com/openstack/kolla-kubernetes/blob/master/helm/microservice/ceph-rbd-daemonset/templates/ceph-rbd-daemonset.yaml

with shared mount namespaces?

[2017-11-20 16:49] spiffxp commented on #55195
The "test panicked" issue is also affecting gci-gce-ingress, I'll open an issue shortly and keep this open

[2017-11-20 16:53] tadas-subonis commented on #51835
I have the same issue with Kubernetes 1.8.1 on Azure - after deployment is changed and new pods are have been started, the old pods are stuck at terminating.

[2017-11-20 16:54] jberkus commented on #55628
@dashpole here: https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#code-slush

[2017-11-20 17:02] Kamshak commented on #48569
@mikedanese just pinging :) Would love to have this feature

[2017-11-20 17:06] spiffxp commented on #53327
/remove-priority P0
we're not using those priorities anymore, we're using the other ones
/priority critical-urgent
is this still critical and urgent?

[2017-11-20 17:08] spiffxp commented on #55196
@abgworrall

I think you're referring to https://github.com/kubernetes/test-infra/pull/5529, where I discussed that removing the job from sig-release-master-blocking won't remove the job from https://k8s-testgrid.appspot.com/google-soak

/close
The job itself is now failing due to an individual test failure, which I'll chase separately unless it turns out this is the only job it's failing for

[2017-11-20 17:08] #55196 closed

[2017-11-20 17:08] errordeveloper commented on #35536
@vglisin have you seen https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above?

[2017-11-20 17:11] spiffxp commented on #36821
/remove-priority P3
we're not using those priorities anymore, we're using the other ones
/priority backlog

[2017-11-20 17:11] spiffxp commented on #49881
/remove-priority P2
/priority important-longterm

[2017-11-20 17:12] spiffxp commented on #51135
/remove-priority P2
/priority important-soon

[2017-11-20 17:23] iMartyn commented on #45173
This is still a bug in my eyes, there is a workaround but it is not complete.
Using `service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"` will create the LoadBalancer on port 443.

This however is a broken setup, you should never have to access a service as `http://myservice:443`.  You can _add_ another port block to listen on port 80 as well, but this does not stop traffic on port 443 b

[2017-11-20 17:24] jberkus commented on #55628
Sorry, my mistake: you're correct that you have until Wednesday for the PR.  Sorry for the noise; we've been changing PR handling with automation and I misunderstood what had to be approved today.

[2017-11-20 17:28] jberkus commented on #50752
Hey, are you moving milestones on this?  Today is Code Slush.

[2017-11-20 17:28] kfox1111 commented on #831
alternately, if we could get a statically linked jq, we might be able to just slide in the two files directly onto the host....

[2017-11-20 17:30] ConnorDoyle commented on #51135
Adding context: the static CPU manager policy sets affinity for guaranteed integral-CPU-request containers. Those CPUs are not available for use by any other Kubernetes container. Quota is meaningless for these pinned containers. While these containers have access to the entire logical CPU, they also cannot burst beyond their quota because the amount of CPU time allowed is equal to full utilizatio

[2017-11-20 17:33] kfox1111 commented on #831
or, I guess we could spit the difference and just run jq in a container... docker run -i --rm jq....

[2017-11-20 17:44] masroorhasan opened #56076 "[Windows] No outbound internet connection from windows containers"
/bug
/sig network
/sig windows

**What happened**:
Deployed Kubernetes Cluster on Azure Container Service (via portal). Azure creates the resource group with all cluster related resources (VMs, load balancers, nsg rules, etc). Cluster is working fine in terms of k8s resource deployment.

Deployed simple IIS server on the cluster:
[code]

However, the IIS server container has no outbound internet c

[2017-11-20 17:48] RenaudWasTaken commented on #56022
@resouer can you point me to said design ?
I'm not sure that the Allocate call for init containers is planned to be fixed as described.

[2017-11-20 17:49] liggitt commented on #56012
yes, `--insecure-port` surfaces an unsecured port on localhost, and defaults to 8080 for backwards compatibility.

It is recommended that you disable this with `--insecure-port=0`

[2017-11-20 17:49] #56012 closed

[2017-11-20 17:53] luckyfengyong commented on #55973
@php-coder Thanks. I understand the current implementation after trouble-shooting the issue. Kubernetes does not manage user but has user id in token for RBAC. I am just thinking how Kuberentes use that id for the RBAC of the resources created by user.

It makes sense. Rolebinding with user id could be removed when `deployment`, `statefulset` etc are stilling running. We have to handle the case.

[2017-11-20 18:08] song-jiang commented on #53393
@m1093782566 Tested with HEAD, works as expected.

[2017-11-20 18:08] php-coder commented on #55973
@luckyfengyong if this issue is solved, could you close it then?

[2017-11-20 18:12] spiffxp commented on #54574
/close
I'm no longer seeing this on sig-release-master-blocking or sig-release-master-upgrade

[2017-11-20 18:15] spiffxp commented on #55194
We cut v1.9.0-alpha.3 (https://github.com/kubernetes/sig-release/issues/27) despite the continued failure of this job.  Now tracking this against v1.9.0-beta.1 (https://github.com/kubernetes/sig-release/issues/34)

[2017-11-20 18:16] spiffxp commented on #55195
Now tracking this against v1.9.0-beta.1 (https://github.com/kubernetes/sig-release/issues/27)

[2017-11-20 18:17] shyamjvs commented on #53327
We can probably move this to `important-soon` given that this is not release-blocking, but I'd prefer keeping it at the current level as kubemark is quite important in giving us release scalability signal at a good frequency.

Btw - I've finally managed to reproduce this issue reliably at a scale of 2000. Now checking if the above fix is WAI.
Sorry about the delay, got caught up with a bunch of mo

[2017-11-20 18:18] chenww commented on #55618
seems a dead issue as nobody is interested?

[2017-11-20 18:19] spiffxp opened #56078 "[job failure] gke-device-plugin-gpu"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-18.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing

[2017-11-20 18:23] vikaschoudhary16 commented on #56026
Did you mean [manager.Devices](https://github.com/kubernetes/kubernetes/blob/6b97376a539c84b9bb11de5d44daeadf9930049e/pkg/kubelet/cm/deviceplugin/manager.go#L138) by `Device function`?

[`devices` map is being assigned to `endpoint` structure with locking protection only.
](https://github.com/kubernetes/kubernetes/blob/6b97376a539c84b9bb11de5d44daeadf9930049e/pkg/kubelet/cm/deviceplugin/endpoint.g

[2017-11-20 18:25] abgworrall commented on #56078
/assign @jiayingz

[2017-11-20 18:25] jchv commented on #56063
OK, update: it looks like I'm also losing other scopes. I think the commit that removes `extra-scopes` needs to be reconsidered, it looks like at least for Google's OpenID implementation, you do not implicitly get your scopes back in a refresh. Any thoughts on this? I can make a PR for this if it sounds acceptable. If some providers do actually refresh with the original scopes, then it would make

[2017-11-20 18:27] spiffxp opened #56079 "[job failure] gci-gce-slow"
/priority critical-urgent
/priority failing-test
/area platform/gcp
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-17.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing

[2017-11-20 18:33] spiffxp opened #56080 "[job failure] gci-gke-slow"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-17.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing

[2017-11-20 18:34] vikaschoudhary16 commented on #56022
@resouer

Is it possible to add few more words in explanation?

[2017-11-20 18:35] gnufied opened #56081 "GCE CreateVolume allocates in chunks of GiB incorrectly"
GCE PDs are allocated in chunks of GBs (not GiB) but `CreateVolume` function incorrectly creates volume in chunks of GiB -  https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go#L86

cc @msau42

/sig storage
@kubernetes/sig-storage-pr-reviews

[2017-11-20 18:37] #53393 closed

[2017-11-20 18:40] liztio opened #56082 "Inconsistent type signature in kubelet cadvisor clients causes compilation failure on OSX"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We're working on a project which vendors some substantial parts of Kubernetes. After updating our vendored dependencies, I noticed that building locally (on my Macbook) failed, but building in a container succeeded. After some digging, I noticed a difference in type signature between [cadvisor_unsupported][unsupported] a

[2017-11-20 18:45] msau42 commented on #56081
/kind bug

[2017-11-20 18:46] liztio commented on #56082
/sig node

[2017-11-20 18:50] #54198 closed

[2017-11-20 18:52] msau42 commented on #56081
/assign

[2017-11-20 18:52] msau42 commented on #56081
/priority important-soon

[2017-11-20 18:59] iMartyn commented on #45173
Digging into the code, it appears that this was a conscious decision and I cannot for the life of me understand why, but pushing myself hard not to have hubris, this appears to be the code that makes this choice : https://github.com/kubernetes/kubernetes/blob/d0301aa6e87c337f40bb529932d01a2c398f5d38/pkg/cloudprovider/providers/aws/aws.go#L2922

*further* If you do not specify that you want to list

[2017-11-20 19:00] jchv commented on #56063
Ah dang, this is starting to look worse. So I reimplemented extra-scopes in the most logical way possible:

[code]

On first glance, this was working - my scopes appeared to be maintained. Except one, the `audience` scope! It turns out you have to set the `audience` URL parameter in your POST to the token endpoint.

As far as I can tell, the `golang.org/x/oauth2` library offers no way of doing thi

[2017-11-20 19:00] atombender commented on #55720
@dixudx: It might not be a bug on the backend, but it's certainly inconsistent behaviour:  `kubectl get all` should be equivalent to `kubectl get pod,rs,service,deploy,[... rest of types.]`, but it isn't. `kubectl get all` isn't a strict superset.

[code]

That's unexpected. It may be strictly correct in terms of the API protocol, but `kubectl` is a UI that shouldn't leak internal concerns that on

[2017-11-20 19:08] liggitt commented on #55720
yes, it is

it is equivalent to `kubectl get [...all types listed in discovery as belonging in the 'all' alias]`

that expands to `kubectl get pods.v1,replicasets.v1.apps,replicasets.v1beta1.extensions,...`

I agree. It is because kubectl is just a UI presenting the information surfaced by the API that we have this behavior. Kubectl is basing its behavior on discovery documents published by the AP

[2017-11-20 19:08] keir-rex commented on #43524
Seeing this too after updating a the cloud-config, and launch configuration subsequently the AWS launch configuration for minion nodes, the only change was adding `--log-opt`s to dockerd:

From:
`Environment="DOCKER_OPTS=--storage-driver=overlay --iptables=false --ip-masq=false"`
To:
`Environment="DOCKER_OPTS=--storage-driver=overlay --iptables=false --ip-masq=false --log-opt max-size=500m --log-o

[2017-11-20 19:11] #55973 closed

[2017-11-20 19:16] djsly opened #56086 "[Azure] Internal Load Balancer doesn't add NSG rules for the internal Services unlike the Public LB"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When we create an internal LB in Azure using `service.beta.kubernetes.io/azure-load-balancer-internal: "true"` the new LB called <clustername>-internal gets created and the frontend IP configured with the right rules.

The problem is that the NSG associated with the IP of the Internal frontend configuration never gets con

[2017-11-20 19:20] atombender commented on #55720
@liggitt I didn't know `kubectl` supported that. That's not documented in the `--help`, and at least some of the types are not working for me:

[code]

The help text implies that `all` is an alias for the resource types listed, which does not show API namespace names (e.g. it's just `pods`, not `pods.v1`).

[2017-11-20 19:21] quinton-hoole commented on #35637
For the record, @nikox94 and I had a slack chat, and came to a slightly different conclusion.  I will leave it to him to post that update when he has time.  Thanks for the contributions @nikox94 - most appreciated.

[2017-11-20 19:22] liggitt commented on #55720
sorry, `pods.v1.` (note trailing dot... the form is `<resource>.<version>.<group>`, and pods are in the legacy `""` group)

[2017-11-20 19:24] djsly commented on #56086
/sig-azure

[2017-11-20 19:25] djsly commented on #56086
@kubernetes/sig-azure-bugs

[2017-11-20 19:27] mtaufen opened #56087 "seccomp is an alpha feature and not feature gated"
see #55983

[2017-11-20 19:35] jchv commented on #56063
OK, final update for the day (I think:) I am now questioning whether `Scopes` even comes into play during a refresh. It looks like the `golang.org/x/oauth2` library doesn't even touch it, so I don't know how it'd be possible to begin with. That calls into question whether this has anything at all to do with scopes...

However, I was able to verify very directly that setting the `audience` POST par

[2017-11-20 19:52] jeffvance commented on #55194
looking at this too...

[2017-11-20 19:56] jeffvance commented on #56041
looking into this...

[2017-11-20 20:00] liggitt commented on #56063
to be clear, you are submitting a refresh token, and getting back an id token that is missing the `aud` claim of the original (pre-refresh) id token?

that seems contrary to the oidc spec for refresh token responses - http://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse

[2017-11-20 20:01] RenaudWasTaken commented on #56022
@vikaschoudhary16 PR that added the mentioned change: https://github.com/kubernetes/kubernetes/pull/54488

Code in question is here: https://github.com/kubernetes/kubernetes/blob/40e7101844fd4cce86e3c6df3f7d093d74337418/pkg/kubelet/cm/deviceplugin/device_plugin_handler.go#L251

[2017-11-20 20:04] keir-rex commented on #43524
Update: this was caused in my case by a typo the kubelet unit of our cloud_config which snuck past code-review:

[code]

[2017-11-20 20:12] alvaroaleman commented on #54337
Well that works fine but has the obvious disadvantage that now the node has its ip as name. Is there a reason why `--node-ip`  must be an address bound to the node?

[2017-11-20 20:13] peterwiebe commented on #9483
@ddysher was there anything specific you did to encode the pem? According to the docs we cannot encode newlines and the pem I am trying to encode has them (from firebase). I tried encoding the whole pem, the pem without the newlines. Neither of which worked 😞

[2017-11-20 20:17] msau42 commented on #56041
This occasionally flakes for non-scale suites too:
https://k8s-testgrid.appspot.com/sig-storage#gci-gce-slow

[2017-11-20 20:20] msau42 opened #56088 "Move local PV e2e negative scheduling tests to integration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/assign

**What happened**:
The test cases that test setting pod node affinity and pod node selectors only need the scheduler.

[2017-11-20 20:31] spiffxp opened #56089 "[job failure] gci-gce-ingress"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-network-test-failures
FYI @kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-17.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34).

[2017-11-20 20:31] jeffvance commented on #56041
[pd.go L269](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/pd.go#L269) --
[testPDPod()](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/pd.go#L514) which instantiates a *v1.Pod and 2 small slices. The error below is repeated for several pages:
[code]
until:
[code]
Perhaps an OOM error?

[2017-11-20 20:35] spiffxp opened #56090 "[job failure] gke-device-plugin-gpu-p100"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-18.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing

[2017-11-20 20:38] spiffxp opened #56091 "[job failure] kubeadm-gce"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since 2017-11-15.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing to br

[2017-11-20 20:45] ncdc commented on #56082
It looks like this was introduced by https://github.com/kubernetes/kubernetes/pull/55642 - FYI @dashpole

[2017-11-20 20:46] spiffxp opened #56092 "[job failure] periodic-kubernetes-e2e-debs-pushed"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since 2017-11-15.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing to br

[2017-11-20 20:46] spiffxp commented on #56092
FYI @luxas @jamiehannaford @krzyzacy

[2017-11-20 20:51] spiffxp commented on #56052
Tracking against v1.9.0-beta.1 (https://github.com/kubernetes/sig-release/issues/34)

[2017-11-20 20:56] krzyzacy commented on #56092
oh whoops, I did not notice the job is made into master-blocking dashboard - we should put it into a different dashboard :-)

[2017-11-20 20:57] krzyzacy commented on #56092
/assign @jamiehannaford

[2017-11-20 20:59] ttindell2 commented on #16863
Any updates on this issue?

[2017-11-20 21:08] #56087 closed

[2017-11-20 21:10] hogepodge commented on #52249
Latest patches have full cluster up and running.

[code]

Next steps are to check e2e tests. Also need to submit a PR to cncf to merge into their main repo. Will need to squash, document, and test a bit first.

[2017-11-20 21:24] dims commented on #56091
@luxas @spiffxp here's the tentative plan - https://github.com/kubernetes/kubeadm/issues/256#issuecomment-345544237

[2017-11-20 21:25] dashpole commented on #56082
duplicate of https://github.com/kubernetes/kubernetes/issues/56002

[2017-11-20 21:33] luxas commented on #56091
@spiffxp yes, the PR that fixed the root cause (https://github.com/kubernetes/kubernetes-anywhere/pull/483) just merged. Sorry for the long approving window there. Now we're about to bump the git sha pinning for the job: https://github.com/kubernetes/test-infra/blob/master/images/kubeadm/runner#L29 to make the test green

[2017-11-20 21:50] spiffxp commented on #56092
/remove-priority critical-urgent
/priority important-soon
Thanks for the quick move off the release-master-blocking dashboard.  I'll leave this open so you can track why it's not working on the other dashboard

[2017-11-20 21:53] luxas commented on #56092
Yeah, seems to be a "script not executable" error, well we'll fix that then

[2017-11-20 21:58] jchv commented on #56063
Yes, that is exactly the case. The aud comes back up as being the same as the azp. I don't think that's the only way the Google OIDC implemention violates the spec, either.

[2017-11-20 22:03] jeffvance commented on #56041
@msau42 The flake you show above also fails on the same pod Create() after creating the 2 pds.

[2017-11-20 22:09] ixdy commented on #56002
/assign @dashpole

[2017-11-20 22:37] msau42 opened #56098 "Refactor PV scheduling library into separate package"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/assign

**What happened**:
Move the new pv scheduling library code into a separate package so that the scheduler doesn't need to pull in the entire persistentvolume controller package.

[2017-11-20 22:54] jiayingz commented on #56078
/assign @mindprince

Rohit, should this issue be fixed with your recent pr that updates image used in the test?

[2017-11-20 22:55] msau42 opened #56100 "More e2e tests for volume scheduling"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/assign

**What happened**:
Some of these could be integration tests instead of e2e tests.
* Positive + negative tests with StatefulSets and pod affinity/anti-affinity
* Stress test with many pods and many volumes across all nodes
    * It might be interesting to add the static provisioner into the mix for auto-cleanup
* Nega

[2017-11-20 22:57] msau42 opened #56101 "Add dynamic provisioning into scheduler path"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests
/assign

**What happened**:
Not topology aware yet.  Just the logic to trigger provisioning (both in-tree and external) in the scheduler.

[2017-11-20 22:59] masroorhasan commented on #56076
After a lot of debugging and digging around (with Ops help) it has been resolved - its actually not a Kubernetes issue (sorry for opening it here)

If anyone is curious - the issue is because the agent nodes (windows server 2016) has no public IP or NSG rules applied to it during cluster creation (by ACS deployment). If anyone runs into similar issues - please double check your agent's public IP i

[2017-11-20 22:59] #56076 closed

[2017-11-20 22:59] msau42 opened #56102 "Index PVs by StorageClass in scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests
/assign

**What happened**:
Performance improvement for volume scheduler so we don't have to iterate through all PVs.

Hm, but will this break prebound PV behavior that doesn't require StorageClass to match with PVC.

[2017-11-20 23:02] #56002 closed

[2017-11-20 23:03] dashpole commented on #56082
closing via https://github.com/kubernetes/kubernetes/pull/56003

[2017-11-20 23:03] #56082 closed

[2017-11-20 23:04] mindprince commented on #56078
This was caused by https://github.com/kubernetes/kubernetes/pull/55988 which broke bringing up alpha clusters on GKE.

I added a change to GKE infra which would get rolled out soon and the tests would be green again.

[2017-11-20 23:05] caesarxuchao commented on #55993
cc @roycaihw we should put a deprecation notice fro this in the next client-go release note.

[2017-11-20 23:08] yujuhong commented on #54205
Adding sig-gcp since only this has been observed only in GKE alpha clusters so far. If anyone from @kubernetes/sig-gcp-bugs is willing to help out by narrowing down what Alpha features are related, that'd be great.

[2017-11-20 23:08] BenTheElder commented on #56002
[We found the bug preventing blocking on cross](https://github.com/kubernetes/test-infra/issues/5584#issuecomment-345860434), @cjwagner is making a fix and then we'll look at making sure cross blocks PRs it runs against in the future.

[2017-11-20 23:10] caesarxuchao commented on #55993
Could you try to remove all the deprecated clients locally, and see if there is any unexpected effects?

[2017-11-20 23:26] apelisse commented on #39434
I don't think we ever wanted (or at least not me) to remove the existing layer of validation from the client, but provide the validation on the server *on top* of the client validation. Unfortunately, this effort kind of died with #55358.

Orthogonally, the "lint"-ing kind of validation is also a perfectly valid use-case that I'd like to see addressed.

[2017-11-20 23:38] supereagle commented on #55993
@caesarxuchao  I use this way to verify that all usage of deprecated clients has been completely cleaned up. The check is to run `make verify`, `make test` and `make test-integration`, is there any other additional check?

[2017-11-20 23:41] hubt commented on #45173
I don't see a bug here that needs to be fixed. The proper annotations and settings work fine for me. The original reporter didn't have the `service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"` set up properly, but with that, everything works as expected.

[2017-11-20 23:56] msau42 opened #56104 "Add scheduler integration test for volume predicate equivalence cache invalidation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests
/assign

**What happened**:
Need to test equivalence cache invalidation for VolumeBinding predicate

[2017-11-20 23:58] msau42 commented on #50115
/status in-progress

[2017-11-21 00:02] bsalamat commented on #47604
status/in-progress

[2017-11-21 00:03] bsalamat commented on #47604
/status in-progress

[2017-11-21 00:07] dashpole commented on #51745
/status in-progress

[2017-11-21 00:11] terinjokes commented on #54021
@georgebuckerfield We're not using GCE or AWS load balancers (we had to build our own). I ended up supporting this with an annotation specifying the alias names, and relying on the controller to process them.

[2017-11-21 00:16] justinsb commented on #53007
Let's just close.  I'm sure this will come up as part of "how do we do releases in a multi-repo" world at the dev summit :-)

[2017-11-21 00:16] #53007 closed

[2017-11-21 00:17] Random-Liu commented on #44976
@crassirostris I don't quite understand. We are not talking about the latency/throughput. The benchmark result shows that json format needs more "CPU Time" than cri log format. It will has 6x higher cpu usage.

In our benchmark, because we generate logs so fast that in both cases, they use up 1 core, and json log format uses 6 times more time to finish.

If we don't generate log so fast, it's poss

[2017-11-21 00:17] dashpole commented on #51745
https://github.com/google/cadvisor/pull/1779 is the change in cadvisor required to fix this, which was just merged.
The steps to fix this are:
update cadvisor godeps
Change kubelet stats collection to utilize changes in https://github.com/google/cadvisor/pull/1779

[2017-11-21 00:26] RenaudWasTaken commented on #56026
Sorry I meant [`getDevices()`](https://github.com/kubernetes/kubernetes/blob/6b97376a539c84b9bb11de5d44daeadf9930049e/pkg/kubelet/cm/deviceplugin/manager.go#L138) essentially though the manager.Devices function calls the endpoint.getDevices().

Yes thanks for clarifying this.

[2017-11-21 00:39] tpepper opened #56106 "test installs ancient util-linux nsenter on trusty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Code inspection caused me to notice test/e2e_node/environment/setup_host.sh is installing downloading an ancient util-linux in order to build nsenter in a hard coded directory under /tmp.

**What you expected to happen**:

A more current version of util-linux would be download into a /tmp directory with a securely genera

[2017-11-21 00:42] tpepper commented on #56106
@kubernetes/sig-testing

[2017-11-21 00:46] tpepper commented on #56106
/sig testing

[2017-11-21 00:57] tpepper commented on #56106
/assign @yujuhong

[2017-11-21 01:04] BenTheElder commented on #55652
This is still a problem, these tests are still the flakiest
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56097/pull-kubernetes-unit/67068/

[2017-11-21 01:06] caesarxuchao commented on #54430
Working on this now.

[2017-11-21 01:12] janetkuo commented on #56089
Test panicked at `AllNodesReady`, possibly because `f.ClientSet` is `nil`.
https://github.com/kubernetes/kubernetes/blob/849d7f859599d4aa327d773b4de4839867523e61/test/e2e/framework/framework.go#L363 https://github.com/kubernetes/kubernetes/blob/849d7f859599d4aa327d773b4de4839867523e61/test/e2e/framework/util.go#L3649-L3656

My theory is that #55525 is related. Note that #55525 isn't a bug -- it ju

[2017-11-21 01:14] MrHohn commented on #56089
Seems to have the same symptom as gci-gce-slow (https://github.com/kubernetes/kubernetes/issues/56079), test panicked while cleaning up:
[code]

Possibly introduced by https://github.com/kubernetes/kubernetes/pull/55525.
@miaoyq @janetkuo

[2017-11-21 01:14] abgworrall commented on #56090
/assign @mindprince

Rohit, is this related to the other failing suite ?

[2017-11-21 01:15] bowei commented on #56089
@janetkuo what is the recommended fix?

[2017-11-21 01:16] bowei commented on #56089
Is this a framework bug or a networking bug? If it is a framework bug, who is the right owner to get this resolved?

[2017-11-21 01:19] abgworrall commented on #56080
This has the same root cause as #56089 , and I suspect all GKE failures have this root cause.

[2017-11-21 01:23] janetkuo commented on #56089
This is a framework bug. The most naive fix is check if `f.ClientSet` is nil before calling `AllNodesReady`. However this should be handled in a more proper way. I'm not sure why the clientset is nil, maybe because the framework's namespace creation is skipped?

I'm not sure who owns this.

[2017-11-21 01:24] jpbetz opened #56114 "Update to etcd client 3.2.11"
## Upgrade Kubernetes to use etcd client 3.2.11

The [etcd 3.2.10](https://github.com/coreos/etcd/releases/tag/v3.2.10) and [etcd 3.2.11](https://github.com/coreos/etcd/releases/tag/v3.2.11) client code includes a backport of a new gPRC balancer (https://github.com/coreos/etcd/pull/8840), and data race fixes to gPRC (https://github.com/coreos/etcd/pull/8867, https://github.com/grpc/grpc-go/pull/16

[2017-11-21 01:26] abgworrall commented on #56089
Given it's release blocking, and it is test infra, I think the 1.9 test infra lead owns in - @BenTheElder

[2017-11-21 01:27] mlmhl commented on #55607
/assign @Random-Liu

[2017-11-21 01:29] hzxuzhonghu commented on #55652
@BenTheElder @mindprince My fix is double close channel panic. This one is not fixed. May be I shoud edit the title.

[2017-11-21 01:31] BenTheElder commented on #55652
we also need a new issue then, I'm a bit overloaded ATM could one of @hzxuzhonghu @mindprince open a new one with the garbagecollector failures?

[2017-11-21 01:39] m1093782566 opened #56116 "Need to install ipset in debian-iptables docker image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

debian-iptables docker image has no ipset util, which is required by IPVS kube-proxy. So, IPVS kube-proxy will fall back on iptables mode.

**What you expected to happen**:

install ipset in debian-iptables docker image

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2017-11-21 01:40] karataliu commented on #56086
There is a default NSG rule there for always allowing VNET traffics, thus it does not add value to have a redundancy rule for internal load balancers.
Are you also using cluster managed NSG with custom vnet? It should work if you do not change the default NSG settings.

[2017-11-21 01:43] bowei commented on #56089
/assign @BenTheElder

[2017-11-21 01:49] andyleap commented on #51241
If this isn't going to be fixed, then you should really fix the documentation that clearly states it is possible: https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api

[2017-11-21 01:49] BenTheElder commented on #56089
I'm not particularly familiar with this code. I'm happy to look but I don't know how long it will take me to resolve this properly, perhaps someone from [test/OWNERS](https://github.com/kubernetes/kubernetes/blob/849d7f859599d4aa327d773b4de4839867523e61/test/OWNERS) would be more approrpiate?

[2017-11-21 01:58] BenTheElder commented on #56089
I also don't particularly think this is test-infra:
https://github.com/kubernetes/sig-release#test-infra-lead

[2017-11-21 01:59] hzxuzhonghu commented on #55652
OK

[2017-11-21 02:00] BenTheElder commented on #56089
/cc @jberkus

[2017-11-21 02:00] abgworrall commented on #56089
Fair enough.

I took a quick look at recent commits into the framework, and didn't see anything obvious; @janetkuo , I think you currently know the most about this. Can you own it, even if just until you can figure out a better owner ?

[2017-11-21 02:04] hzxuzhonghu opened #56121 "TestCascadingDeletion flaky [timed out waiting for the condition]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56097/pull-kubernetes-unit/67068/
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

`E1120 23:43:24.614641   19542 customresource_discovery_controller.go:1

[2017-11-21 02:06] hzxuzhonghu commented on #56121
/kind flake
/area test

[2017-11-21 02:09] caesarxuchao commented on #55652
I'll try to debug some of these.

[2017-11-21 02:23] bsalamat commented on #55333
I think we should add the comment in factory.go somewhere around [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L164) and mention the events that we receive when an unassigned pod is assigned.

[2017-11-21 02:37] feiskyer commented on #55414
If not mandatory, how to pass kubeadm preflights checks? Just omit the check for non-docker runtime?

[2017-11-21 02:43] hzxuzhonghu commented on #55652
I created a new issue #56121

[2017-11-21 02:44] BenTheElder commented on #55652
Thanks!

[2017-11-21 02:49] mindprince commented on #55080
Fixed by https://github.com/kubernetes/kubernetes/pull/55839
/close

[2017-11-21 02:49] #55080 closed

[2017-11-21 02:49] hzxuzhonghu commented on #56121
/sig testing

[2017-11-21 02:56] mindprince commented on #56090
Yes. This is the same issue as https://github.com/kubernetes/kubernetes/issues/56078 and should be fixed soon.

[2017-11-21 03:03] andyzhangx commented on #56005
@jdumars for comments

[2017-11-21 03:19] fejta-bot opened #56122 "pr:pull-kubernetes-node-e2e flaked 59 times in the past week"
### Flaky Job: pr:pull-kubernetes-node-e2e
 Flakes in the past week: **59**
 Consistency: **95.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Node Tests | 58 |
| [k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api | 25 |

/assign @Random-Liu

<details><summary>Rationale for assignments:</summary>

| Assignee or SIG

[2017-11-21 03:19] fejta-bot opened #56123 "Failure cluster [19a566...] failed 218 builds, 17 jobs, and 2 tests over 1 days"
### Failure cluster [19a566b173b89cd010d7](https://go.k8s.io/triage#19a566b173b89cd010d7)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    17 jobs failed,    218 builds failed.
Failure stats cover 1 day time range '19 Nov 2017 22:29 UTC' to '20 Nov 2017 22:29 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| AfterSuite | 16 |
| [

[2017-11-21 03:19] fejta-bot opened #56124 "Failure cluster [ebfb39...] failed 158 builds, 18 jobs, and 1 tests over 1 days"
### Failure cluster [ebfb396798f9f6293e5f](https://go.k8s.io/triage#ebfb396798f9f6293e5f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    18 jobs failed,    158 builds failed.
Failure stats cover 1 day time range '19 Nov 2017 22:29 UTC' to '20 Nov 2017 22:29 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 18

[2017-11-21 03:19] fejta-bot opened #56125 "Failure cluster [1a3779...] failed 89 builds, 10 jobs, and 4 tests over 1 days"
### Failure cluster [1a3779e6777a416e5ddf](https://go.k8s.io/triage#1a3779e6777a416e5ddf)
##### Error text:
[code]
##### Failure cluster statistics:
4 tests failed,    10 jobs failed,    89 builds failed.
Failure stats cover 1 day time range '19 Nov 2017 22:29 UTC' to '20 Nov 2017 22:29 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cluster-lifecycle

[2017-11-21 03:21] brucemartins commented on #55763
i was able to resolve it @andyzhangx  there was a bug in the deployment code, which was causing the --cloud-provider and --cloud-config to not be read properly due to a missing "\"  I will close this and appreciate your help with this

[2017-11-21 03:21] #55763 closed

[2017-11-21 03:22] andyzhangx commented on #55763
good to know, thx

[2017-11-21 03:24] tanhui2333 commented on #45419
We have the same PLEG issues  k8s 1.8.1

[2017-11-21 04:04] KeithTt opened #56127 "How to recover a master unschedulable since taint it?"
kube version: 1.8.3

as the title...

Maybe `cordon`? It seems will add a label to the node.

[2017-11-21 04:13] #55180 closed

[2017-11-21 04:13] #55959 closed

[2017-11-21 04:19] MrHohn commented on #56089
I think I figured out what happened. Just checked all affected CIs and found all of them are running ingress tests. Turned out in ingress suite we made a duplicated call to `framework.BeforeEach()`:
https://github.com/kubernetes/kubernetes/blob/2e1d61a0d54c0bc76c84c7fcfdf9812efc1652a3/test/e2e/network/ingress.go#L51-L55

For more context  `framework.BeforeEach()` is supposed to be set up automatic

[2017-11-21 04:33] BenTheElder commented on #56089
Thank you @MrHohn, awesome sleuthing!

I've been after https://github.com/kubernetes/test-infra/issues/5617 which caused some of our nodes to fill their disks :( have a fix going out.

[2017-11-21 05:03] #55627 closed

[2017-11-21 05:13] vikaschoudhary16 commented on #56022
@RenaudWasTaken @lichuqiang

Above looks incorrect description. Predicate that run on the scheduler and on the node is same i.e max(init, regular). Pod admission will pass at the node. Problem might happen at allocation where allocated resources is not the max but the sum of (init, regular). And in that case, pod would hang there in fail state rather 'bounce back infinitely'.

[2017-11-21 05:28] andyzhangx opened #56131 "add mountOptions support for azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Following mountOptions support for azure disk should be supported.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.9.0
- Cloud provider or hardware configu

[2017-11-21 05:32] charrywanganthony commented on #55290
I found `--show-kind` seems have the same problem. @ahmetb

[2017-11-21 05:33] lichuqiang commented on #56022
Absolutely correct, sorry to make you confused, I think Renaud name it `predicate`  mainly bacause the allocate func is supposed to be called during the predicate phase, that is, passed in [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/lifecycle/predicate.go#L71) as a part of PredicateAdmitHandler.

[2017-11-21 05:48] shun-miyoshi-com opened #56133 "Cannot connect different node's pod when using NetworkPolicy in weave-net"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I would like to control the communication to block communication from outside into special namespace.
So, I created the following network policy.

Default: Deny
Allow from 'type: local' to 'allow: local'
Allow from '*' to 'allow: public'

user.yaml
[code]

Then, I tested the connection, but it was failed.
The test proces

[2017-11-21 05:57] KeithTt commented on #56006
@hzxuzhonghu I was trying to create a HA master cluster, and I found that it was the config issue, thanks.

[2017-11-21 05:57] #56006 closed

[2017-11-21 06:13] jingax10 opened #56134 "pkg/registry/storage/storageclass/storage unit test failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

pkg/registry/storage/storageclass/storage test failed

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

make test WHAT=./pkg/registry/storage/storageclass/storage

Running tests for APIVersion: v1,admissionregistration.k8s.io/v1alpha1,admission.k8s.io/v1alpha1,apps/v1be

[2017-11-21 06:15] jingax10 commented on #56134
/sig storage

[2017-11-21 06:19] jingax10 commented on #56134
@kubernetes/sig-storage

[2017-11-21 06:34] feiskyer commented on #56005
cc @kubernetes/sig-storage-feature-requests

[2017-11-21 06:37] gogeof opened #56135 "Send request to kube-apiserver but not response"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
send request to apiserver, but not response, seems apiserver also not get the request

**What you expected to happen**:
apiserver response for request

**How to reproduce it (as minimally and precisely as possible)**:
I don't know, I just use kubeadm to create cluster and add nodes.

**Anything else we need to know?**:
any

[2017-11-21 06:41] xujieqwe commented on #53775
@m1093782566
thanks, will try it later

[2017-11-21 06:45] gogeof commented on #56135
here is what it like:
[code]

[2017-11-21 06:53] gogeof commented on #56135
## system information:
**top**
[code]

**free -mg**
[code]

**kube-apiserver**
[code]

**kubectl get pods --all-namespaces**
[code]

**kubectl get nodes**
[code]

[2017-11-21 06:56] gogeof commented on #56135
**node: n-cluster-192-168-3-62**
[code]

[2017-11-21 07:03] gogeof commented on #56135
seems it's the linux system setting problem, not just apiserver, connect etcd also not response.
[code]

[2017-11-21 07:23] tengqm commented on #56133
/sig network

[2017-11-21 07:24] porridge opened #56138 "ESIPP [Slow] e2e tests failing on 5000 node cluster jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

This is a followup from #52495 filed separately now that we're not tracking this as part of 1.9 release. The tests have been disabled with [DisabledForLargeClusters] tag for now, and this fact will be mentioned in the scalability validation report for v1.9.

This issue tracks fixing the test so the tag can be removed and the test ran again i

[2017-11-21 07:24] porridge commented on #52495
Closing this in favor of #56138 so that this bug shows as closed on the umbrella issue.
/close

[2017-11-21 07:24] #52495 closed

[2017-11-21 07:27] porridge commented on #55194
ACK. In progress
ETA: None
Risks: Multiple flakes across several SIGs need fixing.

[2017-11-21 07:27] porridge commented on #55194
/status in-progress

[2017-11-21 07:28] porridge commented on #55779
/priority critical-urgent
this blocks #55194

[2017-11-21 07:28] porridge commented on #55780
/priority critical-urgent
this blocks #55194

[2017-11-21 07:28] porridge commented on #56041
/priority critical-urgent
this blocks #55194

[2017-11-21 07:29] porridge commented on #56044
/priority critical-urgent
this blocks #55194

[2017-11-21 07:29] porridge commented on #55860
/priority critical-urgent
this blocks #55194

[2017-11-21 07:29] porridge commented on #56046
/priority critical-urgent
this blocks #55194

[2017-11-21 07:29] porridge commented on #56058
/priority critical-urgent
this blocks #55194

[2017-11-21 07:33] sttts commented on #55993
We have that for ages already in the clientset go files.

[2017-11-21 07:36] mingshuaiwang commented on #55875
@kubernetes/sig-storage-proposals

[2017-11-21 07:39] petergardfjall commented on #53538
I ran into this issue also. I managed to get it to work without using a `--cloud-config` file. But that requires you to adhere to some conventions of the aws cloud-provider. Most notably, you need to tag your AWS resources related to your Kubernetes cluster with a `kubernetes.io/cluster/<cluster-name>` tag (the tag value appears irrelevant). In this particular case, the master instance needs to ha

[2017-11-21 07:44] shun-miyoshi-com commented on #55570
Please review me.
(If you want, I don't hesitate to contribute a code.)

[2017-11-21 07:46] gogeof commented on #56135
when node(n-cluster-192-168-3-62) can't connect to apiserver, I use kubectl get information is ok

[2017-11-21 07:47] gogeof commented on #56135
/sig network

[2017-11-21 07:48] porridge opened #56139 "small-scale density test failure on 1.8 branch"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
/assign

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/210 failed with:

[code]

A little earlier, the logs read:

[code]

Umbrella bug: #56062

[2017-11-21 07:48] gyliu513 opened #56140 "[k8s 1.8.2] ipvs table was not updated when adding new service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
I was using kubernetes 1.8.2 and calico 2.4 with ipvs.

This is my proxy configuration
[code]

This is all of the services in my cluster.
[code]

But the ipvs table was not updated
[code]

From above, we can see that the i

[2017-11-21 07:49] porridge commented on #56139
@shyamjvs can you explain why are we trying to SSH into those nodes at all at this stage?

[2017-11-21 07:55] edisonxiang commented on #50004
Hey @jingxu97 @ralberto @stamak, I have an idea about this issue. When the problem happens, the volume is actually in used and is attached to the unavailable node in OpenStack Cinder's database . So we can execute `Volume Detach ` when `cloudprovider.InstanceNotFound` is hit in the `VolumesAreAttached ` function. I am not sure it works. So what's your opinion?

[2017-11-21 08:00] m1093782566 commented on #56140
@gyliu513 Thanks for reporting it.

What's the output of

[code]

I feel like you have reported a NodePort bug yesterday? The eth{i} issue?

[2017-11-21 08:02] ae-dg opened #56141 "SRV record not available when kubectl expose used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After creating a pod and using `kubectl expose` to expose its port it is unclear if a DNS SRV record is created and, if so, what it is.

**What you expected to happen**:
A DNS SRV record is created.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
https://kubern

[2017-11-21 08:02] m1093782566 commented on #56140
Not sure. Since IPVS-based kube-proxy is still in alpha. I always suggest people check the HEAD.

[2017-11-21 08:03] porridge opened #56142 "load tests in gci-gce-scalability timed out deleting RC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test

**What happened**:

The following runs failed with message such as:
[code]

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8173
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalabil

[2017-11-21 08:03] porridge commented on #56142
Umbrella issue: #56062

[2017-11-21 08:03] resouer commented on #56022
@vikaschoudhary16 @RenaudWasTaken The original idea was onced listed in #53497 as a sub-task:

But now it's removed (I don't know why). I believe the original idea was:

1. Handle device resources allocation during pod admit phase. This comment https://github.com/kubernetes/kubernetes/pull/51895#issuecomment-336995772 is related
2. Call Allocate() if needed during reconcile in 1 and cache these de

[2017-11-21 08:06] edisonxiang commented on #54984
Hey @jianglingxia, I have no more experiences about the upgrade, especially from non-OpenStack Cloud Provider to OpenStack Cloud Provider. I find [a email](https://groups.google.com/forum/#!topic/kubernetes-dev/zs-nfb7C4mw) about this. Maybe you can ping @k82cn to get more informations. @k82cn is a very good man.

[2017-11-21 08:12] lichuqiang commented on #53672
/reopen

[2017-11-21 08:16] porridge commented on #56142
The distribution of load-small RC deletion times is interesting..
There are 300 of them. 105 of them took less than a second to delete. 76 took less than a minute to delete.
70 took less than whatever the timeout is, and the rest (49) apparently timed out, but ginkgo only shows one of them in the final message.
Looks like we're using `framework.DeleteResourceAndWaitForGC` to do the deletions.. so

[2017-11-21 08:18] dixudx commented on #55779
@porridge kubectl cannot connect to apiserver. This may be not a bug of kubectl.

[2017-11-21 08:23] porridge commented on #55779
That's possible. Can you figure out at what timestamp this happened and what the api server was doing at that time? Could it be that the test or kubectl itself needs some retries?

[2017-11-21 08:25] lichuqiang commented on #56022
Call Allocate() if needed during reconcile in 1 and cache these devices info
Use cached devices later during container create phase

@resouer Current code behaviors exactly as you described, but to address the issue, the key point might be  to decide which devices of init  containers could be reused by which regular containers, and generate  cache accordingly in step2, when creating containers, we

[2017-11-21 08:40] iMartyn commented on #45173
Half of the bug is that if you have `service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"` and your service is internally listening on `Port: 80`, the ELB does not listen on port 443, does not terminate ssl.
If you REMOVE the annotation, suddenly it WILL listen on port 443!

The other half is if you DO have the annotation you MUST have your service listen unencrypted on Port 443 which mea

[2017-11-21 08:51] dixudx commented on #55779
kubectl already retried after 2s before dying.

https://github.com/kubernetes/kubernetes/blob/44f24d219f9d28121eb1f16863312f790e144882/test/e2e/framework/util.go#L2084-L2098

The `net/http: TLS handshake timeout` indicated the connection was bad. Probably apiserver was not working.

[2017-11-21 08:55] Lion-Wei opened #56143 "IPVS CI job failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

There are sever e2e test failed in ipvs CI jobs, the mostly failed e2e test are as follow:
[code]

I already did some research, the basic reason is **can't access pod in the same node via cluster IP**.

Route table:
[code]

When access cluster IP, the iptables trace may looks like:
[code]

Iptables and ipvs mode have different trac

[2017-11-21 08:58] porridge commented on #55779
On Tue, Nov 21, 2017 at 9:52 AM, Di Xu <notifications@github.com> wrote:

To debug this, we need a timestamp of when the timeout happened. Can you
find it in the log?

[2017-11-21 08:59] Lion-Wei commented on #56143
/area ipvs /sig network
/cc @m1093782566

[2017-11-21 09:02] m1093782566 commented on #56143
cc @thockin @MrHohn @dnardo

Can we get consult from you?

[2017-11-21 09:04] m1093782566 commented on #56143
btw, @Lion-Wei, I think you should add the information that it works fine in local-up cluster without network plugin.

[2017-11-21 09:05] ae-dg commented on #56141
/sig cli

[2017-11-21 09:20] iMartyn commented on #45173
I've put some detail here :
https://gist.github.com/iMartyn/3ef82c5e6e8c0ab0416fc624873ee3d2

[2017-11-21 09:24] tadas-subonis commented on #20475
I just witnessed this (cannot use the service IP on the same Pod where it is pointed to) with
[code]

As a workaround, I've disabled ClusterIP with ClusterIP: None on the Service spec so it used the IP of the POD.

The system was deployed with kubespray and is using flannel.

[2017-11-21 09:34] porridge commented on #55860
Dear sig-api-machinery leads, @lavalamp @deads2k what's your take on this? Is better a retry mechanism in the plans?

[2017-11-21 09:35] #50115 closed

[2017-11-21 09:35] gregory-m commented on #55535
Here some conclusions after discussion in #sig-api-machinery:
1. Godeps doesn't explicit imports.
2. We can't create `foo.go` and import all needed generators because go can't import `main` package
3. For main repo we use `godep-save.sh` to workaround
4. `godep-save.sh` dosn't sport staging repos.
5. @sttts will release code-generators as docker image.

I think we just need to wait for docker imag

[2017-11-21 09:37] porridge commented on #56058
Regarding:

I was under the impression that the parallelism is achieved by running multiple separate ginkgo processes.

[2017-11-21 09:39] mattiasberge commented on #54941
Kondas,  I had the node IPs right and the password was base64 encoded.

I moved forward and tried another approach. Closing this issue

[2017-11-21 09:39] #54941 closed

[2017-11-21 09:58] sttts commented on #55535
Updated the title. We have many repos with the same issue. And "rely" means that you cannot regenerate the generated code. There is no Go import that is failing.

[2017-11-21 09:58] porridge commented on #56058
The only place where `StopAndSummarize` is called is with `AddonResourceConstraints` as the second argument. And AFAICT in `-correctness` tests `AddonResourceConstraints` is guaranteed to be empty (since the only place where it's set to a non-empty value is in `scalability/density.go` which does not run as part of `-correctness`).

The code which calls `StopAndSummarize` was relatively recently to

[2017-11-21 10:12] antoineco commented on #20475
@tadas-subonis this is expected because Kubespray [does not enable `hairpinMode` in the Flannel configuration](https://github.com/kubernetes-incubator/kubespray/blob/6ec45b1/roles/network_plugin/flannel/templates/cni-flannel.yml.j2#L18-L21) (see my previous comment for a comparison).

You should probably open a new issue on the Kubespray side to get this fixed.

[2017-11-21 10:22] ScorpioCPH opened #56144 "Panic when running CPU Manager node e2e test on Ubuntu 16.04 locally: "assignment to entry in nil map""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Test failed when running CPU Manager node e2e test on Ubuntu 16.04 locally, and show this panic message:

[code]
**What you expected to happen**:

Tests passed.

**How to reproduce it (as minimally and precisely as possible)**:

Run this node e2e test, use the following command:

[code]

**Anything else we need to know?*

[2017-11-21 10:26] keithjohnhowe commented on #55994
Sorrry to have to re-open this, however I have noticed that when I stop and start minikube all the resources which I removed from addons are recreated. Is their a way to remove this permanently ?
Failing that can I just delete the VM and start again ?
I have tried using minikube delete, but they are recreated after that also - very frustrating.

[2017-11-21 10:50] jianglingxia commented on #54984
thanks @edisonxiang
and
/cc @k82cn can you help me with the problem of upgrade especially from non-OpenStack Cloud Provider to OpenStack Cloud Provider?thanks

[2017-11-21 11:50] runcom commented on #55414
it's already omitted for non-docker runtime, but I thought we could make the check via the CRI w/o calling docker directly.

[2017-11-21 12:05] porridge commented on #56058
Actually @jiayingz's change is probably unrelated.

The more likely culprit (judging by timing and scope) is #55525 by @miaoyq
/cc @janetkuo and @caesarxuchao who discussed the changes to AfterEach in that PR.

From what I gathered so far, in some cases AfterEach runs more than once now, panicking as soon as it reaches `StopAndSummarize`.

[2017-11-21 12:06] justinsb commented on #55535
Correct - the `hack/update-codegen.sh` script does not work.

[2017-11-21 12:07] shyamjvs commented on #53327
@dashpole I scale-tested your fix against 2k-node kubemark cluster and seems like it's still not working (I could reproduce it too).
There are still some pods which are failing to be deleted by the hollow-kubelets. I grepped for logs relating to such a pod from the corresponding hollow-kubelet (attaching the results below).

[hollow-kubelet-logs.txt](https://github.com/kubernetes/kubernetes/files/

[2017-11-21 12:15] shyamjvs commented on #52495
@porridge There are a bunch of TODOs in the code that reference this issue. You can change those, but I think it's probably fine to let this issue be shown open under that umbrella.
There's a lot of prior context and information too under this bug.

[2017-11-21 12:16] shyamjvs commented on #52495
If needed you can change the issue title to indicate that it's not release-blocking anymore.

[2017-11-21 12:42] resouer commented on #53236
All PR are in, the only thing is sending announcement in kubernetes-dev cc @dims

[2017-11-21 13:07] zebu commented on #27114
I ran into this same issue when first learning K8s. I agree with the previous comments that logically liveness needs to follow readiness.

[2017-11-21 13:20] sandylss opened #56148 "kubeadm init stuck at "Waiting for the kubelet to boot up the control plane" due to container runtime network error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Following the guidance at https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/, I command kubeadm init after installing kubeadm, kubelet and kubectl. Then it stuck at **Waiting for the kubelet to boot up the control plane as Static Pods from directory "/etc/kubernetes/manifests"**

syslog:

systemctl status kubelet

[2017-11-21 13:31] porridge commented on #52495
My intention is to be able to take a glance at the umbrella bug and judge
its progress by the number of green (unclosed) bug references.

[2017-11-21 13:46] wenjun93 opened #56149 "how to disable multiattach of iSCSI volume"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind feature

**What happened:**
suppose already created a pod with iSCSI pvc, when kubelet down, pod is evicted and rescheduled to another node, while the old pod is still serving traffic and still writing the volume, how could we prevent this situation? Is there anyway to disable iSCSI volume multi-attach like cinder?

[2017-11-21 13:46] dixudx commented on #56148
Nov 21 20:20:26 lab931-8c kubelet[12096]: E1121 20:20:26.859876 12096 kubelet.go:2095] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized

@sandylss  Please remove `KUBELET_NETWORK_ARGS` in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`. And then `systemctl daemon-reload`.

After that,

[2017-11-21 13:46] spiffxp commented on #55194
/status in-progress

[2017-11-21 13:47] dixudx commented on #56148
/area kubeadm

[2017-11-21 13:51] spiffxp commented on #53255
Per above discussion I kicked out of v1.9 milestone, we can add back in to v1.10 when we can guarantee commitment

[2017-11-21 13:56] wenjun93 commented on #56149
/sig storage

[2017-11-21 13:58] crassirostris commented on #44976
@Random-Liu I understand that resource consumption with JOSN will be higher, that's a payment for the extensibility.

My point is, if using serialization protocol X for logs makes an application block on logging, that's a clear no-go for X. However, in JSON case this is not true: since writing takes more time that serialization, by buffering several lines we're not blocking the application on logg

[2017-11-21 14:09] shyamjvs commented on #52495
Yup.. I understand your concern. Just feel that bug duplication and context loss is a heavier price to pay than a green mark under the umbrella which would close soon after the release :)

[2017-11-21 14:10] dixudx commented on #56148
/close

dup of #48798

[2017-11-21 14:10] #56148 closed

[2017-11-21 14:11] dixudx commented on #55997
/close

dup of #48798

[2017-11-21 14:11] #55997 closed

[2017-11-21 14:17] shyamjvs commented on #55860
I'm not sure if this is an issue in api-machinery. FMU it is the client which should retry the POST request and correspondingly react based on the response (i.e "object already exists" or if something retriable).

cc @wojtek-t

[2017-11-21 14:28] gyliu513 commented on #56140
@m1093782566 it is not eth{i} issue as I have updated all of the nic to eth{i}.

[code]

How can the `endpoints` help me to debug this issue?

[2017-11-21 14:45] andyxning commented on #55527
Working on a PR to add this support. ETA is about one week.

[2017-11-21 14:46] wojtek-t commented on #55860
Client itself is retrying a bunch of different problems. In particular it is retrying in case of some errors returned by apiserver.

However, "connection reset by peer" is an infrastructure layer error. So it's not the error returned by apiserver, but the real error. Retrying those errors is more tricky, because we can't easily say if that request reached apiserver and was processed (and if so suc

[2017-11-21 14:47] #55309 closed

[2017-11-21 15:15] ncdc commented on #55535
I don't have any time to work on this at the moment. Maybe after Kubecon.

[2017-11-21 15:16] shyamjvs commented on #55860
That sounds reasonable. WDYT about the following options (which might be better than not retrying at all):

- Try to GET the object you just posted and see if it was created, If not, resend the POST request. If there's a race with the previous POST, one of them would just fail(?)
- Retry the POST anyway (as we do not have any return code available from the apiserver for the previous request) hopin

[2017-11-21 15:18] porridge commented on #55860
Isn't sig-api-machinery taking care of the client code as well?
As for automatic retry, I was wondering why the API uses POST rather than
PUT...
I suppose more clients would prefer automatic failure retries in exchange
for having to send an explicit GET to check for unexpected pre-existing
resources in the cases they really care. That's why I asked sig leads.
In my mind, the alternative is that ev

[2017-11-21 15:18] nilsidemia opened #56152 "eviction-minimum-reclaim frees less memory than expected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I configured kubelet with the parameters "--eviction-hard=memory.available<1Gi --eviction-minimum-reclaim=memory.available=200Mi". I kept on adding pods that claim 50 MB memory each until eviction was triggered. Only one of my pods was evicted by this.

**What you expected to happen**:

According to the documentation I e

[2017-11-21 15:20] porridge commented on #55860
On Tue, Nov 21, 2017 at 4:17 PM, Shyam JVS <notifications@github.com> wrote:

The problem is that you don't know if the 409 is because the resource has
already been there in the first place (i.e. the first POST would have
returned it as well), or a result of the first POST which in fact inserted
the resource but just failed to propagate this information back to the
caller.

[2017-11-21 15:33] nilsidemia commented on #56152
/sig kubelet
/sig eviction
/area kubelet

[2017-11-21 15:42] shyamjvs commented on #55860
In that case we shouldn't use this mechanism (unless you're fine with the object pre-existing?) :)
In general, I think different clients would want to handle this situation differently based on their needs.

[2017-11-21 16:07] nikox94 commented on #35637
Hey @quinton-hoole, thank you for the welcoming atmosphere! :)

I have been a bit busy fighting some other fires this week, but have started running the tests and comprehending the code.

For the record, @quinton-hoole suggested that I instead integrate the DNS resync into the main resync loop that already exists. I did some research on AWS and it seems they will not offer notifications when the L

[2017-11-21 16:07] shiywang commented on #55255
@jojje thanks, I think those are some good suggestions,  as far as I know you could send an email to our mailling-list(google-groups) or cc @kubernetes/sig-contributor-experience-proposals ?

[2017-11-21 16:07] joelittlejohn commented on #52172
It's not fancy, but here's what I came up with.

I add the following units to the CoreOS cloud-config for my nodes:

[code]

then add this script to the write-files section of the cloud-config (**note:** requires `jq`):

[code]

Of course for anyone that doesn't want to create a CoreOS (or similar) cloud-config in this way, you can just take the ensure-log-symlinks.sh script content and use that.

[2017-11-21 16:19] edisonxiang commented on #55838
Hi @ash2k , I submit a PR to solve it. Welcome to review. Thanks.

[2017-11-21 16:28] rootfs opened #56155 "should support AWS NVMe device"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
/kind bug

**What happened**:
AWS NVMe device path starts with `/dev/nvme` according to [doc](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html), it fails aws device probe [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L1429)
[code]

**What you expected to happen**:
NVMe

[2017-11-21 16:28] rakeshkulkarni6 commented on #55870
@feiskyer  I have found solution for this if we are using custom DNS at vnet/nic level we need to edit /etc/dhcp/dhclient.conf with KUBEDNS IP and cluster.local as domain to supersede /etc/resolv.conf

[2017-11-21 17:14] garrickpeterson-wf commented on #23580
Also interested in this. When you want this it's one of those cases, to address earlier comments, where security trumps availability (though, couldn't availability be addressed via daemonsets or similar?).

[2017-11-21 17:23] djsly commented on #56086
While this is true on a cluster deployed using ACS/AKS, etc. When using vanially with an external Vnet managed by a different team. The Vnet/Subnet/NSG might be subject to different sets of rules.

In our case, the NSG where the nodes are attached locks down inbound traffic and opens up a limited set of ports. For example the range for the node Port is indeed open.

The problem with the Internal L

[2017-11-21 17:44] #53734 closed

[2017-11-21 17:59] php-coder opened #56157 "hack/verify-api-groups.sh: line 76: group_dirnames[@]: unbound variable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]

The same happens when I'm running script manually:

[code]

**What you expected to happen**:
It should correctly handle the situation when `group_dirnames` is empty.

**How to reproduce it (as minimally and precisely as possible)**:
Run the `hack/verify-api-groups.sh` in such a way so the `group_dirnames` array wil

[2017-11-21 18:06] jiayingz commented on #56022
Thanks a lot for filing this issue, @RenaudWasTaken

I think for 1.9, we probably want to list this as a known issue and may advise people to not request gpu resources in init containers. We can target to fix this problem in 1.10.

[2017-11-21 18:07] dims commented on #49480
/priority critical-urgent

[2017-11-21 18:16] jingax10 commented on #56134
Thanks edisonxiang@! It is a dup of #56136. I will close it.

/close

[2017-11-21 18:28] msau42 commented on #56041
@jeffvance the event you pointed out looks suspicious and could explain why the pod never came up:
[code]

[2017-11-21 18:28] RenaudWasTaken commented on #56022
Agreed
We don't have a clear solution for this tough. It's pretty clear to me that device resources allocation during pod admit phase is not the right model when init containers comes into the picture.

GPUs are pretty simple example. On of the things we plan to do is scrub the GPU memory during the Allocate phase. If GPUs are re-used between initContainers and regular containers the current model

[2017-11-21 18:33] jiayingz commented on #55179
I think this issue is fixed by pr #52149. @lichuqiang can we close this issue?

[2017-11-21 18:39] jiayingz opened #56159 "Consider to back up device plugin checkpoint data on tmpfs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
From the discussion in PR review of using file store utility for device plugin checkpointing:
https://github.com/kubernetes/kubernetes/pull/55382#discussion_r152095025
@vishh suggested we consider to store checkpoints on tmpfs instead of durable storage and take the additional perf gains,
assuming that kubelet on node reboot will re

[2017-11-21 18:40] jiayingz commented on #56159
/sig node

[2017-11-21 18:50] at1984z commented on #55559
@dhilipkumars The uses case is as follows.
One STS pod is "active" and the rest is "standby" from the application perspective. The application clients need to be aware and to get service form the active pod only. This would be arranged through the STS service, which is referred to in "spec.serviceName" ("sset-svc" in the presented example) and the manipulation of the service "spec.selector" value

[2017-11-21 18:51] ConnorDoyle commented on #56144
Thanks for the bug report. Reproduced successfully. It looks like the response body may have changed from empty map to null, which caused this to break. In any case, @balajismaniam suggested adding the fix to his pending PR here: #56105

[2017-11-21 19:00] tim-jones-001 commented on #14017
As others have said previously this is still an issue - the documentation does not explain how to successfully create the secret.json file as the make_secret.go does not run without the API installed

[2017-11-21 19:07] yvespp commented on #42910
Here my feedback from our clusters:
We have a lot of JBoss apps, that when running normally don't use a lot of cpu. However while starting up they use a lot of cpu. We set cpu request to 50m and limit to 2.
When a node is restarted (in cluster upgrade) it is quickly overloaded with starting JBoss pods. This leads to JBoss instances booting very slowly and the liveness probe failing, at which point

[2017-11-21 19:09] msau42 opened #56162 "Add metrics to volume scheduling operations"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/assign

**What happened**:
Add metrics for predicate, assume and bind volume functions

[2017-11-21 19:14] msau42 opened #56163 "Add storageclass informer handlers in scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Scheduler pod queue was refactored to have 2 queues: one for unschedulable pods and one for in progress pods.  This is different from the predicate equivalence cache.

Need to consider if storage class add/update/delete could cause a unschedulable pod to become schedulable.  My initial thought is

[2017-11-21 19:34] yvespp commented on #38806
Same issue as #42433?

[2017-11-21 19:39] varuntalus opened #56165 "HPA not working: failed to get cpu utilization: unable to get metrics for resource cpu: failed to get pod resource metrics"
I did a deployment using yaml file and created PODs.

Next I am trying to create a HPA object to autoscale my application based on the resource utilization i.e. cpu.

But HPA is not working and giving me below error:

_**Conditions:**_
  Type           Status  Reason                   Message
  ----           ------  ------                   -------
  AbleToScale    True    SucceededGetScale

[2017-11-21 19:45] ericchiang opened #56166 "unit test failure: persistent volume controller TestFindingPreboundVolumes"
/kind bug
cc @kubernetes/sig-storage-bugs

Hit this in https://github.com/kubernetes/kubernetes/pull/55843

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55843/pull-kubernetes-bazel-test/18828/

[code]

I can reproduce by stress testing the tests.

[code]

Interestingly running `TestFindingPreboundVolumes` alone doesn't cause the panic. It looks like something caused by

[2017-11-21 19:49] ericchiang commented on #56166
/priority failing-test

[2017-11-21 19:50] Random-Liu commented on #44976
@crassirostris We are not saying that we'll not support json log format anytime soon. The whole stack, including `docker`, `kubelet` and `fluentd` will still support json log format.

For new CRI container runtime, we are making the trade off between performance and extensibility. It doesn't seem like extensibility is top priority today, because the requirement is not clear, and the docker json lo

[2017-11-21 19:52] msau42 commented on #56166
@screeley44 can you see if this is related to the block volumes feature gate enabling/disabling in the tests?

I'm thinking the tests that call 'toggleBlockVolumeFeature' look a little suspicious because it's not guaranteed to disable the feature gate at the end of the test.

[2017-11-21 19:56] r7vme opened #56167 "Azure MSI auth http 400 error"
/kind bug

**What happened**:
I want to use [Azure MSI](https://docs.microsoft.com/en-us/azure/active-directory/msi-overview) for k8s cloud provider. But kubelet produces errors like this:
[code]
JFYI: everything works fine w/o MSI, with precreated service principal.

**What you expected to happen**:
I expect kubelet will be able to authenticate in Azure API and get necessary info.

**How to repro

[2017-11-21 20:15] screeley44 commented on #56166
Adding fix, it seems this was a result of the feature gate not being toggled back off

[2017-11-21 20:16] #56009 closed

[2017-11-21 20:17] #55784 closed

[2017-11-21 20:19] varuntalus commented on #56165
@kubernetes/sig-piosz-**_test-failures_**
sig/autoscaling

[2017-11-21 20:32] varuntalus commented on #56165
/sig scalability

[2017-11-21 20:41] porridge commented on #56061
In a [recent run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8191) the usage is **much** higher:

[2017-11-21 20:52] dimm0 opened #56169 "OIDC username prefix option is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
--oidc-username-prefix option for api-server seems to not have any effect.
The apiserver is running with --oidc-username-prefix=-, and if I'm changing ClusterRoleBinding username from prefix#username to username, I'm still getting:

[code]

**What you expected to happen**:
When using the "--oidc-username-prefix=-", the us

[2017-11-21 21:01] dimm0 commented on #56169
/sig auth

[2017-11-21 21:05] mtaufen opened #56171 "Kubelet flag precedence order vs files/ConfigMaps is dangerous"
See https://docs.google.com/document/d/18-MsChpTkrMGCSqAQN9QGgWuuFoK90SznBbwVkfZryo/ for details.

Doc reprinted here, with worse formatting:

<html><head><meta content="text/html; charset=UTF-8" http-equiv="content-type"></head><body class="c31"><p class="c18 title" id="h.ulrt23q582vb"><span class="c7 c22 c29">Graduating KubeletFlags subfields to KubeletConfiguration</span></p><p class="c4 c5"><s

[2017-11-21 21:27] ericchiang commented on #56169
/assign

[2017-11-21 21:41] jeffvance commented on #56041
@msau42 do you think this is a flaky test (which could be due to a sometimes flaky test env) or a real bug?

[2017-11-21 21:43] msau42 commented on #56041
The names of the PDs created, and the name of PD that the pod is trying to attach is not matching up:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/12210/build-log.txt
[code]

[2017-11-21 21:45] caseydavenport commented on #49480
I think this is done. Unless someone shouts otherwise, I'll close this later today.

[2017-11-21 21:48] enisoc commented on #49480
We still haven't ensured that people using debs/rpms will get CNI 0.6.0:

https://github.com/kubernetes/release/pull/446

[2017-11-21 21:50] msau42 commented on #56041
I think it's a bug in the test.

My suspicion is the `diskNames` slice.  It is not cleaned up in between tests, so you will be using the disk names of the previous test in the 2nd test.

[2017-11-21 21:52] jeffvance commented on #56041
@msau42 Thanks. I'll investigate.

[2017-11-21 21:53] tallclair opened #56173 "[PodSecurityPolicy] "MayRunAs" strategies"
/kind feature

For strategies governing optional fields (e.g. SupplementalGroups & FSGroup) we should have an strategy that enforces allowed options without setting the defaults. E.g. `MayRunAs` - If a supplemental group is set on the pod spec, it must be in the allowed range, if no supplemental group is set, it is left unset.

[2017-11-21 22:04] yujuhong commented on #54205
I turned off `APIResponseCompression` in the apiserver in a GKE cluster and the log function is working again.
/cc @kubernetes/sig-api-machinery-bugs @ilackarms

[2017-11-21 22:07] jiayingz commented on #53497
Here is a brief update on the 1.9 Device Plugin work:
- Device Plugin API changes to v1alpha2 with AllocateResponse changed to list aggregated artifacts (PR 53031) Done
- Certain local cleanups (PR 52147 PR 52747) Done
- Device plugin code now locates in a single directory under pkg/kubelet/cm/deviceplugin (PR 54019). Done
- Better handling of device plugin resource deletion (Issue 53395 PR 54488

[2017-11-21 22:14] tallclair opened #56174 "[PodSecurityPolicy] API changes"
This is a cover bug to aggregate non-backwards compatible API changes for consideration to the PodSecurityPolicy (i.e. for `v1beta2`).

- [ ] The empty policy should be equivalent to a fully privileged policy. This is a required property of new fields for backwards compatibility, and making all fields behave this way will make the API more consistent. The simplest approach is to default fields to

[2017-11-21 22:27] saheienko commented on #55937
Hello.

I've tried to migrate from Gi to G and got stucked.

Heketi creates volumes in GB ([api](https://github.com/heketi/heketi/wiki/API#volume_create)), that means 1024\*1024\*1024 ([src](https://github.com/heketi/heketi/blob/9d2ef4bbaf547f5b86055e935f1d583196a069f1/apps/glusterfs/volume_entry.go#L27)) or Gi in k8s format.

So, when I create pvc with 50Gi, gluster plugin parses it as 54G and th

[2017-11-21 22:30] luxas commented on #49480
Yes @enisoc we'll handle that as we get closer to the release date and actually can publish the new packages

[2017-11-21 22:31] #56092 closed

[2017-11-21 22:31] #54314 closed

[2017-11-21 22:32] luxas commented on #56091
Status update: https://github.com/kubernetes/test-infra/pull/5610 went in yesterday
The actual test-infra image bump got merged now https://github.com/kubernetes/test-infra/pull/5636, so the tests should start passing soon-ish

[2017-11-21 22:33] saheienko commented on #55937
@humblec @gnufied

[2017-11-21 23:00] gnufied opened #56177 "Document resize interface with comments"
/sig storage

[2017-11-21 23:00] gnufied commented on #56177
/assign

[2017-11-21 23:04] #52173 closed

[2017-11-21 23:04] #54501 closed

[2017-11-21 23:05] at1984z commented on #55559
@dhilipkumars #55329 will not help for the described use case where requirements are
1. one label for the active pod in StS
2. another label for the rest of the pods in StS
3. the label values are picked by the application (pods) based on a condition and not by StS controller.

Anyway, what's the take on the reported issue? Is it a bug or a feature?

[2017-11-21 23:14] dashpole commented on #53327
The pod transitioned to pending, which was a bug that was recently fixed: https://github.com/kubernetes/kubernetes/issues/54499
It was fixed in https://github.com/kubernetes/kubernetes/pull/54593.  I rebased, which should include that fix.  Try that when you get the chance

[2017-11-21 23:15] enis commented on #27796
I am getting this error when trying to sign up as an individual contributor with my github:
[code]

[2017-11-21 23:21] dankohn commented on #27796
@enis That's an unhelpful error message. Could you please email helpdesk@rt.linuxfoundation.org.

@emsearcy @alanapost could you please see if something is down.

[2017-11-21 23:30] skeller88 commented on #54583
Any estimate on this fix? Asking because I'm seeing the issue referenced in https://github.com/GoogleCloudPlatform/k8s-stackdriver/issues/43

[2017-11-21 23:38] shyamjvs commented on #53327
I already rebased your PR locally before testing it (against the head from nov 20):

[code]

So that fix should've been included.

[2017-11-22 00:20] emsearcy commented on #27796
(Also replied via helpdesk)

The cause of this issue was that GitHub supposedly returns only validated email addresses via Oauth, but for this account they supplied a malformed/obfuscated email address (without any @ sign) that was used for this account. The e-signing component hit an edge case because it wasn't tested with non-conforming email strings.

We'll apply a fix in software, with the res

[2017-11-22 00:39] enis commented on #27796
Thanks Eric,

I was able to use my "enis" account for the CLA.

Thanks for the help. We can close this.
Enis

On Tue, Nov 21, 2017 at 4:21 PM, Eric Searcy <notifications@github.com>
wrote:

[2017-11-22 01:08] lichuqiang commented on #55179
@jiayingz yes, please

[2017-11-22 01:14] berlinsaint commented on #47202
and cron format not support year filed, how to run a job only once at a specified time?

[2017-11-22 01:20] jiayingz commented on #55179
/close

[2017-11-22 01:20] #55179 closed

[2017-11-22 01:27] thiagoarrais commented on #33766
Ran into this as well

[2017-11-22 01:30] CaoShuFeng commented on #56134
#56136 is a pull request.
This is an issue.
So this is not a dup.

/assign

[2017-11-22 01:55] verult commented on #41141
Would https://github.com/kubernetes/features/issues/498 prevent this scenario?

[2017-11-22 01:57] #55733 closed

[2017-11-22 01:57] #49236 closed

[2017-11-22 02:04] saad-ali commented on #54108
I don't think this is the right approach. The fact that iSCSI and FC are doing attach inside `WaitForAttach()` is wrong. And modifying these interfaces to support that is making it worse. Let's revisit if it makes sense to have FC and iSCSI implement a attacher interface.

[2017-11-22 02:21] wenjun93 commented on #56149
duplicated with #48953

[2017-11-22 02:44] msau42 opened #56180 "Try to make scheduler volume binding more extendable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests
@kubernetes/sig-scheduling-feature-requests

**What happened**:
Before volume scheduling moves to beta, see if there's a way to make the volume binding changes more pluggable to:
* better support custom schedulers
* make it easier for other cluster-level resources to integrate into the pod scheduling flow

[2017-11-22 02:44] msau42 commented on #56180
/assign @msau42 @bsalamat
/cc @liggitt

[2017-11-22 02:48] ScorpioCPH commented on #56144
@ConnorDoyle Hi, #56105 have fixed this, lgtm.

[2017-11-22 02:56] #44103 closed

[2017-11-22 02:56] #56166 closed

[2017-11-22 02:56] #56144 closed

[2017-11-22 03:09] m1093782566 commented on #56143
@murali-reddy

I am curious that how kube-router solve the same host pod-to-pod communication via VIP? Any comments are welcome :)

[2017-11-22 03:19] arun-gupta commented on #33621
`kube-up.sh` is no longer maintained. Quota seems to be working as explained at https://github.com/arun-gupta/kubernetes-aws-workshop/tree/master/developer-concepts#quota-and-limits.

[2017-11-22 03:19] #33621 closed

[2017-11-22 03:19] fejta-bot opened #56181 "Failure cluster [438f44...] failed 196 builds, 21 jobs, and 1 tests over 1 days"
### Failure cluster [438f44e91bfde2dea3a5](https://go.k8s.io/triage#438f44e91bfde2dea3a5)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    21 jobs failed,    196 builds failed.
Failure stats cover 1 day time range '20 Nov 2017 23:59 UTC' to '21 Nov 2017 23:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 21 |

##### To

[2017-11-22 03:19] fejta-bot opened #56182 "Failure cluster [463c7a...] failed 114 builds, 19 jobs, and 1 tests over 1 days"
### Failure cluster [463c7a7bdceeb6bcfb55](https://go.k8s.io/triage#463c7a7bdceeb6bcfb55)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    19 jobs failed,    114 builds failed.
Failure stats cover 1 day time range '20 Nov 2017 23:59 UTC' to '21 Nov 2017 23:59 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 19 |

#

[2017-11-22 03:20] varuntalus commented on #56165
Can anyone please look into this issue.

Is there a compatibility concern of k8s version with heapster version? I am using below versions:

**_kubernetes version: 1.8.3
Heapster version: 1.4.0_**

[2017-11-22 03:49] mtanino commented on #54108
@saad-ali
Thank you for the comment. I understand. I'll revisit this for v1.10.

IIUC, the attacher interface was introduced to enforce accessModes=ReadWriteOnce via A/D controller.
If there is an alternative way to enforce accessModes without A/D controller, we could use it for FC and iSCSI.

Thanks,

[2017-11-22 04:25] bsalamat commented on #56180
cc/ @vishh @yguo0905

[2017-11-22 04:37] MrHohn commented on #56089
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ingress
Test is no longer failing, seems #56128 fixed it.

/close

[2017-11-22 04:37] #56089 closed

[2017-11-22 04:38] MrHohn commented on #56079
https://k8s-testgrid.appspot.com/google-gce#gci-gce-slow
Test is no longer failing, seems #56128 fixed it.

/close

[2017-11-22 04:38] #56079 closed

[2017-11-22 04:39] MrHohn commented on #56080
https://k8s-testgrid.appspot.com/google-gke#gci-gke-slow
Test is no longer failing, seems #56128 fixed it.

/close

[2017-11-22 04:39] #56080 closed

[2017-11-22 04:39] MrHohn commented on #55195
https://k8s-testgrid.appspot.com/google-gke#gci-gke-ingress
Test is no longer failing, seems #56128 fixed it.

/close

[2017-11-22 04:39] #55195 closed

[2017-11-22 04:45] MrHohn commented on #56058
FYI a similar test panic issue was fixed by https://github.com/kubernetes/kubernetes/pull/56128. Ref https://github.com/kubernetes/kubernetes/issues/56089#issuecomment-345912419. Not sure if this is the same.

[2017-11-22 04:55] murali-reddy commented on #56143
@m1093782566 Not sure i understand the problem correctly.
[code]
When pod A, pod B on same node?

Please see https://github.com/cloudnativelabs/kube-router/issues/151

[2017-11-22 05:32] andyzhangx opened #56188 "add NFS volume support for windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently NFS volume is not supportd for windows. There is built-in client for NFS, but it’s limited to v2 and v3 (whereas, majority of the market has moved on to v4). So as long as there is no support for NFS v4, we could **not** start up this work in k8s.

**What you expected to happen**:

**How to reproduce it (as m

[2017-11-22 05:37] andyzhangx commented on #56167
@karataliu

[2017-11-22 05:38] #53735 closed

[2017-11-22 05:41] karataliu commented on #56167
Same cause: #55837

MSI is still a preview feature now. The azure sdk used by k8s v1.8 did not add the required metadata header.  You can try v1.9 and it should work.

[2017-11-22 05:59] ligc commented on #55807
A little bit more information about the customer issue that @tengqm mentioned in the [comments ](https://github.com/kubernetes/kubernetes/issues/55807#issuecomment-344786055) above:

The customer is running Kubernetes in their production system , the PostStart and preStop hooks are used to register and de-register the PODs in the hardware loadbalancing system, some of the PODs exited with errors o

[2017-11-22 06:12] jianglingxia commented on #54984
I confuse that :
1、why config the OpenStack Cloud Provider ,the k8s use the nodename instead of ip?
2、if the nodename has two same and What to do？I read the code and no place to validate the same nodename.
thanks for your reply. @edisonxiang @FengyunPan
![image](https://user-images.githubusercontent.com/25783555/33112607-098ae26e-cf8f-11e7-826b-275e02736b8f.png)

[2017-11-22 06:15] mengqiy commented on #55779
@porridge It seems it stops failing.

[2017-11-22 06:18] edisonxiang opened #56189 "controlplane unit test failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`cmd/kubeadm/app/phases/controlplane` unit tests failed.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]
It will get [some error](https://gist.github.com/edisonxiang/afda9efe6eb4b132c0974089248d0d30).
I found this issue only happened when the `flexvolumeDirVolu

[2017-11-22 06:27] m1093782566 commented on #56143
@murali-reddy

Yes.

I find kernel module `br_netfilter` is already installed in the GCE host(with kubenet plugin), but it still doesn't work.

[2017-11-22 06:28] varuntalus commented on #56165
/sig autoscaling

[2017-11-22 06:29] edisonxiang commented on #56189
/area kubeadm

[2017-11-22 06:30] Lion-Wei commented on #56143
@murali-reddy Thanks for replay, but in my situation, seems like pod2 didn't got any  package.
I have enabled `br_netfilter`, unfortunately didn't work for me...

[2017-11-22 06:32] saheienko opened #56192 "pvc: glusterfs provisioner volume size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Continue to https://github.com/kubernetes/kubernetes/issues/55937

I've tried to migrate from Gi to G and got stuck.

Heketi creates volumes in GB ([api](https://github.com/heketi/heketi/wiki/API#volume_create)), it means 1024\*1024\*1024 ([src](https://github.com/heketi/heketi/blob/9d2ef4bbaf547f5b86055e935f1d583196a069f1/apps/glus

[2017-11-22 06:35] saheienko commented on #56192
/sig storage

[2017-11-22 06:37] saheienko commented on #56192
/cc @gnufied @humblec

[2017-11-22 06:38] lannyMa commented on #55649
+1

[2017-11-22 06:44] jianzj commented on #52984
@dyatom  Hello , actually I met the same issue with you. And it may should be package problem when building, go use the wrong place package.

To make it work, you would just delete directory `vendor` and retry, it will work and build out `proxy.exe` .

Feel free to have a try .

[2017-11-22 06:50] jianglingxia commented on #53737
have you  upgrade especially from non-OpenStack Cloud Provider to OpenStack Cloud Provider?
the issue is 1.6 with OpenStack Cloud Provider upgrade 1.7 with OpenStack Cloud Provider? thanks

[2017-11-22 06:54] porridge commented on #55779
@mengqiy yes, this test fails intermittently, but the problem is that *some* test is failing in this job pretty much every single time, and it is not a good state to be in for a release-blocking job.
So just saying "oh, it was just this one-time flake" is not an option. We're in this "surely it will pass the next time" mode for over 2 weeks now.
We need to make progress on fixing the flakes, even

[2017-11-22 06:57] zdtsw commented on #53333
@kad to have "# echo 'Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false"' > /etc/systemd/system/kubelet.service.d/90-local-extras.conf" would cause problem......
it overwrites whats already in the conf file (if any other flag has been used) , especially, the line [Service]

[2017-11-22 07:05] humblec commented on #49108
This should be fixed by https://github.com/kubernetes/kubernetes/pull/55796

[2017-11-22 07:07] humblec commented on #46331
Refer# https://github.com/kubernetes/kubernetes/pull/55796

[2017-11-22 07:08] hixichen commented on #53333
Could be a typo:   '>'  -->  '>>'

[2017-11-22 07:15] porridge opened #56194 "test "Networking Granular Checks: Services [Slow] should update nodePort: udp [Slow]" failed in large-scale test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-network-bugs
/priority critical-urgent
this is causing a release-blocking job to fail
umbrella issue: https://github.com/kubernetes/kubernetes/issues/57323

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/33 failed with:
[code]

[2017-11-22 07:20] loburm commented on #54583
It was already fixed in head and in 1.8 long time ago. Fix was merged to 1.7 recently, so we are just waiting for new patch release.

[2017-11-22 07:22] porridge commented on #56058
It could well be the same, or something very similar elsewhere.
This one [failed again](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/33) on code before your PR was merged. Another -correctness test won't run soon, but I'll try to do some digging to try and figure out if it was the same duplicate call.

[2017-11-22 07:23] zdtsw commented on #53333
@hixichen Yep, I do agree with you. ">>" is better than ">" Since it got 7 :+1:  it is better to clarify before others copy/paste the wrong one

[2017-11-22 07:28] porridge commented on #56061
Dear sig-api-machinery leads @deads2k @lavalamp do you have any thoughts about why apiserver's memory usage might vary by 3x between mostly-identical performance test runs? Or how to approach debugging this?

[2017-11-22 07:30] porridge commented on #56142
Happened again in:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8198

[2017-11-22 07:31] davidopp commented on #55807
I'm not sure which SIG owns the preStop/postStop hooks but it is not sig-scheduling.

Adding @kubernetes/sig-node-bugs in case they are the owner.

[2017-11-22 07:40] porridge opened #56195 "pod failure during gce-scalability-release-1-7 density test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability-release-1-7/481 failed with:
[code]

The test does not seem to print which pod failed and why though.
The following is seen a bit earlier, which might be related:
[code

[2017-11-22 07:41] porridge commented on #56053
umbrella bug: #56062

[2017-11-22 07:41] porridge commented on #56195
Umbrella bug: #56062

[2017-11-22 07:46] BSWANG commented on #50878
@Calpicow @resouer Same issue on kubernetes 1.8 + Centos 7.3(3.10.0-514)/7.4(3.10.0-693) . Upgrade kernel to 4.13 can also avoid this issue.

[2017-11-22 07:52] varuntalus commented on #56165
@kubernetes/sig-autoscaling-bugsTeam members are private

[2017-11-22 08:01] r7vme commented on #56167
thanks @karataliu this works with 1.9.0-beta.

WDYT? will this be cherry-picked/fixed for older versions? or this bug can be closed?

[2017-11-22 08:03] r7vme commented on #56167
I see your last [comment](https://github.com/kubernetes/kubernetes/issues/55837#issuecomment-344815416).

Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/55837 . Expected to be fixed in 1.8.

[2017-11-22 08:03] #56167 closed

[2017-11-22 08:04] r7vme commented on #55837
I have the same issue and expect fix for 1.8. Thanks

[2017-11-22 08:07] wenjun93 commented on #56149
@mtanino What's the logic of preventing multi-attach of iSCSI volume after implement iSCSI attacher interface? In attachdetach controller reconciler `isMultiAttachForbidden()` works for this, right? thanks.

[2017-11-22 08:15] #51210 closed

[2017-11-22 08:18] gjmzj commented on #35062
I'm seeing this once, when i clean up all the cluster and reinstall, it disappers.

[2017-11-22 08:26] andyzhangx commented on #55837
I don't think there would be a cherry-pick of azure SDK upgrade for a preview feature.

[2017-11-22 08:27] #55102 closed

[2017-11-22 08:27] #55857 closed

[2017-11-22 08:37] kad commented on #53333
Well, hopefully people would not be copy&pasting without thinking :)

[2017-11-22 08:37] saheienko commented on #56192
/kind bug

[2017-11-22 08:38] mmaquevice commented on #53737
The issue was from/to the same OpenStack Cloud Provider.

[2017-11-22 09:00] porridge commented on #56058
I cannot say it with 100% certainty, but I think  #56128 should have fixed this one too.
The reason we fail in `containerResourceGatherer.StopAndSummarize` (which is invoked earlier by `AfterEach`) rather than `framework.AllNodesReady` is most likely that resource gathering is not enabled for most jobs, but is enabled for scalability jobs.
/close

[2017-11-22 09:00] #56058 closed

[2017-11-22 09:00] porridge commented on #56058
(BTW I did check that all of the affected scalability jobs did run the ingress test which had the duplicate AfterEach call).

[2017-11-22 09:08] kenden commented on #50357
Can you add information about this issue? See the issue template has:

Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:

/kind bug
/kind feature
What happened:

What you expected to happen:

How to reproduce it (as minimally and precisely as possible):

Anything else we need to know?:

Environment:

Kubernetes version (use kubectl version):
Cloud provider or

[2017-11-22 09:09] jianglingxia commented on #53737
do you know the follow question?
1、why config the OpenStack Cloud Provider ,the k8s use the nodename instead of ip?
2、if the nodename has two same and What to do？I read the code and no place to validate the same nodename.
thanks for reply

[2017-11-22 09:18] kenden commented on #50356
Not enough information, no updates, I suggest to close.

[2017-11-22 09:19] kenden commented on #50433
Could you add more information about this issue? See the issue template has:

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g.

[2017-11-22 09:30] karataliu commented on #56086
If you specify 'loadBalancerSourceRanges' in service spec, then the NSG rule will always apply.

In the case you mentioned, the NSG already contains rules for restricting traffic in vnet, it might also require the exposed k8s service to be accessed from limited sources, thus having 'loadBalancerSourceRanges' also sounds reasonable here.

[2017-11-22 09:38] crassirostris commented on #53006
Marking it as urgent, since it's blocking https://github.com/kubernetes/kubernetes/issues/53020

[2017-11-22 09:39] crassirostris commented on #53020
I think this is a critical bug, since it doesn't allow us to load test audit logging, which is an important thing for a beta feature

[2017-11-22 09:44] hzxuzhonghu commented on #53006
@crassirostris If split #53020 into 3 prs, I must do it one by one . Now first one is up #56126.

[2017-11-22 09:46] crassirostris commented on #53006
SGTM. Status of this issue:

ETA: 25/11/2017
Risks: Complicated fix required

[2017-11-22 09:54] hzxuzhonghu commented on #53006
#53105 has been reviewed for almost 2 months and has not done. If I raise 3 prs to replace it, I am still worried, if all of them can be merged. They act as a whole.

[2017-11-22 10:02] shyamjvs commented on #56058
Thanks for looking into this - let's keep a watch on today's run of 2k-node correctness.

[2017-11-22 10:03] shyamjvs commented on #56051
We were seeing a similar issue for memory a while ago (https://github.com/kubernetes/kubernetes/issues/54135) for l7-lb-controller.

[2017-11-22 10:09] shyamjvs commented on #54135
Seems like we're also seeing an increase in CPU usage now (https://github.com/kubernetes/kubernetes/issues/56051), though by a small margin.
Is there something being done to understand this?
Also IMO we should bump the threshold for our density test to not make it fail due to this.

[2017-11-22 10:25] gogeof opened #56203 "kube-apiserver proxying data not write in cause kube-dns failed to connect with kubernetes service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kube-apiserver write proxying data from client to backend failed, but not try again, cause kube-dns can not connect kubernetes service

**What you expected to happen**:
kube-apiserver write proxying data failed, cause kube-apiserver failed, then kube-apiserver will restart and try again.

**How to reproduce it (as minimall

[2017-11-22 10:27] bainim opened #56204 "kubectl version : unable to connect to the server: dial ip_adresse:6443: getsockopt: no route to host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
i can't know the version of kubernetes
**What you expected to happen**:
have the version of the kubernetes (use kubectl version)
**How to reproduce it (as minimally and precisely as possible)**:
#kubectl version
unable to connect to the server: dial ip_adresse:6443: getsockopt: no route to host
**Anything else we need to

[2017-11-22 10:28] gogeof commented on #56203
**Here is the kube-apiserver's error log:**
[code]

**from iptables -t nat, can't find any kubernetes service rule**
[code]

[2017-11-22 10:30] crassirostris commented on #53006
@hzxuzhonghu Now I'm going to devote my time to it, we'll do it

[2017-11-22 10:31] crassirostris commented on #44976
@Random-Liu

I'm not worried about today, I'm more worried about CRI format making it hard/close to impossible to improve extensibility tomorrow. For example, cri-o already implemented the old format, now they have to change it. Next time it may be 10 different runtimes changing format because the current one is not extensible enough. You're trading performance today (arguably on not that importan

[2017-11-22 10:35] #56116 closed

[2017-11-22 10:42] hzxuzhonghu commented on #53006
OK.

[2017-11-22 10:44] varuntalus commented on #56165
cc @piosz

Could you please help me with this issue. I saw many related issues raised earlier (e.g. **_#47334_**) but could not find proper solution to this problem.

[2017-11-22 10:50] sandylss commented on #56148
@dixudx thank u

I commented `KUBELET_NETWORK_ARGS` and then command `systemctl daemon-reload`. kubeadm still hung there

`journalctl -xeu kubelet` shows

every 10 seconds

syslog shows

I re-installed my system but the problem is still there. It's weird. I've followed the tutorial step by step. Is it similar to https://github.com/kubernetes/kubernetes/issues/55649?

**Environment:**
Ubuntu 16.04.

[2017-11-22 10:54] bainim commented on #56204
Ok , i get the response :
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

This works for me :)

[2017-11-22 10:54] #56204 closed

[2017-11-22 10:56] #55083 closed

[2017-11-22 11:27] varuntalus commented on #56165
**_Please find below the Heapster logs:_**

I1122 06:49:31.201472       1 heapster.go:72] /heapster --source=kubernetes:https://x.x.x.x:6443?inClusterConfig=false&insecure=true --sink=influxdb:http://monitoring-influxdb.kube-system.svc:8086
I1122 06:49:31.201521       1 heapster.go:73] Heapster version v1.3.0
I1122 06:49:31.201558       1 configs.go:61] Using Kubernetes client with master "https:/

[2017-11-22 11:56] sathieu commented on #40182
#52569 looks to be the proper fix for this (since v1.9.0-alpha.2).

[2017-11-22 12:07] jakubbujny commented on #23001
@therc works like a charm! Thank you! It's probably the best way to separate logs from multideployment kubernetes cluster :)

[2017-11-22 12:15] crassirostris opened #56209 "Add PodSecurityPolicy admission information to audit logs"
Follow-up of https://github.com/kubernetes/kubernetes/pull/55486#issuecomment-343873447

Quoting @sttts:

/cc @tallclair @sttts @kubernetes/sig-auth-feature-requests @kubernetes/sig-instrumentation-feature-requests

[2017-11-22 12:24] crassirostris opened #56210 "Test audit logging in all environments"
Follow-up of https://github.com/kubernetes/kubernetes/pull/55953

Currently, audit logging tests are testing only gce-specific audit logging policy, whereas it would be useful to test audit logging always, ideally -- make it a conformance test.

Part of the issue is figuring out some default policy.

/cc @tallclair @loburm @kubernetes/sig-auth-feature-requests @kubernetes/sig-instrumentation-featu

[2017-11-22 12:30] dims commented on #55618
@kubernetes/sig-node-bugs

[2017-11-22 12:33] dims commented on #53566
/sig federation

[2017-11-22 12:34] dims commented on #53566
/sig multicluster

[2017-11-22 12:35] dims commented on #55585
/area cloudprovider

[2017-11-22 12:36] dims commented on #44990
/close

[2017-11-22 12:36] #44990 closed

[2017-11-22 12:38] crassirostris commented on #23001
Elasticsearch deployment in this repo is only an example and not a solution that works in any deployment, so I don't think we should change it here

Thanks for the workaround anyways!

[2017-11-22 12:38] #23001 closed

[2017-11-22 12:43] dims commented on #43389
sig-openstack has decided to deprecate the Heat based support

https://github.com/kubernetes/website/pull/5670

thanks,
Dims

/close

[2017-11-22 12:43] #43389 closed

[2017-11-22 12:45] dims commented on #31336
sig-openstack has now deprecated the heat support https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:45] #31336 closed

[2017-11-22 12:48] dims commented on #40737
looks like this was already done.

/close

[2017-11-22 12:48] #40737 closed

[2017-11-22 12:54] dims commented on #40741
Heat support is now deprecated - https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:54] #40741 closed

[2017-11-22 12:55] dims commented on #53983
Heat support is now deprecated - https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:55] #53983 closed

[2017-11-22 12:55] dims commented on #51346
Heat support is now deprecated - https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:55] #51346 closed

[2017-11-22 12:55] dims commented on #43468
Heat support is now deprecated - https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:55] #43468 closed

[2017-11-22 12:55] dims commented on #43476
Heat support is now deprecated - https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:55] #43476 closed

[2017-11-22 12:56] dims commented on #46781
Looks like there is no interest from juju folks. so we won't be fixing this anytime soon

/close

[2017-11-22 12:56] #46781 closed

[2017-11-22 12:56] dims commented on #40850
Heat support is now deprecated - https://github.com/kubernetes/website/pull/5670

/close

[2017-11-22 12:57] dims commented on #36992
looks like this is fixed? please reopen if needed

/close

[2017-11-22 12:57] #36992 closed

[2017-11-22 12:58] dims commented on #50246
cc @bugosiphionah

[2017-11-22 13:05] dims commented on #50004
cc @FengyunPan

[2017-11-22 13:05] dims commented on #47831
/close

[2017-11-22 13:05] #47831 closed

[2017-11-22 13:06] dims commented on #55326
/remove-sig openstack

not really related to any change in openstack code

[2017-11-22 13:08] dims commented on #12083
@FengyunPan @anguslees anything we can do here to make things better?

[2017-11-22 13:08] dims commented on #33759
https://github.com/kubernetes/kubernetes/pull/38959 has merged. closing this issue

/close

[2017-11-22 13:08] #33759 closed

[2017-11-22 13:09] dims commented on #35048
@grahamhayes ping :)

[2017-11-22 13:10] dims commented on #32924
@grahamhayes any thoughts on this one?

[2017-11-22 13:11] dims commented on #42784
/sig storage
/remove-sig openstack

[2017-11-22 13:12] dims commented on #42690
@danehans the new IPv6 support will work in this situation right?

[2017-11-22 13:13] dims commented on #42690
details at https://docs.google.com/presentation/d/1pjiH0w8VQUfMvJO5Ve8s3lmc0hWfT4d1G-KHlLAVw64/edit#slide=id.p

[2017-11-22 13:13] dims commented on #42690
/remove-sig openstack

Not really specific to openstack

[2017-11-22 13:14] georgekuruvillak opened #56212 "Orphan containers post restore of etcd from a previous backup."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I take a backup of the etcd store. I deploy a pod. Restore etcd using the previous snapshot. The pod  deployed post the backup operation is not reflected on the K8S cluster. But the pod is still running on the nodes.

**What you expected to happen**:

The containers should be stopped and garbage collected.

**How to rep

[2017-11-22 13:14] dims commented on #48728
No response. please reopen with information requested. Thanks.

-- Dims

/close

[2017-11-22 13:14] #48728 closed

[2017-11-22 13:22] georgekuruvillak commented on #56212
/sig node

[2017-11-22 13:23] dims commented on #35056
@grahamhayes ping :)

[2017-11-22 13:29] dims commented on #47392
Should be fixed with https://github.com/kubernetes/kubernetes/pull/52628 you can specify a search order for metadata and config drive

/close

[2017-11-22 13:32] dims commented on #34698
looks like #41498 is merged and https://github.com/kubernetes/kubernetes/issues/42013 is not really specific to openstack. so let's close this out

/close

[2017-11-22 13:32] #34698 closed

[2017-11-22 13:33] GalochkinKirov commented on #54601
It does not work for me.

[2017-11-22 13:34] dims commented on #47168
looks like this was taken care of. please reopen if necessary.

/close

[2017-11-22 13:34] #47168 closed

[2017-11-22 13:35] dims commented on #46102
@Godley @NickrenREN @anguslees @FengyunPan any thoughts or updates?

[2017-11-22 13:35] dims commented on #49544
/remove-sig openstack

[2017-11-22 13:36] dims commented on #49544
@kubernetes/sig-architecture-bugs

[2017-11-22 13:36] dims commented on #49544
@kubernetes/sig-node-bugs

[2017-11-22 13:37] dims commented on #47548
@limited any updates here? please reopen if necessary

/close

[2017-11-22 13:37] #47548 closed

[2017-11-22 13:37] spiffxp commented on #56078
/close
Thanks for the fix.  Latest run is green https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-device-plugin-gpu/685

[2017-11-22 13:37] #56078 closed

[2017-11-22 13:38] dims commented on #42574
@FengyunPan @NickrenREN @anguslees @grahamhayes - thoughts?

[2017-11-22 13:42] dims commented on #55202
/sig network

cc @danehans

/remove-sig openstack

[2017-11-22 13:44] dims commented on #51687
Let's do this early in 1.10 @FengyunPan ?

[2017-11-22 13:46] spiffxp opened #56214 "[job failure] gci-gke-serial"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-21.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoing

[2017-11-22 13:46] dims commented on #50446
/close

[2017-11-22 13:47] dims commented on #49867
@MatMaul looking forward to your "PR for caching the metadatas" :)

[2017-11-22 13:48] bainim opened #56215 "Json Parse Error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Deploy nginx service using kubernetes
**What you expected to happen**:
I got this error:

Failed to download OpenAPI (the server could not find the requested ressource),falling back to swagger couldn't get version/kind ;json parse error: json: cannot unmarshal string into Go value of type struct* { APIVersion string "jso

[2017-11-22 13:56] NickrenREN commented on #46102
@Godley  would this still be a problem with the latest code ?

[2017-11-22 14:16] emonty commented on #12083
We've been discussing various things with gophercloud as well, such as
making sure we get clouds.yaml support added there. I agree with Sean about
oaktree potentially being able to help - and at this past summit we got
interest from AT&T from starting to work on that (although I owe them a
kick-off mailing list thread)

If oaktree winds up not being the way this gets solved, I highly recommend
put

[2017-11-22 14:17] sttts commented on #53459
This needs a proposal.

[2017-11-22 14:25] nikhita commented on #53459
/area custom-resources

[2017-11-22 14:31] php-coder commented on #56174
CC @adelton @pweil- @liggitt

[2017-11-22 14:33] dixudx commented on #56148
@sandylss Any detailed logs from `kubelet`?

What you are showing above are just some warnings.

[2017-11-22 14:43] liggitt commented on #56174
@kubernetes/sig-auth-proposals

[2017-11-22 14:49] dims commented on #53333
@kad hope is eternal :)

[2017-11-22 15:01] marcoceppi commented on #46781
We've recently enabled `--cloud-provider` for other clouds - not sure how this slipped through our radar, but it's something we'd like to enable

/cc @tvansteenburgh

[2017-11-22 15:21] tmjd commented on #55599
@felskrone The kubelet does support conflist. I've brought up K8s multiple times with Calico and Canal (I work on them). The problem might be how the kubelet is ran though, I think a few deployment methods run the kubelet in a container and do not mount in the necessary directories where the CNI configuration and binaries are written.  Specifically Canal and Calico will write the configuration to

[2017-11-22 15:23] luksa opened #56220 "Kube-aggregator can't access /swagger.json on some aggregated API servers"
The Service Catalog API server looks at the existing RBAC rules (in the core k8s API server) to decide whether a client can access a nonResourceURL, such as `/swagger.json`. As I understand it, other API servers will use the same technique.

The problem is that there is no `nonResourceURLs: ["/swagger.json"]` in the `system:kube-aggregator` ClusterRole. Additionally, there's no ClusterRoleBinding

[2017-11-22 15:26] luksa commented on #56220
/sig auth
/sig api-machinery

[2017-11-22 15:27] luksa commented on #56220
/sig service-catalog

[2017-11-22 15:31] saheienko commented on #56192
heketi parse volume size as Gi
https://github.com/heketi/heketi/blob/master/pkg/kubernetes/pv.go#L35

[2017-11-22 15:47] timbunce commented on #48948
See kubernetes/minikube#1158.

[2017-11-22 15:51] markine commented on #45976
I've been debugging intermittent DNS errors in a 1.7.2 cluster with Ubuntu 16 nodes on AWS deployed by kops 1.7.x. I manually cut down kube-dns (1.14.5) to just a single running replica so I could watch that EC2 node and capture DNS traffic for analysis. Notes:

- I have not been able to identify any conntrack issues on the node hosting kube-dns. The DNS stream @ cbr0 interface was about 130 pps.

[2017-11-22 16:04] tamalsaha opened #56224 "Feature: Support selecting container image based on machine architecture"
We have a cluster where some nodes are `amd64` and some are `arm64`. To deploy CNI plugins via DaemonSet, we have to use separate DS with appropriate node selectors. Can the DaemonSet container image be set based on machine architecture? This will simplify life for end users when they move between single arch cluster and mixed arch cluster.

/sig apps

[2017-11-22 16:05] tamalsaha commented on #56224
/kind feature
/sig api-machinery

[2017-11-22 16:06] markine commented on #47142
Cross posting as this seems to all be related: https://github.com/kubernetes/kubernetes/issues/45976#issuecomment-346391338

[2017-11-22 16:06] gnufied opened #56225 "Use GB and GiB constants for rounding volume sizes"
Currently we are hardcoding those values all over the place in most volume plugins. It might be a good idea to extract those in a separate constant and reuse the constants.

/sig storage

[2017-11-22 16:07] gnufied commented on #56225
/assign

[2017-11-22 16:18] onitake opened #56226 "kube-apiserver cannot reach heapster via ClusterIP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When trying to access one of the `top` resources, I get the following error:
[code]
A similar error is returned when trying to access any service via `kubectl proxy`.

**What you expected to happen**:
A node's or pod's metrics are displayed.

**How to reproduce it (as minimally and precisely as possible)**:
- Run kube

[2017-11-22 16:21] tamalsaha commented on #56224
If I create a multi-arch docker image will that work out of the box?

[2017-11-22 16:29] onitake commented on #56226
Would this work if the service is deployed as a cluster addon?

[2017-11-22 16:31] jsravn commented on #45976
Could it be something to do w/ kube-proxy deleting udp connections in the conntrack table? Maybe there is some bug in the proxy sync for udp connections?

[2017-11-22 16:38] derekwaynecarr opened #56227 "kubelet/cm and kubelet/stats/cadvisor cleanup"
neither feature or kind, but more a need to refactor the package to clean-up code.

https://github.com/kubernetes/kubernetes/pull/55969#discussion_r152615610

we have to similar code blocks that basically iterate over a list of paths, and determine if the path corresponded to a pod cgroup.

After the referenced PR, the logic is scattered across two packages.  Ideally the /stats/cAdvisor package wo

[2017-11-22 16:39] derekwaynecarr commented on #56227
/sig node
@jingxu97

[2017-11-22 16:45] Krzychek commented on #27114
How about adding "start before delay if ready" instead of "start when ready" property? so liveness probe would start either after `ready` status or after it has reached its delay.

[2017-11-22 16:51] miekg commented on #45976
@markine I wonder if using CoreDNS would make debugging here easier. According to https://github.com/kubernetes/kubernetes/issues/45976#issuecomment-338102429 is exhibits the same problem :/ But at least that cuts out some dependencies, making debugging easier.

[2017-11-22 16:58] ericchiang commented on #56169
Re-opening for cherry pick.

[2017-11-22 17:01] saheienko commented on #56192
/assign

[2017-11-22 17:11] hectorj2f commented on #44328
We are facing a kind of related issue where the kubelet isn't cgroup aware. For us, the memory and cpu capacities are not realistic. The Kubelet is running in a specific cgroup with a mem/cpu limitation. However, the kubelet's memory capacity is the one available in the host, and not the specified in the cgroup where it runs.

Do you know if there is any way of enforcing the capacity seen by the k

[2017-11-22 17:12] xiangpengzhao commented on #56227
cc @yanxuean

[2017-11-22 17:29] xiang90 commented on #54511
Here is my proposed testing plan: https://docs.google.com/a/coreos.com/document/d/1f7v72g8AWP00Gelctm26TMsO2ILfPBqq1IYlQVNNo9g/edit?usp=sharing

We had a discussion on this topic in sig-lifecycle. In general, everyone agrees the importance of having  HA test to improve the reliability of Kubernetes.

To kick off the real testing work, we need to:

1. have a "standard" way to setup a HA cluster for

[2017-11-22 17:38] thockin opened #56230 "API validation code is hard to review"
I do a fair number of code reviews.  I try to pay attention to API validation.  It's gotten very hard to review.

* There are at least 2 util libraries, and the core API validation is effectively a 3rd.

* There are poor conventions across those libraries.

* Commonly used functions might be in any of the 3.

* They are all called "validation".

* Every API version has a "validation" pkg, too.

I'

[2017-11-22 18:11] abgworrall commented on #56214
Most recent run passed; the failures are something down inside cluster creation. I'll see if there's a pattern with other GKE jobs.

[2017-11-22 18:19] dashpole opened #56234 "[Test Failure] Disk metrics appear to be off on coreos"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report
/kind bug

**What happened**:
https://github.com/kubernetes/kubernetes/pull/54316 improved disk eviction testing to make it more precise.  For example, it expects a pod which uses 299 Mb of disk not to be evicted if it sets its limit to 300 Mi.  As shown on [the testgrid](https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-flaky-gce-e2

[2017-11-22 18:19] dashpole commented on #56234
/sig node

[2017-11-22 18:22] abgworrall commented on #56214
Yep, pretty much every GKE job failed with the same error during that same time window.

[2017-11-22 18:26] jberkus commented on #55978
Hey, since the related PR is approved-for-milestone, can you mark this issue the same way?  Thanks.

[2017-11-22 18:27] KIVagant commented on #25281
We got similar issue today for Kubernetes 1.5.5:

[code]

Restarting docker and kubelet services didn't help us. But after we killed one of the `weave-net-*` pods all other pods were fixed.

[2017-11-22 18:33] xiang90 commented on #56114
/cc @gyuho

[2017-11-22 18:33] #40563 closed

[2017-11-22 18:33] ericchiang commented on #56234
cc @rphillips can you take a look at this after thanksgiving?

[2017-11-22 18:43] spiffxp commented on #56214
/close
Agree, this was a GKE bug, latest run is green https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/4389

Since this job takes ~5h to run, it takes me ~5h to see a green even after the error was fixed

[2017-11-22 18:43] #56214 closed

[2017-11-22 18:44] spiffxp commented on #56090
FYI this is still failing, it may be that I haven't seen a run yet since you've rolled out the GKE-related change

[2017-11-22 18:45] ericchiang opened #56235 "[e2e] gci-gce-audit isn't run on release branches"
@spiffxp noticed that we only run gci-gce-audit on master and there's no equivalent job for the release branches https://github.com/kubernetes/test-infra/issues/5558#issuecomment-346385580

cc @crassirostris @kubernetes/sig-auth-test-failures

I think we probably just want to run the job on the 1.9 release branch for 1.9 until we figure out how to enable it for all e2e tests (https://github.com/ku

[2017-11-22 18:50] BenTheElder commented on #55750
Let's do this. Cross build is frequently broken by incompatible method signature changes between platforms.
We can:
- enforce build tags in file names
- match these in `run_if_changed` for `pull-kubernetes-cross`
- [enforce cross is blocking on these PRs](https://github.com/kubernetes/test-infra/issues/5584)

[2017-11-22 18:52] msau42 opened #56236 "Revisit volume scheduler pod cache cleanup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/sig scheduling
/assign

**What happened**:
The scheduler volume binder keeps a cache of PV matches per pod to pass from the volume binding predicate to the assume volume function.

There are two race conditions where pod update/delete can come while we are processing the pod in scheduleOne.  To handle these 2 races, there ar

[2017-11-22 18:56] gnufied opened #56237 "Add e2e tests for volume resizing feature"
We should have e2e feature for resizing in GCE environment. Also add unit tests for node restrictions.

[2017-11-22 18:56] cblecker opened #56238 "cross-build: PR 56036 causing cross build failure"
[code]

https://github.com/kubernetes/kubernetes/blob/4e2f5e2212b05a305435ef96f4b49dc0932e1264/cmd/kube-proxy/app/server_windows.go#L49

https://github.com/kubernetes/kubernetes/pull/56036
https://k8s-testgrid.appspot.com/sig-release-misc#cross-build&graph-metrics=test-duration-minutes
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3958

---
cc: @kuberne

[2017-11-22 18:56] gnufied commented on #56237
/sig storage
/assign

[2017-11-22 18:57] spiffxp opened #56239 "[job failure] gci-gke-reboot"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures because this is a GKE job
@kubernetes/sig-cluster-lifecycle-test-failures because the failing tests are owned by this SIG

This job has been failing since 2017-11-22.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-bloc

[2017-11-22 18:58] BenTheElder commented on #56238
This is at least twice in a week we've had cross break due to a public method signature change not being brought to all platforms (https://github.com/kubernetes/kubernetes/issues/56002)
We should do: https://github.com/kubernetes/kubernetes/issues/55750

[2017-11-22 19:04] mindprince commented on #56090
Yes, it's an expensive test and runs only every 12 hours. It should pass in the next run.

[2017-11-22 19:24] spiffxp opened #56241 "[job failure] gce-1.8-master-upgrade-master"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since at least 2017-11-08.  It's on the [sig-release-master-upgrade dashboard](https://k8s-testgrid.appspot.com/sig-release-master-upgrade),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoin

[2017-11-22 19:25] dashpole commented on #54448
This was cherrypicked back to 1.7 a while ago and should be in the latest 1.7 patch release

[2017-11-22 19:25] #54448 closed

[2017-11-22 19:26] spiffxp opened #56242 "[job failure] gce-1.8-master-upgrade-cluster-parallel"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since at least 2017-11-08.  It's on the [sig-release-master-upgrade dashboard](https://k8s-testgrid.appspot.com/sig-release-master-upgrade),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoin

[2017-11-22 19:30] spiffxp opened #56243 "[job failure] gce-1.8-master-upgrade-cluster"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since at least 2017-11-08.  It's on the [sig-release-master-upgrade dashboard](https://k8s-testgrid.appspot.com/sig-release-master-upgrade),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoin

[2017-11-22 19:32] spiffxp opened #56244 "[job failure] gce-master-1.8-downgrade-cluster"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cluster-lifecycle-test-failures

This job has been failing since at least 2017-11-08.  It's on the [sig-release-master-upgrade dashboard](https://k8s-testgrid.appspot.com/sig-release-master-upgrade),
and prevents us from cutting [v1.9.0-beta.1] (kubernetes/sig-release#34). Is there work ongoin

[2017-11-22 19:33] dashpole commented on #56122
duplicate of https://github.com/kubernetes/kubernetes/issues/55909

[2017-11-22 19:59] #54435 closed

[2017-11-22 19:59] #56041 closed

[2017-11-22 20:07] jingax10 commented on #56134
/open

[2017-11-22 20:08] jingax10 commented on #56134
/reopen

[2017-11-22 20:11] Josh-West-Bose commented on #56169
The same issue is occurring with the `--oidc-groups-prefix` flag.

[2017-11-22 20:16] ixdy opened #56246 "version information missing from kubernetes-src.tar.gz"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: after https://github.com/kubernetes/kubernetes/pull/55353 + related changes to anago, the version information is no longer included in the `kubernetes-src.tar.gz` source tarball produced by `build/lib/release.sh` in releases.

The source tarball from github (which uses `git archive`) is correct, since https://github.com/k

[2017-11-22 20:27] cmluciano commented on #40182
closed with https://github.com/kubernetes/kubernetes/pull/52569

[2017-11-22 20:27] #40182 closed

[2017-11-22 20:52] spiffxp commented on #27579
/close
We're taking another stab at this by defining the criteria for release-blocking, since we no longer block the queue on postsubmits.  See https://github.com/kubernetes/sig-release/issues/24

[2017-11-22 20:52] #27579 closed

[2017-11-22 20:54] spiffxp commented on #27578
Anecdotally we're now somewhere in the <60 minute range.  We're attempting to refine merge-blocking criteria in https://github.com/kubernetes/sig-release/issues/24 but I'll leave this open for now because it's still relevant

[2017-11-22 20:54] luxas opened #56248 "API Server crashlooping after upgrade from v1.8.4 to v1.9.0-beta.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After I upgraded the apiserver in a cluster from v1.8.4 to v1.9.0-beta.0, the apiserver started crashlooping.

**What you expected to happen**:

No crashloop :)

**How to reproduce it (as minimally and precisely as possible)**:
use kubeadm from master
[code]

**Anything else we need to know?**:

relevant apiserver log

[

[2017-11-22 21:00] bsalamat commented on #56057
@JorritSalverda Have you enabled any alpha features in your cluster?

[2017-11-22 21:04] mindprince commented on #56090
/close
Latest run passed.

[2017-11-22 21:04] #56090 closed

[2017-11-22 21:08] bsalamat commented on #56057
Could you also provide as much of your pods' config as possible?

[2017-11-22 21:09] tallclair commented on #56209
I don't think this should be baked into the audit log API, since the PSP controller is an optional plugin. Instead, I think we should add some extension mechanisms to the audit log, and extend the admission API to expose that. E.g. `AdmissionAnnotations` or just use the existing annotations.

I could see a similar use for authentication & authorization. E.g.:
- Request was authenticated using the

[2017-11-22 21:09] shyamjvs commented on #56139
Those SSHs are due to periodic probing from resource-gatherer.
You can look for `singleProbe` function in the codebase.

[2017-11-22 21:17] deads2k commented on #56248
this blocks the common case migration.  Pull #56252 open to fix it.

[2017-11-22 21:29] djsly opened #56253 "the pause-amd64:3.0 image on gcr.io has an empty schema2 manifest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
the pause-amd64:3.0 image on gcr.io has an empty schema2 manifest, which prevents is from being pulled by proxy/caches which only support V2 registries.

**What you expected to happen**:
Being able to pull `gcr.io/google_containers/pause-amd64:3.0 using a V2 manifest compatible client.

**Anything else we need to know?**:

[2017-11-22 21:32] djsly commented on #56253
@kubernetes/sig-node-bugs
@kubernetes/sig-release-bugs

[2017-11-22 21:32] nielsole commented on #45022
I just wrote a long comment on how somehow my iptables is always modified so the fix only works temporarily.

...

Turns out I have `ufw` running on the node with `DEFAULT_FORWARD_POLICY="DROP"` *facepalm*

Happy [rubberducking](https://en.wikipedia.org/wiki/Rubber_duck_debugging) :)

[2017-11-22 21:35] djsly commented on #56253
After talking with @enisoc , he mentionned the following

[2017-11-22 21:47] sbezverk opened #56254 "incorrect etcd version in constants.go"
constants.go uses non existing etcd version for k8s 1.10.0.
/kind bug
/sig cluster-lifecycle

[2017-11-22 21:51] JorritSalverda commented on #56057
The cluster has no alpha features enabled. It's going to be hard to provide config as the cluster is running 273 deployments, 8 statefulsets and 4 daemonsets.

However all of the pending applications have `podAntiAffinity` rules similar to:

[code]

[2017-11-22 21:53] vishh commented on #53395
This issue still does not capture upgrade story for device plugins. Capturing some possible options. The decisions made as part of this issue should be moved to a user guide @jiayingz

1. Until device plugin API goes GA, device plugin themselves have support for multiple device plugin API versions. If registration fails for the newest version, it would try the previous known version. This would al

[2017-11-22 22:02] thockin commented on #56238
I'm lost - the PR in question adds an argument and fixes the call-site - what is broken?

[2017-11-22 22:02] thockin commented on #56238
Ahh, I see.

[2017-11-22 22:03] yujuhong commented on #53601
@iaguis thanks for the update!

I don't think rktnetes ever supports attach or port forward, so I don't think they should be the blocker for deprecating rktnetes.
Adding @yifan-gu @euank to confirm.

[2017-11-22 22:12] #54139 closed

[2017-11-22 22:22] thockin commented on #56238
How did that PR get through, if it is so obviously broken on Cross?

[2017-11-22 22:23] thockin commented on #55750
How does the cross test not catch these busted PRs?

[2017-11-22 22:23] cblecker commented on #56238
@thockin Cross build doesn't run 100% of the time as a pre-submit (because it takes so long), and it can't block. It's something sig-testing is tracking, but there isn't a quick fix yet.

[2017-11-22 22:24] gnufied commented on #56238
Looks like `make cross` was skipped for that PR:

"pull-kubernetes-cross Skipped"

not sure why yet.

[2017-11-22 22:41] djsly commented on #56086
thanks! I will try and let you know

On Wed, Nov 22, 2017 at 4:31 AM, Dong Liu <notifications@github.com> wrote:

[2017-11-22 22:44] bsalamat commented on #56057
Thanks, @JorritSalverda. Does the config have any other restrictions, such as other affinity/anti-affinity or does it have any toleration?

[2017-11-22 22:58] BenTheElder commented on #55750
1) Cross runs against PRs that change files matching a regex since it's an expensive job, so it may not have run against these bad PRs since they change files without `_platform` in the file name.
2) [Cross isn't currently blocking because there was a bug with this type of run_if_changed job](https://github.com/kubernetes/test-infra/issues/5584), the bug should be fixed now so we can make cross bl

[2017-11-22 23:00] #55628 closed

[2017-11-22 23:00] #55909 closed

[2017-11-22 23:04] BenTheElder commented on #56238
Cross runs when a file matching:
 `'^(build\/|hack\/lib\/)|(Makefile)|(.*_(windows|linux|osx|unsupported)(_test)?\.go)$'`
 changes, (which needs to be fixed, opening a test-infra issue to expand the regex), but also some files could have build tags without the file name matching (https://github.com/kubernetes/kubernetes/pull/55749)

Additionally cross is not blocking (https://github.com/kubernetes

[2017-11-22 23:06] jberkus commented on #54088
Since PR #56040 is not mergeable, should this issue be moved out of the 1.9 milestone?  Please update the status of the issue to indicate; I'm not clear on whether #56040 is a blocker for this issue, or whether #55382 implements it.  Thanks!

[2017-11-22 23:47] #55521 closed

[2017-11-22 23:53] onitake commented on #56226
@kubernetes/sig-network-feature-requests

[2017-11-23 00:01] dashpole commented on #51745
ACK. In progress
ETA: Whenever https://github.com/kubernetes/kubernetes/pull/56112 is reviewed
Risks: Enabling a new feature.

[2017-11-23 00:16] msau42 commented on #55780
@wongma7 was this fixed on the external provisioner side?

[2017-11-23 00:17] BenTheElder commented on #55276
Adding that we're now doing a number of tests over in bazel-test instead of unit, so failures may be observed there instead (xref: https://github.com/kubernetes/kubernetes/pull/55279)

This job is now in master and 1.9 blocking so that we don't ignore all of the unit tests that were in the now increasingly poorly name `*-kubernetes-unit` job which does basically anything but unit tests 🤷‍♂️ , but

[2017-11-23 00:21] msau42 commented on #52441
I looked through the tutorial and saw that the example yamls manually create hostpath PVs to be used by mysql and wordpress deployments.  So the hostpath provisioner should not need to be invoked.  I think the issue is the PVCs need to specify storageClassName: "", otherwise the default storageclass may be used instead.

/assign

[2017-11-23 00:32] dashpole commented on #51745
With further testing, this is not fixed entirely by on demand metrics.  The memcg notifications watch the memory.usage_in_bytes file.  However, we perform eviction based on the working set, which is memory.usage_in_bytes - memory.total_inactive_file.  This means that even with on-demand metrics, the memcg notifications cause the eviction manager to "wake up" before we have actually crossed the thr

[2017-11-23 00:38] liggitt commented on #56241
https://github.com/kubernetes/kubernetes/pull/56252 comes to mind

[2017-11-23 00:48] luxas commented on #56241
Yup, that's most probably the root cause.

[2017-11-23 00:52] #55544 closed

[2017-11-23 00:56] bsalamat opened #56261 "Scheduler should delete a node from its cache if it gets "node not found" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In case scheduler misses a node delete event, or cleaning the node from scheduler cache errors out, node will stay in scheduler cache forever and scheduler will try to schedule pods on it and keeps seeing an error similar to:

E1123 00:00:00       7 factory.go:913] Error scheduling namespace pod-1: node 'node-xyz' not foun

[2017-11-23 00:58] bsalamat commented on #56057
I investigated this issue a bit more. It was clear that Scheduler cache was not updated after the node was deleted. Scheduler kept trying to schedule various pods on the deleted node and kept failing. Restarting the scheduler addressed the problem, but I filed [this issue](https://github.com/kubernetes/kubernetes/issues/56261) to address a similar scenario better in the future.

[2017-11-23 01:02] liggitt opened #56262 "GC restmapping integration test failures (TestCRDDeletionCascading, TestCustomResourceCascadingDeletion, TestMixedRelationships)"
Seen errors in the garbage collector getting rest mappings and failing integration tests

Most of the failed pull-kubernetes-unit test jobs (which really run cmd and integration tests) are due to one of these three integration tests
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit

TestCRDDeletionCascading
TestCustomResourceCascadingDeletion
TestM

[2017-11-23 01:11] CaoShuFeng commented on #56134
#56136 is merged.
So we can close this officially now.
@jingax10 Thanks.

[2017-11-23 01:13] liggitt commented on #56262
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55999/pull-kubernetes-unit/67810/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55902/pull-kubernetes-unit/67814/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55902/pull-kubernetes-unit/67814/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56260/

[2017-11-23 01:14] jingax10 commented on #56134
Thanks @CaoShuFeng!

/close

[2017-11-23 01:14] #56134 closed

[2017-11-23 01:37] liggitt commented on #56262
top three flakes for the pull-kubernetes-unit job: http://storage.googleapis.com/k8s-metrics/flakes-latest.json (131 flakes)

[2017-11-23 01:38] m1093782566 commented on #56238
I see @thockin has already sent a PR. Thanks!

[2017-11-23 01:41] docmerlin commented on #36858
someone pay this guy, that was incredible.

[2017-11-23 01:42] msau42 opened #56265 "Equivalence cache pod hashing doesn't work for StatefulSets with PVCs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
@kubernetes/sig-scheduling-bugs
/assign

**What happened**:
When I run my e2e test on my own cluster with only my feature gates enabled, the StatefulSet test passes.  However, when the e2e test runs in CI, where all feature gates are enabled, the test is failing.  I'm suspecting there is some integration issue with other sc

[2017-11-23 01:42] msau42 commented on #56265
cc @bsalamat

[2017-11-23 01:42] liggitt commented on #56262
/status approved-for-milestone

[2017-11-23 01:42] msau42 commented on #56265
Scheduler logs are here:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/17600/artifacts/bootstrap-e2e-master/

[2017-11-23 01:45] msau42 commented on #56265
I can try to manually bring up e2e clusters with different feature gate combinations, to try to figure out which other alpha feature is causing the issue.

I wonder if it is the same issue as #54370

[2017-11-23 01:49] msau42 commented on #56265
If it helps, the only node that keeps repeating for the 2nd StatefulSet pod is the node that the 1st StatefulSet pod got scheduled on.

[2017-11-23 02:23] bsalamat commented on #56265
@msau42 I would suggest trying to disable PodPriority and Scheduler Equivalence Cache alpha features and see if the tests still fail.

[2017-11-23 02:27] wackxu commented on #56261
I can help fix it.

[2017-11-23 02:42] kylegato commented on #45976
I'm running into similar intermittent issues and seeing things like this in our logs:

[code]
I do not appear to be running into any conntrack issues. We also see log errors from our apps when attempting to connect to certain hosts, including private VPC hosts and external Amazon hosts.  It's always intermittent.

Affecting two separate clusters in different VPCs for us.

k8s v1.7.3+coreos.0
gcr.i

[2017-11-23 02:57] anonymouxx commented on #29033
I went on google in search of how to take off eviction from my public records and most people on different forums kept talking about a professional . and how fast, affordable and reliable he is...I then went ahead, and told him my issues with my records. His response to my mails made me calm and optimistic about the whole thing. I made a down payment for the job and he cleaned my public records in

[2017-11-23 03:05] sandylss commented on #56148
@dixudx thanks for your quick reply.

Below is the kubelet log. There are 2 kinds of errors. The first is

The second is

The continuous error "**dial tcp 172.16.1.87:6444: getsockopt: connection refused**" before _Successfully registered node ubuntu-k8s-master_ is because I'm behind a firewall, so I need to connect to the internet via proxy for the _Get https://storage.googleapis.com/kubernetes-r

[2017-11-23 03:23] resouer commented on #56265
It sounds like related to Equivalence Cache, I can take a look, together with #54370. While still need feedback from @msau42 after disabling equivalence class alpha feature gate.

[2017-11-23 03:43] igoratencompass commented on #35062
Same for me on k8s 1.8.3, all was fine until I rotated the ssl certs, restarted kubelet and recreated the system manifests for the cluster. The error repeats it self every 12 seconds. Docker is 1.12.6 with overlay2 storage driver on Debian Jessie 8.8 and kernel 4.9.0-0.bpo.3-amd64.

[2017-11-23 03:52] jiaxuanzhou opened #56272 "Record event when pod was evicted by kubelet successfully!"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
As we know that there are two kinds of pod evictions by node controller or kubelet.
for node controller eviction , when the pod was evicted , the event will be recorded, but on the other hand ,when the pod was evicted by kubelet, it just log the event ,but no record for the event, I think the event should be recorded.
**What you exp

[2017-11-23 03:53] jiaxuanzhou commented on #56272
/kind feature

[2017-11-23 03:53] jiaxuanzhou commented on #56272
/sig node

[2017-11-23 04:17] msau42 commented on #56265
When I enable EquivalenceCache, I get the same symptom as #54370.  The predicates are not called at all for the 2nd statefulset pod.  When I disable EquivalenceCache, the test passes.

[2017-11-23 04:17] justinsb opened #56273 "AWS: cannot mount volumes on C5 instances"
C5 instances don't mount volumes on the device path, instead they mount them on "random" nvme devices:  http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/nvme-ebs-volumes.html

We need to identify the device using the nvme ioctls (directly or indirectly via the nvme command).

[2017-11-23 04:21] resouer commented on #54370
I will take a look at this. It seems after 1.8 the newly added volume predicate affects equivalence class cache.

[2017-11-23 04:21] resouer commented on #56265
Thanks. I will take a look at this. It seems after 1.8 the newly added volume predicate affects equivalence class cache.

[2017-11-23 04:27] ChimeraCoder commented on #55150
I'm getting the same error when trying to _create_ a CronJob using the most recent versions currently available on GCP (1.8.3).

[code]

[code]

[2017-11-23 05:33] gnufied commented on #56273
Do we want this for 1.9? Duplicate of this issue - https://github.com/kubernetes/kubernetes/issues/56155

[2017-11-23 05:44] nikhita commented on #55146
/area custom-resources

[2017-11-23 05:48] #55359 closed

[2017-11-23 05:48] #53913 closed

[2017-11-23 05:52] phungleson opened #56275 "kubeadm init stuck midway"
Hi guys,

I have an issue, `kubeadm init` stucking at

[code]

`docker ps` seems to shows some running containers
`systemctl status kubelet` returns active status

I am using CentOS 7.4 on AWS, have internet access.

I have no ideas what to do from here, maybe some timeouts would work? Some clues would be very welcome.

Thanks in advance.

[2017-11-23 05:52] nikhita commented on #55538
/area custom-resources

[2017-11-23 05:52] nikhita commented on #55541
/area custom-resources

[2017-11-23 05:55] msau42 commented on #56265
There were no new volume predicates added in 1.8

[2017-11-23 06:08] nikhita commented on #44660
/cc @sttts @mbohlool

[2017-11-23 06:10] resouer commented on #56265
I mean "Topology aware volume scheduler", it's not in 1.8?

[2017-11-23 06:20] nikhita commented on #52163
Yes, this is expected.

/cc @sttts

[2017-11-23 06:29] karataliu opened #56276 "CloudNodeController should use patch to update node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In method AddCloudNode of CloudNodeController, there are some calls through cloud provider, e.g. InstanceID, GetZoneByProviderID. The cloud provider implementations would often involve network I/O, thus might result in timeout or failure.

The code calling cloud provider lies between the fetch of node object https://github

[2017-11-23 06:32] karataliu commented on #56276
/area cloudprovider
/sig cluster-lifecycle

[2017-11-23 06:37] KeithTt opened #56277 "Error from server (Forbidden): Forbidden (user=kube-apiserver-kubelet-client, verb=get, resource=nodes, subresource=proxy )"
kube version: 1.8.3
os version: debian stretch

I can not access any logs by kubectl:
[code]

I generate the certs manually by openssl:

[code]
[code]

It seems that the cert are available, have I missed anthing?

[2017-11-23 06:40] xiangpengzhao commented on #56091
The https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce still fails after https://github.com/kubernetes/test-infra/pull/5636 merged.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/8906/artifacts/e2e-8906-node-vcw7/startupscript.log
shows:
[code]

Seems like param ` --discovery-token-unsafe-skip-ca-verification true` is incorrect. Just pas

[2017-11-23 06:40] KeithTt commented on #56277
/area security

[2017-11-23 06:50] justinsb commented on #56273
Ah - thanks.  I'm thinking it's going to affect any users using c5 instances, but there might well be more instance types announced at reinvent that use nvme (I have no knowledge, but it seems like a pretty safe bet!)

Prototyping how to handle in https://github.com/kubernetes/kops/pull/3914

We can discuss on #56155 anyway...

[2017-11-23 06:50] #56273 closed

[2017-11-23 06:52] justinsb commented on #56155
So I'm not sure how important this is.  It means volumes can't be mounted on c5 instances, but there might well be more instance types announced at reinvent that use nvme (I have no knowledge, but it seems like a pretty safe bet!)

Prototyping how to handle in kubernetes/kops#3914  (using the nvme tool with json output immediately segfaulted for me, which was a little bit of a red-flag)

[2017-11-23 07:06] luxas commented on #56091
Yes, only the param will mean true by default. Thanks for fixing!

[2017-11-23 07:06] liggitt commented on #56277
Ensure the apiserver's kubelet credential has the correct permissions to access the kubelet endpoints needed to satisfy the log fetch

See https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authorization

As an example, GCE deployments set up this RBAC role: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/rbac/kubelet-api-auth/kubelet-api-admin-role.

[2017-11-23 07:06] #56277 closed

[2017-11-23 07:18] hchenxa opened #56278 "apiserver panic when call endpoints API."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
apiserver panic'd on GET /api/v1/endpoints
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
here is my apiserver startup parameters:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or har

[2017-11-23 07:31] KeithTt commented on #56277
@liggitt How about on debian? I tried your example, but do not work.

[2017-11-23 07:36] liggitt commented on #56277
that is just the role. to grant that permission to your user you'd also need to bind the role to the apiserver's username, similar to https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/rbac/kubelet-api-auth/kube-apiserver-kubelet-api-admin-binding.yaml

Based on the error you were getting, it would be something like this:
[code]

[2017-11-23 07:44] liggitt commented on #56278
that panic is how request timeouts are handled internally. are other APIs working properly?

[2017-11-23 07:49] liggitt commented on #56220
`/swagger.json` was allowed to be accessed by all authenticated users in https://github.com/kubernetes/kubernetes/pull/53359

That is fixed in 1.8.2+

[2017-11-23 07:49] #56220 closed

[2017-11-23 07:50] KeithTt commented on #56277
@liggitt thanks a lot, it works.

Two questions:

1、Can these information be written in the certs by openssl manually when generate certs?

2、How to get all the users before I want to grant some user? It seems there is not a `user` resource type.

[2017-11-23 07:54] zouhuigang commented on #54542
@awesomemayank007  Yes, but it doesn't work. What should I do?Do I need to restart the server in VM?

[2017-11-23 07:55] liggitt commented on #56277
No, certificates authenticate a user, they do not authorize them.

Correct. The source of authentication is intended to be external to kubernetes (via a pki, or authenticating proxy, or openid token minter, etc). See https://kubernetes.io/docs/admin/authentication/#users-in-kubernetes

[2017-11-23 07:57] liggitt commented on #56063
Maybe I'm just missing it, but I'm not seeing anything in the oidc spec about submitting an audience parameter with a refresh token. As such, this doesn't seem like a kubernetes bug.

[2017-11-23 07:57] #56063 closed

[2017-11-23 07:58] #56246 closed

[2017-11-23 07:59] patvdleer commented on #31176
I seem to run into the same problem

I have a backend api service which mounts a volume readonly false and a worker which mounts it readonly true. This results in the following:

[code]
helm chart (for both except the read-only):
[code]

[2017-11-23 08:01] liggitt commented on #48928
opened https://github.com/kubernetes/website/pull/6426

[2017-11-23 08:01] #48928 closed

[2017-11-23 08:02] liggitt commented on #49024
https://github.com/kubernetes/website/pull/6378 addresses this scenario

[2017-11-23 08:02] #49024 closed

[2017-11-23 08:03] hzxuzhonghu commented on #56278
Yes, the default timeout is 60s.

[2017-11-23 08:04] liggitt commented on #43538
PSP is on in CI now, with e2e tests

[2017-11-23 08:04] #43538 closed

[2017-11-23 08:11] KeithTt commented on #56277
@liggitt

I got it, `--user=kube-apiserver-kubelet-client` username was the value of `CN` in openssl command.

I will read the docs you provide detailedly.

Thanks a lot for your time.

[2017-11-23 08:16] liggitt commented on #56277
Ah, misunderstood the question. Yes, the username pulled from the CN of the certificate is part of the cert generation process.

[2017-11-23 08:23] #56254 closed

[2017-11-23 08:23] #56248 closed

[2017-11-23 08:23] #56238 closed

[2017-11-23 08:23] GalochkinKirov commented on #54601
To solve this problem do it:
1. Set NFS export dir:
"nfs/main *(rw,sync,no_subtree_check,no_root_squash)"
2. Set NFS volume like this:
[code]
3. Update your entity configuration:
[code]

[2017-11-23 08:32] KeithTt commented on #56277
haha, thanks again.

[2017-11-23 08:53] jianglingxia commented on #47131
also have the same question,I want to know that the cause of the problem is  what？ @xiang90
k8s version is 1.6.9 thanks
the log in api-server is like this
`I1123 03:11:02.243886    1185 trace.go:61] Trace "Update /api/v1/namespaces/admin/pods/f1a32f2d-a43a-4a74-ac35-a4936fb070be-r2qsd/status" (started 2017-11-23 03:11:01.710184949 +0800 CST):
[69.492µs] [69.492µs] About to convert to expected vers

[2017-11-23 09:07] xiangpengzhao commented on #56091
This needs two follow-up PRs like https://github.com/kubernetes/test-infra/pull/5610 and https://github.com/kubernetes/test-infra/pull/5636 after https://github.com/kubernetes/kubernetes-anywhere/pull/488 gets merged.

[2017-11-23 09:17] davidstack opened #56281 "kubefed init can not use namespace that already exist in the cluster"
when i create the kubernetes controller plane in ‘default’ namespace, it failed with this reason:

the reason i want to use the default namespace is here [Ceph StorageClass](https://github.com/kubernetes/examples/blob/master/staging/persistent-volume-provisioning/README.md), where i want use ceph rbd as the backend of etcd, but the ceph rbd need a ceph-secret must exist at the namespace.
        S

[2017-11-23 09:21] grpubr commented on #21480
Fluentd v0.14.22 has been released
 v0.14.22 is a stable release of v0.14 series
https://www.fluentd.org/blog/fluentd-v0.14.22-has-been-released

please update fluentd-es image

[2017-11-23 09:25] luksa opened #56282 "Bad column alignment when printing custom columns from OpenAPI schema"
Compare the following two outputs (note the bad alignment in the last line):
[code]

The custom-columns string is exactly the same in both cases, but something messes up the column widths when using openapi print columns.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Columns printed when using `--use-openapi-print-columns` are misaligned.

**What you expected to hap

[2017-11-23 09:28] luksa commented on #56282
/sig api-machinery

[2017-11-23 09:30] JorritSalverda commented on #56261
In all my Kubernetes controllers I back up watch handlers with a full scan every now and then to reconciliate as a safety net. I guess that would help with this kind of errors as well. Thanks for looking into this.

[2017-11-23 09:52] porridge commented on #55194
ACK. In progress, 1 new subordinate issue opened, 3 closed
No ETA
Risks: Multiple flakes across several SIGs need fixing.

[2017-11-23 09:54] carlossg commented on #49387
I had to make a small modification to `.status == "False"` to get it to work

    kubectl get pods --all-namespaces -o json  | jq -r '.items[] | select(.status.phase != "Running" or ([ .status.conditions[] | select(.type == "Ready" and .status == "False") ] | length ) == 1 ) | .metadata.namespace + "/" + .metadata.name'

[2017-11-23 10:57] fisache commented on #11626
Hi, is experimental-keystone-url deprecated  on kube 1.6?
It's not authenticated with Keystone token.

[2017-11-23 11:06] shyamjvs commented on #49820
Ok.. So we've moved all the non-kubemark jobs to prow successfully!
Let's move the kubemark ones now. Guess we chose the D-in-D approach for those.

cc @krzyzacy @BenTheElder

[2017-11-23 11:15] crassirostris commented on #56235
Actually https://github.com/kubernetes/kubernetes/pull/55953 would solve the immediate problem: it allows to test audit for all e2e tests in gce env

Bumping the priority and moving to 1.9 release then

[2017-11-23 11:52] #56051 closed

[2017-11-23 11:58] porridge opened #56289 "Intermittent HTTP stream error when listing pods causes job failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test
@kubernetes/sig-scalability-bugs
umbrella issue: #56062

**What happened**:

density test in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8222 failed with:
[code]

We should probably check if there is anything interesting corresponding to this in the apiserver lo

[2017-11-23 12:03] porridge commented on #56061
/assign
My short-term plan is to look at the usage gathering mechanism to see if we can get a timeline of memory usage during a given test, and compare it against a test which uses little memory.
I'll also check if there is a correlation between usage and the order of load/density execution.

[2017-11-23 12:07] porridge opened #56291 "17-minute node LIST operation in gci-gce-scalability"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

load test in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8224 failed with:
[code]

[2017-11-23 12:07] porridge commented on #56291
/priority failing-test
@kubernetes/sig-scalability-bugs
Umbrella issue: #56062

[2017-11-23 12:12] porridge opened #56293 "Fetching GCP oauth2 token failure due to repeated TLS handshake timeouts"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test
@kubernetes/sig-scalability-bugs
Umbrella issue: #56062

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8226 setup failed with:

[code]

I think we need to let it retry longer in case this repeats.

[2017-11-23 12:29] JorritSalverda commented on #56057
Thanks @bsalamat, do you want to keep this ticket open or is the new issue you filed enough to keep track of it? I'm fine closing this one if you are.

[2017-11-23 12:56] mattcamp commented on #49926
I'm also having this issue: "**AttachVolume.Attach failed for volume "pvc-5aa1db99-d04b-11e7-96e1-0a328f684a08" : Error attaching EBS volume "vol-026ef055a9d715c14" to instance "i-0e6f2c5d8edd415e4": IncorrectState: vol-026ef055a9d715c14 is not 'available'. status code: 400**"

Using a single master, 3 node cluster in AWS (deployed via KOPS)... trying to deploy influxdb via helm.

It worked the fi

[2017-11-23 13:00] mattcamp commented on #45726
Any updates on this one?

I'm also seeing the same thing... info and logs [here](https://github.com/kubernetes/kubernetes/issues/49926#issuecomment-346611460)

#49926

[2017-11-23 13:30] jchv commented on #56063
@liggitt Please consider re-opening. I am very much aware that Google is violating the spec, but unfortunately this is the case for _many_ OIDC providers.

OAuth2 and OIDC providers are notoriously buggy. If they weren't, this list wouldn't exist: https://github.com/golang/oauth2/blob/master/internal/token.go#L92

If there is no intention in fixing this, then it might be worth documenting that the

[2017-11-23 13:39] markine commented on #45976
@jsravn If it isn't just kube-dns causing issues, then perhaps it is a UDP packet loss issue after all. I have little knowledge about debugging kube-proxy. Any pointers? I have not observed /proc/sys/net/netfilter/nf_conntrack_count grow to anything close to the max value of 262144, nor have I seen any conntrack errors in logs. Just to make sure: there isn't another conntrack concept elsewhere in

[2017-11-23 14:00] #45143 closed

[2017-11-23 14:05] msau42 commented on #56265
Volume node predicates was added in 1.7 and topology aware volume scheduling is 1.9.

So it seems like there were scheduler changes made in 1.8 that broke stateful sets.  I would start by looking into the naming of the statefulset pods and how you hash them.

[2017-11-23 14:16] shyamjvs commented on #53327
@dashpole I ran the tests with the extra debug logs you added. PFA the hollow-kubelet logs. The name of the pod which had the issue is `load-small-3703-crjjs`.

[kubelet-hollow-node-zl6pl.log](https://github.com/kubernetes/kubernetes/files/1499467/kubelet-hollow-node-zl6pl.log)

[2017-11-23 14:40] ColinChartier commented on #28610
Kludge until this gets resolved:
1. Make a ClusterIP service with no selector whose endpoints are the same as the service's IP, e.g., with `kubectl edit endpoints/kubernetes` (my service ip is 10.96.0.1)
2. Make a DNAT iptables rule to redirect the kubernetes request to the node itself, e.g., if your WAN ip is 1.1.1.1, the command would be: `sudo iptables -t nat -D OUTPUT --destination 10.96.0.1 -

[2017-11-23 14:49] astefanutti opened #56297 "Detailed container stats via Kubelet API proxy returns 503 in 1.8 version"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

In version 1.8.0, accessing the container stats via Kubelet API proxy using the `/{namespace}/{podName}/{uid}/{containerName}` path returns 503.

**What you expected to happen**:

In versions prior to 1.8.0, the container stats were returned.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**An

[2017-11-23 14:50] Bengrunt commented on #45459
Hi there,

For the sake of other people like me stumbling on this issue when trying to deal with the same symptoms on their own fresh kubernetes install.

So I used kubeadm to deploy kubernetes on a single node with flannel. The pods couldn't resolve DNS or even ping it. Upgrading the flannel daemonset to the [fresh 0.9.1 version](https://github.com/coreos/flannel/releases/tag/v0.9.1) seems to fix

[2017-11-23 14:54] mtanino commented on #56149
@wenjun93 @rootfs

Correct. When you specify accessModes=ReadWriteOnce to iSCSI Persistent Volume, attachdetach controller reconciler isMultiAttachForbidden() works to prevent volume multi-attach between multiple kubelet node.

Note: this function only prevent multi-attach between multi kubelet node. User can attach this PV/PVC to multiple pods inside one kubelet node. This is current design.

[2017-11-23 14:55] wojtek-t commented on #52292
It seems that third will not actually improve things, so let's ignore it for now (it seems that now the limiting factor is qps limit in the k8s client).

For item 4, there is already @shyamjvs `s PR in flight, he will also send out a PR for item 5.
Once both of these are done, I think we should be in good enough shape and we may close this one.

[2017-11-23 14:56] astefanutti commented on #56297
@kubernetes/sig-instrumentation-bugs @kubernetes/sig-node-bugs

[2017-11-23 15:41] justinsb commented on #55892
Putting into 1.9 so we can track it.

[2017-11-23 15:54] mcginne opened #56300 "Kubelet sometimes hangs on startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After rebooting a host (Which had been previously cordoned and drained) I notice that sometimes the node stays `NotReady`. If I look at the kubelet logs it looks like kubelet has hung early on in initialisation. The logs show it stopped at the following point:

[code]

If I restart Kubelet it initialises fine straight away

[2017-11-23 15:55] mcginne commented on #56300
Logs attached:
[kubeletHung_trim.txt](https://github.com/kubernetes/kubernetes/files/1499727/kubeletHung_trim.txt)

[2017-11-23 16:07] gnufied opened #56302 "Running disruptive e2e tests against AWS kops deployment is hard"
Currently kops e2e test infrastructure does not support running disruptive tests that involved shutting down nodes or rebooting nodes, because stopped nodes are automatically terminated by autoscaling group.

Openshift (and perhaps other variants) deployment does not automatically terminate stopped nodes and this causes bit of problem in testing disruptive stuff that relies on node to come back an

[2017-11-23 16:07] gnufied commented on #56302
cc @eparis @justinsb @derekwaynecarr

[2017-11-23 16:15] tzurE opened #56303 "kubeadm init hangs with getsockopt: connection refused. k8s=1.7.5"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cli

**What happened**:
Try to init a k8s cluster after reset and cleanup.
I've seen more and more issues on this, but none of the solutions applies here.
Machine is Ubuntu 16.04.

I've tried all the regular stuff other issues were suggesting :
1. Swap is off
2. cgroupfs is in the env
3. firewalld disabled

Basically, the Kube-api server

[2017-11-23 16:22] luksa commented on #35874
Closing this, as the consensus seems to be that it's too big of a change without a real benefit. See comments in #40088

[2017-11-23 16:22] #35874 closed

[2017-11-23 16:53] mjj29 opened #56304 "kubedns Unauthorized getting initial ConfigMap, failed to list endpoints"
/kind bug

**What happened**:

Started up a clean kubernetes environment using minikube. DNS services are not available. Logs on the kubedns container:

I1123 16:41:41.217180       1 dns.go:48] version: 1.14.4-2-g5584e04
I1123 16:41:41.218130       1 server.go:66] Using configuration read from ConfigMap: kube-system:kube-dns
I1123 16:41:41.218177       1 server.go:113] FLAG: --alsologtostderr="fal

[2017-11-23 16:57] mjj29 commented on #56304
/area dns
I'm afraid I don't know what sig label I should have, but looks like there's an appropriate area tag, so adding that

[2017-11-23 17:18] crassirostris commented on #53020
Still blocked on https://github.com/kubernetes/kubernetes/issues/53006
ETA: 1/12/2017
Risks: Not closing https://github.com/kubernetes/kubernetes/issues/53006

[2017-11-23 17:19] crassirostris commented on #54551
The last remaining pieces to be done are critical bugs, so bumping the priority to critical

[2017-11-23 17:21] crassirostris commented on #54551
Still blocked on https://github.com/kubernetes/kubernetes/issues/53020
ETA: 1/12/2017
Risks: Complicated fix required

[2017-11-23 17:40] liggitt commented on #54551
If this is blocked on an issue with eta of 1/12, it shouldn't be in the 1.9 milestone

[2017-11-23 17:46] porridge commented on #56061
My hunch was right: apiserver RAM usage during density test peaks at values:
- between 870 and 1030 MiB, when density test runs first, vs
- between 1200 and 1500 MiB (with [one exception](https://github.com/kubernetes/kubernetes/issues/56061#issuecomment-346154263)) when density runs after load test

This poses a few interesting questions:
1. Is this a memory leak? i.e. can memory use grow in an u

[2017-11-23 17:48] crassirostris commented on #54551
@liggitt To clarify: the issue is about making it possible to load test the feature, which is ready since the previous release. There's no feature work left & it doesn't make sense to disable the feature on 2017-12-01, since it's there since 1.8

[2017-11-23 17:49] porridge commented on #56061
This is the top flake of the 100-node scalability tests, I think we should at least bump the memory limit for the time being
/priority critical-urgent
@shyamjvs please add to v1.9

[2017-11-23 18:29] liggitt commented on #54551
Sure, but the continued work is targeting 1.10, not 1.9 at this point, so the milestone should change.

[2017-11-23 18:46] wojtek-t commented on #56061
Re why some runs are significantly better - I didn't take a closer look, but my bet is that it depends on the fact whether load test is running first (before density) or second (after density test).

The fact that we are accumulating some information in caches is expected, and working as intended. To get expected difference we would need to compute the expected size (max cache size times average o

[2017-11-23 18:46] shyamjvs commented on #56061
@porridge I think we should try to understand the reason for this. We might increase the limit, but imo we should do that only after understanding the cause.
As this is not a release-blocking job, we're relatively at ease in debugging this one.

Could we get the graph or at least the values of usage for a longer time period? Will help us know around what time this started happening.

[2017-11-23 18:50] crassirostris commented on #54551
@liggitt Dec 01, not Jan 12, right?

[2017-11-23 19:11] crassirostris commented on #21480
Contributions will be appreciated :)

[2017-11-23 20:10] jsravn commented on #45976
@markine You can take a look at https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go. It manually removes udp conntrack entries using the conntrack tool. Might be some bug around the sync code.

[2017-11-23 20:53] #52048 closed

[2017-11-23 21:18] crassirostris commented on #53006
In progress, reviewed first PR, waiting for applying changes
ETA: Dec 01

[2017-11-23 21:43] craigbox opened #56306 "ReplicaSet not spread amongst failure domains"
/kind bug

I create a GKE cluster with three zones, one node in each.  I create a Deployment/ReplicaSet with 3 replicas with kubectl run.

**What happened**: Two pods end up on node 1 and one pod on node 2.

**What you expected to happen**: One pod each on three nodes

**How to reproduce it (as minimally and precisely as possible)**:
Use kubectl run to create a deployment.  (If you don't get this

[2017-11-23 21:43] craigbox commented on #56306
/cc @kubernetes/sig-scheduling-bugs

[2017-11-23 23:07] #56189 closed

[2017-11-23 23:13] yastij commented on #49625
@andrewsykim - just came back, I was off the whole month. @jsafrane any thoughts on this one as now CSI is merged.

[2017-11-24 00:37] davidstack commented on #56281
/sig bug

[2017-11-24 00:46] tengqm commented on #56281
dup of kubernetes/federation#19 ?

[2017-11-24 00:46] tengqm commented on #56281
/sig multicluster
/sig federation

[2017-11-24 00:52] tengqm commented on #56300
looks like your rkt engine is down

[2017-11-24 00:53] tengqm commented on #56300
/remove-sig api-machinery
@kubernetes/sig-node-bugs
/sig node

[2017-11-24 01:20] davidstack commented on #56281
dup of kubernetes/federation#19 . i move my problem desc to kubernetes/federation#19

[2017-11-24 01:20] #56281 closed

[2017-11-24 01:45] wenjun93 commented on #56149
@mtanino @rootfs

[2017-11-24 01:54] tengqm opened #56307 "Device plugin handling of partial allocation failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In the current device allocation workflow, init-containers and regular containers are treated in separate steps due to the lack of a pod-level request/limit representation. There will be cases where the init-containers successfully allocated devices but the regular containers failed to do so.

**What you expected to happen

[2017-11-24 01:57] tengqm commented on #56307
/sig node
/area hw-accelerators

[2017-11-24 01:58] #50927 closed

[2017-11-24 02:15] VinceMD commented on #34978
@dcparker88 I guess my fix does not reduce data movement.

I'm starting to spend more time on Cassandra.

is there an update on

"Do we want to look at pulling the example our of core, if so how do we do e2e"

And is there a slack channel when we can collaborate?

I have an interest to see the project grow and scale in Kubernetes StatefulSet.

Anyone still thinks StatefulSet is not great for C* an

[2017-11-24 02:28] xujieqwe commented on #53775
Now it's works good for me, thank you

[2017-11-24 02:29] #53775 closed

[2017-11-24 02:30] m1093782566 commented on #53775
Thanks for trying it.

[2017-11-24 03:01] wenjun93 commented on #56149
We cannot determine whether node is totally down or only kubelet down when node becomes `NotReady`, and pod's on `NotReady` nodes may still be serving traffic, so the problem is do we still need to update `node.Status.VolumesAttached` field for `NotReady` nodes, I would propose to determine if volume type is rbd/iSCSI/fc and node is NotReady [here](https://github.com/kubernetes/kubernetes/blob/mas

[2017-11-24 03:15] like-inspur opened #56309 "kubernetes support mutil ceph rbd storageclass in mutil namespace environment"
I test pod mount volume through pvc on storageclass ceph must exist in the same namespace with secret. Now I want mutil namespace environment, so each namespace need to create its own storageclass.
kubectl create ns like
ceph osd pool create like 128
ceph auth get-or-create client.like mon 'allow r' osd 'allow class-read object_prefix rbd_children, allow rwx pool=like'
I creaet ceph-secret-like in