[2021-07-19 12:30] dims commented on #89233
WONT-FIX. dockershim is going away.

[2021-07-19 12:30] #89233 closed

[2021-07-19 13:02] alculquicondor commented on #96478
@Huang-Wei I seem to remember that we fixed this somehow. Is it not the case?

[2021-07-19 13:11] felschr commented on #76570
@DarrienG  can you try writing "/reopen" in here like @flokli tried before?
Looks like that should be possible for authors, and the bot would reopen it for you.

[2021-07-19 13:23] ondrejdolezal93 commented on #103584
Could you then try to replicate my steps on single-node environment such as minikube?
I ran into this problem in our testing environment

[2021-07-19 13:44] lambdanis commented on #103706
/close

[2021-07-19 13:44] #103706 closed

[2021-07-19 14:07] javiku commented on #102749
Hi, sorry to comment on a closed issue, but according to Kubernetes changelog the fix for this is included in v.1.21.3, but we are still hitting this issue on a fresh 1.21.3 cluster. We are still getting 34s timeouts when creating big custom resources.

By using the workaround describe [here](https://github.com/kubernetes/kubernetes/issues/102749#issuecomment-868892022) we can create big custom ob

[2021-07-19 14:39] sbalajisivaram opened #103773 "Mongodb StatefulSet error with Azure File Share"
#### What happened:
Mongodb StatefulSet error with Azure File Share

#### What you expected to happen:
I'm trying to run MongoDB on AKS with Statefulset. I Created an Azure File Share and mounted the fileshare as persistent volume the pvc created out of the volume is being used for the statefulset. However i cant seem to run mongodb when having Azure Files i'm yet to try Azure Disk but just checki

[2021-07-19 14:41] sbalajisivaram commented on #103773
triage/accepted

[2021-07-19 14:51] sbalajisivaram commented on #103773
@kubernetes/sig-azure-misc

[2021-07-19 15:06] sbalajisivaram commented on #103773
sig/cloud-provider

[2021-07-19 15:09] DarrienG commented on #76570
/reopen

[2021-07-19 15:09] sbalajisivaram commented on #103773
/sig cloud-provider

[2021-07-19 15:12] aojea commented on #103622
/sig cloud-provider
This look more like a cloud-provider problem than a sig-network problem, if I understand if correctly, if you have already updated the service there is no way you can keep the old information working, because is not part of the service anymore ...

[2021-07-19 15:15] divyenpatel commented on #103745
Here volume is detached by the CSI Driver.

Event  message on the Pod Says

Jul 16 19:13:21 k8s-worker2 kubelet[2881332]: E0716 19:13:21.776238 2881332 kubelet_pods.go:1288] "Failed killing the pod" err="failed to \"KillContainer\" for \"write-pod\" with KillContainerError: \"rpc error: code = Unknown desc = Error: No such container: 538c0c53d54734663b1024a9a2ac86416240acc33e3fa536162db85362c0bef7

[2021-07-19 15:29] aojea commented on #68083
/remote sig-cli
/sig cloud-provider

[2021-07-19 15:32] jyz0309 commented on #103084
Hello! I am new to the community. And I want to try this issue. Can you or someone give me some advice? @damemi @wzshiming

[2021-07-19 15:58] aojea commented on #103708
This is a problem with the metrics-server deployment on the CI jobs and the metrics tests
https://github.com/kubernetes/kubernetes/pull/103713#discussion_r672424375
I don't know which sig owns these components but it will be better to find first an owner, what is is clear is that the metrics tests are not reliable since once you set a readiness probe on the metrics-server it fails consistently htt

[2021-07-19 16:12] DanTulovsky commented on #65233
For posterity... There is a *Used By: * field in the output of describe.

[code]

[2021-07-19 16:36] aojea commented on #93740
it only failed once, last week, however, the job is running every 30 min that seems excessive.
I'll update the job to run with a larger interval and we'll keep monitoring it
https://github.com/kubernetes/test-infra/pull/22939

[2021-07-19 16:38] SergeyKanzhelev commented on #101989
Only a few data points are available at this point, but there seems to be vdegradation between [1.20](http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-1.20&metriccategoryname=E2E&metricname=LoadResources&PodName=e2e-big-minion-group%2Fkubelet&Resource=CPU) and [1.21](http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-1.21&metriccategoryname=E2E&metricname=LoadResources&PodName=e2e-big-minion-group%2Fk

[2021-07-19 17:15] bowei commented on #93740
Decreasing period sounds good to me.

[2021-07-19 17:17] bswartz commented on #103305
I'm concerned that any changes here might not be backwards compatible. As crazy as the current behavior is (create a RWO PVC, create 2 pods that use it, let them schedule to different nodes, and the second pod waits for the first to die) it's far from impossible that someone depends on that behavior, and to change it could conceivably break them.
It's already possible to ensure 2 pods that intend

[2021-07-19 17:27] enriched commented on #55046
Ended up writing some jq to get a quick snapshot of namespace resource usage:
[code]

[2021-07-19 17:42] joshimoo commented on #82190
@gnufied I am the fixes have been merged already, but are there issues left in this regard, since it was closed by stale bot?

[2021-07-19 17:46] andrewsykim commented on #99299
/remove-lifecycle stale

[2021-07-19 17:47] andrewsykim commented on #99299
Should be fixed from https://github.com/kubernetes/kubernetes/pull/97238 but feature gate is still alpha and off by default in v1.22

[2021-07-19 17:49] Huang-Wei commented on #96478
@alculquicondor I think this problem still exists - suppose Pod1 gets permitted (and thus assumed), and then waited there. Now Pod2 and Pod3 come in but cannot be schedulable because resources have been occupied by Pod1. Then here comes Pod4 which has a higher priority than Pod1 and thus preempt Pod1. Preempting Pod1 will trigger `deletePodFromSchedulingQueue()` which doesn't signal an event to tr

[2021-07-19 17:53] alculquicondor commented on #103305
Once the second Pod is scheduled to a different node, doesn't kubelet mark it as failed?

Just letting these pods continuously scheduled/failed/recreated is something I would prefer we avoid.

[2021-07-19 17:58] gandazgul commented on #83242
1.18 for my post example but I tried with 1.20 and same behavior. Get pods exists with 0 even if no pods vs get pod name-doesnt-exist will exit with 1 which I think makes sense.

I was responding to @jakerobb about how to do a while loop to wait for the pod to exist.

[2021-07-19 18:02] alculquicondor commented on #96478
I see. The solution sounds reasonable to me.

Why is it a delete, given that Pod1 was never actually scheduled? Shouldn't Pod1 be tried again?

[2021-07-19 18:26] bswartz commented on #103305
The second pod just gets stuck in pending while the attachment fails in a loop. When the first pod eventually dies, the attachments stop failing and it's able to start. Not sure who would desire this, but the behavior is reliable.

[2021-07-19 18:33] alculquicondor commented on #103305
Uhm... in that case, the change wouldn't be backwards compatible. Thanks for flagging, Ben.

[2021-07-19 18:37] aojea commented on #103708
it seems the last try was the good one :smile: https://github.com/kubernetes/kubernetes/pull/103713

[2021-07-19 18:37] andrewsykim commented on #100313
/remove-lifecycle rotten

[2021-07-19 18:38] andrewsykim commented on #100313
@robscott this makes a lot of sense to do, is this just waiting for someone to implement?

[2021-07-19 18:40] therealak12 commented on #76790
The problem might be related to [this issue](https://github.com/alpinelinux/docker-alpine/issues/149#issuecomment-802902005). What base image do you use?

[2021-07-19 18:48] cheftako commented on #70897
/cc @leilajal

[2021-07-19 18:51] mauriciopoppe commented on #102865
might be related https://github.com/kubernetes/kubernetes/pull/103713

[2021-07-19 18:53] andrewsykim commented on #70897
Yes, this is an unfortunate result of the default naming convention when a kubelet is providerless and when it's using the AWS or OpenStack cloud provider. And unfortunately, you can't override hostname on AWS, see https://github.com/kubernetes/kubernetes/issues/54482.

I _think_ this use-case is not common enough and the solution would be sufficiently complex that we wouldn't try to fix this, but

[2021-07-19 19:13] smarterclayton commented on #103623
[code]

This is showing that updateStatusInternal drops it during normalize

[2021-07-19 19:25] ehashman commented on #101989
You can dump flame graphs from the kubelet and view them in the interactive browser like so, I'd suggest a 30m CPU sample as the default 1m is usually too small to detect the issues.

[code]

`hyperkube-4.8.bin` is the 1.21 kubelet binary which I happen to have downloaded locally (OpenShift 4.8 in my case), and this is tested against a proxy to an AWS OpenShift cluster.

[2021-07-19 19:36] shyamjvs commented on #103753
@liggitt Sorry for opening the PR against wrong repo, here's the right one - https://github.com/kubernetes/kubernetes/pull/103780

[2021-07-19 19:43] neolit123 commented on #103766
please use the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-07-19 19:44] #103766 closed

[2021-07-19 19:45] neolit123 commented on #103770
please try the support forums first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-07-19 19:45] #103770 closed

[2021-07-19 19:45] Huang-Wei commented on #96478
A waiting Pod is assumed, and hence occupied a certain amount of resources, so pretty work like other scheduled pods. So IMO a waiting Pod's deletion is best treated as a PodDelete event.

It will - upon its new entity that's created by its controller. As preemption will physically delete the current Pod entity.

[2021-07-19 19:48] neolit123 commented on #103607
/sig apps

[2021-07-19 19:50] neolit123 commented on #103760
/sig api-machinery

[2021-07-19 19:50] robscott commented on #100313
@andrewsykim thanks for following up on this! This just needs someone to take it on.

[2021-07-19 19:51] neolit123 commented on #103761
please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-07-19 19:51] #103761 closed

[2021-07-19 19:51] neolit123 commented on #103761
/remove-kind bug
/kind support

[2021-07-19 19:52] neolit123 commented on #103761
if you think you found a problem in the documentation log an issue in kubernetes/website.

[2021-07-19 19:52] andrewsykim commented on #100313
Thanks Rob! Happy to take a look (or find someone who can)

[2021-07-19 19:52] andrewsykim commented on #100313
/assign

[2021-07-19 19:54] neolit123 commented on #103765
do you have sufficient ports available on your host?
https://serverfault.com/questions/261663/on-linux-how-can-i-tell-how-many-ephemeral-ports-are-left-available

/sig node network
/kind support
unclear if bug / support ticket.

[2021-07-19 19:55] neolit123 commented on #102460
closing due to no response.
/close

[2021-07-19 19:55] #102460 closed

[2021-07-19 19:56] neolit123 commented on #102460
you can use the support channels in the future:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-07-19 19:57] neolit123 commented on #103068
/triage accepted
i didn't see any PRs for this for 1.22. looks like we can update it in 1.23.

[2021-07-19 20:10] eddiezane commented on #103618
/sig api-machinery
/triage accepted

[2021-07-19 20:12] eddiezane commented on #103571
/close

[2021-07-19 20:12] #103571 closed

[2021-07-19 21:46] apelisse commented on #97733
I think that's part of a much bigger tasks of creating a list of actual useful formats that we use in Kubernetes. That's not easy, but if you're up to it, sure.

[2021-07-19 21:59] smarterclayton commented on #103623
Ok, so the root cause is:

1. The kubelet has no mechanism for preserving the reason/message of a pod status from previous status updates (convertStatusToAPIStatus always results in a new, empty reason/message)
2. Because we aren't refreshing the pod status cache in syncTerminatingPods, we invoke multiple SetPodStatus calls during termination (one at the beginning of syncTerminatedPod, one at the

[2021-07-19 22:04] #103143 closed

[2021-07-19 22:06] Huang-Wei commented on #96478
/remove-lifecycle rotten
/assign

[2021-07-19 22:19] bobbypage commented on #99183
New flag or kubelet config makes sense if we want to provide ability to disable collecting these stats. What is the impact of not collecting these stats by the way? Is it only used for the /metrics/cadvisor endpoint or are these fd stats also used internally by kubelet (e.g. for summary API?)

[2021-07-19 22:27] #92030 closed

[2021-07-19 23:31] SergeyKanzhelev commented on #102904
this PR may help: #103777, can somebody apply the milestone?

[2021-07-19 23:34] nicolehanjing commented on #100313
I can take a look at this :)

[2021-07-19 23:47] Huang-Wei commented on #96478
Hmm, some explanation in https://github.com/kubernetes/kubernetes/issues/96478#issuecomment-882740031 and https://github.com/kubernetes/kubernetes/issues/96478#issuecomment-882811368 is not accurate because of #100325 - now the default preemption plugin doesn't physically delete a waiting pod anymore.

So in terms of fix, we have to cover two cases:

- a waiting pod is physically deleted by extern

[2021-07-19 23:49] andrewsykim commented on #100313
Thanks @nicolehanjing

/assign @nicolehanjing

[2021-07-20 01:20] neolit123 commented on #103773
hello,

1.18 is no longer in support in upstream k8s.

please contact the AKS support system and if they confirm this as an upstream k8s bug, then reopen with more details.
thanks

/kind support
/close

[2021-07-20 01:20] #103773 closed

[2021-07-20 01:20] neolit123 commented on #103773
/area provider/azure

[2021-07-20 02:12] rangsan commented on #70664
I stuck at this so long. Can someone please provide the entire api-server static pod manifest file?  I cannot find the right configuration for hostPath and mountPath just like above comment from @arpitaashu . :(

[2021-07-20 02:31] kerthcet commented on #103584
yeah, I can reproduce it with `kind`, for it acts as expected. You can add another node to solve it.

[2021-07-20 02:52] rangsan commented on #70664
Ok guys @arun2arunraj @arpitaashu  .I've sorted it out. Here's my manifest.
[code]
[code]

[2021-07-20 02:58] kerthcet commented on #63267
Just wondering whether refactor work remaining here? 🧐

[2021-07-20 03:02] kerthcet commented on #63267
Just wondering whether refactor work remaining here? 🧐

[2021-07-20 03:10] qmloong commented on #70664
- hostPath:
-      path: /var/log/kube-apiserver-audit.log
+      path: /var/log/kube-apiserver-audit
-       type: FileOrCreate
     name: audit

try DirectoryOrCreate rather than FileOrCreate

[2021-07-20 04:07] MikeSpreitzer opened #103788 "APF: Consider adding a limit on work in a queue"
In the API Priority and Fairness type PriorityLevelConfiguration, when queuing applies, there is a limit on the number of requests in the queue.  Now that we are generalizing for non-unit request width (seats), perhaps there should also be a limit on the work (sum of `duration*width`) in the queue.

[2021-07-20 04:08] MikeSpreitzer commented on #103788
@kubernetes/sig-api-machinery-misc
@wojtek-t
@deads2k
@lavalamp
@tkashem

[2021-07-20 04:18] hyserver commented on #93079
Can the community provide a disable/enable switch for the ImageLocalityPriority parameter?

[2021-07-20 04:21] evanlixin opened #103789 "StreamWatcher memory leak ?"
I am using client-go/tools/cache package NewInformer, find the StreamWatcher and seeing extremely high memory allocations. Attached is a memory profile:

[pprof.bcs-k8s-watch.alloc_objects.alloc_space.inuse_objects.inuse_space.003.pb.gz](https://github.com/kubernetes/kubernetes/files/6845441/pprof.bcs-k8s-watch.alloc_objects.alloc_space.inuse_objects.inuse_space.003.pb.gz)

From this we have 2.3 G

[2021-07-20 04:25] evanlixin commented on #103789
I am sorry,  paste the code snippet again
`
type Watcher struct {
resourceType string
resourceNamespaced bool
controller cache.Controller
store cache.Store
writer *output.Writer
stopChan chan struct{}
}

// NewWatcher creates a new watcher of target type resource.
func NewWatcher(client *rest.Interface, resourceType string, resourceName string, objType runtime.Object,
writer *output.Writer, shared

[2021-07-20 05:03] jyz0309 commented on #103441
@yan-lgtm Have you still working on this issue? I am new to the community, and can I try it?

[2021-07-20 05:08] #103767 closed

[2021-07-20 05:20] evanlixin commented on #103789
/sig api-machinery

[2021-07-20 05:23] evanlixin commented on #103789
@liggitt @howardjohn  Thanks  for taking a look

[2021-07-20 05:24] rymnc commented on #17088
@SpectralHiss were you able to get it to work?

[2021-07-20 05:51] krmayankk commented on #101249
/remove-lifecycle stale

[2021-07-20 06:09] #102286 closed

[2021-07-20 06:27] yan-lgtm commented on #103441
Hey Alkaid, I added the deprecate in https://github.com/kubernetes/kubernetes/pull/103793. If you want to add the new metric, feel free to do so.

[2021-07-20 06:42] jyz0309 commented on #103441
@logicalhan Can I add the new metric? If I can, can you give me some advice about the new metric? Thank you~

[2021-07-20 06:43] timoreimann commented on #88902
Need to find some time to move forward on tgis one, really.

/remove-lifecycle stale

[2021-07-20 07:52] voigt commented on #102430
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 07:53] voigt commented on #102237
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 07:53] voigt commented on #99265
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 07:53] voigt commented on #102439
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 07:53] voigt commented on #99270
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 07:54] voigt commented on #100152
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 07:58] voigt commented on #97026
Due to v1.22 code freeze, I'm moving this issue to the next release.

/milestone v1.23

[2021-07-20 08:09] voigt commented on #94900
Hi there ( spiffxp, @fedebongio, @mengjiao-liu),
Bug-Triage here: given the current state of v1.22 release, does it make sense to move this issue to `milestone v1.23`?

[2021-07-20 08:14] voigt commented on #100914
Hi there,
Bug-Triage here: given the current state of v1.22 release, does it make sense to move this issue to `milestone v1.23` (or even clear the milestone)?

[2021-07-20 08:14] voigt commented on #82531
Hi there,
Bug-Triage here: given the current state of v1.22 release, does it make sense to move this issue to `milestone v1.23` (or even clear the milestone)?

[2021-07-20 08:16] voigt commented on #96770
Hi there (@spiffxp, @claudiubelu, @chewong),
Bug-Triage here: given the current state of v1.22 release, does it make sense to move this issue to `milestone v1.23` (or even clear the milestone)?

[2021-07-20 09:11] jyz0309 commented on #103441
/assign

[2021-07-20 09:19] aojea commented on #103544
ping  @khenidak @thockin

[2021-07-20 09:44] figroc commented on #39792
Why can't service name contain dot?

[2021-07-20 10:05] mdbooth commented on #70897
Herein lies the problem. When upgrading from in-tree to CCM, which we plan to do some time soon, it will affect 100% of AWS/OpenStack users.

[2021-07-20 10:08] aojea commented on #18174
a prototype of a client-go that supports HA with multiple apiservers
https://github.com/aojea/client-go-multidialer

[2021-07-20 10:17] ahilsend commented on #96218
I just stumbled on this issue. I was looking into introducing parallel to some of our StatefulSets. But if updates behave as described in this issue, then it's a no go for us. Would be great if someone could confirm whether it's intended or a bug.

[2021-07-20 10:17] ahilsend commented on #96218
/remove-lifecycle rotten

[2021-07-20 10:51] jyz0309 commented on #103769
/sig-cli
/assign

[2021-07-20 10:53] jyz0309 commented on #103769
I think use `Usernames to bind to the role` as the usage of the `--user` maybe good. What do you think?

[2021-07-20 11:37] 916264367 opened #103798 "the server doesn't have a resource type "coredns""
Hello everyone, I tried to deploy kubernetes for the first time. I found that my pod couldn't start normally. I checked the log and reported an error. What's wrong with it？
![image](https://user-images.githubusercontent.com/51771785/126317515-46c37a1e-c40d-4262-9a10-a15c03659a66.png)

[2021-07-20 11:44] 916264367 commented on #103798
Sorry, there is an error in my command input. But I still can't solve the problem
![image](https://user-images.githubusercontent.com/51771785/126318294-00bbd39a-bae6-4d19-a495-7aa252aa4411.png)

[2021-07-20 11:44] AlexLast commented on #103366
Sure, we're setting the following flags for `kubelet`:
[code]

Version:
[code]

We deploy our clusters using `kops`, these missing metrics are for all pods on the cluster, including pods with memory requests and limits set.

[2021-07-20 11:51] dionysius commented on #103769
If we go strictly by what we have with groups:
`--group=[]: Groups to bind to the role`
I would use Users instead of Usernames:
`--user=[]: Users to bind to the role`

[2021-07-20 11:54] dionysius commented on #103769
But I think this may be a technical issue with cobra, since this param also exists in the global options

[2021-07-20 11:56] cbandy commented on #99250
/reopen

[2021-07-20 12:12] DavidMonk00 commented on #89939
Is it possible to re-open this issue? I would like to know whether the functionality described is now available or will be in the future.

[2021-07-20 12:13] jyz0309 commented on #103769
You're right. It's so weird that user/group/serviceaccount add into cmd.Flags, but only serviceaccount has been show.

[2021-07-20 12:39] radoslav-tomov commented on #53459
+1

[2021-07-20 13:06] alculquicondor commented on #96478
Both should call `MoveAllToActiveOrBackoffQueue(queue.AssignedPodDelete, nil)`, right?

[2021-07-20 13:19] jyz0309 commented on #103207
I am new to the community, and I am interested in this issue. Can you let me try it? If you can, can you give me some advice about where to add the metric? Thanks a lot! @liggitt

[2021-07-20 13:23] jayunit100 commented on #102919
i think we can close this now ....

[2021-07-20 13:23] #102919 closed

[2021-07-20 13:28] spiffxp commented on #96770
There is one pending PR I would like to consult with release team on, I will link later

[2021-07-20 14:04] jayunit100 opened #103802 "reduce resource requirements of networkpolicy tests by 1/3"
#### Which jobs are flaking:

The `NetPol` tests can take a long time to start since they require 9 pods.    This can result in failures like:

```fail [k8s.io/kubernetes@v1.21.1/test/e2e/network/netpol/network_policy.go:1208]: unable to initialize resources```

Now, these tests were designed to fail fast - i.e. if you cant make x pods, dont bother testing.  however... We can reduce the odds that

[2021-07-20 14:19] #103727 closed

[2021-07-20 14:22] TeddyAndrieux commented on #103658
Ok so I spend some time to reproduce (and describe how to reproduce) this issue (and also put some logs)

In my case, it's because I use a "proxy" for APIServer so that I have some load balancing on APIServer and also fallback on non-local APIServer if needed (basically non-Control Plane node kubelet hit different APIServers and Control Plane node can fallback on distant APIServer if local one is

[2021-07-20 14:36] gkarthiks commented on #103068
@neolit123 Apologies, I was a little occupied at work. But I have created the PR 👉  https://github.com/kubernetes/kubernetes/pull/103801

Please let me know if we can add this as part of 1.22.

[2021-07-20 15:10] lavalamp commented on #103597
cc @deads2k

[2021-07-20 15:13] Shahard2 opened #103803 "nodelocaldns - please add support for coredns 1.8.3 and 1.8.4"
#### What happened:

Having issues with nodelocal dns and coredns ...(when trying to upgrade to eks 1.20)

#### What you expected to happen:

It should work

#### How to reproduce it (as minimally and precisely as possible):
1. have a cluster with local dns
2. Try to upgrade to eks 1.20

[2021-07-20 15:29] neolit123 commented on #103068
@gkarthiks
no worries. we cannot add it in 1.22 because it's not a critical bug fix and we are in code freeze.
i will comment on the PR.

[2021-07-20 15:39] andrewsykim commented on #70897
Worth clarifying that I was specifically referring to what kubelet goes from `--cloud-provider=aws|openstack` to no cloud provider at all. This issue **does not** apply when you go from `--cloud-provider=aws|openstack` to `--cloud-provider=external` because the CCM should know how to discover nodes using varying names (like hostname or private DNS)

[2021-07-20 15:47] jwh-hutchison commented on #91459
I can still see the error but I'm on GKE 1.18, will this only apply to Kubernetes 1.21/22?

[2021-07-20 15:56] maxnitze commented on #60140
I have this issue as well. Weirdly it happens when my target file name contains an underscore! If I remove the underscore (which in my case makes the filename only containing letters and a `.`), then the file is copied just fine! I did not check yet, if other non-letter characters also produce any errors.

[2021-07-20 16:02] aojea commented on #102904
I'm afraid that those kernel panics are there since 2020 (at minimum)  :sweat: https://github.com/kubernetes/kubernetes/issues/91236#issuecomment-713619858

[2021-07-20 16:02] c2nes opened #103804 "Endpoints not deleted when Service selector set to null"
#### What happened:

I converted a `ClusterIP` service to an `ExternalName` service and then back to a `ClusterIP` service. After doing so I began receiving sporadic connection errors when trying to reach the service. During this process a corresponding Deployment was updated.

Upon investigating I found the service had two EndpointSlices, one owned by the Service and the other owned by the Servic

[2021-07-20 16:10] lambdanis commented on #103651
/cc @kubernetes/release-team-leads

(my close/reopen yesterday was accidental, sorry)

[2021-07-20 16:10] aojea commented on #91459
It will be part of 1.22 or the next 1.21.X (I don't remember now what is the latest stable)

[2021-07-20 16:13] kerthcet commented on #102761
hey, @mlmhl  can you explain which resource would be running into a race condition. I can't get your point. Maybe, you can describe at that moment, what status podA and podB stays in.
What's more, IMO, if race condition exists, `Reverse Plugin` would be a better choice.

[2021-07-20 16:25] spiffxp commented on #103688
/assign @wojtek-t @mm4tt
SIG Scalability chairs, please find someone to address or call this a non-release-blocking failure

[2021-07-20 16:28] mm4tt commented on #103688
Assigning to current scalability oncall (https://go.k8s.io/oncall):

/assign @marseel

[2021-07-20 16:29] wojtek-t commented on #103688
This is sig-node issue - should be addres by SIG-node folks.

/sig node

[2021-07-20 16:29] spiffxp commented on #103688
https://github.com/kubernetes/kubernetes/pull/103640 is being discussed as a fix for this and I'm not sure it's correct

[2021-07-20 16:33] spiffxp commented on #103688
@wojtek-t is it sig scalability's intent that 5k node clusters should support SSH?

[2021-07-20 16:34] mdbooth commented on #70897
To the best of my understanding, `--cloud-provider=external` and `no cloud provider at all` are the same to kubelet. It's the same code path. The CCM is not involved at all here. This is purely a kubelet problem. Kubelet doesn't call out to a CCM in the same way that it does, for example, to CNI or CSI. The CCM isn't running on the local node, and all communication is indirect via API objects. The

[2021-07-20 16:35] spiffxp commented on #103688
The SSH test in question passes in the "default" job: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=SSH

So the fact that this failure is unique to a scalability job means to me that scalability needs to own at least some part of this

[2021-07-20 16:40] andrewsykim commented on #70897
The CCM can't help find kubelet find the node object, but it can give flexibility for kubelet to use different naming formats as supported by the cloud provider. So in the AWS case, if you switch from `--cloud-provider=aws` to `--cloud-provider=external`, and you want to preserve the existing node object before, you can set `--hostname-override=<private-dns>` with `--cloud-provider=external`.

[2021-07-20 17:21] neolit123 commented on #103798
it should be `kubectl describe po <some-pod> ...`
please use the support channels for questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-07-20 17:21] #103798 closed

[2021-07-20 17:21] neolit123 commented on #103802
/sig network

[2021-07-20 17:22] neolit123 commented on #103804
/sig network

[2021-07-20 17:24] neolit123 commented on #103803
please contact the EKS support on what is required here.
the issue does not have sufficient context and whether that is a problem with nodelocaldns:
https://github.com/kubernetes/dns
where nodelocaldns lives.

this repository is for core k8s problems.

/close
/kind support

[2021-07-20 17:24] #103803 closed

[2021-07-20 17:55] verult commented on #103651
I can take a look

/assign

[2021-07-20 18:35] #99266 closed

[2021-07-20 20:17] fedebongio commented on #103739
/assign @kwiesmueller
/triage accepted

[2021-07-20 20:18] fedebongio commented on #103741
/cc @liggitt
Jordan, people think that you solved this one already, do you remember?
Thanks!

[2021-07-20 20:18] fedebongio commented on #103748
/cc @yliaog
/triage accepted

[2021-07-20 20:19] fedebongio commented on #103760
/sig auth
/help
/triage accepted

[2021-07-20 20:19] fedebongio commented on #103788
/triage accepted

[2021-07-20 20:20] kwiesmueller commented on #103739
@kscharm I think you're looking for this: https://github.com/kubernetes-sigs/controller-tools/pull/557
I came across it myself and setting the flag added in the PR generates the right schemas for embedded ObjectMeta.

[2021-07-20 20:20] fedebongio commented on #103789
/help

[2021-07-20 20:20] fedebongio commented on #103789
/cc @deads2k

[2021-07-20 20:22] rajaskakodkar commented on #103802
/assign

[2021-07-20 20:27] kscharm commented on #103739
Thank you @kwiesmueller, this is exactly what I was missing. I will test this out to be sure it fixes my issue.

[2021-07-20 20:36] kscharm commented on #103739
Do you know the corresponding `kubebuilder` command is to enable `generateEmbeddedObjectMeta` in my CRD?

[2021-07-20 21:08] mdbooth commented on #70897
Excellent! I was thinking we could update the script which launches kubelet to look for a local file, e.g. `/etc/kubernetes/node`, and pass the contents of that file in --hostname-override if it exists. My hope is that we can have, e.g. the CCM operator add a hook... somewhere tbd... to create this file if required with cloud-specific contents. Do you think that would fly?

[2021-07-20 21:27] lavalamp commented on #100415
What Ben said :)

This is just fundamentally how k8s works, there is zero chance it will get changed.

(There may still be some misconfiguration that makes a particular setup especially chatty, e.g. continually health checking something because it's not healthy.)

[2021-07-20 21:34] chrishenzie commented on #103305
Quick thought experiment on how this would work depending on the affinity / anti-affinity rules used.

If a user has two pods with anti-affinity rules and sharing the same ReadWriteOnce PVC, one will start and the other will get stuck waiting for volume attachment. If we were to enforce ReadWriteOnce in the scheduler in this case, the second pod would fail to schedule because there's no place to g

[2021-07-20 21:55] andrewsykim commented on #70897
I think this is up to the cluster admin / operator to figure out since this is pertaining to how kubelet eventually ends up running on a given node.

[2021-07-20 22:03] mauriciopoppe commented on #102865
`Kubernetes e2e suite: [sig-storage] [Serial] Volume metrics PVController should create unbound pvc count metrics for pvc controller after creating pvc only` timed out with:

[code]

I saw that the failure is in the call to `metrics.GrabFromControllerManager()`, in the test there's a beforeEach hook where metrics are fetched with a function wrapped inside a `sync.Once` successfully,

[code]

Howev

[2021-07-20 22:21] #103623 closed

[2021-07-20 22:21] ehashman commented on #101989
/kind regression

[2021-07-20 22:49] aojea commented on #102865
The sync.Once function are used for waiting for the corresponding pods once, I think it is a mistake, and the logic to obtain metrics should be out of the sync.Once function
[code]
https://github.com/kubernetes/kubernetes/pull/101895#commitcomment-50902953

[2021-07-20 22:57] Huang-Wei commented on #96478
That's correct. I created PR #103805 to address this.

[2021-07-20 23:36] mauriciopoppe commented on #102865
Thanks for chiming in @aojea, indeed once I removed the wrapping `sync.Once` all of the tests passed in #103806

[2021-07-21 00:32] verult commented on #103651
The non-subpath counterpart of this test is passing:
* `Kubernetes e2e suite.[sig-storage] GenericPersistentVolume[Disruptive] When kubelet restarts Should test that a volume mounted to a pod that is deleted while the kubelet is down unmounts when the kubelet returns.`
* `Kubernetes e2e suite.[sig-storage] GenericPersistentVolume[Disruptive] When kubelet restarts Should test that a volume mounted

[2021-07-21 01:03] verult commented on #103651
The CSI ones are failing because the hostpath driver never received a NodeUnstage (whereas it did in passing tests), causing the driver to error on volume deletion.

[2021-07-21 01:27] ThisIsQasim commented on #74374
/remove-lifecycle rotten

[2021-07-21 01:31] verult commented on #103651
In the failed run kubelet has this error: `E0720 18:20:42.733578   77006 operation_generator.go:881] UnmountVolume.MarkVolumeAsUnmounted failed for volume "" (UniqueName: "pvc-e6562d78-a615-4e89-afe8-290135af1ac0") pod "f59c76e3-e508-45c2-8509-4bd4c2ad70c6" (UID: "f59c76e3-e508-45c2-8509-4bd4c2ad70c6") : no volume with the name "pvc-e6562d78-a615-4e89-afe8-290135af1ac0" exists in the list of attac

[2021-07-21 01:32] xiaoping8385 opened #103807 "kubelet can not report part of the memory metric and network metric while with containerd runtime"
#### What happened:
We have k8s env with containerd runtime, the k8s server version is  and when we test the stats/summary api, eg, kubectl get --raw /api/v1/nodes/${NODE_NAME}/proxy/stats/summary, we found part of memory metrics and network for pod ref are missing,
 with this env, we only get metrics like this:(which missing part of memory metrics and network metric )
[code]
if I check the kubele

[2021-07-21 01:44] msau42 commented on #103651
Hostpath driver can run with and without support for attach. Do you know which mode is enabled for this test?

[2021-07-21 01:47] msau42 commented on #103651
Between the last passing time and when the test started failing, are there any PRs merged that look suspicious?

[2021-07-21 01:54] verult commented on #103651
According to csi-attacher logs, attach is disabled for both the good run and the failing run.

Haven't spotted any obvious PRs so far, but I did find this: in the successful run, the log message for the successful `TearDown` is this:

`I0709 03:42:55.321105   67520 operation_generator.go:859] UnmountVolume.TearDown succeeded for volume "kubernetes.io/csi/csi-hostpath-provisioning-787^86c283e3-e067

[2021-07-21 02:13] msau42 commented on #103651
This merged 12 days ago and was a pretty big change to pod lifecycle and could have trickling impact to volume manager. Does the timing of test failure match?

https://github.com/kubernetes/kubernetes/pull/102344

[2021-07-21 02:14] msau42 commented on #103651
There is also this reconstruction fix that merged yesterday and seems related to outer vs inner spec name. I don't know if that will help fix this issue: https://github.com/kubernetes/kubernetes/pull/103181

[2021-07-21 02:14] msau42 commented on #103651
cc @jingxu97

[2021-07-21 02:38] jyz0309 commented on #103769
Oh, I think I know why the user not show in --help! Because parent command have a flag user, and this `kubectl create rolebinding` overwritten it. Will create a pr to fix it.

[2021-07-21 02:43] nowjean opened #103808 "When kubectl describe ingress, there is no information about labels"
#### What happened:
When command 'kubectl describe ing'

-----------------------------------------
Name:             test-ing
Namespace:        practice
Address:          10.10.01.10
Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
TLS:
  test terminates
Rules:
  Host                             Path  Backends
  ----                             ----

[2021-07-21 02:45] verult commented on #103651
Last successful run started at 7/8 17:49 PT, first failing run started at 7/9 2:23 PT. #102344 was merged at 7/8 16:48 PT, so it's possible (if there's a delay in picking up master)

Also this is in the failing kubelet logs but not in the successful one:

`I0720 18:20:42.719097   77006 reconciler.go:411] "Could not construct volume information, cleaning up mounts" podName=f59c76e3-e508-45c2-8509-4

[2021-07-21 02:49] imkos commented on #103765
@neolit123
[root@node1 ~]# ss -s
Total: 599
TCP:   503 (estab 71, closed 385, orphaned 0, timewait 47)

Transport Total     IP        IPv6
RAW	  0         0         0
UDP	  8         5         3
TCP	  118       98        20
INET	  126       103       23
FRAG	  0         0         0

[2021-07-21 02:58] verult commented on #103651
The newly introduced log message here exists in the failing kubelet logs but not the successful one:

https://github.com/kubernetes/kubernetes/pull/102344/files#diff-367a5b4b2c1d046a94b4eeb471202ef0c3b2a2af3b15fd4d061a17277dd364cfR446

[2021-07-21 03:00] nowjean commented on #103808
/sig

[2021-07-21 03:22] imkos commented on #103765
Jul 21 10:10:09 node1 kubelet[1082]: I0721 10:10:09.015431    1082 topology_manager.go:187] [topologymanager] Topology Admit Handler
Jul 21 10:10:09 node1 kubelet[1082]: I0721 10:10:09.043337    1082 topology_manager.go:187] [topologymanager] Topology Admit Handler
Jul 21 10:10:09 node1 kubelet[1082]: I0721 10:10:09.155716    1082 reconciler.go:224] operationExecutor.VerifyControllerAttachedVolume

[2021-07-21 03:38] xyz-li opened #103810 "make vet and make vet WHAT=./pkg/kubelet are failed"
#### What happened:

Run `make vet` and `make vet WHAT=./pkg/kubelet` failed in workdir `go/src/k8s.io/kubernetes/kubernetes`.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
code dir: /root/go/src/k8s.io/kubernetes/kubernetes
[code]

`make vet`
[code]
`make vet WHAT=./pkg/kubelet`
[code]
#### Environment:
- Kubernetes version (use `kubectl

[2021-07-21 03:46] jyz0309 commented on #103808
/sig cli

[2021-07-21 04:12] dee-kryvenko opened #103812 "Multiple EBS PVCs in one pod can be bound to PVs in different AZs"
#### What happened:

I am creator of https://github.com/plumber-cd/kubernetes-dynamic-reclaimable-pvc-controllers and its README will tell exactly what I am trying to achieve there and why, but the bottom line - I have multiple EBS backed storage classes and multiple PVs in these storage classes with the status `Available`. If I create multiple PVCs (one per each storage class) to be mounted in on

[2021-07-21 04:14] dee-kryvenko commented on #103812
/sig storage

[2021-07-21 05:05] Huang-Wei commented on #87850
/remove-lifecycle stale

[2021-07-21 05:28] IMOKURI commented on #93705
I think you need to set following domains to no_proxy environment variables for kube-apiserver.

- `.svc`
- `.cluster.local`

Edit `/etc/kubernetes/manifests/kube-apiserver.yaml` on master nodes.

Because kube-apiserver connects webhook service via https with `.svc` domain.

[2021-07-21 06:04] kerthcet commented on #92143
/cc

[2021-07-21 06:54] guyguy333 commented on #100420
/remove-lifecycle rotten

[2021-07-21 06:58] evanlixin commented on #103789
i find that infomer handler be stuck will lead to streamWatcher memory high allocations。don't  hang informer handler and you will resolve that question. @fedebongio

[2021-07-21 07:10] wawa0210 commented on #103808
/assign

[2021-07-21 07:24] lojies opened #103814 "Kubernetes doesn't have a same feature as Docker's volumes-from"
#### What would you like to be added:
For example, there is a data volume in the docker image, it can be userd by another container directly through --volumes-from.
Dockerfile like:
FROM ubuntu
MAINTAINER hello
VOLUME ["/data"]

docker run --name test1 -it myimage /bin/bash
docker run --name test2 -it --volumes-from test1  ubuntu  /bin/bash

I want to share data between containers in the same pod.

[2021-07-21 07:29] lojies commented on #103814
/sig node

[2021-07-21 07:36] adevjoe commented on #65973
Any progress or design doc on this?

[2021-07-21 07:49] yuswift commented on #103804
duplicate
https://github.com/kubernetes/kubernetes/issues/103576

[2021-07-21 07:49] striver619 commented on #95279
well done!

[2021-07-21 08:36] sanposhiho opened #103816 "client-go: cannot create/update resource with server-side apply on client-go fake clientset"
Hello team.

#### What happened:

https://github.com/kubernetes/client-go/blob/ac207faedfb64acd5b99a2fb309b7044918b4dda/kubernetes/typed/core/v1/fake/fake_node.go#L138-L157

FakeNodes has Apply method, but we cannot create/update resource with server-side apply with this method.
And creating new resource and updating exist resource have different error message.

[code]

#### What you expected to h

[2021-07-21 08:37] sanposhiho commented on #103816
I'd like to take this issue
/assign

[2021-07-21 08:53] itisguptak opened #103817 "Ingress Nginx custom backend for errors"
Hi,

I have implemented custom default backend for our Ingress nginx controller using https://kubernetes.github.io/ingress-nginx/examples/customization/custom-errors/#customized-default-backend

It's working all fine except that it also overrides the app error responses. E.g. If a backend app is responding with a 401 or a 503, the UI client looks at the app error response to render the response. B

[2021-07-21 08:57] itisguptak commented on #103817
/sig network

[2021-07-21 08:57] rahulii commented on #100748
Components to be picked:
- [ ] kube-scheduler
- [ ] kube-apiserver
- [ ] controller-manager

[2021-07-21 10:16] rsoika opened #103819 "StorageClass complexity for static Volumes (Ceph or Longhorn)"
#### What would you like to be added:

I have a question/feature request about the usage of static volumes.

I am running a self managed kubernetes cluster (v1.21.2). For persistence I am running [Longhorn](https://longhorn.io/) inside my cluster and also a separate [ceph cluster ](https://ceph.io) running outside of my cluster and connecting via the Ceph [ceph-csi plugin](https://github.com/ceph/

[2021-07-21 10:18] chendave commented on #95131
@alculquicondor I have sent out the proposal, I tend to go with your idea and make the change accordingly if there is no further comments.

[2021-07-21 10:34] ragunathan23 commented on #103755
This was due to misconfiguration of systemd service to drain nodes during reboot of servers which caused the nodes to be marked ads Ready, SchedulingDisabled state automatically. Hence closing this issue.

[2021-07-21 10:34] #103755 closed

[2021-07-21 10:53] kerthcet commented on #103305
sorry for interruption, `ReadWriteOnce` is ambiguous. 🥲

[2021-07-21 10:58] marseel commented on #103688
I did a little bit of digging and ci-kubernetes-e2e-gce-scale-correctness uses `- --gcp-ssh-proxy-instance-name=gce-scale-cluster-master` option in kubetest, which according to https://github.com/kubernetes/test-infra/blob/2b77449e7fcaa977b84e979f5544ad1eb6f1c7f8/kubetest/main.go#L90 seems to be setting KUBE_SSH_BASTION env. So I believe this is main difference between our scalability job and "def

[2021-07-21 11:09] mcbenjemaa commented on #103810
/kind cleanup
/sig node
/triage accepted

[2021-07-21 12:14] silenceper commented on #68211
same issue at k8s v1.20.2

[2021-07-21 12:29] wojtek-t commented on #103697
OK - so the upgrade itself works now.

However, there are gazilions of storage tests that started failing after Jordan upgraded to use latest.

@liggitt - should we close this one and open a separate bug for the failing storage tests?

[2021-07-21 12:34] saschagrunert commented on #103688
Debugging the test in https://github.com/kubernetes/kubernetes/pull/103815 and providing a fix there. The crictl host PR (#103640) is doing something different.

[2021-07-21 12:43] #96938 closed

[2021-07-21 12:44] shenshouer commented on #21248
set --logtostderr=false and --log-dir=xxx , not work
kubelet --version
Kubernetes v1.21.1

[2021-07-21 12:48] jyz0309 commented on #102573
@alannatodd Hello! Are you still working this issue? Can I try it? Or join the brainstorm :)

[2021-07-21 12:51] eduardoriveror commented on #70664
Just had this issue, and the last comment solves it. But in my case, I originally set the volumeMount section that mounted the logfile in the container with the argument *readOnly: true*, so the container fail to rewrite the log file. Setting it with the ability to rewrite the file *readOnly: false* makes also the trick. It is also suggested [here](https://kubernetes.io/docs/tasks/debug-applicatio

[2021-07-21 12:52] xing-yang commented on #94929
/remove-lifecycle stale

[2021-07-21 12:52] xing-yang commented on #94929
/triage accepted

[2021-07-21 12:59] jyz0309 commented on #101803
@msau42 @sanposhiho Hello! I want to know that the former(1) need to be done or not? Actually I am interested in this issue, and want to try the volume count cache :)

[2021-07-21 13:03] alculquicondor commented on #103305
@liggitt for an API compatibility perspective

[2021-07-21 13:18] YanzhaoLi commented on #103366
Hitting the same issue on such kind of environments
[code]

Then I tested and found  no issue on environment
[code]

[2021-07-21 13:30] YanzhaoLi commented on #103366
Besides memory metrics, we noticed a loss of network  in pods, which should be like this
[code]
The `network  metrics ` loss of pods occurs at the same time as `memory metrics` loss of pods

[2021-07-21 13:34] liggitt commented on #103697
probably so

[2021-07-21 13:37] wojtek-t opened #103822 "[sig-storage] tests are massively failing in upgrade tests"
Examples of failing jobs:
https://testgrid.k8s.io/google-gce-upgrade#gce-stable1-latest-upgrade-cluster
https://testgrid.k8s.io/google-gce-upgrade#gce-stable1-latest-upgrade-master

/kind failing-test
/priority important-soon
/sig storage

[2021-07-21 13:37] wojtek-t commented on #103697
Opened https://github.com/kubernetes/kubernetes/issues/103822

Closing this one as resolved.

[2021-07-21 13:37] #103697 closed

[2021-07-21 13:54] liggitt commented on #103741
looks like the same issue reported in https://github.com/kubernetes/kubernetes/issues/98720, resolved for 1.22

[2021-07-21 14:01] endocrimes commented on #103814
/kind support

Sharing contents of containers is a pretty different problem to sharing data between them. Is there a reason you can't include the tool inside the container that needs it?

[2021-07-21 14:07] endocrimes commented on #103810
I don't seem to be able to reproduce this, what k8s SHA was failing for you?

[code]

### `go env` output
[code]

[2021-07-21 14:15] xyz-li commented on #103810
The `GOMOD` of my environment
`GOMOD="/root/go/src/k8s.io/kubernetes/kubernetes/go.mod"`
The `GOMOD` of your environment
`GOMOD="/home/danielle/dev/src/k8s.io/kubernetes/go.mod"`

[2021-07-21 14:16] xyz-li commented on #103810
You can reproduce by move kubernetes code base to dir `/home/danielle/dev/src/k8s.io/kubernetes/kubernetes`

[2021-07-21 14:26] endocrimes commented on #103673
/remove-sig node
/sig scheduling

[2021-07-21 14:29] endocrimes commented on #103592
/triage accepted
/priority backlog

[2021-07-21 14:51] kerthcet commented on #103305
I do agree with @chrishenzie, especially to new comers, they have less knowledge about affinity, they would treat this behavior as a bug or misconfiguration. My poor opinion.🧐

[2021-07-21 14:57] endocrimes commented on #103587
Definitely seems like a bug that we actually run that - given that we can never report it to the API.

/triage accepted

[2021-07-21 14:58] endocrimes commented on #103587
/priority important-longterm

[2021-07-21 15:28] #103688 closed

[2021-07-21 15:52] mattcary commented on #55045
/remove-lifecycle stale

This feature did not make the 1.22 release cut but we are hopeful for 1.23.

[2021-07-21 15:56] sheerun commented on #55045
@mattcary THANK YOU for working on this :)

[2021-07-21 16:00] yannizhang2019 commented on #43214
As this issue is still open today, I wonder if the change to stop serving extensions/v1beta1 is going in 1.22? @soltysh

[2021-07-21 16:03] ehashman commented on #100788
Flaking very frequently on the swap ubuntu periodic: https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-swap-ubuntu&exclude-non-failed-tests=

[2021-07-21 16:06] liggitt commented on #43214
yes, this is resolved in https://github.com/kubernetes/kubernetes/pull/99840

/close

[2021-07-21 16:06] #43214 closed

[2021-07-21 16:29] rikatz commented on #69461
/assign
Sorry, missed this notification. Will try to check next week

[2021-07-21 16:34] chrishenzie commented on #103305
/cc @thockin

After further review it doesn't look like there is a backwards compatible way of enforcing ReadWriteOnce in the scheduler.

In API review it was suggested we aim for a consistent approach (using scheduler for both access modes or neither). Since it seems we won't be able to use the scheduler to enforce ReadWriteOnce, are we able to make an exception and still allow for the scheduler

[2021-07-21 16:42] GerrySeidman commented on #55045
@mattcary <https://github.com/mattcary> Ditto... Thanks.  We have a
hack-y solution to get around this that I'd love to deprecate.

On 7/21/2021 11:56 AM, Adam Stankiewicz wrote:

[2021-07-21 16:55] msau42 commented on #101803
I remember we thought about caching the volume count previously and the benchmark analysis did not show the volume counting as the bottleneck. However I'm not able to find the issue/PR with the links to the tests and results anymore. If you would like to help with adding a new benchmark test and performance analysis, that would be greatly appreciated!

[2021-07-21 17:05] ehashman commented on #103651
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-serial

Failures starting 07/08:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-serial#7b9f1bc633d8a3bff2bf
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-serial#e78b8769da8d0ef405c9
- https://storage.googlea

[2021-07-21 17:28] jingxu97 commented on #103651
I think #102344 caused the failures. Before after kubelet restarts, pod will still be in desired state (even through it is in terminating state), so that clean up mounts can be done completely.

I think now, terminating pods will not be added back to desired state, but reconstruction to actual state cannot completely clean up mounts.
I am testing it about this.

[2021-07-21 17:33] alculquicondor commented on #103305
I think inconsistency in this case is acceptable, given that not enforcing ReadWriteOnce in scheduler was probably an oversight.

[2021-07-21 17:35] SergeyKanzhelev commented on #100788
this is not a regression, our suggestion is not block release on it. @kubernetes/release-managers feel free to remove the milestone

[2021-07-21 17:38] SergeyKanzhelev commented on #99979
this is not a regression, our suggestion is not block release on it. @kubernetes/release-managers feel free to remove the milestone

[2021-07-21 17:49] cbandy commented on #103584
The update strategy is trying to surge and the running pod has an anti-affinity on the `app` label.

I suspect using the [Recreate](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#recreate-deployment) strategy would solve it:

[code]

I suspect using [RollingUpdate](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-update-deployment) without surge

[2021-07-21 17:49] SergeyKanzhelev commented on #36621
/assign

[2021-07-21 17:50] SergeyKanzhelev commented on #101986
/assign

[2021-07-21 17:51] SergeyKanzhelev commented on #102394
/assign @haircommander

[2021-07-21 17:52] SergeyKanzhelev commented on #86080
/remove-priority critical-urgent
/priority backlog

[2021-07-21 17:54] SergeyKanzhelev commented on #102782
/assign @endocrimes

[2021-07-21 17:55] SergeyKanzhelev commented on #103759
/assign @bobbypage

[2021-07-21 18:08] bswartz commented on #103305
Whether it was an oversight depends on what you thought it was supposed to do at the time. There was fundamental confusion about that point which led to the need for this new access mode. Those who thought that RWO meant "one pod" would have assumed there was no work for the scheduler to do. Those who thought that it meant "one node" were probably content with the options available to them at the

[2021-07-21 18:16] smarterclayton commented on #103651
Is there a reason why reconstruction to actual state cannot clean up mounts?  Note that a pod can be force deleted at any time, so a terminating pod that is force deleted would still have to be capable of being cleaned up (it won't be in desired state)?

(note that the expectation of the changes in #102344 is that terminating and fully terminated and "never seen" are all completely equivalent from

[2021-07-21 18:25] msau42 commented on #103651
We have both "grace pod deletion" and "force pod deletion" test cases that are failing.

[2021-07-21 18:30] HongjiangHuang commented on #92928
I also have this problem in v1.20.4

[2021-07-21 18:36] haircommander commented on #102394
@odinuge do you think this is still an issue? I looked at testgrid and this test has passed for both the last handful of rounds

[2021-07-21 18:43] robscott commented on #92928
@HongjiangHuang unfortunately this fix didn't make it in until [1.20.5](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#v1205). For reference, this should be mitigated in:

- v1.19.9+
- v1.20.5+
- v1.21+

That fix does not guarantee that these events will _never_ happen, they should just be significantly less common.

[2021-07-21 18:45] smarterclayton commented on #103651
There were a couple of key changes to volume loops:

[code]

Roughly before was "it looks like it's got no running pods", and after my change is "we are going to be stopping all the containers from now on".  So this change meant that once a pod starts terminating, we are in "tearing down mode" and so my understanding of this method was that "any pod where containers are being torn down is not in t

[2021-07-21 20:07] Huang-Wei commented on #95709
/remove-lifecycle stale

[2021-07-21 20:14] ssubramanian123 commented on #70044
@Oats87 I am seeing exactly same issue as you described above. I recently upgraded my cluster to k8s 1.21.2. Is there any fix available for this issue?
@brandond  @ehashman

[2021-07-21 20:18] bobbypage commented on #103759
/assign @dragoncell

To take initial look into the failure on cgroupv2 containerd metric test.

[2021-07-21 20:37] taxilian commented on #97264
As a data point, I'm seeing this issue now; trying to resolve.

[code]

[2021-07-21 21:30] sfudeus commented on #96842
I tried to reproduce this with a mixed cluster of 1.19.9 and 1.19.13, but failed. Maybe this was fixed with the 1.19.
In another cluster with 1.20.8, I couldn't reproduce either.

From my perspective, this can be closed.

[2021-07-21 21:30] #96842 closed

[2021-07-21 21:35] bobbypage commented on #103366
I created cluster as follows on 1.21.2 with kubetest containerd 1.4.6 on ubuntu. This is on older version of ubuntu 18.04 LTS on kernel `4.15.0-1044-gcp`

[code]

[code]

I don't see memory metrics being lost here.

[code]

[2021-07-21 21:37] bobbypage commented on #103366
Can we have more details on exact kernel/OS image being used here? I can't seem to repro this on 1.21.2 on same ubuntu version as mentioned in https://github.com/kubernetes/kubernetes/issues/103366#issuecomment-881855345

[2021-07-21 21:56] bobbypage commented on #100788
Taking a closer look.

Some failures from https://testgrid.k8s.io/sig-node-release-blocking#node-kubelet-master&width=20&include-filter-by-regex=stats%20api

Failure 1: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1417417911915515904

[code]

Failure 2: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1416232826109431808

[code]

Fail

[2021-07-21 22:18] bobbypage commented on #100788
hmm, I'm not sure if I understand the failure correctly.

It looks like the test gets back `0` for `Node.SystemContainers[pods].CPU.UsageNanoCores` and expects that it will match either zero or be >= 10000.

The test code expects either 0 or between 10000 and 2e9.

https://github.com/kubernetes/kubernetes/blob/85a29212e03d8385a2b8cdee7758067e2ea0aac8/test/e2e_node/summary_test.go#L98

Based on err

[2021-07-21 22:33] bobbypage commented on #100788
Also by the way, the failures in ubuntu swap job https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-swap-ubuntu&exclude-non-failed-tests= seem to be caused by reason. Those failures seem to be due to MemoryStats:

e.g.
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-swap-ubuntu/1417908948832358400

[code]

Perhaps memory stats may be impacted by swap being enabled?

[2021-07-21 23:21] aojea commented on #100492
/sig network
/remove-lifecycle rotten
I have to double check, but established connections should work to allow graceful termination
probes combinations are complex, there are some sections on the docs that explain the topic in more detail, but I don't know if this should be explicitely mentioned , @sftim  what do you think?

[2021-07-21 23:28] aojea commented on #103592
There are security implications with the probes
https://github.com/kubernetes/kubernetes/issues/99425#issue-815926103

logging the message will make easier to exploit the kubelet probes

[2021-07-22 00:02] sujithra-p opened #103833 "[selinux] container runtime unable to set labels on tmpfs mounts."
/sig node /kind bug

#### What happened:
Occasionally observing selinux denials for container-runtime when it tries to set labels for tmps mounts.

[code]

#### What you expected to happen:
This behavior is random. Expectation is that container-runtime should be able to set labels for pod tmps mounts.

#### How to reproduce it (as minimally and precisely as possible):
Was able to reproduce it by p

[2021-07-22 00:56] lojies commented on #103814
For example, i need to use jdk in containers, but for the security reason, the jdk need to be upgraded frequency.But my app is upgraded less, i don't want to build images  frequency.So if data can be shared between containers like docker, i can only change docker images.

[2021-07-22 01:07] yuzhiquan commented on #21248
JSON log format doesn't implement logtostderr flag now, so it's exited, and here is proposal for this https://github.com/kubernetes/kubernetes/issues/99270#issuecomment-864605988.

[2021-07-22 01:13] jyz0309 commented on #103819
/sig storage

[2021-07-22 01:41] jyz0309 opened #103835 "[sig-cli] Find out more global flags be shadowed in kubectl"
#### What would you like to be added:
As the #103769 comment said, `--user` flag has been shadowed by the root command flag and not show in the `kubectl create clusterrolebinding --help` command. We want to find out more flag which be shadowed and rename it.
Just like: #103809
#### Why is this needed:
For example, `kubectl create rolebinding --help` now not show the `--user` flag. But it's an opti

[2021-07-22 01:41] jyz0309 commented on #103835
/sig cli

[2021-07-22 01:43] jyz0309 commented on #103835
/good-first-issue

[2021-07-22 02:10] kerthcet commented on #103584
yep

[2021-07-22 02:39] silenceper opened #103836 "subpath configmap always remount, when container restarts"
#### What happened:
If kubelet mounts an extra data disk, when container restarts ,subpath configmap always remount.

#### What you expected to happen:
if configmap is not change skip remount.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configu

[2021-07-22 02:47] silenceper commented on #103836
/sig storage

[2021-07-22 03:02] YanzhaoLi commented on #103366
Hi, @bobbypage  may I know your output of  network metrics in pods?
[code]

[2021-07-22 03:45] boenn commented on #103305
+1 ，I think the difference between rwop and rwo is that if there are multiple pods on the same node in the former, only one can successfully mount the pvc, and the status of the other pods is failed or pending (preemption may occur); while the latter can be successfu mount and run. Pods on the same node use pvc in a certain order (according to priority or other) may be a feature of rwop, but for r

[2021-07-22 03:45] boenn commented on #103305
+1 ，I think the difference between rwop and rwo is that if there are multiple pods on the same node in the former, only one can successfully mount the pvc, and the status of the other pods is failed or pending (preemption may occur); while the latter can be successfu mount and run. Pods on the same node use pvc in a certain order (according to priority or other) may be a feature of rwop, but for r

[2021-07-22 04:37] SidneyShen opened #103838 "DeviceManager panic on Allocate()"
#### What happened:
Pod worker panic when trying to re-allocating the device plugin resource during the node restart.

The issue is potentially caused by [m.devicesToReuse map deleting](https://github.com/kubernetes/kubernetes/blob/1a9ae3454993b2362503db3efe1d7e48307bf3ff/pkg/kubelet/cm/devicemanager/manager.go#L376) an un-matching pod id. The map will be later used in an [assignment](https://gith

[2021-07-22 04:43] SidneyShen commented on #103838
/sig node

[2021-07-22 05:45] #98474 closed

[2021-07-22 06:15] rdrgporto commented on #103366
Hi, @bobbypage

I have tested with **two kernel versions**:

[code]
[code]

Thanks in advance

[2021-07-22 06:26] YanzhaoLi commented on #103366
We tested with two kernel versions too.
[code]

[code]

[2021-07-22 06:30] nofacer commented on #24669
Test many answers, finally find this could work for me

For example, you have a server cert called `server.pem` with a key called `server.key`, a Intermediate cert called `server. Intermediate.pem` and a root cert called `server.root.pem`

Step1: Merge server cert and Intermediate cert together by `cat server.pem server. Intermediate.pem > merge.pem`.
Step2:  Create k8s secret by `kubectl create s

[2021-07-22 07:38] bobbypage commented on #100788
I tried to repro the failures in https://github.com/kubernetes/kubernetes/issues/100788#issuecomment-884525348 by making the below patch (to force `UsageNanoCores` to always be zero).

[code]

The test fails consistently with this change:

[code]

despite the fact that zero should be valid and passing for the test

https://github.com/kubernetes/kubernetes/blob/85a29212e03d8385a2b8cdee7758067e2ea0a

[2021-07-22 07:39] larsskj opened #103841 "Cannot create job from cronjob with 1.21"
#### What happened:

For my webservers, I have cronjobs running doing regular backup of the databases. When building new versions with Jenkins, I kick off an extra backup during the build using a command like

`kubectl -n web create job --from=cronjob/my-website-db-backup my-website-db-backup-jenkins-buildnumber`

This has worked fine for a long time, but has started failing after upgrading to K8s

[2021-07-22 07:43] larsskj commented on #103841
/sig cli

[2021-07-22 07:50] bobbypage commented on #100788
I think the problem `gomega.SatisfyAny` is it's doing a uint64 pointer comparison to uint64.

expected is `*uint64`
[code]
matcher expects `uint64`
[code]

The following patch to test results in test passing when zero is returned:

[code]

[2021-07-22 07:51] larsskj commented on #103841
Ah  - problem solved: Had an old `kubectl` on the Jenkins host - upgrading did the trick.

[2021-07-22 07:51] #103841 closed

[2021-07-22 07:57] fragaLY commented on #70044
Hello, faced the same problem. Could you please tell me where to look the sources related to the direct problem to try to solve it?

[2021-07-22 08:15] adisky commented on #103838
/assign
looking into the issue

[2021-07-22 08:58] jyz0309 commented on #101803
Hello! Actually I am new to the community...So if you can give me some advice about how to add it, or where to start. It will be very helpful to me and greatly appreciated!

[2021-07-22 09:24] endocrimes commented on #103814
I'd definitely not recommend doing that - Rebuilding the single image usually also means that you can validate your application with new versions of dependencies prior to deploying them to your clusters.

Trying to share dependencies across different containers is always going to be somewhat painful and difficult to manage over time.

You could use multi-stage builds, or copy an externally built a

[2021-07-22 09:30] chenyw1990 commented on #103838
https://github.com/kubernetes/kubernetes/pull/102525
@pacoxu I think your PR is related to this issue.

[2021-07-22 10:01] ialidzhikov commented on #89492
/remove-lifecycle stale

[2021-07-22 10:19] adisky commented on #103838
/unassign
seems pretty relatable to PR #102525
cc @pacoxu

[2021-07-22 12:05] hadimansuri commented on #81723
It's an obvious requirement

[2021-07-22 12:52] akloss-cibo commented on #92629
Me too... I guess it's more `jq` for me... 😢

[2021-07-22 13:58] AlekSi opened #103845 "v1.22.0 (beta, rc) broke --audit-log-path=- support"
#### What happened:

I run an API server with `--audit-log-path=-` as documented and supported. I tried to update to v1.22.0-beta.2. It failed.

I tracked down the issue to #95387. That PR tries to create a file with the name "-" in the current directory. If that directory is not writable, the API server exits with an error.

#### What you expected to happen:

Everything should work as before. Spe

[2021-07-22 15:33] lukos opened #103848 "Pod Anti-Affinity not working"
#### What happened:
I have setup a pod anti-affinity to spread my pods among available nodes to provide maximum HA with 3 pods. I use the following node/pod affinity:

[code]

Note that the deployments-28802 is a tag that is unique to the deployment/namespace pair, in other words, ignore any previous deployments, just make sure that the pods in this deployment stay away from each other.

The deplo

[2021-07-22 15:35] lukos commented on #103848
/sig scheduling

[2021-07-22 15:35] howardjohn opened #103849 "Migrate from github.com/docker/distribution to github.com/distribution/distribution/v3"
#### What happened:
Kubernetes libraries have a dependency on `github.com/docker/distribution`
#### What you expected to happen:
Kubernetes libraries have a dependency on `github.com/distribution/distribution/v3`. Note the github org just changed, its the same project. I believe the v2 -> v3 was mostly to get around go.mod weirdness with versions, rather than large breaking changes, but am not sur

[2021-07-22 15:38] fromanirh commented on #103838
/triage accepted
/priority critical-urgent

[2021-07-22 15:42] bswartz commented on #103305
Yes it is confusing, and confusion in the past led us to make decisions that we now regret, and the addition of the RWOP access mode is an attempt to clean up the mess and reduce the confusion. RWO has always meant "one node" in practice, despite assumption to the contrary. Docs could be cleaned up, but the API/UI will remain backwards compatible.

[2021-07-22 16:17] dims commented on #103849
/area code-organization

[2021-07-22 16:19] dims commented on #103849
@howardjohn `docker/docker` needs to go first :(

[code]

[2021-07-22 16:21] howardjohn commented on #103849
I think https://github.com/kubernetes/kubernetes/pull/103850 is sufficient to drop the *direct* dependency at least. The indirect one... will require probably changes to probably 20+ repos

[2021-07-22 16:26] dims commented on #103849
@howardjohn i am happy to wait ... to avoid having 2 things that do the same thing in our dependencies.

[2021-07-22 16:33] howardjohn commented on #103849
Is dockershim removal still planned for 1.23 (which I think the `master` branch is now 1.23?) https://kubernetes.io/blog/2020/12/02/dockershim-faq/#when-will-dockershim-be-removed? Or do we need to wait a bit longer.

This is not a very high priority for us so I don't mind waiting months or years really

[2021-07-22 16:51] BenTheElder commented on #103810
Kubernetes must be in GOPATH

https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#go

https://github.com/kubernetes/kubernetes/issues/82531

/triage duplicate
/close

[2021-07-22 16:52] #103810 closed

[2021-07-22 16:52] BenTheElder commented on #103810
/remove-kind bug
/kind support

[2021-07-22 17:13] liggitt commented on #103305
"usually always end up on different nodes" doesn't sound like "alright so far"... if their pods shouldn't access the volume simultaneously, and they're not actively *preventing* the pods from landing on the same nodes using anti-affinity, they are non-deterministically broken, right?

Why not? Aren't they already exposed to that bug in a non-deterministic way?

What do you mean by "enforcing ReadW

[2021-07-22 17:17] shyamjvs commented on #103754
@thockin @msau42 @jsafrane - any thoughts on the above?

[2021-07-22 17:30] chrishenzie commented on #103305
Yes

Yes they would be. My concern was around how customers may depend on this buggy behavior, and how fixing it could cause issues for some workloads that are non-deterministically broken.

If more than one pod references a PVC with ReadWriteOnce, the scheduler will now force them to land on the same node to ensure they all have access (whereas previously they will land wherever, and the first to

[2021-07-22 17:42] Huang-Wei opened #103853 "Dedup the code in scheduler.go#scheduleOne()"
In scheduler.go#scheduleOne(), some logic was written duplicately to recover failures in different phases. This looks a bit ugly. We should tease out the logic in scheduleOne() and eventually de-duplicated those logic.

The duplicated code includes:

- fwk.RunReservePluginsUnreserve()
- sched.SchedulerCache.ForgetPod()
- sched.recordSchedulingFailure()
- ...

/kind cleanup
/sig scheduling

[2021-07-22 17:42] Huang-Wei commented on #103853
/help-wanted
/triage accepted
/milestone v1.23

[2021-07-22 17:43] liggitt commented on #103305
IMO, taking something that was non-deterministically broken and making it deterministically broken is in-bounds (and actually a net improvement, since it makes issues show up more consistently during test/dev), but I'm happy to hear other perspectives on it.

If this was done as yet another filter/prioritization step by the scheduler, that seems reasonable at first glance. If the user specified af

[2021-07-22 17:50] msau42 commented on #103754
The number of read attempts was increased recently for only fc and iscsi volume types: https://github.com/kubernetes/kubernetes/pull/102059

I believe the concern about more broadly increasing the count was load.

@kubernetes/sig-storage-bugs
cc @gnufied @jingxu97

[2021-07-22 17:52] RyanBouchard commented on #103853
/assign

[2021-07-22 18:07] gnufied commented on #103754
Did the volume stay in that state or unmount eventually succeeded? One of the reasoning of not increasing the number of attempts everywhere was - unmount operation is always retried and hence if we can't get consistent read after 3 attempts during this umount operation then we will retry next time.

[2021-07-22 18:25] alculquicondor commented on #103305
Correct me if I'm wrong, but I thought draining and eviction doesn't check if the Pod would be schedulable somewhere else, only if there are other replicas running, as required by the PDB).

On the other hand, Cluster Autoscaler does indeed simulate. But I would image that it would take out the candidate node for scale-down out of the simulation. @MaciekPytel does this sound reasonable?

[2021-07-22 18:32] dims commented on #94900
/milestone v1.23

looks like we may need to move this to the next milestone to wrap it up one way or another.

[2021-07-22 18:34] dims commented on #100914
I don't see this making any progress in 1.22, let's move it out please

/milestone v1.23

[2021-07-22 18:36] liggitt commented on #100112
@wenjiaswe is this actively being worked on?

[2021-07-22 18:38] liggitt commented on #100112
it looks like the etcd storage can drop watches if it encounters an etcd response that does not set prevKey

[code]
comes from this line:
[code]

where dropping the watch is all we can do

is the etcd instance we're creating for this unit test one we expect to be encountering compaction that would lead to this branch?

[2021-07-22 19:11] jingxu97 commented on #103651
Thank you @smarterclayton for the details!
I think your change is making the right change, but unfortunately some of volume management still have issues, and so the tests rely on some behaviors that is not very right (pod volume is added back to desired state even after it is in terminating)

The cleanup mount currently does not have the logic to clean up global mount point if the volume plugin se

[2021-07-22 20:16] fedebongio commented on #103741
@geotransformer please could you verify it's fixed in 1.22 (if not reopen) - thanks!
/triage accepted
/close

[2021-07-22 20:16] #103741 closed

[2021-07-22 20:18] fedebongio commented on #103789
/assign @deads2k
/triage accepted

[2021-07-22 20:33] neolit123 commented on #103845
the PR has an ACTION REQUIRED:
https://github.com/kubernetes/kubernetes/pull/95387

are you seeing a problem with file permissions or something else?

/sig api-machinery auth
/triage needs-information

[2021-07-22 20:35] neolit123 commented on #103816
/sig api-machinery

[2021-07-22 20:35] neolit123 commented on #103807
/sig node cli
for triage

[2021-07-22 20:46] ehashman opened #103856 "ci-crio-cgroupv1-node-e2e-conformance job is flaking due to test timeouts"
#### Which jobs are flaking:

- ci-crio-cgroupv1-node-e2e-conformance

#### Which test(s) are flaking:

- many

#### Testgrid link:

https://testgrid.k8s.io/sig-node-cri-o#ci-crio-cgroupv1-node-e2e-conformance&width=20

#### Reason for failure:

Many tests failing, they seem to be timing out.

Example: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-conformance/141805

[2021-07-22 20:46] dkulchinsky opened #103857 "UDP Pod behind a LoadBalancer Service (External IP) replacing another Pod in the same node not receiving traffic"
#### What happened:

UDP traffic to a Pod behind a LoadBalancer Service exposing a UDP listener service is blackholed when the replacement Pod is scheduled on the same node as the "old" Pod.

#### What you expected to happen:

A new Pod that gets provisioned (replacing the previous one) will receive traffic once it's ready.

#### How to reproduce it (as minimally and precisely as possible):

1. Ru

[2021-07-22 20:46] ehashman commented on #103856
/cc @rphillips @haircommander @mrunalp

[2021-07-22 20:47] dcbw commented on #102198
Closing for inactivity. If you can add the details, we can re-open. Thanks!
/close

[2021-07-22 20:47] #102198 closed

[2021-07-22 20:48] dcbw commented on #102398
Closed for inactivity; if you can add the requested information we can re-open. Thanks!
/close

[2021-07-22 20:48] #102398 closed

[2021-07-22 20:50] dcbw commented on #103286
/triage accepted
Let's keep this open for now to track when/if that upstream PR lands.

[2021-07-22 20:50] lambdanis commented on #97071
We had another failure today: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1418179484372176896

There are more tests flaking with the same error. https://github.com/kubernetes/kubernetes/issues/100331 looks like a potential duplicate, but mentions other tests in the same job, also in comments. [Triage search](https://storage.googleapis.com/k8s-guberna

[2021-07-22 20:52] lambdanis commented on #100331
Is it a duplicate of https://github.com/kubernetes/kubernetes/issues/97071? It looks like to me, just this issue mentions a few more tests.

[2021-07-22 20:53] dcbw commented on #103622
/remove-sig network

[2021-07-22 20:54] dcbw commented on #101978
Closing for inactivity. If you are able to add the requested information we can re-open the issue. Thanks!
/close

[2021-07-22 20:54] #101978 closed

[2021-07-22 20:55] dcbw commented on #103802
/triage accepted

[2021-07-22 20:56] dcbw commented on #103804
Closing in favor of the earlier issue then. Let's follow up there. Thanks!
/close

[2021-07-22 20:56] #103804 closed

[2021-07-22 20:59] dcbw commented on #100648
Yeah, not dockershim. CRIO and containerd are covered and that should be good.
/close

[2021-07-22 20:59] #100648 closed

[2021-07-22 21:04] msau42 commented on #97071
/assign @mauriciopoppe @jingxu97
for windows failure

@mattcary any progress on the xfs issue?

[2021-07-22 21:06] dcbw commented on #100492
/assign @caseydavenport

[2021-07-22 21:07] dcbw commented on #103817
/assign @rikatz

[2021-07-22 21:08] dcbw commented on #103576
/triage accepted

[2021-07-22 21:09] dcbw commented on #103765
@imkos what network/CNI plugin are you using in this cluster?

[2021-07-22 21:10] dcbw commented on #103765
/assign @caseydavenport

[2021-07-22 21:10] dcbw commented on #103613
/assign @robscott

[2021-07-22 21:13] dkulchinsky commented on #103857
/sig network

[2021-07-22 21:13] mattcary commented on #97071
Not yet, we have a fixit 1st week of August focused on test failures.

[2021-07-22 21:18] mauriciopoppe commented on #102865
/reopen

I'll check the results in CI and also cherrypick to 1.22, then we should be able to close this issue.

[2021-07-22 21:26] dee-kryvenko commented on #103812
I think this https://github.com/kubernetes/kubernetes/blob/b8766230700f8906daeaa1654497691429349311/pkg/controller/volume/persistentvolume/pv_controller.go#L354-L357 should be actually moved outside of `if volume == nil` block - it needs to `ctrl.emitEventForUnboundDelayBindingClaim(claim)` regardless if there is a matching PVC found or not - it got to wait for pod. But will the pod be able to get

[2021-07-22 21:49] mattcary commented on #100331
Good point.

[2021-07-22 22:01] aojea commented on #103789
can you check with a cpu profile if some handler is blocking?
https://github.com/kubernetes/kubernetes/issues/91686#issuecomment-652167754

[2021-07-22 22:03] mauriciopoppe commented on #97071
I've tried to open the [triage search](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Failed%20to%20create%20injector%20pod%3A%20timed%20out%20waiting%20for%20the%20condition) but the JavaScript is failing with:

[code]

Anyways I don't think this job is running in windows nodes https://github.com/kubernetes/test-infra/blob/2cdd0d0a4b52b08cdb6371ae94453e896fc06412/config/jobs

[2021-07-22 22:05] robscott commented on #103613
Hey @brunoarueira thanks for the feature request! I'm not sure if this makes sense for Ingress, but it seems like it could be a great fit for [Gateway API](https://gateway-api.sigs.k8s.io/). One of the guiding principles of Ingress is to keep the API sufficiently simple that it can be broadly implemented.

Gateway API is attempting to provide much more advanced capabilities than the existing Ingre

[2021-07-22 22:17] rikatz commented on #103817
@itisguptak thanks for your issue.

For ingress-nginx, I kindly ask you to open the issue in github.com/kubernetes/ingress-nginx

I'm going to close this issue, please feel free to reach on ingress-nginx repo and also on #ingress-nginx-users in Kubernetes Slack

Thanks!

/close

[2021-07-22 22:17] #103817 closed

[2021-07-22 22:36] brunoarueira commented on #103613
@robscott Thanks for you response!

For whatever reason, I've missed the Gateway API and I've been very new to kubernetes ecosystem too.

And agree with you about this is a great fit for it, since my main goal is to implements an API Gateway and wants this feature.

I'll close this issue and follow there, thanks for your time!

[2021-07-22 22:36] #103613 closed

[2021-07-22 22:46] lambdanis commented on #97071
@mauriciopoppe Triage is crashing on Chrome at the moment (https://github.com/kubernetes/test-infra/issues/22906), but it's working on Firefox.

[2021-07-22 22:54] lambdanis commented on #97071
Windows jobs failing with `Failed to create injector pod: timed out waiting for the condition` are:
[ci-kubernetes-e2e-windows-containerd-gce](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-containerd-gce/1418180995550547968)
[ci-kubernetes-e2e-windows-containerd-gce-1-21](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-containerd-gce-1-

[2021-07-22 23:22] bobbypage commented on #103366
I was able to repro finally -- it looks like missing key here is that you must be using the **systemd cgroup driver**. With this patch

[code]

and starting cluster as follows:

[code]

[code]

[code]

[2021-07-22 23:53] jayunit100 opened #103860 "Removing UserSpace Proxying from Kubernetes core/"
#### What would you like to be added:

Today in sig-network we all totally decided  to remove the userspace linux and windows proxies from kubernetes core, consensus was reached amongst the few remaining users of the kube proxy in userspace (project antrea @antoninbas , as well as openshift engineers @danwinship).

Im not sure this requires a KEP since, after all, the userspace proxy is essentiall

[2021-07-22 23:53] jayunit100 commented on #103860
/sig network

[2021-07-23 00:05] Jerry-Ge commented on #101135
Note: Going on a long vacation, will return back to this in August :)

[2021-07-23 00:22] Gatsby-Lee commented on #66450
Thank you for sharing this. I was able to get some idea from your comment :)

[2021-07-23 00:38] mauriciopoppe commented on #97071
Awesome, thank you @lambdanis for finding the individual jobs!

I know a few things about them:

- ci-kubernetes-e2e-windows-containerd-gce never succeeded in the past
- ci-kubernetes-e2e-windows-containerd-gce-1-21 never succeeded in the past
- ci-kubernetes-e2e-windows-gce-2019-1-20 has some flakes but most of the storage e2e tests pass
- ci-gce-pd-csi-driver-latest-k8s-master-windows-2019-migra

[2021-07-23 00:58] #96915 closed

[2021-07-23 00:58] #99322 closed

[2021-07-23 01:40] xyz-li commented on #103810
/close

[2021-07-23 02:22] YanzhaoLi commented on #103366
Hi @bobbypage  do you mean that if using systemd cgroup driver, this issue would happen.
In my environment, both containerd and kubelet are using cgroupfs driver, but the issue still exists
kubelet.log
[code]
containerd config dump
[code]

[2021-07-23 03:39] kerthcet commented on #103305
confused + 1, like hard affinity, if all the pods scheduled in a single node and you drain the node ,all the new created pods will pending until all the old ones terminated successfully.  The service will hang up for a while although. (but PDB may block the process and make it unschedulable)

[2021-07-23 03:42] kerthcet commented on #103305
confused + 1, like hard affinity, if all the pods scheduled in a single node(not recommended but can be achieved) and you drain the node ,all the new created pods will pending until all the old ones terminated successfully.  The service will hang up for a while although. (but PDB may block the process and make it unschedulable)

[2021-07-23 03:46] kerthcet commented on #103305
confused + 1, like hard affinity, if all the pods scheduled in a single node and you drain the node ,all the new created pods will pending until all the old ones terminated successfully. The service will hang up for a while although. (but PDB may block the process and make it unschedulable)

[2021-07-23 04:00] #99302 closed

[2021-07-23 05:13] kerthcet commented on #103848
/cc

[2021-07-23 05:36] kerthcet commented on #103848
[code]
matchExpressions:
              - key: Octopus.Deployment.Id
                operator: In
                values:
                - "deployments-28802"
[code]

[2021-07-23 05:39] kerthcet commented on #103848
what's more, pods will be scheduled as a queue.

[2021-07-23 05:39] kerthcet commented on #103848
/assign

[2021-07-23 05:43] kerthcet commented on #103853
hey @RyanBouchard, if you are out of bandwith, I'm glad to provide some help.🥷

[2021-07-23 05:46] neolit123 commented on #86811
ping @apelisse , PTAL above.
/remove-lifecycle frozen

[2021-07-23 05:48] aojea commented on #103860
/kind cleanup
/triage accepted
/assign @thockin

[2021-07-23 05:51] kerthcet commented on #103835
/assign glad to provide a help.

[2021-07-23 05:53] kerthcet commented on #103835
/assign

[2021-07-23 05:59] kerthcet commented on #103351
if this issue can be closed yet.🥷 @wangao1236   or maybe i missed something. lol

[2021-07-23 06:04] kerthcet commented on #103528
I have no mind whether this advice will be accepted, but if it come true, I can provide some help.

[2021-07-23 06:21] MadhavJivrajani commented on #103788
Hi! I'd like to work on this if that's okay. I'm still trying to understand APF and understanding the KEP. I will keep folks posted here :)
/assign

[2021-07-23 06:30] rdrgporto commented on #103366
Hi, @bobbypage

Here you are my **Containerd & Kubelet config**:

[code]

[code]

Thanks in advance 😃

[2021-07-23 07:15] benhxy opened #103866 "Move mounter source files out of cluster/gce/gci/mounter"
cluster/ directory is deprecated (https://github.com/kubernetes/kubernetes/blob/master/cluster/README.md), and its source code should be moved to separate repos.

/kind cleanup
/sig cloud-provider

[2021-07-23 07:24] benhxy opened #103867 "Move conformance source out of cluster/images/conformance"
cluster/ directory is deprecated (https://github.com/kubernetes/kubernetes/blob/master/cluster/README.md), and its source code should be moved to separate repos.

/kind cleanup
/sig cloud-provider
/sig testing

[2021-07-23 07:55] adisky commented on #60338
@pmgk07 right, this has to be done, Make sure do it for all runtime.GOOS(wherever possible) instances

[2021-07-23 08:13] sanposhiho commented on #103816
I have no good idea to implement server-side apply logic on PatchActionImpl to support ApplyPatchType 😢
For now, I changed the error message on creating new resource with serverside apply. #103821

[2021-07-23 08:51] ryunchang commented on #79365
@welsh

It work for me thanks!!

[2021-07-23 08:59] pmgk07 commented on #60338
Thanks @adisky. Raising a simple PR for ./cmd/kubelet/options package to just get the idea of a general PR workflow in this repo

[2021-07-23 09:37] lukos commented on #103848
Oh! That is Octopus Deploy! It lower-cases the label it adds for deployment id but when you add their parameter for the affinity, it doesn't! I will ask them what to do. Thanks.

[2021-07-23 09:37] #103848 closed

[2021-07-23 10:22] jsafrane commented on #103754
Kernel does not guarantee that reading a single /proc/ file with two (or more) `read` calls is consistent. The first `read()` can return one version and second the `read()`, continuing where the first left, can return content of another version of the mount table. Hence the check.

[2021-07-23 10:48] ialidzhikov opened #103871 "[release-1.19] [release-1.20] e2e tests can fail because of dockerhub rate limits"
/kind bug
/area test

#### What happened:

Last year Docker Hub restricted the amount of image pulls for anonymous and free users. From https://www.docker.com/increase-rate-limits:

100 container image pull requests per six hours are way too low. Running K8s e2e tests can fail because of dockerhub rate limits.

The issue seems to be mitigated by https://github.com/kubernetes/kubernetes/pull/98964

[2021-07-23 10:48] ialidzhikov commented on #103871
/sig testing

[2021-07-23 11:49] dims commented on #103867
/area code-organization
/area conformance

[2021-07-23 12:25] AlekSi commented on #103845
Sorry, I forgot to mention the most important part. :) Updated description.

https://github.com/AlekSi/kubernetes/commit/c854cd2412498a76d5cc13f5ac37a88561c86ee5 will be submitted shortly.

[2021-07-23 12:49] dims commented on #103651
@jingxu97 @smarterclayton is this a release blocker?

[2021-07-23 12:57] dims commented on #102904
https://testgrid.k8s.io/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy-grpc&width=20&sort-by-failures= has been green for 3 days straight.

[2021-07-23 13:31] enj commented on #93699
There are two main tracks of work.

**UID impersonation** (assigned to @margocrawf)

1. Server side `Impersonate-Uid` header support #99961
2. Update both `rest.ImpersonationConfig` and `transport.ImpersonationConfig` to allow a UID to be specified
3. Add `--as-uid` CLI flag to `kubectl`
4. (maybe) Add `--as-extra` CLI flag to `kubectl`

**UID request header** (assigned to @benjaminapetersen)

1.

[2021-07-23 13:37] enj commented on #93699
/unassign @mikedanese
/remove-help

[2021-07-23 13:56] verb commented on #84353
Running a process in the container via `kubectl exec` "taints" the pod in the same way that creating an ephemeral container does. It's no longer pristine. Should `kubectl exec` also cause this condition to be set?

I'm not sure, either. I think you'll need to decide which is better.

[2021-07-23 13:59] #103708 closed

[2021-07-23 14:15] liggitt commented on #103867
or at least to a separate dir... at first glance, `test/images` seems like a good destination for this

[2021-07-23 14:48] bbecker-te commented on #41075
Please post the solution. Others would like to know what it was. What does "The file name is taken as the key for configmap. I did the wrong implementation." mean?

[2021-07-23 14:49] liggitt commented on #103866
/sig storage
/assign @msau42
for triage/routing

[2021-07-23 14:59] benjaminapetersen commented on #93699
/assign

[2021-07-23 15:12] howardjohn opened #103877 "Confusing/incomplete readiness probe warning when doing external redirections"
#### What happened:

Used a HTTP probe with external redirect:
[code]

Got warning:
[code]

Kubelet logs show:
[code]

#### What you expected to happen:

Warning messages either show additional context or don't show `: ""`. I would probably have expected `Readiness probe warning: terminated redirects` or just `Readiness probe warning`

Not a big deal, just a bit confusing message

#### How to repr

[2021-07-23 15:12] AlekSi commented on #103845
See #103875

[2021-07-23 15:16] evanlixin commented on #103789
cpu  profile is normal。as follows，code  [https://github.com/Tencent/bk-bcs/blob/master/bcs-k8s/bcs-k8s-watch/app/k8s/watcher.go](url)，callback  handler

func (w *Watcher) AddEvent(obj interface{}) {
	data := w.genSyncData(obj, action.SyncDataActionAdd)
	if data == nil {
		return
	}
	w.writer.Sync(data)
}

writer is a buffer chan with 102400 length and  write chan timeout for one second。probably is

[2021-07-23 15:25] jyz0309 commented on #103084
/assign

[2021-07-23 15:28] BenTheElder commented on #103871
This is a breaking change and may not be cherry pick approvable. People have already set up their airgapped testing expecting to mirror these from dockerhub.

[2021-07-23 15:46] margocrawf commented on #93699
/assign

[2021-07-23 15:58] ujslxw commented on #74249
Same problem
# Modified init-config.yaml and solved
`advertiseAddress: 1.2.3.4` to `advertiseAddress: 10.0.128.0`
`10.0.128.0` is k8s-master ip address
# Environment
- Kubernetes version:
`v1.19.0`
- OS:
`CentOS 7.9`
- Kernel:
`3.10.0-1062.el7.x86_64`
- Docker Version:
`docker-ce 19.03.9`

# Reference
https://q.cnblogs.com/q/124859/
博客：https://blog.csdn.net/weixin_44789466/article/details/11904624

[2021-07-23 16:12] neolit123 commented on #74249
if you see:

that's an indication that the kubelet and/or kube-apiserver are failing to start.
you need to look at the logs of these components.

for more help, use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-07-23 16:29] msau42 commented on #103866
/assign @mattcary

[2021-07-23 16:35] ehashman opened #103879 "New kubelet-serial failures, test timeouts"
Began late on 07/20: https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

Many tests labeled [Disruptive][Feature:DynamicKubeletConfig] are now failing due to timeouts.

Example run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1417796402028744704

/kind failing-test
/sig node

[2021-07-23 16:36] ehashman commented on #103879
/milestone v1.22

[2021-07-23 16:36] ehashman commented on #103856
/milestone v1.22

[2021-07-23 16:42] ehashman commented on #103879
Most likely possibility here is https://github.com/kubernetes/kubernetes/pull/103785... @smarterclayton can you PTAL?

[2021-07-23 16:45] ehashman commented on #103879
Ah you know what, they are all DynamicKubeletConfig tests that are newly timing out/failing, strange. Was there a test-infra change...?

/cc @SergeyKanzhelev

[2021-07-23 16:50] justinsb commented on #80897
Thanks for the pointer @huguesalary  - sounds like this might be same root-cause as #61486

[2021-07-23 16:52] ehashman commented on #103879
Same error basically on all failures:

[code]

[2021-07-23 17:19] SCLogo commented on #65569
same issue here on 1.18. Need to check are only pods with pvc affected or not.

[2021-07-23 17:26] lavalamp commented on #65569
If you can post complete metadata (at least we need to see the ownerrefs and finalizers) for pod and PVC, that might give a clue. But I fear we'll need the complete subgraph of owners, and I don't think there's an easy way to produce this.

[2021-07-23 17:32] spiffxp commented on #103151
FWIW:
- the way the comments are done right now is via a commenter tool that comments on anything matching a certain github query
- it's super boilerplate-heavy and not able to be concisely configured in a way that would allow certain repos to opt-opt, or configure different thresholds, or different lifecycles, etc.
- if someone wanted to invest the effort in writing a purpose-built lifecycle mana

[2021-07-23 17:47] BenTheElder commented on #103151
Overall I would agree that this is true but opt-out entirely is not really problematic, we're piloting this on the KIND repo.

You can see the three line diff necessary here:
https://github.com/kubernetes/test-infra/pull/22675/files

I don't think anyone needs to alter the tool to support this or alternate per-repo comments, the tool is flexible and uses github search parameters for choosing where

[2021-07-23 17:52] BenTheElder commented on #103151
It is perhaps worth noting that this is factoring into the decision to donate kube-rs into the project https://github.com/kube-rs/kube-rs/issues/584, there should probably be a discussion somewhere (else?) about formally allowing subprojects to opt out of this.

Previously we refused at least one project's request (helm, as I recall), though we've since (unofficially?) permitted merging this for o

[2021-07-23 17:56] msau42 commented on #103651
Yes, this impacts volume cleanup if kubelet restarts for any reason.

[2021-07-23 18:00] haircommander commented on #103856
I will take this

/assign

[2021-07-23 18:09] BenTheElder commented on #103871
I'm also not sure that all of the images are identical other than hosting location, I think in the process some of them were upgraded.

[2021-07-23 18:10] BenTheElder commented on #103867
/triage accepted
/remove-sig cloud-provider

[2021-07-23 18:10] MikeSpreitzer commented on #103788
@MadhavJivrajani : thanks!

[2021-07-23 18:11] BenTheElder commented on #103866
This one seems like maybe https://github.com/kubernetes/cloud-provider-gcp

[2021-07-23 18:13] MikeSpreitzer commented on #103788
@MadhavJivrajani : you should beware that the current KEP anticipates a code change that never happened.  I have a PR on the KEP, https://github.com/kubernetes/enhancements/pull/2766 , which will be more informative.  It includes the original design, which the current code is based on, plus more careful write-ups of that design, the one in the merged KEP, and one in between.

[2021-07-23 18:15] MadhavJivrajani commented on #103788
Thanks so much!

That's the one I've been following :)

[2021-07-23 18:18] ehashman commented on #103879
Was able to repro the node e2e failures locally, will try against https://github.com/kubernetes/kubernetes/pull/103880

[2021-07-23 18:18] ehashman commented on #103879
/triage accepted

[2021-07-23 18:21] mreinhardt commented on #58486
[code]

[2021-07-23 18:21] apelisse commented on #86811
Yep, pretty sure that's fixed.

[2021-07-23 18:21] #86811 closed

[2021-07-23 18:22] ehashman commented on #103879
Still seeing failures with the revert applied, will git bisect.

[2021-07-23 18:30] dewnull commented on #72501
I am seeing this issue with with `v1.21.3`

[2021-07-23 18:34] mauriciopoppe commented on #102865
All of the storage metric related failures are green now, the remaining tests that are failing are tracked in https://github.com/kubernetes/kubernetes/issues/103651

[2021-07-23 18:52] manuelchichi commented on #63128
In our company we experienced the same error in a similar scenario (k8s version 1.17). This solution worked flawlessly.

[2021-07-23 19:29] bstrdsmkr commented on #81089
Reset the stale clock with yet-another-+1

[2021-07-23 19:44] PSjoe commented on #91808
/remove-lifecycle stale

[2021-07-23 19:56] PSjoe commented on #91808
I've run into this as well, running 1.21.2 (AWS hosted).  I have a PodDisruptionBudget  that selects pods from multiple statefulesets by pod label.  I can see that they PDB does, indeed, cover all the pods I expect it to when I look at it.  I have 5 pods from three different StatefulSetSets.  The PDB looks like this:
[code]

When I apply an update to two of the StatefulSets at the same time, I can

[2021-07-23 20:18] dobsonj commented on #103822
I took a quick look at the logs here:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-latest-upgrade-master/1417728454077452288

And there are a lot of failures to list v1beta1 resources in the attacher and provisioner logs:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-latest-upgrade-master/1417728454077452288/artifacts/_sig

[2021-07-23 20:28] ehashman commented on #103879
[code]

/assign @smarterclayton

The weird thing is that the revert doesn't make the failures go away, but it looks like this was occasionally flaking previously, so maybe I'm just getting unlucky: https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=checkConfigMetrics%3A%20case%3A%20reset%20via%20nil%20config%20source%3A%20expect%20metrics

[2021-07-23 20:51] spiffxp commented on #103871
This might not be a straight cherry-pick.  As @BenTheElder says It could be a breaking change and depends on a few things:
- whether any test images changed functionality since their release
- when the change to list images used in e2e tests landed (which can facilitate air gapping)
- when the change to use `KUBE_TEST_REPO` landed

I don't have the time to do this legwork right now, if someone doe

[2021-07-23 21:10] khenidak commented on #103544
thanks @aojea  -- watching this one.

[2021-07-23 21:11] ehashman commented on #103879
I've definitely confirmed that

- https://github.com/kubernetes/kubernetes/pull/103785 is where the failures started
- reverting the PR doesn't fix the failures :grimacing:

Really stumped as to why.

[2021-07-23 21:11] ehashman commented on #103879
/priority critical-urgent

[2021-07-23 21:12] ehashman commented on #103856
/triage accepted

[2021-07-23 22:14] aojea commented on #103871
the impact on kubernetes CI, the effort and the risk to break something can be considerable, it is also an external (and unfortunate problem), is this really worth the effort?

[2021-07-23 22:43] howardjohn commented on #71612
I've opened a PR for this: https://github.com/kubernetes/kubernetes/pull/102819

[2021-07-23 22:51] jkh52 commented on #102904
Despite newer COS M85 image, some dial timeouts (https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=dial%20timeout) are still present.

Based on logs and timestamps, we're hopeful that after https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/251 (and pick up in k/k) we will see a noticeable improvement.

[2021-07-23 23:37] Haybu commented on #15478
hope to reconsider / reopen to help with fluent-bit architecture (forwarding logs)

[2021-07-23 23:46] aojea commented on #78446
duplicate of https://github.com/kubernetes/kubectl/issues/686

[2021-07-24 01:23] DanWard opened #103887 "Kubernetes memory stats don't support virtio balloon"
#### What happened:
On reboot of my kubernetes host VMs, the memory reported at the time of start was as below:
[code]

This stopped scheduling from occurring when the memory was reported as overcommitted.
Setting a static 4GB minimum, 6GB maximum then restarting k3s (`service k3s restart`) on each node then reported the memory percentage as correct, but still did not yield the correct overall mem

[2021-07-24 01:25] DanWard commented on #103887
/sig instrumentation

[2021-07-24 01:37] shyamjvs commented on #103754
Thanks for clarifying @jsafrane. On digging a bit I found the following:

(source: https://stackoverflow.com/questions/5713451/is-it-safe-to-parse-a-proc-file)

Based on above, do you think it's possible to optimize just the mount/unmount cases by only checking consistency of the entries corresponding to volume that is being mounted/unmounted? Or can that still result in incorrect behavior?

[2021-07-24 01:38] verult commented on #103651
On a kube-up cluster running the latest master against the latest e2e binary, I was able to reproduce the in-tree failures but not the CSI ones for some reason.

Will focus on in-tree failures for the time being

[2021-07-24 01:48] shyamjvs commented on #103754
@gnufied It does seem to succeed eventually, although taking up to a few extra seconds for the worst-case volumes.

But it seems like a retry for reading `/proc/mounts` file is much faster compared to retry of the volume unmount operation itself, the latter being [exponentially backed off](https://github.com/kubernetes/kubernetes/blob/47e1df8f4e86af1904ec9b3ecf427e1f1178be6e/pkg/volume/util/nested

[2021-07-24 01:59] DreadPirateShawn commented on #58486
@mreinhardt Could be a viable hack for some very basic use-cases, but it can easily be messy for others. For instance, if there's also a long log history to begin with, then that loop spews it every time, and that would break tooling that's monitoring for fresh activity.

[2021-07-24 02:23] dbourget opened #103888 "Topology Aware Hints fail without explanation"
After enabling the topology aware hint feature gate, labeling nodes with zones, adding the annotation, and satisfying all the conditions specified in the documentation, the EndPointSlice Controller does not add any hints to relevant endpoints. Nothing is logged to explain the behavior.

Service:
[code]
kube-controller-manager manifest (truncated):
[code]
similar for apiserver and kube-scheduler

e

[2021-07-24 02:27] anguslees commented on #18622
Just putting it out there, even if we never remove the 'old' API - there is still a benefit to making a 'new' API available in addition to the old one.

All new client code could remove restmapper and associated complexity, since _new_ code could just go straight to/from  apiVersion+Kind to URL path (assuming we also preserve Kind upper/lower case: /api/v1b/namespace/foo/Pod/bar/subresource).

So

[2021-07-24 04:30] imkos commented on #103765
@dcbw flannel, use  quay.io/coreos/flannel:v0.13.0

[2021-07-24 04:43] njuptlzf commented on #103760
@fedebongio @VidarHUN  What do you hope to achieve? Trace log is recorded only when auditing is turned on?

[2021-07-24 04:59] njuptlzf opened #103889 "The audit log of apiserver did not return the response object of the aggregation layer server."
#### What happened:
The audit log of apiserver did not return the response object of the aggregation layer server.
Does each aggregation layer server have to implement the audit switch by itself?This is one of the solutions. Like https://github.com/kubernetes-sigs/metrics-server/pull/802
#### What you expected to happen:

The audit log of apiserver returns the response object of the aggregation la

[2021-07-24 05:03] Huang-Wei commented on #103084
@jyz0309 this issue needs further discussion.

[Admiralty](https://github.com/admiraltyio/admiralty) got the same challenge but figured out a way to solve this.

[2021-07-24 07:58] MadhavJivrajani commented on #95979
/remove-lifecycle rotten

[2021-07-24 09:37] cielavenir opened #103890 "Provide an option to mount zram instead of tmpfs when `"setting the emptyDir.medium field to "Memory"`"
#### What would you like to be added:

an option to mount zram instead of tmpfs when `"setting the emptyDir.medium field to "Memory"`

#### Why is this needed:

more space can be used (especially when the file content is sparse)

[2021-07-24 12:11] mccricardo commented on #103835
@kerthcet I was messing around the codebase and found an instance in **kubectl set subject** and submitted a PR.

[2021-07-24 13:36] VidarHUN commented on #103760
I just want to know why I have audit logs while I didn't turn on the audit-log mode and why it is taking so much time to make them.

[2021-07-24 15:01] hanamantagoudvk commented on #101607
after discussing with antoni, I have written a small agent for cleaning conntrack entry which is in UNREPLIED state.
https://github.com/hanamantagoudvk/conntrack-cleaner

But i observed one thing,  without service created when i tried to send TCP packet with  non-existant ClusterIP , i see an entry in conntrack table with SYN_SENT packet. But if we create a service (with no endpoints) , and then w

[2021-07-24 15:35] kerthcet commented on #103835
sounds good. Or maybe you can help to find out more shadowed ones. it depends whatever.

[2021-07-24 15:38] kerthcet commented on #103835
/unassign

[2021-07-24 17:15] mikechengwei commented on #100854
/assign

[2021-07-24 20:06] richardmcsong commented on #97397
/remove-lifecycle rotten

[2021-07-24 20:50] kabab commented on #103808
/assign

[2021-07-25 05:02] bunniseng commented on #103423
I’ve done an analysis on the code and this is what I have found, I believe we have two issues to address.

[kubernetes/pkg/kubelet/stats/cadvisor_stats_provider.go:ListPodStatus](https://github.com/kubernetes/kubernetes/blob/659c7e709f3b7f5f2a25e456525cd8747f2e68cc/pkg/kubelet/stats/cadvisor_stats_provider.go#L78)

There are multiple range loops being performed over v2.ContainerInfo / PodStat maps

[2021-07-25 07:34] lsoica opened #103898 "Node podCIDR not allocated with k8s 1.21 and custom pod subnet"
#### What happened:
Installing k8s with a custom pod subnet ends up with podCIDR missing from the node spec. This triggers an initialization failure for flannel as it relies on the node's podCIDR.

#### What you expected to happen:
Node's spec.podCIDR to be automatically allocated and applied on each node definition.

#### How to reproduce it (as minimally and precisely as possible):
Installing k8

[2021-07-25 07:42] Payaspx opened #103899 "Manager"
#### What would you like to be added:

#### Why is this needed:

[2021-07-25 09:56] aojea commented on #103898
your node cidr mask is the same that your pod subnet
[code]

so it can not split the podSubnet into smaller subnets to assign to the nodes, i.e. if your podSubnet is a /16 and node-cidr-mask 24, you can have 255 /24 to assign to the nodes.

The controller-manager should log something about that ...

[2021-07-25 09:56] aojea commented on #103898
/sig network
/kind support
/remove-kind bug

[2021-07-25 09:58] abdennour commented on #70732
still issue persistent.
i have k8s 1.17 and i can confirm that.

[2021-07-25 10:03] aojea commented on #103888
/sig network
/cc @robscott
What kubernetes version are you using?

[2021-07-25 10:18] aojea commented on #103789
So, the problem is that your handlers are slower processing the objects from the delta fifo queue, than the rate at which the events are obtained from the apiserver,  this is because of this

https://github.com/kubernetes/kubernetes/blob/a8035dbc3b1a523932f8e2384b5f49ace4194870/staging/src/k8s.io/client-go/tools/cache/delta_fifo.go#L504-L513

objects are processed by the handlers locking the delta

[2021-07-25 10:20] tiloso commented on #92402
Hey @sanya301 and @mourya007! At the moment, all remaining failures are covered by PRs.

[2021-07-25 12:17] dbourget commented on #103888
@aojea I'm using 1.21.3 installed using deb packages from https://apt.kubernetes.io kubernetes-xenial/main using kubeadm.

Here is the output of "kubectl version":
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState:"clean", BuildDate:"2021-07-15T21:04:39Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"linux

[2021-07-25 13:45] pchan commented on #100748
Attempted to cover the remaining components in this [PR 2387](https://github.com/kubernetes-sigs/kind/pull/2387)

[2021-07-25 14:12] mccricardo commented on #103835
@kerthcet I took a look and didn't find other instances. Assigning it to me then.

[2021-07-25 14:12] mccricardo commented on #103835
/assign

[2021-07-25 14:32] mccricardo commented on #103760
The trace seems to be generated specifically because the PATCH is taking to long: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L65-#L66

Not sure if it should since you haven't enabled audit logs.

[2021-07-25 16:31] dbourget commented on #103888
Some background: what I'm trying to do is keep traffic directed to my database proxy (maxscale) on the same node as the client. In this scenario there is no concern about load balance because the proxy isn't the bottleneck (it's the underlying database). The default traffic spreading behavior is suboptimal because of the extra network hop and (more importantly) all database clients likely experien

[2021-07-25 19:56] sftim commented on #103151
I know that in k/website / SIG Docs we struggle to make improvements even when they've been _marked_ as important for some time. https://github.com/kubernetes/website/issues/4322 springs to mind. Folks are chipping away at the pile of frozen issues that have ended up at the end of the far end of the list.

Automatic closure has “helped” by making those frozen issues stand out. However, there's def

[2021-07-25 21:21] lsoica commented on #103898
Hi, thanks, I got that mask size wrong. I fixed it with a /24 but still not working.

Here's the controller manager arguments
[code]

and the controller manager logs related to CIDR
[code]

[2021-07-25 21:31] aojea commented on #103898
hmm, maybe your node has already be annotted?
I would start over from scratch, actually oyu don't need the controller manager parameters, by default it sets nodemask to 24 for ipv4 and assign ranges to nodes
[code]

[2021-07-25 21:36] lsoica commented on #103898
There's no pod CIDR on the node. And this is the first node (and the only node at this stage) of the cluster.
I'll redo the cluster without the redundant controller manager parameters.

[2021-07-26 00:10] cielavenir commented on #103890
/sig architecture

[2021-07-26 01:27] kerthcet commented on #103584
feel free to close the issue if you got your problem solved.🥷 @ondrejdolezal93

[2021-07-26 02:43] pacoxu commented on #103879
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1417796402028744704/artifacts/n1-standard-2-cos-81-12871-1290-12-2b3adefc-system.log
[code]

[2021-07-26 02:47] wangyysde commented on #103899
You have not said anything. I will close this issue. You can open a new issue with the detail of your question if you have any questions.

[2021-07-26 02:47] wangyysde commented on #103899
/close

[2021-07-26 02:47] #103899 closed

[2021-07-26 02:51] KeithTt commented on #95334
Same problem here, but there is really problem with this node, not noise. Some pods which scheduled to this node can not run normally.

Kubernetes version: v1.16.4
Docker version: 18.09.9

And, everything seems healthy.
[code]

The docker logs show unmount message:
[code]

But I do not find the container in `/var/lib/docker/containers/`...

[2021-07-26 05:03] GauravKakoti commented on #103835
/assign

[2021-07-26 05:07] GauravKakoti commented on #102545
/assign

[2021-07-26 05:09] lsoica commented on #103898
Did the test but nothing change. With this controller manager invocation
[code]
These are the controller manager logs related to CIDR
[code]
And there is no podCIDR on the node:
[code]

[2021-07-26 06:16] wojtek-t commented on #103822
Hmm - shouldn't the upgrade also upgrade the CSI drivers? @liggitt

[2021-07-26 06:39] aojea commented on #103898
You service subnet overlaps with your node subnet
http://jodies.de/ipcalc?host=10.96.0.0&mask1=12&mask2=

Reduce the service subnet mask to /16 or use a node subnet that doesn't overlap

[2021-07-26 06:53] VidarHUN commented on #103760
And there is a way to find out what can cause slow PATCHes? If it can help I use a kopf-based operator which create these PATCHes, but I don't think that could be a problem.

[2021-07-26 07:10] njuptlzf opened #103907 "Operationexecutor log format problem"
#### What happened:
`I0726 15:05:12.072600   39595 operation_generator.go:974] UnmountDevice succeeded for volume "volume-name" %!(EXTRA string=UnmountDevice succeeded for volume "volume-name" (UniqueName: "fake-plugin/fake-device1") on node "mynodename" )
`

Here at the same time, simple, detail information is returned and formatting problems are caused.
#### What you expected to happen:
No forma

[2021-07-26 07:18] yuzhiquan commented on #103907
/triage accepted
/sig instrumentation
/wg structured-logging

[2021-07-26 07:22] yuzhiquan commented on #103907
Seems like caused by https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L974, this line still not in structured logging, we need to handle these messages.

[2021-07-26 07:31] lsoica commented on #103898
Ah, right, switched the pod subnet to "10.200.0.0/16" and now the nodes gets their PodCIDR automatically configured.

Thanks!

[2021-07-26 07:31] #103898 closed

[2021-07-26 07:51] njuptlzf commented on #103907
I don’t know if this package will be accepted for structured log migration.
It seems that only kubelet is required now.

[2021-07-26 07:53] leela-maheshwar opened #103909 "Enable pod creation in case of AZ failover with EBS as persistent volumes"
#### What would you like to be added:
My current application uses a single pod instance and stores application data on EBS volume (dynamically provisioned) attached to the application container inside the pod. By default, K8S creates the Pod and Volume on one of AZ in the given cloud environment. With this, if there is AZ failure, K8S is not spawning a new pod on a different AZ with new fresh EBS

[2021-07-26 08:00] mcbenjemaa commented on #103907
/assign

[2021-07-26 08:01] huzhengchuan opened #103910 "kubelet cpu-manager not exclude reserved cpus from DefaultCPUSet"
#### What happened:
setting "--reserved-cpus=0-4 --enforce-node-allocatable=pods  --cpu-manager-policy=static" bootstrap kubelet.  Want to let 0-4 cpu not used by container.  and create burstable and besteffort  pod  and check cpu_manager_state file

[root@node02 ~]# cat /var/lib/kubelet/cpu_manager_state
{"policyName":"static","defaultCpuSet":"0-31","checksum":3540042759}

#### What you expected

[2021-07-26 08:01] leela-maheshwar commented on #103909
/sig scheduling

[2021-07-26 08:03] huzhengchuan commented on #103910
/sig node

[2021-07-26 08:08] huzhengchuan commented on #103910
/kind support

[2021-07-26 08:08] ping035627 commented on #103907
I think it‘s only kubelet required too.

[2021-07-26 08:14] pacoxu commented on #103890
/sig storage
/cc @kerthcet

[2021-07-26 08:16] yuswift commented on #103907
@mcbenjemaa Hi, sorry about that I didn't realize that you assign yourself to this issue. Hope #103911 is helpful for this issue.

[2021-07-26 08:23] AlexLast commented on #103366
Hi @bobbypage thanks for the response, I've found the following in the `kops` [documentation](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#cgroupdriver), so will have a go at setting that parameter 👍

[2021-07-26 08:31] kerthcet commented on #91262
/assign

[2021-07-26 08:53] lmxia commented on #103084
That is exactly because admiralty! I am using admiralty as a multi-cluster scheduler model, and thus that maybe a way to do better schedule job.

[2021-07-26 09:15] symbol-z-unique commented on #19825
I also experienced this issue too.
##### phenomenon
1. container's **State.OOMKilled** is false, and **State.ExitCode** is 137.
2. use command "kubectl describe pod" to watch pod‘s events, nothing about exception.
##### try
increase **memory limit** size.
##### monitor
use command "kubectl describe pod" to watch pod‘s events again, i see the message is "container xxx failed liveness probe, will be

[2021-07-26 09:17] pacoxu commented on #103888
Would you use ``` to quota your YAML and logs? It is hard to read.

https://kubernetes.io/docs/tasks/administer-cluster/enabling-topology-aware-hints/#enable-topology-aware-hints

Have you configured `TopologyAwareHints=true` for kube-proxy? You don't mention it in your description.

[2021-07-26 09:40] kerthcet commented on #103890
/assign

[2021-07-26 09:45] zaldnoay commented on #89163
/remove-lifecycle stale

[2021-07-26 10:32] mlbiam commented on #89163
/help

I have a prototype for exec/CP. It's old (1.19 I think?) But it works. I just haven't had the bandwidth to take it forward from there.

[2021-07-26 11:53] sel-vcc commented on #98801
I was also seeing this issue and can confirm that it was due to slowness of downloading the custom metrics.  In this case there are a large number of custom metrics which are being fetched from a cluster in China accessed over a VPN in Europe.

Breaking out the download of the custom metrics shows that it takes almost 5 minutes to download the 1.3MB of metrics data:-
[code]

To work-around this I

[2021-07-26 12:05] mccricardo commented on #103760
Like you mentioned, [enabling the audit logs](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#audit-policy) can give you hints on the causes for the slowness.

[2021-07-26 12:13] endocrimes commented on #103814
/close

[2021-07-26 12:14] #103814 closed

[2021-07-26 12:18] deads2k commented on #103789
Yeah.  I don't see it as a high priority, but that could be helpful.  Following the standard hander to workqueue pattern, it isn't a practical problem.

/priority backlog

[2021-07-26 12:41] dims commented on #103822
cc @xing-yang @msau42

[2021-07-26 13:43] AlekSi commented on #103845
Both #103878 and #103875 are merged, closing.

[2021-07-26 13:43] #103845 closed

[2021-07-26 13:52] liggitt commented on #103889
yes, logging of request/response content is done by the API server responsible for that resource type. kube-apiserver only logs request/response content for custom resources and non-aggregated types.

[2021-07-26 13:52] #103889 closed

[2021-07-26 14:00] dbourget commented on #103888
Silly me! I misread "kube-proxy" as "kube-scheduler". I didn't notice this because I didn't get to the point of worrying about kube-proxy. The problem I was reporting above is that the endpointslice controller isn't adding hints to my endpointslice. That's still the case after adding the feature gate to kube-proxy. The only change is that now I have kube-proxy telling me that there are no zone hin

[2021-07-26 14:26] sbocinec commented on #100467
Tested with the latest `v1.18.20-gke.900` and the issue is still present. @phantooom is it possible to reopen the issue as the fix appear not to fix it properly?

[2021-07-26 14:48] sanposhiho commented on #99605
Hello, I wrote the current progress of this project. I'd be happy to get ideas or feedback :)

https://docs.google.com/document/d/1mbPcGuI1AlJ8bvAY0sl5AUp7WzL4oBMFDYc2OFnwQWU/edit?usp=sharing

[2021-07-26 14:52] ne0h commented on #91732
Hi @sleshchenko, @MikeSpreitzer any update on this?

[2021-07-26 15:20] steffeneichler commented on #40610
that would be great.

[2021-07-26 16:09] enj commented on #103113
I feel like it would be best to not let this happen?  Even if you limit the usernames and/or groups that can be asserted, the allowed identities would still pose a risk.  This would also weirdly break the CSR issued client certs that are meant to be valid against the Kube API.

[2021-07-26 16:19] enj commented on #91444
@liggitt perhaps we could include metrics on what cipher suites are being used on a cluster?  Then it would be easier for cluster operators to start tightening what they allow to be used?

Somewhat related Go issue: https://github.com/golang/go/issues/45430

[2021-07-26 16:19] evanlixin commented on #103789
thanks @aojea and @deads2k for yours help. I think the question has been resolved and will close the issue

[2021-07-26 16:24] ehashman commented on #103879
That smells like an inode leak, we'd need the output of `df -i`

[2021-07-26 16:28] enj commented on #95086
/help

[2021-07-26 17:01] msau42 commented on #103822
We'll need to cherry pick parts of:
https://github.com/kubernetes/kubernetes/pull/100637
https://github.com/kubernetes/kubernetes/pull/102591

to the release-1.21 branch

[2021-07-26 17:02] msau42 commented on #103822
/assign

[2021-07-26 17:05] msau42 commented on #103822
Also https://github.com/kubernetes/kubernetes/pull/102212

[2021-07-26 17:26] encodeflush opened #103919 "[Failing Test][sig-release] ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures"
#### Which jobs are failing:
ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures

#### Which test(s) are failing:
* kubetest.Up

#### Since when has it been failing:

Jul 22 2021, 08:46:55 UTC+0200

#### Testgrid link:

https://testgrid.k8s.io/sig-release-1.22-blocking#gce-cos-k8sbeta-alphafeatures

#### Reason for failure:

e2e.go: Up:
[code]

build-log:

[code]

#### Anything else we need to know:
/

[2021-07-26 17:41] mkorbi commented on #103919
/priority important-soon
/milestone v1.22

[2021-07-26 17:49] robscott commented on #103888
Thanks for the detailed bug report! I'm testing out some theories and hope to have an update soon. This is awfully close to that 20% "overload threshold", but need to confirm that's what's causing this.

[2021-07-26 17:49] robscott commented on #103888
/assign

[2021-07-26 17:52] ehashman commented on #103879
Debugging in https://github.com/kubernetes/kubernetes/pull/103921

[2021-07-26 18:20] prabhakar-oracle commented on #85020
@thockin, for the same service with same same service port, things are failing, the service creation goes through but getting the following event subsequently:

[code]

[2021-07-26 18:21] robscott commented on #103888
I wrote a test to recreate this but unfortunately wasn't able to: https://github.com/kubernetes/kubernetes/commit/621ea5d0cb18f2a68917786fad8397310f390bf9. Maybe there's something else going on here. Can you increase the log level on kube-controller-manager to see if there are any helpful logs from the EndpointSlice controller? There are a couple places we remove hints and return early in the [Add

[2021-07-26 18:21] dims commented on #103651
marking release-blocker per @ehashman note on slack: https://kubernetes.slack.com/archives/C2C40FMNF/p1627323614028800

[2021-07-26 19:05] enj commented on #100343
Seems like the docs could be updated to state that when a `--root-ca-file` is not given, the CA bundle for the current context in `--kubeconfig` will be used instead if specified.

[2021-07-26 19:10] mike-stewart commented on #98215
/remove-lifecycle rotten

[2021-07-26 19:14] #99240 closed

[2021-07-26 19:41] dims commented on #96770
@spiffxp which one is it?

[2021-07-26 19:46] astoycos commented on #103802
/area network-policy

[2021-07-26 19:49] dims commented on #103919
from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures/1419727099198967808/artifacts/test-eef92b583b-master/kubelet.log
[code]

[2021-07-26 19:52] ehashman commented on #103879
Looking through the logs I notice the out of disk space errors almost always follow

[code]

This corresponds to this snippet of code:

https://github.com/kubernetes/kubernetes/blob/ee5df7cbcfffaddece66944a528fccb07430d29a/pkg/kubelet/kubelet.go#L2141-L2149

So I thought I'd look at HandlePodCleanups and the first thing I noticed is that every time this runs, it appears we're creating a new pod co

[2021-07-26 20:13] msau42 commented on #85624
/remove-lifecycle rotten
/reopen

[2021-07-26 20:15] #98928 closed

[2021-07-26 20:15] #98851 closed

[2021-07-26 20:21] dimakow commented on #103910
Do you see any wrong cpu allocations for spawned containers?

By looking at the code i see that DefaultCPUSet should always be all CPU's and only during allocation in `GetAllocatableCPUs` the CPU's are being reduced by reserved CPU's:

https://github.com/kubernetes/kubernetes/blob/73dd5c840662bb066a146d0871216333181f4b64/pkg/kubelet/cm/cpumanager/policy_static.go#L191

PS: 18.15 is out of maintena

[2021-07-26 20:22] alculquicondor commented on #17244
/cc

[2021-07-26 20:22] ehashman commented on #103879
Note that at each kubelet start, we're seeing okay utilization of both inodes and disk space, so something inside the kubelet is spiking and then cleaning itself up I guess:

[code]

from https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/103921/pull-kubernetes-node-kubelet-serial/1419717156169322496/artifacts/n1-standard-2-cos-81-12871-1290-12-80df8ac6-system.log

[2021-07-26 20:38] dbourget commented on #103888
@robscott I've tried --v=9 and --v=5. This is all I see after toggling the annotation:

[code]

That makes it seem like the issue is that it considers the endpointslice not worth updating despite the change in annotation, so I tried creating a new service instead (like the old but with name "maxscale-local"). This is the output at verbosity level 5:

[code]

Interestingly, when I redeploy the daem

[2021-07-26 21:16] #98557 closed

[2021-07-26 21:18] bobbypage commented on #103366
Thanks for all the info! I was only able to repro this on systemd cgroup driver as mentioned in https://github.com/kubernetes/kubernetes/issues/103366#issuecomment-885299331, was not able to repro when using cgroupfs.

This will need some additional investigation to figure out the root cause and why memory metrics are not being reported correctly.

/cc @haircommander

[2021-07-26 21:30] ehashman commented on #103838
/remove-priority critical-urgent

I don't think this is a release blocker at this point given the history reading through https://github.com/kubernetes/kubernetes/pull/102525; we can fix this in a cherry-pick.

[2021-07-26 21:44] ehashman commented on #103879
Ah wait! I see it!

[code]

That started out with 81M used. What's filling it up? :eyes:

[2021-07-26 21:46] thockin commented on #103860
Yeah, in particular I want to print/log a warning and maybe add a metric when we fall back on userspace.

[2021-07-26 21:55] tallclair commented on #103207
@jyz0309 The details of the metric we'd like to record are laid out in the KEP here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2579-psp-replacement/README.md#monitoring

Most of the implementation should go in the `pod-security-admission.k8s.io/metrics` package (currently a placeholder: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/pod-security-

[2021-07-26 21:59] tallclair commented on #70249
@BenTheElder my concern with this approach is that it will essentially hide the packages & versions from vulnerability scanners, which I think mostly just look for package manager manifests. I wonder how hard it would be to keep a package manifest with the relevant packages in the image?

Also, how does your approach compare to using bazel to build docker imagse?

[2021-07-26 22:05] spiffxp commented on #103651
/priority critical-urgent

[2021-07-26 22:07] tallclair commented on #103213
@njuptlzf I prefer the second approach you propose as well.

The only caveat: for a namespace with a small number of pods (1 in the extreme case), this approach would actually end up being a lot more verbose than the un-aggregated case. One option is we could set some threshold for `number of pods with errors` and only aggregate if the number exceeds that threshold. However, having 2 different pot

[2021-07-26 22:07] ehashman commented on #103879
https://github.com/kubernetes/kubernetes/blob/9b84e473b28f0e63fd27df420791e2089fc09b30/cluster/gce/gci/configure-helper.sh#L483-L496

This is where it's configured.

Great catch @rphillips who noticed that this started around a test that set up the static pod `kube-system/static-disk-hog`. It seems it's failing.

We see that once this test fails, the disk is full and so everything else fails: http

[2021-07-26 22:17] #99009 closed

[2021-07-26 22:17] #99203 closed

[2021-07-26 22:17] #99285 closed

[2021-07-26 22:27] prameshj opened #103922 "GCE ILBs not getting updated when ILBSubsets feature gate is on."
L4 ILBs created by service controller should be updated whenever the nodes in the cluster change, even if ILBSubsets feature gate is on.

The updates work when something in the service changes, but not when list of nodes change.

/area platform/gce
/assign

[2021-07-26 22:27] prameshj commented on #103922
Will be fixed by https://github.com/kubernetes/kubernetes/pull/103886

[2021-07-26 22:31] prameshj commented on #103922
triage/accepted

[2021-07-26 22:36] tallclair commented on #103207
One problem with this approach: exemptions & ignored requests are not surfaced to the interface I proposed above. We don't want to duplicate that logic in the metrics recorder, so we'll need another way of piping that data through. We might need to define our own response type wrapper, something like this:

[code]

Then `Validate{Namespace,Pod,PodController}` will need to be updated to return the

[2021-07-26 22:42] tallclair opened #103923 "[PodSecurity] Extra audit annotations"
The current alpha implementation doesn't record all the audit annotations that are defined in the KEP
(https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2579-psp-replacement/README.md#audit-annotations):

1. [ ] `pod-security.kubernetes.io/enforce-policy = <policy_level>:<resolved_version>` Record which policy was evaluated
   for enforcing mode.
    - ~~Resolved version is the

[2021-07-26 22:44] msau42 commented on #100219
/remove-lifecycle rotten

[2021-07-26 22:48] verult commented on #103651
We were able to find the trigger for the CSI failures - on 6/29 there was a change in the hostpath driver test manifest, and the driver's `--check-volume-lifecycle` is enabled.

https://github.com/kubernetes/kubernetes/blob/ee5df7cbcfffaddece66944a528fccb07430d29a/test/e2e/storage/drivers/csi.go#L240

This makes the driver return an error instead of only logging a warning message on `DeleteVolume(

[2021-07-26 23:13] msau42 commented on #103651
When that check was enabled, I don't think we realized it would impact the reconstruction path; it was enabled to validate a different issue.

Are we running into the issue that reconstruction of staging directories isn't supported (https://github.com/kubernetes/kubernetes/issues/85476) OR is it that our reconstruction path requires drivers to have real mount points (https://github.com/kubernetes/

[2021-07-26 23:18] #99231 closed

[2021-07-26 23:18] #95021 closed

[2021-07-26 23:31] dims commented on #103919
2 green runs : https://prow.k8s.io/?job=ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures

[2021-07-26 23:31] #103919 closed

[2021-07-26 23:44] dobsonj commented on #103651
@verult @msau42 I was looking at this today too, trying to understand the underlying cause. That `--check-volume-lifecycle` is why the failures are being reported now, but the part that I didn't understand is why NodeUnstageVolume is not being called for these volumes.
In this instance:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1418942168139042816/arti

[2021-07-26 23:48] verult commented on #103651
And it's probably not https://github.com/kubernetes/kubernetes/issues/79980 since the test uses a PVC

[2021-07-26 23:49] rikatz commented on #103808
/triage accepted
/remove-kind bug
/kind feature

[2021-07-26 23:54] verult commented on #103651
Will look deeper into why UnmountDevice wasn't issued as well, but some update on the in-tree tests: the force delete test is skipped for the in-tree hostpath CSI driver because of #61446

https://github.com/kubernetes/kubernetes/blob/ee5df7cbcfffaddece66944a528fccb07430d29a/test/e2e/storage/testsuites/subpath.go#L352-L355

Graceful tests are now failing as well because they behave like force test

[2021-07-26 23:56] tallclair commented on #60001
I feel like we can close this with the addition of PodSecurity admission. WDYT?

[2021-07-27 01:35] smarterclayton commented on #103879
Seems likely it is related to 103651, at least on the surface.

[2021-07-27 01:46] huzhengchuan commented on #103910
`GetAllocatableCPUs` is only use to Guaranteed pod. allocate cpu to guaranteed pod is  reduced reserved cpus. But for burstable and besteffort pod always use DefaultCPUSet, it will let burstable and besteffort pod use the reserved cpu.

I create burstable pod, and check the cgroup of container

/sys/fs/cgroup/cpuset/kubepods/burstable/pod4816d23f-4190-4594-a6a0-c0dd520068e5/1f02f559d9b9886179b7941

[2021-07-27 02:19] pacoxu commented on #103922
/sig cloud-provider
/triage accepted

[2021-07-27 02:31] Lanyujiex opened #103929 "Pod stuck on Running after node lost"
#### What happened:
I found that the Pod created by DaemonSet will not become Terminating or drift after the node NotReady. I describe that the status seen by these pods is Running, but the status.Conditions of the pod are not all true.

#### What you expected to happen:
After the node NotReady, the state of the Pod can become Terminating or error or drift.

#### How to reproduce it (as minimally

[2021-07-27 02:40] kerthcet commented on #103929
/sig node

[2021-07-27 03:05] msau42 commented on #94108
/remove-lifecycle rotten
/reopen

[2021-07-27 03:08] msau42 commented on #103651
I don't think the issue is related to PVC or not. I think it's related to drivers that do not actually mount devices as a separate filesystem than the root.

[2021-07-27 03:59] spiffxp commented on #96770
@dims it's this one: https://github.com/kubernetes/kubernetes/pull/103724 but I think I've lost my fire to get really pushy about this so late in the cycle, so I'm going to punt to next milestone

[2021-07-27 03:59] spiffxp commented on #96770
/milestone v1.23

[2021-07-27 04:47] spiffxp commented on #93530
Also means more overhead of scheduling N jobs in parallel, and can quickly reduce the likelihood you pass all N jobs at once.

Unless there is a specific test in mind here, or there is a desire to audit the tests in verify-master and declare some of them a waste of resources, I'm inclined to close this as too vague to be actionable

[2021-07-27 04:47] spiffxp commented on #93530
/priority awaiting-more-evidence

[2021-07-27 04:50] spiffxp commented on #103867
/milestone v1.23

[2021-07-27 04:51] spiffxp commented on #103430
I _think_ this is fixed in v1.22 due to the latest ginkgo.  We need to give backporting to release-branch branches a go

[2021-07-27 04:53] spiffxp commented on #103430
I noticed you filed this issue after https://github.com/kubernetes/kubernetes/pull/102111 landed, so maybe it didn't actually fix things?  I was under the impression that pulled in https://github.com/onsi/ginkgo/pull/571 which fixed the bug you're experiencing

[2021-07-27 04:54] spiffxp commented on #103430
/milestone v1.23
/triage accepted
/remove-kind feature
/kind bug
/priority important-longterm

[2021-07-27 05:19] pacoxu commented on #103877
According to https://github.com/kubernetes/kubernetes/issues/73172#issuecomment-473399398:

See #73172 and https://github.com/kubernetes/kubernetes/issues/47893#issuecomment-472500078

[2021-07-27 05:44] alexandrst88 commented on #103888
I had the same issue, i found that annotations should be with ```Auto``` value, https://github.com/kubernetes/kubernetes/pull/100728.

[code]
But it doesn't help, i was digging into code, and found that https://github.com/kubernetes/kubernetes/blob/ca643a4d1f7bfe34773c74f79527be4afd95bf39/pkg/controller/endpointslice/topologycache/topologycache.go#L88,  seems like return ```nil``` in my case. I do

[2021-07-27 05:45] jingxu97 commented on #103651
There are three possible flows during kubelet restart

1. in pod gracefully delete case, the pod still exists (it is not considered as terminated in function isPodTerminated(); note that this logic has some changes after  #102344 https://github.com/kubernetes/kubernetes/issues/103651#issuecomment-884411621 ), so pod volume will be added back to desired state, and reconciler will try to set up volu

[2021-07-27 06:02] rdrgporto commented on #103366
Hi, @bobbypage

Thanks 😃. By the way, there is a new issue reporting the same behaviour: https://github.com/kubernetes/kubernetes/issues/103807.

[2021-07-27 06:28] YanzhaoLi commented on #103366
After setting kubelet's log verbosity level  to 10, I found logs like
[code]
Is this related?

[2021-07-27 06:55] baurmatt commented on #7890
Am I the only one who is irritated that a feature request with currently 201 👍 and 39 ❤️, which makes it [the top 5 of all upvoted issues](https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), should be closed by a bot because noone spammed in the issue?

So here it is: Please @fejta-bot /remove-lifecycle stale

[2021-07-27 06:55] 00123aakd commented on #63128
Best Night Dresses Online

[Night Dresses](https://womensbeautyoffers.com/shop/best-cheap-night-dresses-nighties-for-ladies-nighty-price-under-700-rs/)

Find here the best cheap night dresses, nighties for ladies – nighty prices under 700 Rs. At womensbeautyoffers.com you can get the best nighty dress for womens and girls. Buy now Nighty for womens at the lowest price.

[2021-07-27 06:59] baurmatt commented on #7890
Oh man, this is so ironic...

/remove-lifecycle stale

[2021-07-27 07:17] baurmatt commented on #103151
I wanted to add a good example which IMHO shouldn't be auto-closed:

https://github.com/kubernetes/kubernetes/issues/7890 is the [the top 5 of all upvoted issues](https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) but it is/was scheduled by the bot to be autoclosed.

[2021-07-27 08:41] poojas1607 commented on #103683
Any update?

[2021-07-27 09:01] gxglls opened #103936 "CSI E2E: Support StorageClass Secrets E2E test in CSI"
#### What would you like to be added:
My csi driver implements the authentication function in accordance with https://kubernetes-csi.github.io/docs/secrets-and-credentials.html#secrets-and-credentials. The underlying implementation is to use iSCSI's CHAP. But I did not find any e2e test related to CSI authentication/credentials, I will try to implement it and submit a PR

#### Why is this needed:

[2021-07-27 09:02] gxglls commented on #103936
/sig storage
/sig testing

[2021-07-27 09:05] VidarHUN commented on #103760
I turned it on with this policy level:
[code]
And I attach a filtered log where you can see one CR creation. I don't really understand what happening, because one PATCH is done in a reasonable time, but the second took so much.

[grep2.log](https://github.com/kubernetes/kubernetes/files/6884166/grep2.log)

[2021-07-27 09:08] fengzixu commented on #101527
/remove-lifecycle stale

[2021-07-27 09:12] KeithTt commented on #56850
I solved this problem like this:

Edit `/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` and add two lines below
[code]

The whole config file:
[code]

[code]

Then this message gone.

[2021-07-27 09:21] njuptlzf commented on #103760
Can I understand that now is to troubleshoot `Why slow trace logs appear`?

Is it appropriate to modify the title? @VidarHUN

The audit can see more details, but I did not see the details that need to be modified in the audit.

[2021-07-27 09:49] waynepeking348 opened #103939 "avoid listing all pods from etcd when delete pvc"
#### What would you like to be added:
add an annotation in pvc to indicate which pod is using this pvc (at least for pvc with read-write-once mode)

#### Why is this needed:
currently, if we want to delete pvc, we must firstly remove finalizer from it, and list all pods from etcd (by askAPIServer), this is too time-consuming. In our production environment (cluster with near 5000 nodes), this time-

[2021-07-27 09:52] waynepeking348 commented on #103939
/sig-storage

[2021-07-27 09:58] waynepeking348 commented on #103939
/sig Storage

[2021-07-27 11:39] AlexLast commented on #103366
Thanks @bobbypage, I was able to confirm that switching to `cgroupfs` fixed the missing metrics. From a bit of research, it's my understanding that using the `cgroupfs` driver on a node with `systemd` is not recommended - can you confirm?

[2021-07-27 11:45] VidarHUN commented on #103760
@njuptlzf Yes, I think that could be a problem, but I have no idea what happens. I addition I have a kopf operator which will create a small PATCH after I create a CR. This PATCH only contains I think 2 lines, where the first one is just a simple string and the second one is the last-known configuration, but I do not create large CRs. After this PATCH the operator makes changes in my sidecars and

[2021-07-27 12:07] jyz0309 commented on #103207
/assign

[2021-07-27 12:20] mccricardo commented on #103760
I believe these are some relevant log lines:

[code]

Does the fact that there are `11 executing` make the PATCH take `2815ms`?

[2021-07-27 12:27] sleshchenko commented on #91732
I wish there are since it's a pretty annoying that webhook should process all pod/exec when it needs only subset but as you see no response yet.

@ne0h anyway does this issue makes sense for you? Maybe I should improve anything in the description

[2021-07-27 12:33] ne0h commented on #91732
@sleshchenko, yes absolutely. It appears to me that it all comes down to that it is not possible to limit the execution of a validation webhook to certain pods. Drawbacks: needless traffic to the webhook; creation of a single point of failure.

[2021-07-27 12:39] VidarHUN commented on #103760
This `executing` parameter indicates how many other task has the apiserver before executing this PATCH? If it is, how can I search for these tasks and find out what can cause this problem.

[2021-07-27 12:42] mccricardo commented on #101538
/assign

[2021-07-27 12:43] RainbowMango opened #103942 "Should we remove go-spew from the dependency as it seems be abandoned"
#### What would you like to be added:
Replace [github.com/davecgh/go-spew][1] with its alternatives, like:
- https://github.com/kr/pretty

#### Why is this needed:
Seems the `github.com/davecgh/go-spew` [has been abandoned][3], the last commit happened in the year 2018.
The effect, such as:
- The library still does not support `Go Module`
- Some [panic(issues)][2] not be handled for a long time.

[2021-07-27 12:45] RainbowMango commented on #103942
/kind cleanup
/remove-kind feature

[2021-07-27 12:49] dims commented on #103942
/area code-organization

sounds good @RainbowMango

[2021-07-27 12:52] RainbowMango commented on #103942
Thanks @dims.
I was wondering if I should ask you for help because I don't know which sig/wg this kind of issue belongs to. :) :):)

[2021-07-27 12:54] dims commented on #103942
/sig architecture
/triage accepted

[2021-07-27 12:55] uablrek commented on #103150
The payload is not really significant for tests except for expected packet sizes (fragmentation/PMTU for IPv4 and IPv6?). What has proven problematic is dynamics in fail-over/restart cases, and of course multihoming. It is _possible_ the `nmap-ncat` is sufficient for e2e test, but even to get that accepted seems to be a struggle https://github.com/kubernetes/kubernetes/pull/94597.

[2021-07-27 13:49] daviddyball opened #103944 "cgroups Access in JVM Containers Failing"
#### What happened:

**Please note that this issue is not about Elasticsearch. I'm just using it as an example case for what I believe to be an issue with `kubelet` and cgroups access**

Certain applications that depend on cgroup information are no longer able to run.

#### What you expected to happen:

Pods relying on access to cgroup information should be able to function as they did previously

[2021-07-27 13:50] daviddyball commented on #103944
/sig node

[2021-07-27 13:55] ravens commented on #103150
@uablrek then maybe using something based on [pycrate](https://github.com/P1sec/pycrate) to fake different state of SCTP connection/payload size.
One question, regarding multihoming I guess the idea is to test with Multus ?

[2021-07-27 14:23] mdbooth commented on #70897
@andrewsykim Sorry for confusing these 2 issues earlier, btw. Looks like we're going to go with a solution based on `--hostname-override`.

[2021-07-27 14:24] gjkim42 commented on #103910
/assign
/kind bug

Reproduced at v1.20.9

[2021-07-27 14:24] liggitt commented on #103305
I think you're right, disruption budget / eviction was probably the wrong example. Are there scenarios where an unhealthy node would result in its volumes getting detached, but still leave terminating pods present in the API until the kubelet on the unhealthy node acks/deletes them?

[2021-07-27 14:28] gjkim42 commented on #103910
[code]

[2021-07-27 14:36] dims commented on #103879
@smarterclayton https://github.com/kubernetes/kubernetes/issues/103651 has a fix https://github.com/kubernetes/kubernetes/pull/103937, i ran `pull-kubernetes-node-kubelet-serial` on the 103937 PR and still seeing issues mentioned here ( looking at https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103937/pull-kubernetes-node-kubelet-serial/1419989415182209024/ )

[2021-07-27 14:42] uablrek commented on #103150
Not really no. Multus is out of scope for k8s e2e (I think). But it seems some sctp users on K8s using multihoming and a sctp service. I have currently no idea how. The node must have 2 interfaces (at least) and if the client connect through the service the HB may in theory be sent by the server (pod) via the second interface. However I can't figure how the NAT problem is resolved.

[2021-07-27 14:49] neolit123 commented on #103942
go-spew is mostly used for debug printing in error messages and unit tests...but in a lot of places.
i can also see it in e2e tests.

i found at least one place where it's part of "main" code paths:
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/cm/cpumanager/state/checkpoint.go#L114

i think the PRs should be broken in packages, but not too gran

[2021-07-27 14:59] daviddyball commented on #103944
Update: tested with older version of Elasticsearch container using an older JDK (`12.0.1+12`) and this worked fine

[2021-07-27 14:59] liggitt commented on #91444
do you mean which ones are configured via kube-apiserver flags, or which ones are selected by clients? For the former, I don't think there's much value in echoing CLI flags to metrics. For the latter, do we actually have visibility to the cipher selected for a particular connection?

[2021-07-27 15:03] thepip3r commented on #65502
As another case we're using and running into this issue:

We have an application that the vendor claims requires it's own SQL instance (not database, but instance of SQL).  So we're using a multi-container deployment as mssql+application.  Because there are n-instances of that multi-container pod, the application logic checks mssql to see if the database is already present; if so, it binds to it;

[2021-07-27 15:07] liggitt commented on #103213
Thinking through the workflow of someone dealing with the warnings across multiple pods... to fix warnings, they still have to visit the individual pod or workload definitions and make appropriate changes. To make that easy, I still think the pod should be the primary unit of organization, not the individual messages.

The main reason I think we should aggregate *identical* warnings is that it is

[2021-07-27 15:25] alexhwoods commented on #38075
## Here's how to expire all of your users automatically
[code]

You'll need [`yq`](https://mikefarah.gitbook.io/yq/#homebrew) installed (`brew install yq`).

[2021-07-27 16:01] enj commented on #91444
I meant the latter - cipher suites selected by clients.  I do believe we have visibility into this:

`tls.Config.GetCertificate|GetConfigForClient` give us access to the `tls.ClientHelloInfo` which gives us the `CipherSuites` supported by the client.  `tls.Config.VerifyConnection` gives us access to `tls.ConnectionState` which includes the `CipherSuite` negotiated for the connection.

[2021-07-27 16:01] chewong commented on #101396
/close

[2021-07-27 16:02] #101396 closed

[2021-07-27 16:16] liggitt commented on #91444
that could be useful

[2021-07-27 16:22] enj commented on #91444
/triage accepted
/help

[2021-07-27 16:26] uablrek commented on #103150
### Who uses the SCTP support in K8s?

IMHO this question must be answered before we can define any realistic e2e K8s test for sctp.

As a telco user I can't see _any_ use for sctp without multihoming. To combine multihoming with load-balancing and NAT (used in K8s services) seem impossible in a good way ([rfc3257](https://datatracker.ietf.org/doc/html/rfc3257#section-4)). It seems multus, possibl

[2021-07-27 16:46] arren-ru commented on #102676
Not sure, but problem still exists in both 1.21.2 and 1.21.3 versions.
Stuck with *.slice problem: not creating container and complaining that slice exists
Also found fatal error which causes failure of kubelet at all:
[code]

[2021-07-27 17:01] cynepco3hahue commented on #103910
The CPU manager does not exclude the reserved-cpus from the default CPU set, because you can end with the situation when all non-reserved CPUs are used by guaranteed pods. It is the intentional behavior, probably we should update the doc to make it more clear.

[2021-07-27 17:08] ehashman commented on #103856
/remove-kind flake
/kind failing-test

as stats/summary test is now continuously failing

[2021-07-27 17:15] cynepco3hahue opened #103952 "The CPU manager does not work correctly for the guaranteed pod with multiple containers"
#### What happened:

The CPU manager removes the allocation for previous containers under the guaranteed pod once the next container allocation started.

The CPU manager test fails because of it
[code]
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-cpu-manager/1420014879246389248

#### What you expected to happen:

The CPU manager should keep previous contain

[2021-07-27 17:15] cynepco3hahue commented on #103952
/sig node

[2021-07-27 17:15] cynepco3hahue commented on #103952
/triage accepted

[2021-07-27 17:16] cynepco3hahue commented on #103952
/priority critical-urgent

[2021-07-27 17:16] cynepco3hahue commented on #103952
/area kubelet

[2021-07-27 17:21] alculquicondor commented on #99605
I added a few comments. Mostly suggesting simplifications.

I think now you can focus on:
- Making the simulator easy to run by anybody.
- Ensuring documentation is in-place to be able to keep the simulator up-to-date with the latest version of k8s.

And... adding it to a repo in github.com/kubernetes-sigs?

[2021-07-27 17:27] dims commented on #103879
@smarterclayton @ehashman we need to revert https://github.com/kubernetes/kubernetes/pull/103668 see the WIP PR https://github.com/kubernetes/kubernetes/pull/103950 and the CI job output in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/103921/pull-kubernetes-node-kubelet-serial/1419717156169322496/build-log.txt

How did i find it? I looked at the PRs from Clayton and checked if i

[2021-07-27 17:27] dashpole commented on #103728
If `du` is problematic, it may be better to switch to the go implementation of collecting disk usage and inodes: https://github.com/google/cadvisor/blob/master/fs/fs.go#L605

[2021-07-27 17:31] ravens commented on #103150
@uablrek there are use of SCTP without multihoming ink k8s, i.e. for example the S1AP/NGAP interface for eNB/gNB where multihoming is not used, MME polling is rather used. In general SCTP is a transport protocol and multi homing is not mandatory ?

[2021-07-27 17:34] dashpole commented on #103728
Actually, this optimization was already done: https://github.com/kubernetes/kubernetes/pull/96115.  Before submitting any fixes, we should see if the problem still persists on 1.22 with the fix

[2021-07-27 17:43] dims commented on #103879
@ehashman please request @kubernetes/release-managers to mark this as `release-blocker` if it is...

[2021-07-27 18:22] sanposhiho opened #103956 "Scheduler: make KubeSchedulerConfiguration override the default plugins configuration"
Hello team.

Now, if users want to change the default plugin’s weight, they have to disable the plugin once and enable it with wanted weight on KubeSchedulerConfiguration like below.

[code]

Isn't it non-simple? Users may not know which setting takes precedence, enabled or disabled.

Is there a definite reason for this? Or, is changing the weight of the default plugin in itself a bad thing to do?

[2021-07-27 18:24] ehashman commented on #103952
Issue is urgent but **not** release blocking this late: https://kubernetes.slack.com/archives/C0BP8PW9G/p1627409859207800?thread_ts=1627408015.203100&cid=C0BP8PW9G

Confirmed CPU manager e2e has been failing since 07/08 which is when Clayton's refactor initially landed: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-cpu-manager?buildId=1413362483304861

[2021-07-27 20:15] uablrek commented on #103150
Ok, then it should be documented that K8s does not support sctp multihoming and as such it does not have to be tested in K8s e2e tests.

I can't see any need to emulate a RAN or use pycrate, same as we don't setup a fake web-shop to test tcp. It will only make e2e tests hard to maintain IMHO. Basically the same level of e2e tests done for tcp/udp should be sufficient, and I think `nmap-ncat` can b

[2021-07-27 20:16] fedebongio commented on #103816
/cc @apelisse @leilajal @kwiesmueller
/triage accepted

[2021-07-27 20:35] haircommander commented on #103856
it is hard to tell because the tests were very flaky before, but I am suspicious of https://github.com/kubernetes/kubernetes/pull/103713 for causing the perma-failures. I have opened https://github.com/kubernetes/kubernetes/pull/103959 to test, where we can compare the difference in failures. It's possible this is just due to some crio configuration not being happy with the metrics server bump

[2021-07-27 20:44] #103833 closed

[2021-07-27 20:44] sujithra-p commented on #103833
This happens to be a kernel related bug. Closing the issue.

[2021-07-27 21:15] spiffxp commented on #100273
/milestone v1.23
I think this worth considering now that we've consolidated most images to staging repos

[2021-07-27 21:19] apelisse commented on #103816
We've discussed that with @jpbetz before. Not sure that's something we want to do.

[2021-07-27 21:47] aojea commented on #103150
we do install a webshop to test e2e, https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/guestbook

I have to disagree here, having only e2e test that exercise happy scenarios "create service - ping service" are not providing any signal on quallity, and I will categorize those more close to integration than e2e

this is a common misunderstanding in Kubernetes, everythin

[2021-07-27 21:53] smarterclayton commented on #103952
I commented on https://github.com/kubernetes/kubernetes/pull/103953#issuecomment-887856835 but I'm pretty sure the code here was wrong before my change - a pod in admission cannot be in `GetActivePods()` until it's actually delivered to the pod worker, so any background process you run that refreshes the pod worker has to track that.

I noticed that the cpu manager periodically reconciles - this i

[2021-07-27 22:04] smarterclayton commented on #103879
Looking at the linked job, I see:

[code]

You are saying that means the static-disk-hog never completed?  The log message you see is intentional and the sign of correct behavior, so just seeing that log message alone doesn't mean anything is wrong.

[2021-07-27 22:14] jpbetz commented on #103816
See our [earlier discussion about this](https://github.com/kubernetes/kubernetes/pull/99462#discussion_r590548928) and [the doc we wrote on the topic](https://docs.google.com/document/d/1ipi1sZd5rvPvplX_TV74gGOtFWJTf9N0qKnH2-rcI4s/edit#heading=h.io39zc1z1m28) for more detail.

[2021-07-27 22:26] SpootyMcSpoot commented on #86881
Any update here?

[2021-07-27 23:08] dims commented on #103879
@smarterclayton - so far what i had was that master/HEAD fails when you run the optional pull-kubernetes-node-kubelet-serial, with a revert of #103668 the pull-kubernetes-node-kubelet-serial does not run out of disk space :) i have not yet looked at the detailed logs yet.

Also per @ehashman a simple revert is not enough as we will have to somehow ensure that the NPE that #103668 was supposed to f

[2021-07-28 00:56] jsturtevant opened #103962 "Windows kubelet cpu for metrics consumption comes from perf counters"
#### What happened:
Looking into the perf of Windows, Noticed that a significant amount of overal CPU comes from perf counters when the system is idle:

![image](https://user-images.githubusercontent.com/648372/127246228-64316297-a737-43d8-9fb8-40dac162e4db.png)

With the New CRI only KEP many of these may be moved to CRI layer and removed from kubelet.

#### What you expected to happen:

Should i

[2021-07-28 01:14] YanzhaoLi opened #103964 "Possibily cri_stats_provider using nil map containerStatsNetwork without checking"
#### What happened:
https://github.com/kubernetes/kubernetes/blob/d92b788faa2521a937acc5fdcb66bfdb960dbd48/pkg/kubelet/stats/cri_stats_provider.go#L196

I think this func might use the map `containerNetworkStats` without nil checking.
[code]
The `containerNetworkStats` is created by func
[code]
So in linux platforms, `containerNetworkStats` should be `nil`.

But I didn't see any error reported on

[2021-07-28 01:17] YanzhaoLi commented on #103964
/sig node

[2021-07-28 01:20] verult commented on #103651
This issue is now mitigated with #103937 merged. There are two longer-term issues that are isolated to hostpath plugins (and maybe other plugins that are similar in behavior, perhaps emptydir and similar?):

1. #61446
1. Issue related to IsLikelyNotMountPoint as @jingxu97 mentioned.

Because these don't impact the core volume machinery and are not regressions, this issue doesn't need to be release

[2021-07-28 01:24] njuptlzf commented on #103213
Okay, let me modify the logic and test again.

[2021-07-28 01:29] dkulchinsky commented on #103857
According to GCP support (since we hit this on a GKE cluster) there's already a fix for this bug and it in v1.21, however I'm unable to find to link it here (hope they can provide the link shortly).

[2021-07-28 01:33] pacoxu commented on #103956
/kind feature

[2021-07-28 01:38] msau42 commented on #103651
https://github.com/kubernetes/kubernetes/issues/79980 is the IsLikelyNotMountPoint issue

[2021-07-28 01:41] #103964 closed

[2021-07-28 01:47] niulechuan commented on #103939
/assign

[2021-07-28 01:53] verult commented on #79980
From https://github.com/kubernetes/kubernetes/issues/103651: this issue surfaced through e2e tests using the hostPath CSI driver. The cause is `IsLikelyNotMountPoint()` (which is used in `CheckVolumeExistenceOperation()` for reconstruction) - it doesn't play well with volumes that bind mount from a directory instead of a device.

[2021-07-28 02:23] pacoxu commented on #103877
Got it.
/assign

[2021-07-28 03:16] pacoxu commented on #103877
/triage accepted
I send #103967 to fix this issue.

[2021-07-28 03:16] huzhengchuan commented on #103910
--reserved-cpus is only fix the guaranteed pod not use the reserved CPUs when the cpu policy is static.  perhaps we need a strict isolated cpu manager let all container not running the reserved CPUs

[2021-07-28 03:19] pacoxu commented on #103838
/cc @klueska

[2021-07-28 03:33] kerthcet commented on #103956
/assign

[2021-07-28 04:03] uablrek commented on #103150
Oh, cool. I stand corrected. @aojea You are the king of K8s e2e :smile:

I will investigate how to use sctp in K8s the next couple of months, hence my interrest. A legit question is "Can we just use the K8s sctp?". In my case the answer is "No, we need solid multihoming". I hoped that is was possible, mostly based on https://github.com/kubernetes/kubernetes/issues/102128. But even if it _may_ be p

[2021-07-28 04:04] mikechengwei commented on #102573
Hi guys,From the above discussion, I designed a plan.
First of all, we have to consider two points:
1. We should not change the existing `merge` method, we need to build a new method for structured output to avoid increasing the size of event messages.
2. Since the current reason is mixed together, we need to simplify it.

For the first point, I searched the code and did not find that the event se

[2021-07-28 04:59] gjkim42 commented on #103910
KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/375-cpu-manager/README.md
Docs: https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

[2021-07-28 05:01] uablrek commented on #103150
This comment should be re-phrased; https://kubernetes.io/docs/concepts/services-networking/service/#caveat-sctp-multihomed

It makes you think K8s actually has some support for multihoming. It would be better to say something like;

Even with a "CNI plugin can support the assignment of multiple interfaces and IP addresses to a Pod" (e.g multus) the current kube-proxy can't make use of them. Load-b

[2021-07-28 05:01] #103433 closed

[2021-07-28 05:16] gjkim42 commented on #103910
/unassign

I agree with @cynepco3hahue

  run here. Initially this contains all CPU IDs on the system. As
  exclusive allocations are created and destroyed, this CPU set shrinks
  and grows, accordingly. This is stored in the state as the default
  CPU set.

  allocatable. The membership of this pool is static for the lifetime of
  the Kubelet. The size of the reserved pool is the ceiling of the t

[2021-07-28 05:33] ravens commented on #103150
Probably a mention of that multihoming is requiring either 1) specific use of CNI solution for multiple IP allocation (multus, calico enterprise etc...) and 2) alternate kube-proxy approach for compatibility with NAT for Service IP in that particular use case. Nevertheless I would not reuse SCTP usage to multihoming, @uablrek.

[2021-07-28 05:44] smb-h commented on #60140
Its weird but this worked for me 90% of times, in case of error mostly i'll try again and yeah it works!!

[2021-07-28 05:45] ravens commented on #103150
@aojea based on your guestbook example, perhaps a 5G example could be proposed - i.e. [UERANSIM](https://github.com/aligungr/UERANSIM) with either [open5gs](https://github.com/open5gs)/[free5gs](https://github.com/free5gc/free5gc), but then we can only test the control plane (NGAP) as the user plan (GTP, UDP based) is requiring a GTP kernel driver for both project.

Perhaps a subset of the origina

[2021-07-28 06:01] ravens commented on #103150
A good candidate for a problematic packet S1AP/NGAP exchange could be the the ["UE capability Information"](https://www.sharetechnote.com/html/Handbook_LTE_UE_Capability.html), typically at some point the terminal send a message to the core in 4G/5G detailing the actual capability (i.e. in terms of radio, VoLTE support etc) to the core. This packet sent over SCTP ends up being quite large (>3k byt

[2021-07-28 06:30] WangYunT opened #103969 "Unable to connect to the server: EOF"
[root@k8s-master01 pki]# kubectl get cs
**Unable to connect to the server: EOF**

[root@k8s-master01 pki]# systemctl status kubelet.service -l
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: active (running

[2021-07-28 06:31] jingxu97 commented on #103651
after  #103937  is merged, two csi-hostpath driver subpath test can pass, and two in-tree driver gracefully delete tests were skipped.
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-serial&width=20

[2021-07-28 07:12] tnozicka opened #103970 "Eviction incorrectly forbids evicting an unready pod that wouldn't affect the PDB"
#### What happened:
Our operator had a StatefulSet with 3 pods, and a PDB with `maxUnavailable: 1`. First 2 pods were ready, the 3rd one was not ready (and will never be ready). The operator tried to evict the 3rd (unready) pod, but the API call was repeatedly forbidden with `Cannot evict pod as it would violate the pod's disruption budget`. Yet, that isn't true - the PDB accounts only for ready p

[2021-07-28 07:16] yuswift commented on #103969
/sig node

[2021-07-28 07:40] mcbenjemaa commented on #103942
I take this Issue

/assign

[2021-07-28 07:48] tamalsaha commented on #98380
/remove-lifecycle rotten

[2021-07-28 08:19] thesuperzapper commented on #45509
For those stumbling across this issue after reading about `controller.kubernetes.io/pod-deletion-cost`, and stuck on old K8S versions, it seems like [OpenKruise](https://openkruise.io/en-us/index.html) (a sandbox CNCF project) has backported this feature into their [CloneSet](https://openkruise.io/en-us/docs/cloneset.html) CRD as of version `0.9.0`.

__NOTE:__ I am not part of that project, or end

[2021-07-28 08:21] sanposhiho commented on #99605
Hi @alculquicondor, thanks for your comments.
It helps me a lot :)

I'd like to reply to some of your comments here.

Currently, this simulator is designed to be hosted somewhere and to work properly even if it is accessed by multiple users. (Of course, we can use it on computers.)
This is because when started developing, we had a further goal that creates the site users can use to learn about sch

[2021-07-28 08:30] cynepco3hahue commented on #103952
Thanks for the info. Probably the second is the best option for us.

[2021-07-28 08:45] claudiubelu commented on #97802
/remove-lifecycle stale

[2021-07-28 08:45] njuptlzf commented on #103113
Yes, but from the customer's point of view, no one can determine the use of root CA. (But I met) :-(

It seems uncommon at the moment, so it is closed.

[2021-07-28 08:45] #103113 closed

[2021-07-28 08:46] claudiubelu commented on #101062
We still haven't merged this: https://github.com/kubernetes/kubernetes/pull/101063

I also had this, but it has been decided to be blocked: https://github.com/kubernetes/kubernetes/pull/101060

[2021-07-28 09:05] aojea commented on #101062
requires conformance approval, at this point I think that has to be postponed to 1.23

right, since that behavior is not required, we shouldn't test it, because is legit to fail and having a test for something that can fail can create confusion :smile:

[2021-07-28 09:23] tnozicka commented on #103970
looking at the code, this looks fixed since 1.20, but never made it to 1.19

[2021-07-28 10:16] fromanirh commented on #103952
it seems the device manager (as well as the memory manager) can hit the same issue: https://github.com/kubernetes/kubernetes/blob/release-1.21/pkg/kubelet/cm/devicemanager/manager.go#L621

[2021-07-28 10:25] fromanirh commented on #103952
A bit more context: turns out all the resource managers (cpu, memory, device) use the same core logic, so in addition to the cpu manager we are tracking here, the memory manager is surely broken as well, and [the device manager](https://github.com/kubernetes/kubernetes/blob/release-1.21/pkg/kubelet/cm/devicemanager/manager.go#L621) is almost certainly (= same logic but no test to prove the breakag

[2021-07-28 10:34] #72220 closed

[2021-07-28 10:39] dims commented on #103879
marking this as release-blocker. right @ehashman @SergeyKanzhelev

[2021-07-28 10:41] dims commented on #102904
please file follow ups still all green ( https://testgrid.k8s.io/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy-grpc&width=20&sort-by-failures= )

[2021-07-28 10:41] dims commented on #102904
/close

[2021-07-28 10:41] #102904 closed

[2021-07-28 10:42] dims commented on #103512
Nothing specific we will do here for 1.22 so just move this along

/milestone v1.23

[2021-07-28 10:48] dims commented on #102865
thanks @mauriciopoppe let's close this then!

/close

[2021-07-28 10:48] #102865 closed

[2021-07-28 10:51] dims commented on #103651
@jingxu97 can you please cherry-pick #103937 to release-1.22 branch?

[2021-07-28 10:54] dims commented on #100112
4 days left for 1.22, it's safe to kick this down the road as it has not been worked on at all.

/milestone v1.23

[2021-07-28 10:55] dims commented on #103742
@cheftako can you please poke someone working on konnectivity? https://github.com/kubernetes/kubernetes/issues/103742

[2021-07-28 11:00] dims commented on #101906
all the configmap ones seem to be green now
https://testgrid.k8s.io/sig-windows-gce#gce-windows-2004-master&include-filter-by-regex=ConfigMap

leaving this open if sig-windows wants to chase others.

/milestone clear

[2021-07-28 11:01] dims commented on #100047
clearing milestone, looks like we carried this over from 1.21

/milestone clear

[2021-07-28 11:27] klueska commented on #103838
I will take a closer look later this week.

[2021-07-28 11:33] maxnitze commented on #60140
After some further testing I think I have to take back the "workaround" from my comment above. Currently it seems to have something to do with the length of the target file name (or the whole path) and the file size. But I did not have any time to follow up this lead. As you also mentioned, I normally try some different things (like renaming, ...) until it works. Will post again if I find the time

[2021-07-28 11:58] CermakM opened #103975 "Scheduling framework plugins missing Lock()"
#### What happened:

Function `getPreFilterState(cycleState *framework.CycleState) (*preFilterState, error)` causes race condition with a custom `Filter` plugin if the plugin writes to the cycle state.

The function in the custom plugin is as simple as
[code]

and is called during the call to

[code]

#### What you expected to happen:

No race condition is present.

#### How to reproduce it (as mi

[2021-07-28 11:58] CermakM commented on #103975
/sig scheduling

[2021-07-28 12:23] mccricardo commented on #103760
Adding a bit more info:
[code]

Log lines reflecting request begin received and finished processing.

[2021-07-28 12:35] miguepintor commented on #100467
on GKE `v1.19.11-gke.2101` is reproducible as well, please @phantooom consider the re-opening

[2021-07-28 13:05] alculquicondor commented on #102573
The error message is built from the reasons. See the implementation of `FitError.String`

[2021-07-28 13:15] mikechengwei commented on #102573
Thanks,i see in .
https://github.com/kubernetes/kubernetes/blob/dadecb2c8932fd28de9dfb94edbc7bdac7d0d28f/pkg/scheduler/framework/types.go#L233 .

[2021-07-28 13:20] alculquicondor commented on #99605
With the current architecture, it looks like it would be easy to bring the website down. It would be nice if each user's backend would run in its own container. But I wouldn't go that path now, perhaps for a 2nd project. For now, I think it's more important to make the simulator easy to execute for individual users.

@Huang-Wei wdyt about creating a new repo?

[2021-07-28 13:31] claudiubelu commented on #101172
I've sent https://github.com/kubernetes/kubernetes/pull/103976 , which would add ``sync.exe`` to agnhost, as you required. I've also built ``claudiubelu/agnhost:2.33`` using that PR. Let us know if that satisfies your requirements, we could merge afterwards.

[code]

[2021-07-28 13:34] enj commented on #103113
Another issue is that limiting `CN` is not enough - that just limits usernames.  `O` is used for group membership assertion, and someone in `system:masters` can always do anything.  The `CN` restriction enforced by `verifySubject` is meant to say "a client cert with this CN from this CA can assert any identity" which is different from "only allow client certs from this CA to assert the following i

[2021-07-28 13:43] miguepintor commented on #102387
@neolit123 we are reproducing this issue in version v1.19.11-gke.2101

[code]

[2021-07-28 14:00] stephen-dexda commented on #82525
/remove-lifecycle stale

[2021-07-28 14:00] stephen-dexda commented on #80435
/remove-lifecycle stale

[2021-07-28 14:08] mikechengwei commented on #102573
I find that event msg use  `FitError` Error method build , It assembles `reasons` by itself and output a `reasonMsg`.

Ref:
https://github.com/kubernetes/kubernetes/blob/dadecb2c8932fd28de9dfb94edbc7bdac7d0d28f/pkg/scheduler/framework/types.go#L233

Eevent msg build method is independent of the status `merge` method.

Ref:
https://github.com/kubernetes/kubernetes/blob/dadecb2c8932fd28de9dfb94edbc7

[2021-07-28 14:11] mccricardo commented on #101538
Hi @madarez. I have a couple of questions:

1. Does this happen every time you run the steps described above or every once in while?
2. You're only able to reproduce it using the macOS kubectl client? By using, for example, a Linux kubectl client you cannot reproduce it.

[2021-07-28 14:17] Sebor commented on #89903
I confirm the same issue. After migrating to containerd CRI (I use AWS EKS 1.20/1.21) a part of metrics disappeared.
![eks-containerd](https://user-images.githubusercontent.com/6105300/127338174-16396f90-5741-4ff5-95a9-a71e313e1b14.png)
For example, on the screenshot, there are no any `container` label and only on `pod` one

[2021-07-28 15:07] smarterclayton commented on #103952
Digging into this more, I see the problem and why it started breaking.

To be broken, an admission handler must store data in internal maps AND have a background loop that checks GetActivePods (please verify who is impacted)

## Problem

There are two sets of pods in the Kubelet:

1. Those that are in config (in one or more of the config sources at the current time)
2. Those that are recognized by

[2021-07-28 15:16] csdnkrue1 opened #103978 "secrets "kubeadm-certs" is forbidden: User "system:bootstrap:mput08" cannot get resource "secrets" in API group ""
Hello all,

I'm new in this group and in the kubernets topic.
May be you can help me with the first steps. I got a error if I try to add a additional master to the cluster
For me it looks like a security-problem

It would be nice if you could help me

Let me know If I did any wrong with open of question

----------------------------------------------------------------
"kubectl version

Client Vers

[2021-07-28 15:17] kerthcet commented on #103956
hey @sanposhiho , can i have a knowledge of which apiversion `kubescheduler.config.k8s.io`  applied, as  `NodePreferAvoidPods` is deprecated in `kubescheduler.config.k8s.io/v1beta2`

[2021-07-28 15:18] madarez commented on #101538
Hi @mccricardo,

I had this happening consistently when the node running our pod went out of resources (most likely CPU as we had timeouts on other applications running on the same node). Otherwise, I can't tell if this happened at other times.

Yes, that's accurate.

[2021-07-28 15:35] smarterclayton commented on #103879
These errors are wierd.  The metrics the kubelet is supposed to expose don't even show up `kubelet_node_config_active` isn't even present in https://github.com/kubernetes/kubernetes/pull/103961 - did we break the node_config metrics somehow?  I don't think that's related to my changes at all.

[2021-07-28 15:55] savitharaghunathan commented on #100895
Do we need a release-blocker label on this issue if it is going to be addressed in 1.23?

[2021-07-28 15:58] sanposhiho commented on #103956
Sorry @kerthcet I missed.😢 This problem was already solved in #99582.

So, close this issue.

[2021-07-28 15:58] #103956 closed

[2021-07-28 16:01] ehashman commented on #103879
@smarterclayton looks like we deprecated the metrics as of 1.22: https://github.com/kubernetes/kubernetes/pull/102966/files#diff-7a99719139dd480a780b106a988e3175c2a5e72d48cc8399666843a8e631221d

However, deprecated metrics should still be emitted, they shouldn't be hidden until 4 releases ahead... https://kubernetes.io/blog/2021/04/23/kubernetes-release-1.21-metrics-stability-ga/#how-are-metrics-d

[2021-07-28 16:02] SergeyKanzhelev commented on #103879
I think they are not registered when the feature flag is disabled.

[2021-07-28 16:03] ehashman commented on #103879
We explicitly enable the feature flag in these tests though, so that shouldn't be it...

[2021-07-28 16:12] logicalhan commented on #103879
Only for stable metrics.

However, I'm a bit confused because these should not be hidden until 1.23.

[2021-07-28 16:16] liggitt commented on #100895
no, should have gotten dropped when bumped to 1.23

[2021-07-28 16:37] sfxworks commented on #102676
Yeah, can this issue be reopened? For rook 1.6,
This works
[code]
Though this does not
[code]
[code]

[2021-07-28 16:38] ehashman commented on #103879
Okay so some components support a `--show-hidden-metrics-for-version` flag, however the kubelet does not: https://github.com/kubernetes/kubernetes/pull/85282

This means the only way one can specify unhiding metrics is with a KubeletConfiguration. However, the node e2e tests don't support specifying one. Thus, we may want to consider adding this as a flag in a future release, or updating the node

[2021-07-28 17:12] Huang-Wei commented on #103975
@CermakM the issue was also reported in #95887. And we did an enhancement in 1.22 (#101542).

The possible root cause is that you might be manipulating the top-level `CycleState` in your custom Filter plugin, which is not a good practice - even with #101542 in. A good pattern is to restrict the scope of your locking, i.e., you can place a custom `state` and inject into the top-level `CycleState` i

[2021-07-28 17:14] ehashman commented on #99437
/milestone v1.23

[2021-07-28 17:14] ehashman commented on #99979
/milestone v1.23

[2021-07-28 17:14] ehashman commented on #103856
/milestone v1.23

[2021-07-28 17:38] sftim commented on #103923
Aside: is there a list of the defined / well-known audit annotations? I'm imagining something similar to https://kubernetes.io/docs/reference/labels-annotations-taints/.

[2021-07-28 17:39] mauriciopoppe commented on #101172
Thanks @claudiubelu, I guess we can merge the PR and I can run the storage e2e tests that need `sync`.

[2021-07-28 17:50] ehashman commented on #103651
Opened cherry-pick, please review: https://github.com/kubernetes/kubernetes/pull/103983

[2021-07-28 17:59] BenTheElder commented on #99979
In Kubelet maybe, but in the flakiness of the e2e tests it was. Unfortunately we can't easily explore the current state :/

[2021-07-28 18:01] BenTheElder commented on #99979
In the release blocking jobs the frequency is not horrible now, so unblocking is probably fine, it is not as bad as it was.

Outside of the release cycle this is still the flakiest test in some jobs, see e.g. https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&width=5 where it's the only flake source we have on record currently.

[2021-07-28 18:05] dimakow commented on #103969
Hi @WangYunT

could you please elaborate your problem instead of just pasting logs? Like **What happened?**, **What you expected to happen?** and **How to reproduce it ?**

At the moment it seems you had some connectivity problems to API-Server or API-Server had in general a problem.

[2021-07-28 18:08] ehashman commented on #99979
@BenTheElder if we end up needing it, we have a timing/period adjustment PR we can take that should help with the flakiness with https://github.com/kubernetes/kubernetes/pull/103593

[2021-07-28 18:41] YanzhaoLi commented on #103366
By stepping into the code, I found that the container info returned by this func `allInfos, err := getCadvisorContainerInfo(p.cadvisor)` :https://github.com/kubernetes/kubernetes/blob/dadecb2c8932fd28de9dfb94edbc7bdac7d0d28f/pkg/kubelet/stats/cri_stats_provider.go#L160

1. the `Spec.Labels` is nil, so that the `isPodManagedContainer()`  will always be false.  Thus `caInfos := getCRICadvisorStats(a

[2021-07-28 18:43] YanzhaoLi commented on #103807
I think I found the root cause. Please see my comment here: https://github.com/kubernetes/kubernetes/issues/103366#issuecomment-888535239

[2021-07-28 18:52] klueska commented on #103952
@smarterclayton thanks for the clear description of the issue. I believe that the proposal you have in "Other possible fixes" is the one that we should take for these components.

@fromanirh @cynepco3hahue please assign me to the PR you put together to fix this.

[2021-07-28 19:52] JasonShenk commented on #102881
I can  give you containers which can be run in docker, and in kubernetes within docker.  These behave differently (the kubernetes run out of memory while the docker does not).   I'm running docker 20.10.7 and minikube version 1.21.0

[2021-07-28 20:05] ehashman commented on #103969
/remove-sig node

This is an API server connectivity issue; neither your kubelet nor your kubectl client are able to talk to an api-server.

Kubernetes does not use issues on this repo for support requests. If you have a question on how to use Kubernetes or to debug a specific issue, please visit our [forums](https://discuss.kubernetes.io/).

/kind support
/close

[2021-07-28 20:05] #103969 closed

[2021-07-28 20:08] ehashman commented on #103929
This is expected; DaemonSets explicitly tolerate nodes being NotReady by default: https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations

All pods proceed through a lifecycle of Pending -> Running -> Terminated. Even if a pod is crashing or unhealthy, if it is neither pending nor terminated, it is considered Running even if the containers are unhealthy.

Kubern

[2021-07-28 20:08] #103929 closed

[2021-07-28 20:10] ehashman commented on #103366
/remove-triage needs-information
/triage accepted

[2021-07-28 20:40] dkulchinsky commented on #103857
GCP support referenced https://github.com/kubernetes/kubernetes/pull/98305 as the fix for this issue, however this was already merged and released in v1.20.4 but we are running v1.20.7, so should have the fix already, so the status is unclear at this point.

[2021-07-28 20:47] warrenstephens commented on #60140
This worked for me after 3 tries. 👍

The first 2 tries did better than the "cp" was doing despite many attempts -- i.e. "cat" got closer to the end of the file than "cp" did.

[2021-07-28 21:20] Cynocracy commented on #53459
+1

[2021-07-28 21:51] sanderdam opened #103994 "AKS provider, cannot use public ip address located in another subscription"
#### What happened:

The legacy-cloud-provider azure cannot get a loadbalancer IP address from another resource group in another subscription.
The azure_loadbalancer.go file has support for the annotation: service.beta.kubernetes.io/azure-load-balancer-resource-group, but it than assumes the same subscription as where the AKS is hosted in.

#### What you expected to happen:

I expect that I can sp

[2021-07-28 21:55] neolit123 commented on #100408
/remove-lifecycle stale

PR in review:
https://github.com/kubernetes/kubernetes/pull/101218

[2021-07-28 21:55] sanderdam commented on #103994
/sig cloud-provider

[2021-07-28 22:29] aojea commented on #103857
thanks for the detailed report,

at first sight we do clean the external ips
https://github.com/kubernetes/kubernetes/blob/fffaadc01331cca57cafa0fc066a2a3eec23acb8/pkg/proxy/iptables/proxier.go#L829-L832
is it possible to set kube-proxy in a log level of 2 and capture the logs from the node to correlate with the time it happends, and understand why those entries are not being deleted?

[2021-07-28 23:47] tamalsaha commented on #101567
/remove-lifecycle stale

[2021-07-29 00:05] dkulchinsky commented on #103857
Hey @aojea, we can try that, however since this is a GKE environment I'd have to check how/if we can change kube-proxy log level.

My understanding of the issue is that it's not that the conntrack entries are flushed, is that they are flushed **_before_** the nat iptables rules are created, causing faulty conntrack entries to be created in the interim (since the udp packets are incoming all the ti

[2021-07-29 00:09] krzysiekg commented on #102430
@serathius here's how I ran performance tests locally using kind

1. Build node image
[code]

2. Create kind cluster (example config for single node, json format and verbosity 4)
[code]

For single node cluster it's also necessary to set this env, otherwise tests won't compile
[code]

3. Run tests (from perf-tests/clusterloader2 dir)
[code]

Kubelet CPU and Mem usage will be in ResourceUsageSummar

[2021-07-29 00:10] dkulchinsky commented on #103857
@aojea, I'm having some miscommunication about the availability of fix in https://github.com/kubernetes/kubernetes/pull/98305 with GCP/GKE support 😞 and was hoping you could confirm that https://github.com/kubernetes/kubernetes/pull/98305 is included in v1.20.5 (as per the release notes there? https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#changelog-since-v1204)

[2021-07-29 00:21] thockin commented on #103286
The upstream fix merged.  We need to update our dep on golang.org/x/time/rate to pick it up.

[2021-07-29 00:55] gjkim42 commented on #97722
Reproduced at master, release-1.22.

The current source doesn't respect terminationGracePeriodSeconds of static pods.
And even worse, if we update a static pod twice before the grace period seconds is running out, the pod is stuck in the ERROR status forever. (Maybe there is a deadlock)

@ehashman @SergeyKanzhelev

/open

[2021-07-29 00:57] gjkim42 commented on #97722
Looking for a workaround.

/reopen

[2021-07-29 01:00] bobbypage commented on #103366
Thanks for digging deeper into this @YanzhaoLi. I'm still a bit confused on the relationship between this and systemd cgroup driver. Do the labels being missing have something to do with systemd cgroup driver being used?

[2021-07-29 01:03] rwkarg commented on #62099
Anyone following this have a workaround for mounting a secret, consuming the file (only need it when starting up the process), and then deleting the file so it's not sitting on the file system for the life of the container?

[2021-07-29 01:09] YanzhaoLi commented on #103366
@bobbypage  We didn't use the default but used `--container-runtime-endpoint=/var/run/containerd/containerd.sock` and not specified `--container-runtime `

[code]

[2021-07-29 01:16] bobbypage commented on #103366
Interesting! In the test I made in https://github.com/kubernetes/kubernetes/issues/103366#issuecomment-885299331 the container-runtime-endpoint is set to default (i.e. `unix:///run/containerd/containerd.sock`).

https://github.com/kubernetes/kubernetes/blob/fffaadc01331cca57cafa0fc066a2a3eec23acb8/cluster/gce/util.sh#L826-L833

[2021-07-29 01:17] Lanyujiex commented on #103929
I  got it

[2021-07-29 02:00] kerthcet commented on #103970
/sig scheduling

[2021-07-29 02:05] Lovnx opened #103996 "Sidecar container lifecycle feature"
From the post 'https://banzaicloud.com/blog/k8s-sidecars/' ,we know that k8s 1.18 supprot sidecar container for adding 'lifecycle.type=Sidecar' feature. But from previous [issue](https://github.com/kubernetes/kubernetes/issues/94453), @rata replied that It was planned to ship on 1.18, but it didn't and it didn't also on 1.19. I wanna konw, There is still no support for this feature yet?

[2021-07-29 02:46] njuptlzf commented on #103113
Yes, the purpose of this issue is to **narrow the range of users of the cluster**.
But because it happens during `authentication`, I prefer to use `allow login` instead of calling it `assert any identity`,
and the prerequisite scenario is indeed `root CA abuse`. (uncommon)

In addition, groups may not be involved, it happens in `authorization`.

Thank you for your explanation.

[2021-07-29 03:12] kerthcet commented on #103970
I do not support the idea yet.🤧  PDB is help to limit the number of Pods  down simultaneously by voluntary disruptions, it is focus on ha not scheduling, separation of concerns i think. And can I know about the reason what causes the pod not-ready? @tnozicka

[2021-07-29 03:18] kerthcet commented on #103584
/close
reopen if you still have problems.

[2021-07-29 03:25] neolit123 commented on #103978
hello, this can happen if for some reason your cluster ended up without the permissions the error message explains.
these permissions are added when you call `kubeadm init --upload-certs ...` or on demand with the `kubeadm init phase upload-certs --upload-certs` phase.

you could then have called `kubeadm join --certificate-key ...` and requested to download the certificates, but the joining node

[2021-07-29 03:25] #103978 closed

[2021-07-29 03:25] neolit123 commented on #103978
/sig cluster-lifecycle

[2021-07-29 03:26] neolit123 commented on #103996
/sig node

[2021-07-29 04:47] neolit123 commented on #103994
/area provider/azure

[2021-07-29 04:49] gl-gh-hchouraria opened #103998 "Admission Control webhooks' timeout error message should carry hook names"
#### What would you like to be added:

When admission control webhooks time out, the timeout error message must include the list of hooks called

#### Why is this needed:

When multiple webhooks are at play, the list of relevant webhooks in the error message of a timeout is helpful in spotting the source of the issue

Existing error message is very vague, and includes no detail:

[code]

- https:/

[2021-07-29 04:50] hchouraria commented on #103998
/sig api-machinery

[2021-07-29 05:48] #99571 closed

[2021-07-29 06:33] sahilvv opened #104000 "Broken protobuf releases github URL link"
#### What happened:
google protobuf repository has moved from old location pointing currently to https://github.com/google/protobuf/releases

#### What you expected to happen:
Point scripts to the new location https://github.com/protocolbuffers/protobuf/releases

#### How to reproduce it (as minimally and precisely as possible):
https://cs.k8s.io/?q=google%2Fprotobuf%2Freleases&i=nope&files=&exclu

[2021-07-29 06:34] sahilvv commented on #104000
@dims FYI

[2021-07-29 06:34] sahilvv commented on #104000
/assign sahilvv

[2021-07-29 06:34] ravipwaghmare opened #104001 "Is there any way to convert my k8s CRD into OpenApi json ?"
This is my Sample CRD and I want to generate OpenAPI JSON from it.
Is there any way to do it automatically?
---
            apiVersion: apiextensions.k8s.io/v1beta1
            kind: CustomResourceDefinition
            metadata:
              annotations:
                controller-gen.kubebuilder.io/version: v0.2.4
              creationTimestamp: null
              name: sampleapps.app.mydomain

[2021-07-29 07:16] #103728 closed

[2021-07-29 07:23] aojea commented on #103857
I see the commit in 1.20.5 , this is the cherry-pick https://github.com/kubernetes/kubernetes/pull/99017/
[code]

The conntrack entries are always deleted after the conntrack entries are created, there is some code that detects that a service goes stale and based on that it deletes the entries.
I think that current code detects this case, at least I know it works when the service goes from 0 to 1

[2021-07-29 07:33] 0asp0 commented on #64023
This issue still exists in v1.19.11

[2021-07-29 07:33] 0asp0 commented on #64023
/reopen

[2021-07-29 08:25] wzshiming commented on #101565
/remove-lifecycle stale

[2021-07-29 08:30] sleshchenko commented on #91732
/remove-lifecycle rotten

[2021-07-29 09:21] Patrick0308 opened #104005 "`kubectl exec` was failed when use socks5 proxy"
#### What happened:
[code]

#### What you expected to happen:
Not fail.

#### How to reproduce it (as minimally and precisely as possible):
To create a socks5 proxy though ssh tunnel or another way.
And add config in ~/.kube/config, for example;
[code]
#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
-

[2021-07-29 09:27] wojtek-t commented on #103651
@jingxu97 - what is the plan for reenabling them?

[2021-07-29 09:38] Sebor commented on #89903
About **EKS**: the symlink way did not work for me. But using deprecated flag in kubelet args:
[code]
solved the problem

[2021-07-29 10:22] rata commented on #103996
No there is no support for this yet.

The KEP started a big discussion on some more fundamental issues. This email thread has a link to the KEP discussion, the use cases that were collected and the pre-proposals that were created since then (so far two, one exploring pod phases by Tim Hockin, another exploring using a DAG for dependencies by me).

@matthyx was trying to move this forward, I'm tryi

[2021-07-29 10:42] mcbenjemaa commented on #104001
/kind support

[2021-07-29 11:56] barucoh commented on #95693
/remove-lifecycle stale

[2021-07-29 12:22] mccricardo commented on #101538
Thank you for the clarifications @madarez. Regarding point **1.**, could it be that you didn't get the logs because the node was under pressure, the pod was evicted and started on another node?

[2021-07-29 13:17] YanzhaoLi commented on #89903
Hi, @Sebor  do you know why  the symlink way not work?

[2021-07-29 13:29] dims opened #104007 "Use golang-jwt/jwt instead of form3tech-oss/jwt-go"
We used to have dgrijalva/jwt-go a while ago which was unmaintained. So folks switched to a fork in `form3tech-oss` org. However there is a community maintained fork at https://github.com/golang-jwt/jwt we should be using.

Links:
- https://github.com/Azure/go-autorest/issues/642
- https://cloud-native.slack.com/archives/C01GVR8SY4R/p1627562086149400

[code]

So what do we need to do? Persuade the

[2021-07-29 13:29] dims commented on #104007
/sig auth

[2021-07-29 13:45] RinkiyaKeDad commented on #104007
/assign

[2021-07-29 13:46] rata commented on #65502
@thepip3r cool, thanks! Please see the google doc linked in [this email thread][link] and add the use case there!

[link]: https://groups.google.com/g/kubernetes-dev/c/pY6AOwIgs8Y/m/Ptymao18CwAJ

[2021-07-29 14:05] savitharaghunathan commented on #103651
cherry-pick https://github.com/kubernetes/kubernetes/pull/103983 merged!

[2021-07-29 14:41] dkulchinsky commented on #103857
Thanks for confirming @aojea!

I just checked and `kube-proxy` seem to be already running in log level 2:
[code]

I looked back at the logs when this issue was identified and I see the following entries:

[code]

This two messages and only these two repeat every time we tried to rollout the deployment.

`32741` is indeed the `nodePort` and `172.31.14.114` is the ClusterIP of the service:
[code]

[2021-07-29 14:42] deads2k opened #104008 "apiserver_admission_controller_admission_duration_seconds_bucket is very large in 1.22"
#### What happened:
Running a 1.22 beta and the standard e2e test suite, we found that apiserver_admission_controller_admission_duration_seconds_bucket grew very large, very quickly.  Large enough to lead to instability as our monitoring stack repeatedly read them.

https://github.com/kubernetes/kubernetes/pull/101208#discussion_r679200100 looks like a prime candidate.  We are attempting a revert

[2021-07-29 14:43] deads2k commented on #104008
/cc @s-urbaniak

[2021-07-29 14:43] deads2k commented on #104008
/milestone 1.22

[2021-07-29 14:43] deads2k commented on #104008
/milestone v1.22

[2021-07-29 14:43] deads2k commented on #104008
/priority important-soon

[2021-07-29 14:59] aojea commented on #103857
oh wait, by external IP you mean `LoadBalancer Ingress:        <External IP>`?

[2021-07-29 14:59] jingxu97 commented on #103651
Cheng and I will work on solving IsLikelyNotMountPoint issue for hostpath drivers. That should allow test to pass and we can enable them.

[2021-07-29 15:20] aojea commented on #103857
/triage accepted
/assign

[2021-07-29 15:39] aojea commented on #103857
here you go,
https://github.com/kubernetes/kubernetes/pull/104009

having good reports on bugs make them easy to spot ;)

[2021-07-29 15:55] safronovD commented on #53459
+1

[2021-07-29 16:12] smarterclayton commented on #103879
Looking through the remaining node-serial tests, I think most of them are unrelated to my changes to pod lifecyle except possibly `E2eNode Suite: [sig-node] GarbageCollect [Serial][NodeFeature:GarbageCollect] Garbage Collection Test: One Non-restarting Container Should eventually garbage collect containers when we exceed the number of dead containers per container`, which I am investigating now.

[2021-07-29 16:22] krmayankk commented on #91628
/assign @stevemcquaid

[2021-07-29 16:23] YanzhaoLi commented on #103366
@bobbypage  With debugging, I found that on kubernetes 1.21.2 when using different cgroup driver, the cgroupPath format of containers are different.
1. kubelet: systemd + containerd:cgroupfs
[code]
2. kubelet: systemd + containerd: systemd
[code]
3. kubelet: cgroupfs + containerd: cgroupfs
[code]

The `caInfos := getCRICadvisorStats(allInfos)` would return a map using the path.Base of cgroupPath h

[2021-07-29 16:24] dkulchinsky commented on #103857
@aojea indeed! I apologize if I wasn't clear 😓 indeed I was referring to the LoadBalancer Service External IP.

Thanks for fix!!! 🥳

But now I'm a bit confused, since I understood that LoadBalancer Service External IP == LoadBalancer Ingress IP, but I see these are two separate attributes?

so for example:
[code]

[code]

These `<External IP>` are the same IP, but internally they are separate attr

[2021-07-29 16:29] YanzhaoLi commented on #103366
To sum up, `custom containerd socket path` and `cgroup drivers` are two different cases that caused this issue.
For the `cgroup driver` case, I think it's a bug we need fix: we should make sure the key of `caInfos` always be `containerID`

BTW @bobbypage  do you know why the cgroupPath format are different when using different cgroup driver?

[2021-07-29 16:32] bootc opened #104012 "CronJob controller V2: breaks "@every [interval]" jobs"
#### What happened:

In K8s 1.21, CronJobs with a `.spec.schedule` with a value containing something like `@every 6h` are inconsistently scheduled, and the CronJob's `.status.lastScheduleTime` field does not match reality.

For example, I have a CronJob configured as above. It runs every 6 hours as long as the kube-controller-manager pod isn't restarted, but the `.status.lastScheduleTime` is curre