[2018-09-25 23:49] arianitu commented on #44273
I'm also running into this, is this just a resource issue, do I need to add more nodes?

[2018-09-26 00:00] #68512 closed

[2018-09-26 00:00] #68692 closed

[2018-09-26 00:01] kow3ns commented on #69001
This is a dup of [36601](https://github.com/kubernetes/kubernetes/issues/36601). This was closed because its unlikely to be implemented as a core resource and we won't be modifying DaemonSet to be run once. You should consider implementing an extension that meets this use case using [kubebuiler](https://github.com/kubernetes-sigs/kubebuilder) or [metacontroller](https://github.com/GoogleCloudPlatf

[2018-09-26 00:01] #69001 closed

[2018-09-26 00:02] kow3ns commented on #69001
/assign kow3ns

[2018-09-26 00:09] kow3ns commented on #68738
/remove-sig apps

[2018-09-26 00:15] tossmilestone commented on #68963
@shubheksha yes, if you are not working on it, I will have a try. Thanks!

[2018-09-26 00:50] neolit123 commented on #69000
/kind bug
/sig release

[2018-09-26 00:53] sam-untapt commented on #49387
FYI:

`kubectl get pods --field-selector=status.phase!=Succeeded`

Can be used to filter out completed jobs, which appear to be included by default as of version 217.

Not:

`kubectl get pods --field-selector=status.phase!=Completed` which, to me, would be more rational, given that the STATUS is displayed as 'Completed'.

[2018-09-26 01:01] shigy123456 commented on #66063
It may be useful to use the following statement：
kubectl delete pod XXX -n XXX
when delete pod,kubelet will detach the volume.

[2018-09-26 01:05] #67467 closed

[2018-09-26 01:12] #68643 closed

[2018-09-26 01:28] WanLinghao commented on #68607
@smarterclayton WDTY about this proposal

[2018-09-26 01:32] dghubble commented on #68840
Known issue draft for https://github.com/kubernetes/kubernetes/issues/68973

kube-controller-manager currently needs a writable `--cert-dir` (default is `/var/run/kubernetes`) for generating self-signed certificates, when no `--tls-cert-file` or `--tls-private-key-file` are provided.

[2018-09-26 01:37] dghubble commented on #68840
Known issue draft for https://github.com/kubernetes/kubernetes/issues/68986

The `system:kube-controller-manager` ClusterRole lacks permission to `get` the `configmap` extension-apiserver-authentication. kube-controller-manager errors if run with a service account bound to the clusterrole.

[2018-09-26 02:00] timothysc commented on #68066
/cc @kubernetes/cncf-conformance-wg

[2018-09-26 02:18] k82cn commented on #69039
/sig cli
/sig apps

[2018-09-26 02:31] feiskyer commented on #69060
+1 to stop the unknown container first before creating a new one.

[2018-09-26 03:17] CaoShuFeng commented on #69039
/assign

[2018-09-26 04:31] PatrickLang commented on #65305
@y325A - is this a Windows-only problem, or do you see a network traffic spike on Linux as well?

[2018-09-26 04:31] achalshant commented on #68981
Hey, I'd like to work on this. What are my next steps?

[2018-09-26 05:11] feiskyer opened #69075 "Node's internal IP is missing sometimes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig azure

**What happened**:

[code]

The internal IP address is got from instance metadata. I suspect the instance metadata may not be stable, e.g. it has undocumented rate limits (refer #67478).

Cross refer https://github.com/Azure/acs-engine/issues/3503.

**What you expected to happen**:

**How to reproduce it (as minimally and precise

[2018-09-26 05:29] bsalamat commented on #66549
It is true that podEligibleToPreemptOthers returns false in such case, but it should return false. What is the issue?

[2018-09-26 06:14] tbchj commented on #68036
@sudeshsh     I also want to know how to solve the problem you said.
during my job, I often encounter this kind of scene. almost all pod run on the same node, but other nodes are free. then, some pods status are pending ,how to do except use command 'edit'

[2018-09-26 06:28] brancz commented on #68918
/close

[2018-09-26 06:28] #68918 closed

[2018-09-26 06:36] prakashmishra1598 opened #69082 "Ceph RBD expansion fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**: I was stuck at an issue while trying to resize Ceph RBD persistent volumes on K8s 1.11 provisioned using kubeadm on Centos 7.5 AMIs on AWS. I am using the rbd-provisioner deployment as specified in the kubernetes-incubator project(https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd/deploy) and ha

[2018-09-26 06:37] Syhoman opened #69083 "High CPU usage of pods and nodes"
**What happened**:
Many pods always face high CPU usage all the time and reach 100% CPU usage. However, RAM usage is less than 10% all the time (I have 30GB RAM per each node). As a result, CPU usage of nodes is always 100%.  I am using Amazon instances as nodes and already upgraded the instance type from c4.xlarge to r4.xlarge with more RAM and 4 cores CPU for each node. But CPU usage remains hig

[2018-09-26 06:42] Syhoman commented on #69083
/sig node

[2018-09-26 06:50] vasicvuk commented on #53533
I must agree that the swap issues should be solved in Kubernetes since disabling swap causes Node failure when running out of memory on node. For example if you having 3 worker nodes (20GB of ram each) and one node goes down because the limit of ram is reached 2 other worker nodes will also go down after transferring all the pods to them in that time.

[2018-09-26 07:39] matthiasr commented on #53533
You can prevent this by setting memory requests according to the actual
application's need.

If one third of your application's memory is on 2 orders of magnitude
slower storage, will it be able to do any useful work?

On Wed, Sep 26, 2018 at 6:51 AM vasicvuk <notifications@github.com> wrote:

[2018-09-26 08:10] chxiaowu commented on #61224
Thanks！ Using vm， the images are copy. So the hostname are same. changed hostname will be fine.

[2018-09-26 08:18] vasicvuk commented on #53533
@matthiasr You can do that when you have 10-50 services. But when u have Cluster running over 200 services and half of them are deployed using official Helm charts without any memory request in them your hands are tide.

[2018-09-26 08:36] soltysh commented on #53331
`activeDeadlineSeconds` should kill the job upon exceeding this time, iow. failing it and being available to be removed.

[2018-09-26 08:41] pastukhov commented on #36222
1.11
Still same

[2018-09-26 08:51] aliasmee commented on #47711
### Env
OS: ubuntu 16.04
kubernetes version: v1.8.4

hi, I have the same problem now. 🤦‍♂️
#### service desc
[code]

#### get pod from selector
[code]

#### get endpoint
[code]

`Oddly enough, the endpoint appeared again two minutes later:`

$ kc get endpoints -njenkins
[code]

This situation has been going on for a long time and no solution has been found.
Help out. Thanks

[2018-09-26 08:57] b0ric commented on #60134
just faced the same issue on AWS EC@ instance with Amazon Linux 2 installed

[2018-09-26 08:59] ant31 commented on #69001
Also I'd recommend to just use a ds with a control-loop if the state of the node.

Instead of deploying a job that install something once, I d deploy a daemonset that checks if it's deployed every n minutes.

This way it would sustain misconfiguration/reboot/manual edit or anything that would maybe reset the state.

[2018-09-26 09:18] jprukner opened #69090 "Bug in generated docs, missing jquery"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I was reading API reference, clicked on a button that says "curl request example" and nothing happened.
**What you expected to happen**:
I expected an example to be shown.
**How to reproduce it (as minimally and precisely as possible)**:
Click the button "curl request example" in API reference v1.11. It is caused by miss

[2018-09-26 09:19] jprukner commented on #69090
/sig docs

[2018-09-26 09:29] bronger commented on #53533
But then, isn’t missing memory requests the problem to be addressed?

[2018-09-26 09:35] hoegaarden commented on #68937
/sig-cli

[2018-09-26 09:40] jprukner commented on #69090
wrong repo, sorry, closing

[2018-09-26 09:40] #69090 closed

[2018-09-26 09:41] mlmhl commented on #69082
The rbd resize operation is executed by kube-controller-manager, is the `rbd` command available on controller's node?

[2018-09-26 10:00] kondapally1989 opened #69091 "Kubernetes pod rolling restarts for statefulsets"
** FEATURE REQUEST ?**:

 /kind feature

**What happened**:
I know much has been discussed about rolling restarts of pod in issue https://github.com/kubernetes/kubernetes/issues/13488

and most people are suggesting  rolling update with combination of patch

but in an environment where we still want apps(in pods) to service the request and undergo restarts(i.e one by one.)

when we do the patch ca

[2018-09-26 10:04] CaoShuFeng commented on #69039
kubectl get -f job.yaml also doesn't work as expected.

[2018-09-26 10:06] kondapally1989 commented on #69091
/area app-lifecycle
/sig architecture

[2018-09-26 10:10] ricky1993 commented on #68997
Query your metrics server directly to see if the data return correctly.

[2018-09-26 10:13] kondapally1989 commented on #69091
/kind feature

[2018-09-26 10:15] alvaroaleman opened #69093 "Controller-Manager uses in-cluster token when `--kubeconfig` is specified in v1.12.0-rc.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We run Kubernetes in Kubernetes, AKA the control plane components run as pods, having their apiserver address and auth specified via `--kubeconfig kubeconfigfile`.

Testing this with ` v1.12.0-rc.2` results in the controller-manager crashlooping with a

[code]

error. That user however stems from the token of the default

[2018-09-26 10:31] dims commented on #69093
@alvaroaleman please see https://github.com/kubernetes/kubernetes/pull/69062 and https://github.com/kubernetes/kubernetes/issues/68986

could this be a duplicate of that issue/pr in progress? (if so, please try `--authentication-skip-lookup`)

[2018-09-26 10:49] aermakov-zalando commented on #68998
What I'm trying to say is that clusters running 1.11 should automatically handle resources with missing or unset `.metadata.generation` by updating it to 1. It doesn't make sense to keep them in this broken state forever just because they were created in one of the previous versions.

[2018-09-26 10:57] aermakov-zalando commented on #68998
Actually, after editing the resource the `generation` is updated to 1, so I can just default to `0` in the controller. For some reason I thought that the resource stays broken forever, which is not the case.

[2018-09-26 11:05] nikhita commented on #68998
We can still do this, but I'm wondering if that's ok or not because that wouldn't represent the "true" generation value for that resource. Have the same questions for https://github.com/kubernetes/kubernetes/pull/68978, which initializes and increments generation for all other resources. :thinking:

[2018-09-26 11:07] nikhita commented on #69000
Quick update here: The publishing bot is having problems with tagging across all repos right now (it misses a few commits). Tagging has been disabled to avoid wrong commits until the root cause is nailed down.

[2018-09-26 11:16] smarterclayton commented on #68607
Yeah, this seems like a bug.  I can’t offhand think of a use case for respecting the http_proxy on a node, and plenty of disadvantages.  We need to verify that assumption.

/kind bug

[2018-09-26 11:40] dims commented on #69040
/sig release

[2018-09-26 11:45] alvaroaleman commented on #69093
@dims Yes, adding `--authentication-skip-lookup` fixes the issue, seems like the controller-manager falls back to using the token if it gets an access denied before.

Thanks for the hint, i'll watch the linked issue!

[2018-09-26 11:45] #69093 closed

[2018-09-26 11:55] dims commented on #69040
Looks like git behavior - https://github.com/git/git/commit/e6c587c733b4634030b353f4024794b08bc86892

and other folks are running into it too https://github.com/warner/python-versioneer/issues/156

[2018-09-26 11:55] stuartherbert commented on #68573
I've hit this on:

- 1.10.4
- 1.10.5
- 1.10.8
- 1.11.2
- 1.11.3

It's a major issue for my customer atm.

[2018-09-26 11:56] dims commented on #69040
/sig release

[2018-09-26 11:56] #68751 closed

[2018-09-26 11:57] #68804 closed

[2018-09-26 12:12] WanLinghao commented on #68607
@smarterclayton  Do you think we should provide some mechanism to let users choose using node's proxy or not.  Or just simply disable the use of node's proxy.

[2018-09-26 12:21] hextrim commented on #67389
Hi,

I have the same problem with 1.11.3 and HA cluster detailed in https://kubernetes.io/docs/setup/independent/high-availability/

I have HAproxy LB.

frontend k8s-api
    bind 192.168.1.30:6443
#    bind 127.0.0.1:443
    mode tcp
    option tcplog
    default_backend k8s-api-backend

backend k8s-api-backend
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-

[2018-09-26 12:23] okgolove opened #69095 "Ingress address doesn't change"
/kind bug

**What happened**:
Ingress address doesn't change

**What you expected to happen**:
Change ingress address in status or maybe clear it.

**How to reproduce it (as minimally and precisely as possible)**:
I have 2 nginx-ingress controllers with different classes:
* internal
* nginx

External nginx service created with default settings
Internal nginx service created with annotation:
```ser

[2018-09-26 12:29] smarterclayton commented on #68607
I’m not sure when a user would need a remote proxy to access pods from the
kubelet, so without a use case I don’t think it should be made a choice.

Let’s try to find out whether there is a legitimate reason for this.

On Sep 26, 2018, at 8:13 AM, WanLinghao <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Do you think we should
provide some mechanism to let u

[2018-09-26 12:56] mkumatag commented on #57869
all the k8s core images are now fat manifest, hence closing this task. Will create a separate task for creating manifest for ecosystem images(e.g dashboard, metric-server etc...)

[2018-09-26 12:56] #57869 closed

[2018-09-26 13:09] #61345 closed

[2018-09-26 13:32] dmitriy-lukyanchikov opened #69096 "kube-controller-manager cannot start with authentication"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I tried to use https secure connections with authentication for kube-controller-manager but no luck. Connection is secured but without authentication, in logs i get
[code]
Not sure how i can enable authentication, maybe i miss something

**What you expected to happen**:

**How to reproduce it (as minimally and precisely

[2018-09-26 13:55] dmitriy-lukyanchikov commented on #69096
/kind bug

[2018-09-26 13:57] dmitriy-lukyanchikov commented on #69096
/sig api-machinery

[2018-09-26 14:02] mkumatag opened #69098 "Multi-architecture fat manifest for kubernetes ecosystem"
This issue is for pushing multi-architecture fat manifest images for kubernetes ecosystem

- [ ] [kubernetes/dashboard](https://github.com/kubernetes/dashboard)
- [ ] [kubernetes/node-problem-detector](https://github.com/kubernetes/node-problem-detector)
- [ ] [kubernetes-incubator/metrics-server](https://github.com/kubernetes-incubator/metrics-server)
- [ ] [kubernetes/ingress-nginx](https://gith

[2018-09-26 14:08] geomarsi commented on #67389
Hello @hextrim
Did you first copy the content of /etc/kubernetes/... from Master1 to Master3 before dropping any kubectl and kubeadm commands on Master3?

[2018-09-26 14:23] ITler opened #69100 "k8s does not work after renewing cloud provider aadClientSecret"
**Is this a BUG REPORT or FEATURE REQUEST?**: not sure, maybe a help request or feature request for providing documentation for specific use-case

**What happened**:
My cloud provider's (Azure) service principal's credentials were expired, so k8s is not able to perform actions anymore (e.g. binding persistent volumes).
What I did already:

1. Renew credentials for service principal... verified wor

[2018-09-26 14:27] hextrim commented on #67389
Hi @geomarsi,

Thanks for reaching out...

Obviously I did...

The steps on the manuall 1.11 are not straight forward..

After a init I enabled flannel so etc was able to start as pod etc... but as connections go through LB I still get:

Sep 26 15:19:40 ht-dkh-01 kubelet: E0926 15:19:40.882215   17402 reflector.go:205] k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47: Failed to list *v1.Pod: G

[2018-09-26 14:28] ITler commented on #69100
@kubernetes/sig-auth-misc

[2018-09-26 14:28] hextrim commented on #67389
also:
on node2:

Sep 26 15:28:03 ht-dkh-02 kubelet: E0926 15:28:03.162940   11582 kubelet.go:1598] Failed creating a mirror pod for "kube-scheduler-ht-dkh-02_kube-system(009228e74aef4d7babd7968782118d5e)": Post https://ht-dklb-01:6443/api/v1/namespaces/kube-system/pods: EOF

[2018-09-26 14:29] hextrim commented on #67389
[root@ht-dkh-01 ~]# kubectl get pods
Unable to connect to the server: EOF
[root@ht-dkh-01 ~]# kubectl get all -n kube-system
Unable to connect to the server: EOF

So master on this host worked until I attempt to add master2, then it all break apart.....

[2018-09-26 14:31] prakashmishra1598 commented on #69082
@mlmhl, Yes, the rbd command is available on the controller's node.

[2018-09-26 14:33] marucjmar opened #69101 "Node crash; Error updating node status, will retry"
Hey,
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
yesterday I have launched  the kubernetes node.
The node sometimes is unavailable for about 10 minutes, because the kubernetes node
hangs and consumes 100% cpu, and RAM. The kubernetes system starts automatically, after +/- 10 minutes, and the `Restarts` count for `kube-scheduler-linux` pod  has been incremented

The

[2018-09-26 14:39] marucjmar commented on #69101
@kubernetes/node

[2018-09-26 14:40] marucjmar commented on #69101
/sig node

[2018-09-26 14:56] gokultp commented on #8976
I would like to take this up.
/assign

[2018-09-26 14:59] hextrim commented on #67389
hi @geomarsi

Here are my all details and steps...

https://pastebin.com/W88CUSBt

Thanks in advance,

[2018-09-26 15:06] liggitt commented on #69100
/sig azure
/sig cloud-provider

[2018-09-26 15:29] tossmilestone commented on #66549
@k82cn does it mean some of the victims is terminating, and the other is still running? From the code, `podEligibleToPreemptOthers` will return false only if the nominated node has terminating pods with lower priority, so if part of victims are terminated, the preemptor can preempt again to delete the remaining victims.

[2018-09-26 15:33] mkumatag opened #69104 "Create fat manifest image for authenticated-image-pulling tests"
Currently in a few places `gcr.io/authenticated-image-pulling/alpine:3.1` image is used for testing deployment with authentication

Places used in: https://cs.k8s.io/?q=gcr.io%2Fauthenticated-image-pulling%2Falpine%3A3.1&i=nope&files=&repos=

This need to be replaced with proper fat manifest alpine image which is pointing to different architecture images.

[2018-09-26 15:34] tpepper commented on #68840
Known issue text should be coming for PR https://github.com/kubernetes/kubernetes/pull/69033 which looks to be slipping to 1.12.1.

[2018-09-26 15:34] mkumatag commented on #69104
/sig testing

[2018-09-26 15:35] mkumatag commented on #69104
/cc @ixdy @dims

[2018-09-26 15:44] aermakov-zalando commented on #68998
I've updated the issue since export is not relevant (and I think the `--export` logic resets generation to 1). However, the fact that for old CRDs `generation` is (internally) set to 0 is still problematic. Any custom controllers or monitoring code that checks `.status.observedGeneration` will not be able to tell whether they've been processed successfully by a controller or not (because both `.st

[2018-09-26 15:51] tpepper commented on #69000
Do we have an owner here working this in the hours @nikhita is not?

[2018-09-26 15:55] ITler commented on #69100
After some more digging through the internet, I found out by accident:

[code]

This solved it form me.

[2018-09-26 16:13] krmayankk commented on #68036
@tbchj this is for extended resources . For your case either you need to use the desheduler or use a customer scheduler policy file and use the least requested priority function ion

[2018-09-26 16:33] krmayankk commented on #68955
Sounds good , should have a pr by Friday @misterikkit and will discuss on slack

[2018-09-26 16:37] spiffxp commented on #57667
Remains blocked:
- editing other people's issues/PR's (titles, descriptions) for release notes
- creating/editing milestones (not /milestone, but creating the milestones that can be assigned with /milestone)

[2018-09-26 16:47] ixdy commented on #69104
/assign @ixdy @Random-Liu

[2018-09-26 16:47] ixdy commented on #69104
@mkumatag do you know of any easy commands/scripts to run to do this? otherwise I can look into it

[2018-09-26 17:05] mkumatag commented on #69104
@ixdy here are steps you can follow to push alpine:3.7 fat manifest image:

[code]

[2018-09-26 17:06] enj opened #69106 "Failure cause is difficult to determine on test-integration"
(sorry if this is a dupe)

On https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/69044/pull-kubernetes-integration/28676/ the failure is reported as:

[code]

After some effort sifting through I was able to determine the actual failure:

[code]

The important part being:

[code]

It would be really helpful if the failure message told me to look at `test/cmd/generic-resources.

[2018-09-26 17:11] BenTheElder commented on #69106
This should be fairly straightforward if anyone wants to take it up

/help
/good-first-issue

[2018-09-26 17:18] ixdy commented on #69104
I'm guessing `docker pull arm32v/alpine:3.7` was a typo?

Also -  `docker manifest push --purge` - we may want to add `--purge` to our various Makefiles?

[2018-09-26 17:19] sidewinder12s commented on #53331
@soltysh Thanks for the tip, does `activeDeadlineSeconds` behave any differently between how it's defined in batch spec vs pod spec?

I'll give it a try adding that to our batch spec to see if it solves the issue of 1000s of pods for us.

It would appear this isn't very intuitive and has burned quite a few people, should this perhaps have a defined default to keep people from shooting themselves i

[2018-09-26 17:32] mkumatag commented on #69104
Thanks a lot @ixdy. will have to use that `--purge` everywhere.

[2018-09-26 18:17] chadswen commented on #67730
Great find. We ran into this when testing our transition to IPVS since a few of our clients depend on localhost:nodeport.

Is there anyone that could comment that might know more conclusively if changing the local route table has side effects? We're itching to ditch iptables mode and this is the last issue we've found.

[2018-09-26 18:38] timothysc opened #69107 "RFE: E2Es: UID Label all things"
**Is this a FEATURE REQUEST?**:
Add the ability to auto label all the sub-resources to have a global cleanup mechanism using label selectors.

**What happened**:
Sub-resources can sometimes be stuck in terminating at the end of an e2e conformance run.

**What you expected to happen**:
Cleanup all the things.

**How to reproduce it (as minimally and precisely as possible)**:
Re-run tests or termina

[2018-09-26 18:39] spiffxp commented on #69107
/sig testing

[2018-09-26 18:53] timothysc opened #69110 "RFE: E2E: Upstream kube_conformance container"
**Is this a FEATURE REQUEST?**:
This container: https://github.com/heptio/kube-conformance should really live upstream and be a build artifact owned by k/k.

/sig testing
/kind feature
/cc @kubernetes/sig-testing @kubernetes/cncf-conformance-wg

[2018-09-26 18:56] timothysc commented on #69107
xref: https://github.com/heptio/sonobuoy/issues/531

[2018-09-26 19:02] uablrek commented on #68437
The NodeIPs() function [here](https://github.com/kubernetes/kubernetes/blob/07e81cb8ff590d096a61e951a3e6b4fc9076fb08/pkg/proxy/ipvs/proxier.go#L1098) seem to return only ipv4 addresses.

[2018-09-26 19:05] uablrek commented on #68437
I can't see why (yet) since `FAMILY_ALL` is used in the GetLocalAddresses function [here](https://github.com/kubernetes/kubernetes/blob/07e81cb8ff590d096a61e951a3e6b4fc9076fb08/pkg/proxy/ipvs/netlink_linux.go#L175)

[2018-09-26 19:14] #62561 closed

[2018-09-26 19:16] uablrek commented on #68437
/cc @m1093782566

Please give a hint before I dive into the netlink code.

[2018-09-26 19:23] jraby opened #69112 "kubeadm upgrade apply --feature-gates=CoreDNS=true crashes if kube-dns cm does not exist"
/kind bug
/sig cli

**What happened**:
running `kubeadm upgrade apply --dry-run --feature-gates=CoreDNS=true 1.10.8` crashes with the following error:

[code]

**What you expected to happen**:

The upgrade should proceed as if the configmap was empty or exit with an error stating that the configmap is missing.

**How to reproduce it (as minimally and precisely as possible)**:

remove `kube-dns` cm

[2018-09-26 19:32] glerchundi opened #69113 "Bug: Variables coming from Config/Secret aren't expanded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Tried to use the variable expansion feature by using an environment in a `ConfigMap` by using  `envFrom` thing.

**What you expected to happen**:

Expand variable.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a `Secret` with a data key `DB_PASSWORD: xxxx`
2. Create a `ConfigMap` with a da

[2018-09-26 19:35] glerchundi commented on #69113
xref: #1331

[2018-09-26 19:39] glerchundi commented on #69113
@kubernetes/sig-architecture-bugs

[2018-09-26 19:39] dberuben commented on #66153
I have the same issue with my nginx-ingress-controller:

`kubectl logs nginx-nginx-ingress-controller-6d4b788f57-xfmz9`

[2018-09-26 19:56] mkimuram opened #69114 "Fix descriptor lock release logic for block volume unmapDevice"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What you expected to happen**:

- Current call sequence of [```unmapDeviceFunc```](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L1069) generated by ```GenerateUnmapDeviceFunc``` is as follows:

  (1) Check that symlink doesn't exist in globalMapPath to ensure that no one is a

[2018-09-26 19:56] misterikkit commented on #68957
Hey, just so we're on the same page, it doesn't matter that the bot won't let me assign the issue to you. Let me know if you get stuck on this.

[2018-09-26 20:07] enj commented on #68810
@mikedanese from our last conversation I had one question: you said you wanted Kube-unaware components to be able to use a SA token for authentication but not authorization.  How is a Kube-unaware registry expected to handle authorization of a SA token?

[2018-09-26 20:13] woodcockjosh commented on #2630
For now, the hack that works is by setting user to root at the end of your dockerfile. And set a custom entrypoint script. Chown the volume in your custom entrypoint script then use gosu to run the default entrypoint script as the default user. The thing I hate about this is I have to do it for every single image that uses a volume in kubernetes.  Totally lame. Please provide a UID GUID option on

[2018-09-26 20:29] praseodym commented on #2630
That hack doesn’t work if you want to run a secure Kubernetes cluster with PodSecurityPolicies applied to enforce pods to run as a non-root user.

[2018-09-26 20:41] kow3ns commented on #68397
/assign kow3ns

[2018-09-26 20:50] woodcockjosh commented on #2630
True. All hacks have their downsides. It's either that or logging in as root after the volume is created and chowning the directory manually. Not sure really which is worse :-D. Can't believe this is even a thing.

[2018-09-26 20:54] kow3ns commented on #68432
/close fixed in [66480](https://github.com/kubernetes/kubernetes/pull/66480)

[2018-09-26 20:54] zerkms commented on #53533
@matthiasr in a lot of cases memory once mapped to the process only used once or never actually used. Those are valid cases and are not memory leaks. When you have swap those pages are eventually swapped and may never be swapped out again, yet you release fast ram for better use.

[2018-09-26 20:55] kow3ns commented on #68432
/close

[2018-09-26 20:55] #68432 closed

[2018-09-26 20:57] kow3ns commented on #69039
/remove-sig apps

[2018-09-26 21:01] aruneli commented on #69106
I will take this issue @BenTheElder

[2018-09-26 21:01] kow3ns commented on #68340
/remove-sig scheduling

[2018-09-26 21:01] kow3ns commented on #68340
/assign

[2018-09-26 21:19] kow3ns commented on #68046
/assign

[2018-09-26 21:29] mheese commented on #2630
@thockin from what I gather following this issue now since nearly 4 years, the solution that everybody wants is to be able to set a uid and gid for a volume - in particular secret volumes (but not only those). On Jul 6 you posted a starting point for a possible solution to this. If this is a supported path from the maintainers, I'd finally start and try to solve this problem.

[2018-09-26 21:31] kow3ns commented on #68002
/remove-sig apps

[2018-09-26 21:39] thaJeztah commented on #69034
Looks like this is not a bug; the moby ticket was closed; copying the comment from there for easier discoverability; https://github.com/moby/moby/issues/37902#issuecomment-424804113

[2018-09-26 21:42] #68740 closed

[2018-09-26 21:46] juanvallejo commented on #67773
/assign code-sleuth

[2018-09-26 22:01] dims commented on #2630
@mheese i'd say go for it.

[2018-09-26 22:04] woodcockjosh commented on #2630
@mheese I'll collab on a PR if you want?

[2018-09-26 22:15] krmayankk commented on #68397
@kow3ns  do you agree with this work ? Do you see other people asking for this ?

[2018-09-26 22:29] saad-ali opened #69122 "`system:csi-external-provisioner` role missing secret fetch access"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubernetes defines a set of pre-defined roles that some external components use. For example, it defines the `ClusterRole` `system:csi-external-provisioner` used by https://github.com/kubernetes-csi/external-provisioner

Although `csi-external-provisioner` and `csi-external-attacher` are now capable of fetching secrets (

[2018-09-26 22:32] saad-ali commented on #69122
Not all CSI drivers require permission to secrets, so modifying the default to allow secret read access may not be desirable.

There is also an effort underway (see https://github.com/kubernetes/kubernetes/issues/68819#issuecomment-423636593) to remove the pre-defined roles for external components and move them to manifest files hosted in the external component's external repo. The fix for this wi

[2018-09-26 22:51] mtaufen commented on #14733
/remove-lifecycle stale

[2018-09-26 22:52] #62130 closed

[2018-09-26 22:53] #67886 closed

[2018-09-27 00:03] misterikkit commented on #68954
After some discussion with @denkensk, creating the new constructor creates an import loop unless we do some extra work. The current plan is to take the plunge and remove the old constructors in this PR, migrating users to the new one.

The alternative involves adding a bunch of temporary complexity (i.e. a new package) during the migration.

This will likely cause conflicts with https://github.com

[2018-09-27 00:06] mikedanese commented on #68810
@enj Step 3 is supposed to cover that.

[2018-09-27 00:10] prameshj opened #69123 "dns test failure with dnsmasq 2.79"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
dns test failure when using kube-dns with dnsmasq 2.79
dnsmasq 2.79 introduced a change to respond to all norecurse queries with ServFail. This is to prevent cache snooping where an adversary can figure out if a particular hostname has been looked up or not.
http://www.thekelleys.org.uk/dnsmasq/CHANGELOG

We need to chang

[2018-09-27 00:17] prameshj commented on #69123
@kubernetes/sig-networking

[2018-09-27 00:17] prameshj commented on #69123
/sig networking

[2018-09-27 00:19] kfox1111 commented on #67376
see https://github.com/kubernetes/community/pull/2273

[2018-09-27 01:11] #65317 closed

[2018-09-27 01:50] neolit123 commented on #69123
/sig network

[2018-09-27 01:51] neolit123 commented on #69098
/sig release

[2018-09-27 02:28] feiskyer commented on #68840
Known issue for #69033:

Runtime handler and Windows npipe protocol are not supported yet in crictl v1.11.x. Those features will be supported in crictl [v1.12.0](https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.12.0), togather with Kubernetes v1.12.1.

[2018-09-27 02:35] stevekuznetsov commented on #69110
Questions I had in the meeting all surround how the container will run `ginkgo` - are we expecting it to self-resolve cloud provider details or be fed them? How will it choose a parallelism value? Overall idea here is great.

[2018-09-27 02:39] satishsudini opened #69128 "Kubernetes master node systemd process is taking 100% CPU and kubelet is not starting up"
Kubernetes master node systemd process is taking 100% CPU and kubelet is not starting up

Logs

journalctl -u kubelet -o cat

REDIRECT   tcp  --  anywhere             anywhere             tcp dpt:4443 redir ports 443
REDIRECT   tcp  --  anywhere             anywhere             tcp dpt:4443 redir ports 443
REDIRECT   tcp  --  anywhere             anywhere             tcp dpt:4443 redir ports 443
R

[2018-09-27 03:15] k82cn commented on #66549
That's right; I'm ok with current behaviour: preempt other pods again if err after terminating pod done.

[2018-09-27 03:27] tianshapjq commented on #68650
this may refer to [Compute Device Assignment](https://github.com/kubernetes/community/pull/2454)

[2018-09-27 03:40] BenTheElder commented on #69110
conformance tests are not supposed to be cloud provider aware! so that solves that :-)

for other details like parallelism, supply via args / env? worst case as long as the binaries are in PATH or a well known location the image user can always orchestrate it further however they need but still have canonical binaries to execute packaged up in an image.

[2018-09-27 03:45] tossmilestone commented on #66549
@k82cn alright, then nothing will changed.

[2018-09-27 04:07] niki-1905 commented on #55219
Can I work on this?

[2018-09-27 04:32] k82cn commented on #66549
/assign tossmilestone
/close

Thanks for your contribution :)

[2018-09-27 04:32] #66549 closed

[2018-09-27 04:36] andyzhangx commented on #69100
and also you should restart kubelet on agent nodes:
[code]

[2018-09-27 05:39] #69100 closed

[2018-09-27 05:59] #68561 closed

[2018-09-27 06:32] nikhita commented on #55219
@niki-1905 yes, please go ahead! :rocket:

[2018-09-27 06:54] shubheksha commented on #69128
/kind bug
/area kubelet
/sig node

[2018-09-27 07:12] k82cn commented on #60596
@ravisantoshgudimetla , I think we also need to update Priority admission controller for that.

[code]

[2018-09-27 07:16] liggitt commented on #60596
see later PR re-restricting this until the quota controls graduate to at least beta state: https://github.com/kubernetes/kubernetes/pull/65593

[2018-09-27 07:36] k82cn commented on #66042
/kind feature

[2018-09-27 07:37] k82cn commented on #60596
Got that, thanks :) That makes sense to me.

[2018-09-27 08:02] jsafrane opened #69137 "iSCSI panics in UnmountDevice"
**What happened**:
iSCSI volume plugin panics before logging out from an iSCSI target. The volume is unmounted and its device is deleted correctly just before, so Kubernetes did not complain much, this panic is hidden in logs and nobody noticed it.

One visible artifact: `iscsiadm -m session` still lists the session:

[code]

The panic:

[code]
(it's one long line, formatted for readability)

It p

[2018-09-27 08:12] k82cn opened #69138 "Move pkg/scheduler/algorithm/well_known_labels.go out"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind cleanup
/sig scheduling

**Description**:

It's better to move `pkg/scheduler/algorithm/well_known_labels.go` to `pkg/scheduler/api/` to avoid dependency cycle.  for example, `pkg/scheduler/algorithm/types.go` includes `schedulercache` which may also dependent on other pkgs.

Should be part of #68951 .

[2018-09-27 08:13] yastij commented on #65340
/remove-lifecycle stale

[2018-09-27 08:14] zonArt commented on #62061
I'd love to know too as I hit the same issue

[2018-09-27 08:16] tanshanshan commented on #69138
Could you assign it to me?

[2018-09-27 08:31] Lion-Wei commented on #67730
/assign

[2018-09-27 08:31] jsafrane commented on #69137
Another thing I noticed, when `DetachDisk` panics, it's re-tried by kubelet. And it tries to unmount already unmounted volume, which fails. `DetachDisk` should unmount a directory only if there is something mounted there.

[2018-09-27 08:39] lbernail commented on #67730
I really meant to look into it but I don't have the bandwidth at the moment
I'd like to look in details at the ipvs data path to know why it works with iptables and not ipvs to see if we can find a lighter solution
This one should work fine in most cases but my guess is it could create hard to debug issues that will be application specific (it shouldn't matter much if the node is only running kube

[2018-09-27 08:56] Lion-Wei commented on #67730
@lbernail I think you can find part of the answer here.
https://kubernetes.io/blog/2018/07/09/ipvs-based-in-cluster-load-balancing-deep-dive/

I will give a full test, and I think our ipvs ci can also cover most use cases, so don't worry. : )

[2018-09-27 09:06] lovejoy opened #69142 "[Mac OS/docker-machine] Could not connect to rsync container. See build/README.md for setting up remote Docker engine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I found
https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L678,L684
This code try to rsync files  to 127.0.0.1 mapped_port or container_ip  KUBE_CONTAINER_RSYNC_PORT but this two port can't be access from local mac environment when we use docker-machine : the mapped_port is bind to inside docker-machine

[2018-09-27 09:07] lovejoy commented on #69142
/sig contributor-experience

[2018-09-27 09:46] dmitriy-lukyanchikov commented on #69096
/kind bug

[2018-09-27 10:11] praveensripati opened #69144 "Panic in `kubectl status`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Running k8s on VirtualBox. Installation was done using kubeadm.

1) Created a deployment
k run nginx --image=nginx -r=2 --restart=Always

2) Ran `kubecl rollout undo` and there was a panic.

[code]
**How to reproduce it (as minimally and precisely as possible)**:
Create a deployment and do a `kubectl rollout undo` to get

[2018-09-27 10:39] surajssd opened #69146 "jsonpath with -1 as index panics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When giving `jsonpath` to `kubectl get ...` and if you provide `-1` as index value to the list, `kubectl` panics. While index value of `-2` works fine.

**What you expected to happen**:

When an index of `-1` is given in jsonpath it should refer to the last item in the list.

**How to reproduce it (as minimally and preci

[2018-09-27 10:40] surajssd commented on #69146
/sig cli

[2018-09-27 10:44] soltysh commented on #67773
/assign juanvallejo

[2018-09-27 10:45] indradhanush commented on #69146
I'm going to look into this over the next few days.

[2018-09-27 11:01] garethmorris78 opened #69147 "Unable to decode an event from the watch stream: stream error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Getting the following errors for cert-manager and nginx-ingress controller containers.

[code]
Error message  is flooding the logs but cert-manager and ngnix appear to be operating normally.

No other errors in the log before or after the above. No errors in kubelet logs either for the node hosting the containers.

**Wh

[2018-09-27 11:02] Pingan2017 commented on #69144
/sig cli

[2018-09-27 11:03] garethmorris78 commented on #69147
/sig Azure

[2018-09-27 11:10] Rajat-0 commented on #39090
@andrewsykim any update on this?
If you are not working on this then I would like to work on this.

[2018-09-27 11:37] Pingan2017 commented on #69144
@praveensripati see `kubectl rollout undo -h`

[2018-09-27 11:48] #52269 closed

[2018-09-27 11:48] #68899 closed

[2018-09-27 11:49] #48710 closed

[2018-09-27 12:06] gabrielfsousa commented on #39090
i would luv to have this feature

[2018-09-27 12:11] nikhita commented on #69146
@surajssd @indradhanush this looks like a dupe of https://github.com/kubernetes/kubernetes/issues/68578

[2018-09-27 12:53] mgdevstack commented on #67609
Remaining table-based [NodeConformance] tests would be promoted once #68339 is closed.

[2018-09-27 13:06] #68928 closed

[2018-09-27 13:06] #68716 closed

[2018-09-27 13:54] dakleine commented on #32987
We have this issue on 1.9.8 too!

[2018-09-27 14:18] #68964 closed

[2018-09-27 14:18] #68986 closed

[2018-09-27 14:54] andrewsykim commented on #39090
@Rajat-0 I was mostly waiting for one of the HPA owners to respond :). I had spoken with @DirectXMan12 last month and he said we should wait for https://github.com/kubernetes/kubernetes/pull/68122 to be merged first as it will change some of the scale down logic. Seems like that PR is merged and we should see if we're good to start this work now. @DirectXMan12 any comments?

[2018-09-27 16:07] Simonot opened #69158 "Kubelet eternally stuck in MountVolume.WaitForAttach when AttachVolume.Attach failed with enable-controller-attach-detach false"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

With enable-controller-attach-detach set to false, the kubelet is responsible for attachinf the volumes to its pods.
When rescheduling a node A with volumes 1, 2, 3 attached to pods on node B, we have some volumes that are not mounted correctly on node B.
We think there is a race condition in pkg/kubelet/volumemanager/re

[2018-09-27 16:09] EamonKeane commented on #66153
I have the same issue as @dberuben with `nginx-ingress-controller`.

[2018-09-27 16:11] Simonot commented on #69158
/sig cloud-provider
/sig openstack

[2018-09-27 16:12] swibrow commented on #57853
I also seen this happen to us today. We often enable and disable our test env shutdown cronjop. When I enabled the cron it created a job straight away and last scheduled time is incorrect.
```Major:"1", Minor:"8", GitVersion:"v1.8.7", GitCommit:"b30876a5539f09684ff9fde266fda10b37738c9c", GitTreeState:"clean", BuildDate:"2018-01-16T21:52:38Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd

[2018-09-27 16:16] hextrim commented on #67389
Hi @geomarsi I managed to setup "Stacked ETCD" behind HAproxy on CentOS7 7.5.1804:  without issues using kubeadm, kubectl, kubelet v1.11.3 following the official documentation here: https://kubernetes.io/docs/setup/independent/high-availability/ .

Next step is to setup the cluster with "External ETCD"

[2018-09-27 16:37] lobeck opened #69161 "kubelet crash on journald restart"
/kind bug

**What happened**:

Kubelet crash caused by SIGPIPE when restarting journald

    [pid  4370] +++ killed by SIGPIPE +++
    [pid  8965] <... mprotect resumed> )    = 0
    [pid  3909] +++ killed by SIGPIPE +++
    mprotect(0x7f076abeb000, 16384, PROT_READ) = 0
    --- SIGTERM {si_signo=SIGTERM, si_code=SI_USER, si_pid=1, si_uid=0} ---
    +++ killed by SIGTERM +++`

**What you expected

[2018-09-27 16:38] lobeck commented on #69161
/sig node

[2018-09-27 17:07] dberuben commented on #69147
#66153

[2018-09-27 17:14] nikhita commented on #69000
@sttts :)

Pasting @sttts's reply from slack:

We still don't know why the tag was wrong. Unfortunately, the logs we had do not show enough information. The publishing-bot is now extended to log the information (https://github.com/kubernetes/publishing-bot/pull/114)  used to derive the right tag hashes. So next time we will be in a better position.

In addition, removing the tag in the production

[2018-09-27 17:14] #69000 closed

[2018-09-27 18:07] #69075 closed

[2018-09-27 18:07] #69144 closed

[2018-09-27 18:07] MarcPow opened #69165 "Pod sandbox creation appears to be unstable under Windows in 1.11.3."
/kind bug
/sig Azure
/sig Network

**What happened**:

During Pod creation, this happens frequently:

Events:
  Type     Reason                  Age               From                   Message
  ----     ------                  ----              ----                   -------
  Normal   Scheduled               2m                default-scheduler      Successfully assigned default/powerflowserver-

[2018-09-27 19:05] shay-berman opened #69168 "unmount timeout should NOT trigger detach (by trigger detach there is a potential data loose)"
**What happened**:
Stop a POD with PV, will trigger unmount flow in k8s. And the current flow is to trigger detach of the PV if the unmount operation reached to timeout (called maxWaitForUnmountDuration, which BTW is not configurable https://github.com/kubernetes/kubernetes/issues/68086).

I think that this is a bug - k8s should not send detach to PV if the unmount operation is stuck and reached t

[2018-09-27 19:11] jkaipa commented on #24903
@esetnik - How did you resolve the docker image pull issue?

[2018-09-27 19:37] DirectXMan12 commented on #39090
yeah, I think we can start poking around/prototyping this now

[2018-09-27 19:42] DirectXMan12 commented on #44540
@gdoctor these days, the only reason it should ask about Heapster is if the resource metrics API isn't available.  The `kubectl top` logic prefers using the resource metrics API, but will fall back to Heapster if it isn't present (to give people time to upgrade clusters and clients), which means if neither are working, you'll see an error about Heapster.

@s1113950 that kops manifest appears to be

[2018-09-27 20:05] blaggacao commented on #57117
I was blinded by the octal & decimal detail:
In my operator, I specified decimal `400` -> octal `620`.

[2018-09-27 20:18] fedebongio commented on #68971
/assign @roycaihw

[2018-09-27 20:19] blaggacao commented on #57117
@rata With this line (`DefaultMode: func(a int32) *int32 { return &a }(256), // octal 0400`), the result is:

[code]

and failing (my startup script):
[code]

[2018-09-27 20:19] fedebongio commented on #68973
/assign @cheftako

[2018-09-27 20:39] blaggacao commented on #57117
@rata I think the missing bit is that I run postgres as `user != 1` and it seems that ownership is not consistent the one of that user, see:
`-r--r----- 1 root odoo 184 Sep 27 20:14 /run/secrets/odoo/..data/pgpass`

[2018-09-27 21:06] mbohlool commented on #68998
Are you suggesting we set generation on read if it is missing?

[2018-09-27 22:17] kow3ns commented on #67915
https://stackoverflow.com/questions/tagged/kubernetes is a better place to ask this question. Or the sig-apps channel on slack.

/close

[2018-09-27 22:17] #67915 closed

[2018-09-27 22:43] kow3ns commented on #68627
/assign kow3ns

[2018-09-27 22:45] adityadani opened #69183 "Disable SELinux support for Portworx Volumes."
**What happened**:
Unable to use Portworx ReadWriteMany volumes when SELinux is enabled.

Currently Portworx volumes have the following attributes set
https://github.com/kubernetes/kubernetes/blob/e5964b3fcc60e81b0fa90321933ac959ecb3771d/pkg/volume/portworx/portworx.go#L275

As *SupportsSELinux* is set kubelet adds a `-Z` flag to the mountpoint. This causes the shared volume to be inaccessible ins

[2018-09-27 22:47] dashpole commented on #42676
/remove-lifecycle stale

[2018-09-28 00:55] lswith commented on #69014
I think the convention here: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#response-status-kind

Should be coded into the openapi spec. This is so that it can be consumed programmatically.

[2018-09-28 01:04] davidz627 opened #69189 "CSI label manager labels node name as the nodes name, not the NodeID from the CSI Driver"
In Kubernetes 1.11 when KubeletPluginsWatcher feature gate is enabled, the label manager labels the node with the node name instead of the NodeID that is supplied by the driver. The NodeID the driver uses is not necessarily the node name.

This functionality seems to have been fixed in Kubernetes 1.12 when it went beta, I presume it just needs to be cherry-picked back to 1.11 as well.

/kind bug
/

[2018-09-28 01:45] #61406 closed

[2018-09-28 01:53] yjimk commented on #57691
For anyone else coming across this and using [dep](https://github.com/golang/dep) for dependency management. Adding these overrides to `Golang.toml` resolved the issue for me.

Might need to fiddle with the versions a little depending on your setup

[code]

[2018-09-28 02:09] mlmhl commented on #69168
/sig storage

[2018-09-28 03:08] ajunzhang opened #69193 "ubuntu 14.04 run "apt-get install -y kubelet kubeadm kubectl " couldnot find package kubeadm from "https://packages.cloud.google.com/apt/dists/kubernetes-trusty/main/binary-amd64/Packages""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-09-28 03:34] #69193 closed

[2018-09-28 03:37] BenTheElder opened #69195 "some control plane images lack /etc/nsswitch.conf and will not respect /etc/hosts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: My [local docker cluster setup](https://sigs.k8s.io/kind) broke after https://github.com/kubernetes/kubernetes/pull/68890, after much debugging we discovered that the API server could not reach itself on `localhost`, further debugging showed that DNS lookups for localhost were occuring. Long story short, while we have `/e

[2018-09-28 03:38] BenTheElder commented on #69195
/assign
cc @ixdy

Thanks a million to @MrHohn @neolit123 @justinsb and @liggitt for looking into this with me! this was tricky to resolve.

[2018-09-28 03:48] BenTheElder commented on #69195
We should be able to fix this by just adding a minimal nsswitch.conf to the images make go's resolver happy.

alternatively we can standardize on eg `debian-base` which already ships one

[2018-09-28 04:09] vanroid opened #69197 "kubeadm install k8s 1.11.2, core dns unable to resolve internal domain name, such as kubernetes.default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig network
/assign @krmayankk

**What happened**:
I use kubeadm 1.11.2 to install k8s successfully. network choose flannel. every pod is normal.
but if use domain, such as `node host name` , `kubernetes.default` and so on. core dns can not return it's ip.

DNS Pods:
[code]

use DNS resolve kubernetes.default:
[code]

Pod Logs:
[code]

**W

[2018-09-28 04:14] zwfang commented on #32522
got the same issue.

[2018-09-28 04:45] warmchang opened #69200 "The latest version described in the CHANGELOG-1.12.md is still v1.12.0-rc.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The latest version described in the CHANGELOG-1.12.md is still v1.12.0-rc.2, should be upgrade to GA version info.

**What you expected to happen**:
It should be upgrade as the release-1.12 and master branch.

**How to reproduce it (as minimally and precisely as possible)**:
Just check the https://github.com/kubernetes/ku

[2018-09-28 04:49] warmchang commented on #69200
/sig release
/sig docs

[2018-09-28 07:02] tossmilestone commented on #69200
@warmchang I think this is not an issue, because there is v1.12-rc2 before tagging v1.12.

[2018-09-28 07:02] fabiand commented on #38606
/remove-lifecycle rotten

[2018-09-28 07:16] like-inspur opened #69208 "fluentd send log to elasticsearch failed"
I found some log lost in kibana dashboard, so I check if fluentd daemonset running or not. I check log of fluentd pod, and one pod log is like this:
[root@master1 ~]# kubectl log fluentd-vl2px -n kube-system
W0928 11:16:00.203558 3756301 cmd.go:353] log is DEPRECATED and will be removed in a future version. Use logs instead.
2018-09-28 02:16:39 +0000 [info]: [elasticsearch] Connection opened to El

[2018-09-28 07:18] like-inspur commented on #69208
/sig log

[2018-09-28 07:19] like-inspur commented on #69208
And I also found some fluentd log is CrashLoopBackOff, the log of this pod is like this:
[root@master1 ~]# kubectl log fluentd-wt87w -n kube-system
W0928 15:17:25.187881 3920850 cmd.go:353] log is DEPRECATED and will be removed in a future version. Use logs instead.
2018-09-28 07:14:35 +0000 [info]: [elasticsearch] Connection opened to Elasticsearch cluster => {:host=>"elasticsearch", :port=>9200,

[2018-09-28 07:42] kjelle commented on #63858
Exactly! We just downed a docker swarm mode cluster with mere 80 services with 1 container each.

[2018-09-28 07:46] #68453 closed

[2018-09-28 08:14] OranYee opened #69210 "fluentd send log to elasticsearch failed"
**CentOS7
kubernetes:10.0.1
elasticsearch:5.6.4
kibana:5.6.4
fluentd:v2.0.4**

[code]

[2018-09-28 08:29] warmchang commented on #69200
@tossmilestone
The version obtained by the tag, the changlog describes the previous RC version, this is a bit strange.
But historically, all versions are like this, so keep it by convention. :confused:
/close

[2018-09-28 08:29] #69200 closed

[2018-09-28 08:29] feiskyer commented on #68773
Cherry picks to 1.10 branch #68775 has been merged now. It should be included in v1.10.9.

/close

[2018-09-28 08:29] #68773 closed

[2018-09-28 08:56] #57841 closed

[2018-09-28 09:45] sdboyer commented on #68577
It's worth noting that the path of least resistance (to the module system) will ultimately be to treat each currently-discrete staging repo as its own go module, and abandon the separate staging repos entirely.

ive also been thinking about how useful some kind of declaration would be to automatically treat all imports under a particular root as though there were a local `replace` declaration. As

[2018-09-28 09:50] sahith-narahari commented on #69197
I'm having the same issue today,after upgrading to v1.12.0

[2018-09-28 10:11] slpcat opened #69213 "k8s 1.11.3 sysctl can't work for deployment"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug
/sig node

apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-web
  namespace: default
  labels:
    app: example-web
..........
        securityContext:
          capabilities: {}
          privileged: false
          sysctls:
          - name: kernel.msgmax
            value: "65536"
          - name: net.ipv4.tcp_syncookies

[2018-09-28 10:26] tamalsaha opened #69214 "k8s.io/api 1.12.0 is not tagged properly"
I am trying to revendor my repos to use Kubernetes 1.12 and it seems that k8s.io/api repo is not tagged properly. This is the error message I am getting:

[code]

I see no `FSType` in `LocalVolumeSource` https://github.com/kubernetes/api/blob/kubernetes-1.12.0/core/v1/types.go#L1601:6

But k8s.io/kubernetes seem to point to it https://github.com/kubernetes/kubernetes/blob/v1.12.0/pkg/apis/core/v1/

[2018-09-28 10:34] dims commented on #69214
/assign @nikhita
/assign @sttts

/sig release

[2018-09-28 10:41] blurpy commented on #42632
I would like this feature. Is this never going to happen?

[2018-09-28 10:46] tamalsaha commented on #69214
k8s.io/api is tagged correctly for staging repo. The staging repo has out-dated types. https://github.com/kubernetes/api/blob/kubernetes-1.12.0/core/v1/types.go#L1601

[2018-09-28 11:03] blaggacao commented on #57117
@rata Sorry, I tried to condense the issue.
A little context:
- I'm writing an operator
- It's there https://github.com/xoe-labs/Odoo-Operator
- I tried `256` it's what currently is the working hypothesis. (see first code snipped in [here](https://github.com/kubernetes/kubernetes/issues/57117#issuecomment-425228976))

Isn't the problem simply that it's owned by `root` instead of `odoo` which is th

[2018-09-28 11:53] TimMeade commented on #65569
We have this occurring occasionally and are able to delete the stuck pods with:

kubectl delete pod iamastuckpod-655c7947c9-pgzj2  -n namespace --force --grace-period=0

[2018-09-28 11:54] dims commented on #69213
@slpcat specifying it with Pod(s) work fine?

[2018-09-28 11:58] rata commented on #57117
@blaggacao the link shows that if it's group readable it will fail, right?

The thing is:
 * If it's group readable, it will fail
 * It it's owned by root, only readable to the owner, a process running as `odoo` user will not be able to read it

So, definitely not a problem when setting the mode of the file. Just that you want to change the ownership too.

Not sure there is currently any way to ch

[2018-09-28 12:00] dims commented on #69213
Also, please share the full yaml file

[2018-09-28 12:39] nikhita commented on #69214
Thanks, taking a look.

[2018-09-28 12:51] tamalsaha commented on #69214
@sttts has confirmed that this is a tagging issue in Slack. Here is the link to slack conversation: https://kubernetes.slack.com/archives/C0EG7JC6T/p1538130457000100 .

[2018-09-28 12:52] slpcat commented on #69213
yes, it works with POD
cat pod.yml
apiVersion: v1
kind: Pod
metadata:
  name: sysctl-example
spec:
  containers:
    - image: tomcat
      name: tomcat
  securityContext:
    sysctls:
      - name: net.ipv4.tcp_syncookies
        value: "0"
      - name: net.ipv4.ip_local_port_range
        value: "1024 65535"
      - name: net.core.somaxconn
        value: "65535"

and in pod:
root@sysctl-example

[2018-09-28 12:57] dims opened #69216 "External dependencies in 1.12 Changelog are a bit stale"
Looking at https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#external-dependencies

- etcd should be 3.2.24 ( https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+etcd+3.2.24+is%3Amerged )
- docker should be 18.06 ( https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+docker+18.06+is%3Amerged )

We should checkout the rest of them as well.

[2018-09-28 12:58] dims commented on #69216
/sig release

cc @tpepper @nickchase @AishSundar

[2018-09-28 12:59] zhachaoy commented on #66013
same problem here by client-keystone-auth

`[root@k8s-master2 ~]# kubectl get pods
Please enter Keystone Auth URL: http://172.16.135.105:5000
Please enter domain name: default
Please enter user name: admin
Please enter password:
Please enter Keystone Auth URL: E0928 20:42:56.398663   19682 round_trippers.go:169] CancelRequest not implemented`

[2018-09-28 13:01] ChaitanyaVSH opened #69217 "Kubernetes conf issue"
Can anyone tell me the api version for v1.12 , below is for v1.11

apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
controllerManagerExtraArgs:
  pod-eviction-timeout: 10s

when i had reset with "kubeadm reset" and i have run "kubeadm init kubeadm_conf.yaml" command (above are the contents of "kubeadm_conf.yaml" file) , i was said "You are using an old api , update it to new api blah

[2018-09-28 13:02] randomvariable commented on #64018
Oops. Didn't realise this issue was getting spammed by my bazel testing.

[2018-09-28 13:34] yamlCase commented on #65575
Workaround I found on Azure (probably others as well):

`kubectl get componentstatus --server-print=false`

It appears to be related to a new "Server-side columns" feature introduced in 1.11.0.  Here's a link to the reference: https://kubernetes.io/docs/reference/kubectl/overview/#server-side-columns

@darthmetu

[2018-09-28 13:34] AishSundar commented on #69216
I assume this will go in 1.12.1? or can release notes be pushed independently ?

[2018-09-28 13:36] iArtur commented on #44273
I am having the same problem. But in my case, the pods stayed stucked with ContainerCreating status. Changing the machine type does not work. Anyone has any clue?

[2018-09-28 13:38] gnufied commented on #68479
Fixed by https://github.com/kubernetes/kubernetes/pull/68674

[2018-09-28 13:38] #68479 closed

[2018-09-28 13:52] flangewad opened #69219 "The unit tests for `csiDriverClient` do not exercise any production code"
/kind bug

**What happened**:
The unit tests for `csiDriverClient` do not exercise any production code, instead they exercise some fakes.

**What you expected to happen**:
We expected the tests to fail when we deliberately break the code.

**How to reproduce it (as minimally and precisely as possible)**:
- Make the code changes from [this commit]( https://github.com/pivotal-k8s/kubernetes/commit/b

[2018-09-28 13:53] hoegaarden commented on #69219
/assign @hoegaarden

[2018-09-28 14:07] gabrielfsousa opened #69220 "cluster wont work after upgrading to 1.12"
/kind bug
/sig release
/sig network

**What happened**:
upgraded to 1.12 and cluster wont work

**What you expected to happen**:
a working cluster
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.12
- Cloud provider or hardware configuration: hardware private
- OS (e.g. fr

[2018-09-28 14:09] jimangel commented on #69216
@AishSundar I opened a PR for a typo nit on the release notes and would think as long as it's not a new feature change but a correction on the 1.12.0 release, it should be ok to push independently. Hopefully someone will chime in if I'm wrong.

[2018-09-28 14:29] wachuwach commented on #69220
WIth kubernetes 1.12.0 fresh cluster, after applying flannel pod from official site:
[flannel](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network)
I do not see flannel pod. Only 2 core-dns pods are in pending status.

With Kubernetes 1.11.3 everything is ok.
Except joining windows server 2019 preview (Azure; build 17666) node to RHEL 7.5 following up below instruction

[2018-09-28 14:30] gabrielfsousa commented on #69220
[code]

[2018-09-28 14:34] speneker commented on #64241
Where is the fix for this?

[discovery] Trying to connect to API Server "172.17.15.14:6443"
[discovery] Created cluster-info discovery client, requesting info from "https://172.17.15.14:6443"
[discovery] Requesting info from "https://172.17.15.14:6443" again to validate TLS against the pinned public key
[discovery] Cluster info signature and contents are valid and TLS certificate validates against

[2018-09-28 14:46] gabrielfsousa commented on #69220
are rules missings on iptables ?

[root@k8sdev02 manifests]$ iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
KUBE-FIREWALL  all  --  anywhere             anywhere

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination
DOCKER-USER  all  --  anywhere             anywhere

Chain OUTPUT (policy ACCEPT)
target     prot opt source

[2018-09-28 14:58] #60491 closed

[2018-09-28 15:00] sigma commented on #68577
a few thoughts:
- I don't know that the organization of the repo is the main issue. I think the higher-level problem is that we need those modules to be kept in sync (in terms of dependency graph) regardless of whether they live in the same repo or not, short of changing our support model. And there's just very little tooling support for doing that right now
- somehow the maintenance of the `repla

[2018-09-28 15:00] speneker opened #69221 "Kubernetes 1.12 - "kubelet-config-1.12" is forbidden: User "system:bootstrap:n31b8f""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Tried to join node to kube.

**What you expected to happen**:
Join cluster.

**How to reproduce it (as minimally and precisely as possible)**:
kubeadm join 172.17.15.14:6443 --token n31b8f.yquu66k6az5ktlo7 --discovery-token-ca-cert-hash sha256:9ee1d6eed7eba52cf3f425b2d0757fcf10148b5261...........

**Anything else we need to know?**:

[2018-09-28 15:01] neolit123 commented on #64241
this can happen if the kubeadm version of a node that tries to join a cluster is lower than the kubelet version of the master node.

please, try having both kubelet and kubeadm to be version 1.12 on all nodes!

[2018-09-28 15:07] speneker commented on #64241
[root@bmmaster1 ~]# kubectl get nodes
NAME                   STATUS   ROLES    AGE   VERSION
bm2.seibels.bm         Ready    <none>   1d    v1.12.0
bm3.seibels.bm         Ready    <none>   1d    v1.12.0
bmmaster1.seibels.bm   Ready    master   1d    v1.12.0
[root@bmmaster1 ~]#

[2018-09-28 15:07] abeltre1 commented on #3595
what does "/docker-entrypoint.sh" contain? I placed a regular command, but ulimit -l does no change.

[2018-09-28 15:09] speneker commented on #64241
bm1 is at latest version v1.12.0 and fails join

[2018-09-28 15:12] neolit123 commented on #64241
does the failing node have kubeadm 1.12 and kubelet 1.12?

[2018-09-28 15:12] kasisnu commented on #69168
Hi. I think I see the problem with this. Can I volunteer to work on a fix?

New to the k8s codebase

[2018-09-28 15:13] neolit123 commented on #64241
if yes, please log an issue in the `kubernetes/kubeadm` repository and explain your setup in detail.

[2018-09-28 15:16] kasisnu commented on #69041
Hi. I think I understand the problem. Can I volunteer to work on a fix? I'm digging around but if anyone has obvious pointers for me, that would help.

New to the k8s codebase

[2018-09-28 15:27] arturalbov commented on #3595
It's just original entrypoint script for elassandra image

[2018-09-28 15:37] rohansingh commented on #65544
I had the same issue, and just like @akhilyendluri, the cause turned out to be security groups.

Specifically, I messed up [the group allowing ingress from nodes to the master](https://www.terraform.io/docs/providers/aws/guides/eks-getting-started.html#worker-node-access-to-eks-master-cluster). I had the `security_group_id` and `source_security_group_id` flipped.

Dumb mistake on my part, but make

[2018-09-28 15:38] blaggacao commented on #57117
I'm coding in go since 3 months. I'm greener behind the ears than fresh salad.

[2018-09-28 16:59] hentoesch opened #69223 "nfig"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-09-28 17:04] gabrielfsousa commented on #69220
other error

[code]

[2018-09-28 17:05] caesarxuchao commented on #65569
The bug fixed by #65987 didn't cause this problem. #62673 probably is fixing the root cause.

The problem @TimMeade met is a different one. In the original bug, `kubectl delete --force --grace-period=0` won't work.

[2018-09-28 17:13] gnufied opened #69224 "Volume limit feature is marked beta but not enabled by default"
In Kubernetes-1.12 although `AttachVolumeLimit` is marked as Beta, it isn't enabled by default. This was a mistake on my part. I think when I tested this, my scripts already has the feature flag enabled and hence gave me false positive.

/sig storage
/assign

[2018-09-28 17:33] mortent commented on #68573
This should be fixed with #67817 which is in the 1.12 release. I am able to reproduce the problem with pre-1.12 releases, but it works well with the code that is in master.

I think this issue was caused by the handling of events in kubectl, which used to fetch the state of the StatefulSet from the APIserver instead of using the state from the events. This lead to a situation where kubectl never o

[2018-09-28 17:38] jharshman commented on #69040
I'm getting this behavior on the same GOOS jumping from my work laptop to my personal.
https://github.com/golang/go/issues/27925

[2018-09-28 17:56] sylr opened #69226 "RFC: Real time readiness probe"
In order to minimize the amount of requests that are sent to unready pods before the readiness probe detects the un-readiness of said pods, I was wondering if we could think about a new sort of probe that, instead of polling at a regular interval, would connect to a port, mark the pod ready upon success and only **mark the pod unready if the socket were to be closed** by the pod.

/kind feature
/s

[2018-09-28 18:17] jingxu97 commented on #53777
@nikhita your PR "Support object count quota for custom resources" #64201 is trying to support object count quota. Is there any plan to support general resources that consumed by a CRD object? For example, I have a CRD to represent a volume snapshot which will consume storage. Thanks!

[2018-09-28 18:17] andelhie commented on #58065
just ran in to this problem now to my self.  Is there a work around for this yet?

[2018-09-28 18:27] gabrielfsousa commented on #69220
[code]

[2018-09-28 18:35] hcmarque commented on #66435
Same here! This bug must be fixed guys....
Anyway, use the "rm ~/.kube/config" command to delete the config...

[2018-09-28 19:09] kasisnu commented on #69006
Hi

If there isn't a hurry, can I volunteer to look into this? I don't have much experience in this area so it'll probably take me a while to figure things out.

New to the k8s codebase.

[2018-09-28 19:35] blaggacao commented on #57117
It seems that his is the right issue: https://github.com/kubernetes/kubernetes/issues/2630

[2018-09-28 19:38] timothysc opened #69234 "1.12 Running in-cluster e2es no longer respects service account RBAC rules."
**Is this a BUG REPORT**:
Sonobuoy runs the kubernetes e2e's differently then test-infra.  It constructs an in-cluster config vs. being handed a kubeconfig from the infra.

In 1.12 something has broken this behavior, I'm still digging into the details.

**What happened**:
Run tests from within the cluster error occurs -
https://paste.fedoraproject.org/paste/D559nyX6SlGhA3tLPtWt5A

**What you expec

[2018-09-28 19:41] leakingtapan commented on #68026
This issue is close in accident by #68113. @dims could you reopen it?

[2018-09-28 19:41] dims commented on #69234
One data point, the  in-cluster-client-configuration example seems to work (but was missing RBAC step):
https://github.com/kubernetes/kubernetes/pull/69232

[2018-09-28 19:43] neolit123 commented on #69234
is there a known time when it last worked?

[2018-09-28 19:43] dims commented on #68026
/reopen

[2018-09-28 19:47] timothysc commented on #69234
1.11 worked fine

#69232

Sonobuoy's legacy in-cluster config work as well.

The e2e test suite relies on a single utility wrapper that seems to not be tested.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L2051

[2018-09-28 19:49] neolit123 commented on #69234
needs a binary search bisect between 1.11 and 1.12. :\

[2018-09-28 19:58] spiffxp commented on #69195
/milestone v1.13
/priority important-soon

[2018-09-28 20:01] BenTheElder commented on #69195
I have a PR under way, will file after lunch!

On Fri, Sep 28, 2018, 13:00 Aaron Crickenberger <notifications@github.com>
wrote:

[2018-09-28 20:02] akutz commented on #69234
I'm definitely interested in this as VMware runs e2e tests in cluster. We're still handing the tests a kubeconfig from the outside, but the plan is to move to the same model as used by Sonobuoy.

[2018-09-28 20:05] #68956 closed

[2018-09-28 20:20] abeltre1 commented on #3595
Can you tell me if your value for ulimit -l changed?

[2018-09-28 20:31] mortent commented on #68006
The tests seems to pass pretty consistently now. I suggest we close this one and revisit this if we see flakiness again.

[2018-09-28 20:44] roycaihw commented on #69014
I see. There is a TODO in apiserver installer about adding errors to the route documentation https://github.com/kubernetes/kubernetes/blob/c4b4025ca4a29b38f5ac0baf2c2f0f241800a619/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L462-L476

Note that currently the openapi spec has the 401 Unauthorized path documented (no response schema), which is added in `OpenAPIConfig.CommonResponses`: ht

[2018-09-28 20:51] roycaihw commented on #69014
Also the api convention doc didn't reflect the 202 Accepted code that apiserver may response with. I will try update the doc when I get a chance: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#http-status-codes

[2018-09-28 20:51] andersonVSA commented on #48575
I had the same in Manjaro ( archlinux ), in addition to @simonxy :
`
pacman -S bash-completion
kubectl completion bash > ~/.kube/kubectl_autocompletion
`
add to .bashrc
`
if [ -f /usr/local/share/bash-completion/bash_completion ]; then
  . /usr/local/share/bash-completion/bash_completion
fi
source ~/.kube/kubectl_autocompletion
`
and run
`
source .bashrc
`

[2018-09-28 20:52] akutz opened #69235 "latest-1.10 e2e conformance test fails when kubelet allow-privileged=false"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When running the e2e conformance test `"HostPath should give a volume the correct mode \[Conformance\]"` on Kubernetes latest-1.10, a failure occurs. If the logs are turned up to 10, the following message appears: "cannot schedule privileged pod".

**What you expected to happen**:
For the test to succeed.

**How to reprodu

[2018-09-28 20:55] dims commented on #69235
@akutz please see prev discussion in https://github.com/kubernetes/kubernetes/issues/59978

[2018-09-28 20:56] akutz commented on #69235
Well color me dumb. Thanks @dims! Closing as a duplicate of #59978.

[2018-09-28 20:56] #69235 closed

[2018-09-28 21:10] jingxu97 commented on #61248
#61549 fixed the issue. Close it

[2018-09-28 21:10] #61248 closed

[2018-09-28 21:28] llibicpep opened #69237 "Internal ELB true|false doesn't work"
It's useful to have a helm chart that expose a value like `internalLoadBalancer: true|false`.

However, the annotation `service.beta.kubernetes.io/aws-load-balancer-internal` simply ignores `true`, as seen in

https://github.com/kubernetes/kubernetes/blob/e4b0a935fa393944b6322fa6ef0970d858ad70f6/pkg/cloudprovider/providers/aws/aws.go#L3332-L3337

It's just checking that the value is not empty, so

[2018-09-28 21:38] nikhita commented on #69214
@sttts can you ptal if this makes sense? I suspect this is the reason but I still have qualms if I'm understanding the git behaviour right.

I think we can discuss this in real time on slack better but I thought I'd dump my thoughts here instead of writing a huge slack message. And it's also good for others following along and future reference. :)

---

Some background for people reading this abou

[2018-09-28 21:39] nikhita commented on #69214
/area release-infra
/assign @nikhita @sttts

[2018-09-28 21:45] llibicpep commented on #69237
@kubernetes/sig-aws-bugs

[2018-09-28 21:50] nikhita commented on #69214
Also, I can verify the above behaviour on 1.11 tags as well. :scream:

However, we don't loose much info there because the only commits that are missing are merge commits which don't contain any diffs. The 1.12 tags had a significant difference which made it easier for us to find them.

[2018-09-28 21:51] ixdy commented on #68747
cc @kubernetes/sig-testing

[2018-09-28 21:51] ixdy commented on #68687
cc @kubernetes/sig-testing

[2018-09-28 21:56] darxkies commented on #69234
The token field in /tmp/kubeconfig-xxx is missing. BearerToken in client-go is apparently empty. Probably caused by this: https://github.com/kubernetes/kubernetes/pull/67359

[2018-09-28 22:01] mrrandrade commented on #68703
IT's also happening to me on version 1.10.8:

[code]

[2018-09-28 22:04] darxkies commented on #69234
FYI, the following command can trick sonobuoy/e2e 0.12 into running the tests but beware it is a hack:

kubectl create clusterrolebinding cluster-system-anonymous --clusterrole=cluster-admin --user=system:anonymous

[2018-09-28 22:27] rjain15 commented on #62594
I am having the same issue on GKE.

Not sure if there is underlying issue. I am using helm chart (concourse)
I don't think it is timeout issue, it seems to me that the container is looking for some response on the 8080 port and that port is blocked on the container.

[code]

[2018-09-28 22:32] kamesh2229 opened #69240 "kubectl patch command not working for modifying an object in replication controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have kubernetes 1.0.3 version installed and there is a master and 5 minion nodes available.
In the minion nodes Elastic search cluster is deployed.I wanted to scale a new minion node and start ES container which i am doing by scaling the replication controller.

The ES service is deployed with a cluster IP and RC for the ES data

[2018-09-28 23:07] ulm0 commented on #69217
`v1alpha3` see: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#sig-cluster-lifecycle

[2018-09-28 23:15] dims commented on #69234
@timothysc i don't have proof, but looking through swathes of stuff, this one stood out - https://github.com/kubernetes/kubernetes/pull/66684 wanna try a local test in your environment with that removed?

[2018-09-28 23:45] BenTheElder commented on #69195
For now adding the nsswitch.conf, but discussing with @ixdy and @Random-Liu, it sounds like switching to debian-base everywhere is the best long term answer. It will actually save a mb or so on each node :sweat_smile: ... and give a more consistent base for component images to build on.

[2018-09-28 23:59] neolit123 commented on #69234
@liztio shared a possible solution in the sig-cluster-life chat, @timothysc can confirm if that was a fix for the same thing or perhaps something else.

[2018-09-29 00:06] sergey-vin commented on #58822
I have experienced the same issue recently.
I had 2 worker nodes working correctly, then I increased the number 2->3 in `kops edit ig nodes` and got a 3rd node. Any pod that gets scheduled on a new node can't resolve anything. Node by itself resolves things just fine.

[2018-09-29 00:34] brooksgarrett commented on #63959
I'd like to contribute time to working on this. Is anyone else actively working on adding support?

[2018-09-29 00:43] ulm0 opened #69242 "Unable to init kubeadm 1.12 with config file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

@kubernetes/sig-cluster-lifecycle

**What happened**:

According to [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#sig-cluster-lifecycle):

Printed the new config format (`kubeadm config print-default`) to see what changes i need to make in order to spin up a new 1.12 cluster, decided to test the *default

[2018-09-29 01:12] islinwb commented on #68703
@mrrandrade Yes, now it fails on v1.10.8. (I remember I've test it when I created this issue and it's ok then.)

[2018-09-29 02:41] stewart-yu commented on #69096
/cc

[2018-09-29 03:50] #69195 closed

[2018-09-29 03:56] jianzi123 commented on #65703
@ateleshev Thanks. Could you tell this problem in details.

[2018-09-29 04:10] blandman commented on #48307
Googler stumbling across this with same question as OP, and can't find a work around.

Is there a way to accomplish this? I have a scenario that due to ram constraints, dev/test environments can't afford to be max HA and each service would be good with the PDB minAvailable: 1, while deployment and horizontal autoscaler set to 1 replica. `kubectl drain` ideally should be able to scale the deploymen

[2018-09-29 04:41] akutz commented on #59978
Hi @dims,

I thought this was constrained to 1.10, so I **had** implemented logic in my turn-up script that set `--allow-privileged=VALUE` where `VALUE` was `false` if 1.10 and `true` if >1.10. However, this caused all >1.10 tests to fail for the host path check. It seems if you set the Kubelet to **explicitly** `--allow-privileged=false` for >1.10, the host path e2e test **fails**. However, when

[2018-09-29 04:54] akutz commented on #59978
Hi @dims,

Quick update -- it occurs to me that I set `--allow-privileged` for all the kube-apiserver instances. Could it be that this flag on the API server changes the default behavior of kubelets >1.10, but in 1.10 the kubelet only allows privileged containers *IFF* the kubelet is started with `--allow-privileged`? That would explain why 1.11 and 1.12 worked when I didn't set `--allow-privilege

[2018-09-29 05:54] Pingan2017 opened #69247 "should return error when rollback deployment to a nonexistent revision"
<!-- This form is for bug reports and feature requests ONLY!

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:
when rollback to a nonexistent revision , like below, the output shows the deloyment and i assume it was successful:
[code]
Actually, the rollback does not occur
it should return error like:  no specified revision found
we should add a validation for t

[2018-09-29 05:58] Pingan2017 opened #69248 "should return error when rollback deployment to a nonexistent revision"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:
when rollback to a nonexistent revision , like below, the output shows the deloyment and i assume it was successful:
[code]
Actually, the rollback does not occur
it should return error like:  no specified revision found
we should add a validation for the revision before rollback
https://github.com/kubernetes/kube

[2018-09-29 05:58] #69247 closed

[2018-09-29 06:30] Pingan2017 commented on #69248
ping @soltysh ,  take a look ?

[2018-09-29 07:07] dakleine commented on #53059
@jingxu97 we only changed the image version of our postgresql deployment. the old node is ready.

[2018-09-29 09:59] chestack opened #69256 "Log of imageGCManager is confusing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
following is kubelet logs
`[imageGCManager]: Disk usage on image filesystem is at 85%  which is over the high threshold (85%). Trying to free 3285922611 bytes`

It's confusing that why kubelet still try to free **3285922611** bytes when **usage(85%)** equals to **high threshold(85%)**

With the code, I understood

[2018-09-29 10:02] hex108 opened #69257 "apiextensions: extract content of labelSelectorPath of custom resource as a LabelSelector?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Now apiextensions extracts content of `labelSelectorPath` of custom resource as a string. And we point `labelSelectorPath` to a `LabelSelector` in our CRD, does it make more sense to extract it as a `LabelSelector`?

`Spec.Selector` in `deployment`/`replicaset`/`replicationcontroller`/... is a map, and converted to a

[2018-09-29 10:06] hex108 commented on #69257
/area custom-resources
cc @sttts @DirectXMan12 @liggitt @nikhita

[2018-09-29 10:09] chestack commented on #69256
/assign

[2018-09-29 10:15] zhachaoy commented on #66013
the problem has disappeared
the reason is that each cluster master node configuration is different, must keep the configuration of apiserver consistent

[2018-09-29 11:14] ChaitanyaVSH opened #69261 "Kubelet error"
I'm getting the below error on master node....Any solution?

[init] waiting for the kubelet to boot up the control plane as Static Pods from directory "/etc/kubernetes/manifests"
[init] this might take a minute or longer if the control plane images have to be pulled

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is likely caused by:
        - The kub

[2018-09-29 11:45] #65665 closed

[2018-09-29 11:46] andyzhangx opened #69262 "GetAzureDiskLun sometimes costs 1 min which is too long time"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There is a drawback after PR: https://github.com/kubernetes/kubernetes/pull/62612
following `getDiskController` code will fetch vmCache may lead to below error and the vmCache refresh time period would be 1 min, and `MountVolume.WaitForAttach` may cost 1 min which is too long time
https://github.com/kubernetes/kubernetes/b

[2018-09-29 11:59] sylr commented on #69226
/sig node

[2018-09-29 13:38] andyzhangx commented on #69165
/sig windows

[2018-09-29 13:40] andyzhangx commented on #69165
try to delete azure-vnet-ipam.json, azure-vnet-ipam.json.lock, azure-vnet.json, azure-vnet.json.lock & restart Kubelet service

[2018-09-29 13:41] RajatVaryani commented on #15863
Hello. How can I identify all the places where this change needs to be done?

[2018-09-29 13:59] yue9944882 commented on #69257
/sig api-machinery

[2018-09-29 14:48] navidnabavi commented on #54214
We're getting this issue. This is because the mounted volume is mounted on Cadvisor container too. So the /dev/rbdX file is still in use. But still didn't find any solution to fix.

[2018-09-29 16:56] tuminoid commented on #64878
/remove-lifecycle stale

[2018-09-29 17:34] george-angel commented on #7433
/remove-lifecycle stale

[2018-09-29 18:29] Macmee commented on #51096
sorry to bump this, but I'm on EKS (if it matters) and my nginx ingress readiness probes are taking more than 1 second to respond too. Sometimes they hang upwards of 5-8 seconds and then respond. I increased `livenessProbe.timeoutSeconds` but I'm trying to figure out *why* this delay occurs. Does anyone here have any suggestions?

[2018-09-29 19:01] Vaibhavpbits commented on #69221
Same issue here. Any workaround ?

[2018-09-29 19:31] merlineus opened #69264 "It is impossible to deploy identical NLB backed service in two different K8S clusters in same AWS region"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I've tried to switch two Istio ingressgateways in different K8S clusters (in the same AWS region) to NLB loadbalancers, but receive error:

**What you expected to happen**:
Second loadbalancer's targetgroups created successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Create two K8S clusters in

[2018-09-29 19:39] merlineus commented on #69264
@kubernetes/sig-aws-bugs

[2018-09-30 01:56] bilalx20 commented on #48798
flannel 0.10.0 and kubernetes 1.12.0 can not work together somehow. there is something wrong with kubernetes 1.12.0, so i've downgraded kubernetes to the 1.11.3 and everything is working fine.

Hope kubernetes fixes that issue soon.

[2018-09-30 01:56] bilalx20 commented on #69220
flannel 0.10.0 and kubernetes 1.12.0 can not work together somehow. there is something wrong with kubernetes 1.12.0, so i've downgraded kubernetes to the 1.11.3 and everything is working fine.

Hope kubernetes fixes that issue soon.

[2018-09-30 01:59] neolit123 commented on #48798
@bilalx20 i can confirm that - flannel is broken for me too in 1.12.
what you can do is try weave or callico, they work.

[2018-09-30 02:19] andyzhangx opened #69265 "support Azure file premium for azure file plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I could confirm Azure file premium is not available on current k8s version, current `Account Kind` for azure file is bound to `StroageV2(general purpose v2)`, while Azure file premium needs `File Storage` Account Kind

https://azure.microsoft.com/en-us/blog/premium-files-pushes-azure-files-limits-by-100x/

current `./s

[2018-09-30 02:40] bilalx20 commented on #69220
downgrade as my previous comment or use weave net instead to fix

[2018-09-30 02:44] #56173 closed

[2018-09-30 03:34] warmchang commented on #52757
https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-402772200
Smart trick. :+1:

[2018-09-30 03:56] ylhyh commented on #64743
I have also hitting the issue today with the same operation steps (deleted a pod in kubernetes dashboard, then the pod got stuck in state "Terminating" for long)

So many messages keep printing in shell:
`Message from syslogd@k8s-node-005 at Sep 30 10:59:28 ...
 kernel:unregister_netdevice: waiting for eth0 to become free. Usage count = 1

Message from syslogd@k8s-node-005 at Sep 30 10:59:38 ...

[2018-09-30 04:13] AishSundar commented on #32727
@jingxu97 @saad-ali would you be able to give an assessment of how much work is left for this issue to be closed? Do we plan to work on this for 1.13?

[2018-09-30 05:07] neolit123 commented on #69261
please fill the issue template correctly and re-open the issue:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md

needed are OS version, kubectl version and the rest of the details.
thanks.
/close

[2018-09-30 05:07] #69261 closed

[2018-09-30 05:08] neolit123 commented on #69208
/sig instrumentation

[2018-09-30 05:08] neolit123 commented on #69210
/sig instrumentation

[2018-09-30 05:10] neolit123 commented on #69217
here is an example of how to use v1alpha3.
also the config is passed like this `kubeadm init --config=<filename>`.

thanks.
/close

[2018-09-30 05:10] #69217 closed

[2018-09-30 05:12] neolit123 commented on #69221
hello, what is your kubeadm version? if it's 1.12 please file the issue in the kubeadm repo:
https://github.com/kubernetes/kubeadm/issues

if it's not 1.12, upgrade to kubeadm 1.12 and re-test.

[2018-09-30 05:13] neolit123 commented on #69221
/sig cluster-lifecycle
/priority awaiting-more-evidence

[2018-09-30 05:57] nikhita commented on #61770
/remove-lifecycle stale

[2018-09-30 08:46] Lion-Wei opened #69267 "Failing tests: gci-gce-ipvs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

gci-gce-ipvs failed, This failing is resulted by https://github.com/kubernetes/kubernetes/pull/66012.

Sorry for introduced this issue, I gonna fix it soon.

[2018-09-30 08:46] Lion-Wei commented on #69267
/aasign

[2018-09-30 08:46] Lion-Wei commented on #69267
/sig network
/area ipvs

[2018-09-30 08:47] Lion-Wei commented on #69267
/assign

[2018-09-30 09:58] oreasono commented on #24873
For those who works in windows Powershell, here's an one-liner:
`Foreach ($i in $(kubectl get -o=name pvc,configmap,ingress,service,secret,deployment,statefulset,hpa,job,cronjob)) {If($i -notmatch "default-token") {kubectl get -o=yaml --export $i | Out-File -filepath $($i.Replace("/", "-") + ".yaml")}}`

[2018-09-30 10:48] nikhita commented on #65442
/remove-lifecycle stale

[2018-09-30 11:33] dims commented on #69234
i'll take back my comment about #66684. trying to recreate the scenario i was able to print out the tmp file with the in-cluster config info.

1.11 - https://paste.fedoraproject.org/paste/8vHwWGJhgzrUkSlccBmVMg/raw
1.12 - https://paste.fedoraproject.org/paste/83My3KRhnny8kvSV9CWslQ/raw

Looks like the `token` information is missing in 1.12 exactly as @darxkies mentioned. So i support the darxkies'

[2018-09-30 13:34] speneker commented on #69221
I have resolved the issue.

On Sun, Sep 30, 2018 at 1:14 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2018-09-30 14:28] PrasadG193 commented on #68957
@misterikkit would copying `staging/src/k8s.io/apiserver/pkg/util/feature/feature_gate.go` to `pkg/scheduler/feature/feature_gate.go` and replacing import `utilfeature "k8s.io/apiserver/pkg/util/feature"` with `utilfeature "k8s.io/pkg/scheduler/feature"` across scheduler code work? Also trying to understand, exactly what kind of inconsistency you were mentioning? Because I see the way we are check

[2018-09-30 16:09] neolit123 commented on #69221
thank you.
/close

[2018-09-30 16:09] #69221 closed

[2018-09-30 18:50] #62542 closed

[2018-09-30 18:50] #58002 closed

[2018-09-30 20:02] rata commented on #57117
Feel free to contribute when you feel ready :)

Sorry I wasn't clear.

I mean postStart like it is shown here: https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/#define-poststart-and-prestop-handlers

So, maybe you can execute a `chown` as postStart. Or use `xattr` command. But you might need to mount the configmap as `readOnly: false`.

But definitely, IIUC,

[2018-09-30 20:52] #63391 closed

[2018-09-30 22:27] yuzukiseo commented on #48798
I've this issue on my Ubuntu 16.04 with k8s 1.12.

Downgrade to the 1.11.0 and everything is up and running.

[2018-09-30 23:54] timothysc commented on #69234
Thanks @darxkies I verified that https://github.com/kubernetes/kubernetes/pull/69272 does fix.

[2018-10-01 01:57] #42521 closed

[2018-10-01 03:39] gokultp commented on #8976
I compared the performances of both spew and litter packages. attaching the benchmarks below.
[code]

clearly spew is performing better than litter, so I am using spew for writing the util function.

[2018-10-01 03:44] AnthonyWC commented on #58692
It works fine but the message is just confusing.

[2018-10-01 06:07] pho-enix commented on #63959
@brooksgarrett That's awesome news. Thanks for working on this.

Do you need assistance in testing this in an AWS environment? I might help out with that ...

[2018-10-01 07:10] k82cn opened #69276 "GPU Topology Aware Scheduling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig scheduling
/sig node

**Description**:

Currently, we support GPU as external resource in scheduler; and allocate device round-robin in kubelet. We'd like to enhance that to support GPU's topology, e.g. nvlink. Here're some sub-tasks in my mind: 1.) report device usage by kubelet 2.) a priority in scheduler to find a "better" node 3

[2018-10-01 07:12] k82cn commented on #69276
BTW, do we have a common struct for topology of device?

[2018-10-01 08:15] yakuza-m commented on #68997
when I do kubectl top node I'm getting
error: metrics not available yet

also
the output of

kubectl get deployment -n kube-system metrics-server -o yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: 2018-10-01T08:07:33Z
  generation: 1
  labels:
    k8s-app: metrics-server
  name: metrics-server
  namespace

[2018-10-01 08:51] wojtek-t commented on #14733
/assign @wangzhen127

[2018-10-01 09:35] corbeen commented on #36222
still same ( there is an example if install helm install stable/prometheus , you will find cm/prometheus-server )

[2018-10-01 09:48] rata commented on #57117
On Sun, Sep 30, 2018 at 03:23:59PM -0700, David Arnold wrote:

Cool, glad to help :)

[2018-10-01 10:03] tamalsaha opened #69277 "Discovery calls by kube-controller-manager to EAS fails"
We have written self-hosted admission webhook using EAS following pattern shown here: https://github.com/openshift/kubernetes-namespace-reservation

[code]

In one of our client cluster, we are seeing lot of logs like above. This is a RKE 1.11.3 cluster. My question is how do we fix this issue?

[2018-10-01 10:03] tamalsaha commented on #69277
/kind bug
/sig api-machinery

[2018-10-01 10:04] tamalsaha commented on #69277
cc: @deads2k

[2018-10-01 10:40] tamalsaha commented on #69277
Looks like another case of https://github.com/kubernetes/kubernetes/issues/61879

[2018-10-01 10:40] #69277 closed

[2018-10-01 10:56] gabrielfsousa commented on #69220
yes,

[code]

[2018-10-01 11:17] gabrielfsousa commented on #69197
what network plugin are u using ?

[2018-10-01 12:03] Drive2018 opened #69278 "Kubectl throwing error"
This is a bug report.

Trying to setup the Kubernetes cluster environment. while configuring kubectl getting the following error. Any commands come with the same error.

Error loading config file "/home/ec2-user/.kube/config-EksCluster1": v1.Config: Clusters: []v1.NamedCluster: v1.NamedCluster: Cluster: v1.Cluster: Server: CertificateAuthorityData: decode base64: illegal base64 data at input byte

[2018-10-01 12:07] #63064 closed

[2018-10-01 12:18] neolit123 commented on #69112
:+1:

this cannot be backported to 1.10 as it's not a super critical fix and it's triggered by an edge case.
thanks for the report.

best to upgrade to 1.12 as soon as possible for a number of other fixes!
/close

[2018-10-01 12:18] #69112 closed

[2018-10-01 12:50] sebastien-prudhomme opened #69280 "Implements node-specific Volume Limits for OpenStack"
Kubernetes implements node-specific Volume Limits for Amazon, Google and Azure but not for OpenStack: https://kubernetes.io/docs/concepts/storage/storage-limits/

Because of Libvirt, OpenStack has a limit of 26 attached volume: https://specs.openstack.org/openstack/nova-specs/specs/stein/approved/conf-max-attach-volumes.html

The Kubernetes scheduler should take that limit into account.

[2018-10-01 13:04] pontiyaraja opened #69281 "Port mirror pod NodeConformance e2e_node tests to e2e"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup
/area conformance
/area test
/sig node
/sig testing
/sig architecture

clean up the conformance test cases by reference of issue #[66875](https://github.com/kubernetes/kubernetes/issues/66875)

Port mirror pod node conformance  tests from e2e_node to e2e

@kubernetes/sig-testing

[2018-10-01 13:10] brooksgarrett commented on #63959
Sure, the PR has been approved for testing so the binaries are available. I'm moving the code into our soak environment to get it some more exposure this week.

[2018-10-01 13:32] sebastien-prudhomme commented on #69280
/sig scheduling

[2018-10-01 13:38] jsafrane commented on #68261
I've been thinking about this and I've not come to a clean solution. The main problem is that the CSI volume plugin should work without CSIDriver CRD installed. In 1.12 the CRD is optional, installed by driver registrar during driver registration. `Informer.HasSynced()` returns false both when the CRD does not exists and when the CRD exists but the cache has not been synced yet. The volume plugin

[2018-10-01 13:45] jsafrane commented on #69280
/sig openstack

[2018-10-01 13:47] yongzhedamaoxian opened #69282 "something wrong installing kubelet"
I want to start kubelet . But
systemctl status kubelet:
Process: 25419 ExecStart=/usr/bin/kubelet (code=exited, status=1/FAILURE)
Main PID: 25419 (code=exited, status=1/FAILURE)
I want to start kubelet properly but now I want to cry.

[2018-10-01 13:53] pho-enix commented on #63959
I've been trying with:
[code]
But I only go a NLB without the EIPs deployed. Didn't find any errors in the logs.

Do I have to enable a feature flag for it or kind of?

[2018-10-01 14:01] jsafrane commented on #69280
dup of https://github.com/kubernetes/kubernetes/issues/65471 ?

[2018-10-01 14:15] wjoel commented on #43962
Looks like there is finally some progress on https://github.com/kubernetes/kubernetes/pull/46517 again, thanks @goblain for all your efforts.

[2018-10-01 14:17] sebastien-prudhomme commented on #69280
Not really a dup.

Sure if  KUBE_MAX_PD_VOLS is available for any node, i could fix it to 26.

But i would prefer that Kubernetes knows that OpenStack has a limit of 26 by default, the same way it knows  Amazon, Google and Azure have some limits.

[2018-10-01 14:43] jsafrane commented on #69280
Can it break existing clusters? So far they're running without any limits and suddenly they will accept only 26 volumes per node. @kubernetes/sig-openstack-feature-requests, please approve.

[2018-10-01 14:54] brooksgarrett commented on #63959
The reviewer found a typo where I may not be collecting the correct annotation. I'm waiting for the new build to complete and then rolling to our soak test. I'm passing through any AWS error and also error if the number of EIP and Subnets don't match.

Let me get it online with the changes from code review and I'll dig in deeper.

[2018-10-01 15:18] #68819 closed

[2018-10-01 15:18] grosser commented on #57291
/remove-lifecycle stale

[2018-10-01 15:28] nikopen commented on #68211
Issue is reproducable. k8s 1.9.10, docker 17.12.1-ce

I have found another behaviour when using subPath:

in /var/lib/kubelet/pods/<pod-string>/, there are two places where the configmap file lives:
1. in `/volumes/kubernetes.io~configmap/<volumename>/<filename>
2. in `/volume-subpaths/<volumename>/<podname>/0

1. is the configmap object as is imported at pod creation time,
and 2. is the file with

[2018-10-01 15:28] jingxu97 commented on #32727
@AishSundar , yes, we target it for 1.13. Will update it in a couple of weeks. Thank you!

[2018-10-01 15:28] aermakov-zalando commented on #68998
That would be one option, or just patch them once after update.

[2018-10-01 15:32] liggitt commented on #68998
it would probably make sense to make this part of metadata coercion on read, based on whether the CRDs has spec/status enabled

[2018-10-01 15:44] dims commented on #69280
let's please not do this for now ... for one thing, that's just a spec and there is no code in openstack that enforces the limit (even in master)

https://review.openstack.org/#/q/topic:bp/nova-improvement-of-maximum-attach-volumes-more-than-26-vols

Thanks,
Dims

[2018-10-01 16:00] mossuchida commented on #67118
Problem that I see here is that I am experimenting de-scheduler & it uses the same algorithm as scheduler.  Initially it is a good idea to use resource request to distribute pods, but when the pods are under heavy load, kubernetes should more intelligently analyze the resource utilization & deploy or de-schedule heavily used pods to unutilized ndoes.  Here is the github issue that I have created f

[2018-10-01 16:27] dashpole commented on #65658
/remove-lifecycle stale

[2018-10-01 16:32] awly commented on #68858
Ping @MrHohn

[2018-10-01 16:47] lavalamp commented on #69146
@nikhita I don't think this can be related, #68578 is about "JSON Pointer" as interpreted by the server, not "JSON Path" as interpreted by the client.

[2018-10-01 16:47] lavalamp commented on #69146
(Or this description isn't right, I didn't dig further than reading the description)

[2018-10-01 17:03] gabrielfsousa commented on #69220
i revert back, and installed again, strange thing, everything is working good now :/

[2018-10-01 17:16] hyperbolic2346 opened #69292 "metrics server deployment yaml uses undocumented variables"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
/kind bug

**What happened**:
Metrics server deployment [yaml](https://github.com/kubernetes/kubernetes/blob/860d3cb32c2b52836e1acbacb564698cbaeaacb4/cluster/addons/metrics-server/metrics-server-deployment.yaml#L88) has undocumented variables inside it. After some digging, I found a [Google-specific setup script](https://github.com/kubernete

[2018-10-01 17:20] jarrpa commented on #38399
/remove-lifecycle stale

[2018-10-01 17:26] andrewsykim opened #69293 "Use better cloud provider LB names"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

With https://github.com/kubernetes/kubernetes/pull/66589 merged, each cloud provider can set their own loadbalancer names. We should be careful about how to handle existing LBs with the old name though. I think we can leave it up to each provider to figure out what that will look like as each provider has different requirements for LB na

[2018-10-01 17:28] andrewsykim commented on #69293
related thread for AWS ELB: https://github.com/kubernetes/kubernetes/issues/69293

[2018-10-01 17:32] nikopen commented on #68211
I can repro this on minikube v1.11.3 with cri-o. Not sure how reliable it is or what version of cri-o it runs, but it's the same symptom.

[2018-10-01 17:37] enisoc commented on #66688
Here's some background on why we expect this to always be in .status. Sorry this is so long; I didn't have time to make it shorter.

As @liggitt pointed out, ScaleStatus.Selector is not the same format of selector used in Spec.Selector, and this is intentional.

Spec.Selector is a human-readable object for easy manipulation by people. This form can and does vary across different objects and API ve

[2018-10-01 17:38] cheftako commented on #53159
/remove-lifecycle stale

[2018-10-01 17:39] neolit123 commented on #69220
flannel is confirmed broken for 1.12.0 by multiple users.

[2018-10-01 17:41] thockin commented on #69220
https://github.com/coreos/flannel/issues/1044 ?

[2018-10-01 17:51] huseyinyilmaz commented on #43279
For people who end up here like me, I wanted to share my solution(for kubernetes v1.10). I ran help for delete pod:
`$ kubectl delete pod --help`
It has following usage example and it worked for me:
[code]

[2018-10-01 18:09] janetkuo commented on #68397
We discussed this in SIG Apps meeting today and we're looking for more requests from users and some more concrete use cases.

I'd also like to point out that MaxSurge does not make sense for StatefulSets -- you wouldn't want to create more replicas (surge) than a StatefulSet's `.spec.replicas` during a rolling update, as each pod has its own identity. MaxUnavailable is the only thing needed here.

[2018-10-01 18:09] misterikkit commented on #68957
Sometimes we access `feature.DefaultFeatureGate` directly, and sometimes we [use a helper](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/util/utils.go#L158). Sometimes we `import "k8s.io/apiserver/pkg/util/feature"` and sometimes we `import utilfeature "k8s.io/apiserver/pkg/util/feature"`. Those are actually pretty minor inconsistencies.

Also, we get the feature keys from `k8

[2018-10-01 18:10] martinnaughton commented on #57345
I had the issue on Azure with kubernetes 1.9.9. i restarted the node and issue disappeared. It might appear again after a few days.

[2018-10-01 18:13] davidz627 opened #69296 "CSI Driver E2E tests fail if CRD's already exist"
When running the CSI Driver tests the entire test fails if the CRD is already installed at the beginning, the CRD could be installed from any number of possible reasons including a previous test failure where they weren't cleaned up properly. In any case, the test case should be resilient to this and either accept "already exists" errors or clean up the CRDS before creating new ones.

https://gith

[2018-10-01 18:19] bradjones1 commented on #61486
/remove-lifecycle stale

[2018-10-01 18:33] rongshen commented on #68891
I'm wondering if it is the same image as docker.elastic.co/elasticsearch/elasticsearch:6.3.2

[2018-10-01 18:37] caesarxuchao opened #69299 "Remove cluster/update-storage-objects.sh and hack/test-update-storage-objects.sh"
The cluster/update-storage-objects.sh are not maintained. It will be replaced by https://github.com/kubernetes/community/pull/2524.

We still run the hack/test-update-storage-objects.sh. Its invocation will be removed in https://github.com/kubernetes/kubernetes/pull/67678. We can remove the script.

/sig api-machinery
/assign

[2018-10-01 18:37] sbeckwithiii commented on #64586
Update: I find that the errors are continuing. Increasing the kube-dns replica count did not resolve the issue. Why it was abated for some days is unknown to me at this time. We are currently investigating and looking for the least common denominator or some sort of pattern beyond, "every pod on a given node begins failing to communicate across the network."

[2018-10-01 18:46] dims commented on #69234
/reopen

[2018-10-01 19:39] ConnorDoyle commented on #49964
/remove-lifecycle rotten stale

[2018-10-01 19:39] ConnorDoyle commented on #69276
xref https://github.com/kubernetes/community/pull/1680

[2018-10-01 19:41] ConnorDoyle commented on #49964
/remove-lifecycle rotten

[2018-10-01 19:46] roycaihw opened #69304 "dry-run: openapi spec missing dryRun query parameter for POST/PUT/PATCH operations"
In 1.12 we added support for `dryRun` query parameter in apiserver POST/PUT/PATCH/DELETE handlers https://github.com/kubernetes/kubernetes/pull/65105. However our [openapi spec](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json) wasn't properly updated to reflect the parameter in POST/PUT/PATCH operations.

The openapi-generated clients (python, java, etc.) will be

[2018-10-01 19:54] gnufied commented on #69183
close fixed by https://github.com/kubernetes/kubernetes/pull/58646

[2018-10-01 19:54] gnufied commented on #69183
/close

[2018-10-01 19:54] #69183 closed

[2018-10-01 20:08] tanner-bruce commented on #60279
This looks to have been resolved in cAdvisor as of https://github.com/google/cadvisor/releases/tag/v0.31.0

[2018-10-01 20:09] ObviousDWest opened #69307 "Support maxUnavailable in RollingUpdate for StatefulSet"
/kind feature
@kubernetes/sig-cluster-lifecycle-feature-requests

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", Goion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{

[2018-10-01 20:16] jennybuckley commented on #69214
/cc @caesarxuchao

[2018-10-01 20:20] jennybuckley commented on #69257
/cc @roycaihw

[2018-10-01 20:22] lavalamp commented on #69226
/remove-sig api-machinery
/sig network

API Machinery wouldn't be implementing this. I'll give it to sig network, but I'm suspicious that the proposed mechanism won't actually function well in all cases. (No guarantee the OS instantly closes the socket, for example)

[2018-10-01 20:27] #69256 closed

[2018-10-01 20:28] andrewsykim commented on #69293
cc @kubernetes/sig-cloud-provider @cheftako @dims @d-nishi @frapposelli @hogepodge @justaugustus @khenidak @mcrute (anyone know contacts for cloudstack?)

[2018-10-01 20:31] apelisse commented on #69304
Thanks @roycaihw. I suspect it's a bug in the generation, since I would have expected the verify script to find a difference and/or to have generated what needed to be generated. Or alternatively, it can be a missing flag somewhere that I missed (it's actually more likely ;-)).

[2018-10-01 20:54] salvagglez commented on #33777
Same issue on GKE....

Even showing kube-system elements one of my nodes only uses 5% of the CPU resource:
Allocated resources:
  (Total limits may be over 100 percent, i.e., overcommitted.)
  CPU Requests  CPU Limits  Memory Requests  Memory Limits
  ------------  ----------  ---------------  -------------
  100m (**5%**)     0 (0%)      0 (0%)           0 (0%)

[2018-10-01 21:30] raravena80 opened #69311 "Allow a jobs to be stopped rather than deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig scheduling

**What happened**:

Kubernetes jobs stop after they are finished.

**What you expected to happen**:

What if want to stop the job before it's finished.  I would like to keep the pods hanging around for debugging. If I do `kubectl delete job <job-id>` the pod is deleted, together with its container and lobs are not retain

[2018-10-01 21:40] krmayankk commented on #68397
thanks @janetkuo  makes sense. I am going to float this idea on k8s-dev and k8s-users  to see what others think about this

[2018-10-01 21:40] krmayankk commented on #68397
/assign @krmayankk

[2018-10-01 21:45] dims opened #69312 "Update to golang 1.11.0"
Sometimes we switch the golang versions towards the end of the release which is problematic.

For 1.13, can we please switch over to golang 1.11.0 early in the cycle?

cc @ixdy @cblecker @BenTheElder

[2018-10-01 21:45] dims commented on #69312
/sig release

[2018-10-01 21:47] cblecker commented on #69312
dupe of #67872

/close

[2018-10-01 21:47] #69312 closed

[2018-10-01 21:53] bboreham commented on #60279
The change in cAdvisor fixes the bug that exported zeros; it doesn’t help with the request:

for which the answer is still to run your own instance of a program which has that feature, eg cAdvisor.

[2018-10-01 22:13] runk opened #69314 "GCE Loadbalancer - Tier configuration support"
/kind bug
/sig gcp

**What happened**:

Service configuration for GCE LoadBalancer doesn't seem to support tier configuration via annotations as described here https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/cloudprovider/providers/gce/gce_annotations.go

No matter what value annotation set to, LB tier is always "Premium".

**What you expected to happen**

[2018-10-01 22:16] blakebarnett commented on #60279
Yeah, we're going this route. Seems this can be closed.

[2018-10-01 22:47] ObviousDWest commented on #69307
@kubernetes/sig-cluster-lifecycle-feature-requests

[2018-10-01 22:51] #49445 closed

[2018-10-01 23:02] tamalsaha commented on #61879
@liggitt / @deads2k , do you think `kube-apiserver` can at least add annotation to the `extension-apiserver-authentication` so that it is easy to tell if there is mis-match across apiservers?

[code]

I see people tripping up on this issue and having hard time figuring out where the problem is.

[2018-10-01 23:03] misterikkit commented on #68955
@krmayankk Will the PR be ready for review soon?

[2018-10-01 23:04] misterikkit commented on #68957
I just realized that this issue will conflict with @denkensk's work in #68954. Best to coordinate with them.

[2018-10-01 23:09] misterikkit commented on #68958
Will this PR be ready for review soon? If you don't have time for it, we can find someone to help.

[2018-10-01 23:09] misterikkit commented on #68959
Will this PR be ready for review soon? If you don't have time for it, we can find someone to help.

[2018-10-01 23:09] misterikkit commented on #68960
Will this PR be ready for review soon? If you don't have time for it, we can find someone to help.

[2018-10-01 23:09] misterikkit commented on #68962
How is this cleanup going?
/remove-help

[2018-10-01 23:10] misterikkit commented on #68963
@tossmilestone Have you started this? How is it going?
/assign @tossmilestone
/remove-help

[2018-10-01 23:10] kow3ns commented on #68006
/close

[2018-10-01 23:10] #68006 closed

[2018-10-02 00:01] tossmilestone commented on #68963
@misterikkit, I am now working on it. It will be done later.

[2018-10-02 00:03] ixdy commented on #68703
I'm still waiting for #68799 to be approved. :(

[2018-10-02 01:14] Pingan2017 commented on #69278
/sig cli

[2018-10-02 01:51] dims commented on #68973
@lavalamp @deads2k Do we want to fix this for 1.12.1 (on friday)?

[2018-10-02 04:06] akbaribnu commented on #24137
hai thnks, this solution make my problem **solved**

[2018-10-02 04:09] thockin commented on #8976
This is good insight, but raw perf should not be the only metric.  We
should evaluate output for human readability.

On Sun, Sep 30, 2018 at 8:40 PM Gokul T P <notifications@github.com> wrote:

[2018-10-02 04:11] thockin commented on #8976
Also there's https://github.com/kr/pretty

Also we should file a bug againstlitter to see if they can do better (I
like their output better than spew)

On Mon, Oct 1, 2018 at 9:09 PM Tim Hockin <thockin@google.com> wrote:

[2018-10-02 05:42] MikeSpreitzer opened #69319 "k8s.io/client-go/tools/cache/index.go confuses keys with values"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I wrote some client code based on the usage of the word "key" in index.go, and my code was buggy.  Then I looked more closely at index.go, and realized that it has a dichotomy but botches the naming and discussion of it.  The dichotomy is between what that file sometimes calls "values" and some of what it calls "keys".  A

[2018-10-02 05:43] MikeSpreitzer commented on #69319
@kubernetes/sig-api-machinery-bugs

[2018-10-02 06:49] nevola commented on #62720
/remove-lifecycle stale

We're still working on this issue.

[2018-10-02 07:08] Shinerrs commented on #51785
I can confirm this is still an issue in the latest Kubernetes

Client Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.0-rc.1", GitCommit:"3e4aee86dfaf933f03e052859c0a1f52704d4fef", GitTreeState:"clean", BuildDate:"2018-09-18T21:08:06Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"9

[2018-10-02 07:40] #68736 closed

[2018-10-02 07:46] yinwenqin commented on #63900
@chrisohaver
After I redeployed CoreDNS twice, the problem was solved, which was very strange, but so far the problem has not recurred.I will close this issue,thank you so much!

[2018-10-02 07:46] #63900 closed

[2018-10-02 08:04] yinwenqin opened #69324 "The dynamic PV name does not match the CEPH RBD image name."
/kind feature
/sig storage

**What happened**:
We use CEPH RBD through dynamic PV. Evething is ok,but the dynamic pv's name do not match the rbd image name,I can't clearly see which pod corresponds to which rbd image, which brings great inconvenience to view the capacity usage of each pod, which is inconvenient to operate and maintain.

Here are the dynamic pvs:
[code]
Here are the rbd images:
[co

[2018-10-02 08:05] trevex commented on #57280
@squeed How does this interact though with "stateless" pxebooted bare-metal clusters. Would this not imply, that potentially every restart leaks IP addresses?

[2018-10-02 08:30] PrasadG193 commented on #68946
I will work on this. Can you please assign it to me?

[2018-10-02 09:09] pho-enix commented on #63959
I checked with the fixes you provided yesterday. Works :)

Created a service which spawns over 3AZs and supplied 3 EIP allocations.

NLBs gets created correctly.

[2018-10-02 09:42] squeed commented on #57280
@trevex it depends on what you're using for IPAM. If you use the CNI host-local one, it stores its state on disk, so that is *also* thrown away and you don't have any leaks. If you're using one that stores state in an external place (e.g. Infoblox), then you need to think a bit more carefully.

By default, kubenet uses the host-local IPAM, so it won't be affected.

The problem is when you flush `/

[2018-10-02 09:58] SamolazovRoman commented on #67941
i've this problem:
[code]

container with DB:

[code]

and what interesting:

i can run:
[code]
output:
[code]
i can't run:
[code]
output:
[code]

[2018-10-02 10:08] trevex commented on #57280
@squeed Thank you for clearing this up for me.

[2018-10-02 10:36] bayerb opened #69327 "Kubernetes dashboard is not available through nginx-ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig api-machinery

**What happened**:

 Kubernetes dashboard is not available through nginx-ingress:

 curl -v -k https://localhost:30443/k8s/dashboard
 * About to connect() to localhost port 30443 (#0)
 *   Trying 127.0.0.1...
 * Connected to localhost (127.0.0.1) port 30443 (#0)
 * Initializing NSS with certpath: sql:/etc/pki/nssdb
 * ski

[2018-10-02 11:16] dmayo3 commented on #60789
@james-masson as you say, managing individual Pods is not a scalable pattern and hence the guide you referenced is a bit too low-level for general purposes.

StatefulSets are intended for this kind of use case rather than Deployments. Perhaps that guide could be changed to point future readers in the right direction if this is what they're looking for.

[2018-10-02 11:31] vh commented on #46574
@crassirostris @edsiper https://docs.fluentbit.io/manual/output/stackdriver

[2018-10-02 12:28] #69095 closed

[2018-10-02 12:29] okgolove commented on #69095
Fixed by --publish-service in nginx-ingress
https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-deployment.yaml#L51

[2018-10-02 12:40] marquiz commented on #66525
I think it is a big gap that the user is not able to determine the effective cpu manager policy anywhere.

[2018-10-02 12:51] Baughn commented on #53533
Nor is turning swap off a good way to ensure responsiveness. Unless you pin the executables in memory (a capability K8s should have), the kernel will still swap out any and all file-backed pages in response to memory pressure, or even simply lack of use.

Having swap enabled doesn't markedly change kernel behavior. All it does is provide a space to swap out anonymous pages, or modified pages on fr

[2018-10-02 12:53] brooksgarrett commented on #63959
Can you also comment on the PR? I'm sure having multiple successful tests would be helpful to the reviewer.

[2018-10-02 13:08] osalkk commented on #66844
Similar issue. I've also asked on #kops-users slack channel https://kubernetes.slack.com/archives/C3QUFP0QM/p1538483880000100

[2018-10-02 14:34] james-masson commented on #60789
I think you're missing the point @dmayo3  - I know all about StatefulSets.

StatefulSets are a hindrance in my use case, because their ordering makes them cumbersome to update and scale. I have no need here for name consistency or persistent data - just valid DNS.
The update mechanisms for Deployments are far richer and faster than StatefulSet, and when you want tens to hundreds of a pod, it matte

[2018-10-02 14:59] zoobab commented on #63475
@adampl can you mention for which providers it has been fixed? I am chasing a simple bug where in Openstack the volumes are not being freed from a node which has been shutdown...

[2018-10-02 15:04] vorozhko commented on #68631
I have similar issue. In my case issue was with ELB itself. It's AZs list has 2 subnets out of 3. So, when pod migrated to subnet which is not covered by ELB then ELB go out of service.
My setup is EKS within 3 private subnets and internal ELB provisioned by ingress.

[2018-10-02 15:36] ncdc commented on #14828
@KurtStam sorry it took a while to reply. I am not sure where to go from here - @timothysc do you have any advice?

[2018-10-02 15:46] krmayankk commented on #47326
/remove-lifecycle stale

[2018-10-02 16:02] stealthybox commented on #69234
@timothysc @chuckha What should we do with Sonobuoy now that this is merged and cherry-picked?
Do we need to wait for 1.12.1 to drop before we can use that test suite?
Will we use that test suite for 1.12.0 clusters?

[2018-10-02 16:09] c-mccutcheon commented on #66153
Same issue - Azure AKS (Kubernetes 1.10)

[2018-10-02 16:28] EamonKeane commented on #66153
FYI, last I heard (on slack) was that a fix is in testing.

[2018-10-02 16:49] dmfenton commented on #67345
Any updates?

[2018-10-02 17:51] adampl commented on #63475
I don't remember now, but probably AWS and/or GCE. Now I'm not even sure if it's actually fixed, or it's just a difference in behavior. Some providers actually remove the node from the cluster when it's shut down, which AFAIK somehow helps K8S to force-detach the volume. But generally, several solutions for this problem appeared over time as pull requests (like #67977), but eventually they have be

[2018-10-02 18:03] KnicKnic opened #69336 "Windows: Service does not work if targetPort is string"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Tried to create a service using targetPort as a string referencing the name of the pod port. Traffic was not routed to pod.

**What you expected to happen**:
Service to route traffic to pod

**How to reproduce it (as minimally and precisely as possible)**:
[code]
See line targetPort

**Anything else we need to know?**:
Li

[2018-10-02 18:30] bryanlarsen commented on #59376
I've got a machine in my cluster that reliably spews a machine like "kubelet[2589]: E1002 12:13:46.064879    2589 kube_docker_client.go:341] Cancel pulling image "us.gcr.io/...:4099cd1e356386df36c122fbfff51243674d6433" because of no progress for 1m0s, latest progress: "8bc388a983a5: Download complete "

[2018-10-02 18:34] dims commented on #59376
@bryanlarsen did u see the tips i referred to earlier? ( in https://blog.openai.com/scaling-kubernetes-to-2500-nodes/#dockerimagepulls )

[2018-10-02 18:40] yujuhong commented on #51798
#68522 should address most of the issues mentioned here.

[2018-10-02 18:48] bryanlarsen commented on #59376
Sorry, I didn't leave enough context.   The tips did fix things for me -- the last message saying "download complete" just means that at least one layer has been fully downloaded; there may still be many more layers to download and/or extract.    The frustration was that the message sent me on a wild goose chase looking for the problem elsewhere.

[2018-10-02 18:53] andrewsykim commented on #39090
Cool, @Rajat-0 I have some bandwidth this week to try to tackle this, but happy to let you take it if you'd like.

[2018-10-02 19:04] gbl-peter commented on #60957
/remove-lifecycle stale

[2018-10-02 19:08] andrewsykim opened #69341 "Rename services controller to loadbalancers controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

It seems like [services controller](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/service) was built with the intent that it would be a generic controller for all things related to services. Today (and for the last 2 years) its only purpose has been to manage Services of `type: LoadBalancer` using a cloud provider i

[2018-10-02 19:08] andrewsykim commented on #69341
/assign @d-nishi

[2018-10-02 19:09] andrewsykim commented on #69341
cc @bowei @thockin for any sig-network inputs here

[2018-10-02 19:11] embano1 commented on #68981
Please see the following issues/KEP for similar questions. It's probably not that easy to implement as day 2 (scale up/down/rolling update) also have to be considered here and scheduler is not always involved (e.g. delete some replicas during scale down) which IMHO is based on a timestamp (could be wrong, did not check the code).

https://github.com/kubernetes/kubernetes/issues/4301
https://github

[2018-10-02 19:13] #62666 closed

[2018-10-02 19:38] bowei commented on #69341
sgtm (for me)

[2018-10-02 20:01] cristifalcas opened #69343 "Missing rewrite-tag-filter plugin in fluentd-elasticsearch image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Container "gcr.io/google-containers/fluentd-elasticsearch" is missing the following fluentd plugin: fluent-plugin-rewrite-tag-filter

**What you expected to happen**:
To find the plugin inside the image

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2018-10-02 20:13] AndrewSav commented on #53533
@Baughn

Can you provide some reference for this so that I could educate myself?

[2018-10-02 20:44] alvaroaleman opened #69346 "1.10 kubelet doesn't start any daemonset containers with 1.12 control plane"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I upgraded a kubernetes cluster with an existing 1.10 node to 1.12. From there on the kubelet didn't start any containers. Pods got scheduled and then went into the `MatchNodeSelector` status

**What you expected to happen**:#

The kubelet to start containers

**How to reproduce it (as minimally and precisely as possible

[2018-10-02 21:11] dims commented on #61006
@tallclair @alexellis  @bboreham @munnerz @thockin @bgrant0607 Here's an experiment for forking glog into the k/k repo - https://github.com/kubernetes/kubernetes/pull/69333

[2018-10-02 21:32] timothysc commented on #69110
@stevekuznetsov

It's already option enabled in the wrapped runner.

In the long haul cloud-providers will move as a separate apply step, so they should be discoverable by the suite at startup.

[2018-10-02 22:20] weinong opened #69352 "Controller Manager may get stuck in deleting public IP after restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
It seems that after kube-controller-manager restarted, it may get stuck in ensure load balancer as it's trying to delete a public IP that's referenced by an orphan frontend configuration which is no longer referenced by any k8s service

**What you expected to happen**:
kube-controller-manager should clean up th

[2018-10-02 22:21] weinong commented on #69352
/sig azure
cc: @khenidak

[2018-10-02 22:28] roycaihw commented on #69304
/assign

I'll take a look tomorrow if not today to see why the parameters weren't generated.

[2018-10-02 22:30] alvaroaleman commented on #69346
Adding `--feature-gates=ScheduleDaemonSetPods=false` on both scheduler and controller-manager circumvents the issue.

Still, the new default breaks the Kubernetes version skew policy, maybe set it back to `false` for 1.12?

[2018-10-02 22:56] joelbraun commented on #32987
This issue occurs on 1.10.6 as well.

[2018-10-02 23:31] jordan-at-systran commented on #69197
I too am having the same issue using v1.12.0.

[2018-10-02 23:31] roycaihw commented on #69257
Hi @hex108, I see that you're already on the https://github.com/kubernetes/kubernetes/pull/67824 thread. Does the background provided in https://github.com/kubernetes/kubernetes/pull/67824#issuecomment-425999094 and https://github.com/kubernetes/kubernetes/issues/66688#issuecomment-425996199 answer your question in this issue? From what I read, `labelSelectorPath` was designed intentionally to be

[2018-10-02 23:55] shubheksha commented on #69282
/close

[2018-10-02 23:55] #69282 closed

[2018-10-02 23:55] shubheksha commented on #69336
/sig windows

[2018-10-03 00:00] shubheksha commented on #69292
Maybe it would make more sense to file this in the [docs](https://github.com/kubernetes/website/issues/new) repo since it looks related to that?

[2018-10-03 00:03] #69224 closed

[2018-10-03 00:04] amelbakry commented on #54918
in my case 1 node of 3 nodes was working. I solve the issue by creating a directory mkdir -p /etc/cni/net.d

and creating a file with these contents

cat 10-flannel.conflist
{
  "name": "cbr0",
  "plugins": [
    {
      "type": "flannel",
      "delegate": {
        "hairpinMode": true,
        "isDefaultGateway": true
      }
    },
    {
      "type": "portmap",
      "capabilities": {

[2018-10-03 00:13] enisoc commented on #69257
@roycaihw I think you interpreted it correctly.

This issue represents an idea for how to rethink the design for how apiextensions-apiserver fills in ScaleStatus.Selector for you. I think it's worth discussing since it would be nice for custom controller authors to not have to do the conversion themselves.

I'm not sure if this was clear from the top post in this thread, but one requirement is tha

[2018-10-03 00:13] roycaihw commented on #69304
I suppose the `metav1.DeleteOptions` gets parsed and added to go-restful Param() definitions during endpoint installation:
https://github.com/kubernetes/kubernetes/blob/2d67d782de1b90aa45c682bcdefccaae0aec841c/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L722-L724
The PUT/PATCH/POST operations didn't have `addObjectParams(ws, route, versionedXXXXOptions)` invoked because we didn't have

[2018-10-03 00:26] jberkus opened #69356 "[sig-apps] Daemon set [Serial] should not update pod when spec was updated and update strategy is OnDelete"
DaemonSet upgrades and downgrades have been failing since 9/25.

Dashboard: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

Sample Failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1803

This test failure will block 1.13 beta, so please let's fix it before then.  Thanks!

/sig apps
/k

[2018-10-03 01:00] k82cn commented on #69346
any log to share for both scheduler and kubelet ?

[2018-10-03 01:27] dims opened #69358 "Pause image is still using manifest-tool"
We need to remove the manifest-tool usage from k/k

https://github.com/kubernetes/kubernetes/search?q=manifest-tool&unscoped_q=manifest-tool

cc @mkumatag

[2018-10-03 01:29] dims commented on #69358
/sig release

[2018-10-03 01:56] JCMais commented on #33777
I had this same issue, GKE has a default `LimitRange` with default limits for CPU request set to `100m`, this can be checked by running `kubectl get limitrange -o=yaml -n default|your-namespace`.

This limit is applied to every container. So for instance, if you have a 4 cores node, and assuming that for each POD 2 containers are going to be created, it will allow only for around ~20 pods to be cr

[2018-10-03 01:58] neolit123 commented on #69343
/sig instrumentation

[2018-10-03 02:02] neolit123 commented on #69292
^ +1
please file an issue in `kubernetes/website` and tag a SIG with `/sig instrumentation`.
also PRs for the website are welcome!

thanks.
/close

[2018-10-03 02:02] #69292 closed

[2018-10-03 02:40] gokultp commented on #8976
Actually  https://github.com/kr/pretty is working well.  here is the benchmarks
[code]

also attaching the formatted outputs

1. spew:
[code]
2. linter:
[code]
3. pretty :
[code]

so I'll be changing the util function to use https://github.com/kr/pretty,  as it is giving  better performance and almost the same output.

[2018-10-03 02:50] AishSundar commented on #68959
@misterikkit @wgliang  I am assuming this is going to wrap in 1.13? If so we can help add the appropriate milestone label here

/cc @nikopen

[2018-10-03 02:51] mitchellmaler commented on #64623
/remove-lifecycle rotten

[2018-10-03 02:53] mitchellmaler commented on #64623
Currently we got around this by using a third party tool to run automation on the nodes. It would be useful if jobs (daemon jobs) could be ran once on each node and even if based on node selector.

[2018-10-03 03:19] manojgoyal04 commented on #67278
I also upgraded my cluster from 1.10 to 1.11.0 and facing the same issue. Services running on master node, not accessible from another nodes with in the cluster. I tried both with CoreDNS and kube-DNS.
If I kill DNS service+deploy running on master node, and  run it on another node, then services running on master node are accessible form that node only. Like this I have to keep killing DNS servic

[2018-10-03 03:30] teddy-owen commented on #33664
For those trying to automatically update your cluster to the latest images within a CI/CD pipeline, I recommend using kubectl to set the image to the latest digest as below. This works for me with Google Cloud Container Registry and Kubernetes Engine:
[code]

[2018-10-03 03:35] #64627 closed

[2018-10-03 04:46] #68337 closed

[2018-10-03 05:01] humblec commented on #65703
@ateleshev Can you please share more details about

Also which version of glusterfs is in use here ?

[2018-10-03 05:01] humblec commented on #65703
/assign @humblec

[2018-10-03 05:18] Paxa commented on #60914
Yes it would be nice to configure timeout per webhook

[2018-10-03 05:18] yakuza-m opened #69360 "Kubectl top nodes/pods not working(I am new to K8's)"
I have installed the latest version of kubectl(1.12) kubeadm kubernetes-cni kubelet
@kubernetes/sig-contributor-experience-
/sig Autoscaling
/sig api-machinery
/sig autoscaling
 /sig cluster-lifecycle
 /sig instrumentation
/sig scalability
also, my machine is Ubuntu 16.04

when I do kubectl top node I'm getting
error: metrics not available yet

also
the output of

kubectl get deployment -n kube-sy

[2018-10-03 06:08] mortent commented on #69356
I'm investigating this.
It is related to the change here: #68754. Still figuring out the actual impact and how to fix it.

[2018-10-03 06:40] ateleshev commented on #65703
In gluster container we use:
[code]
In kubelet container we use:
[code]
And for kubernetes provisioner we use Heketi: 7.0.0

[2018-10-03 07:35] astorath opened #69362 "GCE Internal Load Balancer loses nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We are using GKE with internal load balancer `cloud.google.com/load-balancer-type: "internal"` and preemptible instances. _Sometimes_, when instances are recreated, new instance is not added to google load balancer. We have nginx ingress behind this balancer, so cluster loses it's ingress in that case.

**What you expecte

[2018-10-03 07:51] nikhita commented on #68946
@PrasadG193 Only @kubernetes org members can be assigned, but consider yourself assigned and feel free to work on this issue. :)

[2018-10-03 07:56] sebastien-prudhomme commented on #69280
Ok, as you want. Will try using the CSI driver if KUBE_MAX_PD_VOLS is working in Kubernetes 1.12

[2018-10-03 07:56] #69280 closed

[2018-10-03 08:08] nikhita commented on #15863
@RajatVaryani you can use something like https://gist.github.com/porjo/b331df0b3d7e33c30920

[2018-10-03 08:16] #69137 closed

[2018-10-03 08:38] astorath opened #69364 "GKE bind: address already in use error on container network."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We are using GKE with preemptible instances and flannel network (`--no-enable-network-policy`). _Sometimes_, we get pods in a crash loop with `address already in use` error. This happened with **nginx-ingress** pods and **tiller** pods (neither make use of host networking). Deleting a pod gets it scheduled on other node a

[2018-10-03 08:46] alvaroaleman commented on #69346
@k82cn Yes ofc, here are the `v=9` logs of them:

* Scheduler: https://gist.github.com/alvaroaleman/a365f243436abd933cdff6d80d40effe
* Kubelet: https://gist.github.com/alvaroaleman/0335c6ecfa5eab02f35b7ba02085b41c

[2018-10-03 09:29] tlycken commented on #66153
@EamonKeane Do you know where to go to follow the progress of that fix?

[2018-10-03 09:41] RajatVaryani commented on #15863
@nikhita Thanks.

[2018-10-03 10:29] jimmythedog commented on #36222
I agree with @lleontop - I can recreate it every time
If you were to execute the following (ensuring *no* trailing spaces), the configmap remains "pretty"
[code]
However, repeat the above (or edit the existing one with `kubectl`), and put a trailing space after one of the key/value pairs, and that then messes up the configmap contents

[2018-10-03 10:39] amitkarpe commented on #69221
@speneker
Can you please explain how you have resolved the issue?

[2018-10-03 11:42] jsafrane opened #69367 "CSI: races in CSISkipAttach tests"
This is somewhat related to #68261.

[CSISkipAttach tests](https://github.com/kubernetes/kubernetes/blob/860d3cb32c2b52836e1acbacb564698cbaeaacb4/test/e2e/storage/csi_volumes.go#L124) do these things:

1.
    1. Create CSIDriver CRD (in BeforeEach).
    2. (Optionally) create CSIDriver instance.
    3. Create a pod and check that VolumeAttachment was (not) created.
2.
    1. Delete pod
    2. Dele

[2018-10-03 11:43] jsafrane commented on #69367
/sig storage
/kind bug

@davidz627 @pohly @saad-ali @msau42 @lpabon @vladimirvivien
(this tagging gets annoying, can we get @kubernetes/sig-storage-csi group?)

[2018-10-03 11:57] bdashrad commented on #39031
also seeing this issue on 1.8.14

[2018-10-03 12:06] terrywang commented on #65221
Just FYI.

After upgrading to `v1.12.0` the issue is fixed. The actual commit was a part of the v1.12.0 release so you don't have to cherrypick ;-)

[2018-10-03 12:30] c-mccutcheon commented on #66153
What is the workaround in the interim? I cannot get nginx-ingress to work at all - it just seems to time out, seemingly due to the errors which are constantly spammed into the log.

Will it work on a previous version of Kubernetes still? Worked ok on 1.9 from what I recall.

[2018-10-03 12:41] jsafrane commented on #69367
One simple way out of this in 1.12 (and 1.12 only) would be to remove CSIDriver informer from CSI volume plugin. The plugin would GET CSIDriver instance from API server every time it needs it. This way, it has always fresh value, regardless if the CRD was deleted in the meantime or not. It will solve #68261 too.

For 1.13, I would suggest that CSIDriver CRD **must** be installed by something when

[2018-10-03 12:44] bhack commented on #21493
https://github.com/grpc-ecosystem/grpc-health-probe/

[2018-10-03 13:11] charrywanganthony commented on #69311
/sig cli

[2018-10-03 14:13] ivantichy commented on #60315
/remove-lifecycle stale

[2018-10-03 14:20] RenaudWasTaken commented on #65772
Fixed by kubernetes/kubernetes/pull/64621

[2018-10-03 14:20] #65772 closed

[2018-10-03 14:53] timothysc opened #69373 "BUG: SSH Keys in E2Es"
**Is this a BUG REPORT**:
There are numerous e2e tests which require SSH keys to be present, otherwise they are skipped.

**What happened**:
It's a weird behavior validation that is not API-driven or agnostic, a lot of those tests get skipped b/c of restrictions on how the e2es run.

**What you expected to happen**:
e2es should be behavioral driven.  If we can not validate via the API then there i

[2018-10-03 14:55] hoegaarden opened #69374 "CSI volume plugin test improvements"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

While working on #69371 we found a couple of issues in the tests of the CSI volume plugin:

- [ ] The `RegistrationHandler.RegisterPlugin` seems to be untested
- [ ] The `csiPlugin.Init` seems to be untested
- [ ] Implementation pollutes global state ([CSI drivers store](https://github.com/kubernetes/kubernetes/blob/c1ad

[2018-10-03 15:04] zegl commented on #67752
I havn't been able to reproduce this myself, I'll close it for now.

[2018-10-03 15:04] #67752 closed

[2018-10-03 15:28] jberkus commented on #69356
cc

@bradhoekstra

@thockin

@bboreham

[2018-10-03 15:29] liggitt commented on #69257
not quite sure what you mean by that... serialized API fields (which is what this jsonpath points at) don't have code associated

[2018-10-03 15:36] DirectXMan12 commented on #69257
Yeah, I realized that after I wrote it, but couldn't find the tab with the comment again ;-).  I may or may not be particularly awake this morning :-)

[2018-10-03 16:12] zegl opened #69376 "ReplicaSetController can miss handling the deletion of a ReplicaSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

@ncdc's description hoisted from https://github.com/kubernetes/kubernetes/issues/69376#issuecomment-427453571:

I was about to file this. I spent yesterday triaging it and have determined the root cause. The issue is that the `ReplicaSetController` can "miss" handling the deletion of a `ReplicaSet` if things happen quickl

[2018-10-03 16:17] EamonKeane commented on #66153
@tlycken @c-mccutcheon this was mentioned to me by one of the support guys on #sig-azure. Tbh, I've tried several times in the past 6 months to get AKS/acs-engine working sustainably, so my interim solution is to deploy kubeadm, metallb, and local-volume-provisioner, so no need for the azure cloud provider. I'll circle back in a month or two to see if stable. You can get a working kubeadm in a few

[2018-10-03 16:41] nikhita commented on #57667
@spiffxp I can spend some time on at least one of the above points next week + https://github.com/kubernetes/test-infra/pull/9387.

[2018-10-03 16:56] jturolla-nubank commented on #64653
I'm also having this issue:

[code]

[2018-10-03 17:03] tpepper commented on #57667
I can get some words formalized in the release team's [release lead handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/release-team-lead) around beginning and end of cycle pruning of @kubernetes/kubernetes-release-managers.  I own that also for kubernetes-milestone-maintainers.

[2018-10-03 17:38] #69296 closed

[2018-10-03 17:45] saad-ali opened #69379 "Move CSI RBAC Role definitions from kubernetes/kubernetes to external repos"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
RBAC Roles for external CSI components (external-provisioner, external-attacher, etc.) are defined in https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L462 and pre-installed on k8s

**What you expected to happen**:
https://github.com/kubernetes/kubernetes/issue

[2018-10-03 17:58] cblecker commented on #67872
Opened https://github.com/kubernetes/kubernetes/pull/69386

[2018-10-03 18:16] msau42 commented on #69367
For 1.13, I think the plan is to install CRD via a controller.  But will that controller be able to run and install before all the other components come up?

[2018-10-03 18:55] DirectXMan12 opened #69390 "Staging update bot appears to be borked for k8s.io/metrics"
If you look at the releases for k8s.io/metrics, there's a release https://github.com/kubernetes/metrics/releases/tag/kubernetes-1.12.0-invalid, which doesn't seem to actually correspond to the state of the deps as of 1.12 (there appear to be commits missing that are presenting in the staging dir of the actual k8s 1.12 release).

@kubernetes/sig-api-machinery-misc are you the ones that maintain thi

[2018-10-03 18:56] cdenneen commented on #40244
+1

@Naddiseo @duizendnegen Can you explain what alternative options you propose since you are down voting this?

[2018-10-03 19:03] nikhita commented on #69390
@DirectXMan12 it's the same problem as #69214. @sttts and I are looking into this. :+1:

This is
/sig release
/area release-infra

/remove-sig api-machinery

[2018-10-03 19:06] cmluciano commented on #69341
+1

[2018-10-03 19:13] andrewsykim commented on #69341
Thanks for the feedback everyone, @d-nishi has started work on this :)

[2018-10-03 19:15] #66621 closed

[2018-10-03 19:17] johscheuer commented on #63994
I close this issue since it didn't occurred since then (probably an Azure hickup)

[2018-10-03 19:17] #63994 closed

[2018-10-03 19:21] bhack commented on #39657
Is it stale?

[2018-10-03 19:47] lavalamp commented on #68973
Self signing in memory means you get a different cert each time it starts. It's probably better than nothing but it's not how things are supposed to work (it's too inconvenient to manually verify the cert out of band in places users should trust it).

OTOH if you want to do that, maybe you'll provide a writable directory in the first place, or even a real cert. So I guess in-memory is probably OK.

[2018-10-03 19:51] lavalamp commented on #68973
Second thought: `/var/run/kubernetes` is a terrible default for the cert path.

It should have the word "certs" in the path somewhere.

If folks (inadvisably) run apiserver and controller manager on the same system, they should at least not both try to use certs from the same place, or worse, write them there.

I suggest `/var/run/kubernetes/controller-manager/certs` as the default.

[2018-10-03 19:53] 0verc1ocker commented on #61005
@kumudt

Seeing the same problem with kops debian stretch image for 1.10 k8s.
Public tag of image in AWS: `kope.io/k8s-1.10-debian-stretch-amd64-hvm-ebs-2018-08-17`

@chen-joe1015

This seems to still be broken on kops Debian Stretch images where the default iptables version is `1.6.0`. Should iptables be updated on the debian stretch default images?

[2018-10-03 19:55] jingxu97 commented on #39657
Sorry for not updating this for a while. We are going to have snapshot alpha feature in 1.12. Please check our lasted design doc https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-snapshot.md
In the new design, we only support CSI volume snapshot. The snapshot repo is https://github.com/kubernetes-csi/external-snapshotter/
Feedback and suggestions are wel

[2018-10-03 19:55] jingxu97 commented on #39657
/remove-lifecycle rotten

[2018-10-03 20:01] #68395 closed

[2018-10-03 20:01] #68914 closed

[2018-10-03 20:03] jingxu97 commented on #39031
@bdashrad @cmosh Have you tried the solution mentioned above? https://github.com/kubernetes/kubernetes/issues/39031#issuecomment-310659992

[code]

[2018-10-03 20:04] nikhita commented on #69390
Going to close this in favour of #69214 since it's the same underlying issue.

/close

[2018-10-03 20:04] #69390 closed

[2018-10-03 20:09] duizendnegen commented on #40244
My downvote on the +1 topics was not on the issue itself, but to the approach of spamming all participants to this thread with +1, @cdenneen. Github offers the opportunity to subscribe to an issue, and I believe a better way to contribute is to add snippets or stories about how people worked around this, or spend time to solve the root cause of it.

[2018-10-03 20:09] PAgty commented on #69197
same problem here

[2018-10-03 20:18] msau42 opened #69397 "Need e2e test for CSI pod information"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
This feature needs tests

[2018-10-03 20:18] msau42 commented on #69397
cc @saad-ali @jsafrane

[2018-10-03 20:30] davidz627 commented on #69367
Does this help fix the issue https://github.com/kubernetes/kubernetes/pull/69349?

Removed deletion of CRD so all tests will use the same one, presumably.

[2018-10-03 20:45] misterikkit commented on #68957
Please read the comments on https://github.com/kubernetes/kubernetes/pull/69298

[2018-10-03 21:06] VChug opened #69400 "Kubernetes bug with Statefulsets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
yes

**What happened**:
https://github.com/kubernetes/kubernetes/issues/58347
This issue still exist on kubernetes 1.9.7

The app with statefulsets on restart creates multiple controllerrevisions on kubernetes, which doesn't let the app restart again and gives an error or attaching the volume to its pvc.

Although the workaround is 👍

[code]

You will

[2018-10-03 21:11] VChug commented on #69400
@gerred

[2018-10-03 21:38] roycaihw commented on #59501
/remove-lifecycle rotten
/lifecycle frozen

[2018-10-03 21:48] foxish commented on #69400
@kubernetes/sig-apps-bugs

[2018-10-03 21:51] simone84 commented on #69221
@speneker Hi, can you please explain how to fix this?
Thanks
S

[2018-10-03 22:00] arpitsardhana commented on #66312
We are also facing this issue while doing Etcd negative test.
We brought down the Etcd leader node and ran "kubectl get pods --all-namespaces"

It was observed that it takes API server around 20 minutes to resume connection with next etcd.
It was verified that Etcd works fine, since i can see leader election happening properly.
So conclusion is connectivity between etcd and  API server takes too l

[2018-10-03 22:09] msau42 commented on #69367
@saad-ali @davidz627 and I had a discussion. To summarize, there are multiple issues going on:

1. Test deletes the CRD definition, but the informer is getting the old object.
    * We should investigate further if there could be a bug in CRD informer that doesn't handle CRD definition deletion, or is it just a race condition with the test?
    * #69349 might workaround this in the e2e test by not

[2018-10-03 22:31] jberkus commented on #65190
Is this still an issue for current upgrade tests?

[2018-10-03 22:32] jberkus commented on #66833
Closing, because we simply don't care about 1.9 anymore.

/close

[2018-10-03 22:32] #66833 closed

[2018-10-03 22:42] verult commented on #69005
The test's assumption about `NodeInstanceGroup` test parameter is wrong. Previously it assumed the group name is the same across all zones, but they are different in regional clusters.

Looking into using node taints as the permanent fix, as suggested by the TODO comment in the test.

[2018-10-03 22:46] mortent commented on #69356
/assign

[2018-10-03 22:47] mortent commented on #68573
/assign

[2018-10-03 22:57] MrHohn commented on #65190
Took a quick look and seems like the previous symptom is gone. This issue is likely obsolete at the moment.

/close

[2018-10-03 22:57] #65190 closed

[2018-10-03 22:58] spitfire88 commented on #69221
I was able to fix my issue by making sure the same versions of kubelet-config-1.12 were present on both master and worker nodes.
I had kubelet-config-1.11 on master and kubelet-config-1.12 on worker when I saw this issue.

[2018-10-03 22:59] AishSundar commented on #65190
@jberkus here's link to the current failure for this job - https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new

We are seeing the job Timeout consistently now, not sure on what though. Looking at the [triage dahsboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-08-30&job=gce-new-master-upgrade-cluster-new&test=Timeout), the

[2018-10-03 23:01] AishSundar commented on #65190
@jberkus may be we should open a new issue with the info in my comment above and assign it to @zml for initial triage? the [gke counterpart upgrade job](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-new) is also timing out.

[2018-10-03 23:30] dims commented on #66312
cc @jpbetz

[2018-10-03 23:43] gyuho commented on #66312
@arpitsardhana  Which Kubernetes API server version are you running with?

[2018-10-03 23:47] arpitsardhana commented on #66312
@gyuho I am using 1.9.6
------------------------
kube-apiserver --version
Kubernetes v1.9.6+coreos.0
-------------------------

[2018-10-04 00:08] gyuho commented on #66312
@arpitsardhana Kubernetes v1.9.6 uses etcd `v3.1.11`, of which client does not implement proper failover, which may make API server stuck with one etcd node. Can you try with latest Kubernetes APIs server? With Kubernetes API server that has at least https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.2.md#v3210-2017-11-16.

[2018-10-04 00:34] dims commented on #64776
Fixed in https://github.com/kubernetes/kubernetes/commit/32c265f60c175cedbd685f30e389c95fb1e66ee3 i believe

/close

[2018-10-04 00:34] #64776 closed

[2018-10-04 00:48] dadux opened #69409 "Node doesn't get deleted after being terminated in AWS (1.12 only)"
/kind bug

**What happened**:
After upgrading 1.11.1 -> 1.12.0 , when a node gets terminated in AWS, the controller-manager doesn't delete the node in the API.
This has lead to several side effect for us :
* pods don't get GC
* Prometheus alerts firing because 100 of nodes are in the NotReady state for a long period

**What you expected to happen**:
kube-controller-manager deletes the node when it

[2018-10-04 00:49] verult commented on #67972
/cc @vladimirvivien

[2018-10-04 01:08] roycaihw commented on #64010
/remove-lifecycle rotten

[2018-10-04 01:16] arpitsardhana commented on #66312
@gyuho Is there any workaround suggested for production cluster running into same issue since it will take time for prod cluster to upgrade to different version of kubernetes API server which has latest etcd client?

[2018-10-04 01:40] verult commented on #69005
OK. I propose the following solution:
* Get the zone of `NodeInstanceGroup`
* Schedule the StatefulSet pod to that zone using node affinity; wait for the pod to run
* Remove the node affinity from StatefulSet
* Delete `NodeInstanceGroup`

[2018-10-04 02:42] amitkarpe commented on #69221
I fix the issue after by upgrading kubeadm to v1.12.0 from  v1.11.0

On Cluster Master "sudo kubeadm upgrade apply v1.12.0"

Here are the detail steps:
https://pastebin.com/17NP7ywx

[2018-10-04 02:53] samjeyaseelan opened #69411 "Better to provide an option to trigger a callback when a pod terminates ..."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
I have implemented a high-availability feature using Kubernetes pods. The logic I have used to implement the HA is completely proprietary. However, Currently Kubernetes framework does not provide a callback upon termination of the pods. I am expecting to see a callback that can be registered before creating a pod. Wh

[2018-10-04 03:04] neolit123 commented on #69411
/kind feature
/sig architecture
/sig node

[2018-10-04 03:05] neolit123 commented on #69376
/kind failing-test
/sig testing

[2018-10-04 03:06] neolit123 commented on #69376
/remove-kind failing-test

[2018-10-04 03:36] tossmilestone commented on #68963
@misterikkit This Issue has been done, PTAL. See #69412.

[2018-10-04 03:41] tossmilestone commented on #68962
@misterikkit I could also help to work on this, it's similar to #68963.

[2018-10-04 03:47] apelisse commented on #66368
These lines account for a lot:
https://github.com/kubernetes/kube-openapi/blob/master/pkg/handler/handler.go#L162-L204:

The dance is currently:
[code]

I'm wondering if we could create the "NewDocument" directly from the `openapiSpec` rather than re-parsing the json bytes ... But I remember it was not obvious.

[2018-10-04 04:16] GaoRong commented on #16563
@vishh 　How are we going with the issue?  Is there any PR to accomplish ?  it seems that there are still some related issue: #60662.

[2018-10-04 04:32] #68254 closed

[2018-10-04 06:57] stevekuznetsov commented on #69373
Can we list the tests here to track progress on the issue?

[2018-10-04 06:58] stevekuznetsov commented on #15863
@nikhita @RajatVaryani for an approach that will remain relevant to the future, it seems like an edit program using `go/ast` paired with a validation would be more appropriate than a one-off

[2018-10-04 07:20] mprzygrodzki commented on #10323
@soorena776 would like to provide some examples how to create such a service with TF and precreated LB - i'm really interested how to work with this workaround.

[2018-10-04 07:30] pontiyaraja commented on #69281
/close

mirror_pod_test.go is not eligible for conformance test to port to e2e from e2e_port.
**_mirror_pod_test.go is failing to satisfy the following conformance test rules._**

- must be portable (not dependent on provider-specific capabilities or on the public internet)
- should be non-privileged (neither root on nodes, network, nor cluster)
- cannot rely on any particular non-standard file sy

[2018-10-04 07:30] #69281 closed

[2018-10-04 07:30] marquiz commented on #65850
We're now implementing these in Node Feature Discovery, see kubernetes-incubator/node-feature-discovery#149 and kubernetes-incubator/node-feature-discovery#157

I think this can be closed

[2018-10-04 08:16] jsafrane commented on #69367
YES!

We should investigate further if there could be a bug in CRD informer that doesn't handle CRD definition deletion, or is it just a race condition with the test?

It's both, sort of.
* CSIDriver informer won't catch up when CRD is deleted and created again. This is fixed by #69349.
* Even with #69349, the test does not wait until kubelet / A/D controller gets newly created CSIDriver from its

[2018-10-04 08:38] jsafrane commented on #69367
I think the volume plugin should work somehow (just without CSI volume plugin?) when the CSIDriver is missing during startup. It should recover when CSIDriver CRD is created. Expectation is that it's created quickly enough so users won't notice. And this can be relatively easily achieved by checking informer.HasSynced().

[2018-10-04 09:19] garethmorris78 commented on #69147
known issue with AKS
#https://github.com/Azure/AKS/issues/676

[2018-10-04 09:19] #69147 closed

[2018-10-04 09:20] jsafrane commented on #68261
I am removing the informer for now in #69416. We should restore it when we know that CSIDriver is installed on cluster startup.

[2018-10-04 09:35] venkatareddychalla commented on #44665
please help me while installing node i am getting this error
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2018-10-04 10:17] shettyh commented on #48798
I have this issue on CentOS 7.5 with k8s 1.12

Removing the `cni` plugin conf from `/var/lib/kubelet/kubeadm-flags.env` works fine

[2018-10-04 10:29] marvinosswald opened #69417 "Reflect container state in pod status"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
the only container in a pod is in Error state but the pod itself still shows Running
**What you expected to happen**:
if the only container in a pod gets into Error state the pod status phase should reflect this
**How to reproduce it (as minimally and precisely as possible)**:
create a pod with a container which produc

[2018-10-04 10:39] wojtek-t commented on #63025
/lifecycle frozen

[2018-10-04 10:55] JerzySpendel commented on #33777
JCMais, thanks! It worked for me (I removed LimitRange)

[2018-10-04 10:57] weeco opened #69418 "Using HPA with burstable services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:

I am using burstable services with values like these:

[code]

I'd like to use a Horizontal Pod Autoscaler with percentaged CPU target values based on the resoruce **limits** rather than resource requests.

[2018-10-04 10:58] weeco commented on #69418
/sig autoscaling

[2018-10-04 11:26] dtaniwaki opened #69422 "Can Not Create an Empty Ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request.

/kind feature

**What happened**:

I can't create an ingress without service and rules.

**What you expected to happen**:

I want to create an empty ingress so I can dynamically add and remove rules by json patch by requests to my application.

**How to reproduce it (as minimally and precisely as possible)**:

Create an empty ingress

[2018-10-04 11:28] dtaniwaki commented on #69422
If the feature is reasonable, I will implement it by myself and send a pull request.

[2018-10-04 11:28] discordianfish commented on #55398
Not going to fight that bot anymore.

[2018-10-04 11:28] #55398 closed

[2018-10-04 11:29] discordianfish commented on #57109
Not going to fight this bot anymore.

[2018-10-04 11:29] #57109 closed

[2018-10-04 11:30] discordianfish commented on #59376
Agreeing with @bryanlarsen, this error is really misleading.

[2018-10-04 11:35] PrasadG193 commented on #68957
I liked the idea of making a copy of DefaultFeature date and passing it around. Also not clearly understood what was the intention behind creating a Readonly interface

[2018-10-04 12:39] sr00373954 commented on #26718
Hi,
Is there any solution for this issue?
Requesting you to guide on how to resolve this.

[2018-10-04 13:04] rtreffer commented on #64510
/remove-lifecycle stale
PR open/in progress...

[2018-10-04 13:07] waldauf commented on #67601
I have the same problem:
`error retrieving resource lock default/ceph.com-rbd: endpoints "ceph.com-rbd" is forbidden: User "system:serviceaccount:default:rbd-provisioner" cannot get endpoints in the namespace "default"`

Proposed solution by @kuailedubage didn't work for me. I created new clusterrolebinding where I binded serviceaccount _default:rbd-provisioner_ with clusterrole _cluster-admin_. T

[2018-10-04 15:25] raravena80 opened #69428 "Add an autoscaling step before cool off number for replicas in an hpa"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig autoscaling

**What happened**:

Would like to have an autoscaling step for replicas in an HPA. So basically you define an HPA like this:

[code]
and would like to have a `stepReplicas` option to say scale 2 at a time before cool off.

Kubernetes 1.12 removed the need for the `--horizontal-pod-autoscaler-upscale-delay` in the kube-c

[2018-10-04 16:03] nikopen opened #69429 "DUMMY issue / testing automation"
Testing bug triage automation

[2018-10-04 16:08] nikopen commented on #69429
/priority cancel

[2018-10-04 16:08] nikopen commented on #69429
/priority none

[2018-10-04 16:11] nikopen commented on #69429
/remove-priority backlog

[2018-10-04 16:13] nikopen commented on #69429
/sig storage azure node

[2018-10-04 16:17] nikopen commented on #69429
/remove-kind

[2018-10-04 16:17] nikopen commented on #69429
/remove-kind bug

[2018-10-04 16:29] timwebster9 commented on #56903
`use-vc` didn't work for us (AKS).  The queries were consistent, but they all took about 8.5 seconds. However `single-request-reopen` worked.

[2018-10-04 16:46] Huang-Wei commented on #68959
@AishSundar one general question on labeling milestone to issues: do we usually label milestone for every issue, or just label them when it's necessary (e.g. upon code freeze)?

[2018-10-04 17:30] misterikkit commented on #68957
It would be an added benefit, once we make the copy, to provide some promise that the set of feature gates is immutable. The most important thing is making the copy and injecting it through constructors though.

[2018-10-04 17:56] msau42 commented on #69367
I'm more in favor of only starting the driver once at the beginning of the test suite.  In most circumstances, a driver is not going to be dynamically changing it's capabilities.  It's only these skip attach tests which are using the hostpath driver as a mock (feels more like integration tests than e2e tests), and it would be better for the skip attach test to use a unique driver name for each tes

[2018-10-04 17:57] msau42 commented on #69367
Can @kubernetes/sig-api-machinery-bugs help investigate this and see if there's an issue in the informer logic or is this intended behavior?

[2018-10-04 18:13] arunmk commented on #28272
/remove-lifecycle stale

[2018-10-04 18:13] liggitt commented on #69367
cc @sttts

I expected deletion of a CRD to:
* trigger deletion of all instances (which should propagate delete events for those instances)
* once instances are deleted and the CRD is removed, the handler would also be removed, dropping any watchers

[2018-10-04 18:13] ehmm commented on #58251
I'm experiencing the same issue using the intree googlePersistentDisk driver. I can see the volume is attached but for some reason cannot see the custom devicePath.

Running docker inspect on the node shows the paths to the volume passed to docker

[2018-10-04 18:19] leakingtapan opened #69434 "AWS EBS volume resize is not idempotent"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
aws-ebs returns `cannot be modified in modification state OPTIMIZING` error during resizing.

[code]

although this one is interesting, I think:

[code]

More details refer to slack conversation:
https://kubernetes.slack.com/archives/C09QZFCE5/p1538581175000100

**What you expected to happen**:
ebs plugin should fail fast

[2018-10-04 18:19] leakingtapan commented on #69434
/sig aws

[2018-10-04 18:19] leakingtapan commented on #69434
/sig storage

[2018-10-04 18:22] leakingtapan commented on #69434
talked with @gnufied, there are some other limit issue related to EBS that the same volume could not be modified again within 6 hours

[2018-10-04 18:22] pohly commented on #69367
Michelle Au <notifications@github.com> writes:

But then the driver would also get started when the E2E test suite gets
invoked in a way that never runs the tests that need the driver. The
alternative would be to start the driver on demand, but that becomes
harder to synchronize because ginkgo might run the tests which need the
driver in different processes in parallel (unless we restrict the test

[2018-10-04 18:30] justinsb commented on #68947
Do we have a suitable repo in mind, or would this be a new one?  controller-runtime or client-go maybe?

[2018-10-04 18:36] msau42 commented on #69367
Another alternative: don't do driver setup as part of the e2e test.  Expect the csi driver to be installed as part of cluster/environment bringup.  Each CSI plugin vendor can import these test cases as a library, but they need to handle the environment setup in their own repo.

In the core e2e tests, we can still keep testing mock drivers like hostpath, but it needs to generate a unique plugin nam

[2018-10-04 18:48] msau42 commented on #69005
Can it be simplified?

* Schedule the pod
* Figure out which zone that pod got scheduled in
* Delete the instance group of that zone

[2018-10-04 19:15] timothysc commented on #64742
cc @gyuho @jpbetz

[2018-10-04 19:28] mcrute commented on #69237
/assign @mcrute

[2018-10-04 19:44] mcrute commented on #68477
The health check path is currently not configurable. It's hard-coded to `/healthz` ([code](https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/api/v1/service/util.go#L87-L97))

[2018-10-04 19:46] mcrute commented on #68477
/remove-kind bug
/remove-sig aws
/area api
/kind api-change

[2018-10-04 19:49] mcrute commented on #68477
I think this belongs with sig/network because past load balancer issues have gone there.

/sig network

[2018-10-04 20:59] jennybuckley commented on #69319
/cc @logicalhan

[2018-10-04 21:00] jennybuckley commented on #69327
/remove-sig api-machinery
/sig networking

[2018-10-04 21:00] jennybuckley commented on #69327
/sig network

[2018-10-04 21:03] jennybuckley commented on #69367
/cc @roycaihw

[2018-10-04 21:08] lavalamp commented on #69360
Sorry, but this isn't a general support forum. I'd try slack, stackoverflow, users mailing lists.

I suspect something is not right with the networking connectivity between apiserver and the metrics apiserver, but it's hard to say more than that.

[2018-10-04 21:08] #69360 closed

[2018-10-04 22:11] verult commented on #69189
Yup it was an overlooked cherrypick, thanks!

[2018-10-04 22:20] verult commented on #69005
That's the way it works today. Unfortunately I don't know of a good way to look up the instance group given the zone, since there could be instance groups from multiple clusters in the same project

[2018-10-04 22:22] jberkus opened #69444 "Failing/Flaking Test: E2E: [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability"
Test: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial&show-stale-tests=

Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/7169

The HPA tests for gce-serial are flaking rather regularly; they fail about 2/3 of the time for the last week, and are often the cause of a failed test run.  Can we de-flake these?

Over

[2018-10-04 22:50] cheftako commented on #68947
I was thinking a new one but could be convinced otherwise. Largely this is a reflection of the cloud provider interface needing to depend on the ControllerClientBuilder interface. As we want to move that to staging (https://github.com/kubernetes/kubernetes/pull/68310) then the interface also needs to be in staging. I wanted to tackle that in pieces. So I filed this bug to make sure that happened.

[2018-10-04 22:56] mortent opened #69445 "New field in Pod spec cause issues with DaemonSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

The change in #68754 added a new field (`enableServiceLinks`) to the Pod spec that is set to true by default. This is causing problems for DaemonSets in some situations.

DaemonSets are using ControllerRevisions to keep track of previous configurations and each revision will contain among other things the Pod spec for the DaemonSet. If a Da

[2018-10-04 23:08] msau42 commented on #69005
How about:

* Schedule the pod
* Figure out the zone
* Taint all the nodes in the zone
* Kill the pod

[2018-10-04 23:15] vishh commented on #60662
cc @derekwaynecarr @sjenning

[2018-10-04 23:38] spiffxp commented on #63622
Now waiting on https://github.com/kubernetes/kubernetes/pull/69239

[2018-10-04 23:39] spiffxp commented on #68904
/milestone v1.13

[2018-10-04 23:51] grailsweb commented on #67382
I am having same issue with v1.11.1 cluster. 3 master and 12 nodes. its restarting kube-apiserver pods

current connections on master node for port 10250:

master01: 10476
master02: 28041
master03: 10626

[2018-10-05 00:16] smaslennikov opened #69450 "kubectl diff segfaults when the object doesn't exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl alpha diff -f pizza.yaml` will segfault loudly if the objects within don't exist in K8s already. I hit this by failing to specify the namespace: my objects were not in the default namespace. With `-v 6` I found that a 404 was returned by my API server.

**What you expected to happen**:

User is to be notified th

[2018-10-05 00:59] misterikkit commented on #68962
@tossmilestone You should check with @shubheksha since she was working on this.

[2018-10-05 01:19] #67104 closed

[2018-10-05 01:19] #69114 closed

[2018-10-05 01:19] #69304 closed

[2018-10-05 02:59] haizaar commented on #41881
Can please someone un-stale it?

[2018-10-05 03:11] anguslees commented on #53533
Like all modern virtual memory OSes, Linux demand pages executables from disk into memory.  Under memory pressure, the kernel swaps **the actual executable code of your program to/from disk** just like any other memory pages (the "swap out" is simply a discard because read-only, but the mechanism is the same), and they will be re-fetched if required again.  Same goes for things like string constan

[2018-10-05 03:29] superdave commented on #53533
On Oct 4, 2018, at 11:12 PM, Angus Lees <notifications@github.com> wrote:

Good summary of the issue at hand! Swap thrashing is the key problem here, indeed; it's something I'm hoping to address rationally. It seems to me, though I haven't really had the time to think through it enough, that some sort of metric of swapping activity (pageins/outs over a given timeframe, perhaps with a percentile ru

[2018-10-05 03:33] GaoRong commented on #69161
FYI, this behavior is common in systemd managed process,  as meationed in influxdata/influxdb#7040,  add `RestartForceExitStatus=SIGPIPE` or `Restart=always` to sysytemd config file will fix.

[2018-10-05 03:56] mortent commented on #69400
Have you tried to see if this is still a problem on the latest version? And would you be able to provide a minimal example that reproduces the behavior?

[2018-10-05 04:45] ecdemis123 commented on #47862
Us at Dave.com are also interested in having this feature

[2018-10-05 06:11] pohly commented on #66649
/reopen

[2018-10-05 06:14] luckymagic7 commented on #26670
@hsingh6764 @racyber
Where shoud I apply that configuration?
I have `yaml`file that kinds are `Service`, `Deployment`, `HorizontalPodAutoscaler`

[2018-10-05 06:19] zetaab commented on #69409
as I see it should delete node if instance is in terminated state

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L1364

[2018-10-05 06:44] dadux commented on #69409
I might be wrong, but I think that part of the code never gets executed once the node is tainted :
https://github.com/kubernetes/kubernetes/blob/0ed33881dc4355495f623c6f22e7dd0b7632b7c0/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L774

[2018-10-05 06:49] zetaab commented on #69409
@dadux good finding. So https://github.com/kubernetes/kubernetes/blob/v1.12.0/pkg/cloudprovider/providers/aws/aws.go#L1398 we should remove terminated state from this row. Then it does not add shutdown taint if node is terminated - instead it will delete node.

[2018-10-05 07:37] tcolgate commented on #47202
FWIW, https://gopkg.in/robfig/cron.v2 (which the existing controller uses am older subset of), does support passing in TZ, and a slight richer set of time definitions.
  We have a controller internally that creates cron jobs for some of our internal workloads, and it is an outstanding feature request to be able to specifcy timezone for those. I need to work out how to safely update an existing cro

[2018-10-05 07:45] deitch commented on #41881
/remove-lifecycle stale

[2018-10-05 07:49] sttts commented on #65869
/reopen

[2018-10-05 07:54] marcin-kasinski opened #69455 "Sample network policy is very unstable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network

**What happened**:

Based on article https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/
I've created small test:

	while true
	do
	 wget --spider --timeout=1 nginx
	 sleep 1
	done

When running without netpol and --labels="access=true" I'm getting pure output:

[code]

With netpol and --labels="access=t

[2018-10-05 08:05] albrr opened #69456 "Kubelet TLS bootstrapping timeout in kubeadm join"
**Is this a BUG REPORT or FEATURE REQUEST?**:
a bug?

 /kind bug

**What happened**:
When trying to set up an HA cluster in Kubernetes 1.12 with external etcd I experienced a timeout when using the following command:

`kubeadm join <load balancer>:443 --token <token> --discovery-token-ca-cert-hash sha256:3dfa042fcc28a26da9335c14802718bbc36b82bb71b4e5dfaa70c004454932da --experimental-control-plane`

[2018-10-05 08:21] fejta-bot opened #69457 "pr:pull-kubernetes-typecheck flaked 20 times in the past week"
### Flaky Job: pr:pull-kubernetes-typecheck
 Flakes in the past week: **20**
 Consistency: **96.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| verify typecheck | 20 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-10-05 08:33] #69237 closed

[2018-10-05 08:56] SamolazovRoman commented on #67941
my problem is resolved after I recreate cluster EKS with user_data:
[code]

[2018-10-05 09:04] denis-kalinin commented on #16436
[code]

[2018-10-05 09:05] redbaron commented on #46041
/remove-lifecycle stale

[2018-10-05 09:15] sttts commented on #69214
Fixed by https://github.com/kubernetes/publishing-bot/pull/116.

[2018-10-05 09:15] #69214 closed

[2018-10-05 09:38] fabiand commented on #64168
/remove-lifecycle rotten

[2018-10-05 10:34] hex108 commented on #69257
@roycaihw @enisoc I get it now, thanks!

Is it possible to add a filed(e.g. `labelSelectorType`) to indicate the type of `labelSelector` for some commonly used types(e.g. `string`, `map[string]string`, `metav1.LabelSelector`)?

[2018-10-05 10:37] calind opened #69458 "Per service readiness probe"
Hi, it would be very helpful to have multiple readiness probes and bind services to a readiness probe. I'm proposing this in context of applications with leader/follower semantics, where it's useful to have two services, one for the leader and one for followers (eg. mysql asynchronous replication).

PodSpec:
[code]

Leader ServiceSpec:
[code]

Follower ServiceSpec:
[code]

@kubernetes/sig-network-

[2018-10-05 10:40] calind commented on #69458
/sig networking

[2018-10-05 10:51] mwielgus commented on #69444
cc: @jbartosik

[2018-10-05 12:05] hsingh6764 commented on #26670
@luckymagic7 it is part of kubernetes setup not these objects.

[2018-10-05 12:29] jsafrane commented on #69367
I filled PR for CSI mock driver to have configurable name, so each test can have its own csi driver not colliding with any other test. This will help to parallelize skip attach tests. It won't help with GCE, where I agree that the driver could be installed once per test run.

[2018-10-05 12:29] jsafrane commented on #69367
Here's the PR: https://github.com/kubernetes-csi/csi-test/pull/122

[2018-10-05 12:31] cofyc commented on #57345
@martinnaughton You need to upgrade your systemd version to v237+ or patch current systemd with change from [systemd PR 7811](https://github.com/systemd/systemd/pull/7811).

[2018-10-05 12:34] jsafrane commented on #69367
And I tested that it really helps, at least in SkipAttach tests: https://github.com/kubernetes/kubernetes/pull/69459 (it does not work, because kubernetes-csi/csi-test#122 was not merged yet).

[2018-10-05 12:38] leetskil opened #69460 "kurbenetes supported docker versions"
kurbenetes support with docker versions from 17.03.x to  the latest 18.06.x ? ce/ee

currently kurbenetes only supported docker version 1.12.x, 1.13.x and 17.03.x

[2018-10-05 12:43] dims commented on #69460
18.06 is supported. we had a problem in the changelog. plese see https://github.com/kubernetes/kubernetes/issues/69216

/close

[2018-10-05 12:43] #69460 closed

[2018-10-05 12:46] nikopen commented on #69429
/milestone v1.13

[2018-10-05 12:58] leetskil commented on #69216
waiting for this to be release, hopefully it would be fix.

[2018-10-05 13:07] nikopen commented on #69429
/milestone clear

[2018-10-05 13:27] PierluigiLenociAkelius opened #69461 "kubectl should accept --to-revision option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

I want to patch an annotation of an older revision of a deployment

**What you expected to happen**:

I want to use this command to patch it

kubectl patch deployment mydeployment --patch '{"metadata": {"annotations": {"kubernetes.io/change-cause": "custom message"}}}' --namespace mynamespace --record=false
--to-rev

[2018-10-05 13:28] PierluigiLenociAkelius commented on #69461
/sig api-machinery

[2018-10-05 13:32] albrr commented on #69456
/close

[2018-10-05 13:32] #69456 closed

[2018-10-05 13:42] perriea commented on #65633
The same problem with Terraform ...

[2018-10-05 13:47] zuzzas commented on #51017
Just figured out that our internal Controller have been a victim of this issue as well for god knows how log.
We've been relying on this field to determine current image version. Alas, it cannot be relied for more that a year.

[2018-10-05 14:56] bertinatto opened #69465 "Failing/flaking tests: Subpath Atomic writer volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The following tests are failing:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

Just run one of the above tests.

**Anything else we need to know?**:

Test: https://k8s-testgrid.appspot.com/conformance-all#local-up-cluster-containerized,%20master%20(dev)

Example: https://k8s-gubernator.appspo

[2018-10-05 15:13] davidbalazs opened #69467 "MutatingWebHook injecting initContainers results in a malformed deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I am using a MutatingWebHook to decorate incoming deployments and statefulSets with containers, initContainers and volumes. The deployments and statefulSets are part of Helm charts.

I have a specific constraint in that one of the initContainers, let's call it init-container-injected that my mutatingWebHook is injecting m

[2018-10-05 15:13] davidbalazs commented on #69467
/sig api-machinery

[2018-10-05 15:13] davidbalazs commented on #69467
/assign @caesarxuchao

[2018-10-05 15:42] bertinatto commented on #69465
/assign @jsafrane

[2018-10-05 15:57] bertinatto commented on #69465
Apparently the file/symlink passed in to `IsNotMountPoint` doesn't exist and `mounter.EvalHostSymlinks` fails. This avoids the error, but the approach might not be correct:

[code]

[2018-10-05 15:58] sandeshs1987 opened #69468 "Application communication is failing due to DNS services are getting restarted within Kubernetes cluster"
Hello ,
Its a new Project and in Deployment Phase. We are using ACS Azure Service, while checking we observed that, PODs are not able to communicating with each other over the overlay network.
We tried to create service and try to access the service application, but still we able to access the application.
Requesting you help us to address the issue asap.

Thanks
Sandesh S
9967917419
Email : sande

[2018-10-05 16:20] PrasadG193 commented on #68946
@vladimirvivien I am not able to reproduce this on ubuntu 18.04 with k8s on master branch.
[code]
[code]

[2018-10-05 16:41] Simonot commented on #69158
/sig node
as it is the kubelet

[2018-10-05 16:46] agunnerson-ibm opened #69471 "Kubelet generates a new CSR on start even if it has a valid certificate on disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm testing the new `--rotate-server-certificates` option in kubernetes 1.12 and it seems that kubelet always requests the signing of a new CSR and tries to rotate the certificates when it is started. This is happening even though there's a valid (brand new) certificate on disk issued by kube-controller-manager.

From wh

[2018-10-05 16:47] shubheksha commented on #69450
/sig cli
/area kubectl

[2018-10-05 16:48] shubheksha commented on #69457
/kind flake

[2018-10-05 16:48] agunnerson-ibm commented on #69471
/sig node

[2018-10-05 16:49] shubheksha commented on #69471
/sig auth

[2018-10-05 16:50] shubheksha commented on #69468
@sandeshs1987, you might have better luck asking in one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures).
/triage support

[2018-10-05 16:50] shubheksha commented on #69422
/sig network

[2018-10-05 16:50] shubheksha commented on #69417
/sig node

[2018-10-05 16:53] shubheksha commented on #68927
/close

[2018-10-05 16:53] #68927 closed

[2018-10-05 16:53] shubheksha commented on #68926
No response hence closing this.
/close

[2018-10-05 16:53] #68926 closed

[2018-10-05 17:00] Bindiy opened #69472 "Need peer-finder binary to be built for s390x."
Hello,

Need peer-finder binary to be built for s390x arch. Please let me know if I can get the peer-finder binary for s390x or I have to build it, if yes then please provide the repo and instructions for the same.

[2018-10-05 17:31] nikhita commented on #69457
I think this is not a "real" flake but was caused due to the  go 1.11 hiccups.

/cc @cblecker @BenTheElder

[2018-10-05 17:55] dims commented on #69472
code is here:
https://github.com/kubernetes/kubernetes/tree/master/test/images/pets/peer-finder

I believe you can run `make all WHAT=pets/peer-finder` from `test/images` directory.

cc @mkumatag

/close

[2018-10-05 17:55] #69472 closed

[2018-10-05 18:12] ncdc commented on #69376
I was about to file this. I spent yesterday triaging it and have determined the root cause. The issue is that the `ReplicaSetController` can "miss" handling the deletion of a `ReplicaSet` if things happen quickly enough. Here's the flow:

1. Client creates rs
1. `ReplicaSetController` sees new rs, starts working on creating pods
1. Client deletes rs
1. `ReplicaSetController`'s `rsInformer` see the

[2018-10-05 18:14] ReSearchITEng commented on #48798
flanneld needs a fix for k8s 1.12.
Use this PR (till will be approved):
```kubectl -n kube-system apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml```
it's a known issue: https://github.com/coreos/flannel/issues/1044

[2018-10-05 18:23] jberkus opened #69473 "Flaking Test: e2e-gci-gce-scalability"
TestGrid: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-100

Sample Failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/18372

This test has been flaky since 9/24.  That's a bit of a problem for 1.13 release, because this is the fastest-running of the e2e scalability tests, and we count on checking it first for scal

[2018-10-05 18:28] dims opened #69474 "typecheck should be a standalone utility"
typecheck currently lives here:
https://github.com/kubernetes/kubernetes/tree/master/test/typecheck

It would be great to move it out of the main k/k repository and use it as a command line tool for any repository. I've tried with cloud-provider-openstack and it seems to work well.

[2018-10-05 18:52] MrHohn commented on #60897
/remove-lifecycle stale

[2018-10-05 18:52] MrHohn commented on #60897
/remove-lifecycle rotten

[2018-10-05 19:00] ayenter commented on #68133
Bump!

[2018-10-05 19:17] d-nishi commented on #40244
/sig aws

[2018-10-05 19:19] jberkus opened #69475 "Tracking Issue: Two consistently failing upgrade tests: fix or remove?"
Master-upgrade tests are supposed to be blocking for the release.  However, two of the upgrade tests have been consistently failing for at least the last 3 weeks.  At this point, we need to decide whether these are going to get fixed, or removed from the sig-release-master-upgrade dashboard as non-blocking.  Possibly we should just stop running them.

Those tests are:

* https://k8s-testgrid.appsp

[2018-10-05 19:40] alvaroaleman commented on #69346
@ravisantoshgudimetla Here are the yamls of the node/pod:

<details>
  <summary>Node</summary>

[code]
</details>

<details>
  <summary>pod</summary>

[code]

</details>

[2018-10-05 19:41] nevola commented on #62720
Hi, we've started with a prototype named kube-nftlb, thanks to the collaboration of @AquoDev

https://github.com/zevenet/kube-nftlb

Any feedback and guidance to continue with the integration will be appreciated.
Thanks!

[2018-10-05 19:45] cblecker commented on #69457
/sig testing
/close

Thanks!

[2018-10-05 19:45] #69457 closed

[2018-10-05 19:46] chmking opened #69476 "AWS NLB TargetGroups suddenly fail healthcheck"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This morning at 3PM UTC two NLBs simultaneously flagged member nodes of their TargetGroups as unhealthy and have not recovered. Both NLBs were targeting the same nodes on different ports.

- When creating a ELB pointing at the same node port health checks and requests are successful.
- When creating a new NLB with a new

[2018-10-05 19:50] chmking commented on #69476
@kubernetes/sig-aws-misc-bugs

[2018-10-05 19:56] jberkus commented on #69475
Yeah, it kind of looks like the 2nd test used to pass reasonably regularly, but that goes back to the beginning of our history.

[2018-10-05 20:03] chmking commented on #69476
/sig aws

[2018-10-05 20:19] ncdc commented on #69376
For a bit more clarity:

When the rs informer sees a new rs, it calls https://github.com/kubernetes/kubernetes/blob/7bc48bac95c702436d2e46a4d1195274efecee37/pkg/controller/replicaset/replica_set.go#L142

When the rs informer sees a deleted rs, it calls https://github.com/kubernetes/kubernetes/blob/7bc48bac95c702436d2e46a4d1195274efecee37/pkg/controller/replicaset/replica_set.go#L147

The net effec

[2018-10-05 20:20] jberkus commented on #69475
These tests appear to belong to sig-gcp, so cc'ing them here. I've already asked cluster-lifecycle and these aren't the upgrade tests they maintain.

/sig gcp

[2018-10-05 20:55] verult commented on #69005
Taint with NoSchedule? yeah that sounds good

[2018-10-05 21:15] saad-ali opened #69478 "`gci-gke-alpha-features` test suite failing to bring up cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://k8s-testgrid.appspot.com/google-gke#gci-gke-alpha-features test suite has been failing since Sept 27. Failing to bring cluster up:

[code]

Example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/32491

**What you expected to happen**:

**How to reproduce

[2018-10-05 21:29] Kuunniku opened #69479 "Labeling SecretVolumeSource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Secrets created as part of deployments(SecretVolumeSource) cannot be labeled.

**What you expected to happen**:
Labeling the deployment should have labeled all the associated objects that it created. Or deleting the deployment should have removed the objects that it created.

**How to reproduce it (as minimally and precis

[2018-10-05 21:35] Kuunniku commented on #69479
@kubernetes/sig-Architecture-bug

[2018-10-05 21:38] saad-ali commented on #69478
Failure is due to `kube-dns` and `metrics-server` containers not starting.

`kube-dns` is failing due to panic on startup:

[code]

`metrics-server` is failing due to timeout fetching `configmaps/extension-apiserver-authentication`:
[code]

[2018-10-05 21:48] verult opened #69480 "CSI informer is spamming logs in alpha e2e test suites"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-storage-bugs

**What happened**:
When the `CSIDriverRegistry` alpha flag is enabled, the CSIDriver informer is installed upon CSI volume plugin initialization, which is run for every single test. Because CRD is not installed by default, the informer initialization continuously logs the error below:
[code]
https://storage.googl

[2018-10-05 21:51] saad-ali commented on #69478
SIG networking can you help[ investigate the kube-dns failure.
/sig networking

[2018-10-05 22:03] saad-ali commented on #69478
SIG instrumentation can you please investigate the metrics-server panic.
CC @kubernetes/sig-instrumentation-bugs

[2018-10-05 22:11] vinceskahan commented on #54918
That helped a lot trying to do a raspi cluster following https://gist.github.com/alexellis/fdbc90de7691a1b9edb545c17da2d975  -   Thanks !

[2018-10-05 22:31] enisoc commented on #69257
@hex108 At first glance, something like that sounds reasonable given that we have the current mechanism as a fallback for anything not supported. We should also consider whether the burden of spitting out a stringified label selector is heavy enough to justify adding a convenience feature for something that's already possible in a more general but less convenient way. I don't have a strong opinion

[2018-10-05 22:33] navi86 opened #69483 "rbac default permission for oidc users"
Hello,
I have created dashboard and granted dashboard service accountant permissions to list all namespaces without access permissions in namespaces. Then I granted AD user permissions to manage some namespaces.

@kubernetes/sig-auth-bugs
@kubernetes/sig-auth-feature-requests
**What happened**:
User has only his permissions in dashboard.
**What you expected to happen**:
I expected that user would

[2018-10-05 22:35] mortent commented on #68573
/close

[2018-10-05 22:35] #68573 closed

[2018-10-05 22:37] MrHohn commented on #69478
Regarding the posted kube-dns error, that is a known issue: https://github.com/kubernetes/dns/issues/195. But it is a consequential failure triggered by dnsmasq container restarts, rather than the real root cause. Will take a deeper look.

[2018-10-05 22:46] MrHohn commented on #69478
Various logs indicate kube-dns pod failed to talk to outside --- k8s apiserver, stackdriver, etc.
[code]

[2018-10-05 23:14] MrHohn commented on #69478
Humm weirdly I failed to reproduce this --- creating a GKE alpha cluster with the latest k8s build works for me.

[2018-10-05 23:40] MrHohn commented on #69478
Did some debugging on my dev cluster, seems like non-hostnetwork pods lost the ability to talk to outside. Checked on the newly deployed netd daemonset (enabled on alpha cluster) and found some errors that maybe relevant:
[code]

Looping in @jingax10 @cadmuxe

[2018-10-05 23:48] MrHohn commented on #69478
Seems likely because the `IP-MASQ` chain is not appended completely, so outgoing packet with pod IP doesn't properly get SNAT to the node IP, hence gets dropped on the GCE fabric layer.

[2018-10-05 23:50] jingax10 commented on #69478
/assign jingax10

[2018-10-06 00:35] #67872 closed

[2018-10-06 00:57] caizixian commented on #2856
/remove-lifecycle rotten

[2018-10-06 01:59] jingax10 commented on #69478
It sounds like a rule ordering issue in https://github.com/GoogleCloudPlatform/netd/blob/master/pkg/config/config_masquerade.go#L33.

The first rule tries to jump to a custom chain, which is not created at the moment. I'm surprised that reconcile loop does not catch it in the next run.

Looking into the code and will send the fix tonight.

[2018-10-06 02:01] jberkus commented on #69473
... in fact, for the last 15 hours, it's been failing exactly every other run.

When I look at the end of the last successful run, and the start of the next run, there's less than 3 minutes gap.  Could it just be that the test runs are too close together, and gcloud hasn't dropped all the instances yet?

[2018-10-06 03:03] igoratencompass opened #69485 "Add related Controller(s) to FeatureGates documentation page"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

It was never clear to me which feature gates need to be applied to which controller and when. In some cases they need applying to api only, in other to kubelet and api and in third to controller-manager OR all of them. I often find pages where it is talked about a feature that should be activated on the API controller via a feature gate

[2018-10-06 03:04] igoratencompass commented on #69485
/sig-docs

[2018-10-06 03:57] #63555 closed

[2018-10-06 07:11] shettyh opened #69487 "Kubeadm : ClusterDNS value is not changing for different service CIDR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
While initializing the the Kubernetes cluster with `Kubeadm` , provided different `--service-cidr=172.168.0.0/22`. Still kubeadm injects `ClusterDNS` in kubelet config as `10.96.0.10`, this results in wrong dns address in all the pods.

**What you expected to happen**:
`kubeadm` should inject proper DNS server address in kubelet con

[2018-10-06 07:13] shettyh commented on #69487
/sig Kubeadm

[2018-10-06 07:43] k82cn commented on #69346
https://github.com/kubernetes/kubernetes/pull/62453 is not cherry pick to 1.10; so the affinity filed can not be accepted by kubelet.

[2018-10-06 08:11] surajssd opened #69488 "`kubectl create role` creates deployment with apiGroups as `extensions`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

This command creates `deployment` with old `apiGroups`, `extensions`.

**What you expected to happen**:

This should have created new `apiGroups`, `apps`.

**How to reproduce it (as minimally and precisely as possible)**:

When using the following imperative command:

[code]

The `apiGroups` auto created for `dep

[2018-10-06 08:12] surajssd commented on #69488
/sig cli

[2018-10-06 08:12] mozmut commented on #57334
I think this issue should reopen because of last night update Fri, 05 Oct 2018 23:13:00 UTC

[code]

[2018-10-06 08:33] VincentFF commented on #37218
need this

[2018-10-06 08:43] 1e100 commented on #57334
Could it be a build race condition? I.e. some packages are already built, but others aren't yet? That's what the error seems to suggest. `1.12.1` DEBs weren't there just a few hours ago.

[2018-10-06 10:09] alvaroaleman opened #69489 "Ubuntu kubelet package has broken dependency on kubernetes-cni, cant be installed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I wanted to install the `kubelet` package from the ubuntu apt repo (`http://apt.kubernetes.io kubernetes-xenial/main amd64`) which failed because of a dependency onto `kubernetes-cni (= 0.6.0)` which does not exist anymore:

[code]

Same happens for `kubelet=1.12.1-02, kubelet=1.11.2-00, kubelet=1.11.1-00, kubelet=1.11.0

[2018-10-06 10:30] mayurthakur29 commented on #69468
/sig azure

[2018-10-06 10:31] mayurthakur29 commented on #69468
/sig kubedns

[2018-10-06 11:01] walterdolce opened #69490 "Unclear Network Policy's "policyTypes" definition in spec documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug report
/kind bug

**What happened**: I was reading the documentation for `NetworkPolicy` as defined [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#networkpolicyspec-v1-networking-k8s-io)

**What you expected to happen**: To have clear documentation

**How to reproduce it (as minimally and precisely as possible)**: Read

[2018-10-06 11:05] walterdolce commented on #69490
@kubernetes/sig-docs-bugs

[2018-10-06 13:04] wgliang opened #69492 "pull-kubernetes-integration always fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig testing

**What happened**:
pull-kubernetes-integration always fails

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/68403/pull-kubernetes-integration/30058/

https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration

**What you expected to happen**:
pull-kubernetes-integration

[2018-10-06 14:01] #68961 closed

[2018-10-06 14:04] walterdolce commented on #69490
Is it a case whereby only `- Ingress` can be specified as `policyTypes`, or only `- Egress`, or *both* `- Ingress\n-Egress` (note the `\n`) ?
If that's the case, do you think the following would make it clearer?

[2018-10-06 14:15] feiskyer commented on #64594
@kargakis Are there still such issues? If not, let's close it.

[2018-10-06 14:27] nikopen commented on #69429
/milestone v1.13

[2018-10-06 15:15] bladedoyle commented on #57334
Please re-open this, its still an issue:

[code]

[2018-10-06 15:44] igormilovanovic commented on #57334
Still happening on ubuntu xenial:
[code]

[2018-10-06 15:46] cx1981 commented on #66231
@hwdevops I am also getting same error with kubernetes v1.12.0 version. How is this problem solved?

[2018-10-06 16:04] mavimo commented on #57334
https://github.com/kubernetes/kubernetes/issues/69489

[2018-10-06 16:10] bunchc commented on #69489
As a temporary workaround, I was able to pin the version:

[code]

After which the install works.

[2018-10-06 16:17] AlexeyPerevalov opened #69494 "panic in makeEnvironmentVariables during getServiceEnvVarMap call"
/kind bug

Short description:
Null pointer dereference or panic in term of golang.

Pod with following specification
[code]

rising crash in makeEnvironmentVariables, due to after factoring out in series of commits 42da186b629b7edaaeada9acfdaa0b610e0e842f,
e8366c8e99791045a9c8fb2cd2bb46a8ea53d500, when getServiceEnvVarMap is called.
journalctl log is following:

[code]
If we will trace Pod.PodSpec