[2018-09-12 05:47] leakingtapan commented on #60987
I am setting the kubelet to talk to kub-apiserver manually on localhost and see similar isssue with following lines being repeated over and over.
[code]
kubelet version: 1.10.3
kube-apiserver verison: 1.10.3
[code]

[2018-09-12 05:51] leakingtapan commented on #60987
/sig node

[2018-09-12 05:57] #62532 closed

[2018-09-12 06:03] shubheksha commented on #68527
I'll take this up!
/assign

Do we have a list of different types of issues for this repo in mind?
Some of the ones I could think of:
- feature
- support/question
- bug
- failing test

[2018-09-12 06:06] yangchuan37326 opened #68535 "Cronjob did not release IP after executing the task"
**What happened**:
When I create cronjob, the task is echo "test cronjob", and the task cycle is one minute. A period of time found that some IP had not been released. After testing, some pod did not release IP requests after executing the task, resulting in IP address waste.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we ne

[2018-09-12 06:06] shubheksha commented on #68533
/kind bug
/sig instrumentation

[2018-09-12 06:07] shubheksha commented on #68535
/sig network

[2018-09-12 06:08] YuxiJin-tobeyjin commented on #68507
@liggitt
Okay, I see，thanks a lot.
/close

[2018-09-12 06:08] #68507 closed

[2018-09-12 06:12] yangchuan37326 commented on #68535
network driver: contiv

[2018-09-12 06:57] justaugustus commented on #68527
@shubheksha -- that's a great list to start!

Instead of feature, please label that issue type "Enhancement".
For support, we should be directing people to Stack Overflow and subsequently closing issues that get filed under that type.

Thanks for taking this up!

[2018-09-12 06:58] justaugustus commented on #68527
/remove-help

[2018-09-12 07:00] justaugustus commented on #68527
We should also probably look at creating / updating the PR template: https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

[2018-09-12 07:01] tanshanshan commented on #68026
fix golint issues for staging/src/k8s.io/apimachinery and staging/src/k8s.io/apiserver in #68541

thanks.

[2018-09-12 07:07] shubheksha commented on #68527
@justaugustus - we do have one for this repo: https://github.com/kubernetes/kubernetes/blob/master/.github/PULL_REQUEST_TEMPLATE.md

For support requests, can we have a workflow such that whenever a `kind/support` label is added, k8s-ci-robot automatically comments with a list of support channels folks can use? Probably link to the relevant page in k/community. It'll help reduce triage efforts too

[2018-09-12 07:09] wanghaoran1988 commented on #68270
We met this problem with aws cloud provider, and https://github.com/kubernetes/kubernetes/pull/65226 fixed this.

[2018-09-12 07:12] justaugustus commented on #68527
Sounds good. The bot should also issue a `/close` comment on a separate line to close the issue.

[2018-09-12 07:14] Deepak3994 opened #68542 "kubernetes node goes to not-ready state"
I was trying to setup a kubernetes cluster. After I have joined the nodes, I checked for the status and the following ouputs are as follows:

**$ kubectl get nodes**
NAME       STATUS     ROLES     AGE       VERSION
deepak     NotReady   <none>    20m       v1.11.3
hamid123   Ready      master    31m       v1.11.3

**$ kubectl describe nodes**
Name:               deepak
Roles:              <none>

[2018-09-12 07:16] shubheksha commented on #68527
Yup, sounds good! Should I open an issue in test-infra (or community?) for this? Or should we have a discussion in Slack first?

[2018-09-12 07:18] tanshanshan commented on #68542
does your node  have enough disk space , try to clean some unused file?
use `df -h`  to look

[2018-09-12 07:25] wanghaoran1988 opened #68543 "Taint the node with "node.kubernetes.io/not-ready" when docker is not working well"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
We met problem with docker, it's not working well with error " rpc error: code = 14 desc = grpc: the connection is unavailable"

**What you expected to happen**:
in this situation, the docker is not working well, pods scheduled to this node cannot be started, we need avoid schedule pods to the problem node, and the pods

[2018-09-12 07:42] justaugustus commented on #68527
I'd say opening in k/test-infra would be the right place. The test-infra peeps are definitely going to be able to better steer you on design than I will, but happy to help how I can! :)

[2018-09-12 07:49] linyouchong commented on #68316
@Cloudzp do you use the in-tree nfs volume or a flexvolume?
could you paste the PV spec?

[2018-09-12 07:49] fabiand commented on #66525
/cc @vikaschoudhary16

[2018-09-12 07:58] k82cn commented on #68543
What's the condition of node?

[2018-09-12 08:04] jellonek commented on #68522
Shouldn't be container/pod metrics gathered from CRI instead of from cAdvisor? Same with info about inodes/bytes usage of image store and for container root filesystems.

That's strongly runtime dependent and we should not expect that cAdvisor will support all types of runtimes supported by CRI (e.g. VM based runtimes like https://github.com/Mirantis/virtlet/ ).

[2018-09-12 08:06] xcq1 commented on #57187
I'm currently facing a similar issue. I'm trying to debug a running Java application, but the instrumentation from the profiler takes so long that the failing liveness probes trigger a pod kill.
Has anyone found a suitable workaround for this issue?

[2018-09-12 08:24] WingkaiHo opened #68546 "kube-proxy ipvs auto detect network interface mtu"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

kube-proxy ipvs mode do not auto detect mtu of network interface,  when high qps some time will lost

network interface
[code]
kube-ipvs interface
[code]

cilium interface
[code]

**What you expected to happen**:

ipvs interface mtu update according network interface

**How to reproduce it (as minimally and precisely as possible)**

[2018-09-12 08:32] tianshapjq commented on #68543
the node would become NotReady in such situation IIRC, right?

[2018-09-12 08:34] asispatra opened #68547 "Is it possible to schedule the pods on the a worker node until it uses all the GPU resources?"
@kubernetes/sig-scheduling-misc

In a kubernetes environment I have two worker node. while i am running two pods(Each pod requested for 1 GPU) it is getting scheduled on two different node by default. This is how the kubernetes default scheduler works.

Is it possible that the pods can be scheduled on the a worker node until it uses all the GPU resources?

[2018-09-12 08:36] tianshapjq commented on #68542
looks like your node doesn't have a cni plugin available, you can try flannel or anthing else that works on your another node.

[2018-09-12 08:40] asispatra commented on #68547
@kubernetes/sig-scheduling-misc
/sig-scheduling

[2018-09-12 08:46] violetgo opened #68550 "MountVolume.SetUp failed for volume - Secrets"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind bug

**What happened:**

We get this error when istio-1.0.1 is installed on Kubernetes v1.11.2
when i try start istio,`istio-galley` ,`istio-pilot`,`istio-sidecar-injector` can't change STATUS to Running.
and use  `kubectl describe`,i got error describe `MountVolume.SetUp failed for volume "certs" : secrets "istio.istio-galley-service-account" no

[2018-09-12 08:48] Deepak3994 commented on #68542
I did  **$ df -h** on the system where node is present.

**Filesystem**      **Size**  **Used** **Avail** **Use%** **Mounted on**
udev                  63G     0         63G   0% /dev
tmpfs            13G   90M   13G   1% /run
**/dev/nvme0n1p2**  1.8T  1.5T  151G  **91%** /
tmpfs            63G  608K   63G   1% /dev/shm
tmpfs           5.0M  4.0K  5.0M   1% /run/lock
tmpfs            63G     0   6

[2018-09-12 08:52] justaugustus commented on #68416
/milestone v1.12

[2018-09-12 08:56] Deepak3994 commented on #68542
I have installed "calico" that would be fine, ryt ?

[2018-09-12 08:57] asispatra opened #68553 "Is it possible to use the master as worker node?"
Currently I am finding that out of two nodes, one node is acting as master and the other one is acting as worker node. Only in the worker node all the pods are getting scheduled.

Is there a way to use the master node as a worker node?

[2018-09-12 09:00] wojtek-t commented on #67823
The current run (after the last PR being merged), seems to be fine:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/211

I would consider it as fixed.

[2018-09-12 09:04] asispatra commented on #68553
@kubernetes/sig-cluster-lifecycle

[2018-09-12 09:05] asispatra commented on #68553
/sig-cluster

[2018-09-12 09:06] Cloudzp commented on #68316
We are using flexvolume, and I feel that all storage plugins may have this type of problem. Related code may be in “kubernetes/pkg/util/mount/mount_linux.go”
[code]
if the if the backend NFS volume is not available, ioutil.ReadDir(fullContainerDirPath) will return an pathError about "stale NFS file handle"

[2018-09-12 09:06] asispatra commented on #68553
@kubernetes/sig-cluster-lifecycle
/sig-cluster

[2018-09-12 09:07] corest commented on #45419
Same issue on bare-metal environment:

Environment:
Cloud provider or hardware configuration: bare metal
OS (e.g. from /etc/os-release): CoreOS 1688.5.3
Kernel (e.g. uname -a): 4.14.32
Kubernetes: 1.10.4
Docker: 17.12.1

[2018-09-12 09:12] hoegaarden commented on #65183
We've opened https://github.com/kubernetes/repo-infra/pull/82

@mariantalla

[2018-09-12 09:33] dongsupark opened #68555 "better hash algorithms for k8s binaries on dl.k8s.io"
**FEATURE REQUEST**

/kind feature

**What happened**:

On https://dl.k8s.io/, individual k8s binary files are available for each version with its hashes. For example, https://dl.k8s.io/v1.11.0/bin/linux/amd64/kubectl has its
hashes, https://dl.k8s.io/v1.11.0/bin/linux/amd64/kubectl.md5 and https://dl.k8s.io/v1.11.0/bin/linux/amd64/kubectl.sha1. Both hashes are not exactly what I would want to use

[2018-09-12 09:42] livelace commented on #45419
It's interesting to know the IOWAIT value on nodes during problem arriving.

[2018-09-12 09:53] kondaurovDev commented on #33664
Is it crazy idea to deploy watchtower on every node?
https://github.com/v2tec/watchtower

[2018-09-12 10:01] dszmaj commented on #33664
@kondaurovDev if you are trying to manage containers your own way you are losing all benefits of kubernetes, a very bad idea, use helm, change annotations, env vars or image tags, your choice

[2018-09-12 10:07] dongsupark commented on #68555
/sig release

[2018-09-12 10:33] fasaxc commented on #68511
@daschott Confirmed, the issue seems fixed if I test with recent master: `v1.13.0-alpha.0.1226+426ef9d349bb3a`, in my case.

[2018-09-12 11:06] k82cn commented on #68547
how about pod affinity ?

[2018-09-12 11:32] asispatra commented on #68547
Hi @k82cn ,

I am new to this. I have tried pod affinity as below, but that does not work. If you help me to correct it, would help.
[code]

[2018-09-12 11:59] kernelsky opened #68558 "kubectl certificate deny"
View node status：kubectl get csr
[code]
Perform a refusal：
`kubectl get csr | grep Pending| awk '{print $1}' | xargs kubectl certificate deny`
View node status again：kubectl get csr
[code]
Now I want to change the Denied state to the Approved state.
`kubectl get csr | grep Denied| awk '{print $1}' | xargs kubectl certificate approve`

No matter how many times it is executed, the status is still De

[2018-09-12 12:16] Lion-Wei commented on #68546
/area ipvs
/sig network

[2018-09-12 12:26] adhipati-blambangan commented on #68504
I have exactly the same problem with the 1.12.0-beta.1. Does kube-proxy really need access to /proc/sys/* in this case?

[2018-09-12 12:48] Lion-Wei opened #68560 "[Failed CI]gci-gce-ipvs CI failed"
**What happened**:

Kube-proxy ipvs mode CI failed
http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

But actually all test are passed in my local-up environment with the newest code.

According to ci log, those pr might be related:
- #67396
- #67097
- #67395
- #67365
- #67099

#67365 seems like the most probable,
Anyway, looking for help.

[2018-09-12 12:49] Lion-Wei commented on #68560
Friendly ping @aleksandra-malinowska @chakri-nelluri @mengqiy @ixdy @jennybuckley ,
Please take a look, looking forward for your advise.

[2018-09-12 13:00] yaseenhamdulay commented on #68509
The gcloud create command has the cluster version set as 1.13. That's not right is it?

error creating cluster: error during gcloud container clusters create --quiet --addons=HttpLoadBalancing,HorizontalPodAutoscaling,KubernetesDashboard --project=gke-up-g1-3-g1-5-up-mas --zone=us-central1-f --machine-type=n1-standard-2 --image-type=gci --num-nodes=3 --network=e2e-31578-fbb42 --cluster-version=1.1

[2018-09-12 13:35] m1093782566 commented on #68546
good point but I'm curious to learn how to achieve that

[2018-09-12 13:58] andyzhangx commented on #68512
@bclau thanks for reporting. I have identified that this is a regression introduced by UnmountDevice common code mainly for linux:
https://github.com/kubernetes/kubernetes/blob/426ef9d349bb3a277c3e8826fb772b6bdb008382/pkg/volume/util/operationexecutor/operation_generator.go#L756-L758

the root cause is `GetMountRefs` is not well implemented
https://github.com/kubernetes/kubernetes/blob/426ef9d349b

[2018-09-12 14:16] kheirp commented on #45787
To where exactly should I add these 2 lines in the file ??
--storage-backend=etcd2
--storage-media-type=application/json
??

[2018-09-12 14:16] kheirp commented on #45787
@yasassri

[2018-09-12 14:19] DylanBLE opened #68561 "Failure of Priority function causes Scheduler Crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A failed Prioritize Map Function caused Scheduler break down.
[code]
**What you expected to happen**:
Pod remains Pending and describe pod will show errors of failed functions.

**How to reproduce it (as minimally and precisely as possible)**:
It happens when some prioritize's map functions return with error.

**Anything

[2018-09-12 14:27] DylanBLE commented on #68561
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L660
[code]
As shown above, if **priorityConfigs[i].Map(pod, meta, nodeInfo)** returns with error, there will be no chance for results[i + 1] to initialize its value, thus causing panic when calling
**config.Reduce(pod, meta, nodeNameToInfo, results[i+1])**

[2018-09-12 14:27] DylanBLE commented on #68561
/sig-scheduling

[2018-09-12 14:38] shubheksha commented on #68553
/kind support
/sig cluster-lifecyle

[2018-09-12 14:44] DylanBLE commented on #68561
I opened a PR to initialize **results** with real host name instead of empty string.
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L650
[code]

[2018-09-12 14:48] DirectXMan12 commented on #68522
cc @brancz

Is there a proposal out for this, besides the design/scratch doc I put out a while ago on using Prometheus metrics for this purpose?

[2018-09-12 14:49] nmittler commented on #65502
@Lion-Wei Yes, partly. The startup issue that you describe is half of the problem.

**Startup**
Need ability to start one container only after another container has started and become ready. An example of this use case is in Istio ... our sidecar Envoy proxy needs to be up and running before the application container can send traffic. Depending on the delay and how the particular application behav

[2018-09-12 14:58] neolit123 commented on #68475
both tests are green now and we will watch them closely until release. :tada:

@boreham from what i saw i couldn't figure out if a process has exclusive access. my immediate answer is "no" but i might have missed something.
one e2e and two different people testing 1.9.4 on latest kubernetes master were able to reproduce this on Ubuntu, so you might be able to debug yourself further?

using 2.4.0 l

[2018-09-12 14:58] #68475 closed

[2018-09-12 15:05] vladimirvivien commented on #67853
@fatih Sorry havent had a chance to look into this. Let's keep it going and address upcoming quarter after release.

[2018-09-12 15:05] dims commented on #38067
as of v1.12.0-beta.2, all the kubernetes release container images are multi-arch capable. Also conformance tests have switched to multi-arch as well.

if there are any other images missing manifests, we should treat it as a bug and close this issue out.

/close

[2018-09-12 15:05] #38067 closed

[2018-09-12 15:06] vladimirvivien commented on #67853
Also thank you @fatih for the incredible research.  It will definitely help fixing this.

[2018-09-12 15:06] konghui opened #68564 "where is the definition of how to create replicate-set PodName and url-mapping definition"
**I had a requirement that need a stable identity to identify the pod on the replicate-set(deployment).It need to match this case**:

- pod of replicate-set 'helloworld' should be helloworld-1, helloworld-2, helloworld-3 etc and it can't be helloworld-xxx-xxx
- when I upgrade the replicate-set, the pod name can't be changed.
- stateful-set was to slow for us when deploy more than hundreds pod peer

[2018-09-12 15:12] njgibbon commented on #62594
Hello all. We were experiencing this issue as well.

Using:
[code]

We also found that the Exit code was:137 and the Reason: 'Error'.
This is the error code for both Liveness failure and Memory issues but we were fairly certain it was not due to Memory issues as we had more than enough Memory allocated and when we find error issues kill the pod we get the correct reason 'OOMKilled'.

Anyway, We fo

[2018-09-12 15:20] MegaR commented on #61144
I'm getting a lot of
"Unable to construct v1.Node object for kubelet: failed to get external ID from cloud provider: Too many requests have been sent in a given amount of time. Pause requests, wait up to one minute, and try again."
Which is causing nodes not being able to start. And since it keeps sending requests it keeps getting blocked.

[2018-09-12 15:30] aauren commented on #52865
/remove-lifecycle stale

[2018-09-12 15:30] zerthimon commented on #26944
Got this now in 1.11 on a DaemonSet.

[2018-09-12 15:31] shubheksha commented on #68564
/triage support

[2018-09-12 15:32] shubheksha commented on #68553
/triage support
/sig cluster-lifecycle

[2018-09-12 15:43] neolit123 commented on #68553
@asispatra it is possible, but it depends on how you are creating the cluster.

please fill the whole issue template and re-open the issue. :)
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md

/close

[2018-09-12 15:43] #68553 closed

[2018-09-12 15:44] neolit123 commented on #68558
/kind bug
/sig auth

[2018-09-12 15:44] neolit123 commented on #68550
/sig storage

[2018-09-12 15:46] juanvallejo commented on #68509
I am seeing this failure in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-sig-cli/3848 as well

[2018-09-12 15:50] neolit123 commented on #68542
@Deepak3994

as suggested, please provide the kubelet logs `journalctl -xeu kubelet` also check the state of the callico pods via `kubectl get pods --all-namespaces`

also your report is missing some detail, please take a look at this:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md
`Environment:......`

[2018-09-12 15:54] neolit123 commented on #68564
/sig api-machinery

[2018-09-12 15:55] #68510 closed

[2018-09-12 16:27] BenTheElder commented on #68177
/remove-sig scalability
/sig release
/sig testing
I don't think this is likely in the immediate future due to issues with kubernetes and go modules. CC @sigma

[2018-09-12 16:28] cblecker commented on #68527
I'd rather write a template that actually steers people in the right direction, rather than a user spending time writing up their support request only to have it auto close.
[code]

[2018-09-12 16:32] BenTheElder commented on #68527
Yes, please. I think auto-close-on-file is a very bad experience. At least
the current auto close is after something like half a year of being ignored
after several warnings.

On Wed, Sep 12, 2018, 09:29 Christoph Blecker <notifications@github.com>
wrote:

[2018-09-12 16:33] brancz commented on #68522
I don’t think there is anything else.

[2018-09-12 16:35] shubheksha commented on #68527
Makes sense! Should we list out the support channels ourselves though? I think a better idea would be to have them in a central place like k/community and link to it from there. However, currently nothing like that exists, but it's worth looking into.

[2018-09-12 16:38] justaugustus commented on #68527
Ahhhhhh, totally forgot about fejta-bot. My bad.
(My concern was around stale issues hanging around for too long, but we've solved that already :) )

[2018-09-12 16:45] liggitt commented on #68558
the kubectl commands aren't intended to remove the denial condition, only to add approved or denied to a CSR that hasn't been acted on yet

What's the use case for denying, then approving a CSR?

[2018-09-12 16:54] guineveresaenger commented on #68527
/assign

just for tracking this

[2018-09-12 16:59] LohithChanda commented on #68427
kubectl describe pvc mongo-0
[code]
Just deleted the pod and retried it, looks the same
`/dev/sdc        2.0T  402M  2.0T   1%  mongodb`

[2018-09-12 17:08] AishSundar commented on #66243
Followed up internally - "fix is on the way to prod. We will restore the whitelist as soon as it's rolled out. ETA is end of week"

[2018-09-12 17:09] cblecker commented on #68527
@shubheksha We talked about this on the sig-contribex call today, and there is a lot of interest in this initiative, and helping you out! When you have a PR, or if you have any questions, please ping here. 🚀

[2018-09-12 17:17] dims commented on #67721
cc @jichenjc

[2018-09-12 17:20] dashpole commented on #68522
@jellonek you are correct.  That is why I list cAdvisor as "one of its sources for metrics".  The other notable source is metrics from the runtime through CRI.
I added the container runtime as a source of metrics that the kubelet won't provide in the future.

[2018-09-12 17:30] guineveresaenger commented on #67823
@wojtek-t I may miss something but until I can actually see those tests passing, this issue is not done.

/reopen
/kind

[2018-09-12 17:31] guineveresaenger commented on #67823
/reopen

[2018-09-12 17:50] DirectXMan12 commented on #68383
See #68566 for an attempt at debugging this.

[2018-09-12 17:51] memorais commented on #56903
@marshallford What do you mean by "blowing away the nodes"? Can you be more clear about that? Did you restart you entire k8s node with "systemctl restart docker kubelet" or something like that?

Thanks.

[2018-09-12 17:52] Cynerva opened #68567 "kubelet device-plugins directory is not configurable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm trying to run kubelet in an environment where `/var/lib` is read-only. I'm able to move most of kubelet's data out of `/var/lib/kubelet` by using the `--root-dir` option, but there does not seem to be a way to do the same for the data in `/var/lib/kubelet/device-plugins/`.

**What you expected to happen**:

Either th

[2018-09-12 17:54] Cynerva commented on #68567
@kubernetes/sig-node-bugs

[2018-09-12 17:58] DirectXMan12 commented on #68522
I don't think we should introduce the core metrics API as described in the proposal you linked above.  It's basically just summary 2.0 in terms of format, which makes it highly kube-specific.  I'd much rather just have a stable Prometheus endpoint, as discussed previously.  That way, tools that collect metrics are much less likely to have to learn a new format.

[2018-09-12 18:08] MaciekPytel opened #68570 "Persistent local volume e2e fail to clean up and break soak suites"
soak-gci-gce suites are blocked for days, because failing storage tests seem to fail to cleanup. After a failed test a pod `pd-client` is left in `terminating` state. This in turn causes test namespace to be stuck in terminating state, which causes a check in BeforeSuit to fail.

Currently 1.10 test cluster is in this state, so it could be used for debugging.
Project: k8s-jkns-gci-gce-soak-1-7
Zon

[2018-09-12 18:09] MaciekPytel commented on #68570
cc: @msau42

[2018-09-12 18:12] PatrickLang commented on #68375
I've been discussing with Pengfei over email - here's some errors we're seeing in kubelet

[code]

[2018-09-12 18:12] dashpole commented on #68522
The format of the core metrics API is one of the non-goals listed in the proposal linked above.  It just lists the contents of the API.  We can debate format during the proposal process.
I intend for this to be an umbrella issue. I am trying to document current state, rough timeline, and gaps I see in terms of which metrics don't have a transition path to the new architecture.

[2018-09-12 18:17] derekwaynecarr commented on #68416
this looks off... can you provide the output for the kube-proxy yaml file?  what container runtime is being used?  can you share the kubelet configuration?

[2018-09-12 18:20] DirectXMan12 commented on #68522
Ah, apologies -- too much speed reading plus trying to recall from the last time I looked at things :-)

[2018-09-12 18:20] wongma7 commented on #68424
I am okay with this in theory, but I will need to test it in containerized kubelet environment to be sure. There is no need for devicePath to exist for MapDevice/symlink create to work.

I don't understand the other solutions too well but returning an empty devicePath sounds weird to me. What if we just checked if devicePath is empty before we bother to call EvalHostSymlinksdevice

[2018-09-12 18:34] janetkuo opened #68571 "`kubectl rollout` should handle Failed Deployments"
`kubectl rollout` currently doesn't handle `Failed` Deployments (cannot make progress after `.spec.progressDeadlineSeconds`). It waits forever until watch times out.

https://github.com/kubernetes/kubernetes/blob/426ef9d349bb3a277c3e8826fb772b6bdb008382/pkg/kubectl/rollout_status.go#L66-L100

@kubernetes/sig-apps-bugs

[2018-09-12 18:41] dchen1107 commented on #68416
We need to figure out if this is a regression in 1.12. @dashpole Can you take a look?

[2018-09-12 18:51] jkriba opened #68572 "Enabling Secure Communication inside Kubernetes Cluster instead of port 80"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind feature

**What happened**:
Is there a way to Encrypt communication between the POD's inside the Kubernetes cluster. i.e. Using 443 instead of Port 80

**What you expected to happen**:
Communication Inside the Kubenernetes cluster should happen in an encrypted way

**How to reproduce it (as minimally and precisely as possible)**:
Create a Kub cl

[2018-09-12 19:01] sgoings commented on #63172
I am seeing this on 1.10.x and 1.11.x clusters:

1.10.2
[code]

1.11.2
[code]

[2018-09-12 19:27] tonglil opened #68573 "StatefulSet never successfully rolled out"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Statefulset does not seem to ever finish rolling out when checking with `kubectl rollout status sts/x`:

[code]

**What you expected to happen**:

The command to show "successfully rolled out" as it does for deployments:

[code]

We expect the command to exit as we're depending on that to move onto the next step of the s

[2018-09-12 19:28] chrischdi commented on #65879
Hi there,
we encounter the same Problem. Side note: we are running the kubelet itself as docker container.

Versions:
* Kubernetes: 1.9.9
* CoreOS: 1745.7.0
* uname -r: 4.14.48-coreos-r2
* docker 18.03.1-ce

[2018-09-12 19:30] darxkies opened #68574 "kubelet csi plugin uses hard-coded address to connect over grpc"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The csi plugin ignores --root-dir and it uses the hard-coded "/var/lib/kubelet/plugins/%v/csi.sock" defined here https://github.com/kubernetes/kubernetes/blob/36877dafe40495cb43994464e2427355f99042c7/pkg/volume/csi/csi_plugin.go#L55

**What you expected to happen**:

csi plugin should use the "plugins" subdirectory relat

[2018-09-12 19:34] tonglil commented on #68573
@kubernetes/sig-apps-bug

[2018-09-12 19:34] tonglil commented on #68573
@kubernetes/sig-cli-bug

[2018-09-12 19:36] washingtoneg commented on #43222
For those who wonder here in the future: the `downwardAPI` doesn't expose node labels, it makes pod labels available. Check out https://github.com/kubernetes/kubernetes/issues/40610 in which the maintainers consider exposing node labels via `downwardAPI` to see if/when that functionality will be available in the future.

[2018-09-12 19:48] janetkuo commented on #68571
Closing, as the issue I saw is likely in Deployment status report, not kubectl.

[2018-09-12 19:48] #68571 closed

[2018-09-12 19:49] discordianfish commented on #48503
Not going to waste more time with that bot.

[2018-09-12 19:49] #48503 closed

[2018-09-12 19:52] rgembalik commented on #65879
@chrischdi While it's not a perfect solution and requires a bit of sweating, I'd recommend you try upgrading to 1.10.5 at least and changing the `--root-dir` option of kubelet (see @barnsnake351 comment). While it's not a solution per se, it did reduce the scale of the problem greatly for us.
As a side note: Another thing that helped during debugging was increasing `max_user_watches`  on the host

[2018-09-12 19:56] darxkies commented on #68574
@kubernetes/sig-storage-bugs

[2018-09-12 19:59] tonglil commented on #68573
/sig apps
/sig cli

[2018-09-12 20:07] alinbalutoiu commented on #64188
@feiskyer Can you re-open the issue in the meanwhile since this issue still exists?

[2018-09-12 20:28] sigma opened #68577 "go modules adoption checklist"
/kind feature

**Description**:

This issue is to track the list of issues for a go modules (aka vgo) adoption. The list itself is a work in progress, and will be updated as issues popup or get resolved.

First class of issues: the current godep snapshot of packages is not a valid solution as far as go modules are concerned
- [x] gonum and cadvisor conflict. details in #68478
- [ ] heketi and k/k

[2018-09-12 20:29] sigma commented on #68577
@kubernetes/sig-testing-proposals

[2018-09-12 20:30] sigma commented on #68177
I just opened #68577 to clarify the path to go modules a bit.

[2018-09-12 20:34] lavalamp opened #68578 "JSON Patch: Don't allow negative indices"
Bump evanphx/json-patch to pick up: https://github.com/evanphx/json-patch/commit/fcd53eccb4f88d7e54b742358017d72c9b34ae44, and enable [edit: disable] the new flag, in order to be compliant with the json patch spec (see: https://github.com/evanphx/json-patch/issues/65#issue-359587607).

This will at a minimum require an action-needed release note. We don't know if anyone is using this feature today

[2018-09-12 20:36] BenTheElder commented on #68314
sorry, will look into this after current meeting. had some other issues to look into 😬

[2018-09-12 20:37] BenTheElder commented on #68577
/cc

[2018-09-12 20:43] davidz627 commented on #68570
/assign
looking into it

[2018-09-12 20:51] msau42 commented on #68570
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-stable2/648/artifacts/bootstrap-e2e-minion-group-p43z/kubelet.log

[code]

[2018-09-12 20:55] DMEvanCT opened #68580 "Bootstraped with Kubeadm does not report cpu correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
My worker nodes went to 100% CPU and the kubernetes master showed 12%. This causes issues with load balancing between nodes

**What you expected to happen**:
I expect the kubernetes cluster to report back CPU so things will balance evenly

**How to reproduce it (as minimally and precisely as possible)**:
Install kubeadm run pods and

[2018-09-12 21:00] dawidmalina commented on #66300
Where repository will be renamed to more generic name? It can be a bit wired for someone to mix repositories for Ubuntu xenial and bionic.

[2018-09-12 21:12] #28695 closed

[2018-09-12 21:15] spiffxp commented on #68577
FYI @kubernetes/sig-architecture-proposals

[2018-09-12 21:19] ianvernon commented on #68573
Might be related to this: https://github.com/kubernetes/kubernetes/issues/52653

I'm hitting this as well with the following client/server configuration:
[code]

[2018-09-12 21:45] arun-gupta commented on #17512
Here is what worked for me:

[code]

It shows output as:

[code]

[2018-09-12 21:46] jennybuckley opened #68583 "Typo in dry-run feature disabled error"
**What happened**:
When a dry run request is made to a modifying endpoint, and the dry-run alpha feature is disabled, it returns the error message "dryRun is not supported yet"
This was true in 1.11, but in 1.12, since the feature is in alpha now, the message should say something like "the dryRun alpha feature is disabled"

/kind bug
/sig api-machinery

[2018-09-12 21:54] sigma commented on #63607
I concur, the replace operator is a fairly straightforward way to handle our staging repositories. There are still rough edges around having a single `vendor/` directory to serve them all though. This is tracked in #68577 amongst other things

[2018-09-12 22:08] davidz627 opened #68586 "GCE PD tests should not be force detaching disks to clean up tests"
/kind bug
/sig storage

Some GCE PD tests do a force detach using `detachAndDeletePDs`. We should not be doing this because deleting the Pod should detach the PD's from the nodes automatically.
We should remove all instances of these force detaches and replace them with more robust pod deletion code.

Removed from one of the tests here for example: #68581

[2018-09-12 22:22] bamb00 opened #68587 "docker container log does not get rotate on k8s master node causes host to run out of space quickly"
**What happened**:
/etc/logrotate.d/docker-container is configure to rotate log when the maxsize reaches 100M.  Logrotate failed to rotate log file with size 100 mb or more causes full disk error.

       /var/lib/docker/containers/*/*-json.log {
          rotate 3
          maxsize 100M
          daily
          compress
          missingok
          delaycompress
          copytruncate
       }

[2018-09-12 22:26] saad-ali commented on #68490
Spoke offline about this: the CRD is required for correct behavior, so the test failing is expected. The recovery behavior is the user needs to install the CRD manually.

We decided that for both #68260 and #68490 we are just going to remove automatic CRD installation by Attach/Detach controller. For alpha, user will have to manually install the CRD. In the next release we will come up with a prop

[2018-09-12 22:42] dashpole commented on #68416
I can reproduce it on GCE:
[code]

### Only kube-proxy
[code]
### Start nginx

[code]
### Delete nginx pod and recreate it:
[code]
### Delete kube-proxy, then delete nginx
[code]
### Restart kubelet
[code]
[nginx_2.txt](https://github.com/kubernetes/kubernetes/files/2377098/nginx_2.txt)
[nginx_1.txt](https://github.com/kubernetes/kubernetes/files/2377099/nginx_1.txt)
[kube_proxy_1.log](https://git

[2018-09-12 22:59] dashpole commented on #68416
Node with same flags, except `--cgroup-root=""`, instead of `--cgroup-root="/dashpole/"

### Create kube-proxy
[code]
### Create Nginx pod
[code]
### Delete and recreate nginx
[code]
### Delete kube-proxy
[code]
### Delete nginx
[code]

So the problem only occurs when `--cgroup-root` is specified

[2018-09-12 23:42] dashpole commented on #68416
I can reproduce this on 1.11.3 as well.  I don't think this is a regression with the 1.12 release, although it is still a serious bug.

[2018-09-12 23:49] guineveresaenger commented on #68527
I filed this issue in test-infra: https://github.com/kubernetes/test-infra/issues/9367

[2018-09-13 00:31] wanghaoran1988 commented on #68543
No, the node is ready, all the containers already started is running well, but new containers cannot be started.

[2018-09-13 01:10] kernelsky commented on #68558
How can I do this to approve a CSR in the Denied state?

[2018-09-13 01:11] kernelsky commented on #68558
How can I do this to approve a CSR in the Denied state? @liggitt

[2018-09-13 01:17] Lion-Wei commented on #68560
/area ipvs

[2018-09-13 01:28] Lion-Wei commented on #68546
/kind feature
How to auto detect network interface mtu, that's a problem, different environment may have different interface name...

[2018-09-13 01:28] tpepper commented on #67600
If ya'll decide the use case is no longer valid, please open an issue / remove the test once 1.13 release opens.

[2018-09-13 01:39] bruceauyeung commented on #68026
fix golint errors in package cmd/kubeadm/app, since the codes under cmd/kubeadm/app/apis/kubeadm/v1alpha2 and cmd/kubeadm/app/apis/kubeadm/v1alpha3 are auto-generated, i keep them untouched.
https://github.com/kubernetes/kubernetes/pull/68595

[2018-09-13 01:39] feiskyer commented on #64188
I still think this isn't a issue, but a requirement for windows containers. Even after RS5, we should probably support old windows versions.

@PatrickLang @madhanrm @dineshgovindasamy WDYH

[2018-09-13 01:47] WingkaiHo commented on #68546
Many time, the user start kube-proxy parameter like this:
[code]

If user setting bind-address which not be "0.0.0.0",  we can find network interface by ip address.

[2018-09-13 02:03] konghui commented on #68564
Any one know where is the file locate in which include how to generate replicate-set pod name?

[2018-09-13 02:06] Lion-Wei commented on #65502
I think there are things to decide, like:
1. How to make sure the first one have been up and running, maybe using readiness probe.
2. Where to specify the startup sequence, or specify a dependency.

I think this is a good idea, maybe we can send a initial proposal in mail list, to get more thoughts.

[2018-09-13 02:16] tpepper commented on #68314
Given the new documentation at https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/ci-signal/upgrade-job-versions.md it appears ci/k8s-stable1 has commit a4529464e4629c21224b3d52edfe0ea91b072862 at its head as of this moment, which also corresponds specifically to v1.11.3 tag.  There are newer commits on release-1.11 branch.  This is suspicious.  @BenTheElder @spiffxp

[2018-09-13 02:17] #62605 closed

[2018-09-13 02:31] samjeyaseelan opened #68596 "Kubernetes pods cannot pull an image from a private docker registry unless self-signed certificate is incorporated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**what happened**:
I am working on a logic to build a in-house HA availability for our products. My HA model is working fine with https://hub.docker.com/. I created a private docker registry with  a self-signed certificate and placed it inside our corporate network. However, when I replace the  public docker hub with my private registry, t

[2018-09-13 02:39] BenTheElder commented on #68314
I'm investigating finally (sorry about that!) looks like docker is too old in the kubekins image, working on a fix.

[2018-09-13 02:41] linyouchong commented on #68574
@darxkies @vladimirvivien I have tried to fix it, PTAL
https://github.com/kubernetes/kubernetes/pull/68597

[2018-09-13 02:45] linyouchong commented on #68316
I have ever fix an issue like that:https://github.com/kubernetes/kubernetes/pull/52324
I will try it with subpath.

[2018-09-13 02:57] tianshapjq commented on #68026
I am working on some packages under pkg/kubelet, anyone interested in this plz leave messages for me :)
#68599

[2018-09-13 02:57] WingkaiHo commented on #68546
@m1093782566 my ib interface mtu is 65520

[2018-09-13 03:06] Cloudzp commented on #68316
@linyouchong Yes, they are the same type of problem, but the problem with subpath has not been fixed, I am looking forward to your repair as soon as possible;

[2018-09-13 03:15] BenTheElder commented on #68314
https://github.com/kubernetes/test-infra/pull/9379

[2018-09-13 03:16] linyouchong commented on #68316
/assign

[2018-09-13 03:58] WingkaiHo commented on #68546
@Lion-Wei my idea is come form cilium network,

https://reviewable.io/reviews/cilium/cilium/4687#-

[2018-09-13 04:35] cn-mayank opened #68603 "Deleting pod that had mount a host directory, does not let a new pod mount that directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a deployment on my single worker-node cluster that mounts a directory. If the pod is deleted and when another pod gets created on the same node, it is not able to mount the directory with error <path> is not a directory even though the path exists, is a directory and was mounted by the pod before.

**What you expected to happ

[2018-09-13 04:41] cn-mayank commented on #68603
/sig windows

[2018-09-13 04:47] kernelsky commented on #68558
I have deleted and re-approved, thank you for your help.
`kubectl delete csr <csr-name>`

[2018-09-13 04:47] #68558 closed

[2018-09-13 05:12] AishSundar commented on #68314
How long will the new commit take to merge?

[2018-09-13 05:15] k82cn commented on #67823
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/211 is green now. @guineveresaenger , is it ok to close?

[2018-09-13 05:16] rahulsrivastava71 commented on #11119
Hi team , i am running

./hyperkube kube-apiserver --etcd-servers=http://localhost:2379 --service-cluster-ip-range=10.0.0.0/16 --bind-address=0.0.0.0 --insecure-bind-address=0.0.0.0 --admission-control= --insecure-port 12345
cammand and facinf issue of OOO as my program gets stuck at

# ./hyperkube kube-apiserver --etcd-servers=http://localhost:2379 --service-cluster-ip-range=10.0.0.0/16 --bind-ad

[2018-09-13 05:41] Huang-Wei commented on #68357
/cc

[2018-09-13 05:42] leeivan opened #68604 "WARNING: Some requests generated warnings"
KUBE_GCE_NETWORK=default KUBEMARK_NUM_NODES=99 ./test/kubemark/start-kubemark.sh

WARNING: Some requests generated warnings:
 - The resource 'projects/cos-cloud/global/images/cos-stable-65-10323-64-0' is deprecated. A suggested replacement is 'projects/cos-cloud/global/images/cos-stable-65-10323-69-0'.
/sig testing

[2018-09-13 05:44] matti opened #68605 "AWS classic loadbalancer is not cleaned on apply"
/kind bug

**What happened**:

Applied this in AWS:

[code]

---> got a classic loadbalancer.

Changed to this

[code]

And after apply got an NLB, but the classic loadbalancer is still there.

**What you expected to happen**:

Not to get billed by AWS for $20/month for nothing

**Environment**:
- Kubernetes version (use `kubectl version`): 1.11.1
- Cloud provider or hardware configuration: aws
-

[2018-09-13 05:46] sahitpj commented on #68578
If I am understanding this right, it means adding a release-note ( to docs  ) about the patch which has been added to the JSON file about negative indices right?

May I work on this issue  if it hasn't been assigned yet?

[2018-09-13 05:47] leeivan opened #68606 "how to run "go tool pprof'""
test/kubemark/run-e2e-tests.sh --ginkgo.focus=[Feature:Performance] --gather-metrics-at-teardown=true --output-print-type=json --report-dir=$HOME/json

Failed to gather kube-scheduler memory profile: Failed to run 'go tool pprof': exit status 1, stderr: "/home/leeivan/json/profiles/kube-scheduler_MemoryProfile_density.pprof: parsing profile: unrecognized profile format\nfailed to fetch any source

[2018-09-13 05:47] matti commented on #68605
/sig cloud-provider

[2018-09-13 05:58] BenTheElder commented on #68314
pull-kubernetes-e2e-gce took unusually long and failed :/

[2018-09-13 05:59] BenTheElder commented on #68314
~50 more minutes if it behaves this time.. triggered a retest

[2018-09-13 06:09] alinbalutoiu commented on #64188
Why would the spec of the CNI should be different on Windows? On Linux you know that the sandbox ID that will get passed to the CNI is always the sandbox container. On Windows the sandbox ID won't be only that, it will also be an ID of a container from within the same pod. Does this sound like normal behavior to you?

For now I agree, the workaround is to call the CNI for every single container be

[2018-09-13 06:16] wojtek-t commented on #67823
copying from Slack:

@AishSundar @gsaenger - the last run of scale-performance is green, but it's NOT yet done
we have switched off part of the test to facilitate debugging
yesterday in the afternoon I realized that I believe that the changed fixing https://github.com/kubernetes/kubernetes/issues/67823 may have actually caused more issues then I thought and may have been reason off all failures [t

[2018-09-13 06:24] WanLinghao opened #68607 "add proxy disable support in http liveness probe"
/kind feature

Currently the liveness probe in container will use node's local proxy settings by default.
For example, if the node has environment set like: `http_proxy=xxxx`,  the http liveness probe will use this proxy. But I think for most situation, the proxy is not set to do liveness probe. This would cause liveness probe failure which should not.
So I think we need provide a way for users to

[2018-09-13 06:52] pires commented on #68416
Correct, `--cgroup-root` was being specified in the case above. As mentioned over Slack, we were able to track it back to 1.11.0-beta (can't recall the beta version, though) but not 1.11.0-alpha.2. The only PR we've identified which could have an impact is #62541.

[2018-09-13 07:07] feiskyer commented on #63172
@sgoings  The PR #59083 has already been included in v1.11.x and v1.10.x. However, there's still other potential issues. Let me reopen this issue and file another PR to fix that

/reopen

[2018-09-13 07:09] DhruvBansal86 commented on #65221
root@ip-10-10-2-78:~/.ssh# kubectl cluster-info dump
error: missing apiVersion or kind and cannot assign it; no kind is registered for the type core.NodeList

any luck on this?

[2018-09-13 07:33] feiskyer commented on #64188
OK. Reopened the issue. Let's wait a while for feedbacks from other folks.

[2018-09-13 07:45] feiskyer commented on #63172
Added this to v1.12 since this is a critical urgent bug.

[2018-09-13 07:49] fabiand commented on #67340
This causes workarounds like
https://github.com/kubevirt/kubevirt/pull/1404/files#diff-b3ef56ef078f18d957e5de17857e8713R137

[2018-09-13 07:56] mkumatag commented on #38067
@dims This is the only pending PR I see - https://github.com/kubernetes/kubernetes/pull/59664 at the moment which is needed for etcd image.

[2018-09-13 08:05] andyzhangx commented on #68427
I tried on my 1.11.2 cluster, it works well.
Below are the steps:
[code]

One possibility is that after deleting the pod, **wait for about two minutes**, make sure the disk is in detached state, and then recreate that pod.
You may also check in azure portal whether that disk size has been changed

[2018-09-13 08:10] zenglian commented on #65863
@liggitt Yes it did the trick. But the ungradedoc did not mention it.

[2018-09-13 08:12] mmuth commented on #57187
Same problem here. I'd also strongly wish this feature to disable the livenessprobe at runtime. Still have not found a workaround to attach a debugger without the pod getting restarted...

[2018-09-13 08:17] BenTheElder commented on #68314
PR merged but, see https://github.com/kubernetes/release/pull/627 and discussion in #sig-release :|

[2018-09-13 08:27] wojtek-t commented on #62277
Was the NPD using json fixed?

[2018-09-13 08:28] roffe commented on #42594
@nekufa add `-wait=false` to your scripts kubectl command to get previous behaviour

[2018-09-13 08:41] tanshanshan commented on #68026
fix golint for
pkg/util/dbus
pkg/util/labels
pkg/util/node
pkg/util/strings
pkg/util/workqueue/prometheus

 #68544

[2018-09-13 08:57] #63172 closed

[2018-09-13 09:08] shyamjvs opened #68613 "Core-dns pods crashing in large-cluster performance tests"
Sometime ago I observed in our 5k-node scalability tests that core-dns pods were crashing (we use n1-standard-1 nodes there). This was after we switched the default from kube-dns to core-dns in https://github.com/kubernetes/kubernetes/pull/67569. We need to investigate this before we cut the release.

/kind bug
/sig scalability
/sig network
/priority critical-urgent
/milestone v1.12

cc @wojtek-t

[2018-09-13 09:09] shyamjvs commented on #68613
cc @fturib @thockin

[2018-09-13 09:11] shyamjvs commented on #68613
From our load test where we create ~8k services with a total of ~75k backends:

[code]

[2018-09-13 09:13] shyamjvs commented on #68613
Looking at one such pod, it seems to have been OOMKilled:

[code]

[2018-09-13 09:16] shyamjvs commented on #68613
From the yaml, it seems like core-dns has the same resources set as what kube-dns used to have earlier:

https://github.com/kubernetes/kubernetes/blob/989f6667d275c02e7dfebcc781f2360a07eedd15/cluster/addons/dns/coredns/coredns.yaml.base#L113-L118

[2018-09-13 09:20] shyamjvs commented on #68613
@fturib Couple of questions:

- Do we have any evidence that core-dns has greater resource footprint than kube-dns?
- Also, I remember we were discussing about scale-testing core-dns a while ago for GA. Could you confirm what scale was it tested at?

[2018-09-13 09:27] liaoqiArno commented on #55471
I used 1.10.0  the same as. How do you solved it ?

[2018-09-13 09:28] coderwangke opened #68617 "about cronjob"
how to run a cron job on every node?

[2018-09-13 09:29] CaoShuFeng commented on #68617
Would [daemonset](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/) help you?

[2018-09-13 09:30] wojtek-t commented on #68613
@thockin @bowei @kubernetes/sig-network-bugs - @shyamjvs and @krzysied are working on confirming that this is the final reason of regression; but assuming that it's the case, given where we currently are in release phase, I think that we should revert switch to core-dns by default (if that is the reason - unless we know how to fix those fast).

[2018-09-13 09:33] coderwangke commented on #68617
@CaoShuFeng daemonset must set restartpolicy = always.

[2018-09-13 09:38] shyamjvs commented on #68613
IMHO we should revert this now and re-revert it back once we fix (and test) the OOM-kill issue.

[2018-09-13 09:40] wojtek-t commented on #68613
We should first confirm with 100% certainty that it's that.

[2018-09-13 09:41] wojtek-t commented on #68613
@AishSundar @guineveresaenger - ^^

[2018-09-13 09:49] shyamjvs commented on #68613
We have evidence that load test passed in [this run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/203) right before the switch to core-dns was made. But I agree it's probably worth confirming once again (@krzysied is running the test currently).

[2018-09-13 09:54] chrischdi commented on #65879
Hi @rgembalik we currently will stick with 1.9.9 but will update hopefully soon to a newer version.

I now have a try on using other mount options for the kubelet container/its `/var/lib/kubelet` mount:
[code]
Example file from: https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase2/ignition/vanilla/kubelet.service (hint we do not use exactly this file but the changed options are the

[2018-09-13 09:57] WanLinghao commented on #68607
/assign

[2018-09-13 10:13] pires commented on #68383
@bmcstdio can we provide the data @DirectXMan12 is looking for?

@DirectXMan12 we're seeing this quite often.

[2018-09-13 10:34] bboreham commented on #46508
/remove-lifecycle stale

[2018-09-13 12:07] fabiand opened #68620 "kubeadm errors with Kubernetes 1.12.0-beta.1"
/kind bug

**What happened**:
Source: https://travis-ci.com/fabiand/traviskube/jobs/145495967

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2018-09-13 12:11] yue9944882 commented on #68564
it's defined in their registry. `pkg/registry/...`

[2018-09-13 12:26] shubheksha commented on #68607
/sig network

[2018-09-13 12:26] shubheksha commented on #68596
/sig auth

[2018-09-13 12:27] shubheksha commented on #68580
/area kubeadm
/sig cluster-lifecycle

[2018-09-13 12:28] shubheksha commented on #68572
/triage support
/sig network

[2018-09-13 13:18] liggitt commented on #66753
the intent of `REDACTED` was not to mask sensitive data, but to elide extremely long data. See discussion in https://github.com/kubernetes/kubernetes/issues/61573 and change in https://github.com/kubernetes/kubernetes/pull/66023

I think this is working as intended

[2018-09-13 13:39] chrisohaver commented on #68613
Our early scale tests (5K nodes, 10K services, max QPS load) showed that they were essentially the same (coredns slightly lower).  Although this was done on coredns version 0.9.9. Coredns 1.2.2 is the version being tested.

CoreDNS is less memory efficient with cache than dnsmasq (what kube-dns uses).  But, IIRC, these e2e scale tests do not provide any QPS load, so that would not be a factor beca

[2018-09-13 13:45] Arqu commented on #28969
Fighting the same issue setting up a Scylla cluster. The only "stable" solution for now is to literally set everything in stone with static IPs, node selectors and pod labels. And this is only valid until a node gets decommissioned than you have to reconfigure everything which completely beats the purpose of orchestration. Sticky IPs would probably solve one of the last few pain points of running

[2018-09-13 13:47] andyzhangx commented on #68603
/assign

[2018-09-13 14:12] chrisohaver commented on #68613
@shyamjvs, what tests are "our load tests"?  And by "backend" do you mean a service endpoint? Can you provide more context?  Is this the e2e test, or a private test your group performs using the perf-test tool?  I see many coredns replicas, running for 24 hours, so presumably this is not the e2e tests.

[2018-09-13 14:12] oisis opened #68622 "Kubeadm upgrade and ETCd certificates location"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig wg-kubeadm-adoption

**What happened**:

 I guess i found bug in kubeadm upgrade command. I want to put SSL certs for ETCd in different location than default one. Kubeadm looks for ETCd certs in /etc/kubernetes/pki/etcd but in my kubeadm config file i setup different location: /etc/kubernetes/etcd/ because i do not want to loose certs when run co

[2018-09-13 14:18] shyamjvs commented on #68613
This is a particular e2e test we have been running for a very long time
now, as part of release-blocking scalability CI tests. The e2e is at
test/e2e/scalability/load.go

On Thu, Sep 13, 2018, 4:13 PM chrisohaver <notifications@github.com> wrote:

[2018-09-13 14:18] juanvallejo opened #68623 "Improve human-readable output of Deployments and StatefulSets"
The column output for `Deployments`, `StatefulSets`, and `DaemonSets` are not as helpful as the human-readable output for Pods (for example).

We need to reduce the number of columns that we use to inform about the current amount of replicas (for example) that are desired and have been fulfilled for these resources, and add a new column or two that give the user more information about the current

[2018-09-13 14:18] juanvallejo commented on #68623
/sig cli

[2018-09-13 14:20] shyamjvs commented on #68613
And by "backend" above, I meant the no. of pods in total belonging to all
those services.

On Thu, Sep 13, 2018, 4:18 PM Shyam Jeedigunta <shyamjvs@google.com> wrote:

[2018-09-13 14:37] pbrook-costain commented on #37218
Needed please.

[2018-09-13 14:48] chrisohaver commented on #68613
Ah, OK Thanks!  I didn't know those tests ran for extended periods of time.  I thought they just spun up a number of services, then spun them down.  How long do these tests run? I see 23 hours in the output you provided.  Or is the cluster not rebuilt each test, the same coredns instances processing 5K service down/up for multiple tests?  If thats the case, I could see a possibility of memory leak

[2018-09-13 14:52] dims commented on #38067
@mkumatag i managed to test the dns PR too, we need that to merge - https://github.com/kubernetes/dns/pull/259

[2018-09-13 14:58] shyamjvs commented on #68613
To clarify few things:

- The load test I mentioned above typically takes about 8-10 hrs when running on a 5000-node cluster
- It creates a bunch of services and then RCs which fall under those services. Then it scales those RCs up/down randomly and finally deletes the RCs and services
- In this case you see 23 hrs because we were running that load test manually and didn't delete the cluster for a

[2018-09-13 15:00] nmittler commented on #65502
@Lion-Wei

I actually already did.  See https://github.com/kubernetes/kubernetes/issues/65502#issuecomment-417018265.  I haven't gotten any responses, however.

[2018-09-13 15:01] liggitt commented on #68596
Propagation of trust for the docker daemon is out of scope for sig-auth (and I suspect for sig-node). That is the responsibility of the node creator to configure.

[2018-09-13 15:01] liggitt commented on #68596
/remove-sig auth

[2018-09-13 15:03] liggitt commented on #68596
If any sig, this would maybe fall under cluster-lifecycle, but I doubt it would be a built in feature

[2018-09-13 15:13] chrisohaver commented on #68613
Thanks, that clarifies things for me. CoreDNS does monitor endpoints, so there may be a leak there in CoreDNS.  Although if it is, I think it would be a leak in the k8s api go client/cache we use.  CoreDNS doesn't store dns records, it constructs them on demand from the api client cache when a query is received.  (Am i correct in saying there is no QPS load in this test?)

[2018-09-13 15:17] juanvallejo commented on #68623
@sahitpj Sure, feel free to put together a pull for this. Please reach out on slack if you have any questions

[2018-09-13 15:26] shyamjvs commented on #68613
Few questions about this:

- Does that mean it keeps the endpoints objects in its memory (as that can be a sizable amount)?
- Was kube-dns also monitoring endpoints?
- Out of curiosity - why does DNS have to know about endpoints? (isn't just the service IP enough?)

No QPS that we are creating in the test (there may still be some default control-plane lookups - I'm not sure though).

[2018-09-13 15:30] jethrogb commented on #58477
/remove-lifecycle stale

[2018-09-13 15:30] #62641 closed

[2018-09-13 15:35] derekwaynecarr commented on #68416
I will try to take a look today.  I am curious the motivation for changing the cgroup-root, in retrospect, would have preferred we didnt expose it.

[2018-09-13 15:37] chrisohaver commented on #68613
- Endpoints API objects are kept in memory, in an api cache (part of client-go lib).
- Kube-dns AFAIK more or less does the same.  I'll look in the kube-dns code again, its been a long time since I looked.
- DNS needs to know endpoints to be able to serve records for headless services (service without a cluster IP).  There is no way monitor only changes for headless services (that I know of) - so

[2018-09-13 15:38] liggitt commented on #67424
Correct

This allows the superuser to create pods based on any PodSecurityPolicy, not other users.

That is not possible.

To allow a privileged controller to create privileged pods in a namespace while restricting the ability of unprivileged users to create privileged pods.

[2018-09-13 15:38] liggitt commented on #67424
/close

[2018-09-13 15:38] #67424 closed

[2018-09-13 15:42] liggitt commented on #66754
Agree, delimiters would mean assuming those characters could never appear in group names (which is not a good assumption… ldap groups frequently contain commas)

/close

[2018-09-13 15:42] #66754 closed

[2018-09-13 15:44] neolit123 commented on #68622
hi, @oisis and thank your for the report.
please file the same in the `kubernetes/kubeadm` repo instead.

/close

[2018-09-13 15:44] #68622 closed

[2018-09-13 15:45] neolit123 commented on #68620
@fabiand thanks for the report.
please file the same in the `kubernetes/kubeadm` repository instead.

/close

[2018-09-13 15:45] #68620 closed

[2018-09-13 15:45] mkimuram commented on #68424
@wongma7

Thank you for your confirmation. That's the exact point that I would like to confirm and I agree that we should test before this change.

Actually, empty check for devicePath is already done just before it. However, it seems that the fact that devicePath isn't empty doesn't always mean that the actual device exists from the historical background.

[2018-09-13 15:46] neolit123 commented on #68617
/sig scheduling

[2018-09-13 15:56] wojtek-t commented on #68613
@chrisohaver - from what you wrote above, it seems that CoreDNS is processing (and keeping) k8s objects pretty much the same way that kube-dns is doing.

But because of some reason (assuming that @shyamjvs checked that correcly and both are requesting the same amount of resources), something must be significantly differently, because we weren't observing any extensive crashing of kube-dns (up unti

[2018-09-13 15:57] wojtek-t commented on #68613
And the test is exactly the same as it was - we didn't change that around that time.

[2018-09-13 16:13] shyamjvs commented on #68613
In general, it seems to me like [this e2e](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/dns_scale_records.go) you're running to scale-test dns is insufficient, as it's only creating empty services (without any endpoints). IMO that test should be changed to also create some sizeable endpoints objects for those services (either manually in that test, or if that's not possibl

[2018-09-13 16:21] chrisohaver commented on #68613
@wojtek-t, Well - Its possible that while kube-dns subscribes to events for endpoints, doesn't cache them if they are for cluster IP services.  Or, that it doesn't cache endpoint API objects in their entirety.  I'm looking at the code today.

@shyamjvs, Yes the other test only tests for service only.  This was known/discussed at the time.  The test is not a complete test - it was a first step.  Ad

[2018-09-13 16:30] shyamjvs commented on #68613
IMO we should test for such a scenario (which is quite realistic), before switching it to production default :)

[2018-09-13 16:32] chrissnell commented on #50309
Did anybody ever figure this out?  I'm trying to debug some short-lived Job containers that are crashing and I need to be able to log the container ID from within the job in order to correlate it with Docker logs.

[2018-09-13 16:33] wojtek-t commented on #68613
+100
That in my opinion is a very strong argument to reverting the default change, given that we're already in code freeze.
@thockin @bowei ^^

[2018-09-13 16:35] rezroo opened #68627 "StatefulSet delete behavior changed in v1.11"
/kind bug

**What happened**:
In k8s v1.11.1 all statefulset pods are deleted at the same time. This is what I observe:
[code]

**What you expected to happen**:
In k8s v1.9.3 StatefulSet deletion [adheres to documentation](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#using-statefulsets) and follows `Ordered, graceful deletion and termination`. In v1.9.3 when I delete the

[2018-09-13 16:38] bowei commented on #68613
Revert seems to be the safer option here (my opinion).

[2018-09-13 16:43] chrisohaver commented on #68613
no! no! -100 !!! just kidding.

Well - After a quick glance at the kube-dns code, it seems it might not be caching endpoints for clusterIP services.  If this is true, it seems like it just sidesteps the test condition though.  i.e. If the tests contains a large number of headless services, kube-dns might consume more memory.

I could fix this in coredns, to not cache endpoint objects if the servic

[2018-09-13 16:47] bowei commented on #68613
dnsmasq has static memory allocation (the hash table nodes are all allocated up front).

[2018-09-13 16:48] chrisohaver commented on #68613
Per my understanding, this isn't about the dns cache, rather the API object stores.

[2018-09-13 16:56] krmayankk commented on #68627
/sig apps

[2018-09-13 16:58] krmayankk commented on #68627
It seems the default value of pod management policy changed . You can choose parallel and see f that fixes it https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#pod-management-policy

[2018-09-13 16:58] chrisohaver commented on #68613
I agree this needs to be fixed, and if we are not permitted to fix it during code freeze, then we have no other option than to revert CoreDNS as default.

If we are permitted a fix, an obvious "quick fix" would be to increase the memory limit. Although we'd have to find out what the required size actually is at max scale (in the test), and also decide if that number is reasonable.  e.g. if its 200

[2018-09-13 16:59] bgrant0607 commented on #68577
cc @thockin @lavalamp @mattfarina

[2018-09-13 16:59] shyamjvs commented on #68613
I've created the revert PR https://github.com/kubernetes/kubernetes/pull/68629 - PTAL.

[2018-09-13 17:01] yastij commented on #61185
/remove-lifecycle stale

[2018-09-13 17:09] tpepper commented on #68613
I would vote for fixing, versus reverting.  Of course that's a bit dependent on seeing the size/scope of the fix.  But if it's just increasing resource limit somewhat, that doesn't seem bad.

[2018-09-13 17:09] lavalamp commented on #68578
@sahitpj Please, go ahead. :)

I think it means:
1. update the vendored package
2. in the same PR, modify the usage of the json-patch object to enable the new setting
3. in that PR's description, put an action-required release note-- this will get automatically placed into the right documents when releases are built that include the change.

[2018-09-13 17:15] pentago commented on #22368
Can't believe that 2 years passed without resolving this critical issue.

[2018-09-13 17:26] lavalamp commented on #68577
Excited to have someone looking at this!

[2018-09-13 17:31] chrisohaver commented on #68613
If we are to seek the actual memory requirement at the max scale, would be be best to submit a PR that bumps it to a high number, say 1000, merge it, have the test run, then revert and make a decision?

Or would we need to duplicate the test environment locally.

[2018-09-13 17:32] kfox1111 commented on #22368
I agree. As I start encouraging more users to use K8s, its going to become increasingly more important.

The two issues marked above don't really solve the issue. Instead they also work around it. I don't want to signal a process in the container that a configmap changed. I need my configmaps to be atomic for the lifetime of that replicaset. immutable within the replicaset. Without this, you loose

[2018-09-13 17:33] tpepper commented on #68613
Since we're only talking about 1 or 2 replicas here in the kube-dns and coredns cases...I think bumping the mem requirement here is reasonable to get into test asap.

[2018-09-13 17:38] lavalamp commented on #14955
I think this is a dup of #12208--let's keep that one since it's older.

[2018-09-13 17:38] #14955 closed

[2018-09-13 17:47] rajansandeep commented on #68613
I have PR https://github.com/kubernetes/kubernetes/pull/67392 which sets the mem limit to 1000

[2018-09-13 17:48] smarterclayton opened #68630 "cordon and drain should take multiple arguments"
They should be consistent with all other commands that allow multiple arguments (since they already allow label selectors).

[code]

should cordon all of them, not return an error.

@kubernetes/sig-cli-bugs

[2018-09-13 17:53] chrisohaver commented on #68613
The idea here would be to merge this temporarily, and let the tests run, look at results, then revert.  Then, if we don't get OOM restarts, we can look at the actual memory usage and determine if it is a reasonable number.  If so, we can adjust the limit to reflect that.

[2018-09-13 17:53] wojtek-t commented on #68613
I don't agree for that. This is breaking change. If users have packed cluster, this may lead to preempting their workloads.
That's definitely not a thing to do during code freeze.

[2018-09-13 17:55] chrisohaver commented on #68613
The idea here would be to merge this _temporarily as a troubleshooting step_, and let the tests run, look at results, _then revert_. Then, if we don't get OOM restarts, we can look at the actual memory usage and determine if it is a reasonable number. If so, we can adjust the limit to reflect that.

[2018-09-13 17:56] bowei commented on #68613
We have to be careful when we change resource limits up. Let's see what the experiment yields.

[2018-09-13 17:56] wojtek-t commented on #68613
I would be fine with doing that in early phase of release. Not when we are already during code freeze.
We are going to release 1.12 in less than two weeks - we shouldn't rush with fixes in that phase.
@bowei @thockin ^^

[2018-09-13 17:57] tpepper commented on #68613
CoreDNS has claimed to support more transactions at lower memory overhead.  If that is not true at scale, there's a CoreDNS issue, imho.  But we need to help debug.  Running _a_ test to better triage seems worthwhile here.  Then we decide the path.  Revert?  Increase limit to (very? slightly?) higher number and release note it?  It's hard to understand the scope at this point.

Also I'm generally

[2018-09-13 17:57] azzaka commented on #65863
Using the same URL you posted, i found this little tid-bit: kubeadm config images pull

This pulls the images and then when you run 'kubeadm init' it all goes smoothly.

[2018-09-13 17:59] tpepper commented on #68613
As 1.12 release lead I'm ok with this experiment today.  But at the same time will defer to SIG Scalability leadership.  If reverting is the primary path to insure all scalability tests are green in the next four or five days, then so be it.  I'd just rather be pragmatically open to helping forward progress if possible.

[2018-09-13 17:59] bowei commented on #68613
IMHO we should bias towards stability. Note the user can chose CoreDNS as it is a supported GA option. This is not precluding the choice, just changing the default option...

[2018-09-13 18:02] neolit123 commented on #68613
it's too late in the cycle to move away from CoreDNS being the default. it's all over the documentation too.

[2018-09-13 18:05] wojtek-t commented on #68613
+100 - that also reflects my thoughts

I think it's getting too late. Even though we have some proofs that it's the last regression, I think we want a couple of green runs before we release the version.
And given how long scalability runs are, we don't have that many runs before that.
I think it's too late to rush with fixes - the project is in a state when we can't comprise on quality.

I don't b

[2018-09-13 18:06] chrisohaver commented on #68613
@shyamjvs, Just curious, how long ago did you observe this?  This issue is only 9 hours old.  but you said you have observed it "some time ago" ...

[2018-09-13 18:07] wojtek-t commented on #68613
@chrisohaver - the problem is that there were a couple other regressions that were more serious and were causing bigger issues and hiding this one.

[2018-09-13 18:07] shyamjvs commented on #68613
Probably in the last or the one before that run. The reason for not having noticed it earlier was due to earlier regressions masking this problem.

[2018-09-13 18:10] neolit123 commented on #68613
@wojtek-t

FYI coredns has been the default for kubeadm deployments since 1.11.

[2018-09-13 18:13] wojtek-t commented on #68613
That doesn't mean we should change defaults everywhere else.
It's deployment tools decision what they make default.

I'm saying that from scalability/performance perspective we are not ready to change the default for GCE.

[2018-09-13 18:14] ricktbaker opened #68631 "AWS ELB drops node out of service after a deploy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Have a service of type loadbalancer in AWS, all installed via helm.   Everything works as it should, pod comes up as in service on the ELB as expected.   Periodically when I do a helm upgrade a new pod is created and it goes out of service.   I can watch tcpdump and see the ICMP healthcheck request going to the pod, but

[2018-09-13 18:15] tpepper commented on #68613
Can we get an opinion from @kubernetes/sig-network-pr-reviews

[2018-09-13 18:16] wojtek-t commented on #68613
So far we have opinion with @bowei who seems to agree with us. But yeah - we ask for more.

[2018-09-13 18:16] pobodysnerfect commented on #60841
this issue reproduces for me as well. worth mentioning that signal forwarding works fine in the fluentd managed docker images (I tested this):

https://github.com/fluent/fluentd-docker-image

we are definitely losing logs due to this issue because the buffer can only be flushed properly if the signal is forwarded properly.
/reopen

[2018-09-13 18:26] derekwaynecarr commented on #68416
I am unable to reproduce this using systemd cgroup driver when using `derek.slice`

Given this exists currently in 1.11, we should fix this, but it should not block 1.12 milestone.

[2018-09-13 18:31] mehemken commented on #44815
+1 on @leebenson 's `append: true` option.

[2018-09-13 18:35] DirectXMan12 commented on #68383
ack, more logs would be helpful.  Currently trying to get usable logs off the CI with the aforementioned PR, but I keep making minor mistakes in the log collection script :-/.  It seems to repro every few runs though, so with any luck I'll see it again soon.

[2018-09-13 18:41] verult commented on #68509
This is due to a storage bug caused by https://github.com/kubernetes/kubernetes/pull/68426/files#diff-f52821ec6236e86b02ca334533395c91R166.

Working on a fix

/assign

[2018-09-13 18:42] verult commented on #68509
/sig storage

[2018-09-13 18:47] tpepper commented on #68613
@wojtek-t do you want to timebox the decision point?

[2018-09-13 18:52] neolit123 commented on #68613
thanks @dims

[2018-09-13 19:00] enisoc commented on #22368
We're still working on this, and the plan is still to encourage an "immutable ConfigMap" pattern for rolling out changes (e.g. put a hash of the contents in the name and don't edit in-place).

On the client side, we intend to facilitate this pattern with [kustomize ConfigMap generation](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configGeneration.md), which I believe is worki

[2018-09-13 19:05] soorena776 commented on #10323
@ruippeixotog one workaround for aws would be to create a service on kubernetes using [terraform's kubernetes provider](https://www.terraform.io/docs/providers/kubernetes/r/service.html)

[2018-09-13 19:08] willtrking commented on #34583
Just ran into this as well, running work load specific zones in 2 regions for development to save cost over 3, had an EBS volume provisioned in the zone with no instance.

[2018-09-13 19:09] johnbelamaric commented on #68613
@tpepper if we can run the single test prior to the revert / bump resources decision that would be ideal. If it's too late for that then we will have no choice but to revert (and then revert the various docs PRs too).

[2018-09-13 19:10] neolit123 commented on #68613
@chrisohaver @johnbelamaric do you have infrastructure to test the memory bumps, as it seems that the test PR is not going to be merged?

[2018-09-13 19:13] arunmk commented on #51322
/remove-lifecycle stale

[2018-09-13 19:15] metametadata commented on #19077
/remove-lifecycle stale

[2018-09-13 19:18] chrisohaver commented on #68613
@neolit123, No this is why I proposed we test via PR - it's the fastest option.  We could try to replicate the test environment.  We'd need details on specs, but I think this would take too much time to do.

[2018-09-13 19:19] thockin commented on #68613
This is a decision that sig-scale and release owners need to make together.  I think it exemplifies the fact that this is IMPORTANT and that these roles are empowered to (and expected to) make hard decisions.  There's not a fixed rule as to which group is more important.  If you can't come to a decision, then it should escalate, but I sort of feel like the escalation is happening as a shortcut.

I

[2018-09-13 19:37] tpepper commented on #68613
From the release side, release team defers to SIG subject matter experts as a rule, so I do defer to scale for this issue.  But I will say I feel we do just have time relative to release schedule, which may be slipping a few days due to other issues also in need of merge + test data anyway, to run a scale experiment and that the data would be useful if SIG Scalability wants to run that now instead

[2018-09-13 19:41] kfox1111 commented on #22368
I still think the easier way to solve it is to snapshot the configmap/secret and make it part of the lifecycle of the deployment/daemonset. IE, its owned by a particular replicaset and is created/deleted at the same time. Nothing else should reference it, so nothing should be complaining when its deleted. Garbage collection is easy as its 1:1 events with replicaset creation/deletion.

[2018-09-13 19:46] nikhita commented on #53959
Closing this since we have changelogs for apimachinery, api and client-go. If changelogs need to be added for _all_ staging repos, it deserves a new issue.

/close

[2018-09-13 19:46] #53959 closed

[2018-09-13 19:47] embano1 commented on #67703
Something to think about/ include: distinct between static/dynamic provisioning for this implementation, at least when it comes to labelling PVs.

[2018-09-13 19:47] nikhita commented on #36770
/lifecycle frozen

[2018-09-13 19:47] nikhita commented on #15863
/remove-lifecycle stale

[2018-09-13 19:49] nikhita commented on #15863
I'm going to label this as a good first issue because it involves changing the error/log messages.

/good-first-issue

[2018-09-13 19:50] nikhita commented on #36858
/remove-lifecycle rotten

[2018-09-13 19:51] nikhita commented on #36858
/cc @cblecker

[2018-09-13 19:55] rickypai commented on #22368
@enisoc thank you for the communication and elaborating the complexity of the issue. Client-side enforcement of immutability seems to be the easiest solution today. We've done the same by adding the hash of the content in the names of ConfigMaps to facilitate rollouts, but still run into the issue of dangling ConfigMaps that need to be cleaned manually. I look forward to the progress made on the s

[2018-09-13 19:55] nikhita commented on #27744
/remove-lifecycle rotten

Adding a good first issue label on this because the idea is clear. If anyone wants to work on this,

- please see https://github.com/kubernetes/kubernetes/pull/27735 and https://github.com/kubernetes/kubernetes/pull/46047 as examples on how to add the version info.
- go through all binaries and check if these exist. If they don't, add these in the glog lines.

/good-first

[2018-09-13 19:56] nikhita commented on #60937
/remove-lifecycle stale

[2018-09-13 19:58] sahitpj commented on #27744
Hey @nikhita could I take this one?

[2018-09-13 20:01] nikhita commented on #56985
/remove-lifecycle stale

[2018-09-13 20:02] nikhita commented on #55488
Removing help wanted since directions are not clear on how to reproduce.

/remove-help

[2018-09-13 20:05] nikhita commented on #55219
I'm going to add good-first-issue on this because the fix for others can follow the same directions as that of the fix for kubedns: https://github.com/kubernetes/dns/pull/163.

/remove-lifecycle stale
/good-first-issue

[2018-09-13 20:07] nikhita commented on #54697
/remove-lifecycle stale

PR open.

[2018-09-13 20:07] nikhita commented on #54228
/remove-lifecycle stale

[2018-09-13 20:08] nikhita commented on #53617
/remove-lifecycle stale

Removing help-wanted because the direction is not clear.

/remove-help

[2018-09-13 20:12] nikhita commented on #50564
/remove-lifecycle stale

I am going to label this as a good-first-issue because this involves a comment update.

If you are interested in picking up this issue, create the changes as that of https://github.com/kubernetes/kubernetes/pull/50571 (add additional details if necessary). https://github.com/kubernetes/kubernetes/pull/50571 was closed down but looks like the comment is still incorrect. Wou

[2018-09-13 20:13] nikhita commented on #49208
/remove-lifecycle stale

I don't think this qualifies for a help-wanted issue.
/remove-help

[2018-09-13 20:16] nikhita commented on #58638
/remove-lifecycle stale

Looks like there is still some discussion pending and this does not have explicit clear directions for contributors to dive into. Removing the help wanted label.
/remove-help

[2018-09-13 20:16] wojtek-t commented on #68613
@tpepper - I was thinking about that and how we can more help with that without risking too much on scalability side.
And I would like to propose some modification (though this clearly requires approval from release team).
My proposal is the following:
- we revert this PR today
- that will hopefully result in successful run from Friday`s test
- in the meantime, folks can thing what experiments may

[2018-09-13 20:17] nikhita commented on #57042
I _think_ the underlying issue should be the same, but let's keep it open until we confirm this.

Removing help because we don't have explicit directions about solving this yet.
/remove-help

[2018-09-13 20:18] fedebongio commented on #68508
/assign @roycaihw

[2018-09-13 20:19] fedebongio commented on #68524
/assign @lavalamp

[2018-09-13 20:20] tpepper commented on #68613
Yes this is veryreasonable.  It prioritizes what is also an experiment (tomorrow's scale run) to prove 1.12 release readiness in the safest path.  And then it also gives time to more deliberately plan an the best possible experiment for ~Monday-ish to see if there is an alternative path possible still for 1.12 or better set a footing to insure we get resolution on the CoreDNS issues and do so whil

[2018-09-13 20:20] nikhita commented on #67671
@tanshanshan Are you working or do you plan on working on this? If yes, could you please remove the help wanted label? Thanks!

[2018-09-13 20:26] nikhita commented on #36733
/remove-lifecycle frozen

Removing help-wanted since the directions are not clear enough for a contributor to dive into.
/remove-help

[2018-09-13 20:28] nikhita commented on #36621
Removing help-wanted since the directions are not clear enough for a contributor to dive into. Please feel free to re-add the label with more details about how to achieve each step. :)
/remove-help

[2018-09-13 20:30] nikhita commented on #35213
/remove-priority awaiting-more-evidence

Removing help-wanted since the directions are not clear enough for a contributor to dive into.
/remove-help

However, if you come across this and intend to work on this -- please by all means go ahead! :)

[2018-09-13 20:34] nikhita commented on #34059
@louislepper thanks for that PR!

I'm going to label this a good-first-issue because this involves fixing error messages.

If you are intersted to take this up, pick a few (related) e2e tests and follow the same methods as that of https://github.com/kubernetes/kubernetes/pull/67619 for improving the error messages. Please feel free to ask questions on slack if you get stuck.

/good-first-issue

[2018-09-13 20:36] nikhita commented on #32220
Looks like https://github.com/kubernetes/kubernetes/pull/61642 is not active due to age.

If anyone is interested, please feel free to work on this! Like @dims mentioned in https://github.com/kubernetes/kubernetes/pull/61642#issuecomment-378584552, a unit test along with the required changes would be good to add.

[2018-09-13 20:42] nikhita commented on #27744
@sahitpj We would love to get this fixed but would prefer if you choose one good-first-issue out of this and https://github.com/kubernetes/kubernetes/issues/68578 first. Feel free to send a PR for one issue and if the other issue hasn't been claimed yet, feel free to send a PR for that one as well. :)

[2018-09-13 20:44] nikhita commented on #4301
/remove-help

[2018-09-13 20:45] #68583 closed

[2018-09-13 20:47] nikhita commented on #7923
I'm going to add the good-first-issue label on this because this is refactoring code and the main issue body contains examples.

If you are interested in working on this, please feel free to pick any file where you find inconsistencies and start fixing it.

/good-first-issue

[2018-09-13 20:49] nikhita commented on #8976
I'm going to label this a good-first-issue because the changes are relatively easier and there is already a PR (which was closed due to age) that can be used as a reference: https://github.com/kubernetes/kubernetes/pull/55383

/good-first-issue

[2018-09-13 20:53] nikhita commented on #10322
Closing this as a dupe of https://github.com/kubernetes/kubernetes/issues/34059

/close

[2018-09-13 20:53] #10322 closed

[2018-09-13 20:55] nikhita commented on #15000
That makes sense. It's also easier to review if PRs are smaller. :)

@medzin if you (or anyone else) is still interested in working on this, small and incremental PRs are fine. :+1:

[2018-09-13 20:56] nikhita commented on #15858
Removing help-wanted as there isn't a clear direction and details on how to fix this for contributors to dive into.

/remove-help

[2018-09-13 20:57] nikhita commented on #8976
/kind cleanup

[2018-09-13 20:58] nikhita commented on #34059
/kind cleanup

[2018-09-13 20:58] nikhita commented on #27744
/kind cleanup

[2018-09-13 20:58] nikhita commented on #50564
/kind cleanup

[2018-09-13 20:59] nikhita commented on #68578
/kind bug

[2018-09-13 21:37] mkimuram commented on #68424
@wongma7  @vladimirvivien

I create PR #68635 . PTAL

Note that I separate the commit into three to make it easier to review.

Also, for issue 3, I changed the logic a little bit in order not to violate the csi's semantics.
This PR doesn't require ```NodePublishVolume``` to create symlink to staging path, instead ```GenerateMapVolumeFunc``` get ```devicePath``` by using information from ```GetPodD

[2018-09-13 21:46] johnbelamaric commented on #68613
Thanks @tpepper and @wojtek-t, that sounds like a good plan. @chrisohaver @fturib @rajansandeep we need to see what metrics we can start gathering during the test, and exactly how we want to run that experiment.

[2018-09-13 21:50] ddebroy commented on #34583
https://github.com/kubernetes/kubernetes/pull/65730 should address the above scenarios when you use set `volumeBindingMode: WaitForFirstConsumer` in the storageclass.

[2018-09-13 21:53] thockin commented on #68613
Thanks, guys.  Good answer.

[2018-09-13 21:57] dmfenton commented on #67345
Hello, has anyone been able to look at this issue yet?

[2018-09-13 22:03] verult opened #68638 "Improve dependency injection for volume plugins"
/kind cleanup

Today many of in-tree volume plugin's dependencies are injected through the VolumeHost interface, but there are several pain points:
* It's difficult to see a list of dependencies for each plugin.
* Volume plugins have to embed nil checks for their VolumeHost dependencies directly in the code path that uses them. This makes plugins more prone to bugs.
* If a particular dependency is

[2018-09-13 22:28] guineveresaenger commented on #68416
Thanks @derekwaynecarr

/priority important-soon

[2018-09-13 22:33] guineveresaenger commented on #68260
Since this is related to another issue:

/priority critical-urgent

[2018-09-13 22:51] guineveresaenger commented on #67823
@wojtek-t thanks for the update, I saw the most recent run not pass, will follow proceedings here and on Slack. 👍

[2018-09-13 23:00] #68509 closed

[2018-09-13 23:02] kfox1111 commented on #22368
Snapshotting in a way already happens in Deployment. When you change the deployment, a snapshot is made as a replicaset.  This would be similar in that when that happens, it snapshots the mentioned configmap/secrets at the same time and references them in the replicaset. It wouldn't have to 'watch' anything. it would only snapshot at the time the deployment was updated.

Triggering a new rollout a

[2018-09-13 23:09] guineveresaenger commented on #64788
@gnufied - can you please let us know of the status? At this point in the release cycle, we really do need daily updates on either the issue or an open PR, since we cannot see any work being done.

[2018-09-13 23:11] lavalamp commented on #68524
(Thanks for filing this, I got confused during our triage meeting and thought it was a PR I wanted to review :) )

[2018-09-13 23:27] makanijatin commented on #48378
I found the solution in the kubernetes documentation
while following the documentation dont forgot to create .kube directory using this command
`mkdir -p $HOME/.kube`

Because as you need this command it will move the .kube directory
`mv  $HOME/.kube $HOME/.kube.bak`

[https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/](url)

[2018-09-13 23:28] makanijatin commented on #59487
I think you dont need to do the complete reset again but only this part will solve the problem

I found the solution in the kubernetes documentation
while following the documentation dont forgot to create .kube directory using this command
mkdir -p $HOME/.kube

Because as you need this command it will move the .kube directory
mv $HOME/.kube $HOME/.kube.bak

https://kubernetes.io/docs/setup/indepen

[2018-09-13 23:59] chrisohaver commented on #68613
Ah, Yes - ironically this isn't always so simple in kubernetes.
@wojtek-t, Is any resource metric monitoring exposed/available on these test systems?

[2018-09-14 00:28] uromahn commented on #65502
Just added a reply to the comment which is actually a question. Just to make sure I reach someone who is intimately familiar with the k8s code base, I am looking for some pointer to the code where the actual container creation according to the pod spec is happening in the kubelet.

[2018-09-14 00:48] Pingan2017 opened #68643 "NodePIDPressure condition should set to unknown when node lost connnection with contorl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when the node  lost connection with master ,  using 'kubectl describe node' find the NodePIDPressure is false , no switch to unknown.
[code]
**What you expected to happen**:
`  PIDPressure       Unknown   Fri, 14 Sep 2018 05:13:09 +0800   Fri, 14 Sep 2018 05:13:53 +0800   NodeStatusUnknown

[2018-09-14 01:39] k82cn commented on #68643
/sig node

[2018-09-14 01:59] fudali113 opened #68646 "Using RBAC to create a role that limits multiple namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:
i can`t use rbac to create access multiple namespaces role

**What you expected to happen**:
i can

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e

[2018-09-14 02:08] Lion-Wei commented on #65502
@uromahn Hi, I think this is what you are looking for. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L578

[2018-09-14 02:09] shenlanse opened #68647 "[bug] kube-apiserver panic due to concurrent map read and write"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

kube-apiserver panic due to concurrent map read and write

**What you expected to happen**:

keep running stablely

**How to reproduce it (as minimally and precisely as possible)**:

don't know

**Anything else we need to know?**:

kube-apiserver panic log

[code]

**Environment**:

[code]

[code]

[2018-09-14 02:10] shenlanse commented on #68647
/sig api-machinery

[2018-09-14 02:18] CaoShuFeng commented on #68647
/assign

[2018-09-14 02:24] wjiangjay opened #68648 "Terminal size calculation is wrong when upgrade http to spdy stream protocol"
/kind bug

**What happened**:
When invoke pod/exec api with `stdin=true&stdout=true&tty=true`, the terminal resize will run to handle the terminal resize event, but according to the output log with `loglevel=8`, terminal size calculation is wrong(at least width).

[code]

**What you expected to happen**:
terminal size should be correct

[code]

**How to reproduce it (as minimally and precisely as

[2018-09-14 02:38] gnufied commented on #68479
Actually this does not affect version 1.10 onwards. Not sure if 1.9 is still supported. I think I will close this for now.

/close

[2018-09-14 02:39] CaoShuFeng commented on #68646
You may create multiple roles, and bind those roles to one user.

[2018-09-14 03:09] WanLinghao commented on #67440
@mikedanese  hello, do we have any new progress about this issue?

[2018-09-14 03:15] yue9944882 commented on #68648
/cc @adohe

[2018-09-14 03:19] u2takey opened #68650 "proposal to expose deviceplugin info"
As a user, sometimes i want to know gpuids allocated for a container. This information can be found as a container variable inside container, but it can not be achieved by inspect pod yaml.
So i propose to expose allocated deviceplugin information as prometheus metrics.
Now we can `device_plugin_registration_count` and `device_plugin_alloc_latency_microseconds`  at https://github.com/kubernetes/ku

[2018-09-14 03:44] parlakisik commented on #56173
@php-coder  is this feature merged ? can i push my code ?
what is the status about other task ?

[2018-09-14 03:48] liggitt commented on #68647
https://github.com/kubernetes/kubernetes/pull/65092 was picked to 1.9.10 to resolve this issue.

/close

[2018-09-14 03:48] #68647 closed

[2018-09-14 03:48] luckyfengyong commented on #57534
@kennethredler It is just my opinion based on the customer environments we are working with, and the problems we met and resolved.

If system cannot be configured with a default gateway, explicit routes probably should be configured for service ip range. Otherwise, user will meet the issue I mentioned above.

If there is any solution to make k8s working without configuring default gateway or expli

[2018-09-14 03:53] tpepper opened #68653 "failing test: DNS should provide DNS for ExternalName services"
pull-kubernetes-e2e-gke seems to have fallen off a cliff, eg:

https://k8s-gubernator.appspot.com/pr/68629

Or similar in a bunch of PR's today:
https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+pull-kubernetes-e2e-gke

Lots of people rolling the ```/test pull-kubernetes-e2e-gke``` dice begging for a pass.  Symptoms vary run to run so I'm calling it a
/kind flake
instead of f

[2018-09-14 03:54] tpepper commented on #68653
/sig testing
/sig gcp

[2018-09-14 03:54] tpepper commented on #68653
This is impacting merge ability for needed 1.12 release fixes so
/priority critical-urgent

[2018-09-14 03:57] cloudboss commented on #67292
I experienced the same issue as @dawidmalina, but on 1.10.7 (new cluster). Running similar ipset commands to see the output gave the same error as well. Downgrading to 1.10.6 fixed it.

I'm running kube-proxy as a daemonset configured by kubeadm, using image `k8s.gcr.io/kube-proxy-amd64:v1.10.7`, and the version of ipset in the image is `v6.30`.

[2018-09-14 04:02] tpepper commented on #68653
/assign @fejta

[2018-09-14 04:04] BenTheElder commented on #68653
looks like maybe cluster up is just super slow? the jobs are timing out at > 1 hour

[2018-09-14 04:04] BenTheElder commented on #68653
@spiffxp :/

[2018-09-14 04:06] knightXun opened #68654 "dynamic add/del routes for pods"
kubernetes pod has default routes.It meet most UE.But sometimes pods have special-nerwork environment. This means pods may require special networks configuration.Pod dns configuration is open for end-users.But pod routes is still black box for end-users.
If this is needed, I can code for this features.

[2018-09-14 04:07] knightXun commented on #68654
/sig kubelet

[2018-09-14 04:09] knightXun commented on #68654
nice ping @Random-Liu

[2018-09-14 04:11] knightXun commented on #68654
/kind feature

[2018-09-14 04:28] cloudboss commented on #67292
Correct, I watched the commands it was running by doing `wihle true; do ps -ef | grep [i]pset; done`, then tried running some of them, for example:

[code]

[2018-09-14 04:47] MikeSpreitzer opened #68658 "options.ServerRunOptions are used only in kube-apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Colleagues made an extension apiserver based on the sample.  I stressed it, and ran up against `server.Config.MaxMutatingRequestsInFlight`.  I tried to up that limit with a command line flag, then discovered that the extension server does not support the standard flag for that.  The standard support is in https://gith

[2018-09-14 04:47] MikeSpreitzer commented on #68658
@kubernetes/sig-api-machinery-feature-requests

[2018-09-14 05:03] dawidmalina commented on #67292
What else i discover is somehow related to kube-proxy pod. When I run docker container manually even on ubuntu 16.04 with privileged mode all works. When I exec to kube-proxy with same base image it will not work.

[2018-09-14 05:42] saad-ali commented on #64788
This should not be treated as a release blocker since the behavior has existed prior to 1.12. If the fix takes too long, I'm ok dropping it from 1.12.

That said, @gnufied says he'll open up fix PR for this tmr Sept 14. So will leave it in 1.12 for now.

[2018-09-14 06:16] wojtek-t commented on #59848
/lifecycle frozen
/remove-lifecycle stale

[2018-09-14 06:52] islinwb commented on #67292
@dawidmalina  @cloudboss  Let's clarify it:  the error occured when you deploy kube-proxy as _daemonset pod_ not process? Did you try `ipset add` commands on the node and/or exec into the pod?

[2018-09-14 06:54] m-no-2017 commented on #49466
I would also say that this is a reasonable feature request.

Our current usage of Kubernetes is heavily geared to development, so it would be nice to limit restarts in specific namespaces. To this day I have to write scripts as workaround, which works but everyone could have a benfit from an implemented feature.

[2018-09-14 06:59] neumanndaniel commented on #66435
PR with the fix https://github.com/Azure/azure-cli/pull/7327

[2018-09-14 07:03] Lion-Wei commented on #67292
I think https://github.com/kubernetes/kubernetes/issues/68560 is related.
Is this because ipset in debian-iptables v10.1 image might have some issue?

[2018-09-14 07:04] dawidmalina commented on #67292
Yes, we run kube-proxy as daemonset. I didn't try `ipset add` command on the node but all my test were made on the container via `docker exec`.

[2018-09-14 07:31] Lion-Wei commented on #68560
Update:
Seems like staging-k8s.gcr.io/debian-iptables-amd64:v10.1 image do have some problem, `ipset add` command will return err. Not likely to be ipset issue.
[code]

[2018-09-14 07:37] Lion-Wei commented on #68560
@rramkumar1 @ixdy Suggestions?

[2018-09-14 07:45] cofyc commented on #68391
/assign

[2018-09-14 07:45] andyzhangx commented on #68603
@cn-mayank This is a issue duplicated to https://github.com/kubernetes/kubernetes/issues/62121, it was fixed in v1.9.7, v1.10.2, v1.11.0

[2018-09-14 07:49] andyzhangx commented on #62121
This issue is fixed in v1.9.7, v1.10.2, v1.11.0

[2018-09-14 08:17] pires commented on #68416
@sreis can you help @derekwaynecarr to reproduce?
@dashpole is OOO until Monday.

[2018-09-14 08:31] andyzhangx commented on #68603
that's ok, this kind of error is not so easy to root cause.

[2018-09-14 08:38] php-coder commented on #56173
@parlakisik the code is already here (see #65135) but it's not merged yet.

[2018-09-14 08:48] ryanmcnamara commented on #60644
/remove-lifecycle rotten

[2018-09-14 08:50] minherz commented on #7923
@thockin Is there any documented decision about which way is preferred?

[2018-09-14 09:16] ash2k commented on #7923
I've done a bit of refactoring in that area - please see #45454 (fix pr is #46094). I think the Go best practice is to delegate the decision of whether to start something in a goroutine or not to the caller. Or hide concurrency by exposing a synchronously looking API (i.e. a method that blocks until all the concurrent work has been done and all goroutines exited). I think such APIs are much easier

[2018-09-14 09:33] dawidmalina commented on #68560
@Lion-Wei i don't think this is strictly related to image itself.

This is result from container (image is exactly the same and host is same):
[code]

No i will do the test within pod (kube-proxy as daemonset):
[code]

[2018-09-14 09:37] Chenditang opened #68669 "Failed to start kube-proxy with --metrics-bind-address flags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Start kube-proxy with "--metrics-bind-address=0.0.0.0:10249" return:
Error: invalid argument "0.0.0.0:10249" for "--metrics-bind-address" flag: "0.0.0.0:10249" is not a valid IP address
and with "--metrics-bind-address=0.0.0.0" return:
server.go:358] failed validate: KubeProxyConfiguration.MetricsBindAddress: Invalid value: "0.0.0.

[2018-09-14 09:45] mohammedzee1000 commented on #68359
/reopen
sorry seems to have closed somehow
@wojtek-t @AishSundar fyi

[2018-09-14 09:47] shyamjvs commented on #68359
@mohammedzee1000 Sorry, could you clarify? I see the last 2 runs of this job passed - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

[2018-09-14 09:52] shubheksha commented on #68669
/sig network

[2018-09-14 09:54] mohammedzee1000 commented on #68359
@shyamjvs sorry misworded. Meant to say might fail. Want to watch 1-2 more stabe runs before closing

[2018-09-14 10:00] printfcoder opened #68671 "init error: "kubelet cannot pull or find the following control plane images""
**What happened**:

[code]
**My images: **:

[code]

- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):

[code]

[2018-09-14 10:07] yue9944882 commented on #68658
/cc

[2018-09-14 10:10] shyamjvs commented on #67670
@guineveresaenger We already have results (more than once) after that issue's fix went in and we know it fixed the problem with taint-controller. We now have 2 latest runs (211 and 212) with density test passing - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance

And for load test we understand the cause of the failures and it is being tracked under this release-blocking

[2018-09-14 10:10] #67670 closed

[2018-09-14 10:13] printfcoder commented on #68671
/sig init

[2018-09-14 10:15] SkeLLLa commented on #65112
Please provide link to docs where it's described and possible with different examples.

[2018-09-14 10:19] shyamjvs commented on #68613
So we have the revert merged and the CI tests are running against it currently.
Now for the remainder of the plan, we (sig-scalability) are happy to discuss / help with scale-testing any potential fixes to core-dns.

[2018-09-14 11:04] Cherishty opened #68672 "performance issue during k8s starting a pod container"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

/kind bug

**What happened**:
When I start a simple nginx pod by kubectl create, k8s always spend _10 second_ to "Created" a container after "SuccessfulMountVolume", how can it be **SO** slow ? What happen during this period?
**What you expected to happen**:
Start a pod in 5 second after mounted successfully
**How to reproduce it (as minimally and

[2018-09-14 11:10] wojtek-t commented on #68359
This is running once per week now - you really want to wait two more weeks?

We know what the problem was and we know it is now fixed (also based on other runs).
This really can be closed.

[2018-09-14 11:11] wojtek-t commented on #68359
What I'm saying is that those are scalability tests - we have a number of suites and the problem appeared in others. And it is fixed into those others too.
There is no need to keep it open.

[2018-09-14 11:12] Cherishty commented on #68672
/sig performance

[2018-09-14 12:30] cloudboss commented on #67292
I'm also running kube-proxy as a daemonset and I ran all commands inside the container, not the node.

[2018-09-14 12:48] chrisohaver commented on #68613
Thanks, a [comment](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/resource_usage_gatherer.go#L231) in `resource_usage_gatherer.go` says that all pods in `kube-system` are tracked if a podList is not provided.  Since dns pods reside in the `kube-system` namespace, does this mean they are tracked?  Or are the scale tests limiting tracking to a specific podList?

[2018-09-14 13:08] rosti commented on #27744
@sahitpj @tanshanshan please, sync up together, since your PRs are overlapping from kubeadm's perspective :)

[2018-09-14 13:16] shyamjvs commented on #68359
+1
I too think there's not much point keeping this open even after couple of green runs, given the nature of this job.

[2018-09-14 13:41] gnufied commented on #68479
I just noticed that 1.9 is still supported and hence it is probably worth fixing there for now.

[2018-09-14 14:08] derekwaynecarr commented on #68416
@sreis i just ran out of time to validate this with alternate driver (had assumed it would have happened with both), but it appears localized to one.

[2018-09-14 14:13] chrisohaver commented on #68613
@shyamjvs, @wojtek-t As a sanity check, what does `/etc/resolv.conf` contain on the test nodes (assuming `kubelet` uses the default `/etc/resolv.conf`, and not an alternate file)?  A cause of OOM kills we have seen in the field is due to an upstream lookup loop (re: `systemd-resolved`).  Unlikely this is the case here, but if you can check it, I can exclude that possibility. Thanks!

[2018-09-14 14:19] wojtek-t commented on #68613
I can't remember from the top of my head.
You can take a look how we initialize it (it should be somewhere in test/e2e/framework or sth like that).
Or maybe @shyamjvs remembers it?

[2018-09-14 14:24] msau42 opened #68675 "E2E diffResources: dynamically provisioned disks are leaking"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/29792

[code]

[2018-09-14 14:28] msau42 commented on #68314
I see the these particular tests passing now, although I noticed other upgrade jobs are not using updated tags.

/close

[2018-09-14 14:29] #68314 closed

[2018-09-14 14:37] straffalli commented on #67900
I can confirm that node gets removed on shutdown in version 1.11.3. And disk attachement also remains on the poweredOff node.

[2018-09-14 14:38] nsidhaye commented on #23726
I am getting above error

[code]

Getting same error while using `kubectl get pods --all-namespaces`

[2018-09-14 14:42] msau42 commented on #68479
How come the check can "sometimes" use invalid device path?

[2018-09-14 14:49] mlbiam opened #68677 "CSR API doesn't allow "NEW CERTIFICATE REQUEST" PEM blocks"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

when submitting the below CSR to k8s for signing (generated by the Java keytool) :

[code]

k8s rejects the request with the error message: `The CertificateSigningRequest "openunison.openunison.svc.cluster.local" is invalid: spec.request: Invalid value: []byte{0x2d,...}: PEM block type must be CERTIFICATE REQUEST`

*

[2018-09-14 14:58] liggitt commented on #68677
There's actually no standard for PEM headers for this (c.f.
https://stackoverflow.com/a/29725273/54696), but if "NEW CERTIFICATE REQUEST" is a known alternate representation (openssl indicates it is the old PEM header for CSRs), I don't mind allowing it.

/cc @mikedanese

[2018-09-14 15:06] gnufied commented on #67900
Okay, so I think this bug affects 1.9, 1.10 and 1.11 versions. The key thing is -  nothing would detach volumes from these nodes.

@SandeepPissay @divyenpatel I proposed this offline as well. But - will the solution of using `FindVmByPath` work? If node api object is no longer present in `DetachDisk` call, we would use node name and folder/path to find the VM as a fallback by iterating through all

[2018-09-14 15:12] gnufied commented on #68479
@msau42 So on Cinder for example - `Attach` call would return something like `/dev/sdb` as attach device path. But if you see the linked PR(https://github.com/kubernetes/kubernetes/pull/33270), `WaitForAttach` will do a `/dev/disk/by-id` and use that device path for global mount.  In general it is always a good idea to use device path returned by `WaitForAttach` as single source of truth.

This ap

[2018-09-14 15:16] krmayankk commented on #4301
I plan to start working on this in a week

[2018-09-14 15:19] harishanchu commented on #40651
I just added a init container to write server id to /data/myid file like below(where /data directory is volume mounted to both init and main container):
[code]
With this zookeeper ensemble works fine.

[2018-09-14 15:26] denkensk commented on #68453
@Huang-Wei   Have you began to do it?  If not, Can I take it for my first-contribute? thx

[2018-09-14 15:29] msau42 commented on #68479
You said the issue only happens "sometimes".  Can you clarify why it only happens occasionally?

[2018-09-14 15:38] gnufied commented on #68479
@msau42 doesn't the linked PR https://github.com/kubernetes/kubernetes/pull/33270 make it clear?

detection based on the drive serial number (aka It's cinder ID) on the
kubelet itself.

As for why - Cinder sometimes returns wrong device path on `AttachDevice` call, I don't know. But it happens and we have worked around it.

[2018-09-14 15:41] sreis commented on #68416
@derekwaynecarr Nevertheless it's a good datapoint, it means it's only affecting cgroupfs driver.

Regarding your question, the cgroup-root flag was the cleanest way we could find to have the kubelet respect the Mesos cgroup setup.

Lmk if I can help you with anything.

[2018-09-14 15:47] dlespiau opened #68679 "Add go profile instrumentation to kubectl"
We've had some slowness talking to an API server from a certain host (18s vs 3s!) and the verbose logs, eg. `-v9`, weren't enough to debug what taking time. Fortunately golang offers nice profiling features and one can output various profiles (in this case I was interested in the `block` profile!), enabling to see more insight in what is taking time.

For instance, one can clearly see the effect o

[2018-09-14 15:49] dlespiau commented on #68679
/sig cli
/kind feature

[2018-09-14 16:04] DirectXMan12 commented on #68383
Got a WIP fix up: https://github.com/kubernetes-incubator/metrics-server/pull/138.  Need to do one more tweak before merge.

[2018-09-14 16:04] MPV commented on #45779
I'm getting this issue too using the `incubator/etcd` chart (`v0.4.1`):
https://github.com/helm/charts/tree/master/incubator/etcd

I've checked:
✅ Service is headless: has [`clusterIP: None`](https://github.com/helm/charts/blob/dc67b78/incubator/etcd/templates/service.yaml#L19).
✅ Service [`spec.selector`](https://github.com/helm/charts/blob/dc67b78/incubator/etcd/templates/service.yaml#L20-L22) m

[2018-09-14 16:06] parlakisik commented on #56173
thats great . thanks.

[2018-09-14 16:09] jnicholls commented on #45779
@MPV The `metadata.name` of the headless service also needs to match the `spec.serviceName` of the StatefulSet.

[2018-09-14 16:14] MPV commented on #45779
@jnicholls Thanks.

Yep, as you noticed:
✅ The Service [`metadata.name`](https://github.com/helm/charts/blob/dc67b78/incubator/etcd/templates/service.yaml#L7) matches the StatefulSet [`spec.serviceName`](https://github.com/helm/charts/blob/dc67b785bfd7608515c6e494d99c147d9860b04b/incubator/etcd/templates/statefulset.yaml#L11).

[2018-09-14 16:48] mohammedzee1000 commented on #68359
ok, if we are in agreement then, closing
/close

[2018-09-14 16:48] #68359 closed

[2018-09-14 16:55] #58286 closed

[2018-09-14 16:55] #62426 closed

[2018-09-14 16:55] #62480 closed

[2018-09-14 16:56] kargakis commented on #44370
Unfortunately this dependency between storage classes and PVCs breaks the resource model of Kubernetes where everything converges after a while. I don't know whether there are any backwards-compatibility concerns but a controller that sets the default storage class in PVCs that do not use it sounds good to me.

/remove-lifecycle stale

[2018-09-14 16:58] wallnerryan commented on #45746
+1

[2018-09-14 17:02] msau42 commented on #44370
Backfilling PVCs that have long existed before the default storageclass logic was added also breaks backwards compatibility.

[2018-09-14 17:05] kargakis commented on #44370
Does it also break for unbound PVCs?

[2018-09-14 17:15] bowei commented on #32749
/lifecycle frozen
@prameshj can we link to a more current issue and close this one?

[2018-09-14 17:20] danielsreichenbach commented on #66300
From the real world side of things: please keep repositories specific to supported OS releases. ´kubernetes-releasename´ gives a clear route to users.

Having a kubernetes-xenial and a kubernetes-bionic is the same as kubernetes-jessie plus kubernetes-stretch. While that _may_ have zero differences in terms of package content, it makes a clear statement as to:

- we have a clear upgrade path from

[2018-09-14 17:29] DirectXMan12 commented on #68383
Re-running tests with the above PR, if they succeed I'll merge and get someone to do a build when the people capable of running builds are on next.

[2018-09-14 17:32] ObviousDWest commented on #33664
I am puzzled by the reluctance to accept use of tagged images as a good practice. If they are such a bad choice, why support their use in k8s at all? Answer: because they are useful and easy to understand. Given people find them useful and easy, why not provide a little better support for them? The big objection seems to be: but you can't tell what image was even used! So, why not expose that imag

[2018-09-14 17:37] Huang-Wei commented on #68453
@denkensk I'm working on it :)

[2018-09-14 17:41] 2rs2ts commented on #57212
NLBs don't have security groups

[2018-09-14 17:49] dims commented on #33664
long-term-issue (note to myself)

[2018-09-14 17:50] msau42 commented on #44370
Unbound PVCs should be safe to backfill

[2018-09-14 17:55] aba182 commented on #30961
Those who find themselves with this I hit same error due to a rouge colon. Basically you busted your config and system can't tell what is actually wrong.

[2018-09-14 17:58] micahhausler commented on #57212
/remove-lifecycle stale

[2018-09-14 17:59] 2rs2ts opened #68684 "Make more than one Security Group for the AWS ELB to accommodate more than 50 loadBalancerSourceRanges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I created a LoadBalancer Service with a list of loadBalancerSourceRanges, with 100 elements in it. The ELB could not be created because there is a limit of 50 security group rules per security group. Here is a snippet from the kube-controller-manager logs.

[code]

**What you expected to happen**: I expected that kube-con

[2018-09-14 18:01] 2rs2ts commented on #68684
/sig aws-bugs

[2018-09-14 18:03] 2rs2ts commented on #68684
@kubernetes/sig-aws-bugs

[2018-09-14 18:03] 2rs2ts commented on #68684
weird, the /sig command didn't work.

[2018-09-14 18:05] 2rs2ts commented on #57212
If you wanted to accomplish this with the NLB k8s would have to manipulate the security groups of the nodes themselves.

[2018-09-14 18:06] 2rs2ts commented on #52865
@nikhita it's been a long time since I filed this but isn't

clear enough?

[2018-09-14 18:08] raravena80 opened #68685 "Certficate Manager not taking `-----BEGIN NEW CERTIFICATE REQUEST-----` pem files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Kubernetes certificate manager doesn't like the format of your CSR header:

`-----BEGIN NEW CERTIFICATE REQUEST-----` nor the ending
`-----END NEW CERTIFICATE REQUEST-----`.

 it does like:

`-----BEGIN CERTIFICATE REQUEST-----` and
`-----END CERTIFICATE REQUEST-----`

**What you expected to happen**:

**How to reproduc

[2018-09-14 18:08] raravena80 commented on #68685
/sig auth

[2018-09-14 18:09] tpepper commented on #68653
/cc @sebastienvas

imho the underlying symptom on this is very similar to the seemingly random failures across testgrid

[2018-09-14 18:10] smarterclayton opened #68686 "Kubelet does not launch static pods while waiting for bootstrapping"
The kubelet currently blocks trying to attempt to get a bootstrap client before it starts its worker loops for running static pods, which means a static pod that provides functionality on a node that bootstrapping may need (talking to an HSM, calling out externally, providing a plugin for bootstrapping, or even running a control plane pod) is blocked.  There is no actual functionality in the Kubel

[2018-09-14 18:11] smarterclayton commented on #68686
I will take a first pass as how difficult this is to do safely and correctly, and look at improving the tests around this code as well.

[2018-09-14 18:12] micahhausler commented on #57212
That is what the controller does right now

[2018-09-14 18:26] 2rs2ts commented on #57212
Do you mean that's how it handles the classic ELB LoadBalancer Service types? Because it changes the rules on the SGs on the ELB for that. Or do you mean something else? (Forgive my ignorance, I'm merely trying to be helpful)

[2018-09-14 18:28] davidz627 commented on #68486
/reopen

CI runs still leaking resources: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-regional/9921

Work items:
1) Augment test disk creation name/description to contain the name of the test to track down leaks better
1) Determine source of leak

[2018-09-14 18:30] micahhausler commented on #57212
You are right, NLBs do not have Security Groups. The current NLB controller opens up the nodePort on the nodes' security group to `0.0.0.0/0` in order to allow traffic. When a user defines `loadBalancerSourceRanges`, it should respect the IP CIDRs they specify.

Classic ELBs do have security groups, that is not covered in this issue.

[2018-09-14 18:31] 2rs2ts commented on #57212
gotcha, thanks, sorry for the distraction

[2018-09-14 18:35] johnSchnake opened #68687 "Inconsistent SSH key handling in e2e tests based on provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to run e2e test which requires an ssh key; the ability to set the key on the pod is handled differently on different providers. In AWS you can set an env var for where the file is (whole filepath), in vsphere and local you can specify a key file name but it is always relative to `~/.ssh` (which I don't want to moun

[2018-09-14 18:36] calder commented on #45419
Same issue seen repeatedly in another bare-metal environment. Versions for the most recent hit:

* **OS:** Ubuntu 16.040.5 LTS
* **Kernel:** Linux 4.4.0-134-generic
* **Kubernetes:**
  * **Flapping host:** v1.10.3
  * **Masters:** v1.10.5 and v1.10.2
* **Docker on flapping host:** 18.03.1-ce (compiled with go1.9.5)

[2018-09-14 18:39] johnSchnake commented on #68687
@kubernetes/sig-testing

[2018-09-14 18:39] davidz627 commented on #68486
/close
reopening reason is a dup of #68675
and is a different issue from this issue which has been solved

[2018-09-14 18:39] #68486 closed

[2018-09-14 18:44] saad-ali opened #68688 "CSI `NodeGetId(...)` call should be supported until CSI v1.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CSI Plugin calls `GetNodeInfo(...)` to get node ID information (see https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L139). If that call is not implemented by driver, registration with kubelet will fail.

**What you expected to happen**:
Per CSI Spec, the deprecated `GetNodeId(...)` call s

[2018-09-14 18:47] saad-ali commented on #68688
@xing-yang please verify this is the issue you hit. Specifically see if you can find `fmt.Errorf("error during CSI NodeGetInfo() call: %v", err)` in your kubelet logs.

[2018-09-14 18:47] nikhita commented on #52865
@2rs2ts Sorry, I should have added more details.

The intent and the idea behind it is definitely clear. :+1:

However, since issues labelled as `help wanted` are for new contributors, we also require that details about _how_ the change be made be included in the issue. Example: what files should be changed, what part of code to modify, etc.

More details about help-wanted labels here: https://git

[2018-09-14 18:48] saad-ali commented on #68688
CC @hoegaarden who volunteered to take a look

[2018-09-14 18:55] pnovotnak commented on #45419
The cause is known.

Upstream fix is happening here:
https://github.com/containernetworking/cni/pull/568

Next step is to update cni used by kubernetes if someone wants to jump in
and prepare that pr. You'll probably want to coordinate with @liucimin or I
to avoid stepping on toes.

On Fri, Sep 14, 2018, 11:38 AM Calder Coalson <notifications@github.com>
wrote:

[2018-09-14 19:04] Huang-Wei commented on #66526
Close this as all items have been completed.

[2018-09-14 19:04] #66526 closed

[2018-09-14 19:08] tpepper commented on #68675
/cc @AishSundar
this is the symptom you said had an internal fix coming by end of week (ie: today)?

[2018-09-14 19:30] jlk commented on #33664
@kondaurovDev [Keel](https://keel.sh/) might make more sense for k8s, altho I do like watchtower for stand-alone docker...

[2018-09-14 19:40] wenjiaswe opened #68690 "rewrite finalURLTemplate to be more robust"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Because of the urgent of fixing #68115 within code freeze for release 1.12, "Rewrite finalURLTemplate used only for metrics because of dynamic client change #68530" fixed it in a hacky way by parsing request string. This approach is OK for now considering the time sensitivity and it only affects metrics for now, but it 's

[2018-09-14 19:54] arafatmohammed commented on #36222
This issue corrupted my **aws-auth** configMap that authenticates my user to access the EKS cluster and now I am locked out of my EKS cluster.

[2018-09-14 20:02] wongma7 commented on #44370
I do not like filling it in either. I think this can be solved adequately with better communication. What if the admission controller wrote an event on the PVC like "the DefaultStorageClass plugin is on but no default storage class yet exists, no storage class has been set" (I am not sure if it is allowed to write events...but obviously it is allowed to write to the PVC spec.)

I think, for people

[2018-09-14 20:08] msau42 commented on #68675
No this is purely oss

[2018-09-14 20:08] jgschmitz commented on #65575
For me<br>
kubectl get pods returns <br>
No resources found.<br>
but kubectl get pods --namespace kube-system works
kubectl get pods --namespace kube-system
NAME                                  READY     STATUS             RESTARTS   AGE
coredns-78fcdf6894-4m6zx              1/1       Running            0          4h
coredns-78fcdf6894-s7zv7              1/1       Running            0          4h

[2018-09-14 20:10] stp-ip commented on #32749
I don't think there is a more recent one yet, but it might have slipped through my notifications.

@jakexks and me might take a stab at benchmarking the various ideas around DNS setups including running a daemonset as cache. Most likely using Coredns to be able to control both client and server and therefore the protocol etc.

[2018-09-14 20:26] sebastienvas commented on #68675
cc @sebastienvas

[2018-09-14 20:27] blakebarnett commented on #32749
I haven't had a chance to clean this up and make it configurable, but here's a patch that lets a DaemonSet run with node-local resolution:

[code]

[2018-09-14 20:27] kennethredler commented on #57534
Thanks for clarifying, @luckyfengyong . From my perspective/experience leveraging explicit service cidr routes is a viable solution. I hope it remains a viable solution in the absence of default gateway.

[2018-09-14 20:27] xing-yang commented on #68688
@saad-ali I don't see "error during CSI NodeGetInfo" in my kubelet logs.  I don't see glog.Infof(log("Register new plugin with name: %s at endpoint: %s", pluginName, endpoint)) so it seems that RegisterPlugin is not called.

I do see a message: "Plugin Watcher Start at /var/lib/kubelet/plugins".  I don't know why RegisterPlugin is not called.  I'll continue to check.

[2018-09-14 20:41] prameshj commented on #32749
#45363 seems to be a newer issue.

[2018-09-14 20:45] blakebarnett commented on #32749
oops, thought this was the related kops issue, deleted my patch comment.

[2018-09-14 20:46] bowei commented on #32749
Let's merge the discussion on to issue #45363

/close

[2018-09-14 20:46] #32749 closed

[2018-09-14 20:55] bowei commented on #26707
Let's merge the discussion on to issue #45363

/close

[2018-09-14 20:55] #26707 closed

[2018-09-14 21:12] krzyzacy commented on #68653
looks like it's down to a single `[sig-network] DNS should provide DNS for ExternalName services` failure?

cc @MrHohn @bowei any clue here?
/sig networking

[2018-09-14 21:30] gnufied opened #68692 "bind mounts don't copy _netdev mount option"
Problem:

If a node has RBD volumes mounted and you reboot or shutdown the node, the node may forever be stuck on trying to unmount the volumes because by default network is brought down before volumes could be unmounted. We want these volumes to be unmounted before network is shutdown.

A workaround for this is, to use `_netdev` mount option, which instructs systemd to create dependncy between mo

[2018-09-14 21:36] tpepper commented on #68653
That one has been consistently passing here:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce
so at least confidence inspiring that in itself it's not a core problem that should block release.

[2018-09-14 22:00] #58363 closed

[2018-09-14 22:00] #62238 closed

[2018-09-14 22:31] MrHohn commented on #68653
Looking, the last succeeded run on that DNS test was at 2018-09-10 20:34 PDT (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/31516).

[2018-09-14 22:41] MrHohn commented on #68653
Confirmed kube-dns pods were running and ready during test failure ([build log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/68629/pull-kubernetes-e2e-gke/2547/?log#log)):
[code]

[2018-09-14 22:44] mingfang commented on #51407
@chakri-nelluri The detach doc is still wrong

[2018-09-14 22:47] MrHohn commented on #68653
Found many of these entries in kube-dns logs (sidecar):
[code]
Will keep looking.

[2018-09-14 22:59] MrHohn commented on #68653
Unfortunately no other outstanding finding in logs. I'm spinning up a new dev cluster for reproduce.

[2018-09-14 23:08] paphillon commented on #67119
@thanethomson +1, Same experience. I was never able to stabilize Glusterfs pods, the memory consumption kept on increasing even though there were just 3 volumes with barely any data and will eventually get oom. Recovery was another problem.

Moved Glusterfs as regular rpm install on the nodes and things are stable from past few months, but still not ready for prime time.

[2018-09-14 23:10] PatrickLang commented on #65016
/remove-lifecycle stale

This is still active and in review #67435

It's a must fix for DNS conformance tests:

- [sig-network] DNS  should provide DNS for services   [Conformance]
- [sig-network] DNS should provide DNS for the cluster   [Conformance]

[2018-09-14 23:35] adysart78 commented on #37005
@andyzhangx Has this change made it into any release yet? I can't seem to find it... Or was the issue resolved in some other way? I'm facing the issue you originally reported, i.e. using a pod volume to an azureFile, and it always mounting with file_mode and dir_mode of 0755... and I need it to be 0777.  Is there a workaround?  TIA.

[2018-09-15 00:00] MrHohn commented on #68653
I was able to reproduce the same issue. Turned out the test pod created  for querying DNS record keeps crash looping during test:
[code]

I noticed the same pattern from [this PR run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/68629/pull-kubernetes-e2e-gke/2547/?log#log) as well:
[code]
Checked on [the kubelet logs](https://storage.googleapis.com/kubernetes-jenkins/pr

[2018-09-15 00:01] saad-ali commented on #64788
PR is approved and awaiting merge: https://github.com/kubernetes/kubernetes/pull/68691

[2018-09-15 00:02] #64788 closed

[2018-09-15 00:02] #16863 closed

[2018-09-15 00:03] saad-ali commented on #68490
PR for this is in review: https://github.com/kubernetes/kubernetes/pull/68579

[2018-09-15 00:04] saad-ali commented on #68260
Fix for this will be part of PR https://github.com/kubernetes/kubernetes/pull/68579

[2018-09-15 00:08] andyzhangx commented on #37005
@adysart78 azure file mountOptions feature is available from v1.8.5, here is the example : https://github.com/andyzhangx/demo/blob/master/linux/azurefile/azurefile-mountoptions.md

[2018-09-15 00:16] bsalamat commented on #68101
@Huang-Wei You are right, #68173 cannot be directly cherrypicked into 1.11. We need to develop another fix for 1.11.

[2018-09-15 00:28] qzyse2017 commented on #68672
/sig node

[2018-09-15 00:28] xing-yang commented on #68688
Here's an update.  I implemented NodeGetInfo.

I followed documentation about the Kubelet Plugin Watcher: https://kubernetes-csi.github.io/docs/Setup.html#kubelet-plugin-watcher to get my plugin registered.

After that I don’t see the “driver name csi-opensdsplugin not found in the list of registred CSI drivers” any more. I see that now RegisterPlugin gets called and I see the following message in

[2018-09-15 00:50] bsalamat opened #68701 "Support inter-Pod affinity to one or more Pods"
In the current implementation of inter-Pod affinity, the scheduler looks for a single existing pod that can satisfy all the terms of inter-pod affinity of an incoming pod.
With the recent changes made to the implementation of inter-Pod affinity, we can now support multiple pods satisfying inter-pod affinity. One of the main reasons we didn't pursue the idea before was the fact that the inter-pod a

[2018-09-15 00:55] bsalamat commented on #68701
It is worth noting that this will apply only to inter-pod affinity, not inter-pod anti-affinity. Inter-pod anti-affinity is considered "violated" if there a pod that matches ANY terms of the anti-affinity. So, matching against a group of Pods does not make sense for anti-affinity.

[2018-09-15 01:08] #68675 closed

[2018-09-15 01:09] am7489 commented on #63396
I am having the same issue. Has anyone found out what their problem was?  Not finding any apparent errors in logs. My docker image works locally deployed but on kubernetes the Spring Boot app won't fully start.

[2018-09-15 01:13] Huang-Wei commented on #68701
@bsalamat I have a full picture on affinity/anti-affinity code after delivering #68173. I'm more than happy to help on this :)

/assign

[2018-09-15 01:39] islinwb commented on #67292
Since this issue's for `ipset create` problem not `ipset add` and the causes are different, I'll create a new issuse.

[2018-09-15 02:01] islinwb opened #68703 "ipset add entries failed inside kube-proxy-amd64:v1.10.7"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
failed to use `ipset add` to add entries inside kube-proxy-amd64:v1.10.7 (as @cloudboss described: https://github.com/kubernetes/kubernetes/issues/67292#issuecomment-421223703)
[code]
Tested on 1.10.* and 1.11.*.
original threads: https://github.com/kubernetes/kubernetes/issues/67292#issuecomment-419744979 and comments after

**What

[2018-09-15 02:24] oomichi opened #68704 "e2e test "[sig-network] Network [It] should set TCP CLOSE_WAIT timeout" failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

e2e test "[sig-network] Network [It] should set TCP CLOSE_WAIT timeout" failed like:
[code]

**What you expected to happen**:

The test can run successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Just kick the following command:
[code]

**Environment**:
- Kubernetes version (use `kubectl ver

[2018-09-15 02:35] scm-ns opened #68705 "Nodes stuck on 100% cpu usage, making all the pods unresponsive."
**Is this a BUG REPORT or FEATURE REQUEST?**:

Serious Bug

**What happened**:
   Some of the nodes in my cluster reach 100% cpu usage and get stuck there. This has happened multiple times with different clusters that I have setup. It seems to be random, I let it run for the night and in the morning some nodes will be stuck at 100% cpu usage. Restarting the node and rejoining the cluster fixes the

[2018-09-15 03:14] neolit123 commented on #68704
/sig network
/kind failing-test

[2018-09-15 03:17] neolit123 commented on #68671
@printfcoder
hi, please try passing `--kubernetes-version=1.11.3` to `kubeadm init .... `

if this doesn't work for you, please re-open the issue.
this is fixed in `1.12.0` which will be released 25th september.

/sig cluster-lifecycle
/close

[2018-09-15 05:51] Huang-Wei commented on #68453
/remove-help

[2018-09-15 07:31] printfcoder commented on #68671
@neolit123
Thks for your replication.
Certainly the kb version I used was 1.11.3. Now, I pass the version `--kubernetes-version=1.11.3` explicitly.

[code]

So, the error is still here.

[2018-09-15 07:40] waleedkhan91 commented on #33881
@errordeveloper Just want to add this. For those facing the same issue in Kubernetes v1.11.1, You just need to change clusterDNS entry in /var/lib/kubelet/config.yaml. Also note that this change should be done on master as well as all worker nodes. Cheers!!!

[2018-09-15 11:01] straydata commented on #68298
Interestingly, the error text implies that this is already supported:

[code]

Yet when you try to use it, it declares `unknown flag: --all`

Would really like the wait functionality given some much needed TLC. Still no way to determine what conditions are supported for various resources (eg. I can say `--for condition=potato` and it just waits for the timeout like that resource might actually pot

[2018-09-15 11:29] jmcmeek commented on #67913
@caesarxuchao This appears to have fixed a related issue I saw in 1.11.2 - https://github.com/kubernetes/kubernetes/issues/67659.  I do not see that in 1.12 beta.1.

What I have read suggests that the PR should fix this issue.  We're awaiting the cherry picks to earlier releases to confirm that.

[2018-09-15 12:14] #62386 closed

[2018-09-15 12:26] JeanMertz commented on #32457
I don't know if this was fixed, but it appears I can't freeze the issue anymore, and unfortunately it hasn't gotten any attention from the tagged teams, so I'm going to let this go stale and auto-close.

[2018-09-15 13:05] neolit123 commented on #68671
@printfcoder
can your try pre-pulling the images:
`kubeadm config images list --kubernetes-version=1.11.3`
`kubeadm config images pull --kubernetes-version=1.11.3`

but it could be a different error.

[2018-09-15 13:15] #62779 closed

[2018-09-15 13:32] luckyfengyong commented on #57534
@kennethredler Yes.

[2018-09-15 15:06] jsenon commented on #57280
I've made this tool, if somebody is interested https://github.com/jsenon/api-cni-cleanup

[2018-09-15 15:17] #62785 closed

[2018-09-15 16:18] #58079 closed

[2018-09-15 18:15] zhaoyibeijing opened #68711 "how to create default token"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I accidentally deleted the default-token under namespace=kube-system, and the system did not automatically recreate it. How can I recreate the token? Kubeadm does not seem to specify namespace when it is created.

**What you expected to happen**:
recreate the dafault-token under kube-system

**How to reproduce it (as minimally and p

[2018-09-15 19:31] fudali113 commented on #68646
@liggitt but i just want use one token

[2018-09-15 19:33] liggitt commented on #68646
A single credential identifies a single user, which can be granted roles in multiple namespaces, via a rolebinding in each namespace

[2018-09-15 19:55] cjbottaro commented on #66750
Please, PLEASE, yes. I lost a lot of data (albeit in testing/staging) due to this.

It's such a scary thought that we don't even allow `kops delete cluster` anymore, instead we force our admins to go through a shim which changes the labels prior to issuing the command.

Snapshots are not enough; data is still lost between the last snapshot and the loss of the volume.

We maintain a Cassandra clust

[2018-09-15 19:55] smarterclayton opened #68712 "API docs for job status should clearly explain what fields indicate success or failure"
The API docs for jobs are unclear as to what fields a caller would use to determine job success or failure in 1.11 (and we haven't updated them in a while)

[code]

[code]

A casual reader would infer that completionTime is set when the job fails (but it isn't).  Linking out to the docs is ok, but I shouldn't have to click through the links to understand how to use the Job object.  The Job descrip

[2018-09-15 19:58] smarterclayton commented on #68712
@soltysh as a consumer of the API, I had to read way too much to know how to use jobs correctly and how to write an API client that properly handled the conditions.

Also, we should consider either setting completionTime on failures, or adding failedTime (the former may not be forwards compatible), because reading the conditions is too complex for a fundamental use case like this.  This matches ou

[2018-09-15 20:00] smarterclayton commented on #68712
Also... our docs don't actually explain how to determine the job is complete via the API, so there's arguably no place this is captured.

[2018-09-15 22:19] ephracis opened #68713 "Upgrading to v1.11 from v1.10 causes errors with cgroup parent name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I am running kubelet inside a system container on RHEL Atomic Host 7.5 (latest version). Using v1.10.8 of the go binary works fine. Changing to v1.11.3 causes it to fail with the following error when trying to create static pod:

**What you expected to happen**:

I expect kubelet to create containers.

**How to reproduce

[2018-09-16 00:11] qzyse2017 commented on #68672
/assign

[2018-09-16 00:26] #62816 closed

[2018-09-16 02:28] #62576 closed

[2018-09-16 03:27] craigbox commented on #15675
/remove-lifecycle stale

[2018-09-16 05:31] #57145 closed

[2018-09-16 06:32] #62831 closed

[2018-09-16 07:51] tossmilestone commented on #68713
/sig node

[2018-09-16 08:34] k82cn commented on #68672
@qzyse2017  Can you help to show Pod's status? It will give some guidance on which phase consume most .

[2018-09-16 11:37] #58494 closed

[2018-09-16 11:37] #62840 closed

[2018-09-16 13:48] ahmad-diaa commented on #68357
interested.

[2018-09-16 15:39] xing-yang commented on #68688
Did more investigation on this.  Here's an update.

I set the following feature gate to true on my local cluster:
alpha: CSICRDAutoInstall
CSISkipAttach
CSIPodInfo

I got some new errors in kubelet.log and kube-controller-manager.log:

I0916 07:22:06.001084   11879 reflector.go:169] Listing and watching *v1alpha1.CSIDriver from k8s.io/csi-api/pkg/client/informers/externalversions/factory.go:117
E0

[2018-09-16 15:40] #63155 closed

[2018-09-16 16:06] yue9944882 opened #68716 "Garbage files cannot be completely pruned after running local-up-cluster.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

After running `local-up-cluster.sh` (on master branch), a new file named `kube-dns.yaml-e` left as a surprise. and the file is not matched by git ignore so it's tracked by git which is really disturbing. I tried to find out where it's created but failed. Any one has a context w/ it?

[code]

**Environment**:

- OS (e.g. from /etc/os-release

[2018-09-16 16:07] yue9944882 commented on #68716
/sig instrumental

[2018-09-16 17:31] fabiand commented on #55708
/remove-lifecycle stale

[2018-09-16 18:03] bgrant0607 commented on #62197
cc @apelisse

[2018-09-16 19:01] fabiand commented on #59110
/remove-lifecycle stale

[2018-09-16 20:13] rezroo opened #68717 "dropping all capabilities breaks cni-plugin in v1.11.1 (it worked in v1.9.3)"
/kind bug
/sig node

**What happened**:
I have a similar issue to [Calico RBAC missing permissions #2063](https://github.com/projectcalico/calico/issues/2063), but using standard kubeadm installation and calico installation. The problem shows up in v1.11.1 but is not there in v1.9.3.

When I enable podsecuritypolicy on the cluster, pods I create remain in ContainerCreating. I was able to fix this

[2018-09-16 20:41] paphillon opened #68718 "Azure cloud provider zone support labels missing for vmss workers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Kubernetes cluster setup on Azure with vmss worker pool using Azure cloud provider.  The node labels set by Azure cloud provider are as below for the node that is in zone 1, another node in zone 2 has identical labels, except for the host name.

[code]
**What you expected to happen**:

The label 'failure-domain.beta.kube

[2018-09-16 20:49] paphillon commented on #68718
/sig azure
/sig cloud-provider

[2018-09-16 21:33] liggitt commented on #68717
Can you include the resulting pod specs for the calico-node and security-context-demo pods as they appeared in the API after being created, both for 1.9.x and 1.11.x?

If there were no relevant differences between them, then this is not a PSP issue (all it does is allow/disallow/modify pod specs as they are created).

It is possible kubelet, node or cni behavior changed and is affected differently

[2018-09-16 21:55] rezroo commented on #68717
[calico-node-1.9.3.txt](https://github.com/kubernetes/kubernetes/files/2387058/calico-node-1.9.3.txt)
[calico-node-1.11.1.txt](https://github.com/kubernetes/kubernetes/files/2387059/calico-node-1.11.1.txt)

[2018-09-16 21:56] rezroo commented on #68717
[security-context-demo.txt](https://github.com/kubernetes/kubernetes/files/2387060/security-context-demo.txt)
[security-context-demo-1.9.3.txt](https://github.com/kubernetes/kubernetes/files/2387061/security-context-demo-1.9.3.txt)
[security-context-demo-admin.txt](https://github.com/kubernetes/kubernetes/files/2387062/security-context-demo-admin.txt)

[2018-09-16 22:39] liggitt commented on #68717
Interestingly, the "calico-node-1.9.3.txt" pod doesn't indicate PSP was enabled when it was created (there's no annotation indicating which PSP allowed it)

[2018-09-17 00:03] makanijatin commented on #39557
It worked for me too

[2018-09-17 00:50] #62604 closed

[2018-09-17 00:53] tanshanshan commented on #27744
@rosti  , I remove kubeadm's perspective , thanks.

[2018-09-17 01:10] zjj2wry commented on #62316
/close

[2018-09-17 01:10] #62316 closed

[2018-09-17 01:10] zjj2wry commented on #62687
/close

[2018-09-17 01:10] #62687 closed

[2018-09-17 01:44] jlegrone commented on #68627
/area stateful-apps

[2018-09-17 01:45] jlegrone commented on #68573
/area stateful-apps

[2018-09-17 01:57] violetgo commented on #68550
in my case ,i lose istio.default secrets(kube dns service and ca install failed). then i delete istio crd
`
kubectl delete crd policies.authentication.istio.io
kubectl delete crd kubectl delete crd policies.authentication.istio.io
`
and reinstall kube and istio ,it fix~

[2018-09-17 01:57] #68550 closed

[2018-09-17 02:15] resouer commented on #63766
/remove-lifecycle rotten

[2018-09-17 02:37] k82cn commented on #68036
@sudeshsh , can you help to create a PR in kuberntes/community based on your google doc?

[2018-09-17 02:52] k82cn commented on #66568
/close

Thanks for your contributions :)

[2018-09-17 02:52] #66568 closed

[2018-09-17 03:06] kindule commented on #61937
Hi, I am very concerned about this issue. And we use kubernetes v1.10.5 with docker 17.03.2-ce the problem also reproduced.

[2018-09-17 03:52] resouer opened #68720 "Revisit and narrow down functionality of equivelance class cache"
**Background**

*Pay Your Technical Debt!*

Per discussion [in recent sig meeting](https://docs.google.com/document/d/13mwye7nvrmV11q9_Eg77z-1w3X7Q1GTbslpml4J7F3A/edit#), we noticed the complexity of equiv class cache is growing fast in last 6 mo in order to balance between performance and functionality, and begin to divert from its original design.

The concern is, we are not so sure if this is q

[2018-09-17 03:52] resouer commented on #68720
/sig scheduling

[2018-09-17 03:55] resouer commented on #68720
/assign

Also cc @mayank who trying to help.

[2018-09-17 05:09] valentin2105 opened #68721 "kubectl logs - failed to get parse function: unsupported log format: "\n""
/kind bug

Hello,

**What happened**:

When I show the logs of my pods, since I updated to v1.10.6 (and now moved to 1.10.8), the result hang for a while or show `failed to get parse function: unsupported log format: "\n"%` error message :

[code]
Kubelet logs on the pod's node :

[code]
If I kill the pod, the logs come back with the new one, but it come after.

Sometime the logs stuck without any

[2018-09-17 05:36] thockin commented on #7923
Agree that concurrency should be caller's problem.  We should, in general,
not have Run() functions that spawn their own goroutine and then return
without waiting for it.

On Fri, Sep 14, 2018 at 2:17 AM Mikhail Mazurskiy <notifications@github.com>
wrote:

[2018-09-17 05:56] aclowkey commented on #37705
What would be a workaround for this? specifically on GCE, would be something like:
1. create new pd
2. scale down deployment to 0
3. move data to new pd
4. create new PVC
5. scale up to x ?

[2018-09-17 06:01] denkensk commented on #68720
I am interested, can I do something with you?

[2018-09-17 06:14] reidlai commented on #18513
I got the same issue.  After trying, found that creating secret using file system directory can solve the problem

[2018-09-17 06:31] paphillon opened #68723 "Is Azure disk zone aware?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Created Storage class, pvc for dynamic provisioning with binding mode Immediate. The volume is created as expected. However, as pod scheduled on vmss node remains in a pending state due to volume is not zone aware.

az show disk command confirmed the zones field was empty
kubectl describe pv/pvc had not zone label inform

[2018-09-17 07:02] Nair18 commented on #23726
I think u have not installed kubeadm .... install kubeadm first and then try

[2018-09-17 07:04] kheirp commented on #66748
@abdennour  Did installing the pod network solved your problem ?? as I have Calico already installed but still the same problem. Also, I can't run any kubectl commands as always the connection is refused to the api server. Any recommendations ??

[2018-09-17 07:10] #63951 closed

[2018-09-17 07:14] bsunuwar commented on #23726
Ok will do that

On Mon, 17 Sep 2018 at 08:04, Karthik Nair <notifications@github.com> wrote:

--
*Kind Regards,*

*Bishnu Sunuwar*

[2018-09-17 07:42] pires commented on #61937
I'd argue it's actually the kernel in use that is not ready for production.

Anyway, who is to make a decision here? This seems to me a feature request and not a bug, so a SIG should own the decision whether to implement this in time for 1.13 - which development cycle should start very soon.

[2018-09-17 07:52] andyzhangx commented on #65890
@sylus I begin to focus on windows issues recently since we are going to GA windows on 1.13 in our plan.
Back to your question, your issue is duplicated to this issue: [support file mount on Windows](https://github.com/kubernetes/kubernetes/issues/63121), we are going to support file mount on windows 2019

[code]

while if you run folder mapping, it works:
[code]

[2018-09-17 07:54] vbabak commented on #66826
[code]

[2018-09-17 07:54] ocofaigh commented on #61937
Yes I agree, the root cause to this issue is the kernel, but the redhat issue (https://bugzilla.redhat.com/show_bug.cgi?id=1507149) tracking that has been open since 2017-10-27, so if Kubernetes could implement a flag as suggested in https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-391064357, that would probably help ALOT of people out until redhat fix the kernel.

FYI, we manage

[2018-09-17 08:48] mlmhl commented on #57185
/remove-lifecycle stale

[2018-09-17 09:03] droberin commented on #18982
I think thi is a very important matter, yet it is almost a 3 years old issue at GitHub and it doesn't seem to be addressed/assign. I'm just curious about if it is not really that important or it is too big to take care of.
Thanks and sorry for the noise. :)

[2018-09-17 09:17] Pingan2017 commented on #68627
it seems the default deleteoption for `kubectl delete`  changed
before 1.11, it is  `Foreground` , after it is `Background`
#65908

[2018-09-17 10:10] knyttl commented on #27114
`waitForReadinessProbe` +1

[2018-09-17 10:29] gnufied commented on #68261
cc @jsafrane

[2018-09-17 10:46] ykfq commented on #53889
If you using kubespray upgrade your cluster, maybe you should generate some new certs, using this:
[code]

[2018-09-17 10:54] ikercrg opened #68731 "Why do I see all services environment variables in every Service?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

But I am not sure if this is the correct behaviour or I need something in configuration to solve it.

**What happened**:

I see the environment variables of all deployments I have created in every pod

**What you expected to happen**:

To see only the environment variables defined in the deployment.

**How to reproduce it (as minimally and

[2018-09-17 11:01] walterdolce commented on #51835
I experienced this issue today for the first time while running some pods locally on minikube.

I had a bunch of pods stuck in `Terminating` due to a configmap/secret mounted as a volume which was missing. None of the suggestions/workarounds/solutions posted above worked except [this one](https://github.com/kubernetes/kubernetes/issues/51835#issuecomment-400584868).

One thing that I think is wort

[2018-09-17 11:05] xuhuigithub opened #68732 "host port mode with ipvs mode doesn't work on Ubuntu 16.04.5 LTS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I can't access the exposed host port on my Ubuntu node.

**Anything else we need to know?**:
I have three node nodes, two Centos 7.2 and one Ubuntu 16.04.5 LTS. The exposed port works on Centos, but it doesn't work on Ubuntu 16.04.5 LTS.

**Environment**:
- Kubernetes version (use `kubectl version`):
Kubernetes v1.9.8
- O

[2018-09-17 11:08] bronger commented on #51835
I experienced this issue with 4 deployments.  Then I switched from “local volume” to “host path” for all mounts, and it is gone for me.

[2018-09-17 11:10] jain108shubhamtbt opened #68733 "why are we getting error like "[error]: Could not push log to Elasticsearch" when we run fluentd ?"
2018-09-14 01:42:17 -0400 [error]: Could not push log to Elasticsearch: {"took"=>0, "errors"=>true, "items"=>[{"index"=>{"_index"=>"logstash-2018.09.14-2018-09-14", "_type"=>"fluentd", "_id"=>"AWXWmfAe5YNY78TRYdNj", "status"=>400, "error"=>{"type"=>"mapper_parsing_exception", "reason"=>"failed to parse", "caused_by"=>{"type"=>"json_parse_exception", "reason"=>"Unexpected character ('t' (code 116))

[2018-09-17 11:12] denkensk opened #68734 "expose nodeport in Specific Nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
NodePort will Exposes the service on each Node’s IP at a static port.  Can I Exposes the Node's Port through the label of Node Instead of each Node in cluster？

**What you expected to happen**:
I can  Exposes the Node's Port through the label of Node

[2018-09-17 11:13] denkensk commented on #68734
/sig network

[2018-09-17 11:16] jan-hudec commented on #51764
Seeing this in 1.10.0 with a stateful set. No finalizers. Restart didn't seem to help, the stateful set is still there though all the related other objects are gone. Restarting the server (it is single-node test environment, so it restarts all of it) didn't help.

[2018-09-17 11:20] xuhuigithub commented on #68732
I remark the difference between the Centos and Ubuntu on ipvs. Centos has rules bind on host IP, but Ubuntu doesn't.
Centos:
[code]
Ubuntu:
[code]
All rule bind on cluster cidr instead of host ip, as you can see.

[2018-09-17 11:36] liggitt commented on #68627
That change was made between 1.11.0 and 1.11.1

[2018-09-17 11:38] asispatra commented on #68547
@tanshanshan,

Thanks your response. But I do not want to set the pod affinity rules just based on labels because of the following reason:
If I have pods, requesting GPU resources as followed, the GPU resources are not getting utilized in my cluster:

TestCase: 1-3-1-3 (Which means 1st and 3rd pod request for 1 GPU, 2nd and 4th pod request for 3 GPUs, I have two nodes and each contains 4 GPUs.) As

[2018-09-17 11:44] #63702 closed

[2018-09-17 12:10] jsafrane commented on #68261
From #67945:

I don't check `HasSynced()` in the volume plugin code, because the CRD does not need to be installed at that time. The plugin behavior is the same for "CRD not installed" and "CRD installed, but CR does not exist" cases.

The case "CRD installed, CR created, but HasSynced is false" is the same as "CRD installed, CR created, HasSynced is true, but CR did not reach the cache yet becaus

[2018-09-17 12:26] yinwenqin opened #68736 "Persistent Volume capacity limitation does not work"
**Env**: Centos 7.4
**Version**: kube v1.9
**Storage**: Cephfs

**What happened:**
I make the pv/pvc with 1GiB capacity, then I bound with a pod,In the pod mount path,I wrote data that was far beyond the pv capacity limit.In the cephfs,the pod path actually has been successfully mounted.So is this a bug of kubernetes with cephfs,or  something else I need to do?

[code]

[code]
/sig storage

[2018-09-17 12:31] pohly commented on #67882
I'm seeing the same error when setting up a CSI driver. In my case, the .yaml file is similar to https://github.com/kubernetes-csi/docs/blob/master/book/src/example/csi-setup.yaml (just the CSI driver is a bit different), and the command is `kubectl create -f csi-setup.yaml`.

This then fails sometimes (but not always) with a non-zero exit code from kubectl:
[code]

Is this approach for creating s

[2018-09-17 12:31] aanm commented on #68504
Same problem with Ubuntu `18.04.1`

[2018-09-17 12:42] andyzhangx commented on #68723
@paphillon zone support for azure disk is in v1.12.0 , here are the details: https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/using-availability-zones.md

[2018-09-17 12:43] liggitt commented on #67882
Direct creation of pods must wait for the service account and token to be provisioned.

Workload controllers will retry pod creation until success, insulating from this required wait.

Work in progress is moving service account token generation to be just in time, which will remove the need for this wait. xref https://github.com/kubernetes/kubernetes/issues/67440

[2018-09-17 13:15] pohly commented on #67882
Indeed, I wasn't reading the output correctly. The pod isn't started when the failure occurs and then that part must be retried, but because it is part of a larger .yaml file, kubectl then fails with `already exists` errors.

So the bottom line is that the current CSI example .yaml file no longer works and must be split up into two files, with some suitable logic inbetween. What's a good `kubectl`

[2018-09-17 13:36] liggitt commented on #67882
Do you have a pointer to that file? Launching a pod directly in a manifest (as opposed to a workload object like a daemonset, replicaset, or job) isn't usually recommended, since it's not robust in the face of failures or errors.

[2018-09-17 13:37] Sam-666 commented on #6570
Hi Gus ,

I am also having the same problem as afathima94. Master is connecting but the salt master is not . Any help is very much welcome

[2018-09-17 13:47] liggitt commented on #68736
The capacity limit is not enforcing, it is informative. It is up to the underlying storage implementation to quota/enforce storage amounts.

[2018-09-17 13:47] usherfu opened #68737 "StatefulSet: support resize pvc storage in K8s v1.11"
/kind feature

**What happened**:
With k8s v1.11 the [new feature "Resizing Persistent Volume"](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/)   was prompted to beta.

I tried to update the field "statefulset.spec.volumeClaimTemplates.spec.resources.requests.storage" by increasing the storage size from 3Gi to 4Gi, however received following error message.

"Th

[2018-09-17 13:49] pohly commented on #67882
Here's the file: https://github.com/kubernetes-csi/docs/blob/master/book/src/example/csi-setup.yaml

This was supposed to be as simple as possible. But for real deployments a daemonset is the recommended approach, so the example might as well just use that.

Same for the automated testing.

[2018-09-17 13:52] pohly commented on #67882
I should add that while I added that example to the docs, the same approach had already been used by other developers before without issues. The E2E test has done it like this since the beginning. Has everyone just been lucky so far or has something changed in Kubernetes >= 1.9 which makes it more likely for the timing to go wrong?

[2018-09-17 13:54] usherfu commented on #68737
@kubernetes/sig-storage

[2018-09-17 13:55] liggitt commented on #67882
Nothing has changed in this area since 1.0

Running in an underpowered environment can increase the lag if the controller manager takes longer to provision the dependent objects

[2018-09-17 13:55] neolit123 commented on #68732
/sig network

[2018-09-17 14:08] chuckha commented on #64018
/assign

[2018-09-17 14:12] neolit123 commented on #68731
/triage support
/sig node

[2018-09-17 14:12] neolit123 commented on #68721
/sig cli

[2018-09-17 14:28] jan-g opened #68738 "kubelet 1.11.1 - keeping containers alive for an orphaned pod"
/kind bug

**What happened**:

Running a deployment that has a replicaset (of scale 1 or 3, it's happened either way). One of the containers (`[0]`) in the pod is the stock "leaderelector" image. The second container was in CLBO (due to a configuration problem).

After a redeployment, we noticed that the endpoint was still owned by an old pod - one that kubeapi claimed no knowledge of. Furthermore

[2018-09-17 14:29] rata commented on #57117
Well, I consider this closed. Please let me know if there is a reason to think otherwise

[2018-09-17 14:31] tossmilestone commented on #68738
/sig node
/sig apps

[2018-09-17 14:39] erkolson commented on #54247
Stumbled upon this today.  Very surprised to see that stdout from the hook does not end up in the pods log stream?

[2018-09-17 14:48] jsafrane opened #68740 "Pods stuck in Terminating status when subpath volume is used"
This is related to #65879 and #51835, but these issues contain several different bugs, so I am creating a new one.

**Steps to reproduce**:
1. `/var/lib/kubelet` must be a symlink somewhere else. If you don't have a symlink, then it's a different bug.

2. Run a pod with ConfigMap volume with SubPath:

[code]
3. (the pod should run just fine)
4. `kubectl delete pod`

-> The pod is Terminating forev

[2018-09-17 14:52] robermorales commented on #66637
same here, ideas? tia

[2018-09-17 14:54] jsafrane commented on #68740
Posted https://github.com/kubernetes/kubernetes/pull/68741, kubelet gets confused by /var/lib/kubelet being a symlinks and it looks for /var/lib/kubelet/pods/... in /proc/mounts instead of target of the symlink.

[2018-09-17 15:04] #50612 closed

[2018-09-17 15:04] iawia002 opened #68743 "CRD: ListOptions Limit option not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm using List API with the `Limit` option, but no matter what my `Limit` is set, it returns all the data.

[code]

but internal resources, like Secrets works fine.

I don't know if our CRD or clientset needs special configure.

**What you expected to happen**:

It returns limited data

**How to reproduce it (as minimall

[2018-09-17 15:04] ConnorDoyle commented on #43916
/remove-lifecycle stale

[2018-09-17 15:05] iawia002 commented on #68743
/sig api-machinery

[2018-09-17 15:06] tpepper opened #68744 "Failing tests: multiple In-tree Volumes failures"
Failing Jobs
---
[sig-release-1.12-blocking#gce-cos-1.12-serial](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gce-cos-1.12-serial)
[sig-release-1.12-blocking#gke-cos-1.12-default](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gke-cos-1.12-default)
[sig-release-1.12-blocking#gke-cos-1.12-serial](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gke-cos-1.12-seria

[2018-09-17 15:06] tpepper commented on #68744
@kubernetes/sig-storage-test-failures

[2018-09-17 15:07] tpepper commented on #68744
/assign @saad-ali
/cc @childsb

SIG leaders can you please triage this ASAP.  May be release blocking.

[2018-09-17 15:11] tpepper commented on #67823
Status check @k82cn @wojtek-t

[2018-09-17 15:18] tpepper commented on #68383
@DirectXMan12 status check?  I'm worried this is a 1.12 blocker and need to make a call by end of day today regarding delaying the release.

[2018-09-17 15:18] dixudx commented on #49466
/reopen
/assign

[2018-09-17 15:29] dixudx commented on #49466
/remove-lifecycle stale

[2018-09-17 15:30] dixudx commented on #49466
/remove-lifecycle rotten

[2018-09-17 15:33] redbaron commented on #68140
@bswartz , if kubelet managed to login via 1 portal only, then mounted `/dev/dm-X` (so via multipath), then who and when will be discovering new paths?

[2018-09-17 15:43] kfox1111 commented on #68261
The code around passing pod info to the csi driver will also be effected by the lack of sync.

No, this isn't quite true. The admin creating the CRD knows approximately how long to wait before knowing a driver will work and allow users to start using it in that case. Having a kubelet be restarted (possibly due to a crash and getting it auto restarted) can potentially happen randomly, so there is a

[2018-09-17 15:57] yue9944882 commented on #68743
yes, CR paging is not yet support.

@sttts is it intended? assuming we enabled paging, when the CRD's updated, the CR storage will be cleaned then the listing will be broken, amiright? back to #68508, do we consider the paging for the graceful deletion?

/area custom-resource

[2018-09-17 16:00] yue9944882 commented on #68743
/kind feature

[2018-09-17 16:03] johnSchnake opened #68747 "E2E tests using SSH are inconsistent in IP requirements"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm running e2e tests via sonobuoy and had a number of tests skipped due to lack of an SSH key on the node. I then have created a secret, mounted it, set env vars to point to the key and set the SSH user. However, some tests explicitly require an external IP address () while others fallback to using an internal IP address

[2018-09-17 16:04] guineveresaenger commented on #67823
Last two scale runs were still red - any significance here?

[2018-09-17 16:04] johnSchnake commented on #68747
@kubernetes/sig-testing

[2018-09-17 16:04] shyamjvs commented on #67823
This is now fixed (i.e taint updates are not slow anymore) and verified. We can close this..
/close

[2018-09-17 16:04] #67823 closed

[2018-09-17 16:05] johnSchnake commented on #68747
/sig testing

[2018-09-17 16:05] johnSchnake commented on #68687
/sig testing

[2018-09-17 16:06] saad-ali commented on #68744
Taking a look

[2018-09-17 16:06] shyamjvs commented on #67823
Those are unrelated. The last one was a minor flake (the performance test itself was fine) and the second last one was due to https://github.com/kubernetes/kubernetes/issues/68613 (which has now been fixed after reverting core-dns default).

[2018-09-17 16:06] johnSchnake commented on #68747
I also have another related ticket https://github.com/kubernetes/kubernetes/issues/68687 I'm happy to address these myself if someone from the sig concurs with my assessment of the issues/solutions.

[2018-09-17 16:07] johnSchnake commented on #68687
I also have another related ticket (https://github.com/kubernetes/kubernetes/issues/68747) I'm happy to address these myself if someone from the sig concurs with my assessment of the issues/solutions.

[2018-09-17 16:08] guineveresaenger commented on #68613
@wojtek-t @shyamjvs should this issue be closed then?

[2018-09-17 16:08] sebastienvas commented on #68653
Escalated internally.

[2018-09-17 16:14] shyamjvs commented on #68613
No, the issue with core-dns is still there. We just fixed the release by reverting it from being default. So I suggest removing the release-blocker labels and keeping this open for the remainder of the bug.

[2018-09-17 16:16] guineveresaenger commented on #68613
@shyamjvs gotcha. I'll move it out of the milestone then.

/milestone clear
/milestone v1.13

/remove-priority critical-urgent
/priority important-soon

[2018-09-17 16:17] saad-ali commented on #68744
The only test that is currently failing is `[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]`

[2018-09-17 16:41] saad-ali commented on #68744
This failure very roughly aligns with when https://github.com/kubernetes/kubernetes/pull/68590 was merged.

Assigning to David to debug further.

/assign @davidz627

[2018-09-17 16:42] neolit123 commented on #68613
@chrisohaver @rajansandeep
if core-dns doesn't end up being default in 1.12 could please make sure the docs are up to date?
(kubeadm is independent from this).

[2018-09-17 16:48] guineveresaenger commented on #66243
@AishSundar do we have an insider update?

[2018-09-17 17:17] shubheksha commented on #68733
/triage support

[2018-09-17 17:30] tpepper commented on #68744
Since this looks like a recent regression, we will block 1.12 release on this until SIG Storage indicates otherwise.

[2018-09-17 17:37] dashpole commented on #68653
The kubelet logs just indicate that the container existed with a non-zero exit status.

[2018-09-17 17:37] yujuhong opened #68750 "Update node e2e images to drop older docker versions"
The current node e2e tests include images using Docker 1.11.x to 17.xx, with the pending PR to test 18.06 (https://github.com/kubernetes/test-infra/pull/9444)

We should update the images to drop older docker versions. I think we can start by getting rid of 1.11 and 1.12, so that we still have three minor versions tested: 18.xx, 17.xx, and 1.13.x

/cc @kubernetes/sig-node-bugs
@yguo0905 (for cos a

[2018-09-17 18:04] marshallford commented on #56903
@memorais To clarify: I had a working cluster (for a while), DNS appeared to break, I tried the `weave-tc` image with no luck, I updated the AMI id of all my nodes and master which caused all of the instances in EC2 to be terminated and re-created and my issue with resolving `deb.debian.org` disappeared. It is almost like Weave wouldn't "patch" with `weave-tc` unless it was a first time install.

[2018-09-17 18:20] neolit123 commented on #68671
@printfcoder
we have better errors reports in 1.12, but my guess here is that you don't have internet connectivity to `k8s.gcr.io`.

does this work:
`docker pull k8s.gcr.io/kube-apiserver-amd64:v1.11.3`
?

[2018-09-17 18:29] jonfriesen commented on #68026
PR #68582 fixes golint in pkg/probe

[2018-09-17 18:36] lavalamp commented on #62197
Dry run is alpha in the upcoming release.

[2018-09-17 18:37] apelisse commented on #62197
Server-side dry-run should complement the existing client side dry-run, and close this issue as well as 11488.

[2018-09-17 18:38] #68115 closed

[2018-09-17 18:50] krzysztof-jastrzebski opened #68751 "Pods are synchronized by kubelet before network is ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Pods are synchronized by kubelet before network is ready. Synchronization in such case fails and pod is synchronized after 10 seconds.

**What you expected to happen**:
Kubelet should wait until network is ready before starting synchronizing pods.

**How to reproduce it (as minimally and precisely as possible)**:
Configure

[2018-09-17 19:00] NicolasT commented on #61937
Same here. However, I disagree with the 'flag' approach, for at least the following reasons:

- It requires API changes all over the place, for no good reason
- The 'fix' is in `libcontainer`, `kubelet` shouldn't be aware of this (and require code changes) at all
- This is exactly what environment variables are for!

As such, I believe a fix similar to what I did in https://github.com/scality/kube

[2018-09-17 19:49] ixdy commented on #68560
The `ipset` version is exactly the same in both versions of the image (v10 and v10.1).

Where did you find that error message?

[2018-09-17 19:57] ixdy commented on #68560
List of package differences (given by `dpkg -l`) between v10 and v11:
[code]

[2018-09-17 19:57] pires commented on #68383
According to our testing, metrics-server 0.3.1 seems to have fixed it - thank you @DirectXMan12.

[2018-09-17 19:58] mikedanese commented on #68677
"NEW CERTIFICATE REQUEST" has been "deprecated" for 20 years in the openssl codebase... What problem would supporting this actually fix?

[2018-09-17 19:59] tristanz commented on #61937
@NicolasT have you confirmed your scality@b404b050 patch resolves the issue?

[2018-09-17 20:07] wenjiaswe commented on #68658
/assign @cheftako

[2018-09-17 20:09] #62904 closed

[2018-09-17 20:10] liggitt commented on #68743
Fixed by
https://github.com/kubernetes/kubernetes/pull/67861

/close

[2018-09-17 20:10] #68743 closed

[2018-09-17 20:10] wenjiaswe commented on #68743
/assign @mbohlool

[2018-09-17 20:20] liggitt commented on #68677
apparently it is still produced by the java keytool when generating CSRs (see description)

[2018-09-17 20:46] Quentin-M commented on #56903
It will - it can be added/removed anytime. Only need to make sure the ports
/ interfaces are set properly.

On September 17, 2018 at 11:06:23 AM, Marshall Ford (
notifications@github.com) wrote:

@memorais <https://github.com/memorais> To clarify: I had a working cluster
(for a while), DNS appeared to break, I tried the weave-tc image with no
luck, I updated the AMI id of all my nodes and master w

[2018-09-17 20:49] spiffxp opened #68755 "pull-kubernetes-e2e-gke is continuously failing"
https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gke

It's failing due to: https://github.com/kubernetes/kubernetes/issues/68653

This is blocking at least the following PR's:
- https://github.com/kubernetes/kubernetes/pull/68387
- https://github.com/kubernetes/kubernetes/pull/67452
- ~https://github.com/kubernetes/kubernetes/pull/68629~ (this was manually mer

[2018-09-17 20:49] spiffxp commented on #68755
/milestone v1.12
To ensure this is picked up in release burndown queries

[2018-09-17 20:57] MrHohn commented on #68653
Quick update: a fix has been submitted and being rolled out on the GKE side. ETA for test to pass again EOD.

[2018-09-17 21:07] dobesv commented on #61007
/remove-lifecycle stale

Still having this problem.

[2018-09-17 21:08] dobesv commented on #61007
/remove-lifecycle stale

[2018-09-17 21:14] marshallford commented on #56903
@Quentin-M Fair enough. That is how I interrupted your project readme as well. It is likely I am just stupid and either didn't add `weave-tc` correctly the first time, broke DNS myself in a different manner that the fresh VMs fixed, or I am misremembering the order that I troubleshooted the cluster. Regardless, my "advice" still stands -- @memorais if you are really desperate, get fresh VMs.

[2018-09-17 21:14] xiang90 commented on #64843
closing this in favor of #67671

[2018-09-17 21:14] #64843 closed

[2018-09-17 23:04] jpbetz commented on #59848
We've written up a design doc covering both this issue and #67998. Please have a look!

@smarterclayton

[2018-09-17 23:06] neolit123 commented on #68751
/kind bug

[2018-09-17 23:08] sidewinder12s commented on #53331
Ya I think we've run into this issue as well with pods in `Error` state. I think that the error we'd see (This was a developers cron as opposed to something from the operator side) is that the cronjob config within the container would be incorrect so the image would pull, get started and then error out.

I'm also not sure if `activeDeadlineSeconds` would help with this case. The general pattern we

[2018-09-17 23:19] davidz627 commented on #68744
Looks like the failure is happening in UnmountDevice during a check to see if the device is being used anywhere else on the system. The UnmountDevice call is "finding out" that the device is being used by `Open`ing the device path and getting a `EBUSY` error.

I have been unable to determine where the `EBUSY` error is coming from as there are no latent file descriptors open on that device as well

[2018-09-17 23:30] thockin commented on #13358
Use an ExternalName Service?

I am not sure I understand the problem you are presenting

On Tue, Sep 4, 2018 at 1:16 AM WegDamit <notifications@github.com> wrote:

[2018-09-17 23:33] thockin commented on #11690
Such a large range is highly likely to conflict with something.  What
are you doing to need so many node ports?
On Wed, Sep 5, 2018 at 2:04 AM Romil Punetha <notifications@github.com> wrote:

[2018-09-17 23:34] msau42 commented on #68744
The GetMountRefs failure if device path doesn't exist looks like it was introduced in 1.12 from https://github.com/kubernetes/kubernetes/pull/64416.  It consolidates the GetMountRefs methods to a new version of GetMountRef that errors in EvalSymlinks if the path doesn't exist (the old version still worked if path didn't exist).

 I'm still running the e2e against older releases to confirm.

[2018-09-17 23:35] msau42 commented on #68744
Also, the e2e started failing because we recently added more stringent validation to the test that caught this issue.

[2018-09-17 23:47] saad-ali commented on #68744
Great work catching a potential regression with added testing!

[2018-09-17 23:51] anderson4u2 commented on #62156
@Miyurz did you check the helm chart is in the same namespace as the configmap? I just found my mistake, might be of help to you.

[2018-09-18 00:02] thockin commented on #65013
I finally caught up to this bug.  Fun one.

I agree that this is working-as-intended and that it stinks.  We can do better.

As a short-term workaround, you can taint the nodes before cordoning one-by-one.  That will stop new work from arriving, but will leave old work there.  If we agree on an appropriately named taint, we can have nginx tolerate it by default.  Am I missing any reason why this w

[2018-09-18 00:19] dwradcliffe commented on #65013
Is there any reason we can't just leave the nodes in the load balancer pool when the node is cordoned? And when the pods are terminated the nodes can be removed?

I may be missing some context here?

[2018-09-18 00:28] msau42 commented on #68744
Ran the new e2e test changes against 1.10 and 1.11 clusters, and they passed.  So this is definitely a 1.12 regression

[2018-09-18 00:35] thockin commented on #65013
The presumption is that a node that is unschedulable is going away, or
needs some other repair.  Using it as a target for load-balancers means
there could be sessions routed THROUGH that node.  Even as the pods are
drained.  Right up until the node suddenly dies, causing an outage of a
different flavor.

What should really happen is that a node which becomes unschedulable starts
draining connectio

[2018-09-18 00:36] bswartz commented on #68140
@redbaron, as @jsafrane pointed out, nothing does this today. It's a problem, because even if you wanted to do to manually, you wouldn't know which targets to log into or which LUNs to scan without having a good understanding of the internals of the iSCSI code in kubelet.

We're going to have to think about whether it makes sense to solve this in kubernetes or elsewhere.

One cheap and partial sol

[2018-09-18 00:41] fanzhangio opened #68762 "vSphere volume plugin needs to support block volume"
**FEATURE REQUEST**:
vSphere volume plugin does not support volume device yet. Need to add volumeMode in PV spec as other plugin did.

release 1.12

[2018-09-18 00:42] fanzhangio commented on #68762
/sig storage

[2018-09-18 00:43] luhkevin commented on #20753
Try editing the claimref on the persistent volume
https://github.com/kubernetes/kubernetes/issues/48609

[2018-09-18 01:03] #68235 closed

[2018-09-18 01:12] Lion-Wei commented on #68560
@ixdy Thanks, the error was found in ipvs ci environment kube-proxy log.

[2018-09-18 01:35] Lion-Wei commented on #68560
Maybe we got some kind of incompatible issue with ipset specific version.

[2018-09-18 01:35] ixdy commented on #68560
It seems like the removal of `netbase` is what's causing this failure, which appears to be due to depending on `iputils-ping` instead of `inetutils-ping`.

I'm not sure what caused that to switch.

[2018-09-18 01:52] ixdy commented on #68560
ok, I think I have an idea of what happened here:

`debian-base:0.3` was originally built against `debian:9.3`. At some point `debian-iptables:v10` was built against what was then `debian-base:0.3`, i.e. pulling in the packages from `debian:9.3`, which included `inetutils-ping` (and `netbase`).

Later (probably due to security issues), we rebuilt `debian-base:0.3`, which by this point was now base

[2018-09-18 01:55] ixdy commented on #68560
/assign

[2018-09-18 01:55] yue9944882 commented on #68743
hmm.. sadly we dont pick features back to release branches

[2018-09-18 02:07] mbohlool commented on #68743
Is this really a feature? Or just a bug as in we did not respect part of ListOptions.

[2018-09-18 02:09] Lion-Wei commented on #68560
@ixdy Thanks a lot. Though I'm not really understand, but glad we found the route cause.
And I think this gonna block 1.12 release, ipvs feature already GA in 1.11, we need make sure this feature can work normally.

[2018-09-18 02:09] liggitt commented on #68743
I'd call it a low severity bug

[2018-09-18 02:10] Lion-Wei commented on #68560
@m1093782566 @rramkumar1 for thoughts.

[2018-09-18 02:13] m1093782566 commented on #68560
@rramkumar1

Do you think this is a kubernetes 1.12-blocking issue?

[2018-09-18 02:17] tanshanshan commented on #68733
maybe you need to paste How to reproduce it and  your Environment

[2018-09-18 02:34] yinwenqin commented on #68736
@liggitt
Thank you so much!
But is there anyway to limit the unequal capacity for each pod?

[2018-09-18 02:36] warmchang commented on #61937
As I mentioned https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-403685074, if RedHat solved this issue, we can use the new kernel patch.

[2018-09-18 02:51] rramkumar1 commented on #68560
If this causing core IPVS functionality to be broken, which it looks like it is, then I think this should block the 1.12 release

Sent from my iPhone

[2018-09-18 02:52] printfcoder commented on #68671
@neolit123
Yes，it works via a proxy server.

I have tried  both `docker pull k8s.gcr.io/**` and `kubeadm config images list`, and the images pulled fine. When cmd `docker pull` pulled OK then I removed all the images then tried `kubeadm config images list`, both of them two method to get images work very good although very slow.

[2018-09-18 02:53] k82cn commented on #63842
@resouer , @silveryfu , would you help to list related PRs to this issues, e.g. doc, enabled pr? The referred PRs are test related :)

[2018-09-18 02:53] k82cn commented on #63842
And should we close this issue?

[2018-09-18 03:06] mlmhl commented on #68737
Maybe a better way is to directly update the request size of according PVC object.

[2018-09-18 03:13] tpepper commented on #68560
/milestone v1.12
Will treat as release blocking now until we hear otherwise from SIG-Network and SIG-GCP

[2018-09-18 03:34] warmchang commented on #65093
/sig-storage-misc

@mweichert , Need to discuss the following points:

- GlusterFS 4x is the latest version, but not stable, is all the interfaces compatible with 3.x?
- With the GA of CSI (now is beta), is it still necessary to continue to update/maintain the storage plugin's hard-codes in K8S?

What's your opinion? @saad-ali

[2018-09-18 03:36] shuqilou opened #68768 "what's the default cache time of kube-dns?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After i added the content below to the configmap of kube-dns, i have to wait for a long time to use the dns server（10.0.10.1） normally!
[code]
but if i added the param **--max-cache-ttl=5** to the start command of dnsmasq, the dns server could become effective and be used normally immediately, so i wonder what is the default cache t

[2018-09-18 03:43] cblecker commented on #68560
First PR has merged.

[2018-09-18 03:46] wmturner commented on #60884
Getting this as well.  It looks (at least in my case) to be related to iptables rules failing to add, hence causing the connectivity issue with the various endpoints:

`Sep 17 23:35:00 k8s1.lax.simplicify.net firewalld[957]: WARNING: COMMAND_FAILED: '/usr/sbin/iptables -w2 -t nat -C POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE
Sep 17 23:35:00 k8s1.lax.simplicify.net firewalld[957]: WARN

[2018-09-18 04:07] ixdy commented on #68560
Thanks. Working on promoting those images to k8s.gcr.io, though that probably won't happen till Tuesday PT.

[2018-09-18 04:08] thockin commented on #65013
Wait, if you brought up a new nodepool, all those new nodes should be in the TargetPool.  Cordoning the old nodepool should only terminate the existing connections, new connections should be fine.  Something doesn't add up...

[2018-09-18 04:09] thockin commented on #65013
Was this using `ExternalTrafficPolicy: Local`

[2018-09-18 04:10] ixdy commented on #68560
... or maybe sooner than that, because @BenTheElder is an overachiever.

[2018-09-18 04:13] ixdy commented on #68560
Second PR: #68769

[2018-09-18 04:34] BenTheElder commented on #68560
@ixdy You're the one up working on promoting images at 9pm :-) I'm just trying to set my dev environment up again and saw this going on.

[2018-09-18 04:37] Deepak3994 commented on #68542
Hi,

I think the error is related to "required kernel modules". When i treied to join another node/ system to the kubernete master, I got the follwoing error.

[preflight] running pre-flight checks
	[WARNING RequiredIPVSKernelModulesAvailable]: the IPVS proxier will not be used, because the following required kernel modules are not loaded: [ip_vs ip_vs_rr ip_vs_wrr ip_vs_sh] or no builtin kernel i

[2018-09-18 05:59] humblec opened #68772 "Unwanted mount option in glusterfs fuse mount options."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

If user has submitted log file mount option via SC,  glusterfs plugin also add an additional `log-file` mount option without a value set. This cause the glusterfs fuse mount  to override user supplied log-file option with a null value which is not intended.
**What you expected to happen**:

**How to reproduce it (as minimally and p

[2018-09-18 05:59] humblec commented on #68772
@kubernets/sig-storage

[2018-09-18 05:59] humblec commented on #68772
/assign @humblec

[2018-09-18 06:04] nikhita commented on #65196
/remove-lifecycle stale

[2018-09-18 06:05] shubheksha commented on #68768
/triage support
/sig network

[2018-09-18 06:16] feiskyer opened #68773 "Scaling a pool to 0 agents breaks LoadBalancer-type services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Scaling one of the agent pools to 0 breaks all services of type `LoadBalancer`. For example, creating a new service with type `LoadBalancer` will fail, with following events:

[code]
Looking at the `kube-controller-manager` logs I notice:

[code]

Note that `k8s-k80-28106673-vmss` is the name of the VMSS that was scaled to 0.

Azure cloud p

[2018-09-18 06:54] dawidmalina commented on #68703
This works for me 👍

[2018-09-18 07:19] ocofaigh commented on #61937
Environment variables approach is absolutely fine too if it works. Are there any plans to create a PR for the kubernetes master branch with the code from https://github.com/scality/kubernetes/commit/b404b050 if it resolves the issue?

[2018-09-18 07:37] wanghaoran1988 commented on #68543
Some useful logs for investigation:

[code]

[2018-09-18 07:40] pohly opened #68776 "E2E CSI storage: deploy CSI pod via DaemonSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The test/e2e/storage/csi_volumes.go code creates a pod directly, without waiting for the service account secret to be available. Depending on timing, this can fail with a `No API token found for service account "csi-service-account"` error.

**What you expected to happen**:

It should use a DaemonSet instead, then the da

[2018-09-18 07:41] pohly commented on #68776
/sig storage

[2018-09-18 07:44] wjiangjay commented on #68648
After deep dig and might be terminal `raw` mode got something wrong with this scenario.
Still diging and trying to make a patch for this

[2018-09-18 07:49] dawidmalina commented on #68447
Looks like https://github.com/kubernetes/kubernetes/pull/68764 also fixed this one.

[2018-09-18 07:49] #68447 closed

[2018-09-18 07:58] nikhita commented on #57098
/remove-lifecycle stale
/kind documentation
/sig docs

[2018-09-18 07:58] usherfu commented on #68737
@mlmhl
As far as I understood, the PVC is created automatically based on volumeClaimTemplates, could you elaborate how to directly update the PVC object size?

[2018-09-18 07:58] nikhita commented on #62325
/remove-lifecycle stale

[2018-09-18 07:59] nikhita commented on #61326
/remove-lifecycle stale

[2018-09-18 07:59] nikhita commented on #49472
/remove-lifecycle stale

[2018-09-18 08:01] nikhita commented on #48710
/remove-lifecycle stale

[2018-09-18 08:02] nikhita commented on #25382
/remove-lifecycle stale

[2018-09-18 08:03] alexjx commented on #68194
Hi guys,

Altough I'm new to kubernetes, the missing function might be an easy fix.
Do you guys mind if I work on it?

Jia

[2018-09-18 08:10] m1093782566 commented on #68194
@alexjx

PRs are always welcome!

[2018-09-18 08:11] hristovpln commented on #56703
Also on 1.9.10

[2018-09-18 08:13] shubheksha commented on #68606
/triage support

[2018-09-18 08:27] huyqut commented on #52653
Are there any updates on this problem?

[2018-09-18 08:42] cokabug commented on #63390
same here

[2018-09-18 08:46] sfudeus commented on #52653
@huyqut To my understanding, this is fixed in master with PR #62943, but waiting for cherrypicking to 1.11 in #67570

[2018-09-18 08:57] stefanosirplay commented on #64103
/remove-lifecycle stale

[2018-09-18 09:07] warmchang commented on #61937
@ocofaigh , If the patch can solve this problem and no need the kernel upgrade, it is a good solution for me.

BTW: [the commit](https://github.com/scality/kubernetes/commit/b404b050) can not be open, I think should be [this](https://github.com/scality/kubernetes/commit/b04b0506e49b1b60ea7c8b74a5ca2edbf341cd6c). :smile:

[2018-09-18 09:28] Deepak3994 commented on #68542
Output of "kubectl get pods --all-namespaces"

NAMESPACE     NAME                                      READY     STATUS    RESTARTS   AGE
kube-system   calico-etcd-pxmkt                         1/1       Running   0          9m
kube-system   calico-kube-controllers-cd589c58b-s7h8c   1/1       Running   0          9m
**kube-system   calico-node-fwbkh                         0/2       Pending   0

[2018-09-18 09:34] tndhl commented on #68631
+1

[2018-09-18 09:39] bmwiedemann commented on #48710
With kubernetes-1.11.1
the random build-ids are still there
and there is a new ordering issue in many man-pages:
[code]

[2018-09-18 10:01] silenceper commented on #66421
same problem

kubelet 1.9.1

[2018-09-18 10:12] jsafrane commented on #67814
I think that execute should be fine.

[2018-09-18 10:34] jsafrane commented on #68050
/assign @humblec

[2018-09-18 10:44] mweichert commented on #65093
@warmchang,

Gluster 4.1 is now considered the only stable release of Gluster. Please see here: https://www.gluster.org/release-schedule/

The gluster client tools (which is what we are talking about here) ARE compatible with gluster 3x volumes. That is, gluster 4x client can mount Gluster 3x volumes.

[2018-09-18 10:53] dims commented on #64627
/milestone clear

(to match the fact that the PR was moved out of 1.12)

[2018-09-18 11:04] dims commented on #68560
I can't keep up with the 3 of you!!! - @ixdy @BenTheElder @cblecker

-- An old man

[2018-09-18 11:06] dwradcliffe commented on #65013
Yes

[2018-09-18 11:10] jjtestk8s opened #68781 "How"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-09-18 11:11] Lion-Wei commented on #68560
The CI working well again hours ago, thanks all of you, really appreciate it. : )

[2018-09-18 11:23] timchenxiaoyu opened #68782 "systemd restart kube*"
centos7  kube 1.6.3

systemd restart kube*

Sep 18 18:10:28 k8s-253 systemd: Stopping Kubernetes Kube-Proxy Server...
Sep 18 18:10:28 k8s-253 systemd: Stopping Kubernetes Kubelet Server...
Sep 18 18:10:28 k8s-253 systemd: Stopping Kubernetes API Service...
Sep 18 18:10:28 k8s-253 systemd: Stopping Kubernetes Scheduler Plugin...
Sep 18 18:10:28 k8s-253 systemd: Stopping Kubernetes Controller Manage

[2018-09-18 11:41] zetaab commented on #68782
could you please add some more information, like what is excepted behaviour or what you mean with this log thing? What we should change?

[2018-09-18 11:47] smarterclayton commented on #59848
Where's the design doc?

[2018-09-18 11:50] jjtestk8s opened #68784 "How to get the times taken of pod's termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
At the first ,I stop a pod ,then If kubectl describe  po xxx，I can see pod'status is  Terminating ,but, if print the  podstatus by the following :
---------------------------------
 v1 = client.CoreV1Api()
 w = watch.Watch()
 for event in w.stream(v1.list_pod_for_all_namespaces):
      print event['object'].status.phase
------------

[2018-09-18 11:59] dims commented on #59848
@smarterclayton it's here - https://github.com/kubernetes/kubernetes/pull/67998#issuecomment-422199412

[2018-09-18 12:00] #68781 closed

[2018-09-18 12:01] jjtestk8s commented on #68784
/sig kubernetes

[2018-09-18 12:02] jjtestk8s commented on #68784
/sig pod status

[2018-09-18 12:04] jjtestk8s commented on #68784
@kubernetes/sig-kubernetes-pod

[2018-09-18 12:29] warmchang commented on #65093
@mweichert

According to the description of [this page](https://www.gluster.org/install/), the 4.x is not stable version.

But anyway, the new version (4.x) is the future trend, and if this fix does not lead to compatibility issues, I have no opinion.

[2018-09-18 12:29] smarterclayton opened #68785 "1.11 auth error from dynamic client when accessing a CRD is wrong"
As a user who didn't have permission to watch a CRD in a namespace, I got the correct error from the server, but the dynamic client didn't correctly report the error.

[code]

I think this may be a bug with unstructured and the dynamic client / scheme not being able to extract the correct message.

@deads2k
@kubernetes/sig-api-machinery-bugs

[2018-09-18 12:30] smarterclayton commented on #68785
This was with the latest client-go, but a 1.11 apiserver.

[2018-09-18 12:33] smarterclayton opened #68787 "CR validation error from 1.11 server was not correct, lacks details of errors"
A 1.11 server returned a CRD validation error that does not correctly split up errors by fields with individual causes:

[code]

The `causes` array that kubectl and other clients use to display field specific errors is incorrect.  Each field should have its own `cause`, and the `field` should be a valid JSONPath pointer to the field (`status.state`).

The summary message is also incorrect.

In gen

[2018-09-18 12:40] smarterclayton commented on #68787
@sttts as discussed this morning

[2018-09-18 12:44] mohammedzee1000 opened #68788 "Failing test: In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]"
# Failing Jobs
[sig-release-master-blocking#gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial)
# Failing Tests
[In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci

[2018-09-18 12:47] mohammedzee1000 commented on #68788
Also failing on
[sig-release-master-blocking#gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)
[In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/707

[2018-09-18 12:48] mohammedzee1000 commented on #68788
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/68788

[2018-09-18 12:49] #68788 closed

[2018-09-18 12:51] NicolasT commented on #61937
@ryarnyah Are you testing the patch?

- I really think you need to namespace the environment variable name, looks like you changed it
- Your second patch (https://github.com/ryarnyah/runc/commit/c15bca726337f8c00fa4d48ab95c320b2da5234a) slightly changes `runc` behaviour. Is this intended/required?

[2018-09-18 12:53] mohammedzee1000 commented on #67600
/reopen tests are failing

[2018-09-18 12:53] mohammedzee1000 commented on #67600
/reopen
/cc @rajansandeep

[2018-09-18 12:59] timchenxiaoyu commented on #68782
sorry，our operator run health check script lead to。

[2018-09-18 12:59] #68782 closed

[2018-09-18 13:00] sathiyasaravanababu91 commented on #17512
saravana

[2018-09-18 13:01] mohammedzee1000 commented on #67600
More failures:
# Jobs
[sig-release-master-blocking#gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial)
[sig-release-master-blocking#gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)
# Tests
[ci-kubernetes-e2e-gci-gce-serial](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-

[2018-09-18 13:04] shubheksha commented on #68784
/triage support
/sig node

[2018-09-18 13:09] rajansandeep commented on #67600
Looks like this is failing since Kube-dns is now enabled.

[2018-09-18 13:11] andyzhangx commented on #66443
new UDEV rule has been added into wala agent rules, close this issue now
/close

[2018-09-18 13:11] #66443 closed

[2018-09-18 13:12] bahar-p commented on #45398
Any update on this issue? We can't still update charts with PDB

[2018-09-18 13:26] #62835 closed

[2018-09-18 13:30] smarterclayton commented on #61886
This has conformance implications - we have two scheduling tests that assume they can schedule on all nodes, but openshift runs PodNodeSelector by default to prevent regular users from scheduling to masters (security), which causes two e2e conformance tests

[sig-apps] Daemon set [Serial] should run and stop simple daemon [Conformance] 5m17s
[sig-apps] Daemon set [Serial] should retry creating fai

[2018-09-18 13:34] smarterclayton commented on #61886
@aveshagarwal if you can look at those e2e tests and determine whether they can be made to tolerate podnodeselector that would be good.

In the long run, a per namespace scheduling policy object would also help resolve the specific failure that triggered this issue (limiting what nodes users can schedule to) but not the general "admission plugins and scheduler can go rogue".

Has there been enough

[2018-09-18 13:35] aveshagarwal commented on #61886
Sure, looking.

[2018-09-18 13:35] liqlin2015 commented on #68504
Does that mean kube-proxy can only be run outside of container?

[2018-09-18 13:40] timchenxiaoyu commented on #61937
runc show disable kernel memory when low 4.10

[2018-09-18 13:41] aveshagarwal commented on #61886
There is one more:

[code]

[2018-09-18 13:47] tpepper commented on #67600
Since we'd previously discussed this not being a relevant test case, and it seems less appropriate even if it's this coupled to the dns implementation and we've got the kube-dns to coredns transition happening in the next release most likely....Can we just disable/remove the test?

[2018-09-18 13:52] henriksp commented on #49756
Has there been any development on this topic, looking at how to achieve zero-downtime upgrade for stateful services with a RWO PVC?

[2018-09-18 13:57] tpepper commented on #67606
FYI for anybody reading here, the @tossmilestone reference to this issue appears to be GitHub automation noting that our k/k issue #67606 is mentioned over in what is probably Alauda.io's productization of k8s, as they seem to be PR'ing in fixes from our master to their fork.  Ie: normal dev.  There's no additional fix known to be pending in some other repo which we need to track.

[2018-09-18 14:11] guineveresaenger commented on #68653
@dashpole @MrHohn @spiffxp further updates today?

[2018-09-18 14:19] andyzhangx commented on #67892
Update:
It's hard to fix this since in the beginning we cannot list ACR in another subscription, `registryClient.List(ctx)` will always list acr under current subscription, and without target loginServer address of ACR, we cannot get `registryRefreshToken`:
https://github.com/kubernetes/kubernetes/blob/3741f0262f2fa270e61cf175e573c69ff955f0ae/pkg/credentialprovider/azure/azure_credentials.go#L220

[2018-09-18 14:36] rezroo commented on #68717
I must have accidentally closed this issue. reopened.

[2018-09-18 14:37] krzysztof-jastrzebski commented on #68011
/reopen

[2018-09-18 14:46] losipiuk commented on #68011
/reopen

It seems this issue is not fixed.
@krzysztof-jastrzebski  and I were debugging issue with HPA scaling based on custom-metrics, where metrics are exposed via v1beta1 api.
It looks that conversion is not working properly. Here is what we are seeing.

* Pod (custom-metrics-adapter) is exposing metrics using v1beta1 API.
* Exposed metrics value is 200.
* HPA controller reads metrics and perfo

[2018-09-18 14:53] losipiuk commented on #68011
assign @DirectXMan12

[2018-09-18 15:00] jtolsma commented on #65317
Just tried to upgrade a cluster from 1.9.8 to 1.10.5 and had the same issue where Bearer tokens for OIDC clients are receiving 401's.  I have the same configuration as described in initial post.  Are there workarounds or fixed in other versions?

[2018-09-18 15:07] mcluseau commented on #64937
/remove-lifecycle stale

[2018-09-18 15:15] damemi commented on #68011
Could this be causing it? Looks like there were a number fields missed in the conversion functions: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/metrics/pkg/apis/custom_metrics/v1beta1/conversion.go#L38-L48