[2020-11-20 09:49] tosi3k opened #96746 "node-problem-detector does not discover OOMs in newer Linux kernels"
**What happened**:
In a cluster with NPD addon installed and Linux 5.1+ as the kernel OS of the nodes OOMs are not being captured by the NPD.

**What you expected to happen**:
NPD should inform about OOMs by emitting appropriate K8s events.

**How to reproduce it (as minimally and precisely as possible)**:
Create a K8s cluster with NPD addon and Linux 5.1+ installed on the nodes. Schedule a pod wh

[2020-11-20 09:50] tosi3k commented on #96746
/sig scalability
/sig node

I opened a fixing PR in https://github.com/kubernetes/kubernetes/pull/96716 but it's on hold since the Docker image of NPD v0.8.5 doesn't exist yet.

[2020-11-20 09:58] farvour commented on #52241
_yawn_...

Yep. Kind of surreal and unbelievable that nobody gives a shit about this problem and just takes the `ec2.internal` domain at face value and shrugging off the root of the issue: piss-poor decision-making on how to "authorize" the node with the cloud provider and then just sticking with that PrivateDnsName for :allthethings: moving forward.

I can't fight this too much as I haven't dug i

[2020-11-20 10:55] #96708 closed

[2020-11-20 11:00] RobertKielty commented on #94718
@ScrapCodes can you please report if this issue is still happening?

@hasheddan @justaugustus would either of you be able to introduce @ScrapCodes to community members who could investigate this issue? Many thanks all!

[2020-11-20 11:28] Moser-ss commented on #96714
@liggitt I think yes, I start to dig the discussion in #58477  and somehow I found the flag `--server-side` but that flag doesn't allow ports objects with same the protocol and port values
[code]
And that makes me think if I am trying something that is impossible to have. And that is 2 ports objects with same protocol and port but with different names

[2020-11-20 11:42] andrefsp commented on #92623
Hi there. I belive I've hit a relatable situation. In my case I would like to be able to create a service type load balancer that only forwards traffic to a specific node pool.

On GKE, when Service `type: LoadBalancer` is created, it will create a load balancer that forwards traffic to all nodes of the cluster. This will work fine if the Serve `externalTrafficPolicy` is set to `Cluster` but if is

[2020-11-20 12:11] ahg-g opened #96748 "Pod Topology Spread constraints should be taken into account on scale down"
**What would you like to be added**:
Pod topology spread constraints are currently only evaluated when scheduling a pod.

The ask is to do that in kube-controller-manager when scaling down a replicaset. The logic would select the failure domain with the highest number of pods when selecting a victim.

The risk is impacting kube-controller-manager performance.

**Why is this needed**:
To maintain t

[2020-11-20 12:12] ahg-g commented on #96748
/cc @janetkuo @alculquicondor @Huang-Wei

[2020-11-20 12:35] arjunrn commented on #89315
@zach-robinson It looks like this issue was fixed with this [PR](https://github.com/kubernetes/kubernetes/pull/89142)

[2020-11-20 12:45] Shridharbhandar commented on #83225
What have you done to troubleshoot the issue?

[2020-11-20 13:07] ahg-g commented on #96748
This means that controller-manager should start watching nodes, I am not sure if it does that already.

Other Questions:
- How would this combine with delete-priority (#1828)?
- Should we also consider other constraints like inter-pod (anti)affinity, node affinity and taints?
- If so, how should the rankings of different constraints be combined? additively just like we do in the scheduler?

I am i

[2020-11-20 13:27] #89315 closed

[2020-11-20 13:50] mborsz opened #96752 "Increase supported pod deletion rate"
**What would you like to be added**:

Currently garbage collector is using two api calls per a single object deletion. Given that the performance of controllers is limited by --kube-api-qps flag (set to 100 e.g. in our scalability tests), we can create pods with 100 pods/s churn, they are deleted with only 50 pods/s churn.

**Why is this needed**:
* Supporting high pod churn workloads
* Making sca

[2020-11-20 14:06] mborsz commented on #96752
/sig scalability

[2020-11-20 14:40] alculquicondor commented on #96748
delete-priority should take precedence.

As for performance, the current logic already takes into consideration active Pods per Node. So it wouldn't be much of a increase to do the same for other topologies.

[2020-11-20 15:25] steffakasid opened #96755 "Strange behavior of kubectl cp"
**What happened**:
Running kubectl cp two times isn't idempotent.
[code]
**What you expected to happen**:
I would expect that the second command would just overwrite the existing files (might also be useful if could be defined via -f option) or give an error:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Ku

[2020-11-20 15:28] steffakasid commented on #96755
/sig cli

[2020-11-20 15:34] RobertKielty commented on #96565
Although this test has failed for most of the time there are three times where it passed!

It has passed on these runs ...
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1329097884053803008
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1329158760937033728
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ub

[2020-11-20 15:39] painhardcore commented on #91552
@fedebongio maybe you can assign another member of the responsible team?

[2020-11-20 15:43] dudicoco commented on #68737
@jqx306 perhaps try using `VolumeBindingMode:     WaitForFirstConsumer`

[2020-11-20 16:16] jqx306 commented on #68737
@dudicoco Thank you for the suggestion. I did try that just now with the updated storage class and the PVC still goes into Terminating state after deleting with cascade=false.

[2020-11-20 16:19] liggitt commented on #96682
A single semver doesn't map well to a release that includes multiple APIs at different maturity levels evolving independently.

That is done on the individual API level.

Frequently incrementing the major version due to dropping pre-release features/versions that are not actually used by a particular cluster muddies the signal semver is intended to provide.

Along those lines, the metrics publishe

[2020-11-20 16:39] adtac commented on #96710
huh, the highqps client is getting fewer requests in. that's unexpected.

@lavalamp @MikeSpreitzer @yue9944882 what do you think about a lower threshold for the highqps client? the test is intended to test that the lowqps client can still get requests in, so I think we can relax the requirements on the highqps client (say 80% since it's operating at a concurrency far higher than its share). the lo

[2020-11-20 16:42] adtac commented on #96537
ack, closing in favour of https://github.com/kubernetes/kubernetes/issues/96648 which is more detailed in its description

[2020-11-20 16:42] #96537 closed

[2020-11-20 16:50] adtac commented on #96710
interestingly, I just saw a lowqps flake too: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/96722/pull-kubernetes-e2e-gce-ubuntu-containerd/1329697919141416960/

I'll try to reproduce and investigate this, but I heavily suspect the only solution might be relax both thresholds

[2020-11-20 16:59] Fizzbb commented on #58138
Please check your $GOPATH, I used /root/go as $GOPATH and had similar "cannot touch, or permission denied" error. Switching to path to /home/userXXX/go solved my problem.

[2020-11-20 17:00] thejoycekung opened #96757 "[Failing Test] [sig-auth] ServiceAccounts should mount projected service account token [Conformance] (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:
`ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`

**Which test(s) are failing**:
`[sig-auth] ServiceAccounts should mount projected service account token [Conformance]`

**Since when has it been failing**:
Since the test was enabled ~Nov 17 sometimes between 12:24PST and 16:26PST

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-info

[2020-11-20 17:00] msau42 commented on #96565
Looking, it seems like the secret directory is not getting deleted

[2020-11-20 17:02] liggitt commented on #96565
if there's clear correlation with https://github.com/kubernetes/kubernetes/pull/84206, should we revert it, given how close we are to release?

[2020-11-20 17:06] msau42 commented on #96565
Yes, it looks highly likely: https://github.com/kubernetes/kubernetes/pull/96758

[2020-11-20 17:31] aojea commented on #96724
Thanks Andres and Tim for the explanation, for the record, discussion is here
https://github.com/kubernetes/kubernetes/pull/96726#discussion_r527366498

[2020-11-20 17:31] #96724 closed

[2020-11-20 17:35] msau42 opened #96759 "Secret volume directories sometimes don't get cleaned up"
**What happened**:
Offshoot of https://github.com/kubernetes/kubernetes/issues/96565.  We had to revert
https://github.com/kubernetes/kubernetes/pull/84206 because it revealed that secret volume directories sometimes don't get cleaned up.

We should also investigate if other atomic writer volumes are impacted, like configmap, downwardAPI, etc.

**What you expected to happen**:
Volume directories s

[2020-11-20 17:35] msau42 commented on #96759
@kubernetes/sig-storage-bugs
/triage accepted

[2020-11-20 17:35] msau42 commented on #96565
Created https://github.com/kubernetes/kubernetes/issues/96759 to track the secret cleanup issue

[2020-11-20 17:37] btrx-rkazi commented on #47520
import os.path
import yaml
import boto3
from kubernetes import client, config
from auth import EKSAuth
from os import path

os.environ['KUBERNETES_SERVICE_HOST'] = 'kubernetes'
config.load_incluster_config()
# Configure your cluster name and region here
KUBE_FILEPATH = '/tmp/rconfig'
CLUSTER_NAME = 'pre-imputation'
REGION = 'us-east-1'

# We assume that when the Lambda container is reused, a kubec

[2020-11-20 17:52] thockin opened #96760 "ServiceStatus.LoadBalancer should be a pointer"
`omitempty` doesn't do what we want on a struct, so we always see this stanza in under `status`.  To fix this we'd need to fix the places that use it internally, obviously.

Minor, but persistently annoying.  I think we can do this with low impact internally but it would change to Go signature and so needs at least a relnote.

[2020-11-20 17:55] dkatipamula commented on #23864
Any update on the ability to expose a port range? I skimmed through the comments but couldn't find an answer.

Thanks!

[2020-11-20 17:58] nustiueudinastea commented on #23864
@dkatipamula you can't do it at the moment. You could do it programmatically via the API, by patching the service object, but not with the manifest itself. I hope this gets implemented at one point.

[2020-11-20 18:08] daveamit commented on #24027
For those who came here recently, --conntrack-max is now ( at time of v1.19.3) --conntrack-max-per-core

All you need to do it edit /var/snap/microk8s/current/args/kube-proxy and add --conntrack-max-per-core=0 at the end, save. Do `microk8s.stop` then `microk8s.start` ... this fixed for me.

[2020-11-20 18:10] jeremyrickard commented on #96565
Thanks for opening the revert PR @msau42!

[2020-11-20 18:13] msau42 commented on #96759
/assign @jingxu97

[2020-11-20 18:14] Abhinav054 commented on #47520
There seems to be some problem with your config file. Check it once if it
has the API endpoint correctly defined.

On Fri, 20 Nov 2020, 23:08 Riyaj Kazi, <notifications@github.com> wrote:

[2020-11-20 18:20] msau42 commented on #96734
In terms of best practices, applications should call fsync to flush their data to disk. Can we fix the test to fsync the data before deleting the pod?

[2020-11-20 18:23] jingxu97 commented on #96565
this only failed on ubuntu, not cos?

[2020-11-20 18:29] lavalamp commented on #96710
Given that the test cuts off right at the end without waiting for the final request(s) I think you should estimate the expected success percentage assuming a bunch of latency. You could also go the other way and estimate how much longer we need to wait to get to 95%.

Leave a big safety margin!

[2020-11-20 18:29] msau42 commented on #96565
Great question! looks like tests are passing on cos: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=never.*report.*success

So it seems OS specific

[2020-11-20 18:30] msau42 commented on #96759
Seems to be OS related, as the tests are passing on COS: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=never.*report.*success

[2020-11-20 18:30] SergeyKanzhelev commented on #96565
@msau42  you've been a few seconds faster than me answering it =)

[2020-11-20 18:59] ronaldpetty opened #96762 "Incorrect suggestion for missing field"
**What happened**:

Using the following yaml (which is incorrect), yields an incorrect suggestion to fix.

[code]

[code]

**What you expected to happen**:

I would have expected it to say:

[code]

**Environment**:

[code]

I am unclear what is required or optional per the actual pvcspec, but applying will fail unless you have resources.request.storage.  Or maybe that is some shorthand saying sto

[2020-11-20 19:00] ronaldpetty commented on #96762
/sig cli

[2020-11-20 19:22] wcurry opened #96764 "Unable to update LoadBalancer's TargetGroup: DuplicateTargetGroupName"
**What happened**:

kube-controller-manager was unable to update an AWS LoadBalancer's TargetGroup.

**What you expected to happen**:

TargetGroup is updated without error when hosts change.

**How to reproduce it (as minimally and precisely as possible)**:

This has only happened twice so far with only one of many LoadBalancer services.

**Anything else we need to know?**:

We encountered this er

[2020-11-20 19:28] wcurry commented on #96764
/sig cloud-provider

[2020-11-20 20:01] vikaskoppineedi opened #96765 "When both requests and limits are specified on a POD, What does kubernetes take into consideration to schedule the pod?"
Hello Team,

I have a question, could be a dumb one. When both Limits (more than requests) and Requests (less than limits) are specified on a POD. What does scheduler take into consideration for scheduling, is it Requests or limits?

I feel its definitely limits because, that is what the container can use max, if it was requests , if the pod wanted to use all the available specs mentioned in limit

[2020-11-20 20:02] vikaskoppineedi commented on #96765
/sig scheduling

[2020-11-20 20:06] Huang-Wei commented on #96748
+1 to Aldo that delete-priority should take precedence.

I think delete-priority, if approved, acts as an extensible hook for 3rd-party integrator to impact the down-scaling, for any feature. As it's not convinced (yet) how compelling that could be, I think for GAed feature like PodTopologySpread which have clear API semantics, the down-scaling optimization logic should be implemented in a more co

[2020-11-20 20:07] ahg-g commented on #96748
we should do both in the same way, best effort.

[2020-11-20 20:20] knabben opened #96766 "Kubelet Lock contention E2E node test"
**What would you like to be added**:

Node E2E tests for Kubelet lock contention flags:

- --exit-on-lock-contention
- --lock-file

**Why is this needed**:

These flags are being graduated to KubeletConfiguration on #91877, we should add E2E tests for these flags before proceeding.

[2020-11-20 20:20] knabben commented on #96766
/sig node
/wg component-standard

[2020-11-20 20:21] alculquicondor commented on #96748
We could choose to somehow honor `maxSkew`, but that's just going to make the algorithm unnecessarily complicated. We can simply select the Pods from topologies with less instances. In that sense, there wouldn't be any difference between hard and soft constraints.

Going into implementation details, we only need to change the Rank https://github.com/kubernetes/kubernetes/blob/78318c7a26928bdabe249

[2020-11-20 20:30] hasheddan commented on #96055
Did some digging and this changed in https://github.com/kubernetes/kubernetes/commit/4f8fb1d3ca5ac8cbacf814a75fbe92f7093bc23e, but is causing issues because of CAPG using new conformance tests against an old k8s version as describe in #96577. I'm going to see if we can address this skew.

[2020-11-20 20:32] MushuEE opened #96767 "[Kubectl set image --force] option?"
**What would you like to be added**:
I have a pod with:
[code]
It will always pull a new image on deploy but this same behavior doesn't seem to happen with `kubectl set image deployment/kettle kettle=***/kettle:<tag>`

If <tag> image was updated over the previous image <tag> it will not re-pull and recreate the deployment

**Why is this needed**:
When I want to redeploy with a new image of the sam

[2020-11-20 20:33] Huang-Wei commented on #96765
It's requests.

That's not the case. A Pod specifying requests less than limits indicates it's a burstable Pod. Requests specifies its minimum/guaranteed usage, while Limits specifies its maximum/burstable usage. A Pod that occupies exceeded requests may NOT be evicted (by kubelet) if kubelet doesn't fall into a resource shortage. More details can be found https://kubernetes.io/docs/concepts/confi

[2020-11-20 20:34] agaudreault-jive commented on #85395
I was also looking in a way to be able to set priority and weight on SRV records created by the service resource. Our use case is SIP as well. To have this working, we need to have our own DNS and to manage the SRV records with a distributed object store. Using services directly would allow us to get rid of all that.

Is there a KEP created for this or some progress that was made ?

a solution as

[2020-11-20 20:37] ahg-g commented on #96748
one nit here is that pod topology spread constraints could define a different set of selectors than the replicaset.

[2020-11-20 21:10] #96432 closed

[2020-11-20 21:14] troy0820 commented on #96762
@ronaldpetty The error you are seeing is coming from the validation of the yaml you asked `kubectl apply -f` to do.
Within this validation, the PersistentVolumeClaimSpecValidation is seeing if the resourceName (in this case storage) is set and if it isn't it will append the errors before being returned.
You can see the code block [here](https://github.com/kubernetes-csi/driver-registrar/blob/maste

[2020-11-20 21:24] msau42 opened #96769 "Move storage e2es off of busybox"
**What would you like to be added**:
Stop using the busybox image and move to something like agnhost

**Why is this needed**:
In non k/k ci clusters, we're hitting docker pull limits on busybox. A possible workaround is to configure mirroring, but that needs to be done during cluster setup. I think it would be better to just switch the e2e tests to use an image hosted on k8s.gcr.io

Background: ht

[2020-11-20 21:25] msau42 commented on #96769
@kubernetes/sig-storage-feature-requests
/help

[2020-11-20 21:28] MushuEE commented on #96767
/sig cli

[2020-11-20 21:30] ronaldpetty commented on #96762
Thanks Troy for the detailed response.  I reviewed the code and still need
to think about it.

resources.requests.storage is correct

requests is a subkey of resources, storage is not, it is a sub-sub-key.

That said, it seems like a step is missing, why is verifying storage before
requests?  For ex. line 1809 is using requests, yet it wasn't specified in
the yaml, meaning it defaulted.  If that i

[2020-11-20 21:39] jingxu97 commented on #96565
Chris and I were debugging it, seems something strange happened with os.RemoveAll() in Ubuntu. Will update more details in issue #96768

[2020-11-20 21:41] soltysh commented on #36304
Yeah, that's fair. That enhancement is covering all the topics here and is backlinking here too.
/close

[2020-11-20 21:41] #36304 closed

[2020-11-20 21:53] spiffxp opened #96770 "Use k8s.gcr.io/e2e-test-images instead of gcr.io/kubernetes-e2e-test-images for e2e test images"
Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

We should migrate away from the google.com-owned gcr.io/kubernetes-e2e-test-images and instead use the community-owned k8s.gcr.io/e2e-test-images repository.

Affected images are those that use `E2eRegistry` or `E2eVolumeRegistry`.  ~We may also wan

[2020-11-20 21:53] spiffxp commented on #96432
Opened https://github.com/kubernetes/kubernetes/issues/96770 as followup to actually use these images

[2020-11-20 21:58] troy0820 commented on #96762
@ronaldpetty Line 1089 is checking the existence of the value for the requests key. If the value doesn't exist, then it adds the error.  So in your yaml definition:
[code]
since it doesn't see the key `requests` , the subkey (storage), and value, it adds the error of the resourceName "storage" in this case because that is the resource it will create on the claim.

Also in this [link](https://kuber

[2020-11-20 22:01] ronaldpetty commented on #96762
Troy,

I agree on the last point, which is what I was believing.  That said, for
this yaml, I would still argue its not what 'it's' spec wants, which to me
is confusing.  Suppose can close as I think this is just a difference in
viewpoints (straight yaml of PVC versus semantic relationship to other
resources).

Ron

On Fri, Nov 20, 2020 at 1:58 PM Troy Connor <notifications@github.com>
wrote:

[2020-11-20 22:14] troy0820 commented on #96762
@ronaldpetty With the resource model, I can understand how the error with `spec.resources[storage]` should look expect to look like `spec.resources.requests[storage]`. The resourceName type itself lends itself to use this functionality across the platform using the same resource model with error messages.  Since the model is the same, I would like to think that the implication of requests/limits w

[2020-11-20 22:17] ronaldpetty commented on #96762
Thanks @troy0820 I will noodle more on it!  Non-issue I suppose, have a good weekend.

[2020-11-20 22:17] #96762 closed

[2020-11-20 22:25] apelisse commented on #75564
Thanks for applying the label @erismaster, that's indeed our target :-)

[2020-11-20 22:28] lavalamp commented on #96486
cc @roycaihw API server identity + storage coordination could eventually solve this...

[2020-11-20 22:33] apelisse commented on #96688
Let me attempt to split this issue into a few separate dimensions, which are not strictly orthogonal:
1. Do we want to track fields changed by admission-chain, and give them their own "managedfields"
   a. If we have managedFields for admission-chain, is there a relationship between the admission-change and the request that initiated the change or not?
2. Do we want to allow admission-chain to alt

[2020-11-20 22:36] spiffxp commented on #96524
/reopen

re: https://github.com/kubernetes/kubernetes/issues/96524#issuecomment-727100020

I disagree with the idea that a single test covering CRUD operations means RuntimeClass is now conformance tested.

Generic CRUD on a resource's API is not sufficient to describe the intended behavior of the resource.  That kind of test is at best verifying that api machinery is working.  A vendor would able

[2020-11-20 22:40] spiffxp commented on #96524
I'm not familiar enough with runtimeclass to know whether these would be a good start: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=RuntimeClass

[2020-11-20 22:49] spiffxp commented on #94528
Does this still warrant `priority/critical-urgent`?

![Screen Shot 2020-11-20 at 5 45 47 PM](https://user-images.githubusercontent.com/49258/99856994-3b7b8800-2b58-11eb-8a80-d02cb576724e.png)

/remove-kind failing-test
/kind flake
This job is not continuously failing. It is occasionally flaking. I would suggest opening issues for the specific tests that are still hotspots mentioned by @liggitt in

[2020-11-20 22:49] soltysh commented on #65517
The root of the problem is that the `shortcutExpander` is run before the discovery. So in this particular case this line https://github.com/kubernetes/kubernetes/blob/2ea6828ea0803e188a6a7c4a6581f522865ae8f3/staging/src/k8s.io/client-go/restmapper/shortcut.go#L46 continues to `RESTMapper` b/c `shortcutExpander` read cached data and never reached out to server. Whereas discovery mapper in https://g

[2020-11-20 22:51] spiffxp commented on #87807
Does this still warrant `priority/critical-urgent`?
![Screen Shot 2020-11-20 at 5 49 59 PM](https://user-images.githubusercontent.com/49258/99857270-d83e2580-2b58-11eb-8326-bbbb3d58913d.png)

I would suggest closing this out; no activity in 90+ days

[2020-11-20 23:06] ganga1980 commented on #90066
Hi, @apelisse, Due to addition managedFields metadata, payload of the every object got increased by 40%. For example, for simple nginx pod, before <1.18,  response was ~6KB and  >=1.18, response is 10KB.  Ours is monitoring application, we use k8s apis to get  the response of all objects (chunked fashion) and we dont use this field.  The additional payload significantly costing the cpu and memory.

[2020-11-20 23:10] aojea commented on #96770
/cc

[2020-11-20 23:14] soltysh commented on #65517
See #96771 for possible approach.

[2020-11-20 23:17] spiffxp commented on #96770
/triage accepted

[2020-11-20 23:28] misterikkit commented on #96770
+1 to pushing `DockerLibraryRegistry` images to k8s.gcr.io as I have been seeing tests fail due to dockerhub rate limiting this week.

[2020-11-20 23:42] mateuszlitwin opened #96772 "concurrent map writes in VolumeBinding plugin during Filter"
**What happened**:

`fatal error: concurrent map writes` during `Filter` phase from the `VolumeBinding` plugin when the `podVolumesByNode` is updated:

[code]

**What you expected to happen**:

Not crash.

**How to reproduce it (as minimally and precisely as possible)**:

I am suspecting that the issue is in the naive implementation of the `stateData`'s `Clone()` method:

[code]

Most likely the `

[2020-11-20 23:45] mateuszlitwin commented on #96772
/sig scheduling

[2020-11-20 23:45] SergeyKanzhelev commented on #96524
Thank you for reopening. I agree with this in principle. But I really would appreciate some guidance here.

Scheduling tests that takes runtime handler into account are great. However they don't hit any endpoints. I asked [here](https://github.com/kubernetes/enhancements/issues/757#issuecomment-726427165) and I'm not clear whether those needs to be covered as they are not touching an API.

As for

[2020-11-20 23:48] mateuszlitwin commented on #96772
It looks like relevant code is from https://github.com/kubernetes/kubernetes/pull/92222 and mutex per `stateData` was considered intially. CC @cofyc @ahg-g

[2020-11-21 00:03] #96519 closed

[2020-11-21 00:13] thockin commented on #95587
I looked quickly at only defaulting fields under Pod when actually under a
Pod and, of course, it's not easy.  Some types are used in other places
(e.g. PVs) so simply merging the defaulting function into the pod function
will not work.  Adding a Typedef fails for other reasons (API rule
violation: list_type_missing...)

We can't have a permanent moratorium on this

On Mon, Nov 9, 2020 at 9:40 AM

[2020-11-21 00:27] lavalamp commented on #95587
On what?

Improving this by changing defaults just isn't going to work due to mutating admission webhooks being able to make arbitrary changes.

Controllers have to tolerate unexpected defaults.

[2020-11-21 00:39] dambrogia commented on #30148
I ran into this error with minikube while trying to pull containers from ECR. I had to follow the instructions [here](https://minikube.sigs.k8s.io/docs/handbook/registry/#using-a-private-registry) to allow minikube to authenticate to ECR on my behalf.

[2020-11-21 00:40] ruiwen-zhao commented on #96641
See `--pod-eviction-timeout duration` on https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/, which is 5 min by default.

[2020-11-21 00:45] andrewsykim commented on #96670
Can you reproduce this consistently?

[2020-11-21 00:48] andrewsykim commented on #96449
Circling back to this, there's a known bug with IPv6 + CentOS 7 on IPVS that was not fixed until v1.18.

[2020-11-21 00:49] thockin commented on #95587
I meant that we can't have a moratorium on any new fields with default
values that are transitively under Pod.  This is effectively what we have
today.

On Fri, Nov 20, 2020 at 4:27 PM Daniel Smith <notifications@github.com>
wrote:

[2020-11-21 00:50] andrewsykim commented on #96449
I'm also curious how your kernel version `5.9.6-1.el7.elrepo.x86_64` on CentOS 7, isn't CentOS 7 typically on 3.10?

[2020-11-21 00:52] lavalamp commented on #95587
We should not have that moratorium today, controllers broken by that will (probably) also be broken by a mutating admission webhook.

[2020-11-21 01:45] jingxu97 commented on #96565
Some updates.

Both COS and Ubuntu have test failures, but Ubuntu has much more frequent failures, especially on Ubuntu with docker. The failure frequency
gce-ubuntu-master-default  >> gce-ubuntu-master-containerd >> gce-cos-master-default

Actually I don't think os.RemoveAll has issues here, because otherwise, a lot more tests will fail.
The only failed test now is
[code]

This tests for testing

[2020-11-21 02:04] #92231 closed

[2020-11-21 02:40] aleiphoenix commented on #94335
Reproduced with k8s 1.19.3 on Gentoo. The rootfs is btrfs, `/var/lib/kubelt` is on rootfs, docker is configured with storage drigver `overlay2` .

`kubeadm init` automatically mount `/var/lib/kubelt` and unmount it on `kubeadm reset`.

Also confirmed bind mount workaround helps.

[2020-11-21 02:59] liggitt commented on #95587
There are two scenarios that have to be fixed before this can be relaxed:

1. API server upgrade triggers new rollout of a workload with no changes/writes to the workload object, due to a delta between the read object and the snapshotted controller revision. An example was the procMount defaulting which caused a daemonset or deployment to replace all its pods on API upgrade.

2. API server upgrade

[2020-11-21 04:28] Cweiping commented on #93325
/remove-lifecycle rotten

[2020-11-21 05:17] apelisse commented on #90066
How about the following two things:
1. We create a new apiserver option that says "don't give me the managed fields", and we would remove it before sending it over the wire (@wojtek-t can we do that, or would this be difficult because of various caching mechanism?)
2. We add a corresponding output format in kubectl, e.g. `-o short` (that's a bad name, please suggest something better 😂 ) that trigg

[2020-11-21 05:37] ganga1980 commented on #90066
Thanks @apelisse  for the response.

[2020-11-21 05:39] apelisse commented on #90066
I would think so, but that might depend on internal constraints related to how watch (and especially their caches) are implemented.

I'm not convinced an extra field is necessary. It strictly not orthogonal to `-o`, since the option would be a no-op for all but `-o json`, `-o yaml`?

[2020-11-21 06:17] Huang-Wei commented on #96772
There are two-level state: the first one in scheduler framework level, which is passed to `Filter()` via `cs *framework.CycleState`; the second is managed by plugin itself, in term of VolumeBinding it's `volume_binding.go#stateData`.

Given that multiple goroutines may run Filter() on different nodes simultaneously, the following code are not protecting the second-level state:

https://github.com/

[2020-11-21 06:25] caesarxuchao commented on #96486
Currently the discovery document is served from memory. The discovery document needs to be stored in etcd for HA apiservers to coordinate the content.

@lavalamp can you explain more on https://github.com/kubernetes/kubernetes/issues/96486#issuecomment-731439871?

[2020-11-21 07:22] cofyc commented on #96772
IIUC, the `framework.CycleState` will be duplicated in `addNominatedPods` for every node before passing to `Filter` extension point.

https://github.com/kubernetes/kubernetes/blob/ece591f7226696790cd27a4386b128082b268462/pkg/scheduler/core/generic_scheduler.go#L442-L460

https://github.com/kubernetes/kubernetes/blob/ece591f7226696790cd27a4386b128082b268462/pkg/scheduler/core/generic_scheduler.go#L

[2020-11-21 07:37] jingxu97 commented on #96565
I almost certain this is a race between emptyDir volume teardown and CreateContainer by kubelet.

This particular test is trying to start a pod, and then almost immediately delete it before the pod is started. (Other tests normally will wait for pod to start and then delete it).

The following will happen
1. pod is created: emptyDir volume is setup and ready
2. kubelet checks volumes are ready by

[2020-11-21 07:39] jingxu97 commented on #96759
I almost certain this is a race between emptyDir volume teardown and CreateContainer by kubelet.

This particular test is trying to start a pod, and then almost immediately delete it before the pod is started. (Other tests normally will wait for pod to start and then delete it).

The following will happen

pod is created: emptyDir volume is setup and ready
kubelet checks volumes are ready by check

[2020-11-21 07:41] jingxu97 commented on #96565
So I think the reverted PR #96759 logic is correct, but it discover an issue which was hidden before.

[2020-11-21 08:11] Huang-Wei commented on #96772
Exactly, for now, all other Filter plugins are reading from CycleState without reading lock. This was debatable, we noticed out-of-tree plugin developers raised this concern, see #95887. But now this issue provides a strong data point to prove reading lock is necessary for all in-tree Filter/Score plugins - which I'm following on a fix and benchmark results, but unfortunately it's too late to catc

[2020-11-21 08:34] ialidzhikov commented on #87336
/remove-lifecycle stale

[2020-11-21 08:54] Huang-Wei commented on #96772
@cofyc I may have given an incorrect analysis as VolumeBinding's plugin-specific state are always using the same pointer, sorry for the confusion. I removed the confusing comments. It's actually different from what was discussed in #95887.

Your and @mateuszlitwin 's analysis make more sense to me. For nodes that have nominated nodes (cloned CycleState) or not (original CycleState), the original m

[2020-11-21 09:23] harshthakur9030 commented on #95759
/assign @harshthakur9030

[2020-11-21 09:29] terzonstefano commented on #72102
**Deploying flannel network manually**

Flannel can be added to any existing Kubernetes cluster though it's simplest to add flannel before any pods using the pod network have been started.

For Kubernetes v1.17+ kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

#############################################################

**Quickstart for Cal

[2020-11-21 10:13] sroze commented on #57187
@kscharm didn't get any feedback unfortunately so didn't go ahead. If you know an alternative to pinging @tallclair that'd be great :)

[2020-11-21 10:38] daixiang0 commented on #92410
update

[2020-11-21 11:32] fighterhit opened #96779 "Kubelet return error when device plugin set PreStartRequired option true but container request 0 resource."
**What happened**:
When I register a device plugin and set the `PreStartRequired` option in `DevicePluginOptions` true, then when I create a pod and specify this resource as 0 in yaml, an error will be reported. Examples are as follows.

- The request to register the device plugin
[code]
- A pod yaml with the resource 0
[code]
- kubelet return error
[code]

**What you expected to happen**:

I thin

[2020-11-21 11:34] fighterhit commented on #96779
/sig node

[2020-11-21 14:31] chenyw1990 commented on #96635
/assign

I have found the reason, i will fix it.

[2020-11-21 14:33] #96746 closed

[2020-11-21 14:52] xing-yang opened #96782 "Description for CSIDriver needs an update"
**What happened**:
The following comments stated that `cluster-driver-registrar` sidecar is used to create `CSIDriver` object, but that is already deprecated.
https://github.com/kubernetes/kubernetes/blob/v1.20.0-beta.2/pkg/apis/storage/types.go#L227-L229

**What you expected to happen**:
It should state that `cluster-driver-registrar` is deprecated and a CSI driver's deployment manifest must cont

[2020-11-21 14:52] xing-yang commented on #96782
/sig storage

[2020-11-21 14:52] xing-yang commented on #96782
CC @msau42

[2020-11-21 14:54] xing-yang commented on #96782
@kubernetes/sig-storage-bugs
/triage accepted

[2020-11-21 14:55] jlsong01 commented on #96782
/assign

[2020-11-21 15:38] wawa0210 commented on #96767
/assign

I can investigate

[2020-11-21 15:46] #93818 closed

[2020-11-21 16:18] #92432 closed

[2020-11-21 16:26] tharun208 commented on #96664
I like to work on this

[2020-11-21 17:09] ahg-g commented on #96772
@mateuszlitwin can you please post the actual core dump, the description in the original comment doesn't seem complete.

If the "concurrent map" fatal error is indeed happening at `state.podVolumesByNode[node.Name] = podVolumes`, then it means we are operating on two different CycleStates instances at the same time, which may happen when adding nominated pods (https://github.com/kubernetes/kuberne

[2020-11-21 17:15] ahg-g commented on #96772
please fix the lint issue (indentation of the comment)

[2020-11-21 17:22] daniel-ke opened #96786 "large latency in pod network operations when NodePort services with a lot of ports are created"
**What happened**:
In an kubadm generated IPV4/IPV6 dual Stack cluster ( 3 control plane nodes with taint removed to allow pod execution - each node has 2 core/16G mem/100G disk)

As required by our use case, created a number of services (21) with 4 services (2 ipv4 and 2 ipv6) each containing 80 nodePorts (with externalTrafficPolicy: Local) as well as associated deployments and daemonsets ( 36 po

[2020-11-21 17:23] daniel-ke commented on #96786
/sig network

[2020-11-21 21:19] clarkmcc commented on #7923
@lavalamp it seems like there are a lot of cases where we would need the ability to stop but don't have access to a propagated context. The nice thing about the bare `<-chan struct{}` is that you can use it anywhere. Some of the lower level areas of the code base don't have access to a context. Thoughts?

[2020-11-21 21:58] sfudeus commented on #96148
@mooperd
In case you'd be using docker as your underlying container runtime, you can set a registry mirror in docker's [daemon.json](https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-configuration-file) or the argument `--registry-mirror` to `dockerd`. Every image repo which is not prefixed with a hostname is then looked up directly in the mentioned mirror (falling back to the d

[2020-11-21 23:08] ianhundere commented on #50375
+1

[2020-11-21 23:26] clarkmcc commented on #96731
I'm proposing adding a field `FailedPeriodSeconds` to v1.Probe in #96788 which determine the probing period for any probe (readiness, liveness, or startup) whose previous probe failed. This would solve the OPs problem of an alternate probing period "whenever we are not ready". You'd be able to do something like

[code]
which would result in checking for readiness every second until the container b

[2020-11-21 23:45] clarkmcc commented on #96614
I believe that this is expected behavior. I'll report my findings and we'll see if someone who knows this better then me can confirm. The `InitialDelaySeconds` prevents a probe from running before the delay has passed always. So I would imagine that you're at least seeing that the probes aren't occurring before that initial delay.

https://github.com/kubernetes/kubernetes/blob/b2ecd1b3a3192fbbe2b9

[2020-11-21 23:46] clarkmcc commented on #96614
/sig Node

[2020-11-22 00:21] liggitt commented on #96714
Correct. The fact that it is permitted to be persisted is the bug.

[2020-11-22 01:33] liggitt commented on #96757
This is the same issue as https://github.com/kubernetes/kubernetes/issues/96577

This job is running tests from the master branch against the 1.19 release. Once this runs tests from master against the 1.20 release, this will start passing.

/remove-sig auth

[2020-11-22 04:56] jingxu97 commented on #51835
@discanto thanks for sharing this information. Is the problem being fixed or tracked?

@Random-Liu

[2020-11-22 05:19] jingxu97 commented on #51835
The bug has opened more than 3 years. Pods stuck on terminating could be caused by a variety of reasons. When reporting your case, it would be very helpful to post some of the kubelet logs to see whether the pods stuck.

[2020-11-22 05:25] cheeseandcereal commented on #46861
This issue still occurs, and it seems to be due to a bug in how `kubectl apply` generates the patch request body.

What's interesting, is changing between `value` <-> `valueRef` works if you do a `kubectl edit`, but not if you do a `kubectl apply`. Because of this, I dug a bit deeper:

Take the following deployment as an example:
[code]

Apply this yaml to your cluster (`kubectl apply -f nginx.yam

[2020-11-22 06:47] eranreshef commented on #95546
@adeniyistephen seems that it is still open

[2020-11-22 07:08] tharun208 commented on #96700
@fedebongio I like to work on this, can i work on this ?

[2020-11-22 07:20] adeniyistephen commented on #95546
@liggitt @k8s-ci-robot I would love to work on this, Please provide pointers and input on how to work on it. Thanks

[2020-11-22 07:30] mooperd commented on #96148
@sfudeus, i think that only works on RHEL nodes.

[2020-11-22 07:31] xeronix opened #96791 "kubect copy issue - command does not copy directory but copies directory content"
Ran following command:
Command 1 -> kubectl cp infadomain/infadomain-0:/home/Informatica/K8sVolume/**SystemLog** infadomain_K8s
Command 2 -> kubectl cp infadomain/infadomain-0:/home/Informatica/K8sVolume/**SystemLog/** infadomain_K8s

**What you expected to happen**:
Command 1 should copy SystemLog directory.
Command 2 should copy content of SystemLog directory.
Both copies content of SystemLog di

[2020-11-22 08:30] jingxu97 commented on #96734
For linux, it seems possible. But windows, it is harder. Need to figure out how to enable write through mode for writing files
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/0e0b734b-2b73-414d-8833-8d2eed7043f6/sync-directories-on-windows?forum=windowsgeneraldevelopmentissues

[2020-11-22 08:31] wawa0210 commented on #96767
Looking at the source code, when the tag of the pod image has not changed, executing patch or apply multiple times has no effect. Because the yaml is the same during the check.
If we want to implement this feature, apiserver should also need to be adjusted, I have no better idea

[2020-11-22 08:31] carlory commented on #96303
@gautierdelorme Any update about it? If not, I'm happy to work on

[2020-11-22 09:32] gautierdelorme commented on #96303
@carlory Yes I’m still on it. I’m just having a hard time testing my local kubernetes/kube-openapi changes in my local kubernetes/kubernetes branch. A simple replace directive in the go.mod doesn’t seem to work and running update-vendors.sh removes it.

[2020-11-22 09:48] george-angel commented on #67730
/remove-lifecycle stale

[2020-11-22 10:45] sfudeus commented on #96148
@mooperd, that definitely works throughout the debian world and e.g. even in FlatCar ContainerLinux

[2020-11-22 11:50] dominicpg opened #96793 "inappropriate event logs during namespace destroy"
**What happened**:
events generated during namespace destroy is inappropriate.

**What you expected to happen**:
appropriate event logs are expected

**How to reproduce it (as minimally and precisely as possible)**:
1) create namespace and initiate pod ( I have supplied ns in pod manifest )
2)  watch events.
3) No resource clean-up (ie no kubectl delete pod) , just delete namespace created in step

[2020-11-22 13:00] gseidel commented on #96589
My problem as a beginner to kubernetes was to get the informations about what is going wrong if something don't work as expected. I miss to pass more information to this ticket because it's hard to get .

The command `journalctl -u kubelet` just prints everything since installation. And `journalctl -xeu kubelet` to less to help me seeing any problem.

For me, the best way, to get the information w

[2020-11-22 13:00] #96589 closed

[2020-11-22 13:58] jlsong01 commented on #96791
/assign

[2020-11-22 14:27] eth0xFEED commented on #96786
/assign eth0xFEED

[2020-11-22 14:28] rikatz commented on #96786
/assign @jayunit100

[2020-11-22 14:36] mattfenwick commented on #96786
https://github.com/kubernetes/kubernetes/pull/94015 could be related -- could help reduce some variables in this issue by providing network-performance data for your cluster.

https://github.com/Pharb/kubernetes-iperf3 is a nice way to get iperf3 results super quick!

[2020-11-22 14:36] Moser-ss commented on #96714
@liggitt So the real bug is the fact Kubernetes allows to apply the Pod manifest we have in the file `testpod-v2.yaml` where we define 2 Ports with the same `containerPort` and `protocol` and different name

[2020-11-22 14:43] xiaods commented on #5774
@andyxning  any update on it.

[2020-11-22 15:48] troy0820 commented on #96791
/sig cli

[2020-11-22 17:05] jingxu97 commented on #92044
/remove-lifecycle rotten

[2020-11-22 17:07] jingxu97 commented on #92044
@Jiawei0227 do you want to take it?

[2020-11-22 18:19] marianopw commented on #86138
/reopen
Can we please add an abbreviation for clusterrolebinding? Thanks!

[2020-11-22 18:28] marianopw opened #96795 "shortname for clusterrolebindings"
**What would you like to be added**: It would be great to have a shortname for clusterrolebindings

**Why is this needed**:  Because clusterrolebindings is one of the longest api-resources to type

[2020-11-22 20:00] raravena80 commented on #69311
/remove-lifecycle stale

[2020-11-22 20:04] neolit123 commented on #96795
/sig cli

[2020-11-22 20:05] neolit123 commented on #96793
/sig instrumentation

[2020-11-22 21:40] citananda commented on #96380
Finally I decided to run backupninja in a cronjob, and to set file permissions I create it with a script on job start.
So this problem is not solved, but I find a way to make it work

[2020-11-22 21:47] #92389 closed

[2020-11-22 21:57] clarkmcc commented on #96795
We should be able to fix this by implementing the `rest.ShortNamesProvider` for the `ClusterRoleBinding` `RESTStorage`. Anyone opposed to me making a PR for this?

[code]

[2020-11-22 22:04] Jiawei0227 commented on #92044
Sure. So I am wondering we do want this to be a required field? Or loose the validation?

[2020-11-22 22:38] robscott commented on #91072
/remove-lifecycle stale

[2020-11-22 22:48] #92155 closed

[2020-11-22 22:49] dpoetzsch commented on #70732
The fix is: `imagePullSecrets` must be specified on top level under `spec.template.spec`. It then is used for both the initContainers and normal containers.

[2020-11-22 23:06] jayunit100 commented on #96786
Yeah, good point @mattfenwick .....

... Can you paste results from the iperf3 tests from pharb?

[2020-11-22 23:53] jingxu97 commented on #92044
I don't think we want to lose validation. Create a volume without specifying a request size does not work. Pls note only request is needed, I am also wondering whether it is ok to change from optional to requirement in API. You can make a PR and see what comments from reviewers.

From what I understand, just remove //+optional line to make it as required..?

[2020-11-23 01:20] sudo-justinwilson commented on #96733
I have isolated this issue to a `cluster-autoscaler` issue. So I will close this issue and open up a new issue in the cluster-autoscaler repository. Cheers.

[2020-11-23 01:20] #96733 closed

[2020-11-23 02:13] hormes commented on #96082
It just slowed down the efficiency of the entire system recovery from failure, and did not really solve the problem.

Yeah, WATCH with rv=0. But the current reflector does not work like this, the entire controller and operators ecosystem depend on the LIST operation.

[2020-11-23 03:57] howardjohn commented on #96731
Fantastic @clarkmcc, to me that seems like the ideal solution.

[2020-11-23 05:57] MushuEE commented on #96767
Thank you for looking into it

[2020-11-23 05:57] #96767 closed

[2020-11-23 07:34] olemarkus opened #96799 "Inconsistent behaviour of cabundle for webhooks and apiservices"
**What happened**:

Both `APIService` and webhookclientconfig (e.g `MutatingWebhookConfiguration`) has a `caBundle` field that states "If unspecified, system trust roots on the apiserver are used.".

For webhokclientconfig, this includes the cluster CA (used by kube-apiserver), for `APIService` it does not. If you have an apiregistration and you omit it, apiserver will complain about unknown CA. I

[2020-11-23 07:37] mborsz commented on #96038
The testgrid seems to be frozen at 11-18: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

I manually checked results after: 1329107457909198848

There are few failures:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1329922965889880064/
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-p

[2020-11-23 07:57] #89466 closed

[2020-11-23 08:47] mborsz commented on #96038
Frozen testgrid is a known issue: https://github.com/kubernetes/test-infra/issues/20010

[2020-11-23 09:28] ScrapCodes opened #96803 "[Flaking Test][sig-api-machinery] API priority and fairness should ensure that requests can be classified by testing flow-schemas/priority-levels"
**Which jobs are flaking**:
kind-master-parallel
ci-kubernetes-kind-e2e-parallel

**Which test(s) are flaking**:

 [sig-api-machinery] API priority and fairness should ensure that requests can be classified by testing flow-schemas/priority-levels

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel

**Reason for failure**:

[code]

**Anything else we need to

[2020-11-23 09:29] ScrapCodes commented on #96803
/sig api-machinery

[2020-11-23 09:42] chenyw1990 opened #96804 "The ContainerStatuses of pod does not change to not ready when the container without readinessprobe exits abnormally"
What happened:
The ContainerStatuses of pod does not change to not ready when the container without readnessprobe exits abnormally

![image](https://user-images.githubusercontent.com/1468240/99946556-804e2b80-2db1-11eb-9c9b-e157bb3a4165.png)

What you expected to happen:
ContainerStatuses change to not ready when  the container without readnessprobe exits abnormally

How to reproduce it (as minima

[2020-11-23 09:43] chenyw1990 commented on #96804
/sig node

[2020-11-23 09:43] chenyw1990 commented on #96804
/assign

[2020-11-23 09:43] pacoxu commented on #96793
If you watch events, the watcher will get the deleted event when you delete it.

Event is a namespaced resource, so event cannot be created in a terminating namespace.

You can refer to
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#namespacelifecycle

The pod deletion events are recorded by kubelet. You can find you  kubelet logs for
[code]

Event for the terminati

[2020-11-23 10:18] ScrapCodes commented on #96803
Some interesting facts: Last failure was on 2020-11-18 20:37:19.

But this was changed (significantly) around the same time: https://github.com/kubernetes/kubernetes/commit/bcd3db095f8fcd0199b0b4efde6adb48fd7f54fe#diff-8272553f8f7c5ecaedd448a76b5688cec1eb280c5cd46cc85a0555e6bdf3b445

So, may be I should wait more, to have logs from the runs of latest code.

cc @adtac FYI.

[2020-11-23 10:32] Marek00Malik commented on #44528
has there been any work on this ?

[2020-11-23 10:42] daniel-ke commented on #96786
Here are the results of iperf3.
As I understand it, iperf3 makes a connection then pumps as much data as possible through on that persisted connection.  I guess these results eliminates any general network slowdown, but I'm not sure this sheds much light on this issue, as we have stateless http calls between nodes, and the telnet examples I showed did not send any data - so perhaps its more an iss

[2020-11-23 10:43] kpe commented on #62434
/remove-lifecycle stale
@kubernetes/sig-architecture-feature-requests
Can we add support for allowing an RR_SCHED in k8s containers, i.e. allowing to pass `cpu.rt_runtime_us` as a container configuration property, in a similar way, how this is possible in docker (`--cpu-rt-runtime`).

[2020-11-23 11:01] mborsz commented on #96038
I would like to emphasize that the event-etcd restarts we are occasionally seeing is a test issue and not a kubernetes codebase issue and **it shouldn't be considered as a release blocking issue**.

We started seeing those flakes after making the test faster and we think we roughly understand where the issue is. We are working on a fix.

[2020-11-23 11:03] wojtek-t commented on #96038
@hasheddan - just to ensure you're aware that this should NOT be treated as release blocker.

[2020-11-23 11:11] mm4tt commented on #96038
/cc

[2020-11-23 11:12] btrx-rkazi commented on #47520
Kind: config
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: <<Removed data>>
    server: <<removed data>>
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: aws
current-context: aws
users:
- name: aws
  user:
    name: lambda

[2020-11-23 11:15] Abhinav054 commented on #47520
I am talking about KUBE_FILEPATH = '/tmp/rconfig' . Please check this file
there seems to some error with it , it generally holds a endpoint for the
api server to which your kubectl connects.

On Mon, Nov 23, 2020 at 4:42 PM Riyaj Kazi <notifications@github.com> wrote:

[2020-11-23 11:17] btrx-rkazi commented on #47520
This is the file i m passing as rconfig

[2020-11-23 11:21] Abhinav054 commented on #47520
Given below is the sample config file for eks. Also have a look at
https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html for
how to generate the eks config.

apiVersion: v1
clusters:
- cluster:
    server: <endpoint-url>
    certificate-authority-data: <base64-encoded-ca-cert>
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: aws
current-contex

[2020-11-23 11:36] btrx-rkazi commented on #47520
below is my current config
====================
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: <Removed>
    server: https://<removed>.gr7.us-east-1.eks.amazonaws.com
  name: pre-imputation.us-east-1.eksctl.io
- cluster:
    certificate-authority-data:<removed>
  server: https://<removed>.gr7.us-east-1.eks.amazonaws.com
  name: arn:aws:eks:us-east-1:<removedaccountname>:cluste

[2020-11-23 11:38] Abhinav054 commented on #47520
Now looks fine should connect , can you try connecting with kubectl first
and then try the python version.

On Mon, Nov 23, 2020 at 5:06 PM Riyaj Kazi <notifications@github.com> wrote:

[2020-11-23 11:40] btrx-rkazi commented on #47520
role.yaml
========
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: lambda-access
  namespace: default
rules:
- apiGroups: [""]
  resources: ["pods", "jobs"]
  verbs: ["create", "get", "watch", "list", "delete"]

RoleBinding.yaml
==============
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: lambda-user-role-binding
  namespace: default
subjects:
-

[2020-11-23 11:45] Abhinav054 commented on #47520
what are you trying to do exactly ? Using lambda functions to syncronize
the iam user roles to eks rbac ? If that is true I think you are on
the right track, kindly tell me what kind of error are you facing now.

On Mon, Nov 23, 2020 at 5:10 PM Riyaj Kazi <notifications@github.com> wrote:

[2020-11-23 12:24] wojtek-t commented on #96752
Re "why":
- high-churn workloads is something that we should be focused
- I wouldn't explicitly mention speeding up tests as the goal itself, we probably could come up with other ways to solve that too.
But the first one is a compelling enough reasons and I fully support it.

Re solution itself:
- option 1: what if the option present in cache is stale?
    We currently don't set any preconditions

[2020-11-23 12:35] btrx-rkazi commented on #47520
i want to execute eks jobs using lambda. Hence i created user called lambda and given him only permission for pod and job.

when i add os.environ['KUBERNETES_SERVICE_HOST'] = 'kubernetes'
config.load_incluster_config()

i am getting below error now

Traceback (most recent call last):
  File "main.py", line 50, in <module>
    handler()
  File "main.py", line 33, in handler
    config.load_incluste

[2020-11-23 12:36] btrx-rkazi commented on #47520
if i set service port as 443 i get below error

Traceback (most recent call last):
  File "main.py", line 50, in <module>
    handler()
  File "main.py", line 33, in handler
    config.load_incluster_config(KUBE_FILEPATH)
  File "/home/ec2-user/eks-lambda/lib/python3.8/site-packages/kubernetes/config/incluster_config.py", line 118, in load_incluster_config
    InClusterConfigLoader(
  File "/home/

[2020-11-23 12:37] btrx-rkazi commented on #47520
main.py
=====
import os.path
import yaml
import boto3
from kubernetes import client, config
from auth import EKSAuth
from os import path

os.environ['KUBERNETES_SERVICE_HOST'] = 'kubernetes'
os.environ['KUBERNETES_SERVICE_PORT'] = '443'
#config.load_incluster_config()
#os.environ['KUBERNETES_SERVICE_HOST'] = os.environ.get('KUBERNETES_SERVICE_HOST')
#os.environ['KUBERNETES_SERVICE_PORT'] = os.envi

[2020-11-23 12:52] mborsz commented on #96752
Re option 1 comment:
* I think this is an issue also today: it is possible that between GET and DELETE calls the object has been modified. I agree that with moving to cache this may happen more often.
* Is there any way to DELETE api object conditionally (i.e. delete only if it has a given resourceVersion?)?

Re comment 2b: In fact we currently do periodic polling for virtual objects ([here](https

[2020-11-23 13:01] Abhinav054 commented on #47520
Is your cluster working fine without the lambda code . If yes then please
follow the steps given below , according to there seems to be some problem
with either the python library or the networking of aws.

https://aws.amazon.com/blogs/containers/kubernetes-rbac-and-iam-integration-in-amazon-eks-using-a-java-based-kubernetes-operator/

check using this if the cluster is working fine then only we c

[2020-11-23 13:02] #86866 closed

[2020-11-23 13:05] wojtek-t commented on #96752
Yes - you can set Preconditions in DeleteOptions:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L506
and you can set RV in Preconditions:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L623

But unless I'm misreading it (sorry, didn't have time to look deep enough), this

[2020-11-23 13:35] adtac commented on #96803
cc @yue9944882

[2020-11-23 13:49] adtac commented on #96772
/cc

[2020-11-23 14:03] #70324 closed

[2020-11-23 14:23] mborsz commented on #96752
I think it makes sense to start setting RV precondition anyway (so that if a given object changes between GET and DELETE, we will know that the DELETE is still up to date decision).

My proposal is to "do whatever we are doing now, but in a separate loop". This way we will avoid doing API call on a standard code path only to support virtual objects. I understand that we are requeing all virtual ob

[2020-11-23 14:24] liggitt commented on #96752
That will help in not taking action on stale data, but introduces the possibility that a frequently written object will never be garbage collected.

Correct, virtual objects are already polled until they are observed present (via an informer event) or verified absent (via a 404 on the live lookup) and a virtual delete event is queued.

Having just [spent a lot of time in the GC code](https://githu

[2020-11-23 14:25] adtac commented on #96612
Looking at the job history, it appears that problems with pod-affinity's performance began some time around the 21st of October: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce-scheduler?buildId=1323327322832506880

There weren't any changes to interpodaffinity around that time: https://github.com/kubernetes/kubernetes/commits/master/pkg/scheduler/framewor

[2020-11-23 14:30] wojtek-t commented on #96752
@liggitt - aren't we afraid that we delete something that we shouldn't delete in this case? I would assume that if something is supposed to be GC-ed it shouldn't be frequently changing (or at least it should eventually stop being updated frequently).
Setting preconditions here would make sense to me.

[2020-11-23 14:37] mborsz commented on #96752
Good point. Frequent object changes may cause gc starvation. This can be resolved by proper "precondition failed" error handing (i.e. retrying with GET API call)

[2020-11-23 14:50] mborsz commented on #96752
Another idea: maybe in fact we don't need to get rid of GET call -- it's cheap and it's not a problem itself. The only problem about a GET call is that it consumes token from rate limiter. Maybe we can somehow change qps limit for gc collector only to allow it e.g. 200 qps while other controllers will be still using 100 qps?

[2020-11-23 14:51] #96772 closed

[2020-11-23 14:54] wojtek-t commented on #96752
So that will go away with Priority&Fairness eventually, because we want to get rid of qps-limits once this will prove to be stable.
[Also note that they are cheaper than modifying requests, but they are still not super cheap (e.g. they are linearized in etcd)]

[2020-11-23 15:04] #88752 closed

[2020-11-23 15:04] #92538 closed

[2020-11-23 15:04] jkevlin commented on #20165
What is the status of this?  Is there a documented procedure for rotating service account credentials?

[2020-11-23 15:15] liggitt commented on #96752
Yes, but only if the updates are modifying ownerReferences

I don't think that's necessarily true. Imagine a controller updating some status on an object as long as it exists, but which is depending on the object to go away when its owner does.

[2020-11-23 15:30] joeburke30 commented on #96641
thanks for the response....  however at times well beyond the 5 minute mark, the pods are still showing as Ready.    This feels like its a bug.  What additional information can I provide to show this is the case?

[2020-11-23 15:34] joeburke30 commented on #96641
Based upon the link, I see that the kube controller  is monitoring:  replication controller, endpoints controller, namespace controller, and serviceaccounts controller.    My case is a DaemonSet which, based upon the replication controller docs, is out of scope.

[2020-11-23 15:36] jayunit100 commented on #69901
in general , i think if you are running the most up to date windows patches, this gets fixed automagically for you

[2020-11-23 15:45] #96416 closed

[2020-11-23 15:56] thejoycekung commented on #96803
Test also flaked here but with a different error: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1330803766412185600

[code]

[2020-11-23 16:08] cmluciano commented on #92198
/reopen

[2020-11-23 16:10] thejoycekung opened #96808 "[Flaking Test] [sig-api-machinery] API priority and fairness should ensure that requests can't be drowned out (priority)"
**Which jobs are flaking**:
`ci-kubernetes-e2e-ubuntu-gce`
`ci-kubernetes-e2e-gci-gce`
`ci-kubernetes-e2e-ubuntu-gce-containerd`

**Which test(s) are flaking**:
`[sig-api-machinery] API priority and fairness should ensure that requests can't be drowned out (priority)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&grid=old&sort-by-flakiness=&include-

[2020-11-23 16:15] thejoycekung commented on #96808
actually, closing in favour of #96710

/close

[2020-11-23 16:15] #96808 closed

[2020-11-23 16:16] thejoycekung commented on #96710
another example of `lowqps` also flaking: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1330746134821343232

[2020-11-23 16:18] thejoycekung commented on #96710
and just a note that I've noticed this test flaking on a few other jobs as well:
- ci-kubernetes-e2e-ubuntu-gce
- ci-kubernetes-e2e-gci-gce
- ci-kubernetes-e2e-ubuntu-gce-containerd

and triage link: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=API%20priority#a9c1d8320cab7ba69110

[2020-11-23 16:31] gnufied commented on #92044
Yes I think we should just remove optional line and see what api-reviewers say.

[2020-11-23 16:38] chrishenzie commented on #96759
@jingxu97 Thank you for the detailed explanation. Is this problem exclusive to emptyDir, or would we need special handling for other volume types?

[2020-11-23 16:53] prein commented on #14040
@montanaflynn this doesn't help for the issue described by @discordianfish in https://github.com/kubernetes/kubernetes/issues/14040#issuecomment-430605486

[2020-11-23 17:06] #92248 closed

[2020-11-23 17:08] jingxu97 commented on #96759
good question, if my theory is correct, if will affect other types of volumes too, right now we just don't have similar tests on other volumes.

I think the fix I am proposing is applying for all types of volumes.

[2020-11-23 17:33] lavalamp commented on #7923
Personally I'd probably make adaptors that convert `context` to `<-chan struct{}` or vice versa. Then it's easy to propagate whatever you have to whatever callees need, you can add this everywhere in a series of small PRs. Then in a second step you can convert places using `<-chan struct{}` to use `context` instead, and it's easy to fix callers by just removing an adaptor. Again in a series of sma

[2020-11-23 17:39] hasheddan commented on #96038
Thanks @wojtek-t!

/milestone v1.21

[2020-11-23 17:41] Jiawei0227 commented on #92044
okay sounds good. I will take this

[2020-11-23 17:46] lavalamp commented on #96082
It's also not memory efficient for apiserver. Paginated lists are, and the reflector/informer use those by default now, I believe.

What exact intervention did you perform? And what exact test did you run?

[2020-11-23 17:58] dominicpg commented on #96793
thanks for pointing the reason why I get old events in watcher.

If my understanding is correct, deletion process will cleanup the resources including pod even before ns dismantle and imo it's nice to have pod kill events in watcher to understand what's going on. Well, on the other hand, I agree that there's no point in capturing pod deletion event of a dying namespace!.

[2020-11-23 18:00] lavalamp commented on #95587
Sure, defaults can "modify" immutable fields (you can also get that behavior with multi-version CRDs plus conversion webhooks, I think).

Whatever the controller is doing to detect "a delta between the read object and the snapshotted" is broken for my case also, I agree it needs to be fixed. I believe an admission webhook + no-op write (e.g., triggered by a storage migrator) could trigger this, no

[2020-11-23 18:24] RobertKielty commented on #91739
/close

[2020-11-23 18:25] #91739 closed

[2020-11-23 18:39] spacetc62 commented on #93337
An update to the above - after additional testing it seems to be an interaction with the GKE's [Intranode Visibility](https://cloud.google.com/kubernetes-engine/docs/how-to/intranode-visibility) setting. When that is enabled, a pod talking through a service to a pod on the *same node* will on occasion cause the above behavior. This suggests to me that at least for my issue, it probably a GKE-speci

[2020-11-23 18:45] misterikkit commented on #91542
Only the GlusterFS fix remains. We need to update our dependencies to include https://github.com/heketi/heketi/pull/1771, but that hasn't been tagged in a release as of yet.

[2020-11-23 18:57] mamiapatrick commented on #88574
I install kubernetes through RKE and the 3 etcd node of my k8s are ok but the etcd server on rancher host (rancher/rancher:v2.3.2.) has this problem. All kubectl command are working and i can connect to API to interact with this but the rancher interface is down.
 **Do someone fix this issues. there is many threads on this, but no real solutions!!!**

[2020-11-23 18:58] thejoycekung opened #96814 "[Failing Test] ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts"
**Which jobs are failing**:
`ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`

**Which test(s) are failing**:
Overall

**Since when has it been failing**:
Nov 20 between 8:41 PST and 12:43 PST (it's been "failing" before that as well, but now _none_ of the tests are running at all)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1al

[2020-11-23 18:58] cmluciano commented on #92198
/triage accepted

[2020-11-23 19:08] #92364 closed

[2020-11-23 19:18] jingxu97 commented on #96678
ref: old PR https://github.com/kubernetes/kubernetes/pull/72049

[2020-11-23 19:39] #90936 closed

[2020-11-23 20:31] ninja- commented on #96678
from my experience, umount -f could still hang. the only reliable way is to do a remount in soft mode and low timeout

[2020-11-23 20:58] thockin commented on #95587
On Mon, Nov 23, 2020 at 10:01 AM Daniel Smith <notifications@github.com> wrote:

Think of a new field that makes some existing behavior modifiable.
The default value codifies "how it's always been done" but a read of
an old object will suddenly start showing this field. We have always
allowed such API changes, modulo gating and things like that.

So I am looking for how we can ACTUALLY make progre

[2020-11-23 21:44] gnufied commented on #96759
I think this might be upto container runtime which is creating a hostpath if it does not exist. For example:

[code]

[2020-11-23 22:01] jingxu97 commented on #96759
@gnufied thanks for confirming this behavior. Any comments about the proposed solution?

[2020-11-23 22:08] Riaankl opened #96819 "Update Error logging for Pod+PodStatus resource lifecycle test"
**What is this issue addressing?**
[Comment](https://github.com/kubernetes/kubernetes/pull/96485#issuecomment-732335344
) in #96485 require more useful logging message

**Requiered outcome:**
Improve log messages

[2020-11-23 22:10] Riaankl commented on #96819
/sig testing
/triage accepted
/assign @heyste

[2020-11-23 22:10] Riaankl commented on #96819
/cc @hh

[2020-11-23 22:24] spiffxp commented on #96524
I agree that exercising specific CRI implementations is not the place of Conformance testing.

Conformance testing is intended to exercise end-user visible behaviors of a Kubernetes cluster, which basically means whatever you can see and do at the Control Plane API level (ref: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-t

[2020-11-23 22:56] clarkmcc commented on #96731
/assign

[2020-11-23 23:30] farah commented on #92044
sry for the delay guys was off on vacation.

@Jiawei0227 all good i got this. thanks

[2020-11-24 00:13] #86942 closed

[2020-11-24 00:21] cbf123 commented on #93691
Hi...was going through my backlog and noticed this.  Did you ever get anywhere with this?

[2020-11-24 01:17] skaegi commented on #95727
We're seeing this now when we update our nodes to 1.19 where our Kata Containers install does a `systemctl restart containerd`. Our current workaround is to also do `systemctl restart kubelet`, but would be good to get this fixed.

[2020-11-24 01:23] igoratencompass commented on #61486
@farvour I completely agree, AWS takes way too long to fix broken DNS/DHCP options it sends to VPC clients. The problem with multiple domains in the VPC DNS service gets even worse if you use `Ubuntu-1.18+` images that use `systemd-resolved` in which case you get this in your `resolv.conf` file on the host and inside the containers (note the extraneous `032` string in the `search` stanza):

[code]

[2020-11-24 01:32] wyike commented on #96770
+1 to push DockerLibraryRegistry images to k8s.gcr.io, seeing test failure recently:
`[It] should provide container's limits.cpu/memory and requests.cpu/memory as env vars  [Conformance]
  /go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:674
STEP: Creating a pod to test downward api env vars
Nov 23 10:23:27.785: INFO: Waiting up to 5m0s for pod "down

[2020-11-24 01:42] superdave commented on #53533
I have not kept up with the community process terribly well of late as things have been super busy for me lately, however they look like they should be calming down somewhat soon. Is there a way I can engage without having to join a Slack channel?

[2020-11-24 01:53] gnufied commented on #96759
Where exactly in `cleanupOrphanedPodDirs` you are thinking of adding that check? The problem is - I think for this pod the code stops processing the pod in following condition:

[code]

[2020-11-24 02:46] Mr-YYM commented on #71647
maybe you set a proxy
solution: unset https_proxy

[2020-11-24 02:48] gnufied commented on #96759
Also cc @kubernetes/sig-node-bugs for CRI interaction.

[2020-11-24 03:53] pacoxu commented on #96793
The detailed process would be

1. Delete Namespace Api sent
2. Namespace's deletionTimestamp is set, and the object's metadata.finalizers  is set.
3. ApiServer start to watch the ns finalizer
4. all resource are deleted in the ns, including pods and events. like`kubectl delete all --all -n xxx`
5. when no finalizer there, apiserver will delete the ns finally.

No event can be generated after the n

[2020-11-24 04:51] liggitt commented on #96799
Are you pointing either object at the "kubernetes" service in the "default" namespace?

[2020-11-24 05:23] alexluicwhk commented on #83936
check also if the control plane node /etc/kubernetes/kubelet.conf is valid and up-to-date. if it is expired, the service kubelet start may fail.

[2020-11-24 05:52] lingsamuel commented on #96732
That could be inode issue. Could you post output of `df -i`?

[2020-11-24 05:54] lingsamuel commented on #96732
DiskPressure could be inode issue, too. Could you post output of `df -i`?

[2020-11-24 06:30] xiaods commented on #5774
any update?

[2020-11-24 06:36] mcsos opened #96827 "Non socket files should be ignored while a kubelet plugin is been unregistering."
**What happened**:

In pluginmanager of Kubelet, the handleDeleteEvent() is triggered when a file in /var/lib/kubelet/plugins_registry/ has been deleted. But the Watcher does not check whether the file is a socket file or not, just as it does in handleCreateEvent().

And the log may also make people confused.

https://github.com/kubernetes/kubernetes/blob/ad2bf99f9b8f27113cd3b0c9e0ad72e568947e43/p

[2020-11-24 06:38] mcsos commented on #96827
/assign @mcsos

[2020-11-24 06:57] mcsos commented on #96827
/sig node

[2020-11-24 07:01] Davidrjx commented on #77527
in my case for kubernetes1.13.5, removing  '-s -w' from goldflags is enough.

[2020-11-24 07:15] elonzh commented on #82346
/remove-lifecycle rotten

[2020-11-24 07:16] yue9944882 commented on #96803
@thejoycekung thanks for providing the clue, #96798 will be fixing this

[2020-11-24 07:17] yue9944882 commented on #96648
/cc

[2020-11-24 07:30] pacoxu commented on #96795
dup with https://github.com/kubernetes/kubernetes/pull/44716 ?

**Other solutions 1:**
There are some kube alias scripts like https://github.com/ahmetb/kubectl-aliases/blob/master/.kubectl_aliases

**Other solutions 2:**
https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-bash-completion
BTW, `bash completion` is very helpful .

[2020-11-24 07:48] RakibFiha commented on #78925
I am facing similar issues, kubelet will not start. I tried reinstalling kubernetes docker kubeadm kubelet
[code]

[2020-11-24 07:49] lingsamuel commented on #96732
What's your container runtime? Docker or remote CRI?

[2020-11-24 08:15] dominicpg commented on #96793
well, it seems any adjustment to reorder the deletion process will complicate things. I am happy with the knowledge you have shared and will open/re-open issue in future if required.  Thanks @pacoxu

[2020-11-24 08:15] #96793 closed

[2020-11-24 08:22] lingsamuel commented on #96732
`cadvisor` only init DockerRootDir once. I guess you change your docker config without restart kubelet?

[2020-11-24 08:24] pacoxu commented on #96361
Not familar with ceph. I find that Azure disk has a similar logic as you expected in  https://github.com/kubernetes/kubernetes/pull/57953/files  remount the volume after some check.

Are you using ceph fs https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cephfs/cephfs.go ?

[2020-11-24 08:29] lingsamuel commented on #96732
FYI cadvisor init DockerRootDir from unix sock, you can get it by this:
[code]

Then `curl localhost:1111/info`, you will find a `DockerRootDir`.

ps: make sure `rm dsfifo` later.

[2020-11-24 09:00] chendave commented on #96658
/triage accepted

[2020-11-24 09:18] olemarkus commented on #96799
Both pointing to custom services in kube-system.

[2020-11-24 09:22] zizon commented on #96361
Yep.

The mount code path is merely a /sbin/mount.fuse command which should be common to all fuse base volume.
Issue #41141 mention above  is GlusterFS  which is also base on top of fuse.

[2020-11-24 09:25] chendave opened #96832 "fatal error: concurrent map writes"
**What happened**:
Run scheduler's integration test [scheduler_perf](https://github.com/kubernetes/kubernetes/tree/master/test/integration/scheduler_perf), create a case for preemption with pod PV,

e.g.
[code]

The testcase will corrupt with below exception,

[code]

Run the test with "-race" will reveal there is data race,
[code]

**What you expected to happen**:
sucessfully.

**How to reproduce

[2020-11-24 09:25] chendave commented on #96832
/triage accepted

[2020-11-24 09:36] zizon commented on #96361
one can reproduce something similar in following step.

- setup a container with fuse mount.
- kill the corresponding fuse process.
- trigger container restart, which will try to mount the same path on node but when checking mount point, getting  a -ENOTCONN  thus resulting an early give up of mounting action.

[2020-11-24 09:37] darthcorsair opened #96833 "kubeadm upgrade (v1.19+) does not retain coredns configmap"
**What happened**:
`kubeadm upgrade apply -y v1.19.3` does not retaining coredns configmap

[code]
using v1.19.4 makes no difference

**What you expected to happen**:

`kubeadm upgrade apply` should  follow documentation and retain coredns configmap

**How to reproduce it (as minimally and precisely as possible)**:
upgrading from v1.18.6 to v1.19.3

**Anything else we need to know?**:
`kubeadm upg

[2020-11-24 09:38] darthcorsair commented on #96833
/sig cluster-lifecycle

[2020-11-24 09:46] pacoxu commented on #96833
seems to be a regression ?

[2020-11-24 09:48] HalfBuddhist commented on #87491
recreate the storageclass and provisioner of cephfs solve this problem.

[2020-11-24 09:57] aojea commented on #92272
@LappleApple should we close? seems the user that reported it is ok with closing it and the issue is stale right now

[2020-11-24 10:02] aojea commented on #96449
http://elrepo.org/tiki/HomePage :)

[2020-11-24 10:14] pacoxu commented on #96833
/assign

[2020-11-24 10:18] hulucc commented on #95486
@thockin It's IPVS. and nothing special about service, just a udp loadbalaner.

[2020-11-24 10:22] jlsong01 commented on #96769
/assign

[2020-11-24 10:28] pacoxu commented on #96833
@darthcorsair Would you check you dns configmap for `federation` ?

As https://github.com/kubernetes/kubernetes/pull/92716/files#diff-b15061fc6de5ba90bf53e91855f1a4b752bc7e382aed6f5691265e86001f2b03L48 , federation is removed from coredns.

If you have federation enabled in your coredns configmap, the check may fail in https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upg

[2020-11-24 10:31] aojea commented on #96670
Pods with hostNetwork: true will use as PodIP, the Status.HostIP

https://github.com/kubernetes/kubernetes/blob/8f6362bf9e11e42c71220a53eb564248bc9f0b3a/pkg/kubelet/kubelet_pods.go#L1537-L1538

hardcoding it with the flag --node-ip makes it work because, if is not set, kubelet tries to guess it, you can check the algorithm in

https://github.com/kubernetes/kubernetes/blob/b2dc35dab2cdd2aa33ba8240b

[2020-11-24 10:43] darthcorsair commented on #96833
We don't have any `federation` parameter in our coredns configmap, or any kube-dns parameters in kubeadm config

[2020-11-24 10:56] probenx commented on #51650
Hey,
I am facing this issue now, is there some recommended way around it?

[2020-11-24 11:04] cheyuexian commented on #89107
what network problem

[2020-11-24 11:14] frapposelli commented on #76506
/remove-lifecycle rotten

[2020-11-24 11:16] frapposelli commented on #76506
I believe we have a `providerless` target to build Kubernetes now. Is there any data available to compare that target and the numbers that @dims had in the issue above?

[2020-11-24 14:19] liggitt commented on #95546
That sounds more like a bug that should be fixed than something that should be documented...

cc @smarterclayton for related issues like https://github.com/kubernetes/kubernetes/pull/58930

[2020-11-24 14:21] mborsz opened #96836 "etcd: avoid creating large leases"
Currently we create a single etcd lease for each 1m of events ([code](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/lease_manager.go#L45)). With high event throughput, this can create large number of objects reusing the same lease. While the lease_revoke operation in etcd is atomic, this blocks all other operations for long period of time.

Cur

[2020-11-24 14:23] alculquicondor commented on #96832
Which versions are affected? only 1.20?

[2020-11-24 14:31] wojtek-t commented on #96836
/sig scalability

[2020-11-24 14:48] alculquicondor commented on #96832
This is actually an instance of #92138

This locking is incorrect, because each state has its own lock

https://github.com/kubernetes/kubernetes/blob/afee9de7625ebff2706f2019f47e917e62238a7c/pkg/scheduler/framework/plugins/volumebinding/volume_binding.go#L221-L223

Doing a deep copy, like #96834 is not what we want, because it is `O(n)` where n is the number of nodes. Instead, you should keep a lo

[2020-11-24 14:49] alculquicondor commented on #96832
@Huang-Wei for thoughts

[2020-11-24 14:54] chrisohaver commented on #96833
Looking closely at the dry run messages above, this may not be a regression. The apparent reason it works in 1.18.12 is that support for CoreDNS 1.7.0 was not added until 1.19.  i.e. 1.18 sees an unsupported version of CoreDNS and therefore skips the corefile migration.  Whereas in  1.19, CoreDNS 1.7.0 _is_ supported, and the migration takes place.

@darthcorsair, What does your complete Corefile

[2020-11-24 14:58] Shahard2 commented on #73480
don't close it, still relevant

[2020-11-24 15:32] uablrek commented on #93456
/remove-lifecycle stale

[2020-11-24 15:40] cmluciano commented on #93740
Can we remove this from SIG-Net in favor of GCE or GKE cloudprovider? If this is mostly to due with NEG, it likely only applies to the GKE specific test.

[2020-11-24 15:52] cpanato commented on #96814
fixed here: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/332

[2020-11-24 15:52] cpanato commented on #96814
/assign

[2020-11-24 15:55] #96814 closed

[2020-11-24 16:02] uablrek commented on #93456
I tried the proposed fix in https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187.

From within a POD on a node where no server PODs are executing it works fine, with the source (POD) address preserved.

From an external machine where incoming packets hit a node without server PODs (where it usually is black-holed) packets goes like this;
[code]
On the k8s-node without serve

[2020-11-24 16:04] rajansandeep commented on #96833
@darthcorsair If it's possible, can you also attach the entire dry run logs?

[2020-11-24 16:09] SathishMSFT commented on #89650
/remove-lifecycle stale

[2020-11-24 16:10] SathishMSFT commented on #89650
/remove-lifecycle rotten

[2020-11-24 16:13] SathishMSFT commented on #89650
I am hitting this issue. Is there any workaround available to try?

[2020-11-24 16:20] gnufied commented on #96678
yes that is true (at least as per man page) but from my testing I have found that in most cases it does actually result in umount being finished and pod being deleted correctly.

[2020-11-24 16:56] claudiubelu commented on #96770
So, the images that are under the ``e2eRegistry``, more explicitly, the images under ``kubernetes/test/images/`` could easily be migrated to ``k8s.gcr.io/e2e-test-images`` via the Image Promoter once that is running again.

As for the other ``DockerLibraryRegistry`` images, what are the jobs that are failing because of this? In any case, I know there were some PRs that configured the test jobs (or

[2020-11-24 17:03] ahg-g commented on #96832
duplicate of https://github.com/kubernetes/kubernetes/issues/96772

[2020-11-24 17:09] alculquicondor commented on #96832
That should be good for hotfix that can be backported. Is 1.18 also affected?

The optimization can be looked at for 1.21

[2020-11-24 17:09] ahg-g commented on #96832
I think just 1.19

[2020-11-24 17:30] rikatz commented on #67526
This is a subject of https://github.com/kubernetes/enhancements/pull/2090

[2020-11-24 17:57] darthcorsair commented on #96833
https://gist.github.com/darthcorsair/02fbc51b1c7eebe9c17ca26e22b8d95a

 Sure. https://gist.github.com/darthcorsair/ae9ae7d9272dd771fb7fc0403edba0d4

[2020-11-24 18:03] Huang-Wei commented on #96832
As Abdullah mentioned, it's discussed in #96772, and #96777 (PR) is now merged in master - which will be delivered to 1.20. And #96809 was created to back port to 1.19.

As the shared volumeBinding state was introduced in 1.19 (#92222), so I think we don't need back port to 1.18.

[2020-11-24 18:06] chrisohaver commented on #96833
Thanks.  I think the issue may be in the detection of the "default" configuration. That is, in the upgrade process, if it detects that you are using the "default" coredns corefile, it simply installs the new default over top of it, rather than migrating the existing one.  If i'm right, the fix could either go in the `coredns/corefile-migration` package (should at least eventually be fixed there),

[2020-11-24 18:11] eranreshef commented on #95546
@liggitt please don't change the current behaviour, it is necessary for setup I (and some more k8s distributions) have.
Why do you think its a bug?

[2020-11-24 18:20] chrisohaver commented on #96833
I just tested against the package manually - and it correctly identifies the config as "non-default", so that's not it...
And I also tested a migration on the Corefile, and the result included the extra stanzas as expected.  So, the issue doesn't _appear_ to lie in the migration package.

[2020-11-24 18:24] nsmith5 opened #96840 "K8s creates too many Security Groups for NLB Health Check | Reloaded!"
**What happened**:

For each NLB created, K8s creates an ingress rule on the node group's security group for each port exposed for each NLB subnet to allow health checks to succeed.

AWS limits the number of rules per security group to 60 by default. This quota is adjustable but multiplied by the quota for security groups per network interface cannot exceed 1000.
https://docs.aws.amazon.com/vpc/la

[2020-11-24 18:24] nsmith5 commented on #96840
/sig cloud-provider

[2020-11-24 18:25] nsmith5 commented on #96840
/area provider/aws

[2020-11-24 18:34] liggitt commented on #95546
Starting static pods should not depend on or be blocked by the kubelet having constructed a client to talk to the API server.

[2020-11-24 18:47] craiglpeters commented on #89650
@immuzz @marosset do you have any ideas here?

[2020-11-24 19:09] cmluciano commented on #95501
@jayunit100 This doesn't appear to be flaking anymore in testgrid. Plz reopen if you see something weird

/close

[2020-11-24 19:10] #95501 closed

[2020-11-24 19:29] Bessonov commented on #57660
/remove-lifecycle stale

[2020-11-24 19:47] synox opened #96841 "application/apply-patch+yaml does not retain ResourceVersion when patching v1/Secret:stringData"
**What happened**:
When using `kubectl apply` with the "stringData" property, a new resourceVersion is created after each run with the same YAML.

**What you expected to happen**:
The resourceVersion should stay the same.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
If you replace the `stringData:` with `"data": {        "accessKey"

[2020-11-24 20:01] ahg-g commented on #95538
can you send a patch for 1.19?

[2020-11-24 20:02] ahg-g commented on #95538
ah, here it is https://github.com/kubernetes/kubernetes/pull/96291

[2020-11-24 20:21] synox commented on #96841
/sig api-machinery

[2020-11-24 21:17] fedebongio commented on #96714
/cc @apelisse @jennybuckley @kwiesmueller @Jefftree
fyi
/triage accepted

[2020-11-24 21:18] fedebongio commented on #96803
/assign @yue9944882
/triage accepted

[2020-11-24 21:19] fedebongio commented on #96841
/assign @jennybuckley
/triage accepted

[2020-11-24 21:19] sfudeus opened #96842 "Kubelet disconnects from apiserver after etcd read-only, not recovering"
**What happened**:

When the storage quota of etcd is reached, it goes into a read-only state, which must be recovered by defragging and disarming the alarm. While read-only the apiserver cannot persist any data.
When the etcd recovers into a writeable state, the apiserver gets usable again. If the read-only time has been too long (e.g. > 7 minutes during tests), at least some kubelets had been di

[2020-11-24 21:25] fedebongio commented on #96808
/triage accepted

[2020-11-24 21:25] fedebongio commented on #96577
/triage accepted

[2020-11-24 21:25] fedebongio commented on #96537
/triage accepted

[2020-11-24 21:29] sfudeus commented on #96842
/sig node
/sig api-machinery

[2020-11-24 21:33] sfudeus commented on #96842
This might be related to #87615, but we couldn't trigger the same behavior when rejecting or dropping kubelet/apiserver interaction, this happened only by etcd in read-only.

[2020-11-24 22:22] frittentheke commented on #73628
/remove-lifecycle stale

[2020-11-24 22:30] cablespaghetti commented on #57660
@Bessonov Have you seen the new autoscaling features in 1.18? If not, what is missing from that for your use case?

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-configurable-scaling-behavior

[2020-11-24 23:00] nsmith5 commented on #96840
Other version that are likely affects:
- [1.17.11+](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.17.md#changelog-since-v11711)
- [1.18.8+](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#changelog-since-v1188)
- [1.19.0+](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#changelog-since-v1190)

[2020-11-24 23:38] invidian commented on #84248
/remove-lifecycle stale

[2020-11-24 23:49] Novex commented on #81001
/remove-lifecycle rotten

[2020-11-25 00:08] Bessonov commented on #57660
@cablespaghetti

Thank you, I've didn't see it.

Hm, I'm not sure that it's the same:

It seems like something different from original request:

[2020-11-25 00:47] cosmo0920 commented on #92852
/remove-lifecycle stale

[2020-11-25 01:29] jpeach commented on #76506
Here's what I got building with `GOFLAGS="-tags=providerless,dockerless"`. The binaries build, but `providerless` doesn't seem to be plumbed through the tests, so `make all` fails to build.

| No tags | tags=providerless,dockerless | binary |
|--|--|--|
|  38M  |  38M | kubeadm
| 113M  |  62M | kube-apiserver
| 108M  |  56M | kube-controller-manager
|  39M  |  39M | kubectl
| 109M  |  59M | kubele

[2020-11-25 02:06] hormes commented on #96082
Paginated lists are not performed for resourceVersion=0. When a controller like kube-controller-manager restarts, there will be a lot of list operations with resourceVersion=0.

Later, we will do a data comparison, and then re-create an issue to track.

[2020-11-25 02:18] cofyc commented on #95538
to sum up:

- master: https://github.com/kubernetes/kubernetes/pull/95541
- 1.19: https://github.com/kubernetes/kubernetes/pull/96291
- 1.18: https://github.com/kubernetes/kubernetes/pull/96135

and I think this change should be backported to 1.19/1.18 too:

https://github.com/kubernetes/kubernetes/pull/92846/files#diff-75e4458878912a7aef522a2eebd4928b91d7622445f2da897119450016cc8a49L96-L97

I'll

[2020-11-25 02:26] BenTheElder commented on #76506
:wave: Making the tests providerless is not something we have a solid plan for yet. The core components we do (SIG cloud provider owns this).

[kind](https://sigs.k8s.io/kind) builds binaries in this mode by default. These tags are meant for testing Kubernetes prior to future hard deletion of the code, they're not advertised for production and not used in releases intentionally. https://github.com

[2020-11-25 02:29] BenTheElder commented on #76506
Also we're not 100% able to delete everything cloud provider from the core components yet even in the "providerless" tag. Off the top of my head kubelet credential providers still had tight coupling (there's a plan in the works to use a plug-in / exec model going forward though).

[2020-11-25 03:08] adohe commented on #96755
/assign @adohe

[2020-11-25 03:23] zhoudayongdennis opened #96847 "Storage: Failed to provision volume with StorageClass on Vsphere"
observe below error message during volume creation, and error was reported in pv_controller#1568, but not quite clear why "folder 'AA/BB' not found" and what's possible cause?

https://github.com/kubernetes/kubernetes/blob/c678434623be4957d892a9865e5649f887a40c49/pkg/controller/volume/persistentvolume/pv_controller.go#L1568

 Warning  ProvisioningFailed  73s (x22 over 34m)  persistentvolume-contro

[2020-11-25 03:33] pacoxu commented on #96847
/sig storage

[2020-11-25 03:54] borgerli opened #96848 "Hard-coded addresses of scheduler and controller manager causes unhealthy ComponentStatus"
We deployed k8s control plane(kube-apiserver, kube-schedudler and kube-controller-manager) in separate containers, so that they could not access each other through the 127.0.0.1 loopback interface.

But as https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/rest/storage_core.go#L345, the validation address is hard-coded as 127.0.0.1 which causes the check failed.

**What happene

[2020-11-25 03:56] borgerli commented on #96848
/sig api-machinery

[2020-11-25 04:33] cofyc commented on #95538
summary of the issue that an error will be reported instead of UnschedulableAndUnresolvable when PVC not found:

- master: already implemented, see [PR 92846](https://github.com/kubernetes/kubernetes/pull/92846/files#diff-75e4458878912a7aef522a2eebd4928b91d7622445f2da897119450016cc8a49L96-L97)
- 1.19: https://github.com/kubernetes/kubernetes/pull/96850
- 1.18: can't backport as it does not impleme

[2020-11-25 04:36] Dohbedoh commented on #86881
There seems to be WIP https://github.com/kubernetes/kubernetes/pull/95208

[2020-11-25 04:48] pacoxu commented on #96848
As I know, it is caused by that insecure port of scheduler and kube-controller-manager are deprecated.

https://github.com/kubernetes/kubernetes/blob/ac62c47889bcb29cd488a4a7149f90ab9da836e8/pkg/scheduler/apis/config/types.go#L42-49
DefaultInsecureSchedulerPort

[code]
The readiness/liveness is now using 10259 https port  to check cs status.

`Warning: v1 ComponentStatus is deprecated in v1.19+`
C

[2020-11-25 04:50] pacoxu commented on #96848
Workaround is to open insecure port which is not secure.

remove `--port=0 ` in scheduler manifests file.

kubeadm
- /etc/kubernetes/manifests/kube-scheduler.yaml
- /etc/kubernetes/manifests/kube-controller-manager.yaml

[2020-11-25 05:24] Shridharbhandar commented on #93524
I'm also facing the same issue

Without kubeadm init --> It's failing & with kubeadm init --> it's running but no node found. On top of this, the kubernetes is unable to pull any images and run the containers. Docker is running but it's also having some trouble pulling images

I tried everything but no luck and all the prereqsuisites are in place including swap, sestatus, ip, etc. I've being stuck

[2020-11-25 05:30] uablrek commented on #93456
Traffic from the main netns (e.g hostNetwork:True) from a k8s-node without server will fail in the same way as traffic from an external source.

[2020-11-25 05:46] borgerli commented on #96848
Thanks for the reply.

The problem is that the IP addresses of scheduler and controller-manager is hard-coded to 127.0.0.1. However, in our situation, scheduler and controller-manager are running in different containers other than the kube-apiserver, and so they could not be reached by kube-apiserver through 127.0.0.1.

Regarding the deprecation of v1 ComponentStatus API, we should detect the stat

[2020-11-25 05:55] pacoxu commented on #96848
You meet same issue as https://github.com/kubernetes/kubernetes/issues/19570#issuecomment-354812863

Per https://github.com/kubernetes/kubernetes/pull/93570,
`kube-apiserver: the componentstatus API is deprecated. This API provided status of etcd, kube-scheduler, and kube-controller-manager components, but only worked when those components were local to the API server, and when kube-scheduler and

[2020-11-25 05:55] gavinfish opened #96852 "Scheduler: Retire volume in-tree plugins in scheduler nodevolumelimits"
**What would you like to be added**:

Currently scheduler uses plugins including `AzureDiskLimits`, `CinderLimits`, `EBSLimits` and `GCEPDLimits` to filter nodes by in-tree volume plugin limitation in non-csi scenarios. Meantime, `NodeVolumeLimits` plugin also takes in-tree volume plugins and csi migration feature into consideration for compatibility.

According to [Kubernetes In-Tree to CSI Volum

[2020-11-25 05:58] borgerli commented on #96848
Got it. Many thanks.

Closing this issue.

[2020-11-25 05:58] #96848 closed

[2020-11-25 06:24] uablrek commented on #93456
Traffic from the main netns (e.g hostNetwork:True) from a k8s-node without server fails for a different reason than traffic from an external machine.

Traffic from main netns on a k8s-node will get the VIP as source! This because the assign of the address to dev `kube-ipvs0` sets up a local route as;

[code]
SYN is sent OK (e.g 10.0.0.90:36142 -> 10.0.0.90:80) but the reply to the VIP address fail

[2020-11-25 06:47] Rajalakshmi-Girish opened #96853 "k8s unit tests fail with a mismatch in error message while run with master golang"
**What happened**:
Below k8s UT fail when run with master-golang.
1. k8s.io/kubernetes/pkg/kubelet/cm/cpumanager/state: TestCheckpointStateRestore/Restore_checkpoint_with_invalid_JSON
error:=== RUN   TestCheckpointStateRestore/Restore_checkpoint_with_invalid_JSON
I1124 05:38:14.686883   60889 state_mem.go:36] [cpumanager] initializing new in-memory state store
    state_checkpoint_test.go:236: une

[2020-11-25 06:52] saikat-royc commented on #96734
Agree with @msau42  here, that ideally the workload should fsync the data before deletion. Pod delete after node unpublish looks to be the right behavior. Unstage of volume is initiated when no resource (pod in this case), has a reference to it.

[2020-11-25 07:07] pacoxu commented on #96853
/sig testing

[2020-11-25 07:12] jingxu97 commented on #96734
I think this is an interesting topic worth further discussing. Thinking of the concept of pod, a Pod wraps containers, storage resources, and an ephemeral network identity together as a single unit. So during a Pod deletion, it makes sure the relevant resources are cleaned up. Looking at the pod deletion workflow, it checks  whether pod resources including pod volumes and cgroups are released. Now

[2020-11-25 07:16] pacoxu commented on #96853
https://github.com/golang/go/issues/42675  will fix it in Go 1.16 as release-blocker.

[2020-11-25 07:18] akhilerm commented on #85624
@msau42 Sorry for the delay.

I tried with creating a container directly with containerd and was not able to hit the issue.

containerd version: 1.3.7

[2020-11-25 07:21] mborsz commented on #96836
In fact we may consider using leaseReuseDurationSeconds with lower value than 1m instead of introducing objects limit (maybe both). This will reduce number of objects per lease and also will spread deletion of all events over 1m (instead of scheduling deletion of all 1m of events at the same time).

[2020-11-25 08:03] zhoudayongdennis commented on #96847
in k8s controller logs, there were below errors

E1123 14:52:12.494110       1 datacenter.go:231] Failed to get the folder reference for NOKIA/SQM. err: folder 'NOKIA/SQM' not found
E1123 14:52:12.494182       1 vsphere.go:1358] failed to set VM options required to create a vsphere volume. err: folder 'NOKIA/SQM' not found
E1123 14:52:12.494281       1 goroutinemap.go:150] Operation for "provision

[2020-11-25 08:57] krejkrejkrej commented on #72220
/remove-lifecycle stale

[2020-11-25 09:04] heartTorres opened #96855 "Pod stuck in "ContainerCreating" status in K8 v.14.3"
Kubernetes v.14.3
Amazon Web Services

**What happened**:
I have storageclass defined. Pod stuck in "ContainerCreating" as the volume cannot be attached and error "instance not found" error in the logs.

<img width="1421" alt="Screen Shot 2020-11-25 at 4 39 32 PM" src="https://user-images.githubusercontent.com/65100615/100202939-ed41fc80-2f3c-11eb-897b-5c5c07f35e8f.png">

**What you expected to ha

[2020-11-25 09:11] pacoxu commented on #96836
How about make leaseReuseDurationSeconds configurable as a tuning option firstly?

[2020-11-25 09:19] chendave commented on #96832
Can we simply only store the data (for one node) in Reserve? populating a map is expensive.

Good points, even the `podVolumesByNode` map is not stored the `stateData`, there should be still a place to hold those info for filtering.
As the `reserve` is only processing on one node, not sure whether we gain too much for the optimization.

[2020-11-25 09:20] chendave commented on #96832
close this as duplicated.

[2020-11-25 09:20] #96832 closed

[2020-11-25 09:38] mborsz commented on #96836
Sounds reasonable to me.

[2020-11-25 10:21] mau21mau commented on #62772
Have you found any solution to the problem.

[2020-11-25 10:24] pacoxu commented on #96855
/sig aws
/sig cloud-provider

similar with #77920 and @slconley meet it recently (https://github.com/kubernetes/kubernetes/issues/77920#issuecomment-668899515)

Some comments in the code: https://github.com/kubernetes/kubernetes/blob/48a0ef6a396f84ec93a8e68d9843c6fe27c4e848/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L2316-L2327
[code]

There's some analysis in  https://dzone.com/articles

[2020-11-25 10:52] jayunit100 commented on #96341
I guess we can close this once the other Pr merges which confirms the behavior of 0.0.0.0/0

[2020-11-25 10:52] eddspencer opened #96858 "Pods receive traffic from load balancer whilst in terminating state for >60s"
**What happened**:
Pods are not being removed swiftly enough from the load balancer when terminating, this is causing 502 errors when the application on the pod eventually stops, ~2 minutes after pod enters Terminating state, as the load balancer is still trying to route traffic to it.

N.B. we believe this to not be a duplicate of https://github.com/kubernetes/kubernetes/issues/88236 as this take

[2020-11-25 10:54] eddspencer commented on #96858
/sig network node

[2020-11-25 11:17] samdgoyal123 opened #96859 "k8s persistent volume data gets deleted after pod recreation many times with all ReclaimPolicy:Retain,Recycle,Delete"
1) i created one PV(persistent volume) using .yaml file 5G on hostpath locally "/mnt/data-pv2/pv0003"
2) created PVC of 3G pf PV
3) created pod deployment using deploy.yaml file.
4) entered to pod using "kubectl exec -it pv-deploy1-598f45f7d6-qqv9p -- bash" to access bash of pod created.
5) In mount path created a file "/mnt/data-pv2/file1" and exited from pod bash.
6) now deleted the pod using "k

[2020-11-25 12:01] cpanato commented on #96055
job is green again, saw one test failed but then passed in the next run

closing this issue
/close

[2020-11-25 12:01] #96055 closed

[2020-11-25 12:48] #91797 closed

[2020-11-25 13:16] pacoxu commented on #96833
After testing with the code, I find the issue in https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/preflight.go#L132-L134, I fixed it in #96860 .

A workaround for you is to create a empty kube-dns configmap.

[2020-11-25 13:48] gavinfish commented on #96859
/sig storage

[2020-11-25 14:04] alexcpn commented on #89900
rm /etc/containerd/config.toml
systemctl restart containerd
https://github.com/containerd/containerd/issues/4581

[2020-11-25 14:10] pacoxu commented on #96859
hostPath？ are all pods scheduled on the same node？

[2020-11-25 14:15] titanxxh opened #96862 "this test is wierd to set `expected` twice, and the last set is not correct"
https://github.com/kubernetes/kubernetes/blob/c1f36fa6f28d3618c03b65799bc3f58007624e5f/staging/src/k8s.io/client-go/tools/cache/index_test.go#L79
[code]
second `expected["elmo"] ` will cancel the first set, as a result, the `!found.HasAll(items...)` is checking empty list which will always be true.
this test should fail.

[2020-11-25 14:17] pacoxu commented on #96842
/cc

[2020-11-25 14:19] titanxxh commented on #96862
/sig testing

[2020-11-25 14:20] pacoxu commented on #96841
it may be related with auto convert between core secret with v1 secret.

Will read the code later.

[2020-11-25 14:35] alculquicondor commented on #96832
We gain because of 2 things: we remove the lock, and we remove map writes.

Both are expensive.

Worth adding the performance benchmark that was in your PR to test.

[2020-11-25 14:50] darthcorsair commented on #96833
Thanks, I'll try it

[2020-11-25 14:51] denkensk commented on #93500
/remove-lifecycle

[2020-11-25 14:52] denkensk commented on #93500
/remove-lifecycle stale

[2020-11-25 14:52] jingyih commented on #94029
/remove-lifecycle stale

[2020-11-25 15:01] uablrek commented on #93456
@andrewsykim Is it possible to add the proposed solution in https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187 in kube-proxy?

It would solve the problem for all users except for PODs with `hostNetwork:True` and have no significant draw-backs as far as I can tell.

[2020-11-25 15:15] andrewsykim commented on #93456
@uablrek I will take a look at that PR soon

[2020-11-25 15:24] heartTorres commented on #96855
Hi, yes I am using ebs volumes. Does this mean that this is still bug in K8 1.14 version?

[2020-11-25 15:56] thejoycekung commented on #96757
closing since testgrid looks green now

/close

[2020-11-25 15:56] #96757 closed

[2020-11-25 16:09] Michael-Sinz commented on #93474
/remove-lifecycle rotten

[2020-11-25 16:12] soltysh commented on #90066
`kubectl get` can have a new opt-in flag which would trip those fields, which would work both with `-o json` and `-o yaml`. This way we would not change default behavior and provide a way to strip them, something like `--strip-managed-fields`.

[2020-11-25 16:15] dogzzdogzz commented on #93736
We just experienced the outage of quay.io registry, it becomes single point of failure for some of our apps in cluster. we have to update the image of manifest to switch to backup registry and redeploy it. So I think it's kind of important feature for HA.
![image](https://user-images.githubusercontent.com/23068316/100253228-cf47bc80-2f7b-11eb-93fa-11330cc8ca9a.png)

[2020-11-25 16:48] ravisantoshgudimetla commented on #93276
Update: On the sig-windows side, we are trying to improve the stability of serial tests and we're monitoring the release blocking signals. Hopefully in the next few weeks we will get a solid green on the release blocking signals. If we look at the https://testgrid.k8s.io/sig-windows-releases#gce-windows-2019-master except for a couple of storage tests, we will try to deflake them in the next few w

[2020-11-25 16:52] #92541 closed

[2020-11-25 17:19] dobesv commented on #62772
I have not.

[2020-11-25 17:30] wiardvanrij commented on #93399
/remove-lifecycle stale

[2020-11-25 17:31] dobesv commented on #62772
The workaround is to avoid updating cron job configurations while jobs are running I guess.

[2020-11-25 17:33] couloum opened #96868 "Additional 1s latency in `host -> service IP -> pod` with iptables"
**What happened**:

With a freshly installed Kubernetes, I observe exactly the same issue as the one described in the very well documented issue #90854

I applied a suggested fix of deactivating vxlan offloading and it worked correctly.

However, I use iptables in my setup and not ipvs. The issue talk about a permanent fix supplied to kernel, but it seems to be related to IPVS. My question is: is

[2020-11-25 17:43] jingxu97 commented on #58638
@brancz will sig-instrumentation still want to handle this issue?

[2020-11-25 17:54] tpoindessous commented on #58065
/remove-lifecycle stale

thanks

[2020-11-25 17:56] tpoindessous commented on #58065
Work In Progress in https://github.com/kubernetes/kubernetes/pull/84205

[2020-11-25 18:54] #92582 closed

[2020-11-25 19:11] Sh4d1 opened #96871 "Need specification on InstanceID in cloud provider interface"
**What happened**:
According to
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cloud-provider/cloud.go#L177

`InstanceID` should return the providerID

But here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cloud-provider/cloud.go#L114

It uses the name + the `InstanceID`. So does that mean that provider ID is `providerName://instanceID` ? Or onl

[2020-11-25 19:15] Sh4d1 commented on #96871
/sig cloud-provider

[2020-11-25 19:17] couloum commented on #96868
/sig network

[2020-11-25 20:01] couloum commented on #96868
I found my answer by reading more github issues here:
- https://github.com/projectcalico/calico/issues/3145
- https://github.com/coreos/flannel/pull/1282
- https://github.com/kubernetes/kubernetes/pull/92035

And finally, it seems there is a fix added in Kubernetes 1.8.5 (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#bug-or-regression-4)

[code]

I'll try that.

[2020-11-25 20:17] chirangaalwis commented on #88912
@dhananjaya-senanayake seems like this is not enabled by default in AKS clusters of Kubernetes server version `1.17.x` as it is a Kubernetes alpha feature in the particular version range. Please refer to https://github.com/Azure/AKS/issues/1550.

[2020-11-25 22:51] piper41955 commented on #96862
A set is immutable, and by definition cannot support two of the same key name. We should have to change the data structure for this to pass, no?

[2020-11-25 22:56] EmilyM1 commented on #96411
Not a histogram, which would be a nice add -- but there's init containers that may be useful to you:
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2020-11-26 01:49] liggitt commented on #96853
I would fix the test here to be more tolerant. exact string matches on error messages aren't really an API… I would not expect that to block the golang release

[2020-11-26 01:52] cynron commented on #80968
@tedyu  @sjenning `Ready` condition can be updated by kubelet & controller-manager and it may lead to race. IMHO, maybe we can split `ready` condition into something like `ReadinessProbeReady` and `NodeHealthReady`. controller-manager will update `NodeHealthReady` to true if node changed to  healthy, and kubelet will update `ReadinessProbeReady` to true if readiness  probe succeeded. pod is treate

[2020-11-26 03:07] pacoxu commented on #96764
It would be great to have a reproduce method.

Same error message as https://github.com/kubernetes/kubernetes/issues/69264, and it may be related with the lb target group name generating logic ?

[2020-11-26 03:40] pacoxu commented on #96871
IMO, we should follow the definition in core v1 type and the cloud provider

https://github.com/kubernetes/kubernetes/blob/release-1.19/staging/src/k8s.io/api/core/v1/types.go#L4542
[code]

In cloud like AWS , the instance id is like 'i-0af01c0123456789a' as https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/identify_ec2_instances.html.

So in https://github.com/kubernetes/kubernetes/blob/master/

[2020-11-26 05:05] denkensk commented on #93591
/remove-lifecycle stale

[2020-11-26 05:06] yqwang-ms commented on #81285
/reopen

[2020-11-26 05:42] samdgoyal123 commented on #96859
yes it is hostPath and only one pod scheduled on the node so far.

[2020-11-26 05:50] knight42 commented on #90066
@soltysh I would like to take this.
/assign

[2020-11-26 06:03] PoornimaDevii commented on #83287
Saw this issue when I tried copying directly from one pod to another.

As an alternative try copying contents from the source pod to your local. Then from local to the destination pod.

kubectl cp <source-pod-name>:<path> <local-path> -n <namespace>
kubectl cp <same-local-path> <dest-pod-name>:<path> -n <namespace>

[2020-11-26 06:10] NoBugBoy commented on #96700
I also encountered a similar problem. When one of the master servers is closed, get nodes displays not ready, but the corresponding pods such as apiserver and controller manager are still ready and running

[2020-11-26 06:13] mkumatag commented on #96853
Agree too, we can think about having a substring match to avoid these issues instead!

[2020-11-26 06:15] mkumatag commented on #96853
/assign @Rajalakshmi-Girish
Lets see if we can fix this in the k8s tests

[2020-11-26 06:48] uablrek commented on #93456
@jpiper Would you mind it I create a PR with your update described in https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187 ?

Or would you prefer to do it yourself?

[2020-11-26 06:48] bozaro commented on #40610
I want to have node zone name in envronment variable to use some latency-critical services strongly in the same zone (for example: `mongos`).

`mongos` is a separate service from mongodb, through which all requests in a sharded configuration pass (app <-> mongos <-> mongodb). Since these are database queries, each hop has a significant impact on overall performance.

In bare hardware we deploy and

[2020-11-26 07:39] knight42 commented on #90066
I have file #96878 to add the flag `--strip-managed-fields`.

[2020-11-26 07:54] uablrek opened #96879 "Ipvs: NodePort entries for localhost (127.0.0.1, ::1) are created but can't be used"
**What happened**:

For services with type NodePort (and LoadBalancer) ipvs entries for localhost (ipv4 and ipv6) are created. Here is an example for a service with `ipFamilyPolicy: PreferDualStack` so the same nodeport is used for ipv4 and ipv6;

[code]

The localhost entries can't be used and most likely they never will.

**What you expected to happen**:

Since "::1" most likely will never work

[2020-11-26 07:55] huchengze opened #96880 "Is there a plan to add rbd csimigration controller?"
**What would you like to be added**:

Add rbd csimigration controller in kubernetes.

**Why is this needed**:

Some [in-tree storage plugins](https://github.com/kubernetes/kubernetes/blob/c1f36fa6f28d3618c03b65799bc3f58007624e5f/pkg/volume/csimigration/plugin_manager.go#L80) has already completed csimigration, and looks like there is no plan to add rbd csimigration controller in [kubernetes's blog

[2020-11-26 07:56] huchengze commented on #96880
/sig storage

[2020-11-26 08:09] luisdavim commented on #90066
As I've mentioned before and as @ganga1980 mentioned as well, the main managed fields problem is not a cosmetic one of hiding them in kubectl, it's a performance one, they increase the CPU, memory and bandwidth utilisation, solving this at the client side is not enough.

[2020-11-26 08:46] lingsamuel commented on #96755
This behavior doesn't "strange".
If the dest path `/tmp/test2` doesn't exist, `cp` create it and mapping src to it. If dest path exists, `cp` put src inside it.
`docker cp` has similar behavior and no one guarantees that it is idempotent.

[2020-11-26 08:51] matthyx commented on #96827
@mcsos I am wondering what could create non-socket files in `/var/lib/kubelet/plugins_registry/` ?

[2020-11-26 09:20] ark-g commented on #96670
@aojea
The default route was not changed and stays the same during node life, so I can suspect the DNS issue.
It is make sense since the issue not reproduced in stable manner.
As I see from code, if the _--node-ip_ not specified, then the HostIP can be achieved in so many ways and there is no guarantee that all these ways will return the same IP addresses in the same order in case of several addre

[2020-11-26 09:23] kwiesmueller commented on #90066
We discussed this in our last meeting of wg-api-expression and providing a proper solution for this is on our List of GA Tasks for Server-Side Apply.

We hear you and will be working on it. I think we'd prefer a Server-Side flag to prevent sending the fields instead of a client-only solution.
There are some questions that need to be answered, but we want to solve this as well.

[2020-11-26 09:26] antonakv commented on #82987
I have the same issue with k8s v1.15.11 on CentOS Linux 7 (Core) 3.10.0-1127.el7.x86_64. It happens when k8s node virtual machine snapshot is in progress on hypervisor level.

[2020-11-26 09:26] antonakv commented on #82987
/reopen

[2020-11-26 09:27] mcsos commented on #96827
@matthyx  Thank you for your reply.

Well, while reading code, I noticed the log may make people confused.
If there is no need for that, I'll close the issue and the pr.

[2020-11-26 09:28] antonakv commented on #82987
@deepaksood619 please reopen the issue

[2020-11-26 10:07] aojea commented on #96670
![image](https://user-images.githubusercontent.com/6450081/100337386-9a695300-2fd7-11eb-9c75-095fa4d0a702.png)
:smile:

[2020-11-26 10:09] #96827 closed

[2020-11-26 10:09] #91161 closed

[2020-11-26 10:19] pacoxu commented on #96862
/assign

[2020-11-26 11:16] pacoxu commented on #96880
dup with issue #91246  which is WIP in PR #95361 ?

[2020-11-26 11:19] zhiyuone opened #96885 "Plug-in SchedulingQueue"
**What would you like to be added**:
Move the `SchedulingQueue` of the Kubernetes scheduler out of internal.
When build the scheduler, add `scheduler.WithSchedulingQueue(CustomSchedulingQueue)` to specify an instance of SchedulingQueue.

**Why is this needed**:
I am using `Coscheduling` with `scheduler-plugins`.

In my case, due to limited resources, we need to schedule high-priority podgroups in

[2020-11-26 11:20] zhiyuone commented on #96885
/sig scheduling

[2020-11-26 11:23] couloum commented on #96868
I tested with k8s v1.18.12 and calico v3.17, but the issue still persist (as balleon is reporting in https://github.com/projectcalico/calico/issues/3145)

I found an other workarround than disabling offloading. I described it here: https://github.com/projectcalico/calico/issues/3145#issuecomment-734234736

But there should be a way to disable random-fully in kube-proxy to fully solve the issue.

[2020-11-26 12:16] tomkerkhove commented on #85544
/remove-lifecycle rotten

I'll write a KEP at some point

[2020-11-26 12:19] mborsz opened #96886 "Revisit etcd liveness probe"
Currently, etcd livenessProbe is defined here:
https://github.com/kubernetes/kubernetes/blob/c1f36fa6f28d3618c03b65799bc3f58007624e5f/cluster/gce/manifests/etcd.manifest#L66-L73
This means that it proves /health endpoint 3 times (default failureThreshold value) and if all of them fails, it restarts etcd server.

/health endpoint returns "unhealthy" if one of the conditions is met ([src](https://gi

[2020-11-26 12:36] wojtek-t commented on #96886
I think that's not necessary true, that may potentially help sometimes. But I agree that's probably pretty rare.

/sig api-machinery

[2020-11-26 13:05] andyzhangx commented on #96508
@msau42 I have verified that if pvc and pod and secret are in the same namespace (not default), it works. And I found one funny thing, only statefulset does **not** work, and deployment always works even pod and secret are not in same namespace, in below example, statefulset and deployment are using same PVC, only statefulset does not work. Not sure whether there is special handling in statefulset

[2020-11-26 13:14] jsafrane opened #96888 "Block devices are not torn down when /var/lib/kubelet is symlink"
**How to reproduce it (as minimally and precisely as possible)**:
1. Make /var/lib/kubelet a symlink
[code]

1. Run  kubelet
[code]

1. Create a block PVC + a pod that uses it.
1. Delete the pod.

-> The pod is `Terminating` forever. In kubelet logs:
[code]

The reason is that `losetup -j /var/lib/kubelet/plugins/kubernetes.io/aws-ebs/volumeDevices/aws:/us-east-1d/vol-0b1729094ca87a001/7e04362d-39

[2020-11-26 13:16] mm4tt commented on #96886
Do we have an analysis of why the 3 healthchecks in row failed in https://github.com/kubernetes/kubernetes/issues/96038?
Was it timeout, timeout, timeout or something else?

Do you say that if etcd is overloaded then restarting it will help? Wouldn't it be even more overloaded and run into restart-loop because it will never become /healthy in time again?

[2020-11-26 13:20] cccs-eric commented on #96362
Hi @pacoxu , I am also experiencing the same issue.  I created a [script](https://gist.github.com/cccs-eric/38c43465778f294176ce33deb484f7ca) that exposes the problem.  See if you can replicate on your side.  Here is the output of that script when I run it:
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-11-26 13:30] imyashvinder commented on #96362
@cccs-eric This has been resolved for me. Actually, we are using EKS and it turned out to be a webhook issue.

I then deleted the webhook and applied again as below:

kubectl delete -f https://github.com/jetstack/cert-manager/releases/download/v0.11.1/cert-manager.yaml
kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v0.11.1/cert-manager.yaml

[2020-11-26 13:41] cccs-eric commented on #96362
@imyashvinder I'm convinced that it must be caused by something external since I can't believe such an obvious bug would make it out to a release.  I just can't figure out what is causing this.  I am on Azure AKS.  I'm not familiar with webhooks, so may I ask how you came up to this conclusion in your case?

[2020-11-26 14:11] imyashvinder commented on #96362
@cccs-eric We just tried replicating the issue and had a close look at api server and controller manager logs and found webhook related failure.
Tried running pod on specific nodes. Even created new aws managed node group, futile effort. Eventually removed the webhook and voila !!

[2020-11-26 14:13] #89140 closed

[2020-11-26 14:18] cccs-eric commented on #96362
@imyashvinder I just tried on two other different AKS clusters (both running 1.18.8) and the delete works.  So it seems related to that one cluster.  I'll have to find what's different, other than the k8s version.

Thanks for the feedback 👍

[2020-11-26 14:23] couloum commented on #96868
At this stage, I the only workarround I have is to disable offloading. However, I don't understand why the bug is still present with k8s v1.18.12, while this PR should have resolve it https://github.com/kubernetes/kubernetes/pull/92584

Does anyone have a clue here?

Thanks

[2020-11-26 14:23] marseel commented on #96710
Also it's flaking on these tests:
Testgrid: https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

[2020-11-26 14:50] imyashvinder commented on #96362
@cccs-eric why don't you raise a support request and let 'em have a look at it.

[2020-11-26 15:14] #78109 closed

[2020-11-26 15:24] #92671 closed

[2020-11-26 15:27] Frankkkkk opened #96891 "kubelet's healthz return OK even when api is unreachable"
**What happened**:
When the kubelet cannot reach the apiserver, the healthz route continues returning `ok`

**What you expected to happen**:
healthz route should not return OK

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.18.3
- Cloud provider or hardware configuration: bare metal
- OS (e.g: `cat /etc/os-

[2020-11-26 15:33] mitsos1os opened #96892 "High Kernel memory usage"
**What happened**:
Cluster node is using an excessive amount of **Noncache kernel memory** after deployment of pods, leading to memory starvation problems in the node.
Some command ouputs:

**`free -m`:**
[code]
This currently shows that my actual used *(non-cache or reclaimable memory)* is around **3.4GB**.

Also the output of **`sudo smem -twk`:**
[code]
matches the output of **`free`** in the f

[2020-11-26 16:20] adtac opened #96893 "minor enhancements to APF e2e drown-out fairness test"
1. https://github.com/kubernetes/kubernetes/pull/96646#discussion_r530149617 - wait for PLC digest within API server before querying for real concurrency
2. https://github.com/kubernetes/kubernetes/pull/96646#discussion_r530155625 - fix concurrency share / real concurrency terminology

/sig api-machinery
/assign

[2020-11-26 16:25] andrewsykim commented on #96871
Unfortunately `InstanceID()` is something we've had to carry over from when the cloud provider was only called from the kubelet. So far we have not been prescriptive to the exact format of providerID, though many cloud providers follow the format `<provider-id>:<zone>/<instance-id>`. This is useful in case cloud providers want to ignore instances not in the same cloud or they want to store other m

[2020-11-26 16:28] adtac commented on #93793
/remove-lifecycle stale

[2020-11-26 17:48] #63371 closed

[2020-11-26 17:55] soltysh commented on #53331
Do you have an example yaml of such a failed pod?

[2020-11-26 17:56] soltysh commented on #64787
With the new controller being written (see https://github.com/kubernetes/kubernetes/pull/93370) this is not relevant any more.

[2020-11-26 17:56] #64787 closed

[2020-11-26 17:57] cccs-eric commented on #96362
I tested it on minikube 1.19.3 and 1.19.4 and it works on both.  So I'll raise it to Azure.

[2020-11-26 18:00] soltysh commented on #42649
This is being fixed in the new controller https://github.com/kubernetes/kubernetes/pull/93370

[2020-11-26 18:38] serathius opened #96896 "Make health check adding methods in GenericAPIServer public"
**What would you like to be added**:
When using GenericAPIServer you can only add new checks via `AddHealthChecks` function which adds them to all `healthz`, `readyz`, and `livez` endpoints. All other methods like `addReadyzChecks` are private. [Code](https://github.com/kubernetes/kubernetes/blob/7acb066dbcd7d05106609711fc4ec110fec1d1a4/staging/src/k8s.io/apiserver/pkg/server/healthz.go)

I would

[2020-11-26 18:39] serathius commented on #96896
/sig apimachinery

[2020-11-26 20:19] #92480 closed

[2020-11-26 20:19] #92564 closed

[2020-11-26 22:30] alculquicondor commented on #96748
I was pondering in the code and started thinking that the overhead won't be negligible as we would need to add a Node informer, and perhaps a Node labels converted into a slice to reduce map accesses.

While that implementation is still worth exploring, I was playing around with an idea that I've had for a while: relax the timestamp comparisons to a logarithmic scale (rounded to the nearest intege

[2020-11-27 01:10] huchengze commented on #96880
@pacoxu Thanks!

[2020-11-27 01:10] #96880 closed

[2020-11-27 01:13] pytimer commented on #87615
Is there a plan to cherry-pick #95981 to 1.17 release branch?

[2020-11-27 01:36] mcsos commented on #95945
/assign

[2020-11-27 01:47] JornShen commented on #94281
@pmyjavec  @saul-gush @ialidzhikov @serathius @ghouscht

update to the newest v1.19-release, problem had been solve by https://github.com/kubernetes/kubernetes/pull/96849, or update the v1.20 alph version after 2020/11/14 by https://github.com/kubernetes/kubernetes/pull/96425 merged if you use docker verison under v19.X

[2020-11-27 03:01] zhoudayongdennis commented on #96847
it seems only one level path supported by K8s, and AA/BB path could NOT handle well currently.

please consider the enhance for that.

[2020-11-27 03:31] zhiyuone commented on #96885
Duplicate with https://github.com/kubernetes/enhancements/issues/624

[2020-11-27 03:31] #96885 closed

[2020-11-27 03:54] mind-mind opened #96899 "hostpath PVC question"
Hey everyone,

I just know about host path PVC can use only single-node, but I try with multiple-nodes and it works, so actually, the data on PVC was sent out to host path with that worker node. The result is very surprising to me because it can send so fast. My question is it is a good idea to migrate data on PVC with the host path because it automatically sending data out?

[2020-11-27 05:28] #92629 closed

[2020-11-27 05:44] chendave commented on #82775
/lifecycle frozen

[2020-11-27 05:44] chendave commented on #82775
/remove-lifecycle rotten

[2020-11-27 05:45] chendave commented on #81920
/lifecycle frozen

[2020-11-27 05:45] chendave commented on #81920
/remove-lifecycle rotten

[2020-11-27 05:45] chendave commented on #81920
/reopen

[2020-11-27 05:45] chendave commented on #82775
/reopen

[2020-11-27 05:46] chendave commented on #82775
triage/accepted

[2020-11-27 05:46] chendave commented on #82775
/triage accepted

[2020-11-27 05:50] chendave commented on #81920
/triage accepted

[2020-11-27 05:51] darthcorsair commented on #96833
empty kube-dns configmap doesn't helped.

[code]

[2020-11-27 05:57] kannanvr opened #96902 "How to enable WRR for kube-proxy"
Hi All,
 I have tried enabling wrr on kube-proxy. But i could not see the documentaation about how to enable the WRR for kube-proxy..
Also, How do we set the weighs for each node and pod to route the traffic for kube-proxy..
Is there any CRD available ?
Basically, very limited information about WRR w.r.to kube-proxy.

[2020-11-27 07:20] davidhoelzel commented on #84219
Is there a possibility to get an explanation for that behaviour? I could not find anything in the documentation of fsGroup or subPath feature. As this proposes a serious permission issue in the storage system, I would expect that such a configuration should fail instead of creating mounts with wrong permissions.

[2020-11-27 07:37] mborsz commented on #96886
Given that the cluster in our tests is zonal, it must be 3x timeout (we had no alarm, as the event-etcd would crashloop until the end of the test, there is a single raft member so it must be a leader).

Sorry, typo. I tried to say that in none of those cases restart will help (including >1s latency), but in fact I wrote something else. I changed initial post.

[2020-11-27 08:20] sobngwi commented on #96645
Hi, new information on this bug. I thing, i updated the wrong field ( in the status , not in the spec) :
spec:
  hard:
    pods: "2"
    requests.cpu: "1"
    requests.memory: 2G
status:
  hard:
    pods: "2"
    requests.cpu: "1"
    requests.memory: 2G
  used:
    pods: "0"
    requests.cpu: "0"
    requests.memory: "0"
---
However the edit was successfull
As  the following  message is displayed

[2020-11-27 08:31] #92633 closed

[2020-11-27 08:37] lexsys27 commented on #78227
I see this issue in `1.18.8` for `nodes`.

SA has following permissions:

[code]

Script should wait until node is ready:

[code]

Instead I get `Error from server (Forbidden): unknown` message. It is doesn't say what permissions `kubectl` miss so is not very helpful.

I believe this issue should be reopened.

[2020-11-27 09:52] ScrapCodes opened #96908 "[Flaky Test] //pkg/kubelet/cm/devicemanager/go_default_test:run_2_of_2"
**Which jobs are flaking**:
bazel-test-master

**Which test(s) are flaking**:
//pkg/kubelet/cm/devicemanager/go_default_test:run_2_of_2

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master

**Reason for failure**:
[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
Triage shows nothings (seems to not have updated data), but there

[2020-11-27 09:56] tpoindessous opened #96909 "GCP/GKE/Load Balancer : verify loadBalancerIP format"
**What would you like to be added**:
Hi,

in GKE, I just discovered an error I made :

[code]

I pasted a whitespace at the end of the IP and I got no error from kubectl and no error from GKE Web Console.
But when I do
[code]
I discovered my error.

**Why is this needed**:
I would like to have :
* an error when I pushed `kubectl apply`
* or an error on the GKE Web Interface

Thanks !

[2020-11-27 09:59] foriequal0 opened #96910 "Should admission validating webhook wait for the service ready or `WithExponentialBackoff`?"
**How to reproduce it (as minimally and precisely as possible)**:
I was trying to deploy ingress-nginx and kubernetes-dashboard at once.
[code]

**What happened**:
Following error occured:
[code]

`service/ingress-nginx-controller` wasn't ready at that time. After the service is ready, `kubectl apply -f kubeernetes-dashboard.yaml` success.

**What you expected to happen**:

Admission controller sh

[2020-11-27 10:06] pacoxu commented on #96833
@darthcorsair  sorry for my mistake.

According to my test, the create or update will  trigger is no migrating.
Even your corefile will meet some `newdefault` dep that need to be migrated.
[code]
max_concurrent is new default. However, there is a typo in #96907.

 Below is a workaround(not good one), add upstream to your  corefile in kubernetes.
[code]
![image](https://user-images.githubuserconten

[2020-11-27 10:08] pacoxu commented on #96833
if your current coredns is 1.6.7, upstream is  deprecated but not removed.

In new 1.7.0 coredns, upstream is removed.

https://github.com/kubernetes/kubernetes/blob/5ed4b76a03b5eddc62939a1569b61532b4a06a72/vendor/github.com/coredns/corefile-migration/migration/plugins.go#L189-193

[2020-11-27 10:15] fasaxc commented on #87615
https://github.com/kubernetes/kubernetes/pull/95981#issuecomment-730561539

[2020-11-27 11:48] shekhar-rajak opened #96912 "@reboot in Kubernetes CronJob"
Hi,

We have a scenerio, where job needs to be run when pod restarts/deleted and scheduled again. Once it start running the instance, we have to make sure that job runs, which is good usecase of cronjob @reboot

Can anyone help me how to use `@reboot ` in Kubernetes CronJob ? I do not see any example related to it : https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/ here.

[2020-11-27 12:13] pacoxu commented on #96910
helm support to config pre or post install for chart. https://helm.sh/docs/topics/charts_hooks/

You can add ready check in the helm chart.

[2020-11-27 12:19] Kvistian commented on #73140
In my case I had experimented with a namespace that were tied to a service using a specific port and even though the service weren't running the port was unavailable when I tried running it.
The port became available first when I deleted the namespace.

[2020-11-27 12:23] foriequal0 commented on #96910
I don't use helm directly for some reasons, but I didn't know I could do it with the hook. Thanks.

[2020-11-27 12:58] karolinepauls commented on #93018
/remove-lifecycle rotten

[2020-11-27 13:05] daniel-ke commented on #96786
The network side may be a red herring.
It looks like it may be to do with telnet environmental variable interaction and so just an issue with telnet itself.
Adding the services result in 1000+ environmental variables in the environment for pods created after the services are created.
telnet in this env results in the slow 30ms responses,
but by clearing all environmental variables in a new shell (

[2020-11-27 13:05] #96786 closed

[2020-11-27 13:23] tosi3k opened #96915 "Deprecation of k/k/cluster/log-dump subdirectory"
##  Context
As pointed out in https://github.com/kubernetes/kubernetes/pull/96613, SIG Scalability has proceeded with moving the log dumping mechanism used in the CI tests that leverage `kubekins-e2e` image from `kubernetes/kubernetes` repository to `kubernetes/test-infra` one where it lives in [this](https://github.com/kubernetes/test-infra/tree/master/logexporter) subdirectory. `log-dump.sh` and

[2020-11-27 13:26] tosi3k commented on #96915
/kind cleanup

[2020-11-27 13:27] tosi3k commented on #96915
/remove-kind bug

[2020-11-27 13:44] lala123912 opened #96916 "Pods will be deleted failly when they are amounted to emptyDir with the type of medium is "HugePages""
**What happened**:
Pods will be deleted failly when they are amount to emptyDir with the type of medium is "HugePages", while /var/lib/kubelet is symlink.

**What you expected to happen**:
Delete the pods successffuly.

**How to reproduce it (as minimally and precisely as possible)**:
1、deploy a pod and amouting to emptyDir , setting medium to "HugePages", for example,
apiVersion: v1
kind: Pod
met

[2020-11-27 13:44] lala123912 commented on #96916
/assign

[2020-11-27 13:45] sowhatim commented on #19825
I am also seeing one weird behaviour where container is using 40% the memory of the request, and it is getting restarted throwing 137 exit code. There is no logs for oom or liveliness check failures as it is set pretty high but container is getting kill repeatedly throwing 137 code. Also application in itself is not throwing any error, etc so I am guessing something from k8s is killing the pod.

A

[2020-11-27 13:47] lala123912 commented on #96916
/sig storage

[2020-11-27 14:37] #90962 closed

[2020-11-27 14:46] pjbgf commented on #91444
/remove-lifecycle stale

[2020-11-27 15:16] gavinfish commented on #92037
/assign
/help remove

[2020-11-27 15:17] JacobHenner commented on #25456
For AWS users who are using Amazon's EKS AMI, it looks like this is due to a containerd compatibility issue. See https://github.com/awslabs/amazon-eks-ami/issues/563 for details.

[2020-11-27 15:18] JacobHenner commented on #82987
For AWS users who are using Amazon's EKS AMI, it looks like this is due to a containerd compatibility issue. See https://github.com/awslabs/amazon-eks-ami/issues/563 for details.

[2020-11-27 15:18] gavinfish commented on #92037
/remove-help

[2020-11-27 15:29] tomqwpl commented on #80602
I too am frustrated by the lack of this functionality.
I'm wanting to provide a user interface that displays information where the primary source of truth is stored in CRs. Naturally I want to provide paging in the user interface so that it only shows limited data, and is scalable regardless of the number of instances. Naturally I want to provide sorting to allow users to sort by name, creation da

[2020-11-27 15:40] irizzant commented on #83265
/remove-lifecycle stale

[2020-11-27 16:39] #92062 closed

[2020-11-27 16:39] #69528 closed

[2020-11-27 16:41] survivant commented on #60807
I used this to remove a namespace stuck at Terminated

example :
[code]

[2020-11-27 16:41] troy0820 commented on #96902
/remove-kind bug
/kind support

[2020-11-27 16:53] antonakv commented on #82987
@JacobHenner I'm using Proxmox with kvm for virtualization. Own cloud. And the case is the same.

[2020-11-27 16:54] antonakv commented on #82987
This issue is affecting a lot of users and I see a lot of duplicate issues like that are closed without resolution. Come on! Stop doing that.

[2020-11-27 16:54] troy0820 commented on #96902
/sig network

[2020-11-27 17:04] troy0820 commented on #96912
/sig apps
/sig scheduling

@ shekhar-rajak If your job is dependent on restart/deleted pods, maybe the resource you need is something that can watch the pod.  Maybe an init container that can do the work you need for the pod when it restarts. Maybe a controller that will watch the pod and do something when it gets deleted. CronJobs are triggered on a schedule and having it respond to a trigger of

[2020-11-27 17:46] troy0820 commented on #96899
/remove-kind flake
/kind support
/sig storage

[2020-11-27 18:41] #47775 closed

[2020-11-27 18:48] thockin commented on #95893
Every unit test I run around REST code.  These are coming from inside the GRPC client (vendor/google.golang.org/grpc/clientconn.go) so I an not sure how to weed them out, honestly, but it makes test fails super obnoxious.

E.g. `make test` or `go test`

[2020-11-27 19:06] bl-ue opened #96919 "Inconsistent casing of AGE column in describeNodeResource() in kubectl/describe.go"
At line 3775 in `describe.go` (`kubectl describe node`), the last column is "AGE", all uppercase, while the other columns are sentence case.  Is this intentional or an oversight?

https://github.com/kubernetes/kubernetes/blob/2c58deffa87bf464293fe80c80b7fec31d0aae7c/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L3775

[2020-11-27 19:07] bl-ue commented on #96919
/sig cli

[2020-11-27 19:47] bl-ue commented on #96919
If this is a mistake I will open a PR to fix it.

[2020-11-27 20:36] budnik commented on #82296
Hi.

I wonder If issue [mentioned](https://github.com/kubernetes/kubernetes/issues/82296#issuecomment-583121688) by @maikelvl has to be reported as separate issue? According to original report it seem like a regression in 1.15.x

[2020-11-27 21:21] jkleckner commented on #47775
FYI to those interested in this risk.

There is a k8s AdmissionController called AlwaysPullImages that will rewrite all incoming (newly created) pods to use the Always policy. https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#alwayspullimages

[2020-11-27 22:04] cccs-eric commented on #96362
@imyashvinder So after 3 days of trying to figure out what is going on, I should have listened to you...  Long story short, I was trying to install Eclipse Che and it comes with cert-manager unless you disable that option to use your own (which I do since I run Bitnami BKPR).  I did install Che once or twice with the cert-manager option set to true until I realized what was happening.  I guess it

[2020-11-27 23:31] BentCoder opened #96922 "Unable to disable HTTP access on ingress"
Hi,

Not sure if this is a bug or not so asking here. I followed the doc but nothing seems specific. Tried `annotations` as listed below but no luck.

Thanks

**What happened**:
Unable to disable HTTP requests.
This works `curl --request GET http://my-address-finder.com` but it shouldn't.

**What you expected to happen**:
Allow only HTTPS access.
Only this should work `curl --insecure --request GE

[2020-11-28 00:22] AntonOfTheWoods commented on #82987
@antonakv , duplicates of this issue or in general? If this issue, I'd like to know when it gets fixed so I can undo my hack, can you link to a few?

Maybe one of us should create a new "follow-up" ticket?

[2020-11-28 01:22] pacoxu commented on #96922
/sig network

[2020-11-28 01:56] alogoc commented on #93900
This feature would have been very useful in several operating scenarios, such as setting proxy settings before a deployment.

[2020-11-28 02:16] pacoxu commented on #96902
/sig network

[2020-11-28 02:55] soft-way commented on #96459
Same issue in my env:
VM (CentOS 7.9.2009 4 CPU+12G Memory) on virtualbox(6.1)
Host is Windows 10 (16G Memory, CPU Intel(R) Core(TM) i3-10100 CPU @ 3.60GHz 3.60 GHz)
docker version: docker-ce-19.03.9-3.el7.x86_64
K8S version: 1.19.4

Part error log output from docker logs -f <kube-apiserver-container_id>:
[code]

[2020-11-28 03:17] lisongmin commented on #95727
Is this MR relative to the problem?

https://github.com/grpc/grpc-go/pull/4021

[2020-11-28 03:28] hanlins commented on #95727
No I don't think so, I've cherry-picked that change and tried in my environment weeks back, and the issue is still there. I only get around the issue by modifying the gRPC code as I mentioned in the [comment](https://github.com/kubernetes/kubernetes/issues/95727#issuecomment-719853160) above, I'll continue to check which component modified the `Dial` function in `ClientConn` after thanksgiving.

[2020-11-28 05:33] #96765 closed

[2020-11-28 05:57] shekhar-rajak commented on #96912
Thanks @troy0820 , just curious to understand CronJob doc: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

says "One CronJob object is like one line of a crontab (cron table) file. It runs a job periodically on a given schedule, written in Cron format." and the wiki page it redirect is https://en.wikipedia.org/wiki/Cron where

`@reboot | Run at startup` is also mentioned. So

[2020-11-28 06:07] dnoland1 commented on #57534
/remove-lifecycle stale

[2020-11-28 06:44] lojies opened #96923 "when kube-scheduler or kube-controller-manager lost leader,panic log too long"
**What happened**:
when kube-scheduler or kube-controller-manager lost leader, it panic and posts too much log.
**What you expected to happen**:
just write some nessary log.
**How to reproduce it (as minimally and precisely as possible)**:
make kube-scheduler or kube-controller-manager lost leader.
**Anything else we need to know?**:

[2020-11-28 06:52] lojies commented on #96923
/sig Scheduling

[2020-11-28 07:05] BentCoder commented on #96922
Looks like my version is converted to `extensions/v1beta1`!!!

[code]

[2020-11-28 07:17] BentCoder commented on #96922
If I use the `networking.k8s.io/v1beta1` version, HTTP is disabled however why suggested version `networking.k8s.io/v1` won't work?

[code]

My HTTP requests are successfully redirected to HTTPS here.

[code]

[2020-11-28 08:25] BentCoder commented on #95100
@knight42 How do we "specify our desired apiVersion"?

[2020-11-28 09:31] andy-kimball opened #96925 "controller-runtime: starting/stopping `manager.Manager` leaks goroutines"
**What happened**:
Each time the controller manager is started and then stopped, it leaks goroutines (see the Go code below for a simple repro).

**What you expected to happen**:
When the controller manager is stopped, all resources should be cleaned up, and the `leaktest` package should not find any leaked goroutines.

**How to reproduce it (as minimally and precisely as possible)**:
Run `go test

[2020-11-28 10:41] aojea commented on #57534
@dnoland1 can you confirm that the problem is trying to reach Services IPs?
If that is the case, this is working as expected, if you need to reach services IP, you need to tell the system how to go to the Services IP range, it can a be a default route or a route to the service subnet like in https://github.com/kubernetes/kubernetes/issues/57534#issuecomment-527653412

[2020-11-28 10:42] antonakv commented on #82987
@AntonOfTheWoods Here you are exactly the same k8s bug. I guess it's related to Golang threading algorithm  https://github.com/kubernetes/kubernetes/issues/54381
and
https://github.com/kubernetes/kubernetes/issues/42164
and external
https://github.com/cri-o/cri-o/issues/1228
and the same in Vmware: https://github.com/vmware/vic/issues/6390

All of them related to VM freeze for taking snapshots.

A

[2020-11-28 10:53] aojea commented on #96909
Thanks for reporting this, I think that this was already fixed by https://github.com/kubernetes/kubernetes/pull/94107, and backported to the corresponding stable branches
/close
Feel free to reopen if this is a different issue

[2020-11-28 10:56] aojea commented on #96909
/reopen
upps,sorry, I just noticed that the PR is about `LoadBalancerSourceRanges`  and this issue is for `loadBalancerIP`
/cc @bowei @robscott

[2020-11-28 10:56] imyashvinder commented on #96362
@cccs-eric i am glad that you have finally fixed it.

👍

[2020-11-28 10:57] aojea commented on #96909
/sig-network

[2020-11-28 10:57] #92648 closed

[2020-11-28 10:57] aojea commented on #96909
/sig network
/triage accepted
ping @thockin

[2020-11-28 11:20] tpoindessous commented on #96909
Hi @aojea

thanks !

I read proxy/service.go and it seems that, at first sight, we could add the same  Trim for loadbalancerIp that referenced PR has done for LoadBalancerSourceRanges

If I find the time, I will try !

thanks !

[2020-11-28 12:02] headyj opened #96926 "kube-controller-manager is not logging"
Hello,

I have an issue setting up persistant volumes for gitlab on my bare-metal kubernetes cluster:

`Operation for "provision-gitlab/repo-data-gitlab-gitaly-0[3f758288-290c-4d9c-a084-5506f58a22d7]" failed. No retries permitted until 2020-11-28 11:55:56.533202624 +0000 UTC m=+305.008238514 (durationBeforeRetry 4s). Error: "failed to create volume: failed to create volume: see kube-controller-man

[2020-11-28 12:25] kaikai136 opened #96927 "kubernetes ingress Port 80 not open"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment1
spec:
  replicas: 2
  selector:
    matchLabels:
      name: nginx
  template:
    metadata:
      labels:
        name: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 80
      imagePullSecrets:
        - name: kaikai.txt

[2020-11-28 12:59] #89742 closed

[2020-11-28 14:59] bl-ue commented on #96919
/cc @lovejoy d022cc8a89a4042ebf7bfda074e50cd43e70cfd2 #63485

[2020-11-28 15:00] goku321 commented on #96836
/assign

[2020-11-28 16:24] neeson-lee opened #96930 "How to install this weave net add on behind proxy"
Im beginner this kubenetes. and I want to learn this
I use my company's proxy

when I try to this

kubectl apply -f "https://cloud.weave.works/k8s/scope.yaml?k8s-version=$(kubectl version | base64 | tr -d '\n')"

The connection to the server cloud.weave.works was refused - did you specify the right host or port?

I took this result how to solve this problem??

i use centos 18.4 docker 19.03.13

[2020-11-28 17:34] BBQigniter commented on #50375
yes, please. that would be great

[2020-11-28 18:41] andrewsykim commented on #91306
/remove-lifecycle stale

KEP was merged recently to address this https://github.com/kubernetes/enhancements/pull/1960. This should be an alpha feature for v1.21 cc @maplain

[2020-11-28 19:05] #89076 closed

[2020-11-28 20:09] aojea commented on #96922
@cmluciano can you please take a look at this? can it be an issue with the recent promotion of Ingress to GA?

[2020-11-28 20:10] aojea commented on #95258
The fix in the in portmap plugin was merged https://github.com/containernetworking/plugins/pull/553

@kinghrothgar can you try to use the latest version of the plugin and provide feedback?

[2020-11-28 21:11] iamchuckss commented on #95106
I'd love to give this a try!
/assign

[2020-11-28 21:22] kinghrothgar commented on #95258
I will try to this coming week

[2020-11-29 00:56] Dean-Coakley commented on #93312
/remove-lifecycle rotten

[2020-11-29 04:09] ravisantoshgudimetla opened #96935 "Add priority flag to kube-proxy on Windows hosts"
**What would you like to be added**:

 Add priority flag to kube-proxy so that end-user can specify priority

**Why is this needed**:

On Windows hosts, there is a chance that the kube-proxy process won't get enough CPU cycles because of the default priority set for the Windows process.

xref: kubernetes/kubernetes#95735 (comment)

Additional context:

xref: kubernetes/kubernetes#95735

cc @maross

[2020-11-29 04:13] ravisantoshgudimetla commented on #96935
/sig network
/sig windows

[2020-11-29 07:15] arctica commented on #56374
It would be great if one could set the ambient capabilities so one can run containers easily as non-root with e.g. CAP_NET_BIND_SERVICE. Seems like many people are affected and get confused as to why the capabilities specified in the securityContext are not taking effect. Unfortunately this issue has been open for 3 years already.

[2020-11-29 07:17] #92701 closed

[2020-11-29 10:38] icarmon opened #96938 "HPA description hides issues with missing metrics"
We had an issue with deployments that should have been scaling up (cpu based autoscaling) but were not.
After investigation we found that an issue with kubelet/cadvisor was causing metrics-server to not get metrics from some pods (the issue is fixed in newer versions of K8s).

The problem is that when looking at the HPA description there is no indication that there is any issue at all (except for

[2020-11-29 10:41] icarmon commented on #96938
/sig autoscaling

[2020-11-29 16:26] #90141 closed

[2020-11-29 17:29] fphammerle commented on #64783
/remove-lifecycle stale

[2020-11-29 18:07] aojea commented on #96902
AFAIK wrr is only available for kube-proxy using IPVS mode, and you can specify it with the `IPVSSchedulerMethod` option

https://github.com/kubernetes/kubernetes/blob/2343b8a68bacd5f641f3cfa2be07329c140a6446/pkg/proxy/apis/config/types.go#L205-L216

@andrewsykim is this correct?

[2020-11-29 18:47] likan999 commented on #92463
Just curious, why doesn't Kubernetes support CentOS 8? We still need to use el7 repos on CentOS 8.

[2020-11-29 19:25] librannk commented on #7452
any update on this ??

[2020-11-29 19:29] librannk commented on #89163
Hi , Any update on this ?

[2020-11-29 19:29] andrewsykim commented on #96902
For a while we only supported a set of well-known schedulers. More recently @cmluciano merged a PR so that we can use any IPVS scheduler as long as the scheduler module is loaded or builtiin the kernel. This will be available in v1.20.

[2020-11-29 19:29] andrewsykim commented on #96902
PR is https://github.com/kubernetes/kubernetes/pull/93040

[2020-11-30 00:13] fejta-bot opened #96940 "pr:pull-kubernetes-e2e-gce-ubuntu-containerd flaked 10 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-ubuntu-containerd
 Flakes in the past week: **10**
 Consistency: **93.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-api-machinery] API priority and fairness should ensure that requests can't be drowned out (fairness) | 4 |

#### Previously closed issues for this job flaking:
#92155 #91866

[Flakiest Jobs](https://st

[2020-11-30 01:44] hex108 commented on #91667
/remove-lifecycle stale

[2020-11-30 02:41] JornShen commented on #94281
/close

[2020-11-30 02:42] #94281 closed

[2020-11-30 04:12] BenTheElder commented on #95893
FWIW I noticed the clientconn logging is super noisy in production components too (apiserver) lately and IMHO seems less than useful. I think we should be turning that down broadly.

[2020-11-30 05:17] apelisse commented on #96714
My understanding is that some validation ratcheting would help fix that bug?

[2020-11-30 05:55] MikeSpreitzer opened #96942 "Replace type of Delta not mentioned in comment on DeltaFIFO"
**What happened**:
While reviewing for #96797 I noticed that #86015 introduced a second type of Delta that is specific to DeltaFIFO but did not update the relevant documentation at https://github.com/kubernetes/kubernetes/blob/e3de62298a730415c5d2ab72607ef6adadd6304d/staging/src/k8s.io/client-go/tools/cache/delta_fifo.go#L131-L132 , which was introduced by concurrent PR #86774 .

**What you expect

[2020-11-30 06:06] MikeSpreitzer commented on #96942
@kubernetes/sig-api-machinery-bugs

[2020-11-30 06:06] MikeSpreitzer commented on #96942
@squeed

[2020-11-30 06:31] MikeSpreitzer commented on #96942
BTW, I think it would be more reader-friendly if the definitions of Deltas and related types were closer to their mentions near the top of the file rather than near the end.

[2020-11-30 06:33] tanjing2020 opened #96943 "instead of "-f", we should use "--force" to delete the git working tree"
https://github.com/kubernetes/kubernetes/blob/e3de62298a730415c5d2ab72607ef6adadd6304d/hack/verify-generated-files-remake.sh#L37

### **git version**
git version 2.17.1 linux

### **phenomenon:**
Verifying verify-generated-files-remake.sh

+++ Running case: verify.generated-files-remake
+++ working dir: /usr1/k8s/src/k8s.io/kubernetes
+++ command: bash "hack/make-rules/../../hack/verify-generated-

[2020-11-30 06:34] tanjing2020 commented on #96943
/assign

[2020-11-30 06:40] #92772 closed

[2020-11-30 06:42] wu0407 opened #96945 "restart kubelet node status flapping"
**What happened**:
Restart kubelet that node status from ready--> not ready-->ready, beacuse `kl.syncNodeStatus the updateNodeStatus`  run finished before `updateRuntimeUp` and `fastStatusUpdateOnce() the updatePodCIDR` finished,  then `fastStatusUpdateOnce run the  updateRuntimeUp and syncNodeStatus`  ,  so node ready condition turn to false,  the ready condition change to true qucikly.

conditio

[2020-11-30 06:43] wu0407 commented on #96945
/kind bug
/sig node
/area kubelet

[2020-11-30 07:48] mborsz commented on #96836
After making leaseReuseDurationSeconds configurable, we still need to have better observability to be able to consciously tune this value:
1. Adding a prometheus metric with a size (= number of objects) of a lease
2. Log a warning if the size of lease exceeds some threshold (TBD)

The rationale for adding 2, while we have 1 is that e.g. in scalability tests the most problematic case is when we cre

[2020-11-30 09:02] pohly commented on #95497
Another idea for reducing number of writes per volume provisioning.

For late binding, kubec-controller-manager waits for a pod. Then it triggers *two* PVC updates rapidly after each other: first `volume.kubernetes.io/selected-node` is set, then `volume.beta.kubernetes.io/storage-provisioner`. This probably could be combined into one update.

[2020-11-30 09:02] li-yi-cloud opened #96949 "In cetos 7.6 arm V8 64 environment, kubemark always crashes due to null pointer exception"
**kubemark always crashes due to null pointer exception**:

**this is hollow-kubelet's log**:
I1130 06:27:21.071145       7 fake_cpu_manager.go:46] [fake cpumanager] RemoveContainer (container id: 1c2c6c98a6132aeb)
I1130 06:27:21.071165       7 kuberuntime_container.go:586] Killing container "docker://1c2c6c98a6132aeb" with 30 second grace period
panic: runtime error: invalid memory address or nil

[2020-11-30 09:06] RobertKielty commented on #96908
/sig sig-release

[2020-11-30 09:11] pohly commented on #95497
Scratch that. One update comes from kube-scheduler, the other from kube-controller-manager, so they cannot be combined.

[2020-11-30 09:24] ptabor commented on #96886
1. We should fix etcd such that it does not declares as unhealthy as a result of overload (while its still making a progress).
  Ideally the not-healthchecking traffic should be throttled / load-shed, such that healthcheck stays responsive.

2. Till this is implemented, I would consider giving higher timeout (e.g. 30sec), such that HC request have higher chance to reach beginning of the processing

[2020-11-30 09:28] wojtek-t commented on #96886
This is basically the difference between "livez" and "readyz".
"livez" is whether the app is running (for autohealing)
"readyz" is whether it's useful from customer point of view (e.g. for SLO)

In the ideal world, those should be two separate handlers.

[2020-11-30 09:35] mm4tt commented on #96886
In addition to doubling the timeout we can also consider halving the probing period (from default 10s to 5s) and doubling failure thresholds (from 3 failed probes in row to 6). It would decrease the probability of etcd being restarted in case of temporarily overloaded master.

[2020-11-30 09:50] RobertKielty commented on #96908
Digging further as the step
//staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/go_default_test:run_2_of_2
has another recent test fail ...

So on the two runs reported by @ScrapCodes
prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1332184419200405504
prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1330993756861

[2020-11-30 09:57] ranand20 opened #96950 "[Flaky unit test] pkg/kubelet/cri/remote TestVersion"
**Which jobs are flaking**:
periodics-kubernetes-bazel-test

**Which test(s) are flaking**:
//pkg/kubelet/cri/remote   TestVersion
**Testgrid link**:

**Reason for failure**:
   Error:          Received unexpected error:
                                rpc error: code = Unavailable desc = transport is closing
        panic: runtime error: invalid memory address or nil pointer dereference [recovere

[2020-11-30 10:02] Shivkumar13 opened #96951 "Documentation link is broken for ETCD cluster upgrade"
**What happened**:
Documentation link is broken under [ETCD cluster upgrade ](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#upgrading-and-rolling-back-etcd-clusters)

This is the broken [link](https://v1-12.docs.kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#upgrading-and-rolling-back-etcd-clusters)

**What you expected to happen**:
Link should ge

[2020-11-30 10:19] ranand20 commented on #96950
/sig testing

[2020-11-30 12:24] chenyw1990 commented on #96949
this bug has fix in commit d46daf891cc57c3ca8128d467a834277df1cbd48

[2020-11-30 12:41] chenyw1990 commented on #96925
make

[2020-11-30 13:27] liggitt commented on #96714
Because a pod submitted with duplicate ports can actually produce a functioning pod, the case for rejecting requests that previously produced working pods is less clear.

Rejecting in server-side apply paths seems fine, but I would probably issue warnings in create/update paths rather than reject.

[2020-11-30 13:30] #91951 closed

[2020-11-30 13:31] pires commented on #91951
Was backported to 1.18 https://github.com/kubernetes/kubernetes/pull/94511

[2020-11-30 13:48] kwiesmueller commented on #96714
With validation behavior bloke this I wonder if we can come up with some sort of deprecation policy for behavior to handle tighter validation in the future.

So we basically define the tougher validation as a new feature and warn for a few versions until the behavior eventually becomes deprecated and we block it/disable the feature.

This way, cluster admins can also adopt it earlier and test thei

[2020-11-30 14:00] mlbiam commented on #89163
I've not been able to finish this.  My goal is to revisit in January.  exec is mostly working.  I had to refactor a bit.

[2020-11-30 14:28] mborsz commented on #96886
There is no option to keep using "/health" endpoint and changing timeout to something higher, as this is hardcoded in etcd:

[2020-11-30 14:29] alculquicondor commented on #90962
@cofyc was there any remaining work here?

[2020-11-30 14:32] alculquicondor commented on #92037
@gavinfish what is the overall plan you have to achieve this? What is the final state, in terms of imports.

[2020-11-30 14:34] RobertKielty opened #96955 "E2E: [sig-scheduling] SchedulerPreemption [Serial] validates basic preemption works [Conformance]"
**Which jobs are flaking**:
sig-release-master-blocking Conformance - GCE - master
**Which test(s) are flaking**:
E2E: [sig-scheduling] SchedulerPreemption [Serial] validates basic preemption works [Conformance]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master&exclude-non-failed-tests=&width=5

**Reason for failure**:
[code]
**Anything else

[2020-11-30 14:46] damemi commented on #96852
@ahg-g, you mentioned before that the volumebinder dependency would block (or rather not help) the changes in https://github.com/kubernetes/kubernetes/pull/90007#issuecomment-612147942. Would this be enough to unstick that?

If so, @gavinfish feel free to work on this :)

[2020-11-30 14:54] gavinfish commented on #92037
@alculquicondor I want to move some default plugins like https://github.com/kubernetes/kubernetes/blob/e3de62298a730415c5d2ab72607ef6adadd6304d/pkg/scheduler/factory.go#L262-L274 into `SetDefaults_KubeSchedulerConfiguration` method, so that we do not need set some default settings in factory.

And this will lead `/pkg/scheduler/apis/config/v1beta1` depends on `/pkg/scheduler/framework/plugins/defa

[2020-11-30 15:04] flare-ws commented on #94761
Thats not how it should work

Nobody expects such behavior, for example, helmreleases got an update conflict on a same apiversion upon a change

[code]

[2020-11-30 15:28] blackjackyau commented on #93824
/remove-lifecycle stale

[2020-11-30 15:34] alculquicondor commented on #92037
Other than import cycles, we need to do what is right:
configuration packages cannot depend on runtime packges. But runtimes packages can certainly depend on configuration packages. With that, perhaps plugin names should live in the configuration packages.

BUT....
This discussion comes back to my mind https://github.com/kubernetes/kubernetes/pull/95048#discussion_r500614354
Perhaps the way we are

[2020-11-30 16:16] zbrookle opened #96957 "Custom logging message for fake pod GetLogs in go-client"
**What would you like to be added**:

I would like a way to have a custom string be retrieved from the fake pod GetLogs method.

**Why is this needed**:

This is needed because currently the fake GetLogs method always results in a log message "fake logs", and it would be better for testing if a log message set by the user could be retrieved instead.

(This would probably involve adding a portion t

[2020-11-30 16:43] apelisse commented on #96714
That's going to be challenging to track fields for these pods/deployment then, since we do use the associative keys for tracking.

[2020-11-30 16:50] #86295 closed

[2020-11-30 17:23] RobertKielty commented on #96710
Still flaking on https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd&exclude-non-failed-tests=&width=20

Here are three failures on commit e3de62298

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1333147517365260288
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/133299526380709

[2020-11-30 17:32] dkwakkel commented on #42544
/remove-lifecycle stale

[2020-11-30 17:36] JocelynBerrendonner commented on #96935
@sbangari, FYI

[2020-11-30 18:16] abhat commented on #91072
@robscott do you have this already as WIP? If not, I would like to take a stab at it, if you can help out with reviews and design guidance as such.

[2020-11-30 18:26] lavalamp commented on #96082
What version are you on? That should not be the case.

[2020-11-30 18:30] robscott commented on #91072
Hey @abhat, thanks for following up! Unfortunately I haven’t had time to take that on yet. If you have time to work on this it would be awesome! Copying some of the context from Slack so it'll be easier to find in the future:

So there are a couple problems:
1. EndpointSlices aren’t deleted when a Service is.
2. Endpoints and EndpointSlices aren’t deleted if the controller misses the Service delet

[2020-11-30 18:41] cmluciano commented on #96902
/assign @cmluciano

@andrewsykim I think the answer here is that we do not have a way to pass weights through the current configuration right?

@kannanvr Can you expand on your use case a bit as related to how you plan to guage which nodes should receive higher weights? Is the plan to do this per node or per endpoint?

[2020-11-30 18:42] cmluciano commented on #96922
/assign @cmluciano

[2020-11-30 18:47] abhat commented on #91072
/assign
after talking to @robscott.

[2020-11-30 19:00] rajsshah86 opened #96961 "Broken symlink /etc/mtab --> /proc/mounts in kubernetes 1.19.3"
**What happened**:
After mounting the volumes ( be it a NFS or any persistence volume ) , you cannot list the mount points using df -h . This is because the /etc/mtab which used to be symlink of /proc/mounts is now just a regular file with no entries of the volume.

This is working on older version like 1.17.11 . But on higher version 1.19.3 it is not working.

**What you expected to happen**:
/et

[2020-11-30 19:10] dkatipamula commented on #28272
Any update on this?

[2020-11-30 19:14] cmluciano commented on #96922
I think the conversion that you see for extensions is a kubectl thing where if you do not specify the fully-qualified API path, it will go in alphabetical order for all available APIs (thus since Ingress is still served from extensions, it will always be first).

We may need to move this bug to https://github.com/kubernetes/ingress-nginx but let's try to find out if this is indeed an nginx problem

[2020-11-30 19:21] jinqin2003 commented on #95039
same here with 1.19.3 / Ubuntu 20.04.1 LTS / 5.4.0-1022-raspi

[2020-11-30 19:22] andrewsykim commented on #96902
Yes, my comment above was answering @aojea's question -- wrr is also a scheduler that needs to be enabled, and until v1.20 we did not support setting it, unless it was one of the few hard-coded schedulers in kube-proxy. Maybe it was, I don't recall.

But yeah, we don't support setting the weight except for when we set the weight to 0 for terminating pods. This is something we can maybe consider fo

[2020-11-30 19:22] andrewsykim commented on #96902
Even with Topolgoy Aware Subsetting, I would assume the "weight" is done through EndpointSlice subsetting and not by updating weights on IPVS but that could be one possible implementation.

[2020-11-30 19:31] liggitt commented on #96799
I'm having trouble reproducing this... do you know how the API server is being invoked? Specifically, these options:

* is `--enable-aggregator-routing` set?
* is `--admission-control-config-file` specified, and does it include a mutating/validating admission config pointing at a kubeconfig file? if so, does that kubeconfig file include a CA bundle?

[2020-11-30 19:33] robscott commented on #96902
Yeah the current KEP for subsetting explored setting weights but ultimately determined that they didn't work well within the constraints we had. Weights would likely need to be updated more frequently than endpoints themselves, adding a lot of potential load on every component (controllers, API, and kube-proxy). Instead we're proposing a very simple approach that tries to deliver a subset of endpo

[2020-11-30 19:34] BentCoder commented on #96922
The actual image is this `bentcoder/address-finder:latest` which is a HTTP server that runs as `:8888`. Available endpoints are `/` and `/api/v1/address`.

Ingress Controller details.

[code]

[code]

[2020-11-30 19:47] dlipovetsky commented on #73986
/reopen
/lifecycle frozen

As of today, the official release binaries are still stripped. (Interestingly, the `kubelet` binary in the kind node image is _not_ stripped!)

Proposal off the top my head:

For each binary:
1. Build binary _with_ debug symbols
2. Extract symbol table to file, e.g.`objcopy --only-keep-debug kubelet kubelet.debug`
3. Strip binary, e.g., `strip kubelet`

Then publish the

[2020-11-30 20:23] olemarkus commented on #96799
I tried to reproduce it again, and now I am getting unknown CA in both cases. I cannot say what is different from the last time I tried.

`--enable-aggregator-routing` is set to false and there is no adminssion control config file set.

[2020-11-30 20:29] DangerOnTheRanger opened #96965 "Use of strings.HasPrefix to check for URL protocol in GCP credentialprovider code"
**What happened**:

`DockerConfigURLKeyProvider.Provide` in [pkg/credentialprovider/gcp/metadata.go](https://github.com/kubernetes/kubernetes/blob/e3de62298a730415c5d2ab72607ef6adadd6304d/pkg/credentialprovider/gcp/metadata.go#L163) implements fetching an URL embedded in a GCE VM metadata key and reading the dockercfg linked in the URL. `strings.HasPrefix` [is used to check the protocol of the URL

[2020-11-30 20:36] neolit123 commented on #96891
/sig node network

[2020-11-30 20:40] neolit123 commented on #96833
thanks for the discussion and PRs @pacoxu

this one is mergable for 1.21 as non critical:
https://github.com/kubernetes/kubernetes/pull/96860

@chrisohaver @rajansandeep what do you think about this one and should we backport it as critical (also, to which k8s versions)?
https://github.com/kubernetes/kubernetes/pull/96907

[2020-11-30 20:40] neolit123 commented on #96833
/area kubeadm

[2020-11-30 20:42] neolit123 commented on #96741
hi, please try asking on the support channels and #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this indicates that kubeadm init/join did not finish writing the /var/lib/kubelet/config.yaml file.

/close

[2020-11-30 20:42] #96741 closed

[2020-11-30 20:42] neolit123 commented on #96741
/remove-kind bug
/kind support

[2020-11-30 20:44] neolit123 commented on #96892
/sig node
for triage

note this version is no longer supported. you need to upgrade to 1.18.x soon.

[2020-11-30 20:45] neolit123 commented on #96896
/sig api-machinery

[2020-11-30 20:46] neolit123 commented on #96908
/sig node

[2020-11-30 20:47] neolit123 commented on #96910
/sig api-machinery

[2020-11-30 20:49] neolit123 commented on #96925
this seems like a problem in controller-runtime.

please log the issue here:
https://github.com/kubernetes-sigs/controller-runtime

/close

[2020-11-30 20:49] #96925 closed

[2020-11-30 20:49] cmluciano commented on #96922
@aledbf Any thoughts on if I'm missing an option here or is this perhaps a bug that we should shift to ingress-nginx?

[2020-11-30 20:52] DangerOnTheRanger commented on #96965
/sig cloud-provider

[2020-11-30 20:55] neolit123 commented on #96926
hi, try restarting the pod by moving the controller manager manifest to a temporary location and then bringing it back again after ~1 minute.

also please try the support channels before opening this as a bug report:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you are sure this is a bug in core kubernetes or the logger (in this case https://github.com/kubernetes/klog) pleas

[2020-11-30 20:55] neolit123 commented on #96926
/close

[2020-11-30 20:56] #96926 closed

[2020-11-30 20:57] neolit123 commented on #96927
hi, please try the support channels first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-11-30 20:57] #96927 closed

[2020-11-30 20:57] neolit123 commented on #96930
hi, please try the support channels first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-11-30 20:57] #96930 closed

[2020-11-30 20:58] neolit123 commented on #96951
hi, issues for the k8s.io website should be logged in the kubernetes/website repository.

thanks.
/close

[2020-11-30 20:59] neolit123 commented on #96943
/sig testing

[2020-11-30 21:01] neolit123 commented on #96943
i think your version of git is just outdated; what is it?

`-f` is valid as noted here:
https://git-scm.com/docs/git-worktree#_options

[2020-11-30 21:01] neolit123 commented on #96940
/sig node

[2020-11-30 21:02] neolit123 commented on #96949
/sig scalability

[2020-11-30 21:03] neolit123 commented on #96949
we cannot backport it to 1.16 as it's out of support.
you may have to patch your 1.16 version and build or upgrade to the version that has the fix (1.17+)

/close

[2020-11-30 21:03] #96949 closed

[2020-11-30 21:04] neolit123 commented on #96955
/sig scheduling

[2020-11-30 21:05] neolit123 commented on #96957
/sig api-machinery

[2020-11-30 21:05] neolit123 commented on #96961
/sig storage

[2020-11-30 21:08] chrisohaver commented on #96833
It's not obvious to me how this relates to #96907.

The kubeadm dry run log appears to be replacing the existing config with the default.
https://gist.github.com/darthcorsair/ae9ae7d9272dd771fb7fc0403edba0d4#file-kubeadm-log-L8599-L8628

It should only be doing this if the existing config is semantically the same as a default Corefile, i.e. if `migration.Default()` is true.

[2020-11-30 21:12] neolit123 commented on #96833
#96907 just explains that the migration is not triggered at all.
@pacoxu if #96907 is not a fix for this issue, please remove this line from the PR description.

[2020-11-30 21:21] spiffxp commented on #96475
I don't like the idea of registry variable / constant names being exposed as some kind of API, but I guess that horse has already left the barn.

We're planning on consolidating images down into k8s.gcr.io. Images may move from one registry to another, and registries may be removed.  As long as you ensure whatever you code is tolerant to that I'm willing to review the PRs.

It would be nice if we

[2020-11-30 21:49] chrisohaver commented on #96833
I think issue here is in/around `isCoreDNSConfigMapMigrationRequired`, and how the result is interpreted...

The code _correctly_ assumes that if a Corefile is a default Corefile, then no migration is required.
However later it _incorrectly_ assumes the reciprocal: If migration is not required, then the corefile must be a default.
Hence, it ends up replacing any Corefile that does not require migr

[2020-11-30 22:00] julianvmodesto commented on #90066
/wg api-expression

[2020-11-30 22:32] bowei commented on #95258
@vbannai

[2020-11-30 23:11] ganga1980 commented on #90066
Hi, @apelisse , @kwiesmueller, Until this change implemented, is there any work around to exclude managed fields via API? do you guys have any pointers to achieve?

[2020-11-30 23:29] pacoxu commented on #96833
@chrsohaver yes. The `isCoreDNSConfigMapMigrationRequired ` need be fixed as well, I will learn to fix it later.

@neolit123  I changed releaseNote to None.

[2020-11-30 23:33] matthew-walters commented on #89898
I'm observing the same behaviour.
EKS 1.17 w/ m5.xlarge instances

I have an app deployed with _cpu.request = 0.25 cores_, _cpu.limit= 1 core_
Max CPU usage today of any of the pods in this deployment is about 0.2 core (so, less than even the request)

Seeing occasional _liveness probe_ failed and _readiness probe failed_ events for each of the pods in this deployment.

To test this, I've port-for

[2020-11-30 23:35] wilsonehusin commented on #96475
@spiffxp thanks for the comment!

Agreed -- my approach is sort of working around the fact it's already there 😬

My understanding of #96770 is that all images for e2e testing will be hosted in `k8s.gcr.io/e2e-test-images`, such that all entries in `test/utils/image/manifest.go` will use the same variable, e.g.
[code]

If that's accurate, then I think my only ask is to have some way to override tha

[2020-11-30 23:38] stephen304 commented on #83125
I just had this issue and fixed it by creating the 2 folders referenced in the error. Took me a while to find the right logs:

[code]

[2020-11-30 23:58] Huang-Wei commented on #96955
I cannot spot any significant logic flaw in the test. A possible cause is the timeout is set too short (1 minute), which _may be_ not enough for the terminating pod to run. Notice that unlike integration test, the time includes the end to end cycle: (1) preemptor being scheduled and evict low-priority pods, (2) low-priority pods being terminating -> reported by kubelet that the victims have been d

[2020-12-01 00:13] pacoxu commented on #96955
Maybe, some logs to `describe the pod`/`list pod in that ns` would help.

Just making the timeout longer don't make sense.

[2020-12-01 00:32] shaunmansell opened #96971 "AWS EKS ingress using NLB has no healthy target group instances after VPC and subnet expansion"
**What happened**:

On AWS EKS an ingress NLB has no healthy target group instances after expanding a VPC to include further CIDRs and new subnets within the new CIDRs.

Starting with a VPC with a single CIDR and 6 subnets across 3 availability zones, we created an nginx-ingress controller with a service set to use an AWS NLB and that had `externalTrafficPolicy: Local`.

The VPC was then extended

[2020-12-01 00:32] shaunmansell commented on #96971
/sig cloud-provider

[2020-12-01 00:32] shaunmansell commented on #96971
/area provider/aws

[2020-12-01 00:48] msau42 commented on #96508
That's really odd. The Node authorizer should only care about Pods, not the higher controllers. Do the pod specs look the same?

[2020-12-01 00:52] JinlongWukong commented on #72226
if these zombies pods have pod affinity terms,  the new creating pods will always be pending, how to solve this problem?

[2020-12-01 00:58] msau42 commented on #96759
This race sounds very familiar with: https://github.com/kubernetes/kubernetes/issues/69831

[2020-12-01 01:01] msau42 commented on #96759
To really solve the race, we may need to add a new state to the container state. We'll need to work with sig-node to make sure it's safe.

[2020-12-01 01:09] msau42 commented on #93691
I unfortunately haven't had a chance to look into why it's failing with containerd on 1.18. Have you tried this workaround with projected volumes? https://github.com/kubernetes/kubernetes/issues/68211#issuecomment-625221313

[2020-12-01 01:17] hh commented on #95966
/sig auth

[2020-12-01 01:26] cofyc commented on #90962
no

I was planning to add some benchmarks. It's not urgent and can be tracked in a separate issue.

[2020-12-01 01:45] ironyman commented on #96394
@neolit123  What is the correct way to modify kubelet config.yaml? I tried using sigs.k8s.io/yaml to unmarshal and marshal into KubeletConfiguration but upon marshaling the output yaml document is severely different from the original. The ordering of fields are changed and the typemeta field which is marked as inline in the KubeletConfiguration definition is not inlined.
[code]

[2020-12-01 01:53] bjrara commented on #96624
This issue is fixed by https://github.com/kubernetes/kubernetes/pull/96668

[2020-12-01 01:53] #96624 closed

[2020-12-01 01:55] JornShen commented on #96950
/assgin

[2020-12-01 01:56] JornShen commented on #96950
I 'll give it a see and fix it :)

[2020-12-01 01:59] JornShen commented on #96950
/assign

[2020-12-01 02:02] neolit123 commented on #96394
they are likely sorted, which is expected when fields are marshaled with most libraries.

i cannot reproduce that. the following snipped:
[code]

gives me:
[code]

depends on the use case. you could just `sed`, or [patch](https://github.com/krishicks/yaml-patch) the YAML file too.

[2020-12-01 02:11] ahg-g commented on #96955
Is https://github.com/kubernetes/kubernetes/pull/96807 addressing this flake?

@ravisantoshgudimetla @damemi

[2020-12-01 02:19] ironyman commented on #96394
Ah you're right. My mistake. Thank you!

[2020-12-01 02:29] ahg-g commented on #96852
We will still depend on volumebinder, until volumebinder is moved to the new staging repo, we can't cut that dependency.

@cofyc can you please verify that the TODO mentioned in the issue can be removed?

[2020-12-01 02:30] msau42 commented on #77324
https://github.com/kubernetes/kubernetes/pull/96617 should address this

[2020-12-01 02:32] ahg-g commented on #96923
can you post the panic logs so we understand why it panicked?

[2020-12-01 02:38] jingxu97 commented on #95226
For the first test failure posted here on 09/30. The reason is not enough CPU available.  The type of error only happened once, it never happen again for this test.

[code]

For the test failure @RobertKielty mentioned, more than half of the tests (150+) failed including this Downward API tests. It happened quite often for ci-kubernetes-e2e-windows-containerd. It seems something wrong with contain

[2020-12-01 02:52] Huang-Wei commented on #96955
I think this flake happens before the failure #96807 tries to fix:
 https://github.com/kubernetes/kubernetes/blob/98bc258bf5516b6c60860e06845b899eab29825d/test/e2e/scheduling/preemption.go#L181

[2020-12-01 02:54] cofyc commented on #96852
we can stop reading values from Node object now, see the original discussion (https://github.com/kubernetes/kubernetes/pull/80084#discussion_r304171466)

[2020-12-01 03:01] lojies commented on #96923
logs like below:
[code]
it push about 13000 lines error logs, this make logs file difficult to read.

[2020-12-01 03:04] zerkms commented on #78007
/remove-lifecycle stale

[2020-12-01 03:04] zerkms commented on #67250
/remove-lifecycle stale

[2020-12-01 04:01] #92358 closed

[2020-12-01 04:05] chenyw1990 commented on #96725
I have add a pr add containername and podName to log.
and i think it's useful to replace containerID to containerName in func recordContainerEvent,  in large clusters, it is necessary to optimize the number of events。

[2020-12-01 04:11] xxlaila commented on #94155
I also encountered this problem. The kube version is: v1.19.4
etcd version: 3.3.25

[code]

[2020-12-01 04:12] farvour commented on #23564
So, the day that Kubernetes decides to actually make get object vs get object metadata a more granular security option, this issue is going to have to be revisited again. I guess I'm curious as to why all of the suggestions about hashing the value when storing it is a non-starter. If the purpose of this data is to detect change, then the original values getting hashed should produce the same check

[2020-12-01 05:02] apelisse commented on #90066
There is currently no API to "remove" the field.

A "use at your own risks" workaround could be:
[code]
Or its corresponding API call.

[2020-12-01 05:24] BenTheElder commented on #96943
git 2.17 is from April 2018, 2.29.2 is current.
we generally target relatively current tools for the development scripts. using --force here seems harmless but I'm not sure we want to target multi-year old git generally.

[2020-12-01 05:25] BenTheElder commented on #96950
/remove-sig testing
SIG node owns their unit tests. SIG testing owns the framework, infrastructure, etc.

[2020-12-01 05:25] BenTheElder commented on #96950
/sig node

[2020-12-01 05:26] BenTheElder commented on #96862
/sig apimachinery
/remove-sig testing

[2020-12-01 05:26] BenTheElder commented on #96862
/sig api-machinery

[2020-12-01 05:32] BenTheElder commented on #94091
Removing it from the docs shouldn't be too hard to track down and cleanup and would certainly be welcome, you don't need to ask 😅

Cleaning up the build system to drop everything related to this will be a bit tedious / tricky, but also welcome.

[2020-12-01 06:28] tanjing2020 commented on #96943
yea, after updating the git version, there is no error using "-f"

[2020-12-01 06:28] #96943 closed

[2020-12-01 07:54] pacoxu commented on #96879
test in ipv6 + iptables , ::1 is not work for NodePort.

/assign

[2020-12-01 08:28] wojtek-t commented on #94315
This has been fixed by https://github.com/kubernetes/kubernetes/pull/94316 and corresponding cherrypicks.

[2020-12-01 08:28] #94315 closed

[2020-12-01 08:33] yehaifeng opened #96977 "The variables "ServiceName and ServicePort" in IngressBackend struct get nil."
**What happened**:
When i use the ingress-nginx to test, i find that the ingress backend variables "$serviceName, $serverPort" get fail. And then i test the client-go for my test.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:  Openshift v4.5
- Kubernetes version (use `kubectl version`): v1

[2020-12-01 09:24] mitsos1os commented on #96892
@neolit123 I am aware of that, but since upgrading would require an extra effort for integrating breaking changes, we were hoping to resolve this matter since it seems quite problematic as behavior

[2020-12-01 09:53] yehaifeng commented on #96977
/sig api-machinery

[2020-12-01 09:59] erezo9 commented on #43784
Hi, Is there anyway to add this to kubeadm-config? so that every upgrade you dont need to change the kube-api yaml?

[2020-12-01 10:26] klueska commented on #94220
/remove-lifecycle stale

[2020-12-01 11:34] gunadhya commented on #96909
Hi @aojea, I'd like to work on this issue.

[2020-12-01 13:29] desaintmartin commented on #90634
/remove-lifecycle rotten

[2020-12-01 13:37] mandre commented on #89723
The same issue was reported in https://github.com/kubernetes/kubernetes/issues/96672 with a fix at https://github.com/kubernetes/kubernetes/pull/96673.

[2020-12-01 13:38] fernando-villalba commented on #60538
I am also getting this issue when deleting the applications.argoproj.io CRD from argocd
I thought that Kubernetes was injecting the finalizer `customresourcecleanup.apiextensions.k8s.io` on creation so I declared an empty finalizer in the yaml with `finalizers: []` If you apply this when it is stuck, it automatically deletes. However what baffles me is that this finalizer is only injected by kuber

[2020-12-01 13:51] anoop2503 opened #96980 "Container, name and image labels are missing in CAdvisor metrics."
**What happened**:

**Container**, **name** and **image** labels are missing in CAdvisor metrics.
Sample metrics:
[code]

**What you expected to happen**:

**Container**, **name** and **image** labels should be present in the CAdvisor metrics.

**How to reproduce it (as minimally and precisely as possible)**:
Verify below sample metrics to check the label values.
[code]

**Environment**:
- Kuberne

[2020-12-01 13:55] andbuitra commented on #25908
My use case for this is that Vault provides credentials for a CronJob to run. Once the task is done the Vault sidecar is still running with the Job in a pending state and that triggers the monitoring system thinking that something is wrong. It's a shame what happened to the KEP.

[2020-12-01 14:14] leodotcloud commented on #87852
Related https://github.com/projectcalico/calico/issues/3145

[2020-12-01 14:35] RobertKielty commented on #96955
/kind flake

[2020-12-01 14:37] amirxnz commented on #57291
This is an issue for us as well, has anyone found a good workaround in the meantime?

[2020-12-01 14:48] #93568 closed

[2020-12-01 14:51] rphillips opened #96981 "Egress nodes contain egress IPs within the Kubelet CSR"
**What happened**:
When an egress IP is assigned to the node the Kubelet will use the egress IP within the Node's CSR request. Since Egress IPs are most often public, the egress IP being in the Kubelet's CSR should not be there. Machine Approver Controllers must allow for additional IPs within the CSRs.

**What you expected to happen**:
The CSR to be requested by the Kubelet and not contain the eg

[2020-12-01 15:08] yalegria commented on #33766
@piotr-napadlek @jeremywadsack I had the same issue and the workaround of setting nodePort to empty works for me as well. Note that this works on a plain service yml file that I can directly edit.

However, I am using Kustomize for my orchestration setup and it seems that setting nodePort to empty, Kustomize just ignores that entry and does not include it on the build. The nodePort is missing from

[2020-12-01 15:10] alculquicondor commented on #96955
That's indeed a lot of steps, and flakiness seems very low. I think increasing the timeout for preemption seems reasonable.

[2020-12-01 15:28] RobertKielty commented on #96803
Hi @saschagrunert could PTAL at the attached PR as it may fix this flake.

[2020-12-01 15:47] Redm0nd commented on #90677
Just from looking at the comment [here](https://github.com/kubernetes/kubernetes/pull/54507#issuecomment-339329158)

Have you attempted to annotate with just:
`kubectl patch service echoserver --patch '{"metadata": {"annotations": {"service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy": "test"}}}'` instead of `k8s-SSLNegotiationPolicy-test`?

Curious as the AWS CLI command uses k8s-

[2020-12-01 16:07] howardjohn opened #96986 "Add `exec` equivalent to kubectl.kubernetes.io/default-logs-container"
**What would you like to be added**:

A way to specify the default container for `kubectl exec`, mirroring `kubectl.kubernetes.io/default-logs-container`. Alternatively, a way to generic describe the default container for anything that happens to need a "default", which could also be used by external tooling.

**Why is this needed**:

Mainly for the same reasons `kubectl.kubernetes.io/default-logs

[2020-12-01 16:12] JnMik commented on #40908
I have another use case:
I'm using vault from Hashicorp to store secrets, and my application are depending on the vault-agent sidecar container.

If the vault-agent sidecar fails, that makes the application container fail as well. The application container is always restarted without success because the vault-agent is not restarted. (For some reason the sidecar doesn't have liveness / readiness pr

[2020-12-01 16:12] stephen304 commented on #77258
Had this issue just now deleting a pvc, it got stuck in terminating for a few hours even though the container it was bound to seemed to have deleted fine. Patching the pvc with the command above resulted in "not found", but patching the pv worked to get it to delete fully.

[2020-12-01 16:26] dashpole commented on #93320
/remove-lifecycle stale

[2020-12-01 16:45] cmluciano commented on #95368
There is a lot more context in #95633 so closing this issue

[2020-12-01 16:45] #95368 closed

[2020-12-01 16:47] steffeneichler commented on #40610
Hi,

we need to propagate the node labels
failure-domain.beta.kubernetes.io/region
failure-domain.beta.kubernetes.io/zone
topology.kubernetes.io/region
topology.kubernetes.io/zone
to our pods because we need the information to distribute elasticsearch shards correctly and more safely.

So it would be great if this possibility could be implemented.

[2020-12-01 17:00] kfox1111 commented on #88630
We've seen this.

/reopen
/remove-lifecycle rotten

[2020-12-01 17:02] cmluciano commented on #96717
@FreeZhang61 @theunrealgeek Have either of you had some time to take a look at this issue? There are a few pieces that can probably be worked in parallel.

[2020-12-01 17:45] #96855 closed

[2020-12-01 17:45] jayunit100 commented on #46625
hi folks... Proposal landed and implemented, but... not merged yet ^ ... #91592 . ... just discussing with @cmluciano what to do about these.

[2020-12-01 17:48] michmike commented on #89650
you likely have to first configure GMSA and execute the WMI call from a network service or local system account inside the pod

[2020-12-01 17:59] neolit123 commented on #96980
/sig node

[2020-12-01 18:11] spiffxp commented on #96475
The map I had in mind was something like:
[code]

[2020-12-01 18:11] cmluciano commented on #46625
Transferring to Jay since he is already working on this.

/assign @jayunit100
/unassign @cmluciano

[2020-12-01 18:37] marosset commented on #89650
Also make sure your networking routes are configured to allow your pod to establish WMI connects to the host.

[2020-12-01 18:44] apelisse commented on #77665
@kwiesmueller Haven't we fixed that one?

[2020-12-01 18:51] kwiesmueller commented on #77665
I think we solved the problem it caused but the exact thing in the description I don't know.

[2020-12-01 18:53] apelisse commented on #96060
There error comes from the prune unknown field.

/close

[2020-12-01 18:54] #96060 closed

[2020-12-01 18:55] apelisse commented on #96351
/close

This is a duplicate of #96688

[2020-12-01 18:55] #96351 closed

[2020-12-01 19:16] deepaksood619 commented on #82987
/reopen

[2020-12-01 19:20] rashmichandrashekar commented on #95204
+1 on the issue. This issue has caused the node metric collection for AKS monitoring to be broken which also impacts alerting.

[2020-12-01 19:29] dims opened #96988 "Skip hostNetwork tests for conformance - fallout from [CVE-2020–15257] in containerd"
Given that the recommendation from [1][2][3] is to tell folks NOT to switch on hostNetwork for pods. Do we want to drop this from conformance?

This will allow folks to create a PSP or use OPA or something to disallow hostNetwork by default. And a cluster thus secured will pass conformance.

[1] https://github.com/containerd/containerd/security/advisories/GHSA-36xw-fx78-c5r4
[2] https://research.n

[2020-12-01 19:30] dims commented on #96988
cc @johnbelamaric @hh @caseydavenport @dcbw @thockin

[2020-12-01 19:42] dims commented on #96988
I believe the following tests touch/use hostNetwork

[code]

[2020-12-01 20:07] cmluciano commented on #96988
xref: kubernetes/kubernetes#96482 another test that would be affected by any decision here.

The advisory mentions a fix in 1.3.9 / 1.4.3. Does k8s currently release with notes on what runtimes are supported?

[2020-12-01 20:16] Huang-Wei commented on #96955
@RobertKielty is this flake a must-fix in 1.20?

[2020-12-01 20:31] KR411-prog opened #96991 "Namespace exceptions for cluster role"
**What would you like to be added**: Is there a possibility to add namespace exceptions for a cluster role? Currently a cluster role provides access for the resources in all the namespaces.It will be good to add some exceptions for namespaces.

**Why is this needed**: In our cluster, every dev team has their own namespaces..They want to access the resources of other namespaces however some dev tea

[2020-12-01 20:38] zbindenren commented on #95204
Exposed metrics are a kind of API and should not be removed without warning.

[2020-12-01 20:39] sjenning opened #96992 "IPAM range allocator hotlooping on non-existent node"
**What happened**:
KCM hotloop on
[code]
Looking in the code it is obvious that this can happen as the error case writes into the channel the select is reading
https://github.com/kubernetes/kubernetes/blob/61dc69ac2cf936ccafb51e9d946097b62b4ead07/pkg/controller/nodeipam/ipam/range_allocator.go#L188-L200

**What you expected to happen**:
range allocator should detect when the Node retrieval fails b

[2020-12-01 20:41] sjenning commented on #96992
/sig network
/sig node

[2020-12-01 20:51] deads2k commented on #96992
could it simply be updated for the standard error stanza of `AddRateLimited`?

[2020-12-01 20:52] aojea commented on #96988
I don' t think that we should remove hostNetwork from conformance because a vulnerability in one container runtime, another thing if is that it was an arhcitectural problem, but it seems that it was fixed and only affect people that runs the containers with hostnetwork as root.
It' s also widely used in the e2e tests as helper, so if not used directly it will be used indirectly in more conformance

[2020-12-01 20:56] sjenning commented on #96992
Yes, I think we need to do that transient failures, but also retire the work item when the node is not found i.e. a case that will never succeed.

[2020-12-01 20:58] BenTheElder commented on #96988
We still need hostNetwork for pods that *should* be privileged, (e.g. kube-proxy daemonset), i don't think zero hostNetwork pods is happening in basically all clusters, even if it's reasonable to avoid for general usage.

No. intentionally. SIG node makes no support guarantees for runtimes.

[2020-12-01 20:59] asrivas-vmw commented on #96988
We also have this particular test that uses host port:
`[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Should recreate evicted statefulset [Conformance]
`
which we should consider as part of this discussion.

[2020-12-01 21:03] caseydavenport commented on #96988
Yeah, I can't seem to convince myself that this would be OK. Host networked pods are a pretty important part of just about every kubernetes cluster today. Examples being kube-proxy, as well as other networking agents which typically run as host networked pods (network policy enforcement, routing, etc).

In **theory** yeah, we could say hostNetwork is not required for conformance, since all of thos

[2020-12-01 21:11] bowei commented on #96988
My $0.02: I don't think it's a good idea to remove any piece of the API from conformance unless it is deprecated.

[2020-12-01 21:24] fedebongio commented on #81285
/sig architecture
/remove-sig api-machinery

[2020-12-01 21:25] fedebongio commented on #81285
/cc @lavalamp

[2020-12-01 21:28] fedebongio commented on #96842
ccing a group of people that may have thoughts on this one:
@caesarxuchao @wojtek-t
also @jingyih just to confirm that is not an etcd problem

[2020-12-01 21:57] LeeKevin commented on #60140
/reopen

[2020-12-01 22:14] lavalamp commented on #81285
For eviction, there is already: https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#eviction-api

The other part of the request seems to be about having a historical record. There are audit logs for that. Alternatively, you could use a finalizer with a controller recording the fact that the pod is getting deleted (and why) to some persistent location (i.e., write a tombstone).