[2015-10-02 22:23] ihmccreery commented on #14674
Awesome.

@mikedanese Can you have a look at what I've done with the GKE upgrade suite, and consider if we can do something similar for GCE?  It's uncovering a number of issues with GKE version-skewed and 1.1 clusters, and I think we should have similar visibility into GCE.  Check out #14760.

[2015-10-02 22:27] ArtfulCoder opened #15031 "change kubelet defaults to allow pods usinghostNetwork, hostPID and hostIPC, from all sources, instead of just "file" source."

[2015-10-02 22:29] bgrant0607 commented on #14961
Demo of Kelsey removing a label in order to orphan a pod for debugging: https://www.youtube.com/watch?feature=player_detailpage&v=-8aUxpVrD40#t=2193

[2015-10-02 22:34] dchen1107 commented on #14966
Ok, since Oct 2, 2015 8:46 AM, all builds are green. I checked some of machines, and docker version is the one for 1.0.X release. I am wondering if there is a configuration mess up yesterday?

Anyway, I am closely monitoring this release build, and will update more.

[2015-10-02 22:34] smarterclayton commented on #14799
Yeah, recursive delete.  Won't help with off cluster resources (like
external loadbalancer), but it's fairly easy to add to release notes and
doc if we did drop a resource:

34. The experimental resource Elephant has been renamed to Horse, but no
migration is available.  You can remove unsupported resources of type
Elephant through the etcdctl command line:

    etcdctl delete -R /kubernetes.io/el

[2015-10-02 22:37] bgrant0607 opened #15032 "Create cookbooks / playbooks / cheatsheets for common use cases and scenarios"
Deployment, troubleshooting, etc.

[2015-10-02 22:38] karlkfi commented on #14677
@thockin i doubt the temporary fix got cherry-picked

[2015-10-02 22:39] thesteve0 commented on #14987
Here is the schema page I am talking about:

http://json-schema.org

and here is an example of what it should look like - please look at the full code example

http://json-schema.org/example2.html

[2015-10-02 22:39] karlkfi commented on #14677
oh, you just cherry picked it...

[2015-10-02 22:40] thockin commented on #14677
that change to verify-godeps?  It did

On Fri, Oct 2, 2015 at 3:39 PM, Karl Isenberg <notifications@github.com>
wrote:

[2015-10-02 22:40] thockin commented on #14677
yeah, even with my picks it fails...

On Fri, Oct 2, 2015 at 3:40 PM, Karl Isenberg <notifications@github.com>
wrote:

[2015-10-02 22:42] dchen1107 commented on #14966
@quinton-hoole I guess downloading both docker and startup logs is a little bit overkill here. In most cases, we don't need that. I plan to dump those systemInfo to kubelet log whenever kubelet is restart.

[2015-10-02 22:47] yujuhong commented on #14966
Hmm...we already do that, but sometimes it logs `DockerVersion:Unknown`
@dchen1107, shouldn't the "unknown" version problem be solved by #13318 (cherry-picked to release 1.0) already?

[2015-10-02 22:51] ArtfulCoder commented on #14936
closed. (duplicate issue)

[2015-10-02 22:51] #14936 closed

[2015-10-02 23:02] dchen1107 commented on #14966
Good finding! Yes, this is the first issue I asked @pwittrock to fix and I didn't realize it was cherrypicked to 1.0 already. In this case, I really think the test configuration was messed up since I haven't seen unknown docker version for a long time.

[2015-10-02 23:08] ArtfulCoder commented on #14934
Want to definitely remove DenyEscalatingExec
Am open to suggestions.

[2015-10-02 23:24] ArtfulCoder commented on #14939
#14527
#14625

[2015-10-02 23:26] caesarxuchao commented on #14084
Couldn't reproduce this flake. #14839 add more outputs in hope that we can gather more info if this flake occurs again.

[2015-10-02 23:26] #14084 closed

[2015-10-02 23:30] caesarxuchao commented on #12690
This is fixed. I'm going to close it.

@RichieEscarez feel free to reopen it if you think otherwise :)

[2015-10-02 23:30] #12690 closed

[2015-10-02 23:31] caesarxuchao commented on #12413
We have experimental group and its version is independent of the legacy v1 now. Closing this issue.

[2015-10-02 23:31] #12413 closed

[2015-10-02 23:33] caesarxuchao commented on #12575
@rootfs @bodgit  can we close this? I think #13807 fixed this.

[2015-10-02 23:41] bgrant0607 commented on #14376
cc @RichieEscarez

I agree this is a problem. I never scroll down.

[2015-10-02 23:44] RichieEscarez commented on #12690
Thanks @caesarxuchao! Nope, nothing more from me. Sorry I didnt follow up and ensure this was closed on #12965 merge.

[2015-10-02 23:53] zytek commented on #13056
Heavy AWS user here. The way our current environment works in us-east-1 is that we span on ALL AVAILABLE AZs (4). Example:
- load balancers, web workers and background ones split on 4 AZ on "paas grids"
- Redis sentinels in 3 AZ (quorum)
- ElasticSearch clusters also in 3 AZs
- Redis/MySQL masters in one of the zones, with at least 2 slaves in other zones

This, connected via ELB plus some tooling

[2015-10-03 00:01] mikedanese opened #15038 "Deployment e2e tests are failing on kubernetes-upgrade-gce"
[code]
http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gce-step3-e2e/1378/
http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gce-step3-e2e/1377/

cc @nikhiljindal

[2015-10-03 00:08] quinton-hoole opened #15039 "flaky integration test: I have no idea what actually failed here..."
I1002 22:31:16.644955   10161 nodecontroller.go:498] Nodes ReadyCondition updated. Updating timestamp: {Capacity:map[cpu:{Amount:0 Format:DecimalSI} memory:{Amount:0 Format:DecimalSI} pods:{Amount:40.000 Format:DecimalSI}] Phase: Conditions:[{Type:Ready Status:True LastHeartbeatTime:2015-10-02 22:31:09 +0000 UTC LastTransitionTime:2015-10-02 22:21:20 +0000 UTC Reason:KubeletReady Message:kubelet i

[2015-10-03 00:11] bgrant0607 commented on #10408
Another command: env

From #3885: How much of the admin CLI is openshift-specific?
https://github.com/openshift/origin/blob/master/pkg/cmd/admin/admin.go

[2015-10-03 00:16] quinton-hoole commented on #15039
Another failure in a similar area.  I really don't understand this test output :-(

[code]

[2015-10-03 01:36] nikhiljindal commented on #15038
Thanks @mikedanese for flagging it!

Its not flaky, it is broken as we did not enable deployments for that test suite.
Sent https://github.com/kubernetes/kubernetes/pull/15044 to fix that.

[2015-10-03 01:42] bgrant0607 commented on #14188
Multiple RCs driving a set of pods: Do you mean multiple release tracks / canaries, or rolling update, or orphaning and adoption, or accidental overlap, or something else? I assume multiple release tracks under the same service, or rolling update.

This is for batch jobs, which is a different scenario. Since they are relatively short in duration and complete specific work items, there's typically

[2015-10-03 02:08] #14921 closed

[2015-10-03 02:39] #14669 closed

[2015-10-03 02:42] bgrant0607 commented on #14062
We need to decouple scaling from rolling update, and get rid of original-replicas. The solution to #14669 made rolling updates even less tolerant to simultaneous scaling. Rolling update shouldn't change the number of replicas.

[2015-10-03 03:21] liggitt commented on #15017
why wouldn't there be SSL on a single node cluster? the `kubernetes` service should use TLS

[2015-10-03 03:22] liggitt commented on #15016
credentials should never be sent over a non-ssl connection...

[2015-10-03 03:30] liggitt commented on #14934
curious what the workaround for DenyEscalatingExec is

[2015-10-03 05:03] glerchundi commented on #14977
Ok @cjcullen here it is: http://stackoverflow.com/questions/32912699/unable-to-setup-kubernetes-against-tls-secured-etcd

[2015-10-03 05:35] davidopp commented on #14799
+1 to not doing cascading. I think in the long-term there could be arbitrary entanglement between objects (not as simple as just a controller and the Pods it created) and you could end up having to delete a lot of stuff if you did cascading.

[2015-10-03 05:54] roberthbailey opened #15047 "Unbound variable in gce cluster up"
Printed twice in the middle of lots of other output:

`./cluster/../cluster/../cluster/gce/util.sh: line 478: @: unbound variable`

[2015-10-03 06:06] bgrant0607 commented on #14956
@smarterclayton I'm not keen on a new resource, either.

srvexpand was pretty trivial to create:
https://github.com/bgrant0607/kubernetes/blob/b8959bf146a8d7bbbd2bbd7fa676f2e3fe711c3a/contrib/srvexpand/README.md

Maybe one of the new generator/templating solutions will help.

Is shard operation more than adding a label to a RC's selector and to its pods? I know you've mentioned this before.

Podex

[2015-10-03 06:06] bgrant0607 commented on #14956
As for secrets, I'm still waiting for movement on #4822.

[2015-10-03 06:13] bgrant0607 commented on #14987
Forked from: https://github.com/kubernetes/kubernetes/pull/14294#issuecomment-145099174

[2015-10-03 06:16] bgrant0607 commented on #14987
@thesteve0 Please copy your comments from the PR.

Note that we currently use Swagger 1.2. Help upgrading to Swagger 2.0 #13414 would be appreciated.

What is the gap between Swagger 2.0 and what you're asking for?

[2015-10-03 06:30] davidopp commented on #14956
I don't think we should discard the idea of "a new resource type that bundles a service and list of deployments" so quickly. IMO it would be a significant usability improvement if we could give users a single object/config that generates all the others under the hood, and that they manipulate to do the common operations like updates. Not everyone is as sophisticated as OpenShift users. The current

[2015-10-03 06:30] glerchundi commented on #11962
+1, It will be cool to have this merged.

I run into a weird issue that probably is related to the client library, take a look to this project: https://github.com/glerchundi/etcd-go-clients-test. It compares empirically an access to a concrete etcd key using a load balancer.

@yichengq do you know what could be happening in there?

You could find complete issue doc. here: #14977.

[2015-10-03 06:42] fgrzadkowski commented on #15017
I'm just saying that there doesn't have to be SSL. I'm working now on simplifying setup and running everything in docker containers. Pushing certificates would make it more complex so I want to avoid it initially.

I think there is no reason why we should require using SSL.

[2015-10-03 08:07] fgrzadkowski commented on #15016
@liggitt What credentials do you mean? If we have a simple cluster which is not using SSL than we don't need to send any credentials, right?

Just to make it clear - I'm not saying this is a proper production setup. I'm just trying to simplify simple setup for new users and those who want to port it to other OSes

[2015-10-03 08:25] davidopp commented on #14188
IMO if that happens, it would be a good sign that we should consider creating a run-forever object/controller that provides dense indexes.

I understand the argument that this probably isn't necessary due to being short-lived, but is there any fundamental reason why we couldn't provide this? Unless I'm misunderstanding, all you need is a way to "hand off" ownership of an (already-running or not-ye

[2015-10-03 12:53] liggitt commented on #15017
@roberthbailey thoughts on this? I think that TLS with a self signed cert is strictly better than non TLS, and I don't really want split components talking over non-TLS connections if we can possibly help it (even for non production envs)

[2015-10-03 12:56] liggitt commented on #15017
Allowing insecure access has led to things like https://github.com/kubernetes/kubernetes/issues/13598, which overlooked one method of accessing the API such that is isn't possible to provide secured credentials, and required insecure access be enabled. Requiring TLS flushes those cases out.

[2015-10-03 13:01] liggitt commented on #15016
cc @roberthbailey

[2015-10-03 13:25] smarterclayton commented on #14956
So OpenShift users are *not* expected to be sophisticated - that's probably
the exact opposite mentality for the designs we've chosen.  Instead, the
generation tools gradually introduce concepts as they are relevant.  If run
generated a service and explained it to users (or explained expose) that
reduces the potential for confusion.  While creating a new "all-in-one
object" has appeal, it will enc

[2015-10-03 13:42] smarterclayton commented on #4822
Having three verbs (create, new, and make) where new and make are similar could lead to confusion.  I assume at some point in the future we will want to seed new with inputs that are driven by arguments.  Do we risk confusion by having multiple overlapping verbs that are used in similar contexts?  Perhaps we should create subcommands under create instead.

[2015-10-03 13:48] smarterclayton commented on #14956
List of deployments is also limiting - what if if have deployments, daemon
sets, and jobs that are all logically related to each other?  That's
another reason I'd prefer to build composition tooling rather than an even
higher level composition object  (that itself needs composition tooling as
well).

On Oct 3, 2015, at 2:30 AM, David Oppenheimer <notifications@github.com>
wrote:

I don't think we

[2015-10-03 13:59] smarterclayton commented on #14956
One more point - the biggest question we get from new users is how to
expose something to the edge (ingress / route).  A new user trying this out
probably wants to see that work as quickly as possible.  A generator can
easily solve that, but a combo service/deployment object will still need
that ingress generated.  And ultimately, the singleton object isn't enough
to copy your app from one cluster

[2015-10-03 15:11] justinsb commented on #13056
@zytek Just so I can be clear - you're saying you have the multi-AZ setup without Kubernetes right? Because if you have this working with kubernetes that would be very welcome!

The answer to your big picture question is that for a cluster in Ubernetes, I imagine that each kubernetes cluster would be aware of the others are would coordinate discovery across them.  My only-exists-in-theory concept

[2015-10-03 15:28] antoineco opened #15050 "EBS volumes: volume mounted instead of partition"
Environment: CoreOS 815.0.0, k8s 1.1.0 (7d6c8b6)

A pod definition including a volume of type awsElasticBlockStore yields errors on the instance the pod starts on:

[code]

It looks like the _kubelet_ tries to mount a volume (/dev/xvdf) and not a partition. Although this eventually succeeds, I'm not sure if this is the expected design.

[code]

[2015-10-03 16:48] bgrant0607 commented on #14956
From past conversations, I believe that @ghodss and @kelseyhightower agree with @smarterclayton.

We do need to put more effort into tooling.

Multiple generators are in flight (e.g., #14918). And we know we need to generalize templates beyond pods (#260). They, or other tooling, may sufficiently address the issue, and I'm not keen on painting us into a corner too quickly.

Actually I have many of

[2015-10-03 16:50] bgrant0607 commented on #14956
Anyway, multiple deployments per service is a more advanced use case and a list of deployments is in the direction of more complexity again, so that alternative is not compelling, IMO.

[2015-10-03 17:05] thesteve0 commented on #14987
Copying from the the other PR - I think this is the most relevant

please look at the full example on this page

http://json-schema.org/example2.html
(it's toward the bottom of the page and I had to click the + to expand and see it)

I want something like that - the swagger output does not look like that.

For example look at the "nfs" type - that is so easy for me to go ahead and think about how

[2015-10-03 17:05] thesteve0 commented on #14987
Does swagger have a way to just spit out a schema and not all the API calls as well? Because really, I don't want all the swagger stuff for this - I just want a JSON Schema Doc that has OneOf stuff filled in and more like that.

[2015-10-03 18:03] wojtek-t commented on #14552
@lavalamp - sure (thanks for assigning it to me)
I already spend few hours trying to understand it, but to be honest completely no findings yet...

[2015-10-03 20:26] davidopp opened #15052 "Two DaemonRestart tests are failing repeatedly in kubernetes-e2e-gke-ci"
DaemonRestart Scheduler should continue assigning pods to nodes across restart
is failing with some kind of ssh error:
[code]

DaemonRestart Kubelet should not restart containers across restart
is failing like this:
[code]

Sample failures:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/8655/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kube

[2015-10-03 20:29] davidopp commented on #14966
More failures:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release/1483/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release/1488/

[2015-10-03 21:09] pmorie commented on #14961
@kubernetes/rh-cluster-infra

[2015-10-03 21:11] pmorie commented on #14963
our context IMO

+1 re: names

[2015-10-03 21:14] pmorie commented on #4822
So, create with no subcommand stays the same and subcommands enable helpers for certain resources?

`kubectl create secret ...`

That seems reasonable at least to limit the proliferation of new high-level verbs

[2015-10-03 21:16] pmorie commented on #14955
@kubernetes/rh-cluster-infra

[2015-10-03 21:16] davidopp opened #15055 "Kubernetes cluster - use of EC2 instance storage for pods"
This seems like a pretty good question, but I don't know the answer.

http://stackoverflow.com/questions/32915059/kubernetes-cluster-use-of-ec2-instance-storage-for-pods

@justinsb @thockin

[2015-10-03 21:18] pmorie commented on #14948
Can we close this?  It's working as intended.

[2015-10-03 21:18] pmorie commented on #14944
@thockin What context did you hit this in?  I will double-check but I think this works if you're just running `e2e.test` directly

[2015-10-03 21:19] pmorie commented on #14940
@kubernetes/rh-networking

[2015-10-03 21:19] pmorie commented on #14939
@kubernetes/rh-networking

[2015-10-03 21:19] pmorie commented on #14938
@kubernetes/rh-networking

[2015-10-03 21:20] pmorie commented on #14931
@kubernetes/rh-networking

[2015-10-03 21:20] pmorie commented on #14930
@kubernetes/rh-cluster-infra

[2015-10-03 21:21] pmorie commented on #14908
@kubernetes/rh-storage

[2015-10-03 21:21] davidopp opened #15056 "Document how to configure API server to use secure connection to etcd"
We seem to get a lot of questions about this and it's not clear to me whether it works at all.

http://stackoverflow.com/questions/32912699/unable-to-setup-kubernetes-against-tls-secured-etcd
https://groups.google.com/d/topic/google-containers/vu2QSc_RXIw/discussion
https://groups.google.com/forum/#!topic/google-containers/bTfEcRQ3N28/discussion

etc.

[2015-10-03 21:22] pmorie commented on #14905
@rh-ux

[2015-10-03 21:24] davidopp commented on #14977
I've filed #15056 for us to document how to do secure etcd connection from API server because we seem to get this question a lot.

[2015-10-03 21:32] smarterclayton commented on #14955
Our current mechanisms

1. apiserver has a filter that returns HTTP 429 with a Retry-After header (number of seconds to wait) if the apiserver has too many concurrent requests
2. Golang client respects 429 and will re-execute a request up to 10 times, waiting Retry-After seconds after each

Some suggestions:

1. Bucket the API server incoming rate filter to separate LIST ALL NAMESPACES calls from

[2015-10-03 21:33] smarterclayton commented on #4822
It's probably easier to say that "create" is the mechanical (argument
driven) create approach, and "create" itself only allows "-f" today.

On Sat, Oct 3, 2015 at 11:15 PM, Paul Morie <notifications@github.com>
wrote:

[2015-10-03 21:33] justinsb commented on #15055
The problem here is that I allocated a very small partition to the 'kubernetes' mount vs the 'docker' mount.  That was my bad, and should be fixed by #13803 and cherry-picked in #14272 (although I just noticed the cherry-pick has failed tests so I kicked shippable...)

I should have time to answer the SO question tomorrow...

[2015-10-03 21:45] quinton-hoole commented on #14966
Same problem.  Error pulling image:

[code]

[2015-10-03 23:05] dysinger commented on #11930
+1 - I was wondering what the heck happened to the UI guages - I'm using the kube-aws tool on the coreos site to launch a cloudformation of coreos+kubernetes.   No dashboard guages.

[2015-10-04 00:22] davidopp commented on #5017
It would be good to get this upstreamed.

BTW do we have an example of how to run etcd on Kubernetes? Is multi-port services sufficient, or do we need nominal services? See for example
http://stackoverflow.com/questions/32703348/how-to-run-an-etcd-cluster-among-pod-replicas

We have an example of running etcd as static pods in the HA docs but it requires harcoding IPs.

@timstclair this is relevan

[2015-10-04 00:33] thockin commented on #14944
Go run hack/e2e.go.  Am I doing g it wrong?  We have like 5 levels of
indirection.
On Oct 3, 2015 2:19 PM, "Paul Morie" <notifications@github.com> wrote:

[2015-10-04 00:34] thockin commented on #14963
And if we went phonetic, I think we need to be sure there's enough
entropy...
On Oct 1, 2015 11:15 PM, "Tim Hockin" <thockin@google.com> wrote:

[2015-10-04 00:37] pmorie commented on #14944
I might be the one doing it wrong, I usually build e2e.test and run that.

On Sat, Oct 3, 2015 at 8:33 PM, Tim Hockin <notifications@github.com> wrote:

[2015-10-04 00:40] pmorie commented on #14944
I see what you mean now.  Since i'm interrupting the e2e.test binary
directly I don't see it.  We need to trap sigint in e2e.go and
hack/ginkgo-e2e.sh.

On Sat, Oct 3, 2015 at 8:37 PM, Paul Morie <pmorie@redhat.com> wrote:

[2015-10-04 00:51] pmorie commented on #14944
hrm, maybe we can trap in e2e.go and just exec in ginkgo-e2e.go

[2015-10-04 01:35] aronchick commented on #14956
I think @smarterclayton has probably seen more of this than anyone, but I'm +1 @bgrant0607. For long running jobs, I want a single thing in which I can describe:

- An image
- A number of replicas
- A service endpoint (optional)

I think generators may get us some large percent of the way there from a front end/tooling perspective, but it's not clear to me if we need a more fundamental/first class

[2015-10-04 01:53] davidopp commented on #5017
Ditto for Consul:
http://serverfault.com/questions/701606/dynamic-commands-and-parameters-in-kubernetes-templates/726558#726558

It would be good for us to have a generic explanation of how to handle these in our documentation, even in the absence of specific examples/ for them. And if the answer is "wait for nominal services, see issue #260" then we can just say that. It would at least give us so

[2015-10-04 02:07] davidopp commented on #14342
Failed twice today in kubernetes-e2e-gce-parallel
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/8854/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/8863/

[code]

[2015-10-04 02:09] davidopp commented on #9349
Two failures today:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/5653/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/5654/

[2015-10-04 03:43] roberthbailey commented on #15016
If you want to hit the apiserver without credentials, then you can already use the insecure port (set to localhost:8080 by default). It uses http and doesn't require any client credentials to be sent. I don't think it makes sense to make it an option to have the secure port ever be non-SSL because that would, by definition, make it insecure.

But it sounds like what you are trying to do is re-jigg

[2015-10-04 06:09] roberthbailey commented on #15052
These tests should be skipped on GKE (see https://github.com/kubernetes/kubernetes/issues/11834). It seems like returning from the BeforeEach function doesn't actually cause the test to be skipped though, it just prevents the test from running the initialization code.

It's not surprising that the tests are passing on GCE, since that's the only platform where they should be running.

[2015-10-04 06:15] roberthbailey commented on #15017
xref #15016

[2015-10-04 06:20] roberthbailey commented on #15017
What we did initially for other platforms (like GCE) was to keep SSL and just set the client to ignore cert checks. Why not do that here until we have a way to do proper cert validation? That seems better than reverting to http.

[2015-10-04 06:43] davidopp commented on #6882
And again
https://app.shippable.com/builds/56102cdad798e60d0027ba5b

[2015-10-04 07:07] francoran commented on #7962
Unfortunately this issue is still exist for me.
Even tough a DHCP option is created for the Kubernetes VPC I've get an endless loop.

[2015-10-04 07:32] francoran commented on #7962
@alex-mohr
I figured it out,
The issue was that as part of the dhcp set creation it didn't set a domain-name to be "ec2.interna" as described here - http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_DHCP_Options.html
and only set the domain-server to AWS defaults.
Once I changed that dhcp set it worked perfectly.

I can see you added a function for that issue in #8255, it might not merged

[2015-10-04 09:11] marekbiskup commented on #9470
@roberthbailey I'm not sure how to proceed now. Could you clarify which one is the case:

1. With deployments, the addon updater will not be needed (or will be a very simple script) and there is no need to rewrite it in Go.

2. The addon updater will still be needed, but it will be completely changed (or we're not sure what it will look like). There is no point in porting it to go now.

3. Deploym

[2015-10-04 10:50] pires commented on #14897
What seems to be the problem?

[2015-10-04 11:18] saksham0808 commented on #14963
I wish to contribute to kubernetes, this seems like a good issue to start with. It'd be great if its possible. Let me know if its feasible.

[2015-10-04 14:47] jdef commented on #14394
/cc @karlkfi

[2015-10-04 17:07] glerchundi commented on #15056
@davidopp +1.

I already solved my problem, it's related to the value of the timeout. `go-etcd` is deserialized in nanoseconds. For a value of 1s, 1000000000 must be written.

But It is absolutely necessary to have better documentation about this so that people do not fall back into this problem.

[2015-10-04 17:17] karlkfi commented on #14394
I've found what may or may not be a related issue with SkyDNS when chaining DNS in K8s-Mesos.

In this setup, kube-dns is configured to delegate to /etc/resolv.conf when it can't find a result, and we have mesos-dns at the top of /etc/resolv.conf. Kube-DNS resolves k8s domains as expected, but sporatically fails (NXDOMAIN) when delegating resolution to Mesos-dns. Mesos-dns seems to work fine when

[2015-10-04 17:34] smarterclayton commented on #14394
I'll note that we've run with recursion disabled in OpenShift's SkyDNS for the last few months and we occasionally still see multi-second pauses as well (it's an open issues we've been looking at as well, very likely same root cause).  It did reduce the impact of some pauses, but very rarely we'll get SERVFAIL for other reasons.

[2015-10-04 18:44] mwielgus commented on #14897
I think that some delays/races around endpoints. I added somer more checks into our E2E tests and this issue (as in the logs) does not repeat. Instead, we have NPE from time to time (https://github.com/pires/hazelcast-kubernetes-bootstrapper/issues/8).

[2015-10-04 23:32] ArtfulCoder commented on #14394
IIUC, the readtimeout should only impact udp requests made from SkyDNS.
With no-recurse, SkyDNS would not make udp requests to other nameservers..

[2015-10-04 23:33] ArtfulCoder commented on #14394
@karlkfi
do you have mesos-dns at the top of /etc/resolv.conf for pods as well ?

[2015-10-05 01:09] justinsb opened #15058 "AWS: handle case better when volume is 'creating'"
When we try to attach an EBS volume that is still creating, we get this error around line 1145:

`IncorrectState: vol-79ebdc89 is not 'available'.`

State == `creating` when this happens.

We should probably fix the log messages for this case.

[2015-10-05 02:59] davidopp commented on #14961
Maybe it's a semantic quibble, but I don't think the issue is imperative vs. declarative -- it's implicit vs. explicit encoding of which controller owns a pod. I see the as both being declarative.

Do we have any examples/uses cases of adoption yet?

I think it would be great if we could allow people to write controllers that only support the explicit model, i.e. don't have a Selector. (The contro

[2015-10-05 04:10] thockin commented on #14939
We could close the FD so we don't have them open for a long time, but given
that this is UDP we should be able to transparently re-establish it.

Or we could get more clever with timeouts and set the initial timeout to 5
seconds, but once data has been received drop timeout to 0.25 seconds (on
the assumption that most UDP is DNS, which is a bit sketchy).

On Fri, Oct 2, 2015 at 4:25 PM, Abhi Shah

[2015-10-05 04:10] thockin commented on #14939
Also, this seems to be a non-issue for iptables proxier (just tested it).

On Sun, Oct 4, 2015 at 9:09 PM, Tim Hockin <thockin@google.com> wrote:

[2015-10-05 04:20] thockin commented on #14963
@smarterclayton - any objections?

On Sun, Oct 4, 2015 at 4:19 AM, Saksham Sharma <notifications@github.com>
wrote:

[2015-10-05 05:37] glerchundi commented on #260
/ping

[2015-10-05 06:10] a-robinson commented on #15058
Is this related to [today's Stack Overflow question](http://stackoverflow.com/questions/32894930/kubernetes-aws-ebs-timeout-waiting-for-volume-state)?

[2015-10-05 06:31] wojtek-t commented on #14986
@ArtfulCoder - thanks a lot for debugging and fixing this issue

Regarding the further discussion - I think it's a bit artificial - to run any bigger cluster, we need more than 1-core for the master machine anyway.
So I think that what we should do is:
- leave 100 requested, 200 limit for 1-core master
- introduce some logic that gives higher request/limit for any component when the master machine

[2015-10-05 07:23] fgrzadkowski commented on #14695
@lavalamp I think that adding a timeout and reverting #14914 are orthogonal. I we want to simulate network problems with node->master communication then using REJECT is better anyway. At the same time adding timeout makes sense for many other reasons.

[2015-10-05 07:30] davidopp commented on #6080
Along the lines of what Clayton said, I think you could divide the workflow into multiple pieces. Evacuation prepares the machine for upgrade, and then upgrade can be done via a separate tool.

That said, I put my comment from a few days ago in the wrong issue -- I hadn't seen your comment "let's keep the draining discussion in #3885 and just discuss the specific use for node upgrades here" and re

[2015-10-05 07:32] davidopp commented on #3885
Sorry, I accidentally put some comments about this in #6080 a few days ago, but this issue is more appropriate. Here's the concatenation of what I had written:

Notes from a brief discussion with @brendandburns today:

Initial version (client-driven):
[code]

Things we can do later to make it more sophisticated
* move it to server-side (i.e. somehow tell the server "I want you to shut down machine

[2015-10-05 07:36] davidopp commented on #3885
We should make DaemonSet obey unschedulable, and we really should move away from allowing direct specification of nodeName by anything that isn't a scheduler (e.g. DaemonSet controller and the real scheduler). This issue is a good example of why allowing clients to set nodeName is a bad idea.

[2015-10-05 07:41] piosz commented on #14737
related PRs #14654, https://github.com/kubernetes/heapster/issues/623

[2015-10-05 07:45] piosz commented on #13873
cc @burmanm

[2015-10-05 08:05] MalteJ commented on #14278
Same problem here with eu-central-1

[2015-10-05 08:12] burmanm commented on #13873
For progress report, I'm waiting for HWKMETRICS-263 / HWKMETRICS-264 to be merged on Hawkular-Metrics side to send a PR (as they reduce the IR resource requirements a lot on Kubernetes side). I'll know more this evening when the timezone is more suitable for the US guys.

[2015-10-05 09:42] philips commented on #12533
@kayrus is this still an issue?

[2015-10-05 09:46] kayrus commented on #12533
@philips reproducible on v1.0.6

[2015-10-05 09:50] piosz commented on #11570
Good job @socaa!

[2015-10-05 09:50] #11570 closed

[2015-10-05 10:13] JeanMertz commented on #5472
I'm probably not saying anything new here, but looking at [Nomad](https://www.nomadproject.io) as one way to solve this would be a wise choice in my opinion.

That is:

* single binary (for both master and workers (and client?))
* declarative configuration on how the cluster should behave
* `-dev` command for single local master+worker instance

[2015-10-05 10:29] pires commented on #14897
OK. Thank you for reporting. Will add more breakers.

[2015-10-05 11:14] Smana commented on #11869
Hi, i tried again today and i still have the same issue when i want to generate the secret.json file
[code]
[code]

Please let me know if you need further info.

[2015-10-05 11:59] bodgit commented on #12575
Yes, I think this can be closed now.

[2015-10-05 12:13] gmarek opened #15064 "Calibrate Kubemark/Kubemark test results"
We have performance testing infrastructure ready for use in GCE, all scripts are in `test/kubemark`, and the rest of the code is spread around `cluster` directory. Currently there's a performance problem, which causes kubemark to be a lot slower than ordinary cluster. We need to find a root cause for this if we want this tool to be useful.

cc @fgrzadkowski @wojtek-t @lavalamp @quinton-hoole @timo

[2015-10-05 12:14] gmarek opened #15065 "Write a user guide for Kubemark"
So that people from outside of Warsaw would be able to use it.

cc @fgrzadkowski @wojtek-t @brendandburns @quinton-hoole

[2015-10-05 12:15] gmarek opened #15066 "Make Kubemark easy to run outside GCE"
Currently scrips depend on `cluster/gce/util.sh` to get various environmental variables set. It shouldn't be to hard to decouple it, but it requires some work.

cc @fgrzadkowski @timothysc @quinton-hoole

[2015-10-05 12:19] gmarek commented on #15064
It seems that we do a lot more in etcd in Kubemark runs:
Part of etcd logs from 'normal' run:
[code]

Analogous part from Kubemark run:
[code]

Generating the  same work that was done on normal cluster in 2m30s took only 1m on Kubemark

[2015-10-05 12:53] justinsb commented on #15011
I do wonder if we could maybe use k8s itself to run our tests; perhaps the new jobs framework in particular.

The biggest barrier to doing this (I believe) is that our build scripts don't run in Docker because they use Docker...

[2015-10-05 12:58] timothysc commented on #14955
@yujuhong this is one of our roadmap items, please label as performance.

/cc @kubernetes/sig-scalability

[2015-10-05 13:06] gmarek commented on #15064
I found another difference:
real runs:
[code]
kubemark runs:
[code]

It seems that something is not implemented yet...

[2015-10-05 13:11] justinsb commented on #14278
@mudrion the first problem is this `export KUBE_AWS_ZONE="ap-southeast-1"` - you need to pick a zone, not a region.  So specify e.g. `export KUBE_AWS_ZONE="ap-southeast-1a"`.  What happens is that we remove the last character to determine the region, so we're trying to match `ap-southeast-`.  I'm going to add the region to the 'region not recognized' error message

@mudrion The second problem coul

[2015-10-05 13:58] antoineco opened #15073 "Available EBS volume remains in 'detached' state"
Environment: CoreOS 815.0.0, k8s 1.1.0 (7d6c8b6)

It happens to me quite often that a volume marked as "available" on AWS remains in a "detached" state according to the kubelet:

[code]

[code]

Deleting the pod and recreating it eventually succeeds.

[2015-10-05 13:58] justinsb commented on #15050
I think this is actually the expected output from safe_format_and_mount.  If you want to use a partition, you can specify a partition on the volume (https://github.com/kubernetes/kubernetes/blob/6260759c5130f7f8f7e734c923a17638b79f9009/pkg/api/types.go#L496)

I don't think there's any particular requirement to specify a partition (?).  I agree the message is off-putting, but AFAICT that's the norm

[2015-10-05 13:59] justinsb commented on #15073
I have some fixes in progress that should fix this

[2015-10-05 14:02] antoineco commented on #15050
Extra note, if you run `fdisk` on such a block device you get the following warning:

[code]

As you just mentioned @justinsb, the workaround is to create the partition(s) manually and set the `partition` attribute of the volume to the actual partition number, which makes sense but doesn't sound so clear in the [current documentation page](https://github.com/kubernetes/kubernetes/blob/master/docs/

[2015-10-05 14:10] timothysc commented on #15073
/cc @kubernetes/rh-storage

[2015-10-05 14:26] timothysc commented on #3885
@davidopp quick question, these proposals don't mention anything of migration or forgiveness in the case where a pod could be using local storage for say something like HDFS.

Is the intent to defer till that time, or punt on data-gravity entirely?

[2015-10-05 14:30] antoineco opened #15077 "EBS volumes: kubelet does not honor 'partition' attribute"
Kubernetes 1.9.3

kubelet does not honor the partition number and always mounts the first partition.

[code]

[code]

Same partition mounted for both volumes:

[code]

[2015-10-05 14:33] justinsb commented on #15058
Actually @a-robinson I think that is #14493.  I have a branch (https://github.com/justinsb/kubernetes/tree/aws_integration) where I'm cleaning up a lot of these problems. I think also that I'd like to try again to not copy-and-paste the GCE volume code to AWS, but instead reuse it for AWS (the two have diverged a long way...)  Hopefully we can get #14493 merged and then I have a few more edge-case

[2015-10-05 14:34] mudrion commented on #14278
@justinsb Thank you for tip, after changing to correct region zone fixed the both issues

[2015-10-05 14:39] wojtek-t opened #15078 "Watch requests from heapster are too short and LIST last too long"
When running tests I've seen that watch requests for pods coming from heapster are ending quite fast (i.e. most of them are significantly shorter than 1 minute - I would expect them to last 5+ minutes)

[code]

 This results in too frequent unnecessary relists and higher load an apiserver/etcd.

Moreover, the "LIST pods" coming from heapster are much longer:
- all steps are longer (listing from et

[2015-10-05 14:41] justinsb commented on #15077
Thanks for reporting.  And I was so sure this would work! :-(

[2015-10-05 14:42] timothysc commented on #14733
Due to the CP write latency+encode+decode..., and the issues with in-memory state across load balanced api-server, has anyone started to discuss gossip protocols over heartbeats?  e.g. Riak+Consuls model.?.?

Once we start hitting O(10^3+) even patched heartbeats will start to become painful.

[2015-10-05 14:47] antoineco commented on #15077
Maybe I missed some of your commits? I'm currently testing on k8s 1.1.0 (7d6c8b6) which is 386 commits behind master.

[2015-10-05 14:52] wojtek-t commented on #15078
To give an example for the second problem:

    I1005 14:47:14.674611       8 handlers.go:130] GET /api/v1/pods?fieldSelector=spec.nodeName%21%3D: (1.908231415s) 200 [[heapster/v1.0.3 (linux/amd64) kubernetes/$Format] 10.240.0.13:33263]
    I1005 14:48:39.520395       8 handlers.go:130] GET /api/v1/pods?fieldSelector=spec.nodeName%21%3D: (2.058450085s) 200 [[heapster/v1.0.3 (linux/amd64) kubernete

[2015-10-05 14:55] gmarek commented on #14733
I got too preoccupied and forgot about this issue... The problem with PATCH is that, IIUC, it only helps if the network bandwidth is a problem, but I'm actually more worried about hammering etcd. With PATCH master will need to get an object (e.g. NodeStatus) form etcd, patch it and write it to the database.

I'm not sure if this won't give worse performance than current implementation (patch and r

[2015-10-05 14:57] timothysc commented on #15078
yeesh...

[2015-10-05 15:16] RichieEscarez commented on #13163
The fix for this was added in #14436, specifically this line: https://github.com/kubernetes/kubernetes/pull/14436/files#diff-1a1c9c2581e96ce455568c50db4124d4R76

[2015-10-05 15:34] wojtek-t commented on #15078
@timothysc - are you also using heapster (and observe the same)
I looked through logs and didn't see any other suspiciously short watch requests...

[2015-10-05 15:35] dcbw commented on #14931
@davidopp @mikedanese any chance you can try out the cni-fixes branch I linked to above, so I can get some more debugging info about the issue?  Thanks!

[2015-10-05 15:37] dcbw commented on #14931
@wojtek-t any chance you can try out the cni-fixes branch I linked to above?

[2015-10-05 15:38] derekwaynecarr commented on #14935
@vishh - I will put together a PR for this today.

[2015-10-05 15:47] #14910 closed

[2015-10-05 15:49] pmorie opened #15080 "There should be docs and user guide for security context"
Currently there are no user-facing docs (beyond the initial design document) for security context.

[2015-10-05 15:50] timothysc commented on #15078
We have disabled heapster in our environment.

[2015-10-05 16:38] caesarxuchao commented on #12575
Thank you @bodgit

[2015-10-05 16:38] #12575 closed

[2015-10-05 16:47] yujuhong commented on #14938
Cleaning up infra container on network plugin error sounds reasonable/

[2015-10-05 16:56] a-robinson commented on #14597
We now have at least 20 static IPs allocated in us-central1 in all of our jenkins projects.

[2015-10-05 17:06] ihmccreery opened #15083 "GKE upgrade e2e tests leaking firewall rules"
It looks like every run has leaked the following two firewall rules:

[code]

I'm assigning to team/control-plane, same as #13515, but feel free to reassign if that's the wrong team.

[2015-10-05 17:11] ihmccreery opened #15084 "Enable easier tracking of leaked resources from e2e tests"
(cc @ixdy @quinton-hoole @brendandburns)

We're consistently leaking resources in e2e tests and having to clean them up.

We should consider a test right at the beginning of a run that, if there are any resources that it doesn't expect, lists and deletes them all, and then fails.
#15083 and #13515 may be easier if we can get this done.

[2015-10-05 17:11] deads2k opened #15085 "Validation should deserialize using runtime.Unstructured"
We created the `runtime.Unstructured` to hold objects containing `TypeMeta` that we should be able to deserialize and inspect for other fields (`ObjectMeta` for instance) using common functions in the `runtime` package.  Using these types in validation (https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/schema.go#L99) would make for cleaner code and better re-use.

@linzichang

[2015-10-05 17:12] fgrzadkowski commented on #15016
@roberthbailey Yes, I'm not trying to say that secure port is not using SSL. I'm trying to connect to insecure port. The change in the client library assumes that if we have ```/var/run/secrets/kubernetes.io/serviceaccount``` then we run in secured cluster, otherwise try using insecure protocols.

[2015-10-05 17:18] fgrzadkowski commented on #15017
I think that for a developer/getting started we should a super simple setup. This is not only about client side configuration, but also about server side. Adding SSL is not that easy (especially if you want to do it right).

Regarding non-secure port I think that this is and orthogonal problem. Wouldn't it be more explicit if we either listen only on insecure port or only on secured port? I think

[2015-10-05 17:18] liggitt commented on #15016
is there even an insecure service set up any more? I really hope not

[2015-10-05 17:22] fgrzadkowski commented on #15016
@liggitt What do you mean? Are you saying that each service (including user provided) should use SSL?

[2015-10-05 17:23] liggitt commented on #15017
Things like https://github.com/kubernetes/kubernetes/issues/13598 are the only reason we even have an insecure port, in my opinion.

[2015-10-05 17:24] mikedanese commented on #15016
@liggitt no there is not. @fgrzadkowski the InClusterConfig was designed to use the kubernetes service setup in the default namespace which AFAIK will only ever be setup to point to the apiserver's https port. Are you planning on creating an http kubernetes service when the cluster is setup in insecure mode (i.e. insecure-bind-address is a public interface)?

[2015-10-05 17:24] liggitt commented on #15016
@fgrzadkowski no, I'm referring only to the kubernetes service

[2015-10-05 17:27] mikedanese commented on #15016
I guess the alternative to that approach would be to allow InClusterConfig to accept some arbitrary configuration but at that point, why don't you just create a client.Config yourself?

[2015-10-05 17:29] fgrzadkowski commented on #15016
@liggitt @mikedanese All I'm saying is that if we have a simple setup which does not have SSL configured (for whatever reason - development, other security mechanism, performance measurements) cluster should still work. Currently it doesn't. Obviously by default we should use SSL, but I don't  see why this should be a hard requirement.

I think it'll be easier if we discuss over concrete changes,

[2015-10-05 17:31] a-robinson commented on #15050
@antoineco - does this justify its own issue, or is it covered by #15077?

[2015-10-05 17:33] mikedanese commented on #15016
@fgrzadkowski Sounds good.

[2015-10-05 17:34] #14589 closed

[2015-10-05 17:39] a-robinson opened #15088 "AWS: kube-down fails to clean up properly if no nodes are running"
A user on slack mentioned that he was unable to delete a cluster created using our recommended method (`export KUBERNETES_PROVIDER=aws; curl -sS https://get.k8s.io | bash`) by running `cluster/kube-down.sh`, as we [recommend for tearing such clusters down](http://kubernetes.io/v1.0/docs/getting-started-guides/aws.html#tearing-down-the-cluster).

We don't have much other detail on this, but if some

[2015-10-05 17:44] mikedanese commented on #14909
I believe this particular flake is fixed. Closing this. There are still flakes in DaemonSet but let's track them in #14072.

[2015-10-05 17:44] #14909 closed

[2015-10-05 17:46] antoineco commented on #15050
The two issues are different and do not happen in the same conditions.

In this case a raw disk is treated as if it already contained a partition.
In the mentioned issue a partitioned disk is not properly mounted.

[2015-10-05 17:47] yujuhong opened #15089 "Leverage docker labels to construct container statuses without consulting pod spec"
Kubelet reconciles the difference between the pod status and the desired pod specs. When generating status for a pod (`GetPodStatus`), kubelet relies on several pieces of information from the apiserver:
 - PodSpec:
     * container name
     * termination message path
 - PodStatus:
     * container restart count

(*edit: this list may be incomplete*)

We can eliminate this dependency by writing th

[2015-10-05 17:54] hotmeatballsoup commented on #15088
The full command I ran was (from inside my local `kubernetes` dir):

    export KUBERNETES_PROVIDER=aws; cluster/kube-down.sh

Console output was:

    Bringing down cluster using provider: aws
    Done

But, back in AWS, all the EC2 instance are still there and running. Auto-scaling groups is still there and running. Everything appears to have been unaffected by running the `kube-down.sh` script.

[2015-10-05 17:59] hotmeatballsoup commented on #15088
And, for the sake of good measure, I accidentally stopped all EC2 instances prior to running this `kube-down.sh`. The auto-scaling group re-provisioned 4 new minions for me and then I manually restarted the master.

I only mention this in case the `kube-down.sh` script is still expecting the 4 original minion nodes somehow.

[2015-10-05 17:59] vishh commented on #14935
Thanks @derekwaynecarr

[2015-10-05 18:06] vishh opened #15091 "Kubelet should ensure that node does not panic on OOM"
Linux can be configured to panic on OOM. This will impact QoS policy on kubelet since users can explicitly overcommit the node and kernel OOM killer is used to evict lower priority containers when the node is under memory pressure.

Specifically, kubelet needs to check the value of `/proc/sys/vm/panic_on_oom` and if it not equal to `0`, either
1. Warn the user (event & logs) and mark the node `Not

[2015-10-05 18:09] derekwaynecarr commented on #14934
This seems like an either or scenario.

Curious what scenario drove disabling the flag from being on?

I think we disable running privileged containers by default as well in the salt configuration.

[2015-10-05 18:16] a-robinson commented on #14737
It looks like you're on top of this, but it's been failing pretty frequently this morning as well, all on "Horizontal pod autoscaling [Skipped][Autoscaling Suite] should scale from 5 pods to 3 pods and from 3 to 1 (scale resource: Memory)"

[2015-10-05 18:20] #12157 closed

[2015-10-05 18:22] RichieEscarez opened #15092 "Move the Google CSE search box into the banner (on kubernetes.io)"
We can regain some real estate if we stop displaying the full search box across the top of the kubernetes.io site (especially in mobile views).

The current proposal is to instead only show a search icon (magnifying glass icon) that is always showing/available. When the icon is clicked, the search box overlays the content on the screen.

[2015-10-05 18:23] kargakis opened #15093 "ListWatch does not support filtering based on label selectors"
https://github.com/kubernetes/kubernetes/blob/f86140f1a444a07cc81e0cd4d165ff990304769d/pkg/client/cache/listwatch.go#L46

Is this intentional?

[2015-10-05 18:24] #14622 closed

[2015-10-05 18:25] derekwaynecarr commented on #15091
I do not have a clear use case for running Kubernetes where ```panic_on_oom``` should not be ```0```.  Marking the node ```NotReady``` if value is non-zero seems to require more work on the user part for things that I would think Kubernetes should do for me.  I prefer 2.

[2015-10-05 18:25] vishh opened #15094 "Handle path updates in doc scripts"
Docs in this repo get moved around for various reasons. Our docs update script should understand such moves and update all references to that doc with the new path.

[2015-10-05 18:26] hotmeatballsoup commented on #15088
By stopping and restarting the master I see that it has a new IP address. Perhaps the script is using TLS certs and other configs that are bound to the master that *used* to be living at the old IP.

[2015-10-05 18:31] a-robinson commented on #15088
Yeah, killing the master was the problem here. I thought AWS might be using a static IP or static DNS name for the master, but apparently not.

[2015-10-05 18:35] piosz commented on #14667
The test failed 9 times in the last 30 runs. Reopening.

[2015-10-05 18:36] thuey commented on #11172
Any updates on this? I'm running into the same issue.

[2015-10-05 18:37] wojtek-t opened #15095 "Unify resyncing in informer/controller frameworks among different controllers"
Currently evey controller is resyncing its resources with different frequence. We should fix that in a way that:
- in production we do it very rarely (like once per hour) or even never
- in e2e tests (to test that path) we do it e.g. every 5 minutes)

The motivation of making resyncing not that frequent is performance (LISTing is just expensive)

@kubernetes/goog-csi

[2015-10-05 18:37] wojtek-t commented on #15095
I will work on it.

[2015-10-05 18:40] piosz commented on #14737
The issue is about cluster size autoscaling tests, which haven't failed since #14559 was merged. I'll close this issue tomorrow once there will be no more failures. Also there is another issue with Horizontal Pod Autoscaling test - tracking issue #14667

[2015-10-05 18:41] tummychow commented on #13698
Thanks for accepting all 3 of my PRs! This is done.

[2015-10-05 18:41] #13698 closed

[2015-10-05 18:42] piosz commented on #14667
Also the test failed during last 3 runs so increasing the priority.

[2015-10-05 18:42] a-robinson commented on #15093
@lavalamp

[2015-10-05 18:42] timstclair commented on #15092
Also, we should switch to using the [compact](http://googlecustomsearch.appspot.com/elementv2/compact_v2.html) layout, which is [recommended](https://developers.google.com/custom-search/docs/ui#layout) for mobile devices. (I think we can use it for desktop and mobile).

[2015-10-05 18:42] derekwaynecarr commented on #15091
Assuming we are all good with 2, I can send a PR.

[2015-10-05 18:43] timothysc commented on #15095
/cc @kubernetes/sig-scalability @kubernetes/rh-cluster-infra

[2015-10-05 18:44] timothysc commented on #15089
/cc @kubernetes/rh-cluster-infra

[2015-10-05 18:45] timothysc commented on #15084
/cc @jayunit100

[2015-10-05 18:45] timothysc commented on #15080
/cc @jayunit100

[2015-10-05 18:53] chiefy commented on #10383
Not sure if this needs to get re-opened, but I am having issues pulling from a private docker hub registry.

I created both a `/root/.dockercfg` and `/root/.docker/config.json` with creds (the json form is used by docker >= 1.8), then created a RC which called to pull the private image. I can ssh into the minion and `sudo docker pull myuser/private:version` just fine.

[2015-10-05 19:07] aronchick commented on #14197
+1 I've seen this as well.

[2015-10-05 19:10] aronchick commented on #12121
Propose moving this up to P1 - I've seen this happen regularly with a default install.

[2015-10-05 19:11] aronchick commented on #11324
+1

[2015-10-05 19:21] jayunit100 commented on #15084
Which resources: cluster or local ?

[2015-10-05 19:28] karlkfi commented on #14394
@ArtfulCoder
The following output is from our DCOS setup where `10.0.4.194` is mesos-dns, `10.10.10.10` is kube-dns.

[code]

[code]

[code]

[code]

Digs to kube-dns for k8s targets from k8s pods works fine.
Digs to kube-dns for mesos targets from k8s pods is flakey.
Digs to mesos-dns for mesos targets from k8s pods works fine.

For example, here's two consecutive digs where the second one failed

[2015-10-05 19:29] davidkbainbridge opened #15102 "vagrant development cluster not always starting (kube-up)"
on latest master branch 5-OCT-2015 @ 12:30pm PT, I am more often or not seeing the following message at the end of kube-up

[code]

[2015-10-05 19:29] chiefy opened #15103 "Update documentation on how to pull from private docker repo"
I created both a `/root/.dockercfg` and `/root/.docker/config.json` with creds (the json form is used by docker >= 1.8), then created a RC which called to pull the private image. I can ssh into the minion and `sudo docker pull myuser/private:version` just fine.

[code]

[2015-10-05 19:34] spiffxp commented on #14216
Adding resource requests / limits triggers stair-stepping on v1.0.6 almost immediately as well, so I can't quite git-bisect this one away like I'd hoped.

@gmarek these pods are in the default namespace, all I recall doing is using the recommended list of admission controllers: https://github.com/Samsung-AG/kraken/blob/master/ansible/roles/kubernetes/defaults/main.yaml#L12

I'll get scheduler bind

[2015-10-05 19:43] gmarek commented on #14216
I'm sure - we do have LimitRange in v1.0.6, right? @bgrant0607

If so, then something strange is happening, as they would have a default Limits inherited from `default` namespace LimitRanger...

[2015-10-05 19:48] ixdy commented on #15084
I was planning of at least writing a dumb script that runs `gcloud list` on a variety of resources before a test run, then compares that against a `gcloud list` run after the test.

We won't be able to run it on all of our Jenkins projects; those that share a GCP project would have constant false positives, including the PR Jenkins. But it'd be better than the nothing we have right now.

[2015-10-05 19:52] jayunit100 commented on #15080
- I guess I don't know what security context is because there are no docs on it :)...
- Can someone put a pointer in the code somewhere?  I'm happy to help with this as I did add some docs on the kubeconfig.
- have learned a few things  from @liggitt around the pathway for service auth and so on that i can try to help clarify......  those notes are currently residing in [kubecfonfigfile.md](https:

[2015-10-05 19:52] karlkfi commented on #14394
I was able to make the above work as expected (without flakiness) by explicitly configuring `-nameservers` on skydns. But that isn't a great solution, because it makes the kube-dns config specific to our deployment, instead of just dynamically inheriting the mesos-slave dns settings.

[2015-10-05 19:53] #14693 closed

[2015-10-05 19:53] ihmccreery commented on #15084
Some of the resources will be quarantined in a specific network, (e.g. firewall rules).

For those that aren't, it would be great if we could make them traceable to a cluster, (e.g. not use just a random hash, but instead a reasonable name prefixed with the cluster name,) and then we could just grep on the cluster name, right, as long as cluster names aren't substrings of each other.  @ixdy, maybe

[2015-10-05 19:54] ihmccreery commented on #15084
@jayunit100 GCP resources, e.g. firewall rules, addresses, forwarding rules, and target pools

[2015-10-05 19:55] pmorie commented on #15080
@jayunit100 correct

[2015-10-05 19:59] #14539 closed

[2015-10-05 20:01] saad-ali opened #15106 "E2E PD Test "...PDs both mounted to one container..." occasionally fails"
The E2E PD test `Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession` occasionally fails.

This test was added in PR #14450 to try and repro #11391 (verify two PDs attached to a single pod/container).

It failed once in the last 99 Jenkins `kubernetes-e2e-gce` runs:
* [Bu

[2015-10-05 20:02] a-robinson commented on #15088
Sorry, didn't mean to close this - killing the master explains why kubectl doesn't work, but shouldn't prevent kube-down from doing it's thing, at least not without spitting out error messages.

[2015-10-05 20:06] #12381 closed

[2015-10-05 20:11] saad-ali commented on #15106
Relevant kubelet logs for Jenkins run 8734 (PD2, `e2e-gce-c9fa93a8-694a-11e5-8fd2-42010af01555`):

[code]

[2015-10-05 20:25] ironcladlou commented on #14744
@nikhiljindal so, this is actually an interesting problem. During `scaleUp`, if the new/existing RC is already greater than `replicas + maxSurge`, it bails early since we're in violation of the surge specification (by exceeding it).

Should `scaleUp` actually scale down the new RC if it observes such a violation?

[2015-10-05 20:26] miekg commented on #14394
So what are we left with here? "occasionally still see multi-second pauses" ? Can I utter the word "GC" here, or is it something deeper with SkyDNS/go DNS?

[2015-10-05 20:30] kayrus opened #15108 "kubelet with "--register-node=false" still tries to find that node"
Default CoreOS [doc](https://github.com/coreos/coreos-kubernetes/blob/master/Documentation/deploy-master.md#create-the-kubelet-unit) has following service:

[code]

But even with "--register-node=false" it produces logs like (172.17.4.101 is master node):

[code]

/cc @philips @bcwaldon
#12533 - here we see lots of useless logs too

[official doc](http://kubernetes.io/v1.0/docs/admin/node.html#man

[2015-10-05 20:30] quinton-hoole commented on #11324
cc @justinsb

[2015-10-05 20:30] quinton-hoole commented on #14197
cc @justinsb

[2015-10-05 20:35] #14426 closed

[2015-10-05 20:38] nikhiljindal commented on #14744
Yes. We will maybe need another function reconcileNewRC, which calls scaleUp or down or maybe just rename that function and it calls scaleRC accordingly.

I plan to work on this right after I have fixed the e2e test: https://github.com/kubernetes/kubernetes/issues/15038

By that time, I might have your unit tests as well, which will be great.

[2015-10-05 20:38] rroopreddy commented on #9180
I am working with release 1.0.6 have the same problem Based on the date of this issue, it suggests that this would have been fixed in this latest version. Am I missing something?

[2015-10-05 20:40] #14786 closed

[2015-10-05 20:58] antoineco commented on #9180
It's fixed from v1.1.0 onwards, but this was not cherry picked in v1.0.6 or before.

[2015-10-05 20:58] a-robinson commented on #15102
@derekwaynecarr for sanity check on whether this is broken at head. If not, this should be a stackoverflow question so that it can be more easily discovered by other people in the future.

[2015-10-05 20:58] a-robinson commented on #15103
Please re-post your question to stackoverflow.

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted in multiple forums, with the full response thr

[2015-10-05 20:59] ixdy commented on #15084
I think I saw somewhere that @fabioy was working on a similar effort, but I don't know the details of that discussion.

[2015-10-05 21:09] chiefy commented on #15103
@a-robinson I posted here not because I need help, but it seems like a bug.

[2015-10-05 21:13] ixdy commented on #12258
Is this still an issue? Should this be under the flake label?

[2015-10-05 21:18] jlowdermilk commented on #12258
Shouldn't be under flake. The issue is purely internal cleanup. It would not surprise me if there are other retry timeouts sprinked throughout kubectl that should be standardized.

[2015-10-05 21:23] vishh commented on #10383
@chiefy: From the [code](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/credentialprovider/config.go#L67), it looks like kubelet expects either `.dockercfg` or `config.json` to be present under one of the following paths:
* [`/var/lib/kubelet/`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L448)
* Kubelet's working directory - `/`on GCE. I'm not

[2015-10-05 21:27] a-robinson commented on #14674
This has been failing very consistently all weekend. Step 2 ("Skipped Cluster upgrade upgrade-cluster should maintain a functioning cluster") has been timing out a bunch, and when it manages to succeed, the deployment tests fail in step 3.

[2015-10-05 21:28] ironcladlou commented on #14744
I got started on the tests late in the day. I'm taking the approach of making test tables at the `scaleUp` and `scaleDown` function granularity since the guts of this thing are now sufficiently decomposed compared to the kubectl version. Will have something for review tomorrow.

[2015-10-05 21:29] ironcladlou commented on #14744
If you want to get a feel for what it looks like, check out this branch:

https://github.com/kubernetes/kubernetes/compare/master...ironcladlou:deployment-controller-tests?expand=1

[2015-10-05 21:34] mikedanese commented on #14674
@a-robinson step 2 needs to be deflaked. I'm it's on my radar but also trying to balance deflaking of daemonset e2e. I'm tracking deployment test failure in #15038. The deployment controller in the upgrade e2e environment was not enabled when the Deployment e2e test was merged on friday.

[2015-10-05 21:43] nikhiljindal commented on #14799
We have https://github.com/kubernetes/kubernetes/blob/master/cluster/update-storage-objects.sh to update etcd objects while upgrading the cluster to a different API version (for ex: we used it while upgrading clusters from v1beta3 to v1). We can extend that.

[2015-10-05 21:44] ixdy commented on #13891
Dupe of #13485.

[2015-10-05 21:44] #13891 closed

[2015-10-05 21:46] ixdy commented on #13485
I don't think we've seen this in a while. Please reopen if we're still having mysterious timeouts in Jenkins.

[2015-10-05 21:46] mikedanese opened #15111 "Cleanup DaemonSet e2e tests"
Lot's of cleanup can be done in the DaemonSet e2e. @quinton-hoole made some comments in #15104 that should be addressed.

[2015-10-05 21:46] ihmccreery opened #15112 "Kubectl e2e tests leave resources running after stop during upgrade"
The following e2e tests are failing in a similar way during upgrades from 1.0 to HEAD:

- Kubernetes e2e suite.Kubectl client Guestbook application should create and stop a working application
- Kubernetes e2e suite.Kubectl client Kubectl label should update the label on a resource
- Kubernetes e2e suite.Kubectl client Simple pod should support exec
- Kubernetes e2e suite.Kubectl client Simple pod

[2015-10-05 21:47] ihmccreery commented on #14778
The following bugs have been submitted for failing tests (I'll update this list as I file more):

- [ ] Kubectl e2e tests leave resources running after stop during upgrade #15112

[2015-10-05 21:52] #3060 closed

[2015-10-05 21:52] yichengq commented on #5017
@davidopp We have implemented some work to run a static-deployed etcd cluster on kubernetes. The code is here: https://github.com/coreos/etcd/tree/master/hack/kubernetes-deploy . Does this match your expectation?

/cc @xiang90 @polvi

[2015-10-05 21:53] yujuhong commented on #15108
`--register-node=false` only means that kubelet would not try to register itself. However, it still expects a node object to be created for it. @kayrus, do you want kubelet to not update the node status at all? Currently, the only way to do it is to have a nil kubeClient (i.e., running in standalone mode without the apiserver).

From the doc:
[code]

[2015-10-05 21:58] bgrant0607 commented on #4822
What would this look like?
[code]

[2015-10-05 21:59] bgrant0607 commented on #5331
We're doing this via comments now.

[2015-10-05 21:59] #5331 closed

[2015-10-05 22:01] bgrant0607 commented on #9399
cc @RichieEscarez

[2015-10-05 22:03] bgrant0607 commented on #9729
Done.

[2015-10-05 22:03] #9729 closed

[2015-10-05 22:05] ixdy commented on #14074
I've only seen one issue of this recurring on the PR Jenkins in the last week:
[code]

Lowering priority accordingly.

[2015-10-05 22:05] DreadPirateShawn opened #15115 "garbage collection occurs before housekeeping is started"
When first starting kubelet, we see errors like this:

[code]

**Version:** 1.0.6

After digging into it, it looks like there may be a bug where initial garbage collection is attempted before housekeeping is started. In the kubelet logs, this looks like:

[code]

Note the `Image garbage collection failed` at 17:25:38.952226, followed later by `Start housekeeping for container "/"` at 17:25:40.3558

[2015-10-05 22:06] ixdy commented on #14074
Also, this wasn't a timeout, but the mysterious "fatal: The remote end hung up unexpectedly" error which happens occasionally.

[2015-10-05 22:06] bgrant0607 commented on #13772
Done as much as it's going to be for 1.1.

[2015-10-05 22:08] smarterclayton commented on #4822
One downside to stacking under create is that accidental arguments
(incorrectly specifying -f) might lead to an unexpected command.  The
benefit is that it's likely to fit with user's expectations that we've
established for other verbs.

On Mon, Oct 5, 2015 at 11:58 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-05 22:10] ihmccreery opened #15116 "What do we do with 1.0 tests that fail when run against 1.1?"
This is a problem we're going to run into as we're running 1.0 e2e tests against 1.1 clusters, (which we do because we need to make sure that 1.1 clusters still operate the way 1.0 clusters did).  If a test fails, but the failure is due to a bad test rather than a problem in 1.1, what do we do?

For example, Services/Nodeport e2es are failing on upgrade due to change in error message.  They fail w

[2015-10-05 22:11] saad-ali commented on #14642
The sync loop in kubelet is responsible for detecting and unmounting/detaching PDs that are no longer being referenced by any pod.

The problem here is that when the node goes down (is rebooted) this logic does not get a chance to do this, therefore the PD remains attached to the node.

The Kubernetes scheduler reschedules the pod that was previously running on the downed node to another node. The

[2015-10-05 22:11] ihmccreery commented on #15116
(This is part of #14778)

[2015-10-05 22:13] nikhiljindal commented on #11234
Removing 1.1 milestone

[2015-10-05 22:17] lavalamp commented on #14695
OK then, let's add a timeout and test *both* DROP and REJECT-- no sort of network problem should hang a component.

[2015-10-05 22:18] saad-ali commented on #14647
Hey @JeanMertz! Thanks for the report. Sorry for the troubles.

Have you been able to repro once #14526 was merged?

[2015-10-05 22:18] bgrant0607 opened #15117 "All policy config should be versioned, like APIs or other configuration"
The ABAC authorizer policy schema is not versioned:
https://github.com/kubernetes/kubernetes/blob/master/pkg/auth/authorizer/abac/example_policy_file.jsonl

It should be, using the same approach we use for APIs and component configuration (e.g., kubeconfig, scheduler config).

cc @liggitt @erictune

[2015-10-05 22:20] quinton-hoole commented on #15116
@ihmccreery Yes, I think that's the right thing to do.
I can't think of any other sensible choices than that.
And definitely don't disable the tests for anything other than this specific version skew upgrade test run.   We definitely want them to be running continuously in the non-version-skewed case.

[2015-10-05 22:21] bgrant0607 commented on #13004
Have we decided what to do about this, if anything?

[2015-10-05 22:22] dchen1107 opened #15118 "Flocker Volume Plugin: TestSetUpAtInternal flaky"
@mattmoor reports the following failure after syncing with latest code:

--- FAIL: TestSetUpAtInternal (0.00s)
        Error Trace:    plugin_test.go:208
	Error:		Not equal: "expected-to-be-set-properly" (expected)
			        != "" (actual)

FAIL
FAIL	k8s.io/kubernetes/pkg/volume/flocker	0.067s

cc/ @saad-ali

[2015-10-05 22:22] lavalamp commented on #15064
are you running kubemark components with the same size (& occupancy!) VM as we run master components on?

[2015-10-05 22:24] #14424 closed

[2015-10-05 22:24] bgrant0607 commented on #11484
We still need to surface this functionality through kubectl, AIUI.

[2015-10-05 22:25] ihmccreery opened #15120 "DNS e2es are failing on version-skewed clusters, where master is at HEAD and nodes are at 1.0"
The following tests are failing on clusters where the master is at HEAD and the nodes are at 1.0 (in kubernetes-upgrade-gke-step3-e2e-old):

- Kubernetes e2e suite.DNS should provide DNS for services
- Kubernetes e2e suite.DNS should provide DNS for the cluster

They are both failing with:

[code]

These tests are **not** failing once the nodes have been upgraded to HEAD to match version with the

[2015-10-05 22:25] smarterclayton commented on #10408
Admin CLI is three parts today:

1. Config related - tools for generating certs, config files, and
validating config - mostly OpenShift specific today, but once we have
config files for Kube the patterns are reasonably applicable and help in
bootstrapping new config
2. Templating router, registry, and ipfailover (keepalived) - these
commands are specific generators to make it easy to parameterize

[2015-10-05 22:26] nikhiljindal commented on #13883
https://github.com/kubernetes/kubernetes/issues/14069 tracks adding a test to verify that our static api-reference docs are updated.

Once we start generating the spec in https://github.com/kubernetes/kubernetes/pull/15046, we can update https://github.com/kubernetes/kubernetes/blob/master/hack/gen-swagger-doc/run-gen-swagger-docs.sh to generate our docs from it.

[2015-10-05 22:27] Symmetric commented on #14992
FWIW I think this issue might not be hit if https://github.com/kubernetes/kubernetes/issues/14938 was fixed. If the APIServer eventually gets informed of the pod creation, we'll keep retrying until that time. The linked bug prevents the failed pod from being retried. (There may still be a pathological case if the APIServer update takes a long time, but I think the mainline case should be fixed).

[2015-10-05 22:27] davidkbainbridge commented on #15102
Just for more details.

Host OS: MacOS 10.10.5
Virtual Box: 5.0.2 r102096
KUBERNETES_PROVIDER=vagrant
NUM_MINIONS=1

Using k8s built off the master branch.

Something seems wedged around networking when it fails, often a reboot of the host and the next kube-up will work. But it will eventuall freeze again.

[2015-10-05 22:29] ihmccreery commented on #14674
Ping @mikedanese:

I'm happy to do the test-infra lifting to get it done; does that sound reasonable to you?

[2015-10-05 22:29] saad-ali commented on #15118
CC @agonzalezro @mattbates

[2015-10-05 22:30] mattmoor commented on #14966
Can you just CP the `b.gcr.io` change?  You should only see this with Docker 1.8 (or above), if not please ping me on hangouts and I'm happy to debug.

[2015-10-05 22:32] timstclair commented on #11234
I'm not sure how this would work with a temporary readiness probe. The problem with using a readiness probe is that the probe needs to get the container ID before it can probe, and it relies on the sync loop for that (currently). Also, I think you want to declare the container Ready as soon as it's ID exists, so setting up a probe doesn't seem like the right approach.

[2015-10-05 22:33] agonzalezro commented on #15118
Taking a look.

What do you mean with failed sometimes? Is it a random failure?

[2015-10-05 22:34] bgrant0607 commented on #14528
Can someone please confirm whether this was fixed or not?

[2015-10-05 22:35] yujuhong opened #15122 "kubelet on the master node in a GCE cluster does not perform housekeeping tasks"
We configure salt the populate the http manifest source for the master node [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kubelet/default#L54).
[code]

If user doesn't supply such a file, kubelet would think not all sources are ready and would refuse to delete pods and/or performing housekeeping tasks.

A cluster created by kube-up.sh doesn't have `google-contai

[2015-10-05 22:36] saad-ali commented on #15118
@mattmoor Can you please provide more information. This test seems to be consistently green in our CI runs.

[2015-10-05 22:38] dchen1107 commented on #15122
cc/ @roberthbailey @zmerlynn

[2015-10-05 22:39] bgrant0607 commented on #14307
My guess is that this was caused by #13727. We should fix this.
cc @jiangyaoguo @kubernetes/goog-node

[2015-10-05 22:39] ihmccreery commented on #15120
(This is part of #14778)

[2015-10-05 22:41] lavalamp commented on #15078
Perhaps heapster is requesting many relists?

Can you look at the heapster log? What does it think it is doing?

[2015-10-05 22:42] bgrant0607 commented on #14986
Can this be closed? Has an issue been filed to create an e2e test for the default cluster configuration?

[2015-10-05 22:46] dchen1107 commented on #14307
Ok, I will take a quick look at this one.

[2015-10-05 22:48] agonzalezro commented on #15118
The test is failing on this assertion: https://github.com/kubernetes/kubernetes/blob/release-1.1/pkg/volume/flocker/plugin_test.go#L208 but as you can see on the previous line I am checking that there was no error on that call.

So the function is returning `nil` for the error checking but it's not setting `b.flocker.path`. Only place where it can happen is here: https://github.com/kubernetes/kube

[2015-10-05 22:49] bgrant0607 commented on #14122
Moving from v1.1-candidate to v1.1. @thockin, if this isn't happening, punt it out of 1.1 entirely.

[2015-10-05 22:49] lavalamp commented on #15112
can you link to some jenkins output? This doesn't seem specifically CSI so i changed the team.

[2015-10-05 22:50] lavalamp commented on #15078
@vishh

[2015-10-05 22:50] bgrant0607 commented on #13884
Have seen no PRs. Punting to 1.2.

[2015-10-05 22:51] yujuhong commented on #11234
@timstclair. we don't need to setup an actual probe, but we'd like the readiness be true if there is no probe defined. By the way, your PR which got merged today already solved this problem.

[2015-10-05 22:51] agonzalezro commented on #15118
When I said "the only place where it can happen" it was because the other `err`s are being returned after a `err != nil` check. I think that there is no other way to get there.

[2015-10-05 22:52] lavalamp commented on #14216
The e2e test makes its own namespace, so these test pods wouldn't be in the default namespace.

[2015-10-05 22:52] lavalamp commented on #14216
@spiffxp do the resource limits increase the overall time in 1.0.6?

[2015-10-05 22:55] lavalamp commented on #14216
This is very interesting. Scheduler behaves differently (by design) when there are resources assigned, and so do kubelets. So that narrows it down to one of those two components. It could be something like scheduler is going at the same rate, but making worse choices.

If kubelet is involved, I'd expect to see some phase=Failed pods as kubelet rejects over-committed pods.

[2015-10-05 22:56] agonzalezro commented on #15118
PS: I run the test suite 100 times and I didn't get any error:

[code]

(That branch is based on the `release-1.1` branch)

[2015-10-05 22:56] timstclair commented on #11234
Yes, if there is no probe defined it defaults to readiness (although I believe that was already true). If the container is created by the time [syncPod](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1251) exits, it should be set to ready. Otherwise, it will still need to wait for the next syncPod execution.

[2015-10-05 22:57] yujuhong commented on #15115
@DreadPirateShawn, AFAIK, the error is only transient and garbage collection would work correctly once everything starts w/o problems. I admit the startup sequence could be ordered or documented better, but is this causing any lasting problem in your cluster?

[2015-10-05 23:01] yujuhong commented on #11234
This wasn't technically true until your PR landed. Before, we only probe at the beginning of SyncPod (before the container creation), and the readiness would be false for the first sync.

I think the scope of this issue is more towards setting readiness for pods that do not have probe defined, so I will go ahead and close this bug.

[2015-10-05 23:01] #11234 closed

[2015-10-05 23:01] thockin commented on #14122
This is resolved

[2015-10-05 23:01] #14122 closed

[2015-10-05 23:02] a-robinson commented on #15103
My apologies @chiefy! I didn't realize that [this is a recommended method for authenticating to a private repo](https://github.com/kubernetes/kubernetes/blob/d98f6daff354b4480545706ab44b51d69edada23/docs/user-guide/images.md#configuring-nodes-to-authenticate-to-a-private-repository).

@erictune @mattmoor - you two last touched that part of the doc, interested in taking a look?

[2015-10-05 23:02] mikedanese commented on #14674
@ihmccreery Sorry about the lag. I'm just getting back to this now and I don't mind doing the test-infra work. I'll try to get to it tonight and also work on deflaking step 2.

Regarding GKE test suite, IIUC you are dividing master-upgrade and cluster-upgrade into different steps and running e2e between them. Is that the only thing you are recommending I set up for GCE?

[2015-10-05 23:04] timstclair commented on #11234
Ah, got it, thanks.

[2015-10-05 23:08] ixdy commented on #14659
Updating the PR status is dependent on kubernetes/contrib#123 being merged and built. Otherwise we will break the munge/merge bots.

[2015-10-05 23:09] ixdy commented on #14662
I think #14587 will fix this.

[2015-10-05 23:09] ihmccreery opened #15123 "Deleting replication controllers on HEAD & 1.1 masters leaves pods running"
It seems that HEAD masters can't delete pods on 1.0 nodes.

After spinning up a (GKE) cluster at 1.0.6 and upgrading the master to `1.2.0-alpha.1.455+4b7329ad8c52f6-dirty`, I can't delete pods:

[code]

I uncovered this because there are several e2e tests failing on version-skewed clusters, and they seem to be all having problems deleting pods.

This is likely related to:

- Kubectl e2e tests leav

[2015-10-05 23:10] ihmccreery commented on #15120
This is likely caused by #15123.

[2015-10-05 23:10] ihmccreery commented on #15112
This is likely caused by #15123.

[2015-10-05 23:10] lavalamp commented on #12002
Some updated status on this: Dawn convinced me that even that is really hard. I have no suggested solution at this point. I'm kicking it out of the milestone. @dchen1107 please put it back in if there was actually work in progress to make this happen.

[2015-10-05 23:11] lavalamp commented on #14303
@erictune Are you planning on sending these docs?

[2015-10-05 23:17] mikedanese commented on #14528
I confirmed that this is fixed by starting a cluster without kube-scheduler and running a daemonset and seeing that node names are written by daemonset controller and not scheduler.

[2015-10-05 23:17] #14528 closed

[2015-10-05 23:20] bgrant0607 commented on #14216
LimitRange exists in 1.0.6, yes. In our standard GCE setup, the LimitRanger admission control plugin is enabled and we create a LimitRange for the default namespace, which set cpu to 100m for all containers by default.

[2015-10-05 23:23] ihmccreery commented on #15112
Okay, update: the test was actually running against 1.2.0-alpha.xxx, so this is affecting HEAD, not 1.1.  Sorry about that.

For output, see http://kubekins.dls.corp.google.com/job/kubernetes-upgrade-gke-step3-e2e-old/1565/consoleFull.

[code]

[2015-10-05 23:25] ihmccreery commented on #14771
Since we cut a `1.2.0-alpha`, this is now P0.  We need a good way to upgrade from 1.0 to 1.1 during tests, which we don't have right now, because `latest` is `1.2.0-alpha`.

[2015-10-05 23:25] dchen1107 commented on #14754
@yujuhong This is the place holder you and I have been talking about for a while: publishing benchmark of kubernetes daemons' resource usage: without any user workload, with user workload (~40 pods).

[2015-10-05 23:27] ihmccreery commented on #15123
This doesn't actually seem to be effecting 1.1.  Moving down to P1.

[2015-10-05 23:29] #7962 closed

[2015-10-05 23:37] ihmccreery commented on #14674
Fantastic, thanks!  Due to #14771 this isn't urgent, so definitely don't worry about it if you can't get to it soon.  I'm happy to do the lift while you're actually debugging things.

The GKE suite does a couple of things: divides up master-upgrade and cluster-upgrade, running **old** e2es between them, then also, after the full upgrade, runs both the **old** and **new** e2es between them.  We're

[2015-10-05 23:37] derekwaynecarr commented on #15102
This was not broken on head for me today, but I think this error happens
when vagrant is unable to do host networking properly to speak to the
master.  On Linux, this is usually when some network interface doesn't come
up as expected for me, and just ensuring that the proper vboxnet device is
connected fixes it up.

Possibly do a

$ vagrant destroy
$ rm -rf .vagrant

If a host reboot fixes the iss

[2015-10-05 23:37] mattmoor commented on #15103
Yes, this doc needs to be updated.  Docker started doing this in 1.7+ clients.

This was actually fixed in: https://github.com/kubernetes/kubernetes/pull/12717

[2015-10-05 23:41] lavalamp commented on #14987
I thought swagger did output json-schema?

Isn't this json-schema?

https://github.com/kubernetes/kubernetes/blob/gh-pages/swagger-spec/api/v1/index.html#L12438

Just ignore everything but the 'models': https://github.com/kubernetes/kubernetes/blob/gh-pages/swagger-spec/api/v1/index.html#L10955

[2015-10-05 23:43] lavalamp commented on #14987
Please reopen if this isn't a satisfactory answer.

[2015-10-05 23:43] #14987 closed

[2015-10-05 23:46] lavalamp commented on #13153
Closing in favor of #13794, which has more commentary.

[2015-10-05 23:47] lavalamp commented on #13794
Joining #13153 with this issue.

[2015-10-05 23:49] lavalamp commented on #13631
So I guess the action item would be to make kubelet report interpreted values in the status?

[2015-10-05 23:53] quinton-hoole commented on #14662
@ixdy note that I disabled unit, integration and verification steps in Jenkins e2e last week.  You should have the details in your email.

[2015-10-05 23:55] ixdy opened #15125 "unit tests can fail while test summary shows "ok""
https://github.com/kubernetes/kubernetes/pull/12283#issuecomment-144749186 shows an example of  a unit test failing, but the build shows go test printing "ok" for this suite.

Also, for some reason, the error message from this test didn't appear in the JUnit file.

As a first step, it may be worth saving the verbose stdout for Jenkins runs in _artifacts rather than throwing it away.

@kubernetes/g

[2015-10-05 23:57] lavalamp commented on #13794
xref #14895

[2015-10-06 00:00] ixdy commented on #14781
As a point of information, I just found approximately 20 tests in `pkg/kubelet/network/exec/exec_test.go` which use a static tmp path `/tmp/fake/plugins/net` with semi-random filenames which are highly likely to collide.

We could keep searching for unit tests that are non-hermetic, but it'd probably be a better investment of time to fix the test infrastructure so test authors don't need to care (

[2015-10-06 00:02] lavalamp commented on #14126
This is important not because of events, but because it indicates that we're not globally validating things that should be globally validated.

[2015-10-06 00:02] ixdy commented on #14662
Yeah, I saw. Slowly working through backlog. The verification checks used `|| true` though, so they never should have caused any failures. (The unit/integration tests could still fail runs through the JUnit reports.)

[2015-10-06 00:04] ArtfulCoder commented on #14394
Mesos-dns issue seems to be about flakiness, rather than a timeout.
Per Karl, Skydns sometimes seems to sometimes ignore nameservers, unless explicitly specified.

[2015-10-06 00:06] liggitt commented on #14126
It's because events aren't using generic etcd (at least, they weren't the last time I checked), unlike most other things. That means they need to do more of the validation legwork themselves (ensuring things are set on create and don't mutate on update)

[2015-10-06 00:10] tmandry commented on #8841
+1, I expected this and was very confused why my images weren't updating while using tags like `:prod` and `:staging`. I thought it was a bug somewhere.

[2015-10-06 00:11] ixdy commented on #15084
#14804 is related to this effort.

[2015-10-06 00:20] lavalamp commented on #15093
Don't use that function, it needs to be deprecated; construct a ListerWatcher yourself instead.

Or feel free to add a label selector to it.

[2015-10-06 00:21] chiefy commented on #10383
@vishh thanks, I tried both `.dockercfg` and `/root/.docker/config.json` to no avail.

[2015-10-06 00:21] lavalamp commented on #15093
Construct it using the high level client, I mean. If you search, you can find many examples of people constructing ListerWatchers.

[2015-10-06 00:23] a-robinson commented on #14931
Jenkins has hit cni_test.go failures 4 times out of the last 30. There doesn't appear to be much of use in the output, though. These are the failures:
cni_test.go:175: Failed to select the desired plugin: Network plugin "cni" not found
cni_test.go:194: Mismatch in expected output for setup hook. Expected 'DEL /proc/12345/ns/net podNamespace podName dockerid4545454', got ''
cni_test.go:175: Failed

[2015-10-06 00:24] #15031 closed

[2015-10-06 00:26] ArtfulCoder commented on #14394
@miekg is it possible that there is a concurrency issue (specifically, data visibility, where the nameservers are not visible on some request thread since its not being read across a memory barrier like a lock ?

[2015-10-06 00:59] a-robinson commented on #15103
@mattmoor - thanks! Would you be willing to update the doc? I have to admit I'm not really sure what the new instructions should be.

[2015-10-06 01:04] smarterclayton commented on #14963
My concern was succinctness.  The more things we generate, the larger the randomness pool needs to be, but the longer names get, and the less extra characters we have.  Docker doesn't mix phonetic and prefixes like we do either - I'd be worried that phonetic additions actually reduce readability and clarity in things like the pod list when you have lots of common prefixes.

I.e.

redis-8fjeb
redis

[2015-10-06 01:05] smarterclayton commented on #14963
But removing numbers seems ok to me.

[2015-10-06 01:06] smarterclayton commented on #14963
Wed have to consider the impact of selection of things that look like common stub words - redis, slave, pods, serve, https, etc.  Those are all possible today, of course.

[2015-10-06 01:08] ixdy commented on #15125
This also failed on the exact same unit test case on the post-submit Jenkins, where there should be no races with other test instances (http://go/k8s-test/job/kubernetes-test-go/360/).

[2015-10-06 01:08] smarterclayton commented on #14963
To add to the stream of consciousness, we could afford a few more characters if we had to, 7 vs 5 is not a huge change.

[2015-10-06 01:10] smarterclayton commented on #14963
In summary - no objections

[2015-10-06 01:18] jonmoter opened #15128 "fieldSelector syntax and usage not documented"
In the API docs, several of the endpoints allow you to pass a `fieldSelector` parameter to limit the information returned. When I run `kubectl describe pod <pod_name> --v=8` I see that's used by kubectl to get all the events associated with a pod.

I assumed the syntax of `fieldSelector` uses the same syntax as the [Label Selectors](https://github.com/kubernetes/kubernetes/blob/master/docs/user-gu

[2015-10-06 01:25] iameli commented on #10959
I don't have the expertise to say whether or not this is related, but I was encountering this issue constantly and it went away completely when I switched `DOCKER_STORAGE='aufs'` in the Saltstack init script to `DOCKER_STORAGE='aufs-nolvm'`.

Possibly some kind of poor interaction between the LVM set up by Kubernetes' Saltstack and the aforementioned Docker bugs? No idea. Figured I'd document this

[2015-10-06 01:49] ixdy commented on #14781
Another few metrics, using the string "/tmp" as a likely anti-pattern:
[code]

We'd need to update each of these 23 files to get them to use `os.TempDir` or `ioutil.TempDir` if they aren't already.

[2015-10-06 01:51] davidkbainbridge commented on #15102
to destroy the boxes i do

$ ./cluster/kube-down.sh
$ rm -rf .vagrant $HOME/.kube

I am spending a lot of time rebooting lately and doing creating / destroying VMs. Very time consuming.

[2015-10-06 02:00] ihmccreery opened #15131 "Test that a cluster continues to function during upgrade steps, not just between them"
(cc @quinton-hoole @roberthbailey)

Right now, our [upgrade tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_upgrade.go) only test that the cluster continues to function in between the steps it takes to do the upgrade, (i.e. before the master upgrade, after the master upgrade, before the node upgrade, after the node upgrade).

We should instead parallelize the test some

[2015-10-06 02:08] markturansky opened #15132 "API Error ("Already exists") but the object does not exist"
I've added, removed, and then re-added a PVClaim.   The error below is after I deleted the PVC and attempted again to add it.

[code]

[2015-10-06 04:39] thockin commented on #14963
I figured a move from `my-redis-zg5kf` to `my-redis-dekits` (5suffix to
6suffix) was probably OK, though I'd like to see a quick analysis of the
random pool for the chosen algorithm to decide.

On Mon, Oct 5, 2015 at 6:10 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-06 05:05] bprashanth commented on #14963
pets cough cough

[2015-10-06 05:11] a-robinson opened #15139 ""SchedulerPredicates validates MaxPods" e2e test is flaky"
It's failed 5 times in the last 30 runs, running as part of the kubernetes-e2e-gce-slow test suite. It spits out thousands of lines of junk, with this output at the very end:
[code]

[2015-10-06 05:16] thockin opened #15140 "Standardize 'pause' container"
#15138 demonstrates that our code has no less than THREE different tags of the pause image.

Some of those say 1.0, but our codebase only has 0.8.0 - can someone explain what is going on?

@vmarmol @vishh ?

Also, can someone remind me why we didn't do this as a C program?

[2015-10-06 05:21] davidopp commented on #15140
Can we also document it? Some of the snippets in docs/ mention it but it's never explained anywhere.

[2015-10-06 05:21] gmarek commented on #15064
Yes, I am. I forgot to update this issue: #15079 fixes most of the problems. Kubemark becomes slightly too fast, but we can work with that.

[2015-10-06 05:25] gmarek commented on #14216
@lavalamp - AFAIU @spiffxp don't run e2e test, but start containers by hand in a similar number. The thing is, that if they are put into default namespace, they always have limits set, which would mean that *changing* limits makes the difference. Or I misunderstood something completely.

[2015-10-06 05:27] mattmoor commented on #15140
FWIW, it isn't the only one.  I see at least two versions of each of `mounttest` and `nettest`.

[2015-10-06 05:30] mattmoor commented on #15140
Actually, for `pause` there are 4 since at least some references don't specify a tag, which means `latest`...  Others are: `0.8.0`, `1.0`, and `go`.

[2015-10-06 05:40] thockin commented on #13631
Two thoughts.  Can we craft an input quanitity string that can not be
losslessly represented in a Qunatity?  I am sure the answer is yes.  Does
that cause a problem in that what you read back is oh-so-slightly different
from what you wrote in?

If yes, we need to think.

If no, why not quantize know resources to their smallest units and store in
requests/limits ?

On Mon, Oct 5, 2015 at 4:50 PM, D

[2015-10-06 05:53] thockin commented on #14992
@yujuhong if the net plugin fails, will a mirror pod be created?

[2015-10-06 05:57] thockin commented on #14642
If/When the "dead" kubelet comes back, won't it unmount the PD?  This is far from ideal, obviously, but GCE VMs don't normally "die" and not come back.  But they can if there's disk corruption or something, so we'll need to handle it.

Saad and I brainstormed a bit today - look for a design doc soon.

[2015-10-06 06:19] bgrant0607 commented on #14216
@gmarek Limits, requests, or both?

[2015-10-06 06:36] wojtek-t commented on #14986
@bgrant0607 - I think that what we should do is to change the default configuration to be exactly the same as test configuration instead of adding a test to it
Since we are running all tests in "test configuration" - it is much better tested and thus it should be the default one.

[2015-10-06 06:36] gmarek commented on #14216
I don't know - @spiffxp? We don't have requests working in 1.0.6, right?

[2015-10-06 06:44] roberthbailey commented on #15131
We've discussed this in other issues, but the gist is that an upgrade test should really be testing that a cluster survives an upgrade. If we want to run e2e conformance style tests on split version clusters that's a good goal, but an upgrade test should ensure that if I created an object in my cluster, it still exists and functions correctly after my cluster is upgraded.

I was under the impressi

[2015-10-06 06:56] roberthbailey commented on #9470
@mikedanese and/or @nikhiljindal can provide more specifics on deployments, but from what I understand the answer is the first one:

Deployments will provide a declarative way to represent a cluster add-on (e.g., my cluster should have a replication controller for dns and a dns service). kubectl apply will provide a way to update a deployment, so that you can give a new definition of your deployme

[2015-10-06 07:01] marekbiskup commented on #9470
Ok. Thanks for clarification.

I'm closing this issue. It can be reopened (or we can create another one) if needed.

[2015-10-06 07:01] #9470 closed

[2015-10-06 07:03] ggkochanski opened #15141 "Running Multi-Node Kubernetes Using Docker - configuring portal-net"
Question regarding: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode.md

How to change --portal-net=10.0.0.1/24 during installation, which is currently taken from apiserver configuration: /etc/kubernetes/manifests-multi/master.json ?

ps. Congratulations on the kubernetes solution. Your job is really awesome.

[2015-10-06 07:06] vincentheet commented on #12167
I had the same issue and followed the advice of @smreed
Since our build servers makes connections to GKE for some builds a ssh key is stored every build in the metadata of GCE. When the metadata is full (32KB) it will give you the 'empty tunnel list' error. What I did was going to the Google Developer Console and cleaning the list of SSH Keys which you can find here: Google Developer Console > Com

[2015-10-06 07:08] dominicarrojado opened #15142 "Meteor Kubernetes"
Stuck on how to make it run. I followed everything on the http://kubernetes.io/v1.0/examples/meteor/README.html

I accessed the ip that it gave me when executing the command
kubectl get service meteor --template="{{range .status.loadBalancer.ingress}} {{.ip}} {{end}}"

but nothing's showing up. Web page not available..

[2015-10-06 07:13] gmarek commented on #14342
One more today. The error message is not very helpful.

[2015-10-06 07:15] kayrus commented on #15108
@yujuhong is there a way to suppress these logs? Lots of users complain on them.

[2015-10-06 07:31] gmarek commented on #15064
It's in. I also had to fix `start-kubemark.sh` script to work better with Jenkins (#15143). We're starting to gather data from Jenkins runs from now on.

[2015-10-06 07:33] roberthbailey commented on #15122
/cc @a-robinson

If you do specify a manifest file in the metadata server, then you are saying that we wouldn't expect to experience the issue about skipping housekeeping. Interesting.

I've been wondering if we should enable fetching from the metadata server on the kubelet (as a work-around to get pod-per-node on GCE before the daemon controller is ready) but this implies that that might not be t

[2015-10-06 07:37] linzichang commented on #11361
examples/https-nginx don't need to update.

[2015-10-06 07:56] fgrzadkowski commented on #14695
@lavalamp I think it didn't hang. It just that the kubelet was retrying too slow and sometimes it fit test timeout, sometime it didn't.

[2015-10-06 09:13] davidopp commented on #13097
@smarterclayton @liggitt @eparis  is there anyone at RH who might be able to do this for 1.1?

[2015-10-06 09:17] davidopp commented on #13749
@dchen1107 @yujuhong this is marked as team/control-plane (as well as team/node) -- do you need anything from control plane team for this issue?

[2015-10-06 09:21] ibotty commented on #5017
I don't think that's adressing the pain points one might have:

 * When a pod dies (for any reason) it's not getting restarted
 * When the cluster is stopped, you will have to restore etcd from
   a backup (if that's even possible with that etcd setup)
 * When scaling the etcd cluster, you need to copy the etcdN service and
   pod

[2015-10-06 09:31] davidopp commented on #3885
Punting. I agree we need to consider those issues, but I assume that's not necessary until we have local volumes that are decoupled from pod lifetime (here is where I would cite the issue number for that feature if I had a half-decent memory).

[2015-10-06 09:34] gmarek commented on #15139
I believe that #15144 should fix this, but I'll monitor the status.

My understanding is that we were counting running/non running Pods (as it was reflected in PodPhase), instead of number of scheduled/non-scheduled Pods. The problem with this approach was that sometimes some containers are crashing, falsifying the result.

[2015-10-06 09:52] gmarek commented on #15141
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-06 09:52] #15141 closed

[2015-10-06 09:52] gmarek commented on #15142
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-06 09:52] #15142 closed

[2015-10-06 10:46] feihujiang commented on #13004
@bgrant0607 Yes，we have decided. Once #14922 merged, I'll finish this as quickly as possible. and now I'm on a vacation, will be back to work the day after tomorrow.

[2015-10-06 12:08] cnaize opened #15154 "Image garbage collection failed: unable to find data for container /"
Hello!
I have problem with `containers` `garbage collection`.
When I start `kubelet` I have an error:
[code]
And `garbage collection` doesn't work.
How to fix it?

[2015-10-06 13:49] smarterclayton commented on #5017
The last one is acceptable (at least for most use cases).  The first two
are definitely blockers to someone making productive use of etcd.

On Tue, Oct 6, 2015 at 5:22 AM, Tobias Florek <notifications@github.com>
wrote:

[2015-10-06 13:52] MalteJ commented on #14278
hmm, don't know why, but it's working now for me even on eu-central-1.

[2015-10-06 14:00] genti-t commented on #11172
From documentation :
      --cloud-provider="": The provider for cloud services.  Empty string for no provider.
So, just put an empty string :-)

[2015-10-06 14:08] DirectXMan12 opened #15157 "We should be able to generate YAML with comments"
For some of the YAML we generate (e.g. for #10495), it would be really nice if we were able to generate YAML with comments.  For example, in #10495, this would let us add inline documentation for each of the fields in the generated object.

As far as I can tell, we need to:
- [ ] Get support for writing comments into go-yaml/yaml
- [ ] Figure out how to get ghodss/yaml to indicate to go-yaml/yaml

[2015-10-06 14:09] DirectXMan12 commented on #10495
@smarterclayton https://github.com/kubernetes/kubernetes/issues/15157 for generating commented YAML

[2015-10-06 14:10] DirectXMan12 commented on #15157
I've begun working on step 1 (getting comment support into go-yaml/yaml).  The patch is a bit rough ATM -- I'll post a link when I've cleaned it up a bit.

[2015-10-06 14:18] smarterclayton commented on #14963
I'd like to introduce you to my cats "qjkoeu" and "jqkcgi".  They're
Norwegian.

On Tue, Oct 6, 2015 at 1:05 AM, Prashanth B <notifications@github.com>
wrote:

[2015-10-06 14:34] chiefy commented on #15103
@a-robinson @mattmoor [here's what I had to do to get it working](http://stackoverflow.com/a/32972366/255051)

[2015-10-06 14:39] markturansky commented on #15132
This is an ID10T error.  I posted a PV and queried for PVC.  Please disregard.

[2015-10-06 14:39] #15132 closed

[2015-10-06 15:00] stemau98 commented on #7828
@madis  can't help you with your problem but had a question about stopping the kubernetes cluster.
How did you stop the instances? I have the problem that after I stopped them they started in emergency mode. I think something going wrong with ephemeral storge at second boot. Maybe you can help me?

[2015-10-06 15:04] smarterclayton commented on #15157
First mentioned in https://github.com/kubernetes/kubernetes/issues/7111

[2015-10-06 15:10] stemau98 opened #15160 "Stopp and Restart Kubernetes Cluster on AWS"
Is there a way to only stop a Kubernetes cluster on AWS and not to destroy the whole cluster?
I tested to stop Instances with Ubuntu Vivid Image and get an error after booting my Instances for the second time.
The System Log of the Instances shows Welcom to emergency mode and Dependency failed for Local File Systems and Dependency failed for /mnt/ephemeral.

[2015-10-06 15:13] stemau98 commented on #15160
If it helps I can post the complete System Log of the EC2 Instance.

[2015-10-06 15:13] smarterclayton commented on #13097
I think this is blocked on the other issue (authorizer attributes and extended data) that @deads2k owns - @erictune had final review on that but was concerned about putting it into 1.1 (having time to review it).  Based on everything we've said here I'm a bit worried that we'd be rushing things we've been hesitant to rush.  We could add a special hardcoded case for /api/, but I am extremely hesita

[2015-10-06 15:19] liggitt commented on #13097
I don't want to hardcode allowed paths, since the version negotiation and validation stuff is very much in active development... I think https://github.com/kubernetes/kubernetes/issues/13667 is close... trying to get back to it today

[2015-10-06 15:23] justinsb commented on #14278
@MalteJ - glad to hear it!  Do you remember which the error you were hitting?  Hopefully it'll be addressed by one of the patches, but if not I'd like to at least try to fix every problem!

[2015-10-06 15:55] vmarmol commented on #15140
The original is `0.8` which is also tagged as `go`. News to me that there is a `1.0` :P I think there are so many references since tests decided to use whatever tag they wanted.

As per the why Go, at the time we tried Go produced the smallest binary and didn't require us to ask people to have yet another dependency.

[2015-10-06 16:03] dcbw commented on #14931
@a-robinson my cni-fixes branch won't fix anything, but it does emit more log info in the errors.  It really looks like a race condition in the testcases now, but we need the debug logging to narrow it down.

[2015-10-06 16:08] mattmoor commented on #15140
Actually, if you look in the GCR UI you'll see that 1.0 == latest == go. :)

[2015-10-06 16:11] ihmccreery commented on #15131
From @mikedanese:

[2015-10-06 16:13] yujuhong commented on #15108
kubelet should stop complaining once you manually create the node object for it. If you simply want a standalone kubelet, you do not need to specify the apiserver. @kayrus, maybe you can explain your use case a bit to help us understand.

[2015-10-06 16:19] a-robinson commented on #14931
Adding more useful output to the test sounds good to me :+1:

[2015-10-06 16:20] yujuhong commented on #15122
This is a safety mechanism for kubelet restarts since we don't have checkpointing yet. Without this condition, kubelet may kill all running pods before seeing them from the sources.

Perhaps we can disable this flag for master in the salt configuration? Users who wants to use this feature can turn it on and create a meaningful manifest file.

[2015-10-06 16:23] dchen1107 commented on #15140
News to me that there is a 1.0 too!

In production, we are using and only using gcr.io/google_containers/pause:0.8.0, which is built and pushed through Makefile: ./build/pause/Makefile
Such image is also cached in ContainerVM image.

[2015-10-06 16:27] yujuhong commented on #14992
No, syncPod will return upon error.

[2015-10-06 16:27] vmarmol commented on #15140
Sounds like someone made and pushed a 1.0 without updating the one we use in production :)

[2015-10-06 16:29] thockin commented on #15140
Does anyone have free time to either a) make the whole codebase use 0.8.0
or b) bump it to 2.0, push to beta.gcr, and update the codebase to use 2.0
(and container VM)?

I'm still grumpy about it not being C - I have seen the Go binary die.

On Tue, Oct 6, 2015 at 9:23 AM, Dawn Chen <notifications@github.com> wrote:

[2015-10-06 16:33] vmarmol commented on #15140
I had an assembly one! but you weren't a fan :D

On a more serious note, long-term it is probably better that it is in C. The Go runtime wakes up a few times a minute to do nothing. So we do see some CPU usage from `pause` (although minimal).

[2015-10-06 16:34] yujuhong commented on #14992
Static pods (pods created from on-disk manifest) is designed to work regardless apiserver is reachable. If I understand correctly, with this network plugin, kubelet would not be able to run static pods when apiserver is unreachable?

What information do you need from the pod object? I'd like to make sure that mirror pods actually contain the information you want.

[2015-10-06 16:37] dchen1107 commented on #15122
@roberthbailey We should disable --manifest-url for now to make all nodes are same regardless master or minion. Today Kubelet uses this to determine if source, especially on kube-apiserver is ready, and what is desire_state of running pods on the node.

For a long run, we should introduce a local persistent store, could be etcd, or simply checkpoint file, so that node availability, or source readi

[2015-10-06 16:50] ArtfulCoder commented on #14394
Created a PR to verify that skydns reads defaults from /etc/resolv.conf successfully.
Today, if there is a failure, skydns ignores it.

[2015-10-06 16:52] ArtfulCoder commented on #14394
This can't be the cause of flakiness, unless we are running more than 1 instance of skydns on Mesos where one successfully reads /etc/resolv.conf and the other doesnt...

[2015-10-06 16:53] a-robinson commented on #14597
Overnight, kubernetes-e2e-gce and kubernetes-e2e-gke-ci had no leaks, but there were a bunch of leaks (at least 26) in the kubernetes-jenkins project. Trying to figure out why that project was so disproportionately affected...

[2015-10-06 16:54] Symmetric commented on #14992
That's correct, with the way the network plugin interface is currently designed, our plugin needs to hit the apiserver before any pods can be started.

We use the Label, Annotation, Name, and Namespace metadata. We also use the Spec.Containers.Ports field in some cases.

In general, I think that plugins could require any pod state, but if there is some piece of the Spec that will be hard to set in

[2015-10-06 16:54] yujuhong commented on #15122
+1. I think we mau need a persistent pod store earlier than we thought. This would resolve many issues. To name a few:
 - source readiness (the issue in question).
 - pod admission problem. when kubelet restarts, it'd think all pods are new and will go through the admission process again (e.g, it may reject an already running pod if disk space is not enough).
 - generating pod status w/ the absenc

[2015-10-06 17:09] thockin commented on #14992
In this case the user/admin has installed a network plugin that needs to
talk to apiserver.  There's nothing that can be done if the user
(mistakenly) tries to do this in a no-apiserver installation.  It has to
fail.

The interesting part is how can we close the loop when the apiserver
doesn't (yet) know about a pod but we need the pod spec for the network
plugin.

We could make the pod spec avail

[2015-10-06 17:18] yujuhong commented on #14992
Yes, I was going to suggest that we create the mirror pod first as the solution. We'll ignore the creation error (if there's any) and proceed to the rest of sync pod. This with #14938 should fix the problem.

[2015-10-06 17:22] thockin commented on #14597
I had an e2e cluster that I was not being careful with but I also saw some
leaks.  I have cleaned up my project and am bringing up a new cluster from
head.  I only ran Services and KubeProxy.  Oh I did do a full run one
time.  Damn.  Will keep eyes open.

On Tue, Oct 6, 2015 at 9:54 AM, Alex Robinson <notifications@github.com>
wrote:

[2015-10-06 17:28] bprashanth commented on #14992
I'm not suggesting this for the near term, there are probably easier ways to fix this now.

This is going to cause confusion. Take the example of flannel, it has a daemon half which allocates subnets and a plugin half, that does plugin stuff. The daemon half runs off and makes decisions out of band, which causes problems.
[code]

I had a related pr: https://github.com/kubernetes/kubernetes/pull/13

[2015-10-06 17:33] bprashanth commented on #15140
Slightly OT, but we can just get rid of pause no?

The way CNI is currently the runtime is reponsible for setting up the new network namespace (and bind mounting a few things) but the plugin will add containers to it. I can surely see how having a library in kube that is responsible for creating namespaces with or without docker is useful. For netns, this would create and manage a point to point l

[2015-10-06 17:46] caesarxuchao commented on #14126
Per the in-person discussion with @lavalamp, some of our proposals:
1. we will not accept #14422, and we will need a PR to fix the client that generate the update request. @jiangyaoguo feel free to pick this if you are interested.
2. on the server side, we will add an update request validation to check if UID (and other fields) is changed. Because this will break the clients, we will make a flag t

[2015-10-06 17:47] quinton-hoole commented on #15131
@roberthbailey there are two decent approaches that I can think of here:

First approach:
1. Refactor a subset of our e2e tests into three pieces each (where each piece fairly is independent of Ginkgo, and re-usable/recomposable across multiple Ginkgo test cases):
  1. setup - creates a set of resources to test (e.g. a set of services, or a set of pods with attached PD's etc)
  2. test - verifies

[2015-10-06 17:48] quinton-hoole commented on #15131
Oops - I screwed up my nested bulleted list above.  I'll try to fix that now.

[2015-10-06 17:53] yujuhong commented on #15154
Please re-post your question to stackoverflow.

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted in multiple forums, with the full response thr

[2015-10-06 17:53] gtaylor opened #15169 "I have node-local services I want to offer to pods, e.g. DataDog, how can I do that?"
Posting at the suggestion of @thockin .

We're running on GKE with Kubernetes 1.0.6 (the latest release on there as of the time of this issue's writing). We're already using [Datadog](http://datadoghq.com/) successfully across of the rest of our fleet, and wanted to try to do the same on GKE.

They do have a Docker agent, but it currently has some limitations (no Network or process list metrics) t

[2015-10-06 18:00] dchen1107 commented on #15140
@bprashanth I really want to get rid of pause. It complicates our container runtime implmentation, and resource management, introduces extra overhead, etc.
But when? cni has a 0.1 release a while back, but haven't heard from that for a while. Even today's rkt implementation is still rely on spawn extra systemd for namespace creation.

I measured last time, rkt's systemd for each POD uses similar a

[2015-10-06 18:06] lavalamp commented on #14695
Could we reduce the timeout to make it always fit the test timeout?

On Tue, Oct 6, 2015 at 12:56 AM, Filip Grzadkowski <notifications@github.com

[2015-10-06 18:08] DirectXMan12 commented on #15157
Initial PoC on the go-yaml/yaml front is here: https://github.com/DirectXMan12/yaml/tree/feature/comments -- you can add comments either by using the `yamlComment` tag, or by setting `Comment` on a `MapItem`

[2015-10-06 18:08] karlkfi commented on #14394
@ArtfulCoder The k8s dcos package currently only deploys one instance of kube-dns.

FYI, we're using the cluster/addons/dns templates as a base and then using sed to replace the salt pillar pieces: https://github.com/mesosphere/kubernetes-mesos/blob/master/images/dcos/bootstrap.sh#L209-L214

[2015-10-06 18:10] #15154 closed

[2015-10-06 18:17] lavalamp commented on #14126
@bgrant0607 Comments on giving clients until 1.2 to stop wiping out UIDs? We'd flip the flag in HEAD ~now, so we can find offending clients.

[2015-10-06 18:18] smarterclayton commented on #15157
Can we make it so that the comment tag is not opinionated - i.e. it's up to
the person using the emitter to say what tag they want turned into a
comment?  Also, at some point we're going to want to insert comments
directly before a field that has a validation error, where the field we
select is going to be returned in an api.Status call.  To do that requires
us to be able to generate the comment o

[2015-10-06 18:20] smarterclayton commented on #14193
Status on this?

On Fri, Sep 18, 2015 at 5:14 PM, Cesar Wong <notifications@github.com>
wrote:

[2015-10-06 18:20] liggitt commented on #14126
when is removing a UID valid?

[2015-10-06 18:21] ihmccreery commented on #15131
(cc @ixdy)

@quinton-hoole I tried to fix your outline above.

The spirit of this proposal seems right to me, and also seems like an important direction to be headed in anyway, (right now, some tests call functions across different files in `e2e/`, but all of the files are in the same package right now, so things are very hard to find, understand, and maintain).  I don't think we need your 2., tho

[2015-10-06 18:22] DirectXMan12 commented on #14987
Like I mentioned before, it seems, at least, Swagger 2.0's model spec is explicitly a subset of the JSONSchema spec.  AFAICT, we don't export more detailed formats like you suggest above, though
(in part due to how our Swagger spec is generated, I suspect).

You should just be able to grab the swagger spec, and then pay attention only to the models section.

[2015-10-06 18:25] derekwaynecarr commented on #15102
I can sympathize if you are having to reboot, I am just trying to figure
out what to do to diagnose.

For example, when this error happens:

$ vagrant ssh master
$ ifconfig | grep eth1 -C 2
eth1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 10.245.1.2  netmask 255.255.255.0  broadcast 10.245.1.255

Do you see 10.245.1.2?

On your host, can you do the equivalent:

$ ifconfig |

[2015-10-06 18:27] DirectXMan12 commented on #15157
@smarterclayton that's why I added support in the `MapItem` -- with our round tripping, we couldn't use the struct field anyway (but I suspect other people might want that).

Essentially, my idea was that we have ghodss/yaml unmarshal into a special instance of the MapSlice type that inserts comments based on a separate tree structure which mirrors the structure of the JSON.  This should allow us

[2015-10-06 18:28] thockin opened #15171 "Deleting manifest files on a node does not delete pods"
I logged into a node and deleted a manifest file.  I watched the API for the pod to die but it didn't.  After a few minutes I manually deleted the pod from the API - and it came back!  Then I logged into the node and just restarted kubelet - finally it went away in the API.

@yujuhong

[2015-10-06 18:31] csrwng commented on #14193
Still don't have a fix, will make it a priority to submit one today or asap

[2015-10-06 18:34] davidkbainbridge commented on #15102
i have been having better luck now that I up-ed the memory on the VM to 4GB. It has been much more stable and I haven't had to reboot.

There also does seem to be some inter-play with my VPN (which disallows local network access when activate). So kube-up does fail when I am on the VPN (as does everything k8s related as the cluster is essentially unreachable).

I did notice that my shared volume f

[2015-10-06 18:35] davidkbainbridge commented on #15102
to your specific question about eth1, when i am not on the VPN I am able to ping the IP.

[2015-10-06 18:37] ArtfulCoder commented on #14394
@karlkfi the only way we can debug the mesos-k8s dns issue is to use tcpdump and see the traffic on client and on skydns pod to see what is actually going on.
If you are up for it, it would be great to run "tcpdump -n port 53" on both the client pod and the skydns pod and capture traffic during the failed dig request.

This will clearly tell us what is going on.

[2015-10-06 18:40] ArtfulCoder commented on #14533
@ntquyen did it work ?

[2015-10-06 18:47] bprashanth commented on #15140
IMHO the win here is not reclaimed resources but the ability to manage our own networking and support the minimal runc model. We'd still need something to create that first net ns that everything else joins like you mentioned. I just like the idea of teaching kube about namespace joining so it can support bare bones container runtimes (this probably goes back to pods vs containers, though).

[2015-10-06 18:52] yujuhong commented on #15171
Something is definitely wrong here because kubelet was repeatedly trying to create the mirror pod, which already existed.
`Failed creating a mirror pod "kube-registry-proxy-kubernetes-minion-ta23_kube-system": pods "kube-registry-proxy-kubernetes-minion-ta23" already exists`

There seems to be no indication that kubelet observed the deletion of the manifest file. Will try to reproduce this afterno

[2015-10-06 18:58] smarterclayton commented on #15157
Ok, thanks.

On Tue, Oct 6, 2015 at 2:27 PM, Solly <notifications@github.com> wrote:

[2015-10-06 19:03] lavalamp commented on #14126
It's never valid. Yeah, that's a good point, we should also ignore removal attempts ASAP.

[2015-10-06 19:09] fgrzadkowski commented on #14695
@lavalamp I guess we can. I'll try tomorrow.

[2015-10-06 19:16] lavalamp commented on #14126
Never. #14422 seems like an OK short term patch?

[2015-10-06 19:18] KurtStam commented on #14828
@thockin it does 'feel' like the ingress object maybe what I'm looking for. The references on the https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/experimental/v1alpha1/types.go#L479
don't actually link to good documentation on this however. Is this part of the spec still being worked and can I be part of it?

A concrete example of where this is used is in fabric8 where we can import

[2015-10-06 19:37] colemickens opened #15175 "docker pull can stall, leading to cluster bring up stalling"
On one of my deployments this morning, I observed that kubelet was not deploying the master components. On closer look, kubelet's last log entry (besides healthz checks) were pulling the images from gcr.io.

Other users mentioning docker pull hangs near the bottom of this issue: docker/docker#6928

That issue also seems to request a mechanism for determining the status of a pull job, maybe to be a

[2015-10-06 19:38] caesarxuchao commented on #14126
#14422 does what it claims, but do we *need* to merge it? Is there any work that depends on it?

[2015-10-06 19:40] mikedanese commented on #7660
@alex-mohr this feature is available but not enabled. I recommend a failed pod limit of 12500 for GCE/GKE after testing responsiveness of the apiserver under this load. I can  submit a PR if we are happy with that number.

[2015-10-06 19:40] colemickens commented on #15175
Workaround was to kill docker daemon, let monit restart it and then let the kubelet successfully pull the image.

[2015-10-06 19:42] ixdy opened #15176 "cleanup: use ioutil.TempDir in unit tests"
As discussed in https://github.com/kubernetes/kubernetes/issues/14781#issuecomment-145720272, there are a number of unit tests which appear to be using a static temporary directory for test files, which can cause failures if tests are run in parallel on the same machine.

[code]

Each of these should be updated to use `ioutil.TempDir` so that a new unique temporary directory is created for each te

[2015-10-06 19:42] ixdy commented on #14781
Created #15176 to track cleaning up tempdir usage in unit tests.

[2015-10-06 19:46] dchen1107 commented on #15175
This is known issue, and should be fixed by #10998 in 1.0 release.

Which version are you running?

[2015-10-06 19:47] colemickens commented on #15175
I'm running from master (4856c7c033bcda29790d7e7c0a27ce5a794a817b) (fetched and rebased early yesterday) with a few minor, Azure-specific commits of my own on top.

[2015-10-06 19:48] dchen1107 commented on #15175
Ahh, #10998 only fixed docker load from tar file. Here you are referring to docker pull. Ok we should timeout docker pull operations too.

[2015-10-06 19:52] mkulke commented on #13097
`/api` is not sufficient for create/update operations, as they also match their objects against the swagger endpoints to check validity. So you'd have to hardcode at least those and maybe more.

[2015-10-06 19:54] dchen1107 commented on #4135
https://github.com/google/cadvisor/issues/898

[2015-10-06 20:11] DirectXMan12 commented on #15157
@smarterclayton Quick and dirty example is here: https://gist.github.com/DirectXMan12/83d5f021ccd7ed13f4a3

Just `go build` with the `feature/comments` branch of my `go-yaml` repo checked out in your GOPATH

[2015-10-06 20:12] ArtfulCoder commented on #14342
18:28:37 STEP: dialing(http) endpointPodIP:endpointHttpPort from node1
18:28:37 STEP: Dialing from node. command:for i in $(seq 1 1); do curl -s --connect-timeout 1 http://10.245.4.28:8080/hostName; echo; done | grep -v '^\s*$' |sort | uniq -c | wc -l

This is the point where the test fails.
Am looking into it. We need to have more tries, we just do seq (1 1), instead of seq (6 6).
this is causing

[2015-10-06 20:13] lavalamp commented on #14126
Well, events are potentially archived by external systems, so this could
potentially bite us at some point in the future. But I'm more worried about
non-event resources.

It's true that UID is not used by the system that much today, which is why
we haven't noticed this until now.

On Tue, Oct 6, 2015 at 12:38 PM, Chao Xu <notifications@github.com> wrote:

[2015-10-06 20:32] caesarxuchao commented on #14126
Server is already setting UID if it's empty:
https://github.com/kubernetes/kubernetes/blame/master/pkg/api/validation/validation.go#L276

This code is not exercised when updating event though.

[2015-10-06 20:32] thockin opened #15179 "`kubectl get pods` behavior differs based on output mode wrt Failed pods"
I don't knwo what to make of this:

[code]

This much was expected.

[code]

This was a surprise!

[code]

Is the behavior supposed to be different?

[2015-10-06 20:36] bgrant0607 commented on #14126
We're talking about changing metadata.uid or involvedObject.uid?

Updates should never affect metadata.uid. If we ignore the value specified by the user in the v1 API, then we need to preserve that behavior. We could potentially create a way to additional validation, however. I'd like to see a component read resources from the API and validate them, so that we could deploy the validator onto exist

[2015-10-06 20:38] thockin opened #15180 "kubectl port-forward should allow forwarding to a Service"

[2015-10-06 20:38] alex-mohr commented on #7660
@mikedanese Thanks for driving this.  12500 seems reasonable to me too, though I haven't been following details.  +1 to enabling by default in 1.1 if we're confident enough in it.

[2015-10-06 20:38] bgrant0607 commented on #14126
Validation is the wrong place to be mutating the resource. See also #13814.

[2015-10-06 20:40] #14470 closed

[2015-10-06 20:41] #12284 closed

[2015-10-06 20:42] ArtfulCoder commented on #12984
@esecules let me know if you had a chance to address my previous comment.
If you are not facing this problem anymore, I would like to close this issue./

[2015-10-06 20:50] bgrant0607 commented on #15157
FYI: https://github.com/ghodss/yaml/pull/6

[2015-10-06 20:51] thesteve0 commented on #14987
Ok I see how it is following the spec so I guess this can be closed but it doesn't look like we are fully utilizing the power of the spec. For example look at this in ContainerPort.

[code]

Looks like it should be:

[code]

We also don't use patterns for strings where they might apply (like in an IP or URL) and we do required fields differently
http://json-schema.org/example2.html

That said @Dir

[2015-10-06 20:52] bgrant0607 commented on #15157
One use case for commenting: Inserting field descriptions as comments.

[2015-10-06 20:55] bgrant0607 commented on #4822
We should be careful to not reuse flags, such as `-f`, for different purposes.

This pattern could also work for creating a namespace with no arguments (#10495):
[code]
Though that might be error-prone if a user hit return accidentally before specifying `-f`, so we might want to require `--new` or `--default` or some other flag.

[2015-10-06 20:57] quinton-hoole opened #15181 "Flaky integration test: replicationControllers "mock" cannot be updated: the object has been modified"
shippable flake:

[code]

It seems that this test needs to retry on update failures.
cc @mikedanese who fixed some other similar test flakes recently and might want to take a swing at this one.

[2015-10-06 21:05] DirectXMan12 commented on #15157
Err... the really-low-level code seems to be the same in that one (so the complicated parts should be fairly easy to port).  They're missing the high-level `MapItem` struct, which poses a problem for our purposes, though.  @ghodss any thoughts?

[2015-10-06 21:10] DirectXMan12 commented on #15157
See go-yaml/yaml#129

[2015-10-06 21:11] bgrant0607 commented on #3885
Copying text from #14054:

There are a few behaviors we need to control:
* Scheduler placement of new pods
* Kubelet acceptance/rejection of new pods
* Executing/running pods will be killed (or not)

These are in a strict hierarchy. If pods shouldn't run, they also shouldn't be accepted, and if they aren't being accepted, they shouldn't be scheduled.

We'll need to control which pods are affected:

[2015-10-06 21:11] JanetKuo commented on #15181
cc @caesarxuchao @lavalamp

[2015-10-06 21:14] bgrant0607 commented on #3885
@davidopp Making DaemonSet obey unschedulable is problematic. For instance, we'd like to use it to run kube-proxy in the future.

As the comment I just posted attempted to convey, we'll need more control than just a single bool.

[2015-10-06 21:25] spiffxp commented on #14216
@gmarek I think you're right, I don't think resource requests were introduced into the release-1.0 branch.

Using only resource requests does not trigger stair stepping on v1.0.6

Using only resource limits triggers stair stepping on v1.0.6

Using either/both of resource requests/limits triggers stair stepping on release-1.1

`kubectl limits` shows no limits in place for any namespace, does that m

[2015-10-06 21:31] spiffxp commented on #14216
Moving from single apiserver to three apiservers had no effect

Setting all flags to default values except kubelet's server flag (max-requests-inflight, max-pods, cadvisor-port) had no effect

[2015-10-06 21:32] JanetKuo commented on #15181
We discussed about it in https://github.com/kubernetes/kubernetes/pull/14888#issuecomment-145713163. Assigning to @caesarxuchao.

[2015-10-06 21:35] caesarxuchao commented on #14126
For this to work, we will need to a way to specify if a field is mutable in the swagger spec. It seems swagger doesn't support this natively. https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#schemaObject

[2015-10-06 21:39] caesarxuchao commented on #14126
@lavalamp

Many resources will go through this line https://github.com/kubernetes/kubernetes/blame/master/pkg/api/validation/validation.go#L276, so they will have an UID during update.

[2015-10-06 21:49] bgrant0607 commented on #14126
@caesarxuchao We should request swagger support for immutable (e.g., see https://github.com/swagger-api/swagger-spec/issues/228), but we don't need to block on that. Starting with ad hoc validation code would be a reasonable start. There are likely many more properties we'd like to check than what can be expressed via swagger.

[2015-10-06 21:51] chrislovecnm commented on #14642
Hey all. Appreciate you guys focusing on this! We are a google cloud customer, and we have had production downtime because of this bug. We are worked no with support, and have verified this.  Let us know if we can provide any information.

Once we have a tested patch, we would like to roll it into production.

Thanks again, don't want to have this kill a node again.

[2015-10-06 21:52] chrislovecnm commented on #14642
Oh and I guess I cannot type on my phone without typos today

[2015-10-06 21:54] lavalamp commented on #14126
@caesarxuchao

Yes, it should do so only on *creates*.

Ah, that is basically this same hack that's in #14422. If all objects call that, I'm satisfied. (Events must not?)

@caesarxuchao @bgrant0607

I am interested in validating the UID not changing in some global place. If that's the best place to also have a global hack to be nice to old broken clients, I can live with that. It should be clearly

[2015-10-06 21:59] lavalamp commented on #14216
Given that *request* doesn't trigger the problem but *limit* does, I think
we should focus on kubelet. The scheduler cares only about request:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go

Do you get rejected pods? Try running the below command during/after a run:

kubectl get pods -o template --template="{{range .items}}{{if eq
.stat

[2015-10-06 21:59] spiffxp commented on #14216
@lavalamp resource limits increase the overall time in v1.0.6 and increase the `scheduler_scheduling_algorith_latency_microseconds_sum` metric

First a `kubectl scale --replicas=300 rc pause` with resource limits in place, eg:
[code]
Then a `kubectl scale --replicas=300 rc pause` with no resource limits in place, eg:
[code]

![scheduling-algorithm-latency](https://cloud.githubusercontent.com/asset

[2015-10-06 22:00] lavalamp commented on #14216
Also, what is your workload? Does it spike resource usage on startup? If
so, kubelet limiting it could legitimately make startup much slower!

On Tue, Oct 6, 2015 at 2:59 PM, Daniel Smith <dbsmith@google.com> wrote:

[2015-10-06 22:12] ScOut3R commented on #11172
Yeah, well, that gives us this:

[code]

:)

[2015-10-06 22:13] spiffxp commented on #14216
Not sure I quite understand the workload question, I'm assuming you mean what other pods/services are we running?  By default we run with a few services which I could see as generating kubelet overhead (https://github.com/Samsung-AG/kraken/blob/master/terraform/aws/variables.tf#L238, corresponds to directories in https://github.com/Samsung-AG/kraken-services)

But as I said up top, I've repro'ed t

[2015-10-06 22:16] bprashanth commented on #11172
It's only complaining about the service controller not starting. everything else should work, right? you only need the service controller for cloud tcp loadbalancers. We should clarify the error message.

[2015-10-06 22:17] ScOut3R commented on #11172
Correct, everything is working fine. :)

[2015-10-06 22:17] thockin commented on #14712
Nope.  It still hangs forever

[2015-10-06 22:22] caesarxuchao commented on #14126
@lavalamp

It should, but currently it's doing this on update as well. (not when updating Event of course)

ValidateObjectMetaUpdate is called resource-by-resource. To do it globally, we can do the validation in BeforeUpdate().

I think the right step is: 1. have a PR that does the switchable global validation of UID 2. adding the integration test to verify UID cannot be changed.

[2015-10-06 22:22] thockin opened #15186 "kubelet ended up running 2 POD containers for one manifest file"
* SSH to master, edit a manifest file, observe changes
* kube-push
* SSH to master and see this:

[code]

Note that there are two POD containers running for kube-apiserver-kubernetes-master_kube-system

@yujuhong

[2015-10-06 22:27] bgrant0607 commented on #2114
AllowCreateOnUpdate is currently false for most resources (except services, endpoints, events, limitranges). I think we should enable it for most resources (namespaces TBD) and use the uid as a precondition, if set, in addition to resourceVersion.

[2015-10-06 22:28] thockin commented on #15186
From kubelet log:

[code]

[2015-10-06 22:28] davidopp commented on #12245
Not for 1.1

[2015-10-06 22:30] thockin opened #15187 "Observed errors from hairpin code on kube master node"
[code]

@ArtfulCoder @MikaelCluseau

[2015-10-06 22:31] davidopp commented on #15131
@quinton-hoole raises a good question: should this be marked as a 1.1 blocker?

[2015-10-06 22:32] davidopp commented on #15131
Also, can we assign this to @ihmccreery ?

[2015-10-06 22:34] yujuhong commented on #15186
kubelet does not delete any pods running on the master because of #15122.

[2015-10-06 22:36] thockin commented on #15122
This also breaks kube-push, so I'd say it is more important than P2.

[2015-10-06 22:39] a-robinson commented on #15122
@yujuhong - are you working on disabling the manifest-url on the master by default or should I send a pr?

[2015-10-06 22:40] dchen1107 commented on #15122
What is the problem you have seen with kube-push? https://github.com/kubernetes/kubernetes/pull/11963#issuecomment-145989523 introduced this a while back, and I didn't see kube-push issue.

[2015-10-06 22:40] yujuhong commented on #15122
@a-robinson, feel free to send a PR since you'll have to change the settings in GKE

[2015-10-06 22:41] dchen1107 commented on #15122
I am sending pr for this.

[2015-10-06 22:41] thockin commented on #15122
https://github.com/kubernetes/kubernetes/issues/15186

Not sure if it is the same, but I just did a kube-push and EVERYTHING on master is running 2 POD containers and not cleaning up old containers.

[2015-10-06 22:44] lavalamp commented on #14216
Sorry, I see you're running the pause pod-- that's all I was asking. :)

I'm reversing my previous guess after an IRL talk here. I now predict you'll see no failed pods if you run the command I gave a couple comments ago.

[2015-10-06 22:45] thockin commented on #15122
Maybe we should consider a 404 on that URL to be "seen".  The server existed and there was nothing there...  a little scary..

[2015-10-06 22:46] a-robinson commented on #15122
Considering a 404 to mean things are ok but there's nothing to run doesn't seem unreasonable

[2015-10-06 22:47] bgrant0607 commented on #11492
An example from the community: https://github.com/UKHomeOffice/kb8or

[2015-10-06 22:51] ihmccreery commented on #15131
I can try to take this on, but I've got a lot on my plate right now with managing other upgrade stuff.

[2015-10-06 22:51] MikaelCluseau commented on #15187
Hi, "fix" proposal: include the output of the failing command in the error?

[2015-10-06 22:52] ihmccreery commented on #15131
@mikedanese You'd be the other candidate for working on this.  Maybe I can drive, but with your support?  Or vice versa?

[2015-10-06 22:52] quinton-hoole commented on #15181
Thanks @JanetKuo .  Removing team/control-plane, as team/CSI seem to have this in hand.

[2015-10-06 22:53] davidopp commented on #12634
@gmarek can we close this issue?

[2015-10-06 22:53] yujuhong commented on #15122
Confirmed that removing the manifest_url and running kube-push again restored peace on my master node.

[2015-10-06 22:54] davidopp commented on #9325
@gmarek what is the status of this issue?

[2015-10-06 22:55] yujuhong commented on #15122
This is pretty bad because I thought I was running the new master components after kube-push, but that was not true. kubelet couldn't start the new containers because the old ones weren't killed.

[2015-10-06 22:57] bgrant0607 commented on #11361
Also see #9399.

We need to decide what pattern we want examples to follow.

[2015-10-06 23:06] quinton-hoole commented on #15131
To be clear, I suggested that this is either both P0 and a v1.1 blocker, or it is neither (I suspect the latter).

[2015-10-06 23:08] davidopp opened #15192 "Script to clean up machine after out-of-disk event"
@vishh suggested we should have a script that allows a user to clean up a machine that has experienced out-of-disk -- kill all the pods (static pods and pods started through API server), delete all the containers, remove all the logs, etc. I guess you would only use this if killing the pods through the API server isn't sufficient. It should invoke a script to mark the machine unschedulable before

[2015-10-06 23:09] mikedanese commented on #15131
I do not have time to work on this unless it has higher priority than the other stuff assigned to me, in which case that stuff will slip.

[2015-10-06 23:11] dchen1107 commented on #15122
Ok, we need to patch 1.1 release here.

[2015-10-06 23:11] thockin commented on #14712
[code]

[2015-10-06 23:14] thockin commented on #15187
Good start :)

On Tue, Oct 6, 2015 at 3:51 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2015-10-06 23:20] bgrant0607 opened #15193 "Document how examples should be written and convert existing examples to the desired format"
Forked from #2841, https://github.com/kubernetes/kubernetes/issues/4926#issuecomment-78006098, #9399, #11361, #5465, and other issues.

We need to decide how we want examples to be written, document that, and make existing examples conform.

Issues:
* Decide objectives: teaching system concepts, demonstrating system features, getting started quickly with a particular application, providing sample

[2015-10-06 23:20] bronger commented on #10959
Does anybody have a workaround for this on GKE?

[2015-10-06 23:27] yujuhong opened #15195 "kubelet should treat each pod source independently"
Right now kubelet waits until all sources are ready before deleting pods, so that it wouldn't accidentally kill desired pods from not ready sources (bug to-be-fixed by PR: #15167).
What kubelet should do is to treat each source independently, i.e., if a source is ready, we can sync *and* clean up pods from that source.
In order to do this, kubelet needs to be able to recognize which source the pod

[2015-10-06 23:33] ihmccreery commented on #15084
Alternatively, there's been discussion of just relying on namespace deletion to cleanup after all tests.

[2015-10-06 23:40] ArtfulCoder commented on #14342
Fixed by PR

[2015-10-06 23:40] #14342 closed

[2015-10-06 23:47] brendandburns commented on #14667
Two more failures today.  Is this being actively worked on?

[2015-10-06 23:47] caesarxuchao commented on #14126
For the client-side fix of the Events, we plan to use Patch instead of PUT, so we can avoid wiping out fields that we don't want to change.

[2015-10-06 23:52] yujuhong commented on #15186
Closing this issue since we've already confirmed the cause #15122

[2015-10-06 23:52] #15186 closed

[2015-10-06 23:54] thockin commented on #15187
patched in #15194

I1006 23:38:47.364277   12715 hairpin.go:49] Unable to find pair interface, setting up all interfaces: Unable to query interface eth0 of container 13722: exit status 94: no stats available

It seems to only happen when a pod's infra container dies unexpectedly.

Manually running nsenter into the container and trying ethtool:

[code]

[2015-10-06 23:56] chrisleck opened #15197 "Update get-kube.sh to not re-download the kubernetes archive if it hasn't changed"
Currently, get-kube.sh unconditionally downloads 'kubernetes.tar.gz'.  It would be a nice optimization to skip re-downloading the file if it already exists locally with the same version/timestamp.

This should be possible using ```wget -N``` or ```curl -z```.

[2015-10-06 23:56] DreadPirateShawn commented on #15115
@yujuhong Not that we've seen, seems to be functioning properly. Anything we can check for, log-wise or whatnot, to confirm that the garbage collection is in fact working correctly after the initial startup?

(We're ironing out our production deployment, so we're making sure we treat error-level logs seriously. Thanks!)

[2015-10-06 23:57] thockin commented on #15187
aha, these are pods with hostNetwork == true, so ethtool will not give them proper stats.

Can you detect hostNetwork and skip hairpin?

[2015-10-07 00:04] MikaelCluseau commented on #15187
I certainly can. It's more logic outside the hairpin package though, but probably the quickest fix. I could also try to compare the netns (`/proc/PID/ns/net` symlink) and skip hairpin if the container's netns is the same as the kubelet's one. What do you think is the best?

[2015-10-07 00:04] erictune commented on #14712
@lavalamp, is use of fuzzer.Fuzz in pkg/kubectl/stop.go around line 201 to
generate a random node name considered a recommended use of fuzzer?

On Tue, Oct 6, 2015 at 4:12 PM, Tim Hockin <notifications@github.com> wrote:

[2015-10-07 00:04] thockin commented on #15140
It will be some time before runc is ready for us to use, and we have more
than net namespaces to manage.

On Tue, Oct 6, 2015 at 11:47 AM, Prashanth B <notifications@github.com>
wrote:

[2015-10-07 00:06] mikedanese commented on #14712
@erictune I have root caused this.

[2015-10-07 00:06] bgrant0607 commented on #15193
There is overlap with the quick walkthrough:
https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/walkthrough

And with the detailed walkthrough:
https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide#thorough-walkthrough

[2015-10-07 00:08] thockin commented on #15187
I think it's fine to just check the hostNetwork flag and short-cut if it is
set.

On Tue, Oct 6, 2015 at 5:04 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2015-10-07 00:09] lavalamp commented on #14712
@erictune no, that is definitely increasing the WTFs-per-second of the codebase.

[2015-10-07 00:10] erictune commented on #14712
Was finding the root cause exacerbated by the fact that that in the
wait.Poll loop in
   func (reaper *DaemonSetReaper) Stop(..)  ignores errors?

On Tue, Oct 6, 2015 at 5:06 PM, Mike Danese <notifications@github.com>
wrote:

[2015-10-07 00:11] MikaelCluseau commented on #15187
Okay

[2015-10-07 00:12] thockin commented on #14712
zoinks!  Using fuzzer outside of a test should be verboten!

On Tue, Oct 6, 2015 at 5:10 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-10-07 00:17] mikedanese commented on #14712
Fixed by #15196

[2015-10-07 00:18] mikedanese commented on #14712
@erictune it's been quite a journey.

[2015-10-07 00:26] ArtfulCoder commented on #14934
Privileged containers are now on by default

[2015-10-07 00:52] smarterclayton opened #15201 "kubectl run waits forever to attach to pod that won't start"
`kubectl run ... --image=busybox --attach -i -- bash ...` will wait forever because bash isn't in the image, which means the container never leaves pending.  We probably need to transition the pod to failed state in this particular scenario (start will fail with an error, and until the image changes we can't start the image).

[code]

[2015-10-07 00:58] davidopp commented on #13333
@brendandburns after discussion with @a-robinson and others we decided to make this a v1.1 blocker. This is currently assigned to you -- do you have time to work on it, or should we reassign?

[2015-10-07 00:59] yujuhong commented on #15115
@DreadPirateShawn, if the error message stops appearing, it should mean that the garbage collection is working. Aside from that, the only thing that I'm aware of is to actually trigger the garbage collection (e.g., low disk space or >100 dead containers, etc) as a test. See https://github.com/kubernetes/kubernetes/blob/master/docs/admin/garbage-collection.md for more details.

This is totally reas

[2015-10-07 00:59] davidopp commented on #13333
Oh, and @a-robinson clarified that the comment above about this being fixed is not correct (or at least, not complete): "#13335 (and its successors) fixed the fact that #13333 would cause service's external IPs to change when the bug triggers, but not that it causes all the resources to be deleted and recreated, leading to some amount of downtime."

[2015-10-07 01:03] lavalamp commented on #14216
I've made a scheduler integration benchmark test.

First experiment: how does per-pod time vary with number of nodes?

10 nodes: 68ms
100 nodes: 74ms
1000 nodes: 90ms

That's not even linear, great. I had to disable the client rate limiting.

[2015-10-07 01:06] lavalamp commented on #14216
@spiffxp can you post the exact command line you're running kube-scheduler with?

[2015-10-07 01:11] #15038 closed

[2015-10-07 01:17] a-robinson opened #15203 "Handle deleting external load balancers across kube-controller-manager restarts"
Right now, the service controller has no sense of responsibility for the load balancer resources that exist in a cloud user's project. It only deletes things that it knows it owns, meaning that if it gets restarted while deleting a load balancer, it won't finish deleting the load balancer when it restarts (or if it's simply not running when a load balancer gets deleted, it won't even start deletin

[2015-10-07 01:21] lavalamp commented on #14216
Final test of the day: removing the resources from the pod reduces the 90ms number above down to 74ms. (my test doesn't turn on all the fancy defaulting things in 1.1/head.)

My hypothesis at the moment is that 1.1 is just much more effective at defaulting the pod's resource requests, which triggers a slow case in the scheduler. I'm not sure what the slow case is exactly, but the next thing I'll c

[2015-10-07 01:28] vishh opened #15204 "Display QoS class of pods in kubectl"
Our current QoS policy is difficult to understand for an average user. We need to expose the QoS class of each container as part of kubectl to make it easier for users to reason system behavior.
For example, with the new QoS policy, not setting memory limit (or request) could lead to more frequent deaths for containers if the cluster is overcommitted.

This was suggested by @davidopp and @derekway

[2015-10-07 01:44] ixdy commented on #15125
I found an instance of this test failing, this time with verbose logging saved:
[code]

So the main issue is that the test isn't hermetic, as we know.
The junit reporter called this a failure since it couldn't find the `---PASS` line (since the error message omitted a trailing newline).

I'm not sure why the junit reporter didn't include this message as an error, though.

[2015-10-07 01:44] linzichang commented on #15193
+1
This is very meaningful. #11361 can make the examples more clear and usable. But can't unify patten, describe and section very well.

[2015-10-07 01:59] ixdy commented on #15084
It'd be great if namespace deletion actually reliably cleaned up everything, but it'd probably be a good idea to have something out-of-band to check, too. #15189 is hopefully a start at exactly that.

[2015-10-07 02:10] linzichang commented on #15085
Ok, tomorrow I will start to work on this.

[2015-10-07 02:12] bgrant0607 commented on #15193
@mansoorj @jeffmendoza @RichieEscarez @MikeJeffrey

Reworking guestbook: #14256

[2015-10-07 02:15] spiffxp commented on #14216
@lavalamp I don't have the command handy but the flags come from https://github.com/Samsung-AG/kraken/blob/master/ansible/roles/kubernetes/defaults/main.yaml#L75-L79 and https://github.com/Samsung-AG/kraken/blob/master/ansible/roles/kubernetes/templates/hyperkube-binary-scheduler.service.ansible#L14-L15.  The `master_private_ip` variable corresponds to an nginx instance which (potentially) fronts

[2015-10-07 02:54] DirectXMan12 commented on #14987
@thesteve0 I think it's more of a limitation of go-restful, which automatically generates our Swagger spec based on the API objects (and gets doc from comments above each field).  Just to clarify things, we currently generate a Swagger 1.2 spec, which isn't explicitly JSON Schema.  Swagger 2.0 is.

It would be nice (and interesting) to see something like that eventually (if you open a separate iss

[2015-10-07 03:03] thesteve0 commented on #14987
Thanks Solly! I don't want to be a pain to your group but @smarterclayton @ironcladlou @deads2k @derekwaynecarr you know what is coming your way now ;)

@DirectXMan12 do you want me to open another issue for this?

[2015-10-07 03:31] #14712 closed

[2015-10-07 04:01] #14891 closed

[2015-10-07 04:13] lavalamp commented on #14216
@spiffxp When you ran 124b6d8 (which may be worth a PR, btw), what values did you set for the flags?

[2015-10-07 04:19] ArtfulCoder commented on #14394
@karlkfi is there a way we can do a remote debugging session where I can get on to one of the clusters and investigate what is going on ?

[2015-10-07 04:20] chrisleck commented on #11902
Instructions at http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html are still out of date.

[2015-10-07 04:31] bgrant0607 commented on #6532
Yes, the probe failure is logged, which doesn't help users very much.
https://github.com/kubernetes/kubernetes/blob/84f8f01d45f0decc33ad338f3eb8b8a28ce1e3d9/pkg/kubelet/dockertools/manager.go#L1727

Would you be interested in taking a look @jiangyaoguo?

[2015-10-07 04:43] bgrant0607 commented on #15180
Currently only accepts pods:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/portforward.go#L78

We could accept resource/name and "resource name" and assume pods by default.

[2015-10-07 04:47] bgrant0607 commented on #15128
What would you like to use fieldSelector for?

The lack of documentation is intentional, pending implementation of #1362.

[2015-10-07 04:55] bgrant0607 commented on #14963
I see a place for phonetic names: Generated names for resources created from templates: #10495

[2015-10-07 04:56] Calpicow opened #15211 "kube-proxy should route using container IP instead of host IP"
I think this would be better so we don't have to expose ports on the host network, and allow creation of private services. We would also be able to take advantage of Flannel IPSEC to secure cluster communication whenever that is released.

Thoughts?

[2015-10-07 05:12] davidopp commented on #11631
#7660 didn't start out as being about deleting pods on deleted nodes (it was just about GCing dead pods in general), but it seems to have meandered into that territory, so I agree we should close this one.

[2015-10-07 05:12] #11631 closed

[2015-10-07 05:14] davidopp commented on #7660
Remaining items to do:
* Delete pods scheduled on a deleted node.
* Delete pods that have been gracefully deleted in the case where Kubelet died during the grace period

[2015-10-07 05:21] karlkfi opened #15212 "Failing flocker unit tests"
Unit tests on our CI have apparently been failing for 2 weeks and no one noticed (oops!)...

The PR that seems to have caused the failures is #14328.

The failing test is `k8s.io/kubernetes/pkg/volume/flocker` - `TestSetUpAtInternal`.

[code]

Full Test Log: https://teamcity.mesosphere.io/viewLog.html?buildId=54217&buildTypeId=Oss_KubernetesMesos_2UnitTests&tab=buildLog&guest=1#_focus=866

I'm not

[2015-10-07 05:22] karlkfi commented on #15212
/cc @agonzalezro @saad-ali

[2015-10-07 05:28] piosz commented on #14667
Yes. Both @jszczepkowski and me. We are close to the solution I believe.
7 paź 2015 1:48 AM "Brendan Burns" <notifications@github.com> napisał(a):

[2015-10-07 05:31] thockin commented on #15211
I don't really know what you're proposing, sorry.  Can you be a bit more concrete on exactly what you mean?

[2015-10-07 05:32] bgrant0607 commented on #14905
cc @daizuozhuo

[2015-10-07 05:33] bgrant0607 commented on #14895
We should ignore the client config version.

[2015-10-07 05:37] davidopp commented on #7351
Related to #3885 but not the same.

[2015-10-07 05:40] bgrant0607 commented on #14848
@erimatnor Did you specify readiness probes for any/all of the containers?

[2015-10-07 05:45] jonmoter commented on #15128
As context, here's how I came to this issue (please excuse the length of this):

I'm building a Kubernetes integration with Zendesk's [deployment management tool](https://github.com/zendesk/samson). I'd like to be able to communicate through Kubernetes through its API.

I deploy code by creating a ReplicationController. I want to know whether the deploy was successful or if it ran into a problem a

[2015-10-07 05:47] bgrant0607 commented on #7682
Closing in favor of #15180.
cc @thockin

[2015-10-07 05:50] bgrant0607 commented on #14796
Marking the node unschedulable would be a better workaround.

[2015-10-07 05:55] caesarxuchao commented on #14126
@saad-ali, per our discussion this afternoon, I'm implementing the update of events using patch. Then it's critical to generate a patch with *all* modified fields. The new event is generated here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/record/event.go#L217
Could you confirm that only Event.Count and Event.LastTimestamp will be changed? Thanks!

[2015-10-07 05:56] bgrant0607 commented on #14828
I'm pretty sure we've discussed this before somewhere.

Enlightened clients do sometimes need more information about endpoints, such as scheme (for http/https), client configuration info, etc. This would be useful for UIs, as well, to hint that they should create links to endpoint URLs. I could see a case for discovery and probe paths.

Starting with annotations seems fine. It seems too early to s

[2015-10-07 05:59] bgrant0607 commented on #14791
See #341.

Validation about no redundant map keys requires changing the json parser -- currently we're using the standard golang parser.

[2015-10-07 06:02] Calpicow commented on #15211
Sure. Let's start off with some snippets from kubectl and iptables:

[code]

[code]

In the endpoints section it has the container IPs listed, but we see the public IPs used in the DNAT entries. Wouldn't it be better to use the container IPs there as well?

[2015-10-07 06:10] thockin commented on #15140
Assembly is a step too far, but a C program (I just did it) has an RSS of 1
page.  The cost is, as you point out, you need a C compiler to rebuild it.
If you want to make the binary tiny you also need dietlibc.  Is it
worthwhile?

[2015-10-07 06:16] thockin commented on #15211
The destination of the DNAT is the local node, which proxies traffic.  That's fundamentally how the userspace kube-proxy works.  In Kubernetes v1.1 we introduce the iptables proxy mode, which I think does what you want.  I'm going to close this issue for now - please reopen if you think this is not correct.

[2015-10-07 06:16] #15211 closed

[2015-10-07 06:18] thockin commented on #14992
Maybe I am missing your point - if the network plugin needs to know some
fields of the Pod in order to properly link to some external control plane,
how does it get that info?

On Tue, Oct 6, 2015 at 10:28 AM, Prashanth B <notifications@github.com>
wrote:

[2015-10-07 06:28] roberthbailey commented on #15131
I think that for v1.1 we can run some manual tests to convince ourselves that upgrades work. This should be a P1 and not blocking 1.1.

[2015-10-07 06:51] davidopp commented on #3885
Can you explain this more? Assuming we're talking about a procedure you'd use for things like kernel upgrades on bare metal (use case in first entry in this issue), it seems you would want graceful termination of the pods that are running on the machine.

I didn't fully understand this proposal.

(BTW, I am assuming all of these are set in the NodeSpec, i.e. they're separate from how the system in

[2015-10-07 07:07] gmarek commented on #12634
I'll rebase PR #12919 that solves this. Other option is to remove the flag that allows setting Kubelet port, as being in state when we do allow change by flag, but it does not work is worst option.

[2015-10-07 07:08] gmarek commented on #9325
It's solved by #12919, but I didn't have time to finish it - I'll do this today.

[2015-10-07 07:11] bgrant0607 commented on #14738
Will be addressed by #14054

[2015-10-07 07:11] #14738 closed

[2015-10-07 07:30] gmarek commented on #14216
@lavalamp: I don't think it's scheduler, as even 90 ms is good enough (AFAICT scheduler does 2 API server calls per scheduling, which with 20 QPS limit gives ~100ms latency - for some meaning of it). Moreover in results pasted by @spiffxp here https://github.com/kubernetes/kubernetes/issues/14216#issuecomment-143378124 it doesn't look like we have any problems with the scheduler - it's the Kubelet

[2015-10-07 08:01] gmarek commented on #15139
It's flakying again. I'll change logging to debug further.

[2015-10-07 08:26] davidopp commented on #15131
Yeah, I agree this should be moved to P1 and removed from 1.1. As Ike said, the upgrade tests do run e2e after the upgrade steps, just not during them. This isn't perfect but it doesn't seem like a blocker.

[2015-10-07 09:35] gmarek commented on #15064
On a 100 HollowNode cluster we currently have following results:
[code]
and
[code]
While on 'real' cluster we have:
[code]
and
[code]

@wojtek-t observed is that long Lists are generally reported by Heapster, which isn't running in Kubemark setup. Except that results are pretty similar with Kubemark being slightly faster.

[2015-10-07 09:37] gmarek commented on #15064
I'll need to run profiler on Kubemark and real masters and see if I can notice any difference. I have a couple of docs to write in this week, so I'll get to it in the next one.

Note that this results are without 'Proxy', as #14639 is not merged yet.

[2015-10-07 09:44] agonzalezro commented on #15212
@karlkfi that test was added around a week ago, it's doesn't seem possible to me that it was failing since 2 weeks ago.

Anyway, we have few duplications of this issue:

- https://github.com/kubernetes/kubernetes/issues/15118
- https://github.com/mesosphere/kubernetes-mesos/issues/546
- https://github.com/mesosphere/kubernetes-mesos/issues/542
- this one

And the PR where @jdef is working on:

- h

[2015-10-07 10:14] erimatnor commented on #14848
@bgrant0607 No liveness probes specified.

[2015-10-07 11:04] wojtek-t commented on #14552
To be honest I don't think it's Kubernetes related - this might be GCE-related.
We may try to run those test in a different (less occupied) zone to see if the results are better....

[2015-10-07 11:29] gmarek opened #15222 "/logs Kubelet endpoint does not work."
When going to
[code]

I'm getting `404: Page Not Found` response. Plain `logs/` correctly prints all *available* log files.

cc @dchen1107 @yujuhong @davidopp

[2015-10-07 12:41] lucmichalski opened #15225 "KUBE UI and Cluster Monitoring availble from a secured public IP"
Hey guys,

I tried to deploy Kubernetes/Coreos on AWS (https://github.com/coreos/coreos-kubernetes/blob/v0.1.0/Documentation/kubernetes-on-aws.md) but is there a way to get it more simple to expose to a public IP:
- Kube-UI
- InfluxDB/Grafana

Is it possible to makes things much more simple ^^ ? :-)

Cheers,
Luc Michalski

[2015-10-07 12:44] wojtek-t opened #15226 "Make it possible to create a cluster with more than 500 nodes in GCE"
According to our documentation, maximal size of MIG is 500:
https://cloud.google.com/compute/docs/instance-groups/

This means, that it's currently impossible to create a cluster with more than 500 nodes in GCE using our scripts.
We should fix that by creating multiple MIGs from the same template in that situation.

cc @brendandburns @roberthbailey @fgrzadkowski

[2015-10-07 12:55] jszczepkowski commented on #14667
There are two problems here:
1. resource consumers sometimes get silently killed (unknown resasons),
2. memory limites for resource conusmer were too low.
My PR (#15218) solved the second problem, which is enough to make the test stable. The first problem is still mystery to us.

[2015-10-07 13:11] jiangyaoguo commented on #6532
@bgrant0607  OK. We are on a vacation recently. Tomorrow we'll back to work and track what we've missed.

[2015-10-07 13:28] fgrzadkowski commented on #14695
It seems we have a new type of failure:
[code]
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flaky/5644/consoleFull

It seems that kubelet on a machine where network is blocked doesn't notice new pod. After reading logs I assume that kubelet doesn't notice that the watch is broken and doesn't try to relist everything. It notices new pod only after watch timeout.

[2015-10-07 13:30] KurtStam commented on #14828
Thanks for the support @bgrant0607. I do want to stress that this goes beyond the 'scheme and client config', and really is about discovering where the service lives and where to get the definition/'contract' that describes how to consume the service. In many environments services are consumed by a third party. Particularly these folks need access to this kind of info. These patterns have been use

[2015-10-07 13:32] gmarek opened #15227 "Crashlooping kube-system pods make soak cluster unusable"
Eg.
[code]

The fix is pretty straightforward - I just delete the Pod, it gets recreated and everything is running normally again (for some time). It's not really fun to do it by hand, maybe we can have something that does this (i.e. delete the pod to reset its state) automatically in case of crash loops of kube-system pods?

cc @quinton-hoole @brendandburns @davidopp @fgrzadkowski

[2015-10-07 13:38] MalteJ commented on #14278
@justinsb it was something with the staging bucket (like `s3://kubernetes-staging-7ec2902cbab698915d70af73b0cce8dd` but with a different hex code). Can't remember exactly which error it was.

[2015-10-07 14:03] wojtek-t commented on #15226
BTW - if we add this support, we may consider making all MIGs no bigger than X (e.g. 50 nodes) which will significantly speed up cluster creation (because we will be creating those MIGs independently).

[2015-10-07 14:07] feiskyer commented on #15180
There are a little problem on service port-forwarding: service is not binding to a specific node, so it should be scheduled to some node first. But there is no such a scheduler existing now.

[2015-10-07 14:13] sttts commented on #14913
There is actually documentation in the hack/conformance-test.sh script itself.

[2015-10-07 14:14] sttts commented on #14763
Here is a WIP PR implementing a [Conformance] tag:

   https://github.com/kubernetes/kubernetes/pull/15228

We have a number of tags already using the same notation. IMO it's easier to read than the :TAG: syntax.

[2015-10-07 14:19] jdef commented on #15212
I think I've got a working patch in #15158

[2015-10-07 14:21] jdef commented on #15118
@mattmoor can you test to see if the patch in #15158 fixes things for you?

[2015-10-07 14:23] bgrant0607 opened #15229 "Rename ValidatePositiveField and ValidatePositiveQuantity"
to ValidateNonnegativeField and ValidateNonnegativeQuantity

in pkg/api/validation/validation.go

Otherwise it's misleading/confusing.

[2015-10-07 14:29] bgrant0607 commented on #4909
Mostly looks pretty reasonable, thanks.

You need to regenerate the swagger spec again.

[2015-10-07 14:30] bgrant0607 commented on #4909
Oops, meant to put that on the PR.

[2015-10-07 14:34] justinsb commented on #14278
OK thanks @MalteJ, I think that's probably related to #15069.  5 seconds was perhaps an overly optimistic timeout for an eventually consistent system :-)

I'm going to close but feel free to reopen if anything not addressed.

[2015-10-07 14:34] #14278 closed

[2015-10-07 14:41] fgrzadkowski commented on #14899
I got this error again from HEAD:
[code]

[2015-10-07 14:50] mikedanese commented on #14763
@kubernetes/goog-testing

[2015-10-07 14:54] danwinship commented on #14940
That makes sense to me, although I guess the plugin could also just assume that if it gets a setUp on a pod it thinks it already running, it should tearDown the old network state first.

[2015-10-07 15:00] geoah commented on #14234
@fd would you be kind enough to provide some more info or a link on the "wercker builds invalide base images" -- currently facing the same issue and wondering if this is a known issue they are working on. Theanks!

[2015-10-07 15:01] markllama commented on #15102
Is there a way to adjust the timeout on the minion validation? It failed for me trying to connect to the master, timed out, but when I checked a few sec later the master had come up and the manual curl commands passed.  It appears, at least for me, that the master just took a long time to come up to offer the /api url.

[2015-10-07 15:29] smarterclayton commented on #7660
I think the second bullet is covered if you aren't assuming the first
bullet.  The node controller will detect and terminate pods on nodes that
still exist.

On Wed, Oct 7, 2015 at 1:14 AM, David Oppenheimer <notifications@github.com>
wrote:

[2015-10-07 15:56] bprashanth commented on #15203
I would recommend getting the service controller out of kube-controller-manager and into a pod. We know how to handle shutdown for pods (terminationGracePeriod). Of course there're things we need to do on start up to prevent leaking (or getting wedged) that the pod won't help with.

[2015-10-07 16:03] karlkfi commented on #15118
See #15212 for reproducible test environment and failure logs.

[2015-10-07 16:04] karlkfi commented on #15212
Closing in favor of #15118 & #15158

[2015-10-07 16:04] #15212 closed

[2015-10-07 16:05] bcwaldon commented on #15108
@yujuhong On CoreOS today (github.com/coreos/coreos-kubernetes), we deploy controller nodes (those that run the control plane services) in such a way that they should not have user pods scheduled to them. The best way we have to do this today is simply not to register the controller node. I say this is the "best", because it still allows us to statically deploy the kubelet on the controllers. Havi

[2015-10-07 16:05] karlkfi commented on #15118
Based on the solution in #542 it sounds like this test creates files the first time through which causes the tests to fail on the second time through.

[2015-10-07 16:07] #14920 closed

[2015-10-07 16:07] #14785 closed

[2015-10-07 16:09] thockin commented on #14940
We have a few edge cases we should consider holistically.  We'll need to
get test coverage for all of these.

Case1:
Pod created
Pod destroyed

Case 2:
Pod created
Kubelet restarts
Kubelet rediscovers pod from source
Pod destroyed

Case 3:
Pod created
Pod infra container dies
???
Pod recreated

Case 4:
Pod created
Kubelet goes down
Pod infra container dies
Kubelet comes up
Kubelet rediscovers pod

[2015-10-07 16:13] bgrant0607 commented on #14733
I'd much rather move all of status to a separate record, and then not persist it to disk. #8625

[2015-10-07 16:16] bgrant0607 commented on #14561
Related to #140

[2015-10-07 16:20] thockin commented on #15203
We need a bit of a pow-wow on this.  There's value is busting controllers
out into pods, but there's also costs.  There's cost to putting them all in
one monolith, but there's also value.

We should work up a plan for this across existing L3 balancers, upcoming L7
(provisioning, binding), and storage (provisioning, recycling, binding) -
all of which have slightly different answers right now.

@mar

[2015-10-07 16:25] iterion commented on #10508
Closing this as it seems to be resolved now. I haven't seen it happen again on newer builds.

[2015-10-07 16:25] #10508 closed

[2015-10-07 16:27] bprashanth commented on #15140
True. I just don't like being beholden (read: enslaved) to a third party container runtime :)

[2015-10-07 16:28] yichengq commented on #5017
@ibotty @smarterclayton Do you know is there any way in kubernetes that etcd could have persistent volume in the cluster without additional requirements(e.g., a working nfs, gce account)? I have read through https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/volumes.md#types-of-volumes, but don't find any solutions.

[2015-10-07 16:29] derekwaynecarr opened #15235 "kubectl explain does not work with experimental resources"
It would be nice if ```kubectl explain``` let me explain experimental resources to aid users ability to experiment.

[2015-10-07 16:30] vishh commented on #10959
Can we collect the output of `dmesg` from the node whenever this happens again?
@bronger: I'd check the status of docker daemon ```cat /proc/`pidof docker`/status``` and `dmesg`. In the past, machine restarts have fixed this issue.

[2015-10-07 16:32] derekwaynecarr commented on #15235
It's possible this works today, but it was non-obvious how to use.

Attempts:
```kubectl explain hpa```
```kubectl explain experimental/hpa```

[2015-10-07 16:38] thockin commented on #14848
Liveness and readiness probes should not matter because they are on each
container, not the Pod overall.  We could add higher-level readiness and/or
liveness on the Pod, but it seems to me that this is adding significant
complexity for a rather corner case.

If a single container is crashing the pod is marked as Ready:false.  Do we
really need to get more nuanced than that?

On Wed, Oct 7, 2015 at

[2015-10-07 16:47] #14935 closed

[2015-10-07 16:48] ihmccreery commented on #15083
Closed in favor of #13515.

[2015-10-07 16:48] #15083 closed

[2015-10-07 16:52] caesarxuchao commented on #14126
I discussed with dchen1107, the answer is yes. Because update of Event only occurs when we compress the event, so those two are the only fields that would be changed.

[2015-10-07 17:00] jlowdermilk opened #15239 "pkg/kubelet/network/cni/cni_test.go is flaky on shippable"

[2015-10-07 17:01] karlkfi commented on #14394
@ArtfulCoder we can do a screenhero session later today, if you want. hit me up on slack.

[2015-10-07 17:18] bgrant0607 commented on #14602
Sort of related: #3949

[2015-10-07 17:19] markturansky commented on #15203
@a-robinson add https://github.com/kubernetes/kubernetes/issues/14443 to your list of potential resource leaks.

[2015-10-07 17:27] roberthbailey commented on #15226
Is the maximum size something that can be increased with a quota request?

[2015-10-07 17:33] jlowdermilk opened #15243 "e2e tests that run after reboot frequently fail with network connectivity problems"
Context: kubernetes-e2e-gke-ci-reboot runs a small, stable set of tests along with the reboot tests to verify cluster functionality post-reboot. I've noticed tests that are normally stable, fail frequently when they run immediately after node reboot. examples:
[Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host](http://kubekins.dls.corp.google.com/view/GKE/job/

[2015-10-07 17:33] bgrant0607 opened #15244 "Our pod/container-related docs are randomly organized"
In docs/user-guide/, we have:

pods.md
pod-states.md
containers.md
container-environment.md
environment-guide/
images.md
compute-resources.md
security-context.md
volumes.md
downward-api.md
downward-api/
liveness/
node-selection/
(and probably others I missed)

with a seemingly random distribution and organization of topics among the docs, with many gaps.

The API schema for pods/containers is yet

[2015-10-07 17:34] quinton-hoole commented on #15064
This is awesome.  I'd like to run a 1,000 HollowNode test.  Do you want to do it, or should I?

[2015-10-07 17:34] quinton-hoole commented on #15064
@gmarek ^^

[2015-10-07 17:39] #14948 closed

[2015-10-07 17:41] saad-ali commented on #14126
@caesarxuchao SGTM and yes `Count` and `LastTimestamp` are the only fields that should be modified.

[2015-10-07 17:43] mikedanese opened #15245 "./hack/verify-generated-swagger-docs.sh doesn't verify changes to experimental API"
Clean master when swagger is not up to date
[code]
I run it and it succeds:
[code]
And the swagger spec is modified
[code]
@nikhiljindal @erictune

[2015-10-07 17:43] JanetKuo commented on #15201
@hurf are you interested in working on this one?

[2015-10-07 17:50] yujuhong commented on #15108
@bcwaldon, we are actually fixing this issue because we want our master node (which runs all control-plane services) to register itself to the apiserver, and not let scheduler assign any pods to it. See #13102 and #14140 for the discussion and progress. I believe that should also work for your controller nodes.

[2015-10-07 18:14] a-robinson commented on #13333
I've confirmed @brendandburns hasn't done anything for this, so I'll work on a fix.

[2015-10-07 18:16] quinton-hoole commented on #15227
@gmarek @vishh (for Kibana) @ArtfulCoder (for DNS).

Why are the health checks on those pods not failing and causing the pods to be killed and recreated automatically by their replication controllers?

We need this to work in production clusters.  I don't think that we should cover it up in the soak test cluster (which I think that this issue is suggesting).  It seems like it's exactly serving it'

[2015-10-07 18:25] ArtfulCoder commented on #15227
@gmarek  can you check which container is failing on dns pod ?
It shows 3/4 are running
maybe the healthz container itself is failing ?

[2015-10-07 18:26] ArtfulCoder commented on #15227
assigning back to Quinton to drive this overall.

[2015-10-07 18:28] ArtfulCoder commented on #15227
Also, can you paste the logs for the failing dns pod container ?

[2015-10-07 18:29] #14934 closed

[2015-10-07 18:41] lavalamp commented on #14216
@gmarek I don't think we can rule out the scheduler. If you look at the chart in https://github.com/kubernetes/kubernetes/issues/14216#issuecomment-146014551, @spiffxp is clearly seeing much higher latency numbers than my test produces.

[2015-10-07 18:45] quinton-hoole commented on #15203
@a-robinson the not-yet-deleted load balancers are still implicitly listed in etcd, associated with the relevant services, right?  So on startup, service controller could find them there (via api-server), and repopulate it's state?  Or is it more complicated than that?

[2015-10-07 18:46] spiffxp commented on #14216
@gmarek I don't think we explicitly synchronize our clocks, will look into that today

I agree with @lavalamp about not yet ruling out scheduler, the density latencies I posted were using the default version of the test with no resource limits in place.  I expect getting numbers from https://github.com/spiffxp/kubernetes/commit/65ea246cefd729bcf055a618b175f3a6d4432dfe will look different

Will als

[2015-10-07 18:54] a-robinson commented on #15203
@quinton-hoole - no, the issue is for services that have been deleted via the API (or have been updated to remove their load balancer via the API). The service controller is making the changes asynchronously from the API updates, so unless it can access the old state of the services, it won't know that the service ever existed or had a load balancer, respectively.

Services that still exist with t

[2015-10-07 18:55] derekwaynecarr commented on #15102
good to know issue was localized to VPN.  will update documentation troubleshooting to help others.

[2015-10-07 18:58] ihmccreery commented on #13339
- I can work on `mark-new-version.sh`.
- `build-official-release` and `push-official-release

[2015-10-07 19:02] gmarek commented on #15064
I already did it. Works fine, but latencies are to high. I'm currently running 1785 node test (I'll buy a beer to first person who'll guess why this number:). I'll post results tomorrow.

[2015-10-07 19:12] smarterclayton opened #15251 "Repush guestbook images to DockerHub"
Sometime earlier this year DockerHub had a bug where images pushed to V1 weren't copied correctly to V2.  Right now, a few of the Kube images (guestbook) have different tags in the DockerHub v1 and v2 APIs (specifically, no latest), which means clients using v2 get slightly wrong results.  The docker daemon will try pulling from v1 if v2 lacks a tag (which masks the issues for docker client users)

[2015-10-07 19:21] ihmccreery commented on #13339
Alternatively, we could add other scripts, `build/push-pre-release.sh`, which pushes to `prerelease/`.  I'm not sure what we'd gain from that, but zml@ said he didn't want to pollute the `release/` directory.  I think pushing to `release/` would make testing easier, (no need to change configurations when moving from prerelease validation to official release validation).

(cc @quinton-hoole)

[2015-10-07 19:45] quinton-hoole commented on #15227
@ArtfulCoder as @gmarek mentioned in the title, the failures are in the soak test cluster.  You can find all the logs there, e.g:

job/kubernetes-soak-continuous-e2e-gce/3477/consoleFull

I don't think that @gmarek needs to get involved - he was just kind enough to notice the failure, and log this issue.

[2015-10-07 19:45] gmarek commented on #15227
It was our soak cluster - it happens pretty much every second day, so just be patient:) When you red soak runs they can be either something like leftover active namespace, or waiting for all kube-system pods to be running. If you see the second thing it's the situation this issue is about - you can use kubectl or sth to grab whatever data you need.

[2015-10-07 19:50] quinton-hoole commented on #15203
@a-robinson My apologies - I did not state my point clearly.  Let me try again.

Should a deleted service not remain in "deleting" state (in etcd) until it has been completely and successfully deleted (including all GCE resource deletion)?  If so, it would remain in etcd, and the process I described above could work?

[2015-10-07 19:53] lavalamp commented on #14695
Ugh, I hope we don't have to start sending watch heartbeats.

[2015-10-07 20:04] wojtek-t commented on #15226
@roberthbailey - no. The limit is hardcoded in MIGs implementation (I've talked to MIG team in Warsaw about it, and it's NOT configurable now).

[2015-10-07 20:07] lavalamp commented on #15017
I agree-- leave SSL on. Exercise same code paths in dev and prod.

[2015-10-07 20:38] ArtfulCoder commented on #15227
12:23:05 Oct  7 12:23:05.963: INFO: kube-dns-v9-dqm1r        gce-soak-weekly-minion-yl2p  Running   [{Ready False 0001-01-01 00:00:00 +0000 UTC 2015-10-06 12:21:42 -0700 PDT ContainersNotReady containers with unready status: [skydns]}]
12:23:05 Oct  7 12:23:05.963: INFO:

@quinton-hoole the logs dont give me skydns container logs (its just test logs)
we will have to catch this in the act.
in the m

[2015-10-07 20:40] roberthbailey commented on #15226
Got it. I guess multiple-MIGs is the way to go.

[2015-10-07 20:52] bgrant0607 commented on #386
Rancher's metadata service: http://rancher.com/introducing-rancher-metadata-service-for-docker/

[2015-10-07 20:58] a-robinson commented on #15203
Ah, sorry for the misunderstanding. If we were to add a "deleting" state for service objects, and only the service controller could move them out of that state, then this would indeed be fixed (and it would also work for other objects that need external resources to be cleaned up asynchronously).

[2015-10-07 20:58] ihmccreery opened #15256 "kubernetes-upgrade-gke and kubernetes-upgrade-gce should run stable -> HEAD, not latest -> HEAD"
This is just a tracking bug so I don't forget to do this.

[2015-10-07 21:01] nikhiljindal commented on #15245
It broke for experimental API when we moved that out from pkg/api to pkg/apis/experimental.
https://github.com/kubernetes/kubernetes/pull/15248 is fixing it.

[2015-10-07 21:11] smarterclayton commented on #15203
The deleting state would be graceful deletion.  You can implement that
today.

On Wed, Oct 7, 2015 at 4:58 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-10-07 21:12] smarterclayton commented on #15203
That said, another way to handle this is via resynchronization - I thought
we already have controller implementations that could provide the framework
to do this synchronization for us (retrieve all load balancers from GCE and
compare to the list of services?).  This won't be the only case where we
have to sync external resources - the deleting state doesn't make the
experience better, as long as

[2015-10-07 21:16] nikhiljindal commented on #14744
Fixing this in https://github.com/kubernetes/kubernetes/pull/15257

[2015-10-07 21:26] dchen1107 commented on #14694
Test: DaemonRestart Kubelet should not restart containers across restart is moved out of flaky test suite. Close thie issue.

[2015-10-07 21:26] #14694 closed

[2015-10-07 21:42] a-robinson opened #15261 "Allow for controlling whether a load balancer's IP address should be deleted"
We allow for attaching a specific IP address to a load balancer (#10323), but when that load balancer is deleted, we also delete the IP address. It's likely there are cases out there where the user would like to keep the IP address. Opening this mostly to see if anyone cares about it or if we should just leave things as is.

[2015-10-07 21:48] caesarxuchao opened #15262 "The second-level on-wire precision of unversioned.Time is too low"
When marshing unversioned.Time to JSON/YAML, the precision decreases to second-level, which is too low, i.e.,
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/unversioned/time.go#L105
[code]

We need to use RFC3339Nano instead, which keeps the nanosecond-level precision.

@bgrant0607 @saad-ali

[2015-10-07 22:27] ihmccreery commented on #15084
Regarding namespace deletion: #7372 is a work-in-progress.  That may be our best bet at a longer-term solution.

[2015-10-07 22:34] lavalamp opened #15266 "v1.List: should not use []RawExtension"
RawExtension is intended for use where you have a two-phase unpacking, or want to pass arbitrary objects around.

v1.List should have _only_ v1 objects in it, and therefore can be unpacked in 1 pass; you don't have to defer the understanding of the object.

We need an object that is similar to RawExtension, but contains an internal runtime.Object, guaranteed to be a v1 object. It should be convert

[2015-10-07 22:37] ArtfulCoder commented on #14394
thanks @karlkfi for doing the screen share!
@miekg apparently skydns does round-robin causing this issue since the two nameservers are not equivalent. Do you have skydns container with roundrobin flag and the norec flag ?

[2015-10-07 22:44] dcbw commented on #14931
@a-robinson fixed up that branch and reposted so that it can be merged.

[2015-10-07 23:12] alq666 commented on #15169
@gtaylor we have some k8s-specific monitoring in beta right now. Let me know if you're interested in checking it out

[2015-10-07 23:14] gtaylor commented on #15169
@alq666 Sure, would love to see what you've got. Been following the dd-docker-agent's kubernetes branch, but if you've got something else, please send it along!

[2015-10-07 23:14] a-robinson opened #15272 "Make sure upgrading a master from 1.0 to 1.1 won't break existing external load balancers"
I haven't yet thought through whether there will be any issues, but the introduction of using static IPs may cause some subtly broken assumptions after the upgrade when it comes to handling old forwarding rules that don't have static IPs.

Opening this to ensure it gets considered soon, before 1.1 is finalized.

[2015-10-07 23:19] ihmccreery commented on #13339
We also need to update https://github.com/kubernetes/kubernetes/blob/master/docs/devel/releasing.md.

@zmerlynn Are we expecting to do `beta` releases too?  If not, should we be calling this `rc`, not `alpha`?

[2015-10-07 23:30] karlkfi commented on #14677
@thockin @ncdc's godep fix was merged upstream. try again on the release branch with the latest godep

[2015-10-07 23:37] caesarxuchao commented on #14895
@bgrant0607 why should we ignore it? That will make --api-version and the apiVersion in kubeconfig useless.

(FYI, we are replacing api-version with preferred-versions in #14383)

[2015-10-07 23:37] karlkfi commented on #14394
@ArtfulCoder and I tried skydns (both `gcr.io/google_containers/skydns:2015-03-11-001` and a new image built from master) and even with `-round-robin=false` and `-no-rec=false` the results appear to always be both round-robin and recursive...

[2015-10-07 23:41] karlkfi commented on #14394
strace of skydns while running shows that when delegating to mesos-dns works correctly connections are made to both mesos-dns (`10.0.4.140`) AND the local network resolver (`10.0.0.2`):

[code]

And when delegation fails, the only connection is to the local network resolver (`10.0.0.2`):

[code]

[2015-10-07 23:44] karlkfi commented on #14394
tcpdump results show the same as the above.

When the dig to kube-dns succeeds (`dig @10.0.1.181 -p 1025 leader.mesos`), tcp dump of udp traffic to mesos-dns (`10.0.4.140`) occurs:

[code]

When the exact same dig to kube-dns fails (NXDOMAIN), the tcpdump shows no traffic to mesos-dns (`10.0.4.140`).

[2015-10-08 00:36] bgrant0607 commented on #14954
While these are still experimental we can't make it the default.

[2015-10-08 00:37] alq666 commented on #15169
@gtaylor that's where the code will come from indeed. Do you need some signal re: stability?

[2015-10-08 00:38] bgrant0607 commented on #14062
Deployment also needs to work with simultaneous scaling and rolling update. It shouldn't generate a new RC just to scale.

[2015-10-08 00:44] bgrant0607 commented on #14895
The apiVersion in kubeconfig is already useless. We need to think about what we want to do about --api-version.

Now is a good time to deprecate these, since there's only 1 API version in 1.0: v1.

[2015-10-08 00:49] iameli commented on #10959
I retract my earlier comment, it's happening again. Perhaps a bit less often since I switched to `aufs-nolvm`.

[Here's my dmesg](https://gist.github.com/iameli/611ad345f908248e9440). Looks pretty crazy, actually. I'll follow up on my end and see if I have any pods leaking.

[2015-10-08 01:02] lavalamp commented on #14216
I played with my test a bit more today, but wasn't able to conclusively reproduce anything.

[2015-10-08 01:38] markturansky commented on #15203
Volumes need to be reconciled with the provider:  https://github.com/kubernetes/kubernetes/issues/14443

[2015-10-08 01:39] hurf commented on #15201
@JanetKuo - Sure I'll look into it. I've just come back from a business trip, so may be inactive in the past few days.

[2015-10-08 01:46] JanetKuo commented on #15201
@hurf thanks!

[2015-10-08 02:05] xfye commented on #14796
Thanks.
The Kubernetes version v0.19.0 that we are using does not support "unschedulable" feature. We might upgrade our Kubernetes to v1.x.

[2015-10-08 02:23] #15106 closed

[2015-10-08 02:49] bgrant0607 commented on #11209
IMO, the scenario that makes the most sense is like expose: there is an existing Pod and someone wants to create a RC to adopt it.

[2015-10-08 02:52] bgrant0607 commented on #14961
By imperative, I meant operations like "transfer pods from controller X to controller Y".

Adoption requests: #11209
Other scenarios are described above.

[2015-10-08 02:59] bgrant0607 commented on #14475
cc @thockin

[2015-10-08 03:05] bgrant0607 commented on #14447
VolumeSource is an inline field:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L198

@jackgr @ghodss Looks like a bug in strategic merge patch.

[2015-10-08 03:17] thockin commented on #15261
For now that's something they can manage outside of kubernetes.  I want to
be extra wary of things that we know not all providers offer..

On Wed, Oct 7, 2015 at 2:42 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-10-08 03:23] bgrant0607 commented on #14318
cc @caesarxuchao

[2015-10-08 03:29] tamsky commented on #2030
@erictune what is the status of secrets, and are they documented?

[2015-10-08 03:35] thockin commented on #15203
Maybe we should, like Docker containers, claim a prefix as "assumed for
kubernetes".  The problem is that we're sharing an unmanaged space with
non-kubernetes users.

On Wed, Oct 7, 2015 at 6:39 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-10-08 03:38] bgrant0607 commented on #14190
This is basically a dupe of #2971

[2015-10-08 03:46] bgrant0607 commented on #14129
Field selector is somewhat deliberately obscure until a more general and efficient implementation exists.

[2015-10-08 04:04] bgrant0607 commented on #13225
We should not add maxFailures. Backoff is the way to go.

[2015-10-08 04:27] thockin commented on #15169
to capture some ideas on this:

We could expose a concept of a "local service" for which kube-proxy would
always choose a local pod.  This required DataDog (or whatever) to be a Pod
and it requires the new iptables proxier (or source IP gets obscured).
 "local" doesn't even have to mean node-local - it might mean rack local or
something else.

We could expose a virtual IP, like the GCE metadata se

[2015-10-08 04:36] caesarxuchao commented on #14318
@lavalamp could you update your first comment:

because we *are* replacing it with preferred-versions. This is useful because users can specify the preferred version in kubeconfig rather than selecting the version via --api-version every time.

cc @bgrant0607

[2015-10-08 04:40] bgrant0607 commented on #12455
This is a dupe of #274

[2015-10-08 04:50] caesarxuchao commented on #15181
Aha, my PR was also hit by this flake just now. I'll try to fix this tmr.

[2015-10-08 05:03] thockin commented on #14677
Trying now.  Still getting some errors.  I cherry picked the 3 PRs that
seem to be needed to make it happy, but it still fails:

[code]

On Wed, Oct 7, 2015 at 4:30 PM, Karl Isenberg <notifications@github.com>
wrote:

[2015-10-08 05:08] bgrant0607 commented on #12183
Dupe of #11484.

The experimental Deployment API will provide this functionality in 1.1.

[2015-10-08 05:08] #12183 closed

[2015-10-08 05:09] thockin commented on #12526
@mikedanese Why do you think #14094 closes this?

[2015-10-08 05:13] davidkbainbridge commented on #15102
So working a bit on this tonight. The minion is freezing on me. Not sure if it is a vagrant thing or something else. Testing out a custom docker image for a component, below is the sequence I have seen twice (after bring up the cluster with 1 minion).

1. (on host) docker save -o test.tgz image-name
2. (on host) vagrant ssh minion-1
3. (on minion) sudo docker load -i /vagrant/test.tgz
4. (on minio

[2015-10-08 05:14] #11365 closed

[2015-10-08 05:17] bgrant0607 commented on #10983
cc @vishh

[2015-10-08 05:22] bgrant0607 commented on #13004
Thanks. It would be great to also confirm whether or not #10838 is still an issue or can be closed.

[2015-10-08 05:23] bgrant0607 commented on #10838
cc @feihujiang

[2015-10-08 05:23] bgrant0607 commented on #10797
We have generated docs and the swagger UI has other problems. We should consider deleting it.

[2015-10-08 05:26] bgrant0607 commented on #10710
Please add this to our coding conventions.

[2015-10-08 05:27] #10645 closed

[2015-10-08 05:32] bgrant0607 commented on #9959
Closing in favor of #11255

[2015-10-08 05:32] #9959 closed

[2015-10-08 05:33] a-robinson commented on #15261
SGTM. Closing for now.

[2015-10-08 05:33] #15261 closed

[2015-10-08 05:34] #14667 closed

[2015-10-08 05:35] #9674 closed

[2015-10-08 05:37] bgrant0607 commented on #9469
We should use some combination of Deployment and Deployment Manager to do this.
cc @nikhiljindal @jackgr

[2015-10-08 05:39] bgrant0607 commented on #9441
Ref #8190

[2015-10-08 05:40] davidopp commented on #12455
Good point. But almost all the discussion on that issue is from a year and a half ago, so I'm going to close that one in favor of this one.

[2015-10-08 05:41] davidopp commented on #274
@bgrant0607 noticed this is a dup of #12455; since this one received almost no comments for the last year and a half, I'm going to close it in favor of the newer one.

[2015-10-08 05:41] #274 closed

[2015-10-08 05:42] bgrant0607 commented on #9311
Dupe of #13276

[2015-10-08 05:42] #9311 closed

[2015-10-08 05:47] bgrant0607 commented on #9097
@nikhiljindal We should fork another issue to track all of the swagger problems.

[2015-10-08 05:53] bgrant0607 commented on #10516
Dupe of #8593

[2015-10-08 05:59] bgrant0607 commented on #8362
If there's a way to specify multiple resources in JSON without an explicit List, we should document and test it.

EIther way, we should fix the example.

cc @JanetKuo

[2015-10-08 06:00] wojtek-t commented on #15226
@roberthbailey - yet I think it will be the easiest way to do it (and I already checked that having e.g. 2 MIGs within a single cluster just works). So there should be just few changes in our startup scripts.

[2015-10-08 06:03] mikedanese commented on #12526
PR description says "Close: #12526" so when I merged, github closes the issue automatically. I merged it because it was e2e-not-required, and lgtm'd. I only skimmed the content.

[2015-10-08 06:03] wojtek-t commented on #14733
@bgrant0607 - I think the problem with your proposal (although completely I agree that from the API & usability point of view it looks much better) is that NodeStatus would be almost the whole Node object (i.e. NodeSpec is pretty small object so there is no significant performance gain from splitting those two).

[2015-10-08 06:16] JanetKuo commented on #8362
Here's the test json file for specifying multiple resources in JSON (without an explicit List). https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/multi-resource-json.json
We added the test in test-cmd.sh in #14793.

Is this the example @caesarxuchao mentioned? Looks like it's fixed. https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/secrets.md#use-case-pods-with-

[2015-10-08 06:29] timstclair commented on #14677
I think https://github.com/kubernetes/kubernetes/pull/14302 should fix those errors. Or are you trying to fix this on the godeps side first?

[2015-10-08 06:33] wojtek-t commented on #14216
I played with my test a bit more today, but wasn't able to conclusively reproduce anything.

I was also playing with 100-node clusters and I just cannot reproduce it.

[2015-10-08 06:38] bgrant0607 commented on #8236
Ref #8190

[2015-10-08 06:38] bgrant0607 commented on #8271
Ref #8190

[2015-10-08 06:42] bgrant0607 commented on #7891
Please reopen if you still have this problem in 1.0 with the v1 API.

[2015-10-08 06:42] #7891 closed

[2015-10-08 07:13] sroze commented on #10959
@iameli probably just because you restarted the Docker daemon, that's my workaround for now: I'm running a daemon on each Docker node and every time is sees this error, it is restarting the local Docker...

[2015-10-08 07:41] gmarek commented on #15227
OK, it's happening again. @ArtfulCoder here's the data you asked for:
[code]

A number of events of the type:
[code]

And logs:
[code]

[2015-10-08 07:46] gmarek commented on #15222
@dchen1107 please triage.

[2015-10-08 07:46] resouer commented on #12526
@thockin Most of the problems I described in this issue can be fixed by #14094. So I have no problem to close this.

[2015-10-08 07:53] changx opened #15291 "rbd plugin keeps remounting volumes every 10s and mount hangs there."
mount hangs with `D` state

[code]

It looks like kubelet remount volumes to make sure the volume mounted correctly ?

I've to reboot the host if mount hangs there because all I/Os were blocked on that volume.

kubernetes v1.0.1 with ceph 0.94.2

[2015-10-08 07:56] davidopp commented on #15203
This is not a 1.1 blocker, right?

[2015-10-08 08:07] bronger commented on #10959
My proc status outout is https://gist.github.com/bronger/6185881357fc069447be
And my dmesg is https://gist.github.com/bronger/c9ccacd88cb2d7a40f95

Both seems to be similar to @iameli's observations.  And restarting the docker daemon solves the issue also for me.

[2015-10-08 08:10] gmarek commented on #15064
I'll paste the results for other tests, but the most important lesson we learned from 1785 node kubemark experiment is that it ends with the following log in etcd on GCE n1-standard-16 master:
[code]

I.e. we don't scale to much more than 1000 nodes (or I need to learn how to tell docker that this particular container needs a lot of memory - if Docker sets some constraints by default)