[2018-06-06 09:23] #64771 closed

[2018-06-06 09:24] WanLinghao opened #64821 "kubectl command to let user know what thay can do in specific namespace"
Since API SelfSubjectRulesReview has implemented, I think we need ctl support to make it
easier for users to know what actions they can do in specific namespace.

/kind feature

[2018-06-06 09:41] chenpeihai1026 opened #64823 "kubectl create service does not create apiVersion and kind in the yaml file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: kubectl create service yaml file

**What you expected to happen**: I can use kubectl create --edit -f $filename to edit the service yaml file

**How to reproduce it (as minimally and precisely as possible)**:kubectl create service clusterip my-svc --clusterip="None" -o yaml --dry-run > /tmp/srv.yaml

**Anything else we need to know?

[2018-06-06 09:52] tom932 opened #64824 "kubectl logs and docker logs differ sometimes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A service writes 3 log messages that belong together from time to time.
I have a sidecar-container that writes out those log messages to `stdout`. When performing `kubectl logs PODNAME -c  CONTAINERNAME | grep TERM`, every now and then, only 2 of the 3 lines are shown.
This problem occurs rarely, for thousands of log mes

[2018-06-06 10:09] igoratencompass opened #64825 "When mounting a key from ConfigMap under /root the whole /root volume becomes read-only"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When mounting a key from ConfigMap under `/root` the whole `/root` path becomes read-only.

**What you expected to happen**:
Only the specific mount point `/root/config.json` to be read-only.

**How to reproduce it (as minimally and precisely as possible)**:
When using the following config:
[code]
that the whole `/root` be

[2018-06-06 10:09] igoratencompass commented on #64825
/sig storage

[2018-06-06 10:14] igoratencompass commented on #64819
I can confirm the same issue, was seeing nodes go `NotReady` and stay in that state and other flapping between `Ready` and `NotReady`.  I had exactly the same output from `describe node` with `Kubelet stopped posting node status` as the OP. This is on k8s v1.8.7

[2018-06-06 10:24] gabrielfsousa opened #64826 "WEB SITE ISSUE - kubernetes.io/docs/setup/independent/high-availability/"
/kind bug

**What happened**:
Missing information on documentation

**What you expected to happen**:
Content of config.yaml

**How to reproduce it (as minimally and precisely as possible)**:

https://kubernetes.io/docs/setup/independent/high-availability/

/sig docs

[2018-06-06 10:42] tom932 commented on #64824
@kubernetes/sig-logging-bugs

[2018-06-06 10:48] tom932 commented on #64824
Additonal info: The missing log message also doesn't appear in the corresponding file in `/var/log/containers`

[2018-06-06 11:03] hlymlv opened #64828 "k8s node can't attach volume(EBS)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
this is my config file:
cat pv.yaml
apiVersion: v1
kind: PersistentVolume
metadata:
  name: spooler-pv
  labels:
    type: amazonEBS
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  awsElasticBlockStore:
    volumeID: vol-052cc8c6ae92e214d
    fsType: ext4

cat pvc.yaml
apiVersion: v1
kind: PersistentVolumeCl

[2018-06-06 11:03] igoratencompass commented on #62099
Secret, configMap, downwardAPI and projected volumes will be mounted as read-only volumes. Applications that attempt to write to these volumes will receive read-only filesystem errors. Previously, applications were allowed to make changes to these volumes, but those changes were reverted at an arbitrary interval by the system. Applications should be re-configured to write derived files to another

[2018-06-06 11:10] aermakov-zalando commented on #49442
/reopen

[2018-06-06 11:16] wojtek-t commented on #59848
@smarterclayton - I just realized one thing - please correct me if I'm wrong here.

I think that in majority of cases, we may already be good. This is because:
- in most (all?) places, we are using default ListWatch:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/listwatch.go#L51
- that ListWatch by default is using pagination:
https://github.com/kube

[2018-06-06 11:21] dawez opened #64830 "kubectl --validate flag pass when yaml file is wrong"
/kind bug

I think that is is a **bug**

**What happened**:
kubectl is successfuly validate a yaml file that contains invalid data (see below for the yaml file contents):

[code]
However when issuing the command without the validate, it fails

[code]

**What you expected to happen**:
`kubectl create --dry-run --validate` should report that there are errors in the yaml file

**How to reproduce it (

[2018-06-06 11:34] liggitt commented on #64814
The reference to "all" has actually been removed from the help text in 1.11 because of how misleading it is, and replaced with a reference to the command `kubectl api-resources` which tells you the resource types actually available on your cluster

[2018-06-06 11:40] kundanatre commented on #11355
Service Account show 0 secrets attached with it.
NAME      SECRETS   AGE
default   0         6d

Is this problem resolved in kubernetes 1.10?

Still it is complaining for API Token, how does API token gets generated?
do we need to generate it manually as it mentioned by @Liggitt.
Even though I have followed same steps by providing correct params "--service-account-private-key-file"  and "--service

[2018-06-06 11:43] jhorwit2 commented on #57841
@rramkumar1 i don't see how not supporting graceful termination of applications with ipvs provides users with what they expect from the kubernetes platform around providing production ready solutions. This bug alone will block us from using the feature since it would start causing noticeable impact immediately. Imo If it isn't fixed prior to GA, then this lack of functionality should be made more

[2018-06-06 11:47] hoshsadiq commented on #59078
Waiting for https://github.com/spf13/cobra/pull/646 to be merged. Should hopefully fix the slow issues and can then be implemented here

/remove-lifecycle rotten

[2018-06-06 11:59] discordianfish commented on #59376
I think the root problem here ti fix is either requiring users in the docs to increase max-concurrent-downloads or the kubelet puller shouldn't use more concurrent downloads than docker uses by default.

That being said, I see have indeed networking issues in my cluster and many here might too, so would discourage from just increasing the staleness limits.

[2018-06-06 12:05] songhui1984 commented on #37922
me too

[2018-06-06 12:09] fturib commented on #64774
After updating the name of the cluster (shorter). The Cluster is now setup correctly.
The PerformanceDNS test itself is failing - unable to create he 10k services.

We believe that is an issue on the number of 10k services that k8s cannot support with this configuration of cluster.

Next step is to decrease the number of services to 5k - a number we tested locally and know that k8s support.

[2018-06-06 12:27] jbfarez commented on #61228
Got the same here, it's not working on new generation like `m5`, it seems to be related to the use of `NVME` (eg: `/dev/nvme1n1`).
If you want to keep working on latest instance gen (`m5`) @DocValerian , you can use `Debian Strech` instead of `Jessie` as workaround.

[2018-06-06 12:36] dims commented on #64823
/sig cli

[2018-06-06 12:36] dims commented on #64824
/sig node

[2018-06-06 12:37] dims commented on #64828
/sig storage

[2018-06-06 12:37] dims commented on #64821
/sig auth

[2018-06-06 12:37] dims commented on #64818
/sig cli

[2018-06-06 12:38] dims commented on #64816
/sig cluster-lifecycle

[2018-06-06 12:44] dims commented on #64789
/sig node

Looks like @mikedanese has a patch up at https://github.com/kubernetes/kubernetes/pull/64795

[2018-06-06 12:46] dims commented on #64789
/priority critical-urgent

[2018-06-06 12:47] dims commented on #64789
/status approved-for-milestone

[2018-06-06 12:56] smarterclayton commented on #59848
Pagination doesn’t bypass the list cache because that has the same
performance impact as disabling watch cache.

On Jun 6, 2018, at 7:17 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> - I just realized one
thing - please correct me if I'm wrong here.

I think that in majority of cases, we may already be good. This is because:

   - in

[2018-06-06 12:59] wojtek-t commented on #59848
So what is this line doing:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher.go#L472

?

[2018-06-06 13:02] shyamjvs commented on #64774
Can you tell the reason why it's unable to create so many services?

On Wed, Jun 6, 2018 at 2:09 PM Francois Tur <notifications@github.com>
wrote:

[2018-06-06 13:05] liggitt commented on #59848
on an initial list with `?resourceVersion=0&limit=500`, all of those conditions will be false

[2018-06-06 13:06] KIVagant commented on #15702
Thank you, @smarterclayton.

[2018-06-06 13:07] smarterclayton commented on #59848
We almost certainly need an etcd api change  in order to preserve the
watch cache here.

We need to ensure any given query with rc=0 happens on a watch cache
that has all watch events from an etcd index > than the index a
serializable read of etcd would return.

The watch periodic notify channel is close, but only fires every ten
minutes.  If we were able to “ping” a watch and have the server send

[2018-06-06 13:13] wojtek-t commented on #59848
I missed "hasLimit" has "&& resourceVersion != "0" inside - thanks @liggitt

@smarterclayton - yes, I agree that with etcd API change it would be much easier. And what you wrote makes perfect sense to me.

I was just wondering why we are not bypassing cacher - the fact that "hasLimit" has a condition on resourceVersion inside is a bit misleading to me...

[2018-06-06 13:19] chrisohaver commented on #64774
I _suspect_ that the cluster cannot operate correctly with that many services.  It _can_ create the services.  But the cluster acts undesirably after they are created.
In my local tests on a single node cluster when I ramped up the number of services to 10K, I saw the same mode of failure. With 10K services, the cluster is unable to spin up the "util" pod.  The "util" pod is required in the test t

[2018-06-06 13:22] wojtek-t commented on #64774
But do you know what exactly is happening?
What do you mean by "cluster is unable to spin up the "util" pod"?
Is the pod not even being created? Or maybe is it scheduled, but kubelet is not starting it?

Having more insight would help debugging it (maybe it's just size of master machine that is too small).

[2018-06-06 13:27] chrisohaver commented on #64774
I dont for sure. But...

According to the logs, I think the pod is successfully created.  But when we try to run DNS queries, it's the _container_ in the pod named "util" that cannot be found - not necessarily the pod itself.  So, it seems the pod may be still starting up at the time - perhaps slowed by the number of services present.

Maybe if I create the pod before creating the services it will

[2018-06-06 13:31] shyamjvs commented on #64774
Let's try to understand this better. If it's that creating services is
limiting us on the api qps, then starting the pod may potentially be slowed
down (due to shortage of qps).
Your idea sounds good, or you might alternatively try to slow down the rate
of service creation.

In general, I believe it shouldn't be a problem to create so many empty
services in the cluster.

On Wed, Jun 6, 2018 at 3:2

[2018-06-06 13:33] wojtek-t commented on #64774
Please paste link to logs from that cluster (run from testgrid) - so that others can take a look into it.

[2018-06-06 13:41] chrisohaver commented on #64774
OK, these are logs of the failure when pod is created after services...

[code]
creates services OK I believe (this step takes just under 10 minutes).
Then it creates the client pod...
[code]

Looks OK?  - client pod is created... So we start querying DNS...
[code]

But the "util" container is not found, possibly because the pod is not ready yet.  Perhaps the helper func that I am using doesn't wa

[2018-06-06 13:59] wojtek-t commented on #64774
I looked into kubelet logs - pods was succesfully started but then dies (crashed?) - something seems to be wrong on your side.

Logs from here:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-kubedns-performance/8/artifacts/gce-kubedns-perf-minion-group-d83x/

[code]

[2018-06-06 14:00] wojtek-t commented on #64774
It waits for it to be ready, but it dies after that.

[2018-06-06 14:05] chrisohaver commented on #64774
OK, thanks but this isnt a pod I have invented for this test.  It is already used for testing DNS in other existing tests.  So I was expecting it to work.  And it does work fine if i reduce the number of services - which I'll go ahead and do.

[2018-06-06 14:07] wojtek-t commented on #64774
Let's not down the number of service without understanding why it fails. We need to understand that.

[2018-06-06 14:17] AishSundar commented on #64789
Waiting for new runs to verify the fix. Will reopen this issue if needed

[2018-06-06 14:18] chrisohaver commented on #64774
Does anyone know if the 10K limit on services is a hard/enforced limit?  I didnt think it was (but thats just an assumption) - but if it is enforced somewhere, and exceeding it causes silent failures, then i'll need to reduce the number of services by a "few" to account for the other already existing services (e.g. the cluster dns service, api, etc...)

[2018-06-06 14:27] wojtek-t commented on #64774
It's not a hard limit.

[2018-06-06 14:50] soltysh opened #64833 "GKE: error creating cluster: error during gcloud container clusters create"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

There are 3 tests that are currently failing since 10.30 yesterday:

1. https://k8s-testgrid.appspot.com/sig-cli-master#gke (sample failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-sig-cli/2681)
2. https://k8s-testgrid.appspot.com/sig-cli-master#gke-serial (sample failure: https://k8s-guber

[2018-06-06 14:51] soltysh commented on #64833
@kubernetes/goog-gke ptal

[2018-06-06 14:53] chrisohaver commented on #64774
I managed to get this tested locally with 10K services on a single node.... where I create the pod _before_ the services, and it passes.

OK if I submit a PR with that change?  Or do we want to first try to understand why creating the client pod _after_ services causes a failure?

[2018-06-06 15:09] AishSundar commented on #64789
/reopen

Reopening this one until its actually verified to ensure it shows up in our tracking queries.

[2018-06-06 15:09] sttts commented on #64790
@hzxuzhonghu had the same thought.

[2018-06-06 15:17] joshng commented on #11932
I agree that using the hostname programmatically is probably a bad idea, but it can be valuable to annotate telemetry emitted from a container (metrics/logs) with a physical hostname, to facilitate identification of host-level issues. I'd be in favor of this feature.

[2018-06-06 15:34] rramkumar1 commented on #57841
@jhorwit2 I am not opposed to adding this caveat to release notes/docs. However, given the current state I'm not sure its worth blocking GA for one more whole cycle just for this when we can just push a fix in a patch release. @m1093782566 if possible, can your team prioritize coming up with a fix that maybe we can squeeze into 1.11.0 rather than wait for the first patch?

[2018-06-06 15:42] #53494 closed

[2018-06-06 16:04] sneko commented on #64819
Hi @igoratencompass , you talk about it in the past. How did you manage this issue?

[2018-06-06 16:16] lavalamp commented on #59848
cc @jpbetz

[2018-06-06 16:19] nikhita commented on #45542
/remove-lifecycle rotten

I guess this is still relevant

[2018-06-06 16:20] nikhita commented on #47465
/remove-lifecycle rotten

[2018-06-06 16:35] xiang90 commented on #59848
/cc @ccding

[2018-06-06 16:39] roberthbailey commented on #64833
/sig gcp

[2018-06-06 16:51] m1093782566 commented on #57841
sure，my team is looking at this issue. Will let you all kown if we make some progress

[2018-06-06 16:55] lavalamp commented on #59848
Sorry this is the first I've seen of this issue.

When did we allow reflectors to read out of the watch cache ( = not consistent read)? That seems wrong. Hopefully I am not the one that approved that :) I think I have always argued that RV=0 is always wrong to use.

Alternative solution: do a consistent list against etcd, but set the limit to 1 (or 0 if that works), record the returned global inde

[2018-06-06 17:08] #64313 closed

[2018-06-06 17:08] xiang90 commented on #59848
minutes.  If we were able to “ping” a watch and have the server send
an ordered event response to a watch (such that we can verify it’s a
response to our request), that would be sufficient (because the event
has the etcd index in it).  Then the watch cache would hold the
response until it sees a the result of its ping returned in the
response.  Multiple such simultaneous requests can be batched an

[2018-06-06 17:08] xiang90 commented on #59848
/cc @smarterclayton @wojtek-t @jpbetz

[2018-06-06 17:34] jpbetz commented on #59848
We'll have a look and propose a fix.

[2018-06-06 17:44] #51747 closed

[2018-06-06 17:45] janetkuo commented on #55159
StatefulSet uses the following code to construct its history object (controllerrevision):
https://github.com/kubernetes/kubernetes/blob/296bc649241a20294da11000c6c6e82cca280c81/pkg/controller/history/controller_history.go#L250-L260

However, collisionCount shouldn't be blindly increased when there's name collision. Because controller uses a cache store, the name collision could be due to a control

[2018-06-06 17:49] AishSundar commented on #64789
I see the GKE tests cleaning up in the [master-blocking suite](https://k8s-testgrid.appspot.com/sig-release-master-blocking). [1.11 branch](https://k8s-testgrid.appspot.com/sig-release-1.11-blocking) still doesn't seem to have the change (will have to wait for cutover?). The fix looks promising. Will wait for a couple more runs before I close

[2018-06-06 17:55] xiang90 opened #64843 "feature request: eviction priority within same priority class"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Let's assume we have two teams managing production services and batch-jobs respectively. This case is artificial, but it can still demonstrate the problem well.

### We want to ensure the production team can:
preempt the batch jobs when there is no enough resources

To achieve this, we can define two priority class as

[2018-06-06 18:05] #64722 closed

[2018-06-06 18:18] AishSundar opened #64845 "[Failing Test] : [k8s.io] Sysctls tests failing release-upgrade test suite"
## Failing Jobs
* [gce-1.10-master-upgrade-cluster-parallel)](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)

This job tests upgrading master and node, in gce(gci), from 1.10 to master, run parallel tests only.

## Error Logs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-paral

[2018-06-06 18:21] sjenning commented on #64845
/sig node
/assign @ingvagabund

[2018-06-06 18:34] AishSundar commented on #64845
/status approved-for-milestone

[2018-06-06 18:37] sjenning commented on #64845
It seems the old tests are running against the new code.  Line number align with `test/e2e/common/sysctl.go` *before* the PR.

[2018-06-06 18:39] liggitt commented on #64845
@ingvagabund can you open a PR against release-1.10 gating the tests using the alpha annotations from running on 1.11.0-alpha.0 or newer?

[2018-06-06 18:40] liggitt commented on #64830
client-side validation is not exhaustive. it primarily ensures the fields names and types in the yaml file are valid.

[2018-06-06 18:45] mikedanese commented on #64791
While I'm not necessarily opposed to adding user-agent to the audit log, I'm not convinced by the motivating example. Why not run each e2e test with a different service account?

[2018-06-06 18:47] liggitt commented on #63714
fixed in https://github.com/kubernetes/kubernetes/pull/64235

last occurrence seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64723/pull-kubernetes-e2e-gce/39485#sig-api-machinery-garbage-collector-should-delete-pods-created-by-rc-when-not-orphaning-conformance which was prior to that PR merging

[2018-06-06 18:47] #63714 closed

[2018-06-06 18:51] liggitt commented on #64823
duplicate of #61780, fixed in 1.10.1

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#changelog-since-v1100

/close

[2018-06-06 18:51] #64823 closed

[2018-06-06 18:51] liggitt commented on #64830
/close

[2018-06-06 18:51] #64830 closed

[2018-06-06 18:53] liggitt commented on #64826
thanks for the report. please open issues for the kubernetes.io website at https://github.com/kubernetes/website/issues

/close

[2018-06-06 18:53] #64826 closed

[2018-06-06 18:55] liggitt commented on #64825
this is working as designed.
* specifying `mountPath: /root` shadows whatever other content exists at `/root`
* configmap volume mounts are read-only

if you want to mount a specific file from the config map, and leave the rest of the /root folder writeable, you can do this:

[code]

[2018-06-06 18:55] liggitt commented on #64825
/close

[2018-06-06 18:55] #64825 closed

[2018-06-06 18:55] liggitt commented on #64821
/sig cli

[2018-06-06 19:06] ingvagabund commented on #64845
Once again, what is the purpose of the test?

[2018-06-06 20:02] jberkus commented on #64845
It's an upgrade test.  Not sure what else you need to know?

[2018-06-06 20:03] ravisantoshgudimetla opened #64849 "checkLimitsForResolvConf spamming events and logs"
**What happened**:
We noticed that https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1386 is causing lot of unwanted events and spamming the logs since it is checking for every 30 seconds. Curious, why it is set that way?

While we understand that it is an important check, we could

- Check for the same at pod create and update events(https://github.com/kubernetes/kubern

[2018-06-06 20:06] liggitt commented on #64845
in general, the upgrade tests ensure function as exercised in the previous release doesn't regress. the falls apart when the function being tested is explicitly deprecated/dropped in the next version (like these alpha-level annotations). in those cases, we have to fix the previous release branch's tests with magic knowledge from the future.

[2018-06-06 20:21] bsalamat commented on #57471
Priority and preemption has been moved to Beta in 1.11.

Rescheduler is not completely removed in 1.11, but it is used only to create room for critical DaemonSet pods. Other critical pods in the system must use priority and scheduler will be responsible for scheduling them.

[2018-06-06 20:21] AishSundar commented on #64845
@ingvagabund may be this helps - https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#version-skewed-and-upgrade-testing

As part of upgrade testing we ensure (among other things) "A newer version of the whole cluster with older tests (e.g. that a cluster upgraded---master and nodes---to v1.3 still passes v1.2 tests)."

So if I am reading this correctly, "gce-1.10-ma

[2018-06-06 20:22] luxas commented on #64816
Please reopen this in kubernetes/kubeadm if `ci-cross/latest` does not work. See the release note of https://github.com/kubernetes/kubernetes/pull/63504 for more information on the (breaking) change

[2018-06-06 20:35] JannikZed commented on #41881
Same here, we would love to see the wildcard in the path variable like `/index-*` ..

[2018-06-06 20:40] krzyzacy commented on #64845
I mean if a feature is deprecated, it should handle the deprecation in tests as well. Aka what's the intended behavior if you have feature foo enabled in 1.10 and that's deprecated on 1.11?

[2018-06-06 20:45] liggitt commented on #64845
at some point, deprecated function gets dropped. for example, root proxy paths deprecated in 1.2 and dropped in 1.10 required back-patching 1.9 tests that were gamely ensuring the deprecated function kept working

in this case, the thing that got dropped was an alpha annotation, which can be dropped without a deprecation period. in my opinion, tests exercising alpha features shouldn't be part of u

[2018-06-06 20:50] redbaron commented on #46041
/remove-lifecycle stale

[2018-06-06 20:53] dims commented on #64845
@krzyzacy the tests in 1.10 branch is running against master. the master changed sysctl stuff from annotations to master, so it will fail.

[2018-06-06 20:54] BenTheElder commented on #64845
yes, please 👍

[2018-06-06 20:58] wojtek-t commented on #59848
@lavalamp 5 releases ago or sth like that :)

That's interesting - I'm wondering what's the cost of listing 1 (or 0) elements from etcd.
@xiang90 - is that proportional to amount of returned elements? Or does it still copy/read all elements that would be returned if no limit is set.

@lavalamp - not sure if I understand that. Watch cache is per API type and is watching all objects of a given type.

[2018-06-06 21:20] thockin commented on #63821
Can you please

[2018-06-06 21:20] #63821 closed

[2018-06-06 21:29] thockin commented on #64743
In the past there were kernel bugs that caused this, specifically with the default network driver and kubelet's `--hairpin-mode` flag set to "hairpin-veth".  We use "promiscuous-bridge" instead.  That said, this is a kernel bug, not a kube bug.

[2018-06-06 21:35] msau42 opened #64853 "Use podExec instead of ssh for local PV tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
ssh access may be removed in the future

[2018-06-06 21:37] saad-ali opened #64854 "CSI Block Implementation sets path to dir not file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Reported by @cduchesne

The current CSI in-tree plugin sets the `TargetPath` to a directory, e.g. `/var/lib/kubelet/pods/f01d8107-69cd-11e8-85a4-0cc47ac6c23c/volumes/kubernetes.io~csi/pv-block/mount` when calling `NodeStageVolume` or `NodePublishVolume`.

**What you expected to happen**:

Block devices are files, so the t

[2018-06-06 22:01] bsalamat commented on #64685
Kube-scheduler never had the feature to dynamically load changes to its policy ConfigMap. We had a plan to implement this feature, but it is not implemented yet. If you change the policy ConfigMap, you must manually restart the scheduler for the new changes to take effect.

[2018-06-06 22:35] JacobJakub commented on #30606
:+1:

[2018-06-06 22:37] janetkuo opened #64857 "`schedulerName` of DaemonSet pods should not be default-scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Create a DaemonSet. It'll create pods with schedulerName=default-scheduler. However, the DaemonSet pods aren't actually scheduled by default-scheduler but DaemonSet controller.

@k82cn

[2018-06-06 22:41] paulgmiller commented on #54932
This seems related to https://github.com/kubernetes/kubectl/issues/59. In general what's the right way to wait for a specific results of an apply. Just getting the latest revision isn't really reliable. @jekohk suggestion to pass something to change cause would work or having apply return some identifier (revision guid) to monitor would be fine to. Maybe there's some guidance I am missing.

https:

[2018-06-06 22:42] travisghansen commented on #62742
Yes, I've got the same behavior going on  as described...note that I tried with `|`, `|-`, `>`, and `>-` and all produced the same issue.

[2018-06-06 22:45] nelsonfassis commented on #33777
@k82cn
[code]
My resources on one of my nodes (they are all pretty much the same)
[code]

It doesn't make sense to use the POD Limit, which should kill my pod in case of memory leak or some abnormal CPU usage, to limit POD scheduling. If I have 100 pods with each of them have one limit, is very unlikely that they will all be running at its peak limit at the same time. Kubernetes should know about

[2018-06-06 22:52] tallclair commented on #64791
Would it make sense to add the user agent to the UserInfo.Extra values? https://github.com/kubernetes/kubernetes/blob/c2e3d0526d788ae3792626bbc165101b8f5ada8e/staging/src/k8s.io/api/authentication/v1/types.go#L98

Where ever it is, we should make it clear that it's for debugging only, and not secure (trivial to spoof)

[2018-06-06 22:57] liggitt commented on #64791
I don't think a user-controlled value belongs in that data. In the audit event in some way makes sense to me

[2018-06-06 23:00] tallclair commented on #64801
No. Discussions are underway ([wg-policy](https://github.com/kubernetes/community/tree/master/wg-policy)) about what should be a native policy vs. a policy DSL (e.g. OPA/rego). Any progress on PodSecurityPolicy is blocked on that guidance.

[2018-06-06 23:19] thockin commented on #64668
Some clouds (e.g. GCP) allow this by using the same IP on 2 different Services, but it is not part of the portable Kubernetes feature set.

I guess I am not against the general idea - the git HTTP vs SSH model is a good example - but I am not sure "adding a service IP as an endpoint" is how I would model it.

If we went this route, it feels like a mux or a meta-service.  Allocate an IP with multip

[2018-06-06 23:21] thockin commented on #64586
Can you prove it is hitting DNS and getting a response?  e.g. can you tcpdump a DNS query?

[2018-06-06 23:27] thockin commented on #64497
What do you mean reporting unhealthy?

Can you access your Service directly on service port 80?

Can you access it on the NodePort?

Does your ingress controller return 200 for / ?

[2018-06-06 23:33] nicksardo opened #64858 "GCE: Call operations are not checked for errors"
/kind bug

**What happened**:
1. Create a manual network and subnetwork
2. Attempt to delete the network using the generated cloud client.
3. Observe that the call will return err=nil
4. Observe that the network still exists.

The final operation indicated an error occurred but the client did not say that.
[code]

/sig gcp
/assign nicksardo bowei
/cc @MrHohn @rramkumar1

[2018-06-06 23:37] lavalamp commented on #64791
I think it would be good to include User-Agent in some way; I've found user
agent to be invaluable in tracking down the source of requests. It used to
be printed in api logs by default, but we booted those to V(3) and now it's
not findable anywhere--even if we have audit logs.

It's definitely trivial to spoof, but in the common case it is immediately
enlightening.

On Wed, Jun 6, 2018 at 3:58 PM

[2018-06-06 23:37] thockin commented on #64464
The `[R.]` is a RST - are you sure your mysql is actually accept()ing ?  Can you capture with MAC addresses?

[2018-06-06 23:37] lavalamp commented on #64791
We could list it as "claimedUserAgent" or something to make it clear it's
not been scrutinized.

On Wed, Jun 6, 2018 at 4:36 PM Daniel Smith <dbsmith@google.com> wrote:

[2018-06-06 23:38] thockin commented on #64455
@372046933 can you please open this against github.com/kubernetes/dns instead?

[2018-06-06 23:38] #64455 closed

[2018-06-06 23:44] thockin commented on #64448
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

This is not a generic network problem since thousands of clusters are running just fine.

[2018-06-06 23:44] tallclair commented on #64003
Does the file name matter? If not, could we just require plugins to choose a dynamic name (e.g. append a random ID). Or does it need to be stable across restarts (could use hash of binary, etc.)?

[2018-06-06 23:47] thockin commented on #64299
Not a bug - the flag is being canonicalized.  You can see this:

[code]

[2018-06-06 23:47] #64299 closed

[2018-06-06 23:49] thockin commented on #64197
The trailing dot is the canonicalized form of the domain and is strictly correct.

The fact that your resolv.conf doesn't work is something else entirely.  Are you passing DNS flags to kubelet?

[2018-06-06 23:49] #64197 closed

[2018-06-06 23:51] jingax10 commented on #64464
@qingsongli1979 Thanks for reporting the issue. I have a few questions and requests regarding your setup:

- On GCP, .1 address is reserved for gateway. Does your host really have IP as 10.44.0.1?
- When to run tcpdump, could you please add -ne option to show numerical port and MAC address?
- When curl from host to failing pod, could you please run multiple tcpdump at eth0, cbr0, failing pod's vet

[2018-06-06 23:52] thockin commented on #64193
Try running kube-proxy with `--v=4` and it will dump the full command it is executing

[2018-06-06 23:52] verult commented on #59670
/remove-lifecycle stale

[2018-06-06 23:53] thockin commented on #63948
kube-up is effectively deprecated.  Do we really need this?

[2018-06-06 23:54] thockin commented on #63900
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2018-06-06 23:55] thockin commented on #63900
@johnbelamaric

[2018-06-06 23:56] thockin commented on #63888
This is not a bug or issue with Kubernetes.  I suggest taking this kubernetes-users mailing list or stack overflow where it will reach more people.

[2018-06-06 23:56] #63888 closed

[2018-06-07 00:00] thockin commented on #63867
Can you say what the problem actually is?  The only hint here is "Because the permissions set basically only allows the root user to access/modify the resolv.conf file" but that's not true in general.

[code]

[2018-06-07 00:02] thockin commented on #63754
Hi,

Is your external DNS actually configured?  Declaring a host in Ingress doesn't actually configure DNS for it.

[2018-06-07 00:02] #63741 closed

[2018-06-07 00:05] k82cn commented on #64857
If the "schedulerName" is empty, apiserver will set the default value to "default-scheduler". To avoid the confusion, I think we can let DaemonSet set this field (for example 'ds-controller') when creating the DaemonSet pods, WDYT?

[2018-06-07 00:06] thockin commented on #63729
The only way we could MAYBE do something like this would be statically.  E.g. if you want the service to use pods labelled `app=myapp` before using `app=emergency-backup`, the iptables rules at any given point in time would EITHER send all traffic to `app=myapp` OR send all traffic to `app=emergency-backup`.  The trigger for the decision would be whether the set of pods labelled `app=myapp` was em

[2018-06-07 00:08] thockin commented on #63581
Can you post your `iptables-save` ?

I assume you are accessing a node that actually has a backend for that Service on the node?

[2018-06-07 00:09] thockin commented on #63567
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2018-06-07 00:10] tabossert commented on #61625
Lots of ELB's get expensive, this feature would simplify and save people lots of money.

[2018-06-07 00:11] sbisl commented on #53392
@mgdevstack I've created the PriorityClass and deployed the pod with the specified PriorityClass. The pod is getting created. I'm wondering is there any way to check the PriorityClass of the pod either in UI or CLI? The steps you've shown is giving me the same result. Can you please help me ? Thanks in advance.

[2018-06-07 00:12] thockin commented on #63124
Linux will show the IPV6 line even when it is listening on IPv4.  It's weird but I see the same on my very functional v4 cluster on machines that have v6 enabled.

[2018-06-07 00:12] #63124 closed

[2018-06-07 00:14] thockin commented on #63301
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2018-06-07 00:14] thockin commented on #63296
Pods either don't have hostnames, or their hostname was set explicitly and is therefor available through `hostname -f`

[2018-06-07 00:14] #63296 closed

[2018-06-07 00:15] figo commented on #64003
@tallclair good question, Tim, i don't think plugin watcher is looking for any particular socket file name,  the same in restart case,  the downside of using random name is maybe: it will make debugging harder if two or more socket files using same prefix (plus random ID), thanks

[2018-06-07 00:18] wgliang commented on #64849
/assign

[2018-06-07 00:18] wgliang commented on #64849
I can help fix it.

[2018-06-07 00:54] BenTheElder commented on #60726
FWIW test-infra long since removed all usage the scheduling hack of using a
node port, so we're not blocked on this.

On Wed, Jun 6, 2018, 5:52 PM fejta-bot <notifications@github.com> wrote:

[2018-06-07 01:04] PaulFurtado commented on #59456
@hoffer2github were you able to resolve your issue? My team was facing the same problem, except it was taking 2 hours for the terminated pods to disappear. It turned out that this was due to setting `--minimum-container-ttl-duration=2h` on kubelet, and kubelet considered the pod to "exist" so long as any of its former container IDs still existed in the docker daemon.

[2018-06-07 01:05] PaulFurtado commented on #59456
Also, the issue affected any pod with an init container, not just statefulsets. We had run with `--minimum-container-ttl-duration=2h` for many months on kubernetes 1.7 without this issue, so we had a hard time tracking down what was going on on kubernetes 1.8.

[2018-06-07 01:07] rohfle commented on #64790
Since User-Agent is a HTTP header itself, would it be better to create descriptive headers specifically and then log all headers in audit logs?

Something like:
[code]

[2018-06-07 01:16] jingax10 commented on #64464
@qingsongli1979 It appears to me MAC table in cbr0 may mess up and it needs packet egress from the pod to restore MAC table to a good state on behalf of that pod.

Could you please also run

``brctl showmacs cbr0``

before (from host to failing pod) and after (from failing pod to host) to verify the above theory? Thanks!

[2018-06-07 01:46] MIBc commented on #63567
Iperf creates two tcp connections when run tcp case. May be it is not a suitable way to use k8s iptables mode service.

[2018-06-07 01:47] feiskyer opened #64861 "Windows dns is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

PR #64189 tries to reduce CNI calls for sandboxed containers:

case is for Windows Server 2016 and for Windows Server version greater
than 1709 which use Hyper-V containers. Currently, the CNI on Windows fetches the IP from the containers within the pods regardless of the mode. This should be done only
in the non-sandbox

[2018-06-07 01:49] sudeeshjohn commented on #64816
ci-cross/latest didnt help

[code]

[2018-06-07 01:49] sudeeshjohn commented on #64816
/sig kubeadm

[2018-06-07 01:53] godliness commented on #63190
I also meet the same problem.

[2018-06-07 02:03] feiskyer commented on #64188
Reopen this because of https://github.com/kubernetes/kubernetes/pull/64862

[2018-06-07 02:17] GodQ opened #64863 "The format of docker version is not so good"
**What happened**:
The format of docker client version is not so good
`$ docker version
Client:
 Version:       17.12.1-ce
 API version:   1.35
 Go version:    go1.9.4
 Git commit:    7390fc6
 **Built: Tue Feb 27 22:13:43 2018**
 OS/Arch:       linux/amd64

Server:
 Engine:
  Version:      17.12.1-ce
  API version:  1.35 (minimum version 1.12)
  Go version:   go1.9.4
  Git commit:   7390fc6
  Buil

[2018-06-07 02:27] msenmurugan commented on #63935
@hzxuzhonghu Based on the below description from your link, it looks like an issue.

command - string array

Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME

[2018-06-07 02:54] yyb196 commented on #1615
@verb you said that "Docker 1.12.x doesn't support shared pid and it cannot be enabled" but i found that docker-1.12.0 has supported share pid name between containers. refer to https://github.com/moby/moby/pull/22481 . Is there a bug which stop we using it at veraion 1.12.x?
Any feedback will be appreciate.

[2018-06-07 02:56] #56348 closed

[2018-06-07 02:56] #62296 closed

[2018-06-07 02:58] feiskyer opened #64864 "Setup docker container's dns directly instead of rewriting resolv.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Since #29378, kubelet rewrites container's resolv.conf for setting DNS servers and search domains. This is because Docker 1.12 contains feature "The option --dns and --net=host should not be mutually exclusive"

But it works now since docker v1.13, e.g.

[code]

We should consider replacing the rewriting logic after deprecated dock

[2018-06-07 03:12] stewart-yu commented on #61630
fix it now, close it
/closed

[2018-06-07 03:13] stewart-yu commented on #61630
/close

[2018-06-07 03:13] #61630 closed

[2018-06-07 03:16] stewart-yu commented on #64735
/sig node
cc @kubernetes/sig-node-test-failures

[2018-06-07 03:39] khenidak commented on #64586
Can we try the following

1. Test if service selector are working
`
kubectl get endpoints kube-dns
`

2. does the pod actually work?
`
kubectl exec --namespace=kube-system $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name) -c kubedns -- nslookup google.com 127.0.0.1

kubectl exec --namespace=kube-system $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name) -c

[2018-06-07 03:48] khenidak commented on #63462
are you referring to `host: nnn` in spec?
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods

[2018-06-07 03:51] khenidak commented on #62463
@KarthikeyanBrigita
There can be a number of problems that can cause this. Can you describe the environment in which your cluster is running? Can you actually curl the UI from the master node?

[2018-06-07 03:53] mandarjog opened #64866 "TLS client certificate for http health probes"
HTTP health probes do not support uploading client certificate(s), or present a client certificate.

When Mutual TLS is enabled between PODs, the http prober cannot make a successful connection to the health check port. This is an issue in [istio mTLS](https://istio.io/docs/concepts/security/mutual-tls/)

This necessitates workarounds such as maintaining a separate non mutual TLS health port.

/ki

[2018-06-07 04:02] mkumatag commented on #64816
/open

[2018-06-07 04:02] mkumatag commented on #64816
/reopen

[2018-06-07 04:03] mkumatag commented on #64816
/assign

[2018-06-07 04:03] mkumatag commented on #64816
/reopen

[2018-06-07 04:10] mkumatag commented on #64816
@dims @luxas any idea where these images are actually located?

[code]

[2018-06-07 04:14] verb commented on #1615
@yyb196 yes, have a look at https://github.com/kubernetes/community/pull/207#issuecomment-281870043

[2018-06-07 04:27] thockin commented on #63567
Should be fine if they are the same port or both ports are in the Service.

On Wed, Jun 6, 2018, 6:46 PM Lv Jiawei <notifications@github.com> wrote:

[2018-06-07 04:29] khenidak commented on #62310
I think this is either an issue with calico and/or kubeadm. @thockin can we label accordingly?

[2018-06-07 04:31] khenidak commented on #61989
could this be possible a dns issue with your network? node name resolution is usually done outside kubernetes.

[2018-06-07 04:35] #64647 closed

[2018-06-07 04:39] mandarjog commented on #64866
@kubernetes/sig-api-machinery   @lavalamp

[2018-06-07 04:50] lavalamp commented on #64866
/sig node

I think node owns the health checking API.

[2018-06-07 05:28] JoshuaAndrew commented on #64685
@bsalamat
okay, I see
I can implement this feature in the next release.

[2018-06-07 05:35] cristifalcas commented on #59326
Is this fixed, or we still can't create deployments with multiple volumes?

[2018-06-07 05:51] m1093782566 commented on #61390
What's the current UT coverage number?

[2018-06-07 05:56] #57232 closed

[2018-06-07 05:56] m1093782566 commented on #60161
It should be fixed by #63319.

I am going to close this issue. Please feel free to re-open if you still have the troubles when you check out the HEAD.

[2018-06-07 05:56] m1093782566 commented on #60161
/close

[2018-06-07 05:56] #60161 closed

[2018-06-07 06:28] Lion-Wei commented on #61390
Current is 50.2%.

[2018-06-07 06:30] m1093782566 commented on #61390
So, can we achieve 70%?

[2018-06-07 06:37] feiskyer commented on #47733
@r-moiseev  The issue of Azure cloud provider has been fixed in v1.9.6 and v1.10.x. There're no such events now with new versions.

[2018-06-07 06:38] feiskyer commented on #47733
Removing sig/azure label since its issues have already been fixed.

By the way, are there still issues with aws?

[2018-06-07 06:47] warmchang commented on #60031
/remove-lifecycle stale

[2018-06-07 06:58] warmchang commented on #60031
sorry, it's duplicate with https://github.com/kubernetes/kubernetes/issues/51017 and can be close.

[2018-06-07 07:03] Lion-Wei commented on #61390
Yeah, we can do that, and that's definitely necessary.

[2018-06-07 07:14] huangyanhong opened #64869 "node down ,statefulset can't create a replacement Pod with that same identity on the other nodes;"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: I use k8s 1.8.4
 I create statefulset by  https://www.kubernetes.org.cn/statefulset, create storage-class using the ceph rbd,then reboot the node running the statefulset,
 the node can‘t shutdown
showing:
blocking unmount of
the /var/lib/kubelet/plugins/kubernetes.io/rbd/rbd/rbd-image-kubernetes-dynamic-pvc-d40dce8f-698a-11e8-9650-0

[2018-06-07 07:40] nikhita commented on #53503
/remove-lifecycle stale

[2018-06-07 07:42] DemonZSD commented on #37546
try the cmd `umount $(df -HT | grep '/var/lib/kubelet/pods' | awk '{print $7}')`

[2018-06-07 07:53] feiskyer commented on #63155
This is expected behavior. If there's something wrong when provisioning load balancer, controller manager will emit the warning event and then retry again.

[2018-06-07 07:56] feiskyer commented on #63155
@novaterata Checking service's events is a working way, but I suspect a timeout is still required because the provision may success on retry.

[2018-06-07 08:00] feiskyer commented on #51322
@narasi Has the issue solved now? I suspect nodes have been configured with overlapped podCIDRs for such cases. The pod CIDR could be checked by `kubectl get node -o jsonpath='{.items[*].spec.podCIDR}'`

[2018-06-07 08:15] wojtek-t commented on #64774
If you can explain why this works now and didn't work before, I'm fine - otherwise there is a risk that it may e.g. be flaky. We should understand it before blindly changing that.

[2018-06-07 08:32] gurvindersingh commented on #59629
So is there any work going to fix this behavior in 1.11 or the current workaround of having this `"NVIDIA_VISIBLE_DEVICES": ""` is the only solution going forward.

[2018-06-07 08:43] nikhita commented on #64612
To clarify: we'll need to fix this on our side, right? Asking the upstream maintainer to support case-sensitivity when Go's `Unmarshal` doesn't - seems too much to ask. :)

[2018-06-07 08:46] wojtek-t commented on #64774
OK - so I've run it and catched that pod for you.
The reason why it is crashlooping is the following log:
[code]

It just can't initialize itself due to too long argument list.

@chrisohaver - So I think that the fix should be different.
Apparently we are not able to have that many services in a single namespace, because env vars that we provide for all pods (with services from that namespace) are

[2018-06-07 09:03] pires commented on #23291
@git001 Ingress controllers have to resort to their own solutions to provide such functionality, e.g. [HAProxy Ingress controller uses ConfigMap](https://github.com/jcmoraisjr/haproxy-ingress#tcp-services-configmap). The desire discussed in this thread is to evolve the `Ingress` object, or create a new object, for L4 load-balancing.

[2018-06-07 09:04] shyamjvs commented on #64774
Thanks Wojtek!

And that is why I said we should make use of the experiments dns folks are
already doing, to catch that limitation (and we indeed seem to have caught
it) :)

On Thu, Jun 7, 2018, 10:47 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2018-06-07 09:06] shyamjvs commented on #64774
I'll update that discussion once the value is figured out. Btw - thanks for
digging.

On Thu, Jun 7, 2018, 11:03 AM Shyam Jeedigunta <shyamjvs@google.com> wrote:

[2018-06-07 09:09] mjaow commented on #63462
@khenidak I need to make all pods in rc have its own hostname.`host:nnn` cannot make it

[2018-06-07 09:17] pires commented on #56617
@tianshapjq unfortunately, this is more complex than it seemed at a first glance. The kubelet is not implemented to run as a container. For instance, the kubelet doesn't understand it lives within cgroup limits and reads (`/proc/meminfo`, `/proc/cpuinfo`) + reports host resources to the Kubernetes API, which means it is easily overcommitted by the scheduler.

With that said, have you tried with mo

[2018-06-07 09:17] nikhita commented on #62290
It's true for `OWNER_ALIASES` now but doesn't run presubmit tests for `OWNERS` files.

[2018-06-07 09:18] sttts commented on #64612
/cc @thockin

[2018-06-07 09:19] nikhita commented on #62290
xref https://github.com/kubernetes/test-infra/issues/8275

[2018-06-07 09:30] Arkadiusz234 commented on #60835
Have same problem with vagrant platform, any suggests how to resolve this problem ?

[2018-06-07 09:46] shaileshsutar88 commented on #64818
I was able to resolve this issue by using double dash -- like below in command
`kubectl -n example-system exec -it example-monitoring-0 -- df -kh`

[2018-06-07 09:46] #64818 closed

[2018-06-07 10:17] alexnastas opened #64872 "Kubeadm init --kubernetes-version v1.9.3 dial tcp [::1]:10255: getsockopt: connection refused"
/sig cluster-ops
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to install a cluster with Kubernetes 1.9.3 fails when trying to init with kubeadm
[root@k8s-master log]# kubeadm init --kubernetes-version v1.9.3 --ignore-preflight-errors=FileContent--proc-sys-net-bridge-bridge-nf-call-iptables
[init] Using Kubernetes version: v1.9.3
[init] Using Authorization mod

[2018-06-07 10:33] OJezu commented on #59811
We are having the issue reappear on most deployment changes. I'll grab those on next instance.

[2018-06-07 10:38] dims commented on #64816
yep. https://cs.k8s.io/?q=DefaultCIImageRepository&i=nope&files=&repos=kubernetes

[2018-06-07 11:01] #56539 closed

[2018-06-07 11:05] ingvagabund commented on #64845
@liggitt @AishSundar thanks for the explanation.

[2018-06-07 11:16] adohe commented on #38761
/assign @adohe

[2018-06-07 11:17] adohe commented on #38761
I will finish this in the next milestone.

[2018-06-07 11:17] adohe commented on #38761
/unassign @shiywang

[2018-06-07 11:29] novaterata commented on #63155
"controller manager will emit the warning event"
How would one see this event? It wasn't in the service events on the
dashboard where I saw the LB timeout occurring. The only warning was the
timeout. A log entry that mentions the azure dns label mismatch would be
adequate to close this issue for me.

On Thu, Jun 7, 2018, 3:57 AM Pengfei Ni <notifications@github.com> wrote:

[2018-06-07 11:31] chrisohaver commented on #64774
But I got it to work with 10k services in one namespace... by creating the client pod before creating the services.

On Jun 7, 2018, at 5:47 AM, Wojciech Tyczynski <notifications@github.com<mailto:notifications@github.com>> wrote:

FYI - I just run test with 5000 services and it seemed to work fine (I did just a simple thing to reduce number of services, not split them across namespaces).
So I thi

[2018-06-07 11:47] bartebor opened #64873 "CronJobs sometimes do not discard outdated jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a simple cron job scheduled for every minute with `successfulJobHistoryLimit` and `failedJobHistoryLimit` set to 1. A job sleeps 10s and succesfully exits. After some time I see jobs which should be already deleted, but they are not and hang forever. Some jobs are deleted, others do not. Each remaining job has its

[2018-06-07 11:47] MichaelSp commented on #19333
We where able to implement this using standard [nginx-ingress](https://github.com/kubernetes/charts/tree/master/stable/nginx-ingress)
[code]

[2018-06-07 11:48] hzxuzhonghu opened #64874 "apiserver timeoutHandler start too many timers"
Currently, apiserver timeoutHandler will start a new timer for each non-long running request.

And each request has a timeout duration.  So there may be thousands of requests concurrently. In other words, thousands of timers exists,  which is a waste of cpu resource.    Although [runtime.timers is just a Heap data structure.](https://blog.gopheracademy.com/advent-2016/go-timers/),  it has to maint

[2018-06-07 11:48] hzxuzhonghu commented on #64874
/sig api-machinery

[2018-06-07 11:49] hzxuzhonghu commented on #64874
cc @deads2k @liggitt @lavalamp @sttts

[2018-06-07 11:49] MichaelSp commented on #23291
Here is a working solution for SNI: https://github.com/kubernetes/kubernetes/issues/19333#issuecomment-395392064

[2018-06-07 11:57] pires commented on #23291
This is still not L4 Ingress!

[2018-06-07 11:59] jhorwit2 commented on #64863
@GodQ I notice you're using minikube, so in order to ensure your question gets answered in a timely manner please open this under that projects issue tracker: https://github.com/kubernetes/minikube/issues/

I'm fairly certain though this is a problem with docker itself and not of minikube, but i'm not familiar with their installation process to provide a definitive answer.

/close

[2018-06-07 11:59] #64863 closed

[2018-06-07 12:00] jhorwit2 commented on #64873
/sig apps

[2018-06-07 12:07] jsafrane opened #64875 "CSI: volume plugin can't recover from Pod deleted before un-mounting devices for it."
**What happened**:
Kubelet has elaborate security mechanism that prevents it from accessing PersistentVolumes that are not referenced by a running pod on the node.

So, when a pod is (forcefully) deleted, kubelet starts unmounting all CSI PVs that the pod used. `csi_plugin.TearDown` succeeds, because it stored all relevant info in a json file. On the other hand, `csi_plugin.UnmountDevice` fails, b

[2018-06-07 12:08] shyamjvs commented on #64774
@chrisohaver - IIUC that's because you created the pod even before creating the services (so it wasn't passed those service env vars while creation).

[2018-06-07 12:27] sqsw opened #64876 "Access a specific pod from external"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
We have an old service discovery system that requires process to register its ip:port during startup. On a kubernetes cluster, we exposed a service that enables NodePort. The processes within container can register to the old system with their Pod Ip:port + HostIp.

For the clients within the same kubernetes cluster,

[2018-06-07 12:47] chrisohaver commented on #64774
OK cool.  Seems  like the limit would need to be added here ... https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/thresholds.md.

Several of the entries are "per ns"  but there isnt one for services.

As an unrelated side note: I just noticed that the limit on the number of _deployments_ per ns in the thresholds doc lists 20K, with a long term goal of 10K.  Is

[2018-06-07 12:50] hzxuzhonghu commented on #64874
Not too obvious, tested with SetParallelism  5000, timingwheel is 1% less cpu usage.  But as I SetParallelism much bigger the advantage is more obvious.

Below benchmark,  `go test -bench=xxx -benchtime=10s -cpuprofile=xxx`
[code]

With `go tool pprof` analysis ,

1. BenchmarkAfter

 Duration: 29.38s, Total samples = 3.53s (12.01%)

1. BenchmarkTimeWheelAfter

Duration: 29.18s, Total samples = 3.2

[2018-06-07 13:10] dims commented on #64876
/sig network

[2018-06-07 13:11] dims commented on #64869
/sig apps

[2018-06-07 13:11] shyamjvs commented on #64774
Filed https://github.com/kubernetes/community/pull/2225 for it.

Seems so to me (should've probably been 10^5?). cc @wojtek-t

[2018-06-07 13:45] jhorwit2 commented on #64876
@sqsw How you may solve this is going to depend largely on your cluster setup. For example, if you're in a cloud that offers native routing to pod ips then this is easy, but if you're on baremetal you'll need to use something like flannel host-gw with routes setup on nodes that need to talk to pods. Another solution may be using anti-affinity to ensure only 1 pod is on a given host and use hostPor

[2018-06-07 13:45] #64876 closed

[2018-06-07 13:53] tuminoid opened #64878 "k8s's autocompletion of image url nullifies Docker configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
if you block `docker.io` in Docker config, e2e conformance tests fail as Docker cannot pull `busybox`, which Kubernetes autocompletes to `docker.io/library/busybox:latest`.

**What you expected to happen**:
Kubernetes should leave resolving default registry to Docker, and not perform "autocompletion" automatically (ie. `bu

[2018-06-07 13:54] tuminoid commented on #64878
/sig node

[2018-06-07 14:02] #64872 closed

[2018-06-07 14:58] stonefury commented on #64580
@thockin  - Yes, I later learned the the dev team uses persistent connections to the microservice, and so they only do a small number of initial connections, so statistically it was not evenly distributed.  I had them increase the front end so it would make more connections.  So this ultimately was an implementation issue on the dev side, though having round-robin would've made this a non issue fo

[2018-06-07 15:16] sneko commented on #64819
Loosing my mind 😞 ... sometimes it breaks 3 nodes within 6 hours. Anyone could help please?

[2018-06-07 16:01] liggitt commented on #37473
xref https://github.com/kubernetes/kubernetes/issues/59848

[2018-06-07 16:30] lavalamp commented on #64874
I don't think adding complexity here will pay for itself until we're serving at least 10x as many concurrent requests as we do right now-- when we're in the 10k to 50k range we can think about this, I think we're a long ways away from that.

[2018-06-07 16:35] detiber commented on #64647
@luxas The manifest images created in kubernetes/release#516 should work for future released versions, but will they be created during CI testing?

[2018-06-07 16:48] lavalamp commented on #64612
Just saw this for the first time. We have to fix this ASAP, otherwise people will depend on in and we'll never be able to fix it.

[2018-06-07 16:49] lavalamp commented on #64612
It may already be too late if this has been in two releases.

[2018-06-07 16:53] sttts commented on #64612
We found this some days ago because the client-side OpenAPI validation rejected the manifest, but the server accepted it. So at least for the kubectl based use-cases we should be fine.

[2018-06-07 16:59] k commented on #56991
@canht is there a hard limit for docker that one should set or some sort of guidelines on how to set resource limits?

[2018-06-07 17:02] parvez84 commented on #64586
Thank you all for your response,

I have part of it working ( 2/3 ) nodes. " *iptables -P FORWARD ACCEPT* "
looks to have fixed it on the working nodes . But the third node still has
issues.

Exec into the pod running on the broken node and running a traceroute.
Looks to me something is still broken on the host network.

From a working Host Pod can connect to the host network.

kubectl exec -it tc

[2018-06-07 17:08] mradmila commented on #63729
You are correct, this will not handle fully dynamic cases and won't be adaptive. But consider this: I have an expensive user adapted service which I will deploy when conditions are met (paid subscription, enough usage, etc.) and in the mean time I would like to have a generic service work for all users. So I always route there first, and then when adapted service is ready I would like it to win. S

[2018-06-07 17:27] MrHohn commented on #60897
/remove-lifecycle stale

[2018-06-07 17:56] dims commented on #64647
@detiber if you see one of the jobs that pushes images say https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-cross-build/6899/build-log.txt

you can grep for `push-build.sh::release::docker::release()` that's basically from the same files that got changed in https://github.com/kubernetes/release/pull/516 so i fully expect the images pushed to CI will reflect the changes made in

[2018-06-07 17:57] dims commented on #64647
@mkumatag please confirm that i am reading this right ^ :)

[2018-06-07 18:02] mandarjog commented on #64866
@louiscryan

[2018-06-07 18:04] apelisse commented on #13488
@gjcarneiro Yeah, the problem with @mattdodge script is that it's using apply, so the change will be saved in the lastApplied annotation. The script could be fixed by using patch or another method to update the deployment.

[2018-06-07 18:06] janetkuo commented on #64857
What's "schdulerName" for? Is it just for telling the users who scheduled this pod, or is this information used by other resources in the system?

Also, I'd expect this field to be set by schedulers. Why is it not set by default scheduler, but apiserver? How does apiserver know which scheduler does the work, if there are more than one?

Letting DaemonSet controller set this field sounds reasonable

[2018-06-07 18:07] lavalamp commented on #64612
/assign @caesarxuchao

Let's fix this ASAP.

Let's double check that we re-emitted all json before storage so we won't have a problem with unparseable stored data. Was this used for CRs?

[2018-06-07 18:31] jiayingz commented on #59629
I think we should move this issue to https://github.com/NVIDIA/k8s-device-plugin/ repo. The behavior is specific to the nvidia device plugin, with the use of "NVIDIA_VISIBLE_DEVICES" env.

[2018-06-07 18:31] nikhita commented on #64612
CRs are `Unstructured` so they will accept the json data. For validation against the schema, it **is** case-sensitive. _However_, if a field with wrong case sensitivity is provided, it will store it because we don't prune right now.

Example:

This is my CRD.

[code]
This is my CR.

[code]

- If I don't mark `cronSpec` as required in the schema, the CR is created without any errors and persists th

[2018-06-07 18:32] nikhita commented on #64612
Short answer: no :)

[2018-06-07 18:37] tallclair commented on #64790
For the sake of argument, alternative approaches that wouldn't require changes to auditing:

- Append a custom query string, which would generally be ignored but show up in the audit log URL field
- Act as a per-test service account. Requires creating the account & RBAC bindings.

However, since we want to [add user-agent to the audit logs anyway](https://github.com/kubernetes/kubernetes/pull/6481

[2018-06-07 18:38] tallclair commented on #64791
OK, I'm convinced. I think documenting that the field is spoofable is sufficient.

[2018-06-07 18:40] #61579 closed

[2018-06-07 18:56] gurvindersingh commented on #59629
As @pineking mentioned above, nvidia device plugin can solve this but its not being called when allocated resource quantity is 0. Thus it has no way of setting this variable, if we don't use the default runtime to `nvidia` its not possible for nvidia device plugin to change it on demand based on asked gpu resources due to device plugin api issue as mentioned in this [comment](https://github.com/NV

[2018-06-07 19:11] jiayingz commented on #59629
As @RenaudWasTaken mentioned in https://github.com/kubernetes/kubernetes/issues/59629#issuecomment-364430837 "this is a known shortcoming of setting the nvidia runtime as the default runtime.
If you use NVIDIA images without specifying any GPUs you will have all GPUs exposed."

For other container runtime, we don't have this issue because there will be no GPU device configured by Kubelet with limi

[2018-06-07 19:22] AishSundar opened #64887 "[Failing test] kubeadm-gce and kubeadm-gce-selfhosting are failing on release-master-blocking suite"
## Failing Jobs
* [kubeadm-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce&show-stale-tests=)
* [kubeadm-gce-selfhosting](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting&show-stale-tests=)

Error Logs

/kind bug
/priority failing-test
/priority critical-urgent
/milestone v1.11
/assign @luxas
cc @jberkus @tpepper @timothysc

Possibl

[2018-06-07 19:23] timothysc commented on #64887
@luxas - Timeline of breakage aligns with merge of https://github.com/kubernetes/kubernetes/pull/64624 , nothing else was in flight to cause it.

[2018-06-07 19:39] vishal-biyani commented on #64715
@unclewizard Have you noticed this for readiness probe as well?

[2018-06-07 19:46] gurvindersingh commented on #59629
Yeah it is a known shortcoming, but the fix as [#59269 (comment)](https://github.com/kubernetes/kubernetes/issues/59629#issuecomment-364452636) can not work because Allocate is not called when limit is 0.

I don't think disallowing zero limit will solve this issue, as nvidia container runtime will expose the devices based on env vars so if they are set in the image it will take effect and expose t

[2018-06-07 20:06] jiayingz commented on #59629
But what if containers use nvidia/cuda:8.0-cudnn6-devel-ubuntu16.04 image but not specifying "nvidia.com/gpu" resource at all?

[2018-06-07 20:06] michmike commented on #62047
@feiskyer is there another issue tracking the network stats that are left?
thanks for all the work!

[2018-06-07 20:13] dims commented on #64887
could this be the problem?

[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/10758/artifacts/e2e-10758-31d72-node-5t29/serial-1.log
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-selfhosting/367/artifacts/e2e-367-f2b95-node-mkwj/serial-1.log

[2018-06-07 20:15] dims commented on #64887
Is that's the problem, may be this will help https://github.com/kubernetes/kubernetes/pull/64889

[2018-06-07 20:16] jennybuckley commented on #64627
/cc @yliaog

[2018-06-07 20:18] jennybuckley commented on #64649
/cc @fedebongio

[2018-06-07 20:19] jennybuckley commented on #64698
/cc @jpbetz @wenjiaswe

[2018-06-07 20:28] michmike commented on #63825
fyi @PatrickLang . we will likely have to address this post 1.11

[2018-06-07 21:07] harsh-px opened #64894 "Portworx volume plugin panics when a PVC is created using a StorageClass with empty parameters"
**BUG REPORT**:

Portworx volume plugin when a PVC is created using a  StorageClass with empty parameters

/kind bug

**What happened**:

Create a StorageClass using empty parameters and then create a PVC using that storage class. The  PVC will remain in pending state. On inspecting the logs of the controller manager, we find that the portworx volume plugin is panicing.

[code]

**What you expecte

[2018-06-07 21:12] harsh-px commented on #64894
/sig storage

[2018-06-07 21:59] ixdy commented on #60863
/assign
/remove-lifecycle stale

The new `go_path` work should improve this.

[2018-06-07 22:18] jtopper commented on #60835
This happens in Vagrant if you're running a multi-box setup because the kubelet on the workers end up binding services to the wrong ethernet interface. This error is the master attempting a connection to the wrong address in order to pull logs. The fix is to modify the config for the kubelet, as described in this blog post: https://medium.com/@joatmon08/playing-with-kubeadm-in-vagrant-machines-par

[2018-06-07 22:19] pmichali commented on #63922
Fixed under https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/144

[2018-06-07 22:19] #63922 closed

[2018-06-07 22:29] caesarxuchao commented on #64612
It seems not too difficult to make jsoniter support both case-sensitive and case-insensitive: https://github.com/json-iterator/go/commit/e5a1e704add48351991a9e0d25dd2bb3ded8ad04

I'll send a patch to the upstream and let's see.

[2018-06-07 23:00] bsalamat commented on #64843
@xiang90 so you are saying that "all batch jobs are equal, but some batch jobs are more equal!" :wink:

What you are suggesting is to introduce another level of priority which is incapable of preempting other Pods, but specifies the order of preemption for victims within the same priority level. One problem that I can see with such an approach is that it will be hard to predicate the state of the

[2018-06-07 23:08] xiang90 commented on #64843
Isnt this already the case today? If you have 3 pods with the same priority class, and the cluster can only hold 2 pods. The order of submission matters.

There are some batch jobs that are more important than others. For example, a tensorflow job with 10 trainers is more important than a video encoding job, since if we disrupt one of the tensorflow trainers the entire job will be affected.

And a

[2018-06-07 23:12] xiang90 commented on #64843
I would assume that if users start to control the in class priority, they will need to understand this behavior. If they do not care, they will not specify it. Also we can find a better naming for it, `sub-priority` is somewhat confusing I agree.

[2018-06-07 23:13] #57927 closed

[2018-06-07 23:13] #57939 closed

[2018-06-07 23:13] #57815 closed

[2018-06-07 23:38] dims commented on #64887
/sig cluster-lifecycle

[2018-06-07 23:40] dims commented on #64845
we have a green run! https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/3709

[2018-06-07 23:54] liggitt commented on #64845
Sounds good

/close

[2018-06-07 23:54] #64845 closed

[2018-06-08 00:18] bsalamat commented on #64843
In the new approach the order of creation relative to an unrelated high priority job matters too. If you compare the 3 examples that I gave above, you will see that the order of creation of A and B is the same, but the state of the cluster is different, because an unrelated job C has arrived in a different order relative to A and B. This adds quite a bit to the confusion.

If preemption could calc

[2018-06-08 00:28] xiang90 commented on #64843
I wont say C is unrelated, it does change the cluster state and the scheduler state if you view a scheduling decision depends on (incoming pod, cluster state). I can provide many more cases where the ordering does matter due to randomization, packing strategy, scoring strategy, etc..

My general feeling is that the scheduling decision will not be purely orthogonal to all the dimensions.

There are

[2018-06-08 00:31] xiang90 commented on #64843
As I mentioned in https://github.com/kubernetes/kubernetes/issues/64843#issuecomment-395594562, I feel the confusion will come from the naming instead of the "nondeterministic" from the ordering perspective. And we can find a way to solve the naming issue if we agree this is something we want to support.

[2018-06-08 01:12] MrHohn opened #64899 "kubelet does not update node labels given by `--node-labels` upon node upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
From https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-latest-upgrade-kube-proxy-ds.

The kube-proxy daemonset migration test has been failing for a while, investigated it today and found the root cause that upon node upgrade, kubelet sometimes doesn't update node labels even if they are given with the `--

[2018-06-08 01:31] k82cn commented on #64843
This's a kind of `PriorityClass` level preemption flag: disable preemption for batch job, but keep priority feature (high priority has more chance to run and less chance to be killed). So the configuration maybe something as following.

[code]

[code]

[code]

In our batch system (LSF/Symphony), preemption is **not** always enabled; it's controlled by parameter: LSF is Queue level, Symphony is Job

[2018-06-08 01:38] liggitt commented on #64612
I strongly agree. Case-insensitivity is extremely problematic for API data. We were case-sensitive from 1.1-1.7, and should restore that

All native (non-CR) types marshal from go structs to storage, so all persisted etcd data was coerced to the struct tags (for those rare installations still persisting to etcd in json and not protobuf)

[2018-06-08 01:46] k82cn commented on #64857
`schedulerName` is introduced by multi-scheduler; a common case is to set it by user in `yaml`: it means this Pod should be scheduled by specific scheduler. In each scheduler (including the default scheduler), it will check whether it's responsible for the pending Pod. The default value is default scheduler :)

Sure, I'll open a PR for this :)

[2018-06-08 01:46] k82cn commented on #64857
/assign

[2018-06-08 01:48] dims commented on #64887
/status approved-for-milestone

[2018-06-08 02:12] feiskyer commented on #62047
Hmm, not yet. I updated status in trello card, but forgot to create an issue here. Let me file one

[2018-06-08 02:14] dims commented on #64887
/reopen

let's wait for a green run and then close this

[2018-06-08 02:18] feiskyer opened #64901 "Add network stats for Windows containers"
PR #62266 adds kubelet stats for Windows pods/containers, e.g.

[code]

But there's still no network stats for pods and containers. We should figure out how to fix that.

/sig windows
/kind bug

cc @michmike @PatrickLang @madhanrm @dineshgovindasamy

[2018-06-08 02:26] feiskyer commented on #63155
In service events, e.g. `kubectl describe service <service-name>`.

I think there's already a log entry, but that's not user fencing (you can't expect helm to depend on it).

[2018-06-08 02:36] liggitt commented on #64899
Duplicate of #18394

See also https://github.com/kubernetes/kubernetes/issues/18307 for data loss problems caused by kubelets acting as though they own their own labels

See also https://github.com/kubernetes/community/issues/911 for security/isolation problems caused by kubelets being able to self-label

/close

[2018-06-08 02:36] #64899 closed

[2018-06-08 02:48] xiang90 commented on #64843
@k82cn

Adding a `preemptor` annotation is a good idea. But what if we have more than two priority classes.

[2018-06-08 02:58] feiskyer commented on #64744
Fixed by #64749

[2018-06-08 02:58] #64744 closed

[2018-06-08 02:59] michmike commented on #62047
thanks!

[2018-06-08 03:17] #57878 closed

[2018-06-08 03:18] liggitt commented on #64875
Duplicate of https://github.com/kubernetes/kubernetes/issues/63827?

[2018-06-08 03:21] feiskyer commented on #62047
opened https://github.com/kubernetes/kubernetes/issues/64901

[2018-06-08 03:28] andyzhangx commented on #54610
@arsalans looks like I need to document this somewhere, you still need to use PV/PVC to set mountOptions:
[code]

[2018-06-08 03:29] openstacker commented on #44165
I can reproduce this with v1.9.3 when creating 3 masters at the same time, just FYI.

[2018-06-08 03:39] feiskyer commented on #64594
@kargakis How the cluster managed? is it a AKS or acs-engine cluster?

Looks same with https://github.com/Azure/AKS/issues/399 and it's been fixed in newer versions.

[2018-06-08 03:41] derekwaynecarr commented on #64878
@tuminoid

Red Hat is aware of this issue and are trying to determine an appropriate course of action in our OpenShift distribution of Kubernetes.  The challenge is that the client library (used in the kubelet dockershim) is manipulating the name before sending it to the docker daemon which is nullifying your `registries.conf` configuration on that local node.

For reference, if you use the `cri-o

[2018-06-08 05:47] utsav2307 opened #64905 "accessing a daemonset service"
I have a proxy caching service running as a DaemonSet on all minions, which I have put behind a service.
Now, if i put externalTrafficPolicy=Local and a NodePort in the service, and a pod in a minion calls DaemonSetServiceIP:NodePort, will the request go to the daemonset pod on that minion or it can be sent to other node as well?

[2018-06-08 06:00] k82cn commented on #64843
More batch-job priority classes? You create as many priority classes you want :) , `preemptor` means whether pod using this `PriorityClass` should preempt resources.

If more catalogs of priority classes, e.g. `prod`, `staging`, `batch`, that's the fine-grained preemption mentioned above; one solution is to use candidate list, e.g. `prod` can preempt `staging` and `batch`. Only both candidate list

[2018-06-08 06:18] xiang90 commented on #64843
@k82cn

As long as we have a way to separate the priority or ability of being evicted and to evict (which you proposed as preemptor list and preemptable list), from functionality point of view, it is good enough for us.

But from management point of view, we might end up with having a lot of priority classes for just defining the being eviction ordering...

I, personally, still feel it is easier t

[2018-06-08 06:44] tuminoid commented on #64878
@derekwaynecarr Thanks for the update. I based my title on this comment: https://github.com/kubernetes/kubernetes/issues/52110#issuecomment-332427139 instead of looking at the actual code, so I wrongly assumed it was kubelet/k8s itself being too helpful.

Any idea of the RH ticket number and if this will be fixed in Docker(shim) and not just OpenShift?

Also, for completeness sake, error message a

[2018-06-08 07:01] krmayankk commented on #64905
the DaemonSetServiceIP:NodePort can go to any of the daemonset pod on any minion. There was recently a proposal for node local services which didn't make a lot of progress. I will let @thockin give a better answer.

[2018-06-08 07:05] wenlxie opened #64908 "Needs about 10s time to schedule a pod"
**What happened**:
our cluster has about 10k pods and 1k nodes
When I try to create 200 pods , which is in the same namespace and all have inter-pod anti-affinity rules.
That namespace already have 1.5k pods, which have inter-pod anti-affinity rules too.
Then i found that it takes about 10 seconds to schedule 1 pod.
So some pods need to wait 30 minutes to be scheduled

**What you expected to happe

[2018-06-08 07:06] wenlxie commented on #64908
@k82cn @liggitt  PTAL

[2018-06-08 07:19] CaoShuFeng commented on #64908
Will multi-scheduler help?

https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/

[2018-06-08 07:20] liggitt commented on #60511
see https://github.com/kubernetes/kubernetes/pull/64907 for a potential mechanism for safely tightening validation (should only be used in cases where existing loose validation allows completely broken objects). if that is merged, that could be used to improve validation here

[2018-06-08 07:21] #48656 closed

[2018-06-08 07:32] ShuYingya commented on #61259
any update about this? seem like we should update pvc.status.capacity after finishing volume expansion?

[2018-06-08 07:37] k82cn commented on #64843
So there'll be also a priority for "production", that means hierarchical priority classes? Is preemption enabled within production by priority?

[2018-06-08 07:48] hzxuzhonghu opened #64909 "etcd healthcheck is too simple"
currently, the etcd healthcheck is too simple. It only checks tcp connection https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/preflight/checks.go#L65.

I think we can enhance it the way etcdctl does.
etcdV2:  Get(url + "/health")
https://github.com/coreos/etcd/blob/6e39a39e3a0fb4258ed65e781e5d65849ee25d48/etcdctl/ctlv2/command/cluster_health.go#L8

[2018-06-08 07:49] hzxuzhonghu commented on #64909
/kind enhancement

[2018-06-08 07:57] kargakis commented on #64594
I think it's AKS but @CecileRobertMichon can confirm.

On Fri, Jun 8, 2018, 06:41 Pengfei Ni <notifications@github.com> wrote:

[2018-06-08 08:07] wgliang commented on #64908
@wenlxie
We can speed up the read operation by the concurrent read feature of sync.RWMutex. If you have test environment, please checkout the #64910 code.

[2018-06-08 08:08] liggitt commented on #64857
Isn't scheduler name ignored when spec.nodeName is set?

[2018-06-08 08:29] k82cn commented on #64843
PriorityClass is used for a group of pod based on your biz; and for the list, we can leverage label + selector to avoid hierarchical :)

[2018-06-08 08:47] kargakis opened #64912 "Figure out what's the best path for delivering cloud config in nodes"
I feel that similar to how node bootstrapping and dynamic kubelet config work today, it would be nice to provide a similar mechanism for serving cloud provider config from the API server. Or maybe there is a better option.

Today we have the following options:
1. lay the extra config inside the machine (prebaked in the VM image)
2. lay the extra config inside the machine (during startup of the VM)

[2018-06-08 08:52] wenlxie commented on #64908
/sig scheduling

[2018-06-08 08:54] wojtek-t commented on #64774
Yeah - I think two values are incorrect wrt it:
- pods/namespace - I think we've never run 15k
- deployments/namespace - it doesn't make much sense to support more deployments than pods
Will send out a PR for it.

[2018-06-08 09:07] jsafrane commented on #64875
Yes, i'm sorry for the noise.

/close

[2018-06-08 09:07] #64875 closed

[2018-06-08 09:10] jsafrane commented on #63827
CSI plugin stores all necessary info in a json file for `SetUp`/`TearDown` so it does not need PV / Pod present at unmount time. It should do the same for `MountDevice` / `UnmountDevice`. See https://github.com/kubernetes/kubernetes/pull/64882

[2018-06-08 09:13] patricks opened #64913 "`hack/generate-docs.sh`doesn't build on macOS 10.14 Mojave"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig Docs

**What happened**:
The `hack/generate-docs.sh`doesn't build on macOS 10.14 Mojave.

**What you expected to happen**:
The script should generate the docs.

**How to reproduce it (as minimally and precisely as possible)**:
run `hack/generate-docs.sh` on macOS 10.14 Mojave.

**Anything else we need to know?**:

**Environment**:
- Ku

[2018-06-08 09:48] dims commented on #64887
/assign

[2018-06-08 09:48] dims commented on #64887
/reopen

[2018-06-08 09:48] dims commented on #64887
/unassign

[2018-06-08 09:49] dims commented on #64887
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce&show-stale-tests=
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting&show-stale-tests=

both jobs are better now (past the failure where they keeled over before the test suite started). But both seem to have some test failures

[2018-06-08 10:34] kvaps commented on #20352
/reopen
Issue still there

[2018-06-08 10:48] yastij commented on #60001
@bgrant0607 - in kubernetes/community#1937 we are extracting a binding structure that allows cluster-scoped (or let's say non-namespaced) policies to rely on selectors to target a large number of namespaces and also let admins target namespaces using names. Maybe we can re-use this structure accross non-namespaced policies ? cc @liggitt @tallclair

[2018-06-08 11:13] k82cn commented on #64857
no, right now; that makes sense to, I'll also include this in PR :)

[2018-06-08 11:34] k82cn commented on #64908
Would you have chance to try this https://github.com/kubernetes/kubernetes/pull/62211 :)

[2018-06-08 11:36] gnufied commented on #64779
Fixed by https://github.com/kubernetes/kubernetes/pull/64855

[2018-06-08 11:38] braveCS opened #64914 "The CPU soared when k8s created depolyment"
At begining k8s create deployment is fast, load average is 0.xx, 0.xx,0.xx.  But when with 20+pod in cluster, load average is 20+ in the deployment creating phase, and load average calm down to 0.xx,0.xx,0.xx after about 10min.

the deployement declare just include base metadata and image :
[code]

0.  no other processes  run when k8s creating deployment.
1.  just use `docker run `to deployment ap

[2018-06-08 11:41] wojtek-t commented on #44701
/lifecycle frozen

[2018-06-08 11:44] yastij commented on #64387
/sig network

[2018-06-08 12:05] jhorwit2 commented on #64912
/sig cloud-provider

[2018-06-08 12:17] jim-minter commented on #64912
It feels to me that the cloud config is an essential part of the kubelet config even if it's in a different file -- the kubelet doesn't work properly without both --, which is another argument for handling it in the same way w.r.t. bootstrap and dynamic update.

In OpenShift 3.10 we're finding that it's essential to refer to a pre-existing cloud config file in the bootstrap node config, and we lat

[2018-06-08 12:28] dims commented on #64887
we have one green run on each, so let's close this out.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/10773
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-selfhosting/372

/close

[2018-06-08 12:28] #64887 closed

[2018-06-08 13:27] #58001 closed

[2018-06-08 13:28] matthewfaw opened #64917 "HorizontalPodAutoscaler not respecting PodDisruptionBudget"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a Deployment (apps/v1beta1) that is associated with:
1) a PodDisruptionBudget (policy/v1beta1) that specifies maxUnavaliable: 1
2) a HorizontalPodAutoscaler (autoscaling/v2beta1) that specifies minReplicas: 5 and maxReplicas: 5
3) Each pod in the Deployment has terminationGracePeriodSeconds: 60

When performing a r

[2018-06-08 13:30] MaciekPytel commented on #60511
By now I've seen many people who didn't put apiVersion in object reference, resulting in completely broken HPA objects. So I'm strong +1 for fixing this once the mechanism is available.

[2018-06-08 13:31] davidkarlsen commented on #64586
I believe this is due to ndots:5 - try removing that

[2018-06-08 14:06] qingsongli1979 commented on #64464
@thockin Yes, I'm pretty sure mysql accepts packets, it is certain network issue.

@jingax10 The issue disappeared in version 1.10.2-gke.3, see below more concrete information:

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3", Compiler:"gc", Plat

[2018-06-08 14:14] gnufied commented on #64779
/close

[2018-06-08 14:14] #64779 closed

[2018-06-08 14:19] mbert opened #64920 "kubeadm alpha phase certs etcd-ca fails without Internet access"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

On a system that has no Internet access, run `kubeadm alpha phase certs etcd-ca`
After a while the following error message is displayed:
[code]

**What you expected to happen**:

The certificates get created

**How to reproduce it (as minimally and precisely as possible)**:

Run the command on a machine without Internet

[2018-06-08 14:28] #27828 closed

[2018-06-08 14:45] kargakis commented on #38761
Fixed by https://github.com/kubernetes/kubernetes/pull/62341

/close

[2018-06-08 14:45] #38761 closed

[2018-06-08 14:48] dims commented on #64920
/assign @luxas

/sig cluster-lifecycle
/area kubeadm

[2018-06-08 15:37] andyzhangx commented on #54610
@neilpeterson would you add the above doc? Thanks.

[2018-06-08 16:28] aermakov-zalando opened #64923 "Eviction API ignores pod UIDs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There's no way to properly evict a specific instance of a statefulset pod when draining a node, because the pod names stay the same and eviction API only uses the pod names. For example, if I want to safely drain a node `node1` that runs an a statefulset pod `foo-0`, I'll get the current pod state and then send an evicti

[2018-06-08 16:30] #52827 closed

[2018-06-08 16:33] aermakov-zalando commented on #64923
/sig-scheduling

[2018-06-08 16:37] jiayingz commented on #59629
Right. That is why I think this is an issue of nvidia device plugin for their use of "NVIDIA_VISIBLE_DEVICES" env to communicate device setup to their specific container runtime. We don't have this problem if the device plugin informs Kubelet the proper device setup through the device plugin API.

[2018-06-08 16:46] davidkarlsen opened #64924 "ndots breaks DNS resolving"
/kind bug

**What happened**:

cannot resolve cluster-external names
nslookup google.com
nslookup: can't resolve '(null)': Name does not resolve

nslookup: can't resolve 'google.com': Name does not resolve

**What you expected to happen**:

be able to resolve

**How to reproduce it (as minimally and precisely as possible)**:
create a pod with:
  dnsPolicy: ClusterFirst

**Anything else we need to

[2018-06-08 16:47] davidkarlsen commented on #64924
@kubernetes/sig-dns

[2018-06-08 16:53] yguo0905 opened #64925 "hack/verify-bazel.sh always fails on release-1.10"
/kind bug
/sig testing
/sig release
/priority critical-urgent

[code]

No PRs can be merged into release-1.10. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64848/pull-kubernetes-verify/94899/?log#log

Similar issue: https://github.com/kubernetes/kubernetes/issues/60730

/cc @ixdy

[2018-06-08 17:04] gurvindersingh commented on #59629
So given this situation, I wonder how we can proceed. As Nvidia plugin would like to have Allocate called even when no device is needed to remove such env variable, or need some hook which they can use to add `--runtime nvidia` to docker run when gpu device is needed.

I would love to have this solved either way. Any thoughts @pineking @RenaudWasTaken @flx42

[2018-06-08 17:06] yguo0905 commented on #64925
Should we cherry pick https://github.com/kubernetes/kubernetes/pull/57600 into 1.10 or just update gazelle dependency to include https://github.com/bazelbuild/bazel-gazelle/pull/228?

[2018-06-08 17:17] MrHohn commented on #64924
Can you try `dig +trace` to see what exactly is happening? The ndots option might affect when the initial absolute query be made, but shouldn't break the resolution.

[2018-06-08 17:18] omadawn opened #64926 "Pod startup periodically slow"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Pods periodically spend a longer than normal time in pending before transitioning to Ready. The container on the pod will actually be running but the pod will still show a status of pending. When this occurs the pod never shows a status of ContainerCreating.

I have a container built from scratch with only a < 20m go binar

[2018-06-08 17:21] davidz627 opened #64927 "CSI Volume tests don't test for attach/write"
@jsafrane brought this up during the CSI Standup.

It seems to be true, in the test config we do not set `t.attach` which is required to bring up the pod for consuming the volume.

The code where `t.attach` is checked:  https://github.com/kubernetes/kubernetes/blob/bbf5625630d59b36147a6a8c4be2c134c47ae8b2/test/e2e/storage/volume_provisioning.go#L135

The test config used where `attach` is not set

[2018-06-08 17:29] flx42 commented on #59629
We already discussed that a long time ago. We use the environment variable as a trigger since we don't have a better way. If we can inject our hook, that would solve the problem.

In the meantime, using a simple admission controller to reject such pods is probably the option.

[2018-06-08 17:31] #58007 closed

[2018-06-08 17:35] #58343 closed

[2018-06-08 17:43] cblecker commented on #64925
/assign @BenTheElder @ixdy @cblecker

[2018-06-08 17:46] BenTheElder commented on #64925
@yguo0905 we've been discussing in #testing-ops on slack. @ixdy has a hack inbound for the moment.

[2018-06-08 17:51] ixdy commented on #64925
#57600 is a better long-term fix, but I'm not sure how hairy it'd be to cherry-pick into 1.10. I also don't have bandwidth to tackle that right now.

I'm working on a hacky fix, PR incoming.

[2018-06-08 17:56] gurvindersingh commented on #59629
So wondering is there any plan to add the hook functionality to device plugin api. As current solution of using nvidia gpu with device plugin is not suitable for multi tenant environment.

For now I think `PodPreset` might solve my problem which will inject in every pod env var as `NVIDIA_VISIBLE_DEVICES: ""` except when a pod has certain label e.g. `gpu: nvidia`. As then I am sure there will not

[2018-06-08 18:02] mindprince commented on #59629
We are thinking about what's the best way to do this. But not sure when it will happen.

If you really want to do this without using `PodPreset` or admission controllers, you can use the device plugin used by GCE/GKE: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#nvidia-gpu-device-plugin-used-by-gke-gce. That device plugin doesn't use nvidia-container-runtime as the default contain

[2018-06-08 18:17] Nowaker commented on #40044
@crassirostris Has anything changed since https://github.com/kubernetes/kubernetes/issues/40044#issuecomment-297114636? Is there The Right Way for log management in Kubernetes today?

[2018-06-08 18:18] ixdy commented on #64925
fortunately, release-1.9 isn't affected, since it uses a different version of gazelle (from the bazelbuild/rules_go package).

[2018-06-08 18:21] jingax10 commented on #64464
@qingsongli1979 Thanks for your update! Interesting! Beyond the information we requested, it would be great you can provide us the steps to reproduce it.

[2018-06-08 18:33] ixdy commented on #64925
hm, cherry-picking #57600 was actually less work, who would've guessed?

https://github.com/kubernetes/kubernetes/pull/64929 for that option.

[2018-06-08 18:37] gurvindersingh commented on #59629
So looking at the docs of GCE nvidia plugin, given I user Docker and manage my nvidia driver installation on worker nodes, I just need to deploy this [Daemonset](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml) and things would just work when I ask for `nvidia.com/gpu`. Assuming I have passed the correct driver and container library path

[2018-06-08 18:46] mindprince commented on #59629
Yes, it doesn't require nvidia-docker2 or nvidia-container-runtime. But as you found out the catch is that it requires the driver to be installed in a particular way (or passing the correct paths to the device plugin).

[2018-06-08 18:53] gurvindersingh commented on #59629
Thanks for the info. I am looking at this comments [1](https://github.com/NVIDIA/k8s-device-plugin/issues/27#issuecomment-364806496) [2](https://github.com/NVIDIA/k8s-device-plugin/issues/38#issuecomment-375663027) from Nvidia GPU plugin repo which claims the GKE setup doesn't support Graphics workload. Is that still valid or its valid only when installed driver from gke based tool. But if I insta

[2018-06-08 18:55] RenaudWasTaken commented on #59629
Hello!

We are working on a solution that would allow a better support and a design doc will be discussed shortly with the community.
You do indeed have two options:

- Use the NVIDIA GPU device plugin
  - It does require you to install nvidia-docker2 and has this bug
  - It is however officially supported by NVIDIA for Ubuntu and CentOs
  - The solution you mentioned with `PodPreset` works well
-

[2018-06-08 19:00] ravisantoshgudimetla commented on #64908
@wenlxie - Thanks for raising the issue. I have some questions here.

- What are the specs of machine that is running scheduler?
- Is the cluster setup in HA mode?
- What about pods without affinity rules, what is scheduling latency for them?
- I think we need some more logs before could jump to conclusion. How are we sure that lock acquisition is the culprit here. If you could do some profiling a

[2018-06-08 19:28] ekcheu commented on #61944
With the weave network, the above solution of iptables -P FORWARD ACCEPT worked.. However, when I used kube-router as a network, I simply had to turn off iptables in order for kubernetes to stop crashing the kube-dns pod containers.
With all the iptable firewall rules and other configuration that I had to haggle with, docker swarm mode seems so much easier on a local install for redhat than kubern

[2018-06-08 19:49] jekohk commented on #54932
@paulgmiller i'm not sure these are directly related- this issue is mostly concerned with rollback workflows e.g. you want to rollback a deployment to an earlier revision running a particular image.

For your issue, why not run `kubectl rollout status` after `apply`? The command will wait until each child resource is updated and return with a 0 or 1 exit code depending if the rollout succeeded.

[2018-06-08 20:22] jiayingz commented on #59629
@gurvindersingh on GKE, we install Nvidia drivers through this open-source script:
https://github.com/GoogleCloudPlatform/cos-gpu-installer/blob/master/cos-gpu-installer-docker/entrypoint.sh
As you can see there, it also downloads drivers from the official Nvidia website: https://us.download.nvidia.com/tesla/${NVIDIA_DRIVER_VERSION}/NVIDIA-Linux-x86_64-${NVIDIA_DRIVER_VERSION}.run
It should includ

[2018-06-08 20:36] JustinAzoff commented on #63048
This is so network device plugins can attach the network interface to the pod right?

I have a potential use case for using a device plugin to allocate 10&40g capture interfaces to pods for running things like bro/surricata/moloch/stenographer.  What I expected to see in the DevicePlugin api was a field in `DeviceRuntimeSpec` for `network_interfaces`.  Since you can't use a `DeviceSpec` because th

[2018-06-08 20:44] nikhita commented on #44154
Looks like this is solved as per @glb's comment. Closing.
/close

Please reopen if you think an issue still exists.

[2018-06-08 20:44] #44154 closed

[2018-06-08 20:56] strtdusty commented on #54707
@peterver  I think the OP is saying that he is creating a configmap and verified that kube-dns picks up the upstreamNameservers.  I am seeing the same issue and, for what it is worth, am also running in Azure.

[2018-06-08 21:05] nikhita commented on #62408
/kind bug

[2018-06-08 21:36] foxish commented on #32326
/remove-lifecycle stale

[2018-06-08 21:42] yliaog commented on #64627
https://github.com/kubernetes/client-go/issues/114 is the PR that put the bootstrap tokens under client-go, it seems there were some discussions about where to put them, and there were concerns raised about putting them under client-go.

The requirement is it needs to be accessible from under the following three directories:
k8s.io/kubernetes/cmd/kubeadm/app
k8s.io/kubernetes/pkg/controller/bootst

[2018-06-08 21:55] liggitt commented on #64627
kubeadm uses the bootstrap token authentication mechanism, but it does not belong to kubeadm. in particular, k8s.io/kubernetes/apiserver will not have kubeadm as a dependency.

of those locations, I would probably move them under `k8s.io/kubernetes/apiserver/plugin/pkg/authenticator/token`

[2018-06-08 22:08] lavalamp commented on #64627
Clients shouldn't need to depend on apiserver.

Can we just make a k8s.io/bootstrap repo? What about putting something the
kubernetes-sigs org? `kubernetes-sigs/bootstrap-auth`?

On Fri, Jun 8, 2018 at 2:57 PM Jordan Liggitt <notifications@github.com>
wrote:

[2018-06-08 22:28] khenidak commented on #64759
version 1.10 strictly apply rate limiting (vs the old behavior which would queue your call until you go under limits). Admittedly the error message is wrong it says "Azure - arm " instead of "cloud provider -"

The default values (if you used the defaults in acs-engine) are a too little/aggressive. A max of 10 requests refilled at 3 per sec. Increase that limit to bucket size of `100` filled at `1

[2018-06-08 22:41] Random-Liu opened #64933 "Summary API test is flaky"
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet

It become too flaky recently since 6/5/2018.

@kubernetes/sig-node-bugs

[2018-06-08 22:43] yujuhong commented on #64933
@dashpole has been looking at the failures AFAIK

[2018-06-08 22:44] Random-Liu commented on #64933
Suspicious change https://github.com/kubernetes/kubernetes/compare/ad9722c45...bceb90cda

The cadvisor update looks especially suspicious.

[2018-06-08 23:03] dashpole commented on #64933
yes, I am testing to see if that is the cause
/assign

[2018-06-08 23:12] xiang90 commented on #64843
Kind of. The range value is there to define the order of being evicted.

1. A pod in the priority class with value 200 A WILL NOT EVICT a pod in the same priority class with value 100.
2. A pod in a higher priority class will evict the pod in a lower priority class with the lowest value first.

Selector still requires enumeration, it cannot express `greater` or `less` as a range value.

[2018-06-08 23:13] BenTheElder commented on #64933
FYI @jberkus @AishSundar

[2018-06-08 23:29] dashpole commented on #64933
Opened a PR for the revert.  I can look into the exact failure on monday, but if we want to unblock everyone a revert is probably best

[2018-06-09 00:44] wgliang opened #64935 "failed to run ./test-performance.sh multiple times"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There are two issues：

1. When you run ./test-performance.sh multiple times in succession, a test failure will be reported

[code]
2. A panic occurs： integer divide by zero

[code]

**What you expected to happen**:
Should be able to run successfully many times in succession./test-performance.sh

**How to reproduce it (as m

[2018-06-09 00:45] wgliang commented on #64935
/sig scheduler

[2018-06-09 00:45] wgliang commented on #64935
/sig scheduling

[2018-06-09 01:57] geerlingguy commented on #60835
Same thing here, and @jtopper is correct, it's because the first interface (in my case, with Debian 9 Stretch, `enp0s3`), is an internal interface used by Vagrant.

You have to use a secondary interface if using private IPs with Vagrant (again in my case, `enp0s8`).

Looking at the `logs` command with debug (`-v=9`), I found the pod was showing:

[code]

And the hostIP corresponded to that virtual

[2018-06-09 02:39] #57720 closed

[2018-06-09 04:02] mcluseau opened #64937 "Introduce a pod status: Prepared"
/kind feature

I'm trying find a general improvement in Kubernetes to solve "not-so-HA" use-cases. Deleting a pod before having a replacement as ready as possible is problematic in multiple scenarios.

1. A Deployment manages a non-HA application, say a remote 500MB image (ie `gitlab/gitlab-ce`). Any upgrade means (1) the pod is deleted, (2) the new pod is created and scheduled on a new node (3) t

[2018-06-09 04:06] mcluseau commented on #64937
/sig node
/sig cluster-lifecycle

[2018-06-09 04:57] mcluseau commented on #64937
Also, I'm volunteering to implement this if it has a chance get merged at some point.

[2018-06-09 06:02] eroji opened #64940 "Pod deleted but kubelet still logging error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to play with Helm chart for incubator/jeager but then attempted to delete the install, which the delete timed-out. In order to remove the assets the chart install created, I had to delete the replaceset/deployments. However, after this, kubelet started erroring constantly trying to teardown the pod that no longer

[2018-06-09 07:56] FourSpaces commented on #53333
Check KUBELET_CGROUP_ARGS in the kubelet configuration file /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and change systemd to cgroupfs.
That is
`Environment = "KUBELET_CGROUP_ARGS = - cgroup-driver = cgroupfs"`

May solve your problem

[2018-06-09 08:41] ZloyDyadka commented on #51884
Same problem

[2018-06-09 08:49] Pega88 commented on #47893
same here with an apache server with .htaccess redirect

[2018-06-09 10:21] surajssd commented on #58692
[code]

it's not an error some condition since the exit code is `0`. Also the functionality works fine, it's just the error which comes which is kinda confusing.

And this is anwered in multiple places on stackoverflow, https://stackoverflow.com/a/25929424 and https://unix.stackexchange.com/a/59244

[2018-06-09 10:35] dims commented on #47893
/assign

[2018-06-09 10:35] dims commented on #47893
/reopen

[2018-06-09 10:35] dims commented on #47893
/unassign

[2018-06-09 10:39] dims commented on #64789
all the GKE ones still look good

/close

[2018-06-09 10:39] #64789 closed

[2018-06-09 10:43] zq-david-wang commented on #64924
I bet your pod image is based on alpine.

[2018-06-09 11:28] davidkarlsen commented on #64924
Also I upgraded to 1.10.4 yesterday after reporting, but still same problem:
[code]

[2018-06-09 11:48] zq-david-wang commented on #64924
Maybe your issue is similar to
https://github.com/gliderlabs/docker-alpine/issues/255

[2018-06-09 11:52] dims commented on #64933
/milestone v1.11

[2018-06-09 12:13] igoratencompass commented on #64373
Thanks @gnufied I went with the storage class per zone option. I'll leave the decision with you about closing this ticket or keeping it running as reference to other people.

[2018-06-09 12:29] ChinaSilence commented on #48798
run follow command works well
[code]

kubeadm version `v1.10.3`

[2018-06-09 12:50] davidkarlsen commented on #64924
@zq-david-wang Interesting - it does in fact not fail with for instance ubuntu:latest or fedora:latest . -but alpine:latest fails.

[2018-06-09 14:34] dims commented on #47893
Anyone wanna try this patch and let us know? http://paste.openstack.org/raw/723022/

[2018-06-09 16:55] Pinaute opened #64943 "panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT**:
/kind bug

**What happened**:
When I started the command ` kubeadm init --pod-network-cidr 10.244.0.0/16` an error occurred.
Output:
[code]
**What you expected to happen**:
The kubeadm init not to crash.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I added `cgroup_enable = cpuset cgroup_enable = memory` to the end

[2018-06-09 17:04] Pinaute commented on #64943
/sig node

[2018-06-09 18:36] Pinaute commented on #64943
This is a duplicate issue, see #64234
/close

[2018-06-09 18:36] #64943 closed

[2018-06-09 18:51] tamalsaha opened #64944 "Mutating annotations via webhook does not work with kubectl"
I wrote a mutating webhook that adds annotations to workloads. Adding annotations works correctly. But for deleting annotations via `kubectl apply` to work, I have to modify the last-applied-configuration annotation to apply my patch inside the mutation webhook. This seems necessary given how delete patch is generated by `kubectl apply -f`. But it will be nice/desired if this was done on server si

[2018-06-09 18:51] Pinaute commented on #64234
I have the same problem, the downgrade works on HypriotOS but Kubelet still crash on Raspbian.

[2018-06-09 18:55] #24246 closed

[2018-06-09 20:03] tamalsaha commented on #64944
cc: @lavalamp @apelisse

[2018-06-09 21:34] apelisse commented on #64944
Lavalamp and I discussed about that, I don't think there is a good way to declaratively delete an element that you haven't created. I can't think of a good way to fix that, even with server-side apply.

Two ways to do it (not with apply):
- PUT: `kubectl edit` the configuration and remove it from the list,
- PATCH: `kubectl patch` to send a delete instruction on the element. I don't know how I'd d

[2018-06-10 01:27] dims commented on #64933
/priority critical-urgent

@Random-Liu @dashpole please change priority if it is not appropriate

[2018-06-10 01:29] dims commented on #64913
@patricks whats the error you see?

[2018-06-10 03:03] #52326 closed

[2018-06-10 06:30] fejta-bot opened #64948 "pr:pull-kubernetes-node-e2e flaked 55 times in the past week"
### Flaky Job: pr:pull-kubernetes-node-e2e
 Flakes in the past week: **55**
 Consistency: **92.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Node Tests | 55 |
| [k8s.io] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api | 9 |
| [k8s.io] Pods should be submitted and removed [NodeConformance] [Conformance

[2018-06-10 07:39] patricks commented on #64913
This is the output of `generate-docs.sh`

[code]

[2018-06-10 09:16] taowen commented on #64612
the pull request has been merged. I have be out of office for 2 weeks. @thockin I have added you to the project.

[2018-06-10 09:26] pdecat commented on #28969
/remove-lifecycle stale

[2018-06-10 10:24] huang-jy opened #64949 "Change/Remove Idle Timeout For Kubectl Eec"
/kind feature

Kubectl exec seems to have an idle timeout which can cause issues for long-running, non-verbose apps (like silent uploads/downloads, or compression)

**What happened**:
While uploading a large file onto a server from within the container (e.g. curl -X POST localhost), there is a significant delay while my server processes the upload. It returns `100 continue` making curl wait, but d

[2018-06-10 11:11] #23494 closed

[2018-06-10 12:18] adohe commented on #58692
I would think this is not a bug, it's just what we expect and should not break any functionality.

[2018-06-10 13:42] resouer commented on #64843
I like priority class range idea.

Sub-priority  is problematic to me considering it's complexity and flexibility.

[2018-06-10 14:14] #57544 closed

[2018-06-10 14:14] #57985 closed

[2018-06-10 14:53] opsnull commented on #62599
same problem here.

[2018-06-10 16:46] liggitt commented on #64949
Are you running through a load balancer? Frequently those will impose a timeout as well

[2018-06-10 16:49] huang-jy commented on #64949
Is this the api loadbalancer we are referring to?

[2018-06-10 16:59] liggitt commented on #64949
Yes, the api loadbalancer

[2018-06-10 17:03] huang-jy commented on #64949
Right, that does have an idle timeut of 5secs. I'll change that and see if that makes a difference. Thanks :)

[2018-06-10 17:04] #64949 closed

[2018-06-10 20:20] #58032 closed

[2018-06-10 21:21] #52189 closed

[2018-06-10 22:22] #33666 closed

[2018-06-10 23:35] dims commented on #64948
the summary api flakiness is covered here - https://github.com/kubernetes/kubernetes/issues/64933

[2018-06-11 00:31] sureshsankaran opened #64950 "Setting containerd, container runtime endpoint in kubelet config file"
Hi,

I see that we can set different containerd and runtime endpoint sockets using kubelet command line options. But is there a way to specify these options in /etc/kubernetes/kubelet.conf file ?

I am interested in running kubelet with different runtime (balena, based off moby branch). I am thinking of changing below options to get things running, but would like to setup kubelet options via confi

[2018-06-11 01:05] caesarxuchao commented on #64612
I must have missed some code paths, the case sensitivity works fine for first level fields, but not for the nested fields. i.e., it works on "sPec",  but doesn't work on "spec.repLicas".

[2018-06-11 01:32] k82cn commented on #64843
For this, I'd like to say the requirement is that: When scheduler selects the victims to preempt, it's asked to provide a customized ways to select a "better" victim if default criterial (PDB and Priority) are same. IMO, sub-priority or range are one implementation of this requirement for your biz.

For the `customized way`, it does have to be http extender: a compare functions for pods is enough

[2018-06-11 02:07] xiang90 commented on #64843
Actually, we are not using the default Kubernetes scheduler, but already a customized one. We probably can just use annotation to achieve what we want.

I still want to open the issue in the upstream to see other people's opinion :). If there are more demands, we might consider to make it part of the priority API. Or as you mentioned, we might want to enhance the scheduler framework to make it eas

[2018-06-11 02:46] liggitt commented on #64612
Might be related to https://github.com/json-iterator/go/pull/282/files#r194283181

[2018-06-11 02:50] k82cn commented on #64843
Honestly, if the "customized ways" helps, I prefer not to take this into API: as you and Bobby discussed above, there maybe some other criterial for batch job which maybe out of core :)

[2018-06-11 02:57] smarterclayton opened #64952 "Broken CSI controller plugin polls at high frequency continuously"
A CSI plugin that the 1.10 controller manager can't detect (which could occur in a number of scenarios, such as when a rollout is being performed or a node is evacuated) seems to retry without backoff.  In this case, I have a pod referencing a PVC -> PV that references my CSI plugin, but no controller plugin running.

The controller is probing every 100ms continuously for a single volume attachmen

[2018-06-11 02:59] mkumatag commented on #57869
/remove-lifecycle stale

[2018-06-11 03:00] mkumatag commented on #57869
/remove-lifecycle rotten

[2018-06-11 03:03] smarterclayton opened #64953 "Mount code is too difficult to reuse from CSI plugins"
The mount code (`pkg/util/mount`) is reasonably well tested but brings in the entire Kubernetes source tree when CSI plugins have to depend on it.  With a few exceptions, most of the mount code could be refactored to be a minimal set of utilities that can be layered and make it easier to develop CSI plugins.  I noticed that quite a few CSI plugins take a dependency on k/k just to get that one pack

[2018-06-11 05:34] wgliang commented on #64953
If there no one was working on this, I can help do it. :-)

[2018-06-11 05:35] wgliang commented on #64953
/assign

[2018-06-11 06:15] utsav2307 commented on #64905
will accessing service via nodeIP:nodeport  work inside the pod?

[2018-06-11 07:01] utsav2307 commented on #57922
@m1093782566 Will setting ClusterIP type service and externalTrafficPolicy=Local  for a service to a DaemonSet, route traffic only to the daemonSet pod in that node when i access the service using DaemonSetServiceIP?

[2018-06-11 07:33] tutaidalal commented on #64702
issue resolved .. there was an issue in registry .. After configuring the global registry properly it is running

[2018-06-11 07:33] #64702 closed

[2018-06-11 07:33] andyzhangx opened #64956 "Enforce azure storage account creation with https traffic only"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

**What you expected to happen**:
Enforce azure storage account with https traffic only

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11
- Cloud provider or hardware configuration:
- OS (e.g. from /e

[2018-06-11 07:39] tutaidalal opened #64958 "Creating Config Map from a configuration file available in a running pod"
I have a application which run in each 1 hours. In case any changes in the configuration i just want to create a config map from existing configuration and then do the changes and apply the configuration to the running pod without restarting the pod.. is it possible ?

My Application wakeup in each 1 hour and then read configuration from a local file.

Example : /opt/myapplication/application.prop

[2018-06-11 07:45] tutaidalal opened #64959 "How to update a file available in SVN using a config map?"
I have a SVN pod with many contents along with a configuration file. Is there any way that I can update the file in SVN using config map?

**Environment**:
- Kubernetes version (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go

[2018-06-11 08:10] yue9944882 commented on #64917
@matthewfaw If you want to scale down your deployment by 1 each time, setting `deployment.Spec.Strategy.RollingUpdate.MaxUnavailable` to 1 will do the job. `PodDisruptionBudget ` is basically used during scheduling which is not involved in the process of autoscaling (down).

[2018-06-11 08:19] uablrek opened #64960 "Kube-apiserver uses blocking /dev/random during start instead of non-blocking /dev/urandom"
/kind bug

**What happened**:

After upgrade from linux-4.16.2 to the linux-4.17 kernel the `kube-apiserver` hanged in early start for ~3-4 minutes on node-reboot. Sub-sequent re-starts of `kube-apiserver` on the node did not hang.

After trouble-shooting (with a fair amount of guessing) I come to the conclusion that the `kube-apiserver` continued it's startup when the `/dev/random` was unblocked.

[2018-06-11 08:31] yue9944882 commented on #64917
But the idea that deployment/rs/rc controller should respect pdb looks really reasonable to me. Maybe I could raise a PR prevent the controllers from scaling down when the actual scale is violated with pdb's expectation.

@deads2k Could u shed some light this idea? Should deployment/rs/rc controllers respect pdb when scaling down instances? Thx :)

[2018-06-11 08:32] uablrek commented on #64960
/sig cluster-lifecycle

[2018-06-11 08:35] bmwiedemann commented on #48710
/remove-lifecycle stale
issue still needs work. See comment from Mar 12

[2018-06-11 08:44] m1093782566 commented on #57922
no. local service does not work for cluster IP

[2018-06-11 08:51] jangrewe commented on #62382
I didn't see anything in the Changelog for v1.10.4, so i'm guessing this still hasn't been fixed yet?

[2018-06-11 09:14] johanot opened #64962 "Addon manager: Remove requirement of having namespace.yaml in /opt"
/kind feature

**What happened**:
Running Kubernetes on bare metal on NixOS, I keep getting:
`kube-addons[999]: WRN: == Failed to start /opt/namespace.yaml in namespace  at 2018-06-11T09:06:02+00:00. 51 tries remaining. ==`

**What you expected to happen**:
I wonder why the path /opt/namespace.yaml is hardcoded in kube-addons.sh? Is there a way that we can just add an optional env var to control t

[2018-06-11 09:17] flypenguin commented on #55406
I stumbled on while looking for ways to _black_list network connections. it seems currently the mode of operation is:

* if not matched by a policy: allow
* if matched by a policy: allow defined connections

I would like to DISallow the defined connections, and allow anything else. that is basically the same use case as lined out here.

[2018-06-11 09:46] adohe commented on #51742
/assign @adohe

[2018-06-11 09:46] adohe commented on #51742
/remove-lifecycle rotten

[2018-06-11 09:47] adohe commented on #51742
Just assign this one to me, will get someone to finish this.

[2018-06-11 10:00] desaintmartin commented on #62382
The fix has landed to master but not to 1.10 yet.
See https://github.com/kubernetes/kubernetes/pull/64813
It will get hopefully merged before the next 1.10.x release.

[2018-06-11 10:10] nikhita commented on #64612
Opened https://github.com/json-iterator/go/pull/285 upstream. After this fix,

creating a deployment with `sPEC` fails:

[code]

creating a deployment with `spec.SeLECTOR` also fails:

[code]

[2018-06-11 10:14] luzhzhsoft opened #64966 "no limit job will led to the collapse of cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When I create a job that will fail all the time. It will continue to create pod. Finally, it led to the collapse of my cluster when pods count is 65535.
It's horrible
**What you expected to happen**:
there need default limit to job
**How to reproduce it (as minimally and precisely as possible)**:
 create a job that wi

[2018-06-11 11:09] mattcopas opened #64967 "kubeadm pulls images that already exist - causing it to crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
0
**What happened**:
I installed kubectl, kubernetes-cni, kubelet, kubeadm (all version 1.10.3-00_amd64, except CNI, which is 0.6.0-00_amd64.
I also loaded all required docker images, so that kubeadm shouldn't have to pull them

I ran `kubeadm init --pod-network-cidr=10.244.0.0/16 --kubernetes-version=v1.10.3` while offline, it hung at the st

[2018-06-11 11:11] mattcopas commented on #64967
Update - After much time (at least an hour or 2), it would seem the images are 'found' and a k8s cluster is started!

**However**
This setup is running on ansible, and because of the error message above, ansible will crash, which is of course not great. That and the (unnecessary) timeout takes ages...

Is there a way to completely stop kubeadm pulling images?

[2018-06-11 11:33] bboreham commented on #64924
The rationale for having ndots=5 is explained at length at https://github.com/kubernetes/kubernetes/issues/33554#issuecomment-266251056

I'm not entirely sure why you're seeing a failure - I have looked up lots of names like `google.com` via the alpine musl resolver, and not encountered this issue.  Can you trace the packets and see where the failure comes back?

Lastly, I would note that the name

[2018-06-11 11:50] CaoShuFeng commented on #53455
@tallclair @loburm
I made a KEP for this pull request. Please take a look.
Thanks.
https://github.com/kubernetes/community/pull/2241

[2018-06-11 12:05] danielloczi commented on #26944
Hi! I'm facing the same issue now: adding a new env variable does not touch running pods, the new env varibale is not puplished down to the pods.

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:22:21Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Ve

[2018-06-11 12:12] davidkarlsen commented on #64924
@bboreham It is only broken in the newer alpine images:

OK:
kubectl run -ti --rm test --image=alpine:3.3 --restart=Never -- nslookup google.com

Fails:
* kubectl run -ti --rm test --image=alpine:3.4 --restart=Never -- nslookup google.com
* kubectl run -ti --rm test --image=alpine:3.5 --restart=Never -- nslookup google.com
* kubectl run -ti --rm test --image=alpine:3.6 --restart=Never -- nslookup

[2018-06-11 12:36] sttts opened #64972 "Update-bazel.sh broken on 1.10 release branch (?)"
[code]

[2018-06-11 12:37] bboreham commented on #64924
Works for me.

[code]

If you could supply more detail, e.g. the packets, it may be possible to figure out what happened in your case.

[2018-06-11 12:51] mattcopas commented on #64967
/sig cluster-lifecycle

[2018-06-11 12:52] OJezu commented on #59811
@feiskyer

iptables-save output:
https://gist.github.com/OJezu/34ee2f024b0fcd3d2e7d927d71ce2141

Two other files in gist are:
* description of the new pod, which is part of the failing service
* description of pod which is trying to use that service and failing at that

failing service description:
[code]

[2018-06-11 12:55] nikhita commented on #64972
I get the same error too.

[2018-06-11 12:56] luxas commented on #64647
@detiber please open an issue about pushing manifests in CI as well

[2018-06-11 12:59] nikhita commented on #64972
Looks related to https://github.com/bazelbuild/bazel-gazelle/pull/228

[2018-06-11 13:00] nikhita commented on #64972
@sttts this looks like a dupe of https://github.com/kubernetes/kubernetes/issues/64925.

[2018-06-11 13:03] nikhita commented on #64972
I'll close this in favour of #64925
/close

[2018-06-11 13:03] #64972 closed

[2018-06-11 13:20] weiwei04 opened #64975 "container OOM cause kubelet NotReady"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

container OOMKilled cause docker stuck and kubelet become NotReady

**What you expected to happen**:

kubelet recreate OOMKilled container

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- OS

[2018-06-11 13:30] PickleChops opened #64978 "SandboxChanged events occurring for very simple jobs"
/kind bug

**What happened**:

SandboxChanged events occurring very often for jobs, even very simple jobs. See below.

Looks similar to #58201 but that issue died.

**What you expected to happen**:

No (or very few) SandboxChangedEvents to be raised.

**How to reproduce it (as minimally and precisely as possible)**:

Apply this in a new namespace.

[code]

And then watch the events. SandboxChanged

[2018-06-11 13:37] #51142 closed

[2018-06-11 13:39] islinwb commented on #64978
/sig node

[2018-06-11 13:49] weiwei04 commented on #64975
/sig node

[2018-06-11 13:50] lmdaly commented on #63048
@JustinAzoff one of the use cases for passing more information to the device plugin is indeed for enabling network devices to be implemented by device plugins. However, the model we proposed was for the device plugin to do the discovery, advertisement and allocation of the network device to the pod. We then have a CNI plugin that does the actual plumbing of the network interface to the pods networ

[2018-06-11 14:12] tpepper commented on #64861
Since #64189 is headed for 1.11, this issue should be similarly milestone 1.11 labeled and approved.

/milestone v1.11
/status approved-for-milestone

[2018-06-11 14:38] #58201 closed

[2018-06-11 14:49] ravisantoshgudimetla commented on #60018
/remove-lifecycle stale

[2018-06-11 14:53] JustinAzoff commented on #63048
I think that would work, as long as there isn't an requirement that the interface gets an ip address assigned by CNI.

[2018-06-11 15:20] sethvargo opened #64983 "Cannot print base64 CA data with jsonpath"
/kind bug

**What happened**:

Tried to extract raw CA data (base64 encoded) using jsonpath. I got (what appears to be) the json representation of an `[]byte`.

[code]

**What you expected to happen**:

I expected to get a base64 encoded string of the CA data, like:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

1. `kubectl config v

[2018-06-11 15:30] shyamjvs commented on #39423
/remove-lifecycle stale

[2018-06-11 15:45] idvoretskyi commented on #64563
cc @kubernetes/sig-network-feature-requests

[2018-06-11 15:47] liggitt commented on #64053
this will be addressed as part of apiserver config - xref https://github.com/kubernetes/kubernetes/issues/12245

/close

[2018-06-11 15:47] #64053 closed

[2018-06-11 15:55] xmudrii commented on #57042
The race between updating condition of CRD to Established and HTTP handlers serving resources should be improved/fixed by #63068. The fix could also prevent, or lower the frequency of the mentioned errors when applying CRs, but I still have not tested this specially.

The age `<invalid>` problem could be there, but I'm not sure what's the root of the problem there. I have left some comments on thi

[2018-06-11 16:05] cmluciano commented on #64563
fixed in  https://github.com/kubernetes/kubernetes/pull/64537

[2018-06-11 16:19] liggitt commented on #60351
/close

[2018-06-11 16:19] #60351 closed

[2018-06-11 16:33] smarterclayton opened #64984 "Implementation gaps between FlexVolume and CSI for node-local volumes"
TLDR: CSI is positioned as our replacement for FlexVolumes.  This issue covers the gaps between existing FlexVolume and existing CSI.  I consider covering these gaps blockers for CSI GA and removing FlexVolume alpha, but fortunately I think they are only small deltas from the existing support.  However, I was unable to implement a CSI plugin that perform node local operations at this time.

FlexVo

[2018-06-11 16:40] #58068 closed

[2018-06-11 16:40] zq-david-wang commented on #64924
@davidkarlsen could you try this image `davidzqwang/alpine-dns:3.7` on your cluster, I made following changes to musl, build a new image based on alpine:3.7, and I test on my cluster, it seems work.

[code]

[2018-06-11 17:15] tpepper commented on #64861
/milestone v1.11
/status approved-for-milestone

[2018-06-11 17:30] ixdy commented on #64925
all fixed, and hopefully for the last time!
/close

[2018-06-11 17:30] #64925 closed

[2018-06-11 17:34] jingxu97 commented on #63190
@HYmian sorry for the delay. From the information you  provided, you should have enough ephemeral storage available. Do you still have this issue now? Please let us know and we can help debug it. Thank you!

[2018-06-11 17:35] ixdy commented on #48710
I believe the generated files no longer include a copyright date.

The man pages might still be problematic.

[2018-06-11 17:36] uablrek opened #64985 "Kube-proxy in ipvs mode initiates nodeIP to 127.0.0.1 on an ipv6 cluster and crashes"
/kind bug
/area ipv6
/sig network

**What happened**:

Even though `kube-proxy` assumes IPv6 operation it initiates the nodeIP to the ipv4 localhost address 127.0.0.1 and crashes shortly after;

[code]

**What you expected to happen**:

Initialize nodeIP with an ipv6 address and continue.

**How to reproduce it (as minimally and precisely as possible)**:

Start `kube-proxy` on a ipv6-only cluster

[2018-06-11 17:36] sttts commented on #64972
@ixdy works fine now. Thanks for the quick fix 👍

[2018-06-11 17:37] ixdy commented on #48710
ref https://github.com/kubernetes/kubernetes/pull/59172 for generated files.

[2018-06-11 17:41] #45911 closed

[2018-06-11 17:44] saad-ali commented on #64984
Supporting ephemeral volumes (for identity injection, etc.) is on the roadmap for Kubernetes CSI before GA. By ephemeral I mean volumes who have their lifecycle directly tied to the consuming pod.

We've been looking for someone to try and implement such a volume and help us discover the gaps, so thanks for doing that.

To summarize, it sounds like you ran in to the following blockers:

1. P0 - CS

[2018-06-11 17:45] ghaering commented on #52068
This link does (no longer?) exist: https://kubernetes.io/docs/admin/kubeadm/#running-kubeadm-without-an-internet-connection

[2018-06-11 17:53] BenTheElder commented on #61112
/close

[2018-06-11 17:53] #61112 closed

[2018-06-11 17:55] dashpole commented on #64933
the plan is to revert the offending cadvisor PR, cut a new release, and vendor that new release.

[2018-06-11 17:55] dashpole commented on #64933
revert PR: https://github.com/google/cadvisor/pull/1959

[2018-06-11 18:00] dashpole commented on #64933
changelog for new release: https://github.com/google/cadvisor/pull/1960

[2018-06-11 18:03] bsalamat commented on #60018
Should this be closed as #61185 is now our plan to deliver a super set of features including the feature requested in this issue?

[2018-06-11 18:12] shyamjvs commented on #63030
Seems like we're seeing this problem with artifacts upload failing a bit too frequently - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance
I'll send out a change increasing the logexporter step timeout to see if that helps.

[2018-06-11 18:23] jiayingz commented on #63048
@lmdaly could you elaborate more on why you would like your device plugin to make the allocation decision? How is your allocation logic different from the current kubelet one?

In the proposed model, I also would like to see more discussions on how the PodUID information is expected to be recovered after the network device plugin fails over, and how do we ensure the state stored by the device plug

[2018-06-11 18:32] roycaihw commented on #63941
From [testgrid](https://k8s-testgrid.appspot.com/sig-api-machinery#gce&width=5), these tests have been consistently passing after the fix https://github.com/kubernetes/kubernetes/pull/64235 gets merged. Closing

/close

[2018-06-11 18:32] #63941 closed

[2018-06-11 18:41] dashpole commented on #64933
cadvisor version bump: https://github.com/kubernetes/kubernetes/pull/64987

[2018-06-11 18:42] #58167 closed

[2018-06-11 18:55] smarterclayton commented on #64984
I believe that those are all correct.  I would maybe phrase P1 is "having to create a PV and a PVC for every ephemeral volume may be too onerous" and/or "creating a PV to represent an ephemeral pod local volume is not correct".

[2018-06-11 19:05] liggitt commented on #60463
/remove-lifecycle stale

[2018-06-11 19:08] ahmetb commented on #64983
duplicate of https://github.com/kubernetes/kubectl/issues/489
/close

[2018-06-11 19:08] #64983 closed

[2018-06-11 19:14] liggitt commented on #59590
/close
duplicate of #59450, fixed in #59844

[2018-06-11 19:14] #59590 closed

[2018-06-11 19:24] khenidak commented on #63994
@johscheuer yes please send controller manager logs (note they will include your RG and sub id) to khnidk at microsoft dot com

[2018-06-11 19:28] liggitt commented on #61230
mitigations appear to be holding
/close

[2018-06-11 19:28] #61230 closed

[2018-06-11 19:29] liggitt commented on #60463
flakes are continuing, hopefully added logging gives us more info to work with

[2018-06-11 19:33] khenidak commented on #59811
@OJezu There are two issues that can lead to this.

1. Endpoint controller is not running (is your controller running as expected?) -- I am unable to tell if pod ips are correct in `kubectl get endpoint <<service-name>>` -- Can you please confirm?
2. Hung kube-proxy (it will look normal). That leads to un-updated iptables rules to forward traffic from service ip to pods as expected. You will need

[2018-06-11 19:34] khenidak commented on #59811
oh i found that you posted kubernetes version (my bad)

[2018-06-11 19:42] krzyzacy commented on #61230
forgot to update, we migrated pull-gce job to boskos so each run can have a separated project and we wipes out all logging sinks after each e2e run, this issue is fine now, but we probably still want to improve from the api side.

[2018-06-11 19:43] khenidak commented on #51322
Are you running kubelet as a container? There has been issue mounting the correct volumes @jackfrancis can add more information

[2018-06-11 19:43] krzyzacy commented on #63030
@shyamjvs that gcloud call I pasted above never returns

[2018-06-11 20:04] kfox1111 commented on #64984
P0 will solve one of my problems I'm trying to solve in:
https://github.com/kubernetes-csi/drivers/issues/85

I have the driver written, but want to use pod id (or namespace+podname) as the csi volumeid. so that each instance is pod specific.

Is anyone working on p0 currently?

There is also a p3: https://github.com/kubernetes/kubernetes/issues/64157 as you can use flexvolume in a pod directly.

[2018-06-11 20:08] fedebongio commented on #64909
/cc @jpbetz @wenjiaswe

[2018-06-11 20:11] fedebongio commented on #64944
/cc @jennybuckley

[2018-06-11 20:37] smarterclayton commented on #64984
Your P3 is what I phrased as maybe my P1 - it should be possible to safely declare on a pod a node local volume (which needs no external state).  But we started with PV for security / safety reasons so we have to be careful to keep all of those in mind.

[2018-06-11 21:02] bsalamat commented on #48648
@vikaschoudhary16 Could you please update the [ResourceQuota documentation](https://kubernetes.io/docs/concepts/policy/resource-quotas/) with the addition of pod priority?

[2018-06-11 21:09] wenjiaswe commented on #64484
I think there is a race condition in k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/storage.(*Cacher).dispatchEvents, and this PR [#57366](https://github.com/kubernetes/kubernetes/pull/57366) should have fixed this, but the fix is not in v1.9. @mbohlool , would you please help to cherry pick  PR #57366 to 1.9? Thanks!

[2018-06-11 21:19] lavalamp commented on #64944
It's a good question. If you find yourself needing to modify the lastAppliedAnnotation, that's a good sign you should stop and think :) Who is managing the field/annotation? You should not make things that a controller adds and then a human must remove via apply. The KRM encourages multiple editors of *objects* but not multiple editors of single fields.

So, to repeat: You can't generally use appl

[2018-06-11 21:21] khenidak commented on #63228
Pod identity takes care of that (regulating access to this endpoint). However you have a point. Other than that it should be bootstrapping tools that block the access via iptables or others. Keep in mind that pods may still use MSI without pod-identity.

CC @jackfrancis

[2018-06-11 21:28] jhorwit2 commented on #60018
@bsalamat does that cover both defaults and whitelisting?

[2018-06-11 21:42] jberkus commented on #64806
There's a known issue where the Vertical Pod Autoscaler will radically change implementation in 1.12, so users of VPA (alpha) in 1.11 are warned that they will not be able to automatically migrate their VPA configs from 1.11 to 1.12.

[2018-06-11 22:11] kfox1111 commented on #64984
Hmm. ok. Thanks. :)

[2018-06-11 22:23] jberkus commented on #64806
THis change:

https://github.com/kubernetes/kubernetes/pull/64988

May cause users to see some new error messages during bootstrap

[2018-06-11 22:29] fabiand commented on #9043
Considering the original 2nd case from the initial description - aka changing resources of a pod.

Assuming that we do not want to change the pod (and scheduler) behavior, I wonder if this could be modeled with some kind of `PodResourceAttachment`.

A resource attachment could contain additional memory, or cpu shares, eventually volmes (not sure how the api would look like for this), but if such a

[2018-06-11 22:30] luxas commented on #64806
@jberkus I think it's the other way. #64988 makes the user _not_ see those warning messages. Depending on how critical the bug fix is, we might wanna backport it to v1.10, but it's gonna be fixed in v1.11 we think.
cc @timothysc @detiber

[2018-06-11 22:41] OJezu commented on #59811
As far as I can see, the iptables are updated. Packets to Virtual IP of the service are directed to proper chains that have only the valid IP of the new pod.

Data in comment above were collected for case in which both pods (the one initiating connection, and one receiving it) were on the same node.

[2018-06-11 22:45] OJezu commented on #59811
And yes, endpoints are correct. It looks like everything is right with k8s, but connections are falling at network level.

[2018-06-11 23:02] tamalsaha commented on #64944
If that is the intent of apply command, it probably needs to clearly communicated. I had no idea that it is supported to be so.

[2018-06-11 23:47] #57981 closed

[2018-06-11 23:48] lavalamp commented on #64944
Yup, we should make this clearer. Apply is intended to help you manage only
the fields you care about, by leaving other fields blank. That means it's
hard to tell the server you want to keep a field nil/empty.

On Mon, Jun 11, 2018 at 4:03 PM Tamal Saha <notifications@github.com> wrote:

[2018-06-11 23:59] ixdy commented on #64018
hm, this might be a bug in our "fast" tar builder (https://github.com/kubernetes/repo-infra/tree/master/tools/build_tar).

if I revert to the bazel-supplied version:
[code]

then the tarball looks more like we'd expect:
[code]

[2018-06-12 00:29] #64933 closed

[2018-06-12 00:32] igoratencompass commented on #64819
@sneko no resolution, I have to terminate that worker and let Kops launch a new one. In the latest incident, I have now upgraded from 1.8.7 to 1.8.13, I got something different though the node shows as Ready but all pods on that node are screwed:

[code]
I see lots of these in the kubelet logs on that node when this happens:

[code]
I also see lots of:
[code]
and:
[code]
Only workaround I found is

[2018-06-12 00:39] igoratencompass commented on #64819
Additional info, after deleting the stuck `node-exporter` pod:
[code]
the new one that launched was successful. Note that this only worked *after* the above mentioned service restart and had no effect before, the new pods were ending up in the same state as the previous one.

[2018-06-12 00:44] sneko commented on #64819
@igoratencompass I succeed in solving my issue 👍

One of my pod was logging too much information so the logs collector (Fluentd) and the logs storage (ElasticSearch) were overloaded after few hours of handling that.

I noticed that because I set up Prometheus and Grafana to see detailed metrics of my nodes/pods. At the time my nodes were crashing the CPU was at 100% of usage. I think after few sec

[2018-06-12 00:50] bsalamat commented on #60018
Yes, the pod scheduling policy is supposed to cover defaulting, whitelisting, blacklisting, and requiring certain pod scheduling properties, including priority.

[2018-06-12 00:54] adohe commented on #26944
@danielloczi I think this has already be fixed, could u please show how to reproduce this? I would take a look.

[2018-06-12 01:11] dims commented on #64985
cc @leblancd

[2018-06-12 01:13] ravisantoshgudimetla commented on #60018
@bsalamat I am fine with closing this issue. The only concern I have is if the policy implementation takes more than a release(>1.12 or for graduating to beta), what should we have in interim?

[2018-06-12 01:21] bsalamat commented on #60018
@ravisantoshgudimetla Unfortunately, we cannot introduce temporary API changes. Users rely on such features and won't be able to upgrade easily when we drop them. Besides it doesn't make sense to split our efforts on two parallel efforts.

[2018-06-12 01:36] ravisantoshgudimetla commented on #60018
@bsalamat Thanks, I share your concerns but was curious if there is a better alternative to carrying a patch in OpenShift.

@jhorwit2 - To be clear even now, with quota for priorityClasses, we can achieve whitelisting but defaulting a priorityClass is a missing piece even now(until policy lands in).

[2018-06-12 01:45] islinwb commented on #64985
/assign

[2018-06-12 02:06] feiskyer commented on #64861
@tpepper PR #64862 has been reviewed by @michmike but still waiting for sig-node's approval

[2018-06-12 02:13] feiskyer commented on #63994
@khenidak Johannes has sent me the logs privately. There's nothing abnormal from logs, and the issue is hard to reproduce since then. We suspect it's a temporary issue from Azure, but no evidence for that.

Let's keep the issue open and watch for more clusters if there's any chance to reproduce it. More verbose logs are also added to v1.11 for easy troubleshooting those issues in the future.

[2018-06-12 02:47] #58599 closed

[2018-06-12 02:53] wgliang commented on #64966
@luzhzhsoft
maybe you can set `BackoffLimit` do it.

[2018-06-12 02:53] feiskyer commented on #64861
/priority critical-urgent
/status in-progress

[2018-06-12 03:38] davinchia commented on #63560
Commenting on this to indicate more use cases.

We are currently running high throughput/low latency apiservers on kube in the order of hundreds of thousands of request per second. We are running into a case where instead of spreading the pods out as much as possible, Kube sometimes bunches them together(for resource constraint reasons, since there are other pods also running), so we end up with a

[2018-06-12 04:19] bgrant0607 commented on #26944
cc @apelisse

[2018-06-12 05:28] bgrant0607 commented on #15310
DaemonSet is v1.
cc @kow3ns @janetkuo

[2018-06-12 05:28] #15310 closed

[2018-06-12 06:16] qiaolb opened #65003 "Can not Remove a deployment, Can not umount glusterfs volume"
When I remove a deployment, the Pod's status is often "Terminating"  with the following error on the node:
[code]
But, this file exists.
If I umount this volume, the Pod would be removed.
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):
Master:
[code]
Node:

[2018-06-12 06:28] qiaolb commented on #65003
/kind/bug

[2018-06-12 06:41] CaoShuFeng opened #65004 "static pods can mount pvc *sometimes*"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
Not very sure about this, but it's behavior is not so good to me.

**What happened**:
Static pods can mount pvc when a normal pod with the same pvc is scheduled to the same node.

**What you expected to happen**:
The behavior should be consistent.

**How to reproduce it (as minimally and precisely as possible)**:
1. create a pvc
2. create a

[2018-06-12 06:45] arpadkun commented on #54132
I could not track this discussion further. Is this the last place, or has it been discussed further somewhere else? I would like to be able to set `net.core.somaxconn` values and wonder if this is still considered.

[2018-06-12 07:06] rfranzke opened #65005 "kube-controller-manager fails to start if API discovery for extended API servers fails"
/area controller-manager
/area extensibility
/kind bug
/sig apimachinery

**What happened**:
The kube-controller-manager is unable to start when it cannot discover the APIs of API server extensions. Precisely, the `APIService` object indicated availability although the extended API server was not running anymore. Restarting the kube-controller-manager failed for the mentioned reason.

**What you e

[2018-06-12 07:26] uablrek opened #65006 "Kube-proxy in mode ipvs interpret addresses as ipv4 in a ipv6-only cluster in the sync function"
/kind bug
/area ipv6
/sig network

**What happened**:

When creating a service in a ipv6-only cluster with proxy-mode=ipvs the kube-proxy log shows repeated entries;

[code]

The `EKM:` entries are my own debug printout (added [here](https://github.com/kubernetes/kubernetes/blob/e0740b1157343e008a1a643e1c7f76d7321f73c0/pkg/proxy/ipvs/proxier.go#L1323)).

The curDest are collected (faultly) as ipv4

[2018-06-12 07:38] SHUFIL opened #65007 "@kubernetes/sig-testing-misc kube-dns getting CrashLoopBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:
I have installed kubernetes, and Docker, removed swap , disabled firewall, then i build up the kubernetes master using kubeadm init --pod-network-cidr 10.10.10.0/16
#kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

#kubectl apply -f https://raw

[2018-06-12 07:49] SHUFIL commented on #65007
@kubernetes/sig-testing-misc

[2018-06-12 08:05] sruon opened #65008 "Error: unknown flag: --from-cronjob"
/kind bug

**What happened**:
kubectl create job --from-cronjob : unknown flag: --from-cronjob

**What you expected to happen**:
A job to be created with the syntax provided by the CLI help.

**How to reproduce it (as minimally and precisely as possible)**:
kubectl create job test --from-cronjob=existingcron

**Anything else we need to know?**:
According to #60039, the proper syntax is --from-cron

[2018-06-12 08:36] vineetchawla opened #65010 "If a cronjob fails, the corresponding pod isn't deleted. It repeats for every new pod."
/kind bug
/sig bugs

**What happened**:
I created a cronjob using an example to echo "Hello world" every minute. Works perfectly.
If instead I replace the function to be called to wget with an unreachable website, the new pods keep being created and the older ones aren't deleted.
<img width="1329" alt="screen shot 2018-06-12 at 10 32 19" src="https://user-images.githubusercontent.com/1390884/41279

[2018-06-12 08:38] ronakpandya7 opened #65011 "Istio Ingress Controller does not preserves client original IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

We are using Istio 0.7 with istio ingress controller to handle outside world's request.
We use "externalIPs" property of the "ClusterIP" type of service to expose ingress controller outside the kubernetes.

Istio Ingress Controller Yaml:

[code]

The issue is every time when we check the logs of the ingress controller after firing the request it gives

[2018-06-12 08:38] randomvariable commented on #64018
I'll dig a bit more. I started with the assumption that this was a Bazel bug needing a workaround.

[2018-06-12 08:41] luzhzhsoft commented on #64966
@wgliang
i know it .but it's a new feature which can not run in low version kubernetes like 1.7 . i mean job need some default configuration  in case  it  make cluster crash

[2018-06-12 08:43] vineetchawla commented on #65010
/sig bugs

[2018-06-12 09:16] hzxuzhonghu opened #65012 "Unable to detect if a watch is active"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

We are unable to detect if a watch is active or not. ie. Especially in http2 case.

If we have 3 kube-apiservers behind a LB, and currently kube-proxy cm multiplexing one connection in http2 schema. connected with one apiserver.  When the apiserver gets stuck, there will be logs indicating the errors like get timeout. B

[2018-06-12 09:18] hzxuzhonghu commented on #65012
There are many cases which depend on watch all need this.

[2018-06-12 09:18] hzxuzhonghu commented on #65012
/sig api-machinery

[2018-06-12 09:18] hzxuzhonghu commented on #65012
@deads2k @lavalamp @liggitt @sttts @k8s-mirror-api-machinery-bugs

[2018-06-12 09:30] cesartl commented on #17088
I first came across this issue a few months ago and after reading it too quickly I was still confused. After a recent second read I realised that my requirement was actually really easy to achieve with the NGINX Ingress Controller.

I've written this up as an article on [Medium](https://medium.com/@cesar.tronlozai/save-on-your-aws-bill-with-kubernetes-ingress-148214a79dcb).

I hope someone else fi

[2018-06-12 09:44] hzxuzhonghu commented on #65012
But it is strange that the kubelet could reconnect seeing that by netstat.

[2018-06-12 10:12] CaoShuFeng commented on #65008
/sig cli

[2018-06-12 10:17] cruse123 commented on #52757
OpenStack is now supporting **Intel GVT-g** and **nVIDIA vGPU** technology to share GPUs among guest vms. But is it possible for k8s to manage kernel modules and do the same work? Maybe it needs support from Intel and nVIDIA.

[2018-06-12 10:23] CaoShuFeng commented on #65008
This is fixed in 1.11 by https://github.com/kubernetes/kubernetes/pull/61219

[2018-06-12 10:33] CaoShuFeng commented on #65010
Maybe try `--restart=Never`

[2018-06-12 10:42] jhorwit2 commented on #65008
@CaoShuFeng it was partially fixed as @sruon points out in that PR; however, it was fully fixed [here](https://github.com/kubernetes/kubernetes/commit/370bdba4cfe7ce4f9b8acde3163b1d8a613a41a2) so i'm closing this issue.

/close

[2018-06-12 10:42] #65008 closed

[2018-06-12 10:44] CaoShuFeng commented on #65010
FYI:

https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#job-termination-and-cleanup

The doc said:

[2018-06-12 10:46] jhorwit2 commented on #65010
/sig apps
/kind bug

@vineetchawla can you please paste the output of `kubectl get cronjob hello -oyaml`. I'm going to take a guess you're not using the version of cronjobs that defaults the history limit, thus it's keeping an infinite amount.

[2018-06-12 10:48] ChikkannaSuhas opened #65013 "kubectl cordon causes downtime of ingress(nginx)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In order to migrate to a new version of kubernetes on GKE. I cordoned(Kubectl cordon <node>) all nodes in the  old node pool(1.8.9) in order to drain the node pool(pods on the node) with an intention to cause the pods to run on a new version of the node pool(1.10.2). As soon as I cordoned all the nodes in the old node poo

[2018-06-12 10:50] jhorwit2 commented on #65011
@ronakpandya7 Please open this issue under the istio project as it's separate from Kubernetes. Thanks!

/close

[2018-06-12 10:50] #65011 closed

[2018-06-12 10:53] jhorwit2 commented on #65011
Or better yet @ronakpandya7 i'd recommend stackoverflow as this is a support question!

[2018-06-12 11:04] vineetchawla commented on #65010
![screen shot 2018-06-12 at 13 01 43](https://user-images.githubusercontent.com/1390884/41286764-eb8d0bec-6e40-11e8-929f-4ece0361189a.png)
@jhorwit2 Here is the output
@caesarxuchao I tried the restart policy onFailure as well as never. Behaviour stays the same.

[2018-06-12 11:06] jhorwit2 commented on #65013
_Technically_, this isn't a Kubernetes bug as this is working as intended; however, it does beg the question why we remove unschedulable nodes if they're marked as ready since we perform the {following checks today](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L585-L619) to determine LB backend nodes.

* is it scheduable?
* is it not a master?
*

[2018-06-12 11:09] jhorwit2 commented on #65013
cc @MrHohn

This bug extends beyond GCP/ingress controller and to anyone using pools to upgrade nodes. A typical workflow I see is you'd cordon a node pool so as you drain each node the pods don't go to another node in the pool that'll shortly be drained as well. The current logic does not support that and complicates cluster administration because cordoning does not respect PDB's.

[2018-06-12 11:17] jhorwit2 commented on #65007
/remove-sig testing
/sig cluster-lifecycle
/kind bug

[2018-06-12 11:18] jhorwit2 commented on #65013
/remove-sig apps
/remove-sig gcp

(since the service controller falls under sig networking)

[2018-06-12 11:35] SHUFIL commented on #65007
/remove-sig testing
/sig cluster-lifecycle
kind bug

On Tue, Jun 12, 2018 at 4:48 PM Josh Horwitz <notifications@github.com>
wrote:

[2018-06-12 11:38] SHUFIL commented on #65007
Hi,

I have updated same in   kubernetes/test-infra
<https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:>

https://github.com/kubernetes/test-infra/issues/8334

On Tue, Jun 12, 2018 at 5:05 PM Shufil Khan <shufilk@gmail.com> wrote:

[2018-06-12 11:39] jhorwit2 commented on #65003
/sig storage

[2018-06-12 11:47] jhorwit2 commented on #64950
/sig node

[2018-06-12 11:51] hzxuzhonghu commented on #65012
/kind bug

[2018-06-12 12:01] jhorwit2 commented on #64966
@luzhzhsoft Please take a look at [this stackoverflow](https://stackoverflow.com/questions/36384873/kubernetes-job-cleanup) post covering this topic. Do the suggestions there satisfy your needs?

[2018-06-12 12:12] bclau opened #65016 "Windows containers do not use DNS suffix search lists and do not have entries in the hosts file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig windows

**What happened**:

When deploying Kubernetes pods, the Linux containers will contain the following entries in the ``/etc/resolv.conf`` file:

    nameserver 10.0.0.10
    search e2e-tests-dns-x649p.svc.cluster.local svc.cluster.local cluster.local jqfxe3n5w2rubdex0hknvvd1kf.bx.internal.cloudapp.net
    options ndots:5

and th

[2018-06-12 12:29] detiber commented on #57518
@luxas @thockin After putting a bit more thought into this, would it be possible to standardize on an environment variable that could be set through the downward api to override the default behavior of treating the hostname as the node name in the proxy? That would simplify the configuration on the kubeadm side (no need to override the command with the downward api, only setting the appropriate en

[2018-06-12 12:35] butenkor commented on #42649
I hit similar issue:

`Cannot determine if job needs to be started: Too many missed start time (> 100). Set or decrease .spec.startingDeadlineSeconds or check clock skew.`
even if i do not/never shut down the cluster. Once last job has finished and cronjob reached above state a new job is not triggered/scheduled anymore (even if cronjob is not suspended).

I use following setup for the cronjob:

[

[2018-06-12 12:42] ishaibin opened #65017 "Minikube with Mysql persistent volume tutorial fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig docs

**What happened**:
I ran the tutorial of running local mysql with minikube
https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/
With its own persistent volume , when trying to create the persistent volume with
kubectl create -f https://k8s.io/docs/tasks/run-application/mysql-pv.yaml
It fails a

[2018-06-12 12:43] lmdaly commented on #63048
@jiayingz apologies for being ambiguous above. When I said device plugin does the "discovery, advertisement and allocation", I was referring to the device plugin framework as a whole.
In our current model, the allocation decision is still made by Kubelet. Infact we think the allocation logic should remain in Kubelet

We are still considering what are the options for storing state. We are currently

[2018-06-12 13:24] liggitt commented on #65012
they should once the dead/idle TCP connection times out

[2018-06-12 13:46] bradjones1 commented on #61486
I got bit by this today, as well, however I do not believe my nodes have custom DHCP parameters assigned. Otherwise, followed the instructions at https://aws.amazon.com/blogs/opensource/network-load-balancer-support-in-kubernetes-1-9/

The Load Balancer provisions but exhibits the above behavior: None of the nodes will report a healthy pod and none of them can be accessed directly on the nodePort.

[2018-06-12 13:48] johanot commented on #64962
/sig cluster-lifecycle

[2018-06-12 13:56] davidham commented on #23580
/reopen /remove-lifecycle rotten

[2018-06-12 13:59] ptaillard commented on #62594
Yeah same issue on my side when I activate readiness probe... I got this issue "Readiness probe failed: Get getsockopt: connection refused" then when the service is available everything is green.

My probe's configuration:
`livenessProbe:
           httpGet:
             path: /
             port: 80
           initialDelaySeconds: 120
           timeoutSeconds: 2
           periodSeconds: 30

[2018-06-12 14:34] BorisDr commented on #17088
**cesartl**,

Came to same solution by myself, but it is not working. Ingress installed via helm to kube-system namespace with "rbac create" option.

[2018-06-12 14:45] ysaakpr commented on #64653
I am too facing same issue after doing kops upgrade, which moved the kublet version to 1.9.6
[code]

[2018-06-12 15:02] uablrek commented on #53601
[code]

Seems like `rktlet` is dead and does not support >v1.10. It may be more honest to users to simply say "rkt is no longer supported"?

[2018-06-12 15:08] jsafrane commented on #64984
CSI volumes in-lined into pods are tracked in https://github.com/kubernetes/community/pull/2199. We definitely want to support them before GA.

[2018-06-12 15:17] liggitt commented on #64909
also, since the health check does a dial every time, it is vulnerable to things like slow dns lookups that might not be affecting the actual established clients. I think switching it to an actual client and doing a health check would be better.

[2018-06-12 15:20] hzxuzhonghu commented on #65012
@liggitt The tcp keepalive is ok in this case. It can not sense exception.

[2018-06-12 15:33] zloo commented on #64137
I see that we have a PR for post-1.11 for the deepcopy issue, which is awesome!

Can we somehow test whether this also fixes the dangling cgroups issue? Was anyone able to reproduce it? Can we anyhow assist with something?

[2018-06-12 15:42] PatrickLang commented on #65016
This could be a partial fix https://github.com/Azure/azure-container-networking/pull/152

[2018-06-12 15:53] devurandom commented on #42544
Still interesting.

/remove-lifecycle stale

[2018-06-12 15:54] PatrickLang commented on #65016
@dineshgovindasamy @daschott can you weigh in on how this should be set?

[2018-06-12 15:57] mshaverdo commented on #60518
I have the exactly same problem with multi-container pods with different shutdown duration. It could be reproduced using following pod:

[code]

Due to my investigation, problem in the `kubelet.notRunning()` function and related to  `kubelet.cleanUpContainersInPod()` function and `kubelet.minDeadContainerInPod` constant.

There are 3 cases of cleanUpContainersInPod() invocation:

**I. Pod running,

[2018-06-12 16:09] flx42 commented on #52757
@cruse123 For now, you would have to have each virtual machine be a separate Kubernetes node, with one (v)GPU each.

[2018-06-12 16:18] ysaakpr commented on #64653
Tried rolling back to 1.9.3, but still the error exists, Unable to mount the volumes.
Cloud provider : aws
[code]
[code]

[2018-06-12 16:42] msau42 opened #65021 "Add CSI volume attributes for kubectl describe pv"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
kubectl describe pv doesn't show the volume attributes

[2018-06-12 16:45] cblecker commented on #65007
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-12 16:45] #65007 closed

[2018-06-12 17:01] vikasuy commented on #61486
potentially related: https://github.com/kubernetes/kubernetes/issues/64148

[2018-06-12 17:01] vikasuy commented on #61486
@micahhausler

[2018-06-12 17:04] liggitt commented on #64909
/assign

[2018-06-12 17:10] john-delivuk commented on #56430
I suspected that but what should be hitting it? I had no HPA's enabled. I did scale up to 2 replicas just to see, but not effect.

[2018-06-12 17:21] luxas opened #65023 "kubeadm v1.11 release tracking issue"
On request by the release manager @jberkus (also cc @kubernetes/kubernetes-release-managers), I'm creating this tracking issue for the kubernetes/kubeadm repo. (Thanks @dims for reminding me :wink:)
This is a similar issue to e.g. https://github.com/kubernetes/kubernetes/issues/51841

I'm tracking what we need to get done for kubeadm to be in a release-able state in this milestone: https://github.

[2018-06-12 17:21] luxas commented on #65023
/sig cluster-lifecycle
/sig release

[2018-06-12 17:31] max8899 commented on #56610
@rsareth  It's a template for test:)，you can add permissions according to your demands.

[2018-06-12 17:37] rsareth commented on #56610
@max8899 Ok :-) thank you for your response.

BTW, do you have some clear tutorials/howtos on how to pull docker images from AWS ECR Registry, please? I didn't find any.

Thanks!!

[2018-06-12 17:41] max8899 commented on #56610
@rsareth may be you can find it on aws docs

[2018-06-12 17:51] gnufied commented on #64984
There is a ongoing discussion about whether CSI RPC calls should accept CO workload information -https://github.com/container-storage-interface/spec/issues/248 . I think the concern being raised there is -  if CSI plugins start accepting CO specific params then at least some of them will become CSI plugins that only work on particular CO.

[2018-06-12 18:10] rsareth commented on #56610
@max8899 I just read again and I found it. As I was running the getting started for aws eks, I just added new right to my eks role!!!

Thank you anyway ;-)

[2018-06-12 18:15] djsly opened #65025 "Azure LB becomes unconfigurable if a single NIC part of the backend pool Fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We are trying to create Kubernetes Services of type LoadBalancer, the Load Balancer cannot accept Write/Delete operation and it is complaining about a Failed NIC.

[code]
All operation on this LB is throwing this error out.

**What you expected to happen**:

That the Service IP gets provisioned in the LB, and a Failed NIC

[2018-06-12 18:15] luxas commented on #64806
FWIW, https://github.com/kubernetes/kubeadm/issues/857 is a known issue in `kube-proxy`. It's not new, has been here all releases so far, but we want to highlight it to users this release at least as we've been talking about this.

[2018-06-12 18:16] djsly commented on #65025
/sig azure

[2018-06-12 18:16] djsly commented on #65025
@kubernetes/sig-azure-bugs

[2018-06-12 18:18] #64861 closed

[2018-06-12 18:31] dashpole commented on #64933
Just to confirm: Summary API test is no longer flaky!

[2018-06-12 18:35] BenTheElder commented on #64933
Thanks!

On Tue, Jun 12, 2018 at 11:32 AM David Ashpole <notifications@github.com>
wrote:

[2018-06-12 18:55] DirectXMan12 commented on #56430
I suspect it's not the metrics API server -- I've seen in other cases in my testing, where just the presence of an API service can cause weird performance profiles.  I've mainly only noticed it when the given API server doesn't serve an OpenAPI spec, but I seem to recall having seen it elsewhere.

[2018-06-12 19:05] gnufied commented on #61137
/remove-lifecycle stale

[2018-06-12 19:07] gnufied commented on #61137
@yujuhong volume manager uses kubelet's pod manager as source for picking pods that needs volumes. Once a pod gets rejected by kubelet, shouldn't it be removed from pod manager? and in that case - next reconcilliation loop of volume manager should remove the pod from desired state of world.

What do you suggest should be source of truth for volume manager to pick pods from?

[2018-06-12 19:09] mikedanese commented on #60659
Closing this, let's reopen when we find a compelling reason to.

[2018-06-12 19:09] #60659 closed

[2018-06-12 19:13] mikedanese commented on #58790
I think this can be closed now.

[2018-06-12 19:21] bradjones1 commented on #61486
I don't believe the above issue is the same as this... though the underlying cloud provider code could certainly be involved. The NLB is, as far as I can tell, adding sensible rules to the nodes' security group.

[2018-06-12 19:32] roycaihw commented on #60937
@vosmith I think `enum` is supported in openapi v2. Please refer to discussion in https://github.com/kubernetes/kubernetes/issues/24562. The improvement is tracked in https://github.com/kubernetes/kubernetes/issues/25716.

Currently in kubernetes we use openapi v3 spec in CRD validation schema where `enum` is also used.

[2018-06-12 19:32] DirectXMan12 commented on #60511
/priority important-soon

[2018-06-12 19:35] DirectXMan12 commented on #58785
/remove-lifecycle stale

[2018-06-12 19:44] DirectXMan12 commented on #63486
I seem to vaguely recall from last time that this came up that this wasn't a problem with any of our code -- whatever was doing the deployment was provisioning different proxy certs per master, which is the wrong thing to do.

What's your deployment tool?

[2018-06-12 19:45] DirectXMan12 commented on #56335
For future readers of this issue, we're brainstorming improvements here: https://docs.google.com/document/d/1Gy90Rbjazq3yYEUL-5cvoVBgxpzcJC9vcfhAkkhMINs/edit#heading=h.9oka059ig9n5

[2018-06-12 20:06] #59051 closed

[2018-06-12 20:20] thockin commented on #64612
Sorry, just catching up.

Go's JSON is case-insensitive.

I don't know what ugorji did, but Jordan asserts it was case sensitive.

json-iterator is EXPLICITLY compatible with Go's implementation (I even wrote a test for case insensitivity).

Let me go read the PRs - the truth is that I know precious little about the internals of json-iterator.

[2018-06-12 20:40] gnufied commented on #61259
This could be because for something like RBD, for entire resizing operation to complete, you must [re]create a pod that was using the PVC. Likely the resize operation is just waiting for file system resize to be completed on the node.  In 1.11, the PVC will have condition `FileSystemResizePending` when this happens.

Also in 1.11 we will be moving this feature to beta. @guodongx @Etienn01 can you

[2018-06-12 20:56] iMartyn commented on #45173
/remove-lifecycle stale

[2018-06-12 20:56] iMartyn commented on #45173
This is somewhat crazy, the PR is there to fix this, just noone cares.

[2018-06-12 21:07] jhorwit2 commented on #65013
@MrHohn WRT draining, it is recommended to do it one node at a time [here](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/); however, in real world scenarios doing it one node at a time can cause a lot of avoidable container churn if you don't cordon off the nodes you at least plan to drain so that pods aren't being scheduled on a node you'll be draining after the next one.

[2018-06-12 21:14] caesarxuchao commented on #64612
@nikhita do you want me to import the latest json-iterator and add k8s test cases, or do you already have some code locally?

[2018-06-12 21:15] davidkarlsen commented on #64924
@zq-david-wang that works!

[2018-06-12 21:21] nikhita commented on #64612
I had bumped jsoniter after your changes (but not the latest fix) and tested some small stuff here: https://github.com/nikhita/kubernetes/commits/json-iter-01

I'll be afk on Wednesday (it's already wednesday midnight here :upside_down_face: ) so if you could do the bump, that'd be great.

[2018-06-12 21:28] caesarxuchao commented on #64612
Thanks, nikhita. I had some similar code locally. I'll send a PR.

[2018-06-12 21:38] santiagopoli commented on #41881
+ 1

[2018-06-12 22:02] wild-endeavor commented on #59154
Any update on this?

[2018-06-12 22:21] lavalamp commented on #59154
The kube-openapi repo now has a binary that can theoretically do this transformation. I intend to have this added as one of the output artifacts. We have to upconvert from OpenAPI v2 to v3 first though.

[2018-06-12 23:13] wild-endeavor commented on #59154
sorry, which is the binary?  I don't think I'm looking in the right place.

[2018-06-12 23:15] misterikkit opened #65036 "SharedInformer documentation is missing or hard to find"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I cannot find documentation on the correct way to use informers & shared informers. Without guidance, I ended up writing code that called `"k8s.io/client-go/informers/core/v1".NewPersistentVolumeInformer` (and some others). Although I read the docstring of that method, it was only through conversation with a more experienc

[2018-06-12 23:15] #64819 closed

[2018-06-12 23:27] vosmith commented on #25716
Has anyone started a PR for this?

[2018-06-12 23:28] vosmith commented on #60937
@roycaihw thank you!

[2018-06-12 23:37] liggitt commented on #65005
Which control loops refused to start? Do you have the exit message handy?

[2018-06-12 23:38] lavalamp commented on #59154
https://github.com/kubernetes/kube-openapi/blob/master/cmd/openapi-gen/openapi-gen.go

The paint is still wet. It doesn't do this *yet*, just to be clear.

On Tue, Jun 12, 2018 at 4:14 PM Yee Hing Tong <notifications@github.com>
wrote:

[2018-06-12 23:46] misterikkit commented on #65036
/cc @kubernetes/sig-api-machinery-bugs

[2018-06-12 23:54] saiyan86 commented on #65016
We should change the default CNI config file to include all these suffixes & change CNI to accommodate these suffixes accordingly. @PatrickLang

[2018-06-12 23:58] wild-endeavor commented on #59154
Got it yeah.  I `go built` that already and ran it on my `types.go` but the only thing that that produced was the openapi go files, not the json validation spec.  (What are those files used for by the way?  These types are coming from a CRD/custom operator - is the point to make the API show up under `swagger.json` somehow?)

In any case, what do we think is the rough timeline for the validation b

[2018-06-13 00:06] feiskyer commented on #65025
@djsly This is a limitation of Azure API, and the failed state is not taken into consideration yet in controller manager. We should definitely handle this in Azure could provider.

Meanwhile, a simple way to mitigate the issue is fix nic state, e.g.

[code]

[2018-06-13 00:11] davidz627 commented on #64984
@jsafrane The proposal here https://github.com/kubernetes/community/pull/2199 does not cover the general in-line volume case, it only deals with "Migration" of current in-tree in-line volumes to call out to CSI instead.

The key point here is I am not proposing adding something new in the pod spec like:
[code]

rather just making

[code]
call out to the GCE PD CSI Driver instead.

If we want to su

[2018-06-13 00:31] mattjmcnaughton commented on #60511
@DirectXMan12 I apologize I haven't had the time to make progress on this. Please feel free to remove me from the assigned label.

[2018-06-13 00:36] caseydavenport commented on #50451
This will be in v1.11.

I know at least Calico [(as of release v3.1.3)](https://github.com/projectcalico/libcalico-go/pull/872) will have support for this once it ships.

/close

[2018-06-13 00:36] #50451 closed

[2018-06-13 00:52] unclewizard commented on #64715
I haven't tried it for the readiness probe.

[2018-06-13 01:04] micahhausler commented on #57212
/remove-lifecycle stale

[2018-06-13 01:31] #64966 closed

[2018-06-13 03:14] #58245 closed

[2018-06-13 03:16] dims commented on #65023
we need https://github.com/kubernetes/test-infra/pull/8345 to fix some upgrade issues

[2018-06-13 03:42] tubzby opened #65042 "fluentd-elasticsearch not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
after deployed cluster/addons/fluentd-elasticsearch, logs can't push to service elasticsearch-logging.

cluster-info:
[code]

part of fluentd logs :
[code]

part of elasticsearch-logging logs:
[code]

**What you expected to happen**:
Expected logs can be collected in each node and show in Kibana

**How to reproduce it (as

[2018-06-13 03:57] tubzby commented on #65042
/sig big-data-bugs

[2018-06-13 03:59] tubzby commented on #65042
/sig big-data

[2018-06-13 04:33] brendandburns commented on #65025
cc @khenidak

[2018-06-13 04:38] brendandburns commented on #41850
@djsly what version of k8s is this? There was a pretty serious bug in 1.7 and earlier that could cause this:

https://github.com/kubernetes/kubernetes/pull/57484

Can you confirm that you have that PR in your k8s version?

[2018-06-13 04:56] napat1412 opened #65044 "PVC jsonpath={.status.capacity.storage} isn't update after expand (resize) pvc."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig storage

**What happened**:
pvc jsonpath={.status.capacity.storage} isn't update after expand (resize) pvc.

**What you expected to happen**:
After pvc is expended, pvc jsonpath={.status.capacity.storage} must equal to jsonpath={.spec.resources.requests.storage}.

**How to reproduce it (as minimally and precisely as possible)**:
I crea

[2018-06-13 05:15] jingax10 opened #65045 "Fail to run Calico 3.0+ with existing addon yaml files under cluster/addons/calico-policy-controller/"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The K8s cluster with NETWORK_POLICY_PROVIDER=calico could not be brought up in GCE when using Calico 3.0+ release. It would complain a number of issues, e.g., missing CRDs, authentication issues, ...

**What you expected to happen**:

K8s cluster can be brought up with Calico 3.0+ release

**How to reproduce it (as minim

[2018-06-13 05:18] jingax10 commented on #65045
/sig network

[2018-06-13 05:59] napat1412 commented on #65044
This comment explain how to clean status of Persistent Volume Claim(PVC).
https://github.com/kubernetes/kubernetes/issues/35941#issuecomment-328028093 (In appendixes)
Do i manual clean status of every pvc with etcd?

[2018-06-13 06:09] justaugustus commented on #35773
We're planning on deprecating this command.
Watch this Feature thread for updates: https://github.com/kubernetes/features/issues/553

/close

[2018-06-13 06:09] #35773 closed

[2018-06-13 06:09] justaugustus commented on #35773
/unassign

[2018-06-13 06:11] saiyan86 commented on #63327
It seems you don't have network plugin running.
Could you please deploy the following yaml and try again?
This is the first version of Azure Network Policy Manager(network policy plugin).

https://github.com/saiyan86/acs-engine/blob/6ac0bca2ad9a22727a5e66e57ba57a1d2369b654/parts/k8s/addons/kubernetesmasteraddons-azure-npm-daemonset.yaml

[2018-06-13 06:20] Vickey-Wu commented on #59959
why i can't add apt-key?
 `curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -`

[2018-06-13 06:48] rfranzke commented on #65005
Sorry, I don't have the exact message right now or know which exact controller loop didn't start. As far as I remember it was something like `Error from server (ServiceUnavailable): the server is currently unable to handle the request (get serviceclasses.servicecatalog.k8s.io)` and then it terminated.
If that's not enough information to debug that please feel free to close the issue; i'll re-open

[2018-06-13 07:09] ysaakpr opened #65047 "Failed to attach volume after upgrading from 1.9.3 to 1.9.6"
/kind bug

**What happened**:
Deployment failed with error as below, where i verified the existence of pv and pvc as required. This was working all fine till i migrate kubelet v to 1.9.6 from 1.9.3. And i tried the downgrading kube version back 1.9.3 but error still exists.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2018-06-13 07:18] gyliu513 opened #65048 "Enable customize root CA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently, we are using easyrsa to generate root CA for kubernetes at https://github.com/kubernetes/kubernetes/blob/master/cluster/centos/make-ca-cert.sh#L69 , it is suggested that we should enable customer use their own root CA.

/sig security

**What you expected to happen**:

**How to reproduce it (as minimally and

[2018-06-13 07:20] gyliu513 commented on #65048
/area security
/sig cluster-lifecycle

[2018-06-13 07:31] kiithwarrior commented on #60134
repo_gpgcheck=0 worked for me as well, needs a better solution

[2018-06-13 07:59] sbrichardson commented on #13488
This is ridiculous and needs to be fixed.

[2018-06-13 08:19] dbdd4us opened #65051 "Update node condition in cloud node controller doesn't work actually."
**Is this a BUG REPORT or FEATURE REQUEST?**:

# > /kind feature

**What happened**:
In [cloud node controller(line 380)](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L380), the controller add NodeNetworkUnavailable to the node conditions, and use `cnc.kubeClient.CoreV1().Nodes().Update(curNode)` to update it. But node status can not be updated by `N

[2018-06-13 08:28] jiaxuanzhou commented on #60742
this could be fixed by one pr

[2018-06-13 08:48] danielloczi commented on #26944
Hi!

I have a set of environment variables configured for a deployment. The deployment is applied using kubectl apply -f deployment.yaml
After I edit the yaml file and add an extra env varibale, then apply it using the same command:
kubectl apply -f deployment.yaml
After that kubectl logs that the deployment is configured, but the pod not terminates, and the new env variable is not promoted to the

[2018-06-13 08:52] hzxuzhonghu commented on #65012
I think introduce app level keepalive between server and client for long living watch connections can solve this.

1.  APIServer send heartbeat periodically, and client will be aware that  the connection is dead if not receiving heartbeat for a timeout.

1. how to deal with keepalive timeout?  Maybe client can close the underlying connection directly, but I am not sure if there is any risk for htt

[2018-06-13 09:03] danielloczi commented on #26944
Update: I tried to reproduce it a couple of minutes ago, but I was unable. I trying to find the case, when it does not work.

[2018-06-13 09:32] pkdetlefsen commented on #65013
I'm having problems with this issue as well. The fact that nodes are removed from target pools when cordoned means that I sometimes get brief interruptions of the traffic to a service when I cordon a node.

I'm guessing the node isn't gracefully removed from the load balancer which results in some traffic being cut off trying to route through the recently cordoned node.

The same problem occasiona

[2018-06-13 09:33] HYmian commented on #63190
@jingxu97 I use emptydir limit as workaroud now

[2018-06-13 09:33] MilenkoM commented on #46915
I have the same problem on my Ubuntu 16.04
[code]

If I try
[code]
How to solve this problem?

[2018-06-13 09:43] phoracek commented on #63048
Thank you @vikaschoudhary16 for opening this issue. We would welcome this feature as it allows us to get closer to network device plugins without hacks. Right now we obtain pod UID using the checkpoint file hack and even though it works, it feels dangerous and is not the most elegant solution.

Is there any progress in discussions outside this issue?

[2018-06-13 10:40] dims commented on #65047
/close

since #49926 is still open, let's track any discussion there

[2018-06-13 10:40] #65047 closed

[2018-06-13 10:42] dims commented on #64959
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-13 10:42] #64959 closed

[2018-06-13 10:42] dims commented on #64958
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-13 10:42] #64958 closed

[2018-06-13 10:43] dims commented on #64948
/close

[2018-06-13 10:43] #64948 closed

[2018-06-13 10:43] dims commented on #64940
/sig node

[2018-06-13 10:43] dims commented on #64926
/sig node

[2018-06-13 10:49] cesartl commented on #17088
hi @BorisDr,

I've installed the Ingress Controller manually:

[code]

and it works well.

I've actually updated the article above to show how to use [Ambassador](https://www.getambassador.io/), perhaps this is a better solution for you?

[2018-06-13 11:14] neurostream commented on #30558
- @bgrant0607 Skimming through each of the nuanced variations of the issue cited here, I'm not seeing any that Kustomize doesn't seem to address - and then some.
- For others who will probably have Kustomize to look forward to; but are still working it into your tooling adoption in the days or weeks ahead _and_:
  - _if_ you are stuck until then with:
    - an initial  ```kubectl create -f app-con

[2018-06-13 11:22] djsly commented on #41850
@brendanburns thanks for the reply, after we upgraded to 1.7.13 the issue where kubelet disappear forever was resolved. We are still affected by Kubelet being marked as NotReady and we were able to pinpoint it to the management.azure.com becoming not available across multiple SubID for ~5mins.

This is causing PodEviction across 15-50% of our nodes once a day. I have engaged with Azure Support sin

[2018-06-13 11:50] wgliang commented on #65021
If there was no one working on this, I can help do it.

[2018-06-13 11:50] wgliang commented on #65021
/assign

[2018-06-13 11:53] wgliang commented on #65021
/cancel help wanted

[2018-06-13 11:55] wgliang commented on #65021
/remove-help

[2018-06-13 12:05] OJezu commented on #59811
I've nevertheless restarted kube-proxy on all nodes, and the issue still occurs with new pods created after changes to deployment configurations.

Deleting pod running kube-controller-manager does not seem like a good idea, so I didn't do that. However based on output of `kubectl describe` of services and pods, there is no reason to believe that the controller is misbehaving.

[2018-06-13 12:12] sahildavawala commented on #58876
I would like to add one more thing in the solution :

Kindly check the file /etc/hosts on master host and update it with the entry
`localhost       <private-ip of master host>`

Then run the below command(on master host)
`kubeadm init --apiserver-advertise-address=<private-ip of master host>`

Now try to run the join command that was generated in the output of "kubeadm init"
It should work fine.

[2018-06-13 12:28] john-bakker commented on #43168
Having the same problem here in 1.9.3 , one of the developers deleted it's pods before deleting the job .

[code]
[code]

Can this item be reopened?

[2018-06-13 13:35] mweichert commented on #43069
We're having the same problem. Please update gluster!

[2018-06-13 13:45] aszecowka commented on #63981
For people who also encounter this problem, probably it was caused by the bug in the resource quota controller, which caused deadlocks and in k8s 1.9.4 it was already fixed (https://github.com/kubernetes/kubernetes/commit/010a127314a935d8d038f8dd4559fc5b249813e4#diff-ea58bce3e7609824aaacbc6149b3ecd2)

[2018-06-13 13:45] liggitt commented on #65048
all of the certificates used by kubernetes are able to be overridden and provided via trust bundles. was this issue related to a specific deployment method?

[2018-06-13 13:48] shyamjvs commented on #63030
There's no active work left here. The scaling-related flakes should be fixed with https://github.com/kubernetes/kubernetes/pull/64768 merged.
And for logexporter issue, I've filed #65018 (we're looking into it, but it's not very critical).

/close

[2018-06-13 13:48] #63030 closed

[2018-06-13 13:52] gyliu513 commented on #65048
@liggitt

We are now using https://github.com/kubernetes/kubernetes/blob/master/cluster/centos/make-ca-cert.sh#L69  , but this script currently do not support generating server.key and server.cert based on customized ROOT CA.

Shall we make some enhancement to this script to support this? Or does Kubernetes has some build-in script that I can use?

[2018-06-13 13:55] liggitt commented on #65004
the authorization restrictions here are working as intended:
* the NodeRestriction admission plugin disallows creation of the mirror pod
* the Node authorizer prevents the node from accessing the PVC resource unless it has a pod scheduled to it

in protecting against a compromised kubelet, this is sufficient.

if we want to the kubelet to voluntarily reject static pods containing PVCs, that would

[2018-06-13 14:01] liggitt commented on #65048
I see. I wouldn't anticipate adding support for arbitrary root CAs to kube deployment scripts. The intersection of users with existing root CAs they care about who are also willing to hand over signing material for that CA to a kube deployment script is vanishingly small

/close

[2018-06-13 14:02] #65048 closed

[2018-06-13 14:10] msau42 opened #65058 "csi-external-provisioner clusterrole is missing rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
It's missing persistentvolumes get

[2018-06-13 14:20] tutaidalal commented on #20753
With the above steps I am getting the same issue and only the claim is usable after delete and re-create the volume. Could anyone please drive me to the solution? Or the only way is to delete and create the volume again ?

[2018-06-13 14:21] dims commented on #64960
@uablrek would this work too? https://simpleit.us/2017/05/01/add-extra-entropy-for-ubuntu-and-debian/ (from https://github.com/kubernetes/kubernetes/issues/60751)

[2018-06-13 14:33] klausenbusk commented on #55738
/close

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with /remove-lifecycle rotten.
Rotten issues close after an additional 30d of inactivity.If this issue is
safe to close now please do so with /close.
Send feedback to sig-testing, kubernetes/test-infra and/or fejta.
/lifecycle rotten
/remove-lifecycle stale—
You are receiving this because you were mentioned.
Reply to this em

[2018-06-13 14:33] #55738 closed

[2018-06-13 14:58] nikhita commented on #65036
/kind documentation

[2018-06-13 15:02] nikhita commented on #55219
/remove-lifecycle stale

[2018-06-13 15:03] nikhita commented on #56278
/remove-help

[2018-06-13 15:04] nikhita commented on #54228
/remove-lifecycle stale

[2018-06-13 15:07] nikhita commented on #51930
@enriquetaso thanks for the update!

This is fixed.

https://github.com/kubernetes/kubernetes/blob/60cd056cb443c23b53240d274df4d5abc85c7aaf/staging/src/k8s.io/kube-aggregator/pkg/cmd/server/start.go#L81-L82

Closing.
/close

[2018-06-13 15:07] #51930 closed

[2018-06-13 15:08] nikhita commented on #51457
@ash2k since you self-assigned, I'll remove the help label.

/remove-help

[2018-06-13 15:09] nikhita commented on #50564
/remove-lifecycle stale

[2018-06-13 15:12] nikhita commented on #50622
@holygits thanks!!

I'll remove the help-wanted label on this. :)

/remove-help

[2018-06-13 15:14] nikhita commented on #49881
/remove-lifecycle stale

[2018-06-13 15:16] nikhita commented on #49208
/remove-lifecycle stale

@p0lyn0mial This issue has a help-wanted label. Do you intend to work on this? If yes, I'll remove the label.

Just trying to make sure that all help-wanted issues are issues where we are really looking for help. :)

[2018-06-13 15:18] nikhita commented on #48503
@shiywang This issue has a help-wanted label. Are you still intending to work on this? If yes, I'll remove the label.

Just trying to make sure that all help-wanted issues are issues where we are really looking for help, and they are up-to date. :)

[2018-06-13 15:20] nikhita commented on #47668
/remove-lifecycle stale

@sttts @anubhakushwaha afaik https://github.com/kubernetes/kubernetes/pull/61010 didn't completely fix this, did it?

Also, are we still looking for help on this issue? This has the help-wanted label and I want to make sure that all such issues are upto date. :)

[2018-06-13 15:21] nikhita commented on #60023
/remove-lifecycle stale
/remove-help

I'll do a review of this tomorrow morning.

[2018-06-13 15:29] nikhita commented on #53617
/remove-lifecycle stale

[2018-06-13 15:29] nikhita commented on #52865
/remove-lifecycle stale

[2018-06-13 15:30] nikhita commented on #46172
/remove-lifecycle rotten

rotten and help-wanted labels don't go hand in hand :)

[2018-06-13 15:31] nikhita commented on #46107
/lifecycle frozen

[2018-06-13 15:31] nikhita commented on #46107
/remove-lifecycle frozen
/remove-help

[2018-06-13 15:33] nikhita commented on #46310
/remove-lifecycle rotten

[2018-06-13 15:34] nikhita commented on #36733
/lifecycle frozen

[2018-06-13 15:35] nikhita commented on #36400
/lifecycle frozen

[2018-06-13 15:35] nikhita commented on #34059
/remove-lifecycle stale

[2018-06-13 15:38] DirectXMan12 commented on #60511
no worries, it happens

[2018-06-13 15:38] nikhita commented on #15863
/remove-priority awaiting-more-evidence

I don't think `priority/awaiting-more-evidence` and `help wanted` labels should be on the same issue. :)

This issue looks like it's got sufficient evidence already.

[2018-06-13 15:39] djsly commented on #65025
@feiskyer removing the Failed status on the NIC did allow the LB to start accepting write/delete requests, thanks.

Keeping open to track the updated controller-manager logic.

[2018-06-13 15:39] nikhita commented on #12142
/remove-priority awaiting-more-evidence

I don't think `priority/awaiting-more-evidence` and `help wanted` labels should be on the same issue. :)

This issue looks like it's got sufficient evidence already: https://github.com/kubernetes/kubernetes/issues/12142#issuecomment-323975955

[2018-06-13 15:40] nikhita commented on #12142
/kind bug

[2018-06-13 15:41] nikhita commented on #7923
/remove-priority awaiting-more-evidence

I don't think `priority/awaiting-more-evidence` and `help wanted` labels should be on the same issue. :)

This issue looks like it's got sufficient evidence already.

[2018-06-13 16:00] Cherishty opened #65060 "What file system can be mount into windows container?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
All my vms are deployed on **Azure**. and I create a nfs server , as well as pv and pvc based on that. I am sure above step works. However, when I try to mount this nfs into a  pod who contains windows container, it occurs an error:
`azureMount: only cifs mount is supported now`
Then I check the code in https://github.com

[2018-06-13 16:02] uablrek commented on #64960
@dims I think that is the "real thing", i.e random in HW, but I am not an expert at all on these things. But if it is HW then it is probably a good idea to use this on the host and use the virtual rng I mentioned to get it usable inside the VMs. But as many articles on the net says, /dev/urandom is sufficient in almost all cases and is not blocking.

[2018-06-13 16:07] Cherishty commented on #65060
@kubernetes/sig-Windows-bugs
@kubernetes/sig-Storage-bugs
/sig volume-mount

[2018-06-13 16:15] uablrek commented on #64960
@dims Reading a bit more it seems "HAVEGE principle" uses things present on a headless VM to get entropy and, if so; Yes, it should fix the problem. (but I havn't tried).

[2018-06-13 16:16] rdrgporto commented on #59959
Hi @Vickey-Wu,

You can try it by using **wget**:

`wget https://packages.cloud.google.com/apt/doc/apt-key.gpg`

If you have some issue, maybe it is due to ISP (Internet service provider).

Regards :vulcan_salute:

[2018-06-13 16:19] mykolasmith commented on #56795
This would be useful for us as well. It shouldn't actually be too difficult to implement. I'll take a look today.

[2018-06-13 16:20] calvix commented on #43916
:+1:

[2018-06-13 16:30] kfox1111 commented on #64984
Hmm. yeah. kubernetes/community#2199 is talking about transparently mapping existing api to csi drivers. not allowing them to be called like a csi driver. We need another proposal to cover csi in pod spec directly.

Though if the csi in pod spec issue was solved, then the mapping could be done by upgrading the specs to be csi inline instead of mapping them at runtime. Might be a simpler implementa

[2018-06-13 16:30] geekofalltrades commented on #51891
@cmluciano, could you reopen this issue?

[2018-06-13 16:33] thockin commented on #44997
The alternative also has problems.  If we don't remove nodes from LB pools,
we can be establishing new connections right up until the node dies, which
ALSO causes lost traffic and broken connections.

We really need to formalize LB eligibility as a concept distinct from pods
running and distinct from schedulability.

On Wed, Jun 13, 2018, 3:27 AM pkdetlefsen <notifications@github.com> wrote:

[2018-06-13 16:35] cmluciano commented on #51891
/remove-lifecycle rotten
/lifecycle frozen

[2018-06-13 16:44] hh commented on #64791
One interesting use case would be to generically add support in [kubernetes/client-go](https://github.com/kubernetes/client-go) to set the user-agent to the calling src code file and line using  [runtime.Caller](https://golang.org/pkg/runtime/#Caller). This would probably be an off-by-default option, but would provide very interesting data.

[2018-06-13 16:51] hh commented on #64791
I'm exploring logging all k8s client-go usage src+line using runtime.Caller a bit further:
https://github.com/cncf/apisnoop/issues/23

[2018-06-13 17:00] tutaidalal commented on #36222
I am also facing the same issue of formatting .. I have a application configuration of 400-500 lines. Tryied many times. For fist 40-50 lines the format is good ans easily readable.. However, when i try to create config for entire configuration file its very difficult to edit the config map..

[2018-06-13 17:01] lavalamp commented on #59154
Right, it doesn't make the json validation spec *yet*--future work. But now we have a place to put that code!

I wonder if @pwittrock has someone who might be interested in working on this? Basically the step needed for an MVP is to convert openapi v2 to v3.

[2018-06-13 17:01] hh commented on #64790
What about generically add support in [kubernetes/client-go](https://github.com/kubernetes/client-go) to set user-agent to the calling src code file and line using  [runtime.Caller](https://golang.org/pkg/runtime/#Caller).

An off-by-default option, having this level of insight for any k8s application seems like an easy win. Generating an index of test data that includes links to github for all ca

[2018-06-13 17:28] #48759 closed

[2018-06-13 17:35] MikeSpreitzer opened #65062 "Unrecognized internal errors in apiserver when etcd server is restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have three machines dedicated to running etcd servers (as systemd services), seven machines dedicated to being kubernetes masters, and ten machines dedicated to being kubernetes worker nodes.  Additionally I configure the etcd server nodes to also be kube workers, to make it easy to gather Prometheus metrics from the et

[2018-06-13 17:38] MikeSpreitzer commented on #65062
@kubernetes/sig-api-machinery-bugs

[2018-06-13 17:52] davidkarlsen commented on #64924
@bboreham
[code]

[2018-06-13 17:58] lavalamp commented on #47668
Sorry, didn't notice the activity on this until now.

If there is a size limit on annotations, you may have to make multiple smallish ones to test the behavior.

It's great that we now test the behavior, but we should really return a constant error message when the object exceeds the size limit (whatever that is) and not pass through the etcd / gRPC error message, those don't help end users unders

[2018-06-13 18:15] cmluciano commented on #48719
@caseydavenport @dcbw Any thoughts on this? I'm not sure if this is something podreadiness is meant to solve, but it seems like there are a couple of iptables enhancements we might be able to make.

[2018-06-13 19:03] guineveresaenger commented on #62786
Minor housekeeping request -

Could we tag this and https://github.com/kubernetes/kubernetes/pull/63598 with the 1.11 milestone, for tracking purposes for 1.11 release?

[2018-06-13 19:28] atomaras commented on #45509
We have the exact same scenario that @chavacava described. I don't think Jobs are supposed to work with a never-ending work queue

[2018-06-13 19:39] danesavot opened #65066 "kubectl replace or create new configmap if not exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
It seems there is no option to replace or create new configmap if one not exist
**What you expected to happen**:
I would expect sth like: kubectl replace-or-create configmap my-config ...
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use

[2018-06-13 19:56] jingax10 opened #65067 "Need to customize MTU when Calico CNI is used on GCP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, Calico CNI spec is specified in calico-node-daemonset.yaml under cluster/addons/calico-policy-controller without MTU specified (i.e., default 1500 is used). Given this is shared across many environments, we need a way to customize its MTU, say 1460 on GCP.

**What you expected to happen**:

**How to reproduce

[2018-06-13 19:56] jingax10 commented on #65067
/sig network

[2018-06-13 20:06] ivelichkovich commented on #64975
Try adding reserved resources to kubelet args for kubeReserved and systemReserved

[2018-06-13 20:18] davidghiurco commented on #42627
How come I am still seeing this issue in the following versions:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-05-31T19:01:20Z", GoVersion:"go1.9.6", Compiler:"gc", Platform:"darwin/amd64"}

Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba

[2018-06-13 21:36] davidkarlsen commented on #59478
Same here, also a with rook install.
api-server log: https://www.pastefile.com/K7Yqp1

kubectl version
[code]

os-release
[code]

uname -a
Linux main.davidkarlsen.com 4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-06-13 21:46] msau42 commented on #65058
https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L1121

[2018-06-13 21:46] ddebroy commented on #65060
@Cherishty you should be able to use Azure FileStorage from Windows containers on Azure. You need to make sure the access key for accessing the Azure Storage Account (backing the Azure FileStorage objects) is properly configured as a secret in Kubernetes. If you want to do basic/static storage provisioning you should be able to just create the FileStorage objects in the Storage Account, create cor