[2021-04-07 17:20] lavalamp opened #100891 "[design sketch] APF: limiting writes based on the number of affected watches"
Goal: for mutating requests, compute a weight factor based on the expected number of watch events the mutation might trigger.

Shared data model: We will define a fixed number of buckets. Each bucket is a uint64 counter. Each apiserver maintains its own bucket array. Periodically, the bucket array is published into the storage layer in a TTL'd resource [named for the apiserver](https://github.com/

[2021-04-07 17:21] lavalamp commented on #100891
cc @wojtek-t @MikeSpreitzer @tkashem

[2021-04-07 17:21] LappleApple commented on #80546
/assign @LappleApple

[2021-04-07 17:23] SergeyKanzhelev commented on #100769
/assign

[2021-04-07 17:27] SergeyKanzhelev commented on #36400
/sig network

Anybody from sig network wants to take this? Also I think dockershim port forwarding logic will be removed with dockerrshim so do we need it here?

[2021-04-07 17:29] aojea commented on #100890
/assign

[2021-04-07 17:29] 2rs2ts commented on #88293
/remove-lifecycle stale

[2021-04-07 17:35] rdxmb commented on #42889
Having this problem with nodes running `v1.20.5` on ubuntu 20.04. Pods stay "Terminating", when running `kubectl delete pod --force`, the new pod cannot start on another node, for the iSCSI-mount on the old node stays mounted.

When running manual `umount` on the old node, the pods start running on the other node.

[2021-04-07 17:35] rdxmb commented on #42889
/reopen

[2021-04-07 17:45] PushkarJ commented on #100401
Update on this issue:

1. heketi maintainers released a new version with the fix https://github.com/heketi/heketi/releases/tag/v10.3.0
2. etcd fix is in v3.5.0 but still in alpha stage https://github.com/etcd-io/etcd/releases/tag/v3.5.0-alpha.0
3. azure fix is in place as @navidshaikh mentioned: https://github.com/Azure/azure-sdk-for-go/releases/tag/v53.0.0

Have commits that fixes 1 and 3 in my f

[2021-04-07 17:55] msau42 commented on #97071
/remove-lifecycle rotten
/assign @mattcary @saikat-royc

[2021-04-07 18:02] ehashman commented on #97288
@rdxmb are you sure you have the same issue? The fix was backported into 1.20 quite some time ago.

[2021-04-07 18:06] rdxmb commented on #97288
I am not **quite** sure . As this is a very long issue with many comments, how can I reproduce or debug if it is the same?

[2021-04-07 18:08] dims commented on #100401
@PushkarJ yes! thanks.

[2021-04-07 18:15] palnabarun commented on #98854
/milestone v1.21

(marking in the current milestone until we get confirmation whether it is relevant to the release or not)

[2021-04-07 18:16] eddiezane commented on #98854
These failures appear to be the pod failing to start.

The assertions are very basic:

1. Run pod with `sh -c "exit 42"`
2. Check if exit code is 42

It's exiting with a code of 1 which probably means the pod is failing to start. I'll add some logging of the output and then we can figure it out from there. Most likely a timeout issue with the test cluster?

I would say this is not release blocking

[2021-04-07 18:19] palnabarun commented on #98854
Thank you @eddiezane for checking it so quickly. 🚀

/milestone clear

[2021-04-07 19:34] mdedetrich commented on #47202
@soltysh If the controller is being re-written which will allow for the change can we re-open the ticket to reflect this?

[2021-04-07 19:34] kmala commented on #97288
@rdxmb your issue is different than this. This issue is about increase in the time taken for a pod to be deleted from apiserver and not related to the volume plugins.

[2021-04-07 19:37] klueska commented on #94220
/remove-lifecycle stale

[2021-04-07 19:38] klueska commented on #94220
/remove-lifecycle rotten

[2021-04-07 19:57] liggitt opened #100895 "[go1.17] Guard against stdlib ParseIP/ParseCIDR changes in API validation"
#### What happened:

The stdlib ParseIP/ParseCIDR methods reports no error for some unbounded and questionable inputs

* https://github.com/golang/go/issues/30999
* https://github.com/golang/go/issues/43389

golang is considering tightening the permitted formats (disallowing leading 0s, for example).

While generally positive for new data, this could have the effect of making existing persisted da

[2021-04-07 20:06] danwinship commented on #92369
So I think there was sort of a consensus that we're going to work on "librarifying" kube-proxy/KPNG and worry about making _that_ be externally consumable.

If so, then trying to make the existing kube-proxy code cleanly importable may be a waste of time given that (a) it would be a dead end, and (b) we know kube-proxy is already close-enough-to-importable-if-you-don't-mind-getting-dirty because s

[2021-04-07 20:16] rikatz commented on #92369
Importable, yes...but it's quite a pain to use it between version changes without much pray. I was discussing this with @caseydavenport yesterday, exactly because of some Calico library migration and the dependencies that are included without any need...

I guess, if someone wants to migrate kube-proxy to external repo, it's still a win :)

[2021-04-07 21:05] prameshj commented on #100889
This is failing due to the client pod unable to get scheduled. From [test logs](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/1377314739251580928):

[code]

[Scheduler logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/1377314739251580928/artifacts/test-1789b1211d-master/kube-scheduler.log):

[code]

[2021-04-07 21:08] jsturtevant commented on #64801
We got the first gate-keeper policy PR open for anyone following along: https://github.com/open-policy-agent/gatekeeper-library/pull/70

[2021-04-07 21:15] bowei commented on #100889
Did the cluster footprint change for the e2e test framework?

[2021-04-07 21:31] dlwhitehurst commented on #83471
Having the same issue with registry:2 on my arm64 Pi tower. I thought it wouldn't start maybe because of the architecture but it's supposed to be supported. I tried restarting kubelet and I pulled the image using docker. Killed the pod (ContainerCreating) and I have another just like the first one.

I'm really stumped. I wish I knew how to troubleshoot this deeper. My 5-node Pi tower is new and Ku

[2021-04-07 21:34] prameshj commented on #100889
[This](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1379895509761658880/artifacts/gcp-resources-cluster-up.txt) is the cluster info from a passing test in master - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1379895509761658880, that testgrid is green - https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

[2021-04-07 21:51] rdxmb commented on #97288
@kmala ok thanks.

[2021-04-07 21:57] #95152 closed

[2021-04-07 22:13] aojea commented on #100889
This is fixed by #100893 , let's wait some runs to confirm before closing

[2021-04-07 22:13] aojea commented on #100890
This is fixed by #100893 , let's wait some runs to confirm before closing

[2021-04-07 22:17] prameshj commented on #100889
Thanks Antonio! Any idea why they are passing in master, even before the fix? - https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

[2021-04-07 22:21] Frederik-Baetens commented on #83471
In my case curling websites was also really slow. I filed an issue with GKE about that, but they refused to investigate.

[2021-04-07 22:22] swetharepakula commented on #93740
I have been looking at the test failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1374470616530292736. This failure actually is a different test than the one this issue was opened with. Looking at the logs, there does not seem to be a clear indication of the root cause.

The error is because the loadbalancer comes up within the timeout but the path has

[2021-04-07 22:53] aojea commented on #100889
no clear idea, the jobs are not equal ... I can't understand why only happens in that job ..

[2021-04-07 23:34] Jiawei0227 commented on #99518
So my current thought for the deprecated plugin is:

1. Release X: Deprecate the plugin in our public documentation
2. Release X+2: create a feature gate to disable the plugin but give the option to turn the feature gate on to enable the deprecated plugin for users to do migration
3. Release X+4: in-tree code removal

What do you guys think? This can give us faster code removal. We can also do 1 y

[2021-04-07 23:42] Jiawei0227 opened #100897 "glusterfs CSI migration support or deprecation needed"
CSI migration is an effort to enable smooth transition from intree volume plugin usage to CSI driver usage.
Context: https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/

Currently we are trying to evaluate for non-cloud provider plugins if they are in the interest of CSI migration support. If not, we will plan to mark them as deprecated and remove the source code from

[2021-04-08 00:00] steeling opened #100898 "Expose ordinal index as environment variable on statefulset pod"
#### What would you like to be added:

Expose ordinal index as environment variable on statefulset pod. Is there a reason this hasn't already been done? It seems like a simple thing.

#### Why is this needed:

So stateful applications have a consistent identifier. Can be used for sharding workloads.

[2021-04-08 00:40] Jiawei0227 opened #100900 "quobyte CSI migration support or deprecation needed"
CSI migration is an effort to enable smooth transition from intree volume plugin usage to CSI driver usage.
Context: https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/

Currently we are trying to evaluate for non-cloud provider plugins if they are in the interest of CSI migration support. If not, we will plan to mark them as deprecated and remove the source code from

[2021-04-08 01:13] nicomitchell commented on #94404
@pravarag @almas33 would it be ok if I took a look at this?

[2021-04-08 02:15] verult commented on #100194
Will do!

I ran the test in a GKE Ubuntu cluster running 1.19.6 and couldn't reproduce the failure. I'm now trying to run a cluster on GCE with Ubuntu nodes running k8s master, but haven't been successful after trying a number of techniques. If anyone happens to know how to do this let me know; I'll keep asking around otherwise.

[2021-04-08 03:03] yinchuan9527 commented on #92287
/cc

[2021-04-08 03:50] zhucan opened #100904 "kubectl logs failed with "net/http: TLS handshake timeout""
#### What happened:
kubectl logs failed with "net/http: TLS handshake timeout"

#### What you expected to happen:
kubectl logs successfully

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
![image](https://user-images.githubusercontent.com/13997135/113965633-5a0cc200-9860-11eb-

[2021-04-08 03:57] pacoxu commented on #100862
dup with #95188  and is fixed in #96297 for v1.19.6+.

[2021-04-08 04:37] bowei commented on #96909
/remove-lifecycle stale

[2021-04-08 04:37] bowei commented on #96909
/assign

[2021-04-08 05:02] chenyw1990 opened #100906 "The container’s CpusetCpus information needs to be added to the CRI Container definition"
#### What happened:
If the K8s runs on bare metal, hundreds of containers run on a node, and the reconcileState method of CPUManager is executed every 10 seconds.
reccileState will call the updateContainerCPUSet method for each container to update the cpusetcpus of the container,
This cause too many cri requests to container runtime, and the cpu usage of container runtime will be high because of t

[2021-04-08 05:02] chenyw1990 commented on #100906
/sig node

[2021-04-08 05:05] chenyw1990 commented on #100906
@dims

[2021-04-08 06:53] JornShen commented on #100880
/assgin
I'll take a look.

[2021-04-08 06:56] JornShen commented on #100880
/assign

[2021-04-08 07:26] mythi commented on #92211
@mikebrow @haircommander are you OK with the approach I have in my containerd and CRI-O PRs?

[2021-04-08 07:31] oldthreefeng commented on #89679
can restart kube-controller-manager solved this problem permanent？ @zqzzq

[2021-04-08 07:53] Kalmac commented on #89898
Yes, facing the same problem with a 1.20.2 cluster.

[2021-04-08 07:59] uablrek commented on #92369
Importable maybe. I wanted to try to use the ipvs proxier from the kube-proxy tree as a backend for kpng (as I said on the meeting Mar 26) and started with this tiny program (the kpng printstate program with metaproxier added);

[code]

But I get;
[code]
Since I wanted to test the ipvs proxier and not have another fight with go modules I left this and turned to my other duties for now.

I asked @t

[2021-04-08 08:11] neiljerram commented on #100862
Awesome, thank you @pacoxu !

[2021-04-08 08:22] aojea commented on #92369
in order to import kubernetes you have to add replace statements to your go.mod file
[code]
note that 1.20.0 -> 0.20.0

[2021-04-08 08:37] mcorbin opened #100914 "The apiserver image (v1.21.0-rc.0) needs CAP_NET_BIND_SERVICE"
#### What happened:

I tried to run the apiserver image for v1.21.0-rc.0 (k8s.gcr.io/kube-apiserver:v1.21.0-rc.0) on top of another Kubernetes cluster. I took a working manifest which was using v.1.20.5 and was working without issues, and changed the image version.

The apiserver failed to start with `standard_init_linux.go:219: exec user process caused: operation not permitted`

#### What you exp

[2021-04-08 08:50] mcorbin commented on #100914
/sig release

[2021-04-08 09:28] bilalcaliskan opened #100918 "increase ssh timeout"
Hello,

I have opened a [PR](https://github.com/kubernetes/node-problem-detector/pull/533) to [node-problem-detector](https://github.com/kubernetes/node-problem-detector) but node-problem-detector uses [k8s.io/kubernetes/pkg/ssh](https://github.com/kubernetes/kubernetes/tree/master/pkg/ssh) as ssh library and `sshDialTimeout` set in [right here](https://github.com/kubernetes/kubernetes/blob/master

[2021-04-08 10:32] pacoxu commented on #99305
I updated #99635
Add a start-delay of 10 seconds for a condition that the capacity of node ephemeral-storage is 0.

Not sure if this will fix it.

[2021-04-08 10:44] marseel commented on #96635
/remove-lifecycle rotten
We are still observing this flake in our tests, here is recent run in which it occurred: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1377667417462804480

[2021-04-08 11:05] yuansmin commented on #100445
I see this err

you should check your csi-attacher if there's any err, and check VolumeAttachment for this pvc/node

[2021-04-08 11:42] bgjoseluis commented on #93736
Hello,

I'm also interested in the proposed feature.

Regards
JLBG

[2021-04-08 12:27] joac commented on #32149
@Shashankft9  Have in mind that the job can be listed but in a failed status.
Check if the pod is running with `kubectl get pods` or the data for the resource with `kubectl get job pi -o yaml`

[2021-04-08 12:36] davesargrad commented on #88986
@danwinship

Hi Dan. I see that the [1.18 release](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#changes-by-kind) had a fix that relates to this issue.

I've just set up a new 1.20 cluster, and I see problems that remind me of the flakiness that led me to spending about a week of time isolating this. I fear diving into another week long investigation and am looki

[2021-04-08 12:53] FiloSottile commented on #100895
While you triage those callsites, it would be good to also check if they are affected by the kind of issues that are motivating the change: if you are validating the inputs with Go and then passing the inputs to the OS or to non-Go applications, the two might disagree on the inputs validity or meaning. This can cause issues, which we would love to hear about at security@golang.org or on the issue,

[2021-04-08 13:09] g3rzi opened #100924 "No answer on Kubernetes security email"
#### What happened:
I reported a security vulnerability to security@kubernetes.io as stated here:
https://kubernetes.io/docs/reference/issues-security/security/

#### What you expected to happen:
Someone to answer me

#### How to reproduce it (as minimally and precisely as possible):
Send mail and wait two days.
It will wrote you that they will get back in 1 business day but there is no answer at

[2021-04-08 13:40] ssup2 opened #100925 "IPVS error log occupation with externalTrafficPolicy: Local option in Service"
#### What happened:
IPVS error log occupation with externalTrafficPolicy: Local
[code]

#### What you expected to happen:
Do not print the error log.

#### How to reproduce it (as minimally and precisely as possible):

[code]

[code]

[code]

[code]

As you can see, "nginx-ipv4" service endpoint are nginx pods in "node02". Because "nginx-ipv4" service has "externalTrafficPolicy: Local" and node01

[2021-04-08 13:41] ssup2 commented on #100925
/sig network

[2021-04-08 13:41] jprzychodzen commented on #100560
@freehan what's the ETA for cutting ingress-gce release? I think it might be related to failing pull-kubernetes-e2e-gce-100-performance run in #99840

[2021-04-08 13:44] pohly commented on #96505
I was told that this is intentional. The reasoning is that a CSI driver might report a topology that is driver independent (for example, "zone: A, rack: B") and then removing those labels could break other usages of those labels.

Why do you depend on the node labels for pod scheduling? Is the assumption that if the driver runs on a node, it can always provide volumes there?

[2021-04-08 13:51] haircommander commented on #92211
yeah the approach makes sense to me

[2021-04-08 14:43] palnabarun commented on #93740
/milestone clear

(since this has been deemed to be non release-blocking)

[2021-04-08 14:43] palnabarun commented on #100889
/milestone clear

(since this has been deemed to be non release-blocking)

[2021-04-08 14:43] palnabarun commented on #100890
/milestone clear

(since this has been deemed to be non release-blocking)

[2021-04-08 14:57] wilsonehusin commented on #98232
okay we're green for release!

/close

[2021-04-08 14:57] damemi commented on #91782
/remove-lifecycle stale
can we reasses which areas of the framework are still dependent on this to evaluate the work that still needs to be done?

[2021-04-08 14:57] #98232 closed

[2021-04-08 16:10] prameshj commented on #23864
Added a WIP KEP at https://github.com/kubernetes/enhancements/pull/2611

[2021-04-08 16:11] hatharom opened #100927 "Cronjob's successfulJobsHistoryLimit has no effect when launching job by hand"
Tested with kubernetes server+client versions of 1.19.3 and 1.20.0

[code]
`kubectl create -f mycron.yaml`

When the cronjob triggered by the crontab then it creates the job and removes it after completion successfully.

However when creating the job manually:

`kubectl create job -n myjob --from=cronjob/hello hello-job`

**Expected:**
After completion the job should be removed

**Actual**
The job

[2021-04-08 17:35] PushkarJ commented on #100401
To keep everyone in the loop, etcd fixes (pt. 2 above) should happen as part of the upgrade to etcd 3.5.x through this PR by @liggitt : #100488 . So the sequence of steps planned are:

1. etcd 3.5.x is GA
2. Get PR #100488 is merged
3. New PR from me is created to ensure jwt-go transient dependency is removed by bumping heketi and azure-sdk-for-go
4. The new PR is then merged

[2021-04-08 18:25] #98182 closed

[2021-04-08 19:36] eddieparker commented on #69507
Echoing what others have mentioned but adding a use case: i have a grafana graph which plots current usage of a resource (memory and cpu, presently) against their limits and requests.  It makes it trivial to diagnose why eviction happens.  That said, there is no way to similarly graph ephemeral storage usage.

My current workflow is to just guess at a number and binary search until it just starts

[2021-04-08 20:15] caesarxuchao commented on #100761
/cc @jpbetz
/triage accepted

[2021-04-08 20:16] caesarxuchao commented on #100888
/cc @lavalamp @roycaihw
/triage accepted

[2021-04-08 20:17] caesarxuchao commented on #100891
/triage accepted

[2021-04-08 20:18] AdamSLevy commented on #96957
This would be a useful feature in my unit testing.

/remove-lifecycle rotten

[2021-04-08 21:20] whiterm opened #100928 ""kubectl proxy" not working behind a reverse proxy"
We have multiple K8S environments

Every K8S environment is behind a firewall, so there is no direct access to K8S api-server (except some privileged hosts)

During our investigation we found out, that the kubectl proxy command does not work, behind a reverse proxy, when the routing requests using the query path.

[code]

It does work, if the reverse proxy not using query path to route ( https://r

[2021-04-08 21:23] whiterm commented on #100928
/wg cli

[2021-04-08 21:26] whiterm commented on #100928
/sig cli

[2021-04-08 21:26] #92162 closed

[2021-04-08 21:27] #99070 closed

[2021-04-08 21:37] swetharepakula commented on #93740
Current logs are not enough to determine the issue. For now, opened #100930 to update the glbc image which should give us more instrumentation.

The timeout is currently 10 min. One theory is that this sometimes is not enough for the loadbalancer to be ready. The LB comes up, but the path is not available yet. However since the the timeout is currently shared amongst many different tests, I propos

[2021-04-08 21:48] arnaudlacour commented on #84210
it's greatly surprising to find this still open and though I do understand that this makes docker even more a special snowflake case for kubernetes, it does offer a consistent mechanism for apps that need robust zombie reaping and signal handling, which many will then implement on their own, likely poorly or completely improperly. Consistency and convention would be great here. We add tini to our

[2021-04-08 21:57] sturfee-petrl commented on #68083
/remove-lifecycle stale

[2021-04-08 22:08] neolit123 commented on #100898
please fill the issue template correctly and reopen.
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/enhancement.md

/close
/sig apps

[2021-04-08 22:10] neolit123 commented on #100898
to discuss with other users you can try:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-04-08 22:10] neolit123 commented on #100904
please try the support channels for this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-04-08 22:10] neolit123 commented on #100904
/close

[2021-04-08 22:11] #100904 closed

[2021-04-08 22:12] neolit123 commented on #100918
/sig node
/kind feature

[2021-04-08 22:12] neolit123 commented on #100924
/sig security
/kind support

[2021-04-08 22:14] neolit123 commented on #100927
/sig apps

[2021-04-08 22:21] rikatz commented on #92369
So I've opened a first PR to start moving the components that k/proxy uses to outside the tree. It was an easy one  (so probably we're getting some more hard ones in front).

The next steps:
* Move k/proxy/util helper functions to staging and deal with things vendoring it:
[code]
* Move k/pkg/util things that are vendored by kube-proxy to outside of it, and somewhere other programs can use. I've m

[2021-04-08 22:46] steeling commented on #100898
/reopen

[2021-04-08 22:47] roycaihw opened #100933 "CRD structural schema validation doesn't allow having description on openAPIV3Schema.properties[metadata]"
#### What happened:
A CRD with the following schema
[code]
will fail server side validation
[code]

while removing the description on metadata will make the CRD valid
[code]
[code]

#### What you expected to happen:
Either we allow description, or we make the error message clear.

#### How to reproduce it (as minimally and precisely as possible):
Create the example CRD above.

#### Anything else w

[2021-04-08 22:53] liggitt commented on #100933
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/96709 and #86800 which was previously discussed and declined

[2021-04-08 22:53] #100933 closed

[2021-04-08 22:56] liggitt commented on #100888
I think the client used to make the request adds query parameters representing timeouts; would this cause ambiguity merging parameters?

[2021-04-08 22:58] #99461 closed

[2021-04-08 22:59] #100283 closed

[2021-04-08 23:02] jfgauron commented on #100797
There is no "etcd pod container". It just never starts. Kubeadm announces the new etcd member:

Then it creates the static pod manifest:

I can see that the manifest was correctly created in `/etc/kubernetes/manifests`. But then for some reasons kubelet fails at starting the pod, so the etcd members are stuck in this state:

[code]

And listing pods with `kubectl get pods -n kube-system` show that

[2021-04-08 23:04] roycaihw commented on #100933
@liggitt Thanks for the background! That makes sense.

Maybe we could make the error message more clear "we don't allow overriding the native description of object metadata"

[2021-04-08 23:08] liggitt commented on #100933
Improving the message is fine, though this applies to all metadata properties, not just description

[2021-04-08 23:11] #100797 closed

[2021-04-08 23:59] neolit123 commented on #100797
i does look the same as https://github.com/kubernetes/kubernetes/issues/99305

looking at your failure logs and finding a related kubernetes/kubernetes ticket was the right action. this is not a kubeadm bug per se. you can also comment on https://github.com/kubernetes/kubernetes/issues/99305 that you experienced the same bug.

[2021-04-09 00:11] #99968 closed

[2021-04-09 00:12] #100091 closed

[2021-04-09 00:19] SergeyKanzhelev commented on #100769
PR  kubernetes/test-infra#21625 was merged April 2 5:30 AM PDT. Test stopped failing:

- failed: April 2 at 3:38 PM
- passed: April 2 at 4:39 PM

[2021-04-09 02:24] #96390 closed

[2021-04-09 02:59] smarterclayton commented on #48841
This went alpha in 1.21 behind a feature gate, please give feedback so we can assess promotion.

[2021-04-09 03:29] #100244 closed

[2021-04-09 03:29] #100158 closed

[2021-04-09 03:29] #100261 closed

[2021-04-09 03:29] #100235 closed

[2021-04-09 03:33] coffeepac commented on #79432
it exists!  https://github.com/kubernetes-sigs/instrumentation-addons

[2021-04-09 05:05] OliverCole commented on #87149
/remove-lifecycle stale

[2021-04-09 05:09] #100456 closed

[2021-04-09 05:10] #100499 closed

[2021-04-09 05:19] nicolas-vivot commented on #82203
Hey,

I know this is out of your scope, but since such use case exists it might be worse to have a look at it.

I'm using AWS EKS, with ALB as ingress controller. When using the "alb" ingress class, 1 Ingress resource will create by default 1 ALB.
Probably under the pressure of users, they created the group notion so that you can group multiple Ingress resource under the same ALB resource.

I'm cu

[2021-04-09 05:27] #96342 closed

[2021-04-09 05:27] wzshiming opened #100938 "FakeClientset cannot match subresources"
#### What happened:

https://github.com/istio/istio/pull/31923#discussion_r610360074

[code]

Can't match "serviceaccounts/token",  can only match "serviceaccounts"

#### What you expected to happen:

Can match "serviceaccounts/token"

[2021-04-09 05:33] wzshiming commented on #100938
/remove-kind bug

[2021-04-09 05:34] wzshiming commented on #100938
/kind feature

[2021-04-09 05:35] wzshiming commented on #100938
/sig testing

[2021-04-09 05:35] wzshiming commented on #100938
/assign

[2021-04-09 05:58] wzshiming commented on #100938
/triage accepted

[2021-04-09 06:10] wzshiming commented on #100927
[code]

The `Pod` created by `CronJob` has a different naming rule from the `Pod` created by manually

[2021-04-09 06:10] wzshiming commented on #100927
/remove-kind bug
/kind support

[2021-04-09 06:27] pacoxu commented on #97484
/remove-lifecycle stale
@kmova @msau42
any update? or I may take a look. 😄

[2021-04-09 06:27] wzshiming commented on #100927
/remove-kind support
/kind bug

[2021-04-09 06:37] sovbangit commented on #45438
Same happening with me. Ingress not able to find a healthy back end. Removing cluster is not helping.

[2021-04-09 06:57] Jiawei0227 commented on #94778
/remove-lifecycle stale
/lifecycle frozen

[2021-04-09 07:16] wzshiming commented on #100927
This should be a feature, it seems reasonable.

[2021-04-09 07:21] nextMJ opened #100946 "PowerShell install cannot find kubectl.exe at default link"
#### What happened:
While installation on Windows with PowerShell tool, the script tries to find the link to `kubectl.exe` at address `https://kubernetes.io/docs/tasks/tools/install-kubectl/` but the link is not there.

#### What you expected to happen:
Find the link to a file and install kubernetes :-)

#### How to reproduce it (as minimally and precisely as possible):
I did everything written at

[2021-04-09 07:22] wzshiming commented on #100927
/assign

[2021-04-09 07:26] nextMJ commented on #100946
/sig usability

[2021-04-09 07:29] #87747 closed

[2021-04-09 07:31] hatharom commented on #100927
Thanks your answer. So it is not supported at the moment.

It seems ownerReference has been set, but controller not.

[code]

However it seems to work when I use a very old client version (namely 1.15.5)
Described the problem in more detail:
https://stackoverflow.com/questions/67007089/kubernetes-doesnt-remove-completed-jobs-for-a-cronjob

[2021-04-09 07:52] wzshiming commented on #100927
Modified in the PR #91053

[2021-04-09 07:53] wzshiming commented on #100927
@soltysh Could you have time to take a look

Is it possible to add a flag to return to the old version of the behavior

[2021-04-09 08:44] wzshiming commented on #100918
/assign

[2021-04-09 09:06] Jerry-Ge commented on #93794
/assign

[2021-04-09 09:31] #96404 closed

[2021-04-09 10:25] vickeyrihal1 commented on #100708
@pacoxu - sorry, couldn't understand. isn't "k8s.gcr.io/pause:3.5" and the other is meant for linux only(Dockerfile)? don't we need to have different image for windows(built from Dockerfile_windows)?

Anyway, when I try to schedule "k8s.gcr.io/pause:3.5" on windows node, it's getting stuck in ContainerCreating and timing out.

[2021-04-09 11:17] wojtek-t commented on #100891
You mean a dedicated object, right? [I think I'm against reusing lease for that (and e.g. storing the data in annotation).]

I think we need to be extremely careful here.
As an example, Endpoints (or now EndpointSlices) are very heavily watched. If we end up in a situation that "all Endpoint" is sharing a bucket with e.g. "Lease with name X" (or even worse - some Lease object), we may end up with

[2021-04-09 12:11] invidian commented on #100914
I can confirm this. Adding the following to kube-apiserver configuration makes it work again:
[code]

[2021-04-09 12:20] #100729 closed

[2021-04-09 12:23] dims commented on #100914
@invidian @mcorbin Looks like the changes in https://github.com/kubernetes/kubernetes/pull/99145 (and adjustments we made in our harness https://github.com/kubernetes/kubernetes/pull/96134) did not make it into release notes

cc @vinayakankugoyal @liggitt

[2021-04-09 12:25] mcorbin commented on #100914
It was already possible to run the apiserver as non root on a non-privileged port. I'm not sure to understand why it was added to the default image.
I understand that some users may want to listen on privileged ports, but I don't see why the capability should be added by default.

[2021-04-09 12:38] invidian opened #100961 "v1.21.0 changelog says "Default Container Labels" instead of "Default Container Annotations""
#### What happened:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#default-container-labels is wrong as it says default label can be specified, but KEP and other lines of changelog mentions annotation.

#### What you expected to happen:

Changelog is correct and consistent about  default container feature for kubectl.

#### Anything else we need to know?:

I'm st

[2021-04-09 12:57] liggitt commented on #100924
cc @kubernetes/product-security-committee

[2021-04-09 13:01] djboris9 opened #100962 "Win2004: kube-proxy is not creating HNS endpoints"
#### What happened:
kube-proxy is not creating HNS endpoints on Windows 2004 nodes (which is working on Windows 1809). It starts to log the following error:
[code]

Therefore no ClusterIP services like kube-dns are reachable from pods on this node.

#### What you expected to happen:
kube-proxy should create HNS endpoints so it allows local pods to reach ClusterIP  services.

#### How to reproduce

[2021-04-09 13:03] djboris9 commented on #100962
/sig windows
/sig network

[2021-04-09 13:30] michaelgugino commented on #96382
I think most people are probably happy with the `--force` option.  In most cases, you probably just want to remove all the pods that you can remove from a node.  Without `--force` specified, with the change being discussed here, if there are any pods without a controller, nothing will be drained as those pods will block all draining.

Personally, I would never run drain without force.  If you have

[2021-04-09 14:11] morsik commented on #58759
I just went into this problem and it prevents me from accessing web page at all!

Azure tells that health check just fails because (I guess?) there's no service at service port because `LoadBalancer` type generated different port to expose service on.

I don't know if this firewall rule is still in place, but it just doesn't work with this config. I have AKS with Kubernetes 1.18.14.

[2021-04-09 14:35] exdx commented on #96382
That's an interesting viewpoint. I think some users naturally hesitate to add the `--force` flag to anything, but given the existing predicates around draining I think it makes sense. I can pass this issue along to some folks who were interested in this functionality.

Will close for now, thanks for taking a look 👍

[2021-04-09 14:35] #96382 closed

[2021-04-09 14:40] sidh commented on #67250
Aaaand we just stepped on this landmine too. :(

[2021-04-09 14:45] michaelgugino commented on #93476
Assuming your component has a suitable grace period timeout, it's not like eviction kill -9's the pod.  For planned maintenance, the pod will be marked deleted and come up elsewhere.

With proper priority and grace period, I'm 100% confident something like KureD can run with a single replica without a PDB and the cluster administrator will never notice the difference.

[2021-04-09 14:46] Nashluffy opened #100965 "Deployment unavailableReplicas field is only present when it is a non-zero value"
#### What happened:

When a deployment has unavailable replicas, the field `unavailableReplicas` is present and accurate. However, that field is only present when the value is non-zero. This makes it impossible to reliably check that field.

#### What you expected to happen:
The field to be present regardless of value. Programmatically, if you are comparing that field and expect an integer but fin

[2021-04-09 14:46] Nashluffy commented on #100965
/sig apps

[2021-04-09 14:53] vinayakankugoyal commented on #100914
That's odd! Unless you are binding to a privileged port you wouldn't need to add NET_BIND_SERVICE. From the deployment yaml above it is not clear what port you are binding to.

[2021-04-09 14:55] invidian commented on #100914
IIUC my PSP drops all capabilities for the container, maybe this is the issue. I use standard port 6443 and my container actually still runs as root.

[2021-04-09 14:59] michaelgugino commented on #91808
/sig apps
This is already supported in many recent releases.  I think we can close this.

[2021-04-09 15:06] mcorbin commented on #100914
Same for me, I drop all capability by default.

Here is how I run the apiserver for example for 1.21 (I'm just redoing my tests):

[code]

[code]

Now, I reapply my manifest without the `capabilities` section in `securityContext`. The pod is in error with `standard_init_linux.go:219: exec user process caused: operation not permitted`

As I said, I don't have any issue with 1.20.5. I've just tested

[2021-04-09 15:14] danwinship opened #100966 "winkernel kube-proxy problems when IPv6DualStack is enabled (ie, in 1.21)"
#### What happened:
Ran winkernel kube-proxy in 1.21 (where `IPv6DualStack` is now enabled by default). It fails:

`F0408 17:17:11.043472    1316 server.go:489] unable to create proxier: unable to create ipv4 proxier: Could not find host mac address for 0.0.0.0, hostname: e2e-wmcow-bpfpl, clusterCIDR : 10.132.0.0/24, nodeIP:0.0.0.0`

Manually specifying `--bind-address` gets it past that problem b

[2021-04-09 15:14] aravindhp commented on #100966
/sig windows

[2021-04-09 15:26] aravindhp commented on #100946
/sig windows

[2021-04-09 15:43] kevindelgado commented on #99046
Backported to 1.18 (#100715), 1.19 (#100713), and 1.20 (#100714)

[2021-04-09 15:43] #99046 closed

[2021-04-09 15:49] michaelgugino commented on #100661
I think the wording is slightly confusing, although the preceding paragraph does provide some context:

Possible wording fix:

[2021-04-09 15:53] SataQiu commented on #100719
Does calico have `kubeconfig` configured correctly?

[code]

[2021-04-09 15:54] landorg commented on #7452
... or kong? as it's based on openresty somehow.

[2021-04-09 15:55] jsturtevant commented on #100966
What version of Windows server are you running?  Must be 2004+ https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#ipv4-ipv6-dual-stack

/cc @aramase

[2021-04-09 16:01] aravindhp commented on #100966
We are seeing this issue with 1809, 1909 and 20H2. Not sure if https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#ipv4-ipv6-dual-stack matters here. This is a single stack cluster and kube-proxy is assuming it is actually dual stack just because the IPv6 dual stack feature is now enabled by default in 1.21. Cluster network setup is [hybrid networking with

[2021-04-09 16:02] jayunit100 commented on #18174
for this to occur, talking to @mcluseau we have to upgrade our internal GRPC client and that is non-trivial.
given other priorities for kproxy this likely wont happen soon ?

[2021-04-09 16:04] jayunit100 commented on #18174
since most people access the apiserver through a LB... is this still important to folks?

[2021-04-09 16:05] bidianqing opened #100967 "k8s cluster failure recovery"
#### What happened:
I success build high-availability k8s cluster include three master instance, When I  destroy one master, the k8s cluster normal worker. When I  destroy two master, the k8s cluster  all the paralysis.  Of this time, "LOAD_BALANCER_DNS:LOAD_BALANCER_PORT" is not connection. I not way recover the k8s cluster.
![image](https://user-images.githubusercontent.com/12196280/114208708-5c

[2021-04-09 16:08] jayunit100 commented on #6716
we're going to close this because, after 3 years or so ,  decreasing interest in the userspace proxy and nobody other then some openshift folks, are using the linux kube proxy ..

can reopen if necessary ping @aojea @dcbw :)

[2021-04-09 16:08] jayunit100 commented on #6716
/close

[2021-04-09 16:08] #6716 closed

[2021-04-09 16:11] jayunit100 commented on #18174
Hi ! ok so since this old, but  valid, were thinking best to close, and re approach it this way:
- first file an issue to the client-go to support multiple apiservers
- then file separate issues for kube-proxy, kubelet, to support this flag

[2021-04-09 16:14] dcbw commented on #100966
/triage accepted
/sig network
/area kube-proxy

[2021-04-09 16:15] jsturtevant commented on #100966
It looks like this is specific to the overlay setting,  It seems reasonable to me that it should fallback to single stack.  @aramase is that the expected behavior?

As discussed in slack the work around is to add `--feature-gates=IPv6DualStack=false`

[2021-04-09 16:18] aramase commented on #100966
@jsturtevant Falling back to using single stack if creating dual-stack proxier might ignore actual errors when the cluster is dual-stack. Instead could we check if the hosts are dual-stack/cluster CIDR are dual-stack? If there is only 1 cluster CIDR then we can just rely on that in addition to the feature gate.

[2021-04-09 16:18] kfox1111 commented on #18174
Yes.

Most people access it through a LB because there isn't a choice to do otherwise...

[2021-04-09 16:37] #95432 closed

[2021-04-09 16:37] #95586 closed

[2021-04-09 16:37] HariSekhon commented on #55405
+1 for HTTP content checks. Many endpoints have JSON status so you should have at least:

-  string content checks
- regex content checks

and preferably also:

- json field string content checks
- json field regex content checks

[2021-04-09 16:49] Raffa50 opened #100971 "kubectl 1.21 no ingress"
#### What happened: trying to deploy an ingress.yaml with kubectl apply -f ingress.yaml
got error: **no matches for kind "Ingress" in version "networking.k8s.io/v1"**

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
deploy an ingress.yaml:

[code]

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl versio

[2021-04-09 16:50] lavalamp commented on #100891
I think I agree with or at least don't object :)

That's a good point, there's actually two costs:
* The cost of going through the event change logic at all
* The cost of delivering the event change over the network

The former goes with just the number of watchers, but the latter goes with the (size of modified object) * (number of watchers)

Unfortunately, the size of the modified object will be

[2021-04-09 17:03] Jainbrt commented on #96344
/reopen

[2021-04-09 17:09] jsturtevant commented on #100966
Is that how it is handled on the linux side?

There seems to be an additional check needed as well, If overlay is enabled then it should fall back to single stack.  From the docs: ` Note: Overlay (VXLAN) networks on Windows do not support dual-stack networking today.`

[2021-04-09 17:16] pires commented on #87770
@verb is this something you're still going to pick up or maybe I could?

[2021-04-09 17:16] pires commented on #87770
/remove-lifecycle rotten

[2021-04-09 17:17] ovidiucp commented on #18174
Please don't close an old ticket and pass the blame somewhere else! Rather open a ticket with client-go and reference this ticket there. I worked on Google's infrastructure many moons ago, It's embarrassing nobody there has made this a priority after these many years.

[2021-04-09 18:06] joelsmith commented on #100924
@g3rzi thank you for disclosing responsibly!

Regarding the specific email mentioned in the above report, the PSC responded yesterday. I apologize that we took so long.

I think this illustrates that we need a process change for handling direct emails to the PSC. We have been a little less responsive to those messages since now the vast majority of reports are triaged by HackerOne as part of the b

[2021-04-09 18:06] #100924 closed

[2021-04-09 18:39] abhihome-github opened #100974 "Kubernetes CronJob - Multiple CronJob configuration is not working"
I have to run two CronJobs in Kubernetes (AWS-EKS) and I have below configuration. When I apply the template, only one CronJob is getting created. The one that gets created is always the second one. So it looks like the first one is getting overwritten by the second. I am unable to figure out what am I doing wrong.
[code]
[code]

(Expectation: Two CronJobs to be created. Actual: Only one is create

[2021-04-09 20:00] mkorbi commented on #100138
@soltysh looks like there was a small hiccup

- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1380547485486813184

[2021-04-09 20:12] SergeyKanzhelev commented on #100769
Looks to be passing consistently now. Closing

/close

[2021-04-09 20:12] #100769 closed

[2021-04-09 20:29] tiagomeireles commented on #100974
YAML uses three dashes (`---`) to separate documents. The following should work.

i.e

[code]

[2021-04-09 21:31] jsturtevant commented on #95226
We haven't seen this in a long time but it came up today: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1380291921158606848

[2021-04-09 21:39] lxe commented on #90077
The [minikube example](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) for ingress setup uses https://k8s.io/examples/service/networking/example-ingress.yaml with  networking.k8s.io/v1, which breaks the tutorial if using katacoda. Should that page be changed to point to a different example-ingress.yaml?

[2021-04-09 21:46] liggitt commented on #90077
No... 1.18 is [EOL in a couple weeks](https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#118)... it would make more sense for katacoda to update to a supported 1.19+ version

[2021-04-09 21:58] aojea commented on #100971
that yaml is incomplete, can you provide the entire yaml and explain how to reproduce it?

[2021-04-09 22:00] aojea commented on #100966
kube-proxy in linux tries to create a dual-stack proxy, but if the host doesn't have ipv6 iptables, it fallsback to single-stack.
If is dual-stack and it only has configured one of the ipfamilies, the proxy of the other family is not going to get any service or endpoint

[2021-04-09 22:37] aojea commented on #100895
/sig network

[2021-04-09 22:42] aojea commented on #96670
/close
at this point I don't think that we can do more here
Feel free to reopen
Thanks

[2021-04-09 22:42] #96670 closed

[2021-04-09 22:46] aojea commented on #100880
/retitle kube-proxy userspace mode doesn't support endpointslices
/triage accepted
/area kube-proxy
Thanks @JornShen

[2021-04-09 23:11] swetharepakula opened #100978 "[Failing Test] gce-ubuntu-containerd jobs failing"
#### Which jobs are failing:
Both jobs are failing with the same error message.
pull-kubernetes-e2e-gce-ubuntu-containerd
gce-ubuntu-master-containerd

#### Which test(s) are failing:
Tests are not run as clusters fail to come up.

#### Since when has it been failing:
gce-ubuntu-master-containerd:  Cluster creations failures started 2021/04/09 05:09 AM PST.
pull-kubernetes-e2e-gce-ubuntu-container

[2021-04-09 23:13] swetharepakula commented on #100978
/sig testing

[2021-04-09 23:18] abhihome-github commented on #100974
That worked - Thank you so much!

[2021-04-09 23:18] #100974 closed

[2021-04-09 23:41] tallclair commented on #99425
I think the approach proposed in [PSP Replacement KEP #2582](https://github.com/kubernetes/enhancements/pull/2582) might be a good one to follow for a general solution to this. Specifically, the idea of versioned profiles that can be applied in enforcing, warning and/or audit modes. I'm not sure if it would make sense to reuse the pod security labels for the general case, but I could be convinced

[2021-04-09 23:45] tallclair commented on #84248
/remove-lifecycle stale

[2021-04-09 23:45] tallclair commented on #84248
I still think this is an important issue for large scale clusters, which continue to rely on the underspecified `/pods` endpoint on the kubelet for this.

[2021-04-09 23:52] tallclair commented on #12968
(copied from https://github.com/kubernetes/kubernetes/pull/100335#issuecomment-817031623)

I'm fine with changing the default, but I don't think the concerns raised in https://github.com/kubernetes/kubernetes/issues/12968#issuecomment-622613486 have been adequately addressed to remove support for this entirely.

[2021-04-10 01:57] msau42 commented on #97484
This has been addressed in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/26.

So this should be fixed.

/close

[2021-04-10 01:57] #97484 closed

[2021-04-10 04:34] Abhishek-Srivastava opened #100982 "Enabling Mutating/Validation webhook for a CRD makes apiserver to throw 500 internal server error"
On Enabling Mutating/Validation Webhook (using Kubebuilder 2.3.2) for a CRD, apiserver throws internal server error.

Expectation was, apiserver would forward the request to the webhook.

Using this self-signed cert and issuer and webhooks:
[code]

The debug log from kubernetes apiserver:
[code]

#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware co

[2021-04-10 04:49] Pictor13 commented on #48948
Thank you for your job guys!
Sorry for commenting on a closed issue @tstromberg , but I was wondering if there's a specific Kubernetes issue on the tracker that we can follow to see updates regarding these improvements to *apiserver* and *etcd*.

[2021-04-10 04:59] Abhishek-Srivastava commented on #100982
/sig admissionwebhooks
/sig apiserver

[2021-04-10 05:17] Abhishek-Srivastava commented on #100982
/sig api-machinery

[2021-04-10 05:20] livyfu opened #100984 "Can not rename CoreDNS service's TCP port name via kubectl edit"
#### What happened:
`kubectl edit -n kube-system service/kube-dns`
Edit the service port name for TCP protocol from
[code]
to
[code]
Observe the unchanged port names. Log message from kube-apiserver-audit:
[code]
Note that the `kubectl.kubernetes.io/last-applied-configuration` annotation in the `responseObject` actually has the intended name change. But the `spec.ports` does not change.

#### What

[2021-04-10 05:25] livyfu commented on #100984
/sig cli

[2021-04-10 09:26] Guru-arnav opened #100987 "cAdvisor to extract the container metrics directly in a file format rather than than local host/UI display"
could you please let me know how to extract the cadvisor monitored metrics into a file. I need to perform analysis on the metrics

[2021-04-10 09:45] aholler opened #100988 "removal of the BlockVolume feature gate was not announced under "action required""
#### What happened:

kubeadm upgrade apply 1.21.0 failed on a cluster with 1.20.5. The new apiserver did not start.

#### What you expected to happen:

A successful upgrade.

#### How to reproduce it (as minimally and precisely as possible):

Enable the feature gate BlockVolume on a cluster with 1.20.5 and try kubeadm upgrade.

#### Anything else we need to know?:

I had to edit the manifests in /

[2021-04-10 09:51] aholler commented on #100988
/sig Storage

[2021-04-10 09:54] aholler commented on #100988
To describe my installation a bit more, I've used the following yaml to install the cluster(s) with kubeadm:

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
featureGates:
  IPv6DualStack: true
apiServer:
  extraArgs:
    feature-gates: TTLAfterFinished=true,BlockVolume=true,ImmutableEphemeralVolumes=true
scheduler:
  extraArgs:
    feature-gates: TTLAfterFinished=true,BlockVolum

[2021-04-10 10:11] uablrek commented on #100925
The kernel log printouts should be transient. They should stop when a real server becomes available. If the kernel log printouts keep coming it is a misconfiguration, you have exposed a service without endpoints and clients keep trying to use it.

To insert/remove temporary iptables rules (which is non-trivial) to prevent kernel log printouts that are either transient or caused by misconfiguration

[2021-04-10 10:19] uablrek commented on #23864
/remove-area ipvs

This is not a ipvs-only issue

[2021-04-10 10:25] uablrek commented on #96879
/remove lifecycle-stale

[2021-04-10 10:27] uablrek commented on #96879
/remove-lifecycle stale

<sigh...>

[2021-04-10 10:30] uablrek commented on #96879
Since it is highly unlikely that the kernel will be updated to allow this for ipv4 and it will never work for ipv6 I would *really* want to remove this from the ipvs proxier.

[2021-04-10 10:37] uablrek commented on #96879
@aojea @thockin Do you think I can go ahead and disable the setup for localhost node-ports in the ipvs proxier?

Since it have never worked it would not be a user facing change.

Or should we discuss it on the sig/network meeting?

[2021-04-10 11:44] Raffa50 commented on #100971
I have updated my post with full yaml, I am only trung to migrate my kubernates cluster from ubuntu to a windows10
deployment and services were fine
I have noticed that if I change API version to: networking.k8s.io/v1beta1 I don't get the error but I need to change the yaml

[2021-04-10 12:34] uablrek commented on #93858
/area kube-proxy

[2021-04-10 12:37] Raffa50 commented on #100971
I foudn that the problem is that kind installed me a kubernetes 1.18 cluster
while I wanted 1.19, I will install kubernetes from docker panel

[2021-04-10 12:37] #100971 closed

[2021-04-10 13:42] ssup2 commented on #100925
My NLN(Network Load Balancer) doesn't support L7, so my NLB can't use healthCheckNodePort. Therefore, my NLB checks the existence of pods by sending health check packets to NodePort of all LB services. These health check packets are cause of IPVS kernel log. So In my situation, the kernel logs is not transient. Are there any other options I can choose in my situation?

I remember that with kube-pr

[2021-04-10 13:54] hdiass commented on #40908
I think this is a behaviour that should be implemented, and the operator should choose if he wants only a container or entire pod to be restarted. In my case I need to manage some apps that are open source and I use a sidecar healthcheck. Only health check gets restarted. I think kubernetes should have this option to recreate entire pod at least.

[2021-04-10 14:31] pacoxu commented on #100988
#98021 related

[2021-04-10 14:59] #96401 closed

[2021-04-10 16:01] uablrek commented on #100925
Problem is that these are kernel messages, not K8s. I will check if there is some configuration in ipvs to suspress them or set the syslog level for them.

[2021-04-10 17:40] uablrek commented on #100925
Semms to be printed with this macro;
https://github.com/torvalds/linux/blob/95c7b07551879c8ad4d6dca10c02de46ddbf55a8/include/net/ip_vs.h#L259-L263

I can't see any way to suspress or change the syslog level. It is rate limited but probably not enough to stop flooding your logs.

[2021-04-10 17:57] wilsonehusin commented on #100961
/triage accepted

thanks for reporting early!

[2021-04-10 18:01] uablrek commented on #100925
/area kube-proxy
/area ipvs

[2021-04-10 18:02] #88974 closed

[2021-04-10 18:05] wilsonehusin commented on #100961
/remove-kind bug
/kind documentation

[2021-04-10 18:05] wilsonehusin commented on #100961
/sig release

[2021-04-10 20:09] maxweisel commented on #65012
/remove-lifecycle stale

[2021-04-10 20:42] neolit123 commented on #100988
https://github.com/kubernetes/kubernetes/pull/98021
has a release note for the removal of deprecated flags:

so this is already in the changelog, but it's not under the action required section as you pointed out:

[2021-04-10 20:45] neolit123 commented on #100988
that is completely out of scope for kubeadm and not so easy to execute.

[2021-04-10 20:47] neolit123 commented on #100988
/retitle removal of the BlockVolume feature gate was not announced under "action required"

leaving this open of SIG Storage wish to comment, but there is not much we can at this point.

[2021-04-10 20:48] neolit123 commented on #100988
/remove-kind bug
/kind support

[2021-04-10 21:02] neolit123 commented on #100978
I0410 20:45:23.570839   10893 config.go:383] "Receiving a new pod" pod="kube-system/etcd-server-e2e-196dc19dab-a7d53-master"
I0410 20:45:23.570952   10893 config.go:383] "Receiving a new pod" pod="kube-system/kube-apiserver-e2e-196dc19dab-a7d53-master"
I0410 20:45:23.571048   10893 config.go:383] "Receiving a new pod" pod="kube-system/kube-controller-manager-e2e-196dc19dab-a7d53-master"
E0410 20:4

[2021-04-10 22:49] thejoycekung commented on #100978
Looks like infra-commit is https://github.com/kubernetes/test-infra/commit/eca83d2ac
related PR: https://github.com/kubernetes/test-infra/pull/21735
/cc @dims

[2021-04-10 23:52] dims commented on #100978
fix is going in here https://github.com/kubernetes/kubernetes/pull/100992

[2021-04-11 00:08] #96481 closed

[2021-04-11 00:19] #100978 closed

[2021-04-11 01:09] dougsland commented on #100928
/area kube-proxy

[2021-04-11 02:03] #93795 closed

[2021-04-11 02:04] #99765 closed

[2021-04-11 03:11] #92141 closed

[2021-04-11 03:37] neolit123 commented on #100967
/remove-kind bug
/kind support

this seems like a question for the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-04-11 03:37] #100967 closed

[2021-04-11 03:40] neolit123 commented on #100984
Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.12-eks-7684af", GitCommit:"7684af4ac41370dd109ac13817023cb8063e3d45", GitTreeState:"clean", BuildDate:"2020-10-20T22:57:40Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

this is not a support skew between client and server
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

try matching ver

[2021-04-11 05:42] uablrek commented on #100925
Is your use-case limited to `externalTrafficPolicy:Local`?

That is, do your Network Load Balancer send packets to all nodes and only the nodes where pods are allocated are supposed to answer?

Or is it not limited to `externalTrafficPolicy:Local`? That is, you send packets to a service without any endpoints, but endpoints may pop up at some time in the future.

[2021-04-11 05:55] #100198 closed

[2021-04-11 06:04] edwardstudy commented on #100220
Same connection issue here:
[code]

[2021-04-11 06:41] livyfu commented on #100984
Forgot to say that I already contacted AWS support before opening this issue. They suggested it is a bug.

Edited the description with more info.

/reopen

[2021-04-11 07:44] tomerleib commented on #87603
I'm seen this as well:

- K8s 1.17.6
- Calico
- Ingress-Nginx 0.45 (chart 3.29)

After deleting the chart from the system, I'm left with the controller service intact.
The events for this service shows the same outputs as above:
[code]

[2021-04-11 08:26] aholler commented on #100988
What would help too is if kubeadm would output the log of the failed container (the apiserver in this case) if it fails to come up.

Maybe that's easier to implement than a check for valid feature flags. It also might be in the scope of kubeadm.

E.g. in the above case the message in the log of the failed apiserver was pretty clear, it just was not obvious to see it because kubeadm does not show i

[2021-04-11 11:44] neolit123 commented on #100988
This diverges from the original kubeadm design too. Kubeadm just starts the
kubelet that manages the static pods and does not block for them to start.

Even if it blocks, they might fail 1 minute later in resource constrained
cases.

[2021-04-11 12:08] MatthiasLohr commented on #94761
Actually, that does not work for me. I'm executing `kubectl get ingresses.v1beta1.networking.k8s.io -A`, but I'm still getting even those ingresses which were created with `networking.k8s.io/v1`. Currently, I'm searching for a way to list all ingresses which I have to migrate from `v1beta1` to `v1` - and getting these strange outputs does not really help locating them.

[2021-04-11 12:57] RAJMITTAL opened #100994 "Service account permission testing with --as return yes, even wrong sa name provided"
####  i have following command to verify the permissions of a service account "sa-name".
 `kubectl auth can-i create deployment  -n myns --as=system:serviceaccount:myns:sa-name`

#### What you expected to happen:
when i put wrong service account name, e.g instead of **sa-name** i put *any-name*. it should return false. but it is always returning true.

#### How to reproduce it (as minimally and pr

[2021-04-11 13:01] ssup2 commented on #100925
Is your use-case limited to externalTrafficPolicy:Local? -> Yes :)
That is, do your Network Load Balancer send packets to all nodes and only the nodes where pods are allocated are supposed to answer? -> Yes :)

[2021-04-11 13:35] Morriz commented on #56463
Why was this closed? This is not fixed by that crappy #64386 PR. This is the kubernetes repo, and this refers to k8s apis being implemented correctly iyam. The PR that you closed this with does NOT support disk resize on a Running VM. Your words @andyzhangx. Please reopen this.

[2021-04-11 13:39] andyzhangx commented on #56463
@Morriz pls track this issue for online resize feature: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/273

[2021-04-11 13:41] pacoxu commented on #100994
/sig auth

[2021-04-11 13:48] pacoxu commented on #100987
/sig node
/area cadvisor

[2021-04-11 14:07] jayunit100 commented on #100962
/assign

[2021-04-11 14:10] rikatz commented on #100434
/triage needs-information

[2021-04-11 14:13] jayunit100 commented on #100889
flakes significantlydropped off after 04/09.... so looking better i think ? i guess can wait another day ... https://testgrid.k8s.io/sig-release-1.21-blocking#gce-cos-k8sbeta-default

[2021-04-11 14:18] jayunit100 commented on #100781
hmmm..  Since the definition of K8s is a cluster that passes the Conformance suite, id assume that this isnt a bug ~ i.e. your cluster is working, but your firewall isnt doing the right thing to *prevent* your cluster from doing certain things... ?

[2021-04-11 14:19] rikatz commented on #100925
@uablrek this is something 'funny' I've hit while doing the kpng research. We always assign the ServiceIP on machines, even if they don't have Endpoints. This turns out to return to user a connection refused instead of simply drop/try to route which IMO I don't know if was the idea of this design.

Anyway, some check I would do in kpng is: if service have endpoint then configure, otherwise not. I'

[2021-04-11 14:19] rikatz commented on #100928
/remove-area kube-proxy

[2021-04-11 14:21] rikatz commented on #100925
@ssup2 You can disable kernel logging with [kernel.printk](https://www.kernel.org/doc/Documentation/sysctl/kernel.txt).

Don't know if this helps (didn't had time to test) but you might take a look

[2021-04-11 14:22] #93999 closed

[2021-04-11 14:25] aojea commented on #100220
I will take a look this week, I think that the problem can be related to https://github.com/kubernetes/kubernetes/issues/100220#issuecomment-799502847

I need to correlate the latest changes

[2021-04-11 14:28] aojea commented on #100889
that is the weird part, the cherry-pick didn't merge yet #100908

[2021-04-11 14:40] aojea commented on #96879
I personally think that this was implicitly discussed and confirmed here https://github.com/kubernetes/kubernetes/pull/92938 , it is an implementation detail of IPVS and a known issue that never worked in IPVS, so it will be safe to disable directly without further discussion.
However, I defer to @thockin for a final decision
/assign @thockin

[2021-04-11 15:32] avoidik commented on #86843
If I get it right there is no new flags allowed, however one specific is missing, which is `--runtime-cgroups`. An exclusion?

- systemReservedCgroup = `--system-reserved-cgroup`
- kubeReservedCgroup = `--kube-reserved-cgroup`
- kubeletCgroups = `--kubelet-cgroups`
- cgroupRoot = `--cgroup-root`
- systemCgroups = `--system-cgroups`
- **nothing** = `--runtime-cgroups`

[2021-04-11 16:19] steve-todorov opened #100995 "Namespace is not set when using kubectl to generate service"
#### What happened:

I'm writing a small bash script which generates some k8s resources in a namespace (other than `default`).
When using `kubectl create service clusterip my-service --namespace=xyz` to generate a service, the yaml which is generated does not include the defined namespace. I've also tried to move around the `--namespace` argument to the beginning (i.e. `kubectl --namespace=xyz cre

[2021-04-11 16:21] steve-todorov commented on #100995
/sig cli

[2021-04-11 17:22] zxh326 commented on #100995
/assign

[2021-04-11 18:28] #99727 closed

[2021-04-11 19:06] Riaankl commented on #92949
/remove-lifecycle stale
Focus for 1.22

[2021-04-11 19:56] BenTheElder commented on #100918
hmm @dims should we be filing a bug about https://github.com/kubernetes/node-problem-detector/blob/fc0edbd222e16b775ec58a253366a41822ecb3d5/go.mod#L37-L38

[2021-04-11 20:09] monotek commented on #79432
Nice. I'll add a pr tomorrow...

[2021-04-11 21:38] #100961 closed

[2021-04-12 00:57] zouyee commented on #100906
/assign

[2021-04-12 00:59] zouyee commented on #100803
Please checkout your runtime status

[2021-04-12 02:21] #97568 closed

[2021-04-12 02:27] hzxuzhonghu commented on #65012
This has been resolved with http2 keepalive.

[2021-04-12 02:27] #65012 closed

[2021-04-12 02:40] njuptlzf commented on #98396
thx,
/close

[2021-04-12 02:40] #98396 closed

[2021-04-12 02:49] CaoDonghui123 commented on #100965
/assign

[2021-04-12 02:56] maxweisel commented on #65012
Can you point to where that fix is? I would assume a http2 keep-alive timeout would cause the connection to restart after X seconds of inactivity, but it would just timeout and restart constantly, where as I'd really love something that sends a ping frame in order to continually keep the connection alive or timeout if one is not received in return.

[2021-04-12 03:48] mzyfree commented on #100767
I think I found the reason is docker daemon v1.19.03 default setting chain FORWARD's policy to DROP.
[code]
disable docker daemon iptable config by add --iptables=false to docker daemon systemd service.
[code]
After restart docker daemon and reinstall k8s,all things seem ok.
So here are some advice for installing k8s(1.20.5) with cni calico and cri docker(19.03) on rhel 8.2.
[code]

[2021-04-12 03:48] #100767 closed

[2021-04-12 03:49] JornShen commented on #100906
@SergeyKanzhelev  @Random-Liu

[2021-04-12 03:51] hzxuzhonghu commented on #65012
https://github.com/kubernetes/kubernetes/pull/95981

[2021-04-12 04:42] kvp-cs commented on #40908
/remove-lifecycle rotten.

[2021-04-12 04:59] wzshiming opened #101008 "[Umbrella] Fix KEP link"
[code]

- [ ] OWNERS_ALIASES:581:  # conformance aliases https://git.k8s.io/enhancements/keps/sig-architecture/20190412-conformance-behaviors.md
#101009
- [x] pkg/apis/core/types.go:2835:	// More info: https://git.k8s.io/enhancements/keps/sig-network/0007-pod-ready%2B%2B.md
~#100996~ #99391
- [x] pkg/kubelet/pod/mirror_client.go:85:	// See http://git.k8s.io/enhancements/keps/sig-auth/20190916-node

[2021-04-12 04:59] wzshiming commented on #101008
/help

[2021-04-12 05:03] wzshiming commented on #101008
/kind documentation

[2021-04-12 05:09] wzshiming commented on #101008
/remove-kind bug

[2021-04-12 05:10] wzshiming commented on #101008
/good-first-issue

[2021-04-12 06:08] guanzo commented on #73297
True but it [breaks nginx support](https://trac.nginx.org/nginx/ticket/816) for HTTP/1.1, which is unacceptable.

My NLB terminates TLS and sends the request to nginx-ingress on port 8000, which is configured as `listen 8000 proxy_protocol http2`. HTTP/2 requests work, but when I send an HTTP/1.1 it doesn't.

Are there any workarounds for this issue?

[2021-04-12 06:09] KofClubs commented on #101008
/assign
I shall fix `staging/src/k8s.io/api/core/v1/types.go`.

[2021-04-12 06:10] lojies commented on #101008
/assign
i'm working in `pkg/kubelet/pod/mirror_client.go`

[2021-04-12 07:08] oldthreefeng commented on #45506
using externel etcd 3.1.11 on k8s v1.12.  during upgrade. we had upgrade my k8s cluster to v1.18.8 { 1.14.9-> 1.16.9-> 1.18.8}
i dont find a obvious problem.  so , should I upgrade the etcd version to "3.4.3-0", I'm not sure to do it well。 @pacoxu
[code]

[2021-04-12 07:49] pohly commented on #94217
/remove-lifecycle rotten
/lifecycle frozen

[2021-04-12 07:51] jc-lab opened #101017 "cluster.local domain could not be resolved in POD."
### What happened:
Cannot query the cluster.local domain (e.g. kubernetes.default.svc.cluster.local) from within the POD.
But querying with kubernetes.default works.

### What you expected to happen:
Should be able to resolve by querying the cluster.local domain.

### How to reproduce it (as minimally and precisely as possible):
I just init the k8s cluster.

### Anything else we need to know?:

##

[2021-04-12 08:01] pacoxu commented on #45506
@oldthreefeng  From the kubeadm code, the min version is 3.2.18(indicates minimum external etcd version which kubeadm supports) and 3.4.3-0 is the default that kubeadm uses. This is just a suggestion from kubeadm that you may refer to make a decision.
https://github.com/kubernetes/kubernetes/blob/v1.18.8/cmd/kubeadm/app/constants/constants.go#L266-L270

[2021-04-12 08:03] ThinkMo commented on #101008
pkg/kubelet/config/flags.go
staging/src/k8s.io/api/node/v1beta1/types.go
staging/src/k8s.io/api/node/v1alpha1/types.go

/assign

[2021-04-12 08:08] pacoxu opened #101019 "pull-kubernetes-integration: test-cmd: run_kubectl_diff_tests"
#### Which jobs are failing:
pull-kubernetes-integration

#### Which test(s) are failing:
run_kubectl_diff_tests

#### Since when has it been failing:
https://prow.k8s.io/?job=pull-kubernetes-integration&state=failure It only shows failure cases in recent 2 days.
The last date is `Apr 10 16:04:18Apr 10 2021, 16:04:18 UTC+0800`

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-

[2021-04-12 08:08] pacoxu commented on #101019
/sig testing

[2021-04-12 08:19] j3ffyang commented on #94362
@theJaxon - changing the ownership of `~/.kube` to `nonroot` user fixes the problem. Thanks

[2021-04-12 08:26] saschagrunert commented on #95171
Waiting for the 1.23 cycle
/remove-lifecycle stale

[2021-04-12 08:35] ThinkMo commented on #101008
i see #101018, you need  ```make update```

[2021-04-12 08:44] Snehil03 commented on #89898
Hello @eldada ,
How did you managed to get these issue fixed ?
Could it be possible to paste the entire block changed ?
I am using calico so need to check for the changes.

[2021-04-12 08:53] jsravn commented on #59119
/remove-lifecycle stale

[2021-04-12 09:49] soltysh commented on #88791
For the record, current [audit mechanism](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) only looks at the requests and responses between client and server and has no way to look into what's going on in the pod after `kubectl exec` or similar. One possible alternative is to force a base image with a central auditing mechanism, such that all commands executed in a pod get logged

[2021-04-12 10:04] eldada commented on #89898
@Snehil03 - we just moved to use the `exec` probe to replace the `httpGet`. Here is how it looks for one of our containers:
[code]
It eliminated the error for us.

[2021-04-12 10:12] verb commented on #87770
@pires it's on my backlog, but I'll gladly hand it off (and help if needed) if you have time. Feel free to reassign. Thanks!

[2021-04-12 10:17] soltysh commented on #90801
This should be now solved with the new controller. See more information in:
- https://github.com/kubernetes/enhancements/issues/19
- https://kubernetes.io/blog/2021/04/09/kubernetes-release-1.21-cronjob-ga/

The old controller will be gone in 1.22.
/close

[2021-04-12 10:17] #90801 closed

[2021-04-12 10:18] pacoxu commented on #101019
/sig cli

[2021-04-12 10:20] uablrek commented on #96879
I made a PR. It's just 3 lines :smile:

[2021-04-12 10:29] tnqn opened #101024 "kubectl describe endpointslice panic when an Endpoint doesn't have zone"
#### What happened:
`kubectl describe endpointslice` panic as below when an Endpoint doesn't have zone.
[code]

#### What you expected to happen:
`kubectl describe endpointslice` should print zone as `<unset>` if an Endpoint's zone is unset.

#### How to reproduce it (as minimally and precisely as possible):
1. Do not set "topology.kubernetes.io/zone" for Nodes.
2. Create Pods and export them as a

[2021-04-12 10:33] tnqn commented on #101024
/sig network
/sig cli
/assign

[2021-04-12 10:46] pires commented on #87770
Thanks, @verb, your guidance is more than welcome. Are you open to a slack chat/call or maybe I can start a WIP PR and we discuss over github?

[2021-04-12 10:54] pacoxu commented on #101019
/cc @kevindelgado @soltysh

[2021-04-12 11:08] chendotjs commented on #89440
/cc

[2021-04-12 11:08] chendotjs commented on #88543
/cc

[2021-04-12 11:09] chendotjs commented on #86944
/cc

[2021-04-12 11:38] pduchnovsky commented on #81976
/reopen

[2021-04-12 11:40] pduchnovsky commented on #81976
@jpigree can you please reopen this issue, it is still ongoing.

[2021-04-12 11:46] saschagrunert commented on #97273
/remove-lifecycle stale

[2021-04-12 12:44] #95904 closed

[2021-04-12 13:14] pacoxu commented on #101017
It is related with “search” and “ndots” in /etc/resolv.conf

The default ndots is 5. If you set it to 2， no more domain search would be triggered for xxx.xxx.svc.cluster.local

/area dns
/sig network

[2021-04-12 13:16] jethrogb commented on #62788
/remove-lifecycle stale

[2021-04-12 13:16] uablrek opened #101029 "Change node.status.addresses to "atomic" (Dual-stack; log errors for multiple InternalIP items in Node objects)"
#### What happened:

When upgrading from v1.20.x->v1.20.y or -> v1.21.0 with multiple `InternalIP` items for dual-stack as;
[code]
these entries shows up in the `kube-apiserver` logs;
[code]

The upgrade seems to be succesful beside the error log items.

#### What you expected to happen:

There shall be no `SHOULD NOT HAPPEN` log entries.

#### How to reproduce it (as minimally and precisely as po

[2021-04-12 13:17] uablrek commented on #101029
/sig network

[2021-04-12 13:17] jc-lab commented on #101017
@pacoxu Thanks for reply.
I saw a related issue somewhere.
However, already it defaults to 5, and it is the same if I change it to 7 or another number.

[2021-04-12 13:30] pacoxu commented on #101017
If 'ndots' is larger, it will trigger search domains. Use smaller number to prevent those searches.

[2021-04-12 13:33] jc-lab commented on #101017
Let's test it tomorrow.
But how can I change the default value of Pod's resolve.conf?

[2021-04-12 14:07] liggitt commented on #94761
That is the intended behavior. All ingress objects are available via all served apiVersions, regardless of the version they were created with (the API server converts between versions in order to return ingress objects in the requested version).

One way is to use [API server audit logs](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/) to find read/write requests to the v1beta1 e

[2021-04-12 14:45] MadhavJivrajani commented on #100871
Hi! I'd like to work on this if possible 😄
/assign

[2021-04-12 15:09] unixfox commented on #62078
/remove-lifecycle stale

[2021-04-12 15:19] verb commented on #87770
Great! @pires is going to work on this (chatted via slack).

/assign @pires

[2021-04-12 15:38] Abhishek-Srivastava commented on #100982
Found out the problem -
I stumbled upon this bug: https://github.com/elastic/cloud-on-k8s/issues/3958

And the workaround was damn cheap: placing v1beta1 before v1 in admissionReviewRevisions.
:p

[2021-04-12 15:38] #100982 closed

[2021-04-12 15:38] ssup2 commented on #100925
@rikatz I tested with a load balancer service that doesn't have any endpoint. But it's the same.

[code]

[code]

[2021-04-12 15:47] #96419 closed

[2021-04-12 15:49] invidian commented on #75457
/remove-lifecycle stale

[2021-04-12 16:00] verb commented on #84764
/remove-lifecycle stale

[2021-04-12 16:01] verb commented on #53188
/remove-lifecycle stale

[2021-04-12 16:01] verb commented on #84353
/remove-lifecycle stale

[2021-04-12 16:08] gautamsoni17990 commented on #61117
i am also facing the same issue on latest kubelet version which is 1.20.5 and still getting this error, there is no issue related to memory because i have not use any application till yet.

[2021-04-12 16:18] SergeyKanzhelev opened #101035 "Create a duration metric for probes"
/kind feature
/sig node

As exec probe timeout [bug was fixed](https://github.com/kubernetes/enhancements/issues/1972), upgrade of k8s may lead to unexpected workload disruptions if the exec probe timeout is not corrected properly. Unfortunately there is no easy way today to guess which timeout should be set for the probe. The suggestion is to introduce a duration metric to allow customers to meas

[2021-04-12 16:36] xiaobaitusi opened #101036 ""null" values are dropped from CustomResources"
#### What happened:
I encountered an issue where specific `null` values are dropped when modifying some CRs with kubectl apply.

Here is my observation.
I'm using a CRD

[code]

Users can `kubectl apply` to create a object with the following spec with null values and it's persisted into etcd.
[code]
However, if users switch `spec.foo` to some non-null value and then change it back to `null`,
the f

[2021-04-12 16:47] #90237 closed

[2021-04-12 16:56] kevindelgado commented on #101019
I’ve only briefly taken a look at this, but my understanding is that server-side diff is flaking because the `managedFields` timestamp is different (by like a second) between the one already applied and the diff apply.

@apelisse, do you think this could be related to this recent change https://github.com/kubernetes/kubernetes/pull/100032? Could delaying when we update the timestamp cause it to so

[2021-04-12 17:18] neolit123 commented on #101017
/remove-kind bug
/kind support

[2021-04-12 17:20] gridworkz commented on #61117
btw: Where are you hosting your servers?

On Mon, Apr 12, 2021 at 12:08 PM gautamsoni17990 ***@***.***>
wrote:

[2021-04-12 17:23] BodilessSleeper commented on #101008
/assign
fixing pkg/kubelet/config/flags.go

[2021-04-12 17:33] jsturtevant commented on #100962
This could be because the sourcevip for kubeproxy `--source-vip="10.112.6.0"` is invalid.  `.0` for source vips are not technically valid though they don't seem to cause errors 2019.  I wasn't aware it failed explicitly in WS 2004+.  @jocelynberrendonner might know

Could you try reserving a source vip by using the following?
https://github.com/microsoft/SDN/blob/b189fc96bcba8ea3ed6c77b51bca9266a8

[2021-04-12 17:33] renukamanavalan commented on #100677
Agree with solution provided above.

kubeadm reset -f, followed by a sleep for a minute, before join helps. The sleep/pause give time for the cluster to mark the node as "not ready". Attempt to join, after that state is reached, is clean.

THANK YOU all!

[2021-04-12 17:34] wojtek-t commented on #100891
@deads2k - FYI

[2021-04-12 17:37] monotek commented on #79432
added prs for adding fluentd-elasticsearch to kubernetes-sigs/instrumentation-addons and remove it from k/k in:
https://github.com/kubernetes-sigs/instrumentation-addons/pull/1
https://github.com/kubernetes/kubernetes/pull/101039

[2021-04-12 17:46] jsturtevant commented on #100946
looks like the script is trying to parse a link that is no longer valid: https://www.powershellgallery.com/packages/install-kubectl/1.7/Content/install-kubectl.ps1

I used powershell gallery's contact the owner to figure out where the source for this lives to get it updated.

[2021-04-12 17:50] pravarag commented on #90402
Hi @alculquicondor, while going through the comments mentioned above I've understand few things:
1. As part of this change we want to collect all the `calculating resource request logic` of scheduler package in one place. And as per this comment: https://github.com/kubernetes/kubernetes/issues/90402#issuecomment-619042451 it's to be collected within `frameworkv1alpha1/types.go` .
2. We want to cha

[2021-04-12 17:58] ldemailly commented on #57187
Being able to update the probe parameters without causing the pods to get killed would be very useful.

[2021-04-12 18:08] jpigree commented on #81976
/reopen

[2021-04-12 18:09] vickeyrihal1 commented on #100708
@pacoxu @jsturtevant - could you take a look at above comment? Or please let us know the steps to build the image locally.

[2021-04-12 18:21] SergeyKanzhelev commented on #100906
Looks like a legit scalability concern.

/triage accepted
KEP: https://github.com/kubernetes/enhancements/issues/693

Perhaps, needs to be added as a blocker for topology manager GA

[2021-04-12 18:21] SergeyKanzhelev commented on #100906
CC: @klueska wdyt?

[2021-04-12 18:22] jsturtevant commented on #100708
`k8s.gcr.io/pause:3.5` is a pointer to a manifest list which contains multiple image references for different OSes. The runtimes have logic to pull the correct image based on OS version. see the output in: https://github.com/kubernetes/kubernetes/issues/100708#issuecomment-811308102

Can you get the kubelet logs? What is it your trying to do?  EKS does all the configuration for you, you shouldn't

[2021-04-12 18:22] alculquicondor commented on #90402
Re 1: Since that comment was posted, a better location could be https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-helpers/scheduling/corev1, but this is open to deliberation. It's better that you start exploring both possibilities and access the impact in the code.

Re 2, 3: Let's start just with the functions that don't have a non-zero default, as those are the one

[2021-04-12 18:31] renukamanavalan opened #101041 "Can kubelet provide http-proxy to dockerd ?"
#### What happened:
In my scenario, the kubernetes master node also acts as http-proxy (_by running Squid_). Whenever a node connects/configured with master VIP/URL, the dockerd daemon of that node had to be configured with this IP as [dockerd's http-proxy](https://docs.docker.com/config/daemon/systemd/#httphttps-proxy). But configuring as per this [link](https://docs.docker.com/config/daemon/syst

[2021-04-12 18:33] BenTheElder commented on #101017
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config

[2021-04-12 18:38] xiaobaitusi commented on #101036
/sig api-machinery

[2021-04-12 18:38] xiaobaitusi commented on #101036
/wg api-expression

[2021-04-12 19:03] uablrek commented on #100925
@rikatz This update https://github.com/kubernetes/kubernetes/issues/93456 will require a service configured even if there are no _local_ endpoints.

[2021-04-12 19:10] Riaankl commented on #95127
Imaged was updated
/close

[2021-04-12 19:10] #95127 closed

[2021-04-12 19:52] aravindhp commented on #100962
@jsturtevant I am seeing this issue with `--source-vip=10.132.0.118` on 2019, though the network configuration is different i.e. we are using an overlay network (hybrid ovn-kubernetes).
[kube-proxy logs](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_windows-machine-config-operator/393/pull-ci-openshift-windows-machine-config-operator-release-4.7-aws-

[2021-04-12 20:30] jsturtevant commented on #100962
@aravindhp your error message looks like issue with `policy creation` and I did not find the error mesage `Source Vip endpoint creation failed` in your logs. `policy creation` is being tracked in https://github.com/kubernetes/kubernetes/issues/100384

[2021-04-12 20:47] aravindhp commented on #100962
You are right @jsturtevant. Sorry for the noise.

[2021-04-12 20:47] jayunit100 opened #101042 "Should we put a Wget retry into kube-proxy/apiserver endpoint tests?"
#### What happened:

Im seeing peridic failures in a couple of tests which. i think dont have retries...:

[code]

I think thats bc the timeout is 1s, and my clusters are a little slow in terms of response time periodically.

#### What you expected to happen:

These tests should have a longer timeout for the api calls  then 1 second, or else, allow retrying

[code]

#### How to reproduce it (as mi

[2021-04-12 20:47] #96107 closed

[2021-04-12 20:47] #96457 closed

[2021-04-12 20:48] jayunit100 commented on #101042
/sig testing

[2021-04-12 20:48] aravindhp commented on #100962
However, #100384 is not about `policy creation` per se. That is regarding the `kube-proxy` panic and independent of the `policy creation` issue.

[2021-04-12 21:39] apelisse commented on #101019
This error probably shows that we have a path that causes the object to be re-written to etcd when it shouldn't.

[2021-04-12 21:50] apelisse commented on #101019
As we can see, the diff only shows a difference in the timestamp but not in the fields that are managed. We are not supposed to update the timestamp if the managed fields haven't changed. That timestamp only gets updated if the two steps happen in different seconds (that's why it's flaky). That is definitely not a flake but an actual failure.

[2021-04-12 22:07] neolit123 commented on #100966
these seem like problems that we should fix in a 1.21 PATCH release and 1.22 at master, correct?

our kubeadm e2e test job run only against the "stable-1" label, so they caught the problem only after 1.21.0 was out.
ideally we should have these tests for the k8s master branch too.

[2021-04-12 22:09] jc-lab commented on #101017
This method is difficult to apply to all Pods, including third parties.
The cluster.local domain is basically supported by k8s, but it is strange that it does not work.
Is there a better solution or a way to change it globally?

[2021-04-12 22:14] marosset commented on #100966
/priority critical-urgent

[2021-04-12 22:20] shanemcd commented on #69028
@Ark-kun Did you ever find a workaround? If not, can you reopen?

[2021-04-12 22:48] #96461 closed

[2021-04-12 22:55] #98751 closed

[2021-04-12 22:56] #100349 closed

[2021-04-12 23:05] jayunit100 commented on #101042
Seems like these tests failing correlates ~ i.e. they both fail together in cases where like apiserver/etcd arent fast.  but in any case, the failure doesnt indicate cluster health bc its ok every once in a while for this to be the case.

So to make these more consistent performance / flake wise, i think we do:

-  increase the 1 or parameterize
[code]
- add a retry of some sort around
[code]

[2021-04-12 23:13] jsturtevant commented on #100966
this doesn't look like it requires any changes to the OS layer so I will give it a go
/assign

[2021-04-12 23:49] #95989 closed

[2021-04-13 00:08] ns-rwong opened #101044 "Empty pod containerStatuses.lastState field"
#### What happened:
we noticed that it's possible for a pod to have a restarted container, but an empty (`{}`) `.status.containerStatuses.lastState` field.  here is an example (notice _restartCount: 4_ but _lastState: {}_):
[code]

#### What you expected to happen:
i expected that whenever a pod container has restarted, the associated `.status.containerStatuses.lastState` field to always have a va

[2021-04-13 00:21] ns-rwong commented on #101044
/sig api-machinery

[2021-04-13 00:28] apelisse commented on #101036
I'm not sure if this is strictly the same as https://github.com/kubernetes-sigs/structured-merge-diff/issues/171 or if this is a slight variation. Let me try to reproduce to see exactly.

[2021-04-13 00:37] s1113950 opened #101045 "kube-controller-manager 1.20.5 ttl_controller panic when calling patchNodeWithAnnotation"
#### What happened:
We (Palantir) are in the process of upgrading our k8s stack from 1.19.5 to 1.20.5, and are noticing panics in the `ttl_controller` every so often of the kube-controller-manager. We run 3 of them, and alerting is fine and controller-managers are able to start, but eventually they'll fail at a rate of ~100x in a 24 hr period.

Sample logs after ~20 mins of running on a test stack

[2021-04-13 00:40] dims commented on #100800
/close

[2021-04-13 00:40] #100800 closed

[2021-04-13 01:15] s1113950 commented on #101045
/sig api-machinery

[2021-04-13 01:22] dims commented on #74965
/close

this all should have shipped in 1.21

[2021-04-13 01:35] dims commented on #52617
@cheftako is it time to try this again?

[2021-04-13 01:42] xiaoxubeii commented on #99895
kubelet cpu manager cannot exclude binding cores to any other processes except other pods now. I think maybe you should try workaround first.

[2021-04-13 01:49] pacoxu commented on #101017
Another option would be using `coredns autopath`: https://coredns.io/plugins/autopath/.

Suggestions from https://github.com/kubernetes/kubernetes/issues/59031#issuecomment-400724357

[2021-04-13 01:58] pacoxu commented on #101029
/cc @aojea

During writing the docs for kubeadm dual-stack, the examples here https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/dual-stack-support/ for apiserver advertise address should be specified in kubeadm as it doesn't support dual stack.

[2021-04-13 02:11] pacoxu commented on #101045
The same error is fixed in #100013 on 1.21.
@rphillips @serathius it seems that we should backport the fix to 1.20?

[2021-04-13 02:12] #96427 closed

[2021-04-13 02:26] pacoxu commented on #101044
Actually, the EOL of v1.17 is 2021-01-30.
Can this be reproduced in 1.18+?
/sig node

[2021-04-13 02:26] lfdominguez opened #101049 "The Cinder CSI volume formated by kubernetes is not mounted"
#### What happened:
The Cinder CSI volume formated by kubernetes is not mounted on `globalmount` so when kubernetes try to mount the CSI volume inside the `mount` folder of the kubelet internal mount

#### What you expected to happen:
1- The deploy create a PVC that is bound
![image](https://user-images.githubusercontent.com/5604131/114487178-25409800-9bdd-11eb-98ad-e01a5e1b7d2c.png)
![image](http

[2021-04-13 02:55] lfdominguez commented on #101049
/sig storage
/sig cloud-provider

[2021-04-13 03:08] howardjohn commented on #100888
I think it would cause a small ambiguity perhaps. We could make timeout query param as an input invalid, and allow everything else or overwrite/append (would need to see how repeated query params are handled - maybe it's too messy).
Any of those options would help the cases trying to set anything other than `timeout`

[2021-04-13 03:24] V0idk opened #101052 "Any way to run different command in different securityContext?"
#### What would you like to be added:

I have a deployment, steps like:
1.  run install.sh with root, will create some user  test1
2.  and then run start.sh with test1

But containers only supports single securityContext.

if i use initContainer,  any change of install.sh(such as create user) would not save after initContainer finish.

#### Why is this needed:

run different command in different s

[2021-04-13 03:26] V0idk commented on #101052
/sig deployment

[2021-04-13 03:27] V0idk commented on #101052
/sig api-machinery

[2021-04-13 04:23] ns-rwong commented on #101044
@pacoxu
yes, i can reproduce this in v1.18.17-gke.100

[2021-04-13 04:54] lfdominguez commented on #101049
https://github.com/kubernetes/cloud-provider-openstack/issues/1478#issuecomment-818435332

[2021-04-13 05:41] pixiake opened #101056 "container runtime status check may not have completed yet, PLEG is not healthy"
#### What happened:
When I upgraded kubelet from v1.18.8 to v1.19.0 (v1.19.9 is the same) ,  the node is notready, and kubelet reported the following error
[code]
I've tried restarting the node and it doesn't solve the problem.

I checked docker, and both `docker ps` and `docker inspect` are working fine.

#### Anything else we need to know?:
The kubelet configuration:
[code]
#### Environment:
- K

[2021-04-13 06:35] lfdominguez commented on #101049
https://github.com/kubernetes/cloud-provider-openstack/issues/1478#issuecomment-818479299

[2021-04-13 06:35] #101049 closed

[2021-04-13 07:06] codemanufaktur commented on #92601
/reopen

we still havethese artifacts with v1.20.5

[2021-04-13 07:49] pixiake commented on #101056
/sig node

[2021-04-13 07:58] carlory commented on #97765
/remove-lifecycle stale

[2021-04-13 07:58] mm4tt commented on #93932
Marcel is right, unfortunately the test is still flaky - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness&grid=beta
The test failed two days ago.

@swetharepakula, will you be able to take a look at this?

[2021-04-13 08:40] venkatramanareddy commented on #92086
@joelsmith Is this issue still relevant?

[2021-04-13 08:48] klueska commented on #100906
This is a known issue, we just haven't found the time to work on it. I don't think we need to add anything to the CRI. All of the information needed to skip the update is already available.

[2021-04-13 08:51] uablrek commented on #100925
@ssup2 Can you apply https://github.com/kubernetes/kubernetes/pull/97081 and re-build K8s?

I think this might solve your problem. At least the printouts will stop. But packets (synack) will be returned but with incorrect source (a pod address). I think this will not cause problems for you though.

[2021-04-13 09:03] uablrek commented on #67730
Since support for ipv6 ([::1]:nodeport) will never work (not working for proxy-mode=iptables either) and support for 127.0.0.1:nodeport for proxy-mode=ipvs requires a kernel update that is not planned and likely will not be accepted I will close this issue.

If you _really_ must use 127.0.0.1:nodeport please use proxy-mode=iptables (and be aware of the security issues).

Please check https://githu

[2021-04-13 09:03] #67730 closed

[2021-04-13 09:18] pacoxu commented on #101019
**Failed 80+ times today in https://prow.k8s.io/?job=pull-kubernetes-integration&state=failure**
/priority critical-urgent
I think, correct it if I am wrong.

[2021-04-13 09:25] claudiubelu opened #101062 "HTTP Lifecycle hook tests flake on multinode clusters"
#### Which jobs are flaking:

k8s-e2e-ltsc2019-containerd-flannel-sdnoverlay-master

#### Which test(s) are flaking:

[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook should execute prestart http hook properly [NodeConformance] [Conformance]
[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook should execute poststart http hook properly [NodeConformance] [

[2021-04-13 09:32] palsivertsen commented on #94416
/remove-lifecycle stale

[2021-04-13 09:33] wojtek-t commented on #93932
https://github.com/kubernetes/kubernetes/pull/99222 was supposed to help with some of the issues - I just don't think it's the right approach...

[2021-04-13 09:36] wojtek-t commented on #100891
@lavalamp - thanks, I agree

I'm going to pick it up and open a KEP for that (though won't get to it this week most probably). To allow execution on it in 1.22.

[2021-04-13 09:36] wojtek-t commented on #100891
Well - update of existing KEP, I don't think we want a new KEP for it.

[2021-04-13 09:45] ykulazhenkov opened #101064 "`startupProbe` behaviour changed in v1.21.0"
#### What happened:

We detected `startupProbe` behavior change in v1.21.0

Example:
POD has `startupProbe` and `livenessProbe` for some containers

**Behavior in v1.20.5:**
1. POD starts
2. startupProbe applied
3. if startupProbe success, then start checks for livenessProbe
4. POD working
5. livenessProbe failed
6. container restarted
7. **startupProbe applied**
8. if startupProbe success, then s

[2021-04-13 09:48] ykulazhenkov commented on #101064
/sig node

[2021-04-13 10:02] shixinghong commented on #92460
the same issue in 1.20.5

[2021-04-13 10:33] Elbehery opened #101066 "[sig-storage] [Driver: nfs] bare-metal IPv6 environment, pods fail to mount nfs storage resources"
#### What happened:
In bare-metal IPv6 environment, any pod consuming `nfs` storage resource is not able to run.

[code]

#### What you expected to happen:
The storage should be consumable, and the pod should become in `running` status.

#### How to reproduce it (as minimally and precisely as possible):
Running the [nfs-example](https://github.com/kubernetes/examples/tree/master/staging/volumes/nf

[2021-04-13 10:34] Elbehery commented on #101066
/sig-storage

[2021-04-13 10:51] vickeyrihal1 commented on #100708
sorry, was some miss at my end. It's working on the windows server.

[2021-04-13 11:44] jsafrane commented on #101066
/sig storage
/tirage accepted
/assign @Elbehery

[2021-04-13 12:44] mm4tt commented on #96635
Ping, any updates?

[2021-04-13 13:13] gosoon commented on #100803
I finally found the problem,kubelet's housekeeping goroutine got stuck when cleaning up the cephfs volume, causing the kubelet syncLoop goroutine to get stuck. The cephfs volume has an error,unable to access it.

[2021-04-13 13:27] tristan-tsl opened #101069 "kubelet in v1.21.0 cann't run in alpine system, tips: sh: kubelet: not found, maybe it's a build bug"
#### What happened: kubelet in v1.21.0 cann't run in alpine system, tips: sh: kubelet: not found

#### What you expected to happen: kubelet binary run success

#### How to reproduce it (as minimally and precisely as possible): run kubelet in alpine system

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): 1.21.0
- Cloud provider or hardware confi

[2021-04-13 13:30] verb commented on #98362
containerd now has an open PR to fix this (containerd/containerd#5203)

[2021-04-13 13:30] gosoon commented on #100803
I still have some questions. Since kubelet syncloop failed, why is kubelet still ready and did not report an error event?

[2021-04-13 13:34] tristan-tsl commented on #101069
run `mkdir /lib64 && ln -s /lib/libc.musl-x86_64.so.1 /lib64/ld-linux-x86-64.so.2` to fix it temp

[2021-04-13 13:40] pacoxu commented on #101069
/sig node
/sig release

[2021-04-13 13:41] danwinship opened #101070 "apiserver endpointslice reconciler should be smarter about what slices it owns"
Currently the apiservers create an `Endpoints` object and an `EndpointSlice` object named "`kubernetes`", and ensure that those objects remain in sync with the actual set of running apiservers.

In particular, it _only_ ever looks at the `EndpointSlice` named "`kubernetes`", and not any other `EndpointSlice`s. This could lead to problems when trying introduce dual-stack support for the apiserver:

[2021-04-13 13:50] wzshiming commented on #101064
/assign

[2021-04-13 13:54] dims commented on #99808
related slack discussion : https://app.slack.com/client/T09NY5SBT/C0BP8PW9G/thread/C0BP8PW9G-1614888729.200700

[2021-04-13 14:00] alculquicondor commented on #101019
/triage accepted

[2021-04-13 14:06] aojea commented on #101062
/sig network
/sig node
/sig conformance
/assign @thockin @johnbelamaric
/priority critical-urgent
/cc @dims @liggitt

This is important since affects conformance and defines the networking behaviour for the poststart/ prestop hooks

[2021-04-13 14:08] hasheddan commented on #94013
@justaugustus I think this should fit into documentation in the sig-release repo related to artifacts and version markers. How would you feel about closing this one out and I can write up a scoped issue in k/sig-release that describes the documentation we need?

[2021-04-13 14:11] pixiake commented on #101056
Is there any way to check which container is blocking the kubelet?

[2021-04-13 14:38] alvaroaleman commented on #80609
/reopen

I doubt a PR to cluster-api fixed this

[2021-04-13 14:57] dims commented on #101062
@claudiubelu i'd personally let @kubernetes/sig-network-api-reviews folks have first dibs on what we need to do here. Though from the name of the test itself, it seems like the test is NOT a sig-network test :)

[2021-04-13 15:04] runseason commented on #90358
go: k8s.io/kubernetes@v1.21.0 requires
        k8s.io/api@v0.0.0: unrecognized import path "k8s.io/api" (https fetch: Get https://k8s.io/api?go-get=1: x509: certificate signed by unknown authority)

[2021-04-13 15:22] claudiubelu commented on #101062
Indeed, it does not have any ``[sig-networking]`` tag in its name, but the tests rely on networking and on how CNIs work. As I've stated above, it's not a problem for flannel sdnbridge, but it is for flannel sdnoverlay; other CNIs might have a similar issue too.

[2021-04-13 15:26] liggitt commented on #101019
correct. who should be assigned as the owner of this?

[2021-04-13 15:27] kevindelgado commented on #101019
I can take it, I'm looking into it now

[2021-04-13 15:27] kevindelgado commented on #101019
/assign

[2021-04-13 15:30] amarjothi commented on #100719
hi, I am using etcd as datastore backend for calico cni, so my conflist as below, also have tried installing kubelet using yum repo instead of binary. And still get the error with coredns.

`[root@kube-master-1 net.d]# cat 10-calico.conflist
{
  "name": "k8s-pod-network",
  "cniVersion": "0.3.1",
  "plugins": [
    {
      "type": "calico",
      "log_level": "info",
      "datastore_type": "etcdv

[2021-04-13 15:33] aojea commented on #101062
because the network is not a thing :)  let´s tag the sig owner then
/sig node
I think that the key here is to decide if kubelet should be able to access pod in other nodes, and based on the link Claudiu added is part of the Kubernetes networking model.
I saw users that doesn't want kubelet to access even the pods on same host, so I think that is legit to say kubelet MAY reach pods in other nodes b

[2021-04-13 15:43] amarjothi commented on #100719
[root@kube-master-1 net.d]# k get pods -A
NAMESPACE     NAME                                      READY   STATUS              RESTARTS   AGE
kube-system   calico-kube-controllers-568b9cfb7-n5q9p   1/1     Running             0          36m
kube-system   calico-node-6m26x                         1/1     Running             0          5d17h
kube-system   calico-node-7pfxg                         1/1

[2021-04-13 15:51] fergaldonlon commented on #51835
Just to add to the possible causes and for the benefit of those whose google search takes them here.
I have a cluster on AWS EKS where namespaces and pods are created/terminated several times a day. Today for the first time I saw a problem where a bunch of pods got stuck in a terminating state for several hours.

I believe the cause of this was a bad underlying node:
➜  ~ kubectl get nodes -A
NAME

[2021-04-13 16:06] aojea commented on #101029
yeah, I hit this here too https://github.com/kubernetes-sigs/kind/pull/2173#issuecomment-811939569
thanks for reporting it

@apelisse can you advise here?
should we treat `.status.addresses: duplicate entries for key [type="InternalIP"]`  as a known issue when upgrading in dual-stack?
if affirmative, can we improve the message?

[2021-04-13 16:22] jsturtevant commented on #95226
Another failure in gce windows test: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019/1381848368606613504

[2021-04-13 16:57] brycecr commented on #94275
/remove-lifecycle rotten

Was this fixed by #94815 ? We're downstream but have started to run into this issue, so just wondering if a fix is coming down the pipe.

[2021-04-13 17:03] jprzychodzen opened #101078 "Creating a CRD with broken converter webhook prevents GC controller from initialization"
#### What happened:

Creating a CRD with broken converter webhook prevents GC controller from initialization, which breaks on informer sync. Additionally, this issue is not visible until gc controller restarts - dynamically added crd resources with non-working converter webhook do not break running GC.

#### What you expected to happen:

GC controller should initialize with available informers. CR

[2021-04-13 17:08] mtaufen commented on #100799
I agree with @liggitt that auto reload of the CA bundle is not in the same category of DynamicKubeletConfig.

It's the difference between changing the filepath (dynamic config) and just reloading the file at a fixed location (CA reload).

Sure it's technically a change but if config is specifying intent, and the intent is "reload this file periodically," then changing the target file is not changi

[2021-04-13 17:29] ncapps opened #101079 "Add a Kubelet configuration option to disable certain cAdvisor metrics"
#### What happened:
We have both Kubernetes and Docker running in the same environment. cAdvisor is running as part of the kubelet binary. Kubernetes is using CRI-O as our CRI. Both `/var/lib/docker` and `/var/lib/containers` are backed by a ZFS file system.

cAdvisor is gathering metrics for the Docker CRI and executes `zfs list` on an interval. This operation is resource intensive. We do not nee

[2021-04-13 17:34] ncapps commented on #101079
/sig node

[2021-04-13 17:48] jayunit100 commented on #97506
actually this is related to @claudiubelu 's work to make sure probe pods land on the same topology (same pod same node) , so the tests are consistent

[2021-04-13 18:40] neolit123 commented on #101078
/sig api-machinery

[2021-04-13 18:41] neolit123 commented on #101078
please follow the issue template correctly:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

including k8s version is important.

[2021-04-13 18:44] xiaobaitusi commented on #101036
Thanks for looking into this issue. Add more context

This seems to be similar to https://github.com/kubernetes/kubernetes/issues/98080.
I tested in GKE v1.20.5-gke.101, the issue exists there too.

[2021-04-13 18:46] apelisse commented on #101036
is it? Because you didn't mention an array at all in this issue.

[2021-04-13 19:32] SergeyKanzhelev commented on #100906
created https://github.com/kubernetes/enhancements/pull/2623 so it is not lost on graduation

[2021-04-13 20:46] xiaobaitusi commented on #101036
The issue is not array fields specific, it seems that the issue happens on any type of fields

[2021-04-13 21:09] khenidak commented on #99425
FWIW Readiness probe configured with an arbitrary IP is a perfectly valid scenario. A deployment may be dependent on external endpoint and having liveness probe looking at it is perfectly valid. It **not** valid for *all* scenarios but there are some. So we can not just block it for all.

To lock down a solution, I am looking for thoughts around:
1. Admission controller does not solve the problem

[2021-04-13 21:09] apelisse commented on #101036
OK, Good to know. The issue you pointed at is fairly different and very specific to arrays.

[2021-04-13 21:11] xing-yang commented on #94929
@jsafrane should this issue stay open to keep track of remaining issues?

[2021-04-13 21:42] aojea commented on #100984
/sig network
Thanks for reporting and the detailed description, but I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/47249

[2021-04-13 22:42] swetharepakula commented on #93932
The reason for the flake has been documented above as well as in this [comment](https://github.com/kubernetes/kubernetes/pull/99222#issuecomment-784545329) on #99222. That PR was dependent on events being emitted by the service controller, which may or not actually signify that a loadbalancer is ready to be used based on the actual cloud provider implementation. However, in my opinion, increasing

[2021-04-13 23:09] apelisse commented on #101036
@kevindelgado Do you think you can try to reproduce these steps specifically and see if they fail on 1.21? I think this is fixed but I'd rather be 100% sure. Thanks :-)

[2021-04-13 23:11] apelisse commented on #94275
Well, it'd be fixed by #94815 but we won't be merging that. We need a better answer. I have some ideas related to that, but nothing easy.

[2021-04-13 23:49] kevindelgado commented on #101036
ya, looking into it now.

[2021-04-14 01:13] Bhashit commented on #65500
We were having a similar problem on AWS EKS 1.16. A stateful set's pod wasn't able to attach to a volume, and it was trying to come up on a specific node. That node had been recently restarted, and the EBC CSI driver pod on that node had already failed. So, I drained the node and killed it. Another node came up, and my pod started on a different node.

The above works when you don't want to (or ca

[2021-04-14 01:32] jshen28 commented on #92195
any update on this issue?

[2021-04-14 02:01] hugomcfonseca commented on #78761
/remove-lifecycle stale

[2021-04-14 02:03] Jerry-Ge opened #101087 "Log out warnings if user specify unused weight to scheduler framework plugins"
#### What would you like to be added:
Log out some warnings if a user accidentally specifies a weight parameter to a framework plugin that doesn't use weight at all.

#### Why is this needed:
The current Plugin struct looks like this:
[code]
However, not all framework plugins will need this `Weight` variable. (Only the plugins during the Score extension point will actually need it)
In case a user

[2021-04-14 02:04] Jerry-Ge commented on #101087
/sig scheduling

[2021-04-14 02:09] chendave commented on #101087
+1,  weight on the non-score plugin should not effective, but it's not always ignored and might lead  to potential negative impact to the weight of score plugin, e.g.  the issue mentioned here: https://github.com/kubernetes/kubernetes/issues/100613.

[2021-04-14 02:10] Jerry-Ge commented on #101087
/assign

[2021-04-14 02:25] kevindelgado commented on #101036
Yep, this is fixed in 1.21.0

Here's my repro steps for posterity:

### 1.18.16 bug repro

With `.spec.bar` null:
[code]

[code]

With `.spec.bar` non-null:
[code]
[code]

[code]
With `.spec.bar` null:
[code]

### 1.21.0 fix proof

With `.spec.bar` null:
[code]

[code]

With `.spec.bar` non-null:
[code]
[code]

[code]
With `.spec.bar` null:
[code]

[2021-04-14 02:59] #33777 closed

[2021-04-14 03:38] ica10888 commented on #54918
I use this commod
[code]
then
[code]
it works.

[2021-04-14 03:39] amarts commented on #100897
For the users who wants to use glusterfs with CSI, there is an option available - https://github.com/kadalu/kadalu/

Hence for a large project like kubernetes, if glusterfs is the only volume plugin delaying the CSI migration, users can be pointed to kadalu project and glusterfs can be marked deprecated. @humblec is that fine?

meantime, from kadalu project we will see what we can do to help users

[2021-04-14 03:40] apelisse commented on #101036
Thanks for the detailed analysis @kevindelgado!
@xiaobaitusi Let us know what you think

[2021-04-14 04:02] apelisse commented on #101029
This error sounds worse than it is and typically doesn't have an impact on anything. It just prevents server-side apply from tracking who owns which fields, which may prevent people from server-side applying this object. Since node is rarely applied AFAIK, this should be fairly consequence-free.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L4795-L48

[2021-04-14 04:04] apelisse commented on #101029
To be clear, we don't have any corruption here. The "not sufficiently unique" throws SSA off and prevents it from doing its job.

[2021-04-14 04:08] #101019 closed

[2021-04-14 04:10] chenyw1990 commented on #100745
PR #94364 cannot be cherry pick to v1.19.4,  but I think it can fix it.
close this issue.

[2021-04-14 04:10] #100745 closed

[2021-04-14 04:12] uablrek commented on #92019
@andrewsykim Is this issue fixed for endpointslices in https://github.com/kubernetes/kubernetes/pull/96371 as mentioned in https://github.com/kubernetes/kubernetes/issues/92019#issuecomment-729722431?

If so, can we close this issue since endpointslices is in beta with featuregate=true from k8s v1.18?

[2021-04-14 04:31] SataQiu commented on #100984
We are using `port` as the primary key to match the list item. In this case, the first two elements in the port list have the same primary key(`53`), and the first element is always matched and modified when patch is executed. This looks like a bug 😕

https://github.com/kubernetes/kubernetes/blob/6cc27991e95a4bd242a9c631d520a909778d05e6/staging/src/k8s.io/api/core/v1/types.go#L4084-L4089

[2021-04-14 04:32] uablrek commented on #99162
/area ipvs

[2021-04-14 05:07] uablrek commented on #101017
I can't reproduce this problem. Be aware that some programs does not use the resolver lib. For instance `go` programs make dns queries in their own way (normally) to prevent that a kernel thread gets blocked. So please check how your program does dns queries and try some others like `ping`. Lookup programs like `nslookup` and `dig` probably also bypass the resolver (at least is looks that way).

[2021-04-14 05:15] jc-lab commented on #101017
@uablrek
Interestingly, in an Internet-enabled environment, it works as well as I want.
However, this situation occurs in an environment where the Internet is not available (connected only to OpenWRT's dnsmasq server and not connected to external DNS).

[2021-04-14 05:28] livyfu commented on #100984
Thank you @aojea and @SataQiu Yes, it's a duplicate.

/close

[2021-04-14 05:28] #100984 closed

[2021-04-14 05:57] nrvmodi commented on #66796
I am facing the same issue

[2021-04-14 06:05] humblec commented on #100897
Yes, at the same time we got our initial Gluster CSI driver working a way back here https://github.com/gluster/gluster-csi-driver.
Just wondering or trying to find an opinion on whether we should revamp gluster CSI driver project itself. The advantage we get here is the smooth migration from in tree driver to CSI.  From the kube community and outside, we know many production deployments are runnin

[2021-04-14 06:13] humblec commented on #100897
@Jiawei0227 I have kickstarted some discussions in the backend about our take on GlusterFS plugin forward. However I would like to officially take a survey/poll from couple of communities ( kubernetes and glusterfs) before we move on.  To take a feedback from kubernetes community, is there an official way of launching a Poll/Survey on deprecation of a plugin..etc? @saad-ali @jsafrane @msau42 @xing

[2021-04-14 06:15] anguslees commented on #100022
Sounds like we should use providerID (aka EC2 instance-id) as the node name...

[2021-04-14 06:32] amarts commented on #100897
Sure @humblec! Lets get a poll running in gluster mailing lists. We surely need to include heketi community (considering I see many users who only watches changes there, and not glusterfs) too. @phlogistonjohn @raghavendra-talur

[2021-04-14 06:39] Wenshiqi222 opened #101091 "How can I set the K8S container time zone in Version 1.20"
Since the release of Kuberentes Version 1.20， PodPreset which was used to set the time zone in the specific namespace has been removed , so now,how can i set time zones for a group of PODS as easily as PodPreset?

[2021-04-14 06:45] Wenshiqi222 commented on #101091
/sig API Machinery

[2021-04-14 06:58] Wenshiqi222 commented on #101091
/sig api-machinery

[2021-04-14 07:40] matthyx commented on #101064
Thanks for the quick fix @wzshiming

[2021-04-14 07:45] jprzychodzen commented on #101078
Sure, it happens on current K8s master branch - exact commit is `b0abe89ae259d5e891887414cb0e5f81c969c697`

* Kubernetes version (use kubectl version):
[code]
* Cloud provider or hardware configuration:
  K8s cluster running on GCE started with kubetest. 10 nodes with `--gcp-node-size=n1-standard-1` and with [preset-e2e-scalability-common](https://github.com/kubernetes/test- infra/blob/master/conf

[2021-04-14 08:13] pacoxu commented on #101091
/kind support
/sig apps
/sig service-catalog
/remove-sig api-machinery
/retitle How can I set the K8S container time zone in Version 1.20
PodPreset was removed in #94090 (1.8 added, 1.20 removed)

Some alternatives  can refer to https://github.com/kubernetes/kubernetes/issues/93900#issuecomment-774460034 \ https://github.com/kubernetes/kubernetes/issues/69640#issuecomment-675734553

[2021-04-14 08:51] wzshiming opened #101097 "staging/src/k8s.io/apiserver/pkg/server/filters Data race"
#### What happened:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101093/pull-kubernetes-unit/1382237738274656256

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `c

[2021-04-14 08:55] Jerry-Ge commented on #101087
@Huang-Wei @ahg-g @alculquicondor What do you guys think? Any comments? 😬

[2021-04-14 09:33] guanxingfeng commented on #97112
@pacoxu
I also encountered the problem of service access high availability when the node fails. The customer requires service failover within 3s after the node fails. I think it is not a good practice to adjust the parameters because it will bring more risks. Is there a better way? My current thoughts are:
1. Does kube-proxy have an active or passive health check for endpoints? It can check and re

[2021-04-14 09:33] guanxingfeng commented on #97112
@pacoxu
I also encountered the problem of service access high availability when the node fails. The customer requires service failover within 3s after the node fails. I think it is not a good practice to adjust the parameters because it will bring more risks. Is there a better way? My current thoughts are:
1. Does kube-proxy have an active or passive health check for endpoints? It can check and re

[2021-04-14 09:55] guanxingfeng opened #101101 "How to achieve failover within 3 seconds when accessing via service name (kube-proxy) When the node fails"
I  encountered the problem of service access high availability when the node fails. The customer requires service failover within 3s after the node fails. I think it is not a good practice to adjust the --node-monitor-grace-period and -–node-status-update-frequency parameters because it will bring more risks and cannot reach 3s. See related issue：
https://github.com/kubernetes/kubernetes/issues/74

[2021-04-14 09:57] guanxingfeng commented on #101101
This is a discussion topic, not a bug

[2021-04-14 10:33] pacoxu commented on #97112
1. Do you mean readiness probe（you can set smaller interval/timeout）
2. not familiar with istio😓

[2021-04-14 10:57] amorey commented on #100779
Are there any updates on this? It would be helpful to know what the triage timeline usually is. As a supplement here are screenshots of the steps to reproduce the problem (side-by-side browser windows are EC2/ELB/TargetGroup consoles):

Step 1: Healthy 3-node cluster
![step-1](https://user-images.githubusercontent.com/75881/114699333-d43dba80-9d28-11eb-82a1-5c75285ac187.jpeg)

Step 2: Terminate ma

[2021-04-14 11:08] youhonglian commented on #101008
/assign
test/conformance/testdata/ineligible_endpoints.yaml

[2021-04-14 13:09] JaikumarSelvaraj opened #101109 "How to Validate the Ingress resource and Validate the path"
#### What would you like to be added:

#### Why is this needed:

[2021-04-14 13:27] alculquicondor commented on #101087
I prefer we just fix #100613.

[2021-04-14 13:44] alculquicondor commented on #98434
cc @AliceZhang2016

[2021-04-14 14:44] bbroniewski commented on #45419
Hi all, be aware that component "runC" (1.0.0-rc93) of "containerd.io"  which is used by docker will give you PLEG issues and node flapping between ready and not ready. I hope noone else will loose a ton of hours to find out the problem :slightly_smiling_face:

[2021-04-14 15:13] neolit123 commented on #99305
we are starting to see reports about this every week.
@kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs

[2021-04-14 15:30] an-tex commented on #62156
you most likely have a typo in your `subPath` value. Random how kubernetes mounts an empty directory in case of a missing subPath instead of bailing out

[2021-04-14 15:31] indera-shsp commented on #72811
But the limit is not guaranteed to be reached if there are no resources available to the OS, so your pod might never scale even if there is a spike in resource needs - this might explain why this ticket will be never fixed.

[2021-04-14 15:40] jackfrancis commented on #101035
/assign

[2021-04-14 15:41] absynth76 commented on #65973
must have

[2021-04-14 15:53] leosantosazevedo opened #101117 "Error Stacked control plane and etcd nodes"
Failed add master in cluster multi master.
I following this document
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#set-up-the-etcd-cluster

#### Which jobs are failing:

These first node started my cluster

[kubelet-finalize] Updating "/etc/kubernetes/kubelet.conf" to point to a rotatable kubelet client certificate and key
[addons] Applied essential addon

[2021-04-14 16:11] #100096 closed

[2021-04-14 16:11] zshihang commented on #100344
looks like it is still failing due to the refactoring https://github.com/kubernetes/kubernetes/pull/99857

[2021-04-14 16:15] liggitt commented on #100344
/assign @wojtek-t

[2021-04-14 16:29] da-edra commented on #100096
Hi, do you know if this vulnerability can be exploited remotely?

[2021-04-14 17:34] alculquicondor commented on #99497
Proposal: add some features to the Indexed completion mode. Additionally to adding the completion index as a Pod annotation, the job controller would:
- Set the hostname to `$(job-name)-$(index)`. If the user adds a Service that matches the Job selector and set's the Pods' subdomain to the service name, then the control plane creates DNS records for the hostname. A pod in the job could refer to an

[2021-04-14 17:36] dims commented on #99305
cc @adisky

[2021-04-14 17:36] tallclair commented on #100096
@da-edra Anyone authorized to `update` or `patch` nodes can potentially exploit this. So yes, it can be exploited remotely with proper authorization.

[2021-04-14 17:38] da-edra commented on #100096
@tallclair thanks. :)

[2021-04-14 17:44] jingxu97 commented on #99305
cc @jingxu97

[2021-04-14 18:04] msau42 commented on #99305
From https://github.com/kubernetes/kubernetes/issues/99305#issuecomment-802805653 it sounds like the issue is kubeadm etcd ephemeral-storage requests are too big for some environments?

So far this is sounding like a kubeadm issue, not a kubernetes issue.

[2021-04-14 18:06] xiaobaitusi commented on #65973
Hi, we are working on it with schema design iteration. Will update this thread when we have more information. Thanks!

[2021-04-14 18:07] neolit123 commented on #99305
@msau42

it seems to be something else. i doubt that users are trying machines that don't satisfy 100Mi.
for example, the report in the OP points out that the machine has 40GB.

[2021-04-14 18:08] msau42 commented on #52617
I don't think we're ready. There's no replacement for it in the cloud controllers. The initial attempt at replacement using initializers was abandoned. I think we should consider a replacement using an admission webhook.

cc @mattcary

[2021-04-14 18:10] cheftako commented on #52617
Could I suggest we make this the primary topic in an upcoming meeting? Maybe April 22nd Cloud Provider Extraction WG meeting? Assuming @dims and @msau42 can make it?

[2021-04-14 18:14] Huang-Wei commented on #101087
I'm fine with warning the non-Score plugins specifying a weight. Also, which is a must-have, is to fix the issue reported in #100613 which incorrectly overwrites the Score plugin's weight.

[2021-04-14 18:58] ahg-g commented on #100711
/sig scalability
/remove-sig scheduling

[2021-04-14 19:32] johnbelamaric commented on #99497
That should work. My only concerns would be 1) the scale; and 2) the DNS programming latency. For very large jobs, with short-lived pods this would create a fair bit of churn and API server traffic on the endpointslice watches to CoreDNS (note that when using a headless service, there are no iptables rules programmed, IIRC, so that shouldn't be an issue). If the pods want to inter-communicate, the

[2021-04-14 19:33] johanfleury commented on #90311
/remove-lifecycle stale

[2021-04-14 19:33] mindlift commented on #99305
I can confirm that the VMs on which I installed k8s control plane components had sufficient disk space when I encountered the problem. I'm running Kubernetes v1.20.4 and kubeadm v1.20.4.

[2021-04-14 19:43] ahg-g commented on #99497
Thanks John, we could start with relying on a headless service, and then explore the option of having a watch on the jobs in the dns service. I think the implementation from the job controller perspective will not change: setting the hostname and subdomain on the job pods.

[2021-04-14 19:51] alculquicondor commented on #99497
Thanks @johnbelamaric! What you mention is inline with what we thought. On the flip side, the network programming is opt-in, as the user has to create the service and match the Pods' subdomain. We also expect that tightly coupled parallel Jobs wouldn't be very short lived.

We will call out lookup retries in the KEP and documentation. The only solution that wouldn't require DNS lookups is one that

[2021-04-14 19:57] jingxu97 commented on #99305
I think the root cause here https://github.com/kubernetes/kubernetes/issues/99305#issuecomment-794926298 sounds right. There is kind of race here. #99635 adding delay will help, but it does not have 100% guarantee. Not sure whether it is easy to add logic to make sure capacity is reported correctly before starting pods..

[2021-04-14 20:17] cheftako commented on #100846
/cc @andrewsykim @bowei @jpbetz @cheftako

[2021-04-14 20:18] cheftako commented on #100846
/sig network

[2021-04-14 20:33] kishorj commented on #100846
/cc @nckturner @M00nF1sh

[2021-04-14 20:42] neolit123 commented on #101117
hi, i don't see a bug in kubeadm here.
please try the support forums or #kubeadm on k8s slack first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-04-14 20:42] #101117 closed

[2021-04-14 20:43] neolit123 commented on #101109
please try the support forums first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-04-14 20:43] #101109 closed

[2021-04-14 20:44] neolit123 commented on #101101
please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-04-14 20:44] #101101 closed

[2021-04-14 20:45] neolit123 commented on #101097
/sig api-machinery

[2021-04-14 20:46] neolit123 commented on #101069
this is not a core k8s problem.
please try the support forums or discuss it with the Alpine maintainers.

for a k8s discussion use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-04-14 20:46] neolit123 commented on #101069
/close

[2021-04-14 20:47] #101069 closed

[2021-04-14 21:04] BenTheElder commented on #90311
there are outstanding questions about this https://github.com/kubernetes/kubernetes/pull/94448#issuecomment-721100759
@kubernetes/sig-security PTAL, I can lend some pointers to the build but I'd like more input on if this is desirable / worthwhile.

Some notes:
- https://groups.google.com/g/golang-nuts/c/Jd9tlNc6jUE
- buildmode=pie does not seem to be supported for all platforms even on linux, whi

[2021-04-14 21:08] msau42 commented on #99305
Did something change in 1.20 regarding the ordering of cadvisor and node startup?

[2021-04-14 21:58] xiaobaitusi commented on #101036
This looks totally correct with 1.21! Good to know that this issue is already fixed in 1.21.

Is there any plan to backfill the fix to 1.18, 1.19 and 1.20? Most of our customers are using GKE regular channel, so they will run into the issue with 1.18.

[2021-04-14 22:01] apelisse commented on #101036
If this is the fix that I have in mind (https://github.com/kubernetes-sigs/structured-merge-diff/pull/184), we have backported a fix to 1.19 and 1.20. We can maybe fix in 1.18 but that's a little more involved.

[2021-04-14 22:39] ehashman commented on #96981
/help

[2021-04-14 23:39] brycecr commented on #94275
Anecdotally, I think we started seeing something similar on HorizontalPodAutoscalers, specifically fields like `metrics[*].target.averageValue`. Is that the same issue?

[2021-04-14 23:44] mkimuram opened #101130 "Protect secret from deletion while it is in-use"
#### What would you like to be added:
Protect secret from deletion while it is in-use.
It could be a similar feature to pv-protection/pvc-protection.

#### Why is this needed:
In the current k8s implementation, secret can be deleted while it is still used by other resources.
This will cause such issues that volume is failed to delete because secret needed for delete the volume is deleted before vo

[2021-04-15 00:11] ehashman commented on #100918
@BenTheElder there are a lot of external things importing it: https://cs.k8s.io/?q=%22k8s.io%2Fkubernetes%2Fpkg%2Fssh%22&i=nope&files=&excludeFiles=&repos=

[2021-04-15 01:05] ahg-g commented on #97170
This is done. Alpha 1.21.

[2021-04-15 01:05] #97170 closed

[2021-04-15 02:17] Jerry-Ge commented on #101087
Cool! That's reasonable and will put the investigation on #100613 on the top priority.

[2021-04-15 03:13] learner0810 commented on #101008
/assign
CHANGELOG/CHANGELOG-1.8.md:1434

[2021-04-15 03:16] pacoxu commented on #99305
@jingxu97
If the reason would be a disk problem(or something we can figure out) and the delay can solve it, I think we should add a warning besides the delay.

[2021-04-15 03:25] #100371 closed

[2021-04-15 04:03] zq-david-wang commented on #72811
Guys, this is not a right or wrong issue,  I raise the issue because I feel  counter-intuitive to use request as a base for calculation,
The formula is quite clear, it makes no sense to argue which one is wrong-er....  @indera-shsp   using request as base for calculation would not make different,  you can set a value bigger than 100%

As for counter-intuitive, my reasoning is that request is hardl

[2021-04-15 04:47] indera-shsp commented on #72811
@zq-david-wang Can you please explain what you mean by `request is hardly observable during runtime`?

Request is the only measure respected at runtime by kubernetes.

[2021-04-15 05:11] jrcasso commented on #47862
Supporting UDP port-forwarding is important for testing custom DNS service changes locally. If you're running your own UDP-based DNS server in Kubernetes, you're going to have to test it another way.

[2021-04-15 05:17] zq-david-wang commented on #72811
Application's **runtime** starts **after** its request is "respected" by k8s  @indera-shsp (If k8s denies, the application just do not run)
You can observer application's cpu usage reach its limit, but how could you tell  where the request is? cpu share only take effect when a cpu core is saturated and it  happens per cpu core, meaning requesting 1cpu does not guarantee your  1 cpu resources.

The

[2021-04-15 05:31] indera-shsp commented on #72811
@zq-david-wang are you using any metrics? metrics can show what the actual usage is when the application runs
https://itnext.io/k8s-monitor-pod-cpu-and-memory-usage-with-prometheus-28eec6d84729

[2021-04-15 06:04] Jerry-Ge opened #101135 "Scheduler Code Deep Cleanup: Scheduler, genericScheduler, and SchedulerAlgorithm"
#### What would you like to be added:
Refactor the names of `Scheduler`, `SchedulerAlgorithm`, and `genericScheduler` to something like:
`Scheduler`, `SchedulerAlgorithm`, and`SchedulerAlgorithmImpl`

#### Why is this needed:
I was reading the scheduler framework code and found out very confusing when reading the `type Scheduler struct` and `type genericScheduler struct` ([link](https://github.com

[2021-04-15 06:04] Jerry-Ge commented on #101135
/sig scheduling

[2021-04-15 06:06] Jerry-Ge commented on #101135
@alculquicondor @Huang-Wei @chendave Appreciate any of your opinions :D

[2021-04-15 06:59] MartinKanters opened #101137 "Double dollar signs in a container's args or env section are incorrectly treated as escape characters"
#### What happened:
I'm trying to pass two dollar sign in the args or env fields of a pod, but they are reduced to one dollar sign.

#### What you expected to happen:
The two dollar signs should be propagated to the container.

#### How to reproduce it (as minimally and precisely as possible):
1. Apply this pod:
[code]
2. Check logs
[code]
#### Anything else we need to know?:
Kubernetes can [expan

[2021-04-15 07:05] aojea commented on #47862
DNS supports TCP too :)

[2021-04-15 07:06] harche commented on #99624
@pacoxu I am wondering if we should just update the documentation for `kubelet_running_pods` stating explicitly that the results may not always match with the `kubectl` due to differences between them in what they consider as a `running` pod. What do you think?

[2021-04-15 07:14] pacoxu commented on #99624
Agree.

Generally, metrics should be simple to calculate. The current logic makes sense from the runtime side.

Proposal 1: update the doc for `kubelet_running_pods`.
Proposal 2: rename it to something like `kubelet_starting_pods` or an accuracy name.
Proposal 3: make it the same meaning as `kubectl get pod`(which need some further calculation)

[2021-04-15 07:20] pacoxu commented on #101137
For env, see https://github.com/kubernetes/kubernetes/issues/75907#issuecomment-478179742

[2021-04-15 07:25] rouke-broersma commented on #101137
Hi @pacoxu

The docs do say that $$ can be used to escape vars, but in this case we are not using vars. ANY $$ is escaped to just $, which seems incorrect.

[2021-04-15 07:39] david99world commented on #101008
/assign
CHANGELOG/CHANGELOG-1.19.md@1274

[2021-04-15 07:45] david99world commented on #101008
/assign
CHANGELOG/CHANGELOG-1.14.md:943

[2021-04-15 08:17] harche commented on #99624
@pacoxu I think I will go with Proposal 1. The ideal thing would be Proposal 3, but I am afraid we might be underestimating the effort required. What do you think?

[2021-04-15 08:29] MG2R commented on #95942
/remove-lifecycle stale

This is still relevant.

[2021-04-15 08:32] zhanghe9702 commented on #101008
/assign
test/conformance/testdata/ineligible_endpoints.yaml:108,111

[2021-04-15 09:06] toshi0607 commented on #68078
Recently they added a note about how to configure Network Policy.

https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#limitations

[2021-04-15 09:34] L-JunSakai opened #101141 "At a certain time zone, Network I/O is very high"
#### What happened:
At a certain time zone on everyday, Network I/O is very high on master node

#### What you expected to happen:
I think that something is happening at a certain time zone.
I want to know the something

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud p

[2021-04-15 09:41] jrcasso commented on #47862
I'm well aware. Hence why I specified "UDP-based" 🙂

[2021-04-15 09:45] #101141 closed

[2021-04-15 09:45] baoervsdier opened #101143 "Encountered network problems when using shutdowngracefully"
We started a django project in the pod. When accessing http://apache/apitest, it will sleep for 20s and return the result. During the shutdowngracefully test, we found a problem. After we deleted the pod, we found that it took about 5s. Pod All internal network connections in the established state will also be disconnected. I understand that after setting shutdowngracefully, iptables will not affe

[2021-04-15 10:01] ingvagabund commented on #89178
/remove-lifecycle stale

[2021-04-15 11:08] pacoxu commented on #101143
/sig network
/kind support

`curl http://apache/apitest` means that you are using the service cluster IP.
`HTTP://<POD-IP>/apitest` may work as you expected.

[2021-04-15 11:35] #100344 closed

[2021-04-15 11:41] danwinship commented on #96717
I mean, someone could do a PR that fixed just that part of this issue, but I'd still like to be tracking the complete situation here

[2021-04-15 12:09] andyzhangx commented on #99061
this inline volume issue was fixed 1.18.18, 1.19.10, 1.20.6, 1.21.0, current workaround(specify `secretNamespace` in PV): https://docs.microsoft.com/en-us/azure/aks/azure-files-volume#mount-file-share-as-an-persistent-volume

[2021-04-15 12:52] dimitarKiryakov commented on #53459
+1 for this

[2021-04-15 13:13] Tolsto opened #101146 "Deleting a pod does not trigger the container preStop hooks"
#### What happened:

Deleting a pod via `kubectl delete pod [pod_name]` does not trigger the container preStop hooks.

#### What you expected to happen:

Execute preStop hooks when deleting a pod via kubectl.

#### How to reproduce it (as minimally and precisely as possible):

Delete a pod  via `kubectl delete pod [pod_name]`

#### Environment:
- Kubernetes version (use `kubectl version`): v1.19.6

[2021-04-15 13:17] alculquicondor commented on #101135
what @ahg-g and I have discussed before is entire getting rid of `SchedulerAlgorithm` and `genericScheduler`. IIRC, autoscaler used to use the `genericScheduler` to reuse scheduler code, but now it uses a `schedulerFramework`. So, with the existence of the scheduler framework, there is no need of 3 layers. Then, we should be merging whatever is in `genericScheduler` into the framework or `Schedule

[2021-04-15 13:37] #99061 closed

[2021-04-15 13:47] Tolsto commented on #101146
/sig apps

[2021-04-15 13:51] edwardgeorge opened #101148 "MissSchedule event will never be produced"
#### What happened:

No `MissSchedule` event produced when a cron schedule is missed due to `startingDeadlineSeconds`.

#### What you expected to happen:

When a `CronJob` schedule is missed because of `startingDeadlineSeconds` I would expect the `MissSchedule` event to be produced per this [PR](https://github.com/kubernetes/kubernetes/pull/62011) and the [code for the controller](https://github.c

[2021-04-15 13:59] rafilkmp3 commented on #63483
/reopen

[2021-04-15 13:59] edwardgeorge commented on #101148
/sig apps

[2021-04-15 14:19] ahg-g commented on #101135
Correct, we want to get rid of ScheduleAlgorithm and also refactor the code such that core/generic_scheduler.go and scheduler.go are merged and move whatever make sense to framework. Lots of code already moved out such as binding and preemption.

Looking at both those files, I don't think there is much we can move to the framework, so I think the next step is to work on merging them.

[2021-04-15 15:05] jayunit100 commented on #46287
im pretty sure this is a "wont fix" for the existing kube-proxy because, allowing hot-reload can potenitally break people who *expect* that config changes *will not* result in a reload of configuration.... can someone confirm or deny this ?

[2021-04-15 15:06] jayunit100 commented on #46287
ive added an agenda item to https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit to decide on how to handle hot reload issues, theres lots of them i.e. https://github.com/kubernetes/kubernetes/issues/57144

[2021-04-15 15:09] jayunit100 commented on #23864
@prameshj hi !!!! we  have a kube-proxy working group now since theres so much stuff going on related to this ... do you want to hang out tomorrow and talk about this work, maybe how we can help if at all ?

[2021-04-15 15:17] cormachogan opened #101153 "Migrating In-tree to CSI results in failed to attach: exceeds size limit: VolumeId: max=128, size=132"
#### What happened:

I wanted to test the new CSI migration feature. I followed the [vSphere CSI migration setup instructions](https://vsphere-csi-driver.sigs.k8s.io/features/vsphere_csi_migration.html) but after completing the steps, Pods that were previously using in-tree vSphere Cloud Provider would not come online. There were failing with the error:

[code]

#### What you expected to happen:

[2021-04-15 15:18] cormachogan commented on #101153
/cc @divyenpatel

[2021-04-15 17:24] Huang-Wei commented on #101135
It makes sense to eliminate `ScheduleAlgorithm`. Additionally, we can use this chance to do a deep cleanup of `Scheduler`. For example, function `NextPod()` is basically equivalent to the embedded SchedulingQueue's Pop(), and hence not quite needed to be part of `Scheduler`.

[2021-04-15 18:03] cormachogan commented on #101153
/Sig Storage

[2021-04-15 18:22] s1113950 commented on #101045
Can confirm that after I applied the patch from https://github.com/kubernetes/kubernetes/pull/100013 the panics went away

[2021-04-15 19:45] champak commented on #17512
In case folks are still listening in on this issue...Has anyone attempted using the standard resource usage apis like getrusage() for sw running inside containers/pods(). For cpu stats it does not seem that it will far off from what the node level cgroup would have to report.

mem stats seem more problematic. Unclear whether say /sys/fs/crgoup/memory/<> from inside a container really reflects memo

[2021-04-15 20:03] fedebongio commented on #101036
/triage accepted
/assign @apelisse @kevindelgado

[2021-04-15 20:04] fedebongio commented on #101044
It sounds more like sig node
/remove-sig api-machinery

[2021-04-15 20:05] fedebongio commented on #101045
ttl_controller belongs to SIG Apps
/remove-sig api-machinery
/sig apps
/cc @janetkuo

[2021-04-15 20:06] fedebongio commented on #101052
/remove-sig api-machinery
/sig node auth

[2021-04-15 20:08] fedebongio commented on #101078
/assign @yliaog
/cc @caesarxuchao @leilajal
/triage accepted

[2021-04-15 20:18] fedebongio commented on #101097
/cc @caesarxuchao

[2021-04-15 20:22] thockin commented on #101143
Hi, I'm having a hard time following exactly what you are reporting, and what you expect to happen.  Can you help us understand?  With the lifecycle hooks and multiple screencaps, it is hard to follow.

Is there a minimized reproduction?

I see empirically that `httpd` exits when SIGTERM is received, which is going to cause connection-draining to break.

[2021-04-15 20:28] thockin commented on #101062
This is correct.  The model also says:

"For those platforms that support Pods running in the host network (e.g. Linux): pods in the host network of a node can communicate with all pods on all nodes without NAT"

I believe that Windows host network is not supported, right?

[2021-04-15 20:33] thockin commented on #101029
I don't know what the implications for making it atomic would be, but that seems like the "complete" answer.  Is that safe to change?

[2021-04-15 20:33] thockin commented on #101029
IOW: if I change that and I have existing clients, what happens?

[2021-04-15 20:36] thockin commented on #101017
It depends on the DNS resolver in the client.  What conatiner image are you using to do these queries?  I can't repro it with `ubuntu`, for example.

[2021-04-15 20:36] #101017 closed

[2021-04-15 20:43] thockin commented on #100925
This might be worth a bug of its own.  Maybe we need a way to handle that at L4?

Maybe IPVS proxier needs to install iptables rules to REJECT packets in this case?

[2021-04-15 20:43] yliaog commented on #101078
i think this is the same issue as reported in https://github.com/kubernetes/kubernetes/issues/90597

[2021-04-15 20:46] prameshj commented on #98570
I am leaning towards closing this issue. @ns-jisorce any objections?

[2021-04-15 20:46] prameshj commented on #99712
Any updates on this?

[2021-04-15 20:51] serathius commented on #101045
/assign

[2021-04-15 20:55] thockin commented on #100895
We have very limited OS support, so validating the OSes should be simple enough, but this is fundamentally a breaking change.

We'll could start to disallow it on writes to those fields but we HAVE to respect it on update operations that don't mutate the IP value.  But even that is a breaking change.  Somewhere, someone has a production system that works today which will break after we make this c

[2021-04-15 21:00] claudiubelu commented on #101062
Right, and there are specific tests that checks that exact scenario you've mentioned:

[code]

However, the flaky tests I've mentioned in the issue require kubelet to be able to dial-in into a webserver pod for a different pod's poststart / prestop HTTP lifecycle hooks. There are couple of things regarding this:

1. First of all, in order to ensure kubelet would be able to run the HTTP lifecycle h

[2021-04-15 21:02] jayunit100 commented on #98994
i think we can leave this open for now... its just hanging ... will be a long tail issue

[2021-04-15 21:02] aojea commented on #101062
oh, I missed that part, so in Linux kubelet must be able to communicate with pods on all nodes (becuase it is running in the hostnetwork)

If that is correct, it seems that one solution is to keep the test for Linux  and tag it as LinuxOnly, and a new test for WindowsOnly that only spawn the pods under test in the same node

[2021-04-15 21:02] thockin commented on #100781
Can you be more precise about the firewall rule you installed?\

[2021-04-15 21:13] thockin commented on #100890
/triage accepted

[2021-04-15 21:13] dcbw commented on #96018
While I think it was good to keep this bug open to debug/track the problem, I think we can close it now since the fixes are in nftables/iptables and are under review or already merged.
/close

[2021-04-15 21:14] #96018 closed

[2021-04-15 21:14] thockin commented on #100870
/triage accepted

[2021-04-15 21:14] uablrek commented on #100925
/triage accepted

[2021-04-15 21:23] dcbw commented on #100648
@thockin it's a bug in dockershim technically; but given this has existed since the beginning of time, and dockershim is going away. Also making sure kubelet upgrades do the right thing with already running could be error-prone. I'm not sure it's worth solving?

[2021-04-15 21:36] apelisse commented on #101029
Multiple things to mention.

This list is not atomic because of `patchStrategy=merge` which is interpreted by server-side apply as `listType=map`. What I'm actually suggesting would be to remove `patchStrategy=merge`, which is by default interpreted by SSA as `listType=atomic`.

We are in the process of [documenting](https://deploy-preview-27379--kubernetes-io-master-staging.netlify.app/docs/refer

[2021-04-15 21:39] aojea commented on #101029
/cc @danwinship
he fixed the previous problem with the node statusa ddresses and was the author of the comment mentioned in https://github.com/kubernetes/kubernetes/issues/101029#issuecomment-819211711

[2021-04-15 21:44] jsturtevant commented on #98492
another failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101047/pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim/1382743018188050432

[2021-04-15 22:20] hanlins commented on #98302
As discussed in the sig-network meeting today, we will deprecate those noop flags that got overwritten by `--config`. Discussed with other folks working on this, and our long-term goal should be promoting https://github.com/kubernetes/enhancements/pull/1439 and keep only `--config` and `--instance-config`.
/cc @knabben @dougsland @jayunit100

[2021-04-15 22:35] ehashman commented on #96981
/remove-kind bug
/kind feature

I think the best way to implement this would be to add a configuration option to the kubelet that limits what information is included in CSRs (e.g. node hostname/FQDN only, specific IPs).

[2021-04-15 22:37] apelisse commented on #94275
Yeah, they are using `Quantity`. Actually, this has been fixed in https://github.com/kubernetes/kube-openapi/pull/221 but I think we completely forgot to integrate this in kubernetes :-( Doing that now.

[2021-04-15 22:44] apelisse commented on #94275
Actually, I was wrong, it's been merged in kubernetes as part of #99817. This is fixed in 1.22.

[2021-04-15 22:44] #94275 closed

[2021-04-15 22:55] infa-anisrini opened #101165 "kube-proxy forwarding traffic to node that is being terminated"
What happened:

While EKS worker node upgrade, we typically have add new set of worker nodes with upgraded AMI version and we start cordoning and draining the old set of worker node , so eventually all pods gets evicted and terminated from the older nodes gracefully and start up on new nodes. During this operation, we see few application pods get 502 error. (We have enough replicasets and pdbs in

[2021-04-15 23:03] erismaster opened #101167 "Unexpected Pods (system-node-critical) Evicted During Ephemeral-Storage Pressure"
#### What happened: During an Ephemeral-Storage pressure situation, critical pods like Calico and kube-proxy were evicted to free the pressure.

#### What you expected to happen: Pods with system-node-critical priorityClass should not evict before lower-priority pods.

#### How to reproduce it (as minimally and precisely as possible): Have a pod write a lot of data to the writeable runtime layer u

[2021-04-15 23:03] erismaster commented on #101167
/sig node

[2021-04-15 23:03] caseydavenport commented on #101143
If I understand correctly, yes - the expectation is that applications will have an opportunity to gracefully shutdown any connections. However, it is up to the application itself to do so upon receiving the signal.

Networking should continue to function throughout the termination grace period. What does your cluster use for networking and network policy?

[2021-04-15 23:03] erismaster commented on #101167
/assign @dashpole

[2021-04-15 23:27] fedebongio commented on #101097
/triage accepted

[2021-04-15 23:32] thockin commented on #101062
For the purposes of testing, I don't mind forcing the pods onto the same node., but let's document the heck out of that at the code-site?

[2021-04-15 23:33] jeremyje opened #101169 "GCE Windows VMs cannot install Kubernetes if they use cloud-platform scope."
#### What happened:
If GCE Windows VMs are created with `cloud-platform` API scope the download GCS code will not insert the bearer token when fetching artifacts.
This means that private builds of Kubernetes won't download.

#### What you expected to happen:
GCE Windows VMs should pull Kubernetes from GCS if cloud-platform scope is set on the VMs service account credentials.

#### How to reproduce

[2021-04-15 23:33] jeremyje commented on #101169
/assign me

[2021-04-15 23:33] jeremyje commented on #101169
/assign jeremyje

[2021-04-15 23:37] dims commented on #83094
/reopen

[2021-04-15 23:57] ivorscott commented on #70732
This is still an issue. I have an initContainers container making use of a private image migration. With in containers I have a public image. Even with imagePullSecrets specified it doesn't work. I have a hunch that if the images are public in the pod template than the imagePullSecrets won't even be used.

[2021-04-15 23:59] mauriciopoppe opened #101172 "Add sync to the windows node for storage E2E tests"
#### What would you like to be added:

We'd like to add https://docs.microsoft.com/en-us/sysinternals/downloads/sync to the windows nodes

#### Why is this needed:

Discussed in https://github.com/kubernetes/kubernetes/pull/100377#discussion_r614367327, some storage e2e tests need the `sync` call to flush data to disk, this utility is not available in windows nodes or agnhost

/sig storage
/sig te

[2021-04-16 00:00] mauriciopoppe commented on #101172
/sig testing

[2021-04-16 00:06] mauriciopoppe commented on #101172
/sig storage
/kind flake

[2021-04-16 00:25] #96620 closed

[2021-04-16 00:44] #101169 closed

[2021-04-16 00:51] SergeyKanzhelev commented on #95030
/close

there is no use of this flag any longer: https://github.com/search?q=org%3Akubernetes+experimental-mounter-path&type=code

[2021-04-16 00:51] #95030 closed

[2021-04-16 01:30] Jerry-Ge commented on #101135
/assign

[2021-04-16 01:32] Jerry-Ge commented on #101135
Great! thanks, guys and I will start this mission with some incremental PRs.

[2021-04-16 02:49] pacoxu commented on #101153
/sig storage
Same error as https://github.com/container-storage-interface/spec/issues/350#issuecomment-466271722
There is a length limitation that node mount paths exceed the 128 character limit.
/cc @Jiawei0227

[2021-04-16 03:06] baoervsdier commented on #101143
Our network environment is like this, the flannel network and iptables forwarding rules used, and istio envoy proxy

[2021-04-16 03:07] baoervsdier commented on #101143
Our network environment is like this, the flannel network and iptables forwarding rules used, and istio envoy proxy

[2021-04-16 03:12] baoervsdier commented on #101143
I understand that the use of lifecycle hooks will not affect the established connection status when the pod is deleted. However, from the test point of view, the established connection is also affected.

[2021-04-16 03:15] thockin commented on #101143
There are a lot of moving parts there - can you strip out pieces to
simplify?  E.g. take out Istio ?

On Thu, Apr 15, 2021, 8:12 PM baoervsdier ***@***.***> wrote:

[2021-04-16 03:17] thockin commented on #101029
I wonder if service ports (which also fail patch) could get the same
treatment?

On Thu, Apr 15, 2021, 2:36 PM Antoine Pelisse ***@***.***>
wrote:

[2021-04-16 03:24] baoervsdier commented on #101143
K8s services are all accessed by svc, and tested in the form of podip. I feel that it is meaningless for application scenarios.

[2021-04-16 03:25] apelisse commented on #101029
We've made [service ports use both port number and protocol as the key](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L4082-L4089)

[2021-04-16 03:37] vaibhav2107 commented on #94404
/assign

[2021-04-16 03:45] ahg-g commented on #101135
Please send a plan before start sending PRs; it could be as simple as a checkbox task list in this issue of what you are planing to change/move.

[2021-04-16 03:45] CaoDonghui123 commented on #101146
it is right in v1.21.0

[2021-04-16 03:55] thockin commented on #101029
That's just SSA, not legacy patch, right?

On Thu, Apr 15, 2021, 8:25 PM Antoine Pelisse ***@***.***>
wrote:

[2021-04-16 03:56] apelisse commented on #101029
Yeah, SSA would read `listType`, SMP uses `patchStrategy`

[2021-04-16 05:25] #96506 closed

[2021-04-16 05:25] #92864 closed

[2021-04-16 05:32] KIVagant commented on #54482
I found an interesting nuance. I see that the issue was created in 2017. But I faced the issue with the hostname only in EKS 1.19 when I removed `--cloud-provider=aws` from kubelet when I saw the message in logs:
[code]

When I returned the argument back, the node successfully joined the cluster even though its hostname is actually different from EC2 private DNS name. Of course, I still see someth

[2021-04-16 05:57] thockin commented on #101029
And there was no way to do compound keys in SMP, right?

On Thu, Apr 15, 2021, 8:56 PM Antoine Pelisse ***@***.***>
wrote:

[2021-04-16 07:40] chendave opened #101182 "e2e storage failed to run on ARM64, ppc64le"
#### What happened:
Take one e2e testcase as an example,
[code]

throw below exception in the corresponding pod,
[code]

#### What you expected to happen:
testcase pass on ARM64, ppc64le etc.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware

[2021-04-16 07:40] chendave commented on #101182
/sig testing

[2021-04-16 07:41] chendave commented on #101182
/assign

[2021-04-16 08:08] cormachogan commented on #101153
A quick update to say that if I reduce the length of my vSphere datastore name, and the full path to the volume is only 124 characters, then the VCP->CSI migration process now works as expected. I think we need to bump up the number of character count supported in the volume path though. I'm sure many others will hit this issue once CSI migration is fully available.

(works)
    VolumePath:

[2021-04-16 08:11] vaibhav2107 commented on #94404
Hi @adtac
Can you help me in why its not assigning the values to createNodes and createPods directly and using the opcode and countParam in performance-config.yaml.

[2021-04-16 08:25] #95322 closed

[2021-04-16 08:44] Jerry-Ge commented on #101135
### I am planning to do this job architecturally in the following three phases (PRs).

| ID      | Status      | Description | Comments     |  Related PR
| :---:  | :---:           |    :---            |          :---        | :---              |
| 1        |     :x:             | Remove all the unreferenced functions in generic_scheduler.go             | Shouldn't have any sideffects     |
| 2

[2021-04-16 08:44] povsister commented on #72881
I think this is designed behavior.

By default, kubelet only enforces `pods` allocatable. It sets `cpu.shares=<nodeCapacity> - <systemReserved> - <kubeReserved> - <hardEvictionThreshold>` and `memory.limit_in_bytes=<same as cpu.shares>` for `<cgroupRoot>/kubepods` (cgroupfs driver) or `<cgroupRoot>/kubepods.slice` (systemd driver).

Let's have an example:

Config kubelet as following. We reserve s

[2021-04-16 08:47] djboris9 commented on #100962
Thanks @jsturtevant for the hint. This VIP originates from https://github.com/kubernetes-sigs/sig-windows-tools/blob/v0.1.5/kubeadm/kube-proxy/kube-proxy.yml#L42 but I will try to replace it with a valid address.

I wasn't aware there is a https://github.com/microsoft/SDN repository with kube-proxy installation routines. Which repository is recommended for setting up windows kubelets or where is t

[2021-04-16 08:58] jsafrane opened #101185 "Generic Ephemeral Volumes do not work with OwnerReferencesPermissionEnforcement admission plugin"
#### What happened:
This test fails when OwnerReferencesPermissionEnforcement admission plugin is enabled:

`[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Generic Ephemeral-volume (default fs) (late-binding)] ephemeral should create read/write inline ephemeral volume`

After the test creates a pod with an ephemeral volume, ephemeral volume controller in kube-controller-manager fai

[2021-04-16 08:59] jsafrane commented on #101185
/sig storage
/triage accepted
/priority important-soon

[2021-04-16 09:02] Apokalypser commented on #74551
I have the same problem pushing to a port-forwarded registry on a bare-metal Kubernetes cluster. Letting kubectl choose the local port seems to work around it.
@xkortex You need to execute curl http://localhost:46691 after using that workaround ;-)

[2021-04-16 09:08] wzshiming commented on #101143
I think it may be caused by the Sidecar closing before the main container.
Can you filed the pod yaml?

[2021-04-16 09:21] wzshiming commented on #101143
Can you enter the Sidecar container and execute `kill -15 1` ?

[2021-04-16 09:41] wzshiming commented on #101143
/remove-sig network

[2021-04-16 09:53] ns-jisorce commented on #98570
Feel free to close. I still think this delay is anormal but I am not blocked on this as I am not doing it this way anymore. Also this was only reproducible in GKE. Thanks!

[2021-04-16 09:56] wojtek-t commented on #100891
I opened https://github.com/kubernetes/enhancements/pull/2632 .
Let's continue the discussion on the KEP.

[2021-04-16 09:57] povsister opened #101189 "kubelet sometimes does not treat "systemReservedCgroup" and "kubeReservedCgroup" as fully qualified name"
#### What happened:
Kubelet does not use the expected cgroup defined in `systemReservedCgroup` and `kubeReservedCgroup` when cgroup driver is set to systemd.
This always happen when cgroup path contains "-".

Here is key configuration
[code]

Get a kubelet startup failure. with `loglevel=4`, we can see that the kubelet is mishandling the explicitly defined `kubeReservedCgroup`.

<pre>
Apr 16 11:01

[2021-04-16 09:59] povsister commented on #101189
/sig node
/area kubelet

[2021-04-16 10:09] WoLpH commented on #83026
/reopen
/remote-lifecycle rotten

[2021-04-16 10:13] aojea commented on #98570
As a quick note for people that jump into this issue, kube-proxy expose 2 metrics that may be useful to debug these problems

* network_programming_duration_seconds, this measure the time since the endpoint was created until the rules are synced
* sync_proxy_rules_duration_seconds, this measure the time to sync the rules

![image](https://user-images.githubusercontent.com/6450081/115009958-23145d0

[2021-04-16 10:56] baoervsdier commented on #101143
After removing the istio injection, it is fine. I checked some information. It seems that the order of the istio sidecar and k8s start and stop sequence is not yet compatible. Maybe the istio envoy container was deleted first when the pod was deleted.

[2021-04-16 10:57] baoervsdier commented on #101143
The modified istio injection template has taken effect, thanks

[2021-04-16 11:01] sftim commented on #101167
I'm not sure that this is a _bug_. My understanding is that eviction and scheduling have been implemented separately: the node (usually the `kubelet`) makes eviction decisions, whilst a scheduler (usually `kube-scheduler`) makes scheduling decisions. If a Pod is evicted, PodPriority helps the scheduler choose where to put its **replacement**.

Eviction is different from preemption. If the schedule

[2021-04-16 11:06] youhonglian commented on #101008
Sorry, already assigned

[2021-04-16 11:27] felschr commented on #76570
Hitting this issue, too. It maxes out our nodes & causes any new/updated workload to be unschedulable.

[2021-04-16 12:03] DarrienG commented on #76570
Reopened!

[2021-04-16 12:28] #89820 closed

[2021-04-16 12:28] #96560 closed

[2021-04-16 12:30] povsister commented on #101189
/auto-cc

[2021-04-16 12:41] pravarag commented on #90402
@alculquicondor I've created a draft PR with in-progress items and further discussions. I'll continue to collect more `resourceRequest` logic (currently I've added only two) and will seek your guidance as well for the same.

[2021-04-16 12:45] JnMik commented on #54648
I think it would really be a must for a pod to be able to restart itself on a container failure, in some scenarios.
Simply because more and more kubernetes apps (vault, linkerd, istio, etc) uses sidecar containers, and if the core of these engines was not up and running when the application boot, the admission controller won't inject the sidecar probably, therefore the container will probably fail

[2021-04-16 12:47] neolit123 commented on #99305
We need to figure out what triggers the race condition. This only happens on some machines. I have not seen this myself.

[2021-04-16 12:48] alculquicondor commented on #101135
Perhaps you can split 2 in more than one PR

[2021-04-16 12:55] andyzhangx commented on #98492
already fixed by https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/794

[2021-04-16 12:58] JnMik commented on #40908
I'm still hoping for this feature one day.
I found another issue that is kinda related to this discussion : https://github.com/kubernetes/kubernetes/issues/54648

When an organization use third party apps that inject sidecar containers (like vault, linkerd, istio, etc), if the organization application has an "hard dependency" on it, and fails if it not present, then it's a must to have something l

[2021-04-16 13:24] andyzhangx commented on #99342
actually azure file driver(smb protocol) does not work on Windows containerd either,
just type `/test pull-kubernetes-e2e-aks-engine-azure-file-windows-containerd` in k/k PR, you will get test failures:

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100297/pull-kubernetes-e2e-aks-engine-azure-file-windows-containerd/1383035484594245632

[2021-04-16 13:28] dashpole commented on #101167
The kubelet [takes priority into account](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/helpers.go#L640) when evicting pods today, so this is likely a bug

[2021-04-16 13:29] #96633 closed

[2021-04-16 13:32] neolit123 commented on #101165
/remove-kind bug
(until confirmed by the owners)

/sig network
/kind support

[2021-04-16 13:32] dashpole commented on #101167
Confirmed that this was the behavior in 1.16.15 as well: https://github.com/kubernetes/kubernetes/blob/v1.16.15/pkg/kubelet/eviction/helpers.go#L656

[2021-04-16 13:33] neolit123 commented on #101165
it is always best to contact the provider support first (in this case EKS), before opening an upstream issue.

[2021-04-16 13:35] neolit123 commented on #101137
/sig api-machinery

[2021-04-16 13:42] eggsbenjamin commented on #77058
/remove-lifecycle rotten

[2021-04-16 13:51] mkreidenweis-schulmngr commented on #92460
No idea what's going on. Maybe this info can help with repro somehow though: Right before the many "context canceled" there's an "invalid bearer token" in our case:
[code]

Afterwards everything looks fine again. Still triggers an alarm though for us, because this seems to cause lots of 500 errors in the API, which we see through this Prometheus metric, which increases by approximately the amount

[2021-04-16 13:57] dashpole commented on #101167
I suspect this is the reason why it was evicted, although I wouldn't necessarily change that.

The ranking algorithm is:

1. Prioritize evicting pods where (Usage > requests)
2. Prioritize evicting the lowest priority pods
3. Prioritize evicting pods with the largest Usage - Requests (absolute).

Since kubernetes doesn't overcommit resources, we know that `sum(requests) over all pods < total disk

[2021-04-16 14:03] desponda commented on #101167
@dashpole I think that doesn't match with what the kubernetes documentation states here: https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods, specifically the part on:

` If the kubelet is responding to lack of available disk, it ranks Pods within a quality of service that consumes the largest amount of disk and kills those first.`

After reading through the

[2021-04-16 14:07] sftim commented on #101167
BTW if this is specifically a documentation issue, the best place to flag it is at https://github.com/kubernetes/website

[2021-04-16 14:08] sftim commented on #101167
Thanks @dashpole

[2021-04-16 14:10] erismaster commented on #101167
@dashpole I think its worth mentioning that k8s-jumpbox _does_ has ephemeral-storage limit and request set, while calico does not. So we had 1 pod that had ephemeral-storage get evicted before the ones we know do not.

[2021-04-16 14:10] erismaster commented on #101167
I suspect that ultimately thats what we may have here. I'd be happy to take a stab at clarifying the docs.

[2021-04-16 14:11] knowings commented on #7890
@pre nice job ! It work as explained. I'm still concerned about using root as user. I tried with the following securityContext:

[code]

Then the `sshfs` command failed with the following message: `fusermount: could not determine username`.

I guess it failed because no user with such id exists. But should he be created in the pod or in the node ? Or is it totally something else ?

[2021-04-16 14:15] dashpole commented on #101167
Yeah, my theory was that k8s-jumpbox's usage was more than its request.  Are request and limit the same, or is limit higher?

[2021-04-16 14:16] rdxmb commented on #101056
same problem here:

`drei   NotReady                   <none>                 197d   v1.20.5   10.139.0.93   <none>        Ubuntu 20.04.2 LTS   5.4.0-70-generic   docker://19.3.14`

[code]

[2021-04-16 14:19] erismaster commented on #101167
The are different - Request is 256Mi (defaulted from limit-range), limit is 32Gi (again, defaulted from limit-range). That was my theory as well, so seems we independently agree on why this was evicted first.

Am I reading this correctly that pods with a higher priority (derived from priorityClass) would be evicted _before_ pods with a lower priority? That feels backwards to me, as a cluster opera

[2021-04-16 14:21] dashpole commented on #101167
No, I meant calico and KP were less likely to be evicted than jumpbox

[2021-04-16 14:24] pre commented on #7890
This error comes from inside the container where you have `fusermount` command running. Add an entry to `/etc/passwd` and `/etc/group` for the uid & gid `1000` which you have defined in your securityContext.

[2021-04-16 14:26] aojea opened #101196 "[Failing Test] AzureDisk CSI Driver End-to-End Tests: Pre-Provisioned [single-az] should create an inline volume by in-tree driver"
#### Which jobs are failing:

pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim

#### Which test(s) are failing:

AzureDisk CSI Driver End-to-End Tests: Pre-Provisioned [single-az] should create an inline volume by in-tree driver [kubernetes.io/azure-disk]

#### Since when has it been failing:

It seems the test start to run on that job on 14/4

#### Testgrid link:

https://testgrid.k8s

[2021-04-16 14:26] aojea commented on #101196
/priority important-soon
/sig testing
/sig windows

[2021-04-16 14:32] erismaster commented on #101167
Okay so to summarize, we are thinking that there is no bug, maybe documentation could clarify that QoS is _not_ used and that the following decision tree is what is used:
[code]
for eviction decisions.

I think what's really confusing in the docs is that it's using the terminology from QoS (`BestEffort`, `Burstable`, and `Guaranteed`) while thats not really the case.

Guaranteed pods and Burstable

[2021-04-16 14:36] dashpole commented on #101167
Yes.  In theory, you could _never_ write a log line or touch any file, and you'd be able to not violate, but that's probably not worth mentioning.

[2021-04-16 14:39] fgiloux commented on #72881
@povsister I agree with most of what you wrote except that:
 [root@linux ~]# cat /sys/fs/cgroup/cpu/kubepods.slice/cpu.shares
7168 # 7 cpu cores

These are not 7 cpu cores. They are shares. In your example the node has 8 cores. How much you get out of these 8 cores under contention is depending on the configuration of the other slices at the same level. Let say you have 1024 in system.slice and 10

[2021-04-16 14:41] erismaster commented on #101167
Okay I'll work on a docs update, hopefully be able to get a PR up today - do you want to be cc'd on that one @dashpole?

Regarding this issue, I think we're safe to close it (Or I can leave this open until the docs PR is up?)

Appreciate the helpful and quick triaging @dashpole and @sftim!

[2021-04-16 14:47] liggitt commented on #99957
GCE job starts a cluster now in https://github.com/kubernetes/kubernetes/pull/99840 and is blocked on this

/priority important-soon

[2021-04-16 14:58] povsister commented on #72881
Thanks for reminding me with nice examples. I know exactly what you want to explain: They are shares calculated in relative percentage of the same level.
Sorry I just forgot that when I am rushing to submit another issue #101189

Looks like there are still lots of room to improve current implemented node allocatable calculation😄

[2021-04-16 15:13] knowings commented on #7890
I managed to create `nonroot` user and group with the given uid and gid and it worked great. Now I've to limit the CAP_SYS_ADMIN. I'll have a look at suggested seccomp profile.

[2021-04-16 15:15] Nick-Triller commented on #101079
Hi, I would like to start contributing to Kubernetes. Can I take a stab at this issue if you decide it's something that should be implemented?

[2021-04-16 15:20] ahg-g commented on #7890
I stumbled upon this related blog post: https://kinvolk.io/blog/2020/12/improving-kubernetes-and-container-security-with-user-namespaces/

Requires user namespaces, which we don't yet have in k8s.

[2021-04-16 15:56] JocelynBerrendonner commented on #100962
Hi Folks,

James is correct, the logic to reserve the source VIP is broken and was silently causing issues in Windows prior to 2004. The issue was made explicit in Windows 2004.

The correct way to reserving a source VIP (and avoid any issue in the HNS IPAM) is to get Kube-Proxy to create an endpoint in HNS and use the IP given to that endpoint as a source VIP. Kube-Proxy doesn't support that patt

[2021-04-16 16:29] apelisse commented on #101029
Updating SMP is always complicated and has been generally abandoned. In that specific case, I don't think we would benefit a lot to be honest. The list is mostly small, it can easily be replaced, no?

[2021-04-16 16:54] enj commented on #93699
/assign

I need to break down the different pieces of work required to fix this.

[2021-04-16 17:10] liggitt commented on #86715
Without more information, this isn't actionable. It is possible for the startup hook to fail if it takes too long to create the bootstrap roles.

If this is encountered, please provide the output of `kubectl get --raw /healthz/poststarthook/rbac/bootstrap-roles` as well to get published details about the cause of the failure, and the content of the API server log to get internal details about the

[2021-04-16 17:10] #86715 closed

[2021-04-16 17:31] thockin commented on #99425
There are layers to the question.  Yes it is valid in concept (that's why we added it) but is it the best possible implementation?  Doubtful.  If we were presented with this as a net-new idea, would we merge it?  I doubt that.  We'd probably suggest something like a sidecar which does the external query and then reports back as a "normal" probe.

To your (1) I think the best we can do is shut the

[2021-04-16 17:34] marosset commented on #99342
Azure file was working w/ containerd on Windows at some point :(

Looks like azure disk w/ dockershim on Windows is also failing tests regularly too
https://testgrid.k8s.io/sig-windows-presubmit#pull-kubernetes-e2e-aks-engine-azure-disk-windows-dockershim

[2021-04-16 17:35] liggitt commented on #100844
resolved by #100678

/sig node api-machinery
/remove-sig auth

[2021-04-16 17:35] liggitt commented on #100391
/remove-sig auth

[2021-04-16 17:35] liggitt commented on #100258
/remove-sig auth

[2021-04-16 17:36] liggitt commented on #98877
/close

[2021-04-16 17:36] #98877 closed

[2021-04-16 17:57] Sabyasachi2k opened #101199 "Kubectl kustomize conundrum"
So we are using kustomize to patch a yaml file and with kubectl version 1.20.0 it works fine . the moment we use with kubectl 1.21 it gives the error

command executed
kubectl kustomize > test.yaml

[code]
here is are all the files
resource.yaml
[code]
patch.yaml
[code]
here is the kustomization file
kustomization.yaml
[code]

Has something changed? Or are we totally off

[2021-04-16 17:59] lavalamp commented on #100844
I don't agree that this is resolved. That's an overly permissive bandaid to get around the lack of a specific user.

/sig auth
/remove-sig api-machinery

[2021-04-16 18:20] thockin commented on #100643
There are good comments here, which I think I agree with overall.

If you don't trust your users to use arbitrary hostPorts, you should be controlling that via policy.  But we don't have a good way to do policy "in the box".

The current checks we have for nodePorts are pretty pointless, since we capture the ports anyway, and we know ~nobody looks at logs unless something goes wrong.

The current

[2021-04-16 18:27] thockin commented on #100309
It's not clear to me why this is important enough to carry yet another config option for.  Aside from that, this is actually the purvey of each CRI impl (CNI is an implementation detail), so I don't think there's anything we want to do here.  Please feel free to reopen if there's new information.

[2021-04-16 18:27] #100309 closed

[2021-04-16 18:34] #96634 closed

[2021-04-16 18:46] jsturtevant commented on #101196
/cc @andyzhangx

[2021-04-16 18:59] thockin commented on #101029
Yes - I am confused now on all the tags.  If I wanted to switch `Ports
[]ServicePort` from merge to atomic, is that a "safe" change?

On Fri, Apr 16, 2021 at 9:29 AM Antoine Pelisse ***@***.***>
wrote:

[2021-04-16 19:09] MikeCongdon1 commented on #13358
EndpointSlice doesn't work for me (I'm trying to access the local server / baremetal running a mariadb instance).

[code]
doesn't work
but:
[code]

works fine --- only, my IP for the endpoint will need to be something else for my fail-over server (which is x.x.1.108) instead.

Am I doing something wrong with my EndpointSlice config there? It looked like what the docs said to me.

[2021-04-16 19:25] thockin commented on #101143
There are other bugs open on sidecar lifecycle :(

[2021-04-16 19:25] #101143 closed

[2021-04-16 19:28] kvp-cs commented on #54648
There are so many voices requesting for this feature with so many live/genuine reasons and yet there is no response from the k8 community!
Any ideas on how to make this request get more attention? At least want k8 team to look into the concern and tell what they think about it.

[2021-04-16 20:00] ssbostan opened #101201 "where to fix command line references?"
Hi, I want to fix some issues on command line tools references but i don't found the source of that.

How to solve command line tools references and trigger document auto-generation tool?

[2021-04-16 20:02] ssbostan commented on #101201
/sig docs

[2021-04-16 20:07] AliceZhang2016 commented on #98434
/assign

[2021-04-16 20:14] gyuho commented on #95893
@jingyih Sorry for the delayed response.

No, I am not actively working on this, since we've made some big changes to how we set up the logging in etcd client and grpc logger (/cc @ptabor)

[2021-04-16 20:18] liggitt commented on #100844
not sure whether this is on node (generic identity to liveness probes) or cluster-lifecycle (config of self-hosted kube-apiserver manifests), but I don't think it's sig-auth... the self-hosting kubelet could provision a token and give itself an identity today if it wanted to embed it in the kube-apiserver manifest.

[2021-04-16 20:25] lavalamp commented on #100844
Hm, that makes sense, but I still feel like the problem overall, that
health checks in existing systems today are indistinguishable from the kind
of request that an unprivileged attacker could make, should be something
SIG Auth cares about and would drive to completion, even if the problem
isn't a missing SIG Auth feature?

On Fri, Apr 16, 2021 at 1:19 PM Jordan Liggitt ***@***.***>
wrote:

[2021-04-16 20:28] mtougeron opened #101202 "EndpointSlices are not part of the default view & edit roles"
#### What happened:
Users are not able to view `endpointslices` by default as part of the `view` or `edit` roles like they are with `endpoints`

[code]

#### What you expected to happen:
Users with `view` or `edit` roles should be able to view `endpointslices` like they are with `endpoints`

[code]

#### How to reproduce it (as minimally and precisely as possible):
Have a user with `view` permissi

[2021-04-16 20:28] mtougeron commented on #101202
/sig security

[2021-04-16 20:48] liggitt commented on #101052
/remove-sig auth
/close

you can either separate the distinct security settings into separate containers/invocations and run them serially in initContainers, or run a single container with sufficient privileges/capabilities to make calls like setuid to run subcommands as different users

[2021-04-16 20:48] #101052 closed

[2021-04-16 20:49] mtougeron commented on #101202
/sig auth

[2021-04-16 21:10] abrden opened #101204 "StatefulSet selector does not strictly match Pod template labels"
Hi all,
I recently found out that adding more labels to a StatefulSet Pod template, and leaving the StatefulSet selector as is, doesn't result in an error. I wasn't expecting this behavior since the [API reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#statefulsetspec-v1-apps) says:
[code]

After digging a bit more, I found that this controller [claims its Pods by ca

[2021-04-16 21:12] abrden commented on #101204
/sig apps
/wg apps
/committee apps

[2021-04-17 00:30] voutcn commented on #100871
Thank you @MadhavJivrajani! Have you started? Otherwise I will create a PR.

[2021-04-17 00:56] kipit-puppet commented on #40908
@JnMik What about configuring the [`failurePolicy`](https://github.com/hashicorp/vault-helm/blob/dcb4b102835d1c9911cfc9a47fb9bfc2084ffdbf/values.yaml#L110-L115)?

[2021-04-17 00:58] kipit commented on #40908
@JnMik What about configuring the [`failurePolicy`](https://github.com/hashicorp/vault-helm/blob/dcb4b102835d1c9911cfc9a47fb9bfc2084ffdbf/values.yaml#L110-L115)?

[2021-04-17 01:23] voutcn commented on #100871
Hey @MadhavJivrajani. I created a PR (the code was ready a few days ago but I did not commit), and assigned you as a reviewer since you are interested.

[2021-04-17 03:39] vg250156 commented on #93346
Can I reopen?

My wish is to keep the kubeconfig file encrypted. Specifically in a `pass` password store. Specifying a CLI option means I have to type it in every time I use kubectl. Setting KUBECONFIG to a process substitution variable doesn't work. Wrapping it in a script which uses the cli argument does work, but breaks bash completion and thus is a non-starter. Setting an alias has the same pr

[2021-04-17 03:43] vg250156 commented on #93346
/reopen

[2021-04-17 05:04] andyzhangx commented on #101196
this issue is fixed

[2021-04-17 05:04] andyzhangx commented on #101196
/close

[2021-04-17 05:04] #101196 closed

[2021-04-17 05:16] MadhavJivrajani commented on #100871
Hey @voutcn, I was unable to work on this. Thanks for letting me know! 😄

[2021-04-17 05:22] #96879 closed

[2021-04-17 09:06] aojea commented on #101196
Thanks for the prompt response

[2021-04-17 09:36] #95861 closed

[2021-04-17 09:36] #96663 closed

[2021-04-17 12:49] draveness commented on #78007
/unassign

[2021-04-17 12:59] Elbehery opened #101212 "Error getting volume limit for plugin kubernetes.io/<name> in kubelet logs"
#### What happened:
kubelet logs misleading `error`  when volume limits
[code]
#### What you expected to happen:
`info` not an `error`

[2021-04-17 13:01] Elbehery commented on #101212
/sig storage
/tirage accepted
/assign @Elbehery

[2021-04-17 15:04] amshankaran opened #101214 "network name is empty under network-status annotation"
#### What happened:
Calico is configured as primary CNI. Created a pod (via deployment). while describing the pod, under "networks-status:" annotation,  network name is empty string "name": ""
master-0-ejlcluster> kubectl describe pod nginx-shr-6584fcbb55-lpndj
Name:         nginx-shr-6584fcbb55-lpndj
Namespace:    default
Priority:     0
Node:         worker-pool1-w7m9sczq-ejlcluster/10.0.10.97
S

[2021-04-17 15:30] amshankaran commented on #101214
/sig network

[2021-04-17 16:39] Hawaiideveloper commented on #50295
Resolved:
---

"The connection to the server localhost:8080 was refused - did you specify the right host or port?"

I suggest clicking the link [here](https://github.com/Hawaiideveloper/Infastructure-as-Code-Sample_Env/issues/15#issuecomment-811377749)

[2021-04-17 16:52] JnMik commented on #40908
@kipit  Oh that could work ! Never seen that nice
Thanks for pointing that out

[2021-04-17 19:52] bilalcaliskan commented on #100918
@BenTheElder do you mean the version of the **k8s.io/kubernetes** and **k8s.io/test-infra** ?  What should be the imported version on https://github.com/kubernetes/node-problem-detector/blob/fc0edbd222e16b775ec58a253366a41822ecb3d5/go.mod#L37-L38?

[2021-04-17 19:53] arianvp commented on #57534
This is still an issue. But the solution i suggested seems valid? Should I cross-post it to the kubeadm issue tracker?

[2021-04-17 20:20] #101202 closed

[2021-04-17 21:42] #96230 closed

[2021-04-17 21:45] aojea commented on #57534
is not a kubernetes issue, is networking configuration issue, the installers should configure the route to the service network ...

that is a kubeadm decision , cc @neolit123

[2021-04-17 22:01] Chauhan619 opened #101216 "400 bad request http to https ingress not working"
Current situation:
Container having apache2 shibboleth running on ports
Http: 8090
Https: 8443 self signed certificate

Image is running fine at local but when deployed to kubernetes I am getting error while accessing https service running on container.

Ingress is sending http plain request to https port

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingresss
spec:
 tls:
 -

[2021-04-17 22:04] neolit123 commented on #57534
you can log an issue in k/kubeadm.
`ip` is a mandatory binary on Linux, so a preflight check can be run with it.

[2021-04-17 22:15] Chauhan619 commented on #101216
/sig network
/wg k8s Infra
/committees security

[2021-04-17 22:16] aojea commented on #101165
kube-proxy sends traffic to the endpoints that are ready,
are the pods  running and ready on the node despite it is in the process of termination?

[2021-04-17 22:33] RAJMITTAL commented on #100994
i just found following role created in system. as soon as i removed it. it started working as expected

[code]

[2021-04-18 02:03] pzheng1025 commented on #100802
Hello, is there any update for this issue?

[2021-04-18 02:35] voarsh2 commented on #74651
I use those lines in deployment - as others say, global/cluster setting is better.
How am I supposed to hit SLA's when it's 5 minutes?

[2021-04-18 02:52] NavindrenBaskaran opened #101219 "Pod in terminating state is still receiving requests"
#### What happened:
As stated in the documentation [here](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination) pods that are terminating will not be receiving traffic.

What we're seeing here is completely opposite, in where the pods which are terminating are still receiving requests.

#### What you expected to happen:
Pods which are terminating should gradually stop

[2021-04-18 03:11] neolit123 commented on #101199
/sig cli

[2021-04-18 03:12] neolit123 commented on #101219
/sig node

[2021-04-18 04:46] NavindrenBaskaran commented on #101219
/sig network

[2021-04-18 08:21] NovaHe opened #101220 "validatingwebhookconfigurations can't set ownerReferences"
#### What happened:

I want to delete ValidatingWebhookConfiguration when ns is deleted. so I set  ValidatingWebhookConfigurationconfig/webhook.serving.knative.dev's `ownerReferences` to namespace/serving-tests  . but validatingwebhookconfigurations can't set ownerReferences

/kind bug
#### What you expected to happen:

Delete ValidatingWebhookConfiguration when ns is deleted

#### How to reproduc

[2021-04-18 09:42] boogiefromzk commented on #92463
Still actual

[2021-04-18 11:36] LappleApple commented on #18174
/help
/good-first-issue

[2021-04-18 11:45] LappleApple commented on #85572
/help
/good-first-issue

[2021-04-18 11:50] LappleApple commented on #96514
/help
/good-first-issue

[2021-04-18 11:52] LappleApple commented on #96935
/help
/good-first-issue

[2021-04-18 12:27] barucoh commented on #95693
/remove-lifecycle stale

[2021-04-18 13:25] aojea commented on #18174
/remove-good-first-issue
This is not easy, we should not treat it as a good first issue.
The goal is to solve the apiserver HA problem from the client so, instead of installing a LB in front of the apiserver, the client is able to choose the available apiserver. Connecting to the "kubernetes.default" service is not an option because  that service depends on kubelet and kube-proxy.
There can be dif

[2021-04-18 14:02] neolit123 commented on #101220
/sig api-machinery

[2021-04-18 14:05] neolit123 commented on #101201
if the is a problem with the tools that generate the docs its here:
https://github.com/kubernetes-sigs/reference-docs

the docs are organized and hosted at https://github.com/kubernetes/website

if there is a problem with specific content like a CLI flag it must be changed in kubernetes/kubernetes as that is where the command line ref. docs are generated from:
https://github.com/kubernetes/kuberne

[2021-04-18 14:06] #101201 closed

[2021-04-18 14:06] neolit123 commented on #101201
you can long an issue in https://github.com/kubernetes/website too.

[2021-04-18 14:56] feenst commented on #78761
/remove-lifecycle stale

[2021-04-18 15:04] Chauhan619 commented on #101216
/ingress

[2021-04-18 16:24] zhuyouzhufu opened #101222 "no kind "KubeSchedulerConfiguration" is registered for version "kubescheduler.config.k8s.io/v1" in scheme "k8s.io/kubernetes/pkg/scheduler/apis/config/scheme/scheme.go:30""
#### Environment:
- Kubernetes version (1.2.1):

kind: KubeSchedulerConfiguration
apiVersion: kubescheduler.config.k8s.io/v1
bindTimeoutSeconds: 600
clientConnection:
  burst: 200
  kubeconfig: /opt/kubernetes/server/conf/kube-scheduler.kubeconfig
  qps: 100
enableContentionProfiling: false
enableProfiling: true
hardPodAffinitySymmetricWeight: 1
healthzBindAddress: 192.168.100.33:10251
leaderElect

[2021-04-18 16:27] zhuyouzhufu commented on #101222
KUBE_SCHEDULER_OPTS="--logtostderr=false \\
--v=2 \\
--config=/opt/kubernetes/server/conf/kube-scheduler.yml \\
--log-dir=/opt/kubernetes/server/logs \\
--cert-dir=/opt/kubernetes/server/ssl \\
--leader-elect=true \\
--alsologtostderr=true \\
--bind-address=192.168.100.33 \\
--master=https://192.168.100.33:6443

[2021-04-18 16:38] jonathanalvares9009 commented on #8976
/assign

[2021-04-18 16:40] jonathanalvares9009 commented on #8976
/unassign

[2021-04-18 18:48] #96667 closed

[2021-04-18 19:48] #96630 closed

[2021-04-18 20:19] dims commented on #100914
@mcorbin So missing documentation then?

[2021-04-18 20:37] dims commented on #84248
cc @adisky

[2021-04-18 20:38] dims commented on #84248
long-term-issue (note to self)

[2021-04-18 21:34] neolit123 commented on #101222
try:
[code]

/kind support
/remove-kind bug
/sig scheduling

[2021-04-18 22:23] zerkms commented on #66450
/remove-lifecycle stale

[2021-04-18 22:54] knabben commented on #98302
/assign @hanlins

[2021-04-18 23:20] maxneaga commented on #81089
/remove-lifecycle stale

Per the comments above, there is still high demand for this feature.

[2021-04-19 02:31] Wenshiqi222 commented on #101091
hello anybody can help me? Or can anybody teach me how to wirte a mutatingWebhook to add some information to the pods?

[2021-04-19 02:54] YanzhaoLi commented on #56289
Hitting the same log. @zhan849  Any idea to debug ?

[2021-04-19 03:00] zhaobei commented on #20092
![image](https://user-images.githubusercontent.com/55879962/115175837-5d286d80-a0fe-11eb-9f76-7a9ba5b93827.png)
我也遇到了相同的问题，有谁解决了此问题吗

[2021-04-19 03:38] hanlins commented on #98302
thanks @knabben, working on this!

[2021-04-19 03:42] yqwang-ms commented on #88193
/remove-lifecycle stale

[2021-04-19 03:46] pacoxu commented on #101216
/area ingress

[2021-04-19 04:08] rajatjindal commented on #94519
/remove-lifecycle rotten

[2021-04-19 04:09] Cheers-am opened #101227 "allowing kernel.shmmax & kernel.shmall for TimesTen db pod's in Kubernetes"
#### What happened:
Unable to allow kernel.shmmax & kernel.shmall  in security context
#### What you expected to happen:
deinfe kernel.shmmax & kernel.shmall  value for TimesTen POD.

#### Environment:

- Kubernetes version (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTree

[2021-04-19 04:13] rajatjindal commented on #94519
I think (based on my limited understanding of how kube api works internally), it should be allowed to restrict keys that matches a regex.

the workaround people use today is additionalProperties and with that there is a good chance that invalid keys pass the validation and cause other issues that would show up only in controller logs while such issue should essentially show up at creation/update t

[2021-04-19 05:26] povsister commented on #101189
Looks like this is intentional. https://github.com/opencontainers/runc/pull/511
`ParseSystemdToCgroupName` just do things inverted.

But there is still something unclear
* `kubeReservedCgroup` is parsed and enforced per the `cgroupDriver` configuration. Different driver setting leads to different parsing algorithm.
* `kubeletCgroups` which defines the cgroup that kubelet will put itself in, instea

[2021-04-19 05:48] CaoDonghui123 commented on #101220
hi，`ownerReferences ` is not empty.
you can use this command
[code]

[2021-04-19 06:04] Cheers-am commented on #101227
/sig

[2021-04-19 06:23] coderwangke opened #101229 "It is slow that volumes reattach to a new node"
#### What happened:
In a large cluster scenario (such as 3000+ nodes, and 1w+ pvc/pv)，when a pod recreate, It is slow that volumes reattach to a new node(6min+, force detach time).

#### What you expected to happen:
volumes reattach to a new node normally.

#### additional:
adcontroller is stuck in GetAttachedVolumesForNode(attach_detach_controller.go)
![image](https://user-images.githubuserconten

[2021-04-19 06:26] NovaHe commented on #101220
The same yaml, I tested other tow kubernetes version(Not the same physical machine)

#### The following versions are OK:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: N/A
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]

#### The following versions are not OK:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud

[2021-04-19 06:28] coderwangke commented on #101229
/sig storage

[2021-04-19 06:46] NovaHe commented on #101220
@CaoDonghui123 Thank you for your attempt, the bug should appear in a certain version, please provide your environment info

[2021-04-19 06:49] CaoDonghui123 commented on #101220
Kubernetes version

[code]

[2021-04-19 06:54] sgblv commented on #101056
I've faced with exactly same issue.
Upgraded from 1.18 to 1.19 , similar configs ,same errors.

[2021-04-19 07:00] mandala23 commented on #100434
Hello there,

Sorry for the delay time . I also tried in ipvs mode and the results is still the same as with iptables mode

I finally moved to Flannel plugin and now everything is fine : east-west and north-south communications are performing well.

[2021-04-19 07:00] yolkov commented on #18174
There was already an attempt to implement this feature https://github.com/kubernetes/kubernetes/pull/40674. But pull request was closed .

[2021-04-19 07:27] mcorbin commented on #100914
Yes, but I would really like to know if it is the expected behavior. Maybe the old behavior could be restored ?

[2021-04-19 07:29] rdxmb commented on #101056
Could this be handled with a higher priority, please? When existing nodes suddenly stop and are not Ready anymore, people have some problems to deal with existing workload.

[2021-04-19 07:29] JornShen commented on #101214
@amshankaran  Do you report it in the multus-cni community?
This annotation ` k8s.v1.cni.cncf.io/network-status` is set by multus-cni.

https://github.com/k8snetworkplumbingwg/network-attachment-definition-client/blob/9d213757d22d5d06f1b8ff289ce16d0cf9aabc6c/pkg/utils/net-attach-def.go#L75

[2021-04-19 07:39] amshankaran commented on #101214
@jornShen No I haven't reported this in multus-cni. Do I need to create a new issue in multus-cni to report this or adding any flag here would do?

[2021-04-19 07:43] JornShen commented on #101214
I think it is the problem of multus-cni. So it is better to create issue in multus-cni.

[2021-04-19 07:46] pacoxu opened #101231 "[sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it [Conformance]"
#### Which jobs are failing:
Test Kubernetes e2e suite.[sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it [Conformance] has failed 8 times (no passing result found). Earliest failure found at commit/cbe41b4e7 (Sat Mar 05 07:20 PST).

#### Which test(s) are failing:
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-kubelet-1-19-on-1-21

[2021-04-19 08:32] pacoxu commented on #101231
/cc @liggitt

[2021-04-19 08:34] pacoxu commented on #101231
After looking at the kubelet logs,
[code]
It seems to be related with kind kubelet initialing.

[2021-04-19 08:35] navist2020 commented on #101199
/assign

[2021-04-19 08:53] danielhass commented on #93346
I would like to support the effort of @vg250156 to get this one reopened.

@ahmetb your proposed solution below holds very well for the CI/CD use case that was part of the original idea why this issue was opened, but from my point of view falls short for an interactive workflow (reasons also mentioned by @vg250156):

However I would like to add a few more use cases for this feature below that hope

[2021-04-19 08:54] stephan2012 commented on #99712
Not really sure that I get your point. There are no requests being send to external-dns. Instead, external-dns scrapes data in services and ingresses and registers the discovered name with the external IP address in an external (public) DNS service.

[2021-04-19 09:26] aojea commented on #101214
/close

Thanks for reporting, it is better to track it only in one place

[2021-04-19 09:26] #101214 closed

[2021-04-19 10:18] mengjiao-liu commented on #101148
/assign

[2021-04-19 10:30] gagipro commented on #96459
Hi,
same here
vitualbox 6.1.18 latest
Linux master-1 5.4.0-72-generic latest

/etc/os-release
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/term

[2021-04-19 10:33] gorkemozlu commented on #64168
/remove-lifecycle stale

[2021-04-19 10:48] aojea commented on #99299
@juliantaylor @VigneshSP94 I've just realised you are using Endpoints instead of EndpointSlices.
Since practically all new development in kube-proxy has moved to endpoint slices, I suggest to try to switch to EndpointSlices first, because if the bug only happens with Endpoints it's going to be more difficult to fix

[2021-04-19 10:48] chendave opened #101237 "PodTopologySpread: `criticalPaths[1]` is not used anywhere?"
#### What happened:
`PodTopologySpread` plugin has created  `[2]criticalPath` for each of the constraints, and it is get updated for each `TpPairToMatchNum` where `criticalPaths[0].MatchNum` always holds the minimum matching number and `criticalPaths[1].MatchNum` is always greater or equal to `criticalPaths[0].MatchNum` for each of the topology key.

The `criticalPaths[0].MatchNum` is used during

[2021-04-19 10:49] chendave commented on #101237
/sig scheduling

[2021-04-19 10:53] claudiubelu commented on #97802
/remove-lifecycle stale

[2021-04-19 10:53] chendave commented on #101237
@alculquicondor , this should more like a question instead. I searched in the KEP and haven't found any clue about the design, why `criticalPaths` is designed as this in the first place? thanks for your eyes!

[2021-04-19 10:58] saschagrunert commented on #95171
/milestone v1.23

[2021-04-19 11:07] pacoxu commented on #101231
https://github.com/kubernetes/test-infra/pull/21643
kubeadm-kinder-kubelet-1-19-on-1-21 was added 13 days ago.

[2021-04-19 11:26] liggitt commented on #101231
This test is added to conformance in 1.22 and is only expected to be run and to pass against a 1.22 API server.

[2021-04-19 11:27] liggitt commented on #101231
I thought the skew job for "on 1.x" were running the 1.x conformance tests.

[2021-04-19 11:27] aojea commented on #100643
Seems we are going to have one :)
https://github.com/kubernetes/enhancements/pull/2582/files#r611099615

I did a quick search about modifying nodeport ranges and it shows a lot of hits that may indicate that people is not going to use safely

This is the same that with clusterIP ranges, we don't expose these configuration parameters, if thise will be exposed we can left it to the services implemen

[2021-04-19 13:34] adtac commented on #94404
@vaibhav2107 We use a `opcode` field to differentiate between different operations. The value of the `opcode` field (e.g. "createNodes") determines the operation. The `countParam` field defines the number of pods/nodes to create. What do you mean by "assigning the values to createNodes and createPods directly"?

[2021-04-19 14:13] alculquicondor commented on #101237
@Huang-Wei implemented this. It was an implementation detail that is definitely not in the KEP. Wei, can you take a look?

[2021-04-19 14:13] alculquicondor commented on #101237
/remove-kind bug
/kind cleanup

[2021-04-19 14:25] airbjorn commented on #23349
Is the state "Open" still current, or is there a kubernetes Release out solving this request?

[2021-04-19 14:39] wangyysde commented on #101216
@Chauhan619 Because the certification is base on website(specified by host item) not path. For the same website,maybe you can not setup HTTP for one path and HTTPS for another.

[2021-04-19 16:17] evertrain opened #101249 "DaemonSet controller can adopt ControllerRevisions in other namespaces"
#### What happened:
DaemonSet A can adopt orphan ControllerRevision resources of Daemonset B in other namespaces.

It can happen if DaemonSet A and B has the same "Spec.Selector" field.

#### What you expected to happen:
DaemonSet Controller should only adopt ControllerRevision in it's own namespace.

#### How to reproduce it (as minimally and precisely as possible):
1. create DaemonSet testns1/te