[2018-09-05 09:04] chrisaj commented on #65153
I would tend to agree that it's always correct to ignore and remove the nodeselector information when using the checkpoint files.

What's the next step to getting this in 1.12?

[2018-09-05 09:41] shausy opened #68284 "k8s service creation gets struck in pending state forever"
Service gets struck in pending state forever when a user request for the creation of service with type load-balancer and the container network plugin was already exhausted the maximum limit of LB IP's

Actual Behaviour:
Service creation get struck when max limit of lb is reached

Expected Behaviour:
Service creation should be mark as failed as CNP clearly reports it cant created any further LB IP'

[2018-09-05 09:46] Eloahman commented on #52655
@robdewit
You have got the point.

[2018-09-05 09:51] DylanBLE commented on #68046
@goodluckbot  use **systemctl stop kubelet** instead of **kubectl delete node** :)

[2018-09-05 09:53] xuil opened #68285 "the path in API includes '/apis' while sometimes '/api'"
for example,

POST /api/v1/namespaces/{namespace}/pods

POST /apis/batch/v1/namespaces/{namespace}/jobs

why not to use the same?

 @kubernetes/sig-api-machinery-proposals

[2018-09-05 09:54] wilstam commented on #68231
May I try on staging/src/k8s.io//sample-apiserver?

[2018-09-05 10:09] #68246 closed

[2018-09-05 10:20] ludwikbukowski commented on #2630
the same problem!

[2018-09-05 10:25] Zandalee11 commented on #2630
Hey FUCK YOU 😘

[2018-09-05 10:42] wpf710 commented on #68193
![default](https://user-images.githubusercontent.com/265050/45088396-6d50d180-b13b-11e8-8bd9-af5fb04f61fe.png)

[2018-09-05 10:44] wpf710 commented on #68193
`[root@node1 tmp]# kubectl get service -n kube-system
NAME                   TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)             AGE
heapster               ClusterIP   10.103.27.106    <none>        80/TCP              1d
kube-dns               ClusterIP   10.96.0.10       <none>        53/UDP,53/TCP       7d
kubernetes-dashboard   ClusterIP   10.105.56.124    <none>        443/TCP

[2018-09-05 10:44] luxas commented on #68235
We're planning to create the repos in a matter of days: https://github.com/kubernetes/org/issues/56.
We might just let the PR wait for those. We're in code freeze more so the PR wouldn't merge in about a month in any case.

[2018-09-05 11:03] ronakpandya7 commented on #67142
any update?

[2018-09-05 11:08] roytman commented on #59812
Hi,
I repeated this test with K8s v 1.11
[code]
Looks like shortName conflicts between CRDs and core objects are not checked, and `kubectl get <shortName>` commands use the core objects' shortName mapping.

- Installed a CRD (DestinationPolicy) with the short name 'svc': Install went ok and kubectl get svc returned services.  **The CRD `Conditions` show "no conflicts found"**
- Changed this CRD sh

[2018-09-05 11:14] liggitt commented on #59812
shortnames can be used within different groups, like `kubectl get svc.mygroup.io`

[2018-09-05 11:15] liggitt commented on #59812
when unqualified by a group, shortnames follow server specified group priority, which resolves core api groups first.

this matches behavior of actual names (non-shortnames). You could define a resource in your group named `services` and the results would be the same

[2018-09-05 11:29] tarmazakov commented on #57673
@hechuan73
try to add `--kubelet-insecure-tls` to container args (metrics-server-deployment.yaml)

--kubelet-insecure-tls: skip verifying Kubelet CA certificates. Not recommended for production usage, but can be useful in test clusters with self-signed Kubelet serving certificates.

[2018-09-05 11:40] avikjis27 commented on #63396
I am facing the same issue. The docker log and pods' log are not complete.

[2018-09-05 11:47] adampl commented on #65392
If this issue is to be removed from 1.12, then please at least un-hold #67977 and add there the logic to prevent the race condition when the pods are restarted after shutdown.

BTW, in case of RWO volumes of types (drivers) that don't support RWX mode, the double mount would always be rejected, so the race would be harmless, right? I guess the problem lies only in types that do support RWX, as the

[2018-09-05 11:49] pohly commented on #66649
Vendoring test/e2e/framework into external projects is currently blocked by not publishing the cli-runtime repository under github.com/kubernetes (https://github.com/kubernetes/community/issues/2626 = https://github.com/kubernetes/org/issues/58).

[2018-09-05 12:04] yue9944882 commented on #68285
hi @xuil , for `/api`, it is legacy path. also, for a backward-compatibility.

/triage support
/close

[2018-09-05 12:04] #68285 closed

[2018-09-05 12:04] aalubin commented on #43504
/remove-lifecycle stale

[2018-09-05 12:08] nbosscher opened #68286 "Node termination reason isn't giving helpful information"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
One of my nodes ran out of disk space last night and Kubernetes managed to recover. The output from `kubectl describe pods` gives a "Last State" object which I would expect to give details on why the pod was terminated.

[code]

**What you expected to happen**:
I'd expect to get "Reason" that said something about node run

[2018-09-05 12:10] nbosscher commented on #68286
@kubernetes/sig-cluster-ops

[2018-09-05 12:45] fengpinghu commented on #68248
Tried that it's the same result.
I want to clarify that this tls connection is not between kubectl command
and the apiserver but it's between the apiserver and dex server.
I've also verified the that the tls connection can be made with the rootca
cert and the host certs with  a test go program. The test program is
attached.
 $go run tlsclient.go
tlsclient.go:133: tls ok
HTTP/1.1 400 Bad Request
Co

[2018-09-05 13:06] alinbalutoiu commented on #64188
@feiskyer The way I understand it, it's that the DNS issue will be fixed in Windows RS5 and there will not be required additional calls. The workaround at the moment is to call the CNI multiple times until the DNS issue gets fixed in Windows. As far as I know, that is the only reason why the additional calls to the CNI are required.

[2018-09-05 13:33] amithapa commented on #68186
Closing the issue i have found the cause for it.
Since the **/etc/systemd/system/kubelet.service.d/10-kubeadm.conf** configuration file is changed from the version v.1.10 to v1.11.2.

Need to update the following file.
**/etc/default/kubelet** with the following command
[code]
After which it worked as expected.

/close

[2018-09-05 13:33] #68186 closed

[2018-09-05 13:46] emedina commented on #68016
Found that this is actually a DNS issue and changing it to using the IP instead works like a charm. I'm still not sure whether the issue comes from K8s itself or our DNS server, but it's fair to close this issue.

[2018-09-05 13:46] #68016 closed

[2018-09-05 14:29] hoegaarden commented on #68260
Hello @saad-ali  and @neolit123 - would it be ok for me and @mariantalla to pick this up?

We were thinking of the following approach:
1. Add a validation field to `crd `, of type `JSONSchemaProps `
1. The validation spec will cover each and every field on the `csiapiv1alpha1.CSIDriver`/`csiapiv1alpha1.CSINodeInfo` struct

Is this the correct approach or is there something else between the CRD and

[2018-09-05 14:32] mgdevstack commented on #67607
As mentioned by @brahmaroutu, Conformance Docs cannot be generated at runtime. `ast` scanner is used to pick up comment block statically.

In case needed to add Conformance Doc for table based e2e, we can use the following pattern -
[code]
Please correct me @brahmaroutu, if I misinterpret about comment block.

[2018-09-05 14:39] neolit123 commented on #68260
certainly,
i would defer to @saad-ali for comments on the proposed solution. :)

[2018-09-05 14:40] msau42 commented on #43504
Topology aware dynamic provisioning will be available in beta in 1.12. In-tree gce, aws and azure block disks are supported.  Local and CSI volumes will be supported in a future release.

/close

[2018-09-05 14:40] #43504 closed

[2018-09-05 14:47] xrl commented on #68111
Turns out my endpoints were empty. Not sure how I missed that. 🤦‍♂️

[2018-09-05 14:47] xrl commented on #68111
Turns out my endpoints were empty. Not sure how I missed that. 🤦‍♂️

[2018-09-05 14:47] #68111 closed

[2018-09-05 14:57] huyqut commented on #52577
Is there any progress on this?

[2018-09-05 15:02] rata commented on #57117
@blaggacao any news on this? I hope it worked :)

[2018-09-05 15:04] pieterlange commented on #54743
/reopen This is still a problem.. any word on when feature gate `ServiceNodeExclusion` goes out of alpha?

[2018-09-05 15:13] pohly commented on #66649
Status update: https://github.com/pohly/kubernetes/commits/e2e-refactor-2018-09-04 can be imported and used in a different project, see https://github.com/pohly/csi-e2e for an example.

[2018-09-05 15:13] hoegaarden commented on #68260
/assign @mariantalla
/assign @hoegaarden

[2018-09-05 15:26] neyz commented on #62942
I'm reopening this because even if I add --allowed-unsafe-sysctls net.ipv4.ip_forward to the kubelet arguments and this to my pod description it still starts with net.ipv4.ip_forward=0

"securityContext": {
                    "sysctls": [
                        {
                            "name": "net.ipv4.ip_forward",
                            "value": "1"
                        }

[2018-09-05 15:32] mohammedzee1000 commented on #67862
Thanks for raising this issue.

[2018-09-05 15:42] mohammedzee1000 opened #68294 "Failing Tests : [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability"
# Failing Jobs
[sig-release-1.12-blocking#gce-cos-1.12-serial](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gce-cos-1.12-serial)
# Failing tests
[ci-kubernetes-e2e-gce-cos-k8sbeta-serial](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-serial/1158)
# Triage results
[[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource:

[2018-09-05 15:43] mohammedzee1000 commented on #68294
/milestone v1.12

[2018-09-05 15:50] DirectXMan12 commented on #68294
Looking at: https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=autoscaling&job=ci-kubernetes-e2e-gce-cos-k8sbeta-serial

It doesn't look like our fault:

[code]

[2018-09-05 15:54] liggitt commented on #66649
/milestone v1.13

[2018-09-05 15:54] mohammedzee1000 commented on #67603
/cc @kubernetes/sig-network-test-failures

[2018-09-05 15:55] mohammedzee1000 commented on #67603
Recent failures https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gce-cos-1.12-serial

[2018-09-05 15:57] balajismaniam commented on #65249
#65251 is one of the steps.
/reopen

[2018-09-05 16:41] oomichi commented on #68279
/ok-to-test

[2018-09-05 17:05] guineveresaenger commented on #65392
/milestone clear

[2018-09-05 17:14] dashpole commented on #68220
The issue has been resolved.

[2018-09-05 17:20] juanvallejo opened #68298 "Support the --all flag with `kubectl wait`"
We should consider updating the `kubectl wait` command to wait on all resources for a given kind. For example:

[code]

would wait for every pod in the current namespace to be deleted.

/sig cli

cc @soltysh @deads2k

[2018-09-05 17:40] chrissnell commented on #48245
This has been happening to me as well.  Random SIGINT terminations.  We are running cluster autoscaling and these happen as the cluster scales.  I capture logs from everything and see no relevant logs from any Kube components when this happens.  Just the SIGINT in the pod itself.

[2018-09-05 17:43] krzyzacy commented on #68220
https://k8s-testgrid.appspot.com/sig-release-1.11-all#gke-cos-1.11-default looks they are back to normal, thanks @dashpole !

/close

[2018-09-05 17:43] #68220 closed

[2018-09-05 17:49] chrissnell commented on #48245
Oddly, like @thiagoalves, I'm seeing these in a MongoDB container, too.

[2018-09-05 17:51] neolit123 commented on #66649
@pohly
the similar kubeadm issue is tracked here:
https://github.com/kubernetes/kubeadm/issues/1040

Viper because they needed to host their fixes or enhancements. Perhaps
a maintenance team can be formed for it, either in its current location
or elsewhere?

i'm all +1 for that.
to my understanding forking Viper and maintaining it ourself is not a big problem from the k8s perspective. but i have j

[2018-09-05 17:51] jlortega commented on #68277
same for me
GitVersion:"v1.10.2"

[2018-09-05 18:01] neolit123 commented on #66649
hierarchical config files without conflicts between options defined
independently in different tests. I was trying to come up with a
recommended naming scheme in the commit enabling Viper for flags:
pohly@1ebc471

i think i might be missing some context for this, due to my lack of understanding the e2e framework.
can you provide an example of how conflicts can happen? [1]

define its flags as "foo

[2018-09-05 18:02] obriensystems commented on #23349
(+) procedure
https://wiki.onap.org/display/DW/Cloud+Native+Deployment#CloudNativeDeployment-Changemax-podsfromdefault110podlimit
Manual procedure: change the kubernetes template (1pt2) before using it to create an environment (1a7)

add --max-pods=500 to the "Additional Kubelet Flags" box on the v1.10.13 version of the kubernetes template from the "Manage Environments" dropdown on the left of the

[2018-09-05 18:29] uablrek commented on #67799
And I hope to send a PR for this in a few days.

[2018-09-05 18:41] andrewsykim commented on #65869
Fixed in https://github.com/kubernetes/kubernetes/pull/67069

[2018-09-05 18:41] andrewsykim commented on #65869
/close

[2018-09-05 18:46] andrewsykim commented on #29789
Update on this issue (applies to all cloud provider LBs, not just ELB): we've merged in https://github.com/kubernetes/kubernetes/pull/66589 which gives us a mechanism to customize the LB names per provider, previously this was done by 1 global method. In upcoming releases, we want to start pushing changes to actually give LBs more meaningful names (based on what works best for that provider). The

[2018-09-05 18:46] jpbetz commented on #68172
@liggitt No, etcd community approved adding patch management support back to 3.1 but no further.

[2018-09-05 18:53] PrasadG193 commented on #68026
@dims I have raised a PR to fix golint errors in pkg/api

[2018-09-05 18:56] yujuhong commented on #30189
@FengyunPan2 #64752

[2018-09-05 19:00] spiffxp commented on #68170
/milestone v1.12

[2018-09-05 19:00] daovallec opened #68303 "Kubernetes communicate with an app using service Nodeport and not Container IP"
I have an Spring discover (Eureka) in a Server X

I have an docker with an APP. (This APP create an authentication with my discover in the server X).

I Create the Pod, and after the service:

At the moment that I create the POD. My APP create the registration with my discover server using the container IP.

Later I create my service:

But the problem is that my app is actually registered with my

[2018-09-05 19:07] venezia commented on #64290
@nikhita is this worth keeping open, or should i close it?

[2018-09-05 19:16] nikopen commented on #68115
@deads2k please apply a priority/critical-urgent label to keep track for 1.12

[2018-09-05 19:29] Miouge1 commented on #67420
People don't need permissions to secrets to access the dashboard. From what I have tested it just throws a warning like `secrets is forbidden: User "system:serviceaccount:kube-system:kubernetes-dashboard" cannot list secrets in the namespace "default"` but things still work except for viewing and listing secrets.

[2018-09-05 19:40] fberglin opened #68304 "CoreDNS never deploys in ARM HA cluster"
/kind bug

**What happened**:
I tried to follow the instructions on https://kubernetes.io/docs/setup/independent/high-availability/ in order to setup a cluster with three stacked masters using Raspberry 3 hardware. Whenever I include the controlPlaneEndpoint attribute in the kubeadm-config, the CoreDNS deployment never activates.

It seems to be hanging.

**What you expected to happen**:
CoreDNS t

[2018-09-05 19:41] mrajashree commented on #68201
@dims can I take up these ones since they don't seem to be taken up yet based on previous comments?
[code]

[2018-09-05 19:42] brahmaroutu commented on #67607
@mgdevstack
Currently only one Description and Testname will be picked by the parser. If you need such support we need to enhance the tool. There is a reason for grouping the tests, I would suggest that the test name should just simply state what the group is trying to achieve, ex:
`/*
    Release : v1.12
    Testname: Container Runtime, Test various container spec fields for ....
    Description:

[2018-09-05 20:18] mitchellh commented on #29276
Hello! I'd love to see this as well. Rather than just saying +1, which I know is unhelpful, I'll explain our use case:

We're using a DaemonSet to deploy [Consul](https://www.consul.io) clients on all nodes. However, clients don't need to run where server agents are running. We'd like to use pod anti-affinity to avoid scheduling the clients where servers are currently running.

We understand that

[2018-09-05 20:21] ahmetb opened #68305 "get-kube-binaries.sh: fails when there's space in path"
/kind bug

**What happened**:

Tried to download v1.12.0-beta.1 via `cluster/get-kube-binaries.sh`.

Failed with error:

[code]

**What you expected to happen**: Work as expected.

**How to reproduce it (as minimally and precisely as possible)**:

Extract release kubernetes.tar.gz to a path with space in it, like `/Users/ahmetb/Downloads/kubernetes 2`

[code]

**Anything else we need to know?**:

[2018-09-05 20:38] andrewsykim commented on #65618
Had a discussion about this in our SIG meeting. There were concerns around how to include masters into the node pools without accidentally flooding masters in existing clusters with a bunch of traffic. Some options:
* add master to node pool (with sufficient warning, etc), perhaps add `alpha.service-controller.kubernetes.io/exclude-balancer` automatically where possible.
* if `externalTrafficPolic

[2018-09-05 20:39] yujuhong commented on #55807
@infinitymittal all I was saying is that this is not a bug -- the implementation clearly did not intend to support the cases you described.
This should be a feature request.

[2018-09-05 20:46] dawidmalina commented on #58956
I have exactly same issue with kubernetes 1.11.1 and ipvs:
[code]

The log is only visible during kube-proxy startup (only)!

But there is a one strange thing. I am pretty sure that I am using ipvs:
[code]
But based on the log message:
[code]
the logs is somehow from iptables proxier: https://github.com/kubernetes/kubernetes/blob/v1.11.1/pkg/proxy/iptables/proxier.go#L423

The ipvs proxier have si

[2018-09-05 20:51] chrissnell commented on #48245
/reopen

[2018-09-05 20:56] bsalamat commented on #29276
Up until K8s 1.12, DaemonSet (DS) pods used to be scheduled by the DS controller and the DS controller didn't support pod affinity/anti-affinity. In Kubernetes 1.12 (the coming release), DS pods will be scheduled by the default scheduler. With the new change, it is possible to have inter-pod affinity/anti-affinity (IPAA) for DS pods, but the workflow of supporting IPAA is not clear to me. Here are

[2018-09-05 20:57] chrissnell commented on #48245
@thiagoalves - can you try the `/reopen` and the `/remove-lifecycle rotten` commands on individual lines?  I don't think the bot parsed them correctly and I'd like to see this re-opened.

[2018-09-05 21:04] weisjohn commented on #54188
NOTE: This also works for the `kubeadm alpha phase certs apiserver` and `kubeadm alpha phase certs etcd-peer` commands, when you're running in offline mode (see https://github.com/kubernetes/kubeadm/issues/338#issuecomment-418879755).

For those commands, I was able to use a config.yml that looked simply like:
[code]

[2018-09-05 21:14] infinitymittal commented on #55807
@yujuhong This is exactly where we disagree. This is a bug. The implementation is different from the design and should be fixed.  Documentations and design discussions clearly indicate postStart and preStop to be mirror images, both having at least once guarantee.
I suggest this  be reverted to bug.

[2018-09-05 21:16] yujuhong commented on #59001
The majority of the tasks have been completed. Closing this issue.

[2018-09-05 21:16] #59001 closed

[2018-09-05 21:32] BenTheElder opened #68306 "e2e.test not found by hack/ginkgo-e2e.sh when built with bazel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: the test binary is not found when running e2e.go / kubetest / ginkgo-e2e.sh

**What you expected to happen**: the binary should be found

**How to reproduce it (as minimally and precisely as possible)**: `bazel build //cmd/kubectl //test/e2e:e2e.test //vendor/github.com/onsi/ginkgo/ginkgo` then run the e2e's

**Anything e

[2018-09-05 21:39] vhosakot commented on #65221
I see this issue too with kubectl client `v1.11.1` and server `v1.10.1`:

[code]

[2018-09-05 21:41] BenTheElder commented on #68306
Discussed offline, I think we can basically upstream https://github.com/kubernetes/test-infra/pull/9276/files at the point that PATH is exported in ginkgo-e2e.sh will look into this soon.

/assign

[2018-09-05 22:19] ercliou commented on #40358
Just adding an input. Our use case of a middle ground is a bit different.
We want to ensure HA by node (without using hard inter-pod anti-affinity, so we won't need one node per replica). So that's something like soft inter-pod affinity, but **at least one** pod respecting the rule.

e.g.
1) If 2 replicas, it needs to be in separate node (hard!).
2) If 3 replicas, at least 1 in a different node (s

[2018-09-05 23:23] msau42 opened #68308 "Failing test: [sig-storage] PersistentVolumes-local [Volume type: gce-localssd-scsi-fs] [Serial] Set fsGroup for local volume should not set different fsGroups for two pods simultaneously"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Since 8/31, these tests have started flaking, and then started failing consistently.

https://k8s-testgrid.appspot.com/sig-storage#gce-serial

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4046

/assign

[2018-09-05 23:44] misterikkit opened #68309 "k8s-merge-robot does not have a cool avatar"
@k8s-merge-robot does not have a cool avatar like @k8s-ci-robot does.

/kind feature
/sig contributor-experience

**What happened**:
I didn't see a cool avatar.

**What you expected to happen**:
A cool avatar.

**How to reproduce it (as minimally and precisely as possible)**:
1. View a merged PR
2. Feel disappointment

[2018-09-05 23:58] BenTheElder commented on #68306
that change is insufficient, and the sufficient work around is uglier. we'll have to think about this more...

[2018-09-06 00:10] dims commented on #68308
/milestone v1.12

[2018-09-06 00:13] #67091 closed

[2018-09-06 00:29] mrajashree commented on #26050
@thockin I feel like some parts of this issue have been fixed by the PRs referencing it. But some things are still left
These were the issues listed in your comment and the current status on them
a) always go back to the editor
Update: Still doesn't go back to editor, I get the following error. Has there been any change in what is required/expected wrt this? meaning do we still want it to go back

[2018-09-06 01:17] charrywanganthony commented on #65221
@vhosakot plz see [Automated cherry pick of #66652: fix cluster-info dump error #67611](https://github.com/kubernetes/kubernetes/pull/67611)

[2018-09-06 01:39] mohammedzee1000 opened #68313 "Failing Tests : Up (multiple)"
# Failing Jobs
[sig-release-1.12-blocking#gce-cos-1.12-alphafeatures](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gce-cos-1.12-alphafeatures)
[sig-release-1.12-blocking#gke-cos-1.12-default](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gke-cos-1.12-default)
[sig-release-1.12-blocking#gke-cos-1.12-reboot](https://k8s-testgrid.appspot.com/sig-release-1.12-blocking#gke-co

[2018-09-06 02:01] mohammedzee1000 commented on #67606
Hey we still have upgrade tests failing here

[2018-09-06 02:02] mohammedzee1000 commented on #67606
cc @janetkuo @neolit123 @k82cn @tpepper @AishSundar

[2018-09-06 02:31] mohammedzee1000 opened #68314 "Failing tests : [sig-storage] Multiple on gke-gci-new-gci-master-upgrade-cluster-parallel"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-parallel)
# Failing Tests
[PersistentVolumes NFS when invoking the Recycle reclaim policy should test that a PV becomes Available and is clean after the PVC is deleted.](https://k8s-gubernator.appspot.com/buil

[2018-09-06 02:37] Chili-Man commented on #65013
We wanted to replace all of the kubernetes cluster nodes to different node instance types, so we started off by cordoning all of the nodes, but it surprisingly caused an outage for us.

As @joekohlsdorf  pointed out, the only documentation around cordoning is `Mark node as unschedulable`, which I took to mean that new pods can not be scheduled on those nodes. It was surprising behavior to find out

[2018-09-06 02:43] feiskyer commented on #64188
@PatrickLang @madhanrm @dineshgovindasamy Is this true? Do we still need to invoke cni for each container in RS5? And even with new cni dns capabilities (#67435)?

[2018-09-06 03:05] resouer opened #68315 "Merge equivlence class cache into predicates pkg"
**What happened**:

Recently, there're more and more requirements occur that we should have a fine grained usage of equivalence class cache in scheduling path.

For instance

1. when doing invalidation for some cached result, we want to only do this for Nodes in the same topology domain instead of all Nodes in cluster.

2. there're some exceptions we need to bypass eCache, i.e. re-scheduling of fa

[2018-09-06 03:06] Cloudzp opened #68316 "Kubelet failed to clear subpath dir if the backend NFS volume is not available"
/kind bug

**What happened**:
Kubelet failed to clear subpath dir if the backend NFS volume is not available.
**What you expected to happen**:
When the backend NFS volume is not available, the subpath can also be successfully cleared.

**How to reproduce it (as minimally and precisely as possible)**:
Mount an network volume and disconnect/de-provision target.
[code]

**Anything else we need to kno

[2018-09-06 03:12] Cloudzp commented on #68316
/sig storage

[2018-09-06 03:14] lichuqiang opened #68317 "MountOptions for local volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:

After #63011 in, we can have block as volume source for local PVs (in fact I think most of the users would behavior this way). So I think it fairly reasonable to add MountOptions support in local volume.
I've indeed received such requirement from my team and also folks from other companies @wenlxie

/cc

[2018-09-06 03:14] lichuqiang commented on #68317
/assign

[2018-09-06 03:16] Cloudzp commented on #68316
/kind bug

[2018-09-06 03:31] wenlxie commented on #68317
One case  is we  need `noatime` mount option to improve performance.
I think this is a useful feature for local volume.

[2018-09-06 03:32] splnanthakumar commented on #68193
me@root-5795 ~ $ kubectl get po,svc -n kube-system
NAME                                        READY     STATUS             RESTARTS   AGE
pod/kube-apiserver-192.168.1.162            1/1       Running            1          54d
pod/kube-controller-manager-192.168.1.162   1/1       Running            3          54d
pod/kube-dns-c74b848d4-8qp94                3/3       Running            3          5

[2018-09-06 03:35] tpepper commented on #68313
/assign @barney-s
could you take a look at these?

[2018-09-06 03:42] tpepper commented on #67953
/sig cluster-lifecycle
/sig gcp

[2018-09-06 03:44] tpepper commented on #67606
@k82cn any update?
/assign @k82cn

[2018-09-06 03:45] leeadh opened #68321 "KUBE DNS Issue with Node JS there is error 1 Error: getaddrinfo EAI_AGAIN"
Would like to ask how to resolve this issue. I am running a node JS app and one of my methods is as below:

[code]

Locally it is working fine. However, when I deploy to kubernetes, I get this error. there is error 1 Error: getaddrinfo EAI_AGAIN api.openweathermap.org api.openweathermap.org:80

So i assume its something to do with my kubedns issue and I did a bit of digging and I find that my dns

[2018-09-06 03:47] tpepper commented on #67603
@kubernetes/sig-network-bugs assistance needed triaging

[2018-09-06 03:48] nabice opened #68322 "What's the usage of netexec.go?"
Is it safe to allow anyone to exec any command?

https://github.com/kubernetes/kubernetes/blob/a5550441252802dcedf90181b425a84cd87b3b3e/test/images/netexec/netexec.go#L266

[2018-09-06 03:49] tpepper commented on #67603
Has been failing mostly in sync with "[HPA] Horizontal pod autoscaling", but not quite...and failing continuously, even when that passed at times, so ... probably distinct.

[2018-09-06 03:52] lichuqiang commented on #68317
Took a closer look at the code, seems we've already distinguished volume source type, and tried to [fetch mountOptions for that of block](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/local/local.go#L287).
So we might not need to do anything special, but just enable `SupportsMountOption()` in local volume

[2018-09-06 04:36] #68170 closed

[2018-09-06 04:40] k82cn commented on #67606
@tpepper , addressing comments of #64954 ; closing to get lgtm from reviewer :)

[2018-09-06 05:19] beary commented on #21858
Did you resolved?

[2018-09-06 05:55] #65713 closed

[2018-09-06 05:57] 360CodeSafe opened #68325 "os.Kill can not be trapped"
https://github.com/kubernetes/kubernetes/blob/4465858afdf39425c6752a57dbaa2a2e121b2e42/pkg/kubectl/rollback.go#L148

[2018-09-06 06:01] 360CodeSafe commented on #68325
/sig bugs

[2018-09-06 06:04] nabice commented on #68322
/sig release

[2018-09-06 06:12] 360CodeSafe opened #68326 "nil Context"
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/util/iptables/iptables.go#L426

Do not pass a nil Context, even if a function permits it. Pass context.TODO if you are unsure about which Context to use.
via https://golang.org/pkg/context/

/sig release
/kind bug

[2018-09-06 06:15] CaoShuFeng commented on #68202
replying: https://github.com/kubernetes/kubernetes/pull/68208#issuecomment-418381236

Looks like https://github.com/kubernetes/kubernetes/pull/68208 doesn't fix this issue.
Do you have another example of this issue?

[2018-09-06 06:17] 360CodeSafe opened #68327 "Wrong usage of strings.TrimLeft"
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/test/e2e/kubectl/kubectl.go#L461

TrimLeft returns a slice of the string s with all leading Unicode code points contained in cutset removed.
To remove a prefix, use TrimPrefix instead.

/sig release
/kind bug

[2018-09-06 06:24] 360CodeSafe opened #68328 "Missing defer keyword"
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/util/threading/deadlock-detector.go#L103

Lock, Then Unlock withour defer.

/sig release
/kind bug

[2018-09-06 06:40] NickrenREN commented on #68314
I think the cause may be the permission changes in my commit: https://github.com/kubernetes/kubernetes/pull/63011/commits/5bc823f141efde1e086f6696c26a197b78f9cf52, in PR: https://github.com/kubernetes/kubernetes/pull/63011
And there is also a bug for gce ssd @msau42 fixed here: https://github.com/kubernetes/kubernetes/pull/68312
We need to cherry-pick this to 1.11 ? @msau42

[2018-09-06 06:50] 360CodeSafe opened #68332 "Wrong usage of `break`"
/kind bug
/sig release
`break` switch or `break` loop
`switch` do not need `break`
Sometimes we expect to break `for loop`.

Such as:
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/cluster/images/etcd-version-monitor/etcd-version-monitor.go#L252

https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/volume/flocker/flocker

[2018-09-06 06:51] NickrenREN commented on #65392
@adampl the AccessModes(`RWO` and `RWX`) will actually not affect the mount operations. It is designed for PVC/PV matching originally, then it is used for volume attaching(not for volumeMounts).
We need to clean up the AccessModes stuff too, and sent an issue out before ,https://github.com/kubernetes/kubernetes/issues/67936, will start working soon

[2018-09-06 06:54] pohly commented on #66649
"Lubomir I. Ivanov" <notifications@github.com> writes:

Right now, all flags and options are defined inside
test/e2e/framework/test_context.go. That way there can't be any
conflicts between different tests.

But defining config options for tests inside the framework makes it
impossible to add new or external tests without touching the
framework. A test author needs the ability to define and retrie

[2018-09-06 07:06] xiaoxubeii commented on #68332
In https://golang.org/ref/spec#Break_statements:

So although Go's switch statements break implicitly, but it is not a big problem.

[2018-09-06 07:07] tanshanshan commented on #68326
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/util/iptables/iptables.go#L429-L436

maybe use nil for run L434

[2018-09-06 07:11] SataQiu opened #68333 "kubeadm can not apply user specified listen-client-urls for local etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I use kubeadm to create a cluster, the specified parameter "listen-client-urls" does not work.
kubeadm init --config=kube-config.yaml fail with connection refuse for get http://127.0.0.1:2379
I think the element 'listen-client-urls' is unrecognized if the customized value is not equal '127.0.0.1'
Here is my kube-confi

[2018-09-06 07:15] xiaoxubeii commented on #68325
Indeed, SIGKILL 9 Kill can't be caught or ignored in POSIX.

[2018-09-06 07:18] 360CodeSafe opened #68335 "Wrong position of defer"
/kind bug
/sig release
when we use `defer xxx.close()`, we must make sure xxx is not nil. So before we use it, we should check err value first.

Such as:
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/util/mount/mount_linux.go#L409
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/kubelet/network/dns/dns.go#L395
h

[2018-09-06 07:30] 360CodeSafe opened #68336 "`defer` in infinite loop"
/kind bug
/sig release

`defer` call will never be execute.
https://github.com/kubernetes/kubernetes/blob/8e329f1c3cbb1354c27b6135990c5544f14d2a17/pkg/cloudprovider/providers/vsphere/vsphere_util.go#L301

[2018-09-06 07:33] 360CodeSafe opened #68337 "Infinite recursive call"
/kind bug
/sig release

Such as:
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/cloudprovider/providers/cloudstack/cloudstack_loadbalancer.go#L242
https://github.com/kubernetes/kubernetes/blob/4bc9e94feec17d1980e733a08699255482d15f4e/pkg/client/chaosclient/chaosclient.go#L66

[2018-09-06 07:34] tanshanshan commented on #68335
I think even if the file is nil , maybe It doesn't matter

[code]

[2018-09-06 07:38] #60946 closed

[2018-09-06 08:22] uablrek opened #68338 "The ipset KUBE-LOAD-BALANCER-SOURCE-CIDR is not recogized as a hash set"
/kind bug
/area ipvs
/sig network

**What happened**:

Then the ipset `KUBE-LOAD-BALANCER-SOURCE-CIDR` is created it is not recognized as a hash set and the arguments family,maxelem,hashsize are not given.

**What you expected to happen**:

The `KUBE-LOAD-BALANCER-SOURCE-CIDR` should be created with the arguments mentioned above.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-09-06 08:31] 360CodeSafe commented on #68332
@xiaoxubeii
You can found that all of the `break` above are in for loops, so maybe sometimes coders want to break for loop.

[2018-09-06 08:34] 360CodeSafe commented on #68326
@tanshanshan
Yes, you are right, I just want to say:
Do not pass a nil Context, **even if a function permits it**

Not a big problem.

[2018-09-06 08:37] mgdevstack opened #68339 "Failure to promote non-string-literal e2e tests to Conformance"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Table-based e2e tests are not getting updated to [golden conformance list](https://github.com/kubernetes/kubernetes/blob/master/test/conformance/testdata/conformance.txt) leading to the following error- ( mentioned in https://github.com/kubernetes/kubernetes/pull/67612#issuecomment-418616392)
[code]
framework.ConformanceIt

[2018-09-06 08:38] 360CodeSafe commented on #68335
Sometimes it does matter, while `Close` can't handle nil correctly.
Maybe it is just a good practise.

[2018-09-06 08:38] mgdevstack commented on #68339
/sig testing

[2018-09-06 08:44] mgdevstack commented on #67607
Thank you @brahmaroutu, this is definitely a good available option to create Conformance docs for table based (cases based) e2e tests. In this case, one TestName and Description is sufficient.

Once #68339 is closed we can follow above Conformance doc pattern.

[2018-09-06 08:50] tnozicka commented on #64869
This is docummented here:
  https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/

TLDR: It is expected not to reschedule the statefulset pod while the node is down to avoid split brain / guarantee exactly once semantics.

I have encountered this few times myself, not really happy about the fact that it can't auto recover from such state, especially since I had only 1 pod

[2018-09-06 08:58] polym opened #68340 "MySQL StatefulSet not kill abnormal pod when RollingUpdate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

MySQL StatefulSet not kill abnormal pod when RollingUpdate.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. don't set env MYSQL_ROOT_PASSWORD  in below yaml, and kubectl apply -f
2. as MYSQL_ROOT_PASSWORD is not set,  mysql container in pod can't start up.
3. set e

[2018-09-06 08:58] bruceauyeung commented on #68039
already fixed by PR https://github.com/kubernetes/kubernetes/pull/68147 , closing this issue.
@jpbetz @timothysc @gyuho

[2018-09-06 08:58] #68039 closed

[2018-09-06 09:02] polym commented on #68340
/sig scheduling

[2018-09-06 09:16] verb commented on #1615
Update: ShareProcessNamespace is graduating to beta in 1.12. I'll leave this issue open until GA.

/remove-lifecycle stale

[2018-09-06 09:31] obnoxxx commented on #67999
@humblec first cut a dedicated fix for this in PR#68343

[2018-09-06 09:32] obnoxxx commented on #67999
@humblec writes

Please explain why you prefer one patch to solve two different problems if we can separate it into two changes (where the second one would build upon the first). I would like to understand. :-)

[2018-09-06 09:36] delgod commented on #65544
`t3.xxxxx` doesn't work - https://github.com/awslabs/amazon-eks-ami/issues/27.
but it logs looks very similar.

[2018-09-06 09:36] FengyunPan2 commented on #68270
/cc

[2018-09-06 09:43] felixfbecker commented on #68202
Sure, just send a patch with
[code]
any path reproduces the issue.

[2018-09-06 09:58] sttts commented on #65869
We have not closed the insecure port yet (only deprecated it). I guess this means this issue must be reopenend.

[2018-09-06 10:01] CaoShuFeng commented on #68202
I hope https://github.com/kubernetes/kubernetes/pull/68346 would be a fix.

[2018-09-06 10:12] #63462 closed

[2018-09-06 10:19] WoodProgrammer commented on #61103
I've wrote python script shown as below and handled 415 problem .

[code]

I've a some problem at before but when changed the header of PATCH request . I can update my configmaps . But attention to the token permission (Service Account)

[2018-09-06 10:32] wgliang commented on #68337
Cool issue.
/assign

[2018-09-06 10:38] wgliang commented on #68336
/assign

[2018-09-06 10:42] alinbalutoiu commented on #64188
@feiskyer the PR that you linked it's unrelated to this issue. The CNI should be called for the sandbox pod which is the infra container. All the other containers created within the same pod are sharing all network details, excepting DNS. This is an issue in 1709 and 1803 where not everything gets replicated properly to the other containers. As a workaround for this, you need to call AttachEndpoin

[2018-09-06 10:45] wgliang commented on #68336
@BaluDontu
Maybe just cleanUpDummyVMLock.Lock()  is you want? The `defer` is  in infinite loop, and will never execute. I hope to get your reply to help fix it.

[2018-09-06 10:49] lystor opened #68352 "Pods in StatefulSets doesn't have DNS A record if service is non-headless"
/kind bug

Hello

Pods in StatefulSets doesn't have DNS A record if ClusterIP service is non-headless (see test1).

If ClusterIP service is headless pods have A records (see test2).

Kubernetes 1.10.3
[code]
[code]
[code]
[code]
[code]
Please fix the bug.

Thank you

**Environment**:
- Kubernetes version: 1.10.3
- Cloud provider: Docker for Windows 18.06.1

[2018-09-06 10:56] wgliang commented on #68335
@tanshanshan  Although File.Close() can handle cases like this, serverConn.Close() will cause panic to happen. Anyway, these are bugs that exist.
/assign

[2018-09-06 11:35] yastij commented on #65392
@msau42 @jingxu97 - One of the solutions would be to differentiate between a shutdown and a reboot. IIRC cloud providers differentiate reboots from shutdown and trigger an eviction logic only if it is a real shutdown. This could solve the issue of the node coming back, Then we could mark pod as stale using PodConditions and mount volumes only for non-stale pods.

[2018-09-06 11:36] okgolove commented on #40651
+1

[2018-09-06 11:37] adampl commented on #67936
@NickrenREN Did you test this on a multi-node cluster? Keep in mind that Access Modes work on node level, so multiple pods on the same node can access an RWO volume: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
I guess this is because volumes are mounted by nodes, not individual pods.

BTW, I don't understand why `AccessModes` in PVC is an array, because according t

[2018-09-06 11:39] uablrek commented on #67799
@islinwb They do work, I have tested. There are no old ipset's since the cluster is started fresh with an ipv6-only configuration. Do you upgrade your cluster from ipv4-only to ipv6-only without rebooting the nodes? That is a very complex upgrade and IMHO it should not be supported. When dual-stack comes I think it will be easier, like;

1. Upgrade to k8s with dual-stack support while still using

[2018-09-06 11:39] wgliang commented on #68327
/assign

[2018-09-06 11:42] #62276 closed

[2018-09-06 11:59] shyamjvs opened #68355 "Controller-manager crashloop in 5k-node load test"
In the latest run of gce-scale-performance (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/208), load test failed. The following happened:

- at 10:24:05 (~1.5h after the start), pods stopped being created:

[code]

- from the [c-m logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/208/artif

[2018-09-06 11:59] shyamjvs commented on #68355
cc @kubernetes/sig-scalability-bugs

[2018-09-06 12:02] wojtek-t commented on #68355
kubelet logs from that run seem to be necessary to debug it (I mean kubelet from master VM)

[2018-09-06 12:05] shyamjvs commented on #68355
So I did check [kubelet logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/208/artifacts/gce-scale-cluster-master/kubelet.log) and I see a lot of ContainerStarting failures in a row for c-m, but not sure if I find anything much useful there. Let me look fruther.

[2018-09-06 12:10] lystor opened #68356 "Pods in StatefulSets don't have DNS A record if service is NodePort"
Hello

Pods in StatefulSets don't have DNS A record if ClusterIP service is NodePort.

Kubernetes 1.10.3
[code]
[code]
[code]
[code]

Please fix the bug.
Thank you

/kind bug
/sig network
@kubernetes/sig-network

[2018-09-06 12:13] k82cn opened #68357 "Bring Batch Capability into Kubernetes"
During the implementation of [kube-batch](https://github.com/kubernetes-incubator/kube-batch) and the discussion of [Coscheduling](https://github.com/kubernetes/features/issues/583), there're several topics/requirements to support batch workload. I list them here; some items already has related discussion, e.g. Topology, some items are not. I'd like to open related issues (by specific use case) on

[2018-09-06 12:14] lystor commented on #68356
/sig bugs

@kubernetes/sig-bugs

[2018-09-06 12:16] lystor commented on #68352
/sig bugs

[2018-09-06 12:46] aalubin commented on #40651
+1

[2018-09-06 12:47] mjudeikis commented on #64912
/remove-lifecycle stale

[2018-09-06 13:00] chrisohaver commented on #68304
With no ready nodes available, I believe a Deployment cannot get its pods scheduled.

[2018-09-06 13:16] chrisohaver commented on #68321
The output of `kubectl get endpoints` suggests this is probably a CoreDNS deployment (CoreDNS uses the same service name "kube-dns").

Nevertheless, the error i think means a timeout - which can mean
* that the pod cannot route to the DNS service.
* Or that coredns is crashing/not responding
* Or upstream servers are timing out

Try ...
* `kubectl -n kube-system get pods` ... to show status if dns

[2018-09-06 13:16] chrisohaver commented on #68321
/sig network

[2018-09-06 13:19] mohammedzee1000 commented on #66243
/reopen tests failing again

Adding more failing tests:

[Loadbalancing: L7 GCE [Slow] [Feature:NEG] rolling update backend pods should not cause service disruption](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/19198)
[Loadbalancing: L7 GCE [Slow] [Feature:NEG] should be able to create a ClusterIP service](https://k8s-gubernator.appspot.com/bui

[2018-09-06 13:20] mohammedzee1000 commented on #66243
/remove-priority important-soon
/priority critical-urgent

[2018-09-06 13:34] mohammedzee1000 commented on #66338
@neolit123 We again have failures of kubeadm in gce

[2018-09-06 13:35] superdave commented on #53533
I have an interest in making this work, and I have the skills and a number of machines to test on. If I wanted to contribute, where is the best place to start?

[2018-09-06 13:35] mohammedzee1000 commented on #66338
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-master/9

[2018-09-06 13:38] blerko opened #68358 "Possible race condition in creating network connections in ingress controller namespace instead end up orphaned in the root namespace on a kubernetes node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A network connection intended to be made in the namespace of kubernetes ingress controller was instead orphaned an left in the root namespace on a kubernetes node

**What you expected to happen**:
That the connection was made in the namespace of the ingress controller.

**How to reproduce it (as minimally and precisely as

[2018-09-06 13:40] blerko commented on #68358
@kubernetes/sig-network-bugs

[2018-09-06 13:40] neolit123 commented on #66338
@mohammedzee1000 yes, the SIG knows about this one.
it's probably unrelated to our work, but we are investigating.

[2018-09-06 13:40] mohammedzee1000 opened #68359 "Failing Test: Beforesuite gce-scale-correctness"
# Failing Jobs
[sig-release-master-blocking#gce-scale-correctness](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness)
# Failing Tests
[Beforesuite](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/160)
# Triage Results
[Beforesuite](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kuberne

[2018-09-06 13:41] neolit123 commented on #66338
BTW, not sure if anyone else noticed but we removed `kubeadm-gce-selfhosting` as explained a couple of comments above.

[2018-09-06 13:42] smarterclayton commented on #64869
System level support would be a fencing controller - there are several sets
of folks who are attempting that right now.

On Sep 6, 2018, at 4:52 AM, Tomáš Nožička <notifications@github.com> wrote:

This is docummented here:
https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/

TLDR: It is expected not to reschedule the statefulset pod while the node
is down to avoid spli

[2018-09-06 13:51] danwinship commented on #58956
OK, can you open a new bug then, as this bug was about `iptables-restore: invalid option -- '5'` not `iptables-restore: line 7 failed`. (Though, apparently, the failure can occur in both the iptables and ipvs code?)

At startup, kube-proxy runs the cleanup code for all 3 proxies (userspace, iptables, ipvs), so that if you were previously running in a different mode, that gets cleaned up before it

[2018-09-06 14:21] yastij commented on #61420
@php-coder @stlaz - Is this making it to the 1.12 ?

[2018-09-06 14:24] mleneveut opened #68362 "Cronjob creates a job but no pod is created to run it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created a cronjob. It creates a job, but no pod is created to actually run the job.

**What you expected to happen**:
A pod is created every hour as scheduled.

**How to reproduce it (as minimally and precisely as possible)**:
I pushed the descheduler v0.7.0 image in my Azure Container Registry.

I created a configmap f

[2018-09-06 14:28] mleneveut commented on #68362
@kubernetes/sig-scheduling-bugs

[2018-09-06 14:39] beatlejuse commented on #57801
I have the same problem.
In DaemonSet it works, but in deployment - no.
I add imagePullSecrets to deployment and to ServiceAccount both.
I see imagePullSecrets string in "kubectl edit po" but pod stay in status "ImagePullBackOff"

Environment:
Bare-metal CentOS 7.5
Docker 18.06.1-ce
Hyperkube 1.11.2
etcd 3.3.9
kubectl 1.11.2

[2018-09-06 14:45] mleneveut commented on #68362
My bad, sorry, I first tried with cron "*/30 * * * *" and it was not working. But we have to wait for 30 minutes before the first job is ran. I thought it would launch a first one immediatly, and the other one 30 minutes after.

I then tried with "5 * * * *" and waited for my clock to reach 16h05, but perhaps I didn't wait enough.

With "*/1 * * * *" I see the pod being created every minute, so it

[2018-09-06 14:45] #68362 closed

[2018-09-06 14:45] #26507 closed

[2018-09-06 14:47] nikopen commented on #65392
Indeed, as I mentioned above.

i.e.: Clear pods before actually shutting down, in a gracious way, ensuring pods have been deleted.

[2018-09-06 14:56] mikedanese commented on #67975
It's a version skew issue. We need to wait a few releases before enabling server auth validation when making connections from apiserver to kubelets. Fix is merged as of 1pm yesterday and we are waiting for a successful deployment. However the release pipe is clogged for reasons unrelated right now.

[2018-09-06 14:56] beatlejuse commented on #57801
its my manifests:
https://gist.github.com/beatlejuse/3bd6875b574fc2940a282366217b1686
https://gist.github.com/beatlejuse/7afe3be88cd3896c398db38f3c5983cc
and deploy script:
[code]

[2018-09-06 15:12] tpepper commented on #66243
/milestone v1.12

[2018-09-06 15:18] neolit123 commented on #66649
On 6 September 2018 at 09:56, Patrick Ohly <notifications@github.com> wrote:

i think there is a bit of an underlying architectural problem here.
the framework does not have to know about the existence of individual
tests, but rather the framework should be used for individual tests.
if it's the other way around then this is more of a "library" not a
framework.
and then all tests should be added i

[2018-09-06 15:26] mikedanese opened #68366 "Deprecate and remove debugging logging handler on apiserver"
Audit logging replaced a majority of valid uses of this endpoint. It provides an easy escalation and is a security concern.

/sig api-machinery

@liggitt @cjcullen

[2018-09-06 15:32] tpepper commented on #67600
TLS errors
connection refused
503 service unavailable
especially around metrics and healthz in ways that make me suspect things didn't start correctly.  Or perhaps API mismatch?

/cc @grayluck @MrHohn
...you've looked at some similar failures in the past.  Any chance you might give a look over this and #67603 ?

[2018-09-06 15:33] tnozicka commented on #64869
I think this is ok to close, given it's the intended behaviour and the system level feature is tracked elsewhere.

/close

[2018-09-06 15:33] #64869 closed

[2018-09-06 15:36] tpepper commented on #67600
[code]
in both #67603 and here looks like api mismatch?

[2018-09-06 15:42] visheyra opened #68367 "DNS resolution issue when getting response from pod IP instead of service IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have pod that needs to resolve a service that exposes a pod. Such resolution fails due to `reply from unexpected source: 100.96.3.202#53, expected 100.64.0.10#53` where 100.96.3.202 is the ip of my kubedns pod and where 100.64.0.10 is the ip of the kube-dns service. Also I'm using the kubedns setup with skydns not the c

[2018-09-06 15:42] tpepper commented on #68294
Symptoms here look similar to #67603 and #67600

[2018-09-06 15:43] visheyra commented on #68367
/sig network

[2018-09-06 15:43] visheyra commented on #68367
/sig dns

[2018-09-06 15:45] tpepper commented on #66243
/cc @freehan @bowei
any idea why this would have seemingly regressed?

[2018-09-06 15:48] mikedanese commented on #66754
I would prefer to fix the issue on the nginx side. Rather than building more and more complex sidechannel encodings of user info.

[2018-09-06 15:59] pohly commented on #66649
"Lubomir I. Ivanov" <notifications@github.com> writes:

Exactly. Right now framework and tests are not separated like that,
which is what I am trying to fix here.

I don't care whether it's called a framework or a library. The main
binary is defined by the test suite author, which calls functions in
test/e2e/framework, so I guess it's more like a library. OTOH, the test
suite has to be set up in a

[2018-09-06 16:43] deitch opened #68369 "applying a service twice with clusterIP set to blank returns an error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:

1. Create a small file `service.yml` with a Service in it, and `clusterIP: ""`
2. `kubectl apply -f service.yml` - the service is created
3. `kubectl apply -f service.yml` - get an error

Then error is the classic:

[code]

I did check the annotation `kubectl.kubernetes.io/last-applied-configuration` to see th

[2018-09-06 16:46] bowei commented on #66243
NEG API was disabled temporarily. @freehan  -- can we disable these until the API is back?

[2018-09-06 16:46] deitch commented on #68369
/sig cli
/sig apps

[2018-09-06 16:55] liggitt commented on #68369
explicitly setting the field to "" will attempt to clear it on the second application.

If you don't want to attempt to control that field, omit it from the manifest

[2018-09-06 16:56] liggitt commented on #68369
/remove-sig cli

[2018-09-06 16:58] deitch commented on #68369
Hey @liggitt . I put on the cli sig because when I ran it with `--v=10`, it was clear that at least some of the reconciliation was happening client-side.

[2018-09-06 16:59] deitch commented on #68369
Right, even if I don't change the field, just do `kubectl apply -f ` twice.

If so, then `clusterIP: ""` shouldn't be a valid setting, since it is not apply-able twice. Yet the docs say it is.

[2018-09-06 17:01] liggitt commented on #68369
Correct, the cli is submitting what is contained in your manifest. If you don't intend to control the clusterIP field, omit it from your manifest.

That doesn't follow. Somethings are valid on creation requests and not on update requests.

[2018-09-06 17:06] deitch commented on #68369
That does make automated operation (CD pipeline) far more difficult, and makes it easy to violate the "principle of least surprise".

What else is there like that in the API with `apply`?

[2018-09-06 17:09] liggitt commented on #68369
The solution is to only include the fields in your manifest you intend to set to those values.

[2018-09-06 17:15] fberglin commented on #68304
Thanks for replying.

Does the controlPlaneEndpoint also imply that the node is tainted for deployment because without it, the CoreDNS POD's are deployed and become 'Pending' as expected.

I'm running into problems when I try to join a worker node, I don't know if it's related:

[code]

[code]

Thanks,
// Fredrik

[2018-09-06 17:17] deitch commented on #68369
So a git repo that has a `kubernetes/` directory with ymls to apply would have to change based on the first time it is applied by CD vs the second?

If you mean, "so never set `clusterIP: ""`, ok, but then it should not be a valid accepted field.

[2018-09-06 17:27] worldsayshi commented on #49493
https://xkcd.com/979/

[2018-09-06 17:30] msau42 commented on #68314
I think only the symlink creation changes need to be ported to 1.11.  I created a PR #68371

The NFS recycle test failure fix has been backported to 1.11 and merged in #67954 2 days ago, but the upgrade tests seem to be using a test version that doesn't include the commit.

[2018-09-06 17:41] kacole2 commented on #64021
I was recently made aware of this issue, however, it's not being tracked for Kubernetes 1.12 release. Is there a reason why an issue in kubernetes/features was never opened? I only ask because it doesn't have any visibility to folks on the release team. So it may not be added to blogs, release notes, etc.

[2018-09-06 17:45] adampl commented on #65392
@nikopen For planned shutdown the graceful way is `kubectl drain`.

The problem is with unresponsive node or kubelet. Even draining can fail in the middle of the process if the node/kubelet unexpectedly crashes or loses connection, so the cluster must be able to isolate the failed node (AKA fencing). IMHO it should be like:

1. cordon the node
2. initiate shutdown
3. check shutdown
4. force delete

[2018-09-06 17:48] foxish opened #68372 "Failing testsuite gce-device-plugin-gpu-1.11"
This testsuite is failing or very flaky and blocking 1.11.3.
Can someone triage the issue?

@yguo0905 @mindprince
https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-device-plugin-gpu-1.11

[2018-09-06 17:49] foxish commented on #68372
@kubernetes/sig-node-bugs

[2018-09-06 18:03] dougm commented on #64021
We were missing a release note, but #66795 has it now and it'll be included in the next generation of [CHANGELOG-1.12.md](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md)

I think we skipped k/features for the same reason as https://github.com/kubernetes/features/issues/501#issuecomment-344034566

"Since this is an entirely VMWare feature, it does not need to be tracked here

[2018-09-06 18:06] kacole2 commented on #64021
@dougm thanks for the clarification. I'm still learning over here too. Let me chat with some release folks and see what's gray area.

[2018-09-06 18:17] shyamjvs commented on #68355
Thanks @liggitt !
Closing this one..

[2018-09-06 18:17] #68355 closed

[2018-09-06 18:20] mindprince commented on #68372
cc @jiayingz

The failure doesn't look related to this test. Are the other tests passing?

[2018-09-06 18:26] mindprince commented on #68372
https://k8s-testgrid.appspot.com/wg-resource-management#Summary
The GPU test is passing for 1.10, 1.12 and master. As far as I know nothing GPU related went into 1.11 (but I haven't been keeping up). @jiayingz will know for sure.

[2018-09-06 18:37] derekwaynecarr commented on #53533
@superdave please put together a KEP in kubernetes/community describing how you would like swap to be supported, and present it to sig-node.  we would love to have your help.

[2018-09-06 18:39] msau42 opened #68373 "E2E: [sig-storage] In-tree Volumes [Driver: gluster] [Testpattern: Inline-volume (default fs)] subPath should fail for new directories when readOnly specified in the volumeSource"
Failing on gke only:

https://k8s-testgrid.appspot.com/sig-storage#gke
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/31372

[code]

@kubernetes/sig-storage-bugs

[2018-09-06 18:41] davidz627 commented on #68373
/assign

[2018-09-06 18:41] pohly commented on #66649
"Lubomir I. Ivanov" <notifications@github.com> writes:

That would make sense. But then Ginkgo and the test module still remain.

It might be possible to import flag definitions from the standard flag
package into some other package and the never call flag.Parse. pflags
supported that.

Has someone looked at https://github.com/jessevdk/go-flags? It seems to
do several things very well. It can gene

[2018-09-06 18:42] shahbazahmed1269 commented on #67572
I am facing a similar issue while exposing 2 of my pods via service of type `NodePort` in minikube cluster of a single node.  Kubernetes version is `v1.10.0`. I have checked that the mode of `kube-proxy` is `iptables` and  load balancing strategy is random.

When I access my pod using `nodeIP:port` it only serves the request to the same pod and never to the other. Is this expected behaviour?

[2018-09-06 18:48] displays-resed commented on #64586
@cjbottaro , may I ask how you resolved this, sir?

[2018-09-06 18:49] sbeckwithiii commented on #64586
@cjbottaro , may I ask how you resolved this, sir?

[2018-09-06 18:50] #61815 closed

[2018-09-06 18:54] neolit123 commented on #66649
On 6 September 2018 at 21:43, Patrick Ohly <notifications@github.com> wrote:

this might be a good option.

i haven't tried:
https://github.com/jessevdk/go-flags

we had a chat ealier with @BenTheElder and the idea of having
something maintained by the k8s team made a lot more sense.
i don't think we would be able to get what we want from other
libraries for this.

lubomir
--

[2018-09-06 19:04] liggitt commented on #68369
The behavior that makes that acceptable on create and not on update is part of the service rest handler, which allocates cluster IP on creation of the service and does not permit clearing it via update.

this behavior is not possible to change and remain backward compatible

/close

[2018-09-06 19:04] #68369 closed

[2018-09-06 19:11] fberglin commented on #68304
Hi again,

The join problems seems to be related. If I remove the controlPlaneEndpoint directive from kubeadmin-config.yaml I can join worker nodes as expected and as soon as I deploy weave.net as CNI everything comes up as expected.

I'm really at my limits here when it comes to troubleshooting and the usually vast and bottomless fountain of wisdom that is the internet is coming up blank.

Thank

[2018-09-06 19:11] deitch commented on #68369
Understood from the technical perspective.

From a usage perspective (the important part), it creates hurdles and makes automation difficult. At the least, I think we should deprecate the `clusterIP: ""` if you cannot use it twice.

[2018-09-06 19:12] pohly commented on #66649
I had another look at my own code - it's been too long already! ;-)

What I had forgotten is that a value from a Viper config will already update the same value as the flag package, thanks to `viperUnmarshall` in https://github.com/pohly/kubernetes/commit/f7cb59474eb187b6d3fcfcc090c83eb292590ae8#diff-e00287b5331f6d39959423afadb6b368R473.

So the situation now is that all tests that define their ow

[2018-09-06 19:15] derekwaynecarr commented on #51150
since 1.9, we support generic object count quota for all namespaced resources.

for pods in particular, its right that `pods` maps to non-terminal pods, but you can also use `count/pods` and it maps to all pods (terminal and non-terminal).
there are two syntaxes.

"pods" - controls number of non-terminal pods.
"count/pods" - controls number of pods (terminal or not)

see https://github.com/kuberne

[2018-09-06 19:15] #51150 closed

[2018-09-06 19:59] tpepper commented on #66243
/assign @freehan

[2018-09-06 20:18] twittyc commented on #68270
Hey guys, We are getting this same problem with the OpenStack Cloud Provider.

[code]

[2018-09-06 20:27] fedebongio commented on #68115
/assign @wenjiaswe

[2018-09-06 20:31] fedebongio commented on #68202
/assign @jennybuckley

[2018-09-06 20:31] fedebongio commented on #68224
/assign @jennybuckley

[2018-09-06 20:31] fedebongio commented on #68225
/assign @jennybuckley

[2018-09-06 20:32] fedebongio commented on #68227
/sig cloud-provider

[2018-09-06 20:51] #35359 closed

[2018-09-06 21:02] PatrickLang opened #68374 "Windows Server 2016 pods crash with alpha Hyper-V annotation on Windows Server version 1803"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I scheduled a pod based on Windows Server 2016 on a Windows Server version 1803 node with the alpha Hyper-V support enabled. The pod starts, but crashes after some time.

[code]

**What you expected to happen**:

No crashes

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy K8s v1.10.6 cluster

[2018-09-06 21:04] PatrickLang opened #68375 "WS2016 pods running with Hyper-V are not accessible via service IP on Windows Server version 1803 nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I scheduled a pod based on Windows Server 2016 on a Windows Server version 1803 node with the alpha Hyper-V support enabled. The pod starts, but does not get an IP. The service gets an external IP through load balancer, but its not accessible.

[code]

**What you expected to happen**:

Pod should be accessible via pod IP

[2018-09-06 21:04] MrHohn commented on #67600
Test output shows no DNS server can be reached, but logs say coredns pods are running (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4050?log#log):
[code]
cc @rajansandeep

[2018-09-06 21:05] BenTheElder commented on #68372
/cc @vikaschoudhary16

[2018-09-06 21:09] rramkumar1 commented on #68194
/assign @m1093782566

[2018-09-06 21:09] tpepper commented on #67975
This symptom's now looking green as of last night.

@mikedanese can you give a repo and commit id, or PR link to what's believed as the fix, for future reference if we see a similar regression?

Will close once that's recorded here.

[2018-09-06 21:10] rramkumar1 commented on #68338
/assign @m1093782566

[2018-09-06 21:10] rramkumar1 commented on #66509
/assign @m1093782566

[2018-09-06 21:12] rajansandeep commented on #67603
I'm looking into the issue. The CoreDNS configmap is incorrectly configured and hence the test fails.
/assign

[2018-09-06 21:18] lavalamp commented on #68115
I applied the label.

We will have to un-apply it if a targeted fix doesn't show up very soon :)

[2018-09-06 21:20] lavalamp commented on #68202
These should probably return 409 conflict errors.

[2018-09-06 21:24] Arvinderpal opened #68376 "Kubenet does not allow IPV6-only addresses on Pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kubenet errors if an IPV4 address is not assigned.

**What you expected to happen**:
Kubenet should not throw an error if an IPv6 address as assigned instead.

**How to reproduce it (as minimally and precisely as possible)**:
Just run with --network-plugin=kubenet and assign only an IPV-6 address to a pod (No IPv4).

**Anything else

[2018-09-06 21:26] tpepper commented on #67603
Given ^^^ I'm going to close this as a dup of #67600 for simplicity.

[2018-09-06 21:26] #67603 closed

[2018-09-06 21:27] tpepper commented on #67600
/assign @rajansandeep

[2018-09-06 21:53] tpepper commented on #68308
Does this need cherry picked back to 1.11?

Still have upgrade failures with this symptom, eg:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/4779

[2018-09-06 21:54] wenjiaswe commented on #68115
If no one has started working on it, I am on this now. I will try fix it ASAP.

[2018-09-06 21:56] awly commented on #67975
@tpepper unfortunately, this was fixed in our internal codebase.

The root cause was setting `--kubelet-certificate-authority` flag on kube-apiserver to cluster CA cert. In clusters where nodes are older version and didn't yet provision signed serving certs.

[2018-09-06 22:04] msau42 commented on #68308
No, the localssd tests are not failing in the upgrade suite

[2018-09-06 22:09] matt-duch commented on #66509
If it would be useful, I could probably gather a bit more data over the weekend (at the moment I'm thinking `iptables -L -v` and `iptables -L -v -t nat`) if that would be helpful. Let me know if that's the case, or if there's anything else you'd like me to log.

[2018-09-06 22:12] msau42 opened #68378 "CSI informer is spamming logs in non-alpha clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
csi informer starting is not flag gated:
https://github.com/kubernetes/kubernetes/pull/67803/commits/7d673cb8f0abc8896178dcdeeda393b61ee1e0c7#diff-f52821ec6236e86b02ca334533395c91R148

This is spamming non-alpha clusters:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gc

[2018-09-06 22:13] msau42 commented on #68378
/assign @saad-ali @verult
/priority critical-urgent

[2018-09-06 22:28] daschott commented on #68375
I am tracking this and will investigate once other high-priority investigations have concluded.

[2018-09-06 22:41] Random-Liu opened #68383 "HPA test is flaky"
This started after https://github.com/kubernetes/kubernetes/pull/68077 was merged. @DirectXMan12

The HPA test started being very flaky since then: https://k8s-testgrid.appspot.com/google-gce#gci-gce&width=5

The HPA test in containerd e2e become even more flaky since then with the same failure pattern: https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-gci&width=5

[2018-09-06 22:45] guineveresaenger commented on #68308
/reopen

I'm going to call this one a partial fix, as we are still seeing the "Set fsGroup for local volume should not set different fsGroups for two pods simultaneously" error on a whole bunch of test suites.

[2018-09-06 22:55] guineveresaenger commented on #68372
This failure is blocking a fix for master upgrade tests that are important for this release. If I followed the rabbit hole correctly. Further updates would be much appreciated. :)

[2018-09-06 22:59] msau42 commented on #68308
@guineveresaenger can you link me to other suites where it is failing?

[2018-09-06 23:01] jiayingz commented on #68372
I don't think this test failure would prevent merging any PRs.

[2018-09-06 23:01] yliaog commented on #64627
@timothysc @luxas could you help add the label  priority/critical-urgent to the PR (https://github.com/kubernetes/kubernetes/pull/67356), so it can merge?

[2018-09-06 23:04] BenTheElder commented on #68372
Possibly not, but release test suites failing block releases from being published, and upgrade tests depend on the previous release builds IIRC...

[2018-09-06 23:05] guineveresaenger commented on #68308
@msau okay "a whole bunch" was exaggerated, I apologize:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-parallel
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel

[2018-09-06 23:07] liggitt commented on #64627
Why is it critical? What is broken or blocked if it merges at the beginning of 1.13 instead of now?

[2018-09-06 23:10] guineveresaenger commented on #68294
I am closing this in favor of #67600.
/close

[2018-09-06 23:10] #68294 closed

[2018-09-06 23:13] msau42 commented on #68308
The upgrade tests are not failing with "gce-localssd", which is what this issue is addressing, so is not related.

The upgrade tests issues are being tracked in https://github.com/kubernetes/kubernetes/issues/68314

/close

[2018-09-06 23:13] #68308 closed

[2018-09-06 23:13] yguo0905 commented on #68372
Looks like the same problem is blocking https://github.com/kubernetes/kubernetes/pull/68381.

[2018-09-06 23:16] yguo0905 commented on #68372
From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu-stable1/2425/artifacts/bootstrap-e2e-master/serial-1.log, master was restarted before the error was printed.

[code]

[2018-09-06 23:41] divyenpatel commented on #68336
@wgliang yes we need to correct this as below in the `cleanUpDummyVMs` routine.

[code]

[2018-09-06 23:43] davidz627 commented on #68373
Unfortunately the exact error message that its failing with is lost due to a typo: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/in_tree.go#L286

I have fixed that typo locally and am running the tests repeatedly to try to reproduce the flake. have been unable to reproduce the flake on HEAD of Kubernetes in 5 runs so far, will continue running.

[2018-09-06 23:49] guineveresaenger commented on #67976
This test is not currently failing. Closing this until further notice.
/close

[2018-09-06 23:49] #67976 closed

[2018-09-06 23:50] guineveresaenger commented on #67975
/close

Thank you @awly!

[2018-09-06 23:50] #67975 closed

[2018-09-06 23:53] guineveresaenger commented on #67953
/close
Tests show they've been passing for a while. Not sure of the reason, but will close for now.

[2018-09-06 23:53] #67953 closed

[2018-09-06 23:57] jiayingz commented on #68372
As Yang pointed out, somehow the master node was rebooted, which can also be seen from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu-stable1/2404/artifacts/bootstrap-e2e-master/kube-master-configuration.log:
Sep 01 01:36:05.090088 bootstrap-e2e-master systemd[1]: Started Configure kubernetes master.
-- Reboot --
Sep 01 01:44:19.642160 bootstrap-e2e-

[2018-09-07 00:07] mindprince commented on #68372
/unassign
(To reflect that I am not actively working on this)

/assign @jiayingz

[2018-09-07 00:14] jiayingz commented on #68372
FYI, the failed ci-kubernetes-e2e-gce-device-plugin-gpu-stable1 test is running in the k8s-jkns-e2e-gke-gpus-beta project. @krzyzacy and @BenTheElder is it possible that we are trying to run too many gpu tests in this project at the same time that somehow caused the underlying testing infrastructure to turn off existing testing clusters in this project to start new ones?

[2018-09-07 00:26] spiffxp commented on #67862
More meaningfully, there are the GKE failures that are blocking v1.12's release:
- [sig-release-master-blocking#gci-gke](https://testgrid.k8s.io/sig-release-master-blocking#gci-gke)
- [sig-release-master-blocking#gci-gke-serial](https://testgrid.k8s.io/sig-release-master-blocking#gci-gke-serial)
- [sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster](https://testgrid.k8s.io/sig-relea

[2018-09-07 00:31] tanshanshan commented on #68332
so you mean that all of the break above use in switch ,but coder maybe want to break for loop @360CodeSafe

[2018-09-07 00:40] Pingan2017 commented on #68026
@dims  I have fixed some pkgs under /pkg/kubelet
- pkg/kubelet/images
- pkg/kubelet/kuberuntime
- pkg/kubelet/leaky
- pkg/kubelet/pleg

[2018-09-07 00:54] krzyzacy commented on #68372
cc @Random-Liu @yujuhong

compared the docker log between 1.11 and 1.12, I found on 1.11 there's a lot of

[code]

any clue if containerd has some new changes to 1.11? :-)

[2018-09-07 00:58] kow3ns commented on #67338
/close

[2018-09-07 01:01] BenTheElder commented on #68372
Discussed offline: but to be clear here, the projects are "leased" from a manager (boskos in test-infra) for each run, the testing has exclusive access to that GCP project.

[2018-09-07 01:03] krzyzacy commented on #68372
also if that's the case, it should affect *all* the gpu tests, rather than just 1.11 branch

[2018-09-07 01:26] WanLinghao commented on #68277
/assign

[2018-09-07 01:27] dashpole commented on #67862
Cluster creation should be working again.  Now we just have to track down the actual bugs, as it looks like the suites are still flaking on tests.

[2018-09-07 01:36] msau42 commented on #68223
Ah my bad. I was looking at `SetUp` but it's actually used in `MountDevice`

[2018-09-07 01:41] feiskyer commented on #68374
Are there any logs of iis container?

[2018-09-07 01:43] feiskyer commented on #68375
Are there same issues on Kubernetes v1.11 and master banch?

[2018-09-07 01:47] wanghonglei5181 opened #68389 "what happend? when i execute kubectl get pos -n kube-system"
0> kubectl get pods -n kube-system
panic: runtime error: index out of range

goroutine 1 [running]:
k8s.io/kubernetes/pkg/printers.PrintTable(0xc420e8ed00, 0x1893a00, 0xc420952000, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, ...)
	/workspace/anago-v1.11.1-beta.0.115+b1b29978270dc2/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/printers/humanreadable.go:366 +0x5d6
k8s.io/kubernetes/pk

[2018-09-07 01:48] feiskyer commented on #64759
I think this issue could be closed now based on above comments https://github.com/kubernetes/kubernetes/issues/64759#issuecomment-395909117.

@rfranzke Feel free to reopen if there're still issue.

/close

[2018-09-07 01:48] #64759 closed

[2018-09-07 01:51] tianshapjq commented on #65770
how about involving version into the plugin? i.e, adding pluginVersion into the pathInfo struct, and the version should follow the semantic version convension.
If plugin registers without version, we will simply accept the newest incomming plugin without verifying which one is newer, and not responsible for the disordered registrations.
BTW, I do think version is needed for plugins sooner or later

[2018-09-07 01:56] gnufied commented on #68223
Bind mounts for most part should transitively inherit parent mount options and hence we drop most mount options during bind mount.  Currently I am looking into a `systemd` issue infact where it appears to be dropping `_netdev` mount option when bind mounting.

[2018-09-07 02:08] msau42 opened #68391 "Ignore PVs in Pending phase for volume binding"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
`findMatchingVolumes` will match to volumes in Pending phase.  When this gets invoked by the volume scheduler, this can cause scheduler binding errors because the PV controller will update the object to Available.  This can increase the chance of encountering a partial binding failure if a pod requests m

[2018-09-07 02:08] 360CodeSafe commented on #68332
Just maybe. @tanshanshan

[2018-09-07 02:09] msau42 commented on #68391
cc @cofyc @lichuqiang @jsafrane

[2018-09-07 02:46] neolit123 commented on #68333
/sig cluster-lifecycle

[2018-09-07 02:46] neolit123 commented on #68333
/lifecycle active

[2018-09-07 02:49] wgliang commented on #68389
This issue had been fixed.
FYI #66379

[2018-09-07 02:52] neolit123 commented on #68389
thanks @wgliang for the info!

@wanghonglei5181 your are going to have to update to 1.12 so that this works for you.
1.12 will be released on the 25th of October.

thank you
/close

[2018-09-07 02:52] #68389 closed

[2018-09-07 02:55] neolit123 commented on #68284
@shausy
please provide more details about your setup as described here:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md

/sig network
/kind bug

[2018-09-07 02:56] neolit123 commented on #68276
@hacktastic
please re-open when you provide more details about your setup.
thanks!
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE.md

/close

[2018-09-07 02:56] #68276 closed

[2018-09-07 03:44] tpepper commented on #67975
Thanks @awly!  If I'm parsing that right, then this means it's not a forward breakage that would suggest others will hit this and thus a release note needed.  Part of my concern on this symptom was we should be informing users how not to similarly hit this, but that looks unlikely.

[2018-09-07 03:52] foxish commented on #68372
Please update this issue if there are any new updates on resolving these failures.

[2018-09-07 05:27] MikeSpreitzer opened #68395 "Sample apiserver does not allow actual use of its admission plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I made an extension apiserver based on the sample.  My extension apiserver adds an admission plugin, as does the sample.  But if that admission plugin is enabled from the command line then validation fails.

There are two problems.  For the first, note that https://github.com/kubernetes/kubernetes/blob/5c8ef7eb3b737f869d1

[2018-09-07 05:28] MikeSpreitzer commented on #68395
@kubernetes/sig-api-machinery-bugs

[2018-09-07 05:55] krmayankk commented on #68356
you need a headless service for this to work Your service needs to specify clusterIP: None

[2018-09-07 05:55] krmayankk commented on #68356
/sig apps

[2018-09-07 05:56] krmayankk commented on #68352
this is as designed, but @thockin  might have more thoughts.

[2018-09-07 05:56] krmayankk commented on #68352
/area dns

[2018-09-07 05:57] krmayankk commented on #68356
/area dns

[2018-09-07 06:11] yue9944882 commented on #68395
@MikeSpreitzer actually, we're facing the same problem in kube-apiserver. but currently we walkaround by explicitly registering all known builtin plugins.
  [https://github.com/kubernetes/kubernetes/blob/5c8ef7eb3b737f869d1b04a5b3837d4400b561a7/pkg/kubeapiserver/options/plugins.go#L101](https://github.com/kubernetes/kubernetes/blob/5c8ef7eb3b737f869d1b04a5b3837d4400b561a7/pkg/kubeapiserver/options

[2018-09-07 06:12] Madurad opened #68396 "Continuously JNLP pods are getting failed on kubernetes engine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'm running a Jenkins in Kubernetes Engine and it connects to JNLP slave pods when a job triggers, this was working successfully previously, but those JNLP pods are failed to start with following error nowadays.

[code]

Any help would be greatly appreciated.

[2018-09-07 06:15] yue9944882 commented on #68395
we're already working on simplifying the launch-flow for servers (including plugin initialization), but it'll take some time. maybe we can a better solution for this issue after that.

[2018-09-07 06:31] krmayankk commented on #68357
@k82cn are you working on this entire thing. Can this be broken down into mutiple issues. I am interested in working on this. Please let me know

[2018-09-07 06:32] brancz commented on #32326
/remove-lifecycle stale

We’re planning on doing this as part of a general metrics overhaul currently targeting for 1.13.

[2018-09-07 06:34] krmayankk opened #68397 "Bring MaxUnavailable Rolling Update to StatefulSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

 I would like to add maxUnavailable to StatefulSet  and i am seeking feedback and use cases from the community.

Many times we want stable network identity(StatefulSet) but would like to be able to do a rolling update on it without going one pod at a time . This helps in faster rollout of changes. Examples of such scenarios are:-

1:  My

[2018-09-07 06:35] krmayankk commented on #68397
/sig apps

[2018-09-07 06:42] wanghonglei5181 commented on #68389
thanks @neolit123   @wgliang

[2018-09-07 07:10] tao12345666333 commented on #37419
Same issue. What can I do? Thanks.

[2018-09-07 07:11] Baitanik commented on #62594
With same configuration , same pod one time was successfully started. then stopped it , minikube delete. now I am getting this readiness probe failed .
running with vm-driver=none

[2018-09-07 07:39] stlaz commented on #61420
@yastij The current plan is 1.13

[2018-09-07 07:57] kheirp commented on #54918
@gemfield  same exact problem as stated per the link you posted. I just added "no_proxy=<my_kube_apiserver_ip>" to the etc/environment file ... then the Kubeadm init finally worked .. but not sure if I should remove the no_proxy line form the etc/environment file again or not ?? .. thanks anyways for ur post

[2018-09-07 07:59] StefanSchubert commented on #65221
Problem still there (centOS7)
# kubectl version --short
Client Version: v1.11.2
Server Version: v1.11.2

[2018-09-07 08:01] johnzheng1975 commented on #67765
This is also a good try: Set XPACK_MONITORING_UI_CONTAINER_ELASTICSEARCH_ENABLED to false in kibana env.

[2018-09-07 08:06] gyliu513 opened #68398 "PodAntiAffinity do not support anti affinity based on groups"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Suppose I have two AZ, and want to create 4 pods with each 2 as a group, and I want those two groups has anti-affinity policy, so that each AZ can create two pods.

But the current PodAntiAffinity can only support anti-affinity with one pod as unit, any workaround to enable this?

/cc @kevin-wangzefeng

/sig scheduling

**What happened*

[2018-09-07 08:06] gyliu513 commented on #68398
/cc @kubernetes/sig-scheduling-misc

[2018-09-07 08:07] gyliu513 commented on #68112
/cc @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-scheduling-misc

[2018-09-07 08:08] gyliu513 commented on #68398
/cc @kubernetes/sig-scheduling-feature-requests

[2018-09-07 08:20] megakoresh commented on #13488
Openshift has the concept of deployment triggers, which trigger a rollout on image change, webhook or configuration change. It would be very good feature to have in Kubernetes. As well as manual rollouts of course.

Furthermore Docker repository has history so there is no reason why rollback couldn't work - pod spawned from `.spec.template` can use `image-tag:@digest` format when pulling images fo

[2018-09-07 08:28] k82cn commented on #68398
Similar to https://github.com/kubernetes/kubernetes/issues/40358 , but we do not support more than one pod by anti-affinity now.

[2018-09-07 08:43] k82cn commented on #68112
For now, we can not make sure pod order without Priority (because of race condition). For your case,  it seems a pod group level sharing; e.g. service2 has less resource, so it should be started firstly?

[2018-09-07 08:48] TheKevJames opened #68400 "`--prune` flag to `apply` masks error messages"
/kind bug

**What Happened**:
Running `kubectl apply -f <file.yaml> -l <selector> --prune` against a malformed spec does not show a useful error message, even when `-v5` is applied. Removing `--prune` reveals the correct error message.

**Reproduction**:
The relevant chunk of the yaml file is reproduced below, but this seems to be reproducible with virtually any malformed spec:
[code]

**Terminal

[2018-09-07 08:52] TheKevJames commented on #68400
@kubernetes/sig-cli-bugs , I think.

[2018-09-07 08:56] wgliang commented on #68337
@smarterclayton
I see the code in `kubernetes/pkg/client/chaosclient/chaosclient.go` was pushed by you. I don't understand what Intercept() does. Do you think there is an Infinite recursive call?

[2018-09-07 08:56] gyliu513 commented on #68112
Almost, but I actually only care one case: If one AZ down cause some services unavailable, then we should create those services first in another AZ. If the services exist in all AZ,  then I will not care if some AZ down.

[2018-09-07 08:56] BenTheElder commented on #68309
k8s-merge-robot is backed by a legacy tool that has been retired except for k/k. It will be retired for k/k as well very soon, at which point we will probably retire this account in favor of the one with the avatar 🙃

[2018-09-07 08:59] gyliu513 commented on #68398
Good to know, this is same requirement, let me close this one.

[2018-09-07 08:59] #68398 closed

[2018-09-07 09:00] BenTheElder commented on #68163
cc @Katharine

[2018-09-07 09:02] BenTheElder commented on #68142
@MrHohn
/sig gcp

[2018-09-07 09:07] beorn7 commented on #32326
Note that prometheus/client_golang doesn't require consistent label dimensions anymore, which might come in handy here. See https://github.com/prometheus/client_golang/pull/417 . Also, you can now have [unchecked Collectors](https://github.com/prometheus/client_golang/pull/425) in a formally correct way.

[2018-09-07 09:14] BenTheElder commented on #62161
/cc

[2018-09-07 09:38] lanmarti commented on #65620
I'm having the same problem, I tried adding `--log-opt max-size=10m` as an `arg` in the deployment, but it's not doing anything.

[2018-09-07 09:44] tuminoid commented on #67732
I'm getting something similar to this on k8s `1.10.4` (etcd `3.2.22`) with no pods running beyond monitoring (Prometheus, metrics-server, kube-state-metrics, influxdb, grafana, heapster).

Based on previous comments, removed metrics-server `0.3.0`, and memory consumption dropped about 100MB, but memory usage keeps growing, just much slower.

![apiserver memory consumption past 24 hours](https://us

[2018-09-07 09:45] wojtek-t commented on #67823
@k82cn - I took a look into the recent runs, and it seems that unfortunately the improvement didn't help much.

As an example in this run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/208
[it failed completely later, but that's unrelated to this issue]

it took additional 45 minutes to get rid of taints on all the nodes - that seems prett

[2018-09-07 09:47] wojtek-t commented on #67823
To clarify - me estimation would be that we need to send a single api call for each node to remove the taints, that mean 5000 api calls (with 100qps limits, that should give order of minute).
If it would be 5 minutes, it's probably also fine.

But 45 minutes doesn't seem to be acceptable.

[2018-09-07 09:59] wojtek-t commented on #67823
One update - these are two api calls (GET + PATCH), so ~2minutes.

I also took a look into logs, and majority of requests finish within 3ms (there are some that takes 10ms+, but I didn't see any taking more than 50ms.

I initially thought that because those api calls are send from synchrnously from workers, that may affect it. But it seems that they are fast...

[2018-09-07 10:00] bend commented on #32432
I've created a configmap from a zip file but it shows empty in the describe command.

I use this command:

`  kubectl create configmap openvpn-data -n openvpn --from-file openvpn.zip
`
kubectl describe configmaps -n openvpn
[code]

[code]

I use kubernetes version 1.11.1 & 1.11.2 (depending on the node)

[2018-09-07 10:02] liggitt commented on #32432
What does -o yaml show? Might be a bug in the printer

[2018-09-07 10:06] yue9944882 commented on #66536
@kubernetes/sig-api-machinery-feature-requests

[2018-09-07 10:08] bend commented on #32432
It shows the file and the data indeed. I can mount it in the same way I mount a configmap volume ?

[2018-09-07 10:15] bend commented on #32432
The weird thing is my file size on the host is:

`-rw-rw-r-- 1 ben ben 24748 Sep  7 11:27 openvpn.zip
`
and in the pod:

`drwxrwxrwx    3 root     root          4096 Sep  7 10:13 openvpn.zip
`

So I can't unzip the file because it is not valid...

[2018-09-07 10:47] k82cn commented on #67823
Got that; i'd like to continue the work here :)

[2018-09-07 11:02] wojtek-t commented on #67823
Actually, I started wondering that maybe the handler is not fast enough?

In 5000-node cluster, with each node reporting status every 10s, we have 500 node updates per second (on average).

With 8 workers, that gives ~60 updates to process per second.
That gives ~20ms per update in the ideal situation when the worker has cpu all the time.

I didn't have chance to confirm if we are or not cpu-starv

[2018-09-07 11:02] Itfly commented on #66756
There's a similar issue with ImagePullBackOff:
https://github.com/kubernetes/kubernetes/issues/66828

[2018-09-07 11:05] #61538 closed

[2018-09-07 11:13] liggitt commented on #32432
Yes, you can mount it the same way.  By default, a config map mount creates a directory at the mount point, containing files for each key.

[2018-09-07 11:17] tashirj opened #68407 "Encryption at REST for Kubernetes 1.9.1 is not working"
/sig api-machinery
 I am trying to enable this feature of Encryption at REST using ETCD in Kubernetes 1.9.1 by providing the "**--experimental-encryption-provider-config=/etc/kubernetes/enc-conf.yaml"** in the kube-apiserver.yaml and restarting the docker and kubelet system services using
systemctl restart docker && systemctl restart kubelet.

After doing this, kube-apiserver docker container is n

[2018-09-07 11:28] tashirj commented on #68407
Added the sig: /sig api-machinery

[2018-09-07 11:30] wojtek-t commented on #67823
The other thing that I'm wondering about (though we would need to check if that has changed with tainting by condition) is that between 08:20 (~when cluster was reported as up) to 09:00 (when tests started running), there are ~75k PATCH node status requests coming from nodelifecycle controllers.
That seems pretty high to me...

[2018-09-07 11:34] k82cn commented on #67823
Maybe, I check conditions changes in #68408 : if no changes, did not check taints.

[2018-09-07 11:54] LakshyaGarg commented on #63396
I am facing the same issue, spring boot app status shows CrashLoopBackOff and logs are not complete. Application does not start, what could be the solution ?

[2018-09-07 12:02] frittentheke commented on #57325
@mooperd the ingress controller is the one accessing the secret anyways. The issue here is, that one ingress sitting in namespace "namespaceA" cannot reference a secret, containing i.e. a wildcard certificate, in "namespaceINGRESS".

Certainly one could simply realize the use-case by using any other, non-resource-reference value like and annotation to tell the ingress controller what to do and whi

[2018-09-07 12:10] k82cn commented on #67823
Will that trigger many update requests pending in the channel to taint ? workqueue did not replace the previous one.

[2018-09-07 12:41] jackzhou121 commented on #68178
@tao12345666333
my docker version : 1.13.1, have you got the same problem ?

[2018-09-07 12:43] jackzhou121 commented on #68178
@tao12345666333 docker status is fine

[2018-09-07 13:07] #62330 closed

[2018-09-07 13:34] mattmb commented on #67250
+1, I just discovered this and had assumed that it would work more like the Deployment controller.

In https://github.com/yelp/paasta we are programmatically creating/updating Deployments and StatefulSets. For that to make sense I really want them to *always* attempt to converge to the definition.

[2018-09-07 13:35] mohammedzee1000 commented on #68313
cc @barney-s

[2018-09-07 13:41] mohammedzee1000 commented on #67670
@mborsz can you please provide update on fix

[2018-09-07 13:43] MikeSpreitzer commented on #68395
You can see how I solved it, in https://github.com/MikeSpreitzer/kube-examples/blob/cc90dae1c518d51532eafed7739b0e98d8e98efc/staging/kos/pkg/cmd/server/start.go#L94-L110 .  At first those lines were in `func (o *NetworkServerOptions) Config()`.

[2018-09-07 13:49] wgliang commented on #68337
@smarterclayton But there are also one place using it.

https://github.com/kubernetes/kubernetes/blob/361746266a490c3adbfb391cdf56c24acee8c0b8/cmd/kubelet/app/server.go#L898

[2018-09-07 14:04] smarterclayton commented on #68337
Has never been anything other than experimental and was not used in practice.  We can remove it and it’s flag from kubelet as it was experimental.  @liggitt are we deprecating experimental flags for one release or can we just remove?

[2018-09-07 14:35] bboreham commented on #60279
If you metrics which are disabled by kubelet you should run your own instance of cAdvisor, and ignore the one inside kubelet.

[2018-09-07 14:52] yue9944882 commented on #68395
no, u don't have to walkaround like that. just registering all the built-in plugins on instantiating the option struct will be fine.

[https://github.com/kubernetes/kubernetes/blob/5c8ef7eb3b737f869d1b04a5b3837d4400b561a7/pkg/kubeapiserver/options/admission.go#L52-L64](https://github.com/kubernetes/kubernetes/blob/5c8ef7eb3b737f869d1b04a5b3837d4400b561a7/pkg/kubeapiserver/options/admission.go#L52-

[2018-09-07 14:53] fberglin commented on #68304
Ok, but that only makes a difference when there's no controlPlaneEndpoint defined. When I have that defined, I cannot join any workers. See above.

And also, when there's no explicit endpoint configured, coredns is deployed on the master, hence my question regarding taint. To me, this is a clear and very visible difference between the results from the configurations that only depends on if control

[2018-09-07 14:54] RenaudWasTaken commented on #65770
@tianshapjq can you describe more what you have in mind? What happens when a plugin registers with a version?

[2018-09-07 14:58] dims commented on #68378
[code]

[2018-09-07 14:58] chrisohaver commented on #68304
OK, but without a network plugin installed, deployments wont schedule pods.

[2018-09-07 15:06] fberglin commented on #68304
If I don't have the attribute and do 'kubectl get pods' it's deployed with status 'Pending' until I install CNI. But if controlPlaneEndpoint is defined it does not even become 'Pending'.

There's something strange going on. Or I'm missing something.

Thanks,
/ Fredrik

[2018-09-07 15:19] bboreham commented on #60279
As noted above, you don't get nonzero values because data collection is disabled.
The reason you _do_ get lots of zeros is https://github.com/google/cadvisor/issues/1925.

[2018-09-07 15:31] guineveresaenger commented on #67670
@mohammedzee1000 - update from Slack #sig-scalability pinging - this is tricky but it's in progress.

@shyamjvs @krzysied - since you are working on this, could you please update this issue with a daily status report?

[2018-09-07 15:42] shyamjvs commented on #67670
So there have been 3 regressions from past week that affected scale tests:

- https://github.com/kubernetes/kubernetes/pull/68084#issuecomment-417639412 (fixed now)
- https://github.com/kubernetes/kubernetes/issues/68355 (fixed now)
- https://github.com/kubernetes/kubernetes/issues/67823 (this one still needs some more to be done)

Right now we're running some manual tests locally to see if there

[2018-09-07 15:43] MikeSpreitzer commented on #68395
What in sample-apiserver corresponds to https://github.com/kubernetes/kubernetes/blob/master/pkg/kubeapiserver/options/admission.go ?

[2018-09-07 15:50] Katharine commented on #68163
/assign

[2018-09-07 15:52] chrisohaver commented on #68304
Yes thats right, I misspoke in my prior comment.
If no "schedulable" nodes are available, the it the pod wont deploy at all.
If there is a "schedulable" node available, but there is no network plugin, then the pod will deploy, but it will be stuck in Pending (waiting for network to be set up).

[2018-09-07 16:06] yue9944882 commented on #68395
the `kube-apiserver` is the existing & possibly correct way to build a server, isn't it? the `sample-apiserver` is just a generic demo, and it doesn't reveal how to extend or make use of advanced features like admission plugin.

[2018-09-07 16:09] chrisohaver commented on #68304
Perhaps @fabriziopandini can help here.  It seems the core issue is that nodes are unable to join an HA cluster via the controlPlaneEndpoint.

[2018-09-07 16:10] #62331 closed

[2018-09-07 16:12] jkodroff commented on #23237
FYI, per [this thread](https://github.com/kubernetes/kubernetes/issues/19764#issuecomment-269879587), the workaround is to mount the secret to a dir elsewhere and copy the file or use a symlink in a `postStart` hook.

Example:
[code]

[2018-09-07 16:37] guineveresaenger commented on #67823
/priority critical-urgent
/remove-priority important-soon

[2018-09-07 16:38] guineveresaenger commented on #67823
This is critical as it relates to release blocking tests.

[2018-09-07 16:38] ddebroy commented on #64373
Addressed by https://github.com/kubernetes/kubernetes/pull/65730

[2018-09-07 16:44] thanethomson commented on #67119
We're actively using containerd instead of Docker. I'd imagine that if we disabled containerd's CRI process, we'd be left without any CRI at all? I'm not familiar enough with containerd's internals to be able to make an informed decision on that.

[2018-09-07 16:45] tpepper commented on #68313
based on the implicated issues and associated pulls above, suspect should be fixed as of approx 8:30pm Pacific Sept 6

need confirmation

[2018-09-07 16:47] chrisohaver commented on #68304
Dont know if this may help: https://stackoverflow.com/questions/47126779/join-cluster-after-init-token-expired

[2018-09-07 16:55] salilgupta1 commented on #67732
We're loading testing our cluster as well to figure out what levers to pull to be able to support 750 nodes. However, we are seeing similar issues with with the api server swallowing memory along with high response latency, high number of dropped requests ... essential it isn't scaling :(

Cluster config:
- K8s Version: 1.11
- etcd Version: 2.2.1
- 3 Master nodes running on m4.4xlarge (16 cores/ 6

[2018-09-07 17:00] MikeSpreitzer commented on #68395
sample-apiserver _does_ aim to illustrate how to implement admission plugins.  My complaint here is that the illustration is broken.

In the kubernetes ecosystem there is a distinction between the main apiserver and extension apiservers.  kubeapiserver is the one and only main apiserver; sample-apiserver is meant to be an example of an extension apiserver.  Extension apiservers are intended to sup

[2018-09-07 17:04] zrdaley opened #68413 "HTTPIngressRule Validation Prevents Use of Regex Paths"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
HTTPIngressRule validation requires that a path must have a prepended `/`.
https://github.com/kubernetes/kubernetes/blob/3817e21c03de679c8525f17d562b00dde8552f08/pkg/apis/extensions/validation/validation.go#L468-L470

However, HTTPIngressRule's are also supposed to support valid regex. Regex values such as `^/example$` ca

[2018-09-07 17:08] zrdaley commented on #68413
@kubernetes/sig-api-machinery-bugs

[2018-09-07 17:16] guineveresaenger commented on #68115
@wenjiaswe please do!

[2018-09-07 17:20] mcortinas opened #68415 "share out 1 pod for each node group"
Let me add an example in order to be clear.

This is the sceneraio :
- 1 k8s cluster with 100 nodes
- 3 different node groups, we add a label with key "nodepool" with possible values one,two and three in order to do this grouping  p.e.: nodepool={one|two|three}

My deployment has 3 replicas and I like some constraint rule in order to share out 1 pod in a DIFFERENT nodepool using the label "nodepoo

[2018-09-07 17:26] liggitt commented on #68407
How are you providing the file to the apiserver? If it is running inside a container, is that path and file available inside the container?

[2018-09-07 17:30] guineveresaenger commented on #64627
@lavalamp, @liggit - since it's currently code freeze, I'm suggesting holding off until master reopens in a couple weeks. I know it's frustrating. :(

[2018-09-07 17:32] guineveresaenger commented on #64627
Actually: it looks like the PR is ready and only missing critical/urgent label. Again, since _technically_ it's not urgent, I leave the decision up to you.

[2018-09-07 17:35] Huang-Wei commented on #68415
@mcortinas PodAntiAffinity would help:

[code]

You can change the `matchExpressions` based on the labels of your deployment.

[2018-09-07 17:36] dims commented on #67823
cc @bsalamat

[2018-09-07 17:39] fberglin commented on #68304
Thanks,

To me, the biggest indication that something is amiss is that the coredns services doesn't even become pending whenever controlPlaneEndpoint is defined in kubeadm-config.yaml.

But it might somehow be connected to the problems with joining over the address defined. Is there any information I could provide that could help with troubleshooting?

Thanks,
/ Fredrik

[2018-09-07 17:46] MikeSpreitzer commented on #68395
Actually, I do not know why my network apiserver works; it should crash because the `SharedInformerFactory` field is set in the wrong copy of the `NetworkServerOptions`.  Moving one fewer statement from `Config()` to `Complete()` fixes that.

[2018-09-07 17:57] gnufied commented on #64788
It is still on track. I aim to fix this by Tuesday.

[2018-09-07 17:57] tpepper commented on #66243
@freehan @bowei test looks green again today in this area, but is notoriously flakey.  Can you confirm (ie: show repo/commitid) test was disabled or the NEG API is back?

[2018-09-07 18:00] sreis opened #68416 "Cgroups per qos not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Setting a Resource requests and limits on a Pod other Pods running on the node where it was scheduled are moved to the cgroups created to serve the QoS request.

**What you expected to happen**:

Pods to stay in their assigned cgroups.

**How to reproduce it (as minimally and precisely as possible)**:

kubelet running wi

[2018-09-07 18:02] sreis commented on #68416
/sig node

[2018-09-07 18:04] saad-ali commented on #68378
This is being addressed as part of https://github.com/kubernetes/kubernetes/pull/67684#issuecomment-419267550 which we're hoping to go in (with exception) by EOD Friday.

[2018-09-07 18:09] saad-ali commented on #68378
I misread @verult's comment -- it will be addressed in a different PR. Will keep this issue updated.

[2018-09-07 18:12] #53361 closed

[2018-09-07 18:15] chrisohaver commented on #68304
My understanding of the flow of events in this case...

1. Set up a single node cluster (1 HA master), with no addtl nodes joined yet.  Master taint not removed.
2. Note that Deployments cannot schedule pods, due to the default master taint. Which is normal/expected.
3. Try to join a node to the cluster (via controlPlaneEndpoint), but fails with "invalid/expired token" error
4. Remove controlPlane

[2018-09-07 18:15] sreis commented on #68416
This is the memory cgroup tree layout before starting an `nginx` pod with resource request and limits.

[code]

This is after the pod is created. Notice that `kube-proxy` is moved to the cgroup where nginx is running in

[code]

[2018-09-07 18:16] MikeSpreitzer opened #68418 "Standalone testing of the sample-apiserver does not work when the BanFlunder admission plugin is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to exercise the BanFlunder admission plugin of the sample apiserver.  First I found issue #68395, and drafted a fix (#68417).  I followed the instructions at https://github.com/kubernetes/sample-apiserver#running-it-stand-alone to test my fix.  This verified that I did indeed fix #68395, but the fix allowed an

[2018-09-07 18:19] #63355 closed

[2018-09-07 19:07] MikeSpreitzer commented on #68418
@kubernetes/sig-api-machinery-bugs

[2018-09-07 19:31] pohly commented on #66649
@neolit123 I've pushed another revision of my patch set: https://github.com/pohly/kubernetes/tree/e2e-refactor-2018-09-07. It's not tested much yet beyond ensuring that everything still builds.

The simpler API for defining a set of configuration options is here:
https://github.com/pohly/kubernetes/commit/69bbbbf3597a257814d8f363cc4665277516d14f#diff-58fcfea83a0fe45a637ccd0caeeb2788

I did not imp

[2018-09-07 19:41] pires commented on #68416
Interesting, since `kube-proxy` is running as a static pod 🤔

[2018-09-07 20:14] #54665 closed

[2018-09-07 20:16] #68396 closed

[2018-09-07 20:18] gyuho commented on #67732
@tuminoid Can you share metrics output from etcd?

[2018-09-07 20:49] ihmccreery commented on #66460
Ping.  This is still causing pain for image vuln scanning.

[2018-09-07 20:51] dims commented on #66460
/assign @BenTheElder (as Ben is on call)

cc @ixdy

[2018-09-07 20:58] mkimuram opened #68424 "Issues for supporting block volume with CSI RBD driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
CSI RBD driver that implements block volume feature doesn't work well

**What you expected to happen**:
CSI RBD driver that implements block volume feature works well

**How to reproduce it (as minimally and precisely as possible)**:
Deploy [csi rbd](https://github.com/mkimuram/ceph-csi/commit/7f0af394bd5b32374477b05a16829

[2018-09-07 20:59] blakebarnett commented on #60279
@bboreham I notice it says these metrics are disabled because they require high CPU, is this primarily for very large clusters? Testing it out on a small cluster the usage seems fairly negligible, maybe a way to customize cadvisor configuration via kubelet would be justifiable?

I'm also having a hard time tracking down all places where k8s uses cavdisor metrics to make decisions, is this all chan

[2018-09-07 21:02] mkimuram commented on #68424
@vladimirvivien

To make csi rbd driver work with block volume feature, there are three issues below.

Note that it could be worked around with a bit of changes in the kubernetes side:
[Code]
  - [kuberenetes](https://github.com/mkimuram/kubernetes/commit/83a84d2af1e381d1fec4bd224acc207dee37b665)
  - [csi rbd](https://github.com/mkimuram/ceph-csi/commit/7f0af394bd5b32374477b05a1682978ebe33b449)

S

[2018-09-07 21:04] mkimuram commented on #68424
@wongma7 @jsafrane

3 above is related to containerized kubelet, so I need your comment for it.

[2018-09-07 21:14] gnufied opened #68425 "CSI volume limit tidy up"
There are couple of outstanding items from https://github.com/kubernetes/kubernetes/pull/67731

1. Add more tests for cache invalidation and volume limit registration.
2. make sure that volume limit addition is behind the feature gate.

/sig storage
/assign

[2018-09-07 21:26] davidz627 commented on #68373
Unable to repro on my own GKE cluster. Merged the error message fix, will monitor for the next flake to debug more

[2018-09-07 21:40] caesarxuchao commented on #67913
Duplicate of https://github.com/kubernetes/kubernetes/issues/57992. Should be fixed by https://github.com/kubernetes/kubernetes/pull/67288. Please re-open if not so.

[2018-09-07 21:40] #67913 closed

[2018-09-07 21:48] bboreham commented on #60279
@blakebarnett cAdvisor metrics are local to a single node. Collecting thousands of data points from the kernel, via `/proc` interface in ascii, has a cost.

As I understand the bigger picture (I'm not involved with the decision-making here): kubelet needs some metrics for management, and has implemented this by copying in the code from cAdvisor.  That's its business: if you need specific metrics t

[2018-09-07 21:53] LohithChanda opened #68427 "Resizing the persistent volume in Azure AKS doesn't reflect the change at pod level."
Is this a BUG REPORT or FEATURE REQUEST?:

 /kind bug

**What happened:**
Currently I am using k8s version 1.11.2 on Azure AKS. I've tried resizing the persistent volume by adding `allowVolumeExpansion: true` for the storage class and editing the pvc to the desired size.

After restarting the pod the size of the pvc has changed to the desired size i.e from 2Ti -> 3Ti
[code]

 but when i login to t

[2018-09-07 21:53] BenTheElder commented on #66460
we've been discussing this on slack and fighting with manifest tool and creds from https://github.com/kubernetes/kubernetes/issues/68020#issuecomment-417038769, I'm happy to make this happen but I can't get the tooling to work right, the manifest tool push 401s due to GCR and auth.

[2018-09-07 21:53] kellycampbell commented on #64148
I think this is fixed by #68422. I tested by replacing a node and watching the security group rules in AWS before/after.

[2018-09-07 21:56] blakebarnett commented on #60279
will do, just seems silly to run multiple cadvisors on all the nodes, I guess I'll try disabling the metrics kubelet is already collecting in our instance and matching up the prometheus labelling so we can have a consistent view.

[2018-09-07 21:57] neolit123 commented on #66649
@pohly

sorry for not replying earlier, busy looking at bugs and tests.

i might get some more free time after 1.12 is released and do a mockup replacement for Viper. right now i still lack some understanding of the demands of the e2e framework, but i do understand what kubeadm needs.

BTW, the idea of homebrewing a replacement for viper did get some +1s in the sig-architecture slack chat instead

[2018-09-07 22:08] jiayingz commented on #68372
@yguo0905 pointed me to this PR
https://github.com/kubernetes/kubernetes/pull/67590 that was merged into 1.11 around the time when the test started to fail. I reproduced the test failure in 1.11 release from local runs and verified that with https://github.com/kubernetes/kubernetes/pull/67590 reverted, the test passed. So looks like this PR reducing API server cpu resource has caused master node r

[2018-09-07 22:09] jiayingz commented on #68372
/cc @loburm

[2018-09-07 22:12] krzyzacy commented on #68372
/shrug

https://github.com/kubernetes/kubernetes/pull/68229

which has not merged...

[2018-09-07 22:16] #62140 closed

[2018-09-07 23:34] BenTheElder commented on #66460
images should be in now.

[2018-09-07 23:36] BenTheElder commented on #66460
1.0.1 [gcr.io/google-containers/coredns@sha256:f7d9856326079567968e19e18e1b067b137287ca7ffd9d57d01f2fbcdca5354a](https://gcr.io/google-containers/coredns@sha256:f7d9856326079567968e19e18e1b067b137287ca7ffd9d57d01f2fbcdca5354a)
1.0.6 [gcr.io/google-containers/coredns@sha256:ddcc984408e779e0baa92aab754b8988ba57d3ca3478837e186c90350624374b](https://gcr.io/google-containers/coredns@sha256:ddcc984408e7

[2018-09-07 23:58] Huang-Wei commented on #68398
@gyliu513 are the 4 pods created by 2 deployments? If so, I think one workaround is to combinely use PodAffinity and PodAntiAffinity:

- deploy1

[code]

- deploy2

[code]

[2018-09-07 23:59] fberglin commented on #68304
Great summary! Almost 100%.

Step 4 in my case is to reset the node and recreate the cluster with a modified configuration file. But from a logical point of view it's is the same.

One thing I don't understand is why the deployment of coredns behaves differently depending on whether controlPlaneEndpoint is set or not. In one case it deploys and becomes 'Pending', in the other it does not.

Could t

[2018-09-08 00:13] ryanmcnamara opened #68432 "Daemonset controller rapidly deleting pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

On a 1.11.1 cluster the daemonset controller is deleting pods for a single daemonset just about immediately after creating them on a variety of hosts (approx. 5/18 hosts). This happens continually. This happens accross restarts or controller. The delete line is logged [here](https://github.com/kubernetes/kubernetes/blob/

[2018-09-08 00:13] ryanmcnamara commented on #68432
/sig apps

[2018-09-08 00:50] aaronmmanzano commented on #28969
Same with me in attempting to setup a Cassandra cluster. Perhaps a StatefulSet could reserve a subnet of IPs from the cluster IP pool and IPs could be assigned in order the same way pods are numbered as they spin up.

[2018-09-08 02:27] NickrenREN commented on #65392
Agree with what @adampl said.

Fence mechanism here is needed.  Talked with @jingxu97 and @msau42 offline, we need to put it outside kubernetes since it is hard to completely fix the race conditions across kubernetes components and the potential change may break kubernetes a lot.

To clarify, we care not only node Shutdown , but also unknown condition since it may cause split-brain and double writ

[2018-09-08 03:17] asakapab0i opened #68433 "The Pod cannot connect to the load balancer tied to the it."
/kind bug

**What happened**:
The pod cannot curl to the load balancer tied to it.

**What you expected to happen**:
It should connect and curl the load balancer ip address.

**How to reproduce it (as minimally and precisely as possible)**:
`bash-4.4# curl
curl: try 'curl --help' or 'curl --manual' for more information
bash-4.4# curl 47.91.36.59 -v
* Rebuilt URL to: 47.91.36.59/
*   Trying 47.91.3

[2018-09-08 05:05] Enelar commented on #39722
@liggitt no, you still cant access any of those resources even if you did proxy. From UX perspective there is several doc sources, but at the end after `kube-up` there nothing much you can do. Firstly i spend 4 hours to custom patch script, so i could spinup gce g1-small + f1-micro-preemtible. then i just keep fighting agains dashbord and everything. i just cant stand it.

Simple question, why doe

[2018-09-08 05:44] gyliu513 commented on #68398
@Huang-Wei No, I was using one deployment for this, so I want to make sur each AZ has two pods.

[2018-09-08 06:17] BenTheElder commented on #67720
per discussion here https://github.com/kubernetes/community/issues/2594#issuecomment-419308994 going forward with the current route for now, we'll sort out migrating everyone soon.

`gs://k8s-conformance-arm` has been created, I've sent you an email with the service account key

[2018-09-08 06:55] NickrenREN commented on #65392
/cc @ddysher

[2018-09-08 07:16] #67683 closed

[2018-09-08 07:40] fabriziopandini commented on #68304
@chrisohaver @fberglin
I'm not sure I get all the gotchas of this thread, but let's focus on "Try to join a node to the cluster (via controlPlaneEndpoint)" step initially.
1) Please check if the node is capable to resolve `master` address to IP. In similar setups on Ubuntu I use an additional line in `/etc/hosts` on all machines. Eventually you can test this with a `curl -k https://masters:6443/ap

[2018-09-08 10:06] tao12345666333 commented on #68175
/close

[2018-09-08 10:33] #68175 closed

[2018-09-08 11:06] CaoShuFeng commented on #68366
I guess debugging logging handler is this:

curl http://127.0.0.1:8080/logs/

[2018-09-08 11:42] mootezbessifi opened #68434 "Node goes Not Ready because of cri-containerd and containerd issues"
Hi All,

i am running with a very very strange issue since 2 weeks ago.
let me describe in details what happened:

1. k8s node status Ready.
2. After few time (maybe 1 or 2 days maximum) node Status will be Not Ready with the following description:
[kubectl describe node.txt](https://github.com/containerd/cri/files/2363245/kubectl.describe.node.txt)

3. when i tried to open kubelet log i found the

[2018-09-08 11:43] mootezbessifi commented on #68434
/sig node

[2018-09-08 11:52] liggitt commented on #39722
`kubectl proxy` is just a way to get network visibility to the dashboard pod via the apiserver. Once you are able to access the dashboard, the dashboard still needs sufficient permission to access the API to fetch the data to serve you. The currently recommended way to do that is to log into the dashboard with an API token with sufficient permissions.

is forbidden: User "system:serviceaccount:def

[2018-09-08 12:29] #62263 closed

[2018-09-08 13:30] #62349 closed

[2018-09-08 14:31] #49564 closed

[2018-09-08 15:02] jhorwit2 commented on #68433
/sig network

I think this has to do with a couple things.

1. kube-proxy redirects traffic destined for external lb ips to the cluster ip.
2. Misconfigured CNI results in pods being unable to curl the service the pod itself belongs to. You can read about that here and how to fix it. https://github.com/kubernetes/kubernetes/issues/20475

[2018-09-08 15:32] #62387 closed

[2018-09-08 15:36] uablrek commented on #67799
@islinwb I think I understand what you mean by "existing" sets now. Some sets are created twice since there are no `else` clause in the if-statement. The ipset command is called with `-exist` which I think causes the second "create" to actually become a "modify". And in that call the ipIpv6 flag is hard-coded to `false`.
I see no purpose for the isIpv6 flag in the structure and will remove it in m

[2018-09-08 16:08] daya commented on #65221
same problem
[code]

[2018-09-08 17:34] #61497 closed

[2018-09-08 17:43] #66265 closed

[2018-09-08 17:54] radut commented on #61543
I had same problem timeout for mounting volume. In my case the issue was fixed by setting "ceph osd crush tunnables legacy"

[2018-09-08 18:35] ahmetb commented on #68305
I'm trying to just download a kubectl binary of the release and I could not find it anywhere but `cluster/get-kube-binaries.sh` to download it. What's the recommended way?

[2018-09-08 18:44] BenTheElder commented on #68305
This is probably the best one: https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-binary-using-curl (that page also has lots of other options for stable releases)

It's also in the client binaries from the release notes:
https://kubernetes.io/docs/setup/release/notes/  or https://github.com/kubernetes/kubernetes/releases -> https://groups.google.com/forum/#!forum/kubernetes-an

[2018-09-08 18:49] ahmetb commented on #68305
Yeah I suppose they're actually linked as

which I missed initially. Feel free to close this, I'm aware spaces in paths can easily mess up a lot of bash scripts. :)

[2018-09-08 18:52] BenTheElder commented on #68305
I'd still like to take a stab at fixing it :-)

I really doubt these scripts go anywhere anytime soon (ever?), and I didn't realize you just wanted `kubectl`. My thinking was that if you'd been using `get-kube-binaries.sh` with the other `cluster/` scripts we'd have to fix some of those too.

[2018-09-08 19:37] uablrek opened #68437 "In ipv6-only cluster with proxy-mode=ipvs ipv4 entries are used for NodePort"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area ipv6
/area ipvs
/sig network

**What happened**:

In an ipv6-only cluster with proxy-mode=ipvs the entries for NodePort in ipvs are created for ipv4 addresses. The target's (if there are any) consists of ipv6 addresses (wrongly) interpreted as ipv4;

[code]

Attempts to use the NodePort with ipv6 addresses are black-holed.

**What you

[2018-09-08 20:31] BenTheElder commented on #24614
We also have non-blocking and optionally-run presubmits, even just having an easy way for reviewers to request a shellcheck result for changed files seems like something we should do.

I also think we should fix the existing failures. Glancing through some k/k bash with shellcheck in my editor, these generally seem to be things that are actually wrong.

[2018-09-08 22:39] #45626 closed

[2018-09-08 23:03] BenTheElder commented on #68305
The bug here is simple, but would have been caught by a `shellcheck` lint, I'm going to see if we can start incrementally fixing these throughout the codebase https://github.com/kubernetes/kubernetes/pull/68438 ref https://github.com/kubernetes/kubernetes/issues/24614

[2018-09-08 23:09] #68217 closed

[2018-09-08 23:27] mitchellmaler opened #68439 "[2.0.8] Metrics Server "Unable to authenticate the request due to an error: [x509: certificate signed by unknown authority""
I enabled metrics server on my cluster and metrics server is getting the error:

E0908 23:23:15.369015       1 authentication.go:64] Unable to authenticate the request due to an error: [x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kube-apiserver-requestheader-ca"), x509: certificate signe

[2018-09-08 23:28] #68439 closed

[2018-09-09 00:14] gacopl commented on #63022
and is there anyway to make AWS autoscale group place node labels ?

[2018-09-09 05:55] hongshibao commented on #65820
@Lion-Wei  By the way, in this profiling, the thrift server is using C++ non-blocking server implementation, whose max connection and max active processors are set to 8, and overload action is set to T_OVERLOAD_CLOSE_ON_ACCEPT. There are about 4 C++ servers, each having replica 2. Besides C++ servers, there is also a Golang server calling these C++ servers. When calling C++ servers, there is a ret

[2018-09-09 06:08] m1093782566 commented on #65820
Have you ever tried tuning kernel parameters? e.g. contrack...

[2018-09-09 06:10] m1093782566 commented on #68338
cc @islinwb

[2018-09-09 06:11] m1093782566 commented on #68194
/cc @Lion-Wei

[2018-09-09 07:57] sjgllghr commented on #68026
@dims I submitted a pull request for golint errors in pkg/security/

[2018-09-09 15:56] #62437 closed

[2018-09-09 15:56] #59611 closed

[2018-09-09 15:56] #62446 closed

[2018-09-09 16:15] idealhack commented on #62577
I run into the same problem on Arch Linux and I think this can be fixed in script.

/assign

[2018-09-09 16:16] idealhack commented on #62577
/reopen

[2018-09-09 16:57] leeadh opened #68445 "Port forward not working for dual ports"
I am trying to test running websphere onto kubernetes. Currently this is the

[code]
I deployed it with my deployment.yaml and my service.yaml as shown below

[code]

[code]

I tried to do a port forward to port kubectl port-forward websphere-7874884868-ntz54 9043:9043 9443:9443 but an error E`0910 00:49:06.156200   19468 portforward.go:331] an error occurred forwarding 9043 -> 9043: error forward

[2018-09-09 16:57] #60697 closed

[2018-09-09 17:09] uablrek commented on #64960
This seems to be a new handling of /dev/random and urandom in the Linux Kernel.

[2018-09-09 17:09] #64960 closed

[2018-09-09 17:58] #62474 closed

[2018-09-09 18:02] liggitt commented on #68248
The apiserver does not renew the token, kubectl does.

[2018-09-09 19:35] fberglin commented on #68304
Hi,

Thanks for looking into this.

[code]
There is some information further up in the thread regarding the tokens. The token is valid, but kubeadm rejects it.

Thanks,
/ Fredrik

[2018-09-09 19:40] bgrant0607 commented on #9043
cc @kow3ns @janetkuo

[2018-09-09 19:42] timothysc commented on #68313
This isn't sig-cluster-lifecycle as much as it's definitely google.
/cc @roberthbailey
for routing.

[2018-09-09 19:43] bgrant0607 commented on #9043
@vinaykul Please use email for questions rather than posting to misc. github issues. For your questions, I suggest reaching out to the autoscaling, apps, and node SIGs.

[2018-09-09 19:45] foxish commented on #68372
Fixed by the revert

[2018-09-09 19:55] dawidmalina opened #68447 "iptables-restore: line 7 failed in kube-proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig network

**What happened**:

Kube-proxy (k8s.gcr.io/kube-proxy-amd64:v1.11.1) deployed as daemonset with ipvs mode produce during startup following error:
[code]

With verbosity -v5 the logs looks like this:
[code]

Looks like proxier is trying to perform cleanup part: https://github.com/kubernetes/kubernetes/blob/v1.11.1/pkg/proxy/ipt

[2018-09-09 19:57] dawidmalina commented on #68447
I've build kube-proxy with additional information:
[code]
and the logs looks like this:
[code]
[code]

[2018-09-09 21:01] #62370 closed

[2018-09-09 21:05] dawidmalina commented on #67292
I have quite similar issue with kube-proxy configured with ipvs mode (kubernetes 1.11.1 deployed on ubuntu 16.04) with calico as network provider:
[code]

[2018-09-09 21:32] stealthybox commented on #63247
None of the documentation or flag names would suggest this, but the patch "JSON" is actually parsed as YAML:

This would be an equivalent "`patch.json`":
[code]

JSON works, because it's a valid YAML subset.
If you have invalid JSON, though, it may still be valid YAML such as with your case of the single trailing dquote.

We should probably update the flags and docs to make this more clear that we

[2018-09-09 21:37] liggitt commented on #63247
That certainly isn't the intent… the content type for the patch document indicates it is a form of json… I'd expect it to be parsed as JSON, not YAML

[2018-09-09 22:02] #62031 closed

[2018-09-09 23:04] Huang-Wei commented on #68432
@ryanmcnamara could you check if `nodeSelectorTerms.matchExpressions.values` in your **original yaml** is ordered alphabetically? If it's not ordered, it sounds like an unknown bug.

[2018-09-10 00:13] balajismaniam commented on #65249
/reopen

[2018-09-10 01:29] insertjokehere commented on #57280
The script that @kivoli posted above is enough to get a node out of this state (for me at least), don't need to do a full node reset

[2018-09-10 01:36] islinwb commented on #67292
@dawidmalina Could you check the existing ipsets use `ipset list` to see if there are ipsets with the same names that were failed to create? And check the entries if any.

[2018-09-10 01:40] techdragon commented on #66306
This does not yet appear to have an update. Also #60393 is has been closed by the robot without a proper resolution and I can 100% confirm that it is still an issue. I have run directly into this issue myself.

[2018-09-10 01:50] tanshanshan commented on #68357
I am interested in it , and I want to contribute for it.

[2018-09-10 01:51] k82cn commented on #68357
hm... NO and YES :) some items are handled by others e.g. topology, I'd like to contribute for batch; I'm working on some items, e.g. Coscheduling; and some items are still in pending list, e.g. "Queue" (maybe not reasonable). This umbrella is to trace related issues; and prefer to prioritize by scenario or use case, for example, to support MPI, coscheduling and IndexJob are required.

also /cc @b

[2018-09-10 02:06] #62327 closed

[2018-09-10 02:06] #62454 closed

[2018-09-10 02:06] #62270 closed

[2018-09-10 02:06] #62391 closed

[2018-09-10 02:06] #62262 closed

[2018-09-10 02:06] #62320 closed

[2018-09-10 02:50] tianshapjq commented on #65770
as the disordered incoming events of registration of plugin, we are not able to tell the newer plugin. such as the plugin with socketPaths in `./device/nvidia/gpu-1.9.1.sock` and `./device/nvidia/gpu-1.9.2.sock`, the registration of 1.9.1 may come in late after 1.9.2 if they all exist in the canonical path, which may happen when cluster admin forgets to delete the older plugin after upgrading.
So,

[2018-09-10 03:11] k82cn commented on #67845
/close on behaviour of #64954

[2018-09-10 03:11] #67845 closed

[2018-09-10 03:27] k82cn opened #68453 "Added Shutdown/Close to SchedulingQueue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
/sig scheduling

**Description**:

The `Pop` of `SchedulingQueue` will `cond.Wait` for new events; if `stopCh` is closed, the goroutine which uses `Pop` will not cleanup . It's better to add Shutdown/Close to SchedulingQueue to clean it up gracefully :)

[2018-09-10 04:40] salilgupta1 commented on #65732
Are there any updates on this issue? We are seeing a similar issue with our cluster during load testing.

**Cluster Configuration**
K8s version: 1.11
etcd: 2.2.1 (2 clusters, 1 for events, 1 general)
Masters Node config: 3, AWS m4.4xlarge (64 GIB,  16 cores)
Kops: 1.9.2
API Config: Standard defaults, we aren't setting any of the flags mentioned in the thread above.

We also haven't tried etcd3 b/c

[2018-09-10 04:49] liggitt commented on #63247
No, the actual content-type header sent to the server. If you add -v=9, what body content is sent to the server when you provide a yaml patch?

[2018-09-10 04:55] stealthybox commented on #63247
[code]
_________________
eh... `application/json-patch+json` ?

yeah, that doesn't look right.

[2018-09-10 04:59] liggitt commented on #63247
`application/json-patch+json`

That is right. Does the yaml get converted to json form client-side before being sent to the server?

[2018-09-10 05:03] stealthybox commented on #63247
yes:
[code]

[2018-09-10 05:14] krmayankk commented on #68357
i am interested in 2nd and 5th. @k82cn is this being discussed in sig-scheduling meetings ?

[2018-09-10 05:41] tashirj commented on #68407
The files are not available in the container. Is it required to be mounted explicitly inside container?
Since the image it using is of "gcr.io/google_containers/kube-apiserver", I am not modifying any of it's content explicitly.
Would you please suggest?

[2018-09-10 06:15] Huang-Wei commented on #68453
I can help to cleanup.

/assign

[2018-09-10 06:39] tuminoid commented on #23880
We're getting this complaint from `portallocator-repair-controller` on `1.10.4` also on `NodePort` service that exposes both TCP port and UDP port on the same NodePort.

[2018-09-10 06:53] bowei commented on #39423
/lifecycle frozen
/assign

[2018-09-10 06:54] tuminoid commented on #67732
@gyuho etcd metrics: https://gist.github.com/tuminoid/12e5cc36d9d866379553cedd1326438f

Left this empty system running over the weekend (without metrics server), and it actually seems to cap around 3GB. Its a single master/worker node for testing, with no load.

![over-weekend](https://user-images.githubusercontent.com/853790/45279571-38959f00-b4da-11e8-88e2-4f475f783c24.png)

On another cluster,

[2018-09-10 07:15] dawidmalina commented on #67292
@m1093782566 this was fresh setup on my local environment. Today i can try with 1.11.3.

@islinwb i will check the `ipset list` but it was fresh start just after bootstrap. I will try to modify entrypoint to execute this command before starting kube-proxy.

[2018-09-10 07:27] stewart-yu commented on #67233
all fixed in `v1.12`, so close it now
/close

[2018-09-10 07:27] #67233 closed

[2018-09-10 07:29] beekhof commented on #65392
@NickrenREN I think fencing can be done inside of kubernetes and previously posted a link to an [informal design](https://docs.google.com/document/d/1U3FgrNxNilFcOoKBeQ-mQkARD7dNUNtc_gme6yMXxoY)

One of the items on my TODO list is to incorporate the updated design into the [existing proposal](https://github.com/kubernetes/community/pull/1416) but I would welcome anyone interested in collaborating

[2018-09-10 07:32] venthur opened #68457 "please provide bash completion in debian package"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

kubectl provides bash completion capabilities but expects the user to install it manually (i.e. `kubectl completion -h`)

**What you expected to happen**:

bash completion should be installed automatically where possible. for example in debian packages you can simply provide bash completions by installing the complet

[2018-09-10 07:42] islinwb commented on #67292
@dawidmalina And you can try creating them manually to see the exact errors. (see https://github.com/kubernetes/kubernetes/issues/67292#issuecomment-412388013)

[2018-09-10 07:53] josephmansour opened #68458 "Unlike "docker stop containerID", "docker pause containerID" doesn't trigger the creation of a new container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I deployed a service (an HTML page that shows the Hostname of the webserver), with 2 replicas.
Every time the command "curl <i>someIP</i>" is executed it displays the name of one of the 2 pods belonging to the service.
"docker ps " shows which containers that belong to the pods (e.g. b252372f72b4, 7c687bc2c157) . If I ru

[2018-09-10 07:57] islinwb commented on #67292
@dawidmalina The issue you came cross seems different (`add` not `create`). And you can manually create these ipsets use `ipset add` to see the exact errors.

[2018-09-10 08:05] bruceauyeung commented on #68366
I have pushed a PR for this, would you mind take a look ?
@mikedanese @liggitt @cjcullen

[2018-09-10 09:16] fredkan commented on #60987
the mountpoint is not umount while remove orphan pod, and RemoveAllOneFilesystem not be executed.

the reason why mountpoint not umounted? maybe volume manager have a error process while umount. maybe user service is using directory of mountpoint while umount. or some other reason?

[code]

I think we can add the umount process while checking with mountpoint left.

[code]

[2018-09-10 09:40] stewart-yu commented on #68244
Add `kube-controller manager` API round trip test done:https://github.com/kubernetes/kubernetes/pull/68461[https://github.com/kubernetes/kubernetes/pull/68461](https://github.com/kubernetes/kubernetes/pull/68461)

[2018-09-10 09:42] shubheksha commented on #68445
/kind bug
/sig network

[2018-09-10 09:48] EguchiRyo commented on #61335
Same things happen with 1.9.7-gke.5

[2018-09-10 09:57] lubinsz commented on #67720
@BenTheElder
Got it. I have received the mail.
I will finished the e2e job for Arm as soon as possible.
Thank you.

[2018-09-10 10:14] #51907 closed

[2018-09-10 10:35] apetal1 commented on #39557
Just a quick heads up on the way we worked around a similar issue (using AWS EKS)
Seems related to ENI and number of IPs allowed for each instance type. Apparently we were using t2.micro instances for our tests that allowed only 4 IPs per worker node (check AWS [doc](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html) here).
Issue fixed by switching to t2.medium instances for our E

[2018-09-10 10:38] apetal1 commented on #65544
Just a quick heads up on the way we worked around a similar issue (using AWS EKS).

Seems related to **ENI and number of IPs** allowed for each instance type.

Apparently we were using **t2.micro** instances for our tests that allowed only 4 IPs per worker node (check **AWS doc** [here](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html)).
Issue fixed by switching to **t2.medium**

[2018-09-10 10:56] falfaro commented on #66153
/sig aks

[2018-09-10 10:57] josephmansour commented on #68458
@kubernetes/sig-contributor-experience-bugs

[2018-09-10 11:07] rmohr commented on #66525
What gives me some headache in this context, is that a user still would have to request a node with that label, since the cpu request is only interpreted by kubelet and not by the scheduler. Were there some discussions regarding to making static cpu assignments schedulable.

[2018-09-10 11:09] liggitt commented on #68407
Yes, it's a config file read by the apiserver process. It must be readable by that process.

/close

[2018-09-10 11:09] #68407 closed

[2018-09-10 11:10] mbohlool opened #68464 "Properly support Unstructured in API Machinery stack"
CRDs are implemented by reusing standard API stack and represented as Unstructured. But Unstructured is not properly supported by the stack and there are lots of hacks. This is the umbrella issue for fixing those hacks:

- [ ] Properly handling __internal version for Unstructured
- [ ] Add test coverage for Unstructured
- [ ] Remove all hacks from Schema and fail hard on Unstructured.

cc @sttts

[2018-09-10 11:14] tashirj commented on #68407
Why this file is not picked even if it is provided to be read by the process? I have given full permissions too.

[2018-09-10 11:15] #62525 closed

[2018-09-10 11:17] mfranczy opened #68466 "CRD cannot have a field named 'items'"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I cannot have a resource which has a field named ```items``` it doesn't pass validation.
As an example I will modify sample-controller (https://github.com/kubernetes/sample-controller) and add ```items``` to ```artifacts/examples/example-foo.yaml```:

[code]

after executing:

```kubectl create -f artifacts/examples/exampl

[2018-09-10 11:26] mfranczy commented on #68466
/sig api-machinery

[2018-09-10 11:30] ronakpandya7 opened #68467 "Support for ReadOnlyMany Access mode in openebs-iSCSI provisioner"
Hello,

We are using openebs(version 0.6) with provisioner iSCSI and deployed it in kubernetes version 1.10.5.

We created one pvc with access mode "ReadWriteOnce", and it is working fine.
Now we want to read data from the same PVC that we created earlier, so we come to know under this link from the table of content, that iSCSI is supporting "ReadOnlyMany" access mode.

But when we trien to apply

[2018-09-10 11:40] chenyangxueHDU opened #68468 "why dont support api for deleting collection of service?"
**What happened**:
I find some apis for for deleting collection of workloads, such as job, pod, but no api for svc. I want to know why?
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version 1.11
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Ker

[2018-09-10 12:08] wojtek-t commented on #68467
@kubernetes/sig-storage-feature-requests

[2018-09-10 12:52] mohammedzee1000 opened #68470 "Failing Test: PersistentVolumes-local [sig-storage] Multiple"
# Failing Jobs
[sig-release-1.12-all#gce-1.11-1.12-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-1.12-all#gce-1.11-1.12-upgrade-cluster)

# Failing Tests
[[sig-storage] PersistentVolumes-local Local volume that cannot be mounted [Slow] should fail due to non-existent path](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-cl

[2018-09-10 12:54] denkensk commented on #68357
I am interested in it, can I do something for it?

[2018-09-10 12:59] yue9944882 commented on #68468
/triage support

[2018-09-10 13:01] raihanchdy opened #68471 "error while running make for installing coredns"
Hi,

When I run "make" command, I get below error.Please help.

root@ubuntu:~/coredns/kubernetes/cluster/addons/dns/coredns# make
make: Nothing to be done for 'all'.

[2018-09-10 13:16] CallMeFoxie commented on #66381
Yep seems to be fixed with 1.11.3 release @Huang-Wei ! Thanks :)

[2018-09-10 13:16] #66381 closed

[2018-09-10 13:30] vladimirvivien commented on #68424
@mkimuram thank you for pointing this out.

Let me investigate these issues and will reply here.

You can also reach out on slack on #wg-csi channel for further questions.

[2018-09-10 13:37] vladimirvivien commented on #67839
This issue points out BRD problems with block - https://github.com/kubernetes/kubernetes/issues/68424

[2018-09-10 14:14] vvkkhjt opened #68474 "I want to know how much risk “externalTrafficPolicy = local” for unbalanced traffic load balance"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I need to get external real IP,I set up "service.spec.externalTrafficPolicy=local"

**What you expected to happen**:
I checked the official documents and found them:

service.spec.externalTrafficPolicy - denotes if this Service desires to route external traffic to node-local or cluster-wide endpoints. There are two available op

[2018-09-10 14:18] andyzhangx commented on #67892
By further investigation, I think we should implement LazyProvider for azure acrProvider:
// DockerConfigProvider is the interface that registered extensions implement
// to materialize 'dockercfg' credentials.
type DockerConfigProvider interface {
	// Enabled returns true if the config provider is enabled.
	// Implementations can be blocking - e.g. metadata server unavailable.
	Enabled() bool
	//

[2018-09-10 14:29] msau42 commented on #68470
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/68314
/close

[2018-09-10 14:29] #68470 closed

[2018-09-10 14:53] neolit123 commented on #68457
/sig release

[2018-09-10 14:54] neolit123 commented on #68468
/sig api-machinery

[2018-09-10 14:54] neolit123 commented on #68471
/sig network
/kind bug

[2018-09-10 14:58] neolit123 commented on #68474
/sig network
/kind bug

[2018-09-10 15:03] opsnull commented on #64193
#68447

[2018-09-10 15:04] timothysc opened #68475 "Kubeadm tests have been failing for days."
**Is this a BUG REPORT**:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-1.12  &
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master

Have been failing since we PR'd job changes to test-infor

/kind bug

**What happened**:
kubernetes-anywhere deployment appears to be failing on CNI deployment of weave in the test.

Here is what happens:
init of mas

[2018-09-10 15:04] opsnull commented on #68447
same issue  #64193

[2018-09-10 15:05] mcfedr commented on #20555
Futher to @ericuldall comment, seems its not possible to use a named port from your `ports` config, you have to have a port number in the `readinessProbe`

[2018-09-10 15:07] opsnull commented on #64193
@thockin

[code]

[2018-09-10 15:08] neolit123 commented on #66338
/close
moving the discussion to here as one test was removed and the other was renamed.
https://github.com/kubernetes/kubernetes/issues/68475

[2018-09-10 15:08] neolit123 commented on #68475
/cc @mohammedzee1000 @tpepper
/assign @neolit123

[2018-09-10 15:10] opsnull commented on #58956
@danwinship  new issue #68447

[2018-09-10 15:32] mohammedzee1000 commented on #67606
/reopen does not appear to be sorted yet.

[2018-09-10 15:33] mohammedzee1000 commented on #67606
/reopen

[2018-09-10 15:35] mohammedzee1000 commented on #66243
@freehan @bowei do we have any update on status of fixes?w

[2018-09-10 16:01] dawidmalina commented on #67292
I checked the output of such command:
[code]

Looks like it is somehow related with ipset version which is too old `v6.29` on Ubuntu 16.04.

I check the same command on new ubuntu 18.04 `v6.34` and it is working.

[2018-09-10 16:04] yingnanzhang666 commented on #65954
@ricky1993 yes. I have already return err for list with resourceVersion=0 until cache is ready. Which will response 500 to client side.

[2018-09-10 16:05] rajansandeep commented on #68471
@raihanchdy This is working as expected.
When you make a change to the `coredns.yaml.base` and then do a `make`, the changes are applied to the `coredns.yaml.sed` and `coredns.yaml.in` files.

[2018-09-10 16:15] tpepper commented on #67606
@k82cn we're not seeing an improvement in test results.  Please advise.

Is https://github.com/kubernetes/kubernetes/issues/61312 also required?  We need more urgency here.

[2018-09-10 16:15] mohammedzee1000 commented on #68475
@neolit123 thanks for update. Do you want to use this issue to track, or open new issue

[2018-09-10 16:17] mohammedzee1000 commented on #66338
/reopen
Regression https://github.com/kubernetes/kubernetes/issues/68475

[2018-09-10 16:18] mohammedzee1000 commented on #66338
/close oops sorry noticed comments now

[2018-09-10 16:18] mohammedzee1000 commented on #66338
/close

[2018-09-10 16:18] #66338 closed

[2018-09-10 16:26] mohammedzee1000 commented on #68359
/cc @abgworrall

[2018-09-10 16:27] jiayingz commented on #68372
I don't think the driver installer was actually doing anything. On master node, the driver installer should just sleep after detecting there is no gpu attached.

[2018-09-10 16:32] AishSundar commented on #68359
Assigning to SIG scalability folks
/assign @shyamjvs @wojtek-t
/unassign @roberthbailey

[2018-09-10 16:34] Mahendrasiddappa opened #68477 "Please suggest what is the annotation for health check path on load balancer"
Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:

/kind bug
/kind feature
/sig @kubernetes/sig-aws-misc

What happened:
how to set health check path for AWS load balancers created by EKS service?

We found annotation for for adding health check interval and protocol, but not for path -
service.beta.kubernetes.io/aws-load-balancer-backend-protocol
service.bet

[2018-09-10 16:37] #68156 closed

[2018-09-10 16:38] BenTheElder commented on #68305
I also have a fix [here](https://github.com/BenTheElder/kubernetes/tree/slightly-less-bash-fire), but I'm focusing on getting the shellcheck PR sorted first to prevent regressions before getting this in.

[2018-09-10 16:47] pohly commented on #66649
One data point: not using the Viper-config file support in https://github.com/pohly/csi-e2e made it possible to drop also spf13/jwalterweatherman, spf13/afero, pelletier/go-toml, magiconair/properties, hashicorp/hcl, fsnotify.

[2018-09-10 16:48] liggitt commented on #68468
the service api does special things on deletion (like tear down of associated loadbalancers, releasing allocated clusterIP, etc). Doing that complex tear down across plural objects hasn't been implemented yet.

[2018-09-10 16:49] cblecker commented on #68458
@kubernetes/sig-node-bugs

/remove-sig contributor-experience

[2018-09-10 17:00] neolit123 commented on #68475
@mohammedzee1000
@timothysc opened this one so we are going to use it instead of:
https://github.com/kubernetes/kubernetes/issues/66338

[2018-09-10 17:07] BenTheElder commented on #67720
Great! `/assign` me when you [PR testgrid](https://github.com/kubernetes/test-infra/pull/8347) to display your job(s) (and please send a PR!) 😄

[2018-09-10 17:07] sigma opened #68478 "gonum.org/v1/gonum module conflicts with use of golang.org/x/exp/inotify"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

the `gonum.org/v1/gonum` module as a whole depends on `golang.org/x/exp/rand`, which has been introduced after `golang.org/x/exp/inotify` (which we depend on) was retired.

We are currently "lucky" in the sense that the subset of `gonum.org/v1/gonum` we use actually doesn't depend on `golang.org/x/exp`, so that we get aw

[2018-09-10 17:09] sigma commented on #68478
@kubernetes/sig-testing-bugs

[2018-09-10 17:11] gnufied opened #68479 "isDeviceOpened check for cinder could use invalid device path"
We fixed invalid device path in bunch of places via - https://github.com/kubernetes/kubernetes/pull/33270 but `isDeviceOpen` call still could use invalid device path.

That check can sometimes use invalid path and hence can cause UnmountDevice operation to fails even though device has already been unmounted.

/sig storage
/sig openstack

/assign

[2018-09-10 17:11] raihanchdy commented on #68471
So, for installing core dns do I need to have kubectl or make will do the installation

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sandeep Rajan <notifications@github.com>
Sent: Monday, September 10, 2018 9:38:32 PM
To: kubernetes/kubernetes
Cc: Raihan Choudhury; Mention
Subject: Re: [kubernetes/kubernetes] error while running make for installing coredns

[2018-09-10 17:17] stevekuznetsov commented on #68339
/cc @spiffxp @timothysc

[2018-09-10 17:19] spiffxp commented on #68314
The upgrade job in the description uses "ci/k8s-stable1" as its version, which is the latest build off of the release-1.N-1 branch, aka release-1.11, so I am inclined to say yes your fix is included, but it hasn't solved the problem.

Specifically, the most recent failing run upgraded to https://github.com/kubernetes/kubernetes/commit/a4529464e4629c

[2018-09-10 17:30] rajansandeep commented on #68471
The yaml files here are intended to be installed using `kube-up.sh`, which installs a kubernetes cluster from scratch.

If you already have a kubernetes cluster setup using another tool and want to install CoreDNS, use this [script](https://github.com/coredns/deployment/blob/master/kubernetes/deploy.sh) instead.

[2018-09-10 17:41] caesarxuchao commented on #65010
I see the `failedJobsHistoryLimit` is set to 1. It seems to be wrong that the failed jobs were not cleaned up. Not sure if it's a known bug in 1.8.6. @janetkuo might have more context.

[2018-09-10 17:55] vladimirvivien commented on #68115
/assign @wenjiaswe

[2018-09-10 17:56] Random-Liu commented on #68434
Close this one. let's carry on discussion in https://github.com/containerd/cri/issues/899.

[2018-09-10 17:56] #68434 closed

[2018-09-10 18:08] guineveresaenger commented on #68115
@vladimirvivien @wenjiaswe please update on a daily basis, as we're in Code Freeze. :)

[2018-09-10 18:33] grischa commented on #51650
I wonder if any solution has appeared. Our application has this two endpoints for liveness and readiness testing. Here you can see the behaviour (port-forwarded pod to 8080):
[code]

Each pod basically handles one request (a minute long processing job). It turns out that when HPA ignores all unready, i.e. busy, pods, it won't scale up to make sure at least one ready pod is available for new reques

[2018-09-10 18:39] DirectXMan12 commented on #51650
we've landed some changes in the current release that should fix this.

[2018-09-10 18:43] nmittler commented on #65502
@ant31 I haven't had any replies regarding the sig-apps thread.  Did I post to the correct forum? Any way that we can nudge the appropriate folks?

[2018-09-10 18:50] grischa commented on #51650
@DirectXMan12 Thanks for the quick response! Do you know what version this is? It might take a while for AWS to update EKS...
@kilianc, could you share your custom HPA?

[2018-09-10 18:56] DirectXMan12 commented on #51650
I'll be in 1.12

[2018-09-10 18:57] seans3 commented on #65502
Please check out **readiness gates**: https://github.com/kubernetes/community/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md

[2018-09-10 18:57] saad-ali commented on #68378
Fix https://github.com/kubernetes/kubernetes/pull/68426 has been approved

[2018-09-10 19:02] fengpinghu commented on #68248
Hi  Jordan,

I guess I can rephrase and change apiserver to kubectl. But the problem is
still it's failing to make tls connection to dex server.
I've login to the apiserver pod and verified the ca file(--oidc-ca-file) is
mounted at the specified path. I've also verified with openssl command as
well as a go program that tls connection can be made with that ca and
hostcert/keys.
Somehow the kubectl

[2018-09-10 19:04] bjhaid commented on #65502
@seans3 readiness gates does not address shutdown behavior...

[2018-09-10 19:06] liggitt commented on #68248
if the token works successfully against the apiserver before it expires, then the apiserver's TLS connection to dex (as verified by the --oidc-ca-file passed to the apiserver) is working

the issue for renewal is kubectl's connection to dex. does `kubectl config view` show a `idp-certificate-authority` parameter pointing to a CA file that validates the dex serving cert?

[2018-09-10 19:53] ixdy commented on #64018
/remove-lifecycle stale
/assign

This should probably still be fixed.

[2018-09-10 19:53] fengpinghu commented on #68248
Thanks Jordan,

That explained it. I now got what you meant when you said it's the kubectl
that make this tls connection in this case.
idp-certificate-authority is indeed not in my kubeconfig file. I will get
that added and verify tomorrow if an expired token can be renewed
successfully.

Thanks a lot,
Fenpging

On Mon, Sep 10, 2018 at 3:09 PM Jordan Liggitt <notifications@github.com>
wrote:

[2018-09-10 20:08] raihanchdy commented on #68471
I want to install a custom ha cluster.... And for this I wanted to configure each component separately. As per kubernetes doc, it is suggested to run kubelet, kube proxy as systemd services and etcd, api server, scheduler and controller as kubernetes services. But when I start configuring kubelet then I need to provide cluster dns that I am trying to configure coredns additional. Also kubctl does

[2018-09-10 20:16] msau42 opened #68486 "All gke regional e2e tests using inline or preprovisioned PDs are failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
https://k8s-testgrid.appspot.com/google-gke#gke-regional

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-regional/9828

[2018-09-10 20:16] msau42 commented on #68486
/assign @davidz627
/priority critical-urgent

[2018-09-10 20:17] msau42 commented on #68486
This appears to be unrelated to the big storage e2e refactoring change, as tests started failing before that PR merged

[2018-09-10 20:17] msau42 commented on #68486
cc @wojtek-t

[2018-09-10 20:17] msau42 commented on #68486
/kind failing-test

[2018-09-10 20:18] roycaihw commented on #68240
cc @jennybuckley

[2018-09-10 20:18] thanethomson commented on #67119
This issue definitely somehow seems [GlusterFS/Heketi](https://github.com/heketi/heketi)-related. We experienced some instability last week with our GlusterFS setup where it crashed and we just couldn't recover it (I think running Gluster on top of K8s was a bad idea for us - would've probably been better as a system service). We rebuilt our cluster from scratch, minus Gluster (now just using an N

[2018-09-10 20:18] msau42 commented on #68486
Looks to be an issue with arguments passed to the gce api when creating a PD:
[code]

[2018-09-10 20:18] roycaihw commented on #68243
cc @roycaihw

[2018-09-10 20:19] roycaihw commented on #68244
cc @yliaog

[2018-09-10 20:27] vishh commented on #68372
I don't think we should even be running the driver installer on the master unless a GPU is attached to the master.

[2018-09-10 20:30] davidz627 commented on #68486
Looks like CI projects have ~500GB leaked PD-SSD on them before the test starts, looking into cleaning that up

[2018-09-10 20:34] msau42 commented on #68486
It's actually 10Gi
https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/test/e2e/framework/pv_util.go#L724

Maybe we can make it smaller, like 2Gi

[2018-09-10 20:34] msau42 commented on #68486
there's only one test that does large IO, and I think the largest it does is 1G

[2018-09-10 20:44] krousey opened #68488 "Scheduler documents deprecated flags but does not provide its replacement"
/kind bug

**What happened**:

The scheduler command line flag documentation notes that both "--address" and "--port" are deprecated flags and suggest alternatives ("--bind-address" and "--secure-port" respectively). Those alternatives are not listed and probably not implemented.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

/cc @misterikkit

[2018-09-10 20:44] krousey commented on #68488
/sig scheduling

[2018-09-10 20:51] krzyzacy commented on #68486
/assign

[2018-09-10 20:53] tpepper commented on #67606
Latest merge around node taints appears to have regressed:
https://github.com/kubernetes/kubernetes/pull/64954#issuecomment-420056091

[2018-09-10 20:53] krzyzacy commented on #68486
so the CI janitor is not cleaning it up, I'll patch that

but the test probably should also clean it up after itself?

[2018-09-10 20:54] errordeveloper commented on #68475
cc @bboreham @brb @murali-reddy

[2018-09-10 20:54] tpepper commented on #68383
I think this is probably
/priority critical-urgent

Release team hasn't looked close enough at this issue as we've been trying to clear other issues in front of it.  If we crack those and this is unrelated root cause, then this one's going to be a release blocker.

[2018-09-10 20:54] misterikkit commented on #68488
Does `MetricsBindAddress` expose what you need?

https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/types.go#L67

[2018-09-10 20:55] msau42 commented on #68486
yes, there might be some failure cases (exit early) where we miss a cleanup

[2018-09-10 21:02] davidz627 commented on #68486
Digging into it some more, the leaked PD's have the naming scheme of the tests. So we will need to figure out where we miss cleanup

[2018-09-10 21:15] timothysc commented on #68475
We're pretty sure it's due to the older version of weave being used in kubernetes anywhere.

[code]

[2018-09-10 21:28] msau42 opened #68490 "E2E failure: CSI hostpath tests are failing in alpha clusters since 9/8"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
http://k8s-testgrid.appspot.com/sig-storage#gce-alpha-enabled-default

Probably related to https://github.com/kubernetes/kubernetes/pull/67684

[2018-09-10 21:29] msau42 commented on #68490
/assign @verult
/priority critical-urgent

[2018-09-10 21:29] msau42 commented on #68490
cc @saad-ali

[2018-09-10 21:29] AishSundar commented on #68313
Looks like we can close this umbrella bug since the individual failures have been addressed by separate bugs. @guineveresaenger @mohammedzee1000

[2018-09-10 21:33] #68313 closed

[2018-09-10 21:34] iMartyn commented on #45173
/remove-lifecycle stale

[2018-09-10 21:35] iMartyn commented on #45173
Round and round and round it goes, where it stops, nobody knows.  Patch exists, multiple people understand, noone cares.

[2018-09-10 21:36] spiffxp commented on #67862
/close
OK I'm willing to close this out.  Do we have issues open for the individual test flakes and failures?

[2018-09-10 21:37] #67862 closed

[2018-09-10 21:39] spiffxp commented on #67862
ref: https://github.com/kubernetes/kubernetes/issues/68313

[2018-09-10 21:42] AishSundar commented on #66243
Spoke to @freehan who is looking into it. the underlying GCE APIs are broken and fix is bring rolled out. the fix is outside of k8s 1.12 code and hence we need not block on it. the tests will turn green as soon as the API is fixed, later this week.

[2018-09-10 21:49] dchesterman commented on #59867
Any update on this issue? Seems to happen with `v1.9.7`.  Is there a list of versions that work or fully delete the sts?

[2018-09-10 21:54] vishh commented on #68372
@krzyzacy @jiayingz opened https://github.com/kubernetes/kubernetes/pull/68492 to prevent driver installer from running on the master in the first place.

[2018-09-10 22:03] #68333 closed

[2018-09-10 22:29] bboreham commented on #68475
On Slack I was pointed at a log file https://pastebin.com/6kzwsRmS, which has the same symptom as http://github.com/weaveworks/weave/issues/2939

[code]

we never got to the bottom of it.

Is the node a freshly-created VM?

[2018-09-10 22:36] kilianc commented on #51650
@grischa I have to ask my prev company because it's unlicensed software. I can probably share pseudo code in private tho.

[2018-09-10 22:36] kilianc commented on #51650
@DirectXMan12 is a changelog available already? can you point out the commits/pr and test suite changes? This is amazing!

[2018-09-10 22:58] PatrickLang commented on #65305
/milestone 1.13

[2018-09-10 23:14] neolit123 commented on #68475
@bboreham

no, it's a VM that is clobbered for various kubeadm based control plane node setups.

/lifecycle active

[2018-09-10 23:48] verult commented on #68490
Investigating

[2018-09-11 00:28] k82cn commented on #61312
fixed by #64954

[2018-09-11 00:28] #61312 closed

[2018-09-11 00:36] krmayankk commented on #59867
Seems more like an api issue then sig apps
/sig api-machinery

[2018-09-11 00:43] msau42 commented on #68314
@spiffxp PR #68371 merged 6 hours ago, but latest upgrade test from a few hours after that is not using the HEAD of release-1.11:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-parallel/6327

[2018-09-11 01:08] #68373 closed

[2018-09-11 01:42] mYmNeo commented on #68002
@aveshagarwal any ideas?

[2018-09-11 01:52] chenyangxueHDU commented on #68468
@liggitt , ok, I understand. Thank you very mush, plz close the issue

[2018-09-11 01:54] paultiplady commented on #25055
Looks like this issue has died through inactivity -- would just like to record my use-case here in case that's useful.

Suppose we have a Deployment that's running pods which could be executing a long-running task (e.g. a worker of some sort). It would be ideal for that worker to be killable at any time, but if it's interacting with an external system (e.g. transmitting payments, sending emails) t

[2018-09-11 02:08] m1093782566 commented on #67292
So, ipset version v6.34 is the current workable version?

@islinwb Can you send a PR to update the version check?

[2018-09-11 02:34] tossmilestone commented on #68488
I think this is a doc issue, and should be fixed in at kubernetes/website

[2018-09-11 03:01] wenjiaswe commented on #68115
I have reproduced the problem and also wrote a unit test case for confirmation. Basically with the current dynamic client implementation, the actually string of namespace is added in url here: https://github.com/kubernetes/kubernetes/blob/80b73d70a8f0926760818cc3aba8148ad0dfe419/staging/src/k8s.io/client-go/dynamic/simple.go#L316, so when finalURLTemplate function checks `r.namespaceSet && len(r.n

[2018-09-11 03:06] yue9944882 commented on #68468
/close

[2018-09-11 03:06] #68468 closed

[2018-09-11 03:26] #68378 closed

[2018-09-11 03:40] jnicholls commented on #45779
@jonasdkhansen No it did not :( both spec.selector and spec.clusterIP are set properly in my headless service definition.

[2018-09-11 04:02] jnicholls commented on #45779
@jonasdkhansen Nope I lied, it works fine. Ugh.

[2018-09-11 04:07] Sam-Fireman commented on #50295
Run these commands solved this issue:
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

After running them, kubectl is working.

[2018-09-11 04:15] tianshapjq commented on #65770
Imagine that if cluster admin deploys 1.9.2 long time after 1.9.1 deployed, and forgets to delete 1.9.1. Some time later kubelet restarts, and it would be possible to take 1.9.1 as the newest plugin. But this is not what the cluster admin wants of downgrade.

[2018-09-11 04:28] BenTheElder commented on #68478
@yujuhong for inotify / node :-)

[2018-09-11 04:29] guineveresaenger commented on #68197
/milestone clear
/priority important-soon
/remove-priority critical-urgent

This is related to [CRD webhook versioning feature](https://github.com/kubernetes/features/issues/598) which has been pushed back to v1.13.

[2018-09-11 04:29] guineveresaenger commented on #68035
/milestone clear
/priority important-soon
/remove-priority critical-urgent

This is related to [CRD webhook versioning feature](https://github.com/kubernetes/features/issues/598) which has been pushed back to v1.13.

[2018-09-11 04:33] guineveresaenger commented on #67823
@wojtek-t - is this on track for 1.12 still?

[2018-09-11 04:43] BenTheElder commented on #62549
/sig api-machinery
since this seems to be related to https://github.com/kubernetes/kubernetes/pull/50102

[2018-09-11 04:49] guineveresaenger commented on #67952
/kind failing-test

[2018-09-11 04:58] AishSundar commented on #68359
Looks like https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness is now clearing up ! However https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance is still a bit flaky.

@shyamjvs @wojtek-t can you plz take a look to see if this flake is masking any real issue? You assessment will help us ascertain the release blocking nature of this failu

[2018-09-11 05:02] AishSundar commented on #67952
/assign @msau42

[2018-09-11 05:27] jeff-1amstudios commented on #60518
/remove-lifecycle stale

[2018-09-11 05:59] krmayankk commented on #68340
/sig apps

[2018-09-11 06:02] krmayankk commented on #68179
/sig scalability

[2018-09-11 06:29] krmayankk commented on #68179
statefulset resync period is 30sec which seems excessive https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/stateful_set.go#L49

Deployment controller uses something in between 12hrs and 24 hrs as shown here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/apis/config/v1alpha1/defaults.go#L74 and https://github.com/kubernetes/kubernetes/blob/master/c

[2018-09-11 06:30] krmayankk commented on #68179
/assign @krmayankk

[2018-09-11 06:31] guoshimin commented on #17088
What's the argument against referencing a service in another namespace in an ingress? With workarounds like https://github.com/kubernetes/kubernetes/issues/17088#issuecomment-394313647, it would seem whatever supposed security benefits are nonexistent. With the ingress-nginx controller, the ability to inject arbitrary nginx config via [nginx.ingress.kubernetes.io/server-snippet](https://github.com

[2018-09-11 06:51] valentinomiazzo-tba commented on #42544
/remove-lifecycle stale

[2018-09-11 06:53] YueHonghui commented on #68179
@krmayankk We have updated the resync period to 24h. But this doesn't resolve the problem. Every time resync triggered, normal events will be blocked for a long time. This is a common problem related to resync implementation. One solution is to put events triggered by resync to a lower priority queue, but is seems a big change to current code base.

[2018-09-11 06:56] uablrek commented on #49792
Is NodePort with `externalTrafficPolicy: local` a possible alternative? It seem to give the requested function but it has iptables rules so there should be a (minor?) performance impact.

[2018-09-11 07:04] shausy commented on #68284
Type: bug

Environment: vSphere deployment.. Master and worker on VM

Kubernetes version (use kubectl version):
+++++++++++
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T10:09:24Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major

[2018-09-11 07:27] krmayankk commented on #68179
@YueHonghui i am also seeing the statefulset controller uses the default rate limiting queue which has limits for 10qps and bucket size of 100, can you try tweaking that and see if that helps ? Ideally we should make this configurable at command line ?

[2018-09-11 07:29] resouer commented on #68315
/hold

[2018-09-11 07:30] resouer commented on #68315
Let's temporarily hold this issue and related PRs  (i.e.  #67241) to focus on narrow down equiv class cache to specific cases.

[2018-09-11 07:31] pblaas commented on #61144
/remove-lifecycle stale

Would be great to see some additional feedback on this if any optimization in regards to graceful retry is begin considered.

[2018-09-11 07:36] pblaas commented on #61144
/remove-lifecycle rotten

[2018-09-11 07:38] tsuna commented on #17088
[The recommendation of @aledbf](https://github.com/kubernetes/kubernetes/issues/17088#issuecomment-307849868) to split the ingress from the service worked for us but because we also use cert-manager and an OAuth proxy, having two different ingress objects in two different namespaces caused cert-manager to generate the SSL cert with Let's Encrypt twice.  It would've been better to be able to refere

[2018-09-11 08:14] soltysh commented on #52577
There's a server-side apply working group, which is working on moving the apply command to the server. I'd be good to sync with them for the update.

[2018-09-11 08:29] bsalamat commented on #57471
Priority and preemption has been promoted to Beta since K8s 1.11.

[2018-09-11 08:29] #57471 closed

[2018-09-11 08:33] YueHonghui commented on #68179
@krmayankk Thank you for your help, I will inspect and analysis what role the rate limiting queue plays in this case. In the fork of our production version of k8s, we have exported many configuration to command line, the configurations are very useful. Back to the case, tuning configuration of rate limiting queue may not resolve the problem. To protect kube-apiserver, we must set a rate limit to t

[2018-09-11 08:43] guoh1988 opened #68501 "Node loss causes client card to die"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig Network

**What happened:**
**1.Building MySQL Cluster on k8s 1.10**
kubectl get pods -o wide
NAME      READY     STATUS    RESTARTS   AGE       IP            NODE
mysql-0   2/2       Running   0          20m       172.17.84.5   192.168.207.12
mysql-1   2/2       Running   0          5m        172.17.27.2   192.168.207.11
kubectl get svc
NAME

[2018-09-11 08:47] krzysied opened #68502 "CSI - incorrect csidrivers list calls"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kublet is spamming apiserver with csidrivers list calls. All of the csidrivers calls fail due to 403 - access denied.

[code]

**What you expected to happen**:
There should be no csi calls.
OR
Kublet (and also control manager) should have access to csidrivers.

**How to reproduce it (as minimally and precisely as possible

[2018-09-11 08:49] wojtek-t commented on #68359
This one shoudl be fixed - the last failure was an issue with leaked resources from a different test.

Given last two green runs, I'm closing this one. Feel free to reopen if you need anything else.

[2018-09-11 10:55] grzegorzpnk opened #68504 "kube-proxy pod do not initialize due to lack access to /proc/sys @kubernetes/sig-network"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
After execute kubeadm init
during kube-proxy pod initialization there is CrashLoopBackOff error all the time

Logs from pod:
[centos@server-k8s-clust-kubernetes-master-host-hkg9ht ~]$ kubectl logs kube-proxy-8gs45  -n kube-system

**What you expected to happen**:
kube-proxy pod run properly

**How to reproduce it (as minim

[2018-09-11 11:53] YuxiJin-tobeyjin opened #68507 "Consider to add an option for PodSecurityPolicy to support a blacklist for hostpath"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature
@kubernetes/sig-auth-feature-requests

**What happened**:
We now have "allowedHostPath" as an option for PodSecurityPolicy，which is whitelist of hostpaths that pod can use. But under some scenarios when pod is  restricted to use only one or some specified paths，then a black list of hostpath may be much more useful.
For example, if we wa

[2018-09-11 12:32] longdeqidao commented on #65221
Same(Mac High Sierra)
[code]

[2018-09-11 12:39] yue9944882 opened #68508 "Should support graceful deletion for CR storage"
/kind bug
/sig api-machinery

another bug uncovered by #68405. in the extension server, we are removing old CR's storage when some significant changes (spec, some status) land in the corresponding CRD with the help of CRD informer. but when we're destroying the old CRD's storage, there are might be some remaining requests invoking etcd client from the old storage. so a racing happens when the CRD'

[2018-09-11 12:44] grzegorzpnk commented on #68504
/kind bug

[2018-09-11 12:45] gtie commented on #67261
I can confirm that InitContainer restarts on Kubernetes 1.10.5 happen right after `docker system prune`. It's unexpected behavior, triggered by what should be unrelated activity.

@eyz, relying on Kubelet cleanup is not always a solution. When devicemapper storage is configured, Kubernetes fails to properly compute imageFs usage ratio and the cleanup mechanisms never kick in. It's a separate issue

[2018-09-11 12:53] sttts commented on #68508
/cc @mbohlool @nikhita

[2018-09-11 13:04] mohammedzee1000 opened #68509 "Failing Test : gck-gke up"
# Failing Jobs
[sig-release-master-blocking#gci-gke](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke)
# Failing Tests
[Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/31532)

/kind failing-test
/priority critical-urgent
/milestone v1.12
/sig gcp
/cc @tpepper @AishSundar @kubernetes/sig-gcp-test-failures

[2018-09-11 13:04] mohammedzee1000 commented on #68509
/assign @AishSundar

[2018-09-11 13:17] akumria commented on #67261
/area:docker

I've seen this happen on clusters which are not running on Azure.

Hadn't realised that it was a cleanup occuring outside of kubernetes that was triggering it. Great find @gtie !

[2018-09-11 13:26] yue9944882 commented on #68508
additionally, it reveals another deeper problem: the watch connection will fail every time we update CRD and we miss some watch events due to switching CRD storage at that time. tho we don't update CRD's frequently, missing any event in the external controller relying on CRD is critical.

[2018-09-11 13:35] AishSundar commented on #68509
/assign @barney-s
/cc @sebastienvas

@barney-s and @sebastienvas we are seeing new buckets of Gci-gke jobs failing Up: Only [one commit in k/k](https://github.com/kubernetes/kubernetes/compare/c0953ed2d...36877dafe) yesterday Looks like hosting issue. Can you please take a look. Thanks

[2018-09-11 13:39] mohammedzee1000 opened #68510 "Failing Test: Verify 1.12"
#Failing Jobs
[sig-release-1.12-all#verify-1.12](https://k8s-testgrid.appspot.com/sig-release-1.12-all#verify-1.12)
# Failing Tests
[verify godeps, verify staging-godeps](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-beta/2327)

/kind failing-test
/priority critical-urgent
/milestone v1.12
/cc @tpepper @AishSundar
/sig release

[2018-09-11 13:43] AishSundar commented on #68359
@wojtek-t what about the failures in  https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance ? do you expect even that to clear up in a new run (considering the last run was on very early on 9/10)?

[2018-09-11 13:46] AishSundar commented on #68510
/cc @dims @dougm @BenTheElder

This job started failing since yesterday, 9/10 night.

[2018-09-11 13:53] SkinyMonkey commented on #67261
I'm observing the exact same thing on AKS.

[code]

I had a cleanup go routine. Commented it, same effect : my RestartPolicy is set to never, my InitContainer fails and a new pod is created

[2018-09-11 13:55] shyamjvs commented on #68359
@AishSundar We're tackling that currently by running some manual bisection tests and also simultaneously debugging Ci runs - but it may take a while for it. More details under this issue - https://github.com/kubernetes/kubernetes/issues/67670#issuecomment-419480424.

[2018-09-11 13:59] fasaxc opened #68511 "HNS endpoints leaked after a pod startup failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Testing k8s 1.11.2 on Windows with flannel networking (not sure if it affects other plugins).  If a pod fails to start (for example because it's a linux pod that was mistakenly scheduled to a Windows node), I see the HNS endpoints that were created for it get leaked.

**What you expected to happen**:

All resources of fa

[2018-09-11 13:59] fasaxc commented on #68511
/sig windows

[2018-09-11 14:00] fasaxc commented on #68511
@kubernetes/sig-windows-bugs

[2018-09-11 14:08] liggitt commented on #68508
closing the watch connection is probably fine

how are they missed? clients are expected to reestablish watches when they close

[2018-09-11 14:10] liggitt commented on #68502
duplicate of https://github.com/kubernetes/kubernetes/issues/68378?

[2018-09-11 14:10] liggitt commented on #68502
Fixed in #68426?

[2018-09-11 14:11] wojtek-t commented on #68359
gce-scale-performance is a different issue. @shyamjvs and @krzysied are trying to debug it

[2018-09-11 14:12] liggitt commented on #68466
I suspect it might be related to this:

https://github.com/kubernetes/kubernetes/blob/36877dafe40495cb43994464e2427355f99042c7/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured.go#L53-L60

[2018-09-11 14:12] fasaxc commented on #68511
Log from the kubelet: https://gist.github.com/fasaxc/15c13a3047755657232e6acfa2b2e366

[2018-09-11 14:28] liggitt commented on #68466
cc @sttts

[2018-09-11 14:33] msau42 commented on #67952
This has been fixed by #67954 .  Do you still see it failing elsewhere?

[2018-09-11 14:37] dims commented on #68510
@AishSundar looks like something wrong in gopkg.in service itself. if i hit https://gopkg.in/gcfg.v1 on your browser i get

[code]

and a simple `go get` does not work either

[code]

[2018-09-11 14:44] dims commented on #68510
being worked on here - https://github.com/niemeyer/gopkg/issues/63

[2018-09-11 15:09] ryanmcnamara commented on #68432
Great!

The daemonset manifest we use to create the daemonset does in fact have a values array that is *not* sorted alphabetically, so it does sound like the issue you linked could be the root cause

[2018-09-11 15:43] krzysied commented on #68502
@liggitt You are right.
I'm closing the issue then.

[2018-09-11 15:43] #68502 closed

[2018-09-11 15:52] yue9944882 commented on #68508
@liggitt hmm.. imho, that depends. for informer/reflector if the watch close, and we miss some event during the reestablishing, then the new watch will fail with a ResourceVersion confliction, right? and then in another round of `ListAndWatch`, we will roughly replace the items in the cache with the latest. if the controller doesn't care about the missing events and will reconcile correctly , it's

[2018-09-11 16:01] liggitt commented on #68508
Yes. That is normal operation for a list/watch-fed informer.

[2018-09-11 16:06] shyamjvs commented on #67670
Update: We ran the density test couple of times locally against ~HEAD and it passed. Still waiting on results for load test.
In the meanwhile, I suggested @krzysied to increase the frequency of our 5k-node performance job to running daily instead of every other day in order to get a better CI signal (xref - https://github.com/kubernetes/test-infra/pull/9334).

[2018-09-11 16:12] PatrickLang commented on #68511
@fasaxc - what state was the pod in when you captured the logs? Had it been deleted, or was it still in CrashLoopBackoff?

[2018-09-11 16:13] PatrickLang commented on #68427
/sig azure

/assign @andyzhangx

[2018-09-11 16:27] daschott commented on #68511
I assume when you stop the deployment / scale it down to 0, the endpoints still persist as well?

I tried to repro this on RS5 using Kubernetes built from source and # endpoints stayed the same.

[2018-09-11 16:29] fasaxc commented on #68511
@daschott Yes, deleting the deployment leaves the endpoints in place on my system.

[2018-09-11 16:29] josdotso commented on #7452
Is there any status update on this issue?

[2018-09-11 16:30] bclau opened #68512 "PersistentVolumeClaims never finish unmounting on Windows nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

/sig windows

**What happened**:

After creating pods having PersistentVolumeClaims and deleting them, the logs are getting filled with errors regarding ``operationExecutor.UnmountDevice`` failing to unmount the volume [1]. Additionally, tests requiring PVCs will hang several minutes while waiting the PV to unmount [2].

[1] https://paste.

[2018-09-11 16:33] kalise commented on #62061
Any progress on the resolution? Thanks

[2018-09-11 16:44] #62578 closed

[2018-09-11 16:48] PatrickLang commented on #68512
/sig azure
/assign @andyzhangx

[2018-09-11 16:49] AishSundar commented on #67952
@msau42 I do see failures even this morning in the following jobs.

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

[2018-09-11 17:20] mkboudreau commented on #55807
@yujuhong @infinitymittal I just ran across this today, trying to figure out why my prestop hook wasnt being called when my job completed successfully. Pretty frustrating and very unexpected.

The docs clearly state for preStop:

I realize yujuhong stated:

 but that seems counter-intuitive and unlike anything anyone would reasonably expect.

**I agree with infinitymittal that this should be relab

[2018-09-11 17:31] apelisse opened #68514 "Dry-run: Path to GA"
This is describing the steps necessary to move [Dry-run](https://github.com/kubernetes/features/issues/576) to Beta.

These are the list of features and bugs that need to be addressed before Dry-run can move to GA.

Please cross-out (do not remove, please) whichever does not seem appropriate for moving to GA and put your name behind it. If you want to add any notes specific to a task, please list

[2018-09-11 17:32] apelisse commented on #68514
/sig api-machinery

[2018-09-11 17:32] msau42 commented on #67952
@AishSundar those failures are not the same test case as the title:
PersistentVolumes NFS when invoking the Recycle reclaim policy should test that a PV becomes Available and is clean after the PVC is deleted

The PersistentVolumes-local faillures are being tracked in https://github.com/kubernetes/kubernetes/issues/68314

[2018-09-11 17:42] AishSundar commented on #67952
Ah thanks for clarifying @msau42 Will close this one out then.

[2018-09-11 17:42] #67952 closed

[2018-09-11 18:05] verult opened #68515 "CSI e2e test: Update hostpathplugin version to 0.3.0"
/kind bug

The driver had to be switched to a more recent version in order for the e2e test to pass. Switch the version tag from canary to v0.3.0 once the release is cut.

https://github.com/kubernetes/kubernetes/blob/99f319567a5148f501e49da35c83478303eab38b/test/e2e/storage/csi_objects.go#L41

[2018-09-11 18:06] verult commented on #68515
/assign
/sig storage

[2018-09-11 18:26] DirectXMan12 commented on #68383
It's going to be supremely hard to debug this unless we have logs from metrics-server and/or snapshots of the HPA over time.  I'm trying to reproduce on a local cluster, but so far, the test passes consistently.

@kubernetes/sig-autoscaling-bugs

@Random-Liu did you manage to reproduce locally?

[2018-09-11 18:26] DirectXMan12 commented on #68383
@kubernetes/test-infra-maintainers is there any way to grab logs of pods from a testing cluster?

[2018-09-11 18:27] xmudrii commented on #57042
/remove-lifecycle stale

The issue #65517 describes similar problem, so maybe one can be closed.

[2018-09-11 18:31] guoshimin commented on #17088
@tsuna We have a similar use case where we use an oauth2 proxy and we really don't want to run one in every namespace.

[2018-09-11 18:36] msau42 opened #68517 "Add more e2es for topology aware dynamic provisioning"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
Some more test cases to run in a multizone environment:
- Deployment that requests multiple pvcs
- Statefulset using nodeSelector on two specific zones (out of 3), and multiple pvcs
- Nodes in specific zones get tainted

[2018-09-11 18:36] msau42 commented on #68517
cc @ddebroy is this something you can help with?

[2018-09-11 18:38] sttts commented on #68466
The error comes from here: https://github.com/kubernetes/kubernetes/blob/66a4e5122a2d810ada2f23af803d1e44256dd260/vendor/github.com/go-openapi/validate/object_validator.go#L80

Is this some kind of JavaScript speciality that slices are represented as objects with `items` and `type`?

[2018-09-11 18:40] liggitt commented on #68466
none I've ever encountered

[2018-09-11 18:41] sttts commented on #68466
Haven't found it in JSON Schema (yet) https://json-schema.org/specification.html

[2018-09-11 18:42] sttts commented on #68466
Found this example https://json-schema.org/latest/json-schema-core.html#rfc.section.8.3.2, which looks concerningly similar to what we see.

[2018-09-11 18:43] sttts commented on #68466
Comes from this PR, without any reasoning: https://github.com/go-openapi/validate/pull/35

[2018-09-11 18:45] liggitt commented on #68466
it looks like something that should be validating a schema, not an object

[2018-09-11 18:46] krzyzacy commented on #68383
you probably want to save it as part of the artifacts?

[2018-09-11 18:47] DirectXMan12 commented on #68383
@krzyzacy yeah, what's the process for that?

[2018-09-11 18:53] sttts commented on #68466
Bug in go-openapi I believe, misunderstanding of the OpenAPI spec: https://github.com/go-openapi/validate/pull/35#issuecomment-420380325

[2018-09-11 18:55] dougm commented on #68510
Note that this shouldn't block the beta.2 build, since the issue is only hit during `verify-godeps`.  CI runs that step, but release builds does not afaict.  Though would prefer to have the gopkg.in issue resolved prior to the beta build of course.

[2018-09-11 19:00] DirectXMan12 commented on #51650
it was included as a side effect of https://github.com/kubernetes/kubernetes/pull/67252

[2018-09-11 19:13] benmoss commented on #68189
I think this is not a Kubernetes issue, not sure what that repo you linked to is.

[2018-09-11 19:16] embano1 commented on #67703
### Background
v1.12 will support topology-aware dynamic scheduling, which requires some work on the vSphere volume provisioning.

StorageClass will introduce a new parameter `VolumeBindingMode` which has to be set to `"WaitForFirstConsumer"` if this functionality is desired (v1.12 also requires a feature gate enabled).

PV controller will check for delayed binding option and defer the volume bind

[2018-09-11 19:29] krzyzacy commented on #68383
@DirectXMan12 somewhere along https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L40-L53

[2018-09-11 20:03] fturib commented on #67600
@tpepper , @MrHohn , @thockin, @csbell: **Does it make sense to keep that e2e test ?**,

knowing that this test is specific for "Federation" and that federation has now merged into "multicluster" and removed all e2e tests about "Federation + Serial" (formerly "ci-federation-e2e-gce-serial")
=> see

@csbell, @shashidharatd : can you say if that use case is still supported in kubernetes v1.12 ?

[2018-09-11 20:27] dougm commented on #66321
Have not started digging into this yet beyond research put into the gomvomi issue, but planning to early in the 1.13 cycle.

[2018-09-11 20:33] huguesalary commented on #36222
Same issue here. No idea what makes one configmap show better than another.

[2018-09-11 20:34] dashpole opened #68522 "Reduce the set of metrics exposed by the kubelet"
### Background
In 1.12, the kubelet exposes a number of sources for metrics directly from [cAdvisor](https://github.com/google/cadvisor#cadvisor).  This includes:
 * [cAdvisor prometheus metrics](https://github.com/google/cadvisor/blob/master/docs/storage/prometheus.md#prometheus-metrics) at [`/metrics/cadvisor`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L27

[2018-09-11 20:41] fengpinghu commented on #68248
And certainly it can. So this can be closed. Thanks!

On Mon, Sep 10, 2018 at 3:53 PM Fengping Hu <fhu.work@gmail.com> wrote:

[2018-09-11 20:43] liggitt commented on #68248
Great, glad it got resolved

/close

[2018-09-11 20:43] #68248 closed

[2018-09-11 20:56] gabrie30 commented on #40846
Thanks for this. Could not figure out how to use && in a liveness check the following works nicely.

[code]

[2018-09-11 21:03] fabriziopandini commented on #68304
Ok. The new step is to check if controller manager works properly.
Controller manager add a jet to tokens; but in this case it seems missing (invalid token)

[2018-09-11 21:11] hoegaarden opened #68524 "volume attach_detach controller: move CRDs to yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In #68260 validations have been added to the CRDs. There was also the request to move the CRDs into yaml files:

However, to not block [1.12](https://github.com/kubernetes/kubernetes/pull/68406#issuecomment-420106558) this won't be done right now. As soon as 1.12 is out the door the CRDs should be moved to yaml files.

I

[2018-09-11 21:11] hoegaarden commented on #68524
/sig-storage
/sig-api-machinery

[2018-09-11 21:28] ddebroy commented on #68517
Yes certainly. On my radar as we discussed.

[2018-09-11 21:28] ddebroy commented on #68517
/assign

[2018-09-11 21:30] nmittler commented on #65502
@seans3 @ant31 can we get some traction on this? From the number of folks chiming in here, it seems pretty clear that there's something here worthy of further discussion.

[2018-09-11 21:33] csbell commented on #67600
I can say that Federation v1 has not been exercised since v1.10.

I think a good question for the Federation v2 folks is not only whether
they still need the tests, but also whether they need the configmap support
specific to what Federation v1 used -- I'll defer to @shashidharatd
<https://github.com/shashidharatd>.

On Tue, Sep 11, 2018 at 1:04 PM Francois Tur <notifications@github.com>
wrote:

[2018-09-11 21:35] RenaudWasTaken commented on #65770
Hmm that sounds like an edge case we want to handle.

So to rephrase in a use case what you mentioned and merge with the conflicting se case:
- A cluster admin deploys a plugin 1.1 on his/her cluster
- Kubelet registers to plugin 1.1
- After some time he/she deploys plugin 1.2,
- Kubelet switches to plugin 1.2
- Kubelet restarts and kubelet gets event in reverse order (1.2 then 1.1)
- Kubelet regi

[2018-09-11 21:45] caesarxuchao commented on #52185
KEP: https://github.com/kubernetes/community/pull/2524/files.

[2018-09-11 21:46] apelisse opened #68526 "Kubectl Diff path to GA"
This is describing the steps necessary to move [kubectl diff](https://github.com/kubernetes/features/issues/491) to Beta and GA.

These are the list of features and bugs that need to be addressed before `kubectl diff` can move to beta and GA.

Please cross-out (do not remove, please) whichever does not seem appropriate for moving to Beta/GA and put your name behind it. If you want to add any notes

[2018-09-11 21:46] apelisse commented on #68526
/sig cli

[2018-09-11 21:47] alexsandro-xpt commented on #66013
Same problem here, @hariprasadsly any progress?

[2018-09-11 21:49] daschott commented on #68511
I am able to repro this on 1.11.2 now, but not on v1.13.0-alpha.0.1194+8d1127cb41c939. I suspect this might be fixed with https://github.com/kubernetes/kubernetes/pull/66587 -- @fasaxc, can you confirm?

[2018-09-11 22:06] uromahn commented on #65502
Just to add some flavor to my previous comment and +1 above:
We are currently running a rather large K8s cluster with way over 1000 pods. Most of our pods have multiple sidecars running in them. While for most sidecars it is irrelevant when they start/stop, there are some where it is very important that they start **before** the main container and for others it is important they stop **after** the

[2018-09-11 22:28] BenTheElder opened #68527 "adopt multiple github issue templates to simplify issue filing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: We have a single, large issue template.

**What you expected to happen**: We should leverage individual templates to make it easier to file bugs and deal with less uncommenting of slash commands etc. Here's what the UI looks like in kubernetes/org:

![image](https://user-images.githubusercontent.com/917931/45391253-20

[2018-09-11 22:29] BenTheElder commented on #68527
cc @cblecker @spiffxp @justaugustus

[2018-09-11 22:29] BenTheElder commented on #68527
xref: https://github.com/kubernetes/test-infra/issues/9344

[2018-09-11 22:32] justaugustus commented on #68527
Adding a help wanted, in case I don't get to this. Please tag me on the PR, if anyone decides to pick this up.

/help

[2018-09-11 23:02] msau42 opened #68528 "Race condition in GCE PD udev logic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig-storage-bugs

**What happened**:
The GCE PD driver contains logic in `WaitForAttach` to run "udev trigger" on new devices that it sees.  This is to workaround potential issues in the udev system where it misses scsi events and fails to run its rules on the new device.  In order to not impact already mounted devices, "udev trigger" is o

[2018-09-11 23:02] msau42 commented on #68528
cc @saad-ali @davidz627 @gnufied

[2018-09-11 23:26] tonglil commented on #60164
This is still an issue, is there a documented workaround or otherwise workflow that can allow update to a crashing STS to recover?

/reopen

[2018-09-11 23:40] shyamjvs commented on #67670
We should now have a run once every weekday (starting tomorrow).

On Wed, Sep 12, 2018, 12:23 AM guineveresaenger <notifications@github.com>
wrote:

[2018-09-11 23:59] andyzhangx commented on #68512
@bclau what's your PVC type? is it azure disk?

[2018-09-12 00:27] zeelichsheng commented on #62594
We are seeing same issue. When deploying the same pod to multiple nodes, pods on some node can pass liveness probing, while pods on other nodes fails with "connection refused" issue.

The pod was eventually killed and re-scheduled on the same node. However, this time the probing started working.

[2018-09-12 00:32] Pingan2017 commented on #68507
cc @liggitt

[2018-09-12 00:35] andyzhangx commented on #68427
@LohithChanda Could you provide `kubectl describe PVC mongo-0` output?
If the PVC is already attached to a VM, resize azure disk PVC would fail, you need to delete the pod to let that azure disk unattached first, for details, refer to https://github.com/kubernetes/kubernetes/pull/64386

[2018-09-12 01:37] PatrickLang commented on #68375
Yes, I have also seen it on v1.11.2. I haven't tried master or v1.12beta yet

[2018-09-12 01:38] PatrickLang commented on #68374
Also happening on v1.11.2, haven't tried v1.12 or master

[2018-09-12 01:39] tianshapjq commented on #65770
yes, we can document to inform that registration would follow the alphabetical order, but  the plugin developer may not notice this, and the pugin name may act like `gpu1.1`, `gpu 1.2`, `gpu_1.3`, after several upgrading. That is, the developer may not strictly follow the alphabetical order in plugin names. So, why not separate the version from plugin name to make it looks more natural? And it wou

[2018-09-12 02:28] lf1029698952 commented on #65966
It's caused by the network, fix network and the problem no more appear, Thanks!

[2018-09-12 02:28] #65966 closed

[2018-09-12 02:53] liggitt commented on #68507
A blacklist for hostPath would not be effective. A container could create a symlink to any folder it wished inside a non-blacklisted hostPath, then mount that symlink directly in a second container, and obtain access to any path desired.

[2018-09-12 02:54] liggitt commented on #68507
Closing since this would not be practical to implement, and would not actually provide the expected protection.

/close

[2018-09-12 03:01] linyouchong commented on #68026
@dims I will work on all the packages related to pkg/registry/*

[2018-09-12 03:16] apelisse commented on #63559
I think we can call this done. Closing.

[2018-09-12 03:16] #63559 closed

[2018-09-12 03:41] YuxiJin-tobeyjin commented on #68507
@liggitt
 Yes，but even the currently implemented  white list has the same problem.
 I think for most cases this feature can be used to forbid pod to mount specified volumes explicitly during its creation, Symlink is some kind like a trick or a backdoor , if administrator really want to protect its system, he may delete the symlink at the first place.
btw, I'm working on a PR to implement this feat

[2018-09-12 03:50] YuxiJin-tobeyjin commented on #68507
/reopen
cc @liggitt @deads2k

[2018-09-12 03:51] liggitt commented on #68507
if we'd been aware of the issue when the currently whitelist was added, it would have required an exact match, not just a prefix match (I'd like to see that capability added in the future). also, the currently implemented set of allowed paths can require the allowed hostpath volumes be mounted readonly, which prevents creation of symlinks.

a security policy that is trivially vulnerable to tricks

[2018-09-12 03:55] #62579 closed

[2018-09-12 04:12] Lion-Wei commented on #65502
I think pod ready++ is for custom defined pod condition, try to make sure pod is working.
And this proposal aims to specify a startup dependencies between containers, like I have two container in one pod, and I want container2 start first, and after container2 works well, then container1 can start.
I think pod ready++ can't cover this use case.

@nmittler Am I understand right?

[2018-09-12 04:15] MikeSpreitzer opened #68533 "apiserver does not offer command-line control over availability of Prometheus metrics and default in release 1.10 is "unavailable""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I made an extension apiserver based on the example.  I tried to scrape its Prometheus metrics at `/metrics`, and was rewarded with a 404.  I looked for a command line flag to enable metrics, and found none.

**What you expected to happen**:
I expected to get the same sort of result I get from the regular kube apiserve

[2018-09-12 04:41] msau42 commented on #68314
@BenTheElder could you see why the ci/k8s-stable1 tag still doesn't have my commit from #68371?

[2018-09-12 04:52] keir-rex commented on #55713
@marczahn `large-cluster-size-threshold` is set to `50` by default which means that `secondary-node-eviction-rate` is set to zero for any cluster smaller than 50 nodes. Meaning that the pods will never be evicted.

The primary `node-eviction-rate` applied when a zone reaches the `unhealthy-zone-threshold` requiring a minimum of 3 nodes in that zone. So your zone will always be considered healthy i

[2018-09-12 05:44] pytimer commented on #8335
Hi, i am a beginner in kubernetes.
I met the similar question in my kubernetes cluster on the five vms.

- Kubernetes version: `v1.11.0`
- OS: CentOS Linux release 7.5.1804 (Core)

Cluster have three masters and two nodes, when i shutdown master3 and two nodes, some pods status  `NodeLost`, but other pods still `Running`,  Why?

I describe one pod, Conditions Ready is `False`, and service endpoint