[2016-02-10 00:16] yujuhong commented on #20876
By the way, I was able to reproduce this by running docker-stress in https://github.com/docker/docker/issues/17443

[2016-02-10 00:16] ihmccreery commented on #20824
Per our versioning rules, we should expect a v1.2 server to remain backward compatible with v1.1 clients.  I don't have much experience with the api machinery, but if clients weren't expecting an unversioned object, it seems like we can't up and switch to versioned objects.

[2016-02-10 00:17] smarterclayton commented on #20935
Each API group owns it's swagger spec. Why are we not just having
kubectl use the spec for a given groupversion?  Why do we need to
merge?

Kubectl already has abstraction for schema per group version, I don't
know why we would need an additional layer.  Merging sounds like it
isn't going to actually make the problem easier.

And ultimately, a swagger doc isn't required for kubectl to function,
so

[2016-02-10 00:26] yujuhong commented on #20096
FYI,  reproduced this by running docker-stress in docker/docker#17443
#20876 is also filed for the e2e test flakes.

[2016-02-10 00:37] lavalamp commented on #20824
I think we have to maintain compatibility somehow. @smarterclayton any ideas for a fix other than the obvious one?

[2016-02-10 00:44] dchen1107 commented on #20096
A little bit summary I sent out a couple of days ago through another thread:

* There is a known kernel issue, and the first report I saw is around 2007. One issue is tracked by redhat bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=880394. But we don't believe it is fixed. Our internal kernel folks did repro the failure on newer kernel simply through https://github.com/crosbymichael/docker-

[2016-02-10 00:49] dchen1107 commented on #20096
re: https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-181701209

This is what I proposed last week by configuring the following kernel flags:

kernel.hung_task_panic = 1
kernel.hung_task_timeout_secs = 300

But I couldn't reproduce the issue on my reconfiged VM yet, not sure if it triggers such panic when kernel run into such deadlock.

[2016-02-10 00:56] bgrant0607 commented on #18785
cc @kubernetes/goog-cluster

[2016-02-10 00:56] bgrant0607 commented on #17645
cc @kubernetes/goog-cluster

[2016-02-10 00:57] bgrant0607 commented on #17645
cc @kubernetes/rh-storage

[2016-02-10 01:03] fasthall opened #20945 "docker-multinode master booting script doesn't work"
Docker version: 1.7.1
K8S version: 1.2.0-alpha.7 (on master branch)
I follow [this guide](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.md) and run master.sh.

$ **kubectl get pods** shows:
NAME                             READY     STATUS    RESTARTS   AGE
k8s-master-hostname   4/4       Running   1          10m
k8s-proxy-hostname    1/1

[2016-02-10 01:05] ihmccreery opened #20946 "Update the master branch constant for doc generation"
New release series only happen every three months, so this isn't particularly important, but would be nice to streamline.  Will add more xrefs as I build out docs.

[2016-02-10 01:09] bgrant0607 commented on #16715
@kk580kk

Please take a look at Kubernetes documentation regarding services and DNS:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/connecting-applications.md
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/services.md
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns

If you have additional questions, please try stackoverflow.com.

[2016-02-10 01:09] #16715 closed

[2016-02-10 01:11] erictune commented on #12298
I'm adding unique-label/selector generation in the Job `strategy.Validate`, right before the api validation.

It is the quickest way forward.

[2016-02-10 01:18] dchen1107 commented on #20096
Before we decide if reconfig the kernel flags, we still need to figure out the root cause, and the failure rate. Rebooting a node once every day due to hung task is not acceptable to the users.

[2016-02-10 01:22] ghodss commented on #19639
@bgrant0607 I created #20948 which fixes this. I'm really hoping we can get this into 1.2 since it's a pretty small, isolated fix but a pretty big bug that is complicating our config generation system. Let me know what else I can do to help.

[2016-02-10 01:24] bgrant0607 opened #20949 "Mysql-wordpress-pd example needs improvement"
https://github.com/kubernetes/kubernetes/tree/master/examples/mysql-wordpress-pd

The example doesn't follow best practices: #11361.
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/config-best-practices.md

Some of these practices are newer than the example, and it needs to be updated. For instance, it shouldn't use `name` as a label key.

More significantly, now that we have

[2016-02-10 01:24] dchen1107 commented on #20096
cc/ @ihmccreery Can we restart kubernetes-soak-continueous-e2e-gce with  #20840? So that we have dmesg collected from nodes to figure out how often we run into the problem?

Also we want to do a AB comparison by forking kubernetes-soak-continueous-e2e-gce with #20883 with flag off. Can we have that one too?

[2016-02-10 01:27] bgrant0607 commented on #20949
We should use Secret for the password, also.

[2016-02-10 01:27] bprashanth commented on #20096
For the record the repro in https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-182145664 tells us a lot.
* docker-stress just pings google.com https://github.com/crosbymichael/docker-stress/blob/master/stress.json (@yujuhong correct me if this isn't the json you used).
* The test does nothing but startup a bunch of docker containers in parallel.
* It was run from a Kubernetes node,

[2016-02-10 01:31] yujuhong opened #20950 "Consider using pleg container events to start/stop probers"
I've been thinking whether it makes sense to start/stop probers using pleg events.

Pros:
- Faster reaction to container events.
- No need for `CleanupPods` now that the probers will be stopped when the container no longer exists
- The potential to simplify some logic in prober (see https://github.com/yujuhong/kubernetes/commit/918477ccea9ddfc341c05c7bf0ac2dd7dd5ad057 and ignore prober/testing.go.

[2016-02-10 01:37] bprashanth commented on #20949
I wanted to re-write this example using ghost (essentially the blogging part of wordpress without the CMS etc: https://hub.docker.com/_/ghost/) because it's a lot simpler to start with.

My idea was to start with a single container, then add a database (even sqllite using emptydir), then grow it to mysql + pv in a different service, then add ingress in front. Additionally we can configure ghost wi

[2016-02-10 01:42] AdoHe commented on #20941
@bgrant0607 I can do more work to improve consistence should I start working on this?

[2016-02-10 01:45] Random-Liu commented on #20950
@yujuhong I have one question. :)
If a container is dead, shouldn't the liveness prober keep monitoring and update pod status?

[2016-02-10 01:49] lavalamp opened #20951 "Moving resources: essential 1.3 cleanup"
We moved job into batch and HPA into autoscaling. We need to recover from that before 1.3.

* Switch all code to use batch/__internal instead of extensions/__internal for Job.
  * This may involve magic to get the conversions to do everything we want.
* As above for HPA.
* Update the storage upgrade test to remove extensions from the KUBE_NEW_API_VERSIONS variable to test the above.

I will add mo

[2016-02-10 02:06] saad-ali commented on #17680
Neat! But, it'll add complexity, so not sure if it's worth it.

[2016-02-10 02:12] saad-ali commented on #15577
#18230 duplicate

[2016-02-10 02:12] saad-ali commented on #18230
@15577 duplicate

[2016-02-10 02:16] yujuhong commented on #20950
In this case, a probe worker will be tied to a container ID, not a container name. If the given container with the ID is already dead, there is no point of updating the liveness anyway.
Also, the liveness manager uses container ID as the key, not the container name, so ideally there should be no change to it. :)

[2016-02-10 02:27] bgrant0607 commented on #20332
Sorry I wasn't clear in #19921. We can't do this in the v1 API. It's a non-backward-compatible API change.

ref #8190 for tracking

cc @kubernetes/goog-cluster @kubernetes/rh-storage

[2016-02-10 02:34] Random-Liu commented on #20950
@yujuhong Ah, I see. I didn't notice that you change the code of probe manager. :)

[2016-02-10 02:36] dalanlan commented on #20522
Ah, i made a mistake. On the contrary, the master's role overwrites the minion one. So flannel is started based on etcd.

[2016-02-10 02:37] justinsb commented on #19340
This is fixed now that that #20395 is merged.  Thanks @jimmidyson

[2016-02-10 02:37] #19340 closed

[2016-02-10 02:38] justinsb opened #20955 "AWS volume auto-provision not working"
I think AWS volume auto-provision is not working, last I checked because the provider now attempts to resolve the volume template with a name of "dummy" and fails.

Two things to check:

1) That it works again
2) That auto-labelling of zones works with Ubernetes-Lite

[2016-02-10 02:39] justinsb commented on #20955
(this is mostly a note to remember to file a proper bug report and/or fix this...)

[2016-02-10 02:53] bgrant0607 commented on #20941
@AdoHe That would be great, but let's get your existing PRs in and also wait for the initial ReplicaSet implementation to be merged.

[2016-02-10 02:54] coleca opened #20957 "AWS kube-up.sh Ubuntu 1.2.0-alpha.7 missing git"
Just did a fresh kube-up.sh install on AWS using Ubuntu trusty as the dsitribution.  It seems that the git package is not installed by default which causes issues for K8S elements that are pulling from git, such as a gitRepo volume.

Receive this error in the logs:
failed to exec 'git clone https://github.com/<REPO>': : executable file not found in $PATH

Manually installing git corrects the issue

[2016-02-10 03:01] bgrant0607 commented on #19639
@ghodss Thanks for the PR. We're short on reviewer bandwidth at the moment. I assigned it to Clayton for review or delegation.

[2016-02-10 03:04] justinsb commented on #20957
Anyone know if git is included in the base image on GCE?

[2016-02-10 03:05] timstclair commented on #20904
I also ran into this. I've narrowed it down to the `-name` part of the command. In my case:
[code]

[2016-02-10 03:16] timstclair commented on #20904
Very similar symptoms to https://github.com/docker/docker/issues/17691, but the advice from that bug (delete `/var/lib/containers, /var/lib/docker/linkgraph.db`) did not resolve it for me.

[2016-02-10 03:35] ArtfulCoder commented on #20904
Run docker info and see what the path/*  be to delete.
It is not /var/lib/docker for our desktops.

After deleting, kill docker daemon. It should come up again and all will be good.

You might want to remove all images first.

The above worked for me and also helped someone else on the team.

Sent from my iPhone

[2016-02-10 03:37] bgrant0607 commented on #20824
Yes, we have to maintain backward compatibility with 1.1 (and 1.0) clients.

New paths that old clients didn't know about could behave differently than paths that existed in previous releases.

[2016-02-10 03:38] mikedanese commented on #20904
I ran into this too. Seems like it might be related to docker 1.10 upgrade on my workstation.

[2016-02-10 03:41] saad-ali commented on #20904
Deleting all docker images, then deleting `docker/linkgraph.db`, and restarting the docker daemon fixed the problem for me when I ran into it last night.

[2016-02-10 03:45] bgrant0607 commented on #20935
I agree with @smarterclayton.

We don't want to merge swagger specs, IMO. We should expose group-specific swagger API paths. We need to change to versioned paths (i.e., swagger version), as well.

[2016-02-10 03:50] jdef commented on #19432
That's awesome news - thanks

On Tue, Feb 9, 2016 at 7:10 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-02-10 03:56] timothysc commented on #20096
/cc @eparis - are you aware of this issue, I'm not seeing it.

[2016-02-10 04:03] bgrant0607 commented on #19724
@mikedanese is correct.

The problem is that we don't have a document that describes how e2e tests should be written, so people have written brittle tests that test the implementation, not actual conformance. (A doc is in progress: #20041)

[2016-02-10 04:09] bprashanth commented on #20096
I got this to repro on a single node with a single run of the stress test from https://github.com/kubernetes/kubernetes/pull/19485/ on a 200 node cluster. This shows that we need breadth to hit the race, not necessarily days of soaking.

[2016-02-10 04:09] suzukihi724 commented on #13382
I got the same issue kubernetes v1.1 on AWS  when I used t2-micro cluster for master-node.
But, this issue doesn't happen when using t2-large cluster (that has more memory than t2-micro) .

[2016-02-10 04:17] bgrant0607 opened #20961 "Fix Cassandra example umbrella issue"
examples/cassandra is broken:

#20999
#19098
#19071
#17728
#17275
#10931

There text explaining the single-replica RC is also confusing: #20746

Also, the example currently reads endpoints. It could just use DNS.
https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java

We should check other best practices, such as putting multip

[2016-02-10 04:24] #20923 closed

[2016-02-10 04:55] erictune commented on #2770
List of abstractions provided by current API, with comments:
- LoadBalancers
  - this is used by "services", but we already discovered with Ingress that `pkg/cloudprovider` abstraction doesn't fit, IIUC.
- Listing instances
  - this may be obsoleted by kubelet self-registration?
- Instance metadata (addresses, IDs)
  - this is more of a kubelet-to-node API than a "cloud provider" API.
- Adding ssh

[2016-02-10 05:20] lavalamp commented on #20935
I agreed with both of you guys initially and even suggested splitting it by
group, but Nikhil pointed out that if it's merged, you can use swagger told
to generate complete clients. It sounds hard to me, though. I think we
should worry about this only after we get kubectl working through the
proxy/discoverizer.
On Feb 9, 2016 7:45 PM, "Brian Grant" <notifications@github.com> wrote:

[2016-02-10 05:24] metral commented on #20734
I too am hitting this hiccup on v1.1.7.

I filed a similar issue on v1.1.3 a few months back https://github.com/kubernetes/kubernetes/issues/18749

[2016-02-10 06:31] luxas commented on #20791
@ixdy Yep, that's how it is. Will send a fix for this...

[2016-02-10 06:48] thockin commented on #20904
Seems to work for me.

[2016-02-10 07:27] thockin opened #20962 "GCE load-balancer resources should get descriptions"
Once #20731 lands, we have the service name and can stick that into description fields for IP addresses, forwarding rules, target pools, and firewalls.

[2016-02-10 07:29] wojtek-t commented on #20921
As for perf-dash, it should definitely be doable. What it is currently doing, it is reading data from Jenkins logs and creating a csv file somewhere, which is then being read by the front-end. We should just place this csv in a public location.

@gmarek

[2016-02-10 07:30] wojtek-t commented on #20841
Sure, although after the recent bug I looked into all places where I added it and there are only few of them now. And in my opinion they look ok.

[2016-02-10 08:05] sdminonne commented on #17874
@caesarxuchao I'm going to update the PR with what you're suggesting. Thanks

[2016-02-10 08:06] luebken commented on #10163
@thockin wrote:

even happier.  Is someone working on that?

With the [recent uprise](https://www.brianchristner.io/docker-is-moving-to-alpine-linux/) in interest in minimal containers I was also searching for alternatives for alpine. @thockin: Any luck?

[2016-02-10 08:25] wojtek-t opened #20963 "Remove Set() method from storage.Interface"
Set method from storage.Interface:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/interfaces.go#L91

is used only in few tests. We should get rid of it completely.

[2016-02-10 08:32] gmarek commented on #19724
@bgrant0607 a lot of e2e tests were written before 1.0, when API wasn't as rich as it is today. Are you suggesting that we should put engineering effort in rewriting those?

[2016-02-10 08:35] bitchecker opened #20964 "pods don't run in replication controller"
Hi, i've a simple kubernetes cluster with a master and two minions. In this scenario, if i run a simple pod of a nginx or a mysql it works properly but, if i change type of KIND into yaml file and i try to run a replicated service, pods will start but i can't access to the service.

this is my yaml file for nginx simple pod:
[code]

it works properly and i can access to it after i run associated s

[2016-02-10 08:41] gmarek commented on #20921
It's not working exactly as @wojtek-t - we're generating JSON objects, but that's not important. I'll do this for perfdash in some free cycles (maybe today, maybe next week), though it'll be more of a duct tape.

I think that we should uniformize the output for various summaries and generalize contrib/compare/src/scraper.go to handle all of them. It's probably a couple days worth of work, so it'll

[2016-02-10 08:57] bgrant0607 commented on #19724
@gmarek Yes, or replace them, or accept that they'll break at some point.

At minimum, we should establish clear guidance for tests that have yet to be written.

[2016-02-10 09:25] #20668 closed

[2016-02-10 10:07] smarterclayton commented on #20935
Well, two groups can have the same sub model name for a struct that
don't have the same schema, so I don't think merging works without
transformation of some form. Either way, it seems like we're in
agreement that we can discuss it in 1.3

[2016-02-10 10:10] smarterclayton commented on #20824
Nope, let's make sure we leave a test and comment.

[2016-02-10 10:13] smarterclayton commented on #20824
We can't make the change here though, this would break "versioned
unversioned" objects (like v1.status)

[2016-02-10 10:16] smarterclayton commented on #20824
The other implication of course is now we "versioned unversioned"
objects (v1 status) and "unversioned unversioned", which means we
shouldn't ever add new objects that don't return a version.  I don't
think anything in 1.2 qualifies as a new object without a version,
just 1.1 objects that didn't have correct versions.

Having objects from extensions group be returned without versions
terrifies me

[2016-02-10 10:24] smarterclayton commented on #20824
We may need per API group version rules registered on scheme about
whether "unversioned" objects are returned in their scheme version or
as empty.  That's probably the backward compatible fix that gives us a
hope of reasoning about behavior correctly (status in 1.0 is v1,
status in extensions might be "", apiversions in any new group is
"v1").

The unversioned marker on the objects should ensure 1

[2016-02-10 10:29] soltysh opened #20966 "Cleanup policy should work for paused Deployments"
This was discovered during [#18077](https://github.com/kubernetes/kubernetes/pull/18077#issuecomment-178730733), current logic of reaper is infected by additional logic bypassing this problem.

[2016-02-10 10:33] soltysh commented on #20966
/cc @kargakis

[2016-02-10 11:13] sliranc commented on #20964
Try to run describe on the service and check if you get the list of endpoints (POD ip:port)

[2016-02-10 11:18] sliranc commented on #20915
Which version are you running ?

its working for me and I am running version 1.1.3

kubectl --namespace=kube-system logs influxdb-grafana-nr1it
error: Pod influxdb-grafana-nr1it has the following containers: influxdb, grafana; please specify the container to print logs for with -c

[2016-02-10 11:19] bitchecker commented on #20964
this is what i see:

[code]

[2016-02-10 11:47] sliranc commented on #20964
can you share describe to the service ?
kubectl describe svc/<servicename>

[2016-02-10 11:48] johanhaleby commented on #14642
We're also experiencing this problem:

[code]

The disk seems to be fine though (`gcloud compute disks list`):

[code]

[2016-02-10 11:59] bitchecker commented on #20964
[code]

[2016-02-10 11:59] wojtek-t commented on #20268
This has just failed again:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/20857/kubernetes-pull-build-test-e2e-gce/27831/build-log.txt

[2016-02-10 12:30] sliranc commented on #20964
You don't have any endpoint selected by the selector
Endpoints:              <none>

The reason is related to the fact that you are using selector
Selector:               **name=nginx** in the service
AND
The pod label is Labels:                         **app=nginx**

You should fix your selector in the svc.

[2016-02-10 12:47] bitchecker commented on #20964
can you explain how i should fix it?

[2016-02-10 13:10] markturansky commented on #2770
@erictune

* Create/Delete/Attach/Detach volumes

[2016-02-10 13:34] liggitt commented on #19941
cc @deads2k

[2016-02-10 13:34] therc commented on #20849
On the scale of annoyances alone, this is a P-1.

[2016-02-10 13:35] rootfs commented on #17645
This looks another selinux related issue. Have you set securitycontext in the Pod?
cc @swagiaal

[2016-02-10 13:38] amygdala commented on #20949
@bprashanth Those sound like two different demos to me, but that would be an interesting one.

@bgrant0607 Brian - yes, the example is pretty old.  Plus, it would be great to confirm that we could get it to run properly on AWS.
I assigned it to myself. To double check- assuming you meant, 'put a GCE-specific example in the GKE getting started guide'?

[2016-02-10 13:38] rootfs commented on #20734
@AmandaCameron what are your pod and pv/pvc like? i want to run it locally to reproduce this issue.

[2016-02-10 13:40] jsravn commented on #12121
This is big for me as well. We're getting hit by rate limits all over the place. For instance, adding a node to the cluster causes an update across all load balancers - this always seems to hit some limit. Having the global rate limiting will go a long way to stabilizing the aws provider, I think.

[2016-02-10 13:44] deads2k commented on #19941
I don't think that we want to pick winners and losers based on compiled in choices about order.  I would rather see something like ordering based on the discovery endpoint like @smarterclayton mentioned in https://github.com/kubernetes/kubernetes/issues/20293.

I've also found a few bugs in this area when we rebased Origin on it that may affect you.  The most pertinent are:
 1. https://github.com/

[2016-02-10 13:44] rootfs commented on #18749
Looks these messages were causing trouble:

first, the volume was removed, evidenced by `Orphaned volume "987f78d1-a3cc-11e5-ab15-bc764e11bd88/pv5g-greeter" found, tearing down volume`

and thus next mount failed:

`Output: mount.nfs: mount point /var/lib/kubelet/pods/987f78d1-a3cc-11e5-ab15-bc764e11bd88/volumes/kubernetes.io~nfs/pv5g-greeter does not exist`

@kubernetes/rh-storage

[2016-02-10 13:44] jsravn commented on #12121
This is also exacerbated by servicecontroller.go retrying in `watchServices`. If it used a backoff then the account could recover, instead it hammers aws the more errors that happen. Is this improved at all in 1.2/master?

[2016-02-10 13:46] #20862 closed

[2016-02-10 13:48] rootfs commented on #20734
This looks similar to #18749

[2016-02-10 13:50] mfojtik opened #20970 "Provide the namespace in container as ENV var"
It would be nice to provide the namespace name in the container, preferably as an environment variable.
Currently it is possible to create that environment variable using downward API, but it is pretty ugly ;-)

The use case for this is for example when I want to do an API call from inside the container to list other
resources in the same namespace.

[2016-02-10 13:50] mfojtik commented on #20970
@smarterclayton FYI

[2016-02-10 13:54] smarterclayton commented on #20970
Ultimately we decided we won't auto inject things, so the env car downward API is your best bet.  However, @liggitt and I discussed that the service account secrets for each project should have a "namespace" key equal to their namespace to make it easier for the implicit container client to provide a default namespace.

[2016-02-10 13:57] mfojtik commented on #20970
@smarterclayton so in theory I would be able to extract the current namespace from `/run/secrets/kubernetes.io`, correct? I think that will be OK.

In my case, I use `oc get -n <ns-here> is` to discover the Jenkins Slave image streams... Currently I have this as a parameter for the template, but I would love to have this set automatically.

[2016-02-10 14:01] MikeSpreitzer opened #20971 "cluster/ubuntu/util.sh copies files uncompressed"
That's about 140 MB copied to the master, 74 MB copied to each slave.  There ought to be a way to use compression to make this go faster.

@dalanlan

[2016-02-10 14:03] mfojtik commented on #20970
@smarterclayton https://github.com/openshift/origin/pull/7145/files#diff-5d6c0cc58ee615297d5826697fefd9b9R212

this works well, closing this issue. thanks for explanation :)

[2016-02-10 14:03] #20970 closed

[2016-02-10 14:14] aveshagarwal commented on #20823
@soltysh I will retry that, but I see similar to v1.2.0-alpha.7.something when I checkout the tag 1.2.0 alpha tag not with master.

[2016-02-10 14:19] ncdc commented on #20268
@wojtek-t the failure for 20857 was not the same root cause. I don't believe it is related to this issue.

[code]

[2016-02-10 14:29] aveshagarwal commented on #20823
@soltysh @bgrant0607 I am not seeing that issue now on my master branch and kubectl version shows v1.2.0-alpha.7.603+66e872227aedf4-dirty, but I am sure I noticed that day before yesterday even on my latest master branch at that point, so I am sure my repo had latest commits but may be something else was not updated in my repo, although not sure what.  Anyway as I am not seeing it any more, I am c

[2016-02-10 14:29] #20823 closed

[2016-02-10 14:43] #20680 closed

[2016-02-10 15:14] pmorie commented on #17645
Fairly certain this is #20813.'

@kk580kk can you post the output of `ls -ldZ /var/lib/kubelet` on the node where this is happening?

[2016-02-10 15:19] erictune commented on #20919
Agree some uses of SSH in tests can be eliminated (some were written before `kubectl exec` existed.

Of the remaining tests, from what I recall, there are two uses cases. One is using ssh to help diagnose why the test is failing: these can be made optional when running on a cloud provider that doesn't support SSH.  The other is checking that things work when components are restarted/upgraded/fail.

[2016-02-10 15:23] MikeSpreitzer commented on #20522
Oh, I was wrong about which overwrites which.  Yes, the master config prevails on a machine playing both roles --- which produces the desired result.

[2016-02-10 15:23] #20522 closed

[2016-02-10 15:47] bitchecker commented on #20964
@sliranc iv'e modified the yaml file for service and now SELECTOR and LABELS are the same but i still see:
[code]

[2016-02-10 15:59] #17874 closed

[2016-02-10 16:34] kargakis opened #20978 "Status updates should blacklist label updates"
https://github.com/kubernetes/kubernetes/pull/20906 makes deployment status updates rejecting label updates. The same change should be applicable to all objects with a status part.

cc: @bgrant0607

[2016-02-10 16:53] ncdc commented on #19997
The root cause of the new failure is different. The new failure is `Unexpected kubectl exec output. Wanted "running in container\n", got  "error: Timeout occured\n"`. When I was working on #20444, I ran into this. A little history:

Before #20444 there was a bug in spdystream (sadly introduced by me :frowning:) where if a goaway frame was received, instead of breaking out of the loop that waits fo

[2016-02-10 16:56] gmarek commented on #19724
I generally agree, but someone should sign under spending nontrivial amount of engineering effort to have this done.

[2016-02-10 17:14] #20917 closed

[2016-02-10 17:17] krousey commented on #20945
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-10 17:17] #20945 closed

[2016-02-10 17:18] veryhumble opened #20980 "kubernetes on vsphere wrong docker systemd config"
Hi,

I just tried to deploy kubernetes on vsphere using the latest alpha7 build and following the getting started guide.

Everything works fine to the point where the docker service won't start with an error:
[code]
this seems to be an issue in the docker.service systemd file. Changing it to
[code]
fixes the issue

Wonder if anyone else had this issue?

[2016-02-10 17:21] krousey commented on #20964
@bitchecker I'm going to close this in a second because this is a support issue, but I'll go ahead and answer this one. Your service needs to have the selector `app=nginx` because that's what the labels the pods will have. You can see that under the `template` section in your replication controller.

[2016-02-10 17:22] krousey commented on #20964
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-10 17:22] #20964 closed

[2016-02-10 17:22] krousey commented on #20964
Also, if you do repost this to stackoverflow, let me know and I'll be happy to answer there as well.

[2016-02-10 17:24] krousey commented on #20966
@kargakis Any idea which area this is (for issue labels)? Could you update?

[2016-02-10 17:46] krousey opened #20982 "kuberenete gce continuous soak timing out"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/4672/

This is failing consistently. Seems nodes and pods are taking a while to be ready.

[2016-02-10 17:51] spxtr commented on #20832
Done.

[2016-02-10 17:51] #20832 closed

[2016-02-10 17:51] krousey commented on #20982
dupe of #20096

[2016-02-10 17:51] #20982 closed

[2016-02-10 17:52] spxtr commented on #19727
Done.

[2016-02-10 17:52] #19727 closed

[2016-02-10 17:52] bgrant0607 commented on #20978
We definitely shouldn't allow labels to be updated via status.

There are a few reasons why I think we should allow annotations to be updated:
1. To allow an extended controller to record extra information. For example, /binding is able to update annotations so that a custom scheduler can add external references.
2. To allow a controller to record information about what it did. For instance, /roll

[2016-02-10 17:56] lavalamp commented on #20268
Looks like the readiness change is necessary after all, then.

[2016-02-10 17:56] ShadySQL opened #20983 "Deployment issue to Azure"
The deployment first fails but saying that a network named undefined exists but the deployer so to speak creates it. I delete the vnet from the management portal and now it complains about a storage account.
root@kubernetes:/home/azureuser/kubernetes/docs/getting-started-guides/coreos/azure# cat /root/.azure/azure.err
2016-02-10T17:51:16.609Z:
{ [Error: The storage account 'e045d415b12a01' was not

[2016-02-10 17:57] kargakis commented on #20966
@krousey I have no tagging powers but this is related to deployments

@bgrant0607 please tag appropriately

[2016-02-10 17:57] ncdc commented on #20268
@lavalamp I'm not sure adding a readiness probe would help the failure in 20857. The pod failed to start after 5 minutes. Right?

[2016-02-10 17:58] lavalamp commented on #20268
@ncdc Oh, right. Maybe this is something completely unrelated then.

[2016-02-10 18:00] lavalamp commented on #20841
Great. We can do something on this for 1.3 then.

[2016-02-10 18:01] alex-mohr opened #20984 "gce route creation for 1000 node clusters takes too long"
I created a 5 node cluster on GCE, then cloned the MIGs to have more of them with faster-than-usual VM creation.

It took 7 minutes to create all the VMs, but it took an additional 19 minutes for the route controller to create all of the routes.  It should be a lot faster.

In particular, I think we're throttling calls to the GCE api due to rate limits?

Ideally, the controller would look somethin

[2016-02-10 18:02] alex-mohr commented on #20984
(CJ was also looking at deletion, where we have an issue in which nodes are deleted from the master very slowly when scaling MIGs down.)

[2016-02-10 18:04] liggitt commented on #20935
-1 on merging specs

[2016-02-10 18:06] krousey opened #20985 "e2e-gce flake: pods failed to start on a certain node"
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/11340/

[code]

Seems e2e-gce-minion-ssyx had trouble bringing up pods.

[2016-02-10 18:08] lavalamp commented on #20978
Labels are very clearly not OK for change on a status update. I'm mostly persuaded by Brain's list that annotations ought to be mutable on a status update. It does allow controllers to do things that users may not expect. And buggy controllers would be able to cause more harm (but they can already do worse things, so this won't be an argument until we lock down controllers a lot more).

[2016-02-10 18:10] kargakis commented on #20978
cc: @smarterclayton @deads2k @liggitt

[2016-02-10 18:11] lavalamp commented on #20824
Can we make (or use) a different serializer/codec just for the endpoints that 1.1 clients used?

[2016-02-10 18:19] madhusudancs opened #20986 "Implement kubectl autoscale for ReplicaSet"
Investigate and implement autoscaler support for ReplicaSet in kubectl.

cc @kargakis @janetkuo @bgrant0607 @mqliang

[2016-02-10 18:20] yujuhong commented on #20985
Docker wasn't able to start up in time, and got killed repeatedly.

[code]

There is no docker.log collected, so we can't know if docker was just slow at startup or it was actually not responsive.

We can increase the expected startup time, or change the health check back to `docker version` if that's more stable.
Also, it'd be good to collect docker.log as well.

/cc @dchen1107

[2016-02-10 18:30] roberthbailey commented on #20661
This seems like an infrastructure change rather than a flaky test issue. Is it marked as being flaky because it's blocking progress on flaky tests?

[2016-02-10 18:31] krousey opened #20987 "e2e-gke flake: KubeProxy should test kube-proxy [Slow]"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/486/

[2016-02-10 18:32] dchen1107 commented on #20774
I am closing this one. Let's fix other image issue when hitting them.

[2016-02-10 18:33] dchen1107 commented on #20985
Yes, I am looking into this now.

[2016-02-10 18:35] metral commented on #20734
Agreed, like https://github.com/kubernetes/kubernetes/issues/18749, its orphaning + unmounting the disk on its own.

my PV:

[code]

my PVC:

[code]

My NFS server is nfsv4 running on an Ubuntu 14.04 distro with /etc/exports looking like such, where 192.168.1.100 is a K8s Node:

[code]

Mounting the NFS volume manually from other machines works fine and has no issues, but when NFS is used with PV+

[2016-02-10 18:37] rootfs commented on #20734
@kubernetes/goog-node

[2016-02-10 18:53] yujuhong commented on #20661
Personally, it's one of the biggest obstacles for me to debug flaky tests that happen on GKE. I usually have to find similar failures in GCE, or try to reproduce this myself (which is often not very successful). That's why I marked it kind/flake. It is not blocking any flaky test for me personally as of now, but it'd be a great incentive for me to continue paying attention to flaky GKE tests.

[2016-02-10 18:59] dchen1107 commented on #20280
@justinsb Are you going to get this one for 1.2 release?

[2016-02-10 19:00] bprashanth commented on #20096
Alright I have a better understanding of things. I was able to reproduce twice in a row on a single node  n1-standard-2 cluster, with the following patch https://github.com/kubernetes/kubernetes/pull/20991

1. Instruct kubelet to *not* crashloop backoff
2. Decrease the hung task timeout, for fun

The kubelet will get stressed, but all we care about is hitting the race.

Create the rc:
[code]

Run:

[2016-02-10 19:01] davidopp commented on #20498
@caesarxuchao any update on this?

[2016-02-10 19:04] caesarxuchao commented on #20498
I'm actively working on this. Scheduler and Kubelet are not guilty. The root cause is the watch, probably at the server side. I'll update when I pin the problem.

[2016-02-10 19:05] MikeSpreitzer opened #20992 "cluster/ubuntu/deployAddons.sh refers to extinct addon kube-ui"
https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/deployAddons.sh refers to `${KUBE_ROOT}/cluster/addons/kube-ui` but there is no longer a `kube-ui` in the `addons` directory.

@dalanlan

[2016-02-10 19:05] timstclair commented on #20904
Thanks @ArtfulCoder , that fixed it for me (I was thrown off by the fact that /var/lib/docker/linkgraph.db existed).

[2016-02-10 19:06] justinsb commented on #20280
Yes - I believe the required changes are already merged.  This work was done by @dpratt in #20372 and   @jtblin in #20378 .  Hopefully once we get the next alpha out, they can confirm.

[2016-02-10 19:10] rootfs commented on #20734
@metral I tested v1.1.7 code locally using your pv/pvc and my own pod, found no problem so far.

is it possible to post your pod?

[2016-02-10 19:14] pwittrock opened #20993 "Node e2e tests - re-enable metrics for system containers"
Validating system container metrics has been disabled due to test failures caused by known issues.  Renable once the issues have been addressed

[2016-02-10 19:19] fejta commented on #20778
Can you look into these failures to determine why things are slower (is it a test? jenkins? kubernetes?)

[2016-02-10 19:22] fejta commented on #20836
Can you look into adding this ability?

[2016-02-10 19:23] bprashanth opened #20995 "Docker 1.9 doesn't restart cleanly"
I have a node stuck in NotReady with the symptoms described in: https://github.com/docker/docker/issues/17083. Essentially supervisord keeps restarting docker.

docker logs: https://storage.googleapis.com/devnul/active_endpoints_docker.log
kubelet: https://storage.googleapis.com/devnul/active_endpoints_kubelet.log
kern (though this doens't looke like a kernel issue): https://storage.googleapis.com

[2016-02-10 19:24] therc commented on #20962
I can try doing this, but have no way of testing. See me getting stumped on e2e failures with a similar PR, #20909.

[2016-02-10 19:29] caesarxuchao commented on #20824
Probably we just need to change the version registered here: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/register.go#L106

[2016-02-10 19:35] smarterclayton commented on #20824
That won't work like you expect - the type registry then has no knowledge
in v1 of what schema the object is.  That's not what we want - we want to
not serialize the version of the object for specific API groups, which is a
much more targeted change.  This is a special, exceptional case (v1 group
*should* return v1 Status.  v1beta1 *should not*).

On Wed, Feb 10, 2016 at 2:29 PM, Chao Xu <notifica

[2016-02-10 19:35] ixdy commented on #20778
This is #13485, dupe'd to #19997, hopefully fixed by #20444. Have you seen any mysterious timeouts since it was merged 2 days ago?

[2016-02-10 19:36] smarterclayton commented on #20824
Changing v1 breaks 1.0 backwards compat (we always returned apiVersion=v1
for 1.0)

On Wed, Feb 10, 2016 at 2:35 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-02-10 19:36] mml commented on #2210
Having just been around this area while implementing drain and teaching NodeController to ignore node timeouts WRT DaemonSet pods, I'd like to grab this and unify our implementation of it.

I need to think about component compatibility and roll-forward/roll-backward semantics before barging in.

Also, @davidopp and @bgrant0607 can you speak to my previous question regarding where this should go?

[2016-02-10 19:36] smarterclayton commented on #20978
Agreed

[2016-02-10 19:45] lavalamp commented on #20445
Met up with @alex-mohr & @roberthbailey-- we decided not to rush for 1.2, that we should do user-based bucketing for monitoring users, and possibly also put healthz in a different bucket or make it unlimited.

[2016-02-10 19:47] ixdy commented on #20778
To answer my own question: one mysterious timeout right after #20444 merged: http://ci-test.k8s.io/kubernetes-e2e-gke/680/build-log.txt

I'm trying to figure out why Ginkgo isn't printing out anything about where it's stuck in onsi/ginkgo/issues/206.

[2016-02-10 19:49] caesarxuchao commented on #20824
I mean this:
[code]

Will this work?

[2016-02-10 19:55] guoshimin commented on #20314
It's not that easy to reproduce the condition that triggered the issue last time. Closing for now. Will reopen if it happens again.

[2016-02-10 19:55] #20314 closed

[2016-02-10 20:14] eparis commented on #20096
Since this is a linux bridge issue, I'd assume we wouldn't see it in OpenShfit given we use an OVS bridge...   @kubernetes/rh-networking

[2016-02-10 20:21] smarterclayton commented on #20824
I'm not sure without looking at the outcome  (which is why unversioned
is a bit of a disaster in our codebase).

I would much prefer to explicitly identify which objects should have
an unset apiversion via a method on the scheme, and do the explicit
check at the time we do convert to version.  That's an extremely
controlled change, is obvious, and doesn't make the unversioned
problem worse.

[2016-02-10 20:43] lavalamp commented on #2742
We're splitting it in place. Actual physical separate repo will be future, perhaps distant.

[2016-02-10 20:44] yujuhong commented on #20995
I don't think we test "restarts" specifically, so my guess is no.

Based on https://github.com/docker/docker/issues/17083#issuecomment-180101719, docker v1.10 has the same issue.

[2016-02-10 20:47] janetkuo commented on #18963
It's back.
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20944/kubernetes-pull-build-test-e2e-gce/27887/?debugUI=DEVELOPERS

[code]

[2016-02-10 20:51] dchen1107 commented on #20995
cc/ @vishh on docker 1.9.X validation

[2016-02-10 20:52] bgrant0607 commented on #2210
@mml I'll have to get back to this once 1.2 fires subside a bit.

@mqliang See #14961 for some discussion about scenarios where labels/selectors are needed.

[2016-02-10 20:53] caesarxuchao commented on #18963
Sorry, I don't have time to fix this now. It'd be great if someone can pick this up.

[2016-02-10 20:56] yujuhong commented on #20985
For the record, this build used docker v1.9.1

[2016-02-10 21:01] lavalamp commented on #1451
This issue seems to have drifted considerably. It is true now that we have per-resource storage locations. That's a good step. Actually getting alternative storage backends should be easier now, but still challenging. No more will be done on this for 1.2.

[2016-02-10 21:02] bgrant0607 commented on #20966
cc @janetkuo @mqliang @ironcladlou

[2016-02-10 21:04] lavalamp commented on #1744
This is slightly improved now that we have groups. More work is needed.

[2016-02-10 21:05] lavalamp commented on #2306
It's still getting worse, not better, along the understandable metric.

[2016-02-10 21:06] lavalamp commented on #2953
@zmerlynn It seems like this is not happening for 1.2. Holler if you disagree.

[2016-02-10 21:07] lavalamp commented on #3084
This is going to become a real issue soon, as we're now going to have multiple versions for at least two resources. Even worse, we're moving them between groups. But I don't think we have the resources to fix it for 1.2.

[2016-02-10 21:09] ihmccreery opened #20997 "Move e2e ENV from e2e.sh into job-configs"
I was working this morning on reconciling `e2e.sh` with our Jenkins job-configs, and realized I shouldn't really need to do that at all.  We should get rid of the massing `case` statement completely, and rely on job-configs as the authoritative source of truth.

I would like to get this in before v1.2 branches, so it's easier to reconcile the branch.

Blocked by #20996.

[2016-02-10 21:13] lavalamp commented on #3201
We have made steps for this, and in fact I think once we get @nikhiljindal's PR in it'll be possible to do this on top of a 1.2 cluster, but it's not going to be complete for 1.2.

[2016-02-10 21:15] lavalamp commented on #3562
I think we actually need to define this for 1.2, since we're moving resources and changing storage versions in 1.2. We need to tell people how long they have to do the storage-version change + upgrade storage object script.

[2016-02-10 21:17] zmerlynn commented on #2953
No. I'm pretty sure I'm not the right assignee for this right now, either.

[2016-02-10 21:17] dchen1107 commented on #20995
Both @freehan and @ArtfulCoder with docker 1.9.1 ran into this problem with their desktop. I helped them fix the issue by 1) remove their docker storage rootdir 2) remove .../docker/linkgraph.db 3) restart docker daemon

[2016-02-10 21:17] lavalamp commented on #3752
I don't know why this is in the CSI team, but regardless, we're definitely not doing this for 1.2.

[2016-02-10 21:18] caesarxuchao commented on #20824
I remember somewhere in 17922 asserts version cannot be empty, so I guess my proposed solution won't work without extra work. I'll take approach suggested by @smarterclayton.

[2016-02-10 21:19] lavalamp commented on #4432
Kicking this out of 1.2 unless @davidopp reallllly wants it.

[2016-02-10 21:19] bprashanth commented on #20995
This was a fresh install though, just e2e cluster up

[2016-02-10 21:20] dchen1107 commented on #20995
I did test docker "restart" when I validating docker release. We ran into this issue with docker 1.7-rc before. Here is the issue I filed to docker: https://github.com/docker/docker/issues/13850

[2016-02-10 21:20] lavalamp commented on #4549
I think this is better than it was when I started the issue, and probably not bad enough to justify extensive changes at the moment.

[2016-02-10 21:20] #4549 closed

[2016-02-10 21:20] bprashanth commented on #20995
I don't think this is about the storage driver. I think it's related to networking state that was stored in var/lib/docker/network/files/local-kv.db, it went away when i nuked their local-kv.db (and didn't touch anything else).

[2016-02-10 21:22] lavalamp commented on #4855
@zmerlynn do you intend to do further work on this for 1.2?

[2016-02-10 21:24] lavalamp commented on #5660
We are close, but this isn't quite going to land in 1.2. We'll have a generated versioned client, but we won't have addressed the import graph problem yet.

[2016-02-10 21:24] dchen1107 commented on #20995
@bprashanth Looks like upon restart, both storage driver state and network state could be corrupted with docker 1.9 release, and nuking the checkpoint files are the only way to workaround.

cc/ @andyzheng0831 You guys already build the image with docker 1.9.1. Any of your customer reports this problem?

[2016-02-10 21:24] lavalamp commented on #6210
Kicking this can down the road.

[2016-02-10 21:25] pires commented on #20884
@mingfang thank you I'm having the same issue.

[2016-02-10 21:26] lavalamp commented on #7111
Much of this has been done. @smarterclayton is there anything further you want to do for 1.2 here?

[2016-02-10 21:26] bprashanth commented on #20995
Fwiw this showed up on one node in a 300 node cluster

[2016-02-10 21:27] lavalamp commented on #7337
We desperately need to split the fuzzer into a round-trip test and a does-this-crash-the-decoder test. This issue is only applicable to the former.

[2016-02-10 21:28] AmandaCameron commented on #20734
my PVC/PV are the same as above, the Pod is just the normal

[code]

[2016-02-10 21:29] lavalamp commented on #5660
This is mostly a dup of #4874. Slightly different focus.

[2016-02-10 21:30] lavalamp commented on #7584
This is closely related to #4874 and #5660.

[2016-02-10 21:31] lavalamp commented on #8132
@smarterclayton has done a lot of work on this but I don't think we're going to land it for 1.2.

[2016-02-10 21:34] andyzheng0831 commented on #20995
Did you mean any user of k8s/gke reported this problem to us? No.
On Feb 10, 2016 1:27 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-02-10 21:35] lavalamp commented on #8337
@krousey can you do an audit of the code to see if there's work to be done here? It would be good to finish this for 1.2 if it's no longer risky.

[2016-02-10 21:36] therc commented on #5607
We need to expose GPUs to the containers. I can write the PR and (given my previous experience with a types.go change) rebase it over and over. What are the odds of it getting accepted? The first  thought to mind is how to secure it, as in @erictune's linked issue.

[2016-02-10 21:36] lavalamp commented on #10043
@karlkfi @jdef If we turn this off in 1.2, will that be a problem for you?

[2016-02-10 21:39] dchen1107 commented on #20985
I am going to dup this one with #20995

[2016-02-10 21:39] #20985 closed

[2016-02-10 21:39] liggitt commented on #8337
to be clear, this is for removing use of it, not support for it under `/v1/watch/...`, correct?

[2016-02-10 21:41] therc commented on #5607
I could place it behind a kubelet or apiserver flag, which is off by default.

[2016-02-10 21:41] ixdy opened #20999 "Examples e2e tests continuously failing"
5 of our examples e2e tests have been continuously failing on http://ci-test.k8s.io/kubernetes-e2e-gce-examples/:

**[Feature:Example] Liveness liveness pods should be automatically restarted**
[code]

**[Feature:Example] Downward API should create a pod that prints his name and namespace**
[code]

**[Feature:Example] Secret should create a pod that reads a secret**
[code]

**[Feature:Example] Cas

[2016-02-10 21:42] lavalamp commented on #20750
@krousey Is this something you can look into?

@hongchaodeng Like @wojtek-t said, the calls are independent and there's no obvious way to do that.

[2016-02-10 21:42] smarterclayton commented on #10043
Did we announce we were going to remove this API?  Don't we need to have a process for taking it away?

[2016-02-10 21:43] smarterclayton commented on #8132
No, no plan for 1.2.  We'll be iterating after 1.3 opens.

On Wed, Feb 10, 2016 at 4:31 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-02-10 21:44] dchen1107 commented on #20995
@bprashanth I know this is fresh installed node, but it still involves with docker restart here:

1) salt upgrade docker to the new version: docker 1.9.1 from docker 1.8.3 which is baked into containervm image.
2) Kubelet config cbr0, and restart docker daemon.

I suspected this is only triggered by docker upgrade since it involves checkpoint schema changes here. I will double check on it.

Meanwh

[2016-02-10 21:48] timothysc commented on #20995
I've only seen this issue on an initial provisioning, subsequent restarts all was well.

/cc @ncdc

[2016-02-10 21:49] dchen1107 commented on #20995
Talked to @andyzheng0831 offline. They have docker 1.9.1 being baked into their image, and there are roughly a couple of thousand instances running with such image today. They never receive any report on this docker issue.

If we can rule out pure docker restart, we can still go ahead to release 1.2 with docker 1.9.1 since it only happens at initial upgrade stage. We can document it as known issue

[2016-02-10 21:50] lavalamp commented on #8337
@liggitt If you think we're still using it, I'll just kick it out of the milestone now...

Actually, I think we should just not support this for non-v1 paths, and never remove it from the v1 paths, that would be a breaking change.

On further thought I don't think we should spend time on this right now.

[2016-02-10 21:50] dchen1107 opened #21000 "Known issues for kubernetes 1.2 release"
It is the time to collect all known issues for our coming release now.

cc/ @thockin @bgrant0607 @davidopp @lavalamp @roberthbailey

[2016-02-10 21:51] dchen1107 commented on #20995
https://github.com/kubernetes/kubernetes/issues/21000

[2016-02-10 21:51] lavalamp commented on #8337
Action item: make api installer not have the watch/ path for any new APIs or api versions.

[2016-02-10 21:51] liggitt commented on #8337
exactly

[2016-02-10 21:52] lavalamp commented on #15915
@bgrant0607 Is this really needed for 1.2?

[2016-02-10 21:52] timothysc commented on #20995
I should clarify, I've seen the docker behavior mentioned on an upgrade, not baked setup.

[2016-02-10 21:53] dchen1107 commented on #20995
@timothysc Thanks for quick updates on this very issue. In your case, does the initial provisioning involve a docker version upgrade?

[2016-02-10 21:54] bprashanth commented on #20995
fyi doing exactly what we do for Kubelet in daemon-restart should work, if we need to test docker restart in an e2e: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/daemon_restart.go#L297

[2016-02-10 21:54] zmerlynn commented on #4855
Nope.

[2016-02-10 21:54] timothysc commented on #20995
@dchen1107 - In the environment where this happened, yes.  A docker upgrade was part of the process.

[2016-02-10 21:57] dchen1107 commented on #20995
Two cases I mentioned at https://github.com/kubernetes/kubernetes/issues/20995#issuecomment-182585228 also involve docker version upgrade.

@bprashanth Testing docker restart is a valid test case for container runtime validation test suite. We should including upgrade case too.

[2016-02-10 22:04] roberthbailey opened #21002 "Document how to add elastic search to an existing cluster"

[2016-02-10 22:04] roberthbailey commented on #19631
Closing in favor of https://github.com/kubernetes/kubernetes/issues/21002.

[2016-02-10 22:04] #19631 closed

[2016-02-10 22:05] mml commented on #12298
So this gets 90% of what we get from formalizing controllerRef

[2016-02-10 22:05] krousey commented on #20916
Again:

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2065/

[2016-02-10 22:08] mml commented on #12298
So this gets 90% of what we get from formalizing controllerRef (#2210), but one other goal for controllerRef is to be able to quickly determine the controller for a pod.  Right now we can almost do that with the created-by annotation (it's incorrect if the pod has since been adopted by a different controller), and we don't need to know the type of the controller, or indeed all types of controllers

[2016-02-10 22:11] roberthbailey commented on #18502
@rvrignaud I'm glad you were able to fix your problem. Is there anything else we can do here or can I close this issue?

[2016-02-10 22:18] andyzheng0831 commented on #20995
FYI, we build 1.9.1 in image and have thousands of instances running. Instances may be rebooted, but we never allow upgrade or downgrade docker version. So far we don't receive report about this kind of corruption issue.

[2016-02-10 22:23] roberthbailey commented on #20333
Is this from a jenkins log? It seems like a test infra configuration issue...

/cc @kubernetes/goog-testing

[2016-02-10 22:24] mattbates commented on #19899
This sounds pretty neat. Can we pick this up and help contribute?

[2016-02-10 22:29] timothysc commented on #20750
Morbid curiosity, what happens when we remove all the throttles?  A part of me believes that the throttles themselves are a form of ductape vs. proper back-pressure.

[2016-02-10 22:30] krousey commented on #20750
@wojtek-t the verb for watch is "GET".

@lavalamp I'll see if I can find something that makes sense.

[2016-02-10 22:32] spxtr commented on #20333
We renamed `kubernetes-e2e-gke-ci` to `kubernetes-e2e-gke` around then. This would show up after we did the rename in `e2e.sh` but before we deleted the old job config.

[2016-02-10 22:35] krousey commented on #20750
Given the way the request object works, I think the only way to handle this is to pass the throttle down to the request object, and have it throttle on `Do()`, `DoRaw()`, and `Stream()`, but not `Watch()`. That seem ok to you guys?

[2016-02-10 22:36] lavalamp commented on #20750
That may be, but it's not duct tape we're removing for 1.2 :)

On Wed, Feb 10, 2016 at 2:29 PM, Timothy St. Clair <notifications@github.com

[2016-02-10 22:38] roberthbailey commented on #20661
My concern is that changing the log level has other undesirable effects by making our test clusters different from production clusters.

On GCE we now have a seen a slow divergence between config-default.sh and config-test.sh which I find to be troubling (since we don't have any infrastructure configured to run CI using config-default.sh) and I don't want the same thing to happen on GKE. One examp

[2016-02-10 22:38] bprashanth commented on #20096
It hasn't failed yet, so I think we have a reasonably smoking gun. I think the next steps are to restart soak test per https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-182159271. While we're waiting on these results we'll try to get some userspace proxy improvements (@thockin s already got a few).

Worst case we'll just have to document how one turns on the kernel proxy with the

[2016-02-10 22:39] ixdy commented on #20999
One more test is pretty flaky, but not failing 100% (last failed in build 7389):
**Pet Store [Feature:Example] should scale to persist a nominal number ( 50 ) of transactions in 1m0s seconds**
[code]

[2016-02-10 22:41] bprashanth commented on #19899
@mattbates yes. I'd be happy to answer random questions about the controller etc or review a brief sketch.

[2016-02-10 22:42] roberthbailey commented on #18851
Looks like we never tracked this down, but I've sent #21004 to remove the admission controller from test clusters.

[2016-02-10 22:42] lavalamp commented on #20750
@krousey That sounds better to me. It looks like the wrong place right now anyway, it should block right before sending the request, not before constructing it. IMO anyway.

[2016-02-10 22:42] roberthbailey commented on #18851
@ArtfulCoder do you have any spare cycles to try and diagnose why that test is passing before approving my PR?

[2016-02-10 22:48] krancour commented on #19515
I am running into this exact issue except with daemonsets.  API server has `--runtime-config=extensions/v1beta1/daemonsets=true` and I still get this warning unless setting the `--validate=false` flag when using `kubectl`.

Both client and server are at version 1.1.7.

[2016-02-10 22:48] roberthbailey commented on #20333
So obsolete?

[2016-02-10 22:51] timothysc opened #21006 "1.3 RFE: Remove *throttles and rely on back pressure (hunt down chatty offenders)."
Right now we have a bunch of throttling to prevent overload vs. hunting down offenders an using back-pressure where possible.

In general the system is too chatty.  https://youtu.be/EYJnWttrC9k?list=PLVjgeV_avap2arug3vIz8c6l72rvh9poV

/cc @kubernetes/sig-scalability

[2016-02-10 22:51] bprashanth commented on #20096
@kubernetes/goog-testing can we redeploy soak continuous so it picks up https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L594 and https://github.com/kubernetes/kubernetes/pull/20840? (or how does one do this)

[2016-02-10 22:54] spiffxp commented on #21006
ref #12208 #14955

[2016-02-10 22:54] dchen1107 commented on #20096
@eparis This is what I thought and  thanks for confirming this.

[2016-02-10 22:55] dchen1107 commented on #20096
https://github.com/kubernetes/kubernetes/issues/21000 for known issue for kubernetes 1.2 release.

[2016-02-10 22:57] krancour commented on #19515
@krmayankk I had the same problem as you.  No `schema` dir in `~/.kube`.  I discovered through another thread the existence of `/tmp/kubectl.schema`.  Try deleting that instead.  It worked for me.

[2016-02-10 22:57] spxtr commented on #20333
Yes, assuming it hasn't showed up since.

[2016-02-10 23:02] roberthbailey commented on #20333
Closing. Please reopen if you see this again.

[2016-02-10 23:02] #20333 closed

[2016-02-10 23:05] jdef commented on #10043
Yes it would be problematic unless our scheduler was updated to use
whatever was replacing it. AFAICT even the core scheduler is still using
/bindings:

[code]

On Wed, Feb 10, 2016 at 4:43 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-10 23:08] ghodss commented on #19720
Cool. Obviously requiring 1.10.1+ for example would be fine, but having to wait until 1.3 for anything above Docker 1.9 would be disruptive for us.

[2016-02-10 23:22] huggsboson opened #21007 "Easier service account key rotations: Allow for multiple service account token verification certs"
Sorry I don't have a test case to demonstrate this yet, I'm mostly going on visual inspection.  I'll try to come back here with a demonstration case once I get a good experimental environment set up, but from visual code inspection it looks like only one public key is allowed in service-account-key-file that is passed to API server.  If multiple were allowed then to rotate the service-account-priv

[2016-02-10 23:23] dlitwin-autodesk opened #21008 "CrashBackOffLoop despite clean exit?"
I have a service I would like to update from time to time.
I have it perform a clean exit periodically, relying on the replication controller to start up a fresh service in its place.
Although I am careful to exit with an exit status of zero, the second instance to exit triggers the service into the CrashBackOffLoop status and my restart is delayed.

From what I can see here:
https://github.com/ku

[2016-02-10 23:25] jayunit100 commented on #20999
K8petstore: Yeah this is a function of the data generators and the redis store which both might take a second to come online

[2016-02-10 23:26] jayunit100 commented on #20999
Well, more than a second: anyway I can incr the timeout on it . But the test is flakey on anything with a slow internet connection or low cpu/mem.

[2016-02-10 23:29] yujuhong commented on #20661
Agreed.

I don't like this too, and I think it should be fixed.

This is true, but since we're testing conservatively (assuming worse performance), I am ok with this.

I agree in general we should do what you suggest, and there is definitely still room for improvement. However, I think one distinction is that we're testing buggy, unstable code at HEAD. I's difficult to know exactly what you're loo

[2016-02-10 23:33] Random-Liu commented on #21008
The `ExitCode` is considered in [`ShouldContainerBeRestarted()`](https://github.com/kubernetes/kubernetes/blob/71bcc25409cc284c874cd31b52371b0d4d81fbf0/pkg/kubelet/container/helpers.go#L48).

Moreover, how did you configure the [`RestartPolicy`](http://kubernetes.io/v1.1/docs/user-guide/replication-controller.html)? I think for your case `RestartPolicyOnFailure` may be what you want.

[2016-02-10 23:35] huggsboson commented on #15847
I believe podmaster is dead in 1.2: #17117

[2016-02-10 23:35] mml commented on #2210
"should be unset" means, AIUI, that it's C1's job to fix the controllerRef.

What if C1 is deleted without cascade, or if it's lost due to a bug, or the removal of the controllerRef fails due to a bug or timeout, or the component that manages C1 (imagine it's a third-party controller of some kind) is turned down.  In all these cases we have a pointer to nowhere.

Two questions:

1. Should a pointe

[2016-02-10 23:41] bgrant0607 commented on #16737
This was fixed in Deployment by #20368.

Leaving this open to at least document the problem for kubectl rolling-update.

[2016-02-10 23:44] cjcullen commented on #20984
A couple problems:

1. In large clusters, the way we reconcileCIDRs fails a lot, and puts a lot of pressure on the apiserver:

[code]
    In a large cluster, that update call is competing with a lot of status updates coming from kubelets. Combined with the fact that it is all synchronous, we can only get through a few CIDR allocations each time through before all of the rest fail w/ "bad resource

[2016-02-10 23:44] bgrant0607 commented on #15313
We've decided not to change the selector and label defaulting behavior in v1beta1.

We're still waiting on scale, stop, and some replicaset features.

I'd like to enable scaling of paused deployments, but we won't block on that.

[2016-02-10 23:47] mml commented on #20064
Previous work in #4583

[2016-02-10 23:51] dchen1107 commented on #20096
I kicked out kubernetes-soak-weekly-deploy-gce to pick up #20883, so that we can run soak-continuouts test with hairpin mode disable over next a couple of days.

[2016-02-10 23:51] mml commented on #20064
@davidopp do we need to summarize this over multiple pods?  E.g. if an RC manages 1000 pods, 800 are pending, and 799 are pending for reason A and 1 is pending for reason B, is outputting 800 lines OK?  My guess is it's better than nothing, which is what we have today, and we can add summarization in the next revision if we need to.

[2016-02-10 23:54] thockin opened #21011 "Job object outlives its namespace"
Yet another case of not being deleted properly?  @erictune @derekwaynecarr

[code]

[2016-02-10 23:56] therc commented on #19497
I'm writing an ingress controller for AWS. What should I require from the user? You mentioned the metadata annotation k8s.io/aws/credential or something similar that points to the name of a TLS certificate stored in IAM (at most, you can refer to it by name, but you can't take the private key out). What about the port, which you ditched from this spec? Should I assume for now that every balancer (

[2016-02-10 23:57] dchen1107 commented on #21008
@dlitwin-autodesk do you have a reprod case?

[2016-02-10 23:58] davidopp commented on #20878
@roberthbailey Do you think someone from your team could take a look at this one?

[2016-02-11 00:02] smarterclayton commented on #19497
Ack

[2016-02-11 00:04] dchen1107 opened #21013 "Docker validation test: restart and upgrade"
We ran into the issues with docker restart and upgrade a couple of times already:
- https://github.com/kubernetes/kubernetes/issues/20995#issuecomment-182594941 for docker 1.9.1
- https://github.com/docker/docker/issues/13850

We should automate this kind of tests in our docker validation test suite.

cc/ @kubernetes/goog-node

@liangchenye I am assigning this to you since you are in charge of doc

[2016-02-11 00:04] bprashanth commented on #19497
What Clayton said, with a little more elaboration.

A description of http routing information and tls information to perform termination. The tls information is a pointer to a secret. If you can't get the certs into a secret, you must use annoations.

The spec assumes 80 and 443, which are the 2 most common for http/s. Without the tls section (or in your case the IAM annotations) you'd assume 80,

[2016-02-11 00:12] fejta opened #21015 "Put PR builder under source control"
Part of https://github.com/kubernetes/kubernetes/issues/18122

We do not yet have yaml versions of pr builder

[2016-02-11 00:13] yujuhong commented on #21008
@dlitwin-autodesk, does the entire pod terminates voluntarily or only one of the container in the pod exits? If you have a replication controller to start up a "new pod", the new pod will not be subject to the backoff at all since we have per-pod backoff quotas.

If you mean that a single container in your pod that exits periodically and backoff gets applied, this is by design. As long as the rest

[2016-02-11 00:14] davidopp commented on #20916
@mml do you think you could take a look at this?

[2016-02-11 00:15] fejta opened #21017 "Create daily test summary"
An HTML page that gives basic statistics for tests in each job:

- always passing
- flaking
- always failing
- never running at all?

will be helpful for people wanting to know the recent state of tests and/or identify flakes to fix.

[2016-02-11 00:18] mqliang commented on #20986
So we should:
1) make Scale a subresource of ReplicaSet, instead of ReplicationController in API server
2) implement autoscaler support for ReplicaSet in kubectl
3) Address e2e test

Hoping I have not missing anything.

[2016-02-11 00:18] thockin opened #21018 "kubectl help bug: --sort-by lists bad example JSONPATH"
The help for --sort-by says `The field specification is expressed as a JSONPath expression (e.g. 'ObjectMeta.Name')` but that should be '{.metadata.name}'

[2016-02-11 00:29] lavalamp commented on #19941
In our SIG meeting we discussed searching the discovery information *in the order apiserver delivers it*.

[2016-02-11 00:30] derekwaynecarr commented on #21011
I can take a look in morning.  Assign to me.

I am blocked on generalizing the controller until the dynamic client is
done.

On Wednesday, February 10, 2016, Tim Hockin <notifications@github.com>
wrote:

[2016-02-11 00:31] ishaqsharief318 commented on #8441
This hasn't been solved yet?

[2016-02-11 00:31] dchen1107 commented on #20096
As a record: kubernetes-soak-continuous-e2e-gce/4675/ is running with hairpin mode disabled.

[2016-02-11 00:31] derekwaynecarr commented on #21011
Are you seeing this on HEAD?  I had moved in a recent PR to call DeleteCollection instead of per item deletes.  Possibly job has a bug there.

[2016-02-11 00:36] saad-ali commented on #20262
Thanks @stvnwrgs.

Yes, this is targeted for 1.3.0

Good point. I went back and forth on this. My original plan was to persist state as soon as a state change happened. But, I want to balance the primary goal of persisting state (so there is enough info for the controller to recover if it crashes), while also not overwhelming the API server/etcd with tons of writes. I think a good balance will be

[2016-02-11 00:39] bprashanth commented on #20096
@dchen1107 are you sure? there might be a bug in that case. I don't see the HAIRPIN_MODE env (from https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L613) var set in the output of http://kubekins.dls.corp.google.com/job/kubernetes-soak-continuous-e2e-gce/4675/consoleFull and the kubelet on the soak node is running with `--configure-hairpin-mode=true`

[2016-02-11 00:44] bgrant0607 commented on #20986
@mqliang Yes (well, ReplicaSet in addition to ReplicationController), but the scale subresource is on hold at the moment, until the autoscaling API group is created. There was some discussion on PRs #19802 and #20745

[2016-02-11 00:52] lavalamp commented on #10045
And we won't ever be able to remove the old way from the current API. Only from the new APIs.

[2016-02-11 00:55] smarterclayton commented on #10045
Depends.  We could certainly age out API patterns with sufficient lead
time.  It just may not be worth it.

[2016-02-11 00:56] bgrant0607 commented on #21000
#16737: kubectl rolling-update can't rollback if the rollout is already stuck on maxUnavailable

[2016-02-11 00:56] dchen1107 commented on #20096
Obviously there is a miscommunication between us. I thought you make that flag to be false by default. All I am doing it make sure deploy soak build pick up your pr and kick out continuous one.

[2016-02-11 01:04] ixdy commented on #20999
@jayunit100 I think it might be something else:
[code]

Looks like `readTransactions` is sometimes working, sometimes failing.

[2016-02-11 01:04] ihmccreery commented on #18122
@spxtr Can you please add documentation for how to easily lint/check updates to a YAML file?

[2016-02-11 01:09] bgrant0607 commented on #19081
Why is this important?

[2016-02-11 01:10] lavalamp commented on #20951
Tagging @erictune to remember things I've forgotten.

[2016-02-11 01:12] bgrant0607 commented on #19082
The description sounds like this is talking about consumable resources.

[2016-02-11 01:12] bprashanth opened #21021 "Improve soak test infra"
Forked from https://github.com/kubernetes/kubernetes/issues/20096 which has a ton of context for the kernel bug we're working around right now. Debugging soak test failures is hard, and there are various good ideas on the original, around this comment: https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-175143914

[2016-02-11 01:16] ixdy commented on #20096
`HAIRPIN_MODE` isn't being exported from `hack/jenkins/e2e.sh`, so the modified value is not going to be read in the configuration scripts.

We probably need to just export everything in the environment from e2e.sh... @kubernetes/goog-testing

[2016-02-11 01:17] jayunit100 commented on #20999
Hmm....Possibly frontend service goes up and down ?
How often did this test fail? That is interesting.

[2016-02-11 01:17] bgrant0607 commented on #15915
@lavalamp If the swagger-ui doesn't show the resources in new API groups I think we should remove it.

[2016-02-11 01:20] ixdy commented on #20999
It's failed 11 times in the last 30 runs. I haven't looked to see if it's always the same error.

[2016-02-11 01:21] ichekrygin opened #21022 "fsHandler.go failed to collect filesystem stats"
I see _a lot_ following messages in the syslog.

[code]

These `../aufs/diff/..` paths do not exist on disk, however, kubelet seems to keep trying sync them up.
I believe it drives the CPU usage to above 200%.
One remedy I found is to: `service kubelet restart`, this drops CPU load and stops logs, however, just in few minutes time, I see the issue slowing creeping back.

[2016-02-11 01:23] roberthbailey opened #21024 "Failure domain labels should not be marked as "alpha""
I just created a cluster from head and I see labels with the name `failure-domain.alpha.kubernetes.io/region` on a cluster that doesn't have any alpha features enabled. If this is new default behavior for 1.2, the label shouldn't say `alpha`; it should either be `beta` or GA.

[2016-02-11 01:27] bgrant0607 commented on #20999
Celery and Hazelcast look flaky. PetStore fails a large fraction of the time.

[2016-02-11 01:27] thockin commented on #21011
yes head

On Wed, Feb 10, 2016 at 4:32 PM, Derek Carr <notifications@github.com>
wrote:

[2016-02-11 01:28] roberthbailey opened #21027 "kube-up on GCE creates 3x the number of nodes expected"
Spinning up a new GCE cluster, I get 9 nodes in 3 instance groups, but the validate-cluster call is only checking for 4 nodes (presumably one instance group's 3 nodes plus the master):

`Detected 5 ready nodes, found 5 nodes out of expected 4. Found more nodes than expected, your cluster may not behave correctly.`

Once 4+ nodes are found it happily continues and says that the cluster is running.

[2016-02-11 01:28] derekwaynecarr commented on #21011
@thockin @erictune - I see be bug.  The list of version strings being passed to the controller got messed up in my last PR.  I will send a patch soon.

[2016-02-11 01:28] bgrant0607 commented on #20999
Cassandra is known to be totally broken: #20746

[2016-02-11 01:32] timstclair opened #21029 "e2e flake: should be able to up and down services (Only 2 pods started out of 3) (slow image pulling)"
Logs:
http://pr-test.k8s.io/20990/kubernetes-pull-build-test-e2e-gce/27947/
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/20990/kubernetes-pull-build-test-e2e-gce/27947/build-log.txt

[code]

Looks like it just took too long to update the pod status (updated at 00:10:12.410307, but test timed out at 00:10:11.119)

/cc @kubernetes/goog-node

[2016-02-11 01:32] saad-ali commented on #19953
Changed the title to reflect the bug. This bug affects two other scenarios:
1. When a kubelet is restarted, pods with volumes that are already attached will fail to start, because attempts by kubelet to attach a volume that is already attached fill continuously fail.
2. When 2 or more pods specify the same volume (allowed as long as both specify ReadOnly mode), then kubelet will fail to start the

[2016-02-11 01:35] dlitwin-autodesk commented on #21008
@Random-Liu: My restart policy is "Always".
I want the replication controller to restart the service, I just don't want a clean exit considered a crash and take the back off hit.
Not sure I see how ShouldContainerBeRestarted() affects the backoff logic, can you explain?

@dchen1107:  I am currently on the 1.1.4 version but from what I can see the code, although changed, does not alter its behavior

[2016-02-11 01:37] mml commented on #18609
@mikedanese did you already fix this?

[2016-02-11 01:40] mikedanese commented on #18609
Yup. Fixed in #20598

[2016-02-11 01:40] #18609 closed

[2016-02-11 01:41] spxtr commented on #18122
Yes, that sounds like a good idea, along with an automatic check for PRs.

[2016-02-11 01:42] roberthbailey commented on #21027
The problem is `for i in $(seq $((${NUM_MIGS} - 1)))` ([here](https://github.com/kubernetes/kubernetes/blob/208e98b58e3a018f3c4a27cf477678e6da840aa4/cluster/gce/util.sh#L650)):

[code]

which will create two migs (suffixes of `-1` and `-0`) followed by the last group (no suffix).

[2016-02-11 01:43] roberthbailey commented on #21027
It looks like this was added in https://github.com/kubernetes/kubernetes/pull/18567 by @gmarek

[2016-02-11 01:43] roberthbailey commented on #21027
I believe that the intent is to still create a single MIG with 3 nodes.

[2016-02-11 01:44] saad-ali commented on #14642
We're [working on a fix](https://github.com/kubernetes/kubernetes/issues/20262). It is targeted for the next minor release v1.3.0.

[2016-02-11 01:54] nikhiljindal commented on #15915
Swagger-ui should display the new API groups fine once we have updated the swagger spec on kubernetes.io.

The slowness and XSS issues mentioned originally will remain.

[2016-02-11 01:57] yujuhong commented on #21029
From `104.197.187.221:22-kubelet.log`, the image pulling was slow.

[code]

Just for easy reference, below are all the image pulls on the same node.

[code]

[2016-02-11 02:01] jayunit100 commented on #20999
Definitely looks infra related.  I can't imagine that 66% passing could be in the code ....  I wonder if the amount of cpu is bound so that this tests data generators simply take up too much juice, and thus container cycling is happening.

[2016-02-11 02:08] yujuhong commented on #21008
@dlitwin-autodesk, by multiple "services" do you mean kubernetes pods?

If your pods are long running and only occasionally exits, it should not be affected by the backoff mechanism much. I am not sure how backoff would be a problem in this case.

As for "kubelet seems to confuse separate services near each other with frequent crashes.", if you mean kubelet backs off starting a container due to cr

[2016-02-11 02:20] sjenning commented on #20910
Proposed fix in PR #21032

[2016-02-11 02:24] rootfs commented on #20734
@yujuhong any idea about why orphanning doesn't skip live container?

[2016-02-11 02:29] #20751 closed

[2016-02-11 02:55] timothysc commented on #21006
meh, I'll close as dupe.. Forgot about the old ones.

[2016-02-11 02:55] #21006 closed

[2016-02-11 03:04] dalanlan commented on #20992
Care to send a pr to replace it with dashboard, maybe?

[2016-02-11 03:06] dalanlan commented on #20971
sgtm.

[2016-02-11 03:11] janetkuo commented on #18281
It's happening again.
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20994/kubernetes-pull-build-test-e2e-gce/27989/?debugUI=DEVELOPERS
[code]

[2016-02-11 03:36] MikeSpreitzer commented on #20992
What's up with the UI?  kube-ui is gone, but dashboard is not ready for production use.  What's a guy to do?

[2016-02-11 03:54] MikeSpreitzer opened #21037 "cluster/ubuntu/util.sh's use of make-ca-cert.sh fails in restricted deployment environment"
It is almost possible to run the cluster/ubuntu scripting on a non-cluster machine to deploy Kubernetes into a deployment environment that is restricted such that the cluster machines (master and workers (AKA "minions", "nodes")) can not open connections to arbitrary external locations.

However, there is at least one sticking point.  The one I discovered is that `provision-master` and `provision-

[2016-02-11 04:00] #20454 closed

[2016-02-11 04:00] #20583 closed

[2016-02-11 04:00] #20759 closed

[2016-02-11 04:00] MikeSpreitzer opened #21039 "cluster/ubuntu/download-release.sh refers to outdated release of k8s"
download-release.sh refers to release 1.1.4 but the latest is 1.1.7

@dalanlan

[2016-02-11 04:00] #18606 closed

[2016-02-11 04:34] smarterclayton commented on #7111
Let me write up the new list and close this.  I think we did the first
cleanup, and later changes will be to enable external API groups,
performance, and extracting the core packages.

[2016-02-11 04:35] thockin opened #21041 "PV auto-provisioning on GCE doesn't work"
[code]

[code]

This needs a fix and an e2e ASAP.

[2016-02-11 04:54] thockin opened #21042 "kubectl validation fails for types enabled via --runtime-config"
I enabled DaemonSet and Deployment via `--runtime-config`.  Trying to use them with `kubectl create`, I get

[code]

I took a leap of faith and ran with --validate=false and it worked.

[2016-02-11 04:55] dalanlan commented on #20992
It's not clear to me why kube-ui is wiped out. @mikedanese for more information:)

[2016-02-11 04:59] amygdala commented on #19071
I will take a look.

[2016-02-11 04:59] #21011 closed

[2016-02-11 05:11] johanhaleby commented on #14642
Nice to see that this is being working on. But what do we do in the meantime? We have a disk that we can't seem to mount that contains data for mongodb. I've tried deleting the pods and replication controller but whatever I try I can't seem to get the disk to be mounted. Luckily this happened in our test environment but we're running this is production as well and if it happens there it's quite ba

[2016-02-11 05:15] krancour commented on #15128
+1

[2016-02-11 05:34] madhusudancs opened #21045 "e2e Flake: clientset should create pods, delete pods, watch pods"
[code]

[2016-02-11 05:40] markturansky commented on #21041
It's a new admission controller applying default labels in the API:

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/persistentvolume/label/admission.go#L84

Except we use a dummy placeholder PV and do fulfillment with GCE asynchronously.  The "dummy" GCEPD doesn't exist in the infrastructure and the default labels cannot be applied.

[2016-02-11 05:42] markturansky commented on #21041
@kubernetes/rh-storage

[2016-02-11 05:55] davidopp commented on #17059
Can someone link to the PRs that implemented each of the things in the first entry in this thread? That will be super-useful for someone who comes along later and wants to see what are the pieces that went into Ubernetes Lite.

[2016-02-11 06:04] Spark2Ignite commented on #14642
@saad-ali isn't the timeframe for v1.3.0 is at least 5 months away?

[2016-02-11 06:14] bgrant0607 commented on #21045
cc @caesarxuchao

[2016-02-11 06:23] davidopp commented on #20913
Do we care about flakes in 1.1?

If we hypothetically did, how does one check out a copy of the repository as it appeared at the time the 1.1 release was built? Is it `git co <branch> <commit>` where `<commit>` is the commit the 1.1 release was built at? I'm guessing there's something simpler (since that would require figuring out the commit that the 1.1 release was built at).

[2016-02-11 06:45] bgrant0607 commented on #20949
Maybe @johndmulhausen has a better suggestion regarding where we should put user-focused, cloud-provider-specific examples. It would be cool to be able to select from a cloudprovider drop-down menu: "Show me this example for: GCE/AWS/Azure/...".

[2016-02-11 06:46] bgrant0607 commented on #20949
@amygdala Let's decide which examples we want to focus on in the short term before we work on any specific example.

[2016-02-11 07:02] thockin commented on #21011
I patched this into my cluster and it seems fixed, but the same problem exists for replicaset now.

[code]

[2016-02-11 07:05] thockin opened #21049 "Can't delete replicaset"
The delete command for a replicaset hangs forever.  This then manifests as phantom RSs when I delete and recreate a namespace.

[code]

[2016-02-11 07:06] thockin commented on #21049
@madhusudancs @derekwaynecarr - delete is the gift that keeps on giving

[2016-02-11 07:11] thockin commented on #2770
Volume logic goes thru cloud provider, but the "abstraction" is pretty
nonexistent.

Load-balancers go through the cloud provider, but it's one of the few
interfaces simple enough to work as an abstraction.

I'd rather see (I think) the move towards evicting cloud provider into a
"bridge" controller or controllers that watch the appropriate API objects
and sync into cloud provider.  PV provisionin

[2016-02-11 07:21] danderson opened #21051 "Kubernetes can no longer use TLS for etcd"
I hope I'm just missing something, but a grep of source code seems to confirm that I'm not...

Kubernetes 1.1 supported using TLS for the connection to etcd, via the deprecated etcd client. With 1.2alpha, it seems that this has been lost in the migration to the supported etcd client.

To be more specific: there's no way to specify a certificate for client authentication, or to specify a non-system

[2016-02-11 07:21] wojtek-t commented on #20750
I agree with @lavalamp - what @krousey suggests sounds better than what we have now

[2016-02-11 07:26] wojtek-t commented on #8132
@smarterclayton - I'm happy to help with that once I'm done with my work for 1.2 - we can sync about it then (if you need help)

[2016-02-11 07:39] thockin commented on #1627
Now that we have ConfigMap we need to define schema :)

[2016-02-11 07:39] #1329 closed

[2016-02-11 07:40] #2858 closed

[2016-02-11 07:40] #1859 closed

[2016-02-11 07:42] #3486 closed

[2016-02-11 07:43] #3665 closed

[2016-02-11 07:43] #3860 closed

[2016-02-11 07:43] #5161 closed

[2016-02-11 07:43] #5658 closed

[2016-02-11 07:43] #5863 closed

[2016-02-11 07:43] #5972 closed

[2016-02-11 07:45] #11255 closed

[2016-02-11 07:47] roberthbailey commented on #21037
Does ubuntu have openssl installed by default? You can also generate the certs using openssl commands which could replace the easyrsa cert generation for ubuntu. Alternatively, if you drop certs onto the master machine in the right location, salt will skip running the `make-ca-cert.sh` script because the certs will already exist (so there is no need to create them). This is what we do on GCE.

[2016-02-11 07:48] thockin commented on #8190
minor but annoying: "clusterIP: None" is a hack and we should instead have a "useClusterIP: false" flag.  I think similar magic values are in other fields, we should hunt those down.

[2016-02-11 07:49] #11259 closed

[2016-02-11 07:53] roberthbailey opened #21052 "Run CI tests on GCE using config-default.sh"
Right now all of our continuous testing is done using [config-test.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh). But users create clusters using [config-default.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh).

There are quite a few differences between the two files, and we should be testing that a standard deployment

[2016-02-11 07:55] thockin opened #21053 "log spam from controller-manager about evicting pods"
[code]

[2016-02-11 07:55] roberthbailey commented on #20661
I created https://github.com/kubernetes/kubernetes/issues/21052 to make sure that we are testing *something* against config-default.sh (I noticed some issues with it today when I ran it).

I'll see what we can do about bumping up the log level for gke-ci.

[2016-02-11 07:57] thockin commented on #20466
Is it that you want to mount `/share/subdir` to the machine or that you
want to mount `/share` to the machine and `/share/subdir` to the pod?

We have discussed adding a directory in the "left hand side" of the mount,
but nobody has gotten around to implementing it yet.  I don't think anyone
is against it.  I could swear we had an issue open for it, but I can't find
it.

On Mon, Feb 1, 2016 at 6:0

[2016-02-11 07:58] thockin commented on #21041
There's really no other log lines, and there is no PV in the cluster, dummy or otherwise.

[code]

[2016-02-11 08:08] thockin opened #21056 "plugin/pkg/admission/persistentvolume/label/admission.go should be in volume plugins"
There should probably not be open-coded lists of volume plugins anywhere in the system.

@saad-ali @markturansky @kubernetes/rh-storage

[2016-02-11 08:12] gmarek commented on #21027
It's the problem with OS X (so probably BSD in general) implementation of seq. On ordinary linux:
[code]

On OS X:
[code]

[2016-02-11 08:24] roberthbailey commented on #21027
Wow, and here I thought it was just `sed` that was messed up on my mac. :/

[2016-02-11 08:26] gmarek commented on #21027
At least in sed you can add some flags to make it work correctly (https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/start-kubemark.sh#L211).

Here I think I'll just add an `if 0` outside this loop...

[2016-02-11 08:26] #20877 closed

[2016-02-11 08:27] roberthbailey commented on #21027
The linux man page (http://linux.die.net/man/1/seq) seems consistent with the bsd one (https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/seq.1.html) in that first defaults to 1 and if last is less than first it should count down.

[2016-02-11 08:28] gmarek commented on #21027
Well, it doesn't;)

[2016-02-11 08:30] roberthbailey commented on #21027
You could also just write a more normal looking for loop (from http://stackoverflow.com/questions/6191146/variables-in-bash-seq-replacement-1-10):

[code]

If I set END to 0 that prints nothing.

[2016-02-11 08:32] gmarek commented on #21027
Nice - I didn't knew that such syntax is allowed in bash. Thanks.

[2016-02-11 08:33] roberthbailey commented on #21027
Me neither, I was just searching for an alternative to `seq`.

[2016-02-11 08:41] davidopp commented on #1627
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/issues.md

[2016-02-11 08:44] piosz opened #21060 "HPA should ensure that number of replicas is in specified range"
@thockin suggested that HPA should ensure that the current number of pods should be in range [minReplicas, maxReplicas] even in case of lack of signals for scaling decision.

cc @fgrzadkowski @mwielgus

[2016-02-11 08:52] davidopp commented on #20738
Do we really need this for 1.2?

[2016-02-11 08:54] davidopp commented on #20707
It seems that most of the discussion is going on in #20096. Can we close this issue?

[2016-02-11 08:55] thockin commented on #10163
Hopefully Alpine (musl) is on the way to sanity.  They supposedly have a
working DNS resolver now.  we just have to wait for it to propagate.

On Wed, Feb 10, 2016 at 12:06 AM, Matthias Lübken <notifications@github.com>
wrote:

[2016-02-11 08:58] davidopp commented on #20219
@petermd Doesn't look like the CLA bot recognizes you yet. Please go to
https://cla.developers.google.com/clas
and follow the instructions for signing the CLA as an individual or as part of your company, whichever you prefer.

Do you think you can send a PR for this in the next couple of days?

[2016-02-11 09:03] davidopp commented on #19620
ping @pmorie - I'm going to assign this to you. This can be done as a cherrypick after the branch, though ideally before.

[2016-02-11 09:08] danderson opened #21062 "Error out if a kubeconfig's current-context doesn't exist"
In 1.1, if you specify "current-context: i-do-not-exist" in a kubeconfig, and there's no matching context by that name in the contexts, kubelet silently uses what I assume is either an empty or a default configuration.

This can result in hilarity like wondering why your kubelet isn't using the TLS settings you provided, and spending several hours debugging the whole stack only to discover that yo

[2016-02-11 09:09] gmarek commented on #20707
Well, there's still influxdb issue, which is not related to #20096.

[2016-02-11 09:13] gmarek commented on #18969
As for how to proceed: the question left is if we want to enable this solution for production clusters (i.e. set defaults to non-0).

We have `enormous-cluster-startup` test running daily (for first few days it was failing, because it tried to find JUnit results - my fault). Afterwards it was running, until first failure (one node didn't get registered). Sadly after that it wasn't able to start, a

[2016-02-11 09:38] tsn77130 commented on #8441
Not that I know

[2016-02-11 09:40] dalanlan commented on #21037
I'm ok with self-assigned certs if you insist.

[2016-02-11 10:18] MaksymBilenko opened #21065 "invalid character '%' looking for beginning of object key string"
Hello,
I'm getting error wen trying to create heapster RC.
Seems like issue is that my k8s installation unable to handle this logic:
[code]

I'm running k8s 1.1.2 on CoreOS alpha (949.0.0)

Could you please help me with that issue
Cheers

[2016-02-11 11:18] piosz commented on #20602
I'll take a look whether our changes in Heapster helped.

[2016-02-11 12:02] ShadySQL opened #21067 "Azure cluster creation fails and exits with an undefined resource exists"
Basically I try to deploy to azure but it fails epically all the time. It first complains about a storage account but the storage account doesnt exist.

Error: The storage account '6467741c7b0626' was not found.
  <<< async stack >>>
  at deleteAccount (/home/azureuser/kubernetes/docs/getting-started-guides/coreos/azure/node_modules/azure-cli/lib/commands/storage/storage.account._js:195:56)
  at s

[2016-02-11 12:30] alexcouper commented on #14642
@johanhaleby I see you're running on GKE. When i've had this issue in the past it's because the disk is mounted on a different node in the cluster than the one that the pod is booting on
I went into the google dev console and unmounted manually from the node and then recreated the RC for the pod and all worked.

[2016-02-11 13:30] jayunit100 commented on #20999
Ok let's consider this a catch-all ticket then.  We can open a separate one for cassandra/k8petstore/celery/.

[2016-02-11 13:32] bitchecker commented on #20964
hi @krousey,
thanks for you replies but problem will persists!

i see:
[code]

i've before created pods with ReplicationController yaml, and after that i've runned svc yaml.

[2016-02-11 13:32] pires commented on #17059
I second @davidopp comment.

[2016-02-11 13:43] pmorie commented on #19620
@erictune @davidopp: somehow missed eric's tag, but I do have a WIP PR: #19782; wanted to get the volume stuff stabilized before that went in.

[2016-02-11 13:49] timothysc commented on #12208
I'd like to bring this up for 1.3 planning, once 1.2 is out.

/cc @kubernetes/sig-scalability

[2016-02-11 13:49] justinsb commented on #17059
Sure...  here are the primary ones:

AWS: Experiment support for multiple AZs / subnets #16735
Label nodes with Zone information, if available #16866
Make zone and region node labels consistent with our convention #17506
Ubernetes: When scheduling, spread between zones if labeled #17915
Ubernetes Lite: Volumes can dictate zone scheduling #17916
Ubernetes Lite support for GCE #17919
Design doc for

[2016-02-11 13:55] deepaktawri commented on #20898
Thank you. It worked!

[2016-02-11 13:55] #20898 closed

[2016-02-11 14:09] justinsb commented on #20878
It sounds like the hypothesis is that the delete failed in 11227, but gcloud reported 'deleted'.

But the `Backend Error` failure message from the first create operation in 11228 is one I haven't seen before:

[code]

`Backend error` reads to me as "something went wrong, I don't know the state of the world".  It looks like the template was created OK (ish), but we try recreating with the same name

[2016-02-11 14:10] wojtek-t commented on #18920
Sorry, I missed this - this is a duplicated of #16421
And actually was fixed by #19559

[2016-02-11 14:10] #18920 closed

[2016-02-11 14:13] markturansky commented on #20955
@kubernetes/rh-storage

[2016-02-11 14:24] #19596 closed

[2016-02-11 14:27] wojtek-t commented on #20638
After few fixes, I've enabled load.go test in 500-node kubemarks and since enabling (6 runs), it is passing.
I've just enabled it in 1000-node kubemarks and we will see what will happen.

[2016-02-11 14:34] wojtek-t commented on #19048
The issues with "load.go" test appeared to be completely unrelated things.

I took a look into 1000-node kubemarks, I've seen few such failures (something like 1/20 on average?).
The last such failure:
http://kubekins.dls.corp.google.com:8080/view/Kubemark/job/kubernetes-kubemark-gce-scale/741/

I think we need to try to understand this.

[2016-02-11 14:38] MikeSpreitzer commented on #21039
Resolved by PR #21040

[2016-02-11 14:38] #21039 closed

[2016-02-11 14:45] markturansky commented on #20564
@kubernetes/rh-storage

[2016-02-11 15:06] timothysc commented on #8190
rfe for batched operations.  (adding count to pod additions).

rc's fork go-routines for each api-call for pod rectification, which then triggers a bunch of work busy work.  It's woefully inefficient.  This is one such example.

/cc @kubernetes/sig-scalability

[2016-02-11 15:12] guilhem opened #21070 "[proxy] Listening on a specific IP for nodePort"
For now, we are listening on any interface for nodePorts.
It can be a problem for machines with a public and private address, where we only want to provide a service in private network.

What can be done is to user `--bind-address` and listening only on this IP.

I already have a commit with this feature: https://github.com/guilhem/kubernetes/tree/listennode
It lack support in `userspace` part and

[2016-02-11 15:18] jsafrane commented on #20564
Assign it to me, I have something almost ready, but I cannot post it before all provisioning and binding errors are fixed - the test would generate lot of flakes.

I need these two fixed first: https://github.com/kubernetes/kubernetes/pull/20213 https://github.com/kubernetes/kubernetes/pull/19868

[2016-02-11 15:20] marcmillien commented on #12289
You shouldn't have to do this, but:
[code]

[2016-02-11 15:20] markturansky commented on #20564
Thanks @jsafrane. Assigned.

You can cherry-pick your PRs into your branch w/ the e2e test.  You'll also need to work around this:  https://github.com/kubernetes/kubernetes/pull/19995#discussion_r52600326

Once those PRs get merged, the commits you cherry-picked should fall out on rebase.

[2016-02-11 15:33] carletes commented on #15847
@genti-t: Thanks for the Nginx tip! I just published a [Docker image](https://hub.docker.com/r/carletes/k8s-tls-proxy/) to do just that (Dockerfile available at [carletes/k8s-tls-proxy](https://github.com/carletes/k8s-tls-proxy))

[2016-02-11 15:51] smarterclayton opened #21073 "In-container client config doesn't work for many common use cases because no namespace available"
This is kind of last minute, but I'd like to consider this for 1.2 because we've had a recent rash of users who want to script this and are effectively blocked.

Today, by default service accounts inject one of their secrets into `/var/run/secrets/kubernetes.io/default`.  That secret enables API access.  We have support in the client config to read that value and provide a default client connectio

[2016-02-11 15:52] smarterclayton commented on #21073
@bgrant0607 @liggitt and I discussed this this morning and I got him over the hump - would you be willing to allow a targeted change to secret generation to add `namespace` for the service account token to go into 1.2?  It's a fairly small change, but a big usability win.

[2016-02-11 16:02] smarterclayton commented on #8132
I'll definitely want to get someone else familiar with this and point out
alternative patterns / approaches as well.  I'm certain there's things in
the proto i'm generating that we should argue on, and then some of the
patterns of how we serialize deserve a deeper discussion.

I also am looking at generating defaulters distinct from conversions (so we
can avoid converting v1 -> internal -> v1) whi

[2016-02-11 16:06] wojtek-t commented on #8132
@smarterclayton ok, I will setup some VC once we are done with 1.2; thanks!

[2016-02-11 16:08] roberthbailey commented on #20878
@zmerlynn - can you take a look at this one this morning?

[2016-02-11 16:11] piosz commented on #21045
Yet another failure
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/11395/

[2016-02-11 16:14] wojtek-t commented on #21045
There is already fix in flight

[2016-02-11 16:18] piosz commented on #21045
Ok. I see

[2016-02-11 16:20] piosz commented on #20951
\sub

[2016-02-11 16:22] deads2k opened #21076 "GroupVersion types should use Empty, not IsEmpty"
`Empty` is more accepted than `IsEmpty`, so https://github.com/kubernetes/kubernetes/blob/master/pkg/api/unversioned/group_version.go should be updated to use `Empty`.  See: https://github.com/kubernetes/kubernetes/pull/20511/files#r52620458

[2016-02-11 16:28] piosz commented on #20925
I took a look into run 389 and there is no logs from controller manager:
[code]
Is this expected behavior?

[2016-02-11 16:42] derekwaynecarr opened #21077 "LimitRange admission control updates to support sharing"
There are a number of downstream use cases where we want to re-use this code, but its current structure makes it difficult.  Making an issue to track them so we can solve.
- Separate the core code into a "Defaulting" and "Reject/Admit" flow
- Expose it's internal cache for reuse

/cc @deads2k @sosiouxme - please add to this list and I will look to address once kube 1.2 is branched.

[2016-02-11 16:42] MikeSpreitzer commented on #21037
@roberthbailey: yes, Ubuntu 14.04 has openssl by default.

Is there a document describing the current (e.g., release 1.1.7) story about authorization?  I found access.md but it seems to be a hypothetical, not describing what I find in the current API.

[2016-02-11 16:43] derekwaynecarr commented on #21077
/cc @kubernetes/rh-cluster-infra

[2016-02-11 16:52] derekwaynecarr opened #21078 "hack/test-cmd.sh complains about acquiring locks"
[code]

@vishh @mikedanese - I remember there was work to do pid locking in kubelet, but this should be stubbed out to not be required when running hack/test-cmd.sh

/cc @deads2k

[2016-02-11 16:58] wojtek-t commented on #20951
As for conversions, we may want to rewrite them to your framework before doing more magic in the current code. Once I'm done with my work for 1.2, I'm going to finish migrating deep-copy generator and then I can work on conversions.

[2016-02-11 17:03] thockin opened #21079 "HPA should log an event if it can't create pods"
quota failure, no limit on the pods, etc should all surface as events on the HPA

[2016-02-11 17:04] MikeSpreitzer commented on #21037
@dalanlan: the current scripting produces self-signed certificates, right?

[2016-02-11 17:08] cognitiaclaeves commented on #12767
Just got bit by this. I'd like to add the following concerns:

Getting start on CentOS for Kub 1.1 ( https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/centos/centos_manual_config.md )

references the out-of-date repo ( virt7-testing kubernetes ), when, oddly, the prior version of the document:

Getting started on CentOS(https://github.com/kubernetes/kubernetes/b

[2016-02-11 17:08] jayunit100 commented on #12208
We need to do #18892 to as well

[2016-02-11 17:15] qristin commented on #19144
I'm having the same kind of problems. I have a cluster on google compute engine, which is also scaled when the CPU exceeds a certain value, just like the HPA should do. Compute engine is acting as expected, but the CPU utilization of the pods doesn't  react on increased load on the system.
What actually happens is that the pods are restarting, which is really not what I want to happen. This is cau

[2016-02-11 17:19] alex-mohr commented on #19953
Persistent disks not working seems like a P0 bug to me, especially as we try to add more first-class support for pet-like things to k8s -- convince me otherwise if you disagree?

[2016-02-11 17:22] bgrant0607 commented on #21049
cc @mqliang @kargakis @janetkuo

[2016-02-11 17:24] AdoHe commented on #21070
@guilhem interesting and I will look into this.

[2016-02-11 17:25] AdoHe commented on #21051
@danderson I will open a PR to fix this as soon as possible.

[2016-02-11 17:30] bgrant0607 commented on #21079
cc @piosz @mwielgus @jszczepkowski @madhusudancs @janetkuo @kargakis @mikedanese @erictune @soltysh

Actually, all controllers should raise events when they can't create objects as expected (Pods, ReplicaSets, whatever), except when namespace deletion is in progress.

[2016-02-11 17:31] guilhem commented on #21070
Thx @AdoHe , code is quite simple, especially after latest commit with `args` reformatting :)

I only add a restriction with `-d` for `127.0.0.1,{IP}`. (iptables create 2 rules for each ip)

[2016-02-11 17:32] AdoHe commented on #20930
@thockin so we just add a flag to control this at last?

[2016-02-11 17:33] bgrant0607 commented on #21070
cc @kubernetes/goog-cluster

[2016-02-11 17:34] bgrant0607 commented on #21067
cc @colemickens

[2016-02-11 17:35] bgrant0607 commented on #21062
cc @feihujiang

[2016-02-11 17:51] timothysc opened #21081 "RFE 1.3 : Better client connection management from (X) clients each performing (Y) ops."
During some of our testing on openshift, we had performed several workflows which did the following:

1. Forked a new process with a new kubeconfig
2. Performed several commands using kubectl (~10-20)
3. Gather forks.
4. repeat.

What this showed was that the sum of connection management and tls overhead was quite large.
Ideally we could reduce the overhead by reusing the connection which is done

[2016-02-11 17:53] pault84 opened #21082 "Trying to add a new volume plugin."
Hey guys,
I'm trying to add a new volume plugin for the volume driver we've created.
But seem to be failing.

When i try to use my plugin inside of a PersistentVolume yaml file.
it says it can't find "pwx"  inside of v1.PersistentVolumeSpec

I've followed every step on http://kubernetes.io/v1.1/docs/devel/api_changes.html
i've looked at the changes that were made in the latest azureFile addition.

[2016-02-11 17:55] bgrant0607 commented on #21073
@smarterclayton Makes sense to me, though if we had service linking, it would be more correct to put the info into a ConfigMap.

I assume that existing service-account secrets would not be updated, so InClusterConfig would have to be tolerant of a missing namespace.

cc @lavalamp @erictune

[2016-02-11 17:55] mikedanese commented on #21078
We can either default this behavior to off or fix it for the integration tests.

[2016-02-11 17:56] spxtr opened #21083 "Enormous cluster Jenkins jobs -> Source control"
Ref: #18122

Let me know if you need any help. Thanks :)

[2016-02-11 18:06] jeremyeder commented on #21081
In Linux, socket setup/teardown is an expensive operation in terms of CPU cycles and time.

Add TLS and it's more expensive.
Add SELinux (netlabels) and it's more expensive.  The most expensive combination possible :-1:

We know that efficient communications are batched, pipelined and guided towards throughput over latency.  The amount of tcp_socket events we're seeing during load tests is surpris

[2016-02-11 18:13] liggitt commented on #21073
the token controller will update secrets on resyncs as needed to make the ca key current, but yes, InClusterConfig should tolerate it being missing

[2016-02-11 18:14] derekwaynecarr commented on #21078
@mikedanese - I would prefer we default the behavior to off.

[2016-02-11 18:15] lavalamp commented on #21073
I agree this is annoying and I work around it every time I want to write something that runs in a cluster.

I'm willing to accept such a change if it shows up in a PR, I don't think it's too risky.

[2016-02-11 18:17] ihmccreery commented on #20913
Something similar happened again:

* [Build Log](http://pr-test.k8s.io/20833/kubernetes-pull-build-test-e2e-gce/27950/build-log.txt)
* [Test Artifacts](https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20833/kubernetes-pull-build-test-e2e-gce/27950/artifacts/)
* [Internal Jenkins Results](http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce//

[2016-02-11 18:17] ihmccreery commented on #20913
For what it's worth, in the scheduler logs I see:

[code]

[2016-02-11 18:20] mikedanese commented on #20910
Flaked again in gce

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/11401/

[2016-02-11 18:22] bprashanth opened #21085 "Crashlooping containers sometimes not GC'd"
In the process of debugging https://github.com/kubernetes/kubernetes/issues/20096 I disabled crash loop backoff and ran a 100 pods that were crashing on my node. It looks like I ran out of space. This may just be because the Kubelet was too busy restarting containers to run background gc.

My kubelet logs are full of:

[code]

I'm puzzled by the pet sounding names of the containers. I'm not runnin

[2016-02-11 18:25] vishh commented on #20707
InfluxDB release v0.10 which is supposedly more optimized. Should we try upgrading to that before we sink in any time into optimizing InfluxDB? There is also #20247 which is suggesting moving InfluxDB + Grafana to be opt-in rather than opt-out.

[2016-02-11 18:26] bgrant0607 commented on #21085
cc @kubernetes/goog-node

[2016-02-11 18:28] yujuhong commented on #20734
I think whether a container is live/running or not is irrelevant since the container in question hadn't been started yet.
From the code, the [cleanup function](https://github.com/kubernetes/kubernetes/blob/v1.1.7/pkg/kubelet/kubelet.go#L1577) gets a list of desired volumes and a list of actual volumes from the disk, then remove the undesired ones. The persistent volume must not have been in the de

[2016-02-11 18:29] yujuhong commented on #20734
Assigning to @saad-ali to see if the fix will be ported back to v1.1

[2016-02-11 18:29] vishh commented on #21078
By default, we do not ever want to run more than one kubelet. So it
probably makes sense to keep the current behavior. We can change the
default directory to a different path for tests. `/tmp/kubelet.lock` is one
option.

On Thu, Feb 11, 2016 at 10:15 AM, Derek Carr <notifications@github.com>
wrote:

[2016-02-11 18:30] dchen1107 commented on #21085
I believe this is a regression we introduced lately. @Random-Liu can you take a look?

[2016-02-11 18:31] derekwaynecarr commented on #21078
@vishh - I am still confused on the motivation that brought in the lockfile to be honest.  We have gone this far without one, what motivated it's presence now?

[2016-02-11 18:32] mml commented on #20916
@davidopp okie doke.

[2016-02-11 18:35] bgrant0607 commented on #21042
I think this is a known issue, but don't know if we have a solution on the horizon. All the APIs will be enabled by default in 1.2, so this may be moot in the short term.

cc @caesarxuchao @lavalamp @nikhiljindal

It might make sense to convert this particular error to a warning, however.

cc @janetkuo

[2016-02-11 18:35] timothysc commented on #20861
/cc @jayunit100 - we need to ensure that we keep parity with these changes as they happen.

[2016-02-11 18:38] vishh opened #21086 "GCE / GKE containerVM image for 1.2 release"
Kubelet supports cpu hardcapping by default for `Guaranteed` jobs now. To support that feature, we need to enable `CONFIG_FAIR_GROUP_SCHED` on the kernel.

cc @zmerlynn @dchen1107

[2016-02-11 18:39] bgrant0607 commented on #21018
@AdoHe This would be a pretty easy fix if you have time.

[2016-02-11 18:39] dchen1107 commented on #20707
Yes, #20096 and #20247 cover both issues listed here.

#20096: we are actively working on this. I pushed new soak-deploy build with hairpin mode disabled last night, and currently it is running in soak-continuous. So far so good. We are going to make decision based on the test result.

[2016-02-11 18:40] liggitt commented on #21078
The kubelet should probably not be deciding how it should be run, and even if it did, a lock file is the wrong way to go about it. It wouldn't work with containerized kubelet, for example. I vote to revert.

[2016-02-11 18:40] bgrant0607 commented on #21007
cc @liggitt

[2016-02-11 18:40] mml commented on #20916
I don't see much to debug with, but I'll try to reproduce.

I think when any test fails at this stage, we could at least output whether or not we can ping the master and then include the apiserver logfile if we can find it.  Maybe a stacktrace from the apiserver, too.

[2016-02-11 18:41] dchen1107 commented on #20707
I am assigning this to myself and closing it. If you disagree with me, feel free to reopen it. I will address the rest of issue then. Thanks! :-)

[2016-02-11 18:41] #20707 closed

[2016-02-11 18:42] lakhindr commented on #19071
Success: Using Master, and with a recompiled Cassandra image I can run in a stand alone cluster with multiple Cassandra nodes on Ubuntu 15.04.

I still have these issues, however:

1. I could not build a Cassandra image on Ubuntu 14.04.

2. I for some reason can not see multiple Cassandra nodes if I run them in docker-multi example: docs/getting-started-guides/docker-multinode/master.sh

(My code

[2016-02-11 18:42] ihmccreery opened #21087 "Collect master logs for GKE e2e's"
(Somewhat related to #20661)

As of right now, we are only targeting green upgrade tests on GKE right now, but as far as I can tell, we have no way to look at master logs of GKE e2e runs, for diagnosing things like #20925.

We need to either:
1. get logs from GKE masters,
2. target upgrade tests on GCE instead of GKE, or
3. figure out a workaround so we can get tests green without logs.

As we mov

[2016-02-11 18:42] ihmccreery commented on #21087
Also cc @kubernetes/goog-gke

[2016-02-11 18:42] bgrant0607 commented on #20983
Dupe of #21067

[2016-02-11 18:42] #20983 closed

[2016-02-11 18:43] lavalamp commented on #21042
@thockin what exactly did you do to --runtime-config?

@nikhiljindal Theories about why the client doesn't understand v1beta1.DaemonSet? Is the defaulting mechanism for --runtime-config somehow leaking into the client setup?

[2016-02-11 18:47] ihmccreery commented on #20925
@piosz, yes, this is expected behavior.  I didn't realize we don't collect master logs on GKE, but it's consistent across other jobs.

What are the chances you can diagnose this without those logs?

[2016-02-11 18:48] mikedanese commented on #21078
I still prefer /var/run/lock which is a standard location to put file locks. For integration testing we can use a tempfile in /tmp. I think the people should explicitly express that they desire to run multiple kubelets and it's a good safety feature to have in general.

As for what motivates us now, this allows us to run and upgrade kubelets that are running in a daemonset. This absolutely works w

[2016-02-11 18:54] maclof commented on #21051
There is already a PR open for this https://github.com/kubernetes/kubernetes/issues/18760

[2016-02-11 18:54] mikedanese commented on #20916
Most generic error in the world. Happened twice this morning in gce-serial

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/462/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/464/

[2016-02-11 18:54] liggitt commented on #21078
The thing running the kubelet should decide whether or not it is ok to run. Whether that's a systemd unit or something checking a lock file, that logic/control belongs outside the kubelet, not inside. I don't think there was sufficient discussion on the addition, so I would like to revert it until agreement is reached.

[2016-02-11 18:56] a-robinson commented on #20670
Ping - this is a must-fix for GKE for 1.2

[2016-02-11 18:59] derekwaynecarr commented on #21078
When I looked at the PR, it appeared to be discussed as experimental, experimental meant to me off by default ( https://github.com/kubernetes/kubernetes/pull/20253#issuecomment-176464861 )

[2016-02-11 19:00] derekwaynecarr commented on #21078
It's literally described as Alpha warning in the flag, it should not have a default value that results in a lock until its no longer alpha.

[2016-02-11 19:03] vishh commented on #21078
I agree with the alpha policy though. Alpha features should be disabled by
default. I'm still curious as to why this is an issue though? This feature
should help avoid running multiple kubelets, in addition to allowing for
self-bootstrapping. Docker daemon has a similar feature.

On Thu, Feb 11, 2016 at 11:01 AM, Derek Carr <notifications@github.com>
wrote:

[2016-02-11 19:08] a-robinson commented on #21087
I assume you mean we don't have publicly findable logs, since Googlers have access to the logs from the master for the GKE e2e runs (modulo #20670...).

If you just want to be able to get a dump of the logs from the master, the /logs/ path on the API used to expose all the master log files, but now only seems to include the apiserver. I'm not when that changed or whether it was intentional.

[2016-02-11 19:11] MikeSpreitzer commented on #21037
@roberthbailey: cluster/ubuntu/util.sh runs `make-ca-cert.sh` directly and unconditionally, not conditionally via Salt.
I looked at the GCE scripting, and it uses Brendan's hacked easyrsa too.  I think the better part of valor here is to continue using it.  It will be a small change to move the fetch of that earlier in the process, so that the machine doing the fetch is the machine running util.sh

[2016-02-11 19:12] parikhyash commented on #20466
@thockin

It's the second case. I want to mount `/share/subdir` to the pod. It doesn't matter what is mounted to the machine, but it would be better to have `/share` on all the nodes since there will be many pods on the same machine using `/share/subdir1`, `/share/subdir2`, etc.

Otherwise I would need to create different volumes on the same machine to have `/share/subdir1` and `/share/subdir2` wh

[2016-02-11 19:18] kargakis commented on #20978
Dropped annotations from the title and description of the issue. I am fine with labels.

[2016-02-11 19:19] spxtr commented on #18037
It looks like both aws and aws-1.1 are running tests, with one failing consistently on aws and several failing on aws-1.1.

[2016-02-11 19:19] dchen1107 commented on #21086
Move this one to 1.2. Here are several things required or might be to containerVM image:

1) replace docker -d with docker daemon to embrace docker 1.10.X
2) docker 1.9.1 (TBD: still need last signal for restart)
3) kubelet 1.2.X
4) kernel.hung_task_panic = 1 & kernel.hung_task_timeout_secs = 300 (TBD, and see detail at https://github.com/kubernetes/kubernetes/issues/20096)

[2016-02-11 19:20] bprashanth commented on #20915
Yeah this is fixed

[2016-02-11 19:20] #20915 closed

[2016-02-11 19:20] liggitt commented on #21007
that's correct... we can update that option to take a list of keyfiles... the underlying impl already allows multiple keys for rotation validation

[2016-02-11 19:24] lakhindr commented on #15818
1. I have seen interfaces change name, e.g. eth0 will become em1, after a reboot of Ubuntu. In that case, perhaps it might be useful to set FLANNEL_IFACE ? I saw this problem for on the node running 'worker.sh'. Default values are 'eth0'.

2. But there could be other reasons too..

[2016-02-11 19:27] mikedanese commented on #21078
@dchen1107 and @vishh reviewed this. The PR was open for 2 weeks. I think it's fine to default this to off for 1.2 while the feature is alpha. I think that this is good behavior to have on by default. I disagree that we should force this to be managed externally of the kubelet.

[2016-02-11 19:28] derekwaynecarr commented on #21078
@vishh @mikedanese - The immediate concern was that this change affects a lot of scripts that were broken by default when this merged.  I think its fair to revisit after kube 1.2.

[2016-02-11 19:31] ihmccreery commented on #20738
Folks are working real hard on making clusters conformant, and having poortly-written/wrong conformance tests makes their lives very difficult.  I'm in favor of doing this, but it should of course be weighed against other things.

[2016-02-11 19:32] liggitt commented on #21078
:-)

I think a switch to in-process managed locking deserves a proposal and wider input than a PR.

[2016-02-11 19:36] MikeSpreitzer opened #21092 "make-ca-cert.sh is impossible to debug"
cluster/saltbase/salt/generate-cert/make-ca-cert.sh sets `errexit` but does not echo what it is doing, so in the case of an error there is no evidence of which command produced the error.

[2016-02-11 19:36] Random-Liu commented on #21085
@dchen1107 Sure. I'll look into it.

[2016-02-11 19:40] yujuhong commented on #21085
@bprashanth, what's the version/commit of k8s and docker in your cluster?

[2016-02-11 19:42] caesarxuchao opened #21093 "hack/test-integration.sh should check etcd version"
@kubernetes/goog-csi @lavalamp

[2016-02-11 19:45] smarterclayton commented on #21081
Go elliptic curve crypto is also notoriously slow, and improvements are
blocked on someone contributing a non-license encumbered implementation.
 20x or 30x as slow as it could be on a modern implementation.

On Thu, Feb 11, 2016 at 1:07 PM, Jeremy Eder <notifications@github.com>
wrote:

[2016-02-11 19:45] dchen1107 commented on #20876
I am closing this one as dup of https://github.com/kubernetes/kubernetes/issues/20096. Please reopen it if you disagree. Thanks!

[2016-02-11 19:45] #20876 closed

[2016-02-11 19:46] mikedanese opened #21094 "Flake: Kubernetes e2e suite.Generated release_1_2 clientset should create pods, delete pods, watch pods"
I've seen this a couple times, e.g.

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/28103/#

cc @caesarxuchao

[2016-02-11 19:48] yujuhong commented on #12099
We decided to *not* go with docker event stream for v1.2, and save that for v1.3 or beyond. That said, we've still made rather significant changes to kubelet, so that it won't hammer docker with numerous concurrent requests.

With HEAD (b3bc741d0d45422dbb0ac452cd42cafe3e13ceee) and docker v1.9.1, the time to start 50 pause pods (and wait until they are all running and ready) is ~1min. If you loose

[2016-02-11 19:48] #12099 closed

[2016-02-11 19:50] caesarxuchao opened #21096 "hack/test-integration.sh should turn on watch cache"
@kubernetes/goog-csi @lavalamp

[2016-02-11 19:50] Random-Liu commented on #21085
It looks like docker or ourselves messed up the container name. So the started containers are out of our control.

[2016-02-11 19:50] mikedanese commented on #21094
And here http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/28105/ in #28105

[2016-02-11 19:52] dchen1107 commented on #20987
Please note that kubernetes-e2e-gke-slow has hairpin mode on. In this case, the test should be passed. @ArtfulCoder Please take a look at this? or delegate to others in cluster team. Thanks!

[2016-02-11 19:57] bprashanth commented on #21085
https://github.com/kubernetes/kubernetes/commit/184779b5fd1db6fb173e486616f85e2ea426deaa is an approximation from git history. I'm guessing docker 1.9, given the timeframe.

[2016-02-11 20:00] mml commented on #20916
OK.  Mine just failed on the first try.

[code]

and then

[code]

Two things seem weird:

1. Where's the salt tarball?
2. After the sha1 doesn't match, why does it say "Validated" and then appear to keep going?

[2016-02-11 20:02] dchen1107 commented on #18281
Talked to @thockin offline. @freehan I am assigning this one to you for triage. Let me know if you need any help.

[2016-02-11 20:04] bprashanth commented on #18281
AFAICT the last failure was just the pod nettest-7h5jj not coming up

[2016-02-11 20:04] dchen1107 commented on #18963
@lavalamp please triage this one or delegate to others, thanks!

[2016-02-11 20:05] thockin commented on #21082
From slack:

Without seeing the patch it is hard to say.  Is it a client-side error or server-side.   I assume it is client-side, which suggests it is kubectl that doesn't know about the API fields, but maybe I am wrong.  try --validate=false on the kubectl commandline?

[2016-02-11 20:05] dchen1107 commented on #20661
@roberthbailey Please delegate to your team member. Thanks!

[2016-02-11 20:06] krousey opened #21098 "Support vendor/ directories for vendoring code"
Go 1.5 introduced experimental support for vendor directories that are enabled via an environment variable. In Go 1.6, it will be enabled by default, but you can turn it off. In Go 1.7, you will no longer be able to turn it off.

http://tip.golang.org/cmd/go/#hdr-Vendor_Directories

This is obviously becoming the Go community's way of vendoring code. Recent releases of Godep support this by enabli

[2016-02-11 20:06] jayunit100 commented on #20861
I was under the impression the goal was to decouple deployment from e2e... Right?  If we do this, we are going to immortalize hack/e2e....?

[2016-02-11 20:08] dchen1107 commented on #21029
@freehan Based on @yujuhong's comment above, the fix in test itself should be straightforward after figuring out why pulling the existing image all the time. Thanks!

[2016-02-11 20:09] dchen1107 commented on #20913
I marked this as P2 since it is 1.1 flaky test. @davidopp I assign this one to you for now. Thanks!

[2016-02-11 20:12] spiffxp commented on #20861
Perhaps I'm being too conservative but it seems like a good step to first stabilize the patient.  To even get hack/e2e.go to work consistently across providers will help us better judge what is provider-specific vs. deployment-specific behavior

[2016-02-11 20:13] mml commented on #20916
No.2 is obvious:  because that's what the code says to do:  validate and then keep going no matter what was returned.  https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/configure-vm.sh#L571

This is incidental to the flaky test, but I'd like to fix it unless it's on purpose.  I fear if we change this now a bunch of clusters might fail to boot due to hidden bugs in this part of the p

[2016-02-11 20:14] piosz commented on #20925
The problem here is similar to #20338: lack of resources. HPA test requires 2500m of CPU. In this suite we have only 3 nodes with 1 core each. One of possible solution is to increase the size of nodes there (default in gce is 2 cores node).

Reassigning back to @ihmccreery for the decision.

[2016-02-11 20:15] yujuhong commented on #21029
I have no idea why image pulling is taking so long sometimes.

Another (perhaps related) example is

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/11394

[code]
From kubelet.log:
[code]
It took 11 minutes to pull a single image. In fact, all the images pulling around that time was delayed. E.g.,
[code]
[code]

Not sure if it's a network issue or not.

[2016-02-11 20:16] pmorie commented on #21082
+1, if we can see the patch it will help.

[2016-02-11 20:16] piosz commented on #6541
This was fixed in #20156

[2016-02-11 20:17] lavalamp commented on #21096
Or have one run with it on & one with it off. @wojtek-t can you turn this on? I think it's important to test this.

[2016-02-11 20:17] madhusudancs commented on #21094
Duplicate of #21045?

[2016-02-11 20:18] lavalamp commented on #21093
This is mostly to help out humans who have an old etcd version. I think the test infra gets it right by installing it every time.

[2016-02-11 20:18] wojtek-t commented on #21096
I think that e2e test give us pretty good coverage. But I agree it makes sense to turn it on. Will take a look tomorrow.

[2016-02-11 20:18] thockin commented on #20392
As an evolution, it might be interesting to have per-namespace policy that enforces that services in a namespace must have a specific source-ips (or something like that)

[2016-02-11 20:20] lavalamp commented on #21096
Yeah, I don't think it's urgent, but still important. I asked Chao to file
this so we wouldn't forget.

On Thu, Feb 11, 2016 at 12:18 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-02-11 20:22] gmarek commented on #20247
We shouldn't be removing from test clusters anything that's supposed to run in production ones. cc @davidopp @thockin

[2016-02-11 20:23] wojtek-t commented on #21096
Sure - I agree that it definitely makes sense to do it :)

[2016-02-11 20:25] mikedanese commented on #21094
Thanks

[2016-02-11 20:25] #21094 closed

[2016-02-11 20:29] amygdala commented on #20949
@bgrant0607 SG.

[2016-02-11 20:30] piosz commented on #18826
We are mostly done. Decreasing the priority.

[2016-02-11 20:34] mml commented on #20916
OK, so I'm planning to print the contents of /var/log/startupscript.log and /var/log/kube-apiserver.log on failure, and I plan to toggle this on an env var setting: `KUBE_TEST_DEBUG`.  That seems to follow the existing patterns, and I couldn't find an existing env var to reuse.

[2016-02-11 20:37] mikedanese commented on #20916
Nice detective work. We wouldn't get to the sha validation if we were handling status code >= 400 in download-or-bust. We should retry on these as well. I'm hoping that GCS is just taking a second to converge after pushing the artifact and there aren't other errors we are failing to handle when pushing the artifact.

[code]

[2016-02-11 20:40] mikedanese commented on #20916
Actually that's not what it is... Looks like it is returning a bad error code on 404. I'm wondering why we got past download-or-bust. What is in the file when you cat it after seeing this error?

[2016-02-11 20:41] mikedanese commented on #20916
Could this have possibly just happened in a GKE cluster?

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-slow/528/console

I'm wondering if these are all the same issue or different

[2016-02-11 20:56] vishh commented on #20247
I think the idea is to make InfluxDB opt-in and have users place resource
requests/limits for InfluxDB. We have alternate dashboard(s) now which
provide some basic monitoring functionalities.

On Thu, Feb 11, 2016 at 12:22 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-02-11 20:56] maisem commented on #20268
Readiness probe change has been merged. Closing this.

[2016-02-11 20:56] #20268 closed

[2016-02-11 20:56] davidopp commented on #21060
Please add 1.2 milestone label if you think this is needed for 1.2

[2016-02-11 21:02] mml commented on #20916
I don't think the missing tar file is happening elsewhere.  I tracked it down to having switched projects but not removed the *.uploaded.sha1 files.  I doubt that happens in jenkins.

[2016-02-11 21:05] pault84 commented on #21082
i run make everytime i do a code change. in combination with:  hack/update-generated-conversions.sh hack/update-generated-deep-copies.sh and hack/update-codecgen.sh not sure what else to run

Also here is a rtf version of my patch.: [patch](https://www.dropbox.com/s/5ywbpsaxbtvf50j/pwx.rtf?dl=0)

[2016-02-11 21:06] #6541 closed

[2016-02-11 21:18] davidopp commented on #21024
Interesting question. This label is tied to Ubernetes Lite which is not a discrete API resource, hence no applicable  `--runtime-config` flag to enable/disable it.

@bgrant0607 any thoughts on this? It seems to me that some alpha labels/annotations will be directly tied to specific features that have API resources (e.g. a special label/annotation that is consumed by a new alpha-level controller) w

[2016-02-11 21:20] gmarek commented on #20247
I think that even if we want it to be opt-in only, we should make sure it works. I.e. don't remove it from tests.

[2016-02-11 21:22] davidopp commented on #20416
Thanks @derekwaynecarr

@henryon Please reopen if #20267 did not fix.

[2016-02-11 21:22] #20416 closed

[2016-02-11 21:23] davidopp commented on #20476
@erictune Can you take a look at this?

[2016-02-11 21:23] ixdy commented on #20778
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20932/kubernetes-pull-build-test-e2e-gce/28035/ is a recent PR e2e failure.

Several failures on GKE yesterday, too (though maybe not all the same cause):
* https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/795
* https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke/797
* https://storag

[2016-02-11 21:26] bprashanth commented on #21085
@Random-Liu this might have something to do with load on the node and the fact that both docker and kubelet restarted multiple times. If you try to reproduce it, set the hairpin flag or you'll run into the kernel bug https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L144.

[2016-02-11 21:26] davidopp commented on #20486
cc/ @lhuard1A

cc/ @robszumski @aaronlevy @bcwaldon

[2016-02-11 21:32] bgrant0607 commented on #21024
cc @aronchick regarding the status of Ubernetes Lite in GKE in 1.2

[2016-02-11 21:32] vishh commented on #19077
We generate events for this purpose. We currently have a [`pulling` and
`pulled`](
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/event.go#L29)
event.

AFAIK, docker does not surface image pull progress. Did that change
recently?

On Sun, Jan 31, 2016 at 1:33 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-11 21:37] davidopp commented on #21024
@bgrant0607 Even if Ubernetes Lite is not truly alpha, hence we can make these labels not-alpha in 1.2, this issue is bound to come up in the future, since not all labels/annotations will be tied to API resources, so it would be good to have a policy on this (preferably one that can be implemented without a lot of new code). And even the ones that are tied to API resources, the mechanism to avoid

[2016-02-11 21:40] davidopp commented on #20497
@ncdc @pweil- to find someone to investigate.

[2016-02-11 21:42] Random-Liu commented on #21085
@bprashanth Thanks a lot! I'll try to reproduce this.

[2016-02-11 21:44] bprashanth commented on #21085
Suggest just leaving the cluster in the backgroud and ignoring it. If it doesn't repro, close this out as something random that requires a lot of hammering.

[2016-02-11 21:45] smarterclayton commented on #19077
Practically speaking, people use pod status to figure out what the pod is
doing.  The vast majority of the time between "user creates pod" and "user
sees success" is going to be spent pulling.  The fact that we have no
discrete status indicating that appears to be a bug to people.  The event
is useful, but if we're updating the status anyway we should know whether
we're pulling immediately or not

[2016-02-11 21:49] bgrant0607 commented on #21049
@thockin Had you already deleted the corresponding Deployment?

[2016-02-11 21:50] davidopp commented on #20673
@piosz @mwielgus could one of you take this?

[2016-02-11 21:50] caesarxuchao commented on #21093
In hack/test-integration.sh we only check if it's lower than v2.0.0: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal_test.go#L82

[2016-02-11 21:52] mikedanese opened #21103 "A bunch of tests started failing around noon"
[code]

[2016-02-11 21:54] caesarxuchao commented on #21096
Sorry I didn't see it's already assigned to @wojtek-t. I assembled a PR it when waiting for some test results :)

[2016-02-11 21:54] dchen1107 commented on #20995
A small summary:

* @vishh has docker restart test without upgrade against docker 1.9.1, but  2 / 3 nodes run into issue https://github.com/kubernetes/kubernetes/issues/20096. He is going to kick out another round to test with hairpin mode disabled.
* I received one instance report from the users who using the image created by @andyzheng0831's team. After discussing with the user, I found they iss

[2016-02-11 21:58] davidopp commented on #21002
@roberthbailey Can you provide more context? IIUC ElasticSearch is started at cluster creation time and should be kept running as a static pod?

[2016-02-11 22:00] vishh commented on #19077
By Status are you referring to the output of `kubectl describe` or
`PodStatus`? If users have insight into when the pod was accepted by the
kubelet and when it starts and completes (or fails) to pull an image, would
that suffice?

On Thu, Feb 11, 2016 at 1:46 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-11 22:03] ihmccreery opened #21107 "Scalability e2es should be in their own project"
Right now, our scalability suite runs in `kubernetes-jenkins` project; it should be running in its own project.

[2016-02-11 22:06] mikedanese commented on #21103
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-slow/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/

And a few others had a blip. cc @ixdy

[2016-02-11 22:07] mikedanese commented on #20497
@stepanstipl do your kubelet versions match your master version?

[2016-02-11 22:07] saad-ali commented on #14642
@johanhaleby What @alexcouper recommended: detach the disk manually via gcloud API, CLI, or web UI that should unclog the pipes.

The next minor release is likely 2-5 months out. That said, if we have something before then that unblocks folks, we'll patch it back into an intermediate 1.2.x release, so it may be sooner than that--but no promises.

[2016-02-11 22:09] davidopp commented on #20685
Hi @yybear. If you are running on a cloud provider, simply deleting the node through kubectl is not sufficient. You must either
(1) remove the VM instance from your cloud provider (and then wait a bit), or
(2) kill the kubelet (and make sure it doesn't restart), and then and then delete the node through kubectl

The reason is that as long as kubelet is running, it will keep re-registering the node

[2016-02-11 22:10] mikedanese commented on #21103
Seems to have recovered. Maybe related to #20916

[2016-02-11 22:11] roberthbailey commented on #21002
This was for a GKE user that wanted to use elastic search. We don't offer that as a startup option on GKE, but it should be possible (and not too difficult) to add after the fact. In addition, if you don't choose elastic search logging on GCE at cluster startup time, we shouldn't force you to delete your cluster to add it later. The logging pods have historically been run using manifest files, but

[2016-02-11 22:12] pault84 commented on #21082
here is the fork plus commit.

[fork](https://github.com/pault84/kubernetes)

[2016-02-11 22:12] mml commented on #20916
With a bug inserted and the timeout reduced...

[code]

[2016-02-11 22:15] bgrant0607 commented on #21024
It's bad practice to introduce features initially as beta. Yes, we've done that often in the past, and it has incurred a significant cost pretty much every time. So that's why these were "alpha".

We have a number of "alpha" features that aren't disabled via flag. Typically, they are accessed via annotations. Users that don't invoke those features generally aren't aware they exist, since they don'

[2016-02-11 22:16] dlitwin-autodesk commented on #21008
I think I had a few points of confusion:
The first was on a clean startup there was indeed an unavailable dependency and it was rightfully in a crash loop state for a window of time (this has been removed).  I'm not sure how I missed the logging of this earlier.
The second was that even with everything in place I am seeing a 15 second delay between a container clean exit (even after running stable

[2016-02-11 22:17] gmarek commented on #21107
cc @wojtek-t

[2016-02-11 22:20] zmerlynn commented on #20878
I was out this morning but I'll see if I can look into it later this afternoon.

[2016-02-11 22:25] ixdy commented on #20778
A common thread in a lot of these timeouts (but not all) is the `getStatus` function in `networking.go` seems to be hanging - same issue as I'd discovered in #13485 long ago (which I thought we'd fixed).

@lavalamp `git blame` suggests I ask you if you have any ideas as to why this might be hanging. @jayunit100 too for good measure, since he's also worked on this test.

More details from each of t

[2016-02-11 22:26] roberthbailey commented on #21024
We are effectively doing that with ubernetes lite (as a whole), since it wasn't alpha in 1.1 and it will be enabled by default in 1.2 (hence I would call it beta). You don't have to use it (like any other new feature), but the scheduling changes and the node labeling are both turned on for all 1.2 clusters.

[2016-02-11 22:27] samsabed commented on #19077
The requester seems to want a progress measure 30% pulled or x/y

[2016-02-11 22:34] smarterclayton commented on #19077
The use cases people have raised with us is an obvious indicator on
pull in Pod Status.  Progress is nice but practically not required for
a well run infra.  Right now there is no distinction between waiting
for schedule and pull, which is a common state people get into.

[2016-02-11 22:45] bgrant0607 commented on #21024
@roberthbailey That was my guess. We also did that for HPA, Job, and Ingress in 1.1, and did it for the whole API back in June 2014. We treat "beta" more as a statement of commitment than the normal meanings.

Another alpha label: #20909

[2016-02-11 22:48] davidopp commented on #21024
I basically agree with all of @bgrant0607 's reasoning, though I also think it would be fine to leave these labels as alpha. I think the question is whether we think we might change them in the future. If we make them beta now, then we need to preserve compatibility for people who start using them in their own code.

@roberthbailey Whether it's proper or not, we've been making scheduling changes w

[2016-02-11 22:51] roberthbailey commented on #21024
Once we launch them by default on a production release version of k8s, I think we need to commit to the beta level of support anyway, so I think our naming should be consistent with that.

@davidopp - I think that the scheduling changes can be categorized as improvements to an already "GA" feature (e.g. that the cluster schedules pods to nodes).

[2016-02-11 22:51] pault84 commented on #21082
After forking and building again, kubectl seems to accept my yaml

[2016-02-11 22:55] dchen1107 commented on #18969
We can talk about more on the default config for production cluster. But even without changing the default value, we should document this: #21000 or through other document, so that the user can config this.

[2016-02-11 22:55] Random-Liu commented on #21085
I've started a cluster to run [the test](https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-182531030). Hope I could hit that bug. :)

[2016-02-11 22:57] lavalamp commented on #20778
Perhaps, on a timeout, you could send SIGQUIT to the e2e binary, to get a stack trace? Then we'd see what exactly was going on.

[2016-02-11 23:01] ghost opened #21109 "If POD creation fails due to node being "read-only" force the POD to a different node"
In cases when a POD creation fails (in my case kube-dns restarted but failed) due to node having a "read-only file system" the POD should be assigned to a different node. I believe ROFS errors are not currently caught.

Events on the failing POD:
`Events:
  FirstSeen    LastSeen    Count    From                    SubobjectPath    Reason        Message
  1h        5s        483    {kubelet ip-xxx.

[2016-02-11 23:08] philips commented on #19831
A use case I have for a cluster ConfigMap:

A machine generated random number called "cluster-id" that can be used to uniquely identify a cluster instance permanently. The idea is that this number could be used in logs, backups, ubernetes, etc. It is a similar idea to the `/etc/machine-id` on Linux.

Today we have the name and DNS name of the servers but I think that this is insufficient because t

[2016-02-11 23:08] #19129 closed

[2016-02-11 23:09] caesarxuchao commented on #20498
The flake on my local environment is caused by etcd not sending watch notifications, I was running etcd v2.0.0. After upgrading to etcd v2.2.1, I haven't reproduced the flake after 3 hours (usually it take several minutes to several hours to reproduce).

In the kubernetes-test-go suite, this test hasn't failed for last 1000 builds.

The failed tests listed in this PR are in the  kubernetes-test-go

[2016-02-11 23:10] bgrant0607 commented on #4926
This is blocked on #15193 and #5465

[2016-02-11 23:11] ixdy commented on #20778
it looks like the `nettest` webserver binary has a possible deadlock on [line 93](https://github.com/kubernetes/kubernetes/blob/master/test/images/network-tester/webserver.go#L93): `serveStatus` calls `Logf` while holding the lock, but `Logf` also tries to acquire the lock. This would likely cause all further requests to hang.

I thought #18340 was supposed to set timeouts on these calls, but mayb

[2016-02-11 23:14] ixdy commented on #20778
(who even reviewed the change that introduced that deadlock? #5612. oh.)

[2016-02-11 23:17] Random-Liu commented on #21085
OK. I hit the error even with hairpin mode turned off. "unregister_netdevice: waiting for veth09d8b93 to become free. Usage count = 1"

[2016-02-11 23:19] ixdy commented on #20778
@lavalamp ginkgo swallows SIGQUIT, so that won't help.

[2016-02-11 23:20] dchen1107 commented on #18969
cc/ @roberthbailey and @alex-mohr on the max number of node for a cluster on GKE side today? We can talk about the default config based on that max number.

On k8s side, I think document should cover it.

[2016-02-11 23:27] davidopp commented on #18969
Doesn't this already work in production on GCE, in that if you set `ALLOWED_NOTREADY_NODES` to some value (greater than zero) you get the behavior where kube-up will allow some failed nodes?

I think we should keep default as requiring all nodes to come up, and add documentation of `ALLOWED_NOTREADY_NODES`.

[2016-02-11 23:33] ixdy commented on #20778
I'll fix the `nettest` bug, but it'd be good to figure out why calls to the server don't seem to be timing out.

[2016-02-11 23:34] lavalamp commented on #20778
@ixdy does it install an http handler w/ the standard debug handlers? Could get stack trace that way...

[2016-02-11 23:35] Random-Liu commented on #21085
It turns out that the haripin mode was not turned off. I changed the file https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh, but because I'm using a regular cluster (not e2e cluster), I should change the file https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh. :)

[2016-02-11 23:36] ixdy commented on #20778
"It" being ginkgo? Or something else?

[2016-02-11 23:37] lavalamp commented on #20778
Yeah, the e2e test binary? We build that, no?

[2016-02-11 23:37] davidopp commented on #21024
I guess I see your point. Though since we don't have a mechanism to disable publishing these kinds of labels, this means we cannot ever have alpha labels of this sort.

Good. :)

[2016-02-11 23:38] ixdy commented on #20778
Don't think we start an http server in the test binary, no.

[2016-02-11 23:38] enlinxu opened #21111 "Guestbook example not working,unable to connect to master radis"
Redis-slave can't resolve redis-master in guestbook example. My environment is VMWare ESX, CoreOS. Below is the error I am getting:
unable to connect to master radis
no such file or directory CoreOS

I found this old issue seems quite relavant: https://github.com/kubernetes/kubernetes/issues/6158 , Kcao provided the solution to modify the /etc/hosts for each slaves, but that doesn't solve the issu

[2016-02-11 23:38] dchen1107 commented on #18969
@davidopp yes, we are on the same page for k8s. @gmarek is asking if we should provide a default non-0 for production.

[2016-02-11 23:38] bprashanth commented on #21085
Lets all try to reproduce it!

Also fyi there are environment differences between the kube-up cluster and an e2e cluster (master kubelet runs in standalone mode, e2e clusters have a bunch of firewall rules etc). Starting an e2e cluster is as easy as:
[code]

[2016-02-11 23:39] lavalamp commented on #20778
OK. If we think a stack trace would make things like this easier to track down in the future, it's probably worth it to set that up.

[2016-02-11 23:39] bgrant0607 commented on #19098
@amygdala See PR #19098

[2016-02-11 23:40] bgrant0607 commented on #19098
Oops, PR #20746

[2016-02-11 23:40] roberthbailey commented on #21024
It would be trivial to flag-guard the code that adds the annotation to the node.

[2016-02-11 23:44] pires opened #21113 "Add configurable delay when scaling"
When scaling pods, there's no way to do it with a certain delay between instance(s) scheduling/launching.

This is needed, for instance, to scale apps that rely on topology gossiping for discovery - and when said gossiping happens only on connection and not periodically.

[2016-02-11 23:45] krousey commented on #20750
Got a PR out for this if one of you want to take it.

[2016-02-11 23:46] Random-Liu commented on #20950
Maybe we could let the prober only relies on specific container spec and "pod metadata" instead of the whole pod spec.
There may be more and more mutable fields in pod spec, it will be hard to keep consistency if we let pod spec spread among different components.

[2016-02-11 23:46] yujuhong commented on #21008
If you're seeing a constant ~15 second delay, it probably has nothing to do with the backoff (as you said).
The v1.1 kubelet has a sync period of 10s, meaning that it checks the containers every 10s to see if there are any changes, and restart any container if needed. This is tunable using the --sync-frequency flag. However, it's not recommended to use a shorter period if you have more than a few

[2016-02-11 23:48] bgrant0607 commented on #16076
cc @madhusudancs

[2016-02-11 23:50] davidopp commented on #21024
But based on what, though? My understanding is that `--runtime-config` is tied to API versions and API resources. There isn't a direct correlation between those and node labels, especially in the case where they're not being consumed by an API resource (as in the Ubernetes Lite spreading case).

Would we introduce a new flag caled `--alpha-cluster` or something like that, which would control these

[2016-02-11 23:51] raeesiqbal commented on #18230
+1

[2016-02-11 23:51] timstclair opened #21114 "Leaking test resources in non-test binaries"
For example, our builds include the `-httptest.serve` flag from the `net/http/httptest` package (pulled in through `github.com/stretchr/testify/assert`).

Files which should probably be excluded from release binaries (but are currently included):
[code]

[2016-02-11 23:51] davidopp commented on #18969
Oh I didn't realize "production" == "GKE" :)

I don't think it should ever default to non-zero. But I'm not sure how much work it would be to allow people to specify the value of `ALLOWED_NOTREADY_NODES` at cluster creation time on GKE (e.g. through the UI).

[2016-02-11 23:52] timstclair commented on #21114
I propose introducing a `test` build tag to be included whenever running tests. See https://github.com/google/cadvisor/pull/1110 for an example.

[2016-02-11 23:54] Random-Liu commented on #21085
@bprashanth Thanks for your help!

[2016-02-11 23:54] roberthbailey commented on #18969
Max # of nodes in GKE today is 250 (which was the tested limit for 1.1). We hope to increase that with 1.2 since k8s will support 1000.

[2016-02-11 23:55] jdoliner commented on #18774
Has there been any activity on this? I see a number of things in the referenced issue but I'm still seeing this error with vendored code.

Is there a reason that the code hasn't been updated to use the `reference.Parse` yet? It seems like that supports identical functionality and would take 2 seconds to fix.

[2016-02-11 23:58] roberthbailey commented on #21024
We've flag-guarded features on the kubelet before (privileged mode) and in that case you had to flip a flag on the kubelet *and* a flag on the master to enable it. If we wanted to make ubernetes lite an alpha-level feature, we could put the scheduling changes behind a flag in the scheduler and the node labeling behind a flag in the kubelet (either a generic flag like you suggest or something speci

[2016-02-12 00:04] davidopp commented on #18969
Until we have the background-join feature that @bgrant0607 has described elsewhere, I don't think we want cluster creation to succeed with less than the requested number of nodes.

Background-join should probably be a P1 issue to be done immediately post-1.2 though...

[2016-02-12 00:06] davidopp commented on #15803
@gmarek can you update the status of this? in cluster/gce/config-default.sh it appears to default to true, but false everywhere else (including test).

Should we go ahead and change cluster/gce/config-default.sh to default it to false, given that we've run out of time for 1.2?

[2016-02-12 00:07] dchen1107 commented on #12670
I am going to close this one since:

* We changed concurrent image pulling to serial one by default since 1.1 release.
* We validated docker 1.9.1 (https://github.com/kubernetes/kubernetes/issues/16110), and the last remain issue is (https://github.com/kubernetes/kubernetes/issues/20995).

[2016-02-12 00:07] #12670 closed

[2016-02-12 00:11] davidopp commented on #21024
Yeah I agree we should just change the names to beta.

[2016-02-12 00:18] sahas- opened #21115 "kubectl throws i/o timeout"
I deleted a cluster using the UI and since then any kubectl command throws this error

**kubectl get services**
`error: couldn't read version from server: Get https://107.178.212.121/api: dial tcp 107.178.212.121:443: i/o timeout`

**kubectl get nodes**
`error: couldn't read version from server: Get https://107.178.212.121/api: dial tcp 107.178.212.121:443: i/o timeout`

Not sure if its something

[2016-02-12 00:24] bgrant0607 commented on #21115
If you deleted the cluster, then it's gone -- there is nothing to respond to kubectl.

In the future, please ask such questions on stackoverflow.com.

[2016-02-12 00:24] #21115 closed

[2016-02-12 00:24] dchen1107 commented on #17331
@vishh and @pwittrock I am closing the issue for 1.2 milestone since

* Overlayfs support was in cAdvisor library
* new kubelet metrics APIs (/stats/summary) exposes the disk usage information already.

Thanks!

[2016-02-12 00:24] cameronbrunner commented on #19081
The primary reason for having a method of data typing is to allow for third party tools reporting and monitoring tools to better insight into the meaning of the data that is made available.  Currently in Kubernetes CPU and Memory are typed and have their own suffix's for managing scale.  Since everyone know the types its very easy to make tools that consume these metrics.

In the near term we will

[2016-02-12 00:27] davidopp commented on #19081
As we've discussed a workaround is just to adopt a convention of having a portion of the key name specify the type.

[2016-02-12 00:27] dchen1107 commented on #17458
@pwittrock Can you provide the latest status on this one and the remaining work items? Thanks!

[2016-02-12 00:29] bgrant0607 commented on #21111
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-12 00:29] #21111 closed

[2016-02-12 00:29] #21082 closed

[2016-02-12 00:30] vishh commented on #17331
@dchen1107: We are using this issue to track some of the pending cleanup work. Let's keep it open until all the work-items mentioned above are resolved.

[2016-02-12 00:32] dlitwin-autodesk commented on #21008
That sounds great, thanks again!

[2016-02-12 00:32] #21008 closed

[2016-02-12 00:32] bgrant0607 commented on #20930
@thockin Please self-triage (team/priority labels)

[2016-02-12 00:36] bgrant0607 commented on #20902
@Fizzadar Those docs are referring to kubectl delete, not delete via the API.

Server-side cascading deletion is a long-desired feature, but hasn't been implemented yet:
https://github.com/kubernetes/kubernetes/issues/1535#issuecomment-156185924

cc @erictune @soltysh

[2016-02-12 00:36] yujuhong commented on #20105
Closing the issue since the fix has been merged.

[2016-02-12 00:36] #20105 closed

[2016-02-12 00:36] bprashanth commented on #20930
I think we need to figure out the default userspace vs kernel proxy issue for 1.2. For that we're waiting on soak test to run its course. Assigning to myself.

Fyi current winning solution seems to be: disable it (to avoid kernel bug), document impact and how one installs a watchdog rebooter (using sysctl), improve perf of userspace proxy.

[2016-02-12 00:37] davidopp commented on #20350
I'm closing this in favor of #12298. Please reopen if you disagree.

[2016-02-12 00:37] #20350 closed

[2016-02-12 00:37] mwielgus commented on #20673
It sounds like another problem with grace period/termination notice.
@bakins  What Kubernetes version are you on?

cc: @gmarek

[2016-02-12 00:37] davidopp commented on #12298
Added v1.2 milestone -- this is a 1.2 blocker, right @erictune  ?

[2016-02-12 00:38] yujuhong commented on #19655
@timothysc, #20726 has been merged. Have you seen any difference in your measurement?

[2016-02-12 00:38] smarterclayton commented on #20750
Agree in 1.3 we should look at relying on client backpressure (which is mostly there, but nowhere near tested enough).  And the server throttler is also susceptible to getting starved by watches, which means we can livelock on watching in the other direction (can watch, but not list)

[2016-02-12 00:38] dchen1107 commented on #20995
FYI: @Amey-D this is the last remaining issue for validating docker 1.9.1 for 1.2 release.

[2016-02-12 00:39] dalanlan commented on #21037
nope. We use easyrsa for now. A self-assigned cert is generated by api-server itself, during which period no external resource would be touched.

Sent from myMail for iOS

Friday, February 12, 2016, 01:05 +0800 from notifications@github.com  <notifications@github.com>:

[2016-02-12 00:41] davidopp commented on #19322
@justinsb I noticed you added v1.2 milestone. Do you think you can fix this in the next few days?

[2016-02-12 00:42] bgrant0607 commented on #20677
@krmayankk containerPort tells Kubernetes what port the application is listening on, not the other way around. If you want nginx to listen on a different port, you need to configure it to do so.

[2016-02-12 00:42] #20677 closed

[2016-02-12 00:46] yujuhong commented on #18841
This should be fixed now. @yifan-gu can you verify? Thanks.

[2016-02-12 00:46] erictune commented on #12298
yes

On Thu, Feb 11, 2016 at 4:38 PM, David Oppenheimer <notifications@github.com

[2016-02-12 00:50] erictune commented on #20902
By the way, you can update the job to have 0 parallelism to make it stop spawning pods while you debug.  If it turns out the problem was something external (missing input files on cluster file system, etc) then you can restart it.

[2016-02-12 00:52] yujuhong commented on #18302
This is semi-done as pod workers no longer rely on this cache for syncing. It is still used by the periodic cleanup routines though.

@Random-Liu I think we can close this one since the majority of the work is done. We can discuss how and whether we should merge the internal pod status cache and the runtime cache offline or in another issue.

[2016-02-12 00:52] #18302 closed

[2016-02-12 00:54] Random-Liu commented on #18302
@yujuhong Sure! :) Thanks

[2016-02-12 00:59] Random-Liu commented on #18302
@yujuhong Maybe we could have an offline discussion first then file an issue to track the progress. :)

[2016-02-12 01:01] erictune commented on #20476
@yifan-gu you added this module.  Also @bobbyrullo seems to know about OIDC too.

[2016-02-12 01:02] bgrant0607 commented on #20079
@mateeyow What are you trying to do? Why would you want to add a hosts entry?

If you're not familiar with it, please take a look at the documentation for services:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/services.md

[2016-02-12 01:04] davidopp commented on #19228
@fgrzadkowski maybe you can take a look at this?

[2016-02-12 01:05] erictune commented on #20476
Seems like the problem might be in Godeps/_workspace/src/github.com/coreos/go-oidc/oidc/provider.go

[2016-02-12 01:06] erictune commented on #20476
Looks like Google accepts `https://accounts.google.com//.well-known/openid-configuration` but auth-0 doesn't.  Maybe we didn't notice it before for that reason?

[2016-02-12 01:07] yujuhong commented on #17705
It is displayed in `kubectl describe` if I read/remember correctly. The issue seems to be more about adding more phases.

[2016-02-12 01:08] dchen1107 commented on #17331
Ok, in this case, I removed 1.2 milestone from this one.

[2016-02-12 01:08] mikedanese opened #21116 "v1.1 kubectl can't deploy v1.2 deployments very well."
If you try to create a deployment now with a v1.1 kubectl, everything succeeds but the v1.1 kubectl silently drops the .spec.selector because we changed it to a generalized label selector. I imagine we will have similar issues when we move it to ReplicaSet if they json structure changed at all. I'm not sure there's anything we can do about this.

cc @bgrant0607 @janetkuo @madhusudancs

[2016-02-12 01:09] davidopp commented on #18975
@justinsb I see you added v1.2 milestone. Do you think you will have time to look into this in the next few days?

[2016-02-12 01:09] bgrant0607 commented on #20227
kubectl cp is #13776

cc @ncdc

[2016-02-12 01:12] davidopp commented on #18455
@pmorie Please be sure to explain this prominently in the documentation (a lot of people will have the same question @therc had, since that's almost certainly going to be the main way that people consume ConfigMap).

[2016-02-12 01:12] dchen1107 commented on #18969
Here is the issue capturing your background-join: https://github.com/kubernetes/kubernetes/issues/20424

Maybe @bgrant0607 filed a different issue though?

[2016-02-12 01:12] erictune commented on #20476
A fix might be to strip any trailing slash on `issuerURL` at line 90 in `plugin/pkg/auth/authenticator/token/oidc/oidc.go` before calling `oidc.FetchProviderConfig(hc, issuerURL)`

I can't code this up and test it any time in the next week as I need to finish other stuff for the 1.2 release.   Please send a PR if that is something you are comfortable doing.

[2016-02-12 01:15] erictune commented on #21007
@huggsboson if you are up to sending a PR that would be great!

[2016-02-12 01:15] #21103 closed

[2016-02-12 01:16] thockin commented on #20930
@AdoHe this is a temporary things while we root out the nasty bug.

[2016-02-12 01:17] davidopp commented on #11324
@justinsb I see you added the v1.2 milestone -- will you be able to look into this in the next few days?

[2016-02-12 01:17] yujuhong commented on #15089
I believe we can close this one too. @Random-Liu, thanks for working on it!

[2016-02-12 01:17] #15089 closed

[2016-02-12 01:18] davidopp commented on #11557
cc/ @fgrzadkowski

[2016-02-12 01:18] yujuhong commented on #15528
@onorua, I am closing this issue since it's been inactive for more than two months. If you have any new information, feel free to reopen the issue.

[2016-02-12 01:18] #15528 closed

[2016-02-12 01:18] bgrant0607 commented on #20225
`| less` or `| head -20`? I wouldn't want to force users to wade through lots of flags, as we add more and more.

We also put these flags into docs and man pages.

Thanks for the suggestion, but I don't envision us reversing the order.

[2016-02-12 01:18] #20225 closed

[2016-02-12 01:20] mikedanese commented on #21114
Fix it and add it to the symbol check precommit.
[code]
https://github.com/kubernetes/kubernetes/blob/master/hack/after-build/verify-symbols.sh

[2016-02-12 01:21] yujuhong commented on #15590
@a-robinson, should we close this issue since docker logging level has been changed?

[2016-02-12 01:22] bgrant0607 commented on #21116
@mikedanese Deployment was alpha in 1.1 and was not enabled by default. Deployment in 1.2 is not backward compatible, in multiple ways.

I'm not sure what your point about ReplicaSet is. It's just another new API.

cc @kargakis @mqliang

[2016-02-12 01:22] Random-Liu commented on #15089
@yujuhong Yeah. Maybe after https://github.com/docker/docker/pull/18958 is landed, we can do something more. For now, I think we have done most of the things. :)

[2016-02-12 01:22] dchen1107 commented on #18281
@ixdy Looks like this should be resolved by your pr: https://github.com/kubernetes/kubernetes/pull/21112 too. :-)

[2016-02-12 01:23] bgrant0607 commented on #21116
@mikedanese Did you specify --validate=true?

[2016-02-12 01:24] bgrant0607 commented on #21116
We could document this as a known issue #21000.

[2016-02-12 01:26] bgrant0607 commented on #21116
The root cause of this type of problem is round-trip conversion/defaulting in kubectl: #3955

[2016-02-12 01:27] ixdy commented on #18281
Maybe. Though the webserver only deadlocks in the failure case, so the test is probably still flaky...

[2016-02-12 01:27] davidopp commented on #17059
I haven't looked at the Ubernetes Lite code carefully, but does it do replicated master components, or is the master just running in one zone? If the latter, I think an important follow-on would be to do replicated master components so a zone failure isn't a SPOF. (After all, one of the main reasons people will run Ubernetes Lite is to avoid a zone failure being a SPOF.)

[2016-02-12 01:28] mikedanese commented on #21116
@bgrant0607 Isn't that on by default? iiuc validate == true works when the json matches the server version because the schema is passed to kubectl from the apiserver.

[2016-02-12 01:29] davidopp commented on #17059
Re-opening until question I asked above is answered.

[2016-02-12 01:29] mikedanese commented on #21116
@bgrant0607 My point with replicaset is once we move deployment to replicaset, other fields may be silently dropped.

[2016-02-12 01:29] yujuhong commented on #14262
This should be greatly improved in v1.2.
 - A single goroutine calling `docker ps` every second to detect changes
    - If there are changes, we will call `docker ps` and `docker inspect` to get the detailed information for each container (note that this can/will be improved by changing the container runtime interface to get rid of the `docker ps`)
 - pod workers does not call `docker ps`

The 2,

[2016-02-12 01:29] #14262 closed

[2016-02-12 01:31] thockin commented on #21042
`--runtime-config=extensions/v1beta1/daemonsets=true,extensions/v1beta1/deployments=true`

On Thu, Feb 11, 2016 at 10:44 AM, Daniel Smith <notifications@github.com>
wrote:

[2016-02-12 01:32] davidopp commented on #13056
I'm moving this out of v1.2 milestone because #17059 tracks the v1.2 work.

[2016-02-12 01:32] ncdc commented on #20497
@davidopp I've asked @sjenning to take a look. I'm also looking at a bug in Red Hat's bugzilla that is similar.

[2016-02-12 01:32] yujuhong commented on #14605
@jayunit100, do you still want to work on this one? :)

[2016-02-12 01:33] #13862 closed

[2016-02-12 01:35] davidopp commented on #13873
If I don't hear anything about this in the next 24 hours I'm going to move it to the next-candidate milestone.

[2016-02-12 01:35] a-robinson commented on #15590
The baseline resource usage is still pretty noticeable, but I haven't seen or heard any complaints in quite a while. I'm fine with closing this if you'd like

[2016-02-12 01:36] timothysc commented on #19655
We have to wait on our rebase, or ask @jeremyeder really nicely.
On Feb 11, 2016 6:39 PM, "Yu-Ju Hong" <notifications@github.com> wrote:

[2016-02-12 01:37] davidopp commented on #17371
ping

[2016-02-12 01:39] justinsb commented on #17059
It doesn't do HA master; we still have a single master.  There's a fair amount of work to be done to have true HA master.  There's still value, in that zone failure won't take out your app, though it will take out your control plane in 1.2.

We do have auto-restart on AWS (and it was already on GCE), so that if the master instance crashes it should be restarted by CloudWatch alarms.

I'm hoping we

[2016-02-12 01:40] jayunit100 commented on #14605
sure i can if nobody beats me to !  let me try to take a look tomorrow.

[2016-02-12 01:40] bakins commented on #20673
1.1.7

Regardless, should auto scalers consider terminating pods?

[2016-02-12 01:41] bgrant0607 commented on #21116
@mikedanese Deployment has been moved to ReplicaSet, which is what enabled/required the selector change.

We've discussed adding optional strict parsing in both client and server. #5889

I'm not sure what we can do about existing 1.1 kubectl binaries in the wild, though.

[2016-02-12 01:42] erictune commented on #20951
In 1.4 we will delete Job and HPA from `extensions/v1beta1`.
We need to warn people with clients to recompile by 1.4, move storage, and translate files.
In 1.3 we need to move the namespace controller, job controller, and any other controllers that touch job, to use the batch/ and autoscaler/ groups.
We will also delete client support for extensions in 1.4.

This plan allows apiserver version to b

[2016-02-12 01:44] erictune commented on #2770
@thockin why centralize in one controller rather than put what is needed in each package that needs to talk to a cloud.  Distributed makes it easier for people not familiar with the whole code base (pretty much anyone) to make a locally-safe change.

[2016-02-12 01:45] yujuhong commented on #15590
A new issue might get more notice if anything comes up, so I'll go ahead and close this one. Thanks!

[2016-02-12 01:45] #15590 closed

[2016-02-12 01:48] yujuhong commented on #13418
One issue will be that if the periodic cleanup routine relies heavily on the list of desired `api.Pod`s to decide what volumes/directories are not wanted. Basically, it grabs a snapshot of the desired pods, and a snapshot of currently visible volumes/directories and compare.

If we spawn a dedicated goroutine for cleanup tasks, the main syncloop may be updating the list of desired pods in the mean

[2016-02-12 01:51] yujuhong commented on #12380
Let's close this one and discuss how to proceed in #16627

[2016-02-12 01:51] #12380 closed

[2016-02-12 01:52] yujuhong commented on #10885
Let's table this one until we decide what to do with the mirror pod in #16627

[2016-02-12 01:58] smarterclayton commented on #13873
That's fine

[2016-02-12 02:00] yujuhong commented on #9428
This has been fixed. We switched to incremental update in v1.1.

[2016-02-12 02:00] #9428 closed

[2016-02-12 02:03] yujuhong commented on #8878
I believe we check the pod status from the apiserver to avoid this. However, if kubelet fails to update the pod status before the reboot and the dead containers were deleted, kubelet may still restart the pod. We'll need a checkpoint to recover the information.

[2016-02-12 02:03] ncdc commented on #21114
It's not just code from Kubernetes that leaks httptest flags. I tracked it additionally to e.g. https://github.com/mesos/mesos-go/blob/068d5470506e3780189fe607af40892814197c5e/detector/zoo/mocked_conn.go which we end up importing as well. Anything that imports stretchr/testify/assert and/or stretchr/testify/mock will have this problem.

[2016-02-12 02:04] saad-ali commented on #16627
I'm interested in the outcome of this for the design https://github.com/kubernetes/kubernetes/issues/20262.

No strong preference between the options.

[2016-02-12 02:04] justinsb commented on #19796
This is done by #19797

[2016-02-12 02:04] #19796 closed

[2016-02-12 02:08] yujuhong commented on #16831
Now that we've added both a generic PLEG and a cache. We should re-evaluate the benefit of adopting the docker event stream and whether we should prioritize it.

[2016-02-12 02:09] yujuhong commented on #8756
We've changed the way kubelet polls docker significantly for v1.2, which should help with the delay and the CPU usage. #16831 was created to evaluate the benefits of adopting the docker event stream, and whether we should prioritize it.

[2016-02-12 02:10] bprashanth commented on #21085
Fwiw 2/2 nodes I've tried to repro this on have run into https://github.com/kubernetes/kubernetes/issues/20995. This makes me thinkg that I might've been on docker 1.8 the first time around.

[2016-02-12 02:26] gopinatht commented on #18239
Hey Guys,

Thanks to @gravis in (https://github.com/openshift/origin/issues/3072), I think I figured it out (at least for the single node containerized kubernetes environment: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md).

The steps I followed was:

[code]

and the the actual command

[code]

I am using kubernetes version **v1.2.0.alpha.7**. Also plea

[2016-02-12 02:31] smarterclayton opened #21118 "atomic_writer_test.go fails on Mac"
[code]

[2016-02-12 02:35] ncdc commented on #19997
I looked at the big log above and extracted this info from the goproxy pod's log:

[code]

The apiserver also shows this:

[code]

This same "connection reset" error shows up several times in the log file, but I also see it in clean e2e runs, so it may be a red herring, or not...

[2016-02-12 02:36] Random-Liu commented on #16831
Post some benchmark result for this:
https://docs.google.com/document/d/1_mmIFY6MU8SovilagiAFXXwNSBHzdJTCdSj_8KdgZVg/edit?usp=sharing

[2016-02-12 02:40] justinsb commented on #20861
Well, I use it through e2e.sh, but it works on AWS.  Happy to check anything specific...

[2016-02-12 03:17] bobbyrullo commented on #18549
Coming back to this finally after a long hiatus. Anyhow: the upshot is yes to the original plan, making sure things are done in such a way that the `kube/config` can still be used with multiple clusters with different types of login methods, and can coexist in general with the openshift (and other) approach(s).

Hope to start putting something more concrete in here pretty soon.

[2016-02-12 04:09] bgrant0607 commented on #18774
@jdoliner Unfortunately, our code isn't factored in such a way to be go gettable, in whole or in part.

We also don't yet have a client library we support for other users.

In the meantime, you could check out kubelite:
https://github.com/technosophos/kubelite

If you'd like to help, I recommend checking out the API machinery SIG.
https://github.com/kubernetes/kubernetes/wiki/SIG-API-Machinery

Se

[2016-02-12 04:09] #18774 closed

[2016-02-12 04:50] johanhaleby commented on #14642
@saad-ali @alexcouper Thanks that seems to work

[2016-02-12 06:02] mateeyow commented on #20079
@bgrant0607 I was trying to change the hostname of a running pod so as to automate creation of mongo replica set. I think it is one of their requirements. Anyway, this was before I found out about mongo-k8s-sidecar.

[2016-02-12 06:11] burmanm commented on #13873
The PR got "LGTM" from Derek, then got passed from CI and then failed CI without changes (something related to GCE issues that look like intermittent test-setup failures - I can't see what I could do about them).

[2016-02-12 06:17] davidopp commented on #17440
This is marked as v1.2 milestone. Is there anything actionable in the week remaining before we cut the release branch?

[2016-02-12 06:23] lavalamp commented on #18774
1.2 is going to have a version-locked client available. But it will still have an overly broad import dependency tree. We will fix that over time.

[2016-02-12 06:26] piosz commented on #17371
I think no. We can add some tests during migration to Metrics API once it will be ready.

[2016-02-12 06:27] davidopp commented on #7828
#7882 and #13072 have been merged, can we close this?

[2016-02-12 06:29] bgrant0607 commented on #20079
In progress: #20688, #19295

Closing as a dupe.

cc @ArtfulCoder

[2016-02-12 06:29] #20079 closed

[2016-02-12 06:34] lavalamp opened #21123 "Combine --runtime-config and KUBE_TEST_API"
Right now we have many different mechanisms for API object settings. The two mentioned are totally redundant, but one controls the binary and one controls tests, they are implemented very different ways, though. Obviously that's very undesirable from the viewpoint of wanting our tests to test the thing we run.

We need to make the whole hierarchy sensible, but these two things are especially bad.

[2016-02-12 06:58] bgrant0607 commented on #14661
See #8673

[2016-02-12 06:59] erictune commented on #17440
No.  The  impl is not going to be complete in 1.2 afaics.
On Feb 11, 2016 10:18 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2016-02-12 06:59] bgrant0607 commented on #13346
Related: #8673, #14661

[2016-02-12 07:02] piosz commented on #19941
Sorry, I won't be able to fix this until the end of next week, so leaving unassigned.

[2016-02-12 07:05] bgrant0607 commented on #18969
@davidopp @dchen1107 I haven't not filed another issue.

Kubelets already self-register. Broken nodes just need to be "healed" (rebooted or re-created) so that they can try to join again. And the turnup process needs to be tolerant of nodes not coming up immediately.

I agree that for now we should just document the existence of ALLOWED_NOTREADY_NODES.

That said:

This boils down to the common is

[2016-02-12 07:06] davidopp commented on #18969
IIUC we're not planning to do anything more on this for v1.2, so I'm moving it to next-candidate.

[2016-02-12 07:07] davidopp commented on #18969
Oh, actually I guess there is one remaining v1.2 question, namely the one @gmarek asked (and @dchen1107 repeated), whether given that we're going to 1k nodes in GKE do we want some way for the user to say "it's OK if I don't get 1000 nodes" when they spin up a GKE cluster.

[2016-02-12 07:09] piosz commented on #21079
So my proposal is to export extra events from HPA when:
- pod has set no limits
- autoscaler controller failed to create HPA object

I think this is already handled by event from scheduler

Anything else?

cc @kubernetes/autoscaling

[2016-02-12 07:16] davidopp commented on #17059
Yes, you make a very valid point (that since the app will continue running even if the master goes down, you do make your app significantly more available using the current Ubernetes Lite implementation even though it doesn't do HA master). Anyway, I'll file a separate issue for that and close this one. Thanks!

[2016-02-12 07:16] #17059 closed

[2016-02-12 07:21] davidopp opened #21124 "Zone-spread HA master for Ubernetes Lite"
The current incarnation of Ubernetes Lite makes the application tolerant to zone outages but does not make the Kubernetes control plane tolerant to zone outages since it doesn't use (zone-distributed) HA master. For a short or medium duration zone outage this is totally fine because the containers will continue running even if the master goes away, but if the zone where the master was running goes

[2016-02-12 07:38] wojtek-t commented on #20638
The test is failing in 1000-node clusters.
At first, I see a bunch of logs like that:

    10:19:32 Feb 11 10:19:32.824: INFO: Unexpected error occurred: Number of reported pods changed: 10 vs 5

[2016-02-12 07:48] sdminonne commented on #12298
/sub

[2016-02-12 07:51] davidopp commented on #15203
This issue is full of good ideas but nobody had time to implement any of them, so I'm going to move this to the next-candidate milestone...

[2016-02-12 07:52] Random-Liu opened #21125 "Kubelet: We should define Container Waiting state better."
In Kubernetes, there are 3 `ContainerState`: `Running`, `Waiting` and `Terminated`. Among them, `Running` is pretty straight forward, but `Waiting` and `Terminated` are a bit ambiguous, especially `Waiting`. Even in the [official document](http://kubernetes.io/v1.1/docs/user-guide/pod-states.html), there is no specific definition for these 3 states.

For user, they need to know what these states m

[2016-02-12 07:55] 0x777 opened #21126 "Consider maintaining gcr.io/google_containers/* images on docker hub"
We've been working to add an offline 'kubernetes' setup for development in [pangaea](https://github.com/hasura/pangaea).

To achieve this, we use a [pull through cache](https://github.com/docker/distribution/blob/master/docs/mirror.md) of the docker hub registry. Unfortunately, this only works with the docker hub registry (a limitation of docker). Since all the official kubernetes images are on gc

[2016-02-12 08:08] wojtek-t commented on #19048
We have a failure with exactly the same symptoms in our main scalability suite:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4550/

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4550/?project=kubernetes-jenkins

I will try to look into it either today or early next week.

[2016-02-12 08:11] piosz commented on #20925
Pasting logs as an evidence
[code]

[2016-02-12 08:27] wojtek-t commented on #10217
Just as an update - we already have a support for collection deletion at the apiserver level (supporting selectors, delete options etc.).
The only missing thing is that it's currently implemented naively in apiserver, because of etcd v2 limitations. Once we are migrated to etcd v3, we should just improve the implementation and close this issue.

[2016-02-12 08:32] mqliang commented on #19106
close this in favour of https://github.com/kubernetes/kubernetes/pull/18262

[2016-02-12 08:32] #19106 closed

[2016-02-12 08:35] mqliang opened #21127 "Investigate how many time ReplicationManager/ReplicaSetController must wait before they start to work"
If ControllerManager restart, ReplicationManager/ReplicaSetController/DeploymentController could not start to work until the PodStore/RCStore has been synced, otherwise, they will make incorrect decision when sync ReplicationController/ReplicaSet/Deployment.

Client of ControllerManager first list all Pods and put them into a `DeltaFIFO`, a Process route then pop the Pod one by one from the `Delta

[2016-02-12 08:44] jsafrane commented on #21029
Happened to me today:
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20213/kubernetes-pull-build-test-e2e-gce/28164/artifacts/
130.211.154.127:22-kubelet.log:

[code]

[2016-02-12 08:52] mqliang commented on #21127
We could add namespace index https://github.com/kubernetes/kubernetes/pull/17277 and look-up cache https://github.com/kubernetes/kubernetes/pull/19043 to speed up `getPodController()`/`getPodReplicaSet()`.

But if it does not take a long time to wait PodStore synced, those optimization skills are meaningless. So we should investigate how many time it takes first. Could anyone kindly help statistic

[2016-02-12 08:56] piosz commented on #20507
After our recent changes and bumping Heapster to the new version #20650 the Heapster is no longer the problem. There are still some issues with influxdb. Closing in favor of #20247/

cc @fgrzadkowski

[2016-02-12 08:56] #20507 closed

[2016-02-12 08:57] piosz commented on #20602
After our recent changes and bumping Heapster to the new version #20650 the Heapster is no longer the problem. There are still some issues with influxdb. Closing in favor of #20247

cc @fgrzadkowski

[2016-02-12 08:57] #20602 closed

[2016-02-12 08:57] piosz commented on #20247
/sub

[2016-02-12 09:03] piosz commented on #20792
This is a known problem. Closing in favor of #20247

[2016-02-12 09:03] #20792 closed

[2016-02-12 09:21] Fizzadar commented on #20902
@bgrant0607 ah that makes sense! @erictune awesome, just what we needed, thanks for the tip!

[2016-02-12 09:22] piosz opened #21129 ""Etcd failure [Disruptive] should recover from SIGKILL" e2e is completely broken, breaks other e2es"

[2016-02-12 09:23] piosz commented on #21129
cc @k8s-oncall @kubernetes/goog-testing

[2016-02-12 09:26] rvrignaud commented on #18502
@roberthbailey Closing this one.

[2016-02-12 09:26] #18502 closed

[2016-02-12 10:02] wojtek-t commented on #19048
Got it - I think I understand what exactly is happening here.

So basically, looking into apiserver, scheduler & kubelet logs, it seems that everything works pretty good. All pods are started relatively fast and their "Running" status is recorder in apiserver pretty quickly.

The issue seem to be in the test itself. Because of some reason it takes quite long to read some of the pods [it seems that

[2016-02-12 10:07] wojtek-t commented on #19048
@lavalamp - FYI ^ - yet another bunch of examples of "throttling watches" issue: #20750

[2016-02-12 10:41] FlorianOtel opened #21133 "Plugin developer guidelines -- plugin code guidelines / scafolding ?"
Hello all,

First, apologies in advance if this is not as crisp and to the point question as I'd like. The reason for this "fuzziness" is that I am in the confusing stage of starting / making-sense. So, please bear with me :)

My question is: I'm looking for guidance in writing a K8S plugin (particularly, a networking plugin). To start with a simple "plugin" that "watches" Namespaces and Services

[2016-02-12 11:18] piosz commented on #19144
I'm not sure what the problem here is. @pepverd @qristin could you please provide more details how to reproduce?

[2016-02-12 11:25] piosz commented on #20673
There are basically two problems here:
 1. Broken implementation of termination grace period, @gmarek and @mwielgus will take a look into this
 2. How HPA should care with pods in terminating state? What we think with @mwielgus is that RC should have a higher priority than HPA, so if RC is supposed to recreate pod which is in Terminating state HPA should not make any decisions. Otherwise if pod is

[2016-02-12 11:47] bitchecker opened #21135 "start containers"
hi, on my kubernetes cluster i can run pods and related services but there isn't an option to start a stopped container.

this is what i see on help:
[code]

there is a way to restart a stopped container without re-create it?

[2016-02-12 11:50] bitchecker opened #21136 "delete option doesn't delete docker containers on minions"
when i create containers, i can stop with delete options it but on minions if i run:

[code]

i still see all stopped containers and this create space problem on disks.

there's a way to remove stopped containers on minions when i delete pods?

[2016-02-12 11:55] jeremyeder commented on #19655
@yujuhong gear's tied up.  What is the deadline for results...can it wait a week?

[2016-02-12 12:06] wojtek-t commented on #20916
Three more failures:

gce-slow:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2122/build-log.txt
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2123/build-log.txt

gce-scalability:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4553/build-log.txt

[2016-02-12 13:07] gmarek commented on #15803
IMO we should default to false on config-default. I wasn't able to fix all the tests.

[2016-02-12 13:09] justinsb commented on #20643
Initial work here is done:  kube-up on master re-uses much of the GCE infrastructure!

We still need to verify:
* rebooting master node works great
* kube-push (although I think even on GCE we use a different script now?)
* in place upgrades (probably via the e2e tests)

@paralin please feel free to test - I'm reasonably sure kube-up works for normal scenarios, but those 3 remaining tasks are impo

[2016-02-12 13:10] gmarek commented on #18969
@alex-mohr @aronchick

[2016-02-12 13:10] justinsb commented on #19127
@danielschonfeld was this with the default kube-up arguments?  I'd like to be sure it is fixed before I close...

[2016-02-12 13:12] justinsb commented on #17902
I'm going to remove the AWS label so this gets wider attention; this isn't AWS specific AFAICT.

[2016-02-12 13:13] justinsb commented on #17868
I think this is a documentation issue.  We could also make the bucket not-public and grant access via IAM.

[2016-02-12 13:34] justinsb commented on #6413
Closing as we now use the same kube-up infrastructure that GCE does

[2016-02-12 13:34] #6413 closed

[2016-02-12 13:36] justinsb commented on #12025
Closing; fixed by #19522

[2016-02-12 13:36] #12025 closed

[2016-02-12 13:36] justinsb commented on #18805
Closing; fixed by #19522

[2016-02-12 13:36] #18805 closed

[2016-02-12 13:38] wojtek-t opened #21138 "e2e flake: some runs are timing out"
It seems that we have too conservative timeouts for Jenkins build currently.

In particular the from-time-to-time-timing-out suites are:

gce:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce/11440/
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce/11441/
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/k

[2016-02-12 13:38] justinsb commented on #20404
Can you provide steps for reproducing the problem @shaheemirza ?

[2016-02-12 13:40] justinsb commented on #17309
Going to close this as we're now using the same startup scripts as GCE (more or less).  Will reopen if we hit this again.

[2016-02-12 13:40] #17309 closed

[2016-02-12 13:46] justinsb commented on #18021
Fully creating an ELB definitely takes a little while; it is typically fast to create in the API (you should see a hostname in `kubectl describe service` within 30 seconds or less), but then it takes several minutes to actually start resolving and handling traffic.

Do you think there is an additional bug here though?  e.g. if you rapidly go Type=LoadBalancer => Type=ClusterIP => Type=LoadBalancer

[2016-02-12 13:47] qristin commented on #19144
The issue is that the VMs are scaling much faster than the pods are scaling. But that was due to the fact that my pods were restarting. I am still not quiet sure why this is happening, but I assume it is due to a high error rate that my loadtest was generating. (How is restarting handled? And can this also be tweaked?)
Still, I would expect that the system will scale up, the VMs were doing it, so

[2016-02-12 13:51] justinsb commented on #18019
I agree that we should probably update the docs to make this clearer.

I would love to set up a CNAME but we don't manage external DNS at the moment in k8s.  I would love to have it appear in the `kubectl get` output but it's very long and when the output gets too wide the table display is effectively broken (annoying, but important).

So for 1.2 I think docs is the best we can do...

[2016-02-12 13:58] thecanadianbaker commented on #8042
@ArtfulCoder seems like this started for me after experiencing #15227 and resolving by restarting the pause container

[2016-02-12 14:02] mwielgus commented on #19144
Do you have both HPA and cluster autoscaling on?

[2016-02-12 14:02] wojtek-t commented on #20638
Also, there listing replication controllers is pretty long. But looking into traces even from much smaller clusters they seem to look like:

    I0212 13:07:15.732252    2961 trace.go:57] Trace "List /api/v1/namespaces/e2e-tests-load-urk9t/replicationcontrollers" (started 2016-02-12 13:07:15.179169119 +0000 UTC):
    [4.646µs] [4.646µs] About to List from storage
    [13.372281ms] [13.367635ms] Li

[2016-02-12 14:06] justinsb commented on #20957
@coleca I'd recommend using vivid (the default) if you can over trusty - Docker needs a recent kernel.

I'm still going to fix this, but is there a particular reason for using trusty?

[2016-02-12 14:13] qristin commented on #19144
Yes, cluster autoscaling is done on an instance group in compute engine.

[2016-02-12 14:19] justinsb opened #21141 "AWS kube-up bug: PROJECT unbound variable"
[code]

[2016-02-12 14:21] #19860 closed

[2016-02-12 14:23] coleca commented on #20957
No, just had so many issues with Vivid on AWS in the past (with K8S 1.1.x - after reboot of the node Docker not coming back up - looks like its fixed in 1.2) that I figured I'd try something else.  Trusty is also LTS vs Vivid which is out of support as of 2/4/16.

[2016-02-12 14:26] justinsb commented on #16469
@pikeas We don't have HA master in 1.2, though I hope we'll get it into 1.3.  sig-high-availability is probably the place to go for that; there's a HA-kubernetes document but it is really a starting point.

I'm not overly keen on prompting for a Y/N - for now the behaviour will be that kube-down reverses kube-up.  If it created an Elastic IP, it'll delete it.

This is now on master, so closing thi

[2016-02-12 14:26] #16469 closed

[2016-02-12 14:35] mwielgus commented on #19144
In K8s < 1.2 we have an older version of Heapster that due to its suboptimal internal design takes quite a lot of time to scrape, aggregate and make available the cpu usage. With 1.2 (and Heapster 0.20.0) we have refactored/rewritten most of the code and now HPA should react significantly faster.

Because we tried to be rather on the safe side HPA requires all metrics of available pods to be prese

[2016-02-12 14:36] justinsb opened #21143 "AWS: Change default OS to Wily"
Ubuntu Vivid in now EOL, because it is not an LTS.   We should probably add support for Wily and also check the current state of Trusty.  (And maybe Jessie too!)  Hopefully 16.04 (which will be an LTS) will be a good one that we can stick with for a long time.

Background: Trusty had problems because of having an older kernel with Docker & with btrfs, as I recall.  It might be we can update to a b

[2016-02-12 14:37] justinsb commented on #20957
Hopefully we'll fix all those problems with vivid!  Although you raise a great point wrt vivid EOL - let's track that in #21143

My experience with the trusty kernel was not great, but perhaps it is time to revisit that.

[2016-02-12 14:39] timothysc commented on #10217
@wojtek-t do we need to keep this issue open then?  Right now I'd prefer to open specifics on the most recent changes.

[2016-02-12 14:40] wojtek-t commented on #10217
I'm fine with that and closing the new one.

[2016-02-12 14:42] justinsb commented on #19684
In `cluster/aws/util.sh`, we do this:

[code]

So kube-up is looking at the region in ZONE.  ZONE is set in config-default.sh to `ZONE=${KUBE_AWS_ZONE:-us-west-2a}`

@mikem Can you please double-check that the AWS_DEFAULT_REGION/AWS_REGION in your shell is set consistently with KUBE_AWS_ZONE.  (Essentially, I'm guessing you're looking at a different region - this happens to me all the time...!)

[2016-02-12 14:44] justinsb commented on #19127
I believe this is working with default arguments:

[code]

[2016-02-12 14:46] timothysc commented on #21081
Optimizing the tls handshake is important, but as multi-tenancy grows... so grows connection mgmt which is also important.

[2016-02-12 14:46] justinsb commented on #15055
We now create one big volume for ephemeral storage:

[code]

I think the issue about RCs and persistent volumes is important, but if there are remaining questions perhaps we an open new issues (I think issues already exist)

[2016-02-12 14:46] #15055 closed

[2016-02-12 14:49] justinsb commented on #16709
ELBs are now tagged with the k8s cluster & service name:

[code]

[2016-02-12 14:49] #16709 closed

[2016-02-12 14:52] justinsb commented on #14238
We no longer run salt-master on the master, as we have now ~~stolen the GCE scripts~~ harmonized the AWS kube-up scripts with GCE.

#18975 covers a bigger instance size for the master.  @tmc having swap is not a bad idea, but the concern is that if we ever actually start swapping our performance is likely to be terrible.

[2016-02-12 14:52] #14238 closed

[2016-02-12 15:00] jayunit100 commented on #20861
by "make it work " we mean "make the testing part work"? That makes sense.

Otherwise we will be chasing our tail regarding the other requirement of eventually decoupling deploy from test.

[2016-02-12 15:03] qristin commented on #19144
Sounds good, looking forward to use it.
I still doing some testing with load on the system and it gets more clear that my pods are restarting a lot if my application throws a lot of errors (I expect these errors and rather not want to let the pods restart). I am not sure if this will also be fixed with version 1.2. Is this a known issue?

[2016-02-12 15:15] justinsb commented on #7148
I think we can close this?  At least on AWS, we now create the ELB with a name derived from the service UUID, so we can guarantee we meet the rules, whatever name the user chooses.

I think this is the pattern other clouds use/should use also.  Closing, but feel free to reopen if not...

[2016-02-12 15:15] #7148 closed

[2016-02-12 15:17] justinsb opened #21147 "AWS: kube-down needs more retries around deleting security groups"
See example log below.  I'm pretty sure the SG in question was from an ELB, but we should just auto-retry anyway.

[code]

[2016-02-12 15:22] jeremyeder commented on #21081
@smarterclayton aka never?  Seriously...  The encryption overhead is proportional to the # of connections.  Improve connection efficiency and encryption overhead also goes down.  Two birds!

[2016-02-12 15:22] timothysc commented on #19048
awesome!

[2016-02-12 15:25] paulbellamy opened #21148 "Depending on kubernetes client packages injects command-line flags"
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/logs.go#L29 modifies the pflag global variable.

Any binary which uses any kubernetes package and pflags, accidentally gets a `log-flush-frequency` flag added.

[2016-02-12 15:32] quinton-hoole commented on #21124
@davidopp Yup, as you and I discussed a while back, we omitted automatic multi-zone HA master from v1.2 intentionally in the interests of time.  We already have instructions on how to manually set up HA master (which we will update to reflect multi-zone stuff).

[2016-02-12 15:34] mwielgus commented on #19144
Can you tell us more about the errors? If pods are restarting like crazy we don't recommend HPA use as the CPU load will not reflect the incoming traffic but rather startup/init work.

[2016-02-12 15:39] justinsb opened #21150 "AWS: Cannot restart master: kube-apiserver does not restart"
The master does not recover after a `init 6` reboot (on AWS, though I do not think this is going to be specific to AWS).

The kube-apiserver container will not restart, because /srv/kubernetes already exists.

Docker reports:

[code]

kubelet reports:
[code]

This is with docker 1.8.3:

[code]

[2016-02-12 15:41] justinsb commented on #21150
Actually, I think this might be AWS specific after all...

[code]

But /mnt/master-pd/ does not have srv

[2016-02-12 15:43] justinsb commented on #21150
Ah... I think the root cause is that the instance-script only runs on first boot on AWS, but runs every time on GCE..

[2016-02-12 15:58] #20757 closed

[2016-02-12 16:02] michael-golfi commented on #20381
This was the same solution for me.

As soon as I restarted the kube-controller-manager the deployments started to work.

[2016-02-12 16:03] justinsb opened #21151 "AWS: Use m3.medium for the master by default"
I propose that we default to m3.medium for the master node (and maybe m3.large for > 150 nodes?).  We've seen problems with running out of memory on the master with the t2.micros, and we've seen pauses that look like CPU exhaustion on the t2 class in general.

Also the master is the hardest instance to resize.  It is doable to reconfigure the ASG for the nodes (or add a new one, but the master is

[2016-02-12 16:19] bgrant0607 commented on #12298
@mml Unique label/selector generation and controllerRef are indeed related, which is why I'm going to summarize my thoughts on #14961.

[2016-02-12 16:21] bgrant0607 commented on #2210
We're now considering this for Deployment:
https://github.com/kubernetes/kubernetes/pull/21030#issuecomment-183380494

@mml Was there a specific controller you wanted controllerRef for (DaemonSet?), or does it need to be present in all of them to solve your problem?

cc @janetkuo @kargakis @madhusudancs @mqliang