[2017-01-13 20:02] deads2k commented on #39759
@jayunit100 you should be able to godep this now.

[2017-01-13 20:02] #39759 closed

[2017-01-13 20:07] MichaelJCole opened #39891 "This dead link points to another dead link"
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/logging.md

[2017-01-13 20:53] Reifier commented on #29727
It is still an issue.
[code]

[2017-01-13 20:59] lavalamp commented on #39758
Setting the log level too high potentially breaks the cluster. It also only
makes sense if you have permissions to read the logs, which itself is
fairly privileged (you see requests from all of the cluster's users). I
really can't see hosted installations (e.g. GKE) giving access to the logs,
or to this knob.

On Fri, Jan 13, 2017 at 7:11 AM, David Eads <notifications@github.com>
wrote:

[2017-01-13 21:02] lavalamp commented on #39865
Custom conversions should be documented and unit-tested (for the thing that
they're customizing). It looks like the deployment ones aren't sufficiently
clear.

On Fri, Jan 13, 2017 at 5:20 AM, David Eads <notifications@github.com>
wrote:

[2017-01-13 21:09] smarterclayton commented on #39758
Reading the logs might allow you to see secrets or debugging output across
the entire cluster, which can't be audited.  Log access to servers is very
strictly controlled generally.

On Fri, Jan 13, 2017 at 3:59 PM, Daniel Smith <notifications@github.com>
wrote:

[2017-01-13 21:14] fabiand opened #39892 "planet.kubernetes.io has no content"
A Kubernetes planetplanet/venus instance would be great.

Are there plans to bring planet.kubernetes.io to life?

[2017-01-13 21:18] deads2k commented on #39758
I'm not seeing any of that as a reason to prevent doing it dynamically.  Privileged, yes.  But wanting to see what a particular misbehaving server is doing does not mean that I want to change the config used by all API servers (deployment -> RS -> pod using a configmap would do exactly this).

[2017-01-13 21:21] justinsb opened #39893 "Node Name is not unique; prefer UID to avoid race conditions / facilitate caching?"
Node Names can be reused.  On AWS with bigger clusters, they can be reused within the space of a few minutes.

There are a few places where we use Node Names, where I believe it would be safer to use a Node UID.  As well as the potential race conditions, use of a non-unique identifier makes caching much harder / more dangerous.

* In the volume controller and cloudprovider calls (I'm looking into

[2017-01-13 21:40] #39843 closed

[2017-01-13 21:49] cdaringe commented on #39329
I know everyone is real busy, and I can appreciate that.  However, a friendly ping for anyone willing to attempt to shed some tips & knowledge!

[2017-01-13 21:53] timothysc commented on #25319
Affinity and anti-affinity have now been converted to fields, I'm taking a look at the remaining checklist items.

[2017-01-13 22:11] yujuhong commented on #39382
The tests could not access the API resources they need:
[code]

/cc @liggitt @deads2k

[2017-01-13 22:55] ash211 commented on #34377
For those not already aware, activity around native Spark support for Kubernetes has converged into changes being made to Apache Spark this repository: https://github.com/apache-spark-on-k8s/spark

[2017-01-13 22:58] iameli opened #39897 "pod-in-a-cluster namespace overwrites `--kubeconfig` namespace"
**Kubernetes version** 1.5.1 server/1.5.2 client

**Environment**:
- **Cloud provider or hardware configuration**: AWS, via CoreOS [kube-aws](https://github.com/coreos/kube-aws)
- **OS** (e.g. from /etc/os-release): CoreOS stable (1235.6.0)
- **Kernel** (e.g. `uname -a`): Linux ip-10-25-20-214.us-west-2.compute.internal 4.7.3-coreos-r2 #1 SMP Sun Jan 8 00:32:25 UTC 2017 x86_64 Intel(R) Xeon(R) CPU

[2017-01-13 23:14] jeremyong commented on #23597
We just discovered this issue as well because I noticed a small bump in memory usage every time we did a deploy. I think this is severe enough to be thought of as a memory leak to be honest and is definitely very unexpected behavior. +1

[2017-01-14 00:10] ahakanbaba opened #39900 "Umbrella Issue for Box-affecting issues"
* Issues preventing Box from upgrading to 1.4.x
  * Regression in kubectl apply for TPR's in v1.4.8 https://github.com/kubernetes/kubernetes/issues/39906
    * Prevents us from upgrading to 1.4.8. We are stuck at 1.4.7

` `
* Issues preventing Box from upgrading to 1.5.x
  * kubectl apply and edit are broken for TPR  https://github.com/kubernetes/kubernetes/issues/40119

` `
* Nice to have as fixe

[2017-01-14 00:45] k82cn commented on #39893
/cc @davidopp for scheduler.

[2017-01-14 00:57] k82cn commented on #39893
Name + UID seems a solution for re-used Node. And it seems we did not unbind Pod from the Node in scheduler; that'll make Pod un-schedulable.

[2017-01-14 01:00] k82cn commented on #39881
missed `,` after `"imagePullPolicy": "IfNotPresent"`  :).

[2017-01-14 01:01] johntwei commented on #19235
@kellabyte don't use "localhost", use either "0.0.0.0"  or your actual host IP address works for me.

[2017-01-14 01:08] verb commented on #1615
I just noticed that if you kill the container that's the source of the pid namespace then all other containers sharing that namespace are also killed. So restarting the non-infra containers may be less of an issue, at least for docker.

Actually, I think this might be encapsulated in the sandbox design. Will have to dig into that later.

[2017-01-14 01:47] dsnet commented on #38228
The following uses of `http.Hijacker` are invalid. They all ignore the `bufio.ReadWriter` that is returned and proceed to directly read from the connection. Instead, they should handle any buffered data in the `bufio.Reader` (via `brw.Reader.Peek(brw.Reader.Buffered())`) prior to reading from the connection.

A recent CL (https://golang.org/cl/35232) increases the probability that data is buffered

[2017-01-14 02:11] huggsboson opened #39906 "Regression in kubectl apply for TPR's in v1.4.8"
**BUG REPORT**
**Kubernetes version** (use `kubectl version`): v1.4.8

**Environment**:
- **Cloud provider or hardware configuration**: Baremetal @ Box
- **OS** (e.g. from /etc/os-release): ScientificLinux 6
- **Kernel** (e.g. `uname -a`): `Linux compute-master1001.ve.box.net 3.10.0-229.14.1.el7.x86_64 #1 SMP Tue Sep 15 05:09:55 CDT 2015 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **Oth

[2017-01-14 03:34] #39764 closed

[2017-01-14 03:51] k8s-merge-robot opened #39908 "TestPodDeletionDoesntEnqueueRecreateDeployment {deployment}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/2071/
Failed: TestPodDeletionDoesntEnqueueRecreateDeployment {deployment}

[code]

[2017-01-14 04:20] gnufied opened #39909 "Enhance e2e tests to track CloudProvider's API quotas"
CloudProvider APIs can be precious commodity and kubernetes should be a good citizen which doesn't blow up the API quota where it could have been avoided.

To this end - I am thinking we should enhance e2e tests to cover, how many API calls are being made for particular test and set some expectations around that. Obviously creation of certain resources means - we have to retry something repeatedly

[2017-01-14 04:21] #39863 closed

[2017-01-14 04:26] gnufied opened #39910 "Write e2e tests for wrong volume being mounted"
if we can reproduce bug mentioned in https://github.com/kubernetes/kubernetes/issues/29324 via an e2e test, that would help us in tracking it down.

@jingxu97 if you know the steps that can reproduce that bug with latest version let me know. I read the whole thread and the bug appears pretty old. The original reason why this bug surfaced seems to have been fixed long back but it is still happening

[2017-01-14 04:32] vishh commented on #1615
The "infra" container might have to become an entity that we want all
runtimes to support.

On Fri, Jan 13, 2017 at 5:09 PM, Lee Verberne <notifications@github.com>
wrote:

[2017-01-14 06:01] robertlemke commented on #39881
@k82cn shame on me ;-) Well spotted, indeed that was the problem.

The "Deployment … cannot be handled ass a Deployment" tricked me thinking that it was not just a JSON syntax error. I better do a lint next time :-)

[2017-01-14 06:01] #39881 closed

[2017-01-14 06:03] ymqytw commented on #39906
That patch is already in 1.4, 1.5 and master branch. We need a fix for all 3 branch.

[2017-01-14 06:58] chaopengio commented on #39224
Same issue here. I'm using the v1.5.2 tag version.
OS: ubuntu 16.04.

[code]

[2017-01-14 07:04] smarterclayton opened #39912 "Conversion, defaulter, and deep copy gen not working against apimachinery"
Same as the protobuf issue - with these packages in vendor, they're not being updated correctly when we change the types.

[2017-01-14 07:27] smarterclayton commented on #39912
And open api.

[2017-01-14 09:24] tony24681379 commented on #13557
It still has bug in v1.5.1, something becomes wrong.

[2017-01-14 10:59] harsha544 commented on #33544
Facing the same issue as well ..
SELINUX is disabled.
OS :- Ubuntu 1604
ARCH : ppc64le
Natively compiled Kubernetes (release 1.5) and tried " kubeadm init ". Hangs here :-

[kubeadm] WARNING: kubeadm is in alpha, please do not use it for production clusters.
[preflight] Running pre-flight checks
[preflight] WARNING: kubelet service does not exist
[init] Using Kubernetes version: v1.5.2
[certificat

[2017-01-14 11:05] kenzhaoyihui commented on #33544
@harsha544   Do you attach the log about /var/log/messages  and  docker images?

[2017-01-14 11:08] harsha544 commented on #33544
@kenzhaoyihui Nothing in /var/log/syslog . Enclosing docker images output

docker images
# docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
# docker ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
:~#

[2017-01-14 11:16] kenzhaoyihui commented on #33544
@harsha544  https://github.com/kenzhaoyihui/kubeadm-images-gcr.io/blob/master/pull_kubernetes_images.sh

The shell script is to pull the all docker images that needed, could you pull all the images and then execute "kubeadm init".

[2017-01-14 12:11] pires commented on #39812
Seems to be fixed in 1.5.2.

[code]

[2017-01-14 13:22] resouer opened #39913 "Pod level QoS: Top level qos containers limits are not updated"
Currently when new pod is created, top level QoS containers limits are not updated (e.g. values in `BestEffort/memory.limit_in_bytes`, `/Burstable/memory.limit_in_bytes` etc).

This blocks features which try to use pod level QoS values to make decision.

I am also thinking caching top level QoS data in container manager, and update the cache every time new pod comes. (so we can re-use these data i

[2017-01-14 13:25] resouer commented on #27204
And top level qos containers update seems not implemented yet: https://github.com/kubernetes/kubernetes/issues/39913

[2017-01-14 15:25] kargakis commented on #39354
Dupe of https://github.com/kubernetes/kubernetes/issues/38774

[2017-01-14 15:25] #39354 closed

[2017-01-14 15:39] zhouhaibing089 commented on #39816
well, the garbage collector still uses a static RESTMapper(`registered.RESTMapper`), and in this case, TPRs aren't recognized at all.

[2017-01-14 15:41] AdoHe commented on #39833
@kargakis I am afraid there is no such plan to deprecate commands like `expose`, `run` as for now. But we do plan to add more create subcommands in 1.6.

[2017-01-14 15:42] AdoHe commented on #39833
@xingzhou That would be great, I am supposed to do more work about create subcommands, if you already working on `create role`,  I would like to help review.

[2017-01-14 15:44] AdoHe commented on #29679
@karsinkk that would be great, we are going to add more view subcommands in 1.6, if you could help, really appreciate that.

[2017-01-14 16:40] smarterclayton commented on #39912
The first problem is that make generated_files doesn't look outside of the main package path (ignores staging directories).  Since staging/ is a gopath, it's plausible that it could be abstracted to run under those directories as a first pass.

Second, it looks like gengo is dropping package comments on vendored packages (maybe intentionally, as a way to prevent scanning from seeing things outside

[2017-01-14 18:42] smarterclayton commented on #39912
Fortunately fix was fairly easy.  Also, bazel was broken too.

[2017-01-14 18:53] epall commented on #39474
Ahh, fair enough. Thanks for your patience!

[2017-01-14 18:53] #39474 closed

[2017-01-14 19:02] hsyed commented on #39753
I’ve discussed the feature with Justinb and I think there is a nice general solution to this problem. It involves a a new “meta” provisioner type to support sub-volumes.

# Sub-Volume Storage Class Provisioner:

This storage class partially delegates to existing provisioners and as such it is a meta provisioner.

The configuration structure could look like this:

[code]

This provisioner can have

[2017-01-14 19:06] zimmski commented on #32536
I am wondering what must be done to close this issue? Is there any reason why overlay2 was not included in the referenced PR? The comment just states "Validate overlay2.". Would a PR which adds overlay2 to the DefaultSysSpec be enough to validate it?

[2017-01-14 19:25] andronat commented on #36843
I had the same issue and I tried the following:
[code]
and it doesn't fail. But I'm not sure if this works properly.

[2017-01-14 20:29] davidopp commented on #39913
cc/ @kubernetes/sig-node-misc

[2017-01-14 20:40] davidopp commented on #27204
Yeah, I think these things are orthogonal.

[2017-01-14 21:17] xsamurai opened #39917 "Failure to add nodes when using MULTIZONE=TRUE on aws"
Utils.sh does not take into consideration of KUBE_USE_EXISTING_MASTER when trying to create iam roles, this causes the failure below.

Kuberenetes version: 1.5.2
Cloud Provider: AWS
OS: Debian Jessie

root@testbox:~/kubernetes/cluster# KUBE_USE_EXISTING_MASTER=true MULTIZONE=true KUBERNETES_PROVIDER=aws KUBE_AWS_ZONE=us-west-2a NUM_NODES=2 KUBE_SUBNET_CIDR=172.20.2.0/24 MASTER_INTERNAL_IP=172.20.0

[2017-01-14 21:21] davidopp commented on #39893
@k82cn I'm pretty sure we do have code that deletes pods from deleted nodes, either in the garbage collector controller or the node controller. @wojtek-t and @gmarek would know for sure. But I think it runs periodically, so if you remove a node's VM and re-create it fast enough with the same name, it's considered the same node. That has some advantages but is probably more confusing than beneficia

[2017-01-14 21:30] xsamurai commented on #39917
Never mind this has been addressed in the current code:

 function ensure-iam-profiles {
 aws iam get-instance-profile --instance-profile-name ${IAM_PROFILE_MASTER} || {
      echo "Creating master IAM profile: ${IAM_PROFILE_MASTER}"
      create-iam-profile ${IAM_PROFILE_MASTER}
  }
 aws iam get-instance-profile --instance-profile-name ${IAM_PROFILE_MINION} || {
      echo "Creating minion IAM pr

[2017-01-14 21:30] #39917 closed

[2017-01-14 21:45] xiang90 commented on #39816
@zhouhaibing089

Not recognizing is fine and expected. But controller manager keep on printing out error message without backing off.

@caesarxuchao Can you confirm this is unintended? Or we are missing anything here?

[2017-01-14 21:52] vishh commented on #39913
@resouer

1. Let's keep Pod level cgroups discussion to #27204. It is difficult to track many issues on the same topic.
2. We do not plan on updating top level cgroups as of now. Let's first complete and roll out pod level cgroups and the overall cgroup hierarchies. There is no urgent need to update top level cgroups.

Can we move this discussion back to #27204?

[2017-01-14 23:00] elppc commented on #34377
Discovering this, it's a very interesting initiative. Did you already think about data locality in an IP per container model ? Spark use hostname to determine the best locality of a task. Is it currently part of the work on this branch ?

[2017-01-14 23:13] buchireddy commented on #39849
You can actually execute the following command to understand what's going with the service creation.

`kubectl describe svc proxy`

Kubernetes will take care of mapping the nodes to the ELB so you don't have to worry about it. In the case of ELB, the ELB URL will be constant and you can use that from external clients.

So, yes. You can expose the service to external clients by using ELB, which exp

[2017-01-14 23:40] foxish commented on #34377
Locality awareness is part of the roadmap and very important. We're still in the [early stages](https://github.com/apache-spark-on-k8s/spark/issues/4) at this point, so there is lots of work ahead :) (Contributions to https://github.com/apache-spark-on-k8s/spark are welcome!)

Better HDFS support, persistent local storage, batch scheduling and resource management are being worked on actively in Ku

[2017-01-15 00:04] davidopp commented on #25319
The only remaining thing I think we need to do is @wojtek-t's suggstion to restrict hard anti-affinity to node TopologyKey only. We already have an [admission controller](
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/antiaffinity/admission.go) that does this by default, but we can't optimize the code with this assumption since the admission controller is optional. I th

[2017-01-15 01:16] davidopp commented on #39818
Taints and tolerations aren't really expected to be used by end-users. For example, one of the main use cases is for dedicated node. You could imagine a tool that takes some kind of high-level specification as input, and places taints on the appropriates nodes and configures an admission controller to apply the appropriate tolerations (and labels and node affinity, when needed) on pods based on na

[2017-01-15 01:25] k82cn commented on #39893
thanks :). Yes, those pods are deleted by gc controller at `gcOrphaned`, running periodically every 20 sec.

[2017-01-15 01:28] hongchaodeng commented on #39816
Right. I should have mentioned it: the controller manager is unresponsive and overloaded with error message.

Updated in title and top comment.

[2017-01-15 01:33] liggitt commented on #39816
there are two things that need fixing here:
1. the garbage collector should use a dynamic restmapper that picks up types the server knows about, not just compiled-in types
2. in cases where an ownerRef references a type that is not found by the garbage collector's restmapper, it should not panic or hotloop. I'm not really sure what the behavior should be, actually should it treat owners it can't l

[2017-01-15 01:34] liggitt commented on #39382
"timed out waiting for the condition" error will be fixed by https://github.com/kubernetes/kubernetes/pull/39918

[2017-01-15 01:55] hongchaodeng commented on #39816
@liggitt
If a user runs kubernetes and sees messages like "ignore XXX ownerRef due to unknown kind", he can't really do anything with it. It would be great to recognize the kind, even if there is a delay.

[2017-01-15 02:04] liggitt commented on #39816
ownerref could have bad data, or it could reference a kind that is no longer part of the cluster. need to define what happens in those cases.

when it is referencing a dynamic kind (either a kind contributed by an add-on server or by a thirdpartyresource), yes, it should re-discover on some interval to recognize the kind

[2017-01-15 02:07] resouer commented on #39913
@vishh Thanks for reminding. Close this one.

[2017-01-15 02:07] #39913 closed

[2017-01-15 02:34] resouer commented on #27204
Answer from @vishh
We do not plan on updating top level cgroups as of now. Let's first complete and roll out pod level cgroups and the overall cgroup hierarchies. There is no urgent need to update top level cgroups.

[2017-01-15 03:18] stevesloka commented on #34583
I just ran into this, however, I only have nodes / masters in 3 zones, but the PV was created in a 4th zone. So right now I can't even spin up a node in the last AZ since in my infrastructure, I'm not supporting it.

[code]

[2017-01-15 04:13] chrislovecnm commented on #39910
cc @kubernetes/sig-aws-misc

[2017-01-15 04:13] chrislovecnm commented on #39910
Can we get this tagged properly?

[2017-01-15 04:22] chrislovecnm commented on #39526
Can we get the P0 tag removed?

[2017-01-15 05:14] du2016 opened #39919 "when use client-go to delete namesapce: Error from server (Conflict)"
i use client-go to have  a test,first i use clientset create a namesapce named k8s-test.then use clientset to delete it ,but it can't be remove,when i use kubectl  delete namespaces k8s-test ,it report this to me:
Error from server (Conflict): Operation cannot be fulfilled on namespaces "k8s-test": The system is ensuring all content is removed from this namespace.  Upon completion, this namespace

[2017-01-15 06:09] linehrr opened #39920 "Lack of feature to run interactive mode from private docker image"
kubectl can create docker secrets and also specify those secrets in deployment or pod in json/yaml file by ```imagePullSecrets: xxx```

however there seems to be no way to run image in interactive mode when image is hosted in private docker repo.
e.g.
[code]
but ```kubectl run``` does not have option to specify imagePullSecrets.

[2017-01-15 07:36] AdoHe commented on #34731
This can be closed since the PR has been already merged. @kubernetes/sig-cli-misc

[2017-01-15 07:39] AdoHe commented on #25382
@pwittrock should we use this issue as tracking `more create sub-commands`?  you know we plan to add more sub-commands in Q1

[2017-01-15 07:43] SimenB commented on #34731
@AdoHe Could you link to the PR? Or the docs for the command, which is what I'm really after? Can't find it mentioned on the website at least.

![image](https://cloud.githubusercontent.com/assets/1404810/21961012/9563d9de-dafe-11e6-9351-8e28293bf20e.png)

^ Only `kubectl create service *`

[2017-01-15 08:06] AdoHe commented on #34731
@SimenB I believe we already have these `create service` sub-commands:
[code]
Sorry about no docs about this, the basic usage is `kubectl create service externalname my-ns --external-name bar.com`. I will update doc later.

[2017-01-15 08:35] SimenB commented on #34731
Ok, thanks. What version of kubectl will it be in? 1.6? 1.5.2 which I have installed doesn't have it at least.

[code]

[code]

[2017-01-15 08:44] AdoHe commented on #34731
@SimenB seems it's in Milestone 1.6 :(

[2017-01-15 08:46] AdoHe commented on #39745
@kubernetes/sig-cli-misc

[2017-01-15 08:48] AdoHe opened #39922 "failed to run unit test locally"
Fyi. I can't use `make test WHAT=pkg/kubectl` to run unit tests locally anymore. @deads2k I believe this has something related with your latest change to `hack/make-rules/test.sh`, ptal.

[2017-01-15 09:14] davidopp commented on #28229
In particular the way you would do it is two separate anti-affinity rules, both of type "preferredDuringScheduling," one with TopologyKey corresponding to the node label key and one with TopologyKey corresponding to the rack label key, and both with label selector matching a label you tag to the pods of this collection with in the pod template.

[2017-01-15 09:35] davidopp commented on #39824
The reason we added eviction subresource to the API instead of making the DELETE REST operation use PDB was for backward compatibility -- we didn't want to break API clients that expect DELETE to always succeed. So the question is, does "kubectl delete" similarly need backward compatibility? If not, then what you proposed here (have "kubectl delete" use eviction subresource, and add a --force flag

[2017-01-15 09:58] k82cn commented on #39922
is the output similar with #39840 ? Would you try PR #39859 ?

[2017-01-15 10:37] AdoHe commented on #39922
nope, not the same issue.

[2017-01-15 10:57] sswierczyna opened #39926 "vSphere Cloud provider: Cannot get Node info: failed to get external ID from cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.7", GitCommit:"92b4f971662de9d8770f8dcd2ee01ec226a6f6c0", GitTreeState:"clean", BuildDate:"2016-12-10T04:49:33Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major

[2017-01-15 12:27] kargakis commented on #39824
Users would need to opt-in otherwise it's a breaking change.

[2017-01-15 12:36] harsha544 commented on #33544
@kenzhaoyihui Thanks for the URL, I tweaked the respective script to pull ppc64le docker images, however not all docker images appears to be present.

[2017-01-15 14:15] dmrub commented on #38337
I created pull request for cadvisor https://github.com/google/cadvisor/pull/1574

[2017-01-15 15:01] peay commented on #34710
Would you still rather go with a field in `CronJob` like with deployments (or, possibly, two fields, one with a limit on failed jobs and one with a limit on successful jobs)?

Alternatively, we could add a `JobGCControler` a bit similar to the `PodGCController`.

The GC route would be more generic I assume, as it can apply to jobs not created only by `CronJob`  (which is probably the main creator

[2017-01-15 16:59] inge4pres commented on #36575
Thank you @vincipdx, installing from the official guide this is no so clear

[2017-01-15 18:26] mastercactapus commented on #34583
@jsafrane I think it may be more than just where there are or not nodes vs masters in an AZ.

As an additional use case, consider pods that must run on a "dedicated" tenancy node in AWS, (which have a baseline cost per-zone) for compliance. Since masters are supposed to be an odd number (i.e. 3 zones) it would make sense to have 3 instead of 2. But for a pod that has to be scheduled on a "dedicate

[2017-01-15 18:49] SydOps commented on #33544
@harsha544

Be careful the link and script which @kenan435  provided, that script tries to fake the google's image with his own images.

You'd better to not run with it.

[2017-01-15 19:55] humblec commented on #39345
@fabiand Thanks,  yes,  this looks to be a duplicate. I tried to bring the multipath support by adding backup portal as discussed in @21306.

[2017-01-15 21:20] smarterclayton commented on #39824
Delete via eviction doesn't sound like normal delete.  It sounds like
soft deletion or something else.

Put another way - as a user, what does deletion mean to me?  Am I
surprised that the pod is deleted?  Probably not.

[2017-01-15 21:49] xrl opened #39929 "VerifyVolumesAreAttached is failing and looping on remounts for openstack cinder"
**Is this a request for help?**: Not necessarily, things appear to be working

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): #28962 looks similar

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): *BUG REPORT*

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

[2017-01-15 21:56] xrl commented on #39929
Here is what the zk-0 pod shows:

[code]

[2017-01-15 22:19] mellotron commented on #17460
I'm affected by this on arm64 for kube-dns following this guide:

- https://kubernetes.io/docs/getting-started-guides/docker-multinode/

I think the image it's using is: gcr.io/google_containers/kubedns-arm64:1.9

[2017-01-15 22:26] mellotron commented on #17460
The above may be related to https://github.com/kubernetes/minikube/issues/947

[2017-01-16 00:18] davidopp commented on #4301
I think this is a valid issue but not something we have time to tackle soon.

The general issue is: given a set of pods and an operation that will kill one of the pods but can choose which one to kill, how do you communicate information from the application (either by each replica exporting some information directly, or in the configuration that was used to create the set) to the thing that will d

[2017-01-16 00:33] davidopp commented on #39687
I think we should move the discussion of how to ensure rescheduler operates "safely" and how it would prioritize/deprioritize which pod(s) to kill when it has a choice, to the design issue for rescheduler (#12140).  But in general I think it comes down to mechanisms like PDB and priority, and appropriate quota on those so that there isn't an "arms race" where everyone puts "max disruption == 0" an

[2017-01-16 00:34] davidopp commented on #4301
ref/ #12140

[2017-01-16 00:54] xilabao commented on #39513
@ixdy  I get an annoying message when building as normal user:
 `mv: replace '.make/pkg/generated/gofiles.mk', overriding mode 0644 (rw-r--r--)? `
So I run `make quick-release` as root. There will return a error if the outpt build directory is not owned by root when running as root. I think we could use `chown`to fix it.

[2017-01-16 00:54] dbason commented on #34428
I'm seeing a similar issue following the instructions for building kubelet for Windows on a Centos7 machine (as per https://kubernetes.io/docs/getting-started-guides/windows/)
`[root@buildbox kubernetes]# KUBE_BUILD_PLATFORMS=windows/amd64 make WHAT=cmd/kubelet
+++ [0116 13:54:05] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeu

[2017-01-16 01:12] k82cn commented on #39687
sure, will continue the discussion at #12140

Great 👍

[2017-01-16 01:42] resouer commented on #39603
Close this since #38787 is in.

[2017-01-16 01:42] #39603 closed

[2017-01-16 01:52] k8s-merge-robot opened #39931 "TestPrioritiesRegistered {priorities}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go-release-1.5/497/
Failed: TestPrioritiesRegistered {priorities}

[code]

[2017-01-16 02:10] k82cn commented on #39559
/cc @kubernetes/sig-scheduling-misc

[2017-01-16 02:51] xingzhou commented on #39833
@AdoHe, the `create role` PR is [here](https://github.com/kubernetes/kubernetes/pull/39852), welcome your review, thanks

[2017-01-16 03:29] caiyixiang opened #39932 "the server can not get the correct client IP when the client request server by clusterIP"
When the client request server by clusterIP, the server can not get the correct client IP if they are not in the same host, but the flannel.1 IP, actually. this is because the docker and flannel has masquerade that container can access to the external network,I need both be satisfied at the same time, my solution is to replace the out rule with the host's network card,is there a better idea?
Befor

[2017-01-16 05:29] jianzhangbjz opened #39934 "Node affinity "preferredDuringSchedulingIgnoredDuringExecution" type error"
Hi Guys,

I tried to use the Node Affinity feature, but got the below error when I using `preferredDuringSchedulingIgnoredDuringExecution` affinity type.
[code]
The below is my configure file. Something else I missed? BTW, the `requiredDuringSchedulingIgnoredDuringExecution` works well.
[code]
[code]

[2017-01-16 05:38] resouer commented on #39559
@NickrenREN @yuexiao-wang @tanshanshan @du2016 This is a good place to contribute and learn code for staters.

[2017-01-16 06:41] fortcollins commented on #21306
I have a project due in a month or so which requires the support for iSCSI MLPT (multiple LUNs per target). Appreciate if you could make it in 1.5 assuming 1.6 will not be ready by then. If anybody is interested in my use cases, I can provide the details and steps how it works manually.

[2017-01-16 06:43] tobad357 commented on #21306
@fortcollins please outline your setup as I was intending to look at this in the next week or two
Would want to see if I can cover it at the same time

[2017-01-16 07:20] cazorla19 commented on #39849
Actually figured out how to expose ports for deployment pods properly. All needs to be node - point out NodeType type. Here is the example.

apiVersion: v1
kind: Service
metadata:
  labels:
    environment: dev
    product: nginx
    tier: frontend
  name: proxy
spec:
  clusterIP: 10.101.0.1
  ports:
  - nodePort: 30080
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: proxy

[2017-01-16 07:26] Reifier commented on #39557
Interesting. As I have mentioned there is no kubeadm involved since it is a coreos install.

After leaving the cluster alone for a while this issue got mysteriously resolved. On to other things now.

[2017-01-16 07:26] #39557 closed

[2017-01-16 08:12] loewenstein opened #39937 "SecretList: Mismatch between openapi-spec and server behaviour"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `SecretList`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REP

[2017-01-16 08:36] wojtek-t commented on #34772
@akhlopotine - I'm not looking into it. @mwielgus - is this already fixed or something needs to be done here?

[2017-01-16 08:37] ofg commented on #29728
Thanks for the hint! What do I do if I already have a running cluster and do not want to create a new one? Is there any way to find this file and fix it so that new nodes pick it up?

[2017-01-16 08:44] mdshuai commented on #37809
@eparis @rhatdan Could you help look at this selinux too?

[2017-01-16 09:20] wojtek-t commented on #39245
@Random-Liu - thanks a lot for pointing to the PR (i was on vacation over last week, sorry for delay).

@shyamjvs - what's the status of this? Can we make use of it in kubemark?

[2017-01-16 09:21] resouer commented on #39934
`scheduler.alpha.kubernetes.io/affinity` belongs to Pod spec, you wrongly added it to Deployment spec.

[2017-01-16 09:23] wojtek-t commented on #22448
Reopening, since we don't have any documentation how to do an upgrade in OSS.

[2017-01-16 09:33] jingxu97 commented on #39910
I think the following step should be able to reproduce the error

1. Disable attach/detach reconciler sync by setting DisableAttachDetachReconcilerSync to true when starting the cluster with only one node.
2. Create two AWS volumes v1 and v2, create two pods p1 and p2 which attach v1 and v2 respectively.
3. Reboot the node, create two volumes v3 and v4, pods p3 and p4 which attach v3 and v4 respec

[2017-01-16 09:35] kris-nova commented on #39910
Thanks @jingxu97,

Who did we say was going to try to replicate?

[2017-01-16 09:36] choury opened #39940 "It is ambiguous when connect to apiserver with http1.1/http2/spdy3.1."
**Kubernetes version**
kubernetes 1.5.2

When using api of  https, it provies the protocols as follow by npn:
* h2
* http/1.1
* h2-14

And if I request the exec api with http2:

< HTTP/2 400
< content-type: application/json
< content-length: 167
< date: Mon, 16 Jan 2017 09:27:14 GMT
<
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "Upgrade request

[2017-01-16 09:45] jsafrane commented on #34583
@stevesloka, do you have any other non-Kubernetes instances in us-east-1b in your AWS account?

Did you try to tag your AWS instances that run Kubernetes with tag `KubernetesCluster=steve` - all AWS instances in one Kubernetes cluster must share the same tag value, so you can run multiple Kubernetes clusters in one AWS account. This tag is not documented, see #39178.

[2017-01-16 09:47] wojtek-t commented on #13382
Are you sure it's not problem connected to some settings of your cluster? E.g. lack of file descriptors in apiserver or sth like that? We are not seeing such problems in our environments.

[2017-01-16 09:50] wojtek-t commented on #23323
Do you have a memory profile you could paste here? It would be good to know where we are leaking memory (if we are leaking it - this may just be organic growth that will stop at some point, when we will full all the caches etc.).

[2017-01-16 10:02] alfirin opened #39941 "Node Label are lost when instances are shutdown"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
This is a BUG REPORT

**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: Debian GNU/Linux 8 (jessie)
- **Kernel**: `Linux ip-10-48-255-52 4.4.26-k8s #1 SMP Fri Oct 21 05:21:13 UTC 2016 x86_64 GNU/Linux`

**What happened**:
We applied some custom labels with this command: `kubectl

[2017-01-16 10:08] BugRoger commented on #39334
It's not necessarily the same cause as in #38894. We're experiencing the same problem but have a full featured GNU find. It is related though.

[2017-01-16 10:16] gajju26 commented on #39229
@luxas @ixdy  Do we have any link or document which can help me to setup Kubernetes CI for s390x?

[2017-01-16 10:24] shyamjvs commented on #39245
Yes. We have a current work-around to solve the issue (which is to erase the service account token file on the npd using a volume, so that the npd doesn't fallback talking to the real cluster apiserver). There's a PR on the way for this. On the other hand, we need to change heapster and npd to not fallback to in-cluster config in the case of stand-alone mode (I sent out a [PR](https://github.com/k

[2017-01-16 10:35] wojtek-t commented on #39687
Yes - we shouldn't mix rescheduler here. The real rescheduler doesn't still exists and is not even designed. So all discussions about rescheduler should be moved there.

And i agree that removing StatefulSet from the check was a good thing to do for now.

[2017-01-16 10:52] kargakis commented on #39745
Dupe of https://github.com/kubernetes/kubernetes/issues/38774

[2017-01-16 10:52] #39745 closed

[2017-01-16 10:53] kargakis commented on #34731
https://github.com/kubernetes/kubernetes/pull/34789 was merged, closing this issue.

[2017-01-16 10:53] #34731 closed

[2017-01-16 10:59] soltysh commented on #39815
Yes, it's a duplicate. I'm closing in favor of the other one.

[2017-01-16 10:59] #39815 closed

[2017-01-16 11:08] fjammes opened #39942 "`kubeadm join` fails non deterministicly"
**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Openstack
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel**:
[code]
- **Install tools**:

Centos install tools for kudeadm

- **Others**:

**What happened**:

k8s nodes can't sometimes join k8s cluster, whereas it works most of the time.

[code]

**What you expected to happen**:

Node to joi

[2017-01-16 12:14] evgkarasev commented on #34395
Thanks!

[2017-01-16 12:50] soltysh commented on #34710
Per https://github.com/kubernetes/kubernetes/issues/34710#issuecomment-261163142 we want fields on CronJob resource, having two per successful and failed sgtm.

[2017-01-16 12:53] sswierczyna commented on #39926
Everything is now working on version **1.4.7**
I've modified ```vsphere.conf``` and added line:
```working-dir = /DC_MALBORSKA/vm/PROD/CoreOS-C002/```

[code]

But in version **1.5.1** still does not work.

[2017-01-16 12:59] schasse commented on #35195
+1

[2017-01-16 13:01] peay commented on #34710
OK, I'll get started on that.

[2017-01-16 13:15] shyamjvs opened #39952 "Heapster in Kubemark doesn't work"
Similar to issue #39245 .
Heapster seems to talk to the wrong apiserver (the one of the real cluster) instead of the kubemark apiserver.
To fix this, we need to replace the heapster image with a newer one (where this [change](https://github.com/kubernetes/heapster/pull/1468) has been incorporated).
One other (minor) thing is to bind the right role to heapster for RBAC.

cc @kubernetes/sig-scalabil

[2017-01-16 13:43] timothysc commented on #22448
@wojtek-t there is a docs ticket here: https://github.com/kubernetes/kubernetes.github.io/issues/2172

[2017-01-16 14:01] timothysc commented on #23323
@wojtek-t @gmarek This original report was kube 1.2...

I'm inclined to let this lay and if there are issues seen in latest revs, folks can reopen.

[2017-01-16 14:25] timothysc commented on #37853
xref: https://bugzilla.redhat.com/show_bug.cgi?id=1412810

[2017-01-16 14:35] wojtek-t commented on #39952
I think this must be relatively recent regression. When I filed the issue for NodeProblemDetector, heapster was working fine.

[2017-01-16 14:43] damienmg commented on #39819
Ok I have added a test for debian stretch and we are not hitting that on a standard C++ example, see https://bazel-review.googlesource.com/c/8219/

[2017-01-16 14:44] wojtek-t commented on #39952
Can this: https://github.com/kubernetes/kubernetes/pull/39801 be a reason?

[2017-01-16 14:58] wojtek-t commented on #22448
OK - sorry. I must have missed it - too many emails when I was OOO.

[2017-01-16 14:59] wojtek-t commented on #23323
Ohh - I though it was a new issue. I agree, we should open another one if this is a new issue.

[2017-01-16 14:59] #22448 closed

[2017-01-16 15:15] sbezverk opened #39955 "3rd part object support for list"
Running kubernetes 1.5.2 on bare metal. I created 3rd party object with the following definition:

apiVersion: openstack.kolla/v1
kind: MemcachedOperator
metadata:
  name: memcached-operator
  namespace: kolla
description: "memcached operator"
spec:
  state: ""
  version: "0.4.0-1"
  port: "13131"
  service: "memcached"
  label: ""
  configmaps:
    - name: "memcached"
      version: ""
    - name

[2017-01-16 15:28] damienmg commented on #39819
It fails in a cgo action but the action does not explicitely pass neither -r nor -pie to the linker... Anyhow throwing the ball at rules_go since C++ compilation works ok.

[2017-01-16 15:40] gnufied commented on #39929
I think this is similar to what we discovered https://github.com/kubernetes/kubernetes/pull/39551/files . By default kubernetes verifies if volumes are indeed attached to nodes every 5second. As a workaround - you can increase the time duration.

But increasing the polling duration should be done with some caution. cc @jingxu97 @chrislovecnm

[2017-01-16 15:47] timothysc commented on #39818
+1, I'm going to close the issue as... expected.  I've always viewed affinity + taints&tolerations as admin policy not user preference.

[2017-01-16 15:47] #39818 closed

[2017-01-16 16:29] kargakis commented on #39334
@kubernetes/sig-node-misc

[2017-01-16 16:30] liggitt commented on #39382
green test at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-examples/1898/

fixed by https://github.com/kubernetes/kubernetes/pull/39918

[2017-01-16 16:30] #39382 closed

[2017-01-16 16:31] kargakis commented on #38894
@kubernetes/sig-storage-misc @kubernetes/sig-node-misc

[2017-01-16 16:31] liggitt commented on #39379
green test in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/2297/

fixed by #39918

[2017-01-16 16:31] #39379 closed

[2017-01-16 16:34] kpgriffith commented on #30403
Looks like this is already done.  https://chocolatey.org/packages/kubernetes-cli

[2017-01-16 16:38] euank commented on #39334
The fixes for #38894 should be in master, just not in any release branch.

@calebamiles wanna see about getting the two commits referenced in https://github.com/kubernetes/kubernetes/issues/38894#issuecomment-272909333 into the 1.5 release branch?

[2017-01-16 16:42] shyamjvs commented on #39952
This is weird, because I just rebased my master (since I didn't have this change updated in my working tree till now) and now it works. IIUC Given that #39801 was merged only 4 days ago, this should either mean that it wasn't working previously (with "v1.2.0") or someone overwrote a working v1.2.0 image with an image where the `--source` flag doesn't work. Am I going wrong somewhere?

[2017-01-16 16:47] deads2k opened #39959 "kubemark consistently failing"
kubemark is consistently failing and blocking the SQ.  It looks to have started very recently.

One message is suspicious in the log: `RBAC DENY: user "kubelet" groups [system:nodes system:authenticated] cannot "list" on "endpoints./" cluster-wide`.  That permission is normally granted in the `system:node-proxier`  role, bound by default to the `system:kube-proxy` user.  Is the user different in k

[2017-01-16 16:48] deads2k commented on #39959
@shyamjvs @gmarek @wojtek-t https://github.com/kubernetes/kubernetes/pull/39349 merged a while back.  Did something else change recently.  Nothing should have been able to merge for kubelet needing the new permission without failing.

[2017-01-16 16:50] deads2k commented on #39959
Given that its just kubemark, I'm wondering if its something related the fake kubelets and the like that are set up.

[2017-01-16 17:17] kargakis commented on #38894
Maybe a naive question but why are we using `wc` instead of handling this in Go? I am not sure that binary dependencies are a problem atm and ofc `wc` is everywhere but I would expect the same functionality to be a couple of lines in Go.

[2017-01-16 17:22] andrewrynhard opened #39960 "Kubeadm should run kube-proxy under its' own identity"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request:

`kubeadm` runs `kube-proxy` under the kubelet's identity. It should run under its' own identity.

[2017-01-16 17:24] euank commented on #38894
@kargakis the fix was to replace 'wc' with go code (effectively `len(str)`), since indeed go is capable of determining the length of a string.

I assume that it was originally using wc because the author of the code was naively porting a working line of bash and wasn't so familiar with go.

[2017-01-16 17:26] #39840 closed

[2017-01-16 17:40] liggitt opened #39962 "Need tests for replicaset pod adoption and release"
The merge queue is green with RBAC enabled, and the replicaset controller was missing permission to patch pods until fixed in https://github.com/kubernetes/kubernetes/pull/39961

Pod adoption and release depend on patching pods, which means that there are no merge-queue-blocking tests that test these features.

Given that they are complex and rarely tested manually, we need tests that run as part

[2017-01-16 17:42] shyamjvs commented on #39959
@deads2k This seems to be because in kubemark the kube-proxy actually uses the same kubeconfig as that of the kubelet. So it pretty much ends up with the same binding as the kubelet (with the role of system:node). Making kube-proxy identify itself as the `system:kube-proxy` user should do the trick.

[2017-01-16 17:43] shyamjvs commented on #39952
And before closing this issue, we also need to fix RBAC for heapster.

[2017-01-16 17:45] gregbkr commented on #38542
Same error here with version 1.5.1, 1.5.2

    The Job "grafana-import-dashboards" is invalid: spec.template.spec.initContainers[0].imagePullPolicy: Required value

With this setup:

    kubectl apply -f monitoring

https://github.com/gregbkr/kubernetes-kargo-logging-monitoring/blob/master/monitoring/grafana-import-dashboards-job.yaml

Not working even if I specify a pullpolicy in the yaml.
If I r

[2017-01-16 18:11] xrl commented on #39929
@gnufied a fast polling interval is OK but the errors for the `StatefulSet` object are troubling.

[2017-01-16 19:13] svend commented on #37854
I have recreated the error state on a fresh cluster. The resource definitions and steps used are in the following gist:

https://gist.github.com/svend/af4d64df2a318ac578337096727b1de7

[2017-01-16 19:22] timothysc commented on #25319
That's not true at all for some stateful sets and use cases we care about.  We will want hard anti-affinity to spread on various labels (rack, cluster, ...) etc.  It's a key requirement for us.  Seems like a topic for 2day

[2017-01-16 19:26] liamawhite commented on #39559
Im interested in taking on /pkg/api/resource, I'll get working on the PR.

[2017-01-16 19:30] svend commented on #37854
@gnufied The volume is mounted, but in a different directory.

From kubelet logs:

[code]

The volume is mounted in a different directory:

[code]

[2017-01-16 19:31] sbezverk commented on #39955
when the same yaml definition was converted by automatic tool into json, the object started correctly showing list for configmaps:

{
  "kind": "MemcachedOperator",
  "metadata": {
    "namespace": "kolla",
    "name": "memcached-operator"
  },
  "spec": {
    "configmaps": [
      {
        "version": "",
        "name": "memcached"
      },
      {
        "version": "",
        "name": "keepali

[2017-01-16 19:31] andrewrynhard opened #39967 "Kubeadm should support masters that are not schedulable"
Feature Request:

When running `kubelet` with `--register-schedulable=false`, `kubeadm` hangs because it creates addons.

[2017-01-16 19:33] davidopp commented on #25319
Unfortunately I can't remember why @wojtek-t said that restricting to node was better than restricting to a pre-defined set of TopoloyKeys at scheduler startup time (like we do today); I think this is critical information. If it's just about building indexes then the latter is just as good as the former, but I think there's more to it.

[2017-01-16 19:35] timothysc commented on #39559
feel free to ping me on the reviews, my only requests are:

1. Prior to pinging please make certain all the checks are green.
2. Please do not add any unnecessary dependencies, we are striving to refactor portions of the scheduler to ensure that they can be linked externally.
3.  Try not to apply the cookie cutter too much.  If there are missing array style tests, please strive to leverage closure

[2017-01-16 20:00] deads2k opened #39970 "generic restclient shouldn't be tied to the API"
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/client.go#L48 is tied directly to the internal API package via `Patch(pt api.PatchType) *Request`

[2017-01-16 20:03] urzds opened #39971 "StatefulSet concept documentation contains broken link to "experimental" Persistent Volume Provisioning"
The [concept documentation for StatefulSets](https://kubernetes.io/docs/concepts/abstractions/controllers/statefulsets/) contains a broken link in the Limitations section, where it links to a "experimental" Persistent Volume Provisioning example, which is not experimental anymore and now lives at: https://github.com/kubernetes/kubernetes/blob/master/examples/persistent-volume-provisioning/README.m

[2017-01-16 20:20] urzds commented on #39971
Found the documentation repository and submitted a pull request: kubernetes/kubernetes.github.io#2255

[2017-01-16 20:20] #39971 closed

[2017-01-16 20:21] tobilarscheid commented on #23920
Would it be an acceptable workaround to run kubernetes without calico? [This](https://coreos.com/kubernetes/docs/latest/deploy-master.html#set-up-calico-for-network-policy-optional) states that calico is optional, but it also says that calico enables the one-IP-per-Pod concept which seems to be very important to me.

[2017-01-16 20:22] juanvallejo opened #39973 "Failed to setup provider config"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
v1.6.0-alpha.0.3307+a29c51c6abf231

**What happened**:
e2e gce test flake

Jan 16 11:38:02.344: Failed to setup provider config: Error building GCE/GKE provider: googleapi: Error 500: Internal Error, internalError

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-log

[2017-01-16 20:55] ncdc opened #39975 "TestMonitorNodeStatusEvictPodsWithDisruption is flakey"
Running latest from master (currently commit 8ab0519160594e5da50212da7994fc5dfbbe05de), I'm seeing TestMonitorNodeStatusEvictPodsWithDisruption is flakey:

1. go test -c ./pkg/controller/node
1. while true; do if ! ./node.test; then break; fi; done
1. wait for failure

I've narrowed it down https://github.com/kubernetes/kubernetes/blob/6a4d5cd7cc58e28c20ca133dab7b0e9e56192fe3/pkg/controller/node/n

[2017-01-16 21:03] ncdc commented on #39975
I'm surprised we haven't hit this in jenkins yet

[2017-01-16 21:23] luxas commented on #39960
Yes, I'm working on this.
Please reopen in kubernetes/kubeadm

[2017-01-16 21:23] #39960 closed

[2017-01-16 21:30] #39967 closed

[2017-01-16 21:32] copejon commented on #39119
@saad-ali @jeffvance  regarding the remaining flakes.

So despite the [Serial] tags, we're still seeing the PV test run alongside`[k8s.io] NodeOutOfDisk [Serial] [Flaky] [Disruptive] runs out of disk space`.  This test maxes out the resources on a node to force resource reclamation / pod eviction.

The flake arises when the nfs-server pod gets evicted and enters a failed state:

[code]

It doesn't

[2017-01-16 21:32] liggitt commented on #29542
I wouldn't want to assume unknown types are TPRs, but having a default apply mode for types where we can't use the normal go struct logic (which could be TPRs or types from add-on API servers) makes sense to me. The same approach could work for fields of type Interface or runtime.RawExtension that currently don't support apply either

[2017-01-16 22:08] abourget commented on #13892
Also looking for an example use of this, is proxy protocol enabled by default now?

[2017-01-16 22:15] svend commented on #37854
@gnufied I checked the mount for the PV before I delete the pod, when everything in healthy, and there are two mounts. Is that expected?

[code]

[2017-01-16 22:20] gnufied commented on #37854
Yeah that is expected, one of mount point inside `aws-ebs` is real mount point and second one is just a bind mount.  btw - did you verify this bug after using the patch link I posted  - https://github.com/kubernetes/kubernetes/issues/31891 ?

[2017-01-16 22:26] gnufied commented on #39929
You mean this log line:

[code]

Is the API or API access flaky by any chance?

[2017-01-16 22:34] daniilyar commented on #38495
@Crassirostris , docker `--log-opts` can be set at per-container basis:
[code]

[2017-01-16 22:38] svend commented on #37854
@gnufied I will give it a try. Is this the correct patch https://github.com/kubernetes/kubernetes/pull/39850?

[2017-01-16 22:40] gnufied commented on #37854
oops for posting incorrect links. Yeah you got the correct link!

[2017-01-16 23:06] gnufied commented on #39910
I am going to replicate and get some tests going. @jingxu97 can you assign this to me please

[2017-01-16 23:21] DukeXar opened #39978 "Cinder volumes attacher uses NodeName instead of instanceID"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: openstack cinder volume instanceid nodename

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: Openstack Liberty
- **OS** (e.g. from /etc

[2017-01-16 23:45] pmorie opened #39979 "Make go2idl binaries generic"
Currently it appears that you have to cargo-cult in your own set of the binaries under `cmd/lib/go2idl`.  It would be much more convenient if these binaries were generic and consumable via `go get` in other projects.  It doesn't appear that this should be especially hard to do; looks like a couple things need to be rippled out into CLI options like names of packages and path to boilerplate header

[2017-01-16 23:45] pmorie commented on #39979
cc @deads2k @lavalamp

[2017-01-16 23:50] matchstick commented on #39526
I am moving the priority to P1 as it looks appropriate right now.

[2017-01-16 23:57] nrvale0 commented on #29548
I'm able to reliably generate kubelet logs and failed Pod mounts of EBS volumes very much matching the above scenario. Version is 1.3.0.

Did anything ever come of this?

[2017-01-17 00:04] #39912 closed

[2017-01-17 00:11] xrl commented on #39929
Our openstack API is pretty stable. Perhaps it's not the right schema and the gophercloud client sees nil values?

[2017-01-17 00:18] justinsb commented on #39941
Is this with kops?  And when you say "Shut down the instance and recreate a new one", are you forcing it to get the same name?  Without meaning to get too "ship of theseus" - what is it that makes the new instance the same as the old instance?

[2017-01-17 00:30] justinsb opened #39980 ""server misbehaving" error / kube-dns returning SERVFAIL"
I'm not entirely sure what is happening here, but I've seen this error reported in the real world a few times, and could never figure out what it was.  And then today I installed guestbook-go, and deleted the redis-slave service.

The browser then reports this error (in the network view) when fetching `/lrange/guestbook`

[code]

I would expect to see a more sensible error.

One possible reason:

[2017-01-17 00:41] sheerun commented on #23013
@mikedanese  It is still an issue for me:

I have 4 nodes, 1 master and 3 slaves.

[code]

I deploy following daemonset:

[code]

It deploys, but has DESIRED set to 3, and not 4:

[code]

What's the weirdest of all, it deploys on master node and just two slaves..

[code]

[2017-01-17 00:44] sheerun commented on #23013
Forgot to add:

[code]

[2017-01-17 01:11] sheerun commented on #23013
This seems to be related to #28535 because describe on daemonset reports:

[code]

When there's no actual conflict.

[2017-01-17 01:47] #39955 closed

[2017-01-17 02:22] nikhiljindal opened #39982 "federation: Implement scheduling policy engine"
We need a way for admins to be able to specify policies regarding in which clusters can their resources be scheduled.
Demo of a POC from @tsandall: https://www.youtube.com/watch?v=hRz13baBhfg

Next step is to finalize the design and then implement it.

cc @kubernetes/sig-federation-misc @tsandall @quinton-hoole

[2017-01-17 02:26] nikhiljindal commented on #39982
Noting down the things we should discuss:

* How to store policies (Right now stored as third party resources in host cluster): We can add Policy as another API resource in federation-apiserver.
* How to expand to resources other than replicasets: Right now it uses ClusterPreferences annotation that exists only on ReplicaSets and Deployments. We can use the cluster selector annotation being implem

[2017-01-17 02:29] jianzhangbjz commented on #39934
@resouer I have a bit confused, as the above shows, if I changed `preferredDuringSchedulingIgnoredDuringExecution` to `requiredDuringSchedulingIgnoredDuringExecution`, it works well! And, I  think it did belongs to Pod spec in my configure, or can you provide me an example?
As the below shows, I config it in a Pod, it still get the below error, but the `requiredDuringSchedulingIgnoredDuringExecuti

[2017-01-17 02:31] smarterclayton commented on #36716
I forgot to comment on this the last time I saw this issue, but openshift added "clusterquota" which is quota that is applied to a set of namespaces according to a label or field selector.  The quota is tracked alongside existing namespace quota, so a group of applications can share a maximum pool across namespaces while individual applications can still be limited.

https://docs.openshift.com/con

[2017-01-17 02:50] harsha544 commented on #33544
@SydOps I was cautious enough to pull docker images from gcr.io/google_containers/ppc64le..
Given that this is a ppc64le ARCH, I built the binaries from the GitHub Source, and hence I don't have the feasibility to restart via systemctl  .. However I'm following the approach of Kubernetes Ansible (https://github.com/kubernetes/contrib/tree/master/ansible) To deploy the K8 cluster among my nodes.

[2017-01-17 02:53] resouer commented on #39941
The new node in this case is actually a different node. (and the node name has been changed, right?). Labels will be preserved only if you are registering an existing node.

But I can see that you are using NODE_NAME. Why do you need this? Why don't just give a name to every node? And re-use this name when re-create the node.

[2017-01-17 02:53] nikhiljindal opened #39984 "enable kubectl tests with federation apiserver for replicasets"
https://github.com/kubernetes/kubernetes/pull/38844 added kubectl tests with federation apiserver, but did not enable them for replicasets since they were failing. We need to debug the issue, fix it and then enable the tests for replicasets.

Here is the corresponding TODO that needs fixing: https://github.com/kubernetes/kubernetes/blob/f74b4bbbad5463aa35b5d4d769b80db19cf12ee0/hack/make-rules/test

[2017-01-17 02:54] nikhiljindal opened #39985 "enable kubectl tests with federation apiserver for deployments"
#38844 added kubectl tests with federation apiserver, but did not enable them for deployments since they were failing. We need to debug the issue, fix it and then enable the tests for deployments.

Here is the corresponding TODO that needs fixing: https://github.com/kubernetes/kubernetes/blob/f74b4bbbad5463aa35b5d4d769b80db19cf12ee0/hack/make-rules/test-federation-cmd.sh#L77

Related issue for rep

[2017-01-17 02:58] nikhiljindal opened #39986 "federation replicasets: known issues"
Documenting the list of known issues with federation replicasets:

- [ ] `kubectl delete rs` not working as expected: https://github.com/kubernetes/kubernetes/issues/38493, https://github.com/kubernetes/kubernetes/issues/42594.
- [ ] Bug in `kubectl delete rs --cascade=false`: https://github.com/kubernetes/kubernetes/issues/38223
- [ ] Enable federation-apiserver kubectl tests for replicasets: htt

[2017-01-17 02:59] nikhiljindal commented on #39986
cc @kubernetes/sig-federation-misc @mwielgus
Feel free to add anything that I missed

[2017-01-17 03:00] resouer commented on #39978
It seems to be a bug, would you like to send a PR to fix it please?

[2017-01-17 03:01] nikhiljindal opened #39987 "Federated Deployments: known issues"
Documenting the list of known issues with federated deployments:

- [ ] Enable federation-apiserver kubectl tests for deployments: https://github.com/kubernetes/kubernetes/issues/39985.
- [ ] Figure out a path to GA for FederatedReplicaSetPreferences.
- [ ] Verify that rebalancing works and add a test for that: https://github.com/kubernetes/kubernetes/issues/33312
- [ ] Document how rebalancing wo

[2017-01-17 03:01] nikhiljindal commented on #39987
cc @kubernetes/sig-federation-misc @mwielgus
Feel free to add anything that I missed

[2017-01-17 03:03] liggitt commented on #39975
https://github.com/kubernetes/kubernetes/pull/13642 and https://github.com/kubernetes/kubernetes/commit/98b954c74cb2035388ddcb6356422e95f4ebc7a7#diff-bc52fc0dd98c0169dbbd19624927ac39R164 removed the "leak" option referred to in the godoc, but it seems like it kept the leak behavior, not the retry behavior when the rate limiter is hit

[2017-01-17 03:03] nikhiljindal commented on #37318
Doesnt seem to have happened again in past 2 months.
Closing.

[2017-01-17 03:03] #37318 closed

[2017-01-17 03:04] hach-que commented on #35858
It turned out that `apply` was the right command to use here, not `replace`.

[2017-01-17 03:04] #35858 closed

[2017-01-17 03:05] nikhiljindal commented on #36757
cc @kubernetes/sig-federation-misc @quinton-hoole

[2017-01-17 03:07] hach-que opened #39988 "Allow listening on port 22 on GCE"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

I have a container which accepts incoming traffic on port 22 (it is a Git hosting server).  However, on GCE, all master/slave communication is done over port 22.

I can somewhat work around the issue by SSH'ing onto the node, editing `sshd_config` to set the port to 24 and reloading the service.  However, this breaks `exec

[2017-01-17 03:14] #38143 closed

[2017-01-17 03:15] nikhiljindal opened #39989 "federation ingress: known issues"
Documenting the list of known issues with federated ingress:

Issues that need to be fixed soon:
- [x] Need to create a firewall rule. Users will have to create it manually pre 1.5. Document it. Create it in the test for now and get the tests to turn green (https://github.com/kubernetes/kubernetes/pull/37571). In 1.6, create it automatically in the controller (https://github.com/kubernetes/kuberne

[2017-01-17 03:15] nikhiljindal commented on #39989
cc @kubernetes/sig-federation-misc @madhusudancs @allannaim
Feel free to add anything that I might have missed.

[2017-01-17 03:24] quinton-hoole commented on #39870
@rrati That process has been deprecated by the kubefed tool.

https://kubernetes.io/docs/admin/federation/kubefed/

@madhusudancs Could you please make sure that the documentation is updated accordingly.

[2017-01-17 03:24] resouer commented on #39934
Sorry, I mis-read your yaml. re-opened it.

[2017-01-17 03:39] liggitt opened #39990 "RBAC enablement in GCE configure-helper scripts"
RBAC is enabled by default in the following cluster up scripts:

https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh

https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/container-linux/configure-helper.sh

This issue tracks the follow-up items from https://github.com/kubernetes/kubernetes/pull/39537 ensuring these scripts work for both new and exi

[2017-01-17 03:50] smarterclayton commented on #39979
For simple things, why would cargo culting those options be bad?  They should *all* support customization of the defaults (set those defaults prior to call flag.Parse).

[2017-01-17 03:51] du2016 commented on #39559
@resouer  i'd like have a try,thank you

[2017-01-17 05:00] quinton-hoole commented on #36757
@ArchiFleKs can you confirm whether this bug still exists in v1.5?  I'm pretty sure that it was fixed, but haven't had the time to dig out the relevant PR yet.

[2017-01-17 05:23] resouer commented on #39934
`json: cannot unmarshal object into Go value of type []api.PreferredSchm`

`PreferredSchm`? May be it's `PreferredSchedulingTerm` or something. Could you please pos complete error message here.

[2017-01-17 05:37] jianzhangbjz commented on #39934
@resouer The above is all of the error message, when I replace the `prefer` type to `required`, it works. I walk through the [Node affinity](https://kubernetes.io/docs/user-guide/node-selection/) and [nodeaffinity.md](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/nodeaffinity.md) docs, but didn't find any examples for `prefer` type.

[2017-01-17 05:47] resouer commented on #39934
As for your problem, I believe the root cause is: `preferredDuringSchedulingIgnoredDuringExecution` is a array. For example:
[code]

I did not test, so you need to format and test it by yourself.

More details: [nodeaffinity design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/nodeaffinity.md#nodeaffinity)

[2017-01-17 05:49] resouer commented on #39934
And, you have to use annotation (ugly and easy to make mistake) because it's still alpha/beta feature, it will become api fields after released.

[2017-01-17 05:55] justinsb commented on #39990
Are there docs for the RBAC configuration we're aiming for yet?

[2017-01-17 06:00] quinton-hoole commented on #36757
It looks like the code to do the right thing is there, but perhaps it doesn't work correctly on AWS.

https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/service/dns.go#L211

@justinsb I seem to remember us fixing something here, but can't find the PR.  Any ideas?

[2017-01-17 06:02] resouer opened #39994 "Need example for preferredDuringSchedulingIgnoredDuringExecution"
There's no example for `preferredDuringSchedulingIgnoredDuringExecution` in any documentation.

Users are tend to re-use existing `requiredDuringSchedulingIgnoredDuringExecution ` example, but unfortunately, preferredDuringSchedulingIgnoredDuringExecution is an array. This leads some confusions, like:  #39934

We need to add examples to clarify this priority.

[2017-01-17 06:07] quinton-hoole commented on #36757
According to the working group meeting notes of 11/17/2016, we should have federation e2e CI tests running against AWS (see below).  @colhom or @madhusudancs should have the current status.

http://tinyurl.com/ubernetes-wg-notes

[code]

[2017-01-17 06:35] akhlopotine commented on #34772
I still see this issue. So it is not fixed

[2017-01-17 06:41] tanshanshan commented on #39559
I wil try it , thanks.

[2017-01-17 06:51] jianzhangbjz commented on #39934
@resouer Yes, you're right, it should be a array. And I have modified the `yaml` file(as the below), but still get the below error. Now I refer to a test example: [validation_test.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation_test.go#L3591), maybe somewhere is still mistake, could you help to point out?
[code]
[code]

[2017-01-17 07:07] resouer commented on #39934
Do not copy from `PodAffinity` it's different, please check the example I provided.

[2017-01-17 07:14] wojtek-t commented on #25319
Computing anti-affinity only for the "node" TopologyKey is relatively simple, as it can be done within pods from a given node only (i.e. it is local computation).
For any other TopologyKey, it is computationally expensive, as in the worst case it takes O(|pods| * |nodes|). And the problem is that it affects all pods, not only those with anti-affinity constraints. So if we want to have anti-affinit

[2017-01-17 07:15] luxas commented on #33544
@harsha544 Please open a new issue in kubernetes/kubeadm about this.
It's fully possible to solve it, but requires some manual hacking until we've got ppc64le mainline again, see: https://github.com/kubernetes/kubernetes/pull/38926

[2017-01-17 07:18] jianzhangbjz commented on #39934
@resouer Yeah, I also followed your example, but still get the error, I don't understand that why it always print `matchExpressions: Required value: must have at least one node selector requirement` error, obviously, I have added one.
[code]
[code]

[2017-01-17 07:27] davidopp commented on #25319
I think it's fine to go to beta with the restriction TopologyKey == node, and later expand the choices. Today this is enforced using an admission controller that is enabled by default. I think we could just leave that as-is instead of moving the code into validation, if we think we might allow other topology keys later once we can improve the performance.

[2017-01-17 07:29] resouer commented on #39559
Add a test coverage result with `make test WHAT=/pkg/in/question KUBE_COVER=y` would be helpful to reviewers.

[2017-01-17 07:30] mootezbessifi commented on #39294
@freehan
Sorry for the delay, but unfortunately fluentd generates, after a while from starting, a huge logs that said:
emit transaction failed: error_class=Fluent::BufferQueueLimitError error="queue size exceeds limit" tag="kubernetes.var.log.containers.elasticsearch-logging ... and becomes unable to send collected logs to ES.

[2017-01-17 07:32] wojtek-t commented on #25319
I think today other topology keys are also allowed (though I didn't check it). We for sure allow other topology keys for affinity, and i can't remember any difference in admission code between affinity and anti-affinity. But I'm fine with what @davidopp suggested as a temporary solution.

[2017-01-17 07:43] ArchiFleKs commented on #36757
@quinton-hoole : I'll try again with 1.5. From what i understand here https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/service/dns.go#L211

LB Endpoint are resolved, but i'm not sure AWS ELB resolved IP address are stable as opposed to GCP. If the DNS provider is route53, we should an AWS alias and not an A record

[2017-01-17 07:48] resouer commented on #39934
@jianzhangbjz You missed `preference` key, check my previous example, I've updated it to a full version.

[2017-01-17 07:49] davidopp commented on #25319
The admission controller that limits hard pod anti-affinity to node TopologyKey is [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/antiaffinity/admission.go).

But you're right, it's not enabled by default. For example none of the cluster/*/config-default.sh (and config-test.sh) scripts list it in the ADMISSION_CONTROL line. So we should either turn this on, or mov

[2017-01-17 07:54] resouer commented on #38532
@DreadPirateShawn To be clear, you are suggesting that the Pod (container) is successfully started, but it exited after that, and no event is reported. Right?

[2017-01-17 08:06] davidopp commented on #25320
We need to write documentation. The documentation should emphasize that this is not really intended to be used by users directly, but by higher-level tools that would apply the appropriate taints and configure an admission controller to add the appropriate tolerations. We should also mention that you need to pair a toleration with a node affinity in some scenarios.

[2017-01-17 08:13] jianzhangbjz commented on #39934
@resouer I followed your latest example, but still get the same error, the below is the latest configure. BTW,
could you clarify why need to add `preference` key, I'm confused about the [NodeAffinity](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/nodeaffinity.md#nodeaffinity)
[code]

[2017-01-17 08:31] resouer commented on #39934
Here's the example API object of affinity:
[code]

[2017-01-17 08:40] pawelprazak commented on #17620
Is there an issue tracking support for subnet masks, I get this message when try to use them:

    "10.0.0.0/16" detected, but the only value supported currently is 0.0.0.0/0

[2017-01-17 08:41] #36311 closed

[2017-01-17 08:42] resouer commented on #39934
I updated my previous example again, you can have a look.

[2017-01-17 09:10] jianzhangbjz commented on #39934
@resouer It works! Thanks a lot! :) The below is the correct `yaml` configure. I suggest that provide an example for the `preferred` type.  Otherwise, [ nodeaffinity design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/nodeaffinity.md#nodeselector) will make users feel confuse. Users could not find the description of `preference` key in it, after all. :)
[c

[2017-01-17 09:32] davidopp commented on #34377
@elppc question is also at https://groups.google.com/forum/#!topic/kubernetes-users/m6bdGmpglnc

[2017-01-17 09:36] jpswade opened #40001 "Feature request: env_file support"
I have created .env files for environments for use with docker-compose. It would be useful to have the same support in kubernetes yaml files to avoid having to reformat them.

* See: https://docs.docker.com/compose/env-file/

[2017-01-17 10:03] Crassirostris commented on #38495
@daniilyar Great, thanks a lot! I missed that

[2017-01-17 10:13] codablock commented on #35180
I added some code to go-autorest to dump the headers that we get from Azure and there is no "Retry-After" header present. Also, there is nothing else that would indicate something like this.

Also, I tried to understand the code to figure out how and where backoff is happening. It looks like there is no backoff applied in this case. Async polling is handled by [DoPollForAsynchronous](https://githu

[2017-01-17 10:21] codablock commented on #35180
First test shows an improvement from 2 minutes for attachment to 40 seconds.

@ckarlsen84 Do you want to prepare a PR for this? If not, I can do this. I would only change the PollingDelay for the VirtualMachinesClient and not touch any of the other go-autorest clients. In this way the quota should not suffer too much.

[2017-01-17 10:28] DukeXar commented on #39978
@resouer done, what do you think about test coverage of that thing? Also would not it be better to have instance ids cached in the node structure, so that they are not being looked up every reconcile cycle?

[2017-01-17 10:48] shyamjvs commented on #39952
@deads2k We get many such log statements in the kubemark apiserver:
[code]
As you can see, we are currently using the same credentials as kubelet for heapster in kubemark, and should actually have a separate role crafted for heapster IIUC.

[2017-01-17 10:52] hectorj2f commented on #37554
I am using `v1.5.2` and the problem seems to be fixed. I am able to delete namespaces.

[2017-01-17 10:52] hectorj2f commented on #19317
I am using `v1.5.2` and the problem seems to be fixed. I am able to delete namespaces.

[2017-01-17 10:52] hectorj2f commented on #37278
I am using `v1.5.2` and the problem seems to be fixed by #39457. I am able to delete namespaces.

[2017-01-17 11:00] matthyx commented on #13501
Hi @janetkuo looks like there is the same issue reported on the OpenShift Origin github:
https://github.com/openshift/origin/issues/6586
It would make more sense to solve that upstream.
Should we do something together to solve it?

[2017-01-17 11:20] vaijab commented on #31858
We are affected by this issue as well. We have around 30 EBS volumes used by petsets. When a controller-manager hits AWS api limits, things start to go crazy. Our pods with volumes start moving around constantly.

[2017-01-17 12:33] resouer commented on #39934
Yes. I will close this one since it is not a bug.

[2017-01-17 12:33] #39934 closed

[2017-01-17 12:40] resouer commented on #39978
I think we will focus this issue and leave node structure refactoring to further issue.

[2017-01-17 13:07] fraenkel commented on #40001
Do you mean something like https://github.com/kubernetes/kubernetes/pull/38882 or something else?

[2017-01-17 13:09] wojtek-t commented on #39952
Actually it's not that heapster doesn't work in kubemark. It just cannot list namespaces. All other requests is issues successfully. We should just fix this one.

[2017-01-17 13:19] ApsOps commented on #36415
I think I'm hitting this as well.

What header does kube-proxy use anyway to keep session affinity?

[2017-01-17 13:29] bboreham commented on #23920
@tobilarscheid it would not really be a workaround, more like forgetting this issue exists.

The issue applies to any 3rd-party network; if anyone has any reason to use such a thing, and they also want to use hostPort, then we need to fix this.

"one-IP-per-Pod" is currently the way Kubernetes works.  All container networks that work with Kubernetes enable this concept.

[2017-01-17 13:41] junaid18183 opened #40014 "Deleting the deployment from UI doesn't delete the replica sets and pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

is:issue  UI delete ,

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): B

[2017-01-17 13:46] Raffo commented on #28525
Just to sum it up: we decided to join the efforts and apply for a Kubernetes incubator project.

[2017-01-17 13:46] wojtek-t opened #40015 "RBAC is allocating a lot of memory"
I was looking into why kubemark-scale is failing and looked into memory allocations. It seems that RBAC is responsible for significant portion of it:
[code]

I think that some of it might be related to the fact the we still have incorrect role for kube-proxy in kubemark that is not allowed to list endpoints, but that should hopefully be fixed soon - @shyamjvs

Once this is fixed, we should verify

[2017-01-17 13:50] timothysc opened #40016 "Cleanup Affinity references in the code"
Cleanup Affinity references in the code post annotation->Fields conversions.

There is some other cleanup work that can be done around closures in the tests as well.

@rrati is tasked with federation work, so I'll do the cleanup on this one, as I've done the reviews on his PRs.

/cc @kubernetes/sig-scheduling-misc

[2017-01-17 14:01] shyamjvs commented on #40015
@wojtek-t Thanks a lot for finding this out.
@deads2k One question I have in this regard is that, do we send the certificate in the header for every API request when using RBAC? I hope that we have something better than that as it could be a real network and computation overhead. On the other hand, not sending certificate on each request would mean we need to maintain the connection state with eac

[2017-01-17 14:04] deads2k commented on #40015
The RBAC authorizer operates out of a cache, so during the authorization step it does not go to and from the API server.

`k8s.io/kubernetes/pkg/registry/rbac/validation.(*DefaultRuleResolver).RulesFor` seems to suggest authz over authn.

[2017-01-17 14:07] cemo commented on #29298
@cyberroadie How did you solve your problem? I am in the same situation and no idea to resolve problem.

[2017-01-17 14:07] shyamjvs commented on #40015
Yes. But my question is if there is a separate dedicated cache for just the RBAC related requests or we just use the regular apiserver cache?

[2017-01-17 14:09] deads2k commented on #40015
Dedicated.  It only holds the latest state (unlike the watch cache) and it never discards an element (unlike the deserialization cache).  Is there another cache I'm unaware of?

[2017-01-17 14:13] cyberroadie commented on #29298
Manual via the AWS web interface.

[2017-01-17 14:13] cemo commented on #30518
This would be a great improvement because ALB supports AWS WAF as well whereas ELB does not.

[2017-01-17 14:15] deads2k commented on #39952
Heapster should be using a separate identity.  That would produce even more log statements initially, but we'll be able to tailor a role.  kubelets can do lots of things that heapster shouldn't do (view all secrets, update node status, etc), so we need a separate role and you need a different identity.

If you can do the identity first, we'll be able to use the RBAC denies to build the correct rol

[2017-01-17 14:19] shyamjvs commented on #39952
Yes I agree. That is the way how the roles should be crafted. For now, I'm sending a PR which gives heapster the 'cluster-admin' role. But here is the answer to your question @deads2k :
-> heapster should be able to "list" on "nodes", "pods" and "namespaces"

[2017-01-17 14:22] shyamjvs commented on #39952
Will fix the role for heapster, and not just this but even other components like node-problem-detector, and any other component which faces RBAC DENYs in a later PR.
For now, let me start an umbrella issue for updating roles throughout kubemark that'll keep track of these.
And also another issue for RBAC to add roles for these componenets. SGTY?

[2017-01-17 14:26] deads2k commented on #39952
I'm ok with that.  Separate identities for clean RBAC denies will make creating the roles a lot easier.  We did that for the GCE tests to get the initial roles.

[2017-01-17 14:37] wojtek-t commented on #39959
So I took a look and let me clarify one thing - the failures from yesterday are NOT related to RBAC.
So we are basically talking about two failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1699
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1700

Both of those are actually timeouts.
However, in

[2017-01-17 14:37] shyamjvs commented on #40015
No that's fine. I was indeed talking about the watch cache.

[2017-01-17 14:40] ensonic opened #40019 "Environment variables in pod created via valueFrom: show up empty"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): dashboard env var pod

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-01-17 14:57] wojtek-t commented on #39589
It seems that I messed one thing up and we are still using etcd2:
https://github.com/kubernetes/kubernetes/blob/master/cluster/common.sh#L722

So I think that currently in our tests we are using:
3.0.14 etcd, but in v2 mode.

I will send out a PR to fix it.

[2017-01-17 14:58] wojtek-t commented on #39589
https://github.com/kubernetes/kubernetes/pull/40020 should hopefully fix it

[2017-01-17 14:59] shyamjvs commented on #39959
Maybe bumping the timeout might not be a good option (unless the failures happen too often) as it gives us the chance to notice different issues than can cause the tests to timeout.

[2017-01-17 15:05] wojtek-t commented on #39959
That's why I wrote ```Not sure if this is a good option though...```

[2017-01-17 15:06] junaid18183 commented on #40014
Confirmed that the issues is thre with the version 1.5 as well.

`# kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1+core

[2017-01-17 15:06] deads2k commented on #39959
closing since this was a flake, not a consistent rbac problem.

[2017-01-17 15:06] #39959 closed

[2017-01-17 15:29] #39970 closed

[2017-01-17 15:31] alfirin commented on #39941
@justinsb I am using kops and I don't see inside kops how to set the name of new machine.
In fact the new instance should be the same, because the auto-scaling group just create a new instance (because the previous one was shutdown).

[2017-01-17 15:31] alfirin commented on #39941
@resouer Yes it's actually a different node, but replacing the previous shutdown node by auto-scaling group.
So in AWS auto-scaling group (or kops), how do I put some names for my nodes when they are created dynamically ?

[2017-01-17 15:36] ayasakov commented on #38372
Reproduced on my env.

**Kubernetes version** :
Kubernetes v1.4.6+coreos.0

**Environment:**

- **Cloud provider or hardware configuration:**
200 bare-metal nodes
- ** Install tools: **
Kargo

`# PROBLEM: backend IPs for service IP are not updated on k8s worker node

# iptables -t nat -L -n -v | grep :9696 | grep DNAT
  228 13680 DNAT       tcp  --  *      *       0.0.0.0/0            0.0.0.0/0

[2017-01-17 15:39] sysradium commented on #37554
@hectorj2f did you have any TPR?

[2017-01-17 15:46] stevesloka commented on #34583
@jsafrane There is another non-k8s instance running in us-east-1b, but it's not related (created via breanstalk).

I added labels to all my nodes / controller as you sugessted and still it created the PV in `us-east-1b`.

I may bail on Statefulset for now and manage my pv's by hand since I'm building out an operator and it wont be that painful, but would like to see if this could be addressed.

I'

[2017-01-17 15:51] liggitt commented on #40015
certificates are not sent in headers, they are sent during TLS connection establishment. that means that keep-alive connections only authenticate certificates when the connection is first set up.

bearer tokens are sent in headers, which are sent with every request, and verified with every request.

[2017-01-17 15:51] shyamjvs opened #40021 "RBAC roles for some components still missing"
We do not have well-crafted RBAC roles for some components like heapster, node-problem-detector, etc which basically has led to them using either overly powerful roles (like cluster-admin) or less powerful roles which leads to RBAC DENY msgs in the apiserver logs. We need to create the right roles for each of these components.

Feel free to comment below any new role that you think might be requir

[2017-01-17 15:51] shyamjvs commented on #40021
cc @wojtek-t @gmarek @Random-Liu

[2017-01-17 15:53] shyamjvs opened #40022 "Bind the right RBAC roles to components in Kubemark"
This is a place-holder issue to update kubemark with the right roles once issue https://github.com/kubernetes/kubernetes/issues/40021 has been resolved.

cc @kubernetes/sig-scalability-misc @wojtek-t @gmarek

[2017-01-17 15:56] dashpole commented on #39334
The change in cAdvisor: [#1558](https://github.com/google/cadvisor/pull/1558) still needs to be vendored into kubernetes, and cherrypicked to 1.4

[2017-01-17 15:58] derekwaynecarr opened #40024 "Revert recent changes made to QoS and Eviction"
This is a tracking issue for implementing the revert of the items discussed here:

https://github.com/kubernetes/kubernetes/issues/38322#issuecomment-272075161

@dchen1107 @smarterclayton @vishh @davidopp @liggitt

[2017-01-17 16:03] shyamjvs commented on #40015
@liggitt This might be a basic question, but does it mean that we should prefer using bearer tokens (or similar mechanisms) more than certificates, as using more certificates would lead to the apiserver maintaining more TLS connections? Or on the contrary, using bearer tokens is more expensive computationally since we need to verify each API request? If we know that one of them is better for sure,

[2017-01-17 16:06] derekwaynecarr commented on #40024
Have a PR prepared for master, once merged, it needs to be picked by to 1.4 and 1.5 as well.

[2017-01-17 16:13] kargakis commented on #40014
cc: @kubernetes/kube-ui-maintainers

Note that in 1.6 we have added server-side deletion for Deployments so an appropriate DELETE (need to opt-in with an additional param I think) to a Deployment would cascade to the rest of its owning objects.

[2017-01-17 16:14] liggitt commented on #40015
keep-alive is not determined by cert usage. the restclient does keep-alive even without cert usage, since network and TLS-establishment is expensive.

Both have benefits and costs. Certs establish once, but are more difficult to manage (requires PKI to create, not possible to revoke). Tokens are verified per request, but are easier to create, can be revoked, and are more flexible in the number of

[2017-01-17 16:14] deads2k commented on #40021
It seems like kubemark is already set up to produce the RBAC DENY messages we'd need to craft complete roles.  If you can assign them unique identities and then produce a log, it will be a lot easier to create these.

[2017-01-17 16:22] shyamjvs commented on #40015
That clarifies a lot of questions. Thank you @liggitt :)

[2017-01-17 16:25] foxylion opened #40027 "Backups of etcd (AWS)"
Hi,
we are going to use Kubernetes on AWS (setup with kops). One thing I wanted to address before going into production is doing backups from data storage.

I've currently set up a non HA Kubernetes master and I want to do regularly backups of etcd to be able to restore the cluster in case of a volume failure at AWS.

This seems currently not possible. There should be an integrated backup/restore

[2017-01-17 16:25] Random-Liu commented on #40021
Ref https://github.com/kubernetes/node-problem-detector/issues/76.

NPD needs permission to get/patch node status and generate node events.

Should we create a new role in https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go? Or use `system:node` which has overly powerful role? Or change any other existing role?

[2017-01-17 16:26] shyamjvs commented on #40021
@deads2k Yup. In the process of doing it. I'll post the RBAC DENY logs here once I do what you've said and filter the noise (for eg, logs due to initial delay in role propogation)

[2017-01-17 16:27] vaijab commented on #31858
Correct me if I am wrong.

After looking at the code, looks like, given 10 EBS volumes and one node, kubernetes will do 11 AWS api calls. One call to describe each individual volume separately and another call to describe an instance.

This does not sound very efficient. What if instead it did a one call to describe a list of volumes? Because right now, the issue gets worse the more volumes you ha

[2017-01-17 16:31] justinsb commented on #31858
It will do DescribeVolume polling during attach and detach operations only, I believe.  But that should be self-correcting, because we will throttle if there are too many operations in progress.  Can you link to the code or provide a log if you are seeing something different?

The problem is the "one node" call I believe, because we call that for nodes regardless of "current" volume operations, cu

[2017-01-17 16:33] justinsb commented on #39941
I don't understand why you want them to be the same instance.  Can you describe what you're actually trying to do?  And do you know that kops can apply labels based on the instance group: https://github.com/kubernetes/kops/blob/master/docs/labels.md  Does that address the underlying requirement?

[2017-01-17 16:41] justinsb opened #40029 "PV: We should have a snapshot controller"
This came up in discussion on slack.

We should have a controller that is capable of triggering periodic snapshots on AWS EBS PVs, and presumably the same on other clouds.

[2017-01-17 16:45] vaijab commented on #31858
@justinsb that's good to know. We're running v1.4.7 and constantly being hit by API rate limits.

I guess the question is how does volume reconciler behave when detachRequestedTime timer does not get reset? Because when it's unable to get volumes state status from AWS because of rate limits, the detach timer never gets reset. What happens then?

[2017-01-17 17:03] hongchaodeng commented on #23398
@timothysc
This issue is pretty self-explanatory. There are two kinds of auth in etcd: TLS auth and etcd's own auth.

We have supported TLS auth in k8s. But we need to fix, at least clarify, some hidden behavior as discussed in https://github.com/kubernetes/kubernetes/pull/39588#discussion_r95254754

For etcd auth, we can add it if there are enough use cases. We didn't add it for k8s in v3 because

[2017-01-17 17:06] xiang90 commented on #23398
@lavalamp @timothysc @smarterclayton @philips

This is something every easy to add I believe (need some tests though).

Shall we add this feature into API sever? Or shall we wait?

[2017-01-17 17:09] liggitt commented on #38784
Kubelet has allowed anonymous auth since 1.0. In 1.5, we added the ability to also authenticate using client certificates and/or API bearer tokens, but for compatibility with previous releases, the default behavior of the kubelet has not been changed.

When combined with kubelet authorization (also added in 1.5), this allows anonymous requests to be authorized before being allowed.

To secure a ku

[2017-01-17 17:09] #38784 closed

[2017-01-17 17:11] liggitt commented on #29542
c.f. https://github.com/kubernetes/kubernetes/issues/14998

[2017-01-17 17:16] chrislovecnm commented on #31858
@vaijab there is a new flag on the controller manager in 1.4.8 that will help.

See https://github.com/kubernetes/kubernetes/pull/39551 - set the new duration flag on the controller and your API requests will decrease

[2017-01-17 17:23] shyamjvs commented on #40021
@Random-Liu Unless there is a role already which logically is the same as that what npd needs, I think creating a new role makes sense. However, whether we want the role to be bootstrapped is something @deads2k has to decide.

[2017-01-17 17:32] quinton-hoole commented on #36757
Yes, you're right, and I don't think that that part is done yet.  There is
an issue for it somewhere.

Q

On Jan 16, 2017 11:44 PM, "Kevin Lefevre" <notifications@github.com> wrote:

[2017-01-17 17:36] bgrant0607 commented on #18610
@jbeda @timothysc I'd love to see this move forward. As the next step, could one of you draft an updated, more concise proposal (or multiple complementary proposals) in the community repo? The original proposal was never merged.

cc @thockin @roberthbailey @smarterclayton @pmorie

[2017-01-17 17:43] TamalSaha commented on #38784
@liggitt thanks a lot for explaining this. I am still confused about one thing.

Say I am running a Kube cluster is DigitalOcean, where all there is no private network. I am using default kubelet anonymous auth. Does that mean that anyone can call kubelet api and mess with the cluster?

[2017-01-17 18:04] dchen1107 commented on #38322
I don't like the short-term solution initially, and tried to prioritize the proper fix through #22212 more than a year. But we just have too much to carry as a team, and something failed to be properly prioritized. At the end, I accepted the short-term fixes due to two reasons:

* The users are suffering. kube-proxy, fluentd pods were evicted without restart. kube-dns cannot be admitted even it is

[2017-01-17 18:08] #26752 closed

[2017-01-17 18:10] gdvalle commented on #38588
Thanks for getting that merged.  Our daemons have been stable since upping to 50s, so I'm going to close this out with the workaround in place.

[2017-01-17 18:10] #38588 closed

[2017-01-17 18:11] luxas commented on #7452
Ping, any update on this?

[2017-01-17 18:21] hongchaodeng commented on #39589
Thanks!!! @wojtek-t

[2017-01-17 18:21] #39589 closed

[2017-01-17 18:25] deads2k commented on #40021
Node problem detector can have its own bootstrap role.  It's for a repo under `k8s.io/`, so it seems pretty reasonable to have its own dedicated role.

[2017-01-17 18:32] pwittrock commented on #25382
Yeah we can use this for now.

[2017-01-17 18:38] ParagDoke commented on #39282
Btw, fuzzyhandle = Hrishikesh Date
He got it working using flannel (instead of weave) on LXC.
I could get it to work too using flannel.

[2017-01-17 18:45] #23648 closed

[2017-01-17 19:02] yujuhong commented on #38854
Upgrade to proto3:
Pros:
 - more readable go code (less dereferencing of pointers)
 - preliminary testing suggests lower memory usage than proto2

Cons:
 - proto2 and 3 are not compatible; this breaks all existing CRI implementation
 - more churn before rollout

Thoughts? Objections?
/cc @kubernetes/sig-node-misc @johanatan @yifan-gu @mrunalp @sjpotter

[2017-01-17 19:12] philk commented on #39626
I'm also seeing this.

kubectl 1.5.2
[code]

kubectl 1.4.6
[code]

The only difference I see is a bunch of cache stuff at the beginning of the 1.5.x command. Removing the `~/.kube/cache` causes a similar multi-second hang but on an `/api` call:

[code]

I tried running kubectl from the hyperkube docker image on the same system (well, the docker VM) and it's normal (<1 second response) so it's prob

[2017-01-17 19:21] jrynyt commented on #32542
I believe this is related to https://github.com/kubernetes/kubernetes/issues/32526#issuecomment-249383029 -- running out of inodes. Need to have old, unused images cleaned up, rather than evicting Pods.

[2017-01-17 19:22] simonfan commented on #29166
Hey people, I am experiencing this very same issue on Kubernetes cluster at GKE v1.4.7 and wondering how exactly to debug. I've got the kubelet.log file.

[code]

I have already restarted the cluster anew and it starts failing to mount volumes. Once the first volume mount fails, all other pods (if restarted) fail as well.

Thanks!

[2017-01-17 19:23] kargakis commented on #39798
The deployment is not properly cleaned up (lacks revisionHistoryLimit so I guess you have all 200 replica sets?). Probably a dupe of https://github.com/kubernetes/kubernetes/issues/29735 but if you can provide any logs from the controller manager that would be nice.

[2017-01-17 19:25] hjacobs commented on #40029
/cc @Jan-M

[2017-01-17 19:25] kargakis commented on #39879
Seems like AvailableReplicas in one of the underlying replica sets is not updated correctly but it's quite rare to hit. Either a clock-skew issue or the cache is dropping a watch event or ...

[2017-01-17 19:27] hjacobs commented on #40014
This `kubectl` client-side "magic" is also an issue for us, waiting for 1.6 to fix it by cascading on the server side :smile:

[2017-01-17 19:28] kargakis commented on #39922
You need to use relative paths now which is unfortunate. Try `make test WHAT=./pkg/kubectl`

[2017-01-17 19:52] JayBee6 commented on #29298
@cemo @rokka-n @cyberroadie i was able to fix this by tagging the subnets in aws

[2017-01-17 19:53] calebamiles commented on #40027
Do you think you could point @foxylion to some docs @hongchaodeng or @xiang90? Thanks!

**cc: @kubernetes/sig-api-machinery-misc**

[2017-01-17 19:56] yifan-gu commented on #38854
@yujuhong For cri I think we should upgrade to proto3 asap, we will have more to break if we are doing it later.
I can help on this.

[2017-01-17 19:56] cjcullen commented on #39990
Looping @mikedanese for the kubelet cert stuff.

New (1.6) nodes will be in group system:nodes. For clusters upgrading from 1.5->1.6, I think we'd like to have a binding giving the "kubelet" identity the "system:nodes" role, as opposed to just relying on the "keep ABAC around" option.

For the "client" cert. I'd rather we just deprecate that flow on GKE (w/ "keep ABAC around" as the backward compa

[2017-01-17 20:01] smarterclayton commented on #23398
I would like to have this.

[2017-01-17 20:04] pmcq opened #40036 "Pod stuck in terminating if container exits prior to preStop hook completion"
**What keywords did you search in Kubernetes issues before filing this one?**:
readiness, stuck terminating

---

**Is this a BUG REPORT or FEATURE REQUEST?**: bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDate:"2016-10-21T02:48:38Z"

[2017-01-17 20:04] foxylion commented on #40027
@calebamiles I had a discussion with @justinsb and therefore created a pull request (kuberentes/kops#1511) valid for kops etcd backup/restore procedure. I don't know if this also applies for a bare Kubernetes (and if there any docs available).

[2017-01-17 20:07] ichekrygin commented on #38774
Hi, just FYI: `v1.5.2` has the same issue

[2017-01-17 20:13] cemo commented on #29298
@JayBee6 @cyberroadie

I had given a try today and found that two errors of mine. I prepared my environment by Terraform and kubeadm.
1. In kubeadm I missed add to aws provider configuration.
2. I have checked [aws.go] source codes and found that it has some parts related to subnet configurations. (https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L70-L72)

[2017-01-17 20:22] calebamiles commented on #39942
Hello @fjammes, I believe that issues against `kubeadm` should be filed [here](https://github.com/kubernetes/kubeadm). Thanks!

**cc: @luxas, @mikedanese**

[2017-01-17 20:22] JayBee6 commented on #29298
@cemo did you create the loadbalancers manually? if yes then you might have to. I have the following tags in my instances.

KubernetesCluster : clustername
kz8s : clustername

[2017-01-17 20:23] mrunalp commented on #38854
@yujuhong I have no problems in migration cri-o to proto 3. Thanks!

[2017-01-17 20:24] calebamiles commented on #39892
**cc: @kubernetes/sig-docs-misc**

[2017-01-17 20:27] cemo commented on #29298
@JayBee6 I have exposed my kubernete service as a loadBalancer. It created an AWS ELB but instances were not attached to it. I manually attached instances and everything started to work.

[2017-01-17 20:40] yujuhong commented on #38854
Thanks for offering! @feiskyer already has a PR for doing this: #39158, but it doesn't address the points in https://github.com/kubernetes/kubernetes/issues/38854#issuecomment-272045791. @yifan-gu do you want to help review the PR?

[2017-01-17 20:49] yifan-gu commented on #38854
@yujuhong Sure, will review in the afternoon.

[2017-01-17 20:52] jingxu97 commented on #39910
@gnufied
I just checked a PR related to this #38818. I think after this PR, the wrong volume is mounted behavior will be changed since the device path will not be reused immediately.
To reproduce the issue, we have to do the steps as follows
1. Create two AWS volumes v1, create pods p1 and p2 which attach v1, check the attach device path
2. Reboot the node, create volume v2 and manually attach v2

[2017-01-17 21:05] shyamjvs commented on #40021
@deads2k Thanks a ton for PRs #40028 and #40035 . Once we have them both merged into the code, this issue can be closed.

[2017-01-17 21:06] lavalamp commented on #39758
Oh, you think you'll want to set loglevel differently for different
apiserver replicas? I guess I can imagine a situation where that would be
useful, but it seems like it'll be pretty rare?

On Fri, Jan 13, 2017 at 1:19 PM, David Eads <notifications@github.com>
wrote:

[2017-01-17 21:09] lavalamp commented on #39979
I would like these to be fully reusable setting only command line options
but I don't have time to fix them, unfortunately.

On Mon, Jan 16, 2017 at 7:50 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-17 21:12] svend commented on #37854
@gnufied Initial testing looks good. I've been able to move the PV between nodes using the same steps I listed above. Here are the versions that are working.

[code]

[2017-01-17 21:20] grosskur commented on #35317
I'm seeing a similar problem on GKE 1.5.1. The behavior is:

1. Two pods are scheduled (in two separate replica sets) in an auto-scaling GKE cluster with a `podAntiAffinity` rule preventing them from running on the same node.

2. GKE scales up the cluster by adding an additional node.

3. The first pod gets scheduled and transitions into `Running`, but the second pod never gets scheduled and stays

[2017-01-17 21:32] calebamiles commented on #40027
Great @foxylion! We (CoreOS) are almost finished waiting for responses to our etcd user survey that will hopefully address topics the operational lifecycle of an etcd cluster for kubernetes

[2017-01-17 21:34] calebamiles commented on #39262
Closing this issue @apachemycat. Please re open if your issue has not been addressed or add a comment linking to any additional information that others with a similar question might find useful. Thanks!

[2017-01-17 21:34] #39262 closed

[2017-01-17 21:38] xiang90 commented on #40027
@calebamiles We are working on the documentation here: https://docs.google.com/document/d/16ES7N51Xj8r1P5ITan3gPRvwMzoavvX9TqoN8IpEOU8/edit?usp=sharing.

AWS specific doc should be based on this documentation.

[2017-01-17 21:53] ixdy commented on #39229
@fejta @krzyzacy can you advise?

[2017-01-17 21:53] ixdy commented on #39229
@kubernetes/test-infra-maintainers

[2017-01-17 22:03] krzyzacy commented on #39229
Does it want something like what we did with kopeio/azure, where you add your ci job to testgrid so you can monitor it? Or should we somehow make our Jenkins agents support s390x?

[2017-01-17 22:12] davidopp commented on #25319
Before this can be considered complete (at Beta) we need to search for and remove all instances of "api.AffinityAnnotationKey", "AffinityAnnotationKey", and "scheduler.alpha.kubernetes.io/affinity" in the codebase.

[2017-01-17 22:13] liggitt commented on #38784
Yes. Your options are to disable anonymous auth and/or enable kubelet authorization. Before disabling anonymous auth, you must give your apiserver a credential to use to speak to the kubelet as documented in https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authentication

[2017-01-17 22:13] lavalamp commented on #38949
I agree w/ @liggitt. Moving away from the TTL would make for a much more complicated and resource-intensive system.

[2017-01-17 22:13] davidopp commented on #25320
Once we think the work is done, we need to verify that no instances remain in the codebase of the strings "TolerationsAnnotationKey", "api.TolerationsAnnotationKey", "scheduler.alpha.kubernetes.io/tolerations", "TaintsAnnotationKey", "api.TaintsAnnotationKey", "scheduler.alpha.kubernetes.io/taints"

[2017-01-17 22:14] ixdy commented on #36843
@andronat can you provide more details? where were you calling `hack/update-bazel.sh` from when it failed? what is your GOPATH set to?

[2017-01-17 22:14] Random-Liu commented on #40021
@deads2k Cool. And thanks a lot for sending the PR.

[2017-01-17 22:16] aveshagarwal commented on #25320
@davidopp Yeah sure. Though this PR https://github.com/kubernetes/kubernetes/pull/38957 has already removed them. So I will update this PR after forgiveness related work is merged.

[2017-01-17 22:29] GnawNom commented on #39906
Sample case to reproduce the issue
[code]

pkidef.json:
[code]

pkiobj.json:
[code]

[2017-01-17 22:30] spxtr commented on #36843
Are you using the latest version of gazel?

[2017-01-17 22:34] derekwaynecarr commented on #34629
not supporting a transition from LoadBalancer -> xyz would solve a lot of problems.

@pmorie -- lets catch up on this tomorrow.

[2017-01-17 22:37] drywheat commented on #2630
I agree with @haf regarding his "hand forcing" comment.

As an example, the `kube-aws` tool allows users to configure an auto-attached NFS drive to all of the workers during cluster provisioning. So, by default, every single worker has an AWS EFS drive mounted to **/efs** when it comes online (uses cloud-init under the hood to accomplish this). Admins can then create shared storage PVs by pointing

[2017-01-17 22:38] #39891 closed

[2017-01-17 22:43] hongchaodeng commented on #38113
Can you clarify more on this? Any references?

[2017-01-17 22:46] andronat commented on #36843
@ixdy sorry for this. Here you go:

I'm running in a Vagrant Centos 7 VM and I'm loading the files through NFS v3. I don't know if this is an issue.
[code]

@spxtr gazel version:
[code]

[2017-01-17 22:51] mikedanese commented on #39942
https://github.com/kubernetes/kubeadm/issues

[2017-01-17 22:51] #39942 closed

[2017-01-17 22:55] ixdy commented on #36843
@andronat what go version are you using?

[2017-01-17 22:59] andronat commented on #36843
@ixdy
[code]

[2017-01-17 23:04] andronat commented on #36843
btw, i am on master branch... 😲
[code]

[2017-01-17 23:08] ixdy commented on #36843
@mikedanese have any idea what's going on here? it almost seems like the `vendor/` dir is being ignored?

[2017-01-17 23:08] lavalamp opened #40043 "Building a release should update the staging directory"
Now that we have moved some code such that it's built out of the staging directory, we should probably update binary and/or release building steps to update the staging directory, or folks' changes won't propagate like they expect. (@cheftako just hit this while changing the labels package.)

@deads2k

[2017-01-17 23:10] ymqytw commented on #39906
@GnawNom Thanks for your sample. I'm working on it.

[2017-01-17 23:11] mtaufen opened #40044 "Can we remove --minimum-container-ttl-duration, --maximum-dead-containers-per-container, --maximum-dead-containers?"
These kubelet flags:
[code]
are all marked deprecated, and have been since 1.4.

But IIRC, `--eviction-hard` and `--eviction-soft` only affect eviction of Pods and image GC, not container GC. Is the eviction manager also intended to trigger container GC? Can these safely be removed? At a glance it looks like they are currently used to set up something that deletes dead containers out-of-band from

[2017-01-17 23:38] xsgordon commented on #14809
Despite its age I believe this is still a valid issue.

[2017-01-17 23:40] xsgordon commented on #20146
@idvoretskyi looks like this was only re-opened due to getting name dropped in https://github.com/kubernetes/kubernetes/issues/26527 - I think we can close this one as 26527 remains open for tracking.

[2017-01-17 23:43] MichaelJCole commented on #13892
FWIW, I used the nginx ingress on AWS and GCE.  I don't understand the platforms deeply, but this got me what I wanted: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx

[2017-01-17 23:46] k82cn commented on #39922
@AdoHe , @kargakis is right; or you can run with full path `make check WHAT=k8s.io/kubernetes/plugin/pkg/scheduler/schedulercache KUBE_COVER=y` .

[2017-01-18 00:06] mtaufen opened #40049 "Remove APIServerList from the Kubelet"
I would remove this right now, as it has been marked deprecated since 1.4. However, as `(len(s.APIServerList) == 0 && !s.RequireKubeConfig)` is the criteria for enabling standalone mode on the Kubelet, a replacement flag needs to be around for two versions before the deprecated flag can be removed. I will post a PR for 1.6 to add the replacement `--standalone` flag (unless @kubernetes/sig-cluster-

[2017-01-18 00:10] spxtr commented on #37689
Sorry, I didn't see this when you opened it. In the future, please open these issues against test-infra.

[2017-01-18 00:10] #37689 closed

[2017-01-18 00:12] mtaufen commented on #40049
xref: https://github.com/kubernetes/kubernetes/pull/40050

[2017-01-18 00:13] ixdy commented on #39229
I think the former - Google doesn't have any s390x hardware.

[2017-01-18 00:27] bgrant0607 commented on #17333
@thockin @jbeda @pwittrock

`spec` is the actual state in all current APIs. Let's not change that, since it's not possible to do in a backward-compatible way. What we need is a first-class API mechanism to replace the `last-applied-configuration` annotation -- the declaratively configured state. It needs to include metadata such as labels and annotations as well as fields that are currently part o

[2017-01-18 00:30] liggitt commented on #40049
Hmm. Is the default path for --kubeconfig the issue? Seems like if --kubeconfig had no default, it's absence would mean standalone and presence would replace --require-kubeconfig

[2017-01-18 00:30] feiskyer commented on #38854
Will update to wrapped types later today.

[2017-01-18 00:37] jimmycuadra commented on #39178
I'm afraid I can't confirm that adding the `KubernetesCluster` tag with a unique value per cluster results in the behavior I'd expect. I've tagged our clusters accordingly, restarted the Kubernetes components (apiservers, controller managers, and schedulers), and created a new stateful set with the same configuration from the issue description, but Kubernetes still creates the PV in us-east-1a des

[2017-01-18 00:44] Random-Liu commented on #38854
I'll run some more test against proto3, and post more result.

[2017-01-18 00:48] vishh commented on #40044
Yes. They can be removed.

[2017-01-18 00:56] yujuhong opened #40051 "CRI in-place upgrade testing"
We recommend users to drain the node before upgrade kubelet to use the CRI implementation. However, if user chooses to upgrade kubelet in-place, kubelet should stop (and later remove) old containers and create new ones. We need to add this feature to kubelet, and perform manual upgrade testing.

/cc @Random-Liu

[2017-01-18 01:00] jayunit100 commented on #33188
Closing in favor of https://github.com/kubernetes/kubernetes.github.io/issues/2276

[2017-01-18 01:10] jayunit100 commented on #33188
I guess i should reopen, since technically this is a 1.6. issue.

[2017-01-18 01:17] bgrant0607 commented on #15894
@pwittrock Has the apply design, described in this issue, been documented anywhere?

[2017-01-18 01:52] pwittrock commented on #15894
@bgrant0607 Not yet, but it is something I am working on.  I have 5 PRs planned for kubectl.

1. Overview of commands vs basic resource config vs resource config with apply.  Sent for review in #2274
2. In depth explanation of commands
3. In depth explanation of basic resource config
4. In depth explanation of resource config with apply
  - Includes elements of apply design
5. Several kubectl task

[2017-01-18 02:05] yujuhong commented on #35747
I vote for deprecating the nsenter exec handler for docker. `docker exec` has been the default exec handler since kubernetes pre-1.0. Is there any reason (or use case) for keeping the pluggable exec handler?
Another question is that whether we can drop `nsenter` exec in one release, or we need to provide support in CRI for at lease one more release.

/cc @kubernetes/sig-node-misc @thockin @ncdc

[2017-01-18 02:11] tianshapjq opened #40053 "why "kubectl port-forward" just binds the 127.0.0.1 but not 0.0.0.0?"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
port-forward
---

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1+82450d0", GitCommit:"79113147d3cacf4a3c07d13bddff5aa7c0f3fe98", GitTreeState:"dirty", BuildDate:"2017-01-16T03:40:49Z

[2017-01-18 02:12] colemickens commented on #40053
dupe of: https://github.com/kubernetes/kubernetes/issues/36152

[2017-01-18 02:15] wangzhuzhen commented on #39294
hi @mootezbessifi
“queue size exceeds limit” means your ES cluster can not catch up the speed that fluentd send logs to it. There are two ways can solve this problem: (1) increase the buffer_queue_limit and buffer_chunk_limit to increase buffer size of fluentd output; (2) increase the number of your ES nodes. And the (2) may be the best choice.

[2017-01-18 02:26] timothysc commented on #25319
I'll PR that hopefully tomorrow - https://github.com/kubernetes/kubernetes/issues/40016

[2017-01-18 02:29] tianshapjq commented on #40053
thanks~ @colemickens

[2017-01-18 02:33] smarterclayton commented on #38949
Actually, since we are already watching most things on the cluster, and we
have the local watch cache, events might actually be less impactful for the
server if we did GC.

Also, in v2 TTL is more expensive than not having TTL, and in v3 I believe
it's still marginally more expensive (correct me if I'm wrong on this).

Having a local events cache would potentially make event compaction and
event u

[2017-01-18 02:34] liggitt commented on #38949
not for events

[2017-01-18 02:37] jianzhangbjz commented on #39934
Yes, thanks very much.

[2017-01-18 02:59] mqliang commented on #39048
Sorry for the late. Could you please kindly add me back? I have enabled 2-factor auth

[2017-01-18 03:00] hacktastic opened #40054 "[OS Load Balancers] Allow Service Annotations to override the settings specified in --cloud-config"
As a developer who deploys on a kubernetes-on-openstack private cloud, I would like to be able to specify certain load balancer settings at the Service level rather than the cluster level.

At present, there is no way to specify which Provider a load balancer is created under. You can specify the following settings in the "[LoadBalancer]" section of your --cloud-config file, which will control the

[2017-01-18 03:03] hacktastic commented on #40054
label:sig/openstack

[2017-01-18 03:03] hacktastic commented on #40054
@sig/openstack

[2017-01-18 03:04] hacktastic commented on #40054
@xsgordon could you please label this with sig/openstack? I'm not sure if I have permission to add labels here.

[2017-01-18 03:15] nikhilmahesh opened #40056 "Not able to set securityContext privileged to true in resource controller file"
I am not able to set securityContext privileged to true in resource controller file.

**rc.json**

[code]

**Error :**

json: line 34: invalid character '}' looking for beginning of object key string

[2017-01-18 03:24] krzyzacy commented on #39229
You can run your test and upload the result to a gcs bucket, then add config like [kopeio](https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L846-L852) to testgrid, then you will be able to monitor your job runs from [testgrid](https://k8s-testgrid.appspot.com/).

[2017-01-18 03:27] eparis commented on #39048
@mqliang done.

[2017-01-18 03:29] mqliang commented on #39048
@eparis thanks!

[2017-01-18 03:56] fuzzyhandle commented on #39282
Right. flannel works. Having issues with weave.
I am OK with flannel, so going to dump weave and continue using flannel

[2017-01-18 04:07] liggitt commented on #40056
You have a trailing comma after the securityContext stanza, which isn't allowed in JSON

[2017-01-18 04:07] #40056 closed

[2017-01-18 04:07] #40053 closed

[2017-01-18 04:11] liggitt commented on #40019
The values don't get populated in the API definition, only in the runtime environment

[2017-01-18 04:11] #40019 closed

[2017-01-18 04:14] liggitt commented on #39937
Dupe of https://github.com/kubernetes/kubernetes/issues/39822

Fixed in master, cherry pick open to the 1.5.x branch and will be fixed in the next point release

[2017-01-18 04:14] #39937 closed

[2017-01-18 04:15] liggitt commented on #39937
https://github.com/kubernetes/kubernetes/issues/39888 will fix in 1.5.x

[2017-01-18 04:19] smarterclayton commented on #38949
Heapster and OpenShift both end up calling List and Watch, so are we
gaining anything by not having it?  A flyweight cache might be another
option for events - story only last touch time.

On Tue, Jan 17, 2017 at 9:35 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-01-18 04:19] JackTiger opened #40058 "After Mounting configmap as volume I can not mount other volumes like hostpath or emptydir"
Here is the yaml I'm working with:

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: core-deployment
spec:
  replicas: 2
  template:
    metadata:
      name: core
      labels:
        app: core
    spec:
      containers:
        - name: core
          image: gcr.io/infrastructure-1373/hello-node:v3
          ports:
            - containerPort: 5000
          volumeMounts:

[2017-01-18 04:30] JackTiger commented on #40058
I know the reason ,I have create two volumeMounts, the last one overwrite the first one.

[2017-01-18 04:30] #40058 closed

[2017-01-18 04:35] feiskyer commented on #35747
+1 for docker exec.

[2017-01-18 04:41] liggitt commented on #39712
I don't anticipate a hard coded kube-system authorizer. I think the general solution is to run with authorization on and do day to day tasks in namespaces other than kube-system.

[2017-01-18 04:44] liggitt commented on #39599
I don't think there are immediate plans to change this. @derekwaynecarr can confirm and close

[2017-01-18 05:11] #39717 closed

[2017-01-18 05:28] geojaz opened #40061 "Docker Vulnerability CVE-2016-9962"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** Docker/CVE
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug/Potential Problem Report

Please see Docker CVE-2016-9962 related to insecure opening of file-descriptor allows privilege escalation.

Which version of docker are we working with? Do we have a plan to upgrad

[2017-01-18 05:38] thockin commented on #34629
I don't see how we can make such a change with the compat guarantees in
place.

On Tue, Jan 17, 2017 at 2:35 PM, Derek Carr <notifications@github.com>
wrote:

[2017-01-18 05:59] thockin commented on #31929
@bowei is this done now?

[2017-01-18 05:59] #20003 closed

[2017-01-18 06:10] chengzhang1016 opened #40062 "Display wrong imageID in pod yaml while node have same image but pulled from different repos"
Description of problem: Display wrong imageID in pod yaml while node have same image but pulled from different repos

Version-Release number of selected component (if applicable):
This bug should exist in after kubernetes 1.4, relate trello card: https://trello.com/c/HOWz6ejY

How reproducible:
Always

Steps to Reproduce:
1. Select a schedulabled node and pull image: docker.io/deshuai/hello-pod:la

[2017-01-18 06:14] smarterclayton commented on #34629
Security?  You can DOS an entire cluster just by flipping that value back
and forth...

On Wed, Jan 18, 2017 at 12:38 AM, Tim Hockin <notifications@github.com>
wrote:

[2017-01-18 06:19] chengzhang1016 commented on #40062
@DirectXMan12 Could you help to confirm? Thanks.
@derekwaynecarr @mdshuai

[2017-01-18 06:19] thockin commented on #34629
We can apply hysteresis if we need.

On Tue, Jan 17, 2017 at 10:15 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-18 06:27] nikhilmahesh commented on #40056
@liggitt : Thanks, I mistakenly added a  trailing comma, worked now.

[2017-01-18 06:29] thockin commented on #28525
w00t!  closing this, then.

[2017-01-18 06:29] yuexiao-wang commented on #39559
@resouer All right. I will do it. Thanks

[2017-01-18 06:36] workhardcc commented on #36745
I have the same issue in 1.5.1.
Seems --require-kubeconfig default value is false?

[2017-01-18 07:26] bowei commented on #31929
It currently uses client-go, but not the versioned one -- opened issue https://github.com/kubernetes/dns/issues/35

[2017-01-18 07:31] wojtek-t commented on #38949
gaining anything by not having it?

If there is exactly one watcher of all events, we don't gain pretty much anything from having events from cache (this starts to be useful if there are multiple watchers and/or we are e.g. serving lists from memory).

have the local watch cache, events might actually be less impactful for the
server if we did GC.

I think this may be close to true if we do garbag

[2017-01-18 07:31] airstand opened #40063 "kube-dns should be replicated more than two times"
Hello,
During my conversation with @justinsb , we agreed that kube-dns pod should be replicated on more than one node.

Till now, kube-dns is running just on a single node and if that node comes down the whole cluster is unable to make any DNS queries.

There was some test cases on my side that all of the other nodes inside the cluster are overloaded and kube-dns is not able to fit any of these no

[2017-01-18 08:06] johnparn commented on #39798
@kargakis That is right on spot! I had about 200 replicasets lying. Now I have applied the revisionHistoryLimit and I may perhaps destroyed any evidence on the way then. But which controller did you want the logs from (I'm on Google Container engine)?

For anyone else running into this problem, this is what the _deployment.yaml_ looks like with the new  _revisionHistoryLimit_ attribute:

[code]

[2017-01-18 08:32] structbinary opened #40067 "Unable to register node with API server x509: certificate signed by unknown authority"
I am configuring kubernetes cluster in a secured way. Created tls certificates by following this url
[code]
My apiserver configuration are as follows-
[code]

and my kubelet configuration is -
[code]

When i start the kubelet  service it doesn't get registered with the apiserver. Here is the log
[code]
I am using the 1.4.7 release version of kubernetes

[2017-01-18 08:35] AlexLast commented on #40063
Thanks for reporting @airstand I've also seen this issue.

[2017-01-18 08:50] JeanMertz commented on #40063
We've seen the same issues happening. This also makes running preemptible clusters on GKE impossible, because you'll experience cluster-wide DNS outage when a node is swapped for a new one.

In the mean time, we've updated the `kube-dns-autoscaler` ConfigMap to scale the dns deployment to a minimum of two pods, instead of one.

[2017-01-18 09:01] JeanMertz opened #40068 "ReplicaSets not removed, even with revisionHistoryLimit set"
We've been seeing replicasets going way above the specified `.spec.revisionHistoryLimit`.

[code]

We've removed all these excess replica sets, but they keep coming back. We are aware of https://github.com/kubernetes/kubernetes/issues/23597, that's why we set a default for _all_ deployments that we create.

We use a CD flow to deploy (multiple times per day), so these leaked RS' are growing quite

[2017-01-18 09:30] jsafrane opened #40070 "Create a default StorageClass for vSphere"
We'd like to deprecate alpha provisioning in 1.6. In order to make current deployments working after upgrade to 1.6 we need to deploy a default StorageClass as part of installation/upgrade on vSphere so it will automatically provision volumes for PVCs marked with annotation `volume.alpha.kubernetes.io/storage-class` - the annotation will be ignored and default storage class must provision the volu

[2017-01-18 09:30] jsafrane commented on #40070
cc @abithap @abrarshivani

[2017-01-18 09:40] jsafrane opened #40071 "Create a default StorageClass for Azure"
We'd like to deprecate alpha provisioning in 1.6. In order to make current deployments working after upgrade to 1.6 we need to deploy a default StorageClass as part of installation/upgrade on Azure so it will automatically provision volumes for PVCs marked with annotation `volume.alpha.kubernetes.io/storage-class` - the annotation will be ignored and default storage class must provision the volume

[2017-01-18 09:40] jsafrane commented on #40071
Assigning to random Microsoft personnel for faster routing to proper person.

[2017-01-18 09:46] jsafrane opened #40072 "Create a default StorageClass for Photon"
We'd like to deprecate alpha provisioning in 1.6. In order to make current deployments working after upgrade to 1.6 we need to deploy a default StorageClass as part of installation/upgrade on Photon so it will automatically provision volumes for PVCs marked with annotation `volume.alpha.kubernetes.io/storage-class` - the annotation will be ignored and default storage class must provision the volum

[2017-01-18 09:48] airstand commented on #40063
We are not able to change ConfigMap in case we are using kops to deploy the whole cluster.

[2017-01-18 09:54] kargakis commented on #39798
Not sure how to retrieve logs from GCE but looking at the logs from the controller manager would verify that this is likely a dupe of https://github.com/kubernetes/kubernetes/issues/29735. The cleanup of the old replica sets doesn't matter.

[2017-01-18 10:09] matthyx commented on #13501
There is a pull request for that:
https://github.com/kubernetes/kubernetes/pull/40073

[2017-01-18 10:09] andrewwebber commented on #39816
I have the same issue when launching an etcd cluster with the coreos etcd-operator. If causes the api server to run out of disk space as it logs infinitely.

I have to keep restart the controller container to reclaim disk space.
From a security point of view this means a tenant of a cluster can bring the whole cluster down.

[code]

[2017-01-18 10:26] zhouhaibing089 commented on #40067
This indicates that the certificates sent by kube-apiserver is not recognizable by kubelet, you can take a look at the kubeconfig which kubelet uses: `/etc/kubernetes/secrets/kube.config`, specifically, see whether you have the correct `certificate-authority-data` set.

[2017-01-18 11:37] kargakis commented on #40068
@JeanMertz if you applied `revisionHistoryLimit` after the fact that your deployment (may) have broken, it may not get cleaned up because it's blocked while trying to deploy (see https://github.com/kubernetes/kubernetes/issues/29735). Or are you seeing this issue with net-new deployments where the field is set from scratch? Can you paste logs from the controller manager? (I am not sure how to get

[2017-01-18 11:39] nickschuch opened #40074 "CronJob fails to operate with client-go"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

_Operation cannot be fulfilled on jobs.batch_

---

**Is this a BUG REPORT or FEAT

[2017-01-18 11:57] fanhaozzu opened #40076 "That's why just only update spec.template.containers field for StatefulSet"
The only other field of a StatefulSet that can be updated is the spec.template.containers field.

[2017-01-18 11:57] fanhaozzu opened #40077 "That's why just only update spec.template.containers field for StatefulSet"
That's why just only update spec.template.containers field for StatefulSet

[2017-01-18 11:58] fanhaozzu opened #40078 "That's why just only update spec.template.containers field for StatefulSet"
That's why just only update spec.template.containers field for StatefulSet

[2017-01-18 11:58] fanhaozzu opened #40079 "That's why just only update spec.template.containers field for StatefulSet"
That's why just only update spec.template.containers field for StatefulSet

[2017-01-18 12:03] mootezbessifi commented on #39294
@wangzhuzhen thanks a lot for your quick answer.
BTW i have a cluster with 2 CentOS 7 nodes. and an ES cluster with 2 replicas.
i am using kubernetes v1.2.0 on the master and v1.2.4 on the nodes
i used the following sources:
kibana and ES :
https://github.com/kubernetes/kubernetes/tree/v1.4.6/cluster/addons/fluentd-elasticsearch
fluentd
https://github.com/kubernetes/kubernetes/blob/master/cluster/

[2017-01-18 12:12] wangzhuzhen commented on #39294
hi, @mootezbessifi
If so, may be the speed that fluentd read log to buffer is too high and the size of your fluentd buffer is not enough.  You can modify your fluentd's config file /etc/td-agent/td-agent.conf to increase buffer size:

<match **>
  @type elasticsearch
  log_level info
  include_tag_key true
  host elasticsearch-logging
  port 9200
  logstash_format true
  buffer_type memory
  flush

[2017-01-18 12:18] #40077 closed

[2017-01-18 12:18] #40078 closed

[2017-01-18 12:19] #40079 closed

[2017-01-18 12:19] kargakis commented on #40076
@fanhaozzu it's not clear what is the issue you are reporting here. Please reopen with more information.

[2017-01-18 12:19] #40076 closed

[2017-01-18 12:52] structbinary commented on #40067
my kube.config looks like this
[code]

[2017-01-18 13:30] peay commented on #36311
@soltysh I just thought of something which might make sense.

We've modified the error message to make it more "actionable", and the user can set a deadline to avoid running into this. However, the error message is still only controller level AFAIK and thus not exposed to the user. From the user's perspective, there is not way to tell why the CronJob is not scheduling the next instance.

For these

[2017-01-18 13:43] deads2k commented on #40043
@lavalamp only client-go has the unusual, "I need to copy and mutate stuff" problem.  The staging directory for everything else is authoritative.  Because of what client-go does around re-vendoring, it needs to be done *after* changes to apimachinery have propogated through the owning repo.

Being able to call https://github.com/kubernetes/apimachinery/blob/master/hack/sync-from-kubernetes.sh on t

[2017-01-18 14:00] ensonic commented on #40019
Thanks for the quick reply - I think this is confusing, maybe don't show the variables then either? Also is this documented?

[2017-01-18 14:11] zhouhaibing089 commented on #40067
what's the result of:

[code]

[2017-01-18 14:15] sswierczyna commented on #39926
On version **1.5.2.** everything is running ok, same as **1.4.7**

[2017-01-18 14:15] #39926 closed

[2017-01-18 14:17] AdoHe commented on #39922
Ok, I will try this

[2017-01-18 14:18] #39952 closed

[2017-01-18 14:24] mtaufen commented on #40049
The issue is more that an alternative way for specifying standalone mode hasn't been in place for the same period of time that APIServerList has been deprecated, so even though people have been told not to use it, there is really no alternative for enabling standalone mode.

As far as how we provide an alternative, I'd rather be explicit with the setting. It's more clear to users.

[2017-01-18 14:30] gmarek commented on #39893
It only deletes if cloud provider will tell us that the Node is gone. This is done in a polling loop, so if something recreates a Node with the same name very quickly then we'll just assume it's fine, and just put all Pods we think belong there.

That being said, I don't think any reason why using UIDs would be a bad idea in general. I'm only slightly afraid of making the change, as bug in it migh

[2017-01-18 14:30] deads2k commented on #39758
In a past life, I'd do it in one of two cases:
 1. one particular server starts doing crazy things and I wanted to figure out why
 2. I needed to debug an HA system but the logging is heavy-weight and need overall system response time to remain good.

Both were pretty common when things went bad.

[2017-01-18 14:33] liggitt commented on #39893
We reference nodes in the API using name, not uid, which means anything that needs to form this fully-qualified type will be doing node lookups to get the UID (which defeats the purpose of making it detect node deletion/recreation, right?)

[2017-01-18 14:38] wojtek-t commented on #40015
After fixing the roles for hollow kube-proxy, it seems much better:
[code]

Though 23GB used by ``` RulesFor ``` still seems quite a lot...

[2017-01-18 14:41] alfirin commented on #39941
@justinsb We to created different instance group.
We just had to shut-down every instances.
Because `kops rolling-update cluster --name <clustername> --yes ` does not apply the labels to the existing nodes.

That was a kops problem.

Thanks a lot for your help guys.

PS I will check or create a new kops issue.

[2017-01-18 14:50] #39941 closed

[2017-01-18 14:51] xsgordon commented on #40054
I actually don't either, @idvoretskyi can you do the honors?

[2017-01-18 14:51] munjalpatel commented on #29903
I am also having similar issues on Google Container Engine.
Here are the errors in the "Replica Set" view:

I have a 3 node cluster in Google Container Engine. 2 of 3 nodes are preemptible. This error happens every 24 hours or so when the nodes get removed and created again. But if I manually delete one of the preemptible node to test the failover, I have so far not seen these errors.

Here is my

[2017-01-18 14:58] sswierczyna opened #40084 "vSphere Cloud provider: wrong vm path when using multiple working-dir"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
VMWare virtual machine
- **OS** (e.g. from /etc/os-release):
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1235.6.0
VERSION_ID=1235.6.0
BUILD_ID=2017-01-10-0545
PRETTY_NAME="Container Linux by CoreOS 1235.6.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https:/

[2017-01-18 15:02] gnufied commented on #37854
@svend cool. let me know if you can reproduce this problem and if you do manage with latest patch - post logs and reproduction steps etc. thank you.

[2017-01-18 15:05] jwforres opened #40085 "Regular expression for limit validation fails on scientific notation with units"
kubernetes version v1.5.2

If you use a resource request / limit with scientific notation plus a unit it will fail the regex that is doing validation.

Example of what is being posted:

[code]

Error being returned:
[code]

You can see clearly in the regular expression that it can't handle scientific notation with a unit.

[2017-01-18 15:06] jwforres commented on #40085
@smarterclayton @derekwaynecarr

cc @spadgett

[2017-01-18 15:09] jwforres opened #40086 "Error messages on limit validation can normalize to messages that are not user friendly"
kubernetes v1.5.2

Example, the request being made asked for 0.01Ti:
[code]

There is a limit range in this namespace that has min/max for the storage resource set to 1Gi, the error message that comes back in this case looks like:

[code]

The error message should contain what was sent over the API by the end user, not the normalized form.

[2017-01-18 15:09] jwforres commented on #40086
@derekwaynecarr @smarterclayton

cc @spadgett

[2017-01-18 15:43] mikedanese commented on #40049
This is related to https://github.com/kubernetes/kubernetes/issues/30515 cc @smarterclayton

[2017-01-18 15:54] justinsb commented on #40061
cc @dchen1107

[2017-01-18 16:27] alikhajeh1 commented on #28454
@aga20 did you find a way to use gluster encrypted volumes with k8?

[2017-01-18 17:07] MikeSpreitzer opened #40090 "`build/run.sh make clean` fails"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): build/run.sh make clean

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose on

[2017-01-18 17:09] #30240 closed

[2017-01-18 17:09] #30752 closed

[2017-01-18 17:36] shyamjvs commented on #40021
@deads2k I still see some RBAC DENYs in the logs of kubemark apiserver (that pop up even after the roles/bindings are propagated):
[code]

[2017-01-18 17:42] kargakis commented on #28454
@kubernetes/sig-storage-misc

[2017-01-18 17:50] ankon opened #40091 "kubectl get storageclasses --all-namespaces mixes columns"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
- kubectl storageclass
- kubectl storageclasses

---

**Is this a BUG REPORT or FEAT

[2017-01-18 17:53] xiang90 commented on #39816
@kargakis Why the target fix is in 1.6 not a patch release for 1.5?

[2017-01-18 17:59] liggitt commented on #39816
I would not anticipate the garbage collector actually enabling support for TPRs in 1.5, but the bug that causes it to become unresponsive when it sees an ownerRef of an unknown type should be fixed

[2017-01-18 18:06] rootfs commented on #28454
@humblec

[2017-01-18 18:07] kargakis commented on #39816
Changed the milestone to 1.5

[2017-01-18 18:08] xiang90 commented on #39816
@liggitt

I agree. I do not expect the gc to work with TPR either. But it should not "kill" controller manager. And it is the issue we should fix in 1.5. We can make GC work for TPR in 1.6.

[2017-01-18 18:13] gnufied commented on #40029
There is another ticket https://github.com/kubernetes/kubernetes/issues/39657

[2017-01-18 18:17] joejulian opened #40092 "Docker api client does not support TLS authentication"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
tls docker

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug repor

[2017-01-18 18:29] timothysc commented on #38949
From a feature perspective, I consider everything discussed here to be near 0 sum gain, or a band-aide type of solution that breaks down under multiple scenarios.

If the overall user-story is to provide a history service to glean meaningful insights into the behavior of pods, then I would contend that is a separate service, which is out of core.  There is nothing today that prevents a operator fr

[2017-01-18 18:32] #40092 closed

[2017-01-18 18:35] wojtek-t commented on #40015
@shyamjvs - if you have free cycles, maybe you can look into this (i.e. why rbac validation is allocating tens of GB of memory).

[2017-01-18 18:36] wojtek-t commented on #40015
My feeling is that we may be doing some unnecessary copies somewhere, and we may save a lot just from some simple change.

[2017-01-18 18:46] wojtek-t commented on #39589
@hongchaodeng - did you verify that it now works correctly? To be honest I didn't have time to do it yet.

[2017-01-18 18:48] krzyzacy commented on #39229
I would say it does not have to be on jenkins -
Create your own jobs/foo.sh, make a cronjob which checkouts test-infra and then runs jenkins/bootstrap.py with proper flags should work? @fejta am I correct?

[2017-01-18 18:49] #38404 closed

[2017-01-18 18:49] #38099 closed

[2017-01-18 18:49] #38070 closed

[2017-01-18 18:50] #38046 closed

[2017-01-18 18:50] #38029 closed

[2017-01-18 19:12] shyamjvs commented on #40021
@deads2k I looked into the above issue, and given that we have the following role:

[code]

and the following binding:

[code]

it is strange that we still see these RBAC DENYs. Could it be because the real cluster on which I'm running kubemark cluster had been started long back (when probably abac was doing the rounds)? I would still hope to not see these msgs as the kubemark master itself is qui

[2017-01-18 19:13] metral commented on #30518
@justinsb Are there any updates to support the integration of AWS ALB's in k8s? Specifically, is the IngressController implementation bubbling up as the desired approach for this?

Thanks!

[2017-01-18 19:15] andrewwebber commented on #39816
For me this is currently a DOS attack

[2017-01-18 19:16] gnufied commented on #39722
The user experience is still weird here IMO. I booted a cluster via `./kube-up.sh` and it presents me with those grafana, heapster  urls and there is little or no documentation about how I can access them.

Just clicking those urls presents me with - "User "system:anonymous" cannot proxy services in the namespace "default"." error.

If kubernetes knows that the grafana, heapster urls that it is pr

[2017-01-18 19:19] jingxu97 commented on #39893
This issue is related to a problem on storage.
When a node is terminated, the volumes attached to that node will be in detached immediately. However, the volume manager on master node will not notice this change and will continue to use the outdated information if the node comes back very soon.
Because of this issue, we add periodic checking on cloud provider to see whether the volumes are still a

[2017-01-18 19:22] foxish commented on #39722
From a UX perspective, I think instead of printing those URLs, we should be recommending that `kubectl proxy` be run and then those endpoints be accessed through the local proxy.

[2017-01-18 19:25] lsjostro commented on #33061
+1 on this.
Same goes for k8s v1.5.2. Detach never happens when powering off a node with PVs attached.
Disks has to be manually detached before being able to turn on the node again.

[2017-01-18 19:26] jayunit100 commented on #35555
this is done with the reasons and event squashing PRs above.

[2017-01-18 19:26] #35555 closed

[2017-01-18 19:29] shyamjvs commented on #40015
@wojtek-t Sure, I can look into this.

[2017-01-18 19:29] jayunit100 commented on #20064
@davidopp this is all i did, not a huge change:  feel free to keep open or make new issues as needed.

run something like:
[code]
and get the scheduling failures listed in conditions:
[code]

[2017-01-18 19:30] #39847 closed

[2017-01-18 19:39] ymqytw commented on #39906
@liggitt Created a PR #40096 to fix this issue in 1.4.

But in branch 1.5 and master, apply breaks without reaching the code introduced in #38982. So #40096 is not enough to fix it.
The error message in 1.5 and master is `error: unable to decode "../pkiobj.json": no kind "Pki" is registered for version "box-pki.com/v1"`.
`kubectl apply` fails to `Decode()` when calling [`InfoForData()`](https://gi

[2017-01-18 19:47] pires commented on #39906
/cc @aaronlevy because of kubectl edit TPR failures we've seen before.

[2017-01-18 19:50] Random-Liu opened #40098 "CRI Performance Benchmark"
I recently run some benchmark against CRI integration. Here is the benchmark result:
https://docs.google.com/document/d/1lTxOxxMyXwhvrlPrxRy9qOrq0iwKFaKPPcKozFWFA00/edit?usp=sharing

From the benchmark result, we found that:
* Most metrics are unchanged except kubelet memory usage.
* Batch creation/deletion throughput even become better.

However, **the kubelet memory usage increment is relatively

[2017-01-18 19:56] kpgriffith opened #40099 "Unit test failures for volume/fc & iscsi. Detach not called"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubern

[2017-01-18 19:57] spxtr opened #40100 "404 on //build:busybox-libc"
Seeing this in bazel builds:
[code]
@mikedanese is that link supposed to be stable?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40097/pull-kubernetes-bazel/1224/

[2017-01-18 19:59] timothysc commented on #40098
/cc @kubernetes/sig-scalability-misc

[2017-01-18 20:01] spxtr commented on #40100
`http://ftp.us.debian.org/debian/pool/main/g/glibc/libc6_2.19-18+deb8u6_amd64.deb` -> `http://ftp.us.debian.org/debian/pool/main/g/glibc/libc6_2.19-18+deb8u7_amd64.deb` fixes it. I'll make a PR.

[2017-01-18 20:01] timothysc commented on #40098
The only thing I can think of is to ensure you are always using the same connection/session, and make certain you are explicitly closing and cleaning at the end.  grpc had shown there is a connection GC mechanism that happens periodically.  I was trying to hunt down the details yesterday, but I was unable to find the PR.

[2017-01-18 20:07] sc68cal opened #40102 "OpenStack-Heat provider fails to complete"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Internal OpenStack cloud
- **OS** (e.g. from /etc/os-release): OS X 10.10.5
- **Kernel** (e.g. `uname -a`): Darwin Sean-Collins-MBPr15.local 14.5.0 Darwin Kernel Version 14.5.0: Sun Sep 25 22:07:15 PDT 2016; root:xnu-2782.50.9~1/RELEASE_X86_64 x86_64
- **Install tools**:
- **Oth

[2017-01-18 20:10] sc68cal commented on #40102
My suspicion is that the behavior of `python-openstackclient` and the `stack` command has changed recently when [listing a stack that doesn't exist](https://github.com/kubernetes/kubernetes/blob/d5e039c9473ce19375fce5dc77d66653114d9223/cluster/openstack-heat/util.sh#L185)

[2017-01-18 20:10] hjacobs commented on #30518
@metral what `IngressController` implementation are you referring to? We build our own small ALB manager (we use it together with [Skipper](https://github.com/zalando/skipper) which has [direct Kubernetes support](https://github.com/zalando-incubator/kubernetes-on-aws/blob/154224f8ff4be4ef39556ce9191cdd2a55944336/cluster/userdata-master.yaml#L1016)): https://github.com/zalando-incubator/kube-ingre

[2017-01-18 20:15] timothysc commented on #20064
predicates: Insufficient memory (1)."

Instead of a list of events per node, there is a histogram of failures printed in string list on the pod status message.

[2017-01-18 20:16] shyamjvs commented on #40015
@deads2k It turns out that the following step in the [RulesFor function](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/rbac/validation/rule.go#L96) is quite wasteful:
`if clusterRoleBindings, err := r.clusterRoleBindingLister.ListClusterRoleBindings(); err != nil {`
As you anyway filter for only those rules that are applicable to a particular user (which hopefully would be just

[2017-01-18 20:16] deads2k commented on #40021
I don't know which logs you're grabbing, but you need the role and binding on the cluster you're making the API request to.  We haven't built reconcilation yet.

[2017-01-18 20:22] deads2k commented on #40015
You think the slice of pointers (and small ones at that) is the memory allocation problem?  I'm ok with using a filtering call (not actually taking the user info, but its constituent subjects), but it would be good to know just how much we gain.

[2017-01-18 20:22] zmerlynn opened #40104 "Bazel build failing to download packages"
As seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40094/pull-kubernetes-bazel/1234/:

[code]

cc @ixdy @spxtr

[2017-01-18 20:22] wojtek-t commented on #40015
Is this ListClusterRoleBinding() reaching registry are those these "StaticRoles" ? If the latter, I would be really surprised if it is this, as we are not even copying anything there.
Also - this method is returning pointers, so we potentially shouldn't even copy anything.

[2017-01-18 20:23] zmerlynn commented on #40104
Looks like a dupe of #40100

[2017-01-18 20:23] #40104 closed

[2017-01-18 20:24] wojtek-t commented on #40015
Are you sure this in fact is not a problem of making copies when passing args to ```GetRoleReferenceRules ``` and/or ```appliesTo ``` functions? And/or appending things to ```policyRules ```?

Do you have any profile to confirm that?

[2017-01-18 20:25] metral commented on #30518
@hjacobs No implementation specifically. Was more wondering if ALB's were going to be conceptually tied to IngressController's in the future in some regard, given their close resemblance. Given the lack of header / host-based routing in ALB's, this seems to be a blocker for IngressController integration.

In other words, are there plans to integrate some of the custom work required to enable ALB's

[2017-01-18 20:30] sc68cal commented on #40102
Nope, it actually looks like it's the [detection of SWIFT_SERVER_URL](https://github.com/kubernetes/kubernetes/blob/d5e039c9473ce19375fce5dc77d66653114d9223/cluster/openstack-heat/util.sh#L189)

[code]

[2017-01-18 20:36] sc68cal commented on #40102
I'll need to check to see if the change from `publicURL` to `public` is a server side change from OpenStack Keystone, or a change in `python-openstackclient`

[2017-01-18 20:44] shyamjvs commented on #40015
Both of the functions `appliesTo` and `GetRoleReferenceRules` are just called multiple times in a loop with small structs as arguments, so it would be surprising if they really consume so much memory.
And neither should `policyRules` be big for one user and that's the minimal memory we would anyway need to evaluate a given request (unless you pass some extra context to the RulesFor function at all

[2017-01-18 20:45] sc68cal commented on #40102
So, at least according to the [Identity v3 API](http://developer.openstack.org/api-ref/identity/v3/index.html?expanded=show-endpoint-details-detail), endpoints have an `interface` - which can be `admin`, `public`, or `internal` - never `publicURL`

[2017-01-18 20:47] shyamjvs commented on #40015
Sorry if I make some mistakes in drawing these inferences as I'm still new to golang :)

[2017-01-18 20:48] sc68cal commented on #40102
Yeah, so `publicURL` is from the [Identity v2 API](https://github.com/openstack/python-openstackclient/blob/276675f3520fa707daa65f92219194a514623fb8/openstackclient/tests/unit/identity/v2_0/test_catalog.py#L91)

[2017-01-18 20:49] wojtek-t commented on #40015
And neither should policyRules be big for one user and that's the minimal memory we would anyway need to evaluate a given request (unless you pass some extra context to the RulesFor function at all places where it is called so that it just returns only those rules which are relevant at the place where they are used. This IIUC would make the code more complex.)

Even if they are small, we are havin

[2017-01-18 20:54] matthiasr commented on #38949
I agree, given the complexity the gains don't seem to be worth it.

[2017-01-18 21:04] shyamjvs commented on #40015
Yes that makes sense. Would it be good to save those extra bytes in the function calls at the cost of increased code complexity (though it's possible that I'm missing a better way around here and more profiling might be needed).

[2017-01-18 21:07] wojtek-t commented on #40015
What do you mean by "increase complexity"? If I am indeed right, we should just pass pointers instead of structs and that would do the job. But we need to verify if I am in fact right.

[2017-01-18 21:11] jingxu97 commented on #33061
@lsjostro The reason detach never happens is as follows,

1. node is terminated
2. volume controller periodically check whether volumes are still attached by sending requests to cloud provider.  The function DisksAreAttached will check whether the node still exist. If not, it will assume the volume is no longer attached. If node does exist, check the information returned by the cloud provider to s

[2017-01-18 21:14] JeanMertz commented on #40068
@kargakis I'm 95% sure the deployment had `revisionHistoryLimit` set from the first version on (I checked the Git history, and it's there for the first commit, but I can't be sure a version without the field was pushed to Kubernetes before the file was committed).

I don't think I can get to the logs of the controller manager, as those are on the Kubernetes master, which isn't within our control o

[2017-01-18 21:15] lsjostro commented on #33061
Cheers @jingxu97! then I understand. I will also have a look.

[2017-01-18 21:16] JeanMertz commented on #40068
Regarding broken deployments: we definitely had some deployments which didn't work due to containers crashing. We fixed those deployments and pushed a new version, which meant another deployment was created.

Reading your linked issue #40081, I understand that this could very well be the situation we're in, in which those types of deployments are leaving behind their replica sets?

[2017-01-18 21:20] JeanMertz commented on #35213
@AdoHe any recent news regarding this? It's only a minor thing, but a welcome improvement.

[2017-01-18 21:22] khalpin11 commented on #27796
Hello!

I am trying to sign the CLA but am stuck on the "validate email" step. I have not received an email (checked spam and everywhere) after the validation code was supposed to be sent to me. I have also tried the "re-send verification" button a couple times and this has not sent me a code either.

I am not sure the correct place to ask this but the CLA FAQ told me to come here if I had any iss

[2017-01-18 21:26] shyamjvs commented on #40015
Ah! I get it now. Sorry, I was referring to this in my last comment:

So IIUC then changing from `[]rbac.PolicyRule` -> `[]*rbac.PolicyRule` wherever we can (and at most places we can) should reduce array copying across function calls.

[2017-01-18 21:30] dankohn commented on #27796
Apologies. Please email Linux Foundation Helpdesk <
helpdesk@rt.linuxfoundation.org>.

On Wed, Jan 18, 2017 at 1:23 PM, khalpin11 <notifications@github.com> wrote:

--
Dan Kohn <mailto:dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation <https://cncf.io/>
tel:+1-415-233-1000

[2017-01-18 21:37] #38327 closed

[2017-01-18 21:42] hongchaodeng commented on #39589
@wojtek-t
Right. I tried with "./cluster/kube-up.sh", which I used to bootstrap e2e cluster.
Let me try later "go run hack/e2e.go -v --up".

[2017-01-18 21:46] #40100 closed

[2017-01-18 21:57] mikedanese commented on #40100
This happens when they push a security update.

[2017-01-18 22:00] hongchaodeng commented on #39589
Verified that "go run hack/e2e.go -v --up" also spawns etcd3 backed cluster!
Thanks again! @wojtek-t

[2017-01-18 22:13] lavalamp commented on #34549
@smarterclayton is working on a proposal to move admission controllers out of process, which we talked about a lot during today's API Machinery SIG.

If you really want to provide a guarantee like this, you need some sort of locking mechanism around the check. The naive implementation where the admission controller lists all storageclasses and checks for uniqueness is actually quite broken (I'll l

[2017-01-18 22:23] msau42 commented on #34549
My only concern about making it out of process is that it's not as easy to notify the user that they made a mistake.  By automatically demoting classes, then the user may not realize that their volume is not using their intended default class since the provisioning will succeed with a different default class.

[2017-01-18 22:35] mwielgus commented on #38493
Actually this is kind of expected behavior. Even in regular kubernetes api calls are non-blocking, they just mark something for deletion and the deletion is executed in the background, usually quite fast. In federation we follow the same pattern. However it is not that instantaneous as in regular kubernetes so you may get an impression that it works in a different way.

[2017-01-18 22:42] DMXRoid opened #40109 "kube-apiserver won't start with OIDC flags"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): oidc

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Kubernet

[2017-01-18 22:46] thockin commented on #34549
yeah, I'd rather continue to error, I think

On Wed, Jan 18, 2017 at 2:24 PM, Michelle Au <notifications@github.com>
wrote:

[2017-01-18 22:53] shyamjvs commented on #40021
@deads2k These are logs from the apiserver of the kubemark master (which has its components started pretty much like that on a normal cluster's master). I wonder if we should really need to use reconciliation here, given that it is similar to normal cluster creation. Anyway, I'll try to dig deeper into this and tell you if something interesting comes up.

[2017-01-18 22:57] krousey opened #40110 "Upgrade from 1.4 to master hangs"
It appears that the API server is no longer able to talk to etcd after an upgrade. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-latest-1.4-gci-latest-upgrade-cluster-new/323?log#log for an example.

Interesting bits from api server log:

[code]

[2017-01-18 22:59] mml commented on #40110
I have debugged a lot of 2.3.7 -> 3.0.14 upgrades and adding `--debug` to every `etcd` invocation helps a ton.  Any chance we can twiddle this knob when we run these tests?  Perhaps via instance metadata?

[2017-01-18 23:00] kargakis commented on #40068
Yes but those deployments don't use revisionHistoryLimit (it's not set by default for backwards comp reasons). Setting it also after you have hit adler's limit won't help you much. How much exactly is "multiple times per day"? When a deployment rolls out successfully one replica set it immediately deletes all old replica sets it doesn't need and I would be surprised to see a case where it doesn't.

[2017-01-18 23:03] mml commented on #40110
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-latest-1.4-gci-latest-upgrade-cluster-new/323/artifacts/bootstrap-e2e-master/etcd.log shows etcd starting, and that 3.0.14 stays running for ~10 hours, and apparently appending to its log.  It looks like someone is talking to it.

The failure modes I saw in testing upgrades were generally that etcd would crash, which

[2017-01-18 23:06] vishh commented on #38322
@thockin @davidopp @dchen1107 @erictune @janetkuo and myself discussed this issue further today. Following is the summary:

The primary problems we addressed are as follows:
1. Static system pods (kube-proxy & fluentd on certain deployments) get evicted and are not scheduled back on nodes
2. Static system pods are not "guaranteed" to run on a node and can fail feasibility checks.
3. Existing alpha

[2017-01-18 23:10] ReneSaenz commented on #17648
@lavalamp I am done with my changes. Would you mind reviewing them before I submit the PR.

https://github.com/kubernetes/kubernetes/compare/master...ReneSaenz:rename-controller-17648?expand=1

[2017-01-18 23:25] alex-mohr commented on #40021
@Random-Liu @deads2k I think we should plan for a world where node A's node problem detector can only update status for node A, but not node B.

Likewise node A's kubelet can update node A's heartbeats, but not node B's.  And node A should be able to read Secrets for pods bound to node A, but not arbitrary Secrets.

[2017-01-18 23:31] dchen1107 commented on #35747
I should deprecate docker nsenter exec, but to achieve that, we need to follow the deprecation policy. The first thing we need to address is marking this flag being deprecated:

https://github.com/kubernetes/kubernetes/blob/ed5a23652566b48694ccdfacc5cff0790905a1a1/cmd/kubelet/app/options/options.go#L216

[2017-01-18 23:45] dchen1107 commented on #35747
Also there are several issues raised before which are related to the issue of docker exec in various versions. The engineer even suggested to switch the default mechanism is docker nsenter exec. One of the examples is https://github.com/kubernetes/kubernetes/issues/25456

[2017-01-18 23:51] dchen1107 commented on #35747
Now let's narrow down to the CRI scope, and below is my 2 cents:

1) Can we mark the flag deprecated in 1.6?
2) Drop the support in CRI in 1.6? Inform the kubernetes users with this decision along CRI announcement being scheduled sometimes in February?
3) Drop the support completely from Kubernetes unless there are real use cases coming up.

[2017-01-18 23:55] #40102 closed

[2017-01-19 00:01] dcodix opened #40116 "rl get headers"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-01-19 00:01] #40116 closed

[2017-01-19 00:08] #22813 closed

[2017-01-19 00:27] f-w commented on #37471
Hi, I got same error on Windows 7 MINGW32 console installed by Git. But from DOS prompt it works.
The command I run is OpenShift CLI `oc`, which calls kubectl under the hood so I believe the issue is the same.

[2017-01-19 00:29] cjcullen commented on #39990
@liggitt: I know you and @deads2k are gonna hate me for proposing this, but I think we should allow new clusters to still be brought up w/ the <=1.5 ABAC permissions. It feels like the easiest trapdoor for any workflow that we "break" with the transition to RBAC. I'm going to put something together to extend the `if [[ -n "${ABAC_AUTHZ_FILE:-}"` to include generating an ABAC file if one does not e

[2017-01-19 00:42] calebamiles commented on #40109
Could someone from @kubernetes/sig-auth-misc and/or someone from @kubernetes/sig-api-machinery-misc please help with triage. Thanks!

[2017-01-19 00:44] calebamiles commented on #40099
could someone from @kubernetes/sig-storage-misc please take a look? thanks!

[2017-01-19 00:45] calebamiles commented on #40091
Could someone from @kubernetes/sig-cli-misc or @kubernetes/sig-storage-misc please help triage? thanks!

[2017-01-19 00:52] xilabao commented on #40091
https://github.com/kubernetes/kubernetes/pull/39265 on the way

[2017-01-19 01:03] ymqytw opened #40119 "kubectl apply and edit are broken for TPR"
This issue is found when working on #39906. This is a different issue from #39906. It affects all 1.5.x and master.

The error message is
[code]

`kubectl apply` and `edit` are broken for TPR in branch 1.5 and master.
The reason is the function call of [`Decode()`](https://github.com/kubernetes/kubernetes/blob/c1ecedf44d1903b823f5e5274de000b4be09d17c/pkg/kubectl/resource/mapper.go#L52). It fails t

[2017-01-19 01:10] nikhiljindal commented on #35254
Sorry for the delay, I have documented the pros and cons and added some details regarding how can we propagate user identity to individual clusters in https://docs.google.com/document/d/1h3ULIc65gzv-9i-Pi6akBC_rt9QlNtHDqKCIc06gVV8. I have also compared it with our existing auth setup.

I think we can let our existing auth setup be the default, but also allow admins to setup user identity propagati

[2017-01-19 01:11] rootfs commented on #40099
I don't think kubelet (and many related pkg) can run on mac.

[2017-01-19 01:14] yujuhong commented on #35747
We'll have to tell the users that they need to disable CRI in order to use the nsenter exec plugin.

@timstclair, could you give a quick estimate about the amount of work required to add support for nsenter exec in dockershim? Thanks.

[2017-01-19 01:21] AdoHe commented on #35213
@JeanMertz sorry I just forget to track this, will open a PR asap.

[2017-01-19 01:23] rootfs commented on #40099
`DetachDisk` calls `mont.GetMountRefs`, which in turn calls out OS specific `List`. `List` is a no-op on Mac.

[2017-01-19 01:35] tianshapjq opened #40121 ""kubectl delete pod [uid]" doesn't work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
delete pod
delete pod uid
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-01-19 01:58] jimmycuadra commented on #39178
Would it be possible for the cloud provider to just use the Kubernetes labels on nodes to determine a zone, rather than using AWS API calls to try to determine which nodes should be used? It would need to look for any schedulable nodes (i.e. _not_ `--register-schedulable=false`) and look at the `failure-domain.beta.kubernetes.io/region` and `failure-domain.beta.kubernetes.io/zone` labels.

[2017-01-19 02:03] smarterclayton commented on #38322
4 is acceptable - we prohibit regular users from creating daemon sets.

On Wed, Jan 18, 2017 at 6:07 PM, Vish Kannan <notifications@github.com>
wrote:

[2017-01-19 02:06] yujuhong commented on #40121
I don't think we provide pod deletion by UID...
/cc @kubernetes/sig-cli-misc

[2017-01-19 02:07] xilabao commented on #39513
@ixdy I hope to get some of your suggestions

[2017-01-19 02:07] kargakis commented on #40068
@kubernetes/sig-apps-misc in addition to https://github.com/kubernetes/kubernetes/pull/40081 we may want requeue deployments when a replica set is failed to be cleaned up.  Highly unlikely that the lack of retrying those errors is causing any issues but it would be probably good to solidify it in the deployment controller.

[2017-01-19 02:14] jeffvance commented on #40091
Seems to be fixed in version:
[code]
Eg.
[code]

[2017-01-19 02:22] tianshapjq commented on #40121
If you type "kubectl delete pod -h", there is a piece of specifications describing like this:
# Delete a pod with UID 1234-56-7890-234234-456456.
kubectl delete pod 1234-56-7890-234234-456456
So is this a mistake?

[2017-01-19 02:24] yujuhong commented on #40121
I don't know. It could be a feature that I am not aware of. Folks from the @kubernetes/sig-cli-misc will know better.

[2017-01-19 02:30] calebamiles commented on #40090
Thanks for submitting your issue @MikeSpreitzer poking around a little bit it seems as if `d91b3200c75a32841dd9aebd3dee2bc785c9dadd` needs to be cherry-picked onto the 1.5 release branch. The error you're seeing I believe comes from inside of the container and should not happen because docker is not required to clean. @saad-ali, how do you feel about making the cherry-pick?

**cc: @ixdy**

[2017-01-19 02:39] xilabao commented on #40091
@jeffvance  No, The bug is still exist.

[2017-01-19 02:47] resouer commented on #40061
More info: CVE-2016-9962 has been fixed in docker [v1.12.6](https://github.com/docker/docker/releases/tag/v1.12.6).

Docker v1.12 has been validated in #28698, latest validated version is v1.12.3, see: [External Dependency](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#external-dependency-version-information)

Maybe just need validation for v1.12.6.

[2017-01-19 02:52] jeffvance commented on #40091
Isn't "default" the name of the namespace? If not, my apologies.

[2017-01-19 03:07] resouer commented on #40062
Personally I think use the first digest is OK, it does not break things ...

[2017-01-19 03:07] laverite commented on #21613
i'm also having this issue on bare-metal with v1.4.7  i see users enabling --masquerade-all, but i also see @thockin saying that should never be needed so i'm not clear if that's an appropriate resolution or not.  is it?

[2017-01-19 03:40] edsiper commented on #40119
+1

_kubectl apply_ is an unrecognized command:

[code]

[code]

[2017-01-19 03:44] liggitt commented on #40119
You seem to have a custom built version. Where did you obtain your kubectl?

[2017-01-19 03:51] edsiper commented on #40119
@liggitt

deb package:

[code]

repository:

[code]

per instructions from: https://kubernetes.io/docs/getting-started-guides/kubeadm/

[2017-01-19 03:54] MrHohn commented on #37567
Seems like the `kube-dns-autoscaler` is already introduced into kops by kubernetes/kops#1213. Thanks for the work!

[2017-01-19 04:07] MrHohn commented on #40063
@airstand How did you fail to change the `kube-dns-autoscaler` ConfigMap? I don't think kops caused this.

[2017-01-19 04:08] MrHohn commented on #40063
cc @kubernetes/dns-maintainers

[2017-01-19 04:15] MrHohn commented on #39988
Hi @hach-que, why not put a NodePort or LoadBalancer type Service with port 22 in between? Don't think it is a good idea to clobbered the port 22 on nodes.

[2017-01-19 04:16] alexanderilyin commented on #36575
I've just found that it's mentioned in docs  https://kubernetes.io/docs/admin/kubeadm/

For certain networking solutions the Kubernetes master can also play a role in allocating network ranges (CIDRs) to each node. This includes many cloud providers and flannel. You can specify a subnet range that will be broken down and handed out to each node with the --pod-network-cidr flag. This should be a mi

[2017-01-19 04:18] MazizEsa commented on #38400
Any steps/document on how to do this?

[2017-01-19 04:25] justinsb opened #40122 "dnsprovider: should return NS records in Zone"
We should either expose a per-provider "cheat" interface, or we should expose the NS records in Zone for dnsprovider.   For a use-case, kops wants to validate the NS records are set correctly for self-diagnostics: https://github.com/kubernetes/kops/issues/1508

[2017-01-19 04:31] ericchiang commented on #40109
@calebamiles please assign to me.

It looks like you added the following flags.

[code]

What was the error message?

[2017-01-19 04:38] structbinary commented on #40067
@zhouhaibing089 , Here is the output of curl
[code]

[2017-01-19 04:47] zhouhaibing089 commented on #40067
@structbinary well, then that means your TLS certs are set correctly.

[2017-01-19 04:51] structbinary commented on #40067
Then why I'm getting this error "x509: certificate signed by unknown authority" is it because I'm using self signed certificate and the certificate authority is self generated as well.

[2017-01-19 04:51] alexanderilyin commented on #36575
@inge4pres  unfortunately it's described in docs:

https://kubernetes.io/docs/getting-started-guides/kubeadm/

https://kubernetes.io/docs/admin/kubeadm/

[2017-01-19 04:55] justinsb opened #40123 "Regression: kubelet inotify does not detect changed symlink targets"
In k8s 1.4, we were able to set up a symlink from `/etc/kubernetes/manifests/etcd.manifest` to a mountpoint (`/mnt/etcd-volume/k8s.io/etcd.manifest`), to ensure that the pod could not be started before the volume was mounted.

k8s 1.5 broke this: the inotify poller does not detect when the volume is mounted, because the inotify watch does not traverse symlinks: https://github.com/kubernetes/kubern

[2017-01-19 04:55] zhouhaibing089 commented on #40067
It should not matter. the logs indicates that you are connecting to `https://kubernetes-master:8443`, what if you change it be `https://kubernetes-master.internal.docrates.com`?

[2017-01-19 05:01] structbinary commented on #40067
I have changed the master url to https://kubernetes-master.internal.docrates.com but still i am getting this error
[code]

[2017-01-19 05:02] structbinary commented on #40067
also my peer to peer communication is working properly in the etcd clusters with this certificate
[code]

[2017-01-19 05:22] resouer commented on #30553
This issue is labeled as P2, but it's not clear what it aims at and why it is needed ...

Could you please add more description? @jingxu97

[2017-01-19 05:39] irfanurrehman commented on #38400
Hi Maziz, there is still an open PR for this. Please wait for that to get merged.
https://github.com/kubernetes/kubernetes/pull/39338

[2017-01-19 05:40] inge4pres commented on #36575
Hi @alexanderilyin saw that later when re-reading.
Thank you for pointing out

[2017-01-19 05:43] k82cn opened #40125 "Add e2e test for multiple-scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request.

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
Per comments at #38871, we're going to add more e2e test for multiple scheduler features.

/cc @davidopp @timothysc

[2017-01-19 06:35] JeanMertz commented on #40063
I'm wondering; is there any downside to just scaling `kube-dns` to as many nodes as possible, to have the highest possible availability, besides from a minor increase in required resources?

We've set it to two, but I'm still not sure if this is enough, as I now see one of the pods not starting because DNSMasq doesn't have any inodes available (an issue we've been seeing for some time now, but are

[2017-01-19 06:48] kerneltime commented on #33061
#40118 is a workaround but ideally k8s should call detach for every attach that was issued, if the disk is already detached it should be a no-op.

The ideal behavior should be that for each attach there will be a detach (which could be redundant).

The assumption in the current model seems to be that as long as the volume provider does not consider the disk attached the detach does not need to be

[2017-01-19 06:50] MazizEsa commented on #38400
@irfanurrehman so without this the federation will not be able to route request to the federation? Is there any workaround?

[2017-01-19 06:53] DMXRoid commented on #40109
There was no error message, the apiserver container just didn't restart.  It's like it didn't even try to get restarted, there's no crashed/error'd out docker container in the output of `docker ps -a`, just the old (pre-refresh) container that gets cleared out after a minute or so.  I didn't see anything relevant in any of the other kube log files or container logs either.

[2017-01-19 06:59] JeanMertz commented on #32526
This issue was closed, because PR #35137 was merged.

However, on our GKE cluster (1.5.1), we're still seeing this happen on a daily basis, and this is on preemptible machines, so they are "refreshed" every 24 hours.

All of the above mentioned by @therc applies to our situation as well; using large images (mainly Ruby, based on Debian, lots of layers), updating many deployments multiple times per

[2017-01-19 07:02] irfanurrehman commented on #38400
@MazizEsa yes there is a workaround.
Please follow the steps listed here to do it by hand.
https://kubernetes.io/docs/admin/federation/#updating-kubedns

[2017-01-19 07:03] upolymorph commented on #29330
Yes I have the same issue too with 1.5.1 and checked that curl with correct --cacert --cert --key option is able to get from etcd url/heath: {"health": "true"}

[2017-01-19 07:09] MazizEsa commented on #38400
@irfanurrehman Notice that one. But not very clear.
Are you suppose to create the config map within the "federation plane" context of the host cluster context?

Even i've done still dns record is incomplete. Missing the "A" entries, but only CNAME, indicating the services are un-healthy when in fact I have replicaset already. Appreciate if you have any pointer.

[2017-01-19 07:18] ericchiang commented on #40109
Sorry if I'm showing my ignorance of kops, but what you posted was your updated static pod, right? It sounds like your change might have resulted in an invalid manifest. Does your kubelet have any relevant logs?

[2017-01-19 07:23] bowei commented on #40063
@JeanMertz -- Can you post the log for DNSmasq inode problem?

Apart from resource utilization, there should be no problem with running more copies of the DNS service.

I would not recommend use of pre-emptable nodes for running important services such as DNS however.

[2017-01-19 07:28] wojtek-t commented on #40015
It should - though we need to ensure that this is safe (i.e. that noone will modify the pointers in the background).

[2017-01-19 07:43] airstand commented on #40063
@JeanMertz I also want to see what the inode problem is?

Btw.. is a great idea to have kube-dns deployed on each node.

[2017-01-19 07:55] lsjostro commented on #33061
Ok! The workaround seems legit for the time being. Thanks!

[2017-01-19 08:00] k8s-merge-robot opened #40127 "ci-kubernetes-e2e-gci-gke-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow-release-1.5/2059/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update endpoints: udp {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34250

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function f

[2017-01-19 08:04] JeanMertz commented on #40063
@bowei @airstand I also replied here about the inode error: https://github.com/kubernetes/kubernetes/issues/32526#issuecomment-273696911

Fair point. Until now, we really haven't modified any "default" Kubernetes resources in the `kube-system` namespace, but since we started doing this anyway, by updating the `kube-dns-autoscaler` ConfigMap, we might as well update the `kube-dns` deployment to add

[2017-01-19 08:19] JeanMertz commented on #32526
I created a gist with all the relevant output that I can find related to this issue:

https://gist.github.com/JeanMertz/c5f26e69f14910e828f85185987692b2

[2017-01-19 08:25] Random-Liu commented on #40123
/cc @MrHohn

[2017-01-19 08:38] irfanurrehman commented on #38400
@MazizEsa no!
You need to create the configMap in each of the clusters that you register with federation.
This configMap needs to be created in namespace kube-system, because it needs to be consumed by kubedns which runs in the namespace kube-system.
The yaml for the same as listed on the link I sent u is as below:
apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-dns
  namespace: kube-system

[2017-01-19 08:41] MazizEsa commented on #38400
@irfanurrehman I see!. Got it.

[2017-01-19 09:04] wozhengjl opened #40131 "Hostport Automatic Assignment In Host Network Mode"
As we know, in mesos/marathon, if port is set as 0, then the framework will randomly assign port to replace 0, the port assignment strategy is based on the available ports resource on the node,
example: if app sets "ports": [0],
the available port resource on node is ["2000-3000"]  the framework will replace the port as:
"ports": [2001].
and set env variable PORT0=2001

However, in k8s there's no

[2017-01-19 09:08] gmarek commented on #39893
We may add a NodeUID field to PodSpec, which will take precedence over PodName if set - Kubelet can l watch for NodeName for the time being and just ignore things that have not matching NodeUID set.

[2017-01-19 09:35] k8s-merge-robot opened #40133 "ci-kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew/3991/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl create quota should create a quota without scopes {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster

[2017-01-19 10:00] gmarek commented on #39893
Note that I still assume that there can't be two Nodes with the same name and different UIDs in the same time.

[2017-01-19 10:09] caiyixiang opened #40137 "Service does not support epsv mode"
FTP uses passive mode,access to FTP by clusterIP,it takes about 3 minutes to get the results,because epsv mode is not supported,tcpdump are as follows:
![ftp](https://cloud.githubusercontent.com/assets/23205254/22102432/68e5639c-de72-11e6-8f3c-a7de322044b9.jpg)

[2017-01-19 10:50] k8s-merge-robot opened #40139 "Kubemark {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/4684/
Failed: Kubemark {e2e.go}

[code]

Previous issues for this test: #38776 #39335

[2017-01-19 11:17] dragoscirjan commented on #39282
Can you guys share a complete install script for both master and worker for LXC ?

[2017-01-19 12:33] kargakis opened #40140 "Replace adler with fnv throughout the repo"
adler when brute-forced turns out to break really fast (https://github.com/kubernetes/kubernetes/issues/29735). There are a couple of places we use it in the repo:
[code]
We should probably replace it with fnv.

I tested fnv and it seems to be slightly more expensive but also a lot more stable than adler: https://github.com/kubernetes/kubernetes/pull/39527

[2017-01-19 12:34] k8s-merge-robot opened #40141 "download_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5/1892/
Failed: download_gcloud {PRE-SETUP}

[code]

Previous issues for this test: #31121 #32842

[2017-01-19 12:35] #40068 closed

[2017-01-19 12:48] junaid18183 commented on #40014
Just to add the API call for deleting the deployment also have same behaviour i.e. it wont delete the replica set.

e.g.

`root@vagrant-ubuntu-trusty-64:/tmp# curl -i -X DELETE http://127.0.0.1:8001/apis/extensions/v1beta1/namespaces/default/deployments/my-nginx
HTTP/1.1 200 OK
Content-Length: 100
Content-Type: application/json
Date: Thu, 19 Jan 2017 12:47:02 GMT

{
  "kind": "Status",
  "apiVersi

[2017-01-19 12:53] zcahana commented on #35761
Same here: my use case involves a pod using `hostNetwort: true` for messing with iptables rules on the host, while still using cluster DNS for resolving k8s services.

[2017-01-19 12:55] zcahana commented on #17406
I have a similar use case, which involves a pod using `hostNetwort: true` for messing with iptables rules on the host, while still using cluster DNS for resolving k8s services.

[2017-01-19 12:56] edsiper commented on #40119
my "kubectl apply" issue is solved (my bad), I had an old-local/custom kubectl in /usr/local/bin/ messing up the things.

[2017-01-19 12:58] hach-que commented on #39988
At the moment we have host ports on everything, and it works fine for every service except this one.  We don't want to pay $20 USD extra a month just to redirect one port, and because of GCE's silly per-project pricing on load balancers, we can't take advantage of the $20 USD we're already paying for under-used load balancer capacity in another project.

[2017-01-19 13:03] deads2k commented on #40021
The kubelet case has been considered here https://trello.com/c/zrvfwQdr/41-authorization-node-authorizer and we've worked the "normal" authentication for a kubelet to enable it.

The node problem detector would probably be done with some kind of template for creating a particular role.  Names live in the role, not the binding.  Otherwise, you end trying to describe "which resource this name goes t

[2017-01-19 13:08] wojtek-t commented on #39245
I will reopen it for a moment to verify if it really works now.

[2017-01-19 13:10] kargakis commented on #40014
@junaid18183 see my comment above. Cascading deletion via the API is possible in 1.6

[2017-01-19 13:47] junaid18183 commented on #40014
Acknowledge @kargakis

[2017-01-19 13:51] james-woods commented on #19764
I have some kind of the same issue. I am trying to build a pod that has access to Google Cloud Services and I am mounting my secrets into it so that my service account can talk via the standard google cloud toolchain like `bq`. Symlinking the credentials into `/.config/gcloud/` breaks since

`oauth2client.contrib.locked_file.CredentialsFileSymbolicLinkError: File: /.config/gcloud/credentials is a

[2017-01-19 14:54] cmluciano commented on #17406
[Possibly related](https://github.com/kubernetes/kubernetes/issues/35761)

[2017-01-19 15:28] DirectXMan12 commented on #40062
Yeah, this is due to the fact that we can only choose one image ID, so we use the first repo digest.  We could hypothetically have some improved logic here around checking to see if one of the repo digests is "similar" to the pod pull spec and try to use that one, but I'm not sure it's worth the effort here, especially since the SHAs are still the same (which is the more important part, IIRC).  Pl

[2017-01-19 15:48] shyamjvs opened #40151 "[Kubemark] Make master startup and hollow-node creation asynchronous"
Currently, the hollow-nodes creation phase is reached only after all the startup in the master has finished and the apiserver is checked to be reachable.
However, I think that performing the master setup in the background while the hollow nodes are simultaneously getting ready should save us some time.
This saving could be considerable in the case of our large CI tests for kubemark.

@wojtek-t @gm

[2017-01-19 15:52] shyamjvs commented on #40151
In principle, the only steps that are common to and should precede master and hollow-node startup is creation of the MASTER_IP and pki. After that we can fork our script.

[2017-01-19 16:23] liggitt opened #40155 "TestCmdTokenGenerate assumes built binary"
go test ./cmd/kubeadm/... fails with:

[code]

it appears to be following a "RunCmd" pattern used by e2e tests, but unit tests should not require built binaries

[2017-01-19 16:30] shyamjvs commented on #40021
@deads2k Kubemark works fine now (without any repeating RBAC DENYs). I just had to stop my real cluster, update master to repo HEAD, make quick-release and start the cluster again. I guess the issue could've been that I was using a build from a commit by when rbac was added already but the bootstrap roles/bindings were still not complete.
So, would you suggest closing this issue now or keeping it

[2017-01-19 16:35] liggitt commented on #40021
I'd prefer to track missing roles with an issue per component that needs it. an umbrella issue will stay open forever

[2017-01-19 16:46] liggitt commented on #39893
I'd expect it to further narrow the node match... nodeName AND nodeUID would have to match. Would need to decide what happens to pods in the API that reference a nodeUID that mismatches... probably the same thing that happens to pods referencing a missing nodeName (whatever that is)

[2017-01-19 17:01] shyamjvs commented on #39245
I just checked the logs from the apiserver on one of our kubemark-500 CI test run that includes this commit (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/1773). Both npd and heapster seem to be working fine now (except that there are some 404s for GET node/status in the starting which is fine):

[code]

[code]

I guess we can close this issue now.

[2017-01-19 17:03] shyamjvs commented on #40022
Closing this issue as we now use the right roles for all the components in kubemark (including heapster and npd).

[2017-01-19 17:03] #40022 closed

[2017-01-19 17:20] grosser opened #40157 "Make OOM not be a SIGKILL"
Atm apps that go over the memory limit are hard killed 'OOMKilled', which is bad (losing state / not running cleanup code etc)

Is there a way to get SIGTERM instead (with a grace period or 100m before reaching the limit) ?

[2017-01-19 17:27] shyamjvs commented on #40021
Is there an umbrella issue for this already or are you referring to this one itself as the umbrella issue?

[2017-01-19 17:45] whitlockjc commented on #27281
I am able to get it working with this diff: https://gist.github.com/whitlockjc/915fc08984ff80089e8179f47a491106  Unfortunately, as documented in the Gist, it doesn't really make the Dockerized `kubelet` work because of its requirements for access to the host and Docker not providing it.  _(This could be a Docker for Mac issue.)_  If this looks reasonable, I don't mind turning this into a PR.

[2017-01-19 17:45] ymqytw commented on #40121
kubectl delete pod 1234-56-7890-234234-456456

It seems this help message exists even in v1.0. @fabianofranz @pwittrock Do we support this before?

[2017-01-19 17:48] kongslund commented on #38923
Thanks, @v1k0d3n. Any progress on a more long term solution?

[2017-01-19 17:54] irfanurrehman commented on #38400
@MazizEsa if you let me know ur gmail id, I could ping you on hangouts.. !

[2017-01-19 17:59] jingxu97 commented on #30553
This is just to make the code cleaner and easier to understand.

On Wed, Jan 18, 2017 at 9:23 PM, Harry Zhang <notifications@github.com>
wrote:

--
- Jing

[2017-01-19 18:08] liggitt commented on #39990
I really don't want to generate ABAC files on new clusters. Why wouldn't we give an option to grant clusterrolebindings that replicated <= 1.5 permissions using RBAC?

[2017-01-19 18:16] wojtek-t commented on #40139
@shyamjvs - can you please take a look?

[2017-01-19 18:17] jaygorrell commented on #36659
Started getting this myself today. We have a HA master setup of 3 -- only one of them jumped from 10% to 90% cpu and is staying there. Using top shows it's just kube-apiserver taking up all of it.

[2017-01-19 18:17] MrHohn commented on #40063
Looks like [inter-pod anti-affinity](https://kubernetes.io/docs/user-guide/node-selection/#inter-pod-affinity-and-anti-affinity-alpha-feature) is going to beta in 1.6 (#25319)?

BTW, you won't be able to update the `kube-dns` deployment if it's managed by Addon-manager (#36411).

[2017-01-19 18:23] smarterclayton opened #40161 "Bazel build fails on mac with standalone strategy due to Linux dependency"
On sierra

[code]

@mikedanese

[2017-01-19 18:23] smarterclayton commented on #40161
@ixdy @spxtr

[2017-01-19 18:24] yujuhong commented on #40121
AFAIK, apiserver doesn't support operations using the UID as the key. Unless kubectl implement additional logic to map the UID to a (name, namespace) tuple, it'd not be able to do that.

[2017-01-19 18:24] smarterclayton commented on #40161
[code]

[2017-01-19 18:25] smarterclayton commented on #40161
[code]

[2017-01-19 18:26] MrHohn commented on #39988
cc @kubernetes/sig-network-misc

[2017-01-19 18:29] derekwaynecarr commented on #38322
@vishh -- for the near term plan, does a critical pod get a higher oom_score, or do we just let it be restarted as normal?  for 1.6, i assume we are ok with critical pods being constrained on their memory usage relative to their qos tier?

[2017-01-19 18:29] smarterclayton commented on #40161
If this is something about how cross platform dependencies are defined or executed, I'm going to post everything that fails for reference here, knowing that it's probably a simple fix.

[2017-01-19 18:31] derekwaynecarr commented on #27204
@vishh @resouer - we have been working on updating qos level cgroups, we can discuss if that should roll out separately or be off by default similar to what was done thus far for pod cgroup.

[2017-01-19 18:35] smarterclayton commented on #40161
[code]

[2017-01-19 18:36] yujuhong commented on #40123
It's probably the best to switch to fsnotify because cadvisor also relies on the deprecated "golang.org/x/exp/inotify" package.

inotify was added mostly for timely reaction to changes. Additional polling (~minute) sounds good to me.

[2017-01-19 18:44] dchen1107 opened #40163 "Create a node test image with docker v1.12.6"
Today, node e2e tests different os image (ubuntu, coreos, gci, debian) and two docker versions: docker 1.10, docker 1.11.2, but we are missing the coverage docker 1.12.x. in the matrix.

Meanwhile Kubernetes docker automated validation pipeline is validating the docker release / release candidate through an "golden" kubernetes releases, not the current developing one and the different configuratio

[2017-01-19 18:46] yujuhong commented on #40163
IIRC, we already have the ubuntu image testing docker 1.12.6

[2017-01-19 18:49] DMXRoid commented on #40109
Yeah, that's the static pod manifest.  kubelet logs don't reveal anything useful.  There are logs for it tearing down the old container and the associated resources, and then it immediately kills the new container without any reason why.  Here's a snip of that part in action:
[code]
So the `5f6299` pod, the old one, goes down, and then `406aac` is killed immediately afterwards.

[2017-01-19 19:00] wojtek-t commented on #40151
To be honest, I'm not convinced this would significantly help. The issue is that the hollow-nodes will not be able to connect to apiserver (as it will still be down) and thus will be failing. But maybe even with restarts it will be faster.

Anyway - I think that we don't have problems with the time of setting up kubemark now, so I wouldn't spend time on it, at least now.

[2017-01-19 19:08] Canta commented on #32542
Happening right now here. In my case, it's not the inodes, but kubernetes-logging.
Some data:

[code]

node4 ended with 20K free space, but kubectl keept saying OutOfDisk=False.
I'm now looking how to deal with logs, but kubectl not knowing about the disk space is a problem.

[2017-01-19 19:08] vishh opened #40166 "Move QoS design doc to main docs repo"
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-qos.md

[2017-01-19 19:10] dchen1107 commented on #40163
Yeah, I talked to @Random-Liu last week, but forgot to file the issue. Didn't realize that he was done the work. Please feel free to close the issue.

[2017-01-19 19:10] vishh commented on #38322
@derekwaynecarr I was thinking of not making "Critical" a new QoS class, but instead use it just for preemption and eviction decisions. So oom_score will not be impacted. A Critical pod can still get OOM killed by the kernel, but will not be evicted. I think that is a good design because even critical pods can have memory leaks.

[2017-01-19 19:14] ixdy commented on #40161
Cross-builds don't currently work in Bazel for Go, unfortunately: https://github.com/bazelbuild/rules_go/issues/70

[2017-01-19 19:16] spxtr commented on #40161
In the meantime, we should provide a docker image that can run bazel.

[2017-01-19 19:20] Random-Liu commented on #40163
Actually currently automated docker validation is running against Kubernetes HEAD and newest docker release.

Done. :) https://github.com/kubernetes/kubernetes/pull/39889.

[2017-01-19 19:22] philips commented on #24978
Just an update on this that #24569 and  #23495 are merged. @justinsb would you mind updating that in the description and maybe reordering the bug?

[2017-01-19 19:28] pmcq commented on #40036
Hmm... I tried removing the readiness check and actually still sometimes see this error.  I think it might be that the container sometimes exits prior to the preStop hook completing, will try to rewrite the hook and see if that makes an impact.

[2017-01-19 19:34] #40163 closed

[2017-01-19 19:35] luxas commented on #40155
@dmmcquay can work on this

[2017-01-19 19:35] luxas commented on #39501
Closing this as it's fixed.

[2017-01-19 19:35] #39501 closed

[2017-01-19 19:40] dmmcquay commented on #40155
https://github.com/kubernetes/kubernetes/pull/35144 has a long discussion as to why this is.

These tests only get run when `make test-cmd` gets run, which will produce the needed binary and pass it in as `--kubeadm-path` arg.

For more information, @pipejakob authored this and should be able to provide more details.

[2017-01-19 19:41] yujuhong commented on #35747
Talked to @timstclair offline. I'll
 1. Add support nsenter as exec in dockershim
 2. Mark the flag as deprecated.

[2017-01-19 19:42] shyamjvs commented on #40021
@deads2k Can we expect to have even the bindings for heapster and npd bootstrapped in the cluster as well? Because given that these roles are created anyway, it make sense to have the bindings created too.

[2017-01-19 19:43] lblackstone commented on #34649
Confirmed that this is possible in v1.5.2 by following these steps:

1. Run `kube-apiserver` with `–runtime-config=extensions/v1beta1/podsecuritypolicy=true` and `–admission-control=PodSecurityPolicy` set.
1. Create a PSP like the following example `psp.yaml` and apply it with a `kubectl create -f psp.yaml`.

### psp.yaml
[code]

Pods launched after this policy is created have `"SecurityOpt":[]` s

[2017-01-19 19:46] dchen1107 commented on #38322
@vishh Thanks for summarizing the discussion.

@smarterclayton  @derekwaynecarr @liggitt https://github.com/kubernetes/kubernetes/issues/38322#issuecomment-273631002 is aligned the node team roadmap: https://docs.google.com/a/google.com/spreadsheets/d/1-hADEbGEUrW04QP4bVk7xf1CWuqbFU6ulMAH1jqZQrU/edit?usp=sharing (row 25). This is P0 for both sig-scheduling and sig-node team.

[2017-01-19 19:47] pipejakob commented on #40155
Yup, the `make test` target explicitly ignores these tests:

https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test.sh#L38

and like @dmmcquay said, `make test-cmd` runs this script as part of its target:

https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test-kubeadm-cmd.sh
https://github.com/kubernetes/kubernetes/blob/master/Makefile#L258

[2017-01-19 19:49] liggitt commented on #38322
that addresses my security concerns, thanks

[2017-01-19 19:49] liggitt commented on #40021
I would not expect to as long as different deployments run those components with different credentials