[2015-06-25 22:05] smarterclayton commented on #7789
As a user I think you want explicit to override, not error.  I think.

[2015-06-25 22:08] mbforbes commented on #10368
+cc @roberthbailey @lavalamp

[2015-06-25 22:11] davidopp commented on #10242
There are many options here. I do agree we should do something about this. It's not possible to document "we do spreading, except when we don't" in a way that users will understand. So I think we should implement something that will give something resembling spreading-like behavior as much as possible.

Possible solutions we've discussed are (1) having namespaces without a LimitRange inherit the o

[2015-06-25 22:14] mikedanese commented on #10356
#10369

[2015-06-25 22:15] lavalamp commented on #10368
Hm, that's weird. I don't think it's happening in our soak clusters. Can you tell from the logs exactly when it broke?

[2015-06-25 22:16] lavalamp commented on #10242
Another option we talked about was having a pods-per-core limit for nodes.

[2015-06-25 22:19] DreadPirateShawn commented on #10319
Oooh... apiserver no, we only have one, but etcd yes, we have two hosts... I'll try disabling one of them.

[2015-06-25 22:24] krousey commented on #7789
It looks like to accomplish this, I would need to expose DirectClientConfig's overrides somehow. https://github.com/GoogleCloudPlatform/kubernetes/blob/5520386b18/pkg%2Fclient%2Fclientcmd%2Fclient_config.go#L54

[2015-06-25 22:25] krousey commented on #7789
@bgrant0607 comments on this?

[2015-06-25 22:28] davidopp commented on #10242
Ah, right. That requires adapting #5547 a bit and writing an e2e test for it (currently we only have a unit test; requires #8669). If we do that I'd be in favor of getting rid of LimitRange in the default namespace to simplify the system -- is there any reason we're doing that other than to limit #pods/node?

@gmarek

[2015-06-25 22:28] smarterclayton commented on #7789
I think I'm agreeing with Brian's comment.

[2015-06-25 22:29] bprashanth commented on #10242
Though the default limits only specify cpu it would be odd to not have a pods per mb (to compare custom limits that do). I'm finding it a little hard to explain to myself what that even means, it'll probably have to be a fraction, and it effectively boils down to a twisted version of mb per pod.

[2015-06-25 22:31] bprashanth commented on #10242
max_pods won't scale nicely with size of the node right?

[2015-06-25 22:31] krousey commented on #7789
@smarterclayton Ah ok. I thought you were commenting on the first row I listed where it's explicit on the command line and in the spec.

[2015-06-25 22:32] timstclair commented on #10368
Unfortunately the kubelet logs only appear to go back to 6/20, but the last heartbeat was on 6/19. I'll see if I can reproduce it in another cluster and catch it earlier, but let me know if there are any other logs I should be looking for (other than /var/log/kubelet.log.{1..5})

[2015-06-25 22:35] davidopp commented on #10242
What I meant was "is there any reason we're doing the 0.1 LimitRange other than to enforce a max pods per node." (I agree that our current max_pods doens't scale with the size of the node.)

[2015-06-25 22:36] davidopp commented on #10242
BTW a drawback of (2) over (1) or (3) is that we're back to having no way to cap the # of pods per node, in the non-default namespace.

[2015-06-25 22:36] davidopp commented on #10242
(which we want to do to avoid overloading Kubelet)

[2015-06-25 22:38] lavalamp commented on #10319
We don't do consistent reads, so this is theoretically possible for brief periods of time. However the fact that it happens to you so repeatably makes me rather suspect an etcd configuration problem.

[2015-06-25 22:42] cjcullen commented on #10209
I like this idea. This would also allow it to be easily disabled when not needed.

It should be simple to move the resource lookup & proxying into a container. The touchier part is correctly doing auth outside of the apiserver.

Verifying the client:
In the bearer token (and basic auth) case, we could probably get by just passing along the header in the GET request for the resource. If that reques

[2015-06-25 22:49] smarterclayton commented on #10209
This sounds pretty complex.  The broader we make this the harder the default config is.  We also have to expose two public endpoints for the masters now, not one.  If the proxies are broken, you can't get into their containers for logs and exec.  The containers have to be exposed to the edge, which means we have to use a public port.

On the other hand, at scale this would be a very common pattern

[2015-06-25 22:50] deads2k commented on #10365
I initially made the choice because I'm used to certs and keys being created or delivered out of band.  Referencing the file made sense so that I didn't have to make a copy.  I'm not necessarily opposed to a separate tokenfile, but I've found that I really prefer having a self-contained kubeconfig file for easy portability.

[2015-06-25 22:59] liggitt commented on #4822
We have a command to create a secret from a set of files and one to add a secret reference to a service account. I can open a PR tomorrow with them if you like. Would you prefer it under an experimental command group in kubectl?

[2015-06-25 23:01] bgrant0607 commented on #10108
cc @erictune

[2015-06-25 23:04] bgrant0607 commented on #5149
@derekwaynecarr can this be closed?

[2015-06-25 23:05] lavalamp commented on #10351
OK, so I read up on CSRFs.

POST/PUT etc are already quite inconvenient from a browser, so it's OK if we make them even more inconvenient. But they should continue to work from kubectl & e.g. curl, ideally without any changes, otherwise we'll be changing a LOT of clients. So here's what I propose we do.

* apiserver starts setting a cookie ("XSRF=cryptographically strong random sequence")
* apiser

[2015-06-25 23:06] #10161 closed

[2015-06-25 23:07] bgrant0607 commented on #10056
cc @krousey

[2015-06-25 23:07] roberthbailey commented on #10368
Have the kubelet or kube-proxy been restarted? Can you look at the credentials that they are providing (kubeconfig for the kubelet and bearer token for the kube-proxy) and use them to try and access the apiserver manually? You can also check the apiserver configuration to see what bearer tokens it accepts.

I'd be happy to poke at the cluster a bit if you want to give me access to your project?

[2015-06-25 23:07] parikhyash opened #10371 "Containers don't get destroyed when stopping an RC on Kubernetes Mesos"
I'm using Kubernetes on Mesos by doing "export KUBERNETES_CONTRIB=mesos". I'm building Kubernetes from the master branch using "make". I can launch RCs and services normally (using the REST API as well as kubectl). However, when I destroy an RC, the containers on the slave keep running and I'm having to manually destroy them using "docker stop <container-id>" followed by "docker rm <container-id>"

[2015-06-25 23:12] lavalamp commented on #10209
We do want to separate proxy out eventually, yes. There's probably already issue(s) about it. When we do this, we should also think hard about the security story (#10351). The proxy currently is good for debugging stuff (and maybe admin UI components?), and shouldn't be used for production traffic.

Production traffic should go through a production load balancer (probably built with HA proxy or ng

[2015-06-25 23:15] yujuhong commented on #10242
Just a few thoughts since you asked :)
- There can be pods with user-given resource limits in the system too, so it might be easier for the scheduler to set the default cpu limit per pod (using limitRange or simply defaulting) and compute the available cpu per node.
- In the long run (post v1.0), kubelet may report back to the master the actual resource usage of the pods and/or available resources

[2015-06-25 23:17] smarterclayton commented on #10209
You can assign this to me - our ops teams have requested this, so it's likely someone is going to take a stab at this soon.

[2015-06-25 23:22] timstclair commented on #10368
Would you mind elaborating on how I can find the kubeconfig (do you mean ~/.kube/config?) and the bearer token, and how to use them to manually access the API server?

I also gave you (@roberthbailey) access to my GCE project (stclair-k8s-ext)

[2015-06-25 23:23] dchen1107 commented on #10242
cc/ @bgrant0607

[2015-06-25 23:33] derekwaynecarr commented on #5149
When #9264 merges this will close automatically.

[2015-06-25 23:34] cjcullen commented on #10209
Could client discovery be done with an HTTP/301 off of the /proxy endpoint to the location of this proxy service? (or do redirects pose some problem I'm not thinking about?)

[2015-06-25 23:35] davidopp commented on #10242
Since #5547 makes pods (count) an explicit resource, I think it would be easy for us to report back # pods in use in NodeStatus when we report back usage of cpu, mem, etc.

[2015-06-25 23:37] roberthbailey commented on #10337
@jkingyens - I tried to update the gcloud that was installed on my GKE node to add kubectl and hit a bunch of weird errors. I'm going to try on another node to see if I can reproduce, but I think in the mean time installing a fresh version seems like the best way to go.

Re: Tokens, gcloud should grab a token from the service account attached to the GCE VM. Right now, all node VMs are created with

[2015-06-25 23:42] ArtfulCoder commented on #9461
@antoineco the skydns container uses the etcd container for storage. kube2sky container updates etcd with entries so that skydns can serve them in dns responses.

pod = skydns, kube2sky, etcd

[2015-06-25 23:45] ravigadde commented on #1518
@bgrant0607 Thanks for your comments. I will add my comments to #10210

+1 for adding this logic to node controller

[2015-06-25 23:46] smarterclayton commented on #10209
Maybe not.  We'd need to check the upgrade aware handler and verify it works cleanly.  Logs can definitely be a redirect, even in the browser.

[2015-06-25 23:52] thockin opened #10372 "kubectl logs container arg should be -c"
Today we have:

[code]
and

[code]

In both cases we try to guess the container.  we should use the same notation in both cases.  Either pod.container or pod/container or pod -c container.  If I can't keep it straight, neither can users.

[2015-06-26 00:07] timstclair commented on #10368
Hmm, if I look in `/var/lib/kube{let,-proxy}/kubeconfig`, I don't see any credentials:
[code]

[2015-06-26 00:13] uluyol commented on #10009
There actually is a runtime.TypeMeta. If we're not going to break, why not just use that everywhere?

[2015-06-26 00:20] bgrant0607 commented on #10242
Going back to the beginning: Who's creating a namespace and then launch a 100-replica RC in it?

Namespaces are a relatively advanced concept. Kick-the-tires users aren't going to do it -- that's what the default namespace is for. If we're doing this in our tests, we should be creating LimitRanges for those namespaces OR specifying resources for our pods. If we're not specifying resources somehow,

[2015-06-26 00:20] brendandburns opened #10373 "Document the empty selector for fields and labels"
In labels.md we cover the api but don't mention the empty select that covers everything.

[2015-06-26 00:23] bgrant0607 commented on #10242
8. At some point, we should also implement QoS buckets #147 to protect pods with limits/requests from pods without them.

[2015-06-26 00:24] jdef commented on #10371
This sounds like a new bug. Needs investigation.

On Thu, Jun 25, 2015 at 7:08 PM, Yash Parikh <notifications@github.com>
wrote:

[2015-06-26 00:26] jdef commented on #10371
/cc @sttts @karlkfi

[2015-06-26 00:32] thockin commented on #9461
You should not be relying on the internal DNS server to resolve external DNS.

[2015-06-26 00:37] thockin commented on #10265
As of  #10150 you will not need any auth args for kube2sky - it will find the master service and CA cert all by itself.  Does this answer your question?

[2015-06-26 00:41] davidopp commented on #10242
That's an extreme example. We're mostly trying to avoid user confusion, for example one node with 2.4 limit running on it and one node with 2.5 limit running on it, and now every new pod they submit (assuming a new namespace) will go onto the same node, and they will become confused. It's not so much an issue of "If we're not specifying resources somehow, we deserve what we get." but if the user d

[2015-06-26 00:42] davidopp commented on #10242
I have no idea why Markdown turned all of my numbers into 1's, but hopefully it's still possible to understand.

[2015-06-26 00:43] bgrant0607 commented on #4910
Max pods as a function of cores makes total sense, but this will not replace LimitRange. Only setting initial resource requirements intelligently could replace the LimitRange default value, in which case we might also/instead want to apply a minimum.

[2015-06-26 00:56] bprashanth commented on #10242
This only makes sense to me now that we're moving the cluster addons out of default. So we're saying: here's a bb gun, you'll shoot your eye out.

Ideally I would come up with a way to:
1. Surface the user error
2. Never have it occur (kubectl generator)
3. Handle it when it happens (scheduler changes)

You're only saying forget about 3. How do we do 1, and are we doing 2 for1.0?

I though about m

[2015-06-26 00:58] davidopp commented on #4910
I'm not arguing it would replace LimitRange in general, but I was thinking it would replace the use of LimitRange to limit the number of pods per node. Is there any other reason we have a LimitRange in the default namespace today?

I agree that setting initial resource requirements is better, but I was assuming this discussion was in the absence of that feature.

[2015-06-26 01:21] lavalamp commented on #10242
Hard to see that working (deterministically) if the resource checking takes precedence. Oh, I see @davidopp beat me to it. Yeah, it's a reasonable thing to do, but it doesn't help this problem.

[2015-06-26 01:21] HaiyangDING opened #10377 "Expose BindPodsQps and BindPodsBurst as cmd line flags"
There is a TODO in the scheduler/factory stating that BindPodsQps and BindPodsBurst should be exposed as cmd line flags.

I would like to implement this, if no one is currently working on it.

[2015-06-26 01:24] nkwangleiGIT commented on #7294
Hi erictune,
I agree with you on option 2, we'd better to let the user specify an absolute value for memory swap instead of factors in API approach, it'll make it consistent with Docker, and sure we should have default value if the user doesn't use it.  How about the question below, the memory swap here should be only memory swap or the summary?
[code]
How about kubelet level support, do we still

[2015-06-26 01:29] lavalamp commented on #10009
Hm-- I think that might be OK. @smarterclayton can you think of any reason not to?

[2015-06-26 01:52] bgrant0607 commented on #10338
Quantity is a type, not a field name. We just need to ensure we don't change the behavior in a non-backward-compatible way for existing uses in the API. Incompatible behavior can be introduced into new API versions by whatever means we choose: new type name, new package name, constructor parameter, ...

The same applies to other custom types in the API, such as util.Time.

[2015-06-26 01:53] bgrant0607 commented on #10338
Please close if that addresses your concern.

[2015-06-26 01:58] justinsb opened #10379 "Circular dependency between kubelet <- docker <- cbr0 <- kubelet on systemd"
On systemd, Docker depends on cbr0:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/docker/docker-defaults#L5

cbr0 is now created by kubelet (after https://github.com/GoogleCloudPlatform/kubernetes/pull/10312)

But kubelet depends on Docker: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kubelet/kubelet.service#L5

I'm a bit

[2015-06-26 02:01] quinton-hoole opened #10380 "Fix namespace deletion in e2e tests - it seems very broken"
#10225 refers

Copy of my notes from there:

This just all looks terribly wrong (not this particular PR, but the code around it).  Note to myself to understand it properly and fix it up soon.  Specifically:

1. The function deleteTestingNS() does nothing of the sort.  It just polls until all namespaces with some magic prefix are not in deleting state.  It would seem that that simply doesn't work i

[2015-06-26 02:13] #10338 closed

[2015-06-26 02:23] bgrant0607 commented on #10202
We'll leave "update" as an alias for "replace" for now, and eventually just remove "update". "replace" and "patch" are more specific.

If pflags/cobra supported it, we could also create a "change" command that would support changing frequently used properties via patch, but specified via command-line flags. We could also create specific commands for changing common properties.

I think we should c

[2015-06-26 02:37] feihujiang commented on #10318
@bgrant0607 OK, I start to work on this.

[2015-06-26 02:39] mbforbes commented on #10377
@HaiyangDING can you please find authors who have touched the code recently (check out GitHub's history) and then @ mention them here directly? They'll be able to tell you whether we'll likely accept PRs for these fixes in the next couple weeks (we're pushing to 1.0 so are generally only accepting work on 1.0 features, tests, documentation, or bug fixes). Thank you--please ping if you need help!

[2015-06-26 02:39] mbforbes commented on #10379
+cc @dchen1107 @cjcullen @zmerlynn

[2015-06-26 02:40] mbforbes commented on #10379
I have an idea how this works (I think some number of things are brought up in a "bad" state, then something is reconfigured, then something gets killed/restarted, then we're good to go), but others I mentioned will be able to clarify the exact timeline and objects involved in these events.

[2015-06-26 02:44] bgrant0607 commented on #8580
I'd take this for 1.0 if you want to try to get it in. Looks easy / low risk.

[2015-06-26 02:45] bgrant0607 commented on #6255
I'd take this for 1.0 if you want to try to get it in.

[2015-06-26 02:45] HaiyangDING commented on #10377
@mbforbes , I will look up the history to see if I can find the author.

Besides, I am going to see if I can do anything for 1.0. Many thanks to your suggestion!

[2015-06-26 02:55] HaiyangDING commented on #10377
@bprashanth ,

Hi, I saw in the Git history that you have added limitation to pod burst qps and pod binding rate at https://github.com/GoogleCloudPlatform/kubernetes/commit/4004a68ae983fec2e24741e10833d6f9f78f741b. In the patch, it is mentioned that BindPodsQps and BindPodsBurst should be exposed to cmd line flags. If you do not mind, may I send a PR to implement this? I just want to make some con

[2015-06-26 03:00] bgrant0607 commented on #4348
See PR #9296

[2015-06-26 03:14] bgrant0607 opened #10382 "Integrate conversion tool into kubectl"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cluster_management.md#switching-your-config-files-to-a-new-api-version

See also #7576, #4471

[2015-06-26 03:15] smarterclayton commented on #10009
Will catch up on thread tomorrow, back in office.

[2015-06-26 03:26] codefx9 opened #10383 "How to create Kubernetes pods using private images on Docker Hub?"
I have configured nodes by copying /root/.dockercfg files according to instructions [here]. But I am still getting error message "Failed to inspect image". Is there any complete working example of using private images from Docker Hub to start pods in Kubernetes?

[here]: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/images.md#configuring-nodes-to-authenticate-to-a-private-regi

[2015-06-26 03:31] codefx9 opened #10384 "How to assign non-default namespace to Nodes?"
We would like to assign non-default namespace to nodes when provisioning them. We would like to run pods from different namespaces on different nodes to maintain proper security isolation. Is that supported in Kubernetes?

[2015-06-26 03:50] bgrant0607 commented on #1702
Paging this back in...

We need to union the currently and previously configured fields in order to determine the scope of what should be diff'ed and then diff the new configuration with the live state in order to construct a patch. So it sort of is a 3-way diff.

Eventually we'll want to handle corner cases automatically, such as updates to immutable fields.

This should also create objects if th

[2015-06-26 03:55] bgrant0607 commented on #4822
It doesn't need to be experimental.

In Openshift it has been moved to `osc secrets new`?

Why not `osc new secrets`, verb before noun, like the rest of our commands?

[2015-06-26 04:11] antoineco commented on #9461
@artfulcoder sorry for the confusion, I was asking @tanmaybinaykiya if HE needs the pod to use its own dns, since this is disabled by DnsPolicy under normal circumstances.

[2015-06-26 04:12] jlowdermilk opened #10385 "Logs from inside apiserver handler.ServeHTTP disappear into ether"
Hit a brick wall trying to debug a separate issue because the apiserver is not recording logs past the request authenticator http.Handler. Specifically, calls to `glog.Infof()`, `httplog.LogOf(w).Addf()`, and even `fmt.Printf` do not make it into `kube-apiserver.log`. So, e.g. `pkg/apiserver/proxy.go` generates no logs regardless of log level.

The event horizon is in [NewRequestAuthenticator](htt

[2015-06-26 04:13] bgrant0607 commented on #499
On second glance, the coverage seems fine, actually.

It wasn't clear to me that the bullet list was a table of contents for the succeeding sections. Also, I'd describe imagePullSecrets before either copying .dockercfg to nodes or pre-pulling (that seems like a niche case). And it's not "ImagePullKeys" -- it's "imagePullSecrets".

If we add a convenience command for bundling secrets, we should doc

[2015-06-26 04:17] antoineco commented on #10265
If it reliably finds the master service in all circumstances after the feature is merged, yes. Until then I'll just reintroduce the kube_master_url in our rc to override kubeconfig.

[2015-06-26 04:24] justinsb commented on #10379
I was able to break the dependency by changing the kubelet service to not depend on Docker, and changing it to restart indefinitely.  Not sure if this is right, but I'll put up a PR when/if I get past the other problems I'm hitting.

[2015-06-26 04:25] adyanthaya17 commented on #10278
When I tried running the first command as you mentioned, this is what I got:
$ ./local-cluster-up.sh
./local-up-cluster.sh: line 35: ./../hack/lib/init.sh: No such file or directory

[2015-06-26 06:11] sttts commented on #10371
Can you check in your checkout that you this patch already (merged 2 days ago): https://github.com/GoogleCloudPlatform/kubernetes/commit/9e0c9b4f5a982b370924e5ecd56892db6f906ebf

In our docker-compose branch I cannot see the described behaviour, but it's also a few days old.

[2015-06-26 06:12] HaiyangDING commented on #6781
If no one is working on this, I would like to write a brief document explaining how the scheduler works.

I think the following points should be well explained in the document:

1. When a pod is created with `kubectl create -f pod.yaml` command, it is queued
2. The scheduler is a separated process, the first pod in the queue is taken by the scheduler
3. The scheduler then filters the nodes in the

[2015-06-26 06:18] parikhyash commented on #10371
@sttts I do not have the patch since I had built the binaries a few days back. Will try it out and let you know if the problem still persists.

[2015-06-26 06:27] bprashanth commented on #10377
@HaiyangDING out of curiosity, do you have a use case in mind? (Would you like to push the limit higher/lower?). I'm totally fine exposing it as a command line flag if you need it, note however that we're currently in a code freeze working toward our 1.0 release (https://groups.google.com/forum/#!topic/kubernetes-announce/1voyC1d-T_o), so we might not be able to merge your pr right away.

[2015-06-26 06:35] HaiyangDING commented on #10377
@bprashanth ,

Hi, I do not have a specific use case right away. I wanted to implement this simply because I saw a TODO when reading the code. Luckily enough, it happens that I have had some contribution to the scheduler cmd line(https://github.com/GoogleCloudPlatform/kubernetes/pull/6967), so I felt that I could make more contribution for the community:) That is all my motivation.

Besides, it is

[2015-06-26 06:40] sttts commented on #10371
I guess the patch will fix it. Without it containers are leaking.

[2015-06-26 06:40] thockin opened #10386 "Build and use a new skyDNS container"
After 1.0 for risk reasons.  SkyDNS now builds their own container from Alpine, so much smaller than before.

[2015-06-26 06:41] thockin commented on #10386
When we do this we can switch the healthcheck to use 'dig' instead of 'nslookup'

[2015-06-26 06:41] thockin commented on #10386
Maybe obsoletes #9290

[2015-06-26 06:51] thockin commented on #10163
Once we do this we can simplify the DNS e2e test - we don't need a jessie variety and a wheezy variety

[2015-06-26 06:52] thockin opened #10387 "Delete old use-specific tokens"
Now that service accounts work properly, we can delete things like the DNS token and the code needed to build it.

[2015-06-26 06:53] thockin commented on #9461
I'm closing this for inactivity.  OP - if you still have a problem, please reopen

[2015-06-26 06:53] #9461 closed

[2015-06-26 06:56] thockin commented on #9857
As of #10150 all token issues SHOULD go away.  This will be in either 0.20.1 or 0.21.  If you sync to head (once that PR is in) and build a cluster from it, DNS should finally Just Work.  Up to you whether you want to close this now or wait.

[2015-06-26 06:58] thockin commented on #10158
@alexanderguzhva can you manually prove the liveness probe is failing?  Try `kubectl exec` into your DNS pod's skydns container and try an nslookup of `kubernetes.default.svc.cluster.local` ?

[2015-06-26 06:59] thockin commented on #10265
It should always find the master.  Should

[2015-06-26 07:02] thockin commented on #10384
Nodes are outside of any Namespace.  There is a basic assumption of a single trust domain, for now.

[2015-06-26 07:02] #10384 closed

[2015-06-26 07:04] wojtek-t commented on #10380
I'm copying my notes from #10225 (sorry I didn't see this issue before writing it there)

@quinton-hoole -  the rationale behind deleteTestingNS is as following:
- deleting namespace happens in the background
- deleting namespace after scalability tests can take more than half an hour
- deleteTestingNS is used only in scalability tests (and shouldn't be used anywhere else)
- thus we don't want to

[2015-06-26 07:15] wojtek-t commented on #10380
BTW - I'm happy to fix it (do it properly) once #7372 is merged.

[2015-06-26 07:16] wojtek-t commented on #10380
Also - I don't think it's necessary for 1.0

[2015-06-26 08:19] sallyom commented on #4822
I'm working on a different project now but glad to see this ;)

[2015-06-26 08:20] ddxgz commented on #5706
Facing the same problem.
Since it seems like a network problem, will it probably be that golang.org is banned by Chinese GFW? So it cannot download the packages inside the container. Are you guys who facing this problem all inside GFW?

[2015-06-26 10:12] wojtek-t opened #10389 "Fix prometheus metrics used for monitoring performance."
Currently, tests are built based on "apiserver_request_latencies_summary" which is SummaryVec.
The drawback of this approach is that SummaryVec is considering only request from the last X minutes to be valid ones - for more details see:
https://github.com/prometheus/prometheus/issues/860

By default this is 10 minutes (which is reasonable for tests taking less than 10 minutes). However, for tests

[2015-06-26 10:18] wojtek-t commented on #10389
cc @fgrzadkowski @piosz

[2015-06-26 10:43] akamalov commented on #9857
Thanks Tim. Closing it.

[2015-06-26 10:43] #9857 closed

[2015-06-26 11:32] wojtek-t commented on #10380
Also:

The function deleteTestingNS() does nothing of the sort. It just polls until all namespaces with some magic prefix are not in deleting state. It would seem that that simply doesn't work if there are parallel test runs in flight.

Correct - but as I wrote before - deleteTestingNS is supposed to be used only for scalability tests and those tests also doesn't make sense if they are run in para

[2015-06-26 12:04] ae6rt commented on #10373
I took a shot at this:

https://github.com/GoogleCloudPlatform/kubernetes/pull/10392

[2015-06-26 12:35] pmorie commented on #8734
@sroze were you able to make progress on this?

[2015-06-26 13:14] stephenR commented on #10351
That solution can be bypassed by a man-in-the-middle if it relies on the fact that a certain cookie exists.
See 'Problems with "protected" cookie clobbering' in:
https://code.google.com/p/browsersec/wiki/Part2#Same-origin_policy_for_cookies
"httponly or secure cookies may get dropped and replaced with evil versions by simply overflowing the per-domain cookie jar."

So a mitm attacker could spoof a

[2015-06-26 13:21] sroze commented on #8734
@pmorie Nop, I moved to non-containerized kubelet so didn't have this issue, and never add time to try again with containerized. Based on [that comment](https://github.com/GoogleCloudPlatform/kubernetes/issues/9051#issuecomment-112832838) I'm closing the issue.

[2015-06-26 13:21] #8734 closed

[2015-06-26 13:27] alexanderguzhva commented on #10158
this is all for 0.19.1, master node

[code]

[code]
no /bin/sh, no bash, no yum, no aptitude, btw

[code]

[code]

[2015-06-26 13:35] liggitt commented on #4822
The existing `verb noun` commands apply generically to all types. Our `secrets [new | new-dockercfg | add]` commands are more akin to `kubectl config ...`, which groups a set of commands related to a particular object, and aren't generically applicable.

[2015-06-26 13:51] alexanderguzhva commented on #10158
or should I compile master branch and give a try?

[2015-06-26 14:10] eparis commented on #5357
I'm so sorry I let this fall through the cracks! The problem was/is this line `No -portal_net specified`  which is definitely included in the latest versions of ansible!  I'm so sorry!

[2015-06-26 14:10] #5357 closed

[2015-06-26 14:14] justinsb opened #10396 "Optimize heapster memory usage"
After #10256, we allocate 2.5GB to heapster.  We need that for max utilization, but we effectively permanently allocate that memory even for relatively small clusters.  We also assign 2GB to influx.

It would be good not to have such a high fixed overhead.

The low-hanging fruit here is probably optimizing heapster, because it is under our control.

[2015-06-26 14:18] bgrant0607 commented on #4822
I could imagine `new` being a generic generator invoker.

I know `kubectl config` has a subcommand structure, but I'm not very comfortable with that approach without a principle that users could use to develop a mental model that would allow them to infer which pattern should be applied for a given operation.

Maybe the principle for `config` could be that the commands in the group are just managi

[2015-06-26 14:18] justinsb opened #10397 "Scheduler making unsatisfiable decisions"
Now that heapster & influx have a high memory requirement (I think that is the change), I am seeing scheduler misallocations during cluster startup (on AWS, with 2 m3.medium minions).  I'm not entirely sure which Capacity is being exceeded - presumably memory, but elasticsearch-logging doesn't seem to have a memory requirement.

After startup `kubectl get pods` shows a lot of incorrect allocations

[2015-06-26 14:21] eparis opened #10398 "Call firewalld instead of using iptables when possible"
Using iptables commands directly on a system managed by firewalld can result in problems. Currently all documentation recommends turning off firewalld before using kubernetes. Instead, like docker, we should send commands to firewalld instead of directly via exec of iptables. This removes the race issues where they both try to operate at the same time and removes problems where our rules are remov

[2015-06-26 14:22] cgwalters commented on #10398
Docker PR: https://github.com/docker/docker/pull/9397

[2015-06-26 14:26] gmarek commented on #10242
I see that I had missed quite a lot by going to conferences, as it took me some time to understand what's the issue.

IIUC we have a problem because current scheduling algorithm can assign "all new pods" to the single machine if it turns out that it's the one with slightly more free resources than the rest. I'm not quite sure what's the role of the namespace in this picture. Is it only LimitRange

[2015-06-26 14:37] justinsb opened #10399 "GetNodeResources is no longer used"
After #8164, nodecontroller no longer calls GetNodeResources.

I don't see a comment on this being deliberate.  @cjcullen ?

Nodes are still reporting memory correctly (I presume the kubelet is reporting it).  I don't know if cores are being reported correctly, but e.g. on AWS cores have very different sizes, so we can't rely on a simple core-count.

[2015-06-26 14:43] erictune commented on #10399
@justinsb what do you mean by "core have very different sizes"?

[2015-06-26 14:47] erictune commented on #10356
+1 to removing system secrets.  Sorry for creating them and not just
waiting for service accounts.

On Thu, Jun 25, 2015 at 3:14 PM, Mike Danese <notifications@github.com>
wrote:

[2015-06-26 14:47] roberthbailey commented on #10383
/cc @dchen1107

[2015-06-26 14:48] roberthbailey commented on #10385
/cc @davidopp

[2015-06-26 14:50] erictune commented on #10365
+1 to doing this.

[2015-06-26 14:50] roberthbailey commented on #10396
/cc @vishh @vmarmol

[2015-06-26 14:51] roberthbailey commented on #10397
/cc @davidopp @lavalamp @vishh @vmarmol

[2015-06-26 14:51] roberthbailey commented on #10398
/cc @thockin

[2015-06-26 14:53] roberthbailey commented on #10399
I think nodes have reported resources for a while. Before nodes self registered, the nodecontroller would get an initial resource estimate for the node but that should no longer be necessary since as soon as the node is registered it will have an accurate resource representation.

[2015-06-26 14:53] roberthbailey commented on #10399
/cc @davidopp @dchen1107

[2015-06-26 14:55] justinsb commented on #10399
On AWS, the core count is only a proxy for power.  AWS defines a different unit (called ECU) which they use to provide a way to normalize this.  These instance types all have two cores, but they have varying numbers of ECUs:

m3.large: 6.5
c4.large: 8
c3.large: 7

'legacy' instance types have more variation:

m1.large: 4
c1.medium: 5
m2.large: 6.5

It's not the end of the world if we simply use co

[2015-06-26 15:13] erictune commented on #7294
The default value should be to not use swap at all.

I think docker chose their format to be just like the cgroups interface.  But, I don't think we need to copy that pattern.  I'd rather that the resources list does not double-count resources or mix resources.  It should be easy to add up resource lists like you add up vectors, to get aggregate amounts of resources.

So, I think swap should just

[2015-06-26 15:19] vishh commented on #10396
Heapster's memory usage is currently proportional to the number of
containers. 2.5 GB is the ceiling. Smaller clusters can set a lower limit.

On Fri, Jun 26, 2015 at 7:50 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-06-26 15:29] erictune commented on #6781
I don't think we should document the scheduler in that much detail because it may encourage people to rely on features that we later want to change.

I haven't see any question about how the scheduler works on IRC/email/issues.  From that I conclude that ti Just Works :tm: and so the less said the better.

[2015-06-26 15:32] erictune commented on #6781
@HaiyangDING
don't want to discourage you at all.
happy to have help on documentation.
There are 60 unassigned documentation issues:
https://github.com/GoogleCloudPlatform/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Fdocumentation+no%3Aassignee

[2015-06-26 15:37] #9734 closed

[2015-06-26 15:38] thockin commented on #8250
Here's the doc.  As of #10150 You don't need anything special.

[2015-06-26 15:38] #8250 closed

[2015-06-26 15:42] justinsb commented on #10396
@vishh - right, and I totally understand how we got here.  I don't even think 2.5GB is that unreasonable if you're running 10k containers.  It just rules out smaller instance types (f1-micro & g1-small on GCE), and it is mostly going to be wasted memory for smaller clusters.  We don't have any resource strategies other than "allocate max" right now, so I don't think we have a choice.

Not a big de

[2015-06-26 15:57] erictune commented on #10384
@codefx9

You can put different labels on your nodes.
And you can put different nodeSelector on your pods to force those pods to
those nodes.

If you want to make make a mandatory policy that certain pods have a
certain nodeSelector, you can write an admission controller which adds such
a node selector.  Something like:

[code]
If you want to send a PR, we will take it after we finish v1.

On Fri,

[2015-06-26 16:00] thockin commented on #9995
The "rightest" answer is to add UDP support to load-balancer.

Unfortunately GCE's load-balancer is a forwarder, and does not allow port-remapping.  Here's a hack that can maybe tide you over: #10405 - please try it and let me know if it doesn't work.

[2015-06-26 16:10] erictune commented on #10383
Can you do two things:

1) verify that the registry name in your .dockercfg is an URL, like this:
[code]
If not add, and try again.

2) go to the node and check if you can `sudo docker pull $yousecretimagename`.

[2015-06-26 16:21] eparis opened #10406 "Vagrant and cluster_monitoring no longer work"
@derekwaynecarr So it looks to me like vagrant has influxdb as the default
[code]
but only 1G per node:
[code]

https://github.com/GoogleCloudPlatform/kubernetes/pull/10260 Set resource requirements of 2G and 2.5G for components.

So effectively that change broke vagrant, right?

[2015-06-26 16:22] eparis commented on #10406
@vishh @dchen1107

[2015-06-26 16:23] smarterclayton commented on #10366
I remember what the concern was - whether most proxies would properly support connection upgrade on a POST.  We haven't extensively tested whether POST would work, but we *require* support for at least HAProxy and an F5 proxy in front of our exec/portforward endpoints.  So we probably need to test that.

----- Original Message -----

[2015-06-26 16:30] erictune commented on #10383
I tried this just now.  It worked for me.
I did:
  1. start a pod which pulls a private image from my account at the docker hub.  Verify that it failed to start.  delete the pod.
  1. verify I can run that image with docker on my desktop
  1. `for m in $(get list of nodes); do scp ~/.dockercfg root@$m:/root/.dockercfg`
  1. recreate pod from step 1.  verify that it starts.  It did.

I have this so

[2015-06-26 16:38] dchen1107 commented on #10406
@vishh and I just talked about this. The resource limit we choose is based on our scalability test, which is indeed over-killed for small cluster. If we have auto-pilot features, we don't need to do this. Here are several proposals:

1) Set addon services with minimal default resource limit based on the default configuration: # of nodes, 30~50 pods per node. Then document how much each service req

[2015-06-26 16:45] dchen1107 commented on #8918
I ran validation tests against docker 1.7 yesterday. Several tests are failed due to failed to get token from metadata service. The below is one of examples: @roberthbailey any idea?

$ cluster/kubectl.sh describe services external-lb-test  --namespace=e2e-tests-service-0-gq3qa
Name:			external-lb-test
Labels:			<none>
Selector:		testid=external-lb-test-30e33641-1b90-11e5-9f89-24be050deb0e
Type:

[2015-06-26 16:53] thockin commented on #9793
I'm going to close it for now.  If you can repro, please reopen

[2015-06-26 16:54] #9793 closed

[2015-06-26 16:54] roberthbailey commented on #10406
@dchen1107 This sounds reasonable. Do you consider it a v1.0 blocker?

[2015-06-26 16:57] bgrant0607 commented on #10406
@roberthbailey Yes.

[2015-06-26 16:59] thockin commented on #10398
This is a fair point for post-1.0

On Fri, Jun 26, 2015 at 7:51 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-06-26 17:15] smarterclayton opened #10408 "Upstreaming OpenShift features"
This is a tracking issue for the purposes of identifying the pieces of OpenShift we would like to componentize and make more consumable for other users of Kube post 1.0.  This list should record whether we want the component in core Kube, contrib Kube, an ecosystem plugin, or to remain in OpenShift (which is a distribution of Kube with enhancements).  This issue does not track the actual work requ

[2015-06-26 17:16] smarterclayton commented on #10408
@bgrant0607 this is for reference on our side - we can discuss all this post 1.0

[2015-06-26 17:16] alex-mohr opened #10409 "0.20 build + cherrypick requests"
I'm going to do today's build of a 0.20 and will use this issue to track its progress.  And if you have cherrypick PR requests, please tag this issue on them.

@brendandburns has pending #10274 to cut it.

[2015-06-26 17:18] kelseyhightower opened #10410 "Kubernetes release binaries should be available via nightly builds"
Kubernetes release binaries should be available via nightly builds or published as part of the ongoing Jenkins continuous testing effort. Ideally published builds from the master branch pass e2e tests.

[2015-06-26 17:18] kelseyhightower commented on #10410
/cc @quinton-hoole @bgrant0607

[2015-06-26 17:20] nikhiljindal opened #10411 "Error in talking https to master using self signed cert"
Hi,
I am trying to talk to master via https using self signed certs, but am getting the following error:

[code]
[code]
curl works fine using --insecure
[code]
[code]

Any idea on how can I fix the ```SSL certificate problem: self signed certificate``` error?

Command to bring up my server:
[code]

Command to generate the certs:
[code]

[2015-06-26 17:23] roberthbailey commented on #8918
@dchen1107 This happens occasionally on GCE when the metadata server isn't behaving properly.

[2015-06-26 17:25] nikhiljindal commented on #10411
Normal http get nodes gives me nothing, which is surprising:
[code]

[2015-06-26 17:26] quinton-hoole commented on #10410
Ack.  Will see whether I can find someone to do this soon.  Most of the bits are already in place.
cc @ixdy who probably knows the quickest way to make this happen.
I guess that we can co-erce Jenkins into uploading every build that passes E2E into a publicly readable Google Cloud Storage location.

[2015-06-26 17:26] kelseyhightower commented on #10410
@quinton-hoole That would be so awesome. Thanks and let me know how I can help here.

[2015-06-26 17:27] nikhiljindal commented on #10411
cc @cjcullen since he replied to related issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/10159

[2015-06-26 17:27] roberthbailey commented on #10411
What setup is this on? Any particular reason that you are using openssl to generate the certs vs using easyrsa (which we [use in the gce start up scripts](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L553-L566))?

[2015-06-26 17:27] nikhiljindal commented on #10411
cc @erictune

[2015-06-26 17:28] smarterclayton commented on #1702
I did a quick 3 way diff implementation with jsonpatch but it needs to be ported to the strategic merge: https://github.com/openshift/origin/blob/master/pkg/util/jsonmerge/jsonmerge.go

----- Original Message -----

[2015-06-26 17:30] nikhiljindal commented on #10411
@roberthbailey Its my local ubuntu machine.
No reason for choosing openssl. I didnt know that we were using easyrsa in our scripts :)

[2015-06-26 17:36] smarterclayton commented on #6255
I fixed this a while back.

[2015-06-26 17:36] #6255 closed

[2015-06-26 17:38] smarterclayton commented on #8580
Fixed by #6723

[2015-06-26 17:39] roberthbailey commented on #10411
It'd be interesting to see if following the same steps with easyrsa rather than openssl generates certs that work on your local setup.

[2015-06-26 17:43] #9866 closed

[2015-06-26 17:47] quinton-hoole commented on #10410
cc @brendandburns @roberthbailey who might have opinions on how best to integrate this properly with the currently manual release cycle.

[2015-06-26 17:54] #10295 closed

[2015-06-26 17:57] roberthbailey commented on #10410
I think that the builds done by jenkins are already available in a public bucket if you know where to look. What we don't have is any sort of process to mark which ones passed e2e tests and which ones didn't.

@kelseyhightower Do you want a nightly build or just the most recent build that passed e2e tests? I don't see much distinction and it would probably be easier to implement the later. We also

[2015-06-26 18:02] lavalamp opened #10412 "etcd "expire" action not handled"
Seen in logs: `etcd_helper_watch.go:411] unknown action: expire`

https://github.com/GoogleCloudPlatform/kubernetes/blob/11f9fd1dcd9a0b45e2b1fdeced95b61aed153599/pkg/tools/etcd_helper_watch.go#L411

Presumably this should send a delete instead of dropping it on the floor.

[2015-06-26 18:03] quinton-hoole commented on #10410
@robertbailey, the "kubernetes-e2e-gce" build is the canonical serialized test run, which runs about once an hour against stable tests.  All of the others are variants optimized for different things, like faster parallel runs, slower soak tests that take days, runs of known unreliable tests etc.  I don't think that any of the latter are of interest here.  Note that "kubernetes-e2e-gce" run only cu

[2015-06-26 18:07] kelseyhightower commented on #10410
@roberthbailey I think we should start with whatever is easier in terms of nightly builds or releases that pass e2e tests. The main goal is a "bleeding edge" release based on master available in a public bucket, which is refreshed a least once daily.

In terms of what tests need to pass, I'm not sure, but we can start with any one of the six e2e tests.

[2015-06-26 18:09] alex-mohr commented on #1883
Script to generate release notes: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/contrib/release-notes

I'll merge that into instructions after @zmerlynn drops edit lock

[2015-06-26 18:11] bgrant0607 commented on #4470
cc @krousey

[2015-06-26 18:13] bgrant0607 commented on #4470
Looks like this was done by PR #6144

[2015-06-26 18:13] #4470 closed

[2015-06-26 18:15] bprashanth commented on #10412
I think I ran into similar confusion about a month ago, I also vaguely remember that kube-dns (or something equally unrelated) was the only thing creating keys with a ttl. Think it's a red herring.

[2015-06-26 18:22] bgrant0607 commented on #9298
cc @krousey

[2015-06-26 18:24] dchen1107 commented on #8918
I ran into that issue quite frequently lately with e2e. Anyway, I manually test dns and service, and found a bug / regression from docker 1.7 release: docker/docker/issues/14209

[2015-06-26 18:27] timothysc commented on #10080
@bprashanth details?

[2015-06-26 18:29] bprashanth commented on #10080
kubectl delete pods doesn't wait till the kubelet has deleted containers on the node

[2015-06-26 18:29] roberthbailey opened #10413 "GCE cluster never initialized"
This was kubernetes-e2e-gce run number 7224.

[code]

[2015-06-26 18:31] mikedanese commented on #10056
Closing as dup of #9180

[2015-06-26 18:31] #10056 closed

[2015-06-26 18:33] roberthbailey commented on #10413
I should note that this was before any of today's ok-to-merge PRs went in and it follows a series of passing e2e runs.

[2015-06-26 18:33] roberthbailey commented on #10413
@quinton-hoole @ixdy

[2015-06-26 18:35] roberthbailey commented on #10413
Note that this also happened during the 6:42am build today as well (number 7210).

[2015-06-26 18:39] dchen1107 commented on #10413
Do we have master logs saved somewhere?

[2015-06-26 18:41] dchen1107 commented on #10398
Subscribe to the issue

[2015-06-26 18:41] bgrant0607 commented on #4822
For my reference, new command location:
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/secrets/new.go

[2015-06-26 18:48] dchen1107 commented on #10178
We should do this once we cut 1.0.

[2015-06-26 18:52] bgrant0607 commented on #10179
I'm not wedded to my proposal. Generalized the issue title.
My requirements are that it has to be configurable via the API, but not easy to subvert accidentally.

[2015-06-26 18:53] timothysc commented on #10080
Ohh yeah, that's been that way forever it's non-blocking.

[2015-06-26 18:57] buley commented on #10318
Sorry to be the  "use case" (aka dumb user) but I'm running into this error message and this is the only reference to it on Google. For other inbound searchers, any tips on how to move beyond it? I've tried different version slugs mentioned above to no avail.

    version: v1
    kind: Pod
    metadata:
      - name: cache
    spec:
      containers:
        - name: shared
          image: gcr.io/

[2015-06-26 18:59] karlkfi commented on #9681
#10197 is merged. We can now use Skip() to skip tests that we don't expect to work on certain platforms.

Unrelated, several skips could probably be removed, as they should work on Vagrant. This needs to be verified. List: https://github.com/GoogleCloudPlatform/kubernetes/issues/3580#issuecomment-114225376

[2015-06-26 19:01] ArtfulCoder commented on #10411
@roberthbailey Nikhil and I looked at it. The FQDN param on the root crt and the server crt were the same which isn't allowed. Fixing the root crt to use a different FQDN fixed the problem.

[2015-06-26 19:08] lcowdrey opened #10417 "vsphere debian vmdk (master/minion) proxy"
Using both the pre-built kubernetes tar ball (v0.19.3) and the base Debian VMDK, (https://storage.googleapis.com/govmomi/vmdk/2014-11-11/kube.vmdk.gz) during kube-up.sh all services for the master and minions do not appear to start and kube-up.sh goes in to endless loop.

This appears to be down to such running commands as:

curl -v -L --connect-timeout 20 --retry 6 --retry-delay 10 https://bootst

[2015-06-26 19:09] bprashanth opened #10418 "Elasticsearch fails service port validation"
Elastic search fails to come up on my (fairly recent) cluster with:
[code]
This leads to a kibana restart loop (the pod stays in running but the container keeps restarting, and the kubelet keeps updating restart count)

[code]
@satnam6502

I don't think we've changed the json recently, so it's probalby new validation  (https://github.com/GoogleCloudPlatform/kubernetes/blob/54a3ebef3c6bcc6c4e4d7a45

[2015-06-26 19:20] roberthbailey commented on #10411
Makes sense. You can see from the GCE setup scripts that we make the root FQDN include a timestamp for uniqueness.

[2015-06-26 19:32] lcowdrey commented on #10417
root      1973     1  0 12:30 ?        00:00:00 /usr/sbin/rpc.idmapd
root      2255     1  0 12:30 ?        00:00:00 /usr/sbin/rsyslogd -c5
root      2344     1  0 12:30 ?        00:00:00 dhclient -v -pf /run/dhclient.eth0.pid -lf /var/lib/dhcp/dhclient.eth0.leases eth0
root      2365     1  0 12:30 ?        00:00:00 /usr/sbin/acpid
daemon    2390     1  0 12:30 ?        00:00:00 /usr/sbin/atd
roo

[2015-06-26 19:33] lcowdrey commented on #10417
kube@kubernetes-master:/tmp$ cat master-start.sh.err
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:20 --:--:--     0Warning: Transient problem: timeout Will retry in 10 seconds. 6 retries left.
  0     0    0     0    0     0

[2015-06-26 19:35] lcowdrey commented on #10417
kube@kubernetes-master:/tmp$ cat master-start.sh.err
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:20 --:--:--     0Warning: Transient problem: timeout Will retry in 10 seconds. 6 retries left.
  0     0    0     0    0     0

[2015-06-26 19:35] lcowdrey commented on #10417
kube@kubernetes-master:/tmp$ cat master-start.sh.out
Unpacking Salt tree
Running release install script
+++ Installing salt files into new trees
`kubernetes/saltbase/salt' -> `/srv/salt-new/salt'
`kubernetes/saltbase/salt/kubelet' -> `/srv/salt-new/salt/kubelet'
`kubernetes/saltbase/salt/kubelet/kubelet.service' -> `/srv/salt-new/salt/kubelet/kubelet.service'
`kubernetes/saltbase/salt/kubelet/kube

[2015-06-26 19:41] mikedanese opened #10420 "shippable recent builds are failing"
This step: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/shippable.yml#L16-L21

[code]

https://app.shippable.com/builds/558da4718f3d3c0c00e71d81
https://app.shippable.com/builds/558da12e37e4f10c00f2db55
https://app.shippable.com/builds/558d9eba8f3d3c0c00e6c7e9
https://app.shippable.com/builds/558da2c68f3d3c0c00e70bfb
https://app.shippable.com/builds/558d98178f3d3c0c00e63d42

cc @r

[2015-06-26 19:42] ArtfulCoder commented on #10411
Closing issue..

[2015-06-26 19:42] #10411 closed

[2015-06-26 19:43] manishas commented on #10420
We'll take a look ASAP. Tagging @avinci

[2015-06-26 19:48] kelseyhightower commented on #10410
@quinton-hoole I think the GCE e2e tests are good enough for this request.

[2015-06-26 19:49] bgrant0607 commented on #10242
Part of the problem is that it doesn't make sense for LeastRequested to be the highest-weighted priority for pods that don't request any resources.

[2015-06-26 19:54] bgrant0607 commented on #10242
@gmarek CalculateAntiAffinityPriority is a priority function, so I'm not sure what you mean by "on the scoring, not spreading side".

[2015-06-26 19:54] #9645 closed

[2015-06-26 19:55] bgrant0607 commented on #10242
Max. pods should scale with number of nodes, but is irrelevant to this problem. As @bprashanth wrote, we shouldn't be hitting max. pods.

[2015-06-26 19:56] lavalamp commented on #10412
It's not the thing I'm trying to find but it is definitely worth fixing. I think the graceful pod deletion stuff sets TTLs?

[2015-06-26 19:58] bprashanth commented on #10412
yes, IIRC it's hidden behind a flag though

[2015-06-26 19:59] bgrant0607 commented on #10242
I'd frame the problem this way:

We don't want a single node to become a magnet for all pods that specify no require requirements.

Therefore, other criteria must take precedence for such pods than LeastRequested, since the placement of such pods doesn't change future LeastRequested decisions.

[2015-06-26 20:01] smarterclayton commented on #10009
We already have MetaInsertionFactory in conversion that depends on a TypeMeta equivalent, so we should probably just use that.  It's somewhat opinionated (which is why it was in runtime instead before).  It's possible DefaultMetaFactory should be specified from runtime.NewScheme() instead of implicit in conversion/scheme.go - in which case, having runtime.TypeMeta be the thing we use makes a lot o

[2015-06-26 20:01] lavalamp commented on #10385
I was able to repro this yesterday, btw. You're not crazy. Perhaps search back through our jenkins apiserver logs to see when it broke?

[2015-06-26 20:01] smarterclayton commented on #10009
I'm not sure I find KindSpec any better than TypeMeta - I would really prefer just to leave it as TypeMeta.  If we add group to that, that's fine.

[2015-06-26 20:04] smarterclayton commented on #10009
What group are "api.Status" and "api.DeleteOptions" in?

[2015-06-26 20:08] lavalamp commented on #10412
Maybe it's events? I think the test I found this in watches events. At any rate, the fix should be trivial.

[2015-06-26 20:09] bgrant0607 commented on #10242
@davidopp This kind of problem is one reason why vertical auto-sizing is important.

[2015-06-26 20:12] erictune opened #10421 "inotify resources exhausted : possible leak in cAdvisor"
Seen on my kubelet on my GKE cluster:

[code]

Debugging:

[code]

no error seen after limit was lifted.

[2015-06-26 20:14] erictune commented on #10421
May need to add
[code]
to `/etc/sysctl.conf`.

Useful page:
http://peter-butkovic.blogspot.com/2013/08/tail-inotify-resources-exhausted.html

[2015-06-26 20:20] erictune commented on #10421
I only saw this on one of my 4 nodes, and when reset the /proc/sys/fs/inotify/max_user_watches it appears to have killed all the outstanding inotifies, because when I tried to find them after that, with
`for foo in /proc/*/fd/*; do readlink -f $foo; done  | grep inotify` there were none.

[2015-06-26 20:20] erictune commented on #10421
low priority if nobody else has seen this.

[2015-06-26 20:23] erictune commented on #10421
Lots of messages like this:
[code]

[2015-06-26 20:26] erictune commented on #10421
This looks like it is `./Godeps/_workspace/src/github.com/google/cadvisor/container/raw/handler.go`
which says this near line 520:
[code]

[2015-06-26 20:27] cjcullen commented on #10159
Oops I didn't see part 3 of your question.

With the self-signed cert, the apiserver cert and the certificate authority are the same, so you would just set `--cacert /var/run/kubernetes/apiserver.crt` (or wherever you copy that cert to).

[2015-06-26 20:28] erictune commented on #10421
@vmarmol any idea what would cause an inotify leak?
Some things that were going on:
  - I had a pod that was stopping and restarting fast
  - I killed some containers that were part of pods directly with `docker rm` to debug some stuff.

I'll see if I can repro.

[2015-06-26 20:31] erictune commented on #10421
It was taking a long time for a pod to start.  Possibly there was a delay as various threads fought to acquire inotify resources, which were slowly being released.

[2015-06-26 20:33] bgrant0607 commented on #10242
cc @justinsb

[2015-06-26 20:33] bgrant0607 commented on #10397
See also #10242

[2015-06-26 20:34] bgrant0607 commented on #10397
cc @dchen1107

[2015-06-26 20:35] bgrant0607 commented on #10397
Or maybe #10406

[2015-06-26 20:36] mikedanese commented on #10410
Since this is already available if you look thourgh the scripts in cluster/:
[code]

latest is the last build that has passed e2e-gce

[2015-06-26 20:38] dchen1107 commented on #10421
Which version it is?  @vmarmol or  @rjnagal fixed some leakage issues lately in cadvisor side.

[2015-06-26 20:38] thockin commented on #10178
Docker's networking does not allow you to specify a CIDR for the bridge, so
we can not use it yet.

On Fri, Jun 26, 2015 at 11:48 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-06-26 20:40] bgrant0607 commented on #8449
This is fixed.

[2015-06-26 20:40] #8449 closed

[2015-06-26 20:40] cjcullen opened #10423 "Master logs not uploaded on successful e2e runs or failed test -up"
We [dump master logs](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/core.go#L32) for uploading to GCS on [failed e2e runs](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/e2e_test.go#L150), but not on successful e2e runs or failed test -up.

We should definitely be dumping those logs for failed cluster-ups, and it would also be nice to throw in the s

[2015-06-26 20:40] cjcullen commented on #10423
@ixdy @quinton-hoole

[2015-06-26 20:41] roberthbailey commented on #10417
/cc @pietern (listed on the [getting started guides](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides) as the vsphere maintainer).

@lcowdrey FYI the vsphere guide doesn't look like it's been updated since last November, so it's unclear to me how well we should expect them to work with the current release. Contributions would be greatly appreciated!

[2015-06-26 20:41] cjcullen commented on #10413
No, we don't have master logs when test -up fails. I filed issue #10423.

[2015-06-26 20:42] roberthbailey commented on #10418
I just merged a PR this morning that added extra validation and the e2e tests were still green.... Is this something that isn't covered by the elastic search e2e tests?

[2015-06-26 20:42] mikedanese commented on #10410
I'll send a PR to add this to the docs.

[2015-06-26 20:43] bgrant0607 commented on #10242
@gmarek No, LimitRange was not just intended to create another max per node. It made the LeastRequested priority function do something, so we'd get scheduling decisions that were better than just random selection. For instance, if all pods had just the default value, they'd be spread evenly. If there were some large-resource containers, that would cause fewer pods to be scheduled on the same node.

[2015-06-26 20:43] bgrant0607 commented on #10242
Previous discussion was in #4910

[2015-06-26 20:43] parikhyash commented on #10371
@sttts The patch does the job. The containers aren't leaking now. Thanks!

[2015-06-26 20:43] #10371 closed

[2015-06-26 20:44] bgrant0607 commented on #4910
Is there anything else we're planning to do here? Scale the max. by node resources?

[2015-06-26 20:44] dchen1107 commented on #10397
I want to understand why so many elasticsearch-logging-XXX pods are scheduled to your cluster which only has 2 nodes, and one core each. There is LimitRange object created for default namespace which is still applying to addons service today. #10331 is pending to change this, that is a different issue.

[2015-06-26 20:44] roberthbailey commented on #10423
Getting logs uploaded on a failed test -up seems really important for debugging.

[2015-06-26 20:52] dchen1107 commented on #10397
@bgrant0607 just indicates to me that those pods are not pending, instead of CapacityExceeded, which means they are rejected by kubelet at:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1553

cc/ @yujuhong related to mirror pods. On node, there is only one static pod -- fluentd, which by default has 100ms. Shouldn't scheduler take that into account when mak

[2015-06-26 20:55] erictune opened #10425 "Unable to revoke docker credentials"
Steps to repro:
  1. put a .dockercfg in /root/.dockercfg with credentials for a private repository
  1. run a pod that uses an image from that repository.  it will succeed.
  1. stop the pod
  1. delete the .dockercfg
  1. restart the kubelet
  1. remove the image with `docker rmi -f [privateimagename]`
  1. `docker logout`
  1. verify that you cannot manually pull the private image with a node-l

[2015-06-26 20:56] bgrant0607 commented on #10372
See #8448 and #8604. Both take `-c container`. Did you do help or look at the docs? Or did you just try exec without `-c`?

[2015-06-26 20:59] erictune commented on #10425
@deads2k

[2015-06-26 20:59] erictune commented on #10425
Repro'ed a second time to make sure I am not crazy.

[2015-06-26 21:01] erictune commented on #10425
The image clearly got pulled, but a straight docker pull still can't get the image:
[code]

[2015-06-26 21:06] erictune commented on #10425
What is baffling is that, since docker can't pull the image, it seems like the kubelet must be passing the credentials.
But the kubelet was restarted, so it shouldn't be remembering any credentials.

[2015-06-26 21:11] nikhiljindal commented on #9964
All pending PRs have been merged. Verified that this is now fixed.

[2015-06-26 21:11] #9964 closed

[2015-06-26 21:15] erictune commented on #10425
This isn't terribly severe.  But it would be nice to know what is going on.

[2015-06-26 21:21] bprashanth commented on #10397
@justinsb can I see your elastic search rc? (kubectl get rc -o json) Can I also get a kubectl describe on both the running elasticsearch pod and one that's capacity exceeded.

[2015-06-26 21:26] erictune commented on #10425
TODO: in `pkg/kubelet/dockertools/docker.go` around line 152, see what credentials are being used.

[2015-06-26 21:27] erictune commented on #10421
[code]

[2015-06-26 21:29] #10354 closed

[2015-06-26 21:32] bgrant0607 commented on #9298
We should spawn the context/preferences move into a separate issue.

[2015-06-26 21:39] bgrant0607 commented on #10009
We need to detangle our API machinery and our API spec -- pkg/api currently contains both.

That said, TypeMeta is in an interesting grey area, since all of our API machinery depends on it in practice.

Some of the REST mapping types may have non-serializable structs we could use for the in-memory representation. HOWEVER, I've also proposed that we eliminate the separate in-memory representation (

[2015-06-26 21:40] bgrant0607 commented on #10009
Couldn't/shouldn't DeleteOptions be versioned?

[2015-06-26 21:43] bcbroussard commented on #10177
@maulik887 The Kubernetes web ui is built into the apiserver and runs by default  at `http://<kubernetes master api>/static/app/` or the shortcut url `/ui`. So you don't need to do anything special to access it.

If you want to build your own custom tabs and pages in the web ui, you can look at [/www/master/components/README.md](/www/master/components/README.md)

[2015-06-26 21:55] bgrant0607 commented on #2114
Some updates:

1. I believe PUT to a collection returns 404 now, as mentioned somewhere above. We should add the case to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/integration/auth_test.go, however.
2. We do support creation on PUT. However, we should ensure it works for all objects (e.g., services), and that we perform the proper initialization, validation, and defaulting

[2015-06-26 21:59] smarterclayton commented on #10009
It doesn't really exist in one group - it's exposed in all groups.  But you would need to be able to convert it to one internal interface/struct so that all our common client status code can still work (i.e. reading values off the known type).  Client shouldn't know about group1/v1/Status, group2/v2/Status, group3/v3/Status, but someone has to know that group3/v3/Status == group2/v2/Status == grou

[2015-06-26 22:00] bgrant0607 commented on #7047
Closing as redundant with the other 2 issues I cited above.

[2015-06-26 22:00] #7047 closed

[2015-06-26 22:00] smarterclayton commented on #10009
When user doesn't specify a version, sure - but our clients absolutely depend on status being versioned (the recent ID -> Name rename is an example).  Status unversioned needs to be defined *somehow* - even if that's implicitly choosing a version to respond with (and it can self identify)

----- Original Message -----

[2015-06-26 22:05] kelseyhightower commented on #10410
@mikedanese Awesome!

[2015-06-26 22:08] ixdy commented on #10410
Note that `ci/latest.txt` is the latest version which built, not which passed e2e-gce.
We discussed in person adding an additional pointer file to indicate the latest version which also passed e2e-gce.

[2015-06-26 22:09] kelseyhightower commented on #10410
I'm so happy right now as this command works:

[code]
[code]

[2015-06-26 22:17] ghodss commented on #9298
I can do that by Monday, I have a lot of it written up.

[2015-06-26 22:18] ghodss commented on #9298
Sorry, to clarify, I can write up the issue with the rationale, I have not worked on the code for it. :)

[2015-06-26 22:22] uluyol commented on #10009
Assuming that we use runtime.TypeMeta everywhere, pkg/conversion would not be able to use it. Would it make sense to move SimpleMetaFactory along with DefaultMetaFactory into pkg/runtime then?

[2015-06-26 22:26] nikhiljindal commented on #2114
FWIW, There was a TODO for point 6 which I recently removed https://github.com/GoogleCloudPlatform/kubernetes/pull/10074#discussion_r32876561 :)

[2015-06-26 22:28] dchen1107 commented on #7046
I moved this to 1.0 candidate because we are moving addon services to their own namespace now (#10331).

cc @brendandburns @bgrant0607 @satnam6502

[2015-06-26 22:30] zmerlynn commented on #10410
Variants of `gsutil cat gs://kubernetes-release/ci/latest.txt` are exactly what we use in Jenkins, and have for a while. It's been a dream for a while. :) Sorry it wasn't more public.

[2015-06-26 22:33] davidopp commented on #4910
Yes, I think we want to do that, also we need to deal with #8802 so we can get e2e test for this feature.

[2015-06-26 22:35] davidopp commented on #10242
I completely agree. The question is what to do until we have that. In a sense, applying a fixed resource limit to every pod that requests zero (i.e. what we're doing with LimitRange in default namespace currently, and arguably should do in all namespaces by default) is a degenerate case of vertical auto-sizing.

[2015-06-26 22:37] vishh commented on #10255
This is fixed in heapster v0.15.0 release.

[2015-06-26 22:37] #10255 closed

[2015-06-26 22:40] dchen1107 commented on #10242
+1 on what @davidopp said above.

[2015-06-26 22:40] roberthbailey commented on #10406
@dchen1107 - What happens when the user resizes their cluster? Say I initially create a cluster with 10 nodes to test drive kubernetes and we size heapster appropriately. Then I decide that I like it and everything is working, so I go into my MIG configuration and crank the size up from 10 --> 100. Now heapster is underprovisioned and cluster monitoring will be ineffective.

If we are going to set

[2015-06-26 22:51] timstclair commented on #8524
Couldn't you just use a set query in this case? `version in (v1, v2)`
It seems like this would only be an issue if you're trying to do a union over different keys (e.g. `version=v1 OR client-version=v1`)

[2015-06-26 22:55] dchen1107 commented on #10406
@roberthbailey Good question! This is why I updated #7046 and put it into v1.0 candidate for more discussion. This is also the initial reason we chose the peak usage of heapster and influxdb at the first place.

[2015-06-26 22:58] lavalamp opened #10432 "Validate max entity size"
We need a maximum object size check in validation, and there needs to be enough leeway such that when e.g. scheduler adds a node, it won't suddenly start exceeding the limit. So whatever the limit is in etcd, we need to be well under it on create, so that we'll be able to update the object adding status, etc.

Otherwise, scheduler gives up with this message and the pod stays pending:

[code]

[2015-06-26 23:02] smarterclayton commented on #2114
We agreed returning just version is bad.  Returning the updated resource is a performance win and easier for clients.

[2015-06-26 23:04] davidopp commented on #10242
I think everyone here is agreeing that the right thing to do (for 1.0) is to enhance @bprashanth 's PR so that it behaves slightly better.

I agree that whether to add default LimitRange to non-default namespace is somewhat orthogonal because giving 0-limit pods a 0.1 CPU limit doesn't help much especially on beefier nodes (e.g. 2-node cluster with 8-core nodes, one node has a 4-CPU-limit pod runn

[2015-06-26 23:16] kelseyhightower commented on #10410
@zmerlynn @ixdy @roberthbailey @mikedanese Almost. Looks like we don't publish the kube-apiserver, kube-controller-manager, or the kube-scheduler binaries like we do for the normal releases.

[2015-06-26 23:20] erictune commented on #10399
Actually, justinsb, it appears you are the _only_ one doing it right.  In `docs/resources.md` we state that cpu is actually in units of `KCU`, which is sort of like an `ECU` except that we haven't defined it yet :frowning:

[2015-06-26 23:21] thockin opened #10433 "Mirror pods never show as ready"
I dropped some configs on a machine, and then saw it in the API (yay).  But they show as not-ready.

[code]

The dns-proxy and hostnames-proxy have been running for 20  minutes or more, as per `docker ps`

P1 for initial assessment.

[2015-06-26 23:22] bgrant0607 commented on #10420
The last successful build was about 7 hours ago.

[2015-06-26 23:22] manishas commented on #10420
@minedanese Builds on Shuppable should be working now.  Thanks!

[2015-06-26 23:23] thockin opened #10434 "mirror pods are visible in API but not gettable"
[code]

Not sure what's up.  P1 for triage

[2015-06-26 23:25] zmerlynn commented on #10410
Hmm. The binary push script should be identical between CI builds and the official release process

[2015-06-26 23:27] thockin opened #10435 "kubectl UX around namespaces is awkward"
[code]

It's very clear what I intended to happen.  I get WHY this is happening (default context) but it's clunky.  Can we do better?

[2015-06-26 23:29] dchen1107 commented on #10433
I noticed that fluentd-cloud-logging-kubernetes-minion-XXXX other mirror pods are running properly:

[code]

Could you please run kubectl describe pods hostnames-proxy-kubernetes-minion-hiko? Sounds like that the containers in that pod never run.

[2015-06-26 23:30] zmerlynn commented on #10410
@kelseyhightower: No, the issue is that we stopped building those binaries *at all*.

[2015-06-26 23:30] zmerlynn commented on #10410
[code]

[2015-06-26 23:30] mikedanese commented on #10410
Because they run in docker containers?

[2015-06-26 23:31] zmerlynn commented on #10410
@mikedanese: Not on CoreOS.

[2015-06-26 23:31] kelseyhightower commented on #10410
Seems the server tar is also incomplete:

[code]

[code]

[2015-06-26 23:32] mikedanese commented on #10410
0.19.3 release doesn't have them either

https://github.com/GoogleCloudPlatform/kubernetes/releases/download/v0.19.3/kubernetes.tar.gz

[2015-06-26 23:32] kelseyhightower commented on #10410
@zmerlynn I think a few things are about to break now. Many getting started guides use those binaries.

[2015-06-26 23:32] mikedanese commented on #10410
Ops nevermind it does

[2015-06-26 23:32] kelseyhightower commented on #10410
This seems like new behavior in 0.20.x

[2015-06-26 23:33] manishas commented on #10420
we're looking into this further....

[2015-06-26 23:33] zmerlynn commented on #10410
I'm looking for the PR that broke it now..

[2015-06-26 23:33] lavalamp opened #10436 "Define performance goal for endpoint propagation"
This is the time from when a service is created until its endpoints are populated, given that all of the associated pods are already running & ready.

I suggest 5s median and 10s tail (99th percentile). Currently we look to be about 15s median, 16s tail, on my little cluster.

[2015-06-26 23:34] thockin commented on #10433
Actually, it looks like the mirror pod is appearing and disappearing.  Dawn saw it.  Maybe this is the same as #10434

my manifest file

[code]

[2015-06-26 23:34] ixdy commented on #10410
#9715 is the PR which removed the binaries, referencing issue #9253.

[2015-06-26 23:35] zmerlynn commented on #10410
Yeah, that.

[2015-06-26 23:35] zmerlynn commented on #9253
We ship these for most of the CoreOS distros. Until they find another way, we need to revert the solution.

[2015-06-26 23:37] kelseyhightower commented on #9253
@zmerlynn Should everyone on the community side move to docker containers for master components?

[2015-06-26 23:39] zmerlynn commented on #10410
@kelseyhightower: We'll get it cherry-picked for 0.20.1. Unfortunately there's no way for us to repush 0.20.0 safely (well, there's almost a way, but meh).

[2015-06-26 23:39] kelseyhightower commented on #10410
@zmerlynn Glad I can build from CI :)

[2015-06-26 23:40] zmerlynn commented on #10410
After we get that merged, you should see the CI stream fixed, too..

[2015-06-26 23:41] richardbx commented on #10410
Thanks for this. Been looking for the same thing just now. Deo volente.

[2015-06-26 23:41] preillyme commented on #9674
@timstclair great work on https://github.com/GoogleCloudPlatform/kubernetes/pull/10077 really awesome starter project contribution.

[2015-06-26 23:43] erictune opened #10438 "Decide what we are doing with normalized cpu"
In docs/resources.md we state that cpu is actually in units of KCU, which is normalized CPU.
But, on GCE/GKE we don't do that.  Nor on Vagrant, or anything else.
As @justinsb points out, the AWS cloud provider is reporting cores in ECUs (amazon's normalized core).
GCE is reporting actual cores.
GCE used to have GCEUs but it seems the documentation for that is gone.

So, we need to do something.  S

[2015-06-26 23:43] erictune commented on #10438
@justinsb pointed out this issue on #10399

[2015-06-26 23:44] dchen1107 commented on #10433
I know what is going on here. You are running your static pods on default namespace which with default LimitRange object associated with. In that case, the mirror pod created for API server with default limit never match the real one started by kubelet. Please update your config file with resource limit or change it to a different namespace, the problem should be resolved.

[2015-06-26 23:45] erictune commented on #10399
Filed #10438 for the ECU/normalized-cpu issue, so that this Issue can just be about deleting dead code.

[2015-06-26 23:47] dchen1107 commented on #10433
close it as a dup of #8683

[2015-06-26 23:48] dchen1107 commented on #10434
close it as another dup of #8683

[2015-06-26 23:49] dchen1107 commented on #10438
subscribe to this issue.

[2015-06-27 00:03] thockin commented on #10438
I assumed it would be something like each cluster can optionally define a
mapping of platform-CPU to KCUs and that would be used at scheduling/run
time.  I can think of no better person than you to consider the merits of
these options, though :)

On Fri, Jun 26, 2015 at 4:49 PM, Dawn Chen <notifications@github.com> wrote:

[2015-06-27 00:12] akamalov opened #10439 "Suggestion: Is it possible to get Kubernetes keep its Secrets in HashiCorp Vault"
Is it possible to get Kubernetes keep its Secrets in HashiCorp Vault ?

https://github.com/hashicorp/vault/issues/377

Alex

[2015-06-27 00:12] #10379 closed

[2015-06-27 00:16] thockin commented on #10439
This was discussed very briefly as something to explore after 1.0

On Fri, Jun 26, 2015 at 5:12 PM, akamalov <notifications@github.com> wrote:

[2015-06-27 00:17] alex-mohr commented on #10409
Thanks for the cherrypick requests.  Those will likely get kicked off on Monday along with any others that come up.
I've published 0.20.0 to the releases page, along with binaries.  Release notes still in progress, also to land on Monday.
https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.20.0

[2015-06-27 00:18] akamalov commented on #10439
Thanks Tim!

[2015-06-27 00:21] bgrant0607 commented on #10408
Thanks. To the list I'd add:
* L7 - routes #561
* templates / parameterization
* kubectl extensions, such as edit #8263 and secret generation #4822
* any UI elements that can be shared
* misc. patches you're carrying

[2015-06-27 00:22] bgrant0607 commented on #10408
cc @erictune @thockin @davidopp

[2015-06-27 00:43] avinci commented on #10420
OK we have 2 issues. We upgraded our backend to run on top Kube. For some reasons our eval scripts started failing and we fixed that. That resolved GO install.

Second, we had put in timeouts to be more aggressive than our prior versions. There was a bug on that one ended up timing out about 10 of Kube builds. We fixed that and now builds are running.

On the latest build https://app.shippable.com

[2015-06-27 00:50] mikedanese commented on #10420
@avinci @manishas Thanks for all your work! We have had a build succeed again so the error you saw may be a flake by our test. I will kick it and see if they problem goes away.

https://app.shippable.com/builds/558dee152799150b00218baf

[2015-06-27 00:54] avinci commented on #10420
awesome. Apologize for the craziness today. We are on Kube 100% now and its a huge upgrade from our poor mans orchestration that we had. Hopefully the timeouts should reduce significantly now :-)

[2015-06-27 01:04] timstclair commented on #9674
Thanks!

[2015-06-27 01:08] timstclair commented on #10368
Looking into this more, I believe this may have been the result of actually running the e2e tests on this cluster (via `go run hack/e2e.go -test`). I ran the tests on another cluster, and it was left with one node in a similar state (kubeconfig similar to above), and the other node running. Is this WAI?

[2015-06-27 01:10] timstclair commented on #10368
I'm going to write this off as caused by the e2e tests, and not normal functioning.

Sorry for the false alarm.

[2015-06-27 01:12] hjianhao opened #10441 "Create service but feel something wrong about iptables?"
I compile and setup kubernetes cluster from master branch. When After I create service, I can not access the service , I see the iptables, that's the items:

On 0.19.0 , the KUBE-PORTALS-CONTAINER's target is REDIRECT, BUT now is the DNAT the same as the following KUBE-PORTALS-HOST, is there something wrong or need some configruations?

Chain KUBE-PORTALS-CONTAINER (1 references)
target     prot o

[2015-06-27 01:20] HaiyangDING commented on #6781
@erictune
Hi, not at all:) The reason I want to write this is that many of my colleagues are curious about the mechanism behind the scheduling of k8s. They are trying to justify to what extend they should modify the scheduler if they adopt k8s in the near future (the scheduling mechanism is considered to be very import in their product). Due to this, I think writing a brief document is a good idea

[2015-06-27 01:24] HaiyangDING commented on #9915
Is anyone working on this? If not, I would like to do it.

[2015-06-27 01:39] ravigadde commented on #260
Reviving this old thread to ask a question. Is there any interest in a replication controller naming policy? Specifically nominal naming as discussed above, where all the Pods controlled by this replication controller would have numbered suffixes, something like 0001, 0002 ....

An example use case is a nginx load balancer pointing to these set of pods by domain names. So as pods come and go, the

[2015-06-27 01:45] bgrant0607 commented on #10420
@avinci Love that you're on Kubernetes. Very cool.

Given that, it's in our interests to ensure it works well for you. :-)  Was the eval script failure somehow caused by Kubernetes?

[2015-06-27 01:51] ae6rt commented on #10373
I recreated the original PR with a new one.  I hosed up squashing commits on the first one.  Sorry for the noise.  The content of the commit follows the suggestion made here:

https://github.com/GoogleCloudPlatform/kubernetes/pull/10392/files#r33394857

[2015-06-27 01:53] avinci commented on #10420
@bgrant0607 It has to do with the version of python and ubuntu we are running. Nothing to do with Kube. But very strange that double quotes and single quotes had the problem...

This surfaced as we had new machines we provisioned for the new versions...

[2015-06-27 02:44] bgrant0607 commented on #260
@ravigadde Please read my last comment on this issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/260#issuecomment-102107352

[2015-06-27 02:58] smarterclayton opened #10445 "TokenRateLimiter uses too much cpu above 10hz"
https://github.com/golang/go/wiki/RateLimiting

High rate limits cause a huge amount of wasted CPU (8-10% above 60-100qps).  We should use a different implementation.

@ncdc @liggitt

[2015-06-27 03:04] smarterclayton commented on #10445
Consider https://github.com/youtube/vitess/blob/master/go/ratelimiter/ratelimiter.go or http://godoc.org/github.com/juju/ratelimit

[2015-06-27 03:20] mikedanese commented on #10420
@avinci That is awesome you are using Kubernetes! Kubernetes CI on Kubernetes. Very meta. I see green builds now so I'm closing.

[2015-06-27 03:40] thockin commented on #10441
Did you set --bind-address to a value other than 0.0.0.0 ?  That's what
this indicates.

On Fri, Jun 26, 2015 at 6:12 PM, hjianhao <notifications@github.com> wrote:

[2015-06-27 04:01] thockin commented on #10372
[code]

and

[code]

and

[code]

They are very much different from each other.  I think `logs` needs to grow
a `-c` and/or they both should accept "pod/container" syntax.

On Fri, Jun 26, 2015 at 1:56 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-27 04:05] thockin commented on #10409
#10296 - EOL caching mirror

#10264 - CA certs for svcacct

##10361 - fix bug in #10264

#10150 - No more DNS token

On Fri, Jun 26, 2015 at 5:17 PM, Alex Mohr <notifications@github.com> wrote:

[2015-06-27 04:12] #10227 closed

[2015-06-27 04:14] thockin commented on #10158
I don't see any problems - if building from head is possible, please do.

On Fri, Jun 26, 2015 at 6:51 AM, Alexander Guzhva <notifications@github.com>
wrote:

[2015-06-27 04:14] bgrant0607 commented on #10372
So you're right.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/log.go#L67

We couldn't get rid of the `-c`, so logs should adopt that convention, I guess.

[2015-06-27 04:19] bgrant0607 commented on #8448
Sigh. Now exec requires `-c`, whereas log doesn't accept `-c`. Continue discussion in #10372.

[2015-06-27 04:24] thockin commented on #10372
Any thoughts on `pod[/container]` as syntax?  That saves -c for actual
meaning and gives us a notation for any other commands that can "figure
out" what container or let users specify one.

On Fri, Jun 26, 2015 at 9:15 PM, Brian Grant <notifications@github.com>
wrote:

[2015-06-27 04:24] bgrant0607 commented on #8524
We need to finish #341 before that will be possible, but the issue description captures the right approach for the proposed scenario.

[2015-06-27 04:32] bgrant0607 commented on #10435
Dupe of #7789

[2015-06-27 04:32] #10435 closed

[2015-06-27 04:37] #10434 closed

[2015-06-27 04:42] bgrant0607 commented on #4910
What problems does LimitRange address: https://github.com/GoogleCloudPlatform/kubernetes/issues/10242#issuecomment-115875181

[2015-06-27 05:07] smarterclayton opened #10446 "Memory use of go-restful high?"
Saw https://github.com/labstack/echo and the benchmark numbers for go restful seemed really high.  700k bytes allocated to serve a simple request?  This hasn't shown up on my profiles yet, but not sure why the two would be out of sync.

[2015-06-27 09:01] feihujiang commented on #9953
I would like to do some work on this

[2015-06-27 09:32] kargakis commented on #8580
This is not really fixed since right now scale will [error](https://github.com/GoogleCloudPlatform/kubernetes/blob/1c0b765df6dabfe9bd0e20489ed3bd18e6b3bda8/pkg/kubectl/cmd/scale.go#L102-L105) out in case of multiple items. I will submit a PR on Monday fixing it.

[2015-06-27 13:51] miekg commented on #9778
This maybe: https://github.com/docker/docker/issues/14184

[2015-06-27 14:19] luxas commented on #9778
Thanks! Will check this out...

[2015-06-27 16:50] vmarmol commented on #8215
We don't do a particularly good job of detecting when we can set this option. We check if the distro is Debian instead of whether is has systemd or not. Libcontainer has a "feature" wherein if systemd is present it behaves very differently. We're working on trying to remove that and make this work.

[2015-06-27 16:51] r-tock opened #10451 "Kubelet taking large amounts of cpu in v0.19.3"
Ever since we spun on a new cluster the cpu has been slowly climbing
The cloud monitoring console is showing this climb

This shows the cpu usage increase over the course of 2 days.
![screen shot 2015-06-27 at 11 49 53 am](https://cloud.githubusercontent.com/assets/11711723/8393011/ab28adc2-1cc2-11e5-807c-0624908137fa.png)

On sshing in to the node, I see that kubelet is taking most of the cpu.

[

[2015-06-27 20:49] CpuID commented on #1957
+1 for Consul

[2015-06-27 20:59] satnam6502 opened #10452 "Validation changes break Elasticsearch and Kibana logging"
[code]

[2015-06-27 21:04] satnam6502 commented on #10418
See https://github.com/GoogleCloudPlatform/kubernetes/issues/10452 and fix.
Is it really the case we can't dashes in the port name?

[2015-06-27 21:05] satnam6502 commented on #10452
I've accidentally added a p1 milestone and can't see how to delete it.

[2015-06-27 21:05] satnam6502 commented on #10452
I think we should file another bug against the validate code which I think is incorrectly rejecting my configs which don't have adjacent hyphens.

[2015-06-27 21:12] satnam6502 commented on #10418
@roberthbailey This should have been caught by e2e tests. I think the e2e logging test is in the flaky group @quinton-hoole

[2015-06-27 21:20] satnam6502 opened #10454 "Validation incorrectly fails valid port names"
See #10452

[2015-06-27 21:24] satnam6502 commented on #10454
Hint: port names with on hyphen pass, but port names with two non-adjacent hyphens fail validation (but they should pass). @thockin

[2015-06-27 21:25] satnam6502 commented on #10452
@bprashanth

[2015-06-27 21:31] thockin-cc commented on #10452
You are over length.  We did change this very late in the game, but it was
that or never change it ever.
On Jun 27, 2015 2:25 PM, "Satnam Singh" <notifications@github.com> wrote:

[2015-06-27 21:32] satnam6502 commented on #10452
Argh! Well the error message did not help.

[2015-06-27 21:33] satnam6502 commented on #10454
Over length.

[2015-06-27 21:33] #10454 closed

[2015-06-27 21:34] satnam6502 commented on #10452
@quinton-hoole can the e2e logging test be promoted out of flaky? This breakage should have been caught by that test.

[2015-06-27 22:33] quinton-hoole commented on #10452
Sure, I can promote  that test now. That error message is incomprehensible, in addition to being plain wrong. Is there an issue number to fix all this?

[2015-06-27 22:36] satnam6502 commented on #10452
@thockin has corrected me: the error message is "right" in the sense that what I wrote was wrong, because now port names can't be more than 15 characters. I suspect others will run into the same problem so fine-tuning the error message would be good (happy to do it myself -- or leave it to the original author).

[2015-06-27 22:39] satnam6502 commented on #10452
An error message like: "The name must not be longer than 15 characters and it must be composed only of the characters a-z, A-Z or a hyphen which must occur between letters."

[2015-06-27 23:11] roberthbailey commented on #10451
@dchen1107 what traces should @r-tock collect before restarting the kubelet?

[2015-06-27 23:28] devurandom opened #10456 "Simple services with external IPs on bare-metal"
This is a follow up from #1161.

I use a bare-metal installation of CoreOS and Kubernetes, and would like to define an external (i.e. arbitrary) IP and port for which Kubernetes receives traffic and directs it to the associated pods. I can arrange for all nodes in the Kubernetes cluster to be physically connect to the right switches and thus have the possibility to receive traffic for that externa

[2015-06-27 23:42] r-tock commented on #10451
is there a /profilez handler exposed in kubelet binaries ? I have gperftools installed on the nodes, I could generate a pprof output if there is such a thing

![cadvisor kubelet](https://cloud.githubusercontent.com/assets/11711723/8394411/144ce5e6-1cfc-11e5-949b-04a4989a6640.png)

[2015-06-28 01:21] r-tock commented on #10451
After snooping around a bit more I suspect the stats pushing as the cpu gulper. Using sysdig on one of the node I see that the core utilization spikes(10 seconds apart) coincides with the stats push.

[code]

I restarted kubelet in 4 other nodes and cpu has been coming down. Without looking at the code this feels like some piece of data is getting accumulated and it is getting costlier and costlie

[2015-06-28 03:59] roberthbailey commented on #10451
@vmarmol @vishh as well (since this may be related to cAdvisor).

[2015-06-28 04:01] roberthbailey commented on #10456
@thockin @ghodss @brendandburns

[2015-06-28 04:03] r-tock commented on #10451
I still have the one misbehaving node. Let me know till how long I should keep them around.

[2015-06-28 04:30] roberthbailey commented on #10451
pprof is enabled on port 10250. Try `/debug/pprof/profile` (see
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L153).

[2015-06-28 05:26] r-tock commented on #10451
No success using go 1.4.2 toolchain

[code]

[2015-06-28 05:37] r-tock commented on #10451
worked on port 10248

Here is the profile I got

![kubelet1](https://cloud.githubusercontent.com/assets/11711723/8395302/d00d03d4-1d2d-11e5-8e39-bca867a44a6c.png)

[2015-06-28 05:39] roberthbailey commented on #10451
Port 10250 is https, not http.

[2015-06-28 05:48] r-tock commented on #10451
That gives an error which to me sounds like the server is not returning the full certificate chain...
[code]

[2015-06-28 05:52] roberthbailey commented on #10451
Right, it's using a self signed cert. I'm not sure if it's possible to convince go tool pprof to ignore certificates.

[2015-06-28 05:56] r-tock commented on #10451
Does the other profile on port 10248 help?

[2015-06-28 07:46] chrishiestand opened #10458 "Add support for custom GKE scopes in cluster/gke/util.sh"
I find it curious that this doesn't already exist. I assume there is a reason for that but I couldn't find any references for it. What is the reason?

If there is hope of adding custom gke scopes, I'd be happy to submit a PR, but I'd like some feedback first. I noticed notes for @mbforbes like "Refactor setting scope flags." What refactor was in mind? Currently scopes are set in the MINION_SCOPES

[2015-06-28 09:13] devurandom commented on #10456
In case this is not clear: I am missing clear hints on how to do this in the docs. An example would be great, too.

[2015-06-28 13:18] erictune commented on #10458
When you create a cluster through the GKE UI, at https://pantheon.corp.google.com/project/$YOURPROJECT/kubernetes/add you can click "More" near the bottom, and then you get a list of scope to select for your VMs.
Does that do what you need?

[2015-06-28 15:39] fcantournet commented on #10456
We use the following setup, I hardly suggest you do the same in prod but this gives you an idea:

We declare external services (services that need to be reachable from the outside of the kubernetes cluster) with `type: LoadBalancer`
This way they get a nodePort attributed in the nodePort range, at service creation on all nodes.

We then use vulcand (but you could use whatever) to load-balance inco

[2015-06-28 16:06] roberthbailey commented on #10458
Did you try changing the value of MINION_SCOPES in [config-default.sh](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/config-default.sh#L44)?

[2015-06-28 16:23] sporkmonger commented on #4869
FWIW, on CoreOS, exec-type liveness probes are seriously crippled without being able to run a kubelet in a container. You can't easily install stuff on a CoreOS host and there's an awful lot of utilities (e.g. `dig` or `nslookup`) that you might want to use in your probes that just aren't available when running from a CoreOS context. Running from a docker container solves that because you can set

[2015-06-28 17:11] satnam6502 commented on #10452
@quinton-hoole also not the e2e logging test should not be promoted until this PR merges.

[2015-06-28 17:33] svennela opened #10461 "Installing Ubuntu and running into Can't find gcloud in PATH, please fix and retry."
Hi,

I am following below checklist to install 3 node kubernetes on ubuntu.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

I am running into below error when i do /kube-up.sh. Do i need to install Google Cloud?

Can't find gcloud in PATH, please fix and retry. The Google Cloud
SDK can be downloaded from https://cloud.google.com/sdk/.

[2015-06-28 17:46] zmerlynn commented on #10367
I think the `"${tar}.sha1"` in that function just needs to become something like `"${tar}.${PROJECT}.sha1"`. My bad. :( This entire function has been more trouble than its worth - feel free to just gut the optimization, too.

[2015-06-28 17:56] zmerlynn commented on #8521
Wait, does this still not work? This should be the equivalent of a MIG resize, which should work now. (I'm not sure it worked when the issue was originally opened.)

[2015-06-28 18:48] farcaller opened #10462 "Possible data corruption on rbd storage"
etcd cluster backing apiserver died spontaneously, after restart apiserver pulled up the pods on different machines. Node storage was backed by ext4 over rbd, which became mounted on several nodes at once. That could have possibly led to data corruption.

I guess that the proper way to mount rbd volume is to take a lock on it first, which will at least fail if it's locked somewhere else, requiring

[2015-06-28 19:35] jiangyaoguo opened #10463 "Replace ServiceWatcher and EndpointsWatcher in pkg/proxy with Reflector"
There are some TODO work in pkg/proxy/config/api.go. Need to replace ServicesWatcher and EndpointsWatcher with client.cache.Reflector.

[2015-06-28 19:59] chrishiestand commented on #10458
@erictune our cluster rollout is scripted for automated setup, by the same token I could just modify cluster/gke/util.sh myself (but that would require maintaining a fork - not so terrible, but I imagine other people would want to set custom scopes as well).

@roberthbailey Ideally I'd like to avoid maintaining a separate branch with my configuration. Much better to set configuration variables and

[2015-06-28 21:42] thockin commented on #10462
@rootfs

On Sun, Jun 28, 2015 at 11:49 AM, Vladimir Pouzanov <
notifications@github.com> wrote:

[2015-06-28 21:53] thockin commented on #10452
We have sort of resisted breaking errors down further, but maybe we
should.  Would it be useful if this had said:

"invalid value 'es-transport-port': too long.  Value must be a
IANA_SVC_NAME (at most 15 characters, matching regex
[a-z0-9]([a-z0-9-]*[a-z0-9])* and it must containts at least one letter
[a-z], hypens cannot be adjacent to other hyphens): e.g. "http"'

note the extra hint "too long".

[2015-06-28 21:54] thockin commented on #10452
@bgrant0607 is it worth the risk to try to make API errors more friendly?
It will be logic changes..

On Sun, Jun 28, 2015 at 2:53 PM, Tim Hockin <thockin@google.com> wrote:

[2015-06-28 22:12] svennela commented on #10461
Sorry ... forgot to set environment variable..

[2015-06-28 22:12] #10461 closed

[2015-06-28 22:20] svennela opened #10466 "running two times KUBERNETES_PROVIDER=ubuntu ./kube-up.sh"
Hi ,

I ran below command 2 times. First time i canceled it because it failed with below error.

can't be established.
ECDSA key fingerprint is 44:a4:6f:2e:d6:95:78:09:50:b7:5b:23:28:30:51:54.

when i run below second time i am getting below error? any help??
KUBERNETES_PROVIDER=ubuntu ./kube-up.sh

[sudo] password to copy files and start node:
cp: cannot create regular file ‘/opt/bin/etcd’: Text

[2015-06-28 22:47] vmarmol commented on #10451
@r-tock can you take a profile of Kubelets with and without the issue? Especially the ones you restarted. The CPU usage you mentioned seems to be coming from processing stats requests, I'm curious if when you restarted the requests temporarily ceased.

How many pods/containers are being run on the machine btw? 25% usage is not out of line with our expected numbers for a more heavily used machine.

[2015-06-28 23:04] chiefy opened #10467 "Sample cloud-config master.yaml has wrong kube-apiserver options"
[the --service-cluster-ip-range option](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws/cloud-configs/master.yaml#L121) results in this:

[code]

[code]

[2015-06-29 00:32] r-tock commented on #10451
Here is the same node (which GCE monitoring says now uses 80% cpu).

![kubelet2](https://cloud.githubusercontent.com/assets/11711723/8399107/2f334be0-1dcc-11e5-9fde-0e0e25b62ed8.png)

Most of the other nodes have regressed back and using more cpu now.

![screen shot 2015-06-28 at 7 32 33 pm](https://cloud.githubusercontent.com/assets/11711723/8399115/6e2efd76-1dcc-11e5-845c-83dfd5c2ddb6.png)

[2015-06-29 00:45] kelseyhightower opened #10470 "Unauthorized kube-proxy causing stack traces on the API server"
I'm still digging into why I can get the proxy service to auth with the API using TLS certs, but stack traces on the API server side are unexpected here.
### Environment

[code]

[code]

[code]
### Logs

From the Kube proxy logs:

[code]

From the API server logs:

[code]

[2015-06-29 01:02] r-tock commented on #10451
Also all these nodes have been sending data at a sustained rate of 250KB/s. Maybe its something with these nodes?

![screen shot 2015-06-28 at 8 02 08 pm](https://cloud.githubusercontent.com/assets/11711723/8399291/8bc5640c-1dd0-11e5-9702-72edc4eb1d26.png)

[2015-06-29 01:10] kelseyhightower commented on #10470
Finally got the proxy to authenticate by using a valid kubeconfig. So the action item here is to clean up the error handling around auth.

[2015-06-29 01:16] jiangyaoguo commented on #10463
@lavalamp @erictune

[2015-06-29 01:35] mikedanese commented on #10420
Reopening as many of our builds are still experiencing timeouts. What is the new timeout duration? Are our builds taking to long now that the build timeout has been reduced?

https://app.shippable.com/builds/558ffcdfec761d0b001c8db4
https://app.shippable.com/builds/55904fa5ec761d0b001fdb73
https://app.shippable.com/builds/55909990ec761d0b00217372
https://app.shippable.com/builds/5590942479f14d0b00

[2015-06-29 03:46] thockin commented on #10456
@fcantournet  You can define it with type = NodePort, FYI :)

@devurandom We can't QUITE do what you want natively yet - you can expose a Service on every node, but you don't get to pick the port (well, you do, but you don't get the full port range to choose from).  You can do as @fcantournet suggests and run a load-balancer (but that balancer isn't HA either) to the NodePort.  As an alternative,

[2015-06-29 04:05] adyanthaya17 commented on #10278
Okay, so I created a new kubernetes cluster and I'm able to fetch my node details when I run-
$ kubectl get nodes.

When I ran the below command:
./kubectl proxy --www=examples/update-demo/local/ &

It prompts me as: ' bash: ./kubectl: No such file or directory'.

[2015-06-29 04:39] adyanthaya17 commented on #10278
From this document kubernetes/release-0.19.0/examples/update-demo/

I have followed the step 1, step 2, step 3 and step 4. I haven't worked on the step 0. Probably is that the reason why I'm unable to see the pods running on the web?

This is the site I got to, to access the pods:
http://localhost:8001/static/index.html

[2015-06-29 04:46] roberthbailey commented on #10467
This flag used to be called `--portal_net`. See https://github.com/GoogleCloudPlatform/kubernetes/pull/8740.

[2015-06-29 04:47] roberthbailey commented on #10467
It was changed with release 0.18.0 (see the [release notes](https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.18.0)).

[2015-06-29 04:53] adyanthaya17 opened #10472 "Update-demo-nautilus: This webpage is not available"
I'm following this document kubernetes/release-0.19.0/examples/update-demo/ to get an application running.

I have followed the step 1, step 2, step 3 and step 4. I haven't worked on the step 0. Is that the reason why I'm unable to see the pods running on the web?

This is the site I got to, to access the pods:
http://localhost:8001/static/index.html

which gives me 'This webpage is not available'

[2015-06-29 04:59] codefx9 commented on #10383
Hi Eric,
I tried your steps but it is not working for me. We are using docker 0.17.0. Which version of docker are you using? Just to be clear, we are not pulling images ahead of time to mater or any nodes.

 spec.containers{elasticsearch}		failed			Failed to pull image "xyz/elasticsearch:1.6.0": Error: image xyz/elasticsearch:1.6.0 not found

[2015-06-29 05:22] erictune commented on #10466
sounds like etcd, kube-apiserver, etc are still running.  Find them with `ps` and kill them, and then try again?

[2015-06-29 05:29] erictune commented on #10383
Which platform are you on?   Are you on Google Container Engine (GKE), or did you use one of the Getting Started Guides, and if so which one?.

[2015-06-29 05:36] codefx9 commented on #10383
I am running on DigitalOcean using Ubuntu 15.04 and systemd.

[2015-06-29 05:45] roberthbailey commented on #10472
Step 0 is to launch a kubernetes cluster. Do you have a cluster running? In step 1 you launched kubectl in proxy mode, which should connect to the apiserver in your cluster and proxy requests to localhost:8001 to the apiserver. Did you see any errors when running `./kubectl proxy --www=examples/update-demo/local/`?

[2015-06-29 05:51] adyanthaya17 commented on #10472
Yes, I have a kubernetes cluster running.
Step 0: $ ./cluster/kube-up.sh

The above step I haven't worked on my machine.

When I run the command :
$ kubectl proxy --www=examples/update-demo/local/ &

It prompts me: Starting to serve on localhost:8001

[2015-06-29 06:01] roberthbailey commented on #10472
Does `kubectl get pods` return successfully?

[2015-06-29 06:03] adyanthaya17 commented on #10472
Yes it does.
$ kubectl get nodes
$kubectl get pods
$ kubectl get services

All these return successfully.

[2015-06-29 06:08] roberthbailey commented on #10458
@chrishiestand -- you are correct. It doesn't look like the gke config-default.sh even defines MINION_SCOPES and kube-up doesn't use it when [creating the cluster](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gke/util.sh#L153).

This would be a fine feature improvement for the gke cluster creation scripts and we would certainly accept a patch that plumbs through the minion

[2015-06-29 06:10] roberthbailey commented on #10472
Are you running the kubectl proxy command from a directory that contains the `examples/update-demo/local/` directory as a relative path? If, from that same directory, you run `ls examples/update-demo/local/` does it show `index.html` as one of the files?

[2015-06-29 06:13] adyanthaya17 commented on #10472
$  ls examples/update-demo/local/
angular.min.js  angular.min.js.map  index.html  LICENSE.angular  script.js  style.css

[2015-06-29 06:20] nkwangleiGIT commented on #7294
Hi erictune,
that's a good point, but I'm not sure why we need separate resource for "diskswap" and "ssdswap", the user can use normal disk or SSD memory swap as they need from performance perspective, but we only need to substract the size of swap when calculate the space size of a node.
Do you mean the swap size maybe differenent depending on it's normal disk or SSD?
Thanks for help!

[2015-06-29 07:22] wojtek-t commented on #10412
I agree those are probably events - all the events have ttl set.

[2015-06-29 07:23] devurandom commented on #10456
Thanks for your answer.

What I don't understand is, why not, when it sounds so simple: Since the IP is static, k8s does not have to manage its allocation. So it could just schedule adding that IP to some kube-proxy's network interface, and to my experience it would start to work immediately.

I'll use fleet to setup a proxy container, for the time being. Then I can manage the actual worker with k

[2015-06-29 07:43] marekbiskup commented on #10012
Max, thanks for the hint!

[2015-06-29 07:54] dragon9783 opened #10473 "Release package can't download now"
version: lastest (v0.20.0)
Error message : "AccessDeniedRequest has expired"

[2015-06-29 07:55] #10473 closed

[2015-06-29 09:05] chrishiestand commented on #10458
Thanks @roberthbailey! If anyone, or @mbforbes in particular, has a strong preference as to the style of plumbing please let me know, I'm happy to help with the refactor. Otherwise I'll maintain the current style.

[2015-06-29 11:41] deads2k commented on #9298
Had me all excited! :)

[2015-06-29 12:16] feihujiang commented on #10156
Is there anyone to fix "error is found in the first case, but not in the second one"? If not, I'd like to volunteer myself to fix it.

[2015-06-29 12:17] avinci commented on #10420
our timeout patch was reverted due to newer deploys. We have it permanently added now and should not occur. Please let me know if otherwise..

[2015-06-29 12:34] wojtek-t opened #10475 "Implement watch at apiserver level"
Implementing should give us significant performance improvements, because:
- we avoid sending multiple watch requests to etcd that send as huge amount of unnecessary data
 (e.g. currently all Kubelets are watching for pods, but since filtering is done at the apiserver level, there are O(#nodes) watches to etcd open all the time , each of them sending all pods)
- on top of that we can build some In

[2015-06-29 12:44] wojtek-t commented on #10282
I didn't observe any such failure in last few days. Are we just lucky or was it fixed? If so - can someone point me to the PR fixing that?

[2015-06-29 13:18] rootfs commented on #10462
@farcaller want to get some detail. How is your pod-to-rbd mapping like? Since rbd image is a block device, it can be used by one pod at a time.

I am not sure if locking is a proper way to go -  if the pod holds a lock but dies in the middle of mounting, the rbd image (or any other volume type) is then excluded from access. In such case, a high level coordination at apiserver is a better place to

[2015-06-29 13:29] farcaller commented on #10462
Here's my rc:

[code]

I guess it's better to have a lock to be cleaned up manually rather than to have non-cluster fs to be mounted in several locations at once?

[2015-06-29 13:34] #10373 closed

[2015-06-29 13:40] chiefy commented on #10467
Ok, still seems like an issue since the master.yaml is [pulling down version 0.17.0 and using 0.18.0 options](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws/cloud-configs/master.yaml#L117)?

[2015-06-29 13:48] rootfs commented on #10462
@farcaller thanks, this pod looks good to me.
@thockin what would cause multiple nodes run the same pod?

[2015-06-29 13:50] farcaller commented on #10462
I don't know the exact reason of why kubelet didn't unmount the old fs, but after apiserver and scheduler were restarted pod got allocated on different node.

[2015-06-29 14:01] rootfs commented on #10462
It is a scary thing to see etcd down, it is meant to be reliable...

[2015-06-29 14:02] markturansky commented on #9915
@HaiyangDING go for it :)  Improving PV docs is on my TODO list, too.

[2015-06-29 14:06] farcaller commented on #10462
Unfortunately I don't have long-term logging in test cluster so I have no idea why it actually died. but using kubedns as primary node resolver was clearly a bad idea, once it died, nodes stuck with no resolver at all.

[2015-06-29 14:08] rootfs commented on #10462
@timstclair your thought on HA?

[2015-06-29 14:31] erictune commented on #7294
I was thinking of the case where swap files are added dynamically by
kubelet in response to pods being started.  In this model, the scheduler
needs to subtract the swap from the resources of the machine, and it needs
to know which resources to reduce..

However, if nodes are statically provisioned with swap, and they exclude
the provisioned swap resources from the reported capacity, then I agree w

[2015-06-29 14:38] erictune commented on #10383
If you ssh to one of your kubernetes nodes and do `sudo docker pull xyz/elasticsearch:1.6.0` do you get an error?  If you get an error doing that then the problem is on the docker side (your docker setup, your registry, or your .dockercfg).  If you don't get an error doing that, then the problem is with Kubelet.

[2015-06-29 14:46] devurandom commented on #10265
On my bare-metal installation of CoreOS 681.2.0 and Kubernetes 0.19.3, kube2sky tries to find the master at 127.0.0.1:8080, until I add `-kube_master_url=http://192.168.10.24:8080` to `skydns-rc.yml`.

[2015-06-29 14:47] jayunit100 opened #10479 "[E2E] Add a --scale= option OR introspect nodes on startup for scale/load/soak tests."
**problem**

Right now we embed soak testing semantics into some of the E2E's  on a case-by-case ad hoc basis.   This makes each test require a certain amount of interpretation to run.

**examples**
- networking.go which has a pending service layer of parallelism.
- load.go which aims to add n pods per node (similar to density)
- density.go which has parallel job submissions and lots of manual "di

[2015-06-29 14:49] jayunit100 commented on #10479
cc @timothysc @rrati @satnam6502 @quinton-hoole @dchen1107 @eparis

[2015-06-29 14:55] gangadhars opened #10480 "Proxy not working, Unable to load endpoints"
I install kubernetes using this guide [ubuntu.md] (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md). Then I tried [Guestbook example](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook) which causing a problem. Redis-slave is unable to sync with redis-master. Here are the logs.

\# kubectl get nodes
[code]

\# kubect

[2015-06-29 14:56] r-tock commented on #10451
@vmarmol To answer your last question, we run one container on these nodes (apart from the standard gke containers)

[2015-06-29 15:07] gmarek commented on #10480
IIUC you built the version v0.18.0 using default `cluster/ubuntu/build.sh` setting. We probably need to update that.

Rest of the problems might be caused by this, but I'm not sure.

[2015-06-29 15:12] gmarek commented on #10480
@eparis can you please take a look if 0.20.0 works on Ubuntu and if so change the default?

[2015-06-29 15:17] wojtek-t commented on #10480
cc @mwielgus as he faced the same (or very similar) problem today

[2015-06-29 15:22] eparis commented on #10480
@WIZARD-CXY maybe you can help out here?

[2015-06-29 15:31] nkwangleiGIT commented on #7294
Hi erictune,
OK, I see, then we may also want to use 'memory swap' as a factor when the scheduler tries to calculate the fit node and schedule the pod, and we also need to know the total size of swap on each node someway.
Do we already have the swap size or capability added in current scheduler and kubelet implementation? it'll probably need more change if we want to add them all, thanks!

[2015-06-29 15:32] WIZARD-CXY commented on #10480
@gmarek I came up with a pr to bump the version to 0.19.3 for ubuntu k8s already.It is waiting for merging. https://github.com/GoogleCloudPlatform/kubernetes/pull/10393

[2015-06-29 15:39] WIZARD-CXY commented on #10480
@gangadhars  First you can get some log of dns pod to see if dns gets wrong.Then make sure http://172.16.2.73:8080  is ok by using `nc -zv 172.16.2.73 8080 `.
I think the most suspicious reason is `Failed to ensure portal for "default/redis-master:": error checking rule: exit status 4: Another app is currently holding the xtables lock. Perhaps you want to use the -w option? ` according to your kub

[2015-06-29 15:40] mwielgus commented on #10480
This is a different problem from what I had. In my case it was about authentication and an upgrade (sync & rebuild) to 0.20 helped a lot.

[2015-06-29 15:58] gangadhars commented on #10480
I try to build with `K8S_VERSION="v0.20.0"`, I'm facing some errors
[code]
I don't understand why it's not building. I download new tar.gz but no use. Now it's not even working for  `K8S_VERSION="v0.18.0"`.

[2015-06-29 16:09] bprashanth commented on #10282
This will still happen if a node goes into the NotReady state at the wrong time. The most common case of this occurrence
 is a cluster addon hogging resources. Setting limits should help https://github.com/GoogleCloudPlatform/kubernetes/pull/10260, but I think that pr got reverted.

[2015-06-29 16:27] a-robinson commented on #10409
@zmerlynn requested #10437

[2015-06-29 16:35] timstclair commented on #10462
Wrong Tim St. Clair? @timothysc

[2015-06-29 16:47] marekbiskup opened #10482 "Kubelet fills up root partition with its logs"
[code]

[code]

I think it happened after etcd-failure test failed

[code]
All other tests than failed

Kubelet logs just before it started repeating the same message over and over again:
[code]

[2015-06-29 16:50] #10433 closed

[2015-06-29 16:51] DreadPirateShawn commented on #10319
Update: I've been able to confirm that the data inconsistency lies within etcd. Using the `LastTransitionTime` oscillation as my touchpoint, I'm able to see one consistent value in etcd... until I removed one of the two etcd nodes in my cluster, at which point the value changed to the *other* value that I've seen in the oscillation.

[code]

[code]

[code]

Prior to removing one of the etcd nodes,

[2015-06-29 16:51] #10319 closed

[2015-06-29 16:58] mbforbes commented on #10458
@chrishiestand no preference here, though feel free to include me in the PR. I wrote that TODO because I had been blindly copying those variables around when adding new paths (e.g. cluster/gce/upgrade.sh from cluster/gce/util.sh) and didn't like the code duplication.

[2015-06-29 16:59] smarterclayton commented on #1743
A deployment variant "replace in place" has been proposed:

1. Create a new replication controller, scale = existing scale, with the same labels
2. Change the labels (or deactivate) the old controller
3. Iteratively (like rolling-update):
  1. Select a pod in the label select set whose image does not match the current replication controller
  2. Update the pod's image (or labels, or other mutable

[2015-06-29 16:59] bprashanth commented on #10412
It would be weird if that was messing with density, since density takes < 1hour (ttl of events) and we synchronously cleanup events after load test. I totally agree we should handle the expired event from etcd.

[2015-06-29 17:00] gmarek commented on #10480
Also `cluster/ubuntu/skydns-rc.yaml.template` is in v1beta1, which is just embarrassing....

[2015-06-29 17:08] thockin commented on #10480
The log suggests something else is holding the iptables lock.  we fixed
this at some point in teh not-too-distant past to retry at startup, but
it's possible there's another escape.  If you kill and restart the proxy,
what does the log say?

On Mon, Jun 29, 2015 at 8:59 AM, Gangadhar <notifications@github.com> wrote:

[2015-06-29 17:10] a-robinson commented on #9843
I saw this again today in build https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/68838567
[code]

[2015-06-29 17:12] bgrant0607 commented on #9473
We call this "downward API". See also #386. cc @pmorie

[2015-06-29 17:15] thockin commented on #9843
@markturansky again

On Mon, Jun 29, 2015 at 10:11 AM, Alex Robinson <notifications@github.com>
wrote:

[2015-06-29 17:16] svennela commented on #10466
I did...
I created shell script ..:)
sudo service etcd stop

rm -rf /opt/bin/etcd
rm -rf /opt/bin/kube-scheduler
rm -rf /opt/bin/kube-controller-manager
rm -rf /opt/bin/kube-apiserver

rm -rf /opt/bin/flanneld

rm -rf /opt/bin/kubelet
rm -rf /opt/bin/kube-proxy

[2015-06-29 17:16] #10466 closed

[2015-06-29 17:18] a-robinson commented on #10479
cc @ixdy

[2015-06-29 17:22] thockin commented on #10462
@rootfs - you HAVE to be ready to handle network partitions - the old node
might still be alive and even using the volume, but the apiserver can't see
the node, so it thinks it deletes the pod and starts it elsewhere.  If RBD
corrupts itslef in this case, it is not useful and we should strip it from
the codebase.

On Mon, Jun 29, 2015 at 6:48 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-06-29 17:23] roberthbailey commented on #10451
@r-tock -- I was chatting with @bradfitz last night and he said that it isn't currently possible to use `go tool pprof` against an https endpoint that uses a self signed certificate. I've filed https://github.com/golang/go/issues/11468 to try and get support added to a future release of go tools.

[2015-06-29 17:24] a-robinson commented on #10482
@bprashanth - looks like #10471 may fix this?

[2015-06-29 17:24] svennela opened #10486 "NotReady state. Any pointers"
Hi ,

finally after installing on 2 ubuntu machines. When i run kubectl get nodes i am getting below output. Any pointers? how to restart master or minion nodes?

10.10.103.162   kubernetes.io/hostname=10.10.103.162   NotReady

10.10.103.223   kubernetes.io/hostname=10.10.103.223   NotReady

[2015-06-29 17:27] r-tock commented on #10451
@roberthbailey ack.

The top node is currently running hot at 85% cpu usage. Let me know if there is anything I can help here on this bug.

[2015-06-29 17:31] quinton-hoole commented on #10452
Oh, to clarify my hastily written "incomprehensible" comment above (sorry 'bout that):

Current text:

[code]

Things I find confusing about the above (pretending to be normal K8s user):

[code]
Why is the above printed twice?

[code]
I have no idea what the above means, it is not documented anywhere (based on my Google search).  It only exists in the K8s code base.

[code]
Please either give me a

[2015-06-29 17:31] bprashanth commented on #10482
That fix will reduce the noise in the logs of the kubelet on the master (which looks to be the case here). The kubelet can still be quite chatty, so we should rotate that log.

[2015-06-29 17:36] yujuhong commented on #10397
Yes, all the static pods should have the resource limits set correctly, which will then be used to create mirror pods. To confirm this,  @justinsb, could you post the output the following to output so that we can see if there is any difference?
  1. The details of the fluentd (mirror) pods (`kubectl get pod <pod_name> -o json`)
  2. The manifest used to create the static pods on the node (`/etc/ku

[2015-06-29 17:37] quinton-hoole commented on #10452
PS: As discussed @thockin I don't think that it's necessary/worth the risk to break error messages down into sub-cases for v1.0.

But it would be great to fix this problem generally after v1.0.

[2015-06-29 17:42] thockin commented on #10452
Short fix: don't double print field names, make this error more helpful.  I can take this one.

Long-term fix: Add a clue field to ValidationError which indicates what actually went wrong.  Break down all validations into clue-able steps.  Make error message more helpful overall.

[2015-06-29 17:43] uruddarraju commented on #10486
Can you please do `journalctl -u kubelet` on the minion to check for any issues with kubelet trying to update its status on the apiserver ?

[2015-06-29 17:47] mikedanese commented on #10420
Thanks @avinci. We aren't seeing timeouts this morning but a many of our integration tests are failing which I'm currently trying to debug. The problem could very well be on our side. Were any other configurations changed (e.g. memory_limit reduced)?

[2015-06-29 17:49] nikhiljindal commented on #10156
@feihujiang I dont think anyone is working on it. Please feel free to take it up.
Thanks!

[2015-06-29 17:49] bgrant0607 commented on #4043
Closing in favor of #9626.

[2015-06-29 17:49] #4043 closed

[2015-06-29 17:50] avinci commented on #10420
no, we are doing 4GB/2 core..

One thing we are seeing is kubelet is shooting up in CPU util on the host machines. there is a bug I am tracking. Not sure if this has any effect... https://github.com/GoogleCloudPlatform/kubernetes/issues/10451

[2015-06-29 17:50] skuzye commented on #10029
You have to export GOVC_NETWORK environment variable, e.g. export GOVC_NETWORK='my_switch'

[2015-06-29 17:53] mikedanese commented on #10420
Okay thanks for info. We will keep digging. cc @dchen1107

[2015-06-29 17:55] bgrant0607 commented on #9626
Seems reasonable.

Eventually we should replace this flag with an admission control policy. cc @csrwng

cc @thockin @evandbrown

[2015-06-29 17:56] #10356 closed

[2015-06-29 17:59] thockin commented on #7294
I don't think we should allow pods to add swap to the system.  I'd rather
see something simple like a "max swap" which defaults to 0.  If the system
has swap enabled, the pod can use up to that much swap.  If the system does
not have swap, too bad.  This is bad from an isolation (IOPS, IO bandwidth)
point of view, but we have nothing there now, so we can maybe revisit later?

On Mon, Jun 29, 2015

[2015-06-29 18:06] rootfs commented on #10462
@thockin that makes sense. rbd doesn't corrupt itself. This is inconsistency happens when you have two pods mounting the same rbd image. How does GCE PD handle/prevent this case?

[2015-06-29 18:09] lavalamp commented on #10475
I think this & indexer are exactly the same problem and should be solved with the same bit of code.

[2015-06-29 18:23] yujuhong commented on #10242
This is not directly related to scheduling, but cpu limit would also affect the relative cpu weight when running the docker container. If we don't have a default cpu limit for every pod, each pod will by default have 1024 cpu shares per container. Any pod/container with cpu limit set to be less than 1 core may actually have less cpu time than the defaulted pods on the node.

Assume there are three

[2015-06-29 18:29] bgrant0607 commented on #10242
@yujuhong What is setting the default to 1024 shares? A container with no resource request should get a negligible number of shares.

[2015-06-29 18:30] alex-mohr commented on #10409
Thanks.  v0.20.0 is now final with release notes and such.

I'll cut v0.20.1 after lunch now that all the above requests have been merged.

[2015-06-29 18:30] dchen1107 commented on #10451
This is known issue because heapster collects /stats too frequently. PR https://github.com/GoogleCloudPlatform/kubernetes/pull/9809 was merged for v0.20 release should mitigate the issue.

[2015-06-29 18:33] wojtek-t commented on #10475
I think Indexer is v2.0 of this one - I agree this should be the same code, but I think that the watch in apiserver is initial version that could then be extended to the Indexer.

[2015-06-29 18:33] thockin opened #10489 "P0: /etc/default/kubelet changes get reverted on reboot"
1) GCE cluster
2) edit /etc/default/kubelet, change --allow-privileged from False to true.
2) restart kubelet, confirm by ps
3) reboot
4) change is reverted

I am guessing (with no evidence) it is salt and that it affects any salt-managed file.  This means users have no way to edit flags.

@dchen1107

[2015-06-29 18:34] dchen1107 commented on #10482
#10471 should fix the issue. Close it.

[2015-06-29 18:34] dchen1107 commented on #10489
I am looking into it now.

[2015-06-29 18:35] bprashanth commented on #10482
We should still logrotate! (bug report seems to indicate we don't)

[2015-06-29 18:35] wojtek-t commented on #10475
To be more clear - I agree that Indexer and this thinkg should be the same code - I just think that we can separate it into 2 steps which by first step I mean watch in apiserver.

[2015-06-29 18:38] #8957 closed

[2015-06-29 18:40] wojtek-t commented on #10412
It would be weird if that was messing with density, since density takes < 1hour (ttl of events) and we synchronously cleanup events after load test. I totally agree we should handle the expired event from etcd.

That's not exactly true - we synchronously cleanup events before the next step. So if you run a test and the leave the cluster, events will be deleted asynchronously then.

[2015-06-29 18:41] yujuhong commented on #10242
@bgrant0607, unless I read it wrong, docker sets the default cpu share for every container to 1024 (https://docs.docker.com/reference/run/). This corresponds to the --cpu-share=0 default.

[2015-06-29 18:42] roberthbailey commented on #10489
Also note that if you add a new node (resize your managed instance group up) the new nodes will not have any of the manual tweaks.

[2015-06-29 18:44] bprashanth commented on #10475
We should separate it into more than 2 steps and share the work. This is going to be a source of enough bugs that everyone maintaining the apiserver should know (vaguely) how to debug. Tackling this as purely a performance optimization doesn't sound like a good idea.

[2015-06-29 18:46] ArtfulCoder commented on #10489
I am not sure if this is a P0..Nodes can die, and different machines can come up. Users shouldn't rely on their per-node change to be persisted.

[2015-06-29 18:56] benmccann commented on #10439
+1 I think that be a great potential fit to explore further. Vault already has support for etcd as a backing store and the encryption, audit logging, secrets rotation, etc. would be great enhancements to k8s existing capabilities.

[2015-06-29 19:01] dchen1107 commented on #10489
@thockin when we chatted offline, I didn't pick up reboot part. Actually this is pretty much what the current design is. When the node is reboot, it will trigger auto-register path, thus trigger salt-call and override /etc/default/kubelet. cc/ @roberthbailey and @zmerlynn on the workflow.

[2015-06-29 19:06] dchen1107 commented on #10451
cc/ @yujuhong since she was measuring kubelet and other daemons' resource usages based on the workload a while back.

[2015-06-29 19:18] dchen1107 commented on #10489
P0 is ok for understanding the problem scope and goal here. :-)

@thockin @roberthbailey Do we plan to support per node configuration for 1.0? If we do, I prefer it through proper cluster / node upgrade channel, instead of sshing into the node and changing /etc/default/* file directly. We want to eventually hide the node completely, it will be very hard if we allow such operations.

[2015-06-29 19:30] fabianofranz commented on #9380
This was apparently fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/9357.

[2015-06-29 19:59] davidopp commented on #9849
@yifan-gu @bakins @kelseyhightower

Could one of you verify that CoreOS on GCE and AWS currently works, including the addons? If so, we can move this issue to post-1.0. We're getting *really* down to the wire for 1.0, so if we need to do something to make this work, it would be really good to know now.

[2015-06-29 20:01] andronat commented on #5277
Is this still open?

[2015-06-29 20:04] thockin commented on #10489
The question is: how does a user add a flag (e.g. --allow-privileged) to
nodes?

On Mon, Jun 29, 2015 at 12:19 PM, Dawn Chen <notifications@github.com>
wrote:

[2015-06-29 20:07] thockin opened #10494 "Boilerplate check for sh should allow non-bash shells"
I have a shell script that runs in a container that has 'sh' but not 'bash'.  I have to work around this for now.

[2015-06-29 20:07] derekwaynecarr opened #10495 "Simplified resource generation (was kubectl command to create a namespace)"
A variety of issues have raised the specter of the need to make it easier to create a new ```Namespace``` from ```kubectl``` rather than handcrafting YAML.

I want to use this issue to drive resolution on the desired UX prior to submitting a PR.

**Option 1**

Add a command ```kubectl new-namespace```

Pros:
1. Clear what it does

Cons:
1. new-* syntax is a little different than other command opti

[2015-06-29 20:08] thockin opened #10496 "proxy-to-service for UDP never closes connections"
UDP has not "terminated" equivalent, so you end up with hundreds of socat processes running.  I have a fix in progress.

[2015-06-29 20:09] derekwaynecarr commented on #10489
The only thing I am aware of is the Salt flag here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/pillar/privilege.sls#L2

On Mon, Jun 29, 2015 at 4:04 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-06-29 20:14] deads2k commented on #10495
I would prefer something like option 1.  It seems more obvious to have a command that's creating something called `new`.  I could also see some utility in having it be `kubectl new namespace` (separate subcommands) to allow for other easy, non-generic creation commands.

[2015-06-29 20:22] ArtfulCoder commented on #10489
So, are we trying to update cluster configuration without a kube-push of the updated salt file ?
That seems like new override functionality that would let users override config after kube-up / kube-push..
I am not sure if we have other ways of supporting this today..

[2015-06-29 20:22] svennela commented on #10486
Hi Uday,

I am not able to find journalctl on my minion. Do i need to install ?

[2015-06-29 20:24] dchen1107 opened #10497 "cluster-monitoring influxdb needs a volume to back its data"
While @saad-ali working on #10335, we noticed that influxdb container is killed, and restarted because exceeding its memory limit (the limit is 2Gi, but influxdb is using 3.2Gi at peak on 4 nodes cluster in @saad-ali's test). After influxdb is restarted, we found all data is lost. It turns out there is no volume back up its data at node:

https://github.com/GoogleCloudPlatform/kubernetes/blob/mast

[2015-06-29 20:24] dchen1107 commented on #10497
cc/ @vishh and @vmarmol

[2015-06-29 20:51] nikhiljindal commented on #2040
Now that v1beta1 and 2 are deleted, it seems to me that this issue can be closed.
@lavalamp Can you confirm?

[2015-06-29 20:52] roberthbailey commented on #10472
Hmmm. @ihmccreery worked through this demo last week and made some [minor fixes](https://github.com/GoogleCloudPlatform/kubernetes/pull/10230) but I don't think before those fixes there was a webpage not found error hitting the localhost url.

[2015-06-29 20:58] uruddarraju commented on #10486
What is the cloud provider you are trying to use ?

[2015-06-29 20:59] bgrant0607 commented on #10372
@thockin I'm not opposed to podname/containername, though that would mean we might need to support pods/podname/containername #8884.

[2015-06-29 20:59] #2040 closed

[2015-06-29 21:00] roberthbailey commented on #10489
@bgrant0607 pointed out in https://github.com/GoogleCloudPlatform/kubernetes/issues/9626 that we should eventually replace the allow_privileged flag with an admission control policy. How much harder is it to configure admission control vs. changing the salt to plumb through the flag?

The problem with doing it in the salt configuration is that you have to choose at cluster creation time whether yo

[2015-06-29 21:03] #9380 closed

[2015-06-29 21:04] alex-mohr commented on #10409
Looks like #10296 - EOL caching mirror, #10264 - CA certs for svcacct, and #10361 - fix bug in #10264 were already in v0.20.0.

Cherrypicks in https://github.com/GoogleCloudPlatform/kubernetes/pull/10499:
 * Don't block etcd client #10427
 * Revert "Remove raw binaries from distro that are already included in … #10437
 * Revert "Set resource limit for both heapster and influxdb container b… #10430

[2015-06-29 21:05] davidopp commented on #9207
Another improvement would be to say specifically which resource(s) didn't fit. (There are analogous improvements for some of the other predicates too.)

[2015-06-29 21:06] dchen1107 commented on #10489
Changing entire cluster's kubelet flags is easy through salt. But in @thockin's use case, he wants to only update a subset kubelets for a given cluster, and I think it will error-prone and difficult to manage through salt.

[2015-06-29 21:09] thockin commented on #10489
It's not even about subsets - it's about what an end user has to do to
enable privileged containers (or any other default-off thing).  Telling
them to log into the master and futz with salt files is awful.

On Mon, Jun 29, 2015 at 2:07 PM, Dawn Chen <notifications@github.com> wrote:

[2015-06-29 21:10] roberthbailey commented on #10489
Changing an entire's cluster's flags through salt isn't easy except at cluster creation time -- you need to log into each machine and reconfigure salt. And for GCE/GKE you need to make sure that the instance template has the changes as well, otherwise when a node is replaced (due to a failed healthcheck or an update) it will revert to the original behavior.

Making our salt configs support this do

[2015-06-29 21:12] thockin commented on #10372
We don't want to confuse this CLI syntax with REST syntax - to imply that
`pods/podname/containername` is a valid REST resource would be bad, I think
(we did not namespace for that, e.g. bindings, exec, etc subresources would
collide).

How about `pods/podname[:containername]` as syntax or
`pods/podname[#containername]` or `pods/podname[@containername]`

On Mon, Jun 29, 2015 at 1:59 PM, Brian Gran

[2015-06-29 21:13] thockin commented on #10372
Could any of these possibly work as less-than-ideal REST paths in v1, with
v2 being better handled?

On Mon, Jun 29, 2015 at 2:12 PM, Tim Hockin <thockin@google.com> wrote:

[2015-06-29 21:17] svennela commented on #10486
I am using 2 nodes ubuntu.

[2015-06-29 21:23] ArtfulCoder commented on #10489
If/When we can get kubelet in a pod, then admin should be able to easily update kubelet config via the pod-spec.
That gels well with the kubernetes theme of configuration via pod spec.

[2015-06-29 21:25] nikhiljindal opened #10501 "Unregister v1beta3"
We need to stop supporting v1beta3 before 1.0.

We can stop exposing v1beta3 by default in the master (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L290), which is a small change.
To totally disallow users to use v1beta3, we can stop registering the API and its conversion funcs (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/

[2015-06-29 21:26] nikhiljindal commented on #10501
cc @bgrant0607 @krousey @caesarxuchao

[2015-06-29 21:34] dchen1107 commented on #10497
I am going to handle this one now

[2015-06-29 21:35] andronat commented on #5840
This is done. It can be closed

[2015-06-29 21:37] bgrant0607 commented on #10372
The REST pattern is collection/instance, so containers as a nested resource #1900 would be pods/podname/containers/containername. The CLI form could elide "containers", much as we've discussed with namespaces #3731.

[2015-06-29 21:40] bgrant0607 commented on #10372
I'd be fine with colon as a separator for now, in addition to (preferrably) POD CONTAINER or POD -c CONTAINER, if the former can't be made to work for both.

[2015-06-29 21:40] mikedanese commented on #10470
We like stack traces:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/httplog/log.go#L75-L78

[2015-06-29 21:41] bgrant0607 commented on #8225
Previous discussion: #3731

[2015-06-29 21:41] bgrant0607 commented on #3731
Using #8225 for format in logs. Using this for format in kubectl output.

[2015-06-29 21:43] bakins commented on #9849
@davidopp Currently, `./cluster/kube-up.sh` can create worker nodes on CoreOS for AWS and GCE if certain env vars are set. The master is still Debian and add-ons are set up there. Kubelet, kube-proxy, and the pods for the add-ons run just fine on the CoreOS nodes.

[2015-06-29 21:47] thockin commented on #10462
It doesn't allow more than one read-write attachment.  Multiple read-only
attachments is OK. Better to fail than to allow corruption.

On Mon, Jun 29, 2015 at 11:07 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-06-29 21:52] thockin commented on #10265
You need the changes that were in 0.20.0 - 0.19.3 predates the fixes to
service tokens.

On Mon, Jun 29, 2015 at 7:46 AM, Dennis Schridde <notifications@github.com>
wrote:

[2015-06-29 22:00] roberthbailey commented on #10501
/cc @alex-mohr

This will be a behavioral change for GKE since beta clusters created with 0.19.x and 0.20.x will include support for v1beta3 and once the clusters are upgraded to a later verison (0.21.x or 1.0.x) v1beta3 will no longer be present.

[2015-06-29 22:07] bgrant0607 commented on #9284
I'm not sure we should actually fix this. We don't expect generateName to be a commonly used feature, except as a mechanism used by ReplicationController. Also, the message is not wrong -- a name is required. It just might be generated by the server. :-) This can be explained in more detail by the swagger descriptions.

Both in the swagger description and in Status we don't have a good way of expr

[2015-06-29 22:12] bgrant0607 commented on #5840
FYI, the right way to make that happen is to write `Fixes <issue>` in the PR description.

[2015-06-29 22:12] #5840 closed

[2015-06-29 22:15] bgrant0607 commented on #6882
Is this issue still relevant?

[2015-06-29 22:21] mikedanese opened #10505 "externalLoadBalancer GCE API should allow equivalent services in different clusters to share a load balancer"
The target pool would contain the nodes in both clusters. This is required for multi-cluster HA/load-balancing.

[2015-06-29 22:26] lavalamp commented on #10319
Thank you for reporting back! In the coming months HA will be one of our top priorities, so you can look forward to some tested & working multi-node etcd examples. :)

(and if you get a set-up working before then, please feel free to share your configurations here!)

[2015-06-29 22:28] lavalamp commented on #10368
Is it caused by the resize nodes or restart test? If so, it's probably an
actual system problem that the test is just exposing.

On Fri, Jun 26, 2015 at 6:10 PM, Tim St. Clair <notifications@github.com>
wrote:

[2015-06-29 22:29] bgrant0607 opened #10506 "Document watch API"
We don't really document how to use watch, and what we do have in api-conventions.md is out of date.

@lavalamp @smarterclayton

[2015-06-29 22:33] codefx9 commented on #10383
`sudo docker pull xyz/elasticsearch:1.6.0` can pull images from Docker Hub in any nodes. Is there any way to debug what is the issue with Kubelet?

[2015-06-29 22:40] quinton-hoole commented on #6882
Well, shippable remains flaky, so lets leave this open until that's resolved.

[2015-06-29 22:42] krousey commented on #9180
Can I just remove the timeout at the kubelet layer since we have timeouts at the master? Or do we wish to maintain timeouts in both places?

As far as the timeouts go, it's probably a mistake to have them be server wide. Note that these are not idle timeouts, they are absolute deadlines. I would suggest we do them per handler with http.TimeoutHandler, but the ResponseWriter you get from that may o

[2015-06-29 22:43] rootfs commented on #10462
That's neat. I have a lock fencing for rbd, testing now.

[2015-06-29 22:50] quinton-hoole opened #10507 "Test clusters regularly fail health checks - kube-dns cycles through Ready/NotReady"
... and as a result, e2e tests are not run.

One common failure mode is that some of our static system containers never report ready.
[code]
If you zoom out a bit, you'll notice that at least the kube-dns pod oscillates between Ready=True and Ready=False.

e.g.

[code]

[2015-06-29 22:52] erictune commented on #10103
in progress

[2015-06-29 22:52] lavalamp commented on #10507
This must have broken very recently. @vishh did a new heapster get pushed? @thockin did a new kube2sky get pushed?

[2015-06-29 22:57] quinton-hoole commented on #10507
It appears to have started around Jenkins job/kubernetes-e2e-gce/7296/ at ~ 10:30 AM today.

[2015-06-29 23:03] lavalamp commented on #10507
I really don't see anything suspicious that merged at that time.

[2015-06-29 23:04] quinton-hoole commented on #10507
Note that the failure is intermittent.  It's happening about 50% of the time.

It's entirely possible that kube-dns has been flaky like this for a while, and now that monitoring-heapster is not becoming ready at all, that's necessary and sufficient to cause the cluster validation to fail.

[2015-06-29 23:04] iterion opened #10508 "AWS: Kube Up Issues (possibly salt related)"
I'm having issues bringing a cluster up on latest master. I initially had issues bringing up the master, but was able to get it running by running `sudo salt '*' state.highstate` again. This showed me the following output:
[code]

By killing the pid it references on each node and running highstate again I'm able to get that node to start up correctly. @justinsb perhaps there is some new race condi

[2015-06-29 23:05] a-robinson commented on #10507
kube-dns was updated on Friday by #10150

[2015-06-29 23:13] bgrant0607 commented on #10505
Dupe of #3683. Please comment there and close this.

See also #4235

[2015-06-29 23:20] #10505 closed

[2015-06-29 23:22] bgrant0607 commented on #5277
Looks like #6571 should have fixed it.

[2015-06-29 23:22] #5277 closed

[2015-06-29 23:24] quinton-hoole commented on #10507
OK, that correlates roughly and anecdotally with when e2e tests became more flaky in general.
I suspect that we have a more recent breakage (this morning) causing monitoring-heapster to intermittently not become Ready at all.

Action items:
1. Gather some e2e test failure data to corroborate my claim above about kube-dns update on Friday being correlated with increased e2e test failure rates.
2. A

[2015-06-29 23:29] quinton-hoole commented on #10507
Regarding 1, the DNS e2e test specifically got flaky a few days ago.  Busy getting a more accurate timeline, but I think that's a smoking gun.

[2015-06-29 23:36] quinton-hoole commented on #10507
Jenkins build 7242 on Sat Jun 27, 2015 4:02 AM was the first DNS e2e test failure in a long while.  Some cluster builds in the hours before that are also potentially attributable to DNS failures (which prevented the tests from running at all).

The DNS change in #10150 merged at 6:17 PM on Fri June 26, i.e. 10 hours before the first official DNS test failure.

[2015-06-29 23:36] quinton-hoole commented on #10507
Gotta go - back in a bit.

[2015-06-29 23:36] iterion commented on #10508
I also tried scaling up the auto-scaling group and saw that those nodes experienced the same issue. So, it seems most likely that there is something in the behavior of the cloud-init script. However, I've looked through those logs and nothing seems out of the ordinary.

[2015-06-29 23:42] bprashanth commented on #10507
Maybe we can have an e2e that checks for the cluster addons, and continue testing everything else even when they're down? I don't see why we need to declare the cluster dead

[2015-06-29 23:44] dchen1107 opened #10511 "heapster in crashloop because /var/run/secrets/kubernetes.io/serviceaccount/token"
I had cluster/kube-down.sh and hack/dev-build-and-up.sh for several times (roughtly 5 times) this afternoon, and ran into this twice:

I noticed that heapster has very high restart count here:
[code]

I checked heapster container's log:

[code]

cc/ @vmarmol since @vishh is out.

[2015-06-29 23:45] dchen1107 commented on #10511
My cluster is synced to commit: fb9c126fd4a2d4130d7ecc405dd59468c92fe0e0

Merge: 450d36f 8c70fa4
Author: Alex Robinson <alexdwanerobinson@gmail.com>
Date:   Mon Jun 29 14:34:05 2015 -0700

    Merge pull request #10078 from ixdy/jenkins-e2e-gce-configs

    Determine e2e test configs for GCE using Jenkins project name

[2015-06-29 23:50] quinton-hoole commented on #10507
Well, when for example DNS is dead, a whole bunch of other tests tend to fail, understandably.  And also, several tests are interfered with by cluster addons busy scheduling or rescheduling while the test is running.  I think we should just fix the addons :-)

[2015-06-29 23:53] dchen1107 opened #10513 "skydns is killed due to liveness probe failure or crashloop"
This might be the root cause of another issue I saw related to heapster: #10511.

I had cluster/kube-down.sh and hack/dev-build-and-up.sh for several times (roughtly 5 times) this afternoon, and ran into this twice:

1) I noticed that kube-dns with some abnormal restart count:

[code]

2) kubectl describe pods shows skydns is killed due to liveness probe:

[code]

3) checked docker container --sky

[2015-06-29 23:53] bprashanth commented on #10507
The same applies for any critical component (eg: rcs, scheduler). If you have an isolated test, devs can debug without holding up traffic.

[2015-06-29 23:54] mikedanese commented on #10507
heapster was version bumped today :( #10369

[2015-06-29 23:55] dchen1107 commented on #10507
I just filed #10513 for skydns and #10511 for heapster

[2015-06-29 23:57] iterion commented on #10508
More progress, I can get the node to come online just by running `sudo service docker stop`.  The salt run that was stuck then continues and registers the node correctly with the master. The upstart logs for docker contain a bunch of references to not being able to connect to `/var/run/docker.sock`.

[2015-06-29 23:58] lavalamp commented on #10507
Ah. In that case, I won't bother debugging it. @mikedanese I think we should roll that back. :(

[2015-06-29 23:58] a-robinson commented on #10507
I believe the root cause of both problems is the same -- the service account they expect (/var/run/secrets/kubernetes.io/serviceaccount/token) isn't there

[2015-06-29 23:59] a-robinson commented on #10513
Look at the kube2sky logs -- I'm pretty confident it'll have the same problem that Heapster is having in #10511, namely that it can't find the secret it expects (/var/run/secrets/kubernetes.io/serviceaccount/token)

[2015-06-29 23:59] lavalamp commented on #10507
#10514

[2015-06-29 23:59] sym3tri opened #10515 "pod field selectors are broken"
api version: v1
git version: "v0.19.3"

They are no longer working after upgrading. A request like this used to work:

`GET /v1/pods?fieldSelector=spec.nodeName=xxx`

but now returns:

[code]

Any other field is also failing with the same response.

[2015-06-30 00:02] mikedanese commented on #10507
yup. there is an e2e test for that too. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/service_accounts.go. cc @liggitt as he is the serviceaccount expert. what type of latency can we expect on mounting service account secrets?

[2015-06-30 00:03] dchen1107 commented on #10507
I can see #10369 is obviously contributing to heapster failure (#10511). But I am not sure about skydns case here.

[2015-06-30 00:04] mbforbes opened #10516 "`kubectl config view --minify` needs a top-level alias"
Here's the question I want to answer: when I use kubectl, what cluster am I talking to?

As a developer with several clusters, this is a really important question to me.

I was looking through `kubectl config --help` and I saw the options are:

[code]

Only asking @jlowdermilk did I learn that `kubectl config view --minify` was what I wanted. This seems kind of crazy! `--minify`? To see my current

[2015-06-30 00:06] thockin commented on #10513
This worked on Friday - I brought up a cluster and it worked?

[2015-06-30 00:06] jlowdermilk commented on #10516
cc @satnam6502, who asks me about `--minify` roughly every other week :)

[2015-06-30 00:07] a-robinson commented on #10513
It's been flaky the last couple days. The dns (and heapster) failures seem to be just be symptoms of a serviceaccount problem

[2015-06-30 00:09] a-robinson commented on #10513
Although the serviceaccount e2e hasn't had any flakes at all...

[2015-06-30 00:16] quinton-hoole commented on #10507
Yeas @mikedanese , that merge of #10369 at 10:56 AM today correlates precisely with the beginning of the heapster problem, which is the cause of the failed cluster builds.  Lets fix that in dawn's #10511

[2015-06-30 00:18] quinton-hoole commented on #10511
The merge of #10369 at 10:56 AM today updates heapster and correlates precisely with the beginning of the heapster problem seen in e2e, which is the cause of the failed cluster builds today.

[2015-06-30 00:20] liggitt commented on #10507
Latency only applies to service account tokens on initial namespace creation. I don't have the relevant tests in front of me… are they creating a new namespace or running tests in an existing namespace?

When the shared controller manager client isn't under load, I typically see the tokens get provisioned in < 100ms from namespace creation time. Under load, I've seen as high as 5-10 seconds (typic

[2015-06-30 00:22] a-robinson commented on #10511
I think that calling it the "cause" is a bit of a stretch since the underlying issue seems to be with the serviceaccount, but reverting it should indeed stop the bleeding.

[2015-06-30 00:22] lavalamp commented on #10507
It seems like the actual problem is indeed the service account secrets not being added to the pod.

[2015-06-30 00:22] alex-mohr commented on #9984
I think https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md meets to v1 bar?

[2015-06-30 00:23] liggitt commented on #10507
Also, as we started relying more on service account tokens in openshift, we discovered several environments that had issues with the underlying tmpfs secret mount mechanism… not sure if any of those are in play here. @pmorie, do you know if we have any relevant fixes still in flight?

[2015-06-30 00:23] lavalamp commented on #10507
@liggitt it's the default namespace; the addon pods are coming up without service account tokens some of the time.

[2015-06-30 00:24] liggitt commented on #10507
do the pod specs in the API have the service account field set and no corresponding secret volume mount?

[2015-06-30 00:24] mikedanese commented on #10511
I saw also see a restart by heapster with this err then after heapster comes back up it functions normally.
[code]

[2015-06-30 00:25] dchen1107 commented on #10507
Ok, we should close that #10369 since #10511 is not the root case. In good case, the kubectl get pods -o yaml should have volumeMount as the below, but the failure cases don't have those blob:

[code]

[2015-06-30 00:26] lavalamp commented on #10507
@liggitt Yes, exactly.

[2015-06-30 00:27] dchen1107 commented on #7046
unassign myself from this one since I am overloaded already.

[2015-06-30 00:27] a-robinson commented on #10507
Dumb question time - are these secrets being auto-populated? If so, by what? The dns and heapster RC configs don't explicitly ask for them.

[2015-06-30 00:29] alex-mohr commented on #7046
Clusters need to be upgradable -- create at version 0.20.1, upgrade to 0.21.x, and they still work.  If addons were created using 0.20.1 and need to be changed in some way in order to work in 0.21,, then the upgrade-to-0.21 process must convert them.
Looks like current discussion is on #10487

[2015-06-30 00:31] lavalamp commented on #10507
@a-robinson Yes, there's an admission plug-in that adds them IIRC.

[2015-06-30 00:31] mikedanese commented on #10507
@a-robinson token_controller and serviceaccount_controller mostly. We add the default serviceaccount to pods. The default service account has two secrets: a bearer token and the apiserver root ca.crt which are mounted in all pods. The implementation of pkg/client.InClusterConfig() relies on this.

[2015-06-30 00:31] quinton-hoole commented on #10507
Also, can anyone confirm whether the service account tokens never arrive vs arrive after they're referenced by e.g. sky-dns?  Perhaps pods requiring service account tokens need to retry?

[2015-06-30 00:33] liggitt commented on #10507
Yes, all pods get a default service account assigned, and a mounted API token for their specified service account, if one exists. The default service account and API token is autocreated when a namespace is created.

[2015-06-30 00:33] liggitt commented on #10507
Admission could reject pods if their service account doesn't have a token, but I'm doubtful everything would react well to that

[2015-06-30 00:34] liggitt commented on #10507
I would prefer pods have a way to signal they want/need a service account token, but that doesn't exist yet.

[2015-06-30 00:35] alex-mohr commented on #10480
[Seems to be re: kube-proxy, so moving to team/cluster]

[2015-06-30 00:37] thockin-cc commented on #10507
We need some sort of interlock here - telling people to delete their DNS
pod to fix a problems is ... yeah, what;s the real answer?

On Mon, Jun 29, 2015 at 5:35 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-06-30 00:38] timstclair commented on #10368
I actually had quite a few test failures, which I assumed was due to some local configuration error:
https://drive.google.com/a/google.com/file/d/0B4C6q5N3BbNLNjBaVk5xejZoUW8/view?usp=sharing

Is there a way to run individual e2e tests to determine which was causing this issue?

[2015-06-30 00:39] lavalamp commented on #10507
@quinton-hoole they never arrive; deleting the pod (letting the RC make another) fixes the problem, though.

[2015-06-30 00:39] zmerlynn commented on #7046
I thought this was covered already in #9128, did I miss something?

[2015-06-30 00:40] liggitt commented on #10507
Admission is the only chance to add the mount. Can't mutate post-create.

[2015-06-30 00:43] lavalamp commented on #10507
We could fix in the addons script by waiting for the default namespace to be ready, perhaps?

[2015-06-30 00:43] quinton-hoole commented on #10507
@ligget Why?  We hot mount other devices, why not these?

[2015-06-30 00:44] quinton-hoole commented on #10507
@lavalamp, that sounds very sensible.

[2015-06-30 00:44] lavalamp commented on #10507
I will make a fix then

[2015-06-30 00:45] lavalamp commented on #10507
@quinton-hoole it's part of the pod spec, which cannot be mutated for whatever reason. It's not a kubelet problem, it's master screwing up the pod definition.

[2015-06-30 00:45] a-robinson commented on #10515
cc @nikhiljindal to triage/attempt to repro

[2015-06-30 00:46] liggitt commented on #10507
The name of the secret isn't known prior to create (it is generated) so the spec for the volume mount can't be built.

[2015-06-30 00:46] alex-mohr commented on #7046
#10487 is moving addons from one namespace to another.  The question is whether #9128 handles that case.

[2015-06-30 00:49] smarterclayton commented on #10495
By the same argument, maybe a generic new command or one that does some of
the default object setup (name, kind, API version) would be possible.
Namespace is really a one arg new, but how many objects are like that?

On Jun 29, 2015, at 4:14 PM, David Eads <notifications@github.com> wrote:

I would prefer something like option 1. It seems more obvious to have a
command that's creating something ca

[2015-06-30 00:50] liggitt commented on #10507
Until initializers (or equivalent) exist, our options are limited to rejecting pods until preconditions exist or making clients wait for preconditions themselves. Not sure which I dislike more. Rejecting is "purer" but requires clients to handle retrying correctly.

[2015-06-30 00:54] a-robinson opened #10518 "Nil pointer dereference while running apiserver.TestMaxInFlight"
Seen on [travis](https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/68890871) today:
[code]

[2015-06-30 00:54] lavalamp commented on #10507
I think rejecting with an error would be a much more graceful user experience. I agree that it would be a terrible hack to make admission actually wait.

[2015-06-30 00:59] liggitt commented on #10507
Rejecting with an error is easy but high impact, especially when we do so for pods that don't care about API tokens. I guess RC-controlled pods would handle that well enough, but things creating run-once pods likely wouldn't.

[2015-06-30 01:01] yujuhong commented on #10451
I took some measurements a while ago, but I took them with heapster disabled. Also, the codebase has changed quite a lot since then. Overall, the cpu usage of kubelet and docker in the steady state (no pod addition/deletion) roughly increases with the number of pods until it hit 30 pods on n1-standard-4 node (after that, docker became the rate limiter). Any readiness check (live probe) would also

[2015-06-30 01:01] lavalamp commented on #10507
It's only an issue in the few seconds after a namespace is created, though, right?

[2015-06-30 01:03] liggitt commented on #10507
Though the fact that we had to do special things to make our e2e tests handle rejections when the default service account wasn't provisioned yet makes me suspect rejections over API tokens wouldn't be generally handled well either

[2015-06-30 01:04] liggitt commented on #10507
Yes, only immediately after a namespace creation

[2015-06-30 01:04] smarterclayton opened #10521 "Server code that glog.Errorfs or eats errors should use util.HandleError"
util.HandleError is the default "eat this error, log it, or report it to some other system as an unexpected error" handler.  We should use it in server code (and rarely, user interface code) when we would otherwise eat an error.  There is a forthcoming integration to report these errors to Sentry or other error systems (or as events).

[2015-06-30 01:05] zmerlynn commented on #7046
@marekbiskup - If you get a chance to look at this soon, I'd very much
appreciate your expertise here.

We do have an e2e test for this, but I don't know if it's running
consistently). It should certainly be run on #10487, and I'll comment there.
On Jun 29, 2015 5:47 PM, "Alex Mohr" <notifications@github.com> wrote:

[2015-06-30 01:05] lavalamp commented on #10507
And if RCs drive your pods, everything should Just Work...

[2015-06-30 01:08] HaiyangDING commented on #9915
@markturansky
Sure, thank you. I will start now, hope to send a PR ASAP.

[2015-06-30 01:08] thockin commented on #10507
Why is it a hack to wait?
On Jun 29, 2015 5:55 PM, "Daniel Smith" <notifications@github.com> wrote:

[2015-06-30 01:11] liggitt commented on #10507
Yes

Making a create pod call wait synchronously for something to be created from another asynchronous controller seems counter to the whole approach of the API

[2015-06-30 01:11] lavalamp commented on #10507
It's a hack to be doing it in admission at all, this is an initializer.

[2015-06-30 01:14] a-robinson commented on #9843
And again. This isn't the cause of all our travis flakes, but it's definitely not helping: https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/68901823

@markturansky - could you please take a look at this tomorrow?

[2015-06-30 01:19] markturansky commented on #9843
Any tips on reproducing?  My tests are set to run with "-race".

On Mon, Jun 29, 2015 at 9:15 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-06-30 01:21] a-robinson commented on #9843
This is the commandline that travis uses:
[code]

[2015-06-30 01:24] rroopreddy opened #10522 "error: couldn't read version from server: Get https://10.245.1.2/api: dial tcp 10.245.1.2:443: connection refused"
On latest Kubernetes version Release 0.20.1 Candidate I get the following when you setup cluster with "./cluster/kube-up.sh". This is on Mac OSX with VirtualBox, Vagrant

Any ideas, thanks

....
==> minion-3:  *  INFO: Running daemons_running()
==> minion-3:  *  INFO: Salt installed!
Wrote config for vagrant to /Users/user1/.kube/config
Each machine instance has been created/updated.
  Now waiting

[2015-06-30 01:28] davidopp commented on #10242
I discussed a little with @bprashanth and he clarified what he thinks @bgrant0607 is proposing. I had a separate idea, so let me present them both here and see which people prefer. I do think we need to do something for 1.0, and time is running out.

@bprashanth's interpretation of @bgrant0607's idea was
* Create a new priority function, call it something like globalSpread (to differentiate it fro

[2015-06-30 01:34] nkwangleiGIT commented on #7294
Hi thockin,
OK, we can revisit this after v1.
BTW, for now we enabled the memory swap of pods in our k8s system, just follow what Docker expect. Thanks!

[2015-06-30 01:40] liggitt commented on #10507
#10523 enables admission rejecting pods until API tokens exist. There was already the possibility of rejection if the service account wasn't provisioned yet, so I'm leaning more toward this approach until we can convert to an initializer approach. RCs should keep retrying, so impact would be limited to other run-once pod-creators. As more components depend on service account tokens, that impact be

[2015-06-30 01:41] WIZARD-CXY commented on #10480
@gmarek sorry , I will soon update the api vesion. stay tuned

[2015-06-30 01:45] lavalamp commented on #10507
#10520 should be good to go now. #10523 looks good, too. Possibly we want both, but we need one immediately to stop the bleeding. Someone else can decide, I have to go home.

[2015-06-30 01:49] quinton-hoole commented on #10507
I'll take a look at both, and try to merge one of them tonight.

[2015-06-30 01:54] feihujiang commented on #10156
@nikhiljindal OK, I start to work on this now.

[2015-06-30 02:11] thockin commented on #10507
I am OK with rejection

On Mon, Jun 29, 2015 at 6:50 PM, Quinton Hoole <notifications@github.com>
wrote:

[2015-06-30 02:35] quinton-hoole commented on #9470
This has more to do with updates than cluster.  Removing unnecessary team/cluster label.

[2015-06-30 02:36] quinton-hoole commented on #9470
Doesn't look like v1.0 to me, but I shall defer to @davidopp

[2015-06-30 02:42] quinton-hoole commented on #9470
My apologies for interfering - re-adding team/cluster.  Seems @thockin is indeed very involved in the conversation.

[2015-06-30 02:44] derekwaynecarr commented on #10507
I have started documenting an approach for initializers since we really need to do something post 1.0, I think for e2e it's fine to not wait in admission

[2015-06-30 02:45] davidopp commented on #9849
@bakins Thanks. So IIUC the only thing that's critical for 1.0 is to document the env vars you need to set for CoreOS before running kube-up.sh? I didn't see any env vars mentioned in the first few docs at
https://github.com/GoogleCloudPlatform/kubernetes/blob/8813c955182e3c9daae68a8257365e02cd871c65/docs/getting-started-guides/coreos.md

[2015-06-30 03:18] bgrant0607 commented on #4527
@nikhiljindal Will this fixed be fixed by your PR?

[2015-06-30 03:19] bgrant0607 commented on #4527
@krousey Looks like another timeout issue. Watch shouldn't be subject to the 5-minute timeout, either.

[2015-06-30 03:20] bgrant0607 commented on #4844
Same issue as #9013, I'm guessing.

[2015-06-30 03:20] #4844 closed

[2015-06-30 03:27] davidopp commented on #9470
This is a sub-issue of #9849, which we've been debating for ages. I'm trying to get closure on it. It's looking like we won't have to do this one (#9470) for 1.0 but I don't want to close it until we're sure.

[2015-06-30 03:27] bgrant0607 commented on #2868
I don't think this is a problem in practice, at least not any longer.

[2015-06-30 03:27] #2868 closed

[2015-06-30 03:28] r-tock commented on #10451
Answers

[code]

2) This particular one is a g1-small. The others that had the issue were n1-standard-1
3) docker rarely showed up in top. So I am going to attribute the most of the CPU to kubelet.

[2015-06-30 03:32] bgrant0607 commented on #6514
Is this still an issue?

[2015-06-30 03:33] alexanderguzhva commented on #10522
the same for the first time when i ran v0.20.1 (the published one)

[2015-06-30 03:33] adyanthaya17 commented on #10472
I did edit the files previously as mentioned in #10230 but I'm still facing the same issue.

[2015-06-30 03:40] bgrant0607 opened #10527 "Facilitate generation of configs for common scenarios"
Item 17 in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md.

Would go well with "edit" functionality #8263.

We could tag (as in Go field tags) commonly used fields with example values or somesuch.

[2015-06-30 03:52] roberthbailey commented on #10472
The other thing I can think of to check is to make sure that kubectl proxy is actually binding to the port on your machine. After running kubectl proxy, can you run `netstat -an | grep 8001` and verify that it prints out a line (my mac shows `tcp46      0      0  *.8001                 *.*                    LISTEN`).

[2015-06-30 03:55] roberthbailey commented on #10368
Check out https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/development.md#flag-options. You can use the focus argument to select individual tests after launching your e2e cluster.

[2015-06-30 04:01] #10518 closed

[2015-06-30 04:04] alexanderguzhva commented on #10158
v0.20.1, even worse
1) https://storage.googleapis.com/kubernetes-release/release/v0.20.1/kubernetes.tar.gz
2) kube-up.sh, got an error with "dial tcp error something"
3) vagrant halt
4) kube-up.sh, now everything went up
5) let's examine

top (kubelet yields 100% CPU all the time)
[code]

journalctl -r -u kubelet
[code]

"journalctl -r -u docker" shows endless lines of the same

ok, let's restart

[2015-06-30 04:06] alexanderguzhva commented on #10522
here is the installation log on my core i5-5200U ubuntu 14.04 3.16 kernel
https://gist.github.com/alexanderguzhva/3fc6c3083f7d4eb20667
this is that console says
[code]

[2015-06-30 04:09] mikedanese commented on #6284
Assigning to @jlowdermilk as he has the PR assigned to him.

[2015-06-30 04:15] manishas commented on #10420
We had to revert back to our old orchestration due to issues similar to #10451 and also https://groups.google.com/forum/#!topic/google-containers/aoWv7wCd4uk

We're debugging further but for now builds should be back to normal. We're watching the builds very closely.

[2015-06-30 04:18] adyanthaya17 commented on #10472
tcp6       0      0 :::8001                 :::*                    LISTEN

This is what is getting printed

[2015-06-30 04:27] liggitt commented on #10511
Likely the same issue (and resolution) as https://github.com/GoogleCloudPlatform/kubernetes/issues/10507

[2015-06-30 04:33] caesarxuchao commented on #10311
FWIW, the reflect.TypeOf() randomly changes the order of fields, so when the marshal fucntion in go-yaml package is called, the passed in reflect.Value's fields are randomly ordered:
https://github.com/go-yaml/yaml/blob/v2/encode.go#L62.
Fields are then sorted here: https://github.com/go-yaml/yaml/blob/v2/encode.go#L130

[2015-06-30 04:34] quinton-hoole commented on #10158
I wonder whether you're running into https://github.com/GoogleCloudPlatform/kubernetes/pull/10471 ?  At least on your master.

[2015-06-30 04:34] dchen1107 commented on #10451
@r-tock I believe you are running GKE, which means you are at v0.19 kubernetes release. For v0.19 release, it is known issue that heapster collects /stats too frequently, which contributes largely to kubelet cpu spike.

[2015-06-30 04:46] codefx9 commented on #10383
Thanks for your hint. We are able to pull private images from Docker hub. We have to set the .dockercfg file at the root `/.dockercfg`  instead of `/root/.dockercfg`.

In the kubelet logs we found the following lines:
[code]
But I am not sure why it was not working before:. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/credentialprovider/config.go#L67 tells me it should have wo

[2015-06-30 04:46] dchen1107 commented on #10158
Since you are running with KUBERNETES_PROVIDER=vagrant, The issue you are having with v0.20.1, I think you are running into #10379, and @justinsb fixed it.

[2015-06-30 04:48] dchen1107 commented on #10522
See my comment on https://github.com/GoogleCloudPlatform/kubernetes/issues/10158#issuecomment-116955088

[2015-06-30 04:54] dchen1107 commented on #10511
@ liggitt I believe this one and another I filed today: 10513 have the same root cause as #10507

Closed it as dup of #10507

[2015-06-30 04:54] #10511 closed

[2015-06-30 04:54] dchen1107 commented on #10513
Closed it as dup of #10507

[2015-06-30 04:54] #10513 closed

[2015-06-30 05:00] bprashanth commented on #10412
True, I meant this can only mess with a local cluster if it's events ttls

[2015-06-30 05:11] thockin commented on #10516
I think I filed a very similar bug at some point - the UX here is not at
all obvious.

Here's how I would naively expect it to work:

[code]

On Mon, Jun 29, 2015 at 5:07 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-06-30 05:20] a-robinson commented on #10482
@bprashanth judging by my currently running master's logrotate configuration, we do rotate logs. I'd assume this kubelet was just logging so fast that it filled up the disk before logrotate kicked in.

[2015-06-30 05:23] dchen1107 commented on #10489
With OSS Kubernetes cluster, changing the entire's cluster's flags through salt is easy though simply kube-push.sh. But there is no easy way to change a subset of kubelets with different flags. I agreed that kube-push.sh is not the right way to upgrade a cluster in prod, and I had pushed to have a upgrade tool for both OSS and GKE, but at the end the team reached the decision to postpone this to p

[2015-06-30 05:23] a-robinson commented on #10482
Yeah, we appear to have logrotate set up to run hourly. If the kubelet was really spamming the logs as quickly as it looks in @marekbiskup's snippet (every few microseconds), it definitely could have filled up the disk in less than an hour.

[2015-06-30 05:26] gmarek commented on #10480
@WIZARD-CXY: thanks. I didn't mean for it to sound this strong. I just didn't knew how to explain it over the IRC and felt embarrassed:)

[2015-06-30 05:26] dchen1107 commented on #10489
I moved this one back to v1.0-candidate, and let cluster-lifecycle folks to decide the milestone and priority. If this is targeted for 1.0, we can discuss the solution / design more.

[2015-06-30 05:26] thockin-cc commented on #10489
Simple but awful answer: Put a comment in the /etc/default/kubelet:

[code]

then make it source another file:
[code]

On Mon, Jun 29, 2015 at 10:24 PM, Dawn Chen <notifications@github.com>
wrote:

[2015-06-30 05:30] dchen1107 commented on #10508
Which kubernetes version are you running here?

[2015-06-30 05:33] wojtek-t commented on #10475
We should separate it into more than 2 steps and share the work. This is going to be a source of enough bugs that everyone maintaining the apiserver should know (vaguely) how to debug.

I agree. I just think that those are two biggest steps, but we should divide them deeper.

Tackling this as purely a performance optimization doesn't sound like a good idea.

I don't understand what do you mean by

[2015-06-30 05:33] bgrant0607 commented on #10242
I was thinking that in the case of a 0-limit pod, utilization-based priority functions would just return 0, making them no-ops.

We could then implement a separate priority function based on the number of pods, similar to @bprashanth's scoreHostByPodCount.

That would allow the number of pods to affect the scheduling of pods wit limits set, which is desirable in the absence of both QoS-based isola

[2015-06-30 05:38] bgrant0607 commented on #10489
IMO, anything that requires users to change command-line flags on any of our components isn't really supported.

[2015-06-30 05:43] davidopp commented on #10242
I don't think this is good, because it can lead to bad behaviors like if you have a node that is 90% filled in terms of limits of running pods (and is not running anything else), and a node that is 10% filled in terms of limits of running pods (and is not running anything else), then you will evenly distribute new 0-limit pods between the two whereas it seems clear you should schedule at least the

[2015-06-30 05:45] gangadhars commented on #10480
I build kubenetes with version 0.19.3. When I run `kube-up.sh`, these are the kube-proxy logs.

[code]

[2015-06-30 05:46] WIZARD-CXY opened #10530 "kube-dns failed to connect to the api server"
@thockin I am updating the k8s 0.19.3 on ubuntu to use the latest kube-dns and I'm using the newest template which means v1 api to deploy. Only to find there is some authentication error. kube2sky complains as

`
E0630 05:00:10.016434       1 helper.go:247] expected to load root ca config from /var/run/secrets/kubernetes.io/serviceaccount/ca.crt, but got err: open /var/run/secrets/kubernetes.io/se

[2015-06-30 05:49] WIZARD-CXY commented on #10480
It means kube-proxy can't connect to the apiserver. Make sure your apiserver is healthy and see if there exists some network issue

[2015-06-30 05:49] thockin commented on #10530
That's available in 0.20.0 and higher

On Mon, Jun 29, 2015 at 10:46 PM, Xingyu Chen <notifications@github.com>
wrote:

[2015-06-30 05:49] #10530 closed

[2015-06-30 05:51] wojtek-t commented on #10412
I agree.

[2015-06-30 05:51] WIZARD-CXY commented on #10530
Thanks for your quick reply. I will try it with 0.20.0 to see if it is ok.

[2015-06-30 05:53] odis912 opened #10531 "garbage collection is not working"
i'm using gcr.io/google_containers/hyperkube:v0.18.2  with garbage collection option (minimum-container-ttl-duration)

docker run --net=host -d -v /var/run/docker.sock:/var/run/docker.sock  gcr.io/google_containers/hyperkube:v0.18.2 /hyperkube kubelet --api_servers=http://xx.xx.xx.x:8080 --v=2 --address=0.0.0.0 --enable_server --hostname_override=$1 --minimum-container-ttl-duration=1s --image-gc-l

[2015-06-30 05:53] thockin commented on #10480
is 172.16.2.73 a node or the master?  Above you show it as a node, but you
are trying to connect to it as if it were the master

On Mon, Jun 29, 2015 at 10:45 PM, Gangadhar <notifications@github.com>
wrote:

[2015-06-30 05:53] roberthbailey commented on #10472
I'm now at a loss as to what isn't working.

[2015-06-30 05:53] thockin commented on #10530
Thanks, please reopen if that doesn't work.

On Mon, Jun 29, 2015 at 10:52 PM, Xingyu Chen <notifications@github.com>
wrote:

[2015-06-30 05:54] gangadhars commented on #10480
@thockin 172.16.2.73  is master as well as node. I configured role to "ai".

[2015-06-30 05:54] WIZARD-CXY commented on #10480
@gmarek that's all right. I am updating the kube-dns now.But encounter some problems.I'm asking @thockin for help. He told me using 0.20.0 is ok.So I will give it a try.

[2015-06-30 05:55] adyanthaya17 commented on #10472
Could you tell me as to what the below command does?

$ ./cluster/kube-up.sh

[2015-06-30 05:57] wojtek-t commented on #6514
@bgrant0607 - listing pods is still the most expensive api call. Currently, in our scalability tests, high percentiles of listing pods are the only operations with latency exceeding 1s.
So I think this is still an issue, but it's not of very high priority in my opinion (there will be changes post 1.0 that should improve it - e.g. #10475), so I'd prefer to leave this issue open (it's not under 1.0

[2015-06-30 06:02] bgrant0607 commented on #5582
Another example problem: #10489

Flags are a horrible configuration mechanism:
* They are neither versioned nor scoped.
* They are not friendly to version skew (e.g., flags that don't exist in a particular version).
* They can't be changed dynamically.
* We don't really control the mechanism(s) by which they are specified on the command line: shell scripts, init scripts, unit files, ..
* We don't

[2015-06-30 06:03] bgrant0607 commented on #10489
See also #5582

[2015-06-30 06:16] davidopp commented on #6781
@HaiyangDING  I think something with a bit less detail would be fine. Let me write an outline and then maybe we can iterate on it.

[2015-06-30 06:18] bgrant0607 commented on #10242
True, 0-limit pods should take occupancy by limit into account to some degree, just as pods with limits should take occupancy by pods into account by some degree.

I don't think we should entirely rely on LimitRange. IMO, creating namespaces is a more advanced use case, we should teach such users how to use LimitRange, and we should make it easy to create. While there will be other clients, and I

[2015-06-30 06:19] gangadhars commented on #10480
@WIZARD-CXY
kube-controller-manager.log:
[code]
kube-apiserver.log:
[code]

[2015-06-30 06:19] alex-mohr commented on #10482
This is the Nth "kubelet fills up the disk with log spam" issue.  What kind of regression test do we need to prevent M more of them?

[2015-06-30 06:22] HaiyangDING commented on #6781
@davidopp ,

That sounds like a great idea to me! I am really looking forward to see the outline.

Regards

[2015-06-30 06:26] wojtek-t commented on #10423
+1
There were just a bunch of failures in scalability test suite (run 1623-1628) that failed because not all system pods were running. Since there are no logs, there is no easy way to debug it.

It would be super useful to have all the logs for failed cluster-ups.

cc @davidopp

[2015-06-30 06:30] WIZARD-CXY commented on #10480
seems after `23:06:15.956114` the apiserver is ok. You can run `nc ` which I give you above on your  node to see if it's ok

[2015-06-30 06:38] gangadhars commented on #10480
@WIZARD-CXY
#nc -zv 172.16.2.73 8080
[code]

[2015-06-30 06:41] WIZARD-CXY commented on #10480
So kube-proxy should able talk to the apiserver. you can check the log again

[2015-06-30 06:44] gangadhars commented on #10480
There are no new logs. @WIZARD-CXY

[2015-06-30 06:45] WIZARD-CXY commented on #10480
try 'sudo service kube-proxy restart` to restart proxy ?

[2015-06-30 06:55] gangadhars commented on #10480
service kube-proxy restart
[code]
kube-proxy.log:
No new logs. Showing old ones only.
[code]

[2015-06-30 07:00] thockin commented on #10480
I see two things wrong,"http" and the port number.  Shouldn't it just be
https://master-ip ?  ps auxw | grep kube-proxy ?

On Mon, Jun 29, 2015 at 11:55 PM, Gangadhar <notifications@github.com>
wrote:

[2015-06-30 07:01] WIZARD-CXY commented on #10530
It seems not working .apiserver logs:
`I0630 14:50:48.281520    4307 logs.go:41] http: TLS handshake error from 10.10.103.223:51723: remote error: bad certificate
`

kube-dns log
`
I0630 06:48:35.953875       1 kube2sky.go:389] Etcd server found: http://127.0.0.1:4001
E0630 06:48:36.958448       1 helper.go:247] expected to load root ca config from /var/run/secrets/kubernetes.io/serviceaccount/ca.

[2015-06-30 07:05] WIZARD-CXY commented on #10480
@thockin The ubuntu k8s is not using https based apiserver unless @gangadhars configured himself

[2015-06-30 07:08] thockin opened #10534 "Field errors should include a clue as well as a message"
Something like:

[code]

field: msg, value: clue: details

[2015-06-30 07:10] thockin commented on #10530
You are missing a --kubeconfig= argument - I have not personally looked at
the ubuntu code, so I can not be more helpful right now.

On Tue, Jun 30, 2015 at 12:02 AM, Xingyu Chen <notifications@github.com>
wrote:

[2015-06-30 07:10] thockin commented on #10480
I thought we totally turned off non-https at this point.  I could be wrong.

On Tue, Jun 30, 2015 at 12:06 AM, Xingyu Chen <notifications@github.com>
wrote:

[2015-06-30 07:31] gangadhars commented on #10480
How can I configure k82 to use https?

[2015-06-30 07:34] wojtek-t commented on #10380
@quinton-hoole - are you fine with moving it to post 1.0?
If so then you can assign it to me - I will fix it as soon as #7372 is merged.

[2015-06-30 07:35] wojtek-t commented on #10318
@erictune - since #10447 is now merged, can we close this issue?

[2015-06-30 07:37] wojtek-t commented on #10289
Fixed by #10301

[2015-06-30 07:37] #10289 closed

[2015-06-30 07:39] wojtek-t commented on #10282
@bprashanth Is there a dedicated issue for it? If not, maybe we should rename this one (i.e. scalability tests are no longer failing because of that particular reason).

[2015-06-30 08:05] wojtek-t commented on #10507
+1 for rejection from #10523

[2015-06-30 08:22] marekbiskup commented on #7046
#9128 assumes the addons are always in the default namespace and does not work if namespaces change.

I'll take this issue. Probably I'll split it into several PRs.

 1. kill children of kube-addons.sh
 1. suppress salt error message `Failed when setting service kube-addons to start at boot`
 1. handle namespace changes.

[2015-06-30 08:25] marekbiskup commented on #7046
Question:

I want to find object with a specific label across **all** namespaces. Is there a way to do it?
If not, how can I locate the old add-ons (in an unknown namespace) to delete them?

[2015-06-30 08:59] marekbiskup commented on #7046
Ok, I see what @brendandburns / @satnam6502 did in #10487 was just to assume that previously all add-ons were in "default" namespace. It looks like namespace change is already handled in #10487.
I'll focus on other issues first.

[2015-06-30 09:18] marekbiskup opened #10537 "elasticsearch-logging-v1 spec: invalid value 'es-transport-port'"
Error from kubectl when the addon controller is created:

[code]

[2015-06-30 09:27] marekbiskup commented on #10537
I see that the validation was added recently by @thockin.
cc @satnam6502

[2015-06-30 10:11] mmobini opened #10539 "error: couldn't read version from server (installing kubernetes on CoreOS)"
I've install and configure kuberenetes on top of CoreOS Cluster based on [this article](https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-kubernetes-on-top-of-a-coreos-cluster).

I see in similar  issues that maybe the problem is dependency of kubelet service on docker but after removing dependency same error occured when i run different commends like this:

[code]

Cou

[2015-06-30 11:26] avinci commented on #10420
Currently KUBE is freezing all the running containers on a minion which causes our builds to timeout as they are run only once pods. This happens when kubelet starts to eat up CPU for no reason as described by the bug above...

[2015-06-30 11:50] deads2k commented on #10495
I could see having similar look and feel between the commands (`Name` and `Namespace` as first args come to mind), but I see a lot a value in having very simple helper commands for the 80% case of common objects so that it's possible to get started without speaking json.  That means that each `new` subcommand would be a special snowflake with different args.

[2015-06-30 12:02] rassie commented on #9576
Any news on this front? 0.20.1 is still restricted.

[2015-06-30 12:18] liggitt commented on #4822
Discussion of structure/behavior of generic `new` commands is related to https://github.com/GoogleCloudPlatform/kubernetes/issues/10495#issuecomment-117144285

[2015-06-30 12:39] zmerlynn commented on #10489
I like @thockin's awful answer, though I think users need to be clear that anything they do in `.local` may be butchered / unsupportable the next time they upgrade/push.

[2015-06-30 12:42] zmerlynn commented on #10489
Also, why is this even a P1? Yes, it's because salt changes it back. Yes, it's because it's a salt managed file. It's been this way for ages, and we're generally expecting to have full control of those files. I'm not sure this makes the 1.0 cut, except may just to add the comment (not even to add the sourcing).

[2015-06-30 12:45] ncdc commented on #10445
When OpenShift runs at idle in a Fedora 21 VM running in Parallels on my late-2012 27" iMac, it uses 25 to 35% CPU.

I swapped in juju/ratelimit to see how it compared at idle. I'm seeing it much lower - somewhere between 1 and 5 for the most part, with some bursts up to 10-15% at times.

I have not yet tested to see how effective it is at actually rate limiting, as well as if it's able to distrib

[2015-06-30 12:46] gmarek commented on #10242
I want to chime back to what @yujuhong wrote. IIUC Docker spreads resources that are left after static (i.e. concrete core ids) allocation between containers assuming some weights. This means that given two Nodes, one with one 3-container pod, and one with one 1-container pod, and trying to schedule one 1-container pod it's better to schedule it on the latter (it'll get 50% of resources, instead o

[2015-06-30 12:57] zmerlynn commented on #10539
That article is quite old. Were you still trying to configure Kubernetes 0.7.0? If not, a *ton* of things have changed. You might try comparing that article to one of the current getting started guides, which you can find here: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides.

[2015-06-30 13:16] marekbiskup commented on #10537
Please check also why e2e tests didn't find this problem (I suggest we have tests for all addons that we expect to be working).

[2015-06-30 13:19] zmerlynn commented on #10537
@satnam6502: Sending your way.

[2015-06-30 13:24] zmerlynn commented on #10531
@dchen1107, any thoughts?

[2015-06-30 13:31] zmerlynn commented on #10522
I think @dchen1107 is probably right. There's a 0.20.2 brewing already (and we should have it out later today), so hang tight.

[2015-06-30 13:37] zmerlynn commented on #10537
There is actually an Elasticsearch logging e2e. I'm curious why it didn't find it - it may be on the perma-skiplist, which would be disappointing considering how much I made @satnam6502 bleed for it. :(

[2015-06-30 13:38] liggitt commented on #10445
I just tested it, and it smooths as well as the current throttler. The only difference seems to be whether the bucket is initialized to the burst rate or not.

[2015-06-30 13:55] r-tock commented on #10451
/ack. What is the eta on the 0.20.1 release?

[2015-06-30 13:57] bgrant0607 commented on #7355
We should document how we translate cpu limit to shares. The swagger isn't really the right place. Probably we need a more user-focused version of resources.md.

[2015-06-30 14:04] iterion commented on #10508
I built from master as of yesterday afternoon. I believe the same issue was
happening on 0.20.0.
On Tue, Jun 30, 2015 at 12:30 AM Dawn Chen <notifications@github.com> wrote:

[2015-06-30 14:08] bgrant0607 opened #10543 "Set minimal shares for containers with no cpu specified"
In #687, we explicitly set cpu shares to 0 for containers with 0 cpu specified. However, @yujuhong and @gmarek say that Docker gives such containers 1024 shares. If true, we should give such containers minimal shares (10? 50?) instead. Otherwise, containers that specify no cpu would get a lot more shares than those that explicitly specify a small amount of cpu, including due to the default in Limi

[2015-06-30 14:10] gmarek commented on #7355
Because we provide an abstraction of a higher level than Docker and our users don't really need to understand Docker way of handling resources (i.e. what kind of guarantees they can/cannot expect), I believe that we should explain this as well. The same holds for other container engines.

[2015-06-30 14:20] bgrant0607 commented on #10242
Forked #10543 for how to set shares when no cpu is specified.

I can't see how "Docker" can do spreading, since it doesn't update cgroups. Cpu shares are just that -- shares.

Counting containers rather than pods -- makes sense.

What we're trying to do is spread pods by resource usage, but without measuring resource usage. :-(  We could model it that way. I'd use some fraction of specified limits

[2015-06-30 14:21] liggitt commented on #10445
Actually, nevermind... juju/ratelimit initializes the bucket to capacity as well. Here's the code I used to test the initialization/smoothing behavior:
https://gist.github.com/liggitt/0bbf37f71ffb21ac169d

[2015-06-30 14:22] liggitt commented on #10445
In general, if our rate limiter has a `Stop` function, I think we're doing it wrong :)

[2015-06-30 14:40] roberthbailey commented on #9576
@alex-mohr

[2015-06-30 14:40] wojtek-t commented on #10475
I tried to put all my thoughts together and wrote a more detailed proposal in a more fine-grained way that could be divided among few people.

I'm not focusing on the Indexer here, although my design is supposed to be compatible with the proposal for the Indexer from https://github.com/GoogleCloudPlatform/kubernetes/issues/4817#issuecomment-89437368

### High-level proposal

The watch in apiserver

[2015-06-30 14:40] wojtek-t commented on #10475
cc @smarterclayton

[2015-06-30 15:07] jszczepkowski commented on #9062
@quinton-hoole Sorry for replying so late, but I was on holidays. The flakiness was caused by liveness probes of some pods (e.g.: kube-dns).

[2015-06-30 15:08] satnam6502 commented on #10537
It is on the skip list which is why this change did not get caught and more importantly why cluster level logging with Elasticsearch is broken at head until #10453 merges. The test was put in falky and then skipped @quinton-hoole which is a shame because I think that although this is a pesky test it does exposes a variety of errors and concerns.

[2015-06-30 15:17] smarterclayton commented on #10475
@derekwaynecarr as well

[2015-06-30 15:23] roberthbailey opened #10548 "Properly partition e2e tests with labels to avoid murkiness around what's running where"
We need to make sure that at least one of our Jenkins configurations covers each e2e test. If it's never being run by automation, it is going to bit rot and we might as well not have it.

[2015-06-30 15:24] wojtek-t commented on #9062
Also - @jszczepkowski implemented a fix for it - see #10547

[2015-06-30 15:38] derekwaynecarr commented on #10475
Can you write your doc as a design PR in ```docs/design```, so its easier to comment on specific sections and give feedback on selective items?

[2015-06-30 15:42] mikedanese commented on #10420
@avinci thanks for reporting. We are looking into it. what cloud provider are you using, GKE? What version of kubernetes are you running? How much cpu/memory do the nodes have? How many pods usually run per node?

[2015-06-30 15:44] avinci commented on #10420
AWS c4.X8Large I think its 36 cores with 60GB memory and we have a Provisioned IOPS disk of 1TB with 6000io

[2015-06-30 15:45] avinci commented on #10420
We have reverted back to our old systems and kube builds have been running 20mins each mostly green since last 6-8 builds

[2015-06-30 15:51] roberthbailey commented on #10472
From your netstat output it looks like kubectl may only be binding to an ipv6 interface on your machine (whereas on my machine it's binding to both ipv4 and ipv6). Can you try pointing your browser at http://[::1]:8001/static/ and see if that connects?

[2015-06-30 15:51] roberthbailey commented on #10472
(by the way, that works for me in chrome but not safari, so your milage may vary depending on your browser)

[2015-06-30 15:54] zmerlynn commented on #10537
There's a process issue there, then. We need addons to be tested at some
basic level regardless, even if it's just a health check that can't fail
and isn't flaky. Maybe there's a P1 bug that all addons have that test, at
least.
On Jun 30, 2015 8:09 AM, "Satnam Singh" <notifications@github.com> wrote:

[2015-06-30 16:01] satnam6502 opened #10550 "All cluster level services should have at least a basic e2e test"
I will start by writing a test for Kibana logging to ensure the UI returns a 200 status response.
@zmerlynn @quinton-hoole @ixdy

[2015-06-30 16:10] devurandom commented on #10265
I updated both master and nodes to Kubernetes v0.20.1 and removed the `kube_master_url` argument to kube2sky from `skydns-rc.yml` - the problem is back.

[2015-06-30 16:11] quinton-hoole commented on #10537
@satnam6502 @zmerlynn You'll notice that all e2e cluster builds are broken at the moment, because the  monitoring-heapster and kube-dns pods in the default namespace never report in Ready.  I assume that's the type of test that you're looking for?  Is elasticsearch-logging not running in the default namespace?  If so how was it not checked, or if it was checked, why did it report in as Ready?  I a

[2015-06-30 16:32] erictune opened #10551 "Inadequate monitoring documentation"
Issues:
  - the documentation we have in cluster/addons/cluster-monitoring/README.md is terse.
    - it should describe what metrics are monitored, and link to and from docs about limits, such as docs/resources.md
  - it is not under the docs directory where we keep user docs.  Some kind of overview should be in `docs`.
  - it is described as an addon but some form of cluster monitoring it seems t

[2015-06-30 16:33] derekwaynecarr commented on #10475
@wojtek-t

LimitRange is using etcdgeneric already.

Can you elaborate on the pros/cons of having a watch per resource type versus just having a single watch for all changes from root of the etcd repo?

[2015-06-30 16:49] deads2k commented on #10425
@erictune I can't reproduce this.  Are you sure you deleted `/root/.dockercfg` and not the one for your user?

[code]

[2015-06-30 16:55] derekwaynecarr commented on #10495
I added @deads2k suggestion as an Option 3.

It's my preferred option.

I will look to craft a PR.

[2015-06-30 17:01] erictune opened #10553 "Improve scheduler event messages"
Scheduler event:
[code]

Problems with this event message:
1. It says `Error`, but having pods fail to schedule is a common event in a system, and "Error" is too alarming a term.
1. It says `scheduling`, but the event makes it clear that this is about scheduling in both the `From` and `Reason` fields.
1. it says `For each of these fitness predicates .. failed on at least one node:` but there is on

[2015-06-30 17:02] derekwaynecarr commented on #10495
I am biased to support the following:

```kubectl new <kind> <name> --flag1 | kubectl create -```

i.e. the new command just outputs to stdout to support piping.

[2015-06-30 17:05] zmerlynn commented on #10548
Amen. Tests that are skipped in every configuration need a bug - they're simply a waste of breath.

[2015-06-30 17:07] deads2k commented on #10495
I'd prefer to have it do the create by default and support outputting only via the `-o yaml|json` flag as we've done `new-app` and `secrets new` (yes I see how inconsistent that is) in openshift.  Most of the time, users will want to use it to make a new object server side.

Also, it's kubectl new <**resource**> <name>, not <kind>

[2015-06-30 17:10] derekwaynecarr commented on #10495
@deads2k - thanks for the terminology on <resource>; I should have known better.

I am fine with a -o flag to avoid the piping as well.

[2015-06-30 17:11] smarterclayton commented on #10495
--flag1 has all sorts of problems (api versioning, etc).  I don't think
this is making things easier except for the most trivial resources, and
it's probably better to have a trivial (specific) command for a trivial
resource.

On Tue, Jun 30, 2015 at 1:08 PM, David Eads <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-06-30 17:13] derekwaynecarr commented on #10495
@smarterclayton - how is a --flag1 type of concept any different than ```kubectl run example --image=foo``` from an api versioning perspective?  For example, I would expect for a limit range, we would have ```kubectl new limitrange limits --default-container-cpu=100m```

[2015-06-30 17:15] #9422 closed

[2015-06-30 17:19] roberthbailey commented on #10467
Yes, that seems like a bug. Are you interested in updating the configs to use a more recent release?

[2015-06-30 17:21] roberthbailey commented on #10413
Unable to reproduce since we don't have any master logs.

[2015-06-30 17:21] #10413 closed

[2015-06-30 17:22] thockin commented on #10265
Let's walk through the dependency chain

Do you have a service account (should be auto-created):

[code]

That account should have one secret:

[code]

That secret should have 2 data.  One should be a token, and one a ca.crt:

[code]

If you have all of those, you MIGHT have hit a race that we discovered yesterday.  Specifically DNS's pod might have been created before the secret:

[code]

If you

[2015-06-30 17:23] satnam6502 commented on #10550
Can the appropriate TL add a milestone? Thanks. @thockin @dchen1107

[2015-06-30 17:23] yujuhong commented on #10451
Some update about kubelet's resource usage after letting the cluster run for >16 hours. As mentioned before, this is a lightly-loaded cluster with primarily add-on pods with an extra pause pod per node
 - A slight increase in cpu usage (2~3%)
 - A slight increase in memory usage (from 4x MB to 5x MB)

The cloud console reports a stable 11% cpu usage for the node, with steady incoming network traff

[2015-06-30 17:23] quinton-hoole commented on #10380
I'l like to review and comment further, but haven't had the time yet.  I don't fully agree with the logic of your notes above (Jun 26, 12:06 AM).  More later.

[2015-06-30 17:23] smarterclayton commented on #10475
It seems like from the proposal above you're trying to avoid two things:

1. Having too many watches on etcd
2. avoiding deserializing objects twice in two different watch results

I would argue that those are separate problems.  Solving "deduping watches on etcd and offering longer history" is a smaller problem that is decoupled from "allow many clients to get a FIFO on the same store".  I think

[2015-06-30 17:24] deads2k commented on #10495
I think that's exactly what we're talking about.  A series of specific subcommands all grouped under `kubectl new <resource>` where `<resource>` is actually a subcommand, not an argument.

[2015-06-30 17:25] erictune commented on #3338
Raising priority because error handling of current impl is atrocious.

### Unrecognized keys are silently dropped
so if you nest a key one level too high or too low, it just gets ignored and the object is created.
so in this example:
[code]
4 lines of otherwise correct spec are dropped because they are mistakenly placed under the wrong parent.  Combine silent dropping of fields with automatic sett