[2017-10-12 00:32] lukmanulhakimd opened #53754 "Kube-proxy metrics bind"
Whenever I try to change kube proxy metrics bind using flag `--metrics-bind-address=0.0.0.0`, it gives me:
[code]
Then, I added the port `--metrics-bind-address=0.0.0.0:10249`, the error changes.
[code]

I expect the metrics server to listen to 0.0.0.0:10249. Do I miss something?

**Environment**:
- Kubernetes version: v1.7.8
- Cloud provider or hardware configuration**: on-premise
- OS (e.g. from

[2017-10-12 01:01] lichen2013 commented on #43788
Not everything is fixed, just partially fix I believe.

/reopen

[2017-10-12 01:09] jayunit100 commented on #53327
Cc @ravisantoshgudimetla

[2017-10-12 01:11] jayunit100 commented on #53327
If we could simulate these in sched_perf ; by adding large amounts of the CheckNodePredicate stuff it would be ideal.

[2017-10-12 01:14] Random-Liu opened #53757 "CRI: Debug API"
Today, CRI only provides information needed by Kubelet.

But actually, Kubelet is not the only consumer of CRI. [`crilctl`](https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md), which is a CLI tool for debugging purpose, also talks with CRI to get debug information for user.

Most operations provided in `crictl` are well covered by CRI already. The only thing missing is de

[2017-10-12 01:14] wackxu commented on #53723
I would help fix it.

[2017-10-12 01:22] m1093782566 commented on #53741
@MrHohn

Oct 11 16:37:49.106: test session affinity, cost time: 1m31.742990485s
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/network/networking.go:248

This is a mistake. Sorry for my debug lines sneak in - I was just wondering why this test case didn't run in upstream CI?

Oct 11 16:39:42.406: Expect endpoints: map[], got: map[netserver-1:{}]
/go/src/k8s.io/kuber

[2017-10-12 01:24] k82cn commented on #43788
just help to reopen it :).

[2017-10-12 01:30] leeningli commented on #53711
Thank you. I have check it .I will close it.

[2017-10-12 01:30] #53711 closed

[2017-10-12 01:32] mYmNeo commented on #52641
Yes, our version is 1.4.6, and could you give a issue number related to this problem fix?

[2017-10-12 01:35] MrHohn commented on #53741
@m1093782566 Thanks. These two tests don't run on pull jobs as they are marked as `[slow]`, though https://k8s-testgrid.appspot.com/google-gce#gci-gce-slow, https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features (and other CIs that include `[slow]`) would have them running.

[2017-10-12 01:39] m1093782566 commented on #53741
Do you mean when I raise a PR, these test cases will not be triggered? My question is how can I make sure my follow-up PR can fix this bug? Where can I access the log message when I raise a new PR?

[2017-10-12 01:40] resouer commented on #53497
@ConnorDoyle I really have some inputs on topology design from research side (and I've once talked it with @renaudwastaken), would like to participate together on this task.

[2017-10-12 01:42] m1093782566 commented on #53741
Can I see the updated test results from https://k8s-testgrid.appspot.com/google-gce#gci-gce-slow, https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features?

[2017-10-12 01:44] huzhengchuan commented on #53672
/cc

[2017-10-12 01:46] MrHohn commented on #53741
Yep, that is the current behavior. A hacky way to make it run on PR --- add a temporary commit to remove the word `[Slow]` from test name so some pull jobs (`pull-kubernetes-e2e-gce-etcd3` I think?) will run it. And you could view logs by clicking the `Details` button.

[2017-10-12 01:48] MrHohn commented on #53741
Nope, this CI only includes changes that are merged. It is basically a cronjob that runs tests against head.

[2017-10-12 01:53] scheng1 commented on #36729
@scheng1

[2017-10-12 02:28] tanshanshan commented on #53735
I would try to fix it.

[2017-10-12 02:29] camflan commented on #51881
That firewall rule did not fix this for me. K8s 1.8, flannel 0.9 on Ubuntu 16.04

[2017-10-12 02:40] stewart-yu commented on #53735
Can you add --validate=true in command line, then have a try?

[2017-10-12 03:13] stormltf commented on #51835
@r7vme no restart the kubelet.
[code]

[2017-10-12 03:38] dixudx commented on #53729
I'm working on it.

[2017-10-12 03:41] hzxuzhonghu commented on #53727
It looks like your worker container is not up when delete pod.

[2017-10-12 03:55] adnavare commented on #50041
Ah I see, thanks for getting back. Will you point the link after the patch is up for review. I will start getting some hands over the reviewing and submitting patches.

[2017-10-12 03:58] smarterclayton opened #53767 "Empty namespace column being shown for get clusterroles"
[code]

This is wrong, cluster scoped resources should never have a NAMESPACE column.  We need to fix and add a test to ensure this doesn't regress.

@kubernetes/sig-cli-bugs

[2017-10-12 03:59] smarterclayton commented on #53767
The presence of the flag is what triggers this.

[2017-10-12 04:02] daviddang91 commented on #53725
@kubernetes/sig-contributor-experience-localhost

[2017-10-12 04:03] adnavare commented on #20386
Has this being resolved? Also this http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html seems to be pointing a bad page. I can look up more to see how the format of kubeconfig should be and kind of add few points in documentation if this issue has not being resolved

[2017-10-12 04:06] #51015 closed

[2017-10-12 04:17] lichuqiang commented on #53767
I would help fix it.

[2017-10-12 04:20] ravigadde commented on #45188
@jkinkead The extender config does not specify predicates/priorities, it does require a custom scheduler policy to be defined. So yes its an artifact of that.

https://github.com/kubernetes/kubernetes/blob/master/examples/scheduler-policy-config-with-extender.json

[2017-10-12 04:42] feiskyer opened #53769 "CRI: clarify optional fields in all structures"
Towards https://github.com/kubernetes-incubator/cri-tools/issues/151 and https://github.com/kubernetes-incubator/cri-tools/pull/152, we need to clarify the optional fields for all structures in CRI.

[2017-10-12 04:43] feiskyer commented on #53769
/kind bug
/sig node

[2017-10-12 04:50] feiskyer commented on #53757
+1 for the proposal. detailed information could help a lot for validating cri-compatible runtimes and debugging container problems.

Option 2 also seems good to me, and it doesn't break kuberuntime since debug should be false by default. I suggest rename `Debug` to `Verbose`, which I think is more clear.

[2017-10-12 04:52] liggitt commented on #49504
Agree. `Scale` in autoscaling/v1 is the closest thing we have to a uniform scale object (is supported by replication controllers, and is defined by the API group related to scaling, not related to a particular workload). It makes sense to me to coalesce around that as the common scale subresource kind

[2017-10-12 04:55] liggitt commented on #50115
would like feedback from @mikedanese before proceeding in that direction

[2017-10-12 05:13] WIZARD-CXY commented on #53757
agreed with @feiskyer

[2017-10-12 05:35] liggitt commented on #53437
fixed in 1.8.1

[2017-10-12 05:41] #49548 closed

[2017-10-12 05:54] netroby opened #53773 "[RFC] kubernetes should have the ablility upgrade safe."
I installed kubernetes 1.7.3 last month, works well. then the kubernetes 1.8 released. I ran yum update(My system is CentOS x64). the kubernetes cluster failed to upgrade. after kube-* package upgrade.
The cluster network not working. we can not access network (both in/out)
And failed to find a solution.
We setup our cluster by kubeadm.
We try to delete all node, and recreate kubernetes cluster .

[2017-10-12 06:09] ithenov commented on #25554
can we specify the `kubectl.io/change-cause` annotation in the patch configuration now?

[2017-10-12 06:21] liggitt commented on #53726
from a node's perspective, a service account secret is just another volume mount. the kubelet will not start a container it cannot set up volumes for.

pods can opt out of service account tokens with the `automountServiceAccountToken: false` field if they do not need them and wish to remove a dependency on them

[2017-10-12 06:21] #53726 closed

[2017-10-12 06:24] liggitt commented on #53661
a sanitized kubeconfig reproducer would be very helpful

[2017-10-12 06:32] xujieqwe opened #53775 "kube-proxy IPVS: pod can't visit itself via service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I have enabled ipvs on Kube 1.8 and try to check network traffic
and I find with ipvs mode, pod cannot visit itself via service,
but if I use iptables mode, hairpin NAT works

**What you expected to happen**:
pod should visit itself via service

**How to reproduce it (as minimally and precisely as possible)**:

0. environ

[2017-10-12 06:32] xujieqwe commented on #53775
/sig network
/area kube-proxy

[2017-10-12 06:41] lukmanulhakimd commented on #53754
/sig network
/area kube-proxy

[2017-10-12 06:58] dixudx commented on #53773
@netroby Here is a doc on [how to upgrade kubeadm clusters from 1.7 to 1.8](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-8/).

If you're using other methods to provision your cluster, like what you mentioned above, a simpler and safe way is to directly modify related kube unit-files and binaries, instead of upgrading from the scratch.

[2017-10-12 07:21] k82cn commented on #42002
IMO, as an admin, I'll plan DaemonSet based on "static" setting, for example, I plan to start DaemonSet on 5 nodes (by nodeSelector), and maxUnavailable is 3; if it only start 2 pod because of resource, the rolling upgrade should be pending (it will break my QoS/SLA if terminating the only 2 available pod).

Maybe NodeAffinity :). Regarding the scheduler performance, I think there're some work we

[2017-10-12 07:40] CaoShuFeng opened #53777 "quota support for custom resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

For standard resources like (pods, configmaps), we can use quota to limit the amount of these resources in cluster. However, for a user defined custom resource, we don't support quota.

[2017-10-12 07:42] CaoShuFeng commented on #53777
@deads2k
@sttts

[2017-10-12 07:43] ssboisen commented on #45419
It changes, most often it's enough to restart kubelet but we have had situations where a docker restart was necessary.

We have no problem running `docker ps` on the node when the PLEG is acting up. I didn't know about the dockershim, I wonder if it's the connection between kubelet and dockershim that is the problem, could the shim not be answering in time leading to climbing backoffs?

**The erro

[2017-10-12 07:45] CaoShuFeng commented on #53777
/sig sig-api-machinery

[2017-10-12 07:49] gmarek commented on #53327
#49932 shouldn't have this impact, as in kubemark tests all conditions are always fine, thus this change shouldn't change the set of predicates computed by the scheduler at all.

[2017-10-12 08:00] CaoShuFeng commented on #53777
We may use controller to act as a quota currently.

[2017-10-12 08:03] husseincoder commented on #30558
@bgrant0607 @pwittrock @liggitt Guys its been so long since last interaction here .. should I close my PR and start implementing --replace-existing flag to create instead? please let me know .. I'm really passionate to get my first PR merged and start working on a new one :)

[2017-10-12 08:08] #48302 closed

[2017-10-12 08:59] wackxu commented on #52872
@frodenas now, we catch the error and when there return an error, we return `nil`  in the  `newcontroller` function . But in the test file we use `newcontroller` function for many times and Then there will be a lot of error in the test file, such as:

`Failed to create endpoint controller: Metric for endpoint_controller already registered`

then the test will always go fail. I think we should dist

[2017-10-12 09:06] hzxuzhonghu commented on #53734
I'd like to fix it

[2017-10-12 09:06] ScorpioCPH commented on #53497
@vishh I think i can pick up `stub e2e` work items, and i am trying POC implementation of [container-engine-accelerators](https://github.com/GoogleCloudPlatform/container-engine-accelerators) on ubuntu right now :-)

[2017-10-12 09:14] mandrean commented on #53661
@liggitt Updated #0 with instructions to reproduce on macOS!

Modify step #2 if testing on Linux or Windows.

[2017-10-12 09:28] r7vme commented on #51835
@stormltf  You can try to make `/var/lib/docker` and `/rootfs` as shared (which i don't see in your docker inspect, but see inside container) mountpoint.

[2017-10-12 09:38] runcom commented on #53757
+1 on option 2 and +1 for `Verbose`

[2017-10-12 10:17] frankruizhi commented on #50129
@yerly It really works on my computers

[2017-10-12 10:18] kargakis opened #53789 "URL parameters are not forwarded by kube-proxy"
https://deck-ci.svc.ci.openshift.org/log?job=test_branch_origin_extended_networking&id=887

If I try to access the service above from inside a pod in the same cluster, I can't see the parameters being forwarded. Is this intentional or not?
[code]

@kubernetes/sig-network-bugs

Running on:
[code]

[2017-10-12 10:18] frodenas commented on #52872
@wackxu Can you please provide an example where this is happening? I ran the tests on several controllers and haven't found that error. Ignoring this error doesn't seem a good idea IMO, if there're some tests that fail, we should investigate why are failing and fix them appropriately.

[2017-10-12 10:19] kargakis commented on #53789
cc @danwinship @dcbw

[2017-10-12 10:49] antoineco opened #53791 "code generators are silent"
**What happened**:

Invoking [`deepcopy-gen`](https://github.com/kubernetes/kubernetes/tree/c1062de2ff82362f28637b12053965398bad1588/staging/src/k8s.io/code-generator/cmd/deepcopy-gen) (and other code generators) does not output any information regardless of the selected log level, making the generation flow harder to troubleshoot.

**What you expected to happen**:

`deepcopy-gen` is verbose about

[2017-10-12 10:56] resouer commented on #53497
@sameo Will this work involve CRI change?

[2017-10-12 11:07] crassirostris commented on #52907
Closed by https://github.com/kubernetes/kubernetes/pull/53417

[2017-10-12 11:07] #52907 closed

[2017-10-12 11:12] roffe commented on #53683
When i run a user with limited rbac access i always get these errors:
[code]
if i run as cluster admin the errors never comes.

RBAC used:

[code]

[2017-10-12 11:17] djsly commented on #53726
Any reason why a pod will be restarted if I delete it from docket while keeping kubelet up even if its service account token folder doesn’t exists.

Shouldn't the logic be the same between deleting a container with or without kubelet running at the time of the deletion.

[2017-10-12 11:24] antoineco commented on #53791
I suspect an outdated vendored version of the `glog` package:
[code]

[2017-10-12 11:29] roffe commented on #53683
Ok, it seems the problem is it can't access swagger so it's falling back to swagger?
[code]

[2017-10-12 11:38] roffe commented on #53683
Adding the following RBAC clusterole & binding got rid of the errors:

[code]
Is it safe to open these nonResourceURLs to all the users or will i have to create clusterbindings for anyone with limited access to not get the openapi ( swagger ) warnings?

[2017-10-12 11:40] liggitt commented on #53726
The kubelet has an in-memory short-term cache of secrets and configmaps required to be mounted. On restart, the kubelet has to rebuild that from the API server before it can rebuild those volume mounts

[2017-10-12 11:44] roffe commented on #53683
Instead of what i wrote earlier maybe something like:

[code]

[2017-10-12 11:44] dims commented on #53370
/assign @dims

[2017-10-12 11:44] dims commented on #53370
/close

[2017-10-12 11:44] #53370 closed

[2017-10-12 11:52] roffe commented on #53683
this whole problem is solved by https://github.com/kubernetes/kubernetes/pull/53359

[2017-10-12 11:57] lichuqiang commented on #53767
@smarterclayton  I mean to add a test after modification, but found that current test framework could not support the case:
To cover the scene, we need a real *NewHumanReadablePrinter* in test case, to ensure the output format, and modify the related funcs in FakeFactory to support pass in param *withNamespace*.
I feel this not like behavior of  unit test to some extent. The loss may outweighs the

[2017-10-12 11:58] ryarnyah opened #53797 "podSecurityPolicyPlugin must not modify pod data"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: When you set SecurityContextDeny after PodSecurityPolicy in admission-control for apiserver, this error happend : "SecurityContext.SupplementalGroups is forbidden"

**What you expected to happen**: No error

**How to reproduce it (as minimally and precisely as possible)**:
* Create psp on the cluster

[code]
*

[2017-10-12 12:00] ncdc commented on #50041
PR: #52198

[2017-10-12 12:08] ryarnyah commented on #53797
@kubernetes/sig-Auth-bugs

[2017-10-12 12:26] sameo commented on #53497
@resouer I think so, yes. I believe it would make sense to do the device plugin allocations and the runtime ones at the same time, i.e. at Pod creation time. So we should have a `Devices` field in `PodSandboxConfig` and maybe remove the one in `ContainerConfig`.

[2017-10-12 12:41] piosz commented on #52811
fixed in https://github.com/kubernetes/kubernetes/pull/53205
(we test metrics-server in HPA e2e tests which uses metrics from metrics-server)

[2017-10-12 12:41] #52811 closed

[2017-10-12 12:42] mcginne commented on #53736
I rebuilt kube-proxy with this commit -> https://github.com/kubernetes/kubernetes/commit/44afb09339a20409cacdec6675feeff57cc64383 (which includes the change I mentioned above) and it now seems to behave much better, and is syncing on startup and when changes occur.
If someone could confirm this will make it into the net update for V1.8 I'm happy to close this issue

[2017-10-12 12:44] piosz opened #53800 "CM Stackdriver Adapter e2e test is failing all the time"
https://k8s-testgrid.appspot.com/sig-instrumentation#gce-sd-monitoring
https://k8s-testgrid.appspot.com/sig-instrumentation#gke-sd-monitoring

[2017-10-12 12:45] piosz commented on #53800
cc @fgrzadkowski @mwielgus @MaciekPytel

[2017-10-12 12:46] lichuqiang commented on #53497
@vishh Okey, I‘ll keep tracking the refactoring job.
For now, I'd like to continue working on some issues left in v1.8. Say _Checkpoint artifacts issue_ #52678, _admission_ issue #51592
And take part in some test work if necessary :)

[2017-10-12 12:57] zjj2wry commented on #53661
now decode code:
[code]

maybe not support `|`, and you should update yaml to below, will can work

[code]

[2017-10-12 13:10] mcginne opened #53801 "IPVS sync always sees all services as changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I am using IPVS with kube 1.8 and notice that every time the IPVS sync occurs it sees all Services as changed, even though they have not actually changed or moved.

I see the following messages for all Services, and then see the ipvs/iptables updates occurring:
[code]

It looks like the following check around line 1273 in

[2017-10-12 13:12] sttts commented on #53777
I think @ironcladlou is working on this already.

[2017-10-12 13:22] php-coder commented on #53797
As far I understand PSP plugin mutates a pod and this is by design. There is some work to reduce mutations (like there https://github.com/kubernetes/kubernetes/pull/52849) but it won't affect supplemental groups.

@liggitt would this setup (SecurityContextDeny after PodSecurityPolicy) be supported in the future?

[2017-10-12 13:26] liggitt commented on #53797
PodSecurityPolicy and SecurityContextDeny do the same thing and are not expected to be used in combination. SecurityContextDeny completely denies some settings. PodSecurityPolicy allows different defaulting and validation depending on the user and pod serviceaccount.

[2017-10-12 13:26] #53797 closed

[2017-10-12 13:28] liggitt commented on #53797
#52849 would remove the setting of supplemental groups to `[]`, which would resolve this particular issue, but using these two admission plugins in combination is not expected

[2017-10-12 13:45] rrati opened #53803 "Lease reconciler creates incorrect kubernetes endpoint and lease files"
/kind bug

The lease reconciler creates the kubernetes endpoint with a prefix of kube-apiserver-endpoint, however that is not the prefix that the rest of kube uses.  The end result is that the kubernetes service doesn't have an endpoint, and kubectl won't list the kubernetes endpoint.

The lease reconciler also creates lease files with a really long lease time instead of the default 15 seconds.

@

[2017-10-12 13:46] jamiehannaford opened #53804 "TaintNodesByCondition not working as expected"
**What happened**:

When using the new `--feature-gates=TaintNodesByCondition=true` feature added in v1.8, pods still can't seem to be scheduled to NotReady nodes. Steps to recreate:

1. Set `--feature-gates=TaintNodesByCondition=true` on apiserver, scheduler and controller manager
2. Have 1 master and 1 node cluster, neither of which have CNI set up. This means that each should be `NotReady` and

[2017-10-12 14:00] sttts commented on #53803
/cc @ncdc

[2017-10-12 14:04] ncdc commented on #53803
cc @rphillips xref #51698

[2017-10-12 14:10] ncdc commented on #53803
kube-apiserver-endpoint is used for the lease itself, from what I remember. I don't think that's an issue by itself.

[2017-10-12 14:15] shyamjvs commented on #53327
Ok.. so the problem with decreased scheduler throughput (by about 50% in kubemark-500) seems to be due to a recently introduced bottleneck by pr #53135. Quite surprisingly, it's due to super-slow generation of random string in one of the predicates. I explained in detail here- https://github.com/kubernetes/kubernetes/pull/53720#issue-264587260 (which is also the fix).

[2017-10-12 14:15] ncdc commented on #53803
Oh but it does look like the endpointRegistry for the lease reconciler is misconfigured to use that

[2017-10-12 14:17] rphillips commented on #53803
i'll look into it

[2017-10-12 14:18] frodenas commented on #53754
@lukmanulhakimd The `metrics-bind-address` is being [deprecated](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L128) and does NOT allow specifying a port. Have you tried using a config file? The `metricsBindAddress` field allows you to specify a port (an example [here](https://gist.github.com/ncdc/b53d5540fba4fb309b8c4c9b26fad487)).

[2017-10-12 14:21] rphillips commented on #53803
what is the name that should be used?

[2017-10-12 14:21] ryarnyah commented on #53797
@liggitt PodSecurityPolicy and SecurityContextDeny does not exacly the same thing. PodSecurityPolicy can validate capabilities per example and SecurityContextDeny does not check if capabilities are "drop ALL".

So PodSecurityPolicy and SecurityContextDeny can be allowed to work in combination.

In my point of view SecurityContextDeny is global and PodSecurityPolicy is more context-specific. Am i w

[2017-10-12 14:21] ncdc commented on #53803
services/endpoints afaik - https://github.com/kubernetes/kubernetes/blob/efe6180806374f77431840cbd086a902f6e645a9/pkg/kubeapiserver/default_storage_factory_builder.go#L36

[2017-10-12 14:23] ncdc commented on #53803
Yeah, making that change locally fixed it for me

[2017-10-12 14:23] liggitt commented on #53797
PodSecurityPolicy can do everything SecurityContextDeny can do. If you are using PodSecurityPolicy, there is no reason to also use SecurityContextDeny

[2017-10-12 14:24] ncdc commented on #53803
But I'm not seeing the masterleases/apiServerIPInfo data in etcd, or I'm issuing the wrong command to find it

[2017-10-12 14:24] leblancd opened #53806 "Add e2e test for type SRV kube-dns probes for IPv4 and IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area ipv6
/sig network

**What happened**:
Recent changes were made to kubeadm and to kube-dns to modify the health probes that are configured for kube-dns sidecar so that DNS queries of type SRV, rather than type A, are requested:
- PR #51378
- [kubernetes/dns PR #151](https://github.com/kubernetes/dns/pull/151)
These changes were made

[2017-10-12 14:30] ryarnyah commented on #53797
Ok. Thx

[2017-10-12 14:36] #49653 closed

[2017-10-12 14:36] liggitt commented on #53661
possibly a difference between ugorji and json-iterator handling of `[]byte`
cc @thockin

[2017-10-12 14:38] karanthukral opened #53807 "StatefulSet deletion delayed when using limit ranges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
- Stateful set deletion is delayed, sometimes by hours when using alongside limit ranges in the namespace
- The `deletionTimestamp` field for the statefulset is set correctly but the actual deletion is still delayed

**What you expected to happen**:
- Without limit ranges, the deletion is instantaneous

**How to reproduce

[2017-10-12 14:39] sttts opened #53808 "Next 1.8.1 sync of pubished staging/ repos"
Now that https://github.com/kubernetes/kubernetes/releases/tag/v1.8.1 exists, I propose to do the next push of the staging repos.

As for the previous pushes:
- the push script: https://gist.github.com/anonymous/166bec7ae1dba1ac39bf534bdd945294 (updated Oct 16)
- the last heads for a potential rollback: https://gist.github.com/anonymous/e29dbf711a60c0cccee45e5bcdcb407a (updated Oct 16)
- the test

[2017-10-12 14:41] jdumars commented on #23347
Is there still work planned here, or should this be closed?

[2017-10-12 14:45] danwinship commented on #53789
kube-proxy is a TCP-level proxy; it doesn't have the ability to not forward URL parameters

oh. Note the "`[1] 64`"; it's spawning a subshell to execute "`id=887`". You need quotes around your URL.

[2017-10-12 14:50] liggitt commented on #53661
it appears this was tolerated before, but it is not correct. `[]byte` is encoded as base64, not base64+newlines

if you want to use block styles to include the base64 data, use the stripping version (`|-`):

[code]

[2017-10-12 14:52] eparis commented on #53808
is @caesarxuchao agrees we should run https://gist.github.com/anonymous/43f9a21aa7730926aece14bcf1233072 I will run it today.

[2017-10-12 14:57] kargakis commented on #53789
@danwinship thanks!

[2017-10-12 14:57] #53789 closed

[2017-10-12 15:03] dixudx commented on #53773
/sig cluster-ops

[2017-10-12 15:10] rrati commented on #53803
@ncdc I had that same problem.  The lease timeout is set way high, but for some reason that resulted in the lease files being created for only a very short time.  I'm not sure why.  Playing with the ttl amount got the lease files to stay around....forever.  I've got a PR I'm about to push to fix both issues.

[2017-10-12 15:10] k82cn commented on #53804
@jamiehannaford , I think we need to  cherrypick https://github.com/kubernetes/kubernetes/pull/52723 .

[2017-10-12 15:20] jamiehannaford commented on #53804
@k82cn Cool, okay. Have [these test failures](https://github.com/kubernetes/kubernetes/pull/52723#issuecomment-333928183) been fixed btw?

@jdumars @jpbetz Would it be possible to cherry pick #52723 into v1.8.2?

[2017-10-12 15:28] #52160 closed

[2017-10-12 15:29] ncdc commented on #53803
@rphillips FYI @rrati has a PR for this now

[2017-10-12 15:33] resouer commented on #53497
@dchen1107 Hi Dawn, just discussed with folks in wg today.

1. For Solarflare NIC support, there's proposal that Pod metadata like name is needed to find correct net ns of pod.
2. For device topology support, pod topology requirement is expected to be passed to Allocate(), but we may also be able to use annotation instead in this case.

I think @vishh may have more inputs here.

[2017-10-12 15:39] bradtopol opened #53810 "Conformance annotations require build checks to ensure format is adhered to"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig area/conformance

**What happened**:
Kubernetes conformance annotations are comments in the e2e test suite next to tests labeled [Conformance] and are used for generating a document that describes the list of conformance tests as identified by the Kubernetes Conformance workgroup.  Currently these annotation comments do not undergo

[2017-10-12 15:44] ConnorDoyle commented on #49964
cc @resouer

[2017-10-12 15:45] ConnorDoyle commented on #53497
@resouer want to take up the topology discussion in #49964 comments?

[2017-10-12 15:51] adshmh commented on #49384
@ravisantoshgudimetla  I see a few more functions missing unit tests under /pkg/api/v1/helper. If no one is working on this, I can add unit tests for those.

[2017-10-12 16:03] k82cn commented on #53804
Yes, I think we need to cherrypick: https://github.com/kubernetes/kubernetes/pull/53480 , https://github.com/kubernetes/kubernetes/pull/52723 and https://github.com/kubernetes/kubernetes/pull/53184 , including the integration test. I can create cherrypick PR for reivew/approve.

[2017-10-12 16:05] mml commented on #53810
FYI I'm also working on a presubmit check to verify that any addition or removal of `[Conformance]` tags is reviewed big sig-architecture.  There may be some overlap, so if you have an implementation plan in mind, please let me know.

Thanks!

[2017-10-12 16:09] sttts commented on #53808
@eparis I updated the push script to use `--follow-tags` instead of `--tags`. The former would push also the non-1.8 tags.

[2017-10-12 16:11] ericchiang commented on #53315
Why would a pods need the API server CA if you don't want them to talk to the API server?

Couldn't you inject the CA in yourself?

[2017-10-12 16:15] sttts commented on #53808
Double checked with a test-repo that `--follow-tags` is what we want.

[2017-10-12 16:24] liggitt commented on #53804
In my opinion, we shouldn't be picking alpha feature bugfixes to release branches

[2017-10-12 16:30] yastij opened #53812 "Implement predicate ordering for the kubernetes scheduler"
following the design proposal on kubernetes/community#1152 this will be the issue that will track down the work to implement predicates ordering, work to be done:

* set predicate ordering to create the proposed static ordering / tests
* export restrictiveness as a prometheus metric
* write docs and examples

also to be done based on customers feedback:

* implement the end-user ordering (schedule

[2017-10-12 16:31] yastij commented on #53812
/sig scheduling
/assign

[2017-10-12 16:53] yastij commented on #53812
/kind feature

[2017-10-12 16:55] jiayingz commented on #53497
Can we create separate issues (if an issue hasn't been created yet) to discuss individual topics instead of overloading this issue with mixed discussions on different topics? It is a bit hard to follow at this point.

[2017-10-12 17:06] MrHohn commented on #53754
/assign

[2017-10-12 17:20] ericchiang commented on #49287
/assign

Do we want to only do this for the encryption config file or all sensitive files? I know the CIS benchmarks specifically mention file permissions for several flags.

[2017-10-12 17:46] hosh commented on #52817
Since the upgrade to 1.7, it seems our deployment rollouts have a higher failure rate. Occasionally, the pod would come up, but no readiness probe ever gets started. It stays in that state, blocking the entire deployment. I usually have to delete the pod so it is rescheduled, and a new readiness probe is fired to check.

I wonder if these are related issues here.

[2017-10-12 17:53] dims commented on #53570
/priority failing-test

[2017-10-12 17:56] djschny opened #53817 "add event when a readiness probe becomes healthy after being unhealthy"
**FEATURE REQUEST**:
/kind feature

**What happened**:
A readiness probe logs an event when it changes from a success to a failed state. However it never adds an event when it goes back to ready (and being included in traffic for any Services it is part of).

**What you expected to happen**:
An event message to be logged stating that the probe is healthy again and ideally the amount of time the po

[2017-10-12 17:59] jiayingz commented on #53395
A quick summary from an offline discussion among @vishh @mindprince and me.

We feel even though the most desirable operation to recover unhealthy device plugin is probably to mark the node as unschedulable, the decision and its implementation should probably leave out of Kubelet or device plugin. That means we will need some extra component to watch for device plugin resource health and performs

[2017-10-12 18:14] djschny commented on #53817
It is not clear to me what the appropriate group/label is so I have intentionally left both off so it can be triaged appropriately by someone who knows the appropriate group/label.

[2017-10-12 18:17] yujuhong commented on #53757
`Verbose` sounds better.

[2017-10-12 18:19] dkirrane commented on #53356
@jpetazzo I've tried you're workaround
[code]
But I'm then on kubeadm init I'm hitting this:
[code]

[2017-10-12 18:23] liggitt commented on #53356
this is fixed in v1.8.1

[2017-10-12 18:23] #53356 closed

[2017-10-12 18:47] smarterclayton commented on #53255
Putting the milestone approval label on because this is pretty important.

[2017-10-12 18:57] jlwynkoop commented on #25238
As a workaround, we tried using kubectl replace to replace the original deployment with a new deployment that does not specify a number of replicas.  This seems to allow the deployment to scale as expected with the HPA.  If you modify your CI/CD system to use "kubectl replace" vs "kubectl apply", you may be able to work around this issue.

[2017-10-12 19:04] e4jet commented on #16405
Followers of this issue might be interested in this project:
"Kubernetes Flexvolume Driver for Docker Volume Plugins"
https://github.com/hpe-storage/dory

[2017-10-12 19:07] bradtopol opened #53822 "Add conformance comment annotations to the Conformance e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature
/sig area/conformance
/sig area/testing
@sig-testing-pr-reviews

**What happened**:
The Kubernetes Conformance workgroup has agreed on a convention for annotating Conformance tests in the e2e test suite with comments that enables documentation to be generated that provides and overview of the conformance test suite.  The comments look l

[2017-10-12 19:10] abhi commented on #53757
+1 on ```verbose```
+1 on Option 2

[2017-10-12 19:41] bklau commented on #16405
@e4jet   Does this give the same functionality as docker's volume mounting from host to container?

[2017-10-12 19:45] mml commented on #53803
cc @cheftako

[2017-10-12 19:46] mml commented on #53791
@antoineco if you have a PR to fix this, we will happily take it.

[2017-10-12 19:48] mml commented on #53617
cc @jpbetz

[2017-10-12 19:49] mml commented on #53582
@pwittrock I think we have code that does this already.  Can you confirm?

[2017-10-12 19:51] mml commented on #53524
cc @pwittrock

I'm also curious about how we might implement this.  Are we planning to make it a bazel target so that it can execute incrementally?

[2017-10-12 19:54] mml commented on #53485
Closing as dup of #52121

[2017-10-12 19:57] sttts commented on #53485
@mml it's not a pure dup. Would keep it open.

[2017-10-12 19:58] Random-Liu commented on #53757
Cool, it seems that everyone is fine with Option 2 + Verbose.
I'll send out a PR then. :)

Thanks for providing suggestions!

[2017-10-12 19:59] cblecker commented on #53822
/sig testing
/area conformance

[2017-10-12 20:00] mmueen opened #53824 "IPV6 Documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig network
/area ipv6

**What happened**:
There is not consolidated documentation / guide available for deployment of Kubernetes with IPV6. The information is sparse and not at a single location, so it would be really helpful if all the documentation is compiled in wiki and act as a single stop for anyone trying to deploy kubernetes wi

[2017-10-12 20:00] cblecker commented on #53817
/sig node

[2017-10-12 20:08] brahmaroutu commented on #53810
#52863 @mml The current tooling assumes that we leverage [Conformance] tag. Can you elaborate other options?

[2017-10-12 20:19] deads2k opened #53825 "ServiceReference in ExternalAdmissionHookConfiguration can't be used by most consumers"
The only server in the cluster which is guaranteed to be able to lookup services and endpoints is the `kube-apiserver`.  All other consumers of the `ExternalAdmissionHookConfiguration` API cannot use the service reference as-is.  We should optimize for the normal case and make this a DNS name.

The case in `APIServices` is different, since those are *only* terminated by the `kube-apiserver`

@kube

[2017-10-12 20:20] AmandaCameron commented on #50975
I'm not that clear on the repo model of the project overall, but does it make really sense to be including the BUILD files from the repo in the mirror at all? This is blocking us from being able to update to kube 1.8 because we can't update the client-go fr some of our services, which we build using bazel ourselves..

[2017-10-12 20:21] timothysc commented on #49236
Conversed with @yujuhong today and I'll get moving on it tomorrow.

[2017-10-12 20:22] deads2k opened #53826 "ExternalAdmissionHookConfiguration cannot choose URL"
The webhook admission plugin can only post to `/`.  This needs to be a configurable option so that we could host in a normal API server and possibly combine multiple admission webhooks together.

@kubernetes/sig-api-machinery-bugs

[2017-10-12 20:24] deads2k opened #53827 "GenericAdmissionWebhook cannot use tokens"
Most generic API servers do not have a client certificate they can use for authentication.  They will all have SA tokens though.  The admission webhooks are checked by CAs and they are already highly privileged.  We should allow tokens like we do for other webhooks.

@kubernetes/sig-api-machinery-bugs

[2017-10-12 20:26] deads2k opened #53828 "ClientCert used for GenericAdmissionWebhook is incorrect"
The ClientCert used to identify the apiserver to the admission webhook should match the CA used to terminate client cert authentication, not the one used to terminate front proxies.  The current flags being used are incorrect.

@kubernetes/sig-api-machinery-bugs

[2017-10-12 20:26] deads2k commented on #49038
https://github.com/kubernetes/kubernetes/pull/53823, https://github.com/kubernetes/kubernetes/issues/53825, https://github.com/kubernetes/kubernetes/issues/53826, https://github.com/kubernetes/kubernetes/issues/53827,  and https://github.com/kubernetes/kubernetes/issues/53828 are issues for beta

[2017-10-12 20:27] colemickens opened #53829 "Getting CRD Validation to Beta"
This is a tracking issue for discussion about what needs to be done in order to move CRD Validation to Beta for 1.9.

Related links:
* [CRD Umbrella Issue (feature repo)](https://github.com/kubernetes/features/issues/95)
* [CRD Validation feature request](https://github.com/kubernetes/kubernetes/issues/38117)
* [CRD Validation Proposal (community repo)](https://github.com/kubernetes/community/pull

[2017-10-12 20:28] yujuhong commented on #52641
@mYmNeo the code has changed quite a lot from 1.4 to 1.8. I'd suggest upgrading to a newer version first to see if the problem persists.

[2017-10-12 20:28] colemickens commented on #53829
/sig api-machinery

[2017-10-12 20:31] diegs commented on #50975
I've had pretty good success with just deleting all the BUILD{.bazel} files and regenerating them using gazelle. We're using a `vendor/` directory though (vendor = external for gazelle), not sure if it would work if you're using external deps in your WORKSPACE file.

[2017-10-12 20:36] jingxu97 commented on #48968
status/approved-for-milestone

[2017-10-12 20:46] innergy opened #53832 "kubeadm init specifying a version may result in a kubelet version mismatch"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We use kubeadm init's --kubernetes-version option to install specific versions of Kubernetes for testing purposes. Prior to running kubeadm, you have to install it. The kubeadm instructions ask you to install not just kubeadm but also kubectl and kubelet from the appropriate repo:

https://kubernetes.io/docs/setup/independ

[2017-10-12 20:46] jingxu97 commented on #48968
@tadas-subonis Could you give more details about your failure? Is this Recreate or RollingUpdate strategy?

[2017-10-12 20:46] jiayingz commented on #53616
/cc @bsalamat @timothysc

[2017-10-12 20:51] innergy commented on #53832
/sig cluster-lifecycle

[2017-10-12 20:52] #53698 closed

[2017-10-12 20:56] colemickens commented on #40913
cc: @jdumars

[2017-10-12 20:57] jiayingz commented on #53616
A quick summary from today's sig-scheduling discussion. We feel we will need more discussions on how to better support cluster-level extended resources in longer term. It is ok to leave the 1.8 behavior as is given that there is no official way to support cluster-level extended resources in Kubernets as of now.

[2017-10-12 20:59] jamiehannaford commented on #53804
Hmm, okay. Why is that? Also, is there a formalised policy on what can/should be cherry-picked? Having granular taints would make self-hosting work a lot better in kubeadm (which is one of our key milestones for v1.9), so it'd be great if we don't have to wait until the end of the dev cycle.

Related issues: https://github.com/kubernetes/kubernetes/issues/45717 and https://github.com/kubernetes/ku

[2017-10-12 21:01] F21 commented on #53315
In my case, I want to use kubeadm and have it manage/generate the certificates for me. I believe kubeadm provisions 1 CA and uses this to issue certificates for the components. It would simplify administration if there is an option to mount this into pods, so that I can trust certificates issued from this CA using the `certificates.k8s.io/v1beta1` api.

[2017-10-12 21:15] liggitt commented on #53804
Let me qualify that slightly.  Changes in a release branch are always about balancing risk against benefit.  If a cherry pick only benefits an alpha feature, but carries any risk to supported features (like refactoring the scheduler start up flow), I don't think that is a good trade. If a cherry pick has significant benefits to an alpha feature, and is small and completely isolated, that seems mor

[2017-10-12 21:19] vielmetti commented on #53333
`systemctl restart kubelet` was enough to get my installation working better.

[2017-10-12 21:22] caesarxuchao commented on #53808
Having second thought on whether we should maintain two lines of tags in client-go: the kubernetes-v1.x.y and the semver v5.u.v at the same time. It is confusing for users.

Instead of that, we can let the robot output the mapping of tags into a file, and a human can manually create the semver (v5.u.v) tags on client-go. And update the table in README to reflect the latest mapping. cc @cheftako

[2017-10-12 21:34] caesarxuchao commented on #53825
Are you referring to the user apiservers, or are there additional consumers?

If it's UAS, is moving ServiceResolver code to the generic apiserver enough to close this issue?

[2017-10-12 21:37] caesarxuchao commented on #53826
I will put this into consideration together with other API refactoring.

[2017-10-12 21:41] caesarxuchao commented on #53827
/assign @cheftako

[2017-10-12 21:50] zelentsovl commented on #39980
I have the same problem. Command kubectl exec gives "Error from server: error dialing backend: dial tcp: lookup kubeworker on x.x.x.x:53: server misbehaving". I've tried to add search domain.com, cluster.local to the network manager config, y.y.y.y kubeworker - to /etc/hosts on all nodes. No success.

[2017-10-12 21:53] #46643 closed

[2017-10-12 22:05] charandas commented on #30073
Assuming you have modified kubelet to use a custom `resolv.conf` using `--resolv-conf=/path/to/resolv.conf`: you have to remember to use `hostNetwork` in my experience for it to actually work:

[code]

Using an empty `--resolv-conf=` with kubelet did not inherit my node's resolv.conf, I saw this instead in the test container:

[code]

[2017-10-12 22:11] zelentsovl commented on #39980
I've solved the problem! Some details: it's appeared after the cluster was been expanded with 2 new workers. For some reasons Kubernetes could not find them in DNS. The problem has been resolved jyst rebooting kubemaster nodes.

[2017-10-12 22:13] caesarxuchao commented on #53828
What do you think the roles of these two CAs are?

I think the proxy CA is to ensure the security of the control plane, and webhooks are part of the control plane, so using the proxy CA is better.

[2017-10-12 22:18] yastij commented on #53812
@gmarek @bsalamat @k82cn - Also needs to be added to 1.9 milestone

[2017-10-12 22:26] julianvmodesto commented on #42164
Rebooting the Node or the docker service don't help in my case.

Is there a way to prevent NodeControllerEviction in the case that the Node and Pod become Unknown?

[code]

[2017-10-12 22:34] frodenas commented on #52872
@wackxu Sorry, I thought you were talking about the unit tests, didn't see the integration tests problem. I've submitted #53834 to fix this and ran the integration tests to check that creating multiple controllers don't fail anymore.

[2017-10-12 22:58] fejta-bot opened #53835 "Failure cluster [679a79...] failed 193 builds, 17 jobs, and 1 tests over 1 days"
### Failure cluster [679a79064b46aae4d4b3](https://go.k8s.io/triage#679a79064b46aae4d4b3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    17 jobs failed,    193 builds failed.
Failure stats cover 1 day time range '11 Oct 2017 21:44 UTC' to '12 Oct 2017 21:44 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Network

[2017-10-12 22:58] fejta-bot opened #53836 "Failure cluster [53cdee...] failed 147 builds, 14 jobs, and 1 tests over 1 days"
### Failure cluster [53cdeea7fa10ed3a866c](https://go.k8s.io/triage#53cdeea7fa10ed3a866c)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    14 jobs failed,    147 builds failed.
Failure stats cover 1 day time range '11 Oct 2017 21:44 UTC' to '12 Oct 2017 21:44 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Network

[2017-10-12 22:58] fejta-bot opened #53837 "Failure cluster [c9235b...] failed 96 builds, 7 jobs, and 1 tests over 1 days"
### Failure cluster [c9235baf96a3c373f7d9](https://go.k8s.io/triage#c9235baf96a3c373f7d9)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    7 jobs failed,    96 builds failed.
Failure stats cover 1 day time range '11 Oct 2017 21:44 UTC' to '12 Oct 2017 21:44 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 7 |

##### Top f

[2017-10-12 22:58] fejta-bot opened #53838 "Failure cluster [be5641...] failed 92 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [be564117ff6cef692eb0](https://go.k8s.io/triage#be564117ff6cef692eb0)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    92 builds failed.
Failure stats cover 1 day time range '11 Oct 2017 21:44 UTC' to '12 Oct 2017 21:44 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 2 |

##### Top f

[2017-10-12 22:58] nikox94 commented on #35637
Hey, if nobody can start on the issue, I would like to take it. Seems pretty interesting...

[2017-10-12 23:05] janetkuo commented on #52123
cc @kubernetes/sig-multicluster-feature-requests

@kubernetes/sig-contributor-experience-bugs: @k8s-ci-robot keeps adding `kind/bug` while @k8s-merge-robot asks for only one of the kind items to be specified.

[2017-10-12 23:09] Calpicow commented on #50451
I think this would be a useful feature to have. What implications come to mind for this?

[2017-10-12 23:10] quinton-hoole commented on #35637
Sure, that would be great @nikox94 .  Welcome aboard!

[2017-10-12 23:48] bladerunner512 opened #53844 "kubeadm join fails w/kubelet error: failed to "StartContainer" for "kubedns""
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug
/sig cluster-lifecycle
/area kubeadm

**What happened**:
Used kubeadm init to initialize master, then used kubeadm to join slave. Master never sees adds slave node and slave kubelet has 'failed to "StartContainer" for "kubedns"' error

**What you expected to happen**:
Slave node should join cluster

**How to reproduce it (as minimally and pr

[2017-10-13 00:00] warent opened #53846 "Kubernetes Ingress load balancer rewrites everything to index"
**TL;DR** for some reason every http service seems to have the path rewritten as `/`

I'm pretty new to Kubernetes and trying to set up an ingress load balancer.

    Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-14T06:55:55Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwi

[2017-10-13 00:07] caesarxuchao commented on #53808
Using the test script provided by sttts, I verified that the tips of the those branches were working, though for the code-generator repo, the tips are ahead of the commits listed in the "push script" by one day.

Other than the client-go tag issues, this is good to go.

[2017-10-13 00:23] divyenpatel opened #53847 "test can not create statefulset using statefulset_utils.go when apiversion is set to apps/v1beta2"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Test Panicked when statefulset is created using `apiVersion: apps/v1beta2`
Test is using kubernetes/test/e2e/framework/statefulset_utils.go
Same test with `apiVersion: apps/v1beta1`, works fine.

[code]

[code]

**What you expected to happen**:
statefulset_utils.go should support creating statefulset with API version `apps

[2017-10-13 00:27] divyenpatel commented on #53847
/sig testing

[2017-10-13 00:42] bradtopol commented on #53822
@cblecker THANKS! Now I know :-)

[2017-10-13 01:03] dixudx opened #53849 "valid strings for field validation should be quoted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Some of the declared const vars are empty string `""`, such as

* [`NamespaceAll`, `NamespaceNone`](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L197-L200)
* [`HostPathUnset`](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L631)

When validating such supported fields, empty string will be prin

[2017-10-13 01:08] #53396 closed

[2017-10-13 01:15] dixudx commented on #53847
@divyenpatel @janetkuo This is related to PR#51118, where e2e statefulset tests get updated.

[2017-10-13 01:20] innergy commented on #53832
/area kubeadm

[2017-10-13 01:22] #53729 closed

[2017-10-13 01:27] m1093782566 opened #53852 "Should validate ipvs proxy options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Some kube-proxy options are not validated.

**What you expected to happen**:

We should validate these options before running.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwar

[2017-10-13 01:36] multimac opened #53853 "Kubeadm times out before kubelet has finished downloading"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`kubeadm init` timed out before kubelet finished downloading and initializing.

**What you expected to happen**:
`kubeadm init` would wait for the kubelet to completely initialize (or fail) before exiting

**How to reproduce it (as minimally and precisely as possible)**:
(A prerequisite is probably a bad (or manually restr

[2017-10-13 01:40] resouer commented on #53497
@ConnorDoyle Yes, I will DM you with some draft.

[2017-10-13 01:44] zhouhaibing089 opened #53854 "Support image pulling from a tarball"
There are cases like:

1. deploy a registry into k8s, without registry running, we should have some seed images and that can only be tarball.
2. resilient to registry failure. when there is outage of registry, we can have a fallback way to proceed with deployment.

And I just checked the code, I believe there won't be too much code change to support this. If folks thinks it is a nice feature, I ca

[2017-10-13 01:57] wackxu commented on #53817
I would help fix it

[2017-10-13 02:05] multimac commented on #53853
Scratch that, I just wasn't waiting long enough for the `kubelet` service to stand up... Sorry guys

[2017-10-13 02:05] #53853 closed

[2017-10-13 02:27] #49217 closed

[2017-10-13 02:29] gyliu513 opened #53859 "Make `InitializerConfiguration` per namespace level"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
This is a issue from istio https://github.com/istio/istio.github.io/issues/660

The current `InitializerConfiguration` is cluster level and all of the affected resources (deployment etc) will be adding the `pending initializers`, but if the initializers are down or the initializer does not clear the `pending initializ

[2017-10-13 02:30] dixudx commented on #53832
@innergy `Kubelets` (1.8.1) newer than the `apiserver`(1.7.8) are not well supported currently.

@luxas @liggitt To avoid this, shall we let `kubeadm` take control of `kubelet`, just like other components`kube-apiserver` and etc, to keep them in the same version. If so, I think `kubelet` can run in containerized mode, which will greatly simplify the version control. WDYT?

[2017-10-13 02:58] dixudx commented on #53859
@gyliu513 Well, I don't think making the `InitializerConfiguration` namespaced is a good idea. If so, we need to start multiple initializers per namespace, right? It is such a burden.

Also why not directly making your own initializer watching certain namespace, such as the namespace where the `InitializerConfiguration` is. This will be much simpler instead of changing Kubernetes.

Just as @ayj me

[2017-10-13 03:06] gyliu513 commented on #53859
@dixudx I think it is the API server who added the `pending initalizers` to the kubernetes resources, so I was hoping that we can probably add a flag in `InitializerConfiguration`, such as

[code]

If namespace is configured, then `InitializerConfiguration` will be namespace level; if not configured, will still be global level. This can make the configuration more flexible.

[2017-10-13 03:06] gyliu513 commented on #53859
@dixudx I think it is the API server who added the `pending initalizers` to the kubernetes resources, so I was hoping that we can probably add a flag in `InitializerConfiguration`, such as

[code]

If namespace is configured, then `InitializerConfiguration` will be namespace level; if not configured, will still be global level. This can make the configuration more flexible.

[2017-10-13 03:07] gyliu513 commented on #53859
Of course I can update the initializer to handle such logic first, but I do hope that the initializer should be enhanced to support this as well.

[2017-10-13 03:23] dixudx commented on #53859
Since `InitializerConfiguration` does not contain any sensitive information and also we may not want anyone to alter it after applying, e.g.  we want to enforce image pulling by adding related initializer controller. It will be redundant to make them namespaced.

@gyliu513 Right. This will be better.

@ahmetb @caesarxuchao I am thinking whether we could add a new field like `Namespaces: []string`

[2017-10-13 03:25] #53849 closed

[2017-10-13 03:34] lichuqiang commented on #53672
@derekwaynecarr Regarding to the ResourceQuota issue, all I could think is to add support for resource HugePages in podEvaluator of quota, so that it could be aware of the hugepage declared in resourceQuota, and that requested in podSpec.
It is thought to be a small change, The only thing that needs attention is the way to address resource HugePages, as it's name is not fixed, like CPU or memory,

[2017-10-13 03:57] #37566 closed

[2017-10-13 04:26] shun-miyoshi-com opened #53867 "kubeadm: unable to set experimental-encryption-provider-config flag to api-server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I want to set up kubernetes cluster by kubeadm with encrypted etcd(https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/).
So, I use following config file, and I ran the following command,
[code]

kubeadm-conf.yaml
[code]

/etc/kubernetes/enc-conf.yaml
[code]

But, kube-apiserver didn't run.
\* I can setup kub

[2017-10-13 04:27] deads2k commented on #53828
The proxy CA is used to terminate a front proxy which is asserting an identity. The client CA is used to terminate a connection which is directly identifying a client.  This is a case of the latter: "this is who I am".  This is not a case of "the subject connecting is user Foo".

I would accept using a completely different CA if you wish, but the proxy CA is inappropriate.

[2017-10-13 04:29] deads2k commented on #53825
It's not even just UAS's.  The vast majority of `kube-apiserver` installations and the other webhook APIs use DNS and IP routing.  To my knowledge, only GKE uses the ssh tunnel.

[2017-10-13 04:51] ahmetb commented on #53859
This is a duplicate of #51290.

- I see that in Istio case we're looking at opt-in Namespaces for initialization. **I'm curious if opt-out should also be possible** (i.e. I don't want any initialization in kube-system or kube-addons namespaces). What do you think?

- I'm not sure if `[]string` of Namespace names is a pattern currently discouraged by the API. A pattern in use for selecting namespac

[2017-10-13 05:06] resouer commented on #49964
Thanks Connor for redirecting!

We would like to propose some ideas (see the doc below) about GPU topology (once discussed with @RenaudWasTaken, here is more details). This came from real use cases.

https://docs.google.com/document/d/1NprGyCflZOC3Dkb1ndinvmXaawqOmlBCt_ktlXk22yE/edit#

As a summary, the use case includes:
1. How can we represent topology information in Pod spec and scheduler?
2. H

[2017-10-13 06:20] sttts commented on #53808
I see the `kubernetes-*` tags as quite the opposite: they document our semver tags. Moreover, we won't turn the former into releases. So the semver tags will show up very prominently in Github.

[2017-10-13 06:22] warent commented on #53846
This wasn't a bug, just my lack of experience :)

If anyone sees this and is wondering, please refer to here for the answer: https://stackoverflow.com/questions/46720563/kubernetes-ingress-load-balancer-rewrites-everything-to-index-why

[2017-10-13 06:22] #53846 closed

[2017-10-13 06:50] wackxu commented on #52872
@frodenas actually in some cases the unit tests is also failed such as endpoint controller、replicaset controller. because different set up before test. So we should take a action to resolve it.

[2017-10-13 07:39] acloudiator commented on #53333
Had the same issue; worked for me after disabling the swap completely.

1. turned off the swap (swapoff -a)
2. kubeadm reset
3. kubeadm init (success!!)

[2017-10-13 07:45] dixudx commented on #50618
Got fixed in #50602. Closed.

[2017-10-13 07:45] #50618 closed

[2017-10-13 08:21] sttts commented on #53829
Seeing these feature, but they are not necessarily blocking for beta:
- defaulting https://github.com/kubernetes/kubernetes/pull/52034
- readonly fields
- JSON schema references to other APIGroups, e.g. embedding a PodSpec schema.

As far as I see, all of these can be added post-beta. Right now we forbid setting default values and marking fields as readonly. So nobody using validation now (or with

[2017-10-13 08:22] runcom commented on #47943
This should be https://github.com/google/cadvisor/pull/1770

[2017-10-13 08:38] dixudx commented on #53859
Well, to some extent, this could help solve the problem. But only these selected `kube*` namespaces. What if we expand the scope and do not want to apply initializers to other selected namespaces, not just `kube*` namespaces. When running a multi-tenant cluster, it'd be useful to apply some policies in just certain namespaces.

I think we'd better to provider a more general way to incorporate this

[2017-10-13 08:57] Dev1969 opened #53881 "Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it. Windows 10"
Hello Experts,

I want to learn Kubernetes and installed it on my laptop that is running Windows 10.

Installed:
minikube using minikube-installer
python-3.6.3
Git-2.14.2.2-64-bit
VirtualBox-5.1.28-117968-Win
kubectl

Install went fine. In the firewall Exception list, I have put minikube and kubectl.

I am getting below error

kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitV

[2017-10-13 09:03] loadwiki opened #53882 "Create 2 crd with the same crdgroup, fail to watch one crd with error "404 not found"."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Create 2  crds(custom resource definition) with  the same crd group, different name, kind.
Failed to watch one kind of crd with http error status "404 not found"
**What you expected to happen**:
In k8s 1.7.3 environment,  the watch request to both crds successed.
In k8s 1.7.4 environment,  one of the watch requests failed with 404 n

[2017-10-13 09:15] crassirostris commented on #53837
/sig instrumentation

Looking into ES failures

[2017-10-13 09:31] dkirrane commented on #53356
After installing 1.8.1 kubelet won't start:
[code]

[2017-10-13 09:33] DrewEaster opened #53883 "Init container not updating when applying new configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I've discovered what appears to be an issue with updating a pod/deployment specification's init containers. This issue does not exist when using the legacy approach for defining init containers (using the `pod.beta.kubernetes.io/init-containers` metadata annotation), but does appear when using the latest approach (`initC

[2017-10-13 09:42] dixudx commented on #53867
I am working on it.

[2017-10-13 09:51] zBurrito commented on #42306
@jenciso
What do you mean with k8s IP service?
It currently works with a nodeport but i'm looking for a better solution

[2017-10-13 10:11] Kenblair1226 opened #53886 "Websocket doesn't seem working in GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Running a socket.io app with GKE. Configured with ingress/service/deployment/...etc. When only have one pod in the cluster all works well. But when increasing pod to more than one, browser console starts to print errors like below:

Sometimes with refreshing my website for several times, the complaint gone and everything b

[2017-10-13 10:15] lastonoga opened #53887 "Docker high inode usage"
/kind bug

**What happened**:

Docker inode usage is very high. All mount points are never unmount (like after deploy)

**How to reproduce it (as minimally and precisely as possible)**:

I have set cluster up and just used gitlab ci to deploy application.

**Anything else we need to know?**:

df -i looks like

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]
- Cloud p

[2017-10-13 10:15] Kenblair1226 commented on #53886
/sig network

[2017-10-13 10:18] lastonoga commented on #53887
/sig node

[2017-10-13 10:33] stychu commented on #34395
I have the same error as @mikesparr  with codeship and kubernetes cluster deploy.
dont know how to solve this.

`ERROR: (gcloud.container.clusters.get-credentials) ResponseError: code=403, message=Required "container.clusters.get" permission for "projects/.......".`

[2017-10-13 10:37] frodenas commented on #52858
@ericuldall Those labels came from the [Prometheus Kubernetes Service Discovery](https://prometheus.io/docs/operating/configuration/#<kubernetes_sd_config>) and added to the metrics using [relabelling](https://prometheus.io/docs/operating/configuration/#<relabel_config>) via a `labelmap` action. Have you tried opening an issue at the [prometheus github repo](https://github.com/prometheus/prometheu

[2017-10-13 10:38] dims commented on #53570
Looks like https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/ is back on its feet after  #53749 got merged !

[2017-10-13 10:40] shyamjvs opened #53888 "Rand utility should use per-component source instead of a global source"
Offshoot from https://github.com/kubernetes/kubernetes/pull/53720#issuecomment-336232742

Using a single global source is bad, as multiple goroutines can be in lock contention for the RNG (though ideally they could've used different sources).
Also a single RNG source can bottleneck throughput in such cases.
It's also worth thinking how much this is going to help? Maybe it's not that bad currently

[2017-10-13 11:16] wojtek-t commented on #53888
It's not necessary "per-component". It should be "per some-unit for which it make sense for a given usecase". It may be component in one case, but just a single class in another one.

[2017-10-13 11:30] 2knarf commented on #42158
Same here.

[2017-10-13 11:36] dkirrane opened #53889 "kubelet won't start - /etc/kubernetes/pki/ca.crt: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:
Performed a clean install on `CentOS Linux release 7.4.1708` and started kubelet
[code]

[code]

**What you expected to happen**:
kubelet starts successfully

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes vers

[2017-10-13 12:09] #53485 closed

[2017-10-13 13:12] antoineco opened #53893 "client-gen tag shortcomings when newline is omitted"
`client-gen` does not generate the content of `typed/<group>/<version>/<group>_client.go` / `typed/<group>/<version>/generated_expansion.go` when there is no new line between the `// +genclient` tag and the next struct.

**How to reproduce:**

*works*

[code]

*fails*

[code]

**See also:**

https://kubernetes.slack.com/archives/C0EG7JC6T/p1507887214000200

/kind bug
/sig api-machinery

[2017-10-13 13:19] antoineco commented on #53893
Full diff of what happened after I added the new line:
[code]

[2017-10-13 13:22] sttts commented on #53893
Other tags **must not** have newlines https://github.com/kubernetes/kubernetes/pull/53579. We should remove this distinction.

[2017-10-13 13:24] dkirrane commented on #53889
Hi,

My problem was the version of Docker on the OS. It was using the latest from:
[code]

I uninstalled and instead ran:
[code]

And then `kubeadm init` worked `kubelet` was started successfully

Maybe the documentation could be improved. I cannot see the required version of Docker mentioned in the docs https://kubernetes.io/docs/setup/independent/install-kubeadm/
Or maybe document what changes a

[2017-10-13 13:26] shyamjvs commented on #53255
Can we reach a reasonable consensus on this issue soon? It is affecting our release process/quality.

@wojtek-t - fyi

[2017-10-13 13:35] floreks commented on #53382
Some debug info: https://github.com/kubernetes/dashboard/pull/2468#issuecomment-336451433
Seems that after `kubectl delete` files got missing.

[2017-10-13 13:50] gekart opened #53894 "Self-Hosted E2E Conformance Tests Fail kubectl Executions"
/kind feature

I am running self-hosted E2E conformance tests in a pod on every freshly deployed cluster (similar as in https://github.com/ozdanborne/k8s-e2e-containerized). e2e.test is started without any host, kubeconfig configuration and picks up the InClusterConfig correctly. All conformance tests pass nicely, except from kubectl executions.

kubectl gets executed by e2e.test as `kubectl --ser

[2017-10-13 13:51] dims commented on #53570
Looks like we are done here!

[2017-10-13 13:51] #53570 closed

[2017-10-13 13:51] gekart commented on #53894
/sig Testing

[2017-10-13 13:58] resouer commented on #42158
@2knarf This should be fixed in https://github.com/kubernetes/kubernetes/pull/43152 which is included in 1.7

Are you using the latest Kubernetes release?

[2017-10-13 14:08] dixudx commented on #53867
@shun-miyoshi-com There is no `--kubeconfig` flag for `kubeadm init`, should be `--config`, right?

After investigating the code, it works ok for `apiServerExtraArgs: experimental-encryption-provider-config`. Please check your `/etc/kubernetes/manifests/kube-apiserver.yaml`.

Seems you've misconfigured other flags that cause the `apiserver` failed to start up.

[2017-10-13 14:20] cblecker commented on #53570
Awesome! Thanks for your work on this @dims!

[2017-10-13 14:21] erkolson commented on #50648
It appears that this it worked for this user on k8s 1.6.4, provided the underlying host vm supported XFS mounts: http://pauldone.blogspot.com/2017/06/mongodb-kubernetes-production-settings.html

[2017-10-13 14:30] leblancd commented on #47666
The Kubernetes sig/network IPv6 work group has put together an [IPv6 Test Suite](https://github.com/leblancd/kube-v6-test) that's a start of a test plan for what we intend to (eventually) test as an upstream gating test. At some point, we're hoping to be running this set of test cases on a virtualized, multi-node, IPv6 cluster that's instantiated using [kubeadm-dind-cluster](https://github.com/Mir

[2017-10-13 14:46] timothysc commented on #53894
This is known, and there is a means to circumvent by passing in a kubeconfig.

I've had a todo to fix this for a while, but I'll prioritize to get this fixed sooner.

fyi - @chuckha

[2017-10-13 15:02] smarterclayton commented on #53888
I think we should remove this entire utility package.  The original reason
we created it was to avoid lots of contention on the global rand lock....
which we then started contending on the global package lock.  The correct
solution is probably to pool the Rng or to shard.

On Fri, Oct 13, 2017 at 7:16 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2017-10-13 15:37] marun commented on #52123
@janetkuo I'll get to the bottom of the `kind/bug` addition.

Note that `milestone/` prefixed labels are only intended to be added or removed by the milestone maintaining munger.

[2017-10-13 15:54] liggitt commented on #53889
https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-docker has specific docker install instructions and version recommendations:

[2017-10-13 15:55] #53889 closed

[2017-10-13 15:57] liggitt commented on #53883
Prior to 1.8, if you make changes to an init container, you must update both the annotation and the field

see https://github.com/kubernetes/kubernetes/issues/47264#issuecomment-327541429

[2017-10-13 15:57] #53883 closed

[2017-10-13 15:58] jeffvance commented on #52676
ping @jingxu97 ^^

[2017-10-13 16:10] ahmetb commented on #53859
@dixudx I was just curious whether []string is a worse idea than NamespaceSelector or not, from an API design perspective.

I think almost no one labels their namespaces currently (or at least I've not seen in anywhere). That's why I don't find NetworkPolicy's design in this case particularly useful (i.e. I have to label existing namespaces like `default` to apply cross-NS policies with it.)

What

[2017-10-13 16:12] timothysc commented on #53465
Sorry this was my bad.

We changed it before b/c the scheduler was pathological and used to emit hundreds of events.  This was a binning change, but I can see how it can be confusing.

Closing per #52515 fix.

[2017-10-13 16:12] #53465 closed

[2017-10-13 16:16] zetaab commented on #53059
I have seen this same on openstack, it takes quite many minutes to get it working. I have kube 1.8

[2017-10-13 16:20] deads2k commented on #53825
Moving the `ServiceResolver` into the genericapiserver is inappropriate since only the `kube-apiserver` can actually resolve services.

[2017-10-13 16:23] deads2k commented on #53826
This is required to match parity with other webhooks like ImagePolicy, authentication, and authorization.  It's also essential for making it easy to build an admission webhook server out of our genericapiserver, which is really handy for handling the object decoding required for writing the actual hook itself.

[2017-10-13 16:35] luxas commented on #53570
Thank you for haunting down that proxy regression @dims, awesome!

[2017-10-13 16:47] liggitt commented on #53882
cannot recreate on 1.7.4 or on master

crd.yaml:
[code]

resource.yaml:
[code]

[code]

[2017-10-13 16:47] eisig commented on #49792
+1
We plan to migrate our service to k8s.We use zookeeper as service discovry allrady, so  we can  not use k8s service. We can not migrate all our service to k8s at one time, the serivce must be accessible  outsible the k8s cluster.
The  nodeIP:hostPor may be the only choice.

[2017-10-13 16:51] ericuldall commented on #52858
Yes. I posted the reference to an issue they closed at the bottom of my initial comment.

[2017-10-13 16:55] krzyzacy commented on #53255
hummm cc @cjwagner tide can block merge upon a certain issue right? If that's the case we just need to wait for enabling tide on the main repo. We can try on test-infra.

[2017-10-13 16:57] frodenas commented on #52858
That issue was for the [node_exporter github repo](https://github.com/prometheus/node_exporter). I believe the [prometheus github repo](https://github.com/prometheus/prometheus) has different maintainers.

[2017-10-13 17:00] ericuldall commented on #52858
I'll certainly open an issue there and see if they have more insight.

[2017-10-13 17:06] shyamjvs commented on #53327
Fyi - we're also seeing the same problem with slow scheduling in our real cluster tests (as expected) and the difference is beautifully similar to kubemark:

[code]

The fix I sent (#53720 ) is merged - waiting to see the result on 5k.

[2017-10-13 17:27] dims commented on #53894
@timothysc can you please leave some notes on how you wanted to fix this? i can take a shot at it

[2017-10-13 17:39] caesarxuchao commented on #53808
@eparis I think it's good to go!

[2017-10-13 17:43] derekwaynecarr opened #53900 "FailedSync event from kubelet provides no value"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The FailedSync sync event provides no value at this point.

We should create more specific events at this time.  Event spam protection has merged to mitigate the risk of more detailed events.

**What you expected to happen**:
Events should provide more value.

**How to reproduce it (as minimally and precisely as possible)*

[2017-10-13 17:43] derekwaynecarr commented on #53900
/sig node

[2017-10-13 17:49] dashpole commented on #42676
Making this functional is now blocked by #51745

[2017-10-13 17:50] #37118 closed

[2017-10-13 17:50] cjwagner commented on #53255
@krzyzacy I don't think that functionality has been implemented yet.

[2017-10-13 17:54] dashpole opened #53902 "Negative Eviction signals are confusing"
Forked from https://github.com/kubernetes/kubernetes/issues/52336#issuecomment-335638221

We should change the allocatable eviction signals to be like other eviction signals.
Instead of evaluating `allocatable - sum(pod_usage) > 0`, we should compare:
`capacity - reserved - sum(pod_usage) > hard_eviction_threshold`.

These are effectively the same, since `allocatable = capacity - reserved - hard_e

[2017-10-13 17:55] deads2k commented on #53825
/priority important-soon

Needed for beta since the API hurts all but one deployment of one component.

[2017-10-13 17:55] dashpole commented on #53902
@kubernetes/sig-node-bugs

[2017-10-13 17:56] deads2k commented on #53826
/priority important-soon

Needed for beta to make it possible to write a reasonable webhook target.

[2017-10-13 17:56] eparis commented on #53808
https://gist.github.com/anonymous/34a32396daf6616d33e0cbbe5637c647
Failed.

[code]

[2017-10-13 17:57] deads2k commented on #53827
/priority important-soon

Needed for beta to make it possible wire to UASs and to achieve parity with other webhooks.

[2017-10-13 17:57] luxas commented on #53832
Please move this issue to the kubeadm issue tracker.
Thanks!

[2017-10-13 17:57] #53832 closed

[2017-10-13 17:57] deads2k commented on #53828
/priority important-soon

Needed for beta (even for alpha), because the current trust relationship is incorrect.

[2017-10-13 17:57] luxas commented on #50635
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-10-13 18:20] pranshuverma opened #53905 "Kubernetes Cassandra Statefulsets restarting without posting any error"
/kind bug
/sig cluster-lifecycle
/sig apps
/area example

**What happened**:
As per https://kubernetes.io/docs/tutorials/stateful-application/cassandra/ document the cassandra statefulsets cluster restarts containers without showing any error. The only difference is using a different namespace.

**What you expected to happen**:
The cluster should launch or should through some error.

**How to repr

[2017-10-13 18:25] boeboe opened #53906 "cannot apply networking.k8s.io/v1 - updates to networkpolicy spec are forbidden"
Hi all,

/sig area/kubectl
/sig sig/network
@kubernetes/sig-network-bugs

We made the upstep from k8s 1.6 to 1.7.8 on our k8s clusters. As good k8s citizens, we have updated our NetworkPolicy yaml deployment files to use the new **networking.k8s.io/v1** apiVersion. It appears however that a retrieval of NetworkPolicies deployed this way, still use the **extensions/v1beta1** apiVersion. I suppose t

[2017-10-13 18:26] d-shi commented on #50648
@erkolson that blog post is using the GCE-PD storage class, this issue is regarding the AWS-EBS storage class.

We have just upgraded to k8s 1.8... I will give this a try when I have can.

[2017-10-13 18:31] hswope commented on #39849
I am having a similar problem on AWS. I define service with type NodePort, but see no external endpoints created. If I define it with type LoadBalancer, external end points are created which pointed toward a newly created LoadBalancer. This makes it very difficult to set up DNS. I tried a similar setup on minikube and everything was created as expected. Thoughts? How do I get a service with type=N

[2017-10-13 18:38] erkolson commented on #50648
I'm very curious to see how it turns out.  Have you found the documentation for the different parameters that are supported in the StorageClass?
This seems out of date: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#parameters

[2017-10-13 18:46] sttts commented on #53808
We have PRs manually merged into the published repos after I did my fork (sample-apiserver, kube-aggregator, apimachinery, metrics). Will regenerate the master branch and post the update when it's ready.

In general, I wonder whether we should move all files back into the staging/ directories to avoid those situations. Of course, this increases the latency to get changes in. It's easier to click o

[2017-10-13 18:49] bsalamat opened #53908 "Add "WhyPending" annotation to unschedulable pods"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

Scheduler should attach an annotation with "WhyPending" key and a JSON formatted value to unschedulable pods. This annotation will help users and possibly external tools to know why the pod was unschedulable. Scheduler [generates such a message](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/core/generic_sche

[2017-10-13 19:04] boeboe commented on #53906
/sig area/kubectl
/sig sig/network

[2017-10-13 19:06] boeboe commented on #53906
@kubernetes/sig-network-bugs

[2017-10-13 19:14] innergy commented on #53832
@luxas @dixudx https://github.com/kubernetes/kubeadm/issues/496

[2017-10-13 19:37] mml commented on #53810
I'm doing the same thing.  See my half-baked PR at #53909

[2017-10-13 19:40] nicksardo commented on #53886
/area platform/gce

[2017-10-13 19:43] caesarxuchao commented on #53808
If the robot is running, the only danger is if the manual merge happens at the same time as a sync.

[2017-10-13 19:43] nicksardo commented on #53886
It's your socket.io app which is responding 501. Have you looked at your application logs to find out what causes the 501?

[2017-10-13 19:44] #51550 closed

[2017-10-13 19:44] #53900 closed

[2017-10-13 19:47] nicksardo commented on #52980
`kubectl describe ...` the service to see the events. It could be ^, but that only occurs with specific auth settings.

[2017-10-13 19:53] mattmoyer commented on #53004
Known issue for 1.8.0-1.8.1 (issue: https://github.com/kubernetes/kubeadm/issues/485, cherry picked fix for release-1.8: https://github.com/kubernetes/kubernetes/pull/53660):

[2017-10-13 20:00] naisanza commented on #53563
@liggitt the same process with worked back in February. But here are the logs for Master and Node; and the Node joins to the Master successfully as well

Master:
[code]

Node:
[code]

[2017-10-13 20:08] liggitt commented on #53563
it doesn't, `kubeadm init` creates a kubeconfig file you can copy to `~/.kube/config` that speaks to the API server:

[2017-10-13 20:20] naisanza commented on #53563
@liggitt that was it

I think it would help if it was part of the main steps in the documentation instead of in troubleshooting?

[2017-10-13 20:26] eko commented on #48798
Hello,

For information, I had this issue: Kubernetes introduces RBAC since v1.6, we need to create correspond Service Account, RBAC rules and flannel daemonset so that kubelet can communicate with api server correctly.

You have to run:

[code]

I hope it helps.

[2017-10-13 20:27] eko commented on #43567
Hello,

For information, I had this issue: Kubernetes introduces RBAC since v1.6, we need to create correspond Service Account, RBAC rules and flannel daemonset so that kubelet can communicate with api server correctly.

You have to run:

[code]

I hope it helps.

[2017-10-13 20:30] sttts commented on #53808
And it's not really a danger actually as is self-healing the next day.

[2017-10-13 20:48] timothysc commented on #53894
@dims if you can write the in-cluster config out and set KUBECONFIG prior to the kubectl tests that would help.

[2017-10-13 21:03] timothysc commented on #50635
/cc @mattmoyer

[2017-10-13 21:04] bsalamat opened #53913 "Support PodDisruptionBudget during preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

The alpha version of preemption in 1.8 does not support PodDisruptionBudget. Supporting PodDisruptionBudget is needed before we can move the feature to Beta.

/kind feature
/sig scheduling

[2017-10-13 21:15] divyenpatel commented on #53847
Thanks @dixudx Closing this issue as this will be addressed in https://github.com/kubernetes/kubernetes/issues/51049

[2017-10-13 21:15] #53847 closed

[2017-10-13 21:16] #53467 closed

[2017-10-13 21:18] euank commented on #53887
@lastonoga You're talking about the `/mnt/docker/overlay` mountpoints, yes?

Can you double check whether the containers still exist? Whether kubelet's logs have any errors?

If the mountpoints under `/var/lib/kubelet` were leaked, that would definitely be a Kubernetes bug.

If docker's overlayfs mounts are leaked, but the kubelet called docker's api correctly and has no errors, then it's a docker

[2017-10-13 21:28] liggitt commented on #53906
Without qualifying the resource, the extensions API group takes precedence. This will fetch the policies from the `networking.k8s.io` API group:

[code]

Or even more specifically, the `v1` version of the `networking.k8s.io` API group:
[code]

[2017-10-13 22:41] michmike commented on #34327
we are testing this functionality, but two PRs that went in for the 1.9 tree fix this.
https://github.com/kubernetes/kubernetes/pull/51152
https://github.com/kubernetes/kubernetes/pull/50396

[2017-10-13 22:41] jiayingz commented on #53395
Here is our current plan for 1.9 after an offline discussion between @vishh and me.

Upon device plugin failure (i.e., disappears for some reason or fails to re-register after kubelet restarts), kubelet will remove its registered resource from its capacity. This will prevent future pods from being scheduled on the node. It also gives a good monitoring signal that we may use to surface device plugi

[2017-10-13 22:49] jingxu97 commented on #34137
Hi @cofyc We added the PVC ref into volume metrics in 1.8 https://github.com/kubernetes/kubernetes/pull/51448
Now you should be able to see the information through /metrics endpoint. Please let us know if you have any issue with it. Thanks!

[2017-10-13 22:58] fejta-bot opened #53921 "Failure cluster [d6a4c0...] failed 117 builds, 13 jobs, and 10 tests over 1 days"
### Failure cluster [d6a4c017d4239fba6d58](https://go.k8s.io/triage#d6a4c017d4239fba6d58)
##### Error text:
[code]
##### Failure cluster statistics:
10 tests failed,    13 jobs failed,    117 builds failed.
Failure stats cover 1 day time range '12 Oct 2017 22:10 UTC' to '13 Oct 2017 22:10 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Servic

[2017-10-13 23:06] MrHohn commented on #53921
/sig network

[2017-10-13 23:07] e4jet commented on #16405
@bklau - Yes.  This driver uses the Docker Volume Plugin to mount the Docker Volume onto the host, then bind mounts the volume where k8s has asked for it.

[2017-10-13 23:26] MrHohn commented on #53921
Seems the job leaked forwarding rules and exceeded project's quota.

From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cosbeta-k8sstable1-slow/2310/artifacts/test-6a3a13513d-master/kube-controller-manager.log:
[code]

[2017-10-13 23:27] dims commented on #53894
@timothysc : ack.

@gekart : Can you please send me the list of tests that fails? So i can be sure my changes will work for you?

[2017-10-13 23:28] MrHohn commented on #53921
@krzyzacy Do we run janitor for project `cos-image-validation`?

[2017-10-13 23:56] ericchiang commented on #53077
/assign

[2017-10-13 23:59] david-mcmahon opened #53923 "pull-kubernetes-bazel-build broken"
See [recent runs](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-bazel-build):

[code]

cc @kubernetes/test-infra-maintainers @javier-b-perez

[2017-10-14 00:01] chrislovecnm commented on #30338
@thockin any update on this? I think we have a versioning challenge with cni ;)

[2017-10-14 00:14] dims commented on #53894
@gekart - reviewing the code paths PR #53924 should do the trick, but would like to get that list of failed tests so i can confirm.

Thanks,
Dims

[2017-10-14 00:17] BenTheElder commented on #53923
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-bazel-build/9447/
`Unrecognized option: --incompatible_comprehension_variables_do_not_leak=false`

seeing that and the message about JAVA_HOME above, but also a lot of green builds

[2017-10-14 00:46] dims commented on #53923
Is this in some way related to https://github.com/kubernetes/kubernetes/issues/52677 ?

[2017-10-14 00:47] Ch3ck commented on #15863
@thockin @stevekuznetsov I'll like to work on this issue. How much work has been done so far?

[2017-10-14 00:52] BenTheElder commented on #53923
This only seems to affect your PR and the batch it was tested in. Other recent reds look to be failures to build broken go code.

[2017-10-14 00:54] david-mcmahon commented on #53923
And my PR went through.  So yeah, I dunno.

[2017-10-14 00:55] BenTheElder commented on #52677
Small update, we don't have any super special solutions but we *do* have different bazel versions running Prow, release-1.6 builds with bazel `0.5.2` while other jobs use `0.6.1` currently.

[2017-10-14 01:28] yanxuean opened #53925 "redundancy code in setCPUCgroupConfig"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The check of burstableCPUShares is redundancy. We have done it in MilliCPUToShares. It is responsibility of MilliCPUToShares.
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
/sig node
**Environment**:
- Kubernetes version (use `kubectl ve

[2017-10-14 01:28] yanxuean commented on #53925
/sig node

[2017-10-14 01:36] ixdy commented on #53923
It seems like batch jobs are using the release-1.6 branch configurations, rather than the master branch configurations.
cc @rmmh

[2017-10-14 01:47] ColDog commented on #35062
I too am seeing this after upgrading K8s from 1.7.6 to 1.8.0 on CoreOS.

[2017-10-14 02:17] mikesparr commented on #34395
I solved by creating new service account/key with different name. Names are cached. Roles needed were service account view, container dev, storage admin, container cluster admin

Sent from my iPhone

[2017-10-14 02:19] #53925 closed

[2017-10-14 02:29] liggitt opened #53927 "kubectl cluster-info shows proxy URLs that may not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubectl cluster-info displays proxy urls for cluster services

If those services are using https, the referenced urls do not work (they try to proxy using http)

**What you expected to happen**:
Services with a port name of https or 443 should use the ‘https:<name>:<port>‘ form

**How to reproduce it (as minimally and prec

[2017-10-14 02:52] gyliu513 opened #53928 "`kubefed join` do not clear garbage data if join failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When I call `kubefed join`, it failed due to some invalid configuration, and then after update the configuration, call `kubefed join` again, it reports that there is an sa already in use and cannot add the cluster.

**What you expected to happen**:

We should clear the garbage sa, clusterrole, clusterrolebindings etc if

[2017-10-14 02:53] gyliu513 commented on #53928
Sorry I donot have the clear CLI as steps here, this was encountered in a customer site and I cannot get the data back, but this can be easily reproduced.

/cc @kubernetes/federation-maintainers

[2017-10-14 02:56] m1093782566 commented on #53852
/assign

[2017-10-14 03:26] cofyc commented on #34137
@jingxu97 Awesome! I will try it in our clusters.

[2017-10-14 04:07] gyliu513 commented on #49792
@caseydavenport sorry for the late reply, service-per-pod is one solution, but I do not want to use services, as it will introduce quite a lot of iptables records in my host if there are thousands of services and this make performance bad, so I do hope that the host port mapping can help generate some random ports.

[2017-10-14 04:11] felipejfc commented on #49792
Had the same problem as you @gyliu513, our solution was to create https://github.com/topfreegames/maestro, it has a logic to manually manage a pool of node ports

[2017-10-14 05:01] krzyzacy commented on #53921
I would say yes?

[2017-10-14 06:56] gekart commented on #53894
@dims every conformance test that shelling out kubectl is failing. as elegant as your PR looks, I think it won't work, due to authentication:

[code]

kubectl will work out of the box on a pod with InClusterConfig, however, as soon as you start specifying one single parameter (such as --server), even if you do not change it compared to InClusterConfig, you will need to specify the rest, too.

[2017-10-14 07:50] gyliu513 commented on #53928
I was using Kubernetes 1.7.3

[2017-10-14 10:36] wackxu commented on #53908
I would help fix it.

[2017-10-14 11:46] #53927 closed

[2017-10-14 12:42] dims commented on #53894
@gekart can you give me the list of the 20 tests please?

[2017-10-14 13:01] gekart commented on #53894
Sure, rerunning the tests, might take an hour.

[2017-10-14 13:01] gekart commented on #53894
`[k8s.io] Kubectl client
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:619
  [k8s.io] Kubectl run job
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:619
    should create a job from an image when restart is OnFailure [Conformance] [It]
    /go/src/k8s.io/kubernetes/_output/dockerized/go

[2017-10-14 13:04] gyliu513 opened #53930 "UP-TO-DATE value of federation deployment is always 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

UP-TO-DATE value of federation deployment is always 0.

This is the federation deployment
[code]

And there is deployment from child cluster
[code]

The `UP-TO-DATE` value of federation deployment should be consistent with child cluster.

**What you expected to happen**:

**How to reproduce it (as minimally and p

[2017-10-14 13:08] crassirostris opened #53931 "[fluentd-gcp addon] Make liveness probe per-output"
Follow-up of https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/168

When one of the outputs is healthy (e.g. for system component) and other is not, liveness probe doesn't find a problem

[2017-10-14 13:36] antoineco commented on #53791
The short answer seems to be that `pflag` ignores the standard go flagset. However this is supposed to be covered by this snippet, and from my experience that works fine:

https://github.com/kubernetes/gengo/blob/master/args/args.go#L159-L162

I can't figure out why the loglevel is not set properly in that particular case. @sttts any idea maybe?

[2017-10-14 13:44] gekart commented on #53894
[code]

[2017-10-14 13:50] gekart commented on #53894
See, there are three variants on how to invoke kubectl:

[code]

Only the third one gets to the API and and gets authorized.

[2017-10-14 14:06] dixudx commented on #53633
@tushar00jain When container 1 failed, the [liveness probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) for container 2 will return a failure code, right? Then container 2 will be restarted by kubelet until container 1 is ready.

[2017-10-14 14:27] luxas commented on #53804
I agree with @liggitt that if this feature just doesn't work in v1.8 and the amount of changes that would have to be backported to v1.8 are substantial, the risk is too high. The feature is just broken then :(

Instead, let's make it rock-solid on the master branch -- v1.9 is not far away in any case.

I don't understand that either, but the sooner the feature is stable and working at HEAD, the be

[2017-10-14 15:03] dixudx commented on #53859
If using `[]string`, we may need to list the namespaces exhaustively, which is error-prone. For new added namespace, a manual update to the initializer is required, which is not quite convenient and flexible.

@ahmetb You're right. So I [did not use labels when matching](https://github.com/dixudx/kubernetes/blob/7cb9ee46f9460f163cd23e2b1490a4f54ab60be8/staging/src/k8s.io/apiserver/pkg/admission/pl

[2017-10-14 15:23] dims commented on #53894
Excellent! thanks @gekart will take a look at the scenarios. thanks for digging in.

[2017-10-14 15:35] liggitt commented on #53882
Can you provide more details about your registered CRDs?

[2017-10-14 16:57] #53923 closed

[2017-10-14 18:13] jamiehannaford commented on #53804
Forgot to comment earlier, but yeah, @liggitt's points make a lot of sense. I agree with what you're saying. I made a mistake and assumed that we could only code to releases, but obviously if it exists in master branch, we can work on features that rely on it side-by-side.

[2017-10-14 21:11] adrianchifor commented on #45086
@akdj Any solution for this? I am still getting this on k8s 1.7.8

[2017-10-14 22:59] fejta-bot opened #53936 "pr:pull-kubernetes-bazel-test flaked 28 times in the past week"
### Flaky Job: pr:pull-kubernetes-bazel-test
 Flakes in the past week: **28**
 Consistency: **97.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| //cmd/kube-apiserver/app/testing:go_default_test | 4 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-10-14 23:10] euank commented on #49792
@gyliu513 I'm now even more confused about how you expect this to work:

hostports mappings are typically also implemented as [iptables rules](https://github.com/kubernetes/kubernetes/blob/v1.8.1/pkg/kubelet/network/hostport/hostport_manager.go#L115-L131). They would have very similar performance characteristics to services.

If your use-case can't handle the overhead of mapping between a hostport

[2017-10-14 23:25] k82cn commented on #53804
so we will not cherrypick them :)

[2017-10-15 01:59] gyliu513 commented on #49792
@euank unlike service, I think calico host port only create iptables on the node where the pod is running, so we will not have too many iptables on each node for other pods like services. This can help improve the performance.

Can you please show a detailed example for this solution you proposed? It would be great if you can show some yaml templates, thanks!

[2017-10-15 02:24] ahmetb commented on #53683
in this case we can close.

[2017-10-15 02:24] #53683 closed

[2017-10-15 02:57] gyliu513 opened #53939 "glusterfs create pvc failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If the PVC is longer than 45 chars, then glusterfs will always failed to create PVC.

The reason is that glusterfs need to create an `endpointname` in form of `glusterfs-dynamic-<claimname>` and the length limit is 63, so the length limit for `claimname` is 45.

But I think that this is not reasonable, as we already have

[2017-10-15 03:11] shaunlmason commented on #44665
I'm having this issue after installing via gcloud on Travis CI.

[2017-10-15 07:40] nikox94 commented on #35637
/assign

[2017-10-15 09:14] wxlrainGit opened #53941 "k8s-1.8.1 failed init...."
when i init the k8s-1.8.1 like this:
kubeadm init --kubernetes-version v1.8.1 --pod-network-cidr=10.244.0.0/16
it will stay at 'This often takes around a minute; or longer if the control plane images have to be pulled.
' ,and not continue.
how can i solve it?

[2017-10-15 10:17] gyliu513 opened #53942 "Recycle always failed on non x86 platform"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

[code]
[code]

Use the above two files create one PV and PVC, then delete the PVC, the PV will become failed but not released.

[code]

[code]

The busybox recycler never succeed for power.

/sig storage

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2017-10-15 11:30] gyliu513 commented on #53942
/kind bug

The solution is like `pause` image, we should enable end user can customize the recycle image.

/cc @markturansky any comments for the solution?

[2017-10-15 12:39] dixudx commented on #53939
// The 'endpointname' is created in form of 'gluster-dynamic-<claimname>'.

@gyliu513 I did not find prefix `dynamicEpSvcPrefix` or related string `glusterfs-dynamic-` are used/refered elsewhere. Seems we can safely remove it? ping @msau42 @saad-ali to confirm.

[2017-10-15 12:52] liggitt commented on #53941
Please report kubeadm-specific issues under https://github.com/kubernetes/kubeadm so they can be triaged and resolved as quickly as possible

[2017-10-15 12:52] #53941 closed

[2017-10-15 13:34] stewart-yu opened #53945 "Unable to parse server version "v1.7.3+$Format:%h$""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When make sonobuoy conformance test to private k8s version,  get node
$ kubectl get node
NAME        STATUS    AGE       VERSION
*.*.*.*          Ready     1d       v1.7.3+$Format:%h$

and some test case failed  as below, becase of Unable to parse server version "v1.7.3+$Format:%h$": could not parse pre-release/metadata

[2017-10-15 13:34] #53945 closed

[2017-10-15 14:41] crassirostris commented on #52909
Note, that K8s rest client will not retry response if it fails b/c of the networking error, since it's a POST: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L657

I now tend to think that it shouldn't even be configurable: network error should be always retries in the webhook, as it's most probably transient

[2017-10-15 14:48] pilsy commented on #40536
Any answer to https://github.com/kubernetes/kubernetes/issues/40536#issuecomment-320733514 ?

[2017-10-15 17:59] petersonwsantos commented on #48378
ATTENTION: "To start using your cluster, you need to run (as a regular user)"

[root@master1 ~]# kubectl get nodes
Unable to connect to the server: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")

[root@master1 ~]# su - regular_user

[regular_user@master1 ~]$  mkdir -p $HOME/.ku

[2017-10-15 18:37] kamilgregorczyk opened #53948 "Cannot delete anything"
/kind bug

**What happened**:
I cannot delete anything with kubectl delete pod/s service/s etc.
**What you expected to happen**:
Turned off kubernetes-dashboard

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.8.1
- Cloud provider or hardware configuration**: VM
- OS (e.g. from /etc/os-release):Ubuntu 17.04
- Kernel (e.g. `uname -a`): Linux ubuntu 4.10.0-19-generic #21-Ubu

[2017-10-15 18:53] bgrant0607 commented on #17333
Proposal underway:
https://docs.google.com/document/d/1G4L4Kdyfg80DDuVOXHY0UbFuqDO29kECnOacVlseiFw/edit#heading=h.qrk5rt76lh3o

[2017-10-15 23:06] MikaelCluseau opened #53949 "Unable create v1.Service with duplicate targetPort after upgrade to v1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network

**What happened**:

The following service definition was valid in Kubernetes 1.7:
[code]

In Kubernetes 1.8 I have this error:
[code]

**What you expected to happen**:

Duplicate targetPort shouldn't be problematic. Or there should be a note somewhere (I searched the changelog with no success).

**How to reproduce it (as minima

[2017-10-15 23:08] MikaelCluseau commented on #53949
/sig networking

[2017-10-15 23:14] gyliu513 commented on #53939
Not sure about this, let's wait some comments from @msau42 @humblec @saad-ali

[2017-10-16 00:38] #51694 closed

[2017-10-16 00:58] lxlxok commented on #49709
Hey @floreks  Thanks for developing this great log in feature. I am working on enhancing this feature. Is it possible to debug login feature by using "gulp sever"? Currently,  every time when I debug I need to rebuild the docker image and deploy it on cluster so that I can test my code by visiting https endpoint.

[2017-10-16 01:19] tianshapjq commented on #53948
is that you did not type in the whole name of the pod?

[2017-10-16 01:19] tianshapjq commented on #53949
you should /sig network

[2017-10-16 01:27] wackxu commented on #53949
@MikaelCluseau you can see this issue https://github.com/kubernetes/kubernetes/issues/47222, duplicate targetPort is rejected in kubernetes1.8.

[2017-10-16 01:36] dims commented on #53949
Related to https://github.com/kubernetes/kubernetes/issues/53526 as well

[2017-10-16 01:48] dims commented on #53791
@antoineco - did the `--alsologtostderr` and `--logtostderr` not help you?

[2017-10-16 01:48] vladimirvivien opened #53952 "build/common.sh fails on machines without ip command installed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When `make verify` is invoked, if tails when script `build/common.sh` attempt to detect the presence of command `ip` on the local machine if in fact the binary is not found on the machine.

**What you expected to happen**:
`make verify` not to fail.

**How to reproduce it (as minimally and precisely as possible)**:
On a ma

[2017-10-16 02:13] tushar00jain commented on #53633
@dixudx I think I'm asking for something else. I'm talking about Kubernetes initiated shutdown, not handling failure.

What I'm asking for is during a Kubernetes initiated shutdown, `container 2` shut down after `container 1`. I'm not assuming failure for any container.

When Kubernetes sends the shutdown signal to both the containers, as far as I know liveness probe does not help (correct me if I

[2017-10-16 02:14] MikaelCluseau commented on #53949
Ok, I'm still open to a release note that I couldn't find ;-)

OTOH, I think the use case I have is pretty legit. The real use case is CouchBase, which publishes it's HTTP endpoints on 8091, including a management UI. Publishing it on port 80 allows for easy access to this UI without a port specification, while still exposing the usual client port on 8091 also allows for default configurations to

[2017-10-16 02:39] cblecker commented on #53952
/sig contributor-experience
/assign

[2017-10-16 02:44] MikaelCluseau commented on #53949
But I can also see value to this constraint change if it allows conntrack-less NATing :-)

[2017-10-16 02:44] cblecker commented on #53948
The pod is named "kubernetes-dashboard-7f9dbb8685-k464d", and the replica set is named "kubernetes-dashboard-7f9dbb8685". You are attempting to delete the pod using the name of the replicaset.

/kind support
/close

[2017-10-16 02:44] #53948 closed

[2017-10-16 02:51] m1093782566 opened #53957 "Register sync proxy rules latency metrics in app level"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently, kube-proxy registers sync proxy rules latency metrics in specific proxy mode, e.g. iptables, winkernel...

**What you expected to happen**:

Register sync proxy rules latency metrics in app level

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envi

[2017-10-16 02:51] m1093782566 commented on #53957
/sig network

[2017-10-16 03:21] FengyunPan commented on #53737
/sig storage

The log is hard to get the reason of this issuse. SO can you give some log about it from Cinder?

[2017-10-16 04:45] justinsb opened #53959 "Enforce compatability guarantees on apimachinery / apiserver as of 1.8"
apiserver & apimachinery still have a warning "NO compatibility guarantees", but as these have now shipped we should stop changing the APIs.

Is this feasible?  If not, can we have detailed change-notes on every change?

One way to see the impact would be to split sample-apiserver out of the main repo, and create an e2e test to make sure that it is updated.  At the moment, the developer experience

[2017-10-16 04:56] valentin2105 opened #53960 "failed to get cgroup stats w/ Docker 17.09.0-ce"
/kind bug

**What happened**:

Kubelet v1.8.1 report a lot of error about Docker cgroup stats and system container stats.

[code]

**What you expected to happen**:

Not any error ?

**How to reproduce it (as minimally and precisely as possible)**:

Install Kubelet v1.8.1 and Docker 17.09.0-ce on Debian.

**Anything else we need to know?**:

[code]

**Environment**:
- Kubernetes version (use `kubec

[2017-10-16 05:25] hpgood commented on #49376
I have the same problem,and the log is:
`2017/10/16 下午1:14:07E1016 05:14:07.451170    4302 glusterfs.go:148] glusterfs: failed to get endpoints pvc-bd4de7eb-9850-11e7-9dce-02e11aab97b0[an empty namespace may not be set when a resource name is provided]
2017/10/16 下午1:14:07E1016 05:14:07.451180    4302 reconciler.go:367] Could not construct volume information: MountVolume.NewMounter failed for volu

[2017-10-16 06:05] dixudx commented on #53960
@valentin2105  This seems to be related to `cadvisor`, not a kubernetes issue.

[2017-10-16 07:17] kevin-wangzefeng commented on #49947
Close in favor of https://github.com/kubernetes/kubernetes/pull/53793

[2017-10-16 07:17] #49947 closed

[2017-10-16 08:06] tatsuhiro-t commented on #51445
We hit this issue today again.  default/kubernetes Endpoints resource has been updated, but kube-proxy on worker did not update iptables entry, and the pods on that node still point to the unavailable apiserver.  Any chance to look into this?

[2017-10-16 08:11] sttts commented on #53791
Have to take a look. I also saw a case that client-gen did not accept standard go flags.

[2017-10-16 08:21] dixudx commented on #49032
ping @ahmetb to close this.

[2017-10-16 08:26] loadwiki commented on #53882
In my dev environment I got this:
[root@ctum2a2402005 helm]# kubectl get crd -o yaml
apiVersion: v1
items:
- apiVersion: apiextensions.k8s.io/v1beta1
  kind: CustomResourceDefinition
  metadata:
    creationTimestamp: 2017-10-16T08:12:13Z
    name: mxjobs.mlkube.io
    namespace: ""
    resourceVersion: "29716127"
    selfLink: /apis/
apiextensions.k8s.io/v1beta1/customresourcedefinitions/mxjobs.m

[2017-10-16 08:27] naisanza commented on #53382
@floreks is it like a race condition, where the pods are started before their dependencies are ready?

[2017-10-16 08:38] vrobert78 commented on #42164
Hi,

same problem on GKE, k8s master 1.7.6, nodes on 1.7.5.

sudo journalctl -r -u kubelet
[code]

We solve the problem by killing one pod. On this faulty pod a "docker diff" returns an error message "Terminated".

[2017-10-16 08:39] loadwiki commented on #53882
[code]

[2017-10-16 08:40] floreks commented on #53382
@naisanza hard to say. For me it's a bit undefined behavior. Might be related somehow to underlaying file system or to how secrets are mounted into the pod. In the above comment you can see Dockerfile used to create init container and debug log from it. One moment generated certs are there and after calling `kubectl delete` they are not.

[2017-10-16 08:54] #52695 closed

[2017-10-16 08:54] loadwiki commented on #53882
In my go code, the crd json object is defined as below:
[code]
The value of the crd object property is defined in go pkg "spec",
First tfjob CRD:
[code]
Second, mxjobs CRD:
[code]
Here is the thing, if the 2 different crd  have the same CRDGroup , the second crd is able to be created but not able to be get.

[2017-10-16 09:14] shyamjvs commented on #53327
So that PR improved the situation by quite a bit (from 7h -> 1.5h):

[code]

However, it's still more than earlier value we had (e2e startup - 50m, throughput - 49 pod/s).
Maybe we should consider skipping the random string generation altogether as @liggitt suggested in https://github.com/kubernetes/kubernetes/pull/53720#issuecomment-336150381.

cc @jsafrane

[2017-10-16 09:15] shyamjvs commented on #53327
It could be a different regression as well - something I can verify.

[2017-10-16 09:16] frodenas opened #53968 "GCE cloud provider only list the first 500 results of a resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

GCP SDK `List` function returns the first 500 results of the resource, and if there are more results, a `nextPageToken` is also returned that can be used to get the next page of results in subsequent list requests. Most of the GCE cloud provider `List` calls don't use the `nextPageToken`, and therefore, they only return

[2017-10-16 09:16] frodenas commented on #53968
/area cloudprovider
/area platform/gce
/sig gcp

[2017-10-16 09:36] tianshapjq commented on #53777
/cc

[2017-10-16 10:10] dixudx commented on #53960
/sig node

[2017-10-16 10:20] kamilgregorczyk commented on #49458
Current version of docs works as expected, thanks.

[2017-10-16 10:47] dims commented on #53960
@valentin2105 @dixudx : did you see the workaround in https://stackoverflow.com/questions/46726216/kubelet-fails-to-get-cgroup-stats-for-docker-and-kubelet-services

[2017-10-16 10:57] drigz commented on #37598
I've run into this as well. You can also workaround it by just [deleting the genrule](https://github.com/drigz/kubernetes/commit/ada44135cbf66ca66657efb1de973f6964559338), since the outputs are checked in.

As far as I'm aware, `$$(dirname $(location ...))` is the best approach for the more complicated genrules. It could possibly be simplified by using `@D` for `--output-base`, although I haven't

[2017-10-16 11:15] m1093782566 opened #53975 "Should validate ipvs sheduler options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

IPVS sheduler options has no validation. For example, if we pass an unsupported `--ipvs-scheduler` option(e.g. `foo`) for kube-proxy, it will cause unexpected error.

**What you expected to happen**:

Should validate ipvs sheduler options.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything els

[2017-10-16 11:15] jchanam opened #53976 "Selector on DaemonSet is not filled automatically"
/kind bug
/sig apps

**What happened**:
When creating a DaemonSet via kubectl, it returns an error:
``` `selector` does not match template `labels` ```
This happened on kubernetes 1.8.1 with the api `apps/v1beta2`

**What you expected to happen**:
The DaemonSet to be created without errors. The selector should be automatically filled with the pod labels as it says on the [documentation](https://ku

[2017-10-16 12:19] wackxu commented on #53976
I would help fix it

[2017-10-16 12:27] wojtek-t commented on #50115
@mikedanese - ping - WDYT?

[2017-10-16 12:31] srinathmatti opened #53983 "Kubernetes fails to start in openstack [Certificate Issue ]"
**This is a  BUG REPORT **:

When we are trying to create kubernetes cluster using openstack heat , it creates cluster stack[all the VM's and Network is created.] but master fails with services. Below are the list of Error that I see. I have used 1.8. , 1.7, 1.6 all have the same issue. We are following the below documentation
https://kubernetes.io/docs/getting-started-guides/openstack-heat/

Reso

[2017-10-16 12:35] srinathmatti commented on #53983
@pipejakob this is the similar issue as https://github.com/kubernetes/release/pull/386

[2017-10-16 12:37] huzhengchuan commented on #53382
I think https://github.com/kubernetes/dashboard/pull/2468 fix it.
I meet the same question.

 RUN echo '#!/bin/bash\n\
      if [ -z "$(ls -A /certs)" ]; then\n\
        echo "Creating self-signed certificates"\n\
       cd /certs\n\
       openssl req -nodes -newkey rsa:2048 -keyout dashboard.key -out dashboard.csr -subj "/C=/ST=/L=/O=/OU=/CN=kubernetes-dashboard"\n\
       openssl x509 -req -sha

[2017-10-16 12:46] floreks commented on #53382
We did fix it on our side. Is it actually intended behavior to remove files from mounted directory? It is only synced in 1 direction. When you create files they are not actually stored in a secret, you have to delete and recreate secret manually.

[2017-10-16 12:53] mmaquevice commented on #53737
Thanks for your reply @FengyunPan
Indeed it is hard to debug with this log. Unfortunately I don't have access to server logs. I have tried with another openstack cloud provider and it works great.
It does not resolve the issue but I guess it is due to a specific implementation of openstack, I close the bug.

[2017-10-16 12:53] #53737 closed

[2017-10-16 13:17] dixudx commented on #53942
Dup of #53357. @gyliu513 This issue can be closed, since we've already got flags `--pv-recycler-pod-template-filepath-nfs` and `--pv-recycler-pod-template-filepath-hostpath` for this.

[2017-10-16 13:22] dims commented on #53894
/assign @dims

[2017-10-16 13:23] wackxu commented on #53976
releated PR https://github.com/kubernetes/kubernetes/pull/50164

you can find more information
 from https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#pod-selector

[2017-10-16 13:39] jchanam commented on #53976
Hi!

I checked the api documentation and it was with the old behaviour. That's why I thought it had an issue.

Sorry for this issue then, and thanks a lot for your help!

Cheers!

[2017-10-16 13:39] #53976 closed

[2017-10-16 13:44] DirectXMan12 commented on #53145
I don't think there's any action we need to take, unless this shows up again.  It doesn't look like anything's wrong from the HPA side, as far as I can tell.

[2017-10-16 13:45] wackxu commented on #53976
@jchanam Feel free for it, I think you are right and  the documentation is old and we should update and I will commit a PR to fix it.

[2017-10-16 13:47] zxpower commented on #46188
I have exactly the same problem - had it on K8s v1.8.0 and today I upgrade to v1.8.1 - still the same.

I've previously corrected `kube-proxy.yaml` from `http:///` to `https://`, but error persists.

OS: CoreOS 1465.8.0 (with included Docker 1.12.6)
K8s: v1.8.1
Etcd: 3.0.17
Flannel: 0.7.1

[2017-10-16 13:51] DirectXMan12 commented on #49504
Eeeek.  That needs to be removed before going stable.  We shouldn't have a very on scale in every external API version.  It kind-of defeats the point.

[2017-10-16 14:07] sferich888 commented on #30645
I see this being needed for operational tasks, a good example of this is job (well its probably a bad example as the job yaml could define the volume), however the pod in question that you want to run, could run and output its data (diagnostics for example) to a volume and the data could be examined using another pod (like httpd, that just needs to start up and mount the volume from the job).

[2017-10-16 14:09] #53952 closed

[2017-10-16 14:11] cmluciano commented on #50495
@bowei Are you actively working on this or would you like some more eyes on it?

[2017-10-16 14:18] liggitt commented on #53882
Do you have any third-party-resources defined?

[code]

[2017-10-16 14:26] justinsb opened #53990 "apiserver aggregation: reason for separate CA"
It isn't very clear from the docs why a second CA is needed:

This is unintuitive.  I presume it would have been OK to have had a root CA with two children, instead of two root CAs, except for legacy reasons?  But what is the issue with reusing the same CA, particularly now that we hand out certs to all comers via the CSR API?

Can we instead chain the aggregation "CA" from the root CA?

[2017-10-16 14:33] shyamjvs commented on #52495
Seems like the tests are still timing out - https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness

@MrHohn Sorry I've had some context loss. I remember that we were being bottlenecked on service queue processing due to cloud operations - so you increased the parallelism.
- Are we just waiting for cloud-provider side issues to be resolved?
- Will increasing the timeout for e2es wo

[2017-10-16 14:34] shyamjvs commented on #52495
cc @wojtek-t

[2017-10-16 14:36] pmichali commented on #53329
@ncdc Will do. Yes, it is a duplicate.

[2017-10-16 14:39] gyliu513 commented on #53942
Just search `--pv-recycler-pod-template-filepath-nfs` and ` --pv-recycler-pod-template-filepath-hostpath`, but found that they are only defined as flags and no one is using them, @dixudx can you please help double check, am I missing anything? @dims

[2017-10-16 14:39] pmichali commented on #50787
Some comments that I had from 53329, which is a duplicate of this...

From what I can tell, the default creation logic will set conntrack max per core to 32K, if both conntrack max and conntrack max per core are zero. I don't see where the incoming values come from (not the CLI), so they would be zero and default logic will set max per core, AFAICT.

Later during init processing, a config file is

[2017-10-16 14:41] gyliu513 commented on #53942
Also the `pv-recycler-pod-template-filepath-hostpath` claiming that it does not support multi node cluster, this is not acceptable.

[2017-10-16 14:49] dims commented on #53942
@gyliu513 : please see

https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=PodTemplateFilePathNFS&type=
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=PodTemplateFilePathHostPath&type=

Please try them out, if they do not work then we can see how to get those fixed (and avoid adding yet another config option)

[2017-10-16 14:53] ncdc commented on #50787
We have deprecated the command line flags for kube-proxy and they will be removed in a future version. For the time being, they are still supported. However, if you specify both `--config` and some other flag(s), the other flags are ignored and the values from the config file are what is used. If you have converted to using the config file and need to change a setting, you will need to modify the

[2017-10-16 14:57] cmluciano commented on #53007
/status approved-for-milestone

[2017-10-16 14:59] cmluciano commented on #51445
@ncdc Should this still be a problem now that https://github.com/kubernetes/kubernetes/issues/22609 is closed and code is merged

[2017-10-16 14:59] cmluciano commented on #51445
/assign

[2017-10-16 15:01] cmluciano commented on #50604
/kind cleanup

[2017-10-16 15:03] evanj opened #53992 "DNSPolicy: Add "Host" as an alias for "Default" (proposal for a PR in progress)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I am planning on attempting to add `dnsPolicy: Host` as an alias for `dnsPolicy: Default`, [as discussed on kubernetes-users](https://groups.google.com/d/msg/kubernetes-users/7JBq6jhMZHc/YfnlY5xtAQAJ), where @thockin said he would take PRs to do this. The reason is that it is slightly confusing that `dnsPolicy: Defau

[2017-10-16 15:04] dixudx commented on #53942
@gyliu513 @dims  Yes, since we may only got only one controller-manager (maybe setup several for LB), it is necessary for kubelets running on non-amd64 platorm to have the right busybox image, which is exactly #53958 trying to fix.

I've reopened #53958.

[2017-10-16 15:06] ncdc commented on #51445
@tatsuhiro-t @cmluciano the PR that closed 22609 had a bug, and https://github.com/kubernetes/kubernetes/pull/53809 is open right now to fix it.

However, if the endpoints are getting updated and kube-proxy is failing to update iptables, that is a different issue.

[2017-10-16 15:08] DirectXMan12 commented on #28986
Update: memory autoscaling and custom metrics autoscaling are in beta as of Kubernetes 1.8.  I think we can close this issue.

[2017-10-16 15:09] evanj commented on #53992
@kubernetes/sig-network

[2017-10-16 15:11] evanj commented on #53992
/sig network

[2017-10-16 15:19] r0bj commented on #53373
It seems that this is related to kubernetes upgrade from 1.7.x to 1.8.x. Pods created in k8s 1.7.2 sometimes cannot be terminated (device or resource busy ) in k8s 1.8.1 after cluster upgrade.

[2017-10-16 15:49] cmluciano commented on #53193
@kubernetes/sig-network-misc

[2017-10-16 15:51] ericchiang commented on #53007
Since the intent of this issue seems to be "verify there's nothing wrong with CNI for 1.8" can we close this in favor of more concrete actions (e.g. "update vendored CNI code" or "add testing for CNI plugin x")?

[2017-10-16 15:52] cmluciano commented on #51802
This test may be invalid now that 1.5 is no longer supported, but since it is an upgrade test to a supported version, we may still want to keep it around. Thoughts @kubernetes/sig-testing-misc ?

[2017-10-16 15:55] cmluciano commented on #53269
/kind documentation

[2017-10-16 15:55] cmluciano commented on #53269
/assign

[2017-10-16 16:07] chrislovecnm commented on #53007
@ericchiang

If I am reading this correctly there where action items that @justinsb  recomended

Have those been completed?

I agree we need another couple of issues open.

[2017-10-16 16:17] ericchiang commented on #53145
Works for me.

/close

[2017-10-16 16:17] #53145 closed

[2017-10-16 16:22] gyliu513 commented on #53942
Thanks @dixudx and @dims I also found an example here https://github.com/kubernetes/kubernetes/issues/37461

We do not need the registry url as the pod template was customized by the end user and they can define where got the recycler images.

The problem is that the customized recycler will not work in mixed environments as only one recycle pod can be specified in controller manager, so +1 to @di

[2017-10-16 16:23] ericchiang commented on #53007
No known issues for CNI were added to the 1.8 release notes: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md#known-issues

And per caseydavenport and squeed's comments no CNI related issues were considered release blocking.

[2017-10-16 16:24] gyliu513 commented on #49032
/assign

/close

[2017-10-16 16:24] #49032 closed

[2017-10-16 16:26] sttts commented on #53808
@eparis @caesarxuchao I have updated the branches on my private fork and the gist link in the PR description.

@caesarxuchao I have updated https://github.com/kubernetes/test-infra/pull/4134 with a fix for a Godeps.json bug, included in the newly generated branched already.

[2017-10-16 16:48] timothysc commented on #53007
FWIW - 0.6.0 is being executed on for 1.9 https://github.com/kubernetes/kubernetes/pull/51250 .

I'll leave it for others to PR for known issues.

[2017-10-16 16:49] kow3ns commented on #49504
SGTM

[2017-10-16 17:16] msau42 commented on #53373
To clarify, this is an issue with secret volumes, not local volumes.

[2017-10-16 17:32] ironcladlou commented on #53777
I'm not yet actively developing it, but I've done some R&D with @derekwaynecarr.

[2017-10-16 17:37] spiffxp commented on #49820
/assign @shyamjvs @gmarek
Ping.  I'm assigning you two based on activity related to the scale tests last release cycle.  Please re-assign to someone who has bandwidth to work on this if not you.

[2017-10-16 17:48] bitbrain commented on #12140
As far as I have read this whole ticket is about "Defragmentation" of a cluster, consisting of running containers. What is the current progress on this?

[2017-10-16 18:00] davidopp commented on #12140
Work has been progressing in an incubator repo:
https://github.com/kubernetes-incubator/descheduler

[2017-10-16 18:04] dchen1107 commented on #53960
@valentin2105 in k8s 1.8 release, we haven't done the validation for Docker 17.09.0-ce yet.

[2017-10-16 18:13] timothysc commented on #12140
I think we should close this issue fwiw.

[2017-10-16 18:15] bowei commented on #50495
I am not currently actively looking at this, so it would be great if someone else could also take a look.

[2017-10-16 18:31] clenimar commented on #53928
this is indeed very annoying. I'll tackle this one.

[2017-10-16 18:34] clenimar commented on #53928
/assign clenimar

[2017-10-16 18:34] sttts opened #53998 "client-gen in 1.8 does not accept standard flags from glog or gengo"
`client-gen --help` only shows the custom client-gen flags and it also rejects all other flags.

[2017-10-16 18:40] claudiuchis commented on #45022
Running "sudo iptables -P FORWARD ACCEPT" worked for me as well.
However, this change is not persistent. If I restart the node, it will revert back to status quo ante.

To make this persistent, uncomment this line in "/etc/sysctl.conf":
`#net.ipv4.ip_forward=1`

[2017-10-16 18:40] wojtek-t commented on #53327
@kubernetes/sig-scheduling-bugs

[2017-10-16 18:40] wojtek-t commented on #53327
@davidopp @bsalamat

[2017-10-16 18:48] davidopp commented on #12140
SGTM. People can file issues in the descheduler repo.

[2017-10-16 18:48] #12140 closed

[2017-10-16 19:11] sttts commented on #53998
Looks like this was alse alarm because golang/dep does not follow k8s.io/code-generator's Godeps.json :sigh:

[2017-10-16 19:12] pmichali commented on #50787
The script that I'm using (part of kubeadm-dind-cluster repo for Docker In Docker running of Kubernetes on a single machine), is using (only) command line args. The issue is that they are being ignored. The code reads from a file, of which there are no conntrack settings, and then uses the defaults.

The logic for forming the defaults, checks to see if conntrack max is zero, and if so, it checks c

[2017-10-16 19:16] ahmetb opened #54000 "Cannot view logs with -l/--selector for multi-container Pods using "kubectl logs""
/kind bug
/sig cli

**What happened**: I have a deployment called `wordpress` (labels: `app=wordpress`) that has two containers named `web`, `cloudsql-proxy`. It is running with `replicas:1`.

I tried to view the logs:

[code]

So I clarified, by appending container name `web` to the command:

[code]

It says only a "selector" OR "pod name" is allowed.
In this case I'm not specifying pod name, jus

[2017-10-16 19:23] #53998 closed

[2017-10-16 19:52] smarterclayton commented on #49504
The other reason for subresources was so that autoscalers couldn't
mutate other fields on the object.

Re: proto tags we have an idl, we could in theory identify some tags
but in general the structure of json and proto diverges on a few
types.

[2017-10-16 20:00] sttts commented on #53808
Pushed. Thanks @eparis! 🚀  🎉

[2017-10-16 20:00] #53808 closed

[2017-10-16 20:01] sttts opened #54003 "Tag client-go 5.0.x"
We have pushed the 1.8.1 based client-go https://github.com/kubernetes/kubernetes/issues/53808. What do we need to tag 5.0.0 or 5.0.1?

TODO:
- [ ] update README.md
- [ ] create changelogs

[2017-10-16 20:05] adnavare commented on #25290
@janetkuo: Is anyone working on this? I can update this maybe

[2017-10-16 20:33] integrii commented on #3920
👎

[2017-10-16 20:40] caseydavenport commented on #53007
/status approved-for-milestone

[2017-10-16 20:50] vishh commented on #53497
+1 for creating separate issues for each of the topics here. This issue is meant to be a tracker for lack of a better tool in github.

[2017-10-16 20:52] vishh commented on #53497
@ScorpioCPH I have added you as an owner for creating stub device plugin for e2es. Please open an issue with your design for a stub device plugin before you post a patch to help with the review process.
Keep in mind, there's only ~4 more weeks left in v1.9 for development

[2017-10-16 21:04] cmluciano commented on #52040
/kind cleanup

[2017-10-16 21:05] cmluciano commented on #52039
/kind cleanup

[2017-10-16 21:06] cmluciano commented on #50495
/assign

[2017-10-16 21:06] tallclair opened #54010 "Rerunning kubectl apply on the same file should not send an empty patch request"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Running `kubectl apply -f manifest.yaml` multiple times (without changing the manifest) will cause kubectl to send empty patch requests. This is particularly problematic because the addon manager runs apply on the addon manifest directory regularly, and the result spams the audit log with empty requests.

**What you expect

[2017-10-16 21:10] vishh opened #54011 "kubernetes GPU device plugin for Ubuntu and Debian images"
Nvidia GPU device plugin exists for GCP's Container Optimized OS (COS) [here](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/device-plugin-daemonset.yaml)

We need a device plugin that works on Ubuntu, Debian and possibly other images too.
Ideally, just one device plugin should suffice in-order to foster collaboration.

Nvidia has a public version as well - https:

[2017-10-16 21:11] cmluciano commented on #53992
@kubernetes/sig-network-feature-requests

[2017-10-16 21:13] vishh opened #54012 "Delete in-tree support for Nvidia GPUs"
Nvidia GPU support is currently available via the kubelet directly. This support has been deprecated in favor of device plugins. Since we don't have a device plugin for all distros, deleting the old support isn't advisable just yet.
I'm hoping we can delete the old implementation which works by setting `Accelerators=true` feature gate in v1.10 release cycle.

Depends on #54011

#53497 for tracking

[2017-10-16 21:16] jingxu97 commented on #52676
Here we want to test the detach behavior of evicted pods. So delete a pod directly is different from it. When Pod is evicted, the containers will be killed and the pod status is terminated. But the pod api object is not deleted from API server. Before PR #45286, such evicted pods will not trigger detach operation because the pod api object is not deleted from api server.  So the purpose of the tes

[2017-10-16 21:16] caseydavenport commented on #52039
/status approved-for-milestone
/kind cleanup
/remove-kind bug

[2017-10-16 21:17] caseydavenport commented on #52040
/status approved-for-milestone
/kind cleanup
/remove-kind bug

[2017-10-16 21:22] vishh commented on #53497
@resouer on https://github.com/kubernetes/kubernetes/issues/53497#issuecomment-336093773

Based on offline ping, if/when kubelet supports updating a pod with a new container, I'd expect feasibility checks and admission logic to be re-run. All of the container manager logic has to be re-run at which point I'd expect additional devices to be allocated for new container(s) being added to the pod.
Wha

[2017-10-16 21:27] caesarxuchao commented on #54003
We are going to do the tagging and update the release note and readme.

[2017-10-16 21:28] ncdc commented on #50787
Ok, I have figured out the history on this and know how to fix. In the config structs, if a field with a value of zero actually means zero, and not unset, then that field must be a pointer. We need to adjust the proxy config fields and defaulting functions accordingly.

[2017-10-16 21:30] cblecker commented on #54000
@ahmetb You need to use the container flag:
[code]
to specify which container you want to use. This information is available via `kubectl logs --help`.

Try the following:
[code]

/remove-kind bug
/kind support

[2017-10-16 21:30] vishh commented on #53497
@sameo Looks like @lichuqiang is already working on resolving # #51592
https://github.com/kubernetes/kubernetes/pull/51895

Will you be able to help with scale and soak testing meanwhile? You'll get a good handle on k8s test infra and device plugins in that process and help stabilize the existing implementation.

[2017-10-16 21:42] jeffvance commented on #52676
Thanks @jingxu97 Do you have a suggestion for how to force a pod to be evicted?

[2017-10-16 21:50] msau42 commented on #52676
You could have the pod do some memory intensive application

[2017-10-16 21:53] ixdy commented on #52677
Kubernetes 1.7+ builds fine with bazel 0.6+ now, so I'm going to close this issue.

[2017-10-16 21:53] #52677 closed

[2017-10-16 21:53] jeffvance commented on #52676
@msau42 ah, like my use of `grep` in the io-streaming pr :-)

[2017-10-16 21:57] ahmetb commented on #54000
my bad.

[2017-10-16 21:57] #54000 closed

[2017-10-16 22:03] d-shi commented on #50648
@erkolson I'm not sure what you mean by creating a storage class based on a snapshot.

I confirmed that in k8s 1.8.0 the `fsType` parameter works when creating a storage class, so the example manifest in my original post works. That will let you create xfs volumes. Going to close this issue.

[2017-10-16 22:03] #50648 closed

[2017-10-16 22:07] heckj opened #54014 "kubectl run deployments are created without any change-cause annotation by default"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind bug
/area kubectl

**What happened**:
I created a deployment using the kubectl run command, and then updated the image with the kubectl set command, thinking I was matching the documentation at https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
I expected that the set command would be reflected in the `kubectl rollout

[2017-10-16 22:07] cblecker commented on #54000
no problem :)

[2017-10-16 22:09] heckj commented on #54014
I _think_ cli is the appropriate sig. Please correct me if I'm wrong...
/sig cli

[2017-10-16 22:22] MrHohn opened #54017 "Stop supporting the deprecated `x_gcloud_mode` field in GCE scripts"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
https://github.com/kubernetes/kubernetes/pull/54009 is adding logics to handle both the new (`x_gcloud_subnet_mode`) and deprecated (`x_gcloud_mode`) fields for making the transition easier. We should eventually get rid of such logics when CIs and most of the developers upgraded gcloud version to >= 175.0.0.

[2017-10-16 22:24] MrHohn commented on #54017
/area platform/gce

[2017-10-16 22:36] cblecker opened #54020 "admission webhook test failure in go1.9"
xref: #49484, #51375
The `k8s.io/kubernetes/plugin/pkg/admission/webhook` package is failing tests and doesn't seem to work as expected when run under go1.9. It throws some x509 certificate errors. However, the same tests run successfully under go1.8.

go1.8 successful output:
[code]

go1.9 failing output:
[code]

---
@kubernetes/sig-node-bugs @derekwaynecarr
/priority important-soon

[2017-10-16 22:36] terinjokes opened #54021 "loadBalancerSourceRanges + lots of ranges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
To configure a Load Balancer firewall, the only option right now is to use the Service's `loadBalancerSourceRanges` to define the ranges that should be allowed. If you have lots of disjointed ranges to include, you have to include the entire list for each service.

**What you expected to happen**:

There should be a w

[2017-10-16 22:36] azman0101 commented on #28174
Is there any news on this ?

[2017-10-16 22:41] terinjokes commented on #54021
/sig network

[2017-10-16 22:44] cmaxoutis commented on #53889
Same issue here with docker:
 Version:         1.12.6
 API version:     1.24

kubelet: error: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.1", GitCommit:"f38e43b221d08850172a9a4ea785a86a3ffa3b3a", GitTreeState:"clean", BuildDate:"2017-10-11T23:27:35Z", GoVers

[2017-10-16 22:52] cblecker commented on #54021
Templating configurations is something that's come up before. There are a number of different options at the application level to do this, such as the helm project (https://github.com/kubernetes/helm). With helm, you can create a reusable piece of configuration, and use it in multiple places and for multiple services.

[2017-10-16 22:55] cblecker commented on #49484
We've identified a failing test as a result of the WIP PR to upgrade the codebase to go1.9:
https://github.com/kubernetes/kubernetes/issues/54020

The admission webhook test fails with certificate errors under go1.9.1, but runs successfully under go1.8.3.

cc: @jessfraz who wanted to be alerted to potential bugs

[2017-10-16 23:10] jhorwit2 commented on #53644
👍 I ran into this earlier today. I was able to update the control plane & kube-proxy to 1.8.1 without any problems. Once I upgraded the kubelet though it caused container restarts.

[2017-10-16 23:12] jhorwit2 commented on #53644
/sig apps
/sig api-machinery

[2017-10-16 23:14] cmaxoutis opened #54022 "kubelet won't start - /etc/kubernetes/pki/ca.crt: no such file or directory"
/kind bug

**What happened**:
Performed a clean install on CentOS Linux release 7.4.1708 and started kubelet
`yum install -y kubelet kubeadm kubectl
systemctl enable kubelet && systemctl start kubelet
`
`
systemctl status kubelet
tail -100f /var/log/messages | grep kubelet

kubelet: error: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or di

[2017-10-16 23:30] terinjokes commented on #54021
I don't disagree that this is possible at the application level. If we were talking about a handful of services within an single part of an organization, that's what I'd probably suggest myself.

In our case, the people who are going to be most familiar with the source ranges and are managing the cluster are separate from the engineers and teams building services. Mandating a single way to templat

[2017-10-16 23:35] gyliu513 commented on #53928
Thanks @clenimar please go ahead with the fix even the assign does not work for now.

[2017-10-16 23:47] #18155 closed

[2017-10-16 23:58] bsalamat commented on #53327
Just wanted to say that I am aware of this issue. I hope #53989 will address the problem.

[2017-10-17 00:03] jingxu97 commented on #52336
@davidopp, which @thomas-riccardi's issue you are referring in you last comment? Thanks!

[2017-10-17 00:10] MrHohn opened #54027 "etcd error in cluster downgrade: membership: cluster cannot be downgraded (current version: 3.0.17 is lower than determined cluster version: 3.1)."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
From couple upgrade/downgrade testsuites:
- https://k8s-testgrid.appspot.com/etcd-upgrades#gce-latest
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-latest-downgrade-kube-proxy-ds

After upgrade/downgrade, master instance never be able to come up again. From the etcd logs, we found below error being constantly emit

[2017-10-17 00:11] MrHohn commented on #54027
@sig-api-machinery-test-failures
/area etcd

[2017-10-17 00:12] MrHohn commented on #54027
@kubernetes/sig-api-machinery-test-failures

[2017-10-17 00:14] jingxu97 commented on #53659
@gyliu513 do you have an estimate how much your daemonSet  pods use? If it normally uses more than node capacity, we might consider using larger resources.
Also by default, kubelet set hard threshold of disk eviction nodefs.available<10%,nodefs.inodesFree<5%, you can consider lower the value so that pods will not be evicted very easily.

As @dashpole mentioned, the kubelet evicts the largest users

[2017-10-17 00:37] yuexiao-wang commented on #54022
/sig node

[2017-10-17 00:53] shun-miyoshi-com commented on #53867
Sorry, I used ```kubeadm init --config=kubeadm-conf.yaml```

Here is my /etc/kubernetes/manifests/kube-apiserver.yaml
I don't know which flag is misconfigured.

[code]

[2017-10-17 00:55] liggitt commented on #53889
@cmaxoutis  what is the output of `kubeadm init`?

[2017-10-17 01:09] #23217 closed

[2017-10-17 01:09] #36184 closed

[2017-10-17 01:34] dims commented on #54020
/assign @dims

[2017-10-17 01:39] huzhengchuan commented on #52249
cc @huzhengchuan

[2017-10-17 01:40] dims commented on #49484
@jessfraz @cblecker - please see https://github.com/kubernetes/kubernetes/pull/54030 for a possible fix

[2017-10-17 01:47] hogepodge commented on #52249
Work for adding OpenStack provider to CNCF CI/CD here. https://github.com/hogepodge/cross-cloud/tree/openstack

[2017-10-17 01:52] wackxu commented on #54014
Look at the code

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/set/set_image.go#L263

@heckj We should explicitly set flag "record" true or input resource info contains change-cause annotation then it will record the CHANGE-CAUSE, this is same with the command "kubectl run"

[2017-10-17 01:52] liggitt commented on #54022
You have to initialize the kubelet config before it will start successfully. That is typically done with `kubeadm init` or `kubeadm join`

A clean package install places the kubelet in a crash loop pending valid configuration

[2017-10-17 01:52] #54022 closed

[2017-10-17 02:04] sudermanjr commented on #52341
+1 for this issue.  Same problem here.

[2017-10-17 02:18] loadwiki commented on #53882
I do have third-party-resources with the same name as crd 'tfjob':
[code]
After I delete TPR 'tfjob',  CRD 'mxjob' still could not be get with spec.group=='mlkube.io'. However, this time the error is different. It is very strange that the output of kubectl "get mxjobs.mxnet.mlkube.io" , while the crd do have spec.group='mlkube.io'.
[code]

[2017-10-17 02:32] liggitt commented on #53882
TPRs mask CRDs with the same group. I'd recommend following the migration instructions to migrate all TPRs to CRDs:
https://kubernetes.io/docs/tasks/access-kubernetes-api/migrate-third-party-resource/

cc @cheftako

[2017-10-17 02:34] shun-miyoshi-com commented on #53867
@dixudx Thank you for your reply.
So, I want to get kube-apiserver log, but I don't know how I get the log.
Where the kube-apiserver log is stored?

[2017-10-17 02:38] dixudx commented on #53867
@shun-miyoshi-com Your `kube-apiserver` is started with pod. Since the pod is not started, you can not issue any `kubectl` commands.

But you can `docker ps -a | grep apiserver` to find out the container id and `docker logs xxx`.

[2017-10-17 02:47] justinsb commented on #39502
@bjornswift we're going to update the AWS SDK in https://github.com/kubernetes/kubernetes/pull/53561 .  But what are the changes in the AWS SDK that improve this situation?

[2017-10-17 02:48] justinsb opened #54032 "We should upgrade the AWS SDK"
We should update the AWS SDK, to gain support for AWS NLB and tagging volumes at creation time etc.

[2017-10-17 02:54] ScorpioCPH commented on #54011
I  will attach a comment here after test [NVIDIA device plugin](https://github.com/NVIDIA/k8s-device-plugin) on local today.

[2017-10-17 02:58] FengyunPan commented on #53983
/sig openstack

[2017-10-17 03:20] dixudx commented on #53942
@gyliu513 Actually all the [Docker Hub Official images](https://blog.docker.com/2017/09/docker-official-images-now-multi-platform/), including `busybox`, has been updated along with [manifest supported](https://docs.docker.com/registry/spec/manifest-v2-2/). This means `docker` will help us make the decision to choose the right busybox image. You can have a try to `docker pull busybox` on different

[2017-10-17 03:20] MrHohn commented on #52495
Nope, I believe the limited throughput on the service controller side also needs to be resolved.

Test may pass if we increase the timeout for each LB e2e test (to 4 or 5 hours? We already set 2 hours...) regardless, though it seems unreasonable if service controller takes 4~5 hours to provision cloud resources for a LB service.

Dug into the logs a bit and found service controller [still process

[2017-10-17 03:33] resouer commented on #53395
@jiayingz Sorry, a stupid question. Do we already have checkpoint design/implementation for device runtime information in kubelet?

[2017-10-17 04:18] lichuqiang commented on #53395
@resouer You can take a look at comments in #51895

[2017-10-17 04:22] shun-miyoshi-com commented on #53867
Thank you @dixudx.
I got a log, and I found the reason why kube-apiserver is not working.

kube-apiserver log is follow.

[code]

I didn't mount /etc/kubernetes directory to kube-apiserver Pod, so kube-apiserver Pod cannot open config file.

I can run kube-apiserver by editing /etc/kubernetes/manifests/kube-apiserver.yaml,(add volumeMounts and volumes)

[code]

By the way, Do you have any options

[2017-10-17 04:26] heckj commented on #54014
thanks @wackxu - I don't know the specifics of that code to understand what I'm reading. Am I correct in reading that it would always record the change if I added the `--record=true` option onto the `kubectl set` command, i.e. use

 - `kubectl set image deployment/flask flask=quay.io/kubernetes-for-developers/flask:0.1.1 --record=true`

and even without the annotation, a change-cause annotation wi

[2017-10-17 04:36] resouer commented on #53395
Found it here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/device_plugin_handler.go#L254 thanks!

[2017-10-17 04:50] kadamvandita commented on #50975
any solution to  error loading package 'vendor/k8s.io/apimachinery/pkg/util/sets': Extension file not found. Unable to load package for '@io_kubernetes_build//defs:go.bzl': The repository could not be resolved. error?

[2017-10-17 05:29] dixudx commented on #53867
@shun-miyoshi-com Sadly `kubeadm init` does not support this yet.

@luxas @gyliu513 Any plan to support adding such a feature for `kubeadm init`?

[2017-10-17 05:39] sttts commented on #53791
Which branch of k8s.io/code-generator is this about? master or release-1.8?

[2017-10-17 05:42] sttts commented on #53791
`deepcopy-gen -v 5 -i ./apis/cr/v1 -h /dev/null --alsologtostderr` gives output. Isn't that the normal behaviour of glog that nothing is printed? Actually, I wouldn't mind to switch to `--alsologtostderr` by default though.

[2017-10-17 05:45] hzxuzhonghu commented on #54010
I am working on it.

[2017-10-17 05:52] antoineco commented on #53791
@stts I'm on the master branch. I haven't tried `--alsologtostderr`, I was expecting everything to be written either on stdout or stderr without using any extra flag.

Like I said, if I delete the vendored glog and use `master` logs are written simply by setting the V flag.

Probably a misunderstanding then.

[2017-10-17 06:01] antoineco commented on #53791
(and just to provide a little bit more context, the issue I was trying to troubleshoot was that my deepcopy file didn't get generated. I figured put the deepcopy flag was not in `doc.go` but in another file, but without output this took me a while to figure. Newbie experience report ftw :)

[2017-10-17 06:18] jmastr commented on #53644
@jhorwit2 the log message one receives is at: https://github.com/kubernetes/kubernetes/blob/v1.8.0/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L508

The function, that calculates the hashes is at: https://github.com/kubernetes/kubernetes/blob/v1.8.0/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L408

[code]

The hash function seems to not have changed. I suspect changes in the `container *v1.C

[2017-10-17 06:20] gyliu513 commented on #53659
Kubernetes 1.8 already support daemonset tolerate MemoryPressure and DisPressure taints, I'm ok to close this one now. Thanks @dixudx @jingxu97 @dashpole

https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/workloads/controllers/daemonset.md#how-daemon-pods-are-scheduled

[2017-10-17 06:26] marcwuk opened #54037 "1.8.1 gce calico cni issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube-up of k8s 1.8.1 on GCE.
set NETWORK_POLICY_PROVIDER:-calico in config-default.sh
Nodes never reach Ready due to:
Ready                 False   Tue, 17 Oct 2017 06:14:34 +0000         Tue, 17 Oct 2017 06:07:24 +0000         KubeletNotReady                 runtime network not ready: NetworkReady=false reason:NetworkPlu

[2017-10-17 06:33] ScorpioCPH commented on #54011
Hi, all

After testing on local, I think the fundamental function of  [NVIDIA device plugin](https://github.com/NVIDIA/k8s-device-plugin) is good (with logs below).

Logs of DP registration (kubelet):

[code]
Logs of DP starting (nvidia DP):

[code]

Logs of DP shutdown (kubelet):

[code]

[2017-10-17 06:38] loadwiki commented on #53882
Thank you very much. My environment becomes normal now. The "mxjob" crd can be get with spec.group='mlkube.io' .
It is also very curious that it was not to get crd immediately after the TPR was deleted. I guess maybe k8s needs time to remove rubbish information about the original TPR group?

[2017-10-17 06:38] #53882 closed

[2017-10-17 06:41] marcwuk commented on #54037
/sig network

[2017-10-17 06:41] dixudx opened #54039 "kubelet cannot show Docker-CE version correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. Install Docker-CE

[code]

2. Bootstrap K8s cluster normally
3. when getting nodes,

[code]

**What you expected to happen**:
Should show a version intead of `docker://Unknown`, which is confusing.

**How to reproduce it (as minimally and precisely as possible)**:
As above

**Anything else we need to know?**:

**Environ

[2017-10-17 06:42] dixudx commented on #54039
/sig node

[2017-10-17 06:47] pineking commented on #54011
@ScorpioCPH is NVIDIA device plugin production ready according to your test?

[2017-10-17 07:16] ScorpioCPH commented on #54011
@pineking oh, it just a alpha version, not ready for production.

[2017-10-17 07:30] dixudx commented on #54037
@marcwuk Seems you've not configured CNI. Please check your `kubelet` args whether you've set `--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin` and put `calico` binary and configs there.

[2017-10-17 08:15] #49153 closed

[2017-10-17 08:48] m1093782566 opened #54054 "{ip link add dev} returns 2 does not mean an device exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, we implement network interface operations, e.g. create a dummy device and delete a dummy interface via ip cmd and then collect the exist code. For example, we assume command `ip link add kube-ipvs0 type dummy` returns 2 means the dummy device `kube-ipvs0` exists, see https://github.com/kubernetes/kubernetes/bl

[2017-10-17 08:48] m1093782566 commented on #54054
/sig network

[2017-10-17 08:51] shyamjvs commented on #52495
Sounds good. Btw - we can just use `CONTROLLER_MANAGER_TEST_ARGS` to pass the parallelism flag instead of creating/piping a new env var just for that flag imo.

[2017-10-17 09:35] shyamjvs commented on #53255
@krzyzacy @cjwagner What's the plan of action here? Auto-filing an issue on failure and blocking SQ against it sounds like a good option. In any case, we need some mechanism to block on the failure (and it should be manually overridable).

[2017-10-17 09:55] gyliu513 opened #54058 "Do not use percent for `nodefs.available`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
My pods often got evicted when I have 10G disks, after more check, I found that the disk pressure caused the pod eviction as the default value of `nodefs.available<10%`, so if I have 1000G disk, then if the disk size is less than 1000G*10%=100G, my pods will got evicted even I have 100G disk, this is not reasonable.

For

[2017-10-17 10:10] vglisin commented on #53356
Not only what you mentioned dkirrane, there is a problem with:
https://kubernetes.io/docs/admin/kubeadm/#manage-tokens
They never wrote ANY detail how to add a new Node in a Cluster when your initial Token (which is valid for ... unknown) expired! Not a word. Only if you want to test-and-try yourself. Lovely beta troubleshooting job this is.
Documentation should be much, much better. Especially fo

[2017-10-17 10:12] vglisin commented on #53356
What is: "Bootstrap Tokens"?
What does it mean as a consequence allowing it or not?
When Token expire how to make a new one to add new Node into Cluster?
These are a normal questions from a newbee who is not a member of Kubernetes dev.team.
Any help?

[2017-10-17 10:22] vglisin commented on #53356
If you try with this you will see that there is no way to use IP address mentioned:
(Text is from: https://kubernetes.io/docs/admin/kubeadm/#manage-tokens)
"To implement this automation, you must know the IP address that the master will have after it is started.....
    kubeadm can generate a token for you:
    kubeadm token generate
Start both the master node and the worker nodes concurrently wit

[2017-10-17 10:24] porridge commented on #37254
FWIW, this strikes again. Recent golint added a new check (for redundant error checks).

This means that anyone who happens to follow the advice from `hack/verify-golint.sh` to just `go get -u github.com/golang/lint/golint` (i.e. a new contributor) will get a shiny new golint which complains about problems completely not related to whatever they are doing:

[code]

This of course makes `make verif

[2017-10-17 10:37] porridge commented on #37254
@eparis regarding your https://github.com/kubernetes/kubernetes/issues/37254#issuecomment-263970290, how about bumping golint whenever we bump the go toolchain that we use?
It's not vital that we're on the freshest golint at all times, after all..

[2017-10-17 10:38] vglisin commented on #53356
If you try with this you will see that there is no way to use IP address mentioned:
(Text is from: https://kubernetes.io/docs/admin/kubeadm/#manage-tokens)
"To implement this automation, you must know the IP address that the master will have after it is started.....
    kubeadm can generate a token for you:
    kubeadm token generate
Start both the master node and the worker nodes concurrently wit

[2017-10-17 10:40] Kenblair1226 commented on #53886
Turnning socket.io log on server side, I found my client sending requests with the same session id to both pods. But only one of them know the session id. So I think that's the reason why sometimes my socket.io app works normally.
After a little study, probably session affinity is the key. And probably it' s GCP load balancer's thing. Will keep diggin.

[2017-10-17 10:44] boeboe commented on #53906
@liggitt can you please re-open this issue, since one cannot specify a fully-qualifying resource when applying through a yaml file.

    # cat networkpolicy.yaml
    apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: test-policy
    spec:
      podSelector:
        matchLabels:
          name: whatever
      ingress:
        - ports:
            - protocol: TCP

[2017-10-17 11:19] drinktee commented on #49384
I'm adding some unit test for v1/helper.  @adshmh  Have  you already done?

[2017-10-17 11:41] luxas commented on #49480
We need to send an email to kubernetes-dev about this @dixudx can you please do that?

Also, the debs/rpms in kubernetes/release needs to be updated. cc me on that PR

[2017-10-17 11:53] #52914 closed

[2017-10-17 12:06] liggitt commented on #53906
Resources in a yaml file are always fully qualified (they include the full api group and version)

That syntax for fully specifying a resource, api group, and api version is specific to `kubectl`

Your subsequent `get` is the unqualified bit, so the client defaults to the first API group and version containing that resource (extensions/v1beta1) and the server converts the saved object to that vers

[2017-10-17 12:11] bjornswift commented on #39502
The vendored version didn't include improvements to the aws-sdk-go's request retry logic. Most AWS SDKs use similar exponential back-off retry policies, but early versions of aws-sdk-go didn't (for some reason). This has since been addressed, and should be included in 1.12.7 which #53561 updates to.

(I can find the relevant commits, if of interest, but this was added to aws-sdk-go ages ago.)

[2017-10-17 12:12] liggitt commented on #53906
The apply issue is likely related to defaulting or validation in the v1 group alone.

The returned extensions/v1beta1 content for an unqualified get is unrelated

[2017-10-17 12:25] JorritSalverda opened #54063 "Fluentd-gcp-v2.0 prometheus port collides with another kube-proxy port"
/kind bug

**What happened**:

On most of our GKE clusters **fluentd-gcp-v2.0** works fine, but our production clusters has most of the pods constantly crash looping due to the following startup error:

[code]

Running `sudo netstat -tulpn | grep 31337` on one of the problematic hosts shows the port to be in use by kube-proxy:

[code]

The deamonset has `hostNetwork: true` but does not specify por

[2017-10-17 12:33] JorritSalverda commented on #54063
/sig instrumentation

[2017-10-17 12:47] luxas commented on #49480
Pinging CNI & CRI plugin maintainers
[ ] Weave (@bboreham)
[ ] Calico (@caseydavenport)
[ ] Canal (@tomdee)
[ ] Flannel (@aaronlevy)
[ ] Romana (@chrismarino)
[ ] cri-containerd (@Random-Liu)
[ ] cri-o (@runcom)
[ ] frakti (@resouer)
[ ] rktlet (@iaguis)

I saw kops filed an issue for this (thanks @chrislovecnm)
cc @mattymo for kubespray

[2017-10-17 12:58] justinsb commented on #39502
OK I'm just debating if we really should close this issue when we merge >= 1.12.7 or whether we should actually look at the underlying issue.  The version of the AWS SDK we were using before had per-request backoffs, and onto that we layered a per-process backoff layer: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/retry_handler.go

The reason for that (very

[2017-10-17 13:09] gyliu513 commented on #54058
It is configurable, but using `nodefs.available<10%,` as default value is not reasonable, I think we should use a reasonable value as default value just like we did for memory `memory.available<100Mi`.

[2017-10-17 13:10] feiskyer commented on #53824
/cc @kubernetes/sig-network-misc

[2017-10-17 13:24] karanthukral commented on #53807
/sig api-machinery

[2017-10-17 13:25] karanthukral commented on #53807
Let me know if api-machinery isn't the correct sig label.

[2017-10-17 13:26] wackxu commented on #54014
kubectl set image deployment/flask flask=quay.io/kubernetes-for-developers/flask:0.1.1 --record=true
 and even without the annotation, a change-cause annotation will be created

 @heckj Yes, you are right. If we  explicitly set flag "record" true, It will always record the change

I think for every update, the  REVISION and  `generation`  will be update meanwhile the annotation will be updated.The

[2017-10-17 13:33] JorritSalverda commented on #54063
I did find the service of type `LoadBalancer` that has a `nodePort` equal to that port 31337 used by fluent-gcp. Can you change a node port on the fly and will the GCE network load balancer reconfigure or do I have to delete and recreate the service?

[2017-10-17 13:55] vglisin commented on #53356
Hello, solved a Token problem.
Documentation really needs to be updated considering newbee mind. Otherwise it is source of frustration. Currently nodes are ok and operational.
If this above helps you... ok.

[2017-10-17 14:08] ianchakeres commented on #52676
@jeffvance - Here's another option to cause eviction: [Eviction API](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#the-eviction-api).

[2017-10-17 14:09] bladerunner512 commented on #53844
After switching from Flannel to Calico I get kublet 'Error syncing pod kube-dns':
MESSAGE=I1017 08:58:20.458189   92898 kuberuntime_manager.go:748] Back-off 5m0s restarting failed container=dnsmasq pod=kube-dns...
MESSAGE=E1017 08:58:20.458293   92898 pod_workers.go:182] Error syncing pod b6b29930-aece-11e7-9319-000c2941e694 ("kube-dns...
MESSAGE=, failed to "StartContainer" for "dnsmasq" with Cra

[2017-10-17 14:29] stewart-yu opened #54069 "Networking-Granular Checks: Pods e2e Conformance test Failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When  i run e2e Conformance test, thoes test failed:
[Fail] [k8s.io] Networking [k8s.io] Granular Checks: Pods [It] should function for node-pod communication: http [Conformance]
[Fail] [k8s.io] Networking [k8s.io] Granular Checks: Pods [It] should function for intra-pod communication: udp [Conformance]
[Fail] [k8s.io] Networking [

[2017-10-17 14:37] stewart-yu commented on #54069
/sig testing

[2017-10-17 14:40] bjornswift commented on #39502
Interesting, I don't remember having seen the per-process limits. To be perfectly honest, I'm a little hazy on the details. What I do remember is that the retry logic in the vendored version was really agressive, and would fire three (I think) requests over a short period of time. As a result, if the AWS service was having issues or was throttling requests, in our experience, the client wouldn't s

[2017-10-17 14:47] cmluciano commented on #54011
I'm interested in the requirement for a custom runC as noted in the documentation [here](https://github.com/NVIDIA/nvidia-docker/tree/2.0#default-runtime). I filed NVIDIA/nvidia-container-runtime#1 seeking clarity on the purpose of the patched runC.

[2017-10-17 14:52] cmluciano commented on #54069
@stewart-yu Are you using https://github.com/kris-nova/kubicorn ? Also this seems to be installing a version of k8s 1.7 with a dirty working tree. Can you comment on if you patched some things locally before creating a release?

[2017-10-17 14:54] cmluciano commented on #53824
cc @rpothier @danehans

[2017-10-17 15:02] cmluciano commented on #54037
@kubernetes/sig-gcp-misc

[2017-10-17 15:05] stewart-yu commented on #54069
Just use https://scanner.heptio.com/,  run it in cluster with one node.

[2017-10-17 15:11] stewart-yu commented on #54069
It seems that  host-test-container-pod created in createTestPods function located in test/e2e/framework/networking_util.go with createContaining status all the same, This pod has attribute HostNetWork=true, if remove it, the pod can running.@cmluciano

[2017-10-17 15:17] cmluciano commented on #54021
@kubernetes/sig-network-feature-requests

[2017-10-17 15:25] jhorwit2 opened #54070 "Zone labels are removed every kubelet restart in 1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:

I upgraded my cluster from 1.7 -> 1.8.1 and realized that all my failure domain & region labels were gone.

**What you expected to happen**:

I expect those labels to remain

**How to reproduce it (as minimally and precisely as possible)**:

Without a cloud provider (bare metal) or with the CCM, restart a 1.8.x

[2017-10-17 15:27] jhorwit2 commented on #54070
IMO, the `updateDefaultLabels` method should *not* remove labels that do not exist on the initial node. That's a recipe for disaster.

[2017-10-17 15:39] cmluciano commented on #53859
@ahmetb FWIW NetworkPolicy v1 discussion is [here](https://github.com/kubernetes/kubernetes/pull/39164#discussion_r116577498) . IIRC the original thoughts were a special field on the actual Namespace object, but this was in clear violation of proper layering.

[2017-10-17 15:43] cmluciano commented on #53859
Also I agree that this is a duplicate of https://github.com/kubernetes/kubernetes/issues/51290 .

@dixudx @gyliu513 Can we condense thoughts of this issue in another comment on https://github.com/kubernetes/kubernetes/issues/51290 to eliminate issue sprawl?

[2017-10-17 15:45] cmluciano commented on #53835
@kubernetes/sig-network-misc

[2017-10-17 15:45] liggitt commented on #54070
https://github.com/kubernetes/kubernetes/blob/76a4674bd47dc9a9d2148bc7cda3e630f43ec770/pkg/kubelet/kubelet_node_status.go#L170-L180

Agree. That loop should continue if the initial node does not have an opinion on one of the default labels:

[code]

[2017-10-17 15:46] cmluciano commented on #53835
cc @danehans @rpothier This may be related to IPV6, but I have not fully triaged

[2017-10-17 15:47] cmluciano commented on #53835
Recent run seems to point to a container that failed to come up https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/21005

[2017-10-17 15:49] cmluciano commented on #53836
Seems to be a dup of https://github.com/kubernetes/kubernetes/issues/53835

[2017-10-17 15:49] #53836 closed

[2017-10-17 15:50] cmluciano commented on #53469
@kubernetes/sig-node-bugs

/kind hw-accelerators

[2017-10-17 15:53] cmluciano commented on #53775
@kubernetes/sig-network-bugs

cc @m1093782566

[2017-10-17 15:54] cmluciano commented on #53775
/assign @m1093782566

[2017-10-17 15:56] cmluciano commented on #53801
/assign @m1093782566

[2017-10-17 15:57] cmluciano commented on #17470
/close

IPVS is now in alpha form

[2017-10-17 15:59] cmluciano commented on #53835
xref: https://github.com/kubernetes/kubernetes/issues/53741#issuecomment-335996556

[2017-10-17 16:01] cmluciano commented on #53526
@kubernetes/sig-network-api-reviews

[2017-10-17 16:02] cmluciano commented on #53949
/close

duplicate issue of https://github.com/kubernetes/kubernetes/issues/53526

[2017-10-17 16:03] #17470 closed

[2017-10-17 16:03] #53949 closed

[2017-10-17 16:05] cmluciano commented on #53736
/assign @m1093782566

[2017-10-17 16:08] cmluciano commented on #53495
@kubernetes/sig-gcp-misc

[2017-10-17 16:08] JosephSalisbury opened #54075 "Fake clientset not sending events"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
executing the following code:
[code]
prints
[code]

**What you expected to happen**:
i would expect the "an event occurred" line to be printed, when the watch channel receives the event for the service creation

**How to reproduce it (as minimally and precisely as possible)**:
`go build` the above, execute it.

**Anythin

[2017-10-17 16:10] JosephSalisbury commented on #54075
/sig api-machinery

[2017-10-17 16:12] cmluciano commented on #53468
@kubernetes/sig-network-bugs

[2017-10-17 16:12] JosephSalisbury commented on #54075
@kubernetes/sig-api-machinery-bugs

[2017-10-17 16:13] dims opened #54076 "Deprecate and Remove GCE specific feature - node dialer talking to the cloud provider"
AddSSHKeyToAllInstances is on the CloudProvider interface. However *all* providers except GCE return cloudprovider.NotImplemented
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce_instances.go#L200

This method is used by CreateNodeDialer:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L209

Please see discussion here:
h

[2017-10-17 16:13] dims commented on #54076
/sig node

[2017-10-17 16:13] cmluciano commented on #53393
/assign @m1093782566

[2017-10-17 16:13] dims commented on #54076
/area cloudprovider

[2017-10-17 16:14] dims commented on #54076
/sig gcp

[2017-10-17 16:15] dims commented on #54076
/sig cluster-lifecycle

[2017-10-17 16:15] cmluciano commented on #52783
@kubernetes/sig-cluster-lifecycle-bugs

[2017-10-17 16:19] dims opened #54077 "kube-apiserver should not call cloud provider DefaultExternalHost"
Separate this out from a larger issue - "Kubernetes API Server should not depend on --cloud-provider and --cloud-config":
https://github.com/kubernetes/kubernetes/issues/49402#issuecomment-317146821

[2017-10-17 16:21] dims commented on #49402
This is part of larger work - https://github.com/kubernetes/kubernetes/issues/48690

[2017-10-17 16:21] justinsb opened #54079 "RBAC policy for watching a single object?"
Related to https://github.com/kubernetes/kubernetes/issues/43299, what is the RBAC policy to lock down watching to a particular object (in my case, a secret)?

I've tried:
[code]

But that gives me "...cannot list secrets..."

It seems to need:

[code]

This is using:

[code]

[2017-10-17 16:21] justinsb commented on #54079
cc @liggitt

[2017-10-17 16:21] dims commented on #54077
This is part of larger work - https://github.com/kubernetes/kubernetes/issues/48690

[2017-10-17 16:22] gpjt commented on #43783
@danbeaulieu, @brendandburns -- thanks!

[2017-10-17 16:22] dims commented on #54076
This is part of larger work - https://github.com/kubernetes/kubernetes/issues/48690

[2017-10-17 16:23] dims commented on #54077
/sig node
/sig cluster-lifecycle
/sig gcp

[2017-10-17 16:26] justinsb opened #54080 "RBAC policy for creating a single object?"
What is the RBAC policy to lock down creating to a particular object (in my case, a secret)?

I've tried:

[code]

But that gives me "...cannot create secrets..."

It seems to need:

[code]

(Similar to #54079)

[2017-10-17 16:32] urzds commented on #49213
If the `openstack-heat` provider for `kube-up` is now deprecated: What is the currently recommended method to setup Kubernetes on OpenStack?

/cc @magreiner

[2017-10-17 16:47] nicksardo commented on #52495
Thanks for pointing that out @MrHohn, but that doesn't look ILB specific. "Exceeded limit 'MAX_INSTANCES_IN_INSTANCE_GROUP' on resource 'k8s-ig--5701e438db2b4e8e'. Limit: 2000.0, limitExceeded"  This affects GCE Ingress as well, which I believe we're already not testing. Yes, we should probably disable the ILB test in scale CI.

[2017-10-17 16:48] jakeswenson opened #54082 "Liveness/Readiness Probes should treat any 2XX status as healthy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Liveness probes and readiness probes don't seem to treat 204 No Content as healthy (even though 2XX status codes are success statuses)

**What you expected to happen**:
Any 2XX status should be treated as healthy.

**How to reproduce it (as minimally and precisely as possible)**:
Create an app with an endpoint returning 2

[2017-10-17 16:55] liggitt commented on #54080
the object name is not in the URL of a create request, and therefore is unavailable to the authorization layer (for all authorizers, not just RBAC).

From https://kubernetes.io/docs/admin/authorization/rbac/#referring-to-resources:

[2017-10-17 16:55] #54080 closed

[2017-10-17 16:57] liggitt commented on #54079
authorization doesn't currently doesn't have the filter attributes on list/watch calls, so those are authorized unscoped to a particular resource name. that applies to all authorizers, not just RBAC

adding support for that is one aspect of https://github.com/kubernetes/kubernetes/issues/40403

[2017-10-17 16:57] #54079 closed

[2017-10-17 16:58] ahmetb commented on #53859
Yeah I'm still curious if we can have a namespace selector with labels XOR well as name list (opt-out version of this) for the initializers. I think labels have merit, but in practice people are not labeling things.

@dixudx I didn't fully understand your explanation above. Can you give some concrete examples?

[2017-10-17 17:04] ncdc commented on #54075
The fake clientset has a `WatchReactor` for testing watch events. You typically do something like this:

[code]

@caesarxuchao @deads2k @sttts do you think it's worth trying to make the fake clientset send out watch events in response to CRUD operations?

[2017-10-17 17:05] nicksardo commented on #53886
Session Affinity can work with GCE Ingress, *but* requires that there's only one destination pod per node. Otherwise, an affinity can still be split between pods. If you want to try it and report back findings, set SessionAffinity on the GCE BackendService to "CLIENT_IP" and sessionAffinity on the K8s service to "ClientIP".

[2017-10-17 17:14] liggitt commented on #54080
There's discussion of adding crupdate support for secrets/configmaps which would allow update API calls to create as well.

[2017-10-17 17:19] krzyzacy commented on #53255
From technical point of view, maybe make tide block on some certain labels, and we can auto or manually apply the label. But we probably need to be obvious to tell people why merge is blocked. @cjwagner WDYT

[2017-10-17 17:37] DirectXMan12 opened #54084 "We should have a retrying cached discovery RESTMapper"
Several clients and controllers want a caching discovery RESTMapper that regenerates its contents periodically and/or on failure, since discovery information is not guaranteed to stay static over the lifetime of a process -- new APIs may be registered after the initial discovery information has been fetched.  We should add an instance of this to the ControllerContext so that different controllers

[2017-10-17 17:38] DirectXMan12 commented on #54084
cc @deads2k
cc @kubernetes/sig-api-machinery-feature-requests

as per https://github.com/kubernetes/kubernetes/pull/53743#pullrequestreview-69925396

[2017-10-17 17:40] sttts commented on #54075
Isn't a fake object always a compromise in terms of completeness? It will never be a full apiserver. Would it make tests much easier if it sent out watch events?

[2017-10-17 17:41] jingax10 opened #54086 "admission_test.go failed with go1.9.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When running k8s unit tests, TestAmit test case emitted an error as follows:

2017/10/17 10:38:30 http: TLS handshake error from 127.0.0.1:54246: remote error: tls: bad certificate
E1017 10:38:30.860166  110747 admission.go:199] failed calling admission webhook "disallow": Post https://127.0.0.1:35435/disallow: x509: certificate is

[2017-10-17 17:47] caesarxuchao commented on #54086
We need to investigate if we can fix the problem in our code or if users will have to regenerate the cert,

[2017-10-17 17:55] #54070 closed

[2017-10-17 17:55] krzyzacy commented on #47820
huh the test still have issues?

[2017-10-17 17:57] justinsb commented on #54080
How does sig-auth do feature tracking?  Should we leave open?

[2017-10-17 17:57] justinsb commented on #54080
(PS thanks for confirming @liggitt )

[2017-10-17 18:00] jingax10 commented on #54027
I investigated the issue a bit.

The etcd version for a k8s release is packed in cluster/saltbase/salt/etcd/etcd.manifest, e.g., the one from HEAD.

"env": [
      { "name": "TARGET_STORAGE",
        "value": "{{ pillar.get('storage_backend', 'etcd3') }}"
      },
      { "name": "TARGET_VERSION",
        "value": "{{ pillar.get('etcd_version', '3.1.10') }}"
      },
      { "name": "DATA_DIRECTOR

[2017-10-17 18:04] ncdc commented on #54075
@sttts I'm happy with the watch reactor semantics we have now. I'd vote that if one wants to test the client CRUD -> watch event flow, it should be an integration test with an apiserver in the middle.

[2017-10-17 18:04] walt-bb opened #54087 "failed to get parse function: unsupported log format: "\n""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: I ran this command: kubectl logs  nginx-2048752185-jsd2c --since=3m

It produces this error: failed to get parse function: unsupported log format: "\n"

**What you expected to happen**: 3 minutes worth of nginx logs to appear

**How to reproduce it (as minimally and precisely as possible)**: Set your logs format to start

[2017-10-17 18:16] jakeswenson commented on #54082
this feels like a /sig scheduling but I'm not sure...
/sig scheduling

[2017-10-17 18:17] yujuhong opened #54088 "Device plugin checkpointing should be more reliable"
https://github.com/kubernetes/kubernetes/blob/64fde98206fcb764958d62a1a4a03c0420d72b45/pkg/kubelet/cm/device_plugin_handler.go#L253-L269

It should write to a temporary file and rename the file to ensure atomic writes. It should also fsync the file before closing to avoid data loss on machine reboots.
You can check the examples in the kubelet package such as `pkg/kubelet/kubeletconfig` or `pkg/kub

[2017-10-17 18:20] shyamjvs commented on #52347
@MrHohn Thanks for fixing the issue with firewalls. However seems like the latest run of gce-scale-correctness still leaked the network (but doesn't seem due to firewall this time):

[code]

ref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/19

[2017-10-17 18:20] spiffxp commented on #53255
Looking at the times posted in @shyamjvs's summary, I would like to know how blocking the submit queue would have shortened those times.  I have concerns that blocking the queue for durations of that length would have severely hampered our productivity and caused us to push the release out for much longer than a day.

[2017-10-17 18:23] shyamjvs commented on #52347
I thought we're deleting the subnets in this case too when we're using custom subnets mode.

[2017-10-17 18:24] spiffxp commented on #53255
I would prefer to see a policy of treating the release-*-blocking jobs as blockers to going through gates in the release process (e.g.: entering code freeze, cutting bits, existing code freeze).  If we cannot go through these gates in time, I would prefer to see the entire schedule shifted out by the delay, rather than treating the entirety of the remaining schedule as buffer to be eaten into.

[2017-10-17 18:25] jennybuckley commented on #52657
@julia-stripe

I've been working on this bug for a while, and trying to understand what might be going on. When I run a cron job, I can't seem to get the cache to fill indefinitely. When the job completes a certain number of times (successfulJobsHistoryLimit), the old versions seem to be cleaned up and the cache size stableizes. I wonder if maybe the jobs created by your set up are never completin

[2017-10-17 18:28] cjwagner commented on #53255
@krzyzacy That plan sounds good to me. As discussed in a meeting, if we block by using a special label on issues, people can tell why the merge is blocked by searching github for open issues with that label just as Tide does. We can put links to that query in important places.

[2017-10-17 18:49] cmluciano commented on #53906
May be related https://github.com/kubernetes/kubernetes/pull/51955

[2017-10-17 18:49] cmluciano commented on #53906
/assign

[2017-10-17 18:49] cmluciano commented on #51891
@kubernetes/sig-network-feature-requests

/assign

[2017-10-17 18:50] caseydavenport commented on #53906
This is expected if running on a k8s < v1.8 cluster, since updates to NP were only introduced in v1.8. If you try to update on a v1.8 cluster is should succeed.

I think you've got the wrong apiVersion in your manifest -  `networkpolicies.v1.networking.k8s.io` should be `networking.k8s.io/v1`. The `networkpolicies.v1.networking.k8s.io` bit is just for the kubectl get command.

[2017-10-17 18:50] cmluciano commented on #46625
/assign

[2017-10-17 18:50] cmluciano commented on #46625
/assign

[2017-10-17 18:53] jingxu97 commented on #30474
no more discussion on this. closed the issue

[2017-10-17 18:53] #30474 closed

[2017-10-17 19:00] anfernee commented on #54082
Looks like the code is doing the right thing in master: https://github.com/kubernetes/kubernetes/blob/4b0511dc8cc6d4fb4775e00198757d50b35856a6/pkg/probe/http/http.go#L95

[2017-10-17 19:00] MrHohn commented on #52347
Yep, we are supposed to. I think the scale CI hit the same issue as https://github.com/kubernetes/test-infra/issues/5019 described. I've sent a PR for fixing it https://github.com/kubernetes/kubernetes/pull/54009.

[2017-10-17 19:07] shyamjvs commented on #53255
Blocking the SQ would've helped us in at least the following ways:
- we accumulated multiple regressions one on top of the other (listed in the PR description). This made debugging time much longer (and unpredictable) than what it would've been if we identified each of them on time. This brings me to the 2nd point..
- not blocking the SQ didn't put enough pressure on the issue for folks to start l

[2017-10-17 19:07] danehans commented on #53835
I believe `[Feature:Networking-IPv6][Experimental]` should be skipped until the IPv6 e2e test environment is complete.

@leblancd I believe this is associated to one of your recent e2e IPv6 PRs.

[2017-10-17 19:11] jiayingz commented on #54088
Thanks a lot for filing the issue and your suggestions! +1 for a common util of doing checkpointing. Please let us know when that is available.

[2017-10-17 19:23] shyamjvs commented on #52347
For the time-being I manually deleted the subnets and then the network to unblock the next scale job run. But it would be good to have this fixed soon.

cc @kubernetes/sig-scalability-misc

[2017-10-17 19:46] kdillane commented on #54021
Is it possible to configure this externally?  For example, on an AWS ELB Security Group, if I manually configure those rules, will those get trashed by Kubernetes?  Does Kubernetes respect changes to a resource externally from Kubernetes config?

[2017-10-17 20:03] cmluciano commented on #54021
I assume it would depend on the cloud-provider code for AWS maybe @kubernetes/sig-aws-misc might have more ideas.

[2017-10-17 20:09] david-mcmahon commented on #25154
Closing.  A plugin is almost ready to do this via Prow.

[2017-10-17 20:09] #25154 closed

[2017-10-17 20:18] jakeswenson commented on #54082
interesting. Maybe this was an older version than 1.7 ... let me double check.
Thanks

[2017-10-17 20:18] #54039 closed

[2017-10-17 20:18] #52502 closed

[2017-10-17 20:18] dchen1107 opened #54090 "Remove docker dependency on Kubelet startup"
We removed docker dependencies from kubelet /healthz a couple of releases before, so that kubelet can properly report runtime is down. But Kubelet still have a docker dependency at initial stage:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L150

[code]
We should consider removing such dependency.

cc/ @kubernetes/sig-node-bugs

[2017-10-17 20:26] jakeswenson commented on #54082
Apologies, It appears that the issue isn't kubernetes specifically. Its GCP health checks, which require 200 to be returned. https://cloud.google.com/compute/docs/load-balancing/health-checks#http_and_https_health_checks

Since kubernetes creates load balancers with health checks for services/ingress this was causing an issue making our traffic not route to kubernetes.

I'll file another issue as

[2017-10-17 20:27] dims commented on #54086
Duplicate of https://github.com/kubernetes/kubernetes/issues/54020

Also see the PR https://github.com/kubernetes/kubernetes/pull/54030

[2017-10-17 20:27] dims commented on #54086
/assign @dims

[2017-10-17 20:28] dims commented on #54086
/close

[2017-10-17 20:28] #54086 closed

[2017-10-17 20:53] smarterclayton commented on #53255
I would agree with the "little investment now can save lots of effort
later" - that's been shown to be the case for many of these performance
issues.  Even without blocking the queue, the desired outcome is ensuring
that early investment happens.  If there is opposition to blocking the
queue, are there suggestions on how to best incentivize the rapid triage in
event of failure?

On Tue, Oct 17, 20

[2017-10-17 20:56] cjcullen commented on #53011
I think there's nothing for us to do here then? By default, you get a more locked down dashboard, and the [instructions](https://github.com/kubernetes/dashboard/wiki/Access-control) show how to go back to the insecure way if needed.

[2017-10-17 20:56] #53011 closed

[2017-10-17 20:58] aguilarm commented on #18307
Encountering this issue running upgrades.  Only found it after an upgrade made my pods assigned to labeled nodes unable to find a node.

As I understand it going through this, I need to [create a new node pool with --node-tags using gcloud](https://cloud.google.com/sdk/gcloud/reference/container/node-pools/create).  There is no way to edit an existing node pool's NodeConfig from what I can tell vi

[2017-10-17 20:59] spiffxp commented on #53255
If we make sure that tests actually stay green, we can use alerts to notify people when tests go from green to red, or from flaky to consistently failing.  SIG Testing has been working on e-mail based alerts from testgrid that would support this.

Part of what allows failures to sneak by is when they're red "but passing if you look at the logs."

[2017-10-17 21:06] spiffxp commented on #53255
https://k8s-testgrid.appspot.com/release-master-blocking#gce-scale-performance&width=20

This does not seem like a very good candidate to block the release.  It's passed once in the past 2 months.

https://k8s-testgrid.appspot.com/release-master-blocking#gce-scale-correctness&width=20

This has never passed.

[2017-10-17 21:06] valentin2105 commented on #53960
@dims With the workaround, I don't get any error any more.

Thanks !

[2017-10-17 21:06] #53960 closed

[2017-10-17 21:06] nsidhaye commented on #11046
I setup logrotate compress & rotate zip log files daily.

In order to test I executed `logrotate -f /etc/logrotate.conf`

Now I could not able to see logs by kubectl logs.

I believe *NIX (process) still having handle of the file which I already rotated. Due to stale file handle, logs are not updating.

[2017-10-17 21:18] gylu opened #54093 "Nginx Ingress Controller doesn't obey namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created two ingresses, one in namespace: production, another in namespace: development with essentially identical yamls except for describing the namespace and the static IP address used in the type LoadBalancer service.

But instead of getting 2 ingresses each with its own static IP, both ingresses are using the same I

[2017-10-17 21:29] gylu commented on #54093
Close and move to: https://github.com/kubernetes/ingress-nginx/issues/1545

[2017-10-17 21:29] #54093 closed

[2017-10-17 21:35] enisoc opened #54095 "TestCRD times out"
TestCRD is hitting the 5min limit sometimes and getting killed:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/54040/pull-kubernetes-unit/58848/artifacts/junit_dbb07cf89b3516a97dd7efe0aecea5f6edb73152_20171017-190122.stdout

[2017-10-17 21:35] dchen1107 commented on #54082
cc/ @abgworrall for sig-gcp related

[2017-10-17 21:42] enisoc commented on #54095
According to the stack trace at the 5min cutoff point, this call had not yet returned:

https://github.com/kubernetes/kubernetes/blob/658956f0631c6bd3ecf9f756db4a0710efea98ea/cmd/kube-apiserver/app/testing/server_test.go#L250

[2017-10-17 21:48] smarterclayton opened #54096 "DaemonSet can create multiple pods per node during failover, does not give at-most-one semantics"
Extracted from a long discussion in https://github.com/kubernetes/community/pull/977

Briefly:

1. DaemonSets intend to give at-most-one semantics to reduce confusion and make them easier to reason about for new users
2. DaemonSets are not currently implemented in a way that guarantees at-most-one (controller failure and a slow pod cache can result in two pods scheduled on a node), which means use

[2017-10-17 22:00] boeboe commented on #53906
@caseydavenport

apply on network policy was working on k8s < 1.7, that is, if the policy applied was exactly the same as the one in the cluster (hence your remark indeed that updates are only supported from 1.8 onwards). My point is that on 1.7 an apply (with a no-update operation, as in yaml == cluster state) does not work since apiVersion issue legacy vs new.

[2017-10-17 22:03] caesarxuchao commented on #53826
I had a discussion with @cheftako @mbohlool @lavalamp. The consensus is that we should add Path to the webhook configuration. It will default to root, and it has to be a DNS1123 label.

[2017-10-17 22:10] liggitt commented on #53826
URL paths are not DNS1123 labels... it should be a valid URL path (e.g. `/foo/bar/baz` should be allowed)

[2017-10-17 22:16] dchen1107 opened #54097 "kubelet crashes on handling /summary when failing to retrieve imagestats from docker"
I noticed on several GKE prod nodes, kubelet crashes with the following stacktrace.

[code]

cc/ @kubernetes/sig-node-bugs @dashpole

[2017-10-17 22:18] apelisse opened #54098 "Gather all errors before failing openapi validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: When kind/group/version is not present, only one of the missing file is reported. They should all be reported as missing.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-10-17 22:18] dashpole commented on #54097
cc @yguo0905

[2017-10-17 22:19] apelisse commented on #54098
/sig cli

[2017-10-17 22:35] caesarxuchao commented on #53826
Right. Maybe make each segment DNS1123? I just want to use the least powerful characters for the url segments. I think DNS1123 is the most stringent string validation we have. I want to reserve special characters for purposes like string substitution.

[2017-10-17 22:39] vishh opened #54100 "TestPodContainerDeviceAllocation is flaky"
Unit test `k8s.io/kubernetes/pkg/kubelet/cm TestPodContainerDeviceAllocation`

Failure log
[code]

[2017-10-17 22:42] yujuhong commented on #54097
@dchen1107 what's the version of the kubelet?

[2017-10-17 22:54] yujuhong commented on #54090
Also need to remove dockershim's dependency on docker at startup.

[2017-10-17 22:56] dims opened #54101 "NewNvidiaGPUManager should not depend directly on Docker libdocker.Interface"
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/gpu/nvidia/nvidia_gpu_manager.go#L63

[code]

Related to https://github.com/kubernetes/kubernetes/issues/54090

[2017-10-17 22:57] dims commented on #54101
/cc @kubernetes/sig-node-bugs  @dchen1107

[2017-10-17 22:57] dims commented on #54101
/sig node

[2017-10-17 22:57] dims commented on #54101
/kind cleanup

[2017-10-17 23:03] fejta-bot opened #54102 "pr:pull-kubernetes-e2e-gce-gpu flaked 43 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-gpu
 Flakes in the past week: **43**
 Consistency: **95.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 34 |
| [sig-scheduling] [Feature:GPU] run Nvidia GPU tests on Container Optimized OS only | 15 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-10-17 23:03] fejta-bot opened #54103 "Failure cluster [383b71...] failed 74 builds, 31 jobs, and 454 tests over 1 days"
### Failure cluster [383b71a24c3d619f44dd](https://go.k8s.io/triage#383b71a24c3d619f44dd)
##### Error text:
[code]
##### Failure cluster statistics:
454 tests failed,    31 jobs failed,    74 builds failed.
Failure stats cover 1 day time range '16 Oct 2017 21:44 UTC' to '17 Oct 2017 21:44 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] ResourceQuo

[2017-10-17 23:03] jenciso commented on #42306
@zBurrito Sorry for the delay, But what I meant by that with "K8S IP service" is that only way for work heketi into a description yaml file for create a storage class, is using heketi IP and it isn't possible to use the DNS name like to heketi.kube-system.svc.cluster.local

[2017-10-17 23:13] yujuhong commented on #54101
related: #43240

[2017-10-17 23:20] jpbetz opened #54104 "Shared home for k8s resource type information?"
For both [auger](https://github.com/jpbetz/auger) and a declarative application management tool prototype @monopole has been working on, there is a need to depend on the resource type information in the main kubernetes repo:
- `k8s.io/kubernetes/pkg/api` (for `api.Registry` and `api.Codecs`)
- `k8s.io/kubernetes/pkg/kubeapiserver/options` (which registers the "" group on init)

Currently, the only

[2017-10-17 23:27] alahijani commented on #24873
Combining other answers, this is what I came up with for bash:

[code]

[2017-10-17 23:35] #54098 closed

[2017-10-17 23:39] julianvmodesto commented on #25238
@bgrant0607 should .spec.replicas be the exception?

I ran into the issue @ichekrygin described as well (`kubectl apply` with replicas + then `kubectl apply` without replicas => replicas set back to 1) , and it's not well documented nor intuitive. The expected behavior @ichekrygin described seems more intuitive, if there are no issues.

[2017-10-17 23:40] caseydavenport commented on #53906
@boeboe oh yes, I see what you mean.  Thanks for clarifying.

[2017-10-17 23:52] leblancd commented on #53835
@danehans Yes, I added the [Feature:Networking-IPv6][Experimental] test case with PR #53384. My expectation was that none of the gating tests would be running anything marked [Experimental]. This would explain the 3rd test failure, but I don't think it's related to the first to affinity test errors.

[2017-10-17 23:55] liggitt commented on #53906
the objects as seen internally by the validation code are:
[code]

note the ingress rule `From` field is nil on the left and an empty (but non-nil) slice on the right

this is the troublesome line:

https://github.com/kubernetes/kubernetes/blob/0a69594976467a56597ad805585b1947d8b4cec0/pkg/apis/extensions/v1beta1/conversion.go#L337

which initializes the From field to an empty slice when converting

[2017-10-17 23:59] mtanino opened #54108 "After device is attached, devicepath of FC and iSCSI plugin are empty"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**:

FC and iSCSI plugins have attacher interface, these plugins need to run attach operations at kubelet node. Therefore attach operations are called during `volumeAttacher.WaitForAttach()` call currently.

`WaitForAttach()` is called during `GenerateMountVolumeFunc()`, and in this method even if plugin attaches a volume

[2017-10-18 00:07] julianvmodesto commented on #25238
Also, it seems to be a bug that `kubectl apply —dry-run` will not expose the unexpected behavior. That is, dry running doesn’t show that the apply will scale the deployment down to 1.

[2017-10-18 01:19] ddysher commented on #54011
@ScorpioCPH  I think the goal of this issue is to see if we can converge the effort. Do you have a functionality-wise comparison of the two projects?

[2017-10-18 01:23] Rev1408 commented on #50111
Hi,

I see the issue again, I upgraded my kubernetes and none of the kubernetes services are up

[code]

[code]

[code]

[2017-10-18 01:26] dims commented on #50111
Did you see the error on the last line?
[code]

It's the first item in the changelog in the "Before Upgrading" section":
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md#before-upgrading

[2017-10-18 01:35] Rev1408 commented on #50111
@dims  Thanks for the response. I accidentally ran apt-get -y upgrade which updated kubernetes
now i ran `kubelet --fail-swap-on=false`
API server is down

[code]

I see this printing continuously
[code]

[2017-10-18 01:51] tianshapjq commented on #54103
/sig test

[2017-10-18 01:53] julianvmodesto commented on #25238
Btw the workaround if the initial Deployment set `.spec.replicas` is to use `kubectl apply set-last-applied -f <replicaless Deployment>` before `kubectl apply -f <replicaless Deployment>` to correctly set the last-applied annotation used in the merge, as in this e2e test: https://github.com/kubernetes/kubernetes/pull/42545/files.

[2017-10-18 01:57] tianshapjq commented on #54101
this may help for detecting the gpus: [Add per container GPU metrics](https://github.com/google/cadvisor/pull/1762)

[2017-10-18 01:58] ligc commented on #31018
We have similar situation, our several enterprise docker registries are in different datacenters, all the docker registries are synced automatically, the Kubernetes nodes pull images from the docker registry in its local datacenter by default, but when the registry in the local datacenter fails, we would like to have kubernetes automatically switches to the docker registries in remote datacenters.

[2017-10-18 01:58] ScorpioCPH commented on #54011
@ddysher Yes, I am still working on this, just post some logs here FYI.

[2017-10-18 02:05] flx42 commented on #54011
We don't have a plan for convergence today, but I'm happy to help the other effort for the time being. Health check is a critical piece and one example where our current device plugin requires more work.

[2017-10-18 02:09] WanLinghao commented on #21648
@smarterclayton i am working with set volume

[2017-10-18 02:13] tianshapjq commented on #54090
/cc

[2017-10-18 02:46] resouer commented on #54090
Allow me to take a deep look on this, cc @yujuhong

[2017-10-18 02:51] shiywang commented on #21648
@mengqiy @kargakis I would like to pick up the last `security` if no one already did.

[2017-10-18 02:52] resouer commented on #54101
We already have plan which targets at 1.10 cycle: https://github.com/kubernetes/kubernetes/issues/54012

[2017-10-18 02:55] resouer commented on #43240
close in favor of https://github.com/kubernetes/kubernetes/issues/54090

[2017-10-18 02:55] #43240 closed

[2017-10-18 02:57] julianvmodesto commented on #43886
Could we also add a task to add documentation for these commands?

[2017-10-18 03:00] resouer commented on #53395
That's why I'm asking, checkpoint logic should be extracted: https://github.com/kubernetes/kubernetes/pull/54085

[2017-10-18 03:01] tianshapjq commented on #54012
/cc

[2017-10-18 03:02] shiywang commented on #43886
@julianvmodesto sure, what kind of document do you want ? the basic workflow of those four command are [here](https://github.com/pwittrock/community/blob/572c1e0a26a05892c9ecbbf0dbf6b067677cdc32/contributors/design-proposals/sig-cli/kubectl_apply_getsetdiff_last_applied_config.md#example-workflow-to-stop-managing-a-field-with-apply---using-getset).

[2017-10-18 03:18] andyzhangx commented on #53138
@ITler It's already fixed in master & cherry-pick to v1.7
https://github.com/kubernetes/kubernetes/pull/50673
https://github.com/kubernetes/kubernetes/pull/52962
Could you close this issue? thx

[2017-10-18 03:19] andyzhangx commented on #52812
@Xorecs  It's already fixed in master & cherry-pick to v1.7
https://github.com/kubernetes/kubernetes/pull/50673
https://github.com/kubernetes/kubernetes/pull/52962
Could you close this issue? thx

[2017-10-18 03:19] julianvmodesto commented on #43886
Ahh, I do like the example workflows in that doc.

Would be great to have an article similar to this one, since these commands are related to declarative app config:
https://kubernetes.io/docs/tutorials/object-management-kubectl/declarative-object-management-configuration/

i.e. the replicaless Deployment workflow above doesn't make it clear that the last-applied annotation needs to be set properl

[2017-10-18 03:44] gyliu513 commented on #53859
+1 to close this and move all the discussion there.

@dixudx can you please help post a summary of the discussion to that issue and close this one?

/assign @dixudx

[2017-10-18 04:10] abitrolly commented on #51850
Let me explain once more what am I trying to achieve. I'd like to run pod and wait for it to start to get the POD_NAME for subsequent queries. This doesn't work right now, because `kubectl run` exits immediately without waiting.