[2018-05-23 01:01] huguesalary commented on #64176
/sig node

[2018-05-23 01:04] krzyzacy commented on #64158
@liggitt I forgot how did we handle this in 1.10? I thought we also disabled the test in the past release to work around, instead of use ginkgo skip, maybe you can confirm.

[2018-05-23 01:07] mtaufen commented on #43932
/remove-lifecycle rotten

[2018-05-23 01:12] liggitt commented on #64158
like this: https://github.com/kubernetes/kubernetes/pull/61135/files#diff-e4236fde991a93836f485ce2d85ef8aa

[2018-05-23 01:17] krzyzacy commented on #64158
ah, great, thanks!

[2018-05-23 01:30] buddyledungarees commented on #64120
No, we do not set any fsGroup or other security context configs in our deployment yaml.

We use docker version 1.13.1:
[code]

kubelet is running directly on host per kops' deployment.

[2018-05-23 01:31] buddyledungarees commented on #64120
Here is the configMap itself:
[code]

[2018-05-23 01:48] liggitt commented on #59151
As noted before, I think an opt-in strict mode is a good feature. Absent that, the current behavior is more compatible.

New fields are typically added to allow control over a previously implicit behavior, with a default value that matches the previously implicit behavior. Just taking our Pod type, there are several cases:
* `pod.spec.containers[*].terminationMessagePolicy` was added with a backwa

[2018-05-23 02:20] #63351 closed

[2018-05-23 02:23] 372046933 commented on #48798
May 23 10:19:45 arch kubelet[13585]: E0523 10:19:45.909458   13585 kubelet.go:2095] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized
May 23 10:19:46 arch kubelet[13585]: E0523 10:19:46.002646   13585 helpers.go:468] PercpuUsage had 0 cpus, but the actual number is 8; ignoring extra CPUs

`sudo

[2018-05-23 02:26] roycaihw commented on #63941
From @jennybuckley 's PR that solves the race condition https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61057/pull-kubernetes-e2e-gce/36465/#sig-api-machinery-garbage-collector-should-support-cascading-deletion-of-custom-resources:

Owner RC deletion was initiated at:
[code]

GC started resync at:
[code]

E2E 60s timeout exceeded and CRD got deleted at:
[code]

Resync comp

[2018-05-23 02:26] schollii commented on #36304
aggregation/compaction should be a view-side decision, ie there should be a switch to say whether events should be compacted or not, so I could do kubectl get events --no-compaction or kubectl describe pod/whatever --events-no-compaction; if there are too many events I can easily pipe the output of a non-compacted event list and filter, sort, etc

[2018-05-23 02:35] liggitt commented on #64152
That is not applicable to CRD objects. Custom printing is on the roadmap (https://github.com/kubernetes/kubernetes/issues/58682) but not implemented yet.

/close

[2018-05-23 02:35] #64152 closed

[2018-05-23 02:46] mtsmfm commented on #47990
Hmm, I still got the same result.

[code]

### Environment:

Kubernetes version (use kubectl version):
[code]
OS (e.g. from /etc/os-release): macOS Sierra 10.12.6
Kernel (e.g. uname -a):
[code]

(Ran uname -a in nginx pod)
Others: Docker for Mac Version 18.05.0-ce-mac66 (24545) edge channel

[2018-05-23 02:53] swapnilgm commented on #64152
Oh. Thanks you @liggitt  for correcting me. I thought it was applicable to CRD as well.

[2018-05-23 02:54] liggitt commented on #63941
That seems excessive. Can we see what other api calls are made in that time period from the garbage controller? These flakes shot up around 5/16… is something else in the controller manager starving the client?

[2018-05-23 03:02] feiskyer commented on #57304
@andyzhangx Has the issue been resolved now?

[2018-05-23 03:32] jayunit100 opened #64178 "resolv.conf instability when PodSandbox sync fails."
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

What happened:

This is a re-hash of #52655 , I've seen network instability as well in a few customer clusters over time, although I'm not sure this was exactly causing it, and this looks like one of a few possible leads.

The issue was noticed when some containers stopped being able to resolve cluster addresses. After a docker daemon restart,

[2018-05-23 03:36] jayunit100 commented on #64178
/sig node

[2018-05-23 03:47] liggitt commented on #63941
also, at least some of the failures are occurring during the *setup* portion of the garbage collector tests:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce&test=Garbage%20collector#f82c8370aafb26149f88

that shows 283 failures in test setup with the replication controller failing to even create the pods, prior to even exercising garbage collection

[2018-05-23 03:56] apelisse commented on #59151
Right, as you say, that's backward compatible. An object written for 1.X will have the same behavior in 1.(X+1). It's very important. We should probably focus on that rather than forward compatibility.
My configuration from 1.X will certainly NOT have the same behavior in 1.(X-1) if some fields are silently dropped, and we don't know what the consequences might be (even more so for CRDs)

Now, I u

[2018-05-23 04:00] MrHohn commented on #64124
One thing to note, we used to have validation logic to disallow mixing the usage of beta annotation and api field. But to workaround the 1.8 master with 1.6 nodes case, users have to specify both beta annotation and api field (for ESIPP) on service.

Directly reverting #50224 might break them again. And rewriting those logic could be risky (unexpected side effect).

[2018-05-23 04:14] smarterclayton commented on #59151
Our API guarantee is that we never add new fields that don't have a default.  So the forward compatibility case you describe 1.X lacking a field from 1.(X-1) is already an error.  Our existing pattern (consistency of API behavior over everything) is to silently drop that field at the API.  Our client behavior is to default to validate=true.  A client can absolutely perform stricter validation.  A

[2018-05-23 04:17] netdisciple commented on #48219
me too

[2018-05-23 04:18] smarterclayton commented on #59151
If we enforced strict at the API server level, we'd also have to wait to apply strict validation until after all API servers were upgrade, because otherwise we could store an object in etcd that a client couldn't update.  Or we'd have to drop those fields coming out of etcd (which we do today) until we knew all apiservers were updated.

[2018-05-23 04:39] feiskyer commented on #60180
/remove-lifecycle stale

[2018-05-23 04:39] feiskyer commented on #60180
PR  #62266 fixes this.

[2018-05-23 04:51] liggitt commented on #63941
After diggin more, it's not discovery that is slow... apiserver logs show that taking ~1 second (see below), and when the GC controller logs "syncing garbage collector with updated resources from discovery", discovery has already completed

[code]

there's a lot of changes in that PR... for the moment, I think I'd rather stick to debugging the code that was relatively flake-free prior to 5/16

[2018-05-23 05:01] #57510 closed

[2018-05-23 05:03] huguesalary commented on #64176
This is also happening on
- 1.9.7-gke.1
- 1.9.7-gke.0
- 1.9.6-gke.1

Which makes me think the issue might not be with k8s but something else

[2018-05-23 05:26] shubheksha commented on #64166
/sig storage
/sig cli

[2018-05-23 05:42] rramkumar1 commented on #63351
/close

[2018-05-23 05:53] Lion-Wei commented on #63351
Cases are green now. :tada:

[2018-05-23 06:28] hzxuzhonghu commented on #64168
/assign

Will create a pr to fix it soon.

[2018-05-23 06:36] nikhita commented on #58577
/remove-lifecycle rotten

[2018-05-23 06:40] amitman1810 commented on #57673
@gabrielfsousa  Do you mean to say that after running "kube init" on first master server, we need to copy  front-proxy-certs  also along with ca* & sa* certs on other 2 masters, before executing "kube-init" on other masters ?

[2018-05-23 06:43] feiskyer commented on #63994
@johscheuer Could you elaborate the detailed steps to reproduce the issue? thanks

[2018-05-23 06:59] WanLinghao opened #64182 "kubectl set subject --all bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
kubectl set subject is designed to set the user/serviceaccount in rolebinding/clusterrolebinding object.
However, the --all option is invalid. For example:
`kubectl set subject rolebinding --user=foo --namespace=foo-ns  --all`
Command above should update every rolebinding object in namespace foo-ns, but it would update j

[2018-05-23 07:07] Lion-Wei commented on #59662
@rramkumar1 I think all issue/pr in this list have been solved(except #57841, not sure we should do this, since iptables part#60074 not merged yet),
Finially we can make ipvs GA. :grinning:

[2018-05-23 07:10] alexander-yu commented on #60601
From my understanding, I think workqueue has metrics for times between `Get()` and `Done()` calls actually, so that's convenient. Would it make sense to add some method to the [queueMetrics interface](https://github.com/kubernetes/client-go/blob/master/util/workqueue/metrics.go#L27) (and/or the `defaultQueueMetrics` struct in the same file by extension) that checks whether or not the queue is bloc

[2018-05-23 07:19] ailusazh opened #64185 "Add a new check to PodFitsResources to guarantee the pod limits must be less than the selected node's allocatable resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
When we create a burstable type pod, the pod requests may be much more smaller than the pod limits. If the other predicate conditions satisfied and the pod limits exceed the node's allocatable resource, currently the scheduler predicates can also pass.

**What you expected to happen**:
I think the limit is the larges

[2018-05-23 07:27] nikhita commented on #53459
/remove-lifecycle stale

[2018-05-23 08:10] pratapaprasanna commented on #62026
kube-dns will always be in pending state unless you use some networking in the back-end it can be calico or flannel etc...

[2018-05-23 08:23] alinbalutoiu opened #64188 "CNI gets called for all containers in the sandbox case"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
On Windows Server with sandbox support the CNI gets called for all the containers within the pod including the sandbox container itself.

**What you expected to happen**:
The CNI should be called only for the sandbox container since they share the same network details.

**How to reproduce it (as minimally and precisely as

[2018-05-23 08:28] nodefactory-bk commented on #51835
Just had one app get stuck in terminating.
Here is kubectl describe pod with secrets redacted:
[code]

Not sure where to find kubelet.log in gke on googles images. Found something that I'm attaching.
[kube.log](https://github.com/kubernetes/kubernetes/files/2030116/kube.log)

`kubectl -n shsp-cloud-dev delete pod sharespine-cloud-6b78cbfb8d-xcbh5 --force --grace-period  0`
killed it and removed it

[2018-05-23 08:31] nodefactory-bk commented on #51835
Mind you, this doesn't happen EVERY time for that app.
I'd say roughly 1/4 times probably.

[2018-05-23 08:34] dixudx commented on #48219
Guys, I filed #63910 to solve this issue. Please help review it.

[2018-05-23 08:36] k82cn commented on #64185
/sig node

[2018-05-23 08:40] jsafrane commented on #56704
@jingxu97 I worked around it in #63579

[2018-05-23 08:44] t3hmrman commented on #45922
Seems like this would be a good fit for a [`kubectl` plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/)

[2018-05-23 09:00] shubheksha commented on #64182
/sig cli

[2018-05-23 09:03] robdewit commented on #52655
I think I have found the cause for this (in our situation at least).
We have /var/lib/docker symlinked to another file system and Kubelet running in docker container.
When Kubelet starts the pod container, it checks the resolv.conf in the container directory. This directory is expanded, so /var/lib/docker become /mnt/volume/docker. That path was not mounted into the Kubelet container so then Kubel

[2018-05-23 09:19] kaspernissen commented on #64137
/sig node

[2018-05-23 09:19] k82cn commented on #64185
Can you share your log? I tested it locally, it works with following limits.

@kubernetes/sig-node-bugs , any ideas on the behaviour when limits is bigger than capability of node?

[code]

Refer to the following output for the detail:

[code]

[code]

**OS**: `Linux wgl-ubuntu 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
**k8s version**:
[code]
**D

[2018-05-23 09:20] k82cn commented on #64185
PS: not sure whether that's a bug, seems no sig-node-misc group :)

[2018-05-23 09:31] orinciog commented on #31307
@gmile No, I didn't resolved kubernetes like.

My solution was just like yours: to put a nginx in front and fwd all packets from 80 to ingress port.

[2018-05-23 10:03] iliketosneeze commented on #60987
@lukmanulhakimd that did help with removing them, but then new volume mounts failed as the host was stuck in uninterruptable I/O. I had to cold cycle to nodes in the end.

[2018-05-23 10:29] ailusazh commented on #64185
Yeah, I noticed that too. For the community versions, it works fine.
 In our environment, we made customizations and limited the cpu subsystem of cgroup of kubepod to the node allocatable value.  Then cause the error in the case that settting a cpu.cfs_quota_fs value which is bigger than the node allocatable value  to container level cgroup.
So I don't think this is a bug, but we still hope the co

[2018-05-23 10:31] xiaoxubeii commented on #62628
/close

[2018-05-23 10:31] #62628 closed

[2018-05-23 10:37] DrewEaster opened #64192 "CronJobs not showing as failed in GKE UI when job fails due to `DeadlineExceeded`"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

I have some CronJobs with job templates configured with active deadlines. If a job runs beyond its active deadline, k8s terminates it as expected. I can query the job via kubectl and see the failure reason:

[code]
However, when I look at the GKE UI, it shows the CronJob status as `OK` and, when I drill into t

[2018-05-23 10:39] xiaoxubeii commented on #64119
I will check the problem.

[2018-05-23 10:39] xiaoxubeii commented on #64119
/assign

[2018-05-23 10:41] DrewEaster commented on #64192
/sig gcp

[2018-05-23 11:34] lurenjia528 opened #64193 "kube-proxy iptables-restore conntrack ERROR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind request
/sig network

arm64 ubuntu
**What happened**:
E0523 18:32:14.075223       1 proxier.go:792] Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line 7 failed)

Failed to delete stale service IP 10.96.0.10 connections, error: error deleting connection tracking state for UDP service IP: 10.96.0.10, error:

[2018-05-23 11:45] OndraZizka opened #64194 "Link to `kubernetes cp` docs dead"
kind/bug

https://kubernetes.io/docs/reference/kubectl/kubectl/
leads to
https://kubernetes.io/docs/reference/kubectl/kubectl/kubectl_cp.md
which is 404.

[2018-05-23 11:51] OndraZizka opened #64195 "`kubectl cp --as=root` does not act as root"
/kind bug
/sig apps

**What happened**:
--as=root seems not to have any effect:
[code]

**What you expected to happen**:
As per the [documentation](https://kubernetes.io/docs/reference/kubectl/kubectl/kubectl_cp.md), --as=root should make root the "Username to impersonate for the operation".
Instead, it runs as non-root.

**How to reproduce it (as minimally and precisely as possible)**:
Create a p

[2018-05-23 11:53] #63300 closed

[2018-05-23 11:53] #64147 closed

[2018-05-23 11:53] #61821 closed

[2018-05-23 12:04] lurenjia528 opened #64197 "kube-dns sidecar ERROR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind request
/sig network

why  kubedns's parameter "--domain"(I0523 09:27:18.970487       1 server.go:113] FLAG: --domain="cluster.local.") not use my kube-dns.yml 's parameter "--domain"
cluster.local     the last add a "."?

when I enter a container ,cat /etc/resolv.conf
nameserver 8.8.8.8
nameserver 8.8.4.4

don't have "search default.s

[2018-05-23 12:30] geoand commented on #64089
@liggitt What @iocanel means if I am not mistaken has nothing to do with `kubectl`.

The requested feature is about having Kubernetes inject new environment variables into each pod that would provide the Kubernetes distro and version.
This information could also perhaps be in a some file under `/var/run/kubernetes` instead of / in addition to being in environment variables.

The point of the reque

[2018-05-23 12:31] k82cn commented on #64185
In this case, I'd suggest to customize scheduler or use scheduler extender (maybe) for your environment; instead of a patch to upstream.

Your case seems reasonable; but we need to make scheduler and node/agent align.

[2018-05-23 12:34] liggitt commented on #64089
ah. that is discoverable today via `https://kubernetes.default.svc/version`

I wouldn't anticipate that being added as envvars

[2018-05-23 12:36] geoand commented on #64089
@liggitt Exactly, we would like to avoid having to make a network call in order to retrieve such information.

If not envvars, perhaps adding the information to a `/var/run/kubernetes` file?

[2018-05-23 12:36] liggitt commented on #64195
`--as` controls the username used to make the API request. it has no bearing on the uid processes are run as inside the container.

/close

[2018-05-23 12:36] #64195 closed

[2018-05-23 12:41] b1zzu commented on #55488
Hi @justinsb, I have tried to reproduce this bug on the latest version ( v1.9.9-beta.0 ):
[code]
but as you can see it works fine for me, do I have to do something else?

[2018-05-23 12:46] OndraZizka opened #64199 "`kubectl cp <pod>:/foo/bar ...` does not copy the directory but `/` instead"
/kind bug
/sig apps

**What happened**:
`kubectl cp <pod>:/foo/bar ./bar does not copy the directory but `/` instead:
[code]

**What you expected to happen**:
As per the documentation, this should copy the `/foo/bar` directory to local filesystem.
Instead, it tries to copy files from `/` (root dir). Together with issue #64195, this makes it a critical issue because it's not possible to copy the co

[2018-05-23 13:10] hmarcelodn commented on #64108
Hey can we get any answer on this? This is a very critical one... Any suggestion @islinwb ? Please refer to my issue https://stackoverflow.com/questions/50479212/kubernetes-nodelost-notready-high-io-disks?noredirect=1#comment87974672_50479212

[2018-05-23 13:10] wojtek-t commented on #60097
/remove-lifecycle stale
/lifecycle frozen

[2018-05-23 13:20] shubheksha commented on #64194
@OndraZizka, kubernetes docs live in a separate repo. Can you please file this [there](https://github.com/kubernetes/website/issues/new)?

[2018-05-23 13:29] tuminoid commented on #51835
Hitting this with k8s 1.9.6, when kubelet is unable to umount Cephfs mount, all pods on the node stay Terminated forever. Had to restart node to recover, kubelet or docker restart did not help.

[2018-05-23 13:31] pmichali commented on #63208
@grayluck  I updated my Kubernetes to 1.10.3, and then started up a cluster on bare-metal, with IPv6 only mode.  On kube-proxy, it shows that conntrack is running 1.4.4.

[code]
However, during the test run, we still see the failure.
[code]

I know that the conntrack maintainer mentioned that 1.4.5 resolves the issue, and I have verified that manually, but it appears that 1.4.4 does not have the f

[2018-05-23 13:55] MikeSpreitzer commented on #63608
OK, I tried again with etcd NOT using TLS (neither client/server nor server/server).  I still got a "timeout" error.

[code]

[code]

[2018-05-23 13:59] amritb commented on #64108
Same here - happening for a couple of months now. We also created a support ticket **118021917667610**. But the support engg never got reply from backend devs.

[2018-05-23 14:36] liggitt commented on #64089
since the information is already available via an API, I don't think the complexity of adding options for also injecting it into containers is warranted

[2018-05-23 14:40] dprotaso opened #64203 "kubectl apply when reading multiple files should order CRUD operations properly"
/kind bug

**What happened**:

When I `kubectl apply -R  -f test/` and I have several numerous k8s objects in different files. It could fail to apply due to the file ordering.

**What you expected to happen**:

All the objects should be created.

**How to reproduce it (as minimally and precisely as possible)**:

Create a `test` directory containing two files

[code]

pod.yml contains

[code]

z-na

[2018-05-23 14:42] prafull01 commented on #64073
If anyone have a workaround or any pointers, it would be a great help. Thanks in advance.

[2018-05-23 14:43] milosgajdos83 commented on #61901
We have noticed similar problem with exactly the same symptoms as described in this issue.

As @arminmor mentioned in his description we too have noticed exactly the same `calico-node` errors in the logs when multiple instances of `kube-proxy` are found on the worker nodes.

This makes me think if there is some kind of correlation in cause->effect fashion i.e. `calico-node` experiences issues whic

[2018-05-23 15:00] andrewwatson opened #64205 "kubectl patch should have a cli flag for ignoring failures when the patch was not needed"
I'd like to be able to tell the difference between a hard failure and a "patch not necessary" failure in my CI environment and I'd rather not parse the output from kubectl.  It would be helpful if, through the use of a cli flag, I could ask kubectl to return something other than a 1 if it didn't perform the patch because it wasn't necessary.

/sig feature-requests

[2018-05-23 15:07] embano1 commented on #64021
I am little bit hesitant on changing the labels of the kubelet VM after a vMotion/HA operation. Some questions that come to my mind:

- What happens to the scheduler logic (cache) if you update kubelet labels? Is there a unit test already proving it works as expected?
- What happens to pods if placement policies, e.g. anti-affinity are violated after a vMotion and label adjustment? We have to keep

[2018-05-23 15:12] fengpinghu opened #64206 "kube-apiserver failed to start after adding oidc parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
after adding the oidc parameters, the kube-apiserver pod remains  failing to start.
kube-apiserver starts ok after those lines are removed.
**What you expected to happen**:
kube-apiserver start with the oidc parameters added
**How to reproduce it (as minimally and precisely as possible)**:
added following lines to kube-ap

[2018-05-23 15:13] carlory opened #64207 "user shouldn't grant extra privileges"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A user grant extra privileges

**What you expected to happen**:

A user shouldn't  grant extra privileges

**How to reproduce it (as minimally and precisely as possible)**:

YAML:  test.yaml

[code]

1. the `test` user cannot list pods
[code]
2. create role and binding

[code]

3. try listing pods

[code]

4. bind cluste

[2018-05-23 15:29] MikeSpreitzer commented on #63608
The etcd cluster should have no trouble with that write rate.

[code]

[2018-05-23 15:29] fengpinghu commented on #64206
/sig oidc

[2018-05-23 15:35] rramkumar1 commented on #59427
All relevant action items have been addressed.
/close

[2018-05-23 15:35] #59427 closed

[2018-05-23 15:37] rramkumar1 commented on #59656
@fasaxc If this problem was indeed not fixed, please reopen.
/close.

[2018-05-23 15:37] rramkumar1 commented on #59656
/close

[2018-05-23 15:39] rramkumar1 commented on #60305
@ryarnyah This issues should be fixed now. Please reopen if you do not think it is.
/close

[2018-05-23 15:44] rramkumar1 commented on #63985
@m1093782566 Can you take a look please?

[2018-05-23 15:44] rramkumar1 commented on #63241
/assign @m1093782566

[2018-05-23 15:49] micahhausler commented on #64148
Yea this looks like a bug. Thanks for opening this.

[2018-05-23 15:49] msau42 commented on #60177
/remove-lifecycle stale

[2018-05-23 16:06] #63878 closed

[2018-05-23 16:06] #61653 closed

[2018-05-23 16:06] liggitt commented on #57897
this is a duplicate of #58545, fixed in #58547

delete watch events now have the current etcd index, not the last index of the resource

this is fixed in v1.8.8+, v1.9.3+, and v1.10.0+

/close

[2018-05-23 16:06] #57897 closed

[2018-05-23 16:10] dims commented on #63608
@MikeSpreitzer try tweaking `request-timeout` and `min-request-timeout`?

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go#L146-L155

[2018-05-23 16:19] verb commented on #45922
@t3hmrman oh that's neat, I didn't know about the plugins, I don't think they were around when I first added `kubectl alpha` to support this sort of thing. Thanks for the heads up, I'll dig into the plugins docs.

/remove-lifecycle stale

[2018-05-23 16:47] jingxu97 commented on #62817
I checked the log provided by @venilnoronha, as @orainxiong mentioned, somehow reconciler at the master didn't start to attach immediately. However there is no other logs indicating what is the reason. @abrarshivani I suggest to higher the log level and have some tests so we can have more information to debug.

[2018-05-23 17:04] kavehmz opened #64212 "ip-masq-agent does not set the rules correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a GKE cluster which master and nodes are both at `1.10.2-gke.1`.

I wanted to set ip-masq based on the following document:

https://kubernetes.io/docs/tasks/administer-cluster/ip-masq-agent/

This is something I have done in older version of kubernetes with no issue.

After setting my config as:

[code]

I see in

[2018-05-23 17:10] #64212 closed

[2018-05-23 17:16] liggitt commented on #64207
the test role grants all verbs on the cluster-admin clusterrole resource:
[code]

that includes the `bind` verb, which is checked when the user attempts to bind the cluster-admin clusterrole

from https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping:

if you don't want the user to be able to bind the cluster-admin role, do not grant them all verbs

[2018-05-23 17:16] #64207 closed

[2018-05-23 17:18] liggitt commented on #64203
duplicate of #16448 #44511

/close

[2018-05-23 17:18] #64203 closed

[2018-05-23 17:22] liggitt commented on #64206
is `/etc/kubernetes/ssl/ca.pem` available within your apiserver pod?

does `curl --cacert /etc/kubernetes/ssl/ca.pem https://xxx.xxx.xxx.xxx:32000/dex` successfully connect?

[2018-05-23 17:22] liggitt commented on #64206
/sig auth
/assign @ericchiang

[2018-05-23 17:27] MikeSpreitzer commented on #63608
I added `--request-timeout=47s` to the loaded api-server's command line, and still got 10s timeouts.

[code]

[2018-05-23 17:28] pv93 commented on #33777
Why doesn't it trigger a scaleup then @chrissound?? Do I have to make sure that any pods I run on a given node request less than what the system pods have already taken up?

[2018-05-23 17:33] ericchiang commented on #64206
[code]

This seems like an issue with static pods, possibly https://github.com/kubernetes/kubernetes/issues/48219

Does your API server start? Do you have logs from that? Did you modify your static manifest in place? If so what happens when you just start the API with the flags instead of modifying an existing static manifest?

[2018-05-23 17:34] ericchiang commented on #64206
ref https://github.com/kubernetes/kubernetes/pull/63910

It seems like you've got a numeric file created by vim

[code]

[2018-05-23 17:35] liggitt commented on #64168
for now, it's a documentation bug. can we fix the docs while we're ironing out whether we can support all the downward API fieldpaths in the volume source?

[2018-05-23 17:44] MikeSpreitzer commented on #63608
The doc string for `min-request-timeout` seems to say it is irrelevant for POSTs.

[2018-05-23 17:59] tammersaleh commented on #64168
I think that's the right approach.  Fix the docs (relatively easy), maybe link to the PR, and then add the feature and update the docs.

[2018-05-23 18:07] msau42 commented on #51835
@tuminoid the ceph issue sounds different. Could you open a new issue and also provide Pod events and kubelet logs for that pod?

[2018-05-23 18:16] cristiadu commented on #27010
Oh cmon guys, I really wanted that one.

[2018-05-23 18:18] cblecker commented on #39696
/remove-lifecycle rotten

[2018-05-23 18:28] JasonvanBrackel opened #64217 "kubectl describe ingress does not include annotations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:

kubectl describe ing/_ingressname_ does not include annotations.

**What you expected to happen**:

Annotations would be included in the same way they are with objects like services.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:

[2018-05-23 18:37] bgrant0607 commented on #62161
Serial and slow is fine. Flaky tests shouldn't be part of conformance

[2018-05-23 18:37] shubheksha commented on #64199
/remove-sig apps
/sig cli

[2018-05-23 18:46] fengpinghu commented on #64206
Hi Jordan,

Thanks for the quick reply. You are right. I am new to the kubernetes world
and somehow assumed the pod can see the file on the host.
I just got that mounted and everything is good now.

As a side note the error msg seems is a little off in this case otherwise
it could be a more straightforward problem for a normal user.

Thanks,
Fengping

On Wed, May 23, 2018 at 1:24 PM, Jordan Liggit

[2018-05-23 18:52] fengpinghu commented on #64206
Thanks Eric, at one point I thought that was the problem too but my
manifest directory is clean.
as I replied to Jordan, the only complain from me is the error msgs seems
off.

in this case, /etc/kubernetes/ssl/ca.pem file is not accessible because I
didn't mount the volume, but the error msg somehow is complaining about
/etc/kubernetes/manifests/4913 file not accessible.

Thanks,
Fengping

On Wed

[2018-05-23 18:52] ericchiang commented on #64206
Awesome. I'm going to close this in favor of #48219 and #63910 which are opened to address this issue.

/close

[2018-05-23 18:52] #64206 closed

[2018-05-23 18:56] roycaihw commented on #63941
I think I used the wrong term. The API discovery was fast, it was the [monitor resync](https://github.com/jennybuckley/kubernetes/blob/9a4c6ab95f722732fd4f4095a30a2d19f361eecc/pkg/controller/garbagecollector/garbagecollector.go#L254) taking a long time. The resync completed at
[code]

FWIW, I suspected if the un-closed go routines overwhelmed apiserver by polling api discovery, and made the resync

[2018-05-23 19:00] MikeSpreitzer commented on #63608
However, making the client specify a timeout of 17 sec warded off the problem --- according to my first and only trial so far.

[code]

[2018-05-23 19:01] andrewsykim commented on #57130
I'm in favour of this, I think a reasonable first step we can do now is to allow updates on `node.Spec.PodCIDR`, right now it's an immutable field so people can't remove it from their node objects which makes things confusing when you're trying to move to a solution that no longer relies on the field. Any objections if I open a PR that would allow `node.Spec.PodCIDR` to be removed?

[2018-05-23 19:12] kdomanski opened #64220 "Azure SubscriptionNotFound is silently changed to cloudprovider.InstanceNotFound"
/kind bug
/sig azure
/area platform/azure

**What happened**:
When Azure returns SubscriptionNotFound from the API, kubelet logs say `Unable to construct v1.Node object for kubelet: failed to get external ID from cloud provider: instance not found`, which is misleading.

**What you expected to happen**:
I'd expected the log output to say e.g. `Unable to construct v1.Node object for kubelet: failed

[2018-05-23 19:18] astub commented on #58614
@brancz Whats the best way to monitor the etcd endpoints if they are not defined? Are your hard coding into the prometheus scrape config?

[2018-05-23 19:51] dougm opened #64222 "vSphere Cloud Provider: add vCenter certificate verification options"
In order for VCP to verify SDK endpoint certificates, the vCenter server certificates must be signed by a known CA.  If a vCenter certificate signer is not trusted, the existing options are to either update the system CA bundle or set `insecure-flag = true` in the `--cloud-config` to disable vCenter certificate verification.

The VCP should provide an optional `ca-file` configuration option, which

[2018-05-23 20:28] pbarker opened #64227 "Missing proto struct tags incompatible with latest golang/protobuf changes"
**What happened**:
Imported proto files and tried to use with latest `golang/protobuf` lib.  https://github.com/golang/protobuf/blob/master/proto/table_unmarshal.go#L331 mandates that all struct fields have proto tags. The TypeMeta fields in kubernetes structs do not contain a proto tag, https://github.com/kubernetes/apiserver/blob/master/pkg/apis/audit/v1beta1/types.go#L145 is a typical example.

[2018-05-23 20:32] ncdc commented on #64227
/sig api-machinery
cc @smarterclayton @sttts

[2018-05-23 20:33] ncdc commented on #64227
Do we need to modify code-generator's go-to-protobuf to fix this?

[2018-05-23 20:46] twilfong opened #64230 "AWS subnet will not be used for new ELB if legacy KubernetesCluster tag appears before new kubernetes.io/cluster tag"
/kind bug

**What happened**:

When you create a new Service of type LoadBalancer in a Kubernetes (v1.9) cluster hosted on AWS with nodes spread across subnets in 3 AvailabilityZones, the new ELB that Kube creates is only enabled for 2 AZs. This happens even though all three subnets have the correct cluster tags, and the same list of tags other than the Name tag.

I've determined that, unfortunate

[2018-05-23 20:49] integrii commented on #45419
We are having this issue bring down nodes on our production clusters.  Pods can not terminate or create.  Kubernetes 1.9.7 with CoreOS 1688.5.3 (Rhyolite) on Linux Kernel 4.14.32 and Docker 17.12.1-ce.  Our CNI is Calico.

containerd's log shows some errors about a cgroup that was requested being deleted, but not directly around the time of error.
[code]

Kubelet shows some interesting lines about

[2018-05-23 20:58] smarterclayton commented on #64227
We explicitly exclude those from serialization.  I'll have to look at the code, but we want type meta not to be serialized on the wire.

[2018-05-23 20:59] smarterclayton commented on #64227
If proto supports `protobuf:"-"` or equiv that's all we would need to do i think.

[2018-05-23 21:00] ncdc commented on #64227
Yeah our generator supports `-` so we can try that

[2018-05-23 21:03] ncdc commented on #64227
Oh their code... Hmm no it requires a protobuf tag on all fields and each tag needs at least 2 comma-separated segments.

[2018-05-23 21:03] pbarker commented on #64227
it'll currently panic on less than two args there https://github.com/golang/protobuf/blob/master/proto/table_unmarshal.go#L330

[2018-05-23 21:03] twilfong commented on #64230
/sig aws

[2018-05-23 21:10] MikeSpreitzer commented on #63608
However, my second trial was much more interesting.  The api-server logged an error on create --- but the client did not!  And the subsequent update and delete operations on the object in question got 404s.

[code]

Here is what the driver logged about that object:
[code]

Here is what the api-server logged around that time:
[code]

[2018-05-23 21:19] liggitt commented on #63982
I can recreate this with the following steps:

1. `kubectl apply` a deployment with a single container named "a"
2. remove the `kubectl.kubernetes.io/last-applied-configuration` annotation from the live API object
3. `kubectl apply` a deployment with a single container named "b"

step 3 tries to apply a patch representing the delta from your last applied list of containers (which is the empty list

[2018-05-23 21:26] Joeskyyy commented on #63982
@liggitt In this case, all the writes are using `kubectl apply` indeed. We in no way we editing the last-applied-configuration, but our manifests of course don't have that inside of them when the apply happens. I figured it was something fishy with that...

[2018-05-23 21:38] liggitt commented on #1615
I don't have any issue with promotion... I primarily cared about maintaining compatible behavior, which the pod spec field did/does.

[2018-05-23 21:52] abrarshivani commented on #62817
@jingxu97 Thanks for taking a look. I have created statefulset and captured the logs once pods were running successfully. I have increased the log level for controller-manager and have uploaded it [here](https://drive.google.com/file/d/15b95rT8O71URcHjEyDU4WFMP2GKycl5G/view?usp=sharing). Let me know if you need anything else.

**Note:**
I found this issue in Kubernetes v1.9.7 and didn't find it in

[2018-05-23 22:03] jaredledvina opened #64234 "kubelet - 1.10.3-00 - segmentation violation code=0x2 addr=0x14c7ba40 pc=0x14c7ba40"
/kind bug

**What happened**:
Brand new HypriotOS 1.9.0 install on a RaspberryPi 3 Model B. Installed `kubeadm`, `kubectl`, and `kubelet` per https://kubernetes.io/docs/tasks/tools/install-kubeadm/. `kubelet` seg faults with:
[code]

**What you expected to happen**:
`kubelet` not to Seg Fault

**How to reproduce it (as minimally and precisely as possible)**:
I believe any new install on ARMv7 host

[2018-05-23 22:16] verult commented on #63317
Today the PVLabel admission controller already overwrites the user-specified label with the correct label, but it's important to have a secondary check in the plugin.

Consider this scenario: both a regional and a regular disk exist with name `disk-1`, and the user's PV has the zone label matching the regional disk. The admission controller then retains the user specified label since it's valid. N

[2018-05-23 22:17] jaredledvina commented on #64234
To add, the error, `F0523 21:57:32.977761   30733 server.go:157] listen tcp 0.0.0.0:10255: bind: address already in use` is expected. I was attempting to show that now, after downgrading to 1.10.2, `kubelet` works and does not immediately seg fault. Hopefully, that clears that up.

[2018-05-23 22:21] jaredledvina commented on #64234
Based on https://github.com/kubernetes/community/blob/master/sig-node/README.md, I _think_
@kubernetes/sig-node-bugs is the right SIG for this.

[2018-05-23 22:42] BenTheElder commented on #64160
hopefully we can close this after https://github.com/kubernetes/test-infra/pull/8112

[2018-05-23 22:50] vikasuy commented on #60825
@shrinandj did you find any workarounds?

we've run into this issue, where the security group rules got deleted. Specifically, we found that the security group missed the following:
1) TCP rule to allow traffic from NLB to Node Port
2) TCP rule to allow traffic from NLB to Healthcheck Port
We added these manually back in to fix, but were surprised these were deleted in the first place.

[2018-05-23 23:09] wskinner commented on #58217
ME too.
kubernetes 1.9.3
ubuntu 16.04
docker 17.03.2-ce, build f5ec1e2

[2018-05-23 23:21] vikasuy commented on #60825
This stackoverflow also is relevant: https://stackoverflow.com/questions/49523856/my-kubernetes-aws-nlb-integration-is-not-working

[2018-05-23 23:54] RickyCook commented on #27308
i certainly wouldn't say that aliases "solve" the problem. they "work" for the simplest case: a user executing kubectl from within a shell...

they don't however work for executing kubectl from inside a non-shell script (eg a python subprocess without shell=True), because alias is a shell feature. it also doesn't work for things like `watch`, `exec`, or `find ... -exec` because they don't expand t

[2018-05-23 23:57] RickyCook commented on #27308
note though that an ugly hack around this is to also `alias watch='watch '`, then you can `export KUBECTL_NAMESPACE=...; watch kubectl ...` and it works (again, only if executing the watch command from a shell)

[2018-05-24 00:13] msau42 commented on #64166
@kubernetes/sig-storage-bugs

[2018-05-24 00:15] msau42 opened #64237 "Stress test for StorageProtection feature"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
A user reported their PVC was stuck in terminating even though the Pod has already been deleted.  The PVC object shows the storage protection finalizer is still there.  Unfortunately, the user deleted their cluster so the logs are not available.

**What you expected to happen**:
We should hav

[2018-05-24 00:26] grayluck commented on #63208
Debian does updates conntrack to 1.4.5. https://packages.debian.org/buster/conntrack
Unfortunately the earliest version of debian that provides conntrack 1.4.5 is buster, but it's still in test stage. Which means that in months kubernetes will not bump up to a newer stable debian.

This should be the file that serves as the base image of kube-proxy, if you want to make conntrack an exception and u

[2018-05-24 00:33] dims commented on #59978
cc @mayakacz

[2018-05-24 00:47] huguesalary commented on #64176
Here are steps to reproduce this bug:

https://issuetracker.google.com/issues/80205222

[2018-05-24 00:55] huxiaoliang commented on #63615
It is better to porting hpa from `autoscaling/v1` to `autoscaling/v2beta1`, refer to [here ], (https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/)for details, I saw somewhere before that `targetCPUUtilizationPercentage`  will be deleted from k8s in feature (or next release).

Notice that the targetCPUUtilizationPercentage field has been replaced with an array ca

[2018-05-24 01:31] m1093782566 commented on #63241
I assume this issue is related to some specific kernel versions? I just neither can't reproduce it nor can't see the failures in our test grid.

[2018-05-24 01:32] huguesalary commented on #64176
Not a kubernetes bug, it's a kernel bug in Google Container-Optimized Image

[2018-05-24 01:32] #64176 closed

[2018-05-24 01:33] ivan4th opened #64241 "kubeadm fails after v1.12.0-alpha.0 tag was added to the repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When [kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-dind-cluster) is trying to run `kubeadm join` on a node, it fails with the following error:
[code]

**What you expected to happen**:
`kubeadm join` works

**How to reproduce it (as minimally and precisely as possible)**:
Use [kubeadm-dind-cluster](https://git

[2018-05-24 01:33] m1093782566 commented on #63241
I was aware of there is a PR(#63319) in flight, my team will evaluate the effects of that PR. But, @rtreffer please rebase the PR first, thanks!

[2018-05-24 01:38] ivan4th commented on #64241
@kubernetes/sig-cluster-lifecycle-bugs

[2018-05-24 02:05] m1093782566 commented on #63985
cc @Lion-Wei

[2018-05-24 02:39] AishSundar commented on #63923
The tests are all passing now. Closing this issue.

[2018-05-24 02:39] #63923 closed

[2018-05-24 02:44] #61741 closed

[2018-05-24 03:07] islinwb commented on #64193
/cc @islinwb @Lion-Wei

[2018-05-24 03:09] #57181 closed

[2018-05-24 03:12] islinwb commented on #64193
cc @Lion-Wei

[2018-05-24 03:29] shrinandj commented on #60825
One workaround was to simply refresh the Kubernetes service object. We added/updated a label in the Kubernetes service object and found that it would make the corresponding changes in AWS.

[2018-05-24 03:39] feiskyer commented on #64220
@kdomanski yep, we should log the accurate log messages here

/assign

[2018-05-24 03:41] t3hmrman commented on #45922
@verb I'm also think they weren't -- I'm not sure when kubectl plugins became a thing, but I'm really hoping other operators will use them instead of building their own CLI tools.

Currently I avoid operators that introduce their own CLI tools to manage resources (so for a concrete example, [zalando/patroni](https://github.com/zalando/patroni) over [CrunchyData/postgres-operator](https://github.co

[2018-05-24 04:11] janetkuo commented on #64067
Thanks @kim0 for reporting this.

Deployment only controls the prefix of a pod's name (Deployment name + pod template hash). The suffix is random string generated by API server. The chances of generating the same pod name for a Deployment should be pretty low.

However, it's not impossible, as Kubernetes only guarantees that no resource of the same kind (e.g. `Pod`) and in the same namespace (e.g.

[2018-05-24 05:03] MikeSpreitzer opened #64244 "ErrorToAPIStatus could be more informative about unexpected errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I am suffering from mysterious timeouts.  See https://github.com/kubernetes/kubernetes/issues/63608#issuecomment-391497458 for the evidence from my latest investigation.  It includes this line

[code]

from the `ErrorToAPIStatus` function in `staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.g

[2018-05-24 05:05] MikeSpreitzer commented on #64244
@kubernetes/sig-api-machinery-feature-requests

[2018-05-24 05:15] prafull01 commented on #64073
Yes I am running apiserver in a container and nothing changes in kube-apiserver.yaml file also.

The command running container doesn't change at all before and after restart:

Before restart:

`kube-apiserver --endpoint-reconciler-type=lease --advertise-address=10.0.1.196 --requestheader-client-ca-file=/etc/kubernetes/pki/front-proxy-ca.crt --requestheader-extra-headers-prefix=X-Remote-Extra- --al

[2018-05-24 05:27] karataliu commented on #56276
/remove-lifecycle stale

[2018-05-24 05:46] ailusazh commented on #64185
OK, thank you for your attention :)

[2018-05-24 06:45] dixudx commented on #64241
This was introduced in #63887.

@luxas RBAC role bindings are not bound to bootstrap tokens, right?

[2018-05-24 06:48] hzxuzhonghu commented on #64244
@MikeSpreitzer I think this timeout is from resourcequota admission. Did you enable `ResourceQuota` admission plugin?

will create a pr to make ResourceQuota return `StatusError` err.

[2018-05-24 07:03] m1093782566 commented on #63985
@baelish

Can you post the detailed service and endpoints information?

[2018-05-24 08:19] edwardbadboy commented on #62900
Agree.

When K8S performs a rolling update for a Stateful Set, the old and new Pod names are the same, the only field for distinguishing old and new Pods is  K8S_POD_INFRA_CONTAINER_ID.

K8S_POD_INFRA_CONTAINER_ID value is the 'pause' container ID, so it is local to the node. It would be great if the Pod UID is added to the CNI request. This would help the CNI plugins a lot to simplify the process

[2018-05-24 08:48] jsafrane commented on #64166
This seems to be dup of https://github.com/kubernetes/kubernetes/issues/57686. Please re-test with 1.8.8 or newer.

[2018-05-24 08:54] luxas commented on #64241
First now noticed that this is in the k/k repo, not the kubeadm one. Please reopen in kubeadm so we can track. Bootstrap Tokens should be able to access the configmap yes, but we're in an in-between state of PRs to make that happen end to end. If you have time to make that change @dixudx and test end to end it'd be very helpful

[2018-05-24 08:54] #64241 closed

[2018-05-24 09:01] dixudx commented on #64241
@luxas I will have a e2e test on this. Will fix it if it is really a bug.

[2018-05-24 09:17] bizzelicious opened #64251 "AWS Changing from External ELB to Internal ELB doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig aws

**What happened**:
Adding annotation `service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0` to an existing, external elastic load balancer doesn't recreate the load balancer as an internal one. The load balancer will stay as an External load balancer.

**What you expected to happen**:
The external ELB to be removed and t

[2018-05-24 09:34] lichuqiang commented on #57300
Closing the issue due to https://github.com/kubernetes/kubernetes/pull/57302

[2018-05-24 09:34] #57300 closed

[2018-05-24 09:34] tcolgate commented on #13488
Just by way of a more specifically kube related justification, restart also allows the re-running of an init-container, which can be used to roll keys, update config, or whatever you use init containers for.

[2018-05-24 09:37] wgliang commented on #59460
/remove-lifecycle stale

[2018-05-24 09:43] yadavkkumar commented on #63615
@rdzimmer  You need to specify
resources:
          requests:
            cpu: 200m
in your deployment yaml file
![screenshot from 2018-05-24 15-09-14](https://user-images.githubusercontent.com/29199141/40477711-bf53fc06-5f64-11e8-96f2-88e554e87e10.png)

After this, metric server or Heapster fill fetch the CPU resources.

[2018-05-24 09:47] kim0 commented on #64067
Yes, the startup message is generated by the app/pod, it is emitted when the pod is restarted. And yes, the I'm recording some billing data together with pod names in a DB. I was previously assuming that max(billing_data) was the value I wanted. But if a pod can recreate (making billing_data=0) with the same name later, it's not. Anyway, I changed how I calculate the billing info, so I'm good. And

[2018-05-24 10:06] SJYMickeyMouse commented on #58729
@stewart-yu I use 1.9.0+，but i still meet this issue。

[2018-05-24 10:09] KIVagant commented on #56903
FYI: `single-request-reopen` didn't help in my case (https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-359897058)

Kubernetes 1.10, AWS

[code]

[code]

[2018-05-24 10:10] Satak opened #64254 "Kubernetes Powershell module"
Is there any plan to make cross-platform Powershell module for Kubernetes to replace kubectl? Would be great to manage Kubernetes resources as objects.
[https://github.com/PowerShell/PowerShell](https://github.com/PowerShell/PowerShell)

[2018-05-24 10:35] IvanAlegre commented on #63786
Solved by setting in the associated Deployment: `spec.template.spec.containers[0].resources.requests:cpu` to something different than 0.

@yadavkkumar said it in https://github.com/kubernetes/kubernetes/issues/63615#issuecomment-391654404

[2018-05-24 10:35] #63786 closed

[2018-05-24 11:54] aggarwalShivani opened #64256 "Generating kubernetes secret from result of a script/command"
I have a scenario where I need to run a command (basically a curl command) and the output of that has to be stored as a kubernetes secret which can be used later by other kubernetes resources.

Is this possible currently??

**What happened**:
This is the secret.yaml used >

     1 apiVersion: v1
     2 kind: Secret
     3 metadata:
     4   name: token-secret-1
     5 type: Opaque
     6 data:

[2018-05-24 12:34] johnzheng1975 commented on #49445
For me, I don't add any annotation, I just want to change its security group rule.
After it will create a aws elb, and a specificed secruity group with 0.0.0.0, I change 0.0.0.0 to xx.xx.xx.xx/32.
However, the security group rule will change back to 0.0.0.0 after some minutes.

Is this by design?

[2018-05-24 12:39] #64106 closed

[2018-05-24 12:44] johnzheng1975 opened #64259 "security group rule will change back to 0.0.0.0 by k8s after I changed it. (AWS ELB)"
security group rule will change back to 0.0.0.0 by k8s after I changed it. (AWS ELB)

*k8s 1.9
*kubespray 2.4
*AWS

Steps:
1 I created a service with Loadbalancer type
2 I find the security group of elb is open to worldwide 0.0.0.0
3 I changed the security group rule to my company ip xx.xx.xx.xx/8
4 After some time, I checked the security group rule, it is 0.0.0.0 again.
5 From cloud trail, it sho

[2018-05-24 12:45] johnzheng1975 commented on #64259
@kubernetes/sig-bugs

[2018-05-24 12:55] pmichali commented on #63922
More triaging, but not getting closer to a root cause yet...

On a bare-metal, three node cluster, running IPv6 K8s cluster, I can set the MTU for the interface on each node that is used for the pod and management network. When I do that, I do NOT see any kube-dns restarts during the E2E test runs.

On k-d-c (Docker-In-Docker), which is going to be used for CI of IPv6 E2E tests, I tried the MTU ch

[2018-05-24 13:04] m1093782566 commented on #58744
/remove-lifecycle rotten

[2018-05-24 13:05] markap14 commented on #59343
/remove-lifecycle stale

[2018-05-24 13:05] commandfailure commented on #27081
this solution

kubectl patch deployment web -p \
  "{\"spec\":{\"template\":{\"metadata\":{\"annotations\":{\"date\":\"`date +'%s'`\"}}}}}"
needs to include a date field,

so, why not use currentTimestamp, that0s mean
kubectl patch deployment web -p \
"{\"spec\":{\"template\":{\"metadata\":{\"creationTimestamp\":\"`date --utc '+%FT%TZ'`\"}}}}"

[2018-05-24 13:15] Bizzelicious commented on #64259
Hi, you can use `loadBalancerSourceRanges` in the service manifest to whitelist IPs in your SG. With this option the IPs will be whitelisted when the service creates your load balancer. No need to whitelist afterwards.
[code]

[2018-05-24 13:21] Bizzelicious commented on #64251
Might be the same issue as: #60393

[2018-05-24 13:28] markap14 commented on #59343
@nicolaferraro this is exactly the issue that I am facing as well. Thank you for creating the issue with such great detail and explanation!

[2018-05-24 13:41] joaquinrinaudo-olx commented on #39441
+1 on audit logs. Otherwise a lot of people need to build AMI's (specially for PCI) to harden/setup the nodes.

[2018-05-24 13:55] pmichali commented on #63208
@grayluck I **think** that the conntrack deletion failures may be benign, and not contributing to test failures. So I think we can just keep a note to test this, once conntrack 1.4.5 is available.

I have a separate issue about the kube-dns restarts  (#63922), and am still working on trying to root cause that issue. I've been using (manually) conntrack 1.4.5 to eliminate it as a cause of the resta

[2018-05-24 14:06] rdzimmer commented on #63615
Based on the last comment I am not using `horizontal-pod-autoscaler-use-rest-clients=false` anymore.
Some HPAs work, but most do not.  I do have non-zero CPU and memory requests and limits for all of the containers.
Here is the HPA json:
[code]
Results in this:
[code]

The odd thing was that I have `apiVersion: apps/v1` in the metric yaml file, but it turns into `"apiVersion": "extensions/v1beta1"

[2018-05-24 14:07] php-coder commented on #49287
/reopen
/remove-lifecycle rotten

CC @simo5

[2018-05-24 14:13] php-coder commented on #49287
It's better to fail in order to prevent insecure configurations but it will be breaking change. Perhaps, it can be announced with "action-required".

@ericchiang I'd like to see it for all sensitive files but this issue is about only one of them, that I'm aware of.

[2018-05-24 14:14] rdzimmer commented on #63615
[metric_deployment.json.txt](https://github.com/kubernetes/kubernetes/files/2035676/metric_deployment.json.txt)

[2018-05-24 14:31] whereisaaron commented on #64256
YAML files are declarative, they don run anything or do shell substitutions.

You can do what you want in a script using a here-doc, e.g.
[code]

[2018-05-24 14:33] jessfraz opened #64265 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 14:52] xigang commented on #52757
+1 :)

[2018-05-24 15:08] bilalyasar opened #64268 "multi container pods stuck "Terminating" after deleting deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: i have multi container pods, 1 main container and 4 alpine container to tail log files. when i delete deployment it stays "Terminating" state always

**What you expected to happen**: pods should be terminated and removed from the list

**How to reproduce it (as minimally and precisely as possible)**: use k8s 1.8.13, crea

[2018-05-24 15:09] #64075 closed

[2018-05-24 15:59] gnufied opened #64270 "Volume expansion tests are failing"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/21993

/sig storage
/assign

[2018-05-24 16:18] nicksardo commented on #56371
/remove-lifecycle stale

[2018-05-24 16:41] #52741 closed

[2018-05-24 16:41] #62865 closed

[2018-05-24 16:50] gtirloni commented on #43633
/remove-lifecycle stale

[2018-05-24 16:53] proseti opened #64273 "Serviceaccount - access through api"
I created namespace 'xxx', role for this namespace with get pods, services, etc; created serviceaccount 'yyy'; created rolebinding 'yyy' to role in namespace 'xxx'.
When I try to check smth through API with secret token , for example:
curl -kD - -H "Authorization: Bearer $TOKEN https://localhost:6443/api/v1/namespaces/xxx/pods
I get 403 forbidden error.
So I make clusterrolebind my serviceaccount

[2018-05-24 16:55] vikasuy commented on #60825
thanks @shrinandj! have you been able to root cause why the rule doesn't get added?
We're trying to re-produce the failure ourselves, too.

[2018-05-24 16:56] baelish commented on #63985
@m1093782566 sure:
endpoints: https://gist.github.com/baelish/95c29965cf15fb741421802cc46f406f
services: https://gist.github.com/baelish/945d68624a5d9cbe6923311d13e3a281
Please note this is now working with the workaround specified above.

[2018-05-24 17:10] mindw commented on #52172
/remove-lifecycle rotten

We're seeing this in k8s 1.8.12

[2018-05-24 17:16] wild-endeavor commented on #59822
@krousey found this fix helpful thank you - could you explain why it happened though?  I don't fully understand where it can call run and pop on sharedprocessor twice... how does that happen?

[2018-05-24 17:26] hongchaodeng commented on #61012
@bsalamat @k82cn @resouer

It's mentioned in the sig-scheduling meeting there is already a design doc. Can anyone share it here and involve open discussion as early as possible?

[2018-05-24 17:40] wstrange commented on #43168
I think I am seeing the same issue.
minikube / Kube client/ server 1.10.2
I have a job:
[code]

That can't be deleted, even with --force
[code]

The job was created by helm.

[2018-05-24 17:59] dmitrievav commented on #64166
Thank you and sorry as I tried but could not find it myself.

[2018-05-24 18:54] ericxnelson opened #64284 "Feature: Fractional GPU support / shared GPUs"
/kind feature

Hi,
Just wondering if there's any existing initiatives to enable fractional GPU support for pods? We are a ML shop and run our own framework for this but would rather have our classifiers in mesos or kubernetes should this become an option. Most of our classifiers don't need whole gpus to run and in some cases run fine on cpus.

[2018-05-24 19:02] vikasuy commented on #64148
related: https://github.com/kubernetes/kubernetes/issues/60825

[2018-05-24 19:10] ostrain commented on #60789
I have a use case where this feature would be helpful. I'm implementing a service where I have a deployment with multiple replicas of a pod participating in leader election using the kubernetes leader-elector pod (https://kubernetes.io/blog/2016/01/simple-leader-election-with-kubernetes/). The leader writes to an event log, and the followers read from the event log so that they're ready to take ov

[2018-05-24 19:17] Quentin-M commented on #56903
@KIVagant

This is a libc option, this does not generally depend on the application but on the libc used. Except if they have their own implementation of the resolv stack (which I don't know for OpenJDK/Netty)

Please however confirm that the issue actually comes from the conntrack race condition we are talking about, or something else. To confirm, use `watch -n1 conntrack -S` and check whether th

[2018-05-24 19:18] #63908 closed

[2018-05-24 19:31] Raffo commented on #49445
I guess this is part of how the controller works. If you look at #62774 , the PR fixes this problem by allowing you to specify the behaviour you want with an annotation. For the way Kubernetes works, the ELB is owned by Kubernetes and you should never be forced to modify the resource manually, thing that ultimately will not work.

[2018-05-24 19:39] #50315 closed

[2018-05-24 19:39] #48926 closed

[2018-05-24 19:42] javefang commented on #64120
We are suspecting a similar issue here when using "subPath" to mount a single file from a ConfigMap.

The pod stuck in a crash loop with the following error message
[code]

## How to reproduce

[code]

## What we have tried so far that fixes the issue
1) Run Pod in privileged mode. (not acceptable)
2) Mount the ConfigMap without using "subPath". (Also not ideal)

## Environment
- Centos7 1804 (SEL

[2018-05-24 20:07] kierenj commented on #7660
I'm curious if there's anything to help me out with this.  I'm firmly in the beginner category for kubernetes, but after a few experiments my status graphs/stats are out of whack with hundreds of failed pods.  Is there any advice available on this / any follow-on issue I can subscribe to? Thanks.

[2018-05-24 20:10] lavalamp commented on #64002
cc @jpbetz

[2018-05-24 20:13] lavalamp commented on #64007
/remove-sig api-machinery

[2018-05-24 20:13] jennybuckley commented on #64030
/cc @jpbetz @wenjiaswe

[2018-05-24 20:13] jennybuckley commented on #64090
/remove-sig api-machinery

[2018-05-24 20:15] jennybuckley commented on #64109
/cc @fedebongio

[2018-05-24 20:17] jennybuckley commented on #64141
/cc @mbohlool

[2018-05-24 20:18] jennybuckley commented on #64227
/cc @wenjiaswe

[2018-05-24 20:19] javefang commented on #64120
@msau42 I think to trigger the error you have to use "subPath" while mounting a ConfigMap. Is there any chance you could try my test above on an 1.10.3 (or 1.8.13) cluster?

[2018-05-24 20:23] venezia opened #64290 "Feature: Provide meaningful metrics to controller developers using API Server"
As Custom Resources and the controllers using the Kubernetes API becomes more commonplace, we need to be able to provide metrics and tools that can help developers of said controllers make informed decisions.  Without such information, well intentioned developers could cause clusters API Servers to deterioriate in performance without understanding why and how to fix the problem.

Right now, as a d

[2018-05-24 20:49] awly commented on #61796
ping @ericchiang
Can we drop the input and promote exec plugins to Beta before 1.11 freeze?

[2018-05-24 20:55] jpbetz commented on #64030
etcd 3.1+ emits https://github.com/grpc-ecosystem/go-grpc-prometheus metrics when the `--metrics extensive` flag is set, `grpc_server_started_total` and similar might be helpful for answering questions about load (in conjunction with the `client_grpc_*_bytes_total` metrics @jberkus already mentioned above).

[2018-05-24 20:55] lavalamp commented on #63982
@Joeskyyy we need to see the pre-apply object. Maybe you can start saving that before you push, so next time it goes wrong you'll have it?

[2018-05-24 21:04] jpbetz commented on #64002
@valdemarpavesi two questions:
- In the curl request in this issue's description, instead of `PGET`, did you mean to do `POST`?
- The error reports "The system is ensuring all content is removed from this namespace. Upon completion, this namespace will automatically be purged by the system.". Have you validated that the namespace is empty? e.g. `kubectl --namespace=rook get all` ?

[2018-05-24 21:28] alvaroaleman opened #64291 "APIServer crashes when a MutatingWebhook returns a faulty patch"
/kind bug

**What happened**:

Wrote a `MutatingWebhook` that returned a faulty json patch which specified an our of range index (e.G. `"op":"add","path":"/spec/containers/2","value":"some-container-spec"` when there is only one container). This resulted in the apiserver crashing.

Stacktrace:

[code]

**What you expected to happen**: No crash

/sig-api-machinery

[2018-05-24 21:34] alvaroaleman commented on #64291
/sig api-machinery

[2018-05-24 21:41] #33037 closed

[2018-05-24 21:42] janetkuo commented on #63634
The DaemonSet manifest doesn't specify `.spec.maxUnavailable` so the default value `1` is used. The rollout will be paused when the threshold is hit.

It's likely that sp,e old DaemonSet pods are crash looping during a rollout and therefore pause the rollout.

[2018-05-24 21:45] lavalamp commented on #64290
Also relevant to:

/sig scalability

I think this is definitely something we should keep in mind. I can even see eventually wanting to have output suitable for driving a billing system.

[2018-05-24 21:50] msau42 commented on #64120
Thanks I was able to reproduce the issue.  Before, my volumeMount was a completely new path in the container.  It seems like the issue occurs when the filepath already exists in the container image.

[2018-05-24 22:11] mbohlool commented on #64136
I don't think `split customresource_handler.go. This is far too big. Maybe we should create a CR scheme.~ falls into a follow up on #63830. It deserve its own issue. I think we must track things we missed/postponed to follow up in #63830 here.

[2018-05-24 22:20] k82cn commented on #61012
@hongchaodeng , here is the doc: https://docs.google.com/document/d/1AUwcvTtULNvow5M9e428FnlvINO1uQ7ojRoTGuTp4DA/edit?usp=sharing ; shared with sig-scheduling google group last week :)

[2018-05-24 22:28] geekofalltrades commented on #51891
I would love some attention on this issue.

We'd like to firewall all of our pods with network policies, but we have custom Kubernetes controller pods that need to talk to the kube-apiserver. kube-apiserver runs as static pods on the master nodes in the host network namespace. This means that in order to write network policy which allows egress to the apiserver, we have to write egress rules that

[2018-05-24 22:30] janetkuo commented on #63634
Actually, it's not this. DaemonSet controller can handled this case too -- DaemonSet controller will try to kill unhealthy old pods first to prevent the previous bad rollout from blocking new rollouts.

Looking at the [DaemonSet manifest](https://github.com/kubernetes/kubernetes/blob/972a74e23805d3d75bc68ddf5bf9c409e8f9b294/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml) again, it's using

[2018-05-24 22:37] #63634 closed

[2018-05-24 22:43] javefang commented on #64120
I have updated my test above. Does that match your assumption?
In my case both test cases (/etc/subpath_test/foo and /subpath_test/foo) failed.

[2018-05-24 22:46] ptemmer commented on #50345
I bumped into this issue because I was having the same frustraing problem.
However, I think the following could be a legit workaround:

Designate a folder where you will mount your desired configmaps, for example:

`/configmaps/`

Make the mountPath of each configmap (or secret) a subfolder of this folder.
Going further on previous examples with nginx, your mount would look like this:

`
 - name:

[2018-05-24 23:13] jian-he commented on #4817
@lavalamp, got a question, is the proposal for adding indexing at the controller side (i.e. the local cache ), or to add indexing at API-server ?

[2018-05-24 23:18] cwoolum commented on #25238
I am using 1.9.6 and have the same issue. Removing the replicas section causes the replica set to scale down to 1 which looks pretty nasty on deploy load testing metrics 😆.

[code]

Here is my hpa config as well

[code]

[2018-05-25 00:01] #63843 closed

[2018-05-25 00:28] kfox1111 commented on #56440
Ping

[2018-05-25 00:55] will-code-for-pizza commented on #63874
Same issue here.

  Normal   Pulling                1m                 kubelet, cloudbox0001  pulling image "k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8"
  Warning  Failed                 27s                kubelet, cloudbox0001  Failed to pull image "k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8": rpc error: code = Unknown desc = Error response from daemon: Get https://k8s.gcr.io/v1/_ping: dial tcp 64.23

[2018-05-25 00:59] saad-ali opened #64295 "Audit Default Admission Controllers for Storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
PR https://github.com/kubernetes/kubernetes/pull/58684 adds a set of Admission Controllers that are on by default.

**What you expected to happen**:
We should make sure that list of controllers makes sense for storage.

Storage controllers include:
* persistentvolumelabel
* defaultstorageclass
* storageprotection
* volume

[2018-05-25 01:39] m1093782566 commented on #63985
I assume you are trying to visit the service cluster IP on the **node**?

I agree with @Lion-Wei, this issue duplicated with #63241.

@baelish

Would you please try it again when #63319 goes in?

[2018-05-25 02:26] MikeSpreitzer commented on #64244
@hzxuzhonghu thanks for the suggestion, I will respond in the original issue.

[2018-05-25 02:32] MikeSpreitzer commented on #63608
@hzxuzhonghu has suggested the mysterious timeout might be due to https://github.com/kubernetes/kubernetes/blob/v1.10.3/plugin/pkg/admission/resourcequota/controller.go#L551 .  I do indeed have the `ResourceQuota` admission controller enabled.  However, I have no ResourceQuota objects in any namespace.

[2018-05-25 02:46] #63241 closed

[2018-05-25 02:46] #64220 closed

[2018-05-25 03:06] feiskyer commented on #60338
/remove-lifecycle stale

[2018-05-25 03:07] MikeSpreitzer commented on #64244
I appreciate @hzxuzhonghu removing a source of errors of unexpected type, _this_ issue is about what to do whenever an unexpected type of error _does_ arrive.  I suggest formatting it with `%#+v` instead of `%v`.

[2018-05-25 03:32] #64090 closed

[2018-05-25 03:39] hzxuzhonghu commented on #54084
I think this can be closed now. Because now we periodically invalidate the underlying cached discovery information.

[2018-05-25 03:42] m1093782566 commented on #63985
I am going to close this issue since #63319 went in.

@baelish please check out the HEAD. Also, feel free to re-open if you still have some troubles :)

/close

[2018-05-25 03:42] #63985 closed

[2018-05-25 03:50] liggitt commented on #64273
Closing in favor of the stackoverflow question - https://stackoverflow.com/questions/50514536/service-account-access-through-api/50515599#50515599

[2018-05-25 03:50] #64273 closed

[2018-05-25 03:52] BSWANG commented on #56634
The resources for device plugins allocated are container level. But the network interfaces are pod/sandbox level.

[2018-05-25 03:54] liggitt commented on #64256
Or `kubectl create secret my-secret --from-literal "password=$(hostname)"`

[2018-05-25 03:54] liggitt commented on #64256
/close

[2018-05-25 03:54] #64256 closed

[2018-05-25 04:06] karlkfi commented on #7647
Any chance of this happening?
It's kind of annoying to have to generate a kubeconfig in pods that want to use kubectl.

[2018-05-25 04:16] flx42 commented on #64284
@ericxnelson would having all the containers in the same pod sharing the GPU(s) resources solve your problem?

There is a discussion on this topic here:
https://github.com/kubernetes/kubernetes/issues/52757

[2018-05-25 04:16] MikeSpreitzer commented on #63608
I tried removing `ResourceQuota` from the admission controller list, and that made the mysterious 10 second timeouts go away.

Why is the ResourceQuota admission controller causing these 10 second timeouts?  Remember, they are rare: I can do hundreds of thousands of create operations in rapid fire, and get a single digit number of timeouts, while the other create operations complete in well under

[2018-05-25 04:20] MikeSpreitzer commented on #64244
/reopen
That PR did not really fix _this_ issue.

[2018-05-25 04:30] liggitt commented on #7647
There are no plans to do this. kubectl can be used in a pod without needing to generate a kubeconfig file, and it automatically uses the service ip/port and serviceaccount token, and the current namespace

[2018-05-25 04:40] johnzheng1975 commented on #64259
I will not use this way until there is no other choice, because:
1   I need define the duplicate ip for each micro-service
2   The whitelist may change frequently, I need maintain and replace service frequently.
3   For each rule, I also like to add comment(whose ip it is), this do not support.

So, my question is
1  does "k8s change ip back to default ip (i.e. 0.0.0.0)" by design?
2  When it will

[2018-05-25 05:09] deas commented on #64002
@jpbetz Saw the same issue here a few days ago. Checked the namespace and it was empty. Not quite sure whether the system exposing it still exists at this time.

[2018-05-25 05:20] xiongraorao commented on #26000
today, I meet the same issue. So I searched any possible issue in kubelet logfile(/var/log/upstart/kubelet.log) by google, but I got nothing to solve this issue, the node was still "NotReady" status. It occurred to me that I installed "lxc" and "lxd" software in my ubuntu system, and the container's matched volume had been used up, It seemed that I found the possible problem......

next is the fil

[2018-05-25 05:53] lurenjia528 opened #64299 "kube-dns log parameter --domain"
/kind bug
/sig kube-dns

in my kube-dns.yml the args (--domain)
       args:
        - "--domain=cluster.local"
        - --dns-port=10053
        - --v=2

in the container kube-dns

 ps -ef | grep kube
    1 root       0:01 /kube-dns --domain=cluster.local --dns-port=10053 --v=2

but when I kubectl logs -n kube-system kube-dns-64b66858cd-rw6gh kubedns
the parameter --domain  is different

Is this

[2018-05-25 06:07] wgliang commented on #64291
This maybe a bug in `github.com/evanphx/json-patch`.
I will follow this question.

[2018-05-25 06:14] danderson opened #64301 "Malformed toleration produces unhelpful validation error"
/kind bug

**What happened**:

I incorrectly specified a pod toleration with `effect=CriticalAddonsOnly` instead of `key=CriticalAddonsOnly`, and the resulting validation error was nonsensical.

The full incorrect set of tolerations is:

[code]

When I submit this pod to Kubernetes I get the following validation error:

[code]

Note that it correctly identifies the first toleration as incorrect, b

[2018-05-25 06:15] danderson commented on #64301
@kubernetes/sig-api-machinery-bugs

[2018-05-25 06:17] wgliang commented on #64291
This bug had been fixed in PR:#49259
you can checkout it.

[2018-05-25 06:31] shubheksha commented on #64299
/sig network

[2018-05-25 06:33] BSWANG commented on #53497
Device plugin on network interface schedule. #56634
Current resources for device plugins allocated are container level. But the network interfaces are pod/sandbox level. Is the device plugin suiting on network device?

[2018-05-25 06:46] ImamHyderAli commented on #63615
@rdzimmer can you please provide the pods (all namespaces) that have been running in your cluster, and specify the current version of kubernetes.

[2018-05-25 06:56] yadavkkumar commented on #57996
@fandaye  The error (get pods.metrics.k8s.io) is due to metric server, as you are not running metric server. In Kubernetes 1.9+, HPA needs metric server to fetch the CPU usage.

`Delete Heapster , Grafana, InfluxDB and remove the flag "horizontal-pod-autoscaler-use-rest-clients=false" from the kubernetes controller manager.`

Please follow the below link to run metric server in kubernetes

- https

[2018-05-25 07:15] hjacobs commented on #44145
This looks interesting for the mentioned scenario of running Elasticsearch (or similar) with potential "under replication". A configurable HTTP endpoint like proposed by @davidopp seems to make sense for me.

/remove-lifecycle stale

[2018-05-25 07:29] fabiand commented on #53497
@BSWANG true - After a few months I really wonder if this is a _real_ issue atm.

The bigger problem is probably the life-cycle events which are currently container focused.

[2018-05-25 07:34] yue9944882 commented on #64217
Already fixed by #58529

[2018-05-25 07:34] yue9944882 commented on #64217
/close

[2018-05-25 07:35] #64217 closed

[2018-05-25 07:36] k82cn commented on #61012
@mindprince , also have a prototype here: https://github.com/k82cn/kubernetes/commits/gang-scheduling-working , built it based on `PodSchedulingGroup` option; one concern for this option is performance to build pods' relationship by selector.

/cc @bsalamat @vishh

Tested following case as demo:

**Nodes**: only one node with `8 cpus`

**Steps***:
1. Create a Deployment (`d-1`) with 4 replicas, 1

[2018-05-25 07:44] zouyee commented on #51278
/open

[2018-05-25 07:45] zouyee commented on #51278
![2018-05-25 3 45 25](https://user-images.githubusercontent.com/5785605/40532628-ab43fc38-6032-11e8-81ab-4a3be3321542.png)

[2018-05-25 07:51] #57619 closed

[2018-05-25 07:59] yue9944882 commented on #64110
@BenTheElder These flakes are all caused by network connection, and we could do nothing but retry when it happens.
Should these test explicitly handle the network problem caused by test environment? OTOH maybe we could try to fix the network.

[2018-05-25 08:05] qiyongxiao commented on #58055
Hell,guys:
   I'm the same as yours issues. And you get it out? I use docker-ce 18.0v

[2018-05-25 08:07] qiyongxiao commented on #62897
And you solved this?

[2018-05-25 08:09] BenTheElder commented on #64110
Are you saying that the inter cluster networking is flaking or do these
rely on the broader internet?

I'm not sure what the best change would be, but the rest of the conformance
suite is not flaky in the slightest, which is why I question the
reliability of these tests. It's also possible that GCE 1.8 clusters are
flaky but given that the rest of the tests pass flawlessly many many times
I'd gues

[2018-05-25 08:09] #61868 closed

[2018-05-25 08:17] bilalyasar commented on #64268
/sig node

[2018-05-25 08:32] BumwooPark commented on #62897
@qiyongxiao  yeah

kubelet does not matter state running before init

after init and load every pods then activate

[2018-05-25 08:55] wgliang opened #64303 "`pull-kubernetes-kubemark-e2e-gce-big` always fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`pull-kubernetes-kubemark-e2e-gce-big` always fails

All error info like:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63901/pull-kubernetes-kubemark-e2e-gce-big/8390/

[2018-05-25 08:57] wgliang commented on #64303
/kind e2e-test-failure

[2018-05-25 09:29] hzxuzhonghu commented on #64295
What do you mean by this?

[2018-05-25 09:31] olemarkus commented on #56430
/remove-lifecycle stale

This seems still to be an issue.

[2018-05-25 09:52] nikhita commented on #54398
Can we do this now?

We can still update the README through staging every release and then create the release branch manually after the update is done.

@caesarxuchao Do you still want to change the docs?

[2018-05-25 09:58] hzxuzhonghu commented on #64301
will fix it

[2018-05-25 10:03] nikhita commented on #54398
From conversation with @sttts : If a release is cut, this would mean that we will need to change the README on the release branch - which adds an extra unwanted dependency.

[2018-05-25 10:15] ChetanaCU commented on #62053
Hello @gaogaoSpark,
Please make sure the metrics server is up and valid CPU resource parameters are specified in the yaml file.

Hello @lfaoro,
Could you please share the steps to replicate the below error or could you please explain the scenario when you are facing this issue -
Error in scraping containers from kubelet

[2018-05-25 10:55] javafoot commented on #61277
I encountered the same issue when installed k8s1.10.3. I downloaded images of k8s, but failed. The fatal reason, I used outdated pause image, gcr.io/google_containers/pause-amd64:3.0.
A set of images for k8s1.10.3:

16:56:59@cd-arch-2104|~
root>docker images
REPOSITORY                                 TAG                 IMAGE ID            CREATED             SIZE
k8s.gcr.io/kube-proxy-amd64

[2018-05-25 11:54] pp010 commented on #40968
Hey, can anyone please suggest how to set a namespace in kubectl. Currently i am using

i have to specify namespace for every command i execute. So is there anyway to set this once for all? Thanks in advance!!

[2018-05-25 12:19] subrnath opened #64309 "Kubernetes 1.10 hugepage discovery issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

bug

**What happened**:
I would like to use this feature in Kubernetes 1.10. Host OS is Ubuntu 16.04.4. In the worker node, i have reserved huge pages

$ cat /proc/meminfo | grep -i huge
AnonHugePages: 235520 kB
HugePages_Total: 4096
HugePages_Free: 4096
HugePages_Rsvd: 0
HugePages_Surp: 0
Hugepagesize: 2048 kB

$ cat /sys/devices/system/node/node0/hu

[2018-05-25 12:33] Franselbaer commented on #23404
I'd like to store a multiline pem file in secret store and running into same problems

[2018-05-25 13:07] tangle329 opened #64312 "[kubeadm init] marking master: timed out waiting for the condition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubeadm init --pod-network-cidr=172.29.0.0/16 --kubernetes-version=v1.10.3
......
[markmaster] Will mark node st1-tkube-4.prod.yiran.com as master by adding a label and a taint
error marking master: timed out waiting for the condition

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2018-05-25 13:17] subrnath commented on #64309
we got the issue. Hugepage allocation to be done before doing "kudeadm join". Closing the issue.

[2018-05-25 13:17] #64309 closed

[2018-05-25 13:26] soltysh opened #64313 "Foreground deletion for daemonset doesn't work"
/kind bug
/priority critical-urgent

**What happened**:
In https://github.com/kubernetes/kubernetes/pull/63979 I'm removing all the reapers, unfortunately when invoking foreground deletion on a DaemonSet the delete operation hangs and controller indefinitely tries to manage a removed DS.

**What you expected to happen**:
A foreground deletion properly removes DaemonSet and all its dependents.

**H

[2018-05-25 13:26] soltysh commented on #64313
@kubernetes/sig-apps-bugs fyi

[2018-05-25 13:32] tangle329 commented on #64312
Resolved by add --node-name=<ip address> to kubeadm init .

[2018-05-25 13:33] #64312 closed

[2018-05-25 13:50] darose commented on #51835
FYI, updating my clusters (to k8s v1.10.2) seems to have eliminated this issue for us.

[2018-05-25 13:52] deads2k commented on #1899
`kubectl wait --for=delete resource/foo` and `kubectl wait --for=condition=available --timeout=60s resource-string(deployment)/foo` exists after #64034

[2018-05-25 13:52] #1899 closed

[2018-05-25 13:57] chazsconi opened #64315 "Following container logs can leave processes running and open inotify watches"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:
If a container log is followed using kubectl or other API client, when the client disconnects, the process watching for changes in the logs does not die.

The process only dies when a new log line is received from the container (which may not happen) and the log process tries to send it to the client and then fa

[2018-05-25 13:59] #43329 closed

[2018-05-25 14:05] DirectXMan12 commented on #54084
is that part of the cache, or part of the setup code in kube-proper?  Other projects outside of kube proper use the discovery cache.

[2018-05-25 14:33] gonzolino opened #64317 "Only IPs should be used as node addresses for OpenStack LBs"
/kind bug
/sig-openstack

**What happened**:
I observed a strange behaviour regarding LBaaS when creating a service and having nodes in the cluster that have no valid IP address configured. While it is expected, that no Loadbalancer can be created in such a situation, the error message that popped up in the controller was rather unhelpful:
[code]

The OpenStack logs showed the actual problem:
[cod

[2018-05-25 14:45] fturib commented on #64110
@BenTheElder, @yue9944882 : we can see in the [test dashboard of "sig-sluster-lifecycle"](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce) or the [test dashboard of sig-network-gce](http://k8s-testgrid.appspot.com/sig-network-gce), that this serie of test "sig-cli" is falking when it is a deployment with kubeadm in gce.
But looks like it does not depend the type of network u

[2018-05-25 14:49] jsafrane commented on #64166
No problem, please report any issues you find in 1.8.8 or newer.

/close

[2018-05-25 14:49] #64166 closed

[2018-05-25 14:59] nikhita opened #64319 "Create dynamic informers and listers"
From @deads2k's comments in https://github.com/kubernetes/kubernetes/pull/64310#issuecomment-392076699:

Controllers like the GC controller and resource quota controller use informers and listers. Currently, we only have support for static, generic informers and listers.

To work with custom resources, the GC controller creates a new informer each time it comes across an unknown resource.

https:/

[2018-05-25 15:05] wgliang commented on #64291
@alvaroaleman Once the PR of  `evanphx/json-patch` is merged I will update kubernetes.

[2018-05-25 15:16] harryge00 commented on #17512
@nfirvine Thanks! I have solved problem by using:
[code]
It works for namespaces whose pods only containing 1 container each.

[2018-05-25 15:24] baelish commented on #63985
@m1093782566 I was using a pod with hostNetwork=True so I suppose you could argue both that I was trying to visit the service cluster from the host or not :)

I will test it once more when I've upgraded to the next version with #63319 in. Thanks.

[2018-05-25 15:24] #64182 closed

[2018-05-25 15:30] #59244 closed

[2018-05-25 15:34] shyamjvs commented on #60589
This issue was resolved with the relevant fixes in for 1.10.
For 1.11, we're tracking the failures under - https://github.com/kubernetes/kubernetes/issues/63030.

/close

[2018-05-25 15:34] #60589 closed

[2018-05-25 15:47] justinsb commented on #43784
/remove-lifecycle stale

[2018-05-25 15:51] jmreicha commented on #61277
I dug a little bit deeper into this but am still stuck.  It looks like the `manifests/etcd.yaml` and `manifests/kube-apiserver.yaml` configs were changed between 1.9 and 1.10.

I ran a `--dry-run` using both the 1.9 and 1.10 versions of kubeadm and it seems like the etcd health check was changed as well as turning on certificate auth.  At this point I'm thinking that this change is what is causing

[2018-05-25 16:01] fabianvf opened #64321 "Patching a StatefulSet's containerPorts causes values to be clobbered"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Created a StatefulSet with a container that had two ports, web-tcp (TCP, 80) and web-udp (UDP, 80) then patched the `spec.template.spec.containers.*.ports` without changing any values. This erased the web-tcp port and resulted in 2 copies of the web-udp port.

**What you expected to happen**:
Nothing, I would expect the po

[2018-05-25 16:02] fabianvf commented on #64321
Seems to be related to https://github.com/kubernetes/kubernetes/issues/39188 , may be a dupe

[2018-05-25 16:06] fabianvf commented on #64321
/sig api-machinery

[2018-05-25 16:19] awalmsley commented on #63883
This was an issue with the firewall rules defined by the AWS EC2/AMI. Not a Kubernetes problem, closing the issue.

[2018-05-25 16:19] #63883 closed

[2018-05-25 16:27] mariojacobo commented on #63789
awesome help!! thanks a lot, definitely wil be using Kubernetes in the future, given all the replies and help i got on this topic!!!!!

[2018-05-25 16:38] nicksardo commented on #63617
Dupe of https://github.com/kubernetes/kubernetes/issues/54885

[2018-05-25 16:47] andrewsykim commented on #52617
PVL admission controller was set for deprecation in 1.8, in 1.11 we'll be turning it off by default, users can still enable it if they need it. https://github.com/kubernetes/kubernetes/pull/64326

[2018-05-25 16:47] lavalamp commented on #56430
If including --enable-aggregator-routing=true fixes the problem, then the
root cause is network connectivity. A broken networking setup will break
the OpenAPI aggregation and ALSO break any synchronous access that happens
on the serving path--we should figure out what that is...

On Fri, May 25, 2018 at 2:32 AM Ole Markus With <notifications@github.com>
wrote:

[2018-05-25 16:54] andrewsykim commented on #52617
^ I'm not 100% aware of the status of PVLs in AWS/GCE, this is just the deprecation plan we had in place a while back. If there are any known issues with doing this please let me know

[2018-05-25 16:56] msau42 commented on #52617
As long as the admission controller is not removed from cluster/gce/config-default.sh, then GCE will continue to work.

[2018-05-25 17:31] MikeSpreitzer commented on #63608
Here is another example (now with https://github.com/MikeSpreitzer/k8api-scaletest/tree/e3ca6afab243c90ce4e1fee7a09ee9cb6e163205/cmdriverclosed and the etcd cluster using TLS):
[code]

[code]
<img width="578" alt="screen shot 2018-05-25 at 1 29 51 pm" src="https://user-images.githubusercontent.com/14296719/40557914-bf87c3f4-601f-11e8-8e37-8add4cb899a0.png">

[2018-05-25 17:35] derekwaynecarr commented on #51135
@vishh

to answer your question on why CFS fair sharing alone is not sufficient.

in many multi-tenant clusters, operators setup quota to define usage caps for a particular namespace, but may choose to do chargeback based on actual usage.  cfs fair sharing alone is not sufficient as the usage will actually exceed the request in the absence of contention. for examples of prom queries that help enab

[2018-05-25 17:57] BenTheElder opened #64329 "make quick-release is highly flaky on master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: Spurious `make quick-release` failures on master: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/30861/

**What you expected to happen**: the build should be reliable and reproducible

**How to reproduce it (as minimally and precisely as possible)**: `make quick-release` on master re

[2018-05-25 17:57] florianflock opened #64330 "Transparent Huge Pages (THP) support"
/kind feature
/sig gcp

**What happened**:
I get this issue by running the official redis container on a Kubernetes system:
`1:S 18 May 20:07:13.473 # WARNING you have Transparent Huge Pages (THP) support enabled in your kernel. This will create latency and memory usage issues with Redis. To fix this issue run the command 'echo never > /sys/kernel/mm/transparent_hugepage/enabled' as root, and add

[2018-05-25 17:58] BenTheElder commented on #64329
/kind bug

[2018-05-25 17:59] BenTheElder commented on #64329
/assign
/assign @cblecker @ixdy

[2018-05-25 18:00] cblecker commented on #64329
To update what I said in #testing-ops: did a quick-release on darwin, and it completed without issue.

[2018-05-25 18:00] florianflock commented on #64330
@kubernetes/sig-gcp
@kubernetes/

[2018-05-25 18:00] #64330 closed

[2018-05-25 18:05] PatrickLang commented on #63121
This will need a bugfix (Windows internal # 14681096) which is tracked for next release and should be available in Windows Server Insider builds around 1.12 timeframe

[2018-05-25 18:10] glasser opened #64331 "'kubectl rollout status' messages could include deployment (etc) name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In our CI, we run `kubectl rollout status FOO` multiple times in parallel when we update multiple deployments. This lets us see the status of all deployments as they run.  When a deployment succeeds, the final message tells us the name of the deployment. However, the intermediate "Waiting for rollout to finish" messa

[2018-05-25 18:14] MikeSpreitzer commented on #63608
So I slowed down from 3000 to 2000 kube writes per second, but I still got a timeout.
[code]

[code]

<img width="576" alt="screen shot 2018-05-25 at 2 13 59 pm" src="https://user-images.githubusercontent.com/14296719/40559800-ee742e36-6025-11e8-8efe-251e38c40473.png">

[2018-05-25 18:30] pmichali commented on #63922
Will help from a co-worker, I think we found the root cause for why kube-dns is restarting.  As mentioned, TCP readiness messages all of a sudden start sending retransmissions, until it is finally restarted by kubelet, for not responding. We found that, intermittently, the MAC address of the bridge interface for the pod network is changing.

The theory is that, during the tests, as test pods are c

[2018-05-25 18:36] saad-ali commented on #64295
Basically ensure that the correct set of storage admission controllers are enabled.

[2018-05-25 18:37] fcribeiro commented on #62026
Thank you so much for your help. I got it working now!!!!

[2018-05-25 18:57] liggitt commented on #64321
yes, dupe of #39188

/close

[2018-05-25 18:57] #64321 closed

[2018-05-25 19:02] #43993 closed

[2018-05-25 19:02] #57546 closed

[2018-05-25 19:02] #39593 closed

[2018-05-25 19:06] roycaihw commented on #51422
/remove-lifecycle rotten

[2018-05-25 19:13] fabianvf commented on #64321
@liggit is the lack of validation for statefulsets included in #39188? (deployments at least fail out when this is hit, sts just breaks the ports list)

[2018-05-25 19:16] joekohlsdorf commented on #45976
Regarding ndots: You can add a dot to the end of your domain name, this way it will be treated as FQDN and local search will never be attempted `arale-ng.cyw3ljy98zq7.eu-west-1.rds.amazonaws.com.`.

We see the same intermittent DNS resolution issues in all clusters. In our case it's a Python application and we are failing to resolve external domains. It isn't related to kube-dns autoscaling events

[2018-05-25 19:34] billpratt opened #64333 "v1.10 AlwaysPullImages admission control order breaks MutatingAdmissionWebhook functionality like Istio"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In v1.10, 7c5f9e0bbaff15570f1709e70b7fa6952395d7cd introduced the ability to not worry about admission control order because it's handled [here](https://github.com/kubernetes/kubernetes/commit/7c5f9e0bbaff15570f1709e70b7fa6952395d7cd#diff-57937e32f92262c443a2a79eb463e3b5R64)

```AlwaysPullImages``` is before ```MutatingA

[2018-05-25 20:03] #57388 closed

[2018-05-25 20:03] #56788 closed

[2018-05-25 20:15] billpratt commented on #64333
@kubernetes/sig-api-machinery-bugs

[2018-05-25 20:44] jacohend opened #64336 ""Guaranteed pods" should have an explicit setting"
/kind feature
/sig scheduling

**What happened**:

I found out there's a black-box setting called "Guaranteed pods" that is only enabled if resource requests and limits are the same. This seems to be only documented at the [bottom of one page](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods)

**What you expected to happen**:

I expect pod-level settings

[2018-05-25 20:58] liggitt commented on #64321
statefulset validation is https://github.com/kubernetes/kubernetes/issues/60619

[2018-05-25 21:00] MikeSpreitzer commented on #63608
Interestingly, there is a roughly 50 ms bubble of latency around the time of the start of the operation that timed out.  As you can see from the graph, there are other bubbles of latency.  All much smaller than 10 sec.

Here is the driver data from around the timeout, sorted by preop time.
[code]

[2018-05-25 21:04] #55154 closed

[2018-05-25 21:53] krmayankk commented on #29642
is the ttl for kubedns records configurable  or is it a compile time change ?

[2018-05-25 21:57] dims commented on #64333
looks like this is the istio bug where this came from - https://github.com/istio/istio/issues/5810

[2018-05-25 21:58] ixdy commented on #64329
This appears to be a recurrence of https://github.com/multiarch/qemu-user-static/issues/27. I have https://github.com/multiarch/qemu-user-static/issues/40 out to fix, though we probably need a better long-term solution for this, since this isn't the first time it's broken.

[2018-05-25 22:01] ixdy commented on #64329
One possibility is that we can build our own version of the [qemu-user-static Docker image](https://github.com/multiarch/qemu-user-static/blob/master/register/Dockerfile) and host it in our own gcr.io repo. Then we wouldn't be affected by upstream changes.

[2018-05-25 22:02] dims commented on #64333
cc @sttts @hzxuzhonghu thoughts please

[2018-05-25 22:03] BenTheElder commented on #64160
/close

[2018-05-25 22:03] #64160 closed

[2018-05-25 22:05] cblecker commented on #64329
Honestly, it's not the worst idea.. it is a binary that we're running privileged.

[2018-05-25 22:05] dims commented on #64303
/sig scalability

[2018-05-25 22:17] ixdy commented on #64329
would `gcr.io/k8s-testimages` be the right place to put this? `gcr.io/google-containers` is where kube-cross lives, but I really don't want to add more things there.

[2018-05-25 22:17] BenTheElder commented on #64329
Agree.
I'm also looking into mitigating any such binmft_misc issues in CI by
adding this to the list of things we clean up for docker in docker jobs.

On Fri, May 25, 2018 at 3:06 PM Christoph Blecker <notifications@github.com>
wrote:

[2018-05-25 22:17] saad-ali opened #64341 "In-tree CSI Plugin leaking gRPC connections"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Reported by @cduchesne
Number of gRPC on CSI Driver continues to climb, until kubelet is restarted.
[code]

after restarting kubelet:
[code]

**What you expected to happen**:
Number of connections to external CSI driver should not continue to grow indefinitely until Kubelet is restarted.

**How to reproduce it (as minima

[2018-05-25 22:18] saad-ali commented on #64341
CC @vladimirvivien @sbezverk @lpabon

[2018-05-25 22:18] ixdy commented on #64329
looks like the fix has already been published to dockerhub, so build failures should start subsiding.

[2018-05-25 22:18] cblecker commented on #64329
Thing is, it's part of the build.. I'm not sure `gcr.io/k8s-testimages` is the best place either. Not exactly a test image.

[2018-05-25 22:20] ixdy commented on #64329
yeah, we don't really have a place for build images besides `gcr.io/google-containers`, I think.

[2018-05-25 22:36] dims commented on #64341
/priority important-soon

@saad-ali please adjust as necessary. looks important to me :)

[2018-05-25 22:41] dims commented on #59926
@zetaab can we close this now? is there work to be done?

[2018-05-25 22:43] bowei commented on #54885
/assign @nicksardo

[2018-05-25 22:44] nicksardo commented on #54885
Found the issue. It's due to the nodeport repair controller ignoring the healthCheckNodePort.

[2018-05-25 22:45] nicksardo commented on #54885
Will send a PR and cherrypicks.

[2018-05-25 22:46] sbezverk commented on #64341
@saad-ali I loaded hostpath csi driver and I do not see any increment in number of GRPCs. Can I get more details how to reproduce it? Which csi driver was used to reproduce the original problem?

[2018-05-25 22:47] sbezverk commented on #64341
[code]

[2018-05-25 22:52] bowei opened #64345 "Centralize or clearly document where all node port allocation, deallocation logic"
A bug was discovered recently where the healthcheck nodeport was not considered in the repair nodeport allocation map garbage collector. This resulted in healthcheck node ports being double allocated.

We should centralize the node port allocation/deallocation logic in one package. If this is not possible, then the relationship of all entities that affect nodeport allocation should be clearly docu

[2018-05-25 22:52] bowei commented on #64345
/sig network

[2018-05-25 22:52] bowei commented on #64345
/kind bug

[2018-05-25 22:54] BenTheElder commented on #64110
@fturib I think that warrants its own, higher priority issue. these flake with low regularity in the oldest supported release.

Also as a note, I am setting up GCE conformance tests for the ongoing release today (separate from master) and next week I plan to raise the question of blocking releases on a conformance suite.

[2018-05-25 23:17] hal58th opened #64348 ""kubectl describe cronjobs" can't find resource (wrong api version)"
/sig cli
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The command `kubectl describe cronjobs` always results in "the server could not find the requested resource".

**What you expected to happen**:
The command should successfully find the cronjobs.

**How to reproduce it (as minimally and precisely as possible)**:
You can create any cronjob but you can use the example in the h

[2018-05-25 23:29] ravisantoshgudimetla commented on #57471
@bsalamat I did a grep to find list of files containing rescheduler. Got the following:
uild/lib/release.sh
CHANGELOG-1.4.md
CHANGELOG-1.5.md
CHANGELOG-1.6.md
cluster/gce/gci/configure-helper.sh
cluster/gce/util.sh
cluster/gce/config-default.sh
cluster/gce/config-test.sh
cluster/gce/manifests/kube-proxy.manifest
cluster/gce/manifests/BUILD
cluster/gce/manifests/rescheduler.manifest
cluster/addons/

[2018-05-25 23:32] nicksardo commented on #63617
/close

[2018-05-25 23:32] #63617 closed

[2018-05-25 23:37] bsalamat commented on #57471
@ravisantoshgudimetla  Sounds good! Thanks. From the name of the files, it doesn't seem to me that there is any critical piece that we must address ASAP, but I may be wrong.

[2018-05-26 00:03] jhu-arod commented on #25861
I'm experiencing the same thing however I don't know what the solution was for this case.  It seems according to https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#configmap-options, that out of the box "Without custom configurations: Any query that does not match the configured cluster domain suffix, such as “www.kubernetes.io”, is forwarded to the upstream nameserver inh

[2018-05-26 00:07] glasser commented on #64331
@kubernetes/sig-cli-feature-requests

[2018-05-26 00:40] jarrpa commented on #64047
@msau42 Exiting with 137 means a process was sent SIGKILL, I believe, and since there's no obvious sender for the signal I'd suspect oomkiller is killing dd. It wouldn't surprise me if this was a fluke. Has this happened more than once?

[2018-05-26 00:48] msau42 commented on #64047
This test flakes maybe once a day if you take a look at the test grid.

There was an issue in the past where the grep command was crafted in such a way that it used up too much memory and got killed by kubelet.  Maybe something similar is happening here. See [this](https://github.com/kubernetes/kubernetes/issues/51717#issuecomment-326432956) for some background on how the old issue was triaged.

[2018-05-26 00:57] jarrpa commented on #64047
Ah, okay! Sorry, I wasn't sure how to read the test grid. I think I have a handle on it now. I'll follow the grep thread.

[2018-05-26 01:18] liggitt commented on #64348
fixed in https://github.com/kubernetes/kubernetes/pull/62744

[2018-05-26 01:48] dims commented on #64333
/priority important-soon
/milestone v1.11

[2018-05-26 01:49] dims commented on #64333
@k8s-mirror-api-machinery-bugs please feel free to change the priority and/or the milestone

[2018-05-26 01:59] dims commented on #64348
@liggitt do we want to cherry pick back to 1.10.x?

[2018-05-26 02:01] dims commented on #64315
@kubernetes/sig-node-bugs

[2018-05-26 02:02] dims commented on #64291
/kind bug

[2018-05-26 02:04] liggitt commented on #64348
we can, I don't feel strongly

[2018-05-26 02:14] jarrpa commented on #64047
Digging through the logs of the current failure has not yielded anything similar to the issue you just linked. It could be that I'm just not looking in the right place. I'll set this down for now and see if I can get someone to look over it with me next week.

[2018-05-26 03:32] hzxuzhonghu commented on #64333
I have a doubt: why enable `AlwaysPullImages ` while inject  Istio sidecar with 'IfNotPresent' image pull policy?

[2018-05-26 03:33] hzxuzhonghu commented on #64333
That make no sense.

[2018-05-26 03:34] hzxuzhonghu commented on #64333
cc @deads2k @sttts

[2018-05-26 05:30] resouer commented on #63354
kubelet always `applyDefaultImageTag` for image pull, so @silveryfu you should be fine to append `:latest` tag if it's not specified.

Would you like to send a PR or busy now?

[2018-05-26 08:08] nikhita commented on #58696
/remove-lifecycle rotten

[2018-05-26 08:50] kierenj commented on #34401
Just stumbled across this, it still feels important to me.. ?

[2018-05-26 10:17] #57496 closed

[2018-05-26 11:11] jessesuen commented on #57705
In case anyone else requires the workaround for this. This was the change necessary to protect our controller from bad manifests:
https://github.com/argoproj/argo/commit/8d96ea7b1b1ba843eb19a0632bc503d816ab9ef3

[2018-05-26 11:11] njohnsn opened #64357 "Issue with single node in a k8s cluster on Raspberry Pi 3b+ (ARM)"
/kind bug

**What happened**:
Node won't enter ready state.
Other 3 nodes in cluster enter ready state just fine.
Tried rebuilding node twice following same steps as for the other three nodes.

**What you expected to happen**:
All Nodes to enter ready state.

**How to reproduce it (as minimally and precisely as possible)**:
Attempting to build K8S cluster on Raspberry Pi 3 b plus following instruc

[2018-05-26 12:37] bboreham commented on #45976
Folks here might be interested in the (long) thread about DNS packets getting dropped here:
https://github.com/weaveworks/weave/issues/3287

(Note it is mostly independent of Weave Net: more about conntrack, masquerading and the like)

[2018-05-26 14:54] dims opened #64359 "Broken conformance suite - [sig-apps] Daemon set [Serial] tests are failing"
[sig-apps] Daemon set [Serial] should retry creating failed daemon pods [Conformance]
[sig-apps] Daemon set [Serial] should rollback without unnecessary restarts [Conformance]
[sig-apps] Daemon set [Serial] should run and stop complex daemon [Conformance]
[sig-apps] Daemon set [Serial] should run and stop simple daemon [Conformance]
[sig-apps] Daemon set [Serial] should update pod when spec was up

[2018-05-26 14:56] dims commented on #64359
[code]

[2018-05-26 14:58] dims commented on #64359
@soltysh can you please take a look? I see at least one change in this range that probably caused this? https://github.com/kubernetes/kubernetes/compare/8306b0b1a...39be1048f

[2018-05-26 14:58] dims commented on #64359
/sig apps
/priority failing-test

[2018-05-26 14:59] dims commented on #64359
/milestone v1.11

[2018-05-26 15:26] sbezverk commented on #64341
With some help, I reproduced the issue in my test bed. Now I do see that in-tree csi bits establish more grpc sessions than I would expect, debugging why. I will update the thread later..

[2018-05-26 16:07] dims commented on #64359
/kind bug
/priority critical-urgent

[2018-05-26 16:07] dims commented on #64359
cc @AishSundar

[2018-05-26 16:17] AishSundar commented on #64359
@dims thanks for tracking and opening this issue.

[2018-05-26 16:20] AishSundar commented on #64359
cc @kow3ns and @janetkuo

[2018-05-26 17:21] AishSundar opened #64362 "Failing Test: Multiple [sig-cli] Kubectl client [k8s.io] tests failing in sig-release-master-upgrade suite"
## Failing Job
* [gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
* [gke-gci-1.10-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)

## Failing Test
* [[sig-cli] Kubectl client [k8s.io] Kubectl run --rm job

[2018-05-26 17:48] liggitt commented on #64362
/assign @soltysh
/unassign

[2018-05-26 18:04] deitch commented on #44165
/remove-lifecycle stale

[2018-05-26 18:13] luxas commented on #62109
@k82cn does this target v1.11?

[2018-05-26 19:50] sbezverk commented on #64341
It appears for each operation of connecting/disconnecting csi provided volume, 4 connections are leaked. Current code does not closes gRPC connection after the operation is completed.

[code]

Since we cannot ensure that the same gRPC connection is used by multiple processes, then the solution could be exposing grpc conn in csiClient so the process using this connection could close it on exit.

[2018-05-26 20:10] epsniff commented on #54491
@davidopp in our stack the main causes are OOMs and segfaults.

[2018-05-26 20:27] #16831 closed

[2018-05-26 20:27] #42897 closed

[2018-05-26 20:27] #41507 closed

[2018-05-26 20:27] #45760 closed

[2018-05-26 20:27] #46969 closed

[2018-05-26 20:27] #41848 closed

[2018-05-26 21:18] billpratt commented on #64333
Would putting AlwaysPullImages after mutating webhook fix the issue? In 1.9, it comes after. See https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#is-there-a-recommended-set-of-admission-controllers-to-use

[2018-05-26 22:36] MikeSpreitzer commented on #63608
Looking in https://github.com/kubernetes/kubernetes/blob/v1.10.3/plugin/pkg/admission/resourcequota/controller.go , I see something odd.  In two places --- `getWork` and in `doWork.workFunc` --- there is a special case for an empty list of `Attributes` objects.  Now, it is not easy to imagine how the list could ever be empty when the namespace is in the queue --- but if this ever comes to pass the

[2018-05-26 23:16] MikeSpreitzer commented on #63608
So I made XXX to test the hypothesis that the double-call of `e.queue.Done(ns)` is a critical part of the pathology.  I ran a few trials, and got no timeouts.  Here is the longest:
[code]

[2018-05-26 23:26] edernucci commented on #64234
Same here on Raspbian, kubelet instant crash on 1.10.3-00 armhf

[code]

[2018-05-26 23:30] #46920 closed

[2018-05-26 23:38] dims commented on #63608
@MikeSpreitzer wanna file a WIP PR so we can see the exact changes?

[2018-05-27 00:36] MikeSpreitzer commented on #63608
yeah, when I get a chance.  Weekend now.

[2018-05-27 01:36] YacheLee commented on #24137
Maybe you should take a look at `kubectl get statefulsets`.

[2018-05-27 01:50] dims commented on #64348
Ack. let's close this one out as it is already fixed then

/close

[2018-05-27 01:50] #64348 closed

[2018-05-27 09:01] CaoShuFeng commented on #64194
/close

https://github.com/kubernetes/website/pull/8651

[2018-05-27 09:01] #64194 closed

[2018-05-27 10:11] ffd2subroutine commented on #62452
hi @zjj2wry
Thank you for your explanation

[2018-05-27 11:50] prafull01 commented on #64073
I am able to solve the issue. The issue is not related to kubernetes HA. Problem was the cgroup driver used by kubelet and docker was not same. When I changed the cgroup driver to cgroupfs in 10-kubeadm.conf, master came up without any problem.

[2018-05-27 12:11] tvinhas commented on #64234
Same on Ubuntu 16.04 on either Raspberry Pi 3 or oDroid XU4

[2018-05-27 13:16] igoratencompass opened #64373 "When launching a Pod referencing existing EBS the pod does not get launched on the node where the EBS gets attached"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When launching a Pod referencing existing EBS the pod does not get launched on the node where the EBS gets attached. I have to kill that one and new one gets created this time on the right node. Initially the EBS is in `available` state and k8s does the right thing and attaches the volume to the the node running in the sa

[2018-05-27 13:44] #55226 closed

[2018-05-27 14:42] GarethOates commented on #29540
This might not be best practice from a security point of view, but I was able to fix this problem by running the following command on **all** of the nodes in my cluster.

[code]
I've ran this and it works on my internal "for play only" cluster so there's no real risk involved for me.

[2018-05-27 17:27] pvanderlinden commented on #58211
/remove-lifecycle stale

[2018-05-27 17:28] dims commented on #29540
looks like a persistent-long-term-problem

/reopen

[2018-05-27 17:29] dims commented on #29540
/assign

[2018-05-27 17:29] dims commented on #29540
/reopen

[2018-05-27 17:29] dims commented on #29540
/unassign

[2018-05-27 17:31] dims commented on #25908
persistent-long-term-problem :(

[2018-05-27 17:34] dims commented on #38923
/close

@sbezverk please reopen if necessary

[2018-05-27 17:34] #38923 closed

[2018-05-27 17:34] bbb31 commented on #29540
I actually got around this problem by changing from calico to weave.

[2018-05-27 17:48] #21331 closed

[2018-05-27 19:04] silveryfu commented on #63842
Subtasks of integration test:
- [ ] integration/scheduler createImageLocalityPod and nodes with image locality
- [ ] priorities_test
- [ ] scheduler_perf

Subtasks of e2e test:
- [ ] e2e framework createImageLocalityPod for reserving image locality on nodes
- [ ] e2e priorities

[2018-05-27 19:43] donbowman commented on #51835
The attached reproduces this for me on gke
[code]

[k8s-nfs-test.yaml.txt](https://github.com/kubernetes/kubernetes/files/2042950/k8s-nfs-test.yaml.txt)

run it, then delete it. You will get a 'nfs-client' stuck in deleting. The reason is the hard mount on the node, and the 'server' is deleted first.

[2018-05-27 19:50] #57491 closed

[2018-05-27 19:55] nikhita commented on #7328
Custom resources support `observedGeneration`. And added validation for it in https://github.com/kubernetes/kubernetes/pull/64379.

Do we still want it for CRDs as well?

[2018-05-27 19:55] nikhita commented on #7328
/cc @sttts

[2018-05-27 20:18] Frodox commented on #39792
/remove-lifecycle stale

[2018-05-27 21:56] redbaron commented on #53221
/remove-lifecycle stale

[2018-05-27 23:54] #43788 closed

[2018-05-28 00:34] ellenkorbes commented on #64164
Quick update, I did take a good look over the related code during the weekend, but haven't managed to put together a contribution yet. I'll hit you guys up on Slack tomorrow with a few questions :)

[2018-05-28 01:56] #57655 closed

[2018-05-28 02:18] gyliu513 opened #64381 "`kubectl get` without namespace should return all resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Now `kubectl get` without namespace will return resources under default namespace, an ideal way would be `kubectl get` without namespace should return all resources under different namespaces.

Istio already doing it as follows:

[code]

You may see there is a column named as `NAMESPACE`, and we should also enhance `kubectl` to support

[2018-05-28 02:38] andyzhangx opened #64382 "azure file PVC size grow does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

https://github.com/kubernetes/kubernetes/blob/b9e46f542266d6c3ba7d76731cfa8c707bb7e456/pkg/volume/azure_file/azure_file.go#L153-L154

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use

[2018-05-28 02:56] wgliang opened #64384 "`pull-kubernetes-e2e-gce-device-plugin-gpu` test always fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

We can see all related with `pull-kubernetes-e2e-gce-device-plugin-gpu` test failed.  #64366 #64364 #64339 #63839 and so on.
 I think it maybe relate with PR #63979 and #64340.

**What happened**:
Always fails.
**What you expected to happen**:
Pass all.

[2018-05-28 02:57] wgliang commented on #64384
/cc @soltysh @jiayingz
PTAL. Thanks.

[2018-05-28 03:03] wgliang commented on #64384
Why did the #64340 not pass the `pull-kubernetes-e2e-gce-device-plugin-gpu` test but was still merged?

[2018-05-28 03:05] wgliang commented on #64384
/priority important-soon
/kind e2e-test-failure

[2018-05-28 03:11] ravisantoshgudimetla commented on #58242
/remove-lifecycle stale

[2018-05-28 03:26] SaberOwO opened #64385 "no resources found"
kubelet 服务启动后 master节点上get csr授权通过。node上/etc/kubernetes下没有自动生成.kubeconfig文件
kubectl get nodes 返回no resources found

[2018-05-28 04:59] #57193 closed

[2018-05-28 05:06] jmreicha commented on #61277
Out of curiosity, I just hooked up a pi 3B+ I forgot I had and tried installing the master on it.  Interestingly, the master came up using k8s version 1.10.2 and Docker 18.04 but k8s 1.10.3 seems to still be broken using the RPi.

Then I was able to join the remaining Pine64s to the cluster as workers.  This isn't an ideal setup but at least gets me a 1.10 cluster for now.  Still don't know what's

[2018-05-28 05:18] AndresPineros commented on #41598
Still having this bug at 1.9

[2018-05-28 05:33] deitch commented on #43504
/remove-lifecycle stale

[2018-05-28 05:36] nazisangg commented on #61076
Hitting this on "OpenShift Master: v3.7.23;   Kubernetes Master: v1.7.6+a08f5eeb62"

The spec is:
spec:
  containers:
    - command:
        - /bin/alertmanager
        - '-config.file=/alertmanager.yml'
        - '-storage.path=/alertmanager'
      image: 'functions/alertmanager:latest-k8s'
      imagePullPolicy: Always
      name: alertmanager
      ports:
        - containerPort: 9003

[2018-05-28 05:41] andyzhangx commented on #63121
@PatrickLang now file volume mapping on windows container is not supported according to https://github.com/moby/moby/issues/37120, so someone is working on that? If so, I will also do corresponding code change on k8s.

[2018-05-28 06:20] ericfucer commented on #55427
I met with the same issue on the completed pods of Jobs, similar like this:
[code]
Any update? Thanks!

[2018-05-28 06:41] 372046933 commented on #51509
I have `apiserver-count=1` but still I got

[2018-05-28 06:57] php-coder commented on #59865
@ramato-procon No, I only marked it appropriately to pay attention.

[2018-05-28 07:10] johnzheng1975 commented on #64259
Here is an answer from hubt, seems good.
yes it does. in general, if kubernetes see anything that is not it's desired config, it will attempt to change it so that it is the desired config.
that's the general controller paradigm that is use throughout kubernetes. so for something like this, you need to define the security groups to add to the elb in the service.
use something like this: https://kub

[2018-05-28 07:14] pratapaprasanna commented on #62026
my pleasure .. :+1:

[2018-05-28 07:17] nikhita commented on #23360
/remove-lifecycle stale
/lifecycle frozen

[2018-05-28 07:27] nikhita commented on #23360
/remove-lifecycle-frozen

Ability to do object count quota was added in https://github.com/kubernetes/kubernetes/pull/54320. It works for both deployments and daemonsets.

Closing.
/close

[2018-05-28 07:27] #23360 closed

[2018-05-28 08:13] yue9944882 commented on #64315
It seems difficult to know when the disconnection happen. But we could add an additional option for `watch` API like `watchTimeout` which indicates how long can a `watch` endure. This option should be default to `inifinite` so that `watch`'s default behavior is compatible with current logic. For the case in this issue, we could explicitly set the the `watchTimeout` to ~5 min. WDYT?

[2018-05-28 08:19] johscheuer commented on #63994
This is our acs-engine template:

[code]

[2018-05-28 08:26] yue9944882 commented on #64381
@gyliu513 Seems `--all-namespaces` option might do the job. Am I missing sth?

[2018-05-28 08:33] mc0e commented on #41286
/remove-lifecycle stale

[2018-05-28 08:51] schmitch commented on #19475
Actually it would also be great to actually get some parts of the `image` field.

I.e. `image: docker.io/library/nginx:1.13` to get the version out of the image field.

[2018-05-28 08:53] gyliu513 commented on #64381
My bad, let me close this one, thanks @yue9944882

[2018-05-28 08:53] #64381 closed

[2018-05-28 08:54] yastij opened #64387 "e2e conformance tests failing when using DenyEscalatingExec admission controller"
When using the `DenyEscalatingExec` admission controller, e2e tends to break, especially these:

[code]

This is especially confusing for users, as they think that their cluster isn't conformant.

/sig testing
/priority important-soon

[2018-05-28 08:54] yastij commented on #64387
/kind bug

[2018-05-28 09:06] yue9944882 commented on #63986
/kind feature

[2018-05-28 09:08] andyzhangx opened #64388 "specify resource group for azure disk PVC dynamic creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Add annotation `service.beta.kubernetes.io/azuredisk-resource-group` for azure disk PVC dynamic creation

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Clou

[2018-05-28 09:21] #54885 closed

[2018-05-28 09:53] chazsconi commented on #64315
@yue9944882 Yes, I think this is a good approach.  However, when the timeout occurs, the server should respond with a specific HTTP status code (e.g. 408 timeout).  This will allow the client to differentiate between a timeout and the watch finishing because the pod terminated.

[2018-05-28 10:04] #20644 closed

[2018-05-28 10:55] lioncruise commented on #60414
/close

[2018-05-28 10:55] #60414 closed

[2018-05-28 11:16] sttts commented on #54712
/remove-lifecycle stale

[2018-05-28 11:18] neolit123 commented on #64384
@kubernetes/sig-testing-pr-reviews

[2018-05-28 11:20] yadavkkumar commented on #64268
@bilalyasar can u provide the yaml file which you are using.

[2018-05-28 11:26] johackim opened #64391 "kubectl create CustomResourceDefinition and new kind resource in one single file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have two resources in one single file :

[code]

I want create this resources in one single command `kubectl create` :

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

Helm hooks doesn't work either :

- https://paste

[2018-05-28 11:31] darrenstarr commented on #64234
Same problem here on
 - Raspberry Pi 3
 - Rasbian Stretch Lite 2018-04-18

I've tested on 4 PIs, same problem.

Relevant output from "apt list --installed"

docker-ce/stretch,now 18.05.0~ce~3-0~raspbian armhf [installed]
kubeadm/kubernetes-xenial,now 1.10.3-00 armhf [installed]
kubectl/kubernetes-xenial,now 1.10.3-00 armhf [installed]
kubelet/kubernetes-xenial,now 1.10.3-00 armhf [installed]
kuber

[2018-05-28 11:36] neolit123 commented on #64384
@kubernetes/sig-testing-bugs

[2018-05-28 12:19] squeed opened #64393 "dockershim (and other runtimes): take advantage of new CNI capabilities"
/kind feature

The CNI "capability arguments" parameter - currently used to pass port mappings - has a few new capabilities: bandwidth limiting and network address management. The dockershim's networking driver should use them.

The network address is just passing the PodCIDR dynamically to the plugin, so it no longer has to retrieve it from the APIServer.

Bandwidth limiting is already implemente

[2018-05-28 12:19] squeed commented on #64393
/sig network

[2018-05-28 12:21] squeed commented on #64393
/assign

[2018-05-28 12:35] squeed commented on #64393
@dcbw fyi.

[2018-05-28 12:36] shyamjvs commented on #62808
So the runs after going back to the etcd version at head (i.e 3.2.18) seemed fine wrt pod-startup latency (see runs 154-156). However we're seeing a huge increase across runs 156 and 157. The diff is https://github.com/kubernetes/kubernetes/compare/b87105aeb...23d9a48e6.

![pod-startup](https://user-images.githubusercontent.com/4333971/40614752-676fc042-6284-11e8-9c0e-447e65977e6a.png)

Will look

[2018-05-28 12:39] shyamjvs commented on #62808
The `schedule -> run` and `run -> watch` latencies have both shot up.

[2018-05-28 12:57] soltysh commented on #42649
@dharmeshkakadia find me on slack and we can chat. But you should start with familiarizing your self with cronjob [object](https://github.com/kubernetes/kubernetes/blob/cf27c256eab9534cb685bde56ddb88081e136ab2/staging/src/k8s.io/api/batch/v1beta1/types.go) and [controller](https://github.com/kubernetes/kubernetes/tree/cf27c256eab9534cb685bde56ddb88081e136ab2/pkg/controller/cronjob).

[2018-05-28 13:31] soltysh commented on #64362
Looking at it...

[2018-05-28 13:31] soltysh commented on #64362
status/approved-for-milestone

[2018-05-28 13:36] krzysied commented on #63245
Here's the top latency for 3.2.18:
Run 1:
``
{Resource:pods Subresource: Verb:LIST Scope:cluster Latency:{Perc50:2.582612s Perc90:5.692709s Perc99:6.321931s Perc100:0s} Count:8328}
{Resource:nodes Subresource: Verb:LIST Scope:cluster Latency:{Perc50:555.988ms Perc90:2.109917s Perc99:4.495199s Perc100:0s} Count:2387}
{Resource:pods Subresource: Verb:LIST Scope:namespace Latency:{Perc50:51.435ms Per

[2018-05-28 13:37] wojtek-t commented on #62808
I think it might be easiest to take 2-3 random pods with very long startup time and look into their logs in scheduler, apiserver, kubelet to see what was happening with them.

[2018-05-28 13:37] feresberbeche commented on #38923
/reopen

[2018-05-28 13:39] soltysh commented on #64362
Possible cause is the too short timeout in the test while waiting for removed resources.

[2018-05-28 13:44] wojtek-t commented on #63245
@krzysied - do you still have apiserver logs from there runs?

In the last run there is no  "List all pods" calls at all. In the first two there are O(8k+) of them.
That makes me wonder what was calling those "List all pods" in the first two cases (or what wasn't in the last run) and why.

If you could grep the logs of the first or second run for the "List all pods" calls and see what was sending

[2018-05-28 14:08] #39940 closed

[2018-05-28 14:13] soltysh commented on #64362
The job was fixed in https://github.com/kubernetes/kubernetes/pull/64399. The other two problems are related to fixes that were applied in https://github.com/kubernetes/kubernetes/pull/61565 and https://github.com/kubernetes/kubernetes/pull/62155 on master. I'll open a cherry-pick of these two against 1.10 branch, since these tests are invoking those versions which fail due to lack of wait.

[2018-05-28 14:23] nilebox opened #64401 "kubectl replace --grace-period=0 --force ends with nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig CLI

**What happened**:
Running `./kubernetes/cluster/kubectl.sh replace -f pod2.yaml --grace-period=0 --force` leads to nil pointer dereference:

[code]

**What you expected to happen**:
`kubectl replace` is expected to run delete with wait in that case

**How to reproduce it (as minimally and precisely as possible)**:
`./kubernetes/cl

[2018-05-28 14:33] jsafrane opened #64402 "Can't attach AWS EBS volume as read-only"
/kind bug

**What happened**:
Kubernetes refuses to attach read-only AWS EBS volume with this error:

[code]

Other volume plugins (except GCE PD) attach such volumes as read-write and then remount them into pods as read-only.

**What you expected to happen**:
AWS volume is attached (as read-write) and then mounted into a pod as read-only.

/sig storage
/sig aws

[2018-05-28 14:34] nilebox commented on #64401
This bug was introduced in #64034:
1. `ResourceFinder` is set in https://github.com/kubernetes/kubernetes/blob/d463bbddb1e53627a50b8e00a1f5a5b71703eebe/pkg/kubectl/cmd/delete.go#L278 that requires `DeleteOptions.Result` to be non-nil
2. `WaitForDeletion` flag is being set in https://github.com/kubernetes/kubernetes/blob/383872615dfa973ea8965343424e3dc771bd818d/pkg/kubectl/cmd/replace.go#L169
3. `D

[2018-05-28 14:34] nilebox commented on #64401
/cc @soltysh @deads2k @juanvallejo

[2018-05-28 14:52] krzysied commented on #63245
Unfortunately, I have only build logs.

[2018-05-28 15:42] bgrant0607 commented on #63814
Another problem with comparing hashes across versions is changes to the hash function.

Similar issues have come up in workload controllers, where they are used for collision avoidance only, for these types of reasons.

Persisted hashes shouldn't be used as the sole determination of equality, since there are multiple reasons why they may change across releases.

If a hash comparison fails, one nee

[2018-05-28 15:52] soltysh commented on #64359
Fix in https://github.com/kubernetes/kubernetes/pull/64406

[2018-05-28 17:10] cblecker commented on #64384
Looks like the fix is in https://github.com/kubernetes/kubernetes/pull/64404

[2018-05-28 17:19] danderson opened #64407 "Seccomp annotations silently do nothing with Docker runtime on Debian Jessie"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I set the annotation `seccomp.security.alpha.kubernetes.io/pod: docker/default` on a pod, and the resulting pod was not sandboxed.

The root cause is documented at https://docs.docker.com/engine/security/seccomp/ : on older Debian-family distros, the Docker package is built with seccomp support disabled because of versio

[2018-05-28 17:21] danderson commented on #64407
Taking a guess that k8s<>runtime interaction is a sig-node problem, since I don't see any sig-security in the list...

@kubernetes/sig-node-bugs

[2018-05-28 18:55] agnnn commented on #44273
Happening on GKE again.

[2018-05-28 19:11] DanielRamosAcosta opened #64409 "Kubelet crashing in Raspberry"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report!

/kind bug

**What happened**: `kubelet`is crashing on Raspberry Pi 2 Model B
**What you expected to happen**: Not to crash!

**How to reproduce it (as minimally and precisely as possible)**:

I started using Raspbian with [this tutorial](https://gist.github.com/alexellis/fdbc90de7691a1b9edb545c17da2d975) but it gave me this error. Then I s

[2018-05-28 19:13] #42632 closed

[2018-05-28 20:12] embano1 commented on #64021
On the issue of updating Kubelet labels after initialization: https://github.com/kubernetes/kubernetes/issues/59314

[2018-05-28 20:33] wskinner opened #64411 "Cluster-Autoscaler will not scale from zero"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cluster Autoscaler will not scale up from zero nodes. However, it will scale up from one node.
I have a node group whose template includes p2.xlarge GPU instances. With zero running instances in my gpu-nodes node group, I create a new Job that requests 2 pods, each with 1 GPU. The pods are unschedulable, and CA logs show:

[2018-05-28 21:13] kevincvlam opened #64412 "Pod deleted about a minute after creation by system:serviceaccount:kube-system:pod-garbage-collector?"
/kind bug

**What happened**:
A pod in the Pending state, which we expected to go from Pending to Running was instead deleted by the Kubernetes Garbage Collector.

We believe that the pod went from Pending to Deleted:
- GKE StackDriver logs were missing any from the pod, usually if the pod was created there would be an entry
- We can see in our audit logs of our GKE cluster that the pod was create

[2018-05-28 21:14] kevincvlam commented on #64412
@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-autoscaling-bugs
@kubernetes/sig-gcp-bugs

[2018-05-28 22:06] #64384 closed

[2018-05-28 22:06] #64359 closed

[2018-05-28 22:34] wskinner commented on #64411
@sig-autoscaling-bugs

[2018-05-28 22:36] wskinner commented on #64411
sig autoscaling

[2018-05-29 00:13] resouer commented on #64411
I believe this issue should be reported to: https://github.com/kubernetes/autoscaler

[2018-05-29 00:13] #64411 closed

[2018-05-29 00:24] resouer opened #64413 "`ListImages()` handle docker.io/library not consistently across different CRI runtimes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubelet  will set images list fetched by `ListImages()` to `NodeStatus`, but this result actually varies from different CRI runtimes.

e.g. a pod has spec of `docker.io/library/nginx:1.7.9` image, then the `NodeStatus` is:

cri-containerd (and maybe the same for other CRI shims):
[code]
Docker:
[code]

**What you expecte

[2018-05-29 01:36] dims commented on #64407
@jessfraz thoughts please!

[2018-05-29 01:57] feiskyer commented on #64407
Seems this is a docker installation problem. You can verify whether seccomp is enabled by checking `docker info`. Static binaries should be used for those versions.

BTW, #32803 expose optional runtime features in CRI, but still no agreement yet.

[2018-05-29 02:15] andrewtar commented on #41881
Are there any results or changes for this issue? We really need to use * to specify a set of subdomains. The approach with listing of all possible subdomains is not suitable for us, because the number of subdomains is too large. It was very nice to use *. We found an [alternative implementation of IngressController](https://docs.traefik.io/user-guide/kubernetes/), but we can not use this, because

[2018-05-29 02:35] jessfraz commented on #64407
I would check the info endpoint:

should return
[code]
https://docs.docker.com/engine/api/v1.24/

[2018-05-29 02:36] jessfraz commented on #64407
i can make a patch tomorrow

[2018-05-29 02:46] feiskyer commented on #32803
@jessfraz Any comments on this?

[2018-05-29 02:49] jessfraz commented on #32803
Yeah I think /info or something like it should return so the admission controllers can deny or not for features like they do with docker versions

[2018-05-29 03:14] feiskyer commented on #32803
#64005 is adding a similar `GetRuntimeConfigInfo()` interface in CRI, which returns the UID/GID mapping config of runtimes. This could be combined together in one info API.

[2018-05-29 03:17] feiskyer commented on #32803
@yujuhong @Random-Liu @mikebrow @mrunalp  For the list of features, any more ideas of this list:

[code]

[2018-05-29 05:34] MrHohn commented on #60471
/remove-lifecycle stale

[2018-05-29 05:48] #58288 closed

[2018-05-29 05:48] soltysh commented on #64362
All the PRs are merged, closing.

[2018-05-29 06:04] AndreyK7 commented on #64073
I have a same problem. Api servers don't start after reboot master nodes.
NAME                                  READY     STATUS             RESTARTS   AGE
kube-apiserver-kubemaster1            1/1       Running            2          23h
kube-apiserver-kubemaster2            0/1       CrashLoopBackOff   30         11h
kube-apiserver-kubemaster3            0/1       CrashLoopBackOff   17         11

[2018-05-29 06:09] prafull01 commented on #64073
I am using cgroupfs for cgroup driver for both docker and kubelet and everything is working fine for me. Could you try to change cgroup driver from systemd to cgroupfs and see if it resolves the problem.

[2018-05-29 06:32] AndreyK7 commented on #64073
Unfortunately, it isn't working for me.  I changed to cgroupfs, but this error keep.

[2018-05-29 07:08] NimalanNR opened #64420 "Error: unknown command "reset" for "kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubeadm reset
Error: unknown command "reset" for "kubeadm"
Run 'kubeadm --help' for usage.

kubeadm: I am an alpha version, my authors welcome your feedback and bug reports
kubeadm: please create issue an using https://github.com/kubernetes/kubernetes/issues/new
kubeadm: and make sure to mention @kubernetes/sig-cluster-lifecycle. Th

[2018-05-29 07:20] NimalanNR commented on #64420
@kubernetes/sig-azure-bugs

[2018-05-29 07:52] jsafrane commented on #64402
/assign

[2018-05-29 07:53] andyzhangx opened #64428 "specify resource group for azure file PVC dynamic creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
specify `resourcegroup` in azure file storage class so that user could specify external resource group

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11
- Clou

[2018-05-29 08:11] jsafrane opened #64429 "CSI attach/detach should use shared informer"
/kind bug
/sig storage

CSI volume unnecessarily abuses API server with Create/Watch/Delete VolumeAttachment calls, while A/D controller already has a shared informer for `VolumeAttachment` objects. CSI's `Attach()` and `Detach()` should use the shared informer from A/D controller:

- to check if `VolumeAttachment` exist before creating it at https://github.com/kubernetes/kubernetes/blob/4a7a18653

[2018-05-29 08:11] wojtek-t commented on #63030
So I finally got back to it and looked into it (note that I'm explicitly ignoring the second regression @shyamjvs is debugging in https://github.com/kubernetes/kubernetes/issues/62808).

This one I'm explicitly talking about the high API call latencies.
So looking into perf-dash it's pretty clear that some runs are waaay better than the others:
![screenshot from 2018-05-29 09-55-30](https://user-i

[2018-05-29 08:15] wojtek-t commented on #63030
@kubernetes/sig-node-bugs @gmarek @k82cn ^^

[2018-05-29 08:32] JokerMonitor opened #64430 "API Server Start Failed with no clearly exception details"
The kube-apiserver.service as below:
`
[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
User=root
ExecStart=/usr/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --advertise-address=172.18.71.208 \
  --allow-privileged=true \
  --apis

[2018-05-29 08:32] luxas commented on #57518
@kubernetes/sig-network-bugs Any chance we could get this prioritized as a bug fix for v1.11?

[2018-05-29 08:34] luxas commented on #57518
cc @kubernetes/sig-cluster-lifecycle-bugs

[2018-05-29 09:16] fdhex commented on #64021
Thanks @embano1 for raising this issue. I also support the approach where we do not update the labels as in my understanding that would create more issues than resolve in a DRS-activated cluster.

[2018-05-29 09:19] justincormack commented on #64407
Debian Jessie is *not* "current stable". Stretch was released a year ago. Jessie is an ancient distro from 2015.

[2018-05-29 09:21] justincormack commented on #64407
Also running a 4.16 kernel with an old version of libseccomp is going to cause you a world of pain.

[2018-05-29 09:35] soltysh commented on #64362
It looks like `[sig-cli] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance]` is still an issue, re-opening.

[2018-05-29 09:38] slpcat opened #64435 "Azure CloudProvider need config option for EnableFloatingIP"
https://github.com/kubernetes/kubernetes/blob/5d8f6ed4524abac65357e0095395c25634f83cea/pkg/cloudprovider/providers/azure/azure_loadbalancer.go

FloatingIP **should**  disabled when front port is deffrent from backend port

[2018-05-29 09:42] sttts commented on #64333
Mutating webhooks are run at the end for the reason to be able to tweak everything other stages of the system have done. We cannot arbitrarily move some plugin adhoc somewhere else. This also breaks compatibility for people relying on the old order.

I can see though that some plugins make more sense at the very end. I wonder whether we need some very limited ordering feature (please not prioritie

[2018-05-29 09:44] marksutherland commented on #42306
FWIW, it looks to me like the problem is in the kube-controller-manager, as it doesn't appear to be able to resolve dns entries within the cluster:

[code]

and here's an extract from a shell on the controller:

[code]

[2018-05-29 09:53] NimalanNR opened #64437 "Error from server (Forbidden):"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$kubever"
Error from server (Forbidden): serviceaccounts "weave-net" is forbidden: User "system:node:devnode2" cannot get serviceaccounts in the namespace "kube-system": disabled by feature gate TokenRequest
Error from server (Forbidden): clusterroles.rbac.authorization

[2018-05-29 09:54] wgliang commented on #64435
/area cloudprovider

[2018-05-29 09:54] NimalanNR commented on #64437
@kubernetes/sig-azure-bugs

[2018-05-29 10:00] shyamjvs commented on #62808
So I digged up a bit and it seems like the problem is with kubelet. On some nodes, the kubelet is failing to create pod midway (which therefore is leading to huge startup latency):

[code]

(source - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/157/artifacts/gce-scale-cluster-minion-group-3-xsmk/)

It seems to me like we might've either started using too

[2018-05-29 10:01] wojtek-t commented on #63030
BTW - wrt rescheduler, the problem seems to be exactly the same:
https://github.com/kubernetes/contrib/blob/master/rescheduler/rescheduler.go#L408
But I think we will switch off rescheduler in 1.11 (will try to confirm that today), so probably shouldn't spend too much time on it.

[2018-05-29 10:04] wojtek-t commented on #63245
I think the results above seem to be inlined with what I described in https://github.com/kubernetes/kubernetes/issues/63030#issuecomment-392690351

I also don't think that we now suspect etcd in any of our current problems.
So I think that we may actually close this issue now. @shyamjvs - thoughts?

[2018-05-29 10:07] shyamjvs commented on #63245
Yeah.. that sgtm. We can reopen it later if we find evidence otherwise.
/close

[2018-05-29 10:07] #63245 closed

[2018-05-29 10:11] hoegaarden commented on #64021
I think the labels are important to manage somehow, especially with vMotion or that like in mind. However, I believe that is definitely *phase 2* and I am not to worried about that right now. I also like the idea of that CRD-managed suggestions / rebalance.

I think right now, for *phase 1* I'd be important to figure out how we actually share the region/zone information from the hosts to the guest

[2018-05-29 10:17] soltysh commented on #64362
I've opened https://github.com/kubernetes/kubernetes/pull/64439 to fix the code in 1.10 branch which is being tested in [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew/7980).

[2018-05-29 10:33] jsravn commented on #45976
@bboreham To be clear, the linked issue is about SNAT specifically. The linked article refers to use of host-gw mode on flannel, which masquerades _everything_ - not a great idea in my opinion. If you're using a more typical setup without masquerading everything (like vxlan, cloud routing, etc.), then accessing kube-dns or any service IP will use DNAT only, and is not affected by the described iss

[2018-05-29 11:22] #64244 closed

[2018-05-29 11:28] bboreham commented on #45976
@jsravn could you clarify "the linked issue", "The linked article" and "the described issue" with specific links please?  I got lost.

[2018-05-29 11:29] hzxuzhonghu commented on #57074
/remove-lifecycle stale

[2018-05-29 11:36] wojtek-t commented on #62808
BTW - what is important that this seems to cause kubelet getting SIGABRT and then Kubelet being down for another 20s or so.
So understanding it is pretty important as it is significant reliability issue for Kubelet.

[2018-05-29 11:47] shyamjvs commented on #64030
Thanks @jberkus and @jpbetz - we'll keep those points in mind.

So one question that popped up while @krzysied was looking into it is - how do we reset the etcd metrics (so that our e2e tests are independently measured)?
And it seems to me like we have a few options here:

- Restart etcd in b/w the tests (which will automatically reset the metrics)
- Measure the values of metrics after test-1 and

[2018-05-29 12:17] jsafrane commented on #45717
For the record, this has worked for me with today's master (pre-1.11):

* Enabled feature gate `TaintNodesByCondition=true` everywhere
* Run a pod with toleration:
[code]

[2018-05-29 12:29] hugochinchilla commented on #45976
@joekohlsdorf that's a quick win!! thank you for the tip.

[2018-05-29 12:48] shyamjvs commented on #62808
+1

Btw - I checked across the diff and seems like the limit on no. of threads is unchanged before and after:

[code]

[code]

So it maybe possible we're using more threads than before.
Also, I ran density test against mid-point of 156 and 157 (2ff0bc2b) and it wasn't as horribly bad:

[code]

Just to be sure it's locally reproducible, I'll check now if the right end is bad.
One more thing to note

[2018-05-29 13:11] deads2k commented on #64333
Correct.

Everyone wants to be at the very end.  Istio is likely to run afoul of PSP as well and changing an ordering for PSP will eliminate some power for mutating admission plugins in their ability to reconfigure objects.

It seems more like istio may need to understand the world it's playing in than trying to twiddle the world around istio (of which there are likely to be many and various use-c

[2018-05-29 13:11] deads2k commented on #64333
@kubernetes/sig-api-machinery-misc @liggitt @smarterclayton @lavalamp

[2018-05-29 13:17] k82cn commented on #63030
Agree, that's better for 1.11; the impact to api server seems acceptable, just add 7 api call concurrently (in the PR).

[2018-05-29 13:26] k82cn commented on #62109
It seems we can not catch v1.11, still 4 PRs under review :(.

[2018-05-29 13:45] vikramhansawat opened #64448 "dns resolution failing for all pods in kube cluster"
DNS resolution is failing for internal kubernetes service and all the other external hostnames.

**What happened**:
# nslookup kubernetes is failing
# kubectl run -i --tty ubuntu --image=ubuntu --restart=Never -- sh
# apt-get update
Err:1 http://archive.ubuntu.com/ubuntu bionic InRelease
  Temporary failure resolving 'archive.ubuntu.com'
Err:2 http://security.ubuntu.com/ubuntu bionic-security InRe

[2018-05-29 13:47] vikramhansawat commented on #64448
/sig network

[2018-05-29 13:57] msau42 commented on #56236
/remove-lifecycle stale

[2018-05-29 13:58] msau42 commented on #56098
/remove-lifecycle stale

[2018-05-29 13:58] #62725 closed

[2018-05-29 14:03] fturib opened #64450 "Flaky sig-cli conformance test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Some of the sig-cli Conformance tests are flaky (since several weeks) on those test suites:
- kubeadm deployment on GCE
- whatever the network defined (flannel, ipvs, etc ...)
(see [sig-network-gce test grid](http://k8s-testgrid.appspot.com/sig-network-gce#kubeadm-gce-ipvs))

these tests are also flaking (but with much low

[2018-05-29 14:04] fturib commented on #64450
/sig cli

[2018-05-29 14:09] fturib commented on #64450
Adding also Lifecycle as the flakyness seems related to kubadm deployment.

/sig cluster-lifecycle

[2018-05-29 14:10] jsravn commented on #45976
@bboreham The weave issue you linked has the article https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02. This describes a problem with source NATing - if there is a source port collision, it's possible for the packet to get dropped - for UDP and DNS this causes timeouts. When using "host-gw" mode on flannel, every pod connection is source NAT'd on

[2018-05-29 14:59] navya476 commented on #43223
Hi,
Could yo u please let me know how I can setup kubernetes on ubuntu without using minikube, kubeadm or any of such kind of tools. I want to setup that manually. Any reference links would be highly helpful.

Thank You!

[2018-05-29 15:13] fturib commented on #64110
I created an issue #64450 for these flaky sig-cli tests related to kubeadm/gce.

[2018-05-29 15:27] fturib opened #64454 "kubeadm / dns - GetDNSVersion does not depend of the version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

I raised as a bug, but may be resolved as WAD ...

**What happened**:

From that Review : #64258

in this piece of code : https://github.com/kubernetes/kubernetes/pull/64258/files/8d8b47596e6e71ae705ed2fd1e946e32a98a42f0#diff-6f6577e723201d3cf7ff85de45a73068

[code]

**there is a comment:**

Obviously, there is no implementation of logic to return the

[2018-05-29 15:28] fturib commented on #64454
/sig clyster-lifecycle
/cc @luxas
/cc @rajansandeep @MrHohn

[2018-05-29 15:41] gnufied commented on #64373
If you are running multizone cluster, this is a known problem. EBS volume creation does not take into account zone where pod is scheduled.  a proper fix will be provided by https://github.com/kubernetes/features/issues/561

In the meanwhile you can:

1. Either make sure your cluster does not run in multiple zones.
2. Create storage classes with "zone" parameter, so as they automatically provision

[2018-05-29 15:42] 372046933 opened #64455 "kube-dns failed to start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After `kubectl create -f kube-dns.yaml`, kube-dns failed to start

**What you expected to happen**:
kube-dns works
**How to reproduce it (as minimally and precisely as possible)**:
I can confirm that services which have type NodePort can be accessed By Node:Port, but kube-dns addon does not work. I appllied kube-dns.yaml

[2018-05-29 15:53] luxas commented on #64454
@fturib Please reopen this in the dedicated kubernetes/kubeadm repository we use for tracking issue.

[2018-05-29 15:53] #64454 closed

[2018-05-29 16:16] danderson commented on #64407
Yup, my mistake, since about Jessie I'm no longer keeping the debian codenames straight.

I think I'd still like to stand on my principled little hill that failing open for security is a bad failure mode, but under the circumstances, wontfixing as "severe user error" would be fine if you felt that way :)

[2018-05-29 17:32] abdoo commented on #43223
You can follow the documentation for kubeadm and give it a try
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

BR,
Fattah,

On Tue, May 29, 2018 at 11:01 AM, Navya Teja Otturu <
notifications@github.com> wrote:

--
Thanks
Best Regards,
Abdelfattah Mahran
http://www.linkedin.com/in/abdoomahran

[2018-05-29 17:40] luxas opened #64460 "kubelet: Expose CRI socket information"
/kind feature

**What happened**:
It would be great if the kubelet would expose what CRI socket it's talking to in `.Status.NodeInfo` for example. CRISocket isn't exposed in the kubelet `ComponentConfiguration`, so there is no actionable way to query the kubelet for what CRI endpoint it's talking to.

In my specific use case, I want to know the CRI endpoint at the time of e.g. `kubeadm upgrade`
,

[2018-05-29 17:41] luxas commented on #64460
cc @kubernetes/sig-cluster-lifecycle-proposals

[2018-05-29 17:50] yujuhong commented on #62808
This bumped the max message size for grpc. I don't expect it to affect the number of processes on the node...

This only affects non-docker runtimes, which should not be relevant to your tests.

Those are (dynamic) kubelet config changes. I don't think they would cause the regression, but /cc @mtaufen since he may have more insight.

[2018-05-29 18:03] andrewwatson opened #64461 "Random failures pulling images into GKE from GCR"
I created 3 clusters in GKE and in 2 of them I get random image pull failures when creating deployments.  Usually 1 of the pods will be created successfully but never all of them.  All the pods should be running the same image but for some reason they can't all pull the image.

Sometimes I can deploy a single pod and scale it up to 2 or 3 pods but this doesn't always work. the GCR repository and G

[2018-05-29 18:13] msau42 commented on #51835
@donbowman for the nfs unmount issue when you delete the nfs server first, you can set the "soft" mount option in the StorageClass or PV.

[2018-05-29 18:13] mtaufen commented on #64460
We had held off putting the CRI config in the KubeletConfiguration object thus far, because we weren't sure if that was the appropriate place. Nobody's had time to give that a lot of thought yet. I'm likewise not really sure what's appropriate to expose in the Node object regarding CRI. If you could sketch out arguments for/against and use cases that would actually help a lot.

[2018-05-29 18:15] wojtek-t commented on #62808
@shyamjvs - so maybe as you mentioned above it matter whether load test is running before or not. That would mean that regression might have happened within 2 runs before...

[2018-05-29 18:18] qingsongli1979 opened #64464 "Kubelet periodically lose TCP connection with pods when doing liveness/readiness probe check on GKE"
We have an software system deployed in a single GKE cluster node which using around 100 pods, in each pod we defined TCP readiness probe, now we could see the readiness probe periodically fails with "Unable to connect to remote host: Connection refused" on different pods.
With the tcpdump traces on the cluster node and the failing pods, we find that the packets sent from the cluster node seems rig

[2018-05-29 18:28] mikedanese commented on #53315
fold into https://github.com/kubernetes/kubernetes/issues/63726

[2018-05-29 18:34] AishSundar commented on #64158
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/3599?log#log

[2018-05-29 18:49] donbowman commented on #51835
I don't see how? I can set it on a PersistentVolumeClaim, but that doesn't apply here.
I don't think StorageClass applies here (that would be the under-disk, underneath the nfs server).

THe issue is on the nfs-client.
am i missing something?

[2018-05-29 18:55] nicksardo opened #64466 "Reconciliation strategy of port/IP allocation collisions is flawed"
/kind bug

**What happened**:
If you see an event like this on a service:
[code]

You will attempt to rectify the situation by deleting and recreating the service in hopes it'll be assigned a non-conflicting port. However, on service deletion, ports are blindly released from the allocator without regard to it being allocated by another service.

Therefore, until the repair controller runs (every t

[2018-05-29 18:57] msau42 commented on #51835
For your nfs PV, you can set the mountOptions field starting in 1.8 to specify a soft mount.   If you dynamically provision nfs volumes, you can also set it in your StorageClass.mountOptions

[2018-05-29 18:58] nicksardo commented on #64466
sig/network

[2018-05-29 18:58] bowei commented on #64466
/sig network

[2018-05-29 18:59] bowei commented on #64466
What are the affected versions?

[2018-05-29 18:59] nicksardo commented on #64466
All versions.

[2018-05-29 19:00] andrewwatson commented on #64461
/sig gcp

[2018-05-29 19:19] smarterclayton opened #64467 "GCP service load balancer to pod with host ports had inconsistent behavior"
I was running a 1.10 cluster on GCP (centos-7) with a GCP NLB pointing to an ingress controller running as a pod but listening on hostNetwork (2 nodes in the target pool, one pod on each node).  I tried to create a service load balancer to front it, but when I did so the service load balancer IP reported a connection failure ~50% of the time from outside of GCP, even though the newly created targe

[2018-05-29 19:28] krzyzacy commented on #64158
hummmm... @liggitt I'm a bit confused why #64184 doesn't work

[2018-05-29 19:32] neolit123 commented on #64384
@BenTheElder

i think this is true, as confirmed by the current state of this PR:
https://github.com/kubernetes/kubernetes/pull/64380#partial-pull-merging
it fails the `-gpu` test, but the CI says `Pending — PR does not have lgtm label.` instead of `Required Github CI test is not green...`

is there are way to see which tests would cause a `Required Github CI test is not green...`?

[2018-05-29 19:37] BenTheElder commented on #64384
off the top of my head the definitive way is this list:
https://github.com/kubernetes/test-infra/blob/467523b3e497400b6df069a9ddc4571963aadc11/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml#L15-L25

but note that @cjwagner is working on moving us to `tide` in the nearish future, and every other kubernetes repo besides this one is either not using merge automation or is using `tide`,

[2018-05-29 19:42] lavalamp opened #64470 "Job objects are not cleaned up"
/kind bug
/sig apps

It's easy to make jobs and forget to delete them. If you make enough of them, you can overload a control plane (which is typically sized to support the number of nodes and not an arbitrarily high number of jobs).

We have a "podgc" for deleting terminated pods if too many of them build up, so there is precedent.

[2018-05-29 19:43] lavalamp commented on #64470
@kow3ns @janetkuo

[2018-05-29 20:04] msau42 opened #64474 "Local PV fsgroup tests are flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
fsgroup tests are flaking 1-2 times a day: https://k8s-testgrid.appspot.com/sig-storage#gce

Some test logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/25834
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/25900

[2018-05-29 20:04] msau42 commented on #64474
@cofyc could you take a look?

[2018-05-29 20:08] neolit123 commented on #64384
thanks for the details! :+1:

[2018-05-29 20:37] lavalamp commented on #64333
Webhooks run after built-in plugins. There is no way to determine the relative ordering. Eventually, we will have to solve that, I think by giving built-ins their own configuration objects (and possibly even making them webhooks).

(Clarification: @sttts and @deads2k did not mean to say that mutating webhooks run after validating webhooks: that's not true, validating webhooks run last.)

The gener

[2018-05-29 20:41] BenTheElder commented on #64110
thanks!

On Tue, May 29, 2018 at 8:14 AM Francois Tur <notifications@github.com>
wrote:

[2018-05-29 20:41] lavalamp commented on #64412
The pod garbage collector is not the general GC.

In particular, it deletes Terminated pods when you have more than N terminated pods sitting around (IIRC N=12500 by default, settable by flag on controller manager).

What this means is that your pod was already terminated and the GC is not the culprit. It also means that you have a bunch of terminated pods sitting around: if you delete these, the

[2018-05-29 20:41] #64412 closed

[2018-05-29 20:43] lavalamp commented on #64412
(And please reopen if that doesn't solve the problem :) )

[2018-05-29 20:46] lavalamp commented on #63814
You can solve it with hashes, but you need to hash whitelisted fields (NOT
the encoded object), store every iteration of the hash function, and
understand a vector of hashes (i.e., one label per iteration of the hash
function) instead of a single hash.

On Mon, May 28, 2018 at 8:43 AM Brian Grant <notifications@github.com>
wrote:

[2018-05-29 21:13] donbowman commented on #51835
yes, but its not the PV that is being mounted w/ NFS.
Its from my NFS-server container.
There is no dynamic provisioning.

This is using Google GCP+GKE. The PVC selects a PV which is block IO, mounted as an ext4  into a container which re-exports it with NFS.

The 2nd set of containers, which mount from the nfs-server (which is itself a pod), they don't see it as a PV. They see it as a volume like

[2018-05-29 21:18] msau42 commented on #51835
@donbowman for your 2nd set of containers, which uses the nfs mount, you can manually create a PV for that nfs volume with the mountOptions set, and share the PVC for that nfs PV in all your pods.  No dynamic provisioning involved.

[2018-05-29 21:32] KashifSaadat opened #64479 "[PodSecurityPolicy] All authenticated tokens can use a PSP assigned to "system:serviceaccounts:kube-system" RBAC Group"
/kind bug
/sig auth

**What happened**:
- When creating a deployment with an authenticated token in a custom namespace `test`, the pod had an annotation `kubernetes.io/psp=privileged`. The token used only has access to `use` the `default` PSP (both of which exist and have relevant bindings in place).

**What you expected to happen**:
- The annotation on the pod should be `kubernetes.io/psp=default

[2018-05-29 21:59] BenTheElder commented on #64329
this was fixed upstream, but I'm still enacting defensive mitigations in test-infra against any future issues for kubernetes or otherwise.

[2018-05-29 21:59] #64329 closed

[2018-05-29 22:26] donbowman commented on #51835
Thanks! So that worked (in the sense its now a soft-mount) but doesn't fix the issue:

The mount (as observed on the Node) is now soft:
[code]

But when I delete the whole thing, I still get the nfs-client stuck forever in Terminating state.

[k8s-nfs-test.yaml.txt](https://github.com/kubernetes/kubernetes/files/2051520/k8s-nfs-test.yaml.txt)

attached is the yaml i used. I did a 'create', waited

[2018-05-29 23:01] msau42 commented on #51835
@donbowman ah so sorry, I was wrong about the soft option.  The soft option only prevents filesystem calls from hanging when the server is inaccessible, but doesn't actually help unmount the nfs volume.  A force unmount would need to be done for that, which we currently don't have a way to pass through.  For now, you'll have to manually cleanup those mounts and ensure that you delete your pods in

[2018-05-29 23:06] lavalamp opened #64483 "CRD: rename `validation` -> `schema`"
/kind feature
/sig api-machinery

The field name `validation` was a poor choice. In addition to schema validation, we should implement both defaults and static validation (eg regexp, min/max...) which can be written in the open api spec. I'd like to do this before/when it goes to v1.

[2018-05-29 23:07] lavalamp commented on #64483
@nikhita @mbohlool @sttts

[2018-05-29 23:32] balajismaniam commented on #55980
/remove-lifecycle stale

[2018-05-29 23:43] ppruthi opened #64484 "apiserver panic'ed due to concurrent map read/write"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

/kind bug

**What happened**:
Kube API server panics due to `fatal error: concurrent map read and map write`

**What you expected to happen**:
API server to handle concurrent writes

**How to reproduce it (as minimally and precisely as possible)**:
- Kubernetes 1.9.7 on AWS
- Cluster runs kube-dns, kube-dns-autoscalar, cluster-autoscalar, k

[2018-05-29 23:53] maephisto666 opened #64485 "2 Ingress Controllers ignoring namespaces when forwarding traffic to Ingress Resource"
/kind bug

**What happened**:
I am using Kubernetes on AWS (I installed it with KOPS). I am able to create Deployments, Services, etc. I have 2 namespace env-staging and env-live. In both namespace there is a service called registry with different details. I installed 2 ingress controllers with

[code]
and I defined 2 ingress resources in each namespace

[code]

[code]

AWS creates automatically 2

[2018-05-30 00:17] u2mejc commented on #49926
Of note, I'm no longer able to reproduce this issue in 1.9.8, but there is a 45sec back off where the pod claims `PersistentVolumeClaim is not bound: "test-StatefulSet" (repeated 10 times)` when it first is created, event thought you can clearly see the PVC was instantly successful.

Tested: us-west-2, m5.large, K8 v1.9.8

[2018-05-30 00:37] gnufied commented on #64484
/sig api-machinery

[2018-05-30 00:43] git001 commented on #23291
I have described several ingress controller solutions for kubernetes in my blog post https://www.me2digital.com/blog/2018/05/session-sticky/#kubernetes-ingress all of them can handle http/https/tcp and some of them also udp.

From my point of view are there several available solutions for a generic ingress handler. Doesn't the current solutions solve the question?

[2018-05-30 00:50] jhorwit2 commented on #64479
@KashifSaadat How are you handling the kube controller manager's credentials? Is it using service accounts? If so, you gave all the controller service accounts cluster admin, which means that when they create the pod they'll use whatever PSP, in this case privileged, that matches the pod based on PSP selection criteria.

[2018-05-30 02:28] mjaow commented on #43856
@xialonglee
you can try `systemctl -a --no-legend --no-pager -l | grep --color=never -o .*.slice|grep kube` and stop all slice display.

[2018-05-30 02:28] mbohlool commented on #64483
I suggest one schema per version in the 'CustomResourceDefenitionVersion' type and deprecating the root one. We can default it the same way we default versions from version and vice versa.

[2018-05-30 02:35] cofyc commented on #64474
@msau42 I'll look into this.

[2018-05-30 02:35] orainxiong opened #64489 "Deleting CSI volume takes a long time"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Deleting `CSI` volume takes a long time. Finally, A/D controller has to enforce detaching since `maxWaitForUnmountDuration` has expired.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
* `Kubernetes` 1.10.2 on bare metal
* Use `Kubeadm` to deploy `Kubernetes`

[2018-05-30 02:41] orainxiong commented on #64489
/sig storage

[2018-05-30 03:06] donbowman commented on #51835
i tried adding timeo=30 and intr, but same issue.
this locks it up, must log in to the node and do a umount -f -l on the underlying mount and then can do a kubectl delete --force --grace-period 0 on the pod.

it seems like since this was mounted on behalf of the pod that it could possible be umount ( or force umount after some timeout) on delete automatically.

[2018-05-30 03:28] #64489 closed

[2018-05-30 03:29] orainxiong opened #64490 "Deleting CSI volume takes a long time"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Deleting `CSI` volume takes a long time. Finally, A/D controller has to enforce detaching since `maxWaitForUnmountDuration` has expired.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
* `Kubernetes` 1.10.2 on bare metal
* Use `Kubeadm` to deploy `Kubernetes`

[2018-05-30 03:31] orainxiong commented on #64490
/sig storage

[2018-05-30 04:55] parthakom commented on #19825
I suspect its because of liveliness probe failing, but not sure why it should exit with code 137 which is for OOM.

[2018-05-30 05:16] WanLinghao opened #64492 "kubectl outputs wrong error info when auth fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When get resource with invalid token, the error info kubectl outputs is wrong.
For example:
`kubectl get pod --token=eyJhbGciOiJSUzI1NiIsIm`

Apparently, the token here is invalid. And the kubectl will output error info like
`error: the server doesn't have a resource type "pod"`
It would mislead user.

**How to reproduce

[2018-05-30 05:16] WanLinghao commented on #64492
/sig ctl

[2018-05-30 06:14] adohe commented on #4817
/cc @adohe

[2018-05-30 06:42] sneumann commented on #30645
Another use case is to repair/kick a database, where the DB files on disk are corrupted. Needs to run the DB maintenance tools in the same environment, but without the DB daemon running. Yours, Steffen

[2018-05-30 06:45] CaoShuFeng commented on #53455
Hi.
#64494

[2018-05-30 06:46] shongio commented on #51764
Restart k8s master can solve this problem.

[2018-05-30 07:02] yadavkkumar commented on #63615
@rdzimmer You Need to specify that resource requests and limits in your deployment. In Kubernetes 1.10, the metric server has memory resource metric by default and all other resource type like CPU we need to specify them manually.
I think they have designed in this way only and gave the functionality to the user to specify the amount of CPU resource they require.
You can also go through the [HPA D

[2018-05-30 07:35] shenlanse opened #64496 "[kube-apiserver] when server timeout, client didn't return and tcp connection didn't close"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I use `curl ` to send POST Request to kube-apiserver. I set wrong Content-Length header, which is bigger than real value.

[code]

RESULT:

- client: `curl` didn't return util I `ctrl+c` to cancel it
- server:

[code]

- tcp connection: still established

**What you expected to happen**:

kube-apiserver timeout is 1min.

[2018-05-30 07:37] shenlanse commented on #64496
/sig api-machinery

[2018-05-30 07:39] stefanthorpe opened #64497 "Ingress and Service not working correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
**What happened**:
Ingress backend reporting unhealthy when it's actually healthy. Hence I can't connect to it via the ingress.

I was able to connect to the service via the local busybox.

**What you expected to happen**:
Expected to be able to connect to the backend server via port 80.

**How to reproduce it (as minimally and precisely as p

[2018-05-30 07:47] tangle329 opened #64498 "security.alpha.kubernetes.io/unsafe-sysctls not work for ip_local_reserved_ports whose value is comma-separated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
security.alpha.kubernetes.io/unsafe-sysctls not work for ip_local_reserved_ports whose value is comma-separated.

[code]
**What you expected to happen**:

We should change the code in SysctlsFromPodAnnotation to use a more generic split char.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything e

[2018-05-30 07:48] wojtek-t commented on #64030
There is significant drawback of "restarting etcd" approach. Which is: it's hard to do in managed environments (such as GKE) [though arguably, neither 1 nor 3 may be possible there...]

[2018-05-30 07:52] KashifSaadat commented on #64479
Hi @jhorwit2, thanks for the quick response.

Kube Controller Manager is configured by kops to use the service account credentials, so what you've mentioned is spot on. I'll amend my role bindings accordingly. I'll also look at creating a PR against kops, as it adds some default PSPs with the same behaviour as above (adds the Group `system:serviceaccounts:kube-system` for access to a privileged PS

[2018-05-30 07:52] #64479 closed

[2018-05-30 07:53] nikhita commented on #59826
/remove-lifecycle stale

would be fixed in https://github.com/kubernetes/kubernetes/pull/64201
/assign

[2018-05-30 08:01] wgliang commented on #64498
what is more generic split char,DYT?

[2018-05-30 08:15] BenTheElder commented on #51540
There's now a prototype Prow presubmit on Azure.
https://github.com/kubernetes/test-infra/pull/8024

On Wed, May 30, 2018, 1:09 AM Kubernetes Submit Queue <
notifications@github.com> wrote:

[2018-05-30 08:18] mooperd opened #64500 "kubectl rollout status statefulset -> error: OnDelete updateStrategy does not have a Status`"
BUG REPORT

`kubectl rollout status statefulset` produces a strange error and does not work as expected.

[code]
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
Google Cloud

[2018-05-30 08:21] mooperd commented on #64500
/sig bugs

[2018-05-30 08:21] wojtek-t commented on #58222
I vote for not doing it in 1.11 - this isn't urgent and we don't have full confidence in it.
Instead, we should enable it at the beginning of 1.12 and have it soaked for the whole release cycle.

[2018-05-30 09:16] orainxiong commented on #64490
In the `kubelet` log, I find a key information,
[code]
It looks most likely an authorization issue. To better understanding of the whole process, I spend some time to view kubelet logic.

In order to safely detach volume, A/D controller has to wait for kubelet to finish the operation of `unmount`. In a simplified view, kubelet performs the operation of `unmount` through calling "in-tree" [`csiAtta

[2018-05-30 09:20] joar commented on #27308
@liggitt

I have already noticed that some tools (e.g. `istioctl`) do not accept colon-delimited files in `KUBECONFIG`, so I agree with you that it should be kept as straight-forward as possible:

- If the shell is interactive, helpers such as auto-context-based-pwd may be used.
- If the shell is non-interactive: Use explicit `--context` or `$KUBECONFIG`, or make your own utility function that cal

[2018-05-30 09:36] shubheksha commented on #64500
/sig cli

[2018-05-30 09:36] shubheksha commented on #64497
/sig network

[2018-05-30 09:37] shubheksha commented on #64492
/sig cli

[2018-05-30 09:37] shubheksha commented on #64464
/sig gcp

[2018-05-30 09:38] shubheksha commented on #64435
/sig azure

[2018-05-30 09:38] shubheksha commented on #64455
/sig network

[2018-05-30 09:39] shubheksha commented on #64485
/sig aws
/sig network

[2018-05-30 09:49] philpoore commented on #48180
+1
any news on this.
i'm also looking to have a config map applied to all pods in a cluster.

[2018-05-30 09:50] hzxuzhonghu commented on #64496
cc @liggitt @sttts

[2018-05-30 09:52] ash2k commented on #51457
/remove-lifecycle stale

I'm planing to work on this once I get a bit of free time.

[2018-05-30 10:00] soltysh commented on #61471
@juanvallejo I think we've handled all of the stuff from the list. I've removed generators, since they will be handled in the next release. If you feel like there's something else missing lemme know, I'm closing as is.

[2018-05-30 10:01] xmik commented on #35054
It is documented here: https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-output-verbosity-and-debugging

[2018-05-30 10:01] deitch commented on #48180
I could see a CRD doing this, but you would need to hook into every Pod's creation moment in the lifecycle; not sure how to do that?

[2018-05-30 10:18] discordianfish commented on #30645
Not sure if everyone is aware but you can create a pod manifest with tty and stdin true, then `kubectl apply .. && kubectl attach ..`. That's what I'm doing right now. But nicer tooling would be still great.

[2018-05-30 10:21] argusua opened #64507 "Garbage collector doesn't delete 'exited' containers. As result we get nodes in 'NotReady' status"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
After upgrade to from 1.8 to 1.9, we found that after some time node became NotReady, because of docker service down and kubernetes doesn't try run pods from this node on other nodes (it try just restart them). After some investigation, we found that docker daemon doesn't respond. Also, it has 33212 containers (calculated

[2018-05-30 10:33] xiaoxubeii commented on #64466
@nicksardo Do you know in what scenario will cause two svcs to have the same port?

[2018-05-30 10:34] shyamjvs commented on #62808
So I ran the full suite (load followed by density) against the midpoint of our diff b/w 156 and 157 - and the latency seems fine:

[code]

This probably means one of 2 things:
- I wasn't able to reproduce the issue through my local run
- The midpoint is a good commit

So at this point I'm going to wait and study the 5k cluster currently in our CI run.

[2018-05-30 10:38] dElogics commented on #62061
And same with FC too.

[2018-05-30 10:38] wojtek-t commented on #64030
I think I wasn't clear - I'm not opposed to restarting etcd itself.
I was just trying to say, that in managed solutions (like GKE) you may not be able (have enough permissions) to restart etcd. Which means that you won't be able to run those tests the same way on GKE (and other managed solutions).

[2018-05-30 10:46] shyamjvs commented on #64030
Yeah, that's a good point that this won't work on managed solutions. That said, FMU we have even bigger problem there of even collecting the metrics (as neither can we proxy to the pod because master isn't registered, nor can we SSH to the master) - it's possible that we may not even be able to access those from user space.

[2018-05-30 10:53] wojtek-t commented on #64030
Yes - that's why I wrote " [though arguably, neither 1 nor 3 may be possible there...]" above :)

[2018-05-30 10:53] pmichali commented on #63922
Talked to @squeed and it sounds like the latest CNI bridge plugin should assign a MAC to the bridge, and local testing shows that to be the case. The latest plugin (0.7.1+) should force a MAC, rather than using the dynamic MAC assignment. The plugin will also "adopt" a bridge that was created prior to CNI plugin startup.

However, it doesn't appear that the CNI plugin deals with a corner case of a

[2018-05-30 10:58] argusua commented on #64507
/sig node

[2018-05-30 10:59] argusua commented on #64507
/kind bug

[2018-05-30 11:01] shyamjvs commented on #64030
Well.. then also 2, no? :)

[2018-05-30 11:16] bboreham commented on #45976
@jsravn ok, I refute your assertion "the linked issue is about SNAT specifically".  E.g. this comment is about DNAT: https://github.com/weaveworks/weave/issues/3287#issuecomment-386827674

[2018-05-30 11:43] pkdetlefsen commented on #37518
Multiple TLS certs are now working for me as of k8s ver. 1.10.2-gke.1 in GCP!  It works by adding multiple hosts in the tls section like in my previous example.

[2018-05-30 11:47] bbratchiv commented on #17088
My situation is the following:
Using kops in AWS.
I have staging application deployment which lives in default namespace
 and production deployment which lives in production namespace.
Application consists of two services, one service should be exposed publicly and the other service should be private (i.e. use internal load balancer)
There are 2 nginx ingress deployed, one per namespace. Ingress i

[2018-05-30 11:53] #57719 closed

[2018-05-30 11:58] rtreffer opened #64510 "Kubernetes should support a grace periode for pod termination and SIGTERM/lifecycle"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When a pod is `terminating` and has not lifecycle shutdown hooks `SIGTERM` is send to PID 1. Roughly at the same time others stop sending traffic to the pod.

This can lead to situations where the pod software is already shut down but other entities are still trying to reach the pod.

This behavior leads to errors an

[2018-05-30 12:02] chenqz1987 commented on #64485
@maephisto666 What's your nginx ingress controller version? And do you set different watch-namespace parameter when starting your nginx ingress controller?

[2018-05-30 12:18] deads2k opened #64512 "kubectl wait flags API is inconsistent"
The resource builder flags API for kubectl wait isn't consistent with the others.  It makes expanding the options impractical.

[2018-05-30 12:55] jsravn commented on #45976
Cool, didn't see that. The issue OP and its linked post are about snat specifically. But that comment describes that the same race condition also occurs with DNAT. What a mess the iptables proxy is... I think IPVS proxy also uses iptables for service IPs, so same problem.

[2018-05-30 12:57] soltysh commented on #17130
This won't happen in 1.11 definitely, moving to the next miletone.

[2018-05-30 12:58] soltysh commented on #60712
@juanvallejo we need to verify if the main bits here got in and move the remaining to 1.12

[2018-05-30 13:02] qingsongli1979 commented on #64464
/kind bug
/sig network

[2018-05-30 13:16] fabiand commented on #31173
/remove-lifecycle rotten

[2018-05-30 13:27] squeed commented on #63922
That was a fun problem to debug. Am I correct in recalling that `brctl addbr` created a bridge with a zero-mac, but `ip link add` did not?

[2018-05-30 13:30] k82cn commented on #58222
/milestone 1.12

In last sig-scheduling meeting, we decide to move this to next release.

[2018-05-30 13:32] djsly commented on #40684
/remove-lifecycle rotten

[2018-05-30 13:45] trajakovic commented on #55713
got same problem as @erkules

[code]

tried to drain master node (in setup of 3 nodes), but command keeps hanging.

if it helps, cluster is installed on AWS using kops 1.9.x, 3 masters on separate AZs (m4.large instances)

[code]

[2018-05-30 13:45] argusua commented on #64507
Now looks ok. Added ` --restart no` to hook:
[code]

[2018-05-30 13:58] jsravn commented on #62099
@anuraaga It does (https://github.com/thtanaka/kubernetes/blob/master/docs/design/versioning.md), but unfortunately the policy was ignored in this case.

[2018-05-30 14:06] DamonStamper commented on #59419
My setup:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:55:54Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"cl

[2018-05-30 14:07] liggitt commented on #62099
As noted in https://github.com/kubernetes/kubernetes/issues/62099#issuecomment-378809922, the breaking change was required to close a significant security vulnerability.

[2018-05-30 14:09] dims opened #64514 "kubelet's enable-debugging-handlers command line flag should default to false(?)"
"/run/", "/exec/", "/attach/", "/portForward/", "/containerLogs/", "/runningpods/" etc are installed at:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L306

These are supposed to be used ONLY for debugging, however they are always on by default. Can we please default `enable-debugging-handler` to false, so these are not installed by mistake?

[2018-05-30 14:09] dims commented on #64514
/sig node

[2018-05-30 14:12] #64485 closed

[2018-05-30 14:37] discordianfish commented on #30189
Am I suppose to open a new issue now or what?
I'm so frustrated with this bot by now.. It's a valid issue and there is no fix for it. If it's a 'works as designed', that's fine. But just getting idle-closed is rude.

[2018-05-30 14:48] neolit123 commented on #64510
/sig node

[2018-05-30 15:08] dims commented on #30189
/reopen
/lifecycle frozen

[2018-05-30 15:09] dims commented on #30189
/unassign

[2018-05-30 15:09] dims commented on #30189
should be `open` and `frozen` now @discordianfish

[2018-05-30 15:29] jeffvance commented on #64047
@jarrpa 's comments seem reasonable to me. @msau42 is there a different e2e env we should be using to `dd` larger files? Currently this test requires gci: `SkipUnlessNodeOSDistroIs("gci")`.

[2018-05-30 15:38] nicksardo commented on #64466
https://github.com/kubernetes/kubernetes/issues/63617 at the very least - I wouldn't be surprised if there are other holes.

[2018-05-30 15:40] msau42 commented on #64047
Were you able to find any kubelet logs indicating that we hit memory limits and containers had to be killed?

[2018-05-30 15:42] #56944 closed

[2018-05-30 15:42] #63493 closed

[2018-05-30 15:42] #64401 closed

[2018-05-30 15:42] #64512 closed

[2018-05-30 15:54] AishSundar commented on #64362
/status in-progress

[2018-05-30 15:55] AishSundar commented on #64158
/status in-progress

[2018-05-30 15:58] AishSundar commented on #63024
/status in-progress
@BenTheElder Is this flake related to the quota issue you were tracking for AWS?

[2018-05-30 16:00] msau42 opened #64522 "Add e2es for hostpath type field"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
This feature is lacking coverage, especially for containerized kubelet environments.

[2018-05-30 16:20] shyamjvs commented on #62808
The currently alive cluster has also started seeing this issue a while ago. And the pattern is strikingly similar to earlier runs in that we start seeing these errors ~7h after the kubelet starts. To access e.g of one such faulty node run `gcloud compute --project "kubernetes-scale" ssh --zone "us-east1-a" "gce-scale-cluster-minion-group-4-gd5d"`

cc @yujuhong @wojtek-t (in case you want to join m

[2018-05-30 16:22] lavalamp commented on #64333
I was assuming Istio specifically wanted to use an image that's pre-loaded
on nodes, so as not to increase a pod's startup time unnecessarily. I could
be wrong :)

If they're getting an unexpected default and *that* causes a problem, then
clearly the sidecar injector is very buggy.

On Wed, May 30, 2018 at 5:26 AM David Eads <notifications@github.com> wrote:

[2018-05-30 16:26] discordianfish commented on #30189
Thanks @dims, you are always to quick to alleviate my frustration! <3

[2018-05-30 16:33] bitglue commented on #43916
I'd like to share some observations, though I can't say I have a good solution to offer yet, other than to set a memory limit equal to the memory request for any pod that makes use of the file cache.

Perhaps it's just a matter of documenting the consequences of not having a limit set.

Or perhaps an explicit declaration of cache reservation should exist in the podspec, in lieu of assuming "inacti

[2018-05-30 16:36] AishSundar commented on #64158
As per @liggitt [this CL](https://github.com/kubernetes/kubernetes/pull/61289 ) shows the right method for skipping. @krzyzacy we should probably make the same change for this issue as well.

[2018-05-30 16:39] dashpole commented on #62808
Based on the log @yujuhong showed me, this issue is caused by https://github.com/kubernetes/kubernetes/pull/60531/commits/39d9fa60e85ee606e276d6f4506b791fe71768bf.  Ill look into this.

Since this is feature-gated, we could disable the feature gate for scale testing until I figure out how to fix it.

[2018-05-30 16:49] shyamjvs commented on #62808
Hmm.. That was merged on March 20 (and we seem to start seeing this issue recently). Could you point to what change introduced this @dashpole ?

[2018-05-30 16:56] dashpole commented on #62808
That initial PR didn't actually create the thresholds because of a bug.  That was fixed in https://github.com/kubernetes/kubernetes/pull/63220, which is probably when you started seeing the issue.

[2018-05-30 16:57] shyamjvs commented on #62808
Ok, so I looked at past runs' kubelet logs and it seems like this regression was introduced exactly between runs 154 and 155. So it must be likely this one - https://github.com/kubernetes/kubernetes/pull/63220

[2018-05-30 16:57] shyamjvs commented on #62808
Sorry.. there was a race among our comments.

[2018-05-30 17:03] shyamjvs opened #64523 "Node soak tests should catch node daemon crashes"
Yes.. It took me a while to "soak" that :p

An e.g of a serious bug we failed to catch because of that is https://github.com/kubernetes/kubernetes/issues/62808#issuecomment-392869993

cc @kubernetes/sig-node-bugs @yujuhong @dashpole

[2018-05-30 17:04] shyamjvs commented on #64523
/assign @yujuhong
(hoping you'd triage)

[2018-05-30 17:11] shyamjvs commented on #62808
I filed https://github.com/kubernetes/kubernetes/issues/64523 for the bigger lesson learnt from this regression.
And wrt fixing the issue, @dashpole could you clarify what should be the course of action here?

I would strongly prefer to not just put a bandaid for our scale tests, as this issue would still remain in prod IIRC (and that's a bigger problem).

[2018-05-30 17:12] krzyzacy commented on #64158
/assign

[2018-05-30 17:15] DirectXMan12 commented on #54084
We need an easy-to-consume way to do this for ancillary repos as well.

[2018-05-30 17:16] dashpole commented on #62808
It is not enabled in GKE prod.  I plan to enable it soon, which is why it may be permissible to turn off, in-case there are other scale issues (as sometimes happens close to releases) we need to investigate.  But if you are willing to wait for my fix, that works too.

[2018-05-30 17:18] jiayingz commented on #64003
/assign @figo

[2018-05-30 17:18] jeffvance commented on #64047
In kubelet log file _https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/17143/artifacts/bootstrap-e2e-minion-group-x0q9/kubelet.log_ I see exitcode 137 for nfs-io-client.

[2018-05-30 17:24] shyamjvs commented on #62808
I'm fine with disabling the feature in our scale tests to catch other issues. However, the more concerning part for me is to avoid having this bug in our 1.11 release (which IIUC seems to be the case currently).

Yes, but we're running our scale tests from whatever are the GCE defaults at head (i.e cluster/gce/config-default.sh) which is ~ our OSS prod :)

[2018-05-30 17:27] AishSundar commented on #63024
This is still one of the top flakes in Presubmits affecting 93 PRs in the last week alone. http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

Is there a active ongoing investigation for this?

[2018-05-30 17:43] AishSundar commented on #63941
This issue still repros, but is not one of the top flakes. However I see another Garbage collector test flaky in presubmits which filtered in top 3 flakes this week (33 failures in last week)

[[sig-api-machinery] Garbage collector should not be blocked by dependency circle [Conformance]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64494/pull-kubernetes-e2e-gce/38538/#

[2018-05-30 17:44] AishSundar commented on #63941
This is also a conformance test thats flaky. So its even more critical

[2018-05-30 17:46] valdemarpavesi commented on #64002
Hello @jpbetz

it was typo , I did the correct curl with POST.  but , same result.

I could not wait any longer.  I did new cluster installation.

regards!
Valdemar

[2018-05-30 17:46] #64002 closed

[2018-05-30 17:47] valdemarpavesi commented on #64002
I will re-open if get it again.

[2018-05-30 17:52] AishSundar commented on #63622
/reopen

The test is failing for the same error again in the following jobs

* [sig-api-machinery#gce](https://k8s-testgrid.appspot.com/sig-api-machinery#gce)
* [pull-kubernetes-e2e-gce](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&show-stale-tests=&include-filter-by-regex=Aggregator%20Should%20be%20able%20to%20support%20the%201.7%20Sample%20API%20Server%

[2018-05-30 17:53] AishSundar commented on #63622
@liggitt can you please take a look and triage? Thanks

[2018-05-30 17:59] #47243 closed

[2018-05-30 18:00] krishtk commented on #62156
I am getting the same issue on my aws setup while on my local mac it works fine. I use the same scripts and images on both these setups.

AWS kubernetes version:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:22:21Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/am

[2018-05-30 18:14] roycaihw commented on #63941
Most of the test failures that involve multiple GC e2e tests are caused by resync race condition which makes GC hang. Ongoing PRs that fix this issue: https://github.com/kubernetes/kubernetes/pull/61057 and https://github.com/kubernetes/kubernetes/pull/64235

[2018-05-30 18:17] roycaihw commented on #63941
We also have some single `[sig-api-machinery] Garbage collector should not be blocked by dependency circle [Conformance]` test failures that are not related to resync:

Case 1 https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61963/pull-kubernetes-e2e-gce/37676/#sig-api-machinery-garbage-collector-should-not-be-blocked-by-dependency-circle-conformance
https://k8s-gubernator.

[2018-05-30 18:27] chrishiestand commented on #63729
Could this be accomplishd using the ipvs "shortest expected delay" algorithm?

[2018-05-30 18:34] chrishiestand commented on #44063
With this issue closed as stale, is there a better issue to follow progress of adding ipvs scheduling algorithms to individual kubernetes services? I couldn't find another issue that explicitly covers this part of the ipvs roadmap.

[2018-05-30 18:36] dchen1107 commented on #40908
/remove-lifecycle stale

This is a valid feature request.

[2018-05-30 18:41] shyamjvs commented on #62808
Let's mark this issue as a release-blocker until we have the fix in.

[2018-05-30 18:44] shyamjvs commented on #62808
/status approved-for-milestone

[2018-05-30 19:33] wojtek-t commented on #62808
@dashpole @yujuhong - thanks a lot for helping debugging this.

@dashpole  - do you have a strategy to fix it on your mind? How long you expect it will take you?
If it's going to happen this week, we should wait it, otherwise, we should probably temporary disable feature gate until this is fixed.

[2018-05-30 19:52] soltysh commented on #64362
I'll monitor the test-grid now that https://github.com/kubernetes/kubernetes/pull/64439 merged.

[2018-05-30 19:59] karthikvadla commented on #60295
any update on this?

[2018-05-30 20:18] RRAlex commented on #51014
/remove-lifecycle stale

[2018-05-30 20:34] dashpole commented on #62808
Are you sure?  The default for the feature gate is false, and it is only set to true in [cluster/gce/config-test.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L195)

[2018-05-30 20:43] wojtek-t commented on #62808
We are using the same as all other tests, which is config-test.sh - you're right.

It would be great if you would provide a daily update on that.

[2018-05-30 20:49] ericchiang commented on #63682
Maybe modify the authenticator to accept percent encoded headers?

[code]

[2018-05-30 21:18] resouer commented on #64413
Also cc @mtaufen should be interested in this issue.

[2018-05-30 21:20] d3matt commented on #64120
Can confirm this bug is present on 1.10.3... Was going to submit a ticket myself buy found this one first...

[2018-05-30 21:29] mtaufen commented on #64413
Agree the status should be backwards-compatible with existing consumers no matter which runtime is used.

[2018-05-30 21:41] derekwaynecarr commented on #64514
`/runningpods` is used for debugging and should only be used for testing, but the others are core function.

[2018-05-30 21:42] shyamjvs commented on #62808
Thanks @dashpole for the lead. And sorry for not noticing that featuregate difference across config-default and config-test.

That said, I believe we probably should make sure

[2018-05-30 21:42] dchen1107 commented on #64413
I am also wondering why the sizes of the same image are different here:

cri-containerd (and maybe the same for other CRI shims):
[code]
Docker:
[code]

[2018-05-30 21:42] shyamjvs commented on #62808
Sorry, wrongly closed it.

[2018-05-30 21:52] vasartori commented on #64120
Same issue here, the behavior on 1.10 is not equals on 1.9

[2018-05-30 21:57] dims commented on #64514
@derekwaynecarr is there a need to switch off those core functions? ( looks like at least one use case is to switch off these in a master - https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L714 )

[2018-05-30 21:59] Random-Liu commented on #64413
It depends on whether we are ok with treating `docker.io/library` as default in Kubernetes.
* If yes, we can normalize the image name in Kubelet, and get rid of the prefix.
* If not, we can normalize the image name in Kubelet to ensure the prefix.

I'm fine with either, but leaning to not treating `docker.io/library` as default. No matter which one we choose, we should do the same thing in both sc

[2018-05-30 22:05] ostrain commented on #23731
I think I just hit this same bug. I found this issue via google. For what it's worth the link above to the contrib bug is incorrect; the actual link is: https://github.com/kubernetes/contrib/issues/690

[2018-05-30 22:07] danvk opened #64529 "Feature request: support annotation columns in "kubectl get""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

There's an (extremely helpful) option to add a column based on a particular label to the outpout of `kubectl get`:

[code]

It'd be great if there were a similar option for annotations (`-A` / `--annotation-columns`?)

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: GKE
-

[2018-05-30 22:08] dashpole opened #64530 "minimumGracePeriodInSeconds from eviction config can increase the grace period"
/kind bug
/sig node
cc @mtaufen

We use the gracePeriodOverride from the eviction manager (which is set to m.config.MaxPodGracePeriodSeconds for soft evictions) as the gracePeriodOverride that we pass to `killPod()`
This is consumed here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L568
Where it overrides whatever the pod's DeletionGracePer

[2018-05-30 22:15] mtaufen commented on #64413
I agree with this, prefer to be explicit in all cases.

[2018-05-30 22:18] msau42 commented on #64120
This issue exists on 1.10.3, 1.9.8, 1.8.13.  Fix is being worked on

[2018-05-30 22:28] yastij commented on #64387
cc @timothysc - errors only while trying to exec on privileged containers (for example containers using host network).

[2018-05-30 22:29] k82cn commented on #58222
/milestone clear

[2018-05-30 22:34] jsturtevant opened #64531 "Port Forward fails on windows pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Ran `kubectl port-forward win-pod-id :80` on windows pod and received the error message:

[code]
**What you expected to happen**:
The port be available on my localhost

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
socat is not available on windows nodes

**E

[2018-05-30 22:40] misterikkit opened #64533 "kubelet should not import schedulercache"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup

pkg/kubelet uses the `NodeInfo` and `Resource` types defined in the scheduler cache implementation. From my read of the code, this is only used for tracking allocatable resources, but NodeInfo has a bunch of other state and functionality that is not needed.

If possible, I would like to remove this dependency.

If we decide that kubelet

[2018-05-30 22:43] xiang90 commented on #47532
@jpbetz @wojtek-t

We are going to create a proposal for this issue, and try to get it fixed.

/cc @jian-he @ccding

[2018-05-30 22:58] misterikkit commented on #64533
I just noticed that kubelet also depends on `"k8s.io/kubernetes/pkg/scheduler/algorithm/predicates".NodeInfo` which is a single method interface.

[2018-05-30 23:03] caesarxuchao opened #64536 "Garbage collector should export number of patch conflicts via metrics"
Garbage collector updates or patches objects to remove ownerReferences, to reset ownerReference.blocking, and to remove finalizers etc. It's useful to have a metric showing how many times these operations fail due to conflicts, especially the garbage collector now uses JSON Merge Patch in #63386, which increases the chances of conflicts.

Side note: Thanks to the workqueue's [retry metric](https:/

[2018-05-30 23:09] #48677 closed

[2018-05-30 23:34] hongchaodeng commented on #47532
/remove-lifecycle stale

[2018-05-30 23:58] jsturtevant commented on #64531
/sig windows

[2018-05-31 00:18] resouer commented on #64413
@Random-Liu The `ImageLocalityPriority` will prefer node with image already exists if that image size large enough.

So it should be the `compressed content size` as containerd reports. We need to fix it somehow.

I agree not treat `docker.io/library` as default in Kubernetes, so if you read #64487, I proposed using full qualified name for both scheduler and node status.

[2018-05-31 00:34] #61421 closed

[2018-05-31 00:34] #64301 closed

[2018-05-31 00:44] yujuhong commented on #64413
Does ImageLocalityPriority use an absolute threshold for size? If not, whether the size refers to compressed or uncompressed should not matter much, should it?

+1 for not treating `docker.io/library` as default in kubernetes. However, users often don't specify the full registry name in the pod spec. As a result of that, the scheduler would have a hard time matching `nginx:1.7.9` in the pod spec t

[2018-05-31 01:33] resouer commented on #64413
@yujuhong Yes, the scheduler side PR is #63842, it always converts user's image spec to full name before matching and I will let that change in first.

`ImageLocalityPriority` do have a threshold like this to calculate score:
[code]
That's why I am a bit concerned here.

[2018-05-31 01:38] fabiand commented on #38606
/reopen

[2018-05-31 01:38] fabiand commented on #38606
/remove-lifecycle rotten

[2018-05-31 01:49] #64402 closed

[2018-05-31 01:57] 372046933 commented on #61381
What's the default value of --secure-port?

[2018-05-31 02:05] hzxuzhonghu commented on #61381
@372046933  0, which means not startup secure serving.

[2018-05-31 02:28] Random-Liu commented on #64413
Hm, a bit too tired today, I don't remember what I meant here...... :P

What I want to say is that:
* If yes, we can normalize the image name in both scheduler and kubelet, and make sure they see the same image name.
* If not, we can enforce container runtime to return normalized image name.

Yeah, if so, we may need container runtime to either return all possible image names...